[2018-11-29 18:40] CelesteDG commented on #16588
Update that includes a link to the mentioned admin roles topic (above reply) are now live. This admin roles topic is also linked from the "Permissions and consent" topics (under v1.0 and v2.0), which also mention admin consent to delegated permissions. #please-close

[2018-11-29 18:41] maximuslee1226 commented on #19688
I tried it and it's giving me error displaying widget. the below is the code that I executed.

from azureml.train.widgets import RunDetails
RunDetails(local_run).show()

Error displaying widget

Thanks,

[2018-11-29 18:42] CelesteDG commented on #19159
Addressed another verbatim feedback and also added several more descriptions to the AADSTS error codes based on more info that was found. Updated content is now live including fix for this issue. #please-close

[2018-11-29 18:47] Adam-Smith-MSFT commented on #19702
@abhinav-jain09 Could you please open an issue in docker's feedback: https://github.com/docker/hub-feedback/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-desc
This document is not related to your issue on docker, thus the suggested medium would be best to help resolve your issue. I'd also recommend posting on either StackOVerflow or MSDN for a broader audience. cl_

[2018-11-29 18:47] #19702 closed

[2018-11-29 18:49] curtand commented on #19103
Hi @ravikiran-srini
I'm filling in for Jim Dial who's out of the office for a while. I'll get this sorted and ensure an update if appropriate. Thanks!

@TravisCragg-MSFT

[2018-11-29 18:51] curtand commented on #19326
Hi @cdwchriburg
I'm filling in for Jim Dial (the author) while he's out of the office for a while. I'll bring this to the PM and determine a solution. Thanks!

@TravisCragg-MSFT

[2018-11-29 18:51] Karishma-Tiwari-MSFT commented on #19457
@kaywilliams We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-29 18:51] #19457 closed

[2018-11-29 18:54] JasonWHowell commented on #19555
@raghavdotc Are the examples on the Phoenix doc page under the **Connection** heading helpful?
http://phoenix.apache.org/

Thanks, Jason

[2018-11-29 18:57] AjayKumar-MSFT commented on #19617
@KeiroKamioka0000 ,Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-29 18:57] #19617 closed

[2018-11-29 18:59] tamram commented on #19455
@ddobric - Thank you for your feedback. We are actively working on this and will have a solution in the next few weeks. I'll update this thread when it's available.

[2018-11-29 19:02] mike-urnun-msft commented on #19715
Hello @jeffmarino Thank you for your feedback! With the advent of Functions 2.0, and containerized variants of Functions, the technology in Functions Runtime has been superseded. Please review comment from our product team: https://github.com/MicrosoftDocs/azure-docs/issues/15820#issuecomment-427089585

[2018-11-29 19:11] rwike77 commented on #11706
I'm actually going to remove this article.  The point is to quickly deploy a 3-node cluster from the command line, but that is no longer possible with out downloading and modifying the template.  #please-close

[2018-11-29 19:15] mike-urnun-msft commented on #19713
Hello @paulparisien - Thank you for your feedback!

"Browse to your API Management instance." step just means to browse in Azure Portal to your APIM instance as shown below:
![image](https://user-images.githubusercontent.com/36717703/49245709-07858600-f3c8-11e8-98a2-89b5a0e49be2.png)

[2018-11-29 19:20] Adam-Smith-MSFT commented on #19720
@queryquandary Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. I couldn't find any specific deep dive docs regarding this topic. We'll check if we can improve the docs regarding this.

[2018-11-29 19:33] MicrosoftGuyJFlo commented on #19313
Pinged PG for update

[2018-11-29 19:34] #19713 closed

[2018-11-29 19:35] Sean-GGS opened #19721 "Workaround for TXT records not being recognized"
In order to get preemptive binding to work (AWS being DNS system used to manage entries), I could not use TXT records for CNAMEs (or at least was unsuccessful in getting them to work no matter the combination or permutation of name/values I tried).  The verify process always listed the domain as not being owned.

To bind CNAME records I had to temporarily add a CNAME with name = awverify.&lt;FULL

[2018-11-29 19:39] MarileeTurscak-MSFT commented on #19717
@myusrn
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-29 19:49] morgangrobin opened #19722 "Performance tests information out of date"
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-web-app-availability#performance-tests

The UX has changed - there is no "settings" on the overview blade any longer. Also, I believe the naming has changed, this is now the profiler, not performance testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-11-29 19:54] mapoitras opened #19724 "DNS Zone not created."
While following the steps above, I believe there is a problem where the DNS zone is not created.

Here are the versions I'm using
C:\Users\mapoitra\OneDrive - Microsoft\Documents\Conferences&gt;az --version
azure-cli (2.0.51)

acr (2.1.9)
acs (2.3.11)
advisor (2.0.0)
ams (0.3.0)
appservice (0.2.7)
backup (1.2.1)
batch (3.4.1)
batchai (0.4.4)
billing (0.2.0)
botservice (0.1.1)
cdn (0.2.0)
cloud (2.

[2018-11-29 19:56] Grace-MacJones-MSFT commented on #19532
Hi @DavB-cs , your inbound IP address is the same as your virtual IP address. Sorry for the confusion in the terminology. What you need to do is check to make sure that your DNS A record matches the virtual IP address for your sites. If they doesn't match, please follow the steps in this [documentation](https://docs.microsoft.com/en-us/azure/app-service/ip-address-change-inbound).  When you get to

[2018-11-29 20:06] mamccrea commented on #19253
Hi @mcurko - the product team is currently working on a fix and users will need to work with version 1 until the fix is deployed. I will ensure the documentation is up-to-date with any changes.

#please-close

[2018-11-29 20:07] #19253 closed

[2018-11-29 20:08] #11706 closed

[2018-11-29 20:10] MicahMcKittrick-MSFT commented on #19111
@yusufkhatri any update on this?

[2018-11-29 20:11] MicahMcKittrick-MSFT commented on #19331
@aljo-microsoft  ping :)

[2018-11-29 20:11] MicahMcKittrick-MSFT commented on #19384
@alex-frankel could you possibly comment further?

[2018-11-29 20:12] MicahMcKittrick-MSFT commented on #19540
@fleed any update on this?

[2018-11-29 20:13] MicahMcKittrick-MSFT commented on #19623
@rajsqr could you comment on when Windows 2019 will be supported? I know we just recently rolled these images out to the marketplace

[2018-11-29 20:14] MicahMcKittrick-MSFT commented on #19673
@rwike77 could you comment further on this?

CC @aljo-microsoft

[2018-11-29 20:18] MarileeTurscak-MSFT commented on #19691
Ensure first that you have allowed users to request membership. The setting is in a different spot from the one mentioned in the document. See below:
![self-service group management](https://user-images.githubusercontent.com/13383753/49249180-6ea73880-f3d0-11e8-8a8b-13970c9a94a9.JPG)
(@curtand can you look into this?)

Then, when the user receives the invitation and goes to account.activedirectory

[2018-11-29 20:21] priyamohanram commented on #17874
@ajaypamarthy : My apologies for the delay, I heard back from the product team and unfortunately, we don't have an ARM template for this feature available yet. I will update the documentation with it as soon as it becomes available. Thank you for your patience, and please feel free to open a new GitHub issue if you have any further questions! #please-close

[2018-11-29 20:22] priyamohanram commented on #18071
@ajaypamarthy : My apologies for the delay, I heard back from the product team and unfortunately, we don't have an ARM template for this feature available yet. I will update the documentation with it as soon as it becomes available. Thank you for your patience, and please feel free to open a new GitHub issue if you have any further questions! #please-close

[2018-11-29 20:22] priyamohanram commented on #17873
@ajaypamarthy : My apologies for the delay, I heard back from the product team and unfortunately, we don't have an ARM template for this feature available yet. I will update the documentation with it as soon as it becomes available. Thank you for your patience, and please feel free to open a new GitHub issue if you have any further questions! #please-close

[2018-11-29 20:31] linusjody commented on #14425
We have used CNAME records resolving to the Azure assigned endpoint names, e.g. proxy.azure-api.net, which allows us to have a custom domain for both the proxy and portal A records. The static IP option only allows for proxy access as far as I can tell.

[2018-11-29 20:38] MarileeTurscak-MSFT commented on #19696
@ddobric
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-29 20:39] #18071 closed

[2018-11-29 20:40] #13282 closed

[2018-11-29 20:40] #15481 closed

[2018-11-29 20:40] #16588 closed

[2018-11-29 20:40] #18751 closed

[2018-11-29 20:41] #18892 closed

[2018-11-29 20:41] #19159 closed

[2018-11-29 20:41] georgewallace commented on #19625
@imeya Keys is not working as Azure Automation treats objects coming in as objects.. You can test this by adding `Write-Output $FullName.gettype().Tostring()` to your runbook. You will see that it shows as  a `System.Management.Automation.PSCustomObject`.  Would this be beneficial to add to the section in this doc? If you feel so I can add it as a part of the note.

[2018-11-29 20:41] #19312 closed

[2018-11-29 20:41] #19340 closed

[2018-11-29 20:41] #19472 closed

[2018-11-29 20:41] #19637 closed

[2018-11-29 20:42] #19658 closed

[2018-11-29 20:43] #17874 closed

[2018-11-29 20:44] georgewallace commented on #19360
@paulmackinnon-adv365 There are many restrictions to CSP accounts, but I know this was tested to work with CSP accounts.. We make a note though that parts of it will fail for classic resources as they are not supported. Does this work with other resource groups.

[2018-11-29 20:46] queryquandary commented on #19720
I should have included CloudQueue in the original list.  Is it recommended to create a shared static CloudQueue object and permit its AddMessageAsync method to be invoked from multiple threads without explicitly managing concurrency?

[2018-11-29 20:50] MicahMcKittrick-MSFT commented on #19706
@mcollier did you manually create a service principal or allow Azure to do it for you?

If you allow Azure to automatically create one for you such as using the following:

az aks create --name myAKSCluster --resource-group myResourceGroup --generate-ssh-keys

A service principal will be created and the name of the cluster will be used

![image](https://user-images.githubusercontent.com/32313503/4

[2018-11-29 20:58] MicahMcKittrick-MSFT commented on #19623
@northtyphoon we worked offline and currently Windows Server 2019 is not yet supported for Automatic OS upgrades. That being said, we are working to enable them as we speak. The goal is to have it supported by Q1 2019. Once it is supported, we will be sure to update the doc accordingly.

Let me know if you have any additional questions.

[2018-11-29 20:58] #19623 closed

[2018-11-29 20:58] Ayanmullick commented on #17707
I was  trying by name and not by alias :)

[2018-11-29 21:23] IAmSequestered opened #19728 "Face .NET SDK no longer supports Microsoft.Azure.CognitiveServices.Vision.Face;"
I added the referenced SDK using NuGet and added the using references per the Quick Start. It appears the Face API is no longer supported under the Vision API. I've been unable to locate a replacement using available documentation.

The error message is: "The type or namespace 'Face' does not exist in the namespace 'Microsoft.Azure.CognitiveServices.Vision'

---
#### Document Details

⚠ *Do not ed

[2018-11-29 21:29] LizMS commented on #19144
Hello,

'Source' field isn't necessary because Policy always evaluate on /write operation.
The behavior is identical to using 'type' equals 'Microsoft.Storage/storageAccounts'.

Thanks,
Liz

[2018-11-29 21:34] MicahMcKittrick-MSFT commented on #19716
@vanishajain23 I am getting the same error. The downloadable template we are directing you to is quite a few years old. So it is likely some aspects used to deploy this have changed and thus are breaking the build.

@jpconnock assigning to you as you are listed as the author of this one. We might consider updating or removing this tutorial.

@tdykstra it looks like the Simple Azure Cloud Service w

[2018-11-29 21:53] DCtheGeek commented on #19468
@mgreenegit Thank you for the feedback! We reviewed the request and the team feels that the existing documents that cover permissions for policy covers this ask already and adding it here would duplicate that content and lead to replication of that content in many other places, which we'd like to avoid for consistency.  Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-11-29 21:54] #19468 closed

[2018-11-29 21:55] MicahMcKittrick-MSFT commented on #19724
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-29 22:00] bandersmsft commented on #18997
@JamesLee-MSFT Clarified the permissions a bit and added a link with more info about permissions.
#please-close

[2018-11-29 22:04] DCtheGeek commented on #19144
@anwather Thanks for the question and the feedback!  Please let us know if you have other questions or issues with the Policy docs. If you have suggestions or requests for the service, please see the [Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance).  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-11-29 22:07] mateocox opened #19731 "Mapping Questions"
Hi, we use the provisioning quite a bit with Samanage. We are having trouble with Samanage Users being created with a Service Agent User Role by default when almost all Users should be Requesters. Is there any extra clarification around User and Group Mapping that can be added?

When we click on an Attribute to Edit, the Mapping Type isn't as easy to understand. When should we use Direct, Expressi

[2018-11-29 22:12] bwren commented on #18994
Engineering team confirmed you should not remove the default permissions when creating the application.

[2018-11-29 22:14] jeevansd commented on #19731
@mateocox There are 2 parts of your question. I will answer one by one. For the first question of setting the default role, customer can assign the correct role to correct group and that way we know which user has which role. So this happens when the admin assign the application to users and groups.

For the second question, this document explain the use cases https://docs.microsoft.com/en-us/azur

[2018-11-29 22:14] jeevansd commented on #19731
#please-close

[2018-11-29 22:50] mrbullwinkle commented on #19722
@lgayhardt is currently in the process of updating this doc. I believe her update covers all the screenshot updates you mentioned , but adding her just in case.

[2018-11-29 22:52] georgewallace commented on #19167
@nkbpc Great to hear you got it resolved. Don't hesitate to reach out with any other questions @MicrosoftDocs/azure-cxp-triage #please-close

[2018-11-29 22:53] carteixeira opened #19733 "Incorrect documentation - Create ExpressRoute Gateway (classic)"
**Configure a virtual network gateway for ExpressRoute using PowerShell (classic)**
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-add-gateway-classic

**Scenario #1:**
- Classic VNET without a Gateway
- When I try to create a new Gateway following the documentation, I get this error:
New-AzureVNetGateway : BadRequest: The specified virtual network name 'test456' is not val

[2018-11-29 22:56] #19731 closed

[2018-11-29 23:01] MarileeTurscak-MSFT commented on #19691
@amirgra the user has to first check the link from his email to get to that page, after the admin has enabled users to request to join groups.

[2018-11-29 23:05] al3x78-777 opened #19735 "Illegal Instruction"

[2018-11-29 23:12] AndyWu7623 opened #19736 "commands adjustment"
Hello Team,
On the section "Get a token using Azure PowerShell"
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-azure-powershell

The command "$response = Invoke-WebRequest -Uri http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fmanagement.azure.com%2F `

[2018-11-29 23:13] #19167 closed

[2018-11-29 23:17] MarileeTurscak-MSFT commented on #19485
Hi @FreedCapybara , can you please paste this same exact question and open it in the key vault forum on MSDN? https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureKeyVault

Since this is more of a troubleshooting question we can continue the discussion there. I monitor the forum every day and will ensure that we help you find an answer. If we find that the sample or document is fau

[2018-11-29 23:18] MarileeTurscak-MSFT commented on #19485
I am closing out this thread so we can continue the discussion on MSDN. Please feel free to tag me in the comments once you have added it.

[2018-11-29 23:18] #19485 closed

[2018-11-29 23:21] wenwu449 commented on #17136
Thank you @clangnerakq for letting us know the issue is resolved. The fix for the bug was deployed in all Azure regions early this week.
Thank you again for helping to verify.

[2018-11-29 23:25] morgangrobin commented on #19722
Ok great, thanks!

[2018-11-29 23:30] rajrao opened #19737 "Duplicate Detection when using SessionId"
When the SessionId is specified, then, based on my testing, the SessionId + MessageId are being used for duplicate detection. This seems like an important information that should be incorporated into this documentation. It should be incorporated somewhere close to the para starting with "Enabling duplicate detection helps keep track of the application-controlled......."

---
#### Document Details

[2018-11-29 23:35] FreedCapybara commented on #19485
Thanks @MarileeTurscak-MSFT, will do!

I think I'm probably just missing something, but I also haven't tried the steps using the Azure CLI. Whatever it is, I'm looking forward to getting this working 👍

[2018-11-29 23:36] kobulloc-MSFT commented on #19722
@morgangrobin !

[2018-11-29 23:37] #19144 closed

[2018-11-29 23:41] #15268 closed

[2018-11-29 23:44] sethmanheim commented on #15570
@sergaz-msft You are correct and I have changed the sentences to read:

"The module uses the **New-AzureRmPolicyDefinition** cmdlet to create an Azure policy, which limits the resource types and services available in a subscription. You then create a policy assignment within the appropriate scope by using the **New-AzureRmPolicyAssignment** cmdlet."

[2018-11-29 23:49] sethmanheim commented on #15570
PR filed to fix this in https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-policy-module. #please-close this issue.

[2018-11-29 23:49] FreedCapybara commented on #19485
Here's the thread: https://social.msdn.microsoft.com/Forums/azure/en-US/47b7bd3e-52b6-4edb-b08d-13b3e81d6af3/azure-key-vault-http-error-5025-process-failure?forum=AzureKeyVault

[2018-11-29 23:53] sethmanheim commented on #17817
Hi @tomaszbiegacz and thanks for the feedback. I am not sure what specific issue you are reporting with the documentation. If you're trying to use the most up-to-date API versions, **Latest** is the profile you should use. It's pointed out that yyyy-mm-dd-profile won't work against Azure Stack.

[2018-11-29 23:54] ams0 opened #19738 "Please highlight the fact that no record can be seen via CLI, Powershell or Portal"
This crucial piece of information should have an highlighted box on his own! I was looking everywhere and thought my private DNS zone didn't work until i carefully read the article in its entirety; please make a "Note" box specifying that no record will be shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d766d17-

[2018-11-29 23:57] sethmanheim commented on #18252
Hi @cenkersoy and thank you for the feedback. This paragraph specifically talks about Azure Stack portal features. You can find out more details in the App Service on Azure Stack release notes here: https://docs.microsoft.com/azure/azure-stack/azure-stack-app-service-release-notes-update-four.

[2018-11-29 23:57] sethmanheim commented on #18252
Please let us know if that helps; in the meantime we will close this issue. #please-close

[2018-11-29 23:58] TravisCragg-MSFT commented on #19733
@carteixeira The error you describe in Scenario #1 states that it was unable to find a VNET in your subscription with the given name.

This is usually due to a classic VNET not existing in your subscription with the name 'test456', or you are in the wrong subscription in Azure PowerShell. Make sure you are using Azure Classic Powershell and have selected your subscription using Select-AzureSubscri

[2018-11-29 23:58] TravisCragg-MSFT commented on #18252
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-29 23:58] #18252 closed

[2018-11-30 00:01] sethmanheim commented on #18409
@jgallucci32 Thank you for the feedback. This issue was fixed in the 1809 update and is listed in the "Fixed issues" section of [those release notes](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-update-1809). Please let us know if you have further questions, otherwise we will close this issue. #please-close

[2018-11-30 00:02] TravisCragg-MSFT commented on #19712
@runes83 if you would like us to add buypass to the list of approved SSL vendors, you can [add your request Here](https://github.com/MicrosoftDocs/azure-docs/issues/19712#issuecomment-442938902).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:02] #19712 closed

[2018-11-30 00:03] TravisCragg-MSFT commented on #18409
@jgallucci32 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:06] tdykstra commented on #19716
@MicahMcKittrick-MSFT I can delete the Code Gallery sample, but the docs.ms.com article should be deleted first, and I no longer own that. Someone from the Cloud Service team should delete or update the docs article. If they update it, they'll need to find a new home for the code.  Either way, when the article is deleted or updated, I'll delete the sample on Code Gallery since it's tied to my acco

[2018-11-30 00:08] sethmanheim commented on #11561
@Mike-Ubezzi-MSFT Can you please reassign this issue to spelluru? It looks like he is handling this.

[2018-11-30 00:15] bwren commented on #19519
@mrbullwinkle may know something here.

[2018-11-30 00:15] Grace-MacJones-MSFT commented on #19240
Hi @liamfoneill, thanks for your patience. It is recommended to plan scaling by enabling autoscale for your apps.  Autoscaling optimizes your resource utilization by automatically growing and shrinking an App Service environment to fit your budget and or load profile.

Your feedback on Front-end scaling has been shared with the content owner for further review.

[2018-11-30 00:16] bwren commented on #17041
#please-close

[2018-11-30 00:20] MarileeTurscak-MSFT commented on #19735
@al3x78-777 I am closing this out as this is not actionable and has no document link.

[2018-11-30 00:20] #19735 closed

[2018-11-30 00:22] wesmc7777 commented on #15342
#please-close I am unable to reproduce this

[2018-11-30 00:23] Alberto-Vega-MSFT commented on #19728
@IAmSequestered Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 00:25] #17041 closed

[2018-11-30 00:29] Alberto-Vega-MSFT commented on #19603
@jedes We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:29] #19603 closed

[2018-11-30 00:32] evan-morris opened #19739 "instructions to uninstall Docker ?"
Since this is Preview, it is likely we'd need the 'how to' instructions to uninstall Docker containers & start over. I am at that point since I have received new containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fb91f8-c4c9-c18c-0547-e6c9822a836f
* Version Independent ID: dd7c9e62-a637-91ae-ec26-d3ea5e4879e9

[2018-11-30 00:33] MohitGargMSFT commented on #19736
@AndyWu7623 Thanks for your feedback! We will investigate and update soon on it.

[2018-11-30 00:33] PatrickFarley commented on #19676
Thank you for your feedback and the alert about code snippets that may be broken. I've created a work item to look into this.

#please-close

[2018-11-30 00:35] davidahoward opened #19740 "Ubuntu netplan instructions"
Azure IPv6 Ubuntu uses netplan now, please update the instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee92b042-5146-ae63-2c57-13e42e00085b
* Version Independent ID: bac23f26-434a-3283-a625-d6938ad4c730
* Content: [Configure DHCPv6 for Linux VMs](https://docs.microsoft.com/en-us/azure/load-balancer/load-bala

[2018-11-30 00:39] MohitGargMSFT commented on #19634
@yushunyu I will move ahead and close this issue now. Please open a new issue on the document on which the feedback is provided and we will gladly continue the discussion. Thanks.

[2018-11-30 00:39] #19634 closed

[2018-11-30 00:43] #15570 closed

[2018-11-30 00:43] #17873 closed

[2018-11-30 00:44] MohitGargMSFT commented on #19635
@prtdomingo Please note that the GitHub issue on which you are requesting assistance is related to Azure Document Feedback. Every Azure document have Document Feedback option and that open this GitHub issue. If you could help with the document you were referring on which the query is related to we will be able to help you here.

In case you query is not related to any document please open a new MS

[2018-11-30 00:46] TravisCragg-MSFT commented on #19546
@v-maroge We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:46] #19546 closed

[2018-11-30 00:46] #18997 closed

[2018-11-30 00:46] #19109 closed

[2018-11-30 00:47] MohitGargMSFT commented on #19665
@mj-dd I will move ahead and close this issue now. Please open a new issue on the document on which the feedback is provided and we will gladly continue the discussion. Thanks.

[2018-11-30 00:47] #19665 closed

[2018-11-30 00:48] TravisCragg-MSFT commented on #19424
@rfcdejong when working with templates, a good starting point is to make the change in the portal or PowerShell / CLI, and then use [resources.azure.com](resources.azure.com) to view how it is expressed in the JSON.

[2018-11-30 00:48] TravisCragg-MSFT commented on #19368
@allanalewis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:48] #19368 closed

[2018-11-30 00:49] TravisCragg-MSFT commented on #19280
@faister We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:49] #19280 closed

[2018-11-30 00:53] TravisCragg-MSFT commented on #19184
@StudentAndy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 00:53] #19184 closed

[2018-11-30 00:56] curtand commented on #17907
Hi @jtuliani Thanks for your patience. I'm sending a request to the subject matter expert now.

[2018-11-30 00:58] imeya commented on #19625
Thank you for your answer. Then if I want to pass the hashtable, how can I do?

[2018-11-30 00:58] bwren commented on #16526
Sorry, I dropped the ball on this.  Thanks for pointing out those missing items.  I'm working on the update right now.

[2018-11-30 00:58] bwren commented on #16526
#please-close

[2018-11-30 01:08] mike-urnun-msft commented on #19737
Hi @rajrao Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-11-30 01:11] kgremban commented on #14719
@gauravagarwal28 Thank you for your assessment. We do provide working examples of code in all of our supported languages through the IoT Edge extension for Visual Studio Code. This is what our tutorial articles are based around, and all the articles under the table of contents node "How-to guides" > "Develop and debug modules in VS Code". I'll be the first to admit that it's hard to keep a new use

[2018-11-30 01:12] kgremban commented on #14620
@pisees Checking in again to see if you have further questions about this matter, or if we can consider this issue resolved? Thanks.

[2018-11-30 01:16] #16526 closed

[2018-11-30 01:17] jason-j-MSFT commented on #18504
@ravitejapinnaka closing for now but fee free to add comments as needed.

[2018-11-30 01:17] #18504 closed

[2018-11-30 01:44] MicahMcKittrick-MSFT commented on #19716
@tdykstra perfect. Thanks Tom.

@jpconnock can you look at this further?

[2018-11-30 01:44] kazshi commented on #19687
@SadiqhAhmed-MSFT  Thanks for your response. I understand the Reporting API is only for EA. I would provide the links to my customer.

[2018-11-30 01:44] #19687 closed

[2018-11-30 01:45] kgremban commented on #13986
@mrohera can you take a look at @andrepodnozov's original issue and provide guidance on whether we should include this step in the gateway article, or perhaps as a troubleshooting tip? Thanks!

[2018-11-30 01:48] vernonallen opened #19742 "iotHubName error"
Running this tutorial I get an "iotHubName" is not found error from Xcode. There is a place to enter the SAS connection string in the code, but not the hostname or device id, don't see how the code can work without the hostname to connect to in particular. I'm missing something I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-11-30 01:49] jason-j-MSFT commented on #19588
@uvita yes, Managed Instance is considered part of Azure SQL Database.

[2018-11-30 01:49] #19588 closed

[2018-11-30 01:49] vernonallen commented on #19742
Please Ignore, I realized my error immediately after typing it!!!

[2018-11-30 01:51] #19742 closed

[2018-11-30 01:53] MicahMcKittrick-MSFT commented on #19724
@mapoitras the DNS zone is deployed to the Resource Group that is autogenerated whenever you create an AKS cluster not the same resource group your AKS cluster is actually located in.

![image](https://user-images.githubusercontent.com/32313503/49263480-9b267900-f3ff-11e8-965f-c58a96e9aa36.png)

For example, if you create a cluster in RESOURCEGROUP1 and with a name of AKSCLUSTER a second recourse

[2018-11-30 01:58] dcbrown16 commented on #19297
Sorry I had the wrong link originally, fixed that.
Let me be more specific. Is the following operation the one needed to register any of the certificates or keys for the various PNSs (iOS, Android etc.)?
Microsoft.NotificationHubs/Namespaces/NotificationHubs/authorizationRules/write

[2018-11-30 02:00] OOPMichael opened #19743 "Can a LB and Public IP Address be re-used from an old VMSS to a new?"
we have external 3rd parties we integrate with that white-list our public IP Addresses, we'd like to tear down our VMSS's (in a service fabric cluster) to upgrade the Disks, and preserve the IP Address so we do not have to go through the white-list process with multiple parties. is this possible? can we spin up a new cluster with an existing load balancer/IP?

---
#### Document Details

⚠ *Do not

[2018-11-30 02:21] v-maroge opened #19744 ""Web socket is closed" error"
"You may need to whitelist *.console.azure.com. A more detailed but longer approach is to whitelist the Microsoft Azure Datacenter IP ranges, which change fairly regularly." Does this whitelisting need to be done on the Azure side Network where the VM is? Confused if has to be done on the client side networking accessing the VM using the console.

---
#### Document Details

⚠ *Do not edit this sec

[2018-11-30 02:34] ManojReddy-MSFT commented on #19299
@omniayehia8 Thanks for the confirmation.

1. There is no automated way of achieving this. You would have to leverage graph API to pull the source attribute and then update the extension attribute accordingly.

example : Write a PS script which invokes graph calls and then do a get request for all the users to pull the source attribute and when it's not null, update the target attribute.

2. These

[2018-11-30 02:36] ManojReddy-MSFT commented on #19480
@DeanGross We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-30 02:36] #19480 closed

[2018-11-30 02:36] ManojReddy-MSFT commented on #19483
@DeanGross We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-30 02:36] #19483 closed

[2018-11-30 02:37] ManojReddy-MSFT commented on #19481
@DeanGross We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-30 02:37] #19481 closed

[2018-11-30 02:37] ManojReddy-MSFT commented on #19649
@exzero16 I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-30 02:38] #19395 closed

[2018-11-30 03:06] SamirFarhat opened #19745 "new portal preview experience to create V2 applications"
"Every app that uses the v2.0 endpoint will need to be registered at apps.dev.microsoft.com"
You can mention the new portal preview experience to create V2 applications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50110dd-3c4d-6e42-8f71-332062279f30
* Version Independent ID: 0ae0df0d-9fbb-861a-a50a-9e2f3792d6b1
* Co

[2018-11-30 03:10] jason-j-MSFT commented on #19710
@TheYabadabadou this feature is not supported at this time.

[2018-11-30 03:10] #19710 closed

[2018-11-30 03:20] CelesteDG commented on #19745
Thank you for the feedback, @SamirFarhat - I've added a link to the new App registrations (Preview) experience in the Azure portal and the update should go live by tomorrow AM (Pacific time). If you see anywhere else where we've not added this reference yet, please feel free to open another GitHub issue. Thank you.

[2018-11-30 03:22] forester123 opened #19746 "By default, the "Secure transfer required" option is enabled instead of disabled"
As titled, with the latest UI change of Ibiza portal, this option now is "enabled" by default. Also the screenshots needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5197035-5db9-49c4-a709-82994d1e78e4
* Version Independent ID: 1a73b577-4387-5dac-1e89-a41f811a9858
* Content: [Require secure transfer

[2018-11-30 03:25] Donnie-Zhang opened #19747 "More details about the network outage during the secret rotation"
During Azure Stack Secret Rotation, there is a period in which Public IP Addresses are unreachable for two to five minutes.

One customer needs more detail about the known issue during the Secret rotation, as some of his applications cannot recover automatically from the network outage, he wants to know in which step we will experience this issue (beginning, middle or end of rotation). He needs to

[2018-11-30 03:37] jason-j-MSFT commented on #19501
@KeiroKamioka0000 I wasn't able to find this specific information, here is the documentation for the Linux agent:
https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md

[2018-11-30 03:37] #19501 closed

[2018-11-30 03:46] KurtSchenk commented on #19547
Sorry, please ignore this response. I was mixing up ClusterProtectionLevel in fabricSettings section; and ClusterCredentialType in security section.

Indeed, I am looking as you way to be sure that communication is the most secure (EncryptAndSign), and in fact, the reason was asking for documentation whether this setting applies to ALL communication within a cluster: actors, reliable services, and

[2018-11-30 03:52] malopMSFT commented on #17907
Thanks for the feedback, we'll work on adding content to better describe the functionality.

[2018-11-30 04:02] pisees commented on #19547
Thanks indeed, I am looking to have the best security (EncryptAndSign) for all traffic between nodes in a cluster whether from application code (reliable services, or actors); or any internal communication that services fabric does. I assume so, but was not entirely clear that this is the case from documentation. That was the reason asking for more documentation on ClusterProtectionLevel -- to und

[2018-11-30 04:08] blouwagie opened #19748 "MFA settings fail to explain where to set the logon message"
The documentation for MFA settings fails to explain where to configure the logon portal message, such as:
"By using this device, you agree to comply with xxxxxxx’s Security and Privacy Policies. Do not use this device in a manner that (attempts to) violate any law, regulation, right of privacy, property right or terms of use."
This can be set on the logon screen, we did it, but can no longer find

[2018-11-30 04:09] Romiko commented on #19549
Here is the latest version.
`#Requires -Version 5.0
#Requires -RunAsAdministrator

<#
.SYNOPSIS
    Removes a VMSS Scale Set from a Node Type.
    A new VMSS Scale set must have already been added to the cluster.
    The new VMSS Scale set must have at a minimum,  a number of nodes equal to or greater than the older VMSS Scale Set Seed Nodes.
    Must run this script from a local machine in the cl

[2018-11-30 04:31] AshokPeddakotla-MSFT commented on #19676
@JohnStraumann66
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 04:31] #19676 closed

[2018-11-30 04:35] AshokPeddakotla-MSFT commented on #19739
@evan-morris This is being assigned to the content author to evaluate and update as appropriate.

[2018-11-30 04:42] RaphHaddad commented on #18720
I can confirm the same problem. In addition when I run the PowerShell

`(Get-AzureRmDataFactoryV2 -ResourceGroupName my-rg -Name my-data-factory-name).Identity`

No object is returned. So I can't actually authorise an Azure DataFactory to access an Azure KeyVault pro grammatically or via the user interface.

[2018-11-30 05:06] YutongTie-MSFT commented on #19693
@aashishb  Hi, I think there should be something wrong with this document, but I am not sure if there should be other content that you want to add. Can you please take a look of it? Thanks a lot. I can help you get rid of the part if it does not make any sense.

[2018-11-30 05:06] #19745 closed

[2018-11-30 05:11] georgewallace commented on #19625
@imeya You would have to convert it back.. you could use something like the following. Where FullName is your parameter.. and mynewhash is a new hash table.. I then am just writing out the keys like you did before.

[code]

[2018-11-30 05:39] jakaruna-MSFT commented on #19549
@rwike77 @aljo-microsoft Please take a look at this issue.

[2018-11-30 06:01] michaeljqzq commented on #19252
@nelsonmorais  The Azure IoT Edge has been In-House task. (Which means you can uninstall the Edge extension and see the Edge task by default for all accounts). And 2.0.0 support the multiple architecture.
You can check the [documentation](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-ci-cd) for guide

[2018-11-30 06:04] haodeon opened #19749 "az cli commands to create server application and client application"
Hi,

Could the documentation please be updated with the correct az cli commands to create the server application and client application.

The steps I have figured out so far are

1. az ad sp create-for-rbac -n "server-application" --skip-assignment

2. Make note of appid and secret

3. az ad app update --id "server-application-appid" --set groupMembershipClaims=All allowPublicClient=false --reply-

[2018-11-30 06:07] fleed commented on #19540
I'm trying to use the certificate-secured version (ClusterConfig.x509.OneNode.json). The Azure VM is a machine where we'd like to test the single node setup for customers who don't want to have our Azure-based offer and only provide us a single VM.
We are aware that it's not ideal, but this is not a mission critical software and it can be down during maintenance.

If I try to setup the cluster wit

[2018-11-30 06:10] SadiqhAhmed-MSFT commented on #19409
@mcurko, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 06:11] #19409 closed

[2018-11-30 06:14] Jodelautomat commented on #19564
I ran in the exact same problem and after a couple of hours I found out it was a bad contact between the rasperry and the sensor. use "sudo i2cdetect -y 1" to check if the sensor is connected correctly to the raspberry. you should see a "77" in the port-matrix if everything is connected correctly.

[2018-11-30 06:14] SadiqhAhmed-MSFT commented on #19408
@mcurko, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 06:14] #19408 closed

[2018-11-30 06:16] AjayKumar-MSFT commented on #19721
@Sean-GGS,Thanks for your feedback and we appreciate for sharing the solution that worked for you. It would benefit other users experiencing a similar issue. Every domain provider has its own DNS records interface and have different links to add different record types for verification. I will close this out but if you feel you need more information please just let us know.

[2018-11-30 06:16] #19721 closed

[2018-11-30 06:16] jakaruna-MSFT commented on #19749
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 06:16] jakaruna-MSFT commented on #19744
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 06:17] jakaruna-MSFT commented on #19743
Thanks for the question! We are investigating and will update you shortly.

[2018-11-30 06:47] mcurko commented on #19158
How do I get back to the Azure doc that links to this issue? Can't remember what it was...

[2018-11-30 06:50] imeya commented on #19625
@georgewallace ok, thanks, it can work.

[2018-11-30 06:55] SadiqhAhmed-MSFT commented on #19213
@vadim-berman, sorry for the inconvenience caused. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 06:55] #19213 closed

[2018-11-30 06:58] SadiqhAhmed-MSFT commented on #19567
@adamlavery, Appreciate your time here. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-30 06:59] mike-urnun-msft commented on #19332
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-30 06:59] #19332 closed

[2018-11-30 07:01] lakshmisivareddy commented on #19302
Thanks @sergaz-msft

[2018-11-30 07:01] mike-urnun-msft commented on #18539
Hi @vetrivelmp Apologies for delay in response. Have you tried suggestions made in [this](https://stackoverflow.com/questions/41569415/how-do-i-localise-the-strings-used-by-the-azure-api-management-developer-portal) stackoverflow post?

[2018-11-30 07:01] SumanthMarigowda-MSFT commented on #19746
@forester123  " Secure transfer " is enabled by default - To add more info, To protect the data which is on transit, it’s always advisable to encrypt the data with the transport level encryption. This can be done with the HTTPS protocol. HTTPS ensure secure communication over public internet. Always enable secure transferred required to force the secure transit of data.
, I have assigned this for

[2018-11-30 07:03] SadiqhAhmed-MSFT commented on #19567
Accidentally closed the issue. Hence, reopening to continue the conversation.

[2018-11-30 07:07] AjayKumar-MSFT commented on #19671
@CeciAc , @jmrnilsson, I have assigned the issue to the content author to review this further and update the document as appropriate.

[2018-11-30 07:47] SadiqhAhmed-MSFT commented on #19590
@nickgailloux, Sorry for the delay. For now, you cannot import settings. The option of exporting settings is provided as a means for users to export only and is provided for compliance purposes as a mandatory step due to GDPR.

[2018-11-30 07:51] cephalin commented on #19690
@Grace-MacJones-MSFT Please assign this to @ggailey777

[2018-11-30 08:00] dcbrown16 opened #19752 "What exactly is the problem with Security Center?"
I thought I opened this question previously but I'm not seeing it now.
"Azure Security Center automatically provisions the Log Analytics agent and connects it to a default Log Analytics workspace created by ASC in your Azure subscription. If you are using Azure Security Center, do not run through the steps in this document. Doing so overwrites the configured workspace and breaks the connection wit

[2018-11-30 08:11] denishol opened #19753 "Which username and password to use for File System connection?"
Could you write more specific, which username and password to use for the File System connection? As far as I know it must be the Windows Service Account of the OPDG (by default NT SERVICE\PBIEgwService) - which should typically be changed to access a file server (e.g. domain\opdgservice)
But on the articel https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-install#windows-servic

[2018-11-30 08:20] Grace-MacJones-MSFT commented on #19532
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 08:20] #19532 closed

[2018-11-30 08:35] imeya opened #19754 "why does my ase(app service environment) not appear in azure monitor?"
I want to monitor the metrics from app service environment.

I create an app service environment, then in azure monitor -&gt; metrics -&gt; add metrics, I select the subscription / resource group / resource type(include the app service environment), but in the returned list, there is no my app service environment, I don't know why.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-11-30 08:38] adamlavery commented on #19567
It's not about the content - its about the process. There should be no need for this article. You should prevent people from ever selecting a resource that is not available in the selected location. That way, we will never encounter this error and thus there'll never be a need to fix anything.

[2018-11-30 08:46] dcbrown16 opened #19755 "Categories?"
"You can configure auditing for different types of event categories, as explained in the Set up auditing for your database section."
Where is this explanation? All I see in that section is "If you want to customize the audited events, you can do this via PowerShell cmdlets or the REST API."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-11-30 08:55] imeya opened #19756 "why does my ase(app service environment) not appear in azure monitor?"
I want to monitor the metrics from app service environment.
I create an app service environment, then in azure monitor -&gt; metrics -&gt; add metrics, I select the subscription / resource group / resource type(include the app service environment), but in the returned list, there is no my app service environment, I don't know why.
screenshot as below:

---
#### Document Details

⚠ *Do not edit thi

[2018-11-30 08:58] paulmackinnon-adv365 commented on #19360
Initially when testing the Runbooks they would initiate, but never actually start/stop a VM. I followed the guide to delete the solution and re-install it again, which means manually deleting; all solution runbooks, all solution variables, all solution schedules (← if you do not do this before re-installing, it WILL fail upon installation that the runbooks/schedules/variables are already there), h

[2018-11-30 08:58] #19360 closed

[2018-11-30 09:01] JuleKuhn commented on #19698
I am following this article: https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook

Von: Alberto Vega <notifications@github.com>
Gesendet: Donnerstag, 29. November 2018 19:07
An: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kuhn Julia <j.kuhn@yello.de>; Mention <mention@noreply.github.com>
Betreff: Re: [MicrosoftDocs/azure-docs] Write Databric

[2018-11-30 09:01] jakaruna-MSFT commented on #19743
@OOPMichael We can create a public IP separately and attach that to a load balencer.
Checkout this [document ](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-public-zonal-cli) for public IP creation and the creating a load balancer with that IP.
In your case, you can dissociate the public ip attached to your load balancer and use that for the new load balancer. So that

[2018-11-30 09:01] neeleshray commented on #19633
We are actively working on a backup/recovery feature for Android at the moment. For now, we only support iOS.

[2018-11-30 09:14] woodwardmatt commented on #19229
@Adam-Smith-MSFT  - just checking back in, anything come out of the testing so far?

[2018-11-30 09:48] malytskyy opened #19758 "IP Address of application unclear"
It is unclear which ip address should be taken after running
`az mesh network show`. PublicIpAddress?

Also need more explanation on how ports from the app are mapped to the ports on public ip address. Is it similar to docker and docker-compose? How should `ingressConfig` should be specified for a standard .net core web app?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-11-30 10:07] lgayhardt commented on #19591
@lmolkova Thanks for this. I will add it to the spirit for December.

[2018-11-30 10:10] davidhendrickmb opened #19759 "Azure Triggered Webjobs Disable"
Would it be possible to add a simple "Disable" button to each scheduled Azure WebJob, rather than having to change configuration settings?

[2018-11-30 10:16] PaulTozer opened #19760 "Standard_E20s_v3 shows as available with constrained core available in Esv3-series section"
Standard_E20s_v3 doesn't have any option when provisioning to constrain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fe6a40-0b95-f1ed-db11-7a49d4a97ecf
* Version Independent ID: 54269236-da55-a1cd-01df-79a0458d9ac9
* Content: [Azure VM sizes for Windows - Memory](https://docs.microsoft.com/en-us/azure/virtual-machi

[2018-11-30 10:19] PramodValavala-MSFT commented on #19507
@charakumar44 Glad I could help 😄

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 10:19] #19507 closed

[2018-11-30 10:20] ManojReddy-MSFT commented on #19748
@blouwagie Thanks for the feedback. I am a bit confused, what exactly do you mean by logon portal message ?

Can you provide a screenshot of where you see this message ?

[2018-11-30 10:20] o-l-a-v commented on #19633
Thanks for answer.
The situation has been like that for quite long. No updates regarding progression on the Android backup/recovery implementation?

[2018-11-30 10:31] dipito31 opened #19761 "Misleading documentation"
The title says: "Applies to: Azure Stack integrated systems and Azure Stack Development Kit" ... and the note later in the page says "Metrics and diagnostic logs are not available for the Azure Stack Development Kit."

This is misleading documentation. Can we have this fixed please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-11-30 10:38] PramodValavala-MSFT commented on #15465
@kmcconnell I wasn't able to reproduce the same problem now. It is possible the issue was fixed in the meantime. 😄

The only situation, that I could think of, for such an exception to arise would be a trigger like this
[code]
and having passed a string value for the queue message. The error message would be something like this
[code]

When you work with functions again, the sample above should hel

[2018-11-30 10:38] #15465 closed

[2018-11-30 10:44] CHEEKATLAPRADEEP-MSFT commented on #19755
@dcbrown16 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-11-30 11:04] neeleshray commented on #19633
We do not have an ETA as of today. We would update when we have a roadmap on the same.

[2018-11-30 11:33] AjayKumar-MSFT commented on #19686
@AkshathaSP , Thanks for the update.
For Continuous jobs, there is a default period of 5 seconds waiting for the job process to shutdown before getting killed.
For Triggered jobs. When a shutdown request is detected there is a 30 seconds default waiting period for the job process to stop.
You can change the grace period of a job by specifying it (in seconds) in the settings.job file where the name

[2018-11-30 11:42] cephalin commented on #19671
@CeciAc @jmrnilsson Thanks for the feedback. I've made the fix and it should be published sometime today.

[2018-11-30 11:42] cephalin commented on #19671
#please-close

[2018-11-30 11:44] #19671 closed

[2018-11-30 11:48] ddkserv opened #19762 "App Owners - What is possible? The portal only supports users but what about groups?"
Info about "App owners" is not present.

There is no infomation about App owners.
The only infomation I can find is on the azure cli:
https://docs.microsoft.com/en-us/cli/azure/ad/app/owner?view=azure-cli-latest

Even that one is not complete since it is not say what the owners object id should be.
I know that the owners object id should be a user object id because the list shown in the azure port

[2018-11-30 11:50] romankiss commented on #19690
I am facing the same problem for testing this preview feature:

run.csx:
      log.LogInformation($"{Environment.GetEnvironmentVariable("TestKV")}");

logs:
     @Microsoft.KeyVault(...)

It looks like the @ prefix doesn't work.

Do I need to add or replace any assembly?

Thanks
Roman

[2018-11-30 11:53] AjayKumar-MSFT commented on #19753
@denishol, Thanks for the question! We are investigating and will update you shortly.

[2018-11-30 11:56] tjrobinson opened #19763 "Get-Azure-Rm-Sql-Database-Transparent-Data-Encryption and Get-Azure-Rm-Sql-Database-Transparent-Data-Encryption-Activity incorrect format"
* `Get-Azure-Rm-Sql-Database-Transparent-Data-Encryption` should be `Get-AzureRmSqlDatabaseTransparentDataEncryption`
* `Get-Azure-Rm-Sql-Database-Transparent-Data-Encryption-Activity` should be `Get-AzureRmSqlDatabaseTransparentDataEncryptionActivity`

(assuming that the pages they link to are correct)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-30 12:00] ediazrod opened #19764 "How to upgrade Manually the mobility Service on Linux and Windows"
If I must upgrade the mobility service on Linux what is the procedure?. on Windows?.

regards!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a76fc326-1f03-f650-efcd-808721f572de
* Version Independent ID: ddf0b76a-4bb5-2ebe-101f-76dde45ff80e
* Content: [Install the Mobility Service manually for disaster recovery of VMw

[2018-11-30 12:11] cephalin commented on #19573
@luiscantero The reconfigured Admin is not needed post configuration. It's only required for the sake of logging into SQL Database and manage it interactively, because the managed identity is cannot log in interactively.

@mattchenderson for visibility

[2018-11-30 12:13] Liversage opened #19766 "Validation to be able to get a certificate"
How do I get a certificate with the common name "myclustername.southcentralus.cloudapp.azure.com"? Generally, you can prove control over a domain name either by creating a DNS record or performing HTTP validation. For "cloudapp.azure.com" the second option is the only possibility (unless you are Microsoft). However, this creates a chicken and egg problem. I need to deploy a cluster (that exposes a

[2018-11-30 12:14] msvijayn commented on #19556
Added PR [#59196](https://github.com/MicrosoftDocs/azure-docs-pr/pull/59196)

[2018-11-30 12:18] jakaruna-MSFT commented on #19758
Thanks for the question! We are investigating and will update you shortly.

[2018-11-30 12:21] theSARMproject opened #19767 "Error 2: The system cannot find the file specified"
I tried to install the Agent in Windows 10 Enterprise and I received the following Error
"Error: Failed to install Microsoft Azure Recovery Services Agent installation has failed
Problem : 2: The system cannot find the file specified"
Can you help on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c0

[2018-11-30 12:31] jakaruna-MSFT commented on #19766
Thanks for the question! We are investigating and will update you shortly.

[2018-11-30 12:49] phatcher commented on #19420
@Mike-Ubezzi-MSFT It may be clear from context, but for example the image you are showing above will not work i.e, unless you actually select the checkbox next to the database, configuring the policies will actually achieve nothing.

I had this issue and had to raise an Azure support ticket to find out why it wasn't working and the support team member said that he'd had a number of clients making

[2018-11-30 13:04] mcurko opened #19769 "Doesn't work"
I can make this work, tried and rechecked. No messages arriving to the logic app. How do I debug the issue? How do I check that messages are sent from the hub, or that the hub is unable to send messages, that messages arrive to the logic app, or that the messages can't be processes by the logic app? I tried to paste logic app trigger URL in the browser, an error occurred, but at least I see a trig

[2018-11-30 13:04] JohnStraumann66 commented on #19676
Why is this closed? It is not resolved?

[2018-11-30 13:30] cephalin commented on #17085
@falmada The doc has been updated. #please-close

[2018-11-30 13:33] f2calv opened #19770 "QuickPulseTelemetryModule deprecated?"
Using Microsoft.ApplicationInsights 2.81 I'm seeing an obsolete declaration for the following code snippet, so these docs are a little dated - what is the recommended route forwards here?

services.ConfigureTelemetryModule&lt;QuickPulseTelemetryModule&gt;( module =&gt; module.AuthenticationApiKey = "YOUR-API-KEY-HERE");

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-11-30 13:36] gkaleta opened #19771 "Add reset/renew SP for AKS - perhaps under troubleshooting"
Renew/Create Service Principal Secret
	az ad sp credential reset --name &lt;App ID&gt; --password &lt;secret&gt; --years &lt;##&gt; 

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed330edc-c3ab-d053-faad-4dc5da373b48
* Version Independent ID: 625ab8a7-8379-0a1c-c633-fa7bf80f161e
* Content: [Introduction to Azure Kubern

[2018-11-30 13:56] mariojacobo opened #19772 "No FTP details in Deployment center"
This page seems to be really outdated. The FTP dashboard is not present in the "Deployment center" blade. If you go to the "overview" page of the App, you will see "FTP/deployment username: No FTP/deployment user set", however these details are available in the "Get publish profile" XML file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-11-30 13:57] OOPMichael commented on #19743
@jakaruna-MSFT thanks for the info!

[2018-11-30 13:57] #19743 closed

[2018-11-30 14:02] cephalin commented on #14798
@bloudraak Thanks for the feedback. Looks like there's already [a blurb about it](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/migrations?view=aspnetcore-2.1&tabs=netcore-cli#applying-migrations-in-production) in the ASP.NET Core documentation, so I've added an "IMPORTANT" statement pointing people there. The change should be published sometime today. #please-close

[2018-11-30 14:04] AntoineGagne opened #19773 "MQTT and AMQP Support"
The described way to upload a file in this article only says how to do it via HTTP requests. Are the MQTT and AMQP protocols also supported or is only HTTP supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaf3777-34b8-b195-691f-2853c9cbe04a
* Version Independent ID: 3b0a4384-e495-16db-1c36-dca0a9f95179
* Cont

[2018-11-30 14:15] adil82pk commented on #19564
Thanks it's working now
________________________________
From: Jodelautomat <notifications@github.com>
Sent: Friday, November 30, 2018 11:14:11 AM
To: MicrosoftDocs/azure-docs
Cc: adil82pk; Author
Subject: Re: [MicrosoftDocs/azure-docs] error 121 Remote IO error syscall: 'writeByte' (#19564)

I ran in the exact same problem and after a couple of hours I found out it was a bad contact between the r

[2018-11-30 14:17] kprpg opened #19774 "Support for Azure Stack deployed with ADFS as Id provider"
The document should make it clear that this is only with Azure Stack deployed with AAD in connected mode, and that there is currently no support when Azure Stack is deployed with ADFS as the identity provider for deploying apps to Azure Stack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e54ed0-e139-1569-adc8-1833de

[2018-11-30 14:24] kprpg opened #19775 "Support for disconnected mode with ADFS as Id provider"
The document should make it clear that this is only with Azure Stack deployed with AAD in connected mode, and that there is currently no support when Azure Stack is deployed with ADFS as the identity provider for deploying apps to Azure Stack OR it just glosses over this fact without providing steps to do it, in case of ADFS as Id provider in disconnected mode. For instance in the "Pre-Requisites"

[2018-11-30 14:29] Jaffacakes82 opened #19776 "ARM template deployment of Application Insights update"
Hi,

We use ARM templates and Azure DevOps to deploy our Application Insights resource and Azure Web App. We then use Azure DevOps to install the Application Insights site extension to the Web App.

I've noticed that using this approach, I still get the message telling me to update my Application Insights site extension. How do we automate the installation of the updated Application Insights site

[2018-11-30 14:40] mrbullwinkle commented on #19770
@f2calv can you try `services.ConfigureTelemetryModule<QuickPulseTelemetryModule> ((module, o) => module.AuthenticationApiKey = "YOUR - API - KEY - HERE");` That resolves the obsolete error for me in VS. If you can confirm that fixes your problem, I will get the doc updated today. Thanks for bringing this to our attention.

[2018-11-30 14:45] willatmicrosoft opened #19777 "Log Analytics queries need updating to new query language"
Log Analytics queries need updating to new query language

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ebc8e17-0143-7092-a3f1-aaecc4bdbbe2
* Version Independent ID: 0a01fd99-cb50-49ae-0e82-f36f45b1dd5d
* Content: [Diganostic logging for Azure Analysis Services](https://docs.microsoft.com/en-us/azure/analysis-service

[2018-11-30 14:48] mapoitras commented on #19724
Hi!  Yes I tried again.  No DNS Zone.

![aks_create_using cli](https://user-images.githubusercontent.com/307074/49295728-74f6ec80-f484-11e8-8114-d4d8e655b41e.png)

It only works if I use the portal.

Here are the step to reproduce:

C:\Users\mapoitra\OneDrive - Microsoft\Documents\Conferences>az group create --name MAPAKSDemoRG --location CanadaCentral
{
  "id": "/subscriptions/c4e0c171-a07d-4a3c-

[2018-11-30 14:50] mrbullwinkle commented on #19776
Adding @mmilirud  for comment.

[2018-11-30 15:05] petteas commented on #16312
Hi! I am investigating the possibilities of setting up alerts for my Azure SQL database. From your comment @aamalvea I understand that the new generation of alerts are yet to be available for Azure SQL databases. I also understand that Alerts(classic) will be depricated summer 2019 so the right thing for me seems to be to wait for the next generation alerts. Do you know any more about when in 2019

[2018-11-30 15:05] CraigWiand opened #19778 "doc title is oddly structured"
Seems like the "on" in the doc title is not needed or misplaced?  Perhaps "Linux on distributions endorsed by Azure" should be "Linux distributions endorsed on Azure"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f897-0d81-98b8-1c28-af1528f1e135
* Cont

[2018-11-30 15:18] cephalin commented on #19772
@mariojacobo I don't reproduce your issue. I was just checking this content with the portal and there's indeed the FTP dashboard.

[2018-11-30 15:37] rodrigosantosms opened #19779 "Changing the DNS setting for a virtual network or virtual machine no longer requires a restart"
Changing the DNS setting for a virtual network or virtual machine no longer requires a VM restart, I was able to get the new DNS setting and use it by doing ipconfig /release and /renew.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62

[2018-11-30 15:47] YutongTie-MSFT commented on #19645
@asyba Hi, sorry for your experience? May I ask if you have a SpeechServices.S0 key for it or you are using a key in standard pricing?

If you didn't use a standard pricing, please go to portal.azure.com -> + Create a resource (top left of the screen) -> Now search for and select "Speech" -> Create -> here select the correct data center, and select S0 as pricing tier.From the created resource you

[2018-11-30 15:50] mariojacobo commented on #19772
@cephalin - I deployed a Drupal App on Linux + MySQL, which seems to be different than the regular Web Apps. just tested now and indeed the blades are different depending on the app type.

[2018-11-30 15:50] #19772 closed

[2018-11-30 15:53] mgrant0 opened #19780 "Comments on 'Other Windows Settings'"
1. "Accounts: other account settings", I'm not sure what this refers to or what falls under 'other account settings', I could not find this heading anywhere in the account settings.

2. "Desktop personalization: taskbar settings (position, auto-hide, etc.)", 'etc' is a vague.  I noticed by experimentation that the size of the icons in the task bar (small vs large) does not seem to sync.  So you pr

[2018-11-30 15:54] cephalin commented on #19573
@luiscantero Sorry I didn't understand your comment earlier. I've added a note warning users not to remove that AAD user. It should be published sometime today.

[2018-11-30 16:07] Placid7 opened #19781 "Log Analytics appendix"
Is there a KEY dictionary somewhere that describes the schema for the metrics available in Log Analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c1f2f2-da35-02b0-b59d-1e1f4d982904
* Version Independent ID: f27d9109-3172-7425-d201-82146d9216c2
* Content: [Analyze Log Analytics data in Azure Monitor](https://do

[2018-11-30 16:17] AjayKumar-MSFT commented on #19614
@cephalin , Thank you for the update.

[2018-11-30 16:17] #19614 closed

[2018-11-30 16:38] IanMercer opened #19782 "Documentation does not specify how the .Data property of an Exception is handled by Application Insights"
Can you pass additional information in the .Data property of an exception or is it ignored?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aee749-dc67-58c6-c911-a8cfcfd387a2
* Version Independent ID: 21056412-21a5-1e79-f588-5bbb846789bf
* Content: [Diagnose failures and exceptions in web apps with Azure Application I

[2018-11-30 16:39] joshuafredrickson commented on #19772
This is also true for WordPress for Linux. 'Deployment Center' is quite different than the first screenshot above.

[2018-11-30 16:42] joshuafredrickson opened #19783 "Incorrect wwwroot path"
It should be `/home/site/wwwroot` instead of `/site/home/wwwroot`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Independent ID: cb469cf8-43e5-09fe-6b8e-ee714cf2f7cc
* Content: [Deploy your app to Azure App Service using FTP/S](https://docs.microsoft.com/en-us/azure/app-s

[2018-11-30 16:51] femsulu commented on #19567
Very Fair point, @adamlavery. your feedback has been shared with the doc author and will be passed on to the feature owner for consideration.

[2018-11-30 16:51] #19567 closed

[2018-11-30 16:58] femsulu commented on #19590
@santhoshsomayajula  - 2 questions:
1. Is there a plan to support importing Azure Portal settings?
2. Do we have a suggested workaround to share with the customer?

[2018-11-30 17:10] MicahMcKittrick-MSFT commented on #19778
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 17:11] MicahMcKittrick-MSFT commented on #19771
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-30 17:15] sergaz-msft commented on #19319
Hello @pudelkoM and thanks for the clarification!
As this is a feature request may I kindly ask you that you open a new feature request on [Blockchain UserVoice](https://feedback.azure.com/forums/586780-blockchain)?

Let us know the link when you do it so others can vote for that as well.

Thanks!

[2018-11-30 17:15] sergaz-msft commented on #19319
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 17:15] #19319 closed

[2018-11-30 17:16] SamirFarhat opened #19784 "The Express Route link is not correct"
The  Create an ExpressRoute connection using Virtual WAN link does not land on the correct page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version Independent ID: be1f6b3f-e7c1-0775-8e38-1e5044f96baa
* Content: [Azure Virtual WAN Overview](https://docs.microsoft.com/en-us/azu

[2018-11-30 17:22] SamirFarhat opened #19785 "Can spoke VNets connected to a virtual hub communicate with each other?"
The answer is not relevant to the question.
________
Yes. You can directly do VNet peering between spokes that are connected to a virtual hub. For more information, see Virtual Network Peering.
--------
The question goal it to know if the Virtual Hub is transitive, and if VNET A and VNET B are connected to a Hub, will they be able to communicate together, through the HUB.

---
#### Document Detail

[2018-11-30 17:35] MicahMcKittrick-MSFT commented on #18713
@novino @aljo-microsoft could either of you help further on this?

[2018-11-30 17:35] MicahMcKittrick-MSFT commented on #19111
@yusufkhatri I will close for now. When ready let me know and we can reopen and continue.

[2018-11-30 17:35] #19111 closed

[2018-11-30 17:40] MicahMcKittrick-MSFT commented on #19778
@CraigWiand good point. I too agree that it does not quite make sense.

I corrected the doc to display "Linux distributions endorsed on Azure" as both the main title and the heading title. Thanks for pointing this out.

Once the PR merges the changes will go live in a few hours.

[2018-11-30 17:40] #19778 closed

[2018-11-30 17:43] Karishma-Tiwari-MSFT commented on #18943
@roiyz-msft Would you be able to share if this is the expected behavior or can you please direct me to the right person. Thanks

[2018-11-30 17:52] Karishma-Tiwari-MSFT commented on #19569
@panoschatz Can you please share which gallery image are you using and how are you querying the source VM for the information, basically if you can share the steps you took, we would be able to help you better. Thanks :)

[2018-11-30 17:53] jhughes17 commented on #19664
Vault Name needs to be Unique Overall, not just unique to my tenant.
I did not realize that the name of the vault needs to be unique not just to my tenant, but overall. only discovered this once i created one successfully and it gives back a URL to the vault based on the name. So that part was my bad.
Second thing is i still had issues with the Location Name. When i provide the format from the exa

[2018-11-30 17:53] #19664 closed

[2018-11-30 17:53] Grace-MacJones-MSFT commented on #19756
Hi @imeya, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 17:53] Grace-MacJones-MSFT commented on #19783
Hi @joshuafredrickson, thanks for your feedback! We will review and update this doc accordingly.

[2018-11-30 18:03] Karishma-Tiwari-MSFT commented on #19571
@StingyJack Here is the [template](https://github.com/Azure/azure-quickstart-templates/tree/3c9980dd6baf21e84e48fcc9028ee54b3c0269f6/201-vm-winrm-windows) which deploys the VM and then configures WinRM. The template uses a custom script extension. You can add the custom script extension to an existing VM.

[2018-11-30 18:06] femsulu commented on #19590
@nickgailloux , confirming @SadiqhAhmed-MSFT 's last comments - confirmed by the Feature owner. more details below:

"There is no plan to have an import option for these settings considering this is meant for GDPR purposes and purely export only. We can’t have users control the data getting into our settings database through an import option. This is a carefully crafted data that flows into portal

[2018-11-30 18:06] #19590 closed

[2018-11-30 18:07] managedcoder opened #19787 "Utterance examples wrong, they are identical"
Looking at this section: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-batch-testing#getjobinformation-test-results I see something that does not look right.  The example utterances are identical but I think that is a documentation mistake and they should not be identical.  Here is the offending paragraph:
The utterances corresponding the top point in the False posit

[2018-11-30 18:08] carteixeira commented on #19733
Travis, if you try to follow the article, you will see that it does not work.

Here is from a different subscription:

PS C:\Users\carte> New-AzureVNetGateway -VNetName Local4 -GatewayType DynamicRouting -GatewaySKU  Standard
New-AzureVNetGateway : BadRequest: A gateway is not specified in the network configuration file for the specified virtual network name: Local4. Make sure that a gateway which

[2018-11-30 18:13] Adam-Smith-MSFT commented on #19764
@ediazrod Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 18:13] yeahsicy commented on #18697
Hi Docs team,

Please notice that currently uploading extensions.csproj file is INCORRECT for using Nuget packages in the doc at https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages

To my knowledge, extensions.csproj is for getting the essentials for some triggers after v2 breaking changes. For example, if I add an EventGrid trigger, I need to ins

[2018-11-30 18:15] curtand commented on #17907
Hi @jtuliani
Mario has a backlog item for this content now, but my guess is it will not get in until the new year. I'm going to request that this issue be closed, but comment in it with any questions.

#please-close
@TravisCragg-MSFT

[2018-11-30 18:15] MicahMcKittrick-MSFT commented on #19540
The process to connect is actually fairly simple.

1) Install the Service Fabric cluster on the remove machine. Use the steps in this doc to deploy the secured cluster. It will be deployed on the local host of the VM
2) Add Network Security Groups to the VM to allow ports 19000 and 19080
3) Inside the VM, add firewall rules to allow connections to port 19000 and 19080
4) You can now connect to the

[2018-11-30 18:19] femsulu commented on #19544
@anwather, support for Service Map in Australia region is under consideration but unfortunately, no availablity timeline to share at this point.

[2018-11-30 18:19] #19544 closed

[2018-11-30 18:21] MarileeTurscak-MSFT commented on #19738
@ams0
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-30 18:21] MarileeTurscak-MSFT commented on #19740
@davidahoward
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-30 18:22] MarileeTurscak-MSFT commented on #19747
@Donnie-Zhang
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-30 18:22] femsulu commented on #19625
confirming the fix is now live. Thanks again for bringing this to our attention

[2018-11-30 18:22] #19625 closed

[2018-11-30 18:29] MarileeTurscak-MSFT commented on #19762
@ddkserv
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-30 18:30] MarileeTurscak-MSFT commented on #19780
@mgrant0
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-30 18:30] sergaz-msft commented on #19769
Hello @mcurko and thanks for the feedback!
Can you please use [Azure IoT Toolkit for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) to double check that messages are arriving at your IoTHub? If they arrive at the IOTHub it can be the IoTHub output configuration that is not correct.

See: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hu

[2018-11-30 18:32] #14798 closed

[2018-11-30 18:32] #17085 closed

[2018-11-30 18:38] derek1ee commented on #19753
@ecfan can you take this?

[2018-11-30 18:38] tysonn opened #19788 "Test feedback item"
Hey, this documentation is great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f578598-f4d6-20a3-dc34-5a3a16cbe0f4
* Version Independent ID: f90b5119-829f-e29d-b5b0-b452c597a760
* Content: [Create an Azure Load Balancer rule for a cluster](https://docs.microsoft.com/en-us/azure/service-fabric/create-load-balancer-ru

[2018-11-30 18:42] MicahMcKittrick-MSFT commented on #19724
@mapoitras I just ran through this and created a new cluster using

`az aks create --resource-group myResourceGroup --name myAKSCluster --enable-addons http_application_routing`

After checking the automatically created Resource Group I do see the DNS zone

![image](https://user-images.githubusercontent.com/32313503/49307514-44b24c80-f48a-11e8-85ca-4fa73bca0362.png)

I also tried it on an existing

[2018-11-30 18:42] blouwagie opened #19789 "Please indicate where to go when one needs longer retention of logs"
Please indicate where to go when one needs longer retention of logs, like where are the settings to migrate logs to another storage etc. I know it exists, and this document should refer to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5975a65a-630f-a2ab-7cc8-268e278a057b
* Version Independent ID: ed2cdee0-9a1e-c

[2018-11-30 18:45] Karishma-Tiwari-MSFT commented on #19760
@jonbeck In this doc, Standard_E20s_v3 shows as Constrained core sizes available but it is not mentioned in this doc for [Constrained vCPU capable VM sizes](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/constrained-vcpu). Can you please confirm that Standard_E20s_v3 is available with Constrained core size option? Thanks :)

[2018-11-30 18:54] PaulTozer commented on #19760
I was trying West Europe, but also have tried other regions as well so looks global

 --
Paul Tozer
Head of Cloud Services
T: 01827 265000

Quiss Technology plc
Claymore,
Tame Valley Industrial Estate,
Tamworth B77 5DQ.
http://www.quiss.co.uk

This email and any attachments to it are confidential and intended solely for the person to whom they are addressed. They may contain legally privileged inf

[2018-11-30 19:07] kobulloc-MSFT commented on #19776
@Jaffacakes82 Thank you for reaching out to us.

[2018-11-30 19:08] TravisCragg-MSFT commented on #17907
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 19:08] #17907 closed

[2018-11-30 19:08] kobulloc-MSFT commented on #19782
@IanMercer Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-30 19:08] TravisCragg-MSFT commented on #19738
@ams0 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 19:09] TravisCragg-MSFT commented on #19740
@davidahoward Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 19:10] lfraile opened #19790 "Assets created with the new SDK appears as "empty" in the portal and in the old Azure Media Services Explorer"
Hello I have been playing lately with the new SDK, just running the samples, but it seems when I create assets, encode and publish them with the new SDK (with .NET) the assets doesn't seem to appear correctly in the Azure Portal or in the old Azure Media Services Explorer, although I can play them using the locators provided with the new SDK samples output and Azure Media Player, they appear as em

[2018-11-30 19:10] shizn commented on #18716
@yilo2417 您好，源英文为"deployment module" 如下图所示。
![image](https://user-images.githubusercontent.com/3619378/49309536-66aecd80-f490-11e8-8b02-4d13dbc2786c.png)
翻译为“已部署模块”更为恰当。多谢您的反馈。

[2018-11-30 19:10] TravisCragg-MSFT commented on #19747
@Donnie-Zhang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 19:12] TravisCragg-MSFT commented on #19779
@rodrigosantosms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 19:13] rwike77 commented on #19788
@tysonn  Thanks!  #please-close

[2018-11-30 19:14] Adam-Smith-MSFT commented on #19510
@pdarvasi @Karishma-Tiwari-MSFT   we currently don't have any fixed date on this, it will be probably stopped when the Classic model in portal gets deprecated.

[2018-11-30 19:15] gkaleta commented on #19771
A lot of people are hitting the default one year expiration date of SP on their AKS cluster hence the ask until key rotation is introduced.

Den 30. nov. 2018 kl. 18.11 skrev Micah <notifications@github.com<mailto:notifications@github.com>>:

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

—
You are receiving

[2018-11-30 19:18] Karishma-Tiwari-MSFT commented on #19510
Thanks @Adam-Smith-MSFT :)
@pdarvasi We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-30 19:18] #19510 closed

[2018-11-30 19:19] Karishma-Tiwari-MSFT commented on #19760
@PaulTozer Can you please share the steps you are taking to deploy this? Is it via Azure portal. Are you able to see E20sv3 in Azure portal like in the screenshot below?

 ![alt text](https://wtv3.blob.core.windows.net/media/e20.png?sv=2017-04-17&sr=b&sig=V9P2dScNbGrR%2FlxgSqgtkiaWzUKLD0GftlTFHN70SF0%3D&st=2018-11-30T19%3A05%3A24Z&se=2021-11-30T19%3A10%3A24Z&sp=rw "E20.PNG")

[2018-11-30 19:23] TravisCragg-MSFT commented on #19775
@kprpg you will need to be online to make the service pricipal, but after that you can remove internet access.

[2018-11-30 19:30] mike-urnun-msft commented on #19715
Hi @jeffmarino Hope the above provides the latest on this and helps you plan your project accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-30 19:30] #19715 closed

[2018-11-30 19:30] TravisCragg-MSFT commented on #19785
@SamirFarhat Thanks for the feedback! I agree with you, and the question should be answered directly.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 19:32] TravisCragg-MSFT commented on #19784
@SamirFarhat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@cherylmc the links are not typical, so I will let you make the change.

[2018-11-30 19:35] Mike-Ubezzi-MSFT commented on #19498
@karan1276 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-30 19:35] #19498 closed

[2018-11-30 19:36] georgewallace commented on #19323
@lbergeron01 Thanks for reaching out.. This should not be happening.. I would recommend you contact support to determine your problem.  The PAT gets saved in a variable in the automation account.  But this is done for you when authenticating the standard way and there is no action needed from you.

![image](https://user-images.githubusercontent.com/6796566/49310787-2a7d6c00-f494-11e8-9112-8adc6670

[2018-11-30 19:37] georgewallace commented on #17462
@MicrosoftDocs/azure-cxp-triage The content is now live, #please-close

[2018-11-30 19:38] TravisCragg-MSFT commented on #19747
@Donnie-Zhang I will follow up with you offline.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 19:38] #19747 closed

[2018-11-30 19:39] Mike-Ubezzi-MSFT commented on #19536
@razvansalajan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-30 19:39] #19536 closed

[2018-11-30 19:40] #17462 closed

[2018-11-30 19:44] Mike-Ubezzi-MSFT commented on #19652
@AndriyGorda I am going to close this but you can still update this issue with any useful details received from support. The information is useful to others who might experience the same issue. Thank you!

[2018-11-30 19:44] #19652 closed

[2018-11-30 19:48] MohitGargMSFT commented on #19759
@davidhendrickmb Please help with the document on which this feedback is provided. Thanks.

[2018-11-30 19:53] Mike-Ubezzi-MSFT commented on #17200
@bthebasics This is not currently supported. The best measure is to ensure tempdb logs have sufficient space for log growth to ensure the entire data set can be committed.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Thank you!

[2018-11-30 19:53] #17200 closed

[2018-11-30 20:08] brlewi commented on #19521
Test text

[2018-11-30 20:12] Mike-Ubezzi-MSFT commented on #18494
@KavithaJonnakuti Are you the correct content owner for this document? This issue has not seen any traction on this issue, and wanted to follow up to see if it needs reassignment? Thank you!

[2018-11-30 20:16] KavithaJonnakuti commented on #18494
I’m not the owner. Thanks

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, November 30, 2018 12:13 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kavitha Jonnakuti <kavithaj@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] No details about setting up Audit to Storage Account (#18494)

@KavithaJonnakuti<https://na01.safelin

[2018-11-30 20:24] samiam236 opened #19791 "Could use more elaboration on RBAC with Azure Storage Explorer"
The document says "Azure Storage Explorer currently uses your storage account key to access blob and queue data."

Does this mean that RBAC doesn't yet work from Azure Storage Explorer? That seems to be what I'm experiencing but want to make sure.

Is there any documentation on how to restrict delete access to blobs via Azure Storage Explorer?

---
#### Document Details

⚠ *Do not edit this sectio

[2018-11-30 20:30] MicahMcKittrick-MSFT commented on #19752
@dcbrown16 the doc itself is just saying that if you are using Azure Security Center to manage the VMs you should allow use ASC to add any new VMs to the work space instead of performing the manual steps to add it.

You can have log analytic spaces outside of Security Center in which case you would use these steps

[2018-11-30 20:32] jamiepassa commented on #15216
Hi so I was able to get everything working, except now the VM is is stuck asking what region to select. How do I get past this?

[2018-11-30 20:34] MicahMcKittrick-MSFT commented on #19758
@malytskyy no sure what you mean in regards to the public IP address. This will show you the public IP address of your Service Fabric Mesh cluster which you can use to connect.

![image](https://user-images.githubusercontent.com/32313503/49313432-16d60380-f49c-11e8-992d-11e0782179c6.png)

As per how ports are mapped, the backend will use an Azure Load balancer just as a standard Service Fabric Dep

[2018-11-30 20:36] MicrosoftGuyJFlo commented on #19748
In what context would you like to see this in that document? That doc covers settings related to MFA not your directory itself.

The company branding doc is part of the fundamentals path here... https://docs.microsoft.com/azure/active-directory/fundamentals/customize-branding
We find most people take care of company branding as part of their initial steps of setting up their directory hence we hav

[2018-11-30 20:39] Karishma-Tiwari-MSFT commented on #15216
@jamiepassa Can you enter the region you want your VM to be created in and try. Share the error messages, screenshots so that I can help you better. Also let me know which step in the doc are you at.

[2018-11-30 20:40] tsrikanth06 opened #19792 "How to read Pipeline parameters configured in DataFactory from notebook"
You created a parameter with name 'name', but inside the notebook you are reading as 'input'. How does it map 'input' to 'name', aslo getArgument() takes two arguments
error: not enough arguments for method getArgument: (argName: String, defaultValue: String)String.

Even after providing default value, getArgument did not read the parameter I passed via DataFactory.
Can you please give a code snip

[2018-11-30 20:41] georgewallace commented on #13803
@javgarces I have validated that the change requested is in the solution. You can following the steps to [update the solution](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management#update-the-solution) to get the latest version. @MicrosoftDocs/azure-cxp-triage #please-close

[2018-11-30 20:41] MicahMcKittrick-MSFT commented on #19766
@Liversage whenever you create a SF cluster in Azure the naming convention for connecting is ClusterName.Location.cloudapp.azure.com

When you get a cert from a certificate authority you will request that the certificate has the same name schema as ClusterName.Location.cloudapp.azure.com

Once you have certificate you would upload to the keyvault and follow the rest of this doc.

So I suppose in t

[2018-11-30 20:42] #13803 closed

[2018-11-30 20:43] georgewallace commented on #14432
@christiandekker I have verified that the updates requested have been added to the solution. You can follow the steps to [update your solution](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management#update-the-solution) with the latest information. @MicrosoftDocs/azure-cxp-triage  #please-close

[2018-11-30 20:44] georgewallace commented on #12938
@Dfintz I have verified that the updates to the solution you requested are added. You can follow the steps to [update your solution] to get the latest version of the solution. @MicrosoftDocs/azure-cxp-triage  #please-close

[2018-11-30 20:51] #14432 closed

[2018-11-30 20:59] #12938 closed

[2018-11-30 21:07] towerbe opened #19793 "Dead Link"
Under Resources, you have a link for a video from Ignite 2017 (https://myignite.microsoft.com/videos/54781).  This link does not exist.

Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fab47b-3b7a-c02e-c863-2c60f0e06f94
* Version Independent ID: f1643e7a-14eb-c372-8099-2f412c954717
* Content: [Overview of

[2018-11-30 21:29] malytskyy commented on #19758
@MicahMcKittrick-MSFT thanks for clarifications!

On IP address, so there is actually a variable with such name - my bad.

Regarding networking - I am completely new to both service fabric and service fabric mesh and evaluating the latter in context of running my windows based containers. Therefore, it is not known to me to what extend both technologies (service fabric and service fabric mesh) are

[2018-11-30 21:30] #19758 closed

[2018-11-30 21:33] MarileeTurscak-MSFT commented on #19762
You can only have users as app owners. Even though Object ID is generic in this case it only refers to the user Object ID. You can request the ability to assign AD Groups as application owners in User Voice. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/6688284-ad-groups-in-application-owners

[2018-11-30 21:33] MarileeTurscak-MSFT commented on #19762
We will now proceed to close this thread. If you have further questions please feel free to tag me in the comments and I will gladly continue the conversation.

[2018-11-30 21:33] #19762 closed

[2018-11-30 21:34] MicahMcKittrick-MSFT commented on #19758
@malytskyy happy to help anyway I can! :) Service Fabric is a large product and there is lots to learn.

I would suggest starting with the Service Fabric Documentation

https://docs.microsoft.com/en-us/azure/service-fabric/

This is where I began to learn about SF. We have lot's of demos and examples for you to follow long with and learn.

Same for Service Fabric Mesh

https://docs.microsoft.com/e

[2018-11-30 21:34] MarileeTurscak-MSFT commented on #19767
@theSARMproject
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-30 21:41] #19633 closed

[2018-11-30 21:46] jordi-j opened #19794 "Configure the Intranet Zone for client machines - URLs needed"
Hi,
the section Configure the Intranet Zone for client machines specifies that 2 URLs are needed. However, step 4 of the procedure contains only 1 URL, while the image after step 5 contains two (and being an image is difficult to assess if the 2nd URL is shown as a sample or is also mandatory). Could you please resolve the ambiguity by fixing the text or the image? Thanks.

---
#### Document Detai

[2018-11-30 21:50] YutongTie-MSFT commented on #19787
@managedcoder Thanks for your feedback, I will investigate it and get back to you soon.

[2018-11-30 21:53] YutongTie-MSFT commented on #19553
@manhquang144 I am sorry we don't have specific date for you. But it will come in the coming weeks. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 21:53] #19553 closed

[2018-11-30 21:54] mattbriggs commented on #19761
@dipito31 Thanks for pointing this out. I've updated the tag at the top of the page. The content for Azure Monitor on Azure Stack should be updated with our next doc build. #please-close

[2018-11-30 21:55] jason-j-MSFT commented on #19777
@willatmicrosoft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 21:55] rasavant-ms opened #19795 "Blog post link returns page not found"
Blog post link -- https://blogs.msdn.microsoft.com/gyan/2014/09/02/event-hubs-receiver-epoch/|
returns page not found error.
Update with latest link please!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78479c3a-c7b1-e27c-b390-107ba95d0fac
* Version Independent ID: 75219d0f-6fa7-0991-7fc0-bfe59e4c1da6
* Content: [What

[2018-11-30 21:55] jason-j-MSFT commented on #19781
@Placid7
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-30 21:58] mattbriggs commented on #19400
@Mahesh-MSFT Found out some of what is going on. For your first question, Each disk has 2300 iops (2300 would be the limit). The second item in the wizard, that number is an error in the portal. The portal team has been notified, and they will fix as soon as they are able to. Sorry for the confusion about that. Thanks for letting me know. #please-close

[2018-11-30 22:01] #19793 closed

[2018-11-30 22:04] dcasati opened #19796 "Missing resistor from the schematics"
Folks -

I believe that the proposed schematics is missing a resistor between the DHT22 VCC and Data pin. I've had some odd experiences of not having this resistor there and the DHT22 reporting 0 for temp and humidity. The resistor should be valued between 4.7K and 10K which is what Adafruit recommends (https://www.adafruit.com/product/385).

Happy to assist with a new diagram here.

---
#### Docu

[2018-11-30 22:06] Mike-Ubezzi-MSFT commented on #18494
Is there a content author who can take on this doc issue? @barbkess @ronortloff @giladmit @craigg-msft

[2018-11-30 22:09] TravisCragg-MSFT commented on #19761
@dipito31 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 22:09] #19761 closed

[2018-11-30 22:09] TravisCragg-MSFT commented on #19400
@Mahesh-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 22:09] #19400 closed

[2018-11-30 22:11] MarileeTurscak-MSFT commented on #19398
@alaurie I have assigned this issue to the content author, @curtand , to pass your feedback onto the product team.

[2018-11-30 22:17] kgremban commented on #19739
@evan-morris The article that's linked to this issue is about installing a container engine on an IoT Core device. Is it the container engine that you want to uninstall? Or is it individual containers on the device?

[2018-11-30 22:22] gacurtin opened #19797 "Add PowerShell Commands to unregister server"
To make this document consistent, I think it is worth adding the powershell commands to unregister a server.  "Unregister-AzureRmStorageSyncServer [-Id] &lt;string&gt; [[-Force]]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4814031f-3cca-10a6-8587-cf1a045d2481
* Version Independent ID: b96d1378-9a11-c00e-1c84-a69d4f

[2018-11-30 22:30] curtand commented on #18601
Hi @CHDAFNI-MSFT
I opened a PR with the update, which is in review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/59273

Thanks for your addition.

[2018-11-30 22:30] #19788 closed

[2018-11-30 22:37] jackbond opened #19798 "Nice cheat"
It's really great when someone gets truly lazy and does something like this

/SourceSAS:SAS1

Thanks for that. So instead of some nice clear documentation, people waste a bunch of time trying to figure out the correct format of SAS1. Good job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566f

[2018-11-30 22:40] mattbriggs commented on #18754
@ebibibi I think the typo was that the function was in Azure Stack. The function is tied to the storage account. But these are for blob account (rather than 'blog') but I think that is what you meant. I've updated the doc and should be updated shortly. Thanks! Matt #please-close

[2018-11-30 23:04] Liversage commented on #19766
@MicahMcKittrick-MSFT I can't speak on behalf of DigiCert but I'm pretty sure that while you are able to order the certificate you will not actually get it. Or perhaps you will because you are an Microsoft employee which I'm not but that's not really my point.

To get a certificate with a common name that is a domain name you need to validate that you "own" the domain name. This domain validation

[2018-11-30 23:05] arnabganguly commented on #18523
@hrasheed-msft :  What is the resolution to this ?

[2018-11-30 23:05] sergaz-msft commented on #19325
Hello @Darcy123 I can't find an issue related with yours on [Azure IoT SDK repo](https://github.com/Azure/azure-iot-sdk-c/issues) yet. Let us know when you open the issue there so that we can link both threads for others to follow up as well.

Thank you so much!

[2018-11-30 23:06] sergaz-msft commented on #19325
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 23:06] #19325 closed

[2018-11-30 23:11] sergaz-msft commented on #19367
Hello @kurtng , since this is a feature request can you post this as a feedback @ [Azure IoT Edge Uservoice](https://feedback.azure.com/forums/907045-azure-iot-edge). This will allow the community to upvote and for the product team to include into their plans.

Thank you so much!

[2018-11-30 23:12] sergaz-msft commented on #19367
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 23:12] #19367 closed

[2018-11-30 23:17] sergaz-msft commented on #19394
Hello @khaleephant, can you open a new issue on [Azure IoT C SDK repo](https://github.com/Azure/azure-iot-sdk-c/issues) and reference this one there? I believe that the issue you are facing may be related with this one: https://github.com/Azure/azure-iot-sdk-c/issues/746

Thank you so much!

[2018-11-30 23:18] sergaz-msft commented on #19394
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-30 23:18] #19394 closed

[2018-11-30 23:34] Adam-Smith-MSFT commented on #19791
@samiam236 That's a good question ! As of now, there is no way to limit access to the specific storage account using Storage Explorer. It currently only uses SAS or subscription for your account. I'd highly recommend posting this as a feedback so the Product Group team checks it: https://feedback.azure.com/forums/217298-storage We will now proceed to close this thread. If there are further questio

[2018-11-30 23:34] #19791 closed

[2018-11-30 23:35] Adam-Smith-MSFT commented on #19797
@gacurtin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 23:36] Adam-Smith-MSFT commented on #19798
@jackbond Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-30 23:37] sergaz-msft commented on #19466
Hello @henrybluey can you please clarify the documentation you are following and on which step you are blocked? Thank you!

[2018-11-30 23:41] Mike-Ubezzi-MSFT commented on #19158
Bottom of this page: https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet

[2018-11-30 23:44] sergaz-msft commented on #19477
Hello @saikumaru can you let us know the demo video you are referring to? Also did you try using [telemetry rule](https://docs.microsoft.com/en-us/azure/iot-central/howto-create-telemetry-rules) or [event rule](https://docs.microsoft.com/en-us/azure/iot-central/howto-create-event-rules)?

I am assigning the issue to the content author of this documentation @viv-liu to help us identify known issues

[2018-11-30 23:45] evan-morris commented on #19739
Whatever it takes for the end user to replace an installation e.g. I got an RS5 preview & had to rip out the 1803 container. Just a ‘nice to have’ because my experience with Docker is that it is not easy to uninstall / re-install.

From: Kelly Gremban <notifications@github.com>
Sent: Friday, November 30, 2018 2:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Morris, Evan (HP

[2018-11-30 23:53] sergaz-msft commented on #19478
I am adding the content author @ankitgupta to enhance the documentation and help clarify your questions.

Thank you!

[2018-11-30 23:54] mattbriggs commented on #18986
@mjuza Thanks again. I've updated the topic with this selection. #please-close

[2018-12-01 00:00] sergaz-msft commented on #19552
Hello @naznaaa . Because you developed custom code this is not supported on the documentation issues. Please can you ask this question on the [Azure IoT Python SDK repo](https://github.com/Azure/azure-iot-sdk-python/issues) ?

Let us know the link so others can follow-up there as well :).

Thank you so much!

[2018-12-01 00:00] sergaz-msft commented on #19552
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-01 00:00] #19552 closed

[2018-12-01 00:04] sumeetmittal commented on #18816
@jhealy - The reason why we don't want to publish all limits here is because each service have different limits and these can change based on service needs. Consolidating these on this overview pages can lead to content going out of sync and may cause confusion in future.  But your feedback is deeply appreciated.  I will find a way to link these limits to this page in next few weeks. Thanks

[2018-12-01 00:07] sergaz-msft commented on #19630
Hello @naznaaa. The port for ESP32 is maintained by Espressif [here](https://github.com/espressif/esp-azure).  For reference, if you are looking for ports maintained by our partners, this is the up-to-date [list](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-sdk-platform-support#partner-supported-platforms).

Thank you!

[2018-12-01 00:08] sergaz-msft commented on #19630
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-01 00:08] #19630 closed

[2018-12-01 00:09] sergaz-msft commented on #19631
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/19630

[2018-12-01 00:09] #19631 closed

[2018-12-01 00:37] Grace-MacJones-MSFT commented on #19783
@joshuafredrickson, the documentation has been updated. The change should be reflected in 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-01 00:37] #19783 closed

[2018-12-01 00:56] blouwagie commented on #19748
That is exactly the problem with Microsoft documents, they are so
fragmented, and as an end user we spend much too much time trying to piece
together the fragments, hours often to find that other missing part. So
please, since the MFA logon window shows the branding, a user who sets up
MFA will/may need to know how/where to change that. So in your document you
should say something like... "When yo

[2018-12-01 01:18] MohitGargMSFT commented on #19635
@prtdomingo We will now proceed to close this thread. Thanks.

[2018-12-01 01:18] #19635 closed

[2018-12-01 01:19] MohitGargMSFT commented on #19651
@glaisne We will now proceed to close this thread. Please open a new issue on the document on which feedback is provided and we will gladly continue the discussion.

[2018-12-01 01:19] #19651 closed

[2018-12-01 01:30] MohitGargMSFT commented on #19792
@tsrikanth06 Thanks for your feedback! We will investigate and update soon on it.

[2018-12-01 01:32] MohitGargMSFT commented on #19790
@lfraile Thanks for your feedback! We will investigate and update soon on it.

[2018-12-01 02:34] jamiepassa commented on #15216
Hi @Karishma-Tiwari-MSFT,

So it looks like I am experiencing this issue:
https://stackoverflow.com/questions/52548649/windows-vm-in-azure-stuck-at-hi-there

I followed everything step by step and it worked perfectly but now the image is booting to the OOBE which obviously I cannot bypass. I saw someone mentioned bringing the image back down, boot to hyperv and finish the questions but doesnt that

[2018-12-01 03:02] g0pinath commented on #18943
It looks like this is the expected behaviour.
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows

There are some notes under troubleshoot and support that talks about using relative path. It would be cool if you can add some documentation explaining in the template section too.

[2018-12-01 04:29] BryanTrach-MSFT commented on #19578
@ozanbora Linux Web Apps is a newer offering than Windows Web Apps. As a result, feature parity is still not equal. Web sockets on Linux Web Apps are still not supported.

With that being said, I will be meeting with the product group in two weeks and will share your feedback with them to see if we can get an updated status on this feature.

We will now proceed to close this thread. If there are f

[2018-12-01 04:29] #19578 closed

[2018-12-01 04:32] BryanTrach-MSFT commented on #19790
@lfraile We would like to work closer with you on this matter to better understand the issue. Can you please reach out to us at azcommunity@microsoft.com and provide us the URL of this post and your subscription ID?

We will proceed to closeout this issue since we are taking the discussion offline.

[2018-12-01 04:32] #19790 closed

[2018-12-01 04:40] samiam236 commented on #19791
@Adam-Smith-MSFT thanks for the explanation!

Feedback submitted: https://feedback.azure.com/forums/217298-storage/suggestions/36161128-allow-role-based-access-control-in-azure-storage-e

[2018-12-01 05:47] nssidhu opened #19804 "Is it possible to Delete or move email using Logic App"
Say based on certain text in Subject line i either want to delete or move the Email to Trash. Is that possible using Logic App or using Combination with Azure Function for both Gmail & Microsoft email? How do i find out what kind on Operation can i carry out on Emails ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77

[2018-12-01 06:50] MohitGargMSFT commented on #19804
@nssidhu Thanks for your feedback! We will investigate and update soon on it.

[2018-12-01 07:14] JohnReeson commented on #19517
That step should work for v1 Function app created before v2 was GA, right now new Function app has no app setting `AzureWebJobsDashboard` by default.

[2018-12-01 07:32] JohnReeson commented on #15485
The c# example is for v2 while c# script is for v1.

[2018-12-01 07:42] djpirra opened #19805 "ListByPipelineRun"
Apparently the method ListByPipelineRun does not exist anymore on the ADF Client? Now I only see QueryByPipelineRun. Should this be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7bf6-078c18b70fe6
* Content: [Create an Azure data

[2018-12-01 08:02] AjayKumar-MSFT commented on #19393
@brendanarnold, Thank you for the update and clarification. Am checking on this internally and will get back to you soon.

[2018-12-01 08:06] JohnReeson opened #19806 "AzureWebJobsSecretStorageType description"
See this [wiki](https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V2). It says v1 use files and v2 uses blob right now and there seems no restriction related to app service plan and consumption plan.  Thanks for your patience!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54

[2018-12-01 08:53] mcurko commented on #19769
I don't know how to use VS Code, but I see in hub metrics "telemetry messages sent" arriving at a rate of 60/second.

________________________________
From: António Sérgio Azevedo <notifications@github.com>
Sent: Friday, November 30, 2018 7:30:30 PM
To: MicrosoftDocs/azure-docs
Cc: Marko Čurko; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Doesn't work (#19769)

Hello @mcurko<https://github.com/

[2018-12-01 09:32] mcurko commented on #19158
OK, it's working fine, I think I forgot to select the correct API!

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Saturday, December 1, 2018 12:41:36 AM
To: MicrosoftDocs/azure-docs
Cc: Marko Čurko; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Error (#19158)

Bottom of this page: https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet

[2018-12-01 11:43] Anmolgan81 opened #19807 "This document needs to be updated for how can we migrate mutiple databases simultaneously ?"
I have gone through the below document https://blogs.msdn.microsoft.com/datamigration/2018/02/08/automating-the-end-to-end-migration-of-sql-server-to-azure-sql-database-using-the-azure-database-migration-powershell-module/

That stats about automating the bulk database migration, but it seems like the DMS scripts that the guy is wirtten has errors in itself, I was not able to perform 2-3 database

[2018-12-01 11:54] Anmolgan81 commented on #19807
Now I am getting the below error after correcting my powershell script

New-AzureRmDataMigrationTask : Operation returned an invalid status code 'Forbidden'
At line:8 char:12
+ $migTask = New-AzureRmDataMigrationTask -TaskType MigrateSqlServerSql ...
+            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [New-AzureRmDataMigration

[2018-12-01 16:47] #17136 closed

[2018-12-01 17:50] felipepessoto commented on #19517
It means we can't disable it? Or we don't need to?

I'm asking because of this:

"Application Insights is recommended. If built-in logging is used in production, the logging record may be incomplete due to throttling on Azure Storage."

[2018-12-01 17:57] MohitGargMSFT commented on #19805
@djpirra Thanks for your feedback! We will investigate and update soon on it.

[2018-12-01 17:58] MohitGargMSFT commented on #19806
@JohnReeson Thanks for your feedback! We will investigate and update soon on it.

[2018-12-01 17:59] MohitGargMSFT commented on #19807
@Anmolgan81 Thanks for your feedback! We will investigate and update soon on it.

[2018-12-01 18:16] AleksandrovM opened #19811 "I use US East and US Central, can I treat them as paired ?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity and disaster recovery (BCDR): Azure Paired Regions](https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions)
* Conte

[2018-12-01 19:47] Roblarson opened #19814 "Note about RBAC Roles does not include Azure CLI support"
The note at the top of the article references that RBAC roles are only supported via portal and PowerShell. I assume that needs to be updated to include REST and CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0294f74-c28c-01e2-d096-a2ef7ce0ffc7
* Version Independent ID: a9755f49-9599-5ed6-a6ef-eed045aeee29
* Cont

[2018-12-01 19:49] fernandoBRS commented on #18993
@aepsicom there's an additional step to configure your IoT Hub message routing to send telemetry to the built-ind endpoint:

[code]

[2018-12-01 20:48] pochiraju commented on #19807
I will look into tonight

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Saturday, December 1, 2018 11:59 AM
To: MicrosoftDocs/azure-docs
Cc: Venkata Raj Pochiraju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] This document needs to be updated for how can we migrate mutiple databases simultaneously ? (#19807)

@Anmo

[2018-12-01 21:00] FreedCapybara commented on #19485
I figured it out!

I was able to make the example work using the CLI (see https://keyvault-example-cli.azurewebsites.net/api/values if I haven't deleted it), and figured out how to do it from the UI.

In the screenshot above, I had set Authorized Application to Azure Key Vault. Seems reasonable, right? But it doesn't work -- just leave that field blank and it works great 👍 (see https://microservic

[2018-12-02 00:01] YutongTie-MSFT commented on #19645
@asyba We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-02 00:01] #19645 closed

[2018-12-02 00:58] YutongTie-MSFT commented on #19542
@CHEEKATLAPRADEEP-MSFT Hi Pradeep, do you have any update for this issue? Thanks a lot.

[2018-12-02 01:32] steversk opened #19819 "Not useful since it only works for a single VM"
This isn't very useful since it only shows how to add a single VM. Most customers have the need to show all of their VMs in a dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fb1c00-f103-92c2-32e9-eefae46a6ce9
* Version Independent ID: 33555263-7be5-7164-310d-e97e6bea6704
* Content: [Programmatically create

[2018-12-02 02:07] HaoHoo commented on #19139
It's looks like that OK now.
I can link the App Service to root domain and it's access normally.

[2018-12-02 03:38] MohitGargMSFT commented on #19811
@AleksandrovM Please help with the document on which this feedback is provided. Thanks.

[2018-12-02 03:40] MohitGargMSFT commented on #19814
@Roblarson Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 03:41] MohitGargMSFT commented on #19819
@steversk Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 05:17] saikumaru commented on #19477
Hi,
This is the video I referred to.
https://channel9.msdn.com/Shows/Visual-Studio-Toolbox/Windows-IoT-6--Taking-your-Windows-IoT-Core-Smart-Device-Further

Yes, I had tried to setup rules with both event and telemetry. Dint work for either.

Thank you and appreciate your help.

[2018-12-02 06:46] Anmolgan81 commented on #19807
Any updates on this thread?

[2018-12-02 07:18] DimaGershman opened #19821 "Migrating existing system without "downtime"?"
Hi,
I have web API (Azure Functions) secured with AAD B2C , that currently has configured the Issuer URL to login.microsoftonline.com. Now, if the client app gets a security token from b2clogin.com - the web API rejects it. I guess if I update the Issuer URL first, then the old version apps would fail as well, which means I can not gradually migrate to b2clogin...
Am I missing anything?

Thanks!

[2018-12-02 07:34] pelagos opened #19822 "resource group typo"
Hi there

You initially create 'myResourceGroup3', but in the cleanup script you remove 'myResourceGroup'.

Is this a typo or am I missing something?

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aefb8656-ab1a-bbde-c2d0-d30e5ed42820
* Version Independent ID: c059b9f5-5513-8959-e416-84c801a099cb
* Content: [Azu

[2018-12-02 07:38] Anmolgan81 commented on #15689
@vchske hi I was automating the migration of 700+ databases using the same schema, I have automated this to an extent, I have built a script which which will hse the DMS to migrate those databases but currently it's failing, I have reached out to raj here as well, but I want to get this done today, let me know if anyone wants to help me on this and I will share the script which I am using to autom

[2018-12-02 09:12] akfkmupiwu opened #19823 "Where to run tests"
Can you please update or suggest where to run integration tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2817660c-2b71-3278-dcde-497b9bc6ad55
* Version Independent ID: edaa4f01-f6ae-10a4-e2a9-46bc092e4efe
* Content: [Quickstart: Create a CI/CD pipeline for .NET with Azure DevOps Projects](https://docs.microsoft.

[2018-12-02 10:30] ddobric opened #19824 "Unclear description of manual handshake"
Topic "ValidationURL handshake (Manual handshake)" is unfortunately not clearly described.

Btw.: Why it is necessary to provide this kind of validation? Some security reasons are understandable, but why shouldn't be possible to support any web hook URL without any validation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-02 10:51] divvyam commented on #7662
Could someone please explain the difference between "Id" and "kesEntityId", returned after a get request to "evaluate" api.
Both of them are unique.

[2018-12-02 10:59] divvyam opened #19825 "difference between Id and kesEntityId"
This may be a rudimentary question but please explain the difference between "Id" and "kesEntityId", returned after a get request to "evaluate" API.
Both of them are unique.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7fdc3-0631-b959-0af4-faf35d512e67
* Version Independent ID: d43cbd6a-5dd1-0e6a-70cb-252096b1b112

[2018-12-02 12:36] sebastianzolg opened #19826 "Possibility to limit access to only selected tenants"
In case of AAD, can we somehow configure the Issuer URL to carry an array of tenant IDs to allow multiple selected tenants only? The only way to achieve this right now is to clear Issuer URL with the result of every tenant being able to access the resources. I can't find a documentation for such a scenario and I believe it should be quite common in B2B scenarios.

---
#### Document Details

⚠ *Do

[2018-12-02 14:53] yotauber opened #19827 "How does the Custom Script Extension know if my script failed, and does it gather any error information?"
Script failures are mentioned in this documentation.
How does the Custom Script Extension infrastructure know whether my script succeeded or not? Is it based on exit codes?
When it fails (and possibly when it succeeds), is the failure reason propagated anywhere? If so, from where? Does it look at the stdout/stderr of my script?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-12-02 14:53] ladvijbbk commented on #9235
Hi - what did you update, I just downloaded and it failed:
The line:

message_serializer=serializer.GraphSONSerializersV2d0()

I had to change to:
message_serializer=serializer.GraphSONMessageSerializer()

For Python 3.7 and gremlinpython 3.2.7

[2018-12-02 15:41] MarkusVi commented on #19660
#please-close

[2018-12-02 16:40] ericbarch opened #19828 "Creating collections no longer works via 3rd party tools"
As far as I can tell, Cosmos DB no longer supports creating collections via Studio 3T. I am always presented with the error "Shared throughput collection should have a partition key" when following the instructions listed above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d6cd84-d0c4-eea9-c2c6-e6f3be91dad8
* Versi

[2018-12-02 17:12] mapoitras commented on #19724
Hi!  Yes that works.  It's when I add the Add-ons at the same time as the create that it fails.    Can you recreate the bug if you put both add-ons at the create time?

[2018-12-02 17:13] AjayKumar-MSFT commented on #19686
@AkshathaSP ,Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-12-02 17:13] #19686 closed

[2018-12-02 17:29] MicahMcKittrick-MSFT commented on #19822
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-02 17:30] MicahMcKittrick-MSFT commented on #19827
Thanks for the question! We are investigating and will update you shortly.

[2018-12-02 17:33] MicahMcKittrick-MSFT commented on #19823
Thanks for the question! We are investigating and will update you shortly.

[2018-12-02 17:34] #18754 closed

[2018-12-02 17:34] #18986 closed

[2018-12-02 17:34] #19660 closed

[2018-12-02 17:57] tiny-dancer opened #19829 "Options for dashboarding and alerting"
What are the options/plans for this data to be queryable from a dashboarding and alerting tool in Azure?

For example, trigger an alert (e.g. webhook) everytime a new public IP is created?

Thanks, this is awesome!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0b3fab4-e51e-14d4-25cc-a753b0459044
* Version Independent

[2018-12-02 18:11] danvanderboom opened #19830 "Typo"
“conitnue to functionate normally”

function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5694a0e-53c2-4b8f-fc65-15b56b0e8f11
* Version Independent ID: 6bd8853e-6134-3488-39d0-b294e933dc89
* Content: [Cluster Resource Manager Cluster Description](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-c

[2018-12-02 18:17] MarkusVi commented on #19660
Hi @martinagrom, neither Require multi-factor authentication nor Require password change do apply in this context.

[2018-12-02 19:26] tiny-dancer opened #19831 "Querying array fields"
Is or can there be an example provided on how to work with [*] fields?

For example, with the below data - how would one construct a query to return all id's where DestinationPortRange != 443 and is an Inbound direction?

Matching the array index between the two DestinationPortRange and Inbound fields is the tricky part I haven't found a good reference.

[code]

Thanks!

---
#### Document Details

[2018-12-02 20:42] Alberto-Vega-MSFT commented on #18993
@fernandoBRS Thanks for the help  ☺️  I am a little confused though. I was able to follow the document and it worked for me  as the author described.
![iothubdata](https://user-images.githubusercontent.com/10910841/49344653-41a49100-f62f-11e8-9615-56fd7be86ae2.PNG)
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-02 20:48] Alberto-Vega-MSFT commented on #19564
@Jodelautomat Thanks for your help.

[2018-12-02 20:48] #19564 closed

[2018-12-02 21:26] tommcclean opened #19832 "Following this article with VueJS (vue-CLI 3) doesn't work"
After installing the NPM package and adding the script to my webpack entry point, when I run my website I get the following errors

 ERROR  Failed to compile with 3 errors                                                                                                             9:23:50 PM
These dependencies were not found:

* console in ./node_modules/diagnostic-channel-publishers/dist/src/consol

[2018-12-02 22:33] Alberto-Vega-MSFT commented on #19523
@evan-morris Thanks again for the feedback! I did not face any issue with the back tick, it should work as a line continuation just for formatting purposes. Can you share the error you got? Maybe it can be substituted for a pipe character? I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-02 22:43] MohitGargMSFT commented on #19821
@DimaGershman Please help with the document on which this feedback is provided. Thanks.

[2018-12-02 22:45] MohitGargMSFT commented on #19824
@ddobric Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:47] MohitGargMSFT commented on #19825
@divvyam Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:49] MohitGargMSFT commented on #19826
@sebastianzolg Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:50] MohitGargMSFT commented on #19828
@ericbarch Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:51] MohitGargMSFT commented on #19829
@tiny-dancer Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:52] MohitGargMSFT commented on #19830
@danvanderboom Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:54] MohitGargMSFT commented on #19831
@tiny-dancer Thanks for your feedback! We will investigate and update soon on it.

[2018-12-02 22:57] MohitGargMSFT commented on #19832
@tommcclean Thanks for your feedback! We will investigate and update soon on it.

[2018-12-03 00:47] dcbrown16 commented on #19752
I think I can clarify the ask - might it be better if the document in question said something like "When automatic provisioning is enabled, <don't do the stuff here>?"
There are several scenarios where you may not want automatic provisioning discussed below and the customer I'm working with is considering disabling it.
https://docs.microsoft.com/en-us/azure/security-center/security-center-faq#shou

[2018-12-03 01:32] AceLiu21 commented on #5958
@Tom FitzMacken
Hi Tom
 i saw the Document for the page: https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/2018-01-22/provisioningservices.
But when using ARM Template deploy the Dps with Microsoft.Devices/provisioningServices/certificates.
the have error response:""The request content was invalid and could not be deserialized: 'Could not find member 'certificate' on object of typ

[2018-12-03 01:38] mike-urnun-msft commented on #19804
Hello @nssidhu,

You can certainly achieve such a workflow since [Logic Apps allows up 10 triggers per workflow](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-definition-language#workflow-definition-structure) (see the trigger row in the table).

For available operations, please refer to links below:
- [Outlook connector & its operations](https://docs.microsoft.com/en-us/co

[2018-12-03 01:46] Karishma-Tiwari-MSFT commented on #18943
@g0pinath Thanks for sharing the information. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-03 01:47] Karishma-Tiwari-MSFT commented on #19571
@StingyJack Hope the above solution helped. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-03 01:47] #19571 closed

[2018-12-03 01:49] Karishma-Tiwari-MSFT commented on #19760
@PaulTozer Any update? Please share if you are seeing the above in the Azure portal. Thanks.

[2018-12-03 02:53] v-maroge opened #19839 "Info about "Azure Media Services integration with Azure CDN" not clear"
"Azure Media Services integration with Azure CDN is implemented on Azure CDN from Verizon for standard streaming endpoints. Premium streaming endpoints can be configured using all Azure CDN pricing tiers and providers" Does this mean other Azure CDN providers besides Verizon( particularly want to know Akamai) can not be set as Standard streaming endpoint? Can it be set if use REST API?

---
#### D

[2018-12-03 03:34] ericlicoding commented on #17563
@ArslanAli7  – thank you for your remarks. I’ve updated the article with the URL updated.
#please-close.  If there are further questions regarding this matter, please tag me in your reply.

[2018-12-03 03:39] natchaporing commented on #19406
Sorry for reply too late. Thank you so much

[2018-12-03 03:48] ankitbko opened #19842 "Typescript support"
By when can we expect typing file for this? Also any ETA on npm package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
* Version Independent ID: 4b868e15-0248-635c-aa2f-d591bbc77d65
* Content: [About the Speech Service SDK - Azure Cognitive Services](https://docs.microsoft.com/en-u

[2018-12-03 04:06] GLComputing opened #19843 "Win 2008R2 DC in forest?"
The article states that the DCs running the services must be W2012 or later.
Would there be any issues in a forest that also has a W2008R2 (or SBS2011) DC in the mix as well?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Independent ID: e636b9d1-be81-0f00-97c4-ff4fa9078be

[2018-12-03 04:32] YutongTie-MSFT commented on #17563
@ArslanAli7
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion

@ericlicoding Thanks a lot Eric!.

[2018-12-03 04:32] #17563 closed

[2018-12-03 04:48] AshokPeddakotla-MSFT commented on #19668
@linda33wj Could you please take a look at this and provide any alternatives or suggestions.

[2018-12-03 04:55] ManojReddy-MSFT commented on #19789
@blouwagie This [article ](https://docs.microsoft.com/bs-cyrl-ba/azure/active-directory/reports-monitoring/quickstart-azure-monitor-route-logs-to-storage-account?view=azuremgmtservicebus-0.1.0-preview)explains how to export the logs to a storage account.

I am assigning this to the author to consider adding this reference to the doc. Thanks.

[2018-12-03 05:00] ManojReddy-MSFT commented on #19794
@jordi-j I have assigned this to the author to validate and update the doc accordingly. Thanks.

[2018-12-03 05:09] yanancai commented on #15508
Thanks @solidcloudio for your feedback! Like you said, the command line is not correct. I am updating the doc with PR MicrosoftDocs/azure-docs-pr#59363.

[2018-12-03 05:21] ManojReddy-MSFT commented on #19654
@dan1els login_hint is not described anywhere in the SAML RFC. However supporting it depends completely on the IDP.

Currently Azure AD does not support it and I would appreciate it if you provide your feedback with your scenario [here ](https://feedback.azure.com/forums/169401-azure-active-directory), for the engineering team to consider adding it.

[2018-12-03 05:30] CHEEKATLAPRADEEP-MSFT commented on #19461
@Excelaint We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-03 05:30] #19461 closed

[2018-12-03 05:32] CHEEKATLAPRADEEP-MSFT commented on #19489
@freakyfriday We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-03 05:32] #19489 closed

[2018-12-03 05:32] tumtum73 opened #19845 "Textual runbook sample appears to fail"
I'm using the sample script in the "Textual runbook sample" but when the runbook runs, it repeats the Connect-AzureRMAccount three times and never appears to get the connection or setup an environment where I can execute commands.  Am I doing something wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81c284ea-3656

[2018-12-03 05:49] CHEEKATLAPRADEEP-MSFT commented on #19842
@ankitbko Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-03 06:08] angoyal-msft commented on #19158
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Regards, Anurag

[2018-12-03 06:09] #19158 closed

[2018-12-03 06:15] AjayKumar-MSFT commented on #19839
@v-maroge, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-03 06:20] jakaruna-MSFT commented on #19830
@danvanderboom Just checked the meaning for functionate. Looks like "functionate" also fits that scenario. But "function" will be much simpler. Let me know your comments.

[2018-12-03 06:42] forester123 commented on #19155
Offline synced with @KetanChawda-MSFT , need to contact Mooncake PG directly instead of here, thanks a lot for the help and I'm closing this issue

[2018-12-03 06:42] #19155 closed

[2018-12-03 06:45] genlin commented on #18260
@adhiggs  The screenshot had been updated. Thanks. I will process to close this issue. Feel free to reopen it if you have additional comment.

#sign-off

[2018-12-03 06:45] genlin commented on #18260
#please-close

[2018-12-03 06:56] genlin commented on #19049
@SamirFarhat Currently, this article only covers pay-as-you-go scenarios. If you are using other subscription offers such Azure in Open, please contact [our support](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest) to see if the move can be supported.

[2018-12-03 06:56] genlin commented on #19049
#please-close

[2018-12-03 07:10] CHEEKATLAPRADEEP-MSFT commented on #19828
@ericbarch I have followed the same [document](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-mongochef) and able to create databases, collections, and documents with Studio 3T tool.

![image](https://user-images.githubusercontent.com/44426401/49358315-3a958580-f6f8-11e8-84c7-ee3905bb82a7.png)

Could you share the steps which you have followed, and which step does it throws this error me

[2018-12-03 07:12] genlin commented on #18580
@mbrancato Thanks for pointing out the problem. Yes, the service name should be "WindowsAzureGuestAgent". I will update the article.

[2018-12-03 07:36] CHEEKATLAPRADEEP-MSFT commented on #19542
@GraemeMalcolm  Yes, you are correct.
The Custom Vision is available in South Central US and the endpoint remains same for every project.

ENDPOINT = [https://southcentralus.api.cognitive.microsoft.com](https://southcentralus.api.cognitive.microsoft.com)

As you mentioned, the endpoint should be reflected in the customvision.ai portal or Azure portal.
I would suggest you to provide the feedback on

[2018-12-03 07:39] YutongTie-MSFT commented on #19542
@GraemeMalcolm We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-03 07:39] #19542 closed

[2018-12-03 07:57] ManojReddy-MSFT commented on #19299
@omniayehia8 We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-03 07:57] #19299 closed

[2018-12-03 08:00] dcbrown16 commented on #19632
Any progress here? I'm in ProDirect support and there is a customer waiting on this issue. Thanks!

[2018-12-03 08:02] #18260 closed

[2018-12-03 08:02] #19049 closed

[2018-12-03 08:06] genlin opened #19846 "Windows Guest Agent should be "Windows Azure Guest Agent""
In the Windows VM, the service is named "Windows Azure Guest Agent".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a01146cd-ccd3-210d-66ee-d097ba958061
* Version Independent ID: d3726453-07cd-414e-cac8-49497b1540d6
* Content: [Azure VM extensions and features for Windows](https://docs.microsoft.com/en-us/azure/virtual

[2018-12-03 08:10] MohitGargMSFT commented on #19843
@GLComputing Thanks for your feedback! We will investigate and update soon on it.

[2018-12-03 08:11] fleed commented on #19540
Hi @MicahMcKittrick-MSFT
The problem is not connecting to the service fabric explorer, but to the admin endpoint so that we can deploy new software directly from Azure DevOps pipelines

[2018-12-03 08:13] MohitGargMSFT commented on #19845
@tumtum73 Thanks for your feedback! We will investigate and update soon on it.

[2018-12-03 08:14] MohitGargMSFT commented on #19846
@genlin Thanks for your feedback! We will investigate and update soon on it.

[2018-12-03 08:19] stridsbr opened #19847 "host.json autoComplite"
The trigger don't immediately mark the message as complite. First it process the message then mark is at complite if there is no exception thrown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azure Service

[2018-12-03 08:38] zalmane opened #19848 "Container support for LUIS and other services"
Are there plans / timeline for also releasing LUIS in a container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c94dc-0175-5575-0d82-484e9c8db0b4
* Version Independent ID: f441d4c5-cd5c-0557-bdf0-e97c18cf5597
* Content: [Container support in Azure Cognitive Services - Azure Cognitive Services](https://docs.microso

[2018-12-03 08:43] genlin commented on #18580
@mbrancato  The pull request for updating the service name has been merged.  I will process to close this issue. Feel free to reopen it if you have additional comment.

#please-close

[2018-12-03 09:14] ManojReddy-MSFT commented on #19843
@GLComputing Yes, if the users get redirected to the 2008 R2 DC then it will not be able to compare the password provided with the banned password list and will not be able to restrict the users from setting them.

You should either make them Read only DCs or disable them for this feature to work completely.

[2018-12-03 09:15] huczas opened #19849 "Wrong CLI command"
There is "az vm assign-identity" but should be "az vm identity assign"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b475d8ea-7e4f-9ccf-2d04-246f5e29dc6d
* Version Independent ID: a38705ee-6ccc-96d4-dd38-df462d7cfbc6
* Content: [Use a Linux VM user-assigned managed identity to access Azure Resource Manager](https://do

[2018-12-03 09:18] cephalin commented on #19573
@luiscantero The change is published now. Thanks for bringing it to our attention. #please-close

[2018-12-03 09:34] jakaruna-MSFT commented on #19827
@yotauber The command we give in "commandToExecute" is executed in command prompt. I tried couple of scenarios.
- In the first scenario, I gave a non existent file in the file URI. In this case provisioning failed with the status "Failed to download all specified files. "
- In the second scenario, I gave a PowerShell file in the URI with a non existent command in it. In this case, Provisioning suc

[2018-12-03 09:38] jakaruna-MSFT commented on #19822
@pelagos You are right. That's a typo.

[2018-12-03 09:39] davidhendrickmb commented on #19759
@MohitGargMSFT thanks for coming back. I was looking at the documentation here [https://github.com/projectkudu/kudu/wiki/WebJobs](https://github.com/projectkudu/kudu/wiki/WebJobs)

[2018-12-03 09:58] ChiragMishra-MSFT commented on #19666
@subashsivaji Yes in simple cases, 1 pipeline is sufficient to achieve the same result. The documentation covers a simple and recommended way to keep things modular - easy to modify and maintain. Also it gives you an idea of how to trigger a pipeline after another is done executing, which is useful in some cases as there should be a logical sequence between activities.

[2018-12-03 09:59] ChiragMishra-MSFT commented on #19666
@subashsivaji I will go ahead and close this issue here but please feel free to comment if you have any other concerns.

[2018-12-03 09:59] #19666 closed

[2018-12-03 10:14] Yashgoel83 opened #19850 "Changing Provisioned throughput for COSMOS DB in AZURE"
We provisioned a Azure Cosmos DB with provisioned throughput of 10k RUs, but now the requirement is reduced significantly, is there a way we can reduce the provisioned throughput at the DB level ( Not container level, container level settings are there but not DB level )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2018-12-03 10:22] AkshathaSP commented on #19686
Hi,
I could simulate the issue:
Start WebJob. Make sure the status is running.
Go to App service -> Diagnostic logs
Add/Modify any logging settings and save.
Refresh WebJob and check logs. The Job is aborted.

Is there any background process of App Service causing this abort?

[2018-12-03 10:23] darran1971 commented on #18713
I have noticed this problem in one of our on-premise clusters. The PatchOrchestration worked when I tested on a 5-node unsecure cluster. I am now trying to get the PatchOrchestration to run on a 5-node secure windows cluster, and set a schedule for Weekly, Sunday, 22:00:00. It never seems to trigger the update and I see the same behavior as Wasabii reported calling  the Rest API. It returns an emp

[2018-12-03 10:23] AkshathaSP commented on #19686
Hi @AjayKumar-MSFT ,
I could simulate the issue:
Start WebJob. Make sure the status is running.
Go to App service -> Diagnostic logs
Add/Modify any logging settings and save.
Refresh WebJob and check logs. The Job is aborted.
Is there any background process of App Service causing this abort?

[2018-12-03 10:34] lgmorand opened #19852 "" HTTP requests. Uri, time taken to process the request, response code, client IP address. ""
I thought, it was not the case anymore to be RGPD compliant and IP address replaced by 0.0.0.0 in all stored data.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4cb6c8f-80a5-3a49-3cc1-e194e5b98b16
* Version Independent ID: ef9c64e5-466d-9be2-df6a-39de8c76b1ad
* Content: [Data retention and storage in Azure Application

[2018-12-03 10:37] cimares commented on #15615
The Active Directory Seamless SSO document lists no Edge Support as a known issue.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-sso

[2018-12-03 10:43] MrCNeale commented on #17247
Still not present in the docs, I found it by finding this page!

[2018-12-03 10:51] KetanChawda-MSFT commented on #19847
@stridsbr As per the document, the `autoComplete` flag controls this behavior.

The default value is **false** which means that it waits for processing to call complete. Changing this to **true** will have the behavior that you are expecting.

Let me know if you are seeing anything different.

[2018-12-03 10:57] BhargaviAnnadevara-MSFT commented on #19852
@lgmorand Thanks for the question! We're investigating this and will get back to you shortly.

[2018-12-03 10:58] novino commented on #18713
In case you're using windows based security.
You'd have to do an additional step of [configuring your windows security](https://docs.microsoft.com/azure/service-fabric/service-fabric-windows-cluster-windows-security#configure-windows-security-using-a-machine-group).

Add below section in your clustermanifest.
"ClientIdentities": [
    {
        "Identity": "NT AUTHORITY\\SYSTEM",
        "IsAdmin"

[2018-12-03 10:58] novino commented on #18713
@wasabii could you try the above steps as well, in case you're using windows based security for your service fabric clusters. Also do share the service fabric logs.

[2018-12-03 11:03] trillykins opened #19854 "Device queries and message quotas"
I have a quick question. Does `RegistryManager.CreateQuery("select * from devices", 500)` count towards the message quota?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-50e3-f8682c90ac42
* Content: [Understand Azure IoT Hub quotas and th

[2018-12-03 11:16] #19573 closed

[2018-12-03 11:21] stridsbr commented on #19847
No this is how it works. But the text in the explination is that it is marked as complite immidietly. How I understand the description like that is that it's marked as complited before the execution of the azure function.

**PeekLock vs ReciveAndDelete**. So I thought that true was a ReciveAndDelete operation.

What I'm trying to say is that the description for the property shoul be something like

[2018-12-03 11:21] darran1971 commented on #18713
Hi Novino, thanks for the fast response. I'll add that identity to my cluster config. It does look like that could be the  problem, as that identity would not have any permissions on the secure cluster, as I use a GMSa. I will report back when the schedule runs again.

[2018-12-03 11:45] philippschaefer4 opened #19855 "Retrain new Webservice via REST-API"
Hi, is it at all possible to use HTTP instead of the Powershell-Commandlets to update the model of a new webservice. For the classic services this worked fine. The first step is the same: Create a retrain-webservice, do a BES and store the retrained model in blob storage. But now I just want to do a PATCH-Request as with the classic webservices.
The reason is, that I am thinking of implementing th

[2018-12-03 11:48] lgmorand commented on #19852
it's written here ;)
https://blogs.msdn.microsoft.com/applicationinsights-status/2018/02/01/all-octets-of-ip-address-will-be-set-to-zero/

[2018-12-03 12:01] Jameskmonger commented on #7184
@ggailey777 Your link to http://azure.github.io/azure-documentdb-js/ no longer works (404) - do you have an updated link?

[2018-12-03 12:10] PaulTozer commented on #19760
The below screenshot is from the portal. You can see the constrained for other E models, but E20 doesn’t show

[cid:image001.png@01D48B01.2E959490]

 --
Paul Tozer
Head of Cloud Services
T: 01827 265000

Quiss Technology plc
Claymore,
Tame Valley Industrial Estate,
Tamworth B77 5DQ.
http://www.quiss.co.uk

This email and any attachments to it are confidential and intended solely for the person to

[2018-12-03 12:32] jakaruna-MSFT commented on #19744
@v-maroge Whitelisting has to be done on the client side network from where we are accessing the VM through browser (we will mostly acccess from our laptops and desktops).
If the network firewall (to the network your laptop connected with) blocks the web sockets, You will get this error. In that case you can whitelist *.console.azure.com, so that firewall allows the web sockets for this domain.
cc

[2018-12-03 13:12] panoschatz commented on #19569
@Karishma-Tiwari-MSFT  Querying a VM built from the Azure Gallery using SQL2016SP2-WS2016-BYOL gives the below:
[code]
We customised that image and published it in our private image gallery. Then querying the VM created from the private image gallery:
[code]

As mentioned above, the details of the base image are blank and that triggers an alert, as we don't allow images that do not come from the A

[2018-12-03 13:12] samsmithnz opened #19859 "ASP.NET Core"
Could we have an update for this in ASP.NET Core - perhaps with Azure Key Vault too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7247c58-0a2c-a9a2-efa3-caf805fe0e18
* Version Independent ID: cdd6fbf2-43b6-19c5-1dc6-8d1271bccbeb
* Content: [Separating telemetry from development, test, and release in Azure Applicatio

[2018-12-03 13:12] sergaz-msft commented on #16775
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-03 13:12] #16775 closed

[2018-12-03 13:13] sergaz-msft commented on #16775
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-03 13:14] sergaz-msft commented on #7392
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-03 13:14] #7392 closed

[2018-12-03 13:20] ozanbora opened #19860 "Web Socket Native Support"
I was checking if I can deploy my application which is based on web sockets. Here are the steps I followed.

1. Create an Application Gateway, with a virtual network.
2. Create a virtual machine where a simple websocket echo server in NodeJS is running on port 80 as backend server.
3. Configure HTTP 80 and HTTPS 443 listeners for the gateway.
4. Configure backend http setting on port 80 as gateway

[2018-12-03 13:42] wasabii commented on #18713
I am configuring my cluster with the mentioned value and will post when I know whether it fixed the problem or not.

[2018-12-03 13:46] mikebergin commented on #7392
Why is this closed? What was the resolution?

Sent from my iPhone

On Dec 3, 2018, at 8:14 AM, António Sérgio Azevedo <notifications@github.com<mailto:notifications@github.com>> wrote:

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

—
You are receiving

[2018-12-03 13:50] tumtum73 commented on #19845
I reran that code again this morning and it works fine. Not sure if it was an environment thing or you modified something but it's working.

[2018-12-03 13:50] #19845 closed

[2018-12-03 13:50] koskaar opened #19861 "API pagination?"
Many API's will respond with a set number of results (ie. 100 results per response), which means that there might multiple pages in the API response and the HTTP connector cannot handle this at the moment. Is there an update in the works to solve this issue?

I have worked around this with Lookup and ForEach activities but it's a lot of extra work, especially if I have to handle a lot of different

[2018-12-03 13:52] j-martens commented on #14128
@ericlicoding - please respond. thank you.

[2018-12-03 13:53] j-martens commented on #14270
@garyericson - who should this be assigned to now.

[2018-12-03 13:54] j-martens commented on #14889
@gopitk

[2018-12-03 13:54] JohnReeson commented on #19806
@KetanChawda-MSFT Thanks for your quick response, I still see difference on my side. I was able to see `host.json` in kudu and I have deleted the `azure-webjobs-secrets` container, nothing broke. I could trigger function as usual.

[2018-12-03 13:56] j-martens commented on #15632
#please-close

[2018-12-03 14:00] j-martens commented on #16204
@rongduan-zhu - please update.

[2018-12-03 14:01] W3bl0rd opened #19862 "Retrieving the Azure Disk Name"
I believe this line in the sample has an error;
$ az disk list --query '[].id | [?contains(@,`pvc-faf0f176-8b8d-11e8-923b-deb28c58d242`)]' -o tsv

It should have double quotes around the query portion;
$ az disk list --query "[].id | [?contains(@,`pvc-faf0f176-8b8d-11e8-923b-deb28c58d242`)]" -o tsv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-12-03 14:09] j-martens commented on #17821
#please-close . User should post in forum for product support issues that are not documentation issues. Thank you.

[2018-12-03 14:13] j-martens commented on #19575
@letmaik - Thank you for your question. What where you looking for something for IoT or FPGA? What did come to the article hoping to find?

[2018-12-03 14:18] j-martens commented on #19688
@maximuslee1226 please put any notebook issues here. https://github.com/Azure/MachineLearningNotebooks/issues and refer to the notebook in question.
This is not a documentation bug. Thanks for your report.  #please-close

[2018-12-03 14:32] Placid7 opened #19863 "Log Analytics workspace -Advance Settings"
When I go to Log Analytics workspace - Advance Settings the page is empty. How do I add custom logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version Independent ID: 29eced7b-1277-4ee1-21d0-0079d6b95a2f
* Content: [Collect custom logs in Azure Log Analytics](https://docs.mic

[2018-12-03 14:39] dazzler11 opened #19864 "name 'Image' is not defined, in "Tutorial #1: Train an image classification model with Azure Machine Learning service""
Hi,
I am Abhijit. I am using "Tutorial #1: Train an image classification model with Azure Machine Learning service", but i am finding issues in "Display some sample images" under Explore data.
It is showing the error:

NameError                                 Traceback (most recent call last)
&lt;ipython-input-8-4b5a98a6ecba&gt; in &lt;module&gt;
      3
      4 # note we also shrink the intensit

[2018-12-03 14:41] Blackmist commented on #19693
@ArvidBaa Thanks for catching this. It's extra text and will be removed in the next publish.

[2018-12-03 14:52] JohnStraumann66 opened #19865 "Error with FaceAPI Keys"
Getting an error message: Microsoft.ProjectOxford.Face.FaceAPIException: 'Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key.(Unspecified)'. I created a new FaceAPI service on my azure account, and was able to use the keys to run this tutorial successfully: https://docs.microsoft.com/en-us/azure/cognitive-services/

[2018-12-03 14:53] letmaik commented on #19575
Yes, those two. I realize now that even in those cases probably the Docker deployment is used as well, so I probably just go confused because there is an explicit ACI/AKS deployment option.

[2018-12-03 15:06] craigshoemaker commented on #19402
@irwinwilliams - I have created in internal work item to track this suggestion. Thanks again for your contribution!

#please-close

[2018-12-03 15:08] Placid7 commented on #19863
So it appears the Log Analytics Agent is installed on the VM and connected, but again under "Advanced Settings" in the work space there are no options available.

[2018-12-03 15:12] Sethu2488 commented on #19704
Any update on the above ask would highly be appreciated.

[2018-12-03 15:14] shaneholder opened #19866 "Multiple Gateways in a subnet"
The FAQ states that multiple gateways can exist in a single subnet however, there appears to be a caveat indicated by the double splat that is not documented.  I have discovered that the portal restricts mixing V1 gateways with V2 gateways in the same subnet, is this an expected restriction?  I have not tried to configure this through Azure Shell or Powershell.

---
#### Document Details

⚠ *Do no

[2018-12-03 15:15] sergaz-msft commented on #19854
Hello @trillykins can you let us know the documentation you are referring to?
Thank you.

[2018-12-03 15:21] jamiepassa commented on #15216
@Karishma-Tiwari-MSFT anything?

[2018-12-03 15:23] SychevIgor opened #19867 "Storage Explorer UI"
Could you update screenshot to latest Storage Explorer
https://docs.microsoft.com/en-us/azure/data-factory/v1/media/data-factory-copy-data-from-azure-blob-storage-to-sql-database/getstarted-storage-explorer.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b8469a3-02c8-7006-df02-de90f2fa28dd
* Version Independent ID:

[2018-12-03 15:29] SKenniston opened #19868 "Inaccurate Title in Side menu"
This particular article is entitled "Author solution template" in the left hand side menu - this article does not give you any information on "authoring" the template at all. This article only shows how to enter in the *already authored* template into the SKU. No "authoring" info is ever given. Very misleading.

Perhaps "Publish Solution Template" would be a better title?

Thanks!
---
#### Documen

[2018-12-03 15:36] o-l-a-v opened #19869 "Alert through email / Azure Monitor?"
What's your recommended way of triggering alerts to email, sms or similar, when AADDS is having trouble?

https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-check-health#alerts
Does not mention alerts. If you manually have to go into the GUI and check status yourself, it's per definition a monitor, not a alert.

For now I've created a Log Analytics Workspac

[2018-12-03 15:43] bertrandpons opened #19870 "Type or namespace issue while following the tutorial "Secure Azure SQL Database connection from App Service using a managed identity""
Hi,

I am getting these  errors when I adapt the code provided for the tutorial:

The type or namespace name 'Azure' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)
The type or namespace name 'AzureServiceTokenProvider' could not be found (are you missing a using directive or an assembly reference?)

Thank you for your help

---
#### Document Details

⚠ *Do not

[2018-12-03 15:50] CalumJEadie opened #19871 "Network Security Group Rules"
Please could you help with the Network Security Group rules that would be needed to provide the ability for the Application Gateway to send out logs to storage and log analytics. We are looking to instrument the App Gateway but not allow the gateway complete internet access to any port / any IP address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-12-03 15:55] danvanderboom commented on #19830
Simple is good. "Function" is idiomatic, "functionate" I've never heard
before, despite having spoken English for over four decades.

On Sun, Dec 2, 2018 at 10:20 PM jakaruna-MSFT <notifications@github.com>
wrote:

[2018-12-03 16:02] sergaz-msft commented on #19427
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-03 16:02] #19427 closed

[2018-12-03 16:06] sergaz-msft commented on #7392
Hello @mikebergin , a [PR ](https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/pull/21) was submitted to address this issue. Are you still facing the same issue?

Thank you.

[2018-12-03 16:13] erhopf commented on #19842
This is a feature request, please assign to @PanosPeriorellis.

[2018-12-03 16:26] robinmanuelthiel opened #19872 "Provide the Resource Model in both, JSON and YAML"
JSON vs. YAML is a very personal, opinionated and team dependent question. In official documentation like this one, I would like to see both ways. I think a code block with tabs to switch between the same Resource Model in YAML and JSON would be an excellent solution for this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-03 16:35] Blackmist commented on #16841
@ArvidBaa Thanks for the feedback. I've updated the document to add an "update" section that talks about using the `update` method. It should be published later today.

[2018-12-03 16:42] robinmanuelthiel commented on #13954
I would not say that this is closed, as we do not have "Service Fabric Mesh application definitions in both JSON and YAML" as originally asked for in the issue. We should reopen it!

[2018-12-03 16:49] blakeroyer opened #19873 "Homebrew no longer supports suggested PHP installation method for MacOS"
Under "Prerequisites" section of "Quickstart: Use PHP to query an Azure SQL database" (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-php), the Steps for installing Homebrew and PHP are outdated, and no longer work.

The steps link to separate Microsoft documentation (here: https://www.microsoft.com/en-us/sql-server/developer-get-started/php/mac/), where Step 1.2 ca

[2018-12-03 16:50] robinmanuelthiel opened #19874 "What about OS other than Windows"
Is it planned also to provide setup guides for macOS and Linux systems? As Service Fabric Mesh runs on Docker images, it might heavily attract the open-source world, which mostly does not run on Windows. Documentation on how to work with Visual Studio Code, for example, could be very beneficial!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-12-03 17:03] vassallosm opened #19875 "Azure Storage Lifecycle - We have a archive process already setup in Central, when will it be available in Central region?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-03 17:05] Mike-Ubezzi-MSFT commented on #19870
@bertrandpons Thank you very much for the detailed feedback. Can you please provide the link to the tutorial you are experiencing issues with. It is not clear from this issue what documentation needs to be addressed. Thank you!

[2018-12-03 17:08] bertrandpons commented on #19870
@Mike-Ubezzi-MSFT Thanks for your answer. Here is the link: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

[2018-12-03 17:09] #19865 closed

[2018-12-03 17:09] JohnStraumann66 commented on #12841
Got it, FaceServiceClient needed the key AND URL:     private readonly FaceServiceClient faceServiceClient = new FaceServiceClient(subscriptionKey2, "https://eastus.api.cognitive.microsoft.com/face/v1.0");

[2018-12-03 17:13] Mike-Ubezzi-MSFT commented on #19850
@Yashgoel83 Please navigate to `Scale and Setting` for the specific database you are wanting to make changes to:

![screenshot 56](https://user-images.githubusercontent.com/37126106/49389528-68b89c80-f6db-11e8-8cc6-79b63ff259db.png)

Please let us know if you should have any additional questions. Thank you, ~MIke

[2018-12-03 17:14] evan-morris commented on #19523
OK, I understand. When I pasted the command it didn’t wrap or break as expected & I had to remove the back tick.

From: Alberto Vega <notifications@github.com>
Sent: Sunday, December 2, 2018 2:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Morris, Evan (HPE Server + Windows partner engineering) <evan.morris@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2018-12-03 17:14] vassallosm opened #19876 "Azure Storage Lifecycle - We have a archive process already setup in Central, when will it be available in Central region?"
Also what is the average amount of time between preview and GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.microsoft.com/en-us/azure/storage/common/stora

[2018-12-03 17:16] blakeroyer commented on #19873
Here are sample errors and warnings when following the documentation:

`brew tap homebrew/dupes`
Error: homebrew/dupes was deprecated. This tap is now empty as all its formulae were migrated.
`brew tap homebrew/versions`
Error: homebrew/versions was deprecated. This tap is now empty as all its formulae were migrated.
`brew tap homebrew/homebrew-php`
Error: homebrew/php was deprecated. This tap is

[2018-12-03 17:19] MicahMcKittrick-MSFT commented on #19862
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-03 17:20] MicahMcKittrick-MSFT commented on #19872
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-03 17:21] MicahMcKittrick-MSFT commented on #19874
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-03 17:23] W3bl0rd commented on #19862
Just for information, I am running this at a command prompt using Windows 10.

[2018-12-03 17:42] aljo-microsoft commented on #19557
https://docs.microsoft.com/azure/service-fabric/service-fabric-manage-application-in-visual-studio

"
Refresh Application This mode enables you to quickly change and debug your code and supports editing static web files while debugging. This mode only works if your local development cluster is in 1-Node mode.
"

1-Node mode documentation link:
https://github.com/MicrosoftDocs/azure-docs/blob/maste

[2018-12-03 17:43] MicahMcKittrick-MSFT commented on #19540
@fleed you should be able to simply add that admin endpoint to the network security group and connect as well. Are you seeing an error when doing that? What is the error?

[2018-12-03 17:43] MicahMcKittrick-MSFT commented on #19659
@maon1317 any update on this?

[2018-12-03 17:44] MicahMcKittrick-MSFT commented on #19706
@mcollier any update on this?

[2018-12-03 17:49] MicahMcKittrick-MSFT commented on #19724
@mapoitras in the method you were using to enable multiple addons yes, I see the same issue.

Looking at https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-enable-addons

If you want to deploy multiple addons you should add the addons in a comma-separated list.

I tried this and saw it worked as expected. So the issue is simply not using the correct format.

Give that a go

[2018-12-03 17:50] MicahMcKittrick-MSFT commented on #19752
@dcbrown16 fair feedback. Thank you for clarifying. I will assign to the author of the doc to review and see how we can update the doc to be more clear.

@roiyz-msft can you take a look?

[2018-12-03 17:52] MicahMcKittrick-MSFT commented on #19822
Thanks @jakaruna-MSFT for fixing the issue.

@pelagos the changes should go live in a few hours.

[2018-12-03 17:52] #19822 closed

[2018-12-03 17:53] YutongTie-MSFT commented on #19855
@philippschaefer4
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@ericlicoding Hi Eric, can you please take a look of this issue? Can we use HTTP instead of the Powershell-Commandlets to update the model of a new webservice?

[2018-12-03 17:54] MicahMcKittrick-MSFT commented on #19830
@danvanderboom thanks for pointing this out. I have corrected the doc. Once the PR merges the changes will be live in a few hours.

[2018-12-03 17:54] #19830 closed

[2018-12-03 17:56] Adam-Smith-MSFT commented on #19876
@vassallosm Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-03 17:59] YutongTie-MSFT commented on #19864
@dazzler11
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-03 18:00] tiny-dancer opened #19879 "Time for Resource Appearance in Resource Grpah"
I've seen certain resources (e.g. Application Gateway) take 30+ minutes _after being successfully deployed_ to appear in a query response.

What is the expected time delay for a resource to return in an Azure Resource Graph query from it's successful deployment?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2018-12-03 18:00] diberry commented on #19848
@zalmane Thank you for asking this timely :) question. I will be able to answer this question tomorrow. Please be patient. #in-progress

[2018-12-03 18:04] TylerMSFT commented on #19659
Updates coming soon will mention docker.  There is no need for more than a single node.

[2018-12-03 18:11] Adam-Smith-MSFT commented on #19229
@woodwardmatt  My apologies, I escalated the issue internally, Also, let's create a support case in parallel for this issue. If you don't have a support plan in Azure, Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket opened for this issue. Please mention "ATTN Adam" in the subject field.

[2018-12-03 18:13] Adam-Smith-MSFT commented on #19287
@jeffpatt24  Would you have any insights regarding this question ?

Thanks,
Adam

[2018-12-03 18:14] tchristiani commented on #19704
@YutongTie-MSFT This is product feedback, not doc enhancement. Please reassign to @sezho (MSFT).

[2018-12-03 18:16] MicahMcKittrick-MSFT commented on #19659
Thanks for the update @TylerMSFT

@maon1317 see my above updates and let us know if you still see an issue. I will close for now as updates are coming to the doc to make it more clear but for now I have verified the doc works. If you still see issues we can reopen and continue.

[2018-12-03 18:16] #19659 closed

[2018-12-03 18:19] MicahMcKittrick-MSFT commented on #19874
@robinmanuelthiel I will assign to the content author to review and update with the plan for adding additional docs.

[2018-12-03 18:21] ggailey777 commented on #19682
@dcbrown16 the behavior with respect to IPs should be the same as App Service when running on an App Service plan. I will clarify that this disclaimer is specific to Consumption plans.

[2018-12-03 18:22] wesleyae opened #19881 "ARM template deployment with AKS broken"
An arm template that was working last week is suddenly broken throwing this error:

Exception Details:
        Error Code: InvalidParameter
        Message: Provisioning of resource(s) for container service &lt;AKSresourceName&gt; in resource group &lt;resourceGroupName&gt; failed. Message: {
  "code": "InvalidParameter",
  "message": "The value of parameter orchestratorProfile.OrchestratorVersion

[2018-12-03 18:23] Mike-Ubezzi-MSFT commented on #19873
@blakeroyer Thank you very much for filing this and detailing the issues being encountered. With Homebrew no longer being supported, this documentation needs to be updated. Regards, ~Mike

[2018-12-03 18:23] robinmanuelthiel opened #19882 "Error 'InvalidResourceType' when running the sample"
Walking through the sample step by step fails for me at the [Deploy the template](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-deploy-app-azurefiles-volume#deploy-the-template) step.

When running the following command:

[code]

I get the following error message:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-12-03 18:23] odvoskin opened #19884 "Broken link"
Following path is broken:
Azure &gt; App Service &gt; Resources &gt; Cookbooks &gt; Reference Architecture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b0ec12a-11b2-52c5-2b20-1705609a7ea8
* Version Independent ID: 10b10bd9-2cf2-60d1-f30c-8c7ad4e57223
* Content: [Web Apps overview](https://docs.microsoft.com/en-us/az

[2018-12-03 18:30] jason-j-MSFT commented on #19867
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-03 18:30] MicahMcKittrick-MSFT commented on #19846
@genlin technically correct. We reference Guest Agent 13 times in this doc. So we could simply change it to Windows Azure Guest Agent. That being said, I am not sure if it is really needed.

I will assign to the content author to review and confirm how to move forward.

[2018-12-03 18:32] Karishma-Tiwari-MSFT commented on #19419
@csand-msft The customer has shared the details from debug log. Can you please take a look and share your insights? Thanks :)

[2018-12-03 18:34] MicahMcKittrick-MSFT commented on #19823
@akfkmupiwu I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-03 18:38] mangeshparanjape commented on #19593
Thanks Mohit. Please let me know when it’s fixed.

Thanks,
Mangesh

Sent from my iPhone

________________________________
From: Adam-Smith-MSFT <notifications@github.com>
Sent: Monday, December 3, 2018 1:27 PM
To: MicrosoftDocs/azure-docs
Cc: mangeshparanjape; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AADSTS90002: Tenant token not found. (#19593)

@mangeshparanjape<https://github.com/mangesh

[2018-12-03 18:39] Mike-Ubezzi-MSFT commented on #19807
@Anmolgan81 I have assigned the issue to the content author to evaluate and update as appropriate. @pochiraju

[2018-12-03 18:39] MicahMcKittrick-MSFT commented on #19827
@yotauber to add to @jakaruna-MSFT response, if you deploy a custom script it is added to the Extensions section in the Azure Portal. You can select that custom script and find additional details about the failure or succession. It should be similar to what you find in the "C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.9.2\Status" without the need to actually login to the VM.

[2018-12-03 18:42] ggailey777 commented on #19173
#please-close per SLA.

[2018-12-03 18:46] kobulloc-MSFT commented on #19859
@samsmithnz Thank you for the feedback!  We are assigning this to the document author so they can update the documentation accordingly.

[2018-12-03 18:47] ggailey777 commented on #18815
@dariagrigoriu or @ahmelsayed can you please confirm what the best approach is for adding extensions to a function app in a Docker container? We either need to document this in a separate article or change the scenario to use a trigger other than HTTP.

[2018-12-03 18:49] chipalost commented on #19208
Hi @baharw, easing and automating device management tasks is a high priority that we want to build into the runtime. Right now tasks like updating the device OS or managing native components is an exercise left to the user. We've seen some folks use scripts, tools like Ansible, or write device management modules which can be triggered from the cloud. Looking at your specific case of pruning logs,

[2018-12-03 18:50] #19173 closed

[2018-12-03 18:50] W3bl0rd commented on #19862
That works for me. I did notice another comment about the same problem. I suspect they were using the on prem CLI also. Hopefully this comment will help the next person.

[2018-12-03 18:51] YutongTie-MSFT commented on #19688
@maximuslee1226
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-03 18:51] #19688 closed

[2018-12-03 18:58] lunar87 opened #19885 "technically incorrect content"
On-premises systems are not 'in' a virtual network. A VNET exists in Azure. You can connect from a VNET to an on-premises system via ExpressRoute or VPN through a gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1835ffaf-25d4-f6ea-4e4f-ce62c702b770
* Version Independent ID: f76d8032-e672-d8dd-d35e-a6c762bb61d4
*

[2018-12-03 18:58] iainfoulds commented on #19862
Yes, this isn't so much on-prem vs Cloud Shell, but the type of shell used. We try to write the docs such that they'll work across platforms, but there are some differences in escape characters like this or in line wrapping. Sorry for the problems, but glad you got it working. We're hoping to have a cleaner way to present these differences soon.

[2018-12-03 19:04] MicahMcKittrick-MSFT commented on #19882
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-03 19:04] tchristiani commented on #7523
@femsulu please reassign this to @PatrickFarley

[2018-12-03 19:05] tchristiani commented on #12886
@YutongTie-MSFT please reassign this to @gopitk

[2018-12-03 19:10] MicahMcKittrick-MSFT commented on #19882
@robinmanuelthiel did you first setup the Service Fabric Mesh preview commands?

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-cli

[2018-12-03 19:15] evan-morris commented on #19523
Using the Copy feature provided on the web page. I had to parse it otherwise this:
[cid:image001.png@01D48AF9.853B68E0]

From: Kelly Gremban <notifications@github.com>
Sent: Monday, December 3, 2018 11:03 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Morris, Evan (HPE Server + Windows partner engineering) <evan.morris@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re

[2018-12-03 19:22] #19862 closed

[2018-12-03 19:23] MohitGargMSFT commented on #19759
@davidhendrickmb Please note that we monitor and current support MicrosoftDocs/azure-docs repo related published documents through this channel.

To get help on your issue, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/en-US/newthread?category=undefined&forum=wind

[2018-12-03 19:35] #19682 closed

[2018-12-03 19:39] rajeshprm opened #19886 "Lower Gen2 DW"
I just found that there are lower Gen2 DW performance level such as DW100c to DW400c. Can you please update this page for those performance levels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e5a898-2249-1347-89f7-b16ca9318eba
* Version Independent ID: 89e45bb2-b973-ef78-e230-f08e90d6482b
* Content: [Memory and co

[2018-12-03 19:42] garyericson commented on #16054
@VickiFu @HeidiSteen @j-martens -- The consensus I heard was to not include HDInsight, but this list could change over time. I submitted another PR to add a note under On-premises, "on-premises servers also may be run in a virtual machine in the cloud)".

[2018-12-03 19:43] tchristiani commented on #19225
@YutongTie-MSFT this should be referred to technical support. This is not a docs issue.

[2018-12-03 19:50] garyericson commented on #14270
@marktab - Can you look at this?

@YutongTie-MSFT - The author metadata value on this article has been changed since this PR was opened. The author is now @marktab.

[2018-12-03 19:53] MicrosoftGuyJFlo commented on #19313
Still waiting for response from PM. Pinged again this morning.

[2018-12-03 19:53] MarileeTurscak-MSFT commented on #19849
@huczas
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-03 19:54] MarileeTurscak-MSFT commented on #19869
@o-l-a-v
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-03 19:54] MohitGargMSFT commented on #19593
@mangeshparanjape Please confirm if you provided RBAC permission to the Azure AD application (service principal) created as part of [Register your application with an Azure AD tenant](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app#register-your-application-with-an-azure-ad-tenant) on Azure Storage Account using the steps mentioned here [Assign a role scoped to the stora

[2018-12-03 19:58] Pickell opened #19887 "New content in CA policies not covered here"
The Client Apps section doesn't have the new settings below Mobile apps and desktop clients. I've been looking for info on when I'd want to employ these.
The Client Apps section doesn't list Excel Online under the Target Service column (this is why I came to this page as this seems to be new)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-12-03 20:02] Alberto-Vega-MSFT commented on #19568
@virtualamjath What is the error you got?

[2018-12-03 20:15] jdogg89 opened #19888 "Blob listening events"
Are the only supported events to trigger actions off of Delete and create for the entire blob? Can you link the API documentation for all possible actions? Suppose an additional file is added into a current blob, could that invoke a trigger/event?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d651422-3de2-d399-d863-0

[2018-12-03 20:20] criscunhasantos opened #19889 "Hybrid concept question"
Is Azure Active Directory smart lockout designed to work with AD Connect using Password Hash Sync, when you don't have Exchange Hybrid deployment?
For instance, when the documentation states "Smart lockout can be integrated with hybrid deployments, using password hash sync or pass-through authentication to protect on-premises Active Directory accounts from being locked out by attackers" does __hyb

[2018-12-03 20:35] garyericson commented on #17760
@YutongTie-MSFT - The author metadata value for this article has changed to @ericlicoding. Please assign this to him.

@ericlicoding - There are two aka.ms links in this article: aka.ms/CIComp (goes to the Competitions page in the AI Gallery) and aka.ms/comptermsandconditions. This second one is supposed to go to a Terms and Conditions page for Competitions, but the aka.ms link is inactive or dele

[2018-12-03 20:40] mike-urnun-msft commented on #19806
Hi @ggailey777 any thoughts on this?

[2018-12-03 20:40] Adam-Smith-MSFT commented on #19888
@jdogg89 Are you still looking for a solution since the issue was already closed?

Thanks,

[2018-12-03 20:44] garyericson commented on #19072
@Alberto-Vega-MSFT - The author for this article has changed to @marktab. Please assign this to him.

@marktab - Mark, it looks like the Solution for this in the AI Gallery was deleted. I assume you will be evaluating the Vehicle Telemetry Solution set of articles to decide if it's still a viable solution to document. Meanwhile, the key link in this article is broken.

[2018-12-03 20:46] MicahMcKittrick-MSFT commented on #19331
+ @dkkapur and @masnider if either of you can clarify as well

[2018-12-03 20:47] mangeshparanjape commented on #19593
Yes, rbac role is assigned as per documentation

Thanks,
Mangesh

Sent from my iPhone

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Monday, December 3, 2018 2:55 PM
To: MicrosoftDocs/azure-docs
Cc: mangeshparanjape; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AADSTS90002: Tenant token not found. (#19593)

@mangeshparanjape<https://github.com/mangeshparanja

[2018-12-03 20:51] MicahMcKittrick-MSFT commented on #19673
@jockerman-ipspark I will assign this to the author to review and comment further and update the doc if needed.

[2018-12-03 20:52] MicahMcKittrick-MSFT commented on #19766
+ @dkkapur and @masnider if they are able to comment further.

[2018-12-03 20:56] akramwaseem opened #19891 "Does the update management works for the VMss Linux machines ?"
The above document describes about the VMs but not the VMss. If it supports linux or windows, I am hoping it should be able to work on VMss too ?
Also I cannot see the update management option on VMss in azure portal. But they show up in the worker groups. Which makes no sense because I can schedule anything.
Can you guys take a look and see if there is an alternative ?

---
#### Document Details

[2018-12-03 20:58] Alberto-Vega-MSFT commented on #19568
`PS C:\Users\alvegago\Downloads\azure-iot-samples-node-master\azure-iot-samples-node-master\iot-hub\Quickstarts\read-d2c-messages> npm install`
added 127 packages from 121 contributors and audited 234 packages in 9.653s
found 0 vulnerabilities

`PS C:\Users\alvegago\Downloads\azure-iot-samples-node-master\azure-iot-samples-node-master\iot-hub\Quickstarts\read-d2c-messages> node ReadDeviceToCloudMe

[2018-12-03 20:59] FMartull opened #19892 "Broken Link"
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-troubleshoot-no-data#i-used-to-see-data-but-it-has-stopped
Check the status blog (The link is not working)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b9aed0-b6a7-d3e9-d616-85e865966444
* Version Independent ID: df2e545f-7f65-82b7-c79

[2018-12-03 21:00] Alberto-Vega-MSFT commented on #19568
@dominicbetts It looks like the sample application it's broken.

[2018-12-03 21:00] wesleyae commented on #19881
So in my ARM template's AKS properties, I had
[code]
When I changed it to:
[code]
The deployment worked.

[2018-12-03 21:08] jockerman-ipspark commented on #19673
@MicahMcKittrick-MSFT Thank you!

[2018-12-03 21:09] PaulTozer commented on #19760
@Karishma-Tiwari-MSFT Pasted below

![e series](https://user-images.githubusercontent.com/45483044/49401637-aa7b2e80-f73f-11e8-83d4-6ee08b7270fd.png)

[2018-12-03 21:11] ShaunBond opened #19893 "Unclear what <file_system> refers to"
In the following line, it is unclear where the value for file_system comes from.

abfss://&lt;file_system&gt;@&lt;account_name&gt;.dfs.core.windows.net/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de960029-c8ca-afe4-cd72-bf00888714f1
* Version Independent ID: 734f4434-9e42-c3cc-5a51-46f9a2bf9a13
* Content: [Access A

[2018-12-03 21:11] CapDataAV commented on #9512
@barbkess, I am not seeing the updates regarding P1 or P2 licensing besides a link at the top, was that the addition to this document? Additionally, I have a EMS E3 (Azure AD P1) license and get the same message regarding the group assignment for an application. Can you link us to a source stating why Azure AD P2 would be needed? In the licensing doc, I see that both Azure AD P1 and P2 both have A

[2018-12-03 21:16] Placid7 commented on #19863
So after wasting hours trying to solve this, it turns out this can't be done through the portal? It must been done in OMS. Why is this not specified in the documentation?

[2018-12-03 21:18] YutongTie-MSFT commented on #19787
@diberry Hi Dina, can you please take a look of this issue to check if it should be identical or not? Thanks a lot!

[2018-12-03 21:29] ZephiraTB opened #19894 "I have an issue, doesn't work"
I don't really know how to fix this.
https://gyazo.com/5500797b1b272167be01c7af668ff07a

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4d65b3-a2dc-77f4-0546-f69598241f0a
* Version Independent ID: 3d2b4c2d-4314-959b-b18d-67af8286b158
* Content: [Quickstart: Recognize speech in C# under .NET Core on Windows by using th

[2018-12-03 21:30] YutongTie-MSFT commented on #19825
@divvyam Hi, can you please give me more guide about where the kesEntityId located? I have no idea about this parameter in our API.

[2018-12-03 21:45] kgremban commented on #19739
@evan-morris Thanks for the additional information. Did you end up using `remove-service` to uninstall Docker on your machine?

`get-service "*docker*"`
`remove-service [docker installation name]`

[2018-12-03 21:53] ronortloff commented on #19886
@Anthony van Gemert<mailto:Anthony.vanGemert@microsoft.com> will take care of updating these.

From: rajeshprm <notifications@github.com>
Sent: Monday, December 3, 2018 11:40 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ron Ortloff <Ron.Ortloff@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Lower Gen2 DW (#19886)

I just found that t

[2018-12-03 21:54] evan-morris commented on #19739
Can’t recall if I was able to get Docker out, but I was able to replace my Containers, so I’m OK.

From: Kelly Gremban <notifications@github.com>
Sent: Monday, December 3, 2018 1:46 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Morris, Evan (HPE Server + Windows partner engineering) <evan.morris@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-

[2018-12-03 21:57] jeffpatt24 commented on #19287
@dipjyotighosh The Azure File Sync agent is not currently supported on Linux. Our team has discussed adding support, but the plan is not committed and I don’t have a timeline at this time.

The Azure Data Box Gateway does support some Linux versions. I would evaluate if this solution meets your needs: https://docs.microsoft.com/en-us/azure/databox-online/data-box-gateway-overview

[2018-12-03 21:57] jeffpatt24 commented on #19287
#please-close

[2018-12-03 22:00] alex-frankel commented on #19384
Bernard and I worked through this offline. His goal was to include a parameter file and a template file in the blueprint object itself that he could then reference in other template artifacts that get added to the blueprint. This is not something we support today.

That being said, **linked templates do work as expected**. Below is an example of a template that deploys a linked arm template with a

[2018-12-03 22:01] jason-j-MSFT commented on #18980
@mcurko have you taken a look at the all the supported data types here:
https://docs.microsoft.com/en-us/azure/data-factory/supported-file-formats-and-compression-codecs

It looks like there are also various encodings that are available as configurations.  If you would like to continue a more in-depth discussion, open a thread in the forums:
https://social.msdn.microsoft.com/Forums/azure/en-US/hom

[2018-12-03 22:01] #18980 closed

[2018-12-03 22:10] jason-j-MSFT commented on #19863
@Placid7 my 'Advanced settings' page was initially blank as well, but it loaded after a few seconds:
![annotation 2018-12-03 140632](https://user-images.githubusercontent.com/37126381/49404710-17250780-f705-11e8-924a-3b86b496e27b.jpg)

Could you try it again?

[2018-12-03 22:10] kgremban commented on #19739
I guess I'm still not clear on what exactly you're trying to uninstall from your system, but I'm glad that you were successful. Do you want to provide the steps that you took for me to consider including that in the documentation, or do you feel that this issue is resolved?

[2018-12-03 22:14] shayshahak opened #19896 "error vnet peering across tenants using Cloud Shell"
Hi there,
getting an error when using Cloud shell for vnet peering across tenants:
https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-subscriptions#cli

Using desktop native CLI works just fine.

reach out to me if you need more info
thanks
Shay

[2018-12-03 22:15] ZephiraTB opened #19897 "Connection failed (no connection to the remote host). Internal error: 1. Error details: 11001. Please check network connection, firewall setting, and the region name used to create speech factory."
How do I fix this, I've tried searching it up and got nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0c01253-54e1-02da-e7f5-3be6bfbf2294
* Version Independent ID: 27dd48d8-d829-79ec-a5f8-b7dae2855aa1
* Content: [Quickstart: Recognize and transcribe speech, .NET Framework (Windows) - Speech Service - Azure Cog

[2018-12-03 22:19] Mike-Ubezzi-MSFT commented on #19886
@rajeshprm Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-12-03 22:20] jason-j-MSFT commented on #18768
@nssidhu your question is a bit complex for documentation feedback.  We would like you to ask your question in the forums here:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

Hopefully the community will be able to address your question, and if an understanding is reached, open another documentation issue and we will take another look.

[2018-12-03 22:20] #18768 closed

[2018-12-03 22:31] mani-ramaswamy commented on #18179
Can you please reassign to Preetha Subbarayulu.

From: Micah <notifications@github.com>
Sent: Friday, November 16, 2018 5:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Subramanian Ramaswamy <subramar@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Compare reliable services to external stores (#18179)

Assigned #18179<https://na01.

[2018-12-03 22:31] schummbo opened #19899 "Changing subscription querystring"
Can a subscriber change the querystring value used as the security token?

If so: if delivery of an event fails in a way that causes Event Grid to retry,  and in the meantime the subscriber has changed the secret in the query string parameter of their endpoint, does Event Grid continue to retry with the outdated querystring value or will it retry with the updated querystring value?

---
#### Docum

[2018-12-03 22:36] daviburg opened #19900 "Allowed values out of date"
There is a "Premium" value allowed for SKU name. And "P" for sku family. There may accordingly be also other allowed values missing for this documentation of the Redis ARM deployment parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce050b09-7c14-6aa4-494a-b4cd8aa06f88
* Version Independent ID: 9f494624-ccca-7

[2018-12-03 22:39] DCtheGeek commented on #19384
@alex-frankel Thanks for providing the information!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-03 22:41] #19384 closed

[2018-12-03 22:42] Karishma-Tiwari-MSFT commented on #19760
@cynthn @zr-msft It looks like the E20s_v3 size does not have a constrained option available on the portal while the document says that it is available in the constrained option. Can either of you please confirm and update the doc? Thanks :)