[2018-05-11 20:53] HowardEdidin opened #8482 "Both samples are the same"
https://github.com/Azure-Samples/blockchain/tree/master/blockchain-workbench/messaging-integration-samples

CreateContract - This sample provides a walkthrough of how to create a logic app that creates a new contract programmatically.
CreateContractAction - This sample provides a walkthrough of how to create a logic app that executes a transaction on a specific contract instance.

---
#### Documen

[2018-05-11 20:58] MicahMcKittrick-MSFT commented on #8112
Ah okay! Thanks @gatneil! So I was on the right track with my above comment then :)

[2018-05-11 21:07] SnehaGunda commented on #7529
@michaelkruglos if you look at the complete code for Git sample described in this doc, we have an example for [inserting a document](https://github.com/Azure-Samples/azure-cosmos-db-mongodb-dotnet-getting-started/blob/987a2b942067d06291038dea37248a8ae59cf397/MyTaskListApp/DAL/Dal.cs#L50)

You can similarly update and delete actions by using the [collection.UpdateOne()](https://docs.mongodb.com/sti

[2018-05-11 21:16] ivratche commented on #6908
@dm3942 , I do not think you really answered the question. Seamless SSO has absolutely no bearing on whether you sync or not computer objects to Azure AD. However, hybrid AAD join for non-windows 7/8.1 requires Seamless SSO to be in place to authenticate the user with AAD + AAD DRS. In windows 10 that initial authentication is done through a self-signed cert which is exported to AAD via AAD Connec

[2018-05-11 21:32] SnehaGunda commented on #7529
@michaelkruglos I updated the doc, changes should be live soon. We will now proceed with closing this issue. If you have further questions, feel free to reopen or create a new issue.

#please-close

[2018-05-11 21:35] kobulloc-MSFT commented on #8215
@karthikeyanVK We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-05-11 21:35] #8215 closed

[2018-05-11 21:39] #7529 closed

[2018-05-11 21:39] kobulloc-MSFT commented on #8275
@iant-travelopia This may be a better question for the forums, but let's check with the document author.  @mrbullwinkle , do you know if they will have to re-run Status Monitor after every deployment?

[2018-05-11 21:42] amang2205 commented on #8461
Hi Mike,

My apologies, I thought it would be obvious.

According to https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-volume-logging-drivers, 'Windows Server 2016 Datacenter does not support mapping SMB mounts to containers (That is only supported on Windows Server version 1709). This constraint prevents network volume mapping and Azure Files volume drivers on versio

[2018-05-11 21:51] rodkr opened #8484 "Download IoT Edge script"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e354f151-d6a2-67d2-4ad0-2a30bbacdce1
* Version Independent ID: 334ff4b5-d9fd-f690-14aa-6a4d01b63fe1
* Content: [Simulate Azure IoT Edge on Windows](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows)
* Content Source: [articles/iot-edge/tutoria

[2018-05-11 21:52] #8420 closed

[2018-05-11 21:52] ivratche opened #8485 "One of the known issues above makes absolutely no sense"
Please clarify: "If Seamless SSO succeeds, the user does not have the opportunity to select Keep me signed in. Due to this behavior, SharePoint and OneDrive mapping scenarios don't work". What mappings are you talking about, the folks reading this content are pretty technical, do not generalize things that can be interpreted 1,000 different ways. Please fix.

---
#### Document Details

⚠ *Do not e

[2018-05-11 21:56] Thraka commented on #8404
@vdevappa I checked the page and this is fixed now. Please close the issue if you're satisfied! Thanks!

[2018-05-11 21:56] Thraka commented on #8108
@vdevappa I checked the page and this is fixed now. Please close the issue if you're satisfied! Thanks!

[2018-05-11 21:57] #8484 closed

[2018-05-11 21:58] SnehaGunda commented on #8446
@Mike-Ubezzi-MSFT please assign this issue to me.

[2018-05-11 21:59] Mike-Ubezzi-MSFT commented on #8475
@tonymet Thank you for your inquiry. There is no supported means for applying the tlog to an Azure SQL Database (PaaS). You may be interested in SQL Server on Azure Virtual Machines (IaaS): [What is SQL Server on Azure Virtual Machines? (Windows)
](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-iaas-overview)
This options allows you to lever

[2018-05-11 21:59] mike-urnun-msft commented on #8423
Hey @timmydo - I will look into this today and share any relevant findings. Just to clarify, are you not setting environment variables in your `Dockerfile` using `ENV` before uploading your custom image to Azure Container Registry?

[2018-05-11 22:01] anumjs commented on #7985
@simonnuss Thanks for the feedback. Let me test the DAX that you have suggested to calculate the average number of tickets and then follow up on this thread. We are using a sample data set but I do want to make sure that the query works in most cases for calculating averages.

[2018-05-11 22:01] #8108 closed

[2018-05-11 22:05] SnehaGunda commented on #8446
@MatJanssen Thanks for pointing, this issue is now fixed and the changes should be live soon. We will close this issue now.

#please-close

[2018-05-11 22:09] tfitzmac commented on #7701
@vancourse - Sorry for the slow response. When using copy in a property, the name of the copy loop is the same name as the property it is replacing. So, I think for your scenario you would replace "vdcopy" with "virtualApplications" since that is the name of the array property.

[2018-05-11 22:22] MGamil-MSFT opened #8486 "Article Need to be updated :)"
This article needs to be updated for 2 attributes:

1-"ms-DS-External-Directory-Object-Id" This attribute will be written back whether you enabled exchange Hybrid feature or not, as AD Connect will check your AD Schema and if it is extended with exchange attributes AD Connect will start to sync back this attribute (some of customers were asking why this attribute synced back while exchange hybrid

[2018-05-11 22:30] TravisCragg-MSFT commented on #8412
If you look at the test Summary under "Cipher Suites", it will tell you what Cipher Suites are not secure enough.

I was able to get an "A" rating by using a custom SSL Policy. you can find a list of the [SSL Labs recommended secure cipher suites Here](https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices#23-use-secure-cipher-suites) and reference them with Azure Load Bala

[2018-05-11 22:34] bob53050 opened #8488 "Requets for more complete example for C# and Visual Studio"
Sorry, I am looking for a more complete example where I can access the Azure Function from Xamarain (HttpClient) and send a Servicebus queue message

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azure Servic

[2018-05-11 22:35] #8446 closed

[2018-05-11 22:37] #7328 closed

[2018-05-11 22:42] TravisCragg-MSFT commented on #8477
@Powerhelmsman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-11 22:44] JasonWHowell commented on #8229
@timtunbridge Great! We are updating the quickstart later today to use 2018 dates, and mention the custom start time requirement. Sorry for the trouble and have a good weekend ~Jason
#please-close

[2018-05-11 22:46] Mike-Ubezzi-MSFT commented on #8482
@HowardEdidin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-11 22:49] #8229 closed

[2018-05-11 22:51] Mike-Ubezzi-MSFT commented on #8482
@PatAltimore The messaging integration samples referenced by the GitHub link look awfully similar. Can we verify and make things are correct.
Thank you,
Mike

[2018-05-11 22:52] MohitGargMSFT commented on #8485
@ivratche Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-11 22:53] MohitGargMSFT commented on #8486
@MGamil-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-11 22:54] Mike-Ubezzi-MSFT commented on #8466
@epocket Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-11 22:56] Mike-Ubezzi-MSFT commented on #8484
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 22:56] jason-j-MSFT commented on #8422
@sethmanheim we have a request to add more guidance on replaying captured events

[2018-05-11 23:03] PatAltimore commented on #8482
@Mike-Ubezzi-MSFT The issue is for the Azure-Samples/blockchain repo.  Not azure-docs.  I don't know if you want to track it here.  I can follow up with the sample writer.

[2018-05-11 23:03] MohitGargMSFT commented on #8481
@jewarner The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please open a new issue to let us know if there is something else that we can help you with.

[2018-05-11 23:10] grahambunce commented on #7744
@rboucher I don't think I was looking at different aggregation types as I checked, but I can check again

[2018-05-11 23:12] SaurabhSharma-MSFT commented on #8465
@sirdank. Do you see the default - "User_Impersonation" scope under the scopes blade ?
By default, the "user_impersonation" scope is defined. The user_impersonation scope gives other applications the ability to access this api on behalf of the signed-in user.

[2018-05-11 23:13] #7378 closed

[2018-05-11 23:15] SaurabhSharma-MSFT commented on #8349
@sirdank We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:15] #8349 closed

[2018-05-11 23:27] MicrosoftGuyJFlo commented on #8032
The doc for this topic already exists as referenced above. Windows authentication is not the method for securing Remote Desktop Gateway that is what the note is calling out. #please-close

[2018-05-11 23:27] #8481 closed

[2018-05-11 23:29] MicahMcKittrick-MSFT commented on #8488
@bob53050 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-11 23:31] MohitGargMSFT commented on #8485
@ivratche I have assigned the issue to the document author to investigate and update as appropriate.

[2018-05-11 23:39] MohitGargMSFT commented on #8486
@MGamil-MSFT I have assigned the issue to the document author to investigate and update as appropriate.

[2018-05-11 23:39] jongross4 opened #8489 "Example uses wrong URL"
The example is using dev version and not prod api.cognitive.microsofttranslator.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11e94a49-ead1-ff2c-4ac2-df36b62be9a5
* Version Independent ID: 1452dc88-55ee-2bfc-7d10-8be3c3568ae6
* Content: [Microsoft Translator Text API Transliterate Method](https://docs.microsoft.co

[2018-05-11 23:48] vancourse commented on #7701
Tom,

Thank you. I did that, but am getting the same error.. Here is my completed
template file and the parameter file..

Thank you for your help.

Ravi

On Fri, May 11, 2018 at 3:10 PM Tom FitzMacken <notifications@github.com>
wrote:

[2018-05-11 23:50] Mike-Ubezzi-MSFT commented on #8482
@HowardEdidin For the Azure-Samples, there is a means to open issues directly against a specific sample:

![screenshot 220](https://user-images.githubusercontent.com/37126106/39951044-18454542-553b-11e8-9e3f-6f77436a5b26.png)

By doing so, the issues are handled directly by the sample owner (versus the documentation owner) and is a more efficient process. In the mean time. I am working to get a ve

[2018-05-11 23:51] MohitGargMSFT commented on #6908
@dm3942 Please open a new GitHub issue and we will gladly continue the discussion.

[2018-05-11 23:55] Mike-Ubezzi-MSFT commented on #8172
@westerj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:55] #8172 closed

[2018-05-11 23:56] Mike-Ubezzi-MSFT commented on #8208
@kotpal We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:56] #8208 closed

[2018-05-11 23:57] Mike-Ubezzi-MSFT commented on #8282
@dan4ist We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:57] #8282 closed

[2018-05-11 23:57] Mike-Ubezzi-MSFT commented on #8307
@Joyliu290 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:57] #8307 closed

[2018-05-11 23:58] Mike-Ubezzi-MSFT commented on #8325
@isharehappycode We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:58] #8325 closed

[2018-05-11 23:59] Mike-Ubezzi-MSFT commented on #8347
@tomjaguarpaw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-11 23:59] #8347 closed

[2018-05-11 23:59] SQLDataSide commented on #8229
the documentation says that when the files get loaded in the container1 they will get loaded/processed
they do not say that the ASAJob checks the date fields within the file?

My question is if i get the ASAJob running from 2016 and i load data from 2010 i wouldn't see any data movement or in other words ASAJob will not process those files, WHY?

if i deposit a file, ASAJob should pick it up and p

[2018-05-12 00:01] Mike-Ubezzi-MSFT commented on #8381
@wesmc7777 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-12 00:01] #8381 closed

[2018-05-12 00:01] Mike-Ubezzi-MSFT commented on #8382
@Mahendra-raja We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-12 00:01] #8382 closed

[2018-05-12 00:02] Mike-Ubezzi-MSFT commented on #8425
@philipvago We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-12 00:02] #8425 closed

[2018-05-12 00:03] JoelHazelton opened #8490 "Remove direct licenses for multiple group inheritance"
I am working on setting up Group licensing in our environment. We will have one single group with a standard set of licensed services (Exchange, Office, Yammer, Sharepoint), then multiple additional groups, each with a single add-on service (Teams, Sway, Skype, etc). I wrote a PS script that will analyze a user's current license assignment, then add them to the appropriate groups based on that cur

[2018-05-12 00:03] Mike-Ubezzi-MSFT commented on #8480
@Powerhelmsman Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-12 00:06] SQLDataSide commented on #8229
Please change the code, i removed the "MY"

SELECT
System.Timestamp AS OutputTime,
dspl AS SensorName,
Avg(temp) AS AvgTemperature
INTO
  BlobOutput
FROM
  BlobInput TIMESTAMP BY time
GROUP BY TumblingWindow(second,30),dspl
HAVING Avg(temp)>100

[2018-05-12 00:07] rwike77 commented on #7844
I've [updated the article](https://docs.microsoft.com/azure/service-fabric/service-fabric-tutorial-deploy-app-to-party-cluster) with info on finding the service endpoint and opening a port in the load balancer.

#please-close

[2018-05-12 00:08] jongross4 opened #8491 "Duplicate of DIctionary lookup page"
This is a duplicate of the DIctionary Lookup page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5aa1f87-5f23-48fb-311e-8f975c8e3550
* Version Independent ID: 4912c63d-411c-5830-c606-b4e14434aa1a
* Content: [Microsoft Translator Text API Dictionary Examples Method](https://docs.microsoft.com/en-us/azure/cognitive-serv

[2018-05-12 00:09] Mike-Ubezzi-MSFT commented on #8032
@JimmyLS We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-12 00:09] #8032 closed

[2018-05-12 00:11] SergeyKanzhelev commented on #8275
Status Monitor should only be installed once. After that simple SDK update required. No need to re-install Status Monitor. See http://apmtips.com/blog/2016/11/18/how-application-insights-status-monitor-not-monitors-dependencies/ on some deep technical details on how Status Monitor is used.

[2018-05-12 00:13] JasonWHowell commented on #8229
@SQLDataSide New blob files are scanned when they arrive into the blob container as input.

In the Quickstart query, it uses the TIMESTAMP BY clause to derive the timestamp of each event from the data itself. It uses the column/field called **time** from the sample data json file in each row/event.
{
	**"time": "2018-01-26T20:47:53.0000000",**
	"dspl": "sensorE",
	"temp": 123,
	"hmdt": 34
},

If t

[2018-05-12 00:30] SQLDataSide commented on #8229
Hi Jason
Thank you very very much for the prompt reply , i do understand MS's and your approach in designing and setting ASAJ,
currently i am going deep into ASAJ , I do understand that ASAJ is focused of future/current data, like IoTHub and etc... as you had mentioned

I have done some good presentation on IoTHub, ASAJ and powerBI. at MS Canada.
my plan is to focus on the MSDN forum and to provid

[2018-05-12 00:54] YutongTie-MSFT commented on #8491
@jongross4 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, can you please check the document and update the document as necessary? Thanks a lot!

[2018-05-12 00:56] timmydo commented on #8423
Thanks for the links. I think they may be more geared towards running containers independently. In my scenario, I'm running a container inside the web app service, so I can't use some of those commands. (I'm guessing the web app service starts my container and forwards http requests to port 80 on it)

I'm not setting env vars in my dockerfile because my dockerfile is checked into a public git repo

[2018-05-12 00:59] c016smith opened #8493 "SSPR custom URLs for enrollment"
To aid in the branding and user experience for users as they enroll, is there a specific URL we can send people to (prior to logging in) for experiencing a "branded" enrollment experience, with our AzureAD logo etc.?

I know for SSPR we can use this URL: https://passwordreset.microsoftonline.com/?whr=tenantdomain.com  but this is just for resetting the password, not for enrolling in the SSPR servi

[2018-05-12 01:02] YutongTie-MSFT commented on #8489
@jongross4 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, can you please check the document and update it necessary? Thanks a lot!

[2018-05-12 01:09] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- nope, that doesn't work with VMss.I tried.
I figured it out , I found an article from the github on how it can be added.

[2018-05-12 01:13] YutongTie-MSFT commented on #8480
@Powerhelmsman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@priyaravi20 Hi, this is a doc-enhancement issue, can you please check it and update the doc as necessary? Thanks a lot!

[2018-05-12 01:38] YutongTie-MSFT commented on #8274
@nuiwos We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

@tedway Please check this issue also, and update it as necessary. Thanks a lot!

[2018-05-12 01:38] #8274 closed

[2018-05-12 02:50] AdamGrossTX opened #8499 "Some Windows features are only available if you are using a Microsoft account or work account."
What are other ways that this error could occur other than a delay? What tests can be run or logs viewed to determine the source of this issue? Is there a table of event log messages with their corresponding remediation action?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af15f989-31c5-1730-869d-66531023658b
* Versio

[2018-05-12 02:54] mikebranstein opened #8500 "Protocol changes after //BUILD 2018"
Following the Custom Speech (preview) changes after //BUILD 2018, I noticed the web socket protocol described here doesn't appear to be accurate. The JavaScript SDK doesn't work, and our own C# implementation of this protocol stopped working with the new endpoints of Custom Speech.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-05-12 03:40] #7844 closed

[2018-05-12 03:57] hajjat opened #8501 "Can't edit IPConfigs of a NIC after VMSS creation"
Once VMSS is created, we were not able to add or remove IPConfigs on the NIC. I tried with both ARM and Golang SDK but none worked. The call returns back without any errors; however, the IPConfigs list didn't get updated.

Is this a known bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c3ba2e-4447-da7a-02d2-a5637

[2018-05-12 04:57] dmarlow commented on #8404
Looks like there's a typo with the markdown on the page, it looks split for me. Careful when using the "Copy" button as you'll get some extra chars at EOF.

[2018-05-12 04:59] dmarlow commented on #8404
Also, just noticed this on the page (extra NDP472):
set "netfxinstallfile=NDP472-NDP472-KB4054531-Web.exe"

should be

set "netfxinstallfile=NDP472-KB4054531-Web.exe"

[2018-05-12 05:00] milope opened #8503 "Alternate Application Gateway Configurations to avoid the need for a public CNAME"
In a scenario where a custom domain is used and the VNET has a custom DNS with entries for the APIM Developer and Gateway endpoints, we can now take advantage of the HTTP Settings -PickHostNameFromBackendAddress and the Custom Probe's -PickHostNameFromBackendHttpSettings along with the -BackendFqdns property and we would not even need to map a CNAME record to the Application Gateway's public DNS n

[2018-05-12 06:32] northtyphoon opened #8504 "Enable HTTP Application Routing"
How can I enable HTTP Application Routing through ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-a376-1535-7bc4-deaca1d98dd9
* Content: [HTTP Application Routing add-on on Azure Container Service (AKS)](https://docs.microsoft.com/en-u

[2018-05-12 10:39] kpstolk commented on #8344
Thanks you all for the quick replies, I'll install the extension and try again!

[2018-05-12 11:51] SamirFarhat commented on #8343
Hi,
The goal is to be able to avoid hardcoding the image name within ServiceManifest.xml. Can i override this value by passing a parameter during the deployment.

[2018-05-12 11:58] clayms commented on #5084
Is there any movement on this?  I am using python and submitting a json in a similar way to this [example](https://github.com/MicrosoftTranslator/Text-Translation-API-V3-Python/blob/master/Translate.py).  There is also an [dictionary example](https://github.com/MicrosoftTranslator/Text-Translation-API-V3-Python/blob/master/DictionaryExample.py), but that is not helping.  It appears to only work wi

[2018-05-12 12:13] Mahendra-raja commented on #8382
Hi Mike,
Sorry for the late response. I was using V2 documentation, I saw URL field, but not the File. I updated my solution to V4 and passing the BLOB SAS URL in Files Node works now. Yes, this issue is resolved.
Thanks

[2018-05-12 15:50] Mike-Ubezzi-MSFT commented on #8500
@mikebranstein Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-12 15:59] Mike-Ubezzi-MSFT commented on #8501
@hajjat Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-12 15:59] wechuli opened #8505 "Simulated Devices"
Apparently I cannot delete the simulated devices-this is a bit annoying, I obviously want to customize the solution to my own needs, and I don't need telemetry of simulated devices appearing on the dashboard(and filling it up), so it does not make sense to prevent deleting a simulated device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-05-12 16:04] Mike-Ubezzi-MSFT commented on #8504
@northtyphoon Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-12 16:10] Mike-Ubezzi-MSFT commented on #8503
@milope Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-12 16:15] Mike-Ubezzi-MSFT commented on #8490
@JoelHazelton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-12 17:17] cenkersoy opened #8506 "Context"
When activating admin and user portals, what user do we login as ? The article does not indicate.
Also to reset the password expiration policy, it does not indicate which account should be used (local admin or AzureStack\CloudAdmin)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be299a6e-e10b-ae65-a59d-e5730e33a54d
* V

[2018-05-12 18:28] bernardjclark opened #8507 "First line contains an error"
Following this tutorial exactly as written, the line

ITextAnalyticsAPI client = new TextAnalyticsAPI();

Does not compile.
Error	CS0122	'TextAnalyticsAPI.TextAnalyticsAPI(params DelegatingHandler[])' is inaccessible due to its protection level

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4

[2018-05-12 18:42] wcom939 opened #8508 "Deployment to remote azure cluster not working"
This article seems to be completely devoid of specific steps required for this to function properly.

Specifically in this section "Deploy the application to Azure" the instructions only mention the party cluster which seem to have all the ports open on the load balancers.

Additionally the steps do not actually work on a non party cluster, I can deploy the service, it appears, but I cannot access

[2018-05-12 18:49] suhuruli commented on #8508
Hi,

Thanks for the feedback. Will get this addressed right away. Sorry for the inconvenience.

[2018-05-12 20:19] simonlousky opened #8509 "Section 2 of register a device has a mistake"
```az iot hub device-identity show-connection-string --hub-name {YourIoTHubName} --device-id MyJavaDevice --output table```
should be ```az iot hub device-identity show-connection-string --hub-name {YourIoTHubName} --device-id MyDotnetDevice --output table```

You should also mention that {MyDotnetDevice} is also hard-coded in the back-end code, I originally gave a custom name to my IoT device and

[2018-05-12 22:55] guibirow opened #8511 "Availability Zone Physical vs Logical Isolation"
The docs states that an 'Availability Zone' is logically separate from other zones.

By logically I understand that it might be placed on the same building( or not), logically considering it a new zone because they have distinct power source, network, and cooling.
But a few words later it states:

Is there a contradiction in the explanation? or does it mean that is possible to have more than one z

[2018-05-12 23:23] wcom939 opened #8512 "Service Fabric plugin for eclipse does not appear"
Following these instructions the Service Fabric plugin does not come up, only the azure toolset and Team explorer are available. Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867a5a41-6a54-7c92-6bb3-65eec3159076
* Version Independent ID: f83a57ba-66fc-96a4-9f69-6bb299a51001
* Content: [Set up your develo

[2018-05-13 00:06] cdaniel96 opened #8513 "Doesn't work"
Guys, I followed the steps but I'm finding an error. It tries to log all virtual machines I have created and I'm not able to set a lab.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: d783b020-3c74-c54d-416d-cf8539f27309
* Version Independent ID: 5da29795-6264-b4d5-57b2-c7dc94f4dc01
* Content: [Set up a cl

[2018-05-13 00:40] mike-urnun-msft commented on #8507
@bernardjclark Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-13 00:44] mike-urnun-msft commented on #8511
@guibirow Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-13 00:48] mike-urnun-msft commented on #8512
@wcom939 Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-13 00:51] mike-urnun-msft commented on #8505
@wechuli Thanks for sharing how you resolved this! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-13 00:51] #8505 closed

[2018-05-13 00:52] mike-urnun-msft commented on #8506
@cenkersoy Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-13 00:54] mike-urnun-msft commented on #8509
@simonlousky Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-13 05:44] rahulunlimited opened #8515 "Publish from ADF makes 3 commits"
Publish from the master branch on ADF makes 3 commits to the adf_publish repository. If automatic CD is enables, it triggers 3 releases on VSTS. Can this be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content

[2018-05-13 07:01] nahue97 opened #8517 "Error creating a local Functions project"
When I execute this command: "func init MyFunctionProj" I should get an output like this:
Writing .gitignore
Writing host.json
Writing local.settings.json
Created launch.json
Initialized empty Git repository in D:/Code/Playground/MyFunctionProj/.git/

But I get this output:
Writing .gitignore
Writing host.json
Writing local.settings.json
Writing C:\Users\nahue\dev\MyFunctionProj\\.vscode\extension

[2018-05-13 07:34] kasunsjc opened #8518 "Can I deploy AKS into my existing virtual network"
Need to update. from the new announcement we can deploy AKS to existing vNet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions for Azure Kubernetes Service](https://docs.microsoft.com/

[2018-05-13 07:49] ToMakeSense commented on #7271
@CeciAc  I am not sure whether there is other URLs link to incorrect version, if you can investigate deeply , that will be great :+1: .

[2018-05-13 10:35] mdittakavi opened #8520 "Any other method to pull the data from Dell Boomi HTTP connector"
Hi Team
we have SharePoint 2016 on prem farm and  iPaas Integration platform (Dell Boomi) both in the same network.  To consume SharePoint list/library data  do we have only REST API calls' with OAUTH .
Dell Boomi is a remote based application and can only connects using REST API's to sharepoint. Can we  call without using Azure ACS Proxy for token services.

---
#### Document Details

⚠ *Do not e

[2018-05-13 10:36] djpirra commented on #8182
I was referring to more detailed documentation about it. Was it improved?

Thank you

Mike Ubezzi <notifications@github.com> escreveu em qua, 9/05/2018 às 22:17 :

--
Melhores Cumprimentos,
Luis Simões

[2018-05-13 10:41] djpirra commented on #8180
I was actually referring to the documentation. It should mention that only
one transaction log file is supported. In my case the original had two
files specified and after hours dealing with backup and restore of a huge
database I found that it was not supported having multiple log files.

Mike Ubezzi <notifications@github.com> escreveu em qua, 9/05/2018 às 17:34 :

--
Melhores Cumprimentos,
Luis

[2018-05-13 11:08] DaRosenberg opened #8521 "Add instructions on how to create policy definitions and initiative definitions in a management group via PowerShell"
This documentation does not explain how to create policy definitions or initiative definitions in a **management group** rather than directly on a subscription, using PowerShell. It's simple enough to do this via the portal, but nowhere can I find any information on how to do this using PowerShell. When using PowerShell, any definitions always get created on the subscription of the current AzureRm

[2018-05-13 12:39] clayms commented on #5084
Combining the instructions [here](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate?tabs=curl#translate-with-dynamic-dictionary) with the python [examples](https://github.com/MicrosoftTranslator/Text-Translation-API-V3-Python/blob/master/Translate.py) with the following input

[code]

gives the following output:

[code]
Somehow everything before the tagg

[2018-05-13 14:37] tutul2010 opened #8524 "How "Hospital or stationary store near to me" by using "Bing Web search API" with botFramework(C#.net)"
Hi Team,

We are trying to use "Bing Web search API"(requested on azure portal) with Bot framework(chat bot type app).

We are able to search the hospitals related information by using "Bing Web search API"(requested on azure portal) with chat bot app. But searching results are not proper or right.
Can any one one have an idea to call "Bing Web search API" with botFramework(C#.net) for specific en

[2018-05-13 15:17] keyedit opened #8525 "http 401"
I've followed the instructions but when I send a request to my new api I get a 401. function.json has been published 'automatically' and has  authLevel='function'. Does this mean I need to provide some kind of auth before I can call it successfully?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6

[2018-05-13 15:53] Mike-Ubezzi-MSFT commented on #8513
@cdaniel96 Thanks for the feedback. Would it be possible to provide an error message or some additional detail as to what you are experiencing? In the mean time, we are actively investigating and will get back to you soon.

[2018-05-13 15:56] Mike-Ubezzi-MSFT commented on #8517
@nahue97 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-13 16:00] Mike-Ubezzi-MSFT commented on #8518
@kasunsjc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-13 16:01] Mike-Ubezzi-MSFT commented on #8515
@rahulunlimited Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-13 16:04] Mike-Ubezzi-MSFT commented on #8521
@DaRosenberg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-13 16:08] Mike-Ubezzi-MSFT commented on #8520
@mdittakavi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-13 16:35] Mike-Ubezzi-MSFT commented on #8524
@tutul2010 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-13 16:36] AronT-TLV opened #8526 "These instructions don't work"
The site seems to either have regressed to an older version of the doco or left out something, because when you follow the instructions as stated here on a brand new cluster you get an error on both `helm list` and `helm install` - see issue #346

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a

[2018-05-13 16:38] Mike-Ubezzi-MSFT commented on #8525
@keyedit Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-13 16:46] ivanfioravanti opened #8527 "Microsoft.Azure.Extensions.Docker is deprecated and will be removed in November 2018"
Could you please update this article to use the new CustomScripts way?
[Azure Virtual Machine Extension for Docker](https://github.com/Azure/azure-docker-extension#warning-important-warning)
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a0228a-a81a-e180-46be-ee317fbf99cf
* Version Independent ID: 34fe406c-74

[2018-05-13 16:50] neilpeterson commented on #8526
@AronT-TLV - the issue that you have included (#346) does not appear related. Can you provide more information on the issue that you have encountered.

I am curious if the issue is related to this:

https://github.com/kubernetes/helm/pull/3990

Can you try deleting the tiller deployment:

[code]

And then running `helm init` again with this command?

[code]

Does this fix up Helm for you?

Thanks

[2018-05-13 16:51] neilpeterson commented on #8518
@kasunsjc - yes, this can be done when deploying an AKS cluster from the Azure portal. See this doc for more information:

https://docs.microsoft.com/en-us/azure/aks/networking-overview

Thanks

[2018-05-13 16:52] AronT-TLV commented on #8526
Yes exactly that fixes the problem, as noted in the cited ticket. The question is why doing `helm init` fails the first time

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Neil Peterson <notifications@github.com>
Sent: Sunday, May 13, 2018 7:50:20 PM
To: MicrosoftDocs/azure-docs
Cc: Aron T; Mention
Subject: Re: [MicrosoftDocs/azure-docs] These instructions don't

[2018-05-13 16:53] neilpeterson commented on #8527
@ivanfioravanti - thanks I will look into this.

[2018-05-13 18:04] cveld opened #8529 "Azure OneAPI portfolio"
What is the idea behind this Azure OneAPI portfolio that is being referred to? Besides Azure Maps I can't find much about it. Taking a look at the Atlas scripting library examples is also doesn't seem to be related to Azure Active Directory App Principals and/or Microsoft Graph. Seems exciting though.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen

[2018-05-13 19:11] nahue97 commented on #8517
Thanks Mike! I'm looking forward to your answer.

[2018-05-13 20:40] cenkersoy opened #8530 "Personas"
In the "Personas" section, it mentions "cloud administrator". There is no explanation of what "cloud administrator" actually is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 928cfb1a-ffd2-cbb7-63c9-e3d5eb72e35f
* Version Independent ID: 8b9778d4-ae13-716a-3c50-ffa28b9c8e54
* Content: [Key features and concepts in Azu

[2018-05-13 22:39] #8374 closed

[2018-05-13 23:41] legwind commented on #8327
Thanks, didn't think to look there! :)

[2018-05-13 23:51] mike-urnun-msft commented on #8529
Hey @cveld! Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-13 23:57] mike-urnun-msft commented on #8530
@cenkersoy Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-14 01:31] nzigel opened #8532 "Error when running iotedgectl setup"
I got an error on running iotedgectl setup more details at:
https://github.com/Azure/iot-edge/issues/585
Workaround Uninstall and reinstall idna and pyopenssl.
sudo pip uninstall idna pyopenssl -y
sudo pip install idna pyopenssl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd1c71ba-2815-82c5-90b8-26f674b3ff25
* Versi

[2018-05-14 02:10] kduenke commented on #8526
This didn't fix it for me.  Neither did the patch fix I've seen floating around.
[code]
I get further, but get...
Error: release ... failed: clusterroles.rbac.authorization.k8s.io "...-nginx-ingress" is forbidden: attempt to grant extra privileges

[2018-05-14 02:10] nahue97 commented on #8517
Update: I followed the instructions in my brother's computer and it worked. Could it be related to an installation of Visual Studio 2015 I made months ago? I still cannot make it work in my computer.

[2018-05-14 02:12] KeiroKamioka0000 commented on #8318
Thanks,

It helped me!

Please close it.

[2018-05-14 02:12] #8318 closed

[2018-05-14 03:55] neilpeterson commented on #8526
@kduenke - two unrelated events have broken two different steps in this doc.

## Helm issue

First, [an issue with Helm](https://github.com/kubernetes/helm/pull/3990), which results in this message when running any chart in an AKS cluster.

[code]

The fix is to delete the tiller deployment, and reinstall with:

[code]

## Updated NGINX ingress chart

Second, the default values in the NGINX ingres

[2018-05-14 04:30] adriantorrie opened #8534 "Install and log in to Workbench - Instructions fail when miniconda already installed in system wide folder"
- Windows 10
- AmlWorkbenchSetup.msi
- Components already installed
[code]

## Log 1

[code]

## Log 2
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089419cb-c22f-ca1a-fd06-a8f18c05c1da
* Version Independent ID: f53bf992-45d1-4e87-e8c9-caffbb2b15ee
* Content: [Installation Quickstart for Azure Machine Learning

[2018-05-14 04:31] kduenke commented on #8526
Neil, I just saw your latest post.  I hadn't refreshed my page.  Am I going to have problems with the approach I took?

[2018-05-14 04:38] neilpeterson commented on #8526
@kduenke - I spoke with the AKS team late last week about RBAC and was informed it is not enabled.
That said, I cannot explain your fix.

@slack - can you confirm that RBAC is not enabled / functioning in AKS clusters at this time?

Thanks

[2018-05-14 04:51] dineshsharmads opened #8535 "Basic SKU does not support PolicyBasedTrafficSelectors"
In the "Important" table, it should also be mentioned that PolicyBasedTrafficSelectors are not supported on Basic SKU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c33f22-7243-bb33-38b9-fcf30e68ffe6
* Version Independent ID: c1a3a25a-26d0-acdf-d5f2-1d1c057a3e5b
* Content: [Connect Azure VPN gateways to multiple on-

[2018-05-14 06:20] mahavirsinhpadhiyar opened #8536 "Missing Notes"
Miss some code that I want to add here:

1. After creating MyFirebaseIDService you will need following namespaces:
   **using Android.Util;
   using WindowsAzure.Messaging;
   using Firebase.Iid;
   using Android.App;
   using System.Collections.Generic;**

2. After creating MyFirebaseMessagingService you will need following namespaces:
   **using Android.App;
   using Android.Content;
   using An

[2018-05-14 06:47] AdityaJasti opened #8537 "Need Help on resolving the error - Storage account name and account key are mandatory when not using development storage"
while i was trying to store the user utterances in a table(app insights azure), i am getting the below error. I have followed the below links for implementation.

https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-state-azure-table-storage?view=azure-bot-service-3.0

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-function-appinsights

Here is

[2018-05-14 07:37] alexeyshishkin01 opened #8538 "how to prepare VHD for publishing in Azure Marketplace"
[Enter feedback here]

pls. pay attention to https://github.com/Azure/azure-cli/issues/6236
in case of questions pls. contact me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fee0d57-aa7c-0259-eefa-7e9e939970d4
* Version Independent ID: cf342e82-d604-bfbc-0c32-b9a95c614f85
* Content: [Creating a virtual machine image

[2018-05-14 07:48] sullyNivek75 commented on #7851
Hi Mike,

You are right, there is still a problem with the algorithm. I let this run through the weekend to see if it would give more accurate readings. What i am finding now is the result is fluctuating, but only by 2% - ranging from 7-9%. This was the case during friday night when it was raining for approx. 8hrs. I would be happy to work with the creators to try and enhance the outputs to make i

[2018-05-14 08:40] Molotch opened #8540 "The triggers section needs to be updated"
There are triggers available for when an item is created or updated now. Would be nice to get some information on how logic apps is notified of changes. If it's query notifications, polling or other method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-189f33d67ed7
* Version Independent ID: 661

[2018-05-14 09:13] naminakao commented on #8440
Please delete < and > from the command sample on Step4.

![image](https://user-images.githubusercontent.com/34467132/39988445-49f50a5a-57a2-11e8-8d88-b60e361f3189.png)

[2018-05-14 09:17] dominicbetts commented on #8509
Hi @simonlousky - thanks for pointing this out - I've fixed the device name, and added a comment about using a different device name to the articles. Changes should be live shortly.
Dominic

[2018-05-14 09:17] dominicbetts commented on #8509
#please-close

[2018-05-14 09:23] imaterek opened #8541 "How to read the table WADPerformanceCountersTable via Log Analytics?"
How to read the mentioned SA table WADPerformanceCountersTable via Log Analytics? There is no option to add the particular via Storage accounts logs tile of Log Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1ba23e0-7b34-bda9-93c5-e04ed6b8fadb
* Version Independent ID: d03578a6-39ac-1ed2-4b19-627c56b4ef3b
*

[2018-05-14 09:42] stijnbrouwers commented on #8348
Sorry for my late response, it was a national holiday here in Belgium...

I can confirm that the answer of @rashmichandrashekar is correct. The container solution has to be created in the same resource group as the AKS Cluster (not in the resource group generated when creating the cluster). Changing this fixed the issue!
It's not a problem to create it in the same resource group, but maybe it's so

[2018-05-14 09:42] swasifali opened #8542 "Search link is broken"
The Search link is Next Steps is giving 404 error.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd8f5a8-7ecb-9ee8-0bc9-53b1c5949e41
* Version Independent ID: 32eb1cc8-893b-eb61-df92-717bf9f8d4a7
* Content: [Geocoding Coverage in Azure Maps](https://docs.microsoft.com/en-gb/azure/azure-maps/geocoding-coverage)
* Cont

[2018-05-14 10:06] jpalo commented on #7681
I'm still getting mixed signals whether Azure B2C would somehow support SP initiated AND IdP initiated Single-Log-Out (SLO), so re-opening this.

I did enable "SamlSSOSessionProvider" in our SAML2 TechnicalProfile, but what I'm missing is basically a SLO URL in B2C to which I could redirect the user, and it would create the LogoutRequest message, HTTP POST (containing at least the NameID) the brow

[2018-05-14 10:10] DrEight commented on #8397
Sorry I was not clear. My question is related to the production. I have a certificate issued by the CA and I'm using the Key Vaults. So I stored the certificate in the 'Certificates' section.
I don't know how to tell to my application to use and automatically download the certificate to the nodes. I don't understand also why the example store the local certificate as 'secret', because the most obv

[2018-05-14 10:53] oxxa opened #8544 "Storage Explorer assumes port 10000[0,1,2] for Storage Emulator"
The Azure Storage Emulator is setup to listen on ports http://127.0.0.1:10000 10001 and 10002 .  On my system I have found another process grabs port 100000, so I have to start the Storage Emulator with it listening on another port range instead.  That works fine, the issue is there seems to be no way to tell Aure Storage Explorer that the emulator is now using different ports, instead it always t

[2018-05-14 11:09] wpitallo commented on #6596
@David-Noble-at-work  Line numbers would also be quite cool

[2018-05-14 11:18] waheedhussain opened #8545 "conceptual view of monitoring picture"
Hi,

the picture at the top mentions log analytics under 'deep infrastructure monitoring', is that the correct view? as i understand log analytics can be configured to combine data from applications (i.e. via application insights connector) as well as infrastructure and azure resources to give an end-2-end monitoring picture for an 'application'?

becomes quite confusing if we need to explain via

[2018-05-14 11:26] antonvidishchev opened #8546 "Fix the typo"
You create a MyDotnetDevice, but then retrieve a connection string for MyJavaDevice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666d1390-a995-fb5f-e1ee-49e28c50e901
* Version Independent ID: d699e566-83d8-5af9-56a5-4baa56ae0455
* Content: [Send telemetry to Azure IoT Hub quickstart (C#)](https://docs.microsoft.com/

[2018-05-14 11:49] mohmdnofal opened #8548 "Fix Typo"
in https://docs.microsoft.com/en-us/azure/virtual-machines/linux/premium-storage#lis-drivers-for-openlogic-centos section, change;
From: To activate the new drivers, restart the computer.
To: To activate the new drivers, restart the VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dec11a9-8b64-aff1-78ae-f739b5f26cf2

[2018-05-14 11:54] mohmdnofal opened #8549 "Remove Outbound data transfer from pricing"
in https://docs.microsoft.com/en-us/azure/virtual-machines/linux/premium-storage#pricing-and-billing section, the outbound data transfer is mentioned in the storage pricing, which is a bit confusing, its more appropriate to have this only in the VM pricing section. as this doesn't impact the disk pricing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-05-14 13:10] SychevIgor opened #8550 "update screenshots to target portal.azure.com active-directory-troubleshooting"
It's a right time to update screenshots to target portal.azure.com instead of classic one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72848964-af78-c401-f8ce-be1aba07ee09
* Version Independent ID: 710bf693-b303-941e-460c-bafddbee846a
* Content: [Troubleshooting: 'Active Directory' item is missing or not available](

[2018-05-14 13:13] SychevIgor opened #8551 "CLI version of the guide active-directory-accessmanagement-groups-settings-v2-cmdlets"
could you also include CLI version of this Guide for a non-windows customers https://docs.microsoft.com/en-us/cli/azure/ad/group?view=azure-cli-latest#az-ad-group-list https://docs.microsoft.com/en-us/cli/azure/ad/group/member?view=azure-cli-latest#az-ad-group-member-add

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2018-05-14 13:28] mferris2421 commented on #8416
@giladmit, Correct I was able to create new credentials to my blob storage.

CREATE CREDENTIAL [https://x.blob.core.windows.net/x]
WITH IDENTITY='SHARED ACCESS SIGNATURE',
SECRET = 'mykey'
GO

[2018-05-14 13:36] ljt91 opened #8553 "Protected environment variables"
What's the best approach for passing in secure/protected environment variables, after deploying the env var are displayed in the portal however we'd like to be able to hide some of the values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cd0d0a1-65c0-ec3f-ab56-ef68f9f819a0
* Version Independent ID: 9a0d1414-0cf7-e17

[2018-05-14 13:43] adrianprattuk commented on #8462
Not that I can see. It's a Virtual Machine, and the Azure Security Centre linked to the instructions, I've checked I've not missed anything.

[2018-05-14 13:48] TomShinder commented on #8462
OK, thanks! We'll check on this to see if there changes that led to problems with this doc.

[2018-05-14 14:11] ams0 opened #8555 "Distinction between "kubernetes" and "persistent volume" for files and disks"
The naming of the sections "Kubernetes Volume - Disk/Files" and "Persistent Volume - Disk/files" is rather confusing. They are both about Kubernetes' Persistent Volumes, but one is dynamic provisioning, while the other is statically provisioning. I suggest to rename to:
Persistent Volumes - AzureDisk - Dynamic Provisioning
Persistent Volumes - AzureDisk - Static Provisioning
Persistent Volumes - A

[2018-05-14 14:15] georgewallace commented on #8460
@femsulu Please re-tag as a product issue as the doc is correct while we get the gallery script updated.

[2018-05-14 14:18] nth-block opened #8556 "Details on the constraints for Backup and Restore"
I would like to understand the technical conditions that leads to the imposition of the 2 conditions for the backup and restore. While I understand that the first is needed because HSM security worlds encompass a geographic region, what is the need for the second? Is it because access policies are tied to a subscription?

I always understood that access policies are based on the AAD tenant that a

[2018-05-14 14:27] danobri opened #8557 "Can't find ApplicationInsights.config"
I want to enable Fixed Rate sampling as described above while debugging locally, but I have no ApplicationInsights.config in my project.  The project is an ASP.NET Core 2.0 web api, and the issue I am having is that the function calls I need to trace are getting filtered out, and I get the "Too much data was sent during this period and being removed for debugger responsiveness." message.   So I wa

[2018-05-14 14:59] Thiago4breu opened #8558 "Scale down storage size in basic tier is not allowed"
It's impossible to scale down storage size in the basic pricing tier. I was making some adjustments and I realize that changing the storage size from de current 50GB to 1TB show no additional charge in pricing calculator, I supposed that the 1GB storage already included in the month bill.

So, I changed to 1tb and now in my panel it show that will be charged a huge value, something that should onl

[2018-05-14 15:01] mrbullwinkle commented on #8557
@danobri unfortunately the .NET Core Application Insights SDK is not configurable in exactly the same way as the SDK for .NET targeting the full framework. ApplicationInsights.config/.xml only exists with .NET/Java.. With that said, you can still turn off adaptive sampling and enable fixed rate sampling for .NET Core using [this method](https://github.com/Microsoft/ApplicationInsights-aspnetcore/w

[2018-05-14 15:10] spelltwister commented on #8427
No worries.  I was also hoping to get some guidance on how to sync my javascript telemetry and C# telemetry from my asp.net site.  I have a telemetry initializer in my asp.net site that sets the
`telemetry.Context.User.AuthenticatedUserId = telemetry.Context.User.Id = usersGuidInOurSystem;`
and the `telemetry.Context.Session.Id = sessionIdFromHeaders;`.  I would imagine I would want to set these s

[2018-05-14 15:15] wcom939 opened #8559 "The option for Application Insights Key no longer exists"
The option for Application Insights Key on SF cluster setup no longer exists, and there is no solution here for setting one if the cluster is already created. Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd08fcdd-5dd5-41b5-c433-049510ccf027
* Version Independent ID: 83c2cef2-00a2-ce6b-3ccb-0471a9cdf18f

[2018-05-14 15:17] troeh9 opened #8560 "Change this line " Domain user name: The service account in the Azure AD DC that is created in the previous section.""
This line should specify,  Domain user name: The service account in the Azure ADDS DC that is created in the previous section."  Azure AD and Azure AADDS are two different options which makes the original line confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5519b89-2f5c-8f9a-4de2-34d350b084cf
* Version Indep

[2018-05-14 15:32] derekschauland opened #8561 "Important box changes to specify Storage Acct types"
In trying to configure logging/audit for SQL Server, the account I tried using was of Kind:BlobStorage and this would not work with Audit - this should get called out in the doc - I upgraded to StorageV2 and was able to enable audit.  Adding the Storage Account types this works with would clarify this further  -> Also - I tried to submit a pull request to update the doc and my changes would not sa

[2018-05-14 15:43] Ckarst commented on #8177
This connector does use PolyBase to transfer data. You can see this in SQL DW by querying sys.dm_pdw_exec_requests

[2018-05-14 16:07] danobri commented on #8557
Thanks for the information - would be great if this were added to the docs!  One follow up question.  Do you still need the following call in the Program Main when creating the web host builder?

` .UseApplicationInsights();`

[2018-05-14 16:14] MicahMcKittrick-MSFT commented on #8541
@imaterek Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-14 16:16] MicahMcKittrick-MSFT commented on #8548
@mohmdnofal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-14 16:17] MicahMcKittrick-MSFT commented on #8549
@mohmdnofal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-14 16:18] MicahMcKittrick-MSFT commented on #8553
@ljt91 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-14 16:19] MicahMcKittrick-MSFT commented on #8555
@ams0 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-14 16:19] MicahMcKittrick-MSFT commented on #8559
@wcom939 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-14 16:26] danobri commented on #8557
I put the following just before services.AddMvc() in Startup ConfigureServices:

`services.AddApplicationInsightsTelemetry(options =>
{
  options.EnableAdaptiveSampling = false;
});`

And put this call before just before app.UseMvc() in Startup Configure:

`app.ApplicationServices.GetService<TelemetryConfiguration>()
.TelemetryProcessorChainBuilder.UseSampling(100).Build();`

I also tried with and

[2018-05-14 16:29] lachie83 commented on #8504
@northtyphoon - Thanks for the feedback. I will work on getting a template added to the documentation.

[2018-05-14 16:29] douglaslMS commented on #8515
@Mike-Ubezzi-MSFT This is not a doc issue, but a request for a change in product behavior. It seems that this ought to be redirected.

[2018-05-14 16:38] tutul2010 commented on #8524
Hi Team,
As per documentation i can use location parameter and specify latitude, longitude, and radius as below
 https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-web-api-v7-reference
(Search for X-Search-Location)
Any code example With bot framework +C#.Net

Thanks,

[2018-05-14 16:41] srrengar commented on #8541
@imaterek reading from this table is not supported in Log Analytics. You can either send the perf counters to App Insights via a sink or we recommend you use the OMS Agent to gather performance counters to log analytics

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-oms-agent
#please-close

[2018-05-14 16:47] srrengar commented on #8559
@wcom939 the option still exists, you need to expand the "optional settings" on step 2 for cluster configuration. Can you share a screenshot?

If the cluster is already created, you can add the AI sink to your wadcfg in your cluster's ARM template (this is what adding the key during set up does). The steps are in the same article here:

https://docs.microsoft.com/en-us/azure/service-fabric/service

[2018-05-14 16:53] unnieayilliath opened #8564 "Update Licensing details of B2B collaboration using office 365 external sharing"
The Azure AD B2B collaboration licensing says 1: 5 ratio limitation about the guest accounts added to the tenant.
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-licensing

But Office 365 external sharing feature documentation does not provide any information about licensing limitations. Please mention if there are any licensing requirement to be met while using office

[2018-05-14 16:53] mrbullwinkle commented on #8557
Adding @cijothomas any advice on this question?

[2018-05-14 16:54] Codefearingguy opened #8565 "Update Licensing details of B2B collaboration using office 365 external sharing"
The Azure AD B2B collaboration has 1: 5 ratio limitation about the guest accounts added to the tenant.
But Office 365 external sharing feature documentation does not provide any information about licensing limitations. Please mention if there are any licensing requirement to be met while using office 365 external sharing. If not please do mention that there are no licensing limitations and unlimit

[2018-05-14 17:05] motowilliams opened #8566 "Get-AzureRmSiteRecoveryVault is obsolete"
What is the version of this process with the current cmdlets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 934d4825-4502-2c46-5caa-ba3ac2eaea50
* Version Independent ID: 38ce67db-e553-9428-a256-e74cacfd5c8e
* Content: [Delete a Site Recovery vault](https://docs.microsoft.com/en-us/azure/site-recovery/delete-vault#use

[2018-05-14 17:06] SaurabhSharma-MSFT commented on #8550
@SychevIgor Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-14 17:07] SaurabhSharma-MSFT commented on #8551
@SychevIgor Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-14 17:09] SaurabhSharma-MSFT commented on #8556
@nth-block
Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-14 17:09] cijothomas commented on #8557
@danobri The link shared by @mrbullwinkle contains information about how to disable sampling/configure own sampling settings etc.
The following is how to disable sampling: (You already seemed to have done this)
`services.AddApplicationInsightsTelemetry(options => { options.EnableAdaptiveSampling = false; });`
You shouldn't add `.UseApplicationsInsights()` on Main. (You mentioned you have tried tha

[2018-05-14 17:12] codyrat opened #8567 "Source/Destination address ranges"
This needs to be updated with newer port and address ranges in the rule properties table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dee25e4-af7c-30c6-1ada-4b230445867d
* Version Independent ID: e588987d-32c0-f6d8-ae67-829f946f93ed
* Content: [Network security groups in Azure](https://docs.microsoft.com/en-us/azure

[2018-05-14 17:13] cwatson-cat commented on #7882
@Yashesvi can you please review this issue for a Reserved VM Instance topic and address?

[2018-05-14 17:17] SunnyDeng commented on #7271
@ToMakeSense  the link on docs.microsoft.com can redirect you to the page in the language by your browser language setting.  So if you always want to see Chinese content, please try to change your browser language setting. Hope it helps.

[2018-05-14 17:18] cwatson-cat commented on #7135
@adwise3 @vikramdesai01 - Please review this issue.

[2018-05-14 17:19] SaurabhSharma-MSFT commented on #8534
@adriantorrie Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-14 17:19] cwatson-cat commented on #7119
@Erikre Can you please take a look at this?

[2018-05-14 17:19] cdaniel96 commented on #8513
Hey Mike, how are you doing? Thanks for the answer. That's what i'm finding after going to Https://labs.azure.com/:
![image](https://user-images.githubusercontent.com/23587299/40012574-7e2851c2-5781-11e8-962c-8275e5071948.png)
As you can see it only shows that no VM is created but also I'm not able to create anything.

The big problem is that my user account already has the appropriate right to cr

[2018-05-14 17:26] cwatson-cat commented on #6212
@Susheel27 What issue are you reporting?

[2018-05-14 17:26] MicahMcKittrick-MSFT commented on #8112
@akramwaseem can you share the article from GitHub you found?

[2018-05-14 17:26] tdykstra commented on #8488
@bob53050 If I understand your scenario correctly, you want to use an HTTP request to trigger a function that creates a queue message, is that right? The closest complete example/doc we have is for [HTTP trigger - storage queue output](https://docs.microsoft.com/en-us/azure/azure-functions/functions-integrate-storage-queue-output-binding). You would have to substitute SB queue for storage queue. F

[2018-05-14 17:27] MicahMcKittrick-MSFT commented on #8343
@srrengar @dkkapur @rwike77 can you chime in on this?

[2018-05-14 17:27] MicahMcKittrick-MSFT commented on #8355
@iangoh414 I will close this for now. When ready please reopen and we can continue.

[2018-05-14 17:27] #8355 closed

[2018-05-14 17:28] Mike-Ubezzi-MSFT commented on #8558
@Thiago4breu Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-14 17:28] BryanTrach-MSFT commented on #8540
@Molotch Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-14 17:29] Erikre commented on #7119
The request is to move the API content from MSDN to docs.microsoft.com. Our plan is to move both Resource Usage and Resource RateCard APIs to docs.microsoft.com.

[2018-05-14 17:31] MicahMcKittrick-MSFT commented on #8525
@keyedit when you create your function in VS you should be able to select your authorization type:

![image](https://user-images.githubusercontent.com/32313503/40013282-fbc91f50-5761-11e8-99a4-cd4b1e78938f.png)

[2018-05-14 17:32] #8541 closed

[2018-05-14 17:36] tdykstra commented on #8419
@rfigueroa Thanks for the suggestion -- however, this article is specifically for Azure Functions settings, while SCM_USE_FUNCPACK is not function-app-specific. It's documented on [the Kudu wiki](https://github.com/projectkudu/kudu/wiki/Configurable-settings).

[2018-05-14 17:37] danobri commented on #8557
@cijothomas - How do I see local debug session telemetry in Azure?  Don't you have to specify an Azure Application Insights Resource to view the data in Azure?  Is there a way to run the analytics query you referenced above against local debug session telemetry from Visual Studio?  Alternatively, is there a way to disable the VS setting that is preventing me from viewing all telemetry in VS?  I am

[2018-05-14 17:39] rfigueroa commented on #8419
@tdykstra I agree `SCM_USE_FUNCPACK` not being function-app-specific, but maybe make the kudu wiki more visible on the Azure function Documentation.

Thanks for the response, I will close this issue

[2018-05-14 17:39] #8419 closed

[2018-05-14 17:42] tdykstra commented on #8419
That's a good idea, I'll add a link to the Kudu wiki on that page.

[2018-05-14 17:53] barlanmsft commented on #8493
Hi Mike - please reassign this to @eross-msft.

From: Mike Ubezzi [mailto:notifications@github.com]
Sent: Saturday, May 12, 2018 9:17 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Barry Langer <barlan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] SSPR custom URLs for enrollment (#8493)

Assigned #8493<https://na01.safelinks.protect

[2018-05-14 17:57] cijothomas commented on #8557
@danobri I assumed (incorrectly) that you have a valid instrumentation key and was sending data to Azure. Unless its send to Azure you cannot run analytics query.

I am not sure how to disable VS Setting about its limits. How did you have too much application insights logs in local debug session? Can you try to use TelemetryProcessors and filter out the ones you don't care about - this may reduce

[2018-05-14 17:57] cijothomas commented on #8557
@john garner

[2018-05-14 18:05] MicahMcKittrick-MSFT commented on #8328
@swatiraut14 I will close this issue for now. Please reopen when ready and we can continue.

[2018-05-14 18:05] #8328 closed

[2018-05-14 18:08] TravisCragg-MSFT commented on #8535
@dineshsharmads Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 18:09] mike-urnun-msft commented on #8509
@simonlousky We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-14 18:09] #8509 closed

[2018-05-14 18:09] vasivara-MSFT commented on #8560
@troeh9 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 18:13] vasivara-MSFT commented on #8534
@adriantorrie  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 18:13] MicahMcKittrick-MSFT commented on #8397
@DrEight thanks for the further explanation.

You can read more about Keyvault secrets here: https://docs.microsoft.com/en-us/rest/api/keyvault/about-keys--secrets-and-certificates#BKMK_WorkingWithSecrets

But essentially, you are storing the certificate as a secret as it allows the data to be encrypted and pulled from the keyvault via a secret ID. This means that the certificate itself requires t

[2018-05-14 18:14] TravisCragg-MSFT commented on #8567
@codyrat Thanks for the feedback. Can I ask exactly where / how the table should be updated with new port & address ranges? I am not able to find the area that you are referring to.

[2018-05-14 18:15] MicahMcKittrick-MSFT commented on #8501
@hajjat can you tell me more about what you are trying to achieve? What are you modifying and for what reason?

[2018-05-14 18:16] TravisCragg-MSFT commented on #7961
@rockboyfor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-14 18:16] #7961 closed

[2018-05-14 18:16] MicahMcKittrick-MSFT commented on #8512
@wcom939 can you confirm that you are using Eclipse Neon or a later version?

[2018-05-14 18:16] vasivara-MSFT commented on #8537
@AdityaJasti Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 18:17] TravisCragg-MSFT commented on #8048
@Jeroen-Priester We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-14 18:17] #8048 closed

[2018-05-14 18:17] TravisCragg-MSFT commented on #8055
@guillemsola We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-14 18:17] #8055 closed

[2018-05-14 18:27] danobri commented on #8557
@cijothomas - This occurs on a single API call, and it seems to be filtering out a single EF Core SQL call that is particularly lengthy (lots of joins). So I don't think it's an issue of telemetry volume, so much as the size of the message.  I created a resource in Azure, and was able to validate the issue is with VS.  The same set of logs are displayed differently if I choose "Search data that wa

[2018-05-14 18:29] kgremban commented on #5792
@leeprtc I removed the specific reference to Python 2.7 from the windows quickstart and tutorial, and added the versions that we've tested the scenarios on. The changes should be live to view in about 4 hours if you want to check them out for yourself.

[2018-05-14 18:29] mike-urnun-msft commented on #8461
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2a56233-8bf2-46c3-524a-883b7181a682
* Version Independent ID: 6b6ad44b-0780-400c-98a9-912f0446a7d8
* Content: [Service Fabric Azure Files Volume Driver (Preview)](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-containers-volume-logging-drivers)
* Cont

[2018-05-14 18:32] cijothomas commented on #8557
Ok. Do you need further help here?

[2018-05-14 18:33] mike-urnun-msft commented on #8461
@amang2205 Thank you for providing additional details! We have assigned this issue to the author to review and take the right course of action.

[2018-05-14 18:34] danobri commented on #8557
Would be great if someone from the VS team could weigh in on how to change this setting / prevent this behavior, as I would rather stick with local debug session telemetry.

[2018-05-14 18:38] NickDorak opened #8573 "Block Legacy Auth without ADFS?"
The article only lists blocking Legacy Authentication if you are using ADFS. How do we block Legacy Authentication if we have moved to Cloud and don't have ADFS anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1-05f2-2c21-06d4-60c087d45c0a
* C

[2018-05-14 18:39] TravisCragg-MSFT commented on #7826
@compernc Sorry for taking so long to get back to you. Yes, ExpressRoute is supported for Dynamics 365, [you can read more about it Here](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#expressroute-for-office-365-and-dynamics-365)'

Also, from that same document:

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2018-05-14 18:39] #7826 closed

[2018-05-14 18:40] Mike-Ubezzi-MSFT commented on #8561
@derekschauland Thanks for your feedback. At a minimum, it appears the screen capture needs to be updated as there is no longer a 'Blob' versus 'Table' storage option:

![screenshot 221 _li](https://user-images.githubusercontent.com/37126106/40016573-952e0008-576b-11e8-9b94-3d0c227ebaaa.jpg)

![screenshot 222](https://user-images.githubusercontent.com/37126106/40016580-9ccfa4b0-576b-11e8-823b-00c9

[2018-05-14 18:40] baabel commented on #8245
@BryanTrach-MSFT - The behavior we see is that TOMCAT picks up the WAR file, we see the updated files/resources in the webapps directory and we see the updated deployment info in Kudu; however, when we access the site from a client, it continues to return the previous version (it's a very simple spring boot hello world app that's returning data from the application.properties file  ..... only afte

[2018-05-14 18:41] mrbullwinkle commented on #8557
@pharring any suggestions regarding settings that would prevent "Too much data was sent during this period and being removed for debugger responsiveness" from being triggered in Visual Studio 2017 with Application Insights Search?

[2018-05-14 18:46] cijothomas commented on #8557
I have messaged John Gardner to help here.

[2018-05-14 18:50] Mike-Ubezzi-MSFT commented on #8513
@cdaniel96 Perfect, thank you. I do not have sufficient permissions to create lab environments. I am going to assign to the content owner for assistance.

[2018-05-14 18:51] MicahMcKittrick-MSFT commented on #8553
@david-stanford @neilpeterson do either of you know a way of achieving this? I did some testing but am not finding a way to hide these to anyone who has access to the portal unless you complete remove access to container registry in Access Control.

[2018-05-14 18:53] JasonWHowell commented on #8558
@ajlam Could you please take a look in case you can assist. Thanks, Jason

[2018-05-14 18:54] Adam-Smith-MSFT commented on #8544
You can change the IP address in AzureStorageEmulator.exe.config file in C:\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator directory.

For example, below changed the port from 10000 to 20000.

<services>
  <service name="Blob" url="http://127.0.0.1:20000/"/>
  <service name="Queue" url="http://127.0.0.1:20001/"/>
  <service name="Table" url="http://127.0.0.1:20002/"/>
</services>

More

[2018-05-14 18:54] TravisCragg-MSFT commented on #7815
@hajjat Please leave feedback on your scenario as well as vote on your issue at [https://aka.ms/lbuservoice](https://aka.ms/lbuservoice), the [feedback for SNAT on a load balancer is Here](https://feedback.azure.com/forums/217313-networking/suggestions/15236121-support-snat-on-internal-azure-load-balancer).

It might be possible to use a 3rd party load balancer that can SNAT outbound connections f

[2018-05-14 18:54] #7815 closed

[2018-05-14 19:06] sankinap opened #8575 "Deprecated?"
Why is this solution deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 722cdf93-af91-26ac-697a-f090134a71a2
* Version Independent ID: 1b4085ee-0c27-b620-3b4a-8ec4a2707b32
* Content: [VMware Monitoring solution in Log Analytics](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-vmware#feedback)

[2018-05-14 19:12] CelesteDG commented on #8448
Hello @cveld - Did you get a chance to review the info from @hpsin? Please let us know if this answers your question. Thank you.

[2018-05-14 19:30] gardnerjr commented on #8557
That "Too much data" message occurs only in VS (it doesn't affect what data gets *sent* by the sdks), and is triggered if we see debugger output that was too big for us to "comfortably" process without slowing down the debugger.

Basically, the debugger batches up output window messages, and processes them. if we see really big ones, we do simple contains checks instead of regular expression check

[2018-05-14 19:34] MohitGargMSFT commented on #7681
@jpalo I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-14 19:37] MohitGargMSFT commented on #8364
@jricha34 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-14 19:37] #8364 closed

[2018-05-14 19:37] danobri commented on #8557
It seems to be happening in the case of a single SQL query that is rather large.  If I copy and paste the SQL to notepad and save the file, it's ~15K.

[2018-05-14 19:39] gardnerjr commented on #8557
so that sounds about right for our threshold.  since the sdk sends as json, any json-special chars in the sql would get escaped, there's other properties+content in the json as well, so it sounds like a single giant query would indeed get skipped by us.  like i said, this is only a limitation of the AI tools in the debugger to prevent wasting time on events and slowing down the entire debugger.

i

[2018-05-14 19:41] theheatDK commented on #7205
Hi Mark,
When will the update be published? :-)
Regards Peter

[2018-05-14 19:41] rquackenbush opened #8579 "Doesn't appear to be using Docker Swarm / SSH keys"
This article creates a Docker Swarm cluster, but doesn't use it as a swarm cluster. The `docker-compose` command works with a single docker instance. The command `docker service` operates on a single Docker daemon instance.

Also, where do the generated ssh keys reside?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27

[2018-05-14 19:44] danobri commented on #8557
Sure - if it's not too much trouble, that would be great.

[2018-05-14 19:45] MohitGargMSFT commented on #8440
@naminakao Thanks again for pointing this out. The PR for the fix has been created and it will be merged soon. Please open a new issue to let us know if there is something else that we can help you with.

[2018-05-14 19:45] MohitGargMSFT commented on #8458
@gauravhub We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-14 19:46] v-geberr commented on #8537
@AdityaJasti It looks like you are missing the third parameter on the call to create a new AzureTableClient. Please check that all 3 parameters are in your code.

[2018-05-14 19:47] Adam-Smith-MSFT commented on #8566
@motowilliams Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 19:52] #8412 closed

[2018-05-14 19:53] mike-urnun-msft commented on #8423
@timmydo Yup, definitely not ideal when on a public repo. So the configuration values (key, value pairs) defined through app settings are made available to your application at its **runtime** as `environment` variables, not during **deployment time**. You may use `Azure Key Vault` service in your `Dockerfile` to fetch the config values but you'd still need to expose `tenant_id`, `subscription_id`

[2018-05-14 19:53] MohitGargMSFT commented on #8499
@AdamGrossTX The details about this error is mentioned in this section [Verify sync, and the “Sync your settings” settings page](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-windows-enterprise-state-roaming-troubleshooting#verify-sync-and-the-sync-your-settings-settings-page) of the document stating - 'This issue might arise for devices that are set up to be domain-join

[2018-05-14 19:56] #8440 closed

[2018-05-14 19:57] LizMS commented on #8521
Programmatically creating definition on Management Group is not supported today. It's currently in development.

[2018-05-14 20:03] cezane opened #8580 "Generate proof of possession using OpenSSL directly"
I would like to know if you can help me to generate a proof of possession for a self-signed certificate using OpenSSL directly, since I am using Ubuntu. I already searched on Internet about how to do this, but without success. I also took a look at these codes: https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/

I think the documentation can be improved if some section to t

[2018-05-14 20:09] c016smith commented on #8493
Thanks @MicrosoftGuyJFlo for the response - yes, we are currently using those other scenarios such as https://portal.azure.com/contoso.com and we already have our tenant/domain branded.
Specifically, we were trying to figure out where the following MS short-links point to, and see if those long-URLs can also be flagged with our domain name so the experience will be branded from minute-one. Below i

[2018-05-14 20:14] cchensh opened #8581 "All CJK translation return double characters,"
All CJK translation return double characters. For example, 'hello, world' will return 世世界界您您好好！！

[2018-05-14 20:19] MohitGargMSFT commented on #8520
@mdittakavi Please note that MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required) or [Stack Overflow](https://stackoverflow.com/) could be better place to get help on your scenario. As these forum community has many members and could provide their expert guidance on your scenario based on their experience.

Ple

[2018-05-14 20:19] cchensh opened #8582 "All CJK translation return double characters. For example, 'hello, world' will return 世世界界您您好好！！"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-05-14 20:23] AndriyGorda opened #8583 "Storage Explorer multiple copies"
Gentlemen,

In my usage scenario (data migration) it would be extremely useful to have two copies of Storage Explorer opened.
Is it possible?

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d6736cc3c
* Version Independent ID: 09c7c658-16d1-04ac-6bb4-6aa5c1b529a6
* Content: [Get start

[2018-05-14 20:29] DCtheGeek commented on #8521
@DaRosenberg Thank you for the feedback!  As @LizMS said, it is currently in development.  Once it is released, the docs will be updated as appropriate.  #please-close

[2018-05-14 20:30] Jann-Skotdal commented on #8065
@Paul-Dempsey Thank you for pointing this out. The pages have been updated.  https://api.cognitive.microsofttranslator.com is the correct endpoint

[2018-05-14 20:30] neilpeterson commented on #8553
@mmacy @jluk any thoughts on this?

[2018-05-14 20:38] Jann-Skotdal commented on #7936
@Paul-Dempsey The V3 API is neural by default and text can be customized using the Custom Translator, not the Hub which is only available for customizing statistical machine translation. This page has been updated to reflect that. Standard categories (eg. tech, speech are not available with V3. This information has been added to the Migration page (https://docs.microsoft.com/en-us/azure/cognitive-

[2018-05-14 20:40] Jann-Skotdal commented on #8489
@jongross4 Thank you for the feedback. The page has been updated

[2018-05-14 20:42] MohitGargMSFT commented on #8556
@nth-block Please note that when you create a key vault in an Azure subscription, it is automatically associated with the subscription's Azure Active Directory tenant. All callers (users and applications) must be registered in this tenant to access this key vault. An application or a user must authenticate with Azure Active Directory to access key vault.

The azure key vault is always associated w

[2018-05-14 20:44] Jann-Skotdal commented on #8491
@jongross4 This page documents Dictionary Examples, which gives you examples of words in sentences. Dictionary Lookup gives you alternative translations of words

[2018-05-14 20:46] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- below is the method, I am trying to use.

"virtualMachineProfile": {
                    "extensionProfile": {
                        "extensions": [
                            {
                                "name": "[concat(variables('vmNodeType0Name'),'OMS')]",
                                "properties": {
                                    "publisher": "Microsof

[2018-05-14 20:48] cephalin commented on #8245
@davidebbo would you be able to help here?

[2018-05-14 20:49] iainfoulds commented on #8511
I've create a PR to clarify, @guibirow. The use of 'logically separate' doesn't correctly define the separation of resources.

Each Availability Zone has physically separate power, cooling, and networking. The zone may be on the same physical property/location as other zones, but the datacenters are separate buildings. Multiple zones do not exist within the same datacenter.

[2018-05-14 20:53] femsulu commented on #8538
@alexeyshishkin01, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-14 20:54] femsulu commented on #8538
@msmbaldwin, refer to Azure/azure-cli#6236 for detailed feedback from @alexeyshishkin01

[2018-05-14 20:54] SaurabhSharma-MSFT commented on #8564
@Codefearingguy Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-14 20:55] SaurabhSharma-MSFT commented on #8565
@Codefearingguy Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-14 20:57] SaurabhSharma-MSFT commented on #8573
@NickDorak Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-14 20:57] femsulu commented on #8545
@waheedhussain, Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-14 20:58] mmacy commented on #8553
@ljt91 Secret env vars are currently unsupported. If your container can include the Azure CLI, you could do something like this:

[Deploy ACR image to ACI w/AKV secrets](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-using-azure-container-registry#deploy-container-with-azure-cli)

That's just the ACI deploy section, but the previous sections of the doc explain creat

[2018-05-14 21:01] femsulu commented on #8581
Closed as duplicate.
Duplicate of #8582

[2018-05-14 21:01] #8581 closed

[2018-05-14 21:03] femsulu commented on #8582
@cchensh, can you please share one or more examples of documents where CJK translations return double characters. I will use your examples to escalate this issue to the localization team for further investigation.

[2018-05-14 21:06] mtillman commented on #8550
@MicrosoftGuyJFlo Can you take a look at this and let me know what you think?

[2018-05-14 21:07] vasivara-MSFT commented on #8575
@MGoedtel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 21:07] setunol opened #8585 "Deploying new VM with New-AzureRmVm is not working correctly with specific imageName values"
The following commands does not seem to work.  It is complaining about the location "East US" as it is.  When I change it to use "EaseUS", it works.

New-AzureRmVm `
    -ResourceGroupName "myResourceGroupVM" `
    -Name "myVM2" `
    -Location "East US" `
    -VirtualNetworkName "myVnet" `
    -SubnetName "mySubnet" `
    -SecurityGroupName "myNetworkSecurityGroup" `
    -PublicIpAddressName "myP

[2018-05-14 21:09] #8511 closed

[2018-05-14 21:09] AndriyGorda commented on #8583
Found a workaround with tabs, thanks

[2018-05-14 21:09] #8583 closed

[2018-05-14 21:16] spelluru commented on #8513
@jkwon2013

[2018-05-14 21:17] MicahMcKittrick-MSFT commented on #8579
@rquackenbush Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-14 21:19] Mike-Ubezzi-MSFT commented on #8524
@YutongTie-MSFT The ask is for code examples with bot framework but this documentation is not part of the GitHub azure-docs repository. Do you have a point of contact that you could leverage for this?

[2018-05-14 21:20] AldoSaucedo opened #8586 "Error when deploying image"
I have created a docker image from .Net Core 2.0 version on Windows 10 using the base image microsoft/aspnetcore-build:2.0.
I tried to deployed my image by following the steps of this tutorial and I'm getting this error:
"The OS version of image xxxx.azurecr.io/xxximage:latest" is not supported. (Code:OsVersionNotSupported)

Which versions are supported?

---
#### Document Details

⚠ *Do not edit

[2018-05-14 21:28] MohitGargMSFT commented on #8564
@Codefearingguy Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-14 21:29] Mike-Ubezzi-MSFT commented on #7851
@sergaz-msft The weather data that is being written to the .csv file, by the sensor, is picking-up random characters (^M) that is breaking parts of this tutorial. Is there a contact we can leverage to have this addressed?

[2018-05-14 21:30] neilpeterson commented on #8555
@ams0 - I agree the these titles are confusing. Beyond the titles, the topic itself is confusing and we are working on our end to simplify.

Technically there is a difference between a Kubernetes volume and persistent volume.

- Kubernetes Volume - https://kubernetes.io/docs/concepts/storage/volumes/
- Kubernetes persistent volume - https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2018-05-14 21:30] MohitGargMSFT commented on #8565
@Codefearingguy Please note that this issue is same as #8564. We will be deal with the issue using that and will close this issue for now. Thanks.

[2018-05-14 21:30] #8565 closed

[2018-05-14 21:33] Mike-Ubezzi-MSFT commented on #8182
@djpirra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 21:35] Mike-Ubezzi-MSFT commented on #8180
@djpirra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 21:36] oxxa commented on #8544
Thanks but that is what I had already done and it is that that is causing the issue.  The AzureStorageEmulator is running on my custom ports but how can I tell [Azure Storage Explorer](https://azure.microsoft.com/en-gb/features/storage-explorer/) what those new port numbers are?  I cannot find that project on github so I don't know if this is the correct place to place a bug/missing fature against

[2018-05-14 21:37] hajjat commented on #8501
We create a VMSS for an NVA. The appliance needs to have multiple private IPs on the NIC, and each IP associated with a different LB backend pool. For that, we need to be able to add more IPConfigs on the NIC on-demand. When we tried adding additional IPConfigs to the NIC object of the VMSS, the NIC never returns back the new IPConfigs that got added. You can prototype this pretty quickly or I can

[2018-05-14 21:40] jeffhebrank opened #8588 "Enabling for past events"
I enabled continuous export, but I also want to retroactively generate blobs for past traffic. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860f6a72-85d8-6296-d9f0-638907f1382b
* Version Independent ID: 36512771-6c2a-a651-d8e0-fde95f563252
* Content: [Continuous export of telemetry from Application

[2018-05-14 21:41] Mike-Ubezzi-MSFT commented on #8482
@HowardEdidin I verified with the content owner, for the two tutorials, and they are in fact two unique tutorials. One of the samples creates a new contract. The second calls the Modify function on an existing contract. There are different message structures being sent, different dynamic content being used,etc.

We will now proceed to close this thread. If there are further questions regarding thi

[2018-05-14 21:41] #8482 closed

[2018-05-14 21:42] akramwaseem opened #8589 "Can I configure syslog to get local7.debug and kern.everything using the above ARM template"
I have a log analytics work space and I configure syslog to collect kern and local7 logs but I have do it through the log analytics portal after deploying the log analytics in all the subscriptions. Can I configure syslog with ARM Template so i can avoid doing it manually everytime.
I need to collect kern logs and local7 logs.

Let me know if you have a example template to follow. above one looks

[2018-05-14 21:47] akramwaseem opened #8590 "Do I need to change the Typehandlerversion to 1.6, every-time there is new version change?"
Does the "typeHandlerVersion": "1.4", need to be changed to 1.6 when there is a new version.
If we follow the below table ,OMS Linux VM extension version is at 1.6. Do i need to upgrade the typeHandlerVersion to 1.6 or can I stay at 14 and the latest one gets picked and installed.
OMS Linux VM extension version	OMS Agent bundle version
1.6.42.0	1.6.42.0
1.4.60.2	1.4.4-210
1.4.59.1	1.4.3-174
1.4.58

[2018-05-14 21:47] ams0 commented on #8555
I think it will greatly simplify things. Also, I got feedback while running some hackfests, that having an introduction page that explains the difference between the drivers (for example, where you can have ReadWriteMany and when ReadWriteOnce) would be very helpful. Sort of like:

- Differences between volume drivers
- AzureDisk - Dynamic Provisioning
- AzureDisk - Static Provisioning
- AzureFile

[2018-05-14 21:48] mjpinvestor commented on #8462
I have the same error as adrianprattuk when the script gets to the Set-AzureRmResource in order to enable soft delete on the Keyvault. Tried running the following two lines separately as well and reproduced the error.

($resource = Get-AzureRmResource -ResourceId (Get-AzureRmKeyVault -VaultName $keyVaultName).ResourceId).Properties | Add-Member -MemberType "NoteProperty" -Name "enableSoftDelete" -

[2018-05-14 21:48] daveirwin1 commented on #8575
@sankinap, we're deprecating the VMware Monitoring Solution because we don't think we can maintain it as well as the community can.  We're working to get that solution open sourced and placed in the Azure Quickstart Gallery, which will allow anyone to update and improve it.

In the meantime, if you already have the solution in your workspace, it will continue to work as before.

[2018-05-14 21:52] neilpeterson commented on #8555
Yep, we are looking at either a new overview or a FAQ for storage. It will be a few weeks out, but we will publish something.

As for dysk, I'm not sure. I will sync with the AKS product team on this one.

Thanks

[2018-05-14 21:52] MicahMcKittrick-MSFT commented on #8112
@akramwaseem have you attempted to do this via PowerShell as well? I have personally done that and it has worked without issue. Maybe something to consider as well.

[2018-05-14 21:53] MicahMcKittrick-MSFT commented on #8501
@gatneil could you advise on this one?

[2018-05-14 21:55] gardnerjr commented on #8557
close all instances of VS first.

open a command prompt and use VS's specific version of vsregedit to change the value.
You'll need to find vsregedit for the appropriate version of VS, on my machine, example, it's `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE`.

in that directory, do `vsregedit set <pathtovs> HKCU AppInsightsGettingStarted MessageToLongLength dword <v

[2018-05-14 22:04] akramwaseem opened #8591 "Any update on availability of this feature for ubuntu 14.04"
Is there an update if this feature will work on ubuntu 14.04 .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS upgrades with Azure virtual machine scale sets](https://docs.microsoft.com/en-us/azur

[2018-05-14 22:05] akramwaseem commented on #6947
Any update on when it will be available for Virtual machine scale set ??

[2018-05-14 22:09] #8527 closed

[2018-05-14 22:16] dixitsuneel opened #8593 "SSH is really slow"
The SSH UI is really slow. Sometimes it takes more than a min to even type few characters.

What's the alternative to the web UI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction to App Service on

[2018-05-14 22:27] Mike-Ubezzi-MSFT commented on #8532
@nzigel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 22:28] Mike-Ubezzi-MSFT commented on #8532
Reference GitHub #585
https://github.com/Azure/iot-edge/issues/585

[2018-05-14 22:29] MohitGargMSFT commented on #8573
@NickDorak Please note that there is already feedback provided in O365 user voice regarding it. Please upvote [this feedback](https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/19857412-force-modern-authentication) so that feature team can prioritize the implementation.

Also please check this TechNet article which may help - [Client Access Rules in Exchange O

[2018-05-14 22:33] Mike-Ubezzi-MSFT commented on #8580
@cezane Thank you for your question although I am still a bit unclear what you are requesting. Do you need assistance creating a self-signed certificate?

[2018-05-14 22:34] CalvinFengDatacom opened #8595 "Replace knowledge with multiple sources"
## I'm getting a issue of when I trying to replace the knowledge with multiple sources of QnA pairs.
This is the JSON request body of what I'm going to update to the existing knowledge base. I'm using the Replace knowledge method of doing it.

Is there any problem with my JSON? The code is running good if I remove the last question and answer with different source. But I need to know how to replac

[2018-05-14 22:38] MicahMcKittrick-MSFT commented on #8585
@setunol Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-14 22:39] MicahMcKittrick-MSFT commented on #8586
@AldoSaucedo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-14 22:39] AdamGrossTX commented on #8499
Our issue is that the machines NEVER get past this error.  We've had this configured for quite some time and we can't find any information on what is causing this block. I'm looking for other possible causes or way to further troubleshoot the error beyond, waiting a few hours. Is there a log? If so, what should the log show?  Hope this clarifies the issue a bit more.

[2018-05-14 22:43] kobulloc-MSFT commented on #8588
@jeffhebrank Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-14 22:44] TomShinder commented on #8462
Thanks! Trying to find someone who might be able to eyeball this and figure it out.

[2018-05-14 22:45] nahue97 commented on #8517
Hello Micah! I'm not using Visual Studio, I'm coding in Sublime Text. I see
no difference between the PCs because I followed exactly the same steps in
both computers and I have the same Git configuration in both computers too,
I see no difference at all...

2018-05-14 15:20 GMT-03:00 Micah <notifications@github.com>:

[2018-05-14 22:53] MicahMcKittrick-MSFT commented on #8586
@AldoSaucedo as per the troubleshooting doc:

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-troubleshooting#image-version-not-supported

<img width="751" alt="image" src="https://user-images.githubusercontent.com/32313503/40027420-d76ffd4a-578e-11e8-902b-d30a3d330b71.png">

So the image you are using is not currently supported. You have to use LTS Windows images fo

[2018-05-14 22:55] MicahMcKittrick-MSFT commented on #8585
@setunol I assume you mean you change it to "EastUS" and not "EaseUS" correct?

[2018-05-14 22:56] setunol commented on #8585
Oops.  Yes.  That's what I meant.  Sorry.

[2018-05-14 23:01] setunol commented on #8585
@MicahMcKittrick-MSFT  This also looks to be the same with the newest PS release as well.  I had 6.1 originally.  I then downgraded to the 5.7.  Above is the output from 5.7 currently.

[2018-05-14 23:05] MicahMcKittrick-MSFT commented on #8517
@nahue97 you could attempt to disable the firewall on your machine to see if it helps. Otherwise, seeing as it is isolated to your specific machine it is a bit hard to diagnose. You could of course reimage your machine that is a lot of work.

Alternatively, you could try uninstalling all tools and start fresh using cmd or work to debug the issue in Visual Studio code

[2018-05-14 23:05] mrbullwinkle commented on #6744
@hastarin it looks like this is what you would need:

[code]

I have created a PR to update the doc it should go-live tomorrow.

These links might also be helpful and touch on the same topic:

[http://apmtips.com/blog/2017/02/13/enable-application-insights-live-metrics-from-code/](http://apmtips.com/blog/2017/02/13/enable-application-insights-live-metrics-from-code/)

[https://github.com/Microsoft

[2018-05-14 23:08] mrbullwinkle commented on #6744
@hastarin Thank you for helping us make our docs better, and bringing this to our attention!

[2018-05-14 23:08] mrbullwinkle commented on #6744
#please-close

[2018-05-14 23:09] MicahMcKittrick-MSFT commented on #8585
@setunol no worries :)

I submitted the change. Once the PR merges the issue will automatically close.

[2018-05-14 23:11] setunol commented on #8585
Awesome, thanks for the quick turn around. 😊

From: Micah [mailto:notifications@github.com]
Sent: Monday, May 14, 2018 4:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael Li <micli@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Deploying new VM with New-AzureRmVm is not working correctly with specific imageName values (#858

[2018-05-14 23:11] #8555 closed

[2018-05-14 23:11] MicahMcKittrick-MSFT commented on #8591
@akramwaseem Thanks for the feedback! I have assigned the issue.

[2018-05-14 23:12] MicahMcKittrick-MSFT commented on #8590
@akramwaseem Thanks for the feedback! I have assigned the issue.

[2018-05-14 23:27] #8171 closed

[2018-05-14 23:30] vasivara-MSFT commented on #8589
@akramwaseem Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-14 23:41] richrundmsft commented on #8589
@MGoedtel can you or someone from the Log Analytics team look at this request? thanks.

[2018-05-14 23:46] akramwaseem commented on #8112
@MicahMcKittrick-MSFT -- we used linux machines and we do not intend to use powershell at any case.We do you azure cli but, we have around 100 machines per subscription.
How do you suggest to do that ? manually ? That is not a proper way and it doesn't not convey the standards we have.

[2018-05-14 23:57] cchensh commented on #8582
Thank you for the reply. you can try the example on your v3 reference with
ruby. if you can your to language to ja or zh. All the translated
characters are duplicated.

On Mon, May 14, 2018, 17:03 femsulu-MSFT <notifications@github.com> wrote:

[2018-05-15 00:00] ajlam commented on #8558
@Thiago4breu, looks like I was able to reproduce your issue when using Basic tier. It looks like the pricing does update for the General Purpose and Memory Optimized tiers though. I will follow up with our engineering team to see how to fix this. Thanks for finding this issue!

[2018-05-15 00:03] BryanTrach-MSFT commented on #8536
@mahavirsinhpadhiyar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-15 00:05] BryanTrach-MSFT commented on #8593
@dixitsuneel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-15 00:05] #6744 closed

[2018-05-15 00:07] sergaz-msft commented on #8239
Hi @kunalaphadnis99 ,
Can you let us know if you have followed all the prerequisites mentioned on the beginning of the doc?

![image](https://user-images.githubusercontent.com/22173500/40029321-bfdc9576-5798-11e8-8ba3-aee3e39c06dd.png)

Also please make sure that you are using the latest version of [Azure IoT Edge extension for Visual Studio Code. ](https://marketplace.visualstudio.com/items?itemN

[2018-05-15 00:12] Adam-Smith-MSFT commented on #8583
@AndriyGorda Thanks for the info.

[2018-05-15 00:29] BryanTrach-MSFT commented on #8245
@baabel Dynamic cache is turned on by default and it would appear that it is interfering based on your description. Can you please turn off dynamic cache to see if the behavior stops.

You can disable WEBSITE_DYNAMIC_CACHE from App settings. Please use the below setting under the app settings blade of your web app.

WEBSITE_DYNAMIC_CACHE = 0

If this doesn't work, I have an additional item you can

[2018-05-15 00:49] MicahMcKittrick-MSFT commented on #8112
@akramwaseem I believe at this point you might benefit from 1:1 support from a Support Engineer. That way you both can share full templates and they can see what is happening on the back end. Do you have the ability to open a technical support ticket? If not I can enable one for you.

[2018-05-15 00:51] cdaniel96 commented on #8513
Great! Please, feel free to reach me

[2018-05-15 00:53] jason-j-MSFT commented on #8515
@rahulunlimited please leave your product feedback here:
https://feedback.azure.com/forums/270578-data-factory

Thanks for the suggestion!

[2018-05-15 00:53] #8515 closed

[2018-05-15 00:57] smajazayeri opened #8596 "Sku keeps failing when running New-AzureRmCdnProfile"
## Creating an issue

I tried to create a cdn profile using PowerShell but my request keeps failing because of invalid sku. This is what I found in your [documentation](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cdn/cdn-manage-powershell.md#creating-cdn-profiles-and-endpoints):
[code]
However, it complains about sku with the following error:
[code]

Even, when I tried the abo

[2018-05-15 00:58] baabel commented on #8245
@BryanTrach-MSFT I added the WEBSITE_DYNAMIC_CACHE = 0 setting which had no effect on the behavior, the site required a restart otherwise the new content was not returned.  I tried multiple times.  On a side note, after a restart the site takes about 90 seconds to be in a ready state, perhaps this is normal behavior for Tomcat cold start.  Thanks, Brian.

[2018-05-15 00:58] rboucher commented on #5530
@arunakshi   Some questions. You say that you are creating an alert for Application Insights, but this article relates to Azure Monitor. https://docs.microsoft.com/en-us/azure/application-insights/app-insights-powershell-alerts covers Application Insights alerts and uses different commands. Can you clarify? Regardless,  I'm checking to make sure that the Azure Monitor commands work correctly.  The

[2018-05-15 01:27] adamfowlerit opened #8598 "Verify"
Step 5 needs to be clearer. We are looking at Hybrid Azure AD devices - does the value of 'Domain Joined' mean it's working, because if it just says "Domain joined devices have a value of **Domain Joined**." I can't tell if that means it's working or not from the description given.  Maybe also a link to this article which has a different method? https://docs.microsoft.com/en-us/azure/active-direct

[2018-05-15 01:29] rboucher commented on #8545
Hi @waheedhussain . Because Log Analytics can ingest data from so many sources and you can query across it, you can gain deeper insights as compared to just Azure Monitor. That can be across an application, or a set of applications. That depends on your query. That's what the "deep" implies.  Can you clarify what's confusing?

[2018-05-15 01:59] femsulu commented on #8595
@CalvinFengDatacom
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-15 02:02] femsulu commented on #8598
@adamfowlerit, Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-15 02:03] unnity opened #8600 "Storage Explorer just shows loading on startup"
Using it on a Windows 7 machine and the startup screen just says loading with no progress. Is there a way to check the logs ... or some other way to debug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d6736cc3c
* Version Independent ID: 09c7c658-16d1-04ac-6bb4-6aa5c1b529a6
* Content: [Get st

[2018-05-15 02:06] femsulu commented on #8596
@smajazayeri, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-15 02:19] CalvinFengDatacom commented on #8595
@femsulu  Hi, thank you for your response. It's actually my mistake. This method is working great! I had added an inappropriate apostrophe in the last answer "**I'm**", where I should added a terminate mark like "**\\'**".

So, it's not your fault. It's actually mine.

[2018-05-15 02:19] #8595 closed

[2018-05-15 02:28] danobri commented on #8557
Thanks - I had no troubles updating the setting, but unfortunately am still getting the "Too much data was sent during this period and being removed for debugger responsiveness." message on that same call.

[2018-05-15 02:43] MattMS commented on #5105
Recommendations for choosing between GPv1 and GPv2:
https://docs.microsoft.com/en-au/azure/storage/common/storage-account-options#recommendations

I gather that generally GPv2 is recommended for new users, unless you have specific needs for GPv1 (as specified at that link).

[2018-05-15 03:06] MGoedtel commented on #8575
#please-close as this has been answered by Dave Irwin from PG and isn't a doc issue.

[2018-05-15 03:14] rboucher commented on #5714
@liangqin12354 Is this still a problem?  I checked and no one here is having the issue with that article.

[2018-05-15 03:30] rboucher commented on #7548
@femsulu Please close.

[2018-05-15 03:33] femsulu commented on #7548
@andyjballgit, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 03:33] #7548 closed

[2018-05-15 03:36] femsulu commented on #8600
@unnity , Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-15 03:36] femsulu commented on #8518
@kasunsjc, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 03:36] #8518 closed

[2018-05-15 03:42] georgewallace commented on #6947
@akramwaseem There is no timeline for VMSS support, but when new features and capabilities are out we will be sure to notice end users.

[2018-05-15 03:43] Thiago4breu commented on #8558
@ajlam yes, that is the problem, the price does not update for the basic tier. I understand that the platform could only scale up, but what should I do now, because I was induced to commit this mistake to scale to the top of available storage, thinking that it was already included in my pricing tier.

Like Sql Azure, i can choose between 100mb and 250gb (or more in preview blade) and define my dat

[2018-05-15 03:43] cezane commented on #8580
Hello, Mike. My mistake. Sorry for that. I updated the question and description: "proof of possession". Few minutes before I open this question/doubt, I must have read some text with "proof of concept" and that guided me to this error. =)

[2018-05-15 03:57] femsulu commented on #8521
@DCtheGeek, any insights to @DaRosenberg 's question above?

[2018-05-15 04:10] ToMakeSense commented on #7271
@SunnyDeng Well, I am not always want Chinese  versions, I want Chinese versions link to Chinese if have, English versions link to English version.  thanks any way.

[2018-05-15 04:46] DCtheGeek commented on #8521
@DaRosenberg You are correct.  I got focused on the PowerShell aspect and know that, as Liz mentioned, it is being worked on.  However, there is also REST API for this.  Please see https://docs.microsoft.com/en-us/rest/api/resources/policydefinitions and https://docs.microsoft.com/en-us/rest/api/resources/policysetdefinitions and let me know if that meets what you are looking for.

[2018-05-15 05:00] AdrianSanguineti opened #8602 "Referenced version of Microsoft.IdentityModel.Clients.ActiveDirectory is unlisted"
The article references version 2.16.204221202 of Microsoft.IdentityModel.Clients.ActiveDirectory which is a quite old version that is no longer listed on nuget.org. The latest version of the nuget package is 3.19.4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9bf1784-2765-30b5-3709-614d29deea82
* Version Independen

[2018-05-15 05:39] SaurabhSharma-MSFT commented on #7259
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 05:39] #7259 closed

[2018-05-15 05:45] femsulu commented on #8602
@AdrianSanguineti, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-15 05:46] femsulu commented on #8602
@msmbaldwin I added you as I am unable to resolve @adhurwit in GitHub and MS GAL.

[2018-05-15 05:50] SychevIgor commented on #8551
@SaurabhSharma-MSFT it's not an issue. it's "feature request"

[2018-05-15 06:07] nth-block commented on #8556
That explanation was useful. Thanks.

[2018-05-15 06:07] #8556 closed

[2018-05-15 06:31] #8189 closed

[2018-05-15 06:51] cuixi1222 opened #8604 ""Each object only once in an Azure AD tenant" scenario"
For the section "Each object only once in an Azure AD tenant", the below restriction shall apply for seamless sign on not single sing on.
The single sign-on (SSO) option for password hash synchronization and pass-through authentication can be used with only one Azure AD tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-15 07:03] neodym3k commented on #8453
As per [this](https://twitter.com/StuartKwan/status/994970847054970880) twitter message from Stuart Kwan, it should also work with federated accounts. However, it would be good to explicitely mention that in the documentation.

[2018-05-15 07:53] LedoGit opened #8605 "Billing administrator: Manage company information"
The documentation mentions for the Billing Administrator that it is NOT possible to manage company information. Nevertheless, it is possible (at least in my tenant) to edit organization information (name, address, technical contact, ...). - Is the documentation in this point not correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-05-15 08:04] jeevansd commented on #8409
@v-nagta and @tmaeller correction here. Customer can use the old or new URL in the app although we update this. I think it is the question of right guidance here. can you please confirm that these are the correct new URLs and accordingly we will provide the same guidance in the UI and also in the documentation. Also there is no impact on the existing customers and connections which are already don

[2018-05-15 08:12] gopalvithal opened #8606 "devops architect"
sfctl application create --app-name fabric:/AzureFilesVolumePluginApp --app-type AzureFilesVolumePluginType --app-version 6.255.389.9494 --parameter '{"ListenPort":"19100"}'

am getting this error

sfctl application create: error: argument --parameters: invalid json_encoded value: '{ListenPort:19100}'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-05-15 08:44] waheedhussain commented on #8545
exactly....so log analytics is for 'deep application and infrastructure monitoring'......

its that the picture on one side says 'deep application monitoring' and has app insights in the box .....and on the right ' deep infrastructure monitoring' and has log analytics in the box

makes u think log analytics is only for infrastructure but like u say it isn't only for infrastructure...

may be a sep

[2018-05-15 08:52] femsulu commented on #8521
@DaRosenberg We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 08:52] #8521 closed

[2018-05-15 09:07] Ozric473 commented on #8462
Same here, after 'Enabling Soft Delete on KeyVault SPCITKeyVault01' craps out with the same error.

Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented."
At C:\AzureADEScript\ADEPrereqScript.ps1:160 char:5
+     Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-05-15 09:18] jomuld opened #8609 "Subscription permissions"
This document refers to "Required Azure subscription permissions". These are not in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4916833a-183f-27a2-b110-281915b06a27
* Version Independent ID: bd91aa56-2267-9eb4-de6e-53d4c97df651
* Content: [Activate Azure subscriptions and accounts](https://docs.micros

[2018-05-15 09:33] bingosummer opened #8610 "How to do the key rotation?"
Can I simply select another key from the key vault? Does it mean the previous written data are encrypted by the old key and the new written data are encrypted by the new key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1a2-3f5a-baf3-94e7-37bf4539530b
* Version Independent ID: 13dd580d-f249-62eb-13e2-da76f2f7f7d

[2018-05-15 10:55] samhodgkinson commented on #6350
using the example above

"availabilitySet": "[if(equals(parameters('availabilitySet'),'yes'), variables('availabilitySet'), json('null'))]"

I get the error, where I want the id to be null, is this functionality still valid.

"code": "MissingJsonReferenceId",
        "message": "Value for reference id is missing. Path properties.subnets[0].properties.networkSecurityGroup."

[2018-05-15 11:00] rapatchi commented on #8470
Thanks @wcom939  for pointing this out. Fixed this issue.

[2018-05-15 11:01] hakkiogretmen opened #8612 "the page can not be found. 404 error. (template)"
https://raw.githubusercontent.com/draios/sysdig-cloud-scripts/master/agent_deploy/kubernetes/sysdig-daemonset.yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7163e8ee-879a-f043-feaa-9c93cb7acce6
* Version Independent ID: 0aae5d64-5c14-a6a2-247f-ca8402e16596
* Content: [Monitor Azure Kubernetes cluster - Sysdig](htt

[2018-05-15 11:05] antpoole opened #8614 "Needs a thorough review"
This article is confused/confusing, and contradictory in places. Public peering is apparently deprecated but this is only mentioned in a table heading. Recommendation for which domain to use for PaaS is unclear - is it Microsoft only, or Microsoft or Public? If the latter is no longer an option, state this clearly; If not, please explain in which circumstances each is appropriate. Thanks

---
####

[2018-05-15 11:37] mmacy commented on #8553
@ljt91 Another alternative is to use a secret volume:

[Mount a secret volume in Azure Container Instances](https://docs.microsoft.com/azure/container-instances/container-instances-volume-secret)

[2018-05-15 11:40] sullyNivek75 commented on #7851
![image](https://user-images.githubusercontent.com/25821781/40054449-c5917ea6-583c-11e8-8388-1fac315715d3.png)

I have attached a screen grab to show the outputs from the tests that i have been running. Clearly something wrong. With 100% humidity and a temperature of 10 degrees C, there is a better chance than 9% that it could rain??

Any help would be good

Kevin

[2018-05-15 11:47] SychevIgor opened #8616 "ADDS are not in a preview anymore"
https://azure.microsoft.com/en-us/updates/azure-ad-domain-services-azure-portal-ga/ On all screenshots we have a post-fix "preview" that can frustrate people not familiar with adds and prevent them from using adds, because "preview" it usually means "not production ready"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-15 11:50] SychevIgor opened #8617 "ADDS are not in a preview anymore"
https://azure.microsoft.com/en-us/updates/azure-ad-domain-services-azure-portal-ga/ On a first screenshot we have a post-fix "preview" that can frustrate people not familiar with adds and prevent them from using adds, because "preview" it usually means "not production ready"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-15 11:55] SychevIgor opened #8618 "ADDS are not in a preview anymore"
https://azure.microsoft.com/en-us/updates/azure-ad-domain-services-azure-portal-ga/ On the last screenshot we have a post-fix "preview" that can frustrate people not familiar with adds and prevent them from using adds, because "preview" it usually means "not production ready"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-05-15 12:03] SychevIgor opened #8619 "network-connectivity not arm-to-arm for ADDS"
Could we include in a "network-connectivity" section information about ARM to ARM vnet connectivity? Now we have classic-to-classic and classic-to-arm, but not arm-to-arm.
Maybe it's also will be right to somehow highlight, that deployment to classic vnet are no longer supported and the primary scenario is when ADDS deployed to ARM vnet? "You cannot enable Azure AD Domain Services in a classic Azu

[2018-05-15 12:14] SychevIgor opened #8620 "AAD UX is no longer in preview"
It will be nice to update screenshots, where written "Azure Active Directory preview" and similar, because it's for a long time not in a preview and will only frustrate customers, who can decide that "this think is not production ready"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc350ba1-81d0-e336-c0e0-e644c18af5f7

[2018-05-15 12:47] TomShinder commented on #8462
There may have been some changes to the service that is causing this failure. Researching.

[2018-05-15 13:29] ishepherd opened #8621 "Sample template would not work"
* tags uses unknown variable 'alertTargetResource'.  I think you meant to use 'alertTag' somehow
* Please autoformat the JSON for readability, the indentation is not consistent
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ad11df6-d00f-729c-356a-e58c7451ad03
* Version Independent ID: 22e6e3a5-9456-1f94-483c-60

[2018-05-15 13:31] jeffryvu opened #8622 "Error in collectBlockchainWorkbenchTroubleshooting.ps1 line 471"
Line 471 says:
$apiWebsite = ($websites | Where-Object { $_.SiteName -like "*-api" })[0] # Select the Workbench API

However, the $websites doesn't contain a property SiteName. It does contain Name or RepositorySiteName, so any of these will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f346-2252-f1a9-189b-e

[2018-05-15 13:34] bjorncoltof opened #8623 "Operations in docs list under wrong API"
The section _Parameters for an account SAS token_  incorrectly puts _List Containers/Queues/Tables/Shares_ under service level APIs.  For tables those are actually container level API.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d631dd04-382f-ea9d-9cf4-8c1ff8730b19
* Version Independent ID: cf307ea9-0c9a-09a4-bc97-66

[2018-05-15 13:37] spottedmahn commented on #8017
Hi @MicahMcKittrick-MSFT - as confirmed here: https://github.com/Microsoft/service-fabric/issues/124#issuecomment-389000612, this is intended behavior.

IMO, the docs should reflect the SF behavior.  Thoughts?

[2018-05-15 13:40] wbvreeuwijk opened #8624 "Errors in page"
There are a number of errors in the page that cause it to not work.

Azure Settings
----------------
- Change the prefix to "azure" as this makes it clearer that it has nothing to do with the hostname and it is considered best-practice to match the prefix with the identity provider
- The Sign on URL needs to be set to https://<Qlik Sense Hostname>:443/<prefix>
- It is better to use just the hostna

[2018-05-15 13:49] mustafatoroman commented on #8462
Same issue here. And this worked for me in the past. I guess something changed in service configuration.

`Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented."
At line:160 char:5
+     Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          :

[2018-05-15 13:50] sullyNivek75 commented on #7851
Incidentally I have put the original dataset back into the process and the following happens in the same excel predictive session:

![image](https://user-images.githubusercontent.com/25821781/40060734-3043d0e8-584f-11e8-8221-bc6cc86fb138.png)

[2018-05-15 13:57] femsulu commented on #8609
@jomuld, Your feedback has been shared with the content owner for further review.

[2018-05-15 14:04] tmaeller commented on #8409
Hi Everyone, I'm working on getting answers to your questions, hopefully
today. Just waiting on engineering to respond to my request. Thanks!  ~Tony

On Tue, May 15, 2018 at 1:04 AM, Jeevan Desarda <notifications@github.com>
wrote:

--
*Tony Maeller*
*Tier 2 Technical Support Engineer*

*Email | Tony.Maeller@8x8.com <Tony.Maeller@8x8.com>*
[image: 8x8-communications-cloud] <https://support.8x8.com

[2018-05-15 14:04] sirdank commented on #8465
@SaurabhSharma-MSFT Oops, somehow I missed your first comment. I did have the user_impersonation scope defined. After finding this [page](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-web-api-dotnet), I was able to resolve the problem by following steps 4 and 5 which I do not believe are referenced by the two quickstart pages for the web app and we

[2018-05-15 14:05] femsulu commented on #8622
@jeffryvu, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-15 14:05] webash commented on #8255
I recommend adding that link to the 'Next steps' part of the document, as it should be more prominent.

[2018-05-15 14:37] jmblakl opened #8627 "Azure Functions CosmosDBTrigger never fires when published to Azure"
I have an azure function which has a cosmosDBTrigger.  Locally in the azure function tools this function fires as expected.  When I publish this to azure the trigger never fires.  I have checked in the data explorer for cosmos, the lease documents never get created, so I don't think the trigger is ever set up.  When I go on to the Azure Kudu site, the process is indeed running and I don't see any

[2018-05-15 14:39] furmangg opened #8628 "Azure Traffic Manager details"
As mentioned above, this link:// syntax can be used in conjunction with Azure Traffic Manager to route users to the geographically closest Azure Analysis Services. I described this in detail here: https://www.artisconsulting.com/blogs/greggalloway/2018/5/11/sending-users-to-the-geographically-nearest-azure-analysis-services

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-05-15 14:53] preethc opened #8629 "Are you using the right word?"
"price conscience baseline performance"

Conscience??
noun: conscience; plural noun: consciences
an inner feeling or voice viewed as acting as a guide to the rightness or wrongness of one's behavior.
"he had a guilty conscience about his desires"

Did you mean conscious?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2018-05-15 15:07] mmacy commented on #8392
@MicahMcKittrick-MSFT Let's go ahead and close this one. I've captured this request in the existing work item and anticipate addressing in the current or following sprint.

Internal tracking: User Story 1140386

#please-close

[2018-05-15 15:15] mrbullwinkle commented on #8046
@ianalderman Thank you for your feedback. We found that the warning is still accurate with the exception of when you are creating a resource with the Log Analytics free tier in which case you would experience the error you described. The doc has been updated accordingly to read:

(This change will go-live around 10 AM today.)

Thank you for helping to make our docs better!

[2018-05-15 15:15] mrbullwinkle commented on #8046
#please-close

[2018-05-15 15:27] neilpeterson commented on #8464
@MarcAir - I am going to close this issue. If there is anything else that we can help with, please re-ope the issue. Alternatively, you can contact me directly on Twitter (@nepeters).

#please-close

[2018-05-15 15:32] ljt91 commented on #8553
Thanks a lot everyone, really appreciate the quick response. Some great alternatives there which we will dig into!

[2018-05-15 15:32] #8553 closed

[2018-05-15 15:56] tumtum73 opened #8631 "Error Code 53004 missing"
Our AzureAD sign-in log showed this error with no further clarification.

SIGN-IN STATUS:  Failure
SIGN-IN ERROR CODE:  53004
FAILURE REASON:  Other

[2018-05-15 16:06] PatAltimore commented on #8622
#in-progress  Notifying script owner.

[2018-05-15 16:09] timmydo commented on #8423
That doc links to a doc telling you how to build a container using VSTS, but that doc explaining how to build a container with a VSTS step doesn't mention anything about handling secrets/environment variables. The VSTS task to build a docker image requires a dockerfile that's checked into the repository.

I could have an inline powershell script generate a dockerfile somewhere before running the d

[2018-05-15 16:27] jluk commented on #8553
@ljt91 good questions!

We're going to be supporting secret environment variables this summer so be on the lookout for announcements 👍 . We also have MSI support on the roadmap, but will be landing down the road as we comb through more features!

[2018-05-15 16:27] manish-shukla01 commented on #6772
yes. We will add documentation for them. We will start the process this week so it should be online in a week or two.

[2018-05-15 16:34] yashesvi commented on #7882
_"instance 1 runs for 0.5 hours and instance 2 runs for 1 hour. Instance 1 is fully covered by the reservation and 0.5 hours of instance 2 is covered."_

Instance 1 ran only for .5 hours and that usage is covered. The doc is correct.

[2018-05-15 16:35] dlepow commented on #8109
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/41108
Additional work in open work items
#please-close

[2018-05-15 16:36] TomShinder commented on #8462
OK - we're aware of the problem and it's been replicated. Now researching on a fix. Thanks for your patience!

[2018-05-15 16:36] MicahMcKittrick-MSFT commented on #8612
@hakkiogretmen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-15 16:37] MicahMcKittrick-MSFT commented on #8629
@preethc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-15 16:42] SaurabhSharma-MSFT commented on #8604
@cuixi1222 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-15 16:43] SaurabhSharma-MSFT commented on #8605
@LedoGit Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-15 16:46] SaurabhSharma-MSFT commented on #8616
@SychevIgor Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-15 16:49] SaurabhSharma-MSFT commented on #8618
@SychevIgor Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-15 16:51] SaurabhSharma-MSFT commented on #8619
@SychevIgor Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-15 16:51] SaurabhSharma-MSFT commented on #8620
@SychevIgor Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-15 16:54] SaurabhSharma-MSFT commented on #8624
@wbvreeuwijk Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-15 16:55] rfsonders opened #8633 "ASDK - Off Stack SQL host"
WIth the ASDK, can we build an Off Stack SQL hosting provider? Or, is ASDK limited to On Stack SQL hosts? I have attempted multiple connection options to an off stack HA Listener instance. All have failed with nebulous errors.
All steps have been followed here.
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-sql-resource-provider-hosting-servers
---
#### Document Details

⚠ *Do not

[2018-05-15 16:55] gatneil commented on #8112
Did a bit of digging, and we do actually have an example of this lying around: https://github.com/gatneil/mvss/blob/child-extension/azuredeploy.json

Hope this helps!

[2018-05-15 16:56] nitinme commented on #8177
@djpirra If that answers your question, we'll proceed to close the issue.

[2018-05-15 16:59] drcriado commented on #7085
Suggest:
If you want to use websockets in Docker Tomcat application add in config param:

Environment variable name: CATALINA_OPTS
Environment variable value: -Dorg.apache.tomcat.websocket.DISABLE_BUILTIN_EXTENSIONS=true (similar Node.js perMessageDeflate param)

[2018-05-15 17:00] SaurabhSharma-MSFT commented on #8627
@jmblakl Could you provide us with the link to the document you are referring to ?

[2018-05-15 17:02] SaurabhSharma-MSFT commented on #8046
@ianalderman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 17:02] #8046 closed

[2018-05-15 17:03] SaurabhSharma-MSFT commented on #8392
@novaterata We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 17:03] #8392 closed

[2018-05-15 17:03] MicahMcKittrick-MSFT commented on #8591
@akramwaseem can you email me at AzCommunity@Microsoft.com

Neil and I would like to discuss this with you offline.

[2018-05-15 17:03] #8109 closed

[2018-05-15 17:04] SaurabhSharma-MSFT commented on #8464
@MarcAir We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 17:04] #8464 closed

[2018-05-15 17:04] SaurabhSharma-MSFT commented on #8631
@tumtum73 Could you provide us with the link to the document you are referring to ?

[2018-05-15 17:05] TravisCragg-MSFT commented on #8614
@antpoole Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-15 17:13] dlyall-maine opened #8638 "Specific IP address reference in documentation"
This document contains the following line:

     http://169.254.169.254/metadata/identity/oauth2/token

This line references a specific hard coded IP address. I have a hard time believing that all developers would access this same address. Therefore it's an example. In which case, the document should say that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-05-15 17:18] MicahMcKittrick-MSFT commented on #8277
@rothja any luck with this?

[2018-05-15 17:27] MicahMcKittrick-MSFT commented on #8586
@AldoSaucedo I will close this for now but if you have further questions please reopen and we can continue.

[2018-05-15 17:27] #8586 closed

[2018-05-15 17:27] kgremban commented on #8542
Thanks for pointing out the broken link @swasifali. I also found the same link was broken on the Traffic Coverage article, so fixed both of them. The changes should be live in about four hours if you want to check them out for yourself.

[2018-05-15 17:28] ecfan commented on #5883
@sebgod Hi Sebastian, this topic is now updated with the SQL Server string format plus other updates:

https://docs.microsoft.com/azure/connectors/connectors-create-api-sqlazure

[2018-05-15 17:29] MicahMcKittrick-MSFT commented on #8606
@gopalvithal what OS and version are your containers running?

[2018-05-15 17:30] bandersmsft commented on #8609
#in-process
@jomuld Good point. I'll update the article.

[2018-05-15 17:31] cynthn commented on #8629
@preethc thanks for the feedback! I've gone ahead and made the change in the file for Jon. PR is: https://github.com/MicrosoftDocs/azure-docs-pr/pull/41229 #please-close. :)

[2018-05-15 17:33] iainfoulds commented on #8453
@neodym3k I've created a PR to add in a sentence to state that this works for customers using Federation Services. This PR should merge and publish this afternoon (Pacific Standard Time).

[2018-05-15 17:34] tomtoepel opened #8639 "lower-level privileges or not ?"
"In contrast, the Node Agent Service and the Coordinator Service run at a lower-level privilege (NETWORK SERVICE)."
But the Application Manifest seems to need an admin account.

   <Principals>
      <Users>
         <User Name="SetupAdminUser">
            <MemberOf>
               <SystemGroup Name="Administrators" />
            </MemberOf>
         </User>
      </Users>
   </Principals>

Is i

[2018-05-15 17:36] kgremban commented on #8401
@mike-urnun-msft can you #please-close this issue as resolved?

[2018-05-15 17:40] #8629 closed

[2018-05-15 17:41] kgremban commented on #8084
@pratyush-19 I'm sorry that my suggestions weren't more useful. Since I was able to reproduce the correct result, I don't know what else might be causing you to see a broken experience. This isn't a demo that requires any prerequisites to be installed, it's just your Azure Maps key. Perhaps @MicahMcKittrick-MSFT can recommend some troubleshooting resources for you?

@ReneGubler yes, that link was

[2018-05-15 17:43] mattbriggs commented on #7626
These scripts have been updated. #please-close

[2018-05-15 17:44] vasivara-MSFT commented on #7626
@Adjong We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-15 17:44] #7626 closed

[2018-05-15 17:44] rothja commented on #8277
@MicahMcKittrick-MSFT Thanks, not yet. I've sent another email just now to ask again.

[2018-05-15 17:47] vasivara-MSFT commented on #8628
@furmangg Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-15 17:52] Adam-Smith-MSFT commented on #8623
@bjorncoltof Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-15 17:56] kgremban commented on #8529
Hi @cveld I think that this is referring to the idea that lots of different Azure services create REST APIs, and we want it to be easy to move from one to the next. If you're interested in reading more about this, you can check out https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md

As for the "OneAPI" term, I agree that it is confusing because nobody else uses it, at least not e

[2018-05-15 17:57] mattbriggs commented on #7892
The specifications for the IdentitySystem param have been added (step 4.) Thanks again for your feedback! #please-close

[2018-05-15 17:58] #7892 closed

[2018-05-15 18:01] rbrussaard opened #8640 "Broken link"
The link (https://raw.githubusercontent.com/vhorne/samplescripts/master/install_nginx.sh)  inside the NGINX part is broken. Also, for a reader, it might not clear why NGINX must be installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f26036-13af-8ab5-d580-3592d8d8af35
* Version Independent ID: 47f8319e-c161-6c96

[2018-05-15 18:07] #8453 closed

[2018-05-15 18:30] kristopherjturner opened #8642 "AZS vs Azure Object Name"
In the section, Install PowerShell in a connected scenario (with Internet connectivity) the command to verify the modules are installed may be incorrect:   Get-Module -ListAvailable | where-Object {$_.Name -like "Azs*"}

The object name should be "Azure", at least that is the only way to get a return back when I run it.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-05-15 18:35] scarson opened #8644 "Typo on "In-memory optimization" row under Azure SQL Database column"
Currently reads: "Yes - Premium and Business Critial tiers only"
"Critical" is missing a "c"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Azure SQL Database feature comparison](https://docs.microsoft.com/en

[2018-05-15 18:44] ryanbor opened #8646 "ExRGW should come *before* VPNGW for Coexist"
In this doc, it indicates that you should create your S2S GW (step 4) then create an ExR Gateway (Step 10). Historically, and in the classic docs (https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-classic), this is reverse of what it should be.

ExR Gateway *has* to be created prior to the VPN Gateway in coexist scenarios. Can we have the docs updated to reflect this?

[2018-05-15 19:02] MicahMcKittrick-MSFT commented on #8639
@tomtoepel Thanks for the question! We are investigating and will update you shortly.

[2018-05-15 19:05] tarunendra opened #8647 "Execute operation not available in CloudTable"
I don't see any execute method available under CloudTable object

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6fc239b
* Version Independent ID: 065b8cb0-d218-b759-ce69-e8901d89b422
* Content: [Get started with Azure Table storage using .NET](https://docs.microsoft.com/en-us/azure/cosmos-d

[2018-05-15 19:08] naymore commented on #7135
Cannot find it - probably also EA subscription related I guess... please advice.

[2018-05-15 19:10] JatinBavishi opened #8648 "Please confirm that these IPs won’t change for the specific region, or do we need to review these entries from time to time?"
[Enter feedback here]
Please confirm that these IPs won’t change for the specific region, or do we need to review these entries from time to time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80d8f411-2e7f-abc4-3e62-8b467e2409e7
* Version Independent ID: b4737b1d-b963-2ee4-aed0-558c80f02704
* Content: [Azure App Serv

[2018-05-15 19:18] SatyandraV-MSFT opened #8649 "Automatic Device Join - AAD Conditional Access"
Is the term "Automatic Device Join" referring to Hybrid Azure AD join (Azure DRS) or ADFS DRS ?  and it implies that AAD CA policy cannot be used for Access control in this regard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7243d05b-1428-79cc-eec0-9e6d57d28657
* Version Independent ID: c0c8e62a-4e04-0ac2-419e-dde69

[2018-05-15 19:19] MicahMcKittrick-MSFT commented on #8639
@tomtoepel I believe the Application Manifest requires admin privileges due to the fact if unauthorized changes were made to it then it could break your cluster.

@novino @dkkapur @srrengar can one of you confirm?

[2018-05-15 19:33] kobulloc-MSFT commented on #8588
@jeffhebrank Are you trying to do a one-time backup on data prior to when you enabled continuous export?

[2018-05-15 19:45] SaurabhSharma-MSFT commented on #8649
@SatyandraV Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-15 19:50] mattbriggs commented on #7734
@jah29m https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-registration#register-azure-stack-in-disconnected-environments for AD FS disconnected registration. Thanks! #Please-close

[2018-05-15 19:52] #7734 closed

[2018-05-15 19:56] Mike-Ubezzi-MSFT commented on #8644
@scarson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

Reference:
![screenshot 231](https://user-images.githubusercontent.com/37126106/40080246-3a8f032a-583f-11e8-8584-e1d21953bcbd.png)

[2018-05-15 20:06] CelesteDG commented on #8263
Got confirmation that we can delete this topic. PR with the change: https://github.com/MicrosoftDocs/azure-docs-pr/pull/41266.

[2018-05-15 20:15] femsulu commented on #8621
@ishepherd Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-15 20:17] obaidx opened #8654 "Article Feedback"
The article lacks which storage table should the logs go to in storage? Even though the article says 'Log Analytics to monitor Log analytics for Azure Load Balancer', there is no mentioning of selecting Log Analytics as a source to stream these logs to. Looking at the link https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-azure-storage, it seems like Azure Load Balancer Logs shoul

[2018-05-15 20:17] jeffhebrank commented on #8588
yes, correct. and I don't see a way to get this data in the same format that continuous export provides.

[2018-05-15 20:22] scarson opened #8655 "Business Critical service tier Generation 5 compute platform table displays incorrect vCore counts for BC_Gen5_32 and BC_Gen5_48 performance levels"
BC_Gen5_32 says 48 vCores and BC_Gen5_48 says 64 vCores; should be 32 and 48 vCores respectively.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96489790-4e4c-e461-7f5d-1e6f3f9d7d1b
* Version Independent ID: eba2b7ce-ff3c-3adb-3ffb-295d31e97b6f
* Content: [Azure SQL Database vCore-based resource limits](https://docs.mi

[2018-05-15 20:29] scarson commented on #8655
![image](https://user-images.githubusercontent.com/9357767/40081833-01f09934-5844-11e8-8027-899a2ac91d8f.png)

[2018-05-15 20:32] CarlRabeler commented on #8655
@scarson I am confused why I am not seeing what you are seeing...https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits

[2018-05-15 20:40] #8401 closed

[2018-05-15 20:42] vhusker opened #8656 "Incorrect Cmdlet Name in Script"
If you copy and paste the RunAs connection script (non Classic) directly into Azure Automation and try to run it, it is going to fail with the following error message:  Failed
The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try agai

[2018-05-15 20:46] mike-urnun-msft commented on #8187
Hey @leftler

We have reached out to our product team for this case and received confirmation that this is not a supported scenario at this time. Please post a feature request on Azure UserVoice so that the community can upvote it: https://feedback.azure.com/forums/169385-web-apps

We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and

[2018-05-15 20:46] #8187 closed

[2018-05-15 20:56] charwen commented on #8646
@ryanbor we removed the constraint. now you can create ER/VPN gateway in any order. we're waiting for the NRP rollout before making an announcement. our doc is a bit ahead of the rollout.

[2018-05-15 21:05] codyrat commented on #8567
The document has not been updated with augmented network security group functionality. https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#augmented-security-rules

[2018-05-15 21:06] scarson commented on #8655
@CarlRabeler I realize I didn't specify it's the one under Elastic Pools, not Single Databases.
This is straight from the markdown:
![image](https://user-images.githubusercontent.com/9357767/40083468-16445ede-5849-11e8-9f3e-f048f88e5c9f.png)

[2018-05-15 21:06] Mike-Ubezzi-MSFT commented on #8647
@tarunendra Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-15 21:08] scarson commented on #8655
@CarlRabeler I also noticed that the instance types under Elastic Pool - General Purpose service tier - Generation 5 compute platform are incorrectly prefixed "BC" instead of "GP".

[2018-05-15 21:15] CarlRabeler commented on #8655
Thanks – PR pending now

From: scarson <notifications@github.com>
Sent: Tuesday, May 15, 2018 2:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Business Critical service tier Generation 5 compute platform table displays incorrect vCore counts for BC_Gen5_32

[2018-05-15 21:19] RobStand commented on #8524
@YutongTie-MSFT The Bot Frameworks docs are at https://github.com/microsoftdocs/bot-framework-docs

[2018-05-15 21:25] CraigHumphrey opened #8659 "Support for Classic VMs?"
We're still using Classic VMs.  Will this mechanism support them in the near future, or do we need to be migrating to RM based VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979-a818-39af99d5e6bb
* Version Independent ID: d0e5e766-ef63-d934-b21b-678933a5cc65
* Content: [Manage updates and patches fo

[2018-05-15 21:35] tfitzmac commented on #8390
Your best options are to either work directly with Azure Support, or look at the [App Service Certificate](https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site) documentation. I see that you can create a local copy of the certificate but I am not familiar enough with App Service Certificates to tell you how that copy can be used.

[2018-05-15 21:39] neilpeterson commented on #8423
I've not worked with web-apps myself, however quick scan of the doc shows that we can used `--settings` when using the CLI.

[code]

Looking at the portal, I do not see a very straight forward way of accomplishing this. As @timmydo has pointed out, looks like we can consume a Docker Compose or Kubernetes manifest file, which should both do the trick.

So a compose file like this should work (I've

[2018-05-15 21:43] saschwarz commented on #8423
@timmydo we solved this using the azure cli to set our Application Setting variables. All those variables end up in the environment of the launched docker cmd/entrypoint. e.g
az webapp config appsettings set --name webapp-name --resource-group dev --settings DB_NAME=dbname DB_HOST=ourhost.database.windows.net DB_USER=dbuser DB_PASSWD=passwd WEBSITES_ENABLE_APP_SERVICE_STORAGE=true

So at least the

[2018-05-15 21:45] timmydo commented on #8423
@saschwarz I don't think azure application settings are passed to `-e` options in the `docker run` command for container web apps?

[2018-05-15 21:57] DavidPrio commented on #5286
@vhorne We believe this is a source text issue. Can you please confirm you are working on this request?
Thanks!

[2018-05-15 22:06] MicahMcKittrick-MSFT commented on #8591
Resolved this offline. Closing for now :)

[2018-05-15 22:06] #8591 closed

[2018-05-15 22:09] rboucher commented on #8545
Yes it does. I understand now.  Thanks!  We'll take that as feedback for the next iteration of the diagram.  It could be on the line between the two "deep" boxes.  Can we close this issue @waheedhussain ?

[2018-05-15 22:10] lorindavis opened #8660 "Back End Token Expiry Question"
Thanks for the Great Post!.. We have implemented a solution as outlined above but are running into one issue.  After about one our the Bearer Token for the Backend expires and starts to return "Not Authorized" replies to our Front End Application...

Our front end continues to function (with the exception of not being able to authenticate to the backend)

IS there anyway for our Front-end to silen

[2018-05-15 22:12] ljt91 commented on #8553
@jluk awesome news, thanks a lot for the update!

[2018-05-15 22:13] TravisCragg-MSFT commented on #8567
@codyrat Thank you for the clarification. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-15 22:15] csteegz commented on #7459
Sorry - I'll follow up on this right now

[2018-05-15 22:19] dml5 opened #8661 "appsettings.json in NetCore 2?"
How do you connect using appsettings.json connectionstrings in NETCore 2+ rather than putting connection data in your code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8486cc-40d4-7bca-84e0-e4156a28fe0d
* Version Independent ID: d6e95100-d7fd-2951-366d-f4ed73ce5771
* Content: [Use .NET Core to query Azure SQL Data

[2018-05-15 22:23] PurpleFuton opened #8662 "Update New Database screenshot"
Minor observation but collation in screenshot isn't Latin1_General_CI_AS as required in documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3874265a-c20c-ba96-5480-9c9652b8d3aa
* Version Independent ID: 3a7aa125-aedb-836f-8cfe-ba2380d5f490
* Content: [Install Azure AD Connect using SQL delegated administrator

[2018-05-15 22:30] mike-urnun-msft commented on #8454
@TecumsehSamp How did you go about getting the connection string? Is it the same connection string that is defined in `d:\home\data\mysql\MYSQLCONNSTR_localdb.txt` file? Are you able to use the username & password to sign into `phpMyAdmin`?

I'm able to setup `MySQL in-app` backup successfully by using the `connectionString` from file mentioned above. **Screenshot A** below shows how i acquired th

[2018-05-15 22:32] MisinformedDNA commented on #7632
You can follow the issue [here](https://github.com/Azure/azure-documentdb-dotnet/issues/344)

[2018-05-15 22:35] TecumsehSamp commented on #8454
Yup, connection string worked for phpmyadmin and I got the string from there.

Interestingly, the MySQL connection string environment variable is not set.

(I'll be able to provide more details tomorrow, thanks though)

[2018-05-15 22:46] #8450 closed

[2018-05-15 22:49] tfitzmac commented on #8450
@Anmolgan81 - an update to this article will be published soon. VSTS can be moved, but if you have 3rd party extension purchases, you must cancel those purchases before moving VSTS.

[2018-05-15 22:55] Mike-Ubezzi-MSFT commented on #8661
@dml5 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-15 22:59] #8550 closed

[2018-05-15 23:12] BryanTrach-MSFT commented on #8660
@lorindavis Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-15 23:26] #8540 closed

[2018-05-15 23:26] femsulu commented on #8659
@CraigHumphrey Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-15 23:29] femsulu commented on #8656
@vhusker Thanks for bringing this to our attention. Actively investigating this issue and will get back to you with an update soon.

[2018-05-15 23:38] adpick commented on #7135
@cwatson-cat you can make me the article owner

This service doesn't support EA subscriptions, I'll update the doc to clarify this further.

[2018-05-15 23:42] rboucher commented on #8139
@femsulu please assign this to me. Carol is no longer here.

[2018-05-15 23:59] ajlam commented on #8558
@Thiago4breu, I am tracking the Portal pricing issue as a bug in our engineering backlog.

Let me try to help you offline. Can you please email me at andrea.lam@microsoft.com with the Azure region your server is deployed in?

#please-close

[2018-05-16 00:18] ppassin opened #8666 "Get-MsolCompanyInformation"
It would appear this cmdlet is not part of AzureAD anymore (and not AzureADPreview neither). I can't find an equivalent in this module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-8087-b47f-f589a3cfa1d8
* Content: [PowerShell examples for ma

[2018-05-16 01:17] jamesbascle opened #8668 "Single Quote Escape"
How do you escape single quotes??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-lan

[2018-05-16 01:50] DominoX commented on #7537
Guys, c'mon!

20 days later and no progress.

I'm involved with training MSFT new-hires on Azure services, and having buggy tutorials that don't work sure doesn't help. Who has ownership of this issue?

[2018-05-16 01:58] deshmanth commented on #8338
Thanks Tauveron, attaching debugger to 5005 worked

On Wed, May 16, 2018 at 3:53 AM, Thibaut Tauveron <notifications@github.com>
wrote:

[2018-05-16 01:58] Thiago4breu commented on #8558
I'll contact you soon. Thanks

[2018-05-16 01:58] #8558 closed

[2018-05-16 02:22] icistech opened #8669 "how do I obtain keys for computer vision 2.0"
I subscribed to computer vision to get access to the improved OCR in 2.0, but it looks like I can only purchase a 1.0 key.
How do i get a computer vision 2.0 key (free or paid)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b224939-86a1-e97c-dfe6-b466acf30a85
* Version Independent ID: d4c66f21-3f6e-b09a-35e5-84d8953b

[2018-05-16 03:52] noellelacharite commented on #5934
#in-progress

[2018-05-16 03:59] SaurabhSharma-MSFT commented on #8666
@ppassin Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 04:14] SaurabhSharma-MSFT commented on #8669
@icistech Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 04:20] SaurabhSharma-MSFT commented on #8604
@cuixi1222 Thanks for the feedback !  Yes, you are correct.   I have assigned this issue to content author to investigate and update the document as appropriate.
@billmath Can you please take a look and update accordingly.

[2018-05-16 05:39] gopalvithal commented on #8606
Hi Micah

I was working with a linux cluster, and tried to run this command

sfctl application create --app-name fabric:/AzureFilesVolumePluginApp --app-type AzureFilesVolumePluginType --app-version 6.255.389.9494 --parameter '{"ListenPort":"19100"}'
am getting this error
sfctl application create: error: argument --parameters: invalid json_encoded value: '{ListenPort:19100}'

as mentioned in docum

[2018-05-16 06:02] DOliana opened #8672 "Links for NSG-ARM-template point to general ARM-Template documentation"
The chapter about network isolation states that a certain template should be used that contains different NSGs. The link only points to the general ARM-template documentation and not to a specific template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355ed10a-4c38-d0f6-1268-cb0ba170b8dd
* Version Independent ID: 7a3

[2018-05-16 06:04] TravisCragg-MSFT commented on #8654
@KumudD Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-16 06:07] TravisCragg-MSFT commented on #8646
@ryanbor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-16 06:07] #8646 closed

[2018-05-16 06:08] TravisCragg-MSFT commented on #8640
@rbrussaard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-16 06:12] agnimitra opened #8673 "Signout issue - SSO URL is not expiring even after logout"
I did used the delegate option and am able to Sign User Programmatically by generating SSO URL (generateSsoUrl). Now I have problem in Signingout, once user try Sign-Out from Azure APIM Developer portal, microsoft delegate the call to our CUstom AUthentication server, and we end the users session, and redirect them back to base url of developer portal. Here User see the Sign-In option again.

Howe

[2018-05-16 06:18] ArtemProc opened #8674 "Documentation is inconsistent missleading not clear"
1. I spent 30 min reading this document and trying to figure out how to use DSC + ARM with Credentials
2. You're providing two different schemas in sa,e document and at same time refensing to Template examples which use only one schema.
3. Can any one from MS Side spent some time providing consistent documentation with working examples so Customers don't need to search answer in stackoverflow stac

[2018-05-16 06:25] neodym3k commented on #6589
Sorry guys, but I do not get it. I opened at least three premier cases in the past years to have SKUs and service plans properly documented. I also talked personally with Alex Simons about that ...
It always ended up with a single documentation that was never updated.
As a customer you suddenly see strange service plans appearing in your SKUs with no documentation what it actually is (Best example

[2018-05-16 06:30] msvijayn commented on #8621
@ishepherd Sorry, for the mismatch; I seem to have messed up in doing CTRL+V.
Doc update initiated via PR #41347

[2018-05-16 06:41] gopalvithal opened #8675 "article does not consider the scenario where the container is failing, before the user finds the node and gets to the logs, the container has already moved to another node"
article does not consider the scenario where the container is failing, before the user finds the node and gets to the logs, the container has already moved to another node.
and you see the error
Error:  Get deployed container logs failed.
Code: FABRIC_E_CONTAINER_NOT_FOUND
Message: Container not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-05-16 06:52] pravinohal opened #8676 "Dot Net 3.5"
Does it support for ASP.Net applications for framework 3.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0fe1dde-e648-523a-88f5-94811293729d
* Version Independent ID: 053b0d57-ab96-b235-cbe3-59f0c9e65bcb
* Content: [Monitor your ASP.NET Web App  with Azure Application Insights](https://docs.microsoft.com/en-us/azure/

[2018-05-16 07:33] ggailey777 commented on #8270
@ahmelsayed can you address the suggestion from @joben? I got these Ubuntu install instructions from the [Core Tools readme topic](https://github.com/Azure/azure-functions-core-tools/blob/master/README.md#ubuntu-1710).

[2018-05-16 07:37] hydrogen2oxygen opened #8677 "Still does not work"
I get a warning message that "roaming sync cannot be completed" when I remove the network cable, even when I have disabled all options!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4459a0c8-0451-bbdf-3d2f-f62f46dc2240
* Version Independent ID: 7ebbbee6-1bd2-de5a-aabf-978d12099f3f
* Content: [Windows 10 roaming settin

[2018-05-16 07:44] marcritchie opened #8678 "QnA Maker - Save and train timing out"
I have created a knowledge base in the new version of QnA Maker and it was functioning correctly until yesterday. One ‘Save and train’ that I did just hung for a long time with the ‘Hang tight, this should only take a minute…’ message.
In the end the Knowledge Base still shows as being there but when I try to go into it there is an error.

I tried adding another Knowledge Base with one question an

[2018-05-16 07:45] Molotch commented on #8540
Hi, were specifically interested in the SQL server trigger but the updated documentation shows it's polling based. Thanks!

[2018-05-16 07:48] femsulu commented on #8610
@bingosummer, Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-16 07:56] dominicbetts commented on #8265
Hi @cezane, I'll make sure the product team have the full information. Thanks again for taking the time to raise this issue. Dominic

[2018-05-16 07:56] dominicbetts commented on #8265
#please-close

[2018-05-16 07:57] bingosummer commented on #8610
Thanks @femsulu .
We have a discussion with Cloud Foundry community. Many people are very interested in the key rotation story of custom key/BYOK in SSE.
How does it work end to end? After you create a new version in Azure Key Vault, what then triggers re-encryption of all the data at rest, to actually use the new key?

https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/issues/363

[2018-05-16 07:58] dominicbetts commented on #7326
Hi @dzimine - I'm closing this issue now - please let me know if you think it should be reopened. Thanks for taking the time to raise this issue. Dominic

[2018-05-16 07:58] dominicbetts commented on #7326
#please-close

[2018-05-16 08:43] Vekoding opened #8679 "Coder"
Nice work makes working better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ab965b-dc45-f450-1302-5ffe491ca129
* Version Independent ID: 0d96d50d-a349-3408-3b93-d8b084e1cbd1
* Content: [How to get an Azure AD tenant](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-howto-tenant#crea

[2018-05-16 08:57] kargakis opened #8680 "Configuring ingress is broken for clusters secured with RBAC"
https://docs.microsoft.com/en-us/azure/aks/ingress

Helm does not seem to install RBAC rules for the ingress controller and kube-lego.

[2018-05-16 08:57] alex-dokienko opened #8681 "Hub & Groups"
Hello,

I would like to use latest Azure SignalR Service, but have an difficulties integrating it with classic ASP.Net WebAPI.
On back end I tried to interact with service using REST API (<endpoint>:5002/api/v1-preview/hub/{hub}/group/{group}) for sending messages and it's worked for me (however mechanism is quite tricky with all JWT tokens which user should generate manually, I hope with next ver

[2018-05-16 09:07] luyaok opened #8682 "Send message using HTTP protocol get "Inheritance security rules violated by type" exception."
I followed [Set up X.509 security in your Azure IoT hub document](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-get-started).

I get sending messages to azure iot hub using AMQP and MQTT protocol working but get the following exception with HTTP protocol at this line: deviceClient.SendEventAsync(eventMessage);

`Inheritance security rules violated by type: 'System.Net.Http.W

[2018-05-16 09:09] MetehanBolat opened #8683 "Key Encryption Key must be explained further."
$keyEncryptionKeyUrl = (Get-AzureKeyVaultKey -VaultName $keyVaultName -Name myKey).Key.kid;

There is no such cmdlet as Get-AzureKeyVaultKey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b44bac-c760-a06d-e618-149f275e0d0e
* Version Independent ID: bcaaf53e-87c1-59aa-c51b-d3359ebb9046
* Content: [Encrypt disks on a W

[2018-05-16 09:10] Anmolgan81 opened #8684 "What about encrypted azure virtual machines?"
How can we move encrypted azure virtual machines??
do moving the encrypted virtual machine with key vault across subscription, work?
Decrypting virtual machine across subscription will work using same secrets??

Or we need to decryption the virtual machine then move it and reconfigure again??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-05-16 09:12] Anmolgan81 commented on #8390
@femsulu, I just want to perform a POC on moving an App service certificate linked with the webapps and uploaded app certificate also linked with the web app across the subscription, if you can post some screenshots when you performed or either post me a screen video performing this will be helpfull. Or if you want me to have a quick meeting with you where you can show me this, it will benefit me

[2018-05-16 09:13] Anmolgan81 commented on #7563
@tfitzmac when will we get the support for moving the managed disks??

[2018-05-16 09:46] femsulu commented on #8582
@cchensh thanks for clarifying, I have shared this issue with my localization contact to help review and resolve.
@Sara-Nicolini  - is this something you can assist with?

[2018-05-16 10:02] pgarm opened #8685 "Sign-in/sign-out URLs unclear"
The guide has this part:
a. In the Login URL textbox, paste the value of SAML Single Sign-On Service URL, which you have copied from Azure portal.
b. In the SLO URL textbox, paste the value of Sign-Out URL, which you have copied from Azure portal.

These URLs are not referenced before, and I couldn't find them anywhere. The only URL present on Azure portal is the metadata one - probably sign-in an

[2018-05-16 10:19] epocket commented on #8466
For the record, I was able to workaround this problem by adding the --edge-hostname "<DNS name>" value to the end of my iotedgectl setup command, as suggested for the "iotedgectl setup fails with an invalid hostname" problem above, although my problem was different.

[2018-05-16 10:41] danny8002 opened #8686 "API documentation link Broken"
"Node.js API reference documentation" => http://azure.github.io/azure-documentdb-node/DocumentClient.html
this link is broken.
maybe the following link is good.
https://docs.microsoft.com/en-us/javascript/api/documentdb/?view=azure-node-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4a8032-6aa3-4833-0fb4-02312

[2018-05-16 11:17] rayne-wiselman commented on #8566
I updated the article with the latest cmdlets, and added a link to the cmdlets so that users can see how to run them. #please-close

[2018-05-16 11:25] TecumsehSamp commented on #8454
So @mike-urnun-msft

![image](https://user-images.githubusercontent.com/24435510/40113909-e45d5d70-5902-11e8-88af-16839d310320.png)

The screenshot above shows phpmyadmin is working, there are 2 servers in that list - both of them with the same connection properties, both connect successfully. I am assuming 1 is from the connection string defined in application settings and the other is phpmyadmin

[2018-05-16 11:26] dem108 opened #8688 "GPU VM sizes should reflect other available VM types"
It's been some time that NCv2 and NCv3 with latest generations were available. These should be reflected in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba899dc-a6ef-3b9f-1042-03e2718efabb
* Version Independent ID: 40b0e55f-229c-3852-872e-fa5184a5cc5f
* Content: [How to create DSVM and HDI as comp

[2018-05-16 11:36] TecumsehSamp commented on #8454
I've also just tried it on a normal Web app with nothing else installed on it. Same result.

[2018-05-16 11:40] AzureStackNerd opened #8689 "Start-AZSBackup and Least Privileges Principle"
LS,

Instead of performing the backup manually, we are scheduling the backup using a non-personal task schedule account. However the documentation is not clear about the least privileges/rights assignment needed to perform this task.

We have found that the non personal account is able to perform this task (Start-AZSBackup) as a Contributor on the Default Provider Subscription. However, we feel th

[2018-05-16 11:42] rayne-wiselman commented on #7104
This was fixed - https://github.com/MicrosoftDocs/azure-docs-pr/pull/40562

#please-close

[2018-05-16 12:34] martinbherbener opened #8690 "Logout supported?"
Is Single Logout supported/functional with this integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ffa73bf-e4cb-d6bc-3a9f-ec190ab1f5fd
* Version Independent ID: 8b025543-22d3-2dda-e9dd-f1f75f082ba4
* Content: [Tutorial: Azure Active Directory integration with Tableau Server](https://docs.microsoft.com/en-us/a

[2018-05-16 12:36] tomtoepel commented on #8639
I've tried to remove the principle stuff, but it results in an error for NodeAgentService:
Error event: SourceId='System.Hosting', Property='CodePackageActivation:Code:SetupEntryPoint'.
There was an error during CodePackage activation.The service host terminated with exit code:1332

[2018-05-16 12:44] saschwarz commented on #8423
@timmydo Maybe we are talking about different ways to run docker containers in Azure? In WebApps for Containers I don't issue `docker run`. I push the image, select the tag in the WebApp instance w/in the portal (or via the azure cli) and its is deployed/run with the application settings injected into the environment:

https://blogs.msdn.microsoft.com/waws/2017/09/08/things-you-should-know-web-app

[2018-05-16 12:53] novino commented on #8639
Foll: operations require higher privileges, that's why NodeAgentNTService runs at a admin privilege.
- Disabling automatic Windows Update on the node.
- installing Windows Update according to the policy the user has provided.
- Restarting the machine post Windows Update installation.

The same has been mentioned at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestr

[2018-05-16 13:00] MGoedtel commented on #8589
@akramwaseem, @richrundmsft, and @vasivara-MSFT - I will identify the right person from the LA team to review this and provide a response.  #in-progress.

[2018-05-16 13:11] BharathMannem opened #8691 "Server Diagnostic Logging"
Does this diagnosis the Databases on IAAS Servers? If so how to enable the diagnostic logging for them, as diagnostic logging is required for the above solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d3e0
* Version Independent ID: d195959f-5742-7d94-f4f5-e70c0f0581e7
* Content: [

[2018-05-16 13:22] rraugusto opened #8692 "Missing error code 50056"
Please add error code 50056 meaning. Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/ac

[2018-05-16 13:27] spelltwister commented on #8427
I am setting the authenticated user in javascript to the logged in user.  however, I also issue a session token to the client that I was using as the Session.Id parameter in my asp.net code.  Should I set this parameter in the JS client or let it use the ai_session that is generated?  If I should use it, how to set it?  Was considering just setting the cookie value on the server at same time I set

[2018-05-16 13:49] #8265 closed

[2018-05-16 13:53] FrancoisBilodeau commented on #8542
It's fixed, thank you.

[2018-05-16 13:53] cephalin commented on #8660
Take a look here: https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#refresh-access-tokens

You can also use /.auth/me to get token expiration information so you know how soon you have to refresh your tokens

[2018-05-16 13:55] dem108 opened #8693 "To monitor GPU usage"
There is an example run output to check out to verify that the GPU is used, according to the current documentation.
1. Is this output automatically displayed, regardless of the code? Or is there a specific code that displays this?
2. Which output is mentioned here? Is it control_log, or driver_log?
3. What are alternatives to proactively check if GPU is being used? Any tools like nvidia-smi useful

[2018-05-16 13:58] Anmolgan81 opened #8694 "What steps to go to if I want to buy A pay as you go?"
Can you tell me the steps to undergo in order to buy the Pay as you go subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31d284ec-efec-44b4-8582-47b5b44a1f73
* Version Independent ID: 5be7927d-cf08-7438-ecfd-554a6928d122
* Content: [Upgrade your free Azure subscription to Pay-As-You-Go](https://docs.microsof

[2018-05-16 14:03] shoorik opened #8695 "Description of snippet"
In section "Add vertices and edges":

But the demonstration snippet only sets firstName property. (Overall, the tutorial keeps referring to the "Person" type but uses "person" in snippets, and there are some inconsistencies with type names being shown sometimes in code highlights and sometimes in quotes.)

Also, sentence before it seems to be missing "add": "First we some vertices using Gremlin's

[2018-05-16 14:08] dphansen opened #8697 "Merge conflict in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/hdinsight/hdinsight-hadoop-create-linux-clusters-adf.md"
It seems that there were a merge conflict when @nitinme committed https://github.com/MicrosoftDocs/azure-docs/commit/3646650ed765fe9dc9b7b3a04ec94f2e09d8f21c

In the PowerShell script on:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/hdinsight/hdinsight-hadoop-create-linux-clusters-adf.md

It says:

[code]

The code should say:

[code]

I have tried to create a pull request to

[2018-05-16 14:12] raulplanas commented on #6596
Emulator requires admin consent to start up. This makes it difficult to use as part of unit testing automation on our builds. Is there a reason this requires admin consent while the Azure Storage Emulator which has similar DB functionality for Azure Storage does not require admin consent. Would be great to run unit testing against the emulator for continuous builds and the only run against real th

[2018-05-16 14:47] dresdor opened #8699 "Github link broken"
https://github.com/Azure/dev-spaces does not appear to exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c97296-51bc-14be-1888-8b3d9967a1b7
* Version Independent ID: 8c1d6961-9da2-4ce5-5cb1-b81f5287a278
* Content: [Create a Kubernetes development environment in the cloud - Azure Dev Spaces](https://docs.microsoft.

[2018-05-16 14:47] rraugusto commented on #8692
Also, we need to understand the difference between 50056 and 50126. I see 50126 also talking about invalid username, but what happen if just the password is wrong, it will generate 50056 or 50126?

[2018-05-16 14:58] RickBullotta commented on #8128
Issue is related to a dependency on a very old (2015) version of wiringpi

[2018-05-16 14:59] jebeld17 opened #8700 "The available download on the page for the CUDA Drivers, Windows Server 2016-edition, is outdated."
### The available download on the page for the CUDA Drivers, Windows Server 2016-edition, is outdated.
Currently, the page lists version [390.85](http://us.download.nvidia.com/Windows/Quadro_Certified/390.85/390.85-tesla-desktop-winserver2016-international.exe) as the most recent CUDA driver, when in fact the newest CUDA driver is [391.29](http://www.nvidia.com/download/driverResults.aspx/132536/e

[2018-05-16 15:01] jmblakl commented on #8627
I mistakenly out this on the documentation repo

[2018-05-16 15:01] #8627 closed

[2018-05-16 15:02] vijsharm08 commented on #5612
Hi,

I want to pass parameters in linked services to pick the values dynamically. Could  you please let me know how to make it happen?

Thanks,
Vijay Sharma

[2018-05-16 15:06] epocket opened #8701 "Unable to import 'iothub_client'"
Hi - on my development machine, the python lint in Visual Studio Code is reporting the error: E0401:Unable to import 'iothub_client' on main.py.

I wonder if I'm missing a pre-requisite step, or is this just an advisory that can be ignored on the development side of things and it should be ok once deployed - or do I need to fix this error?

I've successfully run the previous tutorial and have temp

[2018-05-16 15:08] duncansmart opened #8702 "Email address not being passed and Manager ID not available to be mapped"
I have set up a SAML SSO between Azure AD an my web application successfully, but have 2 issues with claims/attributes issued:

* The email address is not being passed over (I get the UPN, but that isn't necessarily the same as the user's email address)
* There's no way to get the Manager ID passed over.

I've put a more lengthy explanation of the issue in the following StackOverflow question: htt

[2018-05-16 15:10] AldoSaucedo commented on #8586
Hi @MicahMcKittrick-MSFT ,
I did try with an image from a REST API .Net Core 1.1 and it worked perfectly.

Thanks for your help :) 👍

[2018-05-16 15:13] mdaghrir opened #8704 "Receiving a (403) Forbidden error message"
I followed the instructions to the T, but when I run the code I keep receiving the following error message :
Invoke-WebRequest : The remote server returned an error: (403) Forbidden.
The url and the token are received and displayed properly and I was able to pull the information using Azure Portal and the MS Graph Explorer.
Do you have any idea on what maybe the issue?

---
#### Document Details

[2018-05-16 15:15] nageshVutukuru opened #8705 "configuration problems with microsoft integration runTime"
after modifying the .config file still having trouble connecting Integration Service to ADF -
error : unable to connect to other intergration Runtime(Self-hosted) nodes,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2b8c6478
* C

[2018-05-16 15:16] dyslexicanaboko opened #8706 "Code example needs to be reviewed"
The full example is confusing for a few reasons:
1. The "dependencyTrackingModule" variable is not declared anywhere in the example, so calling Dispose() on it isn't possible.
2. The using block already calls Dispose() when the method "IntitializeDependencyTracking(...)" is called and is finished being used.
3. No matter what I do, the TelemetryClient object WILL NOT automatically pick up the inst

[2018-05-16 15:31] waheedhussain commented on #8545
hi....yes no problems.....any ETA on when the next iteration is due? as I refer to this document from the HLD that i am producing and its a mismatch for the readers....

many thanks

[2018-05-16 15:33] brushwood24 commented on #7753
Here's a somewhat simplified version of our ARM template that I think has all the relevant information.  The only thing a bit odd we are doing is putting the source database id in the template for the primary database.  This is because we use this same template to create a DR site, where the database is then created as a secondary.

`{
      "type": "Microsoft.Sql/servers",
      "kind": "v12.0",

[2018-05-16 15:39] rkyttle opened #8708 "armclient is referenced in the code example with no context of what it is or that it is an external dependancy"
Attempting to run the following Quickstart
https://docs.microsoft.com/en-us/azure/azure-policy/assign-policy-definition-ps

My first issue is with the code example for Get-AzureRmPolicyAssignment
I created a pull request to fix the issue, as the Where-Object references $_.Properties.DisplayName which is not valid.  My pull request changes this line to be $_.Name

Getting past this first issue, I a

[2018-05-16 15:49] irshad365 opened #8709 "Where to get the accountId ?"
Whats an account id in video indexer api? where to look for it? is it the email address which i used to login?

[2018-05-16 15:55] adpick commented on #7135
Addressed by PR #41369

#please-close

[2018-05-16 16:09] tamram commented on #5105
@dave-007 @julesman101 @MattMS - Thank you for your patience on this issue. It is part of a larger restructure that is happening for that content, and will be updated soon.

We are tracking this work and will post back on this issue when it is complete.

#please-close

[2018-05-16 16:15] SaurabhSharma-MSFT commented on #8704
@mdaghrir Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:19] SaurabhSharma-MSFT commented on #7104
@princepradapsingh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 16:19] #7104 closed

[2018-05-16 16:19] SaurabhSharma-MSFT commented on #7326
@dzimine We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 16:19] #7326 closed

[2018-05-16 16:26] rwike77 commented on #8007
@petertiedemann Hi, thanks for the feedback.  I agree, the flat list makes it hard to read and it's a lot of data..  Unfortunately, I don't think I'll be able to generate framed HTML documentation or an expandable tree structure.  I am working on breaking the single article up into multiple articles and improving the linking between types.  It may be several days, though.

[2018-05-16 16:29] kobulloc-MSFT commented on #8673
@agnimitra Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-16 16:29] kobulloc-MSFT commented on #8676
@pravinohal Thank you for the question!  We are investigating this and will get back to you shortly.

[2018-05-16 16:29] cybermohr opened #8710 "Correction to Script"
Missing a continue line in:

# Update database and set zone redundancy as false
az sql db update
	--resource-group myResourceGroup \
	--server $servername \
	--name mySampleDatabase \
	--zone-redundant false

Should be:

# Update database and set zone redundancy as false
az sql db update \
	--resource-group myResourceGroup \
	--server $servername \
	--name mySampleDatabase \
	--zone-redundant fals

[2018-05-16 16:30] lyyeh opened #8711 "Identifier documentation needs to be updated."
In the Identifier textbox, type a URL using the following pattern: https://weekdone.com/a/< tenant >/metadata

in addition the metadata file from weekdone can be retrieved with using the same URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2045fd47-0d78-4050-b41d-8e39f3d75252
* Version Independent ID: 833cff6a-5de0-

[2018-05-16 16:30] kobulloc-MSFT commented on #8706
@dyslexicanaboko Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-16 16:32] neilpeterson commented on #8680
@kargakis thanks for raising this issue. We have updated the doc with the workaround, which will publish this AM.

[code]

[2018-05-16 16:33] SaurabhSharma-MSFT commented on #8633
@rfsonders Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:34] SaurabhSharma-MSFT commented on #8642
@kristopherjturner Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:36] SaurabhSharma-MSFT commented on #8668
@jamesbascle Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:36] rboucher commented on #8545
No ETA at this point, but your comment is pushing the issue to change it sooner rather than later. I hear you about the mismatch.  Do you have an alertnate diagram you use in your HLD? Curious. You can contact me at robb at microsoft.com

[2018-05-16 16:36] rboucher commented on #8545
@femsulu You can close this issue.

[2018-05-16 16:39] Adam-Smith-MSFT commented on #8600
I'd recommend the following:

Check the troubleshooting guide available in this link: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting
If you are still experiencing the same issue,  please open an issue here: https://github.com/Microsoft/AzureStorageExplorer/issues

Enabling logging can be done using the following steps:https://support.microsoft.com/en-us/help

[2018-05-16 16:39] #8600 closed

[2018-05-16 16:41] Adam-Smith-MSFT commented on #8544
@oxxa you can open an issue in the following repo: https://github.com/Microsoft/AzureStorageExplorer/issues

I'll go ahead and close this issue to avoid duplicates.

[2018-05-16 16:41] #8544 closed

[2018-05-16 16:43] SaurabhSharma-MSFT commented on #8681
@alex-dokienko Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:44] curtand commented on #8551
Hi @SychevIgor
I opened a backlog work item for this and I am taking it to the PM. We'll prioritize the item, but it will get done.

[2018-05-16 16:45] femsulu commented on #8545
@waheedhussain, We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-16 16:45] #8545 closed

[2018-05-16 16:45] mrbullwinkle commented on #6988
@d3r3kk Can you provide a link to the article/paragraph you want updated. The issue is currently pointing to the doc that mainly talks about Status Monitor and I am not finding references to GeoIP and location reliability. We currently mention/link to GeoLite2 in 3 of the App Insights docs, but I agree if we are talking about reliability of location based tracking elsewhere in the docset we should

[2018-05-16 16:47] curtand commented on #8490
Hi @JoelHazelton ,
Thanks for your interest and your suggestion. I am opening a backlog work item for this and bringing it to my PM. We will prioritize it to determine when, but it's an excellent suggestion and it will be added.

[2018-05-16 16:48] femsulu commented on #8699
@dresdor, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-16 16:51] SaurabhSharma-MSFT commented on #8672
@DOliana Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:53] SaurabhSharma-MSFT commented on #8677
@hydrogen2oxygen Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 16:54] akramwaseem commented on #8589
@MGoedtel -- I looked at the document and seems like a bit complicated for starters.
Lets say , I have a log analytics workspace which is already deployed with a template and some alerts.I am wondering whether I can configure it to collect kern log and local7 logs using the above mentioned examples.  Let me give it a try and see how it goes.

[2018-05-16 16:54] rboucher commented on #5714
@liangqin12354 You there?

[2018-05-16 16:55] rboucher commented on #5942
@whytoe Just checking in again.

[2018-05-16 16:58] ghogen commented on #8699
@dresdor We're investigating now.

[2018-05-16 16:58] MicahMcKittrick-MSFT commented on #8674
@ArtemProc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-16 16:59] MicahMcKittrick-MSFT commented on #8675
@gopalvithal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-16 17:02] SaurabhSharma-MSFT commented on #8685
@pgarm Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-16 17:07] SaurabhSharma-MSFT commented on #8692
@rraugusto Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-16 17:09] SaurabhSharma-MSFT commented on #8702
@duncansmart Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-16 17:14] Adam-Smith-MSFT commented on #8610
@bingosummer I assigned the case to the author to see if they can add the requested documentation, I couldn't find any specifics about it in public documentation

[2018-05-16 17:15] pgarm commented on #8685
I've been investigating this on my own, and was able to pull the URL from the metadata.xml.
It is almost as in the screenshot, just needs tenant id (GUID)/saml2 to replace the shaded part. Would be grand to have this reflected in the doc.

[2018-05-16 17:16] YutongTie-MSFT commented on #8693
@dem108 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rastala Hi, this issue is about doc-enhancement relative to GPU usage, can you please help and update the document as necessary? Thanks a lot!

[2018-05-16 17:19] nzregs opened #8712 "container-to-host port mapping"
the docs here describe the container-to-host port mapping procedure in the manifest, but to successfully publish an internet-facing application on service fabric you also need to configure load balancer rules for the cluster. Perhaps a note + link to the create load balancer rule reference pages would be useful here https://docs.microsoft.com/en-us/azure/service-fabric/create-load-balancer-rule

-

[2018-05-16 17:28] femsulu commented on #8684
@Anmolgan81  Thanks for your question. This has been shared with the content owner to review and provide an answer. Please stay tuned.

[2018-05-16 17:37] Thee-Code-Dragon commented on #7790
I don't see an option at for Web + Mobile under portal, Which is weird, If I select the Web option the only thing I see to create an ASE in existing VNET but I do not see any VNET configurations for VIP.

Any one experiencing this issue?

[2018-05-16 17:41] Thee-Code-Dragon commented on #7790
NVM looks like its because of the ASE versions on newer ASE option is missing to configure VIP

[2018-05-16 17:50] femsulu commented on #8682
@luyaok, Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-16 17:51] szinck1 opened #8714 "Enable CI/CD with ARM template"
Is it possible to enable CI/CD within an ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a053a774-e0e7-e7c7-8a08-7244cb0f058d
* Version Independent ID: 7acef172-4c69-6502-d506-c8c3ef13a1c1
* Content: [Continuous deployment from a Docker container registry with Web App for Containers - Azure](https://docs.m

[2018-05-16 18:01] MohitGargMSFT commented on #8520
@mdittakavi We will now proceed to close this thread. If there are other feedback related to document, please open a new issue and we will gladly work on it.

[2018-05-16 18:01] #8520 closed

[2018-05-16 18:01] kgremban commented on #8466
@epocket Interesting error that you found. Were you running iotedgectl setup on a virtual machine or a physical computer?

[2018-05-16 18:02] philon-msft commented on #8699
@dresdor, the repo should be available now. Please let us know if you still have any trouble accessing it.

[2018-05-16 18:02] MohitGargMSFT commented on #8573
@NickDorak We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.