[2018-08-06 16:01] Mike-Ubezzi-MSFT commented on #12818
@shiwaniB There are a couple avenues you can take:

Make an enhancement request for this functionality: [Azure Service Bus User Voice](https://feedback.azure.com/forums/216926-service-bus)

Redirect your question the [MSDN Azure Service Bus Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=servbus&filter=alltypes&sort=lastpostdesc) to solict feeedback and code samples.

Regards,
Mik

[2018-08-06 16:06] Karishma-Tiwari-MSFT commented on #12559
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 16:06] #12559 closed

[2018-08-06 16:07] Karishma-Tiwari-MSFT commented on #12828
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 16:07] #12828 closed

[2018-08-06 16:08] Mike-Ubezzi-MSFT commented on #12773
@ArneVlietinck You can make feature and enhancement request through the [Azure IoT Edge User Voice forum](https://feedback.azure.com/forums/907045-azure-iot-edge). Please navigate to the User Voice to make a recommendation.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Regards, Mike

[2018-08-06 16:08] #12773 closed

[2018-08-06 16:09] sergaz-msft commented on #12917
@murdockcrc Thanks for the feedback! We will fix this.

[2018-08-06 16:12] Mike-Ubezzi-MSFT commented on #12774
@ArneVlietinck @kgremban There is currently an [Azure IoT Edge User Voice](https://feedback.azure.com/forums/907045-azure-iot-edge) request to have the ability to run more than 10 modules. Please up vote this and add feedback, as the product group is currently requesting feedback. Regards, Mike

[2018-08-06 16:28] Dc9894 opened #12950 "Is the sample script comment wrong?"
The following comment and comments state that the OS type should be changed to Linux (if the OS disk has Linux OS), but the command in the code the OS type is already ```-Linux``` Shouldn't it be ```-Windows``` in the code, so that the comment would make sense?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f

[2018-08-06 16:34] sergaz-msft commented on #12917
@dominicbetts please can you have a look at the doc and fix the links? Some other links in the doc are not working as well: looks like some of the links have a "_" before the hyperlink.

Thanks

[2018-08-06 16:34] Netdoc41 opened #12951 "VMType"
Also need more detail on what values to put in VMType.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301b44e3-4be7-6364-01b4-c2a55ff9b14a
* Version Independent ID: 62569967-65c6-ece6-2d1e-689a73dd59ca
* Content: [Kubernetes on Azure - Cluster Autoscaler](https://docs.microsoft.com/en-us/azure/aks/autoscaler#)
* Conten

[2018-08-06 16:38] douglaslMS commented on #12453
@djpmsft Daniel, have you discovered anything more about this issue? Thanks.
cc @vthokie93

[2018-08-06 16:39] Karishma-Tiwari-MSFT commented on #12951
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:40] Adam-Smith-MSFT commented on #12665
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 16:40] #12665 closed

[2018-08-06 16:40] #12812 closed

[2018-08-06 16:41] Karishma-Tiwari-MSFT commented on #12950
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:42] sakthivetrivel commented on #12951
@Netdoc41 the VMType when using Azure Services is either AKS or ACS. Since this tutorial is for AKS, we use the base64-encoded of AKS, which is QUtTCg== and already filled in the secret generated by the bash script. Let me know if you have any further questions!

[2018-08-06 16:42] #12896 closed

[2018-08-06 16:43] sakthivetrivel commented on #12924
@paulmackinnon-adv365 Thank you for your feedback!

[2018-08-06 16:43] Adam-Smith-MSFT commented on #12833
@ilyas-it83 Could you provide us with the documentation link you were referring to ?

[2018-08-06 16:44] jason-j-MSFT commented on #12921
@pvrk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:44] Karishma-Tiwari-MSFT commented on #12944
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:44] sakthivetrivel commented on #12519
@abizake The current support of the Cluster Autoscaler in AKS is only on the agent nodes and not in the control plane. However, because the cluster autoscaler is deployed in the kube-system namespace, it will not be relocated by the cluster autoscaler in the case of scale down. Let me know if you have any further questions!

[2018-08-06 16:45] Karishma-Tiwari-MSFT commented on #12943
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:45] YutongTie-MSFT commented on #12949
@lovingpizza Hi, thanks for your feedback here. We will investigate and get back to you as noon as possible.

[2018-08-06 16:46] Karishma-Tiwari-MSFT commented on #12940
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:47] Karishma-Tiwari-MSFT commented on #12939
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:48] YutongTie-MSFT commented on #12927
@timobehrens Hi, thanks for your feedback here. I have assigned the author to update the document properly.

@v-jerkin Hi, this is a document bug, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-06 16:48] Karishma-Tiwari-MSFT commented on #12929
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:49] Karishma-Tiwari-MSFT commented on #12925
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:49] rolyon commented on #12382
Hi @thuansoldier,
Let me know if you have additional feedback.
#please-close

[2018-08-06 16:49] sergaz-msft commented on #12910
Hi @Norman03 , in this context "Back-end operations" are any service requests to Azure IoT Hub by your back end application. The back end application can live in the cloud or in the edge.

Have a look [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks) for a better understanding on the difference between Service and Device on Azure IoT Hub scope:

**Device SDKs** enable yo

[2018-08-06 16:50] sergaz-msft commented on #12910
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-06 16:50] #12910 closed

[2018-08-06 16:50] rolyon commented on #12724
Hi @thuansoldier,
Let me know if you have additional feedback.
#please-close

[2018-08-06 16:52] YutongTie-MSFT commented on #12919
@stenoid Hi, thanks for your feedback here. I will investigate it and get back to you as noon as possible.

[2018-08-06 16:52] Karishma-Tiwari-MSFT commented on #12912
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 16:52] curtand commented on #9123
#please-close

[2018-08-06 16:52] sergaz-msft commented on #12918
Closing as a duplicate of #12917

[2018-08-06 16:52] #12918 closed

[2018-08-06 16:54] Mike-Ubezzi-MSFT commented on #12900
@griff182uk Are you following this tutorial verbatim or are you adding additional steps that are specific to your solution? This tutorial has no issue when every step is followed per the documentation. So, I wish to identify which steps deviated from the documentation, or if there is some steps that were missed, etc.
Regards,
Mike

[2018-08-06 16:57] Szeraax opened #12952 "Missing version number"
"Important

For Azure Active Directory (AAD) Connect deployment with version or higher, use the troubleshooting task in the wizard to troubleshoot object synchronization issues."

I believe that it should have a specific version listed in this information box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8173ae36-307

[2018-08-06 16:57] Mike-Ubezzi-MSFT commented on #12911
@grzlyD Thanks for the feedback! I have assigned the issue to the Cosmos DB Emulator dev lead to evaluate and update as appropriate.

[2018-08-06 16:59] Mike-Ubezzi-MSFT commented on #12936
@htoma Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-06 17:01] jason-j-MSFT commented on #12946
@rakeshramk thanks for the feedback.  Could you provide a link to the document you are referring to?

[2018-08-06 17:03] sdecker commented on #12801
So with General Purpose. I can expect downtime each month when you patch the server because General Purpose use one VM? Given description I expect
- Azure will standup a new VM that has patched OS and SQL
- stop SQL on the old VM
- Detach data and log drives from old VM
- Attach data and logs on new VM
- Start SQL

So if a SQL instance fails or is patched what downtime can I expect in seconds/minu

[2018-08-06 17:04] sdecker commented on #12801
Also, closing this item after 1 business day is not appropriate.

[2018-08-06 17:07] sdecker commented on #12803
I have read every single docs page for Manage Instances. The reason I opened this issue is because the docs don't address my specific question. This case has been closed without answering my two very specific questions.

[2018-08-06 17:08] Karishma-Tiwari-MSFT commented on #12947
@Netdoc41 Thanks for your valuable feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-06 17:14] rakeshramk commented on #12946
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-end-to-end-ssl-powershell

[2018-08-06 17:14] Adam-Smith-MSFT commented on #12914
@ramicodes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-06 17:17] Adam-Smith-MSFT commented on #12920
@manmohan556 I'd recommend posting the case in either MSDN:https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata  or StackOverflow for further troubleshooting of the performance, since this could be a networking issue, environment issue, etc... Github issues are mainly related to documentation/instructions issues.

[2018-08-06 17:18] Mike-Ubezzi-MSFT commented on #12801
@sdecker Azure SQL Database is offered as: IaaS, PaaS, and SaaS. Are you looking for Managed Instance, as it wasn't too clear? And yes, both the SaaS and PaaS offerings include seamless updates, as both services are always running the latest version of the product.

So, I am trying to point you in the right direction so that you can find the information that is pertinent to your needs. This channe

[2018-08-06 17:19] porrascarlos802018 opened #12953 "regions needs to be updated perhaps"
i just had a customer on west us2 and says he has availability zones

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](https://docs.microsoft.com/en-us/azure/availability-zone

[2018-08-06 17:25] TravisCragg-MSFT commented on #11913
@tvdvoorde We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-06 17:25] #11913 closed

[2018-08-06 17:25] sdecker commented on #12802
I'm referring to
https://azure.microsoft.com/en-us/pricing/details/sql-database/managed/ and
https://azure.microsoft.com/en-us/pricing/calculator/.

On Thu, Aug 2, 2018 at 6:57 PM Adam-Smith-MSFT <notifications@github.com>
wrote:

--
--- "The obscure we see eventually, the completely apparent takes longer"
---- Edward R. Murrow

[2018-08-06 17:27] adpick commented on #12915
Hi Carlos,

Did you check out [this doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/grant-access-to-create-subscription?tabs=rest) on delegating create access to service principals? I believe the steps outlined there are sufficient to allow the service principal to create subscriptions, and we already link to that doc in the prerequisites.

Let me know if you find differently, o

[2018-08-06 17:27] SaurabhSharma-MSFT commented on #9123
@gutjahr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 17:27] #9123 closed

[2018-08-06 17:27] priyamohanram commented on #9451
Thanks for reporting this! The reference docs have been deleted and re-pointed to the Graph API reference, and the feature [landing page](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-azure-portal) has the licensing requirements.

Please feel free to re-open the issue if you have any further concerns.

#please-close.

[2018-08-06 17:31] Karishma-Tiwari-MSFT commented on #12832
@iMartyn
Thanks for bringing this to our attention. As you pointed out, this bug is being worked on and fix will be released soon. You will get updates [here](https://github.com/kubernetes/autoscaler/issues/1105#issuecomment-410578049). We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 17:31] #12832 closed

[2018-08-06 17:33] Karishma-Tiwari-MSFT commented on #12885
@ddobric  Any updates?

[2018-08-06 17:33] femsulu commented on #12938
@Dfintz Thanks for the comment. Your feedback has been shared with the content owner for further review. please expect an update soon.

[2018-08-06 17:34] georgewallace commented on #12938
@Dfintz Thank you for your feedback. I have reached out to the team that owns this solution and am providing your feedback

[2018-08-06 17:34] kobulloc-MSFT commented on #6764
@pauliandraper Thank you for pointing this out.  @miaojiang has this on their backlog, and will get to it as soon as they are able.

[2018-08-06 17:34] SaurabhSharma-MSFT commented on #12931
@ChenRahimi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-06 17:37] SaurabhSharma-MSFT commented on #12934
@ltaljaard Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-06 17:39] antogh commented on #12074
Hi @Tho3as
I tried to run the app and check for the warning you mentioned but everything in fabric:/System/ClusterManagerService  is clean, no warning or errors.
However when I try to call the backend service I just keep getting the exception:
WinHttpException: The server name or address could not be resolved
Let's wait for someone from the team to clarify.

[2018-08-06 17:39] Netdoc41 commented on #12951
Nope, I just figured that out. I was going back and forth between different sets of directions. One site talks about what you put there differing. In deploying i was getting VMSS errors which i didnt think i did. So now that i decoded what the above example is. i noted its AKS

[2018-08-06 17:40] SaurabhSharma-MSFT commented on #12935
@tbebekis Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-06 17:40] SaurabhSharma-MSFT commented on #12937
@hmizael Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-06 17:42] SaurabhSharma-MSFT commented on #12948
@aherrick Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-06 17:42] khojinindia1 opened #12955 "good to read!!!"
&lt;a href='https://www.khojinindia.com'&gt;This is one of those landmark posts that's going to be referenced for years  thank-you for sharing &lt;/a&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db30a5c4-452c-02ae-b610-018e2bb042fb
* Version Independent ID: 459aa1c1-fd5f-f6e1-3244-6bfbb2abd67f
* Content: [Add B2B

[2018-08-06 17:42] SaurabhSharma-MSFT commented on #12952
@Szeraax Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-06 17:44] Karishma-Tiwari-MSFT commented on #12951
@Netdoc41
Glad you were able to figure it out. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 17:44] #12951 closed

[2018-08-06 17:45] Mike-Ubezzi-MSFT commented on #12801
@sdecker

[Managed Instance service tiers](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#managed-instance-service-tiers)

Managed Instance is available in two service tiers:

**General Purpose:** Designed for applications with typical availability and common IO latency requirements.
**Business Critical:** Designed for applications with high availability and low

[2018-08-06 17:45] kobulloc-MSFT commented on #12916
@kishoregithub1 It looks like your question has been answered (thank you, @mrbullwinkle !), so we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-06 17:45] #12916 closed

[2018-08-06 17:45] MarileeTurscak-MSFT commented on #12922
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-06 17:47] marekr commented on #12933
Hah turns out what the Portal shows the 60 day renewal time based on strange logic.

Me:
![image](https://user-images.githubusercontent.com/1838013/43732248-1671a30e-997f-11e8-826d-5a007e9cfdaf.png)

vs. azure support guy

![image](https://user-images.githubusercontent.com/1838013/43732257-240ab67c-997f-11e8-8fd3-61be42afb74f.png)

So errr, the documentation would be a nice place to bury it outsid

[2018-08-06 17:50] Mike-Ubezzi-MSFT commented on #12801
Continued....

[Managed Instance administration features](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#managed-instance-administration-features)

Adding details with regard to the Administrative stuff that is taken care of by Azure SQL Managed Instance.

[2018-08-06 17:54] femsulu commented on #12579
@jkallenbach I was able to confirm that underscores are definitely allowed in the RG names. It's likely you may have an older version of the solution. I recommend removing and re-installing the solution using [these step](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management#update-the-solution).

[2018-08-06 17:56] BryanTrach-MSFT commented on #12933
@marekr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 17:59] sdecker commented on #12801
What do you define as "Typical availability"?

What is the clarification to the following questions?

So with General Purpose, I can expect downtime each month when you patch
the server because General Purpose use one VM? Given description I expect

   - Azure will standup a new VM that has patched OS and SQL
   - stop SQL on the old VM
   - Detach data and log drives from old VM
   - Attach data

[2018-08-06 17:59] jason-j-MSFT commented on #12953
@porrascarlos802018
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 17:59] kobulloc-MSFT commented on #12563
@prayshe This is exactly what the documentation is for :)

For creating VMs using Azure DevTest Labs Tasks and Visual Studio Team Services:
https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-integrate-ci-cd-vsts

For more information about creating VMs in general:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

There's a lot of good information about setup using the

[2018-08-06 18:00] BryanTrach-MSFT commented on #12941
@martin77s Always on is similar concept to idleTimeout but it is not exactly the same. Always on directs a HTTP request to the root of your site every 5 minutes in order to keep your site warm. If you require to keep your site warm, we suggest turning on always on in order to ensure that the first page load of your site is responsive.

We will now proceed to close this thread. If there are further

[2018-08-06 18:02] rthorn17 commented on #11291
Hi @the-chad-at-ms  There is a section on the overview doc that talks about this now, Thanks. https://docs.microsoft.com/en-us/azure/azure-resource-manager/management-groups-overview#important-facts-about-the-root-management-group

[2018-08-06 18:02] BryanTrach-MSFT commented on #12930
@mortenbock Thanks for the feedback!

Are you able to close your browser out completely and try to load the page again? The portal makes heavy use of browser caching in order to provide a responsive experience.

[2018-08-06 18:09] cforbe commented on #11089
Hi @DinoSourcesRex, the script-based data flow was through the UI. There's work being done to do it through the sdk

[2018-08-06 18:10] BryanTrach-MSFT commented on #12941
@martin77s After rereading your post, I see you are more concerned about the accuracy of the doc statement rather than how to ensure your site always stays warm.

As a result, I have assigned @cephalin, the doc author, to take another look at this to see if the doc should be clarified.

[2018-08-06 18:11] Mike-Ubezzi-MSFT commented on #12801
@sdecker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. I hope I have the product related questions answered and will forward this on to the content author to make the doc-enhancements you are recommending. Thank you!

[2018-08-06 18:13] TravisCragg-MSFT commented on #12501
@kamellemann to troubleshoot this further, can you please Email AzCommunity@Microsoft.com with your subscription ID, App Service Name, and VNET Name? This could not be functioning properly, and I want to double check your configurations.

[2018-08-06 18:14] strimpak opened #12956 "Deleting service and a creating a new one with the same loadbalancerIP has faulty behavior"
I had created a service (replaced actual static ip with a.b.c.d) and everything worked fine.
I deleted the service and recreated and the service seems to be healthy but no traffic forwarded to the pods. The same issue I faced by deleting namespace and recreating.
:

Name:                     app-name-svc
Namespace:                dev
Labels:                   &lt;none&gt;
Annotations:

[2018-08-06 18:21] Mike-Ubezzi-MSFT commented on #12803
@sdecker So, in looking in this, there is no way to pause an Azure SQL Managed Instance. There is the [SQL Database FAQ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-faq) document which explains some of the options in terms of scaling your instance up/down but, there is no option to pause (such is the case with Azure SQL Data Warehouse).

The other item you are looking for is r

[2018-08-06 18:24] #12955 closed

[2018-08-06 18:28] TravisCragg-MSFT commented on #12946
@rakeshramk Thanks for the feedback.

      1. you can use 1 cert per backend server, or you can use 1 cert for all of them.

      2. I am unsure how it matches a certificate with a backend server, but I will find out and get back to  you.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-06 18:31] Alberto-Vega-MSFT commented on #12623
Referencing GitHub [#16](https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started/issues/16)

[2018-08-06 18:32] waltmatthews commented on #12826
Having the same issue as described above following the instructions above which included the generation of the certificates.   Error with openssl tested both locally and using a remote device.   "Verify return code: 21 (unable to verify the first certificate)".

[2018-08-06 18:32] jeevansd commented on #12935
@chetansriv  and @v-viinde Can you please take a look at this article and make the appropriate changes?

[2018-08-06 18:33] ArneVlietinck commented on #12774
For the moment 20 modules are supported see [Azure IoT Edge User Voice](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/33583447-iot-edge-module-deployment-limit).

[2018-08-06 18:35] sdecker commented on #12803
Thank you. That is what I was afraid of.

On Mon, Aug 6, 2018 at 2:21 PM Mike Ubezzi <notifications@github.com> wrote:

--
--- "The obscure we see eventually, the completely apparent takes longer"
---- Edward R. Murrow

[2018-08-06 18:38] SaurabhSharma-MSFT commented on #12811
@mdittakavi I have assigned this issue to content author to investigate and update the document as appropriate.
@asmalser-msft Can you please update the documentation if 'Workday' profile pictures can be synced with Azure AD.

[2018-08-06 18:40] TravisCragg-MSFT commented on #12944
@lastcoolnameleft I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-06 18:41] kgremban commented on #12418
@rcoccia Here's the answer that I got:

_Cloud-to-module messages are not supported in Azure IoT Edge. IoT Hub however seems to have partial support for this. In my test, I was able to receive a cloud-to-module message over MQTT but not over AMQP._

Until it's officially in preview or supported in IoT Edge, I won't be documenting this capability in our docs. But good sleuthing on your part to find

[2018-08-06 18:43] Alberto-Vega-MSFT commented on #12638
@jrowlandjones  The link to the Data Warehouse Migration Tool in the blog post [Migrating data to Azure SQL Data Warehouse in practice](https://blogs.msdn.microsoft.com/sqlcat/2016/08/18/migrating-data-to-azure-sql-data-warehouse-in-practice/) is broken so I reported the issue to the owner of the blog post so it gets fixed. In the meantime the customer needs to know what is the working and support

[2018-08-06 18:44] marekr commented on #12933
@BryanTrach-MSFT To also add....the renewal occured more than 60 days ahead now that I look at it. The existing certificate expires Wed, 31 Oct 2018 18:43:01 UTC

 The renewal was done on August 3rd.
60 days would have been September 1st.

So even the 60 days number is wrong......

[2018-08-06 18:45] jeevansd commented on #12935
@tbebekis When you have added the application from the gallery then the application should have 3 years valid certificate. You should able to see that in the Certificate section on the Single sign-on page. If you are not seeing this then please create the new certificate and then make that new certificate active by clicking on the checkbox below.

You are right on the WS-Fed endpoint. You need to

[2018-08-06 18:45] TravisCragg-MSFT commented on #12950
@Dc9894 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@ramankumarlive I am unable to edit the PowerShell script that contains the error, otherwise I would make the change.

[2018-08-06 18:46] TravisCragg-MSFT commented on #12943
@pmatthews05 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-06 18:47] cmendible commented on #12915
Hi @adpick, yes I did, and making the SP owner of the enrollment account is not enough. I found this issue while automating the subscription creation for a client. When using Azure CLI if the SP does not have the **'Directory Readers'** role the command will fail as described above.

I think the CLI command attempts to perform some validation on the owner-upn or owner-spn provided and therefore th

[2018-08-06 18:47] TravisCragg-MSFT commented on #12939
@georgeslegros Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-06 18:48] MohitGargMSFT commented on #12751
@Aleksanderis Please note that as stated in the document I provided that - The vhd containers property is also removed, along with the OS disk name property as these properties are automatically handled under the hood by managed disk. You could add "managedDisk": { "storageAccountType": "Premium_LRS" } in the "osDisk" configuration if you wanted premium OS disks.

By default all values you see are

[2018-08-06 19:00] TravisCragg-MSFT commented on #12929
@MarkTopping [The Kubernetes Service Address Range is IP Addresses that Kubernetes exposes to use it's services](https://kubernetes.io/docs/concepts/services-networking/service/). These are not the IP Addresses of the physical machines that Kubernetes creates.

the IP Address range should be within your VNET, but not within the ranges where your cluster can deploy. Using the description of the doc

[2018-08-06 19:07] TravisCragg-MSFT commented on #12912
@kazshi to view extensions on an ARM VM in Azure, you can navigate to the VM in the Portal, and select "Extensions" from the left menu. Any extensions on the VM will show up.
![image](https://user-images.githubusercontent.com/38542241/43736053-39b44e42-9971-11e8-8355-8b844dcb925e.png)

You can then select an extension that you would like to uninstall, and select "Uninstall" at the top of the blade

[2018-08-06 19:07] #12912 closed

[2018-08-06 19:07] ggailey777 commented on #11052
I can't determine the issue without more information from the customer. #please-close

[2018-08-06 19:08] ltaljaard commented on #12934
@SaurabhSharma-MSFT Thanks - could you kindly let me know the outcome? This is pretty much a showstopper for us. Any idea how long it will take to get an answer?

[2018-08-06 19:10] MicahMcKittrick-MSFT commented on #11753
@lachie83 any additional thoughts on this one? I think we should figure out how to go about this an then update the doc to reflect that information.

[2018-08-06 19:10] MicahMcKittrick-MSFT commented on #11753
@lachie83 any additional thoughts on this one? I think we should figure out how to go about this an then update the doc to reflect that information.

[2018-08-06 19:10] ggailey777 commented on #11338
@jrichview thanks for the detailed explanation. I will find out from the product team what is the best way to enable App Insights when publishing from Visual Studio.

[2018-08-06 19:11] femsulu commented on #12716
@ghogen , can you please confirm if this is expected?

[2018-08-06 19:11] MicahMcKittrick-MSFT commented on #11947
@nyenggyang I will close this for now. Please go ahead and email me at the address I mentioned in my last comment and we can take it from there.

[2018-08-06 19:11] #11947 closed

[2018-08-06 19:12] MicahMcKittrick-MSFT commented on #12362
@TomArcher any luck with the engineering team on this one?

[2018-08-06 19:12] marekr commented on #12933
@BryanTrach-MSFT 118080618729725

I need the certificate for its original expiry date (as I'm migrating to AKS with Lets Encrypt). Unfortunately it seems to replace the original one with no recourse.

[2018-08-06 19:14] meganbradley opened #12958 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7f9ebab-55d5-7f1d-53d4-b09e3e5872ee
* Version Independent ID: 2e50aec5-881e-db9d-3162-e0a2ec53ff2f
* Content: [Azure Quickstart - Back up a VM with PowerShell](https://docs.microsoft.com/en-us/azure/backup/quick-backup-vm-powershell)
* Content Source: [articles/backu

[2018-08-06 19:33] anrothMSFT commented on #12869
When creating a project for the first time, set the domainId you prefer: https://southcentralus.dev.cognitive.microsoft.com/docs/services/d0e77c63c39c4259a298830c15188310/operations/5a59953940d86a0f3c7a8290

You can also update your project with UpdateProject, with a new domain.:
https://southcentralus.dev.cognitive.microsoft.com/docs/services/d0e77c63c39c4259a298830c15188310/operations/5a59953940

[2018-08-06 19:33] ggailey777 commented on #11618
@jrichview you again highlight a particular challenge for our documentation. Namely, that there are various modalities for publishing function code (portal/Visual Studio/Core Tools/CI), and only Core Tools provides a way to [publish setting from local.settings.json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#publish) (`--publish-local-settings -i`). It makes me wond

[2018-08-06 19:34] atiq-cs commented on #12514
Most probably I tried `Microsoft.Azure.DocumentDB` with .net core application at my first attempt to build and got some errors.

[2018-08-06 19:36] andrepodnozov commented on #5878
yes I'm still experiencing this issue.

[2018-08-06 19:40] barbkess commented on #7269
@dcbrown16 : I appreciate you checking back with me. Yes, I have a new tutorial on single sign-on that is going to publish probably tomorrow, and I'm rewriting the single sign-on article that you are specifically asking about.  I'll let you know when it gets published.

[2018-08-06 19:41] ggailey777 commented on #12939
Thanks @georgeslegros this look like another v1/v2 issue in our references. I will investigate this.

[2018-08-06 19:42] jeffpatton1971 commented on #12163
It seems that suggestign the use of armclient that is downloaded via chocolatey is not really the way we'd like to see our toolset going. It feels as though there is a gap in the powershell here, there are no commands around removing backup items, which is obviously helpful, nor is there  a way to force the delete of a vault via powershell's remove-azurermrecvoeryservicesvault. Mike, perhaps you c

[2018-08-06 19:44] #9451 closed

[2018-08-06 19:45] MohitGargMSFT commented on #12760
@gogbg Thank you for providing additional context.

@TomShinder Please help with more information regarding EnrollmentAccount.

[2018-08-06 19:46] MohitGargMSFT commented on #12813
@CraigHumphrey We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-06 19:47] vbadri commented on #12826
I am stuck with the error even on the local machine, despite (i) clearing out the stored keys as recommended by @johnscheur, and doing the verification step

[2018-08-06 19:48] vbadri commented on #12826
openssl s_client -connect localhost:8883 -CAfile certs/azure-iot-test-only.root.ca.cert.pem

returns

CONNECTED(00000003)
depth=2 CN = edge00001
verify error:num=24:invalid CA certificate
---
Certificate chain
 0 s:/CN=edge00001
   i:/CN=iotedged workload ca
 1 s:/CN=Azure IoT Hub Intermediate Cert Test Only
   i:/CN=Azure IoT Hub CA Cert Test Only
 2 s:/CN=edge00001
   i:/CN=Azure IoT Hub Interme

[2018-08-06 19:49] griff182uk commented on #12900
Thanks Mike, followed the tutorial (I hope) and the only thing I can see different is the region (I have to use West Europe for my MSDN sub), and just slightly different server name for uniqueness.
I've attached screenshot of code ran and architecture in case something obvious jumps out at you. Cheers
![pdwscreenshot](https://user-images.githubusercontent.com/16266964/43737633-d7ee056a-99b9-11e8-9

[2018-08-06 19:50] jrichview commented on #11618
That sounds like an excellent idea to me. It definitely can be confusing when different publishing methods have different capabilities. That might help someone choose how to go about it.

From: Glenn Gailey <notifications@github.com>
Sent: Monday, August 6, 2018 3:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jrichview <jrichview@outlook.com>; Mention <mention@noreply.gith

[2018-08-06 19:52] JasonWHowell commented on #10845
@danrosg I think you are correct. So is the correct you propose?
[code]

[2018-08-06 19:52] MohitGargMSFT commented on #12922
@Castermeek Thanks for reporting! I have assigned the issue to localization team contact to investigate and update as appropriate.

[2018-08-06 19:53] MicahMcKittrick-MSFT commented on #12956
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 19:55] BryanLa commented on #11125
@AdityaTulasi @FabianGCZ - thanks very much for reporting this. The CLI code block has been fixed, and will be republishing within the next 24 hours.

#please-close

[2018-08-06 19:57] TravisCragg-MSFT commented on #12771
@jdogg89 Standard Load Balancers with AKS will be enabled with AKS 1.11, which should be coming in a few weeks.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#sig-azure

[2018-08-06 20:08] tony-gutierrez opened #12960 "Should probably mention that this kills "Log streaming""
When enabling local cache, the log stream in the portal ceases to provide real time logging of node trace logs. OCCASIONALLY it will do delayed logging, but it isn't consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3875bb58-b3bb-d12c-9e8f-6a60ac7fb49b
* Version Independent ID: 9bb25e56-90de-4a2f-389d-40e983a1

[2018-08-06 20:16] Mike-Ubezzi-MSFT commented on #12900
@griff182uk I am able to reproduce this. I worked that last time I completed this tutorial. I have assigned the issue to the content author to evaluate and update as appropriate.

EXTERNAL TABLE access failed due to internal error: 'Error occurred while accessing HDFS: Java exception raised on call to HdfsBridge_Connect. Java exception message:
Parameters provided to connect to the Azure storage a

[2018-08-06 20:24] wibjorn commented on #7385
A good idea would be to make the Customize Experience > URL into actual links.

[2018-08-06 20:28] Karishma-Tiwari-MSFT commented on #12925
@erosinger When using the Docker command line to push images, you can authenticate to a given registry by running 'docker login DOCKER_REGISTRY_SERVER --username=DOCKER_USER --password=DOCKER_PASSWORD --email=DOCKER_EMAIL'. That produces a ~/.dockercfg file that is used by subsequent 'docker push' and 'docker pull' commands to authenticate to the registry.

When creating applications, you may have

[2018-08-06 20:30] JasonWHowell commented on #10845
@danrosg I checked with the original developer, and the code is meant to check for empty docsWithSentiment, but the comment is a little confusing. We'll change the comment to better explain the intent.

// Placeholder value to display when unable to perform sentiment request for text in unknown language

The issue is that an unknown language
1. With the presence of language as an input parameter,

[2018-08-06 20:34] vhorne commented on #11901
#please-close

[2018-08-06 20:34] TravisCragg-MSFT commented on #11901
@frehnejc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-06 20:34] #11901 closed

[2018-08-06 20:45] chetansriv commented on #6939
@jeevansd TopDesk Team is not responding with confirmation on this change. I have sent another reminder today. We'll make the change once they confirm the same.

[2018-08-06 20:47] chetansriv commented on #7136
@jeevansd Yes, this article was updated.

#Please-close

[2018-08-06 20:49] jeevansd commented on #6939
@chetansriv I know the private key certificate is not needed so please update the screenshot and sentence in the article.

[2018-08-06 20:51] SaurabhSharma-MSFT commented on #12884
@peirens-bart You need to pass the property as a collection for any of the three types of token supported - ID token, access token, SAML 2 token.  So, if you want to add "nickname" to **idtoken** token type you can add it like as below -
[code]
Please refer to [Configuring optional claims](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configuring-

[2018-08-06 20:52] kgremban commented on #12774
@ArneVlietinck Thanks for pointing that out. I've asked for the portal to be updated to the new limit, 20, and clarified that the limit does _not_ include the runtime modules. So it's $edgeHub, $edgeAgent, and then 20 of your own.

If we've been able to answer your questions sufficiently, please close this issue. Otherwise, let me know how else I can help.

[2018-08-06 20:54] jmarberg commented on #12725
This is directly from the webex developer site:

Your personal access token will be valid for a limited amount of time and is the most effective way to learn and explore the Webex Teams APIs. If you log out of your Webex Teams account on this site, the token will immediately expire and you'll be issued a new token when you log in again.

I understand it is still in testing.  It works great when i

[2018-08-06 20:59] vbadri commented on #12826
Also, not sure it matters, but I'm doing this on a Ubuntu 16.04 platform.

[2018-08-06 20:59] SaurabhSharma-MSFT commented on #12897
@lnodaba Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-06 21:02] #10845 closed

[2018-08-06 21:04] MarileeTurscak-MSFT commented on #12948
@aherrick , can you please post what you included in your xml?

[2018-08-06 21:05] YutongTie-MSFT commented on #12886
@cjgronlund  Hi, the author of this document with the Git account bradsev is not available, can you please check the document and update it as necessary? And also, can you please update the author of this document so that we can find the author quicker? Thanks a lot!

@nobodykid Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document

[2018-08-06 21:09] MarileeTurscak-MSFT commented on #12934
Have you checked out this thread? It looks like you should be able to do just use username/password, or create custom policies to enable this experience. https://stackoverflow.com/questions/47451765/how-do-i-enable-local-account-identity-provider-to-support-both-username-and-ema

[2018-08-06 21:10] mmacy commented on #12929
@MarkTopping Travis is correct: From a purely technical standpoint, you _could_ specify a K8s service range that's in a different subnet, but within same VNet as your cluster. However, it's then also possible to later create a second (or third or fourth or...) subnet in the VNet that stomps over the K8s service range, causing potential conflicts. This is because the Azure Networking side doesn't h

[2018-08-06 21:11] treedust opened #12965 "iotedged gives Internal server error: Module runtime error upon running with or without custom modules"
#11046 #11353

Has information similar to what is going on with my raspberry pi 3 B+ system.

The command `sudo systemctl status iotedge` give the output:

[code]

`sudo iotedge logs edgeAgent` has output that follows:

[code]
`sudo iotedge list` outputs:
[code]

`docker ps -a` (installed from moby) gives:
[code]

Am I missing something I should be looking at? Is this behavior normal?

Thank you f

[2018-08-06 21:17] qubitron commented on #12571
Hi @philipschaefer4, the git deployment method is not available for Python at this time, so you should use the Docker deployment steps documented here.

In my experience the 503 unavailable happens when you don't set the WEBSITES_PORT=8000 variable or if the docker image tag isn't correctly set. You can also try to restart the webapp and see if that helps the WEBSITES_PORT take effect.

For an end

[2018-08-06 21:18] jeevansd commented on #8990
@reggieboyYEAH  Tis is a B2C policy issues. Can you please raise this with Microsoft Support team and then they can able to help you up.

#please-close

[2018-08-06 21:19] qubitron commented on #12571
I'll also add that the base image does include uwsgi host behind an nginx webserver, so the app is WSGI hosted when it is deployed.

[2018-08-06 21:20] strimpak commented on #12956
At your disposal for any further info

[2018-08-06 21:21] qubitron commented on #12571
@spincraft you should download the one that matches your development machine. If you are running on ubuntu, then it's ubuntu.

[2018-08-06 21:28] SnehaGunda commented on #12347
@nezoic Got you! yeah, you are correct I just tested it. Looks like the parameter names are changed in the v1.8.0.0 version and the doc isn't updated, I will make the changes soon.

[2018-08-06 21:32] MarkTopping commented on #12929
Hi mmacy.

That also makes sense. I can work with that.

However, to say that Travis was right when he said:
"The IP Address range should be within your VNET, but not within the ranges where your cluster can deploy"

Well, you're guidance contrasts that by saying it is recommended for the IP Address Range to be outside of the VNET, not within.

And the documentation states it not as a recommendati

[2018-08-06 21:38] YutongTie-MSFT commented on #12776
@ilyas-it83 Thanks for you feedback here. However, because this is not a document related issue, please post your issue in [Stack Overflow ](https://stackoverflow.com/)or [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) so that we can help you well. Thanks a lot!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and w

[2018-08-06 21:38] #12776 closed

[2018-08-06 21:39] mmacy commented on #12929
@MarkTopping Sorry for the confusion here. I've clarified my comment by adding the "partially correct" qualifier to Travis' statement.

I'll update the article with more clarification on this guidance.

#in-progress

[2018-08-06 21:43] YutongTie-MSFT commented on #12791
@priyaravi20 Hi, this is a document issue, can you please check it and update the document as necessary? Thanks a lot!

@jjwangpi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-06 21:50] Adam-Smith-MSFT commented on #12958
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-06 21:50] #12958 closed

[2018-08-06 21:52] mortenbock commented on #12930
@BryanTrach-MSFT I logged in on an incognito browser on a separate machine, and the rule I wanted to delete is stille there. So browser caching should not be an issue here.

[2018-08-06 21:54] SaurabhSharma-MSFT commented on #12952
@Szeraax I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-06 21:57] YutongTie-MSFT commented on #12790
@ratchetwrench Yes, you need to change the environment references so that Python 3.5 can be found correctly.

[2018-08-06 21:59] MarkTopping commented on #12929
Great. Thank you

[2018-08-06 21:59] thuansoldier opened #12966 "Is Service Bus categorized in Networking?"
I'm wondering if Networking category has Service Bus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d6b9dfb-6a41-50b3-3717-ca8eba6ee2bd
* Version Independent ID: 5851c1f2-bc90-d4ad-7e2f-7cf64a6a54c5
* Content: [Azure Government Networking](https://docs.microsoft.com/en-us/azure/azure-government/documentation-governme

[2018-08-06 22:00] thuansoldier opened #12967 "Is VNet Peering between Azure Gov and Azure Commercial allowed?"
Can we establish VPN peering between US Gov region and Commercial region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d6b9dfb-6a41-50b3-3717-ca8eba6ee2bd
* Version Independent ID: 5851c1f2-bc90-d4ad-7e2f-7cf64a6a54c5
* Content: [Azure Government Networking](https://docs.microsoft.com/en-us/azure/azure-government/do

[2018-08-06 22:04] YutongTie-MSFT commented on #12879
@Deniks Hi, to convert canvas to URL, please see following document:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL

Because this is not a document related issue, if you have further issues, please post it on [Stack Overflow](https://stackoverflow.com/) or [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home).  Thanks a lot!

We will now proceed to close t

[2018-08-06 22:04] #12879 closed

[2018-08-06 22:07] YutongTie-MSFT commented on #12841
@KarthickTC Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this is a document bug, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-06 22:09] priyamohanram commented on #8795
Thanks for reporting this issue! I will check with the product team about the updated licensing requirements and update the article if needed.

#in-progress

[2018-08-06 22:10] thuansoldier opened #12969 "Inconsistent content"
While this page (with Azure Government category filtered) shows that Import/Export is not available in US Gov Arizona and US Gov Texas (https://azure.microsoft.com/en-us/global-infrastructure/services/), this article states that the service is available in all regions. A note of mailing address would be difficult to understand.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-08-06 22:15] BrainSlugs83 opened #12971 "There is no information on how to suppress the related warning message."
The documentation walks you through how to make .NET 4.7.2 work in an Azure worker role, but the warning messages still persist, and there is no information on how to suppress the warning messages in the documentation.  (In addition, the warning messages have no "Code", so they cannot be suppressed manually.)

I need to produce a zero-warning build (i.e. the only warnings should be caused by FxCop

[2018-08-06 22:17] ltaljaard commented on #12934
Hi, yes it looks like it, but when I set it up in the Azure Portal I can't get rid of the email address. I have done it over twice now. I start by creating a new B2C tenant and I ensure that under Identity Providers, only "Username" is selected as the "Local Accounts". Then I go to "Sign-up or sign-in policies" and create a custom template, then click on edit. Then I ensure that the Identity Provi

[2018-08-06 22:18] jason-j-MSFT commented on #12767
@AjitBhosale the best place for a question like yours is here:
https://feedback.azure.com/forums/270578-data-factory

This repository is for specific documentation feedback rather than general Q&A.  Once you have more focused feedback on how we can improve the documentation, do let us know!

[2018-08-06 22:18] #12767 closed

[2018-08-06 22:18] BryanTrach-MSFT commented on #12930
@mortenbock Are you able to try and use Azure Resource Explorer?

1. Navigate to resources.azure.com
2. Enter read/write mode
3.  Expand 'subscriptions'> expand *your sub*>expand 'resource groups'> expand *your resource goup*> expand 'providers'> expand Microsoft.Web>  expand 'sites' > expand *your site*> select 'config'

At the bottom of the config file, you should find the below snippet. Delete

[2018-08-06 22:28] danrosg commented on #10845
Yeah, that's what I thought. Changing the comment wont fix the problem.

On Mon, Aug 6, 2018 at 12:52 PM, Jason H <notifications@github.com> wrote:

--
Daniel Rosales.

[2018-08-06 22:32] jason-j-MSFT commented on #12768
@bwren could this feature be clarified?  I am having trouble myself locating the extract fields feature.

[2018-08-06 22:34] bandersmsft commented on #12502
@scottmd1520 We've revised this article to show the updated Partner Center.
#please-close

[2018-08-06 22:37] SnehaGunda commented on #12347
#please-close

[2018-08-06 22:40] SnehaGunda commented on #12783
FYI- These links are fixed now.

[2018-08-06 22:40] SnehaGunda commented on #12903
@KeiroKamioka0000 FYI- the links are fixed now.

#please-close

[2018-08-06 22:42] SnehaGunda commented on #12623
@Alberto-Vega-MSFT Can you please assign this issue to @tknandu, author of this doc and who is working on the fix.

[2018-08-06 22:47] SnehaGunda commented on #12514
@atiq-cs Glad that you go it working, the sample linked in docs is based on "Microsoft.Azure.DocumentDB" .Net library, not the .Net core. Updating the package should fix as you described. We will now proceed with closing this issue.

#please-close

[2018-08-06 22:52] johlrich commented on #10959
The Azure CLI 2.0 preview extension should probably be mentioned. I dug around a lot before stumbling across it, which had everything I need to automate turning it on, uploading and cleanly looking up the url. You do need both the group and the account names to look up the url like this though.

Some useful snippets I found around this topic:

Install storage-preview:
`az extension add --name stor

[2018-08-06 22:53] Karishma-Tiwari-MSFT commented on #12971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-06 22:59] YutongTie-MSFT commented on #12786
@ilyas-it83 Hi, can you please check the document again, because the code for Pandas Dataframe is not the same with generic JSON format. Thanks.

[2018-08-06 23:00] thuansoldier opened #12972 "Inconsistent content"
The content provided here is inconsistent with the product by regions (with Azure Government filtered) here https://azure.microsoft.com/en-us/global-infrastructure/services/ Which one is valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbc3731f-da9b-4c27-9f02-03b7ee7e13ba
* Version Independent ID: f2c7122f-9af7-ff

[2018-08-06 23:03] Castermeek commented on #12922
Thank you!

From: Mohit Garg <notifications@github.com>
Sent: August 7, 2018 04:53
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chi Yao <chiyao@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Japanese version is not available (#12922)

@Castermeek<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FCastermee

[2018-08-06 23:09] ddobric commented on #12885
Sorry, it does not work. Created a new ASP.NET  application.

**Deploy to local cluster**

[code]
In SFE application does not appear at all.

**Deploy to cloud**

[code]

**When trying manually to build**

[code]

Do we have som log (trace)

Using docker: Docker version 18.06.0-ce, build 0ffa825

[2018-08-06 23:31] Mike-Ubezzi-MSFT commented on #12965
@treedust Thanks for the feedback. We are actively investigating and will get back to you but, I did want to know if you are following a specific tutorial?

[2018-08-06 23:33] kgremban commented on #12188
@femsulu Would you #please-close this issue as resolved?

[2018-08-06 23:36] sdecker commented on #12801
FYI, I was able to get the following answers via a support case. It would
be good to capture this on documentation for others benefit.

   1. What does MS define as 'Typical availability'?

·       Both Business Critical and General Tiers guarantee 99.99%, and
0.01% is reserved for upgrades or failovers when something is stuck.
"Typical availability" means that when Azure failovers, customer is
st

[2018-08-06 23:42] kgremban commented on #8723
@thangduong and @nuiwos You're running into the issue when you run the command `az ml env setup`, yes? Since that command is part of a different article in the prerequisites, maybe you could open your issue there instead? That way the Azure ML team will triage it, because from an IoT Edge perspective I don't know how to help.

@Mike-Ubezzi-MSFT What do you think? Is there a procedure if the issue

[2018-08-06 23:43] YutongTie-MSFT commented on #12830
@nigelHRBOT Hi, thanks for your feedback here. What you are asking is how to connect QnA maker to a Bot service, please follow the document here: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/create-qna-bot

[2018-08-06 23:50] BrainSlugs83 opened #12973 "The Azure Cloud Services Compute Emulator Links to the Storage Emulator's help file."
### Method 1:
In the Azure Compute emulator, click "Help" -> "About Compute Emulator" and click the link at the bottom of the blurb.

### Method 2:
Alternately, click "Help"->"Online Help".

### Observed Behavior:
Notice that you are redirected to "https://docs.microsoft.com/en-gb/azure/storage/common/storage-use-emulator", which is the documentation for "Use the Azure storage emulator for develop

[2018-08-07 00:11] taksd opened #12974 "Translator Hub is available in V3 Translator Text API?"
It is not clear for me that Translator Hub is supported with V3 translator text APIs. Please clarify this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0a7128-2576-678c-be8e-6f26fe9c1628
* Version Independent ID: c2575811-47ea-a584-c918-cd0a3df9189b
* Content: [Microsoft Translator Text API Dynamic Dictionary

[2018-08-07 00:25] femsulu commented on #12972
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 00:26] JSeb225 commented on #12767
Fixing URL for feedback: https://feedback.azure.com/forums/270577-stream-analytics
At this time, this behavior is expected. However it is possible to use reference data to change the threshold of the rules without restarting the job. More info here: https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-threshold-based-rules

[2018-08-07 00:27] aanandr commented on #12929
@mmacy - can we tweak the wordings a bit so that there is no confusion? For example we have to say that service IPs dont need to be created in a separate subnet. They are used only inside the cluster

@MarkTopping i didnt understand the last para of your response. Can you clarify

[2018-08-07 00:27] femsulu commented on #12969
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 00:28] diberry commented on #12639
@Wheeldo74 I can't reproduce this issue but I have seen it before. I would like to close this issue now with the caveat that I (or you) will reopen when I get a reproducible app. The important point is when you get the app in the correct state, to leave it as is, and reopen this issue.  #please-close

[2018-08-07 00:33] femsulu commented on #12967
@thuansoldier Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 00:33] femsulu commented on #12967
@jawalte any ideas on this one? My guess is this isn't allowed but I haven't had a chance to test this.

[2018-08-07 00:34] TravisCragg-MSFT commented on #12912
@kazshi according to [Symantec's website](https://support.symantec.com/en_US/article.HOWTO127852.html#v123027882), that is Symantec's current extension.

[2018-08-07 00:35] femsulu commented on #12966
@thuansoldier not sure I understand your question. can you please clarify?

[2018-08-07 00:37] kazshi commented on #12912
@TravisCragg-MSFT Thanks for the link - that's what I was looking for.

[2018-08-07 00:54] iizotov opened #12975 "Support in Microsoft Azure SDK for Go?"
Can you provide guidance on how to populate the AZURE_HTTP_USER_AGENT header using Microsoft Azure SDK for Go.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca5872f1431
* Content: [Azure partner and customer usage attributi

[2018-08-07 01:03] BryanTrach-MSFT commented on #12960
@tony-gutierrez Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-07 01:06] aryapankaj opened #12976 "Screenshots showing Azure resources in (Peview)"
The screenshots for abobe shows that PIM for Azure resources is still in preview, you may want to update it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e13581-06f7-9936-f7b6-e30b21a2d92d
* Version Independent ID: f8f0d669-69fa-c154-2627-77df1a58ba0e
* Content: [Overview of Azure PIM Resource RBAC](https://docs.mi

[2018-08-07 01:14] MedAnd opened #12977 "Using the same ITransaction object will return the value even if you have not yet committed the transaction"
Would like to clarify the following line in the doc:

"a later call to TryGetValueAsync (using the same ITransaction object) will return the value even if you have not yet committed the transaction"

In the following scenario:

1. if a ITransaction object (B) is created within an existing ITransaction object (A), and (A) passes (B) an object (O) returned from a Reliable Collection as a result of (

[2018-08-07 01:27] jwargo opened #12978 "missing details"
I'm looking at "In JavaScript functions, access the table output using `context.bindings.&lt;name&gt;`." and I'm not sure what it means. What does table output mean in this context?

When `push`ing data to the table, when is it written to the table? As soon as you call `push` or only when `context.done` is called?
How do I access any error codes?  The example code doesn't show that.  I'm assuming

[2018-08-07 01:28] jason-j-MSFT commented on #12834
@hugofock correct me if i'm mistaken, but can't parameters be passed in as decribed here:
https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-u-sql-sdk#programming-interfaces-in-localrunhelperexe

I'm closing this issue for now, but we can reopen anytime.

[2018-08-07 01:28] #12834 closed

[2018-08-07 01:30] mabicca opened #12979 "Azure File Diagnostics Tool for Linux"
Hi Guys, could we please add a link to this diagnostics tool at the beginning of the documentation? It is a really good tool to quickly detect possible issues:
https://gallery.technet.microsoft.com/Troubleshooting-tool-for-02184089

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d3c03c3-b99c-445a-026e-442dd40599a1
* Ve

[2018-08-07 01:30] BryanTrach-MSFT commented on #12933
@marekr We're waiting to hear back from the product group as to what the expected behavior is. I believe 90 days is indeed correct so the portal verbatim might need to be updated. We will get back to you shortly.

[2018-08-07 01:33] BryanTrach-MSFT commented on #12715
@luisnaranjo733 Since we have not heard back from you, we will now proceed to close out this issue. If you were able to resolve, the issue, please consider sharing the solution here in case others encounter a similar issue.

[2018-08-07 01:33] #12715 closed

[2018-08-07 01:54] JasonWHowell commented on #12612
#please-close

[2018-08-07 02:30] KeiroKamioka0000 opened #12980 "How to make Support Request to upgrade the limit and quota"
Application Gateway
I would like to request to add example of how to make support request to increase the limit of the Instances per gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription l

[2018-08-07 02:31] GigaElk opened #12981 "Failed at step 1"
Although Billing alert service is active after following the first step, I did not receive any email (Second step) and it does not show in my subscriptions.
Setting up billing alerts should be much easier and intuitive than this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79c9b4a2-d574-181c-26fd-2fd9de25d11e
* Vers

[2018-08-07 02:57] AndyLiTaiwan opened #12982 "unable to build edge solution"
Here is error message :
PS C:\Development\DebugTwoEdgeSolution&gt; docker build  --rm -f "c:\Development\DebugTwoEdgeSolution\modules\JsSimulatorModule\Dockerfile.windows-amd64" -t localhost:5000/jssimulatormodule:0.0.1-windows-amd64 "c:\Development\DebugTwoEdgeSolution\modules\JsSimulatorModule" ; if ($?) { docker push localhost:5000/jssimulatormodule:0.0.1-windows-amd64 }
Sending build context t

[2018-08-07 03:05] hugofock commented on #12834
@jason-j-MSFT Thanks for the prompt reply. Yes, I've repeatedly checked the API and didn't manage to find a solution, as highlighted in my initial post. However, it did allow dynamically pass in parameter in Azure DataFactory's U-SQL Activity/Step. The important point is, LocalRunHelper.exe should have simulate the same feature as per DataFactory's U-SQL Activity/Step, else it would be less value

[2018-08-07 03:11] benoityip commented on #8229
I have an error
"Missing fields specified in query or in create table.\r\nFields expected: TIME. \r\nFields found: OUTPUTTIME, SENSORNAME, AVGTEMPERATURE. \r\nMissing fields: TIME"

[2018-08-07 03:18] cicorias opened #12983 "Casing of header is incorrect - header value is in lower case: `aeg-event-type`"
where it says: `The event contains a header value "Aeg-Event-Type: SubscriptionValidation".`

The header value is in lower case: `aeg-event-type`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ea53478-b3df-71dd-5ec8-27746a650775
* Version Independent ID: 185f045e-d659-6217-3c14-68418c4fe5fe
* Content: [Azure Event Gri

[2018-08-07 03:21] mganeshphani opened #12984 "Multiple conditions in SIngle Alert rule"
How can I include all the following operations in single Alert? is it possible? or should I always need to include write 3 alert rules to cover these?
Microsoft.Compute/virtualMachines/start/action
Microsoft.Compute/virtualMachinesScaleSets/start/action
Microsoft.DevTestLabs/virtualMachines/start/action

if I need to create 3 separate.. imagine the burden of covering all the 3 resources for two mo

[2018-08-07 03:55] KeiroKamioka0000 opened #12985 "What should I do VM is in Open State?"
When the VM is in Open State what should I do?
Can you please add the step to install the update/fix in this document please?

I assuming click the [...] part in the right but hard to tell from this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28328ddf-1c4a-5659-419b-6d54df2ac653
* Version Independent ID: 1

[2018-08-07 04:05] shizn commented on #12982
@AndyLiTaiwan Hi Andy. Thanks for reporting this issue. Looks like your base image is 404. Could you help me understand why you choose stefanscherer/node-windows:8-nanoserver as the base image?

[2018-08-07 04:10] CraigHumphrey commented on #12813
Hey Mohit,

thanks for that.  I understand that an end-user, receiving the invitation email is able to login with their existing AzureAD/O365 account, if they have one.
I also understand, that if they don't have an AzureAD/O365 account, that they can set up a Personal Microsoft Account, using their organisational email address.
I also understand, that they COULD set up an Azure AD Tenant for their

[2018-08-07 04:14] mimig1 commented on #12353
Internal PR 48303 has been opened and is under review to address this issue.

[2018-08-07 04:16] adamrutt opened #12986 "Clarify proxy settings for Windows 10 1709+ GPO"
In this guide there is a paragraph:
If your organization requires access to the Internet via an outbound proxy, starting with Windows 10 1709, you can configure proxy settings on your computer using a group policy object (GPO). If your computer is running anything older than Windows 10 1709, you must implement Web Proxy Auto-Discovery (WPAD) to enable Windows 10 computers to do device registration

[2018-08-07 04:19] adamrutt opened #12987 "Clarify proxy settings for Windows 10 1709+"
In this guide there is a paragraph:
For Windows 10 devices on version 1703 or earlier, if your organization requires access to the Internet via an outbound proxy, you must implement Web Proxy Auto-Discovery (WPAD) to enable Windows 10 computers to register to Azure AD.

Could you please explain which settings should be used to enable a proxy server to be specified for the hybrid Azure AD join scen

[2018-08-07 04:49] erosinger commented on #12925
@Karishma-Tiwari-MSFT thanks for the fast response and explanation. I now understand the purpose of the field.

Sadly I am not sure where to get the correct email from? Is it my personal one? Or the one of the Azure Subscription assigned to the ACR? Or any email Adresse which was configured to have access to the ACR?

I would be grateful if you can help me out on this one. And this could be an inf

[2018-08-07 04:58] Rajeswari-Mamilla commented on #12722
The additional info has been added.
#please-close

[2018-08-07 05:01] kazshi opened #12988 "perform round-robin or any other load balanced routing..."
Question about "During preview, we will not perform round-robin or any other load balanced routing between the local replicas of the secondary database.", does it mean that "perform round-robin or any other load balanced routing..." will be supported after GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-444

[2018-08-07 05:06] dcbrown16 opened #12989 ""Can be" configured?"
"A regional (non-zonal) scale set uses placement groups, each of which can be configured to act as an implicit availability set with five fault domains and five update domains."
This quote suggests to me that we have to explicitly configure the placement groups to act as availability sets. However, the more detailed doc linked after that (below) indicates to me that placement groups automatically

[2018-08-07 05:10] khccjp opened #12990 "When will be the planned date of this feature reaching general availability?"
When will be the planned date of this feature reaching general availability?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content: [What is a baseline protection in Azure Active Directory conditional access? - preview](https://docs.microsoft.com/ja

[2018-08-07 05:17] nebur634 commented on #12752
Thanks SaurabhSharma-MSFT. What's the expected ETA on the update?

[2018-08-07 05:25] tamram commented on #12973
@mikejo - Can you assign this to the appropriate person?

The storage/svc label is not accurate in this case - the issue lies in the documentation link from the compute emulator.

[2018-08-07 05:50] tamram commented on #12838
@ishepherd -

They are designed for different purposes. GRS/RA-GRS are for scenarios where data must be protected against the unlikely possibility of a regional disaster. In the event of a regional disaster, you'll experience some downtime before the primary can be restored or the failover to the secondary can happen.

ZRS makes it easier to build high-availability applications, via synchronous re

[2018-08-07 05:50] tamram commented on #12838
#please-close

[2018-08-07 05:58] benoityip opened #12991 "Error on input"
Although I have an output, I have an error message below, I don't think I have missed the "time" field

Fields referenced in query not found in input events
Fields Expected: TIME
Fields found: OUTPUTTIME, SENSORNAME, AVGTEMPERATURE
Missing fields: TIME

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9028ffb4-d3fb-e5ee-3

[2018-08-07 06:03] jglixon commented on #12972
@Yujin<mailto:Yujin.Hong@microsoft.com> can you pls help?

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Monday, August 6, 2018 5:25 PM
To: MicrosoftDocs/azure-docs
Cc: Julie Glixon; Assign
Subject: Re: [MicrosoftDocs/azure-docs] Inconsistent content (#12972)

@thuansoldier<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fthuansol

[2018-08-07 06:10] #12774 closed

[2018-08-07 06:37] Aleksanderis commented on #12751
@MohitGargMSFT, ok, to be more confident - I spent some time and tried the approach with removed both `vhdContainers` and `managedDisk` properties in ARM template.

At first it looked promising - deployment was successful. However I had doubts after I saw how quickly ARM deployment passed - it passed like nothing was changed. So I looked in `resources.azure.com` and `vhdContainers` were not remove

[2018-08-07 06:42] ko5win opened #12992 "IoTEdge inside Docker container on Raspberry Pi 3"
My aim is to run IoTEdge runtime inside a container but having some troubles to do so.
Dockerfile used:
[code]

Config.yaml that has my connection string replaces the original yaml file. The startup.sh is just a simple python script that keeps the container running. Chaperone will be implemented to properly monitor the IoTEdge processes in the future. After starting up the container (with `--privi

[2018-08-07 06:44] Karishma-Tiwari-MSFT commented on #12895
@sugan2205 Any updates?

[2018-08-07 06:48] MarkTopping commented on #12929
@aanandr
Sure... assuming you mean this:
"Either way mind, if you use the Portal to provision a new cluster, the pre-create validation passes when you provision a cluster with the address range within or outside of the VNET; it might be better that validation did not pass when within. Anyhow, i'll proceed using your recommendation."

It has nothing to do with this documentation; I was just pointin

[2018-08-07 06:52] thomas-kinnari commented on #9466
Sweet! That did it! Changing the strings to ConnectionString and ConsumerGroup was what I needed to do.
I am now seeing a nice graph being updated in real time with temp and humidity data. Thanks for the help!

[2018-08-07 07:15] ArneVlietinck commented on #12773
[The recommendation](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35042017-hierarchy-possibilities-for-edge-devices).

[2018-08-07 07:35] Nilis312 commented on #12823
It is a good upgrade from the old GUI steps, however I configured both MFA + SSRP (SSRP with requiring 2 methods). However the https://aka.ms/setupsecurityinfo is not forcing the user to register 2 methods. So if a user registers the app and closes the screen it is ok from process wise on the registration portal. However, when the user is trying to reset the password it fails with the message: You

[2018-08-07 07:39] AntCeee opened #12993 "Reset Password flow for ROPC"
Hi, the normal B2C sign in page provides a link for a user to reset the password but with the ROPC flow the sign in page is never visited by the user so they don't see this link. Is there is a recommended approach to enable a user to reset their password? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54680bb-f

[2018-08-07 07:40] Evit15 commented on #12692
Hi,

Do you have any work around for it?

[2018-08-07 07:41] vasivara-MSFT commented on #12845
@adityaagrawal7 Since we haven't got any response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-07 07:41] #12845 closed

[2018-08-07 07:42] Nilis312 commented on #12823
ah I see the user is asked next time login to register another method, but not in the first process of registration.

[2018-08-07 07:53] johscheuer commented on #12826
@vbadri I also tried Ubuntu 16.04/18.04 on x64

[2018-08-07 08:00] dtissen commented on #12046
Sorry, was quite busy. The Problem with custom commands is that there is no synchonous answer to the execution. So what value has a function with no Answer - I dont know if there is any customscript which does not need the answer directly. The download of the response could be the solution. In that case the function should deliver all necessary information to retrieve the answer. The current funct

[2018-08-07 08:12] heatmiser opened #12994 "ED25519 and ECDSA key format support"
Why would this not be supported, if latest versions of OpenSSL/OpenSSH support these key formats?  With ECDSA you can get the same level of security as RSA but with smaller keys. This would be an easy fix to support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version Independe

[2018-08-07 08:15] johscheuer commented on #12826
@Mike-Ubezzi-MSFT I already enabled the debugging but I didn't find any valuable error/debug logs.

I tried to connect to the port `443` from the remote machine with success:

[code]

but on the MQTTS port `8883`:

[code]

it looks like the edgeHub uses different certificates for TLS and MQTTS (which obviously uses TLS too).

If it helps I would be open for a debugging session and show you what I

[2018-08-07 08:20] Noambi commented on #12694
Same Issue was reproduced again today and we got the above error
you can see in the list there is no M32*  size.
Also the portal doesn't show the Accelerated networking options for M32ms

Can we ask to update the article accordingly?

[2018-08-07 08:37] deepak7434 opened #12996 "Open port"
Why the ports 15580,15581 should be opened during iot-edge runtime installation for Windows and not for Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e019e105-d2e5-9120-82f3-618d0a507bda
* Version Independent ID: 7f4b7402-31d7-6fdf-6ca6-04c820d2a6d3
* Content: [How to install Azure IoT Edge on Windows with Linu

[2018-08-07 08:50] bingosummer opened #12998 "Which case I have to accept the legal terms?"
I didn't find a doc for marketplace customers, so I put the issue here. Sorry if it's not the right place.

I got the following error and I've used `az vm image accept-terms` to accept the legal term. My question: For every version of the image, do I need to accept the term? Per subscription? From my experience, for some versions, I didn't accept the terms and it also worked.

[code]

---
#### Doc

[2018-08-07 08:58] mortenbock commented on #12930
I do not get the `edit` button for the `config` node, so I cannot edit it there. Is this a permission thing?

I do get an edit button on some of the other nodes in the tree.

I tried another subscription where I am the owner, and that does not give me an `edit` button on the `config` node either.

[2018-08-07 08:59] ishepherd commented on #12838
Thanks!

[2018-08-07 09:10] paulmackinnon-adv365 opened #12999 "Failure sending request: StatusCode=400 -- Original Error: Code="" Message="""
Following these guides the deployment fails with:
Error: Error applying plan:

1 error(s) occurred:

* azurerm_kubernetes_cluster.k8s: 1 error(s) occurred:

* azurerm_kubernetes_cluster.k8s: containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="" Message=""

Please see https://github.com/terraform-providers/terraform-provider-azurer

[2018-08-07 09:14] isharehappycode opened #13000 "Can I use it for Device Provisioning service ? IoT Hub?"
I am looking for option to securely manage the life cycle of certificates, which used to connect devices from on premises to device provisioning service.  documentation appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa

[2018-08-07 09:32] lrodriguez2002cu opened #13001 "Important to mention the namespace Microsoft.ContainerInstance should be registered for the susbcription."
Hi, maybe as a note would be good to add/verify that the namespace Microsoft.ContainerInstance is registered for the subscription.
  az provider show -n Microsoft.ContainerInstance should appear as registered otherwise running a container would give "Provider Error"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acfb23

[2018-08-07 10:15] pramod-sharma commented on #12623
@Alberto-Vega-MSFT Any update on this. I am still facing same error.  Is there any workaround for the time being.

[2018-08-07 10:17] Penberthy opened #13003 "Explorer wont work as it uses outdated TLS"
Can’t connect securely to this page
This might be because the site uses outdated or unsafe TLS security settings. If this keeps happening, try contacting the website’s owner

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb

[2018-08-07 10:28] TymWongPSNinja opened #13004 "ER Gateway per VNet"
Without using VNet peering, VPNs or NVAs if you need to connect multiple VNets in the same region to a single ER do you need an ER gateway in each VNet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d46dfa1b8
* Version Independent ID: fa096059-2d16-30a2-1e8b-8b9671afcaa4
* Content: [Azure Ex

[2018-08-07 10:30] tigerjos opened #13005 "FCM"
Hi, will there be a change in the steps needed to send notification to FCM? or the same means still applies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d92634-7ce2-75f7-6de2-945bb19ee5f4
* Version Independent ID: fbaa9e41-5be3-9e64-a4fc-b2ef60d7f29f
* Content: [How to use Notification Hubs with Java](https://docs.

[2018-08-07 10:34] Fenn-CS commented on #9466
Cool 👍

On 7 Aug 2018 7:52 a.m., "Thomas Kinnari Strudsholm" <
notifications@github.com> wrote:

[2018-08-07 10:49] murtaaz763 commented on #12453
Is there any article where I can find .net code snippet to create event based trigger in C#?

Like the one mentioned here for creating a schedule based trigger in C#:
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger

[2018-08-07 10:54] philippschaefer4 commented on #12571
Thanks @qubitron, that is exactly what I needed. I don't really care about the git deployment that much anyway. The important thing is that the webapp has a wsgi. The git repo will work perfectly for me.

[2018-08-07 11:02] TymWongPSNinja commented on #12743
Can I just confirm that the above response is 100% correct that traffic between VNets in the same region both connected to a single ER will incur the ER metered data charges? This article states that this traffic is free. https://support.office.com/en-gb/article/azure-expressroute-for-office-365-6d2534a2-c19c-4a99-be5e-33a0cee5d3bd?ui=en-US&rs=en-GB&ad=GB

[2018-08-07 11:03] TymWongPSNinja commented on #12743
Sorry wrong link above, this on https://azure.microsoft.com/en-gb/blog/networking-to-and-within-the-azure-cloud-part-2/

[2018-08-07 11:30] #12917 closed

[2018-08-07 11:58] cephalin commented on #12960
@tony-gutierrez This statement is already in the article:

Web apps can continue to write log files and diagnostic data as they do currently. Log files and data, however, are stored locally on the VM. Then they are copied over periodically to the shared content store. The copy to the shared content store is a best-case effort--write backs could be lost due to a sudden crash of a VM instance.

[2018-08-07 12:06] vishalaj1 opened #13006 "Connect your servers to your gateway resource - is this required?"
Connect your servers to your gateway resource - Once you have a gateway resource in your subscription, you can begin connecting your servers to it. You can connect multiple servers and other resources to it.

1. I installed gateway on prem with a user a@abcd.com west europe region
2. Created resource for the gateway in west europe region
3. Created tabular object with data source for on prem serve

[2018-08-07 12:16] zahidfaroq commented on #5753
@dcbrown16 thanks I have already created a new [thread](https://github.com/MicrosoftDocs/azure-docs/issues/12867) for this doc issue.

[2018-08-07 12:37] jasonwangnanjing commented on #12261
@TylerMSFT really? Azure does not support simple service find like k8s original supported? It need a static IP to pass to another service to communicate or via ingress. what a pitty!

[2018-08-07 12:39] cephalin commented on #12521
@ncacace Take a look at the "next step" tutorial: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-nodejs-mongodb-app

For deployment: see links at https://docs.microsoft.com/en-us/azure/app-service/
For scaling: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-autoscale-get-started

[2018-08-07 12:45] marinnedea commented on #12498
@ramagurram xrdp doesn't support network level authentication. Not sure if this is a must have when working with remote authenticating services, as AAD. You could however try using http://www.freerdp.com/ instead. Couldn't find a specific Azure tutorial for it.. but technically any tutorial out there, for Linux, should work.

[2018-08-07 12:47] mrdfuse commented on #12753
I think I was too quick in closing this ticket. The link you pasted is to enable the health metrics in an AKS cluster. That is not the same as enabling the diagnostic logging as explained here: https://docs.microsoft.com/en-us/azure/aks/view-master-logs

[2018-08-07 12:50] densto88 commented on #11319
It's actually for cached and uncached IO (not disks), you can have both types of IO against the same disk. For example, if you have a disk attached with Read or Read/Write caching turned on and you read a file, the first read will be uncached IO, subsequent reads will be cached (at least until you fill the available cache space you're given per VM Role Size and as long as that particular file rema

[2018-08-07 13:03] tony-gutierrez commented on #12960
Yeah but you would think that you could still see traffic to stdout without
the involvement of any files. It's called log STREAMING, not tailing. Why
does it have anything to do with storage? It's not obvious from the article
that it will stop working.

On Tue, Aug 7, 2018, 7:58 AM Cephas Lin <notifications@github.com> wrote:

--
*Tony Gutierrez*
BlueFletch <https://bluefletch.com/>
Mobile 646-704

[2018-08-07 13:05] marinnedea commented on #12498
@ramagurram .. just ignore me... For AD you could use https://scarygliders.net/2012/05/26/xrdp-authentication-with-active-directory/ .. For AAD .. let's wait for the devs.

[2018-08-07 13:11] celtdawg commented on #10480
I still receive the same error:
PS C:\Windows\system32> Register-AzureADPasswordProtectionProxy -AzureCredential $tenantAdminCreds -ForestCredential $forestcreds
Register-AzureADPasswordProtectionProxy : One or more errors occurred.
At line:1 char:1
+ Register-AzureADPasswordProtectionProxy -AzureCredential $tenantAdmin ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-08-07 13:20] smappes opened #13008 "No data showing in Application Insights"
I followed the steps and set everything up.  In my test APIM instance I configured the echo api with all options to enable App Insights logging.  I then used the Test panel within APIM to invoke the echo api 5 times.  I went to the App Insights portal and queried the Requests table and there is no data there.  I have waited several minutes and still no data.  Any ideas?

---
#### Document Details

[2018-08-07 13:28] LlamaX opened #13009 "MySQL hosted on cloud to Azure data factory"
Is the MySQL connector integrated in Azure IR in order to use it to transfer data from a cloud MySQL instance to Azure, publicly accesible, or do I need to install a selfhosted IR?

In case Azure IR fits, what if Mysql server runs on Linux ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c51aad-3c71-f6d4-1930-8694268

[2018-08-07 13:28] paulmackinnon-adv365 commented on #11681
How the heck do you enable RBAC for an AKS you already created in Terraform? It seems '--enable-rbac' is only available for 'az create', but I've already created my AKS. What do I do?

[2018-08-07 13:41] jkallenbach commented on #12579
I will test and get back to you on 8/8.

[2018-08-07 13:44] johscheuer commented on #12826
Okay, so I got it working (on Ubuntu 16.04 and 18.04) with the following steps:

1.) Install the `iotedge` runtime and stop the service directly `systemctl stop iotedge`
2.) Run the `certGen.sh` script like described in the docu
3.) Execute these steps: https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md#step-3---proof-of-possession (the CA should be

[2018-08-07 13:54] Nilis312 opened #13010 "Information about Qradar not clear"
Good day,

In the video around AzureAD logs in Eventhub you are mentioning this is working for Splunk, Qradar and Sumo Logic.
However, in the documentation there is stated: "A: Currently, Azure Monitor is supported by Splunk, QRadar, and Sumo Logic. However, Splunk is the only SIEM tool that's supported for Azure AD logs. For more information about how the connectors work, see Stream Azure monitor

[2018-08-07 13:59] Netdoc41 commented on #12947
I see. So i could also just create a seperate file for creating the secret? Makes sense. Thats what i did. As to the config map. I assume that if there is no config map, that something went wrong.  I did just copy and paste so not sure what i did. Thank you

[2018-08-07 14:06] xocolatl-aficionado commented on #12001
Hi! It would be great if you could help me with this issue: https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS/issues/16
It hasn't received any traction and I really would love to get it working.

[2018-08-07 14:09] MaximeRastello opened #13011 "Setup Security Info link is broken"
Hi, the preview link https://aka.ms/setupsecurityinfo which redirects to https://account.activedirectory.windowsazure.com/securityinfo shows a 404 error page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18640c6c-b52c-84e3-59d8-90f2a663cc6b
* Version Independent ID: 77b249dc-4440-0334-31d7-b05d30f52657
* Content: [Azu

[2018-08-07 14:09] jpchauhan opened #13012 "How pricing of read/second work?"
Hi,

While estimating RUs, how pricing of read/second work? Let's say, if I need to fetch few of data elements out of many data elements per document? Does it consider the size of all of the documents on which it scans through or Just the size of data elements which are pulled (or mentioned in the select column lists in SQL Query)?

e.g.

Cosmos DB created with SQL API and writing SQL Query to fet

[2018-08-07 14:14] bmilbauer opened #13013 "Clarify port documentation"
"Typically, port 5671 and 5672 must be opened on the machine consuming data from the event hub."

Is this inbound from the perspective of the consuming machine? Also, are these ports TCP-only, or TCP/UDP?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2258670a-245c-ede4-5805-a07e589d5f13
* Version Independent

[2018-08-07 14:26] brokkena opened #13014 "Microsoft Cloud Unified Penetration Testing Rules of Engagement Link is broken"
When you click the link in the middle of the page it just takes you to the MSRC front page.  With no way to find the actual document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-526b-143f87582a18
* Content: [Pen Testing](https://docs.m

[2018-08-07 14:29] cephalin commented on #10573
@CeciAc I'm not able to reproduce this error. This could have been a temporary issue related to the network traffic or the Kudu site. Please go ahead and close the original issue at this point. #please-close

[2018-08-07 14:45] douglaslMS commented on #12453
@murtaaz763 Please create a new GitHub issue for your question.

[2018-08-07 14:46] jarz opened #13015 "Availability Telemetry"
It'd be awesome to have some documentation on `AvailablityTelemetry` / `TrackAvailability` so I can understand where to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351b
* Content: [Application Insights API for cust

[2018-08-07 14:48] femsulu commented on #12989
@dcbrown16 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 14:49] femsulu commented on #12989
@gatneil can you take a look at this doc-enhancement request and advice? for some reason, I am unable to resolve your GitHub alias.

[2018-08-07 14:56] sergaz-msft commented on #12982
@AndyLiTaiwan on line 49 of deployment.template.json file what is the value that you have? Can you try the following:

`"image": "${MODULES.SampleModule.amd64.debug}",`

PS: Because you are running Linux Containers you must select amd64 and not windows-amd64

Thank you!

[2018-08-07 14:56] femsulu commented on #12978
@jwargo Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 14:57] dsyer opened #13016 "Please provide another sample with non-HTTP input/output"
E.g. an event hub input + cosmos DB output would be useful, including instructions for how to set up the connection strings and test the function (i.e. how to send test events to event hub).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-

[2018-08-07 15:01] femsulu commented on #12977
@MedAnd Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 15:10] femsulu commented on #12984
@mganeshphani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 15:10] CeciAc commented on #10573
Thank you, @cephalin

[2018-08-07 15:10] #10573 closed

[2018-08-07 15:17] femsulu commented on #12981
@GigaElk Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 15:19] femsulu commented on #12980
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 15:21] femsulu commented on #12975
@iizotov Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 15:24] femsulu commented on #13013
@bmilbauer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-07 15:27] femsulu commented on #12998
@bingosummer Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 15:33] sergaz-msft commented on #12983
@cicorias thank you for your feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 15:37] husseinkorly opened #13017 "Get-AzureStorageTableTable cmdlet for cosmos"
it looks like `-cosmosDbAccount` parameter doesn't exist anymore !!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eedf922-624f-e94c-3f4f-d4e76271422e
* Version Independent ID: d3829cb8-611b-ec7d-fff8-3d1ada9c5cf3
* Content: [Perform Azure Cosmos DB Table API operations with PowerShell](https://docs.microsoft.com/en-

[2018-08-07 15:48] sergaz-msft commented on #12996
@deepak7434 thank you for your feedback. [This document](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-linux) is not mentioning that you need to open ports 15580 and 15581. Can you please clarify?

Thank you!

[2018-08-07 15:51] Mikejo5000 commented on #12973
Looking into this...

[2018-08-07 15:59] sergaz-msft commented on #12992
@ko5win thank you for your feedback. Can you please follow exactly the steps from the tutorial and let me know the step where it is failing with the error message provided? You can also find some troubleshooting steps here: https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot

Thanks!

[2018-08-07 16:06] sakthivetrivel commented on #12947
@Netdoc41 That also works as long as you also use kubectl create -f secret.yaml on that file. Can you check to see if the cluster-autoscaler pod is running in the kube-system namespace?

[2018-08-07 16:09] mmacy commented on #12925
@erosinger You can use any well-formed email address for that value. In the future, this argument may no longer be required. In fact `--docker-email` argument is no longer required for `docker login`, and there is an [open issue in the Kubernetes repo](https://github.com/kubernetes/kubernetes/issues/41727) regarding its removal.

For now, however, you can use any properly formatted email address.

[2018-08-07 16:12] jeevansd commented on #12931
@ChenRahimi can you please make sure that you have selected the Domain specific Issuer option in G Suite SSO configuration? Also can you please share the pattern which you have used in Reply URL?

[2018-08-07 16:12] cephalin commented on #8136
@mjyeaney We added a note per your feedback and the PR is merged. It should be published in a few hours. #please-close

[2018-08-07 16:14] mmacy commented on #12925
@Karishma-Tiwari-MSFT You can assign this one to me, I've added a work item to the backlog to update with a call-out for the email address argument.

#in-progress

[2018-08-07 16:19] Adam-Smith-MSFT commented on #12979
@mabicca Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 16:29] Karishma-Tiwari-MSFT commented on #12925
@mmacy Thank you for sharing the information. :)
@erosinger I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 16:29] mikebudzynski commented on #13008
1. What is your sampling % setting in the API settings?
2. Can you try [importing the Conference API](https://docs.microsoft.com/en-us/azure/api-management/import-and-publish) first and then plugging it into App Insights?

[2018-08-07 16:32] treedust commented on #12965
The `getting started guides` is what I used until using a module (I did not encounter this during v1). I used my own modules. One is a MQTT broker, and an executor container (I know I can use IoT Edge functionality for module to module communication, this was a test that has more components to it). My install comes from https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-

[2018-08-07 16:37] 123deepak opened #13018 "How to create an event based trigger using C#?"
Is there any article where we can find a .net code snippet to create event-based trigger in C#?

Like the one mentioned here for creating a schedule based trigger in C#:
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2018-08-07 16:39] douglaslMS commented on #13018
@123deepak Let me ask whether we have a C# sample available.

[2018-08-07 16:45] MarileeTurscak-MSFT commented on #12976
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:45] MarileeTurscak-MSFT commented on #12985
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:46] MarileeTurscak-MSFT commented on #12986
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:46] MarileeTurscak-MSFT commented on #12987
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:46] badbob001 opened #13019 "Any danger for Virtual static IP address conflict?"
The Virtual static IP address for each cluster is not assigned to any interface on azure and there doesn't seem to be a way to reserve that IP. Will anything bad happen if azure's dhcp assigns that same IP for another resource?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d21dc8b-7056-a6f4-da2d-cf29a30c90de
* Versio

[2018-08-07 16:46] MarileeTurscak-MSFT commented on #12990
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:46] MarileeTurscak-MSFT commented on #12993
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:46] MarileeTurscak-MSFT commented on #13010
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:47] MarileeTurscak-MSFT commented on #13011
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:47] MarileeTurscak-MSFT commented on #13014
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 16:50] veyalla commented on #12992
@ko5win We haven't tested this kind of deployment on ARM. Can you share the use case for running iotedge daemon in a container?

[2018-08-07 16:51] jason-j-MSFT commented on #12974
@taksd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 16:51] douglaslMS commented on #12453
@murtaaz763 Your question will be tracked under this separate GitHub issue. Please "watch" it to track the progress. [](https://github.com/MicrosoftDocs/azure-docs/issues/13018)

[2018-08-07 16:52] jason-j-MSFT commented on #12991
@benoityip
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 16:53] jason-j-MSFT commented on #13009
@LlamaX
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 16:56] MicrosoftGuyJFlo commented on #13011
@MaximeRastello you must enable the preview before the link will work. Follow the steps in the article https://docs.microsoft.com/azure/active-directory/authentication/concept-registration-mfa-sspr-converged to enable the converged experience. I will add a link to this in the article thanks for pointing out that it was missing.

[2018-08-07 16:56] kgremban commented on #12863
We're discussing this doc enhancement offline. #in-progress

[2018-08-07 16:57] georgewallace commented on #9774
@femsulu The link referenced in this issue no longer exists, this issue can now be closed.

[2018-08-07 17:01] vbadri commented on #12826
@johscheuer, thanks for the heads up. I have run the steps as above and it didn't quite work even on the same machine (i.e., i couldn't verify ssl connection even on the same host). However, one difference I notice is your note abotu the hostname. Could you elaborate? There are three possible places a name is specified

$HOST_NAME : Just your host name
$HUB_DEVICE_NAME : The name given to the devi

[2018-08-07 17:03] georgewallace commented on #5150
@Adam-Smith-MSFT This article has been re-written since the issue was opened, the incorrect links do not exist anymore. This issue should be closed.

[2018-08-07 17:03] kgremban commented on #12021
Hi @darobs the Windows runtime installation has been updated with a great PowerShell script, so your issue should no longer be an issue. Please try out the new installation steps and close this issue if it's resolved, or let me know how else I can help.

[2018-08-07 17:04] kgremban commented on #11891
@formulahendry can you check the updated article and close this issue if you consider it resolved? If not, please let me know what else I can do to help.

[2018-08-07 17:04] jason-j-MSFT commented on #12999
@paulmackinnon-adv365
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 17:05] jason-j-MSFT commented on #13006
@vishalaj1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 17:06] kgremban commented on #11807
@AnirvanK do you consider this issue resolved, or is there more that we can help you with?

[2018-08-07 17:07] thuansoldier commented on #12967
If not, it would be good to give a note in the document. People might ask if VNET peering can be established between non-Gov region and Gov region. Thank you.

[2018-08-07 17:08] MicrosoftGuyJFlo commented on #12823
Try setting the option "Require users to register when signing in?" to Yes under Password Reset Registration options. This should resolve that for you based on my testing.

[2018-08-07 17:09] thuansoldier commented on #12382
@rolyon This would not really make sense to bring VM to compare. Virtual network wraps a virtual machine and network can not be managed by cloud tenant. VM is different.

[2018-08-07 17:09] georgewallace commented on #8439
@YutongTie-MSFT The link was corrected on June 27th, this issue has now been resolved and can be closed.

[2018-08-07 17:12] kobulloc-MSFT commented on #13015
@jarz Thank you for the feedback!  I will assign this to the document author so they can review and update the document accordingly.

[2018-08-07 17:18] djpmsft commented on #12453
@douglaslMS @vthokie93 Unfortunately I have been unable to reproduce this issue. As I mentioned earlier, whenever an error occurs in one subscription, the drop-down still populates for me. I would need to gather more information or hop on a call to see what exactly is happening

[2018-08-07 17:19] MicahMcKittrick-MSFT commented on #12994
Thanks for the question! We are investigating and will update you shortly.

[2018-08-07 17:19] Mike-Ubezzi-MSFT commented on #13003
@Penberthy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 17:19] MicahMcKittrick-MSFT commented on #13001
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-07 17:26] thuansoldier opened #13021 "Is there any backup constraint or data privacy that we need to pay attention to?"
Is there any backup constraint or data privacy that we need to pay attention to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f370037-8b61-ccf6-450f-0acef403094e
* Version Independent ID: 632103a6-fb66-3d35-6e50-e0b36a2e51dc
* Content: [Azure Government Backup](https://docs.microsoft.com/en-us/azure/azure-government

[2018-08-07 17:27] #8136 closed

[2018-08-07 17:28] priyamohanram commented on #13010
Thanks for posting the issue! I'm currently checking with the product team about this, and will respond to this thread once I have clarification.

#in-progress

[2018-08-07 17:32] veyalla commented on #12996
@sergaz-msft - we updated the the docs to move to a script-based install. The opening of the ports is done by install script now.

@deepak7434 This is not required for Linux because Linux uses domain sockets for edge daemon to module communication.

Windows is still in preview where we only support http based communication so the opening of the ports is required. Even when using http, the edge dae

[2018-08-07 17:33] georgewallace commented on #10491
@CeciAc I have confirmed that the links now work in the Japanese and the English versions of the articles. Can you confirm this is the case as well?  If so, we can close the issue.

[2018-08-07 17:35] LarryBolton commented on #12935
I'm pretty sure Step 4 of these instructions are wrong. I was able to get this to work (partially) by downloading the certificate file. An XML file can't be used to create an X509 Certificate. I believe Step 4 should read like this:
=====================================
Step 4 - Click the "Configure (app name)" link at the bottom of the page to access the "Configure sign-on" page. From the "Config

[2018-08-07 17:37] YutongTie-MSFT commented on #12869
@anrothMSFT Thanks for your solution.

[2018-08-07 17:38] waltmatthews commented on #12826
The key for me was removing the previously generated certificates.
sudo rm /var/lib/iotedge/hsm/cert_keys/*
sudo rm /var/lib/iotedge/hsm/certs/*
thanks to @johscheuer for your update!

[2018-08-07 17:41] jeevansd commented on #12935
@LarryBolton YEs, you are right here.
@chetansriv  and @v-viinde Can you please make the change in the article here?

[2018-08-07 17:43] TravisCragg-MSFT commented on #13004
@TymWongPSNinja yes, this is correct. You will need 1 gateway for each VNET.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-07 17:43] #13004 closed

[2018-08-07 17:44] jeevansd commented on #11912
@LarryBolton thanks for the confirmation.
@chetansriv and @v-viinde Can you please update the doc and provide the instructions on how to use WS-Fed endpoint?

[2018-08-07 17:45] YutongTie-MSFT commented on #8439
@georgewallace Thanks for the update, I will close it now.

@maxcalvin Hi, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-07 17:45] #8439 closed

[2018-08-07 17:50] #12639 closed

[2018-08-07 17:50] BryanTrach-MSFT commented on #13000
@isharehappycode Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-07 17:52] YutongTie-MSFT commented on #12974
@taksd Hi, thanks for your response, I have assigned the author to update the document properly.

@Jann-Skotdal Hi, this is a document enhancement issue, can you please clarify it and update the document as necessary? Thanks a lot!

[2018-08-07 17:59] Shahramjds opened #13022 "Need i thise"
I need to support thiese program pls help me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b47cdf9-26e4-ade2-f04f-99d14f8c74b9
* Version Independent ID: fff3ffdb-c532-1e94-2d21-f45e445dce98
* Content: [The elements of the B2B collaboration invitation email - Azure Active Directory](https://docs.microsoft.com/en-us/az

[2018-08-07 18:01] femsulu commented on #12829
@rboucher any additional input on @simonschwingel 's question?

[2018-08-07 18:03] LisandroSu opened #13023 "Add note about filesystem"
@sengokyu commented on [Tue Aug 07 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/623)

I need a note about the filesystem.
Azure file share mounted via SMB(CIFS), and lack of Linux capabilities which need by some applications (like latest MySQL/MariaDB).
Cannot persist that applications.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID:

[2018-08-07 18:04] LisandroSu commented on #13023
Hi team,

Can you check on this request for more information?

Thanks!

[2018-08-07 18:05] Blackmist commented on #12415
@nyghtwel Sorry for the late reply, was out of office for a few days. I used 0732100f-1a38-4e49-a514-c9b44c697ab5, which was returned by calling [GetDomains (https://southcentralus.dev.cognitive.microsoft.com/docs/services/d0e77c63c39c4259a298830c15188310/operations/5a59953940d86a0f3c7a827d)](https://southcentralus.dev.cognitive.microsoft.com/docs/services/d0e77c63c39c4259a298830c15188310/operatio

[2018-08-07 18:07] YutongTie-MSFT commented on #12415
@Blackmist Thanks for your effort. Can I close the issue now?

[2018-08-07 18:13] MicahMcKittrick-MSFT commented on #12901
@haydenhancock can you try running the command with the --force command at the end?

`func init MyFunctionProj --force`

[2018-08-07 18:14] TravisCragg-MSFT commented on #12694
@Noambi I am verifying all of the M series sizes that are listed, so the correct versions can be added. I will post here when I am done testing.

[2018-08-07 18:16] jeevansd commented on #6325
@chetansriv can you please include the steps for getting the Thumbprint of the certificate? Also mention the link for the Freshdesk support article if customer need help.

[2018-08-07 18:17] femsulu commented on #12579
@jkallenbach  sounds good. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-07 18:17] #12579 closed

[2018-08-07 18:18] Blackmist commented on #12415
@YutongTie-MSFT sure, go ahead and close.

@nyghtwel @Shoshin23 , the URL for the new document (after it is published) should be https://docs.microsoft.com/azure/cognitive-services/custom-vision-service/rest-api-tutorial. This will return a 404 until the document goes live.

[2018-08-07 18:28] MicahMcKittrick-MSFT commented on #12956
Are you actually deleting the cluster?

`az group delete --name myAKSCluster --yes --no-wait`

If yes, this would make sense as the Static IP is associated to that group so removing the cluster will destroy the public IP as well.

[2018-08-07 18:29] MarileeTurscak-MSFT commented on #13022
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-08-07 18:30] Penberthy commented on #13003
My bad, there was something else sitting on that port, please ignore.

[2018-08-07 18:30] #13003 closed

[2018-08-07 18:32] BryanTrach-MSFT commented on #13005
@tigerjos Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 18:33] MicahMcKittrick-MSFT commented on #12989
@dcbrown16 in VMSS placement groups will automatically work in a similar fashion as AV sets.

@ggailey777 could you take a look and see if we can make this information more clear?

[2018-08-07 18:36] MicahMcKittrick-MSFT commented on #12994
@heatmiser this is the current supported formats for Azure. So it is not a matter of being supported with OpenSSL or OpenSSH but rather an Azure Limitation.

If this is something you would like to see supported I would suggest you leave that feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) that way the product teams can see it and others can also upvote the featur

[2018-08-07 18:36] #12994 closed

[2018-08-07 18:42] MarileeTurscak-MSFT commented on #12987
This is a duplicate issue. I am closing this out and working on #12986

[2018-08-07 18:42] #12987 closed

[2018-08-07 18:46] mganeshphani commented on #12984
@femsulu Thankyou..
based on resource schema from https://resources.azure.com for an existing alert..  there is an option
under conditions for each field, called "containsAny"

would this be something that would entertain my scenario? if yes, whats the datatype "containsAny" accepts?

`"condition": {
      "allOf": [
        {
          "field": "category",
          "equals": "Administrative",

[2018-08-07 18:47] lleonard-msft commented on #10555
@BryanLa - Can you take a look at this, please?

[2018-08-07 18:48] MicahMcKittrick-MSFT commented on #12999
@TomArcher I ran through the doc and can confirm I get the same behavior. Can you take a look?

[2018-08-07 18:51] MicahMcKittrick-MSFT commented on #13019
@badbob001 Azure isolates your services and even though you might not see a NIC associated with the IP there is one on the backend. You're services won't come in contact with any other IPs with the same IP address on the same virtual network.

[2018-08-07 18:52] Mike-Ubezzi-MSFT commented on #12818
@shiwaniB We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-07 18:52] #12818 closed

[2018-08-07 18:53] LarryBolton opened #13025 "SharePoint on-premises App Only Working for Organizational Accounts"
SharePoint 2016 Farm, with Azure AD P1

I've been able to get the new Azure SharePoint on-premises Application set up and working, but only for organizational (Work or School) accounts.

Microsoft (personal) Accounts are able to successfully authenticate with Azure AD, and get passed to the SharePoint server, but once there they are not able to access the SharePoint site. Even though they have bee

[2018-08-07 18:57] Mike-Ubezzi-MSFT commented on #12826
@vbadri Check the following 'certs' folder in the GitHub repo: [Azure/azure-iot-sdk-c](
https://github.com/Azure/azure-iot-sdk-c/tree/master/certs)

[2018-08-07 18:58] Mike-Ubezzi-MSFT commented on #12826
@johscheuer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-07 18:58] LarryBolton commented on #13025
Not sure why the formatting of my posts are all bold & large fonts, sorry 'bout that.

[2018-08-07 19:04] taksd commented on #12974
I know dynamic dictionary feature and I use it with V3 APIs, but I should not include many dictionary words in a single sentence. So, I am expecting V3 supports Tranlator Hub natively and works better than dynamic dictionary. So, please confuse these two different features. My question is about Translator Hub.

[2018-08-07 19:06] Mike-Ubezzi-MSFT commented on #8723
@thangduong Are you specifying an existing resource group or are you letting the `az ml env setup` command create a new resource group? I am unable to get this to work if I specify an existing resource group, as I still see an secondary resource group created without anything deployed to it.

@nuiwos Being the original person who opened this, are you still having issues?

Regards,
Mike

[2018-08-07 19:10] Mike-Ubezzi-MSFT commented on #8723
@YutongTie-MSFT Is there a resource within the ML product group that could go through these instructions for setting up a ML work-space, as this tutorial is having issues setting up this portion of the tutorial.  ~Mike

[2018-08-07 19:11] Jann-Skotdal commented on #12974
@taksd The Microsoft Translator Hub can only be used with V2. To customize translations with V3, you should use our Custom Translator (http://aka.ms/translatorcustomization). You can learn more about the differences between these two products on our customization page in this documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/translator/customization). We will update this pag

[2018-08-07 19:13] #9027 closed

[2018-08-07 19:15] YutongTie-MSFT commented on #8723
@aashishb Hi, can you please check if there something wrong with the tutorial about setting up? Thanks a lot!

[2018-08-07 19:16] henriquebrisola commented on #12722
Thanks!

[2018-08-07 19:16] #12722 closed

[2018-08-07 19:27] lzieba91 opened #13026 "Missing link?"
Learn more about determining [relative latencies between Azure regions and internet service providers](#determine-relative-latencies-between-azure- regions-and-internet-service-providers) and how to monitor communication between a VM and an endpoint with connection monitor. - There are some issues with this sentence, looks like proper link is missing.

---
#### Document Details

⚠ *Do not edit thi

[2018-08-07 19:27] MarileeTurscak-MSFT commented on #12990
Hi @khccjp , unfortunately we cannot release this information. Please subscribe to AAD feature updates to be updated when this is released. https://azure.microsoft.com/en-us/updates/?product=active-directory

[2018-08-07 19:27] #12990 closed

[2018-08-07 19:29] femsulu commented on #12988
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 19:30] toenie23 commented on #8176
@hirokib @Mike-Ubezzi-MSFT i'm having similar issues with my customers

[2018-08-07 19:33] Ellenprater opened #13027 "Powershell command for creating a Public IP address for a NIC on a Virtual Machine behind a Standard Load Balancer"
Since the Standard Load Balancer requires that a Public IP address be a Standard SKU instead of a Basic SKU, wouldn't we need to add the SKU in order to prevent a  SKU Mismatch?  i, e. We create a new public IP address to assign to a NIC on a Virtual Machine behind the Standard Load balancer.  $pip = New-AzureRmPublicIpAddress -Name $pipName -ResourceGroupName $rgName `
    -AllocationMethod Stati

[2018-08-07 19:36] vbadri commented on #12826
@Mike-Ubezzi-MSFT -- sorry, still dont' get it.  If you look at the script I uploaded, I have followed each step exactly. I still don't see where the .crt file is. I did check the directory you mentioned. It is not mentioned anywhere in the instructions. What am I missing?

[2018-08-07 19:39] bremnes commented on #12689
Interested in this as well. Somehow you are keeping this container running in an AKS cluster synchronized with the source code on my machine.

After inspecting the pod in the cluster it seems like you are using something called  'mindaro' which I can't seem to find any good documentation of.

In addition there's this volume mounted on the container, but isn't listed through `kubectl get pv,pvc --a

[2018-08-07 19:39] dregala3 commented on #9068
Detailed steps: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal#get-application-id-and-authentication-key

[2018-08-07 19:44] Karishma-Tiwari-MSFT commented on #12940
@lastcoolnameleft Thanks for your valuable feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 19:47] manmohan556 commented on #12920
I have used  Java method

Blob.upload(). I have a issue regarding the behaviour.
1:I want to know wether this method is synchronous or not.
2: when I check log it look like first (put block) then (putblocklist) is called approx diff between these two method calling is 1  min.

3:I want to know is both method is synchronous.
4:When I suppose to get output after both method called or either after pu

[2018-08-07 19:55] #12933 closed

[2018-08-07 19:57] Mike-Ubezzi-MSFT commented on #8176
@toenie23 @hipejoe This issue is being looked at by the product team. I am hoping to have an update. Although not the official channel for handling product issues, I am hoping @hirokib or @ronortloff can provide an update.

[2018-08-07 19:58] taksd commented on #12974
Teradata does not want to build custom translator because 1) we have limited # of existing translations that can be used for NMT, 2) we don't have translations for new languages. However, we can prepare terminology translations specific to our products. This is why we try to customize NMT using dictionary. I hope Microsoft understand this point and help us in near future.

[2018-08-07 20:02] Mike-Ubezzi-MSFT commented on #12826
@vbadri Which O/S are you using with this tutorial?

[2018-08-07 20:03] #12983 closed

[2018-08-07 20:07] toenie23 commented on #8176
Got it @Mike-Ubezzi-MSFT ! Can you or @ronortloff ping me @totruong once you figure this out? This is a critical question from my customer

[2018-08-07 20:08] BryanTrach-MSFT commented on #12729
@kylebarker715 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-07 20:09] vbadri commented on #12826
Ubuntu 16.04.  The exact steps I am executing are below, FWITW, the exact commands I am executing are below..

[code]

[2018-08-07 20:10] cbarkerms opened #13028 "Environment creation step fails for westcentralus location"
The following command would not succeed when using a location of 'westcentralus':

az ml env setup -n &lt;new deployment environment name&gt; --location &lt;e.g. eastus2&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc38ecf-87ef-cc6f-dd84-1df3d59081fe
* Version Independent ID: 04721d96-e83a-6d5f-f276-5cb9d4d39762

[2018-08-07 20:11] cbarkerms commented on #13028
Title should read "Environment creation step fails for westcentralus location"

[2018-08-07 20:13] cbarkerms opened #13029 "Environment creation step results in unexpected creation of 2 resource groups"
"az ml env setup -n cbarkeriris2018 --location eastus2" results in 2 resource groups being created and it is unclear why:

1. cbarkeriris2018rg
2. cbarkeriris2018rg-azureml-56348

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc38ecf-87ef-cc6f-dd84-1df3d59081fe
* Version Independent ID: 04721d96-e83a-6d5f-f276-5cb9d4d

[2018-08-07 20:14] BryanTrach-MSFT commented on #12933
@marekr We spoke with a member from the product group and they verified certificates can start auto renewing 90 days out. Certs can be manually renewed 60 days out.

We have updated the documentation to make this more clear. The changes to the doc should be public within 24 hours.

The feature owner verified they will update the UX to make these dates more clear as well.

We reviewed the support c

[2018-08-07 20:16] Mike-Ubezzi-MSFT commented on #12826
@vbadri Let me walk through this tutorial. Hang tight. Thanks!

[2018-08-07 20:17] san9211 commented on #6824
I have followed all the steps till Step 7 and stuck. When I press enter button on command windows I get following output. Not sure what is exact issue.
ProvisioningClient RegisterAsync . . . Failed
ProvisioningClient AssignedHub: ; DeviceID:

[2018-08-07 20:29] cforbe commented on #11089
Hi @DinoSourcesRex sorry for the late response. Creating a script-based dataflow was done by choosing "Create a Transform Data Flow (Script) transform" and filling out the dialog box with your python code.

[2018-08-07 20:30] MicahMcKittrick-MSFT commented on #13023
@sengokyu Not sure I am fully understanding the ask.

The file system provided in this doc is to help ensure that the data associated with your container remains even if you delete the cluster. This would not include the file system of the OS itself but only the data you are looking to retain.

Can you elaborate a bit more on the ask?

[2018-08-07 20:32] Adam-Smith-MSFT commented on #13017
@husseinkorly Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 20:34] SnehaGunda commented on #12936
@htoma Lease mechanism is used by change feed processor library see this doc:  https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed It's an internal concept of Cosmo DB. It's not related to data migration tool. The migration tool doesn't use any lease collection. Are you referring to something different?

[2018-08-07 20:34] raullarosa commented on #6349
@dazinator as mentioned by @neilpeterson above, please use a resource group with a compatible region (i.e. westcentralus may be the closest to you if you normally use eastus)

https://github.com/Azure/ACS/blob/master/announcements/2017-08-04_additional_regions.md

After changing the region I received the template deployment error:

The template deployment 'azurecli1533673725.92306375737' is not va

[2018-08-07 20:37] KjetilEVRY opened #13030 "Step 2 needs clarification"
In step 2, it should be noted that AAD Connect doesn't support logins with a nested membership. For example, if your Azure AD Connect administrator account is a member of a group assigned to a login, that's not enough it will not work. The DBA have to give direct DBO rights to a login linked to your user account, otherwise the AAD Connect install wizard will fail in the end with an obscure error m

[2018-08-07 20:43] MohitGargMSFT commented on #12976
@aryapankaj Thanks for reporting! I have assigned the issue to the content author to update the screenshot in the document.

[2018-08-07 20:51] vbadri commented on #12826
thanks, mike. happy to have a debug session or provide more logs if it helps

[2018-08-07 20:52] MohitGargMSFT commented on #12985
@KeiroKamioka0000 Please note that [Implement the recommendation](https://docs.microsoft.com/en-us/azure/security-center/security-center-remediate-os-vulnerabilities#implement-the-recommendation) section, point 3 states that - To view the details of a failed rule, select it in the list (screenshot provided). The details of the failed rule does have all required information.

[2018-08-07 20:54] MohitGargMSFT commented on #13022
@Shahramjds Please update on what exactly help you are looking for. If it is related to document feedback please help with more information and we will assist you accordingly.

If there are further questions related to your implementation scenario, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://so

[2018-08-07 20:54] anushreeringne opened #13031 "Simplify Get IoT Hub connection information"
We can simplify this step
Service key and connection string is here:
# "IoT Hub" &gt;&gt; your hub &gt;&gt; "Shared access policies" &gt;&gt; "service" &gt;&gt; "Connection string"

Partition Count, EventHub compatible name and EventHubCompatible endpoint is here:
# "IoT Hub" &gt;&gt; your hub &gt;&gt; "Endpoints" &gt;&gt; "Events" &gt;&gt; "Partitions"

The endpoint needs to be just updated to us

[2018-08-07 20:55] davidmu1 commented on #12436
Corrected the URL in the article.

#please-close

[2018-08-07 20:59] MohitGargMSFT commented on #12813
@CraigHumphrey I am not aware of that process. I have assigned the issue to the content author to further investigate and update as appropriate.

[2018-08-07 21:06] ryanrclark opened #13033 "2 Node cluster, adding to Azure Site Recovery - how to make ASR/Recovery agent aware of cluster"
I'm preparing my on-Prem hyper-v cluster to replicate VMs to Azure using Site Recovery. How do I get the recovery services agent and my Azure vault to be aware my hyper-v nodes are clustered?

[2018-08-07 21:10] amysy opened #13036 "IIS Server doesn't start after installation as described in this document. Do we need to give it some time to sync."
I waited for about 5 minutes. no success. IIS installation was successful in VM though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.micros

[2018-08-07 21:12] TomArcher commented on #12999
@paulmackinnon-adv365 Thank you for the feedback. I'm looking into this now, and will reply when I know more.

[2018-08-07 21:14] denver opened #13037 "Wasn't getting the output of IP address with query."
`az vm show --resource-group myResourceGroup --name myVM -d --query [publicIps] --o tsv`

I removed the brackets [ ] from the string and it worked.

`az vm show --resource-group myResourceGroup --name myVM -d --query publicIps --o tsv`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c

[2018-08-07 21:14] douglaslMS commented on #13018
@123deepak One of the ADF devs is (tentatively) going to prepare a C# sample for the Event-based Trigger article, as you suggested. I don't have a timeline for this at this time.

[2018-08-07 21:15] CraigHumphrey commented on #12813
Thanks Mohit.

[2018-08-07 21:17] nberdy commented on #6824
@san9211 Can you give more details around the error you're seeing?

[2018-08-07 21:18] prara06 opened #13038 "Additional queries"
how do i apply a tag to all resources groups in all subscriptions (global tags).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36338238-48ed-9dba-f559-519217eedf6e
* Version Independent ID: 66e19eb1-579f-3538-4fe1-581cb0ed2b35
* Content: [Manage Azure solutions with PowerShell](https://docs.microsoft.com/en-us/azure/a

[2018-08-07 21:20] CeciAc commented on #10491
Thank you, @georgewallace

I confirm the links works now in both versions

Kind regards,
Microsoft DOCS International Team

[2018-08-07 21:20] #10491 closed

[2018-08-07 21:27] chrisdeely opened #13039 "Typo in NIC creation"
I believe there is a typo in the section titled "Create NICs". Two subnets were created but only one is used.

In step 2, I believe the _second_ subnet should be referenced:
`$nic2 = az network nic create --name $nic2Name --resource-group $rgname --location $location --private-ip-address-version "IPv4" --subnet $subnet2Id  --lb-address-pools $backendAddressPoolV4Id --lb-inbound-nat-rules $natRule2

[2018-08-07 21:46] ecfan commented on #12777
@remyblok Thanks for your feedback! We've created a work item for this request and will address in an upcoming sprint.

@BryanTrach-MSFT - #please-close, thanks!

[2018-08-07 21:47] prafullkotecha commented on #10887
I tried everything. I am now stuck on some sort of UI error, which looks like a json parsing error in react app. And, I am just stuck there, while also accruing charges for resources used. It's been, sadly, a frustrating experience so far. I have contacted support, but haven't heard back from them in 4 days.

[2018-08-07 21:51] nzregs opened #13040 "pricing link update please?"
the pricing link on the menu to the left - Resources/Pricing - takes you to azure.microsoft.com.  Can that be updated to point directly to the SignalR service pricing page please?  https://azure.microsoft.com/en-us/pricing/details/signalr-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5132b1-2ef2-0732-feb0-6

[2018-08-07 21:52] ecfan commented on #12329
@hannesne Hi Hannes, thanks for your suggestion! We've created a work item for this request on our backlog to address in a later sprint.

@mike-urnun-msft #please-close

[2018-08-07 22:00] #11784 closed

[2018-08-07 22:06] tbebekis commented on #12935
@LarryBolton Thanks for the information.

I'm preparing a test environment for all this and then I'll test the instructions. I'll let you know the result. Although I saw your #13025 ticket, and that's not good news.

Azure AD B2B documentations states that "_... (B2B) collaboration capabilities enable any organization using Azure AD to work safely and securely with users from any other organizatio

[2018-08-07 22:12] MicahMcKittrick-MSFT commented on #13037
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 22:13] MicahMcKittrick-MSFT commented on #13036
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 22:15] SnehaGunda commented on #11614
@Maggern3  The document describes in general about how to denormalize the source data to fit it into a document database. it doesn't mention that joining the documents between inter collections. I can't see any corrections to the doc. We will now proceed with closing this issue. Feel free to reopen if you have any further questions. You can also contribute to docs by clicking on the edit option on

[2018-08-07 22:16] SnehaGunda commented on #11614
#please-close

[2018-08-07 22:20] taksd commented on #12974
So, I am looking for the same feature as Glossaries in Google Translator Tookit. I think it is very useful for users like us.

[2018-08-07 22:27] MicahMcKittrick-MSFT commented on #13037
@denver I checked these commands and both versions actually worked for me:

![image](https://user-images.githubusercontent.com/32313503/43805869-40be362c-9a56-11e8-95de-9a7392378cb5.png)

This is likely a versioning issue you are running into. I was running the commands in Azure Cloud Shell without issue.

What were you running the command in where you saw the issue?

[2018-08-07 22:29] #12329 closed

[2018-08-07 22:29] anthonynz opened #13042 "Cannot change Smart Lockout settings based on these instructions"
Custom smart lockout settings are greyed out and cannot be modified with Azure AD Basic licensing - as required according to this article.

After assigning myself an Azure AD Premium P1 licence the feature was available to change.

Another MS fake news document, thanks Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-08-07 22:31] #9486 closed

[2018-08-07 22:31] #9818 closed

[2018-08-07 22:38] ecfan commented on #9818
@dave-hillier Hi Dave, I'm addressing the doc issues, but regarding the product experience and the requirement to create the receiver before the sender, could you please submit this feedback at the product feedback forum: https://feedback.azure.com/forums/287593-logic-apps

Thanks!

[2018-08-07 22:38] SaurabhSharma-MSFT commented on #12884
@peirens-bart We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-07 22:38] #12884 closed

[2018-08-07 22:39] TravisCragg-MSFT commented on #13026
@lzieba91 Thanks for the Feedback! I will get this link corrected.

[2018-08-07 22:39] Mike-Ubezzi-MSFT commented on #12826
@vbadri I was successful in getting this tutorial deployed. Two things I think make have contributed to your issue:

1) [Installation on the downstream device](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#os-level)

`sudo cp /home/miubezzi/certs/azure-iot-test-only.root.ca.cert.pem  /usr/local/share/ca-certificates/azure-iot-test-only.root.ca.cert.pem.crt

[2018-08-07 22:39] MicrosoftGuyJFlo commented on #13042
@anthonynz I have escalated this back to the product team. I assure you this is not "fake news". Assigning a P1 license is a workaround for now but should not be required long term. I will update you as I know more from the product team.

[2018-08-07 22:40] MicahMcKittrick-MSFT commented on #13036
@amysy I tested this doc and once I connected to the VM and ran the command

Install-WindowsFeature -name Web-Server -IncludeManagementTools

It took about 2 mins to finish.

After about 15 seconds after it finished I was able to connect to my IIS server using the Public IP of the VM.

When you created the VM did you remember to open port 80 in the Network Security Groups? Without that you will no

[2018-08-07 22:41] ecfan commented on #12854
#please-close

[2018-08-07 22:41] mmcla commented on #13042
Thanks for letting us know. The document is right, so we'll take a look at the portal and see if something's wrong with how we're enforcing licensing for basic licenses on that page.

[2018-08-07 22:43] kobulloc-MSFT commented on #12692
@spelluru I was unable to complete the documentation as it was written.  It's possible that the commands need to be updated, but I think we'd also benefit by explicitly calling out what values need to be replaced by the user (and explain what those values are, no matter how obvious it may seem as not all of our readers speak English as their first language).

[2018-08-07 22:45] anthonynz commented on #13042
It may be related to the Custom Password list being in the same pane - as that feature requires premium.

[2018-08-07 22:51] TravisCragg-MSFT commented on #13027
@Ellenprater Standard Load Balancers require a Standard SKU Public IP to be attached to the Load Balancer if it is public facing. Virtual Machines should still be able to use basic SKU Public IPs even if they are connected to a Standard LBs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the disc

[2018-08-07 22:53] TravisCragg-MSFT commented on #13026
@lzieba91 I have fixed the link, the document should update within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-07 22:53] #13026 closed

[2018-08-07 22:53] SaurabhSharma-MSFT commented on #13014
@brokkena  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-07 22:54] MicahMcKittrick-MSFT commented on #12751
The simple answer to your question is there is not an automated way to migrate a Scale Set instances from unmanaged disks to managed. You will need to redeploy the scale set using managed disks.

The simplest way to do this would be to [create an image based](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/capture-image-resource) off one of your original scale set instances VMs the

[2018-08-07 22:56] TravisCragg-MSFT commented on #13039
@chrisdeely Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@KumudD I was unable to determine if the VMs should be in different subnets based upon the doc, so I am unsure if this should be updated.

[2018-08-07 22:58] #11614 closed

[2018-08-07 23:02] SaurabhSharma-MSFT commented on #13025
@LarryBolton Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-07 23:04] SaurabhSharma-MSFT commented on #13030
@KjetilEVRY Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-07 23:04] vbadri commented on #12826
@Mike-Ubezzi-MSFT, Confirming that the certificate test passed.

Thanks for the quick turnaround. Would recommend updating the doc with the above two gotchas for others.

I still have a problem with authentication, but will open a separate ticket on that. I think this part is now clear.

[2018-08-07 23:05] vasivara-MSFT commented on #13031
@anushreeringne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-07 23:07] Ayanmullick opened #13043 "There should be documentation for Powershell."
There should be similar documentation for Powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 578368f2-ff6f-b692-c843-706daf73be16
* Version Independent ID: f560235a-7cc0-9ac5-7694-40ce6382e49f
* Content: [Azure Quickstart - Run Batch job - CLI](https://docs.microsoft.com/en-us/azure/batch/quick-create-cli)
* Co

[2018-08-07 23:12] MicahMcKittrick-MSFT commented on #12753
@mrdfuse this is the link for enabling log analytics

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-log-analytics

The command looks like so:

[code]

Or you can go down the yaml route which is my favorite:

[code]

[2018-08-07 23:12] dcbrown16 commented on #9774
Thanks @georgewallace

[2018-08-07 23:12] #9774 closed

[2018-08-07 23:12] vbadri opened #13044 "C# module fails when using X.509 certificates"
Hi,
I created X.509 certificates using the instructions in [this](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#certificate-creation) post. I have verified that the certificates are valid.

`openssl s_client -connect dekkioTestHub2.azure-devices.net:8883 -CAfile certs/azure-iot-test-only.root.ca.cert.pem`

However, when I configure the iotedge process to u

[2018-08-07 23:13] #5753 closed

[2018-08-07 23:13] Ayanmullick commented on #13043
https://docs.microsoft.com/en-us/azure/batch/quick-run-dotnet
This should also be doable thru PowerShell.

[2018-08-07 23:16] femsulu commented on #13038
@prara06 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-07 23:25] mrbullwinkle commented on #12146
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-07 23:27] SaurabhSharma-MSFT commented on #13030
@KjetilEVRY I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-07 23:27] anthonynz commented on #13042
Appreciate the prompt response on this gents.

An update on the behaviour I experience...

If I disable the Premium P1 licence, and return to an Azure AD Basic, I can no longer modify the settings under "Custom smart lockout". (greyed-out)

Also, the screen shot in the article shows the "Banned passwords" option is available to change, so I suspect this screenshot was taken from an account with a

[2018-08-07 23:27] #12146 closed

[2018-08-07 23:28] ellacroi commented on #12998
@bingosummer , each version is a different product, and thus would require a re-acceptance of new terms.   Please use that as your operating assumption. #please-close

[2018-08-07 23:29] jeevansd commented on #13025
@LarryBolton Bold and large font is ok. No worries.

[2018-08-07 23:32] machineloop opened #13045 "Support for Accept-Encoding header responses with multiple compression types"
Does Static website hosting support gzip and brotli static asset compressed responses based on the browser's Accept-Encoding header set to the value of `gzip, deflate, br"=` when it makes requests?

The static hosting would also need to return a `Vary: Accept-Encoding` Header to keep CDNs from mixing up the compressed responses

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-08-07 23:33] #12826 closed

[2018-08-07 23:35] Alberto-Vega-MSFT commented on #13012
@jpchauhan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-07 23:40] kobulloc-MSFT commented on #12260
@ishepherd Just to confirm, that is what I would if I were in your position.

[2018-08-07 23:42] andrewwself opened #13046 "Metadata to boost results"
How can metadata be used to boost results?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [Use metadata in your knowledge base along with the GenerateAnswer API](https://docs.microsoft.com/en-us/azure/cognitiv

[2018-08-07 23:44] femsulu commented on #12998
Thanks @ellacroi

@bingosummer hope this answers your question. We will now close this issue but don't hesitate to ping if you have any follow-up questions and we will be happy to re-open and continue the conversation.

[2018-08-07 23:44] #12998 closed

[2018-08-07 23:48] kobulloc-MSFT commented on #12262
@ishepherd  We can answer questions about the documentation but the best place for specific answers about implementations are going to be the forums:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

https://stackoverflow.com/questions/tagged/azure-application-insights

We actively look through posts in the forums, and will do our bes

[2018-08-07 23:56] prara06 commented on #13038
Pl explain how to update tags without deleting current tags (retain)

Sent from my iPhone

On Aug 7, 2018, at 6:16 PM, femsulu-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@prara06<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fprara06&data=02%7C01%7C%7C02190af363074f9af7dd08d5fcbbc5a8%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C63669280

[2018-08-08 00:03] gstream1 opened #13047 "CustomActivity with SAS URI connected storage linked service"
Reference Link: https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity

Running into an error when trying to run a batch activity with a storage account that is built with a SAS uri. I am getting errors on the CustomActivity() even though my Linked Services to the storage account and the batch account are working fine. When I change my storage linked servic

[2018-08-08 00:05] #12906 closed

[2018-08-08 00:07] brianwan opened #13048 "Lack info from"
we were planning on using https to communicate to and from the services as some of our information that we are submitting is sensitive.

I looked through the article here:
https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/how-to-setup-ssl-on-mlc

But it seems incomplete and a little overly complicated.For instance, under "Map the CNAME and the IP Address" it says "Run the c

[2018-08-08 00:18] wahyuen opened #13049 "Updates to v3.2.x SDK"
Appears the quickstart guide is out of date since the breaking changes going from 2.1 to 3.2. Specifically there are breaking changes to the interface and instantiation of the client `ComputerVisionAPI ` -> `ComputerVisionClient` and how the region/endpoint should be set.

`computerVision.AzureRegion = AzureRegions.Westcentralus` -> `computerVision.Endpoint = "https://westcentralus.api.cognitive.m

[2018-08-08 00:45] MarileeTurscak-MSFT commented on #12993
Please refer to this thread and see if the workarounds provided are helpful. https://stackoverflow.com/questions/40978295/oauth2-one-time-grant-for-signup-and-lost-password

[2018-08-08 00:49] davecanderson commented on #9475
The sample code throws an error; Test-NetConnection : A positional parameter cannot be found that accepts argument '$null'. The parameter passed to -ComputeName needs to be wrapped in parenthesis.

[2018-08-08 01:08] BryanTrach-MSFT commented on #12777
@remyblok We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-08 01:08] #12777 closed

[2018-08-08 01:13] ko5win commented on #12992
@sergaz-msft I followed the steps from the tutorial word by word and translated them into a Dockerfile. With my Dockerfile configurations, the container starts without any problems but the iotedge service is not running. Systemctl cannot be used inside docker containers natively thus I compensated with service iotedge restart. The log that I think may pinpoint the problem is:

`iotedge list`
An er

[2018-08-08 02:04] CHDAFNI-MSFT opened #13050 "Capacity priority clarification"
The line "Capacity priority reserves data center capacity for your deployments" sounds like guaranteed capacity for a VM size since it states the verbiage 'reserves'. Per the RI FAQs, a reserved instance does not guarantee capacity - https://azure.microsoft.com/en-us/pricing/reserved-vm-instances/#faq - "Do Azure Reserved VM Instances offer a capacity guarantee?
While Azure Reserved VM Instances o

[2018-08-08 02:12] MicahMcKittrick-MSFT commented on #13033
@ryanrclark please share the related document you are referring to

[2018-08-08 02:13] MicahMcKittrick-MSFT commented on #13047
@gstream1 please share a link to the document you are referring to

[2018-08-08 02:26] MicahMcKittrick-MSFT commented on #12751
@Aleksanderis I will close this out for now.

In addition, if you would like to see the feature of migrating to managed disks for existing VMSS I would suggest leaving that feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) so the product team can see and others can upvote.

[2018-08-08 02:26] #12751 closed

[2018-08-08 02:30] MicahMcKittrick-MSFT commented on #13033
In addition, we have information on migrating from Hyper-V to Azure which you might find useful

https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial

[2018-08-08 02:41] yamatoya opened #13051 "Is this an accurate database size?"
I read a [blog - SQLCAT: Determining Database Size in Azure SQL Database V12](https://blogs.msdn.microsoft.com/sqlcat/2016/09/21/determining-database-size-in-azure-sql-database-v12/) and [Manage file space in Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-file-space-management).

I suggest to change the DMV of Calculating database size.

[code]

---
#### Docum

[2018-08-08 02:43] gstream1 commented on #13047
Here you go!
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity

[2018-08-08 02:46] kazshi opened #13052 "timing (trigger) of custom script execution"
I would like to make sure custom script is executed when 'new VM instance is deployed' or 'click Upgrade button on Instances blade (&lt;ScaleSet&gt; - Instances), and it's not executed when 'Starting' VM (from 'Stopped (deallocated)' status). I was asked from my customer but I couldn't find exact information (or I missed).

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-08 02:49] MicahMcKittrick-MSFT commented on #13047
@gstream1 thanks!

@jason-j-MSFT can you take a look as this is Data Factory?

[2018-08-08 03:18] roweak opened #13053 "Add note: Webhook cannot trigger Slack format directly"
There needs to explicitly provide notes that the Webhook couldn't trigger Slack directly, use Azure Function receiver or LogicApp to translate to Slack format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea4f285b-49ce-0734-ce73-09fdbda2bebb
* Version Independent ID: 131f39cc-5a06-a92a-5553-d0bb0e0d6807
* Content: [U

[2018-08-08 03:28] #12612 closed

[2018-08-08 03:30] dcbrown16 commented on #12989
Thanks @MicahMcKittrick-MSFT and @cynthn . To clarify, then:
-A scale set automatically includes at least one placement group (up to 100 VMs, additional group for every 100 when configured to allow multiple placement groups)
-A placement group automatically has five update and fault domains (can these numbers be adjusted?)
-Because of the above, any scale set with two or more VMs automatically has

[2018-08-08 03:57] formulahendry commented on #11891
Looks good to me! Thank you!

[2018-08-08 03:57] #11891 closed

[2018-08-08 04:44] mimig1 commented on #12353
This issue has been addressed by PR 48303, and published as a note in the section https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-nodejs-mongodb-app#create-a-cosmos-db-account. #please-close

[2018-08-08 04:48] aanandr commented on #12929
Thanks Mark - when you specify a service IP range in the vnet space in the Networking tab you should have seen an error right there. I remember seeing it. Also, i dont think it lets you proceed further from that point. Let me know if this has been your observation.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Mark Topping <notifications@github.com>
Sent: Mon

[2018-08-08 05:15] manishmoothedath opened #13054 "error on Step 3 - Set-AzureKeyVaultSecret"
Hi, there is an error on Step 3 Set-AzureKeyVaultSecret . I had to update Access Policies before that to continue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376f32b3-0acb-625a-e635-e62503213c63
* Version Independent ID: c26787f2-f910-c3f0-d787-818d11f71c4a
* Content: [Set up WinRM access for an Azure VM](https://do

[2018-08-08 05:32] patrickjlee commented on #5391
This article *still, after 5 months* seems to be full of bugs. Very disappointed as it wastes a lot of time. I got an error message while trying to install Microsoft.Azure.CosmosDB.Table:

	Attempting to gather dependency information for package 'Microsoft.Azure.CosmosDB.Table.1.1.3' with respect to project 'ConsoleApp1', targeting '.NETFramework,Version=v4.7.1'
	Gathering dependency information t

[2018-08-08 05:32] tymtam2 opened #13055 "AADSTS70001: Application with identifier 'id_here' was not found in the directory azure.com"
I was not able to create the token when using
https://login.microsoftonline.com/common as the 'authority' when creating the context.

(Error: AADSTS70001: Application with identifier 'dd879a9b-6a74-4afb-8894-e66247b79742' was not found in the directory azure.com)

I'm trying this now:
var authenticationContext = new AuthenticationContext(
                $"https://login.windows.net/{Tenant}",

[2018-08-08 05:38] mimig1 commented on #5391
@MicrosoftDocs/azure-cxp-triage - Can you please reopen (if possible) and assign to @SnehaGunda?

[2018-08-08 05:42] amanarneja commented on #5391
@mimig1  Thanks for rechecking. I have Opened and assigned to @SnehaGunda
@patrickjlee / @Leonardo-Ferreira - Sorry about the experience here and thanks for reporting the issue. Sneha will investigate and get back to you ASAP

[2018-08-08 05:44] jason-j-MSFT commented on #13029
@cbarkerms
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 05:46] jason-j-MSFT commented on #13028
@cbarkerms
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 05:48] jason-j-MSFT commented on #13040
@nzregs
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 05:49] jason-j-MSFT commented on #13044
@vbadri
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 06:38] MarkTopping commented on #12929
Hi AAnandr;
I'm afraid that's just not the case. Maybe when you try to specify a range in the Subnet space (which I've not tried), but you can definitely place it in the VNET Space.
i.e.
Vnet: 10.0.0.0/12
K8s Address Space: 10.0.0.0/16
Subnet: 10.1.0.0/16

Results in no warnings on neither the Networking tab or the Review + Create tab.

[2018-08-08 06:43] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 Can you please share the Azure SDK version?
It looks like Cloud service projects upgraded to Azure SDK 2.9 should not generate this warning.
Projects using a prior version of the SDK (even if version 2.9 is installed) can still generate it.
Make sure that you have SDK version 2.9 and not using any prior version.

If that doesn't work for you, to suppress this warning without upgradin

[2018-08-08 06:58] julesman101 opened #13057 ""Types of Storage Account" section needs updating to reflect the 3 "kinds" of storage account."
Azure currently offers 3 kinds of storage account : StorageV1, StorageV2 and Blob.  There is no mention of this taxonomy in this introductory section and of the supporting services each kind of storage account can support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312ba22f-685c-d17f-438f-9656f019012a
* Version Ind

[2018-08-08 07:01] julesman101 commented on #9998
Hi, any update to this?   There is still no mention in the docs regarding the key differences between GPV1 and GPV2 accounts.   Why would a customer choose one over the other?  This needs documenting.

[2018-08-08 08:00] #11125 closed

[2018-08-08 08:20] SychevIgor opened #13058 "Add information about "Diagnose and solve problems" experience"
We have a great new experience, but not covered in a documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14de731-a265-1737-4580-67ca6dede020
* Version Independent ID: a275bb18-dedc-d41c-3541-224b42487b52
* Content: [Slow web app performance in App Service](https://docs.microsoft.com/en-us/azure/app-service/ap

[2018-08-08 08:25] paulmackinnon-adv365 commented on #12999
it's to do with the vm size, it doesn't exist in the region I wanted. quite possibly it doesn't exist at all. found and used the right one and it worked without error.

[2018-08-08 08:48] luyaok opened #13059 "Can't display multiple routes."
Hi, I use the exact code in this document but I can only see the purple route and it goes across Evergreen Point Brg instead of Lake Washington via I-90.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f6104b-2396-52bf-f6f1-44af69fb5b46
* Version Independent ID: 7425e32f-f860-2005-8703-625baab53300
* Content: [Multipl

[2018-08-08 08:49] NayangiriGoswamiGit opened #13060 "Tutorial required to create our own simulated sensor"
The temperature sensor image is there but as docker container having dll files.
Now if I want to publish weather info instead of temperature and pressure, there is no proper guide to create such sample.
Below github link is having code for simulated temperature sensor which is in use as IoTEdge quickstart sample.
https://github.com/Azure/iot-edge-v1/tree/master/v2/samples/azureiotedge-simulated-te

[2018-08-08 08:59] R0chen commented on #10957
I have an question / issue: When we setup provisioning from Workday to AD with the default mappings, AD accounts get provisioned. But even then there are failures in the activity "Synchronization rule action" in the audit logs.

This is the summary error:
Activity Status
Status : Failure
Reason : Failed to process Worker '21431' (see details for more information); Error: We will retry this operati

[2018-08-08 09:25] patrickjlee commented on #5391
Update: the problem seems to be with Microsoft.Azure.Storage.Common v 9.4.0.2-Preview, changing this to 9.0.0.1-preview seems to solve the problem.  That works currently with Microsoft.Azure.CosmosDB.Table v 1.1.3 and Microsoft.Azure.DocumentDB v 1.22.0.

[2018-08-08 09:29] Klaas- opened #13061 "UID/GID question"
hi,
how are the uid/gids created? Is this an algorithm similar to what sssd does when connecting with an active directory?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM

[2018-08-08 09:29] vivekjainAco opened #13062 "QnA + LUIS"
any example of working code of LUIS and QnA in node js? would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041fcf6-3b37-8d88-4d16-73ad0f841b78
* Version Independent ID: 76c146ee-7c51-9486-9a76-cac90ca9b674
* Content: [Integrate QnA Maker and LUIS - Microsoft Cognitive Services - Azure](https://docs.

[2018-08-08 09:36] msghaleb opened #13063 "Can you please add Cassandra and Azure Table"
I'm missing Cassandra and Azure Table in the samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3ab9278-7b1c-e924-f1bf-736032e6d2d7
* Version Independent ID: 213c2041-291c-d048-4b52-ea21c6f4b017
* Content: [Azure PowerShell Samples for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/powershell-s

[2018-08-08 09:44] josundt opened #13064 "Permanent deletion of soft-deleted blobs (GDPR)"
We considered using the new Azure Blob Storage - Soft Delete feature - as a backup solution and safety precaution for accidental blob deletions caused by potential code bugs in our (multitenant) application.

We would like to set the retention as high as possible from a safety perspective, but need to set it as low as possible from a GDPR compliance perspective; since we need to remove all PII for

[2018-08-08 09:50] shruti456 opened #13065 "An established connection was aborted by the software in your host machine"
I followed the documentation step by step but I am getting the following error:
"An established connection was aborted by the software in your host machine"
on the line await provClient.RegisterAsync().
I am using windows 10 and .net core 2.0 for the project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11fcf912-9db1

[2018-08-08 09:53] andybeak commented on #12345
Hi,

I'm sorry for not responding sooner.  I was travelling last week and didn't check my Github notifications.

Yes, I think the documentation should be updated to reflect the fact that the metrics are not available immediately unless the registration with "microsoft.insights" is already done.

I think this is relevant because this registration is not set by default for new accounts.

Thanks,
 An

[2018-08-08 10:04] denishol opened #13066 "Wrong Link"
The link in the sentence
&gt; Enable modern authentication: You need to enable modern authentication on your tenant for this feature to work.
is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d9cfb97-d0f3-3cc1-a460-ff4e05530b92
* Version Independent ID: 3db82b30-1d14-1613-e473-13310e855ab2
* Content: [Azure A

[2018-08-08 10:06] femsulu commented on #12423
@tfitzmac  - any ideas on the logs that could help with root causing this issue?

@romanliv - if this is a service impacting issue, please raise a [support request](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest) with the Azure technical support team. If you don't have a support plan, please send mail to AzCommunity@microsoft.com and we will gladly

[2018-08-08 10:15] transdigiware opened #13067 "Gateway Virtual Network"
[Gateway Jaringan Virtual ]

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
* Content: [Azure Virtual Network peering](https://docs.microsoft.com/id-id/azure/virtual-network/virtual-network-peering-overview)
* Content Source

[2018-08-08 10:36] femsulu commented on #12700
@jackting73 thanks for summarizing your issues with usage discrepancy between the v1 or v2 reports. The best path to resolve this issue and answer your question will be to raise a support request with the Billing team via [Azure mgmt Portal's help&support blade](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest) as shown below. please do not hesitate

[2018-08-08 10:40] femsulu commented on #12829
@simonschwingel We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 10:40] #12829 closed

[2018-08-08 11:19] dmakaroff opened #13068 "Upload image to ACR"
The correct command is `docker run --name base-image ubuntu`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67d7bc0a-3fd6-6737-72b7-52cf371cf11c
* Version Independent ID: 975ffb45-a7c5-cd28-d166-57372f881e57
* Content: [Using ACR with an Azure DC/OS cluster](https://docs.microsoft.com/en-us/azure/container-service/dco

[2018-08-08 11:28] Trundlore opened #13069 "supported scenarios"
I don't believe the support scenarios section is accurate by my understanding.. i.e. PTA is Modern Authentication Only.
legacy protocols like activesync shouldn't work with PTA
legacy apps like office 2010 and office 2013 pre September 2015 update won't work
PowerShell 1.0 won't work
App passwords will not work.

If PTA has been made to work with non-modern authentication methods, where has this b

[2018-08-08 11:31] cephalin commented on #8113
@Dunkirk Since we haven't heard back from you regarding this issue, I'm going to close it as resolved. If you run into further issues, please don't hesitate to reopen another case. Thank you. #please-close

[2018-08-08 11:37] erosinger commented on #12925
@mmacy @Karishma-Tiwari-MSFT Thank you very much for the explanation. Then everything is fine and I do not need to worry about this any more :) Thanks for the help.

[2018-08-08 11:45] Dunkirk commented on #8113
Corporate direction moved out from under me, and we switched from Azure to AWS for this effort, so I don't have any need to try again and see where this is at. Thanks for looking at it anyway.

[2018-08-08 11:45] #8113 closed

[2018-08-08 12:03] kieronlanning opened #13070 "docker-compose"
How does this work when using docker-compose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37cc191d-0958-ac32-2c9a-b5b8f5800451
* Version Independent ID: 9d2a53df-2237-65cc-496f-b93ebd1f7a03
* Content: [View containers logs in Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-

[2018-08-08 12:05] ryanrclark commented on #13033
Hello Micah,
Thanks for responding so quickly. There's no one document i'm looking at, but in docs I was stepping through this process: https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial

To clarify, i'm not migrating. What we have is a cluster of 2 nodes, server 2012 R2. VMs migrate between the hosts and no VM is specifically tied to any host. When I add the hyper-v serve

[2018-08-08 12:16] adumont opened #13071 "Update examples"
I'm trying these examples:

# Get OAuth2 Permissions/delegated permissions
(Get-AzureADServicePrincipal -filter "DisplayName eq 'Microsoft Graph'").OAuth2Permissions

# Get App roles/application permissions
(Get-AzureADServicePrincipal -filter "DisplayName eq 'Microsoft Graph'").AppRoles

And as a result I'm getting:

PS L:\&gt; (Get-AzureADServicePrincipal -filter "DisplayName eq 'Microsoft Graph

[2018-08-08 12:46] djpirra opened #13073 "Partial Mapping on the sink side"
How to proceed when you don't want to map all columns of the sink? If for example you want to keep a sink column as null.
Right now, I am presented with an error saying that I am not mapping all sink columns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75402f01-c53e-25e0-6f1c-bc94d797dda1
* Version Independent ID: a

[2018-08-08 13:26] smappes commented on #13008
Hello,
Thanks for the response.  After reviewing the steps again I found I missed one.  It's working fine.

[2018-08-08 13:46] cephalin commented on #6685
@nicolaibaralmueller It looks like you can find the answer you need [here](https://social.msdn.microsoft.com/Forums/en-US/f354db5c-7977-4e1a-a9b1-7159ecdb01a8/webapp-import-cer-with-java-keystore?forum=windowsazurewebsitespreview).

[2018-08-08 13:49] cephalin commented on #6685
@Kundans002 Using a SAN SSL from godaddy is the same as using other certs, and the tutorial to bind a cert to an app is [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl). Be sure to take a look at the prerequisites section to make sure that your cert meets all the requirements.

[2018-08-08 13:56] Kundans002 commented on #6685
@cephalin , pleasure getting your response. So i have purchased SAN SSL, and used a CSR of Azure VMs (Since Azure App Server is not accessible).
Then i downloaded the certificate from godaddy with IIS type. Completed the certificate and exported into .PFX and uploaded the same in Azure App service.
I can see my website is secure now for all domains.
Cheers!!!

[2018-08-08 14:00] cephalin commented on #6685
@Kundans002 Glad to hear you got it working. If you have any further question on this article, please go ahead and open a new GitHub issue.

[2018-08-08 14:06] CarlRabeler commented on #13051
@yamatoya thanks for your submission - I am investigating.

[2018-08-08 14:10] KjetilEVRY opened #13074 "Clarify auto-upgrade"
How fast are the agent updated after a new release? 1 day? 1 month?  Right now, our DC's that have the Health agent installed, are not updated automatically and we had to manually update on all DC's (to fix the high CPU usage).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9cb20a-e894-df30-b192-368ad893706f
* Versio

[2018-08-08 14:16] rifaterdemsahin commented on #12707
Ahh I got pixel book
2 is not out yet.
https://www.techradar.com/uk/news/google-pixelbook-2

[2018-08-08 14:29] rothja commented on #12676
@ConradSeelye Thanks for this catch. I am removing the reference to the converter. We already have a note under these steps about Azure Site Recovery, so I think that should solve it. Thanks!

[2018-08-08 14:29] TecumsehSamp commented on #8454
@mike-urnun-msft Were you able to reproduce this again? (Tagged the wrong person earlier haha, should have checked better).

[2018-08-08 14:32] rothja commented on #12980
@KeiroKamioka0000 Thanks for the request! At the top of this article, we do point to https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-quota-errors as an example of how to open a support request to change a limit. It is not the same limit, but the process is the same. Does this help? Thank you!

[2018-08-08 14:35] belpepsi commented on #8704
I am receiving the same error.  Is there any update on this please?

[2018-08-08 14:37] baswijdenes commented on #8704
You probably forget to "Grant Permissions" just like I did after you save the permissions.

[2018-08-08 14:39] belpepsi commented on #8704
Permissions were granted.  Just did it again to be sure and still getting the 403

[2018-08-08 14:51] dprice opened #13075 "File Storage Support?"
I have the Azure Storage Emulator running but it currently looks like (as of v5.6.0.0) that it only supports Blob, Queue, and Table storage:

BlobEndpoint: http://127.0.0.1:10000/
QueueEndpoint: http://127.0.0.1:10001/
TableEndpoint: http://127.0.0.1:10002/

The confusing part is when you configure a local connection via the desktop Azure Storage Explorer by selecting "Attach to a local emulator",

[2018-08-08 14:53] aherrick commented on #12948
@MarileeTurscak-MSFT which XMLs are you looking for? As there are multiple uploaded.

[2018-08-08 14:53] Ellenprater commented on #13027
[cid:image001.png@01D42EFD.73763FC0]

From: TravisCragg-MSFT <notifications@github.com>
Sent: Tuesday, August 7, 2018 5:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ellen Prater <ellenp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Powershell command for creating a Public IP address for a NIC on a Virtual Machine behind a Sta

[2018-08-08 14:53] elephanteddie opened #13077 "How 'far' does it scale? Looking for a way to send a message to 1 million users under 30 seconds"
Documentation states a 10 unit maximum, with 1000 concurrent connections per unit.  I read this as a limit of 10,000 users total.  So, what do I use to send a message to 1 million end user apps under 30 seconds? Many forums and help desks have this question still unanswered.  How quickly can you 'change' those 1000 connections?  IE the need is not for 1 million concurrent connections, just the abi

[2018-08-08 14:54] rothja commented on #12676
Signed off on the fix which should publish today.

#please-close

[2018-08-08 14:55] #12676 closed

[2018-08-08 14:56] mmacy commented on #12929
@aanand I can confirm @MarkTopping's statement: no error is generated if you specify a subnet within the VNet for the K8s service range, as long as that subnet is _different_ from the subnet in which you place the cluster. If you attempt to place the K8s service range in the _same_ subnet as the cluster, then yes, an error is displayed.

[2018-08-08 15:02] elephanteddie opened #13078 "How far does SignalR scale? Can I push a message to 1 million clients under 30 seconds?"
Documentation states a 10 unit maximum, with 1000 concurrent connections per unit. I read this as a limit of 10,000 users total. So, what do I use to send a message to 1 million end user apps under 30 seconds? Many forums and help desks have this question still unanswered. How quickly can you 'change' those 1000 connections? IE the need is not for 1 million concurrent connections, just the ability

[2018-08-08 15:05] Ellenprater commented on #13027
![screenshot](https://user-images.githubusercontent.com/12751370/43845831-83025882-9af2-11e8-8be8-aadd6e667198.PNG)

[2018-08-08 15:11] henriquebrisola commented on #11622
Where is the Hyper-V support matrix?

[2018-08-08 15:13] henriquebrisola opened #13079 "No support matrix for Hyper-v"
On Replicated VMs topic say "VMs that replicate to Azure must meet Azure requirements."
But the "Azure requirements"'s link redirects to nowhere. So, how can I know what can be replicated or not by ASR when using Hyper-V?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Inde

[2018-08-08 15:16] dprice commented on #13075
Nevermind. I found the relevant info:

[2018-08-08 15:16] #13075 closed

[2018-08-08 15:19] 123deepak commented on #13018
Ok @douglaslMS, thanks for the info
Please keep us posted.

[2018-08-08 15:30] MrJinx2015 commented on #12432
@JTC-Jeremy I think you are wrong. I have followed this article and it works 100% without any extra steps.
The only draw back is that this *only* works with IE on Windows 7/10 because it needs an ActiveX component for authentication. If you try this with chrome, it will complain about firewall authentication issue's.
If I follow your steps, the Gateway server would be open for the whole internet b

[2018-08-08 15:32] Mike-Ubezzi-MSFT commented on #12803
@sdecker We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 15:32] #12803 closed

[2018-08-08 15:39] mganeshphani commented on #12984
@msvijayn Thankyou for confirming... I am writing a ARM template to ease my life out for this

However I am curious on what this following field represent and purpose of it.. can you explain or show me direction on where to find relevant information:
"containsAny": null

[2018-08-08 15:49] ecfan commented on #12764
@unt1tled Thanks for the feedback, we've created a work item to update or replace references to the "conditions" statement where necessary. :)

@BryanTrach-MSFT #please-close

[2018-08-08 15:55] MicahMcKittrick-MSFT commented on #13061
Thanks for the question! We are investigating and will update you shortly.

[2018-08-08 15:56] MicahMcKittrick-MSFT commented on #13052
Thanks for the question! We are investigating and will update you shortly.

[2018-08-08 15:59] MicahMcKittrick-MSFT commented on #13054
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 16:01] MicahMcKittrick-MSFT commented on #13068
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 16:02] MicahMcKittrick-MSFT commented on #13070
Thanks for the question! We are investigating and will update you shortly.

[2018-08-08 16:09] ChenRahimi commented on #12931
Hi @jeevansd,
Yes I did.
The pattern which I used was https://www.google.com/a/<your-domain>

[2018-08-08 16:12] ChenRahimi commented on #12931
with your domain in the end

[2018-08-08 16:13] JasonWHowell commented on #12622
@Liamdelee Thanks for the attention to details here. If you were tunneled into the cluster, the command in step 4 should function, but I think it is clearer to do all steps from the across-the-internet perspective and use your suggestion. I'll change the doc to reflect that. Good work!

~Jason

[2018-08-08 16:16] MicahMcKittrick-MSFT commented on #12362
@TomArcher I will assign this to you while you wait to hear back from the engineering team.

[2018-08-08 16:16] Mike-Ubezzi-MSFT commented on #12763
@cocosnuss Did you follow the steps to redeploy the sample application? I unfortunately do not have access to the hardware necessary to reproduce this, nor test a fix. The Temperature Alert duration appears to be static. Can you make an enhancement request to make the sensor data collection period configurable: [Azure IoT Hub User Voice](https://feedback.azure.com/forums/321918-azure-iot).

Thanks

[2018-08-08 16:19] MicahMcKittrick-MSFT commented on #12716
@spacecat I am assigning this to the content author to review and ensure this is still expected behavior. And if not, update the doc accordingly.

@ghogen please take a look.

[2018-08-08 16:28] Adam-Smith-MSFT commented on #13057
@julesman101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 16:29] Alberto-Vega-MSFT commented on #13012
@jpchauhan The [Request units in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units) documentation explains [Request units and request charges](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units#request-units-and-request-charges) and are based on multiple [request unit considerations](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units#request-un

[2018-08-08 16:30] raviteja59 opened #13082 "API / Python SDK for ASR Azure-Azure available ?"
any Idea when Will be the API or a Python SDK  for ASR Azure-Azure is will be available . As per https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#user-interface-options , i see it only supports Powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f

[2018-08-08 16:30] rayne-wiselman commented on #13079
thanks! The Azure requirements are in the doc here - https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix#azure-vm-requirements

I'll update the link.

[2018-08-08 16:35] Adam-Smith-MSFT commented on #13045
@machineloop Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 16:38] Mike-Ubezzi-MSFT commented on #12763
@shizn Are you able help out with this issue. Can the period of time the sensor collects data (currently 30 minutes) be changed to another value?

[2018-08-08 16:39] mikebudzynski commented on #13008
#close

[2018-08-08 16:41] Mike-Ubezzi-MSFT commented on #13063
@msghaleb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 16:44] JTC-Jeremy commented on #12432
All my tests have been with IE only and I was never able to get it to work.  Could you give me an example of what you used as the common root, external and internal URLs?

Thanks

[2018-08-08 16:44] #12432 closed

[2018-08-08 16:46] mohdabdulhameed542 opened #13084 "-All is not a valid switch"
It will work without it as well, If you tab out the switches for MsolUser, there is nothing called -ALL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c695a366-7220-081a-8e04-ab84c6f201b7
* Version Independent ID: bec85559-f35b-d6ff-4ea9-92a3d411d37f
* Content: [Access and usage reports for Azure MFA](https://docs.mic

[2018-08-08 16:50] jeevansd commented on #12931
@ChenRahimi  If you have added this application from the gallery then you dont have to configure this and still this will work. We have tested this again in our labs and it is working.

[2018-08-08 16:55] kgremban commented on #5878
@andrepodnozov  Following the chain of linked issues, starting with **outputName configured in edge function does not work**, it looks like this was a product bug related to the AMQP communication protocol. The team has fixed the bug and it should be updated this week.

@femsulu Can you relabel this issue?

[2018-08-08 16:57] MicahMcKittrick-MSFT commented on #12842
@davemedvitz I will close this for now. When ready please come back and we can reopen and continue.

[2018-08-08 16:57] #12842 closed

[2018-08-08 17:01] MicahMcKittrick-MSFT commented on #12901
@haydenhancock I was able to achieve this in Visual Studio Code. Sounds like you might not have the .NET Core 2.1 for Windows installed.

I would suggest running through the setup steps again:

![image](https://user-images.githubusercontent.com/32313503/43852340-d1efdb32-9af1-11e8-9f07-1424a6d5f75f.png)

You will need all the dependencies installed before it will work. Then in VS Code I just had t

[2018-08-08 17:04] jason-j-MSFT commented on #13049
@wahyuen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 17:05] jason-j-MSFT commented on #13048
@brianwan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 17:05] MicahMcKittrick-MSFT commented on #13019
@badbob001 I will close this for now. If you need more information just let me know and we can reopen and continue.

[2018-08-08 17:05] #13019 closed

[2018-08-08 17:06] jason-j-MSFT commented on #13046
@andrewwself
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 17:13] jason-j-MSFT commented on #13064
@josundt thanks for the thoughtful feedback, we really appreciate it.

I think the best way to surface your feedback where it will be more visible, and the community can upvote it, is to create an item here:
https://feedback.azure.com/forums/217298-storage

We are closing this issue as this repository is for focused documentation feedback.  Leave me a link to your feedback item and I'll upvote it.

[2018-08-08 17:13] #13064 closed

[2018-08-08 17:13] Alberto-Vega-MSFT commented on #12988
@anosov1960  by reading the document it sounds like it will be supported after preview stage is done. What are your insights on this?

[2018-08-08 17:15] MicahMcKittrick-MSFT commented on #13033
I am not sure I am fully understanding the meaning of cluster in this scenario. ASR is fairly simple and is designed to take a machine or machines that fail and move them to Azure. You can designate what Vnet and the properties so that when the failover happens all VMs that have been moved can still communicate and should then operate just as they did on premise. When moving to Azure your VMs will

[2018-08-08 17:16] ltaljaard commented on #12934
@MarileeTurscak-MSFT @davidmu1 any update on this? Is it a bug?

[2018-08-08 17:17] MicahMcKittrick-MSFT commented on #13036
@amysy I will close this out for now as I have verified there is no issue with the doc.

Please see my above comment and let me know if you are still having issues. We can always reopen and continue.

[2018-08-08 17:17] #13036 closed

[2018-08-08 17:17] rolyon commented on #12976
Thanks for the feedback. I will take a look at this article.
#in-progress

[2018-08-08 17:17] sergaz-msft commented on #13055
@tymtam2 Thanks for the feedback!

Are you using the sample from here: [Query data using C#](https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-query-data-csharp) ? If not can you please try it and let us know the result? Please make sure that you replace the necessary fields.

Thanks.

[2018-08-08 17:19] MicahMcKittrick-MSFT commented on #13037
@denver I will close this for now as I have verified there is no issue with the doc.

Please make sure you are running the most up-to-date version of Azure CLI before running any commands. Regardless, I tried the command with brackets and without and both worked exactly the same.

[2018-08-08 17:19] #13037 closed

[2018-08-08 17:25] davemedvitz commented on #12842
Sorry....  vacation...

If I go to Azure PowerShell and type Get-AzureRMEnvironment, there are 4 separate Azure environments.  By default, this driver connects to the 'AzureCloud' environment.  This article does not address using a storage account in one of the other three Azure environments as a back end to the Azure files driver.

-Dave

[2018-08-08 17:25] MicahMcKittrick-MSFT commented on #13052
@kazshi the custom script extension will only be ran once when applying it. After that when you start and stop your machine it will not run again.

If you want to run it again you will have to create a new custom script variable and apply it to the machines. Or remove the original script and replace it with the new one.

You can read more specifics about CSE here: https://docs.microsoft.com/en-us/

[2018-08-08 17:25] davidmu1 commented on #12934
@ltaljaard @MarileeTurscak-MSFT This does not seem to be an issue with this particular article unless I am missing something. I am able to successfully complete all steps in the article. Can you be specific about the text in the article that should be changed? If this is more related to what occurs when creating a tenant and seems to be a product issue, maybe the feedback should be directed in tha

[2018-08-08 17:33] MicahMcKittrick-MSFT commented on #13054
@manishmoothedath this policy will be different for every user. But I can see how it could cause confusion.

@singhkays maybe we could add a note to the doc about this? Or remind the user to run in Admin mode?

[2018-08-08 17:36] ltaljaard commented on #12934
@davidmu1 I guess it is a question of properly documenting what is or is not possible around this scenario. The only documentation at the moment around the email address is this documentation right here. It explains how to disable email verification. But there is nothing available that addresses the omission of an email address entirely when one uses the "User ID signup" instead of the "Email Addr

[2018-08-08 17:38] tfitzmac commented on #12423
Sorry, I am not aware of logs that might help, but support probably has a better idea.

[2018-08-08 17:39] denver commented on #13037
Thanks Micah.

It is likely a shell issue on my end. I'll take a look using the Azure CLI.

Thank you.

On Wed, Aug 8, 2018 at 10:19 AM Micah <notifications@github.com> wrote:

[2018-08-08 17:43] davidmu1 commented on #12934
@ltaljaard I do understand your frustration. I have opened a workitem for myself to investigate the documentation side of this issue, which I believe is probably not a change to this particular article. I think the quickest way to get an answer for you is for you to post your issue on stackoverflow with this tag:  azure-ad-b2c. The engineering team monitors for questions.

[2018-08-08 17:45] MarileeTurscak-MSFT commented on #13066
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 17:45] MohitGargMSFT commented on #13066
@denishol Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 17:45] mike-urnun-msft commented on #13058
@SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-08 17:45] TravisCragg-MSFT commented on #13067
@transdigiware could you please elaborate on your feedback?

[2018-08-08 17:47] MohitGargMSFT commented on #13069
@Trundlore Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 17:48] dem108 opened #13085 "Enabling Application Insights"
Can you add an explanation for enabling App Insight for the AML web services? Either when creating the service, or updating the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9f9f665-d8f6-5cf5-bdb8-01112cffd69b
* Version Independent ID: 25000f70-6f17-5d8e-3603-db051cd266a2
* Content: [Azure Machine Learning M

[2018-08-08 17:50] kobulloc-MSFT commented on #13008
@smappes Glad to hear that everything is working out!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-08 17:50] #13008 closed

[2018-08-08 17:50] TravisCragg-MSFT commented on #13027
@Ellenprater you are correct! I have re-opened this issue

[2018-08-08 17:52] FrankCarius opened #13086 "Not Supported: Multi Forest Deployments"
I think "multi Forest Deployments" are also not supported or only with a forest trusts.?. I can use a separate ADFS-Service with every UPN Domain and so i can run multiple forests with a single AADConnect Instance  But can the PTA-Agent also authenticate users in another forest?  or are the authentication agents aware of the UPN they can authenticate ?

---
#### Document Details

⚠ *Do not edit th

[2018-08-08 17:53] MohitGargMSFT commented on #13071
@adumont Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 17:53] ltaljaard commented on #12934
@davidmu1 Ok thanks I will log my question there. But note I have spent many days trying to piece this together. So even though this may not be an amendment to this particular document I do believe the right place to place this documentation would be right beside this document, i.e. make it available under the same parent node (called "Guides") so that it's basically a sibling of this doc.

[2018-08-08 17:54] aolszowka opened #13087 "VPN Client Error: The remote connection was not made because the attempted VPN tunnels failed. (Error 800)"
The Root cause for this (NIC's are out of date) is extremely unlikely.

Rather chances are you have a firewall that is filtering one of the required ports (most likely UDP 1701) The RRASBLOG has an old article from 2009 here https://blogs.technet.microsoft.com/rrasblog/2009/08/12/troubleshooting-common-vpn-related-errors/ that documents these common errors.

This documentation should be updated to

[2018-08-08 17:55] anthonychu commented on #12516
Thanks @MisinformedDNA. You make an excellent point there. We'll strongly consider using Table Storage in the future if there's no need for Cosmos DB-specific functionality.

[2018-08-08 17:55] rbitia opened #13088 "ACS link update"
The link to Kubernetes links to ACS rather than the new Azure Kubernetes Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7273b67-d37b-527a-b541-016aee0c516a
* Version Independent ID: 2ceaf554-7658-d298-28de-a30f169a0920
* Content: [Conceptual overview of Azure Machine Learning Model Management](https://docs.mic

[2018-08-08 17:57] MohitGargMSFT commented on #13074
@KjetilEVRY Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 17:57] #12724 closed

[2018-08-08 17:58] henriquebrisola opened #13089 "Missleading link and out-of-date"
On 'Azure VM requirements' topic there is a link on the text "Site Recovery supports all operating systems that are supported by Azure" which goes to a documents that is not talking about Azure and is no longer being updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version

[2018-08-08 17:58] jason-j-MSFT commented on #13053
@roweak
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-08 17:59] MohitGargMSFT commented on #13084
@mohdabdulhameed542 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 18:01] solankisamir commented on #12644
yes we have updated the documentation and removed the configuration.

[2018-08-08 18:01] davidmu1 commented on #12934
@ltaljaard Understood and sorry for your troubles. Thank you for your feedback.

[2018-08-08 18:03] MohitGargMSFT commented on #13086
@FrankCarius Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 18:05] EmmaSmith323 opened #13090 "Unique key combination not working"
I am trying to create a unique key constraint for a combination of two keys, the docs say to add it like "/lastName,/firstName". However, when I do this syntax with my keys (/path,/ring) I get the error "Error parsing the unique key path '/'$v'//path/'$v'' at position 6. Make sure the unique key path does not contain wildcards and invalid characters."

---
#### Document Details

⚠ *Do not edit thi

[2018-08-08 18:25] mike-urnun-msft commented on #13040
Hello @nzregs - Nice catch! And thank you for your contribution! We have corrected this issue and the change will reflect after content author reviews and approves the PR. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 18:25] #13040 closed

[2018-08-08 18:27] BryanTrach-MSFT commented on #12764
@unt1tled We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-08 18:27] #12764 closed

[2018-08-08 18:27] MicahMcKittrick-MSFT commented on #13068
@dmakaroff I am not having any issues running the command as it is written in the doc. I am using the Azure Cloud Shell.

What bash shell are you using and what version?

[2018-08-08 18:29] MicahMcKittrick-MSFT commented on #13070
@kieronlanning can you elaborate a bit on your ask? Are you asking how this exact tutorial using Service Fabric Explorer would work if you were using Docker Compose instead?

[2018-08-08 18:33] YutongTie-MSFT commented on #13028
@aashishb Hi, this is a technical doc-bug, can you please check the document and update it as necessary? Thanks a lot!

[2018-08-08 18:34] MicahMcKittrick-MSFT commented on #12842
@davemedvitz this preview feature only works in Azure Cloud as of now. The other environments are not yet supported.

[2018-08-08 18:36] YutongTie-MSFT commented on #13029
@aashishb Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

@cbarkerms Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-08 18:37] BryanTrach-MSFT commented on #11868
@gbellmann We have resolved this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-08 18:37] #11868 closed

[2018-08-08 18:38] ShubhaVijayasarathy commented on #11363
@xsqian and @Jason-j-MSFT, yes this means that if you have a Kafka client which uses Kafka 1.0 and up, you can start talking to Event Hubs like you would talk to Kafka, **without** having to change anything in your client. You need to change your configuration file to change your bootstrap server and provide an end point. that is all, its not just about clusters, it is also about having to change

[2018-08-08 18:41] YutongTie-MSFT commented on #13048
@SerinaKaye Hi, this is a doc-enhancement issue, can you please help and update the document as necessary? Thanks a lot!

@brianwan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-08 18:43] TravisCragg-MSFT commented on #12743
@TymWongPSNinja Thank you!

@paulkel My previous answer is not entirely correct. For an ExpressRoute Metered Connection with 2 VNETs in the same region, you will NOT be charged for data between them, only for data leaving the datacenter.

VNET Peering is still a good option, but you are [charged for VNET Peering](https://azure.microsoft.com/en-us/pricing/details/virtual-network/).

[2018-08-08 18:43] YutongTie-MSFT commented on #12790
@ratchetwrench
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.