[2020-07-30 13:17] ctreslovehayes1 opened #60007 "WamDefaultSet : ERROR once Profile deleted"
If a user profile is removed, account will not be hybrid joined to Azure. I have to sign into OneDrive before it will join (Am using folder redirection). I receive the following message from "dsregcmd /status /debug":
dsregcmd::wmain logging initialized.
DsrCmdAccountMgr::GetDefaultSsoInfo: BlockOnCompletionAndGetResults failed 0xd000000d.
ERROR IsDefaultAccountSet (hint: must run as non-elevated

[2020-07-30 13:29] behzad-a commented on #59787
Hi there, any updates on this?

[2020-07-30 13:29] DirkEcker opened #60008 "Update answer for 'How do I change the service level of a volume?'"
[Enter feedback here]
Would it make sense updating the answer for 'How do I change the service level of a volume?' and linking this to https://docs.microsoft.com/en-us/azure/azure-netapp-files/dynamic-change-volume-service-level ?

Many thanks,

Dirk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533a34cf-3791-0a45-f9f

[2020-07-30 13:37] ifslearning commented on #59903
Thanks for that, although I can't see how that will work. If I redirect the user to the password reset policy then that will start with them having to obtain a verification code, which I don't want them to have to do. As they would already be logged in to our application, should they choose to change their password I only want them to confirm what their existing password is before being able to ch

[2020-07-30 14:08] vhorne commented on #57843
#please-close

[2020-07-30 14:08] #57843 closed

[2020-07-30 14:16] johnayoub commented on #59984
@Ericgre Thanks for the clarification.

[2020-07-30 14:16] #59984 closed

[2020-07-30 14:23] cityofships opened #60010 "Improve 'Limitations' section"
Under 'Limitations' there's point "Available only in regions where BYOK is supported" - how can I list those? A link to the up-to-date list would be useful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb36087b-eaa6-ae3b-b3bb-6cb58268c3b9
* Version Independent ID: 2567f115-766c-f94f-7696-eb3bb94ba480
* Content:

[2020-07-30 14:24] manjeet-bhachu-rft opened #60011 "Edit or add validation to the product subscription name on the product details page"
Is there a way to enforce any kind of validation on the product subscription name before the user can subscribe?
We want to have subscription keys based on the calling application that is integrating with the published API(s).
The current developer portal only seems to support user based subscription keys.
When analyzing telemetry on usage we are interested in the usage based on application.
Curre

[2020-07-30 14:25] shashishailaj commented on #59764
@stas-sultanov I was checking the article again in detail again and I found that the article does point to a link to the Office support portal for [linkedin and Ofice 365 Integration](https://support.microsoft.com/en-us/office/linkedin-in-microsoft-apps-and-services-6d7c5b09-d525-424a-9c18-8081ee7a67e8) . The section [Enable and announce Linked Integration](https://docs.microsoft.com/en-us/azure/a

[2020-07-30 14:41] kartikaynigam commented on #36938
I am getting issues with Translate API
I am using
'https://eastus.api.cognitive.microsoft.com//translate?api-version=3.0&to=de&to=it'

[2020-07-30 14:44] hisasima commented on #57843
Sorry I can not understand. What do you mean "it reaches 60% of that number." ? Usually thoughput is defined by Gbps not %. I think the document shoud say about Gbps.

--- notifications@github.com wrote:

[2020-07-30 14:45] AjayKumar-MSFT commented on #58514
Alisson, Apologies for the delay!
When rule is set to 0% the cookie is still respected. The 0% scenario was done so only users with link that has the query string, can navigate to the slot.  Cookie is to ‘pin’ the user session to a slot- Case/scenario for a browser where the slot has expected changes pushed, to load the page there are multiple requests for js and images and, as http calls, they ar

[2020-07-30 14:45] hisasima commented on #57843
Please reopen.

--- h_isato@yahoo.co.jp wrote:

[2020-07-30 14:52] techarchconsulting opened #60012 "Defect in Latest Jira Plug in"
Latest version of the Microsoft Azure AD SSO Jira plug-in 1.0.6 (MicrosoftJIRASSO6x7x8x.obr).  – This was released in the month of May 2020.

**Defect Noticed**
   Jira with plug in fail to render "Project Setting page"   Following JS loading error occurred and because of that some of the applications features were not working as expected.

  Uncaught ReferenceError: getQueryVariable is not define

[2020-07-30 14:58] AshokPeddakotla-MSFT commented on #60000
@xaviarias Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 14:59] KitLemmonds opened #60013 "More visibility into service-managed transparent data encryption"
The TDE overview documentation and azure portal for both specify "To enable encryption, go to each database," but "going" to each database in the portal for an Azure SQL Managed Instance shows no "transparent data encryption" menu item.  I can easily run SQL in each db to turn encryption on, but how do I check its progress and status? Encryption status with traditional certificates can be establis

[2020-07-30 15:04] Snozzberries commented on #59973
For additional context and reproduction, I have two Azure AD tenants. An MSP Azure AD tenant (*1a7c), and a Customer Azure AD tenant (*ed2f). Within the customer tenant there exists a subscription (*0b89).

When I am authenticated to the MSP tenant without specifying a TenantId or SubscriptionId for `Connect-AzAccount` I am able to see the customer subscription with a TenantId of the MSP (*1a7c) w

[2020-07-30 15:07] Robert-Kostecki opened #60014 "Example does not seem to be working"
CREATE WORKLOAD GROUP wgDataLoads WITH
( REQUEST_MIN_RESOURCE_GRANT_PERCENT = 9.6
 ,MIN_PERCENTAGE_RESOURCE = 9.6
 ,CAP_PERCENTAGE_RESOURCE = 38.4
 ,QUERY_EXECUTION_TIMEOUT_SEC = 0)

Fails in Synapse with the following error:
"Msg 105611, Level 16, State 1, Line 44
CREATE/ALTER WORKLOAD GROUP statement failed because a non-integer value 9.6 for MIN_RESOURCE_PERCENTAGE is not allowed.  The value sh

[2020-07-30 15:10] kobulloc-MSFT commented on #59786
@adam-crain We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-30 15:10] #59786 closed

[2020-07-30 15:12] rlevchenko opened #60015 "Invalid CA after uploading the certificate"
The document is wrong.. (in my setup at least)

You should use x.509 v3 ca basic constraints with CA:true when creating the CA root certificate. Otherwise, you will get Invalid ca health probe status.

Instead of this:
`openssl x509 -req -sha256 -days 365 -in contoso.csr -signkey contoso.key -out contoso.crt`

Use this one:
`openssl req -new -x509 -days 365 --extensions v3_ca -key contoso.key -out

[2020-07-30 15:12] Snozzberries opened #60016 "Are Azure Delegated Resource Management and Lighthouse Offers synonymous within the broader discussion to include AOBO?"
In the context of Azure Delegated Resource Management wouldn't the Owner role still be supported, the exclusion being that it is not supported for specifically Lighthouse Offers?

I could be misunderstanding the scope of Azure Delegated Resource Management when the scope includes other concepts like the requirements of Admin On-Behalf Of. My understanding was that any role assignments with a forei

[2020-07-30 15:14] kingwil opened #60017 "Example template "name" value needs updating"
Please change the "name" value in Template example for a Windows VM.

`  "name": "Microsoft.Powershell.DSC",`

to something like...

`"name":  "[concat(parameters('VMName'), '/Microsoft.Powershell.DSC')]",`

Because the extension resource is a child resource of the virtual machine object, the name must have the virtual machine name prefix. See [Set name and type for child resources]( https://docs.

[2020-07-30 15:22] AlissonRS commented on #58514
Hi @AjayKumar-MSFT , no worries, thanks for taking the time to look into this.

The problem is exactly the cookie. There shouldn't be cookies pinning user sessions to slots. The percentage should be always respected. As I mentioned in my previous message, if a slot has bad code deployed, I want to set percentage to 0% so users won't be routed to it anymore, but the Cookie won't allow this behavior

[2020-07-30 15:23] dfay88 opened #60018 "RUL, Cycles and RUL History not displaying on web app"
I just provisioned the predictive maintenance IoT solution accelerator and the web app is not able to display RUL, Cycles and RUL History in the dashboard. Could someone someone assist in resolving please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38c81b69-80cb-f1e1-28ef-0c5ae3e48d1b
* Version Independent ID: 70c7

[2020-07-30 15:29] DavidCBerry13 commented on #51356
Thanks for the suggestion here.  We have simplified the code as you suggested and a bit of the other code around it.  #please-close

[2020-07-30 15:29] #51356 closed

[2020-07-30 15:29] cloudmonkeygarage opened #60019 "Example icacls it's the same of base script"
Example script for setting permissions by icacls it's the same of base script. Could you modify with a drive letter, please??

Like this:
icacls z: /grant <user-email>:(M)
icacls z: /grant "Creator Owner":(OI)(CI)(IO)(M)
icacls z: /remove "Authenticated Users"
icacls z: /remove "Builtin\Users"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-07-30 15:31] AlissonRS commented on #58514
@AjayKumar-MSFT I'll put it another way so you might understand what I'm trying to say since I opened this issue. Imagine the following scenario:

I have 2 slots:

- production (stable) = 100%
- beta (new features) = 0%

I deployed new features in beta slot, and changed it to 20%, as I want a subset of users to get these new features (I won't send links with query string to them, nor will I put a

[2020-07-30 15:54] JnHs commented on #59330
Hi @kspoojary - I'm sorry it's taken so long to respond. I'm still working on confirming the availability and will respond when I have the confirmed information - I hope that will be very soon. Thanks for your patience!

[2020-07-30 16:06] Tiberriver256 opened #60020 "No 'allow trusted Microsoft services to bypass this firewall' option"
Step 3.b doesn't seem to exist in the UI.

![image](https://user-images.githubusercontent.com/6989492/88946352-27381600-d25d-11ea-81fe-e6dead5c8d40.png)

Also looks like there is a little typo in the title:

![image](https://user-images.githubusercontent.com/6989492/88946303-125b8280-d25d-11ea-9971-70740a25ecd5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-07-30 16:19] berre74 opened #60022 "cannot install iotedge on windows 10 version 2004"
hi,

Would you have any workaround to install IoTEdge on a "windows 10 version 2004"- container host?

I'm stuck after a windows update of my Advantech Industrialized PC.

many thanks in advance,
best regards,

Bernard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037wsl --list --verbose-6d72-c63192763e

[2020-07-30 16:24] JnHs commented on #60016
Hi @Snozzberries - AOBO is different than Azure delegated resource management (which only applies to Azure Lighthouse). This topic explains more about how they both work: https://docs.microsoft.com/en-us/azure/lighthouse/concepts/cloud-solution-provider
Let us know if you have further questions on this!

[2020-07-30 16:27] Seddy24 opened #60024 "CheckboxMultiSelect User Type Stopped Showing Checkboxes"
Hello,

I have a custom flow for user sign up.  During the process the user was able to select from a few options.
Now the check boxes are gone but the labels still exist.  I have changed nothing on my end.  Please help.

![image](https://user-images.githubusercontent.com/11354607/88948458-9448ad00-d257-11ea-84d3-0a8c579480fe.png)

Thanks,
Dan

---
#### Document Details

⚠ *Do not edit this sectio

[2020-07-30 16:30] Snozzberries commented on #60016
Thank you for the clarification! What would be the functional concept AOBO uses then, would it just simply be considered foreign principal role assignments? Apologies if it is outside of scope of this issue as well.

Thinking in the context of an indirect CSP or even in a non-CSP relationship, foreign principals can be assigned roles in the local tenant.

[2020-07-30 16:32] ranjeetgarodia commented on #59114
ok thanks for updates

[2020-07-30 16:33] joshgreifer opened #60025 "How do I post a compund externalEntity which matches one I've created in my LUIS app?"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c6299aa-acaf-81de-ad81-9c5c0b09dd1c
* Version Independent ID: 46d28315-a1e8-42df-e999-64ff83ee7d2b
* Content: [Extend app at runtime - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-gb/azure/cognitive-services/luis/schema-change-predi

[2020-07-30 16:33] vhorne commented on #59998
Updated
#please-close

[2020-07-30 16:33] #59998 closed

[2020-07-30 16:34] Mike-Ubezzi-MSFT commented on #60013
@KitLemmonds Thank you for bringing this documentation gap to our attention. Let me review what we do currently have and investigate what is actually required to implement the TDE functionality, as you have indicated with Managed Instance.

[2020-07-30 16:37] #54666 closed

[2020-07-30 16:39] MarileeTurscak-MSFT commented on #57031
Since MSA users do not have a home tenant, they will need to use the tenanted version of the url in order to log in to their correct guest tenant. The tenanted url is https://myapplications.microsoft.com/?tenant=<tenant_id>

[2020-07-30 16:39] #57031 closed

[2020-07-30 16:39] diberry commented on #60025
@cahann Can you find an answer for this?

[2020-07-30 16:40] timsander1 commented on #59785
Hi @arthur1993 , thanks for pointing this out! These samples are due to be updated for the latest Python SDK version and we've created a work item for this. The doc should be updated shortly.

[2020-07-30 16:56] shashishailaj commented on #59920
@GossiTheDog Thank you providing explanations offline on the same. We have filed an internal request for authors to review the change and how best we can fix this in the documentation. We will close this issue now . Once the authors review the same and approve the change it will be merged within the next 24-48 hours.

Thank you.

[2020-07-30 16:56] #59920 closed

[2020-07-30 16:58] shashishailaj commented on #59501
@surensaluka I am trying to get more information on this and will update the thread when I get the same.

[2020-07-30 16:59] joshgreifer commented on #60025
I belive the ansert is the double-colon, but I'd grateful for confirmation

[2020-07-30 16:59] eric99r opened #60026 "Mention link to creating Azure B2C users programmatically"
Although consumer accounts in an Azure AD B2C directory are most commonly created when users sign up to use one of your applications, you can create them programmatically and by using the Azure portal. This article focuses on the Azure portal method of user creation and deletion.

This paragraph is mentioned at the top of the article but no help is given when trying to create multiple B2C users pr

[2020-07-30 17:01] Minewiskan commented on #59507
@KranthiPakala-MSFT - Can you please reassign this?

[2020-07-30 17:17] shashishailaj commented on #59982
@DouglasHeriot WE are engaging the content authors to have your suggestions reviewed . They will take action accordingly.

[2020-07-30 17:23] rgamage opened #60027 "Binding expression example missing file extension"
It seems like this line:
If the blob name is original-Blob1.txt, the value of the name variable in function code is Blob1

Maybe should be corrected to this:
If the blob name is original-Blob1.txt, the value of the name variable in function code is **Blob1.txt**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ecb1e79-f

[2020-07-30 17:25] ChaitanyaNaykodi-MSFT commented on #59801
@aronchick, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-07-30 17:35] MarileeTurscak-MSFT commented on #60026
@eric99r
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-30 17:38] MarileeTurscak-MSFT commented on #60026
Thanks! I think this is good feedback and I made a pull request to update the paragraph with the link https://github.com/MicrosoftDocs/azure-docs-pr/pull/124443

CC @msmimart

[2020-07-30 17:38] #60026 closed

[2020-07-30 17:40] elgiasi commented on #43236
Can we get an update on a timeline for this?

[2020-07-30 17:40] RyanHill-MSFT commented on #59848
@NickDrouin I've added a link to the sample you've provided, changes should be merged shortly. Thanks for the feedback!

[2020-07-30 17:40] #59848 closed

[2020-07-30 17:40] krish-gh commented on #59746
I have initiated a conversation with product team. Meanwhile I will close this issue as a duplicate of #45071 and **request you to continue the conversation in that thread to streamline the focus in better way. The issue #45071 already has involvement of more people revealing more insights. Thank you very much for your feedback and patience.

[2020-07-30 17:40] #59746 closed

[2020-07-30 17:47] RyanHill-MSFT commented on #59870
@vignatov, can you provide the configuration you're using omitting secrets? If you're not comfortable posting here, please email it to _AzCommunity[at]microsoft[dot]com_

[2020-07-30 17:51] gs-repo commented on #58191
👍 I noticed it was missing and added it anyways. Still into issues. Eventually decided to delete the cluster and create a new one, that did the trick! May have been a cluster config issue on my side. Anyways, thanks for all your help.

[2020-07-30 17:52] JasonWHowell commented on #27569
Discussed with @spelluru  and @ShubhaVijayasarathy for awareness.

[2020-07-30 17:52] b-juche commented on #60008
Thank you, Dirk!!  Indeed, and good catch.
We'll update that FAQ entry and direct users to the "Dynamically change the service level of a volume" article.  We'll make this change with an open PR (PR# 123968) that should be pushed live in the next couple of days.
Thanks again!

[2020-07-30 17:52] stnor commented on #39665
I'm baffled that this bug hasn't been fixed. charset is a part of http header on the internet. Did you test this at all? Most people can't remove the charset header on their resources. Please fire the intern that wrote and tested this piece of shit.

It's Microsoft "not quite compliant" standard more of operations yet again. Just fix i, ok? There are no simple workarounds and a clear bug.

[2020-07-30 17:54] RyanHill-MSFT commented on #59859
@Chai-NED, feel free to tag me or @SnehaAgrawal-MSFT if you have specific questions regarding the provided documentation. In the meantime, we've assigned your feedback to doc author so they investigate to include some specific examples for scaling app service plans up.

/ @cephalin

[2020-07-30 17:54] krish-gh commented on #45071
Redirecting the issue #59746 here.
CC: @amit17051980

[2020-07-30 17:57] RyanHill-MSFT commented on #59870
Linking to #59868

[2020-07-30 18:11] MarileeTurscak-MSFT commented on #60007
@ctreslovehayes1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-30 18:12] MarileeTurscak-MSFT commented on #60012
@techarchconsulting
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-30 18:12] BharathNimmala-MSFT commented on #60003
@ErgoPr0xy Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-07-30 18:14] MarileeTurscak-MSFT commented on #60024
@Seddy24
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-30 18:14] ChaitanyaNaykodi-MSFT commented on #60020
@Tiberriver256, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-07-30 18:15] SadiqhAhmed-MSFT commented on #59990
Managed Services offers on the marketplaces aren’t limited to direct or indirect CSPs. Per the Managed Service offer certification requirements, you must have a Silver or Gold Cloud Platform competency level or be an Azure Expert MSP in order to publish a Managed Service offer.

Would be interested in hearing about what can make the template option easier for you to adopt.

[2020-07-30 18:18] ChaitanyaNaykodi-MSFT commented on #60011
@manjeet-bhachu-rft, Thank you for reaching out! We will review and update as appropriate.

[2020-07-30 18:20] segun030 opened #60028 "Not able to import using line 'from azure.storage.blob import BlockBlobService '"
[I'm not able to import BlockBlobService using 'from azure.storage.blob import BlockBlobService'. I get the following error

Traceback (most recent call last):

  File "<ipython-input-1-6959b7711e1e>", line 1, in <module>
    from azure.storage.blob import BlockBlobService

ImportError: cannot import name 'BlockBlobService' from 'azure.storage.blob' (C:\Users\abo4jk\AppData\Local\Continuum\anacond

[2020-07-30 18:21] JamesTran-MSFT commented on #60012
@techarchconsulting
I just wanted to confirm, are you facing a similar issue to this [GitHub](https://github.com/MicrosoftDocs/azure-docs/issues/56903) and [MS Q&A](https://docs.microsoft.com/en-us/answers/questions/35152/index.html) thread?

[2020-07-30 18:21] mumami commented on #59901
@xdmushui Here is the retail rate card API that will give you the desired results with the right filters

https://prices.azure.com/api/retail/prices?$filter=serviceFamily eq 'Compute'

Please note this is in preview mode.

[2020-07-30 18:21] ChaitanyaNaykodi-MSFT commented on #60027
@rgamage, Thank you for your feedback! We will review and update as appropriate.

[2020-07-30 18:21] SaurabhSharma-MSFT commented on #59782
@priyankareddy20 Yes, name should be fine but need the screenhots would be nice to understand what exactly you are seeing on portal.

[2020-07-30 18:24] b-juche commented on #60008
FAQ entry "How do I change the service level of a volume?" updated to point to article  "Dynamically change the service level of a volume".  This change is added to the currently open PR#123968 that will be push live in the next few days.

#please-close

[2020-07-30 18:24] #60008 closed

[2020-07-30 18:25] SadiqhAhmed-MSFT commented on #59926
@juanandmsft You are right, administrator privilege is not required. We have fixed the documentation. See below links

https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-physical#physical-server-requirements
[Prepare physical servers for assessment/migration with Azure Migrate - Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-physical)

Let us know

[2020-07-30 18:26] #59764 closed

[2020-07-30 18:28] SatishBoddu-MSFT commented on #60022
Hello @berre74 Thanks for the feedback!

- Could you please provide the official product link for Advantech Industrialized PC?
- Is this the first time you are installing IoTEdge on this device?
- Has the product manufacturer provided any product Datasheet info on their website related to Azure IoT supported OS?
- Please let us know the exact document which you have followed for your IoTEdge setup

[2020-07-30 18:33] Karishma-Tiwari-MSFT commented on #59569
Azure Container Instances does not expose direct access to the underlying infrastructure that hosts container groups. This includes running privileged containers.
Reference Doc: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-troubleshooting

We do not have an ETA at this point for this feature. I will reach out to the internal teams and will share the information he

[2020-07-30 18:36] NillsF opened #60029 "Suspected error in network throughput on page"
I believe there's a mistake in the network throughput numbers for this page and a related page discussing the Dav4/Dsav4 VMs.

Typically network throughput is expressed in Mbps (small b), not MBps (big B). I assume this is a mistake on the documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdfbee1-bb47

[2020-07-30 18:49] SaiKishor-MSFT commented on #60015
@rlevchenko Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 18:58] dave-007 opened #60030 "broken link to msdn site"
No longer valid link: https://msdn.microsoft.com/library/jj919148.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98bce61c-eae1-4883-daf1-6910a907588b
* Version Independent ID: 7c599fe8-9e51-3b1e-3a0e-716303bbac23
* Content: [How to use Azure Storage for SQL Server backup and restore - SQL Server on Azure VM](https

[2020-07-30 18:58] SteveBurkettNZ commented on #59701
The -ForceDelete option was added in version 2.3.0 of the Az.OperationalInsights module (released July 17th), which hasn't made it to the main Az install as yet.

Check which version you have with a 'Get-Module Az.OperationalInsights', you may have to do a 'Install-Module Az.OperationalInsights -RequiredVersion 2.3.0' to install the later version.

[2020-07-30 19:01] RyanHill-MSFT commented on #47611
Closing as [Configure an OpenID Connect provider (Preview) - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-openid-connect) has be released. If any issues, please submit issues against that doc.

[2020-07-30 19:01] #47611 closed

[2020-07-30 19:08] SaiKishor-MSFT commented on #59991
@changeworld
AKS currently works with both helm v2 and helm v3. The document has commands for helm v2. If you would like to use helm v3, you need to slightly alter the commands and run it. This includes not using init.
Here is an existing issue regarding request to update helm to v3 (https://github.com/MicrosoftDocs/azure-docs/issues/43686). It also talks about issues with converting the commands

[2020-07-30 19:15] BharathNimmala-MSFT commented on #59679
@oliverroer Thanks again for bringing this to our notice, i am checking few things with our Internal Product team on this and will update the document accordingly.

[2020-07-30 19:20] priyankareddy20 commented on #59782
Sure.

On Thu, Jul 30, 2020, 20:22 SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-07-30 19:25] amit17051980 commented on #59746
Thanks Krish.

[2020-07-30 19:26] AjayKumar-MSFT commented on #59538
Thanks Micahel and @alainvtr1 for sharing additional details. I'm able to repro this issue, and I have been checking on this with our product engineering team and will respond back as soon as I have an update.

[2020-07-30 19:30] josuvil opened #60032 "Two points to mention on this doc"
Hello,

I wish to provide some feedback on this document. The steps are correct, but it would be advisable to note the following points somewhere on this page: 1) If you are refreshing the schema on a Staging server, you should also refresh the schema on all other AAD Connect servers (whether staging or production). 2) Creating custom sync rules will disable Automatic Upgrades of AAD Connect.

Tha

[2020-07-30 19:33] RyanHill-MSFT commented on #58136
@cwang25, just wanted to follow up and see if you were still encountering issues deploy via FTP?

[2020-07-30 19:34] cfd-direct opened #60033 "The amp-testdrive email address bounces"
[Enter feedback here]
The amp-testdrive email address bounces.

Would it be possible to write dedicated documentation on preparing a VM for capturing as an image for publishing on Azure Marketplace? Similar to this for AWS:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/building-shared-amis.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-07-30 19:46] amit17051980 commented on #45071
Thanks Krish.
I'm eagerly waiting for a solution!

[2020-07-30 19:54] PatAltimore commented on #58191
@gs-repo

That's great news. Thanks for the feedback. It helped me find issues in the article.

Pat

[2020-07-30 19:58] BharathNimmala-MSFT commented on #59699
@BrianLevenson  Thanks again for bringing this to notice and sharing your feedback , raised a PR to reflect the changes. Will work with @todorgb to have it reviewed and sign off to merge the PR, so that the document reflects accordingly.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this i

[2020-07-30 19:58] #59699 closed

[2020-07-30 20:04] Karishma-Tiwari-MSFT commented on #60010
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-30 20:07] femsulu commented on #59701
Thanks for the reply, @SteveBurkettNZ .

@danabrash  - please let us know if you have any follow-up questions.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-30 20:07] #59701 closed

[2020-07-30 20:07] Karishma-Tiwari-MSFT commented on #60017
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-30 20:08] Karishma-Tiwari-MSFT commented on #60029
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-30 20:08] #59676 closed

[2020-07-30 20:10] svangeti opened #60034 "When this will be GA?"
Can you tell me when this will be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Enable Ingress Controller Add-On for existing AKS cluster with existing Azure Application Gateway](https://docs.microsoft.c

[2020-07-30 20:13] krish-gh commented on #59895
@djivc wanted to check if you got a chance to look into this. I suspect an older version might not have the command `Invoke-PassthroughAuthOnPremlogonTroubleshooter` and wanted to check with your version to proceed further.

[2020-07-30 20:13] vssconnell commented on #59507
The point being the SPN must be is owned by the user that is adding the administrative role in SSMS the SPN cannot be found.  This appears to be a prerequisite as such I'd argue that not including it in the article is an oversite rather than a support issue.  In my experience I had no access to the AAD from a management role but was charged with the task of setting up the automation, I cannot beli

[2020-07-30 20:18] over2under3 commented on #59711
Send an email to what address?

Sent via the Samsung Galaxy S8, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: HarshitaSingh-MSFT <notifications@github.com>
Sent: Thursday, July 30, 2020 2:13:35 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Damon Neal <Damon.Neal@microsoft.com>; Mention <mention@n

[2020-07-30 20:37] Minewiskan commented on #59507
"**The point being the SPN must be is owned by the user that is adding the administrative role in SSMS** the SPN cannot be found." I don't believe this is the case. Support is in a better position to identify if this is a known issue and if there is solution, and/or we need to update the documentation. Not trying to deflect here, just trying to identify the issue and the best solution.

[2020-07-30 20:38] femsulu commented on #60018
Happy to help! Can you point us to the IoT documentation you are referencing? This will help with our investigation.

[2020-07-30 20:40] femsulu commented on #60016
assigning to @JnHs to address followup question.

[2020-07-30 20:42] femsulu commented on #60014
Hello @Robert-Kostecki , Please share a link to the documentation you are referencing. This will help us jump-start the investigation.

[2020-07-30 20:47] #59845 closed

[2020-07-30 20:50] JANA-akumarannehelage commented on #20737
list all profile list
az network profile list
delete one by one
az network profile delete --name profilename  --resource-group rsggroup

You can delete the subnet and vnet after doing above steps

[2020-07-30 20:50] Maks303 opened #60036 "Service Principal vault permissions"
Last sentence in point #4 idndicates that Code can get access to specific key or secret after VM identity is assigned. In the ‚securing key vault’ article it is mentioned that user access to data plane exists on vault level. So is it a an error or there is a difference in data plane access in case user and managed identity?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-07-30 20:53] AjayKumar-MSFT commented on #58514
Thanks again for sharing detailed information/scenario, it helps, much appreciate the update and follow-up.

For product feedback, you can always post suggestion on UserVoice here -https://feedback.azure.com/forums/169385-web-apps - All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

Apologies for not maki

[2020-07-30 20:58] iBrooks commented on #43248
This needs to be reopened, The issue persists. Cannot deploy a linux app service in a resource group with a windows service in the same region.

[2020-07-30 21:09] AjayKumar-MSFT commented on #59445
Daniel, Thanks for the confirmation and yes the documentation clarifies the statement as you noted and 'Summary of redundancy options' section adds additional clarity. Thanks again for taking time to share your feedback.

[2020-07-30 21:20] berre74 commented on #60022
Hi Satish,
I'm reusing an Advantech UNO-2362G, which did the upgrade to windows 10 without any problem (although a bit slow).
It's a clean install (first time), no previous versions of IoTEdge have been installed on it.
I followed this procedure to install IoTEdge: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows
I'm preparing for the SIDO-event (3-4 sept) in Lyon, F

[2020-07-30 21:21] danmyhre opened #60037 "Comparison of Functions to Azure Automation"
For timed jobs, it would be nice if there was a comparison between functions and automation (when you would choose one over the other)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Integration and automation

[2020-07-30 21:23] BharathNimmala-MSFT commented on #59708
@davidpaMSFT Thanks again for your query and feedback. As discussed, you are able to see the resource types and should be able to create the new alerts for the respective resource types.

![Metrics](https://user-images.githubusercontent.com/45180002/88975822-c6660900-d26f-11ea-885e-057eb2131c46.png)

I have also raised a PR to further clarify this in the document , once reviewed by the document au

[2020-07-30 21:23] #59708 closed

[2020-07-30 21:25] himanshusinha-msft commented on #59787
@behzad-a : No you cannot make a REST call to get a bearer token from ASA .  The below documents does call out the input and output supported by ASA .
"https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-introduction#how-does-stream-analytics-work"

"Stream Analytics ingests data from Azure Event Hubs (including Azure Event Hubs from Apache Kafka), Azure IoT Hub, or Azure Blob

[2020-07-30 21:33] danabrash commented on #59701
sorry for re-open, but I wanted to confirm that this was indeed the solution for me.  I have tested and it works perfectly as @SteveBurkettNZ  described.

thank you very much for your help

[2020-07-30 21:33] ShubhaVijayasarathy commented on #27569
the partition quota is influenced by the number of throughput units one would purchase. Given that we highly discourage extending the TU limits beyond 20, these options are available in dire situations as a mitigation purpose. I am not convinced that we should provide an upper limit of the partition as it differs case by case, again under mitigation scenarios only. We do plan to provide more optio

[2020-07-30 21:35] rhiker48 commented on #30343
I find the two items confusing.  Recent Risky Sign-Ins shows failed logins from a few days back where Risk History is showing Malicious attempts from today.  Seems like the tab names were reversed along the way.

[2020-07-30 21:36] neilmiddleton-klaw commented on #43248
seems MS put you into a "hardware cluster specific to an OS"- (MS please state if this is not correct as its anecdotal evidence on my part)  I had to delete the whole RG, wait for a while (because Azure seemed to "remember") then deploy it all again.  Or deploy it into another region completely (not ideal). But, essentially, the truth is that you cant have both linux and windows App Services in th

[2020-07-30 21:39] dlepow commented on #59420
@sehaswell - Thanks for the feedback and suggestion. I can see that it's easy to miss the distinction between the registry resource name and the login server name in the example. I'll submit a doc update soon to address this. Cheers
#in-progress

[2020-07-30 21:43] MarileeTurscak-MSFT commented on #60032
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-30 21:50] MarileeTurscak-MSFT commented on #60032
I think these are good points! I made a pull request to add notes about both. https://github.com/MicrosoftDocs/azure-docs-pr/pull/124491

Thanks for the feedback, @josuvil.

In the future you're also welcome to make your own pull requests if you notice changes like these and would like to get credited.

[2020-07-30 21:50] #60032 closed

[2020-07-30 22:07] WhitWaldo opened #60038 "Documentation feedback - SF Explorer/Backup improvements"
In the section titled "Enabling periodic backup for Reliable Stateful service and Reliable Actors" -> "Using Service Fabric Explorer", it indicates that one should fill out the information for the frequent and time fields, but it doesn't provide any additional information. I suggest that this should include a link to https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.monitor.mo

[2020-07-30 22:09] zr-msft commented on #44539
Thank you @dcbrown16 for the feedback!

We've added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-30 22:09] #44539 closed

[2020-07-30 22:12] zr-msft commented on #46394
Thank you @JoshDaone for the feedback!

I've added an item to our backlog and we'll prioritize accordingly.

#please-close

[2020-07-30 22:12] #46394 closed

[2020-07-30 22:15] BharathNimmala-MSFT commented on #59950
@Mexicoder Thanks again for your query, i have reached out to our internal team to further information on this. Will keep you updated accordingly.

[2020-07-30 22:21] tamilmani1989 commented on #47869
we are working on exporting metrics via Prometheus and container insights. neha has more details on it. not able to tag her here but will send her this link

[2020-07-30 22:37] BharathNimmala-MSFT commented on #59946
@mchudinov Thanks again for bringing this to our notice, currently the [documentation ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#get-a-telemetryclient-instance) have referenced to the [microsoft/ApplicationInsights-dotnet#1152](https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152) in case anyone is seeing this method is obsolete messages.

!

[2020-07-30 22:37] #59946 closed

[2020-07-30 22:49] kewalaka commented on #59989
I think your latter options are better because it follows a more logical path through the queries, as opposed to introducing the datatable and 'm-*' string right at the end when you're already introducing a complex query.

Admitting I am still at the "Kusto by example" stage in experience!

However thanks - it's a very useful reply, happy for this to be closed.

[2020-07-30 22:49] #59989 closed

[2020-07-30 22:50] himanshusinha-msft commented on #59507
@vssconnell :
For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to **AzCommunity@microsoft.com** with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter. 
Subscription ID: 
Subject:Attention : Himanshu

[2020-07-30 22:51] TravisCragg-MSFT commented on #60034
@svangeti Unfortunately I cannot give a date on GA at this time. Your best bet is to pay attention to [Azure Announcements](https://azure.microsoft.com/en-us/blog/topics/announcements/) for when this feature is brought to GA.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wi

[2020-07-30 22:51] #60034 closed

[2020-07-30 22:57] TravisCragg-MSFT commented on #59979
@rvraman This error typically appears when the user has permissions on the Virtual Machine, but not on the Bastion itself. [Make sure that the user has all of the required permissions outlined Here](https://docs.microsoft.com/en-us/azure/bastion/bastion-overview#roles), particularly read permissions on the Azure Bastion resource.

[2020-07-30 23:00] Karishma-Tiwari-MSFT commented on #59992
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@Heidilohr Can you please look into it and help confirm on the command. Thanks  :)

[2020-07-30 23:08] TravisCragg-MSFT commented on #59705
@deeksha-microsoft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-30 23:08] #59705 closed

[2020-07-30 23:19] Karishma-Tiwari-MSFT commented on #59999
Windows Hello support available with Remote Desktop client for Windows.
Windows Hello authentication to the session host (including Smartcard and PIN) is now supported. This feature requires that the user’s device has line of sight to the Domain Controller that can validate the credentials, for example from the corporate network or connected over VPN. When connecting from an external network, user

[2020-07-30 23:20] palma21 commented on #47869
@neaggarwMS ^

[2020-07-30 23:23] Karishma-Tiwari-MSFT commented on #60038
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-30 23:24] Karishma-Tiwari-MSFT commented on #60002
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-30 23:26] Karishma-Tiwari-MSFT commented on #60019
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-30 23:33] Karishma-Tiwari-MSFT commented on #60030
Are you talking about this link under 'Next Steps' :
![image](https://user-images.githubusercontent.com/20851144/88984423-675dbf80-d282-11ea-8916-289b1007faa4.png)

[2020-07-30 23:35] neaggarwMS commented on #47869
Thanks Tamilmani and Jorge.

Yes we are planning to expose some key metrics via Prometheus and/or Azure Container Insights workbook. Metrics will capture data around total NetworkPolicy being applied and some runtime info around it. It will also capture iptables/ipsets are updated as well. We will also expose a Grafana dashboard for the same. ETA to reach Production 09/15/2020.

Apart from this, N

[2020-07-30 23:36] neaggarwMS commented on #47869
Let us know if you want an early preview, we can share that in our Canary Regions (USEast2Euap/USCentralEuap) sooner.

[2020-07-30 23:45] arsing opened #60039 "Document that modules cannot decrypt secrets from previous deployments"
We had a case where a user mounted a storage directory for Edge Agent that contained files from a previous deployment of Edge Agent. As a result, the current deployment's Edge Agent tried to decrypt secrets in these files and failed, because the encryption key for modules is (intentionally) not the same for the same module ID on the same device but from different deployments.

(Edit: By "different

[2020-07-30 23:50] Karishma-Tiwari-MSFT commented on #59013
I have shared the feedback with the team internally.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-30 23:50] #59013 closed

[2020-07-30 23:58] roygara commented on #59977
@ojngo Thanks for reaching out, nice catch on this! This is documented in the ultra article for both [CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-ultra-ssd#enable-ultra-disk-compatibility-on-an-existing-vm) and [PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-ultra-ssd#enable-ultra-disk-compatibility-on-an-existing-vm-1). W

[2020-07-30 23:58] #59977 closed

[2020-07-31 00:02] ChaitanyaNaykodi-MSFT commented on #59793
@mthalman, Thank you pointing the issue out to us. We were able to replicate the issue mentioned, so we have made the changes in the doc, you will able to see the changes in few days.

[2020-07-31 00:08] travisclagrone opened #60040 "Undocumented attributes"
What do the example attributes `spark_conf.spark.databricks.cluster.profile` and `custom_tags.ResourceClass` mean and do? They are obviously important to many of the example policies, but their role and usage is not explained anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca0a6a40-2dc8-5863-fdb2-e34a704e4889

[2020-07-31 00:08] travis-c-lagrone commented on #60040
Requesting review from @mssaperla

[2020-07-31 01:01] AlverezYari opened #60041 "HTTPS Inputs only one file does this extend to SAS URls from Azure blobs as well?"
Working on a project involving Media Services and I see that the documentation here it states that when creating a job with an input file from HTTPS the system will only accept one file at a time? Does this extend to SAS Azure blobs URLs as well or only external HTTPS files? We really just want to pre-upload the files in bulk to a blob and then have a decoupled encoder worker book and monitor all

[2020-07-31 01:06] xdmushui commented on #59901
@mumami Thank you for the information, it has helped me a lot.
Can I get more information about this API?
For example, is there documentation for the API?

The one drawback of this API is that it doesn't have a field for the type of operating system of VM.
Only the productName field, if it value contains 'Windows' it means the meter is for Windows, if it doesn't contain 'Windows' it means the mete

[2020-07-31 01:10] BharathNimmala-MSFT commented on #60033
@cfd-direct Thank you for reaching out and sharing your feedback. Assigning this issue to our document author @iqshahmicrosoft to further evaluate the feedback and get back to you.

[2020-07-31 01:42] vaibhavramdasi opened #60043 "Specific Minor Version Support"
I have pinned my function app's runtime version to 3.0.13353.0 due to outage caused by auto roll forward minor version behavior of function runtime in azure.
Since my function is tested on this particular version of runtime, can I continue using it in production until the end of time?
Is there any documentation that highlights any risk with this approach? I don't want to see another outage because

[2020-07-31 01:49] Norrch2 opened #60044 "How does IEF Rest Technical Provider handle 202 and 204 responses."
Hello,

I am working on building an Azure function for use in IEF.

I intend to respond to a RESTful post with a 204 response. My question is, how does IEF's restful technical provider handle the 202 and 204 responses? Does it look at the response location header and wait for a successful 200 response?

Some guidance on this would be fantastic. Thank you.

---
#### Document Details

⚠ *Do not edit

[2020-07-31 01:51] johachi commented on #56270
Not your bad, I know 3 people that have been saved by this comment already!

[2020-07-31 01:52] CHEEKATLAPRADEEP-MSFT commented on #60040
@travis-c-lagrone  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-31 02:16] tdihp opened #60046 "Ingress route configuration prone to misleading"
The ingress route configuration in the example is prone to error/misleading.

The current ingress spec:
[code]

Suggest to change to:

[code]

Reason:

1. regex matching for nginx should be considered to be first-match prioritized, instead of length prioritized, i.e. "longer" match doesn't necessarily will go to the wanted backend, e.g. if user put `/hello-world-two/abcdefg/` the first path rule i

[2020-07-31 03:03] DavidCBerry13 commented on #45043
Yes, you are correct.  I have updated the article to reflect the behavior that if a key already exists, then it is used.  There is no error and no new key is generated.
#please-close

[2020-07-31 03:03] #45043 closed

[2020-07-31 03:18] MayankBargali-MSFT commented on #59723
@sarah026 Hope the above clarifies and please let me know if you have any concerns.
I have updated the doc and it is waiting for content author approval. It will be published after a few hours as soon as it is approved.

[2020-07-31 03:33] MayankBargali-MSFT commented on #59704
@craigshoemaker Any input on this?

[2020-07-31 03:34] rockboyfor opened #60048 "Upgrade the Windows VM Agent"
When the user follow `Manual installation` paragraph to manually install the VM agent with a Windows installer package,
the following description will confuse the end user in `Upgrade the VM Agent` paragraph:
**The Azure VM Agent for Windows is automatically upgraded.**

From the context understanding,
Does it means that the user need to upgrade the VM agent manually when installed VM agent manual

[2020-07-31 03:46] likebupt commented on #59726
@simchuck  @YutongTie-MSFT
Thanks for your feedback.
You don't need to pre-train the model. You just need to connect the Train Model to One-vs-All Multiclass, and submit the pipeline.
Not sure which part leads to confusion?

[2020-07-31 03:50] richardlm57 opened #60049 "Certificates in Java Key Store are not loaded automatically in App Service on Linux"
Here in this documentation says "By default, any public or private certificates uploaded to App Service Linux will be loaded into the respective Java Key Stores as the container starts", however in my case I needed to add a startup script and some Application settings in the App Service in order to achieve this Key Store cert load because in containers, data is only persistent a /home and after an

[2020-07-31 03:51] YutongTie-MSFT commented on #59720
@Aniththa Hi Aniththa, could we have more details for this to make things understandable more? Thanks.

[2020-07-31 03:52] ADNewsom09 opened #60050 "Where does the Azure Active Directory values come from?"
Specifically looking for the Audience and Issuer values. The document doesn't specify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [VPN Gateway: Azure AD tenant for P2S VPN connections: Azure AD authenticat

[2020-07-31 03:57] MayankBargali-MSFT commented on #59783
@krishrocks1904 Just following up here. Hope my previous comment clears things up.

[2020-07-31 04:08] dave-007 commented on #60030
Working now, thanks.

[2020-07-31 04:10] phamthaivuong opened #60051 "Help me"
[Enter feedback here]
Please clear or verify this phone number for me, I lost my phone so I cannot get the verification code when sending to the phone number, the above is 0354 79 3698 please check it, I provided Please give me your correct phone number. Please help me
[https://www.upsieutoc.com/images/2020/07/31/screenshot_1596167839.png](url)
---
#### Document Details

⚠ *Do not edit this sectio

[2020-07-31 04:14] BharathNimmala-MSFT commented on #59679
@oliverroer Further reviewing on this issue with few of our team mates , was able to figure out that the  -ForceDelete option is available with Az.OperationalInsights 2.3.0 module. Requesting you to please upgrade the Az.OperationalInsights version to 2.3.0 to use -ForceDelete option via powershell.

![image](https://user-images.githubusercontent.com/45180002/88998991-30020980-d2a8-11ea-97ad-f679e

[2020-07-31 04:14] #59679 closed

[2020-07-31 04:14] tdihp commented on #60046
More context:
https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/#path-priority

ingress-nginx doesn't honestly use the yaml path order and directly templating the nginx.conf, instead it sorts by length with desc order. This means the example ordering should work, however it's still confusing enough as the Nginx regex uses a first match policy.

[2020-07-31 04:18] SatishBoddu-MSFT commented on #60022
Hello @berre74 Thanks for sharing the details, We are looking into this and will share the updates soon.

[2020-07-31 04:20] feiranjiang opened #60052 "Pls remove the statement about custom rule since 1.5.45.0 is released"
[Enter feedback here]
Pls remove below statement because 1.5.45.0 has fixed this issue.

"A disabled custom synchronization rule will be imported as enabled: A disabled custom synchronization rule is imported as enabled. Make sure to disable it on the new server too."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e9c

[2020-07-31 04:30] SnehaAgrawal-MSFT commented on #60041
@AlverezYari Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-31 04:31] SnehaAgrawal-MSFT commented on #60049
@richardlm57 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-31 04:35] VikasPullagura-MSFT commented on #60048
@rockboyfor
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-31 04:35] VikasPullagura-MSFT commented on #60048
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-07-31 04:38] HarshitaSingh-MSFT commented on #59711
Please send an email with subject line **“Attn:Harshita”** to **AzCommunity@microsoft.com** referencing this thread, Azure subscription ID, I will follow-up with you.

[2020-07-31 04:42] BharathNimmala-MSFT commented on #59674
@ivasylenko Apologies for your experience , can you please share your account information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your Subscription details and a link to this thread so we can verify and direct the request accordingly .  We'll continue to investigate this with you directly and will update the thread with any findings that may

[2020-07-31 04:42] #59674 closed

[2020-07-31 04:51] ChaitanyaNaykodi-MSFT commented on #60037
@danmyhre, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-07-31 04:55] MayankBargali-MSFT commented on #60043
@vaibhavramdasi Thank you for your feedback! We will review and update as appropriate.

[2020-07-31 05:03] surensaluka commented on #59501
@shashishailaj All you need to do is download the sample app and try to run it without any modification. It will download all the nugets but end up with the error I mentioned above.

[2020-07-31 05:04] ram-msft commented on #60028
@segun030 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-07-31 05:07] ivandretvic opened #60053 "MFA links for China App stores"
There should be NOTE for links to China app downloads from Baidu, Lenovo, Huawei and Samsung Galaxy Store.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640b9158-3bba-2f76-b9f1-c2660e530062
* Version Independent ID: d6d2980d-b36b-9dc3-5c0c-4abed8d19ae2
* Content: [Download and install the Microsoft Authenticator app -

[2020-07-31 05:10] SadiqhAhmed-MSFT commented on #59772
@robburton58 Appreciate your patience here. Currently this feature is on our road-map, but we don’t have an ETA for when it will complete.

Thank you!

[2020-07-31 05:10] SatishBoddu-MSFT commented on #60022
Hello @berre74 , Sorry, I just have a few more queries,

`I'm reusing an Advantech UNO-2362G, which did the upgrade to windows 10`

**1. Could you please confirm if you are using any one of these Windows 10 IoT OS versions?**

[Windows 10 IoT Core ?](https://docs.microsoft.com/en-us/windows/iot-core/windows-iot-core)
OR
[Windows 10 IoT Enterprise ?](https://docs.microsoft.com/en-us/windows/iot-cor

[2020-07-31 05:13] Leon99 opened #60054 "Incorrect IP"
`192.13.123.2345` doesn't look like a correct IP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c443738-ea8f-18cf-5a2b-d3afb1a0d672
* Version Independent ID: e28d20f9-c34c-05b4-722e-ed74ae4371f9
* Content: [Create a standalone Azure Service Fabric cluster - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/

[2020-07-31 05:18] likebupt commented on #59676
Hi, Thanks for your feedback.
The table does not need to exist in the DB firstly.

[2020-07-31 05:20] RohitMungi-MSFT commented on #59716
@crevulus Did you get a chance to review @yinhew questions about the usage of the API by your product?

[2020-07-31 05:33] shashishailaj commented on #60053
@ivandretvic Thank you for your feedback . We will investigate and update the thread.

[2020-07-31 05:36] shashishailaj commented on #60044
@Norrch2 Thank you for your query. We will investigate and update the thread.

[2020-07-31 05:37] shashishailaj commented on #60036
@Maks303 Thank you for your query. We will investigate and update the thread.

[2020-07-31 05:38] MayankBargali-MSFT commented on #60027
@rgamage Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-31 05:38] shashishailaj commented on #60052
@feiranjiang Thank you for catching this. We will investigate and update the thread.

[2020-07-31 05:44] shashishailaj commented on #60051
@phamthaivuong Thank you for your query. However in this case you would either need to contact your organisation's IT admin team who manage your Office 365 acount and they can clear and reset the multi factor details for you. They can [disable MFA and prompt you to update your MFA again](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-troubles

[2020-07-31 05:51] VikasPullagura-MSFT commented on #60054
@Leon99 Thanks for pointing this. I have updated the document and changes will go live soon.

[2020-07-31 06:00] psmanhas commented on #59966
@kevduong1 Can you please provide the documentation which you are following so we can help you out better.

Thanks.

[2020-07-31 06:04] SnehaAgrawal-MSFT commented on #59868
@vignatov Closing it here and continuing here:  #59870

[2020-07-31 06:04] #59868 closed

[2020-07-31 06:07] lightupdifire commented on #59999
@Karishma-Tiwari-MSFT
Maybe handy to add some info in WVD documentation about supported passwordless options?

[2020-07-31 06:09] MayankBargali-MSFT commented on #59981
@larryclaman Yes, your understanding is correct Python 3.8 is supported for Function 3.x. The error states that the tensorflow version 1.14 is not supported with the current python version that you are using i.e. 3.8 and above. I have tried to use the latest tensorflow (that supports python v3.8 and above) and found that there are multiple fixes that need to be done on the file predict.py as terns

[2020-07-31 06:10] #60027 closed

[2020-07-31 06:14] #60054 closed

[2020-07-31 06:22] mayanksingh-ops commented on #44425
I am also facing the same issue with the application gateway.  First I got the Common Name does not match with backend issue for that I have created dns name for backend server after that this issue got fixed by adding domain name of backend in the custom probe.  After that I am getting below error
 '**The root certificate of the server certificate used by the backend does not match the trusted ro

[2020-07-31 06:26] DavidCBerry13 commented on #46749
It looks like this document was updated and corrected back in January so for that reason i am going to close this issue.  #please-close

[2020-07-31 06:26] #46749 closed

[2020-07-31 06:31] #60030 closed

[2020-07-31 06:34] VikasPullagura-MSFT commented on #60046
@tdihp

Thanks for the Feedback for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.

In case you're interested, these are the steps to do so:

1. Navigate to the page of interest
2.  Select the "Edit" button at the top right of the

[2020-07-31 06:36] SwathiDhanwada-MSFT commented on #59414
@git001 Apologies for late response. The document only articulates on how to collect data from custom data sources like Fluent D plugins. As there are more than [300+ plugins](https://www.fluentd.org/plugins/all), we don't provide any suggested way to install the plugins.

As there are no further document changes, we will close the issue for now. If there are further questions , please revert and

[2020-07-31 06:36] #59414 closed

[2020-07-31 06:47] phamthaivuong commented on #60051
Dear @shashishailaj, I cannot contact the admin of get365.pw. Is there any way to fix it? I need it, but the data is there, but my phone is lost so I cannot verify the message.

[2020-07-31 06:49] sarah026 commented on #59723
It does, thanks for your help

[2020-07-31 07:02] souravmishra-msft commented on #60036
@Maks303, Thank you for reaching out. There is no difference between user and managed Identity access for Data Plane of Key Vault. Let me share the steps in detail below:

1. For a user to access any key or secret stored in the KeyVault, that user has to be given access in the **data plane** of that **KeyVault**.
2. Similarly, in case of an application accessing the KeyVault, it the service princi

[2020-07-31 07:05] AnuragSharma-MSFT commented on #59902
@aghababyan-gohar, Thanks for letting us know the differences. Upon investigating, we found that below command is specific to on-premises SQL Server database.

`New-AzSqlSyncMember -ResourceGroupName $resourceGroupName -ServerName $serverName -DatabaseName $databaseName `
    -SyncGroupName $syncGroupName -Name $syncMemberName -MemberDatabaseType $memberDatabaseType -SyncAgentResourceGroupName $sy

[2020-07-31 07:19] AnuragSharma-MSFT commented on #60004
@alexott This is being assigned to the content author to evaluate and update as appropriate.

[2020-07-31 07:33] NDalvise commented on #54628
@dimaqq @jayforu while having the same problem, I found a workaround that will do the work.

In my case I had to have this header: `content-security-policy: default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;` and it is just a little bit longer than 100 characters...

So I created 3 different

[2020-07-31 07:39] psmanhas commented on #60039
@arsing Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-07-31 07:39] psmanhas commented on #60039
@kgremban Can you please check and add your comments on this doc update request as applicable

[2020-07-31 07:40] NDalvise commented on #54628
@dimaqq @jayforu while having the same problem, I found a workaround that will do the work.

In my case I had to have this header: `content-security-policy: default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;` and it is just a little bit longer than 100 characters...

So I created 3 different

[2020-07-31 07:48] vipulsparsh commented on #60052
@feiranjiang Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath  Can you please have a look at this ?

[2020-07-31 07:57] Maks303 commented on #60036
Thanks for your answear. So does it also mean that managed identity will be
able to access all secrets if several are stored in vault? Can we restrict
access to specific secrets only? If no this document need to be corrected
as suggest per secret access level.

On Fri, 31 Jul 2020 at 09:02, souravmishra-msft <notifications@github.com>
wrote:

--
Maksym Nowak

[2020-07-31 08:02] vssconnell commented on #59507
To be clear, I don't have a support issue.  I managed to associate the SPN with the AAS as an administrator. I was only able to do this once the AAD admin had given me ownership of the SPN.

[2020-07-31 08:09] robburton58 commented on #59772
ok, I will have to watch out for it then, any chance you can provide the command line that executes when the option to download is selected?

[2020-07-31 08:16] berre74 commented on #60022
Hi @SatishBoddu-MSFT

I must admit the Advantech PC is running Windows 10(not Windows 10 IoT).
I will proceed trying to install the Windows 10 IoT Enterprise on it and let you know if this solved my pb.

best regards,

Bernard

[2020-07-31 08:17] kamilzzz commented on #34828
+6

[2020-07-31 08:22] gatkinshentsu commented on #59791
@JayaChatterjee-MSFT That's fixed it. Thank you very much for your help. What needs to be done to update the documentation?

[2020-07-31 08:37] vignatov commented on #59870
@RyanHill-MSFT Sent via email

[2020-07-31 08:39] gatkinshentsu commented on #59791
Can I tack this on: what I'd really like to do is send a list of messages to Table storage. I'm getting the below error message: does this mean it's not possible at the moment?

'Exception: FunctionLoadError: cannot load the process function: type of message binding in function.json "table" does not match its Python annotation "List"'

Updated __init__.py:

    def main(maillog: func.QueueMessage,

[2020-07-31 08:41] SnehaAgrawal-MSFT commented on #59768
@pnarsi Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-31 08:41] SadiqhAhmed-MSFT commented on #59772
@robburton58 Sorry din't get your question

[2020-07-31 08:43] robburton58 commented on #59772
Hi Sadiq,

The question is

Would it be possible to get the code that executes behind the download button once all the options are selected as I may be able to build some powershell to extract from the management scope.

Regards

Stay Safe and Well

Robert Burton, Cloud Security Architect, Bupa BG/UKMU – ITIL Expert , MBCS, CCSP
Bupa, 4 Pinetees Estate, Chertsey Lane, Staines, TW18 3DZ
S: 020 3743

[2020-07-31 08:50] magooster opened #60058 "Automatic Key Rotation for Customer Managed Keys"
With automatic key rotation how frequently are the keys rotated? Also does the identity used by the Azure service need specific key permissions in order to be able to rotate keys? I've only found documentation mentioning 'Get', 'WrapKey' and 'UnWrap Key' permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1

[2020-07-31 08:55] GitaraniSharma-MSFT commented on #59972
@cloudmelon , the backend team has requested your subscription ID and hence I reached out to you on Teams to get the information. Please do respond on Teams with your subscription ID for further investigation of this issue.

[2020-07-31 09:10] HarshitaSingh-MSFT commented on #59894
Hello @rick-hayek, just checking in to see if you have had a chance to see this response.

[2020-07-31 09:12] GitaraniSharma-MSFT commented on #60050
@ADNewsom09 , at the end of [this ](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant)article, there is a link to configure a VPN client for P2S connections which shows the steps on how to download the VPN client and create client profiles and that article refers to the link where you can find the instructions on how to export a client profile to obtain information that is

[2020-07-31 09:12] #60050 closed

[2020-07-31 09:18] Fl4v commented on #38914
+1 Similar issue here.

[2020-07-31 09:51] bharangit commented on #27712
@djpmsft  I got this error when running ADF pipeline (mapping data flow to read from Blob and write to SQL). the storage account is not data lake enabled, it is simple gen v2. I have referred blob storage linked connection as source in data flow. can I have to disable soft delete feature to make the pipeline working! could you pls help. thanks.

_**Error: This endpoint does not support BlobStorage

[2020-07-31 09:52] git001 commented on #59415
/reopen

[2020-07-31 09:52] git001 commented on #59415
@SwathiDhanwada-MSFT ThatÄs good to hear but never the less you should update fluentd to the latest version because the 0.12 is not maintained anymore

[2020-07-31 09:52] robyerts opened #60060 "Azure .pem certificate doesn't work on .net console application"
[Enter feedback here]
It worked only with the .pfx version of the certificate generated by Azure. You have to choose 'PKCS #12' as content type when creating certificate in order to generate .pfx afterwards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41e002ed-e566-8407-66a0-15a7941a9406
* Version Independent ID: 7e

[2020-07-31 10:10] SwathiDhanwada-MSFT commented on #59415
@git001 I am bit confused on your request . Can I please know if it is mentioned anywhere in the document  that we are using Fluent D v0.12  so that I can take a look at it and suggest/update accordingly?

[2020-07-31 10:19] krish-gh commented on #60044
@Norrch2 Any success response 2xx should work. Please let me know if you see any issue while testing.

[2020-07-31 10:34] LudoNieuw opened #60062 "Is the session with the kubernetes api secured?"
I'm reading you can secure your aks with rbac, but that only comes into play when arrived at the kubernetes api. Does this mean no secure connection is setup for the traffic from the user to the kubernetes api? The documention is in any case silent about these details.

I know the call to the apiserver is done using TLS, but anyone can initiate that connection.

I guess my real question is: does m

[2020-07-31 10:39] Pamir opened #60063 "Example URL is no longer supported?"
In the documentation, example url is no longer supported?

https://YOUR-CUSTOM-SUBDOMAIN.api.cognitive.microsoft.com/luis/prediction/v3.0/apps/APP-ID/slots/production/predict?subscription-key=KEY-ID&verbose=true&show-all-intents=true&log=true&query=YOUR_QUERY_HERE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f9ac243

[2020-07-31 10:45] larryclaman commented on #59981
Thanks for the context; this helps!

[2020-07-31 11:09] amanmcse commented on #59996
@SB-o-matic If you are using Custom Policy, you need to define new attributes only under `<ClaimsSchema>` tag. Custom policy supports dateTime data type. You don't need to specify the attribute in the portal while using custom policy as that is required for built-in user flows only. If you want to compare the dates, you can't use int, boolean or string data type. Please refer to https://raw.github

[2020-07-31 11:16] #59896 closed

[2020-07-31 11:26] KrishnaG-MSFT commented on #49939
Tagging @yoramsinger / @bwren for visibility, review and to help provide insights regarding the issue.

[2020-07-31 11:54] KrishnaG-MSFT commented on #37403
Latest update: Private preview planned by mid-August and public preview by mid-September. Cc: @jaspkaur28

[2020-07-31 12:13] PhaniSantosh21 commented on #19569
As there is no direct way to get the output, you may use the below script.

Start-Transcript -Path "C:\Test\Output.txt"
$GalleryVMs = Get-AzVM | Select *
Foreach($vm in $GalleryVMs){
    if($vm.StorageProfile.ImageReference.Id -NE $null){
        $Params = ($vm.StorageProfile.ImageReference.Id).Split("/")
        $GalleryImage = Get-AzGalleryImageDefinition -ResourceGroupName $Params[4] -GalleryNa

[2020-07-31 12:50] amanmcse commented on #60053
@ivandretvic  The product team is in the process of having the Authenticator app uploaded to the most alternative app stores in china officially on Microsoft channel due to google play store being banned in China. This is taking time because of multiple levels of approval from the company side as well during review process.

Alternatively The Microsoft Authenticator has been provided unofficially

[2020-07-31 12:58] goh-chunlin commented on #58397
The documentation has been updated in PR #58692.

[2020-07-31 12:58] #58397 closed

[2020-07-31 13:03] ryotokuro commented on #59922
commenting to follow this thread

[2020-07-31 13:07] MayankBargali-MSFT commented on #59981
@larryclaman Thanks for your response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-31 13:07] #59981 closed

[2020-07-31 13:09] Anandsalimath opened #60070 "Ambiguity in naming of Azure service health"
In the page there is a confusion between Azure service health(Main) and Azure service health(subtype). Please rename subtype to Service health instead of Azure service Health to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37494f89-1920-0b77-3f4d-40c40a7fadb5
* Version Independent ID: a0ad5919-7efe-c

[2020-07-31 13:12] MayankBargali-MSFT commented on #59723
@sarah026 Thanks for your response. We will now proceed to close this thread and the doc will be published once it is approved by author approval. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-31 13:12] #59723 closed

[2020-07-31 13:14] msmbaldwin commented on #59941
@Chireven -- nice catch! I've updated the article so that it uses the correct hyphen. The code snippet now works. Thanks for your help. #please-close

[2020-07-31 13:14] #59941 closed

[2020-07-31 13:19] likebupt commented on #59986
@marcindulak   Thanks for your feedback. You could refer to the [source code](https://github.com/scikit-learn/scikit-learn/blob/fd237278e/sklearn/cluster/_kmeans.py#L1069) of K-means in scikit-learn:
![image](https://user-images.githubusercontent.com/39058063/89038723-707a8980-d373-11ea-9a3e-335f89dffc22.png)

[2020-07-31 13:21] KitLemmonds opened #60071 "Provide confirmation instructions for imported TDE certificates"
The documentation describes the syntax for using Add-AzSqlManagedInstanceTransparentDataEncryptionCertificate in powershell to load a certificate into a managed instance, but no instructions to confirm the presence of the certificate after the operation. It would be helpful if, after the closing sentence "The certificate is now available to the specified managed instance," instructions were listed

[2020-07-31 13:46] git001 commented on #59415
It's not documented you see it when you run the logging agent and look into the logs output.

[code]

[2020-07-31 13:48] thahma opened #60072 "Roles and Permission to edit Naming Policies"
To edit the Naming Policies, the article says that a **User Administrator** role is required. Only the Groups Administrator and Global Administrator can edit the Naming Policies. The User Administrator can't upload a CSV file, the button to select the file is not enabled.
https://docs.microsoft.com/pt-br/azure/active-directory/users-groups-roles/groups-naming-policy

---
#### Document Details

⚠ *

[2020-07-31 13:48] husamhilal opened #60073 "How to handle Parameters?"
Can you please elaborate on how to handle Parameters? Is there any special arrangement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37f85feb-ae78-c454-8c26-c21d474bbf7a
* Version Independent ID: 769971a1-5891-dbde-dff8-9fee76780506
* Content: [Template specs overview - Azure Resource Manager](https://docs.microsoft.

[2020-07-31 13:53] NJarZe opened #60075 "Does this connector work regardless of the SAP ECC Version?"
I just want to confirm my understanding is correct. It seems this connector (SAP ECC Connector) only requires NetWeaver 7.0 installed on SAP ECC, regardless of the SAP ECC version. Unlike the table connector, which requires SAP ECC 6.0 EHP 7 to run.

Is this correct?

Thank you!
Nestor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-07-31 13:59] larryclaman commented on #59981
I created PR #60076 to explicitly call out the 3.7 requirement in the virtual environment.

[2020-07-31 14:21] ctulb opened #60077 "Please add further info on accessing user data in local development environment"
How can the client principal data be accessed in a local development environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89705f24-082e-d4e9-547c-1992db4470cb
* Version Independent ID: 5df6b7d0-7e8a-f6c5-ea28-289b9a0ca84e
* Content: [Accessing user information in Azure Static Web Apps](https://docs.microsoft.com

[2020-07-31 14:29] behzad-a commented on #59787
@himanshusinha-msft I think you might have misunderstood my question. I can get my inputs from Event Hubs to ASA with no issue. Where I'm having trouble is outputting my ASA result to an Azure Function that has app service enabled. From the link you mentioned in your comment:

"Send data to services such as Azure Functions, Service Bus Topics or Queues to trigger communications or custom workflows

[2020-07-31 14:30] PramodValavala-MSFT commented on #59837
@vlad610 Thanks for bringing this! We have assigned this issue to the content author to review and update accordingly.

[2020-07-31 14:32] PramodValavala-MSFT commented on #59896
@jwisener Could you confirm if you were able to resolve this issue? If not, you perhaps closed this issue by accident?

[2020-07-31 14:32] michaelburch commented on #59538
In this case, is the ASE actually being pinned to the zone and there just isn't a way to view it? Or is it not being pinned to the zone at all?

[2020-07-31 14:34] shashishailaj commented on #60060
@robyerts Thank you for your query. We will investigate and update the thread.

[2020-07-31 14:47] YutongTie-MSFT commented on #60063
@Pamir
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-31 14:51] marcindulak commented on #59986
Thanks, do you think this information can be incorporated somehow in the "Module: K-Means Clustering" doc?

Does it mean the module uses sklearn under the hood, or just mimics the implementation?

[2020-07-31 14:51] samueljamkhandi-MSFT opened #60078 "Able to write the audit logs on the storage account v1? but the doc says we need to have storage account v2"
In the prerequisites it says, need to have storage account v2 but, when I tested, I'm able to write the audit logs to the storage account which is V1. Can we write audit logs to both V1 and V2 storage accounts? If yes, can we get the document updated then?

Please note: My Azure SQL Server is in VNET and behind the firewall. Also, Storage Account Firewall is enabled as well.

![image](https://user

[2020-07-31 15:11] dfay88 commented on #60018
Sure! https://www.azureiotsolutions.com/Accelerators#description/predictive-maintenance

After you spin up the resources and go to the web app the dashboard is not populating in those field listed. Thanks so much!

[2020-07-31 15:12] knunery opened #60080 "Provide recommended method for deploying to production."
The page says "Use of these APIs in production applications is not supported.". Please document what you should do to deploy to production.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d87f59-029e-b25f-862c-755cfadbfc08
* Version Independent ID: 6d283cd7-96a3-c41e-7325-8e43741a5d65
* Content: [Deploy custom policie

[2020-07-31 15:25] ram-msft commented on #59819
Thanks for the feedback. @aahill we are unable to import the following, could you please check on these.

[code]

[2020-07-31 15:28] YutongTie-MSFT commented on #59726
@simchuck Hi Charles, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-31 15:28] #59726 closed

[2020-07-31 15:30] JayaChatterjee-MSFT commented on #59791
@gatkinshentsu for the queue trigger, we need to follow another document i.e. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=python#example

To add multiple messages to the table storage you may try with an array of objects, something similar to:
`data = [{        "Name": msg.get_body().decode('utf-8'),        "PartitionKey": "message",

[2020-07-31 15:30] #59791 closed

[2020-07-31 15:35] mstb5150 opened #60081 "Requirements to create NSG for corpnetsaw"
Good day, I had the opportunity to engage MS support. I was asked to create the rule to allow RDP for corpnetsaw. I discovered that there is no option in the azure portal (GUI) to create the rule - Corpsaw does not appear in the list of service tags. It has to be created from command line. They provided me the following power shell. Which was the only way to specify the source address

Get-AzureRm

[2020-07-31 15:51] MarileeTurscak-MSFT commented on #60081
@mstb5150
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-31 15:52] BharathNimmala-MSFT commented on #60070
@Anandsalimath Thank you for bringing this to our notice, we review it and update the document accordingly. Thank you

[2020-07-31 15:56] JamesTran-MSFT commented on #60080
@knunery
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-31 15:58] JamesTran-MSFT commented on #60072
@thahma
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-31 16:01] #43331 closed

[2020-07-31 16:02] zr-msft commented on #43331
Thank you @dave-read for the feedback.

I've updated the article to address your feedback, and the changes should be available soon.

[2020-07-31 16:07] tamram commented on #60058
#reassign: @tamram

[2020-07-31 16:09] AshokPeddakotla-MSFT commented on #60018
@dfay88 Could you please confirm all the resources are provisioned completely before accessing the URL? Please ensure you see a green checkmark and Ready on the solution tile before accessing.

Do confirm, if you are following the steps as mentioned here: https://docs.microsoft.com/en-us/azure/iot-accelerators/quickstart-predictive-maintenance-deploy

I would suggest you go through the steps once

[2020-07-31 16:13] tamram commented on #60058
@magooster - Thanks for your feedback. Microsoft-managed keys are rotated at least once per year. Please see https://github.com/MicrosoftDocs/azure-docs/issues/58185 for more information.

'Get', 'WrapKey' and 'UnWrap Key' are the required permissions for using customer-managed keys, and additional permissions are not required for automatic rotation. I'll update the image in the doc for which you

[2020-07-31 16:13] rick-hayek commented on #59894
Hi @HarshitaSingh-MSFT , thanks for your response! based on information you provided, we've decided to design our own password-reset flow.

[2020-07-31 16:14] BharathNimmala-MSFT commented on #60073
@husamhilal Thank you for your query , assigned this issue to our document author @tfitzmac to weigh in.

[2020-07-31 16:14] rick-hayek commented on #59894
I'm closing this as my questions have got addressed. thank you!

[2020-07-31 16:14] #59894 closed

[2020-07-31 16:16] AshokPeddakotla-MSFT commented on #60000
@PatAltimore Could you please look into this issue and update the doc if the feedback is valid?

[2020-07-31 16:23] DavidCBerry13 commented on #47439
The link in question was removed a few months back due to classic VMs being deprecated, so I think this issue can be closed sicne that link is no longer there.  #please-close

[2020-07-31 16:23] #47439 closed

[2020-07-31 16:29] JasonWHowell commented on #27569
Thanks @ShubhaVijayasarathy for your thoughtful response.

Great observation @KeiroKamioka0000 thanks for raising the concern (last year!).

Due to the complexity that Shuba describe, and the near term changes forecasted, we won't do any change right now and can consider it again when the next revisions of Event hub are available.

Thanks, Jason

#please-close

[2020-07-31 16:29] #27569 closed

[2020-07-31 16:30] iBrooks opened #60082 "LogicAppConnectionAuth is not actually an automation solution"
At the bottom of [this](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-deploy-azure-resource-manager-templates#authorize-oauth-connections) page, there is a section claiming:
"For automated deployments, you can use a script that provides consent for each OAuth connection. Here's an example script in GitHub in the LogicAppConnectionAuth project."

This is incorrect. That script relies

[2020-07-31 16:30] JasonWHowell commented on #43016
@yushwang please take a look when you have a moment. Need a triage decision if this is worth documenting by your team and ETA when that could be done.

[2020-07-31 16:31] SatishBoddu-MSFT commented on #60022
Hello @berre74 Thanks for the confirmation!

Please make sure that [Windows 10 IoT Ent LTSC version](https://docs.microsoft.com/en-us/windows/release-information) (1809 version, 17763 build) is used.

![image](https://user-images.githubusercontent.com/62923178/89055394-25c72600-d30f-11ea-872e-8fcb2a8a5277.png)

**Also please refer to the document :** [Supported Windows versions](https://docs.micro

[2020-07-31 16:34] mattchenderson commented on #59768
I don't see the quoted paragraph in this article or in the security baseline. Can you please point to where that is coming from?

The limitation has been in a note callout in this article for a long time. That's at the end of the [Granting your app access to Key Vault](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#granting-your-app-access-to-key-vault) section

[2020-07-31 16:40] mjaow opened #60083 "AKS attaching demo miss a key step"
The demo of using sdk to attach aks cluster seems confused. There is a key step `aks_target.wait_for_completion(show_output = True)` missing, which may lead user to deploy a service to aks cluster while attaching.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3783f41-ce06-3d23-8e2e-64abbb5c96c4
* Version Inde

[2020-07-31 16:44] JasonWHowell commented on #59164
#reassign:emuench

[2020-07-31 16:51] #44667 closed

[2020-07-31 16:52] zr-msft commented on #44667
Thank you @Vaccano for the feedback.

I've updated the article to address your feedback, and the changes should be available soon.

[2020-07-31 16:53] samueljamkhandi-MSFT commented on #59162
@Karishma-Tiwari-MSFT -

- I did a lot of research and concluded that for Linux, you will have to setup a cron job (similar to Scheduled Task in Windows) that checks for Scheduled Events and if found write to a log file (of your own), then use the Log Agent (MMA) to collect that log.
- Then in Log Analytics you would set up an alert based on that event.
- Tested this in my labs and it works
- You

[2020-07-31 16:54] krishrocks1904 commented on #59783
I have manage to resolve this issue.
here is my blog post on the same.
https://medium.com/@rakesh.suryawanshi/deploy-azure-web-api-into-azure-api-management-with-powershell-3d14d1610b07

thanks for your help.

[2020-07-31 16:56] JasonWHowell commented on #59816
@angie4u Thanks for the question. I hope @su-jie 's response was helpful.  We'll resolve the issue for now, but let us know if you need to discuss this issue further.

Thanks, Jason
#please-close

[2020-07-31 16:56] #59816 closed

[2020-07-31 16:58] NavtejSaini-MSFT commented on #60078
@samueljamkhandi-MSFT We are checking this and will get back to you.

[2020-07-31 17:01] Minewiskan commented on #59507
I think the confusion might becoming from where the owner role is assigned. Can you check with your AAD admin if what they did was assign the _app_ the owner role, as described [in this section](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#assign-a-role-to-the-application) ?

[2020-07-31 17:02] JasonWHowell commented on #45860
Thank you for the response @liudan66
Sorry we are behind on the queue of issues @helloyesthisisdave so you may already have moved on since January, but hope this is helpful for future users.

We'll resolve the issue for now, but let us know if there are followup questions. Thanks~ Jason
#please-close

[2020-07-31 17:02] #45860 closed

[2020-07-31 17:11] Karishma-Tiwari-MSFT commented on #60062
@palma21 Would you be able to provide your insights on this question about security? Thanks :)

[2020-07-31 17:11] JasonWHowell commented on #48886
Thank you for the response @xujxu

Sorry that we are behind on responding to your questions, @Zongrenfeng .  You may already have moved on to other projects since February, but hope this conversation is helpful for future users.

We'll resolve the issue for now, but let us know if there are followup questions. Thanks~ Jason
#please-close

[2020-07-31 17:11] #48886 closed

[2020-07-31 17:11] Robert-Kostecki commented on #60014
Apologies this was opened from the documentation page and I assumed that it would be linked. Please see below: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-how-to-convert-resource-classes-workload-groups

[2020-07-31 17:15] Karishma-Tiwari-MSFT commented on #59999
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-31 17:15] Karishma-Tiwari-MSFT commented on #60030
Thanks for sharing the update.

[2020-07-31 17:24] Karishma-Tiwari-MSFT commented on #59162
Thanks for sharing the update and the resolution. I will keep this open so that the information can be added to the Linux document as well, for others to easily figure it out from Linux doc itself.

[2020-07-31 17:26] jwisener commented on #59896
Fixed and closed.

[2020-07-31 17:36] KranthiPakala-MSFT commented on #60075
@NJarZe Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-31 17:36] JamesTran-MSFT commented on #60080
@knunery
When it states, "Use of these APIs in production applications is not supported".

This is because managing Azure AD B2C custom policies with an Azure Pipeline currently uses **"preview"** operations available on the Microsoft Graph API **"/beta"** endpoint.
-Due to this using "preview" operations on the Graph API "/beta" endpoint, I believe that's why it's not supported for production use

[2020-07-31 17:46] mmacy commented on #55761
@paulgarn Hi Paul, reassigning this one over to you per my Teams message. Thanks in advance for your guidance on this.

#reassign:paulgarn

Cc: @hpsin @SaurabhSharma-MSFT

[2020-07-31 17:50] kenwith commented on #59825
I submitted a PR to update the referenced doc that web client is supported now. Here is the announcement I referenced in the PR: https://techcommunity.microsoft.com/t5/azure-active-directory-identity/azure-ad-application-proxy-now-supports-the-remote-desktop/ba-p/1257367

[2020-07-31 17:52] kenwith commented on #59825
@James-MCT - thank you for catching this and taking the time to open the issue. I missed it. I know it takes time to login to GitHub and open an issue and write it up and I very much appreciate it. :)

[2020-07-31 17:52] kenwith commented on #59825
#please-close

[2020-07-31 17:52] #59825 closed

[2020-07-31 17:56] mydiemho opened #60084 "Is Query Metrics collection not available in Java SDKs?"
The doc reference setting a property that is only available in the .NET SDK.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.feedoptions.populatequerymetrics?redirectedfrom=MSDN&view=azure-dotnet#overloads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 498a360c-9ba7-a124-5fb5-7f4c85c54041

[2020-07-31 17:56] JasonWHowell commented on #52084
@screig thanks for posing the question, and for the followup discussion.

Images are expensive to maintain and don't localize well for all our global languages, so we'll stop here for now.

Thanks for the testing and confirmation @jonels-msft
~Jason

#please-close

[2020-07-31 17:56] #52084 closed

[2020-07-31 17:57] cahann commented on #60025
@diberry is this an external entity for a composite child ?

@omarelhariry as FYI

[2020-07-31 18:10] shashishailaj commented on #60051
@phamthaivuong I believe this must be your company email so contacting the admins should not be a problem . If you have a logged on session or some session cookie for that account in any of your browsers then you may be able to [get to the security page](https://mysignins.microsoft.com/security-info) and try to delete the MFA registration . But this will only let you sign-in if your device or any

[2020-07-31 18:12] JimacoMS3 commented on #28405
Hi @CoolNamesAllTaken,

Thanks for your feedback! Since you opened this issue, several ESP32 samples have been added to the [Azure IoT Device Workbench](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-iot-workbench), which is now part of the IoT Tools Extension pack for VS Code.  Once you add this extension pack to your VS Code environment, you can see the ESP32 specific e

[2020-07-31 18:15] joshgreifer commented on #60025
Yes. I think supplying  Parent::Child for the entity name appears to work?

[2020-07-31 18:21] DougPetrole opened #60085 "Question re: B series VM cache drive size, since API returns B series as supporting Ephemeral OS Disks"
Our team has noticed that Azure VM data returned via API indicates that B-series VMs support ephemeral OS disks. The ephemeral OS disk documentation page no longer specifically reflects what VM series are/aren't supported, so we assume the B series VMs are now supported.

The Azure portal doesn't allow me to create a B series VM - even one with 20 CPU - with ephemeral OS disks because the cache dr

[2020-07-31 18:28] magooster commented on #60058
Thos tickets refer to Microsoft managed Keys, does the once a year also apply to customer managed keys  that are rotated automatically through the relevant Azure service? Per the documentation a customer can chose to have the service manage the rotation or specify an explicit key version and mange the rotation themselves.

I thought new key versions could only be created with the create key permis

[2020-07-31 18:30] guntaled opened #60086 "Tumbling window trigger retries"
"In case of pipeline failures, tumbling window trigger can retry the execution of the referenced pipeline automatically, using the same input parameters, without the user intervention. This can be specified using the property "retryPolicy" in the trigger definition." (https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-tumbling-window-trigger#user-assigned-retries-of-pipelines)

It s

[2020-07-31 18:47] SaurabhSharma-MSFT commented on #59953
@BrianLytle Please let us know the documentation link so that we can help you better.

[2020-07-31 18:51] SaurabhSharma-MSFT commented on #59782
@priyankareddy20 If you are not able to send images and details over GitHub then please share it on email to azcommunity[at]microsoft[dot]com with this thread link so that I can work with you offline on this issue.

[2020-07-31 18:51] #48665 closed

[2020-07-31 18:52] zr-msft commented on #48665
Thank you @jelster for the feedback.

I have updated the article to address your feedback, and the changes should be available soon.

[2020-07-31 18:57] zr-msft commented on #43272
Thank you @jjindrich for the feedback.

Virtual nodes are not available for Windows nodes at this time.

cc @keikhara

#please-close

[2020-07-31 18:57] #43272 closed

[2020-07-31 19:00] tamram commented on #60058
@ozgeeg - FYI

[2020-07-31 19:01] jabbera opened #60088 "Steps to connect as SP after configuration"
This document walks you through all of the steps necessary to configure a SP in the database. It stops short of giving you a small demo on how to connect to the database as that sp afterwards. This would be helpful information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c38bedc-e976-f95b-0098-d2628cdef03a
* Versio

[2020-07-31 19:05] Nickomang commented on #59034
@m1nkeh, Can you try disabling IPV6 and redeploying?

[2020-07-31 19:07] RyanHill-MSFT commented on #59179
To provide an update, Linux App Service Plans in ASEs is not currently supported in Azure Government. Support will be added in the future; however, there isn't an available time frame for when support will be added.

[2020-07-31 19:13] JayaChatterjee-MSFT commented on #59921
@philip-reed I have reviewed the sample you have provided and this is an acceptable approach.
In the document, it is already mentioned that one needs to use _TableOperation.Replace_ operation from the Azure Storage SDK to update an existing entity.

![image](https://user-images.githubusercontent.com/51781464/89068894-c2c9a380-d38f-11ea-8cac-e7d3964b8e02.png)

Please let me know if this helps.

[2020-07-31 19:21] MayMSFT commented on #60001
Thanks for the feedback. This is a known feature gap in Azure Machine Learning. We are on track to release output feature to allow users to output data and write data directly to ADLS Gen2. Stay tuned for release notes.

[2020-07-31 19:24] m1nkeh commented on #59034
possibly.. how does one do this? Do you mean on the host OS? Or the container?

[2020-07-31 19:29] zr-msft commented on #53570
Thank you @lgmorand for the feedback.

For more information on kured with AKS, see this article:
https://docs.microsoft.com/azure/aks/node-updates-kured

For more information on updating Windows nodes, see this:
https://docs.microsoft.com/azure/aks/windows-node-limitations#how-do-patch-my-windows-nodes

At this time, upgrading Windows nodes are handled by upgrading the Windows node pool:
https://d

[2020-07-31 19:29] #53570 closed

[2020-07-31 19:30] #59793 closed

[2020-07-31 19:33] GiftA-MSFT commented on #60001
Thanks for the update @MayMSFT .

[2020-07-31 19:33] #60001 closed

[2020-07-31 19:35] GiftA-MSFT commented on #60083
@mjaow we will review your feedback and get back to you shortly. Thanks.

[2020-07-31 19:39] Nickomang commented on #59034
You'll want to change that setting in your Docker daemon config.

[code]

You can update these settings directly in the daemon.json file in your Docker installation path, or you can modify the daemon configuration settings in Docker by selecting the Docker icon, and then select Preferences > Daemon > Advanced.

[2020-07-31 19:44] emuench commented on #59164
I'm working with an internal SME, who's provided the needed info, but he's not available for further editing until Tuesday.

[2020-07-31 19:50] JnHs commented on #59973
Thanks @Snozzberries for all the details and for reporting the issue. We have confirmed that Get-AzSubscription does not currently show the customer's TenantId, as you have observed. I've created a PR to update the docs accordingly. When it merges, this issue will automatically close. The update will appear in the topic shortly after that. Thanks again for your feedback!

[2020-07-31 19:52] v-danwhe opened #60089 "Error under To remove a profile section"
Under the section "To remove a profile" there is an issue in the script.  As this is an always on VPN connection, the tunnel can not be removed until it is not in use. As a result the one command here will not work.  The below script would succeed with this.

`$vpnName = "MachineCertTest";
$vpn = Get-VpnConnection -Name $vpnName;

if($vpn.ConnectionStatus -eq "Connected"){
  rasdial $vpnName /DISC

[2020-07-31 19:55] philip-reed commented on #59921
@JayaChatterjee-MSFT Hi, thanks. Yes I agree it does mention using `TableOperation.Replace`, but it does not mention how to actually do that using a binding. I initially assumed it would be an output binding but that turned out not to be the case.

Perhaps the note could read:

[2020-07-31 20:07] #59973 closed

[2020-07-31 20:08] pheuter opened #60090 "Typo in "Configure Oauth2 for API Management""
There is a typo in the [Configure Oauth2 for API Management](https://docs.microsoft.com/en-us/azure/api-management/howto-protect-backend-frontend-azure-ad-b2c#configure-oauth2-for-api-management) section:

What it should say instead is something like this:

**6. Scroll down and populate an Additional body parameter called 'resource' with the full URI of the API scope you exposed earlier in Azure A

[2020-07-31 20:08] tfitzmac commented on #60073
@husamhilal - thanks for this feedback. You use parameters exactly as you would with the template. You can pass them inline or in a parameter file. I will update the article with more info about parameters.

[2020-07-31 20:24] zr-msft commented on #54089
Thank you @porrascarlos802018 for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 20:25] zr-msft commented on #58780
Thank you @brsteel for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 20:25] zr-msft commented on #53121
Thank you @blessedwithsins for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 20:26] zr-msft commented on #58137
Thank you @abarqawi for the feedback!

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 20:27] zr-msft commented on #58626
Thank you @collers for the feedback!

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 20:39] #60010 closed

[2020-07-31 20:40] zr-msft commented on #60010
Thank you @cityofships for your feedback.

I've updated the article to address your feedback, and the changes should be available soon.

[2020-07-31 20:45] SaurabhSharma-MSFT commented on #60024
@Seddy24 I tried testing Multi select checkbox and it worked fine for me.
![image](https://user-images.githubusercontent.com/38112130/89075573-5caf3300-d333-11ea-8f2c-3526e48c8f12.png)
I suggest you to please open a support ticket so that an Identity engineer can investigate your environment. Please let me know if you have any trouble opening a support case for this issue and I will open a free su

[2020-07-31 21:02] spelluru commented on #59891
@lenssoliang - Thanks for the feedback. I have updated the screenshots.

#please-close

[2020-07-31 21:02] #59891 closed

[2020-07-31 21:03] zr-msft commented on #54856
Thank you @lvillaca for the feedback!

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:03] #54856 closed

[2020-07-31 21:04] iainfoulds commented on #58157
Thanks for the feedback, @JonesMikael

All you're controlling is the ability to _create_ app passwords. Users can still use existing app passwords when you disable this ability. Ideally, you'd disable the ability to create app passwords, then use a Conditional Access policy to disable legacy authentication methods.

I'll update the to doc to make it clear you're not disabling the use of any existi

[2020-07-31 21:11] zr-msft commented on #59286
Thank you @derek-burdick for the feedback!

We've added an item to the backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:11] #59286 closed

[2020-07-31 21:15] zr-msft commented on #43394
Thank you @NWassell for the feedback!

We've added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:16] rwike77 commented on #50992
The statement is true for delegated permissions:  "Your app can never have more privileges than the signed-in user".  For delegated permissions, the app is running with a signed-in user present.  The app is acting as the user when making calls to a resource and the user is giving the app permissions to make those calls.  So the app can't have more permissions than what the user has, because the us

[2020-07-31 21:16] #50992 closed

[2020-07-31 21:19] #58157 closed

[2020-07-31 21:22] zr-msft commented on #51316
Thank you @TiloGit for the feedback!

We've added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:23] JamesTran-MSFT commented on #60072
@thahma
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-07-31 21:23] #60072 closed

[2020-07-31 21:28] John-Garland opened #60091 "Article is missing content (or link to content) that identifies the default Resource Group Allocation Behavior"
Besides being included in the "How-to Guides" doc area, this article is linked from the DevTest Labs configuration in the Azure Portal where Resource Group allocation behavior is defined. However, while providing the ability to override the "Default resource group allocation" behavior the article does not seem to identify what that behavior may be, nor does it link to another article (presumably/p

[2020-07-31 21:48] zr-msft commented on #50787
Thank you @baboune for the feedback.

We have added an item to the backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:48] #50787 closed

[2020-07-31 21:48] zr-msft commented on #55272
Thank you @porrascarlos802018 for the feedback.

We have added an item to the backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:48] #55272 closed

[2020-07-31 21:49] zr-msft commented on #55484
Thank you @e-saiz for the feedback.

We have added an item to the backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:49] #55484 closed

[2020-07-31 21:53] zr-msft commented on #47380
Thank you @gsxmax for the feedback!

We've added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-31 21:53] #47380 closed

[2020-07-31 22:21] joef12345 opened #60093 "Spelling"
...The devices are in tamper-event plastic backs. - Should say plastic bags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ac0b3a9-390d-2d1d-5b14-d6132456b448
* Version Independent ID: dcd35646-21b1-ad49-947b-b9e2b55f0d0f
* Content: [HSM physical security - Azure Dedicated HSM](https://docs.microsoft.com/en-us/azure/

[2020-07-31 22:32] Karishma-Tiwari-MSFT commented on #60085
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-31 22:38] lunar87 commented on #58753
@Karishma-Tiwari-MSFT My feedback go interpreted as HTML.  Where is has an example, it still has "mounted-drive-letter" where it really should have an example drive letter such as "icacls P: /grant john.doe@contoso.com:(M)"

[2020-07-31 22:42] kobulloc-MSFT commented on #60091
@dotnetgator Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-07-31 22:52] lunar87 commented on #50443
@BharathNimmala-MSFT  If this was a typical resources then the links you provide would be enough, but reservations seem to be slightly different then typical azure resources. I am not really sure what the specific syntax would be. So if I want to call New-AzRoleAssignment to add an owner to a reservation, what parameters do I use? A reservation doesn't live in a resource group so that would nto be

[2020-07-31 23:00] Karishma-Tiwari-MSFT commented on #59907
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-31 23:02] KranthiPakala-MSFT commented on #60086
@guntaled Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-31 23:15] Karishma-Tiwari-MSFT commented on #59945
Can you try the other way by installing the NVIDIA GPU Driver Extension and let me know if it works.
The NVIDIA GPU Driver Extension installs appropriate NVIDIA CUDA or GRID drivers on an N-series VM.

Install or manage the extension using the Azure portal or tools such as the Azure CLI or Azure Resource Manager templates. See the [NVIDIA GPU Driver Extension documentation](https://docs.microsoft.

[2020-07-31 23:43] TravisCragg-MSFT commented on #60089
@v-danwhe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-31 23:46] changeworld commented on #59991
@SaiKishor-MSFT
I understand it's an existing issue.
I wait for the fix.

[2020-07-31 23:53] msaburnley commented on #58201
Hey @kokeysian thanks for your feedback. The page is displaying the screenshots. I am going to close this github issue. If Thanks again! #please-close

[2020-07-31 23:53] #58201 closed

[2020-08-01 00:00] MarileeTurscak-MSFT commented on #60093
Thanks @joef12345! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/124658

[2020-08-01 00:00] #60093 closed

[2020-08-01 00:03] msaburnley commented on #58845
Hey @DeanGross thank you for your feedback. I will have to discuss this with the owner of the PIM content. In the meantime, you can access the PIM documentation by clicking the link [What is Azure AD Privileged Identity Management?](https://docs.microsoft.com/azure/active-directory/privileged-identity-management/pim-configure) in the next steps section. If you have any additional questions please

[2020-08-01 00:03] #58845 closed

[2020-08-01 00:18] msaburnley commented on #58993
Hey @deangross thanks for your feedback! Currently we have a what's new page for all of Azure AD, including updates to IGA, and is updated monthly. You can access the current month's release notes here: https://docs.microsoft.com/azure/active-directory/fundamentals/whats-new
Thanks again!

#please-close

[2020-08-01 00:18] #58993 closed

[2020-08-01 00:30] kenwith commented on #59275
Related to: https://github.com/MicrosoftDocs/azure-docs/issues/58484

The procedure in the article will work as an exception to the referenced PATCH note when usage is sign and both keyCredential and passwordCredential have the same KeyID.

As described in the other issue, there are some key details that are not trivial. I am working with the PM expert on this to post his sample code for a C# app

[2020-08-01 00:35] kenwith commented on #57567
Relates to: https://github.com/MicrosoftDocs/azure-docs/issues/58484 and https://github.com/MicrosoftDocs/azure-docs/issues/59275

Agree and I am working with the PM expert on this to post his sample code for a C# app that can be used as a proof of concept and make it clearer.

[2020-08-01 00:41] MarileeTurscak-MSFT commented on #60081
Thanks @mstb5150 !

There is already a note about needing to use the command line for this, but I made a pull request to add an example. https://github.com/MicrosoftDocs/azure-docs-pr/pull/124660

[2020-08-01 00:41] #60081 closed

[2020-08-01 00:45] kenwith commented on #57564
@MrAzureAD - this is great info and I have added a new note with your idea and it should go live shortly. Thanks for taking the time to share your insights and improve the documentation. I very much appreciate it.

@shashishailaj - looks like the note is showing up now. Maybe it took some time to sync the private and public repo. I added the note to where you recommended too. Thanks for the guidan

[2020-08-01 00:45] kenwith commented on #57564
#please-close

[2020-08-01 00:45] #57564 closed

[2020-08-01 00:52] kenwith commented on #57264
@MrAzureAD - thanks for this information too. I added it to the PR with your other recommendation. It should be live soon.

[2020-08-01 00:52] kenwith commented on #57264
#please-close

[2020-08-01 00:52] #57264 closed

[2020-08-01 01:08] pnarsi commented on #59768
Hi @mattchenderson

My apologies - I meant to raise this issue against this page: https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#use-key-vault-references which is where the quote is from. As you can see there is commentary on this page but no call out note around this limitation which makes it very easy to miss.

Also there is a no reference of this limitation

[2020-08-01 01:14] varunsh-coder opened #60094 "Network security groups can't be configured for VMs enabled with Azure AD authentication"
[Enter feedback here]
This article states that "Currently, Azure network security groups can't be configured for VMs enabled with Azure AD authentication.". I tested this, and I was able to use AAD auth with both NIC and subnet level NSGs on the VM. Can you please confirm if this statement is true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-08-01 01:35] ChaitanyaNaykodi-MSFT commented on #60090
@pheuter, Thank you for your feedback! We will review and update as appropriate.

[2020-08-01 01:37] ChaitanyaNaykodi-MSFT commented on #60082
@iBrooks, Thank you for your feedback! We will review and update as appropriate.

[2020-08-01 02:04] stevenhurwitt commented on #19226
Getting this error when attempting to use both Kusto Web UI and Kusto Explorer desktop app. However accessing it through portal.azure.com works (luckily). Is there a fix or workaround for this? Or a permissions setting that needs to be changed on my Azure AD account?

[2020-08-01 02:13] kenwith commented on #56589
@plachor and @MrAzureAD - I found similar information here: https://docs.microsoft.com/en-us/graph/api/application-addkey?view=graph-rest-1.0&tabs=http#request-body

I walked through with both values for usage Sign and it seemed to work but I feel like I must be missing something since you both experienced issues. I am using Graph Explorer though and validating in the UI. I didn't test the cert wi

[2020-08-01 02:14] kenwith commented on #56589
#please-close

[2020-08-01 02:14] #56589 closed

[2020-08-01 02:26] husamhilal commented on #60073
Thanks a lot @tfitzmac for your quick turnaround. Sounds good to me 😉 Maybe adding parameters for the examples would make them clear on how they can be handled. So readers would understand that there is no special handling for parameters. Thank you very much!

[2020-08-01 02:37] kenwith commented on #59275
I added proof of concept reference code from the product team. It should be live soon. I also submitted several other PR's to address issues and add clarity.

[2020-08-01 02:37] kenwith commented on #59275
#please-close

[2020-08-01 02:37] #59275 closed

[2020-08-01 02:38] kenwith commented on #58484
I added proof of concept reference code from the product team. It should be live soon. I also submitted several other PR's to address issues and add clarity.

[2020-08-01 02:38] kenwith commented on #58484
#please-close

[2020-08-01 02:38] #58484 closed

[2020-08-01 02:38] kenwith commented on #57567
I added proof of concept reference code from the product team. It should be live soon. I also submitted several other PR's to address issues and add clarity.

[2020-08-01 02:39] kenwith commented on #57567
#please-close

[2020-08-01 02:39] #57567 closed

[2020-08-01 03:22] georgedavid29 commented on #37403
Is there a sign up for private preview?

[2020-08-01 03:36] SeanFeldman commented on #32126
@ashwinp88 not sure about Java version of Functions. @anthonychu might know.

[2020-08-01 03:37] femsulu commented on #60071
@KitLemmonds Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-08-01 03:38] femsulu commented on #60088
@jabbera , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-08-01 03:41] femsulu commented on #60084
@mydiemho Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-08-01 03:59] psmanhas commented on #60094
@varunsh-msft Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-01 05:42] hisasima commented on #57843
I heard the value is 6.75 Gbps from PG of Azure firewall. I don't think this sentence is correct.

--- h_isato@yahoo.co.jp wrote:

[2020-08-01 06:08] anthonychu commented on #32126
You can access the body of the message as a string. Are you able to get this example to work? https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=java#example

[2020-08-01 07:33] AjayKumar-MSFT commented on #60077
@ctulb,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-08-01 08:09] SB-o-matic commented on #59996
Thanks for your help!
I took a look at the sample. In the sample, AAD-UserWriteUsingLogonEmail and AAD-UserWritePasswordUsingObjectId technical profiles are used to call the SetPasswordResetOn claims transformation that populates the extension_passwordResetOn attribute with the current time. The TPs then persist the attribute in AAD. The problem is extension_passwordResetOn is populated during sig

[2020-08-01 09:32] rprohit66 opened #60104 "Repeated word in ROPC Display Content"
On the 5th Step of **Create a sign-up and sign-in user flow**, ROPC Policy display content showing **using** word 2 times.
===========================================================================
![image](https://user-images.githubusercontent.com/41752010/89098676-44104d00-d407-11ea-9e92-ce394ffde6bf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-08-01 09:41] go-shinyashiki opened #60105 "File size limit for certificate upload"
I tried to upload a certificate from [Cloud Service(classic)] -> [Certificates] -> [upload].
I get the following error: 'Unable to add certificate 'Thumbprint' : The maximum supported certificate file size is 16384 bytes'.

I checked the limitation that I cannot upload a certificate that is larger than 16384 bytes.

[Request]
I would like you to list (1) and (2) on the following pages
https://docs

[2020-08-01 13:15] lgmorand commented on #53570
Thanks @zr-msft (Zachs). From internal discussion, it seems that node image upgrade is the new recommended way to patch nodes, better than kured or nodepool upgrade (because if no new version of kube is available, I'm not sure you can upgrade a win node pool with the same version, isn't it ?)

[2020-08-01 13:17] HarshitaSingh-MSFT commented on #59894
@rick-hayek, glad to hear that we were able to help you.

[2020-08-01 13:57] rabellanoprocq opened #60106 "This doc was published in 2018."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18ed-6d13-6fac-7b6c-f78f47b0f754
* Content: [Subscriptions in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-subscriptions)
* Content Source

[2020-08-01 14:15] escstar opened #60107 "How to get thumbprint from AAD-App registration"
I'd like to get thumbprint from app registration which is registered in 2018.(previous portal maybe)
I can't find thumbprint and customKeyIdentifier anywhere in app registration menu(Portal) and powershell but have a **value** in **keyCredentials** from **Manifest** menu.

Can we get thumbprint using this value?

   "keyCredentials": [
        {
           "customKeyIdentifier":null,
           "e

[2020-08-01 14:23] #60106 closed

[2020-08-01 15:14] stephbaron commented on #60070
Makes sense, made this change

[2020-08-01 15:15] stephbaron commented on #59922
Updated doc to address feedback

[2020-08-01 16:15] epomatti opened #60108 "Peformance details"
I can see that I can export the model as a Docker image, but as the page is labeled as "mobile" export, would this be suitable to run in the backend?

I ask this because according to [limits and quotas](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/limits-and-quotas) for the Cognitive Service endpoint there is a limit of 10 transactions per second for prediction.

[2020-08-01 16:33] DeanGross commented on #58993
thanks, that is helpful, give that exists, it would be helpful to add a link from the Identity Governance page to it to make it obvious that the information is readily available

[2020-08-01 16:34] priyankark opened #60109 "Documentation needs a minor update"
The UI screenshot in the docs for getting the keys was different from the actual UI. Also, I could only find one key (under label 'Key') and no separate keys for prediction and training (as in the docs). This same key helped me train the model. Can it be checked? Apologies if I missed something.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-08-01 16:53] xinyeah opened #60110 "Scripts are not runnable on Regional disaster recovery for Azure Databricks page"
[Enter feedback here]
The scripts are not runnable on this page. I fixed bugs, add more details and rewrites the whole doc.
Here is the details migration steps for Databricks:  https://xinyeah.github.io/databricks-migration-guide/
If you could show me the correct content source link, I will create a PR for it.
The current content source is not valid anymore. Content Source: [databricks/scenarios/h

[2020-08-01 16:55] AlverezYari commented on #60041
@SnehaAgrawal-MSFT Thanks!!

[2020-08-01 17:11] manub22 opened #60111 "Please update the doc, allowCreatingManagedTableUsingNonemptyLocation is removed in Spark 3.0"
Since Spark 2.4, creating a managed table with nonempty location is not allowed. An exception is thrown when attempting to create a managed table with nonempty location. To set true to spark.sql.legacy.allowCreatingManagedTableUsingNonemptyLocation restores the previous behavior. This option will be removed in Spark 3.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-08-01 17:31] xinyeah opened #60112 "404 ERROR for all Databricks docs' content source"
[Enter feedback here]
404 ERROR for all Databricks docs' content source
The content source is not valid anymore because https://github.com/MicrosoftDocs/databricks-pr/ doesn't exist.
Could you please update the content source link?
Also, I see there is a commit deleting all databricks docs which cause the inconsistency issue: https://github.com/MicrosoftDocs/azure-docs/commit/03c603601c9007b11e920

[2020-08-01 18:23] dotnetmirror opened #60114 "https is missing in outbound policies"
https://docs.microsoft.com/en-us/azure/api-management/transform-api

In the Test the transformations section, https is missing in the URL's section. With out https, APIM policy is not working.

Current:
`
   <find-and-replace from="://conferenceapi.azurewebsites.net:443" to="://apiphany.azure-api.net/conference"/>
     <find-and-replace from="://conferenceapi.azurewebsites.net" to="://apiphany.azu

[2020-08-01 18:27] #60114 closed

[2020-08-01 18:27] dotnetmirror commented on #60114
Not required. It is working.

[2020-08-01 19:16] marlonsingleton commented on #59235
I'm interested in this issue as well, since the CentOS-based 7 LVM is now based on **CentOS 7.8** and not CentOS 7.7 as documented - _OpenLogic CentOS 7.7 7-LVM OpenLogic:CentOS:7-LVM:latest OS and data disk_

masingle@Azure:~$ az vm show -g cis -n centos77lvmgen1 --query storageProfile.imageReference
{
  "exactVersion": "7.8.2020062400",
  "id": null,
  "offer": "CentOS-LVM",
  "publisher": "Open

[2020-08-01 20:40] dfay88 commented on #60018
Just tried redeploying and everything was successfully provisioned and still seeing the same problem. I have followed the steps outlined in the documentation.

![image](https://user-images.githubusercontent.com/13087826/89110128-b2f4a280-d415-11ea-8938-4a7517c40b67.png)

[2020-08-01 20:48] femsulu commented on #59942
@rayne-wiselman  - can you take a look at this doc-revision request please?

[2020-08-01 21:01] femsulu commented on #59951
redirecting to content owner for deeper review.

[2020-08-01 21:10] femsulu commented on #60003
reassigned to content owner for further review.

[2020-08-01 21:31] femsulu commented on #60107
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-08-01 23:39] JoshSnider opened #60116 "These docs for the portal are outdated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0d253e0-25fa-4548-8962-0c036b995e10
* Version Independent ID: a933aa9d-d98c-6b75-968e-ed59377bc17d
* Content: [Live stream with on-premises encoders using Azure portal](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-por

[2020-08-02 00:16] timshe commented on #47594
Alex, it'll be nice if you can share how you solve this problem... One day all was working for me, and next I got this error. I even try creating another service with same error.

[2020-08-02 03:24] MarileeTurscak-MSFT commented on #60104
@rprohit66
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:27] MarileeTurscak-MSFT commented on #60105
@go-shinyashiki
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:28] MarileeTurscak-MSFT commented on #60108
@epomatti
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:30] MarileeTurscak-MSFT commented on #60109
@PatrickFarley
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:32] MarileeTurscak-MSFT commented on #60110
@xinyeah
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:33] MarileeTurscak-MSFT commented on #60111
@manub22
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:34] MarileeTurscak-MSFT commented on #60112
@xinyeah
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:35] MarileeTurscak-MSFT commented on #60116
@JoshSnider
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-02 03:58] maxal1917 opened #60118 "How Scaling works together with App Service Plan"
[Enter feedback here]

The scaling section describes that new instance of the function is created when necessary. However, it is not clear how it is related to auto scaling of App Service Plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5c

[2020-08-02 04:05] BhargaviAnnadevara-MSFT commented on #59966
@kevduong1 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-02 04:05] #59966 closed

[2020-08-02 04:15] greendx opened #60119 "Private DNS in a centralized Subscription"
How can I get this configured with a Private DNS Zone located in another subscription?

I need to configure Azure Private Link between multiple Key Vaults located in spoke subscriptions to VNETs in their own subscriptions. I would like to use a single shared Private DNS Zone located in my HUB subscription. When following instructions in this document, Step 6 says **"Leave the "integrate with the p

[2020-08-02 04:36] psmanhas commented on #60119
@greendx Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-02 04:43] psmanhas commented on #60118
@maxal1917 Thank you for the feedback. We will work on it and will keep you updated on the thread.

Thanks

[2020-08-02 05:48] piyushnariani opened #60120 "The document is outdated"
The document is outdated. While sending the request from postman, I am able to get a token, however when I try to use that token to sent request to fetch/post Patient, I get 403 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74d0dae2-ed92-bad6-1a97-4fdcda016c07
* Version Independent ID: ec5ca2c6-319a-1af5-eda3-9

[2020-08-02 06:02] SadiqhAhmed-MSFT commented on #59990
@matt1405 We haven't heard  back from you, Please reply if there are any follow up questions in this matter.

[2020-08-02 06:04] SadiqhAhmed-MSFT commented on #59926
@juanandmsft  We haven't heard back from you, so we will now close this issue. If there are any questions you have, please reply and we will gladly continue the discussion.

[2020-08-02 06:04] #59926 closed

[2020-08-02 06:14] SadiqhAhmed-MSFT commented on #59772
@robburton58 For MG scope, you will need to identify all the child MG and subscriptions. Then you can use PoSh or REST API to fetch the role assignments for each subscription/MG.

•	The API call to get assignments at scope, inherited and at child scope(Only for Subscriptions)
https://management.azure.com/{scope}/providers/Microsoft.Authorization/roleAssignments?api-version=2020-04-01-preview
For E

[2020-08-02 06:23] psmanhas commented on #60120
@piyushnariani Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-08-02 06:24] psmanhas commented on #60120
@CaitlinV39 Can you please check and add your comments on this doc update request as applicable.

[2020-08-02 06:35] orspod commented on #19226
@stevenhurwitt - the documents no longer reside in this location. Best practice is to open new feedback on the page so it can be addressed. In your situation, since this is a product question, please post your question on Stack Overflow. Thanks!

[2020-08-02 08:48] SollicitusPeon opened #60121 "Missing Step To Include User Flow To Doc"
[Followed the instructions in the doc and when I go back to my Blazor Client app and click on 'Login' I did not see the option to sign in with my Microsoft Account. What I needed to do was go into the User Flow and select the Sign up / Sign In policy and go to Identity Provider, and from there checked 'Microsoft Account'.

Hope this help someone else out there.]

---
#### Document Details

⚠ *Do n

[2020-08-02 12:28] richardszalay opened #60124 "MongoDB API vs Session consistency"
This page is very unclear as to how the default consistency level of "Session" applies to the MongoDB API. Could this be made explicit somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac149cc8-9751-81aa-98b1-17d6b383ce50
* Version Independent ID: f09f1038-5787-8663-54e6-afe600bdccc8
* Content: [Consistency lev

[2020-08-02 13:41] BhargaviAnnadevara-MSFT commented on #60106
@rabellanoprocq Thanks for reaching out. This doc did undergo quite a few changes since then. Please let us know if you're looking for anything specific that needs to be updated.

[2020-08-02 14:19] psmanhas commented on #60121
@SollicitusPeon Thank you for your feedback and providing the mentioned information.

[2020-08-02 14:22] maxal1917 commented on #60118
Also about scaling, let's say the code that handles events is not CPU intensive, but takes some time due to dependencies. So, the function may not keep up, and we need another instance of function, but we don't need another VM instance. Will that new instance of function will be created?

[2020-08-02 14:23] AlexKelAnova commented on #47594
Timothy, I need some details in order to be able to look at it. Please send me the steps you are doing and screenshot of the error you are receiving. Thanks

[2020-08-02 14:24] psmanhas commented on #60124
@richardszalay Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-08-02 15:09] RameshTirunagari opened #60125 ""Clean up resources" section is not complete on Azure File Sync tutorial page"
[Enter feedback here]
"Clean up resources" section is not complete or incorrect.
It is mentioned to delete the 'resource group' directly and that's-it.
But, it is failing as we had already configured the filesync service which is in running status with all end points and sync groups active. Resource group is unable to delete them while they are active.  I had to first Unregister the server with St

[2020-08-02 15:18] anhlqn commented on #59525
If we cannot use these service tags in NSGs, should this document https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connectivity-architecture-overview#mandatory-inbound-security-rules-with-service-aided-subnet-configuration be updated to remove the mandatory inbound rules with the sources CorpnetSaw and CorpnetPublic.

I asked this because the ARM template for creating SQL MI creat

[2020-08-02 15:52] jukkat300 opened #60126 "uus"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e2ed68-8901-d002-a00a-e1d702cc1638
* Version Independent ID: 32c32bf8-8492-e8c6-c05f-3b0845b06913
* Content: [Pricing of Azure Security Center tiers](https://docs.microsoft.com/en-us/azure/security-center/security-center-pricing)
* Content Source: [

[2020-08-02 16:06] MarileeTurscak-MSFT commented on #60126
@jukkat300 thanks! Please create a new issue detailing more specific feedback. It's hard to tell from this what the feedback on the article is.

[2020-08-02 16:06] #60126 closed

[2020-08-02 17:01] psmanhas commented on #60125
@RameshTirunagari Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-02 18:01] kedsouza commented on #53436
Hi, If people are still facing this issue I would recommend trying to add the below[ app setting ](https://docs.microsoft.com/en-us/azure/app-service/configure-common#configure-app-settings)until a fix has been made.
WEBSITE_NPM_DEFAULT_VERSION=6.14.4

[2020-08-02 18:04] maxal1917 commented on #60118
I ran some experiments to understand how it works, but it would be helpful to understand it better from documentation.

[2020-08-02 18:49] mahesh9022 opened #60127 "Application Insights Telemetry option is not Visible"
The Application Insights Telemetry option is not visible in my visual studio.
I have installed all the required packages (azure development tool and asp.net development tool)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f7156b-3478-9938-6596-3573034fd7f5
* Version Independent ID: 3d3adaf0-7e39-209d-71b7-3b41bf05cb6

[2020-08-02 18:53] tparanjpe opened #60128 "Keys and Endpoint Copy to Clipboard"
Hello,

The Keys and Endpoint feature on the resource tab has included '' which mess up the execution when copied to the system environment variables!

Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4c8bd02-16d6-d043-4f2c-a337a70954f5
* Version Independent ID: 8fa84a6d-5c1e-3562-43aa-019f968edd0f
* Content:

[2020-08-02 19:11] JeffSmalley opened #60129 "New-AzRmStorageShare versus New-AzStorageShare"
I was curious as to this article using the New-AzRmStorageShare  cmdlet versus New-AzStorageShare cmdlet.  Is there a recommendation on which to use moving forward???

Regards,
Jeff Smalley MCT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2c9646-a4bc-aa28-de27-5fce4d4b4e44
* Version Independent ID: 1288f4c1-e871-8b

[2020-08-02 19:32] mmacy commented on #36432
@psignoret Going to #reassign:psignoret this one back over to you for follow-up, Philippe. PR for review is at https://github.com/MicrosoftDocs/azure-docs-pr/pull/124156 - feel free to comment there and/or open a new PR to resolve this issue. Thanks! -MM

Cc: @SaeedAkhter-MSFT @CelesteDG

[2020-08-02 19:33] SeaDude opened #60130 "CRITICAL Key Vault Loophole with Azure Functions"
I recently submitted a Bug Bountry report (MSRC Case 59721 CRM:0536000385) detailing how Azure Functions poke a hole in the Key Vault Secure Access Model defined in this doc. Unfortunately, my report was deemed "not a bug" but rather the secrets I discovered in plaintext, to unauthorized users, is "intended behaviour" (I continue to disagree, but that another story.)

**Bottom line:** You should u

[2020-08-02 19:50] jayforu commented on #54628
Thank you, I will try it out

On Fri, Jul 31, 2020, 13:11 NDalvise <notifications@github.com> wrote:

[2020-08-02 19:58] larryclaman opened #60131 "VM Single Instance SLA needs updating"
The following text in the document appears to be out of date:
[code]

Per the July 2020 SLA update, this text, while still true, should be updated with the new info [announced](https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_9/):
[code]
I'll submit a PR with a quick fix for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-08-02 20:31] raymond-dillon opened #60133 "Production Push Notifications"
Following the instructions, I am having issue getting notifications working in a production environment.

Steps followed:

1. Created my App ID
2. Created my production SSL cert and exported my .p12 file and uploaded to Azure Notification Hubs under "production"
3. Created my provisioning profile (as in https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-not

[2020-08-02 23:06] alohaninja opened #60135 "Publishing Local Function Failure"
Following the sample docs guide using **Azure Function Core Tools** v3 and Azure Functions v3 runtime and unable to publish local function to azure...

[code]

## Error
[code]

[2020-08-02 23:11] alohaninja commented on #60135
Tried [enabling debug mode from related issue](https://github.com/Azure/azure-functions-core-tools/issues/1530)...

## Enabling CLI Debug
[code]

## Error Detail
[code]

[2020-08-02 23:17] alohaninja commented on #60135
Found that I forgot to add `--functions-version 2` to the `az functionapp create` so the warning was invalid - it was still running function v1 runtime.

## Function Create Warning
[code]

[2020-08-02 23:24] ManuelGalindo opened #60136 "Example Script errors out"
With PS5 and this modules the script errors out

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2de5293a-ffcf-f22d-6c32-a0412dd1438b
* Version Independent ID: 5c0414b8-690d-9cdb-16ef-d7d26724bfd2
* Content: [Create an Azure Firewall test environment](https://docs.microsoft.com/en-us/azure/firewall/script

[2020-08-03 00:08] HandyAndyOnGitHub opened #60137 "With the new "My Account" experience please explain how to set an App Password as this doesn't appear to be possible with the new "My Account" experience."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authen

[2020-08-03 00:14] HandyAndyOnGitHub commented on #60137
Ah! Found it - Clicking "Manage" in the "Office apps" section reverts to the Classic "My Account" Experience, then the user can create an App Password as before (Security & privacy > Additional security verification > Create and manage app passwords).

Microsoft would you please, please, please NOT create "New Experiences" until ALL functionality is available.  This is a consistent frustration acr

[2020-08-03 00:15] atamu opened #60138 "Moving network interfaces that are connected to virtual machines."
It appears that you **can** move a network interface to another resource group without moving associated resources. I was able to move a network interface that is connected to a virtual machine without moving the virtual machine or virtual network. Is it possible to review/clarify this?

<

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-03 01:47] vipulsparsh commented on #59876
@osaid202 You need to enable the Combined registration from Azure portal like this :
![image](https://user-images.githubusercontent.com/63580915/89138386-11766980-d559-11ea-9ab5-41f80ac0c1c5.png)

Once done, you can enable the MFA from office 365 portal for those users and they will experience the combined security information registration page on their next login which will take them to https://m

[2020-08-03 02:10] KrishnaG-MSFT commented on #60127
@mahesh9022 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-03 02:12] MayankBargali-MSFT commented on #59783
@krishrocks1904 Thanks for your response. We will now proceed to close this thread.

[2020-08-03 02:12] #59783 closed

[2020-08-03 02:50] go-shinyashiki commented on #60105
Thank you for your reply.

I am very sorry. I was missing a sentence.

Could you please include the following information in your documentation as well

  *   How to get around the problem if I have to upload a certificate that is larger than that

Regards

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Sunday, August 2, 2020 12:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply

[2020-08-03 02:56] vipulsparsh commented on #59993
@tejinderrai Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@rwike77  Can you have a look at this ?

[2020-08-03 03:26] DonFrazier commented on #6926
`Trigger Details: UnscheduledInvocationReason: IsPastDue, OriginalSchedule:`

At startup I am getting this message when I start the debugger.  is there any way to clear the cron scheduled tasks before I launch the debugger?  I can set a breakpoint at the function start and skip the auto-triggered invocation but I have to remember to do that.  Is there any way to configure via hosts.json to disrega

[2020-08-03 03:32] RyanHill-MSFT commented on #60077
Hi @ctulb, I checked under resources.azure.com and didn't see any mentions of client id. As static web apps is still a preview feature, access to the client id may not have been implemented just yet. I'll reach out to the product group to see if there any workarounds.

[2020-08-03 03:42] AlexisVirgen commented on #8423
Having the same issue years later... I am surprised this is not fixed yet, any solutions?

[2020-08-03 03:45] neeleshray-msft commented on #60128
@tparanjpe Thanks for the question! We are investigating and will update you shortly.

[2020-08-03 03:47] neeleshray-msft commented on #60129
@JeffSmalley Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-03 03:48] pacodelacruz opened #60141 "Add a FAQ about Azure Private DNS zones being globally deployed"
I understand that Azure Private DNS Zones are not bounded to a particular region. So they are resilient to regional disasters. However, I couldn't find an official reference confirming this.

Please add a FAQ related to the fact that Azure Private DNS Zones are deployed globally and they are resilient to regional disasters. Also, please clarify in the answer that if a regional disaster happens, Pr

[2020-08-03 03:51] neeleshray-msft commented on #60133
@raymond-dillon Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-08-03 03:54] limingr opened #60142 "Does the python code sample actually work?"
I followed the steps exactly and got errors in statement dbutils.fs.mount:

java.lang.IllegalArgumentException: Failed to initialize null
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
     62         try:
---> 63             retur

[2020-08-03 03:56] neeleshray-msft commented on #60136
@ManuelGalindo Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-08-03 03:58] SatishBoddu-MSFT commented on #60022
Hello @berre74 , Just checking back, please let us know how you are doing!
Let us know if you need further help in this matter.

[2020-08-03 04:25] vipulsparsh commented on #60130
@SeaDude  Thanks for sharing that. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@ShaneBala-keyvault  Can you have a look at this ?

[2020-08-03 04:36] KalyanChanumolu-MSFT commented on #59961
@Eikistein Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-08-03 04:45] eriawan commented on #59623
@ChaitanyaNaykodi-MSFT @craigshoemaker

Just to remind, could you close this issue?
The URL/link has been fixed, and it points to correct link to sample DI on github on "main" branch.

[2020-08-03 04:52] HarithaMaddi-MSFT commented on #60142
@limingr - Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-08-03 04:56] n41n4 opened #60143 "How can I create a domain on cloudapp.azure.com in cloud services."
Hi Team,
            I wanted to create a cloud service with [mywebsite].cloudapp.azure.com,however I'm unable to register.It is only showing cloudapp.net.

Is there anyway I can register on that domain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790ff17b-0306-897d-f0df-59dd92441426
* Version Independent ID: 6bfac7c

[2020-08-03 05:03] BhargaviAnnadevara-MSFT commented on #60143
@n41n4 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-08-03 05:14] #60051 closed

[2020-08-03 05:16] AnuragSharma-MSFT commented on #59736
@a-martynov We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-03 05:16] #59736 closed

[2020-08-03 05:16] SwathiDhanwada-MSFT commented on #59933
@foxrocci Windows Server 2008 SP2 is supported. Please see [this advisory]( https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#sha-2-code-signing-support-requirement-for-windows) where customers are asked to update their Win2k8sp2 machines for the upcoming signing change.

[2020-08-03 05:19] VikasPullagura-MSFT commented on #59930
@OffColour I checked with internal team on this, team is working on universal app to support WVD. For now, please use the Microsoft Remote Desktop App for Windows as MSI.

[2020-08-03 05:24] n41n4 commented on #60143
@BhargaviAnnadevara-MSFT  I've read https://docs.microsoft.com/en-us/azure/security/fundamentals/azure-domains this,
I want to create Domain name with *.cloudapp.azure.com.

Please help me

[2020-08-03 05:25] VikasPullagura-MSFT commented on #60131
@larryclaman Thanks for the Feedback and help improving the documentation by updating the doc. The changes will go live once the PR is approved.

[2020-08-03 05:32] amanmcse commented on #60053
@ivandretvic Closing the thread now.

[2020-08-03 05:32] #60053 closed

[2020-08-03 05:53] truekonrads opened #60145 "Public IP address sample query does not include classic VMs"
In sample ARG queries, the query "[List virtual machines with their network interface and public IP](https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/advanced?tabs=azure-cli#join-vmpip)" does not list IPs from Classic VMs.  There is no  warning about it. This can give misleading results. Here is a sample query to get IPs from Classic VMs (I think it is correct):

[code]

Re

[2020-08-03 05:53] BhargaviAnnadevara-MSFT commented on #60143
@n41n4 Thank you for the response. Sure, I've routed this to the appropriate Team to investigate and update.

[2020-08-03 05:54] souravmishra-msft commented on #60036
@Maks303, In an Azure KeyVault, we do not have an option yet to restrict-access/grant-access based on the resources in the data-plane. So, once you give access like (read, write, list, etc) on either keys or secrets to either a user or service principal, then all the keys/secrets available in that keyvault would be accessible to that service principal/user.

What we recommend is to keep separate k

[2020-08-03 05:56] n41n4 commented on #60143
@BhargaviAnnadevara-MSFT Thanku so much for quick repsonse.

[2020-08-03 05:57] PramodValavala-MSFT commented on #59896
@jwisener Glad to hear that! Could you confirm and share the solution that resolved it?

Also, I see that you have created a [Q&A thread](https://docs.microsoft.com/en-us/answers/questions/53989/index.html) as well. It would help others with a similar problem if you could share your solution there as well.

[2020-08-03 06:02] sensoham opened #60146 "400 Client Error: Bad Request for url for CV OCR"
Hi

I have created a subscription for Azure CV OCR to carry out text extraction from various text based images. I am using [this guide](https://docs.microsoft.com/en-gb/azure/cognitive-services/Computer-vision/quickstarts/python-print-text) to start out.

This works well for most images. So what I have tried to do is stack 2 images (first side by side, then one below the other) to create a single

[2020-08-03 06:34] RohitMungi-MSFT commented on #60128
@tparanjpe Are you referring to the keys and endpoint page on the Azure portal for a resource? The keys copied to clipboard contains only the keys displayed in the portal and these are alpha numeric and does not include special characters. Also, please ensure to print your environment variable before using them to ensure the correct keys are set.

[2020-08-03 06:35] zqynoob opened #60147 "Some problems are on Weather forecast using the sensor data from your IoT hub in Azure Machine Learning"
hello，I have some trouble when I reproduce Weather forecast using the sensor data from your IoT hub in Azure Machine Learning by this page
This section ，‘’Create, configure, and run a Stream Analytics job’，needs to be updated，for the stream analysis interface is different from the interface on Azure's Stream Analytics. especially [Add Function.](https://docs.microsoft.com/en-us/azure/iot-hub/iot-h

[2020-08-03 06:40] bbpaulvanharen opened #60148 "DPS and device registration using groups"
The diagram provided in the section "Behind the scenes"  is insightful. If I understand correctly, the following holds:

- step 1 takes place during manufacturing, and requires a preconfigured enrollment service
- steps 2 through 6 only happen during first boot of the device
- steps 7 and 8 take place during regular operation

In the quickstart and the tutorials, I can find guidance how to provisi

[2020-08-03 06:41] JayaChatterjee-MSFT commented on #60043
@vaibhavramdasi  We won't be affecting the last stable version as that version is already on the workers. We update the regions gradually hoping that we will  understand the status before too many people are updated. However, the issues with the latest versions have been fixed and RCA has been provided for the dame.
You may continue to pin to the older version for a while but we would strongly rec

[2020-08-03 06:56] normseq opened #60149 "Incorrect link for configuring FCI with Storage Spaces Direct"
[Enter feedback here]
In the "Storage Spaces Direct" section on this page https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/failover-cluster-instance-overview#storage-spaces-direct , the link for the following text leads to configuring FCI with Shared Disks instead of Storage Spaces Direct
"To get started, see SQL Server failover cluster instance with Storage Spaces Direct"

[2020-08-03 07:03] PramodValavala-MSFT commented on #49471
@spottedmahn @kensonwu1 The `ExecutorService` class used here is the [`java.util.concurrent.ExecutorService`](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ExecutorService.html) class used for asynchronous concurrent execution.

I believe the intent of the new methods is to expose this as a parameter for customization but you would simply [`ForkJoinPool.commonPool()` used in the d

[2020-08-03 07:10] #59870 closed

[2020-08-03 07:13] VikasPullagura-MSFT commented on #60149
@normseq Thanks for pointing this out. I have updated the document and changes will go live soon.

[2020-08-03 07:18] VikasPullagura-MSFT commented on #59930
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-03 07:18] #59930 closed

[2020-08-03 07:24] iliaJelly opened #60150 "link doesn not work"
https://shell.azure.com, does not redirect to anywhere. And this link is referred in the page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Independent ID: 3a2fd493-9682-eedf-fad1-571b9391cd46
* Content: [Tutorial: ASP.NET Core with SQL Database - A

[2020-08-03 07:26] CatalinEsanu opened #60151 "Bad Link: Compliance Offerings"
The following text points to the "Microsoft Azure Compliance Offerings" page:
"Azure SQL Managed Instance has been certified against a number of compliance standards. For more information, see the *>>Microsoft Azure Compliance Offerings<<*, where you can find the most current list of SQL Managed Instance compliance certifications, listed under SQL Database."

The link appears to be wrong as it giv

[2020-08-03 07:27] xdmushui opened #60152 "@xdmushui I found a lot of the data on the API to be erroneous or ambiguous"
@xdmushui Here is the retail rate card API that will give you the desired results with the right filters

https://prices.azure.com/api/retail/prices?$filter=serviceFamily eq 'Compute'

Please note this is in preview mode.

_Originally posted by @mumami in https://github.com/MicrosoftDocs/azure-docs/issues/59901#issuecomment-666579835_

[2020-08-03 07:27] matt1405 commented on #59990
Thanks for letting me know we're a silver partner so I'll take another look.
Adopt through the portal is simple for CSPs on the marketplace and through I know that Lighthouse is designed for CSPs to support clients and portal version for end users would be ace.
My customers in specific deal with in some case over 50 tenancies with each school being standalone, Lighthouse is perfect for them but on

[2020-08-03 07:31] ram-msft commented on #58257
@ammills01 This issue seems request to Power BI, we would recommend raise an issue in the PowerBI community forum link https://community.powerbi.com/ for the same. The Azure cognitive service Anomaly detector team checking on improving the doc and features.

[2020-08-03 07:31] amanmcse commented on #60121
@SollicitusPeon Please find my comments inline.

**Followed the instructions in the doc and when I go back to my Blazor Client app and click on 'Login' I did not see the option to sign in with my Microsoft Account.**
What do you see on screen when you run the user flow? Could you please share a screenshot including the URL? If you have only Microsoft Account as IDP in the user flow, you will direc

[2020-08-03 07:35] #60152 closed

[2020-08-03 07:44] xdmushui commented on #59901
@mumami Hi,
I found a lot of the data on the API (https://prices.azure.com/api/retail/prices) to be erroneous or ambiguous.
I save the data for this API locally. I found problems with all units that recorded Reservation, and I couldn't know which one was 1 year and which one was 3 years.
![image](https://user-images.githubusercontent.com/3242057/89157812-aef48c00-d59f-11ea-92fd-71ab6ce36da5.png)

[2020-08-03 07:52] linda33wj commented on #59386
@jennabourgeois thanks for the feedback. Could you help elaborate what exact properties you observed mismatch/inconsistency and disappeared in JSON?

[2020-08-03 07:58] robburton58 commented on #59772
Thanks

Stay Safe and Well

Robert Burton, Cloud Security Architect, Bupa BG/UKMU – ITIL Expert , MBCS, CCSP
Bupa, 4 Pinetees Estate, Chertsey Lane, Staines, TW18 3DZ
S: 020 3743 7675 T +44 (0)1784 893296 M +44 (0) 7860 796206 E robert.burton@bupa.com<mailto:robert.burton@bupa.com> W bupa.co.uk<http://www.bupa.co.uk/>
[cid:image001.png@01D66974.427F4C50]<http://ow.ly/5kdB30183SN>[cid:image002.png@

[2020-08-03 08:03] rvooren opened #60153 "Asynchronous Conversation Transcription nuget issue"
Hi i'm trying to get the example "Asynchronous Conversation Transcription" working form https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-async-conversation-transcription?pivots=programming-language-csharp

I'm stuck on the last part can't get the **Microsoft.CognitiveServices.Speech.Remoteconversation** from nuget ?!?!

---
#### Document Details

⚠ *Do not edit this

[2020-08-03 08:13] yingyingqiqi commented on #49010
This area is important, the same as the Databricks creation area

[2020-08-03 08:13] slavizh opened #60154 "Wrong statement"
The following is not true:

"To use the Change Tracking and Inventory feature, you must locate all your VMs in the same subscription and region of the Automation account."

VMs can be onboarded from any subscription and region. Probably this is true for some portal feature. In fact you can onboard VMs that are on-premises or on other clouds to the solution.

---
#### Document Details

⚠ *Do not ed

[2020-08-03 08:36] fbilo commented on #48886
This is a CI/CD pipeline issue, you choose a activity for PowerShell script, not a Work Station. I think that I have tell the solution way pretty clearly.

[2020-08-03 08:38] fvl-nxtport opened #60156 "No information present in regards to compound indexes for nested properties or arrays"
I'm trying to create a compound index on 4 properties, one of which is a nested property, and am getting following error message:

I can't find anything in the docs about this. At the very least, this limitation should be mentioned on the page
and preferably the answers to these questions as well:

- When will Cosmos DB support this (since it says "does not **currently** support")?
- Is there a pr

[2020-08-03 09:11] AnuragSharma-MSFT commented on #60156
@fvl-nxtport Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-08-03 09:14] GitaraniSharma-MSFT commented on #60141
@pacodelacruz , We have assigned this issue to the respective product owner for updating the doc accordingly.
@rohinkoul , Could you please provide your insights here?

[2020-08-03 09:18] crevulus commented on #59716
Apologies for the delayed reply @yinhew @RohitMungi-MSFT

Approximate traffic will be small to begin with - approx. 100 users in first 30 days, sending ~8 recordings each, average recording length ~20 seconds (maybe 40-50words?).

We use the score returned by your API and provide those scores to our users.

[2020-08-03 09:21] crevulus commented on #58642
@weiwchu @YutongTie-MSFT I'm also very interested in your reply to @weiwchu 's query. Would be useful to know for our product.

[2020-08-03 09:26] GitaraniSharma-MSFT commented on #60138
@atamu , thank you for the feedback, we will investigate this and update the thread accordingly.

[2020-08-03 09:31] RohitMungi-MSFT commented on #60153
@rvooren Thanks for the question. I think you need to install only `Microsoft.CognitiveServices.Speech` to run the sample with the remove conversation client from nuget. Could you please try and let us know if you have any issues.

![image](https://user-images.githubusercontent.com/46958063/89168165-0f80ca80-d59a-11ea-9972-6b70015616d2.png)

[2020-08-03 09:31] b0malabs opened #60157 "Seems like the Option is already unavailable, kindly update this page"
Hello! I tried following these steps but I can no longer see the' My Issue is Not Listed Above' option under the  'Unable to access my subscription or resource' Problem type. I think it was moved somewhere. Nevertheless, this page should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3ad66f-14bd-bd67-40d2

[2020-08-03 09:33] BhargaviAnnadevara-MSFT commented on #60150
@iliaJelly Thanks for reaching out. Could you please elaborate on what you see happening, possibly also including a screenshot?

https://shell.azure.com/ should redirect you to the sign-in page where you provide your Microsoft account credentials. This would be followed by the Directory selection page, as Azure Cloud Shell requires an existing Azure subscription.

[2020-08-03 09:34] SnehaAgrawal-MSFT commented on #59909
@kspoojary Thanks for asking question! As mentioned in [note section](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-an-internet-ip-range) "IP network rules have no effect on requests originating from the same Azure region as the storage account. Use Virtual network rules to allow same-region requests."

[2020-08-03 09:35] iliaJelly commented on #60150
[cid:cb6439e4-8cf2-4ae3-aa88-8928451302ba]

Ilia Glizerin

Jelly Unity Infrastructure Developer

---

Phone: +972-054-2373724

[cid:bbb92a49-fa2a-4441-9f3a-fc61472114fd]

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Monday, August 3, 2020 12:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ilia Glizerin <ilia.g@jellybtn.com>;

[2020-08-03 09:37] BhargaviAnnadevara-MSFT commented on #60150
@iliaJelly Also, is it consistent with InPrivate/Incognito browsing as well?

[2020-08-03 09:41] iliaJelly commented on #60150
yes, in incognito the link can't be found. If it reproducec on your station, then the Doc is not updated correctly. Or maybe its just my station, im using a Mac

Ilia Glizerin

Jelly Unity Infrastructure Developer

---

Phone: +972-054-2373724

[cid:a95adeb4-2851-4537-9f3e-efd36f69d312]

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Monday, August

[2020-08-03 09:46] kspoojary commented on #59909
@SnehaAgrawal-MSFT  But in Azure search service we don't have VNet integration option, So how is it possible to set the vnet rule to allow public search service to access storage account?

[2020-08-03 09:47] BhargaviAnnadevara-MSFT commented on #60150
@iliaJelly Could you please include a screenshot? Are there any errors in the Network calls in the browser DevTools?

[2020-08-03 09:57] SnehaAgrawal-MSFT commented on #60049
@richardlm57 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-08-03 10:04] BhargaviAnnadevara-MSFT commented on #59910
@SibeeshVenu The introduction of this article mentioning "Azure IoT Edge supported systems" hyperlinks to the document containing information about Tier 1 and Tier 2 OSes compatibility.

**Tier 1:** https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1
**Tier 2:** https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-2

@veyalla Could you please confirm if there are any restriction

[2020-08-03 10:05] iliaJelly commented on #60150
just go to shell.azure.com

From any browser, on any station. And you will see the site is down. you dont need my screen shots for it my friend.

Ilia Glizerin

Jelly Unity Infrastructure Developer

---

Phone: +972-054-2373724

[cid:b1b4f055-1dee-403c-b201-0f8d3f28705a]

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Monday, August 3, 2020 12:47 PM

[2020-08-03 10:07] AshokPeddakotla-MSFT commented on #60147
@zqynoob Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-03 10:08] AshokPeddakotla-MSFT commented on #60148
@bbpaulvanharen Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-03 10:10] SwathiDhanwada-MSFT commented on #60154
@slavizh Thanks for your feedback. We are actively investigating and will get back to you shortly.

[2020-08-03 10:12] samueljamkhandi-MSFT commented on #60078
@NavtejSaini-MSFT - when should I be expecting a reply.

[2020-08-03 10:20] rvooren commented on #60153
That package is already installed.
The problem is I can’t use/find the class RemoteConversationTranscriptionClient which according to the documentation resides in the nuget package  Microsoft.CognitiveServices.Speech.Remoteconversation which isn’t available on nuget.

Which is used within the code given on the example page, marked which rows are the problem :

// Create the speech config
SpeechCon

[2020-08-03 10:20] githubnagaraj opened #60158 "Need more info on PVS,"
[Enter feedback here]

Need better explanation on contents of slog and how it helps the recovery and log truncation?
What happens new when the transaction is committed? Does that get written to version store?
What happens new in checkpoint process?

The article leaves most of the internals for imagination and guess work. It would help to have separate pages for PVS, slog and how it works, so that

[2020-08-03 10:35] BhargaviAnnadevara-MSFT commented on #60150
@iliaJelly I can get to Azure Cloud Shell without any issues.

This is from Edge:

![image](https://user-images.githubusercontent.com/44050820/89173492-fa0f9e80-d5a1-11ea-8f44-31a85677a0af.png)

Please try accessing Cloud Shell in the following alternative ways:

- **Direct link:** Browse to https://shell.azure.com/bash for Bash or https://shell.azure.com/powershell for PowerShell
- **Azure portal

[2020-08-03 10:41] KrishnaG-MSFT commented on #58040
Update: @stevendotwang working internally and would update the page with appropriate content. ETA - 8/15.

[2020-08-03 10:42] berre74 commented on #60022
Hi Satish,
The Advantech UNO2362G machine had a hard time to 'downgrade' from version 2004 to 1809.
Also due to its 2GB memory, it became way too slow to handle Windows 10.
I decided to install Ubuntu Server on it. I'm quite confident that IoTEdge will deploy more smoothly now on this little industrialized PC.
Many thanks for your help again !
Best regards,
Bernard

[2020-08-03 10:42] #60022 closed

[2020-08-03 10:45] KrishnaG-MSFT commented on #60157
Hello @b0malabs - really appreciate the feedback and for bringing this to our notice. We will review with the content owner to see how best to improve and update the document based on your feedback.

@stevendotwang - FYI

[2020-08-03 10:48] KrishnaG-MSFT commented on #60157
Update: @stevendotwang working internally and would update the page with appropriate content. ETA - 8/15. #please-close

[2020-08-03 10:48] #60157 closed

[2020-08-03 10:53] AshokPeddakotla-MSFT commented on #59846
@nehsin Assigning this issue to you so that you can close once there has been any progress.

[2020-08-03 10:56] KrishnaG-MSFT commented on #60152
Duplicate of #59901

[2020-08-03 10:58] KrishnaG-MSFT commented on #60145
@truekonrads Thanks for the feedback.
Assigning @DCtheGeek for visibility, review and document enhancement consideration as appropriate.

[2020-08-03 11:06] Alex-Boo opened #60159 "Is it still correct information that Change Feed is not supported for Table API mode?"
Hello,
I'm asking because when I created Azure Function (.Net Core) with CosmosDB binding I started to receive pushes with changes from table in Cosmos DB account in Table API mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194

[2020-08-03 11:11] AnuragSharma-MSFT commented on #60158
@githubnagaraj Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-08-03 11:12] AnuragSharma-MSFT commented on #60159
@Alex-Boo Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-08-03 11:14] githubnagaraj commented on #60158
Thanks

[2020-08-03 11:22] psmanhas commented on #59888
@WhitWaldo Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-08-03 11:22] #59888 closed

[2020-08-03 11:24] SwathiDhanwada-MSFT commented on #60154
Assigning to content author @MGoedtel for review

[2020-08-03 11:26] JasSuri commented on #59903
If you follow the doc exactly, it should work as you describe. Steps 1+2 will get skipped due to session management (SM-AAD) being applied when a user is already logged in. And the user is taken straight to the old/new password screen.
Make sure when testing you are not passing in the query parameter "prompt=login", which the Azure Portal 'Run Now' link will do all the time.

[2020-08-03 11:40] ifslearning commented on #59903
Thanks, @JasSuri. Removing prompt=login from the querystring worked.

[2020-08-03 11:40] #59903 closed

[2020-08-03 11:45] duwady commented on #7926
These are all builtin roles, what about custom role?  We have created custom roles, now how do we give the rights for viewing/ copying BitLocker Keys?

Any help would be appreciated.

[2020-08-03 11:49] SibeeshVenu opened #60160 "The section "Select your target architecture" is confusing"
I am following this tutorial to build a module for my IoT Edge device running on Raspberry Pi 4. In the doc, it says that "Currently, Visual Studio Code can develop C# modules for Linux AMD64 and ARM32v7 devices.". The architecture used in Raspberry Pi is ARM64, so can I still follow this doc? Am I missing anything here?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-08-03 11:54] SibeeshVenu commented on #59910
I was able to follow this doc with `Rasbian Stretch` commands in `Raspberry OS` and everything went well. But I would like to know if there are any kind of restrictions.

[2020-08-03 12:07] eanavalentin opened #60161 "Change cluster from certificate thumbprint to common name fails to complete"
We have several SF clusters in production which use thumbprint certificate, rather than common name. We are currently investigating what are the effort and steps to migrate from thumbprint certificate to common name, and attempted to use the guidance in this document, however, every attempt leaves the SF cluster and VMSS broken.
Is the document still up to date, or are there any steps missing?

En

[2020-08-03 12:08] shyamal890 commented on #59763
No, I also have applicationinsights.config file in conjunction with this code in startup.cs

[2020-08-03 12:11] KarthikYan opened #60162 "Transaction/Rollback on failure"
Since for each look can run in parallel what happens when one of the execution fails, since there is no transactions in data factory it is not possible to rollback. is there a workaround for rollback?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524aa8f2-ebea-7fa0-230e-98af2a0bff20
* Version Independent ID: 16533efd-

[2020-08-03 12:34] JayaChatterjee-MSFT commented on #59921
@philip-reed  Thank you for the feedback. I am engaging the author of the document here to review the required modifications to make it more clear.

@craigshoemaker As suggested, we might need to consider adding the detailed notes and the sample to understand _how to to update a record in Table Storage_ better.

[2020-08-03 12:39] c-lamont opened #60164 "Silent notifications no possible with certificate based authentication"
Would be good to mention that you can only receive silent notifications using token based authentication:
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started#creating-a-certificate-for-notification-hubs

According to this document:
https://docs.microsoft.com/en-us/azure/notification-hubs/push-notification-updates-ios-13

Took me

[2020-08-03 12:47] NileshGhodekar opened #60165 "Azure AD Connect: Automatic upgrade Overview section missing additional supported scenarios"
While the opening paragraph of this article mentions "This feature was updated in build 1.1.561 and now supports additional scenarios that were previously not supported",  the user impression is the Overview section would also have been updated with the latest capabilities which is obviously not the case. Can the latest supported configuration be included in the Overview section?  Thanks!

---
###

[2020-08-03 12:51] IMelker opened #60166 "Wrong OPUS sample rate for STT REST API"
Correct sample rate for OPUS by RFC is 48khz, not 16khz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11673bc9-9062-278d-c5b8-84b05f2b81be
* Version Independent ID: 29347a63-de63-4ff0-5a62-149ab31d1b7e
* Content: [Speech-to-text API reference (REST) - Speech service - Azure Cognitive Services](https://docs.microsoft.c

[2020-08-03 12:53] jwisener commented on #59896
https://github.com/Azure/azure-functions-host/issues/6425

[2020-08-03 12:57] kailasandhale opened #60167 "Need Java Sample as well for Azure Sentinel Data collector API"
At https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#sample-requests , we can see the samples for C#,  PowerShell and Python, but we do not see the sample for Java. If needed I can add it as I have written one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a

[2020-08-03 12:57] IMelker opened #60168 "Wrong voice name for TTS neural ar-SA Female voice."
Wrong name for ar-SA-ZariyahNeura. Last letter is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language support - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/c

[2020-08-03 13:08] AjKundnani opened #60169 "Sub-Resource name for Kubernetes API should be management"
The sub-resource name for Kubernetes API **managedCluster** is incorrect. It should be **management**, does not works with _managedCluster_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Priv

[2020-08-03 13:15] vaibhavrmore1 opened #60170 "I want to make check on string claim as IsNullOrWhiteSpace"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536ec32c-e27a-594d-9539-0d7d1cb8a48e
* Version Independent ID: 9f46353d-7dcd-0d5a-5d65-aeeda3922e39
* Content: [String claims transformation examples for custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/strin

[2020-08-03 13:36] GiftA-MSFT commented on #60146
@sensoham we will review your feedback and get back to you shortly. Thanks.

[2020-08-03 13:38] GiftA-MSFT commented on #60151
@CatalinEsanu we will review your feedback and get back to you shortly. Thanks.

[2020-08-03 13:41] kumarg25 opened #60171 "az ad app permission admin-consent gives 400 Client Error: Bad Request"
[Enter feedback here]
Trying to create AAD integrated cluster [following - https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli] however, when I ran _az ad app permission admin-consent --id  $serverApplicationId_ I am getting below error:-

az ad app permission admin-consent --id  $serverApplicationId
The command failed with an unexpected error. Here is the traceback:

400 Client Er

[2020-08-03 13:43] 0stage opened #60172 "Editing functions in the Azure portal is not supported for Linux Consumption Function Apps."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abef7f30-e567-384c-a448-6240bfe5b7a7
* Version Independent ID: 7f63bacb-bfce-083d-2ba4-d0c03cf17b69
* Content: [Create a function app on Linux from the Azure portal](https://docs.microsoft.com/en-us/azure/azure-functions/create-function-app-linux-app-

[2020-08-03 13:44] bwanarm commented on #53622
Hi @RohitMungi-MSFT and @swmachan,

Is there a place where we can find the list of URLs for accessing regional specific resources?

I have encountered the same error as the one which started this thread and would like to see whether it really is just a URL problem.

I have tried:

- X POST "https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&to=es"
- X POST "https://api-us.cogn

[2020-08-03 13:44] DCtheGeek commented on #60145
@truekonrads Thanks for the feedback. Since this can't be union'ed with the current sample query and the desire is to focus on Resource Manager deployed resources, I've added some clarifying text that the sample query only works for virtual machines created with the Resource Manager deployment model. When that PR is merged, this issue will automatically close. Publish occurs at a later time. Thank

[2020-08-03 13:48] KrishnaG-MSFT commented on #60167
@kailasandhale Thanks for the feedback!
Assigning @bwren for visibility, review and document enhancement consideration. Related issue - #55583

[2020-08-03 13:52] HansonChiu1994 opened #60173 "Can't perform ZIP deploy after VS upgrade"
Hi there,

We are using Azure function under EP1 and utilize VS for deployment to the container.
It worked perfectly fine before with 'Run from package files'. We could confirm the following,
- there is no VNET integration / access restrictions
- The Azure function URL and SCM URL (Kudu) could access without any errors
- Username and password are retrieved from Azure
- WEBSITE_RUN_FROM_PACKAGE=1 a

[2020-08-03 13:55] TomGeske commented on #60171
This is a known issue in cloud shell. Can you try to re-run on your local machine?

/Azure/azure-cli#9345

[2020-08-03 14:03] ram-msft commented on #60028
@segun030  Thanks for the feedback. You can manage the blobs with Python v12 SDK instead of using the legacy version of the Azure Blob storage client library.

Here is the doc for the same: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python

[2020-08-03 14:06] HarithaMaddi-MSFT commented on #60162
@KarthikYan - Workaround can be to use temporary tables for every partition(parameterized using partition id) and use an Stored procedure activity at the end to merge the data in all the tables and then remove the tables if destination is Synapse DW. If it is ADLS, separate files will help and then merging at the end using copy data (Merge option). Other workaround to roll back if a partition load

[2020-08-03 14:06] NavtejSaini-MSFT commented on #59525
@anhlqn Do you use a particular ARM Template. If yes, please share the template or its link.
We will check further accordingly.

[2020-08-03 14:06] ram-msft commented on #60166
@IMelker Thanks for the feedback. We will update you shortly.

[2020-08-03 14:07] ram-msft commented on #60168
@IMelker Thanks for the feedback. We will update you shortly.

[2020-08-03 14:11] amanmcse commented on #59996
@SB-o-matic Here is a sample that you can refer to https://github.com/azure-ad-b2c/samples/tree/master/policies/mfa-absolute-timeout-and-ip-change-trigger.

[2020-08-03 14:17] bwren commented on #60167
@kailasandhale Sure! Send it over, and I'll do a quick test and add it.

[2020-08-03 14:18] #60145 closed

[2020-08-03 14:23] #60149 closed

[2020-08-03 14:24] foxrocci commented on #59933
Has this been tested? There are KB(s) required by the agent that will not
install to the system. We assume after a certain update(s) the system is no
longer compatible with agent. If this is remotely true, it should be marked
as not supported in order to avoid further issues such as this, and it can
be established as "best effort" so we do not have to KB chase with
customers to get it to work.
[im

[2020-08-03 14:25] Seddy24 commented on #60024
@saurabhsensharma Please open a support ticket for me thank you!

[2020-08-03 14:25] MashaMSFT commented on #60149
Hi @normseq , thanks for bringing this to our attention! Vikas has processed a change to update this and it will be live soon. Thanks so much for improving our docs! Just as an fyi, you can modify the docs yourself as well, if you were so inclined. I've provided steps to do so below in case you wanted to give it a try in the future. It will help improve our documentation, and it will mark you as

[2020-08-03 14:42] NavtejSaini-MSFT commented on #60084
@mydiemho PopulateQueryMetrics is available in the 2.4.X version of Java Async SDK. For the Sync SDK, it was targeted for 3.0 release and should be available as well. Will check with our team regarding the release.

Also here are some other documents which will help you with the same:
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-cosmos/4.0.1-beta.3/com/azure/cosmos/models/FeedOptions

[2020-08-03 14:47] mmacy commented on #59872
@dcormier Hi Daniel, this has been resolved by @hpsin in https://github.com/MicrosoftDocs/azure-docs/commit/de63a1c659fbb30413b9a835693321f383deea8f.

| Error Code         | Description        | Client Action    |
|--------------------|--------------------|------------------|
|`consent_required` | The request requires user consent. This error is non-standard, as it's usually only returned on the `

[2020-08-03 14:47] #59872 closed

[2020-08-03 14:54] mmacy commented on #59331
@nitinrkz Hi Nitin, the article has been updated in https://github.com/MicrosoftDocs/azure-docs/commit/afe227630c28a6b268cd0cde81c9e1daf0f725fa to mark scope as optional and add clarification to the parameter description.

| Parameter  | Required/optional | Description     |
|------------|-------------------|----------------|
| `scope`      | optional   | A space-separated list of scopes. The scop

[2020-08-03 14:54] #59331 closed

[2020-08-03 14:55] kailasandhale commented on #60167
@bwren @KrishnaG-MSFT
Do I need to raise PR?
 I do not see an option to raise a PR or create a branch. Could you please help?

[2020-08-03 14:58] mmacy commented on #49205
Per author of this issue the problem has been resolved. Closing this one out. #please-close

[2020-08-03 14:58] #49205 closed

[2020-08-03 15:00] NavtejSaini-MSFT commented on #60151
@CatalinEsanu The link is actually taking you to correct page where detailed reports for compliance and certifications are available e.g. ISO etc. Also you can filter the list for Microsoft Cloud and Azure.
Also you can read FAQ here for Compliance Manager - https://servicetrust.microsoft.com/ViewPage/FAQ

Please let us know if you are looking for a specific information.

[2020-08-03 15:10] markjbrown commented on #60124
I don't understand what is confusing here. This table shows what the equivalent Cosmos consistency model is for each of Mongo's read or write concerns. If you need more information on consistency model guarantees in Cosmos see [Consistency levels in Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels)

[2020-08-03 15:14] jchoudhury78 opened #60176 "Authorization Policy"
[Enter feedback here]
How can the authorization policy be added through ARM template/Powershell script? It is required for doing automated deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b48753-cabe-fe92-42de-21775f4f99c3
* Version Independent ID: 45a1fa90-c4f8-6d0b-e1a8-ed996de671eb
* Content: [Secure ac

[2020-08-03 15:15] Eaglerod1978 opened #60177 "IP ending in .0."
Is the IP's ending in .0 a /24 subnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity Architecture - Azure SQL Database and Azure Synapse Analytics](https://docs.microsoft.com/

[2020-08-03 15:15] mmacy commented on #50379
Closing due to inactivity after request for additional information in https://github.com/MicrosoftDocs/azure-docs/issues/50379#issuecomment-608513395. If you feel this issue has been closed prematurely, please let us know. #please-close

[2020-08-03 15:15] #50379 closed

[2020-08-03 15:21] SatishBoddu-MSFT commented on #60160
Hello @SibeeshVenu Thanks for reaching out to us! You can make use of the below chart to choose the right OS for your device. Please visit the **Tier1** & **Tier2** sections for more latest info on support from Microsoft.

Please visit the [Supported OS systems:](https://docs.microsoft.com/en-us/azure/iot-edge/support#operating-systems)

**Tier 1**: [Link](https://docs.microsoft.com/en-us/azure/io

[2020-08-03 15:27] timsander1 commented on #60156
Hi @fvl-nxtport , I can add a sentence to mention this on the mongodb api indexing docs page. What's the type of query you need to run (could you share here?). Feel free to change property names if that is sensitive information (to something like PropertyA, PropertyB, etc).

Thanks!

[2020-08-03 15:30] ricastil opened #60178 "FSLogix 3rd party solutions"
Could we make a note or addition that states the following: FSLogix maybe compatible with other 3rd party storage solutions and on-premise storage, therefor performance may vary and cannot be guaranteed or measured when used with Windows Virtual Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e4d27a4-b7be-bfea

[2020-08-03 15:39] dlepow commented on #58612
Note added to article. Thanks again @mganeshphani for raising the issue.
#please-close

[2020-08-03 15:39] #58612 closed

[2020-08-03 15:42] jennabourgeois commented on #59386
The settings described for the D365 connector didn’t seem to match.

Jenna

From: Linda Wang <notifications@github.com>
Sent: Monday, August 3, 2020 1:53 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jenna Bourgeois <jenna@dynamicsintelligence.us>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Article does match the product (#59386)

@jennabourg

[2020-08-03 15:45] dlepow commented on #51738
We've updated the ACI quotas documentation to include information about CPU quotas. The default is dependent on your subscription offer. Currently for a pay-as-you-go subscription the default CPU quota is 10 cores per region.

Standard sku cores (CPUs) per region per subscription | 10
Standard sku cores (CPUs) for K80 GPU per region per subscription | 18
Standard sku cores (CPUs) for P100 or V100

[2020-08-03 15:53] YutongTie-MSFT commented on #59927
@cartacioS Hi, could you please check this comment and is there any plan to update the document? Thanks.

[2020-08-03 15:58] eimerreis opened #60179 "Should Add "Spa" RedirectUri Type"
Hi There,

As I am currently investigating usage of MSAL 2x in combination with Azure AD B2C, I saw that the documentation for app registration manifest files is missing the `Spa` option for `replyUrlsWithType` attribute

I'm not sure if this is intended or not, so I though I open this issue for that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-08-03 15:59] SaurabhSharma-MSFT commented on #60024
@Seddy24 Sure. Please send your Azure subscription Id with this thread link to azcommunity[at]microsoft[dot]com and I will create a free  ticket for you.

[2020-08-03 16:02] YutongTie-MSFT commented on #59936
@Mystorius Hi dear customer, I am sorry for the delay response. May I know if you are still suffering from this issue? If yes, I will highly recommend you create a support ticket for it since this forum is for documentation scope only. Thanks.

[2020-08-03 16:02] tslavik opened #60180 "Cannot connect to MongoDBCompass"
Went through the doc and got this issue:

`An error occurred while loading navigation: Command hostInfo not supported.`

CosmosDB Mongo API v3.6
Compass v1.21.2 (stable)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae63b0b-8c13-36da-c5c9-d126ffbc7077
* Version Independent ID: 17b87fc6-88ad-959b-9b11-452844ee2279
* C

[2020-08-03 16:07] tslavik commented on #60180
same as #57303

[2020-08-03 16:08] #60180 closed

[2020-08-03 16:12] veyalla commented on #59910
@SibeeshVenu Could you elaborate on what you mean by "restrictions"? Raspbian Stretch is a supported Tier 1 OS for IoT Edge. Ubuntu 20.04 instructions will be added to the main docs if and when the OS transitions to Tier 1.

[2020-08-03 16:14] SibeeshVenu commented on #59910
@veyalla As I said I am using `Raspberry OS` not `Rasapbian Stretch` and the command given for `Stretch` worked fine for me on my `Raspberry Pi 4`.

[2020-08-03 16:15] ram-msft commented on #59967
@JMurf Thanks for the feedback. I have raised a PR #https://github.com/Azure-Samples/Cognitive-Face-CSharp-sample/pull/5 for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-03 16:15] #59967 closed

[2020-08-03 16:18] ksaye opened #60181 "DevOps Projects has been renamed to DevOps Starter."
[Enter feedback here]
It would appear that the DevOps Projects has been renamed to DevOps Starter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5098fbad-7df5-7c62-9d56-6e9646b86d0c
* Version Independent ID: 14e2f627-2215-4373-1071-7698bcc9354d
* Content: [CI/CD pipeline with Azure DevOps Projects - Azure IoT Edge](ht

[2020-08-03 16:18] richardszalay commented on #60124
@markjbrown Was there meant to be an accompanying table? Otherwise I'm not sure what you meant by "this table".

[2020-08-03 16:24] PatAltimore commented on #60000
Hi @xaviarias,

Thanks for the feedback. You're right. That's a mistake. I'll publish a change today removing the extra parameters.

Thanks,
Pat

#in-progress

[2020-08-03 16:28] mumami commented on #59901
@xdmushui Thanks for reaching out. In the API response, you have "reservationTerm" to determine whether its for 1 year or 3 years. Let me know if you don't see this in the response.
{
            "currencyCode": "USD",
            "tierMinimumUnits": 0.0,
            **"reservationTerm": "1 Year",**
            "retailPrice": 6595.0,
            "unitPrice": 6595.0,
            "armRegionName": "w

[2020-08-03 16:30] stevestein commented on #54540
@ToruMakabe - thanks for the feedback. The Hyperscale faq and comparison page should currently be in sync.
https://docs.microsoft.com/en-us/azure/azure-sql/database/features-comparison#platform-capabilities

Thanks!

#please-close

[2020-08-03 16:30] #54540 closed

[2020-08-03 16:36] normseq commented on #60149
Will surely try the 'Edit' option the next time around. Thanks

[2020-08-03 16:40] himanshusinha-msft commented on #59833
@eerik47 : As called out by @anumjs  Varbinary(max) is not supported at this time . The supported data types are mentioned here
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-predict#training-the-model
as
_The following data types are supported for the input data:
int, bigint, real, float
char, varchar, nvarchar_

Since we have not heard back from yo

[2020-08-03 16:40] #59833 closed

[2020-08-03 16:43] hpsin commented on #28317
#please-close !
The fix for this is now officially rolled out.  The userinfo endpoint for MSAs now returns correct data that matches AAD:
{
    "sub": "AAAAAAAAAAAAAAAAAAAAAK0rc3MZ7ZKKpELMYTircG4",
    "name": "Hirsch Singhal",
    "given_name": "Hirsch",
    "family_name": "Singhal",
    "email": "h*******@gmail.com",
    "picture": "https://graph.microsoft.com/v1.0/me/photo/$value"
}

@VQuery -

[2020-08-03 16:43] #28317 closed

[2020-08-03 16:44] singhnishant40 opened #60182 "Add a disclaimer that Windows 10 Home cannot be Azure AD Joined"
[The doc states that All Windows 10 devices are supported but Windows 10 Home cannot be joined to the domain. Please update the document/table]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08003efa-d3f6-6b9a-c855-67e356ba2e4f
* Version Independent ID: 60949414-f20a-951b-832a-7e2f3a1f342b
* Content: [What is an Azure

[2020-08-03 16:48] stevestein commented on #52877
@azghafar - thanks for the feedback. At this time we don't have any future timeline or details other than the current info.

Thanks!

#please-close

[2020-08-03 16:48] #52877 closed

[2020-08-03 16:48] mattchenderson commented on #53726
Slight hiccup here it looks like. I'll go ahead and get that note in.

[2020-08-03 16:54] msmimart commented on #47105
Thanks again for your feedback and apologies for the delay - just wanted to let you know we're working on clarifying the script and/or guidance internally. For now we'll close this issue but will update the article as soon as we have clarification. #please-close

[2020-08-03 16:54] #47105 closed

[2020-08-03 16:56] HarithaMaddi-MSFT commented on #60142
@limingr - I tried the steps exactly as specified in the document and was able to mount the ADLS Gen2 to Databricks using Python code. Can you please recheck all the prerequisites as mentioned in the document and necessary permissions. Please let us know if issue persists.

[2020-08-03 16:57] swmachan commented on #53622
Hi @bwanarm - please refer the base URLs - https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference#base-urls

[2020-08-03 16:57] PatAltimore commented on #60000
I removed the extra parameters. The change will publish today.

Thanks,
Pat

#please-close

[2020-08-03 16:57] #60000 closed

[2020-08-03 17:04] BhargaviAnnadevara-MSFT commented on #59884
@jwisener This is being assigned to the content author to evaluate and update the document as appropriate.

[2020-08-03 17:05] mattchenderson commented on #53726
I just missed the morning publish window I think, but it should get picked up in the afternoon doc update.

[2020-08-03 17:05] Karishma-Tiwari-MSFT commented on #60094
@SanDeo-MSFT Can you please help confirm whether this statement in the doc is correct or the doc needs to be updated. Thanks.

[2020-08-03 17:07] MarileeTurscak-MSFT commented on #60182
@singhnishant40
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-03 17:14] JimacoMS3 commented on #28405
Hi @CoolNamesAllTaken,

I'll leave this open for a few days and then move to close it. Please let me know if there's anything else I can do.

Thanks,

Jimaco

[2020-08-03 17:17] arsing commented on #58275
`edgelet=debug` is correct. Unlike `debug`, it will only print debug logs from our code, instead of all third-party code as well.

I'll check why it crashes instead.

[2020-08-03 17:18] hansenms commented on #60120
I am not sure that a `403` is an indication that the document is outdated. It sounds like you are getting a "valid" token but that the user or service principal that the token is issued for does not have access to the FHIR service.

If you are using "Azure RBAC", please read instructions here:
https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac

If you are using "Local RBAC

[2020-08-03 17:27] arsing commented on #58275
For Windows, we also reuse the log level env var for instantiating our own logger that wraps `ReportEventW`. However here we assume the env var is set to a single level like `debug` rather than the full range that the regular logger (`env_logger`) supports. I'll file a bug against us to think about how to handle this.

As for this docs page, there is one mention of `edgelet=debug` for Linux and on

[2020-08-03 17:29] joshmello commented on #57571
Any update on this same issue. When we add #1, #2 it doesn't remove the # for just the /saml

[2020-08-03 17:30] SatishBoddu-MSFT commented on #60148
Hello, @bbpaulvanharen Thanks for reaching out to us!

`Would the diagram "Behind the scenes" be different for individual enrollments vs using enrollment groups?`

**YES**!!! The same process flow diagram applies to **both** **Individual** **and Group Enrollments**.

![image](https://user-images.githubusercontent.com/62923178/89209989-2a404880-d574-11ea-9743-9953f6c4b84f.png)

`Can you point me to

[2020-08-03 17:30] originalnetadmin opened #60183 "Erroneous recommendation to use DNS in step 11 against SUSE recommendations"
Step 11 states that DNS can be used.

[A] Setup host name resolution

You can either use a DNS server or modify the /etc/hosts on all nodes. This example shows how to use the /etc/hosts file. Replace the IP address and the hostname in the following commands. The benefit of using /etc/hosts is that your cluster becomes independent of DNS, which could be a single point of failures too.

Per SUSE and