[2020-04-29 15:15] #53326 closed

[2020-04-29 15:20] kspoojary opened #53619 "Can you please add the Powershell code sample for batched event delivery settings."
Can you please add the Powershell  code sample for batched event delivery settings. I am using New-AzEventGridSubscription command to create the  evnet grid subscription and I don't see any parameters to set the batch size and number of events per batch.  here is the link which I am referring to create subscription via powershell https://docs.microsoft.com/en-us/powershell/module/az.eventgrid/new-

[2020-04-29 15:21] o-l-a-v opened #53620 "Output in Process{} block is not shown - By design, or undocumented "feature"?"
Using a ```Process{}``` block inside a Automation Account runbook does not give any output to terminal/ output streams.
```Begin{}``` and ```End{}``` shows output though.

Sample code:

[code]
Output in PowerShell 5.1, Windows 10

[code]

Output in Automation Account as of 2020-04-29

[code]

Why is that?

* If this is a known limitation/ by design, please update this documentation to say so.
* If

[2020-04-29 15:22] amanmcse commented on #53561
@AmitavaHazra By "standard Azure AD application proxy", I meant Application Proxy in a separate Azure AD (B2B) tenant not B2C tenant. Azure AD B2C doesn't support all the features available in standard Azure AD (B2B) tenant.

Pre-auth provides additional layer of security. It doesn't mean we need to do pre-auth, it is optional and depends on your requirement. If you just want to use only IWA for y

[2020-04-29 15:25] ninaada opened #53621 "Error code AADSTS7000215 is not listed"
Error code AADSTS7000215 is not listed
We are getting this error code in response when trying get refresh tokens for an already authenticated user. Haven't found this documented anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced

[2020-04-29 15:26] lhk opened #53622 "cognitive services, what endpoint am I supposed to use?"
I've created a Translator Text cognitive services resource.

Here is a docs article showing how to access the API using curl:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate

The command is:
`curl -X POST "https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=zh-Hans" -H "Ocp-Apim-Subscription-Key: <client-secret>" -H "Cont

[2020-04-29 15:26] ksaye opened #53623 "Would love to see "Improving your Object Detection" similar to what was done for Classifier"
[Enter feedback here]

The article: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/getting-started-improving-your-classifier is great.  Would love to see something similar for Object Detections, specifically around "Negative or False Positives".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-29 15:27] pavithra-sridhar commented on #41466
Any update on this? An auto-creation of temp tables would be really helpful. Its tedious to manually create it. Please support this

[2020-04-29 15:27] mmacy commented on #45852
Thanks @JasSuri, update should go live at 10AM PDT:

![image](https://user-images.githubusercontent.com/13394541/80614394-440d4500-89f3-11ea-99ba-ef9574e53302.png)

[2020-04-29 15:28] pplavetzki commented on #53545
Thank you for the update.  Look forward to the feature.

[2020-04-29 15:28] RyanHill-MSFT commented on #53436
The product team is aware of the issue @ttilberg. I'm awaiting a response of when a fix will be deployed. I'll update you once I find out.

[2020-04-29 15:33] mmacy commented on #53484
Hi @ljunquera, a few questions:

1. Which version of Android are you using?
1. Are you running in an emulator or on the physical device?
1. Does it fail immediately (you can't run it at all) or when you perform an operation like signing in?

[2020-04-29 15:34] mamccrea commented on #53556
Hi @saugusto - The instructions for granting the manage permission are in [Create a Databricks-backed secret scope](https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes#create-a-databricks-backed-secret-scope) section of the article. I'll remove that line to avoid any confusion.

[2020-04-29 15:35] mamccrea commented on #53556
#please-close

[2020-04-29 15:35] #53556 closed

[2020-04-29 15:37] townendk opened #53624 "Scaling Down Error"
Hello, when my environment attempts to scale down my user session on the flagged host successfully gets the warning of "you'll be logged off in XX seconds" and the host is successfully placed into drain mode. Unfortunately things seem to fail there, immediately after the user receives the notification the job in the automation account immediately fails with the error:

{"Error":"InvalidDataFormat"

[2020-04-29 15:41] SaurabhSharma-MSFT commented on #53597
@Rookian Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 15:41] code-vega opened #53626 "Remove a CDN Delivery Policy using Powershell?"
Is there something like Remove-AzCdnDeliveryPolicy? I want to be able to replace a policy with different values. I need to create a redirect policy that will change over time and would like the ability to automate this task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3baef18-3c26-28f3-4973-bf67b1842a1f
* Version I

[2020-04-29 15:42] SaurabhSharma-MSFT commented on #53601
@Riff451 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 15:43] SaurabhSharma-MSFT commented on #53606
@MarileeTurscak-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 15:43] PhantomPhixer commented on #50003
define shortly? two months since a very good suggestion was made and the one that I will have to use as we don't all use windows and powershell

[2020-04-29 15:45] SaurabhSharma-MSFT commented on #53599
@Negwood Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 15:45] SaurabhSharma-MSFT commented on #53609
@vboyev-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 15:46] lhk commented on #53622
Ah, I understand now that this is a regional resource. The correct curl command is:

[code]

This I think is really misleading in the resource dashboard. Why do you generate a custom endpoint if I'm not supposed to use it?

Also, when no region is specified in the header, the error message is still 401000 "credentials missing or invalid". This is an entirely wrong error message I think.

And [in t

[2020-04-29 15:46] SaurabhSharma-MSFT commented on #53621
@rwike77 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-29 15:56] KumudD commented on #50491
@ElanShudnow Thanks for bringing this to our attention. The [topic](https://docs.microsoft.com/en-us/azure/virtual-network/manage-network-security-group#permissions) has now been updated.

#please-close

[2020-04-29 15:56] #50491 closed

[2020-04-29 15:58] maarten2015 commented on #52309
I'm facing more or less the same issue; and have no clue what the supported frequencies are?
I've tried second and millisecond precision in the dataset, but without success. So I'm wondering what the supported frequencies actually are?

[code]

[2020-04-29 16:07] tchristiani commented on #53080
#please-close

[2020-04-29 16:07] #53080 closed

[2020-04-29 16:08] tchristiani commented on #52692
This has been added to the backlog for a future sprint.
#please-close

[2020-04-29 16:08] #52692 closed

[2020-04-29 16:19] NavtejSaini-MSFT commented on #53582
@PerFlodin We are checking this and will get back to you.

[2020-04-29 16:27] ronwarner opened #53629 "Configuration Settings and Early Service Registrations for Functions (especially on Consumption Plan)"
The warning note at the foot of [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings) reads:

What, then, is the recommended way of reading configuration settings on the Consumption Plan?  More importantly and specifically, what is the recommended way of registering settings and services _before_ the Functions

[2020-04-29 16:28] dsindona commented on #49202
@brycepolly sorry for the delayed response. Use the [get subscription API](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#get-subscription) to get the term start and end dates for the SaaS subscription. The base amount and the overage will be calculated for this period.
Please let me know if you have additional questions. #please-close

[2020-04-29 16:29] DTronD opened #53630 "How do you add Custom Domains for Azure Functions on Consumption plan (Y1)?"
From my Azure function I can get to it's underlying/parent App Service plan, but no Custom Domains link is provided on the left Nav bar in the Azure Portal.

This section of this document specifically mentions Azure Function Apps in a consumption plan but the subsequent steps are not valid, it seems

"Prepare the app

To map a custom DNS name to a web app, the web app's App Service plan must be a

[2020-04-29 16:32] #53423 closed

[2020-04-29 16:32] veyalla commented on #53387
@omarine The preview does not support Windows containers.

[2020-04-29 16:35] markjbrown commented on #53548
I'm not clear on this ask. The docs for server-side features are complete in that they demonstrate how to use stored procedures and what the capabilities are. They are not designed to be an exhaustive source for how to write queries. There are too many possibilities for what those would be.

I should point out that I would not rely to heavily using stored procedures for large numbers of read-opera

[2020-04-29 16:38] RonnieQuan opened #53631 "subnet tagging"
I'm searching tagging for subnet, can you please confirm if it's documented here, either support or not support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66769e1b-720b-f1b1-a5e3-ed5cb24cd233
* Version Independent ID: b6272e61-58c1-3e2f-3e36-a9ee920c0915
* Content: [Tag support for resources - Azure Resource Manag

[2020-04-29 16:39] Mlavieri opened #53632 "SharePoint Mobile Prompts for Authenticator even when Authenticator is installed"
When working with a MAM-WE Intune configuration for App protection when logging the SharePoint mobile app without a broker installed it prompts that Authenticator is needed to register the device. Even after installing Authenticator the message is still displayed.

I was able to log into Teams with Authenticator only and then went back into the SharePoint mobile app and got the same message even w

[2020-04-29 16:40] markjbrown commented on #53577
Rodrigo, this is not quite correct.

Stored Procedures operate on the primary replica for the write region. In a single write region, this is the primary region. In multiple-write region (multi-master) configurations, this is whatever region the user writes into.

[2020-04-29 16:40] rameshjanjyam opened #53633 "doc says app should be available at http://localhost:8080 but its not working on localhost"
after running the container locally, doc says the app should be available at http://localhost:8080 but I can only access it using the ip address. it doesn't work if I use localhost or 127.0.0.1
sorry if it is a docker thing. I am a docker newbie.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb

[2020-04-29 16:42] pantjee opened #53634 "Azure"
Article is really good and knowledgeable. It cleared my few doubts. Thanks for sharing.

Ravi Kumar
https://www.mudrabank.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b83e320-c9a0-204c-dca5-b0ed60ce2470
* Version Independent ID: 8862ff67-2c6e-cb8f-3f8c-2c1f51a37f68
* Content: [Migrate VMware VMs agentless Azure

[2020-04-29 16:42] hrasheed-msft commented on #53255
@kosinsky Thanks for reaching out with your question. I think that ARM templates are primarily for deploying new resources and not for modifying existing resources.

There may be some limited configuration capabilities through the various APIs, such as the REST API which you could view here: https://docs.microsoft.com/en-us/rest/api/hdinsight/. For all the APIs, check in the Table of Contents unde

[2020-04-29 16:43] amanmcse commented on #53447
@glomaga I cannot reproduce the issue at my end. Below are the steps that I tried:
1. Sign-in to OIDC app. (https://aka.ms/amansib2c)
2. In same browser session, open SAML app in a new tab and same user signed-in via SSO. (https://samltestapp2.azurewebsites.net/SP)
3. Triggered password reset flow via OIDC App.
4. Opened SAML app in a new tab and same user signed-in via SSO.

[2020-04-29 16:48] PramodValavala-MSFT commented on #53552
@grayjeremy The management endpoint requires a token acquired from Azure AD and the `az` command should indeed work. This is ideally the best choice as you can leverage Azure AD Authentication via MSI/Service Principals from your CI/CD pipelines itself.

[2020-04-29 16:48] Mike-Ubezzi-MSFT commented on #53123
@npigit Thank you for clarifying your request. Can you please up vote and comment upon the following UserVoice entry that is related to your request: https://feedback.azure.com/forums/217321-sql-database/suggestions/34947643-failover

By doing so, you are effectively communicating to the the product group the importance of this feature. It will help if you clarify the request as the original post

[2020-04-29 16:49] anogueirac opened #53636 "Creating ContentKeyPolicies Error: caused by ResponseError('too many 500 error responses')"
Hello,
As I was trying to create a ContentKeyPolicy with the Python SDK, once I built all the Options, the error I get with de create_or_update module is:

[code]

The code I used is:

`    policy = client.content_key_policies.get(resource,account,contentKeyPolicyName)
    if not policy:
      primaryKey = ContentKeyPolicySymmetricTokenKey(key_value = TokenSigningKey)

      alternateKeys = []

[2020-04-29 16:51] YutongTie-MSFT commented on #53434
@devojoyti-microsoft Hi, thanks again for the report. I have fixed this link and it should be online soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-29 16:51] #53434 closed

[2020-04-29 16:58] KranthiPakala-MSFT commented on #53423
@msdpalam The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-29 16:59] Glaubscher commented on #52495
did you remember to set the 2 environmental variables under application settings ..
![image](https://user-images.githubusercontent.com/42993700/80624040-692da200-8a4b-11ea-93ff-5587d94af7f9.png)

once set, leave the site open and initiate communication and it should start populating.

[2020-04-29 17:04] elvirk commented on #53452
PS C:\Users\elvir> Get-InstalledModule -Name Az.Resources -AllVersions | select Name,Version

Name         Version
----         -------
Az.Resources 1.0.0
Az.Resources 1.12.0

PS C:\Users\elvir>

[2020-04-29 17:07] KranthiPakala-MSFT commented on #53581
@jeppe742 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-04-29 17:07] SatishBoddu-MSFT commented on #53203
@Ayanmullick  Could you please add your case scenario as [Azure IoT Feedback Forum](https://feedback.azure.com/forums/321918-azure-iot) new request.

[2020-04-29 17:10] mj1856 commented on #34826
@PramodValavala-MSFT - At the moment, I've only been using this to send events into to EventHub with an `EventHub` binding on an `IAsyncCollector` parameter.  I'll run some more tests and get back to you.

[2020-04-29 17:10] assafi commented on #52509
@kentontroy FWIW, we have identified the problem and will address it in an SDK patch shortly. Thank you for reporting this!

The issue happens when the underlying model emits a warning on certain inputs which causes an internal assertion to fail in the SDK.
This warning can usually happen if the input contains very long sentences or tokens (usually indicates non-spoken inputs).

[2020-04-29 17:10] Vivihung opened #53637 "These tips are very helpful, thank you"
We had a large dataset that need to be indexed but the speed of indexer is too slow and not able to fulfill the urgent business need. This article helps us experiment some options. We are able to find a feasible strategy which accelerate the process a lots. Just want to leave a thank you note here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-04-29 17:11] KranthiPakala-MSFT commented on #53612
@mcalnd70 Thanks for the feedback and bringing this to our notice. At this time one of our engineer is reviewing the feedback and will provide an update as appropriate.

[2020-04-29 17:11] djpmsft commented on #53581
@jeppe742 We actually just increased the limit to 5 triggers as dependencies! We updated the doc yesterday and it reflects the correct number now. You just beat us to it :).

Thanks,
Dan

#please-close

[2020-04-29 17:11] #53581 closed

[2020-04-29 17:11] brianmander opened #53638 "Azure Function App - Monitor Logs - App Service Plan"
For Function Apps there is the new diagnostic settings where you can send User Logs to Log Analytics.
Is this available for Azure Functions using an App Service Plan or only Consumption plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bceaf516-a1b0-eb1e-e106-62c31db3e69c
* Version Independent ID: abbbd2d6-e0fc-d370

[2020-04-29 17:12] fjanon opened #53639 "Only a few US locations are offered for the Cosmos DB location"
The drop down shows some US locations only (5) and no other locations in the world for
"Select a geographic location to host your Azure Cosmos DB account"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e-53f07f3a7fc5
* Version Independent ID: dff7d0b8-f677-99a9-64b3-89d9bb4fde0d
* Content: [Quicks

[2020-04-29 17:15] PatrickFarley commented on #44565
@max-bre I tested it out and got this error when I used an object detection project instead of a classification project. The script is configured to use a classification model.

The ClassLabel instruction is unnecessary and I will update it in the docs.
#please-close

[2020-04-29 17:15] #44565 closed

[2020-04-29 17:16] mrbullwinkle commented on #40231
The doc covering this topic in greater depth is now live here: https://docs.microsoft.com/azure/azure-monitor/app/get-metric

Please let us know if you run into any issues, or if there are topics you want us to dig into deeper. Thanks again for the feedback, and helping us to improve the docs!

[2020-04-29 17:17] mrbullwinkle commented on #40231
#please-close

[2020-04-29 17:17] #40231 closed

[2020-04-29 17:18] dcegress opened #53640 "How long is the page cached"
I have set this up and it works great, however I have changed the content of the HTML in the blob but the old version is still being displayed in the browser.

I have tried removing the CustomError and re-adding it, but still the old content is shown.  In fact when it is removed completely it still shows the old content and not the default.

So I am assuming Application Gateway has cached the cont

[2020-04-29 17:20] mrbullwinkle commented on #38556
The doc covering this topic in greater depth is now live here: https://docs.microsoft.com/azure/azure-monitor/app/get-metric

Please let us know if you run into any issues, or if there are topics you want us to dig into deeper. Thanks again for the feedback, and helping us to improve the docs!

[2020-04-29 17:20] mrbullwinkle commented on #38556
#please-close

[2020-04-29 17:20] #38556 closed

[2020-04-29 17:23] RyanHill-MSFT commented on #53227
Hi @dhulme, Azure/azure-sdk-for-node has been deprecated and replaced with Azure/azure-sdk-for-js. I also noticed your comment as well so I would advise still utilizing azure-sb until the team has integrated notification hub in the js sdk.

With regards to the missing iOS link, I've assigned this issue to the doc author due to Apple updating thier docs.

[2020-04-29 17:24] Mike-Ubezzi-MSFT commented on #52707
@gwenbettwy Many Azure services are dropping support for TLS 1.1, 1.0, etc. but in the case of MySQL and MariaDB PaaS Database services the following applies:

Within the platform for internal communication we only use TLS 1.2.

                 However, we also support connectivity without SSL and older SSL versions.

@kummanish and @ajlam Please correct me if I have misstated something here and

[2020-04-29 17:24] sshams79 commented on #42655
In the ARM recurring profiles (profiles that should run on particular day(s) of the week) will only have start time. The recurring profile will run until the next profile is designated to start or when the fixed profile date is set to start. The below documentation reiterates what is mentioned:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-understanding-settings#autoscale

[2020-04-29 17:30] kummanish commented on #52707
this seems correct @Mike-Ubezzi-MSFT . I would not announce the TLS updates coming in. Rest looks good to me.

[2020-04-29 17:31] TravisCragg-MSFT commented on #40851
@jafife unfortunately there is no ETA I can give at this time.

[2020-04-29 17:32] AmitavaHazra commented on #53561
@amanmcse,

Thanks for your clarification.

1. Lets say a on prem B2C supported protocol app is there in on premises. We would like to publish it for B2C user. Then we need to registered that app using enterprise application so that it can be federated and can be exposed for B2C user. - is this concept is correct ?
2. What is the role of application proxy of Azure AD in B2C tenant ? what purpose w

[2020-04-29 17:32] stewart2020 opened #53641 "Message Routing Enabled causes device send fault"
Hi,
I have had a few issues with this procedure, and am able to replicate each time I delete and start again.  I have a Rasberry Pi setup using the procedures in the Tutorials.

- If my Message Route is enabled, the Raspberry Pi script send 2 messages, then no more.
- If I monitor the IoT Hub in the CLI (using: az iot hub monitor-events --hub-name MYHUBNAME --device-id MYDEVICEID --props app --con

[2020-04-29 17:41] YutongTie-MSFT commented on #53623
@ksaye
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 17:43] gwenbettwy opened #53642 "Do you still have any support for SSL 3.0 or before on SQL..."
You document above says:

"Information protection and encryption
Transport Layer Security TLS (Encryption-in-transit)
SQL Database secures customer data by encrypting data in motion with Transport Layer Security.

Sql Server enforces encryption (SSL/TLS) at all times for all connections. "

The link to the TLS info says TLS 1.2 if that is what is supported you should drop the SSL in the last line

[2020-04-29 17:47] bergmeister commented on #42655
@sshams79  It is about the time aspect of the end rather than the date itself. With that, the ARM has two weird profiles where the 2nd profile reference the 1st profile in the name via `"{\"name\":\"ScaleProfile\",\"for\":\"Offline\"}"` just so that I can define a profile where the scaleset scales down to zero on all days during out of business hours. This is a really bad API design.
[code]

[2020-04-29 17:51] dobrinangelov opened #53643 ""Availability zone" and "availability set" cannot be used interchangeably in this context."
Two VMs in the same availability set and different fault domains will not lose power simultaneously if only one of the fault domains loses power.

Contrarily, two VMs in the same availability zone and fault domain will lose power simultaneously if the fault domain loses power.

Therefore, It doesn't make sense to to say, "Configure each application tier into separate availability zones or availabi

[2020-04-29 17:53] YutongTie-MSFT commented on #53616
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 18:04] pmozbert opened #53644 "dead link for eventhub listkeys"
The link to listKeys for Microsoft.EventHub/namespaces/authorizationRules is invalid/nonexistant
https://docs.microsoft.com/en-us/rest/api/eventhub/namespaces/listkeys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0551fca9-d710-15d1-9141-baf2121a4ab1
* Version Independent ID: cc554f24-a13d-d3ab-a3c6-c610f4d0b461
* Con

[2020-04-29 18:05] YutongTie-MSFT commented on #53638
@brianmander
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provi

[2020-04-29 18:13] GiftA-MSFT commented on #52722
@gopitk according to the above [document](https://github.com/microsoft/onnxruntime/blob/master/docs/ONNX_Runtime_Server_Usage.md), the request needs to be a "protobuf message". Here is an example of proper input:

![image](https://user-images.githubusercontent.com/51332022/80631024-22c44d00-8a23-11ea-85b3-2ed2ff13ff04.png)

Please let us know if this is your req.json looks like the above format. I

[2020-04-29 18:17] YutongTie-MSFT commented on #53637
@Vivihung Glad to know that!! Thanks a lot. This kudos made my day.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-29 18:17] #53637 closed

[2020-04-29 18:18] KalyanChanumolu-MSFT commented on #53639
@fjanon Thank you for your interest in Azure Cosmos DB.

Due to the current situation with Covid 19, capacity in some Azure regions is being prioritized for first responders, emergency services, and critical infrastructure.
So you may temporarily see that some regions are unavailable for new deployments.
They will be made available as soon as the situation improves.

We will proceed to close this

[2020-04-29 18:18] #53639 closed

[2020-04-29 18:27] mike-urnun-msft commented on #53580
@danmi20 Thank you for your feedback! We will review and update as appropriate.

[2020-04-29 18:29] PatrickFarley commented on #52005
I'll proceed to close this thread. @rringham feel free to reopen if you're still having issues.
#please-close

[2020-04-29 18:29] #52005 closed

[2020-04-29 18:35] ZaarourOmar opened #53646 "Link the button to an action typo?"
in the "Link the button to an action", you refer to the LinkedIn profile instead of the sales force profile for TechnicalProfileReferenceId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 821b1380-1072-7ab4-b8d7-0fcb993d68be
* Version Independent ID: 93c75bbd-e3e3-67c2-3554-e88fde4e83b3
* Content: [Set up sign-in with

[2020-04-29 18:35] brannon commented on #53547
Had a discussion with @razvansalajan offline. Currently, the `NotificationHandler` wraps the `FirebaseMessagingService` and the tutorial should work as-is.

[2020-04-29 18:38] SaurabhSharma-MSFT commented on #53531
@DaFitRobsta sorry but I do not see any mention of these products being impacted with the new Graph API change.  Are you referring to you any other document ?

[2020-04-29 18:44] atbagga opened #53647 "Missing - How to assign role across resource group?"
My scenario requires me to assign a role to a serviceprincipal in ARM deployment happening in resource group "DeployPipeline" while my resource to which I want to allow access is say a storage account is already created in resource group "DataPipeline" earlier.

The syntaxes in this page only talk about assigning roles to resource group "DeployPipeline" or individual resources in this RG.

What if

[2020-04-29 18:53] mike-bailey commented on #30211
Not really sure why this is closed. It's still undocumented.

[2020-04-29 18:54] PatrickFarley commented on #47408
"elements" issue fixed (queued for publish).
The fieldName and displayOrder fields differ between the label tool result and the ordinary REST API result; the team is working to enforce a consistent output format. I'll align docs to the ordinary REST API output.
#please-close

[2020-04-29 18:54] #47408 closed

[2020-04-29 18:55] lgmorand commented on #53315
Still in creation process right now, but last time it failed before creating the seconde RG. Now I see it and nodes are starting to popup.

For me you can considered it a solved. Thanks Vikas

[2020-04-29 18:55] #53315 closed

[2020-04-29 18:56] nivrutti-shinde opened #53648 "Angular module for uploading the file into azure storage"
When we can expect the module for Angular. How can use SAS token in angular to upload file to azure storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6274e207-a00a-daca-441e-b9d08c88b1bc
* Version Independent ID: f725db5e-c348-0259-bae0-e1c4e955172d
* Content: [Azure Storage samples using JavaScript](https://docs.

[2020-04-29 18:57] YutongTie-MSFT commented on #53626
@asudbring
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@asudbring Hi Allen, could you please help us check on this issue? Thanks.

[2020-04-29 19:00] YutongTie-MSFT commented on #53622
@lhk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 19:01] brianmander commented on #53638
This is in reference to the following link:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitor-log-analytics?tabs=csharp

[2020-04-29 19:03] YutongTie-MSFT commented on #53607
@Anshulsr77
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provid

[2020-04-29 19:03] brianmander opened #53649 "App Service Plan or only Consumption Plan"
Is this available for Azure Functions using an App Service Plan or only Consumption plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bceaf516-a1b0-eb1e-e106-62c31db3e69c
* Version Independent ID: abbbd2d6-e0fc-d370-f4a7-ac669fc4acd6
* Content: [Monitoring Azure Functions with Azure Monitor Logs](https://docs.micros

[2020-04-29 19:04] YutongTie-MSFT commented on #53602
@oh001738  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provide

[2020-04-29 19:06] YutongTie-MSFT commented on #53593
@ivanignatiev
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 19:06] abatishchev opened #53650 "Doc refers to undocumented/obsolete type Microsoft.Devices/Iothubs/Iothubkeys"
This articles says to acquire a key to the hub using resource type `Microsoft.Devices/IotHubs/IotHubKeys`.
But I don't see it existing anywhere:
- [Schema reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.devices/iothub-allversions)
- [Schema repo](https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2019-03-22/Microsoft.Devices.json)
- [Spec repo](https:

[2020-04-29 19:07] AjayKumar-MSFT commented on #52916
@BartVanBerkel, Thanks for the confirmation.

Just to clarify, the difference between ASMC and ASC certificate offerings.

-	App Service Managed Certificate (ASMC)
o	This is the free certificate offering from App Service ([docs](https://docs.microsoft.com/azure/app-service/configure-ssl-certificate#create-a-free-certificate-preview) for more info)
o	Currently only limited to supporting subdomains

[2020-04-29 19:24] KranthiPakala-MSFT commented on #53481
@SeryioGonzalez Apologies for the inconvenience. Here is the link which you can refer to until this is fixed permanently with latest updates : https://github.com/MicrosoftDocs/azure-docs/blob/5a3f3325016c1473ffe5498b881979aa8830e8c7/articles/event-hubs/event-hubs-api-overview.md

One of our content developer (@spelluru) has opened a work item (#1713302) to work on this.
Since we are tracking this

[2020-04-29 19:24] #53481 closed

[2020-04-29 19:31] vhorne commented on #52253
@Andriy-dev
I'll go ahead and close this now. You can always come back if needed.
#please-close

[2020-04-29 19:31] #52253 closed

[2020-04-29 19:31] SaurabhSharma-MSFT commented on #53609
@vboyev-MSFT I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/347535-azure-security-center). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-04-29 19:34] PeterCLu commented on #52295
@shankarpandala, apologies. I though this was created using the designer. I'll be be following up shortly.

[2020-04-29 19:38] dcvtruong opened #53652 "syntax error printing the CA certificate in base64 format"
$ openssl x509 -in caCert.pem -outform der | base64 -w0 ; echo
base64: invalid option -- w
Usage:	base64 [-hvD] [-b num] [-i in_file] [-o out_file]
  -h, --help     display this message
  -D, --decode   decodes input
  -b, --break    break encoded string into num character lines
  -i, --input    input file (default: "-" for stdin)
  -o, --output   output file (default: "-" for stdout)

---
#### Do

[2020-04-29 19:56] bandersmsft commented on #53274
@njsee @Mike-Ubezzi-MSFT Closing this issue. **njsee**, if the problem persists, feel free to reopen the issue.
#please-close

[2020-04-29 19:56] #53274 closed

[2020-04-29 19:58] Ogglas commented on #38914
@souravmishra-msft Should this be reopened perhaps?

[2020-04-29 20:00] njsee commented on #53274
Thanks for your help. This is now resolved.

[2020-04-29 20:01] Mike-Ubezzi-MSFT commented on #52707
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 20:01] #52707 closed

[2020-04-29 20:12] tfitzmac commented on #53452
It looks like you need to run:

Install-Module Az.Resources -RequiredVersion 1.12.1-preview -AllowPrerelease

[2020-04-29 20:21] flangel commented on #47169
Hi @DixitArora-MSFT , any progress ? Please describe zone redundancy within a single region. For instance, if I set units to 2 under APIM > Locations > Region, does that means I have two active/active instances within that region ?

[2020-04-29 20:22] smfrench commented on #17765
Have you tried "cifsacl" mount option (a little tricky to setup as mapping owners from global identity (SIDs) to the limited set of local POSIX ids (uids are small #s) uses a user space utility - see "man cifs.idmap").   In later kernels you will be able to use "modefromsid" if you prefer 'nfs style' (where security is often enforced by checking the primitive posix mode bits on the client, and the

[2020-04-29 20:23] MarileeTurscak-MSFT commented on #53589
@galrito
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 20:32] trevorbye commented on #53000
@kevinlinhg afaik, the javascript sdk is Node-only. However, you could use the REST api if you absolutely need to do it in front-end .js.

[2020-04-29 20:32] Karishma-Tiwari-MSFT commented on #53643
I see that you closed this issue. Let me know if this issue is not resolved yet and I will reopen.

[2020-04-29 20:33] Karishma-Tiwari-MSFT commented on #53583
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 20:36] Minewiskan commented on #53517
@didier-danloy - I'm not sure how a screenshot would "complete" the documentation here. This article is an overview with links to other articles that describe features in detail. For example, the section on Scale out links to a detailed article which includes plenty of screen grabs. Adding screen grabs to this overview would make it more cluttered than it already is. We also try to limit using scr

[2020-04-29 20:36] #53517 closed

[2020-04-29 20:37] malopMSFT commented on #53593
We have description and how to's here
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations
https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy
https://docs.microsoft.com/en-us/azure/private-link/disable-private-link-service-network-policy

[2020-04-29 20:39] mike-urnun-msft commented on #53596
Hello @sai-manoj-kumar - Thank you for your feedback. Please refer to [Store and manage values by using variables in Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-create-variables-store-values)

In WDL in Code View, you may use the `@variable` [function](https://docs.microsoft.com/en-gb/azure/logic-apps/workflow-definition-language-functions-reference#variables) to

[2020-04-29 20:41] joverdon commented on #16009
I am also interested in this, as the pricing page that is linked shows that P1 and P2 plans cover advanced group access management. I'm hoping that the P1 customers aren't missing this capability.

[2020-04-29 20:43] mike-urnun-msft commented on #53619
@kspoojary Thank you for your feedback! We will review and update as appropriate.

[2020-04-29 20:46] MicrosoftGuyJFlo commented on #52404
Email out to PG for feedback.

[2020-04-29 20:47] MicrosoftGuyJFlo commented on #51324
Email out to PG for feedback.

[2020-04-29 20:47] MicrosoftGuyJFlo commented on #50204
Another email out to PG for feedback.

[2020-04-29 20:50] kosinsky commented on #53255
Thank you @hrasheed-msft.
I'm seeing https://docs.microsoft.com/en-us/rest/api/hdinsight/configurations/update with "Configures the HTTP settings on the specified cluster. This API is deprecated, please use UpdateGatewaySettings in cluster endpoint instead."

Is it correct to assume that we can't update any configuration changes except gateway via Azure REST API?

My scenario is adding support for

[2020-04-29 20:52] elvirk commented on #53452
Thank you that did it - I guess I missed this requirements in documentation.

[2020-04-29 20:53] SaurabhSharma-MSFT commented on #53244
@nfpiche I do not think you can take that down, however, I would like to know of any specific reason you want to do that ?

[2020-04-29 20:57] julieMSFT commented on #52517
@jamserra Thank you for bringing this to our attention. I will work to resolve this.
@CHEEKATLAPRADEEP please assign this to me.

[2020-04-29 20:59] Grace-MacJones-MSFT commented on #53630
Hi @DTronD, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-04-29 21:00] MikeMorawski opened #53653 "Impact of using VNet Service Endpoints with Azure storage"
This article discusses the impacts with Azure Storage and SQL (specifically Azure SQL Data Warehouse PolyBase) and provides a workaround for that scenario. However I'm discovering other (undocumented?) issues with no apparent work around when trying to do a bulk insert (also PolyBase oriented I assume) from SQL on an external data source configured against a blob storage.

In this scenario its not

[2020-04-29 21:01] KranthiPakala-MSFT commented on #53373
@deyanp Thanks for your query.  Here is the info from internal team regarding your query -  The support for private link is currently available only for Dedicated tier, as it is a single tenant model and inclines better on security. The product team may extend this feature to standard tier in future but not sure on the timeline at the moment.

If you have any suggestion/feedback related to this fe

[2020-04-29 21:01] #53373 closed

[2020-04-29 21:01] AjayKumar-MSFT commented on #28400
Apologies for the delay!
@mattchenderson, Requesting your comments on this. Thank you.

[2020-04-29 21:10] AjayKumar-MSFT commented on #23250
Thanks for the update. Much appreciate the follow-up.

[2020-04-29 21:18] BryanTrach-MSFT commented on #53636
@anogueirac Please note that this channel is for feedback on the Azure Docs. Since your examples seem to go beyond the doc and appear to be more troubleshooting than Doc feedback, we kindly request you to post your question on [MSDN forums](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=mediaservices).

We have product group members and engineers over there who are better equipped

[2020-04-29 21:18] #53636 closed

[2020-04-29 21:24] jluk commented on #50247
The outboundtype details can be found on this AKS issue. Could you follow up with us there so you get the latest?

https://github.com/Azure/AKS/issues/1384

[2020-04-29 21:25] AjayKumar-MSFT commented on #46401
Apologies for all the frustration with this issue and inconvenience. I will share the feedback on this internally with our product team.
Kindly let us know if you need any further assistance. Thanks for sharing the solution that worked for you with the community.

[2020-04-29 21:25] iainfoulds commented on #49247
Sorry for the delay on this. The engineering work team has acknowledged there isn't feature parity in areas like this, and are also leaning towards the Microsoft Graph API to directly query information as needed. At this time, there's no ETA on those updates being available. Doc updates will be made once there are updates from engineering to share. For now, #please-close

[2020-04-29 21:25] #49247 closed

[2020-04-29 21:26] henriquebelotto opened #53654 "Clarification for SingleSignOn -> Scope"
Hello,

I'm implementing the "Keep Me Signed In" as is shown in this example https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-keep-me-signed-in and they use the SingleSignOn Scope = "Tenant". So I used like the example and my application works fine. However, when I was look into the technical details provided in this page, I decided that I don't want my Single Sign On to b

[2020-04-29 21:29] dobrinangelov commented on #53643
Did some rewording on the description.

[2020-04-29 21:31] mamccrea commented on #53355
Thanks for your feedback, @jatinrai5! I've added your requests to the docs backlog. I am going to close this issues for now, but I will write back here once that information has been added.

#please-close

[2020-04-29 21:31] #53355 closed

[2020-04-29 21:31] iainfoulds commented on #53509
Thanks for the feedback, @netresults-scott

For the most part, the Azure AD docs are trying to just focus on the available Azure AD features such as Multi-Factor Authentication, not get into specific licensing comparisons or differences across M365, EMS, Office 365, etc. The focus isn't so much on Enterprise vs SMB, rather the core underlying features of Azure AD.

The separate M365 docs provide s

[2020-04-29 21:31] #53509 closed

[2020-04-29 21:36] mamccrea commented on #53487
Thanks for bringing this to our attention. I've created a ticket to have the doc updated.

[2020-04-29 21:36] mnns commented on #47908
Same here, getting "already exists" after trying to add the binding.
Followed the documentation.

[code]

[2020-04-29 21:39] JBHorne commented on #49247
I'm not sure why this was closed. The article is still incorrect.

[2020-04-29 21:40] SubhashVasarapu-MSFT commented on #53652
@dcvtruong , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-29 21:42] imabedalghafer opened #53655 "After all of the steps being followed , the login is failing for ubuntu 18.04"
Hi Team,

I have followed all of the steps on ubuntu 18.04 and it is failing to sign it with the users with errors on the /var/log/auth.log
Apr 29 21:25:11 xxxx sshd[5836]: Failed password for invalid user xxx@xxxx from xxx.xxx.xxx.xxx port 7000 ssh2

Following a redhat article below:
https://access.redhat.com/solutions/1221353

A value of
ldap_sasl_authid = SERVERTOADD$@DOMAIN

need to be added i

[2020-04-29 21:43] aheld commented on #53548
@markjbrown can you show me where the API docs for the collection.queryDocuments call?  That is what I'm looking for.  I can't find where the collection object is defined

[2020-04-29 21:43] sghaugen opened #53656 "Azure CLI code snippet is missing the SET"
The second line in the CLI code snippet is missing the SET:
SET tenantId=$(az account show --query tenantId)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b544a2-f2c6-4531-6847-3176aef96b30
* Version Independent ID: ad41fb5d-2de1-7316-4f11-50db6c4e96ce
* Content: [Change the key vault tenant ID after a subscription

[2020-04-29 21:48] sethmanheim commented on #53227
Thank you for catching that @dhulme -- I have updated this sentence in the iOS section with a link that seems more appropriate: https://developer.apple.com/documentation/usernotifications.

[2020-04-29 21:49] SubhashVasarapu-MSFT commented on #53594
@aquibqureshi26 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-04-29 21:49] mjharper84 opened #53657 "Azure functions as a backend"
When you say "Azure Storage enables you to use serverless architectures" does this mean I can't use anything else? could I in theory host a SPA with vue or react and use an existing API for data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-

[2020-04-29 21:53] SubhashVasarapu-MSFT commented on #53640
@dcegress , After you specify an error page, the application gateway downloads it from the storage blob location and saves it to the local application gateway cache. Then the error page is served directly from the application gateway. To modify an existing custom error page, you must point to a different blob location in the application gateway configuration. The application gateway doesn't period

[2020-04-29 21:53] mamccrea commented on #47164
I will now proceed to close this issue. If you still need assistance, please reopen the issue.

#please-close

[2020-04-29 21:54] Mike-Ubezzi-MSFT commented on #53642
@gwenbettwy Pull Request has been merged to master and should be reflected in the public facing document within 24hrs. Thank you for bringing this to  our attention.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-29 21:54] #53642 closed

[2020-04-29 21:55] marcusjwhelan commented on #35335
I just ran into this, trying to run the command on an application id I had created earlier I got this error, NOT FROM THE CLOUD SHELL,
Invoking "az ad app permission grant --id 88a175a9-5171-4aca-902d-de075570b859 --api 00000003-0000-0000-c000-000000000000" is needed to make the change effective

Then when running the command I receive:
Operation failed with status: 'Forbidden'. Details: 403 Clien

[2020-04-29 21:58] andrewbeaumont opened #53658 "Image in VM Creation misleading"
The image in the VM creation section (https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-load-balancer-standard-public-zone-redundant-portal#create-virtual-machines) is misleading - do the virtual machines need a public IP address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc7e0331-9d68-1430-9b52-872104

[2020-04-29 22:00] glomaga commented on #53447
**Sign in (SSO works perfectly):**
1) Create a local account on your Tenant.
2) Sign-in to the  OpenID site with the local account that you created previously.
2) same browser session, open SAML app in a new tab, if you enable SSO at the level of the tenant, you can enter to the SAML app without the need to enter the credentials again.
NOTES:
this is the configuration that I have on the Sign
![ima

[2020-04-29 22:01] jjbutera opened #53659 "Unable to register a domain containing an underscore"
Is this by design or possibly a bug?  With valid CNAMEs, I can register sub1.host.com but I'm unable to register sub_1.host.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Tutorial: Map existing custom DN

[2020-04-29 22:20] TravisCragg-MSFT commented on #53594
@aquibqureshi26 This is discussed at the [bottom of This Section of the UDR Overview Doc](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#border-gateway-protocol). If this does not give you the information you are looking for, please describe what is missing.

[2020-04-29 22:29] andrewbeaumont commented on #53658
I should elaborate - the steps listed are missing the Public IP address component (but yet these are present in the image):

Enter these values for the VM settings:

zone 1 - for the zone where you place the VM.
myVNet - ensure it is selected as the virtual network.
myBackendSubnet - ensure it is selected as the subnet.
myNetworkSecurityGroup - for the name of network security group (firewall).

I

[2020-04-29 22:30] GiftA-MSFT commented on #53371
@lucazav can you be specific about whats wrong with the document? The document is supposed to guide you on how to create, publish, run, and track a machine learning pipeline using the Azure Machine Learning SDK. The sample notebooks referenced in the "Next Step" section are there for further exploration. Hope this helps. Thanks.

[2020-04-29 22:35] KranthiPakala-MSFT commented on #53557
@slopezv2 Thanks for your query. Is your query related to - [EventData.Properties](https://docs.microsoft.com/dotnet/api/microsoft.azure.eventhubs.eventdata.properties?view=azure-dotnet-legacy&viewFallbackFrom=azure-dotnet) Property? If yes, then users can put their own properties in this dict.

I would also recommend you to please refer to below SDK docs:
https://azure.github.io/azure-sdk-for-pyt

[2020-04-29 22:44] andresbarcenas opened #53661 "When is VNET integration going GA for Linux"
Hello,

When is VNET integration going GA for Linux?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](https://docs.microsoft.com/en-us/az

[2020-04-29 22:47] abhishek0220 opened #53662 "Writing two documents in single collection"
Writing a new document to an Azure Cosmos DB database using output binding working fine until we need to write only one document. But when using "set" to write more than two documents then only last "set" ables to write.
Like in this only line 2 seems working as occurring in last.

doc.set(func.Document(to_detail))  -1
doc.set(func.Document(from_detail))  -2

---
#### Document Details

⚠ *Do not e

[2020-04-29 22:47] TravisCragg-MSFT commented on #53658
@andrewbeaumont Thanks for the feedback! A Public IP Address is not needed here. The VMs will have outbound connectivity via the Load Balancer, and if individual access to the VMs is needed, ports can be forwarded from the Load Balancer.

Having the Public IP Address here will cause no issues with this tutorial, it will only allow a separate IP Address to access your VMs.

I have assigned the issu

[2020-04-29 22:51] Grace-MacJones-MSFT commented on #53659
Hi @jjbutera, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-29 22:54] RickB-2840 opened #53663 "Bad link on this page"
Bad Link on this page: just before the routing example there are two links, one to "DMZ between Azure and your on-premises datacenter" and one to " DMZ between Azure and the Internet", but they both lead to the first article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version

[2020-04-29 22:55] tkelly07852 commented on #16849
Need this bad. The whole question was about the slave being in Azure not the master. How do we configure a Slave in Azure to only replicate certain databases and even more granular, certain tables.
replicate-do-table
replicate-do-db
replicate-wild-do-table
replicate-wild-do-db
We need this functionality.
I feel like I have to migrate my data away from Azure and back to on-prem

[2020-04-29 22:56] mike-urnun-msft commented on #53629
@ronwarner Thank you for your feedback! We will review and update as appropriate.

[2020-04-29 23:07] mike-urnun-msft commented on #53633
@rameshjanjyam Thank you for your feedback! We will review and update as appropriate.

[2020-04-29 23:09] mike-urnun-msft commented on #53638
Closing as duplicate of #53638

[2020-04-29 23:09] #53638 closed

[2020-04-29 23:10] mike-urnun-msft commented on #53662
@appi101 Thank you for your feedback! We will review and update as appropriate.

[2020-04-29 23:15] MarileeTurscak-MSFT commented on #53646
@ZaarourOmar
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 23:21] oobedan commented on #53568
@SadiqhAhmed-MSFT  if your applocker rules (or other 3rd party whitelisting/appcontrol solution) is based on publisher or path based, they will block the IaaSBcdrExtension.exe executable from running.

[2020-04-29 23:23] Mike-Ubezzi-MSFT commented on #53653
@migee Thank you for bringing this to our attention. To clarify your issue, are you trying to implement this functionality with a VNET in place or are you trying to use a Managed Identity (aka Managed Service Identity)?
The classic PolyBase scenario is outlined in the following: [Tutorial: Load the New York Taxicab dataset](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehous

[2020-04-29 23:24] Grace-MacJones-MSFT commented on #53042
Hi @erndob, thanks for your patience. The engineering team is making changes to improve App Services integration with AFD. This doc will be updated soon to reflect those improvements. Currently, there is no ETA for when these improvements will be released. Please use the information provided on the AFD documentation page for IP restriction.

We will now proceed to close this thread. If there are f

[2020-04-29 23:24] #53042 closed

[2020-04-29 23:33] aquibqureshi26 commented on #53594
Thanks, I missed it. it is clearly mentioned about the feature. Hence closing it.

[2020-04-29 23:33] #53594 closed

[2020-04-29 23:44] MarileeTurscak-MSFT commented on #53656
@sghaugen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-29 23:45] Karishma-Tiwari-MSFT commented on #53604
Thanks for the feedback. To help me understand better, can you please elaborate on the issue you are seeing, for example at which step in the doc are you seeing issue, error message?

[2020-04-29 23:47] Karishma-Tiwari-MSFT commented on #53610
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-29 23:47] dkypuros commented on #53604
Under the section: Create the cluster.

az aro create \
  --resource-group $RESOURCEGROUP \
  --name $CLUSTER \
  --vnet aro-vnet \
  --master-subnet master-subnet \
  --worker-subnet worker-subnet
  # --domain foo.example.com # [OPTIONAL] custom domain
  # --pull-secret '$(< pull-secret.txt)' # [OPTIONAL]

[2020-04-29 23:57] sddev-dotnet opened #53665 "Error when installing the ingress controller helm chart"
I followed the examples above and created a new AKS Cluster using the templates and cli commands above. When I get to the last step, installing the helm chart for the ingress controller, I get the following error:

``` Error: validation failed: [configmaps "messy-quoll-cm-ingress-azure" not found, serviceaccounts "messy-quoll-sa-ingress-azure" not found, deployments.apps "messy-quoll-ingress-azure

[2020-04-30 00:02] mike-urnun-msft commented on #53649
@brianmander Thank you for your feedback! We will review and update as appropriate.

[2020-04-30 00:02] JoshuaAnickat opened #53666 "Found some bugs"
In installWhlLibrary.py line 96
`values = {'cluster_id': clusterid, 'libraries': [{'whl': dbfslib}]}`
should actually be
`values = {'cluster_id': clusterid, 'libraries': [{'whl': 'dbfs:' + dbfslib}]}`
similarly in the same file line 113
`if (status['library']['whl'] == dbfslib):`
should actually be
`if (status['library']['whl'] == 'dbfs:' + dbfslib):`
This was giving me a lot of errors until I rea

[2020-04-30 00:03] djpmsft commented on #53498
Right now this information lies in the connector docs:
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-blob-storage#mapping-data-flow-properties

This should be moved to the individual connector (delmited text, parquet, etc)

[2020-04-30 00:05] MarileeTurscak-MSFT commented on #53656
I get an unreconized arguments error with either command. @sghaugen are you able to show an example of it working?
![image](https://user-images.githubusercontent.com/13383753/80658683-a427d980-8a3b-11ea-8b7a-90ebe2ab1d5c.png)

Looping in the content author @amitbapat to update this as needed.

[2020-04-30 00:08] djpmsft commented on #52739
Looks likes it a typo, fixing the doc now. Should be merged and live by tomorrow morning

#please-close

[2020-04-30 00:08] #52739 closed

[2020-04-30 00:21] Mike-Ubezzi-MSFT commented on #53286
@dlewissandy I spent some time looking through this and the document this issue is filed against is with regard to the connecter, and not in scope to provide information you are seeking. However, the [working with our samples](https://docs.microsoft.com/en-us/azure/cosmos-db/spark-connector#working-with-our-samples) section does provide content that is more inline with your request. Please see: [O

[2020-04-30 00:35] Mike-Ubezzi-MSFT commented on #16849
@tkelly07852 The table level replication functionality is currently under review (March 31, 2020). The document explains Data-In replication, which entails a replication flow On-Premise -> Azure. Given the access required to configure this functionality, the opposite scenario of replicating to On-Premise from Azure is not possible unless the Azure instance is MySQL Server deployed to an Azure VM.

[2020-04-30 00:39] gmantri commented on #53329
@Mike-Ubezzi-MSFT Thanks! After I originally posted the question, I realized that it is not related to the documentation and hence I closed it immediately after opening it. I also asked this question on Stack Overflow (https://stackoverflow.com/questions/61437693/correct-way-to-query-a-cosmos-db-table) and based on the answer I got, I believe it is an issue with the product itself.

I think the do

[2020-04-30 00:46] raheemdaya commented on #48650
Hi Lisa,
I think I understand his point, mostly because I got stuck on the same thing.  There is an example on how to get the setting if it is stored using the secret manager which is good if you are testing locally as you pointed out.  But if we are to deploy this to App Service which is definitely the goal, how would we access the secret.  Something along the lines of: public static IHostBuilder

[2020-04-30 00:49] ljunquera commented on #53484
1. 29
2. Emulator
3. Cannot run at all. I run in Android Studio and the app never launches in the emulator.

[2020-04-30 00:49] raheemdaya commented on #48650
...and yes, I realize I'm being super lazy.  But when the document you've written is so comprehensive and easy to follow it makes me not want to go digging for the info :)

[2020-04-30 00:51] DaFitRobsta commented on #53531
@SaurabhSharma-MSFT,
I wanted to verify that only 3rd party apps that make REST API calls to Graph API would need to be updated, while 1st party apps were already covered.  You answered my question and appreciate you validating 3rd party apps are what's in scope with Graph API updates. ;)

[2020-04-30 00:51] #53531 closed

[2020-04-30 00:51] ljunquera commented on #53484
We may want to close this out. I pulled down the full code rather then creating it from scratch as the documentation describes and I was able to run it. I originally wanted to code it directly to understand the code flows. I would really like to see a simple and clean demo with the specific flows I needed.

[2020-04-30 01:04] djpmsft commented on #52917
Hey @RobMcZagBDS ,

This behavior is expected. As the documentation states 'If an unroll root is selected, the output data will contain at least one row per items in the unroll root.' If you select an unroll root that is higher than your unroll by array, there will be more elements. As I don't know your data, it is tough to know the exact input/output.

If your unroll root is one layer up, nulls a

[2020-04-30 01:06] zbourdeau opened #53667 "Data Flows IP Addresses are missing"
Where can we find information on the source IP addresses for Data flows since they are not part of these ranges?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP addresses - Azure D

[2020-04-30 01:17] fmachadopiriz opened #53668 "ERROR: Service 'azure-vote-front' failed to build: The command '/bin/sh -c pip install redis' returned a non-zero code: 1"
When running `docker-compose up -d` got this error: ERROR: Service 'azure-vote-front' failed to build: The command '/bin/sh -c pip install redis' returned a non-zero code: 1

Full trace:
Building azure-vote-front
Step 1/3 : FROM tiangolo/uwsgi-nginx-flask:python3.6
 ---&gt; 95ffc3f2fef6
Step 2/3 : RUN pip install redis
 ---&gt; Running in fe54a0f4bd8c
Collecting redis
  WARNING: Retrying (Retry(to

[2020-04-30 01:22] gwenbettwy commented on #52707
I am sorry but I do not understand.

There was only one protocol.  It was called SSL (named by Netscape) which progressed until 3.0 at which time Netscape wanted out.  They were happy for the community to continue its update, but only under a new name since the name belonged to Netscape (now Mozilla).

So TLS 1.0 is essentially SSL 4.0.

It is not possible to say in one sentence that you only use

[2020-04-30 01:26] kummanish commented on #52707
Hello Gwenbettey,
We do not support only TLS 1.2. You can connect with older TLS version like TLS 1.0, TLS 1.1.
As mentioned previously, we also allow you to connect without TLS and just SSL.

[2020-04-30 01:33] jespli commented on #5902
Can not find the link anymore, could you provide the new link?

[2020-04-30 01:38] sebansal commented on #29871
Updated the doc with ARM template link.

[2020-04-30 01:41] abatishchev commented on #29871
Hi! Can you please share a link to the updated doc?

[2020-04-30 01:44] sebansal commented on #29871
Updated doc link has not been generated yet.
File changed: https://github.com/MicrosoftDocs/azure-docs/pull/53670/files

Doc changed : https://docs.microsoft.com/en-us/azure/key-vault/general/overview-soft-delete

From: Alexander Batishchev <notifications@github.com>
Sent: Wednesday, April 29, 2020 6:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Seema Bansal <Seema.Bansal@

[2020-04-30 01:46] abatishchev commented on #29871
But it's not a template, it's just the schema reference. The documentation is still lacking.
Please add a quick start template as well.

[2020-04-30 01:53] sebansal commented on #29871
Hey Alexander

The ARM template linked has “enableSoftDelete”
"enableSoftDelete" is an optional boolean property to specify whether the 'soft delete' functionality is enabled for this key vault

From: Alexander Batishchev <notifications@github.com>
Sent: Wednesday, April 29, 2020 6:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Seema Bansal <Seema.Bansal@microsoft.com>; Com

[2020-04-30 01:57] SwathiDhanwada-MSFT commented on #53631
@RonnieQuan Thanks for your comment. We will review the issue and get back to you.

[2020-04-30 01:58] tkelly07852 commented on #16849
I'm only interested in On-Prem -> Azure with DB and Table filters on the slave side. And it's not there unfortunately. The document explains  how to setup On-Prem -> Azure, ALL DB's and ALL tables (no DB or table filters). That's not something I would ever need. I'm glad it's under review I'll be keeping a close eye in it.

[2020-04-30 01:58] abatishchev commented on #29871
Yes, I know :) What I'm asking for is to make this feature to be well-documented and the documentation is easy-discoverable. From the ARM template perspective.

[2020-04-30 01:59] ArvindHarinder1 commented on #50768
I would recommend creating a support case if this persists and the quarantine message in the progress bar is not helpful. #please-close

[2020-04-30 01:59] SwathiDhanwada-MSFT commented on #53644
@pmozbert Thanks for your comment.We will review the issue and get back to you.

[2020-04-30 01:59] #50768 closed

[2020-04-30 02:00] SwathiDhanwada-MSFT commented on #53647
@atbagga Thanks for your comment. We will review the issue and get back to you.

[2020-04-30 02:01] SwathiDhanwada-MSFT commented on #53617
@ROSMITHJ-MSFT  Thanks for your comment. We will review the issue and get back to you.

[2020-04-30 02:03] sebansal commented on #29871
Ok. I can take direct that to ARM template team for their new Action item.
For now, can you merge the PR, as this update was in response to github issue https://github.com/MicrosoftDocs/azure-docs/issues/29871

From: Alexander Batishchev <notifications@github.com>
Sent: Wednesday, April 29, 2020 6:59 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Seema Bansal <Seema.Bansal@mic

[2020-04-30 02:06] SwathiDhanwada-MSFT commented on #53605
@velsietis  Thanks for your comment. We will review the issue and get back to you.

[2020-04-30 02:07] ramakrse opened #53671 "This page needs update - Image and Video"
The clone options is not seen in the current version. May be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a39c00-0d4b-eef2-39cc-2ebe0603d854
* Version Independent ID: 265dd37f-2299-c762-63be-3c8e5cf504f8
* Content: [Tutorial: Create your first ML experiment - Azure Machine Learning](https://docs.microsoft.c

[2020-04-30 02:07] RonnieQuan opened #53672 "RBAC Permission Needed for Configure VNet Integration"
What RBAC permissions/Microsoft.Network operations are needed to configure vnet integration?
Is it documented anywhere? does it still require Microsoft.Network/virtualNetworks/write?
Is the feature enhanced?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Indepe

[2020-04-30 02:08] SwathiDhanwada-MSFT commented on #53595
@jonclyde  Thanks for your comment. We will review the issue and get back to you.

[2020-04-30 02:09] SwathiDhanwada-MSFT commented on #53620
@o-l-a-v  Thanks for your comment. We will review the issue and get back to you.

[2020-04-30 02:15] AshokPeddakotla-MSFT commented on #53650
@abatishchev Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 02:17] AshokPeddakotla-MSFT commented on #53641
@stewart2020 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 02:19] AshokPeddakotla-MSFT commented on #53585
@ManuelGWT Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 02:20] kromerm commented on #52806
The activity document has not been updated with the "Expression" checkbox update. @djpmsft The data flow activity docs need to reflect the Expression option that was added to the parameter passing to handle string interpolation automatically.

Previously, you have to use string interpolation manually to use pipeline expressions. Now, we do that for you, which is why we can now pass more than just

[2020-04-30 02:22] SwathiDhanwada-MSFT commented on #53605
@velsietis  Thanks for your feedback. We have updated the document accordingly and the changes will reflect soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-04-30 02:27] taguada commented on #21407
Thank you for your answer. I did a lot of tests and realized that Peering only works for the same geolocation. In case that you have a GlobalPeering it doesn’t work. For example a Peering from Eastus to Eastus it works, but a Peering from Eastus to another region it doesn’t work. I read documentation and saw what is written about unsupported scenario as you mentioned.

[2020-04-30 02:29] trichardson01-kellogg opened #53673 "Azure Media Player - midRoll not firing"
I am finding that midRoll ads will only trigger if the source of the main video (mainprogram) is being served up from Azure Media Service (ism/manifest). Is this correct? As I am having trouble getting a midRoll ad to fire when serving up an mp4 video from a source other than Azure Media Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-04-30 02:33] #53605 closed

[2020-04-30 02:40] SwathiDhanwada-MSFT commented on #53631
@RonnieQuan  AFAIK, subnet tagging isn't currently supported. The same feedback shown [here](https://feedback.azure.com/forums/34192--general-feedback/suggestions/35759347-tag-subnet) was shared directly with the responsible Azure feature team. I recommend navigating to the above link and clicking the vote button to raise visibility and priority on this.

[2020-04-30 02:44] Ayanmullick commented on #53203
This is just a PowerShell documentation request and not a Product feedback or feature request.
I think Microsoft should provide documentation for their native language [PowerShell] if you can provide the same for other languages like Java, NodeJS, Python etc.

[2020-04-30 03:13] MarileeTurscak-MSFT commented on #53233
It seems that these permissions should be the pre-applied permissions and the message would be about that. However, if you're seeing that they have permissions that you never gave to them, please send me an email at AzCommunity@microsoft.com and we can troubleshoot and report this issue.

[2020-04-30 03:13] #53233 closed

[2020-04-30 03:15] mike-urnun-msft commented on #53230
Hi @rnwolf - I'm tried reproducing it but it's working as expected, and returning 200:

![image](https://user-images.githubusercontent.com/36717703/80668241-31782780-8a56-11ea-9567-766e6725af67.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-30 03:15] #53230 closed

[2020-04-30 03:25] PrometheusRising1 opened #53675 "Windows Server 2019 Updates"
This article could use a few more updates around Windows Server 2019 - while you give the warning about ignoring the cluster name object items, this is a long article, and you should repeat that warning further down (e.g. in the section on configuring the load balancer to include the cluster IP) as well as information on why the CNO's IP is no longer needed.  It would also help to have a note on w

[2020-04-30 03:27] BharathNimmala-MSFT commented on #53634
@pantjee We really appreciate your feedback. Thanks to our document author @rayne-wiselman and team.

[2020-04-30 03:30] Relent97 opened #53676 "Invalid resource location when trying to update web app."
[Hi, thank you for the manual however before I could get it to work took a long while and had to specify the particular resource group for my app to be created in.
 Azure had given the website : http://dashapp1.azurewebsites.net however the app did not launch.
I had to check the dependencies and realized that the problem was in my locale meaning I have to make some changes to my python file.
Howev

[2020-04-30 03:32] SatishBoddu-MSFT commented on #53203
@Ayanmullick Thank you for the  Azure IoT Feedback request. Please follow [PowerShell documentation for AzIoT](https://feedback.azure.com/forums/321918-azure-iot/suggestions/40303939-powershell-documentation-for-aziot) feedback request for future updates.

[2020-04-30 03:32] #53203 closed

[2020-04-30 03:34] mandiaya opened #53677 "Does this add-on support confluence 7.4?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-30 03:36] MarileeTurscak-MSFT commented on #52690
Hi @ashoka99, I have reached out to the product team to ask about this and a response is pending.

[2020-04-30 03:37] VikasPullagura-MSFT commented on #53613
@arijit-nanda Thanks for your Question.
Can you please check if you are allowed to create directly on the portal, just wanted to ensure that you are no being impacted by global [capacity issues](https://azure.microsoft.com/en-us/blog/update-2-on-microsoft-cloud-services-continuity/).

[2020-04-30 03:38] VikasPullagura-MSFT commented on #53603
@AmitavaHazra
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 03:39] VikasPullagura-MSFT commented on #53598
@irishun
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 03:40] VikasPullagura-MSFT commented on #53632
@Mlavieri
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 03:41] VikasPullagura-MSFT commented on #53648
@nivrutti-shinde
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-30 03:45] VikasPullagura-MSFT commented on #53624
@townendk
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 03:46] VikasPullagura-MSFT commented on #53624
@RoopChevuri @viswanadham-k can you please check and add your comments.

[2020-04-30 03:50] Grace-MacJones-MSFT commented on #53661
Hi @andresbarcenas,  VNET integration for Linux should be GA in a few months. This is an estimate, not a promise. Please continue to check back here or on the [Azure Update ](https://azure.microsoft.com/en-us/updates/)page for future updates. Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2020-04-30 03:50] #53661 closed

[2020-04-30 03:51] trangluong opened #53678 "Error Failed to establish connection to restful service end point within timeout limit 30 seconds. Restful service URL"
When I create a new RESTful technical profile to call API endpoint through API management service, I got the error: "Failed to establish connection to restful service end point within timeout limit 30 seconds. Restful service URL: https://abc....."
I cannot find any place to config the connection timeout.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-04-30 03:53] trangluong commented on #53606
I got the error "Failed to establish connection to restful service end point within timeout limit 30 seconds. Restful service URL: : https://abc".
How can we fix this issue? I can call the URL through postman.

[2020-04-30 03:56] trangluong opened #53679 "Error 400 Failed to establish connection to restful service end point within timeout limit 30 seconds. Restful service URL"
I got the issue when call new rest API: "Failed to establish connection to restful service end point within timeout limit 30 seconds. Restful service URL".
I can call this API through postman, but not Azure B2C. How can I fix this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e3

[2020-04-30 04:05] mj1856 commented on #34826
I haven't scaling up yet, but I did find that I also needed to register the `EventProcessorHost` if I want triggers to fire for incoming events.

[code]

Usage in Functions DI `Configure` method:

[code]

That works locally anyway.  I'll publish to Azure soon and try there.  If it works, I'll send a PR to the [Azure/azure-functions-eventhubs-extension](https://github.com/Azure/azure-functions-even

[2020-04-30 04:09] denimad commented on #52513
Hello, thank you for following up this case. For what´s worth, I have setup the data sync on my DB and setting the agent is not even necessary. You can delete all the _syncAgent***_ variables, remove the _New-AzSqlSyncAgent_ command, and remove the _-SyncAgent***_ and _-SqlServerDatabaseID_ arguments from _New-AzSqlSyncMember_ command. DataSync Agent is necessary when using an on-prem DB, but in t

[2020-04-30 04:09] kilasuit opened #53680 "Needs a section on Listing role assignments for a resource"
As this isn't documented but is something that many organisations will want this is something that should be added

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c8152e4-f4ca-c135-2107-fb042b0d08da
* Version Independent ID: d97d03ef-15d3-c437-b8f5-526b87c6f19d
* Content: [List role assignments using Azure RBAC and Azu

[2020-04-30 04:19] MarileeTurscak-MSFT commented on #53646
Thanks! I made a pull request to add Salesforce as well. https://github.com/MicrosoftDocs/azure-docs-pr/pull/113310

[2020-04-30 04:19] #53646 closed

[2020-04-30 04:26] SteveBurkettNZ opened #53681 "Azure Firewall supports the WindowsVirtualDesktop service tag?"
This appears to be using the WindowsVirtualDesktop service tag, yet the Azure service tags documentation (https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags) says that the WindowsVirtualDesktop service tag can't be used with Azure Firewall. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-04-30 04:27] SadiqhAhmed-MSFT commented on #53568
@oobedan Would it be possible for you to add the extension in the exclusion list?

[2020-04-30 04:35] CHEEKATLAPRADEEP-MSFT commented on #53667
@zbourdeau **Note:** Data flows does not use these IPs currently.

You can use these IP ranges for Data Movement, Pipeline and External activities executions. These IP ranges can be used for whitelisting in data stores/ Network Security Group (NSG)/ Firewalls for inbound access from Azure Integration runtime.

Hope this helps.

[2020-04-30 04:38] CHEEKATLAPRADEEP-MSFT commented on #53666
@JoshuaAnickat  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-30 04:47] ram-msft commented on #53671
@ramakrse Thanks for the feedback. We will update you shortly.

[2020-04-30 04:50] HughKu opened #53682 "Unexpected Behaviors from the WebHook activity of ADFv2"
## Summary
I've met several unexpected behaviors from the **WebHook activity** of ADFv2.

### Dynamic Content (JSON)

I am not able to add pipeline `variables` or `parameters` on the dynamic content to get proper JSON value as expected, while the same dynamic content works with **Web activity**.
1. Portal keeps saying `String does not ...`

![image](https://user-images.githubusercontent.com/698349

[2020-04-30 04:56] zbourdeau commented on #53667
CHEEKATLAPRADEEP-MSFT,

Thank you for responding. I was commented in regards to the note at the top of the page saying:

"Important

**Data flows** does not use these IPs currently.

You can use these IP ranges for Data Movement, Pipeline and External activities executions. These IP ranges can be used for whitelisting in data stores/ Network Security Group (NSG)/ Firewalls for inbound access from

[2020-04-30 04:56] sujayvsarma commented on #52545
@MarileeTurscak-MSFT - Over email with who?

[2020-04-30 04:58] femsulu commented on #52975
@dgancho  - any update to @JaneYan-2016's question ?

[2020-04-30 05:00] emshimon opened #53683 "USE element cannot use at Synapse Analytics."
I tried USE on my synapse environment but it did not work.
Could you please check if the document is right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302bb8f5-286a-fa70-408d-4421d10f584b
* Version Independent ID: acc2763a-3603-0d4a-e803-33cedf66e782
* Content: [T-SQL language elements - Azure Synapse Analytics](ht

[2020-04-30 05:01] Mike-Ubezzi-MSFT commented on #52513
@denimad Thank you for pointing this out and following-up with how you resolved it. Let me see if I can have the sample updated.

[2020-04-30 05:09] CHEEKATLAPRADEEP-MSFT commented on #53683
@emshimon Unfortunately, "USE" element is not supported in Azure SQL Database and Azure Synapse Analytics (SQL DWH).

![image](https://user-images.githubusercontent.com/44426401/80674138-aab36100-8ace-11ea-81d9-e13d7667a723.png)

Hope this helps.

[2020-04-30 05:11] emshimon opened #53684 ""APPLY TO" infomation mismatches between in this page and link forward page."
It shows that following statements do not apply to Synapse Analytics, at link forward page.

ALTER CERTIFICATE
ALTER DATABASE ENCRYPTION KEY
BACKUP CERTIFICATE
CREATE CERTIFICATE
CREATE DATABASE ENCRYPTION KEY
DROP CERTIFICATE

Could you please check witch information is right and fix the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-30 05:13] ChiragMishra-MSFT commented on #53682
@HughKu Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-04-30 05:14] autodomme opened #53685 "Are there rate limits on how often a release annotation can be written?"
I have a DevOps task group with a release annotation in it. Sometimes it fails with 401 unauthorized, even though all release pipelines are using the same key.

I'm wondering whether it's rate limited. Could you put some documentation in around how to trace failures beyond 401 unauthorized returns?

(just to clarify further - it's highly probable that it's the code at fault, but are there backend

[2020-04-30 05:17] oobedan commented on #53568
@SadiqhAhmed-MSFT of course. I was mentioning as it may be helpful to others if you want to update the troubleshooting guide.

[2020-04-30 05:25] SadiqhAhmed-MSFT commented on #53568
@oobedan Thanks for sharing your valuable feedback. We will have this reviewed by our experts and update the document as needed.

@dcurwin FYI, please review this request and do the needful.

[2020-04-30 05:28] BartVanBerkel commented on #52916
@AjayKumar-MSFT, sounds good!
Maybe update the documentation of AppGw/KV with that information.

[2020-04-30 05:28] #52916 closed

[2020-04-30 05:34] PrometheusRising1 opened #53686 "Section incorrect for IP Dependency Setting"
This section is incorrect when using Failover Cluster Manager on Windows 2019:
"c. Click the Dependencies tab. Verify that the IP address is a dependency. If it is not, set a dependency on the IP address. If there are multiple resources listed, verify that the IP addresses have OR, not AND, dependencies. Click OK."

Trying to click on Dependencies under the Name resource causes the following error

[2020-04-30 05:34] BharathNimmala-MSFT commented on #53634
@pantjee Thanks again for your feedback. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-04-30 05:34] #53634 closed

[2020-04-30 05:38] VikasPullagura-MSFT commented on #53655
@imabedalghafer
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 05:39] VikasPullagura-MSFT commented on #53654
@henriquebelotto
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 05:40] VikasPullagura-MSFT commented on #53657
@mjharper84
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 05:41] VikasPullagura-MSFT commented on #53677
@mandiaya
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-30 05:42] SnehaAgrawal-MSFT commented on #53672
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 05:47] SnehaAgrawal-MSFT commented on #53676
@PRMerger14 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 05:48] VikasPullagura-MSFT commented on #53663
@RickB-2840
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 05:48] VikasPullagura-MSFT commented on #53663
@malopMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 05:49] SnehaAgrawal-MSFT commented on #53673
@trichardson01-kellogg Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 05:52] VikasPullagura-MSFT commented on #53665
@sddev-dotnet
Thanks for posting your Query! One of engineer from Networking area will review your question and get back with details on this.

[2020-04-30 05:54] VikasPullagura-MSFT commented on #52758
@aanandr Can you please add your comments on this.

[2020-04-30 05:54] arpanos commented on #52606
The same error seems to be back again.

[2020-04-30 05:58] VikasPullagura-MSFT commented on #53545
@jluk Thanks for sharing the details.

@pplavetzki Please follow the issue mentioned in Justin comment for tracking the feature.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-30 05:58] #53545 closed

[2020-04-30 06:02] VikasPullagura-MSFT commented on #53675
@PrometheusRising1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 06:03] VikasPullagura-MSFT commented on #53675
@MikeRayMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 06:04] aanandr commented on #52758
@VikasPullagura-MSFT - with CNI its possible if AKS changes the SNAT settings because they control it. But we are also exploring if we can fix this in CNI itself.

[2020-04-30 06:05] VikasPullagura-MSFT commented on #53686
@PrometheusRising1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 06:05] VikasPullagura-MSFT commented on #53686
@MikeRayMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 06:07] harshalvaidya commented on #44790
Hi all,

I was facing an issue with WinRM timeout few days back while using Windows2016-Server image building. But now the same configurations are working perfectly fine (I have increased the winrm_timeout to 60mins)

Now the issue I'm facing is with the provisioner. In my template builder, I'm using Windows2016 server as  a source image and my provisioner has few lines of powershell code to updat

[2020-04-30 06:08] nivrutti-shinde commented on #53648
Hi Vikas,
Thanks for response. Below does not have any ref for angular. How i can use blob storage in angular7/8/9

https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-javascript?toc=/azure/storage/blobs/toc.json

[2020-04-30 06:10] ZhenLiuPhys commented on #50204
I also encounter this problem. Really annoying and not yet solved!

[2020-04-30 06:20] CloudTechTravel opened #53687 "CorpNetSaw and CorpNetPublic dont exist as service tags in the portal"
Currently verifying connectivity and noted that the CorpnetSaw and Corpnetpublic service tags dont exist (well arent publicly viewable or selectable)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee
* Version Independent ID: f083bdda-0c66-af32-0d27-f535e46c96dc
* Content: [Connectivit

[2020-04-30 06:38] skmkzyk commented on #53303
thanks a lot!!

[2020-04-30 06:38] #53303 closed

[2020-04-30 06:41] seagullt opened #53688 "Please modify the document about the CORS Policy"
In our document, we can know that the CORS Policy can be set in the Product Level. But there's a limitation which is not mentioned in the official document. That will make the customer confused.

If we need to set the CORS Policy in the Product Level, we need to add subscription key in the Request URL.

![image](https://user-images.githubusercontent.com/54611026/80679967-81a3c800-8af0-11ea-8918-f0

[2020-04-30 06:44] amanmcse commented on #53678
@trangluong Thank you for reaching out. The default timeout value for REST API is 30 sec by default and retry is 2 times, which means we try total 3 times. These limits are not configurable at this time. You can post an idea at https://feedback.azure.com regarding this feature.

#please-close

[2020-04-30 06:44] #53678 closed

[2020-04-30 06:53] NickSevens opened #53689 "[Queue] what's the benefit of base64 encoding messages?"
Queue messages can be (or always are?) encoded in Base64.
Is there a particular reason this is used?
E.g. what's the benefit of this encoding? - message size, obfuscation, ... ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afed582b-fb3f-30b3-b119-6c4a9218bf34
* Version Independent ID: d4cf3473-21c1-2409-e7ac-9ad93fbc

[2020-04-30 07:04] DixitArora-MSFT commented on #53467
@craigshoemaker Any thoughts on including this in doc ?

[2020-04-30 07:06] DixitArora-MSFT commented on #53520
@hochas
The support for the EcmaScript versions are built into the Node version you are using for your JavaScript Function.
Language             1.x          2.x          3.x
JavaScript            GA (Node 6)       GA (Node 8 & 10)             GA (Node 10 & 12)

These websites will help you understand which EcmaScript features are supported in which versions of Node,
https://node.green/
https://no

[2020-04-30 07:06] #53520 closed

[2020-04-30 07:12] amanmcse commented on #53679
@trangluong Thank you for reaching out. The default timeout value for REST API is 30 sec by default and retry is 2 times, which means we try total 3 times. These limits are not configurable at this time. With Postman, I don't think there is 30 seconds timeout limit.

Please post an idea at https://feedback.azure.com to add capability to configure these limits.
#please-close

[2020-04-30 07:12] #53679 closed

[2020-04-30 07:12] BhargaviAnnadevara-MSFT commented on #53685
@autodomme Thanks for the question! We're investigating this and will get back to you shortly.

[2020-04-30 07:18] memildin commented on #40812
Thanks for the details.

Our internal testing shows that a custom role with the following 5 permissions can create a JIT access request:

- Microsoft.Security/locations/jitNetworkAccessPolicies/read
- Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action
- Microsoft.Security/policies/read
- Microsoft.Compute/virtualMachines/read
- Microsoft.Network/*/read

No need for any further r

[2020-04-30 07:18] memildin commented on #40812
#please-close

[2020-04-30 07:18] #40812 closed

[2020-04-30 07:19] agassijoelbrio opened #53690 "Documentation Required"
Hi is there any documentation available in implementing Azure Firewall with WVD. The given link is very short and confusing. I already have a WVD environment. So, how can I set up the Azure firewall I need steps or documentation.

[2020-04-30 07:22] CrazyBaran commented on #20701
Is there some walkaround for this issue? Evaluation of Https take couple hours so it not suitable for us. We need to have wildcard subdomain. Is there something which can be done?

[2020-04-30 07:26] ramadarla opened #53691 "Deleted my Azure VM with out stopping Azure VM backup"
If I have deleted my Azure VM with out stopping Azure VM backup, what happens my previous backups data/snapshot..etc.stored in recovery vaults? is it still left as orphaned in my Recovery Vault? charged for storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independen

[2020-04-30 07:34] amanmcse commented on #53603
@AmitavaHazra login-NonInteractive technical profile is to allow signed-up B2C users to sign-in. If this TP is not configured properly, you can signup but not signin.

When you tried the example in this doc, did you make changes to SelfAsserted-LocalAccountSignin-Email Technical Profile?
When you use below parameters in this technical profile:
< InputClaim ClaimTypeReferenceId="signInName" Default

[2020-04-30 07:36] arijit-nanda commented on #53613
Thanks @VikasPullagura-MSFT ,i have been created this on with valid subscription,VM created with GUI,but unable to create through Power Shell,There may be silly mistake which i have made but i amm unable to find the issue.

[2020-04-30 07:37] Anshulsr77 commented on #53607
Hello @YutongTie-MSFT , this is the document i was referring to -
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-manage

[2020-04-30 07:37] rockboyfor opened #53694 "SQL clause format in Cosmos DB."
For the query clause  `SELECT * FROM c WHERE c["order"].orderId = "12345"`,  we could not get the result. While we can get the result expected with the following `SELECT * FROM c WHERE c["order"][0].orderId = "12345"`.  Could you please help to take a look at it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be9b41a4-

[2020-04-30 07:38] RobMcZagBDS commented on #52917
@djpmsft Daniel,
  then in my case 2A (unroll root = unroll by) why the result is empty while each of the two test files has 255 elements that are not null?
That to me is a bug (opened with support), so I do not yet know what to expect as output.

"at least one row per items in the unroll root" is not as clear as it sounds when you have JSON data:
1. the array element can be omitted - no task_type

[2020-04-30 07:41] saitejakothamasu commented on #52495
Yes I have set the 2 Environmental variables iothubconnectionstring and Eventhubconsumergroup using the command provided in the document.

I checked the logstream to find out the error and there it was displayed as invalid iothubconnectionstring even though I gave service connection string primary key.

Should the web app and iothub of same tier? As I am using free tier for iothub and b1 tier for

[2020-04-30 07:42] ManuelHaas opened #53695 "Microsoft.Identity.Web does not support external login provider scenario"
Please add a note to the docs that Microsoft.Identity.Web does not support the scenario using AzureAd as external login provider. See this link for details: https://github.com/AzureAD/microsoft-identity-web/issues/133

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140108
* Version Independ

[2020-04-30 07:45] mike-urnun-msft commented on #53250
@stijnbrouwers I tried your scenario without having to change anything JWT validation policy from what's described in this documentation and the overall OAuth flow is working for me. I believe the 401 is coming from your JWT validation policy and the root cause may be originating from the way you're obtaining the access token via Postman and the fact that the Developer Portal not showing the dropd

[2020-04-30 07:45] #53250 closed

[2020-04-30 07:47] rnwolf commented on #53230
@mike-urnun-msft I created a github repo that you might want to use to check my take.
I only found this after making sure I have 100% pytest coverage. See the screen shot, and repo  https://github.com/rnwolf/azure-func-python-layout.

The test case is:
[code]
I am rather new too this so I may be wrong, but I was just following an example function that @brettcannon  was discussing in an issue relat

[2020-04-30 07:47] saitejakothamasu commented on #52495
or should app service and iot hub from the same server location. While creating app service it was kept as west Europe and While creating iot hub it was kept as central India. will there be an issue with that ?

[2020-04-30 07:49] lrtoyou1223 commented on #53075
Hi @CeciAc ，
If your SSIS packages are stored in SSISDB, the MI agent only can execute the package from the SSISDB in the same Managed Instance. So in our UI, you don't need to choose it as current Managed Instance is default.
But if your packages are stored in file system such as Azure Files, then you need to specify the location of your packages in MI agent UI.
Hope this answer your question.

[2020-04-30 07:53] AshokPeddakotla-MSFT commented on #53197
@AndresDevelop skn=iothubowner is missing from the above request. Please make the changes and re-run.

[2020-04-30 07:58] JiriZidek commented on #49531
We need Pg12 since there is major feature update using non-materialized CTEs. Is there a chance to have it in Azure?

[2020-04-30 08:00] PramodValavala-MSFT commented on #53633
@rameshjanjyam I believe the doc assumes you have docker installed locally. Could you confirm the same?

Also, could you share what IP Address you are using?

[2020-04-30 08:03] ram-msft commented on #53322
@jamesaodavis Thanks for the feedback. Raised a PR  #https://github.com/MicrosoftDocs/azure-docs-pr/pull/113320 to fix the broken links.

[2020-04-30 08:05] metoule opened #53696 "Using weak certificates on a Linux webapp is prohibited by OpenSSL security level"
I'm trying to perform an API call with a certificate signed with SHA1 with RSA encryption. On a Windows app service plan, the call works. On a Linux app service plan, it fails with the error:

[code]

That's because the Linux web app uses OpenSSL 1.1.1d, and it's configured to use security level 2 by default, which no longer accept certificates signed with SHA1 ([see the offical documentation](htt

[2020-04-30 08:08] torbenboeck opened #53697 "Data Factory lookup steps in all flows broken"
From yesterday (April 29th, 2020) and to today, all of a sudden all my lookup steps in all my data flows were broken. I got the following two errors:

This one when browsing a lookup step - despite the fact that my lookup comparison logic is NOT non-equality - see attached picture:
![ADFBug](https://user-images.githubusercontent.com/11289208/80687404-88b7df80-8aca-11ea-97f6-e3d45545a029.png)

Non-

[2020-04-30 08:17] omarine commented on #53387
Thanks

On Wed, Apr 29, 2020 at 6:33 PM Venkat Yalla <notifications@github.com>
wrote:

--

Always think green before printing !

[2020-04-30 08:18] ezYakaEagle442 opened #53698 "Reference to kube-dns instead of core-dns"
Warning: In Kubernetes 1.18, kube-dns usage with kubeadm has been deprecated and will be removed in a future version. https://kubernetes.io/docs/tasks/administer-cluster/coredns

The AKS docs below refer to kube-dns which is deprecated in K8S 1.18 and while core-dns is used in AKS.

Kubernetes DNS service IP address:
IP address within the Kubernetes service address range that will be used by clust

[2020-04-30 08:18] omarine commented on #53387
Thanks ,any idea if it's going to be supported  in the future?

[2020-04-30 08:19] SwathiDhanwada-MSFT commented on #53680
@kilasuit Thanks for your comment. We will review your request and get back to you.

[2020-04-30 08:19] VikasPullagura-MSFT commented on #53698
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 08:20] VikasPullagura-MSFT commented on #53698
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 08:25] ezYakaEagle442 opened #53700 "Calico network policy link outdated"
The Calico network policy link should not refer to v.xx archive (v3.9 on this page) link to the latest :
https://docs.projectcalico.org/security/calico-network-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version Independent ID: 82ac8cfa-b0a2-c77a-408a-ab9aa2b6bce4
* Cont

[2020-04-30 08:27] amanmcse commented on #53561
1. Yes, that is correct. You need to register non-gallery app under enterprise applications blade.
2. I don't think you can enable App Proxy in B2C tenant. The enable app proxy option is always grayed out.
3. You can have another instance of same application federated with B2C. Another option is to federate the application with B2C only and add your B2B tenant as external IDP to your user flow.

H

[2020-04-30 08:27] ezYakaEagle442 commented on #53698
also the [KubeNet doc](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#create-an-aks-cluster-in-the-virtual-network) states that :
The --dns-service-ip address **should be the .10** address of your service IP address range.

Is the rule really different between KubeNet & CNI ?

[2020-04-30 08:40] RobMcZagBDS commented on #52806
Thank you Mark @kromerm for the clarification.

From your words and some other issue discussion (that I cannot pinpoint now) I understand that when the receiving parameter is not of type string some conversion is being quietly attempted and in case of failure you would get a null (maybe 0 for ints).
**Is this correct? Can this be explicitly documented?**

To me this implies that declaring a datafl

[2020-04-30 08:41] NeilPetersen opened #53701 "Server 2019 Support?"
Hi,
Documentation clearly states - The solution supports domain controllers running Windows Server 2008 and 2008 R2, Windows Server 2012 and 2012 R2, and Windows Server 2016.

Does this include 2019 Domain Controllers?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe28c1b-e0f3-b558-e58c-ad32c455cd21
* Version

[2020-04-30 08:43] Legac123 commented on #53676
I have same issue.

[2020-04-30 08:51] souravmishra-msft commented on #53296
@rwike77, Can you please check this PR I created.

[2020-04-30 08:57] SumanthMarigowda-MSFT commented on #53245
@jvannor  The PR request has been raised.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-30 08:57] #53245 closed

[2020-04-30 09:03] ezYakaEagle442 opened #53702 "Network Policies third party OSS projects support"
regarding Network Policies third party OSS projects support , could you add on this page at
https://docs.microsoft.com/en-us/azure/aks/support-policies#aks-support-coverage a reference to the page https://docs.microsoft.com/en-us/azure/aks/use-network-policies#differences-between-azure-and-calico-policies-and-their-capabilities which states that KubeNet+Calico is not supported by Azure support Tea

[2020-04-30 09:05] noahc66260 opened #53703 "Example code needs modification to run"
the recv.py example code will not run properly as is.

To fix this, change the following line:
        await client.receive(on_event=on_event)
to
        await client.receive(on_event=on_event, starting_position="-1")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a30aef-5279-acde-6bc2-dc1f2720c179
* Version Independ

[2020-04-30 09:08] SumanthMarigowda-MSFT commented on #53266
@mossywell  Azure Files supports preserving, inheriting, and enforcing Microsoft file system[ NTFS ACLs on all folders and files in a file share.](https://docs.microsoft.com/en-us/windows/win32/secauthz/access-control-lists)

If you are facing any issue while Configuring NTFS permissions over SMB, please let us know and
I'd recommend posting your question in https://social.msdn.microsoft.com/forum

[2020-04-30 09:08] #53266 closed

[2020-04-30 09:12] BhargaviAnnadevara-MSFT commented on #53685
@autodomme I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-30 09:18] cephalin commented on #53284
in the quoted text, "with build processes switched on" indicates the custom setting for zip deployment.

[2020-04-30 09:22] SumanthMarigowda-MSFT commented on #53489
@swingingsimian  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2020-04-30 09:22] #53489 closed

[2020-04-30 09:23] SumanthMarigowda-MSFT commented on #53496
@akenens Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-30 09:27] SumanthMarigowda-MSFT commented on #53523
@akenens Thanks for the feedback and it has been shared with the content owner for further review.

[2020-04-30 09:30] SumanthMarigowda-MSFT commented on #53648
@nivrutti-shinde  The suggestion mentioned in this [So ](https://stackoverflow.com/questions/60264886/how-to-upload-a-large-file-in-azure-blob-storage-from-angular-app-directly)thread should help you in your scenario

[2020-04-30 09:32] ErgoPr0xy opened #53704 "Associate a route table to a subnet - no way to check gateway subnets effective routes"
Quoted paragraph:
"If your virtual network is connected to an Azure VPN gateway, don't associate a route table to the gateway subnet that includes a route with a destination of 0.0.0.0/0. Doing so can prevent the gateway from functioning properly. For more information about using 0.0.0.0/0 in a route, see Virtual network traffic routing."

How can we check this? The gateway subnet does not have VM

[2020-04-30 09:36] cpmohanraj commented on #41961
@bergmeister I am migrating our data factory to a new region and am faced with the exact same issue. I was trying a few other things and found out that dmgcmd only accepts one argument at a time. If you leave out -EnableRemoteAccess argument, the dmgcmd will run fine.

[2020-04-30 09:42] SumanthMarigowda-MSFT commented on #53657
@mjharper84  When you say "Azure Storage enables you to use serverless architectures" does this mean I can't use anything else? Correct  could I in theory host a SPA with vue or react and use an existing API for data?
You need account for CORS headers

[2020-04-30 09:51] VikasPullagura-MSFT commented on #53688
@seagullt
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 09:53] cephalin commented on #48344
@MaximRouiller This doc has been updated to the latest UI now. Thanks. #please-close

[2020-04-30 09:53] #48344 closed

[2020-04-30 09:53] torbenboeck commented on #53697
The problem seems to exist in Chrome and not Edge

[2020-04-30 09:54] swingingsimian commented on #53489
That forum is not working well for me, I can't post links, nor can I tag you in an obvious way, the post is here:
https://social.msdn.microsoft.com/Forums/azure/en-US/14af32ad-7065-4ebd-a7b2-4fda51e4670e/trying-blob-storage-turorial-on-free-account-fails?forum=windowsazuredata

[2020-04-30 09:54] cephalin commented on #48597
@spboyer the content has been updated to the latest UI now. #please-close

[2020-04-30 09:54] #48597 closed

[2020-04-30 09:56] wouterroos commented on #43203
Hi,

I couldn't find any place to submit ARM template related issues (if there is, please let me know) and since this issue seems similar I thought I'd re-open it. Somewhere between April 22nd and 24th we've started to encounter the following error during multiple ARM template deployments spanning multiple projects:

`ResourceNotFound: The Resource 'Microsoft.Web/sites/[websiteName]' under resourc

[2020-04-30 10:01] safakgur commented on #32679
Hi @DixitArora-MSFT, sorry for resurrecting the issue.

The problem with injecting `CosmosClient` directly appears when we have multiple Cosmos DBs (different connection strings) to connect. [Cosmonaut][1] solves this by having a generic `ICosmosStore<T>` type allowing us to register a singleton client per data model and specify a different connection string for each.

It would be great if we coul

[2020-04-30 10:03] GreenReaper commented on #11964
@TravisCraigg-MSFT: Unfortunately this page no longer exists - is there an updated version?

[2020-04-30 10:05] cephalin commented on #52191
@Ricardoaraujo00 I suspect the /signin-twitter path doesn't come from App Service but your chosen web framework in your code. Would that be accurate?

@mattchenderson Is there any other reason why it would work like this?

[2020-04-30 10:06] mvssunil86 opened #53705 "Azure Stream not coming from Event Hub to Stream Analytics"
I followed all instructions  as per document.
  In Event Hub ,requests are showing in graph but showing in Azure Stream Query .
I am not sure , what is the problem .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9636d03-2832-6aaf-9b92-dc67e7ba16fb
* Version Independent ID: eb372908-c7f1-313b-198e-8f960cadda6c
* Conte

[2020-04-30 10:08] GreenReaper opened #53706 "Minimum TLS version"
There is now an option to select "Minimum TLS version" after "Certificate management type - listed options are "TLS 1.2" and "TLS 1.0/1.1". This should probably be included in the documentation.

It'd also be good to know how this is being enforced - perhaps the certificate is of a type which can only be read by TLS 1.2; or perhaps there is a minimum version attribute/OID that can be set on it?

-

[2020-04-30 10:08] VikasPullagura-MSFT commented on #53668
@fmachadopiriz
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 10:09] cephalin commented on #47067
The doc has been updated and the change will be published today. #please-close

[2020-04-30 10:09] #47067 closed

[2020-04-30 10:11] nivrutti-shinde commented on #53648
Hi Sumanth,
We prefer only Microsoft documentation. I am trying to upload and download file into azure storage. Download is working in angular. But for upload file using SAS token I did not see any example in Microsoft documents. I don't know how to proceed with that. I don't want user to upload file via our middle layer. So we are working to upload file directly to azure from angular. The documen

[2020-04-30 10:13] ezYakaEagle442 opened #53707 "Update AKS roadmap link"
On the left-menu ToC tree, could you please update roadmap link to [https://github.com/Azure/AKS/projects/1](https://github.com/Azure/AKS/projects/1)

Content: [Resources / Roadmap - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks)
Content Source: [articles/aks/toc.yml](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/TOC.yml)

---
#### Document Details

⚠

[2020-04-30 10:16] cephalin commented on #52176
@arizzi12 I don't reproduce the error. For anything beyond the scope of the scenario in this tutorial, please go to the Azure forums or StackOverflow for help. #please-close

Feel free to reopen if you have further issues with the tutorial. Note that the tutorial has also been updated this week.

[2020-04-30 10:16] #52176 closed

[2020-04-30 10:21] benc-uk opened #53708 "Key Vault integration has been deprecated"
The Key Vault Flexvol integration is now deprecated https://github.com/Azure/kubernetes-keyvault-flexvol

This new driver should be used instead https://github.com/Azure/secrets-store-csi-driver-provider-azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID:

[2020-04-30 10:26] cephalin commented on #53630
@DtronD I just looked and I see "Custom domains" listed in a consumption function app, in the **Platform features** tab. Please check that you're actually looking at the settings for the function app, not for its App Service plan. Custom domains are not plan settings.

@ggailey777 @craigshoemaker FYI

#please-close

[2020-04-30 10:26] #53630 closed

[2020-04-30 10:28] cephalin commented on #47667
@Boshskoski the doc has been updated. Thanks. #please-close

[2020-04-30 10:28] #47667 closed

[2020-04-30 10:30] cephalin commented on #37438
I updated the doc this week and did not reproduce this requirement to set the app setting. No action. #please-close

[2020-04-30 10:30] #37438 closed

[2020-04-30 10:34] SourceStudio opened #53709 "User-Assigned Managed Identities"
```Key Vault references currently only support system-assigned managed identities. User-assigned identities cannot be used.```

This is not strictly true. The DefaultAzureCredential class, upon which the Azure App Configuration and Azure Key Vault clients ultimately rely for authentication, make use of certain environmental variables that control the authentication flow. In the case of User-Assign

[2020-04-30 10:36] memildin commented on #53492
@MarileeTurscak-MSFT, thanks for the question.

I think you'll find all the information to answer this question on this page of the Azure RBAC documentation: [Azure built-in roles > Security Admin](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#security-admin).

Please let us know if there's anything else we can help with.

#please-close

[2020-04-30 10:36] #53492 closed

[2020-04-30 10:36] cephalin commented on #11383
#please-close as this issue has always been beyond the scope of the scenario in this article. For specific functions + auth related questions please use Azure forums or StackOverflow. The discussion can still be discovered under the Closed tab.

Functions related documentation on this subject is potentially required. @ggailey777 @craigshoemaker FYI

[2020-04-30 10:36] #11383 closed

[2020-04-30 10:38] AshokPeddakotla-MSFT commented on #53501
@larsonmpdx We are sorry to hear that you are experiencing an issue.
You can set up Azure Monitor logs to collect the activity log of device streams in your IoT Hub. This can be very helpful in troubleshooting scenarios. Please see [Troubleshoot via Device Streams Activity Logs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-streams-overview#troubleshoot-via-device-streams-activity-

[2020-04-30 10:38] cephalin commented on #53200
This is a bug with the service and the doc has been updated this week with the necessary workaround. Thanks. #please-close

[2020-04-30 10:38] #53200 closed

[2020-04-30 10:39] Arcass opened #53710 "Add groups to an AU section error"
Hi,
Direct link: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-admin-units-add-manage-groups#add-groups-to-an-au

I think the screenshot for the "Add groups to an AU" section step 2 is the wrong one. It has "User (preview)" high lighted rather than "Groups (preview)".
Also, the Microsoft graph example is currently:
{
  "@odata.id":"https://graph.microsoft.com/bet

[2020-04-30 10:40] AjayKumar-MSFT commented on #53709
@SourceStudio, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-30 10:42] cephalin commented on #51639
@kraigb FYI

[2020-04-30 10:43] GreenReaper commented on #42260
I've hit this as well. The route you need to go is outlined at https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types - ideally the error message would link to this.

[2020-04-30 10:44] cephalin commented on #51681
@kraigb

[2020-04-30 10:45] VikasPullagura-MSFT commented on #53702
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 10:45] VikasPullagura-MSFT commented on #53702
@jnoller
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 10:47] RohitMungi-MSFT commented on #53364
@jpe316 Could you please help to check if using the same name for version and service name is allowed as it fails updates when they are the same?

[2020-04-30 10:53] VikasPullagura-MSFT commented on #53706
@GreenReaper
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 10:54] VikasPullagura-MSFT commented on #53706
@asudbring
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 10:56] alexespencer opened #53711 "python message.dead_letter(description) does not add description to the dead lettered message"
If you do: message.dead_letter(description="SETTING A reason")

That description cannot be found in the dead letter properties:
for message in messages:        # pylint: disable=not-an-iterable
            print(message)
            print(message.header)
            print(message.properties)
            print(message.user_properties)
            print(message.annotations)

---
#### Document Detail

[2020-04-30 10:58] mjharper84 commented on #53657
Great, thanks

[2020-04-30 10:58] #53657 closed

[2020-04-30 11:06] RohitMungi-MSFT commented on #53470
@strikene I think this [sample ](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/ObjectDetection-Onnx)from dotnet/machine-learning-samples can help.

[2020-04-30 11:20] mutansee commented on #53681
The tag WindowsVirtualDesktop is available on Azure firewall.

[2020-04-30 11:27] YassineSOUABNI opened #53712 ""Permissions required to create an Automation account" / shouldn't "Global Admin" be replaced by "Application developer""
replace
"If App registrations is set to No, the user who performs this action must be a global administrator in Azure AD"
by
"If App registrations is set to No, the user who performs this action must have at least Application Developer role in Azure AD."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4440e0-1ff5-0fd3

[2020-04-30 11:27] garima2510 commented on #53337
Any update on this? it is still not showing anything in portal

[2020-04-30 11:28] VikasPullagura-MSFT commented on #53708
@benc-uk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 11:28] MikkelHegn commented on #41694
The dependency on github.com on 443 and raw.githubusercontent.com on 443 are fixed as part of the 20200427 release on AKS.

None of the extra URLs called out in this thread are needed for provisioning Windows nodes. I believe the originally reported set of URLs have been fixed after we're providing a custom VHD for Windows node. I suggest we close this issue now.

[2020-04-30 11:29] VikasPullagura-MSFT commented on #53708
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 11:29] danger89 commented on #6344
Next.. Firefox.

[2020-04-30 11:32] VikasPullagura-MSFT commented on #53707
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 11:32] VikasPullagura-MSFT commented on #53707
@yunjchoi
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 11:34] VikasPullagura-MSFT commented on #53684
@emshimon
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 11:34] VikasPullagura-MSFT commented on #53684
@XiaoyuMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 11:35] MohamedWaly opened #53713 "Download the Certificate (Base64) of the certificate instead of the XML file"
We shouldn't download the XML file because it is not needed in Absorb, instead we should download the Certificate (Base64), because it would be used as a key from absorb to communicate with Azure AD.

[2020-04-30 11:35] rr-on-gh opened #53714 "Azure Stream Analytics: Regex in Reference Data"
I have an Azure Stream Analytics job that uses an EventHub and a Reference data in Blob storage as 2 inputs. The reference data is CSV that looks something like this:

[code]

I then need to lookup an attribute in the incoming event in EventHub against this CSV to get the
`FRIENDLY_NAME`.

Typical way of of using reference data is using `JOIN` clause. But in this case I cannot use it because such

[2020-04-30 11:36] VikasPullagura-MSFT commented on #53681
@SteveBurkettNZ
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 11:36] VikasPullagura-MSFT commented on #53681
@vhorne
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 11:37] VikasPullagura-MSFT commented on #53689
@NickSevens
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-30 11:39] VikasPullagura-MSFT commented on #53690
@agassijoelbrio
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-30 11:39] matiasma opened #53715 "Azure FrontDoor"
The Azure Traffic Manager was replaced by Azure FrontDoor, on top of the rdgateway, solving issues related with user's DNS server location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b63892-73ef-7853-b892-ed9a7aeb74ac
* Version Independent ID: 9d856179-518f-192f-0a94-ce4b2db00d85
* Content: [Windows Virtual Deskto

[2020-04-30 11:39] ram-msft commented on #53322
@jamesaodavis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-30 11:39] #53322 closed

[2020-04-30 11:41] VikasPullagura-MSFT commented on #53687
@CloudTechTravel
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 11:42] sndpkj opened #53716 "A statement change under topic "Redundancy in a secondary region""
In GRS and GZRS both, data is replicated **asynchronously** to a single physical location in the secondary region. But your below statement says this is done **synchronously**:
"The primary difference between GRS and GZRS is how data is replicated in the primary region. Within the secondary location, data is always replicated **synchronously** three times using LRS"
Please correct this.

[Enter fe

[2020-04-30 11:43] VikasPullagura-MSFT commented on #53691
@ramadarla
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 12:05] JeremyTBradshaw commented on #40250
Hi @FrankHu-MSFT I have to ask, where would one go to get support for this product?  It's not really a product, moreso a free / open source offering by a Microsoft employee.  Just "Contact Owners" through the PowerShell Gallery page for the module?
In my opinion - you shouldn't put a tutorial on here (docs) if there is no official support avenue to send people to.

MS Graph unattended authenticati

[2020-04-30 12:17] bogan commented on #25658
This still appears to be a problem. The hyperlink in Point 1 still refers to .NET Framework version. Also, the sentence beginning "Hence the version of Microsoft.AspNet.ApplicationInsights.HostingStartup..." also refers to the .NET Framework version. Lastly, the sentence beginning "The latest version of Microsoft.ApplicationInsights.AspNetCore is 2.8.2..." now refers to an outdated version of Appl

[2020-04-30 12:36] mocleiri opened #53717 "How to enable azure dev ops when private link is on"
We created a private link on one of our applications.  it works.  From  a jump box on the same vnet we can access the site.  However we are having problems getting Azure Dev Ops to communicate with it.  Could a section be added here with any practices known for this case?

We are getting 403 errors when trying to deploy both from the Microsoft build agents and from an on-prem build agent within an

[2020-04-30 12:41] Ricardoaraujo00 commented on #52191
@Grace-MacJones-MSFT  sorry, i'm not sure if you need me to provide any further information on this.

@cephalin i'm bit rookie in here, but yes, i think that path comes from the app service. That path is what i put in the twitter developer console. It's the path to which the twitter login platform redirects me after login on their portal. Only with that return path i'm able to have the application

[2020-04-30 12:42] VikasPullagura-MSFT commented on #53477
@rameshpzen3001 Thanks for sharing the details.
This issue can be better handled via a support case as this need live troubleshooting. I request you to open a support case and a dedicated engineer can work on this issue.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your Subscriptio

[2020-04-30 12:42] #53477 closed

[2020-04-30 12:47] bogan commented on #25658
Another problem. The code snippet refers to the FileDiagnosticsTelemeteryModule class. It appears that this class has now been moved out of the HostingStartup package into the base ApplicationInsights package. See https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.extensibility.implementation.tracing.filediagnosticstelemetrymodule.initialize?view=azure-dotnet and https://git

[2020-04-30 12:50] #53439 closed

[2020-04-30 12:51] #53535 closed

[2020-04-30 12:55] #53705 closed

[2020-04-30 12:57] HarrisonOfTheNorth commented on #18709
@jason-j-MSFT / @ShubhaVijayasarathy  - is it possible to have this updated?

[2020-04-30 12:59] CHEEKATLAPRADEEP-MSFT commented on #53703
@noahc66260  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-30 13:01] SnehaAgrawal-MSFT commented on #53382
@alastairtree Thanks for the valuable feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-30 13:08] migee commented on #53653
@Mike-Ubezzi-MSFT Thanks for the follow up. Trying to work through this mentally but I'm not quite following. Here's what I'm attempting to do on my end:

A storage account is created along with a blob. I require SQL database to read a file for a bulk insert. I reviewed the documentation [CREATE EXTERNAL DATA SOURCE](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source

[2020-04-30 13:08] sgdesmet commented on #53168
Hello @yoelhor thanks for your reply! The workaround you suggested is also the one we implemented in the mean time (but with `signInNames.userName`. As you said, the password can be left empty, which has the added benefit of locking the account. When adding email/password later on, `accountEnabled` must be set to true in the persistedclaims.

[2020-04-30 13:09] sai-manoj-kumar commented on #53596
Great. It is helpful. Can we add a link to this page in the documentation of using variables? I couldn't for some reason find this page.

[2020-04-30 13:21] SwathiDhanwada-MSFT commented on #53644
@mumian Can you please review the feedback and update the document accordingly?

[2020-04-30 13:35] JamesG-DPharos commented on #11066
Yes, this is certainly still happening on the Azure Verizon CDN rules engine.

[2020-04-30 13:46] VikasPullagura-MSFT commented on #53704
@ErgoPr0xy
Thanks for the Question! We are currently investigating and will get back on this.

[2020-04-30 13:54] jtuliani commented on #53015
Looks good thank you. I'm surprised that I have to use SchemaVersion_s=="V1" to distinguish schemas. I thought they just used different tables? Please correct me if I'm mistaken.

Thanks!

[2020-04-30 13:55] jtuliani commented on #53014
Super thank you

[2020-04-30 13:56] tony-gutierrez commented on #53284
It's still misleading. The default for zip is no build processes.

On Thu, Apr 30, 2020, 5:19 AM Cephas Lin <notifications@github.com> wrote:

[2020-04-30 13:57] SwathiDhanwada-MSFT commented on #53620
@o-l-a-v Begin,Process and End are the input processing methods which are mainly used for functions in PowerShell. For more information about these, kindly refer [this document](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_functions_advanced_methods?view=powershell-7.x#input-processing-methods).

When used in the function, all the data in Begin , Process

[2020-04-30 14:01] VikasPullagura-MSFT commented on #53613
@arijit-nanda I assume you are following this [document](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-create-vm).
I added the values that you have in your script and created VM successfully. However there are few changes needed in your script which are below, passing credentials when the script runs, value for  vm size and you already h

[2020-04-30 14:01] VikasPullagura-MSFT commented on #53613
@arijit-nanda
Hope the provided information is helpful.

Since this channel is for driving improvements towards MS Docs, and this issue is not related directly to the document.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-30 14:01] #53613 closed

[2020-04-30 14:06] ezYakaEagle442 opened #53719 "Calico network policy link outdated"
The Calico network policy links on this page at https://docs.microsoft.com/en-us/azure/aks/use-network-policies#differences-between-azure-and-calico-policies-and-their-capabilities  should not refer to v.xx archive (v3.9 on this page) link to the latest : https://docs.projectcalico.org/security/calico-network-policy

see also #53700

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-04-30 14:10] jtuliani commented on #52775
@memildin. Thanks for looking at this. You've added useful information on how long it takes SC to provision the MMA on existing VMs when auto-provisioning is enabled in SC.

However, the question I actually asked was different. I've set up auto-provisioning in SC already. Now I deploy a new VM. How long until that new VM gets the MMA?

[2020-04-30 14:10] tshak commented on #33157
Like others in this thread, I too got an error:

[code]

In the key vault I enabled all key, secret, and certificate permissions for the managed identity used by Azure Gateway. I'm sure that this is overkill but after trying a mix of other permissions I got frustrated and just enabled everything. Afterwards the error went away.

P.S. e2e TLS while using a cloud provisioned cert is a super common s

[2020-04-30 14:16] VikasPullagura-MSFT commented on #53700
@ezYakaEagle442 Thanks for the Feedback.
I checked the link you mentioned in the feedback  Calico network policy is redirecting to the same as latest link you shared in the feedback "https://docs.projectcalico.org/security/calico-network-policy".

Can you please elaborate little more on the issue, I hope I am missing something here.

[2020-04-30 14:19] cocallaw commented on #52940
@stuhad For the network policy on the RADIUS server for the Azure VPN, do you have PAP selected as an option under Authentication Methods of the Constraints Tab in the Properties?

Also what conditions do you have specified for the Policy on the RADIUS server ?

[2020-04-30 14:20] sudolibre opened #53720 "Server Load and Throttling"
Please provide more guidance on throttling. If we're getting throttle by the Graph API we should expect 429 response with Retry-After headers that have backoff time in seconds? What if we're being throttled by the B2C server upstream? What are the constraints around that? Is best practice to use JSON batching to minimize server load as described here: https://docs.microsoft.com/en-us/graph/json-ba

[2020-04-30 14:22] VikasPullagura-MSFT commented on #53719
@ezYakaEagle442
Thanks for the feedback!

The doc section you mentioned have 3 links as shown below, and all 3 are redirecting according to the descriptions as CLI, Support & Logs respectively.  Can you please provide more info on what doc change is needed here. I will share the feedback to the document author for looking into this.

![image](https://user-images.githubusercontent.com/48944027/8072

[2020-04-30 14:23] tfitzmac commented on #53452
Glad to hear that worked. I changed the description in that part of the article to clarify the requirements.

[2020-04-30 14:23] VikasPullagura-MSFT commented on #53715
@matiasma
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-30 14:23] tfitzmac commented on #53452
#please-close

[2020-04-30 14:23] #53452 closed

[2020-04-30 14:24] VikasPullagura-MSFT commented on #53715
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-04-30 14:25] andresbarcenas commented on #53661
thank you @grace

[2020-04-30 14:29] VikasPullagura-MSFT commented on #53527
@bendubuisson Any update on the issue?

[2020-04-30 14:29] StefanSchoof opened #53721 "Configure partition refreshes and merges unclear"
In step 7. the documentation says:

I have trouble to find the place where the refresh interval can be configured.

Also the "you need to write some code" is to little information. Where should the code placed? This step lets me a little bit confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5722a50d-41d8-65d2-af

[2020-04-30 14:29] nitbhatt opened #53722 "Correction for the configuration server template config"
Under &gt;https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial#download-the-vm-template
&gt; Point#4, it downloads OVA template (MicrosoftAzureSiteRecoveryConfigurationServer.ova), not OVF Template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade7041d-9bfd-2f20-c6fc-b9f50eb9d307
* Version Indep

[2020-04-30 14:35] VikasPullagura-MSFT commented on #53475
@sandip22490 I checked with internal team on this. Got information that WVD team is working on document for business continuity and disaster recovery best practices for WVD. The document will be published soon (tentative timelines are 3 weeks from now).

[2020-04-30 14:37] Mexicoder opened #53723 "Where are the samples"
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers#example-log-queries
i am trying to find these samples and i can not find them in the querying page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78f-0f1a-20d1-54d8-f30084328bb0
*

[2020-04-30 14:39] sgdesmet commented on #52535
@amanmcse ok, thank you for this clarification!

[2020-04-30 14:39] #52535 closed

[2020-04-30 14:42] malopMSFT commented on #53663
Please assign to @allegradomel

[2020-04-30 14:44] JustinGrote opened #53724 "Include Information on Filtering Host-Side Logs"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#log-configuration-in-hostjson

This should include information on using environment variables to filter host-side logs when using a language that requires a worker. See this for details:
https://github.com/Azure/azure-functions-core-tools/issues/1440#issuecomment-621568760

This is specifically useful in working w

[2020-04-30 14:44] VikasPullagura-MSFT commented on #53663
@allegradomel Can you please check this issue.

[2020-04-30 14:50] Mexicoder opened #53725 "steps are too ambiguous"
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics#upgrade-per-cluster-using-azure-cli
the steps here aren't clear to non aks experts as to where to get these values from the ask show command
&lt;clientIdOfSPN&gt; &lt;clusterResourceId&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-04-30 14:50] PramodValavala-MSFT commented on #53724
@JustinGrote Thanks for the feedback! We will review and update accordingly.

[2020-04-30 14:54] VikasPullagura-MSFT commented on #53701
@NeilPetersen
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 14:56] VikasPullagura-MSFT commented on #53697
@torbenboeck
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 14:57] VikasPullagura-MSFT commented on #53696
@metoule
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-04-30 15:00] Tovli opened #53726 "error when trying the python example"
Hi,
When running the python example in a function I get the following response:
{'error': {'code': 'UnsupportedApiVersion', 'message': "The HTTP resource that matches the request URI 'http://localhost:8081/msi/token?resource=https://management.azure.com&api-version=2019-08-01' does not support the API version '2019-08-01'.", 'innerError': None}}

Moving the the "old" (2017-09-01) api-version solve

[2020-04-30 15:02] SadiqhAhmed-MSFT commented on #53691
@ramadarla  All data that was transferred into the vault before the VM was deleted remains in the vault. Reference link - https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#if-i-cancel-a-backup-job-after-it-starts-is-the-transferred-backup-data-deleted

We will proceed to close this issue for now. Feel free to get back to us by tagging me in your reply and will continue the disc

[2020-04-30 15:02] #53691 closed

[2020-04-30 15:02] BrianLevenson commented on #46813
Daniel is doing an overhaul of the payouts articles with Dana and the PMs. I think this will be more clear, and I'll ping him to make sure he sees this feedback.

Thanks, Ryan!

#please-close

[2020-04-30 15:02] #46813 closed

[2020-04-30 15:03] BrianLevenson commented on #48612
I believe Olga is working on an update for the SaaS articles. I'll make sure she sees this feedback.

Thanks, Jont!

#please-close

[2020-04-30 15:03] #48612 closed

[2020-04-30 15:03] gmantri-ais opened #53727 "Can I use Azure SignalR Service with a NodeJS Web Application hosted in Azure WebApp?"
Is it possible to use Azure SignalR Service with a NodeJS Web Application hosted in Azure WebApps? All the documentation/samples I have seen make use of either ASP.Net Core or classic ASP.Net?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5132b1-2ef2-0732-feb0-608c3c1042ec
* Version Independent ID: 811f5f3f-5621-f02

[2020-04-30 15:06] wawrzek opened #53728 "VM creation in another region"
This document reads:

However, if I try to create a VM in, let's say East US from an image in East US2 I get an error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Version Independent ID: 3584b4b8-c5f5-2170-3f8a-7a9a33025a84
* Content: [Create Linux Azure VM Images with

[2020-04-30 15:19] femsulu commented on #52975
HI @dgancho , we hope the investigation update above was helpful.  Please don't hesitate to respond if you have any follow up questions.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-30 15:19] #52975 closed

[2020-04-30 15:19] pmozbert commented on #53644
the link is also dead for Microsoft.EventHub/namespaces/eventhubs/authorizationRules

[2020-04-30 15:22] Anuja-Puranik opened #53729 "FeedBack"
Great Explanation!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Quickstart: Create a Node.js web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodej

[2020-04-30 15:27] nfpiche commented on #53244
@SaurabhSharma-MSFT Just so I could get rid of the file if it wasn't needed after verification.  Happy to keep it up for as long as needed if required for app verification.

[2020-04-30 15:36] XeorgeXeorge opened #53730 "typo"
"makes SQLite one the most"
(second line)
"it should be one of the most"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb64db4-07d6-1a8e-466e-a27ea372658e
* Version Independent ID: f8440d66-e6c5-fb80-8dca-e913ee5336cf
* Content: [Tutorial: How to migrate your SQLite database to Azure SQL Database Serverless - Azure S

[2020-04-30 15:38] durrante commented on #46337
Is there any update on this? Intune should natively support this.

[2020-04-30 15:39] AjayKumar-MSFT commented on #53726
@Tovli, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-30 15:40] AjayKumar-MSFT commented on #53717
@mocleiri, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-30 15:42] femsulu commented on #52852
@lshade  - apologies for the delay.  If the User ID related dataset resides in its own table then i believe it's possible. Here are the [supported Post Purge request body ](https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces%202015-03-20/purge#request-body)types.

![image](https://user-images.githubusercontent.com/34327711/80729277-dfb6b800-8abc-11ea-9f69-c41130179644.png)

We will n

[2020-04-30 15:42] #52852 closed

[2020-04-30 15:42] AjayKumar-MSFT commented on #53729
@Anuja-Puranik, Thanks for taking time to share your great feedback (@cephalin). Much appreciate the response. Thanks to @cephalin.

[2020-04-30 15:42] #53729 closed

[2020-04-30 15:44] AjayKumar-MSFT commented on #53727
@gmantri-ais, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-30 15:45] mqunbar opened #53731 "Budget alerts with common alert schema"
I am trying to send budget alerts as a webhook to a logic app I have configured that accepts http requests expecting the common alerts schema. It works for other alert types. Do budget alerts support common alerts schema yet? if not, how can I configure a logic app to accept the alert sent from budgets? I'm using the logic app to post in a slack channel

---
#### Document Details

⚠ *Do not edit t

[2020-04-30 15:46] RohitMungi-MSFT commented on #53588
@PeterCLu @aashishb Could you please help to correct the document with the current format?

[2020-04-30 15:46] femsulu commented on #52844
@aelmanaa, @joerianto83  we hope the update above was useful. Please don't hesitate to ping if you have any additional follow-up questions.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-30 15:46] #52844 closed

[2020-04-30 15:48] JasonRBeer commented on #46337
I created PowerShell scripts that I have pushed through Intune. They are applied to a large number of users and I haven’t experienced any problems. I’ll try to do a write up on it and share it here.

[2020-04-30 15:48] kraigb commented on #51639
@yejiyang @cephalin I saw a similar issue with a Python app (https://github.com/MicrosoftDocs/azure-dev-docs/issues/124). Try this: in App Service, go to Settings > Configuration (or in VS Code right click the "Application Settings" node in the Azure App Service explorer) and look for SCM_DO_BUILD_DURING_DEPLOYMENT. There should be a setting by this name with the value of true, which forces an npm

[2020-04-30 15:50] RohitMungi-MSFT commented on #53590
@PeterCLu @aashishb Since the imagename is now a hash value? Could you please update the correct command that should be used?

[2020-04-30 15:52] NileshGhodekar opened #53732 "Azure AD Connectivity Requirements for AADC"
Microsoft is recommending that AADC server be treated as Tier 0 server and yet this article links to [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges) which are end user (Tier 2) requirements for connectivity to the whole of Office 365 functionality. It also refers to [Azure data center IP ranges](https://www.microsoft.com/en-

[2020-04-30 15:53] durrante commented on #46337
Thanks Jason, that would help the community.

[2020-04-30 15:54] femsulu commented on #53148
@Rajani-Janaki-Ram  - kindly confirm if external/public LBs are supported and should be updated in the content.

[2020-04-30 15:54] lokijota opened #53733 "Incorrect page title / content"
The title of this page is "Receive and send B2B messages by using Azure Logic Apps and Enterprise Integration Pack", but to be correct it should be named: "Receive and confirm B2B AS2 messages by using Azure Logic Apps and Enterprise Integration Pack", because:

- it doesn't send messages, just receipt confirmations
- It should have AS2 in the title, because that's what it is. It's not RosettaNet

[2020-04-30 16:03] DixitArora-MSFT commented on #53733
Hi @lokijota Thanks for your feedback. We will review and update as appropriate.

[2020-04-30 16:05] djpmsft commented on #52917
Say you are unrolling by `task_type_tag` and you have 4 rows of data. For simplicity, lets say it is an array of ints (the behavior would be the same if complex or string):

1. task_type_tag: [1, 2]
2. task_type_tag: null
3. task_type_tag: []

If there is no unroll by root or the unroll by root is higher, then the expected output is 4 rows: task_type: 1
task_type: 2
task_type: null
task_type: null

[2020-04-30 16:11] Tbohunek commented on #44425
We have a CA-signed cert with multiple alternate names. Root cert is trusted and Backend health is properly healthy.
But if we perform the built-in Test on the Health probe blade, we always receive `The Common Name (CN) of the backend certificate does not match the host header entered in the health probe configuration` regardless of what is the hostname in the probe.

Is this result of the same un

[2020-04-30 16:11] femsulu commented on #53276
Hi @bwren - any input on this doc0enhancement request?

[2020-04-30 16:13] dnapoleon commented on #45817
alllohaaa - this is the correct answer here.

[2020-04-30 16:14] DanielJanik opened #53734 "Text error"
"Premium file shares provide IOPS and throughout capacities that will meet the needs of many workloads."
Should read "Premium file shares provide IOPS and throughput capacities that will meet the needs of many workloads."  throughout should read throughput.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45511218-137b-b

[2020-04-30 16:18] vikash476 commented on #49484
Hi @mamccrea,

I am attaching the new script that worked for Databricks Migration in Python 3.6

[Azure Databricks Migration3.txt](https://github.com/MicrosoftDocs/azure-docs/files/4559608/Azure.Databricks.Migration3.txt)
[Azure Databricks Migration2.txt](https://github.com/MicrosoftDocs/azure-docs/files/4559612/Azure.Databricks.Migration2.txt)
[Azure Databricks Migration1.txt](https://github.com/

[2020-04-30 16:18] MashaMSFT commented on #53734
Hi @DanielJanik, thanks for bringing this to our attention and catching this typo! You are correct, it should be throughput. Did you want to change this yourself? Doing so not only improves the quality of our content, but also adds you as a contributor to the documentation.

If you're interested, here are the steps:
1. Navigate to the page of interest
2. Select the "Edit" button at the top right o

[2020-04-30 16:19] RyanHill-MSFT commented on #53472
Hi @cubika, Key Vault is ran on the Azure Platform, that's why you're not able to pull the reference. For local development, use development secrets. Refer to https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=windows for more information on how to implement it in your project.

Hope this helps.

[2020-04-30 16:20] dcurwin commented on #52388
The workaround is to use the earlier version.

#please-close

[2020-04-30 16:20] b0cephus opened #53735 "Windows Virtual Desktop Pools not showing under new Azure WVD management UI"
https://portal.azure.com/#blade/Microsoft_Azure_WVD/WvdManagerMenuBlade/hostpools is the new Azure UI that went live on 4/30/2020 - previously an app service was the method to manage and create host pools. Is there a migration or method to get predeployed WVD host pools to appear in the Azure WVDManager?

[2020-04-30 16:21] nmakarov-artis opened #53736 "Multi-model endpoint - Limit"
I have successfully deployed up to 250 models using the same endpoint, but anything more that 250 makes the deployment script time out. Is there a way to deploy more that 250 models per endpoint? You might also consider adding these limits to the documentation, as I only discovered it through trial and error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-30 16:22] DanielJanik commented on #53734
Sure. I'll try to edit. Thanks!

[2020-04-30 16:23] RyanHill-MSFT commented on #53709
Thanks for pointing this out @SourceStudio! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-30 16:25] btardif commented on #53676
cc: @panchagnula as FYI.

This is a known regression being tracked here: https://github.com/Azure/azure-cli/issues/13257

Workaround for now is to include the `-L` parameter to explicitly set the location.

I will add a note to the doc to call this out.

[2020-04-30 16:26] NavtejSaini-MSFT commented on #53730
@XeorgeXeorge We are checking this and will get back to you.

[2020-04-30 16:29] sebansal commented on #33618
The doc is updated.

[2020-04-30 16:29] sebansal commented on #33618
#please-close

[2020-04-30 16:29] #33618 closed

[2020-04-30 16:30] PramodValavala-MSFT commented on #53552
@grayjeremy Just following up here... Hope my previous comment clears things up.

[2020-04-30 16:30] mmacy commented on #53484
Thanks for the update @ljunquera, will close this one out. You might also check out the following tutorial, a follow-up to this article that walks you through building the application demoed in this quickstart:

[Tutorial: Sign in users and call the Microsoft Graph from an Android application](https://docs.microsoft.com/azure/active-directory/develop/tutorial-v2-android)

Quick question regarding

[2020-04-30 16:30] #53484 closed

[2020-04-30 16:31] DanielJanik commented on #53734
Looks like it's ready to merge. Thanks for the instructions. They were easy to follow.

[2020-04-30 16:31] #53734 closed

[2020-04-30 16:33] PramodValavala-MSFT commented on #53662
@appi101 Similar to the other bindings, to output multiple objects from bindings, you will have to return an array. The code that you've shared simply overwrites the value as a whole.

While there seems to be no examples for CosmosDB, you could refer to the [python sample for queue storage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=python)

[2020-04-30 16:34] mattchenderson commented on #53709
I believe you're speaking to [Azure SDK behavior](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity#environment-variables) with that environment variable. This is true of managed identity for user-code token retrieval when using those specific SDKs.

However, this article, and the context of the quoted statement, are for a platform feature which does not define thi

[2020-04-30 16:37] appi101 commented on #53662
I did not file this. Please check

[2020-04-30 16:40] VikasPullagura-MSFT commented on #53368
@msftpetergu Got to hear from Internal team that the doc was updated because the product GA’d and the module is no longer considered pre-release. Can you please update to the most recent version of PowerShell and the Az module and try once.

[2020-04-30 16:43] BrianLevenson commented on #50965
We're transitioning VM offer publishing from Cloud Partner Portal to Partner Center, and the new article can be found here: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/azure-vm-create-offer

Please let us know if you find the new article better or if there are still opportunities to clarify.

In the meantime, #please-close

[2020-04-30 16:43] #50965 closed

[2020-04-30 16:43] BrianLevenson commented on #50965
#please-close

[2020-04-30 16:44] evertonmc opened #53738 "Azure AD Group objectId as upn instead of name"
Regarding [Creating Azure AD groups in Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-sign-in-aad-authentication#creating-azure-ad-groups-in-azure-database-for-postgresql)

https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/postgresql/howto-configure-sign-in-aad-authentication.md#L163

`CREATE ROLE "Prod DB Readonly" WITH LOGIN IN RO

[2020-04-30 16:45] femsulu commented on #53420
@EricBergDE  - very good question but we will have to redirect this to the appropriate billing support channel. Please send mail to AzCommunity@Microsoft.com, include your subscription ID and a link to this thread for context and we will gladly assist you with connecting to the appropriate team to help you with this question.

We will now close this issue here since this is not directly related to

[2020-04-30 16:45] #53420 closed

[2020-04-30 16:48] MashaMSFT commented on #53734
thank you so much @DanielJanik !! I signed off on the change so it should be live in the next few days :)

[2020-04-30 16:49] SwathiDhanwada-MSFT commented on #52802
@parsnep AES256  encryption is  used to encrypt the data at rest. For more information about how data is protected at rest across Microsoft Azure is documented [here](https://docs.microsoft.com/en-in/azure/security/fundamentals/encryption-atrest#azure-encryption-at-rest-components).

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-04-30 16:49] #52802 closed

[2020-04-30 16:51] tjoyce-admin opened #53739 "Event expiration"
I have set this up like the documentation but I am not receiving events for expiry. I get events for creation and deletion but no expiry events. Is this part working yet or is there something extra that needs to be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 632e6b6a-f7ec-ebd2-2014-4f9160906b11
* Version Indep

[2020-04-30 16:53] PramodValavala-MSFT commented on #53662
Sorry about that... Didn't realize I got the wrong handle

[2020-04-30 16:56] ToddPowers commented on #38811
I'm sorry to comment on a closed issue, but I came here to report something very similar and I believe further clarification of the original submission is needed.

I am also hesitant to use your cloud backup because the documentation doesn't provide enough information for me to know whether Microsoft itself could decrypt my backup.

For example, when I synchronize Chrome with my Google Account, th

[2020-04-30 16:59] mrbullwinkle commented on #53685
On the API key side that release annotations use it does have rate limits which we describe here: https://dev.applicationinsights.io/documentation/Authorization/Rate-limits. I can add that info to the doc, but if you were hitting an API key rate limit we would expect to see a status code of 429.

I will ping the API team to see if they have any recommendations on tracking down the cause of the int

[2020-04-30 17:01] SourceStudio commented on #53709
Ah, I may have been bounced here from the Azure App Configuration documentation. I was essentially trying to configure a legacy .NET Framework project to dereference an Azure Key Vault variable using a User-Assigned Managed Identity. The documentation I think I should have commented on is [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-id

[2020-04-30 17:01] btardif commented on #53676
@SnehaAgrawal-MSFT you can assign this to me for now.

[2020-04-30 17:05] tehho opened #53740 "How do you setup a user assigned managed identity on aks"
There seems to be no support in either az cli, terraform or the portal.
Please document how you setup the aks with a user managed identity.

Also would be nice in terraform if you had a azure_managed_identity_connection object that takes in a managed identity id and a resource id and connects the identity to the resource.
Only relevent resources such as vm, aks or data lake, not key vault ofcourse

[2020-04-30 17:08] himanshusinha-msft commented on #53714
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-04-30 17:09] wmpauli opened #53741 "requirements out of date?"
I just ran test for using this feature, using the following test sentence: "Das Wort &lt;mstrans:dictionary translation=\"wordomatic\"&gt;word or phrase&lt;/mstrans:dictionary&gt; ist aus dem Duden."

This works fine, e.g. when translating into French with and without specifying the source language (with "from").

Therefore I believe the following above-stated requirements are both out of date:
-

[2020-04-30 17:10] sanpil commented on #53371
@lucazav this is supposed to be companion document/commentary on a number of sample notebooks that we provide in github. Please let us know what did not work for you, and how we can improve this.

[2020-04-30 17:15] DanielJanik commented on #53734
Happy to help

[2020-04-30 17:17] gbaeke opened #53742 "KeyVault Flexvol is deprecated"
According to https://github.com/Azure/kubernetes-keyvault-flexvol KeyVault Flexvol is deprecated and replaced with https://github.com/Azure/secrets-store-csi-driver-provider-azure. Probably Flexvol is in other doc pages as well.

[2020-04-30 17:19] dcurwin commented on #53519
Thank you for your suggestion. The document has been updated.

#please-close

[2020-04-30 17:19] #53519 closed

[2020-04-30 17:23] femsulu commented on #53524
Assigning to content owner: @Jain-Garima for further review

[2020-04-30 17:24] aleazofeifam opened #53743 "Visibility of the contact fields"
Can you please provide a list of places where the fields "Technical contact." and "Global privacy contact." will be displayed?
I know it will be visible when doing SSPR but that is not included here. I would like to have the entire list of places where end users can see those 2 fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-04-30 17:26] SaurabhSharma-MSFT commented on #53743
@aleazofeifam Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-30 17:27] SaurabhSharma-MSFT commented on #53739
@tjoyce-admin Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-30 17:28] aleazofeifam opened #53744 "Logging details"
After making a change of the value Global privacy contact I was expecting to see such action  being saved in the Azure AD audit logs (https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Audit). However, after waiting more than 30 minutes I still don't see any log for that update.

Can you please confirm why that action is not being recorded in the audit logs or where can I s

[2020-04-30 17:29] SaurabhSharma-MSFT commented on #53732
@billmath Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-30 17:30] SaurabhSharma-MSFT commented on #53710
@Arcass Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-30 17:31] SaurabhSharma-MSFT commented on #53695
@ManuelHaas Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-30 17:34] ToddPowers opened #53745 "Missing support for TOTP based TFA"
When I initially became aware of Microsoft Authenticator, I was interested in the idea of an Authenticator App that was developed and maintained by a reliable, stable software development company. The current Authenticator App that I use, is developed by an individual and I often worry about the longevity and code security of the app.

However, there is one major thing that is keeping me from swit

[2020-04-30 17:35] NillsF opened #53746 "KeyVault flexvol is now deprecated"
This page still refers to KeyVault flexvol, which has recently been deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1d6d66-150a-fb76-8fca-ef36487acbb7
* Version Independent ID: aa5453d8-6fdd-fbb2-446f-ea63e7ee0955
* Content: [Pod security best practices - Azure Kubernetes Service](https://docs.microsoft.co

[2020-04-30 17:36] ezYakaEagle442 commented on #53719
the links on the pages contains v3.9 reference, even if you are lucky that Calico redirects to the latest relase, such static release number should not be hardcoded
[https://docs.projectcalico.org/v3.9/reference/calicoctl/](https://docs.projectcalico.org/v3.9/reference/calicoctl/)

[https://docs.projectcalico.org/v3.9/maintenance/component-logs](https://docs.projectcalico.org/v3.9/maintenance/comp

[2020-04-30 17:42] eustacea commented on #53040
Hello Chris,
The recommended flow is to leverage DPS as described in earlier response.  In your case I suggest chaining each of the manufacturer to separate intermediate certificates and registering these intermediate certificate to DPS.  This approach takes advantage of the DPS group enrollment capabilities whereby DPS ensures the devices are uniquely identified.
Regards,
Eustace

[2020-04-30 17:49] vhorne commented on #53405
@mauleb
Yes. The article has been updated to state: **Azure CDN Standard from Microsoft**
#please-close

[2020-04-30 17:49] #53405 closed

[2020-04-30 17:50] AndresDevelop commented on #53197
@AshokPeddakotla-MSFT it works perfectly. Thank you very very much.

[2020-04-30 17:50] SaurabhSharma-MSFT commented on #53720
@sudolibre Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-30 17:53] nhadro opened #53747 "Public Preview?"
This feature has been in Public Preview for a long time.  Does anyone know when this will be out of Public Preview?  Can this confidently be put into a production app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21f5240-6fe2-41ec-293a-2e3b33522706
* Version Independent ID: 095c2d6b-8691-74b6-99d5-db0ee1017194
* Con

[2020-04-30 17:56] SaurabhSharma-MSFT commented on #53244
@nfpiche I am checking on this internally and let you know on my findings.

[2020-04-30 17:58] e-saiz commented on #52973
Hello

Maybe refer to this doc and create one where we can have all private API + SLB
https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype

[2020-04-30 18:01] SaurabhSharma-MSFT commented on #53016
@gregdru We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-30 18:01] #53016 closed

[2020-04-30 18:07] taysco commented on #51296
It does appear to still be bugged. Maybe they just fixed it specifically for @MattHartz instance.

[2020-04-30 18:09] MattHartz commented on #51296
@taysco My particular issue was that my POST was chunked. I haven't tried it recently to make sure it is still working. Are you doing something different?

[2020-04-30 18:09] rwike77 commented on #53621
@ninaada  Thanks, just added it to the list.  Updates should publish later today.  #please-close

[2020-04-30 18:09] #53621 closed

[2020-04-30 18:10] rwike77 commented on #53372
@lendy007 Thanks, just added it to the list.  Updates should publish later today. #please-close

[2020-04-30 18:10] #53372 closed

[2020-04-30 18:11] rwike77 commented on #52572
@aelij Thanks, just added it to the list.  Updates should publish later today. #please-close

[2020-04-30 18:11] #52572 closed

[2020-04-30 18:12] nboeckmann commented on #53469
same issue here.

[2020-04-30 18:12] sebansal commented on #29871
Doc updated.

[2020-04-30 18:12] sebansal commented on #29871
#please-close

[2020-04-30 18:12] #29871 closed

[2020-04-30 18:12] henriquebelotto opened #53748 "Release for Production"
Hello,

I saw that this feature is in Preview (https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-developer-notes)
Is there an expected timeline to release this feature for Production?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d2160b3-a0e0-53f9-4d43-d02f42a6aada
* Version Indepen

[2020-04-30 18:15] birdnathan opened #53749 "Staging Script simply doesnt work"
Can you post the correct code for the Staging Script here please. Other's have complained about the same issue and they've been closed with no updates or clear fix.....its not working on build 19041.

PS C:\Windows\system32&gt; $asTask = ([System.WindowsRuntimeSystemExtensions].GetMethods() | Where {
$_.ToString() -eq 'System.Threading.Tasks.Task1[TResult]AsTask[TResult,TProgress](Windows.Foundati

[2020-04-30 18:19] DTronD commented on #53630
Thanks, @cephalin.  Looking now on the Platform Features for the Function does show Custom Domains.  But, I still think the doc should be modified as it specifically directs users to the left navigation....which does NOT contain the Custom Domains menu item so described for Web Apps.  A line or two that mentions the different location for Function Apps versus Web Apps would be very helpful to more

[2020-04-30 18:19] Karishma-Tiwari-MSFT commented on #53282
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-30 18:20] #53282 closed

[2020-04-30 18:21] XiaoyuMSFT commented on #53684
@VikasPullagura-MSFT - This is in DW security area.  Please check with Nandita Valsan <nanditav@microsoft.com>.

[2020-04-30 18:23] davidsmatlak commented on #53722
#assign:davidsmatlak

[2020-04-30 18:23] banisadr commented on #51296
@taysco and @lucarv can you please open a support ticket? We need to collect some details on your subscription ID and timing so that we can look into the logs and figure out what's going on - the easiest way to do that is via a support ticket.

[2020-04-30 18:24] NephorLabs opened #53750 "Analyzing tables"
We are trying to analyze a document (an invoice) which has nested tables. We are picking some values from the main table e.g. bill date, bill number etc. There is a sub table with multiple records (rows). From what we understand in the documentation - we need to tag each cell in each row as "item# 1", "item# 2" etc...

The analyzer works fine and we are able to get the results in JSON - however we

[2020-04-30 18:30] Jain-Garima commented on #53524
Azure Lighthouse is FedRAMP High in the Azure Government Cloud.  For commercial, the review is still in progress. Hence the two sets of data for the two clouds.

[2020-04-30 18:31] Relent97 commented on #53676
Hi btardif, thanks for the workaround. Please can you type how the syntax will look like?

"az webapp up -L" Then what

[2020-04-30 18:33] tjlagrimas opened #53751 "Wildcard filename not applied in Lookup Activity"
When using a lookup activity to read a json source dataset file, the "Wildcard file name" configuration is not being applied. Instead, any file within the Container and Directory is being picked up. For my JSON typed "Source dataset", I have the "File path" "Container" and "Directory" set to a string value and "File path" "File" is null. I would expect similar functionality for "File path type" &g

[2020-04-30 18:39] tjlagrimas commented on #53751
"Wildcard file name" Sometext_??????????????.json

This appears to work as expected for Copy and Delete activity source settings, but not for Lookup source activities

[2020-04-30 18:45] oising commented on #52714
I agree with @jwisener -- demonstrating TZ conversions like this is demonstrating shocking disregard for systems design and setting a bad example for readers. One cannot simply substract or add fixed values to get local time from UTC timestamps. Daylight savings adjustments must be accommodated, and these offsets change _every_ year. Historical conversion requires knowledge of current and past int

[2020-04-30 18:47] GiftA-MSFT commented on #53750
@NephorLabs we will review your feedback and get back to you shortly. Thanks.

[2020-04-30 18:48] GiftA-MSFT commented on #53741
@wmpauli we will review your feedback and get back to you shortly. Thanks.

[2020-04-30 18:48] Karishma-Tiwari-MSFT commented on #53740
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-30 18:49] mike-urnun-msft commented on #53596
@sai-manoj-kumar Sure thing! I've created a PR that turns the word variable in the sentence below to link to the documentation I referenced above. This change should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-30 18:49] #53596 closed

[2020-04-30 18:50] Karishma-Tiwari-MSFT commented on #53746
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-30 18:52] mrbullwinkle commented on #53369
@deyanp if you create the test via the portal UI you are able to scope the view to the individual test. Tests created via `TrackAvailability()` do not currently allow this functionality and thus all test results are displayed under overall. So what you are seeing is currently expected behavior.

@zakimaksyutov would be able to comment on if there are any plans to change this behavior in the future

[2020-04-30 18:53] GiftA-MSFT commented on #53736
@nmakarov-artis we will review your feedback and get back to you shortly. Thanks.

[2020-04-30 18:53] msftpetergu commented on #53368
The feature was in preview, so you need to install the module this way:
Install-Module -Name Az.Maintenance **-AllowPrerelease**

After GA, you don't need the parameter "-AllowPrerelease" anymore, but you still need to install the module by "Install-Module -Name Az.Maintenance". Otherwise you won't have the following cmdlets in your PowerShell environment:
- Get-AzApplyUpdate
- Get-AzConfiguration

[2020-04-30 18:56] merric-rocketpartners commented on #38603
saw it today too.

[2020-04-30 18:58] CeciAc opened #53754 "Virtual network peering"
@taguada commented on [Thu Apr 30 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/597)

I had an issue for this scenario, it is a good a idea to update this documentation about virtual network Unsupported networking scenarios. Actually you cannot have a Global virtual network peering (Connecting virtual networks across Azure regions) when using ACI subnet delegated, it works only fo

[2020-04-30 18:58] dpolivy opened #53755 "This content seems out of date based on the latest SDK"
The latest SDK (https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-arm-cdn/4.2.0/index.html) has some differences in implementation for the samples that are shown. For one example, the `purgeContent` endpoint parameters are in a different order in the current SDK than they are in the documentation. I think this help topic needs to be updated based on the latest versions.

---
#### Do

[2020-04-30 19:00] AmitavaHazra commented on #53561
@amanmcse, Really appreciate you for your time and explanation. We can close this case.

[2020-04-30 19:08] tfitzmac commented on #53644
@pmozbert - thanks for this feedback. It seems like the reference docs for some of the Event Hub operations have been removed. I am trying to find out why they were removed.

[2020-04-30 19:14] cynthn commented on #53368
@msftpetergu Ah, yep. The prerelease stuff was supposed to be removed, but the entire section on installing the module was removed instead of edited. I've added back in the information in a pull request that should go live later today. Thanks for catching that!

[2020-04-30 19:15] sandervandevelde opened #53757 "Desired property for provisioning request"
The link regarding the provisioning request property refers to generic information about desired properties.

What is the actual desired property name and value for provisioning request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14633ea5-86c5-dd10-de3f-bb3b22aff9c9
* Version Independent ID: a53a8ce2-0eca-86a1-083f

[2020-04-30 19:16] dobrinangelov commented on #53643
FYI:  I have reopened the issue  https://github.com/MicrosoftDocs/azure-docs/issues/53643

From: Karishma Tiwari - MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Wednesday, April 29, 2020 at 4:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: "dobrin.angelov@gmail.com" <dobrin.angelov@gmail.com>, State change <state_change@nor

[2020-04-30 19:17] ecfan commented on #53596
@mike-urnun-msft, thanks!

[2020-04-30 19:18] tfitzmac commented on #53631
The update should get published this afternoon.
#please-close

[2020-04-30 19:18] #53631 closed

[2020-04-30 19:20] Rick-Anderson opened #53758 "your app in the wild,"
What does "your app in the wild, " mean? How does that MT (Machine translate).

The sentences are too long and difficult to read for a native speaker. This make it impossible for a good MT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c514e29a-a95d-8a7f-346e-c95b540f76d4
* Version Independent ID: c54695ae-ff4c-66d1-8

[2020-04-30 19:20] davidsmatlak commented on #53722
I submitted the fix for this issue and when it merges, this issue will automatically close. The updated document will be online within 24 hours.

[2020-04-30 19:24] jahan2001 opened #53759 "راهنمای صدور اسناد"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-30 19:26] #53722 closed

[2020-04-30 19:29] xyz92 commented on #53374
@balukantu Could you please let me know how you collected performance metrics?

[2020-04-30 19:33] tfitzmac commented on #52994
@zqyAmy - thanks for this feedback. I have added locations to the article. It should get published this afternoon.

[2020-04-30 19:37] MarileeTurscak-MSFT commented on #53656
Correction: we were able to reproduce, and it works only by adding "set"

I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/113402

[2020-04-30 19:37] MarileeTurscak-MSFT commented on #53656
Closing this out. Thanks for catching this, @sghaugen!

[2020-04-30 19:40] MonikaReddy-MSFT commented on #53758
@Rick-Anderson , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-30 19:41] tfitzmac commented on #52994
#please-close

[2020-04-30 19:41] #52994 closed

[2020-04-30 19:47] mrbullwinkle commented on #53758
@Rick-Anderson completely agree that idiomatic expressions should be avoided in the docs whenever possible. This doc is also due for a complete rewrite as the steps have changed slightly with the latest version of Visual Studio. Thanks for bringing this to our attention!

[2020-04-30 19:47] xyz92 opened #53761 "Issue with selecting the right partition key"
I'm using Azure Data Factory for copying required data from data lake to cosmos db.

On copying a sample size of 100, I see the run completed in ~5 min.
On copying a sample size of 1 million, I see the run completed in ~1 hour.

The throughput I set for cosmos db container is ~2000 RU/s. I'm using only 1 container.

Based on this documentation: https://docs.microsoft.com/en-us/azure/cosmos-db/part

[2020-04-30 19:51] kevinhartman opened #53763 "Not clear if failed orchestration due to upgrade gets automatic re-run"
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versioning#do-nothing

The documentation should mention explicitly if an orchestration instance that fails due to an upgrade will be automatically re-run "as new" with the new orchestration / function code.

It's also not clear if incorrect execution can result in an upgrade scenario. Is this possible, or will the orc

[2020-04-30 19:51] Mike-Ubezzi-MSFT commented on #53694
@rockboyfor Thank you for bringing this to our attention. Are you asking for the select statement in the document to be reviewed or are you looking for support assistance?

What is missing from the documentation is an example document from which the queries are being executed against. Can you provide an example of your document that you are running your query against.

[2020-04-30 19:52] JQUINONES82 commented on #38914
@Ogglas This should definitely be re-opened.  They should be listing ips or tagging the service to bypass the Azure Keyvault Firewall.  They do it for other services, why not azure devops?

[2020-04-30 19:54] Adikota opened #53765 "Logic App API Connections - On Prem Datagateway Data Sources"
Hi there, i want to affectively use the On-prem data gateway for Logic Apps. I want to repurpose my powerbI gateway and does creating a data source identical to Logic App API connection, makes use of the Data Source on the Data gateway. I am trying to store credentials at one data gatway and reference that data source as an API connection. I know i can do this CI/CD but want to do this affectively

[2020-04-30 19:56] grayjeremy commented on #53552
If those three things are all valid, lets add them to the documentation, along with a clarification on the necessary authentication token for the management api.

[2020-04-30 19:57] Shorinsean opened #53766 "Minor typos"
There are a couple of instances where 'Azure' of AAD was omitted, many cause confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2155a4-d8b2-a542-1aba-387183c3f2e3
* Version Independent ID: 11565414-4093-d4cf-2665-1343b45a732a
* Content: [Azure Monitor workbooks for reports](https://docs.microsoft.com/en-us/azu

[2020-04-30 19:57] Mike-Ubezzi-MSFT commented on #53721
@StefanSchoof Thank you for bringing this to our attention. I have assigned this to the content team to evaluate and update as appropriate.

[2020-04-30 19:59] YutongTie-MSFT commented on #53759
@jahan2001
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provide

[2020-04-30 20:02] Mike-Ubezzi-MSFT commented on #53721
@bharathsreenivas & @SnehaGunda for awareness.

[2020-04-30 20:03] BharathNimmala-MSFT commented on #53723
@Mexicoder Thank you for bringing this to our notice, we will look into and get back to you at the earliest.

[2020-04-30 20:06] MarileeTurscak-MSFT commented on #53656
Re-opening after a correction from @amitbapat -

Whether ‘set tenantID=…’ works or not is dependent on the OS and the Shell you’re using.
The original text was written with assumption that script is running in BASH (on Linux). There ‘set’ is a completely different command the new version will not work on Linux in Bash.

Apologies for the mistake before! I was testing in Azure Cloud Shell in the po

[2020-04-30 20:06] #53656 closed

[2020-04-30 20:06] julieMSFT commented on #35212
#reassign:julieMSFT

[2020-04-30 20:09] dennis-yemelyanov opened #53768 "Opencensus Python SDK support"
Is this cross-resource correlation supported when using Opencensus Python SDK on the client? I have a Python client calling a .NET Core server (using a different Application Insights resource), and the client Application Insights view doesn't include the server Application Insights data.

It looks like for this feature to work, the client library has to parse the "Request-Context: appId=cid-v1:...

[2020-04-30 20:14] mrbullwinkle commented on #53768
adding @lzchen

[2020-04-30 20:14] mrbullwinkle commented on #53564
adding @markwolff to confirm

[2020-04-30 20:17] Rick-Anderson commented on #53758
Our data suggests less that 3% of our customers are using 2.2 (the version of this doc). Most are on 3.1.

That was removed from VS>

[2020-04-30 20:20] SaurabhSharma-MSFT commented on #53766
@Shorinsean sorry, but not able to get it.  Can you please provide an example from the doc.

[2020-04-30 20:21] SaurabhSharma-MSFT commented on #53748
@henriquebelotto Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-30 20:22] SaurabhSharma-MSFT commented on #53747
@nhadro Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-30 20:23] SaurabhSharma-MSFT commented on #53744
@MarileeTurscak-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-30 20:27] KranthiPakala-MSFT commented on #53557
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-30 20:27] #53557 closed

[2020-04-30 20:33] YutongTie-MSFT commented on #53755
@dpolivy
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-30 20:38] akbarrasool opened #53769 "Product Subscription Delegation"
Can product subscription requests by a user be delegated to an external endpoint independent of login/register delegation? in our case, the login/register function is done via a 3rd party IAM and the product subscription process is an internal business process and must remain separate. Can you please advise if there is an alternate option to handle the subscription request event with associated da

[2020-04-30 20:48] cevanno commented on #52193
Sorry for the delay as I was pulled away. I uploaded a ConversionSettings.json to recenter and shrink.  Now the bounding box looks fine for both the high poly and low poly model (seen below).  The low poly model now loads and works in the demo which is great.  The high poly model still does not show even though the status says 100% loaded like before.  Both conversions are successful so this might

[2020-04-30 20:51] mover333 opened #53770 "Heartbeat Custom Metric Name is Incorrect"
The custom metric for heartbeat is "HeartbeatState", not "HeartBeatState" as the article shows. And the log queries are case sensitive, so using a where clause with "HeartBeatState" shows no results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independent ID: 0ab99d5e-4

[2020-04-30 21:06] mike-urnun-msft commented on #53711
@alexespencer Thank you for your feedback! We will review and update as appropriate.

[2020-04-30 21:07] mrbullwinkle commented on #53758
I messaged you directly with screenshots but I just tested in VS 16.5.4 and Project > Add Application Insights Telemetry still exists with a .NET Core 3.1  web application project template.

[2020-04-30 21:07] mike-urnun-msft commented on #53763
@kevinhartman Thank you for your feedback! We will review and update as appropriate.

[2020-04-30 21:07] alex-mason-by opened #53772 "Need to update for v2 endpoint?"
Does this page need to be updated for v2 endpoint and also the microsoftonline.com -&gt; b2clogin.com deprecation change?

    &lt;Item Key="METADATA"&gt;https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration&lt;/Item&gt;
    &lt;Item Key="authorization_endpoint"&gt;https://login.microsoftonline.com/{tenant}/oauth2/token&lt;/Item&gt;

---
#### Document Details

⚠ *Do not edit

[2020-04-30 21:08] mrbullwinkle commented on #53770
@mover333 thanks for catching that, updating now.

[2020-04-30 21:09] mike-urnun-msft commented on #53769
@akbarrasool Thank you for your feedback! We will review and update as appropriate.

[2020-04-30 21:15] georgewallace commented on #53552
@ggailey777 and @craigshoemaker can you take a look at this issue?

[2020-04-30 21:20] Geez3r opened #53773 "mount path description"
Would be helpful for users to know that the mount path setting corresponds to the folder you'd like to mount from Azure Storage. Setting it to '/' mounts the entire azure storage which is helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae64682-9fd6-28e0-4c60-a003cc06f92c
* Version Independent ID: fa1d2de6-c27d

[2020-04-30 21:20] YutongTie-MSFT commented on #53754
@CeciAc
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-30 21:31] mrbullwinkle commented on #53770
The update is merged internally, it will go live in the public docs between 3 PM - 4 PM UTC-7

[2020-04-30 21:33] mcalnd70 opened #53775 "URL to contoso5?"
This makes no sense
4 - In the Redirect URI section, select Web and enter the URL https://contoso5.portal.azure-api.net/signin.

What is the URL supposed to be? No detail here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab13

[2020-04-30 21:33] curtand commented on #38005
Hi @jonwbstr
Hi! I'm the writer for this content now. I added this line to the SMS sign-in article (https://docs.microsoft.com/azure/active-directory/user-help/sms-sign-in-explainer) and will add it to the Authenticator FAQ also.
"Registering a device gives your phone access to your organization's services and doesn't give your organization access to your phone."

My plan is to strategically propa

[2020-04-30 21:34] mrbullwinkle commented on #53369
Also adding @cartersocha

[2020-04-30 21:37] KranthiPakala-MSFT commented on #53751
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-04-30 21:45] hbrown664 commented on #53697
I also started getting this issue today and I can't even get into the factory using Edge, so that is not an option for me.  Will there be a fix for this soon?  Mine is an inner join.

[2020-04-30 21:54] Shorinsean commented on #53766
Sure, these two places:

Top of page
To help you to address these questions, Azure Active Directory provides workbooks for monitoring. Azure Monitor workbooks<https://docs.microsoft.com/azure/azure-monitor/app/usage-workbooks> combine text, analytics queries, metrics, and parameters into rich interactive reports.

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-use

[2020-04-30 22:04] SteveBurkettNZ commented on #53681
Yeah, but just checking if it's officially supported, and if so the [Service Tags](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-network/service-tags-overview.md) doc needs to be updated.

[2020-04-30 22:11] dontmesswithbill opened #53777 "Password manager service on CentOS"
When installing from source on CentOS 7 and running, there's an error message saying that a password manager service is required but not installed. If I don't want to use snap what can I install for this?

[2020-04-30 22:13] BharathNimmala-MSFT commented on #53712
@YassineSOUABNI Thank you for bringing this to our notice , we will be working on this and get back to you at the earliest.

[2020-04-30 22:19] RonnieQuan opened #53778 "Diagnostic Log to Log Analytics Workspace"
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics#enable-logging-through-the-azure-portal
For log analytics feature, is it limited to certain WAF sku only, or it is supported for both Standard and WAF sku?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-28

[2020-04-30 22:21] kobulloc-MSFT commented on #53770
@mover333 Thank you for bringing this to our attention!  We are going to look into this and get back to you shortly.

[2020-04-30 22:21] lzchen commented on #53768
OpenCensus Python SDK supports the [W3C Trace Context](https://www.w3.org/TR/trace-context/) protocol for correlation. To achieve cross resource correlation, the receiving application must also be supporting W3C trace context, which sends back correlation information (traceId and spanId in W3C) in the span attributes.

[2020-04-30 22:22] kobulloc-MSFT commented on #53768
@dennis-yemelyanov Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-04-30 22:28] mover333 commented on #53770
I can see the change on the live site already, so I will close this issue as it has been fixed. Thanks for the quick response!

[2020-04-30 22:28] #53770 closed

[2020-04-30 22:36] dennis-yemelyanov commented on #53768
@lzchen , yes, traceId and spanId seem to be sent correctly. I double checked, and both server and client telemetry have the same operation ID in Application Insights. And server's parentId is the same as client's dependencyId, which also looks right to me.

However, for cross-resource correlation to work, it looks like one more thing needs to be present in the telemetry, which is the ApplicationI

[2020-04-30 23:02] omerzubair commented on #42472
@asudbring can you please point me which page did that got reflected?

[2020-04-30 23:05] BryanTrach-MSFT commented on #53773
@Geez3r Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-30 23:06] wesmc7777 commented on #27534
#please-close

This particular article is written as a quickstart to quickly demonstrate a hardcoded x.509 test certificate created by `dice_device_enrollment`. The same certificate is generated every time you run this sample with this article.

The feedback that we should demonstrate custom certificate is appropriate. We won't be extending this particular topic but instead I'll be creating a new

[2020-04-30 23:06] #27534 closed

[2020-04-30 23:19] azahran007 opened #53780 "Failed after step "Publish changes to Azure""
The EF migration worked correctly to add the field "Done" to my LocalDb database, but when I published to Azure, the remote database didn't get the changes, and the web app failed. I had to modify MyDbConnection in my appsettings.json so that I can run dotnet ef database update locally and have it update the remote DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-30 23:25] djpmsft commented on #38364
Hi all,

Apologies for the delay in response. Even if password is parameterized, it will still be flagged as a secure string. While the recommended approach is to use AKV and parameterize the secret name, there is still a way to do this.

Say I have a Synapse workspace with the following config:
![image](https://user-images.githubusercontent.com/31044028/80764731-283e9780-8af6-11ea-8335-ff100d349c

[2020-04-30 23:28] shannonta1802 opened #53781 "IT_Teach"
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v4.0.30319
"SchUseStrongCrypto"=dword:00000001My Ta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b3fb25-936b-0ef1-9423-608c0a2364c5
* Version Independent ID: 42126028-d632-ed78-a8d3-c52758503ed2
* Content: [What is hybrid identity with Azure Active Directory?](htt

[2020-04-30 23:35] NavtejSaini-MSFT commented on #53738
@evertonmc We are checking this and will get back to you.

[2020-04-30 23:42] markjbrown commented on #53294
Hello. Unfortunately I cannot provide a GA availability date here. Please stay tuned to our twitter handle and blog for announcements. Thanks.

[2020-04-30 23:46] MattHartz opened #53782 "No server certificate was specified"
I am trying this on my local cluster. I am providing my certificate based on the top code block
  &lt;ContainerHostPolicies CodePackageRef="NodeContainerService.Code"&gt;
    &lt;CertificateRef Name="MyCert1" X509StoreName="My" X509FindValue="[Thumbprint1]"/&gt;
    &lt;CertificateRef Name="MyCert2" X509FindValue="[Thumbprint2]"/&gt;

I am using Containers for Windows.

Am i missing something?

Th

[2020-04-30 23:53] asergaz commented on #53040
Hello @chrsi ,
Even if you create distinct intermediate certificates with the same Subject Name for Manufacturer A and B you shouldn’t have the same deviceId created as long as the device cert has a different Common Name...

When Group Enrollment is used, both the RegistrationID as well as the DeviceID will be equal to the Common Name portion of the certificate Subject. (e.g. If the subject is CN=

[2020-04-30 23:53] #53040 closed

[2020-04-30 23:56] MattHartz commented on #53782
Here is full stack trace

[2020-05-01 00:00] #53773 closed

[2020-05-01 00:02] RyanHill-MSFT commented on #53780
Hi @azahran007,

You didn't specify if you used a CI/CD pipeline (e.g Azure DevOps, GitHub Actions, etc.) to publish your app. `dotnet ef database update` will use the connection string your appsettings.json to know which database to update. As stated [here](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/migrations?view=aspnetcore-3.1&tabs=visual-studio#applying-migrations-in-production)

[2020-05-01 00:03] BryanTrach-MSFT commented on #53773
@Geez3r We went ahead and made an edit based on your feedback. The changes should be visible within 24 hours. We appreciate you sharing your thoughts with us to help improve the documentation.

[2020-05-01 00:05] djpmsft commented on #42084
Hey @frvigano ,

Appreciate the feedback! Just made a change to the article to reorder the flow a bit better, focusing more on the automatic deployment. I also clarified the behavior of the publish branch.

Hope this clears some things up! You should see the changes reflected within 24 hrs.

#please-close

[2020-05-01 00:05] #42084 closed

[2020-05-01 00:07] djpmsft commented on #52119
Hi there,

Appreciate the feedback! Just overhauled the article a bit and hopefully cleared up some of the points you asked about.

Take a look something over these next few days (may take up to 24 hrs to go live) and let me know what you think!

Thanks,
Daniel

#please-close

[2020-05-01 00:07] #52119 closed

[2020-05-01 00:09] djpmsft commented on #52969
Hey @o-o00o-o ,

Thanks for the feedback! Just updated the article so hopefully it is clearer. May take 24 hrs to go live. I'm going to go ahead and close this issue as it seems you are unblocked. If you have any more questions feel free to comment.

Thanks,
Daniel

#please-close

[2020-05-01 00:09] #52969 closed

[2020-05-01 00:13] RhomGit opened #53783 "Mitigation for "Missing from the token response""
Can this workaround section be expanded please? This appears to be my exact issue but I don't understand how to rectify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d9d3e88-6f7d-904b-3e9d-fbe7c26ea649
* Version Independent ID: 5d93c939-37c6-8cff-6002-0c569998c6d8
* Content: [Azure AD B2C (MSAL.NET) - Microsoft i