[2019-01-22 20:45] TravisCragg-MSFT commented on #23016
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

The Get-AzureStackInfo cmdlet not being correct is also tracked in #21966

[2019-01-22 20:50] #18867 closed

[2019-01-22 20:50] TravisCragg-MSFT commented on #22944
@jimothyGator This article is designed for the [App Gateway V2 SKU](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant). Is the app gateway that you are trying this on a V2 SKU?

[2019-01-22 20:53] TravisCragg-MSFT commented on #22917
@Mahesh-MSFT I believe this would be "Local" for ASDK. This is designed to specify for a stack instance, not a public Azure location. An example command would clarify this.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-22 20:56] TravisCragg-MSFT commented on #21846
@weyCC81 Your best bet with a multi-node deployment is to create a support request. If you do not have a support plan, please Email me at AzCommunity@Microsoft.com with your Azure Public Subscription ID and I will create a one-time support request to troubleshoot this further.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your rep

[2019-01-22 20:56] #21846 closed

[2019-01-22 20:57] TravisCragg-MSFT commented on #22871
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-22 20:57] kraigb commented on #22888
@CheNgH826 Thanks for the question. At present, Azure Notebooks doesn't have a distinction for the role of collaborator. Projects are either private or public; in the case of public projects, others can use and modify notebooks, but they cannot modify project properties. I'll clarify that in the docs.

[2019-01-22 20:58] vhorne commented on #22842
@jbouv
Article corrected.

[2019-01-22 20:59] TravisCragg-MSFT commented on #21482
@amcgregor1 I am currently handling this issue, my apologies for the delay. I am reproducing this issue and will get back to you when I am able.

[2019-01-22 20:59] jimothyGator commented on #22944
@TravisCragg-MSFT Thank you, that explains it. This was the V1 SKU. Unfortunately, my VM is in US East, where V2 isn't available. I'll have to look into moving the VM.

[2019-01-22 21:00] TravisCragg-MSFT commented on #22944
@jimothyGator We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 21:00] #22944 closed

[2019-01-22 21:02] darmour opened #23038 "Reset password is in the portal too"
Reset Linux password is also available in the portal but that is missing from this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dce24b6-64e4-105f-2c26-323b2bb89d26
* Version Independent ID: 9d513478-dc8f-40b9-607c-623f3f47439d
* Content: [Reset access to an Azure Linux VM](https://docs.microsoft.com/en-us/a

[2019-01-22 21:10] #16211 closed

[2019-01-22 21:14] jtourlamain opened #23039 "The default LocalAccounts policies don't work"
I followed the tutorial, changed the yourtenant.onmicrosoft.com in the policy files to my own. I created the IdentityExperienceFrameworkAppId and ProxyIdentityExperienceFrameworkAppId (in the azure portal it's clearly mentioned that redirect uris must not be http or https which is in contract to your post and a closed topic ) and updated their values in the login-NonInteractive section of theTrust

[2019-01-22 21:15] jason-j-MSFT commented on #22723
@linda33wj could you take a look?

[2019-01-22 21:16] MicahMcKittrick-MSFT commented on #23038
@darmour valid point.

@roiyz-msft can we add that info to this doc?

CC @cynthn

[2019-01-22 21:19] zakpole opened #23040 "NPS does not work on AADDS"
We really need the NPS role to be allowed to work with Azure Active Directory Domain Services..  We are unable to use the MFA setup in the NPS server because the NPS server does not work with AADDS.. It presents the error.

"the task was not completed . you may not have sufficient priviledges in the xxxxx.com domain to perform this task. please make sure that you have appropriate permissions on th

[2019-01-22 21:20] zakpole commented on #23040
Note the error is when trying to 'Register Server in Active Directory'

[2019-01-22 21:20] anirudhcavale commented on #15703
@mjiderhamn I am seeing this as well. Can you open a github issue on the Telegraf github repo? https://github.com/influxdata/telegraf/issues I will also follow up with their team to see what's missing.

[2019-01-22 21:31] BryanTrach-MSFT commented on #22358
@Cookzenberg This is outside the scope of the doc and may not be currently possible if you are following the steps in this doc for .NET Core. I would highly advise you to post your question on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview)where we have engineers who can drill deeper to see if this is a supported scenario right now.

We will now

[2019-01-22 21:31] #22358 closed

[2019-01-22 21:38] Grace-MacJones-MSFT commented on #23005
Hi @jtheisen,  which specific documentation are you referring to?

[2019-01-22 21:42] zooba opened #23041 "Testing can also be done in PowerShell"
"curl" is a supported command in PowerShell (it's an alias of "Invoke-WebRequest") and for simple cases like this it behaves identically (though with more detailed output).

It's a bit strange to recommend WSL and have a screenshot of MinGW.

You could also include an example in Python, which is going to be the same for all users and avoids the platform-specific issues completely:

[code]

---
###

[2019-01-22 21:44] JohnMiner3 opened #23042 "Power Shell Commands Do Not Work"
Hi All,

I pulled down the latest version of Azure.RM and PowerShellGet().

I am looking at previous closed items.

It seems they were closed without validating the ability to pull this module using the Install-Module cmdlet.

In short, you should either remove this page since you do not have working PS cmdlets or fix the issue.

Sincerely

John

---
#### Document Details

⚠ *Do not edit this sect

[2019-01-22 21:48] rachel-msft commented on #22922
Thank you for your feedback, Alex. The documentation has been updated and will be published later in the afternoon.

[2019-01-22 21:50] vicperdana opened #23043 "Is there a native / built-in IDS in Azure"
I assume this is one example on how to deploy ids in Azure.  Is there not a built in way to do using Azure services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3a36e-ac7d-51a0-eb02-f8151b750a6a
* Version Independent ID: 38eaf5d3-b74f-8795-85f4-aa115b8151da
* Content: [Perform network intrusion detection with Azu

[2019-01-22 21:50] RonnyA opened #23044 "Typo ? Azure Devops should probably be Azure Monitor for VM's ?"
I am guessing you mean Azure Monitor ?

&gt;Azure DevOps can deliver predictable performance and availability of vital applications. It identifies critical operating system &gt;events, performance bottlenecks, and network issues. Azure DevOps can also help you understand whether an issue is related &gt;to other dependencies.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves fo

[2019-01-22 21:51] HeidiSteen commented on #22001
@daveabrock No problem.  I just created a new service using an outside account, and the new UI has been rolled out.  I believe the docs are accurate relative to the UX but if you find something amiss, by all means, please let me know.

[2019-01-22 21:54] MicahMcKittrick-MSFT commented on #15622
@edm-ms will reopen.

@jonbeck7 can you take a look at the additional request?

[2019-01-22 22:03] johnq3 opened #23045 "Unable to create a Spark cluster in Databricks using Trial Free Subscription"
I am unable to create a Spark cluster within a Databricks Workspace using a Free Trial subscription.
<img width="456" alt="supplychaincluster configuration" src="https://user-images.githubusercontent.com/34377829/51568217-cdcc7b00-1e5e-11e9-9c5f-4d7265a524ed.png">

I encounter an error during the cluster creation using the minimum core setting, and following the tutorial at the **Create a Spark cl

[2019-01-22 22:04] aljo-microsoft commented on #22933
@sowsan
Service Fabric is supported to run anywhere; E.G. In Azure, On prim, or other clouds.

The following as of today are supported distro's for Azure hosted clusters:
Windows Server 2012 R2
Windows Server 2016
Windows Server 1709
Windows Server 1803
Linux Ubuntu 16.04
Red Hat Enterprise Linux 7.4 (preview support)

The following as of today are supported distro's for on prim and other clouds:

[2019-01-22 22:04] dlepow commented on #22749
@badalk - Thanks for your question. As @jakaruna-MSFT notes, currently repository namespaces are a way to logically organize your images. Currently you can't provide permissions to a specific repository, but this is a frequently requested feature that is under investigation. Feel free to comment and vote at https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/31655977-conf

[2019-01-22 22:04] #22933 closed

[2019-01-22 22:06] dlepow commented on #22439
"Next steps" text updated to indicate links are examples. Closing.
#please-close

[2019-01-22 22:08] #22439 closed

[2019-01-22 22:09] brlewi commented on #22933
test

[2019-01-22 22:14] rajdeep-in commented on #22662
Fix submitted. PR#63727

[2019-01-22 22:20] rimman commented on #22889
There is a regression in the portal that turns on firewall on on every newly created account. You can turn it off on the firewall blade. If you have further questions, please ping us at AskCosmosDB@microsoft.com Thanks!

[2019-01-22 22:23] smithGit opened #23046 "listBlobFlatSegment Stops at 5000 Blobs"
This appears to be a problem, reading blobs from the IoT Central Blob with thousands of blobs:
The following statements:
    do {
        response = await containerURL.listBlobFlatSegment(aborter);
        marker = response.marker;
        for(let blob of response.segment.blobItems)
        {
            numBlobs += 1;
results in reading 5,000 blobs, but marker is undefined, so the while loop fini

[2019-01-22 22:31] trevor-schmidt opened #23048 "How to create custom alert with more detail in general information"
We are trying to create custom alerts based on search queries that give us detailed information. However, we are getting information from the query in Azure Security Center - Security Alerts that states the "Attacked Resource" is Various and the "Environment" is Non-Azure and the "Resource Type" is Non-Azure Resource. Each of these fields should be corrected to provide us with more information suc

[2019-01-22 22:31] #22833 closed

[2019-01-22 22:33] MicahMcKittrick-MSFT commented on #23032
@TheMoroccanBoss thanks for this.

I did just fix another issue with the allocation_method

#22952

But I will assign this to the author to review as you have additional suggestions.

@TomArcherMsft can you take a look?

[2019-01-22 22:36] LeonRomaniuk commented on #22587
I believe it’s on connection time, but Rob/Wolfgang could confirm.

From: erhopf <notifications@github.com>
Sent: Tuesday, January 22, 2019 10:17 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Leon Romaniuk <leonro@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 关于语音转文字的费用问题 (#22587)

@LeonRomaniuk<https://nam06.safelinks.protection

[2019-01-22 22:38] codybushnell opened #23049 "Datalake Oauth - Cumbersome Example"
Could the ADLS example be extended to using the azure.datalake.store package? Its much more straightforward to get the access token.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-lake-store/data-lake-store-service-to-service-authenticate-python.md

adlCreds = lib.auth(tenant_id = tenant,
                client_secret = client_secret,
                client_id = client_id,

[2019-01-22 22:38] MicahMcKittrick-MSFT commented on #22676
@maganvill we are having @jluk take a look at what is happening.

Him and @sauryadas can update you with their findings after investigation.

CC @iainfoulds

[2019-01-22 22:51] jerrybowman opened #23050 "This command no longer works as of this week:"
az aks show --resource-group myResourceGroup --name myAKSCluster --query nodeResourceGroup -o tsv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7179d4ae-db6e-7f7c-a855-db0e0475dae9
* Version Independent ID: 1a6fa0e8-e175-ae4d-a9d6-d170255a598e
* Content: [Use a static IP address with the Azure Kubernetes Service (AKS)

[2019-01-22 22:54] #6855 closed

[2019-01-22 22:54] #17158 closed

[2019-01-22 22:54] #19561 closed

[2019-01-22 22:54] #20652 closed

[2019-01-22 22:54] #20832 closed

[2019-01-22 22:55] #21690 closed

[2019-01-22 22:55] #22090 closed

[2019-01-22 22:55] #22174 closed

[2019-01-22 22:55] #22616 closed

[2019-01-22 22:56] #22631 closed

[2019-01-22 22:57] kgremban commented on #22866
I'm verifying with the SDK team, and will report back once I know for sure what the current capabilities are.

[2019-01-22 23:01] MicahMcKittrick-MSFT commented on #23050
@jerrybowman command seems to work find for me

[code]

Are you running in Azure Cloud Shell or local CLI? You might need to update your CLI version if running on prem.

[2019-01-22 23:09] TravisCragg-MSFT commented on #23035
@hensilva are you trying to download an existing gallery object from Microsoft, or are you trying to create your own gallery offering?

The error you are getting is that the specified URI is invalid, which means it is unable to find the URI in the storage account you specified, or the link you specified does not properly resolve.

[2019-01-22 23:15] diberry commented on #23031
@v-kydela I've research this and changed the doc - should go live this afternoon - Machine-learned entities (Composite, Hierarchical, Simple) can have a total count of 100 entities. Composite and hierarchical entities can't have more than 10 children.

[2019-01-22 23:18] ecfan commented on #21680
@brandonh-msft The updates were published last week. :)
@mike-urnun-msft, #please close? Thanks!

[2019-01-22 23:19] #17149 closed

[2019-01-22 23:20] btardif commented on #22163
Yes @Tkeyy working on this, eta is some time next week

[2019-01-22 23:31] #21793 closed

[2019-01-22 23:32] ajlam commented on #21793
@vsalvino, I've added a note to the documentation. This should be published within the next 24 hours.

[2019-01-22 23:34] wmgries commented on #15582
Hi @jomuld,

Thanks for the feedback. In this particular case, we made a conscious decision to shorten to `Import-Module ".\StorageSync.Management.ServerCmdlets.dll` which in PowerShell means import the cmdlets from a path starting in the current folder. So if your current folder was `C:\Users\Will`, then PowerShell would attempt to open the file `C:\Users\Will\StorageSync.Management.ServerCmdlets

[2019-01-22 23:36] tatlicioglu commented on #22957
Multiple CNAME records for the same fully-qualified domain name is a violation of the specs for DNS.

[2019-01-22 23:39] MicahMcKittrick-MSFT commented on #23030
@ElianoMarques can you expand a bit on your ask? What exactly are you unsure of as it relates to this doc?

[2019-01-22 23:40] joelhulen commented on #22889
@rimman That worked! How did I miss that? It is more obvious with Azure SQL where it tells you that you need to add your IP to the firewall. I've never seen that as an option for Cosmos DB. Would be nice if there was something that told you that you need to configure it on the Overview blade.

[2019-01-22 23:42] LuisBosquez commented on #16500
@tomasaschan @mattallenuk we have now updated the support of the Gremlin-Javascript driver version ^3.3.4. Please see the updated sample here: https://github.com/Azure-Samples/azure-cosmos-db-graph-nodejs-getting-started

[2019-01-22 23:46] rimman commented on #22889
cool! thanks for the feedback!

[2019-01-22 23:47] TravisCragg-MSFT commented on #23043
@vicperdana the example given is a way to do this using Network Watcher. [Azure Security Center also has intrusion detection capabilities](https://docs.microsoft.com/en-us/azure/security-center/security-center-detection-capabilities).

[2019-01-22 23:48] TravisCragg-MSFT commented on #22628
@mihammer Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:48] #22628 closed

[2019-01-22 23:48] TravisCragg-MSFT commented on #22636
@mayurpuli Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:48] #22636 closed

[2019-01-22 23:49] joelhulen commented on #22926
OK, issue resolved. There are now Firewall settings applied automatically to new Cosmos DB accounts. Go to the Firewall settings and either add your IP or allow all connections.

[2019-01-22 23:49] TravisCragg-MSFT commented on #22481
@sahilpnckr123 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:49] #22481 closed

[2019-01-22 23:50] TravisCragg-MSFT commented on #22491
@blueelvis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:50] #22491 closed

[2019-01-22 23:50] TravisCragg-MSFT commented on #22512
@DrEnnui Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 23:50] #22512 closed

[2019-01-22 23:56] mattallenuk commented on #16500
@LuisBosquez, that is awesome, thank you!

[2019-01-22 23:56] rboucher commented on #21960
@adithyaonline .  Updating the overview with internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/63747. Should be out in a day or two.  Check the schema file for details on the policy setting.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#policy

[2019-01-23 00:02] carlfm01 commented on #22273
@Karishma-Tiwari-MSFT  Hi, during the past week I was able to deploy low priority machines, even GPU series.

[2019-01-23 00:09] Mike-Ubezzi-MSFT commented on #22374
Providing additional information from internal discussion:
Note that setting MultiSubnetFailover=true is no longer strictly required when connecting to a multi-subnet availability group.  Since .NET 4.6.1, omitting MultiSubNetFailover when connecting to a multi-subnet AG causes only a brief ~0.5sec delay if the primary replica is not active on the subnet of the IP address returned first in the lis

[2019-01-23 00:10] #22374 closed

[2019-01-23 00:10] Mike-Ubezzi-MSFT commented on #22378
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-23 00:10] #22378 closed

[2019-01-23 00:13] Mike-Ubezzi-MSFT commented on #22379
@visu001a That is correct, this functionality is not available at this time: [Azure SQL Database Managed Instance Connectivity Architecture](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-msanaged-instance-connectivity-architecture)
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discus

[2019-01-23 00:13] #22379 closed

[2019-01-23 00:16] Mike-Ubezzi-MSFT commented on #22698
@haydenhancock Did you get assistance with this issue from Support? If not, please comment here and we can continue the dialogue. If Support provided a resolution to your issue, please provide that as it is helpful to others experiencing similar issues.
In the meantime, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly

[2019-01-23 00:16] #22698 closed

[2019-01-23 00:17] Mike-Ubezzi-MSFT commented on #22699
@athershareef We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-23 00:17] #22699 closed

[2019-01-23 00:17] #22888 closed

[2019-01-23 00:18] Mike-Ubezzi-MSFT commented on #22806
@bharathbkt We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-23 00:18] #22806 closed

[2019-01-23 00:20] Adam-Smith-MSFT commented on #22489
@ruudw Are you able to perform the same action via Portal ? Also, what specific version of Storage Explorer are you using ?

[2019-01-23 00:20] Mike-Ubezzi-MSFT commented on #23036
@asadhkhan Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-23 00:20] hensilva commented on #23035
Trying to create a new item, not an existing one. But which URI or storage account is it looking for?

Sent from my iPhone

On Jan 22, 2019, at 21:09, TravisCragg-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@hensilva<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fhensilva&data=02%7C01%7C%7C814c6de204dd4d85660b08d680bea3ee%7C84df9e7fe9f64

[2019-01-23 00:21] dcbrown16 commented on #22662
Great, thanks!

[2019-01-23 00:21] #22662 closed

[2019-01-23 00:21] Mike-Ubezzi-MSFT commented on #23045
@johnq3 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-23 00:32] asmalser-msft commented on #16933
Hi, this fix has been committed via GitHub Pull Request ID: 63734, and the update should be online no later than tomorrow. #please-close

[2019-01-23 00:32] KeiroKamioka0000 opened #23053 "Why value of OperationName, Status, and SubStatus are same?"
When using command [Get-AzureRmLog] with no other query, the value of OperationName, Status, SubStatus are same.
All of them show something like [Microsoft.Azure.Management.Monitor.Models.Localizable]

I was expecting that Status will show [Succeeded or Failed] SubStatus will show [OK or not].

Is this by current design?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-01-23 00:33] KeiroKamioka0000 commented on #23053
![image](https://user-images.githubusercontent.com/37641695/51574638-82689b80-1e63-11e9-90e7-908f1c6ba883.png)

[2019-01-23 00:38] Alberto-Vega-MSFT commented on #22783
@djaus2 Thanks again for the feedback! It will add value to other customers to include information on how to graciously shutdown. I have assigned the issue to the content author  to evaluate and update as appropriate. @kgremban

[2019-01-23 00:40] wisc75 commented on #10122
This still isn't working correctly.  The gallery app allows for VERY basic authentication but it doesn't pass the appropriate SAML values to set the values in Zoom.  Zoom isn't aware of this either as their documentation is lacking and their support doesn't know what to do.  Again, basic authentication works but it will not pass user role, user name, department, anything like that even after the v

[2019-01-23 00:40] YutongTie-MSFT commented on #23049
@codybushnell
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cforbe Hi Colleen, can you please take a look of this issue? Thank you.

[2019-01-23 00:43] jeevansd commented on #10122
@wisc75 Can you please schedule call with us and then we can unblock you on this. My calendar availability is published here https://freebusy.io/jeedes@microsoft.com

[2019-01-23 00:46] DiegoRamirez-MSFT commented on #22470
Hello @sahilpnckr123
we haven't received a response to our previous queries, I assume this is because your issue is resolved, for this reason I am closing this thread for now, if this is incorrect please let me know so we can reopen
Best

[2019-01-23 00:46] #22470 closed

[2019-01-23 00:47] DiegoRamirez-MSFT commented on #22082
Hello @algattik

just checking if you have any comments on this

Best

[2019-01-23 01:04] femsulu commented on #22673
@imeya I just got word from the engineering team responsible for this that they have added this to their "work item" backlog to complete this semester. They will be adding CTRL + SHIFT + / as well as a shortcut. For now this will be tagged as a known issue. Will respond as I get more updates. We will close this issue for now but reply if you have any followup questions.

[2019-01-23 01:07] imeya commented on #22913
thanks, but I want to know such SDKs mentions [here](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-get-started-python#install-the-modules), if there are available for ADLS Gen2?, like below:

azure-mgmt-resource
azure-mgmt-datalake-store
azure-datalake-store

[2019-01-23 01:18] Karishma-Tiwari-MSFT commented on #22273
@carlfm01 Thanks for sharing the update. :)

[2019-01-23 01:29] KeiroKamioka0000 opened #23055 "Azure to Azure?"
Please consider to add about how to do with Azure-to-Azure Scenario

https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 934d4825-4502-2c46-5caa-ba3ac2eaea50
* Version Independent ID: 38ce67db-e553-9428-a256-e74cacfd5c8e
* Content: [Delete a Re

[2019-01-23 01:31] SaurabhSharma-MSFT commented on #23039
@jtourlamain Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-23 01:32] SaurabhSharma-MSFT commented on #23040
@zakpole

[2019-01-23 01:33] SaurabhSharma-MSFT commented on #23042
@JohnMiner3 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-23 01:36] SaurabhSharma-MSFT commented on #23048
@trevor-schmidt Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-23 01:38] Alberto-Vega-MSFT commented on #22783
@djaus2 About the error I do not know. Is the module running properly though?

[2019-01-23 01:52] tedway commented on #8785
Hi @nuiwos, the official TensorFlow binaries don't support AVX2 because they need to be flexible across all types of hardware.  We currently don't support AVX2 but in the future we are looking into installing a version that supports the appropriate AVX instructions.

[2019-01-23 01:55] jeremyhagan commented on #5872
@csteelatgburg I don't operate the environment where we implemented this. I've put in a question to the sysops people at my customer to see if they have the same issue.

[2019-01-23 02:03] LeonRomaniuk commented on #22587
Adding @Olivier Nano<mailto:onano@microsoft.com> ... Please correct me if I'm wrong

It is the length of the submitted audio that is relevant, including silence, noise etc...

Outlook for Android<https://aka.ms/ghei36> herunterladen"

________________________________
From: Leon Romaniuk
Sent: Tuesday, January 22, 2019 2:36:43 PM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs; Erik Hopf; Ro

[2019-01-23 02:11] fish881209 commented on #21488
I have a problem using this feature. Whenever I try to use/reference the variable via "variables('counter')" I received an "Invalid unrecognized expression" error. What am I missing here?

[2019-01-23 02:18] julieMSFT commented on #22129
@Johirsch  Hi, Thank you for your feedback. I will be updating the article to read - "but is generally less than 30 seconds 99% of the time" I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-23 02:45] #15361 closed

[2019-01-23 02:45] #15476 closed

[2019-01-23 02:45] #15582 closed

[2019-01-23 02:45] #16933 closed

[2019-01-23 03:03] femsulu commented on #23044
@RonnyA Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-23 03:04] femsulu commented on #23053
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-23 03:10] Mike-Ubezzi-MSFT commented on #23034
@randomor
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-23 03:16] Mike-Ubezzi-MSFT commented on #23041
@zooba
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-23 03:52] swinarko commented on #23036
You could move your Excel file to Azure Files first and then use Excel Source in your package running on Azure-SSIS IR (SSIS in ADF).

[2019-01-23 03:55] SumanthMarigowda-MSFT commented on #21831
@jlee-vi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 03:55] #21831 closed

[2019-01-23 04:10] ManojReddy-MSFT commented on #22724
@stsulliv We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-23 04:10] #22724 closed

[2019-01-23 04:12] SumanthMarigowda-MSFT commented on #23055
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-23 04:15] CHEEKATLAPRADEEP-MSFT commented on #22129
@Johirsch We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-23 04:15] #22129 closed

[2019-01-23 04:21] maoz123 opened #23058 "Change Feed support for .Net Framework 4.6 or above"
I noticed that ChangeFeedProcessor library currently support .net framework 4.5. Does it support .net framework 4.6 or above?

[2019-01-23 04:47] jakaruna-MSFT commented on #22854
@yotauber is there any update

[2019-01-23 04:47] jakaruna-MSFT commented on #22840
@VashJuan is there any update

[2019-01-23 05:04] VashJuan commented on #22840
I'm not able to easily recreate, but I did copy & paste from the original at the time, and I did try "--no-wait", as shown in my original comment, whereas what did work for me was "-no-wait".

[2019-01-23 05:06] VashJuan commented on #22840
I do see that the error message had "--nowait", not "--no-wait". Possibly user error (i.e., me!) for sure... Feel free to close this.

[2019-01-23 05:09] kazshi commented on #21245
@vainolo Thanks for your updates. I followed the updated contents and verified the log is generated.

[2019-01-23 05:16] smithGit commented on #23046
I made the changes suggested above and it worked, all 44,722 blobs were read.  Of these 5,700 are in a directory "devices" within the container, and I would like to avoid reading these by reading only blobs in the "measurements" directory ("hierarchy segment"?) within the IoT Central container, but do not know how to do that, and cannot find an answer after hours of searching.

[2019-01-23 05:37] goh-chunlin commented on #22859
Hi @BryanLa, yes, the PR is made by me for this fix. =)

Thanks for your time attending to this!

[2019-01-23 05:39] goh-chunlin commented on #22860
Yes, @BryanLa. The PR is also related this issue. Thanks! =)

[2019-01-23 05:56] shashishailaj commented on #22977
@vikaskumawat80 Hope the above information helped you . We will now be closing this thread. In case you have any further query , feel free to let us know and we can engage with you again .
Thank you.

[2019-01-23 05:59] Dhugal commented on #15361
Great, thank you.

[2019-01-23 06:30] Qq20180503 opened #23090 "VM scale set does not work with internal standard sku Azure load balancer backend pool"
In a basic load balancer, we could select VM, VM scale set, and availability set as the backend pool on the  Azure portal.  Yet in Standard LB not. even though it is mentioned in the documentation it supports it. https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview#why-use-standard-load-balancer

Currently, we can associate a public facing load balancer with VM scal

[2019-01-23 06:39] dominicbetts commented on #22385
Hi @timmcfadden - I haven't heard back from you so I'm going to request that this issue is closed. If you do have follow up questions, please go ahead and reopen it. Thanks, Dominic

#please-close

[2019-01-23 06:49] milan-filipovic-lfx commented on #19424
I'm also in the dark about whether the exemption are supposed to match the header name or the header value. The documentation could be a lot clearer. Active Directory inserted tokens are specifically called out as a common example, but the example rules don't seem to apply to this scenario.

[2019-01-23 07:01] agronholm commented on #10959
I did, but I confirmed with support that there is currently a bug in this feature. The workaround is to disable the feature, press save, wait for a few minutes, then re-enable it and press save again. That at least worked for me and the endpoint URLs now appeared for me. This bug only manifests itself when the storage account has been upgraded to GPv2.

[2019-01-23 07:07] thazanm opened #23104 "Excellent and Simple"
Clear and simple introduction for first time experiment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* Content: [Simple experiment - Azure Machine Learning Studio](https://docs.microsoft.com/en-us/azure/machine-learni

[2019-01-23 07:12] mike-urnun-msft commented on #22926
@Aum-Kaara @adarshsrivastava11 Does the above help resolve your issues as well?

[2019-01-23 07:20] axelgMS commented on #20815
Looks like Win10 version 1809 is not yet supported

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-gpu-windows
_Windows 10 (up to version 1803)_

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/n-series-driver-setup
_Windows 10 (up to version 1803)_

[2019-01-23 07:35] ihloff opened #23111 "Step 6 - Manage User Claims is hard to understand"
I configured SSO to github using this tutorial. It worked in the end but I had problems understanding Step 6 ("In the User Claims section on the User Attributes dialog[...]")
To update the Unique User Identifier you don't need to add an additional claim, but change the existing claim. Otherwise you get two Unique User Identifier-Attributes in the claim.
Also step "b" is hard to understand:
"b. In

[2019-01-23 07:42] ihloff opened #23112 "Restrictions of github user provisioning should be stated in the article"
I tried to configure the user provisioning for github. If I'm correct, the provisioning-part for github is limited to the part where an existing github-user joins a company. It is - from my expirience - not possible to create an entirely new github-user. If you provision a user as described in the article, an invitation is sent to this user to join the company in github. When he clicks on the "Acc

[2019-01-23 07:54] AjayKumar-MSFT commented on #23012
@jwargo, Thank you for update.

[2019-01-23 07:54] #23012 closed

[2019-01-23 08:06] ericcwk commented on #22765
Thanks for advice.

[2019-01-23 08:21] Aum-Kaara commented on #22926
Yes , It is working fine now . Please update document .

[2019-01-23 08:21] SubhashVasarapu-MSFT commented on #23090
@Qq20180503 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-23 08:31] jtheisen commented on #23005
@Grace-MacJones-MSFT https://docs.microsoft.com/en-us/azure/azure-signalr/

(three clients are mentioned there)

[2019-01-23 08:45] ChiragMishra-MSFT commented on #22913
@imeya Unfortunately these SDKs cannot be used with ADLS Gen2 as of now.

However, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/?product=storage).
Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2019-01-23 08:45] ChiragMishra-MSFT commented on #22913
I will now proceed to close this issue. Please feel free to comment if you have any questions.

[2019-01-23 08:45] #22913 closed

[2019-01-23 08:49] ericcwk opened #23114 "Errors find when using the ARM template to deploy disk type metrics alert ( over the resource group)"
Dear all,

Please advice the method to deploy disk type metric alert rules by the ARM template.
Since the disk type metric may need the "Lun" information to display, the template will cause nested dataset error.
Please advise.

Thanks
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611c

[2019-01-23 08:50] Mike-Ubezzi-MSFT commented on #23058
@maoz123 Thank you for your inquiry. Is this in regards to the Cosmos DB ChangeFeedProcessor? I am investigating but want to comfirm the Azure service you are seeking information about. Thank you.

[2019-01-23 08:57] jakaruna-MSFT commented on #22854
@yotauber
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-23 08:57] #22854 closed

[2019-01-23 08:58] emilkje commented on #23001
Hi

I did mean windows update 1809 which my company is rolling out both internally and to our customers early next month.

![software center notification](https://cdn.pbrd.co/images/HXKEpS5.jpg)

[2019-01-23 08:59] jakaruna-MSFT commented on #22840
@VashJuan whats the version of your Azure cli?
I tested in 2.0.54

[2019-01-23 09:03] RobertK73 opened #23115 "Send email task"
Why havent any of the SSIS developers been put to work on Azure Datafactory? Instead multiple different steps from different services, why not just add an Send Email task. Serously, you need to stop the people who made MDS 2012 from working on Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f3e3e5-dd03-8d28-bf9f

[2019-01-23 09:05] Paulooma commented on #23006
Got an error: The network resource type is not correct after running the PSDrive script from the Azure Portal

[2019-01-23 09:05] Mike-Ubezzi-MSFT commented on #23058
The current supported .NET Framework is 4.5 - [.NET Change Feed Processor SDK: Download and release notes](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet-changefeed).

[2019-01-23 09:10] syr commented on #22926
Allowed all networks on cosmosDB, but still get the error.
Any further ideas?

[2019-01-23 09:12] ManojReddy-MSFT commented on #23040
@zakpole Currently there is no ETA regarding this. I would recommend posting your scenario and voting for this feature [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34781713-support-nps-radius-for-azure-ad-domain-services), so that the product team can prioritize adding this.

[2019-01-23 09:14] marinnedea commented on #18287
@cynthn - any update on this ? It's already 3 months old this thread.

[2019-01-23 09:33] #22967 closed

[2019-01-23 09:34] BenjaminHabert commented on #22318
Thank you for the suggestion.

However I will not try this because I meanwhile decided to use a linux vm rather than the App Service on Linux. I found this easier to host a django API. I had to configure nginx and uwsgi myself though.

I think the piece that was missing for me in the App Service documentation was more infos on the "Startup Script". Without this script the API was already configure

[2019-01-23 09:37] SadiqhAhmed-MSFT commented on #21533
@ran-ten21 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 09:37] #21533 closed

[2019-01-23 09:39] SadiqhAhmed-MSFT commented on #21405
@aquibqureshi26 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 09:39] #21405 closed

[2019-01-23 09:40] CHEEKATLAPRADEEP-MSFT commented on #22882
@nageshsubramanian We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-23 09:40] #22882 closed

[2019-01-23 09:41] CHEEKATLAPRADEEP-MSFT commented on #22038
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-23 09:42] #22038 closed

[2019-01-23 09:48] MichaelLynn2105 opened #23116 "Modelling a DW database in Azure/Azure Analysis services"
This tutorial is near to useless for anyone who wants to DESIGN a DW database.  I am accustomed to using tools such as E-R Studio to do that and is it unreasonable of me to expect that the mighty Microsoft might have something similar?  If it exists, I cannot find it in the Azure documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-23 09:49] rohancragg commented on #23022
Thanks for looking into it.

Interestingly I found a possible alternative. Since my use-case was to have an application in AKS retrieving secrets from a Key Vault, I could also use Open Service Broker™ for Azure to have a Key Vault provisioned from the Kubernetes cluster.

[2019-01-23 10:00] DaveDXC opened #23117 "Rotating Root CA and Issuing CA certificates"
Hi,
The list of replacement CA scenarios above states that a Stack installed with an Enterprise CA can only use a replacement CA from the same Enterprise CA. Does this mean a new Enterprise CA with the same Root CA as the Enterprise CA used for install?
If so, what is the process when Root CA certificates and keys are renewed?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-01-23 10:00] shashishailaj commented on #22712
We will be closing this issue now. In case you have any further query , feel free to let us know and we can engage on the same. thank you.

[2019-01-23 10:00] #22712 closed

[2019-01-23 10:01] shashishailaj commented on #22705
We will close this query now . In case you have any further queries feel free to engage with us on this. thank you .

[2019-01-23 10:01] #22705 closed

[2019-01-23 10:27] oruprogrammer opened #23118 "include ACU and pricing in the table"
it would be much appreciated if you include ACU and pricing details. So we can have single reference, Instead of switching here and there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes

[2019-01-23 10:35] #22666 closed

[2019-01-23 10:36] KetanChawda-MSFT commented on #22666
@metoule Referenced PR will add `Async` example to the doc. Thanks for your input.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 10:49] gauravagarwal28 commented on #14719
@kgremban Thank you for taking my feedback into consideration. You can consider this issue resolved.

[2019-01-23 11:10] sergaz-msft commented on #22770
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 11:10] #22770 closed

[2019-01-23 11:12] ElianoMarques commented on #23030
In your example, you run a spark submit job that reads a jar from azure blob but the example doesn't read data from anywhere as its the pi example.

What would be very usefull is to have the documentation around running spark jobs in kubernetes accessing data in adls. If you try out-of-the-box spark 2.4.0 and follow all the processes around building the docker image, adding the standard azure-data

[2019-01-23 11:24] santo2 opened #23120 "SecretEncryptionCertX509StoreName valid values"
what are the possible values for SecretEncryptionCertX509StoreName under the BackupRestoreService?
seems that certificates are installed under local machine, and service fabric is searching in "my" by default

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Independent ID: 4

[2019-01-23 11:37] AshokPeddakotla-MSFT commented on #23115
@RobertK73 Thanks for the feedback!
@sharonlo101 Please provide your insights on this query.

[2019-01-23 11:57] babalsurer opened #23121 "How to list Azure Vm using Azure CLI .?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-23 11:59] Stech01 opened #23122 "Scale Set automatically"
HI friends, I´m using Azures Stack is possible to scale set automatically the size based on a CPU or memory comsumption rule? I mean scale up and scale down instances automatically on my scale set.

best regards,

S_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eae116e6-32b9-b16a-9e45-92cbb978890b
* Version Independe

[2019-01-23 12:09] ChiragMishra-MSFT commented on #23104
@thazanm Thanks for the feedback. Since there is no issue, I will go ahead and close this issue now.

[2019-01-23 12:09] #23104 closed

[2019-01-23 12:14] edcline commented on #21179
@yzong96 I have seen this solution, however the cell modem we are using, Quectel BG96, does not support it yet.  Quectel tells me that it is coming in their next version.

[2019-01-23 12:31] ChiragMishra-MSFT commented on #23116
@MichaelLynn2105 Thanks for the feedback. We are investigating into your concern and will update you shortly.

[2019-01-23 12:58] ManojReddy-MSFT commented on #23111
@ihloff Thanks for the feedback. I am assigning this to the author to update the doc.

[2019-01-23 13:07] shashishailaj commented on #23112
@ihloff Thank you for your query . We will have it investigated and update the thread.

[2019-01-23 13:13] PramodValavala-MSFT commented on #22837
@Jan-Hettich Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 13:13] #22837 closed

[2019-01-23 13:15] butchmarshall commented on #22929
Thanks for the info - I've opened a question [here](https://social.msdn.microsoft.com/Forums/en-US/df3270e0-f210-44d7-a8dc-60f6b75741e6/any-additional-requirements-for-casb-eg-bitglass-auth?forum=WindowsAzureAD)

[2019-01-23 13:15] #22929 closed

[2019-01-23 13:21] jurajgh opened #23124 "Google federation _REQUIRED_ in order to work with gmail external users (guests) - documentation needs updating"
before google federation was introduced, it was possible to invite B2B guests to our tenant, and no matter their domain (business or consumer, doesn't matter), their experience didn't differ - it was mostly the same as seen in this video https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b

however, since google federation, this is no longer the case. gmail users receiving B2B g

[2019-01-23 13:25] russell456 opened #23125 "Restrict-Access-Context - Is this mandatory to mention if reporting is not needed? Can tenant restriction be achieved just by adding / inserting "Restrict-Access-To-Tenant" value"
"Restrict-Access-Context" - Is this only for reporting purposes? Can this be skipped?
Can tenant restriction be achieved just by adding / inserting "Restrict-Access-To-Tenants: myorgcontoso.onmicrosoft.com"

Some older proxy versions are only supporting single header insertion hence only can add either 1) "Restrict-Access-To-Tenants: or 2) "Restrict-Access-Context"

---
#### Document Details

⚠ *D

[2019-01-23 13:49] nils-a opened #23126 "How to set trace-levels?"
in the chapter "Writing trace output to the console" a setting of
[code]
is mentioned for the `host.json`, however the referenced docs under https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json do not mention a "tracing"-setting.

Can someone please explain how setting the trace-level really works?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-23 13:54] OffColour opened #23128 "Node Configuration applied during install of extension"
What this doesn't point out is that during the install process, the node configuration will be applied not just set.

If there is a problem with the node configuration, it times out or it doesn't exist, the installation will consider itself failed.

Even if the node configuration is subsequently fixed and applies correctly, the extension is still considered to be in a failed state.

This is a fail

[2019-01-23 14:02] dzemp opened #23129 "Update information regarding "Kubernetes service address range""
The documentations currently says: "Kubernetes service address range: This is the set of virtual IPs that Kubernetes assigns to services in your cluster."

However, based on my knowledge, the Kubernetes service address range is used for the cluster-only network only, therefore mainly for the Services type ClusterIP. With the Service type LoadBalancer and an Azure internal load balancer, an IP addr

[2019-01-23 14:03] shashishailaj commented on #23125
@russell456 Thank you for your query. We will investigate and update this thread further.

[2019-01-23 14:06] notjjsb opened #23130 "Rights required to view logs"
By default users can only see their own audit log.  What rights are needed to view the full audit log?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e649ea-1dc1-5fbc-2de5-41ac1424bcfc
* Version Independent ID: b8207854-8285-4685-d1e8-33152bfe44ca
* Content: [View audit history for Azure AD directory roles in PIM](ht

[2019-01-23 14:08] shashishailaj commented on #23124
@jurajgh Thank you for your query . We have assigned this to the Document author for review and required action.

[2019-01-23 14:20] shashishailaj commented on #23130
@notjjsb Thank you for your query. You require Global Administrator rights on the Azure AD tenant directory if you would like to view complete user audit logs.

[2019-01-23 14:24] cephalin commented on #22941
@JackMorrissey Thanks for the feedback. The doc has been updated and should be published within the next day.

[2019-01-23 14:25] cephalin commented on #19305
#please-close

[2019-01-23 14:31] victorar opened #23132 "Address space in first picture"
The address space for Fabrikam Inc in the first picture should be: 10.2.11.0/25

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba78cbbd-f9d3-d21b-edb6-d6e7962262af
* Version Independent ID: 034ba7ba-fbf5-f21a-4946-cca65b48c775
* Content: [Azure ExpressRoute Global Reach Application Scenario](https://docs.microsoft.com/

[2019-01-23 14:35] MGoedtel commented on #23044
@RonnyA - Thanks for bringing this to our attention, you are correct those two sentences should reference Azure Monitor for VMs and not DevOps.  Bugging and fixing now.  #please-close

[2019-01-23 14:50] cephalin commented on #22718
@msavino659 Take a look at the code addition for Views\Todos\Index.cshtml. All it does is display the data. All it is is going along with the existing template where there's no editing UI for the Index page. Just an example. You can do what you like with your own code.

Note this tutorial is mainly about working with ASP.NET apps _in App Service_. You should bring questions that are not specific t

[2019-01-23 14:52] lundholmster commented on #15889
Baaron is correct. There is no way to edit the content back. The "edit" button is greyed out.

[2019-01-23 14:52] Minewiskan commented on #23116
@MichaelLynn2105  - This tutorial has nothing to do with how to "DESIGN a DW" database. Perhaps you should be looking at Azure SQL Data Warehouse documentation or directing your comments to the forums.
#code-of-conduct
#please-close

[2019-01-23 15:05] vhorne commented on #22873
#please-close

[2019-01-23 15:08] j-martens commented on #13418
#please-close

[2019-01-23 15:11] j-martens commented on #22707
@YutongTie-MSFT - where are we on this?

[2019-01-23 15:29] raluca256 opened #23134 "Mistake in Trigger automation script"
Trigger automation to configure claims provider trust in Azure Stack

$federationMetadataFileContent = get-content c:\metadata.xml
$creds=Get-Credential
Enter-PSSession -ComputerName &lt;IP Address of ERCS&gt; -ConfigurationName PrivilegedEndpoint -Credential $creds
Register-CustomAdfs -CustomAdfsName Contoso -CustomADFSFederationMetadataFileContent $using:federationMetadataFileContent

Should be:

[2019-01-23 15:43] vhorne commented on #22842
#please-close

[2019-01-23 15:46] andreatmicro opened #23135 "Update suggestion for documentation on Cloning App slots"
The -IncludeSourceWebAppSlots parameter for cloning web apps does not work. However, using the same command without that parameter, works as intended.
Also when I try to clone deployment slots in the Azure portal, the 'Clone App' feature is greyed out and shows message: "This feature is only available for apps on the production slot."
I would suggest that you remove the instructions to clone deplo

[2019-01-23 15:59] MichaelLynn2105 commented on #23116
Owen

I am aware that This tutorial has nothing to do with how to "DESIGN a DW" database.  That is what I am complaining about.  My search was very clearly to find material on how to DESIGN an Azure DW database and I was directed to this site.  I have found NOTHING so far that advises me directly how to do that.  Posting it in the forum is an admission that there is nothing that helps me.

The lac

[2019-01-23 16:03] larsjoR opened #23136 "Reply URLs for native applications"
Hi,

The documentation is not clear on the usage of "*.b2clogin.com" when it comes to native applications.
Currently, the default options are:
- https://login.microsoftonline.com/tfp/oauth2/nativeclient
- urn:ietf:wg:oauth:2.0:oob

My question is: will the login.microsoftonline.com default option be ported to *.b2clogin.com also?
At least it doesn't seem to work right now.

If this is "by design"

[2019-01-23 16:14] anwarmahmood1 opened #23137 "suggestion replace "Microsoft PowerShell" with "Windows Powershell", and add explicit statements about PowerShell Core"
PowerShell Core is the current edition; the Windows-only version has been renamed from "Microsoft PowerShell" to "Windows Powershell " (eg see https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell?view=powershell-6)

By calling it "Windows PowerShell", the article would be less ambiguous.

I am guessing Azure AD Connect isn't compatible with PowerShell Core (happy to

[2019-01-23 16:18] v-maudel opened #23138 "Activar Apagado automatico de las maquinas Virtuales"
@JuanCarlosHerreraBlandon commented on [Tue Jan 22 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/245)

Buen dia

Debi utilizar este proceso, ya que en la opcion de la categoria operaciones de la maquina virtual de Windows 10 no me estaba dejando desactivar el apagado automatico. Ya que mi maquina virtual despues de cierto tiempo se apagaba. Debemos registrar dos proveedores de ser

[2019-01-23 16:21] aclager commented on #20317
Two months and not response?  Sounds like Microsoft doesn't know how to do IPS/IDS.

[2019-01-23 16:21] BryanLa commented on #22859
Hi @goh-chunlin - thanks again for your contributions on this article!
CXP: #please-close as we are working through this in a related PR.

[2019-01-23 16:21] BryanLa commented on #22860
Hi @goh-chunlin - thanks again for your contributions on this article!
CXP: #please-close as we are working through this in a related PR.

[2019-01-23 16:22] lmqferreira opened #23139 "grammar issue"
"Azure SQL Database is automatically managed and flexible data service where you can easily monitor usage" might need to be replaced by something like "Azure SQL Database is *an* automatically managed and flexible data service where you can easily monitor usage"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa5ecfe-e

[2019-01-23 16:24] axisc commented on #22719
@KallDrexx  and @PramodValavala-MSFT

the behavior is the same for TopicClient and SubscriptionClient also (basically anything created using the messaging factory). I'll update the docs to reflect this.

[2019-01-23 16:25] KallDrexx commented on #22719
Appreciate the confirmation :)

[2019-01-23 16:26] vhorne commented on #21727
@liamfoneill
This is a limit just for the preview. It will not be there for GA.
Article updated to indicate that.

[2019-01-23 16:28] vhorne commented on #21613
#please-close

[2019-01-23 16:34] julieMSFT commented on #19886
@rajeshprm Hello, This article has been updated to reflect the Gen2 DW performance level such as DW100c to DW400c. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

#please-close

[2019-01-23 16:41] russellseymour opened #23140 "Deploying Log Analytics Alerts within and ARM Template does not work as documented"
Creating alerts in Log Analytics using an ARM template does not work as documented.

Page Link: https://docs.microsoft.com/en-gb/azure/azure-monitor/insights/solutions-resources-searches-alerts?toc=%2Fazure%2Fazure-monitor%2Ftoc.json#alerts

The problem here is that the documented sample in the above page does not work.

The sample states that the following is needed to get an alert deployed from

[2019-01-23 16:47] julieMSFT commented on #7170
@lukaszjakubczyk Please also see this article, [https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-how-snapshots-accrue-charges](url)

[2019-01-23 16:50] v-maudel commented on #23138
Hi, IO'm moving it from here due there is a request to add information to the original documentation,

Rough translation:
"good day

I had to use this process, since in the option of the operations category of the Windows 10 virtual machine I was not letting disable the automatic shutdown. Since my virtual machine after a certain time it turned off. We must register two service providers that are

[2019-01-23 16:51] lawrencegripper opened #23141 "Links 404 - At least 2 of the ones I tried"
There are a few links with 404 in the doc, for example: https://docs.microsoft.com/storage/blobs/data-lake-storage-introduction.md

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef997d53-78df-9268-2514-7ec0878b2b25
* Version Independent ID: cd312664-8015-2b14-2933-c153a02f9fa5
* Content: [Compare storage options for us

[2019-01-23 16:58] #22842 closed

[2019-01-23 17:05] mamccrea commented on #22704
#please-close

[2019-01-23 17:10] trevor-schmidt commented on #23048
![image](https://user-images.githubusercontent.com/39771488/51623863-471baa80-1eff-11e9-9aff-0cead3e77cbc.png)

The query we are using is
SecurityBaseline
| where Description startswith "Andersen Security"
| where Computer == "testVM"
| limit 1

The attached image is the output we get from this. Where the Resource should be testVM and Environment should be the subscription and the resource type sh

[2019-01-23 17:11] aljo-microsoft commented on #23120
@santo2

The allowed value type is a string for SecretEncryptionCertX509StoreName, and "This indicates the certificate to use for encryption and decryption of creds Name of X.509 certificate store that is used for encrypting decrypting store credentials used by Backup Restore service".

What I assume you are asking is why is it "My" by default, or "How do I change 'My' store to something else".

I

[2019-01-23 17:13] mamccrea commented on #23045
@johnq3 - thank you very much for this feedback. I will update the article to make this clear. #please-close

[2019-01-23 17:17] Waterfox83 commented on #17991
Hi. Any update regarding this issue and the code?

[2019-01-23 17:19] MicahMcKittrick-MSFT commented on #23128
Thanks for the question! We are investigating and will update you shortly.

[2019-01-23 17:19] thekamhussain commented on #22938
@Mike-Ubezzi-MFST - the issue resolved on one environment after waiting 24 hours, running the install script, then running the Consent and Subscribe scripts. Looks like there was a delay after creating the Azure AD app registration. Can this delay be checked and verified internally, then update the doc where needed.

The second environment  I was trying to connect had its O365 subscription already

[2019-01-23 17:19] mamccrea commented on #22947
Hi @scubajon - what do you get when you expand the error message? I am getting an error, but it is different than yours. Mine says there was an error getting info for the file, but when I expand, the reason is that there was an error fetching the access token.

[2019-01-23 17:19] #23120 closed

[2019-01-23 17:20] MrYossu opened #23143 "How am I supposed to run this sample?"
I was looking at one of the [quickstart samples](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp), which included cloning a sample and running it.

However, when I run it, I get an error saying a project of type class library cannot be run.

Anyone able to explain what I'm supposed to do to get this running?

---
#### Document Details

⚠ *Do not edit

[2019-01-23 17:20] ghilead commented on #10646
similarly, shouldn't the diagram read "validate access_token" instead of "validate id_token" on the Web API?

[2019-01-23 17:20] MicahMcKittrick-MSFT commented on #23129
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-23 17:21] jvdjeery commented on #23029
I followed the instructions as it is in the documentation, but Google asked me to review the application to be able to put it into production, when I send the request I get [this](https://1drv.ms/u/s!AhxkJ8FhPn1KjbsRHLlmJRkVR5MplA).

That's my doubt, how to pass the verification to put the app in production.

[2019-01-23 17:21] mamccrea commented on #22411
@femsulu I believe this is mislabeled with azure-databricks/svc

[2019-01-23 17:28] MicahMcKittrick-MSFT commented on #23121
@babalsurer the command is `az vm list`

You can find common commands here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-manage

[2019-01-23 17:28] #23121 closed

[2019-01-23 17:36] PramodValavala-MSFT commented on #22719
@axisc Thanks for the insight!

@KallDrexx We are updating the doc accordingly and it should reflect soon. Thanks for contributing to MS Docs!

[2019-01-23 17:40] sadiehenry commented on #5648
@axxx307 the authentication phone and mobile phone fields are different, so they will likely have different data. You cannot set the authentication phone fields through PowerShell.

[2019-01-23 17:40] #13418 closed

[2019-01-23 17:45] TomArcherMsft commented on #19094
@w00dbury FYI: The link now works correctly. Thank you for bringing this to our attention.

[2019-01-23 17:45] MicahMcKittrick-MSFT commented on #22225
@wp1107 just checking in on this :)

[2019-01-23 17:46] MicahMcKittrick-MSFT commented on #22865
Thanks @aljo-microsoft

@cppcraze any update on this?

[2019-01-23 17:47] MicahMcKittrick-MSFT commented on #23023
@rajaprad I will close for now. When ready let me know and we can reopen and continue.

[2019-01-23 17:47] #23023 closed

[2019-01-23 17:48] MicahMcKittrick-MSFT commented on #23030
@ElianoMarques got it. Thank you for the further explanation :)

@lenadroid can you take a look?

CC @iainfoulds

[2019-01-23 17:55] AjayKumar-MSFT commented on #22718
Thank you, @cephalin.

[2019-01-23 17:55] #22718 closed

[2019-01-23 17:56] #22719 closed

[2019-01-23 17:58] cppcraze commented on #22865
sorry for not replying yesterday. The documentation is clear on what those two classes can do. I am trying to understand the guideline or design of these two classes, given that they can achieve same purpose that is creating the proxy instance of remoting interface. So when I should use ServiceProxy, when i should use ServiceProxyFactory.

[2019-01-23 17:59] davidmatson opened #23144 "Bad search/replace on aks-engine-autoscaler?"
The helm search output shows "stable/aks-engine-autoscaler", but I don't think any such chart ever existed. The stable/acs-engine-autoscaler exists with the versions shown above (though it has been deprecated). Did a search/replace of acs=&gt;aks go wrong here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-76

[2019-01-23 18:05] cynthn commented on #18287
@mariaghiondea Sorry for the delay, this got lost over the holidays. I haven't heard back from the SME for encryption, but it does seem like the parameter should be "data" when you are adding a single disk. I've made the change and the PR should be merged later today. Thanks for the feedback!

#please-close

[2019-01-23 18:06] rachel-msft commented on #22967
Fix published. Thanks again.

[2019-01-23 18:08] #18287 closed

[2019-01-23 18:09] Grace-MacJones-MSFT commented on #23135
Hi @andreatmicro, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-23 18:12] SaurabhSharma-MSFT commented on #23137
@anwarmahmood1 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-23 18:12] MicahMcKittrick-MSFT commented on #23129
@dzemp I will assign to the content author to review and see if it makes sense to add that extra info.

[2019-01-23 18:13] SaurabhSharma-MSFT commented on #23136
@larsjoR Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-23 18:16] SaurabhSharma-MSFT commented on #22782
@RamakrishnanRamar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-23 18:16] #22782 closed

[2019-01-23 18:18] cephalin commented on #21477
@xiazek Thanks for your feedback. I've added a link to the intro note and it should be published today. #please-close

[2019-01-23 18:32] mike-urnun-msft commented on #23126
Hi @nils-a Thank you for your feedback! We will review and update as appropriate.

[2019-01-23 18:33] femsulu commented on #22765
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-23 18:33] #22765 closed

[2019-01-23 18:34] YutongTie-MSFT commented on #22707
@j-martens Hi, since this is a doc-bug, I assigned it to our author.

@mx-iao Hi, can you please check this bug? Thank you.

[2019-01-23 18:35] vcmcstech opened #23145 "pre reqs"
NT SERVICE\DIAHostService needs log on as a service right.  if not, install errors stating 'Error 1920. Service 'Integration Runtime Service' (DIAHostService) failed to start. Verify that you have sufficient privileges to start system services.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420

[2019-01-23 18:38] MicahMcKittrick-MSFT commented on #23144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-23 18:44] Mike-Ubezzi-MSFT commented on #23140
@russellseymour Thank you very much for your interest in Azure cloud services. We are currently investigating this and will take the appropriate action once the issue is well understood.

[2019-01-23 18:45] cephalin commented on #21629
@nealmcb Feedback taken. I've added a sentence for it and it should be published today. Note there's also been a link in the doc that links to the [configure python article](https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python) that has all the details.

[2019-01-23 18:45] cephalin commented on #21629
#please-close

[2019-01-23 18:46] cephalin commented on #16676
@nealmcb The article has been updated based on your feedback there. Thanks.

[2019-01-23 18:49] Mike-Ubezzi-MSFT commented on #23132
@victorar Thank you for this detailed feedback. I am assigning this to the content author to evaluate and update as appropriate.

[2019-01-23 18:49] scubajon commented on #22947
Below is the expanded message.

	at com.databricks.spark.sqldw.Utils$.wrapExceptions(Utils.scala:271)
	at com.databricks.spark.sqldw.DefaultSource.createRelation(DefaultSource.scala:76)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.s

[2019-01-23 18:54] JustinGrote opened #23146 ""Draw the rest of the owl" Problem"
This document doesn't include links or information on how to actually set up GlobalProtect to use the SAML identity provider. That info is here: https://docs.paloaltonetworks.com/pan-os/8-0/pan-os-new-features/globalprotect-features/saml-20-authentication-for-globalprotect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-23 18:54] Mike-Ubezzi-MSFT commented on #23139
@lmqferreira Thank you for this detailed feedback. I have assigned to the content author (@danimir @CarlRabeler) to evaluate and update as appropriate.

[2019-01-23 18:55] hrasheed-msft commented on #23141
Hi @lawrencegripper thanks for catching that. Looks like a syntax error in the links was causing the 404s. I've corrected them in a coming pull request. https://github.com/MicrosoftDocs/azure-docs-pr/pull/63836

[2019-01-23 18:55] AjayKumar-MSFT commented on #21629
@cephalin, Thank you!
@nealmcb, We will close this out but if you feel you need more information please just let us know.

[2019-01-23 18:55] #21629 closed

[2019-01-23 18:58] YutongTie-MSFT commented on #22587
Thank you guys.

@crazygo
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-23 18:58] #22587 closed

[2019-01-23 19:00] hrasheed-msft commented on #23141
#please-close

[2019-01-23 19:01] guidooliveira opened #23147 "Data responde limited to 1000 lines in a web api call"
I'm trying to return the billing data for a given period, but no matter what i do, i only get 1000 lines, as oposed to  the over 150000 lines i should get.

$RestCall = @{
    Uri = $('https://consumption.azure.com/v3/enrollments/{0}/usagedetails' -f $EnrollmentNumber)
    Method = 'GET'
    Headers = @{
        'authorization' = $('bearer {0}' -f $APIKey)
    }
}
$Data = Invoke-RestMethod @RestCa

[2019-01-23 19:01] TravisCragg-MSFT commented on #22873
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 19:01] #22873 closed

[2019-01-23 19:02] TravisCragg-MSFT commented on #21613
@bradyson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 19:02] #21613 closed

[2019-01-23 19:06] mapoitras commented on #21373
AS a temporary fix you can replace the ' with a blank space.  QnAMaker won't care and you will still get the right answers.  Simply change the question variable to question.Replace("'"," ")

[2019-01-23 19:09] vhorne commented on #17578
@jjindrich API updates, which is now scheduled for mid-Feb.

[2019-01-23 19:10] iainfoulds commented on #22924
Sorry you ran into issues, @maganvill. The engineering team has confirmed that the same limitation applies to virtual nodes, and the alternate approach would be to configure and use a Kubernetes secret, yes. I'll update the doc to make this call out.

#in-progress

[2019-01-23 19:16] awickham10 commented on #17436
We also seem to be facing this issue. Has it been resolved?

[2019-01-23 19:19] TravisCragg-MSFT commented on #23134
@raluca256 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-23 19:30] jonbeck7 commented on #23017
We do call out that the compute costs are still covered at the original size rate

_"At this time, the compute cost, which includes OS licensing, remains the same one as the original size."_

[2019-01-23 19:37] jonsing commented on #22581
Any update on this issue?

[2019-01-23 19:44] Mike-Ubezzi-MSFT commented on #23146
@JustinGrote Thank you for this detailed feedback. We are currently investigating this and will update you when we have additional information to provide.

[2019-01-23 19:47] #19305 closed

[2019-01-23 19:47] #19886 closed

[2019-01-23 19:47] #21477 closed

[2019-01-23 19:47] #22385 closed

[2019-01-23 19:48] #22704 closed

[2019-01-23 19:48] #22859 closed

[2019-01-23 19:48] #22860 closed

[2019-01-23 19:48] #22941 closed

[2019-01-23 19:48] #23044 closed

[2019-01-23 19:48] #23045 closed

[2019-01-23 19:49] #23116 closed

[2019-01-23 19:49] #23141 closed

[2019-01-23 19:56] vikaskumawat80 opened #23148 "How use Azure AD Graph API in Postman"
Want to perform operations in Postman. I generated the bearer token in Postman. Tokernization is working fine but when when I perform GET/POST/DELETE request it give and error.

My GET looks like
https://graph.windows.net/domain.onmicrosoft.com/users?api-version=1.6

{
    "odata.error": {
        "code": "Authentication_MissingOrMalformed",
        "message": {
            "lang": "en",

[2019-01-23 19:58] allirreza commented on #15386
Hi @SaurabhSharma-MSFT ,

We have the same problem in our VM's. Especially, we get "No Recent Data" for security configurations scan. Is there any update on this?

[2019-01-23 19:59] Mike-Ubezzi-MSFT commented on #22938
@thekamhussain Thank you for this additional feedback. This issue is tagged as a doc-enhancement and the content author can evaluate the current document and add additional information with regard to this delay. I did, however, find this document which might be helpful in this situation: [Unexpected error when performing consent to an application](https://docs.microsoft.com/en-us/azure/active-dire

[2019-01-23 20:09] #22924 closed

[2019-01-23 20:15] YutongTie-MSFT commented on #21276
@PatrickFarley Yes, I still wait for the onboarding of Kelly.

[2019-01-23 20:22] YutongTie-MSFT commented on #8785
@tedway Thank you Ted.

@nuiwos We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-23 20:22] #8785 closed

[2019-01-23 20:23] sethmanheim commented on #22312
@jgallucci32 Thank you again for the feedback, I have just merged a pull request to fix these issues. Thanks for taking the time to report it! #please-close

[2019-01-23 20:24] jerrybowman commented on #23050
I am running the latest CLI version:
`azure-cli is already the newest version (2.0.27-1~wheezy)`

Here is the JSON output. As you can see there is no nodeRepositoryGroup. So using a `--query nodeResourceGroup` doesn't find anything.
[code]

[2019-01-23 20:30] TravisCragg-MSFT commented on #23117
@DaveDXC Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-23 20:33] aljo-microsoft commented on #22865
@cppcraze
Explicitly if you do not have a known reason to: "override IServiceRemotingClientFactory properties", then you would use ServiceProxy.

@MicahMcKittrick-MSFT
#please-close

[2019-01-23 20:33] #22865 closed

[2019-01-23 20:34] squasta opened #23149 "wrong az cli command"
To assign managed identity to Storage using az, you should use the following command :

az storage account update\
    -name &lt;account_name&gt; \
    --resource-group &lt;resource_group&gt; \
    --assign-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1a2-3f5a-baf3-94e7-37bf4539530b
* Version Independen

[2019-01-23 20:38] karthikthangapandian opened #23150 "Replication Setup from on-Prem to Azure Managed SQL using Native replication method"
while configuring the replication using the above steps and getting failure. Please validate the setps and let me know because migration is on HOLD now

Getting error in step 6

Msg 2812, Level 16, State 62, Line 1 Could not find stored procedure 'sp_adddistributor'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cd1

[2019-01-23 20:39] TravisCragg-MSFT commented on #23035
@hensilva try removing the documentation URI an see if that succeeds. Also, are you specifying a location for the VHD anywhere?

[2019-01-23 20:40] CeciAc opened #23151 "parson.c and parson.h is missing"
@syntetic81 commented on [Wed Jan 23 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/244)

get the following error:
collect2: error: ld returned 1 exit status
CMakeFiles/app.dir/build.make:172: recipe for target 'app' failed
make[2]: *** [app] Error 1
CMakeFiles/Makefile2:67: recipe for target 'CMakeFiles/app.dir/all' failed
make[1]: *** [CMakeFiles/app.dir/all] Error 2
Makefile:83:

[2019-01-23 20:40] MicahMcKittrick-MSFT commented on #23050
@jerrybowman not sure what version that is. The lastest version is 2.0.55

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

I ran it on my local machine and the output works

`
C:\Users\mimckitt>az aks show --resource-group katidevspacesRg --name katcluster --query nodeResourceGroup -o tsv
MC_katidevspacesRg_katcluster_eastus2`

Do you have multiple subscriptions

[2019-01-23 20:41] CeciAc commented on #23151
Hi team
I moving this here since the user is adding information to the original documentation.
best

[2019-01-23 20:45] YutongTie-MSFT commented on #22663
@kiranmahto We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 20:45] #22663 closed

[2019-01-23 20:47] cgillum commented on #20494
@bbi-yggy is the token store enabled for your app? The token store setting can be found in the Authentication / Authorization blade of the portal. If so, do you see any of the expected tokens if you navigate to the built-in `/.auth/me` endpoint of your web app?

[2019-01-23 20:52] sethmanheim commented on #22406
@jgallucci32 Very sorry for the confusion, I think there was a mixup with this and other GitHub issues. I have just merged a pull request to fix the release notes, for 1811 through 1808. This issue will persist for anyone using a build earlier than 1808, until 1808 officially goes out of support. Thank you again for re-filing the issue! #please-close

[2019-01-23 20:53] StudentAndy opened #23152 "Site-to-Site via Private Peering"
Example in documentation above uses Microsoft Peering for S2S to VNET. Can S2S be done over ER Private Peering ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115a55e9379f
* Version Independent ID: 2c032f28-ebd6-513e-4324-622ac80e85d6
* Content: [Configure ExpressRoute and Site-to-Site VPN conn

[2019-01-23 20:55] TravisCragg-MSFT commented on #22406
@jgallucci32 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 20:55] #22406 closed

[2019-01-23 21:00] mganeshphani opened #23153 "Quota & Limits - what can be requested to increase and what cannot be?"
Hello,

Isnt quota and limit simple different topics?
I see quota is something that can(Container groups per subscription) be  increased upon request.. while limit is something that cannot(ex: Ports per IP)
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas#service-quotas-and-limits

Can we make a distinguish of what can be requested to increase and what cannot b

[2019-01-23 21:04] jose-l-carvalho commented on #23017
Hi.

I was discussing the issue with the TA Rossano Vitulli and it wasn’t clear to us that the compute costs in terms on core count would be the same as the “full size” VM.
To us, the “compute cost” meant price, since the pricing is the same.

The issue is that each machine adds 4 cores to the subscription quota, not 1, and users are not aware of that fact, only the price 😊

[cid:image001.jpg@01D4

[2019-01-23 21:06] ecfan commented on #21680
#please-close

[2019-01-23 21:17] #21680 closed

[2019-01-23 21:18] mganeshphani opened #23154 "Is the region availability applicable for containers or container groups"
Following section doesn't say if the limit of 2cpu and 3.5GB RAM is for container group or containers?
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas#region-availability

ARM throws error when I try to create a container group with 3 containers(1cpu and 1GB ram each).. same configuration with 2 containers works fine

---
#### Document Details

⚠ *Do not edit

[2019-01-23 21:19] paisleypark opened #23155 "Lacking Data"
The original source data is unavailable, which is an initial blocker for trying this example.

Also, could a visualization step be added to this sample, to show the Databricks functionality in this area?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a000caa-6f6e-de6c-fb18-a342a6b1221b
* Version Independent I

[2019-01-23 21:22] cppcraze commented on #22865
ok, fine, if you guys can't answer the question, just close it.

[2019-01-23 21:23] MicahMcKittrick-MSFT commented on #22865
@cppcraze the answer as Alex states is

"Explicitly if you do not have a known reason to: "override IServiceRemotingClientFactory properties", then you would use ServiceProxy."

In addition, as you are a MSFT Employee there are DLs you are reach out to for design assistance if you require it. Feel free to ping me offline and I can provide you with those alias's

[2019-01-23 21:32] blueelvis commented on #22491
@TravisCragg-MSFT  -- Thanks a lot for the explanation!

[2019-01-23 21:41] wmgries commented on #20283
@wmgries I will take a look at this one and get back to you.

[2019-01-23 21:43] MouthOfMadness opened #23157 "VSTS - the storage-preview is no longer available to install"
From my PowerShell script in VSTS, I've been using this command for months:
az extension add --name storage-preview

Now I get the error:
##[error]ERROR: No matching extensions for 'storage-preview'. Use --debug for more information.

I get an additional error from: az storage blob service-properties update  but I assume that's because nothing is installed.

---
#### Document Details

⚠ *Do not ed

[2019-01-23 21:43] wmgries commented on #19797
@fauhse will add this to the doc.

[2019-01-23 21:45] wmgries commented on #19163
@wmgries Will update based on the short links from @fauhse.

[2019-01-23 21:48] wmgries commented on #17311
@yuemlu Can you please update this document?

[2019-01-23 21:49] wmgries commented on #17145
@SibonayK will update the screenshots. Please update without the black mode of the portal (docs team wants white now).

[2019-01-23 21:49] wmgries commented on #17144
@SibonayK will update the screenshots. Please update without the black mode of the portal (docs team wants white now).

[2019-01-23 21:50] wmgries commented on #17139
@SibonayK will update the screenshots. Please update without the black mode of the portal (docs team wants white now).

[2019-01-23 21:51] wmgries commented on #16152
@wmgries I will take this.

[2019-01-23 21:51] SaurabhSharma-MSFT commented on #23125
@russell456 No, the headers "Restrict-Access-Context" and "Restrict-Access-To-Tenants" are mandatory to be passed.

[2019-01-23 21:51] wmgries commented on #15675
@wmgries I will take the update here.

[2019-01-23 21:52] wmgries commented on #15462
@RenaShahMSFT will take this one.

[2019-01-23 21:53] wmgries commented on #14298
@RenaShahMSFT will take this one.

[2019-01-23 21:54] chrisjau opened #23158 "500 error"
For me, adding the function 'OnActionExecuting' caused the api call to return a 500 from the front end.  To fix I had to add the app ID from the front end app to the backend under 'allowed audiences' on the backend AAD provider.  I'm not sure if I missed a step?  Also, there is a preview for the app registration which has a tick box for ID tokens, that may replace the need to use site 'resources.a

[2019-01-23 21:55] wmgries commented on #12590
@jeffpatt24 will take this one.

[2019-01-23 21:55] wmgries commented on #10865
@wmgries I will take this one.

[2019-01-23 22:00] wmgries commented on #22960
Update the document to only use Az - we can't find any broken links. @wmgries I will take this one.

[2019-01-23 22:01] wmgries commented on #21621
@wmgries I will take this one.

[2019-01-23 22:02] SaurabhSharma-MSFT commented on #23042
@JohnMiner3 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-23 22:03] josuvil commented on #22960
Thanks. Interestingly, the links are working again. But I did see that other PS cmdlets were using the old Azure-RM cmdlets. Thanks for fixing them to Az.

From: Will Gries <notifications@github.com>
Sent: Wednesday, January 23, 2019 5:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Josh Villagomez <Josh.Villagomez@microsoft.com>; Mention <mention@noreply.github.com>
Subject

[2019-01-23 22:03] TravisCragg-MSFT commented on #23152
@StudentAndy you can create a S2S over ER Private Peering, however you must use NVAs and not an Azure S2S VPN.

You are able to create an [Azure S2S VPN over Microsoft Peering](https://docs.microsoft.com/en-us/azure/expressroute/site-to-site-vpn-over-microsoft-peering).

[2019-01-23 22:04] TravisCragg-MSFT commented on #22803
@boreys Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 22:04] #22803 closed

[2019-01-23 22:04] TravisCragg-MSFT commented on #22805
@liutang Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 22:04] #22805 closed

[2019-01-23 22:05] femsulu commented on #22954
To do justice to this feedback, we will need to redirect to the log analytics PM team. Please send mail to AzCommunity@microsoft.com so I have your contact details to share with the PM team. Closing this issue for now as we continue the conversation over email.

@JYOTHIRMAISURI  - FYI

[2019-01-23 22:05] #22954 closed

[2019-01-23 22:13] Alberto-Vega-MSFT commented on #21816
@djaus2 Thanks for your feedback! These issues are for documentation related improvements. Would you please create an issue on this repo https://github.com/Azure/iotedge/issues

[2019-01-23 22:13] georgewallace commented on #22927
@ld0614 Thanks for reaching out.  Is the link in the actual error message?  I will get this item added to the troubleshooting guide, Here is where we discuss [rbac permissions for onboarding](https://docs.microsoft.com/en-us/azure/automation/automation-role-based-access-control#onboarding-from-automation-account) though to get you unstuck for now.

[2019-01-23 22:13] Alberto-Vega-MSFT commented on #21816
@futurexpe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-23 22:13] #21816 closed

[2019-01-23 22:14] georgewallace commented on #21137
@MikeSpark Wanted to follow up on this. Did this work for you?

cc: @MicrosoftDocs/azure-cxp-triage

[2019-01-23 22:15] georgewallace commented on #21018
@OffColour Haven't heard back from you in a while, unfortunately PowerShell onboarding involves runbooks, or ARM templates at this point.

cc: @MicrosoftDocs/azure-cxp-triage

[2019-01-23 22:15] georgewallace commented on #21191
@kvenkazure Haven't heard back from you in a while. If this is still something you feel strongly about I need a bit more information.

cc: @MicrosoftDocs/azure-cxp-triage

[2019-01-23 22:17] Alberto-Vega-MSFT commented on #22701
@jgodha @daN4cat Thanks for your feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-23 22:18] MicahMcKittrick-MSFT commented on #23154
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-23 22:19] SaurabhSharma-MSFT commented on #23136
@larsjoR Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-23 22:24] mganeshphani commented on #23153
@MicahMcKittrick-MSFT
Questions are mutually exclusive.. how can these be duplicate? if they were so, I would have logged a single comment

[2019-01-23 22:33] MicahMcKittrick-MSFT commented on #15469
test

[2019-01-23 22:34] lunar87 opened #23160 "unclear"
I am not clear on the flow of this conent, it would be great to see more of an explanation of the steps that are taken at the top. Is Azure Backup somehow connect to the scripts that are created on the Oracle DB VM? I was not sure how those scripts would get run on a regular basis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-01-23 22:36] wmgries commented on #22960
This was merged. #please-close

[2019-01-23 22:45] rpfinneran commented on #15469
Received.

On Wed, Jan 23, 2019 at 5:34 PM Micah <notifications@github.com> wrote:

[2019-01-23 22:47] zbourdeau opened #23161 "WS 2019 SKU?"
What is the  Windows Server 2019 SKU? That doesn't exist on the table currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-5325d1ae8440
* Version Independent ID: 31844be0-b20d-a145-7794-27c706770735
* Content: [Select Windows VM images in Azure](https://docs.microsoft.com/en-us/azure/virtua

[2019-01-23 22:48] hildebranda opened #23162 "AppRolse are switching to False"
I am running into an issue where my approles are automatically getting set to "false" after about a 15 minutes after I run the patch query, its super strange.  After I run the patch the roles show up in Azure AD for the App, I am able to assign a group to the role and sign in successfully.  After about 15 minutes pass, the group that is assigned access shows up as default access in Azure and if I

[2019-01-23 22:54] jatinder-bains opened #23163 "Get DocumentClientException when invoking any DocumentClient method"
I'm getting the following exception when I invoke any method on DocumentClient:
_________________________________________________________________________________
{Microsoft.Azure.Documents.DocumentClientException: Unable to proceed with the request. Please check the authorization claims to ensure the required permissions to process the request.
ActivityId: ff07b206-fd54-47fe-b68f-03c406dd00da, Mic

[2019-01-23 23:01] darmour opened #23164 "You can also resize in the portal"
Why don't we let people know that they can also resize a VM in the portal?  Might be handy for an Azure newbie.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Use PowerShell to resize a Windows VM in Azure](h

[2019-01-23 23:06] hildebranda opened #23165 "Issues with AppRoles"
Hello, I am having an issue with creating a new app role and deleting several app roles. After I run the patch query top add an approle the role switches to isEnabled: false after about 15 minutes.   I am not sure why...  And the ones that I am removing I will set them to isEnabled: false and then run the patch command with them removed to delete them from the service principle.  And about 15 minu

[2019-01-23 23:16] MicahMcKittrick-MSFT commented on #23164
@darmour thanks for the feedback. This specific guide is just explaining how to resize using PowerShell but I see your point. I believe it is just assumed you would know how to resize via the portal as it is only two steps. But regardless, I will assign to the author to review and adjust the doc as needed.

@cynthn can you take a look?

[2019-01-23 23:18] sndinh commented on #22631
Micah

  Please test it on IE to see if you get the same errors as I do

Sent from my iPhone

[2019-01-23 23:19] MicahMcKittrick-MSFT commented on #23160
@lunar87 Can you elaborate a bit more on specifically what steps you are unclear about? The doc shows an end to end solution for backing up and recovering your DB so it is quite extensive. I could see how it is a lot to follow though.

[2019-01-23 23:26] rboy1 opened #23166 "Not very helpful in migrating from v2 to v3"
If one has implemented v2 using the Microsoft v2 Service Reference like showing on this page
https://deanhume.com/microsoft-translator-api/

This article doesn't help one to migrate from v2 to v3. Can you outline how to users of the service reference migrate to v3? Is there a v3 service reference URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-23 23:31] MicahMcKittrick-MSFT commented on #22631
@sndinh I wouldnt suggest using IE.

But regardless, it seemed to work as expected.

![image](https://user-images.githubusercontent.com/32313503/51644097-d044d880-1f23-11e9-8053-edc02f5be352.png)

![image](https://user-images.githubusercontent.com/32313503/51644111-db980400-1f23-11e9-86ab-eff9af05fd1f.png)

![image](https://user-images.githubusercontent.com/32313503/51643820-c8d0ff80-1f22-11e9-877

[2019-01-23 23:33] viktoreinarsson opened #23167 "Unable to start container"
When I try to use this as a module in the IoT Edge Simulator the latest image will not start. The error I receive is this:

[backend] [info] [Tid:1] [MetaStore.cc:95] [Initialize] Initialize MetaStore. Status:IO error: While fsync: a directory: Invalid argument
ColdPathStorage    | [2019-01-23 22:39:06.818] [backend] [error] [Tid:1] [MetaStore.cc:135] [Initialize] DB Open failed with Invalid argum

[2019-01-23 23:33] mattbriggs commented on #20844
@christophkarner I've updated the topic and updated and made the connection reference clearer. Thanks for letting me know.  Get-AzureRMSubscription is used here, as you know to retrieve a list of tenants registered to the tenant for the CSP. Tenant usage is reported under an Azure subscription connected with their Azure Active Directory (Azure AD) tenant. This would work if you are looking at your

[2019-01-23 23:34] deltadan opened #23168 "Custom Header"
The syntax is confusing here for the host header?

hello:domain.com,hello1:domain.com?

or hello:hello.domain.com,hello1:hello1.domain.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fed131c-15d3-3266-3570-08e445eda1b8
* Version Independent ID: fe645535-673e-4c59-0163-be55107b0e58
* Content: [Azure Traffic Manager

[2019-01-23 23:36] jamesbannan commented on #22954
@femsulu so I sent the email as requested and got the following automated response:

[code]
Can you please confirm whether the email was received?

[2019-01-23 23:38] femsulu commented on #22954
Confirmed. i received the mail and will reply shortly. Please disregard the nda message above.

[2019-01-23 23:59] femsulu commented on #23140
Assigning @KrishnaG-MSFT to reproduce the issue. If we are able to repro then we need to work with @bwren to revise the document.

[2019-01-24 00:00] maganvill commented on #22924
Thank you for the clarification and doc update!

[2019-01-24 00:07] jason-j-MSFT commented on #22581
@douglaslMS could you take a look?

[2019-01-24 00:09] Karishma-Tiwari-MSFT commented on #22920
@DavidBerg-MSFT Can you please take a look at customer's question and share your insights?
Thanks. :)

[2019-01-24 00:18] Karishma-Tiwari-MSFT commented on #23128
@OffColour Thank you for your feedback. I have assigned the issue to the content author to review and make updates to the doc as appropriate.
@bobbytreed Can you please take a look? Thanks :)

[2019-01-24 00:31] Alberto-Vega-MSFT commented on #22810
@francman The sample app is broken. There is a workaround that you can see here https://github.com/MicrosoftDocs/azure-docs/issues/23151 I will be reporting this to the  owners of the samples repo.

[2019-01-24 00:35] TravisCragg-MSFT commented on #16506
@simonua my apologies for taking so long to get to this. Unfortunately there is not a good way to specify a default document page using Custom Caching Rules. The best way to set this behavior is to create a global rule for the index document, and then custom rules for your other pages.

If you would like us to add a way to describe the default document in custom caching rules in the future, please

[2019-01-24 00:35] #16506 closed

[2019-01-24 00:44] Mike-Ubezzi-MSFT commented on #23163
@jatinder-bains Thank you for bringing this to our attention. Can you detail which client library you are working with (.NET, .NET Core, etc.) and the version of that client library? Looks like you are using .NET Core 2.2.1?!  Also, did you create a firewall rule to allow traffic from the IP address your Visual Studio instance is running from? If all these check out, you could try rotating the key

[2019-01-24 00:48] Mike-Ubezzi-MSFT commented on #23150
@karthikthangapandian Thank you for bringing this to our attention. Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? I suggest you open a support ticket for this. If you do not have a support plan, can you send your subscription GUID to AzCommunity at Microsoft.com and I can have a one-time incident ticket created to address this specific issue. This needs to

[2019-01-24 01:09] Karishma-Tiwari-MSFT commented on #23144
@iainfoulds I checked here https://github.com/helm/charts/tree/master/stable/acs-engine-autoscaler and could not find stable/aks-engine-autoscaler.
As shared by the customer, acs-engine-autoscaler existed before but is deprecated now. Can you please confirm and I am happy to remove the mention of aks-engine-autoscaler from the document.
@davidmatson Thanks for the feedback! I have assigned the iss

[2019-01-24 01:17] femsulu commented on #23138
@v-maudel, @JuanCarlosLloret Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-24 01:21] femsulu commented on #23114
@ericcwk Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-24 01:30] gbagate commented on #6799
Regarding last concern if we can use SSMS wizard to create/configure the listener.
Well, there is no issue with this. You can indeed use the SSMS Wizard to configure the listener while creating the Availability Group (AG) role or later on.
The documentation just try to break down what is going on behind the scene. It walks users through the Availability Group (AG) creation, then the listener by us

[2019-01-24 01:31] SaurabhSharma-MSFT commented on #23029
@jvdjeery I have followed the document steps and I am still trying to understand when you do you need to send Google to review the application as I am able to create the application with client id and secret in the Google developer's portal without any issues.
![image](https://user-images.githubusercontent.com/38112130/51648258-9e883d80-1f34-11e9-8f31-1d3e2b6cd5af.png)

[2019-01-24 01:31] SaurabhSharma-MSFT commented on #23162
@hildebranda Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-24 01:32] SaurabhSharma-MSFT commented on #23165
@hildebranda Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-24 01:33] SaurabhSharma-MSFT commented on #23148
@vikaskumawat80 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-24 01:35] imeya opened #23171 "Error "BadRequest" occurs when create a event hubs using c#"
I'm using event hubs management libraries to create event hubs.

when I set the destination to blob storage, the event hubs can be created successfully.

But when I set the destination to azure data lake storage, the following error occurs: Microsoft.Azure.Management.EventHub.Models.ErrorResponseException: 'Operation returned an invalid status code 'BadRequest''. Btw, in azure portal, I can manual

[2019-01-24 01:36] bgklein opened #23172 "Low Priority Eviction EventType"
https://azure.microsoft.com/en-us/blog/low-priority-scale-sets/ links to this document. Is there documentation on what state a VM that will be evicted will move into?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d877a-81a0-5436-76d9-898303c5bbec
* Version Independent ID: f352ae78-1d3f-a780-554c-fc304ada5a69
* Cont

[2019-01-24 01:38] Karishma-Tiwari-MSFT commented on #23154
@dlepow Can you please help confirm on whether the limit is per container or container group? Thanks :)

[2019-01-24 01:43] maoz123 commented on #23058
Could you help to support this in .Net Framework 4.6.2?

[2019-01-24 01:49] maoz123 commented on #23058
Previously, we use changefeedprocessor library in .Net Framework 4.5.1. For some reason, we project need to upgrade to .Net Framework 4.6.2. But the current library only support .Net Framework 4.5.1. Could we clone the changefeedprocessor source code and upgrade the version to 4.6.2 and build a new nuget package for our internal use. It's a little urgent. Waiting for your response. Thanks.

[2019-01-24 02:01] TravisCragg-MSFT commented on #17973
@jtuliani my apologies for taking so long to get to this. I set up a repro environment and I am able to reverse lookup another VM in the VNET and return the correct private domain suffix, but I get "internal.cloudapp.net" if I lookup the IP of the VM that I am currently on.

What method did you use to do the reverse lookup? I want to get some more information before I push this forward.

[2019-01-24 02:20] JYOTHIRMAISURI commented on #22954
@snehithm

FYIP

[2019-01-24 02:20] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-24 02:21] SumanthMarigowda-MSFT commented on #23155
@paisleypark Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-24 02:22] SumanthMarigowda-MSFT commented on #23149
@squasta Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-24 02:37] Grace-MacJones-MSFT commented on #23143
Hi @MrYossu, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 02:41] kazshi opened #23173 "Audit Log?"
Q. Is there audit log capability?
A. All Notification Hubs management operations go to operation logs, which are exposed in the Azure portal.

==========
Looks like it's the Activity log from the answer to me. Does the Audit Log mean the Activity Log? or Is it different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2019-01-24 03:19] mganeshphani commented on #23153
Thanks .. if that's true.. I am fine to close this ticket

On Wed, Jan 23, 2019 at 7:25 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2019-01-24 03:31] agune001 commented on #22889
This works for me as well! Thanks!

[2019-01-24 03:31] #22889 closed

[2019-01-24 03:35] julianpitt commented on #22785
Is it possible to also add the binding syntax for headers?
e.g. {Headers.x-ms-client-principal-id}

[2019-01-24 03:39] neeleshray commented on #22836
We will proceed to close this thread. Kindly re-open if you need further help.

[2019-01-24 03:39] #22836 closed

[2019-01-24 03:43] jwatkin opened #23174 "Possible typo. "Examples" should be "Example"."
In the following sentence from the first section of this page, "examples" should probably be "example".

"This article walks you through some examples SQL queries ...", should probably be "This article walks you through some example SQL queries ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267e7493-cefe-0e44-b33e

[2019-01-24 03:58] msprateektaneja commented on #23013
Thank you for your reply, @Mike-Ubezzi-MSFT . Here's a link to the document - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-logs-stream-event-hubs

Just need to confirm if the Export to Event Hub from Azure Monitor is in preview or GA?

[2019-01-24 04:31] jakaruna-MSFT commented on #23172
Thanks for the question! We are investigating and will update you shortly.

[2019-01-24 04:45] crazygo commented on #22587
Thank you.
 @YutongTie-MSFT Can I connect to ms service  before any voice sources passed to sdk . I want to prepare a connection before user press “record” button and need less cost

[2019-01-24 04:54] CHEEKATLAPRADEEP-MSFT commented on #23174
@jwatkin Thanks for pointing out the issue, I've addressed this issue in PR [https://github.com/MicrosoftDocs/azure-docs/pull/23175](https://github.com/MicrosoftDocs/azure-docs/pull/23175). The changes should be live EOD or tomorrow.

We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-01-24 04:55] #23174 closed

[2019-01-24 05:07] Alberto-Vega-MSFT commented on #22108
@DaveEM We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 05:07] #22108 closed

[2019-01-24 05:09] SumanthMarigowda-MSFT commented on #23155
@paisleypark Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-24 05:15] jakaruna-MSFT commented on #23118
@oruprogrammer I have assigned the issue to the content author to investigate further and update the document as appropriate.
@jonbeck7  Please review this.

[2019-01-24 05:17] SubhashVasarapu-MSFT commented on #23168
@deltadan Thanks for your feedback. We are currently investigating and will update you shortly.

[2019-01-24 05:21] aspnet4you commented on #21741
"A virtual network can't have any virtual machines with a NIC attached when it links for the first time to a private zone as a Registration or Resolution virtual network."- is a pain! Just to share my experience, I had to create an empty vNET with couple of empty subnets and created private DNS Zone registering with the new vNET. Provisioned a brand new aks cluster with advance networking matching

[2019-01-24 05:30] kazshi opened #23176 "Any performance impacts while upgrading to V2?"
I assume there's no impact for performance while upgrading to V2 since I cannot find any information about that, but I would like to make sure that. And it would be great if it's described in the content.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf5c2f8-d961-6460-194e-caa06ecfafa6
* Version Independent

[2019-01-24 05:56] BryanTrach-MSFT commented on #22690
@jaweekes We have verified with the product group that this feature is no longer considered to be in preview. There have been no features changes to the 'clone app' blade.

We have updated the doc to remove the 'preview' language. The changes should be live in ~24 hours.

[2019-01-24 06:00] BryanTrach-MSFT commented on #22799
The sentenance you referenced in your original post was placed there as customers assumed that when the ceritificate auto-renwed, the binding also updated automatically. At this time, the binding still requires some form of intervention by the user, either by running a script or deleting the old binding and adding a new binding with the updated cert.

Since you are already are running a web app, y

[2019-01-24 06:00] #22799 closed

[2019-01-24 06:05] kazshi commented on #22799
@BryanTrach-MSFT Thanks for your clarification.

[2019-01-24 06:21] jakaruna-MSFT commented on #23172
@bgklein Please refer to this [document ](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-low-priority#eviction-policy) for the Eviction policy.

[2019-01-24 06:31] santo2 commented on #23120
Hi Micah,

I could maybe give some more details, because I don't feel like this was the answer I'm looking for :)
We enabled backup and restore service for service fabric, therefore we created a new certificate in the key vault, which gets added automatically to the virtual machines in the scale set, however they are added in the "local computer" store (not in "my")

we are now getting errors from

[2019-01-24 06:33] shashishailaj commented on #23130
We will be closing this query now. Should you have any further questions feel free to let us know or open a new query referencing this one and we will be glad to assist.

[2019-01-24 06:33] #23130 closed

[2019-01-24 06:40] AshokPeddakotla-MSFT commented on #23167
@viktoreinarsson Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 06:42] jakaruna-MSFT commented on #23161
@zbourdeau Please use the below command to get the list of available SKU's for the publisher _MicrosoftWindowsServer_ and the offer _WindowsServer_.
`Get-AzureRMVMImageSku -PublisherName MicrosoftWindowsServer -Offer WindowsServer -Location <your location>`
Windows server 2019  is available and we need to update the table.

I will assign this issue to the content author to update the document as a

[2019-01-24 06:44] jakaruna-MSFT commented on #23161
@dlepow Please take care of this issue

[2019-01-24 06:45] jakaruna-MSFT commented on #22958
@vicperdana  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-24 06:45] #22958 closed

[2019-01-24 06:47] jakaruna-MSFT commented on #22749
@badalk I will close this out for now. We will track the progress of this implementation in user voice.

[2019-01-24 06:47] #22749 closed

[2019-01-24 07:00] AjayKumar-MSFT commented on #23158
@chrisjau, Thank you for your question and feedback! You have stated that, ‘I had to add the app ID from the front-end app to the backend’, so just to confirm, were you able sort out the issue after making the changes? Adding the function 'OnActionExecuting' typically performs, to fetch details on why the api call returned a detailed investigation may be required.
Also, just to clarify and better

[2019-01-24 07:05] bgklein commented on #23172
The specific question refers to this section of the linked article:

"Notifications (coming soon): Users can opt-in to receive in-VM notifications through Azure Scheduled Events. This will notify you if your VMs are being evicted and you will have 30 seconds to finish any jobs and perform shutdown tasks prior to the eviction."

[2019-01-24 07:09] samuela commented on #22816
Great, thank you! Let me know if there's anything I can do to help move things along.

[2019-01-24 07:12] AshokPeddakotla-MSFT commented on #23145
@vcmcstech Please provide more details about the query to understand better and provide the assistance.

[2019-01-24 07:18] xiopeter3345 opened #23181 "The add-storage-account-v01.sh shell script has mixed CRLF and LF issue"
The following snippet of that shell script is terminated by CRLF instead of LF.

for cert in `sudo ls /var/lib/waagent/*.crt`
	do
		SUBJECT=`sudo openssl x509 -in $cert -noout -subject`
		if [[ $SUBJECT == *"cluster-$CLUSTERNAME-"* ]]; then
				CERT=$cert
				break
		fi
	done

The other part of the document is terminated by LF.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-01-24 07:23] vikaskumawat80 commented on #23148
@SaurabhSharma-MSFT The issue has been resolved.

[2019-01-24 07:23] #23148 closed

[2019-01-24 07:30] merso0027 commented on #5131
I have same issue, is there some fix for this now?

[2019-01-24 07:31] AjayKumar-MSFT commented on #23173
@kazshi, Yes. The Activity Log was previously known as Audit Logs or Operational Logs since it reports events for your subscriptions. The Azure Activity Log is a log that offers insights into the operations performed on resources in your subscriptions.
Just to highlight further, using the Activity Log, you can determine the what, who, and when for any write operations (PUT, POST, DELETE) made for

[2019-01-24 07:32] Grace-MacJones-MSFT commented on #23005
@jtheisen yes, currently there are only three clients (C#, JavaScript,Java ) supported by Azure SignalR. However, more clients will be supported in the future. Can you give more information about the expected scenario of your application, so that we can possibly recommend a solution/workaround before the Python client SDK is available? Thanks

[2019-01-24 07:37] kazshi commented on #23173
@AjayKumar-MSFT Thank you for the clarification. That what I assumed and it makes sense now. Could you please update the content using the current UI terms to make it clear?   Thanks.

[2019-01-24 07:39] krottiers opened #23184 "Service Principal ACR Role assignment"
Role for the AKS service principal on the ACR should be AcrPull instead of Reader to make sure it's the least priviliged possibility.
az role assignment create --assignee &lt;appId&gt; --scope &lt;acrId&gt; --role acrpull

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5
* Version Inde

[2019-01-24 07:40] emilkje commented on #23001
Thanks for the reply @TylerMSFT As long as the 1803 image is still working I'm a happy camper. I'll keep an eye out for issues going forward.

[2019-01-24 07:40] #23001 closed

[2019-01-24 07:44] dcbrown16 opened #23185 "Notifications"
Do the backup failure notifications and the activity log notifications for backup success work with Azure File share backup?
The method is described only for Azure VMs.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-monitor-vms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e17c54-1231-159f-612a-e4e8f0778

[2019-01-24 07:51] #22690 closed

[2019-01-24 08:15] jjindrich commented on #17578
Thanks, will be compatible with previous version ?

[2019-01-24 08:16] kazshi commented on #23173
@AjayKumar-MSFT Sorry re-opening to track for fix the issue since the current content makes confusing (actually the question is from my customer).

[2019-01-24 08:36] AjayKumar-MSFT commented on #23173
@kazshi, Thank you for your feedback on this item. I have assigned the issue to the content author (@jwargo) to review further and update the document as appropriate.

[2019-01-24 08:48] elang-bmrn opened #23186 "Service Now support for London release"
The documentation above lists support for "ServiceNow supported versions: Kingston, Jakarta, Istanbul, Helsinki, Geneva.".

Service Now released its London version in September 2018: https://servicematters.servicenow.com/2018/09/05/announcing-the-servicenow-london-release/

Does the Azure / Service Now integration support this release?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-01-24 08:52] vicperdana commented on #22958
@jakaruna-MSFT thanks for the quick response - you can close this item.  I'll re-open if needed.

[2019-01-24 08:57] jtheisen commented on #23005
@Grace-MacJones-MSFT Scenario is: Potentially thousands of clients, events are rare (they can be on "standby" for days without any event save heartbeats) and only the direction towards the client is interesting (the other direction I can use regular http for).

The application is a digital signage solution, and SignalR would be used for some special interactive mode in which the displays are used

[2019-01-24 09:02] jawn opened #23187 "Clarify that Single URL ping tests are free to run"
I suggest clarifying on this page that (Single) URL ping tests are free to run, as explained at https://azure.microsoft.com/en-us/pricing/details/monitor/

If this had been explicitely mentioned, I would have used them much sooner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Ve

[2019-01-24 09:17] lawrencegripper commented on #23141
Awesome, thanks!

[2019-01-24 09:21] Anmolgan81 opened #23188 "How can we copy multiple S3 Folders into storage account in 1 pipeline"
How can we copy multiple S3 folders into storage account in 1 single pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d4797-888a-ee10-f3e8-67b990e2f893
* Version Independent ID: ecc41588-d311-36e0-7257-914dac216c17
* Content: [Copy data from Amazon Simple Storage Service using Azure Data Factory](https://doc

[2019-01-24 09:23] ArvidBaa commented on #20351
@salilbapat - Of course. But should I post it here, or in some more private discussion? I'm not sure if there are parts in the error message that I should keep secret.

[2019-01-24 09:26] UtsaVakani opened #23189 "EventData myEventHubMessage has no property Body"
log.LogInformation($"Event: {Encoding.UTF8.GetString(myEventHubMessage.Body)}"); gives an error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa
* Content: [Azure Event Hubs bindings for Azure Functions](https://docs.micro

[2019-01-24 09:27] imeya opened #23190 "How to use psexec for remoting executing on azure vm?"
I want to use the tool psexec to open an .txt file on the azure vm(win server 2016), but always error: "The network path was not found. Make sure the default admin$ share is enabled on (publicIP)."

Even if I go to the azure vm and enable the admin$ by using "net share admin$", still receive this error.

the code like below:

`psexec \\(publicIP) -u(username) -p (password) -i -d notepad`

can you

[2019-01-24 09:34] AmanGarg-MSFT commented on #23187
@jawn Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-24 09:35] darivuki opened #23191 "How to configure"
How do I configure/use this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e39e477a-bfe2-db78-c641-42a491359f9b
* Version Independent ID: 729dac36-2148-549f-dfde-f8e38d2cf371
* Content: [Smart Detection - Security Detection Pack with Azure Application Insights](https://docs.microsoft.com/en-us/azure/azure-moni

[2019-01-24 09:48] jtuliani commented on #17973
It's a while ago! I was just doing NSlookup between Windows VMs. Within a VNet and across VNets

[2019-01-24 09:49] DeanGross commented on #22836
The code sample includes Get-Module AzureADPreview
Install-Module AzureADPreview
Connect-AzureAD

I think that it should be the following,
Get-Module AzureAD
Install-Module AzureAD
Connect-AzureAD

Telling us to use the AzureADPreview module is no longer necessary

[2019-01-24 09:52] forester123 opened #23193 "Missing E4 & E6 SSD information"
E4 & E6 are updated in pricing page https://azure.microsoft.com/en-us/pricing/details/managed-disks/ already

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d07c2ac0-85d0-0041-6ffa-7fd351de1391
* Version Independent ID: d8c48b61-26bb-3735-be90-e2bf5311f75d
* Content: [Scalability and performance targets for VM disks on

[2019-01-24 09:52] AmanGarg-MSFT commented on #23191
@darivuki Thank you for the question! We are investigating this and will get back to you shortly.

[2019-01-24 09:56] neeleshray commented on #22906
The tenant name can contain characters and numerals, however special characters are not permitted.

[2019-01-24 10:03] tristian2 commented on #22196
hi all,

thanks for your help.  i had some dodgy documentation, for the QnAEndpointHostName, specifying the full uri got things working, for example

https://fredssharepointqnamakerapp.azurewebsites.net/qnamaker

and not
fredssharepointqnamakerapp

[2019-01-24 10:03] #22196 closed

[2019-01-24 10:04] Rickinio opened #23194 "Issue with Version 2 VI Widget BaseUrl for trial account"
Hi,

I have a trial account and want to migrate to V2, you say that now the base URL contains the location eg https://wus2.videoindexer.ai/embed/insights/... but what is the URL for the trial account?
Based on the documentation here:
https://docs.microsoft.com/en-us/azure/media-services/video-indexer/video-indexer-use-apis#location
For trial accounts the location parameter is trial.
I tried trial.

[2019-01-24 10:04] jakaruna-MSFT commented on #23184
@krottiers Thanks for reporting.
acrpull role is enough. In the detailed document  [to grant AKS access to ACR](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks#grant-aks-access-to-acr) , acrpull role is used.

@iainfoulds Please provide your comments

[2019-01-24 10:06] neeleshray commented on #22743
@rbrayb
In the document, for the _UserJourneyBehaviors_ the same sequence has been mentioned. With _SingleSignOn_ Scope being first.
![singlesignon scope](https://user-images.githubusercontent.com/31060822/51670931-c7203e00-1fed-11e9-83d7-be38c9d14bef.jpg)

Let us know if you need further assistance on this.

[2019-01-24 10:08] sergaz-msft commented on #21426
We have enhanced the doc and it will be merged soon. Thank you for your feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 10:08] #21426 closed

[2019-01-24 10:09] sha1992 commented on #21314
Hi Guys,

As per your suggestions, I got windows 10 setup within my organisation to test this API but still i am getting same error code 11001 while trying it with C#.

I tried it with Rest Api postman its working fine through that app but sample code you hsve provided is not working. I need your assistant  to set it up on my system. We have some urgent use cases where we can use this API but atle

[2019-01-24 10:09] shashishailaj commented on #22717
@djhallxyz The roles claim is available within the JWT token only when we are using client credential flow to obtain tokens from Azure AD . You can see the same within the manifest once you grant admin consent to the application.
![image](https://user-images.githubusercontent.com/532022/51670888-b243aa80-1fed-11e9-856c-0419954f1dea.png)

You can see the requiredresourceaccess section defines all t

[2019-01-24 10:10] rupalgohel opened #23195 "Azure AD - get user's profile photo, SSO"
I'm trying to access the signed in user's Profile Photo in AAD entrprise application using Single Sign-on.
any help is much appreciated.

[2019-01-24 10:11] FlippieCoetser opened #23196 "Python Examples Missing"
Although, [reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table#packages---functions-2x) is made for support for table storage using python, no clear examples using Python are described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* V

[2019-01-24 10:12] KrishnaG-MSFT commented on #23114
@ericcwk To diagnose the issue in a better way, can you please elaborate the context of the issue ?

Are you trying to find out the supported metrics related to disks to create alert rule ?

Also, can you please provide more information with regards to the statement "_Since the disk type metric may need the Lun information to display, the template will cause nested dataset error_" ? Can you share

[2019-01-24 10:13] neeleshray commented on #21963
@lonevvolf
The ports are to be configured on the NSG and should not blocked for Inbound.

[2019-01-24 10:16] paulpuvi06 opened #23197 "Not able to replace AKS server APP ID Key for RBAC"
I need to replace AKS server AAD APP secret key, have tried ARM template increment deployment to achieve this, but failed with following error.

New-AzureRmResourceGroupDeployment : 2:00:42 PM - Error: Code=PropertyChangeNotAllowed; Message=Provisioning of resource(s) for container service
test-aks-emea in resource group test-emea-kubernetes failed. Message: {
  **"code": "PropertyChangeNotAllowed

[2019-01-24 10:19] neeleshray commented on #22706
When you send an invitation to a Google Gmail user, the guest user should access your shared apps or resources using a link that includes the tenant context. For example - `https://myapps.microsoft.com/<tenant id>`

Common endpoints like `https://myapps.microsoft.com` or `https://portal.azure.com` would not work.

[2019-01-24 10:21] voronkovsergey opened #23198 "FunctionNameAttribute works fine in my WebJobs project."
The section https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-webjobs-sdk#functionname says that attribute FunctionName is not supported in WebJobs projects. But in my WebJobs projects it works fine. Is it mistake in this document or I've missed some important details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-01-24 10:22] YutongTie-MSFT commented on #23166
@rboy1 Hi, I think you are looking for the following document: https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference

[2019-01-24 10:32] SumanthMarigowda-MSFT commented on #23176
@kazshi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-24 10:32] jtuliani opened #23199 "Bullet indent issue"
The last two bullets in the opening bullet list should be indented (from Level1 to Level2 bullets)

I tried to submit a PR but that didn't work, just took me to an error page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ca129e-6ffc-767b-3f1b-3c56cb822e76
* Version Independent ID: 6383735e-1be0-ee09-e381-af054f6448

[2019-01-24 10:39] FreakyAli opened #23200 "Up to date this document."
There are a lot of places in this document which is not up to date which is causing many newbie developers to go bizarre in confusion, One of such is the part where there is nothing in regards to the Notification Channel which is a key part in Android Push Notifications as of Android Oreo(v8.0).

Kindly Update the Documentation.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-01-24 10:39] wolfma61 commented on #21314
take a look at the sample repo at https://github.com/Azure-Samples/cognitive-services-speech-sdk
The samples are tested daily in our builds and are guaranteed to work.
Take a simple test (RecogniceOnceAsync) and try, if you have valid subscription key there should be no issue at all
are you in a corp environment with proxy?
setting the proxy information might be required (something which might get

[2019-01-24 10:39] AmanGarg-MSFT commented on #23191
@darivuki Application security detection pack (preview) feature should be enabled by default for your Applications Insights instance. You can check for it under "Smart Detection" blade in Application Insights:

1. Browse to your Application Insights instance on the Azure Portal.

<img width="685" alt="1" src="https://user-images.githubusercontent.com/44466503/51672557-c2f61f80-1ff1-11e9-86bd-1af2e

[2019-01-24 10:42] walima0103 opened #23201 "On Studio 3T: Command failed with error 13: 'Not Authenticated' on server xyz:10255"
Following the doc to connect CosmosDB (mongo api) from Studio 3T, we,ve got this error:

Database error (MongoSecurityException): Exception authenticating MongoCredential{mechanism=SCRAM-SHA-1, userName='xyzUserName', source='admin', password=&lt;hidden&gt;, mechanismProperties={}}

Stacktrace:
|_/ Database error (MongoSecurityException): Exception authenticating MongoCredential{mechanism=SCRAM-SH

[2019-01-24 10:47] voronkovsergey opened #23202 "What is the Version field used for?"
I've noticed that storage account tables xxxHistory and xxxInstances contain the Version field. Is any way to use this field to update my activities and orchestrators?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b735d777-d93c-8e8f-ee3f-2a10857c49a2
* Version Independent ID: e65714b1-bbae-c0e2-1484-0e7d38a89758
* Con

[2019-01-24 10:53] jatinder-bains commented on #23163
Thank you for your prompt response, Mike.
Yes, it was the firewall configuration on my Cosmos DB account. Adding my dev machine's public IP address or configuring the firewall to allow access from all networks resolved the problem.

Given that most people reading such 'getting started' documentation are likely to be relative newbies to the technology I think it may be worth mentioning the  firewal

[2019-01-24 10:57] SadiqhAhmed-MSFT commented on #22802
@branstraub  The query needs a further deeper dive technically. I recommend you to create a technical support ticket. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue. Here is the link https://docs.microsoft.com/en-in/azure/azure-supportability/how-to-create-azure-support-request to create support case. If you do not have the ability to ope

[2019-01-24 10:57] #22802 closed

[2019-01-24 11:07] hensilva commented on #23035
I tried this with the Links property, without success. Same error message appears.

    "links": [
    ],

I'm not referencing a VHD file anywhere, just an previously uploaded image to the Azure Stack.

          "storageProfile": {
            "imageReference": {
              "publisher": "RedHat",
              "offer": "RHEL",
              "sku": "7.5",
              "version": "latest"

[2019-01-24 11:07] SamirFarhat opened #23203 "Publish Bitbicket Git endpoint via Azure AD Application proxy"
Hi,
We are trying to publish a git endpoint (bitbucket server) via Azure AD Application proxy but it fails.
Is that supported and enters in the supported like described here:
Application Proxy works with:

Web applications that use Integrated Windows Authentication for authentication
Web applications that use form-based or header-based access
Web APIs that you want to expose to rich applications o

[2019-01-24 11:22] KetanChawda-MSFT commented on #23198
@voronkovsergey Thank you for your feedback! We will review and update as appropriate.

[2019-01-24 11:22] sha1992 commented on #21314
Hi thanks for quick response,

Yes i am trying one of the sample code from link you mentioned  above and i am working on corp environment. I tried setting proxy using config.SetProxy method of speechconfig and provided all required host, uname, password details still getting same error also i tried setting proxy directly from windows internet option too. Not sure where there is any another approch

[2019-01-24 11:23] KetanChawda-MSFT commented on #23196
@FlippieCoetser Thank you for your feedback! We will review and update as appropriate.

[2019-01-24 11:30] AjayKumar-MSFT commented on #23200
@FreakyAli, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-24 11:31] TimorKalerman opened #23204 "Support for gzip compression on response?"
I know that Nginx for example do have such thing, is it something that is supported or will be in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions for Azure Application Ga

[2019-01-24 11:48] sha1992 commented on #21314
Hi,

Finally got it working. You were right  issue was from my side while setting proxy. I included  http// hostname earlier  thats why it was failing. Now when i tried with only hostname it worked.

Thanks for your assistance.

[2019-01-24 11:52] yaench commented on #23147
@guidooliveira the result set is paged. You need to check the "nextLink" property and if it exists, there is more data.

`$usageRest = Invoke-RestMethod -Uri $usageUrl -Headers $authHeaders -Method GET
[...]

while ($null -ne $usageRest.nextLink) {
    $usageRest = Invoke-RestMethod -Uri $usageRest.nextLink -Headers $authHeaders -Method GET
[...]
}`

see docs:
[https://docs.microsoft.com/en-us/res

[2019-01-24 12:02] ghilead opened #23205 "How do credentials work?"
The process of adding credentials is straightforward, however, it's not very clear what those certificates should be, where should they be coming from, how to generate them, in order to make that connection secure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 695510be-a383-1fd6-f0d3-5109fa24bad9
* Version Independent

[2019-01-24 12:03] brianpdk opened #23206 "Connect to fileshare commandlets wont work if password start with a slash (/)"
This will not work.

$acctKey = ConvertTo-SecureString -String "/tHsmHuVdGOj5wtNX0gIDlyuzwwCFDywtJXWQJPVxxreEY4Pnij6Snuvjp5GjlYJBw/X/kWm0txdbn8tqZjsMg==" -AsPlainText -Force
$credential = New-Object System.Management.Automation.PSCredential -ArgumentList "Azure\user", $acctKey
New-PSDrive -Name Z -PSProvider FileSystem -Root "\\2\share1" -Credential $credential -Persist

net use Z: \\tekusersa.fil

[2019-01-24 12:03] AmanGarg-MSFT commented on #23191
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-24 12:03] #23191 closed

[2019-01-24 12:06] AshokPeddakotla-MSFT commented on #23181
@xiopeter3345 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-24 12:07] snehithm commented on #22954
@jamesbannan what you state is indeed correct. You need a HI account to install any ServiceNow marketplace app (Service Now restriction). We have a demo set up for field to use, I've sent you an email with next steps.

[2019-01-24 12:08] wolfma61 commented on #21314
thank you for the notice ...
glad it worked ...
good feedback on leaving off the http in the hostname, we will take a look to make it more clear in the documentation

[2019-01-24 12:19] ChiragMishra-MSFT commented on #23188
@Anmolgan81 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-01-24 12:22] jakaruna-MSFT commented on #23193
@forester123 Thank you very much for reporting.
I will assign this issue to the content author to investigate further and update the document as appropriate.

[2019-01-24 12:23] christopherpcosta commented on #23024
Snippet moved to:
https://github.com/robotechredmond/Azure-PowerShell-Snippets/tree/master/MicrosoftAzureServiceFabric-AADHelpers/AADTool

[2019-01-24 12:32] jastrzab666 opened #23207 "Azure AD Security groups support - SharePoint 2016 Trusted Identity Provider"
Hi,
Are Azure AD security groups supported in SharePoint On-Prem + Azure AD? I can resolve single users, but I cannot resolve groups in any way, neither can I find any information on this topic.
Thanks,
Maciek

[2019-01-24 12:33] jastrzab666 commented on #23207
Hi,

Are Azure AD security groups supported in SharePoint On-Prem + Azure AD? I can resolve single users, but I cannot resolve groups in any way, neither can I find any information on this topic.

Thanks,
Maciek

[2019-01-24 12:44] reubster commented on #6226
I don't agree that this should be closed. It's a standard requirement to be able to deploy from the command line.

There is a lack of documentation on this, as well as a shortfall of tools. If there is an MS recommended pattern for this, it should be documented in the relevant section above.

If there's not a pattern.. there needs to be.

[2019-01-24 12:45] dragonkoko opened #23209 "Double "import requests""
Hi, in the python code snippet, requests is imported twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9415d8d-a30c-42f9-989c-c7b3a79d7108
* Version Independent ID: b7b8ae97-1801-42b1-431e-c96ca5e958f7
* Content: [Create client to consume deployed web service - Azure Machine Learning service](https://docs.microsof

[2019-01-24 12:50] lsmith999999 commented on #23166
Come on, that's not enough. You guys are phasing out the old API and forcing everyone to update their code and there's no clear example in C# code on how to do this. Moreover, it presumably means that all existing customers of anyone whose software relies on V2 will find the MSFT translator no longer works after April 30th. If so and I'm not even 100% certain (I assume that's what it means), great

[2019-01-24 12:57] SubhashVasarapu-MSFT commented on #23204
@TimorKalerman Thanks for your feedback. We are currently investigating and will update you soon.

[2019-01-24 13:03] lsmith999999 opened #23210 "Very poor examples"
Agreed with "rboy1". See my response to his issue here (in reply to MSFT's response): https://github.com/MicrosoftDocs/azure-docs/issues/23166#issuecomment-457185373

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9aa16f-9c7a-089a-8249-24a3902906e6
* Version Independent ID: 886ef069-4001-3544-31ba-e4ef13fb62af
* Conte

[2019-01-24 13:05] angoyal-msft commented on #23201
@walima0103 Thanks for your feedback. Could you please try using --authenticationDatabase along with your command to see if that helps.

I have found similar thread for SASL Authentication failed.

https://stackoverflow.com/questions/38744131/server-returned-error-on-sasl-authentication-step-authentication-failed

Hope it helps.

[2019-01-24 13:21] roysuman088 commented on #19317
Hi, I'm facing the same problem also. I'm also using my PC credentials but always connection failed. Please try to help with this issue. Thanks

[2019-01-24 13:33] rbcoach opened #23211 "Return code azcopy on Linux"
Hi,

is possible to check why `azcopy` return code 1 after execution `azcopy --help` or `azcopy --version`? Standard linux commands/utils return code 0.

I need it to verify if `azcopy` installed and view actual version.

Thank you for feedback.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-caff-918

[2019-01-24 13:36] Kilafer commented on #12247
@jeevansd Hi. Do you have any updates about Jira Service Desk 3.8 compatibility?

[2019-01-24 13:40] raja4014 opened #23212 "Unable to login in SSMS"
After granting the access using the following command, i was unable to login in SSMS with the same user id which i have used in the command
az sql server ad-admin create --resource-group myResourceGroup --server-name &lt;server_name&gt; --display-name &lt;admin_user&gt; --object-id &lt;principalid_from_last_step&gt;

I want to use another user other than "ad-admin" in the above command

---
#### D

[2019-01-24 13:42] fgebhardt opened #23213 ".NET Core 2.2 scaffolding not fully working"
Just in case somebody stumbles upon this, too, I am using netcoreapp2.2:
I had to manually add the following nuget package:
&lt;PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="1.7.1" /&gt;
Azure Functions and Web Tools package for VS 2017 is 15.10.2046.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-24 13:44] jwargo commented on #23173
@kazshi done, docs updated. @AjayKumar-MSFT please close this issue.

[2019-01-24 13:48] jwargo commented on #22763
@ronakmob We're aware that Google is deprecating GCM and migrating everyone to FCM. We're working on a product and doc update to reflect this and will publish them as soon as the doc update is done.

Right now everything should work as expected as Google hasn't shut down GCM yet. If you're having problems, please contact support.

@AjayKumar-MSFT Please close the issue - docs update pendingl

[2019-01-24 13:58] AlexanderTodorovic opened #23215 "Maximum file size speech to text?"
Dear All,
what is the maximum file size for speech to text with the SDK? Is it somewhere mentioned in the documentation?
We're running into this error "ERROR: Runtime error: alex.wav exceeds the maximum allowed file size
(19200044)."
Thanks,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e711a5c-1afa-ed43-3918-7a

[2019-01-24 14:00] tfitzmac commented on #23053
@KeiroKamioka0000 - thanks for this feedback. I have updated the article to show how to get those values.

[2019-01-24 14:00] tfitzmac commented on #23053
#please-close

[2019-01-24 14:06] deltadan commented on #23168
I figured out to use host:namehere, but can I not use two host headers on the same profile?  I want to used app1, app2 going into my AKS cluster.  it seems that i will need to use a canary page running on the AKS cluster to just see if the ingress controller is up with using TM with AppGateway, AKS?  Also, would love to see an artcle exactly what this: TM, AppGateway, AKS, multi-app?  Can jump on

[2019-01-24 14:13] AjayKumar-MSFT commented on #23173
@jwargo, Thank you!
@kazshi, We will close this out but if you feel you need more information please just let us know.

[2019-01-24 14:13] #23173 closed

[2019-01-24 14:15] vcmcstech commented on #23145
This happens due to diahostservice not having logon as service right in local security policy

[cid:image001.png@01D4B3AC.3C9DFA40]

Log Name:      Application
Source:        MsiInstaller
Date:          1/23/2019 8:45:06 AM
Event ID:      11923
Task Category: None
Level:         Error
Keywords:      Classic
Description:
Product: Microsoft Integration Runtime -- Error 1923. Service 'Integration Run

[2019-01-24 14:16] shashishailaj commented on #23205
@ghilead thank you for your query . We will investigate and update this thread further.

[2019-01-24 14:20] shashishailaj commented on #23203
@SamirFarhat thank you for your query . We will investigate and update this thread.

[2019-01-24 14:20] KetanChawda-MSFT commented on #23198
@voronkovsergey Its a tweak as Azure Functions is built on the WebJobs SDK and the document syas that in a WebJobs SDK project, the **method name of a function** is the **function name**.

**Example:**

[code]
You may not get any compile time error but during the function execution it may throw an error something as **_"System.ArgumentException: The function 'HelloSequence' doesn't exist, is disab

[2019-01-24 14:25] AjayKumar-MSFT commented on #22763
@jwargo, Thank you!

[2019-01-24 14:25] #22763 closed

[2019-01-24 14:41] voronkovsergey commented on #23198
Is it ok to use [FunctionName("someFunction")] and call this orchestrator as client.StartNewAsync("someFunction", input: null) in WebJobs?

[2019-01-24 14:43] tfitzmac commented on #22649
@prara06 - if you trying to monitor compliance, the right way to do that is with [Policies](https://docs.microsoft.com/en-us/azure/governance/policy/). If you just want to get a list of resources without tag, you could something like the following in PowerShell:

$allnames = (Get-AzureRmResource).Name
$nameswithtag = (Get-AzureRmResource -Tag @{test="one"}).Name
$allnames | ?{($nameswithtag -notco

[2019-01-24 14:46] jaypaddy opened #23216 "Detach a SAS-Attached Services"
Im having challenges remove a SAS-Attached Services connection. I made a mistake in the URI and it has a typo. While Im able to add a new SAS-Attached service, I can never browse to it, as the one with the typo is blocking browsing any other SAS-Attached services.

How do I remove\detach SAS-Attached Service. I tried uninstalling and installing it again, all my past connections come back up. I hav

[2019-01-24 14:47] tfitzmac commented on #22649
I am going to hold off on adding this example to the article for now, but if I hear this is a common scenario I will add it later.

[2019-01-24 14:47] tfitzmac commented on #22649
#please-close

[2019-01-24 14:48] jwargo commented on #23200
@FreakyAli We just started an update to address the migration from GCM to FCM, so you'll see a refresh in the next couple of weeks.

[2019-01-24 14:48] jwargo commented on #23200
@AjayKumar-MSFT please close the issue as a refresh of this doc (and related) is forthcoming.

[2019-01-24 15:04] KetanChawda-MSFT commented on #23196
@FlippieCoetser I have assigned it to content author to review and take appropriate action.

[2019-01-24 15:06] kalanzai opened #23217 "No mention of Family 6"
It is possible to select Guest OS Family 6.(0,1,2) Windows Server 2019 in the Azure Portal, but there is no mentioning of this family here on the page. In particular I'm interested in which versions of the .NET Framework comes preinstalled on Family 6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4add3-448c-8bd4-3

[2019-01-24 15:15] rboy1 commented on #23166
@YutongTie-MSFT. That page isn’t helpful in migrating a V2 setup that’s using the Microsoft Service Refernce to V3. That page only works if one wants to build a new translator service from scratch for V3

I’m very disappointed that exists not relatively easy mechanism to the V2 Service Reference from V2 to V3. The V3 page doesn’t even contain sample C# code that can be used to recreate a V3 setup.

[2019-01-24 15:17] prara06 commented on #22649
I am looking for remediation usecase for all resources without tags..
Could you please update script and share

Sent from my iPhone

On Jan 24, 2019, at 8:48 AM, Tom FitzMacken <notifications@github.com<mailto:notifications@github.com>> wrote:

I am going to hold off on adding this example to the article for now, but if I hear this is a common scenario I will add it later.

—
You are receiving thi

[2019-01-24 15:21] KetanChawda-MSFT commented on #23198
@voronkovsergey  The intent of the document is to explain that WebJob SDK doesn't support it but C# allows decorating methods with attribute and can be resolved. It won't add anything to the code and `Orchestrator` will use the same name to start the activity. I don't think it's necessary to use `FunctionName` attribute as its undefined behavior.

[2019-01-24 15:24] voronkovsergey commented on #23198
Thanks.

[2019-01-24 15:27] KetanChawda-MSFT commented on #23198
@voronkovsergey We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 15:27] #23198 closed

[2019-01-24 15:32] OffColour commented on #21018
Yes, I've taken a look a bit more but can't find any way of doing it that can be fully automated using any technology. Even the runbook approach requires manually adding a VM manually first: "To onboard Azure Virtual Machines at scale, an existing VM must be onboarded with the Change tracking or Update management solution."

Makes sense to close this. Thanks anyway.

[2019-01-24 15:32] #21018 closed

[2019-01-24 15:42] FreakyAli commented on #23200
Hi All,

Thanks for the swift response and thank you for the update

Regards,
Ali

On Thu, 24 Jan 2019, 8:18 pm John M. Wargo <notifications@github.com wrote:

[2019-01-24 15:45] jtuliani opened #23218 "Portal only?"
No PS / CLI support? Please either give examples, link to docs, or say it's not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14837ce7-40e9-0ea2-9aba-e05be03ff8c9
* Version Independent ID: c72ebfb7-0448-3b9e-6447-e2dff4438ad5
* Content: [Introduction to next hop in Azure Network Watcher](https://docs.micros

[2019-01-24 15:46] mtiwa1983 commented on #18705
Hi,
Is there a way to replace the Sender email account with something like "noreply@domain.com", we want to setup email notifications for our ADF pipelines but do not want to use personal accounts to do that. We were able to do this by using dbmail in on-premise solutions.

[2019-01-24 15:49] vhorne commented on #21727
#please-close

[2019-01-24 15:54] lsmith999999 commented on #23166
@rboy1:

Agreed (see my previous response). Moreover, the examples I could find all depend on .NET 4.X (I need to support earlier versions), Visual Studio 2015 or 2017 (I have to work in VS2013, ironically, to support another technology that MSFT eliminated in VS2015), JSON and NuGet which I know very little about (I had to install NewtonSoft.json as per MSFT's own example, and it's not even MSFT'

[2019-01-24 15:58] mtiwa1983 opened #23219 "Changing Sender with a custom email address"
Hi,
This issue is about Azure Logic Apps: Send Email Action
Is there a way to replace the Sender email account with something like "noreply@domain.com", we want to setup email notifications for our ADF pipelines but do not want to use personal accounts to do that. We were able to do this by using dbmail in on-premise solutions.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-01-24 16:05] vhorne commented on #22871
@jtuliani

Does this work?:
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-multiple-sites-cli#add-backend-listeners

[2019-01-24 16:05] sergaz-msft commented on #15705
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 16:05] #15705 closed

[2019-01-24 16:08] cephalin commented on #21882
@mahamr Thanks for the feedback. I've added the suggested change to the doc and the update should be published within the next day. #please-close

[2019-01-24 16:10] raiye commented on #23217
Adding Pieter

From: Jakob Merrild <notifications@github.com>
Sent: Thursday, January 24, 2019 7:07 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rashmi Iyer <raiye@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] No mention of Family 6 (#23217)

It is possible to select Guest OS Family 6.(0,1,2) Windows Server 2019 in the Azure Portal,

[2019-01-24 16:18] CarlRabeler commented on #23139
PR to fix is pending

[2019-01-24 16:18] SubhashVasarapu-MSFT commented on #21556
@Qq20180503 Apologies for the delayed response. We will update you shortly.We greatly appreciate your patience.

[2019-01-24 16:24] dgonzalezb commented on #23024
Thank you everyone!

[2019-01-24 16:24] #23024 closed

[2019-01-24 16:30] CeciAc opened #23222 ""Storage Account Contributor" can access to the storage account."
@nakamacchi commented on [Thu Jan 24 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1845)

The description says that "Lets you manage storage accounts, but not access to them." But it is wrong.
The "Storage Account Contributor" built-in role can manage the storage accounts, and also can access to them. (Because this built-in role doesn't reject the data read/write actions.)

---
##

[2019-01-24 16:32] tfitzmac commented on #22877
@baywet - thanks for this feedback. I have added that requirement to the article. It should get published this morning.

[2019-01-24 16:34] JamesTerHark opened #23224 "OS Disk is not changing"
I followed the above instructions, received no errors.  Received IsSuccessStatusCode - True,  StatusCode - OK, ReasonPhrase - OK.    And the OS disk did not change to the new disk that I listed.  Still has the old disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ea7e90-b545-258a-3bc8-dd840e1c0835
* Version Indepe

[2019-01-24 16:34] #22877 closed

[2019-01-24 16:37] CeciAc commented on #23222
Hi team,
the user is making a suggestion on the original documentation
thanks!

[2019-01-24 16:38] rbhadti94 opened #23225 "Documentation doesn't detail the structure of the zip file"
This documentation says its possible to deploy a zip file to an API app.
However what should be zipped up isn't detailed? Is it the full project folder? or is it only the published application?

I've tried deploying many sample API applications from here - https://github.com/aspnet/Docs/tree/master/aspnetcore. None of them appear to show and no logs appear for any of these either. Would be nice to

[2019-01-24 16:42] sergaz-msft commented on #23167
Hi @viktoreinarsson . Are you following all the [Prerequisites](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#prerequisites)? Thanks

[2019-01-24 16:46] sergaz-msft commented on #21967
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 16:46] #21967 closed

[2019-01-24 16:49] cijothomas opened #23226 "Update screenshot and documentation to include .net core apps"
the current doc does not have a mention of .net core apps. asp.net core apps targetting .net core 2.0 and .net core 2.1 are currently supported via this mechanism.
Known issues:
Not supported is SelfContained deployement.
Not supported is apps targetting the .NET Framework.
Nor supported is apps targetting .NETCORE 2.2. (infact only .netcore2.0 and .netcore2.1 are currently supported, with 2.2 sup

[2019-01-24 16:49] jerrybowman commented on #23050
Ok. I was running on an Ubuntu 16.10 server. When I tried to update the az cli, I now see I had an error in the `apt-get update` command and it wasn't properly updating the cli, I ran this on my local workstation running Ubuntu 18.04 and was able to get the latest az cli. Everything works now. Come to think of it, when I did the initial testing to see if this would work, I was doing it on my local

[2019-01-24 16:52] cijothomas commented on #23226
Also mention:
APPINSIGHTS_JAVASCRIPT_ENABLED = true - this is NOT required for .NET Core apps as enabling .net core enables client side monitoring as well. However, there is no way to turn off client side monitoring for .net core apps. support for this is coming soon as well.

[2019-01-24 16:53] cijothomas commented on #23226
@mrbullwinkle Michael please ping me when if you have questions about this - we are getting lot of questions in multiple forums about .net core support, and it'd be best to update the docs sooner!

[2019-01-24 16:55] tfitzmac commented on #22511
@sandormakai - thanks for making us aware of the missing resources. I am adding those to the list.

Unfortunately, there is not a way to query this information from PowerShell.

[2019-01-24 16:56] khushi2091 opened #23227 "Response status code does not indicate success: 401 (Unauthorized). while Azure func app deployment in App Service Plan"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abef7f30-e567-384c-a448-6240bfe5b7a7
* Version Independent ID: 7f63bacb-bfce-083d-2ba4-d0c03cf17b69
* Content: [Create a function app on Linux in an Azure App Service plan](https://docs.microsoft.com/en-us/azure/azure-functions/create-function-app-linux-app-service-plan)
*

[2019-01-24 17:07] #22511 closed

[2019-01-24 17:08] jerrybowman commented on #23050
Followup:

1.  I was able to install the correct version on my 16.10 Ubuntu server using the script as documented here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest
2. While trying to resolve this, I cheated by just getting the resource group and the cluster name and calculating the name, obviously knowing this was short term as it could change, but it w

[2019-01-24 17:13] ccarls-cloudfit opened #23228 "Unable to determine caller of Runbook"
I have configured my Automation account diag settings per the provided guidance and while I see most of the fields provided above, neither Job Logs nor Job Stream entries have a Caller_s field applied to them which make's it tough to audit which Automation Operator has initiated a Runbook Job. Beyond stamping the identity into the output stream, is there another way to audit who initiated the exec

[2019-01-24 17:15] Alberto-Vega-MSFT commented on #23215
@AlexanderTodorovic Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 17:16] mattbriggs commented on #23117
@DaveDXC @TravisCragg-MSFT Thanks for your question. I forwarded it and will let you know as soon as I get an answer. Thanks, Matt #in-progress

[2019-01-24 17:16] daveba commented on #23042
@JohnMiner3 Have you performed the steps in the prerequisites section below?  I ask because I setup a clean environment, performed the actions in the prerequisites and the commands in the article completed successfully.

If you are running PowerShell locally, you also need to:
Run `Login-AzureRmAccount` to create a connection with Azure.
Install the latest version of `PowerShellGet`.
Run `Install-

[2019-01-24 17:19] Alberto-Vega-MSFT commented on #23210
@lsmith999999 Thanks for your valuable feedback. I have assigned this issue to the content author to evaluate and update the docs as appropriate.

[2019-01-24 17:23] kobulloc-MSFT commented on #23226
@cijothomas Thank you for your feedback!  We are assigning this to the document author so they can update the docs accordingly.

[2019-01-24 17:23] mrbullwinkle commented on #23226
Thanks @cijothomas I will get this taken care of this week.

[2019-01-24 17:23] CeciAc opened #23229 "wrong CLI commands in step 5"
@squasta commented on [Thu Jan 24 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/284)

az sql db tde show-activity -n "DatabaseName" -g "ResourceGroupName" -s "ServerName" ==&gt; doesn't work, should be instead : az sql db tde list-activity -d "DatabaseName" -g "ResourceGroupName" -s "ServerName"

az sql db tde show-configuration -n "DatabaseName" -g "ResourceGroupName" -s "ServerN

[2019-01-24 17:24] Alberto-Vega-MSFT commented on #23209
@dragonkoko Thanks for catching that. If you would like to be a contributor you are more than welcome to  create a PR with this change ;)  Just click on the Edit button on the top right corner, then on the edit button on the repo. This creates a PR with your changes that the content author will review and merge.

[2019-01-24 17:31] pierslawson commented on #19424
I believe the exemption matches on header name (as you say the documentation does not make this clear). What it also does not make clear is that the exemption is only for bad content in the value of a matching header. If the header name itself contains "bad content" the exemption does not work. So a "Starts With" exemption of "_id" does not stop a header name of "_id--xyz" causing a SQL Injection

[2019-01-24 17:32] brentarias opened #23230 "Is "Complete" mode stateful?"
The article is unclear about how exactly the "Complete" deployment mode deletes resources.  Does it achieve its result by exercising a wipe-and-replace of everything in the specified resource group?  If yes, then it is a very dangerous operation and the documentation should highlight that danger.  Or does "Complete" surgically delete resources based on "diffing" the deployment state and the ARM te

[2019-01-24 17:33] MicahMcKittrick-MSFT commented on #23024
Thanks @christopherpcosta !

I will submit a PR shortly to fix the doc :)

[2019-01-24 17:37] CeciAc opened #23231 "wrong CLI commands in step 4"
@squasta commented on [Thu Jan 24 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/283)

az sql db tde create -n "DatabaseName" -g "ResourceGroupName" -s "ServerName" --status Enabled ==&gt; doesn't work. Should be instead : az sql db tde set -d "DatabaseName" -g "ResourceGroupName" -s "ServerName"

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pou

[2019-01-24 17:37] CeciAc commented on #23231
Hi team,
I'm moving this here since the user is making suggestions on the example
best

[2019-01-24 17:41] MicahMcKittrick-MSFT commented on #23224
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 17:41] CeciAc opened #23232 "wrong CLI commands in step 3"
@squasta commented on [Thu Jan 24 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/282)

az sql server key create -g "ResourceGroupName" -s "ServerName" -t "AzureKeyVault" -u "FullVersionedKeyUri   ==&gt; doesn't work. should be instead : az sql server key create -g "ResourceGroupName" -s "ServerName" -k "FullVersionedKeyUri  "

az sql server tde-key update -g "ResourceGroupName" -s

[2019-01-24 17:43] CeciAc commented on #23232
Hi team,
I'm moving this here since the user is making suggestions on the example
best

[2019-01-24 17:48] BryanTrach-MSFT commented on #23194
@Rickinio Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 17:56] Igorbek commented on #22717
Thank you. The missing part was granted access by admin. Works for me.

[2019-01-24 18:02] richrundmsft commented on #23199
@bwren / @georgewallace can you have a look at this (and maybe update the doc owner too)?

[2019-01-24 18:04] CeciAc opened #23234 "Mistake in CLI command to create a SQL server"
@squasta commented on [Thu Jan 24 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/281)

az sql server create -n "ServerName" -g "ResourceGroupName" -l "westus" -u "cloudsa" -p "YourFavoritePassWord99@34" -I    ==&gt; to create a managed identity, option is -i and not -I

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liais

[2019-01-24 18:08] CeciAc commented on #23234
Hi team,
I'm moving this here since the user is making suggestions on the example
best

[2019-01-24 18:10] SumanthMarigowda-MSFT commented on #23211
@rbcoach Azcopyv10 use the schema of Linux command line, Azcopy v8 uses the schema of Power Shell cmdlets
https://github.com/Azure/azure-storage-azcopy
![azcopy](https://user-images.githubusercontent.com/44606021/51698903-77636600-2031-11e9-8a43-24446548618b.PNG)

AzCopy is self-documenting. To list the available commands, run:
./azcopy -h

[2019-01-24 18:13] tfitzmac commented on #23230
@brentarias - thanks for this feedback. I have submitted a change to clarify that an unchanged resource results in no operation. Changed properties produce an update.

[2019-01-24 18:15] tfitzmac commented on #22649
By remediation, do you mean you are trying to find resources that are not tagged, so you can make sure they are tagged? If so, policies are the way to do that.

[2019-01-24 18:15] bwren commented on #23199
Easy enough to fix.  I'll do it today.  Thanks.

[2019-01-24 18:16] bwren commented on #23199
#please-close

[2019-01-24 18:18] ttelfer opened #23236 "Command to retrieve node resource group returns nothing."
Attempted to use the command `az aks show --resource-group myResourceGroup --name myAKSCluster --query nodeResourceGroup -o tsv` - where I changed the resource group and cluster name to the ones appropriate to my configuration - and did not get node resource group. Does this command still work? I noticed when I ran `az aks show --resource-group myResourceGroup --name myAKSCluster` there is no key

[2019-01-24 18:20] mattbriggs commented on #23117
@DaveDXC Azure Stack doesn't support rotating a root certificate, yet. They are aware of this gap. Thanks again for your question. Thanks, Matt #please-close

[2019-01-24 18:22] bwren commented on #22931
Confirmed this with the engineering team and making this change now.  Thanks for identifying it.

[2019-01-24 18:22] bwren commented on #22931
#please-close

[2019-01-24 18:24] mcb0035 commented on #14066
This is still an issue. I just spent half an hour manually updating production resources through the portal, which would have taken seconds if these cmdlets were available.

[2019-01-24 18:30] cephalin commented on #21630
PS. the updates will be published in the next day.

[2019-01-24 18:31] Mike-Ubezzi-MSFT commented on #23195
@rupalgohel Thank you for your interest in Azure cloud services. This is more of a forum question unless you are trying to indicate there is no documentation pertaining to how to accomplish this. Please post this question out on [MSDN Azure Active Directory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD&filter=alltypes&sort=lastpostdesc). Thank you!

[2019-01-24 18:31] marc-fombaron opened #23238 "Please document error 500121"
What is error 500121?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-m

[2019-01-24 18:32] mike-urnun-msft commented on #23202
Hi @voronkovsergey Thank you for your feedback! We will review and update as appropriate.

[2019-01-24 18:36] cynthn commented on #11178
@dcbrown16 we are working on tooling that could help keep the tables consistent as well as redesigning how the information is presented (the tables are getting too large in some cases). I don't have an ETA, but this is something that we are actively working on fixing.

#please-close

[2019-01-24 18:45] rbrayb commented on #22743
What I meant was that you should add a note.

<UserJourneyBehaviors>
      <SingleSignOn Scope="TrustFramework" />
      <SessionExpiryType>Rolling</SessionExpiryType>
      <SessionExpiryInSeconds>300</SessionExpiryInSeconds>
      <JourneyInsights TelemetryEngine="ApplicationInsights" InstrumentationKey="your-application-insights-key" DeveloperMode="true" ClientEnabled="false" ServerEnabled="tru

[2019-01-24 18:45] TravisCragg-MSFT commented on #21727
@liamfoneill We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 18:45] #21727 closed

[2019-01-24 18:46] TravisCragg-MSFT commented on #23117
@mattbriggs Thanks!

@DaveDXC We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 18:46] #23117 closed

[2019-01-24 18:49] Mike-Ubezzi-MSFT commented on #23197
@paulpuvi06 Thank you for your interest in Azure cloud services. This appears to be more of a forum question unless you are attempting to source documentation that does not discuss this topic. [Stack Overflow Azure Container Service](https://stackoverflow.com/questions/tagged/azure-container-service).

[2019-01-24 18:54] cephalin commented on #21108
@Anand-Moghe This limits doc is reserved for limits imposed by the quota/billing/etc, not the "limitations" of the specific architecture of the service. For App Service OS limitations, see [Operating system functionality on Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/operating-system-functionality). I can add the lack of RDP access over there. #please-close

[2019-01-24 19:00] aliceku commented on #23234
thank you @CeciAc , I fixed it in https://github.com/MicrosoftDocs/azure-docs-pr/pull/64000

[2019-01-24 19:05] Mike-Ubezzi-MSFT commented on #23207
@jastrzab666 Thank you very much for your interest in Azure cloud services. This appears to be more of a forum question. Can you please leverage [MSDN Azure Active Directory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD&filter=alltypes&sort=lastpostdesc) forum for questions/answers related to this topic. If there is any documentation that you feel needs to be enhanced w

[2019-01-24 19:10] ghoelzer-rht opened #23239 "The Log Analytics SKU "PerGB2018" in the example is invalid"
I was testing Terraform creation of a Log Analytics Workspace, and when you use "PerGB2018" it's flagged as invalid.  A working value appears to be "Standalone" which I got from an Azure DevOps Project that I created a Log Analytics Workspace in last week.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa28dc85-7097-60

[2019-01-24 19:10] johnthcall opened #23240 "It is unclear whether writes will succeed when a zone becomes unavailable."
The text in "What happens when a zone becomes unavailable?" starts with "Your data is still accessible even if a zone becomes unavailable" and appears to be completely focused on reading data. Will writes still succeed in this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b2f8dc6-6b57-e404-c8e3-a3325a192a2d

[2019-01-24 19:12] #11178 closed

[2019-01-24 19:13] #21108 closed

[2019-01-24 19:14] Mike-Ubezzi-MSFT commented on #23216
@jaypaddy Thank you for bringing this to our attention. We are currently investigating and will update you when we have additional information to provide.

[2019-01-24 19:16] TravisCragg-MSFT commented on #23218
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-24 19:18] MicahMcKittrick-MSFT commented on #23236
@ttelfer check the following issue where another user mentioned the same and we worked to a resolution

#23050

[2019-01-24 19:20] MicahMcKittrick-MSFT commented on #23050
@jerrybowman thanks for the update! Glad to hear it is working now :)

[2019-01-24 19:20] #23050 closed

[2019-01-24 19:24] MicahMcKittrick-MSFT commented on #23022
Thanks for the follow up @rohancragg

I am assigning to the content author to review further and determine if we should add a note to this specific doc.

[2019-01-24 19:24] walterov opened #23241 "The title on the doc can be improved"
Instead of "Troubleshoot your deployment to Kubernetes to Azure Stack" (confusing), we should use "Troubleshoot your Kubernetes deployment to Azure Stack"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c56e3868-1095-e3fa-2b58-d5a31d85c498
* Version Independent ID: efedc208-30d5-7f84-8a54-41dac7f74cda
* Content: [Troubl

[2019-01-24 19:33] #23199 closed

[2019-01-24 19:38] Mike-Ubezzi-MSFT commented on #23227
@khushi2091 Thank you for your interest in Azure cloud services. Can you provide a reference to the documentation you are sourcing for your information? I would like to clarify if this is a forum question, a support issue, or if there is documentation that needs to be updated. If you create a GitHub issue directly from the documentation related to the desired functionality, we have more informatio

[2019-01-24 19:46] apoorvkarkare003 commented on #18299
Is there any update on this issue? Are you guys working on the doc which can help to integrate push notification on react-native applications?

[2019-01-24 19:47] Alberto-Vega-MSFT commented on #23215
@AlexanderTodorovic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-24 19:48] femsulu commented on #23186
@elang-bmrn Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-24 19:49] SaurabhSharma-MSFT commented on #22835
@akraines No, I do not think you can pass UserId as part of logout endpoint.

[2019-01-24 19:50] erhopf commented on #23215
Please reassign to @PanosPeriorellis

[2019-01-24 19:50] femsulu commented on #23185
@dcbrown16 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-24 19:51] Mike-Ubezzi-MSFT commented on #22931
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-24 19:51] #22931 closed

[2019-01-24 19:51] mattbriggs commented on #23241
@walterov Thanks for the update. I've updated: https://review.docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-solution-template-kubernetes-trouble?branch=pr-en-us-64010 (pull request https://github.com/MicrosoftDocs/azure-docs-pr/pull/64010) #please-close

[2019-01-24 19:52] gtageek opened #23243 "Typo"
Hello,

There is a typo in the section called "End-User Experience" above and in the following text.

EXISTING TEXT:
"An example user is on the Contoso network, but is trying to access the Fabrikam instance of a shared SaaS application like Outlook online. If Contoso is a non-permitted tenant for that instance, the user sees the following page:"

CORRECTION REQUIRED:
The second line says: "If Cont

[2019-01-24 19:58] Mike-Ubezzi-MSFT commented on #23163
@SnehaGunda Can you please make a note that firewall restrictions should always be a `Note:` in almost every tutorial, to let the connecting client access to the service endpoint. It could be as simple as an "FYI....you need to whitelist the public IP of the client source address." Thank you!

[2019-01-24 19:58] Mike-Ubezzi-MSFT commented on #23163
@jatinder-bains We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-24 19:58] #23163 closed

[2019-01-24 20:00] Mike-Ubezzi-MSFT commented on #22384
@rolanddb This has been escalated to the product group and is actively being investigated. I will request an update.

[2019-01-24 20:03] SaurabhSharma-MSFT commented on #22838
@aquibqureshi26 Unfortunately, there is no in built in capability for automatically trigger Azure Security Center Playbook. The azure feedback related to this feature already exists. Please upvote [this](https://feedback.azure.com/forums/347535-azure-security-center/suggestions/34152442-does-security-center-playbook-can-be-triggered-aut) feedback so that feature team prioritize this functionality

[2019-01-24 20:05] Mike-Ubezzi-MSFT commented on #22935
Note: Added doc metadata to issue and reassign to Security and Identity.

[2019-01-24 20:06] mattbriggs commented on #5585
The default provider subscription is automatically created when you deploy the Azure Stack Development Kit. In an AD FS ASDK, I was able to find the default provider subscription by going to **All Services** > **Subscriptions** > **Default Provider Subscription**.  You can find your SubscriptionID there. Thanks! Matt #please-close

[2019-01-24 20:07] #22082 closed

[2019-01-24 20:09] ronbok commented on #10806
This set of documentation is severely lacking for Windows.  There should be much better support here for Windows including the use of PowerShell to create the Service Principle and get Terraform for Windows attached to Azure.

[2019-01-24 20:09] Mike-Ubezzi-MSFT commented on #23058
@maoz123 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-24 20:09] #23058 closed

[2019-01-24 20:19] MarileeTurscak-MSFT commented on #23207
Yes, you can. You need to set the permissions in Azure AD first. https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

Now Azure AD Groups are transmitted as Roles-Claim to SharePoint. The only thing we changed was the AzureCP configuration (Claims Provider) by removing the UPN Claim, so that only EmailAddress and Role is used as Claim types map

[2019-01-24 20:20] MarileeTurscak-MSFT commented on #23207
Hope this helps!

We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN and we will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-24 20:20] #23207 closed

[2019-01-24 20:31] MicahMcKittrick-MSFT commented on #23224
@JamesTerHark I ran through this doc and verified it works as expected.

I have a VM named MicahWin2016 with the OS disk named **MicahWin2016_OsDisk_1_de41b9b34acc4ae7a467550c53a2c437**

I wanted to swap the disk with a disk named **MicahDataSciVM_OsDisk_1_93e979228eff4f13b76e164e04ba4d81**

Prior to running the swap script I can see the disks are connected correctly

![image](https://user-images.

[2019-01-24 20:39] rambk commented on #23152
@StudentAndy: If the question is in the context of configuring S2S VPN over Microsoft Peering, then yes you would get the public IP addresses of the VPN GW advertised via Microsoft peering. In order to get the addresses advertised, you need to choose the appropriate Azure region's BGP community in the route filter associated with your Microsoft peering.

[2019-01-24 20:40] ilya-babanov opened #23244 "Dictionary Examples return incorrect results for EN -> NL languages"
Dictionary examples API gives incorrect results for `en` - `nl` combination. Example:
[code]

Results:
[code]
"map" and "kaart" were tacken from `normalizedSource` and `normalizedTarget` of a previous lookup request. Both `nl` and `en` are supported and included in the `dictionary` scope.

`target*` and `source*` fields should be in English and Dutch respectively, but as you can see in the respons

[2019-01-24 20:44] cephalin commented on #20440
@jmaragon Thank for the feedback and sorry for the delay. I've removed that note and the change should be published within a day. #please-close

[2019-01-24 20:45] dlepow commented on #23153
@mganeshphani - Yes, as noted by @Karishma-Tiwari-MSFT the resource limits with the superscript 1 can be increased via a support request (subject to resource availability, etc.). And in Azure docs the terms "quota" and "limit" are often used interchangeably - although your distinction is a good one. Thanks for the question.
#please-close

[2019-01-24 20:46] #23153 closed

[2019-01-24 20:46] #21630 closed

[2019-01-24 20:47] #21882 closed

[2019-01-24 20:47] #22960 closed

[2019-01-24 20:47] #23053 closed

[2019-01-24 20:48] #23241 closed

[2019-01-24 20:53] dazbocooper opened #23245 "Read/Write Cache and LVM"
In testing I noticed a significant performance hit by enabling the Read/Write cache on the Azure disks when using LVM RAID0.  this is counter intuitive, but I can't find any solid advice on if this should or should not be enabled.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03c95d3-f350-f631-cc43-d8ae317476ae
* Ver

[2019-01-24 20:55] Zir01 commented on #12074
@evo-terren, no, have not solved my last problem I posted

[2019-01-24 21:03] akraines commented on #22835
Thanks for looking into this.
Is there any other way to achieve this?
Is this something that is on the roadmap?

[2019-01-24 21:24] SaurabhSharma-MSFT commented on #22886
@curtand Have you tried using the [Azure AD Preview Module 2.0.1.18](https://www.powershellgallery.com/packages/AzureADPreview/2.0.1.18) which contains SystemLabels property.

[2019-01-24 21:25] SaurabhSharma-MSFT commented on #23222
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-24 21:30] DaveDXC commented on #23117
Thanks @mattbriggs Matt, but can you confirm that you can use a new Enterprise Issuing CA for certificates for secret rotation if it is under the same Root CA as the original Enterprise Issuing CA used for Stack build?

[2019-01-24 21:37] lianetoohey commented on #17436
@awickham10  not as far as I'm aware

[2019-01-24 21:39] mike-urnun-msft commented on #22729
Hi @yeahsicy Yes, Queue trigger does require installation of `Microsoft.Azure.WebJobs.Extensions.Storage` extension as explained [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#packages---functions-2x).

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue t

[2019-01-24 21:39] #22729 closed

[2019-01-24 21:54] bigdatamoore commented on #23189
@UtsaVakani, I think you need to use the EventData.GetBodyStream() method  https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.eventdata.getbodystream?view=azure-dotnet

[2019-01-24 22:00] tfitzmac commented on #22710
@patpicos - thanks for this feedback. I have added a table that lists all of the implementations. I am hoping to make some more changes to it in the future.

[2019-01-24 22:00] Cescante commented on #19272
@mayanknayar Is there any consequences to setting AutomaticOSUpgradePolicy: {enableAutomaticOSUpgrade: false}, when we have null for AutomaticOSUpgradePolicy when doing GET on the ScaleSet at api-version=2018-10-01 right now?

Is AutomaticOSUpgradePolicy = null on 2018-10-01 equivalent to AutomaticOSUpgradePolicy.enableAutomaticOSUpgrade = false?

[2019-01-24 22:02] tfitzmac commented on #22552
@mganeshphani - I decided to add a table that shows the available list functions. It should get published this afternoon. I am planning more changes to it in the future.

[2019-01-24 22:03] tfitzmac commented on #22710
It should get published this afternoon.

[2019-01-24 22:09] zhenlan opened #23248 "Test to open a doc bug"
[Enter feedback here]

Just trying
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf242ff4-6961-3e25-9a8e-1e41c5bb54d2
* Version Independent ID: 58757c66-c926-1d67-22e9-9bb06bff8913
* Content: [Quickstart to learn how to use App Configuration Hubs](https://review.docs.microsoft.com/en-us/azure/app-configuration-hubs/qui

[2019-01-24 22:10] thackerc opened #23249 "Four related REST endpoints"
In the features section it refers to four related REST endpoints. I think Similarity is supposed to be included with the current 3 endpoints in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b21eb7f-6b28-b727-e5bb-1ed7874b9aca
* Version Independent ID: 547bd301-790a-ec03-6ed8-6519efe5bb18
* Content: [What is

[2019-01-24 22:13] crowcoder opened #23250 "Keyword not supported: '@microsoft.keyvault"
I'm trying to reference keyvault secrets in an app service connection strings setting. The error logged in app insights when my code tries to use the connection string is:

According to this: https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references
keyvault references are in preview. Does that mean there is some mechanism to opt-in, or should it work?

My connection stri

[2019-01-24 22:13] thackerc opened #23251 "Google is still finding this page"
I'm assuming this page is out of date, but I still found it via direct link from google. - Just FYI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f03fca-e251-d3cc-7f02-905a25aa0dcb
* Version Independent ID: 14f9655f-6b6f-fbae-1e8a-afe9ab13ddd5
* Content: [Graph Search method - Academic Knowledge API](https://docs.mi

[2019-01-24 22:22] rezasherafat commented on #21305
@arsing, you are right. I have posted a PR to fix this example.

[2019-01-24 22:45] jeevansd commented on #23146
@JustinGrote We have created this article working with Palo Alto team. We will reach back to them and will get the content reviewed and updated. Thanks.

[2019-01-24 22:46] jeevansd commented on #23146
@chetansriv Please reach out to PaloAlto team and get the article updated.

[2019-01-24 22:46] mattbriggs commented on #23117
Yes you can. Thanks! Matt

From: Dave <notifications@github.com>
Sent: Thursday, January 24, 2019 1:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Matt Briggs <Matthew.Briggs@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Rotating Root CA and Issuing CA certificates (#23117)

Thanks @mattbriggs<https://nam06.safelinks.protection

[2019-01-24 22:51] Alberto-Vega-MSFT commented on #22118
@PrometheusRising1 @AshokPeddakotla-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 22:53] Adam-Smith-MSFT commented on #22489
@ruudw Are you still experiencing this issue ?

Thanks,
Adam

[2019-01-24 22:53] Alberto-Vega-MSFT commented on #22118
@PrometheusRising1 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-24 22:59] taromielnaz opened #23252 "Snapshot"
I think the document about taking snapshot is not comprehensive ! What about Classic VMs or unmanaged disks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70653a41-2611-4649-af4f-fa8cf24e99e1
* Version Independent ID: 4cf0ed02-3ee6-6417-68c7-4b70298a0076
* Content: [Create a snapshot of a VHD in Azure](https://docs.mi

[2019-01-24 23:00] mayanknayar commented on #19272
@Cescante - You do not need to explicitly set AutomaticOSUpgradePolicy.enableAutomaticOSUpgrade = false if Auto-OS Upgrades were never set on your VMSS (which seems to be the case here as you got a null response). Only a true flag would mean that the property had been set.

If you explicitly set the value to false, when it had never been set in the first place, you will not get any productive resu

[2019-01-24 23:01] prara06 commented on #22649
Correct but I don’t see remediation supported for deny effect.. it’s only available for deployifnotexists effect

Sent from my iPhone

On Jan 24, 2019, at 12:16 PM, Tom FitzMacken <notifications@github.com<mailto:notifications@github.com>> wrote:

By remediation, do you mean you are trying to find resources that are not tagged, so you can make sure they are tagged? If so, policies are the way to d

[2019-01-24 23:04] Alberto-Vega-MSFT commented on #23251
@thackerc !Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 23:07] Alberto-Vega-MSFT commented on #23251
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 23:09] mattbriggs commented on #22642
@redwoz I think this topic was recently updated. If you check line 36 you will find that we call out that managed disks are supported with 1808 and later. I am not certain we call out their performance with SQL but we do have an article on Managed discs in Azure Stack: https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-managed-disk-considerations Thanks! Matt #please-close

[2019-01-24 23:09] Alberto-Vega-MSFT commented on #23249
@thackerc !Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 23:09] Cescante commented on #19272
@mayanknayar Context: we are turning on automatic os update for a subset of our clusters at this very moment. As such we are attempting to modify the template as follows:
        "upgradePolicy": {
          "mode": "Automatic",
          "automaticOSUpgradePolicy": {
            "enableAutomaticOSUpgrade": "[parameters('enableVmssOSAutomaticImageUpgrades')]"
          }

where enableVmssOSAutomat

[2019-01-24 23:10] Alberto-Vega-MSFT commented on #23244
@ilya-babanov  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-24 23:14] mayanknayar commented on #19272
@Cescante - Yes, setting to false doesn't have any side-effects. It's as good as not setting the property at all. Let us know if you observe any inconsistencies in behavior.

[2019-01-24 23:18] dlepow commented on #23154
@mganeshphani - You raise a good question, and I see our documentation isn't totally clear on the point. (We have a backlog doc work item to clarify.) The short answer is that the regional limits apply to a container *group*. ACI allocates container group resources based on the sum of each instance's *resource requests*. These instances should be able to share the group's CPU and memory resources,

[2019-01-24 23:32] mganeshphani commented on #22552
Appreciate it Tom

On Thu, Jan 24, 2019 at 4:02 PM Tom FitzMacken <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-01-24 23:39] Mike-Ubezzi-MSFT commented on #22911
@hope4555 Please send your Azure Subscription GUID to AzCommunity at Microsoft.com and I will send back instructions to have an incident ticket created to have this investigated. It appears the REST interface via the Portal is providing consistent results whereas the when using a Java client, the results are not consistent. There is a planned deployment for the Mongo API with regard to the aggrega

[2019-01-24 23:40] TravisCragg-MSFT commented on #22642
@redwoz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-24 23:40] #22642 closed

[2019-01-24 23:52] #21492 closed

[2019-01-25 00:01] SaurabhSharma-MSFT commented on #22835
@akraines Sorry, but I am not aware if anything is in roadmap around the same.  Also, you can try posting your ask on a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.

[2019-01-25 00:17] bwren commented on #22938
Just got the clarification from the engineering team that the description for that error should be "You may see the following error if your application is already subscribed to this workspace or if this tenant is subscribed to another workspace."  We're getting the documentation updated.  I'll ask about the potential delay and update docs if appropriate.

[2019-01-25 00:17] bwren commented on #22938
#please-close

[2019-01-25 00:35] kgremban commented on #21403
@sandervandevelde Is that the kind of information you were looking for?

[2019-01-25 00:36] kgremban commented on #21180
@Alberto-Vega-MSFT Could you #please-close this issue as resolved, and @prasannapad can reopen it if necessary?

[2019-01-25 00:37] kgremban commented on #21005
@SarithaMaran Have you had a chance to test if changing the module name resolves your issue?

[2019-01-25 00:41] kgremban commented on #22866
@MrDadaGuy I just heard back, and here's the message I got:

Basically, if you managed to upload binaries then that's great. But it's not a reliable feature that we can document as a supported scenario.

Does that answer your question, or is there more that I can do to help resolve this issue?

[2019-01-25 00:43] edrickwong opened #23256 "Steps for deploying Azure IoT Edge are out of date"
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [Deploy models as web services - Azure Machine Learning service](https://docs.micros

[2019-01-25 00:45] Mike-Ubezzi-MSFT commented on #22938
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-25 00:45] #22938 closed

[2019-01-25 00:46] MrDadaGuy commented on #22866
Well I was prepared to write a base 64 wrapper but I tried a jpg and it
worked fine..

Any reason the sdk couldn't do this,  test for binary, wrap base 64,
optionally compress, post it, and unwrap?

Can you share any explanation on why the limitation exists, and what does
engineering think of my work around?

I do need to be able to upload binaries.

Thanks!!!

On Thu, Jan 24, 2019, 6:42 PM Kelly

[2019-01-25 00:49] v-maroge opened #23257 "Connectivity check for ExpressRoute"
Hi, I have seen the blog bellow showing that connectivity check is also available for Express Route (Preview).
https://azure.microsoft.com/en-us/updates/azure-network-watcher-connectivity-check-for-express-route/

Since the only selectable source is virtual machine/application gateway, I am assuming that this preview feature will only support  Express Route "Private Peering" at this point, but is

[2019-01-25 00:57] kazshi opened #23258 "Number of Fault Domains for unmanaged disks for VMs in an availability set"
Max # of Fault Domains for managed disks for VMs in an availability set is listed in the table, but there's no information about Number of Fault Domains for unmanaged disks. I verified we can set 3 for fault domain in Japan East region for example (max # is 2 for managed disks).
I assume that's the max # of Fault Domains for managed disks for VMs in an availability set and I would like to make sur

[2019-01-25 01:01] Mike-Ubezzi-MSFT commented on #23248
@zhenlan Thank you very much for testing. Is there additional workflow testing you would like to do? If not, please issue a hashtag please-close. If you would like me to assign this to a specific individual, please tag that person. Thank you

[2019-01-25 01:03] mark-vw commented on #10847
This process does not cater well to password updates. Having to update the app manifest and redeploy is not ideal. Having an app settings update function could address this.

[2019-01-25 01:07] btardif commented on #22163
this has been fixed with #64063 should roll out with next docks update

[2019-01-25 01:08] btardif commented on #22163
@AjayKumar-MSFT can you close/resolve this issue?

[2019-01-25 01:14] zhenlan commented on #23248
Thanks for the response, @Mike-Ubezzi-MSFT. I actually have a quick question. Is it okay for us to open doc bugs here for docs that are still in review.docs.microsoft.com?

[2019-01-25 01:15] Mike-Ubezzi-MSFT commented on #22905
@v-maroge Yes, you should be using an existing resource group that is inline with your solution deployment location. As for high availability and regional outage, the SendGrid service does not have any functionality catering to this at this time. I have reach out to the SendGrid product group and have not received any response. Which Azure service are you using SendGrid with? If you are using Logi

[2019-01-25 01:16] Mike-Ubezzi-MSFT commented on #22905
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-25 01:16] #22905 closed

[2019-01-25 01:16] Mike-Ubezzi-MSFT commented on #22908
@raghukrishnamoorthy We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-01-25 01:16] #22908 closed

[2019-01-25 01:19] Alberto-Vega-MSFT commented on #23215
@erhopf should we update the metadata with his name as content author?

[2019-01-25 01:31] erhopf commented on #23215
@Alberto-Vega-MSFT That’s not necessary at this time. However, two things. As the PM, he’ll be able to answer the question. Second, based on the result we may want to update the SDK documentation directly rather than the page with links to the SDKs for each language.

[2019-01-25 01:33] Luo-Liang commented on #19980
Would love to know the official number for NC series.

[2019-01-25 01:39] zhenlan commented on #23248
That's a good ideal. Thanks, @Mike-Ubezzi-MSFT. I am closing this issue.

[2019-01-25 01:39] #23248 closed

[2019-01-25 02:32] #23215 closed

[2019-01-25 02:32] AlexanderTodorovic commented on #23215
Formula above explains maximum length.

[2019-01-25 02:37] arnabganguly opened #23260 "Documentation needs clarification"
I am unable to make sense of the below sentence. Can the documentation be enhanced to make this statement clearer ?

"The RTT between any of the two farthest regions is associated with your Azure Cosmos account. It's equal to the RTT between any of the two farthest regions associated with your Azure Cosmos account. This option is currently in preview."

---
#### Document Details

⚠ *Do not edit th