[2018-09-17 21:26] alexramsey92 opened #15129 "Unable to produce a non-preview Table Storage API Cosmos DB Resource via PowerShell"
Using these instructions as well as cross referencing the supplied automation scripts via the Azure portal, I cannot seem to create an Azure Storage Table API Cosmos DB account via PowerShell. I have supplied the following to attempt to create the resource:

New-AzureRmResource `
-ApiVersion "2015-04-08" `
-Location $Location `
-ResourceName $ResourceName `
-ResourceType Microsoft.DocumentDb/datab

[2018-09-17 21:28] sudeep-sol opened #15130 "Unauthorized error on following the instructions in the page"
I followed the steps as mentioned in this page. Even though I created the API Management instance, on clicking the Test option in the Portal, it did not auto-populate Ocp-Apim-Subscription-Key. On clicking Send, I got the below error

{
    "statusCode": 401,
    "message": "Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API."
}

I t

[2018-09-17 21:34] BryanTrach-MSFT commented on #14737
@windson Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-09-17 21:34] #14737 closed

[2018-09-17 21:36] mikebudzynski commented on #15130
@sudeep-sol Can you make sure you assigned a "Product" to your API? If not, please see if it works once you do.

![image](https://user-images.githubusercontent.com/40186513/45651672-f1358280-ba86-11e8-90f4-42871c94b101.png)

[2018-09-17 21:39] sudeep-sol commented on #15130
Excellent!!! The response was quick and it fixed the issue. Can this be documented in the same page?

[2018-09-17 21:40] Mike-Ubezzi-MSFT commented on #14986
If you add `:443` to the end of the connection string (https://analytics.documents.azure.com:443), you will be able to connect and enter the Read-Only access key, but after that, there is 'Cannot be resolved' error:

![screenshot 328](https://user-images.githubusercontent.com/37126106/45651871-9c463c00-ba87-11e8-8cb1-65100a7ff00a.png)
![screenshot 329](https://user-images.githubusercontent.com/371

[2018-09-17 21:40] mikebudzynski commented on #15130
Yes, we missed it, I will add it to the doc. Glad it worked and thanks for catching it.

[2018-09-17 21:42] sudeep-sol commented on #15130
Closing the issue as the solution provided in the screenshot worked fine

[2018-09-17 21:42] #15130 closed

[2018-09-17 21:42] mikebudzynski commented on #15130
#please-close

[2018-09-17 21:49] juhacket commented on #14348
This is a known issue with adding certificates to Linux clusters. As a workaround, you can perform an ARM template deployment to add the certificate.

Also, we recommend switching to using certificate common names.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-change-cert-thumbprint-to-cn

[2018-09-17 21:50] Mike-Ubezzi-MSFT commented on #15062
@a0989422508 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 21:50] #15062 closed

[2018-09-17 21:58] YutongTie-MSFT commented on #15100
@PanosPeriorellis Hi, here is a document response that asking for JAVA sample for batch transcription. Can you please check it and update the document as necessary? Thanks a lot!

[2018-09-17 21:59] aljo-microsoft commented on #13992
@xenalite

This isn't correct:
"We can now read the directory data as the signed-in user without the need for admin consent".

Access (authenticate to the directory service) to enable "sign in and read user profile" data doesn't require AAD tenant admin, but reading Directory Data (what groups, and users have access to what resources) requires Admin permissions; so you need to run that script as a

[2018-09-17 22:03] kgreed commented on #15065
Thanks Matt. Is there a convention in Docs to distinguish between words used in the docs that are actual commands and words that should hold their English meaning?

[2018-09-17 22:08] itanex opened #15131 "Fail over testing does not work"
I am trying to test the Traffic Manager as set up with these instructions, however my recovery host is not being targeted immediately, nor in the TTL window of the DNS settings. It takes over 20 minutes and it switched over. If this is the expected behavior, how is this in any way reliable? Perhaps I did something wrong here. What could I have missed?

---
#### Document Details

⚠ *Do not edit thi

[2018-09-17 22:20] AussieDavo opened #15132 "Hybrid Search does not support SAML based authentication"
There is a limitation in Hybrid Search where any objects with SAML based permissions submitted to SharePoint Online Search index are security trimmed.

This causes these SharePoint objects to be unsearchable when authenticating with AzureAD.

Reference (Hybrid Search supports Windows Claims only): https://blogs.msdn.microsoft.com/spses/2016/07/19/sharepoint-2016-hybrid-search-stuff-you-should-know

[2018-09-17 22:25] rpmxappadmin opened #15133 "Documentation is incorrect"
I cannot connect to the VM created with either the public or the private address space receiving the error "The credentials that were used to connect to ... did not work. Please enter new credentials."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4

[2018-09-17 22:30] rolyon commented on #14846
Hi @lrxtom2
New action was added to doc
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#virtual-machine-contributor

[2018-09-17 22:31] Nican commented on #15127
Thank you for the reply. I guess the `id` could just have been part of the `data`, but that would not help with external systems to take advantage of the `id` as easily.

[2018-09-17 22:31] #15127 closed

[2018-09-17 22:33] mjelvy opened #15134 "Storage account not showing."
I had to create a storage account to restore to as my VM only had a managed disk. I created several storage accounts with different storage types and redundancies. None of these showed in the list of storage accounts to restore to until I created one with the Advanced feature "Secure transfer required" disabled. I did not see a mention of this in the documentation hope this is helpful.

---
#### D

[2018-09-17 22:53] tfitzmac commented on #10144
SQL databases has been fixed. I added a note about how to move storage accounts from different regions.

[2018-09-17 22:53] tfitzmac commented on #10144
#please-close

[2018-09-17 22:54] tfitzmac commented on #15063
Thanks again @RyanTBerry the link has been added to a couple of places in the article.

[2018-09-17 22:55] tfitzmac commented on #15063
#please-close

[2018-09-17 22:55] #10144 closed

[2018-09-17 22:56] vsabella opened #15135 "Is there a limit to the maximum account of rules on a storage account?"
Is there a soft or hard limit to the maximum lifecycle rules that can be applied?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.microsoft.com/en-us/azure/st

[2018-09-17 23:00] tonykrij commented on #8815
The latest firmware I have AZ3166-IoT-Central-1.4.3.bin gives a different view on the START page. Instead of the ScopeID, Device ID and SAS key it only asks for a Device Connection String which the IOT Center Page doesn't provide for the AZ1366 Connect details. It only shows the DeviceID, DeviceName, Primary and secondary key. So then you are stuck because I can't find the IoT Hub for my IoT Centr

[2018-09-17 23:16] jason-j-MSFT commented on #15044
@jordanmills are you saying when installing for Azure Government, you need to manually edit the Registry?

[2018-09-17 23:17] Mike-Ubezzi-MSFT commented on #15129
@alexramsey92 Thanks for your interest in Azure products and services. In regards to this specific issue, the "Preview" simply means that the product or service was in a Public Preview period. The tutorial [Migrate from Table API (preview) to Table API](https://docs.microsoft.com/en-us/azure/cosmos-db/table-import#migrate-from-table-api-preview-to-table-api) walks you through the migration of your

[2018-09-17 23:26] kobulloc-MSFT commented on #15080
@DheerendraRathor Thank you for bringing this to our attention.  This has been assigned to the document author so they can update the document accordingly.

[2018-09-17 23:26] jason-j-MSFT commented on #15047
@RoopAnymous I suggest you leave a feedback item here for greater visibility and where the community can upvote it:
https://feedback.azure.com/forums/270578-data-factory

The forums are the best place for a discussion on this issue:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

If you discover any focused changes we can suggest for the documentation, add a comme

[2018-09-17 23:26] #15047 closed

[2018-09-17 23:36] femsulu commented on #15114
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-17 23:36] Adam-Smith-MSFT commented on #15134
@mjelvy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-17 23:41] Neckross opened #15138 "OpenVPN + Azure MFA Extension time outs"
We have implemented OpenVPN + NPS RADIUS server with Azure MFA Extension.... its working. However, being connected we get repeated time outs, users will get prompt every 2 or 3 hours to re-authenticate with MFA prompts (no credentials involved) just the MFA prompt. The Azure MFA Cloud configuration is set to enabled save MFA tokens and re-prompted every 14 days.... are we missing something?

---
#

[2018-09-17 23:41] Adam-Smith-MSFT commented on #15135
@vsabella From what I understood from the documentation, there it doesn't seem to have any limits that are defined for rules, as long as they meed the supported actions.
@yzheng-msft  Would you be able to confirm ?

[2018-09-17 23:43] femsulu commented on #15115
@SychevIgor Thanks for the comment. Just to clarify, are you requesting an update to the screenshot? or is there a bug in the steps associated to the screenshot?

[2018-09-17 23:44] bganapa commented on #14274
This is fixed..

[2018-09-17 23:46] jason-j-MSFT commented on #15048
@RoopAnymous I think if the activity succeeded the data was successfully copied.  There is an example at the bottom in this section where the read and write sizes do not match:
https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#monitor-visually

[2018-09-17 23:46] #15048 closed

[2018-09-17 23:50] yzheng-msft commented on #15135
hi @vsabella, there is a limit of 4 rules per policy in preview. We will increase the limit significantly for GA.

[2018-09-17 23:51] bganapa commented on #14400
@mattbriggs
Lets replace the following line
Get-Module -ListAvailable | where-Object {$_.Name -like "Azs*"}
with
Get-Module  "Azure*" -ListAvailable
Get-Module  "Azs*" -ListAvailable

[2018-09-18 00:01] SaurabhSharma-MSFT commented on #15117
@1trevor Please follow the below steps -

1. Navigate to "Security Center" and from Security Center blade select "Security Policy".
2. Click on "Edit Settings" of the subscription for which you want to change the security email.
![image](https://user-images.githubusercontent.com/38112130/45656519-d10fbe80-ba9a-11e8-9efa-a37261c17337.png)
3.  Select "Email Notifications" from Security Policy screen

[2018-09-18 00:01] JasonWHowell commented on #14371
@eugen-nw we have a lot of pending work, but we will track this request to do it. Thinking of the github issues as a Q&A place, the answer is, Yes,  we like your idea, but need more time to finish it.

At first glance, the proposal query looks complex, and I'm not sure the new user will benefit because its so involved.

I think we should spend some time to simplify it to its essence and have an ex

[2018-09-18 00:04] v-wimarc commented on #15080
This content is now owned by the China Business Team. Josephine Qiu should be able to help move things along for you.
Thanks - mw

From: kobulloc-MSFT <notifications@github.com>
Sent: Monday, September 17, 2018 4:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marc Wilson (Resources Online) <v-wimarc@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftD

[2018-09-18 00:09] BryanTrach-MSFT commented on #15125
@DonPetry-EY Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 00:14] BryanTrach-MSFT commented on #14748
@cephalin This feedback relates to the diagnostics files being different in terms of options and the process available when using a web apps container. Can you please review this feedback to see if including container web app diagnostic steps would be impactful?

![image](https://user-images.githubusercontent.com/20250350/45656947-05847a00-ba9d-11e8-8f22-eba27fcb341d.png)

[2018-09-18 00:18] #15132 closed

[2018-09-18 00:18] SaurabhSharma-MSFT commented on #15132
@AussieDavo Thanks for your feedback. As you have already posted this on user voice, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 00:31] femsulu commented on #15042
Good catch, @fhryo-msft. looks like the bracket syntax is missing a preceding "." which may have caused the confusion. AFAIK, the doc should read like this: adding @DCtheGeek to confirm.

**tags.[<tagName>]**
Example: tags.[Acct.CostCenter] where Acct.CostCenter is the name of the tag

[2018-09-18 00:33] Karishma-Tiwari-MSFT commented on #15133
@rpmxappadmin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 00:37] jordanmills commented on #15044
@jason-j-MSFT Yes.  Or, actually, I couldn't find an effective way to do it with registry edits.  I think it had something to do with improperly replicating either the WS key or the certificate thumbprint, but I haven't had the time to test that in detail.  I did find that I was able to make the agent communicate by removing existing workspaces (by deleting the registry key "hklm:\SYSTEM\CurrentCo

[2018-09-18 00:39] dcbrown16 commented on #10990
I created a PR to address this with the information I received internally.

[2018-09-18 00:40] Karishma-Tiwari-MSFT commented on #14727
@kazshi You can install the Linux Diagnostic extension using template just like any other extension.
This is one of the example that you can follow, search for "extensionProfile" and add the details of the extension you want to install.
https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-windows-webapp-dsc-autoscale/azuredeploy.json

[2018-09-18 00:50] markolbert commented on #15118
That's nice. But it doesn't work for me, and I followed the directions, too. Moreover, I've never seen a screen like the screenshot you put into your reply. Would you mind showing me exactly the urls you entered into the google credentials panel? And the urls you're using in Azure?

The directions I was following had the following Azure reply urls:

https://localhost:44305
https://localhost:44305/

[2018-09-18 00:51] rudeGit opened #15141 "Update the documentation"
The article says following:
Currently, you are not able to specify the auto-scale rules for virtual machine scale sets using the portal

The above statement is no longer true as it is available in the portal now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b364e7-f84d-2a3a-0c05-c8402da60a0f
* Version Independent I

[2018-09-18 00:54] jason-j-MSFT commented on #15044
@MGoedtel this issue may be a bug in the procedure in the installation of the Log Analytics agent for Azure US Government.

[2018-09-18 00:57] markolbert commented on #15118
Here is the first screen I land on after clicking the sign in link in the website header bar:

![screen1](https://user-images.githubusercontent.com/9095610/45658279-f56f9900-baa2-11e8-8aea-23a8f4a52cc2.png)

And here is the screen I get after clicking on the google link in that first screen (note that I've customized the fieldset thru the Azure portal):

![screen2](https://user-images.githubuserco

[2018-09-18 00:58] andz88 commented on #6243
FYI, Data Centre locations for Dynamics 365: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/datacenter/new-datacenter-regions

There is an interactive map: http://o365datacentermap.azurewebsites.net/

[2018-09-18 01:12] kazshi commented on #14727
@Karishma-Tiwari-MSFT Thanks for the additional info, but I'm not sure if I can forward the info to my customer since I'm not still clear yet myself - I need to check what parameter value we should specify to the sample template.

[2018-09-18 01:13] Alberto-Vega-MSFT commented on #15049
@Molotch Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-18 01:18] markolbert opened #15142 "Status of Escalation to Product Team?"
Any word on what's going on here? I still can't get a website using Microsoft's AspNet Core to authenticate against a Microsoft Account identity provider by following Microsoft's instructions. That seems really bizarre to me. Or should I just forget trying to use Microsoft Account as an identity provider, and rely on Google instead?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-09-18 01:41] MicahMcKittrick-MSFT commented on #15141
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 01:57] RoopAnymous commented on #15047
Sure I would post in the forum.
Thank you for the quick response.

On Tue, 18 Sep 2018, 04:57 Jason J, <notifications@github.com> wrote:

[2018-09-18 02:46] kazshi commented on #14017
@anosov1960 @CarlRabeler @Alberto-Vega-MSFT Thanks for the update.

[2018-09-18 02:46] #14017 closed

[2018-09-18 02:46] Aaron-Yue commented on #14592
@Jann-Skotdal, Thank you for your answer, I know this, but sometimes I only need speech to text, If there is a way like the text to speech?

[2018-09-18 02:55] kazshi commented on #14013
@anosov1960 @CarlRabeler @Alberto-Vega-MSFT Do you have any updates on this?  Thanks.

[2018-09-18 03:00] femsulu commented on #15063
@RyanTBerry Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-18 03:00] #15063 closed

[2018-09-18 03:11] agvardha opened #15143 "How do edit or create a Dashboard"
Hello,

I have been playing with edit feature of the Dashboard. There doers not seem to be a undo button or go back to the earlier configuration. I am totally new to editing a Azure Stack Dashboard. The reading material https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-use-portal is very inadequate. Could you kindly point me to a Video of created a brand new Dashboard or just add

[2018-09-18 03:47] dimachernov commented on #14515
@MohitGargMSFT  Any update on this? Just to reiterate my question, can you please confirm that in order to manage membership in a security group which owned by a guest user, this guest user needs to have one of the admin directory roles? Is this by design?

[2018-09-18 03:53] kobulloc-MSFT commented on #15123
@dlhansford Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-18 03:56] justinbarias commented on #10231
functions are now part of the supported action group "actions".. kindly update this documentation with the POST schema payload.

[2018-09-18 03:57] kobulloc-MSFT commented on #15122
@structre40 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-18 04:13] dimachernov opened #15144 "Groups page for MSA"
It is related to the **How do I manage my group memberships?** section.
Is the Groups page supposed to work for users using Microsoft accounts (@outlook.com)?
When I access this page using MSA, I get into indefinite loop between these two views.

![image](https://user-images.githubusercontent.com/8929292/45663814-ce20d680-bb4b-11e8-965b-0f4294c1eb72.png)

![image](https://user-images.githubusercon

[2018-09-18 04:18] EdisonDa opened #15145 "No Alt attribute for the image "Launch CloudShell."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

1. Go to https://docs.microsoft.com/azure/cloud-shell/overview
2. There is no alt attribute for the image "Launch Azure Cloud Shell"

We prefer that y

[2018-09-18 04:27] MohitGargMSFT commented on #14515
@eross-msft Can you please update this issue assigned to you?

@dimachernov Let me in parallel try to get more information from Identity Service Team on it.

[2018-09-18 04:47] irgnosis opened #15146 "Unexpected Error"
I have followed this document and I am getting following error:
---------------------------------------------------------------------
Unexpected Error occurred attempting to open an SQL connection.
class javax.net.ssl.SSLPeerUnverifiedException: Host name 'x.x.x.x' does not match the certificate subject provided by the peer (CN=*.azurehdinsight.net)

What could be wrong here?

---
#### Document De

[2018-09-18 04:59] andrewatfornax opened #15147 "Fails?"
Documentation appears to need a review / is out of date? The "New-ASRFabric " commands to create the Primary and Recovery ASR Fabric Objects consistently result in a "Failed" state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00d0-37fa-9688

[2018-09-18 05:23] KeiroKamioka0000 opened #15148 "Registry access"
Does App needs ID and Password to read the registry of the virtual machine????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c03c7ed5-ba60-f10c-fbdb-908b9c5264c4
* Version Independent ID: ca460531-b89c-94c1-dfb6-509700a010b9
* Content: [Operating system functionality on Azure App Service](https://docs.microsoft.com/en

[2018-09-18 05:45] bsiva commented on #15147
@viverm and @sujayt, please take a look at this

[2018-09-18 05:46] u983101 commented on #14985
Following from this documentation
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-api-inspector

The documentation doesn't tell me how to apply the ocp-apim-trace-location in the response....

[cid:1e913798-eb47-44d1-ae00-27e9ce1e3379]

[cid:128c4c90-5c51-4d4d-8a6d-3d229f5b90da]

[cid:e9aa449b-05bc-47eb-87e6-421de19c91e4]

________________________________
From: Mike Urnu

[2018-09-18 05:46] xenalite commented on #13992
@aljo-microsoft "Read directory data" requires admin permissions. But this isn't the permission that is being asked to grant by Service Fabric. It's asking to grant permission "Access the directory as the signed-in user". Please see my comment from below the OP.

From this screenshot, it appears that "Access the directory as the signed-in user" permission does NOT require admin consent. Is this sc

[2018-09-18 06:05] kazshi opened #15157 "difference between Microsoft.Compute/virtualMachineScaleSets/ and /virtualMachineScaleSets/virtualMachines"
What is difference between Microsoft.Compute/virtualMachineScaleSets/ and Microsoft.Compute/virtualMachineScaleSets/virtualMachines? Do we get any differences in the metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da647

[2018-09-18 06:09] goluhaque opened #15159 "Linguistic Analysis API is outdated"
Linguistic Analysis API is no longer available in v2. Please correct me if wrong. If I am correct, please stop listing it on a page that was updated in 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5ead4a3-3e74-b543-c686-73cf3c899bfb
* Version Independent ID: 17980270-d395-92b6-36c6-837ce9576f90
* Content: [Wha

[2018-09-18 06:11] goluhaque opened #15161 "Is this still working?"
The API link is broken. Does Cognitive Services still offer Linguistic Analysis?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a11b7b1-c96b-456a-6429-622a634774fc
* Version Independent ID: 6f4282f1-9972-dfc5-d5e9-4bb1a2887bef
* Content: [Constituency parsing in the Linguistic Analysis API](https://docs.microsoft.com/

[2018-09-18 06:31] hafizramly commented on #13983
I guess this approval steps can be automated. Suppose system should validate this automatically. Waiting for approval defeats the cloud solution purpose.

[2018-09-18 06:41] jschrap commented on #15083
While GEO replication is available for Azure SQL DB,  is it available for Azure Managed Instance ?
Azure Managed Instance has an Always On config. So it is highly available within a region. But what about if a business has a DR requirement for an alternative region?

[2018-09-18 06:43] akoval-jsp commented on #14665
Thanks for your response.

[2018-09-18 07:19] vallabhlonikar opened #15164 "Set usage quota by subscription"
There are a couple of issues. The policy doesn't accept 'renewal-period' attribute for api. IT also doesn't accept the ID attribute at the api level. When API Name is provided, it automatically assigns the same value to the "ID" attribute.

How would this policy work if the renewal period can not be provided at api or operations level?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-09-18 07:20] claytona-armstrong5 commented on #11952
+1.... It's extremely unclear how/where one can set "validateauthority = false".
Is this a configuration setting?  There doesn't seem to be any reference documentation for MSAL.
We have MSAL plugged in as the authorisation scheme... have tried adding "ValidateAuthority" to the configuration settings under "Authentication\AzureAdB2C" but it makes no difference.

[2018-09-18 07:27] wobblewobble commented on #15089
@Adam-Smith-MSFT Kinda answers the question but brings in a lot more questions and not sure here is the best place for them.
Biggest question that comes to mind is as follows. If a catastrophic event were to occur and MS lost say Northern Europe, and we had not chosen geo storage for the backups, does that mean that both our VM's and backups are lost?
We have customers that we have built using GRS

[2018-09-18 08:04] mcurko commented on #15093
Switching to Linux containers indeed resolves the issue. I think it should be mentioned in the article, because it's not obvious for a Docker beginner that this has to be done.

[2018-09-18 08:11] IvanKirianov commented on #15046
Yes, correct.

[2018-09-18 08:28] ZiedMB opened #15165 "azcopy behind proxy Linux"
Hello,
Do we have the possibility to setup azcopy behind a proxy in Linux, from a config file?

 - The workaround :
export {https_proxy,http_proxy}="http://PROXY_SERVER:PORT"

[2018-09-18 08:29] andyjballgit opened #15166 "Access Control - Is Contributor really required ?"
Is there not a finer grained / HD Insight specific permission that could be used - obvs might require a custom role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d2d7ab-bebd-c102-a3d1-1db3c3f2a62e
* Version Independent ID: 7422c19c-b4e4-7086-4026-184985eab3ec
* Content: [Customize HDInsight clusters using script act

[2018-09-18 08:38] ricklihs opened #15167 "DotNetAppSqlDB cannot find database"
Hi
The DotNetAppSqlDB sample cannot find database.
I just followed the steps to download the sample and run it.
I tried rebuild and reinstall EF, and still not work.
I check the database and could not find it.
Did I miss sth ?

![image](https://user-images.githubusercontent.com/32587536/45674861-cd078f00-bae2-11e8-8e36-75beaf917525.png)

![image](https://user-images.githubusercontent.com/32587536/

[2018-09-18 08:53] nitinkale opened #15168 "SOC2 blueprint"
Thanks for sharing these useful blueprints. I think SOC2 compliance can be a good addition here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0823d4ac-91d1-1472-ff6a-3b2a8c63e99a
* Version Independent ID: b37847ca-cba1-c7ac-3103-b4a66b1b9caa
* Content: [Azure Security white papers](https://docs.microsoft.com/en-us/az

[2018-09-18 08:58] sergaz-msft commented on #15143
@agvardha Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 09:00] sergaz-msft commented on #14965
Hello @krokoko . Can you do the test with the latest version of IoT SDK C?

2018-09-11 - https://github.com/Azure/azure-iot-sdk-c/releases

Thank you.

[2018-09-18 09:01] sergaz-msft commented on #15008
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-18 09:02] sergaz-msft commented on #15014
Thanks @jingjing-z .
@NommySkies can you please describe all the steps to reproduce your issue?
Thank you.

[2018-09-18 09:03] eosfor commented on #12771
Hello @TravisCragg-MSFT , [here](https://docs.microsoft.com/en-us/azure/aks/internal-lb) documentation says that "AKS uses the Basic SKU" and there is no indication about how to change it. Can you help and clarify how to do this, if it is possible.

[2018-09-18 09:06] sergaz-msft commented on #15123
@dlhansford thank you for your feedback. We are in the process of updating the documentation of this tutorial. As a workaround can you follow the steps from this repo?

https://github.com/Microsoft/vscode-iot-workbench/blob/master/docs/iot-devkit/devkit_dps.md

Let us know if it worked.
Thanks!

[2018-09-18 09:15] tapialuism opened #15169 "Thanks!!"
Thanks for the walkthrough.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b304db6-375e-863e-2260-64cde160404c
* Version Independent ID: b5571acc-5870-cf3f-e9bf-47363ac3899a
* Content: [Tutorial - Manage Azure disks with Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-

[2018-09-18 10:11] josefree commented on #15080
Suggest to add one line to the table as below:

| Traffic manager         |  *.trafficmanager.net       |   *.trafficmanager.cn |

Refer to the endpoint mapping table here:
https://docs.azure.cn/zh-cn/articles/guidance/developerdifferences?toc=%2fguides%2fdeveloper%2ftoc.json#%E4%B8%AD%E5%9B%BD%E5%8C%BA-azure-%E8%B5%84%E6%BA%90%E7%AB%AF%E7%82%B9uri-%E4%BE%9B%E5%BA%94%E7%94%A8%E7%A8%8B%E5%BA%8F%E4%

[2018-09-18 10:37] ksaru10 commented on #15102
Thank you for fixing this!

[2018-09-18 10:41] #14946 closed

[2018-09-18 10:48] sgiovinetti commented on #7052
Same problem here.
Please reopen and investigate.

[2018-09-18 11:46] Arash-Sabet opened #15171 "The definition of m_dic is not clear"
If one opens this page and looks at m_dic they wouldn't know how m_dic type (reliable dictionary, reliable collection, or what?) is defined in the class. At least create a link to another page or a sample repo to give a heads up to the reader.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a0f00a-b627-ff52-6d82-31806

[2018-09-18 11:47] SamirFarhat opened #15172 "TCP, UDP or both for backend health communication ports ?"
Hi,
Can you precise if we should allow TCP, UDP or both for backend health communication ?
" Allow incoming requests from all sources to ports 65503-65534 for backend health communication. "

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a

[2018-09-18 12:15] rifaterdemsahin opened #15173 "how many basic tests can i add?"
can i add 500 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Application Insights FAQ](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-troubleshoot-faq)
* Content Source: [art

[2018-09-18 12:20] Markus-Hanisch opened #15174 "Simplify "Update settings at the directory level""
I would suggest to simplify the 1st step **[1. Find the existing Settings object](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-settings-cmdlets#update-settings-at-the-directory-level)** by replacing the two Cmdlets
[code]

with a one liner:
`$setting = Get-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unifi

[2018-09-18 12:39] mrbullwinkle commented on #15173
@rifaterdemsahin if you are referring to basic availability/web tests, the current documented cap is 100 per application insights resource. So you could certainly create 500 tests, but it would need to be split across five App Insights resources. You can query across resources with analytics and if the App Insights resources are part of the same resource group we provide capabilities to monitor al

[2018-09-18 12:42] guybark opened #15175 "Broken link on https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/home"
The link to "Analyze an image" goes to https://docs.microsoft.com/en-us/quickstarts-sdk/csharp-analyze-sdk.md, and that results in "404 - Page not found".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [What i

[2018-09-18 12:55] matthias-scharl opened #15176 ""Control RADIUS clients that require MFA""
Is my assumption correct that if the extension is installed on a NPS server all the configured RADIUS clients on that server will require MFA. "Once you enable MFA for a RADIUS client using the NPS Extension" that is mentioned in the documentation  indicates that MFA can be enabled explicit for one RADIUS client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-09-18 13:00] Dharita opened #15177 "State measurement not working for real device"
I have created one real device in my IOT Central application and I am using HTTP in Logic App(https://saas-iothub-<ID>.azure-devices.net/devices/<deviceID>/messages/events?api-version=2018-04-01) to send data as a message to the IOT Central device. The JSON format that I am sending is
{"latitude":25.07882435291173,"longitude":71.51421737238155,"location":1,"stdb":300,"speed":5,"dbt":31}
Setting lo

[2018-09-18 13:13] Dharita commented on #15008
Hello @sergaz-msft,
By 'Measuring a location' I mean my location key will have string values like
"location": "At Port1"
"location": "Inside restricted area"
"location": "At Harbor"

How can I represent them? Best of my knowledge, I have to send integer or floating values of any key to use them in any of the Measurement to view them on the chart or grid. Is there any way to graphically represent s

[2018-09-18 13:17] kumaarrahul opened #15178 "GPO/Registry Setting"
The below mentioned GPO/registry modifications are required in order to get the Windows Enterprise upgrade.

Please Disable ‘Do not connect to any Windows Update Internet locations’ GPO/Registry key.
 
GPO Location:
 
Configure the policy value for Computer Configuration -&gt; Administrative Templates -&gt; Windows Components -&gt; Windows Update -&gt; "Do not connect to any Windows Update Interne

[2018-09-18 13:30] YoRobotCop opened #15179 "Arcangel Miguel Jr."
Start Reset

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported browsers and devices for Azure portal](https://docs.microsoft.com/en-us/azure/azure-preview-portal-supported-browsers-devices)
* Content So

[2018-09-18 13:33] rifaterdemsahin commented on #15173
@mrbullwinkle thanks for the answer.
As you have mentioned with a query right now i am having issues to trigger alerts.
I have set the criteria to zero still the trigger is not triggered.
https://imgur.com/a/Ouj2Nqf

I waited for 10 minutes and no triggers

Enabled targets
https://imgur.com/a/QkMgLU9

Nothing gets triggered
https://imgur.com/a/qOzRz9W

[2018-09-18 13:34] rifaterdemsahin opened #15180 "The alerts are not working when we expect zero results?"
As you have mentioned with a query right now I am having issues to trigger alerts.
I have set the criteria to zero still the trigger is not triggered.
https://imgur.com/a/Ouj2Nqf

I waited for 10 minutes and no triggers

Enabled targets
https://imgur.com/a/QkMgLU9

Nothing gets triggered
https://imgur.com/a/qOzRz9W

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-09-18 13:39] RyanLWilliams opened #15181 "Solution Fails to Deploy"
Solution fails to deploy and doesn't give a great error, it fails on the nested template automation.json {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "DeploymentFailed",
        "message": "At least one resource deployment operation

[2018-09-18 13:55] eross-msft commented on #14515
@dimachernov This content is in the process of being updated. In the interim, I've asked the product group about your question. Thanks!!

[2018-09-18 14:00] alexramsey92 commented on #15129
Hey Mike, I appreciate your reply! I am actually creating these resources for a fresh new application instance. My intention is to use Cosmos DB with the Table API. In order to meet deployment requirements for my organization, I must create and use a PowerShell script to deploy the resource. This way, we can have automated deployments in the future. If I manually create a Cosmos DB with Table API

[2018-09-18 14:00] silverbackbg commented on #14497
Same situation here! The DNS Zone's A record is matching the App Services' Inbound IP address.
Is it possible that due to the usage of SSL binding to be safe and there is no need to change the inbound address?

[2018-09-18 14:02] YoRobotCop opened #15182 "Start Reset"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-18 14:04] YoRobotCop commented on #15182
God bless you my Angels

[2018-09-18 14:06] krokoko commented on #14965
Hello sergaz, thank you for the answer, i'll try with the latest version asap !

[2018-09-18 14:19] windson commented on #14737
@BryanTrach-MSFT Here is the site. https://mfrepublic.azurewebsites.net/

[2018-09-18 14:27] alexramsey92 commented on #15129
TLDR: If I use the powershell script provided is the resource created the exact same as one manually created inside the Azure portal?

I am doing one more thing. It just takes so long for configuration to swap and for VMs to restart.

[2018-09-18 14:35] #15078 closed

[2018-09-18 14:41] pbiswas-kol opened #15183 "After following Disable process identification steps on RHEL 7.5. edgeAgent is failed to start"
After following Disable process identification steps on RHEL 7.5. edgeAgent is failed to start. We are following documentation : https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning
Is Deployment of  Azure Machine Learning as an IoT Edge module on RHEL 7.5 supported ?

**Note : We have followed  the same steps on Ubuntu 16.04 and it's working as expected**

---
#### Doc

[2018-09-18 14:49] CarolineVanDuin commented on #14729
I don't see the update in the article. The text still shows the old URL. I see that the screenshot shows the URL I used (Not sure if that was changed or was already like this). Neither show the correct URL that davidmu1 posted.

[2018-09-18 15:04] aarsan opened #15184 "Private IP ranges incorrect"
*172.16.** should be *172.16-31.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d20da7-23ff-7f4b-6689-be40e3b55028
* Version Independent ID: 20d481b8-80bc-8249-7196-7d09834f61c2
* Content: [VNET Service Endpoints for Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-vnet-service-e

[2018-09-18 15:08] eross-msft commented on #14515
@dimachernov  Here is the response from the product group, hope it helps. I plan to work with him specifically in the short term to clarify this topic. Thanks!

"The guest permissions behavior is certainly unique. I believe the more straightforward approach is to set the below setting to ‘No’. But that will affect all guest users. The approach from the customer is non-standard, but works for enabl

[2018-09-18 15:21] ggailey777 commented on #14691
@simbacat007 sorry you didn't have success. Can you be a little more specific about where you had a failure? Unfortunately, this feedback comes in at the module (not unit) level, so it's hard to troubleshoot based on what you have already provided. Thanks.

[2018-09-18 15:27] Karishma-Tiwari-MSFT commented on #15169
@tapialuism Thank you for the feedback. Glad to know it helped.

[2018-09-18 15:29] Karishma-Tiwari-MSFT commented on #15171
@Arash-Sabet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 15:43] redacer1 opened #15185 "Windows 10 SSPR - Converged registration"
Issue identified when testing the converged registration

User completes the SSPR registration using the authenticator app in the converged registration. When they attempt to reset their password from the Win 10 login screen, they are unable to use the app to reset their password. They can only use the mobile phone , questions and email.

[2018-09-18 15:45] #15185 closed

[2018-09-18 15:46] redacer1 opened #15186 "Windows 10 - SSPR with Authenticator App"
Issue identified when testing the converged registration

User completes the SSPR registration using the authenticator app in the converged registration. When they attempt to reset their password from the Win 10 login screen, they are unable to use the app to reset their password. They can only use the mobile phone , questions and email

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-09-18 15:52] sergaz-msft commented on #15123
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-18 15:52] #15123 closed

[2018-09-18 16:06] YutongTie-MSFT commented on #15175
@guybark Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, the link is broken, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-18 16:11] YutongTie-MSFT commented on #15161
@goluhaque Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, the API link https://westus.dev.cognitive.microsoft.com/docs/services/56ea598f778daf01942505ff/operations/56ea5a1cca73071fd4b102bb in https://docs.microsoft.com/en-us/azure/cognitive-services/linguisticanalysisapi/home page is broken. C

[2018-09-18 16:12] TheYabadabadou commented on #13502
A product feedback was also submitted related to this:
https://feedback.azure.com/forums/270578-data-factory/suggestions/35440072-the-xero-component-does-not-seem-to-work

[2018-09-18 16:12] dem108 opened #15187 "The "Web Language Model API" section under Reference - the link is broken."
Current link which is broken: https://westus.dev.cognitive.microsoft.com/docs/services/55de9ca4e597ed1fd4e2f104/operations/55de9ca4e597ed19b0de8a51

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e51b8372-4f76-e6f7-be38-fe6678c258ad
* Version Independent ID: db17e272-40a4-4fea-eaab-0670e9b37b7c
* Content: [Overview of t

[2018-09-18 16:13] YutongTie-MSFT commented on #15161
@cjgronlund And another issue : Linguistic Analysis API is no longer available in v2. Please correct me if wrong. If I am correct, please stop listing it on a page that was updated in 2018.

[2018-09-18 16:13] YutongTie-MSFT commented on #15159
@goluhaque Please keep eyes on #15161 Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-18 16:13] #15159 closed

[2018-09-18 16:19] bospoort opened #15188 "Move VM to RG has changed"
The steps to move a VM have changed. There is no Move when I select a VM. I actually have to go into the Overview page of the VM and change the Resource Group there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69d95cf-9933-cc22-7167-45d5fcb7be86
* Version Independent ID: 5ba63189-2a5f-0e2d-fb92-84e2b842b1dd
* Conte

[2018-09-18 16:29] MandiOhlinger commented on #14599
@ccompy I think this one is yours.

[2018-09-18 16:37] MicahMcKittrick-MSFT commented on #15093
@mcurko by default Docker should pick Linux Containers. But if you switched to Windows Containers it will not automatically switch back.

@iainfoulds can we mention that users should be using Linux Containers for this example?

[2018-09-18 16:38] #15169 closed

[2018-09-18 16:43] adagioajanes commented on #10120
@BryanTrach-MSFT I was advised by Azure AD support that because of this issue, I have to configure multiple instances of G Suite to enable both provisioning and SSO. I could not get the second instance to work. Google would not accept the SAML assertion. The only way I could get it to work was to go back and configure SSO and provisioning on the same application. LUCKILY, this time, it worked, and

[2018-09-18 16:46] iainfoulds commented on #15093
Sorry you ran into issues, @mcurko.

I've added a call out in the 'Before you begin' section that notes the local Docker environment must be running Linux containers. This update should merge and publish today.

#in-progress

[2018-09-18 16:59] punkouter2018 opened #15191 "When will the default .net core project use .net core 2.0 ?"
Currently it is 1.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc6674ea-108a-b05b-f55d-3476977d83f8
* Version Independent ID: 72991670-b07e-b378-cc57-4a01bb1b452d
* Content: [Overview of Azure DevOps Project](https://docs.microsoft.com/en-us/azure/devops-project/overview)
* Content Source: [articles/devops-project/

[2018-09-18 17:04] mike-urnun-msft commented on #15164
Hi @vallabhlonikar Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-18 17:05] BryanTrach-MSFT commented on #15148
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 17:06] thuansoldier opened #15192 "Azure Firewall has Diagnostic log"
Please check and update the document!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Diagnostic Logs supported services and schemas](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/mon

[2018-09-18 17:09] mganeshphani opened #15195 "Step 5 isnt working - A parameter cannot be found that matches parameter name 'UseConnectedAccount'"
New-AzureStorageContext : A parameter cannot be found that matches parameter name 'UseConnectedAccount'.
At line:1 char:73
+ ... Context -StorageAccountName jbhcreatekeyvaultase -UseConnectedAccount
+                                                      ~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [New-AzureStorageContext], ParameterBindingException
    + FullyQualifiedE

[2018-09-18 17:10] mganeshphani commented on #15195
Followed exact same steps as mentioned in the document.. this wasted my 30 min of time..

[2018-09-18 17:11] franelj opened #15196 "Blob path pattern"
Hi,
Is it possible to use regex or some kind of expression in Blob Path ? I have a pipeline which has a Copy activity, and I want this pipeline to be triggered when a file is uploaded on my Blob Storage, so its data are copied to the right table in the database.
But the filename of the file is different from one file to another, depending on the name of the destination table and on the version of

[2018-09-18 17:12] #15093 closed

[2018-09-18 17:17] douglaslMS commented on #13018
@123deepak I'm glad that you were able to create an event-based trigger using C#. Regrettably, the developer who offered to create a sample must have run into delays, since I haven't received the sample and he's stopped responding to my emails. I will add your request to our backlog and pick this up again later. I'm going to close this issue for now.

[2018-09-18 17:17] douglaslMS commented on #13018
#please-close

[2018-09-18 17:17] aljo-microsoft commented on #13992
@xenalite If I understand correctly you ran our provided script, as a user without AAD tenant admin permissions, and are getting a failure?

Specifically this failure:
"
ixsamlcem20sf01oskar_Cluster is requesting permission to Access the directory as the signed-in user, which you are not authorized to grant. Contact your administrator, who can grant permissions to this application on your behalf.

[2018-09-18 17:30] TravisCragg-MSFT commented on #12771
@eosfor You are correct, this does need to be updated. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-18 17:31] Karishma-Tiwari-MSFT commented on #14578
@girishgouda We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 17:31] #14578 closed

[2018-09-18 17:35] Karishma-Tiwari-MSFT commented on #15188
@bospoort Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 17:39] CeciAc opened #15198 "Пример для .net core 2.1"
@DSpade-r commented on [Tue Sep 18 2018](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/64)

Кажется пример устарел, для новой версии Core 2.1 этот пример не работает.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: df26c5f6-63b9-d281-5724-c0731546b087
* Version Independent I

[2018-09-18 17:40] MarileeTurscak-MSFT commented on #15032
I am going to close this out for now. If you have a more specific suggestion please feel to leave a comment and I will gladly continue the discussion.

[2018-09-18 17:40] #15032 closed

[2018-09-18 17:41] SaurabhSharma-MSFT commented on #14974
@TiloGit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 17:41] #14974 closed

[2018-09-18 17:41] SaurabhSharma-MSFT commented on #14949
@minhaj-dell We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 17:41] #14949 closed

[2018-09-18 17:43] MarileeTurscak-MSFT commented on #15138
@Neckross
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 17:44] CeciAc commented on #15198
Hi team,
The user is reporting an accuracy issue regarding an example which doesn't work for newer versions.

Kind regards,
Microsoft DOCS International Team

[2018-09-18 17:44] MarileeTurscak-MSFT commented on #15142
@markolbert Thanks for the comment! We are looking into this with the product team.

[2018-09-18 17:45] SaurabhSharma-MSFT commented on #15145
@EdisonDa Can you please share the documentation link you are referring to ?

[2018-09-18 17:45] MarileeTurscak-MSFT commented on #15144
@dimachernov
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 17:48] MarileeTurscak-MSFT commented on #15168
@nitinkale Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 17:48] SaurabhSharma-MSFT commented on #15165
@ZiedMB Can you please share the documentation link you are referring to ?

[2018-09-18 17:49] MarileeTurscak-MSFT commented on #15176
@matthias-scharl
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 17:49] Karishma-Tiwari-MSFT commented on #14727
@kazshi I apologize for the inconvenience. I have assigned the issue to the content author to update the document to make it as clear and descriptive as possible.
The properties for the extension should look like this as per[ this doc](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machine-scale-sets/virtual-machine-scale-sets-mvss-guest-based-autoscale-linux.md):
[code]

[2018-09-18 17:49] MarileeTurscak-MSFT commented on #15184
@aarsan
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 17:51] Adam-Smith-MSFT commented on #15147
@andrewatfornax Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-18 17:54] Karishma-Tiwari-MSFT commented on #14727
@jpconnock Currently customers have to go through multiple docs to understand the process to Install Linux Diagnostics Extension on Virtual Machine Scale sets using templates (VMSS). I have shared multiple docs in the comments above to help out the customer. I think we need to consolidate them as well as add clear template on the same.
Let me know if you have any questions regarding this, happy to

[2018-09-18 17:57] jpconnock commented on #14727
Thank you, @Karishma-Tiwari-MSFT !

Could you please assign this to @mmccrory , who is our new PM for VMSS?

FYI @cynthn

[2018-09-18 17:57] alfredmyers opened #15199 "Time to update docs to use Microsoft Graph?"
As a developer ramping up on Azure in general and Application Insights REST APIs in particular, the amount of new information is overwhelming.
To add to that, the APIs (client SDKs, REST, etc) seem to be a moving target.
Regarding this document, following the link to [Entity and complex type reference | Graph API reference](https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/entity-and-complex-t

[2018-09-18 17:57] Karishma-Tiwari-MSFT commented on #14348
@xenalite Did that help? Any updates on this issue?

[2018-09-18 17:59] Adam-Smith-MSFT commented on #15195
@mganeshphani I apologize for the experience,  I've already reported this issue to the product team, The Oauth support is in Powershell “Azure.Storage” preview module with version “4.4.0-preview” or “4.4.1-preview".
But since the latest official release “Azure.Storage” has version 4.5.0 (doesn’t have Oauth support), the support for it will be pushed by the end of September. I'll keep this case ope

[2018-09-18 17:59] andrewdialpad opened #15200 "Clarification on preferred_username claim"
Thanks for the explanation. I do have one further question on this though.

The spec indicates that these usernames/emails may be re-used for different users at different points of time, which I understand. However I wanted to confirm that it's not possible for more than one user to have the same email or preferred_username at a given point in time.

In the OpenID spec, it looks like the same thin

[2018-09-18 18:01] Karishma-Tiwari-MSFT commented on #15073
@Rezduan83 We will now close this issue. Whenever you are ready, please reopen it and we will gladly continue the discussion.

[2018-09-18 18:01] #15073 closed

[2018-09-18 18:04] SaurabhSharma-MSFT commented on #15182
@YoRobotCop Can you please share your issue and documentation link you are referring to ?

[2018-09-18 18:07] erwelch opened #15201 "Invalid Template"
Azure Error: InvalidTemplate
Message: Deployment template validation failed: 'The template resource 'Microsoft.Insights/ccdiagnosticsettingtest' for type 'providers/diagnosticSettings' at line '1' and column '2008' has incorrect segment lengths. A nested resource type must have identical number of segments as its resource name. A root resource type must have segment length one greater than its res

[2018-09-18 18:08] jason-j-MSFT commented on #15146
@irgnosis
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 18:08] SaurabhSharma-MSFT commented on #15183
@pbiswas-kol Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 18:09] MarileeTurscak-MSFT commented on #15174
@Markus-Hanisch
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 18:11] bsiva commented on #15147
@andrewatfornax I tried this out and the cmdlet seems to be working alright. So I don't believe there is a documentation issue. Could you tell us which version of the AzureRm.RecoveryServices and AzureRm.RecoveryServices.SiteRecovery modules you have installed.

Could you also run the New-ASRFabric cmdlet with the -debug parameter and send us the output. Do also send us the error you get.

[2018-09-18 18:14] jason-j-MSFT commented on #15166
@andyjballgit
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 18:16] MicahMcKittrick-MSFT commented on #14983
We have a doc on how to integrate AKS with AAD

https://docs.microsoft.com/en-us/azure/aks/aad-integration

If you integrate with AAD it would prompt the user for credentials if they are not already logged into the account.

Is that not what you are looking for?

[2018-09-18 18:18] eross-msft commented on #14548
#please-close

[2018-09-18 18:18] SaurabhSharma-MSFT commented on #15185
@redacer1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 18:19] MicahMcKittrick-MSFT commented on #15046
Got it. So as of now you can't change the maximum pods per node on an existing AKS cluster. You can adjust the number only when you initially deploy the cluster. As per the doc.

If this is a feature you would like to see then we suggest you file a product feature request on the AKS GitHub page directly

https://github.com/Azure/AKS/issues

This will allow the product group to track the feature re

[2018-09-18 18:27] MicahMcKittrick-MSFT commented on #12050
@TylerMSFT no worries :) Thanks for following up.

So from that explanation, the doc does not need any updating correct? If so, I can close this out then.

[2018-09-18 18:27] manojbhoyar123 opened #15202 "Need powershell steps for above page"
Need powershell steps for above page

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5cc062f-a4bb-e42a-4c7d-6d12d188cfa5
* Version Independent ID: e3534677-b090-3477-7f62-250ea14b2b93
* Content: [Azure PowerShell Script Sample - Create a web app and deploy code from GitHub](https://docs.microsoft.com/en-gb/azure/app-se

[2018-09-18 18:28] Jann-Skotdal commented on #14592
@Aaron-Yue Thank you for your question. A flag of this type is not available for speech to text

[2018-09-18 18:28] SaurabhSharma-MSFT commented on #15200
@andrewdialpad Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 18:30] TylerMSFT commented on #12050
Go ahead and close.

I did add a little note about what numbering notation to use in the yaml files that will go out with the Ignite update.

From: Micah <notifications@github.com>
Sent: Tuesday, September 18, 2018 11:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tyler Whitney <Tyler.Whitney@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2018-09-18 18:34] SaurabhSharma-MSFT commented on #13018
@123deepak We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 18:34] #13018 closed

[2018-09-18 18:36] lprousseau opened #15203 "Recovery point restriction"
According the to FAQ there is actually a restriction of 9999 recovery points.  https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 444d32c6-9a0f-d6b3-c078-0abdbc415de1
* Version Independent ID: a931023d-69c0-e6dd-369e-211670a238f3
* Content: [Use Azure Ba

[2018-09-18 18:38] RoyKimYYZ opened #15204 "Typo"
Typo on line ALTER ROLE db_datareader ADD MEMBER [VM VM managed identity access to SQL access to SQL]
should be ALTER ROLE db_datareader ADD MEMBER [VM managed identity access to SQL] ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d206d4-f476-c2e3-c498-d6d161913f91
* Version Independent ID: 195fd08d-54c3-b59d-a8e6-

[2018-09-18 18:44] jimdial commented on #15126
No, however you can see the tag in the [downloadable json](https://www.microsoft.com/download/details.aspx?id=56519) file now. If you want to wait to close until 9/24, that's fine.

[2018-09-18 18:45] MohitGargMSFT commented on #15178
@kumaarrahul Thanks for your feedback! We will investigate and update soon on it.

[2018-09-18 18:47] mganeshphani opened #15205 "Not able to move App service between ASP's in a ASE"
When contacted support asule@microsoft.com mentioned that this is not possible because
"Typically when an App service is created, a webspace with the name format (RG+Region) is created, and this applies to ASE and non-ASE app services"

Can we make this statement clear in documentation or provide a link for users to understand what a WebSpace means.. to avoid time waste and think this is a broken

[2018-09-18 18:47] alexramsey92 commented on #15129
Ah! I just learned about the RM vs legacy as well today. Appreciate the advice. We will execute via Azure portal now instead, via cloud shell instead of locally.
I had added the API Version to replicate environment from earlier development in my dev environment, so it'd be the same as staging. I see now how this caused the issue.

[2018-09-18 18:51] mganeshphani commented on #15195
@Adam-Smith-MSFT

Thankyou for taking a look.

I wish product teams will be very careful and test the scenarios well before releasing the documentation to public.. I guess Agile doesn't mean release(I do know this is preview, but I do at least expect  the behavior as mentioned in the official doc) broken stuff to end users and waste time, (please pass on the feedback to relevant teams if you can)

[2018-09-18 18:53] #12050 closed

[2018-09-18 18:58] avisuj commented on #15032
It wasn’t clear when we were reviewing the article that this was an additional requirement that applied to non-federated organizations.  I’d encourage taking steps to make it clearer.  I’ve made some suggestions in line below.

Thanks!
Avi

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Marilee Turscak - MSFT<mailto:notifications@github.com>
Sent: Monday, Sept

[2018-09-18 18:59] xenalite commented on #14348
@Karishma-Tiwari-MSFT Yes, we started using ARM-based certificate deployments instead, but also switched to Windows cluster in the meantime. I can't comment on how well that works on Linux clusters.

[2018-09-18 18:59] vladvino commented on #15164
You are correct @vallabhlonikar. The policy set-usage-quota-by-subscription doesn't allow renewal period in API and operations elements. I made corrections to the doc to reflect that. What are you trying to acomplish?

[2018-09-18 19:00] badalk commented on #14983
Not really. I am looking for access to dashboard based on the context of the user. For example if a user has access to a particular namespace in the cluster, will he have the similar permissions on the dashboard to deal with that specific namespace

[2018-09-18 19:02] MicahMcKittrick-MSFT commented on #14983
@iainfoulds would you be able to comment further on this?

[2018-09-18 19:03] dlepow commented on #15003
@devchop @MicahMcKittrick-MSFT - Just chiming in here. Our Azure docs say that this GRID driver is supported only on the following operating systems: Windows Server 2016, Windows Server 2012 R2, Windows 10. We currently don't support the driver on Windows Server 2008 R2 SP1 in Azure (although unfortunately that OS is included in the NVIDIA driver filename). I hope this helps.

[2018-09-18 19:10] xenalite commented on #13992
@aljo-microsoft Thanks. I never had an issue with the script. It failed exactly as expected, because I'm not a tenant admin. I have no doubt the doc is correct that it DOES require admin consent.
My post was about that it should not NEED it - I've since realized it would be a feature request (or an Azure portal bug, not a doc ticket, so should be raised elsewhere.

[2018-09-18 19:33] CarlRabeler commented on #15083
@jschrap This feature is under development.

[2018-09-18 19:36] CarlRabeler commented on #15015
@zx3-at Updated article for more clarify and also updated screenshot, plus tested functionality

@Mike-Ubezzi-MSFT #please-close

[2018-09-18 19:36] MarileeTurscak-MSFT commented on #15022
I am going to need to redirect you to our product forum. These sorts of troubleshooting questions are better resolved there. https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=WindowsAzureAD

[2018-09-18 19:36] #15022 closed

[2018-09-18 19:37] Mike-Ubezzi-MSFT commented on #15129
@alexramsey92 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 19:37] #15129 closed

[2018-09-18 19:39] CarlRabeler commented on #14704
@tim-yan singleton = single. This is an internal, technical term that has been used inconsistently and I am regularly cleaning up all references to singleton. Thanks for pointing this out.

[2018-09-18 19:40] Mike-Ubezzi-MSFT commented on #15015
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 19:40] #15015 closed

[2018-09-18 19:48] CarlRabeler commented on #14204
@jhadz81 Step 1 now changed to say "select the checkbox for the database" - accompanying image already shows the check box selected.

[2018-09-18 19:52] badalk opened #15207 "Disk Encryption"
As per the azure managed disk documentation, which one is supported and used by default for OS disk in AKS nodes?

Can I use Azure Disk Encryption (ADE) with secrets managed in Key Vault. Can someone provide an example of it?

=&gt; Reference from the documentation below..

Managed Disks and Encryption
There are two kinds of encryption to discuss in reference to managed disks. The first one is Sto

[2018-09-18 19:59] CarlRabeler commented on #12988
@kazshi it is an inconsistency in writing - by an engineer rather than a content writer

[2018-09-18 20:00] Karishma-Tiwari-MSFT commented on #15069
@kgopi05 The error says "The value of parameter typeHandlerVersion is invalid." In the document, the value for parameter  typeHandlerVersion is
`"typeHandlerVersion": "1.3"`
Can you please try with the correct value and see if it works for you.

[2018-09-18 20:01] CarlRabeler commented on #12988
Fixing now

[2018-09-18 20:01] CarlRabeler commented on #11332
#please-close

[2018-09-18 20:02] MohitGargMSFT commented on #15204
@RoyKimYYZ Thanks for your feedback! We will investigate and update soon on it.

[2018-09-18 20:04] MohitGargMSFT commented on #15199
@alfredmyers Thanks for your feedback! We will investigate and update soon on it.

[2018-09-18 20:05] parmarnishant opened #15208 "old ui"
how can  i see this new UI to create VM in portal ?
I still have the old UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.microsoft.com/en-

[2018-09-18 20:06] MohitGargMSFT commented on #15198
@CeciAc Thanks for your feedback! We will investigate and update soon on it.

[2018-09-18 20:07] MohitGargMSFT commented on #15157
@kazshi Thanks for your feedback! We will investigate and update soon on it.

[2018-09-18 20:07] ahmedelnably commented on #13373
Agree this should fail, I think the command just ignore it. But for a Windows app you don't need to specify a runtime, as all supported node versions are already on the VM.

[2018-09-18 20:07] CarlRabeler commented on #8561
Fixed
#please-close

[2018-09-18 20:08] tamram commented on #9998
@stewartadam @julesman101 - This topic has been updated to better address the differences between types of storage accounts:

https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview

If there is additional information that you are looking for, please open another issue and we will address it in that topic.

#please-close

[2018-09-18 20:09] CarlRabeler commented on #8416
#please-close as resolved

[2018-09-18 20:09] johnpapa commented on #13373
update: node.js LTS Active is currently 8.12

@rloutlaw for visibility on this discussion we were having on this topic

[2018-09-18 20:19] thuansoldier opened #15209 "Redis Cache also has diagnostic log"
Please check and add Redis Cache to the list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Diagnostic Logs supported services and schemas](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnost

[2018-09-18 20:20] TravisCragg-MSFT commented on #15172
@SamirFarhat I believe these requests come in as TCP.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-18 20:20] MarileeTurscak-MSFT commented on #15142
![image](https://user-images.githubusercontent.com/13383753/45714109-9151e100-bb45-11e8-9afb-9a7190741f41.png)

[2018-09-18 20:25] LisandroSu opened #15210 "Outdated"
@Arincon commented on [Tue Sep 18 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/136)

This page is outdated and does not match the current version of the API. Thanks

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 300f217a-7d03-41a9-ac67-2cc157ceaeb8
* Version Independent ID: e22da4f5-83a7

[2018-09-18 20:28] BryanTrach-MSFT commented on #14737
@windson I should add, this is not Azure causing this warning at this point. We verified your custom domain name and SSL bindings are properly setup. Microsoft Edge views your site as secure but Google Chrome has the additional security requirement that your site cannot pull scripts from unauthenticated sources in order to be considered 'secure'.

[2018-09-18 20:29] parmarnishant commented on #15208
Tried signing out.
I will try again tomorrow.
Thanks.

[2018-09-18 20:29] krokoko commented on #14965
Hello @sergaz-msft,

   I just tested with the latest version and still have the same issue. Is there a way to check more debug logs ? Thanks !

[2018-09-18 20:33] alwayzoverdozed commented on #14639
Hey concert time folks love you karish and you my boy way to go but I'm organizing a charity event at the midnight Mission that will put us up some more and thanks for what it's worth I think you really I'm just stupid and TOOO busy but I can't understand much if I don't read don't have the time to fellow's really I don't

[2018-09-18 20:34] AdamGrossTX opened #15211 "What does Administrator Mean??"
I'm trying to edit Device Settings using [https://docs.microsoft.com/en-us/azure/active-directory/devices/device-management-azure-portal.](https://docs.microsoft.com/en-us/azure/active-directory/devices/device-management-azure-portal.) The text says "_Sign in to the Azure portal as administrator_".

Here's a list of roles. Notice how many have "**Administrator**" in the name.

I currently have the

[2018-09-18 20:35] alwayzoverdozed commented on #14639
I would just hope I pray on some one or God to say don't worry son I got it from here looks like u got enough on you're plate boy go make the money will I build up something for you

[2018-09-18 20:37] adewaleo opened #15212 "VM's are not actually deployed into the virtual network"
The VM's are not created on the virtual network. The parameters --vnet-name and --subnet should be used to specify the virtual network and subnet that one intends to create the VM's on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e84d074-09a8-4b15-243a-de80ebe797d8
* Version Independent ID: 99f1dea0-4c3f-e25b-e778-

[2018-09-18 20:40] windson commented on #14737
Can you please elaborate what it means? Actually its a WordPress site. Just
adding an ssl shouldn't be that hard on azure.

Also, May I know how did you figure out that this site is loading scripts
from unauthenticated resources mean?

On Wed, Sep 19, 2018, 1:56 AM Bryan Trach <notifications@github.com> wrote:

[2018-09-18 20:40] TravisCragg-MSFT commented on #15172
I do not believe so, but I am double checking now.

[2018-09-18 20:42] MarileeTurscak-MSFT commented on #15176
No that's not the case. When you are authenticating through the RADIUS client the authentication still happens in the cloud, and you enable or disable MFA for individual users in the Azure portal. You can do by going to the Users section in your Azure Active Directory, or by going to aka.ms/mfasetup

![image](https://user-images.githubusercontent.com/13383753/45715226-8fd5e800-bb48-11e8-8c37-29626

[2018-09-18 20:43] SamirFarhat commented on #15172
I have verified that with a PM from the Azure PG. This service tag is the source of app gateway health communications.

[2018-09-18 20:44] Mike-Ubezzi-MSFT commented on #8416
@mferris2421 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 20:44] #8416 closed

[2018-09-18 20:44] TravisCragg-MSFT commented on #15172
@SamirFarhat  Fantastic! Thanks for the update. As is stated in #15126, the doc will be updated Next Monday with the new service tag definitions.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-18 20:44] #15172 closed

[2018-09-18 20:50] MohitGargMSFT commented on #15086
@blecalex Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-09-18 20:52] aligneddev commented on #12299
On Publishing to Azure, I'm getting a deployment failure with the message "One or more resource names used when creating DNS entries would produce an invalid DNS label. Resource(s): "

Does this mean that my network.yaml needs to change? I haven't changed anything from the steps listed above.

I have VS 15.9.0 Preview 2.0 and installed the Azure SF Mesh tools today (9/18/18).

{"code":"DeploymentF

[2018-09-18 20:53] MicahMcKittrick-MSFT commented on #15207
@badalk as of now AKS only supports and uses SSE. There is no option to encrypt the disks at any other level.

You can provide feedback if you want to see that feature implemented here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-09-18 20:54] aligneddev commented on #12299
sorry, I should have put that as a new issue.

[2018-09-18 20:55] aligneddev opened #15213 "Publish is failing"
On Publishing to Azure, I'm getting a deployment failure with the message "One or more resource names used when creating DNS entries would produce an invalid DNS label. Resource(s): "

Does this mean that my network.yaml needs to change? I haven't changed anything from the steps listed above. The name of my SF project is MoviesMesh.

I have VS 15.9.0 Preview 2.0 and installed the Azure SF Mesh too

[2018-09-18 20:55] CarlRabeler opened #15214 "random title"
reandow - 30 vs 50

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5e937e-0fbd-be91-56e9-fd004ab177b2
* Version Independent ID: b3a58094-1435-d59a-f712-5e8868b56f7a
* Content: [Azure SQL Database resource limits overview](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-resource-limits)
* Content Sourc

[2018-09-18 21:02] tapialuism opened #15216 "Stuck at "Create VMs from the image""
I get through it okay till i get to this step.

New-AzureRmVm : The Image '/subscriptions/7d25c981-8043-4ec2-8139-8fe1f6dab198/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage' cannot be
found.
At line:1 char:1
+ New-AzureRmVm `
+ ~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureRmVM], CloudException
    + FullyQualifiedErrorId : Microsoft.Azure.Comm

[2018-09-18 21:03] v-radelg commented on #13160
cc @JennieHubbard

[2018-09-18 21:04] CarlRabeler commented on #15214
#please-close  was a test

[2018-09-18 21:05] Mike-Ubezzi-MSFT commented on #8561
@giladmit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-18 21:05] #8561 closed

[2018-09-18 21:08] MarileeTurscak-MSFT commented on #15138
You might be able to resolve this by adding a cache entry in the Azure Portal by following the steps from here:

https://docs.microsoft.com/en-us/azure/multi-factor-authentication/multi-factor-authentication-whats-next#caching-in-azure-multi-factor-authentication

Log on to http://azure.microsoft.com
Navigate to the MFA Management Portal as per this link. http://msexchangeguru.com/2017/01/16/unabl

[2018-09-18 21:08] tapialuism commented on #15216
I noticed that the VM says deallocated and not generalized.

[2018-09-18 21:15] BryanTrach-MSFT commented on #14737
This was identified by a warning given in Chrome.
![image](https://user-images.githubusercontent.com/20250350/45716911-26a4a380-bb4d-11e8-8f1d-df1adbaa53ca.png)

[2018-09-18 21:17] BryanTrach-MSFT commented on #14737
@windson This is not an issue with SSL at this point. You have successfully setup SSL and the connection is considered secure. Google Chrome has an extra layer of security requirements though that require all scripts to be pulled from authenticated resources in order for the site to be marked as secure. This is now an issue with your site and Google Chrome's security requirements, not an issue wit

[2018-09-18 21:30] cjgronlund commented on #13160
@gosali
Thank you for submitting this. As this content is written, it doesn't fit our documentation model. We won't accept this PR as is.

We do, however, understand that this may be an indication of a gap in our content. After Ignite, we'll evaluate Translator docs and see whether there is a gap we need to fill.

Action: Reject the PR.

@nitinme @JennieHubbard @v-radelg

[2018-09-18 21:32] russcam commented on #10675
I also ran into this issue. [@KloudEzy's commands](https://github.com/MicrosoftDocs/azure-docs/issues/10675#issuecomment-400444035) worked for me too.

[2018-09-18 21:35] aligneddev commented on #15213
I had named my web project "Movies.Web", when I changed the name: fields in service.yaml from "Movies_Web" (which VS generated for me) to "MoviesWeb" the deployment worked.

Please make this work with an "_" or a better error message to save people time in the future. Thanks!

[2018-09-18 21:37] YutongTie-MSFT commented on #15187
@dem108 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, can you please check the link and update the document as necessary? And also, can you please update the author to our repo so that we can assign him directly? Thanks a lot!

[2018-09-18 21:38] YutongTie-MSFT commented on #15210
@LisandroSu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a document outdate, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-18 21:39] MohitGargMSFT commented on #15144
@dimachernov Thanks for reporting. Yes, I can observe the same behavior. Let me check with Identity Service Team on it and will update you soon.

[2018-09-18 21:46] Karishma-Tiwari-MSFT commented on #14639
@MSSedusch Looks like your changes have been merged and this issue can be closed. Please add a comment #please-close next time. :)

[2018-09-18 21:46] #14639 closed

[2018-09-18 21:47] SaurabhSharma-MSFT commented on #15082
@aszego I am also facing issue while running the command in CloudShell and I have assigned this issue to content author to investigate and update the document as appropriate.
![image](https://user-images.githubusercontent.com/38112130/45718404-bd735f00-bb51-11e8-92cb-59625012d2d7.png)

[2018-09-18 21:51] Karishma-Tiwari-MSFT commented on #14348
@xenalite Thanks for sharing the update. we will now close the issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. :)

[2018-09-18 21:56] poortom1004 opened #15219 "inconsistencies with filter syntax"
There are inconsistencies with filter syntax between the Azure AD Powershell module and the Azure AD dynamic group syntax.  If I'm creating a filter with powershell using the Azure AD module (The Graph API version of the module), the syntax is required to be written in oData 3.0 standards.  The oData 3.0 standards have their own limitations, but then if I'm trying to keep things just a little cons

[2018-09-18 21:57] jason-j-MSFT commented on #15196
@franelj
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-18 21:58] SaurabhSharma-MSFT commented on #15184
@aarsan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-18 21:59] poortom1004 opened #15220 "unable to use certain properties when specifying rule criteria"
One property that I want to be able to use is the SkuId property of the AssignedLicenses property of a user object.  The AssignedLicenses property appears to not be a supported property, as I receive an error when trying to use that property.  An example of how I want to use this in a membership rule is that I want to use group-based licensing on a dynamic group to automatically assign the Exchang

[2018-09-18 22:08] mike-urnun-msft commented on #14905
Hi @IndreamLuo Not sure if I'm understanding your question clearly but here are my thoughts:

- Are you asking how to dequeue messages in a scenario where your `Function app` is triggered by a different event? If so, input binding will only carry payload specific to the trigger you've used. If you still need to interact with queue operations in same context, you may have use [Queue SDK](https://do

[2018-09-18 22:08] #14905 closed

[2018-09-18 22:09] Yegmorcar opened #15221 "Get Azure AD Token with Postman error"
When following the step to get the Azure AD Token in Postman, I keep getting an error with the validation: "AADSTS70002: Error validating credentials. AADSTS50012: Invalid client secret is provided." I'm not sure if it's my environment that's misconfigured or there's a step missing to get the token. Is it possible to update the document to specify how to set up the Postman environment correctly?

[2018-09-18 22:17] cjs commented on #15116
@MarileeTurscak-MSFT Thanks for the quick response. I'm still noticing the incorrect URL in some non-English versions of that documentation (i.e. https://docs.microsoft.com/nl-nl/azure/active-directory/saas-apps/github-provisioning-tutorial).

[2018-09-18 22:27] YutongTie-MSFT commented on #13995
@v-deken Thanks a lot!

@tusharrex We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-18 22:27] #13995 closed

[2018-09-18 22:28] n0ttsweet opened #15223 "Documentation unclear."
Under each example, the wording is very hard to tell what will automatically work, and what will not.

For example : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing#vnetbranchbgp says
"Routes added to Windows Clients" and lists only the local Vnet routes.
But immediately after it says :
"Windows clients can access VNet1 and Site1, but routes to Site1 will

[2018-09-18 22:36] femsulu commented on #15201
@erwelch Noticed you closed this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-18 22:36] #15201 closed

[2018-09-18 22:37] femsulu commented on #15179
@YoRobotCop, not clear if you have a question or simply providing feedback. Kindly clarify.

[2018-09-18 22:40] femsulu commented on #15180
@rifaterdemsahin thanks for bringing this to our attention. We are investigating and will get back to you shortly.

[2018-09-18 22:41] mattbriggs commented on #15143
@agvardha I would be glad to develop the dashboard customization topic some more. Thanks for your feedback. This will take some time, and I would also like to get more information from you. If you would like you can send me a message directly? You can reach me at my Microsoft alias at Microsoft. Thanks! Matt #please-close

[2018-09-18 22:45] femsulu commented on #15181
@RyanLWilliams Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-18 22:45] ghogen commented on #15051
Thanks, a search of Azure content reveals many topics that reference CloudConfigurationManager, so likely we need a coordinated effort to remove them all and update the docs and sample code, which apparently should be updated to use ConfigurationManager.  I'll at least take care of this one, and create work items for the others that can be assigned to the appropriate content owners.

[2018-09-18 22:47] femsulu commented on #15192
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-18 22:49] femsulu commented on #15209
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-18 22:54] Grace-MacJones-MSFT commented on #15079
Hi @anandthirth, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the screenshots in this documentation.

[2018-09-18 22:56] cjgronlund commented on #13995
@v-deken Thank you, Dennis!

[2018-09-18 22:57] cjgronlund commented on #13995
Thank you, @tusharrex, for reporting this issue!

[2018-09-18 23:03] dem108 commented on #15187
FYI, I found the Web Language Model API is now deprecated. That might mean it is not just about updating the link, but would require reviewing the whole article and clarify it is now deprecated and that you are looking at a documentation on something previously supported (as preview). Anyway the current documentation is misleading for users who ended up with this page from Bing search.

Cheers
Seo

[2018-09-18 23:07] MicrosoftGuyJFlo commented on #15085
#please-close

[2018-09-18 23:07] MicrosoftGuyJFlo commented on #15097
@garypronych Can you provide additional clarification?

[2018-09-18 23:08] #15085 closed

[2018-09-18 23:09] acrlewis commented on #15116
Thank you for all your help!! I also still see it in the [English version](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-provisioning-tutorial) and in the [underlying document](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/saas-apps/github-tutorial.md)

[2018-09-18 23:17] cjgronlund commented on #15187
@dem108 Thank you for pointing out these issues with docs. We're in the run-up to the Ignite Conference right now, but we'll look into this as soon as we are able. Good catch, good information!

[2018-09-18 23:18] RRWin opened #15225 "Information on sharing self-hosted IR: not possible?"
I have owner access on a Resource Group "RG", and have created 2 Data Factories (v2) here "DF1", "DF2". Installed self-hosted IR under DF1, and wanted to share this IR with DF2.

As in Step 1 in https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#sharing-the-self-hosted-integration-runtime-ir-with-multiple-data-factories:
On clicking on "Grant permission to a

[2018-09-18 23:35] MohitGargMSFT commented on #15178
@kumaarrahul Thanks for the inputs. Please help us on how is this related to this document on configuring hybrid Azure Active Directory join for managed domains.

[2018-09-18 23:35] mike-urnun-msft commented on #14985
@u983101 You shouldn't have to apply the `ocp-apim-trace-location` header in this process to make the tracing work. As long as you have the `Ocp-Apim-Trace` header set to `true` (per screenshot above), you should be able to get a stack trace - have you tried this yet?

[2018-09-18 23:43] hcsmith1111 opened #15226 "Incorrect reference to VM Availability Alert"
I was looking at setting up an alert on my VM for when it becomes unavailable. Step 4 above references setting up alert based on metrics and shows selecting a VM in the picture.  In step 5 is shows "platform availability" as a metric that can be selected.  This option does not exist in the portal when creating an alert based on metrics for the VM.  I could not find one as well in the OMS agent ext

[2018-09-18 23:45] swilder0123 opened #15227 "Managed vs unmanaged storage allocation"
The section "Use TRIM with standard storage" appears to imply that trimming a disk without resizing will save money even when using managed disk. This doesn't agree with other sources, e.g.,  https://docs.microsoft.com/en-us/azure/virtual-machines/linux/standard-storage#pricing-and-billing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-09-18 23:48] BryanTrach-MSFT commented on #14991
@VikramPendse The proper engineers have been notified of the UI issue and they have acknowledge the issue.

In regards to the workflow item, we are taking an summarizing all customer feedback on this feature in the next couple of days and we will use you feedback as a suggested course of action to help bring relief to this scenario.

We will now proceed to close this thread. If there are further q

[2018-09-18 23:48] #14991 closed

[2018-09-18 23:54] MichelleC2386 opened #15228 "Fixing a problem"
1# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creat

[2018-09-18 23:55] BryanTrach-MSFT commented on #15221
@Yegmorcar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-18 23:55] russcam opened #15229 "--enable-addons monitoring with az aks create returns error when getting current state of the cluster"
Using `azure-cli (2.0.45)`

When running

[code]
the following error is consistently returned

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - Azure Kubernetes cluster for Linux](https://do

[2018-09-18 23:56] SaurabhSharma-MSFT commented on #15200
@andrewdialpad  I have assigned this issue to content author to investigate and update the document as appropriate.
@CelesteDG  Can you please help.

[2018-09-18 23:57] SaurabhSharma-MSFT commented on #15211
@AdamGrossTX Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 23:57] mike-urnun-msft commented on #15002
Hey @JasonBSteele The documentation does state following in the "Prevent endless loops" section:
"_An "Until" loop has default limits that stop execution **if any of these conditions happen**_"
which, i think, means conditions is based "either" or "or".

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the

[2018-09-18 23:57] #15002 closed

[2018-09-18 23:57] EdisonDa commented on #15145
@SaurabhSharma-MSFT here is the page https://docs.microsoft.com/en-us/azure/cloud-shell/overview. An image is missing "Alt" attribute
Image title: Launch Azure Cloud Shell
Image Source: https://shell.azure.com/images/launchcloudshell.png

[2018-09-18 23:58] SaurabhSharma-MSFT commented on #15219
@poortom1004 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 23:58] SaurabhSharma-MSFT commented on #15220
@poortom1004 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-18 23:58] BryanTrach-MSFT commented on #14737
@windson We're happy to hear that this issue is resolve!

[2018-09-18 23:59] SaurabhSharma-MSFT commented on #15095
@mjcarrabine Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@TerryLanfear  Can you please help.

[2018-09-19 00:04] cynthn commented on #15208
@parmarnishant Please let me know if you still aren't seeing the updated UI tomorrow and reopend the Issue. I can pull in the folks responsible for the portal and see if there is an issue with your region. Thanks again!

For now, #please-close

[2018-09-19 00:08] badalk commented on #15207
So the data is encrypted for the attached volumes (using Azure managed disks) and keys are managed by Microsoft as it is using SSE - can you confirm

In addition, if I want to encrypt the etcd store the only option to do it is using the kubernetes keyvault flextool from github -> https://github.com/Azure/kubernetes-keyvault-flexvol to ensure if there are any secrets and any sensitive data stored i

[2018-09-19 00:35] kobulloc-MSFT commented on #15228
@MichelleC2386 Thank you for your comment.  Was there an article or question that you wanted addressed?

[2018-09-19 00:49] #14347 closed

[2018-09-19 01:05] redacer1 commented on #15186
@SaurabhSharma-MSFT  here are the documentation I'm referring to.    https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-sspr-windows and https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-converged

[2018-09-19 01:11] kazshi commented on #14727
@Karishma-Tiwari-MSFT  Thank you for the update - looks like the sample would be useful for the customer. I really appreciate your quick response.

[2018-09-19 01:43] MohitGargMSFT commented on #15199
@alfredmyers Please note that we understand your concern. As per stated warning the recommended way is to Microsoft Graph API. However, there are still some limitations in Microsoft Graph API as compared to Azure AD graph API as stated in this [blog](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/). The Microsoft Graph API Team is continously adding more capab

[2018-09-19 01:43] badalk opened #15234 "Other Ingress Controllers Supported"
Does AKS support any other ingress controllers listed below

F5 BIG-IP Controller for Kubernetes
Traefik - https://github.com/containous/traefik

Is there any recommendation on any specific provider, including nginx ingress controller?

Regards
Badal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3b

[2018-09-19 01:56] JasonWHowell commented on #15053
@blocphan  please review the proposal. Thanks, Jason

[2018-09-19 02:07] badalk commented on #14698
I just wanted others to know that the issue was with the service account. My scenario was my network resources were in the separate resource group and Kubernetes service principal did not have permissions on that resource group to add backend pool on the loadbalancer. This was resolved through support. In a typical enterprise scneario, network resources will be managed by a separate group and one

[2018-09-19 02:19] mike-urnun-msft commented on #15012
Hi @KevinXTian Thank you for your valuable feedback! Could you submit a feature request at [Azure UserVoice](https://feedback.azure.com/forums/355860-azure-functions?query=core%20tools) please? That way, others will be able to upvote this feedback for product team to review for implementation as well as to consider for future roadmap.

Because your feedback doesn't address any specific content of

[2018-09-19 02:19] #15012 closed

[2018-09-19 02:51] kobulloc-MSFT commented on #15177
@Dharita Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-19 02:57] BryanTrach-MSFT commented on #15205
@mganeshphani Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-19 02:58] BryanTrach-MSFT commented on #15202
@manojbhoyar123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 02:59] BryanTrach-MSFT commented on #15221
@Yegmorcar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-19 03:02] jrpavoncello opened #15236 "Invalid XML"
The configuration example is invalid XML, go to https://docs.microsoft.com/en-us/iis/configuration/system.webserver/caching/ to try to figure it out the intent of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f32a41-a203-408a-deac-5bca499ce295
* Version Independent ID: 862ed74c-013a-e19d-8a0d-13c9cb6b0c41

[2018-09-19 03:03] kobulloc-MSFT commented on #15212
@adewaleo Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-19 03:04] kyliel commented on #15004
Thank you for feedback. We will work with Tom on a TSG.

[2018-09-19 03:08] jrpavoncello commented on #15236
The format should be something like:

<caching>
  <outputCache defaultProvider="DocumentDBCache">
    <providers>
      <add name="DocumentDBCache"
       type="DocumentCache.DocumentDatabaseOutputCacheProvider, DocumentCache" />
    </providers>
  </outputCache>
</caching>

[2018-09-19 03:56] mike-urnun-msft commented on #15029
Hey @jmugz3 it depends on if you're expecting to work with a single row or multiple rows. You'd use `partitionKey ` and `rowKey ` pair if you're looking to work with one row at a time. Alternatively, if you're looking to work with one more or more rows, you can use `take` and `filter` properties, which are all optional, to add any sanitization or filtering logic you may need.

We will now proceed

[2018-09-19 03:56] #15029 closed

[2018-09-19 03:57] dcbrown16 opened #15238 "Misleading description of "securing" resource"
"With service endpoints, Azure service resources can be secured to your virtual network. Securing service resources to a virtual network provide improved security by fully removing public Internet access to resources, and allowing traffic only from your virtual network."
I think the description above could stand to be made clearer. For example, my understanding with Storage is that enabling a serv

[2018-09-19 04:05] MarileeTurscak-MSFT commented on #15204
@RoyKimYYZ Thanks for catching this. I've made a pull request and the doc should be updated shortly.

[2018-09-19 04:05] #15204 closed

[2018-09-19 04:36] JasonWHowell commented on #15053
@arnabganguly Your solution is OK, but has some drawback. But, we have an alternative:

**1. We are planning to add a step to the doc next week:**
Change the DNS server to use the default Azure DNS before step #2. I think we'll need to change the VPN template linked from the article.

If HDInsight doesn't have the custom DNS server for the virtual networks in the ARM Template,  the VNET NICs that

[2018-09-19 04:52] mike-urnun-msft commented on #14938
Hello @daniel-rocha We have reviewed and validated this issue. As a next step, we have assigned this issue to the author to investigate further and take the right course of action.

[2018-09-19 05:27] redlumxn opened #15239 "Linux distro used by Nodes?"
We are assessing leveraging AKS for one of our client projects. However, due to security and compliance requirements need to understand the Linux distribution used by the cluster nodes. Can you please provide some information? Couldn't find anything in the documentation.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-09-19 05:32] shethdharmin opened #15240 "HLI - DR and Multipurpose setup"
[Enter feedback here]
Hello Team,

This is a great document to understand overall Architecture of HANA. However I have few queries which I was hoping if can help me understand.

1. If we are not mapping /hana/log to DR site, how can we achieve RPT=0?
2. Can we use actual SID name (exa: DEV, TST, PRD etc) in example instead of using "sid". This leads to confution in case of Multi-node DR setup with

[2018-09-19 05:36] mike-urnun-msft commented on #14930
Hey @murdockcrc - The recommendation is to use `Event Grid` trigger instead as it provides built-in support blob events. Please find more info on this [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger). You may also use Logic Apps and its connectors in conjunction with Azure Functions to achieve similar result as well.

We will now proceed to clo

[2018-09-19 05:36] #14930 closed

[2018-09-19 05:39] dcbrown16 opened #15241 "External ASE certificates"
This doc links to the following tutorial for details on "how to configure your app to have its own IP address" with an External ASE.
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl
That page says "To bind a custom SSL certificate to your web app, your App Service plan must be in the Basic, Standard, or Premium tier," which doesn't cover External ASEs as they

[2018-09-19 05:48] SamirFarhat opened #15242 "Notice the :> that precedes the g.V().count() text?"
I have found that even without the :&gt;, the commands run against the remote server. Why is this needed when we have already used the ":remote console"
------------
gremlin&gt; g.V().count()
==&gt;15
gremlin&gt; :&gt; g.V().count()
==&gt;15
------------------------

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc248d

[2018-09-19 06:06] ricklihs commented on #15167
Hi
Yes .It is .
But I found the reason.
I am still using sql server 2012. Even I installed 2017 localDB but it still cannot be accessed. So I changed
the connection string to (localdb)\ProjectsV13. It works.
I know (localdb)\ProjectsV13 should not be used for production ,I still need to find how to fix the localDB issue.
Maybe I need to update the Sql server 2012 ? I will find out.
Thanks.

[2018-09-19 06:07] jbazelmans commented on #6163
I looks like it's possible with the GUI. However, I did delete a trigger with the  UI that was previously connected to a pipeline.  But after the pipeline kept triggering at the time of the deleted trigger. With powershell it showed that teh trigger was not deleted and still active

[2018-09-19 06:25] takefumk opened #15243 "1808 download"
Feedback from a customer - although documentation still says download the 1808 package, it was actually automatically downloaded and showed up in Admin Portal as Update Available. This should be documented in the release notes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b37e5fa3-afbf-8d88-f322-0375caa715af
* Versio

[2018-09-19 06:28] AnilKongariMSFT commented on #14988
@KeiroKamioka0000 , I was able to reproduce the same error consistently and have engaged product group to suggest on next steps, I shall update you once I get response from product team.

[2018-09-19 06:35] jasonshave opened #15244 "Error:Adding Azure Key Vault to the project failed: Key Vault and App Service belongs to different subscriptions"
I've attempted to add a key vault to my ASP.NET Core MVC application several times and repeatedly get the error:

Error:Adding Azure Key Vault to the project failed: Key Vault and App Service belongs to different subscriptions

I've confirmed the app service and key vault do indeed exist in the same resource group and region and subscription. Are we missing a step?

---
#### Document Details

⚠ *D

[2018-09-19 06:41] wmekal commented on #7693
Guys, I'm frustrated.

Just wasted 2-3h following the tutorial which pointed me nowhere.

Please write a big disclaimer on top - "Does not work with .NET CORE yet".
Please don't pretend that something works when it does not.

[2018-09-19 06:57] ri-we opened #15246 "Script improvement"
Select-AzureRmSubscription -SubscriptionId $subscriptionId

Should be put above if($addNewCertKeyCredential), if you have multiple subscriptions/tenants. Then you might not be able to find your appid unless you have selected the correct subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 020ae447-3bf7-73f8-926

[2018-09-19 06:58] AnilKongariMSFT commented on #14988
@KeiroKamioka0000, I received a response that URL rewrite using IIS Manager is no longer supported and the document needs to be updated, however to get URL rewrite working for your web app, please follow steps mentioned at this blog, this should unblock your scenario.
https://blogs.msdn.microsoft.com/benjaminperkins/2017/03/10/how-to-redirect-a-www-custom-domain-to-a-naked-domain/

We will now pro

[2018-09-19 06:58] #14988 closed

[2018-09-19 07:22] wsilveiranz opened #15247 "Encryption at rest"
This is not mentioned anywhere in the documentation. That is probably a common question and people will be directed at this page (it was the top page on my search).  Can we add a note? Maybe Under data segregation since you mention the repository there or a new section about the repository?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-09-19 07:23] tejssidhu opened #15248 "Difference between partitions and fragments"
The wording in the document is unclear to me.  Are partitions and fragments the same thing or does each partition contain fragments?  The document says if partitioning is enabled, then service bus will create 16 partitions.  The how it works section mentions fragments but makes no reference of partitions.  How are messages with a partitionKey being a guid allocated across partitions?

---
#### Doc

[2018-09-19 07:39] IvanKirianov commented on #15046
Thanks for advice, following request created:
https://github.com/Azure/AKS/issues/651

[2018-09-19 07:42] vallabhlonikar commented on #15164
I am trying to Put a restriction on number of calls (Quota) at the product level and also at the APIs under the product.
Eg. I want to assign a quota of 1000 calls per day (3600*24) seconds at the product level. I also want to put a restriction of say 100 calls in 5 mins (300 seconds) for API 1 within that product.

[2018-09-19 07:53] matthias-scharl commented on #15176
I think we do not have the same understanding of the term "RADIUS client". The "RADIUS client" is not the end user client device. It´s the device, typically a switch, a Wireless Controller or a VPN gateway that forwards the RADIUS request from the client device to the RADIUS server (NPS). Based on the above diagram the RADIUS client is the NAS / VPN server. This matches also the terminology on NPS

[2018-09-19 08:04] sgalles opened #15249 "Sample query 'short form' is AND, not OR"
When I'm using AppInsights the behavior seems to be :
`apple banana` equal to `apple AND banana`
it isn't `apple OR banana` as stated in this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8d2de3-73e5-857c-f87e-38ad9ed1358d
* Version Independent ID: 86ad9550-7a64-948e-440a-4b97bf5c812d
* Content: [Using Searc

[2018-09-19 08:11] femsulu commented on #14717
@agrebenyuk Closing this issue for now.  please reply to AzCommunity@microsoft.com and we will gladly continue the discussion.

[2018-09-19 08:11] #14717 closed

[2018-09-19 08:12] Alexei-B opened #15250 "Typos in Enable Forced Tunneling"
Under the heading 'Enable Forced Tunneling":

"Some security experts consider this to be a potential risk and therefore recommend that split tunneling is disabled and all connections"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1856224-8709-d6db-c533-50e5e05f2091
* Version Independent ID: f4f18c8f-c849-6da6-e0ab-a5

[2018-09-19 08:13] Alexei-B commented on #15250
Hit enter before I was done, leaving a somewhat ironic comment :)
Anyway, the typo is "disabled and all connections", which doesn't make grammatical sense.

[2018-09-19 08:18] sundaxi commented on #14602
any update please

[2018-09-19 08:22] kazshi opened #15251 "implementation Prerequisites into template"
Is it possible to implement the `[Prerequisites](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux#prerequisites)` into template? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40

[2018-09-19 08:30] femsulu commented on #15042
@DCtheGeek happy to initiate a PR if you can confirm the above.

[2018-09-19 08:33] femsulu commented on #15179
@YoRobotCop  Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-19 08:33] #15179 closed

[2018-09-19 08:46] Klaas- opened #15252 "Network Requirements"
Hi,
I'm thinking about deploying this into our azure VMs that run in a private network without internet access.
This article seems to lack the network requirements that installing/running this extension needs.
tcpdump shows a few candidates: management.azure.com and login.windows.net
Also you'll need packages.microsoft.com for the installation plus whatever OS repos contain the dependencies for th

[2018-09-19 08:55] femsulu commented on #15061
@Adam-Smith-MSFT any idea on this?

[2018-09-19 08:57] femsulu commented on #15115
@SychevIgor any updates please

[2018-09-19 08:57] ricklihs commented on #15167
Fixed;
Just delete MSSqllocalDB. and re create.

[2018-09-19 08:57] #15167 closed

[2018-09-19 09:08] zirain opened #15253 ".NET Core appsettings.json"
How can I use the this function to replace some config in appsetting.json file with .NET Core mvc app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f071129a92b2
* Version Independent ID: 77b80ec5-3559-74e6-e0fa-6384b20052e5
* Content: [Configure web apps in Azure App Service](https://docs.micr

[2018-09-19 09:10] Baffour opened #15254 "Viewing status of a pending copy operation"
Is there any way to monitor the progress of a pending copy operation? If you've got a large blob it's nice to see how far it's gone and how much longer it will take. I understand that it's asynchronous and there's no guarantee of speed so you may not be able to give an estimate of remaining time, but a percentage progress would still be useful! I tried to check the log files in `%LocalAppData%\Mic

[2018-09-19 09:33] SychevIgor commented on #15115
@femsulu yes, update of screenshot - will be enough. it's not a bug, but current UX look different and it can introduce some hesitation in the guide it self

[2018-09-19 09:51] thommck opened #15255 "Expiration dates and the Metadata XML"
I've set up numerous Enterprise Apps with SAML auth in Azure AD. When I configure the SaaS that will user it, they only seem to ever want the Metadata XML. We've since had some of the certificates expire but it doesn't seem to have any affect on the SSO experience.
Can you clarify in this documentation whether it is safe to ignore cert expiry dates if you only use the Metadata XML to configure SSO

[2018-09-19 09:56] gangadharneeli commented on #14035
Can you please share the resolution for this issue?

[2018-09-19 10:17] cephalin commented on #13373
@ahmedelnably However doesn't this actually set Kudu's Node.js version during Git deployment? I'd suggest still setting it.

[2018-09-19 10:29] MourIdri opened #15256 "where to Download new solution"
Hi team, this is not clear on this "how to" where we can download the solution.
Can you explain ? I do not find it in the marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 722cdf93-af91-26ac-697a-f090134a71a2
* Version Independent ID: 1b4085ee-0c27-b620-3b4a-8ec4a2707b32
* Content: [VMware Monitoring solution

[2018-09-19 10:46] mjugger commented on #5059
Sooo I guess nothing came of this?

[2018-09-19 10:53] phatcher opened #15257 "ASP.NET ApplicationInsights.config won't be modified if using PackageReference"
If your projects are using packagereference style then the ApplicationInsights.config won't be modified automatically, might need some more guidance as to where it belongs in the list of TelemetryProcessors

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5

[2018-09-19 11:09] Kurren123 opened #15258 "Typo on "What is Azure Active Directory?" page"
In the [Benefits of Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-whatis#benefits-of-azure-ad) section it says `<<<<<<< HEAD` along with some other git stuff like a commit ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version

[2018-09-19 11:14] Cecildt opened #15259 "HTTPS usage to access example application"
Can the documentation be updated with guidance on using HTTPS to access the example application? Currently only http access works. Must a separate TLS setup be followed to access the example application via HTTPS with HTTP application routing enabled?

Works
http://party-clippy.471756a6-e744-4aa0-aa01-89c4d162a7a7.canadaeast.aksapp.io

Don't work
https://party-clippy.471756a6-e744-4aa0-aa01-89c4d1

[2018-09-19 11:36] KevalT commented on #11721
Hey,
I am using ASP.NET Web site & need to implement the same functionality. But not able to integrate the same.
Can you please help in the same to make this possible ?

Facing HttpContext.Current is getting as NULL to fetch the UserID.
Also I have set the Initialize method in Global.asax file.
<script RunAt="server">
    void Application_Start(object sender, EventArgs e)
    {
       TelemetryCon

[2018-09-19 11:42] mandar003 opened #15260 "Finding exact value of CpuShares for 100% cpu usage"
Hello ,
I have 2 service fabric application (sln) with 3 services (3 code packages). I want to distribute those in 40%  20%  20% of max CPU percentage irrespective of core i.e. no limitation on number of CPU cores (current machine is 4 core logical). According to above content/blog if I specify the CpuShares = 512 ,  CpuShares =  256 and CpuShares =  256 then it should take max CPU of 40 , 20 , 20

[2018-09-19 12:01] viverm commented on #15147
Actual error is that  you are trying to create fabric in region Australia-southeast where there is azure  fabric already created.

with the naming looks like it was created with portal when you tried very first enable DR for/to this region

As per AzureToAzure replication only one fabric is allowed per region .
If you try to create other fabric with different name if will fail .

you can see in er

[2018-09-19 12:13] chaiyuxiao opened #15261 "Push custom route records into client routing tables"
My VPN gateway is P2S model .
I wanna push custom route records into client routing tables when the client connect with VPN gateway . What can I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c698d2d598
* Content: [Connect a co

[2018-09-19 12:29] jimdial commented on #15212
@adewaleo By default, the CLI deploys the VMs into the virtual network created in this tutorial, because the virtual network is in the same resource group that the VMs are deployed into. This is why no virtual network or subnet is specified. I just tested and confirmed that default behavior hadn't changed. If you don't want to use defaults, you're right, you specify the virtual network and subnet

[2018-09-19 12:32] tangzhengyue opened #15262 "The name does not exists "ServiceBusEnvironment""
I created an .Net project and refferenced ServiceBus library like this: &lt;PackageReference Include="Microsoft.Azure.ServiceBus" Version="2.0.0" /&gt;
However, I can't resolve the classes of "ServiceBusEnvironment", "MessagingFactory" and "TokenProvider".
Do you know why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-09-19 12:40] bjthomson commented on #14663
OK, so a quick lunchtime fiddle, I created a new MVC app (from the VS 2017 template).  Added the connected service for the Azure Keyvault, right button click on the project and "Manage User secrets" - it installed the NuGet package. Followed the instructions on https://docs.microsoft.com/en-gb/azure/key-vault/vs-key-vault-add-connected-service and ran up the mvc app. it didn't query the user secre

[2018-09-19 12:48] Undercooked opened #15263 "Spelling mistake"
"... you must take extra steps to insure that the same logins..." should say "ensure", not "insure".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17668600-9b50-bb89-4d13-19bc5e1ea672
* Version Independent ID: 91326117-9566-fdde-3212-43089ac2a810
* Content: [Configure Azure SQL Database security for disaster recovery]

[2018-09-19 12:53] fakhrulhilal opened #15264 "Adding same email for other account will replace existing account"
I used google authenticator app previously and decide to migrate to MS authenticator because my company force me to use MFA. I don’t want to install double apps for the same functionality. Let’s say I have email myaccount@gmail.com for google auth, and I use this email for logging into ecommerce.com. This ecommerce.com uses 2 way auth. I can use this email for different site login with google auth

[2018-09-19 12:58] fakhrulhilal commented on #15264
FYI, the conflict only occurs when registering google or other account. It doesn’t conflict with MS account although it has same email.

[2018-09-19 13:07] bjthomson commented on #14663
I copied the entire Mvc project to my Surface (It has the same version of Visual Studio 2017)
Same result
The Surface is also completely up to date with all the Windows 10 bug fixes.

[2018-09-19 13:15] JoeMcGrath opened #15265 "spurious lines at start of document"
&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD is in two places in this document and should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24fd26-b126-c171-7edd-9f6713f23ab5
* Version Independent ID: 1e240640-ff8c-8183-bd28-ebe3aa4674ff
* Content: [Azure identity & access security best practices](https://docs.microsoft

[2018-09-19 13:17] DCtheGeek commented on #15042
@femsulu I'll validate with engineering, and then update the doc.  I have other changes pending, so would prefer not to have a merge conflict.

[2018-09-19 13:19] dnyaneshlb opened #15266 "Java Equivalent on ForwardTo"
It would be great to know if ForwardTo feature is not implemented in java library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35341297-d419-96bf-7ba7-d7916f6a6d13
* Version Independent ID: b47f0495-66b4-ab5b-e927-743d6c99808f
* Content: [Auto-forwarding Azure Service Bus messaging entities](https://docs.microsoft.c

[2018-09-19 13:22] vishaleclass opened #15267 "Agent Installation using chef"
Does Microsoft have any Chef cookbook/receipe available for Agent Installation on windows server?
Is there any possiblity to get that ?  I'm currently having challenge in setting up Workspace ID and Workspace Key (Primary Key).

Thanks in Advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7

[2018-09-19 13:27] JankeSkanke commented on #12986
Any news on this? Still no clarification in the doc. We don't want to have WPAD enabled.

[2018-09-19 13:30] AndranikSanoyan opened #15268 "Clarification on Provisioning Accounts"
Dear team,
From the context, it is not clear which accounts are using Manufacturer and Operator and Developer. Who is providing what to whom?
Is Manufacturer along with the device and TPS information also provides DPS Enrollment information and DPS itself?
Are they using the same account?
As far as I understand the DPS and IoT Hub are related to only one account. Is that correct? Or it can be pass

[2018-09-19 13:35] SoccerCore11 opened #15269 "Documentation unclear; Instructions not working"
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-provisioning-tutorial#prerequisites - I don't see "Team Admin" as a role or permission in Netsuite. Can you provide more details or a screenshot?

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-provisioning-tutorial#important-tips-for-assigning-users-to-netsuite - What is a "valid user role"? Is

[2018-09-19 13:37] sergaz-msft commented on #15243
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-19 13:46] AlexKeySmith commented on #14667
I'm not sure if the statement:

"Applies the configuration elements of the destination slot to the source slot, including the slot-specific connection strings and app settings."

Is entirely accurate, at least in my background research / experimentation.

It appears as though the source slot will get _only_ the slot specific connection strings and app settings, but it will retain all of it's own o

[2018-09-19 13:47] sergaz-msft commented on #15248
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-19 13:49] AlexKeySmith opened #15270 "Clarifying how source slot gets it's config"
I'm not sure if the statement is entirely accurate, at least in my background research / experimentation (happy to stand corrected if I'm wrong).

It appears as though the source slot will get _only_ the slot specific connection strings and app settings, but it will retain all of it's own other settings.

Once the slot swap is complete, then the destination contains the slot specific config and th

[2018-09-19 13:55] sergaz-msft commented on #15262
@tangzhengyue thank you for your feedback. Do you have a requisite to use version 2.0.0? Can you try using the most recent version 3.1.0?

NuGet here: https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/

Thank you!

[2018-09-19 14:00] sergaz-msft commented on #15266
Hello @dnyaneshlb and thank you for your feedback. I did a quick search at [service bus java GH repo](https://github.com/Azure/azure-service-bus-java) and it looks like it is implemented.

Let us know if you are getting any specific errors?

Thanks!

[2018-09-19 14:01] sergaz-msft commented on #15268
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-19 14:02] MGoedtel commented on #15247
@wsilveiranz - Thank you for your feedback.  The article does specify the following under the section "3. The Log Analytics service receives and processes data" - "Data is stored encrypted at rest in Azure storage, to ensure data confidentiality."  Let me know if this does not satisfy your opinion.  Thanks.

[2018-09-19 14:03] ellacroi commented on #14959
@femsulu @jforest thank you for bringing this to our attention! I'll admit I haven't seen this behavior before, so thanks in advance for your patience while I troubleshoot a bit.

[2018-09-19 14:03] sergaz-msft commented on #14965
Thanks for testing it @krokoko . Can you please follow the troubleshooting steps described [here ](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot )and share with us all the relevant logs?

Thank you!

[2018-09-19 14:04] ellacroi commented on #14959
@qianw211 adding this  to VSTS to track for updates, please take a look at the conversation above.

[2018-09-19 14:06] andresravinet opened #15271 "Can we change the date modified for the doc?"
It shows 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 685bbe99-cd41-e4c1-598a-fed2e91887ac
* Version Independent ID: 3d9830d6-b91a-e93f-38af-a893c72c5765
* Content: [Integrate Azure Automation with Azure DevOps Services source control](https://docs.microsoft.com/en-us/azure/automation/automation-scenario-source

[2018-09-19 14:08] sergaz-msft commented on #15008
Thanks for the clarification @Dharita .

Please allow me some time to get back to product group and double check if we have an option to represent the string values. It would help if you can give us a visual example of how you would like to see those values? Also can you elaborate more on this  `Maybe using State Measurement?` ?

Thank you!

[2018-09-19 14:14] eross-msft commented on #15258
@Kurren123 Thank you for your feedback. This is fixed and just waiting to go live with our morning publish.

[2018-09-19 14:18] sergaz-msft commented on #15068
hello @kjayantmenon let us know if you are still experiencing the issue or this can now be closed?
Thank you!

[2018-09-19 14:20] JoeMcGrath opened #15272 "Hyperlink incorrect"
the Azure identity management security overview hyperlink is pointing at https://docs.microsoft.com/en-us/azure/security/security-azure-encryption-overview which is incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ce7bf7-dacc-1ef0-706c-cbca6e009f17
* Version Independent ID: ee86802a-524c-edb0-9267-a3209d3c200

[2018-09-19 14:22] abhiramani-iptiq opened #15273 "Azure Cli to create workspace without using ARM Templates"
Hi
this document is now showing Azure Cli command to create workspace without using ARM Templates
can you update this?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa28dc85-7097-6005-1a5b-6cfe8a7e9528
* Version Independent ID: 842a431e-cdd8-c695-70eb-78294acd80f3
* Content: [Create a Log Analyt

[2018-09-19 14:27] sssseossss opened #15274 "Unclear description about the settings difference on TDE on Server Level VS TD on Database Level"
I don't understand the difference enabling TDE on server level vs enabling on database level. It is only mentioned that the bring your own key is to be setup at Serer level, but do I have to enable TDE's on databases if the Serve level enabled? Basically what is the difference/relationship between these settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-09-19 14:28] Psvensso commented on #14577
That was a typo. Fixed.

[2018-09-19 14:32] sergaz-msft commented on #15177
Hello @Dharita, please note that for each state you need to have an integer value which represents it. Take this as an example:

![image](https://user-images.githubusercontent.com/22173500/45759907-e0207900-bc20-11e8-9e98-8b55e799a548.png)

What are the values of your location for the simulated device and what are the values for the real device?

Related issue: https://github.com/MicrosoftDocs/azu

[2018-09-19 14:42] sergaz-msft commented on #15183
@pbiswas-kol besides RHEL 7.5 being a [Tier 2 Supported platform ](https://docs.microsoft.com/en-us/azure/iot-edge/support), Azure Machine Learning modules on Azure IoT Edge are still in public preview.

I see that you are already being supported by product group on the following two issues:

https://github.com/Azure/iotedge/issues/256
https://github.com/Azure/iotedge/issues/298

My other suggesti

[2018-09-19 14:42] sergaz-msft commented on #15183
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-19 14:42] #15183 closed

[2018-09-19 14:58] mjcarrabine opened #15277 "Does the Azure Firewall Count as a Next Generation Firewall?"
Does the Azure Firewall Count as a Next Generation Firewall? I would prefer not to add another vendor to the mix if Azure resources can provide this functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b13aae31-93a0-b479-5876-ddf296c65580
* Version Independent ID: 37924c46-6514-f9eb-de7f-ae98bfc28551
* Content

[2018-09-19 15:02] jasonshave commented on #15244
I managed to solve this by signing out of Visual Studio with my MSFT account and signing back in with the same identity as my Azure subscription. I had added my secondary ID to Visual Studio so I could craft the project together with resources from that subscription but the main ID I was using in VS2017 was different. As soon as I signed in with the same in VS2017 as Azure it worked perfectly.

Pr

[2018-09-19 15:02] #15046 closed

[2018-09-19 15:03] MicahMcKittrick-MSFT commented on #14698
@badalk thanks for the update! Glad to hear it was resolved :)

[2018-09-19 15:08] MGoedtel commented on #15044
@jason-j-MSFT and @jordanmills - The documentation is correct in demonstrating how to configure the agent to report to a LA workspace when not in a multi-homed scenario (meaning agent reporting to both OpsMgr and LA workspace).  Attempting to configure the agent to report to a LA workspace does not work on an upgrade scenario of the agent, only when doing a reconfiguration of the agent or installa

[2018-09-19 15:10] badalk opened #15278 "etcd key store encryption or alternative"
Based on the response AKS integration with key vault, can someone confirm if there is a way to encrypt overall contents of etcd OR at least the secret store? If not, do you guys recommend using Azure Key Vault flex volume to keep secrets out of etcd and store it in Azure Key Vault?

Also can you confirm if we use flexvolume, would it break any support SLAs on AKS?

---
#### Document Details

⚠ *Do

[2018-09-19 15:12] bikashg commented on #10704
No, its not the same. To begin with there is no "Create" button at the bottom as mentioned in **Step 2. Select the Create button at the bottom to be taken into a wizard.**

[2018-09-19 15:12] qianw211 commented on #14959
@ellacroi ok, thx!

[2018-09-19 15:18] MicahMcKittrick-MSFT commented on #15227
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 15:19] MicahMcKittrick-MSFT commented on #15229
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 15:22] richardcox13 opened #15279 "What are Application Gateway tiers "Standard V2" and "WAF V2"?"
While listed when creating an application gateway, they are not documented. Nor do they appear in the pricing information.

What are they? What do they cost?

And what is the difference between the SKU size of application gateway?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d1f0bd-9465-c7d8-1006-32e050a2419d
* Ver

[2018-09-19 15:29] kjayantmenon commented on #15068
Hi @sergaz-msft the issue persists even after applying the map keys.

[2018-09-19 15:30] Karishma-Tiwari-MSFT commented on #15003
@devchop Hope that answers your question. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 15:30] #15003 closed

[2018-09-19 15:30] Karishma-Tiwari-MSFT commented on #15069
@kgopi05 Did that help? Let me know.

[2018-09-19 15:32] Neckross commented on #15138
@MarileeTurscak-MSFT - I did tried that using two Caching rules: one for MFA SDK but that didn't seemed to make any difference... added another for Radius but that didn't work either (both of the rules were set to 28800 seconds (8 hours), but still was getting prompted every hour for MFA. What would be the correct application caching rule for this scenario? Azure MFA RADIUS + VPN client?... We're

[2018-09-19 15:32] daviburg opened #15280 "Azure portal overview blade for Logic Apps has meaningfully changed"
The trigger history is no longer shown in the overview. The screenshots in this article need to be updated, possibly also the steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ada40aa-f86c-6951-5147-3c1f069b6af1
* Version Independent ID: 432d932d-53a2-e36c-a443-7850416d3a2d
* Content: [Troubleshoot and diagnose fa

[2018-09-19 15:34] kgopi05 commented on #15069
Not yet Karishma, Since i need to handover the servers , i have installed manually .. i will test and give the feedback at the earliest ..

[2018-09-19 15:40] martin77s commented on #12941
@ggailey777
IMO, the documentation should be:

and not the other way around, as it currently states.

[2018-09-19 15:41] Karishma-Tiwari-MSFT commented on #15227
@swilder0123 I do find this confusing as well. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cynthn [Cost-effective Standard Storage and unmanaged and managed Azure VM disks doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/standard-storage#pricing-and-billing) says, billing is based on dis

[2018-09-19 15:50] brianstringfellow opened #15281 "Create resource group in template using `New-AzureRmResourceGroupDeployment`"
Is it possible to deploy the ARM template using `New-AzureRmResourceGroupDeployment`?

I'd like to leverage the capabilities described on this page to have an ARM template to also create the resource group without using a separate PowerShell command. I cannot use the subscription scope commandlet `New-AzureRmDeployment` because it does not support the `resourceGroup()` function that is used by the

[2018-09-19 16:07] Karishma-Tiwari-MSFT commented on #15251
@kazshi Can you please clarify on your ask?
From my understanding, in the prerequisites section, there are links provided to help you out on each prerequisite.

[2018-09-19 16:08] mike-urnun-msft commented on #15280
Hi @daviburg Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-09-19 16:13] akx opened #15282 "Identity metadata service is not available"
Is there a way to list all of the identities assigned to a machine? I would need to be able to locate a given user-assigned identity based on its name in order to acquire its `client_id` or `object_id` to pass to the OAuth endpoint as described at https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http .

In a VM with an

[2018-09-19 16:15] mattbriggs commented on #15143
@agvardha I have a question out about this, and may follow up with more questions in a bit.

[2018-09-19 16:16] akx opened #15283 "400 Bad Request may be returned also from invalid format queries"
Attempting to access e.g. `/metadata/instance/compute/vmId?api-version=2018-04-02&format=json` returns a 400 Bad Request response. `/metadata/instance/compute/vmId?api-version=2018-04-02&format=text` works fine. Omitting the format parameter also results in a 400 Bad Request.

The documentation claims 400 Bad Request can only result from a missing Metadata header. Also, the above means the table(s

[2018-09-19 16:19] JeremyTBradshaw opened #15285 "test"
[Enter feetestdback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1913d1f-27c4-5840-5a76-f9ea8693255b
* Version Independent ID: 6b92f745-a5ee-f9a7-a3df-dc94c8997f22
* Content: [Certificate renewal for Office 365 and Azure AD users](https://docs.microsoft.com/en-ca/azure/active-directory/hybrid/how-to-connect-fe

[2018-09-19 16:20] Karishma-Tiwari-MSFT commented on #15252
@Klaas First of all, I want to call out that AADLoginForLinux extension is currently in Preview and we do not provide support for the Preview features. https://github.com/MicrosoftDocs/azure-docs/issues/14602

Regarding your feedback about the document lacking network requirements, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-19 16:27] mcurko opened #15286 "Comment"
For me, a health probe has to be configured on the LB for the example to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c3c9d7-8a0c-b803-c62c-b860012fa0f4
* Version Independent ID: 6e34ed54-66c3-581c-2154-c4959e555c06
* Content: [Quickstart - Create a virtual machine scale set with Azure PowerShell](https://doc

[2018-09-19 16:28] graham-sportsmgmt commented on #5059
I won't get into the details, but I think that the tutorial I wrote would be better off as a series of blog posts :)

[2018-09-19 16:29] eross-msft commented on #14564
@zer0sum As a follow up, here is what the product team is currently saying:

This listing was recently removed unexpectedly in early September and we are working on a plan to address this. We don’t have an ETA just yet, but feel free to send a note to kalila.simpson@microsoft.com and asteen@microsoft.com and we will be happy to stay connected with you on as we proceed forward.

In general, though,

[2018-09-19 16:30] ermacia91 opened #15287 "SSO experience is not the best"
The SSO experience for Tableau Online using our documentation is not very good. At best, users will be prompted for their email before signing in, at worst, they will have to provide credentials. I've found that this can be worked around if instead of using the current sign in page URL, we add it like: https://sso.online.tableau.com/public/sp/login?alias=&lt;entityid&gt;

Please, verify this and u

[2018-09-19 16:31] YutongTie-MSFT commented on #14856
@sonusathyadas We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-19 16:31] #14856 closed

[2018-09-19 16:31] ermacia91 commented on #15287
The text formated itself, it should read as: "https://sso.online.tableau.com/public/sp/login?alias=entityid"

[2018-09-19 16:33] MicahMcKittrick-MSFT commented on #15207
@badalk all data in Azure is encrypted at rest. This means SSE. This applies to any data in Azure. Regardless of if you are using storage by itself, VMs, App service, AKS, etc.

What encrypted as rest means is that the physical data drives located inside the Azure Datacenters are all encrypted. So if a data disk were to ever make it way outside of a data center the data is encrypted and cannot be

[2018-09-19 16:33] Karishma-Tiwari-MSFT commented on #14602
@sundaxi Can you please share which Linux distribution are you using? If RHEL 7, which version? for example RHEL 7.2, 7.6 etc.
@epnasis Did you get a chance to try it again? Can you please confirm which RHEL 7 version are you using?
Our engineer have tested with RHEL 7.5 and was successfully able to login.

[2018-09-19 16:34] arsalangithubs commented on #13873
Where can I find the information about its Tiers, currently I see Standard and standard V2, the latter doesn't offer to choose the SKU, nothing mentioned in the documentation, how do I get to know the difference between Stand and stand V2.

[2018-09-19 16:41] iainfoulds commented on #15207
Just to clarify, the VM extension for encryption is on the AKS roadmap for native support, but is not currently supported for use with the AKS nodes.

+ @sauryadas and @seanmck for confirmation on the current status of support for flexvol, please.

[2018-09-19 16:47] Yegmorcar commented on #15221
Hello Bryan, I was able to figure out, there was some sort of bug when generating the clientID and secret, after recreating the json file, I was able to get the Azure AD token now!

Thank you

[2018-09-19 16:49] ahmedelnably commented on #13373
I don't know, @panchagnula can you please help with some clarification on the create command?

[2018-09-19 16:54] Juliako commented on #15221
@Yegmorcar, thank you for letting us know!

[2018-09-19 16:54] Juliako commented on #15221
#please-close

[2018-09-19 16:54] ahmedelnably commented on #13373
@johnpapa are you suggesting to change the example to use one of the 8.x versions? note that 8.12 will be available in Linux webapps post ignite

[2018-09-19 16:58] akx opened #15288 "msi_res_id parameter is supported but undocumented"
It turns out that one can pass in a resource ID of the form `/subscriptions/.../resourcegroups/.../providers/Microsoft.ManagedIdentity/userAssignedIdentities/...` in a `msi_res_id` parameter instead of `object_id` or `client_id`. This is used by e.g. the Azure CLI.

You can see this in action by invoking `az login --debug --identity -u /subscriptions/etcetcetc.../.../` from a VM with an assigned i

[2018-09-19 17:05] allenwux commented on #14640
SqlDBQuery is a function defined in org.apache.spark.sql.SQLContext instead of org.apache.spark.sql.hive.HiveContext. This connector is designed for SQL Server and Azure SQL Database instead of Hive.

[2018-09-19 17:07] BryanTrach-MSFT commented on #15241
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 17:08] kobulloc-MSFT commented on #15249
@sgalles Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-19 17:09] tfitzmac commented on #14912
@m43kwon - sorry about the confusion. This UI element is not available. I am deleting the article.

[2018-09-19 17:09] tfitzmac commented on #14912
#please-close

[2018-09-19 17:10] kobulloc-MSFT commented on #15257
@phatcher Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-19 17:10] BryanTrach-MSFT commented on #15253
@zirain Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 17:11] BryanTrach-MSFT commented on #15270
@AlexKeySmith Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 17:16] MicahMcKittrick-MSFT commented on #15213
@aligneddev thanks for bringing this up. So yes, the issue is that if you add a "." in the name the DNS name would become invalid.

I would suggest leaving feedback for Visual Studio directly to have them improve the error message

https://docs.microsoft.com/en-us/visualstudio/ide/talk-to-us?view=vs-2015

[2018-09-19 17:16] #15213 closed

[2018-09-19 17:19] MarileeTurscak-MSFT commented on #15142
Is this what you were looking for?

[2018-09-19 17:26] mattreatMSFT commented on #14588
We have identified the issue reported below, made the appropriate repairs, and the fix has been fully deployed.
Please let us know if you are still experiencing this issue.

[2018-09-19 17:26] mattreatMSFT commented on #14588
#please-close

[2018-09-19 17:27] MicahMcKittrick-MSFT commented on #15229
@russcam are you running the command in Azure Cloud Shell or your local instance of CLI?

Can you try another region? I see there are some issues with East US at the moment which might be causing a problem

https://azure.microsoft.com/en-us/status/

[2018-09-19 17:31] MicahMcKittrick-MSFT commented on #15207
#15278

@badalk we can address all issues in this issue. No need to open multiple issues as it can become a bit confusing.

[2018-09-19 17:32] MicahMcKittrick-MSFT commented on #15278
Working off of #15207

[2018-09-19 17:32] #15278 closed

[2018-09-19 17:34] MicahMcKittrick-MSFT commented on #15234
Working off of #15207

[2018-09-19 17:34] #15234 closed

[2018-09-19 17:38] sethmanheim commented on #15243
@takefumk Hi and thanks for your feedback! This is a link to the Azure Stack downloader, but the admin portal will still show an update available. Can you please provide more details on what you would like to see in the release notes here?

[2018-09-19 17:39] adewaleo commented on #15212
@jimdial  @kobulloc-MSFT, thanks for looking into this.  @jimdial, I see. I did not know the `az vm create` command automatically uses a suitable existing vnet (same location) in the RG or creates a new one, if none is found. I just looked at the code and docs, and seems like this is indeed the behavior.

Do you think we could add some note / info saying that the CLI `az vm create` command automat

[2018-09-19 17:45] femsulu commented on #15226
@hcsmith1111 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-19 17:47] femsulu commented on #15271
@andresravinet Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-19 17:49] femsulu commented on #15281
@brianstringfellow Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-19 17:50] MicahMcKittrick-MSFT commented on #15207
@badalk I appreciate you asking these questions. And they are are valid questions. The scope for these comments on the docs are to help identify issues when running through the doc or items that we should add to the doc to make things more clear while you are following the instructions.

Myself and others who are working in these doc comments do have some knowledge about the product however some o

[2018-09-19 17:54] romeara opened #15289 "Specify Setting Deployment Credentials"
The instructions reference using "deployment credentials", after setting up the app services - this results in the Git repository URLs having "None", instead of the deployment credential username, which causes it to fail authentication. It would be nice if the instructions walked through setting these credentials up first to prevent this.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-09-19 17:58] wsilveiranz commented on #15247
Hi Matt,

              This seems to be a topic that is so important that I think it requires more proeminence on the document and higher up. I read the document twice, and only found it the third time after a friend pointed me out to that. And there were three of us searching for it. A bit more details about the repository and the security around the repository, including the encryption at rest

[2018-09-19 18:01] tszafran commented on #8704
Confirmed I'm having the same issue. Unfortunately I don't have a AAP P2 license available to confirm that license is required for this to work.

[2018-09-19 18:01] SaurabhSharma-MSFT commented on #15211
@AdamGrossTX Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@MarkusVi  Can you please help updating the documentation with the correct Administrator role required for logging into Azure to avoid any confusions.

[2018-09-19 18:01] CarlRabeler commented on #15263
@Undercooked  thank you - fixed in new PR

[2018-09-19 18:02] chocoelho commented on #14182
Any updates on this?

[2018-09-19 18:05] riabovil commented on #12247
Despite of using JIRA 7.5 which is supported, we can't use the plugin because corresponding JIRA Service Desk 3.8 is not supported :(

[2018-09-19 18:11] MicahMcKittrick-MSFT commented on #15239
@iainfoulds are you ware of what version of Linux AKS uses by default? I also do not find any information on this.

[2018-09-19 18:12] SaurabhSharma-MSFT commented on #15223
@n0ttsweet Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-19 18:12] jimdial commented on #15212
Adding a note is a good suggestion. Happy to do, but can't until 9/24. I'll leave this issue open until then.  Thanks.

[2018-09-19 18:13] SaurabhSharma-MSFT commented on #15225
@RRWin Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:13] MicahMcKittrick-MSFT commented on #15259
@Cecildt we have a doc on creating an HTTPS ingress controller. Have you checked that article yet?

https://docs.microsoft.com/en-us/azure/aks/ingress-tls

[2018-09-19 18:14] DCtheGeek commented on #15042
@femsulu @fhryo-msft Checked with engineering, it is:

**tags[<tagName>]**  - no period

I'll have the docs updated Monday.  Thanks for catching this!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-09-19 18:15] saghorpa commented on #15240
My comments below. Please let me know if you need more info.

And yes, this is really a great document, my personal favorite as it provide very clear visibility. ☺

Thanks,
Sachin

From: shethdharmin <notifications@github.com>
Sent: Tuesday, September 18, 2018 10:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sachin Ghorpade <Sachin.Ghorpade@microsoft.com>; Mention <mention

[2018-09-19 18:15] #15042 closed

[2018-09-19 18:15] MarileeTurscak-MSFT commented on #15142
I am going to close this out for now and will update you when we receive more information from the product team.

[2018-09-19 18:15] #15142 closed

[2018-09-19 18:18] Karishma-Tiwari-MSFT commented on #15286
@mcurko Thanks for the valuable feedback. I do agree that using Health probe with Load balancer would help determine which VM instances should recieve new flows by detecting failure of an instance.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cynthn The following links have useful info on health probe usability. I think adding som

[2018-09-19 18:19] markolbert commented on #15142
No, I'm waiting for the results of the product team review/analysis.

[2018-09-19 18:19] SaurabhSharma-MSFT commented on #15250
@Alexei-B Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:21] SaurabhSharma-MSFT commented on #15255
@thommck Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:26] SaurabhSharma-MSFT commented on #15272
@joemcgrath Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:27] adewaleo commented on #15212
@jimdial Thanks! No worries.

[2018-09-19 18:28] SaurabhSharma-MSFT commented on #15277
@mjcarrabine Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:30] SaurabhSharma-MSFT commented on #15285
@JeremyTBradshaw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 18:30] #15285 closed

[2018-09-19 18:31] SaurabhSharma-MSFT commented on #15287
@ermacia91 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:32] SaurabhSharma-MSFT commented on #15288
@akx Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-19 18:34] KevinXTian commented on #7237
Any update about setting this up using an ARM template deployment?

[2018-09-19 18:39] Grace-MacJones-MSFT commented on #15010
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

Hi @ccompy, I am assigning this to you because I tried updating the doc but it did not meet the required Acrolinx score. Thanks.

[2018-09-19 18:41] MicahMcKittrick-MSFT commented on #15260
@masnider could you comment on this one?

[2018-09-19 18:43] MicahMcKittrick-MSFT commented on #15282
Thanks for the question! We are investigating and will update you shortly.

[2018-09-19 18:44] MicahMcKittrick-MSFT commented on #15283
@akx we can work off of your first issue opened to address all problems

#15282

[2018-09-19 18:45] Grace-MacJones-MSFT commented on #15148
Hi @KeiroKamioka0000 , your App does not need an ID and Password to read the registry of your virtual machine.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-19 18:45] #15148 closed

[2018-09-19 18:48] TravisCragg-MSFT commented on #15238
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-19 18:55] psatyaa commented on #15119
Thanks @mike-urnun-msft . i missed that part and tried without extension. I would still recommend to put a hyperlink saying in case you can not see "Logic App Designer" in context menu please refer the link.

Its just a suggestion, as i binged and found lots of people has missed those steps.

Thank You.

[2018-09-19 18:58] cynthn commented on #15286
@Karishma-Tiwari-MSFT Does it work without the health probe? The article referenced is a "quickstart" and isn't intended for production environments. It has purposefully excluded some things to make it short and quick to accomplish.

[2018-09-19 18:59] blecalex commented on #15086
Thanks for you it's perfect

[2018-09-19 18:59] #15086 closed

[2018-09-19 19:02] Neckross commented on #15138
@MarileeTurscak-MSFT - the user experience is: the user authenticates through VPN flavor client with AD creds, then they get prompted for MFA approval, once approved they get connected to VPN network and they can RDP or launch Intranet resources... Exactly after 1 hour (not a minute more or less) they get prompted to re-authenticate on VPN client, because the credentials are cached they don't need

[2018-09-19 19:04] iainfoulds commented on #15239
Can SSH to a node and use `uname -r` to see the kernel version and `cat /etc/lsb-release` to see the Ubuntu release.

On a cluster I recently deployed, nodes are currently based on Ubuntu 16.04.5 LTS and kernel 4.15.0-1021-azure

[2018-09-19 19:06] SaurabhSharma-MSFT commented on #15258
@Kurren123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:06] #15258 closed

[2018-09-19 19:06] SaurabhSharma-MSFT commented on #14997
@phatcher We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:06] #14997 closed

[2018-09-19 19:07] MohitGargMSFT commented on #15144
@dimachernov Please note that I have raised this issue internally and will provide more information soon.

[2018-09-19 19:13] SaurabhSharma-MSFT commented on #15145
@EdisonDa I did not get that, what exactly is missing, I see "Launch Cloud Shell" image and it works fine for me and navigates to https://shell.azure.com/
![image](https://user-images.githubusercontent.com/38112130/45775698-6a5ae400-bc05-11e8-8c3c-5d3de09fcd69.png)

[2018-09-19 19:14] MohitGargMSFT commented on #15178
@kumaarrahul Please update on above. Thanks.

[2018-09-19 19:15] MohitGargMSFT commented on #15199
@alfredmyers Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-09-19 19:18] iainfoulds commented on #14983
Rather than creating a role binding that is tied to a service account, a role binding can be created that points to the object of an Azure AD user or group. That's the only difference. It's still all controlled by that Kubernetes role and role binding in terms of which namespaces the Azure AD user or group can access, and what permissions they then have to perform actions.

There's doc update alre

[2018-09-19 19:28] barbkess commented on #10957
@SaurabhSharma-MSFT : Please assign to @asmalser-msft.  Sorry, I had the wrong Saurabh in the previous comment.

[2018-09-19 19:28] SaurabhSharma-MSFT commented on #15244
@jasonshave Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-19 19:29] SaurabhSharma-MSFT commented on #15256
@mourldri Can you please provide the document link you are referring to ?

[2018-09-19 19:31] #15199 closed

[2018-09-19 19:32] SaurabhSharma-MSFT commented on #15081
@parabolic123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:32] #15081 closed

[2018-09-19 19:32] SaurabhSharma-MSFT commented on #15117
@1trevor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:32] #15117 closed

[2018-09-19 19:36] Cecildt commented on #15259
@MicahMcKittrick-MSFT , yes but it includes details on setting up another nginx ingress controller and cert-manager. On the HTTP application routing add-on page it would be easier to just list the steps needed to use a certificate to enable tls to make HTTPS connections when you are already using the HTTP application routing add-on which already creates an nginx ingress controller. Referencing to

[2018-09-19 19:38] SaurabhSharma-MSFT commented on #15191
@punkouter2018 Can you please provide more details on your ask.  Where exactly you want to see .net core 2.0 ?

[2018-09-19 19:38] TravisCragg-MSFT commented on #13873
@arsalangithubs Others have the same question, and I am currently working on that via #15279.

[2018-09-19 19:55] Blackglade opened #15290 "Missing using System;"
The code above in question is missing a using System; deceleration. Otherwise Console.WriteLine can't be called and Visual Studio gives me an error unless I type it in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-196f-fed8-7300-b9823c1031d5
* Co

[2018-09-19 19:57] SaurabhSharma-MSFT commented on #11332
@TomShinder We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:57] #11332 closed

[2018-09-19 19:57] Anmolgan81 opened #15291 "Does ADF V2 Supports copying of TVF?"
Is there any method supported by microsoft where I can schedule daily copy of table valued functions to Azure SQL database??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66fe032-5362-4b8e-2155-9c7237f2e2cc
* Version Independent ID: 7e4c70fe-7f75-5e57-1f70-cafef3bc0a28
* Content: [Incrementally copy multiple tables b

[2018-09-19 19:57] SaurabhSharma-MSFT commented on #12775
@awgraf We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:57] #12775 closed

[2018-09-19 19:58] SaurabhSharma-MSFT commented on #14548
@pyoungberg We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:58] #14548 closed

[2018-09-19 19:58] SaurabhSharma-MSFT commented on #14588
@rsedano We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:58] #14588 closed

[2018-09-19 19:58] SaurabhSharma-MSFT commented on #14912
@m43kwon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 19:58] #14912 closed

[2018-09-19 19:58] TravisCragg-MSFT commented on #15279
@richardcox13 Thanks for the feedback! I am gathering what information I can, and will update you soon.

[2018-09-19 19:59] Klaas- commented on #15252
@Karishma-Tiwari-MSFT I am aware of the preview status, I do not ask for support I mainly point out that the network requirements are missing from docs.

[2018-09-19 20:00] SaurabhSharma-MSFT commented on #15208
@parmarnishant We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 20:00] #15208 closed

[2018-09-19 20:01] SaurabhSharma-MSFT commented on #15221
@Yegmorcar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 20:01] #15221 closed

[2018-09-19 20:04] bmilbauer opened #15292 "Need more documentation of possible values"
Can we get more documentation on the potential values of some of these fields? I'm particularly interested in the child values of Properties.impactedServices, i.e. ServiceName and RegionName. I want to know the exact names of all the services that could show up in these fields so I can create alerts routed to the appropriate teams in my organization.

---
#### Document Details

⚠ *Do not edit this

[2018-09-19 20:05] jeevansd commented on #12247
@riabovil We are testing that. Soon we will update the plugin for this compatibility.

[2018-09-19 20:07] badalk commented on #14983
Thanks @iainfoulds , i created the role and role binding as you stated above but does this work with az aks browse? because I get a message post login with the user which is part of this new group i created in AD, saying that the logged in user does not have permissions to list pods in kube-system

`az aks browse --resource-group rg-aks-arm --name myfirstakscluster
Merged "myfirstakscluster" as cu

[2018-09-19 20:10] SaurabhSharma-MSFT commented on #8704
@MarkusVi  Can you please help on this issue.

[2018-09-19 20:12] TerryLanfear commented on #15095
@SaurabhSharma-MSFT - Thanks for reaching out to the Azure Security Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the Azure Security Center documentation. Please post your question to the Azure Security Center Field Discussion <asctalk@microsoft.com>.  There are field and engineering folks that may be abl

[2018-09-19 20:32] JasonBSteele commented on #15002
Thanks @mike-urnun-msft, you're right, I can't imagine why I thought it was a problem at the time - apologies for wasting your time!

[2018-09-19 20:32] eross-msft commented on #14800
#please-close

[2018-09-19 20:33] eross-msft commented on #14515
@dimachernov I've added this to my backlog of documentation to update and create as soon as I can. I'm going to close this issue now, but if you have any other issues, please don't hesitate to let me know.
@MohitGargMSFT  #please-close

[2018-09-19 20:35] TravisCragg-MSFT commented on #15261
@chaiyuxiao Unfortunately there is not a default way to push custom route tables to computers connected via P2S VPN. You can use [User Defined Routes](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#custom-routes) to route traffic within the VNET, or if you are joining a domain, you can push routes via Group Policy.

[2018-09-19 20:39] TravisCragg-MSFT commented on #14881
@RadoslavGatev this will be updated in the portal with the next update.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-19 20:39] #14881 closed

[2018-09-19 20:46] MohitGargMSFT commented on #15287
@ermacia91 I have assigned the issue to the content author to investigate and update as appropriate. Thanks.

[2018-09-19 20:52] tobydrake7 opened #15293 "LVM is now supported for RHEL OS disks in Azure"
LVM is now fully supported for RHEL on Microsoft Azure. The following paragraph could be rewritten or removed as it is no longer accurate.

"When you install the Linux operating system, we recommend that you use standard partitions rather than Logical Volume Manager (LVM), which is often the default for many installations. This practice will avoid LVM name conflicts with cloned virtual machines, p

[2018-09-19 20:53] MohitGargMSFT commented on #15288
@akx You are right in your observation. Please note that it is documented here - [MSIAuthentication class](https://docs.microsoft.com/en-us/python/api/msrestazure/msrestazure.azure_active_directory.msiauthentication?view=azure-python)

[2018-09-19 20:56] changanh opened #15294 "Event 18602 was listed twice in the list"
One as NodeDeactivateCompleted; one as ServiceCreated. Need a fix,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 396b832d-c637-2501-9abb-491d12d0c995
* Version Independent ID: da994736-81a2-561b-daf1-3aaceb3e308c
* Content: [Azure Service Fabric Event List](https://docs.microsoft.com/en-us/azure/service-fabric/service

[2018-09-19 21:03] Karishma-Tiwari-MSFT commented on #15286
@cynthn You are right. I totally missed the 'Quickstart' in the article name.
@mcurko Appreciate your feedback. Since this is a quickstart, we have intentionally kept this doc simple.

[2018-09-19 21:14] jason-j-MSFT commented on #15071
@linda33wj would copying from Azure Table to DataLake qualify as "All other copy scenarios" as described here:
https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-performance#parallel-copy

[2018-09-19 21:27] pbiswas-kol commented on #15183
@sergaz-msft

 I know Azure Machine Learning modules on Azure IoT Edge are still in public preview. So this ML modules and disable process identification are supported by RHEL 7.5  ?

[2018-09-19 21:27] kgremban commented on #11502
@Mike-Ubezzi-MSFT Can you #please-close this issue until we hear back from @danieljsmarda?

[2018-09-19 21:28] kgremban commented on #11884
@Cherisle Following up to see if you've had a chance to continue testing, or could share more information about your system?

[2018-09-19 21:30] axisc commented on #15248
Partitions and Fragments are used interchangeably here.

[2018-09-19 21:32] Mike-Ubezzi-MSFT commented on #15236
Just a note: The [Caching <caching>](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/caching/) documentation is specific to ASP.NET enabled caching and not Redis Cache configuration.  The document this issue was filed under ([ASP.NET Output Cache Provider for Azure Redis Cache](https://docs.microsoft.com/en-us/azure/redis-cache/cache-aspnet-output-cache-provider)) could use som

[2018-09-19 21:33] Mike-Ubezzi-MSFT commented on #11502
@danieljsmarda We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 21:33] #11502 closed

[2018-09-19 21:46] MichaelHauss commented on #7237
Not available yet, but we are working on it. Stay tuned.

[2018-09-19 21:46] Mike-Ubezzi-MSFT commented on #15263
@Undercooked Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-19 21:49] Mike-Ubezzi-MSFT commented on #15274
@sssseossss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-19 21:54] CarlRabeler commented on #15263
#please-close PR already merged

[2018-09-19 21:56] u983101 commented on #14985
Hi,

If you look at the previous email I sent with the image attached, the call contains the Ocp-Apim-Trace header, so yes, I have tried. And it doesn't work
________________________________
From: Mike Urnun <notifications@github.com>
Sent: Wednesday, 19 September 2018 9:36 AM
To: MicrosoftDocs/azure-docs
Cc: Johnny Tam; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Documentation out of date!! (

[2018-09-19 22:02] tfitzmac commented on #15281
@brianstringfellow - sorry, you cannot use that command for a subscription level deployment. Is it possible to remove resourceGroup() in your other templates? If you are using it for location, you could add a location parameter. If you are using it for the resource group ID, that might be trickier.

[2018-09-19 22:10] MicahMcKittrick-MSFT commented on #15293
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-19 22:11] MicahMcKittrick-MSFT commented on #15294
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-19 22:12] Mike-Ubezzi-MSFT commented on #15263
@Undercooked We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 22:12] #15263 closed

[2018-09-19 22:29] szarkos commented on #15293
I don't actually think the statement is inaccurate just because a certain VM image uses LVM on its OS disk. It wasn't intended to be RHEL specific or even about "support," but rather as a general recommendation. If it helps I can add "in general, we recommend ..."? That way it's a little more open ended.

[2018-09-19 22:29] Cherisle commented on #11884
Hi, so for my sending module I have the following pieces of code:

static void Main(string[] args)
        {
            bool bypassCertVerification = RuntimeInformation.IsOSPlatform(OSPlatform.Linux);
            if (!bypassCertVerification)
            {
                InstallCert();
            }

            dc = Init(bypassCertVerification).Result;
            Console.WriteLine("IoT Hub modu

[2018-09-19 22:43] szarkos commented on #15293
Would something like the following make more sense?

"Logical Volume Manager (LVM) may be used on either the OS disk or data disks in Azure. However, in general it is recommended to use standard partitions on the OS disk rather than LVM.  This practice will avoid...."

What might also help is to know what's driving this issue - i.e. is it confusion about the wording, or confusion about the support

[2018-09-19 22:45] MicahMcKittrick-MSFT commented on #15294
@dkkapur it does appear Event 18602 is listed twice:

![image](https://user-images.githubusercontent.com/32313503/45785873-dac42e00-bc22-11e8-8a7d-812f0bcd2eb0.png)

![image](https://user-images.githubusercontent.com/32313503/45785880-e152a580-bc22-11e8-84ea-a882b28262c7.png)

Is the correct? If not, and you have the correct code I am happy to update the doc.

[2018-09-19 22:45] kgremban commented on #12495
@dsajanice I created a pull request with some additional information in the "view generated data" section. If this is what you were thinking when you created this issue, I can add that info to the other tutorials too.

[2018-09-19 22:45] kylepauljohnson commented on #11952
I believe it should look something like the following...

[code]

[2018-09-19 22:54] MarileeTurscak-MSFT commented on #15138
I tested in my local NPS lab environment by RDPing for 2 hours with an MFA-enabled user. I did not have this issue, but I am using RD Gateway and the issue is related only to VPN. The default lifetime for an access token is 1 hour so yours must somehow be reverting to the default. https://docs.microsoft.com/zh-cn/active-directory/active-directory-configurable-token-lifetimes

The [certificate life

[2018-09-19 22:55] MarileeTurscak-MSFT commented on #15138
For these types of troubleshooting questions I suggest you go to the Azure MFA forum on MSDN. We can provide better assistance to you there and be able to continue this discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazureactiveauthentication

I am closing this out for now but will gladly continue troubleshooting if you re-post this on MSDN.

[2018-09-19 22:55] #15138 closed

[2018-09-19 22:57] BryanTrach-MSFT commented on #15221
@Yegmorcar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-19 23:06] TravisCragg-MSFT commented on #15131
@itanex I was able to repro a failover, and it worked almost exactly as expected. I will work with you offline to discuss this further.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-19 23:06] #15131 closed

[2018-09-19 23:30] kobulloc-MSFT commented on #15228
@MichelleC2386 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-09-19 23:30] #15228 closed

[2018-09-19 23:43] punkouter2018 commented on #15191
I meant when you create a azure dev ops project in Azure the sample MVC project is using 1.1 .net core.  When will it be updated to .net core 2.1 ?

[2018-09-19 23:44] rstorgaard opened #15297 "Sentence is unclear under "GTM Benefits in the Marketplace""
"The activities that Microsoft provides vary depending on your solution status in the marketplace. Benefits significantly increase for listings."
I wasn't clear what was meant by my "solution status" and especially unclear what the sentence saying "benefits significantly increase for listings" meant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-09-19 23:46] mike-urnun-msft commented on #14985
Hi @u983101 I went through the steps again and didn't encounter any issues relating to missing of `ocp-apim-trace-location` header. As such, we will proceed to close this thread. If you're able to share specific repro steps and have further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-19 23:46] #14985 closed

[2018-09-19 23:48] kobulloc-MSFT commented on #15249
@sgalles I'm observing the same thing as well.  I'll send this to the document author to make a correction.

![image](https://user-images.githubusercontent.com/37556655/45787763-b9b40b00-bc2b-11e8-8ccc-599727873092.png)

![image](https://user-images.githubusercontent.com/37556655/45787767-c0db1900-bc2b-11e8-945d-67602bb44a68.png)

![image](https://user-images.githubusercontent.com/37556655/4578777

[2018-09-19 23:52] mike-urnun-msft commented on #14927
Hi @daniel-rocha The documentations specifies JDK version `8.0` in its prerequisite. Did you see if that was the culprit?

[2018-09-19 23:52] russcam commented on #15229
I'm running from a local instance of CLI. I'll try another region and will update you.

[2018-09-20 00:04] curtand commented on #15174
Hi @Markus-Hanisch  I'll get together with the PM to get this verified and added. Thanks!! Depending on how long to get it reviewed, and many folks going to Ignite, I can't predict yet. I'll keep you informed through issue comments.
@MarileeTurscak-MSFT

[2018-09-20 00:10] curtand commented on #13470
Hi @DeanGross
We're planning a major upgrade and expansion of the admin docs. The requested revisions will be part of that larger project.. I'd like to close this as it will be rolled out in one of the stages of our expansion.
#please-close
@SaurabhSharma-MSFT

[2018-09-20 00:12] kobulloc-MSFT commented on #15254
@Baffour Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-20 00:14] CESARDELATORRE opened #15298 "Add Helm installation on a Windows client machine"
You should add how to install Helm on a Windows machine, in addition to Mac or just saying that it works in Azure Cloud Shell...

Explained here:

- Download your desired version of Helm from here: https://github.com/helm/helm/releases
- Unpack it
- Place Helm.exe in your selected folder
- Add the path to it to the PATH environment variable in Windows

Check that it works by typing "helm help"

--

[2018-09-20 00:29] agvardha commented on #15143
@mattbriggs I will be on vacation for the next 3 weeks or so. So please pardon me if I dont reply.

[2018-09-20 00:47] kazshi commented on #15251
@Karishma-Tiwari-MSFT Sorry for my unclear question. I would like to know if it's possible to configure the prerequisites in the template (like "extensionProfile" sample in the other feedback) and how to make it if it's possible. Thanks.

[2018-09-20 00:47] Karishma-Tiwari-MSFT commented on #15188
@bospoort Thanks for bringing this to our attention.
I have assigned the issue to the content author to update the document as appropriate.

Steps should be as follows:
1. Open the Azure portal.
2. Go to Resource Groups -> Click on a Resource group name ->Click on the VM name you would like to move from this resource group.
3. Got to Overview tab, Click on change button as shown below:

![image](h

[2018-09-20 00:53] femsulu commented on #15292
@bmilbauer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-20 01:01] femsulu commented on #15297
@rstorgaard Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-20 01:01] mike-urnun-msft commented on #15290
Hi @Blackglade Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-20 01:06] agvardha commented on #14612
@mattbriggs @femsulu @TravisCragg-MSFT I just observed Build 1.1808.0.97 is out. I searched for the issue about unable to do diagnostic and did not see it. Since it was working on 1803 onward might be it just got broke in 1807. I will be on vacation for the next 3 weeks could one of you kindly confirm if my issue has been fixed in Build 1.1808.0.97 please? Basically if I can see a screen like this

[2018-09-20 01:09] andrewatfornax commented on #15147
Ah, okay, thanks! As far as I can see, though, there's nothing in the documentation on that page that indicates that only one Fabric Object is permitted per region, nor is there any documentation on how to discover the above error if the "Failed" response is returned.

The process documented will fail as a result under this situation, as the Fabric Object that does exist won't be obtained, as it e

[2018-09-20 01:10] ellacroi commented on #15297
@rstorgaard swooping in with the excellent editorial insights :) good catch, we'll fix. @yijenj, want to take a look at how to articulate the list-trial-transact gtm framework?

[2018-09-20 01:16] curtand commented on #14621
Hi @Kazzan
Thanks for your patience. I'll get this change verified and add it ASAP. I'll keep you informed by updating the issue comments.

@MohitGargMSFT

[2018-09-20 01:17] sauryadas commented on #14665
Thanks for your patience. Cluster auto scaling and manual scaling on the same cluster actually mess up configurations and should not be used together. In general, there are some rough edges in this upstream autoscaler. Can you please try again and report issues ?

cc @kkmsft

[2018-09-20 01:47] takefumk commented on #15243
@sethmanheim In this customer case, they saw the update package was automatically downloaded and did not have to go to the link and download and upload to a Storage Account manually. Also observed that the old update packages which had been uploaded to the Storage Account disappeared. From the customer view point, it looks like the bechavior around PnU download has changed with 1808. So the custom

[2018-09-20 01:57] EdisonDa commented on #15145
@SaurabhSharma-MSFT you can refer to this page https://review.docs.microsoft.com/en-us/csi/quality/content/docs-content-e2e/catstestcases/seo-rule?branch=master#alt-text-for-image---missing-alt-text-for-image, as SEO recommend, every pic should have alt attribute.

[2018-09-20 01:59] rolyon commented on #13348
I've scrubbed preview references on this page and in the PIM docs. I've updated some of the screenshots. I'll be working to make more updates.
Thanks for your feedback.

[2018-09-20 02:01] rolyon commented on #13348
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-09-20 02:04] mnltejaswini commented on #14531
@paulmackinnon-adv365
We have root caused this issue and we are working on this fix. Thanks for your patience

[2018-09-20 02:08] APErebus opened #15312 "GetStatusAsync returns a status object with a RuntimeStatus.Completed, resulting in subsequent calls not starting"
I've implemented this scenario using a `[ServiceBusTrigger]` as the trigger and a hardcoded `instanceId`.

The first execution correctly creates a new instance and successfully completes. On subsequent executions however, `GetStatusAsync` returns a `DurableOrchestrationStatus` with it's `RuntimeStatus` set to `Completed`. This means that it will never start a new instance. So it's a singleton in t

[2018-09-20 02:13] RoopAnymous opened #15313 "Copy from Azure Table to Data Lake Store V1"
The copy from azure table for most of my pipelines takes 2 -4 hours and max completes but there is only one pipeline from the same Azure Table for same duration dataset takes 9 hours and more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bbd66af-d49f-e595-a7bc-c48cd3675ddc
* Version Independent ID: d3e43062-2f4e-a7a

[2018-09-20 02:16] spelluru commented on #15290
Hi @Blackglade - Thanks for the feedback on the article. When I create a console application (.NET core) as mentioned in the article, the Program.cs file already has the "using System;" statement. As per the step 1, we are supposed to add the using statements in the block to the file. Therefore, after you follow the step, you should still have the "using System".

// already there when I created t

[2018-09-20 02:52] femsulu commented on #15115
assigning to content owner to take appropriate action.

[2018-09-20 02:59] femsulu commented on #15281
@brianstringfellow would also suggest sharing your feedback/feature request directly with the ARM engineering team using [this link](https://feedback.azure.com/forums/281804-azure-resource-manager).

[2018-09-20 02:59] #15281 closed

[2018-09-20 03:29] rpmxappadmin commented on #15133
I found the problem and it is a bug in the portal VM creation wizard.  When I created the vm, I created the admin user name to be ‘RpmxAdministrator’.  The vm creation wizard accepted the login, and the VM was successfully created.  However, when attempting to login, I received and error saying the credentials were invalid.  I deleted the VM and all associated resources, and then attempted the pro

[2018-09-20 03:49] prara06 opened #15314 "Tagging across subscriptions"
Can you share tagging best practice to apply around 5 tags across 5 subscriptions.  I created 5 policies and put them into one initiative definition.  Should I create 5 assignments (each subscription)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048b3989-d4b9-2de8-af56-aab179ea8878
* Version Independent ID: ecd6185f

[2018-09-20 03:50] prara06 opened #15315 "Restrict Policies to specific users"
I need to create a policy to restrict VM provisioning to all users except admin user group.   Only they should be allowed to create VMs and every else deny.
please add a section on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c2b734d-4d4a-2924-cb67-0e5e05b0b503
* Version Independent ID: 2aa6b407-37a4-e474-cb41

[2018-09-20 03:55] tangzhengyue commented on #15262
@sergaz-msft I updated to 3.1.0. The TokenProvider is resolved. However, I still can't resolve "ServiceBusEnvironment" and "MessagingFactory".

[2018-09-20 05:11] dimachernov commented on #15144
@MohitGargMSFT Thank you

[2018-09-20 05:15] mcurko commented on #15286
At least for me, the quickstart doesn't work at all without health probe, that's the point!

[2018-09-20 05:15] SamirFarhat commented on #15242
Hi,

You need, as described on the article to use the ":remote console" command before.
With it, all commands will be redirected to the cloud without :>

Samir

[2018-09-20 05:30] andrewatfornax opened #15316 "Network Connectivity & NSGs"
The documentation here talks about the outbound network connectivity required for the monitoring agents. However, the connectivity is given in terms of hosts (e.g. "*.ods.opinsights.azure.com"). As far as I am aware, it is not possible to set up Azure NSGs using host names like this.

Could the documentation please be updated to include the appropriate Azure Service Tags that correspond with these

[2018-09-20 05:39] SaurabhSharma-MSFT commented on #15219
@poortom1004 I get your point.  Please post this as a Product feedback at https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-20 05:53] barclayn commented on #15265
@JoeMcGrath Thank you for letting us know about this. I have taken care of it and the changes should be live within 24 hrs.

[2018-09-20 05:53] barclayn commented on #15265
#please-close

[2018-09-20 05:54] mnltejaswini commented on #14531
@paulmackinnon-adv365  We are getting non ASCII header values from resource manager for your subscription and our backend is blocking the request with 400. We will follow up with azure resource manager on this, while we updated our backend to workaround this issue. can you please try and let us know if it works . thanks.

[2018-09-20 05:54] sanathkumarshetty opened #15318 "link to Get-Credential is broken"
In the Create Virtual Machine Section the Link to Get-credential is Broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version Independent ID: 370fcf36-dce0-6718-4566-34a71cd0314e
* Content: [Tutorial - Create and manage Windows VMs with Azure PowerShell](https://docs.microsoft

[2018-09-20 06:00] SaurabhSharma-MSFT commented on #15220
@poortom1004 Have you looked into [Scenarios, limitations, and known issues using groups to manage licensing in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-group-advanced) and [Group Licensing with PowerShell](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-ps-examples).  also, go through this [bl

[2018-09-20 06:03] inmishrar opened #15319 "Multiple Resource Group Deletion Features in Azure Portal"
# How to Delete Multiple Resource Group from Azure Portal ?

## Creating an issue

Dear Members,

I don't see Azure Resource Manager web portal is providing feature of selecting multiple resource group and get them deleted at one go. I am assuming that they should work on it and try to provide this web feature so that it can help Engineers while performing clean up activities.

## Alternative way

[2018-09-20 06:07] kazshi commented on #15157
@MohitGargMSFT  @femsulu  additional comment: I believe we cannot get metrics for VM (instance) on the portal (we can get metrics for VMSS only, correct?), so I'd like to know if /virtualMachineScaleSets/virtualMachines is the same as /virtualMachineScaleSets/, and what is /virtualMachineScaleSets/virtualMachines exactly if it's not the same.  Thanks.

[2018-09-20 06:12] chaiyuxiao commented on #15261
@TravisCragg-MSFT What a pity and P2S gateway push a new server address when client connected via  P2S VPN . Can P2S gateway support this ?

[2018-09-20 06:23] inmishrar opened #15320 "Deleting Resource Group in ARM should send to Recycle Bin"
## Deleting Resource Group in ARM should send in Recycle Bin

Microsoft had given very good feature of having control over resources using Resource Group Feature. I am raising this request because sometime while performing clean up activities, there is chances of deletion of Resource Group. There is no such feature to get them restore if it's got deleted by mistake.

They should incur this feature

[2018-09-20 06:45] msvijayn commented on #15226
@hcsmith1111 - the screenshot used in the doc are samples, and indicative of the options/values will show up; will vary from each resource to another. As indicated in step 5, please refer to the linked doc to understand all the metrics supported for alerts; including those for Log Analytics.

![image](https://user-images.githubusercontent.com/33087919/45800504-b7ef5380-bcce-11e8-81dc-55aae3ccea6d.

[2018-09-20 06:47] YoRobotCop commented on #15179
Thanks Microsoft Team, many questions but step by step, the Arcangels and angels are my guide. Espíritu Santo = Gobierno y yo obedezco Slack

[2018-09-20 07:04] mike-urnun-msft commented on #14927
Hi @daniel-rocha Thank you for reporting this! We've reproduced & validated this issue. As next step, we have assigned this issue to the author to review further and take the right course of action.

[2018-09-20 07:21] nageshajab opened #15323 "Nice article"
Thank you .. Followed every step & everything worked flawlessly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb669bb-e736-a4f8-160a-83cf38a83441
* Version Independent ID: f17b0663-14aa-4206-6eb4-404a081b786e
* Content: [Quickstart to learn how to Use Azure Redis Cache with .NET Core apps](https://docs.microsoft.com

[2018-09-20 07:45] tjcdw commented on #14588
Working like a charm now. Thank you very much!

[2018-09-20 08:35] tsahi commented on #14003
Thanks for the update. However, I still see a paragraph about `TrackMetric`, even though it is marked with the `[EditorBrowsable(EditorBrowsableState.Never)]` attribute in [the C# source](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/41689475f69926083de868d51234ad6b60886c29/src/Microsoft.ApplicationInsights/TelemetryClient.cs#L227).

Also, it would be easier to read if the lines in

[2018-09-20 08:46] olegshalnov commented on #15010
Hello Team!
Can I do the same thing through powershell?

[2018-09-20 08:48] hemanthraparthi opened #15325 "i was did the AzureAdpolicy configuration for tokens but the token is valid till 100 days only"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-20 08:48] balait01 commented on #14180
Any update pls

[2018-09-20 08:50] hemanthraparthi opened #15326 "i did the AzureAdpolicy configuration for tokens validity but the token's validity changes are not reflected. it is valid till 100 days(default) only. Can you please help me with it."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-20 08:50] cenkersoy opened #15327 "Typo"
Hi, this statement "connectivity test might file" has a typo.  It should say "connectivity test might fail".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ee2047-e51e-cf36-1bde-6919b2c5f3cf
* Version Independent ID: c4e207d0-be8b-8096-52ad-04e0d029d1e2
* Content: [Deploy App Services: Azure Stack](https://docs.micro

[2018-09-20 08:54] v-DavidTang opened #15328 "AzCopy Lastest Version(v8.1) Info is null"
When use the [AzCopy](http://aka.ms/downloadazcopy) provided in this doc, the script went into below error :

[code]
and finally find the issue is we cannot access the version info:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc13a41-1290-5e8d-0fa1-acf82a3f7fea
* Version Independent ID: d68edfe4-d627-aa62-e

[2018-09-20 08:54] spacecat opened #15329 "Look at the files added to project"
"Dockerfile has information needed to package your application in the standard Docker format."

What happens if I already have a Dockerfile in my project? Will it get overwritten?

(I already had a Dockerfile created by the Docker tools for Visual Studio 2017 / "Enable Docker support" feature)

Git detects no changes after enabling Dev Spaces so I assume it is the exact same commands that get gene

[2018-09-20 08:59] #15325 closed

[2018-09-20 09:03] 2022551 opened #15330 "Microsoft"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-20 09:12] jhueppauff opened #15331 "Possible Bug? ADF Dynamics Adapter does not import all Schema Fields from Dynamics"
I am not sure if this is the right place to report a Bug for the Data Factory. If not, can you please guide me to the right location?

The Dynamics365 ADF Adapter seems only to import schema fields when they have data Dynamics.
For a Destination Dataset, this is very unhandy as you have to create all Fields by hand.

Thank you in advice
---
#### Document Details

⚠ *Do not edit this section. It is

[2018-09-20 09:12] JonasBr68 opened #15332 "Scale in - Should be better to remove oldest node"
When scaling in, the example show how to remove the most recently added node, would it not prudent to remove the 'oldest' node instead which would have been running/active for longer. I realize this could run into naming/numbering issues after many scale-out/in operations... Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-09-20 09:22] SychevIgor opened #15333 "Document a behavior for complete mode for nested resources (aka firewall rules for sqlserver)"
I recently got some behavior not covered by this article.
Case:
We deployed an ARM template (SQL Server with firewall rules) in incremental mode.
Than delete firewall rules from ARM template and try to run a deployment in both incremental/complete mode, but result was not as we expect. We expect, that in complete mode, ARM engine will delete firewall rules (nested resource fro sqlserver resource),

[2018-09-20 09:43] SychevIgor opened #15334 "Rename the file name to remove "preview" from the name"
This portal is no longer preview, filename should be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225d8386-c24d-7202-4eb0-61e2f8249e3e
* Version Independent ID: 83f151c6-4870-58b1-b44e-56e3bd42bb25
* Content: [Supported browsers and devices for Azure portal](https://docs.microsoft.com/en-us/azure/azure-previe

[2018-09-20 09:51] crk4 opened #15335 "Useful"
I am glad that this is very useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7afa0942-ffc5-3f56-0b43-b33ab44ddfa0
* Version Independent ID: d2af1fb8-5bd9-733c-ef78-c4b9087f0fea
* Content: [Bing Speech WebSocket Protocol](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/api-reference-rest/websocket