[2021-01-05 18:24] lipalath-ms opened #68440 "Microsoft.Online.DirectoryServices.DirectoryValueExistsException on adding members to group"
When I tried to add members to the Azure AD group, I see A LOT of member adds were successful to the group and the ones that did log a failure were all for the following reason: Microsoft.Online.DirectoryServices.DirectoryValueExistsException. That was the sole reported reason for any failures to add members to that group. Could you please let me know why is that?

---
#### Document Details

⚠ *Do

[2021-01-05 18:25] hrasheed-msft commented on #68396
@lichaozhao Thanks for the feedback.  Acutally the document you mentioned is on Azure docs: https://docs.microsoft.com/azure/hdinsight/hadoop/apache-hadoop-on-premises-migration-best-practices-storage

The URL you found is the github rendered version of the markdown file used by the docs platform to create the article.

Please let us know if you need any additional assistance.

#please-close

[2021-01-05 18:25] #68396 closed

[2021-01-05 18:26] kenwith commented on #68414
I just checked and the documentation matches the UI so I don't think there is a documentation issue here. When a feature reaches general availability I believe the PM will add an announcement here: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

I will see if I can find out if there is anything to share around timing and reply here if I find something.

#please-clos

[2021-01-05 18:26] #68414 closed

[2021-01-05 18:31] JamesTran-MSFT commented on #68440
@lipalath-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-05 18:34] ErikUmhoe commented on #68351
@dlepow  This means that an ACR cannot be used to store helm charts the same way it previously was able to using Helm 2 and the AZ CLI correct? You need to store them in a repository in your ACR, similar to Container images.

@bellaned  it seems like this is currently being worked on helm/helm#8843.

[2021-01-05 18:36] JamesTran-MSFT commented on #68428
@xelossan
Thank you for your time and patience!

Were you able to follow this documentation when implementing localization?
https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization

[2021-01-05 18:45] jordanmills opened #68441 "Missing detail on escaped characters"
The requirement to escape double quotation marks is in, but single quotation marks/apostrophes must also be escaped.  Some time in the past year, there was an undocumented change to the service, and a single quotation mark now matches nothing and will cause the string match to fail.  But this only happens after the dynamic rule syntax is updated (i.e. if left in place, a rule that previously worke

[2021-01-05 18:50] mmaitre314 commented on #67806
Same need here: we would like the same code to work via Service Catalog for internal customers and via Partner Center for external customers. It would also be good for the docs to be updated to clarify setup and limitations.

[2021-01-05 18:57] ftereso opened #68442 "Hi, is the multiorigin feature allowed to be use with rewrite?"
Can we put a origin group override rule and an action with url rewrite?
In the scenario where I want some files on a particular storage to be viewed by a specific path.

Consider the following  cdn.mydomain.com/FilesOnlyInStorageA/filepath.ext
will retrieve files only in origin group A where the only origin will be storage A and the relative path for filepath.ext on the storage is /NotImportantFil

[2021-01-05 18:59] kgremban commented on #67704
@xaviermignot I'm glad that you have a solution that works for you. The comparison article was updated yesterday to remove references to connect/disconnect events from the routing column of the table. I'm going to close this issue now as resolved, but if you have any further questions or comments on this topic feel free to post here again and we can reopen the issue.

Happy new year!

#please-clos

[2021-01-05 18:59] #67704 closed

[2021-01-05 19:00] erikadoyle commented on #11973
ValidateClient with endpoint parameter is for non-HTTP protocols to verify the persistent connection. I've added a link to the reference doc for more info. Thanks for your feedback! #please-close

[2021-01-05 19:00] #11973 closed

[2021-01-05 19:02] miwithro commented on #68399
Hello,
  Is there a particular reason you are using the AAD Legacy component versus the Managed AAD component?

https://docs.microsoft.com/en-us/azure/aks/managed-aad

[2021-01-05 19:06] alenroki opened #68443 "Misleading Tip text"
In the green tip section it is stated that the Linked Service to a Storage Account will be created with Storage Account key:

"Tip

In this tutorial, you use Account key as the authentication type for your source data store, but you can choose other supported authentication methods:"

But the steps in the tutorial do not show this and rather force you to pick the storage account from the list in t

[2021-01-05 19:08] jlichwa commented on #67402
@kprunella can you look into this. Thanks

[2021-01-05 19:09] erikadoyle commented on #8606
This feature has undergone multiple version updates and GA'd since the issue was filed, so should no longer repro the issue. #please-close

[2021-01-05 19:09] #8606 closed

[2021-01-05 19:19] sijucm commented on #29213
That makes it clear. Thanks for the clarification

On Tue, Jan 5, 2021, 6:46 PM Thomas Weiss <notifications@github.com> wrote:

[2021-01-05 19:25] jpcast88 commented on #68332
Thanks @SubhashVasarapu-MSFT for the update and quick response. I had also submitted a PR for this issue (https://github.com/MicrosoftDocs/azure-docs-pr/pull/141965), Should I close it out, since it sounds like another PR was submitted to fix this issue?

[2021-01-05 19:30] yoelhor commented on #68378
I have updated the doc since this federation with multi-tenant AAD is not currently available for user flows.

[2021-01-05 19:35] xelossan commented on #68428
@JamesTran-MSFT yeah, I've done everything according to the docs. I've enabled localization without adding any custom strings, so I asume it should use default localization, but it doesn't work. I've also tried different page layout versions.

![image](https://user-images.githubusercontent.com/1189969/103690534-300fdf00-4f95-11eb-9333-0a4f0383f39d.png)

After adding German and switching to 2.1.1 t

[2021-01-05 19:37] shortpatti commented on #68405
Updated content.

#please-close

[2021-01-05 19:37] #68405 closed

[2021-01-05 19:37] shortpatti commented on #68398
Updated content.

#please-close

[2021-01-05 19:37] #68398 closed

[2021-01-05 19:38] MarileeTurscak-MSFT commented on #68438
Thanks! The link was missing a query parameter. I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/142266

The page should be here: https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-template?tabs=CLI

CC @ShaneBala-keyvault

[2021-01-05 19:38] #68438 closed

[2021-01-05 19:40] tarosler commented on #68275
@DeanGross - the Microsoft recommended way is to use Azure Sentinel and stream both Azure Defender (Azure Security Center threat protection offering) & AAD alerts into Azure Sentinel, and manage the security operations directly in Azure Sentinel

[2021-01-05 19:46] JamesTran-MSFT commented on #68441
@jordanmills
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-05 20:01] DerekHerman-MSFT commented on #68429
@jsandersrocks
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-05 20:03] MGoedtel commented on #68066
@artisticcheese - Thanks for raising this issue. I've confirmed the steps are incorrect and need to be updated, and I'm going to address it now.  In the meantime to access the computer group, in your LA workspace, select Advanced Settings from the left-hand pane and then select Computer Groups\Saved Groups and you should see the Updates:MicrosoftDefaultComputerGroup in the list.

Hope that helps.

[2021-01-05 20:05] MicrosoftGuyJFlo commented on #68281
@danmyhre The only addition the PM is prepared to add regarding normal user sign in is... "consistent/normal sign-in behavior will not require MFA" Does that help clear it up at all for you?

[2021-01-05 20:32] TravisCragg-MSFT commented on #68320
@chandrapola The answer to A, B, and E are different depending upon the type of disks you are using.[ Unmanaged standard disks are the only storage option that charges based upon how much you use](https://azure.microsoft.com/en-us/pricing/details/storage/page-blobs/), Unmanaged premium disks and [Managed disks](https://azure.microsoft.com/en-ca/pricing/details/managed-disks/) charge based upon the

[2021-01-05 20:38] mimckitt commented on #64189
Fixed. Should be live by end of the day.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/142237

#please-close

[2021-01-05 20:38] #64189 closed

[2021-01-05 20:39] mimckitt commented on #66450
This document is no longer being updated

![image](https://user-images.githubusercontent.com/32313503/103696332-06ce5f00-4f53-11eb-8cba-b9b2f7ed69ff.png)

I added a backlog item for the linux team to investigate if we need a new doc in this area or not.

#please-close

[2021-01-05 20:39] #66450 closed

[2021-01-05 20:40] Rocketboy235 commented on #41969
I have this issue while going through the Microsoft Learn tutorial. The fact that the error exists in Microsoft's own tutorials for learning how to use AZCopy tells me that this is indeed a global issue and not an isolated issue.

Tutorial: https://docs.microsoft.com/en-us/learn/modules/copy-blobs-from-command-line-and-code/6-exercise-move-blobs-using-azcopy

![image](https://user-images.githubuse

[2021-01-05 20:42] mimckitt commented on #67248
The goal of this doc is to show how to set custom data during VM creation. Although as you found there are other ways to set it. I created a backlog item with the linux team to investigate if we want this added but for now we are keeping the document as is.

#please-close

[2021-01-05 20:42] #67248 closed

[2021-01-05 20:44] Rocketboy235 commented on #41969
![image](https://user-images.githubusercontent.com/29405055/103696715-d5628d00-4f6c-11eb-891c-da0504bda077.png)
 When doing the --recursive workaround, it seems to not work for my case and is  unable to copy the 6 files from source to destination. Not sure exactly why.

[2021-01-05 20:44] #61554 closed

[2021-01-05 20:47] mimckitt commented on #64211
This issue was opened on a document that we are no longer updating and maintaining.

![image](https://user-images.githubusercontent.com/32313503/103696994-231ecb80-4f54-11eb-92cd-d7313ab65412.png)

Appears we do have some updated documentation around this though:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/how-to-configure-lvm-raid-on-crypt

as well as some other scenarios

![im

[2021-01-05 20:47] #64211 closed

[2021-01-05 20:55] mapoitras commented on #43911
Any updates on this?  I have a client with same problem.

[2021-01-05 21:00] mlearned commented on #68417
There will be some guidance coming out for a "maintenance window" of when to expect the upgrades.  It is still being worked on and not quite ready to share yet.

[2021-01-05 21:08] mtyeager commented on #39958
@kgremban I am using the tutorial located at: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-custom-vision?view=iotedge-2018-06 not sure what you mean by the latest version, or where another version would be. VSCode appears to be fully up to date. Yet I am getting the errors "unable to import requests" and "unable to import azure-iot-device"

[2021-01-05 21:10] baanders commented on #68256
Hi @snekkermoen, this is not possible at the present time. Azure Digital Twins currently does not support filtering on JSON Patch.

I'll now proceed to close this issue, but feel free to reach out again—through similar threads, the [Microsoft Q&A forum for Azure Digital Twins](https://docs.microsoft.com/en-us/answers/topics/azure-digital-twins.html), etc. — with additional questions!

#please-clos

[2021-01-05 21:10] #68256 closed

[2021-01-05 21:13] baanders commented on #68006
Back with an update! (Hi @perkops)

Engineering was able to run the code without issue, and suggests this may be a configuration issue with Azure.Identity, rather than something applicable to all of Azure Digital Twins that is broken or misconfigured.

If downgrading to an earlier version of Azure.Identity is working for you, this has no functional impact to Azure Digital Twins and thus is current

[2021-01-05 21:16] RyanHill-MSFT commented on #68305
At @jzhouw, you should be able to add/view Egress metrics by following the how to document https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-metrics-howto. Let us know if you've added the Egress metric and can't view any data.

[2021-01-05 21:21] chadxxx opened #68447 "Fuck you"
[My account was hacked and I became homeless because of th ignorance of three companies. You being one of them. So sorry but if I lose anything else I'm sure I won't snap and find every person related to these companies and there families and get even because that could be back]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-01-05 21:23] lawrenceong001 opened #68448 "Cannot Complete this Tutorial -- multiple issues and no known way to resolve as of this writing"
Here are the issues I have found when attempting to follow this "tutorial"
1. in the section: "Create a Firebase project that supports FCM", after following step 4, and pressing next, we are not actually taken to the firebase console page for the new app, but to "add firebase sdk". I clicked next twice before being presented the option of going to the console, ignoring all those instructions. I do

[2021-01-05 21:26] dltmurphy opened #68449 "Limitations"
This page should also include a table on the limitations of the product. Maximum number of sites, domains, certificates, pools etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3abaaaa-87a3-f5b6-4265-a5cff6206ed4
* Version Independent ID: c93fe969-c631-0d2d-fcb7-c347da3a96d9
* Content: [What is Azure Web Application

[2021-01-05 21:27] JasonWHowell commented on #67210
Hi @DJuanes

Based on the error, looks like an authentication issue or something going on with the subscription/tenant id values.

Can you confirm if Purview works OK in the Azure portal before using the PowerShell demo?

If you are comfortable, you can work with the support team by opening a request here: https://portal.azure.com/#create/Microsoft.Support

What language do you speak? We may not h

[2021-01-05 21:28] JamesTran-MSFT commented on #68434
@JuGhithub
Thank you for your inquiry! Based off your question, I'd recommend reviewing the [Azure Active Directory pricing page](https://azure.microsoft.com/en-us/pricing/details/active-directory/) for more detailed info.

From the pricing documentation, anything that has to do with "Hybrid" requires a P1 or P2 license.

[2021-01-05 21:28] #68434 closed

[2021-01-05 21:33] baanders commented on #67005
@maximepollet27 Hello! Checking in with an update that the fix was indeed rolled out at the end of December, and to see whether you are still experiencing an issue with this.

One thing to note is that the update won't necessarily have "fixed" existing twins automatically; existing twins that were affected by this will need to be updated by you/the customer in order to re-serialize themselves with

[2021-01-05 21:37] thisisbrianstewart opened #68450 "AAD Groups are now supported"
Hello -- requesting a docs update to match what is now available.

"In a future release we will support specifying an Azure AD group instead of an individual user to have multiple administrators, however this is currently not supported yet."

This feature is now supported.  Could you update the docs so that is clear?  This new feature is great, and folks may think it isn't available yet!

---
####

[2021-01-05 21:37] JamesTran-MSFT commented on #68447
@chadxxx
Thanks for your feedback!

[2021-01-05 21:37] #68447 closed

[2021-01-05 21:39] davecatt opened #68451 "The logInformation entries are not logged - filter is not set"
In the code snippet ".NET Core/.NET Framework Console application".  The information level log entries are not logged.  The filter defaults to warning level, despite the .AddFilter configuration setting.  There is something wrong with the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d4fa84d-4cd3-216e-ca60-885f

[2021-01-05 21:41] KranthiPakala-MSFT commented on #68443
@alenroki
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-05 21:43] KranthiPakala-MSFT commented on #43911
Hi @chez-charlie, could you please review this ask and share your thoughts. Thank you.

[2021-01-05 21:44] youcc opened #68452 "outdated codes in databricks data pipelines page"
[Enter feedback here]
A couple of outdated codes on this page, https://docs.microsoft.com/en-us/azure/databricks/dev-tools/data-pipelines.
- bash code `airflow initdb` should be `airflow db init`.
- bash code `airflow list_dags` should be `airflow dags list`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8b5b7c1-8b46

[2021-01-05 21:50] KranthiPakala-MSFT commented on #68424
@marcoboffi
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2021-01-05 21:55] PatrickFarley commented on #68436
Thank you @GiftA-MSFT , I will add the definition now; it should show up by tomorrow.
#please-close

[2021-01-05 21:55] #68436 closed

[2021-01-05 22:00] NavtejSaini-MSFT commented on #68360
@sijucm The Collection and container are used interchangeable sometimes but we do acknowledge the fact that containers should be used for SQL API.

Additionally here are the two documents for the createdocument function which is applicable to stable Java SDK.
1. [CreateDocument](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.documentdb.documentclient.createdocument?view=azure-java-s

[2021-01-05 22:01] KranthiPakala-MSFT commented on #68423
@mikejboss Thank you for reaching out and apologizes for the inconvenience caused. At this time we are reviewing the feedback and will provide an update as appropriate. In the meantime could you please provide us the document link which you are referring to?

Thanks

[2021-01-05 22:04] KranthiPakala-MSFT commented on #68430
@mattruma
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-05 22:06] sebansal commented on #67772
Change has been deployed, will be live next week.
#please-close

[2021-01-05 22:06] #67772 closed

[2021-01-05 22:08] KranthiPakala-MSFT commented on #68433
@nunepalli
Thank you for reaching out. To better assist on your query,  could you please provide us the document link that you are referring to? - Thanks

[2021-01-05 22:09] NavtejSaini-MSFT commented on #68364
@sijucm Yes the triggers in Cosmos are not run automatically and PG team has declined the request to do so in the past, Check the Azure Cosmos Feedback [link ](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/9853455-make-triggers-automatic) for the same. They would prefer if you use the Change Feed in this regards.

@timsander1 Will it be possible to add this information to th

[2021-01-05 22:10] nunepalli commented on #68433
https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database

[2021-01-05 22:12] fume opened #68455 "ReadBodyClaimsOnIdpRedirect metadata is not documented"
The ReadBodyClaimsOnIdpRedirect metadata item is not documented. This metadata is extremely useful to implement the "Sign in with AppleID" from Apple as shown in this blog post: https://www.norris.solutions/post/get-user-name-claims-from-sign-in-with-apple

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb586f8-c1ff-76

[2021-01-05 22:14] KranthiPakala-MSFT commented on #68433
@nunepalli  Thanks for the details. One of our engineer will look into it and will provide an update soon.

[2021-01-05 22:19] KranthiPakala-MSFT commented on #68437
@ronarieke
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-05 22:20] KranthiPakala-MSFT commented on #68442
@ftereso
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2021-01-05 22:20] engenb commented on #38427
Hey @hpsin, I was hoping to get some clarification regarding one of your earlier responses:

Are you referring to the common authorization endpoint?

I use my tenant-specific authorize endpoint `https://login.microsoftonline.com/{tenat id}/oauth2/v2.0/authorize` to get an access code and then exchange that for a token from my tenant-specific token endpoint `https://login.microsoftonline.com/{tenan

[2021-01-05 22:21] erikadoyle commented on #14287
The link is buried in the article, but here's the full sample on Github: https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/tree/classic/Services/AlphabetPartitions, with example usage of [ProcessInternalRequest](https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/blob/3a0d018d08bb1be6034c6a1eddadcabac8c512ac/Services/AlphabetPartitions/Alphabet.Processing/Pr

[2021-01-05 22:22] #14287 closed

[2021-01-05 22:22] KranthiPakala-MSFT commented on #68452
@youcc
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-05 22:23] KranthiPakala-MSFT commented on #68452
@mssaperla Could you please have a look at this and do the helpful needed. Thanks

[2021-01-05 22:33] JamesTran-MSFT commented on #68455
@fume
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-05 22:34] erikadoyle commented on #12617
I've captured the request to create a code sample for this scenario as a task in our backlog. Thanks! #please-close

[2021-01-05 22:34] #12617 closed

[2021-01-05 22:41] ChaitanyaNaykodi-MSFT commented on #68273
Hello @hichamveo, looks like the error received is related to Visual Studio. According to [this post here](https://developercommunity.visualstudio.com/content/problem/809328/error-msb3030-could-not-copy-the-file-because-it-w.html) updating the VS to most recent release might help fix the issue.
Please note that this channel is only for driving improvements related to the Azure documentation, Since

[2021-01-05 22:41] #68273 closed

[2021-01-05 22:45] engenb commented on #38427
This made me realize where I went wrong.  I had configured `accessTokenAcceptedVersion` on the client application, not the api application which I've gotta admit makes perfect sense and I should have known better :man_facepalming:

This solved my problem!  Thanks a million and thanks for the quick response @hpsin!

[2021-01-05 23:02] kalendelaney opened #68457 "Awkward wording"
The section title "Index Kinds" is not idiomatic English.  "Index types" is a bit better, as is "Kinds of indexes", but "Types of indexes" would be best.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32753f5-3b8a-c8cc-7a2f-58773b727e0d
* Version Independent ID: 1eef2e5d-9f62-824f-ebc6-8aee6544a8cc
* Content: [Indexin

[2021-01-05 23:13] #68432 closed

[2021-01-05 23:16] JamesTran-MSFT commented on #68440
@lipalath-ms
Thank you for the detailed question! Can you answer some questions below so I can gain a better understanding of your issue.

When you're adding these users to the group, how're you doing this? PS, Portal, etc.
Are there any duplicate users being added to this group that could have caused a "DirectoryValueExistsException"?
How often did you see this error message when adding users?
Ar

[2021-01-05 23:16] MarileeTurscak-MSFT commented on #68325
According to the document the log analytics agent is used. https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent

Hope this helps!

[2021-01-05 23:16] #68325 closed

[2021-01-05 23:23] James-Hamil-MSFT commented on #68423
Hi @mikejboss , I'm sorry you are having a rough time. I understand that these processes may be frustrating. At this point I recommend filing a user voice post [here](https://feedback.azure.com/forums/34192--general-feedback). Explain your frustrations and any suggestions you have to remedy them. Our product team will see it and hopefully help you and other users with these issues. Is there anythi

[2021-01-05 23:23] brettins commented on #61499
@SnehaAgrawal-MSFT the document that you have linked describes a very cumbersome process to adding SSL via Let's Encrypt & says that we need to use this method while Static Web Apps is in Preview. However, you say that SSL certs are automatically renewed as a key feature of the web app preview.

As it stands, I have added a custom domain and I don't see any options for adding a free SSL certificat

[2021-01-05 23:26] Grace-MacJones-MSFT commented on #68448
Hi @lawrenceong001 , thanks for bringing this to our attention. We apologize for the frustration you experienced while following this tutorial. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2021-01-05 23:42] erikadoyle commented on #12255
Great suggestions, thank you. I've updated the doc with recommended clarifications. Also, there's a more recent doc with more details on application deployment process: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-concept-resource-model

(I've filed a task to consolidate these two articles, hopefully in the near future).

 #please-close

[2021-01-05 23:42] #12255 closed

[2021-01-05 23:51] heaths opened #68459 "PowerShell snippets to set env vars should be quoted"
You have:

[code]

This should actually be:

[code]

Unlike the other samples, the input isn't assumed - nor is it indeed - a string. Without quotes, it will be parsed as an expression. If it contains letters and numbers, depending on order, a parse error will occur. In some cases, it will be assumed to be a command and you'll get an error about the command not being found.

You can see even the s

[2021-01-05 23:57] MarileeTurscak-MSFT commented on #68459
@heaths
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-06 00:01] KranthiPakala-MSFT commented on #68443
@alenroki Thanks for reaching out.

For `Account selection Method` field if you choose `From Azure subscription` then you just have to select the Azure subscription and the Storage account name for which you want to create a linked service.  Please refer below image:

![image](https://user-images.githubusercontent.com/50185738/103712550-fb892c80-4f6e-11eb-8acd-2e2d46a6b637.png)

If you choose to e

[2021-01-06 00:01] #68443 closed

[2021-01-06 00:06] heaths commented on #68459
Adding @jlichwa who mentioned in an email thread about these articles he will work on a change.

[2021-01-06 00:22] jlichwa commented on #68459
https://github.com/MicrosoftDocs/azure-docs-pr/pull/142324

[2021-01-06 00:29] alscor opened #68461 "Looking for code examples (python) to store output into datastore/dataset"
Hi - this page describes the process of storing the program output  - can you add the code snippets to illustrate it? For example, read a text file from an existing input dataset, process it, and store the cleaned text file into the output dataset.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a2a1c7-808

[2021-01-06 00:35] MarileeTurscak-MSFT commented on #68459
Just saw your PR. I had made one too but will close it out. https://github.com/MicrosoftDocs/azure-docs-pr/pull/142326

[2021-01-06 00:35] #68459 closed

[2021-01-06 00:58] KranthiPakala-MSFT commented on #68449
@dltmurphy Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-06 01:00] KranthiPakala-MSFT commented on #68450
@thisisbrianstewart
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-06 01:01] KranthiPakala-MSFT commented on #68451
@davecatt
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-06 01:03] KranthiPakala-MSFT commented on #68457
@kalendelaney
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-06 01:21] jwittner commented on #66001
Is the documentation waiting to be published? The link above still does not include the "properties" object, though it's required for deployments.

[2021-01-06 01:23] ChaitanyaNaykodi-MSFT commented on #68356
Hello @pdhunsberger, the value `"24:00:00" | every 24 days` is correct as quoted from the [TimeSpan documentation](https://docs.microsoft.com/en-us/dotnet/api/system.timespan.parse?view=netcore-3.1).

Please let me know if there are any concerns.

[2021-01-06 01:25] lipalath-ms commented on #68440
@JamesTran-MSFT Thank you for your response. Here are the details:

1) When you're adding these users to the group, how're you doing this? PS, Portal, etc.
    **Portal**
2) Are there any duplicate users being added to this group that could have caused a "DirectoryValueExistsException"?
    **No duplicates**
3) How often did you see this error message when adding users?
    **I tried adding ~9000

[2021-01-06 01:55] arizzi12 opened #68463 "getting error when pressing download button (sample app code)"
getting the following error when pressing download button (step 2 of the quickstart - sample app code): given data uri is not formatted correctly with data uri syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20117b0-215d-d6aa-584e-89d3b6141980
* Version Independent ID: 427b8f4b-a590-be9b-e3a7-ed37add89295
* Cont

[2021-01-06 02:04] IngridAtMicrosoft commented on #67865
The matrix has been fixed.

#please-close

[2021-01-06 02:04] #67865 closed

[2021-01-06 03:12] YutongTie-MSFT commented on #68461
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-06 03:14] NavtejSaini-MSFT commented on #68426
@SnehaGunda We confirmed as the Change feed not currently available in Table API. Please help us to edit the top banner of the document.

[2021-01-06 03:21] NavtejSaini-MSFT commented on #68463
@arizzi12 Our Engineering team is aware of this issue. The fix has been pushed. Please check in 24 hours and if the issue still persists please get back to us and we will check with the team.

[2021-01-06 03:32] kprunella commented on #67402
@jlichwa ACK.  Will take a look and get updated.

[2021-01-06 03:38] CHEEKATLAPRADEEP-MSFT commented on #68310
@AnandGoel813  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-06 03:38] #68310 closed

[2021-01-06 03:50] AnuragSharma-MSFT commented on #68337
@hellojxg Awaiting your response on above comment.

[2021-01-06 03:51] AnuragSharma-MSFT commented on #68347
@brianpdk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-06 03:51] #68347 closed

[2021-01-06 04:22] spelluru commented on #68319
#please-close

[2021-01-06 04:22] #68319 closed

[2021-01-06 04:25] KalyanChanumolu-MSFT commented on #68450
@thisisbrianstewart Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-01-06 04:34] goutamcw opened #68468 "I want Phone Verification along with Email Verification on signup page in B2C custom policy. How can I implement it?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-01-06 04:43] ram-msft commented on #68298
@chuksgpfr Thanks for the details. Here is the [sample ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/csharp/xamarin/kws-xamarin) for Start speech recognition by using a keyword with the Speech SDK for Xamarin.
Speech SDK and pieced together how to get everything configured with the DirectLine Speech channel using this doc [here](https://docs.microsoft.com/en-

[2021-01-06 04:48] ram-msft commented on #68298
@chuksgpfr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 04:48] #68298 closed

[2021-01-06 05:34] AshokPeddakotla-MSFT commented on #68403
Here is the issue raised in SDK repo: https://github.com/Azure/azure-iot-sdk-node/issues/917 please follow up accordingly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 05:34] #68403 closed

[2021-01-06 05:54] superstandy opened #68469 "The limitation of Maximum supported IP ranges with this feature indicates customer can only use self-hosted agents with Azure DevOps"
Background:
Customer wishes to enable the feature of authorized IP ranges when they are using Azure DevOps to manage their AKS cluster.

Issue:
The source IP with MS-hosted agents is randomly changed and the count of the IP ranges for most region is over 200. But there is a limitation with AKS that the upper limit for the number of IP ranges you can specify is 200 which means if customers want to

[2021-01-06 05:58] AshokPeddakotla-MSFT commented on #68416
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 05:58] #68416 closed

[2021-01-06 06:15] urjitgokhale commented on #67387
Hey @James-Hamil-MSFT
Do we have any response from the product team?

Thanks,
Urjit

[2021-01-06 06:20] AnuragSharma-MSFT commented on #68386
@soumag To answer the first part of you query, yes currently Azure Portal is the only place to migrate from manual to autoscale and viceversa. Below API is used just to change the max throughput value after configuring autoscale through the portal.

`// Change the autoscale max throughput (RU/s)
container.replaceThroughput(ThroughputProperties.createAutoscaledThroughput(newAutoscaleMaxThroughput))

[2021-01-06 07:25] psmanhas commented on #68007
@lissff Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-01-06 07:25] #68007 closed

[2021-01-06 07:27] MayankBargali-MSFT commented on #68437
@ronarieke Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-01-06 07:28] #68437 closed

[2021-01-06 07:38] AnuragSharma-MSFT commented on #68349
@jwshive This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-06 08:04] theheatDK commented on #68325
Thanks @MarileeTurscak-MSFT :-)

[2021-01-06 08:55] dcyuksel commented on #47531
Hi, same situation is here. I have 2 inputs. One is stream type, other one is Reference type.
![Capture](https://user-images.githubusercontent.com/11857990/103748689-8e7ca200-5015-11eb-8543-42486738260f.PNG)

I try to join them as doccumented.
![Capture2](https://user-images.githubusercontent.com/11857990/103748791-afdd8e00-5015-11eb-87a7-02d9967c7352.PNG)

It gives me error like this.
![Capture3]

[2021-01-06 09:04] shashishailaj commented on #68413
@DeanGross The article consists of most details and diagrams on the functioning which should be good for understanding purposes. In case you have any other specific suggestions about a particular scenario/diagrams , please let us know and we can take this forward with the content team.

[2021-01-06 09:05] matthewbrumpton-oddsbods commented on #63904
Hi, is it possible to get an example query for scale controller logs please?

[2021-01-06 09:11] JayaChatterjee-MSFT commented on #68329
@CalebPaul We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 09:14] ld0614 commented on #48872
@BharathNimmala-MSFT I just thought I'd mention that I wasted several hours trying to track this issue down yesterday (Agent got into a very odd state and this error was the last event in EventViewer).  If this error had been better documented then it would have been one less avenue to investigate

Just my 2c 😄

[2021-01-06 09:16] JuGhithub commented on #68434
Hi,

In the documentation https://azure.microsoft.com/en-us/pricing/details/active-directory/   "Device registration", "Azure AD Connect sync (extend on-premises directories to Azure AD)" and "Azure AD Join: desktop SSO & administrator bitlocker recovery" are free in Azure AD

So i don't understand why there is a mention about Azure AD Premium in this documentation?

"License requirements
Using th

[2021-01-06 09:21] AntZhelev opened #68471 "Routing port 25 traffic via Azure PaaS services should be unsupported"
Hi team,

I remember that there was a section where it was written that port 25 is not allowed for PAAS services.

Can you return back this section or there is a change from our end on this topic?

Best Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version Independent ID

[2021-01-06 09:25] RohitMungi-MSFT commented on #67378
We will now proceed to close this thread as the PR is merged in the documentation The should be visible within 24 hours. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-01-06 09:48] AshokPeddakotla-MSFT commented on #68471
@AntZhelev Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-01-06 10:21] #61287 closed

[2021-01-06 10:26] varleg opened #68473 "Starting openvpn for the cli in this example is not best practise"
[Enter feedback here]
Hi! The best practice for running applications as sudo in the background is "sudop -b app". The & will cause the app to be suspended as it is passed to another shell where sudo has not been run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independe

[2021-01-06 10:37] alenroki opened #68474 "Provide more steps and help for this prerequisite: "Create corresponding table schemas in Azure Synapse Analytics""
For people who haven't worked with Azure Synapse, then this prerequisite step 2 could be explained in more detail and guidance.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data

[2021-01-06 10:42] HarithaMaddi-MSFT commented on #68474
@alenroki - Thanks for posting the valuable feedback. The next section after prerequisites has a link to document explaining to get started with Synapse as below, please suggest if this is not helpful and let us know the additional details that can be added to this

![image](https://user-images.githubusercontent.com/61235246/103759614-065cc380-503a-11eb-82be-5d7ca53d58ef.png)

[2021-01-06 11:02] nieve opened #68476 "Properties name & priority are ignored"
I've just attempted to deploy an ARM template of a site, including the IpSecurityRestrictions property. My template was using an `if` condition and a variable that was previously declared, containing all the restrictions. However, while my template variable contained a name and a priority for every IpSecurityRestriction object, these two were ignored and my restriction rules have no name and all p

[2021-01-06 11:20] Mahmoud87 commented on #17848
Thanks for that but it's almost a year you know clients move on lol.

[2021-01-06 11:34] mgiuseppe opened #68477 "Replace obsolete UploadToBlobAsync method"
The following method is obsolete:
``` await deviceClient.UploadToBlobAsync(fileName, sourceData);```

This should be used (error handling not included):
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8bb1bee-bcbe-c8a5-7b17-428718255aec
* Version Independent ID: 25592b74-6af5-29ae-4239-6adf7ed1e98d
* Content: [U

[2021-01-06 11:37] AshokPeddakotla-MSFT commented on #68469
@superstandy Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-06 11:54] AshokPeddakotla-MSFT commented on #68477
@mgiuseppe Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-06 12:00] glprasanna opened #68478 "Is this plugin compatible with latest JIRA versions 8.13 or 8.14"
Hi Team,

We would like to upgrade our JIRA instance to latest version 8.13 or 8.14 and we are currently using 1.0.11 version SSO plugin.
Could you please let us know if 1.0.11 version plugin is compatible or is there any new version SSO plugin released after 1.0.11 ?

Thank you.

Regards,
Lakshmiprasanna

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-01-06 12:13] SnehaAgrawal-MSFT commented on #68476
@nieve Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-06 12:28] older opened #68480 "WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING settings are not allowed on linux consumption plan."
Right now documentation says that "On Windows, a Consumption plan requires two additional settings in the site configuration: WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE." But it doesn't mention that these settings are not allowed on Linux and will break the application if used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-01-06 13:03] AshokPeddakotla-MSFT commented on #68478
@glprasanna Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-01-06 13:19] glprasanna commented on #68478
Hi Ashok,

Please find the below link
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial

Regards,
Prasanna

[2021-01-06 13:22] VikasPullagura-MSFT commented on #68469
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-01-06 13:32] DeanGross opened #68481 "Naming convention"
Please don't suggest a new naming convention that is different than the guidance already provided at https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/plan-conditional-access#set-naming-standards-for-your-policies. This will just cause confusion, it would be better to refer the reader to the existing guidance
---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-01-06 13:34] DeanGross commented on #68413
Thanks for providing the link to the article that contains the diagrams. It would helpful to include that link within this page to help other readers.

[2021-01-06 13:44] DeanGross opened #68482 "Incomplete Content"
Given the title of this section, I was expecting to find some information about how to provide external users access to azure resources, such as VMs, Security Center, Sentinel and more, but I am not seeing very much about this (guidance to use groups for azure services is rather vague :)). It would be very helpful if this documentation could be expanded to include explicit guidance for all of the

[2021-01-06 13:46] SwathiDhanwada-MSFT commented on #68353
Assigning to content author @tonguyen @bandersmsft for review.

[2021-01-06 13:48] starbuck3000 opened #68483 "Azure Key Vault security worlds: Table is missing from page"
Hi,
It looks like a table is missing from the page.
It says: "Regions are mapped to security worlds, shown as major headings in the tables:", which is followed by nothing (new topic starts).
regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff7eb0b0-1598-822c-66f6-b0f67369ee94
* Version Independent ID: 6156f51f-8

[2021-01-06 13:58] DarinMacRae opened #68484 "Inaccurate description"
This sentence is inaccurate per the source code.

"Currently 10 dimensions are supported however, greater than three dimensions requires the use of MetricIdentifier:"

The source code shows that 4 is the limit.

`        public Metric GetMetric(
                            string metricId,
                            string dimension1Name,
                            string dimension2Name,

[2021-01-06 13:59] PRS-M opened #68485 "StreamReader without manual Dispose() call, HttpTrigger docs and Azure Function template in VS, IDisposable"
Shouldn't the StreamReader be used with a using statement and therefore declaratively disposed?
I know the GC will finalize the StreamReader, especially it is not assigned to any variable, but manually calling Dispose()
is considered a good practice for anything implementing IDisposable to immediately release both managed and unmanaged resources, from what I know at least.

[code]

---
#### Docume

[2021-01-06 14:04] serge2112 commented on #26050
Any news about a replacement to create multi-step test or what to use instead for Availability Tests in Application Insights?

[2021-01-06 14:27] #68427 closed

[2021-01-06 14:58] jmprieur commented on #63769
There is no direct mapping between the MSAL.Errors (which are classes of errors, think of access_denied, indeed), and the detail of the reason which is exposed in the AADSTS errors.

#please-close

[2021-01-06 14:58] #63769 closed

[2021-01-06 14:58] maximepollet27 commented on #67005
Hi @baanders! Thank you for the information, I tried to follow the tutorial again today, and everything works perfectly!

[2021-01-06 15:00] jmprieur commented on #64814
Also you might want to use Microsoft.Identity.Web which manages the certificates for you. See https://github.com/AzureAD/microsoft-identity-web/wiki/1.0.0

[2021-01-06 15:00] jmprieur commented on #64814
#please-close
(as answered)

[2021-01-06 15:00] #64814 closed

[2021-01-06 15:05] lawrenceong001 commented on #68448
tks @Grace-MacJones-MSFT -- somehow the [0.6 version](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started) seems to be much better in terms of quality as I was able to complete it without significant issues.

[2021-01-06 15:10] IanIsFluent opened #68489 "Tried following, and getting 'An unexpected error occurred'"
When attempting to run this, I can see that there's a 500 error in the Activity Log - but no further info 👎
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
* Content: [Import a BACPAC file to create a database in A

[2021-01-06 15:12] tfitzmac commented on #66001
@jwittner - thanks for this feedback. I see that the fix was overwritten on 12/28. I am reimplementing it now and it should be live soon.

[2021-01-06 15:21] JayaChatterjee-MSFT commented on #68480
@older Thank you for the question. We will review and get back to you.

[2021-01-06 15:27] MonikaReddy-MSFT commented on #68484
@DarinMacRae -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-06 15:27] joshuaquek opened #68490 "Azure AD Postman Example ROPC request not working"
The Postman for the ROPC flow doesnt seem to be working.

I am getting an error response of:

[code]

This is for the example postman provided here:

![image](https://user-images.githubusercontent.com/5335756/103785873-b18b6e00-5076-11eb-8922-e247a0bd19fa.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4dd

[2021-01-06 15:29] MonikaReddy-MSFT commented on #68417
@mlearned  - Thank you for providing your insights.
@vbrinza - I hope @mlearned has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 15:29] #68417 closed

[2021-01-06 15:31] oliharvey opened #68491 "redirect rule - but costs incurred I think"
the page is fine functionally, but my understanting is that creating such a redirect rule does incure a (not insignificant) cost - which should really be mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908053a8-ebc0-35ec-87ad-24e59f587eb9
* Version Independent ID: c8b90a6a-c37f-68eb-1e1d-54322eae9324
* Conten

[2021-01-06 15:37] amanmcse commented on #68468
@goutamcw If I understood your requirement correctly, below sample can be used to achieve your requirements.
https://github.com/azure-ad-b2c/samples/tree/master/policies/mfa-email-or-phone

Note: This sample is in private preview and not generally available. Please test in your dev environment before implementing it in the production environment.

[2021-01-06 15:47] spelluru commented on #9482
Thank you for taking the time to share your documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. In an effort to refocus resources on current issues, I’m closing this one. Please feel free to open a new issue or reactive this issue if you still need assistance.

The following two articles were updated/created recently, so please

[2021-01-06 15:47] #9482 closed

[2021-01-06 16:05] baanders commented on #67005
@maximepollet27 That's great! Thanks for the reply and confirmation 👍

At that, I'll go ahead and close this issue. Appreciate the feedback and feel free to reach out with any more questions that arise!

#please-close

[2021-01-06 16:05] #67005 closed

[2021-01-06 16:05] sean-keane25 opened #68492 "Microsoft.Cache\Redis ARM template missing publicNetworkAccess property"
The ARM template reference for [Microsoft.Cache\Redis](https://docs.microsoft.com/en-us/azure/templates/microsoft.cache/redis) does not specify the publicNetworkAccess property.

[2021-01-06 16:07] spelluru commented on #14973
Please use the following link to submit a feature request and add your votes.
https://feedback.azure.com/forums/911458-event-hubs

#please-close

[2021-01-06 16:07] #14973 closed

[2021-01-06 16:12] juhang62 commented on #61499
This is not resolved. I have the same issue. The free SSL only works for *.staticsites-prod-westus2.p.azurewebsites.net but does not support the custom domain

[2021-01-06 16:13] #68329 closed

[2021-01-06 16:17] shahiddev opened #68493 "Update the docs to hightlight that the header value is limited to 128 characters and may not helpful for realistic CSP!"
[Enter feedback here]
I'm trying to set a realistic Content-Security-Policy header and I get an error because the header value is limited to 128 characters!
That's not great, where can we request that get's changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b449587c-dcda-ceb5-8c19-8a1f42c8698f
* Version Independen

[2021-01-06 16:19] wouterdevinck opened #68494 "Signature check?"
The documentation on this page could be improved by detailing what checks are implemented on the ID token from the IDP. In particular, I would be interested to understand whether a signature check is implemented. In case such a check is indeed implemented, it would be useful to detail where the public key is retrieved to validate this signature. E.g. if it is required to specify this key through a

[2021-01-06 16:20] ChaitanyaNaykodi-MSFT commented on #68485
Hello @PRS-M,  Thank you for your feedback! We will review and update as appropriate.

[2021-01-06 16:23] KranthiPakala-MSFT commented on #68473
@varleg
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-06 16:24] spelluru commented on #11561
#please-close

[2021-01-06 16:24] #11561 closed

[2021-01-06 16:29] shahiddev commented on #63598
I created a uservoice for this as I've just hit the same issue
https://feedback.azure.com/forums/217313-networking/suggestions/42367060-increase-header-value-character-limit-for-rules-en

[2021-01-06 16:30] shahiddev commented on #68493
I can see this is essentially a dupe of #63598

I would say that for now the docs should be updated to highlight the character limit and the fact it may not be suitable for realistic CSPs.

[2021-01-06 16:31] JamesTran-MSFT commented on #68481
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-06 16:32] JamesTran-MSFT commented on #68482
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-06 16:33] JamesTran-MSFT commented on #68483
@starbuck3000
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-06 16:34] JamesTran-MSFT commented on #68490
@joshuaquek
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-06 16:35] spelluru commented on #20479
#please-close

[2021-01-06 16:35] #20479 closed

[2021-01-06 16:35] JamesTran-MSFT commented on #68494
@wouterdevinck
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-06 16:40] vishnuprakash9845 opened #68496 "Its not an issue but need help in sending outlook mail using powershell script"
I am an automation engineer

I have have automated few test cases and getting the test results. This test results I wanted to forward to team using outlook using powershell. I tried many ways to do it, but not working.

I want an powershell script to send outlook mail to people who I configure.

Can anyone please help me out in this.

[2021-01-06 16:40] mcurko commented on #68014
OK, so here we're encrypting RPC communication. I wonder, since cluster nodes already use server/cluster certificates for node-to-node communication (here I exclude unsecured clusters), isn't encrypting RPC communication redundant?

[2021-01-06 16:41] spelluru commented on #24356
The feedback has been provided to the product team. No update to the content is required, so closing the issue.

#please-close

[2021-01-06 16:41] #24356 closed

[2021-01-06 16:42] anbene commented on #65643
Hello @davidsteinar, thank you for your patience. We have updated the [Get operation status response example ](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#get-operation-status)to say **Succeeded** instead of Succeed.

Thank you for bringing this to our attention. We appreciate your contribution!

[2021-01-06 16:42] anbene commented on #65643
#please-close

[2021-01-06 16:42] #65643 closed

[2021-01-06 16:52] spelluru commented on #29482
This sample was updated recently. #please-close

[2021-01-06 16:52] #29482 closed

[2021-01-06 16:53] #30673 closed

[2021-01-06 16:56] ntachandley opened #68497 "Incorrect language for Eav4 SKU"
The Eav4 does not support Premium SSD storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fdfbee1-bb47-fdfa-44f9-603b1313359e
* Version Independent ID: 1404915e-3bca-00bf-a15c-b0545af47319
* Content: [Eav4-series and Easv4-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/eav

[2021-01-06 16:57] jhauray opened #68498 "FTPS - FTP control connection port is not 21"
I tested FTPS connection to an Azure Web App. It appear that the control connection is establish on TCP port 990. And not 21.

It could be interesting to dissociate **FTP** and **FTPS** use cases, in port number documentation, and precise for **FTPS**, that **control port** is TCP 990.

It could be nice to precise the kind of "secured FTP" : It seems to be "implicit".

---
#### Document Details

⚠

[2021-01-06 17:05] SubhashVasarapu-MSFT commented on #68264
@chadcarlton, Appreciate your patience. It looks like there is no issue with the Kusto query from my lab report. Here Is the ref screenshot of the log generated.

![image](https://user-images.githubusercontent.com/44890829/103797224-32923780-506e-11eb-8aa0-44e8a22f9611.png)

Please run the below command and see whether there are any logs generated for tunnel diagnostics. Also, make sure that the p

[2021-01-06 17:05] #68264 closed

[2021-01-06 17:07] BhargaviAnnadevara-MSFT commented on #68496
@vishnuprakash9845 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-06 17:10] ScottyMac52 opened #68499 "The reference to Azure.Identity is not valid after installing the NuGet Package"
Also, I am really sick and tired of you BREAKING everything when you do so-called upgrades. It's ridiculously UNPROFESSIONAL and doesn't serve ANY purpose than to provide jobs to those that document this [edited] but probably cannot practically apply it!

I am [edited] BEYOND MEASURE about this!!!!!!!!!!!!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-01-06 17:10] SubhashVasarapu-MSFT commented on #68493
@shahiddev, Thanks for reaching out. We will investigate and update this thread.

[2021-01-06 17:13] jmprieur commented on #67809
Fixed.
#please-close

[2021-01-06 17:13] #67809 closed

[2021-01-06 17:14] jmprieur commented on #67570
#please-close
(question answered)

[2021-01-06 17:14] #67570 closed

[2021-01-06 17:14] jmprieur commented on #56783
Now fixed
#please-close

[2021-01-06 17:14] #56783 closed

[2021-01-06 17:17] Grace-MacJones-MSFT commented on #68498
Hi @jhauray,  Thanks for the feedback. We are actively investigating and will get back to you soon.

[2021-01-06 17:17] ScottyMac52 commented on #46232
Then maybe FIX the documentation?

[2021-01-06 17:26] Aegrum opened #68501 "Where is the list of verified publishers?"
[Enter feedback here]
Where does one find the list of verified publishers? We're trying to evaluate if this is a useful configuration for allowing user consent to only verified publishers, but cannot find where that status is available to be viewed besides the apps sign-in page. Is there a public list somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-01-06 17:28] mchudinov opened #68502 "Find my public IP from bash-command line"
[Enter feedback here]
This command does not work properly from Azure Cloud Shell, it gives an empty string.

`CURRENT_IP=$(dig @resolver1.opendns.com ANY myip.opendns.com +short)`

I would suggest to use this command:

`dig +short myip.opendns.com @resolver1.opendns.com`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2021-01-06 17:30] mmacy commented on #67537
@MarileeTurscak-MSFT @AjayKumar-MSFT Pinging on this - as Celeste mentions, this is not a doc bug, but an enhancement. Can one of you relabel it as **doc-experience/doc suggestion/doc enhancement**, please? Thanks.

@msewaweru This would be a good one for you to tackle since you've made the most recent pass on standardizing all the app registration steps and are familiar with each instance of "Sig

[2021-01-06 17:32] ankitsolanki619 commented on #17848
Yeah, I know, I was tried Add-MsolGroupMember but it did not work, which eventually landed me to your query. So, I tried Add-AzureADGroupMember and it worked, lucky me :P

[2021-01-06 17:35] CalebPaul commented on #68329
Thank you!

[2021-01-06 17:36] cijothomas commented on #68484
Doc already states that if requiring more than 3 dimensions, use `MetricIdentifier`, which supports the max limit of 10. https://github.com/microsoft/ApplicationInsights-dotnet/blob/84f35d25a384f74907262f889216e76eeb3973e1/BASE/src/Microsoft.ApplicationInsights/Metrics/MetricIdentifier.cs#L345

[2021-01-06 17:38] mchudinov opened #68503 "The firewall public IP address"
[Enter feedback here]

Could you please explain more from In this sentence:

_You should add these ranges to an allow list:
    The firewall public IP address_

What is the firewall public IP address related to AKS?
Where to find it?
Is it the same as an inbound IP for AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-01-06 17:40] MonikaReddy-MSFT commented on #68484
@cijothomas  - Thank you for providing your insights.
@DarinMacRae  - I hope @cijothomas has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 17:40] #68484 closed

[2021-01-06 17:40] AnandGoel813 opened #68504 "Codes provided not working"
Below code is not working and it does not run even after several minutes.

**from azureml.opendatasets import NycTlcYellow

data = NycTlcYellow()
data_df = data.to_spark_dataframe()
display(data_df.limit(10))**

Also below code is giving error while running-

**%%spark
spark.sql("CREATE DATABASE IF NOT EXISTS nyctaxi")
val df = spark.read.sqlanalytics("SQLPOOL1.dbo.Trip")
df.write.mode("overwrite"

[2021-01-06 17:43] mchudinov opened #68505 "How to find the IPs already added to the list?"
[Enter feedback here]

How to find the IPs already added to the list?
From either az command line or Azure portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Content: [API server authorized IP ranges in Azure Kuber

[2021-01-06 17:43] jwittner commented on #66001
Thanks @tfitzmac - looks like the docs are updated. Unfortunately it still wasn't working for me. I get this error no matter what I try: `Status Message: Error creating or updating function key. (Code:NotFound)`.

Using the example on this, very similar, issue - https://github.com/Azure/azure-quickstart-templates/issues/6757 - I was able to get a working example. Seems like the `type` in the docum

[2021-01-06 17:44] BarbaraSelden commented on #68482
Thanks so much for your feedback. I see how the title could lead you to that conclusion. I am thinking we should change it to "Secure external collaboration", which is the focus. And, I will look into how we can expand this to other Azure resources. Again, thanks for taking the time.

[2021-01-06 17:45] mchudinov opened #68506 "How to add more then one IP at a single command to the list?"
[Enter feedback here]

How to add more then one IP at a single command to the list?
Or is it only one by one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Content: [API server authorized IP ranges in Azure Kubernetes

[2021-01-06 17:47] DarinMacRae commented on #68484
Should read...

"Currently 10 dimensions are supported however, greater than four dimensions requires the use of MetricIdentifier:"

but have it your way. 👍

[2021-01-06 17:52] himanshusinha-msft commented on #68504
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-06 17:52] spelluru commented on #31961
Fixed
#please-close

[2021-01-06 17:52] #31961 closed

[2021-01-06 17:54] geo74 commented on #57219
@mike-urnun-msft in my experience renewal-period is tied to a specific time. For example, when I set it to be 1 hour it resets exactly at xx:00:00, not an hour after I configured it or an hour after the first request was sent. The same thing is when I set it to be 24 hours, it looks to renew at midnight UTC. Is there a way to configure when renewal periods start?

[2021-01-06 17:55] mattruma opened #68507 "Rules Engine v4.0"
The Rule Engine UI pictured is different than that of the portal. The portal seems to be on v4.0, and looks like things have changed up pretty drastically, as far as available options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0f8fa5-b31c-17fc-64ee-e1b77f4f1389
* Version Independent ID: 24461bb6-a8ac-65e8-db24-f

[2021-01-06 17:58] NavtejSaini-MSFT commented on #68360
@sijucm Please let us know if you need any further help regarding this.

[2021-01-06 17:58] NavtejSaini-MSFT commented on #68364
@timsander1  @SnehaGunda Can this document be updated?

[2021-01-06 17:58] hpsin commented on #68490
@joshuaquek
Just checking - you did fill in a valid username and password, right? user@mytenant.com is not a real user.

[2021-01-06 18:00] NavtejSaini-MSFT commented on #68463
@arizzi12 Please convey if you are still facing the issue.

[2021-01-06 18:01] eugen-nw opened #68509 "For some strange reason I cannot get the SP's expiration date"
I'm wondering if anyone can enlighten me on this.  I did type manually the commands in PowerShell.

```az aks show -g <rg_name> -n <aks_name>  --query servicePrincipalProfile.clientId -o tsv``` that gave a nice ID.

Then ```az ad sp credential list --id <id_from_above>``` and the result is an empty array: ```[]```.

I ran ```az login``` beforehand.  Could this behavior have to do with my AD permis

[2021-01-06 18:01] NavtejSaini-MSFT commented on #68489
@IanIsFluent We are checking this and will get back to you.

[2021-01-06 18:04] MonikaReddy-MSFT commented on #68506
@mchudinov - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-06 18:05] MonikaReddy-MSFT commented on #68505
@mchudinov - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-06 18:05] MonikaReddy-MSFT commented on #68503
@mchudinov - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-06 18:05] MonikaReddy-MSFT commented on #68502
@mchudinov - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-06 18:06] timsander1 commented on #68364
Hi @NavtejSaini-MSFT , yes please feel free to add an explicit note

[2021-01-06 18:18] NavtejSaini-MSFT commented on #68431
@edisga Thanks for your feedback. We have created the request to change the same - https://github.com/MicrosoftDocs/azure-docs-pr/pull/142386
Once approved, changes will be live in 24 hours.

[2021-01-06 18:19] NavtejSaini-MSFT commented on #68489
@IanIsFluent Please convey which part of the doc you faced this issue in so we can try to check the error and help you regarding the same.

[2021-01-06 18:20] dlepow commented on #68352
@jude253 - Hi, thanks for the question. Enabling registry access using the admin account is an option here, but shouldn't be required. <br/>

It sounds like you also tried to access the registry simply with your individual AD identity - was it the one you used to create the registry in the first place and what errors did you see in the command flow?

Login to the Azure CLI: `az login` # Follow com

[2021-01-06 18:22] Lahiru89 opened #68510 "Azure VPN Client - Client Certificate Hash Cannot be Empty"
I installed the client certificate on a machine and when I try to import azurevpnconfig.xml to Azure VPN Client it does not recognize the installed client certificate. Hence it says Client Certificate Hash Cannot be Empty. I can't select a certificate under Client Authentication > Certificate Information because it's empty. How to resolve it?

I can see certificate under current user > Personal

-

[2021-01-06 18:25] TravisCragg-MSFT commented on #68497
@ntachandley Thanks for the feedback! I have removed the ambiguous language around the Eav4 SKU having premium SSD Storage, and the changes should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-06 18:25] #68497 closed

[2021-01-06 18:30] dloder0 opened #68511 "Example for Item() is wrong"
The example for Item() is currently
Mid(Item([proxyAddresses],Contains([proxyAddresses], "SMTP:")),6)

This is in error as Mid() needs another parameter

Mid(Item([proxyAddresses],Contains([proxyAddresses], "SMTP:")),6,999)
would be a working example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9b2f2c-7274-ab3a-56a

[2021-01-06 18:41] KumudD commented on #68335
@sumeetmittal @malopMSFT Please can you confirm the private link limit value per region per subscription. Thanks!

[2021-01-06 18:44] JamesTran-MSFT commented on #68511
@dloder0
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-06 18:48] spelluru commented on #32609
Please submit your idea here: https://feedback.azure.com/forums/911458-event-hubs.
No doc update is needed at this time.

#please-close

[2021-01-06 18:48] #32609 closed

[2021-01-06 18:50] PatrickFarley commented on #68367
fixed - the file name is Program.cs
#please-close

[2021-01-06 18:50] #68367 closed

[2021-01-06 18:58] kobulloc-MSFT commented on #46232
@ScottyMac52 I've added the package location to the documentation and the changes should go live shortly.

[2021-01-06 19:04] rysweet commented on #68499
Thank you for the feedback.  Can you please clearly describe the problem you encountered and the steps you followed?  I assume you are referring to the step in the tutorial:
"**Add a reference to the required NuGet packages by running the following command:
.NET Core CLI**
        _dotnet add package Azure.Identity_
"
Its not clear what "upgrade" to which you might be referring.
I can speculate ab

[2021-01-06 19:07] spelluru commented on #43468
@ahamad-MS - could you review and add your input here? Thanks!

[2021-01-06 19:11] xelizondo opened #68512 "W10 MS support in Azure but outside of WVD"
[Enter feedback here]
Can someone add a statement or clarification in this page if W10 MS running in Azure VM is supported -assuming Licensing entitlement is covered- IF not used with Virtual Desktop Service?
It is technically possible to use W10 MS as a standalone IaaS VM in Azure and let multiple users connect directly outside of WVD control plane.
Thanks
---
#### Document Details

⚠ *Do not edi

[2021-01-06 19:18] u5007001 opened #68513 "Create an ingress controll update"
Under the section "Create an ingress controller"
There is a missing option in the Console section which causes an error if not provided.
it needs to match the Console section from this page:  https://docs.microsoft.com/en-us/azure/aks/ingress-basic
The missing option is
--set controller.admissionWebhooks.patch.nodeSelector."beta\.kubernetes\.io/os"=linux

---
#### Document Details

⚠ *Do not edit

[2021-01-06 19:26] JamesTran-MSFT commented on #68483
@starbuck3000
Thanks for your pointing this out! I have assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/103811545-eaddc280-5011-11eb-90d1-fd51f28cb9f6.png)

[2021-01-06 19:26] normesta commented on #68429
Thanks @jsandersrocks - I believe that this is by design. The requirement is documented in the article [Azure Blob Storage as an Event Grid source](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage?toc=/azure/storage/blobs/toc.json). There is a purple note which says "For Azure Blob Storage, if you want to ensure that the Microsoft.Storage.BlobCreated event is triggered o

[2021-01-06 19:26] MashaMSFT commented on #67830
Hi @lwsrbrts , thank you so much for your feedback! This is a known issue, and the workaround you've recommended is correct. I have updated the documentation to point this out, and link customers to the SPN registration page.

Thanks so much for improving our docs! This change will be live later today. I will close out this Git Issue but please feel free to comment should you need anything further

[2021-01-06 19:26] #67830 closed

[2021-01-06 19:32] AjayKumar-MSFT commented on #68374
As mentioned in the linked ([ASP.NET Core logging in Azure](https://docs.microsoft.com/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0)), Once the provider package is added to the project, then you need to enable Application Logging (file System/blob) in the Azure Portal. When the settings are updated, typically the changes take effect immediately without requiring a restart or redeployment

[2021-01-06 19:43] fgarcia-cnb commented on #45991
We just experienced the same issue with the System.Net.Mail smtpclient. Mailkit works, but we also got another possible fix from MS support: Add the following app setting:

WEBSITE_VNET_SUPPORT_DUAL_STACK_SOCKETS=1

did the trick for us

[2021-01-06 19:44] JamesTran-MSFT commented on #68511
@dloder0
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-01-06 19:44] #68511 closed

[2021-01-06 19:49] korggy commented on #68374
Thank you Ajay. I would recommend that you mention "ASP.NET Core logging in Azure" because if somebody attempts to follow the instructions under "Enable diagnostics logging for apps in Azure App Service" they will be extremely frustrated, as I was, because it's not clear that there are extra steps required for ASP.NET Core applications.

[2021-01-06 19:52] ManuRiver opened #68514 "What is the added benefit in terms of IOPS when you scale to Large File Share other than the increased storage."
Document is missing the following:

What is the added benefit in terms of IOPS when you scale to **Large File Share** other than the increased storage.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 991338c0-1a61-99e1-41ea-45fd5d5fd63d
* Version Independent ID: f2dd8b70-29f2-bb22-38f5-097c5eb6b797
* Content: [Azure File

[2021-01-06 19:54] Datum-Guy opened #68515 "Azure Ratecard API returning incomplete json object"
I've been using Azure Ratecard API for programmatically fetching the prices of azure virtual machine instances. Initially, everything was working fine, but for past few days I've been getting incomplete json response when I send a GET request to Azure Ratecard API using the following URL -

`https://management.azure.com/subscriptions/<SUBSCRIPTION ID>/providers/Microsoft.Commerce/RateCard?api-vers

[2021-01-06 19:55] b-juche commented on #68357
@bhaktajb - Thanks again for your suggestion.  In consulting with our product manager, it's determined that we won't make the suggested change for the time being.  If you are a Microsoft or NetApp team member, you can reach out to me via email (juliec@netapp.com) if you'd like to further discuss the availability of the Continuous Availability (CA) feature.  Thanks.

[2021-01-06 19:55] b-juche commented on #68357
#please-close

[2021-01-06 19:55] #68357 closed

[2021-01-06 19:59] mmacy commented on #62164
@ukhan As there is currently no _documentation_ update required for this issue, I'd like to propose that we close this issue out.

I recommend that you file an issue in the MSAL repo if you haven't already, as it sounds like that's the better spot for tracking this issue at this time.

FYI @jasonnutter & @hpsin

[2021-01-06 20:06] Kalamazoo-DBA opened #68516 "Update: Prerequisites for object replication"
On this line:
Blob versioning: Must be enabled on both the source and destination accounts.

Add:
The above implies that when the storage account configuration for either the source or destination storage account has the Hierarchical namespace feature enabled per the Data Lake Storage Gen2 features, object replication is not supported.
ADLS Gen2 cannot be selected when attempting to leverage Objec

[2021-01-06 20:11] Kalamazoo-DBA commented on #68516
After a second reading of that same page, there is a note about ADLS Gen2.    Closing issue.

[2021-01-06 20:11] #68516 closed

[2021-01-06 20:16] blueboy1355 commented on #68352
I do not know what happened, though the computer. Is locked and it it
asking for a key, which is like 25 numbers.

On Wed, Jan 6, 2021, 10:20 AM Dan Lepow <notifications@github.com> wrote:

[2021-01-06 20:22] #66426 closed

[2021-01-06 20:29] spelluru commented on #49042
This article was updated. Tested the code recently and it worked fine for me.

#please-close

[2021-01-06 20:29] #49042 closed

[2021-01-06 20:31] spelluru commented on #51798
The recommended way to receive events is by using Event Processor. Please see the samples here: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples. #please-close

[2021-01-06 20:31] #51798 closed

[2021-01-06 20:32] ggailey777 commented on #68329
@CalebPaul it seems like you created a function using [function access keys](https://docs.microsoft.com/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#authorization-keys) instead of anonymous access. This is why you already have the `?` for the `?code=...` parameter that is the key.

[2021-01-06 20:32] #65387 closed

[2021-01-06 20:34] spelluru commented on #58141
Once the primary namespace is available again, you use the same approach that you always used to receive events from an event hub. Nothing special about receiving events from the primary namespace once it's available. Thanks.

#please-close

[2021-01-06 20:34] #58141 closed

[2021-01-06 20:42] duongau commented on #68491
@oliharvey I can add a little note after the redirect rule creation to mention this will count towards the total cost of running Azure Front Door.

[2021-01-06 20:47] vasanth-janakiraman opened #68517 "Separate the documentation for Azure SQL Database and Azure SQL Managed Instance"
Consolidating the documentation for Azure SQL Database and Azure SQL Managed Instance is creating confusion while referring the doc to understand the feature of one product. For example, I was reading about the features of Azure SQL database in the below link which is placed under the SQL database section, but to my surprise, most of the new features mentioned here are for SQL MI. It can be confus

[2021-01-06 20:59] MarileeTurscak-MSFT commented on #68258
Moving a subscription in between tenants or accounts usually happens pretty quick in minutes.

48 to 72hrs

Hope this helps!

[2021-01-06 20:59] #68258 closed

[2021-01-06 20:59] DerekHerman-MSFT commented on #68514
@ManuRiver The large file share limit is noted with the **, which is 10,000. If large file share is not enabled then the IOPS limit would be 1,000. I think the ** description could use some improvement to clarify this.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-06 21:01] MikeForster100 commented on #68327
Ok figured it out the option is available with the AKS preview extension - i have a question on this if i select none i can manually create the zone in a different resource group and it pops the records in the zone as cluster creating!  As i get the GUID for the cluster while creating.  Is that how the none option is supposed to function?  You create the zone matching the GUID?  If i point it to a

[2021-01-06 21:05] spelluru commented on #59160
#please-close

[2021-01-06 21:05] #59160 closed

[2021-01-06 21:07] annerajb opened #68518 "More information on the page regarding the difference between OS image upgrade versus using something such as Kured to reboot"
This document / page neither the one talking about [Kured](https://docs.microsoft.com/en-us/azure/aks/node-updates-kured)

Explain what differences are there in between just running Kured.

Is enabling Kured the same as upgrading the image?
Does  upgrading the OS image as described on this page have a greater benefit to running Kured is it a substitute. etc. etc.

---
#### Document Details

⚠ *Do

[2021-01-06 21:07] yobyot opened #68519 "Poorly written and therefore hard to understand"
This page, so important to understand WVD for architect and users, is poorly written. It was clearly authored by a non-US or non-UK author as it drops indefinite articles and is massively confused in terms of tense.

Consider this pull quote:

"...has initially released" instead of "was released?"
"...was continuously evolving.."? Meaning it is no longer evolving?

Or this:

Well, maybe the reader

[2021-01-06 21:16] TravisCragg-MSFT commented on #68424
Your scenario is not explicitly stated as a working one, but it is likely that this will still work if given the correct path.

At a minimum, your private git repository will need to be accessible from the agent pool, or you can open your repository up to the public internet.

There is not currently a way to autoscale an agent pool. If this is something you would like us to add in the future, plea

[2021-01-06 21:21] sharebear commented on #15872
While googling the same problem today, this issue came high up in the search results however the UI has changed. Luckily the documentation has updated screenshots, adding a link here in case anyone else stumbles in here via Google

https://docs.microsoft.com/en-us/azure/security-center/faq-data-collection-agents#how-can-i-use-my-existing-log-analytics-workspace

[2021-01-06 21:30] JamesTran-MSFT commented on #68440
@lipalath-ms
Thank you for the quick update!

I've reached out to our engineering team regarding this issue and will provide their update as soon as possible.

[2021-01-06 21:51] JamesTran-MSFT commented on #68428
@xelossan
Thank you for the detailed response! I've reached out to our engineering team regarding this issue and will update as soon as possible. I also found a similar issue on [Q&A](https://docs.microsoft.com/en-us/answers/questions/112258/is-default-localization-broken-in-b2c-custom-polic.html) that might be related to your issue.

If you'd like our support team to take a closer look into your

[2021-01-06 21:55] normesta commented on #67876
Thanks @algattik! I've added some helpful notes to the code examples. Those changes will appear live this afternoon.

Thanks again!

[2021-01-06 21:55] normesta commented on #67876
#please-close

[2021-01-06 21:55] #67876 closed

[2021-01-06 22:05] krispenner opened #68522 "API Management limits is missing a very important limit"
In this document:
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/api-management-service-limits.md

Please add

Seems like a pretty important limit that was omitted.

You may also want to make a note that it can be increased upon request, or at least this feedback item suggests it can:
https://feedback.azure.com/forums/248703-api-management/suggestions/35240755-apim-should-allow-m

[2021-01-06 22:08] SnehaGunda commented on #61852
@paulfirelordmu we have added the error codes in the above PR, the content will be live in a couple of days. We will now close this issue.

#please-close

[2021-01-06 22:08] #61852 closed

[2021-01-06 22:21] Videsh-Lingabavan commented on #47540
Is there an answer to this question, I would also like to know?

[2021-01-06 22:29] KranthiPakala-MSFT commented on #68515
Hi @Datum-Guy  Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have

[2021-01-06 22:46] MarileeTurscak-MSFT commented on #68478
Hi @glprasanna ,

It says in the document that it goes up to 8.14

**Supported versions of JIRA**
JIRA Core and Software: 6.4 to 8.14.0
JIRA Service Desk 3.0.0 to 4.11.1
JIRA also supports 5.2. For more details, click Microsoft Azure Active Directory single sign-on for JIRA 5.2

Hope this helps! If you have further questions feel free to tag me in the comments.

[2021-01-06 22:46] #68478 closed

[2021-01-06 22:47] KranthiPakala-MSFT commented on #68507
@mattruma
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-06 22:47] CalebPaul commented on #68329
@ggailey777 Thank you for the clarification.

[2021-01-06 22:48] KranthiPakala-MSFT commented on #68510
@Lahiru89
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-06 22:49] KranthiPakala-MSFT commented on #68512
@xelizondo
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-06 22:51] KranthiPakala-MSFT commented on #68513
@u5007001
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-06 22:53] KranthiPakala-MSFT commented on #68517
@vasanth-janakiraman
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-06 22:54] omerzubair opened #68525 "Need to put advice -> the private endpoint needs 5 Ip address free in the subnet."
[Enter feedback here]
* When you add Private Endpoints for AMPLS  then you need atleast 5 Ip addresses available in the subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d02911e-2e30-9183-b169-8c8ff51e1e18
* Version Independent ID: 6e89ef30-c8b3-bb8b-2aeb-b48e9ba0ae40
* Content: [Use Azure Private Link to securel

[2021-01-06 22:54] spelluru commented on #68346
Clarified in the document that the partition count can be increased for an event hub that's in a dedicated tier.

#please-close

[2021-01-06 22:54] #68346 closed

[2021-01-06 23:05] spelluru commented on #47502
Here's the confirmation from our dev:
Basically Azure Monitor will be able to access event hub resources if trusted service is enabled, which means it can read from an event hub and also write data into the event hub as well.

The updated article will go live tomorrow morning.

#please-close

[2021-01-06 23:05] #47502 closed

[2021-01-06 23:07] spelluru commented on #11722
Confirmed with the product team that the partition count can only be increased for event hubs in the dedicated tier. I will update the statement to reflect this.

[2021-01-06 23:08] duongau commented on #68001
@GitaraniSharma-MSFT I'm going to review this with a colleague of mine and will update this thread as soon as I have a definitive answer.

[2021-01-06 23:09] ianayers commented on #58027
Same problem, any updates?

[2021-01-06 23:11] tejinderrai opened #68526 "Using the PowerShell Az module to get an access token for Azure Database for MySQL"
I have recently come across this article as I needed to test this scenario. I noticed that you only specify the use of Azure CLI tool. I believe it would also be worth adding the Az PowerShell approach in the tutorial. Something like the following should suffice:

1) Launch PowerShell or PowerShell ISE
2) Use the Login-AzAccount cmdlet to authenticate to the Microsoft Azure tenant using the MySQL

[2021-01-06 23:28] eugen-nw opened #68527 "The "az aks update" command misses switches that enable the assignment of Managed Identities."
Hello,

I'm trying to use the convenience of the new MIs on existing AKS clusters.  Regretfully, for updating the AKS cluster, neither the ```--enable-managed-identity``` nor ```--assign-identity``` exist in CLI 2.17.1.

[code]

Running ```az aks update --help``` does not list those two options, while running ```az aks create --help``` lists both of them.

Did I miss installing anything please?

-

[2021-01-06 23:30] normesta commented on #20288
Closing this item as it's about a request to support a scenario (as oppose to a doc request). @ckarras - I recommend posting this request to [https://feedback.azure.com/forums/217298-storage?category_id=180811](https://feedback.azure.com/forums/217298-storage?category_id=180811).  This is where product-related requests will have the most visibility. Thank you!

[2021-01-06 23:30] normesta commented on #20288
#please-close

[2021-01-06 23:31] #20288 closed

[2021-01-06 23:57] lissff opened #68528 "kubeletIdentity and identity"
[Enter feedback here]

It's not clear at all what is the difference for these two identities i got from az aks show:
az aks show -g $RG -n $AKS --query identityProfile.kubeletidentity.clientId -o tsv

vs

az aks show -g $RG -n $AKS --query identity.principalId -o tsv

I could see the kubeletIdentity in my MC_ resource Group, and I thought that is the one I used; but it turns out when I'm create LB

[2021-01-07 00:07] normesta commented on #67685
Hi @captainmike - The **blob** object passed into the **queryHemingway** helper function (shown in this example) is of type [BlockBlobClient](https://docs.microsoft.com/javascript/api/@azure/storage-blob/blockblobclient?view=azure-node-latest). Yes, the other tabs in this article (Java, .NET etc.) are bit clearer about the object types. You can see an example of how to obtain a BlockBlobClient obj

[2021-01-07 00:22] BharathNimmala-MSFT commented on #68525
@omerzubair Thank you for sharing your feedback, we will look into and update the document accordingly.

[2021-01-07 00:24] sameer-kumar opened #68529 "Getting compile time exception due to an incomplete or missing step"
I'm following the steps as mentioned in the article and referenced **Microsoft.Azure.AppConfiguration.AspNetCore** nupkg version **4.1.0**. When I try to run the app locally, I get an exception stating that

And this was not mentioned in the article.

To make it work, I need to add this line in my **ConfigureServices()** method:
`services.AddAzureAppConfiguration();`

Not a biggie but avoid some h

[2021-01-07 00:31] BenWalters commented on #51142
@SubhashVasarapu-MSFT Has this still not been documented?

[2021-01-07 00:47] ckarras commented on #20288
@normesta Done: https://feedback.azure.com/forums/217298-storage/suggestions/42370870-azcopy-should-allow-resuming-failed-transfers-of-l
@davidmwilliams you might also be interested to vote for this feature

[2021-01-07 01:03] KranthiPakala-MSFT commented on #68492
@sean-keane25
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-07 01:08] KranthiPakala-MSFT commented on #68518
@annerajb
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 01:08] ckarras commented on #20288
@normesta It seems my feature request has already been deleted, the link no longer works and I can't find the request in the "My Feedback" page. Can you check with the persons moderating these requests why they considered the request should be removed, and how I can recover the text of the request?

[2021-01-07 01:10] KranthiPakala-MSFT commented on #68519
@yobyot
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-07 01:16] KranthiPakala-MSFT commented on #68522
@krispenner
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-07 01:18] KranthiPakala-MSFT commented on #68526
@tejinderrai
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-07 01:19] KranthiPakala-MSFT commented on #68527
@eugen-nw
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 01:20] dcstwh commented on #68036
@nabhishek  Do help to update the latest screenshot for this.

[2021-01-07 01:21] KranthiPakala-MSFT commented on #11722
Thanks for the update @spelluru.

[2021-01-07 01:22] avagraw commented on #62964
@sharbt We investigated this. The following curl command works as expected:

curl --header "Content-Type: application/json" --request POST --data '{"inputName": <Solution_Name>,"data":[{"created_at":"2018-01-30 10:26:2 -0500","field1":"1.0","field2":"2.0"},{"created_at":"2018-02-02 11:27:27 -0500","field1":"1.1","field2":"2.2","status":"well done"}]}' http://localhost:53000/api/v1/messages

I trie

[2021-01-07 01:22] dcstwh commented on #68097
@nabhishek  can you help look into this? Thank you.

[2021-01-07 01:23] KranthiPakala-MSFT commented on #58027
@mssaperla Could you please have a look at this ask and do the helpful needed. Thank you.

[2021-01-07 01:23] MonikaReddy-MSFT commented on #68509
@eugen-nw -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-07 01:24] MonikaReddy-MSFT commented on #68418
@rdaruich -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-01-07 01:27] MonikaReddy-MSFT commented on #68529
@sameer-kumar -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-07 01:29] MonikaReddy-MSFT commented on #68529
@sameer-kumar -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-07 01:29] #68529 closed

[2021-01-07 01:36] rockboyfor commented on #68399
Hi miwithro,
Good day!

Sorry to contact you so late.
We are Azure China Tech content team from wuxi site.  We are responsible for Azure tech content localization on Azure china.
Our customer have question about `az ad app permission admin-consent --id $serverApplicationId` and feedback to us.  so we think it is better to confirm with you and refresh the content late.

BTW, we have refresh https:/

[2021-01-07 01:57] VikasPullagura-MSFT commented on #68184
@ToddGe Requesting you to please post your product questions [here](https://docs.microsoft.com/en-us/answers/topics/azure-disk-storage.html) on Microsoft Q&A platform going forward.
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

For this question, I have posted this question on Q&A [here](https://docs.mi

[2021-01-07 01:57] #68184 closed

[2021-01-07 02:00] xiafu-msft commented on #65265
hi @SatishBoddu-MSFT

thanks for your help! just wanna check if there's any updates of this issue, we got several other customers running into the same problem
for example this most recent one https://github.com/Azure/azure-sdk-for-python/issues/15957

[2021-01-07 02:07] hs79hs opened #68530 "How to purchase Azure Kinect DK in Australia"
Hi, does anyone know how to purchase Azure Kinect DK in Australia? I access https://www.microsoft.com/en-au and search 'Kinect', but can't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e50840-d72a-e748-a2d3-e494542c9aa1
* Version Independent ID: f4635eb4-9aaa-f185-078a-4ad08529d73e
* Content: [Get the Speec

[2021-01-07 02:17] YutongTie-MSFT commented on #68530
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-07 02:31] RonnieQuan opened #68531 "Application V2 Unsupported Scenario"
Any information on when the following constraints will be lifted up?

v2 unsupported scenarios

Scenario 1: UDR for Virtual Appliances

Any scenario where 0.0.0.0/0 needs to be redirected through any virtual appliance, a hub/spoke virtual network, or on-premise (forced tunneling) isn't supported for V2.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-01-07 02:47] JohnRusk commented on #65791
@mlearned @zr-msft , any update?

[2021-01-07 03:01] joshuaquek commented on #68490
Alright, I replaced it with my office email and password, but still got this error:

`"error_description": "AADSTS50034: The user account {EmailHidden} does not exist in the XXXXX directory. To sign into this application, the account must be added to the directory.\r\n`

I blanked out my company's domain above with `XXXXX` for privacy purposes.

Am I still doing anything wrong? Do I need to replac

[2021-01-07 03:02] spelluru commented on #11722
Statement is updated with "in all tiers except the dedicated tier".

#please-close

[2021-01-07 03:02] #11722 closed

[2021-01-07 03:19] spelluru commented on #66440
@waynestevensinsight - Thanks for the feedback. You are right. I have confirmed with the product team. I will update the title and add a note to this section. The updated article will go live tomorrow morning. Thanks.

#please-close

[2021-01-07 03:19] #66440 closed

[2021-01-07 03:32] SatishBoddu-MSFT commented on #65265
Hello @arduppal Could you please help in this matter? Please provide your suggestion to get this issue unblocked.

[2021-01-07 03:41] pawarbi opened #68536 "Incorrect values passed to the Ridge model"
Hi, in the [Train the model](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-power-bi-custom-model#train-the-model) section following code is used to fit the Ridge model:
`model = Ridge().fit(X,y)`

Note that X & y are datasets and not pandas dataframe. you need to pass the dataframes from [this section](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-power-bi-cus

[2021-01-07 03:47] ivandretvic opened #68537 "Grammar issue"
Grammar issue:
'Workspaces are hosted on a physical clusters.'
should read
'Workspaces are hosted on physical clusters.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 711d80f5-3386-0767-ee9e-a309fd5b679a
* Version Independent ID: 40b54243-abf8-209e-c492-80f77a362cff
* Content: [Designing your Azure Monitor Logs deploy

[2021-01-07 04:12] AnuragSharma-MSFT commented on #68337
@hellojxg Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-07 04:12] #68337 closed

[2021-01-07 04:13] AnuragSharma-MSFT commented on #68386
@soumag Awaiting your response on the above comment.

[2021-01-07 04:14] AnuragSharma-MSFT commented on #68412
@mbanck This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-07 04:48] ram-msft commented on #68536
@pawarbi Thanks for the feedback! We will review and update accordingly.

[2021-01-07 04:52] #66721 closed

[2021-01-07 04:59] psmanhas commented on #68528
@lissff Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-01-07 05:10] SnehaAgrawal-MSFT commented on #68537
@ivandretvic Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-07 05:18] psmanhas commented on #68399
Taking offline as per discussion.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-01-07 05:18] #68399 closed

[2021-01-07 05:18] rvm1975 opened #68538 "ginaaraiza@hotmail.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46313f6-ce23-85a7-19c3-21152a3cc401
* Version Independent ID: 6c09429c-4de0-3bbe-41bc-b0c41ed333bc
* Content: [Questions & answers about Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-he

[2021-01-07 05:22] AnuragSharma-MSFT commented on #68433
@nunepalli To answer your query, yes we can sync the member databases across the subscriptions. Please read through the below screenshot and corresponding link for more details:

![image](https://user-images.githubusercontent.com/66360845/103854376-4ec9bf00-50d6-11eb-942d-130d692ac7b5.png)

https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database#faq-abo

[2021-01-07 05:22] seanalexander commented on #23890
You can add a RA-GRS storage account to storage explorer by generating a Shared access signature and appending -secondary to the account name.

![image](https://user-images.githubusercontent.com/1403107/103854453-7bea8300-507e-11eb-98b8-524d156155dd.png)

![image](https://user-images.githubusercontent.com/1403107/103854429-68d7b300-507e-11eb-872b-f2629afebcab.png)

[2021-01-07 05:24] psmanhas commented on #68512
@xelizondo Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-01-07 05:25] psmanhas commented on #68512
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-01-07 05:26] psmanhas commented on #68351
@bellaned Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-01-07 05:26] #68351 closed

[2021-01-07 06:24] eliasvakkuri commented on #55588
Hi @julieMSFT, I'm looking for instructions on how to connect to the Synapse Workspace using the Private Link and private DNS name, after setting these up. Also, I'm interested in which types of connections you could use with the Private Link connection. Could I e.g. use Azure P2S VPN to connect to the workspace, while all other connectivity would be prohibited?

Does that answer your question?

[2021-01-07 06:31] IanIsFluent commented on #68489
Sorry. Frustrating day! Updated my original report.

[2021-01-07 06:56] Shridharfly opened #68539 "Understanding Select operation | Azure Cosmos DB Table API"
#C# #azure #linq #azure-cosmosdb

    IList<string> columns = new List<string> { "PartitionKey", "GroupId" };

    TableQuery<Entity> rangeQuery = new TableQuery<Entity>()
        .Select(columns)
        .Where(
            TableQuery.CombineFilters(
                TableQuery.GenerateFilterCondition("GroupId", QueryComparisons.GreaterThan, "5555"),
                TableOperators.And,

[2021-01-07 07:00] IanIsFluent commented on #68489
I've tried using the `az` commandline, and now I get a 400 instead of a 500 error, but again with no useful info about whatis wrong 👎

Input
[code]

Output
[code]

The latter part of the management URL matches the portal URL for the DB - so that seems correct. And I'm copying the URL of the bacpac into the uri. I have signed into Azure.

[2021-01-07 07:05] Shridharfly commented on #68539
By default, PartitionKey and RowKey are being returned, irrespective of whether they are included in select or not.

[2021-01-07 07:05] #68539 closed

[2021-01-07 07:07] #68138 closed

[2021-01-07 07:11] shashishailaj commented on #68538
@rvm1975 Thank you for this engagement . We use this repo for documentation improvement and feedback. Could you please provide some details as to what par of documentation you have trouble with so that we can help you accordingly?

[2021-01-07 07:12] SubhashVasarapu-MSFT commented on #68531
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2021-01-07 07:15] alenroki commented on #68474
I went through that link and it doesn’t describe how one would create AdventureWorksLT schema that is required for step 2. The tutorial would be better if it was more descriptive in its steps. Not all of us have worked or assumed to know Azure Synapse.

[2021-01-07 07:23] IanIsFluent commented on #68489
I tried using the REST API here: https://docs.microsoft.com/en-us/rest/api/sql/databases%20-%20import%20export/import#code-try-0

With Params:
[code]
And body:
[code]

And this time got:
[code]

[2021-01-07 07:23] #68406 closed

[2021-01-07 07:24] Datum-Guy commented on #68515
@KranthiPakala-MSFT It's already being posted on this Q&A thread on Microsoft Q&A Forum - https://docs.microsoft.com/en-us/answers/questions/221452/bug-ratecard-api-returns-invalid-json.html

Would really appreciate if someone could take a quick look into this.

[2021-01-07 07:24] un7c0rn commented on #11741
Same. This process doesn't seem to have changed.

[2021-01-07 07:32] LHB6540 opened #68540 "asked for scope 'user_impersonation' that doesn't exist on the resource '00000003-0000-0000-c000-000000000000'"
Language：python
docs-link：https://docs.microsoft.com/zh-cn/azure/active-directory/develop/scenario-web- app-sign-user-app-configuration?tabs=python

I registered the app in azure and added the'user_impersonation' permission. In my local web application, I modified the field labeled'scope' in the code to enable'use_impersonation'. When trying to log in to my local application using micosoft account

[2021-01-07 07:55] tdihp commented on #19779
Do we have similar steps for Linux distributions?

[2021-01-07 08:06] TobiRoby opened #68541 "Modify which and how often data is logged?"
Hi,

is there a way to modify what information (tables) is logged and in which intervals that is happening?
I would like to know this for estimating costs before we adopt our processes and use this monitoring tool.

The default behavior seems to be logging all (default) information every minute.
e.g.
- ContainerImageInventory
- ContainerInventory
- ContainerProcess_CL
- ...

In my workspace I can

[2021-01-07 08:14] TobiRoby opened #68542 "Missing parameter in docker command example"
Topic: Install and configure Linux container hosts

Is it intentional that the `-v /var/log:/var/log` parameter is missing from the "For all Linux container hosts including CoreOS:" docker command?

`sudo docker run --privileged -d -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/docker/containers:/var/lib/docker/containers -e WSID="your workspace id" -e KEY="your key" -h="hostname" -p
127

[2021-01-07 08:16] klyse opened #68543 "vmss create: unrecognized arguments: --Specialized"
[code]

[code]

Error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a7a71b-c917-10d7-6720-84e24c5af1e3
* Version Independent ID: 78c01cc9-e4ff-c4a2-ec72-9c367c28b730
* Content: [Create a scale set from a specialized image version using the Azure CLI - Azure Virtual Machine Scale Sets](https://docs.microsoft

[2021-01-07 08:26] palma21 commented on #68416
@spacecat thank you for the feedback, it's really appreciated. We love the feature as well and have no intention of removing it :), just continue to improve.
This feature should GA now during this quarter and have a few more capabilities.

[2021-01-07 08:30] xelossan commented on #68428
@JamesTran-MSFT
Help from your support team would be greatly appreciated. We really need this localization to work.

Please let me know what information about our environment you need. Thanks!

[2021-01-07 08:41] GitaraniSharma-MSFT commented on #68339
@bizinbarefeet , I'm following up on the above comment. Please provide more details for further investigation.

[2021-01-07 08:43] AjayKumar-MSFT commented on #68377
@artisticcheese,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-01-07 08:54] VikasPullagura-MSFT commented on #68543
@klyse Can you please try the with --specialized

[2021-01-07 08:58] klyse commented on #68543
@VikasPullagura-MSFT works, thanks. Feel free to close the issue if you want / fixed the docs.

[2021-01-07 08:59] VikasPullagura-MSFT commented on #68543
@klyse Thanks for confirming. I have updated the document. Changes will go live soon.

[2021-01-07 09:04] #68543 closed

[2021-01-07 09:10] AkeSamuelson opened #68544 "Update screeenshots"
Hello,

Please update the screenshots to reflect the latest version of the portal, it took me some time to find the settings for the portal in the section "Disable access to the public endpoint".
Thank you for your great documentation, it has helped so me many times!

Regards
Åke S.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-07 09:16] WenJason opened #68545 "Azcopy "--put-md5" parameter confusion"
Hi team,

I have a confusion about the **--put-md5** parameter of this [**article**](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy#examples). The [**AzCopyV10.0.9 Preview Release**](https://github.com/Azure/azure-storage-azcopy/releases/tag/v10.0.9) illustrates that "**as of version 10.0.9, MD5 hashes are NOT created by default**". However, when I used the "**azcopy

[2021-01-07 09:19] marcoboffi commented on #68424
Thanks for your suggestion.
Please clarify me another thing.
With [az acr build](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az_acr_build) command, if <SOURCE_LOCATION> is set to URL of git repository, I think ACR pulls (download)  code from git repo via HTTPS.
But if <SOURCE_LOCATION> is set to local source code directory path, is code  "pushed" to ACR (via ACR api)?
If n

[2021-01-07 09:19] SwathiDhanwada-MSFT commented on #68541
@TobiRoby Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-07 09:19] SwathiDhanwada-MSFT commented on #68542
@TobiRoby Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-07 09:20] CHEEKATLAPRADEEP-MSFT commented on #68539
Hope you have self resolved and hence closed the issue. Thanks for the update.

[2021-01-07 09:45] wouterdevinck commented on #68494
In case anyone else is looking for this information: this is the answer I got from ProDirect support:

[2021-01-07 09:55] SumanthMarigowda-MSFT commented on #68544
@AkeSamuelson Thanks for the question! We are investigating and will update you shortly.

[2021-01-07 09:56] SumanthMarigowda-MSFT commented on #68545
@WenJason Thanks for the question! We are investigating and will update you shortly.

[2021-01-07 10:01] msewaweru commented on #67537
Well noted @mmacy. Taking up this task.

[2021-01-07 10:29] aslamkhan24 commented on #32940
hi all,
  i have similar issue, when i am trying to get access token using service principal. we have configured service principal using certificates in key vault, not sure what values i provide in body to authenticate so that we can get the access token,

thanks
aslam

[2021-01-07 10:41] HarithaMaddi-MSFT commented on #68474
@alenroki - Thanks for sharing more details. As per the document, the AdventureWorksLT schema is required only in SQL and that is covered in the [link ](https://docs.microsoft.com/en-us/azure/azure-sql/database/single-database-create-quickstart?tabs=azure-portal) shared in the document. As this is not required in Synapse for this tutorial, it is not included. Please suggest if it clarifies the que

[2021-01-07 11:02] BorisKornienko opened #68546 "wrong connection string"
In your article
@<COSMOSDB_ACCOUNT_NAME>.**mongo.cosmos**.azure.com:10255

In Azure
@<COSMOSDB_ACCOUNT_NAME>.**documents**.azure.com:10255

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0704a6e-bdc1-9834-3975-e883360d22f9
* Version Independent ID: a5fc5945-b27b-7c7a-2ad3-5f3ff3b63e5a
* Content: [Connect a Go applicati

[2021-01-07 11:06] AnuragSharma-MSFT commented on #68546
@BorisKornienko Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-07 11:52] shashishailaj commented on #68540
@LHB6540 Thank you for your query. We generally use github azure-docs repo for documentation improvement , however we will try to understand your problem and solve it . In case it requires deeper troubleshooting , we will help you with alternate support options.

[2021-01-07 11:55] joshuaquek commented on #68490
Ok no worries, have managed to figure it out using the guide here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc

Thanks!

[2021-01-07 12:15] KalyanChanumolu-MSFT commented on #68492
@sean-keane25 The flag is supported but disabled by default.
You can submit a PATCH operation to change it.

[code]
Do let us know if you have any questions

[2021-01-07 12:43] soderlind commented on #48177
@amitsriva @sharad4u @KumudD, any news on this?:

As @davidobrien1985 mentioned, they received a managed certificate.

[2021-01-07 12:53] ErikMogensen opened #68547 "Application Gateway is missing from the list"
Azure Application Gateway may use user assigned managed identities to access certificates. This is described in the article [TLS termination with Key Vault certificates](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs). Please add information about it to [https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-i

[2021-01-07 13:09] danmyhre commented on #68281
Bummer, not really.  When working with clients to implement and train on this, more details would be better.

[2021-01-07 13:10] mikejboss commented on #68423
Just like Microsoft - to respond by asking a nonsense question just to keep the user busy burning time for no good reason. what document link do you want you morons?  Please, don't bother me. Just go about you day and drink your slurpies and relax.  I'm bailing from this stink hole.

[2021-01-07 13:17] jmprieur commented on #68540
#please-assign jmprieur

[2021-01-07 13:21] jmprieur commented on #68540
@LHB6540, '00000003-0000-0000-c000-000000000000' is the guid of Microsoft Graph, which does not have a 'user_impersonation' scope.

### If you want to call your own web API,
then you need to use, in your web app, a scope which is of the form "your-web-api-app-ID-URI/user_impersonation" if this is the scope you have exposed (we recommend access_as_user for new APIs)
See https://docs.microsoft.com/a

[2021-01-07 13:23] jayoungers commented on #45991
@fgarcia-cnb that setting resolved our problem yesterday as well: Thank you!

What are the odds I'd be viewing an issue that hasn't been commented on in 6 months and a magical solution appears that moment.

[2021-01-07 13:26] MorpheusZero commented on #62877
Same Issue. It's been three days and I have followed all of the pre-reqs and using the same user as Global Admin with MFA.

[code]

[2021-01-07 13:42] scale-tone opened #68550 "The page explicitly declares that Auth Code flow with PKCE is _recommended_, but the very first link still leads to a quickstart for Implicit flow"
Also, there isn't a single page across the entire directory, that would explain what "PKCE" stands for. And why it is better and recommended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74dc7cef-39ea-97d2-2d82-a88da090cbc4
* Version Independent ID: fe858571-6f3c-1b2e-e229-a7037a82508d
* Content: [JavaScript single-p

[2021-01-07 13:48] miwithro commented on #68399
Thank you.  I am good with the refresh.

Michael Withrow

From: rockboyfor <notifications@github.com>
Sent: Wednesday, January 6, 2021 8:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael Withrow <Michael.Withrow@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] `az ad app permission admin-consent` cmdlet not running successful

[2021-01-07 14:03] xamde opened #68553 "Request logging on Spring WebFlux did not work"
Hi, on the main page of the agent jar auto-collected DATA is described. On the config page, only auto-collected log entries are explained. How can we / do we need to turn on request logging to see the requests over WebFlux ending up in AppInsights?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea43b302-7793-3e32-189e-

[2021-01-07 14:04] MGoedtel commented on #68402
The article was fixed and the update was published on Tuesday.  #please-close.

[2021-01-07 14:04] #68402 closed

[2021-01-07 14:08] ramuvr opened #68554 "Add groups to local Administrators group"
Section "How it works" says
"By adding Azure AD roles to the local administrators group, you can update the users that can manage a device anytime in Azure AD without modifying anything on the device. **Currently, you cannot assign groups to an administrator role**. "

I believe this is incorrect in the latest version of Policy CSP - RestrictedGroups allows local user account or a group in AD, Azu

[2021-01-07 14:27] msdpalam opened #68555 "Please update the doc with relevant graphics - Visualize now has Evaluation results option"
In the document under under the following section, a graphics will be helpful. The option may have changed recently, we now have Visualize-> Evaluation results option. The steps will be more helpful with the new option mentioned and with a graphics, along with the description that we already have. Can you please review and update the doc?

**Evaluate models**

---
#### Document Details

⚠ *Do not

[2021-01-07 14:41] cdeil commented on #49042
I don't see an update: https://github.com/microsoft/azure-docs/commits/master/articles/event-hubs/get-started-capture-python-v2.md

@spelluru - did you test on Windows, or also on Linux or Mac?

As mentioned above, I think this only works on Windows.

[2021-01-07 14:45] DennesTorres opened #68556 "Missing Information"
[Enter feedback here]

This page doesn't specify the product it applies to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 893843c1-bbd0-2953-5594-b7483accd046
* Version Independent ID: 33b132fe-2c07-0c59-4766-e3b534ea010b
* Content: [Performance tuning with result set caching - Azure Synapse Analytics](https://docs.mic

[2021-01-07 14:54] thoaingan opened #68559 "The screenshots for this page are outdated as of today 1/7/21. Please revise this page with the latest screenshots from the Azure Portal."
The screenshots for this page are outdated as of today 1/7/21. Please revise this page with the latest screenshots from the Azure Portal.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90245485-cff2-095d-24b1-0df6542d74e6
* Version Independent ID: 33d8e755-f39e-03fe-d754-f000f5e106ee
* Content: [Use feature filters to e

[2021-01-07 14:57] spelluru commented on #49042
@cdeil - I have tested it only on Windows. This code is only an example. I can add a note about the OS. Thanks.

[2021-01-07 14:58] sean-keane25 commented on #68492
Shouldn't this flag be documented in the arm template ? Thats the point of this github issue.

[2021-01-07 15:20] nunepalli commented on #68433
@AnuragSharma-MSFT
I have seen that part in the documentation. It doesn't say anything about region.
Can you clarify whether the member database should be in the same region as that of Hub database or can be in any region in any subscription?

[2021-01-07 15:20] shraboin opened #68560 "Change wording on locks for Storage Accounts"
Bullet 4 under from [this page](https://docs.microsoft.com/en-us/azure/storage/blobs/security-recommendations#data-protection)is misleading to customers:

Lock storage account to prevent accidental deletion | You can lock a subscription, resource group, or resource to prevent other users in your organization from accidentally deleting or modifying it. For more information, see Lock resources to pr

[2021-01-07 15:26] JamesTran-MSFT commented on #68550
@scale-tone
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-07 15:29] JamesTran-MSFT commented on #68547
@ErikMogensen
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-07 15:30] MonikaReddy-MSFT commented on #68559
@thoaingan -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-07 15:30] tfitzmac commented on #68522
@dlepow - can you confirm this limit? Should it be added to this article?

[2021-01-07 15:36] MonikaReddy-MSFT commented on #68502
@mchudinov -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-07 15:36] #68502 closed

[2021-01-07 16:05] lauradolan commented on #68073
Thanks @daviburg as discussed I've created a work item to make these changes to the doc. #please-close

[2021-01-07 16:05] #68073 closed

[2021-01-07 16:07] lauradolan commented on #65905
Thanks @daviburg we've created a work item to make these changes to the doc. #please-close

[2021-01-07 16:07] #65905 closed

[2021-01-07 16:11] ecfan commented on #65838
@derek1ee, please respond?

[2021-01-07 16:13] ecfan commented on #56878
Closing this thread for now as the work is on the backlog. Will respond when the doc is updated. #please-close

[2021-01-07 16:13] #56878 closed

[2021-01-07 16:22] spelluru commented on #29165
Sorry for the delay. I am running through all the old issues and fixed this one today. The article should go live soon.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/142496

#please-close

[2021-01-07 16:22] #29165 closed

[2021-01-07 16:23] swieder opened #68561 "Compute Instance fails, where's the logs??"
When a compute instance fails, where are the logs of the creation for troubleshooting??   I don't see that documented anywhere...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b332b2-b671-a5e8-0db0-38aa1378dbaf
* Version Independent ID: 13cd812a-48e4-dd85-3cc8-a0b357a5a453
* Content: [Create and manage a compute ins

[2021-01-07 16:40] bakerm00 opened #68562 "global public azure AD as b2b into national cloud?"
current page states that no national cloud b2b into global public Azure AD.
can we clarify if the opposite is or is not possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7476784f-6f44-8aab-3d08-2c813a4e0422
* Version Independent ID: 894d5b3a-a96d-d6c1-d72a-a532191dd5db
* Content: [Limitations of B2B collaboratio

[2021-01-07 16:54] GiftA-MSFT commented on #68561
@swieder we'll review your feedback and get back to you shortly. Thanks.

[2021-01-07 16:55] GiftA-MSFT commented on #68555
@msdpalam we'll review your feedback and get back to you shortly. Thanks.

[2021-01-07 16:56] mbiver opened #68563 "LinkedAuthorizationFailed When using RBAC to share Gallery Image with user in another Tenant/Sub"
Hello, team.  Based on the first paragraph of this article,

"Shared Image Galleries let you share images using Azure RBAC. You can use Azure RBAC to share images within your tenant, and even to individuals outside of your tenant. For more information about this simple sharing option, see the Share the gallery."

I shared my subscription with user account from another tenant/sub hoping to deploy i

[2021-01-07 16:58] JamesTran-MSFT commented on #68428
@xelossan
Thank you for the quick response!

Can please email me with the info below and I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Subscription ID](https://wmatthyssen.com/2019/09/06/azure-tip-how-to-quickly-

[2021-01-07 16:58] #68428 closed

[2021-01-07 17:01] asergaz commented on #68148
Hello all, we are making progress and very soon will make the binaries available again. Please say tuned.

Another related issue: https://github.com/VSChina/azureiotdevkit_tools/issues/60

[2021-01-07 17:06] JamesDLD opened #68564 "Where did go the aliases sample?"
There was some sample when parsing aliases but they are no more available.

By the way I can't output aliases anymore through Azure Graph Explorer -->
[code]
Gives the following error : Please provide below info when asking for support: timestamp = 2021-01-07T17:02:51.3846438Z, correlationId = 47096cf0-88af-49f1-91a8-93deba0091a0. (Code: BadRequest) Query is invalid. Please refer to the documentat

[2021-01-07 17:14] DanielMeixner opened #68565 "runtime stack must be "custom" to run docker images"
The docs should say "custom" instead of "<functions runtime stack>"  in the following line:

az functionapp create --name <app_name> --storage-account <storage_name> --resource-group AzureFunctionsContainers-rg --plan myPremiumPlan --runtime <functions runtime stack> --deployment-container-image-name <docker_id>/azurefunctionsimage:v1.0.0

Otherwise people will never figure out what to put in here

[2021-01-07 17:24] DCtheGeek commented on #68564
#assign:DCtheGeek

[2021-01-07 17:34] derek1ee commented on #65838
@Rohitha Hewawasam<mailto:rohithah@microsoft.com> please help take a look at this, looks like a bug.
________________________________
From: Esther Fan <notifications@github.com>
Sent: Thursday, January 7, 2021 8:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Derek Li (AZURE) <deli@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] U

[2021-01-07 17:36] MarileeTurscak-MSFT commented on #68554
@ramuvr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-07 17:40] MarileeTurscak-MSFT commented on #68562
@bakerm00
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-07 17:53] duongau commented on #68001
@ozbillwang Thank you for your suggestion. We'll bring this up to the product team.

#please-close

[2021-01-07 17:53] #68001 closed

[2021-01-07 17:56] ctrlaltdan commented on #43248
I can reproduce this problem easily by:

1. Create new resource group
2. Add a certificate to your new resource group
3. Try and add a new app service plan (linux)

This took me a few hours to debug (through terraform) but can easily be reproduced by attaching/detaching the certificate from the resource group.

[2021-01-07 17:58] KranthiPakala-MSFT commented on #68515
Hi @Datum-Guy . Thanks for sharing the Q&A link. I have notified the relevant team to have a look at this issue. One of our engineer will get back to you as soon as we have an update.

Sorry for your experience and thanks bringing this to our attention.

We appreciate your patience

Thank you

[2021-01-07 17:59] kobulloc-MSFT commented on #46232
@ScottyMac52 We've updated the documentation to include the location of the config.AddAzureAppConfiguration() method.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-07 17:59] #46232 closed

[2021-01-07 18:04] billmath commented on #68272
There is an internal bug on this and has been assigned to engineering.

#please-close

[2021-01-07 18:04] #68272 closed

[2021-01-07 18:09] ericdboyd commented on #68262
I am experiencing the same issue. The last time I know it worked as expected was on Dec 3, 2020, and the first time I noticed this unexpected failure behavior was on Dec 17, 2020.

[2021-01-07 18:17] mdrakiburrahman opened #68567 "SQL Server 2012 - builds on SP3 (11.0.6020.0) supported with Transaction Replication?"
Hello,

Would you be able to confirm if a SQL Server 2012 - 11.0.6248.0 (X64) is supported with SQL MI Transaction Replication? Or is it only the **specific version** listed in the Article - SP3 (11.0.6020.0) that are supported (and not updated builds).

I assume since 11.0.**6248**.0 is an updated build on SP3 (11.0.**6020**.0) base, it should be supported, but need to confirm if this assumption

[2021-01-07 18:18] NavtejSaini-MSFT commented on #68360
@sijucm We are going ahead and closing this feedback at this time. Please get back to us if you have any further questions.

[2021-01-07 18:21] JamesTran-MSFT commented on #68440
@lipalath-ms
I received an update from our engineering team and will post it below.

**Update:**
Can you check the "[Bulk operations results](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-bulk-import-members#check-import-status)" page and select the value under failure, the reason should be listed there.
Navigate to Azure Active Directory -> Groups -> Bulk operati

[2021-01-07 18:27] KranthiPakala-MSFT commented on #68556
@DennesTorres
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 18:38] SaiKishor-MSFT commented on #68190
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-07 18:38] #68190 closed

[2021-01-07 18:43] divyaswarnkar commented on #50990
@sweeeneey apologies for late response, I somehow missed this thread. EDIFACT Encode provides you different variants, which I believe you are aware of. You can choose the action which does the agreement resolution automatically leveraging the Integration Account agreements, or you can explicitly specify the agreement name or you can explicitly provide the identities. In the latter, you would have

[2021-01-07 18:43] normesta commented on #20288
Hi @ckarras. Strange. I can't seem to find it either. I'm unfamiliar with the mechanics of posting suggestions to this site. @zezha-msft, @ckarras has posted a suggestion to the feedback site ([https://feedback.azure.com/forums/217298-storage/suggestions/42370870-azcopy-should-allow-resuming-failed-transfers-of-l](https://feedback.azure.com/forums/217298-storage/suggestions/42370870-azcopy-should-

[2021-01-07 18:45] ArvindHarinder1 commented on #68382
Hi this is supported already.

"Provisioning requests are sent by default to https://{your-instance-name}.service-now.com/{table-name}. If you require a custom tenant URL, you can provide the entire URL in the instance name field."

[2021-01-07 18:46] miwithro commented on #68527
@norshtein can you look into this.  I was able to have this working on 2.16.0, as soon as I upgraded to 2.17.1 I was able to reproduce the error above.

[2021-01-07 18:50] sijucm commented on #68360
But this is about a javascript code and NOT Java. The code in that page is
a javascript code.

On Thu, Jan 7, 2021, 7:18 PM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2021-01-07 18:52] jeevansd commented on #68421
@chetansriv Can you please reach out to Amazon Business team and update the document here?

[2021-01-07 19:02] mdrakiburrahman commented on #68567
I was able to confirm that additional patches (6248) on top of the base builds (6020) is also supported.

Thank you.

[2021-01-07 19:02] #68567 closed

[2021-01-07 19:08] NavtejSaini-MSFT commented on #68360
@timsander1 Can you please check this and comment regarding this issue.

[2021-01-07 19:09] AjayKumar-MSFT commented on #68374
Thanks again for your feedback! Your feedback has been shared with the content owner for further review.
@cephalin, Requesting your comment on this.

[2021-01-07 19:10] NavtejSaini-MSFT commented on #68463
@arizzi12 We are going ahead and closing this issue. Please get back to us if you have any further issues.

[2021-01-07 19:10] #68463 closed

[2021-01-07 19:10] jdshaeffer commented on #14254
Thanks for addressing our issues. I'm running Azure SQL Edge via Docker container ([mcr.microsoft.com/azure-sql-edge](mcr.microsoft.com/azure-sql-edge)) on my computer containing the Apple M1 chip (ARM architecture). It started working fine until I couldn't copy over any assets from my remote SQL Server database to my local. I tried to do so using SQL Server Schema Compare on Azure Data Studio, an

[2021-01-07 19:16] SQLSourabh commented on #14254
You SQL Server Database is most likely using CLR based features which are not supported with Azure SQL Edge. The full list of unsupported features can be found @ https://docs.microsoft.com/en-us/azure/azure-sql-edge/features

[2021-01-07 19:21] NavtejSaini-MSFT commented on #68364
@timsander1 We have raised PR for the same  - https://github.com/MicrosoftDocs/azure-docs-pr/pull/142518
Please check and approve.

[2021-01-07 19:25] NavtejSaini-MSFT commented on #68517
@vasanth-janakiraman We are assigning this to our doc author and product team for review.
@stevestein Please look into the feedback and convey if such a document can be created.

[2021-01-07 19:26] KranthiPakala-MSFT commented on #68553
@xamde
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 19:27] KranthiPakala-MSFT commented on #68560
@shraboin
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-07 19:28] ChaitanyaNaykodi-MSFT commented on #68565
Hello @DanielMeixner,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-07 19:37] NavtejSaini-MSFT commented on #68489
@IanIsFluent Just to be sure you are not using any square brackets in Admin login and password and the key. Please confirm.

[2021-01-07 19:44] ecfan commented on #65838
#assign @rohithah

[2021-01-07 19:45] PRMerger17 commented on #65838
rohithah is already assigned.

[2021-01-07 19:53] ChaitanyaNaykodi-MSFT commented on #68356
Hello @pdhunsberger,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-01-07 19:53] #68356 closed

[2021-01-07 20:02] brandonh-msft commented on #44123
@alexkarcher-msft I'm also unable to get this configured. I can use the portal built-in method to test HTTP Functions and Function Apps in my ASE w/o issue, yet - like the OP - I cannot get EG subscriptions *using EG trigger* to pass subscription validation:

[code]

[2021-01-07 20:06] SatishBoddu-MSFT opened #68570 "Document should say 'Synchronization applying to video and IMU sources only'"
This Doc-Enhancement request is originated from the **Microsoft Q&A Forum Question**: [Questions about the simultaneous recording of audio on multiple devices of Azure Kinect DK](https://docs.microsoft.com/en-us/answers/questions/216883/index.html). The documentation doesn’t explicitly say synchronization is not applicable to the microphone (but it should be obvious from the content on the page),

[2021-01-07 20:08] kalyankrishna1 opened #68571 "Please add a next link to the page where the developer can learn how to acquire a token"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bde57e5-d6a7-629f-cf29-ab3cd30fffe1
* Version Independent ID: eeeaeb90-a125-7b05-d93f-155517b90303
* Content: [Initialize MSAL.NET client applications - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal

[2021-01-07 20:09] SatishBoddu-MSFT commented on #68570
Hi , As per the Q&A question and discussion with PG/CXP team, we have submitted this feedback.
Cc: @qm13

[2021-01-07 20:19] dmgardiner25 opened #68572 "Access memory usage on the (Linux) host OS though Azure Monitor"
We are using Azure Monitor to view our Linux VM metrics through the .NET client to be able to send them to our telemetry and while we are able to get the CPU/disk/network metrics since they're supported on the host OS, we'd still like to be able to see the memory usage. We block IMDS so Telegraf won't work and as far as I know, we don't have a way to get the region and resource id from within the

[2021-01-07 20:27] MicrosoftGuyJFlo commented on #68281
Sorry. There really isn't much more to it than that.

[2021-01-07 20:27] MicrosoftGuyJFlo commented on #68281
#please-close

[2021-01-07 20:27] #68281 closed

[2021-01-07 20:42] GarrySinghMSFT opened #68573 "Normalized RU consumption for shared Throughput databases is not supported by design. Needs specification in the doc."
Handled a case where it is found that Normalized RU consumption metrics does not allow spilitting by collection name when database has shared throughput configured. Therefore even though you specify splitting, the collections names does not populate.

The document needs to include that limitation on shared throughput spaces. I have an ICM# if needed for confirmation.

![image](https://user-images.

[2021-01-07 20:45] kenwith commented on #68350
I went ahead and added clarification that 1 in the example is returning the second item. Thank you for the feedback and let me know if you spot other areas that can be improved.

#please-close

[2021-01-07 20:45] #68350 closed

[2021-01-07 21:00] KranthiPakala-MSFT commented on #68564
@JamesDLD
Thank you for reaching out. At this time we have assigned this issue to content author to further review feedback and provide an update as appropriate.

[2021-01-07 21:03] NavtejSaini-MSFT commented on #68573
@GarrySinghMSFT We are checking this and will get back to you.

[2021-01-07 21:04] KranthiPakala-MSFT commented on #68572
Hi @dmgardiner25

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://stackoverflo

[2021-01-07 21:04] KranthiPakala-MSFT commented on #68563
@mbiver
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 21:06] dmgardiner25 commented on #68572
Thanks! I'll reach out there.

[2021-01-07 21:06] #68572 closed

[2021-01-07 21:17] spelluru commented on #52841
Discussed with the product team. Removed the links for now. Since the term isn't specific to Microsoft, we decided to be consistent with other DOCS articles and have no links.

#please-close

[2021-01-07 21:17] #52841 closed

[2021-01-07 21:24] spelluru commented on #56692
Updated the code. It's using the old version of Azure Functions. I will upgrade it to the latest version soon.

#please-close

[2021-01-07 21:24] #56692 closed

[2021-01-07 21:29] JamesTran-MSFT commented on #68571
@kalyankrishna1
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-07 21:43] spelluru commented on #56139
The topic filter sample is here:
https://github.com/Azure/azure-service-bus/tree/master/samples/Java/azure-servicebus/TopicFilters

Not sure about the other sample. Also, the article has been updated and I don't see a reference to the link that is invalid.

#please-close

[2021-01-07 21:43] #56139 closed

[2021-01-07 21:57] SnehaGunda commented on #68457
@kalendelaney  WRT to language types would fit better but we use the term kind because that's how it's referenced within the code snippets. See how the index type is set with the kind property in this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-indexing-policy?tabs=dotnetv2%2Cpythonv3#indexing-policy-examples

I will make a few changes but don't want to lose the parameter n

[2021-01-07 22:10] spelluru commented on #51824
Hi @abhirockzz - Thanks for the feedback. I have discussed with our architect and he thinks that "version 1.0 or later" is accurate and doesn't need to go into specifics.

#please-close

[2021-01-07 22:10] #51824 closed

[2021-01-07 22:25] RevathiS23 opened #68577 "Difference between GRS and GZRS"
[Enter feedback here]
 Can you please explain better on data in secondary regions for GRS and GZRS whether data in GRS will be copied asynchronously  to one physical server or to three physical servers ? Is the data in secondary region is what the main difference between GRS and GZRS ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-01-07 22:30] clwelp opened #68578 "Contradictory or unclear statements"
This paragraph is confusing.  It says the log is read every 5 minutes, but later says that it collects the log each hour (or every 24 hours).  More clarity or explanation is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de204b3b-563a-0a65-8f5a-456cc8335585
* Version Independent ID: 6b5c30b8-ae3b-12c0-6fd8-9a3d

[2021-01-07 22:31] SnehaGunda commented on #68457
The above PR fixes the content, We will now close this issue.

#please-close

[2021-01-07 22:31] #68457 closed

[2021-01-07 22:44] #68364 closed

[2021-01-07 23:00] KranthiPakala-MSFT commented on #68577
@RevathiS23
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 23:01] KranthiPakala-MSFT commented on #68578
@clwelp
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-07 23:17] Joost-van-Rossum opened #68579 "JSON example message for scaling is not correct"
The quotation marks are missing around the data warehouse units and the "c" is missing after the data warehouse units.
**Incorrect**
{
    "properties": {
        "requestedServiceObjectiveName": DW1000
    }
}

**Correct**
{
    "properties": {
        "requestedServiceObjectiveName": **"**DW1000**c"**
    }
}

**Error message missing quotation marks**
{"error":{"code":"InvalidRequestContent","me

[2021-01-07 23:26] ahamad-MS commented on #43468
@romankiss ... CloudEvent support was recently added in the new generation of SDK https://www.nuget.org/packages/Azure.Messaging.EventGrid/4.0.0-beta.2 .

Please confirm you no longer have this issue.

[2021-01-07 23:29] SnehaGunda commented on #68426
@sumitsengupta Thank you I submitted a fix in the above PR. Changes will be live tomorrow. We will now close this issue.

#please-close

[2021-01-07 23:29] #68426 closed

[2021-01-07 23:29] spelluru commented on #51059
Added the missing section to the article:
https://docs.microsoft.com/en-us/azure/event-grid/security-authentication#endpoint-validation-with-cloudevents-v10

#please-close

[2021-01-07 23:29] #51059 closed

[2021-01-07 23:32] dlepow commented on #67972
@bgklein - Thanks, Brandon. Good catch. I moved the footnote earlier so it doesn't follow the unit.
#please-close

[2021-01-07 23:32] #67972 closed

[2021-01-07 23:36] MarileeTurscak-MSFT commented on #68554
I also see this mentioned here. https://www.reddit.com/r/Intune/comments/k13tv0/add_an_azure_ad_group_to_the_local_administrators/

And in this document: https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept

I made a pull request to update this but will leave it open for the author to review.

@MicrosoftGuyJFlo can you confirm if these are referring to the same thing?

[2021-01-07 23:49] SnehaGunda commented on #68002
@MS-jeremy I tested that DeleteMany works too. I will add it to the doc.

![image](https://user-images.githubusercontent.com/14284405/103957578-df68c500-50ff-11eb-8beb-a4034a007056.png)

[2021-01-07 23:52] ermancom commented on #35411
I had a same problem and I solved by attaching ACR to AKS . I applied the commands below.
az aks update -n myAKSCluster -g myResourceGroup --attach-acr <acr-name>
If the more information you can look at the https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#grant-aks-access-to-acr

[2021-01-08 00:03] HamishBrowne opened #68580 "No free tier available"
This documentation is out of date. There is no free option available.
Is this going remain, or is there a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](http

[2021-01-08 00:08] SnehaGunda commented on #68002
Updated in the above PR, the changes will be live tomorrow. We will close this issue now.

#please-close

[2021-01-08 00:08] #68002 closed

[2021-01-08 00:17] SnehaGunda commented on #68546
@BorisKornienko the connection string is different if you are using MongoDB 3.2 account Vs 3.6 account. The doc is written for 3.6 accounts that have connection string in the form "..mongo.cosmos.azure.com"

[2021-01-08 00:20] SnehaGunda commented on #68386
@soumag As mentioned above, you can use the .NET SDK to create new autoscale resources or change the throughput of the existing autoscale resources. The SDK does not support migrating between autoscale and standard (manual) throughput. The migration scenario is currently supported in only the Azure portal.

There is a note about this in the doc

[2021-01-08 00:36] soumag commented on #68386
Thanks @SnehaGunda and @AnuragSharma-MSFT. That answers my question. Thanks.

[2021-01-08 00:40] James-Hamil-MSFT commented on #68501
Hi, we are investigating and will update you shortly.

[2021-01-08 00:45] sebansal commented on #67393
@msfcolombo to triage

[2021-01-08 00:58] JustinGrote commented on #42438
@KumudD unless your backlog is 8 months long, can you provide an update? Doesn't appear to have clarity yet.

[2021-01-08 00:58] SnehaGunda commented on #68002
@MS-jeremy sorry for the confusion DeleteMany is supported by Cosmos DB, it's not documented because that command is implicitly supported by the Delete command. That doc only lists the server commands supported by Cosmos DB. In addition to those commands, we also support MongoDB Shell/SDK commands that are built off of those server commands but those aren't listed in the doc.  We may add new conte

[2021-01-08 01:04] VikasPullagura-MSFT commented on #68513
Document is updated, changes are under review. It will be live once approved.

[2021-01-08 01:04] #68513 closed

[2021-01-08 01:04] GiftA-MSFT commented on #68555
@PeterCLu please review above feedback for doc enhancement. Thanks.

[2021-01-08 01:08] dcbrown16 commented on #19779
@tdihp you should probably open another feedback item to receive the best support for your question.

[2021-01-08 01:15] kobulloc-MSFT commented on #68580
@HamishBrowne Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2021-01-08 01:40] KranthiPakala-MSFT commented on #68579
@Joost-van-Rossum
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-08 01:54] LHB6540 commented on #68540
Thanks for your reply，in my web app，I try to change the scope to 'https://management.azure.com/user_impersonation' and
it really worked. It really slove my question.
But there is a question，my case  like the first status like what you say，it‘s  my own web api. But the other permission like 'Application.ReadWrite.All' or others, i just need to add it in my web with the form 'Application.ReadWrite.A

[2021-01-08 02:08] macolso commented on #61488
hi @rakesh08, this is intended behavior for ACI today. We are happy to take a feature request for this process to be automated by ACI once the container is associated with a particular subnet.

[2021-01-08 02:08] KranthiPakala-MSFT commented on #68579
Hi @Joost-van-Rossum,  could you please point us to the exact location of the issue with error message?

Appreciate your feedback and bringing this to our attention.

Thank you

[2021-01-08 02:10] dw00100 opened #68582 "http proxy address and port,for Self-Hosted Integration Runtime behind firewall"
In this page, the document states that need to set the port number to be 8060. But in the Integration Runtime version 5.0.7632.4, the field "Address" is also required. This page does not explain how to set the value for address. Should it be my local machine's IP address. This document may refer to a earlier version, and need to be updated to include the setting for both address and port.
[Integra

[2021-01-08 02:27] TonyLi2013 opened #68583 "code sample is not right for ROPC"
Hi team,

There is a document issue about the code sample for ROPC(OAuth 2.0 Resource Owner Password Credentials), after I download the code, seems like it just get access_token by username and password, please look into it. And I want to know the real sample code for ROPC using MSAL, thanks for your help in advance.

Tony
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-01-08 02:52] AshokPeddakotla-MSFT commented on #68401
Adding author @robinsh for more insights on this query. Meanwhile I am also checking with team.

[2021-01-08 03:05] NavtejSaini-MSFT commented on #68431
@mksuni Please check the https://github.com/MicrosoftDocs/azure-docs-pr/pull/142386 and do the needful.

[2021-01-08 03:07] SnehaGunda commented on #68573
@GarrySinghMSFT I updated the doc in the above PR. The changes will be live tomorrow. We will close this issue now.

#please-close

[2021-01-08 03:07] #68573 closed

[2021-01-08 03:16] VitalyMCT opened #68584 "References to older software versions"
I think the following should be updated to reflect the current state of related tools:

Perhaps version-agnostic references, or references that make it clear which versions are minimally-required would be appropriate here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Ind

[2021-01-08 03:25] YutongTie-MSFT commented on #68368
@vii33 Thanks for the product feedback. I will send your experience to engineering team for investigation. At the meantime, could you please share any other examples in the same situation if any? If you don't have any, it's also appreciated for pointing out this.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT

[2021-01-08 03:25] #68368 closed

[2021-01-08 03:31] SnehaGunda commented on #68386
#please-close

[2021-01-08 03:31] #68386 closed

[2021-01-08 03:43] robincher commented on #37946
Why can't we show some snippets to help?

Running this i managed to get $base64Thumbprint.

[code]

[2021-01-08 03:43] hpsin commented on #68583
The sample at the bottom of the page uses MSAL: https://github.com/Azure-Samples/active-directory-dotnetcore-console-up-v2/blob/master/up-console/PublicAppUsingUsernamePassword.cs

Does this work for you?

[2021-01-08 04:02] AnuragSharma-MSFT commented on #68584
@VitalyMCT Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-08 04:04] SubhashVasarapu-MSFT commented on #68313
@erapade, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-01-08 04:04] #68313 closed

[2021-01-08 04:06] SubhashVasarapu-MSFT commented on #68531
@RonnieQuan, we haven't set an ETA yet on this, since there are some challenges that needs to address.

[2021-01-08 04:13] SnehaGunda commented on #66821
@ankurbajaj9 I made changes to the doc, they will be live tomorrow. We will close this issue now.

#please-close

[2021-01-08 04:13] #66821 closed

[2021-01-08 04:20] frater opened #68585 "Invalid link to supporting information - Customer Story for HDInsight Warehousing"
The customer story referred to as an example in this docco (https://customers.microsoft.com/story/milliman) doesn't appear to exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b821c2b-e60a-9507-007b-815a8e55edcb
* Version Independent ID: c178e026-f777-f4e1-3d1a-c482c685c170
* Content: [What is Azure HDInsi

[2021-01-08 04:26] LHB6540 opened #68586 "want to know the meaning and form of the field"
doc-link：https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-approleassignments?view=graph-rest-1.0&tabs=http

question：
I try to assign contributor role  of  one subscription to a servicePrincipal by following this doc，when send a post request ，it need a json field like this：
{
  "principalId": "principalId-value",
  "resourceId": "resourceId-value",
  "appRoleId": "appRoleId-value"

[2021-01-08 04:33] KalyanChanumolu-MSFT commented on #68492
@sean-keane25 This is documented on Azure Cache for Redis docs. You can find it [here](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-private-link)

If there is some other doc where you think this information is relevant, please provide the links and we will make the changes.
Thank you providing feedback and helping us improve our documentation.

[2021-01-08 04:52] AshokPeddakotla-MSFT commented on #68477
@mgiuseppe Though this is a minor change, let us know if you face any issues with the code.
Also, I am assigning this issue to the content author @robinsh to check and update the doc appropriately.

[2021-01-08 04:57] pvrk commented on #65600
PolicyID should be present. Reset means to go back to previous value and that means we can assume a policy would have been there. The only scenario where policyID is not present is when customer stops protection and retains data. After that happens, they have to resume backup first and then do disk-exclusion and then reset, if required. There is no point in reset after stop protection and retain d

[2021-01-08 04:58] julesb2018 opened #68587 "Is there a way to avoid the "startswith" search?"
Great to have documented that the AAD user search has been _'enhanced'_ such that it now has 'startswith'.
However is there a way for general users to do a free text search?
We've been unable to find users when searching for their domain.
eg: so searching for "blogs" will not find "admin@blogs.com" -
However searching for "admin@bl" will find them.

Thank you.
[Enter feedback here]

---
#### Docum

[2021-01-08 04:59] SatishBoddu-MSFT commented on #68289
Hello @nammyoho Just checking back, could you please let us know if you need further help in this matter.

[2021-01-08 05:14] CHEEKATLAPRADEEP-MSFT commented on #68585
@frater  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@hrasheed-msft Could you please fix the invalid link here:

![image](https://user-images.githubusercontent.com/44426401/103977113-869c3980-519e-11eb-9f2b-5abd8f3d0564.png)

[2021-01-08 05:15] AjayKumar-MSFT commented on #68567
mdrakiburrahman, Thanks for posting this question on Azure docs feedback channel! Glad you found the answer. Appreciate the follow-up on this.

It looks like your feedback is on SQL server, in future, you may want to post such questions directly on [SQL server docs](https://docs.microsoft.com/en-us/sql/database-engine/install-windows/latest-updates-for-microsoft-sql-server?view=sql-server-ver15) f

[2021-01-08 05:16] TonyLi2013 commented on #68583
@hpsin this is not work for me because this method only use Username and Password to get the access token, what I want is use UserName Password ClientId and ClientSecret to get the token which mentioned in this article: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc
![image](https://user-images.githubusercontent.com/3928402/103977212-b3a71700-51b3-11eb-986e-014a643cf

[2021-01-08 05:18] HarithaMaddi-MSFT commented on #68582
@dw00100 - Thanks for your valuable feedback. We are looking into it and will get back to you soon.

[2021-01-08 05:21] SLeuthold opened #68588 "When is this feature going GA?"
This has been in public preview for quite some time now. When is this going to be GA? I saw that the interactive guide didn't show the preview designation https://mslearn.cloudguides.com/en-us/guides/Test%20migration%20to%20cloud%20authentication%20using%20staged%20rollout%20in%20Azure%20AD

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-01-08 05:36] Indrasen-Singh opened #68589 "System.ArgumentException: 'The value 'Endpoint=sb://<NAMESPACE NAME>.servicebus.windows.net/;Authentication=Managed Identity' is not a well-formed Service Bus fully qualified namespace. (Parameter 'fullyQualifiedNamespace')'"
[Enter feedback here]
As per the documentation [here ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity#use-service-bus-with-managed-identities-for-azure-resources) it is mentioned that

`When you use a managed identity, the connection string should be in the format: Endpoint=sb://<NAMESPACE NAME>.servicebus.windows.net/;Authentication=Managed Ident

[2021-01-08 06:08] PramodValavala-MSFT commented on #68589
@Indrasen-Singh Thanks for the question! We will review and get back to you!

[2021-01-08 06:10] ram-msft commented on #68415
@kmetzger9 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-08 06:10] #68415 closed

[2021-01-08 06:16] PramodValavala-MSFT commented on #68589
@Indrasen-Singh Based on the error, the value for `Endpoint` is malformed. Could you confirm you are replacing `<NAMESPACE NAME>` with a valid service bus namespace name?

[2021-01-08 06:45] LHB6540 commented on #68586
I try toi change the 'resouceID' to '/subscriptions/b59c6b1b-7fb5-478e-b926-XXXXXXX' ，the error respone change to ' "message": "Cannot convert a primitive value to the expected type \u0027Edm.Guid\u0027. See the inner exception for more details'
it make me sure that the question is 'resouceID' , but the doc doesn't give a current example

[2021-01-08 07:00] #68537 closed

[2021-01-08 07:01] SnehaAgrawal-MSFT commented on #68537
@ivandretvic Thanks again for the feedback! The PR has been created and it merge soon.

[2021-01-08 07:02] KalyanChanumolu-MSFT commented on #68463
@arizzi12 The issue is resolved now and code samples are available for download via the portal.
Thank you again for taking the time to report this issue.

[2021-01-08 07:02] ssisjoost commented on #68579
The errors occurred when calling the rest API from within Azure Data Factory

[2021-01-08 07:16] HarithaMaddi-MSFT commented on #68582
@dw00100 - Yes, I am able to see a different view than that is in the document as below. As we do not have permissions to update images, I will move it to content author to make necessary changes.

@nabhishek - Can you please take a look and do the needful.

![image](https://user-images.githubusercontent.com/61235246/103985684-645ee780-51af-11eb-9eaf-245faa68ab78.png)

[2021-01-08 07:44] alenroki commented on #68474
I followed this tutorial to the letter once again. As it is confusiing the Prerequisites section for step 2. Create corresponding table schemas in Azure Synapse Analytics. You use Azure Data Factory to migrate/copy data in a later step.
Since I don't know how to do that nor is it explained in this article, I followed the rest to the letter.
Running the pipeline in the end produces this error:

Err

[2021-01-08 07:51] AjayKumar-MSFT commented on #68374
Just to clarify, the [same doc ](https://docs.microsoft.com/azure/app-service/troubleshoot-diagnostic-logs#add-log-messages-in-code) that you're referring to, does highlight about 'ASP.NET Core logging in Azure' under the section 'Add log messages in code'

Apologies for any frustration with this, I' have already shared your feedback with the doc author, if there is anything to emphasis on this mo

[2021-01-08 07:51] #68374 closed

[2021-01-08 08:20] jmprieur commented on #68540
@LHB6540 : this is not user_impersonation which is an exception, but the Microsoft Graph scopes:

Application.ReadWrite.All is really https://graph.microsoft.com/Application.ReadWrite.All

[2021-01-08 08:20] jmprieur commented on #68540
#please-close

[2021-01-08 08:20] #68540 closed

[2021-01-08 08:23] captainmike commented on #67685
I see the changes to the documentation has gone live. Thanks! 👍🏻

[2021-01-08 08:36] IanIsFluent commented on #68489
Correct.

Is there really no feedback as to what is wrong from any of these three methods? The closest I've got is the 'line 3, position 1' of the administrator login (which is a 6 letter word, all lowercase, no special characters) That's mad!

[2021-01-08 08:54] yoelhor commented on #68378
#please-close

[2021-01-08 08:54] #68378 closed

[2021-01-08 09:15] romankiss commented on #43468
@ahamad-MS - The issue is still there such as in the AEG domain implementation. My comment was not related to the SDK.

This issue can be duplicated posting the event to the domain event endpoint via the REST:

Payload (example from the CloudEvent spec 1.0:
[code]

response:

[code]

Thanks
Roman

[2021-01-08 09:26] MarekLani commented on #68307
@MarileeTurscak-MSFT thank you for response. I ended up implementing what I needed using custom technical profile in custom policy.

[2021-01-08 09:26] LHB6540 opened #68595 "Is there an API to get the Azure subscription info"
Related documents：
Azure API:https://docs.microsoft.com/en-us/rest/api/subscription/2018-03-01-preview/subscriptionoperations/list
Graph API:https://docs.microsoft.com/en-us/graph/api/subscription-list?view=graph-rest-1.0&tabs=http

I created a web app that use microsoft account to login，then it wil perform a series of Azure related operations on behalf of the web app user .
The doc of Azure API a

[2021-01-08 09:28] AnuragSharma-MSFT commented on #68433
@nunepalli Member database could be in same or different regions that the hub database. We can create one in East US and other one on West US as an example.

[2021-01-08 09:30] AnuragSharma-MSFT commented on #68526
@tejinderrai This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-08 09:33] lgayhardt commented on #65317
Hi @seanbecker15 thanks for bring this to our attention.
The doc update will go live soon.

WithAITracking takes in [4 parameters](https://github.com/microsoft/ApplicationInsights-JS/blob/f54eb736d77de93b5cdae1a7add65766a532994d/extensions/applicationinsights-react-js/src/withAITracking.tsx#L18)( reactPlugin, Component, ComponentName, className) first two are required and the other two are optiona

[2021-01-08 09:33] lgayhardt commented on #65317
#please-close

[2021-01-08 09:33] #65317 closed

[2021-01-08 10:02] SubhashVasarapu-MSFT commented on #68449
@dltmurphy, this has been documented separately under Azure subscription and service limits. Here is the [doc ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#application-gateway-limits)link for quick reference on limits.

We are closing this issue for now.If there are further questions regarding this matter, please reply and we will glad

[2021-01-08 10:02] #68449 closed

[2021-01-08 10:21] magnus-longva-bouvet opened #68596 "Add Service-specific schemas for Azure Container Instances"
The page says

I don't see a link to service-specific schema for Azure Container Instances. Would you mind adding it to the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf3e121-6ca8-4e35-ff35-1b6151d26a16
* Version Independent ID: 3efd2282-db7f-02e3-9a09-08187c3cfa3a
* Content: [Azure Resource Logs supported s

[2021-01-08 10:24] #65375 closed

[2021-01-08 10:41] HarithaMaddi-MSFT commented on #68474
@alenroki - Thanks for sharing details. The 2nd step needs to be taken care manually in Synapse(Create corresponding table schemas in Azure Synapse Analytics. You use Azure Data Factory to migrate/copy data in a later step.
) which can be elaborated in the document. We will work with content author to share method to create tables or to upload the scripts that can be accessed from the document. Me

[2021-01-08 10:51] HarithaMaddi-MSFT commented on #68474
@linda33wj - Can you please take a look and add necessary details for creating table scripts in synapse.

[2021-01-08 11:00] bszewczyk commented on #14765
Hi,

I have set diagnostic setting:

![image](https://user-images.githubusercontent.com/6838713/104007798-ca943c00-51a8-11eb-89d9-e761690d67d0.png)

But I can't see nothing in data factory analytics

![image](https://user-images.githubusercontent.com/6838713/104007990-1515b880-51a9-11eb-8cb0-24a3cfa6ae02.png)

[2021-01-08 11:07] moehoward opened #68598 "Sending user to wrong url link"
I believe the link in the section (below) sends the user to the wrong location.

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/developer-guidance-for-integrating-applications#suppress-user-consent

It sends the user to this link:
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app

Rather than one of these links:
https://docs.microsoft.com/

[2021-01-08 11:11] shashishailaj commented on #68588
@SLeuthold Thank you for your query. We will have this checked and update the thread.

[2021-01-08 11:15] shashishailaj commented on #68586
@LHB6540 Thank you for your query . We will investigate and update the thread.

[2021-01-08 11:18] shashishailaj commented on #68598
@moehoward Thank you for pointing that out . We will investigate and update the thread.

[2021-01-08 11:20] shashishailaj commented on #68587
@julesb2018 Thank you for your inputs . We will investigate and update the thread.

[2021-01-08 11:28] chutestrate opened #68599 "feedback"
The explanation for twins is not clear.  I'm very new to this so a much more basic and dumbed down explanation would be very helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f635b47-2f9b-b55c-6dc8-3e680bb62b92
* Version Independent ID: ee5ed6ae-b5dd-f218-21ec-b9fb5e087dbd
* Content: [Automatic device management

[2021-01-08 11:38] pabloheimplatz commented on #34967
Still the same "old" documentary on the Azure Website. This should be merged. :)

[2021-01-08 12:33] ukhan commented on #62164
@mmacy Ok

[2021-01-08 12:58] AshokPeddakotla-MSFT commented on #68599
@chutestrate Thanks for the feedback. Could you please be more specific on what details you are not clear?

There is a separate doc for twins explaining in details. If you haven't checked earlier, please check [Understand and use device twins in IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins) and [Understand and use module twins in IoT Hub](https://docs.micro

[2021-01-08 13:08] JayaC2019 commented on #68480
@older Functions on windows and Linux work differently. Those settings are not needed/ expected for Linux consumption function apps. So you can continue without those. Also, for Linux it is recommended to use the run from package instead and/or use a container

[2021-01-08 13:10] chutestrate commented on #68599
Hey thank you very much for the link. I will read what is there. I am trying to learn about azure and need it explained on a very basic level. For example, i understand it is a json file. Why is it called twins?  Is the same json file in two different places?  Not necessary to explain here but looking for that kind of information.  As a beginner i have very little background to put the explanation

[2021-01-08 13:10] JayaChatterjee-MSFT commented on #68480
@older Functions on windows and Linux work differently. Those settings are not needed/ expected for Linux consumption function apps. So you can continue without those. Also, for Linux it is recommended to use the run from package instead and/or use a container.

[2021-01-08 13:24] ubajwa-git opened #68600 "Azure storage blob documentation"
[Enter feedback here]
I have read alot of documentation on azure and other service provides but the documentation on azure storage blob is just absurd. It is all over the place. There is no structure to the documentation. Its basically someone wrote something on a topic and just decided to insert it into the documentation tree.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-01-08 13:30] QuiteNewbieButImproving opened #68601 "Error when strictly following instructions for tutorial "STEP 3 - Analyze using Apache Spark" of get started with Synapse"
After successfull actions of:
STEP 1 - Create and setup a Synapse workspace
STEP 2 - Analyze using a dedicated SQL pool

In Chapter "Load the NYC Taxi data into the Spark nyctaxi database" of "STEP 3 - Analyze using Apache Spark", action "4)", there is no instruction to run the code...
Still, running it any way, Spark table gets created but a login error occurs...: See below.
It's a pity since eve

[2021-01-08 13:57] iamalexmang opened #68602 "Scope in the NewServicePrincipal example seems incorrect"
According to the ARM template schema documentation ([https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments)), scope is a roleAssignment property, not a Properties subproperty.

Currently, the example shows a sample in the New service principal section where it seems that `sc

[2021-01-08 14:23] microbecode opened #68603 "Deprecated & incorrect info"
1. When creating a new Solidity project the Truffle migration uses truffle-hdwallet-provider. That provider has been deprecated a long time ago and instead @truffle/hdwallet-provider should be used
2. When trying to interact with the HelloBlockchain contract (via "Show contract interaction page") I get an error "the current provider doesn't support subscriptions: A". If I look at the used provider

[2021-01-08 14:36] alenroki opened #68604 "83 csv files created in stead of one"
From the tutorial it wasn't clear to me why 83 .csv files were created in my sink instead of just 1 csv file with the results.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c75ee8-d021-62fe-c7e3-53a6e729e1fc
* Version Independent ID: 7ae45fa9-cb4f-dbc5-dcb6-4a4f4c040d28
* Content: [Transform da

[2021-01-08 14:40] nunepalli commented on #68433
@AnuragSharma-MSFT
That's the clarification I was looking for.
Thanks.

[2021-01-08 14:40] #68433 closed

[2021-01-08 14:40] alenroki commented on #68474
Hi Haritha,

When I removed TRUNCATE TABLE [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}] in the Pre-Copy script and checked marked "Auto Create table" then the pipeline worked for me and I got data in Synapse. I didn't create a schema in Synapse before this. So I only did these 2 steps and the data and tables in Synapse were created just fine.

[2021-01-08 14:42] KranthiPakala-MSFT commented on #68601
@QuiteNewbieButImproving
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 14:45] inseu opened #68605 "Access review creation - please add "Additional content for reviewer email" or "Friendly description" property that appears in the "Advanced settings" section in Graph APIs"
According to this page https://docs.microsoft.com/en-us/azure/active-directory/governance/create-access-review?source=docs#feedback you can set the "Additional content for reviewer email" or "Friendly description" property that is a way to communicate additional information such as additional instructions or contact information, those kind of details to the users.
Checking the Graph API Reference

[2021-01-08 14:52] older commented on #68480
@JayaChatterjee-MSFT Yes, I realise that. The reason I suggested to change the documentation is that I actually had my function app conditionally deployed from ARM template on Windows or Linux consumption plan depending on region. And I had these 2 settings both on Linux and Windows. But my application often caused functions runtime errors when running on Linux so I opened support request with Mic

[2021-01-08 15:00] n3rdyone opened #68607 "Azure Database for MySQL server load data in local infile does not work"
https://docs.microsoft.com/en-us/azure/mysql/concepts-limits states that " LOAD DATA INFILE is supported, but the [LOCAL] parameter must be specified and directed to a UNC path (Azure storage mounted through SMB)"

I've jumped through all the hoops to mount storage through SMB in order to place the CSV file I'm trying to load into the DB and now get the error :

"Error Code: 1148. The used command

[2021-01-08 15:04] MonikaReddy-MSFT commented on #68596
@magnus-longva-bouvet -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-08 15:07] abarger-bss commented on #64609
@JamesTran-MSFT This logic is circular. The issue was opened in hopes of clarifying _why_ this behavior is by design. You've responded to the OP by saying the behavior is by design because it's by design.

[2021-01-08 15:16] daneel3001 opened #68608 "Need documentation of constants"
<choose>
    <when condition="Boolean expression | **Boolean constant**">
        <!— one or more policy statements to be applied if the above condition is true  -->
    </when>
    <when condition="Boolean expression | Boolean constant">
        <!— one or more policy statements to be applied if the above condition is true  -->
    </when>
    <otherwise>
        <!— one or more policy statements

[2021-01-08 15:26] SaurabhSharma-MSFT commented on #68604
@alenroki Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-08 15:29] mlearned commented on #68506
use commas as specified here https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create .

[2021-01-08 15:30] jftl6y opened #68609 "Document link to potentially deprecated content"
[Enter feedback here]
This document has a link to the Shared Responsibilities document at https://gallery.technet.microsoft.com/Shared-Responsibilities-81d0ff91.  TechNet Gallery is read only now and the content linked to is over a year old and has formatting issues.  Recommend changing this link to current content not hosted on a deprecated store.

---
#### Document Details

⚠ *Do not edit this s

[2021-01-08 15:32] hamzahamidi opened #68610 "Aure Cosmosdb emulator: Error using MongoDB API"
I don't know I can report a bug of Azure cosmosDB emulator. So I'm posting my issue here:
I created a collection using the emulator but when trying to retrive the collection using either MongoDB . net driver or Robot 3T, I face the following error:

	"_t" : "OKMongoResponse",
	"ok" : 0,
	"code" : 1,
	"errmsg" : "Unknown server error occurred when processing this request.",
	"$err" : "Unknown serve

[2021-01-08 15:34] hamzahamidi commented on #50339
Isn't there a solution to download older version of the emulator? The current version doesn't work well with MongoDB API.

[2021-01-08 15:36] dje-git opened #68611 "RBAC info is way out of date"
RBAC details on this pg is very old as they don't even appear to exist anymore.  What roles should we leverage?  thx

#https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-operationsocumentation issue guidance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710e46

[2021-01-08 15:37] mlearned commented on #68503
This assumes you have configured a firewall such as Azure Firewall  https://docs.microsoft.com/en-us/azure/firewall/protect-azure-kubernetes-service  , so it's only if you have that configured.

"This assumes your environment has a Firewall with the respective network, and you have added the Firewall IPs to authorized ranges."

The article can be worded a little better to clear this up.

[2021-01-08 15:42] derekschauland commented on #53829
This does not work anyhow - even when using T-SQL - If the SQL Servers are in different subscriptions, the following error shows up when running alter database db1 add secondary on server sql2:

Subscription 'id here' does not have SQL Server SQL2

It appears to be looking for the destination SQL Server in the same Azure subscription as the source - is there a way to / need to specify the target s

[2021-01-08 15:44] GiftA-MSFT commented on #68561
Hello @swieder are you getting error messages?

[2021-01-08 15:47] derekschauland opened #68612 "Cross Subscription GeoReplication using T-SQL errors on subscription"
The Cross-Subscription Geo-Replication example above (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication#cross-subscription-geo-replication) does not actually give the commands to run to set it up across subscriptions. The code above is just the simple ALTER DATABASE ADD SECONDARY ON SERVER code but doesn't show how to supply the subscription of the "Cross-Subs

[2021-01-08 15:50] seanbecker15 commented on #65317
Awesome! Glad that is being fixed!

[2021-01-08 16:06] DavidSchrag opened #68613 "Recommendations for Storage Account settings?"
In the section on "set up and deploy a general-purpose v2 Azure Storage account," it would be helpful to get advice on best practices for the parameters for a storage account intended for use with FSLogix profiles. Specifically, guidance on replication, networking, data protection, and all the options in the Advanced tab of the storage account setup pages.

---
#### Document Details

⚠ *Do not edi

[2021-01-08 16:06] empz opened #68614 "Unclear how to increase node memory limit"
[This page](url) describes the following:

But that's not a valid app setting key.
![image](https://user-images.githubusercontent.com/412489/104036552-d34e3780-51d3-11eb-9cac-ca22a910dc7d.png)

Please provide proper documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Vers

[2021-01-08 16:08] DavidSchrag opened #68615 "Blob access tier setting has been moved"
In the screenshot under Create Storage Account, the setting for Blob access tier (default) is shown at the bottom of the first tab. I believe this setting is now on the Advanced tab in the storage account setup wizard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Indepen

[2021-01-08 16:12] MonikaReddy-MSFT commented on #68506
@mlearned  - Thank you for providing your insights.
@mchudinov  - I hope @mlearned has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-08 16:12] #68506 closed

[2021-01-08 16:23] ezcodify opened #68616 "Azure Policy Example for Storage Endpoint Diagnostics?"
Can we please get an example of an Azure Policy rule for storage diagnostics for endpoints?
The deployment template is here, but I'm interested in the policy rule if logic and existenceCondition logic. [https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-diagnostic-settings#template-file-5](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-01-08 16:35] SubhashVasarapu-MSFT commented on #68314
@RonnieQuan, Appreciate your patience. Contributor role on top of your subscription should be enough to create resources until unless there are no restrictions in the role definition specially to object private DNS zone contributor role. Here is a doc for quick reference,

https://docs.microsoft.com/en-us/azure/dns/dns-protect-private-zones-recordsets#custom-roles

We are closing this issue for no

[2021-01-08 16:35] #68314 closed

[2021-01-08 16:44] KranthiPakala-MSFT commented on #14765
@bszewczyk
Thanks for reaching out. Since the original issue has been resolved and closed, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which has a better suited audience for such types of

[2021-01-08 16:48] ecfan commented on #50990
@sweeeneey Hopefully this response addresses your question, so I'll close this thread for now. If not, please contact Divya at the email that she provided.

@DixitArora-MSFT: #please-close

[2021-01-08 16:48] #50990 closed

[2021-01-08 16:49] JamesTran-MSFT commented on #68609
@jftl6y
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-08 16:56] KranthiPakala-MSFT commented on #68600
@ubajwa-git
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 16:57] KranthiPakala-MSFT commented on #68602
@iamalexmang
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 17:02] nitink08 commented on #60615
The document is still not updated and I am still getting the same error. Also, does anyone have a working example for method
` public static IFeatureManagementBuilder AddFeatureManagement(this IServiceCollection services, IConfiguration configuration);` ?

[2021-01-08 17:03] KranthiPakala-MSFT commented on #68595
@LHB6540
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the ask, it seems like generic query and not a doc feedback.

Hence, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [S

[2021-01-08 17:03] #68595 closed

[2021-01-08 17:04] nitink08 commented on #60615
Can you please provide an example of the second overload method of `AddFeatureManagement` which is using `IConfiguration`?

[2021-01-08 17:06] KranthiPakala-MSFT commented on #68610
Hi @hamzahamidi

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the feedback, it doesn't seem like a doc feedback.

Hence, we request you to please reach out in forums like Microsoft Q&A or Stackoverflow. We have our engineers and other commun

[2021-01-08 17:06] #68610 closed

[2021-01-08 17:12] shashishailaj commented on #68538
@rvm1975 As we have not received any response from you , we are closing this issue as of now . In case you still have any problem with the documentation  , please open a new issue . If it is something related to product usage or any kind of error you are facing , I would recommend you to try our forum called [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) where we have a vibra

[2021-01-08 17:12] #68538 closed

[2021-01-08 17:12] asergaz commented on #68148
@Walfa @jacqueskang @XToinho @deomaximo we have fixed the urls in https://raw.githubusercontent.com/VSChina/azureiotdevkit_tools/master/package_azureboard_index.json

Please give it a try and let us know if you see any other issues?

Thank you so much!

[2021-01-08 17:13] shashishailaj commented on #68413
@DeanGross Sure . I will check as to how best we can add the link and close this issue after that . Thank you.

[2021-01-08 17:16] AshokPeddakotla-MSFT commented on #68603
@microbecode  Thanks for the feedback! We are currently investigating and will update you shortly.
Adding author @PatAltimore as well for further insights.

[2021-01-08 17:24] AshokPeddakotla-MSFT commented on #68471
@AntZhelev Request you to share the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-01-08 17:24] JamesTran-MSFT commented on #68440
@lipalath-ms
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-01-08 17:25] JamesTran-MSFT commented on #68440
@lipalath-ms
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-01-08 17:27] swieder commented on #68561
Yes, creating a compute instance gives an error.   But there is no detail on what the error was and I can’t find any logs to see why the deployment failed in the portal and I don’t see anything documented on where to check for deployment errors.

Thanks,
Steve Wiederrich
Mobile: 214-642-9333

From: GiftA-MSFT<mailto:notifications@github.com>
Sent: Friday, January 8, 2021 9:44 AM
To: MicrosoftDocs/

[2021-01-08 17:47] SumanthMarigowda-MSFT commented on #68615
@DavidSchrag  Thanks for the question! We are investigating and will update you shortly.

[2021-01-08 17:51] Walfa commented on #68148
Hi.

I was now able to successfully install the board.

Regards, Walter

Op vr 8 jan. 2021 om 18:12 schreef António Sérgio Azevedo <
notifications@github.com>:

[2021-01-08 17:52] MarileeTurscak-MSFT commented on #68605
@inseu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-08 17:55] hpsin commented on #68583
Hey @TonyLi2013 - that sample does everything you'll need.  Do check out the walk through and setup int he Readme for that sample. It's impossible to use ROPC without the client ID, so I can assure you that the MSAL sample does as well.  It's set up within a different file, the config file.

[2021-01-08 17:58] normesta commented on #67685
Thanks for raising the issue!

#please-close

[2021-01-08 17:58] #67685 closed

[2021-01-08 18:03] barrows-biotia commented on #41969
I encountered the same issue with Azcopy 10.4.3. I was able to get around this by using:

`azcopy login --tenant-id <tenant-id>` and then trying again. I did not need to include recursive at the end of my copy command.

This may be an appropriate solution if you are a guest user within a tenant.

[2021-01-08 18:05] casocha commented on #26050
Hi @serge2112, the replacement is still in private preview. Feel free to reach out to me at casocha@microsoft.com if you want to learn more.

[2021-01-08 18:16] AntZhelev commented on #68471
https://docs.microsoft.com/en-us/azure/virtual-network/troubleshoot-outbound-smtp-connectivity

[2021-01-08 18:18] BorisKornienko commented on #68546
Yes, I'm already seen this, thank you.
Is this must create a 3.6 API?
**az cosmosdb create --name <cosmosdb-name> --resource-group myResourceGroup --kind MongoDB**
because I got version 3.2 after the run this command and, by the way, this is in the output example in the article
"
"documentEndpoint": "https://<cosmosdb-name>-westeurope.documents.azure.com
"

[2021-01-08 18:19] ChaitanyaNaykodi-MSFT commented on #68614
Hello @empz,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-08 18:20] ChaitanyaNaykodi-MSFT commented on #68608
Hello @daneel3001,
Thank you for your feedback! We will review and update as appropriate.

[2021-01-08 18:31] spelluru commented on #62867
@pmisiuda - I sincerely apologize for the late reply. Here are my responses (after consulting with PM and architect):

- Yes. I will update "Service endpoints" to "Private endpoints"
- Private endpoints is GA now
- Firewall support is GA now
- No "Forced Tunneling support" in Azure Relay. It's a VPN concept and Relay is not a VPN.

Thanks!

[2021-01-08 18:39] spelluru commented on #67711
@femsulu - Thank you. I have fixed it. Sorry for the delay.

#please-close

[2021-01-08 18:39] #67711 closed

[2021-01-08 18:44] SaiKishor-MSFT commented on #68430
@mattruma I don't see any issues with it when I try the same. Could you provide a screenshot of the error? Thanks!

[2021-01-08 18:44] PatAltimore commented on #68603
Hi @microbecode,

I'm sorry about the issue. We're working on a fix to the extension for questions 2 & 3.  See https://github.com/microsoft/vscode-azure-blockchain-ethereum/issues/57.

If you want to send a transaction without the interaction page, you can follow the steps in a previous version of the tutorial. Here's a link to the history: https://github.com/MicrosoftDocs/azure-docs/blob/faf74c90

[2021-01-08 18:51] fpfreund opened #68618 "Simple typos"
[Enter feedback here]
From 4th or 5th paragraph on page.

"**Its up to** completely up to you on how you want to use the 30 minutes of bursting."

Its -> It's
first "up to" is redundant
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dcff8-b7b3-68b3-2364-dffa15b28356
* Version Independent ID: 6401288f-c695-2d25-1198-0

[2021-01-08 18:51] natmorse commented on #52309
I am facing the same issue.

Even when I interpolate to have definite timesteps (every 1 second), and define my frequency to freq='S' I still have the problem.

First, I interpolate:
`df_1s = dataset.groupby('device')['value'].resample('1S', 'mean').interpolate().reset_index(level=0)`

Then I create the automl_config:

`automl_config = AutoMLConfig(task='forecasting',

[2021-01-08 18:51] mmacy commented on #68571
@jmprieur @jennyf19 Thoughts best **Next step** here?

[2021-01-08 19:04] kobulloc-MSFT commented on #68499
@ScottyMac52 I went through the documentation and I don't seem to be seeing what you ran into.  What in particular isn't working for you?

![image](https://user-images.githubusercontent.com/37556655/104053689-8d2bb080-51a0-11eb-89bb-8a3be5bdc242.png)

![image](https://user-images.githubusercontent.com/37556655/104053979-0e834300-51a1-11eb-86f3-38935ebdab3b.png)

[2021-01-08 19:05] XToinho commented on #68148
@asergaz everything is working fine now! Obrigado! 😄

[2021-01-08 19:09] deomaximo commented on #68148
It's working! Thank for getting this fixed!! @asergaz

[2021-01-08 19:16] amenarde commented on #68014
A secured cluster means secure node-to-node transport through our Transport layer is secured, and then client-server relationships with SF are secure. My understanding however is that the RPC stack is not built on Transport (or specifically the same instance of Transport), hence the redundancy. Let me add someone to confirm.

[2021-01-08 19:23] Rshep3087 commented on #65988
Any update on this? Running Command in PowerShell.
![image](https://user-images.githubusercontent.com/19920342/104055507-c3b6fa80-51a3-11eb-9199-f28da7df745c.png)
Direct copy from: https://docs.microsoft.com/en-us/azure/key-vault/general/howto-logging?WT.mc_id=Portal-Microsoft_Azure_KeyVault#enable-logging-using-azure-powershell

[2021-01-08 19:35] isc-mcozine opened #68619 "Identity Platform returns id tokens but not openid scope"
I have a client that is requesting the scopes "https://outlook.office.com/POP.AccessAsUser.All https://outlook.office.com/SMTP.Send openid" from the identity platform. The server responds with the scopes "https://outlook.office.com/POP.AccessAsUser.All https://outlook.office.com/SMTP.Send", but not "openid". However, it still returns an id token. By returning an id token, the server implies that t

[2021-01-08 19:36] swanderz commented on #52309
@natmorse what version of the sdk are you on? can you try `pip list | grep "azureml"` and report the results here?

[2021-01-08 19:41] JayaChatterjee-MSFT commented on #68480
Hello @older, in this document https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#linux - it is mentioned that these two settings are required only for the windows. Does that help?

[2021-01-08 19:48] Roblarson opened #68620 "Dealing with Cross region where both regions do not support Availability Zones"
[Enter feedback here]

Need to add information about how to deal with VMs configured for Zones in one paired region where the Azure paired region does not support Zones yet.  Will that cause an issue? Explain what happens.

For example US East VMs configured for Availability Zones to US West that does not have Availability zones yet.

This is a common issue for paired regions.

---
#### Document D

[2021-01-08 19:51] natmorse commented on #52309
@swanderz azureml-sdk 1.18.0

azureml-accel-models                  1.18.0
azureml-automl-core                   1.18.0
azureml-automl-runtime                1.18.0
azureml-cli-common                    1.18.0
azureml-contrib-dataset               1.18.0
azureml-contrib-fairness              1.18.0
azureml-contrib-gbdt                  1.18.0
azureml-contrib-interpret             1.18.0
azureml-co

[2021-01-08 20:05] jdelatorred opened #68621 "Azure Data Factory Alter Row Behavior"
I am using Alter Row for UPSERT rows in SINK destination, it works like a charm, but I have a doubt about
how this operation is executed, It applies for all Rows that meet the condition the Upsert? in my case true(), or it evaluate previously which row are different and applies the changes just to that rows?, I'm thinking in time and resources comsuption on Azure.

thanks.

Jorge De La Torre D

--

[2021-01-08 20:32] femsulu commented on #68616
hello @ezcodify
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-01-08 20:50] sndipsrma opened #68624 "Env.Help() returns incorrect method name"
In CSharp's, Env.Help() returns method names in camel case like  like 'getUserName()' but correct method name is 'GetUserName()'. This is true for all the method names return by Env.Help().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f7baad-e28d-8e25-2852-b58499cdca8c
* Version Independent ID: d88f15f9-7218-3ce2-3

[2021-01-08 21:09] jude-chen opened #68626 "Missing one more metrics category for storage account."
There is one metric category missing in the storage account diagnostic setting ARM template.

"category": "Capacity",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0e-6f10-6985-c719-05fe43fc00b8
* Content: [Resource Manager template samples for diagn

[2021-01-08 21:17] MarileeTurscak-MSFT commented on #68619
@isc-mcozine
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-08 21:25] BharathNimmala-MSFT commented on #68626
@jude-chen Thanks a lot for bringing this to our notice, we will review the feedback and update the document accordingly.

[2021-01-08 21:28] MarileeTurscak-MSFT commented on #68611
@dje-git
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-08 21:34] seancunningham commented on #25991
It has been over a year now on this and the problem seems to persist. Are there any updates on fixing this functionality?

[2021-01-08 21:37] #68554 closed

[2021-01-08 21:41] MarileeTurscak-MSFT commented on #68562
The opposite is not supported.

"National clouds are physically isolated instances of Azure. B2B collaboration is not supported across national cloud boundaries. For example, if your Azure tenant is in the public, global cloud, you can't invite a user whose account is in a national cloud. "

"Within the Azure US Government cloud, B2B collaboration is supported between tenants that are **both** wit