[2019-09-05 16:40] michaeldaw opened #38378 "Is the "id" field an "automatic" unique key?"
If I create a container without a unique key policy and add a document to it using the Data Explorer in the portal, an "id" field is added to the document with a new GUID as it's value if an "id" field is not already specified in the document. Does this mean that "id" is automatically used as a unique field (as was the case before the introduction of the Unique Key feature) without having to expli

[2019-09-05 16:42] JasonFreeberg commented on #38101
@msangapu-msft -- Fixed it, details are in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/87538

:shipit:

[2019-09-05 16:43] OffColour commented on #36918
@IanMercer Headers are being omitted. ignore_invalid_headers is enabled.

[2019-09-05 16:43] TomHickling commented on #32886
Go to the VM in the Portal and deallocate it , click on the Disk, then Disk Export, follow the instructions to create a SAS and then you can download the VHD. Might be worthwhile deploying Hyper-V in Azure to save some time in the download and resulting upload process.

[2019-09-05 16:44] JasonFreeberg commented on #38101
@binnisays -- Sorry for the inconvenience! The doc will be updated soon with clearer instructions.

[2019-09-05 16:54] FrankHu-MSFT commented on #38352
@lightupdifire Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 16:54] FrankHu-MSFT commented on #38356
@jonimattila Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 16:54] FrankHu-MSFT commented on #38377
@mahoekst Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 17:07] poortom1004 opened #38379 "AAD Role permisions"
What permissions are required to configure the policies in AAD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a425eb90-e161-54c9-3ba8-351ce93296f6
* Version Independent ID: 61ac46d0-cf72-2139-f11a-dd6319b51ff5
* Content: [How to ban weak passwords in Azure AD - Azure Active Directory](https://docs.microsoft.com/en-us/

[2019-09-05 17:08] poortom1004 opened #38380 "Required AAD Role"
What permissions are required to configure the policies in AAD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799247b7-b3f3-807f-2183-1775f47500f9
* Version Independent ID: 8c242698-eaa1-4132-497f-e6ac336e94f6
* Content: [Azure AD Password Protection operations and reporting - Azure Active Directory](https://docs.micr

[2019-09-05 17:15] SnehaAgrawal-MSFT commented on #36175
@Mitaric If you are still facing the issue then Request you to send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2019-09-05 17:18] poortom1004 opened #38381 "doc formatting"
Should the Set-AzureADPasswordProtectionProxyConfiguration and Get-AzureADPasswordProtectionProxyConfiguration cmdlets called out in this doc have the same light gray box formatting as the other commands/cmdlets in this doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version I

[2019-09-05 17:19] johnwildes opened #38382 "Deploy with ARM Template"
Is it possible to deploy this with an ARM template, and not through az cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentials](https://docs.microsoft.

[2019-09-05 17:28] pvrk commented on #33223
Reminding once more.
@SwathiDhanwada-MSFT : can you please change the labels to indicate that this is a feature request and not a doc-enhancement request? Please look at my comments above.

[2019-09-05 17:32] rwike77 commented on #38050
@kmathgir, as @hpsin said PKCE is supported.  I'm closing this issue for now, feel free to respond or reopen if you have more to add. Thanks.  #please-close

[2019-09-05 17:32] #38050 closed

[2019-09-05 17:34] Mike-Ubezzi-MSFT commented on #38378
@michaeldaw Thank you for your inquiry. Please take a look at the following documentation with regard to Database, Container, and Item level properties...specifically [properties of an item](https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#properties-of-an-item).

![Screenshot (212)](https://user-images.githubusercontent.com/37126106/64365343-bcd51200-cfc8-11e9-9fb7-10b3

[2019-09-05 17:36] spelluru commented on #37965
#in-progress

[2019-09-05 17:37] rocketraman opened #38383 "Virtual Network Gateway + VNET + Azure Provided (Default) DNS"
This page needs some discussion of the Virtual Network Gateway + VNET configured with Azure-provided DNS (which is the default).

In this situation, the DNS server is the virtual IP 168.63.129.16. This IP is only accessible for name resolution inside a VNET, and this IP is not exposed as a routable IP for the VPN clients (neither site-to-site nor point-to-site). In this configuration, using a cust

[2019-09-05 17:37] MicahMcKittrick-MSFT commented on #38382
@johnwildes yes this should be possible. Similar to #28286 where they asked if you could do it via PowerShell. Since this feature is in Preview we are only documenting CLI at the moment. Once the feature moves into GA we will document other methods such as PowerShell, JSON, REST, etc.

So all in all you can give it a go but I don't have any official documentation or steps to share on how to accomp

[2019-09-05 17:37] SaurabhSharma-MSFT commented on #38258
@Cepheus0815 Thanks for your feedback.. If you want you can do the pull request to submit your changes to author for approval.  Please let me know if you are able to do that else I will submit a pull request with the changes.

[2019-09-05 17:38] miagdp commented on #38343
@dominicbetts

[2019-09-05 17:39] MicahMcKittrick-MSFT commented on #38373
@eanyanwu thanks for reaching out.

@srrengar can you confirm if the note still applies?

[2019-09-05 17:40] MicahMcKittrick-MSFT commented on #38367
@festivus thanks for pointing this out!

@dkkapur @peterpogorski can you provide a full list of supported OS versions? I can update the doc accordingly. Just want to make sure we get them all covered.

[2019-09-05 17:41] FrankHu-MSFT commented on #38178
Hey @DeanGross  i'm following up on this issue, can you please reply in regards to the last post? Thanks!

[2019-09-05 17:42] spelluru commented on #37652
@@Banisadr - could you please look into it? Thanks!

[2019-09-05 17:43] MicahMcKittrick-MSFT commented on #38361
@harshavemuluru-gep I don't have any examples of the same code snippets using Python. You would have to update the code for python yourself using the Python SDK

https://docs.microsoft.com/en-us/python/api/azure-batch/azure.batch?view=azure-python

We do have some tutorials using Python but not everything across the board.

https://docs.microsoft.com/en-us/python/api/azure-batch/azure.batch?view=a

[2019-09-05 17:46] NavtejSaini-MSFT commented on #38197
@ajlam Thanks Andrea for the response.
@sorcia25 Please check the response from our SME. We have checked that it is working. We are going ahead and closing this thread.

[2019-09-05 17:46] #38197 closed

[2019-09-05 17:46] Mike-Ubezzi-MSFT commented on #38278
We will now proceed to close this thread as the changes are now live. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-05 17:46] #38278 closed

[2019-09-05 17:47] MicahMcKittrick-MSFT commented on #38367
@festivus I submitted a PR with a fix. Once the PR merges the changes will go live after a few hours.

In the meantime, check out the following:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-operating-systems

[2019-09-05 17:47] #38367 closed

[2019-09-05 17:50] SubhashVasarapu-MSFT commented on #37963
@dcallagh, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-05 17:50] #37963 closed

[2019-09-05 17:51] SubhashVasarapu-MSFT commented on #38383
@rocketraman, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-05 17:51] porrascarlos802018 opened #38386 "Virtual nodes , ACI inventory not available in log analitics"
website  https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-portal#known-limitations
doesn't explain to users data about inventory related to virtual node or ACI wont be available in log analytics.
when queried log analytics just can see the "physical nodes" but not the Virtual nodes, and cannot retrieve information from the ACIs inventory internally.

---
#### Document Details

⚠ *Do not ed

[2019-09-05 17:55] MicahMcKittrick-MSFT commented on #38357
@dzoech thanks for the feedback!

@athinanthny can you confirm or deny on this one? I am happy to update the doc as needed.

[2019-09-05 17:56] MicahMcKittrick-MSFT commented on #38294
@gkgaurav31 I will go ahead and close this out. If you are still having issues, please open a comment directly on the document you are following so we can better assist.

[2019-09-05 17:56] #38294 closed

[2019-09-05 17:56] MicahMcKittrick-MSFT commented on #38307
ah thanks @hansenms

@AhsanSAlam I will close this out but if you still need more information let us know and we can always reopen and continue the discussion.

[2019-09-05 17:56] #38307 closed

[2019-09-05 17:56] SyntaxC4 commented on #25810
#reassign:cephalin

[2019-09-05 17:57] rootsmusic opened #38387 "instructions to create a single database"
Although the [article title](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started?tabs=azure-portal#create-a-single-database) doesn't specify AdventureWorksLT, AdventureWorksLT is what's created by its instruction.  If this article is dedicated to AdventureWorksLT, then please add another article that instructs how to create other databases.  Thanks.

[2019-09-05 17:59] #38387 closed

[2019-09-05 17:59] rootsmusic opened #38388 "clarify section header in Quickstart article"
Although the [article title](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started?tabs=azure-portal#create-a-single-database) doesn't specify AdventureWorksLT, AdventureWorksLT is what's created by its instruction.  If this article is dedicated to AdventureWorksLT, then please add another article that instructs how to create other databases.  Thanks.

---
##

[2019-09-05 17:59] rwike77 commented on #37242
@Tiberriver256 Thanks for bringing this up.  The v2 version of this article has this info, but unfortunately the v1 article didn't.  I've updated the article, changes should publish live later today.  Sorry for the inconvenience it caused you.  #please-close

[2019-09-05 17:59] #37242 closed

[2019-09-05 18:00] Greggomatic commented on #38342
I am able to run these commands fine and receive a token.  When I connect to my service/db... I get a token back from AD but then get the ANONYMOUS error message?

Here is code I am using that enables me to get the token...

               var clientId = "mykey";
                var clientSecret = "mysecret";

                var authContext = new AuthenticationContext(string.Format("https://login

[2019-09-05 18:03] MarileeTurscak-MSFT commented on #38381
@poortom1004
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 18:04] MicahMcKittrick-MSFT commented on #38309
@PatMyron not every region in Azure supports Availability Zones as of yet. Only the ones listed in this document

- Central US
- East US
- East US 2
- West US 2
- France Central
- North Europe
- UK South
- West Europe
- Japan East
- Southeast Asia

At this point in time, the regions that do support Availability zones each have 3 zones. However we call out that as a minimum because as we move forwa

[2019-09-05 18:04] #38309 closed

[2019-09-05 18:04] MarileeTurscak-MSFT commented on #38379
@poortom1004
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 18:04] #38368 closed

[2019-09-05 18:05] MarileeTurscak-MSFT commented on #38380
@poortom1004
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-05 18:07] MarileeTurscak-MSFT commented on #38076
@Canis-Lupis thanks for the feedback. About how long did it take? Had you tried clearing the cache?

[2019-09-05 18:10] tesych commented on #38237
@joyceywho, thank you for your feedback! The document is updated and hopefully will make more sense now.

[2019-09-05 18:11] MarileeTurscak-MSFT commented on #38381
Thanks for catching this @poortom1004 !

I made a pull request to fix the formatting. https://github.com/MicrosoftDocs/azure-docs-pr/pull/87554

In the future if you are interested and want to receive credit, you can make your own pull requests for small fixes like this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/87554

Closing this out.

[2019-09-05 18:11] #38381 closed

[2019-09-05 18:16] KrishnaG-MSFT commented on #37399
@ananthradhakrishnan Thanks for the update. Unfortunately I am not able to see any change (with the required information) in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-managing-alert-instances?view=azure-dotnet) / [this](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#azure-monitor-limits) document. So can you please share related PR detail

[2019-09-05 18:18] rwike77 commented on #38172
@prashantkarkera  I believe that conditional access will be used to configure lifetimes for refresh tokens, only.  Session tokens (and the max age property) will continue to be configured using Configurable Token Lifetime policy.  @hpsin, could you please confirm?  Thanks

[2019-09-05 18:20] cherylmc commented on #25821
I'll put it in as a doc request and work with the PM to see if this is possible. Thanks for the suggestion!

[2019-09-05 18:21] mikebudzynski commented on #38331
We don't support SAML. You can use your own custom authorization service and reach out to it on runtime with the `send-request` policy: https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#SendRequest

#please-close

[2019-09-05 18:21] #38331 closed

[2019-09-05 18:26] Canis-Lupis commented on #38076
Sorry, I didn't keep track.  Over 15 mins. at least.  Did not clear the cache.
________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Thursday, September 5, 2019 1:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWulf.dog>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does n

[2019-09-05 18:27] DeanGross commented on #38178
<img width="567" alt="GrantControls" src="https://user-images.githubusercontent.com/4058555/64368947-501e3f80-cfe9-11e9-931b-b2c02c8ea45a.png">

[2019-09-05 18:28] arduppal commented on #38303
@njbuch- What method or method properties are you looking for which is not supported by 2017-04-17 for your scenario ? Please provide justification and we can evaluate.

[2019-09-05 18:30] Altern1ty opened #38389 "Is there a way to manage configData completely via ARM template?"
If you're using ARM templates for your entire IaC you can generate dsc configurations but you can only pass in limited configData via the parameters with a hashtable. Sticking a large hashtable for each dsc role in the .json file is not practical. It would be great if there is way to call a psd1 as a hashtable in the parameters of a compilationjob. The only suggestion on this page lists datum whic

[2019-09-05 18:32] michaeldaw commented on #38378
@Mike-Ubezzi-MSFT I had looked for documentation, but didn't see the information in your response. This clears up my question perfectly. Thank you for you response.

[2019-09-05 18:33] #38378 closed

[2019-09-05 18:34] rbrundritt commented on #38167
A critical part of the service that you create is including your secret token. We can't expose our service and make it reusable as there would not be a secure way to get your secret into it. Also, a lot of companies add a lot of custom logic to their service and often run the service in the same domain as their application.

Good feedback on the authentication documentation for Azure AD, we will p

[2019-09-05 18:36] RyanHill-MSFT commented on #38192
@JoeBrockhaus, once you've configured your app service for [pipelines](https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment#option-2-use-azure-pipelines), sign into your https://dev.azure.com account and add your private feed to your artifacts. It should then be selectable from your nuget restore command.

 ![alt text](https://wtv3.blob.core.windows.net/media/2019-09-05-

[2019-09-05 18:39] walsehgal commented on #38167
Like Ricky mentioned this is the same code we are using in our Azure function:

[code]

[2019-09-05 18:42] markingmyname commented on #18211
We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2019-09-05 18:42] #18211 closed

[2019-09-05 18:43] arduppal commented on #38319
@RudyEvers:- Can you please share the logs with us ?

[2019-09-05 18:44] christianwade commented on #6226
You can use TOM ( https://docs.microsoft.com/en-us/bi-reference/tom/introduction-to-the-tabular-object-model-tom-in-analysis-services-amo )

or TMSL (https://docs.microsoft.com/en-us/bi-reference/tmsl/tabular-model-scripting-language-tmsl-reference )

If you script out the model in SSMS you can see the properties you need to set.

If a provider data source you can set the connection string (https:

[2019-09-05 18:45] lei0706w commented on #35466
The silenced channel needs to be set as the last channel. Someone will answers your last question later.

[2019-09-05 18:45] markingmyname commented on #18705
@hgrandy94

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladl

[2019-09-05 18:45] #18705 closed

[2019-09-05 18:47] markingmyname commented on #20318
@CasperJ

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2019-09-05 18:47] #20318 closed

[2019-09-05 18:48] markingmyname commented on #21041
#please-close

[2019-09-05 18:48] #21041 closed

[2019-09-05 18:49] markingmyname commented on #21203
<@github user>

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will g

[2019-09-05 18:49] #21203 closed

[2019-09-05 18:52] Grace-MacJones-MSFT commented on #38313
Hello @psallis,  the product team plans to support Global peering for Regional VNet Integration in the future. However, there is no ETA to share at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 18:52] #38313 closed

[2019-09-05 18:55] MicahMcKittrick-MSFT commented on #38387
@rootsmusic thanks for reaching out. If you still have issues just let us know and we can reopen and continue the discussion.

[2019-09-05 18:56] markingmyname commented on #21586
@don4of4

Please reference section [Aggregating outputs](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-for-each-activity#aggregating-outputs) in the article.  As the article was updated.

#please-close

[2019-09-05 18:56] #21586 closed

[2019-09-05 18:57] hpsin commented on #38172
Forwarded thread internally to the owner for lifetimes, thanks Ryan.

[2019-09-05 18:57] MicahMcKittrick-MSFT commented on #38386
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 18:58] MarileeTurscak-MSFT commented on #38076
@Canis-Lupis thank you for reporting this! I made a pull request for review by @msaburnley
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87562

I am also testing in my own environment and am bringing this to the attention of the product team.

Closing this out since we have updated the document but I'll leave updates in the comments when the product team provides them.

[2019-09-05 18:58] #38076 closed

[2019-09-05 18:58] Grace-MacJones-MSFT commented on #38021
Hi @drdamour,  you can use IP restrictions configuration for the particular slots in Azure portal. As the docs states IP restrictions settings are not swapped configuration. So each slot can have own set of IP configurations. Think of each slots as its own app and follow the directions on the doc for Adding and editing Access Restriction rules.

We will now proceed to close this thread. If there a

[2019-09-05 18:58] #38021 closed

[2019-09-05 19:04] johnwildes commented on #38382
Thanks Micah, also not seeing it in the documentation, so I'm assuming I can't assign a GROUP to this role Virtual Machine (Administrator / User) Login correct?  i have to assign users only?

[2019-09-05 19:05] markingmyname commented on #23115
@RobertK73

We sincerely apologize for the delayed response to this issue.

Due to the age of this issue, we will continue to close this issue.

To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/270578-data-factory) site.

Thank you.

@djpmsft for awareness

#please-close

[2019-09-05 19:05] #23115 closed

[2019-09-05 19:06] MicahMcKittrick-MSFT commented on #38382
@johnwildes yes that is correct. You have to assign users only. I believe groups is something that is being worked on but not functional in the preview state.

[2019-09-05 19:12] Adam-Smith-MSFT commented on #38269
@thedavegray correct, They will be marked for soft deletion, let me know if you have any other questions.

thanks,
Adam

[2019-09-05 19:12] drdamour commented on #38021
@Grace-MacJones-MSFT does every slot get a static ip?

[2019-09-05 19:12] djpmsft commented on #22581
@phonglnk

Sorry for the delay! You should be able to deploy an Azure Function activity via Powershell. If this is still not working feel free to reopen this issue.

Thanks,
Daniel

#please-close

[2019-09-05 19:12] #22581 closed

[2019-09-05 19:12] markingmyname commented on #25447
Thank you for the feedback, @KoenVerbeeck.

We'll add a doc item to add this.

Thank you.

#please-close

[2019-09-05 19:12] #25447 closed

[2019-09-05 19:14] RudyEvers commented on #38319
Which logs are you referring to? @arduppal

[2019-09-05 19:16] markingmyname commented on #25965
@nhoomtham

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladl

[2019-09-05 19:16] #25965 closed

[2019-09-05 19:19] anavinahar commented on #37302
#sign-off

@KumudD FYI

[2019-09-05 19:19] markingmyname commented on #26203
@juchom

Does @MarkAtAgilliance's solution work for you?

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

Please let us know.

Thank you.

@djpmsft for awareness

#please-close

[2019-09-05 19:19] #26203 closed

[2019-09-05 19:22] gnerd commented on #38103
Thanks, its probably a really useful article IMHO – just needs to be refreshed..hopefully its being replaced instead of just dropped.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Brian Wren <notifications@github.com>
Sent: Thursday, September 5, 2019 10:27:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc

[2019-09-05 19:25] AhsanSAlam commented on #38307
Sounds good. Thanks for your help

[2019-09-05 19:27] qianw211 commented on #37862
#please-close we're tracking this:  the d365 articles in the cpp are to be deprecated soon, as we are in the final stages of moving all dynamics offers to Partner Center.  Thanks!

[2019-09-05 19:27] #37862 closed

[2019-09-05 19:30] markingmyname commented on #28748
@tomwwagstaff-product

We sincerely apologize for the delayed response to this issue. I am working in collaboration with the owners of the GitHub Issues related to Data Factory to help either get them resolved or to determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We

[2019-09-05 19:30] #28748 closed

[2019-09-05 19:35] markingmyname commented on #29840
@shannonjkbmgf

Did @MartinJaffer-MSFT's response solve your issue?

If this is still a concern for you, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

@djpmsft for awareness

Thank you.

#please-close

[2019-09-05 19:35] #29840 closed

[2019-09-05 19:35] djpmsft commented on #27481
Hi there,

Sorry for the delay in response! The header response is now available via @activity("").output.ADFWebActivityResponseHeaders. We will update the docs accordingly.

Thanks,
Daniel

#please-close

[2019-09-05 19:35] #27481 closed

[2019-09-05 19:37] arduppal commented on #38319
@RudyEvers container logs when the issue occurs.

https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#check-container-logs-for-issues
Example: iotedge logs <blob storage module name>

[2019-09-05 19:37] markingmyname commented on #30070
Thank you, @paramrsingh, for your comment.

We will investigate this and add a doc item to try and simplify the article.

Thank you.

@djpmsft for awareness.

#please-close

[2019-09-05 19:37] #30070 closed

[2019-09-05 19:39] sudhirap commented on #38319
@RudyEvers Can you also check if the VM IP is pingable from the machine running Storage Explorer?

[2019-09-05 19:45] markingmyname commented on #30531
@sidk25

This is by design.

You need to have a post-deployment script to delete resources that have been renamed.  See https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-prepostdeployment-script for more details.

@djpmsft for awareness

#please-close

[2019-09-05 19:45] #30531 closed

[2019-09-05 19:45] craigshoemaker commented on #38164
@mfalkvidd, @DixitArora-MSFT Just a heads-up that I have a draft of this article currently in review by the Product Team that removes the Cosmos DB references as well as many other updates. Once we finish the final review the new version will go live soon after.

[2019-09-05 19:47] markingmyname commented on #32374
#please-close

[2019-09-05 19:47] #32374 closed

[2019-09-05 19:50] markingmyname commented on #32821
#reassign:djpmsft

[2019-09-05 19:51] ascott18 opened #38391 "ARMClient is not necessary"
`Get-LogicAppTemplate` can be used by passing in a Token directly; this token can be obtained from the Azure CLI:

`Get-LogicAppTemplate  -Token (az account get-access-token | ConvertFrom-Json).accessToken -LogicApp <logic-app-name> -ResourceGroup <Azure-resource-group-name> -SubscriptionId $SubscriptionId -Verbose | Out-File C:\template.json`

---
#### Document Details

⚠ *Do not edit this sectio

[2019-09-05 19:54] markingmyname commented on #35453
#please-close

[2019-09-05 19:54] #35453 closed

[2019-09-05 19:58] JeffMill opened #38392 "References to C#?"
"Program.cs".  Likely copy pasta.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b054359-33aa-0264-4847-88f41a48587b
* Version Independent ID: f765a1ae-3fe5-074b-f627-765beba6d35c
* Content: [Get started with Azure IoT Hub module identity and module twin (C)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-c-c-

[2019-09-05 20:05] laurenhughes commented on #37940
@vit100, thanks for submitting the issue! I updated the page to reflect the current folder structure (some other directories were missing too).

#please-close

[2019-09-05 20:05] #37940 closed

[2019-09-05 20:08] NavtejSaini-MSFT commented on #38363
@mohakevin As you know back up retention policy cannot be changed right now with Azure CLI. Please do put your idea at our user voice
https://feedback.azure.com/forums/217321-sql-database
or up vote the already added user voice topic:
https://feedback.azure.com/forums/217321-sql-database/suggestions/38453494-support-update-of-backup-retention-days-via-the-az

Product team always look at these idea

[2019-09-05 20:09] djpmsft commented on #29671
Hi all,

Azure Data Factory is certified accessible by Microsoft Accessibility Standards (MAS). The product goes through intense testing to verify that it is accessible through keyboard control, screen reader support and usable in high contrast mode, among others.

Apologies for the delay in response and the lack of elaboration on documentation. We have created a doc item to improve this.

Thanks,

[2019-09-05 20:09] #29671 closed

[2019-09-05 20:10] NavtejSaini-MSFT commented on #38345
@olofhellman Please check the following link where you can see and other details of Azure AD account, Adding the screen shot of the Azure SQL DB property page which is also given in the below link.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins#unrestricted-administrative-accounts
![DBadmin](https://user-images.githubusercontent.com/52257742/64377045-a5f9e400-cff7-1

[2019-09-05 20:10] shashishailaj commented on #38109
@rishtech As per the details provided by you it seems your device authentication request is failing with ADFS for windows 10 versions earlier than 1803 . AS far as device registration is concerned , the difference between windows 10 older versions and 1803 or later is that by default all windows 10 versions try federated join in a hybrid setup . In case the dsregcmd output shows
[Fallback to Sync-

[2019-09-05 20:10] #38109 closed

[2019-09-05 20:14] Mike-Ubezzi-MSFT commented on #38146
@karthiksubramanians Do you have any additional questions, and did this information help you? Additionally, the [REST](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-global-distribution-sql-api#rest) reference needs to have the `{databaseaccount}` portion updated with your specific account name. If you are replacing `{databaseaccount}` and still receiving an error, can you please be mor

[2019-09-05 20:14] MicrosoftGuyJFlo commented on #38048
Email sent to product group for feedback on issue.

[2019-09-05 20:15] shashishailaj commented on #38048
@Erikcperkins WE are trying to get more details from Product group on this as we do not have a clear answer as to what is the attribute that whoami checks on the basis of which it provides the user details.

[2019-09-05 20:17] Blackmist commented on #37080
Hi @IvoMerchiers , just to follow up on this, the way to set the nodes used for training is to set the node_count parameter on the runconfig object. For the examples in this document, it would be:

[code]
I've updated the document to add a note about this. The update should go live tonight. Thanks again for reporting this!

[2019-09-05 20:20] MicrosoftGuyJFlo commented on #38380
@poortom1004 this currently requires Global Administrator as you are changing a global directory security setting.

[2019-09-05 20:34] RavennMSFT commented on #38048
This a known gap, that we're reviewing. Even though you have migrated the user from AD to Azure AD, the onprem SamAccountName is still intact on the user object, among other on-prem AD attributes. As a result, Azure AD picks those details and shows domain/user instead of AzureAD/user. This attribute cannot be modified or cleared through APIs at this point, so there's no way to change the behavior

[2019-09-05 20:35] MicrosoftGuyJFlo commented on #38380
#please-close

[2019-09-05 20:35] #38380 closed

[2019-09-05 20:36] ryandkyle opened #38393 "Typo"
Look for "Combine resources inAzure Resource Groups". Should be "Combine resources in Azure Resource Groups"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa18ce13-11c1-3598-0e60-89197b598828
* Version Independent ID: 9057d9c2-2758-2c9a-f612-de8778b20b6d
* Content: [Continuous monitoring with Azure Monitor](https://do

[2019-09-05 20:37] MicrosoftGuyJFlo commented on #38230
#please-close

[2019-09-05 20:41] mohakevin commented on #38363
Done.
Thank you for the direct link.
Like i try to said, it would be great to be able to change the PITR retention from Azure CLI.

Kind reards,

[2019-09-05 20:42] RudyEvers commented on #38319
@arduppal
I've looked up the blob container log on the edge vm and got the following info. I really have no idea what this means

[2019-09-04 21:51:38.182] [backend] [info] [Tid:1] [MetaStore.cc:95] [Initialize] Initialize MetaStore. Status:Invalid argument: You have to open all column families. Column families not opened: Container_cf
[2019-09-04 21:51:38.259] [backend] [info] [Tid:1] Info: Hook

[2019-09-05 20:43] femsulu commented on #38389
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-05 20:50] femsulu commented on #38375
thanks for the feedback.
@snehithm - can you confirm if this documentation still accurate?

[2019-09-05 20:51] femsulu commented on #38371
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-05 20:53] poortom1004 commented on #38380
I didn't see this documented in the article.  Are you sure that users with Security Administrator role cannot configure this too?  Do you think it would be worthwhile to include in the doc?  Other docs state roles capable of performing the specific actions.

[2019-09-05 20:54] NickDrouin opened #38395 "subjectBeginsWith filter for blobs should have a leading slash"
This:
"subjectBeginsWith": "blobServices/default/containers/mycontainer/log",

Should be:
"subjectBeginsWith": "/blobServices/default/containers/mycontainer/log",

With a leading "/".

Ref: https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e25d3

[2019-09-05 20:59] VNJoe commented on #38230
Why is this closed? Because I still have RIsky Users, so, hey, instead of commenting and closing out in 18 second, maybe provide opportunities for the people to respond with screenshots showing Risky Users enabled on their Azure AD even though they don't have Premium?

![RiskyUsersList](https://user-images.githubusercontent.com/49563744/64380128-608ce500-cffe-11e9-917c-6cc5075aef97.png)

So nothin

[2019-09-05 20:59] ghogen commented on #38099
.NET Core 3 is still in preview and has not yet been tested with this scenario. This topic will be updated appropriately for .NET Core 3.0 sometime soon.

[2019-09-05 21:00] Canis-Lupis commented on #38076
Thanks for our help, Marilee!
________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Thursday, September 5, 2019 1:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWulf.dog>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does not work with office.com (#38076)

@Canis-Lupis<ht

[2019-09-05 21:04] karthiksubramanians commented on #38146
Apologies for the late reply..

I was able to find the locations in v2 of SDK with the following code.

[code]

While this answers my primary question, the REST API part from the documentation is still not working.

For  _https://{{DocumentDBHost}}/dbs_ with appropriate value filled in, I am getting the proper response with the databases metadata.

But for _https://{{DocumentDBHost}}_ ,  it is giv

[2019-09-05 21:06] FrankHu-MSFT commented on #38178
Hey @deangross thanks for that, there is in fact a pre-req section in our azure doc. This can be found here : https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-use-azure-monitor-workbooks#prerequisites

**Prerequisites**
To use Monitor workbooks, you need:
1. An Active Directory tenant with a premium (P1 or P2) license. Learn how to get a premium license.
2. A Log An

[2019-09-05 21:07] VNJoe commented on #38230
@PRMerger15 This issue is not resolved.  I request you review and reopen it. @MicrosoftGuyJFlo I recommend you look in more detail at my images.  You can clearly see in the original window that Risky Users is in the shot, so saying I don't have it enabled in my directory is not helpful to me.  I cannot get into it to disable it, it was just applied to my tenant automatically somewhere and I'm tryi

[2019-09-05 21:07] johngodel commented on #38243
![image](https://user-images.githubusercontent.com/42683896/64380746-7e4e5000-cfe6-11e9-891b-454068bb1003.png)

[2019-09-05 21:08] olofhellman commented on #38345
@NavtejSaini-MSFT Yes, this is exactly where I went to look to try to create or set the administrator, but where Active Directory Admin is listed (in the pic you shared -- it says "Not Configured"), mine just says "ADMIN", and it is not editable.  "ADMIN" is not user in my Active Directory.  There is no indication of how to set the AD Admin.

[2019-09-05 21:10] johngodel commented on #38243
https://westcentralus.api.cognitive.microsoft.com/vision/v1.0
https://westcentralus.api.cognitive.microsoft.com/face/v1.0

[2019-09-05 21:12] johngodel commented on #38243
Using Visual Studio 2019

[2019-09-05 21:13] KranthiPakala-MSFT commented on #38364
@lmicverm Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-09-05 21:15] NavtejSaini-MSFT commented on #38119
@zainuvk Please elaborate on your question. We can definitely see the Event system properties like defined in the document section with screen shot  -
https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-iot-hub#connect-azure-data-explorer-table-to-iot-hub

We also created our own resource and we are able to see this as well. Please check screenshot-
![EventSystemprop](https://user-ima

[2019-09-05 21:15] VNJoe commented on #38230
#please-reopen
________________________________
From: John Flores <notifications@github.com>
Sent: Thursday, September 5, 2019 4:38:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Joe Cimino <Joe.Cimino@vitalnetix.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] I want to disable this, how do I do that? (#38230)

#please-close

—
You are rec

[2019-09-05 21:16] NavtejSaini-MSFT commented on #38363
Thanks for the feedback. We will just have to wait for the PG team to respond. We will go ahead and close this thread.

[2019-09-05 21:16] #38363 closed

[2019-09-05 21:17] MashaMSFT commented on #37257
Hi @hpatel01, just wanted to let you know I'm still looking into this. Thank you for your patience and I apologize for the delay!

Masha from the SQL Docs team

[2019-09-05 21:18] fredrikdaveus opened #38397 "Application gateway cannot access key vault during creation if key vault firewall is enabled"
I am creating an appGw with key vault integration using PowerShell.

When creating the appGw with key vault firewall enabled and allowing the appGw subnet access through the key vault firewall in the key vault firewall settings, the appGw creation fails.

When turing the key vault firewall off, the appGw creation works fine.

[2019-09-05 21:19] themistoklis84 opened #38398 "MS Azure Xero Connector slow when retrieving data"
Hello Al,

Im using the Xero Connector on Azure to get the data from Xero Accounts and put them in a Blob storage.

I managed to create the connection to Xero Account but when it starts fetching the data it takes lots of time. For 10k rows it takes more than an hour. It brings every ID line by line.  See following image:
![Image_2](https://user-images.githubusercontent.com/54961951/64381310-93a199

[2019-09-05 21:23] qibozhu commented on #38319
@RudyEvers
1. Did you use the latest version of azure-blob-storage container image with tag 1.2.1-linux-amd64? From the line number in the log, looks like you were not using the latest version. You can check the version in the beginning of the log, something like:

Starting Azure Blob Storage on IoT Edge, version ...

2. Did you use bind mount? If yes, try to provide an empty directory from the ho

[2019-09-05 21:24] amalik99 opened #38399 "Azure ML Compute does not honor Azure Policy Restrictions on VM SKUs"
1. I Created an Azure Policy restricting VMs to a specific SKU(VM Size), assigned the Policy to resource group having Azure ML WorkSpace
2. Still, I can create ML Compute using AzureML workspace for any size, including the size which is disallowed in the Policy

Is this a bug or by design? I want to restrict the size of compute being created from AzureML

[2019-09-05 21:25] NavtejSaini-MSFT commented on #38345
@olofhellman On the same page you have option to set admin. Once you click on the button it will be open the below screen
![setAdmin](https://user-images.githubusercontent.com/52257742/64381581-836cc880-d001-11e9-90d4-f329deb63f52.JPG)

It will show all the users and security groups created in your organization Azure AD and you can select the Azure Admin from the same list.
![AddAdmin](https://use

[2019-09-05 21:30] etoews opened #38400 "How to create an alert for custom metrics?"
I'm using [Custom metrics in Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview) and according to that doc

However, I haven't been able to find a definitive guide from Microsoft on how to create an alert for custom metrics.

This has caused an issue for me that I've asked about over on StackOverflow at [Can't create an alert for an App Insights cu

[2019-09-05 21:31] NavtejSaini-MSFT commented on #38387
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/38388. We will work the thread there.

[2019-09-05 21:36] ptuton opened #38401 ""401 Unauthorized" when testing using a local Docker container"
Browser is replying with "401 Unauthorized" when testing using a local Docker container. Any ideas why?

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create Azure Functions on Linux using a custom ima

[2019-09-05 21:38] jackchenquest opened #38402 "weird problem with azcopy in Linux"
I found when I use azcopy to copy a folder named as 'CON' , azcopy will fail. If I rename it to something else like CON1, then it's working fine. tried to create a new CON folder with only one text file, still same problem.

version :
AzCopy 10.2.1
environment : Centos 7.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-05 21:39] Samsinite commented on #38227
Thanks for the feedback, we will adjust according based off of your
recommendations.

On Wed, Sep 4, 2019, 9:47 PM souravmishra-msft <notifications@github.com>
wrote:

[2019-09-05 21:46] skalingclouds commented on #37903
Yeah, this is a big deal, it does not fall inline with other serives. We need a way to stream the storage access logs to event hubs

[2019-09-05 21:51] poortom1004 commented on #38380
Here's an example of such a document
https://docs.microsoft.com/en-us/azure/active-directory/devices/device-management-azure-portal#view-or-copy-bitlocker-keys

[2019-09-05 21:51] AnlauTriCloud opened #38403 "IoT Edge Blob module - Unable to store blob in container"
I'm trying to use the Blob Edge module for storing and uploading files to a cloud storage account from my ARM64 Linux solution running in the IoT Edge Simulator .

I have followed the guide https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob.

Unfortunately I get an error "[MetaStore.cc:1338] [GetBlobRecord] Blob not found", but otherwise the putblob operation completes.

I have rev

[2019-09-05 21:54] MicahMcKittrick-MSFT commented on #38399
@amalik99 please share the link to the documentation you are following so we can better assist.

[2019-09-05 21:55] MicahMcKittrick-MSFT commented on #38397
@fredrikdaveus please provide us with the link to the documentation you are following so we can better assist.

[2019-09-05 21:57] MicahMcKittrick-MSFT commented on #38388
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 21:57] RudyEvers commented on #38319
I tried to use the latest version 1.2.1 as you mentioned @qibozhu. However when I restart the IotEdge the following error occurs while starting blob storage:

Starting Azure Blob Storage on IoT Edge, version 1.2.1.0.
[2019-09-05 21:43:32.848] [error   ] [tid 1] [DataStore.cc:56] [Initialize] mkdir failed with error:Permission denied

Unhandled Exception: System.AggregateException: One or more erro

[2019-09-05 21:57] fredrikdaveus commented on #38397
I've been reading these:
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/api-management/api-management-howto-integrate-internal-vnet-appgateway.md

https://docs.microsoft.com/en-us/azure/security/fundamentals/network-best-practices

https://docs.microsoft.com/en-us/azure/

[2019-09-05 22:01] fredrikdaveus commented on #38397
ag = app gw
ams = api management service

The key vault firewall is configured like this:
    Add-AzKeyVaultNetworkRule -DefaultProfile $azureContext -ResourceGroupName $resourceGroupName -VaultName $keyVaultName -VirtualNetworkResourceId $keyVaultSubnet.Id | Out-Null
    Add-AzKeyVaultNetworkRule -DefaultProfile $azureContext -ResourceGroupName $resourceGroupName -VaultName $keyVaultName -Virtual

[2019-09-05 22:04] MicahMcKittrick-MSFT commented on #38397
Thanks for that! I have assigned it to an engineer who can take a look.

[2019-09-05 22:06] YutongTie-MSFT commented on #38115
@AlexanderTodorovic Hi Alexander, please open a support ticket for this to live trouble shooting. And if you don't have a support plan please let me know, I can help to enable you a free ticket.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-05 22:06] #38115 closed

[2019-09-05 22:06] qibozhu commented on #38319
Please follow this to grant directory access to container user on Linux.

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#granting-directory-access-to-container-user-on-linux

[2019-09-05 22:13] DeanGross commented on #38178
yes, we have met those requirements

[2019-09-05 22:17] aleazofeifam opened #38404 "Separate the articles per app"
I don't see an issue with the content, but it will be better if you can split the content per application or otherwise. It will make easier for the rest the customers to understand what they are looking for

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 133

[2019-09-05 22:21] JustinGrote opened #38405 "ReImage is now possible in the Azure Portal"
There is now a button for "Reimage" and it should be reflected in this documentation, it currently says REST API Only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbb6311-d76f-aefc-2791-c04cd0635c71
* Version Independent ID: 9eda9815-6627-1354-6cae-a9fc144345df
* Content: [Ephemeral OS disks for Azure Linux Virtual

[2019-09-05 22:22] Karishma-Tiwari-MSFT commented on #38405
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-05 22:26] MartinJaffer-MSFT commented on #38075
@torresdiego I got a response

No, it is not mandatory to use staging to go through port 443.  There is a setting in your server that lets you specify which port to use for outbound traffic.  1443 is the default for SQL->SQL communication.  For other sinks, like SQL->Blob, it would go through the SHIR and use 0443 anyway, because the SHIR is making API calls.

[2019-09-05 22:27] ptuton commented on #30992
Why can I not see "Configure your Hybrid Connection endpoints"...? I see "VNet Integration", "Azure CDN" and "Access Restrictions". I'm guessing I'm missing an important prerequisite step?

[2019-09-05 22:28] ptuton commented on #34252
Why can I not see "Configure your Hybrid Connection endpoints"...? I see "VNet Integration", "Azure CDN" and "Access Restrictions". I'm guessing I'm missing an important prerequisite step?

[2019-09-05 22:30] bwren commented on #37362
Checking with engineering team on this. #in-process

[2019-09-05 22:31] RudyEvers commented on #38319
I already granted the directory but still have the error @qibozhu

[2019-09-05 22:33] bwren commented on #38393
Thanks. Will fix.  #please-close

[2019-09-05 22:33] #38393 closed

[2019-09-05 22:41] zudawo opened #38406 "In a B2B Tenant, Google Guest User not having a same Sign-in experience with MFA"
I ran into an issue where guest users from outlook, mailinator have a different MFA prompt experience compared to Gmail guest users. When trying to access a SharePoint application with a Gmail account, the server responds back with an MFA page which is expected, but in the same browser session, if we try to access the second application in the same tenant, another MFA prompt is being prompted, and

[2019-09-05 22:46] rslavey commented on #37280
Can you please let me know how you fixed this. Same issue here. Thanks.

[2019-09-05 22:50] Grace-MacJones-MSFT commented on #38086
Hi @whihathac, yes it means the same thing. However, we wanted to specifically call out that "the _public IP_ of this VIP is the _source IP_ for all calls from the ASE"

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-05 22:50] #38086 closed

[2019-09-05 22:53] curtand commented on #38288
Hi @MotoX183
Thanks very much for alerting us! I updated the doc. It will publish tomorrow at 10 am PDT 06 September. I appreciate the feedback.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87586
#please-close

[2019-09-05 22:53] #38288 closed

[2019-09-05 22:55] jimbobbennett opened #38407 "What is the Azure Maps subscription key?"
In the docs to set up the REST call to upload GeoFence data, there is a parameter called `subscription-key`.

The text mentions "see authentication details to learn how to get your subscription key" and "Replace subscription-key value with your Azure Maps subscription key" but there isn't a field called Subscription Key available in Azure Maps. Following the link provided to https://docs.microsoft

[2019-09-05 23:05] femsulu commented on #37889
@bwren - can you help with this roadmap question please?

[2019-09-05 23:25] femsulu commented on #38014
@sdubey, is it ok to update the doc to reflect this?

[2019-09-05 23:27] KranthiPakala-MSFT commented on #38398
@themistoklis84 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-09-05 23:33] swmachan commented on #38254
You are right. CentralUS and other regions are missing in the document. We will update it.

[2019-09-05 23:34] patrickgalbraith commented on #37499
@fvalentiner You will need to review the developer documentation - https://developer.intuit.com/app/developer/qbo/docs/develop/authentication-and-authorization.

Then create a developer account and a Quickbooks app, and write the code to call the API using OAuth2 for authentication.

Sorry can't really help you any more than that, it is a fair amount of work.

[2019-09-05 23:40] FrankHu-MSFT commented on #38268
@ArmandoPitotti I will be closing out this git issue now. as there has been no response. thanks again for letting us know about this!

[2019-09-05 23:40] #38268 closed

[2019-09-05 23:40] FrankHu-MSFT commented on #38267
@sgdesmet I'm following up on this issue, as there has been no response I will be closing out this issue, please file a new git issue with a reference to this one if you have any questions. thanks!

[2019-09-05 23:40] #38267 closed

[2019-09-05 23:41] mike-urnun-msft commented on #38391
Hi @ascott18 - Thank you for your feedback! We will review and update as appropriate.

[2019-09-05 23:42] mike-urnun-msft commented on #38395
Hi @NickDrouin - Thank you for your feedback! We will review and update as appropriate.

[2019-09-05 23:43] mike-urnun-msft commented on #38401
Hi @ptuton - Thank you for your feedback! We will review and update as appropriate.

[2019-09-05 23:44] mattneerincx opened #38410 "Table is incorrect for allowed Max data size (GB) for General Purpose Gen5 elastic pools"
Noticed a discrepancy in this table, for General Purpose Gen5 6 vCore we allow 1.5 TB and not 756 GB.   May be other items wrong for the General Purpose Gen5 table, did not check them all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece92a7d-3250-d109-97e9-20a731dc4b20
* Version Independent ID: 29a97076-fc64-0ae9-45

[2019-09-05 23:45] qibozhu commented on #38319
Did you start the service as a user other than default "absie"? If yes, please make sure the user has permission to create a directory under /srv/containerdata.

[2019-09-05 23:48] femsulu commented on #38393
added triage labels.

[2019-09-05 23:51] femsulu commented on #38400
@etoews Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-05 23:53] milindvb opened #38411 "ZipDeployUI endpoint is not available for Linux App service plans"
Please add a note to the documentation saying https://<app_name>.scm.azurewebsites.net/ZipDeployUI
endpoint is not available for Linux Web apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce674e6-fcb7-a867-2a74-f28f6a1b0204
* Version Independent ID: 461fc0b5-ac32-54b8-cdb6-76a2c8e6052f
* Content: [Deploy code with

[2019-09-05 23:59] Alberto-Vega-MSFT commented on #38392
Hi @JeffMill I am not sure but I think you are looking for the C# version of this tutorial? https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-module-twin-getstarted

[2019-09-06 00:00] femsulu commented on #38400
@anirudhcavale - can you comment on this doc idea? Do we already have something in the works?

[2019-09-06 00:01] MicahMcKittrick-MSFT commented on #38411
@milindvb please provide us with the link to the documentation you are following so we can better assist.

[2019-09-06 00:14] joyceywho commented on #38237
Yes, it more clear and intuitive. Thank you!

[2019-09-06 00:14] ozhug opened #38413 "OldWaterMarkValue and NewWaterMarkValue"
OldWaterMarkValue and NewWaterMarkValue
how do these work and what string values should be assigned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://do

[2019-09-06 00:18] djpmsft commented on #38413
Hi there,

Could you clarify your question? What are you referring to with 'OldWaterMarkValue' and 'NewWaterMarkValue'?

Thanks,
Daniel

[2019-09-06 00:19] milindvb commented on #38411
Here is the link:
https://docs.microsoft.com/en-us/azure/app-service/deploy-zip#deploy-war-file
you can contact me on alias: mibelhe@microsoft

[2019-09-06 00:30] Alberto-Vega-MSFT commented on #38403
@AnlauTriCloud Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 00:31] FrankHu-MSFT commented on #38178
I see, we're currently looking into this and will get back to you. Thanks for providing all this information!

[2019-09-06 00:32] FrankHu-MSFT commented on #38127
Hello @fowl2 as there hasn't been a response in quite some time I will be closing out this git issue now. Please open a new git issue with a reference to this git issue if you have anymore questions within the scope of this issue. Thanks!

[2019-09-06 00:32] #38127 closed

[2019-09-06 00:33] Alberto-Vega-MSFT commented on #38407
@jimbobbennett Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-06 00:33] #21144 closed

[2019-09-06 00:35] theconnectionist commented on #33348
Hi, I still can't find the place where to upload data. I clicked on the how-to-custom-speech link posted above and it doesn't have a place to upload data either. All these pages go in circles.

The whole speech sdk documentation is hard to navigate. I can't find a link to upload custom data even through the Quick Start page for my custom speech model.

Please post a link where I can upload data.

[2019-09-06 00:43] MicahMcKittrick-MSFT commented on #38411
Thanks for that! I have assigned it to the correct engineer to investigate.

[2019-09-06 00:46] sahya commented on #32273
hello
@kgremban, thank-you and im sorry to too late my response.
the page is very improvement!
i happy to improvement ;-)

I think it's easier to read if each section is divided into pages, what do you think?
is it will become mismatch?
Because I think it ’s much longer than the other pages.

[2019-09-06 00:49] ecfan commented on #31375
Hi all,

Thank you all for your feedback. The functions help topic has been updated with more info about how to use the [addProperty() function](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#addProperty) and [setProperty function](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#setProperty) for accessing ch

[2019-09-06 01:01] jwatkin opened #38414 "Confidence score differences"
I'm getting a huge difference between the QnA Maker portal test pane and my published environment's Web Chat channel for one particular question. In my test environment, I get the correct answer with a 95% confidence score. In the published environment, I get a wrong answer that's not even in the top three in the test pane inspector. I've verified that my changes are being published by adding a se

[2019-09-06 01:13] ndowson opened #38415 "unable to use domain\user to log into Azure VM via the Bastion connection"
unable to use domain\user to log into Azure VM via the Bastion connection, can log in with the local administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bastion](https://docs.microsoft.com/en-u

[2019-09-06 01:20] ozhug commented on #38413
Hi Daniel,
Thanks for the followup, which made me look again and check with the pipeline developer.
The trigger used by this event also parameters and values for these parameters are requested after the Data Preview step.
I will close this comment as it is all on us.
thanks Again

[2019-09-06 01:20] #38413 closed

[2019-09-06 01:29] johnwildes commented on #38382
Thanks @MicahMcKittrick-MSFT

[2019-09-06 01:29] #38382 closed

[2019-09-06 01:38] jwatkin commented on #38414
By the way, the wrong answer given in the published environment has a 95% confidence score.

[2019-09-06 02:15] AshokPeddakotla-MSFT commented on #38237
@tesych Thanks for the update.
@joyceywho We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-06 02:15] #38237 closed

[2019-09-06 02:21] AshokPeddakotla-MSFT commented on #33068
@UlucFVardar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-06 02:21] #33068 closed

[2019-09-06 02:31] KrishnaG-MSFT commented on #38413
@djpmsft Thanks for the quick response. :+1:

[2019-09-06 02:42] neeleshray-msft commented on #38404
@aleazofeifam Thank you for the feedback. We will review and update the document as required.

[2019-09-06 02:44] ayoung012 commented on #33223
@pvrk just to be clear, this was a doc-enhancement request. In particular focused on Step 2 of section 'Create a Recovery Services vault'.

The command
[code]
is successful, but outputs a deprecated message:
[code]

The documentation should reflect the most current way of doing things, and therefore I think that sections 'Create a Recovery Services vault' and 'Enable backup for an Azure VM' should

[2019-09-06 02:44] neeleshray-msft commented on #38406
@zudawo  Thank you for your query. We will investigate and update the thread.

[2019-09-06 02:53] dcbrown16 opened #38417 "Redirect on Rate Limit possible?"
This page states that rate limit rules are different from match rules. Is everything else on the page only applicable to match rules?
Specifically, I have a customer who wants to redirect to a custom page on rate limit. The New-AzFrontDoorWafCustomRuleObject PowerShell command doesn't list "Redirect" as an option when setting a rate limit rule.
https://docs.microsoft.com/en-us/powershell/module/az

[2019-09-06 03:17] SwathiDhanwada-MSFT commented on #38137
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-06 03:17] #38137 closed

[2019-09-06 03:20] SwathiDhanwada-MSFT commented on #38415
Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-06 03:34] sujayvsarma commented on #38167
@rbrundritt:

Could you provide a link to documentation/samples that show how to make use of this? Or connect me with someone who can help...

@walsehgal:

Thank you. Closing this issue. I have already closed the samples issue.

[2019-09-06 03:34] #38167 closed

[2019-09-06 03:44] genlin commented on #38093
@joalcava Thanks for the information. I will add a note into the article.

[2019-09-06 03:44] joyceywho opened #38418 "Sign in to LUIS portal doesn't get me the Welcome page"
Following the steps of "Sign in to LUIS portal and begin authoring", it doesn't present the welcome page for me to choose the type of LUIS authoring key as shown in the screenshot. Any place/step I need to check to get it work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 407d2781-1fe1-38a6-dc18-37d4e37d651c
* Versio

[2019-09-06 03:46] diberry commented on #38418
@joyceywho The documentation and release of the LUIS portal are out of sink due. The portal will work as documented in the next day or two. Until then, you won't need to create a LUIS authoring resource.

[2019-09-06 03:49] goamn opened #38419 "Azure storage Resource ID's are incorrect"
Azure storage Resource ID's are incorrect for Germany/China/and possibly others

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities for Azure resources](https://docs.

[2019-09-06 04:21] AlexanderTodorovic commented on #38115
@YutongTie-MSFT Yes I have a support plan. Thank you very much.

[2019-09-06 04:31] pkyc opened #38420 "docker-compose command not found"
I follow this page and run the command "docker-compose up -d" and got error with command not found.  I am using bash and should not problem on path or env
peter@Azure:~/azure-voting-app-redis$ docker &lt;tab&gt;
docker          dockerd         docker-init     docker-machine  docker-proxy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-09-06 04:32] ackava opened #38421 "How to monitor performance of Read Replica?"
How can I monitor performance of read replica, so I can plan if I need additional replica or not. There is no separation in metrics in portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 418c8458-948a-4549-fbaa-90a17cd345ee
* Version Independent ID: b5635e09-241c-0eea-61cd-bfef388af124
* Content: [Azure SQL Database

[2019-09-06 05:06] msrini-MSFT commented on #38249
@dralpus , I will go ahead and close this issue for now, please reopen when you get the doc URL which you are referring to.

[2019-09-06 05:06] ManojReddy-MSFT commented on #38135
@soluwarejb We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-09-06 05:06] #38135 closed

[2019-09-06 05:08] msrini-MSFT commented on #38358
@JayaSaiSontineni , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-06 05:09] msrini-MSFT commented on #38359
@JayaSaiSontineni  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-06 05:10] sujayvsarma opened #38422 "[Azure Maps] REST API "Search by POI Category" - Returns confusing address data"
When using the `getsearchpoicategory` REST API ([docs link](https://docs.microsoft.com/en-in/rest/api/maps/search/getsearchpoicategory)), some times the address information returned is confusing.

For example, consider this search. This is tries to locate the nearest airport for a geographic coordinate. The coordinates are for the "Secunderabad Railway Station" in the city of Hyderabad, in Telanga

[2019-09-06 05:11] msrini-MSFT commented on #38360
@JayaSaiSontineni  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-06 05:17] msrini-MSFT commented on #38417
@dcbrown16 , Thank you for your feedback.

Re-direct rule has nothing to do with WAF rules. If condition in the WAF rules are matched, you can either block or allow the traffic.

URL rewrite is an actual rule, like one you create to route traffic to the backend pools. Re-direct traffic to a custom page on rate limit is not possible in AFD for now.

For any product related questions, I suggest reac

[2019-09-06 05:17] #38417 closed

[2019-09-06 05:18] msrini-MSFT commented on #38422
@sujayvsarma , Can you please share me the link for the documentation which you are referring to ?

[2019-09-06 05:19] ManojReddy-MSFT commented on #38311
@ichkoj
31044  indicates that
Password writeback service is not in a healthy state. No service host for service bus endpoints are in running state.

I am not able to find much about 31034.

@MicrosoftGuyJFlo Can you please the error description for the following codes to the doc?

[2019-09-06 05:20] sujayvsarma commented on #38422
@msrini-MSFT It is already there. See the opening statement.

The "docs link" is a link to the docs.

Anyway, here it is again.

https://docs.microsoft.com/en-in/rest/api/maps/search/getsearchpoicategory

[2019-09-06 05:24] VikasPullagura-MSFT commented on #38337
@dcbrown16 The RHEL 7.7 images are listed while checking through cli

`az vm image list --all -p redhat`

VM can be created through cli using the 7.7 images listed.

Below are the details with URN's:
RHEL    RedHat  7-LVM   RedHat:RHEL:7-LVM:7.7.2019081522        7.7.2019081522
RHEL    RedHat  7-RAW   RedHat:RHEL:7-RAW:7.7.2019090418        7.7.2019090418
RHEL    RedHat  7-RAW-CI        RedHat:RHE

[2019-09-06 05:30] sujayvsarma commented on #38422
It is not a problem as per the documentation. It is an issue with the **data in Bing Maps** that the Azure Maps API returns. The API is actually working perfectly as per spec and the docs.

If you use the competing API from Google Maps, the data returned is correct.

[code]

The data returned here says:

[code]

Where you can clearly see it says "Hyderabad". Also, the address is far more accurate

[2019-09-06 05:31] SumanthMarigowda-MSFT commented on #38402
@jackchenquest Thanks for your question. We are checking on this and will respond to you soon.

[2019-09-06 05:42] shashishailaj commented on #38048
@Erikcperkins Hope the explanation above clarifies the query you had. I would suggest you to open a feedback Request on [Microsoft Graph Uservoice page] (https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests?category_id=359566) .

Thank you.

[2019-09-06 05:42] dralpus commented on #38249
I am referring to here:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-provision-container-throughput#provision-throughput-by-using-net-sdk

[2019-09-06 05:53] rishtech commented on #38109
Lets make it simple,
1803 version - If federated auth fails, it will fall back to sync object auth.
Older versions - This feature was not available.

So now, if Fed auth is failing, the device must not be able to get registered as hybrid Azure AD Join, is this statement true or not.
OR
If on version 1709, fed auth is failing, what will be the outcome ?

[2019-09-06 06:10] AshokPeddakotla-MSFT commented on #38422
@rbrundritt Can you check this and provide your suggestions?

[2019-09-06 06:10] turing-complet opened #38423 "Alternatives list has link to current page"
The link for "Data Collector API in Azure Monitor Logs" in the alternatives section goes to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e
* Content: [Azure Monitor HTTP Data Collector API](https://docs.micros

[2019-09-06 06:15] pkyc commented on #38420
I guess it is related to "Therefore, we recommend using a full Docker development environment."   What is the steps to use a full Docker dev environment?

[2019-09-06 06:23] NehaOberoi92 opened #38424 "Can Oauth be used in APIM consumption plan? As in consumption plan it is written that Azure AD integration is not supported"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-09-06 06:33] KalyanChanumolu-MSFT commented on #38421
@ackava We are looking into your question and will get back to you soon.

[2019-09-06 06:33] KalyanChanumolu-MSFT commented on #38410
@mattneerincx Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-09-06 06:34] KrishnaG-MSFT commented on #38177
@adamrmcclain Thanks for the additional information. I have again tried to reproduce the issue with webhook which is an Azure Function using Typescript but all went well for me. For reference, please see below screenshot.

<img width="1119" alt="FuncApp1" src="https://user-images.githubusercontent.com/45988031/64405652-5a017a80-d09d-11e9-923f-48cea2eb48c2.PNG">

If the issue still persists for you

[2019-09-06 06:34] #38177 closed

[2019-09-06 06:37] KrishnaG-MSFT commented on #38423
@turing-complet Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-06 06:57] XuzhouHuang opened #38425 "Need to confirm permission requirement for Access ACR with Kubernetes secret"
Hi team,

We find there's some permission misunderstanding in [doc:](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/container-registry/container-registry-auth-aks.md#access-with-kubernetes-secret)

For the part "Grant AKS access to ACR", it apparently need user has permission "Microsoft.Authorization/roleAssignments/write" due to command "az role assignment create", such as "owne

[2019-09-06 07:03] VikasPullagura-MSFT commented on #38420
@pkyc Cloud Shell by default will only have docker client tools but not docker daemon, so you are facing the issue as stated in your initial posted. And that is the reason it is mentioned in the document to use full docker environment to complete the tutorial.

If you want to use Cloud Shell to run the commands in the tutorial, you have to setup Docker Daemon on a VM and connect to that from Cloud

[2019-09-06 07:09] SnehaAgrawal-MSFT commented on #38342
@olofhellman & @Greggomatic Thanks for replying! Just to confirm which platform you are using? You may refer to [link](https://stackoverflow.com/questions/49407321/connect-to-azure-sql-server-via-aad-authentication-using-ef-core) might be helpful.

[2019-09-06 07:19] njbuch commented on #38303
I did the first prototype now, and it seems to work, thanks to all assisting :)

There is currently no features in the current (old) version that is not working or missing, so no current needs. Will revert if that changes.

Thanks again

[2019-09-06 07:19] #38303 closed

[2019-09-06 07:20] Hasansiam opened #38426 "Api"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a33ff6-8ffc-ad26-d429-3170bcca9498
* Version Independent ID: fcd9c088-8b17-e53b-4c93-f90f2dc5c09c
* Content: [Publish versions of your API using Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-get-started-p

[2019-09-06 07:21] njbuch commented on #38120
Everything works to me, I still think the docs needs some polishing. But thanks all!

[2019-09-06 07:21] #38120 closed

[2019-09-06 07:21] MaikuMori opened #38427 "OpenID Connect Issuer doesn't match issuer in the metadata"
The discovery URL given for `common` endpoints is:

But the metadata document itself returns:

The base part of these two should match according[ to the spec](https://security.stackexchange.com/questions/212724/oidc-should-the-provider-have-the-same-address-as-the-issuer). This breaks OIDC Connect libraries which are rigid about the spec.

For example: https://github.com/coreos/go-oidc

See also h

[2019-09-06 07:24] cawrites commented on #38178
@DeanGross if I can request one more visual verification.  Can you do the following navigation:
Azure Active Directory > Licenses , under Essentials, can you confirm (if any) what is showing under Purchased?

[2019-09-06 07:32] SnehaAgrawal-MSFT commented on #35869
@Mitaric We will now proceed to close this thread but if you feel you need more information please just let us know.

[2019-09-06 07:32] #35869 closed

[2019-09-06 07:36] snehithm commented on #38375
Document is still accurate.
@langstonj might be an issue with search in logic apps. When you first search looks like teams options are at the end of the actions list
![image](https://user-images.githubusercontent.com/20316932/64409633-f1b79680-d0a6-11e9-970b-71a5e8904b62.png)

If you expand the connectors area you will see Teams
![image](https://user-images.githubusercontent.com/20316932/64409705-

[2019-09-06 08:10] nitbhatt opened #38428 "Keyvault usage"
[Enter feedback here]

When I browse for custom certificate, I can only see the keyvault in my subscription.
Is there a way to select a keyvault (in other subscription) ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* C

[2019-09-06 08:20] PramodValavala-MSFT commented on #38426
@Hasansiam Looks like the issue was created without any content. Please feel free to share your feedback if you are still facing issues with the doc.

[2019-09-06 08:24] vrat87 opened #38430 "Service endpoint across different tenant"
can Service endpoint be enabled across subscriptions in different tenants

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service endpoints](https://docs.microsoft.com/en-us/azure/virtual

[2019-09-06 08:26] ChiragMishra-MSFT commented on #38179
@djpmsft Can you please take a look at this one ?

[2019-09-06 08:36] KrishnaG-MSFT commented on #38315
@ROSMITHJ-MSFT [This](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics) document has explanation of all the 3 logs including ApplicationGatewayFirewallLog.
Assigning content owner @bwren for visibility, review and document enhancement considerations.

[2019-09-06 08:37] bjorkblom commented on #28505
I'm struggling with the same issues in Azure. How do I mount a volume that I can access via FTP at /home/site/wwwroot?

I've set the environment variable WEBSITES_ENABLE_APP_SERVICE_STORAGE to true and also added `RUN ln -s /home/site/wwwroot /var/www/html` to my custom image. But still, the files won't appear when I FTP to the host.

If I restore a from a snapshot backup the files that are not pa

[2019-09-06 08:58] reubster commented on #6226
Hi @christianwade ,

Thanks for the response.  I think my question was unclear. I'm currently using TMSL with the invoke-ascmd in Azure DevOps. However this exposes the TMSL createorreplace command in plain text.

I think what you're suggesting is that I could write a .net framework app to execute the TMSL instead.

That's perfectly fair, if that's the recommendation... if a little onerous.

What

[2019-09-06 09:06] shuklagauravjn commented on #33821
when will we be able to read about the UDRs?

[2019-09-06 09:22] benwhittaker opened #38431 "Page difficult to read"
While this page is technically ok, it doesn't read very well and could be explained much better.  Suggest someone at Microsoft reviews and re-writes this page to make it easier to capture the concepts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69c921d-0f42-7b6c-88ef-e82ff2e2453b
* Version Independent ID: 9f8b73b2

[2019-09-06 09:23] nitbhatt commented on #38428
Found the answer here
https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-2-enable-https-with-your-own-certificate

[2019-09-06 09:23] #38428 closed

[2019-09-06 09:23] richieteh94 opened #38432 "Custom Error Handling request"
Is there any way to catch the custom error to use it for on-error for example inside the inbound
[code]

how do you handle it at on-error, context.LastError.Reason is empty. the context.LastError.Message only show the error message but not showing the error type.

or can I create some custom error for policy??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-09-06 09:27] chainhead commented on #37748
Yes, the graph is not intuitive. I interpret it this way; hope it is correct.

The center of the graph is 0 and the length of the line represents percentage of an element - CPU, Memory, Reads and Writes. For example, the line going to left from origin represents the Writes axis. I am guessing this is correct because the dot on this line represents 50%.

Therefore, the complete oval means that, the

[2019-09-06 09:34] Potapy4 commented on #38314
@Karishma-Tiwari-MSFT I think this one: https://github.com/Azure/azure-render-hub

[2019-09-06 09:39] KrishnaG-MSFT commented on #38431
@benwhittaker Thanks for your comment. The feedback has been shared with the content owner @mayurigupta13 for further review.

[2019-09-06 09:41] KrishnaG-MSFT commented on #38428
@nitbhatt Glad to know that you have found the answer. Thanks for the update.

[2019-09-06 09:55] KalyanChanumolu-MSFT commented on #38249
@SnehaGunda @southpolesteve Could you please assist here.
I couldn't find the Node.js equivalent for ReplaceThroughputAsync() method in .Net v3 SDK

[2019-09-06 09:57] KalyanChanumolu-MSFT commented on #38410
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-06 10:04] sho74 commented on #38284
No, Thank you.... I just would like to point that exactly with those code it is not working. Instead I also used Invoke-AzResourceAction

[2019-09-06 10:07] #33965 closed

[2019-09-06 10:09] DixitArora-MSFT commented on #38424
Hi @NehaOberoi92 Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-09-06 10:11] KrishnaG-MSFT commented on #38256
@NeoAcheron You can get it for a specific Azure resource but not all in one-shot using [Get-AzDiagnosticSetting](https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azdiagnosticsetting?view=azps-2.6.0) Az PowerShell cmdlet or [Diagnostic Settings - Get](https://docs.microsoft.com/en-in/rest/api/monitor/diagnosticsettings/get) Azure REST API.

[2019-09-06 10:15] KetanChawda-MSFT commented on #38401
@ptuton Can you try changing the `AuthorizationLevel` to `Anonymous` as shown below :

[code]
by default the `AuthorizationLevel` will be `Anonymous`

[2019-09-06 10:17] DixitArora-MSFT commented on #38432
Hi @richieteh94 Thanks for reaching out. We will review and update as appropriate.

[2019-09-06 10:19] Cepheus0815 commented on #38258
I could not make a pull request, but failed pushing my feature branch to GitHub. Could you please the PR? Thanks, Rainer

[2019-09-06 10:21] RohitMungi-MSFT commented on #38414
@jwatkin Could you please post the details of the issue through the Feedback page of QnAMaker?
![image](https://user-images.githubusercontent.com/46958063/64420792-aa88d000-d0bd-11e9-8eef-c92b813117b7.png)

Please include the query used before and after publishing the KB where the confidence scores do not match. This will send the information to our product team who will contact you for more infor

[2019-09-06 10:32] SubhashVasarapu-MSFT commented on #38430
@vrat87, Virtual networks and Azure service resources can be in the same or different subscriptions, or Azure Active Directory tenants. You can check this [document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoint-policies-overview) for service endpoint policies.

[2019-09-06 10:33] AL71B opened #38433 "This page doesnt indicate which sizes are supported for Gen2 preview VM's"
The page: https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/generation-2 directs to here (https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/b-series-burstable) and says B-series is supported for Gen2. But the tables on this page don't indicate which ones. I've tried "standard_b2ms" and it fails.

---
#### Document details

⚠ *Do not edit this section. It is required for

[2019-09-06 10:41] RohitMungi-MSFT commented on #38243
@johngodel It looks like the version of VS is an issue. Could you please try the same with VS 2017? We will report the issue to our product team to investigate. Thanks!!

[2019-09-06 10:43] tars400 commented on #28457
@anirudhcavale

Just wanted to confirm, the memory metrices of Linux VMs are not supported if we try to fetch through REST API? As I see, Windows VMs and Linux VMs(Classic) I am able to fetch but not for the Linux VMs after enabling guest level monitoring too.

Awaiting a response.

[2019-09-06 10:46] NehaOberoi92 commented on #38424
Documentation for https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad ,
1.) can I use this in Consumption plan , as in pricing tier comparison it is given that AD integration cannot be done in Consumption plan.
2.) Step - Enable OAuth 2.0 user authorization in the Developer Console - In this step 17 is not clear I am not able to find Redirect URl

[2019-09-06 10:54] msrini-MSFT commented on #38425
@XuzhouHuang , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-06 10:55] vrat87 commented on #38430
Isee it is available for Azure storage alone , do we have anything similar for Azure datalake store.

[2019-09-06 10:58] jakaruna-MSFT commented on #33821
@mlearned @zr-msft Please identify the new owner for this document.
cc: @MicahMcKittrick-MSFT

[2019-09-06 11:03] chainhead opened #38434 "Traffic over internet for within Azure connectivity?"
Suppose, I have a Azure SQL database hosted in India West region. The application layer is not exposed to the internet; they are hosted in a private subnet. To make a connection with the *Redirect* policy, if I provide the Gateway IP address `104.211.160.80`, then will the traffic leave the Azure network to Internet and come back for query execution and results?

---
#### Document Details

⚠ *Do n

[2019-09-06 11:05] msrini-MSFT commented on #38415
@ndowson , As of today, you cannot RDP to a VM using domain credentials and it is in our pipeline to enable this feature. Stay tuned for updates.

[2019-09-06 11:05] #38415 closed

[2019-09-06 11:16] Oppedijk opened #38435 "Windows 10 E5 license is missing"
WIN10_VDA_E5: "WINDOWS 10 ENTERPRISE E5"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.com/en-us/azure/active-direc

[2019-09-06 11:19] Oppedijk opened #38436 "Advanced Security and Compliance SKU's missing E3+Security, E3+compliance"
https://www.microsoft.com/en-us/microsoft-365/blog/2019/01/02/introducing-new-advanced-security-and-compliance-offerings-for-microsoft-365/

These 2 additional packages are not here yet:
Identity & Threat Protection—This new package brings together security value across Office 365, Windows 10, and EMS in a single offering. It includes best of breed for advanced threat protection services including

[2019-09-06 11:23] Oppedijk opened #38437 "Sort the products alphabetically (again)"
now some items at the end are not alphabetically anymore, for instance "Microsoft 365 E5" is at the end, and not halfway together with "Microsoft 365 E3"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product

[2019-09-06 11:26] Greggomatic commented on #38342
Hi - I am running Windows 10, using Visual Studio 2019 in a HTTP Azure Function.

The link returns the same response as I am having... I get a token back but still get the ANONYMOUS NOT ALLOWED error message?

I'm confused though, the article referenced says NOT SUPPORTED, but the MSDN article where this originates is a walkthrough on how to implement in .NET CORE?

[2019-09-06 11:35] jwatkin commented on #38414
Thank you for your help.

Before I proceed, later this morning I'm going to test our QnA Maker knowledge base within a newly created set of QnA Maker resources under our enterprise Azure portal. Currently, I've been testing within my individual-dev Azure portal created with my Visual Studio credits, and those QnA Maker resources were created a while ago.

If the problem persists in this new enviro

[2019-09-06 11:52] cephalin commented on #25810
@dcbrown16 I've fixed the PowerShell script and the update should be published sometime today. Thank you. #please-close

[2019-09-06 11:52] #25810 closed

[2019-09-06 11:58] VNJoe opened #38438 "Reopen #38230"
See my issue 38230. Any platform where issues can be closed without an appropriate response from person opening the issue is garbage. As a Microsoft Partner, I do not appreciate my issues being summarily closed without an opportunity to respond, nor that I cannot personally re-open my own case.

That said, I'm impacted by a service I didn't purchase and need to get answers.

[2019-09-06 12:02] jakaruna-MSFT commented on #38433
@AL71B Thanks for your question.
The 2 in "standard_b2ms" refers to the RAM size in Gb.

@ayshakeen Do we have the segregation of B series based on generation?

[2019-09-06 12:21] ewahner commented on #32340
Uh so what about us idiots using VS 2019?

[2019-09-06 12:34] AshokPeddakotla-MSFT commented on #38250
@BhupalPatil Please check the documentation [Trace Azure IoT device-to-cloud messages with distributed tracing (preview) ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-distributed-tracing) and see if it helps. You can also use [Device Explorer for IoT Hub devices](https://github.com/Azure/azure-iot-sdk-csharp/tree/master/tools/DeviceExplorer) to monitor messages from your devices, and se

[2019-09-06 12:34] #38250 closed

[2019-09-06 12:47] VNJoe commented on #38230
I appreciate reopening this.  I still do have the effect of this feature impacting my tenant even though I haven't purchased or set it up in the tenant, so it's still an issue.  It ought not impact my tenant if it's not been purchased.  Thank you

[2019-09-06 12:58] ManojReddy-MSFT commented on #38230
@VNJoe During the Public preview certain capabilities are available in all Editions of Azure AD. Can you help me understand how it is impacting the users? AFAIK, these reports are just for the administrators to review.

Ref: https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-v2#licensing

[2019-09-06 13:00] ManojReddy-MSFT commented on #38438
@VNJoe I have reopened #38230 and will continue our conversation there.

[2019-09-06 13:00] #38438 closed

[2019-09-06 13:00] RyanHill-MSFT commented on #38192
Hi @JoeBrockhaus wanted to follow up to see if you were able to utilize your private nuget feed in your CI/CD pipeline.

Let us know.

[2019-09-06 13:04] SubhashVasarapu-MSFT commented on #38160
@nehatiwari1994, Thanks for your feedback. We will look into your feedback for updating the document. @vhorne, Could you please update the document if needed in this scenario.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-06 13:04] #38160 closed

[2019-09-06 13:07] langstonj commented on #38375
I should have searched explicitly on Teams (your example) rather than simply look under All in the listed options.

[2019-09-06 13:07] #38375 closed

[2019-09-06 13:07] ayakimov commented on #33099
We have our own backend which should talk with Azure AD. If i press test button on saml tab my non-galery app i see in log correct request from MS side to us. But then i open Login url I see the same issue as topic starter.

[2019-09-06 13:11] jeevansd commented on #38251
@MarileeTurscak-MSFT I dont think the Cognito URLs will work here. Amazon do not provide this option in the AWS Identity Provider configuration. So we will raise this as a feature request with them.

[2019-09-06 13:11] jeevansd commented on #38251
#please-close

[2019-09-06 13:11] #38251 closed

[2019-09-06 13:14] iAmSaugata commented on #38251
@jeevansd
Thanks for sharing the update.

[2019-09-06 13:19] emrmarvin opened #38439 "The image 'registryname/repo:v1' in container group 'group-name' is not accessible. Please check the image and registry credential."
I was trying to create the container instance with my existing image in the registry thru Azure cli, I supplied the keyvault credentials and all but it throws this error "The image 'registryname/repo:v1' in container group 'group-name' is not accessible. Please check the image and registry credential." I even upgrade the firewalls and virtual networks to premium, to check if this causes the issue.

[2019-09-06 13:30] fvalentiner commented on #37499
@patrickgalbraith Thank you. You did help a lot

[2019-09-06 13:30] djburnham commented on #31027
Hi @mayurpuli
Do you know if its possible to simply write to an Azure SQL Database from an Azure Python function ? One can use pyodbc in the python function code - but I don't think the underlying ODBC drivers (on which the pyodbc module relies) are installed.
Many thanks in advance of your help.
Kind regards,
                         David.

[2019-09-06 13:37] MGoedtel commented on #38362
@ROSSMITHJ-MSFT - I reached out to the PG yesterday to discuss this so we can review and determine how to best address your feedback.  #in-progress

[2019-09-06 13:53] xSilverboltx opened #38440 "AKS base image and security scanners"
Please add in a section or additional information to the security issues and patching section regarding false positives or generic vulnerability information produced by 3 party scanners for customers that may want the base AKS image to be harden or altered.

https://docs.microsoft.com/en-us/azure/aks/support-policies#security-issues-and-patching

I do understand that the unsupported section does h

[2019-09-06 14:05] NavtejSaini-MSFT commented on #38345
@olofhellman If there is no further question we will go ahead and close this thread.

[2019-09-06 14:06] lawrencedwight commented on #11624
The article is still not correct. It is still indicating you can use the SHA-1 thumbprint/fingerprint provided on the Azure portal. Azure portal should display the SHA-256 thumbprint/fingerprint or instructions need to be updated to show how this can be done outside of the portal.

[2019-09-06 14:08] JohnD76 opened #38441 "You currently cannot assign a Private IP address to the front end of an AppGW V2 SKU"
Which needs to be documented under this section:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm#internal-load-balancers-ilb--application-gateways

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c7626c7-1ea9-61ff-2219-2da2ef254524
* Version Independent ID: e4bdb3a5-8c89

[2019-09-06 14:20] jaymins93 opened #38442 ".net core"
this example is not working on .net core till step 2 https://docs.microsoft.com/en-us/azure/virtual-machines/windows/csharp#create-the-management-client when executing it on .net core we are facing authentication issue , can some one help for it asap, Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2687c250-ac81-

[2019-09-06 14:20] Jonathan-DENG commented on #37760
sorry I still meet the same problem'Only numeric values are allowed'. I don't know what kinds of data text file should I upload, I have tried to transfer my data (Chinese characters) into UTF-8-BOM, but it is still go wrong.

[2019-09-06 14:23] loftyet commented on #37949
Do we have any update on this?

[2019-09-06 14:23] jhueppauff opened #38443 "MFA Free or Office365 for non-AzureAD Admins in Azure Portal"
Hi,

I am struggling to understand if Office365 Tier enables you to activate MFA for the Azure Portal for non-Azure AD Admins?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independent ID: da9dcdd2-70d4-e08e-18f2-6e6a1489937a
* Content: [Azure MFA versions and con

[2019-09-06 14:34] rpurcelldesj commented on #37612
Same here, we're interested to know if this feature is really GA or still in preview!

[2019-09-06 14:36] SumanthMarigowda-MSFT commented on #38057
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata since  it's not directly related to the documentation. We'll

[2019-09-06 14:36] #38057 closed

[2019-09-06 14:38] giovannifl opened #38444 "ASR supports ADE v1 or ADE v2 or both ?"
Please could you clearly confirm which version of Azure Disk Encryption (ADE) is currently supported by ASR replication feature ?
Note section at the top of the page says "Azure Site Recovery currently supports only Azure Disk Encryption-enabled VMs that run a Windows OS. Azure Disk Encryption-enabled VMs without Azure AD app are supported only if they are using managed disks. "

Azure Disk Encryp

[2019-09-06 14:46] ashemedai opened #38445 "Mention tier support"
On other pages, like the `Connect to a virtual network`, there's an Availability block that clearly states which tiers do not have a feature. It would help this page if that was made clear as well for the Consumption and Basic tiers, since they don't support AD integration (as per https://azure.microsoft.com/en-us/pricing/details/api-management/).

---
#### Document Details

⚠ *Do not edit this se

[2019-09-06 14:47] deanbot opened #38446 "Function Proxy Docs - how to keep function auth code out of proxies.json?"
The authorization note in the [reference local functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#reference-localhost) section implies that the code/clientid is added into the proxies.json file (which would be inconvenient to not check into source control). Is this the case?

The notes:

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-09-06 14:47] maviso5 opened #38447 "Identity Providers and Azure B2C - Issues"
Hi,
Following guidance from the following links:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-goog-app
https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

Neither of the documented steps work. With both setups using the templates on GitHub (https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) - both result in a

[2019-09-06 14:48] KonTheCat opened #38448 "Trigger is broken or different in current version of logic apps"
Hello! I am unable to find the trigger mentioned in this article with all the nice additional options for recurrence. It does not have the "Show advanced options" drop-down. Please help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a74141-d842-b9fe-2b09-a355c32aa4df
* Version Independent ID: 5b3c4677-37ab-cc7b-c7e1

[2019-09-06 15:01] NavtejSaini-MSFT commented on #38388
@rootsmusic The result of what is getting created depends on the data source you are using in the additional settings portion of the creation. The values being Sample, Blank and Backup.

When Sample is used it only creates the AdventureWorksLT is created.
![Sample](https://user-images.githubusercontent.com/52257742/64437750-db084400-d094-11e9-8388-40505241cf5a.JPG)

When you use the blank as the o

[2019-09-06 15:01] #38093 closed

[2019-09-06 15:03] MicahMcKittrick-MSFT commented on #33821
@mlearned I have assigned this one to you if you could take a look :)

[2019-09-06 15:04] zr-msft commented on #18347
The documentation has been updated to remove the warning that was unclear.

#please-close

[2019-09-06 15:04] #18347 closed

[2019-09-06 15:09] zr-msft commented on #31818
Closing this issue. Please reopen if you have any further feedback or issues with this.

#please-close

[2019-09-06 15:09] #31818 closed

[2019-09-06 15:12] MGoedtel commented on #38151
I have created a set of descriptions for each metric listed in the table under the View metrics in metric explorer section and confirmed with the PG that they are good.  Created PR this morning and updated the article, and it should go live later today.

#please-close

[2019-09-06 15:12] #38151 closed

[2019-09-06 15:12] MicahMcKittrick-MSFT commented on #37612
adding @sauryadas @jluk if either can confirm

[2019-09-06 15:16] MGoedtel commented on #37243
@gradinDotCom - let me investigate this to confirm and discuss with PG since these commands were valid at time of publishing and we've not heard any similar issues from other parties.  #in-progress.

[2019-09-06 15:17] erhopf commented on #33348
@ArcherAZ - Can you please review this issue.

[2019-09-06 15:18] markjbrown commented on #38284
We have a fix for this sample in a PR now that is being reviewed. Should be released shortly. Thank you for reporting this.

#please-close

[2019-09-06 15:18] #38284 closed

[2019-09-06 15:20] erhopf commented on #33348
@theconnectionist - Here's the link to Custom Speech portal. We agree with you that there are some gaps, the link only appears on the page [get started with custom speech](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-speech). We've created work items to investigate and make updates accordingly.

Here's the link to the Custom Speech portal, where you can wo

[2019-09-06 15:26] DixitArora-MSFT commented on #38445
Hi @ashemedai Thanks for your feedback. We will review and update as appropriate.

[2019-09-06 15:28] sauryadas commented on #37612
That announcement has now been taken down.. Plan to GA in the 3rd week of Sept

[2019-09-06 15:28] MicahMcKittrick-MSFT commented on #38442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 15:29] MicahMcKittrick-MSFT commented on #38440
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @mlearned

[2019-09-06 15:29] DixitArora-MSFT commented on #38448
Hi @KonTheCat  Thanks for your feedback. We will review and update as appropriate.

[2019-09-06 15:30] MicahMcKittrick-MSFT commented on #37612
Thanks @sauryadas

@juyama I will go ahead and close this out. once we go GA we will update this doc as well :)

[2019-09-06 15:30] #37612 closed

[2019-09-06 15:30] MicahMcKittrick-MSFT commented on #38439
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 15:34] DixitArora-MSFT commented on #38153
@brettsam Just following up again in case missed the previous communication.

[2019-09-06 15:35] SamRakaba opened #38451 "Required ports and addresses for AKS clusters"
after I registered my feature provider, I created a cluster and it seems that it was still needed
acs-mirror.azureedge.net
to successfully provision.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict eg

[2019-09-06 15:36] emrmarvin commented on #38439
I fixed the issue by using the container credentials, I used the access keys instead of the key vault secret keys.

[2019-09-06 15:37] NavtejSaini-MSFT commented on #36726
@bonova We have raised the PR https://github.com/MicrosoftDocs/azure-docs/pull/38450 for making this change. Please approve.

[2019-09-06 15:39] TheFrogPrince opened #38452 "Hoping to see a magic tag (like "Any") called "Azure""
We've been tasked with securing our non-prod environments by IP address.  We did this (to allow access only from our two buildings), but after the rules were applied, no site in Azure could access any of the other sites from the server side.  We also had logic apps that were calling web functions, and those started failing too.  Adding rules to cover every possible IP range that Azure could use in

[2019-09-06 15:41] NavtejSaini-MSFT commented on #38284
@markjbrown Thanks for confirming before I created another Pull Request.

[2019-09-06 15:43] MicahMcKittrick-MSFT commented on #38399
@amalik99 I will go ahead and close this out. If you are still having issues please open a new issue directly on the document you are having problems with so we can better assist.

[2019-09-06 15:43] #38399 closed

[2019-09-06 15:46] NavtejSaini-MSFT commented on #38119
@zainuvk We are going ahead and closing this thread if there are no further questions. Please get back to us if you have any.

[2019-09-06 15:46] #38119 closed

[2019-09-06 15:48] jeevansd commented on #38356
@chetansriv and @v-nagta @v-viinde Can we make these changes in the article?

[2019-09-06 15:55] NavtejSaini-MSFT commented on #36295
@jovanpop-msft @stevestein Please help us with this thread.

[2019-09-06 15:59] spelluru commented on #12692
@sistoimenov - I have tried these commands in the Cloud Shell in Azure portal and they worked fine for me.

Cloud Shell - PowerShell
================
I tried the following command in the PowerShell cloud shell and it works – Note the use of the backtick (`) before the $ in $expand (i.e. `$expand):

az lab vm show --resource-group labRgName --lab-name labName --name vmName --expand "properties(`$ex

[2019-09-06 16:00] neeleshray-msft commented on #38419
@goamn Thank you for your feedback. We will investigate and update the document appropriately.

[2019-09-06 16:01] neeleshray-msft commented on #38419
@MarkusVi
Markus, could this be verified and changed if incorrect ?

[2019-09-06 16:03] neeleshray-msft commented on #38427
@MaikuMori Thank you for your query. We will investigate and update the thread.

[2019-09-06 16:05] MicahMcKittrick-MSFT commented on #38451
@SamRakaba can you share the error you were getting during provisioning prior to adding

[2019-09-06 16:05] neeleshray-msft commented on #38436
@Oppedijk Thank you for your feedback. We will investigate and update the document accordingly.

[2019-09-06 16:06] MicahMcKittrick-MSFT commented on #38361
I will go ahead and close this out. If you have further issues just let me know and we can always reopen and continue the discussion.

[2019-09-06 16:06] #38361 closed

[2019-09-06 16:07] neeleshray-msft commented on #38436
@ajayanti1 Aruna, could these be verified and added to the documentation as necessary ?

[2019-09-06 16:08] ggailey777 commented on #38401
@ptuton you shouldn't need a function key to access an HTTP trigger when running locally. Are you trying to run locally inside your docker container, or just from the Core Tools command prompt?

[2019-09-06 16:08] neeleshray-msft commented on #38437
@Oppedijk  Thank you for your feedback. We would check and update the document as necessary.

[2019-09-06 16:09] neeleshray-msft commented on #38437
@ajayanti1 Aruna, could these be rectified in the document ?

[2019-09-06 16:09] MicahMcKittrick-MSFT commented on #38373
Adding @dkkapur @masnider as well

[2019-09-06 16:11] KetanChawda-MSFT commented on #38401
@ggailey777 from the logs in the OP it seems @ptuton is try running function inside the docker container.

[2019-09-06 16:13] neeleshray-msft commented on #38435
@Oppedijk  Thank you for your feedback. We would check and update the document if necessary.

[2019-09-06 16:13] ggailey777 commented on #32340
@mike-urnun-msft this article has already been revised for Visual Studio 2019.
@ewahner I assume then that this note wasn't particularly helpful?
![image](https://user-images.githubusercontent.com/1388263/64443317-7e059180-d086-11e9-94bd-d804abad9418.png)
I'll update it to be clear that you don't need this for 2019.

[2019-09-06 16:14] neeleshray-msft commented on #38435
@ajayanti1 Aruna, could you check if Windows 10 Enterprise E5 needs to be added to the document ?

[2019-09-06 16:14] jivinstev opened #38455 "Link for Cost Recommendations is incorrect"
In the "Next Steps" section, The "Advisor Cost Recommendations" link links to the performance page (https://docs.microsoft.com/en-us/azure/advisor/advisor-performance-recommendations), not the cost recommendations page (https://docs.microsoft.com/en-us/azure/advisor/advisor-cost-recommendations). Not a big deal just fyi.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-09-06 16:15] DeanGross commented on #38178
![image](https://user-images.githubusercontent.com/4058555/64443471-f0cf3680-d09f-11e9-829d-58fa4b5770c7.png)

[2019-09-06 16:20] ggailey777 commented on #38401
Thanks @KetanChawda-MSFT that was my guess. Unfortunately, running in the docker container is like running in Azure, and a function key is required. Since the function app doesn't exist yet, there's no key to provide at this point. Rather than have folks create an anonymous endpoint just to run locally in the container, I'll add a note that spells this out more clearly.

[2019-09-06 16:22] MicahMcKittrick-MSFT commented on #38439
@emrmarvin I ran through this doc and was able to get it working as written.

one thing I did miss was this step:

[code]

I found that out by going to my KeyVault and looking at the secrets. I found I only had a secret for acr-pull-pwd but since I forgot the above command I did not have a secret for acr-pull-usr

After running that command I found I had two secrets in my keyvault and I was able t

[2019-09-06 16:27] PramodValavala-MSFT commented on #38124
@kevin808 Just following up here... Hope my previous comment clears things up.

[2019-09-06 16:27] PramodValavala-MSFT commented on #38338
@PawandeepK001 Just following up here... Hope my previous comment clears things up.

[2019-09-06 16:35] RyanHill-MSFT commented on #38336
Hi @Ben67366, I checked the actual source to [New-AzWebAppSlot](https://github.com/Azure/azure-powershell/blob/master/src/Websites/Websites/Cmdlets/DeploymentSlots/NewAzureWebAppSlot.cs) and you will need to use the `AppSettingsOverrides` option. Unfortunately, I didn't see a cmdlet that would allow you to retrieve the app settings from the webapp that you want to create a slot on. Which means you

[2019-09-06 16:37] zr-msft commented on #18348
I believe this is no longer an issue. Please reopen if you continue to see issues.

#please-close

[2019-09-06 16:37] #18348 closed

[2019-09-06 16:39] zr-msft commented on #35159
This has been fixed per: https://github.com/Azure/dev-spaces/issues/138#issuecomment-528909318

#please-close

[2019-09-06 16:39] #35159 closed

[2019-09-06 16:42] KetanChawda-MSFT commented on #38446
@deanbot  Thank you for your question! We will review and provide an update as appropriate.

@alexkarcher-msft can you share your thoughts here?

[2019-09-06 16:45] IEvangelist commented on #38369
Hi @SpicySyntax,

I'm going to close this issue for now, as we are tracking it internally. I'll let you know when the docs are updated -- but to answer your question more directly, there are many options. Here was some of the immediate feedback from the engineering team:

Thanks again for the suggestions 👍
#please-close

[2019-09-06 16:45] #38369 closed

[2019-09-06 16:54] KrishnaG-MSFT commented on #38455
@jivinstev Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-06 17:00] Mike-Ubezzi-MSFT commented on #38146
@karthiksubramanians Thank you for this additional detail! I will verify this and make a doc update accordingly.

[2019-09-06 17:02] ggailey777 commented on #38401
Also, @ptuton's title is pretty clear about that 😉

[2019-09-06 17:05] ggailey777 commented on #38401
#reassign:ggailey777

[2019-09-06 17:13] BryanTrach-MSFT commented on #38452
@TheFrogPrince For now, you can use service endpoints to restrict access and allow resources to access your web app. For more information, please check that [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions#service-endpoints).

You can also download [this list of IP addresses](https://www.microsoft.com/en-us/download/details.aspx?id=41653), and add the necessary

[2019-09-06 17:14] jackchenquest commented on #38402
Seems to be a CIFS file system restriction, the storage account I am trying to upload is a Azure Files service. It could be inherited from Windows OS : : https://docs.microsoft.com/en-ca/windows/win32/fileio/naming-a-file , CON is a reserved name in Windows, but it's legit in Linux.

[2019-09-06 17:16] anirudhcavale commented on #28457
@tars400 the diagnotic settings on Linux VMs don't support the azure monitor sink yet, so yes metrics collected by it will not be queryable via the REST API.
For Linux VMs if you'd like to collect guest metrics and have them queryable via the REST API, we have customers try: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/collect-custom-metrics-linux-telegraf

[2019-09-06 17:19] diberry commented on #37766
#please-close Both the Node.js and C# versions of this tutorial will be fixed and published in 24 hours.

[2019-09-06 17:19] #37766 closed

[2019-09-06 17:21] TheFrogPrince commented on #38452
Thank you, Bryan, for the reply.  That is actually pretty helpful.

Until the network folks come up with a more coherent plan (we’re in the process of converting to express routes), looks like I’ll be taking your second option and scripting the rules through the rest services.

[2019-09-06 17:21] #38452 closed

[2019-09-06 17:22] jeffwmiles opened #38456 "Clarity on billing for log analytics workspaces"
This page has a question, "Am I billed for Azure Monitor logs on the workspaces created by Security Center?", with an answer of: "No. Workspaces created by Security Center, while configured for Azure Monitor logs per node billing, do not incur Azure Monitor logs charges."

What if I don't use a workspace created by Security Center, but instead a centralized workspace? Will I still be charged for t

[2019-09-06 17:24] jivinstev opened #38457 ""Classic Alerts" retirement still indicated at June 2019"
The "Classic Alerts" retirement notice still indicates June 2019. If this has already retired, it's worth noting, else it's a bit confusing that it mentions a date in the past.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8764e5af-e50f-feba-5c22-47f7441e3ff8
* Version Independent ID: 56c05277-9672-bf97-8841-c8fd44011

[2019-09-06 17:25] BryanTrach-MSFT commented on #38452
@TheFrogPrince I also forgot to add that we are always open to new ideas. We would love for you to share your idea on [Azure Feedback](https://feedback.azure.com/forums/169385-web-apps). The product group reviews new items weekly on the site for ideas on what to implement next. I would highly suggest requesting a feature that allows you to allow all Azure IPs as originally stated in your post as t

[2019-09-06 17:26] rohitnayakmsft commented on #38434
No - Azure networking will detect that your traffic originates within Azure and will connect to the Gateway 104.211.160.80 without the traffic going outside Azure  network

[2019-09-06 17:29] themistoklis84 commented on #38398
@KranthiPakala-MSFT
Also after retrieving the mount of data line by line i get the error message (seen below) and i cant connect again to Xero account. I have to wait for 24 hours before i connect again.

ERROR [HY000] [Microsoft][Xero] (100) Error parsing JSON: Invalid value. while parsing string oauth_problem=rate%20limit%20exceeded&oauth_problem_advice=please%20wait%20before%20retrying%20the%20

[2019-09-06 17:34] sudhirap commented on #38403
@AnlauTriCloud Is there a specific issue that you are seeing? Before PutBlob we check if the blob exists or not and hence you se that in the logs.

[2019-09-06 17:45] Karishma-Tiwari-MSFT commented on #38314
Thanks @Potapy4
@laurenhughes @dlepow Can either of you please help confirm the repo link for the following section in the doc:

[2019-09-06 17:48] ggailey777 commented on #38217
@DixitArora-MSFT if this is a requirement, we need to document it in the prerequisites section.
@fernandoBRS, are you saying that your installation of Python 3.x on the Windows Subsystem for Linux didn't include venv?
@kulkarnisonia16 do you know if there any other scenarios where venv isn't available with Python 3.x?

[2019-09-06 17:51] MarileeTurscak-MSFT commented on #38443
@jhueppauff
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-06 17:52] MarileeTurscak-MSFT commented on #38447
@maviso5
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-06 17:52] MarileeTurscak-MSFT commented on #38456
@jeffwmiles
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-06 17:56] bbentley19 opened #38458 "The two hyperlinks marked Azure Portal go to different places"
One link goes to https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account?tabs=multiservice%2Cwindows and the other goes to https://ms.portal.azure.com . This is potentially confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af826396-0492-1f0f-1fd0-09eaf166847c
* Version I

[2019-09-06 18:00] alexkarcher-msft commented on #38446
Hello,

You can store that code in an application setting in your application. That setting is stored in Azure with your app and encrypted at rest.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#use-appsettings

[2019-09-06 18:02] femsulu commented on #38014
@xizhengszhang, discussed internally with the content owner, @sdubeymsft and he will be updating the doc soon. More importantly, this update is less relevant now as Studio natively supports cloud selections. Thanks again for catching this.

[2019-09-06 18:02] #38014 closed

[2019-09-06 18:04] asinn826 commented on #38337
@dcbrown16 - thanks for the feedback! I have updated the docs to include references to the RHEL 7.7 images. You're correct in that we didn't quite hit our 3 day goal for having RHEL 7.7 images available after release though. The image building work changed hands recently and the new team is ramping up. Hopefully this process is smoother going forward.

[2019-09-06 18:05] AnlauTriCloud commented on #38403
Yes, I apologize. The files are not uploaded to the remote storage account. I assumed it was caused by the "Blob not found" error, but it seems that the issue might be caused by something I initially missed.

I configured the module according to the documentation, but the configuration is not picked up according to the log message. If I put the secrets directly in the template, it makes no differe

[2019-09-06 18:07] dbrokaw-apptio opened #38459 "Do savings estimates include EA discounts?"
As the title says -- it would be great if you could clarify whether the savings estimates include EA discounts when estimating the amount you would pay for reserved or differently-sized instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a

[2019-09-06 18:14] rbrundritt commented on #38422
I've reached out to our PM for the services and they will respond on this thread shortly.

[2019-09-06 18:14] unstephenk opened #38460 "Documentation on using x509"
Please include documentation on using x509 certs for automatic provisioning on a Linux box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge on Linux](https://docs.microsoft.com/en-us/azu

[2019-09-06 18:17] sharma-pankaj commented on #38146
It looks like auth token generated for the root endpoint is not correct. Can you please try with empty string for resource type and resource id? If you still run into issue, I will pull in more folks who can help with this.

[2019-09-06 18:24] southpolesteve commented on #38249
Here is an example of this from the tests: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/cosmosdb/cosmos/test/functional/offer.spec.ts#L91-L99

In node you need to pull the offer associated with the collection

[2019-09-06 18:27] Karishma-Tiwari-MSFT commented on #38405
@JustinGrote I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87673
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-06 18:27] #38405 closed

[2019-09-06 18:31] Mike-Ubezzi-MSFT commented on #35167
@andyTheCoder Serverless databases cannot be created in UK North (a national cloud) but can be created in North Europe. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-06 18:31] #35167 closed

[2019-09-06 18:41] jjghali opened #38461 "Download a BAK or BACPAC file from a SQL Backup in recovery vault"
Hi,
 I have a SQL Server database installed on a Azure VM and I use Recovery vault for the database backup.  Is there a way to download a database backup from Recovery vault? If not, is this feature planned? for recovery vault?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142ddb2b-65ef-10f4-0e68-f9af6f0e3d52

[2019-09-06 18:41] Nickomang commented on #29429
@solidcloudio Thanks for bringing this to our attention. The commands for this doc (and a few others) have been updated to reflect the new Powershell module for Azure Key Vault. We'll consider this issue closed, as always please open another if you have any problems.

Thanks,
Nick

#please-close

[2019-09-06 18:41] #29429 closed

[2019-09-06 18:46] sudhirap commented on #38403
It looks like you are using IoT Edge simulator. Please configure environment variables as follows for the blob upload to work (substitute with your configuration as appropriate).

deviceToCloudUploadProperties__uploadOn=1
deviceToCloudUploadProperties__uploadOrder=OldestFirst
deviceToCloudUploadProperties__cloudStorageConnectionString=<your storage connection string>
deviceToCloudUploadProperties_

[2019-09-06 18:50] MicrosoftGuyJFlo commented on #38311
Sounds like your Azure AD Connect instance is not healthy.

The description for Event ID 31034
PasswordResetService cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You can install or repair the component on the local computer.

[2019-09-06 18:50] bbentley19 opened #38462 "Links open on page instead of new tab"
Please have links open in a new tab instead of on the same page. Having someone try and do informative readings or extended processes and then find their way back to the documentation is painful. For example, if I am reading this page and click the Azure portal link to create a new resource, it opens in the same tab and once I'm done creating my resource I have to find this page again to remember

[2019-09-06 18:52] bbentley19 opened #38463 "Model frequency update screenshot does not match instructions"
Model update frequency screenshot details do not match what you're instructing someone to do, i.e. change the frequency to 10 minutes. The screenshot has 1 hour 7 minutes. There's a strong chance that someone will not read the text and will update based on the screenshot instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-06 18:55] CarlosJoseChaconChavarria opened #38464 "copy script Copy-keys.ps1 is too much hassle - Replicating encrypted disk"
hi guys

I was doing this and the script stuff is too much hassle just download the key and import it in the secondary key vault region and modify your replicas using the key

you can optionally add that option in the documentation which is much easier and less chances to make an error... I open the script and is big and scary just downloading and importing makes you life easier

https://docs.micr

[2019-09-06 18:58] rscottwatson opened #38465 "Where do we create standalone subscriptions?"
I was trying to create a standalone subscription in the portal and I cannot seem to do so as I always have to associate it with a user.  What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18ed-6d13-6fac-7b6c-f78f47b0f754
* Content: [Subsc

[2019-09-06 19:02] MaikuMori commented on #38427
The workaround that I found and documented here: https://github.com/coreos/go-oidc/issues/212#issuecomment-528805306 only works for the personal Microsoft account sign-in.

I still believe that the metadata server is not working according to OIDC spec and should never return issuer with value: `https://login.microsoftonline.com/{tenantid}/v2.0`. It even looks like a bug.

Obviously changing the ou

[2019-09-06 19:09] damart23 opened #38466 "Confirmation required on Configuration Instruction when they are blank."
Hello, We see different message under the configuration instructions: Supported, Not compatible, Coming soon, etc.

However, there are some cases in which there's only a blank space. What does this mean? Is it supported or is it not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
*

[2019-09-06 19:19] kind-serge opened #38467 "How to find the {tenant-id} for a personal MS account?"
I couldn't find any example on how to find the {tenant-id} in the first place before sending any auth requests. I have an Azure tenant created with my personal MS account (live.com) which I use to log in to Azure Portal. However, there are no examples of how a multi-tenant AAD app can access another tenant when a user logs in with a personal MS account.

Using https://login.microsoftonline.com/com

[2019-09-06 19:22] femsulu commented on #38444
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-06 19:22] akramwaseem opened #38468 "Add ARM templates to the page"
Hi,
This documentation is very helpful, but if you can add ARM templates on how it can be done using them would be more useful and helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f95793-d856-c29e-6d2c-d8145632898b
* Version Independent ID: 98ae91ae-473c-f4da-a50a-a8ce432fa95a
* Content: [Create performance al

[2019-09-06 19:25] femsulu commented on #38457
@jivinstev Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-06 19:26] femsulu commented on #38459
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-06 19:28] femsulu commented on #38461
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-06 19:30] femsulu commented on #38461
@dcurwin - Fyi

[2019-09-06 19:32] AnlauTriCloud commented on #38403
So they should not be set in the deployment template when using the IoT Edge simulator?
Do you mean the .env file, or?

[2019-09-06 19:32] qianw211 commented on #36831
#please-close This issues is now tracked, and we'll update the docs.  Thanks!

[2019-09-06 19:32] #36831 closed

[2019-09-06 19:35] JeffMill commented on #38392
No, I’m stating that the C documentation is referring to C# concepts.  “Program.cs” is a C# source module, not a C source module.

From: Alberto Vega <notifications@github.com>
Sent: Thursday, September 5, 2019 5:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff Miller <Jeff.Miller@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs

[2019-09-06 19:36] #38345 closed

[2019-09-06 19:40] TravisCragg-MSFT commented on #38441
@JohnD76 It is possible to have [Private IPs attached to V2 SKU App Gateways](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#differences-with-v1-sku) but only if there is also a public IP attached as well.

Having only a Private IP attached to an app gateway is called "ILB only mode", and this is not supported on App Gateway V2.

We will n

[2019-09-06 19:40] #38441 closed

[2019-09-06 19:47] RyanHill-MSFT commented on #32766
Thanks for the feedback @RDESA15. Not sure what happen @ccompy so I've created another PR.

[2019-09-06 19:48] GiantCrocodile opened #38470 "Snippets/code editor for the examples is broken"
The code snippets/code editor for the examples is broken. It only shows 3/4 of the source code snippet. I'm having this issue with latest Firefox.

See this screenshot (code lines of the try{} block are missing):
![grafik](https://user-images.githubusercontent.com/6271057/64456263-1a17b300-d0f0-11e9-80d1-a75826725427.png)

There is no scrollbar, not even when I scroll horizontal. Arrows on the key

[2019-09-06 19:51] GiantCrocodile commented on #38462
Same here; spotted this on other pages too and it's really annoying.

[2019-09-06 20:05] MGoedtel commented on #37243
I've confirmed with engineering that we need to update the CLI examples.  I'm bugging this and will address early next week.  #in-progress.

[2019-09-06 20:05] YutongTie-MSFT commented on #38462
@bbentley19  @GiantCrocodile  Thank you guys for the feedback, I have assigned it to @Powerhelmsman for reviewing.

[2019-09-06 20:06] TravisCragg-MSFT commented on #38466
@damart23 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-06 20:07] YutongTie-MSFT commented on #38458
@bbentley19
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 20:08] YutongTie-MSFT commented on #38463
@bbentley19
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry
Hi Dina, could you please check this feedback and update the document as necessary? Thank you.

[2019-09-06 20:11] JoeBT opened #38471 "What is Data Drift ? good question, but wrong answer..."
Hello,
when I read that "Data drift happens when data served to a model in production is different from the data used to train the model." I am speechless as this is always the case! Actually, I would propose a definition of Data Drift more like: Data Drift occurs when the accuracy of the prediction at time t2 is drifting away from what it was at time t1. This really implies that we are able to pu

[2019-09-06 20:14] MGoedtel commented on #36949
I've pinged @MeirMen again to review/respond.  He just came back from being OOF several weeks and has been catching up.  Thanks.

[2019-09-06 20:19] MGoedtel commented on #35546
I've reached back to the PG and brought this back up to their attention.

[2019-09-06 20:22] ptuton commented on #38401
Additionally, it's worth noting that I'm following the instructions under "Test the image locally", which doesn't work when attempting to "test your function again, this time in the local container using the following URL: `http://localhost:8080/api/myhttptrigger?name=<yourname>`"

[2019-09-06 20:29] csalgo70 commented on #38459
Yes I have the same question. It would be good to know.

[2019-09-06 20:31] MGoedtel commented on #34320
@mortenlerudjordet - Thank you for the suggestion, we will take it under consideration while we review all of our content and prioritize updating articles such as these during our next sprint.  #please-close

[2019-09-06 20:31] #34320 closed

[2019-09-06 20:33] ggailey777 commented on #38401
@ptuton yep, I'm fixing that now. So far, you get the award for finding the best doc bug of the day 😁

[2019-09-06 20:34] yeswps opened #38472 "Is it possible to elect a specific version 'latest' similar to Azure Container Registry?"
It appears in the ARM template, it is possible to use either specific version:
/subscriptions/&lt;subscription_guid&gt;/resourceGroups/&lt;resource_group&gt;/providers/Microsoft.Compute/galleries/&lt;sig_name&gt;/images/&lt;img_name&gt;/versions/&lt;version&gt;

Or use a particular image definition, eg:
/subscriptions/&lt;subscription_guid&gt;/resourceGroups/&lt;resource_group&gt;/providers/Micros

[2019-09-06 20:34] #38401 closed

[2019-09-06 20:38] csalgo70 opened #38473 "Is there a timeline by when EA apis would be deprecated and all need to move to MCA?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-09-06 20:45] TiloGit commented on #24595
any update on this?

[2019-09-06 20:46] MarileeTurscak-MSFT commented on #37949
Hi @loftyet ,

I'm sorry for the late reply! I was looking into this with the product team.

You should be able to do it via Graph API. https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-approleassignments?view=graph-rest-beta&tabs=http

One person said in the [Github comments t](https://github.com/microsoftgraph/microsoft-graph-docs/issues/5534)hat this should work for it.

[code]

[2019-09-06 20:46] MartinJaffer-MSFT commented on #38075
Since I have not heard back, I will assume this answered your question, and will close the issue.  If you have more questions, please let me know.

[2019-09-06 20:46] #38075 closed

[2019-09-06 20:50] MGoedtel commented on #32112
@tripolii31 - Generally speaking, I used a vanilla VM while I wrote this article and it had enough "load" to help the person follow the tutorial and make it fundamentally useful.  With plans underway to replace these tutorials with content that aligns with our new strategy it isn't something that I think needs addressing as I haven't received similar feedback.

Thanks

#please-close.

[2019-09-06 20:50] #32112 closed

[2019-09-06 20:50] devops75 commented on #37097
There is an issue in one of the commands that is there on this technote.  The below command does not work in the Az Cli Command. I think it has to have a set in before ?.

storageConnectionString=$(az storage account show-connection-string \
--resource-group myResourceGroup --name <storage_name> \
--query connectionString --output tsv)

like
set storageConnectionString=$(az storage account show-co

[2019-09-06 20:51] daveRendon opened #38474 "Troubleshooting: Add content to check on the xrdp version"
Tested on ubunty 18.04

sudo apt-get install xrdp=0.6.1-2

Output:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Version '0.6.1-2' for 'xrdp' was not found

Workaround:
sudo apt-get -y install xrdp

sudo systemctl enable xrdp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2019-09-06 20:55] torresdiego commented on #38075
Thanks, I understand now that the staged copy is not mandatory to use port 443. I hope you can update the relevant document.

[2019-09-06 20:55] edwinsummers opened #38475 "Add endpoint for HyperVrecovery manager"
Request to add the mapping for the Public endpoint "*.hypervrecoverymanager.windowsazure.com" to its equivalent Government endpoint "*.ude.hypervrecoverymanager.windowsazure.us".

May wish to verify this endpoint with the appropriate internal team prior to posting. I traced it down while troubleshooting some ASR connectivity. Gleaned this endpoint from the certificate CN of a site that was being b

[2019-09-06 20:56] MGoedtel commented on #34320
@DanniJuhl - in response to your suggestion, follow the guidance in these two articles - https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/parse-text and https://docs.microsoft.com/en-us/azure/kusto/query/parsejsonfunction, which shows how to parse json on the fly.

[2019-09-06 21:00] bbentley19 opened #38476 "Missing code for get_actions() method"
The definition for the get_actions() method is missing from this page. It is in samples (https://github.com/Azure-Samples/cognitive-services-personalizer-samples/blob/master/quickstarts/python/sample.py) but if someone is just following this page they won't see it and the program won't work without it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-09-06 21:03] markjourdan commented on #37847
@ryanHill-MSFT I'm experiencing the same problem. Please let me know as well when the document is corrected. Thanks

[2019-09-06 21:04] YutongTie-MSFT commented on #38471
@JoeBT
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cody-dkdc Hi Cody, could you please check this issue and update the document if needed? Thank you very much.

[2019-09-06 21:05] YutongTie-MSFT commented on #38476
@bbentley19
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 21:11] maertendMSFT commented on #24595
Thanks for reaching out!

Mounting storage requires root access in Linux.  Cloud Shell does not provide root access in the container, so this is not a supported scenario.

Please add this as a feature request on https://aka.ms/cloudshell/feedback so we can evaluate it in the future.

[2019-09-06 21:12] MicahMcKittrick-MSFT commented on #38473
@csalgo70 please provide us with a link to the documentation you are following so we can better assist.

[2019-09-06 21:13] MicahMcKittrick-MSFT commented on #38474
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 21:15] MicahMcKittrick-MSFT commented on #38472
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-06 21:18] cloudysingh opened #38477 "Documentation Error : 'DependOn' written instead of 'DependsOn'"
Under the 'configure dependency' section, right below the diagram, 'DependOn' is written. It should be 'DependsOn'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255db119-3d96-f4de-a2bb-c90f782b883d
* Version Independent ID: f769af8b-63af-42ba-0ebc-933ade25645e
* Content: [Create linked Azure Resource Manager templates

[2019-09-06 21:27] rootsmusic commented on #38388
@NavtejSaini-MSFT, please clarify the [section header](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started?tabs=azure-portal#create-a-single-database)  that its section is to "create a single database using AdventureWorksLT".  I also suggest adding another section about using backup data sources (I was looking to learn how to create a single database from t

[2019-09-06 21:37] alexkarcher-msft commented on #38446
I believe the note you're talking about is just a reminder that in general you will need to provide credentials to connect to a secured function, even if the proxy is in that same note.

I don't know why that placeholder name was chosen.

Updating the doc to recommend using application settings is a fair ask. We'll get the doc updated to reflect that.

[2019-09-06 21:39] aakashjollyMS opened #38478 "Youtube video link broken"
Video link explaining how to use azure monitor for containers is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac3c529f-fe57-558f-bd90-02162ff531e8
* Version Independent ID: 8300d958-120e-16c1-09cc-29740e6fae00
* Content: [Overview of Azure Monitor for containers](https://docs.microsoft.com/en-us/azure/azure-mo

[2019-09-06 21:45] alexkarcher-msft commented on #38446
Changes are in this PR and should be published on Monday
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87712

[2019-09-06 21:48] walsehgal commented on #38407
@jimbobbennett, thanks for the suggestion and we are looking into this.

[2019-09-06 21:52] sarahlume commented on #35466
@Weatwagon, currently CTS only support the DDK provided by Roobo
https://ddk.roobo.com/ because of the Microphone array geometry restrication

[2019-09-06 21:55] djpmsft commented on #34745
@hrana007 Was Mark able to answer your question? If you are still having issues feel free to reopen this .

Thanks,
Daniel

#please-close

[2019-09-06 21:55] #34745 closed

[2019-09-06 21:56] MarileeTurscak-MSFT commented on #38379
Hi @poortom1004 ,

You need to be a global administrator to do this since it is modifying a directory security setting.

+ @MicrosoftGuyJFlo for visibility.

We will proceed to close this out but let me know if you have further questions.

[2019-09-06 21:56] #38379 closed

[2019-09-06 21:58] FrankHu-MSFT commented on #38447
Hey @maviso5 you are absolutely right, and thanks for letting us know about this. There are some issues with the b2c docs and we're working diligently to improve these docs as quickly as possible.

[2019-09-06 21:58] NavtejSaini-MSFT commented on #38388
@rootsmusic Currently the restore from .bak files is not supported for the Azure SQL single DB. If you use the Sample Data source while creation it will always create the AdventureWorksLT.
This idea is present in our User Voice channel for Azure SQL. You can up vote the same.
https://feedback.azure.com/forums/217321-sql-database/suggestions/14904228-backup-and-restore-azure-database-to-and-from-ba

[2019-09-06 21:58] #38446 closed

[2019-09-06 22:04] Adam-Smith-MSFT commented on #38470
@GiantCrocodile Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-06 22:08] Adam-Smith-MSFT commented on #38464
@karlochacon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-06 22:25] mhopkins-msft commented on #38470
Hi @GiantCrocodile

This is the complete code snippet. I can see that the opening of a `try` block implies that there should be more code here but you're seeing everything in the document.

If you'd like to see this code in context, I recommend that you download the sample or clone the repo for this sample from GitHub, here: https://github.com/Azure-Samples/storage-blobs-php-quickstart

#please-cl

[2019-09-06 22:25] #38470 closed

[2019-09-06 22:35] GiantCrocodile commented on #38470
Hi @mhopkins-msft!

Thanks for the clarification! I just noticed that when I pressed the copy code button, I misread the ending of the snippet and thus I thought it copies more code than I can see visually. Sorry for the issue then!

Best Regards,

[2019-09-06 22:46] tfitzmac commented on #38024
@syndicatedshannon - sorry for the conflicting information. I have removed the section about roles from this article and instead point to the other article to learn about assigning roles.

[2019-09-06 22:46] tfitzmac commented on #38024
#please-close

[2019-09-06 22:46] #38024 closed

[2019-09-06 22:47] kgremban commented on #38460
Hi @unstephenk, that feature isn't available in IoT Edge yet. It's currently being tested, and you can try it out in the pre-release versions of IoT Edge (https://github.com/Azure/azure-iotedge/releases) if you'd like. Once this feature is released in a stable version of IoT Edge, we'll update the documentation with instructions.

[2019-09-06 23:02] #38477 closed

[2019-09-06 23:06] tfitzmac commented on #38467
@kind-serge - if you are logged in with your personal account, you should be able to see the tenant ID by running either Get-AzContext or az account show

[2019-09-06 23:10] kind-serge commented on #38467
@tfitzmac, the article talks about Web APIs, so using PowerShell or Azure CLI does not help. Any reference to a web endpoint to perform a similar log-in with a custom multi-tenant app?

[2019-09-06 23:20] jhodges10 opened #38479 "Connection reset by peer"
I keep getting `system error: 54 Connection reset by peer` when connecting to an Azure hosted MySQL Server using the settings in this document w/ Python 3.7.0 on OSX.

I'm wondering if it's in some way related to SSL or other encryption settings that aren't mentioned in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-09-06 23:27] KrishnaG-MSFT commented on #38477
@cloudysingh Thanks for the feedback. As per the above details, a PR is raised to update the document as required. The change in the doc should reflect soon as the PR is currently in merged state.
@tfitzmac Thanks for the PR and quick response. :+1:

[2019-09-06 23:36] #38476 closed

[2019-09-06 23:40] axayjo commented on #38472
@yeswps  if you pick the image definition, it'll automatically pick the latest image version in that region (not by timestamp, but by the numerical value of the image version). If you want the users to pick the latest version by timestamp, then name your image versions accordingly - 20190906.0.0 for today's image for example. If you are using the general naming convention like 1.0.0, 2.0.0 etc, th

[2019-09-06 23:42] KingdomOfEnds opened #38480 "Code formatting and last step"
Hi! Thanks for the great documentation! I was a bit confused while going through the last step since it includes a command and the console output. I also went through a couple other documents and noticed that while almost all of them had the language or code tag attached to the code samples, some didn't. Not a big deal but I found some of the code samples to be slightly confusing - for example, C#

[2019-09-06 23:42] SinghDhan commented on #26752
Any update on this issue. I can create custom parameters json file and deploy it once, but If i make any additional changes in DEV (for example add "wait "activity in an existing pipeline) and then publish to adf_publish branch, all custom parameters get overwritten with the default ones. We have to again manually edit the files and deploy. This is not a true CI/CD process. Please advice.

[2019-09-06 23:43] SaurabhSharma-MSFT commented on #38258
@Cepheus0815 The PR for the fix has been created and submitted for author review. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-09-06 23:43] #38258 closed

[2019-09-06 23:53] tesych commented on #38359
@JayaSaiSontineni, thank you for you question. Please checkout our [Azure Kinect Samples] (https://github.com/microsoft/Azure-Kinect-Samples/tree/master/opencv-kinfu-samples) on GitHub as well as GitHub open sourced [Azure Kinect Sensor SDK](https://github.com/microsoft/Azure-Kinect-Sensor-SDK).

[2019-09-06 23:55] robinsh commented on #38480
@KingdomOfEnds thanks again for making these changes. I agree that it can be confusing, and this change will help our other customers as well.

[2019-09-06 23:55] robinsh commented on #38480
#please-close

[2019-09-06 23:55] #38480 closed

[2019-09-06 23:56] outinyman commented on #38422
Hi! Thank you for the feedback. This is data related issue. The response will include the fields if we have those in our database. We have passed the feedback to our data provider to improve the data content. We have also release Azure Maps data feedback site https://feedback.azuremaps.com/. The new site empowers our customers to provide direct data feedback, especially on business points of inter

[2019-09-06 23:59] cawrites commented on #38178
I was specifically looking for this (see below).
<img width="983" alt="contoso" src="https://user-images.githubusercontent.com/54048339/64466516-5c78ca00-d0c7-11e9-8bc6-ae3c2f3b8f13.png">
<img width="552" alt="premium_azure" src="https://user-images.githubusercontent.com/54048339/64466524-68fd2280-d0c7-11e9-94cc-03ca3b919a9b.PNG">

As previously stated premium settings are a requirement.

[2019-09-07 00:11] femsulu commented on #38468
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-07 00:12] EdPrice-MSFT commented on #36614
Thanks Jatinder and Karishma. We've got multiple solutions planned, which include more documentation on the GitHub repo with the scripts, as well as updating the related Docs articles to include info about GlusterFS and the recommended/supported solution from IBM.

Thanks for your help!

[2019-09-07 00:13] femsulu commented on #38475
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-07 00:13] Mike-Ubezzi-MSFT commented on #38434
@chainhead We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-07 00:13] #38434 closed

[2019-09-07 00:15] femsulu commented on #38478
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-07 00:16] mike-urnun-msft commented on #38465
Hi @rscottwatson - Thank you for your feedback! We will review and update as appropriate.

[2019-09-07 00:21] danielsbezerra commented on #38315
After more than a week looking for something, finally found this.

https://roykim.ca/2018/09/06/penetration-testing-your-web-app-with-azure-application-gateway-waf-part-3-log-analytics/

[2019-09-07 00:29] rscottwatson commented on #38465
I tried later and it worked.  Not sure why earlier it was always saying the user was mandatory.

[2019-09-07 00:29] #38465 closed

[2019-09-07 00:30] tfitzmac commented on #38252
@jtracey93 - sorry about that. I have updated both files. The csv is available now, and the article will get published on Monday.

[2019-09-07 00:31] tfitzmac commented on #38252
#please-close

[2019-09-07 00:31] #38252 closed

[2019-09-07 00:32] Altern1ty commented on #38389
So I actually talked to someone at Microsoft about this and they mentioned they usually tell people to compile their mofs in a local environment before uploading them to an automation account.

We'll likely go that route and build the mofs locally with powershell scripts before upload, since compilation jobs in automation seem to have limitations currently. Would love to see more robust functional

[2019-09-07 00:33] #38389 closed

[2019-09-07 00:43] MicahMcKittrick-MSFT commented on #38479
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-07 00:44] #38460 closed

[2019-09-07 00:48] Karishma-Tiwari-MSFT commented on #38308
The best practice is to deallocate the VM before resizing so that no data is lost.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-07 01:02] yushwang commented on #36945
Unfortunately, we could not locate the doc anymore. I'll update the doc to remove the broken link and will contact PA regarding the issue.

#please-close

[2019-09-07 01:02] #36945 closed

[2019-09-07 01:11] jhodges10 commented on #38479
I've updated my original issue with some more details.

[2019-09-07 01:16] yushwang commented on #18765
@MichelZ Very sorry for the long radio silence - unfortunately, we still could not get an updated link from Palo Alto. I've removed the broken link, but currently no other instruction page we can use for now. We are working on that.

#please-close

[2019-09-07 01:16] #18765 closed

[2019-09-07 01:35] yushwang commented on #38466
@damart23 It usually means we (Azure VPN team) had not tested the particular mode for the vendor devices. I've created a Pull Request to fill in the blank with "(not tested)" for now until we get further validation/confirmation.

Thanks for raising the question.

#please-close

[2019-09-07 01:35] #38466 closed

[2019-09-07 01:36] jhodges10 commented on #38479
I think I figured it out actually... It was user error related to a mixup between MySQL Server on Azure and SQL Server on Azure.

[2019-09-07 01:36] #38479 closed

[2019-09-07 01:55] #38411 closed

[2019-09-07 01:56] BryanTrach-MSFT commented on #38411
@milindvb Thank you for the feedback. We added a note that should be public in roughly 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-07 02:13] Jatinder-Luthra commented on #36614
Thanks @EdPrice-MSFT Is there something you have which I can try on my current setup?
I would love to test any changes before you publish it. This is somewhat at priority for us at this time and we will greatly appreciate any help from your side.

[2019-09-07 02:23] DixitArora-MSFT commented on #38153
@piquet-h I have assigned this to content author to further review and update as appropriate.

[2019-09-07 02:50] KrishnaG-MSFT commented on #38480
@KingdomOfEnds Thanks for the valuable feedback and work done.
@robinsh Thanks for the quick response on this one.

[2019-09-07 03:03] KrishnaG-MSFT commented on #38455
@jivinstev Verified and updated the document as required. Thanks.

[2019-09-07 03:03] #38455 closed

[2019-09-07 03:05] KrishnaG-MSFT commented on #38365
@stdistef Verified and updated document as required. Thanks.

[2019-09-07 03:05] #38365 closed

[2019-09-07 03:47] hinchley2018 opened #38481 "Integration with chats"
Wonderful video about how to use and customize the developer portal. Is there a way to integrate Intercom or a salesforce chat into the portal so our users can ask questions or let us know about bugs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-a782-d0cd60a500f3
* Version Independent ID: c0f01676-

[2019-09-07 04:26] djpirra opened #38482 "What if you want to restore multiple bacpac files to different databases?"
Can you please add example on how to perform restore of multiple bacpac files?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63cc6ad1-90e3-4b8c-ff29-025c9e7a115f
* Version Independent ID: c01e28f9-319f-859d-43e7-e08fbc7ec340
* Content: [Import SQL BACPAC files with Azure Resource Manager templates](https://

[2019-09-07 04:47] KrishnaG-MSFT commented on #38482
@djpirra Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-07 05:01] KalyanChanumolu-MSFT commented on #38249
Thank you Steve.
@dralpus Please let us know if you have any further questions on this.

[2019-09-07 06:33] SumanthMarigowda-MSFT commented on #38246
@mcheale-tonik Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-07 07:13] tcbjc opened #38483 "GEO method failover"
I found GEO method can't support failover, but the article show "All Traffic Manager profiles include monitoring of endpoint health and automatic endpoint failover". I want to know if my understand is worry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2baa11a5e8
* Version Independent ID: 39

[2019-09-07 08:17] msrini-MSFT commented on #38483
@tcbjc , Thank you for your feedback. Can you explain why GEO method can't support fail-over?

Even in GEO method, you add probe configuration and add an endpoint. If the probe fails, then that endpoint IP will not be returned when TM is queried.

We always recommend you to add atleast one endpoint with World region so that the fail-over happens to the world if any other region fails.

[2019-09-07 08:19] msrini-MSFT commented on #38481
@hinchley2018 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 08:19] rishtech opened #38485 "Custom Azure AD roles are not getting listed in conditional Access (Directory Roles)"
While creating Conditional Access policy, in the roles condition we can check for Azure AD roles,
Just wanted to verify is there is anything in pipeline to introduce custom RBAC roles of Azure AD as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 649bef7e-a492-d5b1-183a-be12c8994a51
* Version Independent ID: d7954

[2019-09-07 08:30] lesterw1 opened #38486 "Instructions for opening MFA page are incorrect"
There are several _different_ references to how to access the Multi-Factor Authentication (MFA) portal on this page, all of which are wrong. Its actually very difficult to locate the MFA portal page.

(1) Near the top of this page: "*You can access settings related to Azure Multi-Factor Authentication from the Azure portal by browsing to Azure Active Directory &gt; MFA.*" This is incorrect.  There

[2019-09-07 08:46] lesterw1 opened #38487 "Update location of "Conditional Access""
The instructions for locating conditional access "**Azure Active Directory &gt; Conditional Access &gt; Named locations**" should be revised to "**Azure Active Directory &gt; Security &gt; Conditional Access &gt; Named locations**" to reflect the current menu structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84

[2019-09-07 09:28] Juli15Boy opened #38488 "How to manage this telemetry?"
I've been looking for a way to store this telemetry once you can read it from IoT Hub. I've created a lot of things without exti, I thought that It would work with functions as they're waiting for http requests to be triggered but when I send data from Android it won't trigger.
What's the type of the data that are we sending? And how could we store it to blobs or tables? Thanks!

Edit: I've finall

[2019-09-07 11:36] eramitsh opened #38489 "Connection string of event hub is not being used , how its making the connection to event Hub ?"
Event Hub client in node js to consume message from event hub is not working as expected, Azure function is getting trigger and I can see the msg from event hub but when I am opening client to event hub its not showing any message coming through iot-hub to event-hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab0e1

[2019-09-07 12:47] jaiswati opened #38490 "Need help: Exporting Custom Vision as Tensorflow Model"
Hi,

We have followed the tutorial here..
https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/custom-vision-service/export-model-python
every thing works fine except the last piece of code
Couldn't find classification output layer: loss:0.
Verify this a model exported from an Object Detection project.

# These names are part of the model and cannot be changed.
output_layer = 'loss:0'
in

[2019-09-07 14:58] SychevIgor opened #38492 "Update UX from step 5 to reflect current UX"
As of today- we don't need to "Check the box for Analyzer to see language details.", because it's visible by default and this checkbox no longer exist.
Please, remove entire step 5.

Also, update screenshot for step 6, because in current UX- fields are "GREY" to reflect that we can't modify language for index.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-09-07 15:05] SychevIgor opened #38493 "Update text in a navigation to reflect the topic of this article"
Current article is about "how to retrieve language" on 99%, while in a navigation panel it named as "Create a knowledge base in a different language" - this title is not reflection content and need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8121c3c1-b848-2992-5cd5-c4af56ddf98d
* Version Independent I

[2019-09-07 15:08] msrini-MSFT commented on #38490
@jaiswati  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 15:09] msrini-MSFT commented on #38485
@rishtech  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 15:10] msrini-MSFT commented on #38486
@lesterw1  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 15:11] msrini-MSFT commented on #38487
@lesterw1 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 15:11] SychevIgor opened #38494 "Can we use the same Search Service instance for multiple QnAMakers?"
From the documentation it's not clear- can we use the same Search Service instance for multiple QnAMakers or not. Could you explicitly specify it?

On Azure portal- we can't select existing Azure Search instance when creating QnAMaker- it's clear, but it will be nice to highlight this moment in a documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-09-07 15:12] msrini-MSFT commented on #38488
@Juli15Boy , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 15:13] SychevIgor opened #38495 "inaccurate statement about naming"
Following statement is inaccurate
"The Azure Search resource name will begin with the same name as the QnA Maker resource and will have the type Search service."
Maybe it was true earlier, but as of today- we can create QnAMaker and Search with absolutely different names and it will work.

![image](https://user-images.githubusercontent.com/578954/64476705-345a9b00-d19b-11e9-8ca7-f8b4df17a895.png)

[2019-09-07 15:18] msrini-MSFT commented on #38489
@eramitsh  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-07 15:18] SychevIgor opened #38496 "Update screenshot - feedback and documentation no longer available in a header"
Update screenshot - feedback and documentation no longer available in a header

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302f635-c2b9-e505-7b9e-d947dab75514
* Version Independent ID: 2c1e8216-c9d5-68bd-cbca-6c80dcb2f2b3
* Content: [Improve knowledge base - QnA Maker - Azure Cognitive Services](https://docs.micros

[2019-09-07 15:38] MicahMcKittrick-MSFT commented on #38496
Thanks for the feedback! We are currently investigating and will update you shortly.

#38496
#38495
#38494
#38493
#38492

[2019-09-07 15:38] MicahMcKittrick-MSFT commented on #38495
Thanks for the feedback! We are currently investigating and will update you shortly.

#38496
#38495
#38494
#38493
#38492

[2019-09-07 15:39] MicahMcKittrick-MSFT commented on #38494
Thanks for the feedback! We are currently investigating and will update you shortly.

#38496
#38495
#38494
#38493
#384921

[2019-09-07 15:39] MicahMcKittrick-MSFT commented on #38493
Thanks for the feedback! We are currently investigating and will update you shortly.

#38496
#38495
#38494
#38493
#38492

[2019-09-07 15:39] MicahMcKittrick-MSFT commented on #38492
Thanks for the feedback! We are currently investigating and will update you shortly.

#38496
#38495
#38494
#38493
#38492

[2019-09-07 15:43] SychevIgor opened #38497 "Update text in a navigation to reflect the topic of this article 2"
Text in a navigation do not reflect that we will use LUIS. Please update it to avoid wrong expectations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041fcf6-3b37-8d88-4d16-73ad0f841b78
* Version Independent ID: 76c146ee-7c51-9486-9a76-cac90ca9b674
* Content: [LUIS and QnAMaker - Bot Integration - Azure Cognitive Ser

[2019-09-07 15:44] areddish commented on #38490
As stated at the top of the article - this tutorial applies only to models exported from image classification projects.

When exporting an Object Detection project the zip file contains the code to run the exported model.

[2019-09-07 15:50] SychevIgor opened #38498 "Fix C# sample for metadata usage in a documentation"
Please, add few more lines to a quotation https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage#use-qna-maker-with-a-bot-in-c
because in a current version of C# snippet - it's unclear how to use metadata.

![image](https://user-images.githubusercontent.com/578954/64477135-8e119400-d1a0-11e9-9b8c-7d5af7d3b7b2.png)

---
#### Document Details

⚠ *Do n

[2019-09-07 15:55] luisestradasd opened #38499 "Error 3608 for Azure Functions Activiy"
Can you add description about this error?

Invoking Azure function failed with HttpStatusCode - Unauthorized

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b57894dd-9bb6-0900-63c5-71c6b902abdf
* Version Independent ID: 048a747c-7ac0-e9a1-2c36-8cdf82cfd143
* Content: [Troubleshoot Azure Data Factory](https://docs.micros

[2019-09-07 16:03] SychevIgor commented on #38494
I see that we can use one search for multiple knowledge bases, but question about - one search for multiple QnAMakers
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/limits#knowledge-bases

[2019-09-07 16:12] IsaacRoitman opened #38500 "WebApp file changes / adds / deletes"
Unable to locate logs for file changes / uploads / deletes Azure WebApps (web, functions, etc.).  Needed for PCI-DSS compliance; FIM only works on VMs.

I would assume that file changes and access to files would be logged in one or more of these areas:
- Security Center
- Activity Logs
- Application Insights

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-09-07 16:20] SychevIgor opened #38501 "Update Application Insights screenshots"
As of Today - we don't need to open separate portal, because it's part of main Azure portal. On a screenshot I see previous UX.
Please update.
Also- overview page of application insights -look different today. Please update as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82bd07c0-ce21-9630-4aea-c93190c227fa
* V

[2019-09-07 17:35] Sas002 commented on #37206
Adding second issue for setting Azure Compute - Linux Diagnostic Extension on Linux VM using Terraform.  Both seems to be part of Azure Compute - Linux Diagnostic Extension  product issue.

Issue : While deploying Azure Compute - Linux Diagnostic Extension using terraform and Public.json and protected.json , Azure Blob SAS url never works if it is generated by terraform but if we generate Azure Bl

[2019-09-07 17:38] Sas002 commented on #37206
Terraform document : https://www.terraform.io/docs/providers/azurerm/r/virtual_machine_extension.html

My code:

# Install Azure extension for Linux diag
resource "azurerm_virtual_machine_extension" "SAPDB" {
  name                 = "Security_Config_SAPDB"
  location             = "${data.terraform_remote_state.core_infra.resource_group_location}"
  resource_group_name  = "${data.terraform_remote

[2019-09-07 17:40] Sas002 commented on #37206
Code used for generating Azure Blob SAS token using terraform

# Generate Blob SAS URL
data "azurerm_storage_account_sas" "security_logging_blob_SAS" {
  connection_string = "${azurerm_storage_account.security_logging_blob.primary_connection_string}"
  https_only        = true
  resource_types {
    service   = true
    container = true
    object    = true
  }
  services {
    blob  = true
    qu

[2019-09-07 17:56] LarsKemmann commented on #9942
I am seeing the same issue, when creating a Linux cluster but not with a Windows cluster. I've waited several days and it hasn't helped. Can this issue be reopened?

[2019-09-07 18:00] AjayKumar-MSFT commented on #38316
@ericdrobinson, I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-09-07 18:14] MicahMcKittrick-MSFT commented on #38497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-07 18:14] MicahMcKittrick-MSFT commented on #38498
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-07 18:15] MicahMcKittrick-MSFT commented on #38501
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-07 18:16] MicahMcKittrick-MSFT commented on #38500
@IsaacRoitman please provide us with the link to the documentation you are following so we can better assist

[2019-09-07 18:16] MicahMcKittrick-MSFT commented on #38499
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-07 18:20] IsaacRoitman commented on #38500
@MicahMcKittrick-MSFT
https://docs.microsoft.com/en-us/azure/security-center/security-center-file-integrity-monitoring

[2019-09-07 18:30] MicahMcKittrick-MSFT commented on #38500
Thanks for that. I have assigned it to an engineer to investigate further.

[2019-09-07 18:40] ggailey777 commented on #37097
@devops75 the `set` isn't needed when you run this in the Azure Cloud Shell (Bash) environment. Which command environment are you using?

[2019-09-07 18:44] ggailey777 commented on #37097
@gs9824 you can also use the [Key management APIs](https://github.com/Azure/azure-functions-host/wiki/Key-management-API) to get your function keys if you want to avoid using the portal. We don't cover this in this article because Core Tools conveniently gives you back the key in the URL endpoint when you publish. Please let us know if you have any other questions, but there's no documentation iss

[2019-09-07 18:44] #37097 closed

[2019-09-07 19:06] ichkoj commented on #38311
The installation is not corrupted! We loaded the latest Azure AD connect agent on both DCs. To stop this error we disabled Writeback on the problematic DC and then turn it back on. However after that the second healthy DCs started experiencing the same issues. If we turn off Writeback and turn it back on the issue is resolved and the error msgs and reported by the first DC.

[2019-09-07 19:33] ichkoj commented on #38311
Error 31045
TrackingId: 69484ded-b5a0-4e9b-b027-34a49231c3bb, Writeback Service for Namespace: ssprdedicatedsbprodncu, Endpoint: f46cb8aa-2e43-43a5-9146-29f8ab7a3553_d9c0ba23-0895-43d9-af6e-35fb6c143e07 could not be started, Details: Version: 5.0.0.1541

[2019-09-07 19:35] ichkoj commented on #38311
Error 31032
TrackingId: 69484ded-b5a0-4e9b-b027-34a49231c3bb, ServiceHost for Namespace: ssprdedicatedsbprodncu, Endpoint: f46cb8aa-2e43-43a5-9146-29f8ab7a3553_d9c0ba23-0895-43d9-af6e-35fb6c143e07 faulted, Details: Version: 5.0.0.1541

[2019-09-07 21:01] eramitsh commented on #38489
@msrini-MSFT thanks will be waiting :)

[2019-09-07 21:48] dmarlow opened #38503 "Can't change service administrator"
I'm logged in as the Account Admin and I can't change the Service Admin. What options do I have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25dd53de-a48b-5cc3-4af3-2bc27d26efe4
* Version Independent ID: 41c7fe08-42bb-8b32-c7d7-845d6bb39209
* Content: [Azure classic subscription administrators](https://docs.microsof

[2019-09-08 00:14] tdihp commented on #36291
Hi team, any update?
Thanks.

[2019-09-08 01:54] antoniodlp commented on #35201
Hi @westskykingland, you need to explicitly add the user to the database like this (Azure portal itself won't cut it):

`.add database Test users ('msauser=john.doe@live.com') 'Test user (live.com)'`

More information here: https://docs.microsoft.com/bs-cyrl-ba/azure/kusto/management/access-control/principals-and-identity-providers

[2019-09-08 02:23] KrishnaG-MSFT commented on #38503
@dmarlow Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-08 05:39] rkarlin commented on #35983
Thanks for reaching out, it's not possible in the current version but it's something the team is considering for future planning.

@CHEEKATLAPRADEEP-MSFT This is not a doc issue

#please-close

[2019-09-08 05:39] #35983 closed

[2019-09-08 06:07] luisestradasd commented on #38499
Found the problem: The issue was that the function has the AuthorizationLevel attribute set to admin instead of function.
Took me a while to found out.
I hope this help somebody in the future

[2019-09-08 06:16] chetansriv commented on #16431
@changtom Changes have been done as per suggestion, please review

#please-close

[2019-09-08 06:16] #16431 closed

[2019-09-08 06:19] chetansriv commented on #17441
@jlyon9 We have updated the article as per suggestion, please review.

#please-close

[2019-09-08 06:19] #17441 closed

[2019-09-08 06:21] chetansriv commented on #32937
@DvExplorer We have updated the article as suggested, please review.

#please-close

[2019-09-08 06:21] #32937 closed

[2019-09-08 07:50] jaiswati commented on #38490
Hi Andrew,

Thank you for the quick response, We have both types of Custom Vision Projects. Could you please share the documentation for Object detection CV Project as well.

I am beginner to the tensorflow, so it would be great if  you share  the links to debug the model and get this fixed for object detection model

meanwhile will try this for Classification projects and post the response back.

[2019-09-08 08:27] jaiswati commented on #38490
As suggested tried for the 'Classification Custom Vision Project as well'
but get the same error..
Couldn't find classification output layer: loss:0.
Verify this a model exported from an Object Detection project.

[2019-09-08 12:11] theheatDK opened #38504 "Does a stopped Application Gateway incur costs?"
Hi,
You can stop an Application Gateway via Powershell. Will this stop charges, just like when you stop a VM?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions about Azur

[2019-09-08 12:53] antoine816 commented on #37499
Hi there, any ETA on when OAuth 2.0 support will be available in Data Factory? Also trying yo get data from QuickBooks but completely stuck here.

[2019-09-08 13:39] ToruMakabe commented on #35546
@MGoedtel Thank you for checking with PG. In my understanding, AKS does not support officially kube-state-metrics at this time. So, could you consider to remove the words "kube-state-metrics" from this doc? It makes us confuse a bit.

[2019-09-08 13:46] msrini-MSFT commented on #38504
@theheatDK , yes, you can stop Application Gateway using below PowerShell Command:

Get-AzApplicationGateway -Name "" -ResourceGroupName ""
Stop-AzApplicationGateway -ApplicationGateway $AppGw

You will only billed for the IP when you stopped Application Gateway.

[2019-09-08 14:03] tzachie opened #38506 "[Issue] incorrect parameters value in Configure role assignments for the VM"
Regrading [ https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad](url)

Section  : **Configure role assignments for the VM**

In Azure CLI example there is a mistake in the position of the parameters.

instead of placing the $ at the beginning it's after the verb which is causing an exception :

username=$(az account show --query user.name --output tsv)
vm=$(az vm show --r

[2019-09-08 14:30] montebhoover opened #38507 "Login screen doesn't display for me by default"
The login options screen shown in the screenshot here doesn't appear for me by default: https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#start-the-kubernetes-dashboard

Can you add a line stating that this screen can be reached at this url: http://127.0.0.1:8001/#!/login  ?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-09-08 15:07] KalyanChanumolu-MSFT commented on #38334
@eyast Its been a while we heard back from you on this. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-08 15:07] #38334 closed

[2019-09-08 15:07] KalyanChanumolu-MSFT commented on #38249
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-08 15:07] #38249 closed

[2019-09-08 15:13] MicahMcKittrick-MSFT commented on #38506
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-08 15:14] MicahMcKittrick-MSFT commented on #38507
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-08 16:41] theheatDK commented on #38504
Perfect. Thanks @msrini-MSFT

[2019-09-08 16:41] #38504 closed

[2019-09-08 17:11] PgInsight opened #38509 "Table of Network port information does not convey all required information required to create proper NSG for ISE"
Building out a network service group with the information in the table on this page does not allow an ISE to pass validation testing during creation and the ISE fails after some time.  The table is missing protocol information and could be formatted in a more clear way including protocol information.  Building an NSG with the information in the table with just TCP protocol does not work.  An ARM t

[2019-09-08 17:47] vertonghenb commented on #38093
Had the same issue here, here's a list of all TZ values that can be used on Linux:
https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

[2019-09-08 18:08] PgInsight commented on #38509
I am deploying with internal ISE endpoints.

The Vnet is deploying via ARM templates which I can confirm work when setting up an ISE with the following allow all NSG rules.

Using the following allow all/all NSG rules works for creating ISEs manually in the template deployed environment.

[code]

So far I have come up with a very long list of allow rules built from the table in the documentation.

[2019-09-08 18:19] jennyf19 commented on #7657
@Rich-Lang @MohitGargMSFT @davidmu1 we are working on hosting a new web api...should be done this week. here are more [details](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/36)

[2019-09-08 18:50] njbuch opened #38510 "Seems aggressive on resources - no docs on priority or acceptable delays?"
After running this module, with great satisfaction functionality-wise, I am seeing some aggressive logs, showing me that the module is requesting stuff on the network quite often.

These are some random lines of the log:
[code]
In my case, a poll every 5 seconds would be enough. Is there any way to ease this up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-09-08 20:33] SamRakaba commented on #38451
@MicahMcKittrick-MSFT  Here's mt deployment errors
and looks like an agent failure to provision. I have also turned on diagnostics log

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
  "details": [
    {
      "code": "Conflict",
      "message":

[2019-09-08 21:27] RudyEvers commented on #38319
@qibozhu I rebuild the ubuntu vm. The service is running under the default absie user. I also gave permissions to the directory container data. No errors in the blob storage log, but still not able to create a container in the storage account.

<img width="1256" alt="Schermafbeelding 2019-09-08 om 23 27 14" src="https://user-images.githubusercontent.com/38738862/64494671-36525600-d290-11e9-94ea-ad

[2019-09-08 21:33] BharathNimmala-MSFT commented on #38282
@scottkdavis Thanks again for sharing the feedback, we currently have the below documentation on types of telemetry generated by the modules/sampling , please check if this helps.

[Application Insights telemetry data model](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model)
[Sampling in Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling)
[Mic

[2019-09-08 21:33] #38282 closed

[2019-09-08 23:06] dcbrown16 commented on #38337
Thanks @vikaspullagura-msft and asinn826. I don't see any of these images in the Marketplace - are the offerings described here completely different from the Marketplace RedHat images?

[2019-09-09 00:10] EdRLive commented on #38398
Following as I intend to use this connector.

[2019-09-09 00:28] tdihp opened #38511 "Standard LoadBalancer?"
The information in this page: https://docs.microsoft.com/en-us/azure/firewall/integrate-lb, seems not necessarily related to "Standard" loadbalancer specifically, but public loadbalancer, including Basic loadbalancer also.

The article is referred by https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic which is an AKS article, which uses basic loadBalancer.

---
#### Document Details

⚠

[2019-09-09 00:46] tdihp opened #38512 ""Integrate Azure Firewall with Azure Standard Load Balancer" article doesn't include how to use DNAT rule."
The note in this article (https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic):

Mentioned article [Integrate Azure Firewall with Azure Standard Load Balancer](https://docs.microsoft.com/en-us/azure/firewall/integrate-lb) but the action given was to configure DNAT, which the article doesn't include. Please explain further about the public loadbalancer scenario and how to configure.

--

[2019-09-09 00:49] MicahMcKittrick-MSFT commented on #38512
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-09 01:02] forester123 commented on #38348
@jakaruna-MSFT @roygara do you have any updates?

[2019-09-09 02:16] EdRLive commented on #37343
@linda33wj or @ShirleyWangMSFT  any update? I would really need this as well as we would implement a datastore to report on with PowerBI ( data from xero and relaterd data from another system) and would for sure want to use If-Modified-Since to prevent having to sync everything all the time

[2019-09-09 02:21] KranthiPakala-MSFT commented on #38398
@linda33wj @ShirleyWangMSFT  Could you please assist on the above query? - Thanks!

[2019-09-09 02:48] KranthiPakala-MSFT commented on #38499
@luisestradasd Thank you for sharing your findings. It will be helpful for other users who had similar issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please  reply and reopen the issue. We will gladly continue the discussion.
Thanks agian.

[2019-09-09 02:48] #38499 closed

[2019-09-09 02:58] DixitArora-MSFT commented on #38372
Hi @Ansssss I have assigned this to content author to further review and update as appropriate.

[2019-09-09 03:04] PramodValavala-MSFT commented on #38124
@kevin808 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 03:04] #38124 closed

[2019-09-09 03:18] DixitArora-MSFT commented on #38424
@NehaOberoi92  For Question 1 : You can't integrate the Developer Portal with Azure AD (look at [features comparison)](https://docs.microsoft.com/en-us/azure/api-management/api-management-features). The main reason for this is that there is no Developer Portal when you use the consumption plan.

For Question 2 :

![image](https://user-images.githubusercontent.com/46984568/64501203-003bc300-d2de-11

[2019-09-09 03:18] #38424 closed

[2019-09-09 03:19] KalyanChanumolu-MSFT commented on #38510
@njbuch Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-09-09 03:21] SnehaAgrawal-MSFT commented on #38163
@v-tawe Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-09 03:21] #38163 closed

[2019-09-09 03:22] KalyanChanumolu-MSFT commented on #38509
@PgInsight Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-09-09 03:24] KalyanChanumolu-MSFT commented on #38511
@tdihp Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-09-09 03:26] kudlatiger opened #38515 "Can I create single alert which monitors all the resources under resource group?"
Team, I am looking for documentation steps to enable notification whenever user creates resources under our subscription or in resource group

How can I do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eff5cd-b885-2e94-2ea6-3f60154123df
* Version Independent ID: ec1862a7-fa36-1ac4-fe68-011ed39c16f3
* Content: [O

[2019-09-09 03:31] DixitArora-MSFT commented on #38448
@KonTheCat Couple of month back , parameters UI have been changed and we added the support for adding additional parameters through the dropdown "Add new parameter"and the UI no longer have the link to toggle the ‘Show advanced option’.

[2019-09-09 03:32] #38448 closed

[2019-09-09 03:37] PramodValavala-MSFT commented on #38338
@PawandeepK001 Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 03:37] #38338 closed

[2019-09-09 03:37] eyast opened #38516 "RPS?"
You mention RPS workloads, but I'm not sure what this refers to. Do you mean, applications that have high Requests Per Second ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af931817-c3c8-6376-d2c2-a10795161d04
* Version Independent ID: d2b59e0c-0c35-a335-b523-64f4d6f29d09
* Content: [Introduction to App Service Envir

[2019-09-09 03:38] PramodValavala-MSFT commented on #38426
@Hasansiam Please feel free to create a new issue for any feedback you may have on this doc.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 03:38] #38426 closed

[2019-09-09 03:44] KrishnaG-MSFT commented on #38515
@kudlatiger Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-09 03:55] olignat commented on #38040
Please check this out - https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-headers. Let me know if this article helps or you'd like me to add anything else.

[2019-09-09 04:00] KalyanChanumolu-MSFT commented on #38516
@eyast Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-09-09 04:17] petehe commented on #38044
Can you tell me which part of the document links the actual app services to app registrations? I am still confused.

[2019-09-09 04:18] eyast opened #38517 "Paragraph lacks clarity"
Hi - the first paragraph does not seem to bring any clarity to the topic discussed - what exactly is the purpose of this paragraph? can it be revisited to pinpoint what the intent is?

Applications evolve over time. Successful applications evolve by being useful to people. Unsuccessful applications don't evolve and are eventually deprecated. Here's the question: how much do you know about your req

[2019-09-09 04:21] jorlamd opened #38518 "Section 3 has a repeat sentence."
The remediation suggested by Security Center vary according to the security alert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc36355e-92cf-4f93-9d3e-ef6b167e7566
* Version Independent ID: 54c401ad-cacf-bc5f-f5ea-4ce07157f4fa
* Content: [Manage security incidents in Azure Security Center](https://docs.microsoft.com

[2019-09-09 04:23] eyast opened #38519 "Diagram issue: monolithic vs. microservice"
the first diagram that shows the comparison of monolithic vs microservices based apps has a set of icons in the lower left corner (possibly, Powerpoint presentation icons?) that do not add any information to the diagram and could possibly be removed to increase clarity

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da

[2019-09-09 04:24] KalyanChanumolu-MSFT commented on #38517
@eyast Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-09 04:26] KalyanChanumolu-MSFT commented on #38519
@eyast Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-09 04:27] eyast opened #38520 "Incorrect description of DNS"
in the documentation, it reads "In the same way that DNS resolves a particular URL to a particular machine".
DNS resolves Names to IP addresses, not URLs to machines

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da8bfc3-34f4-4b28-58bc-44db1d5990b9
* Version Independent ID: 8fb2214a-ade9-7cef-4fc8-e6888e5c1fd0
* Conte

[2019-09-09 04:30] DixitArora-MSFT commented on #38432
@richieteh94 Use choose policy side on-error section to identify the scenario (you can inspect context.LastError.Reason), and return-response policy to provide custom response.

[2019-09-09 04:31] KalyanChanumolu-MSFT commented on #38518
@jorlamd Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

We will proceed to close this issue now.

[2019-09-09 04:31] #38518 closed

[2019-09-09 04:32] jorlamd commented on #38518
Noted, will do. Thanks.

[2019-09-09 04:35] SnehaAgrawal-MSFT commented on #38342
@olofhellman let us know how that goes for you if need any assistance further, we are happy to connect further to get you the right support.
@Greggomatic Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.
We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2019-09-09 04:35] #38342 closed

[2019-09-09 04:38] VikasPullagura-MSFT commented on #38420
@pkyc I am closing this issue for now.
Please feel to reopen the issue if you need any other help on this.

[2019-09-09 04:38] #38420 closed

[2019-09-09 04:39] dtjensen commented on #38403
I tried to use the blob container in the simulator and could not get the upload to work correctly. But when I ran the edge solution outside of the simulator, it works.  So, there is a bug when dealing with the simulator for now.

[2019-09-09 04:42] tars400 commented on #28457
@anirudhcavale
Thank You !

[2019-09-09 04:51] RohitMungi-MSFT commented on #38243
@johngodel We have escalated this issue internally with our product group and they are currently working to get the solutions updated as part of the backlog.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 04:51] #38243 closed

[2019-09-09 04:53] AshokPeddakotla-MSFT commented on #28498
@rezasherafat Please look into this feedback and update the doc.

[2019-09-09 04:56] Kirlac commented on #38040
This is exactly what I was looking for. Thank you for your help and the quick turnaround getting this updated.

[2019-09-09 04:56] #38040 closed

[2019-09-09 04:59] #38445 closed

[2019-09-09 05:00] DixitArora-MSFT commented on #38445
@ashemedai I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-09 05:04] jaiswati opened #38521 "Exporting the Custom Vision Models"
Hi ,

We have also  tried the other options of exporting the Custom Vision Model

It appears that , when models are exported from Custom Vision Projects , those may be built in the older versions

For Azure ML :

We are unable to find the steps shared in the zip file
I am able to create the image with latest version of Azure ML but while publishing as a service model crashes as  this could be due

[2019-09-09 05:20] msrini-MSFT commented on #38483
@tcbjc , Do you have any update on this issue?

[2019-09-09 05:25] vinishgeorge opened #38522 "azureFunctionAppPublish does not publish if the function does not exists on the azure portal."
The publish stage fails azureFunctionAppPublish command  does not publish if the function does not exists on the azure portal
The following error is displayed
 Function App XXXXX-functions-name in resource group xxx-resource-group-name not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2efe0d4f-1c09-c918-a036-353

[2019-09-09 05:26] kind-serge commented on #38467
To clarify the problem, there are 4 tests were made to access resource "https://management.azure.com/" with a multi-tenant app:

1. Authorize "Microsoft Azure" app with v1 endpoint - it works with personal accounts:
https://login.microsoftonline.com/common/oauth2/authorize?client_id=1950a258-227b-4e31-a9cf-717495945fc2&response_type=code&response_mode=form_post&resource=https://management.azure.co

[2019-09-09 05:31] AjayKumar-MSFT commented on #33505
@upliftertom,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion.

[2019-09-09 05:31] #33505 closed

[2019-09-09 05:32] msrini-MSFT commented on #38511
@tdihp , Yes, this scenario doesn't necessarily required you to use Standard Load balancer. But the reason why Standard LB is mentioned is that we recommend you to use Standard LB going forward. Any new feature which comes with LB, will only be on Standard LB.

But to answer your question, you can still create a DNAT rule to Basic LB from Azure Firewall and this scenario will work for you.

Let me

[2019-09-09 05:36] SubhashVasarapu-MSFT commented on #38180
@OffColour, Appreciate your patience. I have gone through your previous thread requesting to list this case in FAQs. I will assign this issue to the respective content author for further doc modifications. It would take some time for the author to review and make changes accordingly, We really appreciate your feedback which was really helpful in improvising azure documents. @vhorne , there was a r

[2019-09-09 05:46] NehaOberoi92 commented on #38424
Thanks for your reply, I am still not clear with the solution.

In the documentation it is mentioned -  the client application is the
Developer Console in the API Management developer portal , so how we can
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad
apply
this in consumption plan if we don't have developer portal.

I am trying to implement O

[2019-09-09 05:50] VikasPullagura-MSFT commented on #38506
@tzachie The two CLI commands that you are referring in the issue are for assigning the outputs of _az cli_ commands to the variables. These are valid variable assignments.

If we run this `$username=(az account show --query user.name --output tsv)`, then we will get error as the terminal will not understand to execute the az cli, please check below screenshot.

![image](https://user-images.github

[2019-09-09 05:51] qm13 commented on #37719
Also (on the Mac) Preferences is under the Code (application) menu.

[2019-09-09 06:01] NehaOberoi92 commented on #38424
Also when I try the link - https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

I get redirect url as null/docs/services/oauth/console/oauth2/authorizationcode/callback , it seems different then the screenshot you attached.

[2019-09-09 06:07] KalyanChanumolu-MSFT commented on #38522
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-09-09 06:08] KalyanChanumolu-MSFT commented on #38520
Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-09 06:26] ManojReddy-MSFT commented on #38486
@lesterw1 I can see the option "MFA" in the portal
![image](https://user-images.githubusercontent.com/44399320/64507386-41d96780-d2f8-11e9-8bfd-946d06487cb7.png)
Can you provide a screenshot of the behavior you see at your end?

I will update the doc with changes regarding to Users > MFA.