[2021-08-04 10:57] shashishailaj commented on #79258
@ganbayar2001 Thank you for your query . We will investigate and update the thread

[2021-08-04 10:58] yoelhor commented on #78986
Dear @timrhaynes , thanks for the feedback. The document will be updated later today with the correct technical profile name.

[2021-08-04 10:59] shashishailaj commented on #79251
@andrewr01 Thank you for your feedback . We will try to get this information internally and update the thread.

[2021-08-04 11:03] shashishailaj commented on #79261
@loeten Thank you for your feedback . We will investigate and update the thread.

[2021-08-04 11:04] yoelhor commented on #78643
Thanks @mehdijalal for taking time to share your valuable feedback. The [GitHub document](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C) now points to the Azure AD B2C doc.

#please-close

[2021-08-04 11:04] #78643 closed

[2021-08-04 11:09] yoelhor commented on #78500
Thanks @GuyPaddock for taking time to share your valuable feedback! Although the  metadata localization works, there are many cases that don't. Currently the metadata localization is not supported.

Note, we plan to update the starter pack policy with content definition approach and remove the metadata localization.

#please-close

[2021-08-04 11:09] #78500 closed

[2021-08-04 11:09] shashishailaj commented on #79264
@JohnWuensche Thank you for your feedback . We will investigate and update the thread.

[2021-08-04 11:10] yoelhor commented on #78543
#please-close

[2021-08-04 11:10] #78543 closed

[2021-08-04 11:23] sachinpanwar opened #79268 "Update in external link for .NET Core support"
Instead of using download link of .NET Core to show its support, better use .NET core support policy link which has additional information and made just for that.
![image](https://user-images.githubusercontent.com/11601385/128172525-c0ea9ea8-3c4a-488a-8697-260ae0a29b0b.png)

Current: https://dotnet.microsoft.com/download/dotnet
Expected: https://dotnet.microsoft.com/platform/support/policy/dotnet-

[2021-08-04 11:31] #78986 closed

[2021-08-04 11:40] dldldlepl opened #79269 "Get all the entities that have been autodeleted missing name of subcription (and topic)"
In the documentation is an example of how to get all entities that have been autodeleted by the service bus. The problem that I have is: how can I get the name/id of the entity that was deleted. Because the value _ResourceId contains always the id of the namespace.

So the column _ResourceId has everywhere a value like this:
`/subscriptions/<subscription-id>/resourcegroups/<resource-group>/provide

[2021-08-04 11:40] yoelhor commented on #77761
We'll consider adding such a note to the IDPs articles. Meanwhile I'm closing this issue. Thanks again for your valuable feedback.

#please-close

[2021-08-04 11:40] #77761 closed

[2021-08-04 11:45] pohorely opened #79270 "Undocumented groups"
Hello, [the page](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-crs-rulegroups-rules) is saying that [OWASP 3.2](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-crs-rulegroups-rules?tabs=owasp31#owasp-crs-32-public-preview) has 15 rule groups, but only 13 groups are
listed in the table below.

---
#### Document Details

[2021-08-04 11:51] yoelhor commented on #77197
Dear code-Miracle49, wondering if you managed to fix this issue, or still need help.

[2021-08-04 11:59] yoelhor commented on #78184
Dear @kumarsumitrudeboy, thanks for the feedback. I'm updating the article with the relevant response mode parameter. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-04 12:03] yoelhor commented on #78198
Hey Phil, I'm closing this one. Please check with Jas.

#please-close

[2021-08-04 12:03] #78198 closed

[2021-08-04 12:06] ShaikMaheer-MSFT commented on #79253
@msdpalam Thank you for providing feedback. We are actively Investigating it. We will share updates soon.

[2021-08-04 12:06] MonikaReddy-MSFT commented on #79268
@sachinpanwar - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-04 12:06] #79268 closed

[2021-08-04 12:08] yoelhor commented on #77612
Thanks @ dave22000 for taking time to share your valuable feedback. We don't have information we can share to protect from attackers abusing the limit. The limit in place will not affect a legitimate users.

#please-close

[2021-08-04 12:08] ShaikMaheer-MSFT commented on #79259
@krisbock Thank you for providing feedback. We are actively investigating it. We will revert back soon.

[2021-08-04 12:18] MuhammadBilalYar opened #79271 "How to read Body of manually triggered TIME Base Function"
As mentioned in Step 7 we can pass the input body when invoking time-based function using HTTP. I just want to know how to i can read this body on server side

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Content: [Ma

[2021-08-04 12:34] pumpkinclarinnet-MSFT opened #79273 "Syntax incomplete on the azcopy copy container directories and blobs insight"
Under the information of copy container directories and blobs, the example and syntax doesnt share the need to have the sastoken too for the destination storage account.
Can this be added?
![image](https://user-images.githubusercontent.com/53820260/128181358-c01a74c7-9562-400a-aa73-420e2831c9ec.png)

From: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs-copy#copy-con

[2021-08-04 12:47] Nicholak-MS commented on #77128
Thanks @danbu, with the information you supplied above I was able to find details for 4 SKU's that include the Universal_Print_No_Seeding Service Plan. I have added those SKU's to the document.

However on the topic of the 4 SKU's that you supplied regarding Universal_Print_01 I am not seeing that service plan on those SKU's so I have not added it. If from your script pull you are seeing that Serv

[2021-08-04 13:07] batamig commented on #79193
Hi @dcbrown16 - thank you so much for your feedback!

We always welcome input from our readers, and I've added your notes as an action item in our backlog.
We'll review again and make any updates required in an upcoming publish.

I'm going to close this issue in the meantime, but feel free to add more comments as needed.

Thanks for your contributions to docs!
#please-close

[2021-08-04 13:07] #79193 closed

[2021-08-04 13:11] MarekLani opened #79274 "Azure Kubernetes Service RBAC Writer/Reader vs Kubernetes RBAC rolebindings"
My understanding is that Azure Kubernetes Service RBAC settings are meant for managing Azure resources related to kubernetes deployment (basically calling any az aks operations) and that for any access control for resources within kubernetes cluster, Kubernetes RBAC approach (using Roles/Cluster roles and Bindings) should be used while it is possible to use AAD entities. Please can you extend the

[2021-08-04 13:12] csolje opened #79275 "Azure CDK"
Is Azure looking into CDK for Azure a bit like other cloud providers like AWS CDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 980c5a81-86e4-6d79-0b26-f41b2a7e9d64
* Version Independent ID: 0085bbef-9474-09d4-b5cd-a1dbdb7a155e
* Content: [Bicep language for deploying Azure resources - Azure Resource Manager](https:/

[2021-08-04 13:35] #78184 closed

[2021-08-04 13:52] craigshoemaker commented on #65318
thanks, @alexweininger - This article has changed a few times since this issues was crated. I just went through each of the steps and verified they work. I am going to move to #please-close this issue for now, but please feel free to reopen this issue in the future if you think more changes are required.

[2021-08-04 13:52] #65318 closed

[2021-08-04 13:58] cshea-msft opened #79276 "Add more detail to documentation"
[Enter feedback here]

Please enhance existing documentation: https://docs.microsoft.com/en-us/azure/virtual-desktop/configure-device-redirections with the following: - A list of common devices/hardware make, model, specs tested successfully for each type of redirection. In this case USB redirection. - Troubleshooting tips such as the ones in this article: https://docs.microsoft.com/en-us/troubles

[2021-08-04 14:09] kobulloc-MSFT commented on #79276
@cshea15 Thank you for your feedback!  We've assigned this to the author for review.

[2021-08-04 14:17] 4c74356b41 commented on #78229
@hb66772-home do you mind sharing your bicep file?

[2021-08-04 14:26] broomfn commented on #79234
Apologies, I think this was a red hearing, web sockets appear to be working, for anyone having the same issue, I need to set the allowed origins in Grafana:

[code]

[2021-08-04 14:26] #79234 closed

[2021-08-04 14:35] KrishnaG-MSFT commented on #79263
@eyoh5 Thanks for reaching out!
Assigning @saket-ms for visibility, review, to help provide insights and enhance the document if required.

[2021-08-04 14:40] PramodValavala-MSFT commented on #79271
@MuhammadBilalYar In the case of a timer triggered function, there is no input required. A `TimerInfo` object is passed which has the following structure (also covered in the [timer trigger docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#usage))

[code]

[2021-08-04 14:43] KrishnaG-MSFT commented on #79257
@lintFan Thanks for reaching out! AFAIK API specifications in [these](https://docs.microsoft.com/en-us/azure/templates/) articles are auto-generated. Tagging @tfitzmac and @mumian to confirm the same and to help provide any additional insights w.r.t your question.

[2021-08-04 14:44] mmarzillo opened #79279 "Last Update on Release Notes"
This is coming from a customer:
"Do we have an updated source of information for the Release Notes when the Data Warehouse resources are updated behind the scenes? The last update on this page is from December 2020. I ask because we ran into an issue that impacted our restore process between PROD and QA/DEV over the weekend. It looks like a backend change was made to the database restoration proce

[2021-08-04 14:48] sijucm opened #79280 "Not clear how to join across database or across containers"
From my experience trying these in Azure portal, I guess the content of this page does not apply to Join across CosmosDB (SQL) databases or collections. It would be a mercy to mention that in the beginning of the page so that developers used to real SQL queries will not try the CosmosDB  "SQL" queries.
Note: In my humble opinion, calling this as SQL is not right. There is some meaning in the IT wo

[2021-08-04 15:02] foteeg7of9 opened #79281 "letter missing in Collect resource logs chapter"
Hi,

on page https://docs.microsoft.com/en-us/azure/aks/monitor-aks
in Collect resource logs chapter, there is a table with categories and in the first column the first entry "cluster-autoscale" is missing an "r" at the end, it has to be "cluster-autoscaler". I tried with terraform and cluster-autoscale gave me an error whereas cluster-autoscaler works.

With best regards,

David

---
#### Documen

[2021-08-04 15:06] alex-3sr opened #79282 "Client version 1.2748 is not available ?"
Hi,

We can see that for get Start VM on connect we need as prerequisistes the  1.2748 AVD client version.
But when we follow actual link, and downloat it. This is the version 1.2.2222 and seem to not support the feature "Start Virtual Machine on Connect"

Thanks for clarification
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-08-04 15:10] KrishnaG-MSFT commented on #79281
@foteeg7of9 Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-04 15:12] mmoioli opened #79283 "Windows Virtual Desktop is now Azure Virtual Desktop"
[Enter feedback here]
Please change the title because the solution name is now Azure Virtual Desktop
https://azure.microsoft.com/en-us/blog/azure-virtual-desktop-the-desktop-and-app-virtualization-platform-for-the-hybrid-workplace/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d22ea47-5aea-b8cc-616c-081f09a22193
* Ve

[2021-08-04 15:14] hb66772-home commented on #78229
Not at all.  will reply with bicep once i’m back from PTO next monday

On Wed, Aug 4, 2021 at 9:17 AM Gleb Boushev ***@***.***>
wrote:

[2021-08-04 15:35] SamaraSoucy-MSFT commented on #79178
This repo is specifically for documentation changes, not product questions, so I am going to close it for now. It does not look like that product repo is particularly active so you may also want to post your questions on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-service-bus.html). Employees monitor and answer questions there as well as having an active tech community th

[2021-08-04 15:35] #79178 closed

[2021-08-04 15:43] krishnaji opened #79286 "Premium Storage supports ZRS"
Hey Team, I was able to create Blob NFS supported storage account and ZRS replication type for Premium storage. Could you please update the doc that reflects this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfc0bd3-6245-82ad-e782-d2464a6ce8df
* Version Independent ID: aa79abce-6e1b-15b6-04c1-b7413c4b5f58
* Conten

[2021-08-04 15:44] krishnaji commented on #79286
PR for the same https://github.com/MicrosoftDocs/azure-docs/pull/79285

[2021-08-04 15:45] cynthn commented on #79262
@dpapkin Thanks for the feedback! Yes, there are a couple of options for installing the role. We went with RDP in order to show connecting to the VM, but in production using the Run Command would be a better option. When we update topics that use IIS in the example, we'll probably use the Run Command because it is more straightforward. Again, thanks for the feedback!

#please-close

[2021-08-04 15:45] #79262 closed

[2021-08-04 16:08] lnalepa commented on #78934
Hi @cveld, the Password SSO browser extension securely retrieves user credentials from AAD (cloud) and replays usernames and passwords on web pages. Due to web browsers enabling any user to inspect the contents and code of a web page, we cannot guarantee that end users cannot sniff the username and password using dev tooling at replay time.

[2021-08-04 16:29] SamaraSoucy-MSFT commented on #79269
Thanks for the question! We will review and get back to you shortly.

[2021-08-04 16:39] DerekHerman-MSFT commented on #79260
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-04 16:39] JamesTran-MSFT commented on #79226
@nikki-c
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-08-04 16:39] #79226 closed

[2021-08-04 16:39] JamesTran-MSFT commented on #79233
@Vama97
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to our docs, and to gain a better understanding of your issue, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue.

[2021-08-04 16:39] #79233 closed

[2021-08-04 16:42] MartinJaffer-MSFT commented on #79070
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-08-04 16:42] #79070 closed

[2021-08-04 16:43] MayankBargali-MSFT commented on #79252
@wdspider Thanks for your response. I will pass the portal feedback to the team and I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-04 16:44] timsander1 commented on #78907
Let me know if I'm missing anything and I'd be happy to reopen. #please-close

[2021-08-04 16:44] #78907 closed

[2021-08-04 16:46] paulgmiller commented on #66091
We still have validation in place for docker bridge that needs to be removed  fyi.

[2021-08-04 16:48] simonkurtz-MSFT opened #79287 "Fix URI Path Reference"
7.e: Change `{var_uri_path_1} and {var_uri_path_1} are used` to `{var_uri_path_1} and {var_uri_path_2} are used`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fbac689-8196-0c77-2602-f1338ae5ed72
* Version Independent ID: 5550df82-07b6-8baa-af88-51e362308bb0
* Content: [Rewrite URL and query string with Azure Applicat

[2021-08-04 16:51] cynthn commented on #78232
Closing this for now, please feel free to reopen or open an new issue if you have further questions.

#please-close

[2021-08-04 16:51] #78232 closed

[2021-08-04 16:53] cynthn commented on #72613
It looks like this issue is no longer in the docs. Closing for now.

#please-close

[2021-08-04 16:53] #72613 closed

[2021-08-04 16:55] cynthn commented on #77391
It looks like edits were made recently to fix the swap configuration. Closing for now.

#please-close

[2021-08-04 16:55] #77391 closed

[2021-08-04 16:56] jeffpatt24 commented on #79260
I made the doc update, the change should be live later today.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/167996

[2021-08-04 16:56] #79260 closed

[2021-08-04 16:58] #79163 closed

[2021-08-04 16:58] cynthn commented on #79163
I just approved changes to the doc to refer to the Sysprep docs for the latest information. Closing the issue for now.

#please-close

[2021-08-04 17:00] timsander1 commented on #78830
Hi @arambazamba, thanks for the feedback! There is no harm in adding that, so we'll go ahead a raise a PR later this week to add the required nuget packages and SDK version recommendations.

[2021-08-04 17:03] #79048 closed

[2021-08-04 17:05] timsander1 commented on #78765
Hi @yalamarti, I'm not sure I understand the question. The dedicated gateway will use a separate connection string. If you use Azure KeyVault, you just want to make sure that you're using the correct connection string for the dedicated gateway (and not the old connection string that is used with the standard gateway and direct mode). Other than that, there aren't any differences in usage or best p

[2021-08-04 17:06] tipums123 commented on #79070
Thanks for your reply, @MartinJaffer-MSFT!
Appreciate it!

[2021-08-04 17:09] DerekHerman-MSFT commented on #79273
@pumpkinclarinnet-MSFT Thanks for the feedback! SAS token is not required on the destination URL if logged in. There is a note in the article about this: _"The examples in this article assume that you've authenticated your identity by using Azure AD so the examples omit the SAS tokens from the destination URL."_

[2021-08-04 17:09] #79273 closed

[2021-08-04 17:12] tadwimmer opened #79289 "Need to use Alternative Security ID with Verifiable Credentials/MS Authenticator"
I am attempting to use a Verifiable Credential as the initial identity source to create a new B2C user account. I have successfully ben able to create the account with the UPN set to the email address provided by the user after validating the VC, and the user is able to sign in using local account UPN and PW, but I have not been able to confirm that I have created an alternative Security ID using

[2021-08-04 17:17] SubhashVasarapu-MSFT commented on #79115
@ashkickindevelopment, we have assigned this doc issue to the respective content owner for updating it accordingly. @Duongau, I have looped you in the mail chain internally. Could you please provide your insights? Thanks!

[2021-08-04 17:26] SatishBoddu-MSFT commented on #57756
Hello @schibuch Thanks for the query!

Just checking on this!
Please confirm if we can proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answer

[2021-08-04 17:27] SubhashVasarapu-MSFT commented on #79270
@pohorely, Appreciate your feedback. Yes, looks like the do needs an update. I have cross-checked with portal UI and confirmed this,
![image](https://user-images.githubusercontent.com/44890829/128226308-e13ae220-f9a7-4de5-9d8c-be233d579b00.png)

The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there a

[2021-08-04 17:27] #79270 closed

[2021-08-04 17:27] jasongroce commented on #78242
#reassign:navits09 Assigning to correct owner

[2021-08-04 17:27] PRMerger16 commented on #78242
navits09 is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-08-04 17:29] SatishBoddu-MSFT commented on #58775
Hello @schibuch Thanks for the feedback!

Just checking on this!
Please confirm if we can proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and ans

[2021-08-04 17:34] #78534 closed

[2021-08-04 17:34] ecfan commented on #78534
I added a note that "When you authorize your connection, a confirmation page might appear for you to allow access."

[2021-08-04 17:35] SubhashVasarapu-MSFT commented on #79287
@simonkurtz-MSFT, looks like you have provided the wrong doc footer here. Hope you were referring to[ URL rewrite](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-url-portal) instead of Header rewrite.

[2021-08-04 17:38] b-juche commented on #78889
@RutgerKosters -- Per the product team, we are not planning to add this FAQ for the time being.  Thanks.

#please-close

[2021-08-04 17:38] #78889 closed

[2021-08-04 17:38] BhargaviAnnadevara-MSFT commented on #79182
@50c Ah, got it. I see that the commands look the same due to markdown concealing the difference.
I have submitted a PR to fix the issue that's in review. Thanks for bringing this to our attention.

[2021-08-04 17:42] simonkurtz-MSFT commented on #79287
Yes, sorry, I must have had multiple tabs open. It's URL Rewrite.

Simon Kurtz
he/him
Senior Customer Engineer
Midwest Customer Success Unit
(404) 877-2602
***@***.******@***.***>

[Microsoft Logo]

If you have feedback about my work, please let my manager, Frank ***@***.***?subject=Feedback%20Regarding%20Simon%20Kurtz>, know.

Upcoming Out Of Office: 8/9/21
From: suvasara ***@***.***>
Sent: Wedne

[2021-08-04 17:42] v-gpettibone commented on #48533
The device stream samples were [always] broken and were removed from the documentation. The issue is no longer relevant.

[2021-08-04 17:42] v-gpettibone commented on #48533
#please-close

[2021-08-04 17:42] #48533 closed

[2021-08-04 17:45] DEberhardt commented on #78499
Hello,
I can, but I will need a few days to produce - not connecting to MSOL if I can avoid it ;)
The above surfaced with the `AzureAd` Cmdlets.

[2021-08-04 17:46] spelluru commented on #78843
@nick-luong - What's the size of the blob that was uploaded? I have consulted the product team and they said it shouldn't be 0. Could you please open a support incident so that our support team can troubleshoot the issue? Thanks

[2021-08-04 17:48] Nicholak-MS commented on #78499
@DEberhardt sounds great no rush at all. Thanks!

[2021-08-04 17:49] #79182 closed

[2021-08-04 18:06] VikasPullagura-MSFT commented on #79274
@MarekLani
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-04 18:06] VikasPullagura-MSFT commented on #79274
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2021-08-04 18:07] HannesWurm opened #79294 "Resource not found after assigning identity to web app"
Hi,

in the tutorial you have those steps to create a managed identity and then assign the created service principal to an ad group:

[code]

If I use an existing group instead of creating a new group like that and:

` az ad group member add --group $groupid --member-id $msiobjectid-`

or try to get the principal from ad like that:

`    $servicePrincipal = az ad sp show --id $msiobjectid`

Where

[2021-08-04 18:07] b-juche commented on #79283
Thanks, @mmoioli.  Making the name change through PR#168015
(https://github.com/MicrosoftDocs/azure-docs-pr/pull/168015 )

[2021-08-04 18:25] shayfisher opened #79295 "Typo in paragraph"
On the following paragraph -
https://docs.microsoft.com/en-us/azure/aks/node-updates-kured#node-image-upgrades
You say: **For more details on nod image upgrade, see Azure Kubernetes Service (AKS) node image upgrade.
Node upgrades**

It should be **node** instead of **nod**
10X

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-08-04 18:37] b-juche commented on #79283
PR#168015 has been merged for publishing.

#please-close

[2021-08-04 18:37] #79283 closed

[2021-08-04 18:42] pkshultz commented on #78894
@vinishgeorge you'd create a pool with the image you want to specify, then run the task on that pool. Our [Container workloads](https://docs.microsoft.com/azure/batch/batch-docker-container-workloads#supported-virtual-machine-images) article comes in handy here.

Does that help?

[2021-08-04 19:02] KarlErickson commented on #60049
Closing due to lack of response. Please reopen or file a new issue if you are still seeing problems. Thanks! #please-close

[2021-08-04 19:02] #60049 closed

[2021-08-04 19:08] b-juche commented on #78909
Per input from product team, we'd add reference instead of additional explanation.

We've added:
"See Guidelines for Azure NetApp Files network planning (https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-network-topologies#azure-native-environments) for details."

This change is addressed in PR#16803
https://github.com/MicrosoftDocs/azure-docs-pr/pull/168030

[2021-08-04 19:08] b-juche commented on #78909
#please-close

[2021-08-04 19:08] #78909 closed

[2021-08-04 19:08] scottgorlick opened #79296 "missing ARM Template function [providers(namespace, name)] reference"
[Enter feedback here]
missing ARM Template Function reference for providers method.

we leverage the ARM template function [providers('namespace', 'name').apiVersions[0]] to get the latest api-version for some things.  Was looking up the documentation to see why this changed and is now including preview API versions, but this reference is missing from the ARM Template Function Reference page.

---

[2021-08-04 19:23] #79295 closed

[2021-08-04 19:23] Karishma-Tiwari-MSFT commented on #79295
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-08-04 19:34] JamesTran-MSFT commented on #79289
@tadwimmer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-04 19:51] RDukes425 opened #79298 "Update Azure Backup Permissions Needed"
Can you update the RBAC permissions needed for Azure Backup of encrypted VMs to integrate with Key Vault?

In reviewing Vault Access Policies for Azure Backup service, the permissions needed are Key & Secret Management (Get, List, Backup). This document lists the needed permissions as being Key & Certificate Management (Get, List, Backup) and would require a Custom Role.

When a Custom Role is con

[2021-08-04 19:56] JamesTran-MSFT commented on #79298
@RDukes425
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-04 20:00] eosho opened #79299 "Example of creating a Managed private endpoint via ARM template"
Looking for examples of creating a Managed private endpoint via ARM template, current efforts are not successful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9733a36f-ed92-a918-b35d-c7490fc86a12
* Version Independent ID: aa9eb9cb-72b1-ba88-7daf-a6e6feae80ed
* Content: [Create a Managed private endpoint to connect to

[2021-08-04 20:00] v-gpettibone commented on #57756
#reassign v-gpettibone

[2021-08-04 20:21] J-Inman opened #79302 "Error when following this documentation"
Need to change this document from using this as the URL to login:
https://myapplications.microsoft.com

**To this**
https://myapps.microsoft.com

Otherwise, when customers follow this documentation they receive an error when first attempting to login using the steps provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-08-04 20:23] KumudD commented on #56397
@vinod83k Thanks for bringing this to our attention. The article has been updated.

#please-close

[2021-08-04 20:23] #56397 closed

[2021-08-04 20:23] #79059 closed

[2021-08-04 20:28] ecfan commented on #79059
The doc is updated and will go live after 4 PM Pacific Time.

[2021-08-04 20:30] JozoSlejko opened #79304 "Application routing - outbound IP addresses"
Article says:

Contrary to the article, I don't think that public IP addresses ("listed in your app properties") are used as source IP when Route All is enabled.
Should the source IP address be an internal one (WEBSITE_PRIVATE_IP environment variable) in that case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a9880

[2021-08-04 20:30] SHxKM opened #79305 "Azure Marketplace: What to do on "update" event scenario?"
Emphasis mine in both cases.

Under "Implementing a webhook on the SaaS service":

Under "Update initiated from the commercial marketplace":

The publisher side should make the required changes to the SaaS service, **and notify Microsoft when finished by calling the Update Status of Operation API**.

So unless there's missing/conflicting information here, the way I understand the course of action

[2021-08-04 20:53] DerekHerman-MSFT commented on #79286
Thanks for reporting this. We are making the changes and they should go live later today.

[2021-08-04 20:53] #79286 closed

[2021-08-04 21:10] tedvilutis commented on #78470
It is implied in "You can also select up to three key properties as your Time Series ID. Their combination will be a composite key that represents the Time Series ID." The best practice page is linked with the tutorial page.

[2021-08-04 21:12] #78470 closed

[2021-08-04 21:17] jeade opened #79307 "URL needs to be updated"
The suggested URL fails in our environment.  Changing to "repos = "https://cloud.r-project.org" works:

repos = "http://cran.us.r-project.org"  - this fails
repos = "https://cloud.r-project.org" - this works fine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2186995-05ed-b413-ae76-1bdf6a6a5b4e
* Version Independent I

[2021-08-04 21:32] SatishBoddu-MSFT commented on #78596
Hello, @fgheysels Sorry for the delay in response. Finally, we got a response from our Product Team.  This is by design behavior. Please refer to the below verbatim.

We will update the documentation citing this limitation so that all readers will be aware of this limitation as well. We had actually made a promise to @sandervandevelde in[ the past](https://github.com/MicrosoftDocs/azure-docs/issue

[2021-08-04 21:35] JamesTran-MSFT commented on #79302
@J-Inman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-04 22:06] GiftA-MSFT commented on #79307
@jeade we'll review your feedback and get back to you shortly. Thanks.

[2021-08-04 22:20] jonpayne opened #79308 "Container naming change"
In the `Can I set the ACL of a container?` section, it is unclear why the container name `my-container` is linked to a directory called `myContainer/`. Is ADLS gen 2 removing dashes and camel casing names?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aa443a-b30f-2914-5cb8-b032be075c07
* Version Independent ID: ece8

[2021-08-04 22:32] SepidehSaba commented on #78717
Hi Matt thanks for getting back to me.

We have document assets with id a version id, every time a new version is submitted of the same asset we run the document extraction pipeline. We would like to have the Partiontionkey as the AssetId and RowKey as the version id which in this way we have a row each time when a version of an asset is being and also to receive from the knowledge store we use th

[2021-08-04 22:41] MS-jgol commented on #77995
@yutaro113
A few points to answer your concerns:
1. The Functions basic monitoring, that supports bindings (essentially, some http requests) is available for all languages, and is GA
2. The behavior you see in portal does not look as intended, the monitoring should be on by default. It looks like a bug in the UX.
3. There is also a concept for language specific workers, that enables full distribut

[2021-08-04 22:44] Lord-V15 opened #79309 "SUGGESTION : INCLUDE PYTHON IMPLEMENTATION FOR TEXT TO SEARCH REST API"
### Where are all the examples ?

**YOU SHOULD HAVE EXAMPLES TO SHOW HOW TO RUN THE REST API FOR TTS IN PYTHON !**
I had to spend 3 days at work trying to figure out how to input the XML data into the request.
Here is my code for reference if you want to use it :
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116

[2021-08-04 23:09] KarlErickson commented on #62775
Closing this issue. Updating the docs to accommodate Java 11 is on our backlog. #please-close

[2021-08-04 23:09] #62775 closed

[2021-08-04 23:11] KarlErickson commented on #67218
Article has been added [here](https://docs.microsoft.com/en-us/azure/spring-cloud/connect-managed-identity-to-azure-sql). #please-close

[2021-08-04 23:11] #67218 closed

[2021-08-04 23:13] KarlErickson commented on #70719
No response, so I'm closing this issue. Please reopen or file a new issue if needed. Thanks! #please-close

[2021-08-04 23:13] #70719 closed

[2021-08-04 23:16] KarlErickson commented on #76294
Closing this issue. Please create an internal Azure DevOps work item if this is still an issue. Thanks! #please-close

[2021-08-04 23:16] #76294 closed

[2021-08-04 23:31] aidancopps opened #79310 "Revoke access to customer-managed keys doesn't mention Azure Files"
The "Revoke access to customer-managed keys" section doesn't mention which operations against Azure Files will be denied if the storage account's access to the customer-managed ley is revoked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f527b03-ace9-5b5c-0def-d4c6fe3451f3
* Version Independent ID: aa34244f-414d-70e

[2021-08-04 23:40] mattmsft commented on #78717
Hi Sepideh Saba,

Sorry to hear that the key scheme isn't working for your application.

The number is not random. Here's a snippet of C# code determining how the PartitionKey and RowKey are calculated:
[code]

The format is definitely not intuitive. Hopefully this can help unblock your application development, please let us know if you need more information.

[2021-08-04 23:49] stbof commented on #56891
We have filed a ticket in the Databricks bug tracking system:  DOC-2977

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-04 23:51] pnarsi opened #79311 "Required Connectivity for user behind restricted network"
Is there a documented list of FQDNs that is required for end users accessing AML Studio via their local machines (i.e. outside of the VNET).

This page lists a number of different FQDN, does an end user accessing AML Studio via their browser require access to all of these? Is unclear from this page if all of these need to be whitelisted in my corporate Firewall to allow end user access to AML Stud

[2021-08-04 23:55] stbof commented on #58165
We have filed a ticket in the Databricks bug tracking system: DOC-2978

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-04 23:57] stbof commented on #59093
We have filed a ticket in the Databricks bug tracking system: DOC-2979

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-04 23:58] SatishBoddu-MSFT commented on #57756
Hello @v-gpettibone We have re-opened this issue.

[2021-08-05 00:01] stbof commented on #59697
We have filed a ticket in the Databricks bug tracking system: DOC-2980

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 00:03] stbof commented on #61228
We have filed a ticket in the Databricks bug tracking system: DOC-2981

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 00:08] stbof commented on #62044
We have filed a ticket in the Databricks bug tracking system: DOC-2982

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 00:12] weehyong commented on #74038
@nabhishek  can you help look into this? Thank you.

[2021-08-05 00:13] weehyong commented on #74107
The example was already updated. Do check the latest Python examples

[2021-08-05 00:15] weehyong commented on #78480
Do consider using Azure Data Factory V2
https://docs.microsoft.com/en-us/azure/data-factory/introduction

[2021-08-05 00:15] weehyong commented on #78480
#please-close

[2021-08-05 00:15] #78480 closed

[2021-08-05 00:15] stbof commented on #62887
This has been fixed. #please-close

[2021-08-05 00:15] #62887 closed

[2021-08-05 00:17] stbof commented on #64777
This has been fixed: https://docs.microsoft.com/azure/databricks/jobs

#please-close

[2021-08-05 00:17] #64777 closed

[2021-08-05 00:20] stbof commented on #66433
The following article provides information on integrating with Git:
https://docs.microsoft.com/azure/databricks/repos

#please-close

[2021-08-05 00:20] #66433 closed

[2021-08-05 00:24] stbof commented on #67348
The Genomics runtime is deprecated and no longer recommended. Therefore this request has time out.

#please-close

[2021-08-05 00:24] #67348 closed

[2021-08-05 00:26] stbof commented on #68903
We have filed a ticket in the Databricks bug tracking system: DOC-2980

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 00:32] stbof commented on #72375
We have filed a ticket in the Databricks bug tracking system: DOC-2984

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 00:35] Karishma-Tiwari-MSFT commented on #79282
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2021-08-05 00:54] Oury-MSFT commented on #79280
@sijucm Thanks for your feedback. We are reviewing the doc and will get back shortly.

Regards,
Oury

[2021-08-05 02:10] tksh164 opened #79312 "ZRS for managed disks are still in preview?"
This page has a bellow section title:

ZRS for managed disks are still in preview? There is the following announcement in Azure Update.

https://azure.microsoft.com/en-us/updates/shared-disks-on-azure-disk-storage-is-now-generally-available-on-all-premium-ssds-and-standard-ssds/

Also, I could create a managed disk with availability zones on Azure Portal.

---
#### Document Details

⚠ *Do not edit

[2021-08-05 02:55] #79312 closed

[2021-08-05 02:58] jamshid commented on #34167
lol found this GitHub issue in a panic because google says windowsazure.com is **not** legit
![windowsazure-legit](https://user-images.githubusercontent.com/8549/128283881-ef653b27-ddb6-47f3-a132-be52a7192631.png)

[2021-08-05 03:19] BhargaviAnnadevara-MSFT commented on #79294
@HannesWurm Thanks for the question. We're investigating this and will get back to you shortly.

[2021-08-05 03:45] AshokPeddakotla-MSFT commented on #79279
@mmarzillo Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-05 04:02] theorange7 opened #79315 "Please update official documentation to include latest update on App manifest supported by Graph API"
Hi Team, not sure if this is already in the works but since the App Manifest can be updated via Graph API now I thought it would be best to also reflect this in the documentation on this page :)

Reference: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35954677-azure-active-directory-app-manifest-json-needs-to

---
#### Document Details

⚠ *Do not edit this section. I

[2021-08-05 04:10] AshokPeddakotla-MSFT commented on #79299
@eosho Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-05 04:29] minhhho2 opened #79316 "Query on concurrency of video on demand streaming."
Question) I have some concerns around concurrency issues if we are integrating with azure media services video on demand infrastructure for adaptive bit rate streaming.

"For example, you can have a Standard streaming endpoint which is limited to 600 Mbps and the highest bitrate of 3Mbp. In this case, approximately 200 concurrent streams are supported at the top bitrate. "

Is the 3MBP based off t

[2021-08-05 04:56] SwathiDhanwada-MSFT commented on #79296
@scottgorlick Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-05 05:06] SwathiDhanwada-MSFT commented on #76329
@DCtheGeek Kindly provide your inputs on this issue.

[2021-08-05 05:12] SwathiDhanwada-MSFT commented on #78906
@shae-hurst Thanks for valuable feedback. I have tested from my end and seems there is issue with the function.

Assigning to content author @mumian for doc-enhancement

[2021-08-05 05:29] psmanhas commented on #79031
@ToruMakabe Apologies for the delay in response and all the inconvenience caused because of the issue.

As per discussion internally it is only supported on one vNIC and there are few documentations which are needs to be updated to reflect same in this documentation as well. Work is underway and got confirmation from internal team that there will be a doc-update for same.

Hope the provided inform

[2021-08-05 05:29] #79031 closed

[2021-08-05 05:30] RohitMungi-MSFT commented on #79309
@Lord-V15 Thanks for spotting this. Yes, the reference for [TTS rest API ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#sample-request-1)seems to be missing the link to the samples repo. I remember the sample repo on Github was linked in the reference page earlier. The python sample for HTTP request is available [here](https://github.com/Azure-Sample

[2021-08-05 06:00] SnehaAgrawal-MSFT commented on #79304
@JozoSlejko Thank you for your query . We will investigate and update the thread.

[2021-08-05 06:04] jakubwaller commented on #59093
Wow, that's really fast, thanks a lot!

[2021-08-05 06:07] RohitMungi-MSFT commented on #79311
@pnarsi Yes, these services are required for Azure ML studio because the workspace is dependent on them for proper functioning of the experiments. I believe you want to access ml.azure.com i.e studio from the browser in your network. If this isn't open already you could try to whitelist the portals first and then drill down to the rest of the FQDNs. If you are already using some of the Azure servi

[2021-08-05 06:13] KrishnaG-MSFT commented on #79305
@SHxKM Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-05 06:16] SujayJDesai commented on #79050
@KatGGS thanks for bringing this to our notice. Our installer was always signed which is the result of this self extractor but the self extractor package itself was missing the signing. We have replaced the package with signed package.

[2021-08-05 06:17] SujayJDesai commented on #79050
#please-close

[2021-08-05 06:17] #79050 closed

[2021-08-05 06:25] ashisa opened #79317 "SaaS billing marketplace service fee clarification"
There seems to be a discrepancy with respect to the store fee/marketplace service fee between the following 2 pages -
1. https://docs.microsoft.com/en-us/azure/marketplace/marketplace-commercial-transaction-capabilities-and-considerations#examples-of-pricing-and-store-fees
2. https://docs.microsoft.com/en-us/azure/marketplace/plan-saas-offer#saas-billing

Would like to clarify the circumstance whi

[2021-08-05 06:33] SumanthMarigowda commented on #79308
@ jonpayneThanks for the question! We are investigating and will update you shortly.

[2021-08-05 06:33] SumanthMarigowda commented on #79310
@aidancopps Thanks for the question! We are investigating and will update you shortly.

[2021-08-05 06:59] pnarsi commented on #79311
Yes ml.azure.com is the obvious one, that is what shows up in the browser URL. However while using Azure ML studio the browser makes a number of calls to various other endpoints so I need to ensure that all of these accessible via my secure network zone.

@RohitMungi-MSFT - are you suggesting that all of the FQDN documented in this page need to be accessible by my browser in order for Azure ML stu

[2021-08-05 07:13] sandervandevelde commented on #78470
Thanks for your reply.

I would like to have these two TSI-related pages being on par.

At this moment, I see this helpful note:

![image](https://user-images.githubusercontent.com/694737/128306554-045a9aca-6023-46fa-b59d-03daeb5323d9.png)

I propose to add a second note:

"If you have plans to use IoT Plug and Play device models or are using IoT Plug and Play device models without currently using

[2021-08-05 07:15] SadiqhAhmed-MSFT commented on #79317
@ashisa Thank you for your post. We will review the docs and get back to you soon.

[2021-08-05 07:15] SubhashVasarapu-MSFT commented on #79134
@surfen, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-05 07:15] #79134 closed

[2021-08-05 07:22] RohitMungi-MSFT commented on #79311
@pnarsi Yes, If you are using the designer from studio it might work to create the experiment but when the experiment kicks off the compute and storage might be inaccessible. Similarly for the integrated notebooks if you would like to use the Azure ML SDK from studio notebook.

[2021-08-05 07:27] Air-Git opened #79318 "Registration"
The document says: "Currently, a device can only be registered in a single tenant. This limit means that only one work or school account in the Microsoft Authenticator app can be enabled for phone sign-in."

I think this must be intended to say: "Currently, a device can only be enabled for passwordless sign-in in a single tenant." The Authenticator app itself can be registered in multiple tenants.

[2021-08-05 07:28] pnarsi commented on #79311
Thanks @RohitMungi-MSFT

[2021-08-05 07:28] #79311 closed

[2021-08-05 07:54] metu opened #79319 "Examples for optional FROM and WHERE clauses"
Hi there,

I'm not sure if this is the right place to make this request, but could you possibly add examples for SELECT statements without the FROM clause but including the WHERE clause?
I might have missed it in the documentation but I can't seem to find anything that explicitly states that you can have a SELECT clause with a WHERE clause without specifying the FROM clause.

That's if a SELECT st

[2021-08-05 08:24] YassineSOUABNI opened #79321 "New-MgUserAuthenticationTemporaryAccessPassMethod : The term 'New-MgUserAuthenticationTemporaryAccessPassMethod' is not recognized as the name of a cmdlet, function, script file, or operable program."
[Enter feedback here]
Dear,

I installed the "Microsoft.Graph" module's last version to this date '1.6.1'
which installed "Microsoft.Graph.Identity.SignIns" also among other things

I connect to Microsoft Graph : OK
While following the documentation & try to Get/Create/Remove a TAP, none of the 3 cmdlets work & all are not recognized.
Has anyone faced this issue too ?

Thanks.

---
#### Document D

[2021-08-05 08:28] ggrammatikos opened #79322 "Verbal mistake"
The registered app name is MSAapp1 instead of testapp1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7646910a-39c5-eebd-97f9-db6e7e55d1fa
* Version Independent ID: 34f989f5-05ea-19ad-7db9-40cc0a753b29
* Content: [Set up sign-up and sign-in with a Microsoft Account - Azure AD B2C](https://docs.microsoft.com/en-us/azur

[2021-08-05 08:30] cpinotossi commented on #72871
Hello, could we get an answer on this question.
thanks

[2021-08-05 09:03] shashishailaj commented on #79322
@ggrammatikos Thank you for catching this. We will engage with the content team to get it fixed.

Thank you.

[2021-08-05 09:04] shashishailaj commented on #79315
@theorange7 That's a great idea . We will work with the author's in this case to see how best the information can be updated within the documentation. This may take some time for review and update .

[2021-08-05 09:06] shashishailaj commented on #79318
@Air-Git Thank you for your feedback . We will investigate and update the thread.

[2021-08-05 09:08] shashishailaj commented on #79321
@YassineSOUABNI Thank you for your query. We will test this on our side and update the thread.

[2021-08-05 09:34] AnuragSharma-MSFT commented on #79319
@metu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-05 09:46] gerhardcit opened #79323 "networking.k8s.io/v1 for v1.22"
When creating a v1.22 K8S version, the test app yaml is out of date

Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a217cd-8949-e9b8-d8c5-a0f864b10237
* Version Independent ID: e38769a3-04f6-c695-da48-

[2021-08-05 10:00] fearofweapons opened #79324 "NO list of supported LINUX versions if NOT sudo"
You have a list of supported OS versions if the account being used to do discovery is sudo'ing. However there is no indication of supported OSses if the account is not sudo.

If you provide a list for one thing you MUST provide a list for the alternate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d3e532-e3e5-219a-

[2021-08-05 10:00] Dickkieee opened #79325 "Parameterizing Mapping data flows-Passing in Timestamp"
Hi,

For some reason Azure Data Flow can't handle `toTimestamp(left('@{pipeline().TriggerTime}', 23), 'yyyy-MM-dd\'T\'HH:mm:ss.SS`S')` anymore.
The dataflow is running into an error now.

{"StatusCode":"DF-Executor-StoreIsNotDefined","Message":"Job failed due to reason: The store configuration is not defined. This error is potentially caused by invalid parameter assignment in the pipeline.","Detai

[2021-08-05 10:43] Resmap opened #79326 "Exception: 'NoneType' object has no attribute 'rstrip'. An exception for the code."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed9a-343a-0ec7-a94d-02c354d1ae33
* Content: [Quickstart: Azure Blob Storage library v12 - Python](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python)

[2021-08-05 10:47] tobimax opened #79327 "Links Broken"
All the download links are broken and go to

https://www.microsoft.com/en-us/download/details.aspx?id=56519

Buy a Surface

Please Fix them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags ov

[2021-08-05 11:12] ggrammatikos opened #79329 "invalid_request: The provided value for the input parameter 'redirect_uri' is not valid."
Hi all,

I have followed all the document steps. When I sign in, I can see the MS Account option

![image](https://user-images.githubusercontent.com/10106554/128340546-5acd1750-8a2e-4ff5-975d-cef96221c321.png)

but I'm getting the error message below.

"We're unable to complete your request
invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value

[2021-08-05 12:24] v-bbalaiagar opened #79332 "Update Azure Function resource group restrictions"
This[ wiki](https://github.com/Azure/Azure-Functions/wiki/Creating-Function-Apps-in-an-existing-Resource-Group) article lists the restrictions for creating Azure Functions in the same resource group.

Based on the answer to the question[ here](https://docs.microsoft.com/en-us/answers/questions/491371/azure-function-resource-group-restrictions.html), the documentation could be updated to reflect th

[2021-08-05 12:32] AjayKumar-MSFT commented on #79316
@minhhho2, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-08-05 12:52] craigshoemaker commented on #68925
@m-sterspace, thanks for your feedback!

We recently updated the [local development article to use the Azure Static Web Apps CLI](https://docs.microsoft.com/azure/static-web-apps/local-development). This information, along with the practices outlined in [Add an API to Azure Static Web Apps with Azure Functions](https://docs.microsoft.com/azure/static-web-apps/add-api) should have the information y

[2021-08-05 12:52] #68925 closed

[2021-08-05 12:57] cjasset opened #79334 "VM-Decrypt should be dm-crypt"
Looks like there is a typo in the documentation.  "Cannot be enabled if Azure Disk Encryption (guest-VM encryption using bitlocker/**VM-Decrypt**)"  VM-Decrypt should be dm-crypt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4de54e-f544-0e42-5b0e-afe148b38667
* Version Independent ID: 4220c38a-28ee-87bb-c270-b7fd3e9

[2021-08-05 13:07] appetere opened #79335 "Patch not implemented?"
patch is showing as supported, but it doesn't appear to be implemented yet?

Example response:

    {
        "resourceType": "OperationOutcome",
        "id": "50beb07ac7adee4e9aedf4a32583eb10",
        "issue": [
            {
                "severity": "error",
                "code": "forbidden",
                "diagnostics": "PATCH is not currently supported."
            }
        ]
    }

[2021-08-05 13:20] faustinopalma opened #79336 "There are missing underscores in the query examples"
The query examples don't run because there are some missing underscores:
e.g. "network s" and "path s" should be changed to "network_s" and "path_s"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882f2a79-e57f-4ca7-31d0-175b4a7afaf0
* Version Independent ID: 04e37306-55e3-1fdb-4e4d-414e9702aad0
* Content: [Monitoring A

[2021-08-05 13:31] omondiatieno commented on #78934
@cveld,
Thank you for your feedback. Please feel free to reach out in case you need further clarity or assistance on this documentation. We will be more than glad to respond to your queries.

#please-close

[2021-08-05 13:31] #78934 closed

[2021-08-05 13:34] Lord-V15 commented on #79309
Yeah, I'd got it working but thanks for the link to the HTTP-Samples Rohit !
My request is just to include any sort of sample or maybe just a link in the docs for people to get started with the REST API in their language of choice.

[2021-08-05 13:36] mamoorkhan opened #79337 "Delete claims?"
Is there any way to delete/unload/remove claims from claims bag in a custom B2C policy, once they have been initialized/created in the claims bag? I know about the NullClaim on the string, but what about the other claim types like Dates, booleans and numbers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21daa0c2-d0d7

[2021-08-05 13:41] Sin2x opened #79339 "Misleading title"
Issue: Article applies both to Windows and Linux VMs but the title implies only Linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48429aa1-bb8a-f8e0-8a83-dd9efbc1c71a
* Version Independent ID: 4b2ffa2f-0238-4194-d937-d9e21a737857
* Content: [Create FQDN for a VM in the Azure portal - Azure Virtual Machines](https:/

[2021-08-05 13:57] Bafff opened #79340 "Page is not in the TOC (can we find it another way?)"
Hi!

I just want to know why this page is not in the TOC of the `Azure portal documentation`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota increase requests - Azure supporta

[2021-08-05 14:17] jerrycwli opened #79342 "Wrong command for creating Arc Data controller using az arcdata dc create"
In Azure AKS managed-premium session, --azure-subscription should be --subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4faf8fa-22ec-283d-24f9-26f5603ac404
* Version Independent ID: 4e60f376-602a-1ce0-fbc2-d1afe67cd05b
* Content: [Create data controller using CLI - Azure Arc](https://docs.microsoft.com/en-

[2021-08-05 14:17] SadiqhAhmed-MSFT commented on #79324
@fearofweapons Thank you for your question. If I understand your query correctly, you are looking for a list of OS for LINUX versions if NOT sudo. In that case, you need to follow these steps:

![image](https://user-images.githubusercontent.com/44458118/128365550-f98e0127-c706-4d46-984a-4c50bb2c101c.png)

The list of supported OS Linux version would remain the same.

[2021-08-05 14:21] fearofweapons commented on #79324
No.

I am not looking for the list. Your documentation does not state if the list of servers supported by using a sudo account is the same as if using a non sudo account. The list of supported servers is in the sudo section and it is implied that this is the supported list for sudo accounts and there is a different list for non sudo accounts.

Regards,

Richard

From: SadiqhAhmed-MSFT ***@***.***>

[2021-08-05 14:25] garybushey opened #79343 "Honey-comb does not appear to be a valid visual choice anymore"
I don't see honeycomb as a choice in the visual dropdown in neither the Monitor workbooks nor Azure Sentinel workbooks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee434272-d956-446f-7b95-fc461a7a8f1c
* Version Independent ID: 388e8fb0-dff5-3599-9d62-b1e24386c616
* Content: [Azure Monitor workbook honey comb visualiz

[2021-08-05 14:29] SadiqhAhmed-MSFT commented on #79324
@fearofweapons This section makes it clear.

![image](https://user-images.githubusercontent.com/44458118/128367477-1ff6f2e0-524a-4636-be33-35403635fdb9.png)

[2021-08-05 14:31] shae-hurst commented on #78906
Yeah, I am internal w/ Azure Global feel free to ping me. I want to try to update this documentation because there is confusion around use of this function.

[2021-08-05 14:33] VikasPullagura-MSFT commented on #79334
@cjasset
Thanks for the feedback! I have updated the document and changes will go live soon.

[2021-08-05 14:48] Nicholak-MS commented on #77107
Closing. Will reopen upon response.

#please-close

[2021-08-05 14:48] #77107 closed

[2021-08-05 14:52] kobulloc-MSFT commented on #79339
@Sin2x Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2021-08-05 14:57] ckadluba opened #79346 "Identity Element is not documented"
Some resources support Managed Identities which must be expressed by an identity element on the top level of the resource element. This should be document on the page covering the generic structure of resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8490da1b-7403-c931-1ef3-3fb0d38d4926
* Version Independent ID

[2021-08-05 15:01] fearofweapons commented on #79324
No – it does not.

It says if using a sudo account the following LINUX distributions are supported.

Then there is a new section talking about non sudo accounts, but no list of supported LINUX releases.

The list of supported LINUX distributions needs to be in a separate section titled – supported LINUX distributions.

Regards,

Richard

From: SadiqhAhmed-MSFT ***@***.***>
Sent: 05 August 2021 15:

[2021-08-05 15:11] stbof commented on #73069
We have filed a ticket in the Databricks bug tracking system: DOC-2985

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 15:11] cephalin commented on #74067
@prvempat I've opened a PR for adding the lock delete step. the hostname bindings page has a bug and it's now being tracked by the product team.

[2021-08-05 15:12] ssmiller60 opened #79348 "Dir synced users"
Please add a section explaining how this process applies to directory synced users.  Does the on-prem account get restored automatically or does it also need to be restored and should that be done first?  Does the active directory recycle bin need to be enabled?

Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-08-05 15:14] stbof commented on #74769
We have filed a ticket in the Databricks bug tracking system: DOC-2986

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 15:19] stbof commented on #75186
We have filed a ticket in the Databricks bug tracking system: DOC-2987

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 15:21] stbof commented on #75923
We have filed a ticket in the Databricks bug tracking system: DOC-2988

We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 15:32] #74067 closed

[2021-08-05 15:35] dereklegenzoff commented on #24491
There's a good chance you're getting these errors either because your search service is in private mode or because of the security configurations on your data sources (such as IP firewalls). One good option is to [use managed identities to connect to your data source](https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-data-sources).

There's articles showing how to do th

[2021-08-05 15:41] DCtheGeek commented on #76329
@ToruMakabe Thanks for the question!  Fortunately, Azure Resource Graph supports the Kusto aggregation function [buildschema()](https://docs.microsoft.com/azure/data-explorer/kusto/query/buildschema-aggfunction). A great way to find available properties for resources you have given a specific resource type is to summarize it's schema with a query like this:

[code]

The output is a single row with

[2021-08-05 15:51] roygara commented on #78822
#assign:wmgries

[2021-08-05 15:52] jaganth opened #79349 "Incorrect icon used in flow diagram"
The Icon used in the image for Event Grid is actually the Even Hub icon. Event Grid icon - https://github.com/David-Summers/Azure-Design/blob/master/PNG_Azure_All/Event%20Grid%20Subscription.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5600ab-b0c4-d463-a6c8-19e877138d6b
* Version Independent ID: 5236a870-4196-c

[2021-08-05 15:57] paul-baumgartner opened #79350 "Document needs update"
Document recommends usage of WEBSITE_VNET_ROUTE_ALL when this option is now deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc0b34e2-0eb8-fe89-300c-67e6c212ed31
* Version Independent ID: 5d01d8ce-f835-c88c-801c-1d569f24fd9f
* Content: [Azure Functions networking options](https://docs.microsoft.com/en-us/azur

[2021-08-05 15:58] paul-baumgartner opened #79351 "Document needs updating"
Document recommends usage of WEBSITE_VNET_ROUTE_ALL when this option is now deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4662c6-e943-b48f-6d19-8d0db28007b5
* Version Independent ID: b8219a5a-94f0-3246-9a59-9d308f93d78a
* Content: [Use private endpoints to integrate Azure Functions with a virtual network

[2021-08-05 16:07] kobulloc-MSFT commented on #79339
@Sin2x Thank you again for bringing this to our attention.  I'll get a PR out to update the title.

[2021-08-05 16:08] yoelhor commented on #79337
Unfortunately it's impossible to remove claims form the claim bag. But you need to set it to a null (string), or default value (you choose). For example 0, or for date 1970-1-1

[2021-08-05 16:11] yoelhor commented on #79322
They are two different apps:

1. MSAapp1 for the Microsoft account
2. testapp1  The real application. Your mobile, or web application.

Yoel

[2021-08-05 16:12] yoelhor commented on #79329
Could you copy and share the URL from the browser? **Remove** your tenant name from the URL before you share.

[2021-08-05 16:39] MonikaReddy-MSFT commented on #79342
@jerrycwli - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-05 16:39] #79342 closed

[2021-08-05 16:41] duongau commented on #79336
@faustinopalma Thank you for your correction of the query examples. I have update the queries to include the "_". The changes should reflect later today.

#please-close

[2021-08-05 16:41] #79336 closed

[2021-08-05 16:43] #79337 closed

[2021-08-05 16:44] msmimart commented on #77772
@mrochon, we appreciate this feedback, You're right, userType can be manually set to either value. More clarifications are in the works, but I've updated the intro as a start. The changes should publish shortly. Thanks again

[2021-08-05 16:44] MarileeTurscak-MSFT commented on #79348
@ssmiller60
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-05 16:45] #77772 closed

[2021-08-05 16:46] MarileeTurscak-MSFT commented on #79349
@jaganth
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-05 17:11] Oury-MSFT commented on #79335
@appetere Thanks for your feedback. We are looking into this and will get back shortly. Thanks

[2021-08-05 17:22] DerekHerman-MSFT commented on #79326
@Resmap Thanks for the feedback! Could you please let us know which code example you are facing issues with? This way we can test to see if updates need to be made.

[2021-08-05 17:27] drdamour opened #79354 "Why do short names for permissions work for certain services?"
This doc's "Scopes and permissions" sections says

however just a few sections down in "Admin-restricted permissions" section it says uses scopes like:

those short names are NOT well-defined OpenID connect scopes..and they don't have the URI structure to them.  Why can you use the short name for them?  can you use the short name for ANY microsoft graph scope?  If so this should be documented here

[2021-08-05 17:29] SaurabhSharma-MSFT commented on #79325
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-08-05 17:30] MartinJaffer-MSFT commented on #79325
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-08-05 17:44] reydelleon-skuvault commented on #79111
The browser literally shows the word `Session` in the column where other cookies have an expiration date. There is no expiration date set for it, neither in seconds nor in minutes.

[2021-08-05 17:52] lgayhardt commented on #79343
Hi @garybushey,

The Honey comb visualization is still there, it's a type of Graph visualization so it does not appear directly in the visualization dropdown.

To get to it you have to select **Graph**  as the visualization type.

<img width="1134" alt="Screenshot of query with graph select as the visualization." src="https://user-images.githubusercontent.com/23491583/128397324-ec6a06e0-bb32-46fe-

[2021-08-05 17:52] #79343 closed

[2021-08-05 18:00] #79339 closed

[2021-08-05 18:16] kdupindersingh opened #79357 "This page need to be updated."
The options available in subnet are not there like NAT gateway setting. Additionally there is no USERS setting in the subnet level.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8332806-35c4-26e5-56e6-0286d728ad45
* Version Independent ID: ce76cee4-5629-7439-309c-9b9705891b57
* Content: [Add, c

[2021-08-05 18:21] ddietterich opened #79358 "What does this sentence mean?"
The page says:

Deploy associations for a managed application is a built-in policy that can be used to deploy association to associate a resource to a managed application

Is "deploy association" a noun (a built-in policy) or a verb (used to deploy association)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f9405c1-5

[2021-08-05 18:26] luisquintanilla commented on #78698
#assign:@luisquintanilla

[2021-08-05 18:30] SepidehSaba commented on #78717
Hi Matt, Thank you for your reply!
This means that we cannot have multiple entries in the table, based on the version and always the same entry will be updated with the latest update.
Is there any way we can request a change where we can have that control over what goes in PartitionKey and RowKey?

[2021-08-05 18:31] Karishma-Tiwari-MSFT commented on #79312
Thanks for sharing the update.

[2021-08-05 18:32] Karishma-Tiwari-MSFT commented on #78894
@vinishgeorge Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-08-05 18:32] #78894 closed

[2021-08-05 18:34] mattmsft commented on #78717
Versioning in this way isn't supported by the knowledge store. Thanks for letting us know about this requirement for your application.

In the meantime is it possible to upload a different version of the document to your data source, rather than overwriting the existing version to work around this issue? Sorry for the inconvenience.

[2021-08-05 18:46] ggrammatikos commented on #79329
Please find the URL's below :

https://[########].b2clogin.com/f021cac6-06fe-44ed-bf30-5adbcdcbd8f0/b2c_1_grammatikos_sign-in/oauth2/v2.0/authorize?client_id

https://[#######].powerappsportals.com/SignIn?returnUrl=%2F

[2021-08-05 19:06] ChaitanyaNaykodi-MSFT commented on #79327
Hello @tobimax, Thank you for your feedback. If you scroll down on the link (https://www.microsoft.com/en-us/download/details.aspx?id=56519) you can find the download button to get the files.

![image](https://user-images.githubusercontent.com/67453298/128406589-ec99e1d0-54e3-4bb5-8a16-b7e11a7f07fe.png)

We will now proceed to close this issue out. Please tag me in your response if there are any a

[2021-08-05 19:07] ChaitanyaNaykodi-MSFT commented on #79323
Hello @gerhardcit,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-05 19:09] ChaitanyaNaykodi-MSFT commented on #79357
Hello @kdupindersingh,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-05 19:11] kdupindersingh commented on #79357
👍

On Fri, 6 Aug 2021 at 3:10 am, ChaitanyaNaykodi-MSFT <
***@***.***> wrote:

[2021-08-05 19:11] SadiqhAhmed-MSFT commented on #79324
@Vikram1988 Could you please review "fearofweapons" request and update the doc as required.

[2021-08-05 19:12] joshykautz commented on #74289
Is there any other non-.NET way to list blob versions? Like via Azure CLI or REST API?

[2021-08-05 19:17] lcamilo15 opened #79362 "Sample code doesn't handle multiple IP addresses"
We were having issues with because we have multiple IP addresses on x-forwarded-for, to address this, we have added additional code to iterate over the list of IPS in the forwarded-for array.

Please take a look at the documentation from Mozilla regarding the header:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For

[code]
---
#### Document Details

⚠ *Do not edit this se

[2021-08-05 19:40] lcamilo15 opened #79363 "Updated Sample for "X-Forwarded-For""
We were having issues with because we have multiple IP addresses on x-forwarded-for, to address this, we have added additional code to iterate over the list of IPS in the forwarded-for array.

Please take a look at the documentation from Mozilla regarding the header:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For

[code]
---
#### Document Details

⚠ *Do not edit this se

[2021-08-05 19:44] tgolla commented on #55126
I do not believe this has been corrected as I am experiencing the same issue working with the Azure AD B2C: Role-Based Access Control example.

http://www.b2csamples.com/policies/relying-party-rbac/#:~:text=Azure%20AD%20B2C%3A%20Role-Based%20Access%20Control%20Role-Based%20Access,need%20to%20perform%20their%20jobs%20in%20your%20application.

https://github.com/azure-ad-b2c/samples/tree/master/poli

[2021-08-05 19:50] asears opened #79364 "Add AppInsights support"
This is now available in preview.  It could be added to the list of services which support managed identity?

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-ad-authentication?tabs=net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8

[2021-08-05 20:03] craigshoemaker commented on #66269
Thanks, @jonashaefele! The article is now updated to use `exportPathMap` and `getStaticPaths`. The new version should be available in production in a few hours.

#please-close

[2021-08-05 20:03] #66269 closed

[2021-08-05 20:05] craigshoemaker commented on #67949
The data module is available in the repo in the [utils/projectsData.js](https://github.com/staticwebdev/nextjs-starter/blob/main/utils/projectsData.js) file. This module returns a data object used as the context for creating static pages.

#please-close

[2021-08-05 20:05] #67949 closed

[2021-08-05 20:31] craigshoemaker commented on #68887
@m-sterspace - thanks for the heads-up on this. The starter repo has been updated, and I have added a [staticwebapp.config.json](https://github.com/staticwebdev/nextjs-starter/blob/main/staticwebapp.config.json) to the repo to support routing that used to be implemented in the _routes.json_ file.

I am going to #please-close this issue now, but if you need anything else, please feel free to reopen

[2021-08-05 20:31] #68887 closed

[2021-08-05 20:33] craigshoemaker commented on #70261
Thanks, @marcosrivasr! The portal image is removed from the article now.

#please-close

[2021-08-05 20:33] #70261 closed

[2021-08-05 20:53] mcarter106 opened #79365 "Grafana password portion of instructions"
This section of the install istio page is not correct.
The analytics and monitoring dashboards for Istio are provided by Grafana. Remember to use the credentials you created via the Grafana secret earlier when prompted. Open the Grafana dashboard securely as follows:

There is no section above where the credentials are set or at least I did not see them.  To login in I used the defaults of admin a

[2021-08-05 20:57] ma7112002 opened #79366 "connection"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart: Deploy an ASP.NET web app - Azure App Service](https://docs.microsoft.com/ar-sa/azure/app-service/quickstart-dotnetcore?pivots=platform-linux&tabs=ne

[2021-08-05 21:14] jaseidman commented on #47164
I haven't seen a response to my suggestion to try following the document in the Azure GitHub. We have an internal Jira to consider adding these instructions to our documentation. I suggest closing this.

#please-close

[2021-08-05 21:14] #47164 closed

[2021-08-05 21:19] jxbell commented on #54564
#label:"support-request"

[2021-08-05 21:20] PaulCornellDB commented on #56875
We have filed a ticket in the Databricks bug tracking system: DOC-2993. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 21:28] chaisen2006 opened #79368 "Provision SSISDB using Managed Identity - Powershell"
Hello Team,

The document only states SQL Auth method to provision a SSISDB but in UI in ADF we have option to use MI as well.(system or user defined MI ).

If we try to use a devops pipeline , is it not possible to implement a MI authentication method using power shell ?

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-08-05 21:30] MarileeTurscak-MSFT commented on #79364
@asears
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-05 21:30] PaulCornellDB commented on #58912
We have filed a ticket in the Databricks bug tracking system: DOC-2994. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 21:37] leifbro commented on #59924
This was resolved quite awhile ag,o but the issue was not updated. #please-close

[2021-08-05 21:37] #59924 closed

[2021-08-05 21:39] PaulCornellDB commented on #59688
We have filed a ticket in the Databricks bug tracking system: DOC-2995. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 21:40] jaseidman commented on #54342
Hi @CharmanderJieniJieni – Apologies for the lack of response to this issue. Given how old this issue is, you may have already resolved your questions. If not, please let me know. If you did find a resolution, that info would be useful as well. I'll also note that the referenced doc has been updated since this issue was opened, so it's possible that we've already addressed these questions.

[2021-08-05 21:41] leifbro commented on #58539
We have filed a ticket in the Databricks bug tracking system :DOC-2996. We will update this Git issue when the ticket has been resolved.
#label:"in-progress".

[2021-08-05 21:43] mdlinville commented on #56828
Thank you for your patience, @sandou0917 . Are you using secure cluster connectivity?  If the workspace uses [secure cluster connectivity](https://docs.microsoft.com/en-us/azure/databricks/security/secure-cluster-connectivity), both container and host subnets are private. Networking issues and complex. If you are still experiencing issues, please contact your Databricks representative or contact D

[2021-08-05 21:44] PaulCornellDB commented on #56875
#label:"in-progress"

[2021-08-05 21:48] jaseidman commented on #57721
The Parquet article has been updated with an Options section since this ticket was opened. We should be able to close this now.

#please-close

[2021-08-05 21:48] PRMerger9 commented on #57721
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 21:50] PaulCornellDB commented on #58027
#label:"support-request"

[2021-08-05 21:51] leifbro commented on #54564
This question would best be put to Azure Databricks support.

#label:"not-doc"
#label:"support-request"

[2021-08-05 21:53] KarlErickson commented on #70666
#assign: @karlerickson

[2021-08-05 21:57] PaulCornellDB commented on #61152
We have filed a ticket in the Databricks bug tracking system: DOC-2997. We will update this Git issue when the ticket has been resolved. #label:"in-progress"

[2021-08-05 21:57] mdlinville commented on #56828
#label:"support-request"

[2021-08-05 22:00] leifbro commented on #57301
Thanks for the feedback. We have filed a ticket in the Databricks bug tracking system: DOC-2999. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 22:01] PaulCornellDB commented on #61917
Thanks for the feedback. Leaving "notebook" lowercased in this case is a Databricks documentation editorial standard. #label:"please-close"

[2021-08-05 22:03] leifbro commented on #59272
This was resolved awhile ago, but this Git Issue was not updated.
#please-close

[2021-08-05 22:03] #59272 closed

[2021-08-05 22:13] jaseidman commented on #58662
Created ticket DOC-3001 in the Databricks docs team backlog to update this article with the suggested information. In the meantime, I think this ticket can be closed.

#please-close

[2021-08-05 22:13] PRMerger20 commented on #58662
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 22:14] leifbro commented on #61231
Thanks for this helpful feedback, @pnarsi. We have filed a ticket in the Databricks bug tracking system: DOC-3002. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 22:15] jxbell commented on #57723
We have filed a ticket in the Databricks bug tracking system: DOC-3003. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 22:19] PaulCornellDB commented on #64596
@pcmarius Thanks for the feedback. The current version of these instructions show how to use Power BI Desktop through the Azure Databricks connector. Can this item be closed now?

[2021-08-05 22:21] jaseidman commented on #59439
Looks like the VNET article has been updated with the required info. This should be closed.

#please-close

[2021-08-05 22:21] PRMerger9 commented on #59439
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 22:22] PaulCornellDB commented on #66116
@matthiaspfenninger  The article has been updated as follows: "Java Runtime Environment (JRE) 8. The client has been tested with the OpenJDK 8 JRE." Does this address your concerns?

[2021-08-05 22:25] PaulCornellDB commented on #67314
This issue is resolved in the Databricks source files and has been published. #please-close

[2021-08-05 22:25] PRMerger10 commented on #67314
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 22:27] PaulCornellDB commented on #68828
This issue is resolved in the Databricks source files and has been published. #please-close

[2021-08-05 22:27] PRMerger6 commented on #68828
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 22:27] jxbell commented on #58765
We have filed a ticket in the Databricks bug tracking system: DOC-3004. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 22:29] leifbro commented on #62079
This was resolved awhile ago, but this Git Issue was not updated. #please-close

[2021-08-05 22:29] #62079 closed

[2021-08-05 22:32] PaulCornellDB commented on #69697
We have filed a ticket in the Databricks bug tracking system: DOC-3005. We will update this Git issue when the ticket has been resolved. #label:"in-progress"

[2021-08-05 22:34] jxbell commented on #59537
We have filed a ticket in the Databricks bug tracking system: DOC-3007. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 22:37] Karishma-Tiwari-MSFT commented on #79365
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-05 22:37] mdlinville commented on #58832
Thanks for your feedback.

#please-close

[2021-08-05 22:37] PRMerger9 commented on #58832
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 22:38] leifbro commented on #62888
This issue was resolved awhile ago, but the Git Issue was not updated. #please-close

[2021-08-05 22:38] #62888 closed

[2021-08-05 22:41] PaulCornellDB commented on #72264
We have filed a ticket in the Databricks bug tracking system: DOC-3008. We will update this Git issue when the ticket has been resolved. #label:"in-progress"

[2021-08-05 22:43] jaseidman commented on #66431
Hi @dereklokey – Apologies for the delay. Can you let us know whether this is still an open question?

[2021-08-05 22:43] jxbell commented on #60471
We have filed a ticket in the Databricks bug tracking system: DOC-3010. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 22:46] mdlinville commented on #59665
Thanks for the feedback. This is being tracked by Databricks in an internal report, DOC-3009.

[2021-08-05 22:46] PaulCornellDB commented on #73029
@moxious Could you provide any details about specific instances in which this article is outdated? I do see a note in the article that "you cannot access this data source from a cluster running Databricks Runtime 7.0 or above because a Neo4j connector that supports Apache Spark 3.0 is not available."

[2021-08-05 22:47] jaseidman commented on #67558
Hi @wangfeng9981 – can you let us know if you still have a question about Power BI with Databricks? If so, please provide as much detail on what you're trying to do and the issues you're seeing.

[2021-08-05 22:48] leifbro commented on #64968
You can simply replace "dropdown" in the examples with "combobox" or "multiselect". We will update the doc to make that clear.

We have filed a ticket in the Databricks bug tracking system: DOC-3011. We will update this Git issue when the ticket has been resolved.
#label:"in-progress"

[2021-08-05 22:49] mdlinville commented on #61140
This is now tracked by Databricks in internal issue DOC-3012. Thanks for the feedback.

[2021-08-05 22:51] lgayhardt commented on #77995
I'm going to close this issue for now but let us know if you have any additional questions.

#please-close

[2021-08-05 22:52] PaulCornellDB commented on #74631
#label:"product-question"
#label:"support-request"
#label:"not-doc"

[2021-08-05 22:55] leifbro commented on #67558
This is a feature request, not a doc issue. #label:"not-doc" #please-close

[2021-08-05 22:55] #67558 closed

[2021-08-05 22:56] PlagueHO opened #79372 "Not clear that Azure DevOps Microsoft Hosted Agents aren't a Trusted Service"
I think this page should explicitly indicate that Azure DevOps Microsoft Hosted Agents are not considered a Microsoft Trusted resource. I have a partner who has spent time trying to get this to work with Azure DevOps Microsoft Hosted agents, thinking that it would be a "Microsoft Trusted service". Could the page list the specific services that are considered trusted services?

---
#### Document De

[2021-08-05 22:56] Heidilohr commented on #79242
@psmanhas Thank you for bringing this to my attention. I'll add this code to a new pull request as soon as I can.

[2021-08-05 22:58] PaulCornellDB commented on #75143
We have filed a ticket in the Databricks bug tracking system: DOC-3013. We will update this Git issue when the ticket has been resolved. #label:"in-progress"

[2021-08-05 23:00] andreakress commented on #57720
@travis-c-lagrone , we need more information. Please see the question above.

[2021-08-05 23:02] mdlinville commented on #61918
Thanks for the feedback. A fix for this typo is currently under review within Databricks.

#please-close

[2021-08-05 23:02] PRMerger13 commented on #61918
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 23:03] leifbro commented on #57721
#please-close

[2021-08-05 23:03] #57721 closed

[2021-08-05 23:04] leifbro commented on #68856
The doc team does not have the domain experience to answer this question. Please file a support ticket if you can. Or perhaps @williambrandler can answer this question. #label:"not-doc" #label:"support-request"

[2021-08-05 23:07] mdlinville commented on #62739
Here's the Python example: https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/sql-databases#python-example

#please-close

[2021-08-05 23:08] andreakress commented on #58587
We have filed a ticket in the Databricks bug tracking system: DOC-3014. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:11] mdlinville commented on #64565
This was already fixed in the reported article. Apologies for not updating the status of this issue at the time.

#please-close

[2021-08-05 23:11] PRMerger7 commented on #64565
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 23:11] andreakress commented on #59271
Looks like this has been fixed. #please-close

[2021-08-05 23:11] #59271 closed

[2021-08-05 23:13] mdlinville commented on #65713
Thanks for your feedback. The linked article already states "The Azure DevOps Services organization must be linked to the same Azure AD tenant as Databricks.".

#please-close

[2021-08-05 23:13] PRMerger18 commented on #65713
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-05 23:14] leifbro commented on #69933
I believe that workspace libraries are intended to be available to install as cluster libraries, not notebook-scoped libraries. See https://docs.microsoft.com/en-us/azure/databricks/libraries/cluster-libraries. #label:"not-doc"
 #label:"support-request"

[2021-08-05 23:16] andreakress commented on #61552
We have filed a ticket in the Databricks bug tracking system: DOC-3015. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:16] leifbro commented on #72627
#please-close

[2021-08-05 23:16] #72627 closed

[2021-08-05 23:19] jaseidman commented on #63676
Hi @UnderTheCraft – Apologies for the delay in response. If you still have a question about model serving from notebooks, I suggest following up with the Databricks support team.

#label:not-doc
#label:support-request

[2021-08-05 23:20] ToruMakabe commented on #76329
@DCtheGeek Thank you! I took a step forward. This method works well when I have the resources. By the way, is there a way to get the properties when I don't have the resources?

The purpose is to generate a resource properties template for testing infrastructure creation code such as Terraform. Specifically, after generating the properties template that we are discussing, I would like to create a

[2021-08-05 23:20] andreakress commented on #62405
We have filed a ticket in the Databricks bug tracking system: DOC-3016. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:21] mdlinville commented on #68630
The referenced internal issue was resolved in early April, but this issue was not updated at that time. Sorry about that, and thanks for your patience.

[2021-08-05 23:21] andreakress commented on #63443
This seems to be fixed. #please-close

[2021-08-05 23:21] #63443 closed

[2021-08-05 23:26] andreakress commented on #65149
We have filed a ticket in the Databricks bug tracking system: DOC-3019. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:27] jaseidman commented on #69314
If these are still open questions, I think it's better to reach out to Databricks support for assistance.

#label:"not-doc"
#label:"support-request"

[2021-08-05 23:27] andreakress commented on #66562
#label:"in-progress"

[2021-08-05 23:28] jxbell commented on #61926
We have filed tickets in the Databricks bug tracking system: DOC-3017 and DOC-3018. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:31] andreakress commented on #68026
Seems to be already fixed. #please-close

[2021-08-05 23:34] jxbell commented on #62411
We have filed a ticket in the Databricks bug tracking system: DOC-3020. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:36] andreakress commented on #68026
We have filed a ticket in the Databricks bug tracking system: DOC-3021. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:40] sunnyhay commented on #79249
any update? Thanks.

[2021-08-05 23:42] leifbro commented on #73374
The typo (dot after Spark) is fixed in source and will be published soon. The schema issue is not clear to me. The example provided by @CHEEKATLAPRADEEP-MSFT uses a schema file with the suffix .avso, which should be .avsc, which is already correct in the example.

[2021-08-05 23:43] jxbell commented on #64473
We have filed a ticket in the Databricks bug tracking system: DOC-3023. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-05 23:43] leifbro commented on #73374
#label:"in-progress"

[2021-08-05 23:45] jaseidman commented on #75434
Hi @kfprugger – If this is still unresolved, I suggest following up with Databricks support for assistance.

#label:"not-doc"
#label:"support-request"

[2021-08-05 23:46] diberry opened #79373 "Branch is main or master?"
Why are some of the branch names in troubleshooting `main` and some `master`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e94f3fb-7da7-3ddf-bf38-32e4fea00699
* Version Independent ID: 59222ad8-9930-b889-f0a9-c9bc3c642e38
* Content: [Deploy from local Git repo - Azure App Service](https://docs.microsoft.com/en-us/az

[2021-08-06 00:08] swinarko commented on #79368
When using PowerShell to create SSIS IR that connects to SQL DB/MI via AAD Auth w/ the system/user-assigned managed identity for ADF, you need to omit the CatalogAdminCredential argument, see https://docs.microsoft.com/azure/data-factory/create-azure-ssis-integration-runtime#create-an-integration-runtime.  #please-close

[2021-08-06 00:08] #79368 closed

[2021-08-06 00:20] ssabat commented on #79150
@arinbanerjee01 , thanks for your feedback. We revisited the doc.

It looks like the time is converted into UTC by default.  Note the output of sample Pyhton script

Pipeline run status: Succeeded
Datetime with no tzinfo will be considered UTC.
Datetime with no tzinfo will be considered UTC.

Activity run details

Activity run status: Succeeded
Number of bytes read: 18
Number of bytes written: 18

[2021-08-06 00:22] ssabat commented on #79150
close #79150

[2021-08-06 00:30] ssabat commented on #79150
#please-close

[2021-08-06 00:53] andreakress commented on #69202
#label:"not-doc"
#label:"support-request"

[2021-08-06 00:59] andreakress commented on #72680
We have filed a ticket in the Databricks bug tracking system: DOC-3024. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-06 01:01] andreakress commented on #73520
#label:"not-doc"
#label:"product-question"

[2021-08-06 01:06] andreakress commented on #74946
We have filed a ticket in the Databricks bug tracking system: DOC-3026. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-06 01:09] andreakress commented on #75416
We have filed a ticket in the Databricks bug tracking system: DOC-3027. We will update this Git issue when the ticket has been resolved. #label:"in-progress".

[2021-08-06 01:20] SamaraSoucy-MSFT commented on #79332
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-06 01:49] BharathNimmala-MSFT commented on #79346
@ckadluba Thank you for sharing your feedback, assigned this issue to our document author to further review your feedback and see if doc needs to be updated accordingly.

[2021-08-06 01:59] ChaitanyaNaykodi-MSFT commented on #79351
Thank you for your feedback! We will review and update as appropriate.

[2021-08-06 02:00] ChaitanyaNaykodi-MSFT commented on #79350
Thank you for your feedback! We will review and update as appropriate.

[2021-08-06 02:02] BharathNimmala-MSFT commented on #79087
@jokarl My sincere apologies for delay in getting back to this thread. The issue you are experiencing needs some additional troubleshooting and can be better assisted by our support team. If you have support plan please create a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/). If not, please send an email to AzCommunity@microsoft.com  with your Subscription details and a

[2021-08-06 02:02] #79087 closed

[2021-08-06 02:04] ChaitanyaNaykodi-MSFT commented on #79363
Hello @lcamilo15,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-06 02:05] BharathNimmala-MSFT commented on #79340
@Bafff Thanks a lot for bringing this to our notice, we will review and update the document accordingly.

[2021-08-06 02:06] ChaitanyaNaykodi-MSFT commented on #79362
Hello @lcamilo15, we are closing this issue as it is a duplicate of [this issue ](https://github.com/MicrosoftDocs/azure-docs/issues/79363) created by you. Please let me know if there are any additional concerns. Thank you once again for the feedback.

[2021-08-06 02:06] #79362 closed

[2021-08-06 02:27] RyanHill-MSFT commented on #79213
Thanks for the callout @mohamed-elbeltagy, I've confirmed this and have issued a doc update.

[2021-08-06 02:42] #79213 closed

[2021-08-06 03:10] BharathNimmala-MSFT commented on #79095
@jz-wilson - Thanks again for bringing this to our notice and helping us improve our Azure documentation. I did raise a PR to reflect the feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however

[2021-08-06 03:10] #79095 closed

[2021-08-06 03:38] emardee commented on #65201
I know this is quite old now, but can the OP achieve what they are looking for using Powershell. Thinking specfically, using step one from [this blog post](https://www.undocumented-features.com/2018/06/15/mail-enabling-guest-users-or-how-i-made-everyone-show-up-in-the-address-book/), which suggests the following Powershell command that can invite an external user, and give the redirect URL of choi

[2021-08-06 03:56] hyoshioka0128 opened #79376 "[LOC]Back-Translation "Visual Studio コード"→"Visual Studio Code" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/azure-functions/functions-event-grid-blob-trigger?tabs=csharp"
![functions-event-grid-blob-trigger_j](https://user-images.githubusercontent.com/40815708/128453774-9230da83-d773-4551-a282-84c7f6a8488f.png)

en-us:"https://docs.microsoft.com/en-us/azure/azure-functions/functions-event-grid-blob-trigger?tabs=csharp"
![functions-event-grid-blob-trigger_e](

[2021-08-06 04:01] spelluru commented on #79124
I have added the screenshots. I will need to update the section after Event Grid shows up under system managed identities list in the drop-down.

#please-close

[2021-08-06 04:01] #79124 closed

[2021-08-06 04:02] spelluru commented on #78843
#please-close

[2021-08-06 04:02] #78843 closed

[2021-08-06 04:06] ShaikMaheer-MSFT commented on #79150
@ssabat Thank you for sharing details. Closing issue.

[2021-08-06 04:06] #79150 closed

[2021-08-06 04:10] KrishnaG-MSFT commented on #79354
@drdamour Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-06 04:25] emardee opened #79377 "Google Authentication Deprication for AzureAD External Users?"
I'm wanting to invite Google Gmail Account users as External Guests into AzureAD, so they can login using Google Federation, so that they can then get given shared access to Sharepoint Resources which they can access using their logged in Gmail account,

My undertsanding was that this was totally possible and accordingly I have setup and got working Google Federation on the AzureAD > External Iden

[2021-08-06 04:27] trs80 opened #79378 "Firefox 91 will have Windows 10 account support"
Firefox 91 will have Windows 10 account support https://support.mozilla.org/en-US/kb/windows-sso

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Conditions in Conditional Access policy - Azure Active Directory

[2021-08-06 04:47] AjayKumar-MSFT commented on #79366
@ma7112002, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share more details on the issue you're experiencing or have any specific feedback for the referenced Azure doc?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-08-06 04:55] BhargaviAnnadevara-MSFT commented on #79373
@diberry Thanks for the question. We're investigating this and will get back to you shortly.

[2021-08-06 04:55] ShaikMaheer-MSFT commented on #79253
@liudan66 Could you please validate feedback and update as appropriate. Links to VM agent and Service principle to grant contributor role may help here. Thank you.

[2021-08-06 04:57] SwathiDhanwada-MSFT commented on #79358
@ddietterich Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-06 04:59] ShaikMaheer-MSFT commented on #79256
@pnarsi Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-08-06 05:01] ShaikMaheer-MSFT commented on #79259
@mssaperla / @leifbro Could you please validate feedback and update as appropriate. Thank you.

[2021-08-06 05:03] ShaikMaheer-MSFT commented on #79265
@linda33wj Could you please validate customer feedback and update as appropriate. Thank you.

[2021-08-06 05:07] VikasPullagura-MSFT commented on #79372
@PlagueHO
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-06 05:08] VikasPullagura-MSFT commented on #79372
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2021-08-06 05:12] hariAtVonto opened #79379 "Clarification on if backfilling processes duplicate file entries"
Hi,

I noticed a new option `cloudFiles.backfillInterval` - I am curious to know whether this will also backfill entries that we have already processed via the initial notification received, or if these duplicate files will be ignored.

Thanks,
Hari

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666056ad-bd09-c755-f8b0

[2021-08-06 05:13] dataslicer commented on #69314
Thank you for getting back to me.
I may have misinterpreted this document enhancements requests / issues mechanism is contributed by the Azure Databricks team as a way to improve the knowledge base for all users and reduce support requests.
I really love the documentation that has been written so far because it has already answered a lot of my questions.

Please feel free to close this out if your

[2021-08-06 05:17] pnarsi commented on #79256
@ShaikMaheer-MSFT - I am happy to raise query on the Q&A platform but I believe is this also a documentation related issue as well. For many other Azure Databricks pages the documentation mentions how to configure a particular setting via the databricks UI as well as via Databricks CLI and or the Databricks API. This page only mentions the use of the Databricks API. If this is the only supported m

[2021-08-06 05:22] ShaikMaheer-MSFT commented on #79256
@pnarsi Thank you for giving clarity on ask. I added doc-enhancement tag to it and assigned it doc owners to review your feedback and update as appropriate.

[2021-08-06 05:23] ShaikMaheer-MSFT commented on #79256
@mssaperla  @leifbro Could you please validate customer feedback and update doc as appropriate. Thank you.

[2021-08-06 05:38] emardee commented on #79377
Apologies, I realised I accidentally deleted the **Document Details** section at the bottom of the above issue, and as a result it might not have been categorised correctly by the bots when initially posted by me. I've edited the issue, and pasted the **Document Details** info back into the bottom of the issue above, so hopefully it can get categorised correctly... and you can see which page I'm r

[2021-08-06 05:48] yutaro113 opened #79381 "The fact that Domain re-verification is required once in a several year (around 3 year?) while App Service Cert renewal should be mentioned."
Hi team,
In my understanding, even if Auto-Renew is enabled for app service certificate, once in a several year, manual domain verification will be required.
But that fact seems not mentioned.

As this can make confusion and user may think no manual operation is required during auto-renew, it's better to be mentioned.
Thank you very much for the doc improvement!

---
#### Document Details

⚠ *Do n

[2021-08-06 05:55] eyoh5 opened #79382 "Kubelogin with SPN(service principal) option is note described."
[Enter feedback here]

On the kubelogin section,
https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac#use-azure-rbac-for-kubernetes-authorization-with-kubelogin

there is no description for kubelogin with SPN (service principal option).
However I fount that It is possible to kubelogin with SPN: https://github.com/Azure/kubelogin#service-principal-login-flow-non-interactive

Please kindly c

[2021-08-06 06:15] shashishailaj commented on #79377
@emardee Thank you for your feedback . We will investigate and update the thread.

[2021-08-06 06:16] matthiaspfenninger commented on #66116
Looks good, thanks @PaulCornellDB

[2021-08-06 06:17] BharathNimmala-MSFT commented on #79123
@sachip-msft Our sincere apologies for delay in getting back to this thread.

 Thank you for bringing this to our notice, we will take this feedback to respective Product team. If we need some additional information will reach out to you offline.  We'll continue to work with you directly and will update the thread with any findings that may help others. Thank you

Given that this channel is only f

[2021-08-06 06:17] #79123 closed

[2021-08-06 06:25] SnehaAgrawal-MSFT commented on #79188
@brandoncramer Thanks again. We've updated our docs recently to address this change, you can have a look into [document](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#routes). vnetRouteAllEnabled will replace WEBSITE_VNET_ROUTE_ALL application setting. The setting won't go away but flipping this toggle will overwrite the value if it's been priorly set.

The Route

[2021-08-06 06:25] #79188 closed

[2021-08-06 06:55] minhhho2 commented on #79316
@AjayKumar-MSFT

Also, just looking to verify something else.

I've been going through the video on demand infrastructure [https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/digital-media-video] to improve the video viewing experience for our viewers on our application.

A lot of the documentation external to azure media services that I have read around adaptive bit rate s

[2021-08-06 07:11] #79334 closed

[2021-08-06 07:12] hariAtVonto commented on #79379
I have tested it myself and can confirm:
* This option does not work for DBR 7.3 or 7.6, but worked on 8.4 (this should be documented if required)
* This option does **not** ingest duplicated files. This was tested by:
   * Adding option `cloudFiles.backfillInterval` with value `1 hour`
   * Adding files to be recieved by the Autoloader streamer by uploading to a container
   * Awaiting completion

[2021-08-06 07:20] lbenediktson opened #79383 "Azure Functions [Node.js]: context.bindingData not containing my route params as documentation suggests"
I'm currenty building a function that should retrieve 2 route params (first required, second optional), but I'm facing some issues despite following their Documentation.

Specifically I'm following [this][1] bit of instructions, but unfortunately it wont work as expected.

In my function.json I have the following piece of code:

    {
      "bindings": [
        {
          "authLevel": "anonymous

[2021-08-06 07:23] SrijitBose-MSFT commented on #79382
@eyoh5  Thank you for your feedback. We have shared the same with the content author.

[2021-08-06 07:36] stewart-echooff opened #79384 "Missing URL to check communication with Azure"
Hi,

It seems a URL is missing from this section.

Verify the port
Verify that Azure is listening on port 443 and that your agent can communicate with it.

This test verifies that your agents can communicate with Azure over port 443. Open a browser, and go to the previous URL from the server where the agent is installed.

Thanks
Stewart

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-08-06 07:41] Dickkieee commented on #79325
Thanks @SaurabhSharma-MSFT for your reply. Please let me know if you need some further information regarding this issue. Working with the suggested expression as mentioned above worked in the past. So I compared the input of the dataflow which results in an error with the one that went successfully in the past. Unfortunately there where no differences between them.

[2021-08-06 08:02] SnehaAgrawal-MSFT commented on #79381
@yutaro113 Thank you for your query . We will investigate and update the thread.

[2021-08-06 08:05] code-Miracle49 commented on #77197
Hi, I'm still unable to fix the issue

[2021-08-06 08:38] dazinator opened #79386 "When a user goes to the bastion tab, they don't see use bastion, but new setup"
I've installed bastion, and when I go to the VM and click connect, I can click the bastion tab, and "Use Bastion" button and RDP to the VM just fine.

However another user does the same, and on the bastion tab they only see an option to create a new bastion, not to "Use Bastion".

When I go to the bastion instance in azure portal, and check "Access Control" tab, I can see that the user has "Virtua

[2021-08-06 08:51] #79068 closed

[2021-08-06 08:53] AjayKumar-MSFT commented on #79068
@georgeOsdDev, We have raised a PR and is merged. The published changes will reflect in the doc shortly.

We have added -"For Windows sites, create a file named `startup.cmd` or `startup.ps1` in the `wwwroot` directory. This will automatically be executed before the Tomcat server starts. "

Since the PR is merged, this thread is closed now. Thanks again for taking time to share your valuable feedb

[2021-08-06 08:59] SubhashVasarapu-MSFT commented on #79386
@dazinator, Thanks for reaching out. We will investigate and update this thread.

[2021-08-06 09:02] dazinator commented on #79386
I figured out I needed to give the user the "Reader" role on the Bastion resource. So in total the user had to have the following two roles:

- "Virtual Machine User Login" role, for the VM resource.
- "Reader" role for the Bastion resource.

It would be good if this could be conveyed better in the docs! thanks!

[2021-08-06 09:37] poonkodi123 commented on #78321
@AnuragSharma-MSFT I'm facing this isssue, Can you please help me get resolved,
Access to XMLHttpRequest at 'Cosmos db url/' from origin 'https://localhost:44301' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2021-08-06 09:42] kaiaschulz opened #79388 "Short location <geo> names are needed as machine readable file"
Hi,
within the documentation of private endpoints for the backup service there is the _<geo>_ location mentioned:
[https://docs.microsoft.com/en-us/azure/backup/private-endpoints#for-the-backup-service](https://docs.microsoft.com/en-us/azure/backup/private-endpoints#for-the-backup-service)

Unfortunately, the _<geo>_ is a short name of the location which only will be listed in the attached .docx-f

[2021-08-06 09:43] Bafff commented on #59898
This is now done

Thanks

[2021-08-06 09:43] #59898 closed

[2021-08-06 09:44] ianrandell-sh opened #79389 ""If there aren't any HTTPs URLs - the first HTTP URL""
Text says "If there aren't any HTTPs URLs - the first HTTP URL" - clearly wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-8da1-dd3d-9d1c-8a21dabd44fe
* Content: [Restrictions and details of API formats support - Azure API Management](https://d

[2021-08-06 09:47] kaiaschulz commented on #79386
Hey,
I think this is well described as prerequisite within the MS doc:
[https://docs.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal#prerequisites](https://docs.microsoft.com/en-us/azure/bastion/tutorial-create-host-portal#prerequisites)

[2021-08-06 09:51] kaiaschulz commented on #79373
Hey,
I think the naming, especially of Azure DevOps repositories, changed in the past from `master` to `main`:
https://devblogs.microsoft.com/devops/azure-repos-default-branch-name/

[2021-08-06 10:02] Bafff commented on #79364
I'm just guessing but they will answer "we know but we will update it. In the future" :))

[2021-08-06 10:08] scubaninja commented on #75731
Hi @ChevronSoftware ! Thanks for the comment. The repo used in the tutorial is a public repo available on GitHub, we wanted users to have an easy to start tutorial for the documentation. While there are a lot of best practices that an organisation should follow, we do not address that in this article. I appreciate the input on putting a web app in a sub folder, but more to the point, a repo should

[2021-08-06 10:18] scubaninja commented on #75731
@ChevronSoftware  I've opened an issue [here](https://github.com/staticwebdev/vanilla-api/issues/1)

[2021-08-06 10:22] ChevronSoftware commented on #75731
Thank you @scubaninja, this is a great way forwards - much appreciated.

[2021-08-06 10:39] Braemarblue opened #79390 "cannot make the AddDbContext work."
I am using

using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.HttpsPolicy;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

This below does

[2021-08-06 11:07] DeanGross opened #79391 "Out of data reference"
Azure Security Center Standard Tier has been replaced by Azure Defender, please update as appropriate.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a844c9-6853-d3b4-4b71-a1712e719c93
* Version Independent ID: 35924143-a27e-9061-cfb3-3bf585301ab1
* Content: [Deploy secure applications on Microsoft Azure](https://docs

[2021-08-06 11:08] poonkodi123 opened #79392 "How to use Core/SQL API with React and Azure Cosmos DB?"
Is any option to use Core/SQl api with react and CosmosBD?

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-mongodb-react

I have refered this document i'm not able to find way to connect Core/SQl api with react and CosmosBD. Please help me any way to connect Core/SQl api with react and CosmosBD

///////
  After using above reference document i'm getting this error. Please help m

[2021-08-06 11:11] nickl-koris opened #79393 "Remember Multi-Factor Authentication page"
[Enter feedback here]
This setting is not controlled under Azure Active Directory > Users > Multi-Factor Authentication > service settings as described in the article. When browsing to Multi-Factor Authentication in the Azure portal, under the Getting started page there is a link to "Additional cloud-based MFA settings" this is where the setting is configured.

---
#### Document Details

⚠ *Do not

[2021-08-06 11:23] sciguy16 opened #79394 "Reliably access client IP address behind Azure Front Door"
Hi, I'm looking at the documentation for the `X-Azure-ClientIP` and `X-Azure-SocketIP` headers and it's not completely clear to me how they will behave if a client sends a request with their own value for these. `X-Forwarded-For` explicitly states that Front Door will append an additional value if the incoming request includes one, and `X-Azure-SocketIP` suggests that `X-Azure-ClientIP` might get

[2021-08-06 11:39] AjayKumar-MSFT commented on #79116
@alllballls, Apologies for the delay! I had been discussing on this internally. With a test site, I'm not observing any null values coming back in Kudu with the naming conventions (as mentioned the doc).  So, just to confirm, is the issue that at runtime the connection string POSTGRESQLCONNSTR_DefaultConnection is returning a null value?  Could you please share some more details after concealing a

[2021-08-06 11:41] GitaraniSharma-MSFT commented on #78691
@martintoreilly , outbound data does not count towards the throughput-based variable costs (v1 WAF) / capacity unit costs (v2 WAF) and is a separate charge as mentioned in the pricing calculator:

![image](https://user-images.githubusercontent.com/67630903/128505354-acf9f337-12fc-4545-8a0e-d8e04b702b32.png)

Ref: https://azure.microsoft.com/en-us/pricing/details/web-application-firewall/

[2021-08-06 11:49] AshokPeddakotla-MSFT commented on #79238
@arduppal Could you share your thoughts on this query.

[2021-08-06 11:56] HarshitaSingh-MSFT commented on #79206
I have created a PR internally for this and it is getting reviewed. The issue will be updated automatically once the PR is merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-06 11:56] #79206 closed

[2021-08-06 12:04] JohnStraumann66 opened #79396 "Image tagging"
It would have been handy if teh training data images names would have reflected the tags to use in the Vision project!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f01a814-74ee-47d4-f2e9-cf796f308ea4
* Version Independent ID: 69151649-a07c-c660-95b8-8d2b435bd37c
* Content: [Tutorial: Use custom

[2021-08-06 12:07] martintoreilly commented on #78691
Thanks @GitaraniSharma-MSFT

[2021-08-06 12:14] craigshoemaker commented on #77465
This article is updated to ask readers to create application setting first and then add the configuration that references these settings. This new set of steps should make it less likely to run into the situation that @philhagger describes.

I am going to #please-close this issue for now, but if there are further improvements we can make to the docs, please do let us know!

[2021-08-06 12:14] #77465 closed

[2021-08-06 12:44] paalkristian opened #79397 "Contradiction in the docs about max number of containers?"
In the section [Minimum throughput on shared throughput databases](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#minimum-throughput-on-shared-throughput-database) there's this statement about minimum throughput as a function of the number of containers in the database:

In a later section about [Provisioned throughput](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-li

[2021-08-06 12:44] lucahost commented on #12476
will this issue be fixed or will we have to live with the _Thumbprint not available_ message ?

[2021-08-06 13:22] vinishgeorge commented on #78894
@pkshultz  Thank You for the work around. I did manage to make it work with another work around of using the startup task to get the image that I needed .
The downside to these approaches are I will have to create unnecessary pools for each container image I need to create or create  a huge one for all image that will further slow down the whole process. Also now that there are restrictions to the

[2021-08-06 13:36] GitaraniSharma-MSFT commented on #78391
@Herman5006 , the PG team ran a test and have drafted a report in the below Github link regarding Traffic of Azure management portal across ExpressRoute Microsoft peering:
https://github.com/fabferri/az-pattern/tree/master/expressroute/er-ms-peering-azure-mng-portal

Azure management portal invoke complex traffic and not all the traffic can transit in exclusive mode across ER Microsoft peering.
A

[2021-08-06 13:36] #78391 closed

[2021-08-06 13:36] shashishailaj commented on #79378
@trs80 Thank you for sharing this. We will have this discussed with the content team to see how best this can be incorporated in the documents.

[2021-08-06 13:39] shashishailaj commented on #79378
@trs80 This may take time to get incorporated in the documentation as this would require testing on our side as well before it can be included in the documentation .

@MicrosoftGuyJFlo Could you please share your thoughts?

[2021-08-06 13:40] denschub opened #79400 "Cross-region load balancer documentation should mention that UDP is not supported"
I was under the assumption that the cross-region load balancer supports UDP based on the [introduction YouTube video posted to the Azure channel on Mar 26, 2021](https://www.youtube.com/watch?v=3awUwUIv950), where they explicitly mention UDP support at the 54 seconds mark. Also, the UI in the Azure Portal allows creating UDP rules.

However, while creating a Lab setup, I could not get UDP packages

[2021-08-06 13:41] GregUzelac opened #79402 "Should net use specify the storage account key?"
[Enter feedback here]
Under the section titled Configure NTFS permissions over SMB, it reads "mount the share by using your storage account key". A few lines later it specifies the following:
  net use <desired-drive letter>: \\<storage-account-name>.file.core.windows.net\<fileshare-name>
Shouldn't that net use specify the storage account key?

---
#### Document Details

⚠ *Do not edit this sectio

[2021-08-06 13:47] GitaraniSharma-MSFT commented on #79400
@denschub , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-06 13:53] dazinator commented on #79386
@kaiaschulz

Reader role on the virtual machine.
Reader role on the NIC with private IP of the virtual machine.

I agree that at the most granular level the pre-requisites are described.

What's not described is:
- If when clicking on the "Bastion" tab, a user sees the option to set up a new Bastion instance, rather than the option shown in the article which is a "Use Bastion"  - this may be becau

[2021-08-06 13:59] craigshoemaker commented on #77680
Thanks for the heads-up, @gagarine!

I added the following note to the doc:

The changes will go live in a few hours.

#please-close

[2021-08-06 13:59] #77680 closed

[2021-08-06 14:15] ii-batman opened #79403 "Admin permissions to manage Ent Apps?"
Page does not show which roles or permissions are required to manage ent apps.
I need to give helpdesk guys rights to manage this.
Please let me know which roles or permissions are required at azure level?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35d8227-9a4b-57a3-dd9b-31d577451c73
* Versio

[2021-08-06 14:15] kof-f commented on #78807
Hey @bbaassssiiee I did some digging around and I saw a few issues similar to this. Someone said they ran into this issue due to a restart needing to take place. **Can you try adding a Windows restart provisioner before the sysprep to see if that fixes your issue?**

Here is the issue I found that I got this potential solution from: https://github.com/hashicorp/packer/issues/8428
This issue could

[2021-08-06 14:16] kaiaschulz commented on #79386
Agreed. This confused me as well.
Myself and customers of us had the same problem that the behavior of trying to use the Bastion with insufficiant access rights caused a new Bastion creation dialogue:
![image](https://user-images.githubusercontent.com/58422100/128523855-b4e251e6-7b6e-4603-bacb-17bf6f805957.png)

Would like to see an error message or hint that an Bastion host exists but the prerequ

[2021-08-06 14:39] shashishailaj commented on #79391
@DeanGross Thank you for your feedback . We will engage the content team and update the thread.

[2021-08-06 14:48] diberry opened #79404 "Creating a proxy - example"
I'm not sure if this is the only example of creating a proxy but it is the one I googled my way to.

The Azure SDK review board just updated their guidance on APIs that invoke actions, such as sending mail (my example, not theirs). The API URL for this type of request denotes the action prefaced with a colon. In order to build that type of API with Azure Functions, I _think_ you need to edit the p

[2021-08-06 14:55] DCtheGeek commented on #76329
@ToruMakabe There is no way to get the properties from Azure Resource Graph if you don't have access to one of those resources within the scope of your query. A good source for finding properties of a resource type is the ARM template specs (https://docs.microsoft.com/azure/templates/). However, not all properties in ARM are sent to Azure Resource Graph, so it's not an exact match.

As I believe t

[2021-08-06 14:55] #76329 closed

[2021-08-06 14:59] bbaassssiiee commented on #78807
https://www.packer.io/docs/provisioners/windows-restart

[2021-08-06 15:22] iancohn opened #79406 "Typo"
[Enter feedback here]
I believe the reference to 'Get-AutomationConnection' should be 'Get-AzAutomationConnection'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c183d0-5012-e2e1-5562-69135b3f6509
* Version Independent ID: 7f36ff87-e24a-7442-8d42-f621f5391814
* Content: [Create modular runbooks in Azure Automation](h

[2021-08-06 15:27] GiftA-MSFT commented on #79396
@JohnStraumann66 we'll review your feedback and get back to you shortly, thanks!

[2021-08-06 15:29] hribeiro-msft opened #79407 "403 instead of 401"
[Enter feedback here]
Where we say:
" #2511 Availability: Fixes get account info retry logic to not go to secondary regions on 401(Forbidden) "

should be
"#2511 Availability: Fixes get account info retry logic to not go to secondary regions on 403(Forbidden)"

So, 403 instead of 401 you can confirm this on the bug issue: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2511
that was renamed r

[2021-08-06 15:40] thommck opened #79408 "Misleading statement"
ON this page you state
"Vulnerability assessment scanning for VMs - The vulnerability scanner **included with Azure Security Center** is powered by Qualys."
This implies it is part of the free service but it isn't included with ASC, it is only included if you purchase Azure Defender for servers. I believe this is just a hangover from before the rebrand of the ASC Standard tier to Defender

---
###

[2021-08-06 15:41] mikesneider commented on #18960
Hi, did you solve the issue? how?

[2021-08-06 15:46] SamaraSoucy-MSFT commented on #79379
Thanks for the question! We will review and get back to you shortly.

[2021-08-06 15:48] Oury-MSFT commented on #79335
@CaitlinV39 Please see customer feedback. In this [documentation](https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/fhir-features-supported#feedback), it says Patch is supported in the table but in the above query customer is getting the following error message "**Path is not currently supported.**"  Do we need to raise a PR and update the doc.?
![image](https://user-images.githubusercon

[2021-08-06 15:48] alllballls commented on #79116
Sure, I'd love to provide more details. My original report did skip over one important detail, likely due to brain fatigue.

So, when looking at the KUDU environment dump, I did see the full connection string. It was in the runtime execution that the value was NULL. In my Setup.cs, ConfigureServices, I had put a simple logger.logInformation call in to log the value in POSTGRESQLCONNSTR_DefaultConn

[2021-08-06 15:51] ram-msft commented on #79249
@sunnyhay Thanks, We have forwarded to the product team to check for the CLI.

[2021-08-06 15:51] a9fagu opened #79409 "Rewrite rule for SAS token using standard rules"
Hi,
It would be useful to outline if the same can be accomplished with the Azure standard CDN "Rules Engine" rewrite rules instead of the Verizon CDN. In essence if I'm using Azure Standard CDN and I'm integrating with private blob using SAS, can I have a url rewrite rule to "inject" the SAS token.

Best,
Armando

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-08-06 15:54] SamaraSoucy-MSFT commented on #79384
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-06 15:54] PaulCornellDB commented on #66116
#label:"please-close"

[2021-08-06 16:02] SamaraSoucy-MSFT commented on #79392
It looks like the error text may be missing from your post. If you update that I can possibly give you a clearer answer.

If you are trying to connect Cosmos directly to a SPA framework like Angular or React, that is not an officially supported scenario because the security risks involved in connecting to a database directly from a browser. If you are using a Node layer as an API in between, then

[2021-08-06 16:05] iamjoeycruz opened #79410 "FAQ - Should include what happens after the defined number of days"
[Enter feedback here]

In the FAQ, can we please add what happens after a the defined number of days. ( E.g. if an admin defines 14 days what happens after the 14 days ) For the user experience the user will be prompted again for another 14 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4574c53-57f4-903d-df45-f0

[2021-08-06 16:05] SamaraSoucy-MSFT commented on #79376
Thanks for the feedback! We will review and get back to you shortly.

[2021-08-06 16:16] kilasuit commented on #77756
This was fixed by the following commit 53c750cf8c2323ef02c4d4d475bb79d13766e61f

[2021-08-06 16:19] BharathNimmala-MSFT commented on #79406
@iancohn Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update doc. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have

[2021-08-06 16:19] #79406 closed

[2021-08-06 16:23] shahhussain88 commented on #55734
https://www.youtube.com/watch?v=1ORQGcPht5Q
watch this its easy to understand

[2021-08-06 16:25] timsander1 commented on #79280
Hi @sijucm, thanks for your feedback!

Azure Cosmos DB is a NoSQL database and doesn't support cross-container joins. For best practices around data modeling, this is a helpful doc: https://docs.microsoft.com/azure/cosmos-db/modeling-data.

I can add a note to this JOIN doc that explicitly calls out that this is referencing JOINs within an item, rather than cross-item or cross-container joins (lik

[2021-08-06 16:36] nickweeds2 opened #79412 "Tips on connecting to Azure Resource Manager on Azure Stack Edge"
This article got me going, but I found the overall process difficult and in some places the instructions seem overly complicated.

Some tips worth mentioning in the article:

## Certificates

It isn't necessary to create new certificates - you can just download the automatically generated certificate from the ASE and import that onto the Windows client:
- Go to the Local Web UI on the ASE device,

[2021-08-06 16:50] MarileeTurscak-MSFT commented on #79408
@thommck
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-06 16:56] poonkodi123 commented on #79392
@SamaraSoucy-MSFT
This is error i'm getting:
Access to XMLHttpRequest at 'Cosmos db url/' from origin 'https://localhost:44301' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2021-08-06 17:06] duongau commented on #76016
@tcsougan and @msrini-MSFT apologies on the delay response to this GitHub issue. May I ask where the confusion or lack of documentation that lead to this issue being opened? Are we looking to just add a note specifically about Digicert not accepting the afdverify sub-domain as valid way to verify domain ownership?

[2021-08-06 17:10] MarileeTurscak-MSFT commented on #79393
@nickl-koris
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-06 17:14] mattlunzer opened #79415 "Wrong keyword in article"
In the section heading, "[Create a custom role for Start VM on Connect]", step 3 states, "In the search bar, enter and select Azure Virtual Desktop".

However, there does not appear to be a service principal named "Azure Virtual Desktop", instead you must use "Windows Virtual Desktop" for the custom role assignment steps to successfully complete.

I suggest you correct this to avoid confusion.
---

[2021-08-06 17:18] MartinJaffer-MSFT commented on #79397
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-08-06 17:20] MartinJaffer-MSFT commented on #79407
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-08-06 17:21] ChaitanyaNaykodi-MSFT commented on #78455
Hello @sowmya3434, Thank you for your patience through out this process. I got a response from the team.
The issue is with the step mentioned below. The dynamic content value for property `Travel Duration Traffic` is not getting fetched correctly.
![image](https://user-images.githubusercontent.com/67453298/128547626-de056f29-c997-4267-ac4a-c409978d7255.png)

The suggested solution is to ignore the

[2021-08-06 17:21] #78455 closed

[2021-08-06 17:29] melissatranuw opened #79416 "Creating subscription : "Does not have authorization to perform action""
Using the event grid API on https://docs.microsoft.com/en-us/rest/api/eventgrid/ I get an error where I do not have authorization to perform action when creating a subscription. I have created a topic and have access permission to access my Azure account therefore I am confused why I get this rest error.

`Error
RestError: The client 'subscriptionID' with object id 'subscriptionID' does not have a

[2021-08-06 17:55] DerekHerman-MSFT commented on #79402
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-06 18:09] mdlinville commented on #61918
Thanks again for the feedback. Looking more closely, the Databricks articles were not referring to the (now discontinued) Azure Notebook service, but to Databricks notebooks meant to run on Azure. This is not a typo.

#please-close

[2021-08-06 18:09] PRMerger8 commented on #61918
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-06 18:27] mdlinville commented on #71543
Thanks for your feedback. This is being tracked by Databricks as DOC-3029.

[2021-08-06 18:34] DEberhardt commented on #78499
Here is one from a fairly large Tenant:

## Get-MsolAccountSku

[code]

## Get-AzureAdSubscribedSku

[code]

## Get-TeamsTenantLicense
Output from Get-AzureAdLicense (i.e. this page) against Get-AzureAdSubscribedSku - Difference/non-matched are the Verbose output. Deliberately only selected SkuId and SkuPartNumber to avoid disclosing utilization

[code]

## Comparison

[code]

[2021-08-06 18:43] mdlinville commented on #74494
Thanks for your feedback and we're pleased you accomplished your task. This is being tracked by Datarbricks in DOC-3030.

[2021-08-06 18:48] mdlinville commented on #75144
Thanks for your feedback. This is being tracked by Databricks as DOC-3031.

[2021-08-06 18:49] kszicsillag opened #79418 "ADLA data store as ADLS Gen1 retiring"
The section _Works with all your Azure data_ state

and

However, ADLS Gen1 is retiring. The [announcement](https://azure.microsoft.com/en-us/updates/action-required-switch-to-azure-data-lake-storage-gen2-by-29-february-2024/) recommends migrating to ADLS Gen2 - which in turn is not supported with ADLA.

What is the current recommended data store for new Data Lake Analytics resources (for the high

[2021-08-06 18:51] mdlinville commented on #75513
Thanks for your feedback. it looks like a similar change to the one you suggest was already implemented in the referenced article.

#please-close

[2021-08-06 18:51] PRMerger8 commented on #75513
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-06 18:51] kobulloc-MSFT commented on #79171
@g-spencer I've got a PR out that will update the text to match the current command format.  Thank you for bringing this to our attention and helping to improve the Microsoft Docs!

[2021-08-06 19:07] TiloGit commented on #78863
any update?

[2021-08-06 19:10] santhoshb-msft opened #79419 "How does issuing license work?"
If an ISV have to issue a license for the software to work, what is the best way to do it?
When should I issue the software license and what should I map it against a running instance of the offer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c80991-4b59-941d-429a-2c19202dc827
* Version Independent ID: 5faedc60-5dd

[2021-08-06 19:31] MarileeTurscak-MSFT commented on #79408
Thank you! I agree with the change and made a pull request to update the language. https://github.com/MicrosoftDocs/azure-docs-pr/pull/168280

CC @memildin

[2021-08-06 19:31] #79408 closed

[2021-08-06 19:44] MarileeTurscak-MSFT commented on #79393
Thank you! I made a pull request to update the text. It does show up in that same area under "Per-user MFA"

![image](https://user-images.githubusercontent.com/13383753/128563366-893b0649-df18-4c43-8eac-fc25c337c1c3.png)

https://github.com/MicrosoftDocs/azure-docs-pr/pull/168285

CC @nickl-koris

[2021-08-06 19:44] #79393 closed

[2021-08-06 19:56] timsander1 commented on #79280
Added this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/168286 #please-close

[2021-08-06 19:56] #79280 closed

[2021-08-06 19:57] bwren commented on #78154
We aren't planning on providing a complete set of samples here for every service. These are intended to be examples that you can use for the other services. You should be able to use the same templates replacing the resource typeand cateogries with the appropriate ones for StorageSync.

#please-close

[2021-08-06 19:57] #78154 closed

[2021-08-06 20:22] Oury-MSFT commented on #79397
@abhijitpai Please see customer feedback above. As mentioned in the documentation under [Minimum throughput on shared throughput databases ](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#minimum-throughput-on-shared-throughput-database). In this section [Provisioned throughput, ](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#minimum-throughput-on-shared-throug

[2021-08-06 20:35] tcsougan commented on #76016
On this link https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain#map-the-temporary-afdverify-subdomain, it asked to use "afdverify sub-domain" to map an existing domain. DigiCert says it is not a valid way to do it and refuses it. They suggest a TXT record instead of the "afdverify sub-domain".

[2021-08-06 20:40] Oury-MSFT commented on #79407
Hi @hribeiro-msft Could you please create the issue on this repo not in the doc page. https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md

[2021-08-06 20:41] GiftA-MSFT commented on #79396
Hi, thanks for your feedback. However, each image can have multiple tags, so your suggestion doesn't seem feasible. If otherwise, can you please elaborate so we understand your request better? Thanks.

[2021-08-06 20:56] curtand commented on #64708
Hi @pchatelle
We have examples now. Thanks for your contribution!! #please-close

[2021-08-06 20:56] #64708 closed

[2021-08-06 21:04] SamaraSoucy-MSFT commented on #79388
Thanks for the feedback! We will review and get back to you shortly.

[2021-08-06 21:05] SamaraSoucy-MSFT commented on #79389
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-06 21:06] SamaraSoucy-MSFT commented on #79390
Thanks for the question! We will review and get back to you shortly.

[2021-08-06 21:10] DGOIT-Jan opened #79424 "Need a sample for acquiring token from app identity provider for Blazor Webassembly apps."
Hi!

Please add a sample on how to use this approach in a pure Blazor WebAssembly App (not hosted).

I can't get it to work as the referenced libraries cannot be used in a pure WebAssembly App.

Thanks and regards,
Jan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957649d9-8576-a551-716a-e273b9f3dadb
* Version Indepen

[2021-08-06 21:12] curtand commented on #68441
Hi @jordanmills
I corrected this in the documentation. Thanks for your contribution!!

[2021-08-06 21:13] #68441 closed

[2021-08-06 21:16] kobulloc-MSFT commented on #79415
@mattlunzer Thank you for bringing this to our attention.  Very recently, Microsoft changed the name of Windows Virtual Desktop to Azure Virtual Desktop:
https://azure.microsoft.com/en-us/blog/azure-virtual-desktop-the-desktop-and-app-virtualization-platform-for-the-hybrid-workplace/

I'll add a note in the documentation to clear up confusion and contact the product group to get this updated in th

[2021-08-06 21:19] jeffwmiles commented on #67821
I can confirm that the code in the PowerShell example only exports the first certificate with a private key, as originally reported. I'd request that this be re-opened.

I exported the certificate according to the code, as well as through the Portal (pfx).

For both, I extracted the certificates as PEM using this command:
[code]

Then when viewing in a text editor, the file produced using PowerShe

[2021-08-06 21:19] GiftA-MSFT commented on #79307
@jeade thanks for your feedback. I've created a PR to update the url.

[2021-08-06 21:28] #79307 closed

[2021-08-06 21:29] curtand commented on #67709
Hi @kzbierski
Thanks for your contribution!! I updated the article appropriately.

[2021-08-06 21:31] #67709 closed

[2021-08-06 21:31] curtand commented on #64387
Hi @sympleconfigmgr

Thanks for your contribution!! I updated the article appropriately. #please-close

[2021-08-06 21:31] #64387 closed

[2021-08-06 21:33] afargnoli-ops commented on #68630
I wish I could follow the link to atlassian.net, but I can't. Can you explain what has changed on this page, [https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect](url)?

[2021-08-06 22:15] SaiKishor-MSFT commented on #79409
@a9fagu

Only [Option 1](https://docs.microsoft.com/en-us/azure/cdn/cdn-sas-storage-support#option-1-using-sas-with-pass-through-to-blob-storage-from-azure-cdn) is available for all CDNs. The rewrite options are only for Verizon CDN as mentioned in the docs-

Option 2: Hidden CDN SAS token using a rewrite rule
This option is available only for Azure CDN Premium from Verizon profiles.

Option 3: Us

[2021-08-06 22:34] leifbro commented on #61926
The Databricks Security Baseline doc is owned by Matthew Baldwin (mbaldwin@microsoft.com). @CHEEKATLAPRADEEP-MSFT Can you assign this to him for that part of the request? The Databricks doc team will take care of adding discussion of local disk encryption to https://docs.microsoft.com/en-us/azure/databricks/security/.

[2021-08-06 22:37] SaiKishor-MSFT commented on #79394
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-06 22:39] DEberhardt opened #79427 "How do I find eligible Privileged Admin Groups in PowerShell?"
I had opened "How do I request enablement of a Privileged Admin Group assigned to a user? #68100" before, but I would like to revisit this topic. Wheras the previous issue was focused on getting an example/description of the process, I now know enough to narrow it down to a more specific question (that is hopefully answerable).

My task:
![image](https://user-images.githubusercontent.com/44290340/

[2021-08-06 22:43] curtand commented on #60845
Hi @bfg100k
It IS sign in as the user, which gives you GA permissions in Test, to use their example. The paragraph is trying to say that you can get GA permissions by having an admin in Test assign it to you or by signing in with the user account that created the tenant. I have made it more specific.. Thanks for your contribution!!

#please-close

[2021-08-06 22:43] #60845 closed

[2021-08-06 22:51] williambrandler commented on #68856
Hey @YidiQin, if going from BAM, you can put a dummy identifier in the `read_group_id`, for example `read_group`

If you drop me an email at william.brandler@databricks.com I will send you a 10min video tutorial for setting up and running the DNASeq pipeline that goes from BAM (it's too big to upload here)

[2021-08-06 22:58] thepaulmacca opened #79428 "Enabling Add-On via Bicep"
I'm in the process of automating AKS cluster creation using a Bicep template. Can the add-on be enabled this way, or only via CLI/Portal? I can't see anything in the template reference so guessing not, but thought I'd ask anyway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a217cd-8949-e9b8-d8c5-a0f864b10237
* Versi

[2021-08-06 23:12] MarileeTurscak-MSFT commented on #79410
@404cruX
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-06 23:12] MarileeTurscak-MSFT commented on #79403
@ii-batman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-06 23:18] PaulCornellDB commented on #60111
We have filed a ticket in the Databricks bug tracking system: KBN-153. We will update this Git issue when the ticket has been resolved. #label:"in-progress"

[2021-08-06 23:22] ToruMakabe commented on #76329
@DCtheGeek Thanks a lot for your support! I will try to find another way.

[2021-08-06 23:58] #79171 closed

[2021-08-07 00:08] miteshyadav opened #79430 "Connection issues with Azure Redis and App Services using docker-compose"
I am using Azure App Services and docker-compose for my app deployment. Testing a simple job using Redis(Hosted as an Azure service) and Redis queue. Everything runs successfully on my local machine, but the job fails when I deploy it to App services using docker-compose. After debugging, I have found out the issue to be related to connection with Redis. Sometime the app runs successfully in the b

[2021-08-07 00:47] Karishma-Tiwari-MSFT commented on #78985
@sukanyamsft  I couldn't find a document on the same. Assigning to you as doc-enhancement request.

[2021-08-07 00:49] Karishma-Tiwari-MSFT commented on #78985
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-07 00:55] BharathNimmala-MSFT commented on #79419
@santhoshb-msft Thank you for reaching out with your query. We need some additional information to further help you, will reach offline. We'll continue to investigate this with you directly and will update the thread with any findings that may help others. Thank you

Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At th

[2021-08-07 00:55] #79419 closed

[2021-08-07 01:07] SvenAelterman opened #79431 "Instructions for ngrok omit the need to validate the webhook"
The instructions should include using the local web interface from ngrok to see the validation POST request sent to the endpoint and copy and paste the validation URL in a web browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae03e2fc-39bc-4401-82b1-34ae745e936b
* Version Independent ID: 617f4f97-dd3a-4af7-ced1-6

[2021-08-07 02:35] tedvilutis commented on #78470
Done.

[2021-08-07 03:46] nabanitabag opened #79432 "ML use case cheat sheet"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cfad9fe-242d-c81a-319a-393ace5480a5
* Version Independent ID: fad36df8-e42c-3246-3fde-388f4bc670ba
* Content: [Machine Learning Algorithm Cheat Sheet - designer - Azure Machine Learning](https://docs.microsoft.com/en-gb/azure/machine-learning/algorit

[2021-08-07 04:25] vipulsparsh commented on #79258
@ganbayar2001  Make sure to Set the Public client to Allow for this.

![image](https://user-images.githubusercontent.com/63580915/128587788-4f5a2659-a2b2-47fc-949a-a3db9bd13428.png)

![image](https://user-images.githubusercontent.com/63580915/128587807-dff6e595-11cb-4f3f-b3cf-d4b6197f2bb5.png)

[2021-08-07 06:07] santhoshb-msft commented on #79419
Hi Bharath,
Sure, lets connect when you have some time.

Regards,
Santhosh Bomma
Senior Software Engineer | MOEG
[microsoft[2]]

From: BharathNimmala-MSFT ***@***.***>
Sent: Friday, August 6, 2021 5:56 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Santhosh Bomma ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] How does issuing license work? (#79419)

@santhoshb-msft<ht

[2021-08-07 07:13] KalyanChanumolu-MSFT commented on #79250
@JCPuerto Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-07 07:13] #79250 closed

[2021-08-07 08:16] sayanchakraborty2k18 opened #79433 "Need Details on how Azure AD broadcasts the logout requsts to other Service providers in"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d4eac0-25d3-b5d5-f58e-cdd1024f32b4
* Version Independent ID: 7771f280-3701-4f88-cb9f-add968d494de
* Content: [Azure Single Sign Out SAML Protocol](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-out-saml-protocol)
* Conte

[2021-08-07 08:40] logcorner opened #79434 "Daemons/server-side applications (client credentials flow) not supported in Active Directory B2C"
Hi
Following the docs here https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types,  I can read the following  :

Current limitations > Unsupported application types > Daemons/server-side applications
........
Although the OAuth 2.0 client credentials grant flow is not currently directly supported by the Azure AD B2C authentication service

So , what the recommendations for s

[2021-08-07 09:36] KrishnaG-MSFT commented on #79404
@diberry Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-07 09:40] KrishnaG-MSFT commented on #79412
@nickweeds2 Thanks for the feedback.
Assigning @alkohli for visibility, review and document enhancement consideration as appropriate.

[2021-08-07 09:42] KrishnaG-MSFT commented on #79416
@melissatranuw Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-07 09:44] KrishnaG-MSFT commented on #79418
@kszicsillag Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-07 09:46] KrishnaG-MSFT commented on #79424
@DGOIT-Jan Thanks for the feedback.
Assigning @rwike77 for visibility, review and document enhancement consideration as appropriate.

[2021-08-07 09:47] KrishnaG-MSFT commented on #79427
@DEberhardt Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-07 09:48] KrishnaG-MSFT commented on #79428
@thepaulmacca Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-07 09:50] KrishnaG-MSFT commented on #79430
@miteshyadav Thanks for reaching out! [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related to.

If you need help in resolving

[2021-08-07 09:51] KrishnaG-MSFT commented on #79431
@SvenAelterman Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-07 09:53] KrishnaG-MSFT commented on #79432
@nabanitabag Thanks for reaching out! Can you elaborate on your feedback regarding [this](https://docs.microsoft.com/en-gb/azure/machine-learning/algorithm-cheat-sheet) Azure document ?

[2021-08-07 09:55] KrishnaG-MSFT commented on #79169
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-08-07 09:55] #79169 closed

[2021-08-07 10:00] KrishnaG-MSFT commented on #79204
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-08-07 10:00] #79204 closed

[2021-08-07 10:09] KrishnaG-MSFT commented on #79196
@vytux-com I have verified and updated the document as required. The change should reflect in some time i.e., in less than 24 hours. Thanks again!

[2021-08-07 10:09] #79196 closed

[2021-08-07 10:19] KrishnaG-MSFT commented on #79281
@foteeg7of9 I have verified and updated the document as required. The change should reflect in some time i.e., in less than 24 hours.

[2021-08-07 10:19] #79281 closed

[2021-08-07 10:36] yalamarti commented on #78765
Sorry for the confusion.

I am not sure how my question got linked to the Cosmos DB gateway topic.

My question was in the context of this documentation: https://docs.microsoft.com/en-us/azure/cosmos-db/session-state-and-caching-provider, specifically, IServiceCollection.AddCosmosCache.

We have a Cosmos DB auth key rotation policy – was wondering what would be case when the Cosmos DB connection s

[2021-08-07 11:09] JohnStraumann66 commented on #79396
Which images match which tags?

private const string TAG_ACTIVE_DIRECTORY = "ACTIVE_DIRECTORY";
private const string TAG_APP_SERVICE = "APP_SERVICE";
private const string TAG_NOTIFICATION_HUBS = "NOTIFICATION_HUBS";
private const string TAG_MOBILE_APPS = "MOBILE_APPS";
private const string TAG_AZURE_SEARCH = "AZURE_SEARCH";
private const string TAG_AZURE_CDN = "CDN";
private const string TAG_AZURE

[2021-08-07 12:20] moxious commented on #73029
@PaulCornellDB the entire article is incorrect and rests on an old version of the neo4j spark connector (2.4.5) which hasn't been maintained in some time.  The article itself references Neo4j version 3.2.2 which is dreadfully behind (modern Neo4j is 4.2.3).

As the old article is based on old connector and old product, it not only won't work for customers, but isn't really easy to iterate and fix.

[2021-08-07 14:07] SamaraSoucy-MSFT commented on #79433
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-07 14:08] SamaraSoucy-MSFT commented on #79434
Thanks for the question! We will review and get back to you shortly.

[2021-08-07 15:04] bbaassssiiee commented on #78807
Thanks! I ran this without errors:

[code]

[2021-08-07 15:04] #78807 closed

[2021-08-07 17:25] satyavel commented on #79275
Christian, we do not have any plans at the moment to support something like an Azure CDK. We talk about this and the other options we evaluated in this video here: https://youtu.be/GHLUVwDkRrQ?t=378

There is a project by one of our MVPs called [Farmer ](https://compositionalit.github.io/farmer/)which lets you generate and deploy ARM Templates on .NET which you can check out if you are interested.

[2021-08-07 20:07] yeahsicy opened #79436 "App setting reference for "AzureWebJobsSecretStorageType" needed to be updated"
The info seems outdated regarding AzureWebJobsSecretStorageType.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobssecretstoragetype

Please refer to https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts#secret-repositories and update the info for AzureWebJobsSecretStorageType.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-07 20:10] yeahsicy commented on #79436
Also the description seems to be too simple. It'd be great if more details can be included.

Thanks,
@yeahsicy

[2021-08-07 22:42] kobulloc-MSFT commented on #79415
@mattlunzer As you reported, this is the current experience in the portal:

![image](https://user-images.githubusercontent.com/37556655/128615545-e49bbb07-4fde-4dc9-993d-3f2f539356ab.png)

[2021-08-07 23:29] SmarterIsgod opened #79437 "Does not work on VMs without an Ephemeral OS Disk Supported"
For systems that are being deployed without Ephemeral OS Disk Support for their OS Disk Size (128GB OS Disk on D2ds_v4 for example) this documentation does not specify that your OS disk must be deployed using this feature, which renders your deployed system without swap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2021-08-07 23:41] #79437 closed

[2021-08-08 03:01] KrishnaG-MSFT commented on #79437
@SmarterIsgod Thanks for reaching out! I hope you have self resolved the issue and hence closed the issue. Let me know if that's not the case.

[2021-08-08 03:05] KrishnaG-MSFT commented on #79436
@yeahsicy Thanks for the feedback.
Assigning @ggailey777 for visibility, review and document enhancement consideration as appropriate.

[2021-08-08 03:18] yogeshkantroy opened #79438 "Sentinel Fusion creates alerts automatically"
This article does not cover the fact that Azure Sentinel Fusion automatically creates incidents when it says that "Alerts triggered in Microsoft security solutions that are connected to Azure Sentinel, such as Microsoft Cloud App Security and Azure Advanced Threat Protection, do not automatically create incidents in Azure Sentinel."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit

[2021-08-08 06:21] burrowj commented on #47611
Can I ask if anyone has got this to work?

I have been through the setup here
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-apple

and I get a 401 response when post to

https://myserver/.auth/login/apple

with the id_token set in the body

Thanks
John

[2021-08-08 06:22] burrowj commented on #47611
@gfaraj  did you get this to work?  We seem to have got to the same error

[2021-08-08 06:31] chris-brown commented on #13433
I think this is worth adding to the docs as AWS lambdas only supports expressions of up to a minute. Would make it an easier decision when choosing between the two with these requirements. https://docs.aws.amazon.com/lambda/latest/dg/services-cloudwatchevents-expressions.html

[2021-08-08 07:59] Resmap commented on #79326
Hi,
I am  a beginner. I am trying to upload a file to blob storage.
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python
*Thanks & Regards,*

*Resma P*

On Thu, Aug 5, 2021 at 9:22 PM DerekHerman-MSFT ***@***.***>
wrote:

[2021-08-08 10:02] mutazn opened #79439 "Healthy deployment example has non existing image"
Redis YAML example has this image "healthyClusterRegistry.azurecr.io/redis:latest" which does not exist.

Events:
  Type     Reason     Age                From               Message
  ----     ------     ----               ----               -------
  Normal   Scheduled  69s                default-scheduler  Successfully assigned default/redis-healthy-deployment-6f6f964bc-fjzh9 to aks-agentpool-20

[2021-08-08 10:32] dolevelbaz opened #79440 "Wrong path for grub config on Azure Linux VM"
Page says "When you're using an Azure Linux virtual machine, modify files under **/etc/config/grub.d** ...", but the actual path is `/etc/default/grub.d/50-cloudimg-settings.cfg` as mentioned in https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/serial-console-grub-proactive-configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-08-08 11:28] yelevin commented on #79438
That's right, because this article isn't talking about that. This article is talking about the creation of standalone incidents from alerts generated by these external solutions (MCAS, MDI, etc). Fusion creates incidents by correlating between alerts from these different solutions. It doesn't create incidents from, say, MCAS alerts alone, or from MDI alerts alone.
If you think this is still confus

[2021-08-08 12:51] tshaiman opened #79442 "Missing Instructions / Capability to assign it when VMSS is part of Node Pool in AKS"
[Enter feedback here]
When the VMSS is part of Azure Kubernetes Cluster , the ability to assign the User/System Managed Identity to the VMSS is missing from the Arm Template. (as VMSS is not being defined explicitly but as a part of the ManagedCluster ARM)

we can only perform
[code]
to achieve this behavior

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-08-08 14:28] jordanmills commented on #68441
Thank you!

[2021-08-08 14:51] SamaraSoucy-MSFT commented on #79439
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-08 14:52] SamaraSoucy-MSFT commented on #79440
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-08 14:53] SamaraSoucy-MSFT commented on #79442
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-08 15:08] SmarterIsgod commented on #79437
I am still unable to access ephemeral0 via cloud-init however I replaced this with /dev/sdb* and was able to get my swap to provision on deployment, however it is disappearing after a stop and start, as the tempoary disk is purged. I thought I had it solved with the /dev/sdb change (device-alias did not work in cloud init either, I had to explicitly put /dev/sdb) however it is still an issue

[2021-08-08 18:45] wbsoul opened #79443 "Wrong description for AssertNumber"
For "AssertNumber" transormation. The InputParameter "CompareToValue" type is listed as "boolean", but I think it should be "int".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfcf05c2-471c-8936-c7ee-55f6d08da5b0
* Version Independent ID: fd6568b0-e182-6ab8-f77c-f71de87bf552
* Content: [Integer claims transformation

[2021-08-08 19:40] laujan commented on #77775
#please-close

[2021-08-08 19:40] #77775 closed

[2021-08-08 22:15] kye opened #79444 "Why pairs"
We showed the developer portal to some business stakeholders and didn't have a good explanation as to why a Subscription contains a "pair" of API keys. It would be useful for this page to list common use cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID:

[2021-08-08 22:30] LucianFrango commented on #76706
Hello team, any update please?

[2021-08-08 23:22] paulbouwer commented on #79365
The service mesh content for AKS docs has been refreshed - see [About service meshes](https://docs.microsoft.com/en-us/azure/aks/servicemesh-about).

Readers are now directed to project/vendor documentation for each of the service meshes. This is part of an effort to reduce duplication and to ensure that readers are always accessing the most up to date and comprehensive information.

This issue wi

[2021-08-08 23:57] BharathNimmala-MSFT commented on #79113
@JohnnyFun My sincere apologies for delay on getting back to this thread. Can you please help confirm if you continue to see this behavior ?

In parallel, I am reached out to our internal team to further understand if this behavior is expected for any particular scenario ? Will keep you updated as I learn more on this.

[2021-08-09 01:33] ram-msft commented on #79249
@gvashishtha Can you please help with the sample for AML update service using Azure CLI.

[2021-08-09 01:37] SamaraSoucy-MSFT commented on #79443
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-09 01:43] SamaraSoucy-MSFT commented on #79444
For most Azure products where there is a key required for access they will always be generated in pairs. As a security precaution it's common practice to regularly regenerate keys. By having two you can do this with minimal disruption. Each application using the service can switch from key A to key B in their own time. Once all applications have swapped over, you can safely regenerate key A withou

[2021-08-09 03:04] simoncen opened #79446 "mbn"
[Enter feedback here]
The quickstart for the personalizer quickstart at https://docs.microsoft.com/en-us/azure/cognitive-services/personalizer/quickstart-personalizer-sdk?pivots=programming-language-javascript does not work for the javascript version. When the code written in javascript is run locally there is a syntax error saying:
[code]
---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-09 03:40] yogeshkantroy commented on #79438
Thanks for your response. Yes, it is confusion for if the incidents created by correlating between alerts is not mentioned, and will be good to mention it with a link about it Thanks,Yogesh. From: Yechiel LevinSent: Sunday, August 8, 2021 4:28 AMTo: MicrosoftDocs/azure-docsCc: yogeshkantroy; AuthorSubject: Re: [MicrosoftDocs/azure-docs] Sentinel Fusion creates alerts automatically (#79438) That's

[2021-08-09 03:50] ccrawford-assimalign commented on #78128
Hi @rwiankowski  and @SnehaAgrawal-MSFT ,

I just recently implemented IAC via Bicep for all environments for my company and are wanting to utilize V3 of ASE deployments which is currently in public preview. Like @rwiankowski has mentioned previously the UI is inconsistent and I am unsure how to track the cost. I understand ASE_V3 is supposed to be significantly less costly than the other versions

[2021-08-09 04:04] amanmcse commented on #79434
@logcorner Client credentials flow is not supported in B2C tenant via User Flow or Custom Policy. Which means, you cannot acquire a token by calling below token endpoint.
`https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/<policy-name>/oauth2/v2.0/token`

However, you can acquire a token by using the standard Azure AD functionality of B2C tenant and token can be acquired by calling belo

[2021-08-09 04:04] #79434 closed

[2021-08-09 04:23] ram-msft commented on #79446
@simoncen Thanks for the feedback! We will review and update accordingly.

[2021-08-09 05:05] TomArcherMsft commented on #38838
Apologies for this not having been closed long ago. We switched repos and the issue was lost in transition. The Get Started content has been rewritten and the problem should be resolved. #please-close

[2021-08-09 05:05] #38838 closed

[2021-08-09 05:05] ShaikMaheer-MSFT commented on #79418
@kszicsillag Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-08-09 05:06] TomArcherMsft commented on #50961
This has been fixed in all Terraform documentation. #please-close

[2021-08-09 05:06] #50961 closed

[2021-08-09 05:07] TomArcherMsft commented on #48803
Apologies for forgetting to update this Issue. The article has been rewritten and should function as expected now. #please-close

[2021-08-09 05:07] #48803 closed

[2021-08-09 05:08] TomArcherMsft commented on #73224
This has now been fixed in all Terraform documentation. #please-close

[2021-08-09 05:08] #73224 closed

[2021-08-09 06:25] #78596 closed

[2021-08-09 06:36] MayankBargali-MSFT commented on #79416
@melissatranuw As per the error message your client application doesn't have the write access. Please make sure you have specified atleast [contributor permission](https://docs.microsoft.com/en-us/azure/event-grid/security-authorization#built-in-roles). Please verify whether you have given this access to your AD application which is generating the token.

MicrosoftDocs Github issue is mainly relat

[2021-08-09 07:13] BhargaviAnnadevara-MSFT commented on #79294
@HannesWurm Thanks for the feedback. Since the issue is around behavior of specific Azure CLI commands, it would be best addressed in the [Azure/azure-cli](https://github.com/Azure/azure-cli/) repository. I've opened an issue for our Engineering Team to investigate. Please track further updates to this issue here: https://github.com/Azure/azure-cli/issues/19164. Please run the `az feedback` comman

[2021-08-09 07:13] #79294 closed

[2021-08-09 07:35] BhargaviAnnadevara-MSFT commented on #79373
@diberry As @kaiaschulz mentioned above, Azure DevOps has renamed the default branch of new repositories from `master` to `main` in an effort to move towards a more inclusive language. More details in the referenced blog above.

That said, I have submitted a PR to replace the remaining occurrences of `master` to `main` in this How-To guide that's in review. Thanks again for bringing this to our at

[2021-08-09 08:00] restlessankyyy opened #79450 "Is disabling Cookie-based affinity recommended ?"
---
#### In Step 8, the PowerShell snippet disables the cookie-based affinity. It's not mentioned in the documentation whether we should leave it disabled.
#### Is disabling Cookie-based affinity recommended?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Version Independent ID: 28

[2021-08-09 08:02] andrews05 commented on #18965
Just wanted to chip in here, as this issue is what came up in a google search.

 I have to agree that the .htaccess suggestion that is currently (still) in the [docs is definitely bad advice, and it doesn't even work with the PHP 8.0 image which runs Ngnix rather than Apache.

Allowing an env var to set the document root would be hugely helpful. Or even better, an env var for a custom additional c

[2021-08-09 08:03] jwm2409 commented on #65201
Thank you Mike for your insights, it is much appreciated. If i understand it correctly, during the invite of the external user, i get him/her enrolled to both AD and the respective share site using the URL redirect, that's quite interesting.

This is something i would like to test knowing that i am soon up for the creation of another sharepoint site for which i need to invite a number of external

[2021-08-09 08:11] SumanthMarigowda commented on #79240
@SinisterChinaPenguin It's mentioned in the article,
![image](https://user-images.githubusercontent.com/80444138/128675520-e24eb162-0168-4730-9771-acd792a67925.png)

If you are facing any issue, please let us know this command automatically adds latest version of a Nuget package:

[2021-08-09 08:12] poonkodi123 commented on #79392
@SamaraSoucy-MSFT Is any other way to connect React to ComosDB directly?

[2021-08-09 08:23] miguelarcilla opened #79451 "Update URL in docker-compose Receipt sample for consistency"
In the section _"Run the container with the docker-compose up command"_, all of the docker-compose samples for Form Recognizer containers use **mcr.microsoft.com** as the image's base URL, except for Receipt.

The Receipt image could be changed from **cognitiveservicespreview.azurecr.io/microsoft/cognitive-services-form-recognizer-receipt:2.1** to **mcr.microsoft.com/azure-cognitive-services/form-

[2021-08-09 08:50] logcorner commented on #79434
@amanmcse
We can acquire a token by using the standard Azure AD functionality of B2C tenant, but the token cannot call a WepApi protected by Azure AD B2C

`
       var app = ConfidentialClientApplicationBuilder.Create("your client id")
                        .WithClientSecret("your secret")
                        .WithAuthority(new Uri("https://login.microsoftonline.com/{your b2c tenand id}"))

[2021-08-09 08:51] m-gug opened #79453 "IP ranges used for SiteWarmup and HostnameSyncPinger"
Is there any information available on the IP ranges used for the SiteWarmup and HostnameSyncPinger? There was a more detailed inforamtion in prior version of this site, but now i can't find any infos regarding the IP ranges.

Usecase:
When using a custom middleware for access filtering, it would be nice to not only whitelist the useragent but also a corresponding ip range.

---
#### Document Detai

[2021-08-09 09:04] v-sreekesh commented on #79443
Hi I have raised a pull request and fixed the data type changed AssertNumber to int in the documentation.

[2021-08-09 09:12] v-sreekesh commented on #79440
Hi I have raised a pull request with incorrect path fixed as /etc/default/grub.d/50-cloudimg-settings.cfg

[2021-08-09 09:23] girishsuri15 opened #79457 "Azure private DNS Server dosnt contain the CName record for the private endpoint."
I've set up a private endpoint for an Azure Storage Account. Now, It all creates the private endpoints and private links for me.Also, I am able to access my storage account(storageaccountA) directly from VM which is in same event.

Now, on Nslookup from my VM

Server:  UnKnown
Address:  168.63.129.16

Non-authoritative answer:
Name:    storageprivate.privatelink.blob.core.windows.net
Address:  10.

[2021-08-09 09:30] emardee commented on #65201
Nearly, but not quite. It is still two steps in powershell (an invite, and then a permission add)..., but if you do them straight after each other I think it would work by the time your user accepts: eg

1) Invite user to AzureAD with the redirect URL to the Sharepoint site. (If they were to accept now it will try to take them to Sharepoint, but will fail with a permission error).
2) Immediately a

[2021-08-09 09:33] MayankBargali-MSFT commented on #79450
@restlessankyyy Depending if you use Azure AD or third party authentication you should enable the [cookie-based session affinity](https://docs.microsoft.com/en-us/azure/application-gateway/features#session-affinity) feature in Application Gateway.
The same is mentioned in the [warning section](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgat

[2021-08-09 09:36] andreflowers commented on #78568
@SnehaAgrawal-MSFT Thank you.
There is no news on the topic? I'm still very interested in getting this to work.

[2021-08-09 09:37] kszicsillag commented on #79418
IMHO the documentation should give guidence about what data store should be used with newly deployed ADLA architectures. Currently the ADLA docs prefers ADLS Gen1 (see [here](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-get-started-portal#create-a-data-lake-analytics-account) or [here](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-

[2021-08-09 09:38] alegri240 opened #79459 "Api call doesn't work"
Hi!
Trying following the documentation on https://docs.microsoft.com/en-us/azure/logic-apps/set-up-devops-deployment-single-tenant-azure-logic-apps?tabs=github#find-api-connection-parameters but it's doesn't work calling the api with suggested parameters. Receives:
  "error": {
     "code": "InvalidResourceType",
     "message": "The resource type 'locations/managedApis' could not be found in the

[2021-08-09 09:39] andreflowers commented on #78569
@SnehaAgrawal-MSFT Thank you.  I'm still very interested in getting this to work.
There is no news on the topic, @SnehaAgrawal-MSFT?

[2021-08-09 10:08] sokoloffmaks opened #79460 "Documentation update required - limitation using zoom in / zoom out functionality in MS Teams running within Azure Virtual Desktop client"
Hi,
Can you pls update this page (https://docs.microsoft.com/en-us/azure/virtual-desktop/teams-on-avd) to clarify whether or not there is a limitation using zoom in /out functionality in teams running from azure  virtual desktop client .
Currently it looks like it is not supported  - I cannot zoom in / out any of my chat windows .
Thank you

---
#### Document Details

⚠ *Do not edit this section.

[2021-08-09 10:11] RohitMungi-MSFT commented on #79451
@miguelarcilla Thanks for spotting this. I have created a PR to get this reviewed and updated by the author. Thanks.

[2021-08-09 10:14] RohitMungi-MSFT commented on #79309
@nitinme Could you please review above suggestion as an internal item so accessibility to the samples could be easier. I will go ahead and close this issue. Thanks!!

[2021-08-09 10:14] #79309 closed

[2021-08-09 10:22] sokoloffmaks commented on #74874
any update on this? thanks

[2021-08-09 10:22] keen85 opened #79461 "Synapse Notebooks missing as "Data transformation activities""
Concerning [Data transformation activities / Compute Environments](https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities#data-transformation-activities):
Synapse Notebooks are missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1bddf8-6515-3979-ffde-0bab66caa817
* Version Independent ID

[2021-08-09 10:23] sokoloffmaks commented on #74664
hi , any update on this one ? thank you in advance

[2021-08-09 10:37] JoaoRaimundo14 opened #79462 "Provisioning time for Pods using Virtual Nodes"
Hi team,
Since the provisioning of any pod using Virtual Nodes takes at least 57 seconds to reach running state, I would suggest to edit the documentation that states "With virtual nodes, you have quick provisioning of pods, and only pay per second for their execution time." https://docs.microsoft.com/en-us/azure/aks/virtual-nodes
This has been a feedback directly from a Customer and has been test

[2021-08-09 10:47] SnehaAgrawal-MSFT commented on #79236
@mhaarbrink Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-08-09 11:02] MayankBargali-MSFT commented on #78576
@yutaro113 I will work with @ggailey777 to see if we can update the information in our document. For now I will go ahead and close this issue. Fee free to get back to us if you have any queries or concerns.

[2021-08-09 11:02] #78576 closed

[2021-08-09 11:09] MayankBargali-MSFT commented on #77831
@Alazari-main Apology for the delay. Yes, it is possible to delegate only the subscription operations as we do have the REST API : https://docs.microsoft.com/en-us/rest/api/apimanagement/2021-01-01-preview/delegation-settings/create-or-update
I have reached out to my team and they will be fixing the UI issue. If you are still facing the issue then I will suggest you to open the [support ticket](ht

[2021-08-09 11:09] #77831 closed

[2021-08-09 11:19] MayankBargali-MSFT commented on #79459
@alegri240 Thank you for reaching out. I will reach out to my team for the expected behavior as I do see the same observation at my end.  But using the api-version=2018-03-01-preview with the GET request I do see the response returned from the API :
GET https://management.azure.com/subscriptions/{subscription-ID}/providers/Microsoft.Web/locations/{location}/managedApis/{connector-name}?api-version

[2021-08-09 11:31] yahorsi opened #79465 "Support for react native"
Please drop a couple of words if Click Analytics plugin is supported in the react native apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63604709-9e90-d1fc-6f89-65ba3411892e
* Version Independent ID: c2e41db1-84d5-e411-c8c9-f903158764c6
* Content: [Click Analytics Auto-collection plugin for Application Insights Jav

[2021-08-09 11:34] ThomasBleijendaal opened #79466 "ICounter interface comes out of nowhere"
The `ICounter` interface used in https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=csharp#example-transfer-funds-c comes out of nowhere. It would be useful to document where this interface comes from, it is confusing now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e121

[2021-08-09 11:36] UnoSD opened #79467 "Azure Backup support for VMSS uniform"
The documentation table here: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes#a-comparison-of-flexible-uniform-and-availability-sets

Has **yes** in the VMSS uniform support for **Azure Backup**, but at the beginning of the doc it seems to infer that it is not supported (which is also confirmed by the lack of results when searching f

[2021-08-09 11:45] MayankBargali-MSFT commented on #79466
@ThomasBleijendaal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-09 11:54] ewouds opened #79468 "Typo MISX -> MSIX"
Typo in the first note-section. MISX should be replaced with MSIX
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID: 7f2287e0-71d2-05ef-335b-45bb4cd6cfe3
* Content: [Manage app groups for Azure Virtual Desktop portal - Azure](https://docs.

[2021-08-09 12:01] SnehaAgrawal-MSFT commented on #79244
@JozoSlejko Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-08-09 12:07] HarshitaSingh-MSFT commented on #79465
Hello @yahorsi, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-08-09 12:07] atrauzzi commented on #18965
Azure doesn't care, especially about PHP.

[2021-08-09 13:01] mmitchellcit opened #79469 "Upgrading Operating System of Azure Site Recovery Configuration/Process/Master Target Server"
This question/issue is regarding the Azure Site Recovery Configuration/Process/Master Target Server. It is unclear whether that particular server can be upgraded from Windows Server 2012 R2 to Windows Server 2016, or if this section is only referring to the protected systems. The link I am referring to is:
https://docs.microsoft.com/en-us/azure/site-recovery/service-updates-how-to#support-for-late

[2021-08-09 13:18] SrijitBose-MSFT commented on #79462
@JoaoRaimundo14 , Thank you for your feedback., We have shared the same with the content author.

[2021-08-09 13:26] rharper-1 opened #79471 "Recommend bringing down applications before migrate."
In the document for [Physical Server migration](https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-physical-virtual-machines#migrate-vms), the following text is added under "Migrate VMs" section.

_Note: For Physical Server Migration, the recommendation is to bring the application down as part of the migration window (don't let the applications accept any connections) and then initiat

[2021-08-09 13:36] IanKemp opened #79472 "Are durable functions orchestrators allowed to use the Stopwatch class?"
I would assume not, since it's non-deterministic - either way, since `Stopwatch` is an often-used API, it would be useful to add a specific call-out about its safety or lack thereof.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d835903-bb13-1907-aa84-4d67eb1f5850
* Version Independent ID: 669a49bd-2a6f-c578-288d-89b

[2021-08-09 14:01] psmanhas commented on #79467
@UnoSD
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-08-09 14:01] psmanhas commented on #79467
@fitzgeraldsteele
Can you please check and add your comments on this doc update request as applicable

[2021-08-09 14:03] psmanhas commented on #79468
@ewouds Thank you for the feedback.We will work on it and will keep you updated on the thread

[2021-08-09 14:05] psmanhas commented on #79460
@sokoloffmaks Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-08-09 14:05] psmanhas commented on #79460
@Heidilohr
Can you please check and add your comments on this doc update request as applicable

[2021-08-09 14:19] brucelangston opened #79473 "What does "Front Door terminates HTTP requests at the edge of Microsoft’s network" really mean?"
re: "Front Door terminates HTTP requests at the edge of Microsoft’s network" in the referenced article, What is the significance of this statement?  Is it that it terminates **HTTP** requests? When I see "terminate" in this context, I think of SSL termination, but the reference to "HTTP" seems to preclude SSL termination.  The second possible meaning I can imagine is that, because the referenced r

[2021-08-09 14:19] SadiqhAhmed-MSFT commented on #79471
@rharper-1 Thanks for the feedback. We will review this with the content owner and update as appropriate.

@anvar-ms FYI

[2021-08-09 14:22] SadiqhAhmed-MSFT commented on #79305
@SHxKM This is the flow we expect from ISV on getting Change plan / seats or Reinstate webhooks

1.	HTTP POST is made from Azure to the publisher's webhook endpoint
2.	Publisher should return 200 to indicate that they received the notification.
3.	Publisher then has 10 seconds to decide whether they decline or approve the change
4.	If publisher declines the change, then they must call the Update S

[2021-08-09 14:23] cephalin commented on #79373
@diberry @BhargaviAnnadevara-MSFT I'm currently changing the names strategically. Please don't make any systematic changes because App Service still uses master as the default branch and telling customers to just push with a different command will just result in deployment failure.

[2021-08-09 14:24] cephalin commented on #79373
@diberry any "main" you see in our docs is most likely from someone other than us doing bulk changes. it doesn't actually help our docs.

[2021-08-09 14:29] kaevans commented on #71590
The article had been tested and verified as of the time of its writing to support user and role claims. Any additional claims would require creating a custom claims provider to interpret the claims and project them into SharePoint for use with the People Picker. That custom development is out of scope for this article.

[2021-08-09 14:31] #79143 closed

[2021-08-09 14:32] SPDEVGUY commented on #71590
I had a client who wanted to migrate from windows claims on prem to Azure AD provided claims but there was no effective way to manage the transition like there is for on prem adfs

Kevin Cole | SharePoint MCM
780.271.2171

________________________________
From: Kirk Evans ***@***.***>
Sent: Monday, August 9, 2021 8:29:29 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Kevin Cole ***@***.***>; Men

[2021-08-09 14:34] Belliqueu commented on #34263
@FrankHu-MSFT FrankHu-MSFT
The lie detector determined that was a lie. 2 years later and neither the documentation nor the general release have been updated.

[2021-08-09 14:51] SumanthMarigowda commented on #79310
@aidancopps Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-09 14:52] HASSAN5077 opened #79474 "SLIDER"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 650b028a-16b9-f560-a2aa-8613d85ffce6
* Version Independent ID: 0e2c2f6b-65bd-4dc8-1a45-956d20bf8a9b
* Content: [License self-service password reset - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concep

[2021-08-09 14:52] SnehaAgrawal-MSFT commented on #79143
@Itamaram Thanks again for the feedback! The PR has been created for this and will be visible soon in the document.

[2021-08-09 14:53] UnoSD commented on #79467
Thank you @psmanhas, just to be more precise, the description of uniform states:

Whereas, in the `A comparison of Flexible, Uniform, and Availability Sets` table, there is a `Yes` in the Azure Backup row for uniform

Not sure if that just means that backup is only supported via non-standard Azure IaaS VM API, but it is indeed supported; I was not able to find references to backing up VMSS instanc

[2021-08-09 14:55] snobu opened #79475 "Node version discovery is botched for Windows workers"
Docs page says run `az webapp list-runtimes` to get the Node version to populate WEBSITE_NODE_DEFAULT_VERSION app setting. But that's incorrect for Windows workers, values like `14-lts` or `node|14-lts` will not match an installed version and will result in HTTP 500 for any site request.

[code]
However if you fill in `WEBSITE_NODE_DEFAULT_VERSION = 14.16.0` (meaning any value that you get via Kud

[2021-08-09 14:59] chandrikashivanna commented on #51790
Hello, I am facing same issue too, WEBSITE_AUTH_DISABLE_IDENTITY_FLOW setting is getting disappeared after saving. Please let me know if it resolved for you.

[2021-08-09 15:03] GitaraniSharma-MSFT commented on #79235
@bhans378 , we already have the below permission listed which reads the resources for the RG:
Microsoft.Resources/subscriptions/resourcegroups/resources/read : Read the resources for the resource group

![image](https://user-images.githubusercontent.com/67630903/128728118-c9093540-1066-4bbb-a9f7-7c0baebc1b9d.png)

And this should help you to deploy a private endpoint.

If you are unable to deploy

[2021-08-09 15:03] #79235 closed

[2021-08-09 15:04] GitaraniSharma-MSFT commented on #79243
@carlost-MSFT , We have assigned this issue to the respective product owner for review.

@irenehua , for your review.

[2021-08-09 15:05] scubaninja commented on #75378
Hi @Cmohan !

I've tagged @craigshoemaker as he spends more time with Functions. I have had a few issues with Functions as well.  Have you had a look here: https://github.com/Azure/azure-functions-dotnet-worker/issues?

[2021-08-09 15:13] ErikMogensen commented on #79450
@MayankBargali-MSFT, the warning section you refered to is contained in a section called [Expose the developer portal and management endpoint externally through Application Gateway](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway#expose-the-developer-portal-and-management-endpoint-externally-through-application-gateway). It looks to me

[2021-08-09 15:25] SamaraSoucy-MSFT commented on #79392
Can you please check to see if you have CORS enabled on your CosmosDB? https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-cross-origin-resource-sharing

![image](https://user-images.githubusercontent.com/47195189/128731309-d1162396-b80d-4868-a39e-402c9ff875bf.png)

The libraries might still work with React- it's just not supported officially. If you've considered the security implic

[2021-08-09 15:55] MonikaReddy-MSFT commented on #79453
@m-gug - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-09 15:56] MonikaReddy-MSFT commented on #79457
@girishsuri15 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-09 15:59] SinisterChinaPenguin commented on #79240
Yeah I get that bit - turns out the problem is I didn't have a nuget source to pull the package from. So I ran:

**_dotnet nuget add source --name nuget.org https://api.nuget.org/v3/index.json_**

& then it worked just fine. I guess maybe it's obvious to you guys but wasn't to me :-(

Thank You for getting back to me!

[2021-08-09 16:02] Siby22071989 opened #79477 "ARM template for multiple subscriptions"
[Enter feedback here]

Do we have an option for ARM template wherein a single template can scope multiple subscriptions via a single template OR
   Do we have an option for ARM template wherein a single template can scope management Groups? Since EA subscriptions have the option of management groups on portal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-08-09 16:02] HitenBhavsarMSFT opened #79478 "Advanced Threat Protection Settings,Screenshot is old, any an update"
Old:
![image](https://user-images.githubusercontent.com/72768193/128737272-87c2df45-171d-4c29-bae5-d5435a081663.png)

New
![image](https://user-images.githubusercontent.com/72768193/128737218-b67d3cb6-56ec-490f-af45-c82ab5d1c435.png)

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for c

[2021-08-09 16:04] MarileeTurscak-MSFT commented on #79474
Hi @HASSAN5077 ,

Thanks for reaching out. If you have specific feedback related to the document, please create a new issue detailing what you would like changed in the guide.

[2021-08-09 16:04] #79474 closed

[2021-08-09 16:07] ashfenixx opened #79479 "Request for update: GA status/Date for this feature"
1. Screenshot still shows PREVIEW and

![image](https://user-images.githubusercontent.com/60640426/128737822-e14f6ec4-3d5d-45fc-be87-ef53ddf171ad.png)

2. Azure Updates still show as Public Preview - https://azure.microsoft.com/en-ca/updates/cloudshell-vnet/

![image](https://user-images.githubusercontent.com/60640426/128737972-da841681-b7fd-4739-9266-2213cdadc9c1.png)

[Enter feedback here]

---

[2021-08-09 16:11] HitenBhavsarMSFT opened #79481 "Advanced Threat Protection Settings to send email alert - Screenshot is old doc need update/"
looking for an email alert for Advanced Threat Protection Settings, on heh SQL Server on the Azure portal. Portal have updated and email alert is button is Missing. I have listed old and new screenshot below.

Security alert is found on the Security Central, Steps are below
![image](https://user-images.githubusercontent.com/72768193/128738360-853c88d8-c4dd-4618-8835-6e5fddefed79.png)

Old:
![image

[2021-08-09 16:14] timsander1 commented on #78765
No problem, could you please post your question in that location and we'd be happy to answer. Thanks!

[2021-08-09 16:14] timsander1 commented on #78765
#please-close

[2021-08-09 16:14] #78765 closed

[2021-08-09 16:17] ShaikMaheer-MSFT commented on #79461
@keen85 Thank you for feedback. We are actively monitoring it and revert back soon with updates. Thank you.

[2021-08-09 16:24] girishsuri15 commented on #79457
@MonikaReddy-MSFT  I actually issue with the product. So I will put it into the stack overflow and Microsoft Q&A.
Thanks for your answer.

[2021-08-09 16:24] #79457 closed

[2021-08-09 16:29] sethmanheim commented on #78568
@andreflowers Thank you and sorry for the delay. We are aware that the GitHub samples are out of date and are engaging engineering help to update them.

[2021-08-09 16:31] cgillum commented on #79466
This looks like an oversight on our part. This article should be improved by defining the `ICounter` interface:

[code]

[2021-08-09 16:36] drcrook1 opened #79482 "How to COUNT Devices"
[Enter feedback here]

Need to DOCUMENT how to count total devices in an IoT Hub:

"SELECT COUNT() AS counted FROM devices"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58bc573-ec3e-ed94-900d-1163a5700750
* Version Independent ID: d83c0073-4a03-f46b-1855-4101b040d92c
* Content: [Understand the Azure IoT Hub query la

[2021-08-09 16:52] dlepow commented on #79088
@vlad610 - Thanks for pointing out the limitation and workaround in this scenario. I created a work item at add this information when we update this article.

[2021-08-09 16:54] Fleid commented on #78637
Hi @Tasos-Torou, are you good here? Should we close this issue?
Thanks!