[2019-10-31 18:03] rolyon commented on #40831
Hi @iricigor
Azure RBAC is a newer authorization system that allows you to assign just the permissions a user needs (via roles) for specific resources. Classic administrators do not have the same fine-grained access control and apply at the subscription scope only.
A Service Administrator has the equivalent access of a user who is assigned the Owner role at the subscription scope. The advantage of

[2019-10-31 18:05] msangapu-msft commented on #40440
#please-close

[2019-10-31 18:05] #40440 closed

[2019-10-31 18:09] MickQuinlan commented on #38588
Hi @ManojReddy-MSFT  any feedback from internal sources?

[2019-10-31 18:13] MGoedtel commented on #41870
@HoCGeek - The account logged in needs to be a member of the Azure RBAC Log Analytics contributor role in the resource group in order to create the workspace.

[2019-10-31 18:14] PatrickFarley commented on #41296
@YutongTie-MSFT  I've messaged you

[2019-10-31 18:16] msrini-MSFT commented on #41881
@mikewo , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-31 18:17] techiebuddhas opened #41893 "Powershell : Restore SQL database in azure VM, Get-AzRecoveryServicesBackupWorkloadRecoveryConfig"
**Get-AzRecoveryServicesBackupWorkloadRecoveryConfig**
When the SQL database backup item is having more than 1 data filegroup, command throws an error as below.

writeErrorStream      : True
Exception             : System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
                        Parameter name: index

[2019-10-31 18:20] FrankHu-MSFT commented on #41875
@jaffadog Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 18:20] FrankHu-MSFT commented on #41872
@jaffadog Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 18:20] FrankHu-MSFT commented on #41860
@iilyin Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 18:23] sylfabre opened #41894 "Package microsoft/windowsazure is abandoned"
Do you have any plan to publish another package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de046a08-4c1e-e031-b0de-2c51609f5edc
* Version Independent ID: 9410a96c-769f-ab86-146a-d994ce486893
* Content: [How to use Service Bus topics with PHP](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus

[2019-10-31 18:24] SnehaGunda commented on #41139
@simonvane Yes what you have above is right, I will update the doc to simplify the sentence, here are the details:

Even after the TTL has expired, if the container is overloaded with requests and if there aren't any RU's available, the data deletion is delayed. Data is deleted once there are enough RUs available to perform the delete operation.

Even though the data deletion is delayed, data is n

[2019-10-31 18:24] rolyon commented on #40720
Hi @sujitks
Have you seen this tutorial on creating a blueprint with deny?
https://docs.microsoft.com/en-us/azure/governance/blueprints/tutorials/protect-new-resources

[2019-10-31 18:27] SnehaGunda commented on #41139
We will close this issue if there aren't further questions.

#please-close

[2019-10-31 18:27] #41139 closed

[2019-10-31 18:28] SamaraSoucy-MSFT commented on #41892
@m43kwon  Thank you for your question. Let me take a look at it and I will get back to you shortly.

[2019-10-31 18:28] mfaulkinbury opened #41895 "Need an App Service slot example"
Please add an example targeting App Service slots.  Here's my working code for user assigned identity:

"identity": {
      "type": "UserAssigned",
      "userAssignedIdentities": {
            "[resourceID('Microsoft.ManagedIdentity/userAssignedIdentities/', parameters('user_assigned_msi_name'))]": {
	           }
             }
     },

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-31 18:32] FrankHu-MSFT commented on #41860
Hello @iilyin it doesn't seem like you have a resource in your scopes. Per the docs : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc

access_token | Opaque string | Issued for the scopes that were requested.

Per the scopes docs : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent

You'll need to have a scope for a resource in

[2019-10-31 18:38] Mike-Ubezzi-MSFT commented on #41880
@kkblues It appears you were able to get the answer to your question. That's great! It would be helpful to also understand the tutorial or documentation you are following to ensure the information is also present. Can you share the link to this doc? Greatly appreciated.

[2019-10-31 18:40] MicrosoftGuyJFlo commented on #41575
Not the intent of this article. More detail on the What If tool is in the article https://docs.microsoft.com/azure/active-directory/conditional-access/troubleshoot-conditional-access-what-if

[2019-10-31 18:41] MicrosoftGuyJFlo commented on #41575
This article will be deprecated in the near future.

[2019-10-31 18:41] MicrosoftGuyJFlo commented on #41575
#please-close

[2019-10-31 18:41] #41575 closed

[2019-10-31 18:41] Mike-Ubezzi-MSFT commented on #41868
@AEIOU-fhir Please let us know if you require any additional assistance.

[2019-10-31 18:41] vlado101 opened #41897 "Links are not working"
Hello, when trying to access the above links I get an error 404 that the webpage has been moved. Can you please see if this can be fixed?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b59e754a-3a7b-0909-fc3f-c8ec75f21d07
* Version Independent ID: f9a711cf-3c5a-5115-a98f-94e578029774
* Content: [Connect to d

[2019-10-31 18:46] lukealton opened #41898 "How to Determine Who/What Made the Change to Files/Folders?"
I have read the documentation and done some testing of the Change Tracking solution but don't see any way to determine who made the changes to the files/folders I'm tracking. Is this a known limitation that could be added to the Limitations section, or am I missing something that could be clarified elsewhere in the document? I feel like one of the primary needs and reasons for tracking changes is

[2019-10-31 18:46] spelluru commented on #41010
#please-close

[2019-10-31 18:46] #41010 closed

[2019-10-31 18:48] TravisCragg-MSFT commented on #41874
@Mahesh1 I would recommend using [Azure Kubernetes Service for containers inside of a Virtual Network](https://docs.microsoft.com/en-us/azure/aks/).

Please let me know if you have any additional questions.

[2019-10-31 18:48] Mike-Ubezzi-MSFT commented on #41858
@smithcl167 Thank you for your inquiry. Is there a specific document you are following? I have pre-selected a related document to categorize your issue and have it addressed by the appropriate service area but, if there is a specific tutorial or set of instructions you are attempting follow, it would be helpful if we also had that link.

[2019-10-31 18:48] mikebudzynski commented on #41736
You would need to use authentication delegation. Contact Azure support for assistance if needed.

#please-close

[2019-10-31 18:48] SnehaGunda commented on #40854
@g2mula The sample data required to run the queries is already documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-getting-started#upload-sample-data. This data is used for all the queries in query docs.

[2019-10-31 18:48] #41736 closed

[2019-10-31 18:50] DaehyunLee opened #41899 "it's unclear what "offline" container means. some detail or link would be nice."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-31 18:51] philspokas opened #41900 "Dev Spaces must be initialized first"
"Connect your project..." did not work until I first initialized (which installs the cli extension ) with "az aks use-dev-spaces "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28fe6ff-a564-a867-2f1d-91197e74f22b
* Version Independent ID: 2119d269-d3e2-3e8d-4753-e9dfe8a313a0
* Content: [Debug and iterate with Visual

[2019-10-31 18:53] #41899 closed

[2019-10-31 18:54] #41056 closed

[2019-10-31 18:56] YutongTie-MSFT commented on #41538
@Tylersuard Hi Tyler, sorry for the delay. Is there any document/ tutorial you are referring to? Please share it to us so that we can address it. As it stands, this is a perfect question for the [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureCognitiveService&filter=alltypes&sort=lastpostdesc)or [Stack Overflow forums](https://stackoverflow.com/questions/tagged/azure-c

[2019-10-31 18:59] YutongTie-MSFT commented on #41786
@TaniguchiSantos Hi, please go ahead to post this question to [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-bot-service) forum.

[2019-10-31 18:59] #41786 closed

[2019-10-31 19:01] AskYous opened #41901 "How do I get data?"
All I see in the documentation is how to send request to the QnA endpoint. How do I get data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 398126c1-d15f-2a14-8760-e71cb3f6f01a
* Version Independent ID: a5a36b3c-6b56-4a78-0940-284f697c67cd
* Content: [Quickstart: QnA Maker client library for Node.js - Azure Cognitive

[2019-10-31 19:01] ChristianMontoya commented on #29895
@lelandvelasco : Which version of PowerShell are you running? Our module requires PowerShell 5.0 or 5.1 .

[2019-10-31 19:01] SamaraSoucy-MSFT commented on #41900
@philspokas Thank you for your feedback. I will review it and get back to you shortly.

[2019-10-31 19:02] ChristianMontoya commented on #29895
@dsyorkd : The URL should be "https://rdbroker.wvd.microsoft.com".

[2019-10-31 19:03] YutongTie-MSFT commented on #41538
@Tylersuard

[2019-10-31 19:03] #41538 closed

[2019-10-31 19:03] spottedmahn opened #41902 "ARM Template for Enabling"
What about adding the bits need to do this via ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279763aa-b638-e2bc-cdb8-52c7bfe426ee
* Version Independent ID: df3a411a-b8da-fccb-9c0b-aeb60a7c8baa
* Content: [Enable Snapshot Debugger for .NET apps in Azure App Service](https://docs.microsoft.com/en-us/azure

[2019-10-31 19:05] HeidiSteen commented on #41777
Content-Type has worked for me/others for years so I will need to investigate.  Maybe calling REST API in .NET Core behaves differently.

[2019-10-31 19:05] SamaraSoucy-MSFT commented on #41902
@spottedmahn Thank you for your feedback. I'll assign this to the doc author to decide whether or not to add the additional content.

[2019-10-31 19:06] HeidiSteen commented on #41765
Hello @Anaig I am collecting more information on this.  As you noted, our docs for this feature is incomplete.  It will be 1-2 days before I can make progress on this.

[2019-10-31 19:06] anavinahar commented on #41830
We fixed this. #please-close

[2019-10-31 19:06] #41830 closed

[2019-10-31 19:08] SaurabhSharma-MSFT commented on #41890
@tomdan-MSFT Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-31 19:12] SaurabhSharma-MSFT commented on #41895
@mfaulkinbury Can you please provide more details on the example.  You can also submit a PR with information you want to be included in the document for author approval.   Once approved it will be published to documentation.

[2019-10-31 19:13] SaurabhSharma-MSFT commented on #41869
@CarolynBillups Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 19:14] SaurabhSharma-MSFT commented on #41867
@HareBear Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 19:15] SaurabhSharma-MSFT commented on #41853
@GitTune Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 19:15] MarileeTurscak-MSFT commented on #41846
@lesterw1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 19:15] SaurabhSharma-MSFT commented on #41852
@GitTune Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-31 19:16] mamccrea commented on #41897
@vlado101 Thanks for bringing this to our attention. I will update the links.

[2019-10-31 19:23] ecfan commented on #41871
Hi @ranokarno,

Please confirm whether this response addresses your question? Thanks!

[2019-10-31 19:28] RyanHill-MSFT commented on #41656
@APIWT, what this means is that when you have your release pipeline configured for auto-swap, it will warm-up that slot (i.e. stop the worker, copy the files, restart the worker) and once that worker starts accepting request, it will be swapped to your other slot. You would do this so your customers don't perceive a sense of downtime while your application is being updated (in this case, the actio

[2019-10-31 19:31] KrishnaG-MSFT commented on #41899
@DaehyunLee I hope you have self resolved this Container product related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-10-31 19:43] danroot commented on #41777
I tested some with fiddler, and confirmed the search service will just ignore Content-Type in this case.  It's the .NET Core HTTPClient that throws the exception:

`client.DefaultRequestHeaders.Add("Content-Type", "application/json");`

throws

This [SO post explains the error](https://stackoverflow.com/questions/10679214/how-do-you-set-the-content-type-header-for-an-httpclient-request).  Now that

[2019-10-31 19:45] liutang opened #41904 "Pricing?"
Giving your customers 1 week to decide without any information on MAU pricing model is not appropriate. We're in the middle of looking at B2C and thankfully we caught this on the last day before the permanent switchover. We provisioned a B2C just to reserve the old model. What is the new pricing model? How come there is no information?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-31 19:48] damiandiaz76 opened #41905 "Incorrect 'iothub-message-schema' for device twin notifications"
The documentation states that the 'iothub-message-schema' for device twin notifications should be 'deviceLifecycleNotification'.  In my testing, I see a value of 'twinChangeNotification'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d638cadae8
* Version Independent ID: fa51c99a-0df6-cebf-aec

[2019-10-31 19:50] munozrickT4S opened #41907 "Re: Scheduled Message - Is there a date/time limit in setting a future "enqueue" date/time?"
It's not clear from the documentation if there's an upper limit to how far in the future the enqueue date/time can be set. The name of the property ScheduleEnqueueTimeUtc seems to imply that the datetime parameter is meant only for time (e.g. within a day); however, there's not indication that there's a limit.

Additionally, it's not clear what will happen if sending in a datetime parameter that i

[2019-10-31 19:51] iricigor commented on #40831
I understand general benefits of RBAC setup. But, I am specifically interested in difference between classic administrator and Subscription Owner role. Is there any effective difference between those two?

Or, on use case example. On my subscription I want to add another administrator who should be able to assign all permissions and create/modify delete all resources / resource groups. I saw the s

[2019-10-31 19:52] mhenaghan commented on #41743
Hi @shashishailaj do you have any update on this?

[2019-10-31 20:03] dreck410 commented on #41811
Yeah, i was looking thru those docs and i wasn't seeing an answer to my question.

A better way to ask Would be

Given Size Flexibility when a bill record has a line item for 1 hour does that hour refer to the reservation, the virtual machine, or one physical hour? I'm trying to figure out how much of my reservation is used given a line item

[2019-10-31 20:06] Mike-Ubezzi-MSFT commented on #41888
@ryburn Thank you for bringing this to our attention. To better assist with getting this to the appropriate service area, can you please provide the link to the document you are referencing?

[2019-10-31 20:06] p-pre commented on #41719
That seems to have been my mistake, was able to restore it. Thanks

[2019-10-31 20:06] #41719 closed

[2019-10-31 20:13] Tylersuard commented on #41538
The tutorial/doc is here: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python

I will try posting on MSDN.  Thank you!

[2019-10-31 20:14] Mike-Ubezzi-MSFT commented on #41888
Additionally I believe the solution could be with Azure Monitor and I am providing some information that details how it works. Once the data is in Azure Monitor, you would need to build some logic on top of the data:
[Alert and monitor data factories by using Azure Monitor](https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor)
[Azure Data Factory logs now available as de

[2019-10-31 20:19] mamccrea commented on #41293
Hi @baatch - I hope this information has been helpful. We will now close this issue. If you have any other questions, please re-open the issue.

[2019-10-31 20:23] Raj-Krishnamoorthy opened #41909 "Architecture diagram"
The HA table is really good. An architecture diagram with region, availability zones would be useful along with consistency states. I think something along these lines shown in Azure SQL HA documentation - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-high-availability.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-31 20:26] femsulu commented on #41870
Thanks @MGoedtel
@HoCGeekWe will close this issue but don't hesitate to ping if you have any followup questions.

[2019-10-31 20:26] #41870 closed

[2019-10-31 20:26] Alberto-Vega-MSFT commented on #41749
@choonyip is this the same issue you are seeing? https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/836

[2019-10-31 20:27] MicahMcKittrick-MSFT commented on #41811
Based on the docs, we have the following:

We bill in increments of an hour. So for example, if you have a reservation of 20 hours, and during that time you have a matching VM running for 18 of those 20 hours, you get the discount for 18 of those 20 hours but you would lose out on the last 2 hours.

So from a billing perspective, we charge 1 hour at a time. So it's a physical hour, but if you were

[2019-10-31 20:27] femsulu commented on #41876
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-31 20:29] femsulu commented on #41878
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-31 20:30] MicahMcKittrick-MSFT commented on #41874
@Mahesh1 Travis is correct.

https://docs.microsoft.com/en-us/azure/aks/concepts-network#azure-virtual-networks

You can deploy to existing virtual networks so you can connect to other resources.

Samples are

https://docs.microsoft.com/en-us/azure/aks/configure-kubenet
https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni

[2019-10-31 20:31] btardif commented on #39175
The article api reports the Average Response Time in Seconds.

The article reflects this:

![image](https://user-images.githubusercontent.com/4119816/67983754-92778d80-fbe2-11e9-8275-b5afe173fca1.png)

The UI however is able to dynamically adjust the units shown in the graph depending on the values being reported.

#please-close

[2019-10-31 20:31] #39175 closed

[2019-10-31 20:32] femsulu commented on #41882
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-31 20:34] KranthiPakala-MSFT commented on #41617
@mindlessroman Thanks again for pointing this out. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-10-31 20:36] MicahMcKittrick-MSFT commented on #41666
@imlight I don't believe that is possible to do with Ansible. Currently to change the Node Resource Group name you need to have the aks preview cli extension installed. This cli extension is in preview so it is unlikely there are any matching commands for Ansible.

Else, the other possible reason is you didn't install the preview cli extension hence you're not finding the command.

https://docs.mi

[2019-10-31 20:39] femsulu commented on #41898
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@zjalexander - any idea on this please?

[2019-10-31 20:40] ryburn commented on #41888
Hey Mike, thanks for following up.

Here is the document I was referencing:
https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor

As for using Azure Monitor, we have a good handle on that. We are already leveraging the data in custom dashboards and alerts through Azure Monitor.

The problem is more specifically with the data model. **It seems like the ability to correlat

[2019-10-31 20:41] MicahMcKittrick-MSFT commented on #41785
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-31 20:41] #41785 closed

[2019-10-31 20:42] georgewallace commented on #17415
@SalehAlbuga Thank you for the feedback and for your commitment to our documentation.  I apologize it has taken us a long time to respond.  We actually do not plan on adding additional details around creation time in the documentation.  There are many other components that are provisioned during the process which make it hard to properly document provisioning times.  I encourage you to continue to

[2019-10-31 20:42] #17415 closed

[2019-10-31 20:42] lyf007168 commented on #41743
@shashishailaj We got this issue as well and can't release the new feature based on it. Thanks for the help.

[2019-10-31 20:43] Mike-Ubezzi-MSFT commented on #41891
@Sujina-Saddival Thank you for bringing this to our attention. I am making an assumption with regard to the document you are attempting to follow, and hoping you can provide a link to the specific set of instructions if they are not the same. By having the specific link to the document, we can ensure the appropriate updates are made. How are you deploying the additional modules?

Regards,
Mike

[2019-10-31 20:44] MicahMcKittrick-MSFT commented on #41866
@benhosmer in between which step did you have to do that? Was it after following the steps you noticed these were also needed? Just want to check so I can verify in the same order :)

[2019-10-31 20:46] mamccrea commented on #41293
#please-close

[2019-10-31 20:46] #41293 closed

[2019-10-31 20:47] iilyin commented on #41860
Frank, it does not seem to be right reason. I can get access token using the same scope via auth code grant.
Moreover, I can use refresh token returned from password grand and get access token successfully. So it seems like access token is just missing from the password grant response.

[2019-10-31 20:49] m-sterspace opened #41911 "Why Does The MSAL Library Register a Callback Function"
Can you provide more explanation on what is actually happening in the msal library with the redirect because it's not making a whole lot of sense to me... How can you possibly register a call back function if you're logging in with redirects?

Once you login with redirect, the user's browser is going to close down the single page application, open login.microsoft.com, and then go back and get a br

[2019-10-31 20:49] yashesvi commented on #41321
Auto renew will work with Databricks only for the end of term expiry. Does not auto renew when all DBCU is consumed.

[2019-10-31 20:51] MicahMcKittrick-MSFT commented on #41879
@andybouts Microsoft does not actually manage the 3rd Party images. We have contracts in place that allow these 3rd party providers to use their images in Azure. Hence, it is actually up to each 3rd party to validate that everything is up to date and working as expected. This can be difficult as you found an issue and we have no control over updating a newer version of that image.

In our quicksta

[2019-10-31 20:51] #41879 closed

[2019-10-31 20:56] svangeti opened #41912 "Failover for Gen2 GRS storage account"
How does the fail over work for Gen2 GRS storage account. I really can't find anything in the documentation but I see info icon as below when enabling GRS on Gen2 Storage account.
"Customer controlled failover is not supported for your primary and secondary region".
is this feature public available or in preview?

![Screen Shot 2019-10-31 at 16 54 13](https://user-images.githubusercontent.com/2273

[2019-10-31 21:08] melzoghbi commented on #40136
First, the Gov. Selector extension is not supported in VS2019. VS2019 is designed to connect to any environment without the need to install the Azure Environment Selector extension. Till today using build 16.3.5, VS2019 doesn't list Government subscriptions! so the issue for logic app project template is not working till this point using this build.

[2019-10-31 21:09] Mike-Ubezzi-MSFT commented on #41893
Hi @techiebuddhas and thank you for bringing this to our attention. I wanted to inquire about the specific document you are attempting to follow. I have made an assumption with regard to the document applicable to your issue and wanted to see if the following process was followed: [Restore SQL DBs](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-automation#restore-sql-dbs) where the

[2019-10-31 21:10] TravisCragg-MSFT commented on #41889
@jigarshah04 Thanks for the feedback. We are actively investigating and will get back to you soon.

@steveesp can you advise on these questions?

[2019-10-31 21:10] Adam-Smith-MSFT commented on #41912
@svangeti Thank you for the valuable feedback,we are investigating the issue.

[2019-10-31 21:11] Adam-Smith-MSFT commented on #41873
@DonFrazier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-31 21:13] MarileeTurscak-MSFT commented on #41525
@JustinGrote  I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs/pull/41826

CC @msmbaldwin

[2019-10-31 21:13] #41525 closed

[2019-10-31 21:24] camoisan opened #41913 "Stream Data From Blob Storage: When ASA Will and Will not pick up data from a blob."
It would be helpful to add more specificity to when Azure Stream Analytics will and will not read data from a storage account blob.

For example:
If a blob is uploaded to a storage account at 13:00, and the Azure Stream Analytics job is started using the option "Now" at 13:01, the blob will not be picked up as its Modified Time falls outside the job run period.

If a blob is uploaded to a storage

[2019-10-31 21:26] CeciAc opened #41914 "Conditional Access policies evaluation pattern"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/544

@GitTune commented 7 hours ago — with docs.microsoft.com
Conditional Access policies are evaluated when:
A user initially signs in to a web app, mobile or desktop application.
A mobile or desktop application that uses modern authentication, uses a refresh token to acquire a new access token. By default t

[2019-10-31 21:27] camoisan opened #41915 "Stream Data from Blob Storage: Path Pattern"
It would be helpful to explicitly state that if you want to read blobs from the root of the container that no path pattern should be specified. I understand the Path Pattern is optional, but it is currently when it is appropriate to not include a path pattern..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddf4c6b-82

[2019-10-31 21:29] Mike-Ubezzi-MSFT commented on #41888
@ryburn Thank you for the additional detail. I have assigned this to the Azure Data Factory team to provide additional feedback or escalate as the best course of action.

[2019-10-31 21:32] jennyhunter-msft commented on #41898
Thanks for reaching out. While we understand the scenario, it is a particularly complex issue to address since the information is not collected by the system and because we run on a pull-based collection model. However, we're compiling more details on the scenario and priorities of customers for this topic at [our UserVoice](https://feedback.azure.com/forums/922789-change-tracking/suggestions/1740

[2019-10-31 21:42] timwoelfle opened #41916 "Academic Search API: JavaScript example codes don't work in Edge, Firefox, Chrome but IE11"
The JavaScript code examples from the API documentation pages don't work anymore in modern browsers like Edge, Firefox or Chrome; only in Internet Explorer. See below example code for [Interpret POST (bottom of page)](https://msr-apis.portal.azure-api.net/docs/services/academic-search-api/operations/5951f6260ecf2621902c89e4?). This example code currently works in IE11, yielding success, but fails

[2019-10-31 21:43] timwoelfle commented on #41608
I've also filed [another problem](https://github.com/MicrosoftDocs/azure-docs/issues/41916) with the Microsoft Academic API documentation.

[2019-10-31 21:45] NavtejSaini-MSFT commented on #41809
@oslake @stevestein Please check this and convey which one is correct.
Here is what we see on pricing page for a East US Serverless DB service.
![image](https://user-images.githubusercontent.com/52257742/67988131-776a4500-fc05-11e9-9341-72f816c3b147.png)
And here is what we see in Portal for the Serverless service in East US.
![image](https://user-images.githubusercontent.com/52257742/67988204-a2e

[2019-10-31 21:51] NavtejSaini-MSFT commented on #41909
@Raj-Krishnamoorthy We are checking this and we will get back to you.

[2019-10-31 22:01] TsuyoshiUshio opened #41917 "Key Vault reference works without version number"
Key Vault reference works without version number like this.

@Microsoft.KeyVault(SecretUri=https://&lt;MYKEYVAULT&gt;.vault.azure.net/secrets/eShopStorageAccountCS/)

However, this documentation said that It is not available.

&gt; Versions are currently required. When rotating secrets, you will need to update the version in your application configuration.

---
#### Document Details

⚠ *Do not edi

[2019-10-31 22:04] MartinJaffer-MSFT commented on #41373
@shimst3r this is extracted from a factory with 1 kv and 1 storage.
[code]

[2019-10-31 22:08] MarileeTurscak-MSFT commented on #41846
@lesterw1 thanks for this! I made a pull request to add this note.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/94376

[2019-10-31 22:08] #41846 closed

[2019-10-31 22:09] MonikaReddy-MSFT commented on #41917
@TsuyoshiUshio ,Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-31 22:15] TravisCragg-MSFT commented on #41677
@pemj Thanks for the follow up and how to do it!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-31 22:15] #41677 closed

[2019-10-31 22:29] FrankHu-MSFT commented on #41860
Hey @iilyin, can you please provide what access token audience you're getting in the access token returned with the refresh token?

we'll look into this further.

[2019-10-31 22:30] YutongTie-MSFT commented on #41696
@githubavi Hi, the 4MB limit is for all the dataset in the blob container. You have to point to a blob with smaller data. Thanks and sorry for your experiences.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-10-31 22:30] #41696 closed

[2019-10-31 22:32] femsulu commented on #41898
thanks for the update, @jennyhunter-msft
@lukealton
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-31 22:32] #41898 closed

[2019-10-31 22:34] YutongTie-MSFT commented on #41916
@timwoelfle
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 22:34] MicahMcKittrick-MSFT commented on #41874
@Mahesh1 I will close this but if you have questions on any of the documents we linked feel free to open an issue with your questions and we can help. The questions get routed to me anyways :)

[2019-10-31 22:34] #41874 closed

[2019-10-31 22:42] DCtheGeek commented on #41702
This got fixed, but didn't autoclose.  Closing now, thanks again for the feedback @mattgwic!

#please-close

[2019-10-31 22:42] #41702 closed

[2019-10-31 22:42] KranthiPakala-MSFT commented on #41915
@camoisan Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

[2019-10-31 22:44] KranthiPakala-MSFT commented on #41915
Hi @mamccrea, could you please have a look at the above feedback? - Thanks!

[2019-10-31 22:45] KranthiPakala-MSFT commented on #41913
@camoisan Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

[2019-10-31 22:45] KranthiPakala-MSFT commented on #41913
Hi @mamccrea, could you please have a look at the above feedback? - Thanks!

[2019-10-31 22:46] DCtheGeek commented on #41691
@glaisne The steps used are correct. If you can provide additional feedback about what you think should change, just reply back here. I'm going to close this for now as I believe what you are asking for is already correct in the doc.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-10-31 22:46] #41691 closed

[2019-10-31 22:50] stevestein commented on #38023
@juongithub , @joeruder - thanks for the feedback.  The article is stating that the underlying hardware might do some load balancing if needed and that there is always a chance for a brief interruption in connectivity. There's no specific time that 'brief' or 'occasionally' equates to and making sure you account for transient errors and implement retry logic in your solutions should handle these t

[2019-10-31 23:07] dlepow commented on #41476
@Herr-Sepp - I confirmed the behavior you reported with our engineering team and will make a documentation update soon to correct. Thanks again for the heads-up.
#in-progress

[2019-10-31 23:18] pjgpetecodes opened #41919 "Does the max level limit of 5 still apply?"
I've just added the following to the desired properties and saved successfully. The Twin Update was received by the Device fine too;
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d638cadae8
* Version Independent ID: fa51c99a-0df6-cebf-aecc-b08df5f85454
* Content: [Understand Azure IoT

[2019-10-31 23:38] juongithub commented on #38023
@stevestein Thanks for taking the time to reply, surely you have some statistics that would be better to share. On average, what "occasionally" means? How many times this "occasional event" happen on the total? On average how long does the "brief period" last and with what variance?

[2019-10-31 23:47] dcbrown16 commented on #39175
#please-reopen
@btardif your screenshot is from the link I provided to the full metric list (where it says seconds).
I'm asking why this doesn't match the document on which I reported this issue. (https://docs.microsoft.com/en-us/Azure/app-service/web-sites-monitor)

![image](https://user-images.githubusercontent.com/34466884/67993360-c7450e00-fbfd-11e9-8dbb-0eab28204a81.png)

I'm not sure what yo

[2019-10-31 23:48] SnehaGunda commented on #40928
@dev9998 @Mike-Ubezzi-MSFT we have a doc on how to define parameterized queries: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-parameterized-queries. We don't have any guidance on using the parameterized queries with MVC application.

I think it's best to direct this question to "cosmosdbquery@microsoft.com" team. They can share if there any existing examples.

In the meantime, I did

[2019-10-31 23:52] LachlanJB commented on #41571
Hello Frank
Appreciate you getting back to us.

-Definition @('{"TokenLifetimePolicy":{"Version":1,"MaxInactiveTime":"00:10:00","MaxAgeMultiFactor":"00:12:00","MaxAgeSingleFactor":"00:12:00","AccessTokenLifetime":"02:01:10"}}')

<b>Which of these properties will be able to still be set from Configurable Token Lifetimes using Powershell and what will be the impact if we still put these properties i

[2019-10-31 23:53] Alberto-Vega-MSFT commented on #41905
@damiandiaz76 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-31 23:53] gregster14 commented on #41743
Thanks for raising this John, looks like it will be a problem for my team too. Appreciate updates on this @shashishailaj

[2019-10-31 23:54] Alberto-Vega-MSFT commented on #41919
@pjgpetecodes Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 00:01] LachlanJB opened #41921 "Clarification on Issue #41571"
https://github.com/MicrosoftDocs/azure-docs/issues/41571#issuecomment-548613739

-Definition @('{"TokenLifetimePolicy":{"Version":1,"MaxInactiveTime":"00:10:00","MaxAgeMultiFactor":"00:12:00","MaxAgeSingleFactor":"00:12:00","AccessTokenLifetime":"02:01:10"}}')

Which of these properties will be able to still be set from Configurable Token Lifetimes using Powershell and what will be the impact if w

[2019-11-01 00:18] YutongTie-MSFT commented on #41885
@v-kydela
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 00:19] YutongTie-MSFT commented on #41901
@AskYous
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 00:22] YutongTie-MSFT commented on #41856
@markti
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 00:27] santhoshbomma9 opened #41922 "Patch request clarification on change plan for SaaS"
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#provisioning-for-update-when-its-initiated-from-the-marketplace
Patch request clarification. Should the ISV make both calls for the market place to charge the customer on the changes to a subscritpion. I mean looking at the description in the above link, once a call is sent to subscription patch(cha

[2019-11-01 00:42] jgwinner opened #41923 "Default network and security gateway conflict ... recommend adding a resolution example"
If you setup a completely default series of resources, specifically:
1) Create a file storage group
2) setup Azure File Sync
3) Along the process of this, you get a 10.0.0.0/24 network if you accept the defaults.

When you then go to create a Gateway subnet, if you try 10.0.0.0/anything, you will always get an error. Further, if you try to change the existing subnet, you'll get an error as it's in

[2019-11-01 01:06] benhosmer commented on #41866
It was after I'd built the machine and then attempted to create the VM from
the image I uploaded. I likely didn't notice the error when the initial
dracut complained about not being able to find the hv_vmbus driver.

I then started retracing my steps and realized that the vmbus driver wasn't
present in the kernel.

I was using virtualbox to build the initial vhd, since I don't have access
to a hyp

[2019-11-01 01:07] sujitks commented on #40720
Yes I have, good tutorial however does not help to create a deny assignment on resource group where nobody except excluded identity could add/remove the resources inside the resource group.

Regards, Sujit

[2019-11-01 01:10] NavtejSaini-MSFT commented on #41909
@Raj-Krishnamoorthy Here are the few documents which explain this better.
https://docs.microsoft.com/en-us/azure/cosmos-db/distribute-data-globally
https://azure.microsoft.com/en-us/blog/a-technical-overview-of-azure-cosmos-db/

Please check if these help. If not we will check with doc author for adding this information.

[2019-11-01 01:21] TravisCragg-MSFT commented on #41600
To clarify further

2) Setting AutoScale to a minimum instance of 0 will keep a minimum of 2 instances on at all times to maintain high availability.

[2019-11-01 01:21] rynothopter commented on #41571
Thanks for getting back to us on this but I agree with LachlanJB that some further clarification is warranted to better understand the impact and if any additional options may become available within Conditional Access.

It's definitely clear that configurable token lifetimes will be deprecated on May 1st, 2020 and will be superseded by Authentication Session Management via Conditional Access as o

[2019-11-01 01:37] pjgpetecodes commented on #41919
Thanks Alberto!

[2019-11-01 01:41] ram-msft commented on #41544
@azizcoder We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 01:41] #41544 closed

[2019-11-01 01:50] Mahesh1 commented on #41874
Thank you very much Micah & Travis. I will check out those links and try it out.
#GoNats World Champions :-)

[2019-11-01 01:57] sub318 opened #41925 "Not Returning refresh_token."
I followed this example, but the refresh_token was not returned.
This is return json.
------------------------
"token_type": "Bearer",
"scope": "Mail.ReadWrite Mail.Send.All User.Read profile openid email",
"expires_in": 3599,
"ext_expires_in": 3599,
"access_token": "eyJ0eXAiOiJKV1QiLCJub25jZSI6IjNZdWhWdkJYWVdLTnhVXy1TSkI5MWVv........"

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-01 02:25] yuukiiwa commented on #41189
Hi @Ajithvajrala23 and @RobotChipmunk,
I got this problem too but have figured out how to solve them, and here are the steps:
1. In your virtual machine learning Jupyter notebook, click on "New" button on the upper left corner and get a new terminal.
2. move all your files from User to the directory with your Azure name (mine is wanyuk), so for me, I will type this in my User directory

3. get int

[2019-11-01 02:37] Raj-Krishnamoorthy commented on #41909
No. It does not help with regards to current topic.

[2019-11-01 02:39] evpill opened #41926 "Deploy Container ACR Credentials"
I've been following this tutorial and in the Deploy Container section it says to, "Replace &lt;service-principal-ID&gt; and &lt;service-principal-password&gt; with the service principal ID and password that you created to access the registry." However, in the last step ("Part two" https://docs.microsoft.com/en-us/azure/container-instances/container-instances-tutorial-prepare-acr) nothing was menti

[2019-11-01 02:44] shriazure opened #41927 "ARM template deployment support"
Does ASR support end-to-end A2A VM replication, fail over and fail back using ARM template deployment? If so, can you point me to a sample template? If not, is PowerShell the only way for automation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f

[2019-11-01 02:54] ranokarno commented on #41871
hi @ecfan ,
yes this is the same. will proceed to close this one

[2019-11-01 02:54] #41871 closed

[2019-11-01 04:05] msrini-MSFT commented on #41833
@nishantsinhaindia , Do you have any update for me?

[2019-11-01 04:06] msrini-MSFT commented on #41829
@BDworak , Do you have any update for me?

[2019-11-01 04:06] iilyin commented on #41860
"aud": "00000003-0000-0000-c000-000000000000"

Regards,
Ivan

--

CONFIDENTIALITY
NOTICE: This email and files attached to it are
confidential. If you
are not the intended recipient you are hereby notified
that using,
copying, distributing or taking any action in reliance on the
contents of this information is strictly prohibited. If you have
received
this email in error please notify the sender a

[2019-11-01 04:12] ankitvijay opened #41929 "Issues while importing the Cosmos Db"
Team, while trying to use Azure Search over Cosmos Db through the Azure portal, I have run to several issues. It would be good to get more clarity on how to troubleshoot these issues.

Here are details of a couple of those issues:
**Issue 1**

I'm not 100% sure what is the cause of the issue, it could be that the Cosmos DB documents in the single collection were of different shapes leading to the

[2019-11-01 04:16] neeleshray-msft commented on #41904
@liutang Thank you for your feedback. We will update on this.

[2019-11-01 04:28] iceyokuna commented on #41368
That helps, Thanks

However, I requested it at **subscription** level but its already exceeded the size. So, If I request it at management group level, it gonna be failed for sure.

I understand that the response size is too large.

I also have suggestion, It would be great if Microsoft provide export to CSV feature for the policy compliant.

[2019-11-01 05:00] jakaruna-MSFT commented on #41926
@evpill
Thanks for the question! We are investigating and will update you shortly.

[2019-11-01 05:04] KetanChawda-MSFT commented on #41894
@sylfabre Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-01 05:05] KetanChawda-MSFT commented on #41907
@munozrickT4S Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-01 05:08] souravmishra-msft commented on #41921
@LachlanJB, Thank you for sharing the query.  We are looking into this and would get back to you soon on this thread.

[2019-11-01 05:08] DCri opened #41930 "Service Tags?"
"It is recommended to use AzureSiteRecovery tag instead of IP addresses to allow access to Site Recovery service."

Do these service tags exist?  I cannot find them editing an NSG in ARM Web

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa423fbe-759a-16f7-ce8a-c46eeb416037
* Version Independent ID: 5e6271b8-0970-db08-

[2019-11-01 05:11] souravmishra-msft commented on #41925
@sub318, Thank you for sharing the details. We are looking into this and would get back to you soon on this thread.

[2019-11-01 05:16] souravmishra-msft commented on #41914
@CeciAc, Thank you for sharing the query. We are looking into this and will get back to you soon.

[2019-11-01 05:19] souravmishra-msft commented on #41911
@m-sterspace, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-11-01 05:28] paulpce opened #41931 "Multiple connection strings from config"
In the text above it says that multiple connection strings can be added in the format:

`Azure:SignalR:Connection:&lt;name&gt;:&lt;role&gt;`

However [other documentation](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-multi-instances#how-to-add-multiple-endpoints-from-config-1) suggests that the correct format is:

`Azure:SignalR:ConnectionString:{Name}:{EndpointType}`

[2019-11-01 05:39] jakaruna-MSFT commented on #41926
@evpill Steps for creating the service principal and assigning "acrpull" role to that service principal is missing the document.

We will add those steps to the document.

Now you can use the below commands to complete the tutorial.

`az ad sp create-for-rbac --skip-assignment`

This command will provide the service principal id and password to use in the `az container create ` command

`az role a

[2019-11-01 05:43] amanmcse commented on #41710
Hi @LaurentTermeau,

Live SDK and Live Connect APIs have been marked as deprecated for over a year. As announced on the Office Developer blog, these APIs are now end of life and are no longer be available after November 1, 2018. For more details, please refer to https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/migrating-from-live-sdk?view=odsp-graph-online

Recommended way to

[2019-11-01 05:45] test123114 opened #41933 "how to use python sdk to get Azure resource health"
[Enter feedback here]
According to my research, we can use the rest API to get Azure resource Availability Statuses
[code]
But I cannot find any documents to find a way to implemet it with Azure python sdk. Could someone help me?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40ab2aa-4a6d-abb0-f651-22c5c0b2c202
* Versi

[2019-11-01 05:45] Darleev opened #41934 "Incorrect JSON in `Resources to JSN`"
Hello team,

Thank you for meaningful guide about service bus blueprint. To improve the documentation and possibly help to someone, I would like to point to typo in JSON:

[code]

You can easily verify it using any JSON validot tool. To fix this need to change:

from:
`                "path": "[parameters('serviceBusQueueName')]",`
to:
`                "path": "[parameters('serviceBusQueueName')]"

[2019-11-01 05:48] IronmanM opened #41935 "Automate task to delete and recreate HD Insight clusters"
Hello Team,

Can we create the Script for Automate task to delete/Stop and recreate/start for HD Insight clusters / or Head node, please share documents/ Microsoft article

Thank you.

[2019-11-01 06:03] SnehaAgrawal-MSFT commented on #41931
@paulpce Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 06:03] SnehaAgrawal-MSFT commented on #41929
@ankitvijay Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 06:17] Sujina-Saddival commented on #41891
@Mike-Ubezzi-MSFT Thank you so much for your response.

I would like to explain my requirement.

There is already an Iotedge running with a set of modules that pulls the image from some docker container registry. I won't be having any details of the device except its IoT-hub connection string and IoT-edge name. Using these two details, I should deploy my modules into that device. These modules are

[2019-11-01 06:18] SnehaAgrawal-MSFT commented on #41630
@theWillpowerEngine Thanks again for the feedback. If you are still facing the issue, then request you to send an email to AzCommunity[at]Microsoft[dot]com referencing this issue.

[2019-11-01 06:18] #41630 closed

[2019-11-01 06:19] IronmanM commented on #8059
can we create a script/automatic to delete/stop the cluster when the uses are not? please suggest.

[2019-11-01 06:23] SLdragon commented on #41093
@orionJag , you can check your internet and nuget source config, make sure you can download other nuget packages. How to setup the nuget source can be found here: https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

[2019-11-01 06:25] KetanChawda-MSFT commented on #41934
@Darleev Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-01 06:29] souravmishra-msft commented on #41433
@arcotek-ltd, If you are using any of the Powershell modules, to create an upload a certificate to the App Registration, that same certificate should be visible in the portal. You can use both the Modules, be it the new Az module or the old AzureAD and AzureRM modules, all perform in the same way. No preference as such.

[2019-11-01 06:30] SubhashVasarapu-MSFT commented on #41923
@jgwinner , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-11-01 06:39] AshokPeddakotla-MSFT commented on #37661
@deepakpalled Thanks for the heads up. Also, please notify here once completing the limits updates.
@xtellurian As mentioned, limits will be updated soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 06:39] #37661 closed

[2019-11-01 06:42] CHEEKATLAPRADEEP-MSFT commented on #41935
@IronmanM You can create and delete Azure HDInsight clusters using Azure Automation.

HDInsight can be managed in Azure Automation by using the Azure HDInsight cmdlets that are available in the Azure PowerShell tools. Azure Automation has these cmdlets available out of the box, so that you can perform your HDInsight management tasks within the service. You can also pair these cmdlets in Azure Auto

[2019-11-01 06:45] CHEEKATLAPRADEEP-MSFT commented on #8059
@IronmanM You can create and delete Azure HDInsight clusters using Azure Automation.

HDInsight can be managed in Azure Automation by using the Azure HDInsight cmdlets that are available in the Azure PowerShell tools. Azure Automation has these cmdlets available out of the box, so that you can perform your HDInsight management tasks within the service. You can also pair these cmdlets in Azure Auto

[2019-11-01 06:56] ankitvijay opened #41936 "Clarification on CosmosDb troubleshooting"
I'm not 100% sure if it is correct. I had a Cosmos DB document with an index on only one property (partition key which also happened to be `id`) and I was able to do a free-text search and search by partition key and other fields. One thing which did not work was when I tried to use a non-index field in `searchField`. Could you please elaborate if this is the case? I'm asking this is because we wo

[2019-11-01 07:01] #41934 closed

[2019-11-01 07:03] KetanChawda-MSFT commented on #41934
@Darleev I have created PR to address this issue. The fix will be available in public document in next 24-48 hrs.

Thank you pointing this out.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 07:10] mattenbergerp opened #41937 "Error code 5000811"
I miss the documentation for error code 5000811 which says "Other" in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.

[2019-11-01 07:33] yashvit commented on #41622
I’ve managed to get web deploy work for Linux Web Apps. The only issue I face though is that every time we do a deploy, the app requires a restart from the azure portal. Without this the new code does not reflect. Is there a solution to this?

[2019-11-01 07:33] LaurentTermeau commented on #41710
Hello team,

Thanks for your reply,

You’re reaching the same conclusion as I am : the Microsoft graph api does not retrieve user’s profile photo. That’s very much of a problem.
I’m looking forward to getting some update from you,

Thanks so much for your help.
Laurent.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: AmanpreetSingh-MSFT<mailto:notifications@gi

[2019-11-01 08:18] SnehaAgrawal-MSFT commented on #41790
@svangeti Thanks for reply! Azure App Service has a rich feature-set, but not all of those features are currently available for Linux apps. We're working on adding new features all the time, and once new features are added, they'll be enabled on the menu in the Azure portal. If the menu item for a particular feature is disabled (grayed out) in the menu for your Linux apps, it's simply because we h

[2019-11-01 08:50] msrini-MSFT commented on #41881
@mikewo , I did a lab repro and I am able to see only GET request from Azure Traffic Manager.

  Frame: Number = 8384, Captured Frame Length = 214, MediaType = ETHERNET
+ Ethernet: Etype = Internet IP (IPv4),DestinationAddress:[00-0D-3A-8A-7E-32],SourceAddress:[12-34-56-78-9A-BC]
+ Ipv4: Src = 52.240.151.125, Dest = 172.16.14.4, Next Protocol = TCP, Packet ID = 8763, Total IP Length = 200
+ Tcp: F

[2019-11-01 09:27] nemanja-jovic commented on #9349
I have created this Powershell wrapper around the API in order to simplify this process.
https://gallery.technet.microsoft.com/Validate-Move-Resources-854bf278?redir=0

[2019-11-01 09:28] smithcl167 commented on #41858
its just around Azure File sync in general.
it says it sync files access/modified in last X days, but the accessed date wont change on a file unless you enable the access date attribute via the command "fsutil behavior set disablelastaccess 0".
but i see no reference to this command or something like it in the documentation.

[2019-11-01 09:35] RohitMungi-MSFT commented on #41825
@markti We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 09:35] #41825 closed

[2019-11-01 09:36] batanun commented on #41600
I'm sorry, but you are not very clear. We already have one instance count in our v1 application gateway. Going from 1 v1 instance to 1 v2 instance increases the fixed costs a lot. How do we reduce this fixed cost? If the instance count is 0, will the fixed cost be 0 too? We would like to only pay for when we use it (normal office hours), not night time and weekends.

Also, why do you first talk ab

[2019-11-01 09:41] SadiqhAhmed-MSFT commented on #41930
@DCri Thanks for bringing this to our attention. I shall have this reviewed by the content author and update you shortly. In the meanwhile please share the screenshot of the NSG you're trying to create for AzureSiteRecovery tag.

@sujayt Could you please check on this and help further?

[2019-11-01 09:48] SumanthMarigowda-MSFT commented on #41845
@lynseyp Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-01 09:49] IronmanM commented on #32285
Hello, In Devtest we can add the HDinsight Cluster for the auto-shutdown. please share MS article details.

[2019-11-01 09:50] SumanthMarigowda-MSFT commented on #41858
@smithcl167 https://github.com/MicrosoftDocs/azure-docs/issues/41859

[2019-11-01 10:11] SadiqhAhmed-MSFT commented on #41927
@shriazure Thanks for the comment! Currently ARM template deployment is not supported. You may leave your valuable feedback in the [UserVoice forum](https://feedback.azure.com/forums/256299-site-recovery) for the product group to track this request and incorporate this requirement in the future if it qualifies to be a good feature request.

[Supported deployment methods](https://docs.microsoft.com

[2019-11-01 10:11] #41927 closed

[2019-11-01 10:16] sebb3 commented on #30410
Please change the error message to include ASE related information as mentioned above. I just spent the entire morning troubleshooting this problem and recreating the storageaccount etc. When the issue in fact was that I hadnt connected to the company vpn.

[2019-11-01 10:21] SadiqhAhmed-MSFT commented on #41922
@santhoshbomma9 Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-11-01 10:32] Herr-Sepp commented on #41476
Thanks for the feedback.
For me, it is important whether the ability to set the limit higher than the requested resources (to share resources) is a deliberate behavior.

Can I productively use container groups in which all individual containers have access to the complete resources of the group?
Or will changes be made to this behavior soon?

[2019-11-01 10:33] maheshsabnis opened #41939 "Error in deploying the Service Fabric Application in Service Fabric Cluster using VS2019"
# Azure documentation issue guidance

I am trying to deploy the Service Fabric Application using VS2019 as per the steps provided in the documentation, I am facing the following error

 Configuring key vault.
Waiting for key vault DNS record resolution...
'Creating certificate 'productsapp20191101155221'.' failed. Detail:
Forbidden : {"error":{"code":"Forbidden","message":"Access denied. Caller wa

[2019-11-01 11:14] ChiragMishra-MSFT commented on #41939
@maheshsabnis Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-11-01 11:18] maheshsabnis commented on #41939
Hi Sir,

  Please find the link that I am following

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-app-to-party-cluster

Regards
Mahesh Sabnis

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Friday, November 1, 2019 4:45:22 PM
To: Microsof

[2019-11-01 11:21] jakaruna-MSFT commented on #41939
@maheshsabnis Is your first deployment successful?

or is this your first deployment

[2019-11-01 11:22] maheshsabnis commented on #41939
Hi,

This is my first deployment.

Regards
Mahesh Sabnis

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Friday, November 1, 2019 4:52:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mahesh Sabnis <sabnis_m@hotmail.com>; Mention <mention@noreply.github.com>
S

[2019-11-01 11:23] maheshsabnis commented on #41939
I have the SDK Installed. The app works on my Local cluster.
Regards
Mahesh Sabnis

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Friday, November 1, 2019 4:52:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mahesh Sabnis <sabnis_m@hotmail.com>; Mention <men

[2019-11-01 11:28] AjayKumar-MSFT commented on #41936
@ankitvijay, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-01 11:34] jakaruna-MSFT commented on #41637
@MasayukiOzawa Changes are reflecting in the doc now

[2019-11-01 11:35] jakaruna-MSFT commented on #41637
https://github.com/MicrosoftDocs/azure-docs-pr/pull/94412 created a pr for missing "("

[2019-11-01 11:40] jakaruna-MSFT commented on #41939
Thanks for the info.

Lets try couple of fixes.

- Check if Visual studio created any  service fabric cluster by logging into azure portal.
- If it created a new one, Then select the same cluster in Visual studio and try to deploy again.
- If there are no clusters, Try creating one on the Azure portal and use that cluster in visual studio to deploy

Also let me know the versions of Visual studio

[2019-11-01 11:45] #41637 closed

[2019-11-01 11:45] mikewo commented on #41881
Thanks for the pointer. You are correct and I had made an assumption that these calls were coming from TM because it's the only thing pointed at our health endpoint and the sheer number of them seemed to make sense. The user agent isn't TM, and we are looking at where the traffic is coming from. Since we were seeing this same behavior across multiple of our sites we came to the wrong conclusion.

[2019-11-01 11:45] #41881 closed

[2019-11-01 11:46] maheshsabnis commented on #41939
Hi,

 Thanks a lot for the suggestions
1. Check if Visual studio created any service fabric cluster by logging into azure portal.
  This has not created any cluster. I have checked in portal.
2.  I have created a cluster using Azure Portal. When I tried to use it for deployment, the following error is displyed

![image](https://user-images.githubusercontent.com/5309850/68022774-48b6a200-fccb-11e9-

[2019-11-01 11:47] jakaruna-MSFT commented on #41748
@assaf-grth VMSS wont start the deallocated VM automatically.

[2019-11-01 11:47] maheshsabnis commented on #41939
I even tried to set the firewall rules to enable 19000 for communication as per the following answer

https://stackoverflow.com/questions/46451292/service-fabric-failed-to-contact-the-server-please-try-again-later-or-get-help

still no luck.
Regards
Mahesh Sabnis

[2019-11-01 11:49] nathgal opened #41942 "Transcription Services Compatibility"
Is .NET Core compatible with Raspberry PI 3? If not, is there another language that I could work with (that is compatible with Raspberry PI 3)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773d535b-29c4-20ca-d260-1d6c20fc43dd
* Version Independent ID: b38b426a-6f56-026c-be29-6aee30586170
* Content: [Connect Raspberry

[2019-11-01 11:51] jakaruna-MSFT commented on #41939
Thanks.

Lets check from the browser.

Can you try this url on the same system from where you are trying with visual studio

https://msit.westus.cloudapp.azure.com:19080/

[2019-11-01 11:55] maheshsabnis commented on #41939
Hi
It gives invalid certificate errors.
Thanks
Regards
Mahesh sabnis

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Friday, November 1, 2019 5:21:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mahesh Sabnis <sabnis_m@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2019-11-01 11:57] jakaruna-MSFT commented on #41576
@assaf-grth There are no plans to increase the time beyond 30 seconds.
One of the reasons which i think is given below.
When a new user requested for a dedicated VM, old low priority vm has to be killed and new one has to be created in shorter time.

However you can place a feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).

Community can vote on that feedback. If many cus

[2019-11-01 11:57] #41576 closed

[2019-11-01 12:11] jakaruna-MSFT commented on #41835
@tina-ho I reached out to the product team and let you know once i have some information.

[2019-11-01 12:23] jakaruna-MSFT commented on #41939
ok.  Let me check for the possible causes.

[2019-11-01 12:26] jakaruna-MSFT commented on #41580
@bowen5 You can go ahead and change the service principal on selected nodes.

You can achieve that by using a deployment targeted for specific nodepools.

You can also consider using the pod identities which i shared in previous reply.

[2019-11-01 12:26] jakaruna-MSFT commented on #41580
@bowen5  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-01 12:26] #41580 closed

[2019-11-01 12:27] jakaruna-MSFT commented on #41847
@DeBockTim is there any update

[2019-11-01 12:28] jakaruna-MSFT commented on #41926
@evpill Try this out and let me know

[2019-11-01 12:33] jrm346 commented on #40095
any update on this?

[2019-11-01 12:47] goosej5797 opened #41944 "IP Addresses for Firewall Requirements"
I've been trying to locate the IP Addresses for each of these Agent Resource names found in the Firewall Requirements section: *.ods.opinsights.azure.com, *.oms.opinsights.azure.com, *.blob.core.windows.net, *.azure-automation.net. If anybody could point me in the right direction I would appreciate it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-01 12:48] frackham opened #41945 "AzureRM: Nothing in any of these docs for how to remove a sql database from an existing pool after creation (NOT delete pool)"
Trying empty params for elasticpool fails (whether empty string or null):
Set-AzureRmSqlDatabase -Database "Angel09c33638.BlobStorage" -elasticpool $null

I assume that a tier would be needed, but still fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e10fe034-4107-3771-5f2f-d2c1d9bb2f1a
* Version Independent ID:

[2019-11-01 12:57] kudlatiger commented on #37584
Thanks for detailed step, unfortunately i am trying these steps little late where as accelerator team seems to changed their resources. Now there is no DPS :(

Here are new set of resources got created when I create new "device simulator" from this link https://www.azureiotsolutions.com/Accelerators

![image](https://user-images.githubusercontent.com/16059426/68026216-04300400-fcd5-11e9-80a2-25ce3

[2019-11-01 13:00] balivo opened #41948 "Azure Functions Integration"
There`s an Azure Functions integration sample available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f478fced-6d4d-1d71-1a87-a72868eed194
* Version Independent ID: 2405a406-12bc-34b6-e8dd-e40dab9019bd
* Content: [Azure Active Directory B2C code samples](https://docs.microsoft.com/en-us/azure/active-directory-b2c/cod

[2019-11-01 13:15] GrzegorzHejman opened #41949 "Do SSIS IR nodes' NICs have public IP addresses assigned?"
We noticed that when SSIS IR is connected to a VNET an NSG is created which allows access to port 3389 from everywhere. As explained in response to issue #21633 this is required to allow Microsoft engineers to log in to SSIS IR VMs for troubleshooting. How do Microsoft engineers connect to the SSIS IR VMs?
SSIS IR VMs are not visible from Azure portal so we cannot check this but do those VMs have

[2019-11-01 13:36] NavtejSaini-MSFT commented on #41909
@markjbrown @SnehaGunda Please check if we can add architectural diagrams for the HA in Azure Cosmos DB
@Raj-Krishnamoorthy We are checking this with our doc authors. We appreciate your patience in this regard

[2019-11-01 13:47] jdmintz opened #41950 "Question on high availability on read replica failover"
"Stop replication to the replica
This step is necessary to make the replica server able to accept writes. As part of this process, the replica server will restart and be delinked from the master. Once you initiate stop replication, the backend process typically takes about 2 minutes to complete. See the stop replication section of this article to understand the implications of this action."

It wo

[2019-11-01 14:09] abdale opened #41952 "Typo: point-in-time"
"The poin-in-time restore allows you to create a new database in the same server ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18c9d161-a06b-6b68-8f54-c22fcc7088da
* Version Independent ID: b215e7fa-dc6a-48ee-418b-93709813566e
* Content: [Cloud business continuity - database recovery - SQL Database](https://docs.

[2019-11-01 14:19] mattderosia opened #41953 "What changed?"
Recently something has changed and this doesnt appear to be working as it used to. Can someone update this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0fc0fc-b772-de61-258a-a6fd4ea9711c
* Version Independent ID: 04e86827-c8da-a01a-2cb5-aeb2fbcef610
* Content: [Resolve license assignment problems for

[2019-11-01 14:21] DanteNahuel commented on #41508
Hi, I was going to report the same issue. Is there any ETA for the update? Just asking

[2019-11-01 14:24] NavtejSaini-MSFT commented on #41952
@abdale The Pull request has been created for the same. The changes will reflect in few hours after the approval.

[2019-11-01 14:27] HeidiSteen commented on #41777
@danroot I appreciate the extra testing and info, but having a consistent experience across all of our REST/Postman examples is important, and right now all of them specify Content-Type = application/json.  Introducing one-off exceptions carries its own risk and I think most people are using (and succeeding with) Postman for these queries, and not .NET Core.

The best article we have on .NET progr

[2019-11-01 14:36] reginbald opened #41954 "How to give docker container access to Cosmos DB emulator running on host machine"
I'm developing a dotnet core web api running in a linux docker container and I'm running into the problem of connecting to the cosmosdb emulator running on my host machine.

I'm guessing that you need to use this endpoint https://host.docker.internal:8081/ to connect to the emulator but I'm getting this expection: "AuthenticationException: The remote certificate is invalid according to the validat

[2019-11-01 14:48] kthkaya commented on #15116
This error still persists in 2019
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-provisioning-tutorial

[2019-11-01 14:50] BDworak commented on #41829
Hi @msrini-MSFT,

I got this request backwards, the PIP needs to be basic, not standard. This is not mentioned in the documentation to my knowledge.

Apologies, I am submitting this on behalf of another engineer doing the deployment and I misunderstood his email.

Bart

[2019-11-01 14:52] ciufudean opened #41955 "This java-specific page, as many others of its kind, are not child pages of the "java" node anymore"
Is this intended? I find it much harder to find stuff now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71343d5-5b28-5066-ec28-fafc4023aba3
* Version Independent ID: f5aaafd0-8961-2e5f-90eb-92fa16fa5828
* Content: [Performance monitoring for Java web apps in Azure Application Insights](https://docs.microsoft.com/en-

[2019-11-01 14:53] aaronwjha commented on #41673
@MicahMcKittrick-MSFT thanks for the response and link to documentation. We are still not clear on what the impact is to non-Windows clusters created after the preview has been enabled. Is there anything more you can share?

[2019-11-01 14:55] bradhowe opened #41956 "Azure Public Load Balancer Support"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#feedback

Does ASR support Public Standard LB for ASR nic configurations?

Load balancing type Public
SKU Standard

I don't see it in the dropdown

Additionally, there is duplication here.

Internet Load Balancer | Supported | Associate the preconfigured load balancer using an Azure Automation

[2019-11-01 14:57] JustinGrote commented on #41525
Perfect, approved from my end, thanks Marilee.

On Thu, Oct 31, 2019 at 2:14 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2019-11-01 14:59] PramodValavala-MSFT commented on #41565
@tkumark Just following up here... Hope my previous comments clears things up.

[2019-11-01 14:59] PramodValavala-MSFT commented on #41621
@loganville Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 14:59] #41621 closed

[2019-11-01 15:00] craigwi commented on #41213
Piecing things together this code appears to be the right way to use the APNS key, key id and team id from Apple:

        public static string CreateAPNSToken(string teamid, string kid, string privateKey)
        {
            CngKey cngkey = CngKey.Import(
                Convert.FromBase64String(privateKey),
                CngKeyBlobFormat.Pkcs8PrivateBlob);

            ECDsaCng dsa = new ECD

[2019-11-01 15:00] PramodValavala-MSFT commented on #41843
@perkops Just following up here... Hope my previous comment clears things up.

[2019-11-01 15:00] PramodValavala-MSFT commented on #41848
@biltongza Hope my previous comment helps.

Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 15:00] #41848 closed

[2019-11-01 15:01] KingdomOfEnds commented on #39739
@SychevIgor , @Alberto-Vega-MSFT - I wanted to verify that the issue had been addressed. Thanks!

[2019-11-01 15:02] KingdomOfEnds commented on #39737
@SychevIgor , @himanshusinha-msft - I wanted to verify that the issue had been addressed. Thanks!

[2019-11-01 15:02] KingdomOfEnds commented on #39736
@SychevIgor , @Alberto-Vega-MSFT - I wanted to verify that the issue had been addressed. Thanks!

[2019-11-01 15:06] DianeHadley opened #41957 "Access key?"
Can an Azure Storage access key be used with AzCopyv10 to retrieve files from storage? It's possible in v8 but I don't see it documented here or under azcopy copy --help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* C

[2019-11-01 15:06] joshbouganim opened #41958 "Not accurate for latest GUI"
the Add instructions do not match the current GUI.  Currently the star icon appears in the modal dialog that appears

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ea76a5a-57bc-9af1-e02d-2caa4af5865f
* Version Independent ID: d3cbc1e8-d0e6-6028-a5f8-7ed7f031cbbc
* Content: [Add, remove, and sort favorites in Azure por

[2019-11-01 15:09] DCtheGeek commented on #41368
Sorry @iceyokuna, I read that to mean you wanted to do it at the tenant. In any case, export via CSV would be a feature request, so we ask that you open a suggestion on [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance). Thanks!

[2019-11-01 15:16] liuxia57 commented on #38522
I have the same issue when using this plugin. Any fix fo it?
I have the function app created and am able to using "func azure functionapp publish xxx" to publish.

[2019-11-01 15:21] msrini-MSFT commented on #41829
@BDworak ,Today portal doesn't allow you to create Standard IP address for ultra performance  gateway deployment. Anyways thank you for your feedback. I will check with author to update the document.

[2019-11-01 15:21] #41829 closed

[2019-11-01 15:24] dominicbetts commented on #37584
The "device simulation" accelerator doesn't include an IoT Hub instance. The outline instructions above refer the the "remote monitoring" solution accelerator.

[2019-11-01 15:25] OlliePythagoras opened #41959 "50078"
Please add Error 50078 (Other)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/refer

[2019-11-01 15:29] kudlatiger commented on #37584
Okay, let me give a try now. Tonight somehow I want to make it work :)

[2019-11-01 15:38] Viswa-Ranjan-Sahu opened #41960 "Az Powershell documentation is old and misleading"
Please update documentation  with a latest image of Az Powershell task. As of now the Az modules cmdlets are specific for Task version 4.* .The image still shows 2.* . Also in 4.* the inline scripts  arguments are gone.
This results in failure of Devops  pipelines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6

[2019-11-01 15:52] asinn826 commented on #41835
The IPs for the RHUI content deliveyr servers are long-lived. If they ever change in the future, we will update this documentation accordingly. We may also push out an Azure Service Update as a means of notifying people about this change.

[2019-11-01 15:55] stephbaron commented on #41933
Hi, I think this would be any standard ARM rest call with python (similar to doing an invoke-rest in powershell for example). We have not, as of yet, enabled resource health in the python SDK (it's in our backlog, but I do not have an ETA).

[2019-11-01 15:57] toralux commented on #37280
@flyingUnderTheRadar I have the same problem. Where in the screenshot is the full scope (as you mention)? What would the client id be in your screenshot? And where should this full scope be provided in the Developer Portal? Or is it to be configured somewhere in application in the App registrations page?

[2019-11-01 16:10] vinishgeorge commented on #38522
The plugin does not create the application . It just updates the application.
So as suggested we have to add two more stages
1. Check if f

[2019-11-01 16:15] bergmeister opened #41961 "dmgcmd.exe cannot parse -RegisterNewNode and -EnableRemoteAccess parameters both together"
[Enter feedback here]

The documentation describes the syntax of `dmgcmd.exe` in a way that one can use more than 1 parameter. When calling `dmgcmd.exe -RegisterNewNode $key -EnableRemoteAccess 8888` in PowerShell (even when replacing the variable with the value directly and using single or double quoted strings, or changing the parameter positions, etc.), it returns the following error:
[code]

-

[2019-11-01 16:18] liambarnett opened #41962 "Typo in the final 'Note'"
The last sentence in the final Note reads, "Read more in the API Mananagement FAQ." instead of "Read more in the API Management FAQ."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02a5991-da24-06a2-0c24-d012d2e07399
* Version Independent ID: 64acd893-43bb-81af-d14d-0b7553e93daf
* Content: [Configure a custom domain n

[2019-11-01 16:21] Alberto-Vega-MSFT commented on #41558
@rubeneric Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@kgremban I noticed here that we are not specifying the version in the script for installing dot net core https://github.com/Azure-Samples/IoTEdgeAndMlSample/blob/24748937b8a9680597782b2fed6cc6704844c70a/DevVM/Install-DevMachineSoftware.ps1#L37

[2019-11-01 16:21] dreams3290 commented on #41884
I am not following you, my question was, i am not seeing the IP's thats been used by Azure monitor in central us location. How can i provide IP addresses that i found missing?

[2019-11-01 16:22] mmacy commented on #36516
@felickz After an inexcusable delay, I've managed obtain a definitive answer to your question. I'll be updating the doc to remove "not needed," and will be adding additional information about this flag. Thank you so much for your patience!

[2019-11-01 16:32] artisticcheese opened #41963 "Resource Graph returns empty results"
Resource graph is not populated with any alerts, please see example below. There is in fact alerts in monitor

![image](https://user-images.githubusercontent.com/13176884/68039980-4c323500-fc9b-11e9-8f64-1acb7f5708c7.png)
![image](https://user-images.githubusercontent.com/13176884/68040079-7f74c400-fc9b-11e9-9422-bef83b9f50a7.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-11-01 16:46] cap273 opened #41964 "Unclear how to host multiple applications behind same PingAccess server?"
This documentation reads the following:

"For this scenario, the connector needs to treat the PingAccess proxy as the front page of the application. Use this format: https://&lt;host name of your PingAccess server&gt;:&lt;port&gt;. The port is 3000 by default, but you can configure it in PingAccess."

However, the Azure AD Application Proxy will not allow you to configure the same URL for two diff

[2019-11-01 16:57] eschrader commented on #30381
Which version of .NET CORE 2.2 on that [link ](https://dotnet.microsoft.com/download/visual-studio-sdks)are you guys installing?

- Visual Studio 2017 SDK
- Visual Studio 2019 SDK
- Runtime

[2019-11-01 16:58] jhueppauff opened #41966 "Missing Instructions on how to use custom Python Modules"
Please add a description on how to use modules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create an HTTP triggered function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-crea

[2019-11-01 17:06] porrascarlos802018 opened #41967 "Doesnt mentions where to execute the commands"
commands are meant to be executed using cloud shell to succeed , customers new to aks may not know where to start and the requirements in case they use windows or Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f634bf-2280-a093-5897-724310dafa2d
* Version Independent ID: f11c0af7-bfaf-6d64-2c75-9015b0eb1f30
* Co

[2019-11-01 17:08] perkops commented on #41843
Hi @PramodValavala-MSFT,

Somewhat - its just not that clear from the article - also not sure i really understood your reference to the function.json :)

I am not referring to C# vs. Script (javascript). Whenever i tried the code, i just got a orchestration failure when i did not have the trigger present. But you might be right.

[2019-11-01 17:11] iceyokuna commented on #41368
Thank you very much and appreciate your support.

[2019-11-01 17:12] maheshsabnis opened #41968 "Creating Azure Service Fabric Cluster"
I am following steps provided on following link
 https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-portal
to create Azure Service Fabric Cluster. After following all steps wen I tried to browse the Azure Service Fabric Explorer I get the following error in Browser

 ![error](https://user-images.githubusercontent.com/5309850/68042372-be853280-fcf8-11e9-8114-a

[2019-11-01 17:13] MartinJaffer-MSFT commented on #41949
Hello @GrzegorzHejman  and thank you for your question.  I will forward this to the author, @swinarko  for review and provide update as appropriate.

[2019-11-01 17:14] mossywell commented on #20956
The OP asked if it is AND or OR on the conditions and that was answered _in this conversation_. But, I am slightly surprised that you considered the matter closed _in this conversation_ rather than the "surely implicit" request to update the actual document as well? Most readers don't ready the Feedback to find the pertinent information: they expect to find it in the original documentation. Don't

[2019-11-01 17:15] MartinJaffer-MSFT commented on #41960
Hello @Viswa-Ranjan-Sahu .  We will review the document and provide an update as appropriate.

[2019-11-01 17:18] mamccrea commented on #41211
Hi @guoch - I apologize for the delay. Can you verify that jobs_info_list is not empty?

[2019-11-01 17:19] MartinJaffer-MSFT commented on #41961
Thank you for the question @bergmeister .  We will review the issue and provide update as appropriate.

[2019-11-01 17:20] mrbullwinkle commented on #41884
@dreams3290 apologies for the confusion on my part. I assumed you were saying you had found that a particular IP was not listed, rather than could not find the central US region Live Metrics IPs in the doc. Those IPs are located in this section: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#outgoing-ports](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-address

[2019-11-01 17:21] mamccrea commented on #41913
@camoisan - Thanks for the feedback. I will update the doc.

[2019-11-01 17:21] mamccrea commented on #41915
@camoisan - Thanks for the feedback. I will update the doc.

[2019-11-01 17:21] loganville commented on #41621
@PramodValavala-MSFT I didn't see anything in the quickstart section that changes the default prefix. At the very least I would recommend linking to the host.json file mentioned in the quoted section of the docs. There are so many samples it wasn't clear to me which host.json sample that section is referring to.

[2019-11-01 17:30] SaurabhSharma-MSFT commented on #41964
@cap273 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-01 17:34] marc-gmail-towersap opened #41969 "can't download a file, thinks it's a directory"
I did a azcopy login --tenant-id=&lt;mytenantid&gt;
that was successful
So then I tried copying a file out of a storage account blob.  I do .\azcopy copy "https:\\mystoraccount.blob.core.windows.net/mycontainer/blahblah.bak" "c:\temp\blahblah.bak"
but when I run that, it get failed to perform copy due to error: cannot use directory as source without --recursive.
but my bak file isn't a directory.

[2019-11-01 17:36] tanmayeekamath commented on #32285
Hello,
We don’t support HDInsight cluster for auto shutdown today in DevTest Labs.  We only support service fabric cluster in terms of schedules.

We would like to learn more on the your scenario to better understand requirements. Can you share more on that?
Also rplease share this request on our user voice: https://feedback.azure.com/forums/320373-lab-services?category_id=352780

Thanks,
Tanmayee

[2019-11-01 17:36] SaurabhSharma-MSFT commented on #41959
@OlliePythagoras Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-01 17:38] SaurabhSharma-MSFT commented on #41953
@mattderosia Thanks for your feedback! Can you please elaborate on what exactly is not working ? Are you getting any errors ?

[2019-11-01 17:39] SaurabhSharma-MSFT commented on #41948
@balivo Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-01 17:40] SaurabhSharma-MSFT commented on #41937
@mattenbergerp Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-01 17:41] SaurabhSharma-MSFT commented on #41701
@SlkRck We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-01 17:41] #41701 closed

[2019-11-01 17:42] MicahMcKittrick-MSFT commented on #41968
@maheshsabnis this is just because when setting up a cluster via the quick start you are using a self signed certificate. Hence the browser will display that the cert is not from a CA authority. Simply click on details and it will allow you to proceed to the service fabric cluster manager.

If you are setting up a cluster for production use, you can get a certificate from a CA authority. See the f

[2019-11-01 17:42] SaurabhSharma-MSFT commented on #41546
@kostrse We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-01 17:42] #41546 closed

[2019-11-01 17:42] JeissonL opened #41970 "Can I have two vaults of ASR with a same vCenter?"
I'm planning deploy two vaults of ASR, the first with a Standard Storage account and the second one with a Premium Storage account. This is for the performance required of some virtual machines in my vCenter, I have only one vCenter. Can I have two vaults of ASR protecting virtual machines from an only one vCenter?.

[2019-11-01 17:44] JeissonL opened #41971 "Can I have two vaults of ASR with a same vCenter?"
I'm planning deploy two vaults of ASR, the first with a Standard Storage account and the second one with a Premium Storage account. This is for the performance required of some virtual machines in my vCenter, I have only one vCenter. Can I have two vaults of ASR protecting virtual machines from an only one vCenter?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-11-01 17:45] MicahMcKittrick-MSFT commented on #41967
@porrascarlos802018 the doc actually states cloud shell does not include docker components. So you should use a full docker environment for the tutorial, hence, use an on prem environment. This tutorial will not work with the cloud shell hence we call it out.

https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-app#before-you-begin

![image](https://user-images.githubusercontent

[2019-11-01 17:45] #41967 closed

[2019-11-01 17:45] #41970 closed

[2019-11-01 17:45] Nickomang commented on #29056
Hi @Yahorsi, thanks for the feedback. The intent of that document is as you said, to show the HOW of using ASP.NET Core with Service Fabric. Talking about WHY is a good idea, and something we're considering doing in a separate document. For this reason, we will consider the issue closed.

#please-close

[2019-11-01 17:45] #29056 closed

[2019-11-01 17:51] xarly commented on #40995
Thank you, I have tried to downgrade from 2.8.0 to 2.6.0 and 2.5.0, but no success. Command keep saying 'ManagedRules' cannot be null.
![image](https://user-images.githubusercontent.com/152981/68044875-8968e800-fcd8-11e9-8692-ea150e103a30.png)

[2019-11-01 18:05] maheshsabnis commented on #41968
Hi,

Thanks for the mail, I did it and then I am getting following error

[cid:image003.png@01D5910D.0E8C3650]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Micah <notifications@github.com>
Sent: Friday, November 1, 2019 11:12:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mahesh Sabnis <sabnis_m@hotma

[2019-11-01 18:07] maheshsabnis commented on #41968
Hi,

After creating the Cluster the Overview option shows the following

[cid:image003.png@01D5910D.3DB397C0]
The Node count is coming 0.

Regards
Mahesh Sabnis

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mahesh Sabnis <sabnis_m@hotmail.com>
Sent: Friday, November 1, 2019 11:35:36 PM
To: MicrosoftDocs/azure-docs <reply@repl

[2019-11-01 18:13] NavtejSaini-MSFT commented on #41954
@reginbald We are checking this and will get back to you.

[2019-11-01 18:14] Grace-MacJones-MSFT commented on #41604
Hello @BernardoMB, you're welcome to use either a SAS Url or AD token auth to connect to your storage account for uploading blobs to storage.

The [storage documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad) discusses some of the advantages of using this type of auth (no need to keep storage keys with  your code, easier to rotate service principal creds than stor

[2019-11-01 18:14] #41604 closed

[2019-11-01 18:15] NavtejSaini-MSFT commented on #41950
@jdmintz We are checking this and will get back to you

[2019-11-01 18:15] NavtejSaini-MSFT commented on #41945
@frackham We are checking this and will get back to you.

[2019-11-01 18:16] Grace-MacJones-MSFT commented on #41622
@alexsab1 Web Deploy is supported for Web App Linux.

[2019-11-01 18:17] #41952 closed

[2019-11-01 18:18] NavtejSaini-MSFT commented on #41952
@abdale Thanks again for the feedback and the changes of the PR have been merged. We will go ahead and close this thread for now. The changes will be reflected in few hours.

[2019-11-01 18:21] SaurabhSharma-MSFT commented on #41853
@GitTune No, Microsoft Edge is supported for SSO.  Please refer to [Feature highlights](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso#feature-highlights) documentation.

[2019-11-01 18:33] Nickomang commented on #37593
Hi @RJK23, thanks for bringing this to our attention. I've rehosted the sample elsewhere and changed the document appropriately.

Nick

#please-close

[2019-11-01 18:33] #37593 closed

[2019-11-01 18:36] mattderosia commented on #41953
I had a shortcut on my azure portal similar to the screenshot from this documentation. This “pinned” shortcut would be a visual indication that I needed to review licensing. There was an error on it in my console. I don’t have a copy of the error, I had removed it in hopes of recreating it. This is no longer possible as the requirements for this have changed and are no longer the same. The pages d

[2019-11-01 18:37] macolso commented on #41476
I believe if you specify the [resource limit](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerInstance/2018-10-01/containerGroups#ResourceLimits) per container in addition to the [resource request](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerInstance/2018-10-01/containerGroups#Resourcerequests), then the container instances within the container group wil

[2019-11-01 18:38] artisticcheese commented on #41963
My bad. Query shall be
[code]

[2019-11-01 18:40] Grace-MacJones-MSFT commented on #41622
Hi @yashvit we would like to learn more about the issue you're facing with Web deploy. Can you please open a different comment for your issue so we can track it? thanks

[2019-11-01 18:40] Grace-MacJones-MSFT commented on #41622
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-01 18:40] #41622 closed

[2019-11-01 18:41] Adam-Smith-MSFT commented on #41957
Hi @DianeHadley , it's actually not supported in Azcopy V10, the closes option though would be to use  a SAS token, the only difference would that the SAS token has to have a set time /expiration date, which is listed under option 2. Let me know if this answers your question.

Thanks,
Adam

[2019-11-01 18:44] NavtejSaini-MSFT commented on #41945
@frackham You are on right path for using the correct powershell cmlet. But the parameter to be used has been explained in [this ](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/set-azurermsqldatabase?view=azurermps-6.13.0#description)document.
![image](https://user-images.githubusercontent.com/52257742/68048062-1f3f4b80-fcb6-11e9-932f-bcaf748c4fd1.png)
Hope this helps.

[2019-11-01 18:45] wkeithvan opened #41972 "Import Error coming from first steps of How-To article"
The article [How to use Azure Queue storage from Python](https://docs.microsoft.com/en-us/azure/storage/queues/storage-python-how-to-use-queue-storage) leads to an `ImportError` in the very first step.

I have Python 3.6.8 and created a brand new folder. In the folder, I created a file:

test.bat
[code]

This is the output:

![Capture](https://user-images.githubusercontent.com/6819623/68045718-2d8

[2019-11-01 18:53] mike-urnun-msft commented on #41962
Thanks for reporting this and helping us drive improvements toward MS Docs, @liambarnett! I've created a PR that corrects the typo and the change should be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-01 18:53] #41962 closed

[2019-11-01 18:56] louiskody opened #41973 "How to *exclude* 3rd party java script exceptions?"
The section Browser Exceptions here talks about how to ensure CDN exceptions are logged but how do we exclude misbehaving 3rd party try/catch code from AI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aee749-dc67-58c6-c911-a8cfcfd387a2
* Version Independent ID: 21056412-21a5-1e79-f588-5bbb846789bf
* Content: [Diagn

[2019-11-01 19:06] Adam-Smith-MSFT commented on #41969
@marc-gmail-towersap Thank you for the valuable feedback,we are investigating the issue.

[2019-11-01 19:10] TravisCragg-MSFT commented on #41600
@batanun Your assessment is correct on the cost, App Gateway V2 will be more expensive than V1, and if you are already at a fixed 1 instance, you are at the cheapest you can get.

For Autoscaling, there will always be a minimum of 2 instances to maintain high availability, so this will always be more expensive than doing a fixed instance of 1.

[2019-11-01 19:12] MicahMcKittrick-MSFT commented on #41968
It takes a while for the cluster to populate in Azure. how long have you waited? Also you cannot attach images via email. You need to login to GitHub to actually post images :(

[2019-11-01 19:14] NavtejSaini-MSFT commented on #41954
@reginbald Please check and go through the following links to get more information on this issue and check if it helps you.
https://github.com/Azure/azure-cosmos-dotnet-v2/issues/284
http://blog.andypotts.com/2019/02/using-cosmos-db-emulator-across-network.html

If it doesn't we will check with our author regarding the same.

[2019-11-01 19:15] mike-urnun-msft commented on #41966
Hi @jhueppauff - This documentation is meant to be a quickstart. Have you reviewed [Python version and package management](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#python-version-and-package-management) in [Azure Functions Python developer guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python)?

[2019-11-01 19:18] MicahMcKittrick-MSFT commented on #41667
I will close this but if you have further questions let me know and we can always reopen and continue the discussion. :)

[2019-11-01 19:18] MicahMcKittrick-MSFT commented on #41673
@MicrosoftDocs/aks-pm can anyone on here add some additional details?

[2019-11-01 19:19] MicahMcKittrick-MSFT commented on #41674
@zr-msft @palma21 any further comments?

[2019-11-01 19:19] MicahMcKittrick-MSFT commented on #41866
@benhosmer got it. Thanks! I will assign to the author to review further.

[2019-11-01 19:21] MicahMcKittrick-MSFT commented on #41666
I will close this for now but as the extension moves to GA we will post additional details on commands. Also please make sure you installed the preview extension to make sure that wasn't the issue. If you have further questions let me know and we can always reopen and continue the discussion.

[2019-11-01 19:21] #41666 closed

[2019-11-01 19:24] Adam-Smith-MSFT commented on #41969
@marc-gmail-towersap I did a quick test with the syntax below and it worked:

`azcopy copy https://somestor.blob.core.windows.net/containername/filename C:\Users\adam\Desktop\testfolder`
Can you try the same without adding any quotes ?

Let me know if it works.
Thanks,
Adam

[2019-11-01 19:27] Aquaculture opened #41975 "Confusing nonsensical text"
Block a specific IP address says to create a folder at your web role. What does that even mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074e43dd-1c91-5d6d-fd5e-3c3583c14930
* Version Independent ID: 52ae7f0c-cd2d-90c5-edac-5c9e281c0df3
* Content: [Common startup tasks for Cloud Services](https://docs.microsoft.c

[2019-11-01 19:39] MicahMcKittrick-MSFT commented on #41975
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 19:48] jluk commented on #41673
@aaronwjha any cluster you created that has a windows pool falls under the preview support scope until that feature goes GA. For other clusters not using any preview features those will still receive regular support scope.

[2019-11-01 19:50] wkeithvan commented on #41972
It looks like the issue is that last night the `azure-storage-queue` package jumped from version 2.1.0 to 12.0.0 and is not backwards compatible. The article in question ([here](https://docs.microsoft.com/en-us/azure/storage/queues/storage-python-how-to-use-queue-storage)) should be updated to reflect the new API as should the `azure-storage-queue` [repo](https://github.com/Azure/azure-storage-pyt

[2019-11-01 19:51] craigwi commented on #41213
It turns out that the value to put in the Token field is in fact the private key contained in the .p8 file containing the APNS key that one downloads from developer.apple.com -- only the base64 key itself, not the header/footer.

[2019-11-01 19:52] joeyeng opened #41976 "Automation?"
Is it possible to script out granting delegated permissions to APIs with powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006699d8-d208-ec2e-9b14-ec6c5d4bd71f
* Version Independent ID: b9ad346f-2140-8d7b-c5aa-b5e4d7bae866
* Content: [Configure an application to access web APIs - Microsoft identity platform](h

[2019-11-01 20:00] MGoedtel commented on #40800
@ElanShudnow - I can confirm that this information is correct even though it defies logic :)  I had similarly asked the PG this early on and the docs are correct.  Hope that helps.  #please-close

[2019-11-01 20:00] #40800 closed

[2019-11-01 20:02] MartinJaffer-MSFT commented on #41796
Hi @Kamyar5353 .  I am attempting to repro your issue and I'm stuck on one little piece, I was hoping you could share your solution on.

I am attempting to capture the continuation token and store it in a variable.  I see that the expression to fetch the continuation token should look like:
`@activity('List stuff').output.ADFWebActivityResponseHeaders?.x-ms-continuation`
The `?.` is null-safe oper

[2019-11-01 20:05] kfollis commented on #41958
Thanks for your feedback. Updates to this article are in progress and will be published soon.

[2019-11-01 20:06] Alberto-Vega-MSFT commented on #41695
@Gamecock Are you still facing this issue? The commands you are sharing are not in this tutorial/document. Can you confirm that it is not working for you by following the instructions exactly as they are?

[2019-11-01 20:11] MarileeTurscak-MSFT commented on #41550
Hi @mypapa123

There is a troubleshooting guide for these types of issues. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-guide-troubleshooting-custom

It will be hard to diagnose without seeing your full environment.

Can you please post this same question to Microsoft Q&A and include the files that you are using? https://docs.microsoft.com/answers/index.html

Cl

[2019-11-01 20:11] #41550 closed

[2019-11-01 20:24] mmacy commented on #41904
Hi @liutang, thanks for your interest in B2C. We recognize that the pricing page is not refreshing for many of our customers. Please accept our apologies for the inconvenience this might have caused, we're working to get it resolved as quickly as we can.

As you've surmised, existing customers are not automatically switched over to the MAU billing meter. If you've linked your Azure AD B2C tenant t

[2019-11-01 20:24] marc-gmail-towersap commented on #41969
sadly, same issue.  Tried single quote, doublequote, no quote, even rolling back to azcopy version 10.3.0.  I get this
INFO: Scanning...
INFO: Using OAuth token for authentication.
INFO: azcopy.exe: A newer version 10.3.1 is available to download

failed to perform copy command due to error: cannot use directory as source without --recursive or a trailing wildcard (/*)

[2019-11-01 20:55] DJKampouris commented on #40961
I had a similar issue with the sample Desktop-App-calls-Web-API
To work around the problem, I targeted netcoreapp3.0 in the Microsoft.Identity.Web
I then upgraded the packages Microsoft.AspNetCore.Authentication.AzureAD.UI to 3.0.0

A little cleanup in Startup.cs and I was good to go.

` public void ConfigureServices(IServiceCollection services)
        {
            // See https://github.com/Azur

[2019-11-01 21:05] avaid96 commented on #37153
@amang2205 @billmath Edge is now supported for Seamless SSO. We had to add our new UA string to the allow list. The docs are in the process of being updated per my open PR - https://github.com/MicrosoftDocs/azure-docs/pull/38193

Thanks,
Avi - PM, Edge Identity

[2019-11-01 21:21] femsulu commented on #41933
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-01 21:26] femsulu commented on #41933
Thanks for the response, @stephbaron. Would appreciate if you can update this thread once an ETA has been defined.

@test123114
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-01 21:26] #41933 closed

[2019-11-01 21:26] BharathNimmala-MSFT commented on #41955
@ciufudean Thank you for your question, we will look into this further and get back to you at the earliest. Thanks

[2019-11-01 21:27] BharathNimmala-MSFT commented on #41973
@louiskody  Thank you for your question, we will look into this further and get back to you at the earliest. Thanks

[2019-11-01 21:28] santhoshbomma9 opened #41979 "Get ALL operations end point always returns empty operations array"
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#get-httpsmarketplaceapimicrosoftcomapisaassubscriptionssubscriptionidoperationsapi-versionapiversion
GetAll operations endpoint doesn't return data. Always returns
{
    "operations": []
}.
Is there any use with this endpoint? Or Can we clarify if/when any operations are returned please.

---
#### D

[2019-11-01 21:28] femsulu commented on #41944
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-01 21:29] femsulu commented on #41956
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-01 21:30] femsulu commented on #41958
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-01 21:31] femsulu commented on #41963
re-opened issue to add triage tags. now closing.

[2019-11-01 21:31] #41963 closed

[2019-11-01 21:44] Adam-Smith-MSFT commented on #41969
@marc-gmail-towersap  is it possible to try it from a non temp folder ? the correct syntax for the latest version seems to be without quotes(After doing the testing), is it also possible to try it on another machine ?

[2019-11-01 21:56] michelamarie opened #41981 "Move secondary IP programmatically"
Hello!

I have a need to be able to move secondary IP addresses programmatically, ideally with keepalived. Is this possible in Azure? I have searched Azure documentation and the web quite a bit, and have yet to find any information on doing such a thing.

If moving IPs in this way is possible (I really hope so!), please point me to the documentation describing how it is properly done.

Thank you!

[2019-11-01 21:58] Kazzan opened #41982 "Users can consent settings required?"
Hi, with this feature on, it is required the option "Users can consent to apps" need to be enabled? Or can be disabled after settings this? It is not clear how this will work.

If when User option is enabled, Admin option is enabled. The flow will be, user can approve access for approved apps, but new apps are forwarded to administrator? Or else?

---
#### Document Details

⚠ *Do not edit this sec

[2019-11-01 22:00] Kazzan opened #41983 "Azure AD PIM not supported?"
Seems in user choice that only static user permissions are supported for administrator review. It is correct? And if yes, will be addressed in future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e93be2-bad4-bae7-91bc-d4122dad86fd
* Version Independent ID: caf48884-743b-8f83-58a0-a92c3940fbba
* Content: [Configure

[2019-11-01 22:02] Kazzan opened #41984 "Microsoft Rights Management Services as Visible Administrator"
Why some administration blades show user "Microsoft Rights Management Services" as Global Administrator of tenant if such user does not exists and only SPN is probably registered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165f

[2019-11-01 22:13] peledins opened #41985 "unclear paragraph: Apply an Access Control List (ACL) to your certificate for your Service Fabric cluster"
&gt; Apply an Access Control List (ACL) to your certificate for your Service Fabric cluster

ACL usually is a tuple (client, service, right). if the suggested one of
"
"certificate": {
   "commonNames": [
       "[parameters('certificateCommonName')]"
   ],
   "x509StoreName": "[parameters('certificateStoreValue')]"
}
"
is correct then it is hard to understand who is given what kind of access to w

[2019-11-01 22:17] ceej64 opened #41986 "Incorrect Public IP SKU"
The line used to create a Public IP `az network public-ip create --resource-group MC_myResourceGroup_myAKSCluster_eastus --name myAKSPublicIP --allocation-method static --query publicIp.ipAddress -o tsv` creates an IP with a basic SKU which doesnt work. The load balancer will never associate with the IP and will just say pending.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-11-01 22:21] YutongTie-MSFT commented on #41778
@jpe316 Hi Jordan, could you please help to check this issue? Thanks.

[2019-11-01 22:29] MicahMcKittrick-MSFT commented on #41986
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 22:30] MicahMcKittrick-MSFT commented on #41985
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-01 22:31] DianeHadley commented on #41957
Thanks for the answer :) I think it would be helpful to anyone upgrading versions to have any commands that are no longer supported documented on this page

[2019-11-01 22:33] polszewski opened #41987 "Unable to open accont"
Hi all,
I've completed everything as per tutorial up to point 12. Unfortunately I don't see anything in `All resources`. How can I sign up?
Please advise
Paweł

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [H

[2019-11-01 22:35] YutongTie-MSFT commented on #41885
@diberry Hi Dina, do you have any clue about this issue? Please share if you have any. Thanks.

[2019-11-01 22:36] kwisatzheadache commented on #39607
I"m having a similar issue trying to create a container - what exactly do you mean by downgrading the SDK? I'm using a pip requirements.txt file to manage dependencies in a docker container - I'm using azure-storage==0.36.0. Do you mean to say I can change that to the penultimate release and it ought to work?

I'll try that now.

In the mean time, here's my stack overflow post.

https://stackoverf

[2019-11-01 22:39] veeraps opened #41988 "AD login is not working."
I followed the steps. But, I am not able to login into my VM (windows 10 pro) with the AD login. I also changed password and waited for 15 mins for the credentials to sync. Any help would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bc5c22-d6e7-ad50-5d1f-1ba43cef7b2d
* Version Independent ID

[2019-11-01 22:42] abhishekkrm opened #41989 "Client Endpoint Info available for service."
If the service wants to keep track of how many requests are coming from each client endpoint. Is there a way for the service to know the endpoint ID of the client?

[2019-11-01 22:47] kfollis commented on #41958
Changes have been made and are in the publishing queue.
#please-close

[2019-11-01 22:47] #41958 closed

[2019-11-01 22:47] kiranbhaga opened #41990 "Error - Request body must contain the following parameter: 'client_assertion' or 'client_secret'."
Following the setup and code specified in the document but keep getting the below error. Is there a way i can pass a client secret? I never see this mentioned in the document. Any inputs will be appreciated.

Connection failed with the following exception...
System.AggregateException: One or more errors occurred. ---> System.AggregateException: One or more errors occurred. ---> Microsoft.IdentityM

[2019-11-01 22:49] alinpaca opened #41991 "AzureML compute fails with Tensorflow-gpu pip package"
This estimator used to work a few months ago, but now no longer works for the gpu-enabled compute target that I am using. When I try to use the Tensorflow-gpu=1.12.0 pip package, the returned error is "Run failed: AzureMLCompute job failed. FailedStartingContainer: unable to start docker container imageName:..."

I have attempted to use a custom docker image instead but run into other errors ("Run

[2019-11-01 22:49] femsulu commented on #41971
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-01 22:54] MicahMcKittrick-MSFT commented on #41975
@Aquaculture not sure I understand what is confusing.

I read through this section and it makes it clear, at least to me, how to block and IP address for a cloud service by modifying your web.config file.

https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-startup-tasks-common#block-a-specific-ip-address

Can you elaborate on what you are unsure about?

[2019-11-01 22:56] YutongTie-MSFT commented on #41901
@AskYous Hi, you can get your data by creating your KnowledgeBase as following: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/create-publish-kb-nodejs-sdk#create-a-knowledge-base

https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/create-publish-query-in-portal

[2019-11-01 22:57] KingdomOfEnds commented on #40869
@banderson501, @Alberto-Vega-MSFT - I wanted to reach out and see if the issue's been addressed. Thanks!

[2019-11-01 22:59] YutongTie-MSFT commented on #41916
@DarrinEide  Hi Darrin, could you please help with this issue? Thanks.

@timwoelfle Hi Tim, I have assigned this issue to the author for further help. Thanks.

[2019-11-01 22:59] Aquaculture commented on #41975
It's not the web.config part, it is saying to create a folder in the web role. In what web role? That is not a directory.

Global Aquaculture Alliance
Paul Keefe
Manager of Software Engineering
P: 603-317-5000 x-127
E: paul.keefe@aquaculturealliance.org | W: www.aquaculturealliance.org
85 New Hampshire Avenue Suite 200, Portsmouth, NH 03801

________________________________
From: Micah <notificati

[2019-11-01 23:01] Virginia001 commented on #40869
Hi @banderson501.  Next to the **IoT Hub Consumer group**, select the **Add** button.  After entering the new group name, select the **Add** button again, then select **Review & Create**.

I hope this helps.

[2019-11-01 23:05] kostrse commented on #41546
So, prepending *sub* it with **tid** doesn't give any advantage since *sub* alone is already unique across tenants, correct?

[2019-11-01 23:06] sandyshd commented on #32215
For HTTPS enable the “Pick Hostname from Backend Address” in Application Gateway HTTP settings

[2019-11-01 23:07] MicahMcKittrick-MSFT commented on #41975
When you create a new Cloud Services Project a folder to contain all the contents are created

![image](https://user-images.githubusercontent.com/32313503/68061313-6121bf00-fcc1-11e9-84e0-22a240ab41d4.png)

So to create startup tasks you create a folder in the root of your web role folder

![image](https://user-images.githubusercontent.com/32313503/68061336-8dd5d680-fcc1-11e9-9bfa-a5f8e3a7601a.png

[2019-11-01 23:16] FrankHu-MSFT commented on #41948
Hey @balivo unfortunately this is not officially supported but there are unofficial guides on this.

See the feedback here, and please vote if interested, as it is currently on the road map : https://feedback.azure.com/forums/355860-azure-functions/suggestions/17814481-function-app-service-support-for-azure-b2c

Unofficial links here :
https://blogs.msdn.microsoft.com/hmahrt/2017/03/07/azure-activ

[2019-11-01 23:16] #41779 closed

[2019-11-01 23:21] FrankHu-MSFT commented on #41787
@kjulson I'm sorry that you're having issues with the product. Managing device identities is in GA and is actively being worked on to make sure that customers don't have any issues.

If you're still having an issue here, please email AzCommunity[at]microsoft[dot]com and I can enable a one time free support ticket. Please provide your Azure Subscription GUID and a reference to this thread. And hope

[2019-11-01 23:21] #41787 closed

[2019-11-01 23:23] BharathNimmala-MSFT commented on #41489
@CeciAc , @OLoup Thanks again for your query and reaching out to us through multiple channels. Since you are already working with our engineer on MSDN @SnehaAgrawal-MSFT , closing this issue for now. Will make sure to update this thread once we have any resolution on the MSDN thread so that it is helpful for the community.

[2019-11-01 23:23] #41489 closed

[2019-11-01 23:26] FrankHu-MSFT commented on #41794
Hey @KevUdeM I see, I believe that there is an inconsistency between the docs and the program. It should be printing out to the console the json, which you should be able to copy and save into a .json file to properly utilize.

I'm going to go ahead and engage some more people in regards to this to try to work to determine how to fix this in the docs or the b2c premigration tool.

I apologize for

[2019-11-01 23:30] FrankHu-MSFT commented on #41801
@CeciAc thank you for bringing this up, we're currently making this change. As we are making this change now, i will be closing out this github issue. Thanks for letting us know about this!

[2019-11-01 23:30] #41801 closed

[2019-11-01 23:30] #41804 closed

[2019-11-01 23:31] TravisCragg-MSFT commented on #41981
@michelamarie are you referring to Public IPs or Private(VNET) IPs? Also, what you mean by keep alive?

[2019-11-01 23:32] FrankHu-MSFT commented on #41860
@iilyin thank you for that information. I'm going to take a further look into this accordingly.

Thanks again for letting us know about this.

[2019-11-01 23:43] horihiro commented on #40856
It seems that `xgboost` loads a library `libgomp.so.1` in runtime, and container image `mcr.microsoft.com/azure-functions/python` for Python Azure Function App doesn't have it.

I have faced similar situation when `opencv-python-headless` tries to load `libglib-2.0.so.0` and `libgthread-2.0.so.0` in runtime.

A following repository may help you.
https://github.com/horihiro/azure-functions-python-o

[2019-11-01 23:59] SnehaGunda commented on #39542
@HowardEdidin did you had a chance to update the doc?

[2019-11-02 00:16] SnehaGunda commented on #40854
I added a link to upload the sample data before running the examples. I hope it helps. We will close this issue if there aren't further questions.

#please-close

[2019-11-02 00:16] #40854 closed

[2019-11-02 00:19] Alberto-Vega-MSFT commented on #41695
@Gamecock This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-11-02 00:25] Alberto-Vega-MSFT commented on #41749
@choonyip have you have a chance to look into the related issue I linked to in my previous comment?

[2019-11-02 00:39] choonyip commented on #41749
Sorry for the late reply, and yes this is the same problem that I am facing.

[2019-11-02 00:40] nssidhu opened #41992 "MxChip AZ3116 not sending data"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to cloud -- Connect IoT DevKit AZ3166 to Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devki

[2019-11-02 00:47] Alberto-Vega-MSFT commented on #41774
Right this table the content author provided summarizes this really well. It compares the different protocols based on wether or not the [Azure IoT Hub Identity Registry](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry) knows about the edge devices or if only knows about the gateway
![image](https://user-images.githubusercontent.com/10910841/68063582-60902500-fccf

[2019-11-02 00:52] nssidhu commented on #41992
I am using PlugAndPlay IoT, There is no mention of how to get the connectionstring for Pnp Device

MXChip is not seding any Data and stuck at
"IoT DevKit
192.168.1.38
Running...

"

I followed the following article.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started
till #7. Stuck at that point

[2019-11-02 01:07] SnehaGunda commented on #41819
@LastTribunal I think you are looking at the UI for a SQL API account (it's keys for this type of account). I just created a new Mongo DB API account and validated that the UI looks as it is in the doc. I don't see any update to the doc as of now.

![image](https://user-images.githubusercontent.com/14284405/68063910-4441b780-fcd2-11e9-9729-707a41f81f40.png)

[2019-11-02 01:13] femsulu commented on #41594
Thanks again for catching this. We successful initated a PR to resolve the typos. The fixes will be live by shortly. We will now close this issue but dont hesistate to ping if you have any questions.

[2019-11-02 01:13] #41594 closed

[2019-11-02 01:16] KrishnaG-MSFT commented on #41970
@JeissonL  I hope you have self resolved the ASR product related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-11-02 02:57] maheshsabnis commented on #41968
Hi
Sorry for attaching image in email.
I wait for 10 mins.
I am again doing it.
Thanks
Regards
Mahesh Sabnis

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Micah <notifications@github.com>
Sent: Saturday, November 2, 2019 12:42:36 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mahesh Sabnis <sabnis_m@hotmail.com>; Mention <mention@norepl

[2019-11-02 03:31] Mike-Ubezzi-MSFT commented on #41942
@nathgal Thank you very much for your interest in Azure IoT. I realize you are looking specifically for an Raspberry Pi 3 SDK, I am providing the following tutorial as a means to show the dif"erant runtime environments available. Additionally, I am assigning this to the IoT service area to provide some additional guidance.

[Connect Raspberry Pi to Azure IoT Hub (C)](https://docs.microsoft.com/en-

[2019-11-02 03:38] Mike-Ubezzi-MSFT commented on #41750
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-11-02 03:38] #41750 closed

[2019-11-02 03:59] ksaur opened #41993 "conflicting numbers?"
These numbers seem to conflict with the ones on this page: https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-manage-compute-overview

Is one set of "compute node" numbers deprecated, or are these two different things?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20e5a898-2249-1347-89f7-b16c

[2019-11-02 04:05] Mike-Ubezzi-MSFT commented on #41972
@wkeithvan Thank you for bringing this to our attention. We are investigating this issue and will update this when we have thoroughly researched this issue.

[2019-11-02 04:07] Mike-Ubezzi-MSFT commented on #41987
@polszewski Thank you for bringing this to our attention. We are investigating and will update you when we have additional information.

[2019-11-02 04:14] Mike-Ubezzi-MSFT commented on #41989
@abhishekkrm Thank you for your interest in Azure. Is it possible to provide a document link related to the topic you are requesting information for? Otherwise, this is best served in the MSDN of Stack Overflow forums. Regards, Mike

[2019-11-02 04:16] Mike-Ubezzi-MSFT commented on #41990
@kiranbhaga Thank you for your interest in Azure. Is it possible to provide a document link related to the topic you are requesting information for? Otherwise, this is best served in the MSDN of Stack Overflow forums. Regards, Mike

[2019-11-02 04:17] Mike-Ubezzi-MSFT commented on #41991
@alinpaca  Thank you for your interest in Azure. Is it possible to provide a document link related to the topic you are requesting information for? Otherwise, this is best served in the MSDN of Stack Overflow forums. Regards, Mike

[2019-11-02 04:25] Mike-Ubezzi-MSFT commented on #41993
@ksaur Thank you for bringing this to our attention. This doc: [Manage compute in Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-manage-compute-overview) has a publish date of: 04/16/2018 where [Memory and concurrency limits for Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/memory-and-concurrency-limits)

[2019-11-02 04:27] Mike-Ubezzi-MSFT commented on #41993
@ronortloff Can you confirm this information between the two doc, and if an update is required...should I mirror the most recent updated doc? Thanks!

[2019-11-02 04:31] Mike-Ubezzi-MSFT commented on #41979
@santhoshbomma9 Thank you for the detail inquiry. We are actively investigating and will get back to you soon.

[2019-11-02 04:35] Mike-Ubezzi-MSFT commented on #41976
@joeyeng Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-11-02 04:36] Mike-Ubezzi-MSFT commented on #41982
@Kazzan Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-11-02 04:37] Mike-Ubezzi-MSFT commented on #41983
@Kazzan Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-11-02 04:39] Mike-Ubezzi-MSFT commented on #41984
@Kazzan Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-11-02 04:41] Mike-Ubezzi-MSFT commented on #41988
@veeraps Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-11-02 04:42] Mike-Ubezzi-MSFT commented on #41992
@nssidhu Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-11-02 04:54] SnehaAgrawal-MSFT commented on #41810
@hiraldesai Since we didn't heard back from you. We will close this out but if you feel you need more information please just let us know.

[2019-11-02 04:54] #41810 closed

[2019-11-02 04:54] SnehaAgrawal-MSFT commented on #41790
@svangeti We will close this out but if you feel you need more information please just let us know.

[2019-11-02 04:54] #41790 closed

[2019-11-02 05:15] msrini-MSFT commented on #41861
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/94538

[2019-11-02 05:16] msrini-MSFT commented on #41833
@nishantsinhaindia , I will close this issue, please tag me if you have any further questions.

[2019-11-02 05:16] #41833 closed

[2019-11-02 05:16] JosephFY commented on #34664
Can't find how enable the resource specific through arm template nor can find the list of resources that enable resource specific table

[2019-11-02 05:20] #41861 closed

[2019-11-02 06:23] dreams3290 commented on #41884
So the south central us and the central us share the same ip’s ?

On Fri, Nov 1, 2019 at 12:20 PM Michael Bullwinkle <notifications@github.com>
wrote:

--
Regards
Sanjay Ramadugu

[2019-11-02 06:51] fhtino opened #41995 "missing details"
Information and screenshots appear to be a bit outdated or incomplete:
 - the latest version also allows authentication using storage account key
 - missing details about the directory traversal behavior and file lookup in sub-folders
 - is running in service supported?
 - because the connector is beta, is there any roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-11-02 07:18] ChiragMishra-MSFT commented on #41995
@fhtino Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-02 07:18] tomz opened #41996 "The 'Machine Learning using Azure Databricks' link broken"
When I click the link, it goes to https://docs.azuredatabricks.net/spark/latest/mllib/decision-trees.html, which gets a 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbd2747-9807-4c9b-e07f-819570e054f8
* Version Independent ID: 03a288c1-c704-a2d8-b2d1-b200f1463e38
* Content: [Use Azure Databricks for sentim

[2019-11-02 07:29] AjayKumar-MSFT commented on #41645
We will close this for now and will post back as soon as we have an update. Thanks!

[2019-11-02 07:29] #41645 closed

[2019-11-02 07:58] AjayKumar-MSFT commented on #41839
@ankitvijay, I understand the concern, the document calls out in the beginning ' Because terminology can be confusing, it's worth noting that Azure Cosmos DB indexing and Azure Search indexing are distinct operations, unique to each service. Before you start Azure Search indexing, your Azure Cosmos DB database must already exist and contain data.'
_By default_, all documents are automatically inde

[2019-11-02 08:49] maheshsabnis commented on #41968
Finally I am able to connect to my Service Fabric Cluster from VS 2019 for Publishing. I have downloaded the Certificate and installed it on my local machine CurrentUser, My (Personal) store.
Thanks a lot.
Regards
Mahesh Sabnis

[2019-11-02 08:49] AjayKumar-MSFT commented on #41929
@ankitvijay, Thanks for reporting the issue and good suggestion on adding those (2 issues) in the document. This document aims at describing some of the most _common_ Search indexer issues/errors, and provides information to resolve the error. Your feedback has been shared with the content owner (@mgottein) for further review.

[2019-11-02 08:50] smoms commented on #41774
@Alberto-Vega-MSFT ok so there is no functional difference except that the devices are able to directly connect using Azure IoT Hub SDK (in case of transparent GW). Right?

[2019-11-02 10:25] jean-passos commented on #33735
@udlose @nelsonmorais, the class AadIssuerValidator lives on Microsoft.Identity.Web.Resource, I dont know why, but the nuget package name is Decos.Microsoft.Identity.Web. Moreover, the utilization seems to have changed, I didnt see the property ValidateAadIssuer, so I used that way options.TokenValidationParameters.IssuerValidator = AadIssuerValidator.GetIssuerValidator(options.Authority).Validate

[2019-11-02 10:47] ChiragMishra-MSFT commented on #41996
@tomz Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-02 11:18] mikennie opened #41997 "Zoho oauth Linked Service"
Give that the access token for the Zoho linked service expires, will the linked service connection support refresh tokens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf9edb6-5b9b-6ef4-a7bb-137871b0e2b5
* Version Independent ID: 8067eb77-b429-e1c0-ae1a-7278bf231da5
* Content: [Copy data from Zoho using Azure Data F

[2019-11-02 12:02] ChiragMishra-MSFT commented on #41997
@mikennie Thanks for reaching out. We are currently investigating into the issue and will update you shortly.

[2019-11-02 12:20] JFolberth commented on #34664
Just add the property
`"logAnalyticsDestinationType":"Dedicated"`

To the diagnostic setting of your arm template referencing the workspace. For a list of resources looks like Microsoft has started to put one together https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema
From what I have been told it's on the product groups to implement dedicated schema specific logg

[2019-11-02 13:41] azhar787 opened #41999 "SaaS Fulfilment API always returns 403 Forbidden while Resolving Subscription"
I have followed the below link and registered an app in Azure AD
[https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-registration](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-registration)

and published my SaaS app,and while Resolving the Subscription i am always getting 403 Forbidden,mentioned in the below link

[https://docs.mic

[2019-11-02 13:50] dhruvrajn opened #42000 "Oracle versions supported as a source database"
Please have the version of 11c changed to 11g. There is no such version as Oracle 11c.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46008228-381b-b877-0704-b6af8f831108
* Version Independent ID: 00f15044-b7f5-c799-97c1-90407c262216
* Content: [Article about known issues/migration limitations with online migrations fr

[2019-11-02 14:44] #39739 closed

[2019-11-02 14:44] #39737 closed

[2019-11-02 14:44] #39736 closed

[2019-11-02 15:42] rrmistry opened #42001 "Connect to Azure File Share from Azure Cloud Shell"
I don't know how to connect to an existing Azure File Share from Azure Cloud Shell.

The command `clouddrive` seems to move my default cloud shell storage account. But I don't want to do that. I just want to access my existing Azure File Share storage. This can exist in any Azure region (not just what's available through Cloud Shell).

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-02 15:45] rrmistry commented on #42001
When I tried to use `clouddrive` to mount my existing Azure Files account, I get the following error message:

[code]

I'd prefer not to move my existing Azure File Shares from `canadacentral` to `eastus`. Is there a workaround for this?

I'd like to just connect to my existing Azure File Shares through Cloud Shell and run commands in those directories.

Thank you!

[2019-11-02 15:48] AskYous commented on #41901
Thank you but this is not what I asked for. I'm asking for how to **get** data. The .Net SDK has [documentation on it](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/create-publish-kb-csharp-sdk#download-a-knowledge-base) but not the NodeJS documentation.

[2019-11-02 15:55] gasia89 commented on #41024
There are many different ways to trigger the refresh operation. I ran into a similar issue and posted my question/answer on S.O. https://stackoverflow.com/questions/58253996/dynamically-update-net-core-config-from-azure-app-configuration. If you are still stuck or have questions, I would be happy to give you a hand.

IMHO, Using sentinels to update your config will give you a better experience. Th

[2019-11-02 16:16] esoler-sage commented on #34829
By the way,

you can take the resource id directly by setting up the segment:

[code]
as in this post explains https://github.com/Azure/azure-quickstart-templates/issues/1965

[2019-11-02 16:27] lesterw1 opened #42002 "Add link to full language details"
In the **Next steps** section of this page, add an additional bullet as follows:

* For complete Kusto language details, see the [Overview](https://docs.microsoft.com/en-us/azure/kusto/query/).

I had to search around to find more details on the language and associated operators. Having a link here would have been helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-02 16:29] DCtheGeek commented on #42002
#assign:DCtheGeek

[2019-11-02 16:30] DCtheGeek commented on #42002
@lesterw1 Thank you, that's great feedback! I'll take an action to do exactly that.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress

[2019-11-02 16:37] DCtheGeek commented on #42002
@lesterw1 I've submitted the fix.  Once it's merged, this issue will automatically close. The doc, however, won't be updated until Monday with this change.  Thanks again for the great feedback!

[2019-11-02 16:44] #42002 closed

[2019-11-02 16:49] santhoshbomma9 opened #42003 "How do I get plan dimensions"
Is there a way/Api to return list plan dimensions for an ISV to programatically? I don’t think neither subscription Api or get plans Api are returning the dimensions. Any work around would be very helpful!
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/marketplace-metering-service-apis#responses

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-11-02 17:22] sujayvsarma commented on #41841
@AshokPeddakotla-MSFT @rbrundritt

The "https://**review.**docs.microsoft.com/en-us/azure/azure-maps/how-to-manage-authentication" link is an internal link for MSFT folks to review docs and approve changes. It is not meant for public consumption. Hence, the general public is denied access when trying to visit such links.

The right link here is:
https://docs.microsoft.com/en-us/azure/azure-maps/ho

[2019-11-02 17:29] daveberm commented on #28745
I always use 255.255.255.255 without a problem. My understanding is that by using that subnet you avoid an IP address conflict with the ILB, which shares the same IP address. /32 is creates a host specific route, so the node never tries to resolve that IP beyond itself. I've never tried to us it without that subnet mask so I can't confirm whether you will have issues or not. nut can confirm 255.25

[2019-11-02 18:33] KrishnaG-MSFT commented on #42002
@DCtheGeek Thanks for the super quick response. :+1:

[2019-11-02 19:19] ChiragMishra-MSFT commented on #41999
@azhar787 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-02 19:20] ChiragMishra-MSFT commented on #42000
@druvaraj Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

@HJToland3 Can you please take a look at this one?

[2019-11-02 19:21] ChiragMishra-MSFT commented on #42001
@rrmistry Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-02 19:22] ChiragMishra-MSFT commented on #42003
@santhoshbomma9 Thanks for reaching out. We are currently investigating into the issue and will update you shortly.

[2019-11-02 19:29] SteveLasker opened #42004 "How to troubleshoot when an image pull fails"
If apply permissions works, great. But, what do I do if it doesn't work? How do I troubleshoot permission issues?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure K

[2019-11-02 20:00] Aquaculture commented on #41975
I see, unfortunately I was trying to update my MVC project for this. I have an ipSecurity tag in the web.config, but it doesn't deny IPs like in IIS. I do see a way to add them into the Azure blade, so I may need to change my strategy.

Thanks for pointing that out.

Global Aquaculture Alliance
Paul Keefe
Manager of Software Engineering
P: 603-317-5000 x-127
E: paul.keefe@aquaculturealliance.org |

[2019-11-02 20:02] APIWT commented on #41656
Thanks for responding. I still think there is confusion regarding the `every time you push to master` piece. When you use the `Select deployment method` function in the DevOps App Service Deploy task, there are several options. If I understand you correctly, it doesn’t matter which one you select. However, how exactly does App Service know that you have deployed a new version to it? Does the DevOp

[2019-11-02 20:04] batanun commented on #41600
Thanks for clearing that up :)
But this means that  V2 won't be an option for us, even for production. We are not interested in using V1 in testing and staging, and V2 in production. And V2 in test and staging environments just seems unreasonable with these high fixed costs. My suggestion is that you look into better V2 options for non-production use. If a v2 instance is not used at all it won't i

[2019-11-02 20:23] rezamohamed commented on #40048
@BryanTrach-MSFT I have a project that I am working on running Microsoft.EntityFrameworkCore 2.2.4. VS19 v16.3.7 and am unable to execute 'dotnet ef' commands from Package Manager Console. I don't want to upgrade to .NET 3.0, what is the workaround for this?

![image](https://user-images.githubusercontent.com/18199852/68076590-93e0bb80-fd84-11e9-8942-50b6dc3d856f.png)

![image](https://user-images

[2019-11-02 20:29] nads400 commented on #41743
Please help @shashishailaj  can you please advise the expected time of resolution?

[2019-11-02 21:25] rbrundritt commented on #41841
Adding Waleed

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Sujay Sarma <notifications@github.com>
Sent: Saturday, November 2, 2019 10:22:26 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ricky Brundritt <ricky_brundritt@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Manage authentication in A

[2019-11-02 22:10] MladjoA commented on #39236
@dmarlow, at any moment there can be not more than one TDE protector set for a server. It's the key marked with "Make the key the default TDE protector" in the Azure portal blade. However, multiple additional keys can be linked to a server without marking them as a TDE protector. These keys are not used for protecting DEK, but can be used during restore from a backup, if backup file is encrypted w

[2019-11-02 23:59] a-yun opened #42005 "Dead link"
Reference-&gt;SDKs-&gt;Node.js in the sidebar 404's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff44b7a-f27a-2f1b-9b2a-5e3fd5d4435e
* Version Independent ID: e53e580e-a022-03d3-7a33-6131f945ce61
* Content: [Quickstart: Send a search request with the Bing Entity Search SDK for Node.js - Azure Cognitive Services](htt

[2019-11-03 00:42] Mike-Ubezzi-MSFT commented on #42005
@a-yun Thank you very much for bringing this to our attention. I will have the documentation team evaluate this and make an update as appropriate. Regards, Mike

[2019-11-03 00:46] Mike-Ubezzi-MSFT commented on #42004
@SteveLasker Thank you very much for bringing to our attention a challenge you are potentially facing with this service. Would you like the documentation to include this detail, or are you having issues with this scenario? Thank you, Mike

[2019-11-03 01:32] mknarula opened #42006 "Spring Boot Sample"
Please can you post something similar using Spring Boot? A sample architecture would help too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Content: [Real-time data visualization of sensor data from your Azure IoT hu

[2019-11-03 02:36] ElanShudnow opened #42007 "Agent-Based"
Shouldn't you still deploy the Azure Migrate appliance, do your assessment, and if you opt for agent based migration, uninstall the Azure Migrate appliance and then install the Azure Migrate Replication Appliance? Documentation is not very clear on this.  Documentation makes it seem that if you are doing agent based migration, then you do not need to do an assessment with the Azure Migrate applian

[2019-11-03 03:54] joshlcoffin opened #42008 "There are typos in two of the scripts"
In the "Ensure port 445 is open" script,
      fileHost=$(echo $fileHost | tr -d "/")
points to itself - it should be echo $smbPath

In the "Use the mount command to mount the Azure file share" script,
      smbPath=$(echo $httpEndpoint | cut -c7-$(expr length $httpEndpoint))$fileShare
references $fileShare, not $fileShareName

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-03 04:54] ankitvijay commented on #41839
HI @AjayKumar-MSFT , thanks for your response. :)

I understand your above point. I also understand that Azure Cosmos DB indexing and Azure Search indexing are different.

One thing that is important to keep in mind is that automatic indexing can [increase the Request Units (RU)](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units#request-unit-considerations) in Azure Cosmos DB. To redu

[2019-11-03 04:57] ChiragMishra-MSFT commented on #42006
@mknarula Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-03 05:00] ChiragMishra-MSFT commented on #42007
@ElanShudnow Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-03 05:00] ChiragMishra-MSFT commented on #42008
@joshlcoffin Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-03 07:20] AjayKumar-MSFT commented on #41839
@ankitvijay, Ack! Thanks for additional details!
@mgottein, Requesting your comments on this.

[2019-11-03 12:19] hbuckle opened #42011 "Managed Identity example"
Please can you add an example of connecting to an Azure AD secured service fabric cluster using the managed identity of the API management service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a7a08f-2b74-eece-b263-03ab211cf805
* Version Independent ID: 73bbdc61-d007-687f-9f78-a0e5a9de1f28
* Content: [Integrate API

[2019-11-03 13:29] Mo-GH commented on #29478
I have the same Error i dont have Firewall in Ubuntu VM and I Opend all the Port in NIC
but still the same Problem

[2019-11-03 13:49] Mo-GH commented on #41797
the same Problem but its not working by me, i user Ubuntu IoT VM from Marketplace Microsoft all ports opened and i use ssh for connect to VM

[2019-11-03 14:15] abmsft opened #42012 "CI/CD for authentication of API connection"
Is there a way to fully automate the authentication of API connectors ? office365, dropbox, onedrive etc. I have seen some means available on github/blogs but it still requires a user to login to a window created inside a powershell script (ref here: https://github.com/logicappsio/LogicAppConnectionAuth). It would be good if the team can share this trick.

---
#### Document Details

⚠ *Do not edit

[2019-11-03 14:15] andrewpwade commented on #38398
I’m also interested in using this connector, migrating away from some custom code I wrote.

It’s important to note that the API limits are hard. Xero won’t change them even if you give them a blank cheque.

Also, we have other things connecting to the API, so one sync can’t dominate the API limits.

What I did was to rate limit requests during the initial sync and then made use of fetching by date

[2019-11-03 15:42] assaf-grth commented on #41748
So just to make sure, unless I try to start it manually, it will remain deallocated?

[2019-11-03 15:42] SteveLasker commented on #42004
I have resolved the issue by checking the ACR diagnostic logs. In this case, the tag i was pushing got pushed to a different registry. The failure want auth, rather the tag didn’t exist in registry/repo:tag specified on the deployment. The Kube error suggested it was an auth error. Having a troubleshooting doc to attempt pulling the exact image specified in the kube.yaml and checking ACR Diagnosti

[2019-11-03 15:43] Mo-GH commented on #41797
I think i fixed be change the :
  <azure.iot.device.client.version>1.17.5</azure.iot.device.client.version>
in pom.xml file

[2019-11-03 15:47] MicahMcKittrick-MSFT commented on #42011
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-03 15:53] johnykes commented on #28140
Same problem for me. I'm not sure why the binding is not working.
In my function.json I have:
`"bindings": [
      {
        "authLevel": "anonymous",
        "type": "httpTrigger",
        "direction": "in",
        "name": "req"
      },
      {
        "type": "http",
        "direction": "out",
        "name": "res"
      },
      {
        "type": "SignalRConnectionInfo",
        "name": "con

[2019-11-03 16:07] SatyaKomatineni opened #42013 "What is the advanced section "Specific dynamic contents in JSON Format" for?"
In a linked service (I am using ftp and sftp as an instance) I see this section called "Advanced" under which there is a JSON edit box.

How is this put to use? what goes here? Can you give some examples?

Appreciate it
Satya

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9528484b-14b8-729a-9df4-d203db71885a
* Version

[2019-11-03 16:14] robedani opened #42014 "The gatewaypart of the script"
When doing above scenario , the part that creates the gatewaysubnet does not work.
Tried both locally with powershell_ise and on the cloudshell. Both of them does not return any error code , but the Gatewaysubnet will not be created. Any suggestions?

$vnet = Get-AzVirtualNetwork -ResourceGroupName TestRG1 -Name VNet1
Add-AzVirtualNetworkSubnetConfig -Name 'GatewaySubnet' -AddressPrefix 10.1.255.0

[2019-11-03 16:56] #41836 closed

[2019-11-03 17:37] #39236 closed

[2019-11-03 17:53] mlottner commented on #41803
@cwolansky-mm Thanks for your question!

Windows 10 IoT Enterprise is a complete Server OS.
Windows 10 IoT Enterprise can't be supported by Azure Security Center for IoT because the concept of privileged containers doesn't work in Windows 10 IoT Enterprise, and as of now, is needed for this solution.

Appreciate you contribution to our community.

[2019-11-03 17:53] mlottner commented on #41803
#please-close

[2019-11-03 17:53] #41803 closed

[2019-11-03 17:53] ruthbacci opened #42015 "Broken Link"
" Azure resiliency technical guidance"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Business continuity & disaster recovery - Azure Paired Regions](https://docs.microsoft.com/en-us/azure/best-practices-avai

[2019-11-03 18:16] kwill-MSFT opened #42016 "Does not "force" delete"
Remove-AzRecoveryServicesVault doesn't work if there are still containers.

{
  "error": {
    "code": "ServiceResourceNotEmptyWithContainerDetails",
    "message": "Vault cannot be deleted as there are existing resources within the vault. : WIN10.CONTOSO.COM\nUnregister all containers from the vault and then retry to delete vault. For instructions, see https://aka.ms/AB-AA4ecq5",
    "target": nu

[2019-11-03 18:26] SatyaKomatineni opened #42017 "Can you explain this: "you can parameterize the linked service by selecting the Code icon on the Connections tab""
1. is this related to the "Advanced tab" at the bottom where a json edit box is provided?

Or

2. is the JSON code directly edited in the "code" option window

3. How do you use the Advanced tab? is this a delta "json" on top of UI that overrides the properties?

I have searched quite a bit and could not get an answer so far

A clarification will be extremely helpful

thanks again
Satya

---
####

[2019-11-03 18:49] msrini-MSFT commented on #42014
@robedani  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-03 19:56] DeBockTim commented on #41847
@jakaruna-MSFT Thanks for the answer, we have solved it with the docker image of a colleague. But thank you very much for the information you provided and your investigation!

With friendly greets,
Timothy

[2019-11-03 20:33] rolyon commented on #40831
Hi @iricigor
Based on this article:
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#classic-subscription-administrator-roles
The Service Administrator and the Co-Administrators have the equivalent access of users who have been assigned the Owner role (an Azure RBAC role) at the subscription scope.
thanks

[2019-11-03 20:55] robedani commented on #42014
It seems that when doing the Gatewaysubnet when you create you Vnet it works. But not when the VNet is already created and you want to update it with a gatewaysubnet.  For example this code worked perfectly.

$Sn=New-AzVirtualNetworkSubnetConfig -Name $SubNetName -AddressPrefix $SubnetPrefix
$gw=New-AzVirtualNetworkSubnetConfig -Name "GatewaySubnet" -AddressPrefix $GWSubCIDR
New-AzVirtualNetwork -

[2019-11-03 21:01] sphanley commented on #34239
Any updates on this? I'm also really struggling to find info about Table Storage specifically, rather than CosmosDB.

[2019-11-03 21:38] LiorArmiev commented on #30381
just installed .NET Core 2.2 Runtime and the problem solved

[2019-11-03 21:41] DCri commented on #41930
![nsg](https://user-images.githubusercontent.com/55859147/68092367-1af17900-fed6-11e9-8101-994f681a9878.png)

Picture attached, the service tag list is very long, and not in alphabetic order, but I have searched page source using developer tools and they keyword "siterecovery" is not in the list.

[2019-11-03 22:02] MarileeTurscak-MSFT commented on #41867
@HareBear  it should not need to be private. If you don’t have a federated environment, you can add public IPs into the field of “Skip multi-factor authentication for requests from following range of IP address subnets." This will skip MFA regardless of if the user is federated or managed, once the request comes from a whitelisted IP. https://blogs.technet.microsoft.com/latam/2018/08/18/skip-mfa-o

[2019-11-03 22:02] #41867 closed

[2019-11-03 23:02] alinpaca commented on #41991
Hi @Mike-Ubezzi-MSFT,
I'm following these documents:
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-train-tensorflow
https://docs.microsoft.com/bs-latn-ba/azure/machine-learning/service/how-to-train-ml-models

Am using the Standard_NC6s_v3 cluster.

Thanks, Angie

[2019-11-03 23:12] kiwiswift opened #42018 "The link "AD FS Scenarios for Developers" in first paragraph is broken"
The url https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-scenarios-for-developers doesn't exist, perhaps it should be https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/ad-fs-development ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f214c1c-fe2d-6034-ddcb-27a2e398d0ee
* Ver

[2019-11-03 23:31] MarileeTurscak-MSFT commented on #42018
@kiwiswift
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-03 23:37] MarileeTurscak-MSFT commented on #42018
@kiwiswift thanks for this! I made a pull request to fix the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/94565

[2019-11-03 23:37] #42018 closed

[2019-11-03 23:49] diberry commented on #41901
@AskYous - You are correct. I'll look for the solution. #in-progress

[2019-11-03 23:59] MarileeTurscak-MSFT commented on #41692
Hi @abhinavaGopagani ,

Please send me an email at AzCommunity@microsoft.com and include your subscription ID, tenant ID, and a screenshot of the issue so that we can troubleshoot together.

[2019-11-03 23:59] #41692 closed

[2019-11-04 00:00] lphomiej opened #42019 "Where is the ipynb for this?"
This there a notebook for this example? I'm confused how to output a dataset from "prepare.py" without the args attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25c2aa0c-1266-6713-944f-ba28cba3fa3d
* Version Independent ID: 240918a9-eca7-f698-5323-9e70bb5a35de
* Content: [Dataset versioning - Azure Machine Lea

[2019-11-04 00:03] lphomiej commented on #42019
Nevermind. I figured this out. >.<

[2019-11-04 00:03] #42019 closed

[2019-11-04 00:17] mpeters615 opened #42020 "Issues Connection PowerBI Output to Stream Analytics"
I am having issues connecting the power BI output to stream analytics. Each time I create an output, when the output is tested i get an error saying "The token provided for 'XXXXX' has either expired or is invalid. Please re-authorize or update the token and try again." I have re-authorized my account several times, but continue to get this error.

Please advise on how I can avoid this issue. Than

[2019-11-04 01:10] femsulu commented on #41651
@Rutikhal - To determine if the issue is caused by the runbook or not, copy your PowerShell script from the runbook editor and re-run locally (in PowerShell Interface) to see if you hit the same attachment error.
Are you aware of the size limitations with attachment payload when using SendGrid?
![image](https://user-images.githubusercontent.com/34327711/68095040-1f2c8080-fe5b-11e9-8b38-d5c255b9ed4

[2019-11-04 01:12] #41651 closed

[2019-11-04 01:19] Mike-Ubezzi-MSFT commented on #42019
@lphomiej Thank you for the additional detail. If you have any additional questions please don't hesitate to comment and we can continue the conversation.

[2019-11-04 01:21] Mike-Ubezzi-MSFT commented on #42013
@SatyaKomatineni Thank you for the inquiry. We are investigating and will update you when we have feedback to provide.

[2019-11-04 01:21] juhap commented on #41986
Got hit by the same issue. You need to add "--sku Standard" to the IP address creation. If you don't the nginx-ingress-controller won't get the external IP and you will see "Standard sku load balancer cannot reference Basic sku publicIP" error in the activity log.

[2019-11-04 01:23] Mike-Ubezzi-MSFT commented on #42017
@SatyaKomatineni Thank you for the inquiry. We will respond when we have accurate information to provide you.

[2019-11-04 01:25] Mike-Ubezzi-MSFT commented on #42020
@mpeters615 Thank you for bringing this to our attention. We are investigating this and will update you when we accurate information to provide.

[2019-11-04 01:30] diberry commented on #41885
@v-kydela Hi Kyle - You've pointed out a good mismatch of information spread across multiple doc pages. For a QnA Service's associated search service, all the test kbs are in the test index. When you publish the kb, a version is moved to its own index. A query can be different from between test and publish because in interactive test, the `top` is set for you to a specific value, while you have to

[2019-11-04 01:30] Mike-Ubezzi-MSFT commented on #42012
@abmsft Thank you very much for the inquiry. We are investigating and will update you when we accurate information to provide you.

[2019-11-04 01:32] Mike-Ubezzi-MSFT commented on #42016
@kwill-MSFT Thank you very much for bringing this to our attention. We are investigating and will update you when we have accurate information to provide you.

[2019-11-04 01:34] MarileeTurscak-MSFT commented on #42015
@ruthbacci
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-04 01:40] MarileeTurscak-MSFT commented on #42015
Thanks. I made a pull request to amend this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/94570

[2019-11-04 01:40] #42015 closed

[2019-11-04 01:41] eraser215 opened #42021 "When are we getting ADE for RHEL BYO images?"
Hi MS team,

Is there a roadmap/timeline for ADE for RHEL BYO images?  I have recently been advised that Network Bound Disk Encryption is available for the OS disk is available, but guidance on the options and perhaps *best option* would be fantastic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 358673f9-fd9a-3357-bf

[2019-11-04 02:12] MarileeTurscak-MSFT commented on #41869
I made a pull request  to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/94572

[2019-11-04 02:12] #41869 closed

[2019-11-04 02:23] nabhishek commented on #30283
@falmada ADF is now a trusted service (both Storage and Key Vault). https://go.microsoft.com/fwlink/?linkid=2109491

[2019-11-04 02:26] MicahMcKittrick-MSFT commented on #41986
Yeah I believe we recently switched from a basic load balancer to automatically using a standard one which is why this is an issue now. I am checking into it but will make sure to update the doc.

[2019-11-04 02:28] MicahMcKittrick-MSFT commented on #40300
Myself of @mlearned will look into updating this week. We currently have a hold on documentation updates due to Ignite so nothing can be published for a few days.

[2019-11-04 02:28] sffamily commented on #41755
custom domain is not supported yet, but it is in our current roadmap for the upcoming months as one of the enterprise features. We will publish corresponding doc once the feature is released.

[2019-11-04 02:29] sffamily commented on #41755
#please-close

[2019-11-04 02:29] #41755 closed

[2019-11-04 02:31] sffamily commented on #41157
reply published.
#please-close

[2019-11-04 02:31] #41157 closed

[2019-11-04 02:34] shashishailaj commented on #41629
@MicrosoftGuyJFlo  coudl you please review this documentation update request .

[2019-11-04 02:43] #41968 closed

[2019-11-04 02:44] MicahMcKittrick-MSFT commented on #42004
@SteveLasker thanks for the feedback. Assigning to author to look into it.

CC @MicrosoftDocs/aks-pm for awareness

[2019-11-04 02:45] shashishailaj commented on #41646
@bchris999 We have requested some clarification from the backend team on this and we will update the thread once we have the information.

[2019-11-04 03:23] github2alfred opened #42022 "This created confusion that it requires DHCP."
5. Create or edit the file /etc/sysconfig/network-scripts/ifcfg-eth0 and add the following text:

--- Please rephrase it in a way, that stating it is not compulsory to follow exactly line by line, example BOOTPROTO can be static, instead of DHCP as written in the image sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-04 03:36] YutongTie-MSFT commented on #41494
@alieus
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-04 03:36] #41494 closed

[2019-11-04 03:37] YutongTie-MSFT commented on #41498
@shivp950 Hi, do you have any update for this issue? Thanks.

[2019-11-04 03:38] ChiragMishra-MSFT commented on #41757
@roofiq Since I have not heard from you in 5 days, I will proceed to close this issue. If you have a query, please open a thread by clicking on the "feedback" button on the right doc.

[2019-11-04 03:38] #41757 closed

[2019-11-04 03:51] neeleshray-msft commented on #41175
@jyotsnaravikumar  We will be closing this issue for now. Please re-open if you need further help.

[2019-11-04 03:51] #41175 closed

[2019-11-04 03:59] neeleshray-msft commented on #41357
@stoff75  Yes, you can setup a separate Azure AD Connect to sync the users to a different tenant where each object is only once in a single Azure AD Tenant. You can follow this [document ](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies#each-object-only-once-in-an-azure-ad-tenant)to know more on the same.
![Topology](https://user-images.githubusercontent.com/

[2019-11-04 03:59] #41357 closed

[2019-11-04 04:13] VikasPullagura-MSFT commented on #42022
@github2alfred Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-04 04:28] souravmishra-msft commented on #41925
@sub318, It would be great if you can share the OAuth request that was sent the /token endpoint of AAD, I would like to take a look at the request that was sent in order to understand this better.

[2019-11-04 04:42] VikasPullagura-MSFT commented on #41835
@asinn826 Thanks for providing the details.

[2019-11-04 04:45] AjayKumar-MSFT commented on #41672
@OLoup, You can deploy a staging slot on App Service on VNet.
When you clone configuration from another deployment slot, the cloned configuration is editable. Some configuration elements follow the content across a swap (not slot specific), whereas other configuration elements stay in the same slot after a swap (slot specific).
Virtual network integration * -are planned to be unswapped.

You can u

[2019-11-04 04:45] #41672 closed

[2019-11-04 04:46] VikasPullagura-MSFT commented on #41835
@tina-ho Hope the response from @asinn826 helped clarify your query.
I am proceeding to close the issue now. If you have any further followup question, mention my name in comment to reopen the issue.
Thanks.

[2019-11-04 04:46] #41835 closed

[2019-11-04 04:48] Karishma-Tiwari-MSFT commented on #41847
@DeBockTim
Thanks for sharing the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-04 04:48] #41847 closed

[2019-11-04 04:49] Karishma-Tiwari-MSFT commented on #41926
@evpill Is there any update? Please let me know if the above reply helped.

[2019-11-04 05:04] sub318 commented on #41925
Thank you for reply. I can share the OAuth request.
request url : (POST) https://login.microsoftonline.com/tenant-id/oauth2/v2.0/token

And sent the parameters.
client_id, client_secret, grant_type, scope, username, password
grant_type : 'password'
scope : 'User.Read'
username : my id
password : my password

[2019-11-04 05:04] sreebhargava143 commented on #42020
**_The streaming job failed: Stream Analytics job has validation errors: The token provided for 'XXXXXX' has either expired or is invalid. Please re-authorize or update the token and try again._**

I'm trying to re-authorize but no use same error message everytime.

**My power bi user account is different from my azure iot hub user account** does this matters ?

[2019-11-04 05:14] PramodValavala-MSFT commented on #41843
@perkops There are actually 2 ways to write C# functions in Azure Functions.

1. [C# (class library)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library)
   Here you write `*.cs` files which you end up compiling to `*.dll`s which are then deployed to Azure

2. [C# Script (.csx)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp)

[2019-11-04 05:23] souravmishra-msft commented on #41925
@sub318, Thank you for sharing the details.
I just tried the same out using POSTMAN and sharing the screenshot below:
![image](https://user-images.githubusercontent.com/54057592/68100968-2900c300-fef1-11e9-9ad1-f289ff09cd2d.png)

Can you please try this using the parameters thats present in the screenshot and share your findings.

[2019-11-04 05:25] ram-msft commented on #41738
@xiaoharper Could you please confirm on the following "[Createorupdate](https://docs.microsoft.com/en-us/rest/api/machinelearning/webservices/createorupdate)".

[2019-11-04 05:30] ram-msft commented on #41739
Duplicate  of the following [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/41738).

[2019-11-04 05:30] #41739 closed

[2019-11-04 05:34] sub318 commented on #41925
Yes. It's the result.
![git응답](https://user-images.githubusercontent.com/13095836/68101275-2366a580-ff10-11e9-81bf-10cce1a43272.PNG)

[2019-11-04 05:43] #41996 closed

[2019-11-04 05:58] msrini-MSFT commented on #42014
@robedani , the reason why your script doesn't work is because you are updating a null variable.

**$vnet** = Get-AzVirtualNetwork -ResourceGroupName TestRG1 -Name VNet1
Add-AzVirtualNetworkSubnetConfig -Name 'GatewaySubnet' -AddressPrefix 10.1.255.0/27 -VirtualNetwork $vnet
**$virtualNetwork** | Set-AzVirtualNetwork

You have defined $vnet as a variable which has the vnet info and doing a set to

[2019-11-04 06:02] souravmishra-msft commented on #41925
@sub318, Can you add "**offline_access**" in scope as present in the below screenshot and let us know if that gets you the refresh token.

![image](https://user-images.githubusercontent.com/54057592/68102011-c0b4e000-fef6-11e9-928b-dd3bf9792c70.png)

**Offline_Access** value in the **Scope** parameter is required to get a refresh token issued by AAD.

[2019-11-04 06:04] ChiragMishra-MSFT commented on #41997
@linda33wj Can you please provide some insights here?

[2019-11-04 06:19] CHEEKATLAPRADEEP-MSFT commented on #42020
@mpeters615 If the password has changed since your job was created or last authenticated, you need to reauthenticate your Power BI account. If Azure Multi-Factor Authentication is configured on your Azure Active Directory (Azure AD) tenant, you also need to renew Power BI authorization every two weeks. If you don't renew, you could see symptoms such as a lack of job output or an `Authenticate user

[2019-11-04 06:22] CHEEKATLAPRADEEP-MSFT commented on #42020
@sreebhargava143 Yes, power bi user and subscription user should be same.
Hope this helps.

[2019-11-04 06:23] CHEEKATLAPRADEEP-MSFT commented on #41935
@IronmanM We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-04 06:23] #41935 closed

[2019-11-04 06:24] anirudhgarg commented on #40856
@cconcordet can you please open this issue in the azure functions python worker repo. https://github.com/Azure/azure-functions-python-worker/issues

[2019-11-04 06:29] SadiqhAhmed-MSFT commented on #42021
@eraser215 Thanks for the comment! We will check on this and get back to you with an update.

[2019-11-04 06:32] sub318 commented on #41925
Return error message.
AADSTS65001: The user or administrator has not consented to use the application with ID '....' named '......'. Send an interactive authorization request for this user and resource.\r\nTrace ID: be4579e5-e515-4e29-9fa9-d513a0d05000\r\nCorrelation ID: 4647026d-3d62-4ebd-b1c8-edf9e4985eb2\r\nTimestamp: 2019-11-04 06:22:48Z"

Administrator not allow to application use authority y

[2019-11-04 06:35] delphikit opened #42023 "Clarification on Network Flow Limit"
Does the network flow limit apply to internal VM traffic? That is, application A and B residing in the same VM and communicating between A and B via internal ports. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c054b7-422c-c3b0-fc8e-91314231ee0c
* Version Independent ID: 42825540-2137-92e3-08b0-0dbd84089eda

[2019-11-04 06:42] rockboyfor opened #42024 "The last IP address or broadcasting IP address(10.0.255.255) falls with the reserved IP range of subment(10.0.0.0/16)."
The user request that the last IP address or broadcasting IP address such as (10.0.255.255) will be also falls within the reserved IP range of subnet (10.0.0.0/16) in the link of Private IP address (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm#allocation-method-1).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-11-04 07:03] perkops commented on #41843
@PramodValavala-MSFT I get that - i just dont think the article is 100% clear in the distinction as to which situation the code is for :) - but atleast we agree.

[2019-11-04 07:30] imabedalghafer opened #42025 "Link the sas token generation document to MS examples doc"
Hi team,
on the section of Sink config about event hub sink, https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux?source=docs#the-eventhub-sink
you can add the below link for example instead of the current exists:
https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token#powershell
as it will give more options to reader as not everyone is familiar with .

[2019-11-04 07:42] roofiq opened #42026 "Clientothererror on table storage write operations"
Hello,

Recently storage insights came out so we started to analyse it. We have few runbooks running that are doing some rows adding/updating operations on daily basics.

What we have discovered are regular failures of type ClientOtherError (by API Name - Blob CreateContainer and AppendBlock).
All the operations are rolled up by try/catch, but still it doesn't signal any errors. We just can see it

[2019-11-04 08:01] sffamily commented on #39674
The updated doc reflecting ASP.NET Core 3.0 has been merged and will be published soon.
Thanks for the reminder.
#please-close

[2019-11-04 08:01] #39674 closed

[2019-11-04 08:04] dzoech commented on #41667
@MicahMcKittrick-MSFT Yes, I'd be grateful if you could answer my first question :)

[2019-11-04 08:13] souravmishra-msft commented on #41925
@sub318, The User.Read.All delegated permission needs Admin Consent. Hence it is necessary to provide consent by a Global Admin of the tenant on this delegated permission for it to work successfully.
I would suggest you to provide the Admin Consent for User.Read.All. Refer to the screenshot below and click the button (by logging on to the Azure Portal as a Global Administrator).

![image](https://

[2019-11-04 08:23] femsulu commented on #42016
re-assigning to Krishna to investigate.

[2019-11-04 08:24] femsulu commented on #41979
reassigning to Swathi to investigate.

[2019-11-04 08:29] edfreeman commented on #20348
Hi @ScottHolden

I've been seeing some strange errors using your above implementation. About 50% of the times I deploy, I get a "NotImplemented/Access is denied" error for the `Microsoft.Web/Sites/Config` resource type, like this:

[code]

Initially I managed to whittle it down to a specific location where I was seeing the error. Namely, when I deployed to UK South, everything worked fine. When I

[2019-11-04 08:30] Karishma-Tiwari-MSFT commented on #42025
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 08:33] msrini-MSFT commented on #42024
@rockboyfor , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-04 08:35] hussnainahmed commented on #42020
I have the same problem as reported by @mpeters615 with the same user for power bi and subscription.

[2019-11-04 08:39] pdemil commented on #42020
Same issue,
"The token provided for 'PowerBI' has either expired or is invalid. Please re-authorize or update the token and try again."

[2019-11-04 08:47] msrini-MSFT commented on #42024
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/94586

[2019-11-04 08:50] VikasPullagura-MSFT commented on #41837
@msmbaldwin Thanks for the [PR](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-docs-pr%2Fpull%2F94483&data=02%7C01%7CVikas.Pullagura%40microsoft.com%7C9e47df072248476ce62208d75f0b1262%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637082378210018492&sdata=RX%2B4vUgBJu998T4qy5iKfe6Ap3s%2BJw0%2FW65aHyqMxt8%3D&reserved=0) for changing the document.

[2019-11-04 08:51] sub318 commented on #41925
Thank you very much.
I solved this problem. :)

[2019-11-04 08:51] VikasPullagura-MSFT commented on #41837
@gitmadness The data type is changed from int to string in the param description table.
The doc will be updated once the PR is approved.
I will now proceed to close this issue.

[2019-11-04 08:54] VikasPullagura-MSFT commented on #42026
@roofiq Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-11-04 08:56] msrini-MSFT commented on #42023
@delphikit , Ideally you will not see the flows between 2 applications in the same host in the metrics. These network limit will not apply for the communication between 2 application in the same host.

[2019-11-04 08:59] #42024 closed

[2019-11-04 09:02] PramodValavala-MSFT commented on #41843
@perkops Each code block does seems to mention C# Script (or JavaScript) following the `function.json` content for each function. Also, there is a line at the beginning of the [functions section](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-monitor#the-functions) mentioning the same.

Apologies if I am overlooking something.

[2019-11-04 09:06] souravmishra-msft commented on #41925
@sub318  Great!!. Hope the steps helped you.
We are closing this thread now, but do reach out to us in case you have any more queries around this.

[2019-11-04 09:06] #41925 closed

[2019-11-04 09:16] ram-msft commented on #41744
@sachabruttin After the migration process, all your LUIS apps are now assigned to a single LUIS authoring resource.You can create more authoring resources and assign from the Manage -> Azure resources page in the LUIS portal.
Please follow the below document how to assign a resource to an app.
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-azure-subscription#assign-a-re

[2019-11-04 09:23] perkops commented on #41843
@PramodValavala-MSFT I suppose its a matter of wording of technologies :) - im good though.

[2019-11-04 09:23] #41843 closed

[2019-11-04 09:43] jbeltranluna opened #42027 "Can't migrate LUIS Apps to Azure Resources"
While trying to migrate apps to Azure Resources I got the following error message:
"BadArgument: Endpoint keys were assigned by collaborators to your apps and you have no access to them. Either remove these keys or get access. Keys: {keyPath: /subscriptions/f51aa7db-a3d5-4790-xxxx/resourceGroups/ACCChatBot/providers/Microsoft.CognitiveServices/accounts/accchatbotluis, region: WEU, appId: 274bf9f7-

[2019-11-04 09:44] Rutikhal commented on #41651
I am just wondering  that it could be nice to have on this doc page small example code  how to send not just body html in email, but some attachement, checked from your MS side. It will do easier process of using attachement and  troubleshooting.

[2019-11-04 09:47] souravmishra-msft commented on #41921
@LachlanJB, The properties that were listed **[-Definition @('{"TokenLifetimePolicy":{"Version":1,"MaxInactiveTime":"00:10:00","MaxAgeMultiFactor":"00:12:00","MaxAgeSingleFactor":"00:12:00","AccessTokenLifetime":"02:01:10"}}')]**, among these none of the values would not be honored from existing policies after **1st of May 2020** and from **1st March 2020**, creating new Azure AD Policies would be

[2019-11-04 09:51] AshokPeddakotla-MSFT commented on #41797
@Mo-GH Glad to hear that you go it working. Appreciate for sharing the resolution. If you still face any issues, please report [here](https://github.com/Azure/azure-iot-sdk-java/issues) for further help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-04 09:51] #41797 closed

[2019-11-04 09:55] KrishnaG-MSFT commented on #42007
re-assigning to Sadiqh to investigate.

[2019-11-04 09:58] ebashmakov commented on #30494
@mike-urnun-msft @KetanChawda-MSFT could you please provide an update? This question is really important and the doc has some inconsistency.

It says that the benefit of running from a package file:

What does it mean? If we need to restart then it means active invocations will be terminated, right?

[2019-11-04 10:02] amanmcse commented on #41743
Hello @johnz,

Thanks for reaching out.

I tracked the request based on the request ID that you shared and I found that the application is a multitenant app and user from a different tenant is trying to access the application. I have tried to replicate the issue that you shared at my end but I was successfully able to get all the scopes mentioned in the request.
1. Registered application in {tenan

[2019-11-04 10:02] dcurwin commented on #41780
#reassign:pvrk

[2019-11-04 10:03] SnehaAgrawal-MSFT commented on #41931
@paulpce Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-04 10:07] Haribo112 opened #42028 "Device State: Azure AD Joined"
Under device state, only the 'Hybrid Azure AD joined' and 'Device marked as Compliant' options exist. Why is there no option for 'Azure AD Joined'?

Scenario: I want to create a policy where people are not allowed to sign into specific mailboxes unless they either:
a) work from a trusted IP range (Named Location lets me do this)
or
b) work from an Azure AD Joined device (laptops)

This is a purely

[2019-11-04 10:07] souravmishra-msft commented on #41571
@rynothopter, As mentioned earlier, access tokens, refresh tokens and session tokens, all will still work as mentioned earlier. just that the way to configure them would change. Like to configure the Access Token lifetime, you will have to use that same old Powershell command and for Refresh token and Session Token lifetimes you will have to use the Conditional Access Policies.

**MaxAgeMultiFacto

[2019-11-04 10:07] #41571 closed

[2019-11-04 10:20] arkiaconsulting opened #42029 "SAS definition for a container"
Could you please elaborate on how to create a Key Vault SAS definition using a container SAS token ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f12d8d95
* Version Independent ID: e2497a7b-3b5f-554a-1a31-da540740fcc9
* Content: [Manage storage account keys with Azure Key Vault and the Azu

[2019-11-04 10:24] IronmanM commented on #41935
Hello @CHEEKATLAPRADEEP-MSFT ,

Thanks for your information,

I have tried the below script to create the Cluster with automation.
$Conn = Get-AutomationConnection -Name AzureRunAsConnection
Add-AzureRMAccount -ServicePrincipal -Tenant $Conn.TenantID -ApplicationId $Conn.ApplicationID -CertificateThumbprint $Conn.CertificateThumbprint
$subscriptionID = Get-AutomationVariable –Name ‘0b3079f7-d19c-4

[2019-11-04 10:35] dcurwin commented on #38276
Documentation corrected.

#please-close

[2019-11-04 10:35] #38276 closed

[2019-11-04 10:50] jmprieur commented on #33735
Fix is in progress

[2019-11-04 10:59] IronmanM commented on #41935
For Command :
$storageAccountKey = (Get-AzureRmStorageAccountKey –Name $storageAccount –ResourceGroupName $resourceGroup)[0].value

Getting Error:
Get-AzureRmStorageAccountKey : Cannot validate argument on parameter 'Name'. The argument is null or empty. Provide an
argument that is not null or empty, and then try the command again.
At line:1 char:58
+ ... ountKey = (Get-AzureRmStorageAccountKey –N

[2019-11-04 10:59] balivo opened #42031 "Problem when use routePrefix = "" and function Route = """
Hi everyone,

I have a problem with lastest update of Azure Functions...

I set my function route to "" and my routePrefix to "" too and when I made a call, the Function don't startup...

The result is "Your Azure Function App is up and running" page.

Tested with ALL HttpMethods on Postman.

Tks,

Balivo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-11-04 11:29] AshokPeddakotla-MSFT commented on #41841
@sujayvsarma Thanks!
@nogueiraantonio [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/94590) has been created to fix this. Changes will go live once it is merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-04 11:29] #41841 closed

[2019-11-04 11:31] baranowm commented on #42020
Hi,

I have the same issue, I have tried to drop and recreate the connection, but the error persists.

[2019-11-04 11:41] danandasarma commented on #42020
@hussnainahmed,
I too have the same issue. It worked fine on saturday (02/Nov/2019), but started failing from 03/Nov/2019.  I am using two different accounts for Azure IoT hub and Power BI. The same setup worked on 02/Nov.
Please let us know at the earliest on the fix.

[2019-11-04 11:48] RohitMungi-MSFT commented on #42027
@jbeltranluna Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-04 11:56] simonvane commented on #41139
Great, thank you @SnehaGunda .

[2019-11-04 11:57] ZamElek opened #42032 "SKU are missing"
[Enter feedback here]
1. There is no licenses:
MCOEV, EMPLOYEE_SELF_SERVICE, MCOMEETACPEA, PBI_PREMIUM_P1_ADDON, PHONESYSTEM_VIRTUALUSER, WIN_DEF_ATP, DYN365_BUSINESS_MARKETING, DYN365_CUSTOMER_INSIGHTS_VIRAL, CCIBOTS_PRIVPREV_VIRAL

2. Some licenses were renamed without "Enterprise" word  long time ago:
e.g.
OFFICE 365   ENTERPRISE E1 -> OFFICE 365 E1
OFFICE 365 ENTERPRISE E2 ->OFFICE 365 E2
OFFI

[2019-11-04 11:58] ynijsen commented on #30109
Why is this document still stating the wrong details.
Azure MFA is not supported, only a custom MFA that only supports text and voice messages. And conditional access is not possible as mentioned by others.

[2019-11-04 12:10] GerdTautenhahn commented on #40762
Same problem for me - without the username I don't the userlist. I don't understand why you can export all attributes but not the username (which is the email address).

[2019-11-04 12:27] tasador opened #42034 "timeTaken_d in access logs"
I'm confused about the access log timeTaken field description on this page.  It says "Length of time (in milliseconds)" while to me it looks that the time is expressed in seconds, but with a granularity of milliseconds.  Eg. the value for timeTaken is "30,004" for a request with a 504 return code (gateway timeout - which is set to 30s by default in application gateway).

Full description of timeTa

[2019-11-04 12:27] sb-roamler commented on #42020
Hi same issue here,
Just tried to add a new one with same account as others (I have 5 Pbi outputs in my Stream Analytics instance), User is the same, password is the same, older are still working, new one failed to test output.
Error message:
Stream Analytics job has validation errors: The token provided for 'OutputName' has either expired or is invalid. Please re-authorize or update the token and

[2019-11-04 12:27] AshokPeddakotla-MSFT commented on #42006
@mknarula I would suggest you, post your feedback on the [UserVoice](https://feedback.azure.com/forums/321918-azure-iot) forum and upvote. All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your re

[2019-11-04 12:27] #42006 closed

[2019-11-04 12:29] PramodValavala-MSFT commented on #42031
@balivo Thanks for the question! We will review and get back to you!

[2019-11-04 12:37] shashishailaj commented on #41746
@ghogen  Could you please review this one and provide your inputs on this ?

[2019-11-04 12:39] rohancragg opened #42035 "Missing NSG ServiceTag for MCR?"
We followed the steps to limit outbound traffic using an NSG as described in #limiting-outbound-from-vnet

When executing a run using ML Compute in the subnet we got errors as below.

I discovered a workaround is to add ServiceTag: MicrosoftContainerRegistry.[Region_Name] - (WestEurope in our case)

Errors:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-11-04 12:46] JurgenTurrekens opened #42036 "Duplicate where clause in example"
Computer perf records correlation contains duplicate 'and EndTime' where clause

let StartTime = now()-5d;
let EndTime = now()-4d;
Perf
| where CounterName == "% Processor Time"
| where TimeGenerated &gt; StartTime and TimeGenerated &lt; EndTime
and TimeGenerated &lt; EndTime
| project TimeGenerated, Computer, cpu=CounterValue

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-04 12:53] ofalk opened #42037 "Missing information about RHEL (Red Hat Enterprise Linux)"
Hi!

The mentioned page has information about some Linux distributions, but doesn't mention RHEL. I'd suggest to add RHEL to all sections that mention CentOS, since it's the same procedure.

Thanks,
 Oliver

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf700872-c02c-8d08-c185-d658f226580d
* Version Independent ID: 207

[2019-11-04 12:55] JoseMSoares-MSFT commented on #21382
@FrankHu-MSFT can you please re-open this issue as it is not yet resolved? thanks

[2019-11-04 12:58] msrini-MSFT commented on #42034
@tasador , yes, the timeTaken field is in millisecond units.

In your example, it is 30 seconds and 4 milliseconds and hence you got 504 as a timeout.

Can you compare other logs as well?

[2019-11-04 13:09] PramodValavala-MSFT commented on #42031
@balivo You can disable the homepage by setting an app setting with name [`AzureWebJobsDisableHomepage`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsdisablehomepage) to `true`.

Also, I believe you would need to set the function route to `/` for it to work.

[2019-11-04 13:21] Grayincarnation commented on #42020
I encountered the same error with the same scenario.
Renewing the authorization, or trying different PBI workspaces doesn't help.

Any update would be appreciated.

[2019-11-04 13:25] Gamecock commented on #41695
I solved the issue by not using Ubuntu.  I no longer need assistance.

[2019-11-04 13:25] #41695 closed

[2019-11-04 13:26] balivo commented on #42031
Hi @PramodValavala-MSFT, tks for answer but don't work.

I'm at localhost for testing...

When I set the route with "/" value the final route of Function put twice "//" like "http://localhost:7071//" but don't work, again...

If helps, I'm using Functions Extensions for DI at project.

Tks.

[2019-11-04 13:27] projexe opened #42040 "Configuration section"
This isn't very clear. When a refresh token is used to issue another auth and refresh token, does the refresh token have a new full 'refresh token lifetime'? or just the remaining lifetime from the old refresh token?

The use case states "Allow a user to stay signed in to a mobile application indefinitely, as long as the user is continually active on the application". What does this mean? Continua

[2019-11-04 13:36] PramodValavala-MSFT commented on #42031
@balivo Could you confirm if you've added the app setting to `local.settings.json`?

![image](https://user-images.githubusercontent.com/43602528/68124778-24123280-ff36-11e9-91da-21c1f317c611.png)

[2019-11-04 13:42] balivo commented on #42031
Yes... I did...

![image](https://user-images.githubusercontent.com/6210814/68125195-bba06280-feef-11e9-95c7-43fef2b4c1ae.png)

[2019-11-04 13:44] totipu commented on #42020
Hi,
the same situation here... When adding output it logs me in, shows my workspaces but when I choose my options and click save it saves it and then fails at test...

[2019-11-04 13:47] PramodValavala-MSFT commented on #42031
@balivo Could you share what the response is now? Do you still see the homepage?

[2019-11-04 14:22] MGoedtel commented on #40199
Article has been updated and should go live later today.  #please-close.

[2019-11-04 14:22] #40199 closed

[2019-11-04 14:25] falmada commented on #30283
Woohoo! Thanks @nabhishek! Missed that update from the other site, so this is really good news. Thanks!!

[2019-11-04 14:25] PeterBrouwer77 commented on #42020
Hi,
Same issue here. User interface says everything is OK, then the test fails…

[2019-11-04 14:25] NavtejSaini-MSFT commented on #41954
@reginbald Please convey if the above links were helpful. Or get back to us with more questions. We will close the thread by EOD if no questions.

[2019-11-04 14:26] NavtejSaini-MSFT commented on #41945
@frackham Please get back to us if any questions or if no questions we will go ahead and close this thread by EOD.

[2019-11-04 14:31] balivo commented on #42031
Sure...

The response is "No Content"

[2019-11-04 14:53] SadiqhAhmed-MSFT commented on #42029
@arkiaconsulting Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-04 14:54] VillainJoKeR commented on #34580
Adding CNAME entry according to the section "Map the temporary cdnverify subdomain" results in the following problem:

Since only "contoso.azureedge.net" exists and "cdnverify.contoso.azureedge.net" does not, we have no means to verify if our custom domain "cdnverify.www.contoso.com" is working or not by following instructions mentioned in section "Verify the custom domain".

If we add CNAME with

[2019-11-04 14:58] KrishnaG-MSFT commented on #42036
@JurgenTurrekens Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-11-04 15:01] SadiqhAhmed-MSFT commented on #42040
@projexe Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-04 15:03] SadiqhAhmed-MSFT commented on #42032
@ZamElek Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-04 15:04] ashemedai commented on #24936
@cynthn This issue is still open on the page in question. Can you, or any other MSFT employee, close this issue? The issue of the credentials should indeed be addressed by your documentation changes.

[2019-11-04 15:05] SadiqhAhmed-MSFT commented on #42028
@Haribo112 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-04 15:08] mmacy commented on #41904
Hello @liutang, the pricing information for Monthly Active Users (MAU) billing is now available on the [Azure AD B2C pricing page](https://azure.microsoft.com/pricing/details/active-directory-b2c/). Apologies once again for the delay.

One thing to note, as mentioned on pricing page, is that "Billing and subscription management support is provided at no cost." You can open a support request from t

[2019-11-04 15:08] #41904 closed

[2019-11-04 15:14] wkeithvan commented on #41972
No worries. In the future, it'd be awesome to see all Azure how-to articles clearly marked with the version(s) to which they apply and possibly even a small banner on the article marking that they are no longer the most recent version. You could even add a small bit of JavaScript on the pages that double checks the latest version from the package repos (PyPi in this case) to automate this message.

[2019-11-04 15:16] jason-theodorakopoulos commented on #42020
Same issue here. Started 2d ago.

[2019-11-04 15:21] MonikaReddy-MSFT commented on #41658
@dhananjaypatkar ,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion

[2019-11-04 15:21] #41658 closed

[2019-11-04 15:36] cwolansky-mm commented on #41803
Is there any known ways or workarounds to get Azure security center for IoT working on windows 10 IoT Enterprise, or are there other similar options?

[2019-11-04 15:38] #24936 closed

[2019-11-04 15:38] nphmuller opened #42043 "Please add steps on how to scale host pool manually."
Currently there are some scripts available that describe how to auto scale Windows Virtual Desktop. I cannot find a place however with which commands I can scale (Add/Remove) the VMs in the host pool manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID:

[2019-11-04 15:46] MicahMcKittrick-MSFT commented on #42037
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 15:46] MicahMcKittrick-MSFT commented on #42043
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-04 15:48] mlottner commented on #41803
@cwolansky-mm All supported options are listed and constantly updated when we add support. In terms of known ways or workarounds -no. You'll need native support for privileged containers which is missing in 10 IoT Enterprise. Workarounds or hacks to force it would also most likely have other issues which hadn't been tested or considered.
Have you reached out to the Azure Security Center for IoT pr