[2018-12-16 19:11] rotiwar commented on #5621
Hi @jason-j-MSFT , I am having the same issue as mentioned by @galabriel which is
{ "errorCode": "2108", "message": "Response Content is not a valid JObject", "failureType": "UserError", "target": "Web1" }
for a similar code as mentioned by @galabriel.
How to fix it??

[2018-12-16 19:51] maneeshbhat21 opened #20818 "Supporting Systems"
HI Team,
The content is perfect but wanted to bring some points as a suggestion:
Part1: Under supported system i dont see any mention about Linux system although while browsing other links in azure docs i could find it,would have been good to showcase at this section only so as to avoid multiple hopings or searching.

Part 2: One of the lines states :Azure Disk Encryption requires that your key va

[2018-12-16 19:54] maneeshbhat21 commented on #19138
thanks micah

regards
maneesh
________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, November 20, 2018 2:50 AM
To: MicrosoftDocs/azure-docs
Cc: maneeshbhat21; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Statement under Premium Managed Disks (#19138)

@maneeshbhat21<https://github.com/maneeshbhat21> you are correct. There are more than 3 types now :)

https://doc

[2018-12-16 21:16] mike-urnun-msft commented on #20553
Hi @jjaskulowski

Thanks again for reporting this and helping us drive improvement toward MS Docs! We have updated this documentation to reflect consistency on occurrences of `backendUri` property and its values: `www.example.com` should now read `https://<AnotherApp>.azurewebsites.net/api/<FunctionName>`

We will now proceed to close this thread. If there are further questions regarding this matt

[2018-12-16 21:16] #20553 closed

[2018-12-16 21:57] NitroAMD opened #20820 "Helm version issues"
Helm 2.12.0 causes -&gt; Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io at https://docs.microsoft.com/en-us/azure/aks/istio-install#install-the-istio-kubernetes-components -&gt; Solution for now: downgrade to Helm 2.11.0 (https://stackoverflow.com/questions/53697201/installing-istio-with-helm-on-minikube-fails)

---
#### Document Details

⚠ *Do not edit this section. I

[2018-12-17 00:08] dcbrown16 commented on #20083
@femsulu I'm still waiting for @GeethalakshmiG's confirmation that a restored VM would not have a SQL license. As I said, I received no response by email (from the other team).

[2018-12-17 01:23] imeya opened #20822 "where is the data stored, like the data from trackevents, track requests etc."
The data, which is sent by using trackevents, trackrequests etc., will be stored where? in azure blobs or databases ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4cb6c8f-80a5-3a49-3cc1-e194e5b98b16
* Version Independent ID: ef9c64e5-466d-9be2-df6a-39de8c76b1ad
* Content: [Data retention and storage in Azure Applica

[2018-12-17 01:30] kazshi commented on #20702
@femsulu @SadiqhAhmed-MSFT  I'd like to know if migrated of Windows Server 2008 R2 32 bit version is supported for VM Backup. Thanks.

[2018-12-17 01:45] jpreese opened #20824 "Article includes passing ID tokens to APIs"
Generally, passing ID tokens to an API is not a good idea. ID tokens are primarily meant for the client, and not the backing resources/APIs. Unless I'm missing something unique to B2C, I'd propose we make this clarification in the article.

Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b05bb7df-98fc-1342-640

[2018-12-17 02:20] beatgates opened #20825 "Link broken: 404"
The link of [server side programming] (https://docs.microsoft.com/en-us/azure/cosmos-db/programming) is returning a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e8d08b-7c18-5407-dc4f-fa7bbfe53fb3
* Version Independent ID: da35a785-c7fe-57e8-2d02-3daefd0284da
* Content: [Use Azure Cosmos DB explorer to manage yo

[2018-12-17 03:01] SaurabhSharma-MSFT commented on #20560
@jscaravilli We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 03:01] #20560 closed

[2018-12-17 03:01] SaurabhSharma-MSFT commented on #20635
@WebedMJ We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 03:01] #20635 closed

[2018-12-17 03:15] WatersJohn opened #20826 "Error in Direct access with OAuth section"
Hi, the spark.conf.set lines in the 'Direct access with OAuth' section should have commas between them instead of colons.  Ex: spark.conf.set("fs.azure.account.auth.type.&lt;account-name&gt;.dfs.core.windows.net", "OAuth")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Ind

[2018-12-17 03:15] markreno opened #20827 "Broken link"
The overview section has link "Configure Azure AD metadata values in the application (Sign on URL, Issuer, Logout URL and certificate)" which doesn't lead anywhere useful. That topic appears to be missing from this document … and it's an important topic to include.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a5938

[2018-12-17 03:15] markreno opened #20828 "Broken link"
The overview section has link "Configure Azure AD metadata values in the application (Sign on URL, Issuer, Logout URL and certificate)" which doesn't lead anywhere useful. That topic appears to be missing from this document … and it's an important topic to include.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2136c8d

[2018-12-17 03:41] neeleshray commented on #19195
We would proceed to close this thread now. Let us know if you require further assistance.

[2018-12-17 03:41] #19195 closed

[2018-12-17 03:42] neeleshray commented on #19382
We would proceed to close this thread now. Let us know if you require further assistance.

[2018-12-17 03:42] #19382 closed

[2018-12-17 03:42] neeleshray commented on #20487
We would proceed to close this thread now. Let us know if you require further assistance.

[2018-12-17 03:42] #20487 closed

[2018-12-17 04:12] SumanthMarigowda-MSFT commented on #20522
@ananth3010 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-17 04:12] #20522 closed

[2018-12-17 04:13] AshokPeddakotla-MSFT commented on #20810
@wooters Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-17 04:15] AshokPeddakotla-MSFT commented on #20811
@wooters Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 04:15] SumanthMarigowda-MSFT commented on #20405
@dpapkin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-17 04:30] ManojReddy-MSFT commented on #20626
@KbLev I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-12-17 04:34] SaurabhSharma-MSFT commented on #20813
@jgallucci32 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 04:38] CHEEKATLAPRADEEP-MSFT commented on #20825
@beatgates Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-17 04:38] AshokPeddakotla-MSFT commented on #20812
@wooters Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-17 04:44] SaurabhSharma-MSFT commented on #20809
@jgallucci32 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 04:54] SumanthMarigowda-MSFT commented on #20826
@WatersJohn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate

[2018-12-17 04:54] SaurabhSharma-MSFT commented on #20814
@jochem4207 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-17 05:03] AjayKumar-MSFT commented on #20620
@austvik, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply with more details about a scenario. We will gladly reopen the issue and continue the discussion.

[2018-12-17 05:03] #20620 closed

[2018-12-17 05:03] CHEEKATLAPRADEEP-MSFT commented on #20809
@ravikiran-srini “Allow access to Azure services” Yes/No button on the portal (Firewall settings page). Please note, enabling this feature would allow any traffic from resources/services hosted in Azure (not just your Azure subscription) to access the database.

SQL databases are protected by a firewall in Azure. By default, all connections to the server and the databases inside the server are rej

[2018-12-17 05:10] CHEEKATLAPRADEEP-MSFT commented on #19755
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-17 05:10] #19755 closed

[2018-12-17 05:14] KeiroKamioka0000 opened #20830 "RBAC?"
Sorry If I didn't read document well.

What kinds of RBAC should be allowed in order to use Cloud Shell / Power Shell.

If RBAC for Powershell exist, please consider to add to the documents.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0

[2018-12-17 05:15] AjayKumar-MSFT commented on #20816
@plzm, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-17 05:16] AndrewDitty commented on #20753
Hi @BryanTrach-MSFT,

I had the same issue as above when I was following the tutorial at https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app

I searched the Github page and found the following repo, which linked to the tutorial. https://github.com/Azure-Samples/flask-postgresql-app

This repo does not appear to match the tutorial, which it links to, however

[2018-12-17 05:19] SaurabhSharma-MSFT commented on #20815
@bdimag Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 05:21] SaurabhSharma-MSFT commented on #20820
@NitroAMD Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 05:39] SaurabhSharma-MSFT commented on #20818
@maneeshbhat21 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-17 05:40] tomas-weir commented on #20318
I can see the functionName in the template though:

                "activities": [
                    {
                        "name": "Azure Function1",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,

[2018-12-17 05:46] SaurabhSharma-MSFT commented on #20822
@imeya Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 06:04] ebrucucen commented on #19756
Hi @Grace-MacJones-MSFT , on 3rd step, how did you select ASE? I can't list ASE on the resource group it belongs. Even if I select the available resources (storage account, and IP Addresses), it does not let me to create an alert.
```Select the Subscription , Resource Group and select any resource type and resource (you won't be able to select ASE resource). Click on "add alert" on the bottom of t

[2018-12-17 06:14] kazshi opened #20831 "Migrating from ACS STS"
My customer uses ACS STS and looking for specific info (docs) of migrating ACS STS to SAS but it's not found. My understanding is that SAS has a similar model and it's different from STS as far as reading "Service Bus access control with Shared Access Signatures" (next page), and it means that they don't need to configure (migrate) for STS, correct? I'd like to make sure that since I couldn't find

[2018-12-17 06:32] ChiragMishra-MSFT commented on #20529
@thananstr Looks like ACI webservices are not designed for browser access as there is no configuration for CORS. I would recommend consuming the web service using Java/C#/Go/Python in the backend of your web app by following the tutorial in the doc.

@aashishb Is there a way to configure CORS in an ACI web service ?

[2018-12-17 06:36] jakaruna-MSFT commented on #20537
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-12-17 06:36] #20537 closed

[2018-12-17 06:45] imeya opened #20832 "Some questions about azure file share snapshots"
1. how about the cost of creates and delete snapshots?
2. can we change the snapshot's name? using powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (FAQ) for Azure Files](

[2018-12-17 07:10] ebashmakov opened #20833 "Group max size"
What is the maximum size of the groups? How many users could be there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae492dba-ca3f-ca77-3332-60698bdf0cb3
* Version Independent ID: 7d43c51a-35ee-4a4b-6e79-635cabf7adf1
* Content: [Quickstart - Azure SignalR Service REST API](https://docs.microsoft.com/en-us/azure/azure-

[2018-12-17 07:13] WebedMJ commented on #20635
Yes, still happens without normalizediatrics. Basically won’t accept anything with more than one source attribute “[]”.

Only seems to affect if “cn” is the target attribute.

[2018-12-17 07:17] 001appsec007 commented on #18292
Can you please give detailed configuration steps for v2 SKU Autoscale option ?

I verified in SouthEast Asia region Application Gateway interface - > Configuration
but no option displayed for Autoscaling.

And verified in UK West App GW as well but no luck

[2018-12-17 07:19] ManojReddy-MSFT commented on #20827
@markreno Thanks for reporting this. I have fixed the links accordingly. In step 14 of the section "Configuring single sign-on to non-gallery applications" , we mention "click Configure <application name> to access documentation on how to configure single sign-on in the application. Also, you has Azure AD URLs and certificate required for the application."

Let me know if you have any further ques

[2018-12-17 07:20] ravikiran-srini opened #20834 "Is Worker count same as Node count?"
Is Worker count same as Node count?
(or)
Is the Worker same as a Node?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71a91a5b-30c4-ce26-3ef0-85cef25590f1
* Version Independent ID: 0b5267ce-8f07-ebd7-be89-4b62b0ecc58f
* Content: [Configure performance for the Azure-SSIS Integration Runtime](https://docs.microsoft.com/e

[2018-12-17 07:23] ebashmakov opened #20835 "Create a group with a batch of users"
How to create (or update) a group with a bunch of users? For example I know users that will be in a group beforehand and I would like to do something like this:

[code]

How can I achieve that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae492dba-ca3f-ca77-3332-60698bdf0cb3
* Version Independent ID: 7d43c51a-35ee-4a

[2018-12-17 07:43] SnehaGunda commented on #20825
@beatgates thanks for pointing out the issue, I submitted a PR to fix it. The changes should be live tomorrow. We will close this issue now.

#please-close

[2018-12-17 07:50] 001appsec007 opened #20836 "WAF - AutoScaling Preview Configuration Steps"
We are looking for Azure WAF preview Auto scaling option configuration.

As per reference document below:
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant

Preview option should be available in South East Asia also but we didn't found this option either in South East Asia or UK WEST (not sure).

Configuration verified in Application Gateway

[2018-12-17 07:52] rkarlin commented on #8840
#please-close

[2018-12-17 07:54] Sethu2488 commented on #19704
It is being a more than a week. Kindly check and  let us know if there is any timeline.

[2018-12-17 07:57] swinarko commented on #20834
Yes and yes.

[2018-12-17 08:05] shortPause commented on #20768
Any updates for above!

[2018-12-17 08:14] imeya opened #20838 "When I enable the backup feature, the "create snapshot" button is missing from azure portal."
I followed this article to enable backup feature for azure file share, it works well. But suddenly I noticed that in the azure portal -&gt; file share, the "create snapshot" button is missing.

the "create snapshot" button is missing after enable backup feature:

![button-missing](https://user-images.githubusercontent.com/25738099/50074600-5b40fd80-0217-11e9-9149-2edcef6ccd95.JPG)

the "create sna

[2018-12-17 08:16] MattiasAng opened #20839 "Limitation on alert rules."
Documentation should be added to add a limitation for how many alert rules are allowed to be moved in one operation (both subscription and resource group).
If you have more than 100 alert rules connected (this includes for example Security baseline from Log Analyctics) the operation will fail with following:

'MoreThan100ResourcesNotSupported\\\\\\',\\\\\\'message\\\\\\':\\\\\\'Exception of type '

[2018-12-17 08:18] ManojReddy-MSFT commented on #20824
@jpreese Thanks for the feedback. We are investigating this and will provide an update  shortly.

[2018-12-17 08:34] raunakpandya commented on #19950
BTW, given that we haven't released the fix for this yet, I will open an issue on Service Fabric repo page and reference this there for more visibility. Will keep that issue open till we release a fix.

[2018-12-17 08:37] dpapkin commented on #20610
HI, a few more slight corrections needed, please.
1)
Create application security groups
An application security group enables you to group together servers with similar functions, such as web servers.

Select + Create a resource on the upper, left corner of the Azure portal.
In the Search the Marketplace box, enter Application security group. When Application security group appears in the search r

[2018-12-17 08:39] Grace-MacJones-MSFT commented on #20724
@TWolverson keep in mind that Key Vault references are currently in preview. With future improvements, you may be able to bypass this behavior. Assigning this to the author to evaluate and update this documentation as appropriate.

[2018-12-17 08:45] ManojReddy-MSFT commented on #20690
@tzelja219 I am following up to get an update on this issue. Let me know if you are still facing issues with MFA ?

[2018-12-17 08:48] jakaruna-MSFT commented on #19547
@pisees  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-12-17 08:48] #19547 closed

[2018-12-17 08:52] jakaruna-MSFT commented on #19549
@Romiko  I will close this out for now. If you need additional help please let me know and we can reopen and @ continue.

[2018-12-17 08:52] #19549 closed

[2018-12-17 08:53] #20825 closed

[2018-12-17 08:56] ChiragMishra-MSFT commented on #20693
@AidanP24 I went through the document and it worked as expected for me. Can you please verify that you haven't missed any step(specially steps #2 and #3) and in your code you are replacing "YourSubscriptionKey" with the key generated in the speech service.

Also, when you Start Debugging, and an exception occurs, Visual Studio will point and highlight the source-line which is causing the exception

[2018-12-17 09:02] ChiragMishra-MSFT commented on #20834
@ravikiran-srini We will go ahead and close this issue now. However, if you have further questions, feel free to comment.

[2018-12-17 09:02] #20834 closed

[2018-12-17 09:15] SadiqhAhmed-MSFT commented on #20702
@kazshi, Azure Backup doesn't support 32-bit version OS. You may leave your valuable feedback @https://feedback.azure.com/forums/258995-azure-backup?category_id=341227&filter=top&page=3

For now, we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-17 09:15] #20702 closed

[2018-12-17 09:18] pmcilreavy opened #20841 "Local Debugging of EventGridTrigger"
Is there anyway to locally debug an EventGridTrigger'd Azure Function without using ngrok? Could we use Postman to POST an event grid event direct to the function for instance ? I have attempted this but always get 'bad request'. Could you show an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae03e2fc-39bc-44

[2018-12-17 09:41] PramodValavala-MSFT commented on #20205
Glad that I could help! 😄

[2018-12-17 09:48] hf-kklein opened #20842 "Document is slighlty outdated: Example prompts do not match actual prompts"
The document states, that choosing a runtime is required while creating the project (`func init MyFunctionProj`). As of today, the prompt comes up when creating the fcuntion (`func new`). The document is not wrong, it just doesn't represent the actual behaviour of the bash commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-12-17 09:53] lgermain91 commented on #20730
Would it be possible in a config file, to have a custom ntp server  so that
i can add my company ntp server, because others are blocked by the firewall.

Le ven. 14 déc. 2018 à 18:06, António Sérgio Azevedo <
notifications@github.com> a écrit :

--
Laurent

[2018-12-17 10:14] ChiragMishra-MSFT commented on #20811
@wooters I am assigning this to the content author to have a look.

@PanosPeriorellis Can you please take a look at this one and update as required.

[2018-12-17 10:15] cephalin commented on #20753
@JoarGjersund @AndrewDitty https://github.com/Azure-Samples/djangoapp.git has now been made public. Sorry for the inconvenience and thanks for reporting.

#please-close

[2018-12-17 10:18] emanueleleoni opened #20843 "monitor-events not available az iot hub cli"
In order to read the telemetry from your hub by CLI, you have to enable IoT Extension with the following commands:
Add: az extension add --name azure-cli-iot-ext

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Version Independent ID: 7c6b3210-d878-0347-27af-199c2c00daa9
* Content:

[2018-12-17 10:25] christophkarner opened #20844 "Confusion about Get-AzureRMResourceID for listing all tenant subscriptions (onboarded tenants)"
*Use the **Get**-AzureRmResource cmdlet to list all registered tenants. Sign in to Azure (Add-AzureRmAccount) using the account you used for the initial registration. Here is an example of how to **add** a tenant:*

1.) "Get" and "add" are mixed together.
2.) Using the Cmdlet as documented does not list any subscriptions - however when adding a known subscription ID to the resource ID string, the

[2018-12-17 10:49] MikaVirkkunen opened #20845 "Layout broken"
There seems to be issue with one header since it shows this: "&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD" before this: "Log data collected by Azure Monitor can be analyzed with queries that quickly retrieve..." and that whole chapter seems to be bold text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e

[2018-12-17 10:52] ChiragMishra-MSFT commented on #20718
@kumaranpravin Such issues can be better handled on forums. For reaching out to a better audience, I would request you to create a forum thread with some more details here :

[MSDN Azure ML forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=MachineLearning)

I will go ahead and close this issue. Please feel free to comment if you want any more information.

[2018-12-17 10:52] #20718 closed

[2018-12-17 10:53] KetanChawda-MSFT commented on #20841
@pmcilreavy checkout this [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#local-testing-with-viewer-web-app) to test your function locally with viewer web app.

[2018-12-17 10:54] matheus-santoro opened #20846 "Change occurs at Subscription level or Vault level?"
Reading "Because the change occurs at the subscription level, all VMs go into this flow" makes me think all vaults will be on stack V2. The screenshot shows the upgrade being applied on a specific Vault. Will this single action apply on all other vaults?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cd4ce6-5

[2018-12-17 11:00] KetanChawda-MSFT commented on #20831
@kazshi Checkout this [blog](https://blogs.msdn.microsoft.com/servicebus/2018/05/18/acs-migration-guide/) for ACS Migration Guide.

[2018-12-17 11:10] ivanignatiev opened #20848 "No example with VMs in the same subnet"
There is no example with application order of NSG rules for VMs inside the same subnet.

In the real life today even if NSG is applied to subnet is limit communication between VMs inide the same subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e

[2018-12-17 11:46] AdamSharif-MSFT commented on #11340
Hi all,

It looks as if this bug has resurfaced in the portal:

![image](https://user-images.githubusercontent.com/40294242/50085219-50737200-01f1-11e9-8a4b-1d6a12ef31ad.png)

Thanks,
Adam

[2018-12-17 11:55] AdamSharif-MSFT opened #20850 "Portal is not allowing colon character in tag names"
Hi,

It appears that the issue reported in #11340 (closed) has resurfaced:

![image](https://user-images.githubusercontent.com/40294242/50085601-6cc3de80-01f2-11e9-9db6-7af4f182c4ed.png)

The portal does not allow a colon character in a tag name when a resource is created, however after it has been created it is possible to do so.
According to https://docs.microsoft.com/en-us/azure/azure-resource-

[2018-12-17 11:59] sirkubax opened #20852 "Missing important information on azcopy documentation"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/common/storage-use-azcopy-linux.md

Where is the list of all possible commands that this binary accepts?

EG - I'm looking for a flag to tell AZcopy not to override a file it one exist in the destination, similar to:

https://stackoverflow.com/questions/49849548/how-to-avoid-the-prompts-while-using-azcopy-on-linux-in-a-script

[2018-12-17 12:01] sirkubax opened #20853 "Terrible docs - missing most important feature - list of available commands or a link to it"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/common/storage-use-azcopy-linux.md

Where is the list of all possible commands that this binary accepts?

EG - I'm looking for a flag to tell AZcopy not to override a file it one exist in the destination, similar to:

https://stackoverflow.com/questions/49849548/how-to-avoid-the-prompts-while-using-azcopy-on-linux-in-a-script

[2018-12-17 12:05] sirkubax opened #20854 "How you pass /Y or /N parameter to quietly answer questions?"
azcopy --source /data/xyz --destination 'https://blobname.blob.core.windows.net/basket/xyz?sv=sastoken' --resume

Overwrite https://blobname.blob.core.windows.net/basket/xyz with /data/xyz? (Yes/No/All)

What flag should you add to answer No
is it `--quiet` + something else?

Where can I get info on `--quiet` flag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-12-17 12:36] lonevvolf opened #20855 "Linux documentation"
I have just done this for a Linux VM, and the only change I noticed was passing -Linux to Set-AzureRmVMOSDisk instead of -Windows.  Would be nice to update the documentation to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-

[2018-12-17 12:51] ChiragMishra-MSFT commented on #20844
@christophkarner Thanks for the feedback. We are currently investigating into it and will update you shortly.

[2018-12-17 12:52] ChiragMishra-MSFT commented on #20843
@emanueleleoni Thanks for the feedback. We are currently investigating it and will update you shortly.

[2018-12-17 13:06] shaloof1978 commented on #19033
When it will be publicly available?

[2018-12-17 13:10] jholovacs opened #20857 "referencing undefined vars?"
This tutorial uses "outputContainerSasUrl" but that's not defined anywhere in this article.  Do I really have to clone a github repository to complete this walkthrough? Why bother with a tutorial article at all then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independe

[2018-12-17 13:51] RavSalgado commented on #19033
It is publicly available, If I understand correctly it's just still in the public preview stage which means:

1)  It's excluded from Microsoft SLAs and Warranties

2)  Previews might not include customer support from Microsoft

3)  Preview might not be brought forward into General Release status.

Source:https://www.rmsource.com/blogsite/Pages/Microsoft-Azure---Public-Preview-Release-Status.aspx.

[2018-12-17 13:52] dominicbetts commented on #20730
Hi @lgermain91 - thanks for raising this issue. This issue is specific to using the dev kit, it's not a general requirement to have access to an NTP server to be able to communicate with IoT Hub. Can you raise an issue in the Dev Kit repo suggesting the config file here: https://github.com/Microsoft/azure-iot-developer-kit/issues

Thanks again, Dominic

[2018-12-17 14:04] mpantana opened #20858 "Boo!"
I'm disappointed in your choice to discontinue this tier. There are many scenarios that require the burst read / write capacity of the premium tier but can't justify the (exceptionally high) price of the non-RS tier.

As such, I'm actively researching moving off of SQL Database and back to a VM solution. Hate to, but too many times now (web/business then DTU, then vcore, now discontinuing RS) MS k

[2018-12-17 14:14] mamccrea commented on #18036
Hi @nkolchakov - we haven't heard from you in a while. Please re-open this issue if you still need assistance.

#please-close

[2018-12-17 14:30] austvik commented on #20620
Cloud Service "Worker Roles" solves the "has a main() method that is run at startup, independently of web calls.

I believe Service Fabric has a Stateless Service which gives you that. I do not believe App Service has something similar (you would probably have to rewrite to Azure Functions? Jobs?)?

[2018-12-17 14:39] ReneSTS opened #20861 "Upload"
I have the required permissions but the upload button is faded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea96d36c-ecca-def8-29bb-081f363f48ce
* Version Independent ID: c482444e-69a8-b31d-a7a8-ce24d8ff72f6
* Content: [Upload an Azure Service Management Certificate](https://docs.microsoft.com/en-us/azure/azure-api-

[2018-12-17 14:45] Pickell commented on #19887
Much appreciated!

Derek Pickell
INFRASTRUCTURE SPECIALIST
Desktop Services - Hardware & OS
Desktop & Collaboration, Shared Enterprise Services
11th Floor, 444 St. Mary's Avenue, Winnipeg, MB
The Great-West Life Assurance Company
Tel: 204-992-5775 (office)
Email : derek.pickell@gwl.ca<mailto:derek.pickell@gwl.ca>

Vacation Alert:
Dec 14th,  Dec 20th & 21st , Dec 31st

From: Markus Vilcinskas [mail

[2018-12-17 14:45] jpetitte opened #20862 "It's now possible to setup RBAC, but it's not clear how."
Setting up AKS with RBAC via Terraform is now possible, but it's not clear to me exactly how. I've also run across a few other folks in various GitHub issues struggling with the same thing.

It seems like the key is to implement https://docs.microsoft.com/en-us/azure/aks/aad-integration using Terraform, but there are some steps that do not obviously translate into AzureRM Terraform config. (for ex

[2018-12-17 14:46] francofs opened #20863 "az aks use-dev-spaces -g MyResourceGroup -n MyAKS requires az login in every attempt"
Also created a detailed issue here:
https://github.com/Azure/azure-cli/issues/8074

But basically whenever I run az aks use-dev-spaces -g MyResourceGroup -n MyAKS, it gives me:
Run 'az login' to login to Azure and try again.

Then I perform the az login again in my powershell session and when I try to run the command above again it kicks me out of my az session and I have to login again.

---
####

[2018-12-17 14:59] oleksandr-bilyk commented on #20735
@tfitzmac Thank you for reply. Creating additional parameter will cause ports duplications because we need two duplicating structures
1. list of objects with host, http, https ports for Public IP addresses, Load balancer rules and probes.
2. Array of ports just for Networks Security group.
Currently we already using such solution as you described.
However, please, consider following features:
1. I

[2018-12-17 14:59] ssaldi opened #20864 "Concierge Subscription azure functions"
I've gone through all of these steps, but it does not help to solve issue, it is still not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c381784
* Version Independent ID: 1e1c0232-aee5-59c9-fc1e-f8d7a8cf73a8
* Content: [How to troubleshoot Azure Functions Runtime is unreachable.](h

[2018-12-17 15:01] ellacroi commented on #20761
@jcortell I recommend submitting a support ticket on this topic via CPP, if you haven't already.

Is there a specific change to the content that you think would help users understand the situation or what to expect, given the difficult you've been having?

[2018-12-17 15:16] wesleyniels opened #20866 "WebApp Issue"
We have an issue with adding Application Settings to Azure.

We tried to use the following syntax:

DBPASSWORD: https://keyvaultcustomer.vault.azure.net/secrets/DBPASSWORD/f497fc2ea9d14f489cd0efafd7d679c8
or
@Microsoft.KeyVault(SecretUri=https://keyvaultcustomer.vault.azure.net/secrets/DBPASSWORD/f497fc2ea9d14f489cd0efafd7d679c8

Both seems not to be working. I double checked the Access Policies a

[2018-12-17 15:28] mapoitras opened #20867 "Is it possible that there are some dependecies missing?"
I create an external ASE and firewall and follow the instructions above to configure everything.  My ASE is healthy and running however I get an error everytime I try to create a Web App.

Steps to Reproduce.  I use instructions from this Page:  https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration

1.	 Create External ASE.
a.     Take note of all the App Service Mana

[2018-12-17 15:41] Mystere opened #20868 "There is no "Advanced Settings" in the Azure Monitor UI."
Is this actually Log Analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e03cab-8fc5-408c-66ec-f353080eebda
* Version Independent ID: c9d1d562-e428-d439-1831-d7e523a047eb
* Content: [Configure agent data sources in Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-data-sources#c

[2018-12-17 15:45] Mike-Ubezzi-MSFT commented on #20858
@mpantana Thank you for your honest feedback. Can you please suggest this feedback to the [Azure SQL User Voice forum](https://feedback.azure.com/forums/217321-sql-database).

[2018-12-17 15:46] larstbone commented on #14982
I'm getting this very same error with this CLI command, that once worked:

`az aks create --resource-group gammaK8sRg --name gammaK8sCluster --node-count 2 --enable-addons http_application_routing --generate-ssh-keys`

Also tried setting the VM size with this, and get the same error:

`az aks create --resource-group gammaK8sRg --node-vm-size DS2_v2 --name gammaK8sCluster --node-count 2 --enable-ad

[2018-12-17 15:49] tfitzmac commented on #20735
@bmoore-msft - do you know of a way to create an array of integers from one property on an array of objects? Copy doesn't seem to work because it creates an array of objects. createarray works but would require a hardcoded number of elements.

[2018-12-17 16:22] larstbone commented on #14982
Tried creating AKS in centralus manually via the Azure Portal and could not select any VM size.  The button was greyed out.  But changed location to eastus and then could select a vm size.   I know I created AKS cluster in centralus previously.

It seems that both the CLI and Azure Portal fail to indicate the real problem, that AKS cannot be created on centralus.

Incidentally, added `--location e

[2018-12-17 16:40] doodlemania2 opened #20870 "Why a Dedicated Page for PGSQL but not Others?"
The OSBA has modules for MySQL, KeyVault, etc etc...why no pages on them but there is a page on PG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 702c42c6-2f4c-6f58-6f7e-09d5d1545705
* Version Independent ID: 346b5b91-d9c0-4b13-0897-e8155f476fae
* Content: [Connect Azure Kubernetes Service (AKS) with Azure Database fo

[2018-12-17 16:46] Mike-Ubezzi-MSFT commented on #12215
@smoms @toffolom Please take a look at the following Stack Overflow thread ([Azure Service Bus - Receive Messages with OnMessage() Method](https://stackoverflow.com/questions/40596942/azure-service-bus-receive-messages-with-onmessage-method)), as it addresses multiple items. Let us know what it doesn't address.

[2018-12-17 16:55] msmimart commented on #19238
@marcelofelman Thanks so much for pointing this out. I'm submitting a change now to fix the URL in the note. I also appreciate your suggestion to include steps for testing out the process. I've added it to my documentation backlog to address as soon as I can. Thanks again! #in-progress

[2018-12-17 17:01] jcortell commented on #20761
Done. Thanks

On Mon, Dec 17, 2018, 15:01 Lizzie LaCroix <notifications@github.com wrote:

[2018-12-17 17:24] MicahMcKittrick-MSFT commented on #20857
Thanks for the question! We are investigating and will update you shortly.

[2018-12-17 17:24] MicahMcKittrick-MSFT commented on #20855
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 17:32] kazshi commented on #20831
@KetanChawda-MSFT Yes I checked the blog article, and I read ACS STS cannot (?) be migrated and needs to be implemented as a function 'if necessary' from "We have a sample on how to create a Security Token Service (STS) to issue SAS Tokens to trusted applications." Please correct me if my understanding is wrong.

[2018-12-17 17:34] Adam-Smith-MSFT commented on #20853
@sirkubax Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-17 17:34] strange-walker opened #20872 "typo"
[Enter feedback here]

Looks like source options are mixed up:

Failover | Source | Target
-- | -- | --
Hyper-V managed by VMM to Azure | **VMM display name** | Azure
Hyper-V without VMM to Azure |  **Hyper-V site name** | Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd7f6901-6d9a-8749-a632-6d874406256a
* Versi

[2018-12-17 17:36] bmoore-msft commented on #20735
Unfortunately no good way to create a dynamic array in the language today... it's on the backlog.

[2018-12-17 17:37] olavt opened #20873 "Error when following steps"
I followed the steps, but when running the "01.run-experiment.ipynb" notebook in the Azure Notebook service, I got:

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
&lt;ipython-input-4-a12c00eb6293&gt; in &lt;module&gt;
     28 with open("pi_estimate.txt","wb") as f:
     29     pickle.dump(str(

[2018-12-17 17:41] Adam-Smith-MSFT commented on #20854
@sirkubax What specific version of Azcopy are you using?
what are the messages you are receiving/trying to override ?

This is from V10, when adding any command + -h , it should provide the manual/options available:

azcopy_windows_amd64_10.0.1>azcopy_windows_amd64.exe copy -h

Copies source data to a destination location. The supported pairs are:
  - local <-> Azure Blob
  - local <-> Azure File

[2018-12-17 17:45] Mike-Ubezzi-MSFT commented on #13693
This is a forum question but looking into this now. The MSDN and Stack Overflow forums have more eyeballs looking at questions. This channel is specific to correcting/enhancing the documentation. If this information is something that could enhance the documentation, we can look into adding it, etc. Thanks, Mike!

[2018-12-17 17:46] mrbullwinkle commented on #20822
@imeya we talk about that a bit in this article: [https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collection#viewing-log-data](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collection#viewing-log-data). If you use [continuous export](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry?toc=/azure/azure-monitor/toc.json) y

[2018-12-17 17:49] Adam-Smith-MSFT commented on #20832
@imeya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-17 17:50] LuisGonzalezLT commented on #13693
Yeah - I put a formal feature request in for it over in the "How can we
improve Azure SQL Database?" forum.  Thanks :-)

On Mon, Dec 17, 2018 at 12:45 PM Mike Ubezzi <notifications@github.com>
wrote:

[2018-12-17 17:51] mike-urnun-msft commented on #20842
Hi @hf-kklein

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-17 17:53] not-an-IT-pro opened #20874 "Process as above fails .. but can be fixed"
As "not an IT pro" I followed *explicitly* the process above, but continually got an IP assigned to my local Win10 PC ending in .0 which of course fails. Simple remedy. Delete the first VPN created on the W10 PC and create another one. Next IP assigned is not .0 but .1 or .2 and works just fine.

VERY frustrating. Had I known this earlier (didn't understand the CIDR exclusion of .0) I wouldn't hav

[2018-12-17 17:57] Karishma-Tiwari-MSFT commented on #20862
Thanks for the question. We are currently investigating and will update you shortly.

[2018-12-17 17:57] mike-urnun-msft commented on #20864
Hi @ssaldi Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-17 17:57] MarileeTurscak-MSFT commented on #20830
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 17:58] MarileeTurscak-MSFT commented on #20850
@AdamSharif-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 18:00] MarileeTurscak-MSFT commented on #20836
@001appsec007
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 18:01] MarileeTurscak-MSFT commented on #20852
@sirkubax
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 18:03] MarileeTurscak-MSFT commented on #20866
@wesleyniels
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 18:04] MarileeTurscak-MSFT commented on #20866
@wesleyniels can you please link the Microsoft document that you are referring to so that we can properly troubleshoot your issue?

[2018-12-17 18:04] mrbullwinkle commented on #14809
This functionality has been deprecated, a note has been added to the doc to acknowledge the deprecation.

[2018-12-17 18:05] Mike-Ubezzi-MSFT commented on #13693
I have a question out to an individual. I will get back with you....

[2018-12-17 18:05] mrbullwinkle commented on #14809
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-17 18:05] tfitzmac commented on #20735
@oleksandr-bilyk - thanks for this example and feedback. At this point, there is not an update we can make to the documentation, but we will update it when the capabilities change.

[2018-12-17 18:06] tfitzmac commented on #20735
#please-close

[2018-12-17 18:06] #18036 closed

[2018-12-17 18:06] robertpwagner opened #20875 "Pre-steps for secrets rotation"
In the pre-steps section of this article, it states: "Ensure secret rotation hasn't been successfully executed on your environment." My question to Microsoft is: What command(s) may be used to determine "IF" a secrets rotation has previously taken place? And whether or not it was successful?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-12-17 18:07] olavt opened #20876 "deploy-web-service.ipynb used deprecated function"
When running the deploy-web-service.jpynb, I get this error:

model = run.register_model(model_name = "pi_estimate", model_path = "outputs/pi_estimate.txt")
Deprecated, use RunHistoryFacade.assets instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae9c8cf-5f68-9baa-1660-118208034381
* Version Independent ID: 48d3

[2018-12-17 18:08] BharathNimmala-MSFT commented on #14809
Thank you Michael.

[2018-12-17 18:08] #14809 closed

[2018-12-17 18:12] mrbullwinkle commented on #15445
The doc was updated on [September 26](https://github.com/MicrosoftDocs/azure-docs/commit/b22d4cc70ece7fd9a4f531715126bfd810388b67#diff-e86e1519b44b9c93484cd1220fe08d40) to address this issue.

[2018-12-17 18:12] mrbullwinkle commented on #15445
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-17 18:13] BharathNimmala-MSFT commented on #15445
Thank you Michael.

[2018-12-17 18:13] #15445 closed

[2018-12-17 18:16] patpicos opened #20877 "VM NSG"
Does the firewall for each VM need to be opened for port 80?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1e0765-a7aa-6e76-3aca-751dc8a531dc
* Version Independent ID: e95861b3-cfd3-2b75-95e8-1c0176ba79f2
* Content: [Quickstart - Direct web traffic with Azure Application Gateway - Azure portal](https://docs.microsof

[2018-12-17 18:17] #20877 closed

[2018-12-17 18:19] BryanTrach-MSFT commented on #20835
@ebashmakov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 18:20] wesleyniels commented on #20866
Hi Marilee,

It's regarding this Microsoft Document:
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

Gr.
Wesley

[2018-12-17 18:20] rbrayb opened #20878 "Wrong URL"
There are two ways to do this; with a web site or with blob storage.

"https://mystore1.azurewebsites.net/b2c/customize-ui.html" refers to a web site but the example uses blob storage.

This link should be the example in the XML i.e.

"https://your-storage-account.blob.core.windows.net/your-container/customize-ui.html"

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-12-17 18:21] BryanTrach-MSFT commented on #20867
@ebashmakov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 18:23] LuisGonzalezLT commented on #13693
Much appreciated.

On Mon, Dec 17, 2018 at 1:05 PM Mike Ubezzi <notifications@github.com>
wrote:

[2018-12-17 18:27] patpicos opened #20879 "Invalid VM Sku for EUS"
WHen running the vm scale set creation, the sku is not avail in the region this lab uses. Change to Standard_DS2_v2

patrick_picard@Azure:~$ az vmss create \
&gt;   --name myvmss \
&gt;   --resource-group myResourceGroupAG \
&gt;   --image UbuntuLTS \
&gt;   --admin-username azureuser \
&gt;   --admin-password Azure123456! \
&gt;   --instance-count 2 \
&gt;   --vnet-name myVNet \
&gt;   --subnet m

[2018-12-17 18:30] maneeshbhat21 opened #20880 "ADE Support for Replicating VM across regions for DR"
Hi team,
I am unsure about the statement for support matrix of replicating encrypted VMs between regions.
Since now azure supports ADE without Azure AD app and we have VMs hosted in West europe encrypted without Azure AD app ,but the supported matrix doesnot say anthing VM which are encrypted without azure ad app.

Listed under section :Replicated machines - storage
Supported
Azure Disk Encryption

[2018-12-17 18:32] jason-j-MSFT commented on #20868
@Mystere
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 18:36] hning86 commented on #20873
This is a known bug on Azure Notebook Service. The team is working on a solution. Meanwhile there are 2 workarounds:

1.	Try restart the kernel (and do it again if it still doesn’t work)
2.	Use an absolute path to read the pi_extimate.txt file.

[2018-12-17 18:38] tchmiel opened #20881 "dataflow = dprep.read_excel(path=full_filename, sheet_name='Sheet1', use_header=True, skip_rows=2)"
Today, I started to get an error on the following line:
dataflow = dprep.read_excel(path=full_filename, sheet_name='Sheet1', use_header=True, skip_rows=2)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78130a41-a76a-d577-884d-ab93c1cd923a
* Version Independent ID: edfe184d-7267-36b3-fe34-b085a504ec8f
* Content: [Load:

[2018-12-17 18:41] tchmiel commented on #20881
Sorry, submitted before finishing:

The error message is:
TypeError: read_excel() got an unexpected keyword argument 'use_header'

Fails on multiple excel files.

Excel file worked last week, did I reinstall Conda/automl_setup over the weekend.
Did something change?

[2018-12-17 18:47] tfitzmac commented on #20773
@Fodsuk - thanks for suggesting this addition. I am adding that clarification to the article. It should get published this afternoon.

[2018-12-17 18:48] tchmiel commented on #20881
Simple testcase:

jupyter notebook cell:
import azureml.dataprep as dprep
full_filename = "./Book1.xlsx"
dataflow = dprep.read_excel(path=full_filename, sheet_name='Sheet1', use_header=True)
dataflow.head(5)

Simple ./Book1.xlsx, same directory,  each value in a different cell, then create Insert-->Table.
A, B, C, D
1, 2, 3, 4
5, 6, 7, 8

[2018-12-17 18:52] Farhan1998 commented on #15971
I don't think the 'predictions[0]' is correct. The previous line 'predictions' is correct only. Please re-run the code.

[2018-12-17 18:53] roygara commented on #18760
Closing since there has been no response, and there *is* minute metrics in the article already.

#please-close

[2018-12-17 19:02] femsulu commented on #20872
@strange-walker thanks for bringing this to our attention. I just reviewed the doc and it looks accurate. It's possible the typo has been previously resolved. No closing this issue.
![image](https://user-images.githubusercontent.com/34327711/50108752-efe13680-01ea-11e9-9083-27024fdc89f7.png)

[2018-12-17 19:04] femsulu commented on #20846
@matheus-santoro Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-17 19:06] #20872 closed

[2018-12-17 19:06] bandersmsft commented on #20793
@javieracrich Thanks a bunch for catching this.
#in-process

[2018-12-17 19:07] triadadvisors commented on #20464
Agreed. None of the options mentioned in the doc are available. (I can restore but not determine backup schedule in place or retention period.)

[2018-12-17 19:09] femsulu commented on #20845
@MikaVirkkunen Thanks for bringing this to our attention. Assigning to Content owner to resolve.
@bwren - FYI.
![image](https://user-images.githubusercontent.com/34327711/50109285-2cf9f880-01ec-11e9-8b14-6efc6e4039a7.png)

[2018-12-17 19:11] YutongTie-MSFT commented on #15971
@Farhan1998  Thanks, I will check again.

[2018-12-17 19:11] femsulu commented on #20839
@MattiasAng
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-17 19:14] femsulu commented on #20838
@imeya , good question. I am investigating this issue and will update soon.
@rayne-wiselman  - fyi

[2018-12-17 19:18] Lroca88 opened #20882 "Can't get Item from Collection when there is a Partition Key"
If you add a collection that has a partition key, then the getItem() method won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ad84a6-f6b6-dd21-e7be-865d922c7ad4
* Version Independent ID: 1f5a0315-d7b4-3f8f-3b1d-ae90c807859d
* Content: [Tutorial: Build a Node.js web app using JavaScript SDK to manage Azure Co

[2018-12-17 19:25] mrbullwinkle commented on #19722
Changes to address this issue are now live thanks to @lgayhardt!

[2018-12-17 19:30] kobulloc-MSFT commented on #20863
@francofs Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-12-17 19:30] tfitzmac commented on #20839
@MattiasAng - thanks for suggesting this addition. Are you referring specifically to the microsoft.insights/alertrules resource type?

[2018-12-17 19:30] mrrandall40 opened #20883 "Data Factory End Points"
Can Data Factory read a messaging endpoint?  Azure Service Bus Topic or Queue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a01646-5c18-5ea1-c94d-dcd1628323b5
* Version Independent ID: e808d7e3-d1b8-23e1-2c7b-e00320d78147
* Content: [Azure Data Factory: Frequently asked questions](https://docs.microsoft.com/en-us/a

[2018-12-17 19:31] seguler commented on #20801
@elproducto - see the recent blog we published which features a React app that provides a file browser experience.

https://azure.microsoft.com/en-us/blog/static-websites-on-azure-storage-now-generally-available/

[2018-12-17 19:31] MicahMcKittrick-MSFT commented on #20737
@clangnerakq you should check the resource group that is automatically created when you deploy a container instance. The name resource group name will be something like MC_*****

This will be different than the resource group you deployed to but it is generated by the platform so you would need to manually search for it.

[2018-12-17 19:33] kashimiz commented on #20740
Thank you for taking care of this correction, @KetanChawda-MSFT.

We should probably also update the [monitor](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-monitor#visual-studio-sample-code) and [human interaction](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-phone-verification#visual-studio-sample-code) Visual Studio sample c

[2018-12-17 19:35] MicahMcKittrick-MSFT commented on #20802
@mohmdnofal thanks for pointing this out. I have submitted the fix. Once the PR merges the changes will go live in a few hours.

[2018-12-17 19:35] #20802 closed

[2018-12-17 19:39] MicahMcKittrick-MSFT commented on #20768
@shortPause I ran through the steps but did not see any errors when running Install-Package Microsoft.Azure.Management.Fluent

What version of Visual Studio are you running? Did you check for any VS updates yet?

[2018-12-17 19:45] oleksandr-bilyk commented on #20735
Thank you @tfitzmac and @bmoore-msft

[2018-12-17 19:49] JoshDouglasOU commented on #16689
Does anyone have any info on this.  I'm looking to add a customlog but by Timestamp and can't find anything about the properties.

[2018-12-17 19:51] gokhanoner commented on #15282
Can you confirm if this endpoint exists?

I can see this doc: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http

When I try to run the query, I get below:

[code]

[2018-12-17 20:02] scott1138 commented on #16689
@JoshDouglasOU  I managed to get some info back from the log analytics team via support. It's in an ugly table, so I can't post it here.  I've been meaning to get some time to update the docs page myself, but I've been super busy.  Email me at scott.heathAToutlook.com and I'll send you the info.

[2018-12-17 20:02] richrundmsft commented on #16689
@MeirMen are you able to assist @JoshDouglasOU ?

[2018-12-17 20:03] SubhashVasarapu-MSFT commented on #20701
@FrankSandqvist I have assigned this to content author for investigating on this.

[2018-12-17 20:04] bwren commented on #20613
Sent to engineering team. Waiting on response.  #in-progress

[2018-12-17 20:04] bwren commented on #20546
Sent to engineering team. Waiting on response.  #in-progress

[2018-12-17 20:04] rachel-msft commented on #20870
@doodlemania2 The Azure Database for MySQL page has similar documentation: https://docs.microsoft.com/en-us/azure/mysql/concepts-aks.

Please note that for both  Azure Database for PG and MySQL this is mostly a reference to the OSBA home page, which does have documentation on Postgres, MySQL, Key Vault and all other services it is available for. Please give feedback to the OSBA team if you have qu

[2018-12-17 20:05] bwren commented on #20814
Thanks, we just merged the pull request to get this fixed.  #please-close

[2018-12-17 20:05] bwren commented on #20845
Thanks, we just merged the pull request to get this fixed.  #please-close

[2018-12-17 20:07] SaurabhSharma-MSFT commented on #20762
@jcortell sorry but at this GitHub documentation repo we do not look into the issues related cloudpartner website.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it with the respective Microsoft documentation page https://docs.microsoft.com/en-us/azure/active-directory/ and we will gladly continue the discussion.

[2018-12-17 20:07] #20762 closed

[2018-12-17 20:08] SaurabhSharma-MSFT commented on #20650
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 20:08] #20650 closed

[2018-12-17 20:08] SaurabhSharma-MSFT commented on #20656
@cvasquez123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 20:08] #20656 closed

[2018-12-17 20:08] SaurabhSharma-MSFT commented on #20745
@toddjohnson39 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 20:08] #20745 closed

[2018-12-17 20:09] tariqjaber opened #20886 "Connectivity matrix"
Hello,
Is there a list of minimum required IP address that are used by Azure AD to connect to SCIM endpoint? so SCIM endpoint:9000 is not exposed to all internet range or to all ip range listed in https://www.microsoft.com/en-gb/download/details.aspx?id=41653 because for sure not all of this range will be used to connect to scim endpoint:9000 .

---
#### Document Details

⚠ *Do not edit this secti

[2018-12-17 20:10] SaurabhSharma-MSFT commented on #20700
@OzBob We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 20:10] #20700 closed

[2018-12-17 20:13] SaurabhSharma-MSFT commented on #20765
@noobling Are you following any specific Microsoft documentation on vision API as I do not see mention of vision API in the current document you have created this issue.

[2018-12-17 20:28] johnthcall opened #20887 "Lack of service fabric support should be called out here"
Since vmss supports AZ I expected that service fabric did as well. As confirmed here: https://github.com/Azure/service-fabric-issues/issues/1229 and offline with the service fabric team this is planned work but without any dates committed yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5880e85-75e2-21b0-0f7e-b7541

[2018-12-17 20:31] jason-j-MSFT commented on #20623
@ShubhaVijayasarathy could you take a look at this issue?

[2018-12-17 20:31] SaurabhSharma-MSFT commented on #20766
@xyz92 You can use `Register-AzureRmResourceProvider`  for registering a new SendGrid.Email provider.   On create a new SendGrid Account blade select "Automation Options" and you will be presented with Template, PowerShell options with the JSON template to register the SendGrid Resource Provider. See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/50113662-70a62f80-0

[2018-12-17 20:32] #19259 closed

[2018-12-17 20:34] MarileeTurscak-MSFT commented on #20749
You would want to use Azure Identity Protection to set up notification emails for users with leaked credentials. https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview

The guide and Github sample below gives detailed instructions for how to set up User Compromised Emails and a Weekly Digest Report. https://github.com/aavinashjha/azure-content/blob/master/articles/act

[2018-12-17 20:34] MarileeTurscak-MSFT commented on #20749
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-17 20:34] #20749 closed

[2018-12-17 20:34] annerajb opened #20888 "Provisioning Synchronization logs not shown on the Audit Logs."
I am having issues with the provisioning not pulling from AWS some roles I added after the first Admin one.

I have Tried refreshing/forcing the sync using Test Connection but it does not seem to do anything.
The synchronization details window at the bottom it's useless since it does not show a error.

And the Link that says View the Account Provisioning Category in the audit logs for full details

[2018-12-17 20:35] CeciAc opened #20889 "Backup tool 이 잘못 기재되어 있습니다."
@ashurei commented on [Thu Dec 13 2018](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/261)

비즈니스 연속성 &gt; 개요 페이지에서 MySQL 에는 pg_dump, PostgreSQL 에는 mysqldump 로 기재되어 있네요. 서로 뒤바뀐 것으로 보입니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 0eb2cae6-197f-94b4-53ba-12f99dff5a4e
* Version Independent ID: 259006d1-760e-b2fa-d0bb-6e952b951e3a
* Content: [Az

[2018-12-17 20:36] jason-j-MSFT commented on #20631
@linda33wj should REST instructions be added?

[2018-12-17 20:36] CeciAc commented on #20889
Hi team,
Moving this issue to the en-US repo since it's confirmed as source issue
best

[2018-12-17 20:36] MarileeTurscak-MSFT commented on #20866
@wesleyniels thanks!

[2018-12-17 20:37] SaurabhSharma-MSFT commented on #20814
@jochem4207 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-17 20:37] #20814 closed

[2018-12-17 20:37] Karishma-Tiwari-MSFT commented on #17211
The changes to the doc have been merged. Closing the issue now.

[2018-12-17 20:37] #17211 closed

[2018-12-17 20:40] rachel-msft commented on #20889
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61082 merged. Fixes issue.

[2018-12-17 20:47] jeevansd commented on #20888
@annerajb This does not require premium license here. Our User Provisioning service will fetch all the roles from AWS Account to Azure AD. The summary will show the message once the roles are imported
You have to wait for 40 min as the sync service runs every after 40 min. After that when you go to Users and Groups for the app then while assigning the application you will see the AWS roles for the

[2018-12-17 20:52] mrbullwinkle commented on #20646
@isamllr thanks again for reaching out with your question. I also modified the doc to remove the "a lot of data" language. The change is merged internally and will go live in the public docs between 3-4 PM UTC -8.

[2018-12-17 20:53] mrbullwinkle commented on #20646
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-17 20:54] BharathNimmala-MSFT commented on #20646
Thank you Michael

[2018-12-17 20:54] #20646 closed

[2018-12-17 20:54] jeevansd commented on #8137
@chetansriv can you please check this again?

[2018-12-17 20:57] mike-urnun-msft commented on #20342
Hi @gwalters69

We'd like to work more closely with you to address the particular issue that you're encountering. Could you reach out to us via email at azcommunity@microsoft.com with your subscription ID as well as the URL of this issue included in your email?

I've gone through the steps of this doc again just to double check every step, and didn't run into any issues and the solution worked as

[2018-12-17 20:57] #20342 closed

[2018-12-17 21:06] CelesteDG commented on #20356
The fix is now live.
#please-close

[2018-12-17 21:06] MarileeTurscak-MSFT commented on #20833
@ebashmakov
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 21:07] MarileeTurscak-MSFT commented on #20848
@ivanignatiev
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 21:07] MarileeTurscak-MSFT commented on #20861
@ReneSTS
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 21:10] Mike-Ubezzi-MSFT commented on #20542
@Anmolgan81 The answer appears to be 4 for all subscription models except Enterprise Agreement which has a limit of 12 instances but, what you are really looking for is the Business Critical service tier for Managed Instance, which has become available December 1, 2018 per this announcement: [Azure SQL Database managed instance business critical tier](https://azure.microsoft.com/en-us/updates/azur

[2018-12-17 21:10] CelesteDG commented on #20656
Hello @cvasquez123 - Just a quick addition to the info from @SaurabhSharma-MSFT, specifically about the first link. The first link is specific to our v1.0 endpoint. There's an equivalent topic for the v2.0 endpoint here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow. Thank you.

[2018-12-17 21:12] MarileeTurscak-MSFT commented on #20878
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 21:15] erhopf commented on #19235
#please-close
There are now quickstarts in C#, Node.js, and Python.

[2018-12-17 21:16] Mike-Ubezzi-MSFT commented on #13693
@LuisGonzalezLT Okay, so there is no solution to this at the moment. The User Voice is the best channel to address this. Thanks for following up!

[2018-12-17 21:17] CelesteDG commented on #9919
Tracking this work item separately and is in my backlog in Azure DevOps.
#please-close

[2018-12-17 21:17] MarileeTurscak-MSFT commented on #20878
Thanks, @rbrayb ! I created a pull request for review by @davidmu1
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61151

[2018-12-17 21:17] #20878 closed

[2018-12-17 21:19] olavt opened #20891 "Tutorial #1: ImportError: No module named 'azureml.core'"
When running the "img-classification-part1-training.ipynb" tutorial in the Azure Notebook service, I got this error:

%matplotlib inline

import numpy as np

import matplotlib

import matplotlib.pyplot as plt

​

import azureml

from azureml.core import Workspace, Run

​

# check core SDK version number

print("Azure ML SDK Version: ", azureml.core.VERSION)

---------------------------------------

[2018-12-17 21:22] eragonriddle opened #20892 "Managed Service Identity For Linux Function App"
Not able to get secrets from Key Vault using managed service identity in a linux function app (runtime 2.0).
1. Enabled MSI for function app under platform features
2. Provided access to the function app in key vault access policies
3. Added the secret in application settings for the Function app as mysecret=@Microsoft.KeyVault(SecretUri=<....>)
4. When access the environment variable mysecret in

[2018-12-17 21:30] CelesteDG commented on #13350
@Captainlonate and @usamamashkoor - Can you please confirm that this is the quickstart that you followed: https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS (the link in this thread should be redirecting to this now)?

CC @navyasric - This is related to the Node.js quickstart on Github

[2018-12-17 21:31] annerajb commented on #20888
Yes It has ran multiple times.
it's initial import was 4-5 hours ago when I followed the guide and it imported the admin role.
About a hour afterward I setup a second role and waited until it showed that it had refresh after I made my changes in the provisioning section.

After it did (two times) still only shows one role imported.
I wanted to see more data/information therefore I clicked the audi

[2018-12-17 21:31] aashishb commented on #20346
@strategywise , can you share your subscription id so that we can see why you're not able to attach the cluster?

[2018-12-17 21:32] strategywise commented on #20346
10d1f9b3-aca4-4ce9-ad6e-af6c4df78012

Casey Phillips
Director of IT
Office | 888.623.3282
[cid:75bd6752-cee3-4326-a9b0-86cc91a8b39b]
505 20th Street North, #975
Birmingham, Alabama 35203
StrategyWise.com<https://strategywise.com/>
<https://strategywise.com/>

________________________________
From: aashishb <notifications@github.com>
Sent: Monday, December 17, 2018 3:31:29 PM
To: MicrosoftDocs/azur

[2018-12-17 21:33] strategywise commented on #20346
Sure, can you provide me an e-mail address for that?

[2018-12-17 21:35] aashishb commented on #20346
aashishb@microsoft.com

[2018-12-17 21:41] danimir commented on #15669
In addition, when you click on "Click here to change settings ->" you should be able to configure Query Store yourself. Perhaps your Query Store was on, and then the storage space filled up, this is a common issue for that message shown. If this is the case, storage space needs to be either expanded, or cleared, or database workload needs to be optimized to fill less of the Query Store space. How

[2018-12-17 21:53] nromyn commented on #20182
The article is fairly clear. However, the screenshot says "Global admin can manage". I'm not sure if this is older verbiage, or if the username that was used to generate the screenshot was in fact "Global Admin".

[2018-12-17 21:53] gokhanoner commented on #15282
OK, It seems it's needed to enable Management Identities for VM or scale set for above to work:

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vmss

[2018-12-17 21:55] aashishb commented on #20346
This is a known issue and we are working on the fix. It will take about a week to push it to all the regions.

[2018-12-17 21:57] schley2103 opened #20893 "What is the name of the permission that I need in order to assign roles?"
I want to add the Contributor role to a service principal. The steps to do so are clearly written, along with the caveat of "If you don't have permissions to assign roles, the Add role assignment option will be disabled." Seems I don't have permission to assign roles, as the Add role assignment option is disabled in my case. What role I need to have in order to assign roles is not clear. It appear

[2018-12-17 21:59] IanMercer opened #20894 "Azure Dev Ops (VSTS)?"
How does any of this relate to Azure Dev Ops (aka VSTS)? It would be really helpful to understand when to use Docker in the provided Azure Dev Ops release tasks on the containerized build agent with its [rather limited] selection of cached Docker images vs. running AZ ACR from the command line or from an Azure CLI in a VSTS Task.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-12-17 22:02] mrbullwinkle commented on #15451
The engineering team that owns profiler did some extensive updates the profiler docs over the past few months with multiple docs covering the various aspects of profiler. The troubleshooting doc is now consistent regarding the manual configuration steps: [https://docs.microsoft.com/en-us/azure/application-insights/app-insights-profiler-troubleshooting](https://docs.microsoft.com/en-us/azure/applic

[2018-12-17 22:02] mrbullwinkle commented on #15451
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-17 22:04] BharathNimmala-MSFT commented on #15451
Thanks Michael

[2018-12-17 22:04] #15451 closed

[2018-12-17 22:05] #20773 closed

[2018-12-17 22:06] MS-TimothyMothra commented on #19782
@IanMercer it will be ignored.

I agree it's not clear in our documentation but, we only capture StackTraces from Exceptions.

You can review the implementation here: https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/src/Microsoft.ApplicationInsights/DataContracts/ExceptionTelemetry.cs

**Workaround 1**
If you look at the code sample here: https://docs.microsoft.com/en-us/azure/

[2018-12-17 22:09] YutongTie-MSFT commented on #20426
@dazzler11
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-17 22:09] #20426 closed

[2018-12-17 22:09] MicahMcKittrick-MSFT commented on #20725
@cynthn ping :)

[2018-12-17 22:10] YutongTie-MSFT commented on #20693
@AidanP24
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-17 22:10] #20693 closed

[2018-12-17 22:12] MicahMcKittrick-MSFT commented on #20764
@nineforty5 thanks for pointing this out. I think we could make the script as a whole a bit more functional.

@ramankumarlive can you take a look?

[2018-12-17 22:13] tpanagos opened #20897 "not really an example"
The JSON is a schema which is useful for creating Flows but an actual JSON example would be more useful for most of the HTTP endpoints. Based on the schema, I think it should look something like:
{
    "OfferTitle": "test microsoft",
    "LeadSource": "test run through flow",
    "UserDetails": {
        "Company": "myco",
        "Country": "USA",
        "Email": "tpanagos@microshare.io",

[2018-12-17 22:16] kobulloc-MSFT commented on #19782
@IanMercer We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-12-17 22:16] #19782 closed

[2018-12-17 22:21] MicahMcKittrick-MSFT commented on #20894
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 22:22] MicahMcKittrick-MSFT commented on #20887
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-17 22:24] Placid7 opened #20898 "Encryption for data at rest"
Isn't Azure already by default encrypting data at rest?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft Azure Data Encryption-at-Rest](https://docs.microsoft.com/en-us/azure/security/azure-security-e

[2018-12-17 22:30] CarlRabeler commented on #20662
January – due to the holidays

From: Kelsey Hewett <notifications@github.com>
Sent: Monday, December 17, 2018 2:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing vCore SQL DB sizes in documentation (#20662)

@CarlRabeler<https://nam06.safelinks.protec

[2018-12-17 22:32] MicahMcKittrick-MSFT commented on #20857
@jholovacs we can work to add more information to that section to make it more clear.

As per cloning the repo, this is a quick start guide. So cloning the repo saves you the steps needed to fully build out the solution. So in the case of this doc, yes, cloning is part of the tutorial. Not sure I fully understand the feedback on that portion.

[2018-12-17 22:33] MicahMcKittrick-MSFT commented on #20862
@jpetitte please feel free to post the solution you found :) I will assign to the content author to review and see if we can get more steps added around this.

[2018-12-17 22:35] MicahMcKittrick-MSFT commented on #20887
@johnthcall fair feedback. This doc is specifically for Scale Sets and not Service Fabric but I do know we link to this doc in other docs so it might be worth noting.

I will assign to the author to review and decided.

CC @aljo-microsoft who works on SF docs and can collaborate as well.

[2018-12-17 22:39] Grace-MacJones-MSFT commented on #20867
Hi @mapoitras, What error message are you seeing?

[2018-12-17 22:40] iainfoulds commented on #20806
What link in the dashboard section - https://docs.microsoft.com/en-us/azure/aks/troubleshooting#i-cant-seem-to-connect-to-the-dashboard-what-should-i-do ?

On the link to the Kubernetes doc on debugging apps, why repeat the same information though? If that's the canonical source, why re-write that ourselves? Do you really feel that doc is likely to change to the point where it's no longer useful?

[2018-12-17 22:43] KeiroKamioka0000 commented on #20830
@MarileeTurscak-MSFT
Hi, I found out RBAC for cloudshell does not exist, from the another resource.

Thanks,

[2018-12-17 22:47] iainfoulds commented on #20484
Thanks for the feedback, @choovick. Some of this feedback is already underway, such as setting convenience variables. The problem is that it makes it more dependent on a given shell, and abstracts a little too much what the user is doing.

When it comes to security of the nodes, we've found combining multiple commands like you propose is harder to understand what's happening and is being done with

[2018-12-17 22:50] #20484 closed

[2018-12-17 22:57] mestew commented on #20818
@maneeshbhat21 Thanks for the feedback!
For part 1, I am planning some document changes specifically for ADE with Linux VMs, so stay tuned.
For part 2, I have reached out to gather additional information for you. I will update you as soon as I have an answer.
Thanks,
Meghan

[2018-12-17 23:06] #17585 closed

[2018-12-17 23:18] MicahMcKittrick-MSFT commented on #20894
This specific doc does not relate to devops directly. But we do have documentation around such things which is all mainly under our devops documentation

https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/azure/aspnet-core-to-acr?view=vsts

https://cloudblogs.microsoft.com/opensource/2018/11/27/tutorial-azure-devops-setup-cicd-pipeline-kubernetes-docker-helm/

CC @dlepow if you have a

[2018-12-17 23:20] MarileeTurscak-MSFT commented on #20848
@ivanignatiev
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-17 23:20] mrbullwinkle commented on #10922
This article was retired as part of the unification of App Insights under Azure Monitor to avoid duplication of the analytics query language content.

[2018-12-17 23:21] mrbullwinkle commented on #10922
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-17 23:21] #10922 closed

[2018-12-17 23:21] TravisCragg-MSFT commented on #20879
@patpicos the size [Standard_DS2 is available in East US](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=virtual-machines&regions=us-central,us-east,us-east-2,us-north-central,us-south-central,us-west-central,us-west,us-west-2). You are most likely getting this error due to a SKU limit on your subscription, but using a different size or region is the best workaround.

I

[2018-12-17 23:21] #20879 closed

[2018-12-17 23:22] #9919 closed

[2018-12-17 23:22] #18760 closed

[2018-12-17 23:22] #19235 closed

[2018-12-17 23:22] #19284 closed

[2018-12-17 23:22] #19690 closed

[2018-12-17 23:23] #20735 closed

[2018-12-17 23:30] douglaslMS commented on #17899
@gbrueckl I regret that I'm having trouble getting an answer for you. Have you retried recently to confirm that the issue still exists?

[2018-12-17 23:31] mrbullwinkle commented on #11853
This article was retired as part of the unification of App Insights and Log Analytics under Azure Monitor to avoid duplication of analytics content.

[2018-12-17 23:31] mrbullwinkle commented on #11853
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-17 23:32] iainfoulds commented on #20820
Sorry you ran into issues, @NitroAMD.

Hesitant to update the doc when there's an upstream Helm issue that should be addressed and resolved soon, and then track that change to revert the doc. Make sure there's an open issue on the Helm project so they know there's a problem.

With the issue here shown in the footer of the Istio doc for AKS, that should help people track and downgrade as needed. He

[2018-12-17 23:32] TravisCragg-MSFT commented on #20848
@ivanignatiev how N[SGs evaluate rules is described Here](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#how-traffic-is-evaluated). for 2 VMs in the same subnet, the subnet NSG is evaluated first, then the outbound NICs NSG is next, and last is the inbound NICs NSG.

Please let me know if you need any additional information.

[2018-12-17 23:32] douglaslMS commented on #20486
@bentleysd I've forwarded your detailed description of your scenario to the Data Factory product team. Meanwhile my specific concern is the content here, since you've opened a doc bug. Can I please ask you to summarize in a few words the error or missing info in the referenced page that you want us to correct? Thank you!

[2018-12-17 23:32] #20845 closed

[2018-12-17 23:32] KeiroKamioka0000 opened #20899 "Please update Japanese Translation"
Japanese translated string of following link does not include the following information exist in English Version

Backup/restore operations for mirror databases, database snapshots and databases under FCI are not supported.
Database with large number of files cannot be protected. The maximum number of files supported is not a very deterministic number, because it not only depends on the number of

[2018-12-17 23:33] TravisCragg-MSFT commented on #20877
@patpicos I see you already closed this issue, please let me know if you have any further questions.

[2018-12-17 23:34] Adam-Smith-MSFT commented on #20852
@sirkubax https://github.com/Azure/azure-storage-azcopy , V10 has the overwrite check, previous ones don't. I'll this issue to the author to address your feedback.

Thanks,

[2018-12-17 23:35] mlr-msft opened #20900 "`--port-topology=chained` Documentation & Sample code?"
I'm modifying an existing DPDK application (a simple UDP echo server) to run in Azure.

I've noticed that `testpmd` does not transmit without the `--port-topology=chained` argument; this suggests some sort of functionality that `testpmd` implements that I must as well but, after searching, I have been unable to find documentation nor examples that clearly demonstrate what this argument does.

Does

[2018-12-17 23:35] TravisCragg-MSFT commented on #20875
@robertpwagner Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-12-17 23:35] alinamstanciu commented on #20447
Hi @usermartin (sorry for late response)

The graph is not fixed, you can move devices between spaces and even move spaces within spaces only from Management APIs and not from UDFs runtime. The APIs to update a space parent Id is
PATCH "https://<endpoint>/api/v1.0/spaces/<guid>" with body
  {
    "parentSpaceId":"<guid>"
  }
Same for device, PATCH on https://<endpoint>/api/v1.0/devices/<guid>
{ "s

[2018-12-17 23:35] #11853 closed

[2018-12-17 23:37] YutongTie-MSFT commented on #20876
@olavt Thanks for your feedback, I will investigate it and get back to you soon.

[2018-12-17 23:37] YutongTie-MSFT commented on #20881
@tchmiel Thanks for your feedback, I will investigate and get back to you soon.

[2018-12-17 23:38] Adam-Smith-MSFT commented on #20801
@elproducto did the previous response help answer your question ?

[2018-12-17 23:38] YutongTie-MSFT commented on #20891
@olavt Thanks for your feedback, I will investigate it and get back to you soon.

[2018-12-17 23:39] YutongTie-MSFT commented on #20873
@olavt Thanks. Glad to hear that. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-17 23:39] #20873 closed

[2018-12-17 23:39] Mike-Ubezzi-MSFT commented on #19074
@wwoomobile We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-17 23:39] #19074 closed

[2018-12-17 23:46] Mike-Ubezzi-MSFT commented on #19227
@mcurko An organizational account that is a member of Azure Active Directory is required to connect to the Data Explorer Help cluster. If you don't want to connect the the help cluster, this is not a requirement. If you would like to complete this specific Quickstart, you will need to satisfy this requirement.
We will now proceed to close this thread. If there are further questions regarding this

[2018-12-17 23:46] #19227 closed

[2018-12-17 23:49] Mike-Ubezzi-MSFT commented on #19064
@pablhoney V2 of Alerts is being rolled out across the different services and documentation will be updated accordingly. Classic Alerts are what you should use in the meantime. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-17 23:49] #19064 closed

[2018-12-17 23:53] Mike-Ubezzi-MSFT commented on #19037
@FrankPan1990 Apologies for the delay on this issue. The best means for handling this issue is through Azure Support. If you don't have a support plan, a one-time incident ticket can be enabled for this specific issue. Please email your Subscription GUID to AzCommunity at Microsoft.com and next steps will be emailed to.
We will now proceed to close this thread. If there are further questions regar

[2018-12-17 23:53] #19037 closed

[2018-12-17 23:54] tfosmark commented on #17585
@cr-gstirling Thank you for the suggestion! This content has been added to the article and is live now: https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal#create-public-and-private-virtual-machines

[2018-12-17 23:54] SaurabhSharma-MSFT commented on #18863
@kvsrkrishnan @BryanApellanes I have followed the documentation and able to create and run the solution without any issues.   However, you can try following these steps to fix the issue:

1. right click on Solution > Restore NuGet packages
2. right click on Solution > Clean Solution
3. right click on Solution > Build Solution
4. Close Visual Studio and re-open.

Also, refer to [GitHub Issue](https

[2018-12-17 23:55] Mike-Ubezzi-MSFT commented on #19226
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-17 23:55] #19226 closed

[2018-12-17 23:58] j-martens commented on #20873
@sdgilley

[2018-12-18 00:03] TravisCragg-MSFT commented on #20813
@jgallucci32 NSGs are supported in Azure Stack, but some features of NSGs are not, which is what is outlined in this document.

[Augmented Security Rules, Effective Security Rules, and Application Security Groups](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview) are not yet supported on Azure Stack.

We will now proceed to close this thread. If there are further questions

[2018-12-18 00:03] #20813 closed

[2018-12-18 00:05] TravisCragg-MSFT commented on #18292
@001appsec007 if you have the WAF enabled, auto scaling is not yet supported.

[2018-12-18 00:05] MazAdl commented on #20701
Don't know if this helps but we have need for this feature also and we are experiencing the same behavior. The CDN we use is Verizon standard

[2018-12-18 00:06] TravisCragg-MSFT commented on #20836
@001appsec007 Autoscaling for an App Gateway V2 with WAF is not supported. It is outlined in the "Note

[2018-12-18 00:06] Alberto-Vega-MSFT commented on #20467
@manchejs0 I got the same error it seems like docker it is not reading the variables from the env file. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-18 00:06] #20836 closed

[2018-12-18 00:08] SaurabhSharma-MSFT commented on #20886
@tariqjaber Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 00:10] SaurabhSharma-MSFT commented on #20898
@Placid7 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 00:20] SaurabhSharma-MSFT commented on #20818
@maneeshbhat21 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-18 00:20] #20818 closed

[2018-12-18 00:42] MarileeTurscak-MSFT commented on #20830
Thanks for the update, @KeiroKamioka0000 ! Glad you were able to resolve this.

[2018-12-18 00:42] #20830 closed

[2018-12-18 00:44] MarileeTurscak-MSFT commented on #20156
@dcbrown16 thanks for bringing this up and for following through by creating the pull request!

[2018-12-18 00:51] YutongTie-MSFT commented on #19225
@pramodkn Do you still suffer from this issue?

[2018-12-18 00:55] imeya commented on #20822
@mrbullwinkle ,thanks. Could you please talk more about the specialized database? like where is it , and all of my data would be stored just in the one database?

[2018-12-18 00:55] SaurabhSharma-MSFT commented on #20898
@Placid7 Not for all and new options are planned for preview or GA in future months.  You can refer to the [section](https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest#azure-resource-providers-encryption-model-support) to get the list of resources currently supported.   Also, some of these services support either customer controlled keys and client-side encryption mod

[2018-12-18 00:55] YutongTie-MSFT commented on #19704
@tchristiani Hi, I can not assign this issue to @sezho(MSFT) as he is not in the repo or have the access now. Can you please help?

[2018-12-18 00:59] tchristiani commented on #19704
He has been traveling. I have put this with another person on the team and they promised more by end of this week.

[2018-12-18 01:18] jackbond opened #20908 "One level deeper"
We are attempting to create a RM script which deploys a service fabric cluster per developer. Each developer will essentially be given their own resource group to deploy to. As part of the RM script, we'd like to create a CNAME record in a DNS Zone which resides in a global resource group. The examples provided here demonstrate how to create a Virtual Machine in a secondary group, but it's not cle

[2018-12-18 01:25] yuharucan opened #20909 "What is Azure SQL MV?"
What is Azure SQL MV? Is this SQL DW? VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8dc618-bff7-b1aa-be2c-b6b933f75545
* Version Independent ID: 9a608dd8-d781-eb4a-c796-34f758f0d58a
* Content: [Database migration scenario status](https://docs.microsoft.com/en-us/azure/dms/resource-scenario-status)
* Content Sour

[2018-12-18 01:36] samyun opened #20911 "This article should not be used with MFA Server deployments only Azure MFA (Cloud-based). (Syntax)"
Please add punctuation as needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b56
* Content: [Remote Desktop Gateway integration with Azure MFA NPS extension](https://docs.microsoft.com/en-us/azure/active-directory/authen

[2018-12-18 01:45] KeiroKamioka0000 opened #20912 "Please clarify "Backup/restore operations for mirror databases, database snapshots and databases under FCI are not supported." means"
Hello,

I would like to request to clarify "Backup/restore operations for mirror databases, database snapshots and databases under FCI are not supported." means.

Is this means

-Mirror Databases of both FCI/Non-FCI
-Database Snapshots of both FCI/Non-FCI
-FCI Databases

Is not supported?

Or is this means

Mirror Databases under FCI,  Database Snapshots under FCI, and Databases under FCI is not s

[2018-12-18 01:47] MarileeTurscak-MSFT commented on #20880
@maneeshbhat21
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 01:52] MarileeTurscak-MSFT commented on #20892
@eragonriddle
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 01:53] MarileeTurscak-MSFT commented on #20893
@schley2103
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 01:53] MarileeTurscak-MSFT commented on #20897
@tpanagos
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 01:54] MarileeTurscak-MSFT commented on #20899
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 02:13] jboren opened #20914 "Console, Publishing, and Debugging section is blank"
Section contains topic headers and NO content.  Will this be getting fleshed out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction to App Service on Linux - Azure](https://docs.microsoft.com/en-us/

[2018-12-18 02:30] zhalu opened #20915 "Import-Module commands don't work"
Below import commands don't work for me:
    Import-Module 'C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Azure.psd1'
    Import-Module 'C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\ExpressRoute\ExpressRoute.psd1'

I did some search and used the following commands instead:
    Import-Module 'C:\Program Files\WindowsPowerShell\Modul

[2018-12-18 02:37] sffamily commented on #20833
There is no limit for number of groups or users for each group. But in reality, too many groups or too many users within a group will have performance cost. It depends on the actual use case scenarios, and the acceptable latency/performance for your application. You can try to load/test up to the desired number of groups or users, and see whether the latency is acceptable.

[2018-12-18 02:38] ishepherd commented on #19284
@MarileeTurscak-MSFT Please reopen. @SnehaGunda said I could reopen if question not answered, but I guess I do not have rights to do it.

Sneha, please see my comment above https://github.com/MicrosoftDocs/azure-docs/issues/19284#issuecomment-447170078

[2018-12-18 02:38] Qq20180503 opened #20916 "Where are dimension attributes of the DipAvailability metric for a standard load balancer in log analytics."
Since the log analytics was integrated with Azure monitor, can we build a Kusto query based on dimension attributes of the DipAvailability metric for a load balancer in log analytics?

[Documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported) states they are ProtocolType, BackendPort, FrontendIPAddress, FrontendPort, BackendIPAddress, but I cannot see them an

[2018-12-18 02:40] sffamily commented on #20835
The batch support for REST API is being worked on right now. Once it's released we will update the corresponding doc including the REST API doc on this page.

[2018-12-18 03:00] AlverezYari commented on #9448
@aarsan If you want to send VM metrics (cpu, memory, etc) to EventHubs I think you have to do so with with the installed Azure client on the VM itself via some configuration settings. I could never really get it to work otherwise. The only thing that seems to work for the VMs (and most of the other resources as I found out) are dianogistc type logging like configuration changes to the VM etc.

[2018-12-18 03:09] femsulu commented on #20912
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-18 03:13] ebashmakov commented on #20833
@sffamily thanks for the reply but any numbers would be highly appreciated. I would like to know the capabilities of the service before paying any money, I hope it makes sense.
Let's say I have 1 unit and 10 groups with 100 users per each group. What would be the latency/performance in this case? On which operations should I expect a performance degradation?

[2018-12-18 03:19] ebashmakov commented on #20835
@sffamily that's good news! The batch support is an essential thing for me to start work with Azure SignalR Service so it's highly expected. Thank you!

[2018-12-18 03:30] starforce opened #20918 ""Invoke-WebRequest : Unable to retrieve certificates because the thumbprint is not valid. Verify the thumbprint and retry""
Hello, I have a question about using the Invoke-WebRequest power shell command in your example.

First let me give you some background information about my current setup. Right now, I have a Service Fabric cluster using an X.509 cert from an CA and is used to secure the cluster. I have Admin rights, Also, I have the certificate on my local computer in the My (Personal) store.  I set up AAD when I

[2018-12-18 03:33] sffamily commented on #20835
We actually have finished batch support for REST API implementation, we are doing tests now. It allows flexible batch modes, including batch for users, batch for groups, or mix-match.

[2018-12-18 03:36] dan-wesley commented on #20897
@tpanagos thank you for the feedback. As it happens I'm refreshing this article so I can incorporate your feedback.

[2018-12-18 03:38] ebashmakov commented on #20835
Fantastic! Looking forward to it 👍

[2018-12-18 03:43] sffamily commented on #20833
we are working on publishing a whitepaper on performance and benchmark soon. Before that, just a simple idea: say the extreme case you have 1 user per group, then the number of groups will be the total number of clients, each unit allows up to 1k users, so in this case you can have 1k groups for this instance (there is no limit, so technically you can have more groups than users), the latency is s

[2018-12-18 03:47] khieo commented on #20891
@olavt Try changing Kernel to Python 3.6

[2018-12-18 03:57] femsulu commented on #20899
re-assigning to content owner and @Sara-Nicolini to assist with review and updating the Japanese version.

[2018-12-18 03:58] ManojReddy-MSFT commented on #20828
@markreno It will take some time for the links to be updated in the public documents. Can you help me understand if you have questions regarding the content ?

[2018-12-18 04:44] jakaruna-MSFT commented on #20073
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-12-18 04:44] #20073 closed

[2018-12-18 04:46] jakaruna-MSFT commented on #20577
is there any update @AceHack

[2018-12-18 04:46] femsulu commented on #20908
@jackbond use [this ](https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-dns-new-zone)sample template to create a new Azure DNS zone.
Here's a [stackoverflow reference](https://stackoverflow.com/questions/51819298/azure-arm-deploy-dns-entries/51819409) on how to create a CNAME record in the newly created DNS zone.

![image](https://user-images.githubusercontent.com/34327711/

[2018-12-18 04:50] jakaruna-MSFT commented on #19827
Worked offline with the user.
User don't have access to the VM or Portal. User have access only to run ARM templates.  User wanted to get the custom script output while executing the ARM templates. Right now, Custom script extension output can be found from the portal or from the VM. ARM template will show only the script passed or failed.
Closing this issue for now. Please reopen if further detai

[2018-12-18 04:50] #19827 closed

[2018-12-18 04:52] KetanChawda-MSFT commented on #20616
@jnsunkersett Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-18 04:52] #20616 closed

[2018-12-18 05:09] CHEEKATLAPRADEEP-MSFT commented on #20909
@yuharucan  Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-18 05:18] AjayKumar-MSFT commented on #20719
@urvishaseladiya, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-12-18 05:18] #20719 closed

[2018-12-18 05:30] femsulu commented on #19977
@anirudhcavale  - fyi

[2018-12-18 05:33] cwoolum commented on #20118
I am showing that it is successfully registered when I run that. @MicahMcKittrick-MSFT, do you have any recommendations for how to proceed?

[2018-12-18 05:49] ManojReddy-MSFT commented on #20771
@wolterOnEntocare I have assigned this to the author to consider this as feedback and updating the samples accordingly.

[2018-12-18 06:03] Sagarpaudel8 opened #20923 "Get weather information"
How can i get the information about weather and what i have to do to get the weather details in the web chat?

[2018-12-18 06:07] KetanChawda-MSFT commented on #20740
@kashimiz I have tagged you in a [PR#61194 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/61194)

@larrywa The document will be update with this PR. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-18 06:07] #20740 closed

[2018-12-18 06:08] jakaruna-MSFT commented on #20918
Thanks for the question! We are investigating and will update you shortly.

[2018-12-18 06:09] AshokPeddakotla-MSFT commented on #20843
@emanueleleoni I have assigned the issue to the content author to investigate further and update the document as appropriate.
@dominicbetts Please check this.

[2018-12-18 06:16] CiciPang opened #20924 "Update upgrade free trial request"
Hi experts,

The free trial upgrade experience has changed since the subscriptions blade implement.
New users can stick on portal.azure.com to upgrade their plan along the instructions.
If you are interested in, please contact me by email. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31d284ec-efec-44b4-8582-47

[2018-12-18 06:17] SenZhou commented on #19704
We don't have plan to support Hebrew currently.

[2018-12-18 06:21] mike-urnun-msft commented on #20861
Hello @ReneSTS Thank you for your feedback! Apologies in advance for any inconvenience as this documentation may not be up-to-date, #15463. We have assigned this issue to the author to review further and take the right course of action. In meantime, please open a thread on MSDN forums so that community of SMEs can weigh in on your questions and share with you any best practices as applicable.

[2018-12-18 06:31] #20634 closed

[2018-12-18 06:43] SadiqhAhmed-MSFT commented on #20702
@kazshi, thanks for the feedback. We are working on building a doc that covers all this information. Unfortunately, I don't have an ETA when it will be published.

[2018-12-18 06:46] KetanChawda-MSFT commented on #20713
@cpitches Document mentioned that `<startIndex>` is a positive number for the **starting position** or **index value** which is defined to start from 0. To make it simple `<startIndex>` is a number greater than or equal to "0".

[2018-12-18 06:57] ManojReddy-MSFT commented on #20911
@samyun Thanks for reporting this. I have updated the doc and it should be published shortly.

[2018-12-18 07:10] MarileeTurscak-MSFT commented on #20900
@mlr-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 07:11] MarileeTurscak-MSFT commented on #20923
@Sagarpaudel8 can you please link the document that you are referring to?

[2018-12-18 07:12] MarileeTurscak-MSFT commented on #20916
@Qq20180503
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 07:12] olavt commented on #20891
When I re-visited the Notebook today I got: "Failed to start the kernel: XSRF cookie does not match POST argument"

[2018-12-18 07:21] AshokPeddakotla-MSFT commented on #20883
@mrrandall40 Please refer to[Copy data from an HTTP endpoint by using Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connector-http). You can also[Use custom activities in an Azure Data Factory pipeline](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity).

[2018-12-18 07:36] changeworld opened #20926 "The indentation of the code is misaligned. SoTherefore, when you copy and use it, the indent will be misaligned."
[Enter feedback here]

[!code-csharp[define EvaluateCustomVisionTags method](~/samples-eCommerceCatalogModeration/Fusion/Program.cs?range=148-171)]

![evi](https://user-images.githubusercontent.com/1207985/50138726-d28f9380-02e2-11e9-8abc-fd0eb860feee.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0457fef1-9442-58

[2018-12-18 07:36] AshokPeddakotla-MSFT commented on #20085
@usermartin We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 07:36] #20085 closed

[2018-12-18 07:40] AshokPeddakotla-MSFT commented on #20579
@Poods1158 We hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 07:40] #20579 closed

[2018-12-18 07:50] usermartin commented on #20447
Hey @alinamstanciu,
thanks for the clarification!

[2018-12-18 07:50] #20447 closed

[2018-12-18 08:05] ManojReddy-MSFT commented on #20690
@tzelja219 We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-18 08:05] #20690 closed

[2018-12-18 08:07] #20911 closed

[2018-12-18 08:43] FrankSandqvist commented on #20701
Sounds good. If it helps, we use the Microsoft CDN (not verizon or akamai)

[2018-12-18 08:44] gbrueckl commented on #17899
@douglaslMS well, nothing changed - neither the script I complained nor the Data Factory. So I strongly assume that the issue still exists

[2018-12-18 08:48] mustadem opened #20928 "Sending File to the Cloud"
Instead of sending sensor data to the cloud as it has been presented in this write-up, is it possible to send a processed sensor data that has been stored in a file (.csv or .txt)? Does Azure IoT offer any means reading such that and plotting it in a graph?
Another way to rephrase my question is this: I don't want to be using my network connection all the time for communicating to the cloud, So I

[2018-12-18 09:06] dominicbetts commented on #20843
Hi @emanueleleoni,

Thanks for getting in touch.

` az extension add --name azure-cli-iot-ext` is the very first `az` command in the article at https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python#register-a-device

We didn't want to keep repeating it in every section unnecessarily.

Thanks, Dominic

[2018-12-18 09:09] KetanChawda-MSFT commented on #20841
@pmcilreavy Checking in to see if the above post helped answer your question.

[2018-12-18 09:16] Sethu2488 commented on #19704
Thank you for the information.

[2018-12-18 09:16] ChiragMishra-MSFT commented on #20926
@changeworld Thanks for the feedback ! I am assigning the issue to the content author to have a look.

@PatrickFarley Can you please have a look at this and update as appropriate.

[2018-12-18 09:39] emanueleleoni commented on #20843
Hi @dominicbetts ,
thank you for your reply.
I didn't see that part of the article because I read directly this:
https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python#read-the-telemetry-from-your-hub
and I had an error when I tried to monitor the events.

Thank you.
Best regards,
emanuele

[2018-12-18 09:47] mike-urnun-msft commented on #20465
Hi @aaronralls

By default, multi-region APIM service uses Traffic Manager internally with performance profile but this isn't customizable. Alternatively, you can also take the regional endpoints and configure your own instance of Traffic Manager as well.

Since there aren't any changes to be driven from your feedback to this documentation, we will now proceed to close this thread. If there are fu

[2018-12-18 09:47] #20465 closed

[2018-12-18 09:50] shortPause commented on #20768
Attaching snapshot for the VS version and I'm not sure whether this is related to any updates

![image](https://user-images.githubusercontent.com/21099893/50145792-54c68a80-02d8-11e9-8560-8f124bb20d77.png)

Can you also advise why I can't see my comment under the Doc section?

[2018-12-18 09:54] imeya opened #20930 "Is there a way to pass a return value from runbook_1 to runbook2 as parameter?"
I have 2 powershell runbooks.

In runbook_1, I create an azure file share snapshot, and return the snapshot name.

In runbook_2, I want to receive the snapshot name from runbook_1, and take it as parameter for runbook_2, is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038d927f-2bcc-c62d-b3c3-f194513bced6

[2018-12-18 09:54] mike-urnun-msft commented on #20475
Hi @coltonf93

Thanks again for sharing this feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-18 09:57] PramodValavala-MSFT commented on #20864
@ssaldi Sorry to hear that. If you have tried everything in this doc, its probably not a storage account I suppose.

Could you share some more details like
1. Are you developing locally? If so, does it work locally?
2. If from the portal, are trying to use any trigger / binding requiring an extension? Like blob, cosmosdb, etc.

[2018-12-18 10:14] anoobbacker opened #20931 "We haven't mentioned the screenshot with Edge share"
The current screenshots are for gateway shares. Once you configure the Edge on the device we'll get "local Edge" share this needs to be updated in the document such that we talk about the purpose of local vs cloud share too.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e8c3b5-4a76-db83-f1b2-5a4cc0c13b70
* Version I

[2018-12-18 10:18] CodeDrop opened #20932 "Quota full"
In my case the error "Azure Functions Runtime is unreachable" was shown because the Daily Usage Quota was reached. So solution was:

1. Function app settings &gt; Daily Usage Quota (GB-Sec) &gt; [larger quota number] &gt; Set quota
2. Overview &gt; Start

Maybe it is worth while mentioning first thing in this documentation. Tracking down the storage account (settings) while fearing someone had mes

[2018-12-18 10:19] AjayKumar-MSFT commented on #20914
@jboren, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-18 10:26] bcube opened #20933 "function.json file is missing for C#"
I created a simple function in Visual Studio Code and I can deploy to Azure without problem. However, I want to update the binding from "GET and POST" to "GET" only. I cannot do this via the portal because the app and function are in READ ONLY mode if I deploy my app via Visual Studio Code. Then, I am thinking I may be able to modify the function.json in my Visual Studio Code and deploy it. Howeve

[2018-12-18 10:30] mrbullwinkle commented on #20822
The underlying tech for storage/query of log data in App Insights is based in part on the same core cluster/database tech that runs [Azure Data Explorer](https://docs.microsoft.com/azure/data-explorer/create-cluster-database-portal). I don't think we tend to comment on the exact implementation details for how the App Insights backend is structured beyond that as it is abstracted away and an end-us

[2018-12-18 10:42] gauravagarwal28 commented on #14719
For the first piece of feedback:

Yes that is exactly what I wish to convey.

For the second:

For both these questions, my answer would be 'yes'.

Having custom module deployment before other tutorials would definitely work better.

![azurefeedback](https://user-images.githubusercontent.com/41729265/50148836-8ee75a80-02df-11e9-964f-0df533a5693c.PNG)

[2018-12-18 10:56] MattiasAng commented on #20839
@tfitzmac
Yes, correct, it is specifically microsoft.insights/alertrules.

I think there is actually a limitation on how many alert rules are allowed per subscription (as seen here https://github.com/Azure/azure-cli/issues/3276) which you can probably raise the limit on and work around the issue.
However, since the error message is unclear and we had it on two seperate subscription moves I think i

[2018-12-18 11:06] ivanignatiev commented on #20848
@TravisCragg-MSFT Current example presented in documentation is based on the case VM <-> Internet. If possible to add few examples (or extend the current one) with internal to VNet communications VM <-> VM, i.e. :
- VM1 and VM2 in Subnet 1 with NSG1 applied to Subnet1
- VM1 in Subnet1 and VM2 in Subnet2, with NSG1 applied to Subnet1 and NSG2 applied to Subnet2

And/or say in the documentation expl

[2018-12-18 11:15] Tragedian opened #20935 "AADSTS50064 - CredentialAuthenticationError description could be more useful"
The current description for this error is "Credential validation has failed.". It's unclear which credentials might be the cause or what kind of validation failed. There's insufficient information to diagnose the problem further.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Vers

[2018-12-18 11:42] maneeshbhat21 commented on #20818
Thank you Meghan and Saurabh

Regards
Maneesh
________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, December 18, 2018 5:50 AM
To: MicrosoftDocs/azure-docs
Cc: maneeshbhat21; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Supporting Systems (#20818)

Closed #20818<https://github.com/MicrosoftDocs/azure-docs/issues/20818>.

—
You are receiving this beca

[2018-12-18 11:44] binken opened #20936 "Configure Always On availability groups in Azure Virtual Machines automatically: Resource Manager is not working"
Configure Always On availability groups in Azure Virtual Machines automatically: Resource Manager is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83b469f4-b118-3ce8-852f-535661ded5e4
* Version Independent ID: f720f442-9dc7-a6d5-afd9-97e173cbae9d
* Content: [Set up high availability for Azure Resource Mana

[2018-12-18 11:46] mrbullwinkle commented on #16206
We have moved the supported platform doc to the Reference section to increase discoverability and renamed it's TOC entry to make discovery easier. This change is merged and will go-live between 10 AM - 11 AM UTC -8.

[2018-12-18 11:47] mrbullwinkle commented on #16206
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-18 11:48] SubhashVasarapu-MSFT commented on #20915
@zhalu Thanks for the question! We are investigating and will update you shortly.

[2018-12-18 11:51] jmfrank63 opened #20937 "Please update Box SSO setup instruction to box.net identifier only"
This is a follow up to #16398 and internal Box Microsoft ticket
[REG:118111919360462] 118111919360462
Box App in Azure Single-Sign On seems to have two different Identifiers

Please change the pattern hint to reflect `box.net` only.

The current dual pattern is confusing for customer leading to a lot of tickets. Actually the URL  https://sso.services.box.net/sp/ACS.saml2 is only valid as an identi

[2018-12-18 12:00] #16206 closed

[2018-12-18 12:34] jakaruna-MSFT commented on #20918
@starforce I tried out in my environment. Got the same error.
@MicahMcKittrick-MSFT Please look into the issue.

[2018-12-18 12:38] jakaruna-MSFT commented on #20815
@bdimag I am reaching out to the Product teams. I will update you once i have some information.

[2018-12-18 12:49] Placid7 commented on #20898
Thanks, I miss read. It is the Managed Disk for data at rest that are encrypted by default.

[2018-12-18 12:51] #20820 closed

[2018-12-18 12:54] rhgs commented on #18819
Hi @MicahMcKittrick-MSFT, I have same error:

`'logAnalyticsWorkspaceResourceID'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-e5ce5s7r\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-e5ce5s7r\azure-cli-core\azure\cli\core\commands\__init__.py", line 346, in execute
  File "C:\Users\VSSADM~1\AppData\Loc

[2018-12-18 12:56] axatix opened #20938 "Capacity priority"
Hello all, this one isn't clear to me
Capacity priority prioritizes data center capacity for your deployments.

When I stop a Vm and deallocate and then I start Vm same sku type and size what will happen it could be started in different Dc but same zone or the zone could be changed? In case it is different zone stopped Vm is usually connected to one zone when it is configured. What will happen the

[2018-12-18 13:00] Tzuya14 opened #20939 "Training error"
When I run the script for my own classes I get an error. I made sure that the training key and images url are correct but could't solve the problem. I should also specify that the images are local

  File "C:\Users\danbe\AppData\Local\Programs\Python\Python36\lib\site-packages\azure\cognitiveservices\vision\customvision\training\custom_vision_training_client.py", line 1018, in create_images_from_u

[2018-12-18 13:03] MeirMen commented on #16689
Sorry, GitHub is not a good tool to manage these things. Please contact me over mail and I would forward it to the relevant people: meirm@Microsoft.com

[2018-12-18 13:40] lwmajor opened #20942 "Missing Semicolon"
In the View Hot path data section. There should be a semicolon after the line
string eventHubConnectionString = "Endpoint= &lt;your connection string&gt;”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef18d39d-585a-1f54-9157-c58cb5875d91
* Version Independent ID: b4374609-5480-7436-8a62-8deb04f02d90
* Content: [Stream

[2018-12-18 14:08] savbace opened #20944 "Example using Fluent library"
I would like to have an example of Service Bus management using Microsoft.Azure.Management.ServiceBus.Fluent library from https://github.com/Azure/azure-libraries-for-net

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c194c500-3a96-ac4d-6996-906455444288
* Version Independent ID: d5bacdf8-fc63-1491-c284-3c66c0

[2018-12-18 14:10] KetanChawda-MSFT commented on #20831
@kazshi Step 3 in the [blog](https://blogs.msdn.microsoft.com/servicebus/2018/05/18/acs-migration-guide/) is talking about the Migration Scenarios with steps. If the application uses custom service identities with simple rules, the migration is straightforward in the case where an ACS service identity was created to provide access control on a specific queue.

The [sample](https://github.com/cleme

[2018-12-18 14:11] jpetitte commented on #20862
Another update. Adding `  service_account = "tiller"` to the "helm" provider eliminated the last error. As I'm now getting no more errors, this looks promising.

[2018-12-18 14:15] mapoitras commented on #20867
Its just a Windows app.  I think we figured out how to get past the error.  We  added  a firewall network rule to allow the ASE web app subnet outbound to any on any port.   Is there a way to lock this down a bit more than allowing all?

Now we can create the web app.    What we have done is create another vnet with a VM and connected it to the hub/firewall vnet.  We are trying to configure the en

[2018-12-18 14:36] DMoonesinghe opened #20945 "How does OAuth & AAD fit into this picture."
First, let me tell you this article is a well-crafted piece of documentation.  Information flows very smoothly from topic to topic in a very natural way.  So thank you.

Now my question is how does OAuth and AAD fit inside this picture?  Shouldn't it be part of this document?  since it is a form of authentication available for web apps in Azure.

---
#### Document Details

⚠ *Do not edit this sect

[2018-12-18 15:06] fusionet24 commented on #12526
@nabhishek This still doesn't seem to be an option or documented anywhere?

Is there a way to set a new job cluster version with Python 3? or is the current work around still using an interactive cluster.

[2018-12-18 15:17] sergaz-msft commented on #20928
Thanks for the feedback @mustadem. I believe that the best approach for your scenario would be to use FileUpload - https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload

Let us know if you have further questions?

Thank you.

[2018-12-18 15:17] CeciAc opened #20946 "Update needed"
@tobbedahl commented on [Tue Dec 18 2018](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/56)

This document states:
Data changes on the server before sync topology is fully up and running can cause conflicts on the server endpoints.
However, the following document:
https://azure.microsoft.com/sv-se/blog/azure-active-directory-integration-for-smb-access-now-in-public-preview/
states the f

[2018-12-18 15:17] kobulloc-MSFT commented on #20822
@imeya We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-12-18 15:17] #20822 closed

[2018-12-18 15:18] CeciAc commented on #20946
Hi team,
Please check this comment

Kind regards,
Microsoft DOCS International Team

[2018-12-18 15:22] sergaz-msft commented on #16949
Adding as a reference: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35859580-document-how-to-connect-azure-sphere-device-as-dow

[2018-12-18 15:32] iFoton opened #20947 "ADFv2 Web Activity sends the bodies in quotes"
Today, my pipelines using web activity broke. It send some queries to my db. After investigation I've fond what ADF begins send body in double quotes.
My pipline:
[code]
What I get on db side:
[code]
My body come in the double quotes and db can't invoke such query. Any ideas how to fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-12-18 15:41] AmaelLaurier commented on #20318
Is it normal to timeout after 1min ? I am calling an Azure function configured with the timeout at 10min, but ADF seems to cancel the call after 1min... We really need to be able to override this.

[2018-12-18 15:45] v-kathum opened #20948 "CORS issue while Exporting an API definition"
At 'Export an API definition' step 2 after clicking the 'Export to Power Apps + Flow' button it throws a CORS error.
Adding a URL to CORS setting in function app resolved the issue. This is the URL that needs to be added 'https://websites.hosting.portal.azure.net’. Please update it either here or the Prerequisite 'https://docs.microsoft.com/en-us/azure/azure-functions/functions-openapi-definition'

[2018-12-18 15:46] scott1138 commented on #16689
@MeirMen I sent the info directly to Josh that I got from the Log Analytics team.  I have also submitted a pull request to update the doc with the timestamp regex queries supported by the custom log process.  I'm going to close this as [this pull request](https://github.com/MicrosoftDocs/azure-docs/pull/20890) will resolve the issue.

[2018-12-18 15:46] #16689 closed

[2018-12-18 15:47] sergaz-msft commented on #19092
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-18 15:47] #19092 closed

[2018-12-18 15:47] JoshDouglasOU commented on #16689
yes thanks!  worked perfectly!

[2018-12-18 15:49] sergaz-msft commented on #19477
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-18 15:49] #19477 closed

[2018-12-18 15:53] YutongTie-MSFT commented on #20939
@Tzuya14 Thanks for your feedback, I will investigate and get back to you soon.

[2018-12-18 15:56] bally-singh opened #20949 "1809"
This does not seem to work with Windows 1809 - 17763.194. Error message: "An error occurred while sending data to the Remote Desktop Gateway Server. The server is temporarily unavailable or a network connection is down..."

No issues when connecting from a Windows 1709 build with the same user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-12-18 16:08] georgewallace commented on #20930
@imeya Thanks for reaching out! This is absolutely possible.  You do this with what we call [child runbooks](https://docs.microsoft.com/en-us/azure/automation/automation-child-runbooks).  Where one runbook calls another from within it.  You can pass any variables you want into the parameters of the second runbook.

[2018-12-18 16:10] KetanChawda-MSFT commented on #20932
@CodeDrop Thank you for the feedback! We will investigate and get back to you with our findings.

[2018-12-18 16:12] savbace commented on #20944
@KetanChawda-MSFT Yes, I found them there. But maybe it worth to mention about Fluent API in the current document (https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-management-libraries) also?

[2018-12-18 16:16] areddish commented on #20939
Hi @Tzuya14, this error message usually indicates you've hit the project limit. If you navigate to https://customvision.ai and click on the gear icon in the upper right it should take you to a page that lists your limits.

Towards the bottom left under the training key you should see text of the form "XX projects created; YY remain"

[2018-12-18 16:17] mamccrea commented on #20803
@sethreidnz - Thank you for bringing this to our attention! I will change the article.

#please-close

[2018-12-18 16:19] Lroca88 commented on #20882
Thank you @Mike-Ubezzi-MSFT, looking forward to get the updated docs!

[2018-12-18 16:23] bandersmsft commented on #20793
@javieracrich Fixed.
#please-close

[2018-12-18 16:23] Tzuya14 commented on #20939
@areddish Hi, I checked the limits and I have "1 projects created; 99 remain" and Unlimited predictions

[2018-12-18 16:36] areddish commented on #20939
@Tzuya14 sorry, I see now that the bad request was from create_images_from_urls so you were successful in creating the project. Were any of the images uploaded to the project in the portal? Or did it fail on the first one?

You said "the images are local". Does that mean you are passing "file://" urls? Or how are you specifying the url?

For local files we there is create_images_from_files. I can

[2018-12-18 16:37] davidmu1 commented on #19024
@hambudi I have create workitem 598340 in the documentation work queue to track this work. This issue is no longer needed.

#please-close

[2018-12-18 16:40] davidmu1 commented on #19025
@hambudi I added this feedback to the workitem 598340 in the documentation work queue to track the work. This issue is no longer needed.

#please-close

[2018-12-18 16:43] vikaskumawat80 opened #20951 "MFA License for MFA Server"
Want to deploy MFA Server On-Premises for VPN. But Standalone MFA license is not available for new purchase. Now, what will be cost per user? Shall I have to buy Azure AD Premium for each user or something else? The Pricing is really confusing for MFA. Even if we buy Azure AD Premium what is the relation between MFA Server and Azure AD? This is an On-Premises environment.

---
#### Document Detail

[2018-12-18 16:43] jgallucci32 opened #20952 "Instance Metadata service in Azure Stack"
It should be noted that the Azure Instance Metadata service, i.e. 169.254.169.254, is currently not supported in Azure Stack but is supported in all available public regions. If it is supported its limitations should be annotated. Currently I receive "HTTP/1.1 500 Internal Server Error" when accessing the URL which is why I assume it is not supported. I cannot find anywhere else this is actually d

[2018-12-18 16:49] DMoonesinghe opened #20953 "What does A, B, represent?"
In reading this doc, I wasn't quite clear what A, B.  Nothing in the description mentions what they are.  Since it's a triangle   I am assuming it is a symbol for individual tenant directories.
A - is the tenant directory for an application vendor.
B - is the tenant directory for the application consumer.  (Or at least one application consumer.)

This document also doesn't mention the scenario if

[2018-12-18 16:59] rvahaver opened #20954 "Load balancer Health Probe port needs clarification."
In the section of this document where you talk about creating the health probe for the load balancer you state "Set to an available TCP port. This port requires an open firewall port. Use the same port you set for the health probe at the firewall."  This is very misleading.  It cannot be a TCP port that is in use or assigned. so please clarify this statement.  It will reduce the number of support

[2018-12-18 17:00] WiseOldHowell opened #20955 "Typo - ".\AzureMfsNpsExtnConfigSetup.ps1""
In "Configure certificates for use with the NPS extension using a PowerShell script" section...

.\AzureMfsNpsExtnConfigSetup.ps1 should be "AzureMfaNpsExtnConfigSetup.ps1"

"Mfs" vs. should be "Mfa"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a

[2018-12-18 17:00] #19934 closed

[2018-12-18 17:07] Mike-Ubezzi-MSFT commented on #19284
@ishepherd Understand that you are seeking a product related question. This channel is for addressing documentation related issues. Please take a look at the the [Cosmos DB MSDN threads related to date time conversion](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb&filter=alltypes&brandIgnore=True&sort=relevancedesc&searchTerm=Date+Time+conversion). If after researching th

[2018-12-18 17:08] AceHack commented on #20577
I had to open a support ticket with Microsoft and after a few days they were able to get engineering to delete it.

[2018-12-18 17:08] Karishma-Tiwari-MSFT commented on #20954
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-18 17:08] Karishma-Tiwari-MSFT commented on #20936
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-18 17:12] Tzuya14 commented on #20939
@areddish When I check the web page the project is created but no pictures are uploaded. I just declared the url as "data/images/image.jpg". I was thinking maybe here is the problem

[2018-12-18 17:13] mattstached opened #20956 "Conditions "and" or "or""
One thing all the documents regarding Conditional Access fail to discuss is if using more than one condition in a policy, are they treated as "and" or "or".  Will the policy run if all of the conditions are met, or if just 1 is met.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* V

[2018-12-18 17:14] hdpoe opened #20957 "Link to Set-MsolDomainAuthentication Documentation has a Typo"
The link to Set-MsolDomainAuthentication document in the Provision user principals to Azure AD / Office 365 section is a link that points to httpss://technet.microsoft.com/library/dn194112.aspx the problem is the protocol is specified as httpss which isn't a recognized protocol by browsers. The link should be https://technet.microsoft.com/library/dn194112.aspx

---
#### Document Details

⚠ *Do not

[2018-12-18 17:18] Mike-Ubezzi-MSFT commented on #20091
@stijnbrouwers We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 17:18] #20091 closed

[2018-12-18 17:23] areddish commented on #20939
Ah yes, that will result in an invalid url to the service, hence the bad request. You want to use create_images_from_files. Something like this:

[code]

[2018-12-18 17:23] marioanton opened #20958 "Missing differentiation for windows and linux at the time of Set-AzureRmVMOsDisk"
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-appendix#bkmk_SecretURL
no windows reference here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246df0be-86c4-083f-5896-d9ed79a94b88
* Version Independent ID: cba0daf5-b5f3-e1ba-2d79-56ef94f927cb
* Content: [Appendix - Azure Disk Encryptio

[2018-12-18 17:30] Mike-Ubezzi-MSFT commented on #20449
@peterlil We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 17:30] #20449 closed

[2018-12-18 17:31] MicahMcKittrick-MSFT commented on #20942
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-18 17:31] MicahMcKittrick-MSFT commented on #20938
Thanks for the question! We are investigating and will update you shortly.

[2018-12-18 17:32] captain-keystone commented on #19104
Any update on this? It's not clear from the article what (if anything) the connected service does that simply using the AppAuth and KeyVault packages do not. I'm guessing when creating  resource (and maybe when linking to an existing one) an access policy is being created for the account. But there is also a Nuget package being installed `Microsoft.Exstensions.AzureKeyVault.HostingStartup` and som

[2018-12-18 17:35] Mike-Ubezzi-MSFT commented on #19545
@obrien-j I wanted to correct the email address provided in the previous comment. It should be: askcosmosdb@microsoft.com. Please reach out to the CosmosDB product team via this alias.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Regards, Mike

[2018-12-18 17:35] #19545 closed

[2018-12-18 17:35] rkarlin commented on #20182
AHA! now I understand! thanks so much for the feedback, I'll pass it along to the dev team to take a look at the UI text!

[2018-12-18 17:36] Mike-Ubezzi-MSFT commented on #12215
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 17:36] #12215 closed

[2018-12-18 17:37] LuisGonzalezLT commented on #13693
OK. Thanks for checking into it. It didn't seem like there was a way so
that confirms what I thought.

On Mon, Dec 17, 2018 at 4:16 PM Mike Ubezzi <notifications@github.com>
wrote:

[2018-12-18 17:38] KetanChawda-MSFT commented on #20944
@spelluru any thought on this?

[2018-12-18 17:38] Mike-Ubezzi-MSFT commented on #20464
@anosov1960 @CarlRabeler Making this a doc-bug and removing product-question label.

[2018-12-18 17:40] Mike-Ubezzi-MSFT commented on #20858
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 17:40] #20858 closed

[2018-12-18 17:43] CarlRabeler commented on #20464
@Mike-Ubezzi-MSFT please assign to @mashamsft

[2018-12-18 17:45] Mike-Ubezzi-MSFT commented on #20870
@doodlemania2 At the bottom this document: [Connecting Azure Kubernetes Service and Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/concepts-aks) Is the link to provide documentation feedback, just as you did with this specific doc issue. By doing so, the issue is routed to the appropriate content team who can address the feedback.
We will now proceed to close this thread. I

[2018-12-18 17:45] #20870 closed

[2018-12-18 17:47] Mike-Ubezzi-MSFT commented on #20889
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-18 17:47] #20889 closed

[2018-12-18 17:51] Mike-Ubezzi-MSFT commented on #20882
@SnehaGunda This might already be on the list pending an update but want to bring it to your attention. Thank you!

[2018-12-18 17:52] YutongTie-MSFT commented on #19704
@Sethu2488 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-18 17:52] #19704 closed

[2018-12-18 17:54] yashesvi commented on #20938
Adding @Drewm3

[2018-12-18 17:55] Tzuya14 commented on #20939
@areddish I have another question, if I want to use an existing model to make some predictions, what values should I declare in results = predictor.predict_image()?
I tried the following but didn't work
[code]

[2018-12-18 17:56] MicahMcKittrick-MSFT commented on #20118
@sujitdmello can you tell me if you are the subscription admin?

[2018-12-18 17:57] YutongTie-MSFT commented on #20891
@olavt Sorry to hear you have the issue now. Please try a)clearing the cookies, b) try to turn off the experimental mode. It should work. Thanks.

[2018-12-18 17:58] YutongTie-MSFT commented on #19225
@pramodkn Hi, it you are still suffering from this issue, please tag me. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-18 17:58] #19225 closed

[2018-12-18 17:58] MicahMcKittrick-MSFT commented on #20894
@IanMercer got it. I will assign to the author to review and see what can be added to the doc.

[2018-12-18 18:00] jackbond commented on #20908
@femsulu This issue we're facing is that it isn't a new DNS zone, we want to create a CNAME record in an existing DNS zone in a different resource group.

Here's the actual situation, we have a DNS zone for abc.domain in the OPS resource group. We want to spin up a SF cluster for every developer. So, a new developer Bob starts, we create a new resource group Bob, deploy the new cluster in the Bob

[2018-12-18 18:01] sujitdmello commented on #20118
Yes

[2018-12-18 18:01] MicahMcKittrick-MSFT commented on #20942
@lwmajor good find! I have corrected the doc. Once the PR merges the changes will go live in a few hours.

Thanks again!

[2018-12-18 18:01] #20942 closed

[2018-12-18 18:02] sreekanth550 commented on #19661
I have the same issue as well. How do you handle when you have a identity column and do not want that to map with a column ?

[2018-12-18 18:05] anirudhcavale commented on #20916
@Qq20180503 As noted on the top of the document you linked to "Sending multi-dimensional metrics via diagnostic settings is not currently supported. Metrics with dimensions are exported as flattened single dimensional metrics, aggregated across dimension values."
So the dimensions on the DipAvailability metric are not sent on to Log Analytics.

[2018-12-18 18:07] SaurabhSharma-MSFT commented on #20807
@Jlujan7 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-18 18:07] #20807 closed

[2018-12-18 18:08] SaurabhSharma-MSFT commented on #20898
@Placid7 No problem. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-18 18:08] #20898 closed

[2018-12-18 18:10] MarileeTurscak-MSFT commented on #20924
@CiciPang thanks for the feedback! I have assigned this issue to the content author, @jlian, to look into your feedback.

[2018-12-18 18:11] nromyn commented on #20182
Sorry - I wasn't clear. The screenshot isn't showing the UI that I'm seeing. The current UI highlights the user that will be escalated.

![image](https://user-images.githubusercontent.com/13968908/50173780-6bfc7c80-02c6-11e9-8013-bd6f6f58fdd6.png)

[2018-12-18 18:13] rkarlin commented on #20182
So the UI is ok now but I need to update my screenshot?

[2018-12-18 18:13] nromyn commented on #20182
Yup. Sorry I was so unclear.

[2018-12-18 18:14] rkarlin commented on #20182
got it! thanks so much, I will update!

[2018-12-18 18:16] mike-urnun-msft commented on #20948
Hi @v-kathum Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-18 18:16] MicahMcKittrick-MSFT commented on #20118
@sujitdmello sorry meant to @cwoolum :)

@cwoolum can  you tell me if you are the subscription admin?

[2018-12-18 18:18] MicahMcKittrick-MSFT commented on #20725
@kilasuit I will assign to the doc author to review and see if we can get a section for ARM templates added to the list

[2018-12-18 18:21] douglaslMS commented on #20318
@Szer @tomas-weir @AmaelLaurier Let me remind you that this is an individual doc bug opened by @CasperJ and not a forum thread. In the context of this GitHub issue, I'll be addressing only @CasperJ 's original question, but of course considering your input when it's relevant. If you have a separate doc bug - an error or critical missing information - please open a separate issue. However you may g

[2018-12-18 18:30] MicahMcKittrick-MSFT commented on #20918
Thanks for confirming you get the same error @jakaruna-MSFT

@hrushib could you take a look at the doc and help us figure out why it doesnt work?

CC @aljo-microsoft

[2018-12-18 18:33] shortPause commented on #20768
To answer your last question I did try installing this on my home network at my home!

Regarding version install or manual download I'll see if that works or not. I'll keep posted!

[2018-12-18 18:38] SaurabhSharma-MSFT commented on #20958
@marioanton Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 18:38] SaurabhSharma-MSFT commented on #20957
@hdpoe Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 18:39] SaurabhSharma-MSFT commented on #20956
@mattstached Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 18:39] SaurabhSharma-MSFT commented on #20955
@WiseOldHowell Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 18:40] SaurabhSharma-MSFT commented on #20935
@Tragedian Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 18:41] Karishma-Tiwari-MSFT commented on #20855
@zr-msft Can you please update the doc as needed with the information on changing the availability sets for Linux VMs. Thanks :)

[2018-12-18 18:43] jlian commented on #20924
Hi, I've moved onto a different team. Adding @adpick to see who can help with a doc refresh here

[2018-12-18 18:44] Karishma-Tiwari-MSFT commented on #20954
@rvahaver I have assigned the issue to the content author to investigate further and update the doc as appropriate. Thanks.

[2018-12-18 18:45] dominicbetts commented on #20843
#please-close

[2018-12-18 18:47] MicahMcKittrick-MSFT commented on #20938
When you reserve VM instances in Azure there are two options to pick from
1) Size Flexibility
2) Capacity Priority

Choosing to use Size Flexibility means that the reservation you paid for can apply to multiple sizes of the same VM series. This means that if you have a reservation for say D3 VMs and have size flexibility selected and want to deploy a VM then we go and check to ensure that size is

[2018-12-18 18:47] laurenhughes commented on #20074
@rlingineni, Thank you for your feedback! I agree that the Node.js article is difficult to find and would be more discoverable in the "Tutorial" or "Quickstart" section in the table of contents. I created a work item for your suggestion, so I will close this issue.

#please-close

[2018-12-18 18:48] MicahMcKittrick-MSFT commented on #20768
@shortPause thanks for confirming that. Figured it was worth a shot :)

Give the manual install a try and if that does not work we can get you in touch with the Visual Studio team to help get it sorted out.

[2018-12-18 18:48] AjayKumar-MSFT commented on #20620
@austvik, Thanks for the feedback on this item, I have assigned the issue to the content author to review further on these points and update the document as appropriate.

[2018-12-18 18:53] captaingig opened #20962 "Reminder to disable IE Enhanced Security Configuration"
Please add step to disable IE Enhanced config on the server OS before running the powershell script. It blocks the MSOL login ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Use existing NPS servers to prov

[2018-12-18 19:05] cwoolum commented on #20118
@MicahMcKittrick-MSFT Yes, I am

[2018-12-18 19:17] zr-msft commented on #20855
cc @cynthn

[2018-12-18 19:24] samsmithnz opened #20965 "Feedback: give some love to Console and Unit Test applications using Key Vault"
The Key Vault documentation is pretty technical. Given that it's still a relatively new application, I'm surprised that I'm finding it difficult to find quick starts/tutorials for other applications that aren't asp.net core or containers. What about console applications? functions? Unit test projects? The documentation could benefit from having these samples.

[2018-12-18 19:30] TravisCragg-MSFT commented on #20844
@christophkarner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-18 19:32] MarileeTurscak-MSFT commented on #20931
@anoobbacker
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:33] MarileeTurscak-MSFT commented on #20937
@jmfrank63
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:33] MarileeTurscak-MSFT commented on #20953
@DMoonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:34] spelluru commented on #20944
I will work with @axisc when he is back from vacation. Thanks.

[2018-12-18 19:38] MarileeTurscak-MSFT commented on #20965
@samsmithnz I would suggest that you link a specific github document or open this feedback on a document so that an author and someone from the product team can respond to your feedback.

[2018-12-18 19:40] MarileeTurscak-MSFT commented on #20945
@DMoonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:41] MarileeTurscak-MSFT commented on #20952
@jgallucci32
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:45] MarileeTurscak-MSFT commented on #20946
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:48] MarileeTurscak-MSFT commented on #20947
@iFoton can you please link the Microsoft document that you are referring to so that we can better assist you?

[2018-12-18 19:49] MarileeTurscak-MSFT commented on #20962
@captaingig
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:49] Anand-Moghe opened #20967 "Can you provide some guidance for limits related Logic App and Integration Account"
Can you add some documentation about the limits for Logic App and Integration Account in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microso

[2018-12-18 19:50] MarileeTurscak-MSFT commented on #20951
@vikaskumawat80
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:51] MarileeTurscak-MSFT commented on #20949
@bally-singh
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:52] MarileeTurscak-MSFT commented on #20967
@Anand-Moghe
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 19:54] SaurabhSharma-MSFT commented on #20956
@mattstached It is treated as "and" and the combination of conditions with your access controls represents a conditional access policy.  Also, the two conditions - Users and Cloud Apps are mandatory in a conditional access policy.  Please refer to [What is conditional access in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview)

[2018-12-18 19:54] iFoton commented on #20947
[Web activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity)

[2018-12-18 19:54] #19025 closed

[2018-12-18 19:54] #20793 closed

[2018-12-18 19:54] #20803 closed

[2018-12-18 19:55] TravisCragg-MSFT commented on #20900
@mlr-msft I believe that this is the only doc that describes DPDK. For configuration issues, be sure that you have configured your VM as outlined in the doc.

[this doc on DPDK has more info on port-topology](https://doc.dpdk.org/guides/testpmd_app_ug/run_app.html).

For further help, you can reach out to support, or try to reach out internally to labattul.

[2018-12-18 19:56] TravisCragg-MSFT commented on #20848
@ivanignatiev Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-18 19:58] MarileeTurscak-MSFT commented on #20923
@Sagarpaudel8 please link the document you are following or open a new issue under that document.

[2018-12-18 19:58] #20923 closed

[2018-12-18 19:58] TravisCragg-MSFT commented on #20732
@Sethu2488 Unfortunately I am unable to give a timeline on when auto-scaling will be generally available. Please keep an eye on the [App Gateway Product Roadmap](https://azure.microsoft.com/en-us/updates/application-gateway-autoscaling-in-public-preview/) for new announcements!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your re

[2018-12-18 19:58] #20732 closed

[2018-12-18 20:03] ivanignatiev commented on #20848
@TravisCragg-MSFT  thank you ! I will appreciate also some examples with Internal Load Balancers and NSG at Subnet and NIC levels.

[2018-12-18 20:06] mdgattuso commented on #20701
Hi all,

I'm from the Azure CDN product team. Support for wildcard domains for Verizon and Microsoft is coming early 2019. Feel free to reach out to me with any additional questions at maxwell.gattuso@microsoft.com.

[2018-12-18 20:12] SaurabhSharma-MSFT commented on #20958
@marioanton  You can pass -Windows or -Linux to the command "Set-AzureRmVMOsDisk" for Windows and Linux VM respectively.

[2018-12-18 20:13] rwwilden commented on #17526
I do not get an IP address when running `az mesh network list` but when running `az mesh gateway list`.

Besides, the ARM template that is used to deploy to Azure from Visual Studio outputs the public IP address. So you can also check the last successful deployment to the resource group and find the address this way.

[2018-12-18 20:16] SaurabhSharma-MSFT commented on #20935
@Tragedian I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-18 20:22] rothja commented on #20967
@Anand-Moghe Thank you for this feedback. I manage the article, but many authors contribute. I believe that the Logic Apps content lead is @ecfan. @ecfan, can you confirm that this is in your area? Would you be able to help us investigate this request? Thank you!!

[2018-12-18 20:42] MicahMcKittrick-MSFT commented on #20118
@cwoolum thanks for that.

I am not getting the errors you are seeing so I would suggest the following

Remove all AKS resources. This includes the AKS cluster and the resource group labeled MC_***. That way you have a clear slate. After doing that try the steps again. If you get the same error as before then it would seem it is something specific with your subscription.

If that is the case, you

[2018-12-18 20:46] MicahMcKittrick-MSFT commented on #18819
@rhgs are you running this in a local instance of Azure CLI or in the Azure Cloud Shell? If on prem, can you try running it in Azure Cloud Shell to see if it goes through?

[2018-12-18 20:48] jderus opened #20969 "More Nuget Packages Needed for Example Code"
I could be missing something, but I believe this documentation also should call out the need to add Microsoft.Azure.KeyVault nuget package in order for the supplied sample code to build. At least, that seems to be the case with dotnetcore/netstandard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bb

[2018-12-18 20:56] MarileeTurscak-MSFT commented on #20951
Hi @vikaskumawat80 , that's correct. Your licensing agreement states that you need to have a Premium P1 or P2 license for each user. It is a bit confusing since it has changed, but as of September Azure MFA is no longer available as a standalone service.

[2018-12-18 20:57] MarileeTurscak-MSFT commented on #20951
We will now proceed to close this thread. Please let me know if you have further questions! If you would like to continue the discussion feel free to tag me in the comments and I will gladly answer any follow-ups.

[2018-12-18 20:57] #20951 closed

[2018-12-18 21:10] axatix commented on #20938
Uff it is more and more difficult for me.
When I order reserved capacity with capacity priority. It will be only applied when I order the specific VM?
When I order this I understand that there will be more Vms with this size in this region.  Will this means that when I order for example D4sv3 with capacity priority there will be caunted with one more D4sv3? Will be that connected for my subscripti

[2018-12-18 21:10] MarileeTurscak-MSFT commented on #20969
@jderus
Thanks for your feedback! I have passed this onto the content author, @BryanLa

[2018-12-18 21:17] MarileeTurscak-MSFT commented on #20866
Thanks, @wesleyniels . What do you mean when you say that they are not working? What error do you encounter?

[2018-12-18 21:17] MarileeTurscak-MSFT commented on #20866
Can you please post this same question to MSDN and link it here? We are moving away from these sorts of troubleshooting questions in the doc comments. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-12-18 21:19] #14058 closed

[2018-12-18 21:21] MicahMcKittrick-MSFT commented on #20938
If you pay for a reserved instance and use Capacity Priority we will reserve an instance of the selected size for you in that region. That way if you want to spin up an instance you can be confident that there will be that specific size available for your subscription.

Otherwise, flexibility capacity will ensure you that size or a similar size available but the discount for reserving the capacity

[2018-12-18 21:37] MarileeTurscak-MSFT commented on #20949
Can you run the 'fix my network' and 'connect to the internet' wizard and try again?

[2018-12-18 21:37] aashishb commented on #20346
Sorry for the inconvenience. AML would not have charged you anything at this point since you are not able to attach AKS cluster to AML and are not doing inferencing. If you have already been charged for the AKS clusters, please open support request using [this](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview) link or call 1-800-867-1389 to start the refund proc

[2018-12-18 21:43] MarileeTurscak-MSFT commented on #20886
@barbkess do you know if one of these exists? I am not aware of a list like this but can escalate this to the PG to find out.

[2018-12-18 21:44] MarileeTurscak-MSFT commented on #20965
@samsmithnz please either link the relevant document here or leave a new Github issue on a specific document and we will gladly pass on your feedback.

[2018-12-18 21:44] #20965 closed

[2018-12-18 21:50] mcollier opened #20971 "Specify payload for triggers"
While I do think this feature can be helpful, I find this article a bit confusing in terms of how I would use the feature.  There seems to be an assumption of the payload format for each trigger.  For example, what is special about the HTTP POST body being {“input”: “test”}?  Is that payload specific (an example) to an Azure Storage queue trigger?  If I try a payload of {“cats”: “dogs”}, I do rece

[2018-12-18 21:53] SaurabhSharma-MSFT commented on #20955
@WiseOldHowell The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-12-18 21:53] #20955 closed

[2018-12-18 21:58] redamaleki opened #20972 "Radius Target based off of Radius Client"
I have VPN (Cisco ASA) that uses RADIUS with a target of Windows Domain.  I have a new RD Gateway that needs the target set to a RADIUS Server.  How can I specify the target based on the client?  Or are the pages on configuring and RD Gateway to be integrated with MFA on premise missing the steps on how to configure with the RADIUS target set to Windows Domain?

---
#### Document Details

⚠ *Do no

[2018-12-18 22:00] Moeahmad94 commented on #10363
@Blackbaud-MikeDuVall @Mike-Ubezzi-MSFT, were you able to verify whether the DLQ was per Subscription or Topic?

Thanks,
Moe

[2018-12-18 22:07] MicahMcKittrick-MSFT commented on #20938
The capacity you select should be reserved for you. It is not a specific node per say but we make sure that there is capacity in that size for you to deploy to somewhere in that region.

As per which zone, I am not aware of this being tied to any specific zone in a region. We will simply ensure you have capacity to deploy in one of the selected zones in a region for the VM size you select.

@yashe

[2018-12-18 22:12] axatix commented on #20938
Thanks very much. To close this I have last thing on the list. When I create ds2v3 ri for 1 year and ds2v3 for 3years all flex and order server ds4v3 will be this one covered by both first year?

[2018-12-18 22:17] chopeen opened #20973 "`function.proj` files in Folder structure"
The `function.proj` files appear in the structure but they are not mentioned anywhere. AFAIK, they have been deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691e8fe7-3db3-1913-dcba-68789e625c59
* Version Independent ID: 8846f2c6-df56-f387-4727-1004fab35c0a
* Content: [Azure Functions C# script developer refe

[2018-12-18 22:19] guzo-kevin commented on #19925
@momond thank you. I found it.

[2018-12-18 22:21] Karishma-Tiwari-MSFT commented on #20936
@binken To help me understand better, can you please elaborate on which step are you seeing an error or facing difficulty while following the doc. Thanks

[2018-12-18 22:27] IanMercer opened #20975 "Suggest adding a WARNING to this that the order of the XML elements matters"
See https://github.com/Azure/service-fabric-issues/issues/1394
and https://github.com/Azure/service-fabric-issues/issues/65

It's not normally the case that XML files like these require a specific ordering of sibling elements but Service Fabric currently requires it and that fact is not apparent in this article or eleswhere.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-12-18 22:27] helloguo opened #20976 "Is there a way to build a Windows container custom image?"
I have Docker and Azure Function Core Tools v2 installed on my local Windows 2019 server. I want to use Windows Hyper-v container running some Azure Functions on my local machine. As mentioned in this doc, `func init MyFunctionProj --docker` will generate a Dockerfile to build the Linux custom container. Is there a way to create a Windows custom image (e.g. modify the Dockerfile)? If so, what woul

[2018-12-18 22:30] MarileeTurscak-MSFT commented on #20972
@redamaleki
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 22:34] areddish commented on #20939
@Tzuya14 when you train a model you get back an iteration. You can pass that iteration in the predict image call to target that specific model iteration. The above code will set the latest trained iteration to be the _default_ which is what predict_image will use if you don't pass an explicit iteration.

If you want to re-use an iteration in a separate program (or without retraining) you just need

[2018-12-18 22:41] MarileeTurscak-MSFT commented on #20953
A appears to be the application and B is the tenant where the service principal is created from the application. There does appear to be more than one description of A and B so I agree with you.

@CelesteDG could you please clarify?

[2018-12-18 22:43] MarileeTurscak-MSFT commented on #20866
Please post in MSDN and link it here and we will help troubleshoot this problem. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-12-18 22:43] #20866 closed

[2018-12-18 22:53] MarileeTurscak-MSFT commented on #20945
There's another document that covers this. https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

This Github sample is also very helpful. https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect

[2018-12-18 22:53] Mike-Ubezzi-MSFT commented on #10363
@Blackbaud-MikeDuVall @Moeahmad94 This is per queue and not per namespace. I just went through a quick deployment and when you click on Add Queue, you have the ability to add a DLQ to go with the new queue being added (see screen capture):

![screenshot 99](https://user-images.githubusercontent.com/37126106/50187882-686ff200-02d4-11e9-88f6-fc23d12eb3c9.png)

[2018-12-18 22:53] MarileeTurscak-MSFT commented on #20945
Please let me know if this clarifies and is the answer you are looking for. I will close this out but if this does not fully answer your question feel free to tag me in the comments.

[2018-12-18 22:53] #20945 closed

[2018-12-18 22:54] samsmithnz commented on #20965
Hi MarileeTurscak. Thanks for the reply. I just wrote about this in a separate more specific issue, but in general:

I know you are always looking for ways to improve the docs. I think the docs could benefit from even a short article on "What about if you aren't developing a web app" options type of doc, to direct people when they aren't creating a web app. I understand why the Azure Key Vault doc

[2018-12-18 23:00] MarileeTurscak-MSFT commented on #20971
@mcollier
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 23:00] MarileeTurscak-MSFT commented on #20973
@chopeen
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-18 23:03] ajlam commented on #20091
@stijnbrouwers, thanks for the feedback. Would definitely recommend filing a request in [UserVoice](https://feedback.azure.com/forums/597982-azure-database-for-mysql) as Mike mentions.

[2018-12-18 23:05] tfitzmac commented on #18351
#please-close

[2018-12-18 23:12] chopeen commented on #20973
After some research I'm not so sure about the deprecation (that was probably `project.json`).

However, I still think the role of `function.proj` should be explained and how it relates to the .csproj file. This information is hardly available.

[2018-12-18 23:20] mlr-msft commented on #20900
Thanks! Will do.

[2018-12-18 23:20] #20900 closed

[2018-12-18 23:22] barbkess commented on #20886
@MarileeTurscak-MSFT : I am not aware of a list.

[2018-12-18 23:58] mike-urnun-msft commented on #20973
Hi @chopeen

Yes, you should use `function.proj` to load NuGet modules if you're on runtime v2.

For your feedback around better explaining the role of `function.proj`, we have proceeded to assign this issue to the author to review further and take the right course of action.

[2018-12-19 00:06] mike-urnun-msft commented on #20976
Hi @helloguo Thank you for your feedback! We will review and update as appropriate.

[2018-12-19 00:14] Moeahmad94 commented on #10363
So if there's a topic with two subscriptions, is it possible for both
subscriptions to get/check messages from the DLQ, or is it first come first
serve?

Thanks,
Moe

On Tue, Dec 18, 2018, 2:53 PM Mike Ubezzi <notifications@github.com wrote:

[2018-12-19 00:19] Grace-MacJones-MSFT commented on #20867
@mapoitras  thanks for the update. I am assigning this issue to the content author to evaluate and update the documentation to add more clarity on wildcard dependencies.

[2018-12-19 00:32] imeya commented on #20930
yes, I have read this article. The situation is that if the child runbook is taking a very long time, like 1 day, then the parent runbook will wait until the child runbook completed? is it right?

[2018-12-19 00:33] YutongTie-MSFT commented on #19925
@guzo-kevin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 00:33] #19925 closed

[2018-12-19 00:36] MarileeTurscak-MSFT commented on #20975
@IanMercer
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 00:38] georgewallace commented on #20930
If you use the `wait` parameter yes, otherwise they spawn off in their own instances.. Keep in mind Azure runbook sandboxes have a 3 hour limit on run time.

[2018-12-19 00:42] Mike-Ubezzi-MSFT commented on #10363
@Moeahmad94 If you have two clients (same as subscription if I understand your terminology) listening to the same queue, without a [filtering method implemented](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.filter.match?view=azure-dotnet), it is first come first served.

[2018-12-19 00:43] gk14 commented on #11519
Maybe someone else has the same issue. In my case I needed to call my custom APIs and authenticate via MSI. Turns out all I had to do was register the application in the Azure AD and copy and paste the application id into the MSI field and it worked. I also enable oath  on my API.

[2018-12-19 00:45] TravisCragg-MSFT commented on #6261
@dcbrown16 it seems this one has slipped through the cracks twice, my apoogies.

@cherylmc are you the right person for this? you have been my hero lately.

[2018-12-19 00:47] TravisCragg-MSFT commented on #15408
@rifaterdemsahin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 00:47] #15408 closed

[2018-12-19 00:49] MarileeTurscak-MSFT commented on #20886
Thanks, @barbkess . @tariqjaber  have escalated this to the product team to address your question.

[2018-12-19 00:49] imeya commented on #20930
does it mean if a runbook takes more than 3 hour, it will be timeout, then failed or something else? thanks.

[2018-12-19 00:49] TravisCragg-MSFT commented on #18374
@AzureStackNerd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 00:49] #18374 closed

[2018-12-19 01:00] SaurabhSharma-MSFT commented on #20766
@xyz92 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-19 01:00] #20766 closed

[2018-12-19 01:00] VanMSFT commented on #20747
Hi @djmolny! Thank you for catching this! We really appreciate it. This is being fixed, and a new image will be deployed. Thanks again!

#please-close

[2018-12-19 01:11] mrbullwinkle commented on #17026
Article has been [updated](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-failure-diagnostics?toc=/azure/azure-monitor/toc.json#alert-logic-details) to help address this question.

[2018-12-19 01:11] mrbullwinkle commented on #17026
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-19 01:13] CAELT opened #20978 "Can I host a Unity3D game ?"
Howdy!
I am a professor at Harrisburgg University.  I am developing a student project in Unity3d.  We host it on a LAMP server currently, and our IT folk sure would like us to not use a LAMP server.
We have Microsoft Azure, Imagine, etc here at our University.  I see where you say that JS or .NET apps can be run on your server...   I just wonder if Unity can and if so, do you have some instruction

[2018-12-19 01:15] #17026 closed

[2018-12-19 01:21] DMoonesinghe opened #20979 "#20945: How does OAuth & AAD fit into this picture. How does OAuth & AAD fit into this picture."
Marilee:  I know you closed the previous issue #20945 by pointing to the following article:
 https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

But it didn't answer my question at all. Yes. I read that document you referred to, prior to opening this issue.   It is exactly that document that made me ask the question.

So let me ask again. Shouldn't the decision

[2018-12-19 01:47] mrbullwinkle commented on #20978
Melanie, thank you for your question. Application Insights would be more for monitoring your application/games performance once you had it up and running/hosted. With that said Azure should be able to support hosting your Unity game though the details will depend on how your game is implemented/currently hosted. There was a [blog post on this topic](https://blogs.msdn.microsoft.com/uk_faculty_conn

[2018-12-19 01:50] barbkess commented on #20979
@DMoonesinghe : I saw your suggestion and I'm planning to add back some links to how to develop custom apps for single sign-on.  We originally intended this article to be for IT admins who are setting single sign-on for an application.  You have a good point and I'm going to see what I can do make it more clear.

@MarileeTurscak-MSFT : Please assign this to me.  Thanks

[2018-12-19 01:57] dennyx opened #20980 "any schedule info about when would support metrics on SQL Database"
Such as SQL database, we set up metric alerts(classic) which could help on database health monitoring;
while when I try to move to new alert rule, found that there is no metric info could be selected for it.

![image](https://user-images.githubusercontent.com/8176446/50194150-90af2d80-0374-11e9-8c10-1873f2117ad2.png)

and I get a page about currently supported metrics for new alert rule https://do

[2018-12-19 01:58] mrbullwinkle commented on #14787
This doc has now been retired. The doc now redirects to the [officially supported method](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api) to avoid further confusion.

[2018-12-19 01:58] mrbullwinkle commented on #14787
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-19 02:00] #14787 closed

[2018-12-19 02:04] davilar opened #20981 ""Reprotection and failback require a site-to-site (S2S) VPN to replicate data. ""
So, S2S VPN Must be with the Azure VPN Gateway or can be used a S2S VPN from a Network Virtual Appliance like CheckPoint? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da144902-87ff-69ab-7711-dd5f25aa0f82
* Version Independent ID: cbfef608-1483-c7d8-7b64-0c2e88004c28
* Content: [Reprotect VMs from Azure to an o

[2018-12-19 02:09] AlverezYari commented on #20346
@aashishb

Thanks for the help! I've put in the ticket and I remain available to help your team troubleshoot the issue if the need arises. We are very interested in getting this deployment working correctly and in a robust way!

[2018-12-19 02:21] VanMSFT commented on #9272
Hello @jakedenyer! Thank you for reporting this issue. We have revised our documentation with regards to creating the certificate using SHA256. We will look into updating the code to use PowerShell at a later date. Thanks again for your contribution!

#please-close

[2018-12-19 02:35] BryanTrach-MSFT commented on #20892
@eragonriddle Thank you for your question. We try to keep this repro open for issues related directly to the doc. Since your question is closer related to a support question, we invite you to share your questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-functions) or [MSDN](https://social.msdn.microsoft.com/forums/en-us/home?forum=azurefunctions). We have engineers ther

[2018-12-19 02:35] #20892 closed

[2018-12-19 02:53] #18351 closed

[2018-12-19 03:59] noobling commented on #20765
@SaurabhSharma-MSFT The documentation in question is here https://docs.microsoft.com/en-gb/azure/functions/tutorial-static-website-serverless-api-with-database?tutorial-step=5 More specifically the exact code is here https://raw.githubusercontent.com/Azure-Samples/functions-first-serverless-web-application/master/csharp/ResizeImage/run-module5.csx

[2018-12-19 04:03] #20843 closed

[2018-12-19 04:03] AshokPeddakotla-MSFT commented on #20843
@emanueleleoni We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-19 04:17] mwanchap opened #20983 "Nitpicking a typo"
Thanks for the excellent documentation :)
One tiny nitpick - there's an extra r in "https://MyRegistererdApp"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understanding the Azure Active Directory app manife

[2018-12-19 04:18] georgewallace commented on #20930
@imeya Yes that is correct, the job will fail.. You can learn more about [fair share](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution#fair-share).  It is best to build your runbooks to not have long running transactions.. If you need a very long runbook then you can use a [hybrid runbook worker](https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runb

[2018-12-19 04:46] #20983 closed

[2018-12-19 04:53] dcbrown16 opened #20984 "Managed Instance"
Can you output from Stream Analytics directly into a SQL Managed Instance (as opposed to single DBs)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47f63cf-0dc2-ccd6-721c-23b9a1e05b71
* Version Independent ID: 5734d24e-6ab8-2070-306b-ba75796f5e28
* Content: [Azure Stream Analytics output to Azure SQL Database](https:

[2018-12-19 04:57] KetanChawda-MSFT commented on #20932
@CodeDrop I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-19 04:59] KetanChawda-MSFT commented on #20944
@savbace I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-19 05:01] MicahMcKittrick-MSFT commented on #20980
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 05:02] MicahMcKittrick-MSFT commented on #20981
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-19 05:03] KetanChawda-MSFT commented on #20713
@cpitches We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2018-12-19 05:03] #20713 closed

[2018-12-19 05:14] kazshi commented on #20831
@KetanChawda-MSFT Thank you for the comment. I sent an email to the ACS-SB since looks like my (customer's) case is not covered in the page. Closing.

[2018-12-19 05:14] #20831 closed

[2018-12-19 05:39] ManojReddy-MSFT commented on #20626
@KbLev We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-19 05:39] #20626 closed

[2018-12-19 05:55] kobulloc-MSFT commented on #20695
@AceHack You can [use the CLI to remove Dev Spaces](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest) from a managed Kubernetes cluster (see examples further down the documentation page):

**az aks remove-dev-spaces**
(Remove Azure Dev Spaces from a managed Kubernetes cluster)

Using the [.Net Core (Visual Studio 2017) quickstart](https://docs.microsoft.com/en-us/azure/dev-spac

[2018-12-19 06:14] AjayKumar-MSFT commented on #20816
@Juliako, Thank you!
@plzm, We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-19 06:14] #20816 closed

[2018-12-19 06:19] SadiqhAhmed-MSFT commented on #20299
@v-maroge, Confirmed with our Product Group, there is no specific requirement for CPU and Memory. We are working on developing a content on this topic but, I don't have an ETA to share publicly.

[2018-12-19 06:19] #20299 closed

[2018-12-19 06:30] jakaruna-MSFT commented on #20577
@AceHack Good to know that your issue is resolved.
I will close this issue for now. If you need additional details, Please reopen.

[2018-12-19 06:30] #20577 closed

[2018-12-19 06:42] hisasima opened #20985 "Limitation for Basic SKU"
I could not enable OpenVPN with Basic SKU. Please write this limitation in this documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf66871e-f045-8ecb-6aff-dd36e20f1601
* Version Independent ID: 19b1740f-ba43-92a3-74e7-28fb6c462f2b
* Content: [How to configure OpenVPN on Azure VPN Gateway: PowerShell](https://doc

[2018-12-19 06:47] manhquang144 commented on #19553
Thanks for your information ~

[2018-12-19 06:49] SadiqhAhmed-MSFT commented on #20639
@mganeshphani, Appreciate your patience in this matter. Network Watcher capabilities also require some additional permissions, since packet capture data can contain PII data, we require that you have access to the virtual machine, and the storage account where you save the capture.

•	Microsoft.Storage/storageAccounts/Read
•	Microsoft.Storage/storageAccounts/listServiceSas/Action
•	Microsoft.Stora

[2018-12-19 06:49] #20639 closed

[2018-12-19 06:56] ChiragMishra-MSFT commented on #20984
@dcbrown16 Thanks for trying out Azure Stream Analytics. We are investigating into your concern and will update you shortly.

[2018-12-19 06:58] angoyal-msft commented on #20542
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-19 06:58] #20542 closed

[2018-12-19 07:02] angoyal-msft commented on #19063
@pablhoney similar query has been answered in the below thread, could you please refer that thread.
https://github.com/MicrosoftDocs/azure-docs/issues/19064

I am closing the thread. If you need further clarifications please reopen this issue.

[2018-12-19 07:02] #19063 closed

[2018-12-19 07:15] GeethalakshmiG commented on #20083
While restoring the VM treating SQL as black box inside a VM, it doesn't need license. howevr, @AnuragMehrotra  Kindly confirm

[2018-12-19 08:13] kazshi commented on #20317
@SubhashVasarapu-MSFT Do you have any updates on this?  Thanks!

[2018-12-19 08:20] ramadarla opened #20986 "Load balancer with availability set"
If I don't have a load balance pointing an availability set of two VMs, how do I access 2nd VM in case of 1st VM went down?
Could you please explain or refer some doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948b29e3-d488-0a0e-89c7-42849a93522d
* Version Independent ID: 8c986086-9343-4b99-ae53-f4fd1159d4f8
* Con

[2018-12-19 09:17] Cuciu opened #20987 "Spelling error in the title"
I believe 'VMware fisaster' is supposed to be read as 'VMware disaster'?
D&F are near each other on a standard keyboad..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf74fea-62eb-f55e-df86-757d5a50e4b7
* Version Independent ID: dda01b0f-5d24-3501-28e8-357bb8412875
* Content: [Overview of multi-tenant support for VMw

[2018-12-19 09:37] eldakms commented on #19842
JS/npm has been open sourced here https://github.com/Microsoft/cognitive-services-speech-sdk-js

[2018-12-19 09:40] myarotskaya opened #20988 "Group name"
I'm trying to create a group with UUID as a group name. SignalR API returns 400 Bad Request with message "Incorrect group name.". This looks odd especially considering the fact that I can use UUIDs as UserId .

Where can I find any rules how a group name should look like? And is there any chance to support UUIDs as group names on SignalR service side?

---
#### Document Details

⚠ *Do not edit thi

[2018-12-19 10:00] isamllr opened #20989 "Clarification or example needed"
"If you need to use the same tool to work with all of the content that you upload to your account, then don't enable hierarchical namespaces on your Blob storage account until these APIs become inter operable with each other."

Hi guys,
please clarify by stating an example as this can be misunderstood/misinterpreted easily.
"tool" --&gt; in most cases an Azure Service

Example: Access the same fil

[2018-12-19 10:27] AleksCallebat opened #20990 "ws.images not callable"
small typo in image building fails on my version (Azure notebook, Azure ML SDK Version:  1.0.2)

print(ws.images()['myimg'].image_build_log_uri)

should be print (ws.images['myimg'].image_build_log_uri)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4fb9-57c8-6bf7-f6e22eef0870
* Version Independent ID: bf5ce9c

[2018-12-19 10:43] rmcjst opened #20992 "I can't connect to the db server"
(I am really new at this :) )
I work in azure cloud shell. I am following the text to the letter - both parts running in azure cloud shell.
I stop at "python manage.py migrate". =&gt; server is or down or is not accwpting at 5432
I don't know how to proceed. Can you help? Tnxs. @RMC

---
#### Podrobnosti dokumenta

⚠ *Ne uredite tega razdelka. Potreben je za povezovanje težav med storitvama docs.m

[2018-12-19 10:56] anoobbacker opened #20994 "The screenshot for sign-up needs to be updated."
The sign-up & create resource blades has been merged.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32aaa37-2293-5db2-9dc5-95be31be3a8b
* Version Independent ID: 11ed3a7d-b4bb-00c0-828d-b61498947194
* Content: [Microsoft Azure Data Box Edge overview](https://docs.microsoft.com/en-gb/azure/databox-online/data-box-edge

[2018-12-19 11:01] sietec opened #20995 "I know this belongs elsewhere, but please turn off spell check for diagrams!"
I could probably find a better place to post this message, but I am not all that familiar with the new documentation standards.  My comment is this - if you are going to place a diagram (Visio, etc.) on an article, PLEASE turn off spell check - the squiggly lines underneath text that will never be correct is not only annoying and distracting but looks amateur.  Or, at the very least, add words suc

[2018-12-19 11:06] SubhashVasarapu-MSFT commented on #20317
@kazshi I have assigned this to the content author to investigate.

[2018-12-19 11:08] bs37208 opened #20996 "Security concerns with webhook integration"
The chapter "Testing your webhook integration via an HTTP POST request" raises the following security concerns to me:

1. v1 of opsgenie api is used - any way to use the more up-to-date v2?
2. apiKey is provided in the URI - not as HTTP header (e.g. such as the cURL sample request suggests in https://docs.opsgenie.com/docs/alert-api )
3. any possibility to use a pub/priv key method instead of a fi

[2018-12-19 11:08] marioanton commented on #20958
Think there is some more bits missing on the rest of the document. Overall when doing the inclusion of tags in the keyvault.

[2018-12-19 11:09] marioanton commented on #20958
Think tags like Volume label etc are required for the os to boot and procced with encryption/decryption

[2018-12-19 11:27] DMoonesinghe opened #20997 "PolicyBased Explanation needs better explanation."
This article say's: " PolicyBased VPNs can only be used on the Basic gateway SKU. This VPN type is not compatible with other gateway SKUs."

But then further down the line you say this: "(*) You can configure "PolicyBasedTrafficSelectors" to connect a route-based VPN gateway (VpnGw1, VpnGw2, VpnGw3) to multiple on-premises policy-based firewall devices. Refer to Connect VPN gateways to multiple on

[2018-12-19 11:35] angoyal-msft commented on #20720
@mcurko I have investigated further and seems like author can answer this question better, so I have assigned this issue to author for further clarification.

[2018-12-19 11:59] rohancragg opened #20999 "Broken links to powershell cmdlets"
Example:
https://docs.microsoft.com/en-gb/powershell/module/azurerm.keyvault/remove-azurekeyvaultmanagedstorageaccount
(404 – Page not found)

Should be:
https://docs.microsoft.com/en-gb/powershell/module/az.keyvault/remove-azkeyvaultmanagedstorageaccount?view=azps-1.0.0
(I took a lucky guess ;-) )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-12-19 12:02] dominicbetts commented on #20070
Hi @JetstreamRoySprowl - I haven't forgotten! I'm still waiting for clarification on this.

[2018-12-19 12:12] ManojReddy-MSFT commented on #20999
@rohancragg Thanks for reporting this. It looks like the module got updated. I assigned this to the author to update the doc accordingly.

[2018-12-19 12:12] SubhashVasarapu-MSFT commented on #20387
@sunilagarwal There was a continuation in that sentence stating,
When creating a virtual machine in the portal, under Settings, select Enabled, under Accelerated networking.
You can follow these instructions for enabling accelerated networking from azure portal.

[2018-12-19 12:15] dominicbetts commented on #20047
Hi @JetstreamRoySprowl - I haven't forgotten - I'll get back to you as soon as I have the information.

[2018-12-19 12:34] cmeyertons opened #21001 "Advanced Networking - Service Principal doesn't have enough permissions to add the load balancer to the subnet"
In the advanced networking scenario, the `LoadBalancer` k8s service fails to ensure the load balancer w/ a 403.

I got around this by adding a `Contributor` role assignment  to the subnet.

tf snippet:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5

[2018-12-19 12:35] fgessen opened #21002 "Blob Trigger storage account binding"
Layer 8 issue - please delete

[2018-12-19 12:35] rhgs commented on #18819
@MicahMcKittrick-MSFT , I'm running this in a local instance of Azure CLI.
In cloud I need to change command for:

`az aks enable-addons --resource-group myResourceGroup --name myAKSCluster --addons http_application_routing `

and  show this error:

[code]

[2018-12-19 12:41] fgessen opened #21003 "Blob Trigger storage account binding"
It does not seem to be possible to setup the configuration for Key Vault in the AppSettings when you are trying to configure the binding for the blob trigger storage account there. When I start up the application I yield and error stating: "Error indexing method 'XYZ' No valid combination of account information found.". Can the AppSetting not be resolved while starting the application / validating

[2018-12-19 12:42] SubhashVasarapu-MSFT commented on #20722
@tvandera Please go through this documentation for resetting the gateway,
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-resetgw-classic
And please provide us with some more info in this issue for guiding you in appropriate way.

[2018-12-19 12:53] rs38 opened #21004 "download pdf"
this links to a VNET topic!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#feedback)
* Content So

[2018-12-19 13:04] SubhashVasarapu-MSFT commented on #20387
@sunilagarwal Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-19 13:07] ryotatomioka commented on #20891
I had the same today and changing the kernel to Python 3.6 resolved the issue in my case. Since the tutorial seems to be already fixed in this [commit](https://github.com/Azure/MachineLearningNotebooks/commit/b35d14ab72ba8b377fee075752862ee41e9aac8c) I wonder why Azure Notebooks is using the oudated version of the notebook.

[2018-12-19 13:16] SubhashVasarapu-MSFT commented on #20997
@DMoonesinghe Thanks for the question! We are investigating and will update you shortly.

[2018-12-19 13:20] marioanton commented on #20958
This issue can be closed.

[2018-12-19 13:28] SarithaMaran opened #21005 "Unable to connect to Blob storage container."
# Unable to connect to Blob storage pushed as edge module
I want  to access the blob storage module deployed as an iot edge module from the sample module deployed on the same edge device.

I have deployed blob module on iot edge device **_(AzureBlobStorageonIoTEdge)_**([link](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob)). And I have deployed the dotnet sample as an iot e

[2018-12-19 13:41] StefanSchoof opened #21006 "unclear Supported VM instances"
In the [Supported VM instances](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#supported-vm-instances) section says D/DSv2 is supported. Is this as D and DSv2 or as Dv2 and DSv2 to read?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d8338200

[2018-12-19 13:41] Turil commented on #20484
There even is a simpler solution if you want to update the user on all nodes, documented [here:](https://docs.microsoft.com/en-us/cli/azure/vm/user?view=azure-cli-latest#az-vm-user-update)

`az vm user update -u username --ssh-key-value "$(< ~/.ssh/id_rsa.pub)" --ids $(az vm list -g MyResourceGroup --query "[].id" -o tsv)`

This doesn't work with CMD but thankfully there is WSL ;)

[2018-12-19 13:57] YvonneArnoldus opened #21007 "404 errors on AzureRM PowerShell cmdlets"
All AzureRM PowerShell cmdlets links give a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e726808-4a08-c53b-a23c-a98734c03c60
* Version Independent ID: 93645067-2608-ba47-5b9a-80ba311154ee
* Content: [Certificate assets in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/automation-certificate

[2018-12-19 14:10] SubhashVasarapu-MSFT commented on #20995
@sietec Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-19 14:13] SubhashVasarapu-MSFT commented on #20985
@hisasima  Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-19 14:34] jakaruna-MSFT commented on #20986
@ramadarla Lets assume that you have an availability set with 2 VM's. If one of the VM is down, traffic from the Load balancer will be forwarded to the healthy VM.
You can access the unhealthy VM in the same way we are accessing other VM's.
With availability sets, your vms will be placed in different [update and fault domains.](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage

[2018-12-19 14:35] rmcjst commented on #20992
I have to add a few things probably :) :
- server is created and should be ready ("available" as stated in Azur portal),
- on the other hand when cheked with "/etc/init.d/postgresql status" I get "11/main (port 5432): down"

[2018-12-19 14:35] jakaruna-MSFT commented on #21001
Thanks for the question! We are investigating and will update you shortly.

[2018-12-19 14:39] Absoblogginlutely opened #21010 "Missing powershell in prerequisites"
Also need to have the azurerm module installed on the server. You are prompted to install this after the client is installed before registering, but it would be good to have instructions or a link to install AzureRM (https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-1.0.0)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-12-19 14:39] cmeyertons opened #21011 "Static website w/ CDN - default document returns 400 bad request"
If I go to `mydomain.azureedge.net`, I receive:

[insert image]

If I go to `mydomain.azureedge.net/index.html` (or any other direct file path), it works great:

[insert image]

my CDN endpoint is configured as:

[insert image]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Versio

[2018-12-19 14:43] cmeyertons commented on #21011
Never mind it's working now -- must have been a timing / caching thing

[2018-12-19 14:47] Absoblogginlutely commented on #21010
The documentation at https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-server-registration has information on registering the server including the links to install AzureRM powershell module too.

[2018-12-19 14:48] binken commented on #20936
There's no error in the deployment. But after the deployment, I didn't see the SQL added in to AG

[2018-12-19 14:49] fmms opened #21012 "Missing "s" in connection string for Direct access with Shared Key"
Instead of
`dbutils.fs.ls("abfs://&lt;file-system-name&gt;@&lt;account-name&gt;.dfs.core.windows.net/")`
it should be
`dbutils.fs.ls("abfss://&lt;file-system-name&gt;@&lt;account-name&gt;.dfs.core.windows.net/")`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independent I

[2018-12-19 14:57] smoms opened #21013 ""Set Module" button does not work"
I have 4 custom modules deployed. I want to change/update a module. When i push the button "Set Module" nothing happen. Is it a bug?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3808c67c-7c20-c275-efaa-d3724ccd88fc
* Version Independent ID: 4d86b419-25f4-d08f-e939-8c87000f5aa2
* Content: [Deploy modules from

[2018-12-19 14:59] YvonneArnoldus opened #21014 "Get-AutomationCertificate not working in DSC"
I'm using

Script CreateCertificate
        {
            SetScript = {
                $cert = Get-AutomationCertificate -Name "SPCB_Test"
            }

            TestScript = {
return $true
            }

            GetScript = {
            }
        }

In my DSC script like specified in the documentation but I receive an error:

The 'Get-AutomationCertificate' command was found in the modu

[2018-12-19 15:07] gaurav7961 commented on #20947
HI, We are also getting same issue since this Monday.

[2018-12-19 15:10] ackava opened #21015 "Timeout example is wrong"
[code]
Should be
[code]

`moment-js` is for browser, it fails with an error `window is undefined`.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1a5a8a-2bff-1994-59bf-708900728297
* Version Independent ID: 9e1a5c40-686d-78b5-37f6-b16b4e0843e4
* Content: [Timers in Durable Functions - Azure](https://docs.microsoft.com

[2018-12-19 15:21] gkneale commented on #9764
1/2 a year later and still no update?

[2018-12-19 15:33] sergaz-msft commented on #19769
@mcurko we will close this issue for now and we will reopen it as soon as you check it again :).
Thank you!

[2018-12-19 15:33] #19769 closed

[2018-12-19 15:33] MPEV opened #21016 "Money not currency?"
I think this is (now) money?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83763b4a-2026-141a-7dcf-3afa6ff9ea6e
* Version Independent ID: 52b4f30d-ad65-1325-8e33-472591faf1e3
* Content: [Currenty Prebuilt entity - Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-currency)
*

[2018-12-19 15:36] georgewallace commented on #21007
@YvonneArnoldus Thanks for bringing this to our attention.  We are actively working on this!

[2018-12-19 15:39] diberry commented on #21016
@MPEV Thank you for reporting this issue. #in-progress

[2018-12-19 15:48] dominicbetts commented on #20730
Hi @lgermain91 - I'm going to request that this issue is closed. Please feel free to reopen it if you have any follow up questions relating the to docs. Thanks!

#please-close