[2019-06-26 13:58] PramodValavala-MSFT commented on #33775
@rjosephp Glad we could help! 😄

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-26 13:58] #33775 closed

[2019-06-26 14:05] spelluru commented on #33806
@PramodValavala-MSFT

Clemens Vasters <clemensv@microsoft.com> is the architect for messaging services. We need him to look into it. Thanks.

@clemensv - could you please provide your input? Thanks!

[2019-06-26 14:10] tkumark opened #34027 "how to configure ApplicationInsightsProfiler when I already have applicationInsights configured in sinkconfig"
I already have already configured application insights in my sinkconfig
                  "SinksConfig": {
                    "Sink": [
                      {
                        "name": "applicationInsights",
                        "ApplicationInsights": "myappinsightskey"
                      }
                    ]
                  }
So do I put like below
                  "SinksConfi

[2019-06-26 14:36] angiolep opened #34028 "How to assign role to a manage identity?"
I wonder if I could assign a given role (for example "Storage Blob Data Owner") scoped to a given storage account (for example "mystorageaccount") to a user-defined managed identity (for example "my-managed-identity") rather than passing an email as the assignee.

The portal allows you to do so ... how about the Azure CLI ?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-06-26 14:38] georgewallace commented on #33847
@kgopi05 I am guessing your permissions are not correct and you don't have the permissions to edit variables.  You can view https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal#view-role-assignments which will help you determine what permissions you have.

[2019-06-26 14:39] nssidhu opened #34029 "How to pass output back to ADF from within NoteBook"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-26 14:41] tds01088 commented on #29894
Hi
azure App Service Web app NOT act as a Mobile app. I hav e web API works as Mobile app.
Please confirm this issues or whether its working at your end

[2019-06-26 14:41] nssidhu commented on #34029
I see there is a way to pass Parameter into AzureDatabarick from ADF, but how can i pass the value back to ADF. Say i generated some file in Notebook, and i now want to pass back the path of the newly generate file to ADF so that it can be used in Other ADF Activty.

[2019-06-26 14:43] Cynothoglys opened #34030 "URL Home Realm Discovery (SSPR/MFA)"
Hello,

Currently, the https://aka.ms/mysecurityinfo link does not understand the whr parameter to allow for home realm discovery.  For example, if I use https://aka.ms/mysecurityinfo/?whr=mydomain.com it still shows the default Microsoft login page.

As a comparison, the https://aka.ms/ssprsetup/?whr=mydomain.com properly redirects to our tenants login page.

Is this something that Microsoft will

[2019-06-26 14:44] ecfan commented on #33585
Thanks @manishjoisar! Glad we could help!

@mike-urnun-msft, #please-close, thanks!

[2019-06-26 14:44] #33585 closed

[2019-06-26 14:51] MicahMcKittrick-MSFT commented on #34026
Thanks for the question! We are investigating and will update you shortly.

[2019-06-26 14:57] furmangg commented on #5621
This appears to be fixed now in ADF. See more details about how it works here:
https://feedback.azure.com/forums/270578-data-factory/suggestions/34192591-web-activity-should-support-json-array-response

[2019-06-26 14:59] achakilam1022 commented on #33885
Yes.

[2019-06-26 15:01] msrini-MSFT commented on #34020
@tsrob50 , Thank you for providing your feedback. I will check with the author and get back to you.

[2019-06-26 15:02] shaunakv1 commented on #26183
Hello @psallis, its now mid-year of 2019, any updates on the GA for V-net integration for webapps?

[2019-06-26 15:02] asubmani opened #34032 "Portal lists Express route as movable"
As of 6/26/2019 The Azure portal seems to allow express route to be moved across subscriptions now. It seems this document should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Mov

[2019-06-26 15:03] shaunakv1 commented on #31166
Same here, any updates on the GA date yet?

[2019-06-26 15:14] itisslizz opened #34034 "Transcription with less than 8 channels"
I tried to transcribe single channel wave data using the Speech SDK and Transcription service.
However I did not receive any useful results. I pretty much used the sample code from the following page:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-conversation-transcription-service
However the file I tried to use had only one channel. In the mentioned page it i

[2019-06-26 15:29] jaydestro commented on #29028
@spelluru this came up again today via twitter:

https://twitter.com/akrabat/status/1143881720879562754

The official PHP azure-storage library is marked as abandoned and I can't find an official tutorial for whatever replaces it…

https://twitter.com/akrabat/status/1143899698215948288

"Yes. I want to use a Service Bus queue. The "Note" in the README says: "If you are looking for the Service Bus,

[2019-06-26 15:34] asubmani commented on #34032
Also if Express Route is movable; then the doc should clarify how dependencies will be handled.

[2019-06-26 15:36] mmacy commented on #34011
@Oechiih Hi Jan, to verify, are these the steps you took to resolve the issue?

1. In your B2C tenant, navigate to **Azure Active Directory**
1. Select **User settings**
1. Under **LinkedIn account connections**, select **No**
1. Select **Save**

![image](https://user-images.githubusercontent.com/13394541/60194022-78214380-97ed-11e9-8792-13aadbe806fb.png)

[2019-06-26 15:37] gregory-fonkatz commented on #33971
I found the problem, it was a problem with ingress configuration.

[2019-06-26 15:37] #33971 closed

[2019-06-26 15:38] julieseto commented on #33665
I'm not working on Digital Twins anymore, so I removed the "assigned to." Christian, Dan, or Alina could be the assignees.

[2019-06-26 15:51] mtthffmn commented on #33946
Cool, appreciate it! I work in technical presales for Zendesk and we get
some confusion/pushback from combined Azure/Zendesk prospects from time to
time due to this call out.

On Tue, Jun 25, 2019 at 2:02 PM Frank Hu <notifications@github.com> wrote:

[2019-06-26 15:52] spelluru commented on #29028
#assign:axisc

[2019-06-26 15:52] PRMerger19 commented on #29028
axisc is already assigned.

[2019-06-26 15:57] Oechiih commented on #34011
Hi Macy

Yes, absolutely. With that switch set to yes it prevented me from removing the corresponding Service Principal / Enterprise Applications and therefore the B2C tenant. I haven‘t tested if this is default behavior or if someone changed something in there.
Thank you
On 26 Jun 2019, 17:37 +0200, Marsh Macy <notifications@github.com>, wrote:

@Oechiih<https://github.com/Oechiih> Hi Jan, to ver

[2019-06-26 16:01] kobulloc-MSFT commented on #34027
@tkumark Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-26 16:01] PingPongSet opened #34037 "Unable to launch web via Azure Dev Spaces"
I got the error below following the steps [Develop with .NET Core on Kubernetes with Azure Dev Spaces][1].

[![enter image description here][2]][2]

  [1]: https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore-visualstudio?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json
  [2]: https://i.stac

[2019-06-26 16:01] #24926 closed

[2019-06-26 16:01] #33084 closed

[2019-06-26 16:03] pleska opened #34038 "Open in new window doesn't work in Chrome 75"
I cannot get to full screen in Chrome 75 because open in new window in Chrome 75 gives a "Your session has expired please login again". If logged into the VM without checking open in new window then no full screen icon appears in the clipboard window. Both appear to work fine in Chromium Edge Canary as of 2019-06-26.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-06-26 16:04] ashjain commented on #34020
These steps are no longer required during the preview for the preview regions, hence, were removed from the documentation.

[2019-06-26 16:07] #34020 closed

[2019-06-26 16:08] Gamecock commented on #33912
@kgremban  `az extension update --name azure-cli-iot-ext` resolved the issue.

[2019-06-26 16:08] #33912 closed

[2019-06-26 16:08] conceptdev commented on #29894
This page was updated since the original issue was raised.

@tds01088 see the step "Azure Mobile Apps has SDKs for .NET and Node.js backends." - you can add Easy Tables or download, build, and deploy the equivalent C# .NET code to the web app to create a mobile back end.

#please-close

[2019-06-26 16:08] #29894 closed

[2019-06-26 16:16] tamram commented on #34028
@angiolep - Yes, you can. Our examples show the user as a simple case, but you can assign a role to any security principal, including a managed identity. See the reference for _az-role-assignment-create_:

https://docs.microsoft.com/cli/azure/role/assignment?view=azure-cli-latest#az-role-assignment-create

I will update the documentation to make clear that this applies to any security principal, n

[2019-06-26 16:29] Karishma-Tiwari-MSFT commented on #32709
Thanks @mlearned.
@mscbpi This task has been added to our backlog. Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-26 16:29] #32709 closed

[2019-06-26 16:29] alkohli commented on #33861
The doc changes are merged and should go live today. Thanks for your patience! I will now close this issue.

#please-close

[2019-06-26 16:29] #33861 closed

[2019-06-26 16:29] alkohli commented on #33862
The doc changes are merged and should go live today. Thanks for your patience! I will now close this issue.

#please-close

[2019-06-26 16:29] #33862 closed

[2019-06-26 16:34] LValla opened #34040 "Copy pasting a json code of a logic app, removes the possibility to use the visual editor"
If I take the json code of a previouly coded logic app from azure, and I then copy paste it in a logic app project, i miss the possibility to look at it with the visual designer within visual studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e4c182-ccd7-0ee5-a993-9f4b4febf8d5
* Version Independent ID: a02db181-a2

[2019-06-26 16:36] Mike-Ubezzi-MSFT commented on #33756
@AndyHerb Perfect! I am going to forward this on to the content owner to be evaluated and updated as necessary.

[2019-06-26 16:43] mmacy commented on #33401
@Mike-tech Hi Mike, want to check to ensure that you're using b2clogin.com as specified in the article:

To enable JavaScript for your applications, you must add an element to your custom policy, select a page contract, and [use b2clogin.com](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) in your requests.

[2019-06-26 16:44] mmacy commented on #30490
Hi @Norrch2, yes, that is correct - there is no way to set a default value to a Paragraph Claim outside of a claims transformation.

[2019-06-26 16:45] MisinformedDNA commented on #24080
I found this issue because CS2007 was suggesting I add `.ConfigureAwait(false)` and as I started adding them, I had a moment of concern that this might be wrong. So what I gather here, which I cannot find in any documentation for, is that

- When awaiting a call from an orchestrator, we should either exclude the `ConfigureAwait` call or use  `.Configure(true)` instead.
    - Is this just for Activ

[2019-06-26 16:45] ulitosCoder commented on #30003
The same case for me, I haven't found a workaround

[2019-06-26 16:47] Norrch2 commented on #30490
@mmacy

Thank you for your help.

[2019-06-26 16:47] #30490 closed

[2019-06-26 16:48] barbkess commented on #33946
Please reassign to Jeevan Desarda

[2019-06-26 16:50] LValla commented on #34040
the structure of the code of the VisualStudio project is slightly different from the one on the Azure portal: I solved by copy pasting only the content of the "definition" property of the logic app json I've already had, within the "definition" property of an empty logic app created from within visual studio

[2019-06-26 16:53] fume opened #34042 "devicecode endpoint is wrong"
The endpoint in the section https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code#device-authorization-request

https://login.microsoftonline.com/{tenant}/devicecode should be https://login.microsoftonline.com/{tenant}/oauth2/devicecode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc

[2019-06-26 16:54] kzu commented on #33343
In all honesty, given that you do not support Xamarin, your package should really not even target netstandard2.0 since that clearly breaks the implicit contract there: your package is saying it can target [all platforms that implement NS2](https://github.com/dotnet/standard/blob/master/docs/faq.md#whats-the-difference-between-targeting-implementing-and-supporting), yet you don't.

So my recommenda

[2019-06-26 16:55] JeffJerousek opened #34043 "PTR record limit"
Can someone comment on the limit of 20 records in a PTR record set? Is it a technical issue related to UDP message size or a best practice limit?

We have some with over twenty, we don't think we need them but a way forward would be nice if they are actually needed for something, without reassigning IP addresses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-06-26 16:55] MicahMcKittrick-MSFT commented on #33665
@julieseto please provide their GitHub usernames so we can properly assign.

[2019-06-26 17:00] femsulu commented on #34034
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-26 17:05] FrankHu-MSFT commented on #34021
@pavelrozenberg Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-26 17:06] ccompy commented on #25991
There are ongoing investments that will make ASE creation much faster. There is nothing further to report on a public website around that activity other than it is ongoing.  I will have a lot more to say on the subject at Ignite.

[2019-06-26 17:06] FrankHu-MSFT commented on #34042
@fume Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-26 17:07] CeciAc opened #34044 "Import Problem"
@ddoussot commented on [Wed Jun 26 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/476)

This line does not work for me :
import android.support.v4.app.NotificationCompat;

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: affa806e-ed31-20b7-9aee-2b56572225ab
* Version Independent ID: 5de

[2019-06-26 17:08] YutongTie-MSFT commented on #15999
@cforbe FYI

[2019-06-26 17:08] CeciAc commented on #34044
Hi team,
moving this here since this may be a source issue
best

[2019-06-26 17:08] YutongTie-MSFT commented on #33625
@norliu
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-26 17:08] #33625 closed

[2019-06-26 17:11] hrasheed-msft commented on #33512
@holgerjay I have checked with the team who produced this original document as well as the support team for HDInsight and they said that the correct port for IP 168.63.129.16 is 53. I am updating the document to clarify the differences between needed IP addresses. https://github.com/MicrosoftDocs/azure-docs-pr/pull/80665

[2019-06-26 17:11] pgbconfirmit commented on #33701
Based on the Azure documentation, there appear to be 2 ways to encrypt VMs.
1) Azure Disk Encryption (ADE)
2) Azure Disk Encryption with Azure Active Directory (ADE w/ AAD)

Currently, Azure Site Recovery doesn't support VMs encrypted using method #1. Unfortunately, all of our VMs are encrypted like this and it appears we would have to recreated all of our VMs if we wanted to switch to using metho

[2019-06-26 17:11] femsulu commented on #34030
Thanks for your comment. need a bit more information to be able to assist or redirect appropriately. Is your issue related to an Azure or Onpremise solution? Can you share the documentation being referenced in your comment above?

[2019-06-26 17:11] jwargo commented on #34044
@CeciAc thanks. We didn't encounter this problem when we last updated the tutorial, but @spelluru is going to take a look at it.

[2019-06-26 17:12] MicahMcKittrick-MSFT commented on #33864
I will close this out for now. If you still need help just let us know and we can reopen and continue the conversation.

[2019-06-26 17:12] #33864 closed

[2019-06-26 17:12] MicahMcKittrick-MSFT commented on #33815
I will close this out for now. If you still need help just let us know and we can reopen and continue the conversation.

[2019-06-26 17:12] #33815 closed

[2019-06-26 17:13] MicahMcKittrick-MSFT commented on #33961
I will close this out for now. If you still need help just let us know and we can reopen and continue the conversation.

[2019-06-26 17:13] #33961 closed

[2019-06-26 17:13] adrianwells commented on #33949
@femsulu I am closing this comment as found the answer that 32 bit is not supported at this time for Service Map.

[2019-06-26 17:13] #33949 closed

[2019-06-26 17:14] robinsh commented on #33801
Thanks @lipsius. @JimacoMS3 and I talked about it this morning; he's going to follow up and make sure you can successfully run and get the temperature alerts.

[2019-06-26 17:16] femsulu commented on #34029
Thanks for your comment. Mind sharing the link to the content you are referencing above?

[2019-06-26 17:20] TiloGit opened #34045 "Auto-Upgrade release at least every 12-18 month?"
Hi,

your comment is:

The last release for auto upgrade was 1.1.880.0:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#118800

we are approach the 12month age, will MS tag another version as auto-upgrade or do we need to manual be active?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-26 17:22] mike-urnun-msft commented on #34012
Hi @freedev Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-06-26 17:23] hrasheed-msft commented on #33512
@holgerjay I'm going to proceed to close the issue, but please let us know if you require further assistance on this.

[2019-06-26 17:23] hrasheed-msft commented on #33512
#please-close

[2019-06-26 17:23] #33512 closed

[2019-06-26 17:24] mike-urnun-msft commented on #34040
Hi @LValla Thank you for your feedback! We will review and update as appropriate.

[2019-06-26 17:26] shenmuxiaosen commented on #33651
Yeah, the doc here is out-of-date as we ship another version of CLI extension. For export command, we support not only files but App Service and App Configuration such that we need one more argument as "destination". I will update the doc. Thanks tkumark!

[2019-06-26 17:29] femsulu commented on #34018
Thanks for comment. Can you confirm if your feedback is related to Azure/Cloud or On-premise scenario? From the comment above, this seems unrelated to a cloud solution. Can you share the link to the documentation you are referencing above?

[2019-06-26 17:31] jwargo commented on #33838
@xyfoo I'm checking into this, I think it's supported, we are likely just missing some docs.

[2019-06-26 17:32] MicahMcKittrick-MSFT commented on #34026
Best practices would be to have two volumes. Once for logging and another for data.

[2019-06-26 17:36] SaurabhSharma-MSFT commented on #33935
@axthosarouris "app" in the MSAL code is an instance of an application created using ConfidentialClientApplicationBuilder class (as the app is an API).  Please refer to [Client Applications](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Applications) for details.  Also, you need to use Microsoft.Identity.Client Nuget package for MSAL.NET.  Please refer to these

[2019-06-26 17:36] MicahMcKittrick-MSFT commented on #33657
@iainfoulds @sauryadas Do either of you know if users can utilize VMSS Automatic OS upgrades with AKS? My assumption would be no as an OS update would require a reimage which would destroy the container. But not 100% if this is something supported or planned to be supported.

[2019-06-26 17:38] Cynothoglys commented on #34030
Hello, this is referring to Azure MFA & SSPR.  There is a new experience currently in preview for managing both MFA & SSPR security information, and the link to this page does not support passing whr parameters in the URL.

Here is the documentation I am referencing:  https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined

Let me know if I nee

[2019-06-26 17:41] msaburnley commented on #30610
Hey @blouwagie

I have defined "Identity" on the terminology page: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-whatis#terminology.

I've also linked the word "Identity" to the terminology page in this article above upon its first mention.

Thanks!

[2019-06-26 17:44] zhenlan commented on #33644
Hi @tkumark, we do support ASP.NET via a configuration builder on .NET Framework 4.7.1 or up. Please check out https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-app for a quick-start.

[2019-06-26 17:45] femsulu commented on #34024
Thanks for the comment. Please share the link to the documentation referenced above and we will investigate further. Thanks for your patience.
@Erikre - fyi

[2019-06-26 17:47] femsulu commented on #34025
Thanks for the comment. Please share the link to the documentation referenced above and we will investigate further. Thanks for your patience. @Erikre - fyi

[2019-06-26 17:47] prabhakarreddy1234 commented on #34024
Look at the  `description` for `threshold` property in below ARM Template.

https://github.com/Azure/azure-quickstart-templates/blob/master/create-budget/azuredeploy.json

[2019-06-26 17:49] prabhakarreddy1234 commented on #34025
I didn't mention about any documentation. If you create a budget in azure portal and try to edit it. You can easily reproduce this bug.

[2019-06-26 17:51] FrankHu-MSFT commented on #34045
@TiloGit Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-26 17:52] femsulu commented on #34023
Thanks for the comment. Since this issue is already posted on stackoverflow forum channel, one of our capable community engineers will engage asap. Thanks for your patience.
@Erikre - fyi

[2019-06-26 17:52] #34023 closed

[2019-06-26 17:53] arsalanzpro commented on #30846
Can someone update on this issue, that command is incomplete for -EncryptFormatAll option.

[2019-06-26 17:53] AngelosP opened #34048 "Needs updates for Visual Studio 2019"
Some of the screenshots and text need to be updated for Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Create your first function in Azure using Visual Studio](https://docs.microsoft.com/e

[2019-06-26 17:53] femsulu commented on #34032
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-06-26 17:54] aydeisen commented on #34026
@MicahMcKittrick-MSFT

Thanks.  Just to confirm: this is still the case when there is _only a single_ storage pool

[2019-06-26 17:56] arsalanzpro commented on #26749
Any updates on this, please,  does it work with XFS format or not, because centos 7 VM with Premium SSDs always use XFS?

[2019-06-26 17:57] zhenlan commented on #33906
Hi @AAATechGuy I guess you are suggesting to have an example to use `Microsoft.Extensions.Configuration.AzureAppConfiguration` in a .NET Framework app instead of the one to extend `AppSettings` section of the configuration file?

I think you are totally right. The `Microsoft.Extensions.Configuration.AzureAppConfiguration` is a .NET Standard library, so it works just fine in a .NET Framework app as

[2019-06-26 17:57] femsulu commented on #33948
@sander1095
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-26 17:57] #33948 closed

[2019-06-26 18:01] MicahMcKittrick-MSFT commented on #34026
I would still suggest it. If you are using a single storage pool it is more important to setup the correct caching policy to ensure proper performance.

[2019-06-26 18:09] aydeisen commented on #34026
okay, thanks.  It was just whether putting multiple volumes in a single storage pool would be detrimental to performance.  Thanks for the quick feedback.

[2019-06-26 18:09] #34026 closed

[2019-06-26 18:15] KetanChawda-MSFT commented on #33870
@dougmolineux closing the issue as per comment in the [PR#33918](https://github.com/MicrosoftDocs/azure-docs/pull/33918)

Thank you for taking the time to submit a fix for this issue.

[2019-06-26 18:15] #33870 closed

[2019-06-26 18:20] TravisCragg-MSFT commented on #33738
@Rutikhal @jsacapdev great to hear!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-26 18:20] #33738 closed

[2019-06-26 18:30] BryanBedard commented on #30811
I have the same problem. I assume it's not finding the model that I trained? I included the model ID that was returned by the train API in my URL. Any update on this?

[2019-06-26 18:35] rnsc commented on #14182
@ma1f yeah, I ended up implementing this with Ansible, but it's not great...

[2019-06-26 18:38] BryanBedard commented on #30811
Disregard my comment. I had a typo in the URL for the analyze endpoint. It's working for me.

[2019-06-26 18:40] ghonyme opened #34051 "Fine tuning of the outbound rules to Internet"
Hello,
I can see that the documentation suggests to open InternetOutbound on all ports. Is it possible to know exactly which ports should be openned from the virtual machine to Azure ADDS services?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c

[2019-06-26 18:43] DSharpPro opened #34052 "DNS lookup requests from malicious sources are not being sent to Sentinel via the connector"
Describe the bug
DNS logs are being received into Sentinel although DNS lookup requests from malicious sources are not being sent.
Expected behavior
All DNS logs to be uploaded to Sentinel for consolidation
Additional context
Please let us know if you require any further information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-06-26 18:43] drewwilliams1982 opened #34053 "Cloud SHell commands for changing directory not working as prescribed"
In Cloud Shell, if I run "mkdir tutorial" followed by "cd tutorial" I get an error:
"cd : Cannot find path 'Azure:/tutorial' because it does not exist."

Running "mkdir tutorial" again, I get an error:
"/bin/mkdir: cannot create directory ‘tutorial’: File exists"

Can you update the tutorial so it is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-06-26 18:53] drewwilliams1982 commented on #34053
Seems I have to navigate to /home/username/tutorial

[2019-06-26 18:53] LawrenceLLo opened #34054 "Custom logs via azure cli"
There is clear documentation on creating custom logs via the azure portal GUI:

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-custom-logs

I am unable to find similar documentation on setting this up via azure cli or some other scripted method.  I tried generating a custom log config file through a script that reproduces what this GUI generates, but I was unable to see

[2019-06-26 18:54] mmacy commented on #29159
@syedjafri Hello Syed, I'm going to move forward with requesting closure on this issue as there are currently no documentation updates required in response to your question.

#please-close

[2019-06-26 18:54] #29159 closed

[2019-06-26 18:56] bodowney opened #34055 "Missing event 135011 ( device is disabled)"
Why is this error  code not posted in these docs..     User was having issues signing into Teams on a mobile device ( Android).  We checked the sign-in logs and noticed the error code was 135011.   Checking this page we didn't find this error code.     The user didn't see any specific error code except the message 'login cancelled by user'.     It appears her device had been disabled by the user a

[2019-06-26 19:04] awickman opened #34056 "404 website not found link"
The code to:
Creates and install certificates on client machine
Calculates the future VPN Gateway subnet IP range
Creates the GatewaySubnet
Deploys the Azure Resource Manager template that attaches the VPN Gateway to VPN subnet
does not work.  Specifically the url does not exist in the below command.

$scriptUrlBase = 'https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/m

[2019-06-26 19:05] mmacy commented on #29471
Hi @seantleonard, to answer your question, yes, there are plans to update the samples to reference b2clogin.com. We'll leave issue https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/48 open until the sample has been updated, but I will request closure on this issue as no updates are currently required on this article. Thanks for your patience while we work our wa

[2019-06-26 19:05] #29471 closed

[2019-06-26 19:12] mmacy commented on #30435
@nkumars Hi Naveen, because no documentation updates are required for this issue, I'm going to move forward with closing the issue.

#please-close

[2019-06-26 19:18] mmacy commented on #30435
@nkumars Hi Naveen, because no documentation updates are required for this issue, I'm going to move forward with closing it.

#please-close

[2019-06-26 19:28] TravisCragg-MSFT commented on #34038
@pleska I was able to open a new window in Chrome 75 without an issue. If you want to continue troubleshooting, your best bet is to go through Azure Support.

when not opening in a new window I was also not able to see a fullscreen window button on the clipboard on any browser. I will be following up with this.

[2019-06-26 19:31] taromielnaz opened #34057 "Two instances of a web application"
In one page it is said that Traffic Manager enables you to direct traffic to 2 regions in this page it says "In this quickstart, you'll read about two instances of a web application. Each of them is running in a different Azure region. You'll create a Traffic Manager profile based on endpoint priority." So how can we have web apps in different regions?

---
#### Document Details

⚠ *Do not edit th

[2019-06-26 19:32] joshzngf opened #34058 "What is the time out for receiving the batch with MaxBatchSize set?"
Hi,

I'm wondering what is the time out for receiving the batch with MaxBatchSize set? For example, if I set the MaxBatchSize to 128, and the current accumulated batch has 60 events, how much longer will it wait and decide to invoke my ProcessEventsAsync function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78479c3a

[2019-06-26 19:34] taromielnaz commented on #34057
Please ignore this comment.

[2019-06-26 19:38] Mike-Ubezzi-MSFT commented on #30435
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-26 19:38] #30435 closed

[2019-06-26 19:42] TravisCragg-MSFT commented on #34043
@JeffJerousek This is currently a fixed limit and it cannot be increased by support. You can have multiple record sets if you need more than 20 records.

This has been asked before, and it is something that might be changed in the future. Your best bet to get this pushed forward is to [leave your feedback Here at the Feedback.Azure.Com Networking section](https://feedback.azure.com/forums/217313-n

[2019-06-26 19:44] rothja commented on #33747
@MrCNeale I think you're referring to the footnote that says "The number of tags per resource or resource group is limited to 15." You're thinking that the actual limit is 50? I'm not sure what the latest is on this limit, but we could try to find someone who knows internally.

[2019-06-26 19:44] CeciAc commented on #33942
Hello, @siwlv

We truly appreciate your comment and we strive to improve your experience in docs.microsoft.com. However, we need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?

_Could you please check the connection string you are using. Seems like there is some issue with the connection string. Could you pl

[2019-06-26 19:49] FrankHu-MSFT commented on #34045
Whether or not these updates will be manual or auto are updated with the AAD Connect Version Docs. Please refer to the documentation with the next release.

@billmath Can you please confirm?

[2019-06-26 19:51] taromielnaz opened #34059 "Web App on more than one instance"
How can we keep web apps on more than one instance replicated and synchronous?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db349d8c-fb64-fc0a-a063-7dd7c047be93
* Version Independent ID: 1a9e3921-7cec-219c-3050-7e3dee72c76f
* Content: [Quickstart - Create a Traffic Manager profile for high availability of application

[2019-06-26 19:53] MicahMcKittrick-MSFT commented on #34009
@mukteswarp This feature is only available for Virtual Machines Running in Azure. It will not be compatible for AWS VMs.

[2019-06-26 20:01] blouwagie commented on #30610
Thank you !

Bart Louwagie
Holmes, NY
bart@louwagie.com
845 202 0239 (google voice)
http://louwagie.com
https://www.linkedin.com/in/bart-louwagie/

(when conference call <https://www.uberconference.com/bart40> is needed)

On Wed, Jun 26, 2019 at 1:41 PM Ajane Burnley <notifications@github.com>
wrote:

[2019-06-26 20:03] pdeveau opened #34060 "Github Links are broken for Samples"
Github Links are broken for Samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86412e3f-dcd6-53a3-f36d-9e6eb26b4d1f
* Version Independent ID: 4b59d006-95a6-e53f-de37-690e2324d3ae
* Content: [Azure Data Factory - Samples](https://docs.microsoft.com/en-us/azure/data-factory/v1/data-factory-samples)
* Content Source:

[2019-06-26 20:03] DeanGross opened #34061 "Example of impact in Teams"
Please provide some information that explains how this setting is going to be shown in Teams.  I was just informed that it shows up in the Owners Feed, which was unexpected, and we failed to communicate this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cdb
* Version Independent ID: f

[2019-06-26 20:14] amclin opened #34062 "Consumption Tier feature discrepancy"
Now that Consumption Tier is going into General Availability, will it be manageable via Git like the other tiers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fbb610-abd2-8836-7d65-d2c880fc7cd9
* Version Independent ID: 33502c62-7ecf-67a9-f687-ae1bea3c9fb4
* Content: [Feature-based comparison of the Azure API Manag

[2019-06-26 20:22] FrankHu-MSFT commented on #34042
Thank you for that, we are currently fixing this and the doc will be updated as soon as possible, closing this issue out as this is being changed now. Thanks again @fume!

[2019-06-26 20:22] #34042 closed

[2019-06-26 20:24] Mike-Ubezzi-MSFT commented on #34056
@awickman Thank you very much for bringing this to our attention. I have confirmed the issue and will take steps to get this updated.

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(101).png?sv=2018-03-28&sr=b&sig=J2fyyMgFOSgaelpOMJdMjldbl9GvUjYr1r%2B%2FD6JrS90%3D&st=2019-06-26T20%3A19%3A16Z&se=2022-06-26T20%3A24%3A16Z&sp=rw "Screenshot (101).png")

[2019-06-26 20:33] davidschlum opened #34063 "Inconsistent screenshot with description of .CER Format"
In the V1 SKU export instructions, all locations but in the Step #6 screenshot, it specifies that a Base-64 encoded X.509(.CER) format should be used. In my experience, the DER encoded binary X.509 (.CER) has worked too so maybe either one is actually fine. At the very least, it might make sense to clean up and provide a valid Base-64 encoded X.509(.CER) screenshot that matches the rest of the doc

[2019-06-26 20:35] Mike-Ubezzi-MSFT commented on #34056
@awickman Please try the following:

  subscriptionId = '<subscriptionId>'
  resourceGroupName = '<resourceGroupName>'
  virtualNetworkName = '<virtualNetworkName>'
  certificateNamePrefix  = '<certificateNamePrefix>'
  }

[2019-06-26 20:35] KranthiPakala-MSFT commented on #34058
@joshzngf Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-06-26 20:36] Mark7even opened #34064 "Is there a high risk sign-in event?"
From my understanding "High" is only a user-risk condition covered under identity protection and not conditional access. This article confuses this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82f158b6-b241-4d78-b609-b01fd05526dc
* Version Independent ID: 2b62c21c-f501-20f8-56be-fdb8b3cea978
* Content: [What are con

[2019-06-26 20:37] KranthiPakala-MSFT commented on #34060
@pdeveau Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-06-26 20:40] JamesBirdsall commented on #34058
MaxBatchSize is literally just the **maximum** batch size. There is no minimum. The only time it waits is if there are zero events available. As soon as even one is available, ProcessEventsAsync is immediately invoked with that event.

[2019-06-26 20:48] joshzngf commented on #34058
Thanks for the quick response!

[2019-06-26 20:48] #34058 closed

[2019-06-26 20:57] tamram commented on #34028
@angiolep - The article has been updated. Hopefully this provides the clarification you were looking for. Thanks for your feedback!

#please-close

[2019-06-26 20:58] vladvino commented on #34062
Configuration over Git is not supported in consumption tier. For the list of supported features see https://aka.ms/apimfeatures. #please-close

[2019-06-26 20:58] whysyn opened #34065 "Removing devices already "Azure AD registered""
In the "Review things you should know" section, it says "If your Windows 10 domain joined devices are already Azure AD registered to your tenant, we highly recommend removing that state before enabling Hybrid Azure AD join."  What is the recommended procedure to accomplish this?  We have several dozen 1803 systems that have already self-registered and I need to instead enable a hybrid AD setup for

[2019-06-26 20:59] sauryadas commented on #33657
This is not supported. Directly leveraging VMSS APIs for a PUT operation when VMSS is deployed as a part of AKS can lead to unknown behavior in the cluster.

cc @jluk

[2019-06-26 21:00] danijam commented on #33927
Thanks @SnehaAgrawal-MSFT  So I only need that key vault access policy during ARM deployment operation? Does that mean once the deployment is complete I could remove that access policy and my App Service will still be able to synchronise any certificate updates made in the Key Vault? I'm uncertain I understand how the running app service is able to then perform it's periodic GET operation on the k

[2019-06-26 21:03] jluk commented on #33657
Saurya is correct, we should add this note in the docs.

[2019-06-26 21:04] achakilam1022 commented on #33885
Hi, just following up on this thread. Could you please help us figure this out? Thanks!

[2019-06-26 21:21] Mike-Ubezzi-MSFT commented on #33885
I am looking into this now by following the following doc: https://docs.microsoft.com/en-us/azure/cosmos-db/visualize-qlik-sense

[2019-06-26 21:26] TravisCragg-MSFT commented on #33800
@d83194 If you would like us to add function to those buttons in the future, please [leave your feedback at the Azure Networking's Feedback.Azure.Com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2019-06-26 21:26] #33800 closed

[2019-06-26 21:31] SaurabhSharma-MSFT commented on #33911
@PATRICKwithMSFT I am checking this internally with the product team and let you know of my findings.

[2019-06-26 21:33] Mike-Ubezzi-MSFT commented on #33885
@achakilam1022 Can you please detail (cut/paste) the exact error message you are seeing. Thanks!

[2019-06-26 21:36] achakilam1022 commented on #33885
![image](https://user-images.githubusercontent.com/31456298/60216682-54cbb800-9830-11e9-8efb-3206d7e5b39b.png)
![image](https://user-images.githubusercontent.com/31456298/60216767-85135680-9830-11e9-9f98-01e5687bb79b.png)

[2019-06-26 21:39] SaurabhSharma-MSFT commented on #33844
@chrisetler You need to use PingAcess for Azure AD to authenticate to applications that uses headers for authentication.  Please refer to [Header-based authentication for single sign-on with Application Proxy and PingAccess](https://docs.microsoft.com/en-us/azure/active-directory/application-proxy-ping-access) for details.

[2019-06-26 21:49] yunjchoi commented on #33161
@DashleenBhandari-MSFT Could you verify that the issue is resolved and close it?

[2019-06-26 22:00] mike-urnun-msft commented on #34048
Hi @AngelosP Thank you for your feedback. Could you clarify on specific sections that need to be updated?

[2019-06-26 22:01] MarileeTurscak-MSFT commented on #33960
@yuriy-belelya-akqa thanks for sharing your solution.

@mmacy this seems to align with what the graph documentation says but I'll leave it up to you whether to incorporate it here. I created a pull request but won't sign off without your approval. https://github.com/MicrosoftDocs/azure-docs-pr/pull/80712

https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison

[2019-06-26 22:01] #33960 closed

[2019-06-26 22:02] mike-urnun-msft commented on #34062
Hi @amclin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-26 22:02] #34062 closed

[2019-06-26 22:05] roygara commented on #15916
Hello @lmoxiel , thanks for reaching out. This article is centered around migration, not backups. The Azure Files FAQ covers backups (including snapshots).

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq

I'll be closing out this issue now, if you think the Files FAQ is missing content around snapshots, please do feel free to re-open this and we can discuss what improvement

[2019-06-26 22:05] #15916 closed

[2019-06-26 22:07] Mike-Ubezzi-MSFT commented on #33885
Can you access the Qlik host and type the following command: `dotnet --versions`

2.1.507

Additionally, which edition are you working with?
- Download the [Qlik Sense Desktop](https://www.qlik.com/us/try-or-buy/download-qlik-sense) or set up Qlik Sense in Azure by Installing the [Qlik Sense marketplace item](https://azuremarketplace.microsoft.com/marketplace/apps/qlik.qlik-sense).

[2019-06-26 22:09] Mike-Ubezzi-MSFT commented on #33885
I think this is an issue with .NET Core but haven't an environment setup yet...in progress.

[2019-06-26 22:25] KranthiPakala-MSFT commented on #34058
@JamesBirdsall Appreciate your quick response and thank you so much for all your support in helping the doc users.

[2019-06-26 22:27] Karishma-Tiwari-MSFT commented on #33877
Thank you @sonpeppers :)
@sonpeppers Let us know if it helped answer your question.

[2019-06-26 22:46] Karishma-Tiwari-MSFT commented on #33904
@genlin Can you please share your insights on this question. Thanks :)

[2019-06-26 22:57] moez-slimi commented on #33958
I apologize for the confusion: none of the urls are real, I just wanted to illustrate the issue.
I made some progress, and after enabling diagnostics I noticed that the reply URI that Azure AD is using post login is
https://login.microsoftonline.com/te/tenant-name.onmicrosoft.com/oauth2/authresp
instead of the
https://your--B2C-tenant-name.b2clogin.com/your-B2C-tenant-name.onmicrosoft.com/oauth2/a

[2019-06-26 22:59] BeigeBadger commented on #33265
Any progress on this one @PatrickFarley?

[2019-06-26 23:03] Mike-Ubezzi-MSFT commented on #33885
I registered for the Desktop version of Qlik and haven't received my email just yet. Please review the following requirements for all editions of Qlik Sense ([link](https://help.qlik.com/en-US/sense/June2019/Subsystems/PlanningQlikSenseDeployments/Content/Sense_Deployment/Introduction/system-requirements.htm))

.NET framework | 4.5.2 or higher
-- | --

If you uninstalled .NET Core 2.x and installe

[2019-06-26 23:10] Mike-Ubezzi-MSFT commented on #33885
@SnehaGunda The Qlik 3rd party software is dependant upon .NET Framework 4.5.2 and as Windows Server 2016 Virtual Machine (from Azure Marketplace and for Desktop edition) is deployed with .NET Core 2.x, the customer is unable to use the product.

[2019-06-26 23:16] Mike-tech commented on #33401
@mmacy thanks for you reply.

Yay! I had a go with playing with b2clogin.com again and this time it worked successfully. I did attempted to use the b2clogin.com within the browser previously with no luck. In fact it's much easier changing it within the MSAL plugin I'm using, by modifying the authority and scope url and this resolve the url how it needed to be. Great!

In regards to enabling JavaSc

[2019-06-26 23:16] #33401 closed

[2019-06-26 23:17] roygara commented on #33825
@dcbrown16 thanks for reaching out, we appreciate it! You're absolutely correct, this limitation should also be disclosed here. We'll work on getting that updated and update here when that is complete.

[2019-06-26 23:17] BeigeBadger opened #34069 "Forms Recognizer returns error on some input files, even though they all use the same template"
The error message is "Word-level token extraction failed on document. string index out of range". I have 10 single page PDfs in a blob storage container that I am trying to train a model for, all of the PDFs use the same template so I'm confused as to why some encounter the errors, and others don't.

I have tried using cURL and PostMan, both return errors for the same PDFs, how can I isolate what

[2019-06-26 23:17] MarileeTurscak-MSFT commented on #33932
@banzaisi thanks for the feedback. I agree that it's unclear.

The first forest synced will take priority.

I have made a pull request to include this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/80718

CC: @billmath and @mmacy for approval

[2019-06-26 23:17] #33932 closed

[2019-06-26 23:20] dcbrown16 commented on #33825
Great, thanks!

[2019-06-26 23:45] spudda32 commented on #30804
Hi,

I ran into this issue myself. It is to do with the AZ module and namespace. To make it work for me I changed all references from Microsoft.WindowsAZ to Microsoft.Azure

[2019-06-27 00:03] JimacoMS3 commented on #33801
Hi @lipsius -- I don't currently have access to the device you are using,, but I was able to successfully run this scenario using the [Raspberry Pi Online Simulator](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-web-simulator-get-started).

It's clear from the status that you are reporting that the logic app is never getting a trigger. The data that you reported above does no

[2019-06-27 00:13] psallis commented on #29302
Hey @RyanHill-MSFT any luck?

[2019-06-27 00:20] TravisCragg-MSFT commented on #33850
@jjindrich I was able to deploy a Azure Bastion without issue in a VNET with a custom DNS server. If you would like to investigate why this is failing, your best bet is to open a support request. If you do not have a support plan, please let me know!

[2019-06-27 00:22] TravisCragg-MSFT commented on #33117
@oberoirajat Have you [Enabled Diagnostic logging on your Azure Firewall](https://docs.microsoft.com/en-us/azure/firewall/tutorial-diagnostics#enable-diagnostic-logging-through-the-azure-portal)? The log will not capture if this is not set up.

[2019-06-27 00:36] SaurabhSharma-MSFT commented on #34052
@DSharpPro Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 00:42] kobulloc-MSFT commented on #34015
@tkumark Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-27 00:44] kobulloc-MSFT commented on #34037
@PingPongSet Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-27 00:47] LaloCo commented on #33592
After following the steps in the updated documentation, I still don’t see the Mobile section when creating the Web App. Even after adding the application setting and connection string.

[2019-06-27 00:53] KeiroKamioka0000 opened #34070 "Required Scope?"
I believe new resource group will be created once this has been setup.
Does the user who will restore require to have the scope of the resource group with snapshot data?

Thanks,

-Keiro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f

[2019-06-27 01:07] mike-urnun-msft commented on #30062
Hi @CorryH Apologies for delay in response here. Were you able to get it working?

[2019-06-27 01:07] CastleArg opened #34072 "log file location"
how can I see log files or stream locally?  where do they go? how do I configure the location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.com/en-us/azure/az

[2019-06-27 01:11] mike-urnun-msft commented on #30062
@saketmodi Could you open a separate thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureapimgmt) and tag mere with the URL of your thread?

[2019-06-27 01:14] femsulu commented on #34054
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-27 01:27] yangsiyu007 opened #34074 "Add instruction for downloading, untarring and installing AzCopy 10"
Can we please include instructions for downloading, untarring and installing AzCopy 10 as they had them in the AzCopy on Linux v8 documentation (https://docs.microsoft.com/en-us/previous-versions/azure/storage/storage-use-azcopy-linux)?

It is also really confusing that the Linux download link (https://aka.ms/downloadazcopy-v10-linux) does not result in a file with ".tar" ending!

---
#### Documen

[2019-06-27 01:31] lisah2u commented on #24813
I had this exact same error in June. So it’s definitely not fixed. Sure enough, I created a user with a lowercase name and the problem went away. This is a serious usability issue for anyone using an iPad to create and manage accounts online. The reason the login/user was up-cased was as a result of the Azure Portal form that automatically up-cased the account name in the form field. I could have

[2019-06-27 01:43] mike-urnun-msft commented on #33882
Hey @abhinav-jain09 Assuming that you were looking for Java sample for Event Grid, I'd like to point you to this repo: https://azure.microsoft.com/en-us/resources/samples/event-grid-java-publish-consume-events/

Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discus

[2019-06-27 01:43] #33882 closed

[2019-06-27 01:45] KalyanChanumolu-MSFT commented on #33776
@taromielnaz A management databases holds data related to the users like login details, profiles etc.
It can hold telemetry information. Basically any data that is not tenant specific and required by your app.
Tenant database, as the name implies is specific to your tenant, separated for scale and isolation purposes.

If you have one database per app, for disaster recovery, you can choose to have

[2019-06-27 01:46] KalyanChanumolu-MSFT commented on #33776
We will proceed to close this thread.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-06-27 01:46] #33776 closed

[2019-06-27 01:49] mike-urnun-msft commented on #33692
Hello @gxs54 Since this channel is driving improvements towards MS Docs and we haven't identified any actionable item in your feedback for this particular documentation, we will now proceed to close this thread. If there are further questions regarding specific section/detail of this documentation, please reopen it and we will gladly continue the discussion.

If you still need further assistance i

[2019-06-27 01:49] #33692 closed

[2019-06-27 01:52] conceptdev commented on #33592
I just created a new App Service Web App from scratch, and after waiting for the service to be created, the Mobile section (with Easy tables and Easy APIs) appear - see below. I realize that isn't much help to you in resolving the issue, but at least you can be sure the feature does exist. If you continue to have issues, consider the Help + support feature in the Azure portal.

![azureportal-webap

[2019-06-27 02:10] LaloCo commented on #33592
Alright, I see it now but had to create the Web App with ASP.NET instead of Node. Contrary to what the docs say, Node doesn't seem to work.

[2019-06-27 02:11] mike-urnun-msft commented on #33886
Thanks for that info, @brettcannon! I've created a PR that addresses this issue per your feedback. Once the PR is merged, this issue will auto-close.

Also, change is specific to this documentation only for now. @ggailey777 could you advise on other docs that may need the same treatment. Happy to create the PRs as needed :)

[2019-06-27 02:16] conceptdev commented on #33592
Thanks for the followup info.

[2019-06-27 02:18] mike-urnun-msft commented on #32975
Hello @PingPongSet Apologies for delay in response. @spelluru has added the endpoints here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-outages-disasters#protecting-relay-endpoints-against-datacenter-outages-or-disasters

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue

[2019-06-27 02:18] #32975 closed

[2019-06-27 02:41] skybear2014 commented on #32887
Thanks a lot for your help! Documentation has been updated. Please close this ticket.

[2019-06-27 02:43] #32887 closed

[2019-06-27 02:47] skybear2014 opened #34075 "Nvidia driver grid 9.0 support"
Nvidia has released grid 9.0 driver to support windows 10 version 1903. I am wondering if it also works in Azure environment. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N-series GPU driver s

[2019-06-27 03:07] bhattvishal opened #34076 "Connection error "Failed tlsio_options_set unable to IoTHubTransport_SetOption""
I am trying to connect my device and it's always failing to connect to IoT hub with the error "**Failed tlsio_options_set unable to IoTHubTransport_SetOption**". I am using MQTT_PROTOCOL, it was working fine few days ago, but now it's not working at all.

![Capture](https://user-images.githubusercontent.com/4817681/60231411-bcc4e180-98b6-11e9-9210-86f74dd92e3a.PNG)

I am using VSCode and PlatformI

[2019-06-27 03:17] SnehaAgrawal-MSFT commented on #34053
@drewwilliams1982  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-27 03:18] shanjin90 commented on #33830
i am not mean this link you provided https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies.
the questions for customer is whether "it is supported to have different domains in AAD to have different authentication type (federated or managed)". the answer is definately yes, but they want to see an official documentation.

[2019-06-27 03:20] mike-urnun-msft commented on #32340
Hey @ChrisJWoodcock Apologies for delay in response here. I've created a PR that removes the ".._for Visual Studio 2019_..." phrase to prevent further confusion as it might have been added in error.

Thank you for sharing your feedback and helping us drive improvement towards MS Docs! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it a

[2019-06-27 03:20] #32340 closed

[2019-06-27 03:29] frehnejc opened #34077 "The note regarding Win 10 requiring Azure AD Join needs more explanation."
There seems to be a contradiction with the two statements in this document:
For Windows 10, the recommendation is to use Azure AD Join for the optimal single sign-on experience with Azure AD.
Seamless SSO needs the user's device to be domain-joined, but doesn't need for the device to be Azure AD Joined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-27 03:39] jitendra-25 commented on #33813
Thanks for the update.

[2019-06-27 03:39] #33813 closed

[2019-06-27 03:42] rite2nikhil opened #34078 "Standard and basic load balancer combination on a AKS cluster"
Will it be possible to a mix of standard and basic load-balancer's on AKS cluster ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID: 82b46441-43fc-fe48-97e2-0f3fca3d6eab
* Content: [Preview - Use a Standard SKU load balancer in Azure Kubernetes Service (AKS)]

[2019-06-27 03:50] dcbrown16 opened #34079 "What are the TCP metrics available for Web Apps?"
In the portal I currently see these options for scaling Web Apps, in addition to the ones listed here.
TCP Close Wait
TCP Closing
TCP Established
TCP Fin Wait 1
TCP Fin Wait 2
TCP Last Ack
TCP Syn Received
TCP Syn Sent
TCP Time Wait
What are these metrics? They don't appear in the list of Azure metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-27 04:05] dcbrown16 opened #34080 "Out of date?"
The scale-out and -in rules don't appear to work as described here.
Specifically, the rules here are somehow setting based on the metrics of the App Service instead of the App Service Plan. In my environment, when I click New rule while setting an App Service Plan autoscale setting, the choice of resource is grayed out and I can only select App Service Plan metrics like CPU %. The interface doesn'

[2019-06-27 04:16] shashishailaj commented on #34064
@Mark7even Thank you for your feedback . We will investigate and update this thread.

[2019-06-27 04:20] shashishailaj commented on #34051
@ghonyme  Thank you for your feedback . We will investigate and update this thread.

[2019-06-27 04:21] RohitMungi-MSFT commented on #34069
@BeigeBadger Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-27 04:23] shashishailaj commented on #34065
@whysyn  Thank you for your feedback . We will investigate and update this thread.

[2019-06-27 04:41] githubavi commented on #30811
Hi, I have solved the problem but with Postman. Not able to run it with the sample curl statement, were facing issues.

Thanks,
Avijit

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bryan Bedard <notifications@github.com>
Sent: Thursday, June 27, 2019 12:08:27 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs

[2019-06-27 04:41] KetanChawda-MSFT commented on #33799
@grahamauty There's no way to specifically 'pass parameters' to a Liquid template because Liquid does not support it.

Here is your [SO thread](https://stackoverflow.com/questions/56705679/how-do-you-pass-parameters-to-azure-logic-apps-liquid-connector-for-json-json-tr) which is talking about the alternatives.

Since there is no doc update required at the moment, we will now proceed to close this

[2019-06-27 04:41] #33799 closed

[2019-06-27 04:43] KetanChawda-MSFT commented on #34072
@CastleArg Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 04:45] femsulu commented on #34016
@rafalfitt thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-06-27 04:48] MohitVerma-MSFT commented on #34055
@bodowney Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 04:49] MohitVerma-MSFT commented on #34057
@taromielnaz Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 04:51] MohitVerma-MSFT commented on #34061
@DeanGross Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 04:51] MohitVerma-MSFT commented on #34059
@taromielnaz Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 04:52] CHEEKATLAPRADEEP-MSFT commented on #34076
@bhattvishal  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2019-06-27 04:53] msrini-MSFT commented on #34057
@taromielnaz , you will get this error only when you choose the endpoint as Azure endpoint and select 2 web app from different region. If you choose the endpoint as external endpoint and specify the URL of the web app, it will work.

Let me know if that helps you.

[2019-06-27 04:53] MohitVerma-MSFT commented on #34063
@davidschlum Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 04:57] femsulu commented on #33701
Thanks for clarifying. Not sure this is on the support roadmap for ASR but will followup internally. Would be great if you could create a feature/feedback request out of the above comment using [this link](https://feedback.azure.com/forums/256299-site-recovery) so that we have this request documented in our feedback tool. This also allows the community to upvote feedback in order to raise priority

[2019-06-27 04:59] shashishailaj commented on #34077
@frehnejc Thank you for your feedback . We will investigate and update this further.

[2019-06-27 04:59] femsulu commented on #33701
we will now close this issue but look forward to your feedback via the channel above. My team triages these on a regular basis and we can help you get the ASR feature owner(s) to review the request.

[2019-06-27 04:59] #33701 closed

[2019-06-27 05:32] #32756 closed

[2019-06-27 05:34] mike-urnun-msft commented on #32756
Hello @jholopainen Apologies for long delay in response and thank you for pointing this out and sharing your feedback! I've gone ahead and created couple of PRs that address this issue:

- Added new entry in the table clarifying that Static IP is not supported in Consumption tier:
https://docs.microsoft.com/en-us/azure/api-management/api-management-features
- Updated FAQ page: https://docs.microso

[2019-06-27 05:42] SadiqhAhmed-MSFT commented on #34070
@KeiroKamioka0000 Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-06-27 05:52] SwathiDhanwada-MSFT commented on #34080
Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-06-27 05:53] SwathiDhanwada-MSFT commented on #34079
Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-06-27 05:55] RohitMungi-MSFT commented on #33989
@lisah2u We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-27 05:55] #33989 closed

[2019-06-27 06:00] ashjain commented on #33826
Bringing Azure Bastion to production portal is already work in progress, and should be available soon.  Unfortunately, we don't have an ETA available to share right now.  For now, please continue to use aka.ms/BastionHost during preview.

[2019-06-27 06:01] SumanthMarigowda-MSFT commented on #34074
@yangsiyu007 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-27 06:02] femsulu commented on #33731
adding @bandersmsft

[2019-06-27 06:03] ashjain commented on #33738
@jsacapdev - from the screenshot you attach above, it looks like you are not on the preview flight of the portal.

Also, please note the following:
1. Enrolling for the feature is no longer required.  We made this change yesterday and you should now be able to deploy and use Bastion without registering for the flag.  But you still need to use the preview portal - aka.ms/BastionHost.
2. Bringing Az

[2019-06-27 06:08] arolshan opened #34085 "Private dasboards"
[Enter feedback here]

Hi, where are the private dashboards stored? can I get a private dashboard using REST ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d27cfa-c449-017c-42a2-add9de8b747b
* Version Independent ID: d179f7e2-3ee6-8287-5fd1-06300b6f02e2
* Content: [Share Azure portal dashboards by using RBAC](https:

[2019-06-27 06:10] SumanthMarigowda-MSFT commented on #33909
@KeiroKamioka0000 Azure Backup costs from Microsoft depend on the amount of data to be backed, and feature no upfront costs for account setup or administration. Costs are assessed individually for Azure Backup and for the storage resources that are consumed.Prices are calculated for each protected instance before compression and encryption. A protected instance refers to the computer, physical / v

[2019-06-27 06:11] forester123 opened #34086 "New steps for registering app in AD"
The steps for registering in AD are out-dated, please update to the latest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Directory authentication - Azure App Service](https://docs.mic

[2019-06-27 06:12] twildeman opened #34087 "Recommendation for multiple applications reporting to multiple AI instances or a single AI instance"
I would like to know what the recommendation is for having multiple applications and reporting to an AI per application or every application reporting to a single AI.

In my case the applications form a part of a single solution on Azure and consist of three web apps (auth, api, front), single server, a mobile app and two databases. Should I create an AI instance per web app, mobile app, or just o

[2019-06-27 06:17] femsulu commented on #34025
Thanks for the clarification @prabhakarreddy1234
adding  @bandersmith for insight on the bug report.

[2019-06-27 06:19] femsulu commented on #34024
Thanks for the clarification @prabhakarreddy1234
adding @bandersmith for insight

[2019-06-27 06:20] KranthiPakala-MSFT commented on #33947
@mwc360 Thank you for you query and bringing this to our notice. The supported operating system versions include **_Windows Server 2019_**.

The PR to update the document has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-06-27 06:20] #33947 closed

[2019-06-27 06:21] shashishailaj commented on #33721
@FredericExa At this point it is not possible to import the same keys from built-in policy.

[2019-06-27 06:22] #33721 closed

[2019-06-27 06:26] KetanChawda-MSFT commented on #33967
@nagajaya Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-27 06:28] femsulu commented on #33841
this seems to be a duplicate of #33731
merging both and closing the older one.

[2019-06-27 06:28] femsulu commented on #33731
closing as duplicate of #33841

[2019-06-27 06:28] #33731 closed

[2019-06-27 06:29] HairyPorker opened #34088 "Out of date"
It seems that the current version requires backend-app to expose and API and add Scope, which is unfortunately not well documented (in regards of what it is an what is the purpose of this, as well as how to configure).
Additionally, this is actually across the Microsoft Azure products; the changes are frequent, but the documentation as well as the tutorial unable to cope, which make us developer d

[2019-06-27 06:36] macux opened #34089 "Log Tail Pattern"
Presumably the word "Cosmos" is missing from the statement "Query results returned by the Azure Table API in Azure ***Cosmos*** DB aren't sorted by partition key or row key. Thus, this pattern is suitable for Azure Table Storage and not Azure Cosmos DB."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2655c01b-dbf3-a884

[2019-06-27 06:36] KetanChawda-MSFT commented on #33990
@axisc / @spelluru  Can you please provide your thoughts here.

[2019-06-27 06:38] imeya opened #34090 "How to use .net sdk to set the time-to-live never expires?"
I'm using c# and storage sdk, I want to know how to set a queue message time-to-live never expires? As per the doc, it should be set as -1, but when I try to use AddMessage(queueMessage,TimeSpan.FromDays(-1)); it will throw an error. How can I do that? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bef36ba-42c

[2019-06-27 06:50] ndcharadva opened #34092 "Not able to create new link service for Hive"
I am trying to create new linked service for Hive in Azure data factory but not able to create it. Can you please help me on this?

[2019-06-27 06:51] ndcharadva commented on #34092
Getting below error.
Connection failed
The operation has timed out.. Activity ID:819bc5ca-dc5d-41b0-90d8-265c1aa8114f

[2019-06-27 06:53] dcbrown16 commented on #24424
https://docs.microsoft.com/en-us/azure/automation/az-modules
Just for posterity, this doc explains how to use Az modules in Automation (weirdly posted by @georgewallace the day after he said they were not supported here).

[2019-06-27 06:58] dcbrown16 commented on #24424
@Grace-MacJones-MSFT maybe this request should be reopened as Az module seems to support Automation now.

[2019-06-27 06:59] dcbrown16 commented on #25264
Posted on #24424 as well but there appear to be Az commands available now.
https://docs.microsoft.com/en-us/powershell/module/az.automation/?view=azps-2.3.2#automation

[2019-06-27 07:03] DiSae opened #34093 "Restore note accurate?"
Hello,

At the following location a note describes restoring database backups between a machine running Windows 7 and a machine running Windows 8.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-restore-windows-server#use-instant-restore-to-restore-data-to-an-alternate-machine

However, I believe the possibility to restore is based on the installed SQL Server version, not so much on the

[2019-06-27 07:14] SnehaAgrawal-MSFT commented on #34086
@forester123 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate

[2019-06-27 07:18] angoyal-msft commented on #33939
@axthosarouris Could you please clarify, which part of the document you are referring too. That would be helpful in finding the resolution of your problem.

[2019-06-27 07:20] rafalfitt opened #34095 "not sure, another possible cause: NLA enabled + NTLM blocked on the target computer while using RDP gateway?"
just encountered such problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12df6f4-66c0-cef7-b108-91225e87ef1b
* Version Independent ID: 86ef625b-2c5f-e5dc-f72e-f028292cbe9c
* Content: [Troubleshoot authentication errors when you use RDP to connect to Azure VM](https://docs.microsoft.com/en-us/azure/virtual-machines

[2019-06-27 07:23] OliverNET commented on #33934
Hm, i think i found my mistake. I used my already existing IoT edge deployment, but article already refers to "Set Modules" method. So, the conclusion might be "you might not use IoT edge deployments when proxy servers are involved"?

[2019-06-27 07:28] YASWANTHM-MSFT commented on #34090
@imeya, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-27 07:29] shashishailaj commented on #33977
@anlucen I checked the link and it does take me to the store application page.

![image](https://user-images.githubusercontent.com/532022/60245964-4d151d80-98db-11e9-8021-90553765bab2.png)

Could you please try again ? the link seems to be working alright .

[2019-06-27 07:52] kbulte opened #34096 "Smart detection rule name rename?"
The smart decection rule with name 'extension_resourceutilizationextensionspackage' is not recognized as a valid rulename anymore. Was this rule renamed?

OPERATION ID  CA032AA53004A87A
TRACKING ID  cbff1489-ee77-446b-85a5-9d9ffc77f1ef
STATUS  BadRequest
STATUS MESSAGE  {
  "code": "BadRequest",
  "message": "There is no such rule with the given name: \"extension_resourceutilizationextensionspacka

[2019-06-27 07:53] jakaruna-MSFT commented on #34078
Thanks for the question! We are investigating and will update you shortly.

[2019-06-27 07:55] joeakim opened #34097 "Copy/Paste from my PC to VM Session"
Hi,

I have the situation, where I can copy/paste in all directions and constellations, but one:
When I open Full Screen mode, I am not able to copy the clipboard from my PC to the VM Session.
The other way around it works. Everything also works when I change to windowed mode.

I use Google Chrome Version 75.0.3770.100 (Official Build) (64-bit)

Thank you!

Joachim.

---
#### Document Details

⚠ *

[2019-06-27 07:56] jakaruna-MSFT commented on #34078
@sauryadas @jluk I think once we register for the `AKSAzureStandardLoadBalancer` feature, We can create basic load balancer.
Please correct me if i am wrong.

[2019-06-27 07:57] joeakim commented on #34097
I need to add something:
Sometimes the Copy/Paste behaviour is very inconsistent where it doesn't work at all. So I need to completely disconnect and reconnect.

[2019-06-27 07:58] msrini-MSFT commented on #34097
@joeakim , Thank you for your feedback. I will test the behavior and get back to you.

[2019-06-27 08:02] eximo84 commented on #34006
No errors around GPO - only error i had was the device was missing which was related to me not syncing the containers.  I spoke to an MS engineer yesterday who confirmed for Windows 10 that GPO is not required as the scheduled task that executes on logon already exists in the OS.

[2019-06-27 08:02] ignacioPastor opened #34098 "Export published app's package from API fails. ERROR using an unsupported compression method"
Export published app's package from API gives me a file that fails when the container tries to read it. It says
[code]
If I Export published app package from LUIS portal it works perfectly, so it seems that the API does something internally that corrupt the file.

I have tried with mac and linux, and I'm using this command
[code]

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-06-27 08:08] SnehaAgrawal-MSFT commented on #33927
@danijam To elaborate more on this By default Microsoft.Azure.WebSites Resource provider does not have access to Key Vault so we need to authorize it by using Power Shell commands before deploying the template and ServicePrincipalName parameter is User tenant which means it will be same for all Azure Subscription. So, this accessing to Key Vault authorization by using Power Shell command is one-ti

[2019-06-27 08:13] msrini-MSFT commented on #34097
@joeakim , I am using "Version 75.0.3770.100 (Official Build) (64-bit)". I did a repro and I am able to copy paste text from VM to machine and vice versa with or without Full screen mode.

It seems to be a behavior of your environment.

@ashjain , Do you have any idea why it works this way ?

[2019-06-27 08:14] angoyal-msft commented on #33786
@MNF
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-27 08:14] #33786 closed

[2019-06-27 08:14] harelbr commented on #34096
Hi Kris,

This Smart Detection rule, which was in a 'preview' state, has been deprecated.
Apologies for the inconvenience.

Thanks,
Harel

[2019-06-27 08:25] msrini-MSFT commented on #34063
@abshamsft , In the screen shot of the 6th step, it is mentioned as "DER Encoded Binary X.509" but in the documentation it is mentioned to use Base-64. Can you change the screenshot ?

[2019-06-27 08:26] msrini-MSFT commented on #34057
@taromielnaz , I am closing this issue, please tag me if you need any further assistance on this issue.

[2019-06-27 08:26] #34057 closed

[2019-06-27 08:27] msrini-MSFT commented on #33822
@jmoralesv , Do you have any update for me ?

[2019-06-27 08:27] angoyal-msft commented on #34089
@macux Thanks for the valuable feedback by pointing out the missing keyword in the document. I'll update the document.

[2019-06-27 08:29] msrini-MSFT commented on #34059
@taromielnaz , Can you please elaborate your ask here?

[2019-06-27 08:48] kbulte commented on #34096
Thanks fo the info.
Is it possible to update the [docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/proactive-arm-config#smart-detection-rule-names) please.

[2019-06-27 08:56] harelbr commented on #34096
Yes, the docs are currently in the process of being updated.

[2019-06-27 09:02] janwillemkeizer opened #34099 "Small typo"
Under Configure the Azure AD Application Registration for group attributes, number 3:

If you want &lt;typo&gt;to&lt;/typo&gt; groups in the token to contain the on premises AD group attributes in the optional claims section specify which token type optional claim should be applied to, the name of optional claim requested and any additional properties desired. Multiple token types can be listed:

[2019-06-27 09:05] SnehaAgrawal-MSFT commented on #34053
@drewwilliams1982 Thanks again for the feedback! Could you try it again? Open Azure Cloud shell run “mkdir tutorial” enter then “cd tutorial” enter. I have done repro of it and its working fine for me. Also, the prerequisites to complete this tutorial is you need experience with [DockerCompose](https://docs.docker.com/compose/) Let me know if issue persists.

[2019-06-27 09:09] angoyal-msft commented on #34028
Closing as per author comment

[2019-06-27 09:09] #34028 closed

[2019-06-27 09:11] sergaz-msft commented on #33973
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-27 09:15] cefoot opened #34100 "Download Link not working"
Link seems to be only for internal users.
But this link is working: https://www.microsoft.com/en-us/download/details.aspx?id=58402&WT.mc_id=rss_alldownloads_all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afef83cf-fabc-7ac5-49e0-0b3293483b8e
* Version Independent ID: 9b4f5587-a003-e184-d80d-c1abc5dbc33e
* Content: [

[2019-06-27 09:17] sergaz-msft commented on #33881
@tristanbarcelon thank you so much for sharing the troubleshooting steps so others can follow if they face the same issue :)!

I am assigning this issue to @kgremban so that we look at your troubleshooting steps and evaluate the need of adding a note on the document.

Thank you so much once more!

[2019-06-27 09:23] nkumars commented on #30435
Javascript seem to work not using login.microsoftonline.com domain but with <tenant>.b2clogin.com domain. You may have to update your documents just to make everyone aware of this.

[2019-06-27 09:23] sergaz-msft commented on #33835
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required)

[2019-06-27 09:23] #33835 closed

[2019-06-27 09:29] a-micons commented on #33968
I am also hitting this issue and it was also reported by our customers.

[2019-06-27 09:30] nkumars commented on #30435
@JasSuri, you have used **{tenant}.b2clogin.com** to authorize, whereas I was using **login.microsoftonline.com** to authorize. In the WPF application, I would directly call AcquireTokenInteractive method of the PublicClientApplication, that would open a window with all the controls. However, I had made it work with an alternative domain to login, which is bit surprising.

Please see my prior imme

[2019-06-27 09:36] SadiqhAhmed-MSFT commented on #34093
@DiSae Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-06-27 09:39] sergaz-msft commented on #33950
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-27 09:39] SadiqhAhmed-MSFT commented on #34085
@arolshan Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-27 09:49] pelithne opened #34101 "Log-Analytics workspace creation not part of "Configure flow""
In the section "Logging with Azure Monitor" it is shown that a log-analytics workspace can be created while configuring Diagnostic logs for a CDN endpoint. This is not the case in the current portal. A log analytics-workspace must be created before the Diagnostic logs configuration can be completed.

Also, in the instructions, "Core Analytics" are mentioned as the way to view logs. This does not a

[2019-06-27 10:01] Gnamra opened #34102 "Editing an item does not work."
Pressing the edit link returns a HTTP 400 error when using .NET Core
Manually writing Item/Edit?id=test enables me to edit the data, so the edit link doesn't include the id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f

[2019-06-27 10:08] #34089 closed

[2019-06-27 10:12] Anmolgan81 opened #34103 "What if we require 6TB of storage in Business Critical SQU?"
Our customer requires 6TB of storage for 16vCores in business critical SQU, what needs to be done in order to obtain that? of thats not supported what are other options? When this support be available in future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dff594a-77ba-dca2-e3ae-f3a7bf0c3e1d
* Version Independent ID

[2019-06-27 10:13] timfirmin opened #34104 "ARM Best Practise"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc11726f-f488-2f7c-c9ea-7c5d260e0d1d
* Version Independent ID: 62b563e6-4040-03f7-ab1c-80af86eff4d0
* Content: [Best practices for Azure Resource Manager templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/template-best-practices)

[2019-06-27 10:16] ManojReddy-MSFT commented on #34006
@eximo84 Thanks for sharing the info. I will go ahead and close the issue for now.

[2019-06-27 10:16] #34006 closed

[2019-06-27 10:19] ManojReddy-MSFT commented on #33797
@kgopi05 I worked with the engineer on that case. We confirmed that permissions to the keys are not required for retrieveing the secrets.

You will recieve an email about this. I will go ahead and close this thread. If you ahve any further questions regarding this, feel free to tag me.

[2019-06-27 10:19] #33797 closed

[2019-06-27 10:19] DAD713 opened #34105 "Problem Running playbook"
created cloudshell on my MSDN account.
created playbook as outlined.
Ran the playbook as you can see below with errors.

joe@Azure:~$ ansible-playbook azure_create_complete_vm.yml
 [WARNING]: No inventory was parsed, only implicit localhost is available

 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

PLAY [Create Azure

[2019-06-27 10:22] RohitMungi-MSFT commented on #34069
@BeigeBadger Could you please confirm if the error is seen while using the train API or Analyze API? I have noticed the same error while using the Analyze API when the document is of a different format that is not used while training.

@PatrickFarley Could you please let us know if there is a way to get the details of the error for a particular document?

[2019-06-27 10:25] bastiankayser opened #34107 "No example file"
The "Verify body tracking" part failed with:

[2019-06-27 12:19:57.576] [error] [t=1660] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\usbcommand\usbcommand.c (305): find_libusb_device(). Unable to open LIBUSB at index 0
[2019-06-27 12:19:57.578] [error] [t=1660] D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\depth_mcu\depth_mcu.c (68): usb_cmd_create(USB_DEVICE_DEPTH_PROCESSOR, device_index, NULL, &de

[2019-06-27 10:30] ManojReddy-MSFT commented on #34065
@whysn If you only have 1803 systems, then you can apply the KB4489894 as described in this article. This will remove the dual state and your devices will only be Hybrid Azure AD joined.

For any other version, users have to manually disconnect the device from Settings > Accounts > Access work or school > select the tenant > Disconnect. This will remove the device from Azure AD as well.

[2019-06-27 10:30] ram-msft commented on #34098
@ignacioPastor Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-27 10:30] udesh210479 opened #34108 "ROPC Flow"
I'm trying ROPC flow under 2 scenario.
Scenario 1
"https://login.microsoftonline.com/tenant" by making Default Client type to public and I'm able to authenticate against my credentials and receive access Token
Scenario 2
"https://login.microsoftonline.com/tenant/oauth2/token" by making Default Client type to Non Public and pass Client Secret along the request.  I' receive "Invalid userID & Passwor

[2019-06-27 10:34] hroe opened #34109 "error code 135011 not documented"
When I use Internet Explorer of Edge and open our azure-hosted web-app, azure active directory has to validate my identity. When I login with my work-credentials, I get an error code 13501. Please document the meaning of this error code and ways to resolve the problem.
Note that the error message refers to https://www.microsoft.com/warnerrors, which does not contain any error code explanation at a

[2019-06-27 10:35] strakh-alex opened #34110 "Function Keys disappear"
Function Keys disappear after upgrade to runtime version 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d8c45a-8f08-4c87-ae0d-9fbb901ed402
* Version Independent ID: 73c96870-96d3-5859-a0b9-1c69c3b11300
* Content: [How to target Azure Functions runtime versions](https://docs.microsoft.com/en-us/azure/azure-functions

[2019-06-27 10:37] msrini-MSFT commented on #34101
@pelithne , Thank you for providing your feedback. Regarding Core Analytics can you provide more info on the error that you are getting?

@mdgattuso , The portal experience is changed now. We can no longer see the Configure Log Analytics option and only be able to select already created work-space.  Screenshot needs to be updated.

[2019-06-27 10:44] chetan-makvana opened #34111 "Azure Application Insight"
Hi,

I am planning to use Azure Application Insight to monitor springboot microservices which are deployed in Azure Kubernetes Service. I have few queries around it.

1. Is it possible to ingest pod/container stdout microservice logs directly to Application Insight or there is only one way to ingest log as per the below URL.
https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-sp

[2019-06-27 10:47] angoyal-msft commented on #34103
@Anmolgan81 Thanks for your feedback. As of now there is no timeline defined for this requirement.

 Could you please post your requirement in [feedback](https://feedback.azure.com/forums/34192--general-feedback) page. It is closely monitered by Azure Database team.

Hope this helps.

[2019-06-27 10:49] KiloNiner opened #34113 "Bad link"
To learn about setting up other aspects of security, see Azure Data Lake Storage Gen2 security guide.

The link in the above sentence references https://review.docs.microsoft.com/azure/storage/common/storage-data-lake-storage-security-guide?toc=%2fazure%2fstorage%2fblobs%2ftoc.json, which is not accessible to us mortals. It should reference https://docs.microsoft.com/azure/storage/common/storage-d

[2019-06-27 10:51] angoyal-msft commented on #34102
@Gnamra Thanks for your feedback. Could you please elaborate and confirm which part of the document you are referring too.
So that it is easier for us to identify the problem and resolve it.

[2019-06-27 10:52] whut opened #34114 "Azure Portal UI to assign roles to subnet is missing since 27.06.2019"
### Actual

Yesterday, on 26.06.2019 I was able to open UI (separate blade for management of single subnet) with subnet details, where on **Users** tab I could add/remove role assignments to the subnet.

This is still documented in the [Change subnet settings](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-subnet#change-subnet-settings) section of [Add, change, or de

[2019-06-27 10:53] fume opened #34115 "Change billing subscription"
Hi, how to "change" the billing subscription after one is already configured?

thanks, regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c6698d-da67-a802-3f77-ae8091ea4782
* Version Independent ID: b5397a88-c4df-26d2-e9d2-29491d76ea00
* Content: [How to Link an Azure Subscription - Azure Active Directory B2C](ht

[2019-06-27 10:55] ddkserv commented on #33073
Hi @snehithm, Any news?

[2019-06-27 11:01] AmanGarg-MSFT commented on #34037
#26037

[2019-06-27 11:08] ManojReddy-MSFT commented on #34077
@frehnejc Azure AD join offers SSO to windows 10 devices. Seamless SSO is another feature which provides SSO to all devices.

They both offer SSO but the underlying flow changes. For seamless SSO, which uses Kerberos tickets, being domain joined to the AD is a prerequisite. This works for all types of devices and all scenarios with some exceptions as described in the doc.

Azure AD join fro window

[2019-06-27 11:10] mkbouvet commented on #34102
I was able to fix it by changing ` @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |`
to `<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>` in Index.cshtml

I am not sure why I had to do this since I am still very much a beginner at this. I'm afraid I can't give you anything more specific than that.

[2019-06-27 11:11] Gnamra commented on #34102
I was able to fix it by changing @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
to <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> in Index.cshtml

I am not sure why I had to do this since I am still very much a beginner at this. I'm afraid I can't give you anything more specific than that.

[2019-06-27 11:12] #33886 closed

[2019-06-27 11:12] igomat opened #34117 "Invoke-StorageSyncCloudTiering - permanent?"
When once Invoke-StorageSyncCloudTiering executed on a folder then the folder will be further always enforced to be tiered? No matter what Cloud Tiering policy is set up for the Sync Group? And no matter if recently used / copied?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 594e7f32-ec27-f0b6-3cf1-97e1bada0f32
* Ver

[2019-06-27 11:12] Gnamra commented on #34102
I was able to fix it by changing `@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |`
to `<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>` in Index.cshtml

I am not sure why I had to do this since I am still very much a beginner at this. I'm afraid I can't give you anything more specific than that.

[2019-06-27 11:15] AndreasStenhall opened #34118 "UPN change issue"
Clarification that the UPN change issue is solved in Windows 10 v1803 and moving forward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa632bd8-9300-c9fa-11fc-0c4be6862c6e
* Version Independent ID: d0d3cf71-5945-c202-d466-12c3da3fb473
* Content: [Azure Active Directory device management FAQ](https://docs.microsoft.co

[2019-06-27 11:15] rohancragg opened #34119 "Cloud App names could be more accurate"
The name of the Cloud App for 'Microsoft Power BI' is actually 'Power BI Service' when searching in 'Enterprise Applications' in Azure Active Directory. The article would be more helpful if it listed the names as they'll appear in the Enterprise Applications pane (and thereby in the Cloud App assignment GUI).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-06-27 11:21] BeigeBadger commented on #34069
@Rohit I get the error when using the Train API.

[2019-06-27 11:27] YASWANTHM-MSFT commented on #34113
@KiloNiner, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-27 11:28] jjindrich commented on #33850
Retested, working.

[2019-06-27 11:28] #33850 closed

[2019-06-27 11:29] Mike-tech commented on #33401
In regards to my last point about not seeing the placeholder text. I can see jquery is being used in the Register template page i downloaded. i was able to override the placeholder text with jquery command $("#email").attr("placeholder", "Your email adddress") within the main body function and works fine for me.

[2019-06-27 11:42] KiloNiner opened #34120 "Update request"
&gt; Adding Azure Databricks clusters to a virtual network that may be allowed to access via the Storage Firewall requires the use of a preview feature of Databricks. To enable this feature, please place a support request.

Is the above still correct, given the page is timestamped a year ago?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-06-27 11:45] chrisbues opened #34121 "Field Descriptions"
This article doesn't explain what each field is. For example, the risk level fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6abfd33-5740-865b-24a4-542a989bc399
* Version Independent ID: 0139ee02-5fcd-1d2d-800e-d440131348ec
* Content: [Azure Active Directory sign-in log schema in Azure Monitor](https://docs.mic

[2019-06-27 11:50] fume commented on #34042
You're welcome Frank!

Regards,

[2019-06-27 11:54] MohitVerma-MSFT commented on #34075
@skybear2014 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 11:57] MohitVerma-MSFT commented on #34087
@twildeman Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 11:57] theonlygusti opened #34122 "With diarization, is there a way to detect when two speakers talk over each other?"
How can I detect 'overtalk' ? Does any Microsoft service support this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use Batch Transcription - Speech Services](https://docs.microsoft.com/en-gb/azure/c

[2019-06-27 11:58] phatcher opened #34123 "Triggering poison message"
Is there an easy way of triggering the poison message functionality, i.e. my service comes back saying that the message data is invalid, I don't need to try it another 4 times?

So depending on the internal error I want to mark the message as to be routed to the poison queue immediately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-27 12:00] MohitVerma-MSFT commented on #34088
@HairyPorker Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:02] MohitVerma-MSFT commented on #34092
@ndcharadva
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-27 12:04] PramodValavala-MSFT commented on #34072
@CastleArg The different ways to stream logs is mentioned in [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#streaming-logs) of the doc.

For built-in logging, the [`AzureWebJobsDashboard`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsdashboard) application setting which points to a general-purpose storage acco

[2019-06-27 12:04] bhattvishal commented on #34076
Here the link to the tutorial
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-huzzah-esp8266-get-started

[2019-06-27 12:05] jakaruna-MSFT commented on #34095
@rafalfitt Are you suggesting to add that step also in the document as an cause?

@Deland-Han please add your comments

[2019-06-27 12:05] MohitVerma-MSFT commented on #34099
@janwillemkeizer
Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:07] MohitVerma-MSFT commented on #34096
@harelbr Thanks for sharing the info. I will go ahead and close the issue for now.

[2019-06-27 12:07] #34096 closed

[2019-06-27 12:09] stepanbenes opened #34124 "Example of eventGridPublishEventTypes property contains disallowed value."
A list of allowed event types to publish to Event Grid includes Started, Completed, Failed, Terminated. However, the example of host.json contains Pending state, which is not listed as allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2c8f85-9416-d9f2-e082-b1b15961d810
* Version Independent ID: e987c477-36ef-76

[2019-06-27 12:10] MohitVerma-MSFT commented on #34104
@timfirmin Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:22] awickman commented on #34056
That’s better but now I’m getting the following error.

iwr : The request was aborted: The connection was closed unexpectedly.
At line:12 char:53
+ ... k]::Create((iwr ($scriptUrlBase+'/attachVPNGatewayAz.ps1?t='+ [DateTi ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (System.Net.HttpWebRequest:HttpWebRequest) [Invoke

[2019-06-27 12:27] MohitVerma-MSFT commented on #34105
@DAD713 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:29] MohitVerma-MSFT commented on #34108
@udesh210479 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-27 12:30] MohitVerma-MSFT commented on #34110
@strakh-alex Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:31] MohitVerma-MSFT commented on #34111
@chetan-makvana Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-27 12:33] MohitVerma-MSFT commented on #34119
@rohancragg Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:34] MohitVerma-MSFT commented on #34118
@AndreasStenhall Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:35] Martony78 commented on #26598
It has been almost 4 months and still no answer, let me reformulate my question in case it is unclear:
Does this page enumerate all actions required to perform Hybrid AAD to current and down level devices or is there other actions to perform?

[2019-06-27 12:35] MohitVerma-MSFT commented on #34115
@fume Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:37] MohitVerma-MSFT commented on #34117
@igomat Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:38] MohitVerma-MSFT commented on #34109
@hroe Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:41] MohitVerma-MSFT commented on #34120
@KiloNiner Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:41] ingljo opened #34125 "Translate paragraph text from CreateStringClaim"
Hi.
I'm trying to add a localized resource for a paragraph input type with a text created with CreateStringClaim. But I cannot find any information on how this is possible? Is it supported? Is there any other way of just getting som text in a paragraph translated without having another input parameter to "fake" lookup value?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-27 12:42] MohitVerma-MSFT commented on #34121
@chrisbues Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:43] MohitVerma-MSFT commented on #34122
@theonlygusti Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:44] MohitVerma-MSFT commented on #34123
@phatcher Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:45] ingljo commented on #30490
Is there any way of translating this input parameter value in the "CreateUserMessage" ClaimsTransformation to another language?

[2019-06-27 12:45] MohitVerma-MSFT commented on #34124
@stepanbenes Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:46] MohitVerma-MSFT commented on #34125
@ingljo Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-27 12:48] AmanGarg-MSFT commented on #34087
@twildeman Thank you for reaching out! This question has been asked quite a few times and there is an official FAQ that talks about this:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/troubleshoot-faq#should-i-use-single-or-multiple-application-insights-resources

https://docs.microsoft.com/en-us/azure/azure-monitor/app/separate-resources

Few more blogs that may provide you some more

[2019-06-27 12:54] medavamshi commented on #26571
Subscription says tags are unlimited but i run into a max limit of 900 for tags.
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits
Tags per subscription | Unlimited. | Unlimited.

New-AzureRmTag : Creating the tag with name 'RnLCode' and value '083316' would exceed the quota of
'900'. The current
subscription tag count is '900', please delete some subscription tags before cr

[2019-06-27 13:00] Cyr-Az opened #34128 "Possible to use when using Custom DNS at the Vnet level?"
Hi,
Is it still possible to use Azure Private DNS when already using my own custom DNS (a regular domain controller with DNS role), with its IP tagged as Custom DNS Server in the Vnet properties?

Let's say my domain controller hosts the contoso.local DNS zone and that I want to host azure.contoso.local in Azure private DNS.
This domain controller's IP address is defined as a "Custom DNS server" i

[2019-06-27 13:03] AleksCallebat opened #34129 "register_model seemingly not working"
hello,

I have a local model, present in my scripting folder, "model1.pkl"

If I run

run.register_model(model_name='model1', model_path='model1.pkl')

It will not work and I will get ModelPathNotFoundException.

Is it by design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Vers

[2019-06-27 13:09] Szadegan opened #34130 "Powershell command for Action rules"
It seems that the Action rules for alerts modules do not seem to have the Powershell commands. Can you confirm how to obtain these, as the steps in the article just addresses the Portal not the commands?

[2019-06-27 13:09] achakilam1022 commented on #33885
@Mike-Ubezzi-MSFT  Looks like we have .net version 4.7 on our windows 2016 server
![image](https://user-images.githubusercontent.com/31456298/60268679-9309bb80-98b2-11e9-9889-dbabc2e1c827.png)

And we are using qlik sense server 12.44.2

[2019-06-27 13:14] chetan-makvana commented on #34111
I have few queries around Azure Application Insight. You meant this is not the right channel for this.
I didn't find answers for my queries from the Microsoft documentation - https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview

[2019-06-27 13:15] BryanBedard commented on #30811
I see. I used Postman as well and didn't try with cURL.

[2019-06-27 13:16] georgewallace commented on #24424
@dcbrown16 I assure you it was a timing thing. The script has been updated to use the Az module but not immediately. If you review he script there is a note about commenting out lines and uncommenting a few to enable the Az module and using the Enable-AzureRmAlias cmdlet.

[2019-06-27 13:17] sergaz-msft commented on #34076
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-27 13:19] chazwoza opened #34131 "Instructions not complete. Error in postman "Could not complete OAuth 2.0 login. Check Postman Console for more details.""
Postman is showing this error: Could not complete OAuth 2.0 login. Check Postman Console for more details.

Postman log shows:
Opening auth login window","https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize?resource=https://azurehealthcareapis.com&response_type=code&state=1234&client_id=250e8f17-b8ba-4c81-9d8c-beb793ecb627&scope=openid%20profile&redirect_uri=htt

[2019-06-27 13:27] nezoic commented on #33679
This doesn't appear to work. I see the settings I successfully posted the same JSON in your example then did a GET and I see the LockoutThreshold is set to 2. After I failed 5 B2C logins, I could still login successfully. Am I missing something else?

[2019-06-27 13:38] kgopi05 commented on #33847
Hi,
i have checked the access , i have contributor access to resource group level where this solution is deployed . i could see that all the powershell scripts were locked by this solution . hence im not able to edit it .

[2019-06-27 13:46] nazdarkedlubny commented on #24341
There is actually some documentation mentioned in hadoop docs here:  https://iwasakims.github.io/trunk/hadoop-project/hadoop-azure/abfs.html

[2019-06-27 13:55] softchris opened #34132 "Container name variable is missing, and a sensible value for it"
right now I can make up a container name but I don't know what it should be or why I need it. There is a page covering containers here https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items Maybe a link to it could be nice?

Partition key needs explaning as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-06-27 13:56] georgewallace commented on #33847
@kgopi05 the runbooks are locked to prevent accidental deletion. If they are deleted the solution would no longer work. This does not affect variables. I would recommend you reach out to support to find out what is wrong. I was not able to repro your issue and this is not the expected behavior.

[2019-06-27 13:57] chazwoza opened #34133 "Missing instructions on how to create the app registration for Azure API for FHIR"
Hello,

I think this page is really missing a section on how exactly to create an app registration in Azure AD for an app that can access the FHIR API you have just created.

I have been doing lots of messing around and still can't get it to work.

I have found this: https://docs.microsoft.com/en-us/azure/healthcare-apis/register-confidential-azure-ad-client-app   but it seems that all the instrut

[2019-06-27 14:16] adeinde opened #34134 "Display password expiry notifications in the Office Portal and on the Windows 10 desktop."
Display password expiry notifications in the Office Portal and on the Windows 10 desktop is currently only available on ADFS. Is there an ETA for this on customers using PHS & PTA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b3fb25-936b-0ef1-9423-608c0a2364c5
* Version Independent ID: 42126028-d632-ed78-a8d3-c52758

[2019-06-27 14:18] ayprof commented on #32531
Right, so Microsoft Support's final suggestion is that 'Spaces are not allowed in the URL.  Please reach out to the vendor to see if they can change the identifier to not include a space.'

...And that's the reason I opened the bug report here as I believe the error I get in Azure is a bug.

[2019-06-27 14:20] taromielnaz commented on #34059
I mean how can I have some web app in more than one region but they are the same code and they are identical. is there any documentation for this?

[2019-06-27 14:21] georgewallace commented on #25264
@dcbrown16 I commented on the other thread as well. The script now has the ability to use Az cmdlets with aliases.. We plan to leave it that way as AzureRM is still the default for Azure Automation runbooks.

[2019-06-27 14:23] jmoralesv commented on #33826
Hi @ashjain ,
Thanks for your reply, that's fine. I will continue using http://aka.ms/BastionHost to access to Azure Bastion until we have news in the preview portal.

I think we can close this issue now.

Regards,
Jorge

[2019-06-27 14:33] PramodValavala-MSFT commented on #33741
@renebik Could you check the version of your `eventgrid` extension using `az extension show -n eventgrid`? The latest seems to be `0.4.3`.

Its its older, update using `az extension update -n eventgrid` and then try again.

Also, could you confirm if you are getting the same problem with the powershell commands?

[2019-06-27 14:36] boubakerwa opened #34135 "AuthentificationError when using Datastore.upload to upload data to Blob datastore"
Encountered the error below when using ```ds.upload``` to upload data in a folder.
We tried everything to overcome the authentification issue. Nothing worked.

We tried the ```ds.upload_files``` instead, and it worked magically.

So maybe the error message is not clear/relevent.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-27 14:43] MGoedtel commented on #30249
Looks like this fix was merged so closing the GitHub issue.  Thanks for brining this to our attention @mkalkere.  #please-close.

[2019-06-27 14:43] #30249 closed

[2019-06-27 14:44] matthewcordaro opened #34136 "Supported Characters"
I noticed that my upload was failing when I had a '&' in the filename.  Please add supported (or unsupported) characters to this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e266861-1776-1cd9-4c80-aeb9fc36bb50
* Version Independent ID: de25db8c-55a0-5af5-d735-693215c04efe
* Content: [Microsoft Azure new support

[2019-06-27 14:49] hansenms commented on #34133
The instructions for setting up a client application are the same whether you are using the Azure API for FHIR or the OSS FHIR Server for Azure. So the "mix" is because they are the same.

Could you be specific about where you get stuck with the instructions so we can add clarifications.

[2019-06-27 14:52] hansenms commented on #34131
It appears that you have your redirect URL set to `http://localhost`. Please see the instructions, the redirect URL should be `https://www.getpostman.com/oauth2/callback` when using postman and that redirect URL must be an allow redirect URL for your client app registration.

[2019-06-27 14:53] stgraves commented on #33770
I updated the AKS extension and it's working now. Thanks! I thought I updated the AKS extension the other day but I guess not.
The error message could be better to call out the extension needs to be updated.

[2019-06-27 14:57] IEvangelist commented on #34098
Hey, @AmirGeorge -- this looks like a dup of #29557. This should either be closed as a duplicate or investigated further. #reassign:AmirGeorge

[2019-06-27 14:57] PRMerger20 commented on #34098
AmirGeorge
 is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-06-27 15:03] AmirGeorge commented on #34098
Hi @ram-msft ,

Can you please share the LUIS application ID?

[2019-06-27 15:12] AmanGarg-MSFT commented on #34111
@chetan-makvana Thank you for reaching out! Please find answers to your questions below:

1. Azure Monitor for containers is a feature designed to monitor the performance of container workloads deployed to either Azure Container Instances or managed Kubernetes clusters hosted on Azure Kubernetes Service (AKS).

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overvi

[2019-06-27 15:16] qianw211 commented on #33724
@femisulu please contact the authors of this article, as we don't own the Azure Managed Apps docs.  The link to the registration form should be updated, see the end of the following article for more information:

https://docs.microsoft.com/en-us/azure/marketplace/marketplace-publishers-guide

[2019-06-27 15:21] jmoralesv commented on #33822
Hi @msrini-MSFT ,
I tried with different browsers, these are the results:
* Using the existing, non Chromium, Microsoft Edge, the resolution remains the same in full screen mode as in Edge Chromium: 1536 x 864
* Using Firefox, the resolution was a bit higher: 1602 x 901
* Using Google Chrome, the resolution remains the same as in Edge Chromium: 1536 x 864

My local laptop uses Windows 10 Pro with

[2019-06-27 15:24] AmanGarg-MSFT commented on #34015
@tkumark Thank you for reaching out! Here is a document that helps you profile live Azure Service Fabric applications with Application Insights:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-servicefabric

Hope this helps!

[2019-06-27 15:32] drewwilliams1982 commented on #34053
![image](https://user-images.githubusercontent.com/1343614/60279401-e0108080-98f8-11e9-9191-32ccc23abdb2.png)

Same issue. All I think it needs is an update to say to navigate to `/home/<user>/` first... then it works fine. It's just this is a quick start tutorial for Docker Compose, and I had to ferret around for a while to understand why the Cloud Shell wasn't working as expected.

[2019-06-27 15:39] AjayKumar-MSFT commented on #34100
@cefoot, Thanks for bringing this to our attention. This has been fixed, kindly check now and let us know if you need any further help.

[2019-06-27 15:49] AjayKumar-MSFT commented on #34107
@bastiankayser, Thanks for the question! We are taking a look into this and will get back to you soon. In the interim, kindly ensure that all the prerequisites are met as mentioned in the document and also let us know the OS version you're running.

[2019-06-27 15:52] thomassimpson25 opened #34138 "Important to note."
I was working with a scenario where we were not able to provision users to G suite from Azure ad. It is worth noting the solution we arrived at was ensuring there was a '/' at the start of the ou_id. We got the error 'Invalid Input: INVALID_OU_ID' which was resolved through the addition of the '/'. Just noting in case someone else comes across a similar scenario.

---
#### Document Details

⚠ *Do

[2019-06-27 15:57] peter-tridius opened #34139 "Event Hubs encryption at rest?"
Event Hubs is listed as using "Server-Side Using Service-Managed Key" encryption of data at rest.  This is great.  Do you have any document describing what sort of encryption is used (AES-256?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-27

[2019-06-27 15:59] taromielnaz opened #34140 "Traffic Manager"
Is Application Gateway different from Application gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-5473-005098e7231d
* Version Independent ID: ab0e9bbf-b9cd-acdc-054d-ca64bf6700bb
* Content: [What is Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/overview

[2019-06-27 16:17] bcraun commented on #30541
For what it's worth, I am experiencing this same issue still (27-Jun) and the behavior I'm seeing is a bit diferent in that that the extensionsBundle settings in host.json break DI using IFunctionsHostBuilder and my queue-triggered function won't run locally, or in Azure. Removal of the extensionsBundle setting causes it to work. I posted an issue [here](https://github.com/kedacore/sample-hello-wo

[2019-06-27 16:17] AmanGarg-MSFT commented on #34037
@PingPongSet Can you verify and provide a few details based on the below comment:

https://github.com/MicrosoftDocs/azure-docs/issues/26037#issuecomment-470235288

[2019-06-27 16:19] MicahMcKittrick-MSFT commented on #33657
Thanks @sauryadas @jluk for confirming :)

I will assign to @iainfoulds to look into adding this into the doc for future reference.

[2019-06-27 16:21] TylerMSFT commented on #33770
#please-close

[2019-06-27 16:21] #33770 closed

[2019-06-27 16:27] yiikou commented on #31481
The same error, no more update?

[2019-06-27 16:29] YutongTie-MSFT commented on #31481
Sorry for the late response and thank you for bring back the insight, investigating it now!

[2019-06-27 16:38] marcelkmfst opened #34141 "Synchronous Replication"
Under "Supported SQL Server integration" it is mentioned that Always On is used in synchronous mode. How can this be the case if Site Recovery is used to replicate between regions, shouldn´t it be async?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a26ef2-86a1-330b-68d8-0461b6dd1d71
* Version Independent ID: 93ab3e

[2019-06-27 16:39] jluk commented on #34078
@rite2nikhil mixing the two isn't supported, are you looking to use both in a migration effort or is there a scenario requiring basic that isn't covered by standard?

[2019-06-27 16:47] trevorbye commented on #31481
@alireza1989 @yiikou  can you give environment specifics? Are you running this locally, python version, sdk version, operating system, etc. Before seeing anything else I would check your SDK version, if it's the newest version it might be a bug, so if that's the case roll back to the version before that. However, if you are not using the newest version then switch to that.

[2019-06-27 16:47] ericjiang18 opened #34142 "TagId"
Do you know where I can find the TagId for Custom Vision?

[2019-06-27 16:49] femsulu commented on #34141
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-27 16:54] yiikou commented on #31481
Hi, @trengarajan, my environment as followings:
[code]

And the full exception track as followings;
[code]

[2019-06-27 16:55] trevorbye commented on #31481
@yiikou give this a try in a 3.6.5 env first

[2019-06-27 16:57] femsulu commented on #34130
Thanks for the comment. Can you share the url to the referenced documentation so we can review and investigate further?

[2019-06-27 17:00] martincoetzer commented on #33830
I'm not aware of official documentation on this topic, but will make the owners of that documentation aware of this requirement.

[2019-06-27 17:00] PatrickFarley commented on #33265
@ehalsey , we've made some changes to the docs recently, so you might want to double-check that your scenario matches the updated guidance.

@NHaiby , do you know why this error might be thrown?

[2019-06-27 17:04] aquibqureshi26 opened #34144 "Delete unassociated public IP addresses to save money : Dynamic IP which is unattached from NIC"
Hi Team,

Thanks in advance, In my subscription i see there are multiple Public IP which is currently in dynamic state and not attached to any NIC. They are in ARM deployment model.

I don't think there is cost associated with dynamic Public IP as there is no IP Address assigned by Microsoft also this Public IP is not attached to any NIC.

Azure advisor still shows that there is potential cost sav

[2019-06-27 17:05] roygara commented on #19647
@jantoney @jonstroman Thanks for reaching out, we appreciate it! I'm taking a look and will be engaging with the product team shortly.

@HQJaTu Thank you for reaching out as well, can you explain why there is no Test-NetConnection (and nettcpip module)? This is a module which is independent of the Azure modules and I wouldn't expect switching to the Az module to have an impact. It's not in the RM

[2019-06-27 17:09] yiikou commented on #31481
@trevorbye 3.6.5 works good, thank you.

[2019-06-27 17:11] YutongTie-MSFT commented on #34135
@boubakerwa Thank you for your feedback here. We will investigate it and get back to you soon.

[2019-06-27 17:12] PatrickFarley commented on #34069
@NHaiby, this user is having issues with PDF text extraction

[2019-06-27 17:12] YutongTie-MSFT commented on #34129
@AleksCallebat Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-27 17:13] chetan-makvana commented on #34111
Please find my response.

1. The solution that you are talking about is mainly for monitoring containers and pods. What I am looking for is ingesting my microservice application logs to application insight from container stdout console logs.

2. Here I am looking for solution to use microservice application logs data for metrics like what aws provides in cloudwatch.

For example, suppose microserv

[2019-06-27 17:23] roygara commented on #33825
This change has been merged and will be live by the end of the day.

Thanks again @dcbrown16 for bringing this to our attention and helping us improve the docs! :)

#please-close

[2019-06-27 17:23] #33825 closed

[2019-06-27 17:34] sagz opened #34146 "https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#microphone-array"
doesn't tell me how many channels can I access raw via the USB interface in an application like Audacity/VLC/etc
All 7 channels independently? Muxed to 1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69b3704-f4a2-cd9d-6125-5b3eb50bd351
* Version Independent ID: a0b9cae2-0c73-7350-d0b1-fb7f4408388d
* Content: [Azure

[2019-06-27 17:34] cefoot commented on #34100
perfect! Thank you for fixing it so fast :) Now I'm waiting for my Kinect DK to arrive :)

[2019-06-27 17:34] #34100 closed

[2019-06-27 17:37] rafalfitt commented on #34095
Yes, IMHO it could help users if you include this combination in your list of possible problems.

[2019-06-27 17:43] roygara commented on #19163
@Agazoth @testlabnz @cdelcambre @mghrivera Thank you all for reaching out, I'm taking a look and will be engaging with the product team.

Can you clarify what links you're talking about, exactly? You all mention the "install for azure file sync agent" via powershell, so I assume you're referring to the URI's in the PowerShell script.

In other words, these links:

https://aka.ms/afs/agent/Server20

[2019-06-27 17:44] #33431 closed

[2019-06-27 17:44] HQJaTu commented on #19647
Sure:
[code]

Then again:
[code]

Also:
[code]

So, do you have any other problems I can solve for you? Just ask.

[2019-06-27 17:49] CarlRabeler commented on #31866
If a processor has 12 physical cores and is a Gen4, as I understand it, that processor would have 12 vCores. If the processor were a Gen5 with hyperthreading, it would have 24 vCores.
@ackava

[2019-06-27 17:54] sushilraje commented on #32337
You seem to use our top-level repository, which has submodules. Did you do a simple "git pull" as that might not work?

@v-krghan Can you check if the contents of your "run.cmd" match the contents of the file [here](https://github.com/Azure/remote-monitoring-services-java/blob/master/device-simulation/scripts/docker/run.cmd).

[2019-06-27 17:55] Mike-Ubezzi-MSFT commented on #34132
@softchris Thank you very much for your feedback and suggestion. I am looking into this and will make an update to be approved by the content owner.

[2019-06-27 17:55] Karishma-Tiwari-MSFT commented on #33877
@sonpeppers  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-27 17:55] #33877 closed

[2019-06-27 17:58] sushilraje commented on #32325
The error seems to be with storage-adapter microservice. Can you share the logs of the service, before it fails? This could be very well an issue with environment variables. Can you also share which environment variables are set on your machine?

[2019-06-27 18:03] mesameki commented on #33892
@agarza152 Are your notebooks in two different environments? If yes, there is a change that in one environment, the nbextension hasn't been installed/enabled. Please try this:

1. jupyter nbextension install --py --sys-prefix azureml.contrib.explain.model.visualize

followed by
2. jupyter nbextension enable --py --sys-prefix azureml.contrib.explain.model.visualize

[2019-06-27 18:06] spottedmahn commented on #9564
Hi @davidmu1 - was anything released on this topic?

[2019-06-27 18:09] tulasim88 commented on #33526
@cmedit Hi sorry about the confusion. Since multi-turn is still a preview feature- it is not automatically handled when you create a bot through the standard template. to add multi-turn (follow-up prompts) to your bot code, please follow the steps here: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#displaying-prompts-and-sending-context-in-the-cli

[2019-06-27 18:14] sushilraje commented on #32322
Require more information on the failure of the device-simulation container. Can you change the docker run mode from -d to -it OR -i in the run.cmd file and re-run.

Also, Can you list the environment variables present in the machine?

[2019-06-27 18:15] FrankHu-MSFT commented on #34139
@peter-tridius Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 18:18] FrankHu-MSFT commented on #34138
@thomassimpson25  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 18:18] MarileeTurscak-MSFT commented on #33733
Since I have not heard back I will proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-06-27 18:18] #33733 closed

[2019-06-27 18:20] FrankHu-MSFT commented on #34134
@adeinde  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 18:25] TravisCragg-MSFT commented on #33826
@jmoralesv We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-27 18:25] #33826 closed

[2019-06-27 18:28] jeevansd commented on #34138
@thomassimpson25 Thanks for letting us know. We will test this in our lab and then we will update the doc as you have mentioned here.

[2019-06-27 18:40] frsann opened #34150 "Git information is not shown in the portal"
Git info that is successfully gathered by the GitTrackingInfoProvider and passed on as ModuleCreationInfo to the AE3PServiceCaller, but the info is not shown in the UI in the portal.

Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4

[2019-06-27 18:42] bandersmsft commented on #34025
@prabhakarreddy1234 I'm looking into this with the Cost Management enginnering team.
#in-process

[2019-06-27 18:49] Gamecock commented on #29173
Sorry, I got sidetracked for a while.  The only way I can replicate this is by deploying from VS Code on one of the other tutorials.  I cannot recreate by restarting

[2019-06-27 18:50] bandersmsft commented on #34024
@prabhakarreddy1234 Investigating this.
#in-process

[2019-06-27 18:54] MarkSimos opened #34152 "This needs an explanation that is more clear on what it is and isn't"
It jumps from the perceived value proposition straight into protocol names/etc. There needs to be a middle ground that explains what it does to a generally technical person that never heard of the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad

[2019-06-27 18:58] #33983 closed

[2019-06-27 19:13] jesseconnr commented on #28647
I'm not sure if I'm missing something, but this doesn't work. I don't see any way to get the correct object from the existing load balancer or the nic object. It all results in an error. Both objects inherit from `Microsoft.Azure.Commands.Network.Models.PSIPConfiguration`, but that doesn't seem to matter. If there's a way to achieve the same thing the UI achieves via powershell I"m at a loss to wh

[2019-06-27 19:21] chad-chronotek opened #34153 "Serverless Change Feed Processing with Azure Functions, is it possible to scale-out across multiple partitions?"
I noticed the docs mention the ability to scale out processing of change feed in parallel by partition.  It is not clear to me how this works with serverless and Azure Functions.  If I wire up the Change Feed trigger will I end up with parallel execution flow per partition?  Ideally I would like to scale our solution by having an azure function triggering across all partitions in parallel but proc

[2019-06-27 19:22] Mike-Ubezzi-MSFT commented on #33885
My trial version of the Desktop download has not been made available, and it appears you are using the Cloud Enterprise edition. Moving forward with the Qlik Marketplace VM and will attempt to repro this.

[2019-06-27 19:30] Mike-Ubezzi-MSFT commented on #33885
Unable to deploy the Qlik VM from Azure Marketplace due to subscription restrictions.

![Screenshot (103)](https://user-images.githubusercontent.com/37126106/60294902-484e6a80-98d7-11e9-8323-c9f0c207c199.png)

[2019-06-27 19:38] Mike-Ubezzi-MSFT commented on #33885
@achakilam1022 I need to redirect you to support or please follow the Qlik whitepaper ([link](https://community.qlik.com/t5/Technology-Partners-Ecosystem/White-Paper-Connecting-to-CosmosDB-SQL-API-from-Qlik-Sense-using/ta-p/1527978)).
White Paper - Connecting to CosmosDB SQL API from Qlik Sense using the Qlik REST Connector

If you do not have an Azure support plan, I can have a one time SR create

[2019-06-27 19:40] hrasheed-msft commented on #33913
@juneym0730 the document has been updated to indicate the correct script. Thanks for bringing this to our attention.

[2019-06-27 19:40] hrasheed-msft commented on #33913
#please-close

[2019-06-27 19:40] #33913 closed

[2019-06-27 19:45] FrankHu-MSFT commented on #32517
The SAML RP functionality in B2C is not in private preview.
The destination provided in the SAML request screenshot appears to be an invalid location and does not resolve in a browser.

[2019-06-27 19:46] FrankHu-MSFT commented on #32517
@rupeshprasad In regards to the b2c sample, if it's been deleted then it's not a recommended sample that is being supported anymore. If you have anymore issues please open a support ticket as Github Issues for the Azure Docs is not the right channel to address these kinds of issues.

As we've answered these issues within the scope of the github doc issue, I'm closing this out now.

[2019-06-27 19:46] #32517 closed

[2019-06-27 19:56] MichaelZhou opened #34155 "Unclear Instructions on Integrating Sceneform"
The part where you're supposed to replace the &lt;TextView&gt; element with the ArFragment; how exactly is this done? The tutorial gives step-by-step instructions on everything else except this part

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc1d0c9-6595-6646-36e5-3abf6c16c58a
* Version Independent ID: c5b953a2-a0

[2019-06-27 20:03] MashaMSFT commented on #33690
Hi @stewartadam ,

Hope you're doing well! I just wanted to follow up with you and see if you had a chance to review my findings? Is there any way I could add more clarity to the doc?

Thanks!
Masha from SQL Docs team

[2019-06-27 20:20] maboivin commented on #29892
I have not tried the script but there doesn't seem to be a section for `:NDP48` like the others. Is this supposed to be working? I don't see where the script references the .NET Framework 4.8 installer `ndp48-web.exe` and the right `netfxregkey`?

[2019-06-27 20:26] rdefreitas commented on #34114
@MohitVerma-MSFT we've also come across the same issue. Our organization has built multiple workflows around this functionality and is critical to our security procedures. Please advise next steps.

[2019-06-27 20:36] MarileeTurscak-MSFT commented on #34121
@chrisbues thanks for the feedback.

These are described here. https://docs.microsoft.com/en-us/graph/api/resources/signin?view=graph-rest-1.0

I created a pull request to add this to the document but will leave it to the content author, @MarkusVi , to approve/reject it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/80815

[2019-06-27 20:36] #34121 closed

[2019-06-27 20:37] shrey-agarwal opened #34157 "Azure Cosmos DB with Databricks Upsert"
I have a cosmosDB account on Azure. I have inserted 10 rows with primary key "unique_ID" via databricks using spark connector "**azure-cosmosdb-spark_2.4.0_2.11-1.3.4-uber.jar**"

The cosmosDB container is set with **unique_ID** as **unique key**.
Multiple issues:
1. To **upsert** next set of records with same unique_IDs but different field values, I am unable to do so successfully. The query I am

[2019-06-27 20:40] BeigeBadger commented on #33265
My scenario is that I am attempting to train on 12 PDFs, each which has a single page, and has a file size of around 40KB.

[2019-06-27 20:42] nheinbaugh commented on #31003
@MicahMcKittrick-MSFT I'm also encountering this problem and unsure as to how to proceed :( Is creating a new cluster the best route to take?

[2019-06-27 20:44] kgremban commented on #31815
@AshokPeddakotla-MSFT #please-close this issue as I verified that the article is correct in its current state. @tervoju If you have any more questions about this, feel free to reach out again.

[2019-06-27 20:44] #31815 closed

[2019-06-27 20:44] yegu-ms commented on #33955
@shabirjan, thank you for the feedback! The problem you're encountering is not a documentation issue. Please file a support ticket and we'll have someone looking into this.

[2019-06-27 20:44] yegu-ms commented on #33955
#please-close

[2019-06-27 20:44] #33955 closed

[2019-06-27 20:51] Mike-Ubezzi-MSFT commented on #33885
@achakilam1022 I am able to connect with the Desktop version but still in the process of importing data. Can you confirm the ODBC driver version installed on the VM:

![Screenshot (105)](https://user-images.githubusercontent.com/37126106/60299887-9d43ae00-98e2-11e9-8457-71296e615dfa.png)

[2019-06-27 20:51] SnehaGunda commented on #33951
@lukepuplett the recent restructuring of SQL query docs broke this link. Because the redirects were not set up correctly. We fixed it a couple of days ago. We will close this issue now.

#please-close

[2019-06-27 20:51] #33951 closed

[2019-06-27 20:53] achakilam1022 commented on #33885
we got the same version
![image](https://user-images.githubusercontent.com/31456298/60300008-ac7f2780-98f3-11e9-9504-aeb118da57f9.png)

[2019-06-27 20:56] clisc opened #34158 ""Provision resources" example fails"
Here's what I get when I try to run the "Provision Resources" example:

New-AzServiceBusNamespace -ResourceGroupName my-resourcegroup -NamespaceName namespace-name -Location eastus
WARNING: Breaking changes in the cmdlet 'New-AzServiceBusNamespace' :
WARNING:  - "The output type 'Microsoft.Azure.Commands.ServiceBus.Models.PSNamespaceAttributes' is changing"
 - The following properties in the outpu

[2019-06-27 20:58] SnehaGunda commented on #33937
@sarah026 I hope you have taken this issue offline with Govind, if not please drop an email with your questions. We will close the issue here and offer further support via email.

#please-close

[2019-06-27 20:58] #33937 closed

[2019-06-27 20:59] msangapu-msft commented on #32708
@baoduy This is for storage firewalls. Can you provide more details in a new issue?

[2019-06-27 21:00] SnehaGunda commented on #33920
@mhabibal13 We will close this issue if there aren't further questions.

#please-close

[2019-06-27 21:00] #33920 closed

[2019-06-27 21:00] msangapu-msft commented on #32708
@RyanHill-MSFT were you able to confirm the original problem?

@jcbrooks92 What do you recommend we add to the doc?

[2019-06-27 21:00] nezoic opened #34159 ".Net Core Examples?"
Just wondering if there are any .net core examples around. I'll be doing a POC on this over the weekend in core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4677207-20f5-70c8-b653-93d2dd2a93a8
* Version Independent ID: 3baf68b7-8035-412a-9a6b-05565b42f39c
* Content: [Secure your RESTful services by using HTTP basic

[2019-06-27 21:01] msangapu-msft commented on #32522
@aaron-entwistle That is correct. @seesharprun did Aaron's comment help?

[2019-06-27 21:03] KranthiPakala-MSFT commented on #34029
@nssidhu In order to better assist with your query, could you please share the document link you are referencing above?

If you are referring to a specific used case scenario and not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpo

[2019-06-27 21:04] rupeshprasad opened #34160 "How to use claim resolver in Persisted claims"
How to use claim resolver in Persisted claims. I would like to store last login time in a extension field whenever user is logged in.

I have crated a technical profile like below and calling from a orchestration step. my problem is it is not resolving the {Context:DateTimeInUtc} instead it writes the word {Context:DateTimeInUtc} in to the attribute.
&lt;TechnicalProfile Id="Custom-TP-AAD-UpdateLa

[2019-06-27 21:06] BaluTutika opened #34161 "Is there a programmatic way to read throughput, copy duration of Copy Activity that is currently running?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-27 21:08] TravisCragg-MSFT commented on #34140
@taromielnaz Can you clarify this question? Did you mean to ask about the differences between Azure Traffic Manager and Azure Application Gateway?

[2019-06-27 21:08] DCtheGeek commented on #33898
@droessmj Just checking in. Can you expand upon your comment and answer my questions? I want to get you the information you need.

[2019-06-27 21:08] BaluTutika commented on #34161
I have a pipeline, with “Copy” activity running inside “Until” activity (Source: SQL server Sink: ADLS).
So, we are working on a C# based monitoring system, that looks at actively running pipelines. For the InProgress Copy activities, is there a way to get the throughput from details tab?

[2019-06-27 21:09] TravisCragg-MSFT commented on #34152
@MarkSimos Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-27 21:10] julieMSFT commented on #26737
@furmangg Hi, Thank you again for bring this to our attention. I will open a ticket to track getting this change made. I will notify you once this has been completed. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-06-27 21:11] julieMSFT commented on #26737
#please-close

[2019-06-27 21:13] taromielnaz commented on #34140
Yes, I mean are those two the same concept but introduced with a different name or basically different?

Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: 27 June 2019 14:08
To: MicrosoftDocs/azure-docs
Cc: taromielnaz; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Traffic Manager (#34140)

@taromielnaz<https://gi

[2019-06-27 21:14] SnehaGunda commented on #33642
@KeiroKamioka0000 I sent an email to our loc team to find the issue. Usually, docs are automatically localized after they are published, not sure if there is something specific to do with this doc.

[2019-06-27 21:18] stewartadam commented on #33690
Hi Masha,

You're correct that the first link was intended for SQL MI as the publisher distributor -- but I am referring to the section after the one linked in your reply, titled *Publisher and distributor on-premises with a subscriber on a single, pooled, and instance database*. The diagram shows the publisher and distributor on-premises, so the transaction replication setup instructions linked t

[2019-06-27 21:19] jcanose81 opened #34162 "Unable to Verify Python Version"
Has anyone come across "unable to verify python version. Please make sure you have Python 3.6 installed" when following the doc at https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

When I try to publish the app, I get the error.
Python is installed and I've verified by py --version

C:\Users\azureAdmin>py --version
Python 3.6.8

![Capture](https://user-

[2019-06-27 21:20] Mike-Ubezzi-MSFT commented on #33885
What are you using for a Partition Key? It would be nice if this tutorial detailed the Partition Key used by the sample dataset. Are you importing your own data or following the tutorial? The VM actually may need .NET Core installed instead of .NET Framework but this is speculation at this point.
Additionally, do you have a VNET in-place or any other networking infrastructure deployed?

[2019-06-27 21:23] SnehaGunda commented on #33197
I have connected @razvansalajan with Cosmos DB metrics team and we have an email thread going on to figure out the root cause.

[2019-06-27 21:25] Mike-Ubezzi-MSFT commented on #33885
And now I see the sample data after import:

![Screenshot (106)](https://user-images.githubusercontent.com/37126106/60301897-4ee4de00-98e7-11e9-8680-78036019c89c.png)

[2019-06-27 21:29] roygara commented on #19647
@HQJaTu So from your own output, I can see that you're using the Linux variant of PowerShell. I went ahead and tested on my Linux box and I can see the same thing, the nettcpip module is not in the basic install. In fact it doesn't appear to be apart of PowerShell core. Whereas on my Windows box it *is* in the basic install. I also cannot import it either, just like you cannot. In other words, fro

[2019-06-27 21:30] AlexImray opened #34163 "Cannot create backup for Linux VM"
The steps of the 'Create a Backup' section of the article cannot be followed. At step 7, an error is returned, saying that 'Create Deployment' and 'Create Backup Protected Item' failed. The source for the failure is "Unsupported OS version for virtual machine backup". Thus, steps 8-10 of 'Create a Backup' cannot be completed and 'Restore a File' also cannot be completed.

---
#### Document Details

[2019-06-27 21:30] pemj opened #34164 "Downloading Private Key as .pem"
The documentation for Azure Key Vault has the following line:

From reading over the docs for Azure Powershell, Azure CLI, and the Key Vault REST API, I can't find any parameters that would let me specify the output format of the secret in question, and when I've tried to download it, the result is in the PKCS12 (pfx) format. Is it possible to actually retrieve a secret in PEM format?

---
#### Do

[2019-06-27 21:32] achakilam1022 commented on #33885
We are using our own data which has month as the partition key. Could you point me to the sample data you have used?

No, we do not have a VNET.

[2019-06-27 21:42] TravisCragg-MSFT commented on #34128
@Cyr-Az This is possible, but will require some work-arounds. Azure Private DNS only adds the resolution to Azure's Default DNS server. If you VMs are using your custom DNS server, the queries will not be added there. Azure Private DNS Zone is designed to eliminate the need for custom DNS servers.

You will either need to add the records to your custom DNS, or you might be able to direct those que

[2019-06-27 21:48] msangapu-msft commented on #30364
Hi team, I was not able to repro this issue. The configuration shown in this article hasn't changed for over a year. Let me know if you're still having this issue.

[2019-06-27 21:48] SnehaGunda commented on #33642
Response from the loc team:

Usually, article updates get automatically picked up if they are part of the pickup query. In this case, I think it could be  either of the below reason

1.	Either the new article is not part of the pickup query. If this is the case then I will look into the reason for excluding this file and then let you know what we can do about it.
2.	We have recently blocked some o

[2019-06-27 21:50] Mike-Ubezzi-MSFT commented on #33885
Here is the sample dataset used by the tutorial. I used /zipcode as a partition key for my SQL API configuration but this is not an actual property in the data. I would use `/Genre` as a partition key.

[videogamesales.zip](https://github.com/MicrosoftDocs/azure-docs/files/3336719/videogamesales.zip)

[2019-06-27 21:50] Karishma-Tiwari-MSFT commented on #34163
Thanks for the question! We are currently investigating and will update you shortly.

[2019-06-27 21:51] msangapu-msft commented on #32243
Being handled in https://github.com/MicrosoftDocs/azure-docs-pr/pull/80837

[2019-06-27 21:51] msangapu-msft commented on #32418
Being handled in https://github.com/MicrosoftDocs/azure-docs-pr/pull/80837

[2019-06-27 21:53] TravisCragg-MSFT commented on #34140
@taromielnaz They are similar, but have distinct differences. They both have a WAF, and can distribute traffic based upon the URL or other factors, but are designed for different scenarios.

Application gateway is designed to work at the region / datacenter level. Traffic comes into a single endpoint in a region, and is processed and distributed to web servers.

Traffic Manager is designed to work

[2019-06-27 21:58] msangapu-msft commented on #32243
PR has been signed-off.

#please-close

[2019-06-27 21:58] #32243 closed

[2019-06-27 21:59] msangapu-msft commented on #32418
PR has been signed-off.

#please-close

[2019-06-27 21:59] #32418 closed

[2019-06-27 21:59] StannieV commented on #29892
Hi maboivin,

You're right. MicahMcKittrick-MSFT only added a reference to the new .net version 4.8, but didn't add support for it. See his response to me:

_

_

[2019-06-27 22:01] KeiroKamioka0000 commented on #33642
Understood

[2019-06-27 22:01] tristanbarcelon commented on #33881
Hi @sergaz-msft, I ran into this issue again while running `sudo apt-get update` so this time I made sure to capture a screen dump.

`
Hit:1 http://us.archive.ubuntu.com/ubuntu bionic InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:3 http://us.archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:4 https://packages.microsoft.com/repos/azure-cli bionic InRelease
Hit

[2019-06-27 22:05] KranthiPakala-MSFT commented on #34060
@pdeveau Thanks again for pointing this out. The PR for the fix has been created and it will be merged soon.

[2019-06-27 22:05] SnehaGunda commented on #34102
@Gnamra glad that you were able to fix the issue, yes as you said, the doc was written for .Net Framework only. .Net Core version shouldn't be much different than the Framework one. We have doc for .Net Core console app: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnetcore-get-started but not the web app.

However, the sample itself is available from portal to download. A new versio

[2019-06-27 22:06] Mike-Ubezzi-MSFT commented on #33885
Adding the larger set of instructions for the Qlik REST Connector:
[Connecting to CosmosDB SQL API from Qlik Sense using the Qlik REST Connector.pdf](https://github.com/MicrosoftDocs/azure-docs/files/3336776/Connecting.to.CosmosDB.SQL.API.from.Qlik.Sense.using.the.Qlik.REST.Connector.pdf)

[2019-06-27 22:15] FrankHu-MSFT commented on #34134
@adeinde For update information please refer to the Azure AD Updates page located here : https://azure.microsoft.com/en-us/updates/

The Azure Docs issues are mainly meant for fixing issues with the docs. If it is not listed in the updates page under in preview or in development then there are no current updates to this feature. If you're interested in this feature please put this under the uservo

[2019-06-27 22:15] #34134 closed

[2019-06-27 22:18] KumariSupriya commented on #24230
This has been fixed and the docs have been updated.

[2019-06-27 22:21] KeiroKamioka0000 commented on #33909
@SumanthMarigowda-MSFT

Hello, Thanks for answer.
Our client would like to know how to calculate the pricing for Azure File Backup with Pricing Calculator.

Should customer set the number of VM as [1] and capacity to expected the price?
Customer is currently confused because he don't see the [Azure File Backup] on the Type in the pricing calculator

[2019-06-27 22:21] KeiroKamioka0000 commented on #33909
![image](https://user-images.githubusercontent.com/37641695/60304790-485a6480-98ef-11e9-9438-e6bee37b3ad0.png)

[2019-06-27 22:23] SnehaGunda commented on #33642
@KalyanChanumolu-MSFT can you assign this issue to the Loc PM, @ishash, she will update when the issue is fixed.

[2019-06-27 22:27] FrankHu-MSFT commented on #34108
@udesh210479
Can you please respond in regards to what Mohit had requested? In addition to that, I'm note sure what Scenario1 is supposed to be.

In regards to scenario2, joonas has a great article going over how to properly do that : https://joonasw.net/view/ropc-grant-flow-in-azure-ad

Also, which doc is this issue in regards to?

If there's no response in regards to this in the next 2 days I wi

[2019-06-27 22:28] gunnarcms commented on #27804
I believe the problem does not come from the amount of steps, that I actually find quite informative (i.e. creating a loader user, etc). The real problem is, this tutorial would not be able to be completed in several hours as the final steps will be churning for hours (I was using a Gen2: DW400c) , on the step "Generate millions of rows" in specific the call to the sproc Configuration_PopulateLarg

[2019-06-27 22:29] FrankHu-MSFT commented on #34099
@janwillemkeizer thanks for the update! We're currently making changes to the docs accordingly. We appreciate the feedback so that we can keep these docs up to grade for the community.

Closing this issue as we are making the change.

[2019-06-27 22:29] #34099 closed

[2019-06-27 22:36] mhopkins-msft commented on #33637
@jaryder, I've updated the heading. It should be published in the next 24 hours. Thanks for your feedback!

#please-close

[2019-06-27 22:36] #33637 closed

[2019-06-27 22:36] TravisCragg-MSFT commented on #34114
@whut @rdefreitas I am following up with this, and will update as soon as I have any information.

[2019-06-27 22:46] A140475 commented on #29555
I agree. This documentation is very incomplete

[2019-06-27 22:46] MicahMcKittrick-MSFT commented on #33642
@SnehaGunda doesn't appears @ishash has their account associated with this repo and cannot be assigned.

[2019-06-27 22:49] MartinJaffer-MSFT commented on #29655
@nabhishek  sorry I missed your reply.  I have made the text changes to the document, but I can't figure out how to change the screenshot.  I have provided new images in the pull request.  If you could insert them for me when you review, that would be great.

[2019-06-27 22:51] droessmj commented on #33898
@DCtheGeek  Sorry for missing your first response above.

I've been working with support on this same issue. I'm able to apply a policy assignment which works exactly as desired when interacting with the resource via the Portal. However, the policy does not apply as anticipated when working via the Azure CLI. Support has indicated this is due to the intricacies of the evaluation of Microsoft.Netwo

[2019-06-27 22:57] kgremban commented on #33881
@tristanbarcelon Thanks for the detailed troubleshooting steps. I'm glad that you were able to get the installation working, but sorry that it didn't cooperate with you! To summarize my long comment, I can't reproduce your issue and think it may be something to do with your device configuration, because the microsoft.gpg key should have all the right permissions when you create it. Can you provide

[2019-06-27 23:08] rasadovsky commented on #30003
I actually solved it. It started working after I have added childItems in Get Metadata activity's Field List.
The error messages were the most confusing and not informative at all.

[2019-06-27 23:13] kgremban commented on #29173
@Gamecock That makes sense. The only way that a module should be renamed is if you're changing the deployment manifest. When you make a new deployment, do you double check that the module name is staying consistent with what's already on your device?

![image](https://user-images.githubusercontent.com/13578436/60306777-7becbd00-98f6-11e9-8437-fd302595cc85.png)

[2019-06-27 23:14] dcbrown16 commented on #24424
@georgewallace gotcha, understood that AzureRM is default for now. Thanks!

[2019-06-27 23:23] TravisCragg-MSFT commented on #33962
@medavamshi were you able to get your device connected? Please let me know if you still need assistance with this one.

[2019-06-27 23:30] FrankHu-MSFT commented on #34159
@nezoic Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 23:35] FrankHu-MSFT commented on #34159
@nezoic All the code samples for b2c can be found here : https://docs.microsoft.com/en-us/azure/active-directory-b2c/code-samples

And you can find the custom policy starter pack scenarios here : https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/scenarios

The sample for basic auth here can be found at : https://github.com/Azure-Samples/active-directory-b2

[2019-06-27 23:35] #34159 closed

[2019-06-27 23:36] femsulu commented on #34162
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-27 23:37] FrankHu-MSFT commented on #34164
@pemj  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 23:37] FrankHu-MSFT commented on #34160
@rupeshazure Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-27 23:38] RamonArguelles commented on #34155
Inside Android Studio, locate app\res\layout\activity_main.xml. Double click the file to open it. It will open up, and there will be two tabs at the bottom: Design and Text. Click the Text tab. The raw xml in the file should be displaying now. There should be a <TextView … /> element in there. Replace it with the <fragment .. /> element from the Tutorial.

[2019-06-27 23:51] FrankHu-MSFT commented on #34164
@pemj please refer to this thread : https://github.com/MicrosoftDocs/azure-docs/issues/14761

As your issue in regards to getting a .pem file from keyvault is addressed there.

[2019-06-27 23:51] #34164 closed

[2019-06-27 23:52] femsulu commented on #34161
Thanks for the comment. To get the best possible response, please post your question on our [StackOverflow](https://stackoverflow.com/tags/azure-devops/info) or [MSDN DevOps](https://developercommunity.visualstudio.com/spaces/21/index.html) forum channels where one of our cloud engineers or community members can offer assistance. This channel is reserved for issues or feedback on Azure documentati

[2019-06-27 23:52] #34161 closed

[2019-06-27 23:53] femsulu commented on #34157
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-27 23:57] femsulu commented on #34146
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-06-28 00:01] femsulu commented on #34142
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 00:06] cijothomas opened #34166 "Add a section about Alerting."
Need to add a section about how sampling affects alerting accuracy etc. Also should talk about the metric pre-aggregators which are part of recent .net and .net core sdks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
* Version Independent ID: ab24ade5-5e4c-b430-c3f8-2a00073e9e81
*

[2019-06-28 00:09] femsulu commented on #34144
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-28 00:09] femsulu commented on #34144
@kasparks - fyi

[2019-06-28 00:11] TravisCragg-MSFT commented on #33632
@d83194 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-28 00:11] #33632 closed

[2019-06-28 00:19] YutongTie-MSFT commented on #34150
@frsann Thank you for your feedback, we will investigate and get back to you soon.

[2019-06-28 00:26] chazwoza commented on #34133
Well, not once on this page does it tell you that you need to onfigure a client application yourself. It just says you need the details. So I figured it out that I needed a client application. But it doesn't tell you that you need to use a "confidential client" or "public client". I started with the first one, "register a resource application", and I was getting all kinds of errors. Then I realise

[2019-06-28 00:27] PingPongSet commented on #34037
I followed the steps on this link as mentioned on the OP: https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore-visualstudio?toc=%2Fen-us%2Fazure%2Faks%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json

1 .NET CORE 2.2 VS 2017. VS 2019 is also tried.
2 "Publicly accessible" checkbox was checked

[2019-06-28 00:27] chazwoza commented on #34131
The redirect URL isn't the problem. I realised the problem here, was I had followed the "Resource application" guidance, when I should have followed the "confidential client" guidance. The docs need to be updated to be clear that for Azure API for FHIR you don't follow the resource application guidance.

[2019-06-28 00:28] chazwoza commented on #34131
Interestingly, even though the error was something different, postman still reports it as a redirect url issue in the logs.

[2019-06-28 00:32] anirudhcavale commented on #34080
@dcbrown16 you are correct the image in the article does need an update. At first glance yes, the App Service plans dropdown is grey.
![image](https://user-images.githubusercontent.com/26607650/60309188-69c44c00-9901-11e9-8426-f37d5b45a1a8.png)

However, to change it to another resource you need to change the Metric Source to be "Other Source".
![image](https://user-images.githubusercontent.com/26

[2019-06-28 00:33] anirudhcavale commented on #34079
@dcbrown16 thanks for reporting this. I'll take a look to see if these are new metrics from App Services.

[2019-06-28 00:56] axisc commented on #33990
@rjosephp

Enabling sessions is a control plane operation. I think what you are asking about is receiving sessions.

You can use the REST API to receive from the queue/subscription that may not be a session, but you can't receive a session itself.

To know more about how sessions work, check out [this document on sessions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessio

[2019-06-28 00:56] #33990 closed

[2019-06-28 01:04] dcbrown16 commented on #34080
@anirudhcavale aha, I see it now, thanks. I'll leave this open so you can determine if the screenshots can be updated.

[2019-06-28 01:05] dcbrown16 commented on #34079
Thanks!

[2019-06-28 01:06] chazwoza commented on #31017
Hello, in my new tenant, "Azure Healthcare APIs" is not found in the "APIs my organization uses" list. How do I add it to the tenant?

[2019-06-28 01:09] ngie-eign opened #34167 "Azure AD password reset page(s) look like phishing"
**Note**: In short, what I'm noting is a product bug, not a software bug, but given that I don't know how to provide feedback directly about the product, I'm doing it here.

My company recently migrated a number of their users over to a new MS AD server cluster/forest, and as part of that, we are now (apparently) using Live/Microsoft 365 for part of our authentication.

A general comment is that t

[2019-06-28 01:19] hansenms commented on #34133
The page in question here (https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir-paas-portal-quickstart) does not go into authenticated access for the API, it just shows how to provision and get the `/metadata` statement (which does not require authentication). The page then suggests to proceed to the Postman tutorial where authenticated access is gone into in some detail, including a link t

[2019-06-28 01:21] hansenms commented on #34131
You may well need the resource application registration for the Azure API for FHIR, if you want to create one that doesn't use the default audience. Specifically, you would probably want to create one with an audience corresponding to your service URL. So the resource application registration does need to be discussed in the context of the Azure API for FHIR.

Hope this helps

[2019-06-28 01:21] BharathNimmala-MSFT commented on #34166
@cijothomas - Thanks for reaching out and sharing your recommendation on doc enhancement. Looping in @mrbullwinkle to weigh in and take it forward.

[2019-06-28 01:47] roymeforever opened #34168 "In PowerShell, use Invoke-WebRequest to download the latest Istio release would fail"
Should add a solution described below:
https://stackoverflow.com/questions/41618766/powershell-invoke-webrequest-fails-with-ssl-tls-secure-channel

[Net.ServicePointManager]::SecurityProtocol = "tls12, tls11, tls"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent

[2019-06-28 02:08] FlavioDiasPs commented on #22947
Hello everyone, I am using pyspark and I am having this same issue.

I have tried all you guys said above, but I am still strugling.

The difference in my code is that, It only fails when executed from inside a foreach.
When I execute the code outside a foreach it goes well.

The code below works:
[code]

However it fails when I put this same come inside a foreach.

The code below fails:
[code]

D

[2019-06-28 02:12] hansenms commented on #31017
It gets added to the tenant when you provision the Azure API Service in a subscription tied to that tenant. If you are using an AAD tenant not ties to a subscription, you should create your own resource application (https://docs.microsoft.com/en-us/azure/healthcare-apis/register-resource-azure-ad-client-app) and use that one instead, i.e.:
1. Create the resource application and give it an identifi

[2019-06-28 02:14] udesh210479 commented on #34108
Hi Mohit & FrankHu,
Scenario 1:
I wrote ADAL/MSAL API to pass username,password with the authorityURL = "https://login.microsoftonline.com/tenant" and ADAL was able to authenticate and return me token in Hybrid setup

Scenario 2: I built scenario 2 using reference link "https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc" using java HTTP Client
I received "AADSTS50126: In

[2019-06-28 02:37] tafia opened #34170 "Installation doesn't work for ubuntu 18.04"
[code]

From what I understand these were temporary packages that are no longer needed.

Everything looks to be working with just
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2a3f07-8dd7-a2f9-236d-4e6dc3c8bdec
* Version Independent ID: b442cc75-f969-ca55-7416-b91d79c6e3a5
* Content: [Generate and export cert

[2019-06-28 02:38] paulbouwer commented on #34168
@roymeforever - Are you experiencing this issue on your setup? What version of PowerShell and what version of the Windows OS are you running?

This works fine on a Windows 10, PowerShell 5.1 setup without the additional `[Net.ServicePointManager]::SecurityProtocol` line, which is why I'm confused.

Windows 8 - 10 now have TLS 1.2 as the system default, and PowerShell 5.1 has a value of `SystemDefa

[2019-06-28 02:52] ishasahni1 commented on #33642
@MicahMcKittrick-MSFT can you please assign on ishasahni1 that is my GitHub id.
@SnehaGunda FYI

[2019-06-28 03:01] roymeforever commented on #34168
Windows 10 Enterprise, with PowerShell version 5.1.  Hope this is only an issue with my own setup.
Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      15063  1805

Maybe Add this to only allow tls1.2?
[Net.ServicePointManager]::SecurityProtocol = "tls12"

[2019-06-28 03:06] FrankHu-MSFT commented on #34108
In each of these scenarios, it sounds like you are using a different flow. Are you using the ADAL .net ROPC flow from the ADAL Library? ADAL and MSAL are different, which library specifically are you using. The ADAL .net wiki for that is here : https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-with-username-and-password

And in addition to that the MSAL .net

[2019-06-28 03:09] FrankHu-MSFT commented on #30477
hey @anuponugoti as there hasn't been a response in quite some time I will be closing this issue out, if you experience anymore issues please file a support ticket and someone will be able to help you in regards to this issue in a closer engagement.

[2019-06-28 03:09] #30477 closed

[2019-06-28 03:15] udesh210479 commented on #34108
I'm using ADAL python library
Yes, in the link I have specified my organization tenantID
"https://login.microsoftonline.com/{TenantId_or_Name})"

W.r.t end point , I tried both end endpoint and it returned same error.
 "https://login.microsoftonline.com/tenant/oauth2/token"
 "https://login.microsoftonline.com/tenant/oauth2/v2.0/token"

[2019-06-28 03:26] andyKalman opened #34171 "ExpressRoute Gateway Ultra Performance Sku - Requirements Missing"
I tried to deploy an ER gateway with an Ultra performance SKU and got the below error back. It seems there is a hard requirement to use a /27 for your GatewaySubnet but the documentation only says that it is a recommendation. It would be nice if the documentation stated what the error says so that people don't find out like this. I went through a few related articles but couldn't find any mention

[2019-06-28 03:27] paulbouwer commented on #34168
If this is an issue on your machine, then there will probably be other folks who have a similar issue. So let's add it to make the command more robust across different setups.

@roymeforever - are you up for submitting a PR?

[2019-06-28 03:58] shashishailaj commented on #34167
@ngie-eign Thank you for your feedback . You can provide feedback on the page https://feedback.azure.com/forums/169401-azure-active-directory?category_id=166251 which relates specific to Self-Service Password Reset . We will investigate and update further on this one.

[2019-06-28 04:14] dylreeves opened #34172 "Importing CNAME Records with a -"
Just an FYI, when using the above method any CNAME records that have a - in the value seem to either fail or get imported incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e7a82c4-2bed-a8c7-6ce9-9bd895771337
* Version Independent ID: 5233a0b2-fc92-efb5-8d8d-8c53d5e68109
* Content: [Import and export a domain

[2019-06-28 04:17] ChiragMishra-MSFT commented on #33924
@vladichernov I will now proceed to close the issue. Please feel free to comment still and tag me if you want any further clarifications.

[2019-06-28 04:17] #33924 closed

[2019-06-28 04:29] #34168 closed

[2019-06-28 04:42] KetanChawda-MSFT commented on #33967
@nagajaya Can you please help us with providing the document URL for which your feedback is applicable to?

[2019-06-28 04:49] SubhashVasarapu-MSFT commented on #34172
@dylreeves, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-28 04:58] SubhashVasarapu-MSFT commented on #34171
@andyKalman, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-28 04:58] MohitVerma-MSFT commented on #34136
@matthewcordaro Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 04:59] MohitVerma-MSFT commented on #34153
@chad-chronotek Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 05:00] SubhashVasarapu-MSFT commented on #34170
@tafia, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-28 05:01] paulbouwer commented on #34168
@jakaruna-MSFT - I approved the changes in PR #34173 - they just need to be merged.

[2019-06-28 05:01] MohitVerma-MSFT commented on #34158
@clisc Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 05:06] jakaruna-MSFT commented on #34168
Thank you @paulbouwer

[2019-06-28 05:10] bastiankayser commented on #34107
Yes, all prerequisites installed successfully.
OS Version is
Windows 10 Pro Build 17134

[2019-06-28 05:11] jakaruna-MSFT commented on #34095
Thanks @rafalfitt
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-28 05:11] jakaruna-MSFT commented on #34095
@Deland-Han  please take care of this issue

[2019-06-28 05:19] MarileeTurscak-MSFT commented on #33853
From looking into this, the AADSTS90100 seems to be the equivalent error. @rwike77 and @CelesteDG - can you confirm if the text has changed for this and if so get this document updated?

[2019-06-28 05:32] Bybinbin opened #34175 "About the database named Samples"
Hi,
I want to know whether the Samples database can be used in azure china environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3ea0a3a-14cf-61b0-574c-764be6b78154
* Version Independent ID: f9ab7654-5080-e980-4b6b-910f0fde4feb
* Content: [Write queries for Azure Data Explorer](https://docs.microsoft.com/en-us/a

[2019-06-28 05:46] YASWANTHM-MSFT commented on #34010
@igomat , Flighting means when you have opted for automatic updates will get this update first.
The Azure File Sync v7 release is currently being flighted to servers which are configured to automatically update when a new version becomes available. Once fighting completes, this update will be available on Microsoft Update and Microsoft Download Center.
Also every agent released is at GA quality. I

[2019-06-28 06:05] RohitMungi-MSFT commented on #34142
@ericjiang18 Could you please let us know which documentation link are you referring to?
From the custom vision portal you can get the tag id from the Performance tab where the different tags in your project are listed.

![image](https://user-images.githubusercontent.com/46958063/60320671-13eeb300-9998-11e9-999f-262e4c001141.png)

Click on any of the tag name and it should open up all images with

[2019-06-28 06:06] TETZUO commented on #32886
Any Update on this?

[2019-06-28 06:14] J-Prashant commented on #25618
It will be better to incorporate if support for using installation id for updating registration from backend and common cross platform templates for sending in different styles using images etc. As for as know installation id can be used only in rest API.

[2019-06-28 06:16] ram-msft commented on #34098
@ignacioPastor Can you please share the LUIS application ID.

[2019-06-28 06:24] AjayKumar-MSFT commented on #33842
@aasis21, We will now proceed to close this thread. If there are any further questions regarding this matter, please tag me in your reply we will gladly continue the discussion.

[2019-06-28 06:27] igomat opened #34177 "KB4489739 - failed link"
When used the hyperlink behind the KB4489739 so: https://support.microsoft.com/en-us/help/4489739 there is: "Sorry, page not found"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42797ef6-81d4-d8d6-a771-ef427f11698d
* Version Independent ID: c56473d5-ebfe-96f9-57fe-96446ada56f8
* Content: [Release notes for the Azure F

[2019-06-28 06:28] igomat commented on #34010
Does the version 7.0.0.0 already include all improvements of the 6.3.0.0? The 6.3.0.0 was released later.

[2019-06-28 06:31] YASWANTHM-MSFT commented on #34177
@igomat , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-28 06:37] msrini-MSFT commented on #33822
@jmoralesv ,Thank you for providing your feedback. I will pass on this feedback to the respective Product owners to investigate. As this product is in Preview, we collect feedback and try to fix those while the product is Generally Available.

[2019-06-28 06:37] #33822 closed

[2019-06-28 06:38] YASWANTHM-MSFT commented on #34010
@igomat, yes it includes all the improvements. The agent version 6.3.0.0 of the Azure File Sync agent released June 27, 2019. These notes are in addition to the release notes listed for version 6.0.0.0. For more information, please check the list of issues fixed in this release [**here**](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes#agent-version-6300).

[2019-06-28 06:38] msrini-MSFT commented on #34059
@taromielnaz , Web App is a PAAS offering and you can deploy with the same code in different region. I don't think there should be any problem with it. If you face any problem, please let me know.

[2019-06-28 06:43] SadiqhAhmed-MSFT commented on #34136
@genlin FYI. Could you please review this request and update as appropriate?

[2019-06-28 06:49] SadiqhAhmed-MSFT commented on #34104
@timfirmin This doc - https://docs.microsoft.com/en-us/azure/azure-resource-manager/template-best-practices outlines some of the best practices for leveraging ARM templates. Could you please let us know if you're looking for any specific information and provide more details about your requirement.

[2019-06-28 06:53] renebik commented on #33741
The version of the azure eventgrid extension is 0.4.3.

Also tried with PowerShell, but then I get :
New-AzEventGridTopic : A parameter cannot be found that matches parameter name 'InputSchema'.

Running Get-InstalledModule I get:
0.4.1-preview        AzureRM.EventGrid                   PSGallery            Microsoft Azure PowerShell - EventGrid service cmdlets for Azure Resource Manager

________

[2019-06-28 07:01] HQJaTu commented on #19647
Given deprecation of RM-library, the commonly accepted rationale seems to gear towards PowerShell Core and Az-library. I'm writing new stuff for this project, so I absolutely want to future-proof my code. Sorry, I digress.

Thank you for confirmation. To add more spin to my curved ball, quite lot of stuff I do is at Azure Shell.
[code]

There are tons of Microsoft documentation out there suggestin

[2019-06-28 07:03] Szadegan commented on #34130
@femsulu here is the documentation: [Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-action-rules)

[2019-06-28 07:12] timfirmin commented on #34104
yes thanks so much - great document. Sorry - that was an Ed Balls moment (before) - didn't mean to leave anything in the feedback section. Thanks v much ! :)

[2019-06-28 07:12] #34104 closed

[2019-06-28 07:23] amigup opened #34178 "What is the current supported tinkerpop version?"
As per [this ](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support#gremlin-steps)article, the current TinkerPop is being supported in v3.2? What is the timeline to support tinkerpop 3.4.2 version in Azure Cosmos Graph DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
*

[2019-06-28 07:23] sandervandevelde commented on #31815
Sorry for my late reaction, I just noticed the merger message.

The length of a Modbus register can be 5 or 6 positions long. so 400001 could be possible. A good reference is [Coil, discrete input, input register, holding register numbers and addresses](https://en.wikipedia.org/wiki/Modbus).

So in real-world solutions, Modbus registers usually start from 40000.

I recommend going for 40001 becaus

[2019-06-28 07:42] andreaslarssonliu commented on #33968
We were planning with going live with this CA rule this week, but we are stopped by the exclusion being gone, should i open a case with o365 support or will you handle it here?

[2019-06-28 07:42] anderskeis commented on #33032
Error: Unsupported block type

  on k8s.tf line 60, in resource "azurerm_kubernetes_cluster" "k8s":
  60:     tags {

Blocks of type "tags" are not expected here. Did you mean to define argument
"tags"? If so, use the equals sign to assign it a value.

[2019-06-28 07:42] anderskeis commented on #33032
Same error here :)

[2019-06-28 07:47] anderskeis commented on #33032
Solved by changing to

tags = {
        Environment = "Development"
    }

[2019-06-28 07:51] Ricciolo opened #34179 "Internet connection required in some situation"
Hi folks,
are there any situation in which internet connection is required?
My modules are up and running but I discovered that if I change the network setting into config.yaml file and I restart the runtime, I need again an internet connection, otherwise no module run, neither the edgeAgent.
I found the same problem (not always) if I restart the PC without internet connection.

My setup is: Windo

[2019-06-28 07:58] GrzegorzOpara commented on #31166
Hi, this is something we are really waiting for. It would be really helpful to have some estimates about the GA delivery date, since it's a blocker for a few our projects.

[2019-06-28 07:59] axthosarouris opened #34180 "Create a code sample for the flow request authorization code -> request access token"
It would be very useful if you could create an code example for the scenario where an API sends a request for authorization code and then it requests an access token and how can  `AuthenticationContext` be used in this request chain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
*

[2019-06-28 08:04] #33964 closed

[2019-06-28 08:10] Ballzer0 opened #34181 "guide outdated"
this guide is written fro App registrations (legacy)

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Directory authentication - Azure App Service](https://docs.microsoft.com/nb-no/azu

[2019-06-28 08:21] mike-urnun-msft commented on #33964
Hi @malhmoud-MSFT Thank you for reporting this issue and helping us drive improvement towards our documentations. I've created a PR that fixes the sample and the change should reflect within the next 24hrs.

[2019-06-28 08:26] Cyr-Az commented on #34128
@TravisCragg-MSFT that indeed works, thanks :)
Do you know if that IP is susceptible to be modified at some point? And if yes, would that be documented somewhere?

On a side note, I believe my context here is pretty common : we have a pretty large on-prem environment where DNS is handled by the domain controllers.
We deployed an extra DC in Azure, so we could provide a consistent AD and DNS servic

[2019-06-28 08:45] DashleenBhandari-MSFT commented on #34181
@Ballzer0 , Thanks for raising the issue. Could you please elaborate the issue and your requirement.

[2019-06-28 08:45] wisepotato commented on #29197
Any idea how to solve this?

[2019-06-28 08:56] ParisaMousavi opened #34183 "A Question..."
Why we call it "Azure Monitoring single pipeline"? I would like to know why it's single pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa2f48e-a8f8-fb03-753b-9e3b76075b96
* Version Independent ID: 2554dcd1-27a2-3a32-4097-b17dd261a1ad
* Content: [Integrate security solutions in Azure Security Center](https://

[2019-06-28 09:02] jakaruna-MSFT commented on #34105
@DAD713 Did you replaced your public key in the place of <your-key-data> in [Create a virtual machine](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ansible-create-vm#create-a-virtual-machine)?

You can find your public key in this file `/home/<your user name>/.ssh/id_rsa.pub`
You can generate that file if its not found using ssh-keygen.

Try this out and let me know

[2019-06-28 09:12] Coremination commented on #34007
Thank you @Grace-MacJones-MSFT for looking in to it. I want to begin integrating the solution but at the moment it is literally impossible for me to test it using the guidance given to see if it is fit for purpose (also all the solutions only run on Windows which is an issue where most of the systems we use are Linux and Mac based - are there plans to make AMSE on Mac?) so it is high priority for

[2019-06-28 09:15] angoyal-msft commented on #34175
@Bybinbin Thanks for your feedback. Could you please elaborate on what exactly do you mean by Samples database. Also, could you please point out in the section of the document you are referring too.

That would be really helpful in identifying your concern and then resolving it.

[2019-06-28 09:22] pfeio opened #34184 "web.config?"
I think there's a small mistake in the first section on configuring app settings. When it says "For ASP.NET and ASP.NET Core developers, setting app settings in App Service are like setting them in &lt;appSettings&gt; in Web.config, but the values in App Service override the ones in Web.config. You can keep development settings (e.g. local MySQL password) in Web.config, but production secrets (e.g

[2019-06-28 09:28] angoyal-msft commented on #34178
@amigup Thanks for the feedback. As such there is no timeline defined for tinkerpop 3.4.2 version in Azure Cosmos Graph DB.

But you can refer [Azure Updates](https://azure.microsoft.com/en-in/updates/?) page for the latest updates.

Also, you can post your requirement at [feedback](https://feedback.azure.com/forums/34192--general-feedback) page. Azure Cosmos Db team moniters this page closely and

[2019-06-28 09:32] Bybinbin commented on #34175
In this article, the  query commands is executed in azure data explorer portal (https://dataexplorer.azure.com/clusters/help/databases/Samples), and the portal has a Samples database , so i want to know  whether  has the similar database can be used  in azure data explorer portal  under azure  china  environment .
Thanks!

[2019-06-28 10:01] edfreeman opened #34185 "Defined indexes for container not being picked up once deployed"
Hi there,

Using the template from these docs, I've found that the indexes defined within the indexes array in the template aren't being applied to the deployed instance.

This is how I have it:

{
    "indexingMode": "consistent",
    "automatic": true,
    "includedPaths": [{
            "path": "/*",
            "indexes": [
                {
                    "kind": "Range",

[2019-06-28 10:05] KetanChawda-MSFT commented on #34040
@ecfan can you please help here?

[2019-06-28 10:09] KetanChawda-MSFT commented on #33985
@craigshoemaker can you please share your thoughts here?

[2019-06-28 10:28] #33842 closed

[2019-06-28 10:38] SadiqhAhmed-MSFT commented on #34093
@DiSae I reviewed the document and this is related to instant restore using MARS agent and nothing to do with SQL Server databases.

However, there appears to be a typo in the NOTE section
![image](https://user-images.githubusercontent.com/44458118/60336647-98542c80-99be-11e9-9ad3-9117fd6c3fb0.png)

Should be read as "Can be restore on Windows 7 (or later) computer. We will fix this shortly.

We w

[2019-06-28 10:38] #34093 closed

[2019-06-28 10:42] t1agob commented on #30359
Do we have updates on this one? Microsoft.Web is showing in the portal and the documentation shared earlier mentions that Service Endpoints is an option to connect app services to a vnet but this specific document does not mention Microsoft.Web. Even if in preview. This is very confusing for everyone.

[2019-06-28 10:46] SnehaAgrawal-MSFT commented on #33926
@iizotov Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-06-28 10:50] Richard-TheDeveloper opened #34186 "Publishing Function App From VS 2017 Removes Existing Functions"
When publishing a C#  function app through Visual Studio 2017, any existing function in that function app that is not present in the VS project gets deleted without warning.

Is it possible to find out where the code was being stored and if there is a way to recover the deleted function app?

Thanks!

[2019-06-28 10:57] MohitVerma-MSFT commented on #34179
@Ricciolo Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 10:58] MohitVerma-MSFT commented on #34180
@axthosarouris Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 11:01] MohitVerma-MSFT commented on #34183
@ParisaMousavi Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 11:03] MohitVerma-MSFT commented on #34184
@pfeio Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 11:04] MohitVerma-MSFT commented on #34185
@edfreeman Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-28 11:05] MohitVerma-MSFT commented on #34186
@Richard-TheDeveloper Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-28 11:06] jtuliani opened #34187 "4095 vs 4096?"
The P50 disk size is listed as 4096 MB
The S50 and E50 are listed as 4095 MB
Is this a mistake? The 4095 figure seems inconsistent with all the other even numbers in the disk size table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7fb3be24b607
* Version Independent ID: 93637a78-fc66-6c5d-7845

[2019-06-28 11:17] Richard-TheDeveloper commented on #34186
Hi @MohitVerma-MSFT , Thanks for your quick reply! But I'm not able to get you what kind of URL your expecting from me! to address the issue the right team would be Azure team.
This is the issue I've observed while working with Azure function, After publishing the azure function from visual studio 2017 whatever the azure functions apps that are available under my app service are deleted without an

[2019-06-28 11:19] Richard-TheDeveloper commented on #34186
For reference, please find this thread on same question
https://github.com/MicrosoftDocs/azure-docs/issues/18258

[2019-06-28 11:27] stevenfollis opened #34189 "Missing linebreak character is breaking copy/paste of code sample"
Missing a '\' character after "--sku standard":

az network lb create \
    --resource-group myResourceGroupSLB \
    --name myLoadBalancer \
    --sku standard
    --public-ip-address myPublicIP \
    --frontend-ip-name myFrontEnd \
    --backend-pool-name myBackEndPool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2019-06-28 11:34] SnehaAgrawal-MSFT commented on #34053
@drewwilliams1982 Thanks for your response! Looks like you are using PowerShell Request you to switch to Bash and then execute the command. Linux users should opt for a Bash experience, while Windows users can opt for PowerShell.
![image](https://user-images.githubusercontent.com/46553948/60339473-7b235c00-99c6-11e9-8216-b3a864955ebe.png)

[2019-06-28 11:41] shapetheLOLa commented on #18700
Can the standard sku also be used when not using AKS ?
We are trying to setup a HA Cluster and are only able to install the basic SKU when using the helm charts.

Any ideas someone?

[2019-06-28 11:42] roymeforever opened #34190 "PowerShell need to restart a session after adding istio to Environment Path"
[environment]::SetEnvironmentVariable("PATH", $PATH + "; C:\Istio\", "User")
After running this command, we need to restart PowerShell otherwise we won't be able to istioctl, eg, when continue to the next article https://docs.microsoft.com/en-us/azure/aks/istio-scenario-routing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-28 11:43] Rutikhal opened #34191 "in preview portal Bastion option dissapeared"
Hi. I enabled Bastion feature on my Azure. I even have RG with that, Bastion, Bastion subnet in my VNET and a few days ago I had Bastion option to connecto to VM. Now I dont see it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d53c0bc-f5bb-0f6e-5fb7-fb775eab4f4a
* Version Independent ID: b8d3a089-c160-7681-2a06-c230

[2019-06-28 11:46] jakaruna-MSFT commented on #34187
@jtuliani Thanks for reporting.
That's a mistake. related issue is #31783  where we changed for P50.
I will change for the remaining types.
Portal reflects correct sizes.
![image](https://user-images.githubusercontent.com/43405697/60340133-621baa80-99c8-11e9-9efc-90a9e9c00f90.png)

[2019-06-28 11:52] SadiqhAhmed-MSFT commented on #33734
@johnlnash See the response inline.
1.	Do you plan on supporting Virtual Networks? Seems like a no-brainer that we'd like to secure our storage from external access, pity to lose the ability to back up our data because of it however.
**Great ask and glad to let you know that we are very soon releasing support for the same. ETA – in the next quarter**

2.	Do you have any plans on expanding the snap

[2019-06-28 11:52] #33734 closed

[2019-06-28 12:20] genlin commented on #34136
matthewcordaro  We will consider to add the unsupported characters. Thanks for the suggestion!

[2019-06-28 12:20] craigshoemaker commented on #33985
cc: @KetanChawda-MSFT

@Aurora7Sys the way you want to approach this is to use runtime binding in order to assign the API dynamically. By using the `IBinder` interface you can control the instantiation of the `SendGridAttribute` which gives you the opportunity to decide which API key you want to use.

Here's an example:

[code]

This example is kept simple on purpose. In a production context, you

[2019-06-28 12:22] AjayKumar-MSFT commented on #34107
@bastiankayser, Thank you for the details. I have assigned the issue to the content owner to review further.
![image](https://user-images.githubusercontent.com/44606227/60341823-63030b00-99cd-11e9-972d-57d56834fd6c.png)

[2019-06-28 12:34] jakaruna-MSFT commented on #34187
@roygara i raised two PR's to change the size of S50 and E50.
Please review them.

[2019-06-28 12:44] v-krghan commented on #32337
@sushilraje I verified the contents and they match and still I see the service is not running and it is throwing exception
![Screenshot (9)](https://user-images.githubusercontent.com/46382348/60342965-bd698080-9967-11e9-9763-6fc0cc53b3d1.png)

[2019-06-28 12:46] mol opened #34193 "Cannot add IPv6 loopback address as redirect URI due to field validation"
Trying to add the IPv6 loopback address 'http://[::1]' (with or without brackets) results in the field validation calling it an invalid URI despite it being valid. The same error occurs with 0:0:0:0:0:0:0:1 in colon-hexadecimal notation.

This results in OAuth2 authorization failing if the user is using IPv6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-06-28 12:50] v-krghan commented on #32322
@sushilraje We are not running run.cmd file as part of this deployment. These are the steps we are following to run the services https://docs.microsoft.com/en-in/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-vscode. We are running it through VS code and we are seeing this error.

The environment variables I see are
SETX PCS_KEYVAULT_NAME "keyvault-xhhvd"
SETX PCS_AAD_APPID

[2019-06-28 13:03] sergaz-msft commented on #34179
Hi @Ricciolo please help us understand what you mean by no Docker Installed?
- "Windows 10 1809 and Windows Containers **(no Docker installed)**" ?

Is your setup supported on Tier1 or Tier2 ? -> https://docs.microsoft.com/en-us/azure/iot-edge/support
Thank you.

[2019-06-28 13:10] Ricciolo commented on #34179
Yes, I'm in tier 1, with process isolation and moby-engine. Docker is not required. I followed this instructions https://docs.microsoft.com/en-US/azure/iot-edge/how-to-install-iot-edge-windows
The only difference is that I'm using Windows 10 Enterprise instead of Windows 10 IoT Enterprise

[2019-06-28 13:18] Tiberriver256 opened #34194 "Links to actually resolve the issues?"
I'm getting `AADSTS90093` and went into registered applications and removed the directory.read.all permission but users are still seeing the error. Where are the docs for helping to troubleshoot this error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 798bc53c-2589-c67c-a304-d820dae21476
* Version Independent ID: 518

[2019-06-28 13:26] msrini-MSFT commented on #34191
@Rutikhal , Thank you for posting your query here.

You need to use Preview portal to view and use Azure Bastion when this product is in Preview.

Here is the link: http://aka.ms/BastionHost

Tag me if you need any further assistance.

[2019-06-28 13:26] #34191 closed

[2019-06-28 13:28] msrini-MSFT commented on #34189
@stevenfollis , Thank you for your feedback. I will do a PR and the document should be fixed shortly

[2019-06-28 13:33] tfitzmac commented on #34032
@asubmani - Thanks for the question. Although the portal shows the move option, Express Routes do not support move. I verified it by attempting to move an Express Route.

[2019-06-28 13:33] tfitzmac commented on #34032
#please-close

[2019-06-28 13:33] #34032 closed

[2019-06-28 13:34] j-martens commented on #33308
Hi @swanderz, did you get the answers as pertains to the docs?

[2019-06-28 13:34] Rutikhal commented on #34191
@msrini-MSFT, as you saw subject I mentioned that I used preview portal and it was there but now dissapeared