[2019-07-25 03:56] tchristiani commented on #35396
Product requests entered into backlog.
#please-close

[2019-07-25 03:56] #35396 closed

[2019-07-25 03:56] githubavi commented on #30811
Hi,
After I have fixed the issue using postman, I have not tried again with curl command again.

Thanks,
Avi

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Patrick Farley <notifications@github.com>
Sent: Tuesday, July 23, 2019 11:26:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Avijit Samanta <avijit.samanta@outlook.com>; Mention <m

[2019-07-25 03:57] tchristiani commented on #33680
Solution provided.
#please-close

[2019-07-25 03:57] #33680 closed

[2019-07-25 04:00] tchristiani commented on #35704
@Teodelas the sample has been updated. Will you please check to see if it addresses your problem.

[2019-07-25 04:02] KrishnaG-MSFT commented on #35741
@dominicbetts Thanks for the quick response.
@yphuangms If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-25 04:06] erammunawwar commented on #35637
Hi @RohitMungi-MSFT I am giving my html according to this example. But it gives me a 5000 character limit. Ideally, I wanted to translate a pdf from chinese to english. The tutorial said the input should be string or html so I converted the pdf to html, but that exceeds character limit. What is the suggested way to translate documents(PDF,DOCX etc.) if not html?

[2019-07-25 04:09] KrishnaG-MSFT commented on #34965
@bwren Thanks for the update.
@wstinkens [Here](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) are the steps to raise a support ticket with Azure technical support if you already have a support plan. But if you don't, then please send mail to AzCommunity@microsoft.com with your subscription ID and a link of this Github thread (for context) and we w

[2019-07-25 04:09] #34965 closed

[2019-07-25 04:10] mike-urnun-msft commented on #35585
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-25 04:10] #35585 closed

[2019-07-25 04:16] KingdomOfEnds commented on #34909
That's my mistake. For any customized properties, you must use **Extended Property Keys** (which do not attach to the underlying OData schema) - for other property or attribute-like entities some additional filtering options are available (attributes attached directly to the OData schema for example).

**(Extended) Property Keys** are created in two ways:

1. Through the API of the entity you want

[2019-07-25 04:22] KingdomOfEnds commented on #34909
I've also reached out to the engineering team to provide some clarification about filtering, ordering, and status of the Swagger document.

[2019-07-25 04:28] jakaruna-MSFT commented on #35426
@bane-Sidhe
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-25 04:28] #35426 closed

[2019-07-25 04:31] CHEEKATLAPRADEEP-MSFT commented on #35799
@ericjiang18  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2019-07-25 04:33] CHEEKATLAPRADEEP-MSFT commented on #35792
@orspod  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-25 04:35] CHEEKATLAPRADEEP-MSFT commented on #35785
@dsmeltz  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 04:37] CHEEKATLAPRADEEP-MSFT commented on #35794
@MarkAtAgilliance  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 04:37] dcurwin commented on #35782
@femsulu  -  Please assign to me.

[2019-07-25 04:38] CHEEKATLAPRADEEP-MSFT commented on #35796
@KeiroKamioka0000  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 04:39] CHEEKATLAPRADEEP-MSFT commented on #35797
@SinZ163  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 04:40] CHEEKATLAPRADEEP-MSFT commented on #35800
@nicolaszhang  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 04:41] allenwux opened #35801 "How can I use paid cognitive service instead of the free one?"
Do you mind to add a link in next steps at least please? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5117f79-c345-55ac-f607-90fd6c90a4ce
* Version Independent ID: dcf7e0e9-34c7-7a52-5ade-7799e60980b0
* Content: [C# Tutorial for calling Cognitive Services APIs in an indexing pipeline - Azure Search](https

[2019-07-25 04:44] srihari-sridharan commented on #35743
Thanks

Thanks and Regards,

*Srihari Sridharan*

Never postpone work which should be done without delaying. Tirukkuṛaḷ
<http://en.wikipedia.org/wiki/Tirukkural> *2nd ** century BC*

தூங்குக தூங்கிச் செயற்பால் தூங்கற்க

தூங்காது செய்யும் வினை. - திருக்குறள்
<http://en.wikipedia.org/wiki/Tirukkural>

On Wed, Jul 24, 2019 at 8:52 PM Kalyan Chanumolu <notifications@github.com>
wrote:

[2019-07-25 04:44] jcbrooks92 opened #35802 "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING is used for consumption and premium"
The description mentions WEBSITE_CONTENTAZUREFILECONNECTIONSTRING is  only required for consumption  but its actually needed for premium functions as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App s

[2019-07-25 04:46] jmprieur commented on #35690
@shashishailaj: I've fixed the issue raised by @mahoekst and improved the page by providing links to the samples which code snippets are presented;

[2019-07-25 04:46] jmprieur commented on #35690
#sign-off

[2019-07-25 04:47] orspod commented on #35792
@jaijitendra thank you for your feedback. @ishasahni1 will you please address this localization issue. Thanks!

[2019-07-25 04:47] mike-urnun-msft commented on #35310
@snefs We have assigned this issue to the author to review further and take the right course of action.

[2019-07-25 04:47] allenwux opened #35803 "How do I get the cognitive service key programmatically?"
How do I get the cognitive service key programmatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 663f9f38-9f51-c641-9e50-b178b10f5fca
* Version Independent ID: c768c56a-17a7-5ec1-4609-5ee53011bc45
* Content: [Attach a Cognitive Services resource with a skillset - Azure Search](https://docs.microsoft.com/en-us/az

[2019-07-25 04:52] orspod commented on #34677
@jkrysicki - I hope the answer was helpful. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
@angoyal-msft - please close.

[2019-07-25 04:54] SumanthMarigowda-MSFT commented on #35736
@shankarsundaram Azure Storage has stopped SSL 3.0 since 2015 and uses TLS 1.2 on public HTTPs endpoints but TLS 1.0 and TLS 1.1 are still supported for backward compatibility.
 TLS 1.0 was still accepted, while higher versions were selected.

[2019-07-25 04:59] SumanthMarigowda-MSFT commented on #35377
@Jayesh040 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 04:59] #35377 closed

[2019-07-25 05:12] jmprieur commented on #35785
@dsmeltz this is fixed
@CHEEKATLAPRADEEP-MSFT please verify (when the doc is published) and close the issue.

[2019-07-25 05:22] lyrana commented on #34909
Hi @obrookstein unfortunately what you're trying to achieve isn't currently supported in one single API call, but you are able to retrieve up to 1000 space nodes with properties and do the property value filtering client side. On your Management API swagger page you'll find a section on OData. You can also view the sample swagger [here](https://docs.westcentralus.azuresmartspaces.net/management/sw

[2019-07-25 05:22] AjayKumar-MSFT commented on #35536
@fabich, We have been discussing on this internally, your feedback has been shared with the content owner (@cephalin) for further review and update the document as appropriate.

[2019-07-25 05:22] KalyanChanumolu-MSFT commented on #35765
@sirdank Thank you for pointing out the issue and helping us in making our docs better.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.

We will proceed to close this issue now.

[2019-07-25 05:24] zhenlan commented on #35615
@satls Thanks for the feedback. We are working on this and will put up documentation when it's available. We will have the support of retrieving key-values as part of ARM template first and adding key-values via ARM template will be after.

[2019-07-25 05:27] #35765 closed

[2019-07-25 05:31] ManojReddy-MSFT commented on #21125
@parakhj Can you provide an update regarding this?

[2019-07-25 05:38] genlin commented on #35713
@rafamarrara Thanks for the feedback. I will check and update the article.

[2019-07-25 05:41] shashishailaj commented on #35690
@jmprieur Thank you so much for looking into this.

[2019-07-25 05:42] shashishailaj commented on #35690
@mahoekst We will now close this issue. the changes would be live in the next release cycle within next 24 hours.
Thank you.

[2019-07-25 05:44] shashishailaj commented on #35785
@jmprieur Sure Marc , Thank you for timely assistance. The changes are already merged but for showing up on the global documentation may take a maximum of 24-48 hours because of the global release cycle . This should be live in the next release cycle as it is already merged .

[2019-07-25 05:57] #35690 closed

[2019-07-25 05:57] yatish123 commented on #33108
@rezasherafat i want to understand more about "Sharding" , how it works and what are the screnarios it would be helpful. as the documentaiton does not have more details.

[2019-07-25 06:00] ManojReddy-MSFT commented on #35448
@smudireddy It just indicates that the token you obtained or presented to the application is signed with a different certificate and does not match the one the application has.

Can you send me the token you obtained and the auth request you are sending to Azure AD?

[2019-07-25 06:00] #35785 closed

[2019-07-25 06:01] KalyanChanumolu-MSFT commented on #35770
@TamirAl Thank you for reporting this issue.
This issue is being assigned to the content author to update accordingly.

[2019-07-25 06:01] ChiragMishra-MSFT commented on #35708
@joshnoe The point of creating the watermark table is to keep a track of "WatermarkValue" to make sure you only copy the "delta" changes from the table.

Also, since the tutorial says "Incrementally copy **a table**, the LookupOldWaterMarkActivity doesn't take into account the possibility of multiple tables (in which case you would have a forEach activity wrapping the LookupOldWaterMarkActivity).

[2019-07-25 06:05] rajatb94 commented on #35553
Thanks a lot for understanding the issue. i will be happy to see an updated
docs to get my team a stable reference .

On Wed, 24 Jul 2019, 23:57 YutongTie-MSFT, <notifications@github.com> wrote:

[2019-07-25 06:06] patrickgalbraith commented on #35449
@himanshusinha-msft I am reading it from a stored procedure, and the user I am using is the database admin that Azure created. The issue is with writing the data to the temp table. This is what your docs say:

This is what I have done with the output of the copy activity:

[code]

If you have got this working can you provide an example.

[2019-07-25 06:08] angoyal-msft commented on #34677
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-25 06:08] #34677 closed

[2019-07-25 06:18] linruhui commented on #31879
Thank you @cephalin for the reply.
Do you have any plan to add these limitation of TCP connections in https://azure.microsoft.com/en-us/pricing/details/app-service/windows/  or azure portal when we choose the instance type for our web app?

[2019-07-25 06:20] KalyanChanumolu-MSFT commented on #35729
@Cyber-Cloud-Consulting Could you please help me with the link to the document where you are requesting these details.
The document in context doesn't seem to be relevant to the question.

[2019-07-25 06:21] ManojReddy-MSFT commented on #35118
@MahdeeT Can you send the tokens you obtained in both the scenarios (MSI and user) from the VM in the cloud?

Also please confirm that there no network restrictions configured as per my previous post.

[2019-07-25 06:22] SogoGolf opened #35804 "Bulk update data in Azure Cosmos DB using an Azure Function (C#) ?"
Can this API be used in Azure Functions (C#) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e425a8-0912-7516-b0e4-485f903c4003
* Version Independent ID: 6d44d779-e35f-8101-3427-ebf59015a956
* Content: [Using bulk executor .NET library to perform bulk import and update operations in Azure Cosmos DB](https://docs.mic

[2019-07-25 06:22] imeya opened #35805 "confusion about code start for blob trigger."
In this [section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#how-the-consumption-and-premium-plans-work) -&gt; Note: it says "When you're using a blob trigger on a Consumption plan, there can be up to a 10-minute delay in processing new blobs. This delay occurs when a function app has gone idle". But I also find another [article](https://mikhail.io/serverless/coldstarts

[2019-07-25 06:24] obrookstein commented on #34909
@KingdomOfEnds , @lyrana ,
Thank you both for the detailed answers. I'll do the filtering on the client side as suggested, after polling all child spaces, and their properties.

Thanks!

[2019-07-25 06:26] gjdonkers commented on #35791
O, damn.. I feel so stupid right now..

Thank you for the quick response!

[2019-07-25 06:26] #35791 closed

[2019-07-25 06:30] ggailey777 commented on #35805
@imeya I think that the note’s a bit misleading. I believe that the delay is due to the fact that we poll the blob container, so it’s not a real-time trigger (like Event Grid). I’ll confirm this and fix the note. #assign:ggailey777

[2019-07-25 06:30] Cyber-Cloud-Consulting commented on #35729
@KalyanChanumolu-MSFT

Hello,

This is the article I am referring to:

https://docs.microsoft.com/en-us/azure/sql-database/replication-to-sql-database

[2019-07-25 06:33] MrLokeshV opened #35806 "is there any Limit on Number of Partition in Cosmos DB Collection."
Hi Team,

I am using Cosmos DB for my Bot application to store the conversation Data.
Total application users is near 100K so  if i will give user ID as partition Key, Will it affect the performance ?
is there any constraint on number of partition in cosmosDB collection as above example will create the  near 100K partition, One for each user.

---
#### Document details

⚠ *Do not edit this section

[2019-07-25 06:35] angoyal-msft commented on #35477
@mijo89joseph  As per my knowledge we are using [TCP Congestion Control](https://tools.ietf.org/html/rfc5681#page-4) mechanism to handle the Congestion. So if there is any congestion or any condition which stops data to be transmitted it will retry to transmit that data. But after the threshold it will stop sending data.

@tknandu Could you please comment on this issue.

[2019-07-25 06:44] SubhashVasarapu-MSFT commented on #35298
@loopfish, Try checking the intermediate certs on the backend cert. Here is an [online tool](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.sslshopper.com%2Fssl-checker.html&data=02%7C01%7CSubhash.Vasarapu%40microsoft.com%7Ca64b4fdd02064c65a2b008d70c37d8d9%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636991306316275900&sdata=%2Bnr9GBI96EvKuET347i8UeIIt6AWfA0xDjHOQpLuiSE%3D&r

[2019-07-25 06:51] jessejiang0214 commented on #30469
I met the same error with dotnet environment. Did this issue has been fixed?

[2019-07-25 06:52] loopfish commented on #35298
There is nothing wrong with the cert bundle. As I mentioned, it works absolutely fine with a v1 AG, and the Digicert SSL checker confirms all 3 parts of the cert are present and correct

[2019-07-25 06:52] SumanthMarigowda-MSFT commented on #35712
@dcbrown16 You may refer to the suggestion mentioned in this [GitHub ](https://github.com/MicrosoftDocs/azure-docs/issues/30980 Presently it's not possible
)

You can [Copy from Azure Blob to AWS S3 using C#](https://stackoverflow.com/questions/46861723/copy-from-azure-blob-to-aws-s3-using-c-sharp)

[2019-07-25 06:57] angoyal-msft commented on #35806
@MrLokeshV In Cosmos DB, there are physical and logical partitions. Within a Collection, all documents that share the same value for the partition key will live within the same logical partition. One or more logical partitions occupy a physical partition. As developers, the physical partitioning is irrelevant; we only have control over what belongs in a logical partition.
Regardless of whether a C

[2019-07-25 07:00] pmeuser commented on #35004
Really selecting "All Windows desktop editions" and NOT "All Windows editions" does the trick for me ...

[2019-07-25 07:01] dcbrown16 commented on #35712
Thanks @SumanthMarigowda-MSFT

[2019-07-25 07:01] #35712 closed

[2019-07-25 07:04] pmeuser commented on #35441
Regarding Yubikey in a VMware environment: The settings described in the linked document solved the issue for me:

Troubleshooting VMWare Workstation Device Passthrough
https://support.yubico.com/support/solutions/articles/15000008891-troubleshooting-vmware-workstation-device-passthrough

[2019-07-25 07:05] sachinruk opened #35807 "ModelDataCollector"
This is with regards to the ModelDataCollector in AzureML.

I'm having a bit of trouble getting my head around how to save my predictions. I'm following the tutorial [in this notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/enable-data-collection-for-models-in-aks/enable-data-collection-for-models-in-aks.ipynb):  and also looked at [this](https:

[2019-07-25 07:14] Grace-MacJones-MSFT commented on #35801
Hi @allenwux, you can use cognitive service through the Azure portal.  If you don't have an Azure subscription, create a [free account ](url)before you begin. Execution of built-in skills is charged at the existing[ Cognitive Services pay-as-you](https://azure.microsoft.com/en-us/pricing/details/cognitive-services/) go price .Image extraction pricing is described on the [Azure Search pricing ](htt

[2019-07-25 07:14] #35801 closed

[2019-07-25 07:16] CHEEKATLAPRADEEP-MSFT commented on #35807
@sachinruk  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 07:20] Grace-MacJones-MSFT commented on #35803
Hi @allenwux,  you can follow these steps to find your service endpoint and access key:
1.Sign in to Azure portal.
2.In the left navigation pane, select **All services.**
3. In Filter, type Cognitive Services. If your subscription has Text Analytics, it appears in the list, with an API Type of **Text Analytics API.**
4. Click the link to open the service blade. You can now get a key from Resources

[2019-07-25 07:22] AjayKumar-MSFT commented on #35641
@rofangaci, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-25 07:22] #35641 closed

[2019-07-25 07:27] wisepotato commented on #29197
![Image of xkcd](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)

[2019-07-25 07:32] mattwhite-itl commented on #35004
Will try that when I get to work today

[2019-07-25 07:44] imeya commented on #35805
@ggailey777 , thanks for your reply. And one more question, how long does the cold start for other triggers like service bus trigger or queue trigger?

[2019-07-25 07:51] kailashmsft commented on #16812
Hi All,

could you please update the document with steps for Suse 12 SP1/2/3 (SP*) Images, all we have is suse 11 sp4  and opensuse only

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/suse-create-upload-vhd

Let me know if you want to create a new request for the same

Thanks,
Kailash B

[2019-07-25 08:00] msrini-MSFT commented on #35723
@kazshi , Do you have any update for me?

[2019-07-25 08:06] msrini-MSFT commented on #35759
PR done : https://github.com/MicrosoftDocs/azure-docs-pr/pull/83241

[2019-07-25 08:10] #35759 closed

[2019-07-25 08:14] wiseleaf23 opened #35808 "Link to account center seems to be outdated"
The link at "1. Sign in to the Azure Account Center" seems to be a bit outdated, redirecting you to the legacy Azure portal where this information is not listed for newer tenants.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d310ab-f635-428b-bad0-e31402013ab0
* Version Independent ID: e8a6830d-5970-a14c-e84f-8b2827

[2019-07-25 08:22] patriziobruno commented on #29197
@Karthiktandra your Azure Active Directory Admin, must grant admin consent to your app for some azure api, using the button Grant admin consent for Application at the bottom of the API Permissions blade:

![image](https://user-images.githubusercontent.com/2834179/61858240-9d24d700-aebd-11e9-85a2-dc909db14303.png)

[2019-07-25 08:26] KetanChawda-MSFT commented on #35802
@jcbrooks92 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-25 08:33] jakaruna-MSFT commented on #35274
@pixelmosh Sorry for the delay.
I have applied the break points and when i try to vote its hitting it.
I am adding the flow below. Let me know if that matched with yours.

- apply breakpoints in `/VotingData/Controllers/VoteDataController.cs` as shown below
![image](https://user-images.githubusercontent.com/43405697/61858840-83e35100-aee4-11e9-8698-7065fe76de70.png)
- Click on the voting button
![

[2019-07-25 08:34] prabhakarreddy1234 opened #35809 "Azure Automation Start/Stop VMs Solution in Powershell"
https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management

The above article explains how to achieve it through Azure portal. But is it possible to achieve the same through Powershell/CLI.  In the case many azure subscriptions, it becomes tedious to setup this solution for each subscription manually.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-25 08:38] osaid202 commented on #29294
" only Windows Server 2016 and Windows 10 Enterprise multi-session are supported."
Does that mean both the AD DC and WVD have to use 2016 datacenter? My virtual AD DC is on datacenter 2019 and I am getting ''invalid token'' error during Windows Virtual Desktop Agent installation.

[2019-07-25 08:39] moseleycj commented on #35742
Hi @mmacy

It may well be just that the documentation was written for the older App
Registrations UI. However, on my portal, there is no longer an option to
select App Registrations (Legacy), it's been removed.

[image: image.png]

[image: image.png]

So when attempting to follow the article, most menu options look different
so it makes little sense. Also, Microsoft Graph API is automatically adde

[2019-07-25 08:40] jlahteen commented on #29913
@sheighes The HTML sample just doesn't work. My advice is to use markdown formatting instead of HTML in your Excel file -- it works. Let's hope that Microsoft will provide a working HTML sample at some point. @YutongTie-MSFT

[2019-07-25 08:42] PramodValavala-MSFT commented on #30469
The [Azure Storage Emulator](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) is only supported for Windows (and is accessible from WSL), so this setting doesn't apply for Mac or Linux.

That being said, there is another cross platform (nodejs based) emulator, [azurite](https://github.com/Azure/Azurite), that can be used as well and requires the same setting, but this is

[2019-07-25 08:44] Limp-monkey commented on #35445
I'm struggling with running any AZ module commands on HRW, as it's complaining that both AZ and AzureRM are installed (Connect-AZAccount : The 'Connect-AZAccount' command was found in the module 'Az.Accounts', but the module could not be loaded)

I'm not using any AzureRM in my runbook, so is the fact that the HRW script is written with AzureRM the fault you can't use AZ?

[2019-07-25 08:44] ChiragMishra-MSFT commented on #35794
@MarkAtAgilliance There were a few changes done recently on Function Apps because of which parameterizing key values in ARM templates was affected. To read more about this, please refer [this article](https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V2#arm-impact). The product team is working on rectifying it and it should be done soon.

There's a workaroun

[2019-07-25 08:46] ChiragMishra-MSFT commented on #35794
I will now proceed to close this issue. Please feel free still to comment and tag me if you have any queries or ideally provide your feedback on a doc pertaining to Function apps.

[2019-07-25 08:46] #35794 closed

[2019-07-25 08:48] alvipeo opened #35810 "Can I filter traffic with WAF based on 'X-Forwarded-Host' header?"
My backends are in ASE with WAF. So can I filter traffic with WAF somehow? if not, what should I use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
* Content: [Azure Front Door Service - Frequently Asked Questions for F

[2019-07-25 08:48] sheighes commented on #29913
Thanks @jlahteen that was the conclusion I came to, and am using markdown, it would have saved a lot of trouble if that was just stated explicitly or removed from the example.

[2019-07-25 08:50] oraclebase opened #35811 "Seems to be copied from my article!"
A big chunk of the data guard article is copied from my article here.

https://oracle-base.com/articles/12c/data-guard-setup-using-broker-12cr2

This was brought to my attention by one of my readers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 514bcbf1-9ebb-b9f0-a12e-bfdaf7c9b06f
* Version Independent ID: b13e5e51-0

[2019-07-25 08:51] PramodValavala-MSFT commented on #35382
@jovabel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 08:51] #35382 closed

[2019-07-25 08:51] sanjusanjeet commented on #11093
gaurav7961, I am still struggling with it.. would it be possible for your to guide. i need to supply schema of source and sink before using this. How can we leverage get metadata activity and use its output to make it work?

[2019-07-25 08:56] rajata07 commented on #35724
@Kalyan any updates? I also have this problem.

[2019-07-25 08:58] rajata07 commented on #35721
Thank you. please update the correct documentation.

[2019-07-25 09:02] angoyal-msft commented on #35804
@SogoGolf Thanks for your feedback. Yes you can use it using Azure Functions. Could you please follow the Azure Cosmos db binding with azure functions. There are multiple triggers which are available in C#.

[Azure Cosmos DB binding with Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2)

You can refer this [Stackoverflow thread](https://stackov

[2019-07-25 09:05] KrishnaG-MSFT commented on #35809
@prabhakarreddy1234 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-07-25 09:10] jtuliani opened #35812 "Dependency visualization instructions incorrect"
There is no dependencies column (as described in step 2). It appears the experience is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae7c5f24-18f9-cf82-cdb0-daa83876616e
* Version Independent ID: 5037a08b-0455-8d9a-a4d2-a96e83cb4f00
* Content: [Group machines using machine dependencies with Azure Migrate](http

[2019-07-25 09:12] msrini-MSFT commented on #35810
@alvipeo , Do you want to block or allow the traffic based on "X-Forwarded-Host " header?

If yes, then you can use the custom WAF rules to achieve your ask.

Here is a sample: https://docs.microsoft.com/bs-latn-ba/azure/frontdoor/waf-front-door-custom-rules-powershell#custom-rule-based-on-http-parameters
 Let me know if that answers your question.

[2019-07-25 09:18] ThomasRebel opened #35813 "Can't find path"
Hey, after you guys solved my first problem (thanks very much for that), I stumbled on a second one. I tried to solve it myself, but it just don't work and I don't know why. It should be very simple.

The error I get is UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, scandir 'C:Users      homaPicturescognitive-services-node-sdk-samples-masterSamplescustomvisionimagesHem

[2019-07-25 09:30] Jeroen-H opened #35814 "Skype delay on Windows Virtual Desktop"
Hi,

I've setup Windows Virtual Desktop and tried calling from Skype for business.
But there is a delay of about 2 seconds.

I was wondering if there is an plug-in to do redirection?
or if it is in the pipeline?

Thanks

[2019-07-25 09:35] alvipeo commented on #35810
I want to block incoming front door heartbeat requests in my backends. But I do NOT use Front Door WAF. I use WAF in my ASE, so those commands are not relevant.

[2019-07-25 09:40] alvipeo opened #35815 "How do I initiate forced or friendly failover (with full data synchronization)?"
Can you please explain how to initiate those types of failover? There are Failover and Forced Failover buttons in the portal. Are they for friendly failover and forced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-ef32-8ee13ccbf8fa
* Co

[2019-07-25 09:43] CHEEKATLAPRADEEP-MSFT commented on #35814
@Jeroen-H  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2019-07-25 09:46] ivanignatiev opened #35816 "Explain how managed identities works for Custom Activities"
Hello,

That is not clear how Data Factory system assigned identity works in the context of Custom Activity which turns on Azure Batch.  It must be explained somewhere in the Managed identity for Data Factory article or in the Custom Activities article : https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity

Thank you !

---
#### Document Details

⚠ *Do no

[2019-07-25 09:52] msrini-MSFT commented on #35810
@alvipeo , If you want to block AFD health probes in the ASE WAF, please post your question in relevant documentation, so that the moderators can help.

Here is where you need to post your query: https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-web-application-firewall

[2019-07-25 09:56] msrini-MSFT commented on #35796
@KeiroKamioka0000 , When you enable WAF in Application Gateway, more the listeners, more the Application Gateway utilization in terms of CPU. the recommended number if 40.

Let me know if you have any further questions.

[2019-07-25 09:57] ChiragMishra-MSFT commented on #35816
@ivanignatiev Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-25 10:01] alvipeo opened #35817 "Can I filter traffic with WAF based on 'X-Forwarded-Host' header?"
My backends are in ASE with WAF. So can I filter traffic with WAF somehow? if not, what should I use?

I do NOT use Front Door WAF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4196aaa2-92d3-7dc3-3e07-e3f525afeb41
* Version Independent ID: 1849719a-534d-2b20-1c4d-9036b51c8d24
* Content: [Configure a web application f

[2019-07-25 10:01] alvipeo commented on #35810
Thank you. Done.

[2019-07-25 10:01] #35810 closed

[2019-07-25 10:09] SadiqhAhmed-MSFT commented on #35808
@wiseleaf23 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-07-25 10:20] yahorsi opened #35818 "ApplicationInsights.config path"
The article does not say anything on where ApplicationInsights.config should be deployed, like should it be in the same folder as web.config or actually deployed to the bin folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d924ee5e-1bf1-0d35-24e2-5b222e8e44c5
* Version Independent ID: f33fdb83-7734-b0b0-0ebd-25c0a

[2019-07-25 10:29] Kjeanclaude commented on #35471
When I connect to the Azure Portal, I see that we have an Azure AD Premium P1 license, but with no Azure subscription. I got the following message: "_You are currently signed into the gouvci.onmicrosoft.com directory which does not have any subscriptions._".
Our license allow us the access to a dozen of services including Office 365 E3.
So, unless the trial subscription is allowed for Enterprises

[2019-07-25 10:48] angoyal-msft commented on #35815
@alvipeo
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-07-25 10:50] ToMakeSense commented on #35578
@ecfan you can use the template I shared above by creating a logic app, open the logic app, click **code view** on the top, copy paste the template and save. now you have the logic app.

[2019-07-25 11:00] ToMakeSense commented on #35578
@ecfan  you can also add a "Initialize variable" action, input name and type(string), make the value input box got the focus,   then you can do as the screenshot below:
![image](https://user-images.githubusercontent.com/6244148/61869299-e13fc800-af0d-11e9-949c-6cbb2e8e57d5.png)

![image](https://user-images.githubusercontent.com/6244148/61869367-08969500-af0e-11e9-9f37-fa43038cb012.png)

![image](

[2019-07-25 11:01] markarnolditpro commented on #35788
Am I correct in my understanding that the existing cert for the App Service can be used unchanged in this scenario?  In other words, I don't need to a new cert tied in some way to AFD, rather AFD is simply moving the existing cert out to the POPs and closer to the clients?

[2019-07-25 11:04] slavizh opened #35819 "Schemas missing for some type of alerts"
Can the schemas be added also for
- Azure Monitor for VMs alerts (they are mentioned in another article but here the schema is not listed)
- Azure Cost Management alerts (they are mentioned in another article but here the schema is not listed)
- Security alerts - these are available for the old schema but we do not have one for common schema. Are they not available for just the schema is not added

[2019-07-25 11:08] markarnolditpro opened #35820 "Planning transition downtime"
I'm planning a transition of custom domain and SSL cert to AFD from an App Service... If the custom domain is verified (afdverify...) but not permanently mapped, will I be able to proceed with enabling HTTPS?  The way it reads above there may be a 6-8hr delay waiting for HTTPS to propagate before becoming usable.  Hopefully this can be completed before I permanently map the custom domain name over

[2019-07-25 11:09] SogoGolf commented on #35804
Thanks, up to you but might be worth adding a cross-reference in this doc to Azure Functions and/or mention that that the API can be used in an Azure Function too.

Last thing and sorry I know this isn't strictly docs related but can the bulk update API also be called from a Javascript Azure Function ? Or is it C# only ?

[2019-07-25 11:17] SnehaAgrawal-MSFT commented on #35817
@alvipeo Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 11:18] slavizh commented on #35819
Additionaly schemas for Activity Log - Policy, Activity Log - Autoscale and Activity Log - Recommendation are also missing.

[2019-07-25 11:19] Trinakriae opened #35821 "Deploy UI"
I have my solution correcly deployed in Azure, I have a local copy of the UI in my machine and I would like to redeploy the UI in order to reply the native. How can I achieve that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d73ef5af-8f75-3124-8e6d-ac1bb3db2a3f
* Version Independent ID: 95dd52b3-84fd-3201-8983-97b4f

[2019-07-25 11:24] msrini-MSFT commented on #35820
@markarnolditpro , Thank you for posting your question here. We will investigate and get back to you shortly.

[2019-07-25 11:24] ram-msft commented on #35813
@ThomasRebel Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-25 11:25] kastromatos commented on #35819
The following alert types currently do not support the common schema:
    Alerts generated by Azure Monitor for VMs
    Alerts generated by Azure Cost Management
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-common-schema

[2019-07-25 11:30] msrini-MSFT commented on #35820
@markarnolditpro , Answer to your question is in the FAQ provided in the same documentation:

"If you have a CNAME entry for your custom domain that points directly to your endpoint hostname (and you are not using the afdverify subdomain name), you won't receive a domain verification email. Validation occurs automatically. Otherwise, if you don't have a CNAME entry and you haven't received an emai

[2019-07-25 11:32] SnehaAgrawal-MSFT commented on #35629
@kumarallamraju Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-25 11:35] slavizh commented on #35819
@kastromatos  Couple of weeks ago actually I have tested Azure Monitor for VMs and it was generating common alert schema. Actually if you do not enable common alert schema than there is not schema.

[2019-07-25 11:38] alvipeo opened #35822 "I'm trying to use Damien Bod's angular-auth-oidc-client lib and I get CORS error when using b2clogin endpoint (on POST)"
please see this - https://stackoverflow.com/q/57190998/2896495.

How do I set CORS for b2clogin? And should I? Am I doing anything wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258cbcdaba
* Version Independent ID: 9560563b-23d1-c0f7-a6c0-d7526f97d93e
* Content: [Set redirect URLs to b2

[2019-07-25 11:42] SadiqhAhmed-MSFT commented on #35819
@slavizh Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-25 11:44] RohitMungi-MSFT commented on #35571
@elenay93 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 11:44] #35571 closed

[2019-07-25 11:44] #35378 closed

[2019-07-25 11:44] SadiqhAhmed-MSFT commented on #35378
@t-leblanc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 11:45] RohitMungi-MSFT commented on #35633
@zhenyufu We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 11:45] #35633 closed

[2019-07-25 11:58] SubhashVasarapu-MSFT commented on #34682
@alvipeo, yes,30 seconds is default health probe interval and it varies depending on the custom probe settings.

[2019-07-25 12:02] BhargaviAnnadevara-MSFT commented on #35531
@PingPongSet Hello there! Sorry for not getting back sooner here. From the repo you shared, I see that [this](https://github.com/PingPongSet/AzureDevSpaces/blob/master/charts/values.yaml#L16) line is commented, which resulted in the syntax error. Is there any specific reason for ignoring it in the yaml?

Please uncomment the specified line and re-run the commands, and that should get you going!

T

[2019-07-25 12:11] ajay15283 opened #35823 "AAD Linux Login PAM error: PAM: User account has expired"
AAD linux(SUSE) login failed to authenticate and logs shows error as below

2019-07-25T11:36:26.862243+00:00 linux sshd[14286]: error: PAM: User account has expired

[2019-07-25 12:14] aydeisen opened #35824 "Elaboration needed"
Most of the Overview sections in the Azure documentation are pretty good at explaining when and why to use a particular offering.  If nothing else, it would be great to see a document in the overview section that explains why someone would opt to use Azure NetApp Files over Azure Files in a Storage Account.

This article says Enterprise Grade.  Does that mean that Azure NetApp Files can define ACL

[2019-07-25 12:21] SaurabhSharma-MSFT commented on #32009
@kcrosby We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-25 12:21] #32009 closed

[2019-07-25 12:22] SaurabhSharma-MSFT commented on #35590
@ad0m We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-25 12:22] #35590 closed

[2019-07-25 12:25] msftnadavbh opened #35825 "[Issue] Missing yum config step on reversing from RH-EUS"
Regarding https://docs.microsoft.com/en-gb/azure/virtual-machines/linux/update-infrastructure-redhat#manual-update-procedure-to-use-the-azure-rhui-servers

**Section** - **RHEL EUS and version-locking RHEL VMs**
**Sub-Section** - Switch a RHEL VM back to non-EUS (remove a version lock)

Steps should be -
1. rm /etc/yum/vars/releasever

2. yum --disablerepo='*' remove 'rhui-azure-rhel7-eus'

3. yum

[2019-07-25 12:42] franrebo84 opened #35826 "Not enough details"
There is not enough detail of the procedure of allowing aks cluster to use a mysql database.

A guide to bind a database with a cluster is needed. Or an alternative to OSBA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bcc6011-3106-e7fc-ff36-02bd9dcce057
* Version Independent ID: 0b5ab39e-cacb-fb6a-0924-cc77028f391e

[2019-07-25 12:50] HansWieserMS opened #35827 "Please update to remove fixed partition"
... and add guidance how to size

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc248d85-e363-bfe6-e374-e265316e7afe
* Version Independent ID: 9941f04e-9553-7054-45d6-0d1023713db2
* Content: [Azure Cosmos DB tutorial: Create, query, and traverse in Apache TinkerPops Gremlin Console](https://docs.microsoft.com/en-us/azu

[2019-07-25 12:54] HansWieserMS opened #35828 "Please update partition sizing"
No more fixed partitions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64cdb516-a4f6-b33f-b993-48197836c6e9
* Version Independent ID: ae53aab5-b920-14d7-f54d-cdb3fa256a82
* Content: [Quickstart: Gremlin API with Python - Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-python#feedback)
*

[2019-07-25 12:56] mikgam opened #35829 ""follow instructions in this blog post" contains no link to a blog post"
In the "How do I tune performance of my managed instance" section (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-faq#how-do-i-tune-performance-of-my-managed-instance), it describes some instructions in a blog post, but there is no link to such blog post.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-07-25 13:06] edwin-dsw commented on #35750
You are right, it has a default value, I overlooked that because I wasn't using named params. Thanks!

Also, I couldn't find any description of what `countryHint` actually does or when to use it. I checked  both the [SDK's API reference](https://docs.microsoft.com/nl-nl/dotnet/api/microsoft.azure.cognitiveservices.language.textanalytics.models.languageinput?view=azure-dotnet) and [REST API referen

[2019-07-25 13:08] swasifali opened #35830 "Gateway required VNet Integration and gateway SKU restriction?"
Is there any restriction on the VPN gateway SKUs that are supported for gateway required VNet integration? In our tests, basic SKU gateway worked but VpnGw1 did not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Conte

[2019-07-25 13:17] ruthbacci opened #35831 "Extended Retention Policy"
This document should include steps as to how exactly to extend the retention policy of backups.  As this is the main use case for using Pshell to configure backups for Azure Files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ced371-9e52-7aa7-f100-d736d7a686a2
* Version Independent ID: 5a8ae9f7-5eb4-6fc5-b444-7021b7

[2019-07-25 13:19] blueelvis opened #35832 "What is the maximum length of Keyvault Secret & Secret Value?"
What are the limits which are imposed on the maximum number of characters can be contained within a `Secret Name` & `Secret Value`? Asking because what if we have to store large text files full of secret information, will that work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 962e9ebe-e97f-7a56-03a4-33662454bdfe
* V

[2019-07-25 13:24] CHEEKATLAPRADEEP-MSFT commented on #35823
@ajay15283  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community m

[2019-07-25 13:26] redappleorigin opened #35833 "Tabular operators > partition operator is not recognized by Azure Monitor"
attempts to use the partition operator in Azure Monitor as described here: https://docs.microsoft.com/en-us/azure/kusto/query/partitionoperator will result in a Syntax Error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 482918d5-5286-6601-5fa9-04081573fd70
* Version Independent ID: 46171329-e2b8-4c84-bd00-7e8f016adae

[2019-07-25 13:29] jfalameda opened #35834 "Unclear how to restore a backup"
Hi,

I find it unclear by reading this article how to apply a backup in case of data loss. Let's imagine a scenario where I lose all my cluster data. How do I apply the data back? Would this happen automatically? Or do I need to implement the data recovery in each service (Unclear how this approach described here relates to this one: https://docs.microsoft.com/en-us/azure/service-fabric/service-fa

[2019-07-25 13:30] CHEEKATLAPRADEEP-MSFT commented on #35825
@msftnadavbh  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 13:34] oraclebase commented on #35811
Wrong link. It was this 12.1 article it was copied from.

https://oracle-base.com/articles/12c/data-guard-setup-using-broker-12cr1

Still has all the tell-tale signs of the copy... :)

[2019-07-25 13:34] KrishnaG-MSFT commented on #35833
@redappleorigin Thanks for the comment. We are actively investigating the issue and will get back to you shortly with an update.

[2019-07-25 13:34] t-leblanc commented on #35378
@SadiqhAhmed-MSFT . Thank you for your response. When I try to use your payload example I can't save it. I get a syntax error.

![image](https://user-images.githubusercontent.com/53039292/61878635-a6c83200-aef1-11e9-8267-45c6a9e1bcad.png)

[2019-07-25 13:35] Chai-NED opened #35835 "Link broken"
[Enter feedback here]
This link is broken.

https://github.com/Azure/hana-large-instances-self-service-scripts/blob/master/snapshot_tools_v4.0/Microsoft%20Snapshot%20Tools%20for%20SAP%20HANA%20on%20Azure%20v4.0.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29783ec4-2f12-6b8b-2e1d-dfc94597ea1b
* Version Independent

[2019-07-25 13:40] sharushetty commented on #32922
I had exactly the same issue posted by @jscaravilli at the very beginning of this thread. TO be more clear, this is how we had planned to lay down our apps:

1.	App Service Plan 1
        a.	VNet1
               i.	Subnet1 --> App1
              ii.	Subnet2 --> App2
             iii.	Subnet3 --> App3
             iv.	Subnet4 --> App4

This seemed to work for us some time back, but not anymore and

[2019-07-25 13:40] stevenwhitej commented on #35436
@TravisCragg-MSFT The issue was with both.  Since my original post, a coworker has configured custom health probes, and they are now returning successfully.  I will mark this as closed.

[2019-07-25 13:40] #35436 closed

[2019-07-25 13:41] CHEEKATLAPRADEEP-MSFT commented on #35811
@MicahMcKittrick-MSFT & @romitgirdhar Could you please look into this?

[2019-07-25 13:47] CHEEKATLAPRADEEP-MSFT commented on #35812
@jtuliani  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 13:48] CHEEKATLAPRADEEP-MSFT commented on #35818
@yahorsi  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 13:50] CHEEKATLAPRADEEP-MSFT commented on #35821
@Trinakriae  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 13:51] Bigd271 opened #35836 "Open from URL doesn't work for OS X"
Using VS Code 1.36.1 on a Mac (Mojave) doesn't allow for the "open from URL" capabilites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ef211a-c625-61cd-9ae9-ca63e32ff4d2
* Version Independent ID: b60685c0-1d9c-ebcb-4393-e231d7b09c24
* Content: [Use Visual Studio Code to create Azure Resource Manager template](https

[2019-07-25 13:52] CHEEKATLAPRADEEP-MSFT commented on #35822
@alvipeo  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 13:52] CundyTech commented on #35767
Yep, I'm getting this issue to. I'm running pipeline that runs a series of DataFlows.

[2019-07-25 13:53] yahorsi opened #35837 "Adaptive Sampling Error"
&gt;&gt;If Adaptive or Fixed rate sampling are in operation, Ingestion sampling is disabled.
Please clarify is that statement is 'still' correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acd16eae-1cf7-5701-002a-d9dd7d50a3fe
* Version Independent ID: 814e2755-5310-70e7-fcfe-958fa748b4d4
* Content: [Telemetry sampli

[2019-07-25 13:54] NavtejSaini-MSFT commented on #35602
@CeciAc Please check the link and confirm that all correct documentation is there.
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-keywords#distinct

[2019-07-25 13:54] jtuliani commented on #35812
I just spoke with the PG. Apparently it's a known and intermittent bug. Probably OK to leave the doc as-is, since they will fix.

[2019-07-25 13:54] #35812 closed

[2019-07-25 13:58] CHEEKATLAPRADEEP-MSFT commented on #35824
@aydeisen  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-25 13:59] yphuangms opened #35839 "Typo in instructions in section of "validate-the-code". And urn naming issue."
7. Expand the interface with ID urn:**azureiot**:EnvironmentalSensor:1 to see the plug and play primitives - properties, commands and telemetry.

The "azureiot" in user defined urn doesn't looks right, for this should be an reserved namespace for Azure IoT Plug and Play. User should define their own company name in urn.

And also it would be great to have an article to address "urn" policy and ver

[2019-07-25 13:59] CHEEKATLAPRADEEP-MSFT commented on #35826
@franrebo84  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-25 14:01] CHEEKATLAPRADEEP-MSFT commented on #35827
@HansWieserMS  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-07-25 14:02] CHEEKATLAPRADEEP-MSFT commented on #35828
@HansWieserMS  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-25 14:04] CHEEKATLAPRADEEP-MSFT commented on #35829
@mikgam  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-25 14:10] kobulloc-MSFT commented on #35837
@yahorsi Thank you for your question!  We will verify this and get back to you shortly.

[2019-07-25 14:10] sergeyz7 opened #35840 "'Browser apps' description"
The description of 'Browser apps' category within 'Client apps' condition description seems to be completely out of place. It has nothing to do with browsers, and describes cloud apps instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24a

[2019-07-25 14:12] kobulloc-MSFT commented on #35818
@yahorsi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-25 14:14] rgherta opened #35841 "Shared throughput collection via Mongo Shell"
Trying to create a shared throughput collection using mongo shell.

Database successfully created via
[code]

Then I am trying to create a collection with a shared throughput by running
`db.runCommand({customAction: "CreateCollection", collection: "sharedtp" })`

Althouth the docs are claiming offerThroughput and shardKey are optional, I still get this error

[code]

How can I create a shared thro

[2019-07-25 14:22] tfitzmac commented on #35630
I added a sentence that states there is no limit on the number of parallel resources deployed.

[2019-07-25 14:27] #35630 closed

[2019-07-25 14:31] dsmeltz opened #35842 "ApplicationOptions type problem"
_applicationOptions must be of type ConfidentialClientApplicationOptions in order for it to be used by ConfidentialClientApplicationBuilder.CreateWithApplicationOptions.  Defining it as AzureADOptions works for accessing all of the properties in the configuration, but does not allow the object to be passed to CreateWithApplicationOptions.  ConfidentialClientApplicationOptions lacks the CallbackPat

[2019-07-25 14:39] tfitzmac commented on #35836
@Bigd271 - thanks for this feedback. I just want to make sure I understand which step is failing. Are you referring to the step in the section "Open a Quickstart template" where you paste the GitHub URL for the file name? What happens when you try that step?

[2019-07-25 14:44] ecfan commented on #35578
Hi @ToMakeSense, thank you for the repro, the visuals helped explain the behavior. I'm following up with the product team for an explanation.

[2019-07-25 14:49] simonness opened #35843 "Getting this to work with AD B2C"
We're close to getting this to work with AD B2C but when using the Developer Console to acquire an id token the API Management acquire token POST (https://{ad-b2c-id}.portal.azure-api.net/oauth2/authorizationcode/acquiretoken) is failing with "An error has occurred while authorizing access via {ad-b2c-id}" with no further details.  If testing the app via the sign in page, the callback also fails (

[2019-07-25 14:50] hrushib commented on #35834
Please refer [Restoring backup in Azure Service Fabric](https://docs.microsoft.com/azure/service-fabric/service-fabric-backup-restore-service-trigger-restore)  for understanding how to restore data.

[2019-07-25 14:55] amigup commented on #35072
@BhargaviAnnadevara-MSFT - Can you please assist on the question? Also as mentioned by you, I've posted the query on [Stackoverflow](https://stackoverflow.com/questions/57157793/get-requesttelemetry-or-itelemetry-in-derived-actionfilterattribute-using-depe). Can you or anyone from Azure application insights team assist on it?

[2019-07-25 14:56] BhargaviAnnadevara-MSFT commented on #34544
@gavinwilliams We're very sorry for the inconvenience that this has caused and we hope that we can help you better moving forward. Thanks for your patience.

[2019-07-25 14:56] RyanHill-MSFT commented on #35830
@swasifali, we are currently investigating and will update you shortly.

[2019-07-25 14:57] lepakm commented on #35217
I created:
https://social.msdn.microsoft.com/Forums/en-US/1c6ae215-9dad-4921-b7ef-a826443a47bb/liquid-json-to-json-template-with-unknown-property-names?forum=azurelogicapps

[2019-07-25 14:57] #35217 closed

[2019-07-25 14:58] KrishnaG-MSFT commented on #35836
@tfitzmac Thanks for the quick response
@Bigd271 Please answer @tfitzmac's queries

[2019-07-25 15:02] jmprieur commented on #35842
You are right, @dsmeltz. I rushed too much in updating this article late in the night yesterday and took a shortcut
I'm going to fix it.

[2019-07-25 15:02] mmacy commented on #35742
@moseleycj Hi Chris, thanks for the quick response. Unfortunately, your images aren't showing up in your comment, but if you indeed don't have that option, it may be a bug. Before I bring it up with the team, can you first verify that you've selected the **directory containing your B2C tenant** prior to selecting Azure Active Directory?

1. Select the **Directory + subscription** filter button in

[2019-07-25 15:03] BhargaviAnnadevara-MSFT commented on #35072
@amigup Thanks for reverting. I shall go through the mentioned resources and get back to you!

[2019-07-25 15:06] PramodValavala-MSFT commented on #35580
@imeya The example is using a BlobTrigger which I believe can't be tested directly from the portal like HTTP triggered functions.

For testing this function, you will need to create 3 blob containers in the default storage account - `sample-images`, `sample-images-sm` and `sample-images-md`. Once created, upload an image to the `sample-images` container which should trigger the function and place

[2019-07-25 15:07] SamaraSoucy-MSFT commented on #35650
@lpozo16 just following up- could you provide more info on the issue you are having with the Quickstart (ex. the stack trace)?

[2019-07-25 15:15] MicahMcKittrick-MSFT commented on #35835
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-25 15:15] spelluru commented on #34600
#please-close

[2019-07-25 15:15] #34600 closed

[2019-07-25 15:16] RyanHill-MSFT commented on #35202
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 15:16] #35202 closed

[2019-07-25 15:18] ChristianMontoya commented on #35471
@Kjeanclaude  You may be able to obtain a free account to get an Azure subscription ([link](https://azure.microsoft.com/en-us/free/)). However, we--the Windows Virtual Desktop team--do not have any subscriptions or ability to give out Azure subscriptions ourselves.

[2019-07-25 15:19] tocorobo commented on #8412
I feel this issue should be re-opened. The minimum bit length of DH ciphers on azure app gateways should be either configurable or bumped up to a minimum length of 2048. The rationale is that more and more guidance is coming from the infosec community to disable TLS 1.1 and lower which leaves us only with TLS 1.2 (since app gateways don't yet support 1.3) and the available list of ciphers compatib

[2019-07-25 15:23] jmprieur commented on #35842
@dsmeltz fixed. Thanks again, Dan. I'm gald you picked it up (and also that my code is understandable :) )
#sign-off

[2019-07-25 15:24] ivanignatiev commented on #35816
@ChiragMishra-MSFT  thank you but my question is more about: "How I can access to Blob Storage from Custom Activity code by using Managed Identity and RBAC?"

[2019-07-25 15:26] KranthiPakala-MSFT commented on #35703
@iLikeAzureSQL We are closing this issue as we have not heard back from you. You can always re-open the issue if you think that is appropriate.

[2019-07-25 15:26] #35703 closed

[2019-07-25 15:26] areddish commented on #35634
@RohitMungi-MSFT  Yes, this is due to recent migration. I'll need to investigate a solution.

[2019-07-25 15:37] ChristianMontoya commented on #29294
@osaid202 : Apologies, these statements are for the OS running the VM sessions. You should have no problem with a Domain Controller running Windows Server 2019 Datacenter. Did you create the token by running the **New-RdsRegistrationInfo** cmdlet?

[2019-07-25 15:39] Sudharma opened #35845 "Key Vault Integration (preview) cannot configure it on Portal or azure cli"
For configuring the Azure WAF V2 certificates with key vault integration, there is documentation on powershell. I am interested to use azure cli or Portal. Can you please share the documentation for the same. I think its vital even though its under public preview .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f20be9

[2019-07-25 15:39] RohitMungi-MSFT commented on #35637
@erammunawwar Yes, 5000 character limit is the maximum character limit for translate API as documented [here](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits#character-and-array-limits-per-request). It is recommended to send shorter requests by breaking down the content of the request. To translate docs the content needs to be extracted and passed to the API wit

[2019-07-25 15:40] dsmeltz commented on #35842
No worries!  All for the common good.

[2019-07-25 15:42] Remimstr opened #35846 "This feature is deprecated"
I did a significant amount of setup to try and use this feature just to find out it's been deprecated: https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/

Please update this page to reflect that so no one else wastes their time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ab3fdb-a3b6-ee8a-

[2019-07-25 15:45] SMHolck commented on #33155
@SumanthMarigowda-MSFT, can you also have content author clarify what is meant by that statement?  Gen 1 doc shows small and large file sizes to be a problem.  Is this no longer a problem with Gen 2? Can I use 1000s or 1000000s of small files?

[2019-07-25 15:53] MicahMcKittrick-MSFT commented on #35835
@Chai-NED thanks for pointing this out. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-07-25 15:53] #35835 closed

[2019-07-25 15:54] CHEEKATLAPRADEEP-MSFT commented on #35795
@kuzhao  Thanks for the question! We are investigating and will update you shortly.

[2019-07-25 16:11] MicahMcKittrick-MSFT commented on #35825
@msftnadavbh I have assigned the issue to the content author to further review and update the doc as needed.

[2019-07-25 16:13] cijothomas commented on #35837
The statement is correct. If sampling is done once, then other sampling processing ignores the item from further sampling. So items sampled at sdk itself will be ignored from sampling considerations at ingestion even if sampling is turned on at ingestion side.

[2019-07-25 16:28] yahorsi commented on #35837
I will double check it again tomorrow but I observe the opposite, both sampling works, adaptive & ingestion.

[2019-07-25 16:31] mrbullwinkle commented on #35846
@Remimstr  I am adding the following section to a Note at the top of the doc. Will this address your concerns:

Multi-step web tests depend on Visual Studio webtest files. It was [announced](https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/) that Visual Studio 2019 will be the last version with webtest functionality. It is important to understand that while no new feature

[2019-07-25 16:37] cijothomas commented on #35837
mm..that would be a bug if that happens.. let us know if you find that to be the case.

[2019-07-25 16:39] Grace-MacJones-MSFT commented on #35803
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 16:39] #35803 closed

[2019-07-25 16:39] JBines opened #35848 "Suggest a higher DeletionThreshold"
"Temporarily disable this protection" should be replaced with a safer recommendation we have seen this attempted and contributed to some major outages with all objects being removed.

Temporarily enable a higher ThresholdCount by setting Enable-ADSyncExportDeletionThreshold -DeletionThreshold <1500>

From our testing we found that Enable-ADSyncExportDeletionThreshold can be used to set a new Thres

[2019-07-25 16:40] brandonh-msft commented on #33443
I'm ramping up on another customer engagement right but now am happy to submit PRs for these changes when I'm done if it's still open.

[2019-07-25 16:40] brandonh-msft commented on #33965
I'm ramping up on another customer engagement right but now am happy to submit PRs for these changes when I'm done if it's still open.

[2019-07-25 16:43] nssidhu opened #35849 "Getting Authorization header missing error"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-25 16:44] nssidhu commented on #35849
I am using PostMan to execute Get Request and getting this error. It is nowhere mention in the document on what values to supply and how to authenticate
{
    "error": {
        "code": "AuthenticationFailed",
        "message": "Authentication failed. The 'Authorization' header is missing."
    }
}

[2019-07-25 16:44] Ballzer0 opened #35850 "could you please write HTTP documentation"
I would love if these kinds of scenarios where documented with http calls, instead of code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81a334a-eccc-b862-1a45-e58d151b8621
* Version Independent ID: cee85377-c930-2e20-715d-004e5431a92f
* Content: [Web app that calls web APIs (code configuration) - Microsoft identity

[2019-07-25 16:46] MartinJaffer-MSFT commented on #29986
@mrajib74  Your question does not seem relevant to this issue's article.  Please create a new issue.

[2019-07-25 16:49] robinsh commented on #31362
I started working on this. I was asked to add a notification at the top of each Python-using article. So I did that, and then realized that now I have duplicate and mismatched information in each article. (I haven't released the changes.) We are fairly consistent about having a section of info about prerequisites and what the customer needs to install in order to run the code. The problem I have i

[2019-07-25 16:55] Remimstr commented on #35846
@mrbullwinkle Thank you for adding that note, this definitely addresses my concerns. It also helps me understand that I can still use multi-step web tests if I so choose for the time being.

[2019-07-25 16:55] aquibqureshi26 commented on #32319
yeah you can reach me at aquib.qureshi@embee.co.in. I see that it took sometime to reflect the azure.vm.windows.guestmetrics namespace to reflect. Also i just wanted to confirm. is that the functionality you were talking about when i open this thread? achieved through diagnostics extension UI or your team is working on something interesting?

[2019-07-25 16:55] Karishma-Tiwari-MSFT commented on #34407
@macols Is this something you can help confirm? Thanks.

[2019-07-25 16:59] Karishma-Tiwari-MSFT commented on #35670
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@ChristianMontoya Are you aware of this issue? Thanks :)

[2019-07-25 17:00] Karishma-Tiwari-MSFT commented on #35696
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-25 17:01] mrbullwinkle commented on #35846
@Remimstr thank you for taking the time to reach out and help us to improve our docs! The changes are now merged internally they should go live in the next hour.

[2019-07-25 17:01] Karishma-Tiwari-MSFT commented on #35763
The PR with the update has been created and changes will be live as soon as the PR is merged.

[2019-07-25 17:04] saf-itpro commented on #34208
@FrankHu-MSFT I can see the change now. Thank you.

[2019-07-25 17:05] ChristianMontoya commented on #35670
Forwarding to my team to see if this is expected or known.

[2019-07-25 17:10] gtrevi commented on #29343
@eddynaka not my case: fully deployed the zip and can see the deployment as you do.

[2019-07-25 17:12] devan10 opened #35852 "Please clarify Windows Management Framework 5.1 Requirement"
On this page it indicates that Powershell 6 can be used in place of 5.1.   However on the download screen for Azure File Sync (https://www.microsoft.com/en-us/download/details.aspx?id=57159) it indicates that Windows Management Framework 5.1 is a requirement on Windows Server 2012 R2.   Please remove this or indicate that Powershell 6 can be used instead.

---
#### Document Details

⚠ *Do not edit

[2019-07-25 17:21] joshnoe commented on #35708
If the tutorial is only about copying a single table, then maybe the `watermark` table shouldn't have a `TableName` column? Or maybe a note should be added that this column won't be used in this example, but it could be used if you were copying multiple tables?

[2019-07-25 17:22] assafi commented on #35750
Yeah, that part is missing currently from our documentation but we will add it very shortly as well.
This parameter is useful to disambiguate some cases where the model needs additional context to make the right decision. If you know that most of your users are coming from one country it's usually good to add that hint. That said, not all languages need this since the scripts and vocabulary might

[2019-07-25 17:26] MarileeTurscak-MSFT commented on #35832
@blueelvis
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 17:28] pwl-kdk commented on #22882
I was going to submit _id -> _rid as a suggestion but found this thread.

[2019-07-25 17:30] roygara commented on #35428
@stdistef Thanks for reaching out, we appreciate you taking the time to do so!

In this case, these tables don't provide an accurate comparison. You really cannot compare managed disks v blobs or files by the specifications, they each cater to entirely different scenarios. Because of this, we're removing these tables altogether. I've already stood up a PR removing the tables and it will be live by

[2019-07-25 17:30] #35428 closed

[2019-07-25 17:31] diberry commented on #33141
@AngryVirginian On the first query of a multi-turn conversation, consider setting the context to {previousQnAId: -1 , previousUserQuestion:''} or set context to null. Context set to an empty object , as you know, will not return anything.

#please-close

[2019-07-25 17:31] #33141 closed

[2019-07-25 17:31] pwl-kdk opened #35855 "Missing _attachments system defined property of an item"
The rest API (https://docs.microsoft.com/en-us/rest/api/cosmos-db/query-documents#body-1) mentions _attachments property and I've seen it in a database.
Perhaps the property needs to be added to https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#properties-of-an-item

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-25 17:33] JasonFreeberg commented on #35629
@SnehaAgrawal-MSFT I submitted a PR for this on the doc-pr repo. You can close this

[2019-07-25 17:34] justinhauer opened #35856 "Deleting terminated container instances"
It's been a year since the closed comment has been mentioned. When using this product and a container completes, how can a customer of your product auto delete a container once it has been run? Currently if someone wants to use this product for example to run a one time job, you would end up with several completed containers in terminated status.

---
#### Document Details

⚠ *Do not edit this sec

[2019-07-25 17:34] MarileeTurscak-MSFT commented on #35850
@Ballzer0
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2019-07-25 17:37] YutongTie-MSFT commented on #34771
@marktab Thank you very much.

[2019-07-25 17:40] YutongTie-MSFT commented on #29913
@tulasim88 Hi, please help to update the document.

@sheighes @jlahteen  Thanks for your guys' follow-up, we will update the sample. Thank you..

[2019-07-25 17:41] JasonFreeberg commented on #35543
@shashishailaj I merged a PR to fix this. Please close.

[2019-07-25 17:45] deepakramesh1985 commented on #30272
I'm attempting to follow the deployment instructions mentioned in this page.
 But i am getting the below error. Please help me.

PS Azure:\> New-AzResourceGroupDeployment -Name parking360Deployment -ResourceGroupName ECE_parking360_nonprod-arm -TemplateFile C:\Users\rameshd\Downloads\template\template.json -TemplateParameterFile C:\Users\rameshd\Downloads\template\parameters.json
New-AzResourceGro

[2019-07-25 17:46] pierreca commented on #31362
@robinsh this section of the readme covers the suppoerted configurations:

[2019-07-25 17:50] YutongTie-MSFT commented on #35780
@jdsmith99
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-25 17:50] #35780 closed

[2019-07-25 17:53] YutongTie-MSFT commented on #35773
@PatrickFarley Hi Patrick, could you please take a look of this feedback and update the document if necessary? Thank you.

[2019-07-25 17:57] MicahMcKittrick-MSFT commented on #35856
@justinhauer the previous comment on this doc is the same question as you likely found

#13198

Their is a feedback request filed for this feature. I suggest you upvote the feature and follow it for more updates. The idea is currently under review from the ACI team

https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/34066633-support-auto-delete-of-aci-when-container-exi

[2019-07-25 17:57] #35856 closed

[2019-07-25 17:58] Sam-SFO opened #35857 "Transitive Peering"
There is no explicit mention  if the the Peering connection is Transitive or Not
Cant find any documentation how to setup a Peering

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Content: [Azure Virtual Network FAQ](ht

[2019-07-25 17:58] ChristianMontoya commented on #29895
@stuholden : Definitely acknowledge better error messaging. By chance, did you already grant consent to the Windows Virtual Desktop Azure AD apps listed here: https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory ?

[2019-07-25 18:05] vinapp commented on #34611
Thanks for the clarifications.

one final question :

Looks like (as per the documentation) in "<service-name>/YYYY/MM/DD/hhmm/<counter>.log"
mm is not supported. Any idea if it will be supported in near future ?. Thanks.

[2019-07-25 18:10] kobulloc-MSFT commented on #35837
@cijothomas  I'm looking into this as well and will follow up.

[2019-07-25 18:13] palma21 commented on #34407
No workaround today we are building this functionality as we speak.

[2019-07-25 18:13] MarileeTurscak-MSFT commented on #35840
@sergeyz7
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 18:14] #35842 closed

[2019-07-25 18:15] m-sterspace opened #35859 "Are There Any Character Restrictions For Valid Event Names?"
I'm wondering if you can use any characters in an Event Name including special characters and other alphabets? Also are there length limits or just that of a standard string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351

[2019-07-25 18:16] czb182 opened #35860 "unbounded functionTimeout - update documentation"
for azure function running in app service, -1 is an allowed value for functionTimeout, representing unbounded.  Documentation needs to be updated.

https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12549

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independ

[2019-07-25 18:16] sureshsmmail opened #35861 "Azure Databricks using Eventhub - Concurrent jobs is not working as expected"
Team,

Please help us to implement the partition/grouping when receiving eventhub messages in a Azure Databricks concurrent Job

EventHub Configuration:  No.of partitions is 3 and  Message Retention is 1
EventHub Producer: Sending messages to Eventhub using .NET (C#) is working fine.
EventHub Consumer: Able to receive messages through Scala Program without any issues.
Problem : When create a concu

[2019-07-25 18:20] ggailey777 commented on #34702
\+ @brettsam for awareness.

[2019-07-25 18:35] femsulu commented on #35831
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-25 18:35] AjayKumar-MSFT commented on #35641
@rofangaci, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-25 18:37] YutongTie-MSFT commented on #35685
@satiekue Fixed ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-25 18:37] #35685 closed

[2019-07-25 18:37] tchristiani commented on #30811
Postman issue resolved. We are unable to reproduce the cURL issue.
#please-close

[2019-07-25 18:37] #30811 closed

[2019-07-25 18:37] MicrosoftGuyJFlo commented on #33744
Thanks for the feedback! I added a line to the doc based on your comments.

[2019-07-25 18:37] MicrosoftGuyJFlo commented on #33744
#please-close

[2019-07-25 18:37] #33744 closed

[2019-07-25 18:40] SaurabhSharma-MSFT commented on #35788
@markarnolditpro Yes, you can use the existing cert but you need to grant front door access to the Azure Key Vault to use the Certificate.  Please check the documentation shared by @TravisCragg-MSFT.

[2019-07-25 18:42] MicrosoftGuyJFlo commented on #34463
Pending feedback from the product group.

[2019-07-25 18:48] chetansriv commented on #24672
@jeevansd Could you please take an action on this?

[2019-07-25 18:49] jeevansd commented on #12366
@kamazee and @pauska We have fixed this issue in the latest plugin in JIRA and Confluence. So can you please download the latest plugin and test again? Then I will close this ticket.

[2019-07-25 18:54] SaurabhSharma-MSFT commented on #35822
@alvipeo Can you please check if you have enabled CORS for your App.  You can also validate the CORS requests by using https://test-cors.org/.  Please refer to [Configure CORS in Azure App Service](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom-dynamic#step-3-configure-cors-in-azure-app-service).

[2019-07-25 18:54] kamazee commented on #12366
@jeevansd this is the best present for the issue anniversary! Will test and report back.

[2019-07-25 18:57] alvipeo commented on #35822
I'm just running it locally - just a plain angular app using angular dev server.

[2019-07-25 18:58] AjayKumar-MSFT commented on #35734
Thanks for sharing your feedback! You may checkout Visual Studio App Center for Push service. As mentioned in the ‘Note’ section in the same document (listed on top of the page) you’re referring to – “Visual Studio App Center is investing in new and integrated services central to mobile app development”, you could leverage this based on your scenario/requirement.

[2019-07-25 18:58] kamazee commented on #12366
@jeevansd just to clarify: by "latest" you mean version 1.0.5 that was build about 3 months ago, right?

[2019-07-25 18:59] alvipeo commented on #35822
so the request is made from https://localhost:4200 to b2clogin.com.

[2019-07-25 19:08] cgillum commented on #33965
I'd be happy to accept a PR for this if you have cycles. I've not yet had a chance to get to this but I agree it should be done.

[2019-07-25 19:12] bobbytreed commented on #35271
Update the doc, #please-close

[2019-07-25 19:12] #35271 closed

[2019-07-25 19:25] b-juche commented on #35824
Looping in SMEs Lichun (@lichunli-ms) and Will (@ntap512) for input.

[2019-07-25 19:27] yahorsi commented on #35837
Ok, I made the test. I have ASP.NET site (https://github.com/yahorsi/AiSample) deployed to the Azure App Service with Application Insights and Ingest Sampling set to 8.3%.
I wrote client app that runs 100 requests to the site (https://edwtest.azurewebsites.net) with 1 second delay between them. In the end I can only see 10 events in the AI that means Data Sampling works even if there is Adaptive S

[2019-07-25 19:29] ecfan commented on #35578
Hi @ToMakeSense, the product team replied that both functions are the same. The designer recognizes both, so actionOutputs() resolves to outputs(), even though the expression editor's syntax list doesn't include outputs(). In code view, the function remains actionOutputs().

I created a work item to explain this behavior in the functions reference doc and add a recommendation to use actionOutputs(

[2019-07-25 19:29] FrankHu-MSFT commented on #35848
@JBines Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-25 19:31] drestuart opened #35863 "Script fails on subsequent runs"
CosmosGetStarted.py throws an exception if the database already exists, and it's not clear how to connect to the db that's been created to add more items or play around with queries. Maybe a second script to build off of would be more user-friendly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e

[2019-07-25 19:33] qianw211 commented on #33724
@femsulu and @ tfitzmac, is this issue resolved? It's seems still assigned to me... Thanks!

[2019-07-25 19:34] TravisCragg-MSFT commented on #35788
@markarnolditpro You are correct. It is just a requirement to establish a SSL connection while also using the routing capabilities of Azure Front Door.

[2019-07-25 19:36] #34446 closed

[2019-07-25 19:39] FrankHu-MSFT commented on #35848
@JBines that's a great idea. I'll put this into the doc accordingly. Thanks for your feedback again,

[2019-07-25 19:39] TravisCragg-MSFT commented on #35845
@Sudharma Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-25 19:40] roygara commented on #17144
@SychevIgor we apologize for the delayed response and thank you for reaching out. Most of the screenshots have been updated, I will update the final one and it will be live by the EoD.

Accordingly, I'm closing out this PR.

Thanks for taking the time to report this to use, we appreciate it!

#please-close

[2019-07-25 19:40] #17144 closed

[2019-07-25 19:41] TravisCragg-MSFT commented on #35849
@nssidhu can you post a link to the doc you are referring to?

[2019-07-25 19:44] yahorsi commented on #35837
And then I have changed ingestion sampling to 100% and rerun axactly the same tool to trigger 100 requests. And now I see 105 events, not sure why it is not 110 but it is clear that ingestion sampling works even if Adaptive Sampling on (see https://github.com/yahorsi/AiSample/blob/master/AiSample/ApplicationInsights.config)

[2019-07-25 19:45] basilwong opened #35864 "Invalid Link"
In the table describing the properties of the HDInsight linked service the line describing isEspEnabled has an invalid link.

"Specify 'true' if the HDInsight cluster is Enterprise Security Package enabled. Default is 'false'."

Clicking "Enterprise Security Package enabled." goes to: 404 - Page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-07-25 19:45] wpitallo commented on #35068
Hi @AjayKumar-MSFT, is this possible, or is it possible to send a message to a specific endpoint and have that broadcast to a connectionId, using a signalR hub?

[2019-07-25 19:48] MartinJaffer-MSFT commented on #35453
ARM templated pushed to ADF_publish branch only get pushed when you published the changes. It is meant for CICD, to take changes forward to different environment using Release Management like solutions. Can only be done in GIT mode on collaboration branch.
Whereas 'Export ARM template' button is meant to get the template on any branch in git mode or even in Factory mode, even for unsaved/unpublish

[2019-07-25 19:48] TravisCragg-MSFT commented on #35857
@Sam-SFO If you are peering 2 Virtual Networks in the same subscription and same deployment model, you can [find a how-to article Here](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-connect-virtual-networks-powershell). The Table of Contents on the left has other how-to articles with different scenarios for peering.

I am unsure what exactly you mean by transitive with peering, b

[2019-07-25 19:49] MartinJaffer-MSFT commented on #35453
@hung-doan  Does this help?

[2019-07-25 19:51] Manimi-Chart commented on #35766
I did more testing and found that with the current settings I could go directly to Expensify and authenticate through Azure AD by entering my company email into their username field.  What was failing was trying to launch the app from https://myapps.microsoft.com or trying to validate from the Single Sign-On setup screen in the enterprise app.

With this clue I found the cause of the error.  In yo

[2019-07-25 19:52] Karishma-Tiwari-MSFT commented on #34407
@artisticcheese Hope that helped answer your question. I will share the update when we have this functionality ready.
 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-25 19:52] #34407 closed

[2019-07-25 19:54] Alberto-Vega-MSFT commented on #35535
Would you please open an issue in the Azure Kinect repository? https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues this way the engineering team can address this and also track the issue.

[2019-07-25 19:54] Manimi-Chart commented on #35766
This is what a correct configuration looks like:
![2019-07-25 13_52_01-Expensify - Single sign-on - Azure Active Directory admin center](https://user-images.githubusercontent.com/32491745/61904285-c0fb1380-aee3-11e9-9f0a-4ccda7dba636.png)

[2019-07-25 19:59] cassieview commented on #33789
I am having this same issue in Notebook VMs trying to `run = experiment.submit(estimator)`

/data/anaconda/envs/py35/lib/python3.5/site-packages/azureml/_execution/_commands.py in _make_zipfile_exclude(project_object, zip_filename, exclude_function)
    565                 relative_path = os.path.normpath(os.path.join(relative_dirpath, name))
    566                 if not exclude_function(full_pa

[2019-07-25 19:59] JetstreamRoySprowl opened #35865 "How to remove an image?"
How does one remove an image? `dkrdbe image rm xxx` is the expected method, but it prompts a syntax error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71a4cd1-4da4-fe82-7f9c-ce133de5f600
* Version Independent ID: ef2fb833-1413-92e1-ecdb-c4731fdc78ea
* Content: [Connect to and manage Microsoft Azure Data Box Edge de

[2019-07-25 20:00] bobbytreed commented on #32511
Updated #please-close

[2019-07-25 20:00] #32511 closed

[2019-07-25 20:02] JetstreamRoySprowl opened #35866 "Image subcommands need documentation"
None of the `dkrdbe image` subcommands are displayed by the dkrdbe help, nor are they documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71a4cd1-4da4-fe82-7f9c-ce133de5f600
* Version Independent ID: ef2fb833-1413-92e1-ecdb-c4731fdc78ea
* Content: [Connect to and manage Microsoft Azure Data Box Edge device

[2019-07-25 20:03] MicrosoftGuyJFlo commented on #35496
Added note to doc

[2019-07-25 20:05] Sam-SFO commented on #35857
Travis
Thanks.

By transitive I meant A to B and B to C, does it mean A to C. After intensive search found out it is not Transitive. I was getting mixed up with Transit Gateway.

Thx

Sent from my iPhone

[2019-07-25 20:08] cassieview commented on #33789
Is this something that is still being worked on or is there a workaround?  @RohitMungi-MSFT

[2019-07-25 20:10] qianw211 commented on #35604
@dstarr, please see the response below for your question:

“There are planned updates to improve our support for container based applications in marketplace, and we’ll clarify the roadmap as soon as possible.”

#please-close  this issue is resolved with no immediate to the docs.  Thanks!

[2019-07-25 20:10] #35604 closed

[2019-07-25 20:11] #35496 closed

[2019-07-25 20:12] sdgilley commented on #33789
@cassieview - what version of the SDK is your notebook VM running?   I just tried it on a notebook VM running Azure ML SDK Version:  1.0.48 and do not see a problem; the tutorial notebook runs with no errors.

[2019-07-25 20:19] roygara commented on #34448
#reassign: @jeffpatt24 , since he owns the troubleshooting guides.

[2019-07-25 20:23] cassieview commented on #33789
I am running Azure ML SDK Version:  1.0.53

[2019-07-25 20:31] Minewiskan commented on #35353
@KeiroKamioka0000 - It depends on the operation and the type of resource Azure AS is connecting to. For data refresh, Mashup or the data provider for that datasource is used. System operations use client libraries.

[2019-07-25 20:39] yahorsi commented on #35837
cc @pharring

[2019-07-25 20:43] kobulloc-MSFT commented on #35859
@mastjaso Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-25 20:47] jeevansd commented on #35766
@Manimi-Chart Azure AD does send the SAML token in the POST biding only. So whoever told you that Azure AD does not support POST response is not true.

Thanks for providing the confirmation here that everything is working as expected. We will get this documentation corrected as per your screenshot.

@chetansriv Can we get the doc updated with the correct URLs as per the screenshot here?

[2019-07-25 20:49] cassieview commented on #33789
@sdgilley I changed my version to Azure ML SDK Version:  1.0.48 and tried again - it still failed.

[2019-07-25 20:56] MicrosoftGuyJFlo commented on #34463
Added list of messages and default script to doc.

[2019-07-25 21:01] TravisCragg-MSFT commented on #35857
@Sam-SFO We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-25 21:01] #35857 closed

[2019-07-25 21:03] dpolivy opened #35868 "Content-Type for uploaded images is incorrect"
While the sample solution seems to work, there are some issues with the way the blobs are stored. They have a Content-Type of `application/octet-stream`. The browser seems to ignore this when it is in an `img src` attribute and displays it anyway, but for real-world cases it should instead be set to the actual MIME type of the image, e.g. `image/jpeg`.

I believe there is some code missing to take

[2019-07-25 21:04] TravisCragg-MSFT commented on #35861
@sureshsmmail can you post a link to the doc you are following?

[2019-07-25 21:04] #34995 closed

[2019-07-25 21:08] robinsh commented on #31362
#pierreca I knew it was being rewritten, but apparently there's a bunch of GitHub issues (and posts on stack overflow) about the problem, so even giving them *some* advice in the interim is better than leaving our customers high and dry. I'll work on this, and go through one article at a time and make sure the prerequisites match the info provided, and link them to that SDK article for more inform

[2019-07-25 21:11] qianw211 commented on #34729
#please-close Content has been updated.  See Pull Request:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/83338

[2019-07-25 21:11] #34729 closed

[2019-07-25 21:14] RPhay commented on #35445
You should be able to do one of two things:
1.  Remove the AzureRM modules from your hybrid worker (in which case you'll need to verify no runbooks are referencing them).
2.  Use Enable-AzureRmAlias:  https://docs.microsoft.com/en-us/powershell/module/az.accounts/enable-azurermalias?view=azps-2.4.0

[2019-07-25 21:15] #34463 closed

[2019-07-25 21:17] MicrosoftGuyJFlo commented on #35677
Approved the PR with this change in it.

[2019-07-25 21:17] MicrosoftGuyJFlo commented on #35677
#please-close

[2019-07-25 21:17] #35677 closed

[2019-07-25 21:18] Mitaric opened #35869 "Error when running 'az webapp config backup update'"
After executing this step of the sample script:

# Schedule a backup every day and retain for 10 days
az webapp config backup update --resource-group $groupname --webapp-name $webappname \
--container-url $sasurl --frequency 1d --retain-one true --retention 10

The following error is generated:

"No backup configuration found. A configuration must be created. Usage: --container-url URL --frequency

[2019-07-25 21:20] eddynaka commented on #29343
@gtrevi, can u share how is your linux folder and where did you deployed the files?

[2019-07-25 21:21] KranthiPakala-MSFT commented on #35864
@basilwong Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-07-25 21:23] cassieview commented on #33789
I created a new workspace and it works fine in the new workspace. When you create a new workspace vm it autocreates a user folder with your username. In the workspace with the issue - the user folder said it was created 50 years ago. In the new workspace the autocreated user folder had the correct create date. I think the issue was either the VM in the old workspace or some configuration bug that

[2019-07-25 21:23] MicrosoftGuyJFlo commented on #32526
Baseline policies are in preview. As they progress through the preview process we will update the documentation. Your points are valid as legacy auth can be controlled in multiple locations. Baseline policies are intended for organizations with limited IT staff or knowledge.

[2019-07-25 21:23] MicrosoftGuyJFlo commented on #32526
#please-close

[2019-07-25 21:23] #32526 closed

[2019-07-25 21:23] scothis opened #35870 "Invalid builder image"
`cloudfoundry/cnb:bionic:18` is not a valid docker image. The example uses the correct value of `cloudfoundry/cnb:bionic`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff7047-440a-0262-6ea5-e06f0092f576
* Version Independent ID: 4df6a6d2-ed03-5207-8a66-50db513c6363
* Content: [Build an Azure Container Registry imag

[2019-07-25 21:31] femsulu commented on #35402
@qianw211 any idea who can assist with the above comment?

[2019-07-25 21:33] roygara commented on #27515
@NitroAMD We apologize for the delayed response and thank you for reaching out, we've added _netdev to the command as you suggested (we appreciate your suggestion!)

It'll be live by the EoD.

Thanks for taking the time to help improve our docs!

#please-close

[2019-07-25 21:33] #27515 closed

[2019-07-25 21:38] qianw211 commented on #35402
@femsulu, we're currently investigating.  Thanks!

[2019-07-25 21:38] kgremban commented on #35437
Thanks, everyone. I'll add a statement to the downstream device authentication article to specify how device modules can authenticate through a gateway.

[2019-07-25 21:39] kobulloc-MSFT commented on #35846
@Remimstr Thank you again for bringing this to our attention!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-25 21:39] #35846 closed

[2019-07-25 21:43] MicrosoftGuyJFlo commented on #30836
Assign @annabarh

[2019-07-25 21:45] MicrosoftGuyJFlo commented on #30755
Please open product feedback items for this if still an issue. Product feedback is to the left of the option for docs feedback in the document. That will get this to the proper teams who can prioritize this work.

[2019-07-25 21:45] MicrosoftGuyJFlo commented on #30755
#please-close

[2019-07-25 21:45] #30755 closed

[2019-07-25 21:49] MicahMcKittrick-MSFT commented on #35870
@scothis thanks for the find! I have corrected the doc. Once the PR merges the change will go live after a few hours.

[2019-07-25 21:49] #35870 closed

[2019-07-25 21:50] MashaMSFT commented on #30695
#please-close

[2019-07-25 21:50] #30695 closed

[2019-07-25 21:53] MashaMSFT commented on #33328
Hi @alvipeo,

Thanks again for bringing this to our attention! We've released a [new doc](https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-add-single-db-to-failover-group-powershell?toc=%2fpowershell%2fmodule%2ftoc.json) that contains the cmdlets you're looking for.

Hope that helps and please let us know if we can be of further assistance.

Thanks!
Masha from the SQL Docs

[2019-07-25 21:54] MicrosoftGuyJFlo commented on #30152
You can set device platform but realistically legacy authentication should be turned off period.

[2019-07-25 21:54] MicrosoftGuyJFlo commented on #30152
#please-close

[2019-07-25 21:54] #30152 closed

[2019-07-25 21:55] tamram commented on #29197
To address this part of the original question:

_Should we always use the resource id as "https://storage.azure.com/"? Will it be changed ever since the id would be different for each storage account_

You can use the storage account root URI as the resource ID. We've recently updated the documentation to add this information. For example, see [Well-known values for authentication with Azure AD](h

[2019-07-25 21:56] darzu opened #35871 "Provide complete schema for YAML file format"
It's not obvious what properties are supported in the YAML file beyond what the example shows. For example, environment variables are supported but I only know that because I stumbled upon another tutorial that mentioned that. I haven't found any link to a complete reference for this YAML format.

Concretely, I need to specify a DNS name label like I would with the "--dns-name-label" parameter to

[2019-07-25 21:56] Alberto-Vega-MSFT commented on #35839
@yphuangms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-25 21:56] MicrosoftGuyJFlo commented on #29166
#please-close

[2019-07-25 21:56] #29166 closed

[2019-07-25 21:57] MicrosoftGuyJFlo commented on #28332
#please-close

[2019-07-25 21:57] #28332 closed

[2019-07-25 22:03] pierreca commented on #31362
@robinsh agreed. 2.7 or 3.6 for windows. just tag me, i'll review the PRs.

[2019-07-25 22:08] #32006 closed

[2019-07-25 22:08] Alberto-Vega-MSFT commented on #35821
@Trinakriae Thanks for reaching out. So it seems like you want to deploy that same solution to Azure more than once?

[2019-07-25 22:11] Alberto-Vega-MSFT commented on #35139
Hi @xiongyu0523 Your suggested changes made it to the document.

[2019-07-25 22:13] marrichamsft opened #35873 "quickstart-create-pnp-device: server unavailable but not sure what to check"
I am not sure where to look in local logs/azure portal to figure out why the device is not connecting

c:\tmp\azure-iot-sdk-c-pnp\cmake\pnp_app\sample_device\Release>sample_device.exe "HostName=contoso-test-hub-mgr.azure-devices.net;DeviceId=MyNodeDevice;SharedAccessKey=yVX7XsYESHhZU61N47362fnCR11SxtQ3TE9zlcArtLk="
Info: Successfully created DigitalTwin device with connectionString=<****>, deviceH

[2019-07-25 22:16] Alberto-Vega-MSFT commented on #35692
Hi @ppavanm was the link I shared useful? More specifically you could try using the CLI to automate https://docs.microsoft.com/en-us/azure/iot-dps/quick-setup-auto-provision-cli or an ARM template https://docs.microsoft.com/en-us/azure/iot-dps/quick-setup-auto-provision-rm

[2019-07-25 22:22] Trinakriae commented on #35821
I successfully deployed the whole solution in my Azure subscription. I downloaded the webUI in my machine and I was able to run it locally and use the services remotely. I modified in my machine the look and feel of the WebUI and added some functionality. Now I would like to deploy in my Azure subscription my new WebUI in order to replace the existing one

[2019-07-25 22:24] mkevinha opened #35874 "Clarify group mapping from Azure AD to OCI"
Update the documentation to specify that when configuring group mapping in OCI that the GROUP ID field needs to be the GUID of the Azure AD group.

From above,

f. For IDENTITY PROVIDER GROUP fields, enter the group name and group ID that are set up in Azure portal. The group needs to be mapped with corresponding group in OCI GROUP field.

should state IDENTITY PROVIDER GROUP should be selected as

[2019-07-25 22:30] YutongTie-MSFT commented on #35553
@PanosPeriorellis Hi Panos, I can not fix the whole part so I reassign this issue to you. Could you please take a look and update the document and API references?

@rajatb94 Hi Rajat, I assigned this issue to doc author for completely update. Thank you for your feedback again.

[2019-07-25 22:30] hcstern opened #35875 "Key vault information page is missing signature types."
The section here https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#rsa-algorithms
is missing a description of the RSA-PSS signature methods specified here https://docs.microsoft.com/en-us/rest/api/keyvault/sign/sign#jsonwebkeysignaturealgorithm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-07-25 22:32] Sam-SFO opened #35876 "Storage Account for Recovery Vault"
My understanding is Storage Account is necessary in the Resource Group to setup a Recovery Vault. This step is not mentioned here. What is correct?

If Storage Account  is not needed then where does the Recovery Vault reside?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8621ec19-98d2-d173-09f6-f8e26f769dd4
*

[2019-07-25 22:33] MarileeTurscak-MSFT commented on #35832
There is no exact character limit. It is just based on the size, which is 25k bytes each.

"Key Vault APIs accept and return secret values as strings. Internally, Key Vault stores and manages secrets as sequences of octets (8-bit bytes), with a maximum size of 25k bytes each. **The Key Vault service doesn't provide semantics for secrets.** It merely accepts the data, encrypts it, stores it, and re

[2019-07-25 22:33] MarileeTurscak-MSFT commented on #35832
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue and we will gladly continue the discussion.

[2019-07-25 22:33] #35832 closed

[2019-07-25 22:43] davidokeyode opened #35877 "Typo in the "Upload input files" section"
I think the first "UploadResourceFilesToContainerAsync" is meant to be "UploadFilesToContainerAsync"

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independent ID: 8c6bcc7c-4428-be5b-2221-0c0302cdd281
* Content: [Run a parallel workload - Azure Batch .NET](https:/

[2019-07-25 22:44] glav opened #35878 "Incorrect explanation of isSynthetic"
Currently, the isSynthetic explanation states this:
"Indicates whether the request was created by a user or by automated method. True = user generated or false = automated method"

when it is in fact the opposite meaning. ie. isSynthetic = true means automated method, false = user generated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-25 22:50] nickbeagley2 opened #35879 "Does not match portal"
As best I can tell, these pages don't match what I see in the portal.
In Metrics under a specific azure analysis server and Metrics in Azure Monitor, I see the same things which are not what is described in this document.
I have to select the Subscription, Resource Group and single named Analysis Server.
There's no 'Available Metrics' where I get a list of toggle-able metrics and can select severa

[2019-07-25 22:50] allenwux opened #35880 "copy paste mistake"
The maximum size of a record should be 50,000 characters as measured by String.Length. If you need to break up your data before sending it to the sentiment analyzer, you may use the Text Split skill.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc617fb-5d08-4942-10fe-cd6fd0f397b0
* Version Independent ID: 2dfc170d-d

[2019-07-25 22:51] correnta1 opened #35881 "Passfilt and existing processess"
MSFT Employee (Tonycor)  - Customer had Azure Password Protection completely rolled out and he provided feedback.  The one item lacking in the deployment guide was around the potential impact on existing processes.

Example Scenario:  When promoting a new DC into the forest, using a scripted process, there was an ambiguous error.  The process broke when entering the DC DSRM password.  The original

[2019-07-25 22:52] kgremban commented on #35437
@lelopez-io The new note is now available to view in https://docs.microsoft.com/azure/iot-edge/how-to-connect-downstream-device#prepare-a-downstream-device. Please take a look and let me know if you think this addition resolves your original question so that future readers won't have to ask.

Thanks again for opening this issue.

[2019-07-25 22:53] MicahMcKittrick-MSFT commented on #35871
@darzu this is because a yaml file is not isolated to only AKS. So there are resources out there that you can reference to better understand how to structure the yaml file.

I will assign to the author to review and see if we can provide some of those resources in the doc.

In the meantime, I suggest doing an internet search for the yaml format for additional information.

www.yaml.org is a site I

[2019-07-25 22:53] garyericson commented on #35781
I've changed the title, description, and H1. I want to leave the TOC alone since the focus in this section is using different languages and it would make the TOC title too long.

[2019-07-25 22:54] garyericson commented on #35781
The PR for this is 83373 (-pr repo).

[2019-07-25 22:55] MicahMcKittrick-MSFT commented on #35877
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-25 23:08] ecfan commented on #35578
Hi @ToMakeSense,

Hrm, the product team just contacted me to retract and that outputs() is the correct version to use. They'll update the IntelliSense list, and I'll update the doc. Thanks!

[2019-07-25 23:09] garyericson commented on #35719
I am no longer the author of this article. I've corrected the authorship (-pr repo #83379). Please reassign this issue to @xiaoharper. Thanks.

[2019-07-25 23:10] tamram commented on #35726
#reassign: @tamram

[2019-07-25 23:11] RyanHill-MSFT commented on #35830
@swasifali what was your deployment model? VpnGw1 is only supported against Resource Manager deployment models. Furthermore, if you start out with Basic, you can't resize to the new SKUs. Instead, you'll have recreate your gateway with the higher SKU. Let me know if your situation falls into one of these two scenarios.

(See: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn

[2019-07-25 23:18] MarileeTurscak-MSFT commented on #35660
Hi @Dottn ,

I would suggest leaving this as feedback in [User Voice](https://feedback.azure.com/forums/169401-azure-active-directory).

This does seem to be due to the limitations of the product and special characters. I have created a backlog item for the product team to address this.

From[ the guide](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#pas

[2019-07-25 23:20] KranthiPakala-MSFT commented on #35646
@joesamraj Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

@gauravmalhot Could you please have a look into the feedback from @joesamraj?

[2019-07-25 23:21] darzu commented on #35871
@MicahMcKittrick-MSFT  I'm not asking about the YAML language format, I'm asking specifically about the schema that is accepted the "az container create --file" command. It seems to me there should be some link in this tutorial to a reference page that enumerates all the supported properties.

[2019-07-25 23:32] sureshsmmail commented on #35861
We could not find proper reference document to achieve multiple Event hub receiver to process unique message parallel .  Current configuration for Databricks job - Maximum Concurrent Runs :  3 . Please provide proper reference to achieve multiple Event hub receiver to process unique message concurrently .

[2019-07-25 23:35] sureshsmmail commented on #35861
Problem :  Currently when sending eventhub messages we are getting same data in all concurrent jobs but could not split the messages based on partitions and eventhub consumer groups.
Expected:  Concurrent Jobs should process unique message parallel.
===================
Current Setup:
----------------------:
EventHub Configuration:  Number of partitions: 3 and Message Retention: 1
EventHub Producer

[2019-07-25 23:37] tamram commented on #35726
@algattik - Thanks for your feedback. I have removed the preview designation. The change should go live in the next day or so.

#please-close

[2019-07-25 23:37] #35726 closed

[2019-07-25 23:44] xinyanmsft commented on #35159
I think your nuget.develop.config file is in a child directory, use "**/nuget.develop.config" or "<folder name>/nuget.develop.config"

[2019-07-25 23:46] robertjf commented on #35159
@xinyanmsft should this be in the azds.yaml or .gitignore?

[2019-07-25 23:47] tamram commented on #35694
@northtyphoon - Thanks for your feedback! @Potapy4 has kindly made the fix, and I have signed off on the PR. The changes should go live in the next day or so.

[2019-07-25 23:47] tamram commented on #35694
#please-close

[2019-07-25 23:47] #35694 closed

[2019-07-25 23:49] MarileeTurscak-MSFT commented on #35754
Thanks @pjirsa and @archieag !

I will proceed to close this thread. We can update it if there are any updates on the backlog item.

[2019-07-26 00:00] TravisCragg-MSFT commented on #35841
@rgherta Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-26 00:01] himanshusinha-msft commented on #35449
When you are trying to copy data to the ## table , you can do the following .
1 . Create the table ( named tabletype below)
![image](https://user-images.githubusercontent.com/47539458/61916191-65894f80-aefc-11e9-83d9-cfe4ac9f8f59.png)
2. Create a proc on the sink side . We are passing the TableType as a parameter , The SQL code you can change as per your logic .

CREATE PROCEDURE [dbo].TestProc

@

[2019-07-26 00:06] robertjf commented on #35159
@xinyanmsft  this is my current configuration:

.gitignore (at the solution level) contains this line:
[code]
the `nuget.develop.config` file is sitting in the same directory as the `azds.yaml` file (in the API Project directory).

No matter what I do, if the .gitignore file contains the nuget.develop.config entry, docker is unable to copy the file in and use it to build.  If I comment out that li

[2019-07-26 00:07] mike-urnun-msft commented on #35843
Hi @simonness - Thank you for your feedback! We will review and update as appropriate.

[2019-07-26 00:20] Shaked commented on #32421
Were you able to set it up? @cherylmc @lawrencegripper @msrini-MSFT

I seem to have the same issue:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Any idea?

[2019-07-26 00:24] Arifj8 commented on #35268
@Karishma-Tiwari-MSFT : Thanks for the information. That was really helpful.

I have few questions raised out of the doc

What benefit do I get if I am deploying a single virtual machine in an Availability Zone (Zone 1) and assigning it a zone-redundant public IP?
    In this case, am I better off using a zonal public IP instead of a zone-redundant public IP as my VM will be unreachable if the Ava

[2019-07-26 00:25] miaojiang commented on #35843
@simonness  - did you enable "allow implicit flow" in your app registration?

[2019-07-26 00:32] patrickgalbraith commented on #35449
@himanshusinha-msft What you have done is "Option 2" from https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server#upsert-data.

I am wanting to do "Option 1". Which should look like this:

![image](https://user-images.githubusercontent.com/811945/61917428-518d2e80-af8c-11e9-99e7-66f5f9f129b7.png)

[2019-07-26 00:36] peledins opened #35883 "regeneration description does not match sample causing confusion"
" If you want Key Vault to regenerate your storage account keys periodically, you can set a regeneration period. In the following example, we set a regeneration period of three days. After three days, Key Vault will regenerate 'key1' and swap the active key from 'key2' to 'key1'. "
yet the sample output:
Active Key Name     : key1

the text should be:
"If you want Key Vault to regenerate your stor

[2019-07-26 00:39] fhryo-msft commented on #34611
We don't have plan to support mm.

[2019-07-26 00:43] peledins opened #35884 "sample key acquisition code/usage should be shared as well"
1) there should be guidence that if regeneration period is x days then service using the key should acquire it at least every x days, (but we suggest (x+1)/7 -- or something like that days).

2) there should be sample code on how to pick up the key from vault and use it: I don't think it is easy to get this right from scratch so making all devs write it on their own is not clean.
ideally it should

[2019-07-26 00:44] dcbrown16 opened #35885 "ToC"
Can someone stick this document back in the ToC?
It is linked from this page, if that helps.
https://docs.microsoft.com/en-us/azure/automation/start-runbooks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b376d141-c26e-32d6-87c8-da2afe75913b
* Version Independent ID: 10b121c4-9673-5df1-10de-537aa3a2c474
* Content: [Sch

[2019-07-26 00:46] peledins opened #35886 "in suggested usage of AAD to get to storage accounts need to call out that accessing tables is unsupported"
connection strings allow you to connect to all storage account funcitonality, but AAD access to storage account does not work for table access.

Also:
it is unclear whether the AAD access is in preview or GA.
The link from the note 1 above just says: Azure Storage supports using Azure Active Directory (AD) to authorize requests to Blob and Queue storage. ) So it would  seem that it is in GA.

---

[2019-07-26 00:47] peledins commented on #26589
I opened feedback to have the same and a bit more: would be also good to share code that does the auto-re-acquisition to make sure that key does not get bad that is being used for a client.

[2019-07-26 00:54] DPatters7 commented on #30991
This is built-in now.  Set up your SIG in one subscription, add your images and replicate them to the regions required.  After the images are replicated, use the IAM settings of the Gallery to grant the RBAC 'Reader' role to the people/groups/principals who should access and use the images in the gallery.  If you prefer to limit specific images you can set the RBAC role at the Image Definition or

[2019-07-26 00:54] MGoedtel commented on #35878
This article should go to @mrbullwinkle, who manages our App Insights-related content.

[2019-07-26 00:54] KranthiPakala-MSFT commented on #35864
@basilwong Appreciate you feedback! The PR for the fix has been submitted and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-07-26 00:54] #35864 closed

[2019-07-26 01:12] aakash-shah opened #35889 "Is vTPM Support Now Available?"
I realize this page indicates that vTPM (and SecureBoot) is not supported yet, but I am reading on some blogs that vTPM (and SecureBoot) is now available.  Can you please clarify this?  Here is where I read this:
https://francescomolfese.it/en/2019/06/azure-iaas-and-azure-stack-announcements-and-updates-2019-weeks-21-22/

https://blog.hametbenoit.info/2019/05/21/azure-uefi-based-boot-virtual-machi

[2019-07-26 01:30] mike-urnun-msft commented on #35860
Hi @czb182 - Thank you for your feedback! The author has created a PR that addresses this issue and the change should reflect within the next 24hrs, shortly after the merge.

[2019-07-26 01:31] FrankHu-MSFT commented on #35409
I'm currently looking into this issue, thanks for letting us know about your issue @grandparoach. Connecting offline to determine next steps.

[2019-07-26 01:33] patrickgalbraith commented on #35449
@himanshusinha-msft Copying the data to the temp table works. But accessing it from the subsequent stored procedure doesn't work.

![image](https://user-images.githubusercontent.com/811945/61919484-f57ad800-af94-11e9-9c43-d1a36e1173eb.png)

[2019-07-26 01:41] KrishnaG-MSFT commented on #35885
@dcbrown16 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-07-26 01:48] KrishnaG-MSFT commented on #35878
@glav Thanks for the comment.
Assigning @mrbullwinkle for visibility and document enhancement consideration.

[2019-07-26 01:48] mike-urnun-msft commented on #35753
@pvvdurgaprasad We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-26 01:48] #35753 closed

[2019-07-26 01:48] forester123 commented on #34430
@jlian @AshokPeddakotla-MSFT thanks! I've tested and it works. I think it's better to bring these clear steps for this in the article, the current description is not clear enough, users may have no clue how to do this.

[2019-07-26 01:50] pzerger opened #35890 "three issues with code samples for Azure Files"
New-AzRecoveryServicesBackupProtectionPolicy fails if I use your Get-Date strategy, as the cmdlet now demands date/time with even 30 min interval. so $DT=(get-date).day will work, for example.
Second, the .RemoveAll method used to clear schedule fails now. I had to use the .Clear method.
Finally, New-AzRecoveryServicesBackupProtectionPolicy now requires -VaultID parameter not shown in the example

[2019-07-26 01:59] mike-urnun-msft commented on #32504
Hi @spelluru - Any thoughts on this one? Can we enrich this documentation with samples sought above, or point to a repo with samples?

[2019-07-26 02:38] jmprieur commented on #35850
@Ballzer0, I'm not sure what you mean by HTTP documentation. Do you mean protocol? If that's the case, would this page (and the OAuth2 flow column in particular) answer your question?
https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios#scenarios-and-supported-authentication-flows

[2019-07-26 03:00] #35578 closed

[2019-07-26 03:00] ToMakeSense commented on #35578
@ecfan  Thanks for your quick outputs!

[2019-07-26 03:14] SnehaAgrawal-MSFT commented on #35869
@Mitaric Thanks for the feedback! We are currently investigating and will update you shortly

[2019-07-26 03:27] femsulu commented on #35890
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-26 03:28] femsulu commented on #35876
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-26 03:38] njsee commented on #28112
+1 We need a Microsoft article to reference this answer for customers. No clarity on what happens when they have Zero credits. Its the 1 question that they always ask!

[2019-07-26 04:05] SnehaAgrawal-MSFT commented on #35543
@kumarallamraju Thanks for bringing this to our attention. We will now close this issue.

[2019-07-26 04:05] #35543 closed

[2019-07-26 04:21] SnehaAgrawal-MSFT commented on #35627
@kumarallamraju Thanks for bringing this to our attention. We will now close this issue.

[2019-07-26 04:21] #35627 closed

[2019-07-26 04:21] CHEEKATLAPRADEEP-MSFT commented on #35873
@marrichamsft  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2019-07-26 04:27] SwathiDhanwada-MSFT commented on #35809
@prabhakarreddy1234 There are no direct commands in Powershell\CLI for deploying the solutions.I have workaround that worked for me. Hope its works for you too. Here are the steps to follow.

When you deploy the solution in a resource group , the deployment template is generated can be seen at Deployments Tab of resource group as shown in below image.

![image](https://user-images.githubuserconten

[2019-07-26 04:27] ChiragMishra-MSFT commented on #35879
@nickbeagley2 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-26 04:38] CHEEKATLAPRADEEP-MSFT commented on #35852
@devan10  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 04:40] CHEEKATLAPRADEEP-MSFT commented on #35865
@JetstreamRoySprowl  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 04:44] CHEEKATLAPRADEEP-MSFT commented on #35849
@nssidhu  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community mem

[2019-07-26 04:47] AshokPeddakotla-MSFT commented on #34430
@forester123 Thanks for the confirmation!
@robinsh please add this information to the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 04:47] #34430 closed

[2019-07-26 04:48] KrishnaG-MSFT commented on #35833
@redappleorigin Thanks for bringing this up! I also could see the issue.

![image](https://user-images.githubusercontent.com/45988031/61926450-37ece680-af8e-11e9-807e-9c019fee3b09.png)

Assigning @bwren for visibility, to provide his insights if any and for document enhancement considerations.

[2019-07-26 05:12] jwisener commented on #32504
@mike-urnun-msft  @spelluru,  thanks for finally responding. I do apologize, but after more than a month of no response/ no help with this. I just gave up on it and went with another technology/approach.

I really feel github is not the best place to report issues to Microsoft, they seem to get ignored quite often. I see open issues dating back to over 1.5 years old that are still open with no res

[2019-07-26 05:22] j-re opened #35894 "Scaling AKS Nodes"
If you followed section:
https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-scale#manually-scale-aks-nodes
Wouldn't this command also scale your Redis cache container such that you would have 2 or more? If this occurred you would then have inconsistent voting values because the Redis cache is not actually shared across the nodes?

How should a container like Redis be scaled in this sce

[2019-07-26 05:31] AjayKumar-MSFT commented on #35557
@samjross, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-26 05:31] #35557 closed

[2019-07-26 05:34] TranBaVinhSon opened #35895 "Can't find Grant Admin Consent"
I'm making a function that gets new access token by refresh token,
[code]
but when I run my code, I got this error:
[code]

So I was following [this tutorial](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-user-consent#grant-admin-consent-when-registering-an-app-in-the-azure-portal) to grant admin consent by I couldn't find `Grant Admin Consent` button in my applicat

[2019-07-26 05:40] SumanthMarigowda-MSFT commented on #35736
@shankarsundaram We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 05:40] #35736 closed

[2019-07-26 05:43] simonness commented on #35843
Hi @miaojiang thanks for taking a look.  Yes, our client app registration (within the AD B2C blade) looks like:

![image](https://user-images.githubusercontent.com/10990813/61928522-fe5db080-af78-11e9-9cb9-997e91dbe815.png)

[2019-07-26 05:50] SumanthMarigowda-MSFT commented on #35868
@dpolivy Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-26 05:51] SumanthMarigowda-MSFT commented on #35866
@JetstreamRoySprowl Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-26 06:06] AlexanderTodorovic opened #35896 "Status Code 3000"
Dear All,
where can I find an explanation what does Status Code 3000 mean?
e.g. 'Status': {'Code': 3000, 'Description': 'OK', 'Exception': None}
Thank you.
Best regards,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12d0e3ab-b65f-9910-6ef7-acdfa526cee7
* Version Independent ID: c024e106-98ea-18fe-09dd-97ab1deb5bc

[2019-07-26 06:08] SwathiDhanwada-MSFT commented on #35565
Adding @bwren for visibility
@bwren Can you please provide your insights on this ?

[2019-07-26 06:08] kazshi commented on #35723
@msrini-MSFT Thank you for the information, please give me a few days.

[2019-07-26 06:09] grik001 commented on #28508
I have the same issue, @allanmoller. I tried adding another A record both how the docs suggest and how you suggested but still unable to access SCM. Did you also configure the host file(I did)? trying to figure out what you may have done differently.

[2019-07-26 06:10] mahoekst opened #35898 "Add sample of the result of logging"
it might be a good addition to show what the result of this logging is. So where can i find these logs and what is exactly in these logs with the different levels described above.

And does MSAL.Net not have the optional correlationid yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf750a87-7ec5-422e-8e80-4cf3db67a

[2019-07-26 06:15] CHEEKATLAPRADEEP-MSFT commented on #35855
@pwl-kdk  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:16] CHEEKATLAPRADEEP-MSFT commented on #35863
@drestuart  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 06:18] CHEEKATLAPRADEEP-MSFT commented on #35874
@mkevinha  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:20] CHEEKATLAPRADEEP-MSFT commented on #35875
@hcstern  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:22] CHEEKATLAPRADEEP-MSFT commented on #35880
@allenwux  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:23] CHEEKATLAPRADEEP-MSFT commented on #35881
@correnta1  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 06:23] mahoekst opened #35899 "Explain what information is exactly in personal and organisational data"
You can switch on piiLogging, but it;s not explained what data exactly is logged when you switch it on? Is personal data the username or something else for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf750a87-7ec5-422e-8e80-4cf3db67a079
* Version Independent ID: c8df5a2e-3bcc-297f-5838-78bcca875f94
* Conten

[2019-07-26 06:26] angoyal-msft commented on #35477
@mijo89joseph
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-26 06:26] #35477 closed

[2019-07-26 06:31] lightupdifire opened #35900 "windowstransport"
Hello,

Regards:
&lt;&lt;&lt;
When you're using AD FS, either adfs/services/trust/13/windowstransport or adfs/services/trust/2005/windowstransport must be enabled.
&gt;&gt;&gt;

According to this article: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/best-practices-securing-ad-fs#disable-ws-trust-windows-endpoints-on-the-proxy-ie-from-extranet
We must disable in ADFS: w

[2019-07-26 06:33] henrywang08 opened #35901 "Typo for "set stop healthservice""
It should be "net stop healthservice".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e919d1-bf8c-38af-29a5-63a2e679850d
* Version Independent ID: 03a4bc5a-6666-bc24-f315-4324278e50ae
* Content: [Troubleshooting issues with Azure Change Tracking](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/change-t

[2019-07-26 06:35] dcbrown16 opened #35902 "ToC position"
Was this page intentionally removed from the ToC? It seems like a useful resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07bf8ea7-91db-de43-acf1-af16543971fd
* Version Independent ID: 22c2d984-0d21-b8f8-905a-dd173c171f86
* Content: [Azure PowerShell Script Sample -  Export/Copy snapshot as VHD to a storage acc

[2019-07-26 06:39] lightupdifire opened #35903 "windowstransport"
Hello,

Seems when run AD Connect to setup Hybrid Azure AD Join for Federated environment, this process will enable back windowstransport from extranet: "https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/best-practices-securing-ad-fs#disable-ws-trust-windows-endpoints-on-the-proxy-ie-from-extranet";

Would be great, if this information will be included in "Planning" documen

[2019-07-26 06:47] CHEEKATLAPRADEEP-MSFT commented on #35883
@peledins  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:48] CHEEKATLAPRADEEP-MSFT commented on #35884
@peledins  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:49] CHEEKATLAPRADEEP-MSFT commented on #35886
@peledins  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 06:55] SubhashVasarapu-MSFT commented on #35298
@loopfish, This requires a deeper investigation, so if you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and your subscription id?

Thank you for your cooperation on this matter and look forward to

[2019-07-26 07:00] KrishnaG-MSFT commented on #35885
@dcbrown16 Thanks for bringing this up!

While accessing 'Start a runbook' document, ToC is redirecting 'automation-starting-a-runbook.md' to 'start-runbooks'

For reference check below screenshots.

![image](https://user-images.githubusercontent.com/45988031/61932309-ad61b280-afa0-11e9-80d0-7b920b15ed07.png)

![image](https://user-images.githubusercontent.com/45988031/61932406-f6196b80-afa0-11e9-

[2019-07-26 07:15] simonness commented on #35843
@miaojiang sorry I have just noticed, with respect to trying to get a token in the developer console it's this endpoint that fails:

POST https://{ad-b2c-id}.portal.azure-api.net/oauth2/authorizationcode/acquiretoken

with the response:

[code]

When testing the sign up sign in custom policy with the ApimDeveloperConsole app it's the callback that fails.

![image](https://user-images.githubusercon

[2019-07-26 07:17] mike-urnun-msft commented on #32650
Hello @dcbrown16 - Apologies for the delay in response and thanks again for providing this feedback! We have reached out to the Functions team about this experience and are now tracking this item internally.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-26 07:17] #32650 closed

[2019-07-26 07:17] liroforum commented on #35594
Thank you for your reply.

So I have implemented caching referreing to the below link, as mine is a .netcore project.
https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp

It works ok for the first time when I debug using Visual Studio and Chrome.

But when I stop debugging and start debugging again, it fails to get the Accounts and errors out at AcquireTokenSilent().

When I tr

[2019-07-26 07:24] smudireddy commented on #35448
Hi Manoj,

We are using ADAL for iOS framework in our application. When this error
occurs, ADAL not printing the token it received. In order to capture that
we have to use the Microsoft ADAL for iOS source code and capture the token
to share you.

Regards,
M.Suresh

On Thu, Jul 25, 2019 at 11:30 AM K N Manoj Reddy <notifications@github.com>
wrote:

[2019-07-26 07:46] nit23uec opened #35904 "Mounting Azure file share dynamically and limit on number of file shares that can be mounted in a single pod"
I want to know if it's supported by Azure to mount azure file share dynamically to a pod.
Also, is there any limit of azure file share mount that can be done on a single pod? I want to mount 30k file shares in a single pod.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Ve

[2019-07-26 07:50] dominicbetts commented on #35839
Contacted off-line.
#please-close

[2019-07-26 07:50] #35839 closed

[2019-07-26 07:51] CHEEKATLAPRADEEP-MSFT commented on #35904
@nit23uec  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2019-07-26 07:51] dominicbetts commented on #35628
Contacted off-line.
#please-close

[2019-07-26 07:51] #35628 closed

[2019-07-26 07:51] nit23uec commented on #35904
Documentation link: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/azure-files-volume.md

[2019-07-26 07:53] CHEEKATLAPRADEEP-MSFT commented on #35904
@nit23uec Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 07:55] CHEEKATLAPRADEEP-MSFT commented on #35889
@aakash-shah Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 07:56] CHEEKATLAPRADEEP-MSFT commented on #35894
@j-re  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 07:59] archmangler opened #35906 "How to Apply PG_HBA firewall rules and Advanced Threat Protection to Read Replicas"
Issue:

The documentation and command line examples don't indicate if/how pg_hba rules applied to the primary postgres instance can be automatically inherited by the read replica:

1. https://docs.microsoft.com/en-us/azure/postgresql/concepts-read-replicas
2. https://docs.microsoft.com/en-us/azure/postgresql/howto-read-replicas-portal
3. https://techcommunity.microsoft.com/t5/Azure-Database-for-Po

[2019-07-26 08:06] sachabruttin commented on #22673
@femsulu CTRL + SHIFT + / is working but other shortcuts like G + / are not possibles on a lot of keyboards (eg. German, Swiss, French,...)

[2019-07-26 08:10] platinumphil opened #35907 "Unable to use Two-step Verification"
I am the administrator, and I'm locked out of Office 365 as two-step verification is required (for the first time). I recently moved to another country and forgot to change my phone number. My old phone number doesn't have roaming either, so I'm a bit stuck! What do I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-26 08:11] platinumphil commented on #35907
I'm Phil Meyer.

[2019-07-26 08:12] msrini-MSFT commented on #35723
@kazshi , Sure. Please tag me if you have any further questions.

I will close this issue for now.

[2019-07-26 08:12] #35723 closed

[2019-07-26 08:13] platinumphil commented on #35907
The only two-step verification options I'm given are:
- text message to phone
- phone call

[2019-07-26 08:13] CHEEKATLAPRADEEP-MSFT commented on #35799
@ericjiang18  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-26 08:13] #35799 closed

[2019-07-26 08:14] CHEEKATLAPRADEEP-MSFT commented on #35814
@Jeroen-H  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-26 08:14] #35814 closed

[2019-07-26 08:14] CHEEKATLAPRADEEP-MSFT commented on #35823
@ajay15283  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-26 08:14] #35823 closed

[2019-07-26 08:16] CHEEKATLAPRADEEP-MSFT commented on #35906
@archmangler  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2019-07-26 08:20] Ballzer0 opened #35908 "can i use implicit grant?"
is it possible to use implicit grant instead of using the auth code grant flow when obtaining access_token A?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea40b857-0288-5225-f5e6-588244fffad1
* Version Independent ID: 611de95f-293d-b13d-a301-dc3b6a5a2135
* Content: [Azure AD service-to-service authentication OAuth2.0

[2019-07-26 08:22] samjross commented on #35557
I don't feel like I have a clear answer @AjayKumar-MSFT -

There are two usual use cases for a web app, an API, and an html/javascript website.

If I set up google as an authentication provider, what specific steps do I use to enable someone to authenticate with google through an API? What specifics steps do they need to do to do that?

On the other hand, if I have a frontend website with html and

[2019-07-26 08:23] #35908 closed

[2019-07-26 08:26] ivanignatiev opened #35909 "Add instructions and samples to protect Client Secret"
Hello,

There is no information how we can protect Client Secret / Application API Key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a2add-e28c-ab01-e63d-cc85bd1b961f
* Version Independent ID: 7e22d9ff-4d20-0709-78d5-9b39554fb126
* Content: [Use Azure Active Directory to authenticate Azure Batch service solutions]

[2019-07-26 08:31] ManojReddy-MSFT commented on #35874
@mkevinha Can you help me understand the "Custom Group" part? Does it always have to be custom group? Can we not enter Azure AD group name there?

I am trying to get a sandbox environment to test but would like you to confirm on your end if possible,

[2019-07-26 08:36] lpozo16 commented on #35650
Hi Samara, excuse me for the delay. Of course, I'm glad to collaborate with
you in this topic.

I've built a Spring Cloud Config Server by using Azure App Configuration
library (as the tutorial and this sample shows
<https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azure-samples/azure-appconfiguration-sample>).
Furthermore, I've also downloaded the code in that github sampl

[2019-07-26 08:49] win2000b opened #35910 "WindowsTransport Extranet Security Warning."
We have received a security alert this morning recommending the disabling of WindowsTransport on the extranet due to it being possible to brute force it. However, this article states that this should be enabled for DRS to work correctly. What is the workaround for this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c

[2019-07-26 08:51] #35907 closed

[2019-07-26 08:52] archmangler commented on #35906
Hi @CHEEKATLAPRADEEP-MSFT - provided documentation links.

[2019-07-26 08:52] platinumphil commented on #35907
No worries - a colleague changed my cell number in the system... forgot he has admin access as well!

[2019-07-26 08:53] jacobtomlinson opened #35911 "Invalid docker kwargs"
In the latest version of azureml it looks like the `custom_docker_base_image` has been renamed to `custom_docker_image`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56432291-395c-5eca-9d11-d4c7bc0e2dd8
* Version Independent ID: f5648ab5-df5b-7434-a1c2-2454d4c0ad0d
* Content: [Train ML models with estimators - Azure

[2019-07-26 08:55] win2000b commented on #35910
Tried emailing the address on the alert. Your message to AADHealthTeam@microsoft.com couldn't be delivered.
The group AADHealthTeam only accepts messages from people in its organization or on its allowed senders list, and your email address isn't on the list.

[2019-07-26 08:56] crgarcia12 commented on #32328
If I'm not wrong, It is now supported in V3 :)

[2019-07-26 09:01] ToMakeSense commented on #32360
@mike-urnun-msft any updates on this, I found it's still not changed.

[2019-07-26 09:06] cesarmaneiro opened #35912 "Branding"
Sign-in page text.  Accept Text Only. In Azure Portal only allow Plain Text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Content: [Add branding to your organization's sign-in page - Azure Active Directory](https://do

[2019-07-26 09:19] KrishnaG-MSFT commented on #35901
@henrywang08 Thanks for the comment. We are actively investigating and  working on it. We will get back to you shortly with an update.

[2019-07-26 09:22] Elfocrash commented on #32328
@crgarcia12 it is but many people including us  are not in a position to move away from v2 anytime soon. There is just too much production code and no battle tested GA release yet.

[2019-07-26 09:22] blueelvis commented on #35832
@MarileeTurscak-MSFT - Thank you for the response. I was looking at the [pricing section](https://azure.microsoft.com/en-us/pricing/details/key-vault/) and in the FAQ, I see the following line -
[code]

Could you please confirm with the PG team which one is indeed true? Or if the pricing docs need an edit?

Thanks!
-Pranav

[2019-07-26 09:37] Jothi3125 opened #35914 "Windows VM Agent Status is not ready"
What are the troubleshooting checks that could be done if the Agent Status is not ready for the Windows Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Azure Virtual Machine Agent Overview](https://doc

[2019-07-26 09:45] Kjeanclaude commented on #35471
OK, thank you @ChristianMontoya ! I have been able to have a free Trial subscription with my professionnal account, without the need for a DEBIT CARD information.
Now I should be able to use the Free Trial services and the Windows Virtual Desktop Preview service.
Thank you all!

[2019-07-26 09:46] mike-urnun-msft commented on #32360
@ToMakeSense Thanks for following up. Looks like the PRs were closed without merging. I've reached out to our content team to clarify. I will update you here once I receive more info. Could you clarify how you've located and arrived at the concerning documentations?

[2019-07-26 09:46] alexandair opened #35915 "Az.ResourceGraph won't work with the current Azure PowerShell Docker image"
"This module can be used with locally installed PowerShell, with Azure Cloud Shell, or with the Azure PowerShell Docker image."

Current Azure PowerShell Docker image is more than a year old. I doubt Az.ResourceGraph would work with it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d477e300-fccf-298b-fb97-d67d2f5acaec

[2019-07-26 09:50] mike-urnun-msft commented on #32849
Hi @ketaanhshah - This is currently not available. Please consider [reaching out](https://docs.microsoft.com/en-us/azure/api-management/api-management-faq#how-can-i-ask-the-microsoft-azure-api-management-team-a-question) to the API Management team for further details or submitting a feature request on [Azure UserVoice](https://feedback.azure.com/forums/248703-api-management).

We will now proceed

[2019-07-26 09:50] #32849 closed

[2019-07-26 09:54] KrishnaG-MSFT commented on #35915
@alexandair Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-07-26 09:55] CHEEKATLAPRADEEP-MSFT commented on #35906
@archmangler  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 09:56] johncrowtherdcc commented on #34463
Thanks! This is exactly what I was looking for.

I think there is one tweak needed. The document has a message name of "Fraud reported	A fraud alert has been submitted." whereas the message name is really just "Fraud reported".

[2019-07-26 09:57] msrini-MSFT commented on #35820
@markarnolditpro , Any update on this issue?

[2019-07-26 09:57] msrini-MSFT commented on #35796
@KeiroKamioka0000 , Any update on this issue?

[2019-07-26 10:09] RohitMungi-MSFT commented on #35896
@AlexanderTodorovic Thanks for the feedback. Status code 3000 means that the request response is good. More details about the codes can be found in this swagger [document](https://westus.dev.cognitive.microsoft.com/docs/services/57cf753a3f9b070c105bd2c1/export?DocumentFormat=Swagger&ApiName=Content%20Moderator%20-%20Moderate).

[2019-07-26 10:13] RohitMungi-MSFT commented on #35911
@jacobtomlinson Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-26 10:15] alexandair opened #35917 ""Clean up resources" section is unnecessary"
"Clean up resources" section is unnecessary in this article. Provided steps don't clean anything and don't return your environment to the previous state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d477e300-fccf-298b-fb97-d67d2f5acaec
* Version Independent ID: 78f816e8-7ccf-9398-cbd7-940150f7d068
* Content: [Run you

[2019-07-26 10:17] KetanChawda-MSFT commented on #35802
@jcbrooks92 I have created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/83415) to update the doc. It will be available to the content after review.

[2019-07-26 10:18] mike-urnun-msft commented on #32760
Hi @SubjectiveKirby - Thanks again for reporting this and helping us drive improvements towards MS Docs! I've created a PR that corrects the DLQ path and the change should reflect within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-26 10:18] #32760 closed

[2019-07-26 10:24] raghava2804 opened #35918 "The statement V1 SKU supports "only static internal IP address" is not correct as it supports both static and Dynamic IP addresses. Kindly check"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-26 10:26] alexandair opened #35919 ""az extension remove" does remove the extension"
"This does not delete the extension file downloaded earlier. It only removes it from the running Azure CLI environment."

This is incorrect. `az extension remove` removes an extension and extension won't be available anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7903204c-ed88-84a5-80f3-7be167a17b44
* Version

[2019-07-26 10:30] kalyankrishna1 opened #35920 "offline_access is not supported in RPOC flow on v2 endpoint"
Please remove offline_access as its not supported and throws exception in Postman

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-885aa42a566f
* Version Independent ID: 190585ca-8337-0644-2182-75b77f53c175
* Content: [Use Microsoft identity platform to sign in users using resource owner password

[2019-07-26 10:32] jakaruna-MSFT commented on #35433
@vinothinidharmaraj Sorry for the delay.

I got it working by using the below script.
[code]

After adding the extensions name then update the VMMS like this

[code]

You may need to run a for loop through the list of extensions to find out the one with the extension name where you want to update. Then capture the index of that extension in that array and use that index to update.

In the provided

[2019-07-26 10:33] jakaruna-MSFT commented on #35274
@pixelmosh is there any update

[2019-07-26 10:34] RohitMungi-MSFT commented on #35807
@sachinruk Thanks for this feedback. With regards to the issue of passing a 2D input for the web service deployed, which is specific to this experiment or notebook it would be appropriate if you can raise an issue with the [MachineLearningNotebooks ](https://github.com/Azure/MachineLearningNotebooks/issues)repo so the author of the notebook can better help you.

@rastala It would be great if you c

[2019-07-26 10:36] bobbytreed commented on #35885
I can change the toc, but that doesn't seem to be the issue. Also, schedule runbooks is under the Manage Shared Resources node.  I added a link under Start Runbooks for Schedule runbooks.

I hope that is sufficient #please-close

[2019-07-26 10:36] #35885 closed

[2019-07-26 10:37] VikasPullagura-MSFT commented on #35902
@dcbrown16 Thanks for providing the feedback on the document, I am assigning the issue the author for adding his comments on the ToC being removed form the documents.

[2019-07-26 10:38] VikasPullagura-MSFT commented on #35902
@ramankumarlive Can you please add your comments and provide insights on the issue.

[2019-07-26 10:47] BhargaviAnnadevara-MSFT commented on #35745
@galla-devlop Thanks for reaching out! While I reach out to our internal teams to get guidance, could you please let me know if and what your findings were when you tried to debug the issue? If yes, could you provide me with the logs?

[2019-07-26 10:48] VikasPullagura-MSFT commented on #35877
@laurenhughes Can you please look into the issue and add your comments to raise a PR for the typo as applicable.

[2019-07-26 11:02] jakaruna-MSFT commented on #35894
@j-re Thanks for your question.
hpa(horizontal pod autoscaler) scales the pods.
In the scaling example, we are scaling the `azure-vote-front` pod which is stateless.
We are not scaling the `azure-vote-back`.

In the [last step](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-scale#manually-scale-aks-nodes) we are scaling the AKS nodes which wont affect the container scaling.

We can

[2019-07-26 11:04] patnaikshekhar commented on #32296
@cloudmelon the func core tool uses the default context from your default kubeconfig (~/.kube/config) to deploy keda and osiris.

[2019-07-26 11:14] ToMakeSense commented on #32360
@mike-urnun-msft  I found more issues regarding logic app cmdlets during my work, so I have a look at this issue, found these documents [New-AzLogicApp](https://docs.microsoft.com/zh-cn/powershell/module/az.logicapp/New-AzLogicApp) and [Set-AzLogicApp](https://docs.microsoft.com/zh-cn/powershell/module/az.logicapp/Set-AzLogicApp) is still the same.
* MicrosoftDocs/azure-docs-powershell/issues/1178

[2019-07-26 11:24] SadiqhAhmed-MSFT commented on #35808
@wiseleaf23 Thanks once again for bringing this to our attention. The link has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 11:24] #35808 closed

[2019-07-26 11:34] KrishnaG-MSFT commented on #35917
@alexandair Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-07-26 11:34] PingPongSet opened #35922 "Calculate Request Unit for read, update, delete"
"The cost to read a 1 KB item is 1 Request Unit (or 1 RU)."

Is this an example only? There are many factors based on section request-unit-considerations.
So the statement above cannot be always right?

What about other edit operation apart from read?

https://docs.microsoft.com/en-us/azure/cosmos-db/request-units#request-unit-considerations

**Update**

Is there a better way to check remaining RU

[2019-07-26 11:36] KrishnaG-MSFT commented on #35919
@alexandair Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-07-26 12:04] candidson opened #35923 "Linked service with Self-hosted Integration runtime in Data Flow."
Hello,

I am using

I have an Azure Storage and an Azure SQL DB with VNET firewall activated (service endpoint). These are used as Linked Service and later on as Data sets. For this, I had to set up a VM within the VNET/Subnet with self-hosted Integration Runtime.

However I keep getting the error:

when using the linked service in Data Flow.

Link: https://docs.microsoft.com/en-us/azure/data-fact

[2019-07-26 12:06] atomikdesign commented on #20701
Hello @mdgattuso, do you have some updates about wildcard domains?

Thanks in advance.

[2019-07-26 12:08] dsmeltz commented on #35842
The CallbackPath in the UriHelper.BuildAbsolute call should be using azureAdOptions, not _applicationOptions.  _applicationOptions doesn't have a CallbackPath property.

[2019-07-26 12:14] vishalaj1 commented on #11093
@iamnarendhar : It is not supported, I am not from microsoft but may be this is not the right place to put this question. Dataflows does have support for this, but if you really dont care of the content of the file like header being mapped to all columns for details rows, move to folder level processing it is much quicker.

[2019-07-26 12:15] gate502 opened #35924 "Second Azure Active Directory License"
How do we apply licenses to a second Azure Active Directory instance in the same Azure Tenant if we have an Enterprise Agreement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c81d6f9-ede5-46eb-8ca0-eaec8019ece9
* Version Independent ID: 20483563-6ce5-31fa-84ab-2aae8a5c594c
* Content: [Assign or remove licenses - Azu

[2019-07-26 12:23] jakaruna-MSFT commented on #35904
@nit23uec Do you want mount 30 thousand file shares to a pod?

Lokk at this stack overflow thread https://serverfault.com/questions/102588/maximum-numbers-for-file-system-mounts-in-linux
and this link from that stack thread https://github.com/torvalds/linux/commit/d29216842a85

In linux the default max  limit is 10000. You can increase it though.

I will check the limit (if there is any) for the n

[2019-07-26 12:23] m4h3 opened #35925 "Public IP Basic sku seems to support single AZ"
From https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-public-ip-address#create-a-public-ip-address
Basic SKU: If you are creating a public IP address in a region that supports availability zones, the Availability zone setting is set to None by default. You can choose to select an availability zone to guarantee a specific zone for your public IP address.

The statement "Do not

[2019-07-26 12:30] SubhashVasarapu-MSFT commented on #35925
@m4h3, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-26 12:37] pes-kapacity opened #35926 "fileExtension doesn't seem to work"
We're trying to copy files from an SFTP folder to our blob storage. The source and sink are set up without a filename. I specified the .txt extension, but when running my pipeline, the blob storage shows the files being created as .csv. According to the documentation, they ought to use the extension supplied in the File Extension.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-07-26 12:57] PramodValavala-MSFT commented on #35580
@imeya Just following up here... Hope my previous comment helps.

[2019-07-26 12:59] SychevIgor opened #35928 "Please, update screenshot with modern UX"
Azure portal UX had changed multiple times, but (azure an email template) both images shows the 3 years old screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93b9b9b0-2c99-6dd0-6bea-1bd683c529a7
* Version Independent ID: b62672a0-aa61-90f4-0221-0cdde342dd6c
* Content: [Smart Detection in Azure Application Ins

[2019-07-26 13:00] IndefiniteBen commented on #25880
I just got a new phone and was surprised when my 10 accounts weren't transferred. With the number of 2FA accounts these days, this should definitely be possible. I'm assuming this will be done this year, otherwise it might be better to switch to LastPass/Authy authenticator apps as they do sync.

[2019-07-26 13:03] iqsarv opened #35929 "'Id' property is not supported in the SDK"
I getting the following exception if there is a 'Id' field in the properties. But I can insert from Data explorer

Microsoft.Azure.Cosmos.Table.StorageException
  HResult=0x80131500
  Message=Cannot deserialize the current JSON object (e.g. {"name":"value"}) into type 'System.String'
  because the type requires a JSON primitive value (e.g. string, number, boolean, null) to deserialize correctly.
T

[2019-07-26 13:11] CHEEKATLAPRADEEP-MSFT commented on #35895
Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 13:13] CHEEKATLAPRADEEP-MSFT commented on #35898
@mahoekst  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 13:14] CHEEKATLAPRADEEP-MSFT commented on #35899
@mahoekst  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 13:15] CHEEKATLAPRADEEP-MSFT commented on #35900
@lightupdifire  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 13:16] nit23uec commented on #35904
Thanks @jakaruna-MSFT . I think you missed one zero in default max limit as seems from the stack thread link. It seems to be 1,00,000. Are there any performance stats (like pod start up time) with number of volume mounts ? Is pod start up time also increased with increase in number of volume mounts?
Also, please let me know if dynamic mount/unmount is allowed.

[2019-07-26 13:16] CHEEKATLAPRADEEP-MSFT commented on #35903
@lightupdifire  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 13:18] CHEEKATLAPRADEEP-MSFT commented on #35909
@ivanignatiev  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-26 13:23] MikeBarker-MSFT opened #35930 "Reference to MSI (old terminology)"
In "Known limitations of self hosted IR sharing" the first point refers to MSI. MSI has been renamed to 'Managed Identity' and this documentation should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2

[2019-07-26 13:23] spelluru commented on #32504
@mike-urnun-msft  - I see SQL Filter examples in the article linked from this article:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-sql-filter

We should add at least one example of each filter in this article. I will take it as an action item and work with Ashish on this.

@axisc - Please share any examples on using these filters. I will update the article. T

[2019-07-26 13:23] rimman commented on #35922
By ‘read’, it means a point read, which is, when you retrieve a data item/document by a URL.

For every operation, you can retrieve the exact RU charge:  https://docs.microsoft.com/en-us/azure/cosmos-db/find-request-unit-charge

[2019-07-26 13:26] martinvt commented on #24975
I have a Python function app and using VSCode to deploy - I am facing the same problem - proxies.json is not deployed (locally all works fine). Is there any workaround for VSCode to get proxies.json deployed ?

[2019-07-26 13:26] CHEEKATLAPRADEEP-MSFT commented on #35923
@candidson  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 13:28] SychevIgor commented on #35928
Here is how UX look today
![image](https://user-images.githubusercontent.com/578954/61953189-739fa480-afbe-11e9-8eff-7c7f159b659a.png)
emails looks like:
![image](https://user-images.githubusercontent.com/578954/61954818-608ed380-afc2-11e9-97e8-989675a74d37.png)

[2019-07-26 13:29] CHEEKATLAPRADEEP-MSFT commented on #35910
@win2000b  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 13:30] CHEEKATLAPRADEEP-MSFT commented on #35912
@cesarmaneiro  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 13:33] CHEEKATLAPRADEEP-MSFT commented on #35918
@raghava2804  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2019-07-26 13:45] kromerm commented on #35923
Self hosted integration runtime is not supported as a source in data flows. Instead, use copy activity to stage the data in azure blob or ADLS and then use data flows with that Dataset.

[2019-07-26 13:49] rimman commented on #35855
We are trying to discourage customers from using attachments in production workloads. The best practice is to store data in the storage and soft-link it from Cosmos DB or store it as Base64 inside a Cosmos container - to take advantage of global replication, consistency, backup-restore and SLAs, that's why the documents reflect this in this manner. Thanks.

[2019-07-26 13:52] alexanderbikk opened #35931 "Uploading certificates to DPS using C# SDK"
Hi,
Does the C# SDK support those steps from doc?
1. https://docs.microsoft.com/en-us/azure/iot-dps/how-to-verify-certificates#register-the-public-part-of-an-x509-certificate-and-get-a-verification-code
2. https://docs.microsoft.com/en-us/azure/iot-dps/how-to-verify-certificates#upload-the-signed-verification-certificate

I want to automate the process of downloading certificates to DPS. But I can

[2019-07-26 13:52] lipsius commented on #33801
Hello,

When I try it using the Raspberry Pi Simulator it works.
I shall now test it with the dev kit and keep you informed.

Kind regards,

Christophe

Van: Jimaco Brannian <notifications@github.com>
Verzonden: donderdag 25 juli 2019 0:09
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: CDM ICT <info@cdm-ict.be>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/

[2019-07-26 13:54] jmprieur commented on #35842
Thanks again, Dan. fixed.

[2019-07-26 13:56] MGoedtel commented on #35761
I've reached out to the PG to get a clear answer here.  As soon as they respond I'll update the issue. Thanks.

[2019-07-26 14:03] wstinkens commented on #34965
If it should still work, how should I populate the $TimeStampField variable so it overwrites the TimeGenerated field with a custom timestamp?

[2019-07-26 14:08] patpicos opened #35932 "NTP and Port 9000"
Azure firewall Application rule collections do not support UDP and TCP ports, only http/https/mssql.

How do we restrict:
ntp.ubuntu.com	UDP:123
*.hcp.&lt;location&gt;.azmk8s.io	HTTPS:443, TCP:22, TCP:9000
*.tun.&lt;location&gt;.azmk8s.io	HTTPS:443, TCP:22, TCP:9000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439

[2019-07-26 14:17] MGoedtel commented on #34531
@lightupdifire - Sorry to hear about your experience.  I'll share your feedback with the team who manages the docs for Azure Security Center and see how we can address this in our documentation.  #please-close

[2019-07-26 14:17] #34531 closed

[2019-07-26 14:21] PingPongSet commented on #35922
Is it corect that for other operations, to the RU, we need to run the query. e.g. Update, insert?

Is there a better way to check remaining RU, and RU consumed over a period?

[2019-07-26 14:27] bachoang opened #35933 "Please document what the keyvault resource should be when authenticating to AAD to ask for keyvault resource"
I believe the key vault resource should be "https://vault.azure.net"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69f560f-c4f9-fff4-43b9-45ff1a477237
* Version Independent ID: b04dcf69-45cd-bee1-2585-6c65153f021e
* Content: [Authentication, requests and responses](https://docs.microsoft.com/en-us/azure/key-vault/aut

[2019-07-26 14:29] deanweis commented on #32883
I got past the error by deleting the cached sp secrets file located here C:\Users\username\.azure\aksServicePrincipal.json.  I hope this helps someone.

[2019-07-26 14:29] CHEEKATLAPRADEEP-MSFT commented on #35931
@alexanderbikk  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 14:30] CHEEKATLAPRADEEP-MSFT commented on #35914
@Jothi3125  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 14:31] bwren commented on #35565
@omerzubair You can add columns to an existing table.  Is there something in that article that implies you can't?

[2019-07-26 14:31] RobusXLR opened #35934 "App Registration - Publisher Domain Registration cannot connect to domain"
Reference documentation:
[How to: Configure an application's publisher domain](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/howto-configure-publisher-domain.md)

To Reproduce:

1. Navigate: Azure Portal > Azure Active Directory > App Registrations > Branding > Publisher Domain >Verify a new domain
2. Set the publisher domain e.g: https://example.azurewe

[2019-07-26 14:31] CHEEKATLAPRADEEP-MSFT commented on #35920
@kalyankrishna1  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 14:32] nathanwinder opened #35935 "In the "Trigger - Configuration" section clarify that the "function" authLevel will result in a function that accepts both a function key AND a host key."
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---configuration

I've seen comments on the web claiming that the function auth level is tied to a Function Key and the Admin (and System) levels are tied to Host Keys. Based on comment from this issue: https://github.com/Azure/Azure-Functions/issues/1118 custom host keys are used for function level auth

[2019-07-26 14:33] CHEEKATLAPRADEEP-MSFT commented on #35924
@gate502 Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 14:34] CHEEKATLAPRADEEP-MSFT commented on #35926
@pes-kapacity  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 14:34] swasifali commented on #35830
Our deployment model is Resource Manager based and started with VpnGW1. From the deployment, everything seems to be setup correctly e.g. VNet Integration under App Service showed certificate status "in sync", however, we couldn't reach resources within the Virtual Network. This got resolved once VPN was re-created using basic SKU. Also, the documentation above says that gateway required VNet integ

[2019-07-26 14:35] CHEEKATLAPRADEEP-MSFT commented on #35929
@iqsarv  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 14:36] CHEEKATLAPRADEEP-MSFT commented on #35930
@MikeBarker-MSFT  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-26 14:38] CHEEKATLAPRADEEP-MSFT commented on #35932
@patpicos  Thanks for the question! We are investigating and will update you shortly.

[2019-07-26 14:41] bwren commented on #35523
Confirmed with engineering team.  Removing the note.  Should be published today.  @shashwatchandra, thanks for this.

[2019-07-26 14:41] bwren commented on #35523
#please-close

[2019-07-26 14:41] #35523 closed

[2019-07-26 14:52] StingyJack opened #35936 "How can I change the default shortcut to run the program as adminsitrator?"
It is really tedious to have to keep opening admin level cmd prompts, cd-ing to the install directory, and then starting the program because the default shortcut DOES NOT WORK.

This shortcut is so messed up that I cant run as admin by right clicking and picking Run as Admin (not there) , or set the same option using the Compatibility tab (not there) or Advanced tab (greyed out) on the shortcut pr

[2019-07-26 14:52] #35580 closed

[2019-07-26 14:53] mkstephenson opened #35937 "Static IP addresses don't need to be inside the node resource group"
In the section "Create a static public IP", it states that "the IP address resource must be created in the node resource group". This is no longer valid, as stated under https://docs.microsoft.com/en-us/azure/aks/static-ip#use-a-static-ip-address-outside-of-the-node-resource-group, you can put the public IP in an external resource group and reference that group in the service annotations.

---
###

[2019-07-26 14:59] PramodValavala-MSFT commented on #35580
@imeya Also, the code sample required an update for .NET Core as well which has been merged and should reflect in a few hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 15:03] bwren commented on #35242
@artisticcheese Confirmed all categories from Activity log are not being collected in Logs.  There are some significant changes coming soon though which we will be documenting, so we're going to hold off on updating that article for now.

[2019-07-26 15:09] DixitArora-MSFT commented on #35935
Hi @nathanwinder Thank you for your feedback . We will review this and update the article as needed.

[2019-07-26 15:10] DixitArora-MSFT commented on #35935
@craigshoemaker Any inputs in this .

[2019-07-26 15:10] bwren commented on #35172
@dcbrown16 All log categories are not exported now, and you can't currently specify categories in the log profile.  There are some significant changes coming soon in this process though that we will be documenting.

[2019-07-26 15:15] raghava2804 commented on #35918
Hi Pradeep,

Its in the following site under "Static versus dynamic public IP address" section. In the second paragraph.

https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components

[2019-07-26 15:18] #35901 closed

[2019-07-26 15:18] raghava2804 commented on #35918
When I tried creating the static and dynamic private IP addresses independently with V1 SKU, the azure portal was allowing me to create a static IP address and was also allowing me to go to next configuration set even if static IP option was not selected So, the private IP addressing was working for both static and dynamic IP addressing scheme. So, as per that experience, its not correct to say, o

[2019-07-26 15:19] whaakman opened #35939 "Not all resources are supported in Change History"
I thought I had read somewhere that not all resource types are yet supported to project change history and just experienced this after updating the threat detection policy on an Azure SQL Server (servername/Default). No change history is projected even though the activity log does identity it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-07-26 15:23] mkevinha commented on #35874
In my experience, OCI wouldn't let me choose anything other than Custom Group for that field. Even trying the search function in the OCI dialog didn't choose anything.

The only way I got group mapping to work was to choose Custom Group, enter the GUID into the Group ID field and then choose the OCI group I wanted it mapped to on the right side of the dialog. And then, it worked liked magic.

It m

[2019-07-26 15:24] DCtheGeek commented on #35939
#assign:DCtheGeek

[2019-07-26 15:25] DCtheGeek commented on #35939
@whaakman Thanks for the question.  I'm looking into it with the team and will get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress

[2019-07-26 15:30] MicahMcKittrick-MSFT commented on #35937
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-26 15:30] DCtheGeek commented on #35915
@alexandair Thanks for the question!  I'll check with the team and get back to you on this.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-07-26 15:30] DCtheGeek commented on #35915
#assign:DCtheGeek

[2019-07-26 15:33] rimman commented on #35922
You can use Azure Monitor for monitoring RUs: https://docs.microsoft.com/en-us/azure/cosmos-db/cosmos-db-azure-monitor-metrics

I am not sure I understand the 1st question.

[2019-07-26 15:40] MicahMcKittrick-MSFT commented on #35889
@aakash-shah Secure Boot is not available in Azure. It is something we are looking into however at this time it is still not supported. Hence, the doc from us is correct. If that changes we will be sure to update the doc accordingly.

[2019-07-26 15:42] DCtheGeek commented on #35917
#assign:DCtheGeek

[2019-07-26 15:45] DCtheGeek commented on #35917
@alexandair Thanks for the question and feedback.  The **Clean up resources** section is a standard section of an Azure Quickstart per the content model, so it will need to stay.  You are correct that the steps don't remove the module and only removes it from the running session.  Would you rather see this section uninstall the module to fully revert to previous state?

@MicrosoftDocs/azure-cxp-tr

[2019-07-26 15:46] MicahMcKittrick-MSFT commented on #35914
@Jothi3125 The closest thing I have been able to find is the following doc:

https://docs.microsoft.com/en-us/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#the-agent-installed-in-the-vm-but-unresponsive-for-windows-vms

Essentially, if the agent is not in a ready state, it is usually due to some corruption of the agent which can be resolved by simply manually reinstalling

[2019-07-26 15:48] BhargaviAnnadevara-MSFT commented on #35928
@SychevIgor Thanks for the feedback! Indeed, the UX is continually improving and it sometimes becomes hard to keep up with the pace when it comes to updating docs. We shall review and make the change accordingly.

[2019-07-26 15:52] stuycks opened #35940 "Extension is missing in the Az command"
The documentation is missing the extension in the Az command, it should be:
az network front-door waf-policy instead of az network waf-policy

This az command is also wrong:
az network waf-policy custom-rule should be az network front-door waf-policy rule

In the az network front-door waf-policy rule create command we also have the issue that --match-condiction is an unrecognized argument

---
###

[2019-07-26 15:53] MicahMcKittrick-MSFT commented on #35937
@mlearned @sauryadas can either of you confirm if this is correct?

Looking deeper into it, it appears we can use a IP address outside of the Node Resource Group when using a Load Balancer with AKS. However in the Engress documentation we state it has to be in the same Node Resource Group. Is it different if you are using Engress vs Load Balancer? If not, I am happy to make the doc change. Just wa

[2019-07-26 15:56] DCtheGeek commented on #35919
#assign:DCtheGeek

[2019-07-26 15:57] DCtheGeek commented on #35919
@alexandair Thanks for the feedback.  You are correct indeed and I'll update this doc.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please remove existing labels and add 'doc-bug' and #in-progress

[2019-07-26 15:57] MicahMcKittrick-MSFT commented on #35932
@patpicos looking at the doc, the addresses you are interested in restricting appear under the required ports and addresses for AKS clusters in order to function properly.

https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters

This feature to restrict traffic is still in preview so as it moves to GA additional functionality will be added.

[2019-07-26 16:05] BhargaviAnnadevara-MSFT commented on #35531
@PingPongSet Just following up to check if you had a chance to try the above suggestion out.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-26 16:05] #35531 closed

[2019-07-26 16:06] DCtheGeek commented on #35919
For anyone curious at the nuts and bolts (this is how I looked it up and validated), you can see that [shutil.rmtree](https://docs.python.org/2/library/shutil.html?highlight=rmtree#shutil.rmtree) is called from [az extension remove](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/extension/operations.py#L246).  Thanks again @alexandair!

[2019-07-26 16:08] simeyla opened #35942 "What is the scope of changes to ‘size’?"
The article states:

You can make the following types of changes to a reservation after purchase:
- Update reservation scope
- Instance size flexibility (if applicable)
- Ownership

So if I have 3 VMs as a RI and I want to change the size do I have to change the size of all of them at once  - or is it possible to still manage size independently for each. Eg if I find I need 16GB instead of 8 - but

[2019-07-26 16:10] gus1818 commented on #32586
I am a beginner when it comes to programming so pardon my lack of knowledge.
I have an existing knowledge base and bot.
I have read several articles saying that for me to enable multi-turn to my bot I have to edit the code of my bot. Could someone give me a step-by-step of how to do so through the online code editor?

I appreciate the help in advance

[2019-07-26 16:12] PaulSells opened #35943 "Template validation issues"
I've copied the template and substituted with my values however when attempting to deploy the template (into a test subscription) it fails validation with the following error.

Unable to load schema from 'https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentParameters.json'. No schema request service available(768)

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-26 16:13] #35919 closed

[2019-07-26 16:13] gus1818 opened #35944 "Difficulties adding Multi-turn to chatbot (QnA)"
I am a beginner when it comes to programming so pardon my lack of knowledge.
I have an existing knowledge base and bot.
I have read several articles saying that for me to enable multi-turn to my bot I have to edit the code of my bot. Could someone give me a step-by-step of how to do so through the online code editor?

I appreciate the help in advance

[2019-07-26 16:13] roygara commented on #35902
#reassign: @roygara

[2019-07-26 16:17] roygara commented on #35902
@dcbrown16 Thanks for reaching out, I'll clarify the design here: This page wasn't removed from the ToC, it is a sample. Sample themselves are not in any of our ToCs.

Samples are stored/listed in pages such as these (these pages are in the ToC): https://docs.microsoft.com/en-us/azure/virtual-machines/linux/powershell-samples

That should answer your question so I'm closing this issue out now.

#p

[2019-07-26 16:17] #35902 closed

[2019-07-26 16:31] diberry commented on #32586
@gus1818 - the online code editor will make it very difficult to debug your code. Are you able to develop offline? I'll look for code that shows step by step.

[2019-07-26 16:34] ppavanm commented on #35692
@Alberto-Vega-MSFT Thank you for your response, I understood how DPS can be used to provision an edge device.  What I am trying is downstream device provisioning using DPS where downstream device is an application running on the same edge device acting as a transparent gateway.

[2019-07-26 16:37] gus1818 commented on #32586
@diberry thank you for the help !
I tried to get my bot on the emulator but I was not able to connect successfully...
would you be able to explain how I can connect and existing bot to the emulator and then from there edit the code to allow for multi-turn?
I am very bad with coding so if you could please send step-by-step it would be very helpful.

Once again, thank you for the help!

[2019-07-26 16:42] rachel-msft commented on #34872
@ttelfer, this particular restore scenario is not available yet because the parameter isn't configurable by you. We're sorry for the inconvenience. Could you email [AskAzureDBforPostgreSQL](mailto:AskAzureDBforPostgreSQL@service.microsoft.com)? We'll assist you with your restore.

[2019-07-26 16:42] myrocode commented on #35449
Sorry but I really don't get why the global temporary table is immediately dropped after it's created from a stored procedure. Creating User defined table types it's only necessary to support ADF?

Doing everything from sql managment, using the same user as configured  in data factory, the temp table is  created and  filled correctly. in ADF it's dropped as soon as it's created.

Here is the same

[2019-07-26 16:43] Alberto-Vega-MSFT commented on #35139
Closing as this has been resolved. Thanks again for helping make  the documentation better.

[2019-07-26 16:43] #35139 closed

[2019-07-26 16:47] eragonriddle commented on #35240
@mike-urnun-msft Thank you for the update. The documentation should be updated to clearly state that customer data is being stored in a storage blob that is not controlled by them. Storing sensitive API data in a storage blob that has no authentication and is not managed by the API owner goes against security compliance guidelines. There is no option to disable tracing either. Therefore, it would

[2019-07-26 16:48] diberry commented on #32586
@gus1818 - please post your bot emulator issues to their [repo](https://github.com/Microsoft/BotFramework-Emulator). Feel free to link the issue here on this issue.  The level of functionality you are looking for is in [this sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/experimental/qnamaker-prompting) - you do need to understand the code to make it work. A step by step proce

[2019-07-26 16:49] TsuyoshiUshio commented on #35686
Thank you guys. Additional information.
I'm not sure however, My account (Internal Microsoft subscription) has some limitation for specific region. I don't know if the people uses other subscription don't have a problem or serverfarm can be problem for others.  I solve this with remove serverfarm then change a region. Since I only have internal one I can't test it. Sorry.

[2019-07-26 16:51] kilmfer91 opened #35948 "Authentication error in Node.js CosmosDB SDK by using @azure/cosmos library v3.0.4: "Required Header authorization is missing""
Following the tutorial "[Build a Node.js console app with the JavaScript SDK to manage Azure Cosmos DB SQL API data](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-get-started)" there is an error when executing the node file "app.js":

**Completed with error {"code":401,"body":{"code":"Unauthorized","message":"Required Header authorization is missing. Ensure a valid Authorization

[2019-07-26 16:57] robinsh commented on #31362
@pierreca How 2.7 for windows? Would that be for non-Windows 10 windows? I'm asking because the SDK doc specifically says python 3.6. My concern is that the paragraph "dealing with importerror issues" really only provides more specific prerequisites and the OS versions corresponding with them. And the articles have a separate list of prerequisites. So do I remove the prerequisites from the article

[2019-07-26 16:59] loic-sharma opened #35949 "Sidebar UI issues"
The sidebar's "How-To guides" &gt; "Run background tasks" section becomes blank while scrolling Chrome on Windows.

![docs](https://user-images.githubusercontent.com/737941/61968143-1985eb80-af8c-11e9-8f3d-bfe92b38186b.gif)

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version I

[2019-07-26 17:00] Adam-Smith-MSFT commented on #35936
@StingyJack The limitation of creating an Admin /elevated shortcut of a command prompt is part of the OS which is the host for the application. I think the mean concern was security, leaving an admin prompt available on the desktop could be lethal if someone used it to gain other access without entering credentials. I just wanted to double check if that's what you were referring to. Let me know if

[2019-07-26 17:03] Adam-Smith-MSFT commented on #35700
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-26 17:03] #35700 closed

[2019-07-26 17:04] yanrez commented on #25242
Adding a link to dockerfiles available here https://github.com/Azure/AzureML-Containers

[2019-07-26 17:06] KranthiPakala-MSFT commented on #35923
@kromerm Thank you for the info.

@candidson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 17:07] xinyanmsft commented on #35159
@robertjf you probably have nuget.develop.config file ignored in your .gitignore file it seems. gitignore rule overwrites. In azds.yaml file, set useGitIgnore: false (you may need to update your .dockerIgnore file to make sure you don't push unnecessary items).

configurations:
  develop:
    build:
      dockerfile: Dockerfile.develop
      useGitIgnore: false
      ignore:
      - "!nuget.develo

[2019-07-26 17:07] Adam-Smith-MSFT commented on #35619
@gituser227 When a blob is soft deleted, the metadata on the blob is also soft deleted. you can recover it by undelete the blob.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-26 17:07] #35619 closed

[2019-07-26 17:09] kumarallamraju opened #35950 "Fix a small typo on this page."
[Enter feedback here]

Master keys provide access to all the administrative resources for the database account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a291-89f3-299432737ffb
* Version Independent ID: b2b292bb-1beb-aaef-157c-7b70f5c96bdb
* Content: [Learn how to secure access to data in Azure Cosmo

[2019-07-26 17:11] hrasheed-msft commented on #35404
@mohakevin this issue is fixed in the linked PR, which should be live on the site this afternoon. Basically, in step 2 the scp commands should be changed to:

[code]

[2019-07-26 17:12] YutongTie-MSFT commented on #35781
@garyericson Thank you.
@revodavid We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 17:12] #35781 closed

[2019-07-26 17:14] hrasheed-msft commented on #35404
#please-close

[2019-07-26 17:14] #35404 closed

[2019-07-26 17:20] candidson commented on #35923
@KranthiPakala-MSFT @kromerm Thanks
But the solution suggested would not work since the data resides in a Virtual network. Even if I use the copy activity, I would need to stage it in a blob or sql db which doesn't have network firewall activated. This is unfortunately a no-go for my enterprise use-case.

Is there any plan on supporting data sources which reside in a vnet or have service endpoints

[2019-07-26 17:21] PingPongSet commented on #35922
The query used on https://docs.microsoft.com/en-us/azure/cosmos-db/find-request-unit-charge#use-the-azure-portal is a select statement, which shows RU.

What I meant is that to check RU for insert, do I need to run insert statement there?

If so, that is a very primitive way.

https://docs.microsoft.com/en-us/azure/cosmos-db/find-request-unit-charge

[2019-07-26 17:21] MicahMcKittrick-MSFT commented on #35942
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-26 17:22] patpicos commented on #35932
@MicahMcKittrick-MSFT Yes, they are required. My point/contention is that Azure firewall does not support

- TCP ports **with FQDN** (Control plane on 9000/22)
- UDP ports **with FQDN** (NTP)

A fall back would be to use IP address and Ports, but the IP's are ephemeral and therefore would be unmanageable.

[2019-07-26 17:26] SamaraSoucy-MSFT commented on #35650
I think from your response the issue is with understanding what this example does- the 404 is the expected behavior when trying to access any url other than the root.

There is only a single path available- the root. The different examples are not different url paths -- `localhost:8080/application_dev`, `localhost:8080/foo`, etc. The homepage displays different messages based on how you configure

[2019-07-26 17:26] #35650 closed

[2019-07-26 17:26] tommparekh commented on #34632
Hi, I am facing a challenge in connecting to my Azure BC node using Truffle (https://docs.microsoft.com/en-us/azure/blockchain/service/connect-truffle). Pre req has been installed successfully. When trying to execute require("Web3") in Truffle develop shall, getting error and hence unable to proceed from that point.

[2019-07-26 17:27] vitalybibikov opened #35951 "AKS Client configuration"
When done AKS Client aplication is by default configured with improper link, so when I was trying to enable live logging for the container it errored with "Wrong replyUrl"

Changing in Client's app url to =&gt; https://afd.hosting.portal.azure.net/monitoring/Content/iframe/infrainsights.app/web/base-libs/auth/auth.html fixed the problem

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-07-26 17:30] MicahMcKittrick-MSFT commented on #35951
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-26 17:33] brandonh-msft commented on #33965
@ggailey777, @cgillum

we've got a mix of ` ```csharp` blocks as well as these `[!code-csharp[Main](~/samples-durable-functions/samples/csx/E2_BackupSiteContent/run.csx)]` blocks.

I'm not sure what the latter does, how it works, or where those files are stored so I'm going to have to PR by using the code block (` ```csharp `) syntax if that's ok?

[2019-07-26 17:40] MicahMcKittrick-MSFT commented on #35074
@litvinolek We will close this for now but please follow up once you resolve the issue with support or let us know if you need help :)

[2019-07-26 17:40] #35074 closed

[2019-07-26 17:43] raghava2804 commented on #35918
Hi Pradeep,

Thanks for your email:) I have already provided that info in Github. Kindly
check that out. Nenu Teluguvadine:)
Have a nice weekend:)

Warm Regards,
Raghava.

On Fri, Jul 26, 2019 at 7:04 PM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2019-07-26 17:43] MicahMcKittrick-MSFT commented on #35560
@mries we will close this out for now however since you are an FTE please reach out to us offline and we can provide you with some contacts from this extension team to get further assistance.

[2019-07-26 17:43] #35560 closed

[2019-07-26 17:45] MicahMcKittrick-MSFT commented on #35657
@sandereek do you happen to have multiple subscriptions?

[2019-07-26 17:45] rohinkoul commented on #21242
Fixed through https://github.com/MicrosoftDocs/azure-docs-pr/pull/82506
Please close.

[2019-07-26 17:45] #35763 closed

[2019-07-26 17:47] MarileeTurscak-MSFT commented on #35933
@bachoang
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 17:51] litvinolek commented on #35074
I'll let you know when problem will be solved.

"let us know if you need help" 💯 🥇

[2019-07-26 17:52] MicahMcKittrick-MSFT commented on #34269
@georgewen we have a doc on AKS integration with AAD

https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration

Otherwise, if you need to use gMSA as mentioned in the doc you can use aks-engine

We will close this for now but if you have further questions just let us know and we can always reopen and continue the discussion.

[2019-07-26 17:52] #34269 closed

[2019-07-26 17:52] KranthiPakala-MSFT commented on #35923
@candidson  Thanks for your response. We have reopened the issue and assigned it to the content author to provide a better suggestion on the above ask.

@kromerm Could you please assist on the above ask from @candidson?

[2019-07-26 17:52] lawrencegripper commented on #32421
Hope I didn't have any luck getting the non-gui instructions working, sorry :(

[2019-07-26 17:53] #35754 closed

[2019-07-26 17:58] MicahMcKittrick-MSFT commented on #34278
@dohughes-msft thanks for the feedback. PR has been submitted. Once it merges, the changes will go live after a few hours.

[2019-07-26 17:58] #34278 closed

[2019-07-26 18:00] #34412 closed

[2019-07-26 18:02] MicahMcKittrick-MSFT commented on #34509
@lingtham we will continue the discussion offline. Please follow up with @jakaruna-MSFT in the MSDn thread.

[2019-07-26 18:02] #34509 closed

[2019-07-26 18:04] FrankHu-MSFT commented on #35895
Hey @TranBaVinhSon the button should be right below it:
![image](https://user-images.githubusercontent.com/6366013/61971878-0297c700-af95-11e9-894a-ba9b466c3cbb.png)
Here's a picture of what I see. Do you have the right permissions? Do you have the role : application admin?

And what kind of AAD App registration did you make?

To get this working ASAP, you can use the url method per the doc : http

[2019-07-26 18:05] MicahMcKittrick-MSFT commented on #34780
@PingPongSet we appreciate the feedback. At this time we have decided to leave the doc as is. However your comment will remain on the doc so if others feel the same they can let us know and we can always reconsider in the future.

[2019-07-26 18:05] #34780 closed

[2019-07-26 18:05] #34790 closed

[2019-07-26 18:05] MarileeTurscak-MSFT commented on #35840
Hi @sergeyz7

That term is just used to differentiate between the apps in the browser and apps that are on mobile or desktop. This is an option to select in the portal.

![image](https://user-images.githubusercontent.com/13383753/61971608-5c4bc180-af94-11e9-9b5a-158028719f48.png)

![image](https://user-images.githubusercontent.com/13383753/61971719-97e68b80-af94-11e9-9eee-2fd7a0404835.png)

Let me

[2019-07-26 18:06] #34831 closed

[2019-07-26 18:07] ChipClark opened #35953 "Angular?"
Is there a version of this for Angular?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1260f5ec-5d76-d305-15b1-48d99d359501
* Version Independent ID: 12986d84-3d51-7217-ec02-6240cffe9dae
* Content: [Clear the token cache by using Microsoft Authentication Library for .NET - Azure](https://docs.microsoft.com/en-us/azure/