[2020-05-29 16:48] MikeRayMSFT commented on #55739
@msnew79 - thanks for submitting the issue.  We are updating the article.

The images in the article are out of date. When I search "AlwaysOn" the availability group solution is returned in the search results.

![image](https://user-images.githubusercontent.com/15928587/83284319-5d8be300-a191-11ea-9134-2f0a0790d287.png)

When search "Always On" with a space, the solution does not get returned.

If

[2020-05-29 16:49] dlepow commented on #55158
@jesselve - Thanks for the feedback about this article and interest. Reviewing your comments, I agree that this article needs a significant update and alignment with the linked (updated) PowerShell content for Azure Functions. I created a work item to do this work in an upcoming sprint. We'll now proceed to close this thread as resolved, but if there are any further questions regarding the documen

[2020-05-29 16:49] #55158 closed

[2020-05-29 16:50] Karishma-Tiwari-MSFT commented on #55973
@
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-29 17:00] mamccrea commented on #55915
The only others I see in that article are Repartition and Coalesce, which are non-optimizer hints, and they're in the process of being documented.

[2020-05-29 17:04] tamram commented on #55651
@arvinder-dhar - We actually have an existing topic that shows how to check the geo-replication stats, but we didn't have a link to it there. Here's the topic for your reference:

[Check the Last Sync Time property for a storage account](https://docs.microsoft.com/azure/storage/common/last-sync-time-get)

Also, I've added links to key places in the failover docs.

[2020-05-29 17:04] tamram commented on #55651
#please-close

[2020-05-29 17:04] #55651 closed

[2020-05-29 17:10] msmbaldwin commented on #47795
Hi, @viananth. The link has been fixed, and now points to the java sample code in the page. Thank you for your feedback! #please-close

[2020-05-29 17:10] #47795 closed

[2020-05-29 17:13] michuny25 commented on #55765
@SatishBoddu-MSFT Well, I should have mentioned I meant an array of complex types like **objects**, not integers or strings. That throws an error in .NET DeviceClient SDK and does not save in Azure portal either.

[2020-05-29 17:17] msmbaldwin commented on #35177
This article has been moved to https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys, and the example in question no longer exists. #please-close

[2020-05-29 17:17] #35177 closed

[2020-05-29 17:19] mhopkins-msft commented on #55967
Hi @andifandrich,

Thank you for your feedback. This article is a quick start, which is designed to get people up and running with Azure Storage as quickly as possible. It was never intended to be a complete sample. It shows people how to create an app that connects to Azure Blob storage, create a container, upload blobs, list blobs, download blobs, and delete a container. I personally think that'

[2020-05-29 17:32] SaurabhSharma-MSFT commented on #55972
@AirLancer Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-29 17:33] msmbaldwin commented on #55787
This was corrected two days ago. Thank you for your feedback, @ntare16. #please-close

[2020-05-29 17:33] #55787 closed

[2020-05-29 17:33] #53835 closed

[2020-05-29 17:35] raghushantha opened #55982 "Publishers for Windows/Linux DSC/CustomScript Extensions are different"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b29b2f-783a-63a0-a1af-e2ce4d321387
* Version Independent ID: 97597ce9-dc46-960f-6ad7-047bfe936d48
* Content: [VM extension management with Azure Arc for servers](https://review.docs.microsoft.com/en-us/azure/azure-arc/servers/manage-vm-extensions?br

[2020-05-29 17:36] raghushantha opened #55983 "Add scenarios enabled by ArcExtensions"
This would involve enabling services such as Azure Monitor, Insights

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b29b2f-783a-63a0-a1af-e2ce4d321387
* Version Independent ID: 97597ce9-dc46-960f-6ad7-047bfe936d48
* Content: [VM extension management with Azure Arc for servers](https://review.docs.microsoft.com/en-us/

[2020-05-29 17:37] raghushantha commented on #55983
Also add direct links to onboard to these services from the ArcExtensions doc page

[2020-05-29 17:40] chschrae opened #55984 "Title doesn't match side bar"
The title doesn't match the side bar.
![image](https://user-images.githubusercontent.com/32145632/83288734-b8750880-a198-11ea-8bde-2c85c6c6dfb1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bb18bb9-3893-1e7c-bbdf-5620535ca98f
* Version Independent ID: fec78e56-e570-35fd-ac35-87178f3cda9e
* Content: [Custom Comma

[2020-05-29 17:45] jreinhardtproarch opened #55986 "New Microsoft Edge Support"
Where does the new Microsoft Edge fit in on this? Does it work like Google Chrome or is it not supported like the legacy Microsoft Edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connect: Seamle

[2020-05-29 17:46] SaurabhSharma-MSFT commented on #55971
@tx5westmt Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-29 17:47] SaurabhSharma-MSFT commented on #55969
@tx5westmt Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-29 17:49] SaurabhSharma-MSFT commented on #55986
@jreinhardtiv4 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-29 17:50] fbifido opened #55987 "Media/Codec Optimization"
For WVD, why not just do a general Media/Codec Optimization for all application, why been picky.
WVD will benefit globally.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-0a9b-9c3b-efbb5238844f
* Content: [Microsoft Teams on Windows Virtual De

[2020-05-29 17:50] stgeorgi commented on #55076
Does you domain has a - (dash) in it? There was a known issue with that.

[2020-05-29 17:52] Mike-Ubezzi-MSFT commented on #55475
@ssindhuvmo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-29 17:52] #55475 closed

[2020-05-29 17:52] LeonJansen commented on #55076
@stgeorgi No my domain name is just a regular name. So is my HostPool name. Without dashes or something.

[2020-05-29 17:59] jtwardos commented on #55076
My domain does not have any dashes. My host pool name does.

[2020-05-29 18:00] rthorn17 commented on #55954
@adminsysteme - Thanks for the tip.  This was in fact changed a little while ago.  I am submitting a PR now to have this fixed.

[2020-05-29 18:08] shashishailaj commented on #55187
@ruairidhlc I am requesting content teams help on this one as to how best this document can be updated as per the details provided by you.

[2020-05-29 18:09] stgeorgi commented on #55076
Can you please provide
hostpool name
sessionhost name
sub id
I will take look in the back end logs

[2020-05-29 18:10] shashishailaj commented on #55187
@MicrosoftGuyJFlo Coudl you please look into this request and see if the information provided by the customer can be incorporated in the current document ?

[2020-05-29 18:13] LeonJansen commented on #55076
Hostpool Name: TestLeonHostpool
Subscription Id: a10f5e8c-f87e-4dd6-9bb1-9f751ef09c18
Screenshot of the settings:
![image](https://user-images.githubusercontent.com/4737467/83291543-cbafc480-a1e8-11ea-8dd8-74cadea583d9.png)

[2020-05-29 18:27] MarileeTurscak-MSFT commented on #55899
Thanks! Just made a pull request to update the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117059

[2020-05-29 18:27] #55899 closed

[2020-05-29 18:27] #55739 closed

[2020-05-29 18:29] shashishailaj commented on #55277
@priyankareddy20 The Security Admin is not able to apply security policy because this role is designed as a role which will reside with the first level front line servicedesk within the IT organisation. Every organisation may have multiple teams and every team would have their own resource groups on Azure subscription which they would use for any azure assets like VMs, app service instance , azure

[2020-05-29 18:32] shashishailaj commented on #55277
@memildin
As per the [Security Center FAQ](https://docs.microsoft.com/en-us/azure/security-center/faq-general#who-can-modify-a-security-policy) **Subscription Contributor** can modify the Security policy . But as per the table provided in the [Security Center Permissions](https://docs.microsoft.com/en-us/azure/security-center/security-center-permissions#roles-and-allowed-actions) article they cann

[2020-05-29 18:32] ganeshspwr commented on #17557
I am getting the error while adding the 'Outlook.com' connector and tried for 'Send an Email' action. The issue is "Failed with error: 'The browser is closed.'. Please sign in again."

![image](https://user-images.githubusercontent.com/43806959/83292907-8f8c5c00-a208-11ea-8937-58fb38655f81.png)

[2020-05-29 18:34] PeterCLu commented on #55823
#assign:@sdgilley

[2020-05-29 18:47] shashishailaj commented on #55318
@OrawanO The customer is always in control of the data .  Microsoft engineers do not have access to customer data. Only the support teams have a very limited level of read-only access to customer data only when any customer opens a support case. This is done just to make sure that troubleshooting the issue for the customer takes less time.

Hence data control (who has rights to data and who doesn'

[2020-05-29 18:47] shashishailaj commented on #55318
#please-close

[2020-05-29 18:47] #55318 closed

[2020-05-29 18:48] rpeters-gom commented on #7681
Is here any news? Single log out is important.

[2020-05-29 18:48] GiftA-MSFT commented on #55984
@chschrae we will review your feedback and get back to you shortly. Thanks.

[2020-05-29 18:57] jlian commented on #55813
So you're looking to be able to grant the built-in Event Hub's system assigned managed identity some RBAC role to access one of your systems?

Or maybe you want to do the reverse where you want to have, say, one your VMs be granted a "Receiver" role to the built-in event hub, to follow principles of least privilege?

[2020-05-29 18:58] #55823 closed

[2020-05-29 19:00] BharathNimmala-MSFT commented on #55614
@Potapy4 Thanks a lot for contributing and helping fix the document bug. Our document author @bwren has reviewed and signed off the PR, it will be merged to the original document accordingly.

@jdrepo Thanks again for bringing this to our notice. PR will be merged and the document will reflect the fix accordingly.

At this point it appears that there's no further edits or updates needed to the doc

[2020-05-29 19:00] #55614 closed

[2020-05-29 19:01] PeterCLu commented on #55823
@stevenluda, thanks for your report. The author has updated the article to be more clear. You should see the changes live in a few hours. I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, please open a new issue with additional information.

[2020-05-29 19:01] ivratche opened #55990 "Example of how to issue a restricted claim and description of error messages"
Can you provide an example on issuing a claim that is part of the restricted claim set. I tried to publish client_id claim, but get some nebulous "This claim is not supported and will not be returned in the token" warning message. If restricted claims cannot be issued, can you state it clearly in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-05-29 19:05] SatishBoddu-MSFT commented on #55765
@michuny25 Could you please provide a sample twin which has an array of complex types like objects? any particular error log or screenshot would also be helpful.

[2020-05-29 19:07] SubhashVasarapu-MSFT commented on #55351
@abhijithkumar123 , This has been noticed and a know issue. The basic problem is that TotalLatency is set for all requests whereas BackendLatency is only set when forwarding requests (not even including caching routes). For scenarios like caching, WAF, and redirect routes, the total latency is much smaller since no backend requests are made which drives down the overall average latency for the Fro

[2020-05-29 19:07] #55351 closed

[2020-05-29 19:08] SaurabhSharma-MSFT commented on #55535
@Vdevtest We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-29 19:08] #55535 closed

[2020-05-29 19:08] reyang commented on #55726
@Johnnytechn check out this https://docs.microsoft.com/en-us/azure/azure-monitor/app/sdk-connection-string?tabs=net.

@ramthi

[2020-05-29 19:09] msnew79 commented on #55739
Hello,
Thanks for your reply. Still couldn't find AlwaysOn in the portal, I tried
several ways like AlwaysOn, Always On, alwayson but it didn't work.

Please advise.

[image: image.png]

On Fri, 29 May 2020 at 19:48, Mike Ray <notifications@github.com> wrote:

[2020-05-29 19:13] kgremban commented on #55157
@rgamage Is this issue a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/55154, in reference to those three steps that are reproduced at the top of all three gateway articles?

[2020-05-29 19:14] GiftA-MSFT commented on #55637
@mikehachen thanks for clarifying. Yes, Form recognizer is in Public Preview. This [document ](https://azure.microsoft.com/en-us/support/legal/preview-supplemental-terms/) explains the difference preview programs. I have also notified the appropriate team to update the Get Started steps accordingly. Hope this helps. Thanks.

[2020-05-29 19:14] #55637 closed

[2020-05-29 19:20] Falconwmua commented on #55813
The second one. We want a VM or other service that can use its Managed Identity or Service Principal (if MI isn't supported) and be assigned a Receiver role against the Built-In Endpoint.

[2020-05-29 19:22] rooque commented on #15639
I agree. It doesn't make sense to pay a routing rule just to redirect http -> https.

[2020-05-29 19:23] jlian commented on #55813
Got it. Support for this scenario is on the roadmap. However, I think it's likely that we end up having "IoT Hub Receiver" for consuming from the built-in endpoint and not "Event Hub Receiver"

Will that work in your system?

[2020-05-29 19:28] Falconwmua commented on #55813
The role name doesn't matter as long as we can use a version of the EventHostProcessor library that supports MI/SP.

[2020-05-29 19:35] rooque opened #55991 "Pay a routing rule just to redirect HTTP to HTTPS?"
While this method work, it requires a second routing rule, with a service charging model based on number of routing rules I feel there should be something more intrinsic to the service to support this.

Can't we have one more option in the "Accepted protocols" menu like "Redirect HTTP to HTTPS"? It makes a lot more sense.

![image](https://user-images.githubusercontent.com/8527149/83297593-3cdf7f8

[2020-05-29 19:36] jtwardos commented on #55076
I can't provide my information since it is a production environment but please keep us posted since it is all probably related.

[2020-05-29 19:41] MarileeTurscak-MSFT commented on #55966
Looks like someone already fixed this as it now leads to https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/Default.aspx

I'm closing this out but if you're still seeing the issue feel free to tag me or make a new issue and we can get this fixed.

[2020-05-29 19:41] #55966 closed

[2020-05-29 19:43] MicrosoftGuyJFlo commented on #51324
https://docs.microsoft.com/azure/active-directory/devices/hybrid-azuread-join-plan#unsupported-scenarios

[2020-05-29 19:43] MicrosoftGuyJFlo commented on #51324
#please-close

[2020-05-29 19:43] #51324 closed

[2020-05-29 19:57] lobrien commented on #55901
Created docs workitem: https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1727908/?triage=true

[2020-05-29 19:59] MarileeTurscak-MSFT commented on #55758
Closing this out as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/55757

[2020-05-29 19:59] #55758 closed

[2020-05-29 19:59] TravisCragg-MSFT commented on #55991
@rooque As this is a feature request, your best place to post this is at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-29 19:59] #55991 closed

[2020-05-29 20:00] shashishailaj commented on #55499
@davida1992 I reviewed this and did some research on this. I would suggest you to start at the [troubleshooting MFA NPS extension article](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-errors#troubleshooting-steps-for-common-errors) NPS extenison for Azure only performs secondary authentication for Radius Requests which have Access Accept state. I w

[2020-05-29 20:00] #55499 closed

[2020-05-29 20:00] TravisCragg-MSFT commented on #55871
@medavamshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-29 20:00] #55871 closed

[2020-05-29 20:04] MarileeTurscak-MSFT commented on #55735
I'm closing this out since I have not heard back and this is more of a product issue than a document bug.

If you have further questions please post to [Microsoft Q&A ](https://docs.microsoft.com/answers/topics/azure-active-directory.html)

[2020-05-29 20:04] #55735 closed

[2020-05-29 20:16] TravisCragg-MSFT commented on #55928
@hisasima can you describe what you mean by "dynamic SNAT" for classic LBs? The behavior for classic VMs is not configurable and is discussed in the [Classic LB outbound connections doc](https://docs.microsoft.com/en-us/previous-versions/azure/load-balancer/load-balancer-outbound-connections-classic#assignilpip).

[2020-05-29 20:20] MarileeTurscak-MSFT commented on #55686
I assume you mean 8.8.1?

I made a pull request to update the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117102

Thanks for the feedback! If you have further comments feel free to tag me or make a new issue.

[2020-05-29 20:20] #55686 closed

[2020-05-29 20:26] trobin77 opened #55994 "Please indicate on the page that the sample is also deprecated if the sdk the pages uses is deprecated. Spent time going through the sample before going to the code to find it was ultimately deprecated."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5044fe51-0f4b-3697-41af-19df573b5b13
* Version Independent ID: 82063b3e-7576-5f41-2441-cb2a903490b9
* Content: [Sample: Explore an image processing app in C# - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/compute

[2020-05-29 20:28] Mike-Ubezzi-MSFT commented on #55871
@medavamshi Thank you for the follow-up. And @TravisCragg-MSFT I am moving this to Computer & Containers as I have updated the metadata to align with the specific document topic.

[2020-05-29 20:30] tfitzmac commented on #55241
@jtuliani  - thanks for this feedback. The extra column is a mistake. @rayne-wiselman - are you able to merge the fix?

[2020-05-29 20:48] tfitzmac commented on #55856
@serbaniuliuscezar - thanks for this feedback. Yes, it's possible through [what-if](https://docs.microsoft.com/en-us/python/api/azure-mgmt-resource/azure.mgmt.resource.resources.v2019_10_01.operations.deploymentsoperations?view=azure-python#what-if-resource-group-name--deployment-name--properties--location-none--custom-headers-none--raw-false--polling-true----operation-config-). I can add links to

[2020-05-29 20:48] normesta commented on #55252
Thanks @tam203. Yes "include" was incorrect. It should be include-pattern. I've updated the article and that change should appear live after 3:00 Pacific time today.  Thank you!

[2020-05-29 20:48] normesta commented on #55252
#please-close

[2020-05-29 20:48] #55252 closed

[2020-05-29 20:57] kgremban commented on #55173
@rgamage Can you provide more information about this issue? Were there any particular spots in the documentation that caused confusion? Or a particular point in the process when you found yourself unsure of what to do? I'm making general improvements to the docs as part of this update which should help readers understand from the beginning what path they're going to take, and what steps will be in

[2020-05-29 21:10] derek1ee commented on #55017
The Webjob schedule trigger has a few implementations, depending on when you created those you may have a schedule that's backed by Scheduler or you may not.

If you have a Webjob schedule that's backed by a Scheduler resource, you will need to update it. The easiest way to verify is to navigate to Scheduler resources in the subscription in the attached e-mail, and see if they are calling into you

[2020-05-29 21:10] stgeorgi commented on #55076
Sorry I still need session host (and domain name) {sessionHostName}@{domain}

[2020-05-29 21:12] MartinManchev commented on #55126
Hi, sorry for my late response. No, I don't use `ResolveJsonPathsInJsonTokens `. I've pasted a snippet from TechnicalProfile:

[code]
As you said, the error occurs when the REST Api return empty array => `[]`. It works perfectly when the REST API returns an array with any value in it.

[2020-05-29 21:17] tfitzmac commented on #55666
@softchris - thanks for this feedback. I will add a step to check the installed CLI version.

[2020-05-29 21:18] #55856 closed

[2020-05-29 21:28] cloudappsguy opened #55996 "Verbiage is unclear on scopes"
[Enter feedback here]
Under the section **Register the ProxyIdentityExperienceFramework application**
Find the third grouping of instructions, **item 9**

The instruction refers to "both scopes".  No where in prior instruction does it outline two scopes.  Only a single scope is noted to be added under the prior section _Register the IdentityExperienceFramework application_

Is this a mistake?  Sho

[2020-05-29 21:29] jperl opened #55997 "Unable to upgrade cluster through azure portal"
When I try to upgrade the Kubernetes version I get:

"Failed to save Kubernetes service. Error: The principalId 'xxxx' on the resource's Identity property is invalid and must be empty or match the existing principalId of 'xxxx'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Vers

[2020-05-29 21:32] jperl commented on #51251
Same for me "az aks browse" shows the login page using kubernetes 1.16.9.

RBAC is enabled and I added the cluster role binding with `kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard`.

[2020-05-29 21:38] jperl opened #55998 "AKS Insights: Portal frontend crash"
While trying to use insights on my azure kubernetes cluster, when I scroll the containers tab it immediately crashes. This is the error in devtools:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00bba50e-e07b-0a1c-5ac9-4721436f73e2
* Version Independent ID: 2f8ee7a7-b75d-39d9-4b02-673a6cceff2b
* Content: [Kube

[2020-05-29 21:55] rthorn17 commented on #55954
https://github.com/MicrosoftDocs/azure-docs/pull/55988

[2020-05-29 21:58] hisasima commented on #55928
Dynamic SNAT means SNAT port is allocated dynamically not fixed limit. If the Classic VM requires to connect 3000 TCP connections within 4 minutes, 3000 SNAT ports  are allocated dynamically and the VM can use 3000 SNAT ports at the same time. I confirmed this behavior with packet capture from Classic VMs. This behavior is different from ARM. In the case of ARM, the number of maximum SNAT ports is

[2020-05-29 22:10] WilliamAntonRohm commented on #55713
@swanderz -- Anders, please do add this issue into that repo, and link both issues together.

[2020-05-29 22:10] BharathNimmala-MSFT commented on #55982
@raghushantha Thank you for sharing the feedback , our team will look into it and get back to you at the earliest.

[2020-05-29 22:11] BharathNimmala-MSFT commented on #55983
@raghushantha Thank you for sharing the feedback , our team will look into it and get back to you at the earliest.

[2020-05-29 22:16] PeterCLu commented on #55901
@DonPetry-EY , thanks for your report. Our documentation team is aware of your request, and they have created a work item to track this request. We will prioritize this item along with other requests. I'll proceed #please-close this issue.

[2020-05-29 22:16] #55901 closed

[2020-05-29 22:18] #55666 closed

[2020-05-29 22:19] euangms commented on #55801
I don't understand what you mean by a shorter result do you mean less rows in the grid? The display grid is much easier to use and only shows 10 initially, please do not use Pandas for this case as its fraught with problems. There are 2 functioning options above.

[2020-05-29 22:19] aashishb commented on #55065
Thanks for the feedback! @Blackmist for doc feedback.

[2020-05-29 22:20] tfitzmac commented on #55666
I have updated the article, but it probably won't get published until Monday morning.

[2020-05-29 22:29] rgamage commented on #55173
yes, the spot that caused confusion is when it says, "If you're setting up a downstream IoT device for a gateway scenario, you can generate demo certificates for X.509 authentication.".  Yes, I AM setting up a downstream IoT device for a gateway scenario.  Do I *need* to generate X.509 certs, if I've opted to use SAS keys instead of X.509 certs?  It's not clear at all from this article what my cho

[2020-05-29 22:33] JamesTran-MSFT commented on #55806
@xom-pschiess
I was able to sync up with my colleagues and test out this issue within my lab and will post my findings along next steps below.

**Findings:**
Both a Group Admin and User Admin can create/manage groups. However, as you stated, a User Admin can create users as well.

- Each description for the roles aren't very clear since they just say "[can create and manage all groups](https://doc

[2020-05-29 22:33] #55806 closed

[2020-05-29 22:36] ianwright1984 opened #56000 "Auto-update with full SQL?"
Article mentions that auto-upgrade is enabled by default with SQL Express.  What about when using AD Connect with full SQL?  Can auto-upgrade be used?  Are there any implications to consider for upgrading when using full SQL instead of SQL Express?  Can these be added to this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-29 22:37] GiftA-MSFT commented on #55793
@portacha I'm able to confirm that the code in the documentation works.

@aahill do you have any idea on what the issue may be or the right point of contact to investigate further? Thanks.

![image](https://user-images.githubusercontent.com/51332022/83309757-2391ff80-a1d8-11ea-9d69-c59c55522c6f.png)

[2020-05-29 22:39] jperl opened #56001 "Cannot view logs for AKS cluster"
When I try to run this query

"AzureDiagnostics
| where Category == "cluster-autoscaler""

It says "Failed to retrieve schema. Please try to refresh the page."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9587e613-7f5d-feb8-5032-0188a5606982
* Version Independent ID: ab0195ac-ff75-efe0-74c2-a9afd95089e8
* Content: [L

[2020-05-29 22:41] rgamage commented on #55109
The example linux command you mention is not the same as what's in the article.  The article has this line instead:
./certGen.sh create_edge_device_certificate "MyEdgeDeviceCA"

From this example, it's unclear to me if I should run this command as is, or substitute in my edge device name, or add CA to the end of my device name, or ... who knows what?  Your example is a little more clear, because <

[2020-05-29 22:43] MarileeTurscak-MSFT commented on #55768
You're right - thanks for this feedback. The release notes even have it as GA but it looks like this document just wasn't updated yet. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

Making a pull request to update this.

[2020-05-29 22:45] Karishma-Tiwari-MSFT commented on #55973
@palma21 Can you please share your thoughts on the customer's concern about releasing two patch versions at the same time. Thanks. :)

[2020-05-29 22:45] #55768 closed

[2020-05-29 22:50] Karishma-Tiwari-MSFT commented on #55076
@LeonJansen @jtwardos Can you please share the details requested in the comments above, in an email to AzCommunity@microsoft.com. Please include 'Attn: Karishma' in the subject.
@stgeorgi I can loop you on that email and we can have the discussion with the customers offline.

[2020-05-29 22:52] Karishma-Tiwari-MSFT commented on #16033
Thanks @SAIMMINHAS
I replied over your email.
I will close this issue, once you have it resolved, we can share the resolution here.

[2020-05-29 22:52] #16033 closed

[2020-05-29 23:00] Karishma-Tiwari-MSFT commented on #55687
Thanks @cryptofetti
I replied over your email.
I will close this issue and once it is resolved, we can share the resolution here, for others to reference.

[2020-05-29 23:00] #55687 closed

[2020-05-29 23:03] Karishma-Tiwari-MSFT commented on #55987
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update as appropriate.

[2020-05-29 23:04] Karishma-Tiwari-MSFT commented on #55997
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-29 23:06] jperl commented on #55997
I deleted the cluster and created a new one.

[2020-05-29 23:06] #55997 closed

[2020-05-29 23:10] roygara commented on #55282
I've finished working with the product team and submitted changes. They should be live soon.

I'll close this out accordingly, thanks again for reaching out. It really does help us improve our docs. :)

#please-close

[2020-05-29 23:10] #55282 closed

[2020-05-29 23:11] jperl commented on #56001
After deleting and recreating the cluster, now I can view logs.

[2020-05-29 23:24] Karishma-Tiwari-MSFT commented on #55997
Thanks for sharing the update.

[2020-05-29 23:26] abhaybhangale commented on #55509
Hello Lisa,
                       Thanks for responding. I tried it out but it doesn't
work as explained in this blog
<https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-labels-aspnet-core>.
When i create a feature flag and then add labels to it, Azure app
configuration creates newer versions of it with the new labels.  When i
attempt to read the config flags using the .select(n

[2020-05-29 23:26] Karishma-Tiwari-MSFT commented on #55378
Let me know if the issue is resolved or if you need further help on this.

[2020-05-29 23:43] Karishma-Tiwari-MSFT commented on #55894
The Shared Image Gallery lets you share your custom VM images with others in your organization, within or across regions, **within an AAD tenant.**
You can associate or add an Azure subscription to your Azure Active Directory tenant: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory
If I did not get your question right, ple

[2020-05-29 23:51] rodrigb opened #56003 "nit: Segment length is given in ISO8601 duration"
"For example, if segmentLength is set to **300**, then the module will accumulate 5 minutes worth of video..."

This case the user can use PT5M, there is really no need to say 300...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f0b865c-299f-a496-a1a7-1eaaeddcfdc8
* Version Independent ID: a94a1a36-b873-a51e-2256-8cb

[2020-05-29 23:53] rodrigb opened #56004 "Improve Title"
This is about retention policy and not recording policy. Title could be changed to:

Manage recording retention policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f0b865c-299f-a496-a1a7-1eaaeddcfdc8
* Version Independent ID: a94a1a36-b873-a51e-2256-8cbd74364c3d
* Content: [Playback of recordings - Azure - Live Vide

[2020-05-29 23:54] Grace-MacJones-MSFT commented on #55075
Upon further review, we feel your feedback would be best received by the doc author @sethmanheim   to update the  doc

[2020-05-29 23:55] cahann commented on #55704
Luis does not consume v3 of the APIs. LUIS surfaces the sentiment label and score aligning with TA v2 GA API

[2020-05-29 23:56] rodrigb opened #56005 "Media graph states"
There is not such thing as Media Graph states. IT should be clear that topologies don't have states and "graph instances" have states. Thus that should be Graph Instance States.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ebfa099-3ed5-ac9a-e8c2-c7d2c5d1cb65
* Version Independent ID: fe310eb0-b10a-99b5-cad0-c92c13d5

[2020-05-29 23:59] Mike-Ubezzi-MSFT commented on #55968
@dudu-markovitz Thank you for making us aware of this issue. We are evaluating this and will update the the documentation as appropriate.

[2020-05-30 00:00] rodrigb opened #56006 "Frame rate filter processor"
Text least to believe that frames would be sampled at the specified rate. According to this if you had a 15fps source and you sampled at 30fps you would end up with 30fps (and some pipelines do work like this).

The frame rate filter limits the frame rate at a maximum of the specified value, so if it is set to 30fps and the source is 15, the result is still 15 fps.

---
#### Document Details

⚠ *D

[2020-05-30 00:02] rrg92 opened #56007 "X letter in Max Iops column"
PLease, can you change documentation to add the meaning of "x" in max iops.

For example, what the difference between a Max Iops of "8000" and "16x500".

For that one that are starting in Azure, this info can be deducted as "500 iops per disk, up to 16", but the doc can be better if it provide all information to all people understand product objectives, and not leave some own interpretantions.

Or

[2020-05-30 00:11] Mike-Ubezzi-MSFT commented on #55640
@eroruz Did this error occur when you ran the DMA assessment ([Assess your on-premise database](https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-azure-sql-online?github-auth-complete=true#assess-your-on-premises-database)) or did this occur when you attempted to [migrate the sample survey](https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-azure-sql-online?github-auth-com

[2020-05-30 00:17] jperl commented on #56001
This seems to be working now for some reason 🤷.

[2020-05-30 00:17] #56001 closed

[2020-05-30 00:19] Mike-Ubezzi-MSFT commented on #55994
@trobin77 Thank you for bringing this to our attention. We are evaluating this and will update the documentation where appropriate.

[2020-05-30 00:25] MarileeTurscak-MSFT commented on #55750
I believe it's only for the admin as it should specify if the users need it, but I agree that it's not entirely clear so I reached out to the product team to confirm.

+ @curtand

[2020-05-30 00:48] Mike-Ubezzi-MSFT commented on #56007
@rrg92 Thank you for bringing this to our attention. This is being assigned to an engineer specializing in compute services and will respond as appropriate.

[2020-05-30 01:08] Mike-Ubezzi-MSFT commented on #55964
@langstonj Thank you for your inquiry. Azure SQL Database currently allows you the flexibility to control the desired TLS version, and there is no default version auto-selected if no TLS version is defined in the connection string. This gives you the option to connect without encryption. See: [Minimal TLS version setting is now available for Azure SQL Database and Azure Synapse Analytics](https://

[2020-05-30 01:17] JasonHershey opened #56009 "Editorial - role names improperly capitalized"
just a editorial nitpick.  Role names are not properly capitalized - do not match UI  Should be:
Azure Sentinel Reader
Azure Sentinel Contributor
Log Analytics Contributor
etc. etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22df-0070-b051fc09cb0c
* Version Independent ID: c543b5d2-e0db-d137-acd2-43ed

[2020-05-30 01:24] Mike-Ubezzi-MSFT commented on #55990
@ivratche Thank you for bringing this to our attention. This is being investigated by a security engineer to provide you some guidance and evaluate enhancement to the documentation where appropriate.

[2020-05-30 01:27] Mike-Ubezzi-MSFT commented on #55996
@cloudappsguy Thank you for bringing this to our attention. This is being investigated by a security engineer and will have an update to the documentation where appropriate.

[2020-05-30 01:31] Mike-Ubezzi-MSFT commented on #56000
@ianwright1984 Thank you for bringing this suggestion to our attention. I am having a security engineer evaluate and consider enhancements to the documentation where appropriate.

[2020-05-30 01:36] Mike-Ubezzi-MSFT commented on #55976
@rigdern Thank you or making us aware of this suggestion. I am having an integration engineer evaluate the feedback and update the documentation where appropriate.

[2020-05-30 01:40] Mike-Ubezzi-MSFT commented on #56001
Thank you for the update. Please let us know if there is additional assistance needed.

[2020-05-30 01:44] Mike-Ubezzi-MSFT commented on #55998
@jperl Thank you for bringing this to our attention. We are investigating this issue and will have feedback when we understand the issue in greater detail.

[2020-05-30 01:54] Mike-Ubezzi-MSFT commented on #55979
@vikasmishra5599 Please let us know if you require additional assistance with this.

[2020-05-30 01:59] Mike-Ubezzi-MSFT commented on #56003
@rodrigb Thank you for pointing out this detail and making the suggestion. This is being evaluated where an enhancement to the document will be made as appropriate.

[2020-05-30 02:01] Mike-Ubezzi-MSFT commented on #56004
@rodrigb Thank you for pointing out this detail and making the suggestion. This is being evaluated where an enhancement to the document will be made.

[2020-05-30 02:02] Mike-Ubezzi-MSFT commented on #56005
@rodrigb Thank you for pointing out this detail and making the suggestion. This is being evaluated where an enhancement to the document will be made.

[2020-05-30 02:05] Mike-Ubezzi-MSFT commented on #56006
@rodrigb Thank you for pointing out this detail and making the suggestion. This is being reviewed where a correction to the document will be made as appropriate.

[2020-05-30 02:20] c-nova commented on #55801
Yes, I understanding what you meant.
But this result is showed 1,000 record actually as I mentioned below.
If want to use this sample code in contrast to 'sampled_taxi_df.show(5)', I feel so naturally what 'display()' code also five results.
![image](https://user-images.githubusercontent.com/13674113/83317424-78308b80-a267-11ea-9236-4c77a9f0f5d1.png)

[2020-05-30 02:52] harbour972 opened #56010 "follow the doc but cannot upload the csv.file"
The rows in a downloaded CSV template are as follows:

Version number: The first row containing the version number must be included in the upload CSV.
Column headings: The format of the column headings is <Item name> [PropertyName] <Required or blank>. For example, Member object ID or user principal name [memberObjectIdOrUpn] Required. Some older versions of the template might have slight variatio

[2020-05-30 03:47] euangms commented on #55801
The 2 lines are there for different reasons, head(5) is a fast subset and may result in a predicate pushdown which using pandas will not, display provides a rich easier to read grid with more rows for very little speed penalty as it may result in pushdown as well, and also charting.

One is basic and fast the other is slower but richer and more complete.

[2020-05-30 04:40] AjayKumar-MSFT commented on #55635
@cconrado, Thanks for taking time to share your valuable feedback!
We (@vipulsparsh) have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-30 04:42] Mike-Ubezzi-MSFT commented on #55635
@billmath Thank you for the suggestion. This is being reviewed as an enhancement and an update will be made as appropriate.

[2020-05-30 04:57] AjayKumar-MSFT commented on #55345
@saquibm6, Sure, thanks for the update. Please let us know if you need any further help.

[2020-05-30 05:22] AjayKumar-MSFT commented on #56009
@JasonHershey, Thanks for taking time to share your valuable feedback! We are evaluating further and update the document as appropriate.

[2020-05-30 05:25] AjayKumar-MSFT commented on #56010
@harbour972,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-30 06:08] DixitArora-MSFT commented on #55617
@gunzip I have assigned this to content author for further review and update as appropriate.

[2020-05-30 06:21] mjaow commented on #55961
thanks ,I misunderstand the Compute name  in error msg,I thought it says my aksresourceid is illegal

[2020-05-30 06:21] #55961 closed

[2020-05-30 08:29] BenHayat opened #56012 "The JS code presented is old"
Hi;
The JS code shown here seems to be old and does not match the code in github.

Edited : Added doc metadata info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370e4c33-91b6-eafb-1ced-0a079449d982
* Version Independent ID: cefd38c9-5c1e-c381-0549-ded07f752f97
* Content: [Tutorial: Enable authentication in a single-p

[2020-05-30 08:50] bybluemoon commented on #23238
Sorun giderme ayrıntıları
Yöneticinize başvurursanız bu bilgileri ona gönderin.
Bilgileri panoya kopyala
Error Code: 500121
Request Id: b198a603-bd4f-44c9-b7c1-acc104081200
Correlation Id: 395ba43a-3654-4ce9-aead-717a4802f562
Timestamp: 2020-05-30T08:50:26Z
Gelişmiş tanılama: Etkinleştir
Bir sorunla ilgili destek almayı düşünüyorsanız, bunu etkinleştirin ve hatayı yeniden oluşturmaya çalışın. Bu i

[2020-05-30 08:51] bybluemoon commented on #23238
Error Code: 500121
Request Id: b198a603-bd4f-44c9-b7c1-acc104081200
Correlation Id: 395ba43a-3654-4ce9-aead-717a4802f562
Timestamp: 2020-05-30T08:50:26Z

[2020-05-30 08:55] amanmcse commented on #55822
@jackbradshaw Have you had a chance to test this out?

[2020-05-30 10:04] #55625 closed

[2020-05-30 10:27] rolandabt commented on #55955
@DCtheGeek you are correct. It does what it says. Sorry for not being clear in my first message.

I'll try again: As a beginner, I was looking for an example I can easily apply to my scenario to display all resources but show me the human-readable subscription names instead of IDs.
Section https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/advanced?tabs=azure-cli#displaynames

[2020-05-30 10:39] UnsnappedKhan8 commented on #53334
Yall ar playin to damn much

On Wed, Apr 29, 2020, 2:55 AM souravmishra-msft <notifications@github.com>
wrote:

[2020-05-30 11:52] eolver opened #56013 "incorrect formatting of results"
The script works but the formatting results is not formatted as output correctly when the email is sent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f683b6-1018-c159-f512-8719a14dba30
* Version Independent ID: 91040415-b763-2e23-10bf-820294944595
* Content: [Automatic tuning email notifications how-to guide - Azur

[2020-05-30 11:58] mosdav opened #56014 "Add more clear doc about PCM samples format"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/how-to-use-audio-input-streams.md

- Lets mention explicitly we support **signed** samples (`s16`)
- Lets mention we expect **little-endian** `s16` samples

Edit: Adding GitHub metadata info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-30 12:08] langstonj commented on #55964
Mike:

I can see my question was not clear so I provide the following visuals from the portal to better convey what I am asking regarding the documentation on the TLS firewall feature:

#1 nothing appears to have been set for a Minimal TLS Version
[cid:image001.png@01D6364E.6A6C26B0]

#2  “> 1.0” has been set for a Minimal TLS Version
[cid:image002.png@01D6364E.6A6C26B0]

  *   #1 conveys that the

[2020-05-30 12:47] AjayKumar-MSFT commented on #55508
@mattpatera-ych, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-05-30 12:47] #55508 closed

[2020-05-30 13:07] NaveenAkode-MSFT commented on #56012
Thanks @BenHayat for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-05-30 13:08] BenHayat commented on #56012
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-single-page-app?tabs=app-reg-preview

[2020-05-30 13:18] DCtheGeek commented on #55955
@rolandabt Thank you for clarifying and providing such a detailed explanation. Looking at the description and query for that entry, I agree that it could be better as a standalone sample. Looking at the next couple queries, I believe it was originally intended to be a series of queries progressively showing more complex joins, but taken as a single sample it's missing the mark. I'm going to update

[2020-05-30 13:20] NaveenAkode-MSFT commented on #56014
Thanks @mosdav for the feedback!

We are taking a look into this and will get back to you soon.

[2020-05-30 13:40] NaveenAkode-MSFT commented on #56013
Thanks @eolver for the question! We are taking a look into this and will get back to you soon.

[2020-05-30 13:48] #55955 closed

[2020-05-30 14:43] RohitMungi-MSFT commented on #55616
@Brunolosse We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-30 14:43] #55616 closed

[2020-05-30 15:04] ksivasenthil opened #56016 "HTTP 404 error on the code sample"
Running the code sample offered in the document; I receive the following error always.

    Response:
    {
        "error": {
        "code": "404",
        "message": "Resource not found"
        }
    }

I have added the subscription key and endpoint in environment variables. I use a local image which when read into byte array has length of 81649

---
#### Document Details

⚠ *Do not edit this

[2020-05-30 15:05] ksivasenthil commented on #56016
Formatted the text with markdown syntax.

[2020-05-30 15:25] ksivasenthil commented on #56016
I created a trial access for the Computer Vision API. On successful addition of the API to my subscription account URL's were printed on the screen as endpoint. They are listed here -

    https://westcentralus.api.cognitive.microsoft.com/vision

    https://westcentralus.api.cognitive.microsoft.com/vision

    https://westcentralus.api.cognitive.microsoft.com/vision

    https://westcentralus.api

[2020-05-30 15:25] #56016 closed

[2020-05-30 15:56] simo-92 commented on #38588
I , the problem is solved? I'm having the same issue with angular app and .NetCore web Api. The consent screen report only the client app permission.

[2020-05-30 16:07] rbrundritt commented on #55608
Currently the static map image service does not support satellite imagery. @outinyman who is the PM for the service, has this on the feature request list.

[2020-05-30 16:57] AjayKumar-MSFT commented on #56012
@BenHayat,  Thanks for sharing the doc details! We are taking a look into this and will get back to you soon.

[2020-05-30 17:06] aferrercrafter commented on #49603
@nissan
I fell into the same problem as you, and after a while, I understood the confusion.
_HttpTrigger_ Is **NOT** coming from Microsoft nugget, is actually the name of the example **function**, so, if you called your function _MyFunction_, instead of _HttpTrigger_ you actually need, `MyFunction.Run()`. If you see the beginning of the doc, the ask you to:

Create an HTTP function from the templa

[2020-05-30 17:09] JeffGiroux opened #56017 "supply example for updating customData via REST for vmss"
[Enter feedback here]
The docs state that customData for vmss can be updated via REST. I cannot find a good example. Can you supply an example or link?

"you can update VMSS custom data via REST API"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 282b39fe-e8fe-f698-36c2-321f088f6554
* Version Independent ID: 2a7c130c-2

[2020-05-30 17:12] Mike-Ubezzi-MSFT commented on #56016
@ksivasenthil Thank you for bringing this to our attention. If you need additional assistance please do not hesitate to reach out with additional questions.

[2020-05-30 17:14] Mike-Ubezzi-MSFT commented on #56016
@PatrickFarley for awareness with regard to a potential doc update with this information.

[2020-05-30 17:20] Mike-Ubezzi-MSFT commented on #56017
@JeffGiroux Thank you for bringing this to our attention. I will have an engineer from the compute team review this and respond with the available documentation.

[2020-05-30 18:09] desek opened #56018 "mp.microsoft.com DNS record does not resolve"
"Required by Windows Server based nodes enabled" section stated that `mp.microsoft.com` is required to install windows-related binaries - but this DNS record does not resolve.

Is this a typo or not required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c

[2020-05-30 18:54] jaymichaud opened #56019 "MOSP diagram and subsequent table conflict"
In the diagram for the Microsoft Online Services Program, the Invoice and Payment methods are pointing to the billing account, but scope/definition table states that invoices are generated at the Subscription scope. These seem to contradict each other. If it is an error, please correct it; if not, please include additional explanation. For the other programs, the diagrams and the tables match with

[2020-05-30 18:58] JeffGiroux commented on #56017
Thanks, ideally an example for update as well as create would be great as I cannot find either.

update page - https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/update

Update page does not list any examples.

create-or-update page - https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate

Create page has lots of examples, but do not contain

[2020-05-30 19:30] mslot commented on #55017
@derek1ee It is a pretty new Web job and I haven't any email. I don't have a scheduler resource in my subscription. My webjob is scheduling, does this mean that there is a new way for it to schedule?

[2020-05-30 20:17] simo-92 opened #56021 "Problem with multi tier multitenant app consent"
I'm Building an Angular 9 + Asp.Net Core WebApi App using Azure active directory for the authentication in a multitenant context. The WebApi Component have to call some MS Graph Api. So following the documentation, I created two apps on the portal (one for each component). In the web Api app i did the following operation:

1. added the authorizazion needed for the graph calls
2. added the ID of th

[2020-05-30 21:50] Marusyk commented on #43764
@NavtejSaini-MSFT just installed emulator and got error after start
[code]

[2020-05-30 22:20] nreddipalle commented on #36274
I am trying to find a working ARM template sample for Windows AKS. any suggestions??

[2020-05-30 22:56] stgeorgi commented on #55076
sure

[2020-05-30 23:08] whomanGHA opened #56024 "App Insights will work on V2 and V3 functions now."
Page states that Monitoring Functions with App Insights is not supported but this should now only be true for V1 functions.  See this issue for V3 - https://github.com/Azure/azure-webjobs-sdk/issues/2263.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f566c78c-d06d-34bf-b358-feb1328954c5
* Version Independent ID: 6dbcc

[2020-05-30 23:47] Hasil-Sharma opened #56025 "Default Value of Variables"
Hey !

I want to directly assign values passed as parameters to variables. To keep things cohesive, I only want to use variables in my pipeline. One obvious way to assign parameter value to a variable, a Set Variable activity.

Another way is via "defaultValue" attribute in variables. In case of string parameters, I can do this by adding @{pipeine().parameters.<< parameterName >>} to defaultValue

[2020-05-30 23:47] cananac opened #56026 "Diagnostic settings shared among subscription"
Hi,

When I create a diagnostic setting for Activity Logs of a particular resource under a Subscription, I can see that diagnostic setting in other resources Diagnostic Settings and under the Subscription Activity Log Diagnostic Settings. Is a platform diagnostic setting shared among Subscription?

Thanks,
Canan

How to reproduce:

- Create a diagnostic setting for a resource under a subscription

[2020-05-31 00:07] ggailey777 commented on #53975
@cfframe thanks for reporting the issue. This should now be updated correctly as of VS2019 16.5.5. Please let us know if you are still seeing something different. #please-close

[2020-05-31 00:07] #53975 closed

[2020-05-31 00:10] ggailey777 commented on #47693
@ticianaciminari sorry for the delay in fixing this. I've updated it in the private repo. Please reopen if this doesn't address the issue to your satisfaction.  #please-close

[2020-05-31 00:10] #47693 closed

[2020-05-31 00:24] ramkumar-b commented on #16990
has this issue been resolved? What do we do? I have the same issue running Twilio's sample code today. Any workarounds to use it in 3.x Function Apps?

[2020-05-31 00:27] ggailey777 commented on #43277
@brucemcmillan I think that the error you're seeing is outside the scope of this article. You can get product feedback by asking your questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-functions) or on [this Microsoft Q&A question page](https://docs.microsoft.com/answers/topics/azure-functions.html).

[2020-05-31 00:27] #43277 closed

[2020-05-31 01:07] kimherzig commented on #53823
@djpmsft: When will this functionality release? What version?

[2020-05-31 02:06] sgssiva opened #56027 "Azure Virtual Network: Communicate between Azure resources"
[Enter feedback here]

"Communicate between Azure resources", should include Private Link/Private End Point communication as well ( along  with "Through a virtual network" , "Through a Service End Point" and "Through VNet Peering"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f79a2-923f-3e1a-5e8f-8ce1f5913a56
* Ver

[2020-05-31 02:44] dimitri-b opened #56028 "The parameter name for JDBC parallel reading is `partitionColumn`, not `column` as used in the Python code example."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed6655-e376-431c-5cbb-72e82790ae92
* Version Independent ID: 7dbfcf45-4636-0d38-dd56-0349d195d4a5
* Content: [SQL Databases using JDBC - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/sql-databases)
* Content S

[2020-05-31 03:00] KrishnaG-MSFT commented on #56026
@cananac Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-31 03:03] KrishnaG-MSFT commented on #56019
@jaymichaud Thanks for the comment.
Assigning @amberbhargava for visibility, review and document enhancement consideration as appropriate.

[2020-05-31 04:43] manish-jain-alept opened #56030 "Link point to wrong place"
On the document the line 'Azure Batch basics for an overview of the Azure Batch service.' having wrong link point on 'Azure Batch basics'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570-ff7b-7a57acca06e6
* Version Independent ID: 9ec244a7-d939-3918-fc87-34ab1eec5293
* Content: [Use custom activities

[2020-05-31 04:48] AjayKumar-MSFT commented on #56018
@desek, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 05:03] AjayKumar-MSFT commented on #56021
@simo-92,  Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

We recommend posting technical questions on the [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html)and/or [**SO**](https://stackoverflow.com/questions/6210415

[2020-05-31 05:09] ambhatna commented on #55786
Hi @kourbou,
Thank you for the feedback. The suggestion make sense and I am making the fix in the Java Sample. Please refer to the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/117190

Thank you for taking the time to provide the feedback.

[2020-05-31 05:12] AjayKumar-MSFT commented on #56024
@whomanGHA, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 05:16] AjayKumar-MSFT commented on #56025
@Hasil-Sharma, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 05:28] AjayKumar-MSFT commented on #56027
@sgssiva, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 05:31] AjayKumar-MSFT commented on #56028
@dimitri-b, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-31 05:35] AjayKumar-MSFT commented on #56030
@manish-jain-alept, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 05:48] DixitArora-MSFT commented on #55632
@APressatoGEOS Thanks for your contribution.

@SeaDude For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-31 05:48] #55632 closed

[2020-05-31 05:54] DixitArora-MSFT commented on #55646
@steveculshaw Details about the Request body JSON schema is already mentioned in section "Add Request Trigger" staring from 3rd point in detail. Do let me know if you have a different ask.

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-31 05:54] #55646 closed

[2020-05-31 06:07] DixitArora-MSFT commented on #55650
@mikanyg PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-31 06:10] #55650 closed

[2020-05-31 06:14] menjaben opened #56031 "Azure AD Seamless SSO - unable to receive Kerberos tickets from AZUREADSSOACC computer account"
Hello,

I've attempted to enable Seamless SSO for our on-premise directory following the steps outlined in the documentation here:
[https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start](url)

I've followed the steps exactly but was unable to get this feature to work with a test account. Other features of Azure AD Connect are working properly (Passthrough au

[2020-05-31 07:04] yelevin commented on #55496
@roflemin Could you be more specific? Are these CIS Hardened Virtual Machines in Azure? In another cloud? Are they Level 1 or Level 2?
Thanks

[2020-05-31 07:15] ggailey777 commented on #53984
The linked PR fixes this issue. Please reopen this issue if it's not fixed to your satisfaction. #please-close

[2020-05-31 07:15] #53984 closed

[2020-05-31 07:18] DixitArora-MSFT commented on #55711
@dotnetprofessional I have assigned this to content author for further review and update as appropriate.

[2020-05-31 07:21] DixitArora-MSFT commented on #55714
@SeaDude This might take two tries to succeed as mentioned in the note section. Do let me know how it goes and if you are still experiencing the issue.

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-31 07:21] #55714 closed

[2020-05-31 08:07] cox-antohi opened #56032 "When having a Free Trial subscription virtual machine scale sets creation fails"
The [Route web traffic based on the URL using Azure PowerShell](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-url-route-powershell) article mentions:

Running the code from the **Create virtual machine scale sets** section of this article using my Free Trial subscription fails with the error:
[code]

This happens because the **Standard_DS2** Sku is not available in my subscri

[2020-05-31 08:53] memildin commented on #48339
I've updated the docs. As @aws-scripting-guy wrote, the issue is that the API has changed and the docs didn't. The correct approach is now to specify the bundle and not use "default"; rather something like "virtualmachines".
The new docs pages should go live within a few days.
#please-close

[2020-05-31 08:53] #48339 closed

[2020-05-31 09:05] MarkusElsper commented on #23238
here the same error:
Error Code: 500121
Request Id: 69ff4762-9f43-4490-832d-e25362bc1c00
Correlation Id: 599c8789-0a72-4ba5-bf19-fd43a2d50988
Timestamp: 2020-05-31T09:05:02Z

Can you help?

[2020-05-31 09:10] Davidswinkels opened #56033 "Mention that azcopy copy does not leave copied incomplete files when connection is killed"
When some files were being uploaded from local to azure blob with azcopy copy and the internet connection got killed, then I wasn't sure if this would leave incomplete files uploaded to the blob storage. This did not seem to be mentioned in the documentation of azcopy copy. By running some tests by uploading large files from local to blob and killing the connection, azcopy did not leave incomplete

[2020-05-31 09:40] Se7en7th commented on #55544
Hi, I have resolved the above issue. By creating a Universal Windows Blank App, and linking the relevant .lib/.h files through the project properties windows.

But currently, I am facing another issue along the lines of a missing ".dll", under the error:
"The program '[15792] FirstAzureApp_Kinect.exe' has exited with code -1073741515 (0xc0000135) 'A dependent dll was not found'."

with the error m

[2020-05-31 09:49] HoussemDellai opened #56034 "Add Guest Users using Azure CLI"
Can we add Guest Users using Azure CLI ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ea676e-0678-9e2d-e009-fb44587f93dd
* Version Independent ID: 40b581da-26ea-2890-4a78-54b29f5dc610
* Content: [Quickstart: Add a guest user with PowerShell - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/b2b/b2b-

[2020-05-31 10:49] helloyesthisisdave commented on #53823
@kimherzig  The functionality is already available, though last time I looked not documented.  I was able to piece together the parameters from the actual code of the module that was available on GitHub (though I forget where).

The syntax you want is similar to this:

`Invoke-AzDataFactoryV2Pipeline -ResourceGroupName $resourceGroupName -DataFactoryName $dataFactoryName -PipelineName $piplineName

[2020-05-31 10:52] helloyesthisisdave commented on #53823
@djpmsft  I would say this is still a documentation issue as the new features and parameters required are still not in the documentation, despite the functionality being live within the released modules.

[2020-05-31 11:18] LeonJansen commented on #55076
@Karishma-Tiwari-MSFT the email is send.

[2020-05-31 11:57] shemers commented on #42707
@marcowork, Thanks for posting your ask,
Indeed have couple example dashboard in the [link ](https://github.com/asheniam/azure-grafana-dashboard-templates)you provided,
there are more that can be found in [this link ](https://grafana.com/grafana/dashboards?direction=asc&orderBy=name&dataSource=grafana-azure-monitor-datasource)

in addition, we are working to add more samples in the future, do you

[2020-05-31 12:07] AjayKumar-MSFT commented on #55563
@pmummi, Apologies for the delay!
Thanks for sharing additional details on this.

Yes, for Regional VNet Integration, your Webapp must be in a Standard, Premium, PremiumV2 or Elastic Premium App Service plan.

I believe you're referring to this line in the document section '[Regional VNet Integration](https://docs.microsoft.com/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integrat

[2020-05-31 12:49] AjayKumar-MSFT commented on #55573
@shmool, Apologies for the delay! Thanks again for taking time to share your valuable feedback.

The document aims at demonstrating key concepts and step-step instructions on how to map a custom domain name to an Azure Static Web Apps application, in the first step, copying the site URL in the Value field on Azure Portal, and then in the next step, 'Paste from your clipboard' in the domain provide

[2020-05-31 12:56] AjayKumar-MSFT commented on #56032
@cox-antohi,  Thanks again for leveraging Azure docs feedback channel to raise this question and adding good detailed description of the problem. We are taking a look into this and will get back to you soon.

[2020-05-31 13:02] AjayKumar-MSFT commented on #56031
@menjaben, Thanks for leveraging Azure docs feedback channel to raise this question and adding good detailed description of the problem. We are taking a look into this and will get back to you soon.

[2020-05-31 13:06] AjayKumar-MSFT commented on #56033
@Davidswinkels, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 13:09] AjayKumar-MSFT commented on #56034
@HoussemDellai, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-05-31 13:24] ashooner opened #56036 "Gen4 hardware is not supported for this region."
[code]
No explanation, or alternative given in the docs.

Edited: PII info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Independent ID: 7816cf1e-2264-e365-4d5c-b1fc9f7d08fe
* Content: [Tutorial: Create a multi-container app - Azure App Service](https://docs.microsoft.com

[2020-05-31 13:29] shtau1 opened #56037 "Middle "pane" not displaying horizontal scroll bar"
[Enter feedback here]
[Licensing Service Plan Reference](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference)

This page's middle pane (Left pane is table of contents, middle pane is actual information, right pane is quick links to parts of document), when using Microsoft Edge (64-bit)), the horizontal scroll bar is not displayed. This also c

[2020-05-31 13:56] rhalaly opened #56038 "Wrong publishing bot steps"
[These deployment steps](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/tutorial-voice-enable-your-bot-speech-sdk.md#deploy-your-bot-to-an-azure-app-service) requires to change the `appsettings.json` file before publishing.

There are two problems:
1. There is no mention to change that file
2. The values that we should enter are generated in the

[2020-05-31 14:15] rayne-wiselman commented on #55241
I’ll fix this.

From: Tom FitzMacken <notifications@github.com>
Sent: Friday, May 29, 2020 11:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Extra column? (#55241)

@jtuliani<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjtulia

[2020-05-31 14:17] cox-antohi opened #56039 "Wrong instructions in the article Tutorial: Create an application gateway with path-based routing rules using the Azure portal"
In the [Tutorial: Create an application gateway with path-based routing rules using the Azure portal](https://docs.microsoft.com/en-us/azure/application-gateway/create-url-route-portal) article, inside the **Create virtual machines** section, **Install IIS** subsection, step 3 the instructions read:

The _two more virtual machines_ were created when performing step 11 from the **Create virtual mac

[2020-05-31 14:18] Chreschtf opened #56040 "Outdated?"
Could you update this page and the one for intellij? The approach covered in both articles no longer work bc azure tools for visual studio and intellij no longer offer the possibility to link an emulator?
Kind regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4398dc2f-3ea3-0c89-a6de-f44f33a88aa5
* Version Independe

[2020-05-31 14:39] tksh164 commented on #55231
Do you have any updates?

[2020-05-31 14:48] lopejum commented on #55866
In other words:
Can I respond / update an already generated conversation from any native Azure Channel (Azure WebChat, Teams, Telegram) with a POST request created with Azure Direct Line Channel?

[2020-05-31 14:56] memildin commented on #39756
@omerzubair thanks for the questions.
I'll take your points one at a time:

- The defined policies are are not the complete set of OOTB policies.
What makes you think this? They should be the complete set.

- There is no ability to add our custom polices in the same screen.
Correct. Adding custom policies is done from a different screen.
(See step #3 in https://docs.microsoft.com/azure/security-ce

[2020-05-31 14:56] #39756 closed

[2020-05-31 15:09] memildin commented on #55277
The **Subscription Contributor** role can't edit the assignment.
The change to the doc will go live within the next few days. Thanks!
#please-close

[2020-05-31 15:09] #55277 closed

[2020-05-31 15:12] cox-antohi opened #56041 "Wrong instructions in the article Tutorial: Create an application gateway with path-based routing rules using the Azure portal"
In the [Tutorial: Create an application gateway with path-based routing rules using the Azure portal](https://docs.microsoft.com/en-us/azure/application-gateway/create-url-route-portal) article, inside the **Create an application gateway** section, **Frontends tab** subsection, the step 2 instructions read:

The current interface has the **Firewall public IP address** field but no **Public IP addr

[2020-05-31 15:21] MisinformedDNA opened #56042 "App Registrations is no longer in preview"
"App Registrations" is no longer in preview. And "Applications" is now considered legacy. Documentation should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a w

[2020-05-31 15:26] lopejum opened #56043 "How to reconnect/update an Azure native channel conversation (WebChat, Teams, Telegram...) from Direct Line Channel"
Hello

I've started a conversation with Azure WebChat (and with Teams and Telegram as well) (I retrieved the **conversationId**).

My target is to send a response from an external app service (after some process of this incoming text to my bot and resending this text to an external app service, where is done the process)

I tried to continue the conversation from the external app service updating

[2020-05-31 15:27] MisinformedDNA opened #56044 "ASP.NET Core tutorial needed"
This tutorial should be updated to use ASP.NET Core (or a new one created). This tutorial uses ASP.NET 4.5.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a web applicatio

[2020-05-31 15:30] rhalaly opened #56045 "Activity dropped because the bot's endpoint is missing"
After following the tutorial, I'm receiving this error:
![image](https://user-images.githubusercontent.com/8597700/83356150-b663a300-a36c-11ea-8fdf-f447a1a0e116.png)

Maybe something is wrong with the tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0e7068-9f6c-5b21-f12f-f44d27c17acd
* Version Independent ID:

[2020-05-31 15:33] MisinformedDNA commented on #56044
I found [this link](https://github.com/azure-ad-b2c/apps/blob/master/apps/web-dotnet-core-oidc-b2cui/readme.md) in another issue. Does an article exist inside Microsoft Docs? If not, how are people supposed to find it?

[2020-05-31 16:00] burkeholland commented on #55573
I don't know that I fully understand. You have to visit the portal blade to
get your site name before you can configure your DNS provider. That's the
flow that the portal uses, and that's the flow that the doc uses as well.
If we switched it around, you would have to visit your domain provider,
visit the portal, then visit your domain provider again, then back to the
portal. As is, we cut out one

[2020-05-31 16:11] Mike-Ubezzi-MSFT commented on #56038
@rhalaly Thank you for bringing this to our attention. A cognitive services engineering is reviewing this and will have the documentation updated as appropriate.

[2020-05-31 16:18] Mike-Ubezzi-MSFT commented on #56045
@rhalaly Thank you for bringing this to our attention. Based upon this issue you have raised and the other issue with the same tutorial, a cognitive services engineer is reviewing this tutorial and will have a root cause identified and have any documentation steps updated as appropriate.

[2020-05-31 16:23] Mike-Ubezzi-MSFT commented on #56040
@Chreschtf Thank you for bringing this to our attention. An analytics engineer is reviewing this and will have the documentation updated as appropriate.

[2020-05-31 16:30] Mike-Ubezzi-MSFT commented on #56037
@shtau1 Thank you for bringing this to our attention. An engineer from the Identity & Security team will review this and take the appropriate steps to have this addressed as appropriate.

[2020-05-31 16:36] Mike-Ubezzi-MSFT commented on #56042
@MisinformedDNA Thank you for bringing this to our attention. A member of the Identity & Security team will review this and update the documentation as appropriate.

[2020-05-31 16:42] Mike-Ubezzi-MSFT commented on #56044
@MisinformedDNA Thank you for making this suggestion. This is being reviewed by the Identity & Security team and will engage the content team to produce an update or have an update to the documentation published.

[2020-05-31 16:51] Mike-Ubezzi-MSFT commented on #56039
@cox-antohi Thank you for bringing this to our attention. The Networking team is investigating this issue and will engage the content team or have updates published as appropriate.

[2020-05-31 16:53] Mike-Ubezzi-MSFT commented on #56041
@cox-antohi Thank you for bringing this to our attention along with the other doc issue you have raised (https://github.com/MicrosoftDocs/azure-docs/issues/56039). The Networking team is investigating this issue and will engage the content team or have updates published as appropriate.

[2020-05-31 17:01] Mike-Ubezzi-MSFT commented on #56036
@ashooner Thank you for making us aware of this issue. Can you detail the region you attempted to deploy this tutorial? This will help us investigate on-going regional hardware updates that are still pending for this region.

[2020-05-31 17:08] Mike-Ubezzi-MSFT commented on #56043
@lopejum Thank you for your inquiry. The AI & Machine Learning team is reviewing your inquiry and will have information to share based upon an investigation.

[2020-05-31 17:12] steveculshaw commented on #55646
@DixitArora-MSFT Hi there. The point was the option for JSON validation of the request needs the Schema Validation setting enabling, not how you can add a schema

[2020-05-31 17:15] SatishBoddu-MSFT commented on #55680
@jlorich Just checking back, Could you please let us know if you need further help or information in this matter.

[2020-05-31 17:18] SatishBoddu-MSFT commented on #55465
@payalgaikwad42 Since we didn't received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-31 17:18] #55465 closed

[2020-05-31 17:20] ashooner commented on #56036
Sorry, I'm just getting started in Azure so I might not be clear on nomenclature. I ran the initial command as is, just replacing the app name. the `location` was "South Central US". Incidentally bumping the `sku_name` to 'B_Gen5_1' seemed to work.

[2020-05-31 17:52] mohamedsaif opened #56047 "ARO v4 On Boarding Script CLI syntax error (az group deployment)"
Hi,
Regarding the documentations here:
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-azure-redhat4-setup

This bash script includes invalid CLI command:
curl -LO https://raw.githubusercontent.com/microsoft/OMS-docker/ci_feature/docs/aroV4/onboarding_azuremonitor_for_containers.sh

Error:
[code]
Fix:
Update the command to the following:
[code]
az -v
azure-cli

[2020-05-31 17:55] Dev-ML11 opened #56048 "Rate Card API Response"
Hi,

I have checked out the JSON response of Rate Card API and found that the prices aren't the same compared to those shown in Azure Pricing calculator. I have found this discrepancy in case for container instances and App Services and few others.

I have been trying to consume this API and calculate the service prices but it varies compared to those shown in Pricing calculator, can I know the re

[2020-05-31 18:26] spissay opened #56049 "Email feature for Backup Reports"
[Enter feedback here]
Can we provide a email reporting feature in backup reports functionality . It will be useful for folks in the management group who want to have a overall status of the backups run daily.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f109cc3-2133-7a38-841b-4d3063497305
* Version Independent ID: a

[2020-05-31 18:36] snugghash opened #56050 "Incomplete docs regarding environment of init script and absolute paths"
Greetings,
The `/` seen by the init script is NOT the same as the `/` seen by dbfs CLI (`databricks  fs  ls <PATH>`).

Even if one follows the tutorial, neither relative path `./` nor `dbfs:/` works from within the init script. One _needs_ to use absolute path. At the same time doing a `databricks  fs  cp <file> dbfs:/databricks/scripts/` does not make `<file>` accessible via `/databricks/scripts/

[2020-05-31 19:09] shashishailaj commented on #55236
@mreyes At this point this does not seem possible. We can add Custom IDP like [ADFS](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs2016-custom?tabs=applications) and [Salesforce](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-salesforce-custom?tabs=applications) and we have related documentation for that .

ADFS and Azure AD as an

[2020-05-31 19:09] #55236 closed

[2020-05-31 19:11] shashishailaj commented on #56044
@MisinformedDNA We are engaging the content team to look into this request. In the meanwhile coudl you please check if the sample https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-dotnetcore-webapp/an-aspnet-core-web-app-with-azure-ad-b2c/ works for your use case ?

[2020-05-31 19:11] shashishailaj commented on #56044
@msmimart Could you please look into this request and see how best the documentation can be updated.

[2020-05-31 19:14] BharathNimmala-MSFT commented on #56049
@spissay We really appreciate your feedback, however please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation.We see that you already created a [feedback item in our feedback channel](https://feedback.azure.com/forums/258995-azure-backup/suggestions/40554721-email-feature-for-

[2020-05-31 19:14] #56049 closed

[2020-05-31 19:17] BharathNimmala-MSFT commented on #56047
@mohamedsaif  Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-05-31 19:23] shashishailaj commented on #56037
@kkern13 , Could you please review this request . It seems that this related to the Scrollview / HorizontalScrollview layout options which will need to be looked into by the content team's design unit . The issue is somewhat similar to [how to scroll both horizontally and vertically](https://github.com/facebook/react-native/issues/2962) using a single mouse button.

[2020-05-31 19:40] shashishailaj commented on #55433
As far as my experiments with B2C , a locally created global admin and another account which is a global admin by virtue of being an external account and being added as a guest have some difference .and are not same . So when you created the B2C directory using my_personal_account@domain.com as a global admin, this account got added to your B2C directory as an external account and promoted to Glob

[2020-05-31 19:40] #55433 closed

[2020-05-31 19:44] AjayKumar-MSFT commented on #55655
@RJGJanssen, Apologies for the delay! I wish to engage with you offline for a closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID, I will follow-up with you.
As we will work with you offline, I will now proceed to close this thread.
Thanks for your pa

[2020-05-31 19:44] #55655 closed

[2020-05-31 19:45] shashishailaj commented on #56042
@msmimart Could you please look into this and help update the document . The application section may need to be removed and the app registration Preview wordings rewritten as it is completely live now and not in preview.

@MisinformedDNA We have assigned this to the content team and they will help review this and fix as required.

Thank you

[2020-05-31 19:54] AjayKumar-MSFT commented on #55965
@@porrascarlos802018, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue.

[2020-05-31 19:57] AjayKumar-MSFT commented on #56003
@Juliako, Requesting your comments on this.

[2020-05-31 19:59] shtau1 commented on #56037
Hello @shashishailaj I have also noticed that there are exceptions to this issue. If you click in the pane and then highlight text, you can then use horizontal scroll with the mouse button. After you have used the horizontal scroll while highlighting texr, you can then use it again, even if the text is no longer highlighted. If you then move vertically, you can run into that issue again.

Going ba

[2020-05-31 20:11] BharathNimmala-MSFT commented on #56047
@mohamedsaif  Thanks again for bringing this to our notice. I see that you are also created a GitHub issue in respective [OMS-docker repo](https://github.com/microsoft/OMS-docker/issues/415). I have created a [PR ](https://github.com/microsoft/OMS-docker/pull/416) to update the Az group deployment syntax in the script. Once its reviewed and approved the script will update accordingly.

Hope the ab

[2020-05-31 20:11] #56047 closed

[2020-05-31 20:14] johnwildes opened #56051 "Is Azure Firewall Forced Tunneling Generally Available?"
Is Azure Firewall Forced Tunnelling Generally Available?

The documentation doesn't mention preview, but I cannot find an announcement where it went from preview to (GA).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49421ed5-6252-b24f-2983-ae58cea26df2
* Version Independent ID: 0dd3e8b1-319c-1694-4cdd-bb050d0e85f5
*

[2020-05-31 20:15] jlorich commented on #55680
No, I just wanted to raise a request for it as customers are starting to look at it more and more. Thanks!

[2020-05-31 20:17] jperl commented on #53649
I would also like to know if it is possible to use this with an App Service Plan.

[2020-05-31 20:18] ecfan commented on #55646
#assign @ecfan

[2020-05-31 20:22] ecfan commented on #46826
Need to respond about compatibility issues:

#assign @kevinlam1
#assign @jonfancey

[2020-05-31 20:29] AjayKumar-MSFT commented on #56004
@rodrigb, Thanks for taking time to share your valuable feedback.
This Azure doc [Playback of recordings](https://review.docs.microsoft.com/azure/media-services/live-video-analytics-edge/playback-recordings-how-to?branch=release-preview-media-services-lva) -does aim at demonstrating key concepts and step-step instructions on selective playback of recordings, query APIs with examples and playback l

[2020-05-31 20:31] SatishBoddu-MSFT commented on #55680
@jlorich We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-31 20:31] #55680 closed

[2020-05-31 20:47] zlDev opened #56052 "incorrect link"
The following link **If the Notifications setting is set to Enable** has no mentions of notifications settings. Check if is pointing to the correct page or if the page requires updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce-6046-f6a9-9b85-188c8530174c
* Version Independent ID: 196cb921-fbf8-6819-e0e2

[2020-05-31 20:58] zlDev opened #56053 "Update page to reflect latest update."
This page needs updating to describe new PIM expericens. Screenshots look nothing like on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c2e8de-6dac-e81d-e58e-1ff6b8c5cb3a
* Version Independent ID: 3f4af047-05af-3631-1bba-c6cf6b41fed4
* Content: [Grant access to manage PIM - Azure Active Directory](https:/

[2020-05-31 21:40] ecfan commented on #46826
@KetanChawda-MSFT: Please un-assign kevinlam1, please? Thanks!

[2020-05-31 22:54] BrunoIllipronti commented on #44062
Right after the demo from MS Build, I also tried to deploy my first AutoML Forecasting model (CLI) and I don't get any results except for "list index out of range"

[2020-05-31 23:23] eosho opened #56054 "Azure RIs Automation"
Do we have examples on how to automate reserved instances and manage it's lifecycle? This would be really helpful.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8586a81c-962d-3eb4-bc5f-0af3d6296852
* Version Independent ID: d3079d15-2220-61d7-4f40-b1a665b01938
* Content: [Azure EA VM reserved instances](https://docs.m

[2020-06-01 00:32] RonnieQuan opened #56055 "VNET Peering for AAD DS VNET/subnet"
[Enter feedback here]

When provision AAD DS from portal, Azure will create vnet and subnet, NSG, does it create peering as well? I guess not, but just want to confirm.

Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7013d117-4c2e-1b3e-0b67-d3eec67dc490
* Version Independent ID: c948be62-abef-57bb-232c-970ccf

[2020-06-01 00:37] RonnieQuan opened #56056 "Validation AAD DS"
Is there any issue to create second subnet in AAD DS vnet?
What's the recommended approach to validate after AAD DS installation?
Can I keep the second subnet for ongoing functionality troubleshooting?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c430a5e-3245-1c6f-71f5-6bcd70cc7f9d
* Version I

[2020-06-01 00:51] neppalli757 commented on #38922
Any update on the question above from @alvipeo ? I am trying to setup ILB ASE and would like to understand how my route should look like. I know the range of IP's(all internal) that the application is expecting and would like to setup my routes without a app gateway

source would be 0.0.0.0/24 and destination would be range of IP's (internal)? or source would be range of IP's(internal) and destina

[2020-06-01 01:31] waynenus commented on #55629
Hi @souravmishra-msft, I'm also confused with these questions, could you help to clarify them? Thanks!

[2020-06-01 01:37] MGoedtel commented on #55982
This feedback is directed to an article that is currently under development and has not been published.  Raghu mistakenly filed a GitHub issue and I'm addressing that via internal channel.  #please-close

[2020-06-01 01:37] #55982 closed

[2020-06-01 01:38] MGoedtel commented on #55983
This feedback is directed to an article that is currently under development and has not been published.  Raghu mistakenly filed a GitHub issue and I'm addressing that via internal channel.  #please-close

[2020-06-01 01:38] #55983 closed

[2020-06-01 01:40] hatasaki opened #56057 "Install issue from MacOS"
[Enter feedback here]
From my MacOS, the command stuck with message 'too many open file" to install Istio 1.4.9.

$ istioctl manifest apply -f istio.aks.yaml --logtostderr --set installPackagePath=./install/kubernetes/operator/charts

But just removing " --set installPackagePath=./install/kubernetes/operator/charts", it works.

$ istioctl manifest apply -f istio.aks.yaml --logtostderr

Is there an

[2020-06-01 01:47] rockboyfor commented on #51212
@VikasPullagura-MSFT and @mlearned,
Is there any further process or comments on the mentioned formula:
Original formula:
(0.25*4) + (0.20*3) = + 1 GB + 0.6GB = 1.6GB / 7GB = 22.86% reserved

Best Regards!
Edward Chen

[2020-06-01 01:55] pmummi commented on #55563
@AjayKumar-MSFT , @ccompy ,

Thank you @AjayKumar-MSFT for getting back on this.

I am still confused. My scenario is very simple. I have a Standard App Service in Region A. I have a SQL MI, vNet in the same region. Can i use this SQL MI as database for my app service?

I will gather the requested details and share with you.

Thanks,
Prathap

[2020-06-01 02:17] rockboyfor commented on #55141
@VikasPullagura-MSFT and @vikancha
Is there any schedule, further process, or comments to share  for the Expected network bandwidth (Mbps) Information about NCv3-series?

Thanks and Best Regards!
Edward Chen

[2020-06-01 02:19] Johnnytechn commented on #54823
Hi, @msmbaldwin, how things are going, can you tell?

[2020-06-01 02:27] dcbrown16 opened #56058 "Security events"
This page needs to mention that it is no longer possible to collect Security Events in Log Analytics with the agent directly. You have to use Azure Security Center on the Standard tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21eb5eb5-727d-c75e-33ba-31c823eed9d9
* Version Independent ID: 35585318-b445-3eed-e9b4-

[2020-06-01 02:29] dcbrown16 opened #56059 "Security events"
In light of the fact that we can't collect security events without using Azure Security Center Standard tier, it might be better to use a different example for the log queries here. See #56058 also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84c297e-d371-a8fe-416e-147b152d48d4
* Version Independent ID: 1a46ae57-0d

[2020-06-01 02:35] DeepakSaini119 opened #56060 ""The provided Power BI group was not found" error in Testing Power BI connection"
I am not able to create a PowerBI output for my Stream Analytics job. When creating the output, it correct shows "Currently authorized as (OP)" but after saving and opening again it becomes "Currently authorized as (null)". Further when testing the output, I get the error:

I am never asked to provide a ``groupid`` property. Not able to understand where is this being set and how to correct this. T

[2020-06-01 02:38] djpmsft commented on #53823
The Powershell documentation is auto-generated but it doesn't look like the new functionality is there. Checking in with the eng team to get this fixed

[2020-06-01 02:50] rockboyfor opened #56062 "Create Key Vault failed on Azure China due to hard code 'centralus' in temlplate."
There is one hard code `"location": "centralus",` on Line 93 in the following template:

https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/tutorials-use-key-vault/CreateKeyVault.json

It will caused the following issue when trying to create the Key Vault on Azure China Cloud.
![image](https://user-images.githubusercontent.com/4704301/83371357-dd65b780-a3f4-11ea-80d7-15842dce27

[2020-06-01 02:53] oadrian2 opened #56063 "It seems unclear how to get authenticated API calls to provide the appropriate headers"
I have gotten the API running locally, but it will not provide the client principle in the headers as per the other documentation.

Is there a way to run the static site and client while providing the principle to the Azure Function API -- all locally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4071ee2-abad-4d21-7

[2020-06-01 02:53] wouter-in2facts opened #56064 "Mismatch in requirements for Azure Integration runtime with download page"
Prerequisites on this [page](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#prerequisites) for operating system:
The supported versions of Windows are:

Windows 7 Service Pack 1
Windows 8.1
Windows 10
Windows Server 2008 R2 SP1
Windows Server 2012
Windows Server 2012 R2
Windows Server 2016
Windows Server 2019

On the download [page](https://www.microsoft

[2020-06-01 03:03] tx5westmt commented on #55971
@SaurabhSharma-MSFT  To clarify a little more after re-reading my post, I think I really meant to ask:

- this document doesn't reference explicitly disabling legacy services directly and says 'the recommendation is... CA'; does that mean you don't recommend disabling via the other portals? (ie using the exchange policies to disable mail protocols, using sharepoint admin portal to disable legacy a

[2020-06-01 03:14] dhananjaya-senanayake commented on #35607
By default AKS managed NSG is attached to worker nodes' NICs. Default outbound and inbound NSG rules are as follows,
![image](https://user-images.githubusercontent.com/23645640/83371853-417e8080-a3e1-11ea-853c-c793fdfe614d.png)

![image](https://user-images.githubusercontent.com/23645640/83371924-738fe280-a3e1-11ea-930f-55c4f0606bb4.png)

- Default outbound rules allows any pod running in the AKS

[2020-06-01 04:22] SnehaAgrawal-MSFT commented on #56063
@oadrian2 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-01 04:27] DixitArora-MSFT commented on #55731
@mads-kv PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 04:29] MarileeTurscak-MSFT commented on #56052
@zlDev
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 04:32] #55731 closed

[2020-06-01 04:37] DixitArora-MSFT commented on #55732
@davidgristwood When you're using the Consumption plan, instances of the Azure Functions host are **dynamically** added and removed based on the number of incoming events. This serverless plan scales automatically, and you're charged for compute resources only when your functions are running.

But With an App Service plan, you need to **manually** **scale** out by adding more VM instances. You can

[2020-06-01 04:37] #55732 closed

[2020-06-01 04:39] MarileeTurscak-MSFT commented on #56052
@zlDev thanks for this! I think it may have been meant to reference this article instead: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-configure-role-settings

I made a pull request to update it. cc @curtand  https://github.com/MicrosoftDocs/azure-docs-pr/pull/117227

If you think more should be added feel free to make a separate pull re

[2020-06-01 04:40] #56052 closed

[2020-06-01 04:40] DixitArora-MSFT commented on #55756
@rishabh-mnit In many scenarios, messages that have specific characteristics must be processed in different ways. To enable this processing, you can configure subscriptions to find messages that have desired properties and then perform certain modifications to those properties. While Service Bus subscriptions see all messages sent to the topic, you can only copy a subset of those messages to the v

[2020-06-01 04:40] #55756 closed

[2020-06-01 04:41] DixitArora-MSFT commented on #55777
@xtianus79 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 04:41] #55777 closed

[2020-06-01 04:55] CodeFisher-02 opened #56065 "Azure function V3 - Twilio binding does not work"
I am trying to create an azure function (v3) on .net Core 3.1 with TwilioSms Output binding. I referred to Microsoft official docs [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio?tabs=csharp]

My function looks like :

`[FunctionName("QueueTwilio")]
 public async static Task Run(
        [QueueTrigger("sms-queue", Connection = "AzureWebJobsStorage")] JObject req,

[2020-06-01 04:58] ChiragMishra-MSFT commented on #56050
@snugghash Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-06-01 04:59] ChiragMishra-MSFT commented on #56064
@wouter-in2facts Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

@nabhishek Can you please take a look at this?

[2020-06-01 05:01] SwathiDhanwada-MSFT commented on #55954
Thanks @rthorn17  for making the changes.

@adminsysteme  Thanks for the feedback.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-01 05:01] #55954 closed

[2020-06-01 05:02] AjayKumar-MSFT commented on #56048
@Dev-ML11,  Thanks for leveraging Azure docs feedback channel to raise this question.
 This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

Apologies you're seeing a variation in the pricing via Rate Card API. Also, could you please share the Azure documentation for which this feedback is applicable to and doc steps you're referring to?

[2020-06-01 05:05] SubhashVasarapu-MSFT commented on #56051
@johnwildes ,  We are looking into this query and will update you as soon as possible.

[2020-06-01 05:11] vikancha-MSFT commented on #55141
@VikasPullagura-MSFT  Please assign this to @iafinder

[2020-06-01 05:13] SubhashVasarapu-MSFT commented on #56053
@zlDev , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-01 05:16] SubhashVasarapu-MSFT commented on #56055
@RonnieQuan , We are looking into this query and will update you as soon as possible.

[2020-06-01 05:20] SwathiDhanwada-MSFT commented on #56026
@cananac Thanks for reaching out!! I have tried to reproduce the issue from my end and I couldn't find any issue. Can you please share the screenshots of the steps you have taken to notice the issue at AzCommunity@microsoft.com along with your subscription Id and also a link to this thread (for business context).

[2020-06-01 05:28] VikasPullagura-MSFT commented on #56057
@hatasaki
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-01 05:28] VikasPullagura-MSFT commented on #56057
@paulbouwer
Can you please check and add your comments on this doc update request as applicable.

[2020-06-01 05:34] VikasPullagura-MSFT commented on #56017
@JeffGiroux
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-01 05:34] VikasPullagura-MSFT commented on #56017
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-06-01 05:35] souravmishra-msft commented on #56055
@RonnieQuan, You are right, when you provision the Azure AD DS service, it does create a VNET, Subnet and NSG but not a VNET Peering.

Hope this helps. Do let me know if there are any more queries around this so that we can help you further. If not we would like to close this thread with your permission.

[2020-06-01 05:46] pnarsi opened #56067 "Using Storage Accounts and AKV with Firewall Enabled."
Will this scenario still work if the associated Storage Accounts and AKV have their Firewalls enabled. I assume that the ExportPipeline and ImportPipeline leverage some sort of Trusted Microsoft Service feature to bypass the associated Storage Account and AKV firewall?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3e

[2020-06-01 05:56] AmitavaHazra opened #56068 "Email notification customization"
Notify users on password resets : If we want to change this default email template which MS is sending upon password reset. How can we modify this email template ?

Reference DOC:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-01 06:04] AmitavaHazra opened #56069 "How to configure passwrod policy in Azure AD"
It is said that only password expiration policy can be modified in Azure AD for cloud only user.

Is there any way to modify other policy settings in Azure AD ??
Let's assume we want to define same on-prem AD policy in Azure AD explicitly though it is applicable by default for hybrid user.

Is there any way that we can define in Azure AD as well ?

# Azure documentation issue guidance

Thanks for

[2020-06-01 06:23] yuriwoof opened #56070 "Request to update SLES agent descriptions"
Some partners asked that they cannot find suitable version for SLES 11 SP4 in Cloud:Tools link.
I think Cloud:Tools is manged by the community, so the contents might have changed.

Is it possible to install the Linux agent from source code (GitHub)?
And would it be possible to clarify which version is suitable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-06-01 06:23] omarmallat opened #56071 "MFA triggered, but connection is approved before the MFA result!"
so, I followed the document, and my setup is as following:
1. I have Azure Active Directory, local AD, AD connect, and and we are using MFA since a while.
2. I create a new VM on Azure, enabled NPS, so it becomes my Radius server.
3. I have Fortigate on premises, where all users will contact to establish VPN connection.
4. Radius server is properly configured to receive authentication request from

[2020-06-01 06:34] souravmishra-msft commented on #55539
@Grahamworth, Closing this thread for now since no response.

[2020-06-01 06:34] #55539 closed

[2020-06-01 06:36] souravmishra-msft commented on #55566
@LXBdev, Closing the thread for now, since no response.

[2020-06-01 06:36] #55566 closed

[2020-06-01 06:56] PT2911 commented on #46605
Looks like the document about the **body** attribute is still not updated after months.
Also the the [policy example on GitHub](https://github.com/galiniliev/api-management-policy-snippets/blob/galin/AkvCert/examples/Look%20up%20Key%20Vault%20certificate%20using%20Managed%20Service%20Identity%20and%20call%20backend.policy.xml) uses the Key Vault secret API instead of the certificate API but the Ke

[2020-06-01 06:59] imeya commented on #55642
@AjayKumar-MSFT , any update here?

[2020-06-01 07:11] umar86 opened #56073 "Authentication using AAD B2C"
Authentication using AAD is covered in the documentation, is AAD B2C also supported? If not can we expect this soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6355b9cc-780a-c5e9-e24a-aa6593b37ae1
* Version Independent ID: aa20c4a6-3243-d7b5-8e12-54e044b99cc2
* Content: [Authentication and authorization for Azure S

[2020-06-01 07:19] VikasPullagura-MSFT commented on #56070
@yuriwoof
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-01 07:19] VikasPullagura-MSFT commented on #56070
@gbowerman
Can you please check and add your comments on this doc update request as applicable.

[2020-06-01 07:22] VikasPullagura-MSFT commented on #55854
@Gurpreet103
Any update on this?
Did you try the suggestion?

[2020-06-01 07:25] KrishnaG-MSFT commented on #56054
@eosho Thanks for the comment!
Assigning @bandersmsft for visibility, review and document enhancement consideration.

[2020-06-01 07:27] KrishnaG-MSFT commented on #56059
@dcbrown16 Thanks for the comment!
Assigning @bwren for visibility, review and document enhancement consideration.

[2020-06-01 07:28] KrishnaG-MSFT commented on #56058
@dcbrown16 Thanks for the comment!
Assigning @bwren for visibility, review and document enhancement consideration.

[2020-06-01 07:32] RohitMungi-MSFT commented on #55597
@cloudmelon Thanks for sharing your thoughts. I will go ahead and close this issue as we have reached out internally with our content and product team to guide you on this so they can review and approve the change before publishing it. If you have any questions please tag @RohitMungi-MSFT and we can discuss further.

[2020-06-01 07:32] #55597 closed

[2020-06-01 07:35] KrishnaG-MSFT commented on #56062
@rockboyfor Thanks for the comment!
Assigning @mumian for visibility, review and to enhance [this](https://github.com/Azure/azure-docs-json-samples/blob/master/tutorials-use-key-vault/CreateKeyVault.json) json file as requested.

[2020-06-01 07:52] VikasPullagura-MSFT commented on #56018
@MicrosoftDocs/aks-pm Can you please check and add your comments.

[2020-06-01 07:54] VikasPullagura-MSFT commented on #56067
@pnarsi
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-01 07:56] swapnilbjadhav commented on #55734
Thanks it's working now. we can close this issue

[2020-06-01 07:56] #55734 closed

[2020-06-01 07:59] axelgMS opened #56074 "What frequency should we poll for IMDS ?"
Hey there,
This page doesn't mention at what frequency we should poll the IMDS service.
Pooling too often (eg. every minute) might throw some timeouts - so what's the recommended value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ff57b63-a05d-2339-069d-de4c9749e2ae
* Version Independent ID: 2e4fd8b7-6057-07ad-d23a-

[2020-06-01 08:03] RohitMungi-MSFT commented on #55866
@lopejum I think this query is similar to [56043](https://github.com/MicrosoftDocs/azure-docs/issues/56043). Are you referring to responding to a conversation that is generated from a different channel by posting to direct line to get a new stream URL? @RobStand is it possible to achieve this?

[2020-06-01 08:05] RobertoPrevato opened #56075 "Examples on page are outdated"
Hi,
Even though this page was updated to the 19th of May 2020, and is linked to from this other page: [https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#single-page-apps-javascript](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#single-page-apps-javascript), examples are outdated.

For example, it uses this object:
[code]

Which doesn't exis

[2020-06-01 08:10] koyasuda-msft opened #56076 "Copy managed disks different tenant's subscription."
I think this method can use for different subscription in same tenant.
However, this method cannot use for different subscription in different  tenant.

Could you note information about different  tenant version in this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e429552f-202b-40e1-d624-16bb7731c38f
* Version

[2020-06-01 08:16] RobertoPrevato commented on #56075
Sorry,
the source of my confusion is that these examples are for the `preview` library `@azure/msal-browser`, while I installed `msal` package from npm.org.

Closing this issue. I think it would be beneficial to clarify the distinction between `msal` vs `@azure/msal-browser`.

[2020-06-01 08:16] #56075 closed

[2020-06-01 08:27] sparitosh07 commented on #46809
Hi!
I am facing the same error. Any resolution to this issue? Or links to the issue on MSDN or Stackoverflow?
@lexykassan @magnusnyborgmoan
Thanks for the help!
Paritosh Sharma

[2020-06-01 08:28] damochiz opened #56077 "How to view input and prediction using Application Insights Log Analytics"
How can i view the following images of the steps in the "Evaluate data" section? I can't get this information in the trace table even if I go through the steps.

![model-data-trace.png](https://docs.microsoft.com/en-us/azure/machine-learning/media/how-to-enable-app-insights/model-data-trace.png)

I want to be able to see input and prediction as in the image above.

---
#### Document Details

⚠ *Do

[2020-06-01 08:31] vipulsparsh commented on #56056
@RonnieQuan  Thanks for reaching out. We will investigate the thread and will reach out to you accordingly.

[2020-06-01 08:32] simo-92 commented on #56021
I followed this doc https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant. But for me writing the client id app in the Manifest of webapi app don't work as expeted. No consent for asked for the webapi and neither the service principal is created.

[2020-06-01 08:36] KrishnaG-MSFT commented on #55939
Assigning @bwren for visibility, review and document / ToC enhancement consideration as appropriate.

[2020-06-01 08:38] michaelwardyit opened #56078 "How to change 'Group by' slider background color?"
I need to change the 'Group by' slider background color in the developer APIM Portal. The background colour is a darker shade of blue and I'd like to make it red. There isn't any corresponding control in the 'Styles' admin flyout so I tried changing the text control's background in the 'Form Controls' section but that didn't work. The style in question is styles.scss:1639

    .switch input[type=c

[2020-06-01 08:47] VikasPullagura-MSFT commented on #56076
@koyasuda-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-01 08:47] VikasPullagura-MSFT commented on #56076
@ramankumarlive
Can you please check and add your comments on this doc update request as applicable.

[2020-06-01 08:49] VikasPullagura-MSFT commented on #56074
@axelgMS Thank you for bringing this to our attention. This is being assigned to doc author who will check and add the required information to the document.

[2020-06-01 08:49] VikasPullagura-MSFT commented on #56074
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-06-01 08:57] marcosflobo commented on #50105
I solved my question here https://github.com/Azure/acr/issues/366#issuecomment-631911139

[2020-06-01 08:58] ChiragMishra-MSFT commented on #55745
@kromerm Can you please take a look at this?

[2020-06-01 09:03] amanmcse commented on #55822
@jackbradshaw I am closing this thread as I haven't heard back from you. Feel free to tag me in your reply if you have any question.

[2020-06-01 09:03] #55822 closed

[2020-06-01 09:11] cananac commented on #56026
Thanks @SwathiDhanwada-MSFT I cannot share as they are confidential  but will raise a support ticket instead. We can close the issue for now, thanks.

[2020-06-01 09:16] Se7en7th commented on #55544
I figured that the missing .dll file would be "k4a.dll" and I attempted to link it through **Project > properties > Linker > Input**, There are two locations that contain that .dll file. one within, "C:\Azure Kinect SDK v1.4.0\tools\k4a.dll" and the other deeper within, "C:\Azure Kinect SDK v1.4.0\sdk\windows-desktop\x86\release\bin\k4a.dll"

Inserting one or the other would bring forth this error

[2020-06-01 09:23] ram-msft commented on #52904
@viju2008 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 09:23] #52904 closed

[2020-06-01 09:27] amanmcse commented on #55996
@cloudappsguy This is in reference to the new user_impersonation scope AND the default Graph scopes (for a total of 3 scopes - user_impersonation, offline_access, and openid).

I am updating the document to make it more clear.

[2020-06-01 09:29] AshokPeddakotla-MSFT commented on #55608
Thanks for the confirmation, Ricky.
@vinod83k Hope that answers your question. Do let us know if you have any further queries.

[2020-06-01 09:31] SwathiDhanwada-MSFT commented on #56026
Thank you @cananac. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-01 09:31] #56026 closed

[2020-06-01 09:32] Gurpreet103 commented on #55854
Hi,

I had followed the below document while enabling Selinux in which it is
mentioned about uninstalling apparmor first, but still it is showing me as
disabled.

https://askubuntu.com/questions/468821/selinux-is-not-enabled

Regards
Gurpreet Singh

On Mon, Jun 1, 2020 at 12:52 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2020-06-01 09:39] #55996 closed

[2020-06-01 09:40] AshokPeddakotla-MSFT commented on #55633
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-01 09:40] #55633 closed

[2020-06-01 09:42] a82kd opened #56080 "Outdated Info"
The Prerequisites section contains outdated info.
SAP Note 1025361 points to an EOL version. Newest version is SAP NetWeaver RFC Library 7.50, and can be found in SNote 2573790.
Moreover, it is not needed to copy dlls to system32. A better way as described in the SNote is to add the lib directory to the PATH variable instead.
You may also want to note down to restart the integration runtime, and/o

[2020-06-01 09:44] lymedo commented on #19456
Not sure that it is planned. It specifically states: **Service Tag for Microsoft Hosted Agents for Pipelines are not supported.**

[2020-06-01 09:47] abhishakemitra opened #56081 "Azure Qualys IPs"
The IPs mentioned in this section of [Azure Qualys Documentation](https://docs.microsoft.com/en-us/azure/security-center/built-in-vulnerability-assessment#deploying-the-qualys-built-in-vulnerability-scanner) list the below IPs to be whitelisted:

64.39.104.113
154.59.121.74

When I looked up the second IP, it mentions that is registerd to Cogent, an ISP in USA. Why would Qualys need to be whitelis

[2020-06-01 09:58] abhishakemitra opened #56082 "Azure Qualys IP Whitelisting"
The IPs mentioned in this section of [Azure Qualys Documentation](https://docs.microsoft.com/en-us/azure/security-center/built-in-vulnerability-assessment#deploying-the-qualys-built-in-vulnerability-scanner) list the below IPs to be whitelisted:

64.39.104.113
154.59.121.74

When I looked up the second IP, it mentions that is registerd to Cogent, an ISP in USA. Why would Qualys need to be whitelis

[2020-06-01 10:00] KalyanChanumolu-MSFT commented on #55733
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-01 10:00] #55733 closed

[2020-06-01 10:03] KalyanChanumolu-MSFT commented on #55729
@databasedav Thank you for creating the issue on the SDK repo.
It should get triaged and addressed soon.
We will close the issue here on the documentation page and continue the conversation on the SDK repo.

[2020-06-01 10:03] #55729 closed

[2020-06-01 10:09] CDrosos opened #56083 "Update needed to use AndroidX"
In this section, the tutorial suggest to update the package Xamarin.Android.Support.Design
We need an updated tutorial that only use AndroidX libraries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Send push

[2020-06-01 10:12] amanmcse commented on #56010
@harbour972 Make sure you are adding 2 or more users and your csv looks like:

![image](https://user-images.githubusercontent.com/33834131/83398819-b96a9c00-a41d-11ea-8654-b835a21aea0b.png)
or
![image](https://user-images.githubusercontent.com/33834131/83398988-0a7a9000-a41e-11ea-8826-56d1d51d1d25.png)

Please let me know if this helps fixing your issue.

[2020-06-01 10:17] Dev-ML11 commented on #56048
Hi AjayKumar,
I'm referring to (Get price and metadata information for resources used in an Azure subscription - https://docs.microsoft.com/en-us/previous-versions/azure/reference/mt219004(v=azure.100)).

[2020-06-01 10:26] Se7en7th opened #56085 "LNK1107 "Invalid or Corrupt file" - k4a.dll"
Following the instructions to link "k4a.dll" and I attempted to link it through Project > properties > Linker > Input, (of which wasn't very clear) There are two locations that contain that .dll file. one within, "C:\Azure Kinect SDK v1.4.0\tools\k4a.dll" and the other deeper within, "C:\Azure Kinect SDK v1.4.0\sdk\windows-desktop\x86\release\bin\k4a.dll"

Inserting one or the other would bring fo

[2020-06-01 10:27] SnehaAgrawal-MSFT commented on #56083
@CDrosos Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-06-01 10:30] KrishnaG-MSFT commented on #55998
@jperl It works for me without any issues when tried from different browsers so I suggest you to clear cookies, cache, etc. and re-try in different browsers to diagnose the issue better. If the issue still persists then I recommend you to reach out to Azure support who would be able to determine this with more information related to your environment. So, if you have a support plan then [here](http

[2020-06-01 10:31] VikasPullagura-MSFT commented on #55854
@Gurpreet103 Thanks for responding with the details.
As this issue needs deeper investigation, this can be better handled via a support case. Please open a support request for getting this issue checked.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and [link](ht

[2020-06-01 10:31] #55854 closed

[2020-06-01 10:42] RohitMungi-MSFT commented on #55994
@PatrickFarley Could you please review the document and update the same if the SDK used in this sample is deprecated?

[2020-06-01 10:44] RohitMungi-MSFT commented on #56014
@fmegen Could you please review the above inputs and update the pre-requisites as required?

[2020-06-01 10:46] wjohnson2250 opened #56086 "IServiceProvider of the IoC service not mentioned."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-inject

[2020-06-01 10:47] rayne-wiselman commented on #49803
Fixed #please-close

[2020-06-01 10:47] #49803 closed

[2020-06-01 10:48] RohitMungi-MSFT commented on #56038
@trevorbye Could you please review the above inputs and update the document accordingly?

[2020-06-01 10:50] microkost opened #56087 "Incosistent naming style"
What is "application-gateway-group-id", please?
The used parameter -g suggests AppGw's resource group name. Name is more than confusing in that formulation.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63a79cb-cc95-2135-2eee-4dbacaebb9b0
* Version Independent ID: 57506d98-9be9-bc9c-0e57-687f2f595236
* Content: [Autos

[2020-06-01 10:57] VikasPullagura-MSFT commented on #55818
@vikancha-MSFT Can you please check and add your comments on this issue.

[2020-06-01 11:02] souravmishra-msft commented on #55707
@msmbaldwin, It would be great if you can take a look at the following thread.

[2020-06-01 11:32] jagarg commented on #55839
@AjayKumar-MSFT
Do we have any update on this issue? Is it a bug or we missed something from our end?
cc: @kamaljit-1991

[2020-06-01 11:40] blessedwithsins opened #56088 "AAD Integration with existing clusters"
Hi Team,

By using "az aks update-credentials --reset-aad", existing clusters can be integrated with AAD.

Please update the document for same.

Regards,
Piyush Gaur
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-fcb

[2020-06-01 11:41] JanNepras opened #56089 "How to set headers correctly?"
In the part "Create a console app to send tagged notifications" section 4 there is this code:

[code]

The variable headers is not assign to anything? Could you post proper example how to set this header?

I am also wondering how to set android notification priority to high? Especially how to do it with method SendNotificationAsync or SendTemplateNotificationAsync?

---
#### Document Details

⚠ *D

[2020-06-01 11:44] jgmicallef opened #56090 "Page is missing the role creation component in AAD."
The tutorial is missing the part about creating a role under the Meraki Dashboard in App registrations inside Azure AD.

Edit the manifest, generate a GUID from online generator such as [https://guidgenerator.com/](https://guidgenerator.com/)

id is the guid
value is the value we create in the SAML roles in the Meraki Dashboard

Example appRole below:
`		{
			"allowedMemberTypes": [
				"User"

[2020-06-01 11:45] burtzz commented on #18296
@MarileeTurscak-MSFT as this been confirmed? Im not able to connect to my rds farm on iPAD using Microsoft RD App.
It does work on Windows while using the Activex RDS

[2020-06-01 11:50] vipulsparsh commented on #56009
@JasonHershey We have submitted the change request to Author.
@yelevin  Can you please look into this, I have submitted the PR but do not have merge permission.

[2020-06-01 11:50] rayne-wiselman commented on #55386
There's no documentation available at this time. #please-close

[2020-06-01 11:50] #55386 closed

[2020-06-01 12:00] Dustefan opened #56092 "Please add more clarity on the license requirements, as many understand this is a feature which requires only 1 AAD P1 license."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdaa549-8f3b-75e0-9d27-a1a10417d86b
* Version Independent ID: aff533db-3ac6-5f9a-0134-812f7d488670
* Content: [What is Conditional Access in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview?

[2020-06-01 12:18] SnehaAgrawal-MSFT commented on #56089
@JanNepras Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-01 12:21] SnehaAgrawal-MSFT commented on #55721
@yeahsicy Thanks again for the feedback. Your feedback has been shared with the content owner for further review.

[2020-06-01 12:28] DmitriyAlergant-T1A-Rogers opened #56093 "Azure Data Factory - Hive Connector - specify whether Kerberos is supported or not"
https://docs.microsoft.com/en-us/azure/data-factory/connector-hive

The current article does not mention Kerberos authentication at all.

If Kerberos is actually supported, the article needs to provide the details (like the HDFS connector article does). If Kerberos is not (yet) supported with Hive connector, the article should explicitly spell this out.

---
#### Document Details

⚠ *Do not edit t

[2020-06-01 12:31] DmitriyAlergant-T1A-Rogers commented on #56093
Kerberos authentication is a big thing in enterprise Hadoop environments, and not something that can be left ambiguous in the documentation.

[2020-06-01 12:40] SumanthMarigowda-MSFT commented on #55967
@andifandrich We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 12:40] #55967 closed

[2020-06-01 12:43] ram-msft commented on #56077
@damochiz Thanks for the question. We will update you shortly.

[2020-06-01 12:43] danimir commented on #56013
The script is provided on the best effort basis and it is not maintained. Customer needs to adjust to script to their own preferences. Thanks.

[2020-06-01 12:44] SumanthMarigowda-MSFT commented on #55940
@JasonCard Thanks for the feedback! I have assigned the issue to the content author for further review.

[2020-06-01 12:45] softchris commented on #55666
Super, that's really helpful @tfitzmac :)

[2020-06-01 12:46] SumanthMarigowda-MSFT commented on #55918
@ohwellwhatever  Thank for reaching out. Since this channel is for driving improvements towards MS Docs If you having an issue ARM templates I'd recommend posting your question in https://azure.microsoft.com/en-in/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this ma

[2020-06-01 12:51] SnehaAgrawal-MSFT commented on #55942
@rodrigb Thanks again for reaching here. Could you please elaborate your ask to help you better on this.
As its mentioned in the doc- " The "Binds" section in the JSON has 2 entries:
"/var/lib/azuremediaservices:/var/lib/azuremediaservices": This is used to bind the persistent application configuration data from the container and store it on the edge device.

"/var/media:/var/media": This binds th

[2020-06-01 12:59] scmeric opened #56094 "FileNotFoundError"
[Enter feedback here]
After  I uploading file from computer to project or session, I don't know what is the right path that I should use to import data with numpy and pandas. Could anyone who can tell me the file path while importing data? I check several times of the doc"work with data files", but get no useful info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-01 13:02] nthewara opened #56095 "Manual Deployment Powershell -DefaultProfile"
It's not required to provide -defaultprofile when running Set-AzOperationalInsightsIntelligencePack Powershell commandlet. Below documentation include an example for running the command and the prerequisite is for the user to be signedin to Azure.

https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/set-azoperationalinsightsintelligencepack?view=azps-4.1.0

We should remove -

[2020-06-01 13:04] Blackmist commented on #55065
Thanks for the feedback @rohancragg ! I've created a work item to revise the articles to incorporate this feedback.

[2020-06-01 13:05] AjayKumar-MSFT commented on #56006
@rodrigb, Your feedback has been shared with the content owner for further review.
Thanks again for taking time to share your valuable feedback.

[2020-06-01 13:05] nthewara commented on #56095
https://github.com/MicrosoftDocs/azure-docs/pull/56096 PR created with modified PowerShell syntax removing -defaultprofile.

[2020-06-01 13:10] DixitArora-MSFT commented on #56065
@CodeFisher-02 This channel is for driving improvements towards MS Docs, for any product related question/issue, it would be best if you can create the product issue to the [official Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Once you post your issue on forums, it will have visibility across Azure Function Product team.

[2020-06-01 13:13] VikasPullagura-MSFT commented on #56088
@blessedwithsins
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-01 13:13] VikasPullagura-MSFT commented on #56088
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-01 13:17] DixitArora-MSFT commented on #56078
@michaelwardyit Just checking if you have gone through these and see if it helps.

https://docs.microsoft.com/en-us/azure/api-management/api-management-customize-styles

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal-customize

[2020-06-01 13:19] DixitArora-MSFT commented on #56086
@wjohnson2250 Could you provide specific section in the documentation that your feedback is applicable to?

[2020-06-01 13:32] vipulsparsh commented on #56071
@omarmallat Thanks for reaching out Omar, we will investigate and get back to you.

[2020-06-01 13:35] mumian commented on #56062
@rockboyfor - thank you for the comment.  I will fix it today.

#please-close

[2020-06-01 13:35] #56062 closed

[2020-06-01 13:36] vipulsparsh commented on #56092
@Dustefan Thanks for reaching out, we will investigate and update this thread.

[2020-06-01 13:38] vipulsparsh commented on #56090
@jgmicallef  Thanks for reaching out, we will investigate and update this accordingly.

[2020-06-01 13:39] NavtejSaini-MSFT commented on #55652
@knightmeister We will take on this enhancement with the author. For now we will go ahead and close this thread.
Thanks for the feedback.

[2020-06-01 13:39] #55652 closed

[2020-06-01 13:48] dgard1981 opened #56097 "'IConfigurationRefresher' does not contain a definition for 'Refresh'"
The instructions on this page result in a code error.

`await ConfigurationRefresher.Refresh();`

To confirm - I had completed the quickstart [Create an Azure functions app with Azure App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp) as specified in the prerequisites

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-06-01 13:57] MonikaReddy-MSFT commented on #56097
@dgard1981 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-01 14:00] mumian commented on #56062
@rockboyfor - fixed.

[2020-06-01 14:06] e-saiz opened #56098 "Basic Load Balancer is not supported with multiple node pools"
I think a reference to this link would help the customer to no make mistakes using Basic LB with multiple nodepools.  Or even not supported or recommended Basic LB with new clusters.

https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools

The AKS cluster must use the Standard SKU load balancer to use multiple node pools, the feature is not supported with Basic SKU load balancers.

---

[2020-06-01 14:10] CodeFisher-02 commented on #56065
Created Issue https://github.com/Azure/Azure-Functions/issues/1612

[2020-06-01 14:21] craigshoemaker commented on #55827
@mjboggs - I went through the article and made a number of updates.

You're right that not adding Node as a prerequisite was misstep on our part - so I appreciate you pointing that out. I went through the procedure step-by-step and made sure that Live Server works as now describes.

Please do let me know if you see anything else we can do to improve the doc. I hope that it makes for a much better

[2020-06-01 14:36] nuno-barreiro commented on #55848
Closing this issue. My bad. Looking at wrong screen. Docs are correct

[2020-06-01 14:36] #55848 closed

[2020-06-01 14:50] jvanderbiest opened #56099 "Multiple attribute example forces Binder instead of IBinder implemenation"
Because you can only use `Binder` there is no way to mock the `IBinder` interface for unit testing. It's very confusing behavior and is there any reason for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-9271-25a4-439d-2a024f31693e
* Content:

[2020-06-01 14:51] SatishBoddu-MSFT commented on #55808
@rosenthalm Just checking back! Please let us know if you need further help.

[2020-06-01 14:54] jtwardos commented on #55076
Sent email.

[2020-06-01 14:59] marklauter opened #56100 "source database permissions"
The document says "Ensure that the credentials used to connect to source SQL Server instance have CONTROL SERVER permissions."

While setting up the Azure DMS connection we received a message stating that the credentials required Sys Admin rights in addition to CONTROL SERVER. The prerequisites section doesn't mention this anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-06-01 15:07] hariprabu2010 commented on #55026
I'm interested in knowing about this. I dont want customer to provide certain passwords and I dont want them to be saved in the managed app template as well. Would need to store them in KeyVault but not sure how to access it during the managed app deployment using Marketplace

[2020-06-01 15:09] Jhimolost opened #56101 "[BUG]Redirect URI from Microsoft auth call in shortened"
I have specified a redirect_uri in url params to https://login.microsoftonline.com/tenantId/oauth2/v2.0/authorize

and it looks like this: http://localhost:4200/app/#/code(and then there have to be the code param ?code) but I get http://localhost:4200/app/?code...

I suspect the is is in #, but I can't get rid of it in my url

So the **#/code** is missing

---
#### Document Details

⚠ *Do not edit

[2020-06-01 15:12] KrishnaG-MSFT commented on #56095
@nthewara Thanks for the comment and the PR. We will review and provide an update as appropriate.

[2020-06-01 15:12] tesych commented on #55544
@Se7en7th , did you follow the instructions [how to add Azure Kinect library to your project](https://docs.microsoft.com/en-gb/azure/Kinect-dk/add-library-to-project)?
I also would suggest to check out [Azure Kinect Sensoe SDK GitHub](https://github.com/microsoft/Azure-Kinect-Sensor-SDK) and open any code related issues there.

[2020-06-01 15:15] polctim commented on #34055
same here today in my corp we had 17 people with the same error, and the only solution which worked for me was the manual one. Each Win10 Device should be removed and added back to Intune, not fun stuff :(

[2020-06-01 15:37] mimckitt commented on #56017
@JeffGiroux good catch on this! I added a link to the REST API information. Once the PR merges the changes will go live after a few hours.

The REST information is here: https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/update

You will find in the update sections that there is a field for custom data that provides information.

[2020-06-01 15:40] mimckitt commented on #55231
Sorry for the delay. I have been following up on this. I expect to hear back this week and will provide an update.

[2020-06-01 15:41] asherdale opened #56102 "Mistake in step 4 for databox gateway provisioning tutorial"
Step 4 begins by saying that "Steps 5-7 only apply when booting up in a non-DHCP environment. " This is a mistake because step 7 is important for all scenarios. If I am not mistaken, it should say "Steps 5-6 only apply...".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43ea3f2b-6cea-1993-6fa6-fa1313e67a87
* Version In

[2020-06-01 15:45] phakkarainen opened #56103 "az aks create fails with: "Details: token contains an invalid number of segments""
Running:
1)
az ad sp create-for-rbac --skip-assignment --name myCluster1sp
{
  "appId": "xxx-yyy",
  "displayName": "myCluster1sp",
  "name": "http://myCluster1sp",
  "password": "hashed_password",
  "tenant": "yyy-zzz"
}

Waiting 10 minutes for sync as noted in issues with the similar issues.

az aks create --resource-group myResourceGroup --name aks-cluster
Finished service principal creation[##

[2020-06-01 15:55] Se7en7th commented on #55544
@tesych , Yes I did, thank you for responding. 👍  I had Installed a NuGet package named: "Microsoft.Azure.Kinect.Sensor" v1.4.0. And linked "k4a.lib" to my project, I might have not linked "k4a.dll" properly or it has not linked at all. Which may have resulted in the above-mentioned error message that is attached.

Currently, my code has no Errors in the "Error List". But, an output mentioning thi

[2020-06-01 15:55] RyanHill-MSFT commented on #55642
Hi @imeya apologies for the late reply. Did you [add](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling) `services.AddApplicationInsightsTelemetry();` before adding your [processor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#create-a-telemetry-processor-c)?

[2020-06-01 15:57] DixitArora-MSFT commented on #55834
@chen98 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 15:57] #55834 closed

[2020-06-01 15:58] ecfan commented on #17557
Hi @ganeshspwr,

Thanks for reaching out!

For product issues, please post your question in the [Azure Logic Apps section at Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-logic-apps.html).

For new doc questions, please open a new GitHub issue.

[2020-06-01 15:58] DixitArora-MSFT commented on #55840
@kevinlam1 Appreciate your inputs in this ?

[2020-06-01 16:02] KranthiPakala-MSFT commented on #56060
@DeepakSaini119 Thanks for reaching out. Could you please point us to the document you are referring to?

In case if your query is not relevant to a specific document, I would recommend you to please open a thread in [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/index.html) or [stackoverflow](https://stackoverflow.com/questions/tagged/azure-stream-analytics). We have our engineers

[2020-06-01 16:18] kevinlam1 commented on #55840
I have moved teams. You can reach out to @Divya Swarnkar<mailto:Divya.Swarnkar@microsoft.com> for connector questions.

Thanks,
Kevin

From: DixitArora-MSFT <notifications@github.com>
Sent: Monday, June 1, 2020 8:58 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kevin Lam <Kevin.Lam@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Co

[2020-06-01 16:22] tfitzmac commented on #55536
@vllama - thanks for this question. I am updating the article with a note about child resources. The condition doesn't cascade to child resources. You must apply it to each resource type that is conditionally deployed. The article already has a section about complete mode.

[2020-06-01 16:23] #55536 closed

[2020-06-01 16:23] NavtejSaini-MSFT commented on #53738
@evertonmc We will go ahead and close this issue for now. If you have any questions further please get back to us.

[2020-06-01 16:23] #53738 closed

[2020-06-01 16:23] DixitArora-MSFT commented on #55840
@divyaswarnkar Appreciate your inputs in this ?

[2020-06-01 16:26] NavtejSaini-MSFT commented on #56013
@eolver Please let us know if you have any further questions.

[2020-06-01 16:26] kristapratico opened #56104 "Confusion on where self.key is coming in Authenticate the Client section"
We're seeing users confused where the "self" properties are coming from in this section:

[code]

It's unclear in the quickstart that these variables were set as class variables:

[code]

I'd suggest removing self and/or adding the above as part of that section like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-01 16:26] phakkarainen opened #56105 "Password displayed is a hash/encrypted"
[Enter feedback here]
az ad sp create-for-rbac --skip-assignment --name myAKSClusterServicePrincipal
->
Password displayed is a hash that can not be used in terminal shell with --client-secret.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version Independent ID: 69d7fa26-1a37-e4

[2020-06-01 16:30] CeciAc opened #56106 "Link to wrong repository?"
@ThomasNunninger commented on [Sat May 30 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/674)

"Navigieren Sie alternativ zur Azure Storage PHP-Clientbibliothek auf GitHub, um den Quellcode zu klonen."

The link directs to https://github.com/Azure/azure-storage-php. But I can't find a "WindowsAzure\Common\ServicesBuilder" in that repo.

Is it possible that you want to link to https

[2020-06-01 16:32] yelevin commented on #56009
I will take care of it. Thanks for the feedback!

[2020-06-01 16:34] NavtejSaini-MSFT commented on #55812
@NDSoul We are checking regarding this with our author and we will get back to you.
@DavidTrigano Please check the location of the page and how to edit the same.

[2020-06-01 16:34] AshokPeddakotla-MSFT commented on #55843
Thanks for the additional details. I am adding author @troyhopwood to provide further information and update the doc as appropriate.

[2020-06-01 16:37] AshokPeddakotla-MSFT commented on #54711
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 16:37] #54711 closed

[2020-06-01 16:38] souravmishra-msft commented on #55712
@hpsin, It would be great if you can check on this thread and update the document accordingly.

[2020-06-01 16:38] yelevin commented on #56009
Changes have been merged.

[2020-06-01 16:39] yelevin commented on #56009
#please-close

[2020-06-01 16:39] #56009 closed

[2020-06-01 16:44] ThairAbdalla opened #56107 "Syntax error"
[Enter feedback here]

This part of the Javascript has a missing comma, the current format will not work 👍
 }({
      instrumentationKey:"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx"
      endpointUrl: "https://dc.applicationinsights.us/v2/track"
   });

There should be a comma between the instrumentation key and the endpoint, it should be like this:

 }({
      instrumentationKey:"xxxxxxxx-xxxx-xxxx-xxxx-xx

[2020-06-01 16:51] SaurabhSharma-MSFT commented on #55478
@davida1992 Have tried step 6 of identifying membership to a specific group ?

![image](https://user-images.githubusercontent.com/38112130/83432237-709aef00-a3ed-11ea-80d8-d3e48290fdbf.png)

[2020-06-01 16:52] fedonasc opened #56108 "Reservation scope"
In the **Reservation Scope** section, you say that you can share a reservation when scoped to multiple subscription but at the same time (last line) it stats: _A reservation cannot be split across multiple subscriptions_. I am confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4da9483-7120-9e2c-9861-9dba80034b56

[2020-06-01 16:53] JeffGiroux commented on #56017
Will this specifically include an example with the entire POST body?

[2020-06-01 16:56] #55704 closed

[2020-06-01 16:59] PeterCLu commented on #55065
@rohancragg, thanks for your report. The documentation team is aware of your request and is tracking the work item. This request will be prioritize along with other similar requests.

I'll proceed to #please-close this issue, if you feel that your documentation issue has not been resolved, you can reopen a new issue with additional information.

[2020-06-01 16:59] #55065 closed

[2020-06-01 16:59] tamram commented on #56108
#reassign: @tamram

[2020-06-01 17:01] tamram commented on #56108
@fedonasc - Thanks for pointing out that discrepancy. Multiple subscriptions are supported. I've removed the conflicting line, and the change should go live later today.

#please-close

[2020-06-01 17:01] #56108 closed

[2020-06-01 17:04] MartinJaffer-MSFT commented on #56040
Thank you for your feedback, @Chreschtf . This has been assigned to the content owner, @hrasheed-msft  and will be updated as appropriate.

[2020-06-01 17:07] RohitMungi-MSFT commented on #56045
@rhalaly It would be great if you could let us know where you are seeing this message? Could you please check if the streaming endpoint is added to the app service settings as mentioned [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-directlinespeech?view=azure-bot-service-4.0#enable-the-bot-framework-protocol-streaming-extensions)?

[2020-06-01 17:08] MartinJaffer-MSFT commented on #56080
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-01 17:11] Grace-MacJones-MSFT commented on #55647
Hi @v-tawe, these aren't different things. The default local cache size is 1 GB. the doc has been updated to reflect that.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-01 17:11] #55647 closed

[2020-06-01 17:15] aawadhwa commented on #43244
true, could someone share the document on these parameters? I had hard time skimming trough every page on sftp and ssh connector but didn't find anything.

[2020-06-01 17:17] v-kydela commented on #55704
@diberry - Carol's response contradicts the documentation, the API reference, and what Hazem told me specifically.

Even if it's true that LUIS is still using TA v2, the documentation still does not reflect the reproducible results from LUIS. If the "negative" label really corresponded to scores closer to zero while positive meant closer to one then there would be no way to get the negative 1.0 re

[2020-06-01 17:19] rhalaly commented on #56045
The error is from the Azure Portal (inside the log of the Direct Line Speech):
Each time I trigger a meesage or voice message, new issue arrives:
![image](https://user-images.githubusercontent.com/8597700/83435304-a3bc9d00-a444-11ea-9248-b5225100e96b.png)

![image](https://user-images.githubusercontent.com/8597700/83435357-bb942100-a444-11ea-89e4-fccc295691df.png)

And yes, everything is configure

[2020-06-01 17:22] ecfan commented on #55646
Hi @steveculshaw,

The topic has been updated with these steps:

![image](https://user-images.githubusercontent.com/13206671/83435818-b6f24d00-a3f1-11ea-841a-89d12b80c2ad.png)

[2020-06-01 17:25] Mike-Ubezzi-MSFT commented on #55786
@kourbou As the content owner has stated, the published changes will be live within the next 24 hours if not already.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-01 17:28] ashkickindevelopment opened #56109 "Reserved Capacity Blob Storage Optimization"
When looking to 'Optimize costs for Blob storage' and reviewing the 'Exchange or refund a reservation' section, it does not (appear to) provide the method for changing access tiers for blob storage accounts. Does this require an 'Exchange' and then a purchase of a new reservation with the newly desired access tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-06-01 17:28] Mike-Ubezzi-MSFT commented on #55875
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2020-06-01 17:28] #55875 closed

[2020-06-01 17:29] Mike-Ubezzi-MSFT commented on #55876
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2020-06-01 17:29] #55876 closed

[2020-06-01 17:30] Mike-Ubezzi-MSFT commented on #55640
@eroruz We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-01 17:30] #55640 closed

[2020-06-01 17:31] kourbou commented on #55786
Sounds good, thank you.

[2020-06-01 17:41] qm13 commented on #56085
@Se7en7th  could you please copy this issue over the the Azure KInect Sensor SDK repo https://github.com/microsoft/Azure-Kinect-Sensor-SDK. Please use the Sensor SDK Bug Report template and make sure you provide detailed repro steps.

[2020-06-01 17:43] portacha commented on #55793
Can be posible that the image of ubuntu or my vpc make that error?

[2020-06-01 17:43] hpsin commented on #55712
This is a library question, not a protocols question.  @jmprieur would be the appropriate contact here.

[2020-06-01 17:46] dfberry1 commented on #55704
@v-kydela I'll remove the text regarding TA Sentiment scoring and point to the TA Sentiment score doc. Does that work for you?

[2020-06-01 17:54] Karishma-Tiwari-MSFT commented on #55076
Thank you both. I replied over your emails. I will close this issue here. Once resolved offline, we will share the resolution here.

[2020-06-01 17:54] #55076 closed

[2020-06-01 18:01] mimckitt commented on #55231
Got this figured out.

The scheduled events go to single VMs in a zone and group of VMs in AVset. E.g. if you have 100 VMs in a AvSet and there is an update to one of them, the schedule event will go to all 100, whereas if there are 100 single VMs in a zone, then event will only go to the Vm which is getting impacted.

So it does still work with Availability Zones it seems it displays a bit differ

[2020-06-01 18:03] Leonardo-Ferreira opened #56111 "DependencyTelemetry.StartTime is deprecated"
In the Manual tracking session, there is a suggestion to use `StartTime` property which is now `[Deprecated]`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Independent ID: a4089752-177c-866c-7237-3ac02c7750d9
* Content: [Dependency Tracking in Azure Application Insights

[2020-06-01 18:09] MartinJaffer-MSFT commented on #56025
@Hasil-Sharma  Thank you for bringing this interesting issue to our attention.  I have tried assigning expressions to array type variable default values, and run into the same issue.  I will reach out internally for more info.

[2020-06-01 18:11] KranthiPakala-MSFT commented on #56080
@a82kd We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2020-06-01 18:13] bashscr opened #56112 "Follow-up for ACM for CSP"
Related to issue #40523 [here](https://github.com/MicrosoftDocs/azure-docs/issues/40523)

Hi, hope all is well.

I wanted to follow up with the previous issue since I was wondering if there were any updates in regards to accessing ACM for CSP Subscriptions. Thank you!

[2020-06-01 18:13] hpsin commented on #53914
No details on the issue, 28 days without response.  #please-close

[2020-06-01 18:13] #53914 closed

[2020-06-01 18:15] v-kydela commented on #55704
@dfberry1 - I think it would be better to explain what the sentiment results do mean rather than just removing the incorrect information. While the sentiment results in LUIS seem to be based on TA v3, they're not the same. TA returns a separate score for negative, neutral, and positive, while LUIS only returns one score like it's the "top intent."

[2020-06-01 18:16] hpsin commented on #54893
#please-close
Answer is provided above.

[2020-06-01 18:16] #54893 closed

[2020-06-01 18:20] Karishma-Tiwari-MSFT commented on #36274
This doc might help: https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#manage-node-pools-using-a-resource-manager-template

[2020-06-01 18:28] #56030 closed

[2020-06-01 18:38] JoshuaPartlow commented on #56094
Hi @scmeric - I believe it's described in step 3 of the [Import files from the file menu in a notebook](https://docs.microsoft.com/en-us/azure/notebooks/work-with-project-data-files#import-files-from-the-file-menu-in-a-notebook) section. If you've stored the file in the project folder you can directly address it by filename, but if it's in the session folder you need to use the ../ for the relativ

[2020-06-01 18:38] mrbullwinkle commented on #56111
@Leonardo-Ferreira Thank you for pointing that out, I will update the code sample to take care of this.

[2020-06-01 18:41] BharathNimmala-MSFT commented on #56107
@ThairAbdalla Thank you for bringing this to our attention, we will work on this and update the document accordingly.

[2020-06-01 18:42] amasse3 opened #56114 "Hardware requirements when SQL is remote?"
It would be helpful to clarify whether these disk requirements for Azure AD Connect server change if the ADSync database is using a remote SQL server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD C

[2020-06-01 18:44] lgayhardt commented on #28132
@flatproject and @erikest  I was unable to reproduce not seeing the link to the troubleshooter. It does still seem to work properly.

![image](https://github.com/lgayhardt/screenshots/raw/master/appinsights-Troubleshooterlink.png)

There is nothing actionable on the docs side so I'm going to close this issue.

If you are still having issues, I suggest opening a question on [Microsoft Q&A](https://

[2020-06-01 18:44] #28132 closed

[2020-06-01 18:50] Grace-MacJones-MSFT commented on #55675
Hello @Wenis77, this is a known issue and it's been tracked [here](https://github.com/MicrosoftDocs/azure-docs/issues/49245).  A fix is planned to be rolled out the engineering team, a crucial note in this[ Azure doc](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#web-sockets. ) has been updated:

"Web Sockets are not currently supported for Linux apps on Free

[2020-06-01 18:50] #55675 closed

[2020-06-01 18:51] shooker opened #56115 "Update Recommended Private DNS Zone Names to Required"
The **recommended** Private DNS Zone names are **required** to be used for DNS records to be deployed correctly and certificates to function inside of PaaS services. Could a sentence be added or amended to highlight the necessity of using the correct zone names?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32

[2020-06-01 18:51] jmprieur commented on #55712
@souravmishra-msft : this can be the union of Issuer and ValidIssuer.

[2020-06-01 18:55] GiftA-MSFT commented on #55984
@trrwilson please review above feedback. Thanks.

[2020-06-01 19:00] MarileeTurscak-MSFT commented on #56068
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 19:07] KranthiPakala-MSFT commented on #56030
@manish-jain-alept  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-06-01 19:09] MarileeTurscak-MSFT commented on #56073
@umar86
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 19:10] jasonnutter commented on #55177
#sign-off

[2020-06-01 19:10] MarileeTurscak-MSFT commented on #56069
@AmitavaHazra can you please link the document you are following so that we can better assist?

[2020-06-01 19:11] jasonnutter commented on #55177
#please-close

[2020-06-01 19:11] #55177 closed

[2020-06-01 19:12] diberry commented on #55704
@v-kydela I've requested a PM response.

[2020-06-01 19:12] KranthiPakala-MSFT commented on #56028
@dimitri-b We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2020-06-01 19:20] VanMSFT commented on #55812
Thanks @NDSoul! We are fixing the table of content. We appreciate you catching this, and letting us know!

[2020-06-01 19:34] SubhashVasarapu-MSFT commented on #56087
@microkost , "application-gateway-group-id" indicates the resource group name. Once after assigning the variable if you try this command,
[code]
Then you will be provided with a "applicationGatewayGroupId" which represents the complete path of the resource group.
Ex: /subscriptions/{SubID}/resourceGroups/{ResourceGroup1}

The above GroupId should be added as a scope while creating service principl

[2020-06-01 19:37] #55812 closed

[2020-06-01 19:40] MarileeTurscak-MSFT commented on #56081
@abhishakemitra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 19:44] SubhashVasarapu-MSFT commented on #55342
@frehnejc , The doc will be updated soon. Please stay tuned!
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-01 19:44] #55342 closed

[2020-06-01 19:44] markolb81 opened #56120 "Cooldown period includes duration for metric measurement or not?"
Hi, it is very unclear, wether the measurement of the metrics rule will start counting already during the cooldown period or not.
So, given the example that you have a 10 minute cool down period and 10 minute duriation for the metric measurement, the quest is if immediately after a scale-up operation it will take at least 10 or 20 minutes to the next possible scale-up operation (assuming the metri

[2020-06-01 19:45] SubhashVasarapu-MSFT commented on #55429
@frehnejc , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-01 19:45] #55429 closed

[2020-06-01 19:46] jlichwa commented on #49740
@SaurabhSharma-MSFT  and @spboyer  All are merged. Is there anything else needed for this item?

[2020-06-01 19:48] MarileeTurscak-MSFT commented on #56082
Closing this out as a duplicate of 56081

[2020-06-01 19:48] #56082 closed

[2020-06-01 19:48] djpmsft commented on #54944
The and and or functions only take in two arguments. I updated docs to reflect this behavior. Let me know if you have any questions

#please-close

[2020-06-01 19:48] #54944 closed

[2020-06-01 19:48] SubhashVasarapu-MSFT commented on #55348
@felipe-conde-benavides , Appreciate your patience. Idea or suggestion based on your experience with Azure? We would love to hear it! Please take a few minutes to submit your idea in the one of the forums available on [here](https://feedback.azure.com/) or vote up an idea submitted by another Azure customer. All of the feedback you share in these forums will be monitored and reviewed by the Micros

[2020-06-01 19:48] #55348 closed

[2020-06-01 19:51] djpmsft commented on #55825
A self-dependency is only required if your pipeline depends on the data output of the previous pipeline (Ie if the previou pipeline fails, don't run the current one). Otherwise use max concurrency. In this case you don't need a self-dependency.

As this is not a doc issue, I am closing this issue. Feel free to keep commenting!

#please-close

[2020-06-01 19:51] #55825 closed

[2020-06-01 19:58] kkowns11 opened #56121 "How exactly does Microsoft handle spam detection for chatbtos implemented using their framework? We want to know if we need to add extra measures or if Microsoft meets our standards."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-06-01 20:02] hansenms commented on #55734
#please-close

[2020-06-01 20:03] hansenms commented on #55904
@pulakkumar599 following up on this to see if you have made it work?

[2020-06-01 20:07] SubhashVasarapu-MSFT commented on #55530
@deccansoft , Appreciate your patience. The question might be answered in terms of address range. Whether you define the address range as public or private, the address range is reachable only from within the virtual network, from interconnected virtual networks, and from any on-premises networks that you have connected to the virtual network.

In another context you can deploy resources in VNET w

[2020-06-01 20:07] #55530 closed

[2020-06-01 20:07] MarileeTurscak-MSFT commented on #55768
Hi @JefTek,

Sorry, I spoke to a few different PMs on that team and one said it was in GA, but I just got confirmation that this is still in Preview. So I am closing out the pull request.

[2020-06-01 20:08] SubhashVasarapu-MSFT commented on #55541
@adebareshowemimo , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-01 20:08] #55541 closed

[2020-06-01 20:08] Mike-Ubezzi-MSFT commented on #55839
@jagarg Can you drop constraint first and then follow up by dropping the column, as two separate commands?

[2020-06-01 20:09] MonikaReddy-MSFT commented on #56111
@Leonardo-Ferreira , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-01 20:11] SubhashVasarapu-MSFT commented on #55548
@biqas , Appreciate your patience. We have assigned this issue to the content author for updating the doc accordingly.

[2020-06-01 20:11] mike-urnun-msft commented on #56099
@jvanderbiest Thank you for your feedback! We will review and update as appropriate.

[2020-06-01 20:13] jagarg commented on #55839
@Mike-Ubezzi-MSFT
I think we did try that still we were getting errors

Below are the steps which my colleague @kamaljit-1991 tried.

create schema test_pri_schema;
create table test_pri_schema.t1 (c1 INT, c2 VARCHAR(256), PRIMARY KEY NONCLUSTERED(c1) NOT ENFORCED);

Fetch the constraint information from table_constraint view or key_column_usage view and dropping it by running the below command :

[2020-06-01 20:13] mike-urnun-msft commented on #56106
@ThomasNunninger Thank you for your feedback! We will review and update as appropriate.

[2020-06-01 20:14] jebalert opened #56122 "Offline support for cognitive services"
It's not clear if Azure cognitive service based bots can run offline in containers. A previous page I was on claimed its not supported, but linked me here for more information. This page indicates it may be possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c94dc-0175-5575-0d82-484e9c8db0b4
* Version Independe

[2020-06-01 20:15] spelluru commented on #53560
Fixed now.

#please-close

[2020-06-01 20:15] #53560 closed

[2020-06-01 20:17] sahilPrashar90 opened #56123 "Device-based Conditional Access policies for Azure AD registered devices"
In the page under "https://docs.microsoft.com/en-us/azure/active-directory/devices/overview#resource-access" it is described that Device-based Conditional Access policies can be applied for Azure AD registered devices but when you try to use it there is no option to apply based on Azure AD registered devices, can you please provide any documentation for the same.

---
#### Document Details

⚠ *Do

[2020-06-01 20:18] spelluru commented on #49051
Added this statement:
If you are using IntelliJ, see Install the Azure Toolkit for IntelliJ.

#please-close

[2020-06-01 20:18] #49051 closed

[2020-06-01 20:29] MarileeTurscak-MSFT commented on #56085
Closing this out as this should go over to the other repo.

[2020-06-01 20:29] #56085 closed

[2020-06-01 20:29] jperl commented on #55998
Ok I will raise the issue via our support plan next time I encounter it.

[2020-06-01 20:29] #55998 closed

[2020-06-01 20:31] #55984 closed

[2020-06-01 20:33] JimacoMS3 commented on #39536
@shindigo -- just an update. I have reached out to our SDK teams and they have a work item to produce samples to demonstrate proxies on our supported platforms. Appreciate your feedback and patience here.

[2020-06-01 20:35] JimacoMS3 commented on #49270
Hi there @Chahul I haven't heard back from you. I'll leave this open another couple of days, and then I'll move to close it. Let me know if I've missed something. Thanks!

[2020-06-01 20:40] SubhashVasarapu-MSFT commented on #55253
@EvanBasalik , Appreciate your patience. Yes, both the endpoints should support routing preferences. Team is working on updating the docs soon. Please stay tuned!
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-01 20:40] #55253 closed

[2020-06-01 20:42] SubhashVasarapu-MSFT commented on #55815
@brianlehr , Appreciate your patience. The doc links are fixed and routing to the right pages.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-01 20:42] #55815 closed

[2020-06-01 20:47] SubhashVasarapu-MSFT commented on #56051
@johnwildes , Yes this feature is generally available with a missing announcement for now due to multiple external challenges. Soon there will be an official announcement from the team.

[2020-06-01 20:50] MarileeTurscak-MSFT commented on #56093
@DmitriyAlergant-T1A-Rogers
Thanks for your feedback! We are looking into this.

[2020-06-01 20:51] ckssaas commented on #54701
@MicrosoftGuyJFlo not helpful.

Since obviously the term "autojoin" suggests some form of automatic join feature, I'll go ahead and follow through for the sake of other partners/customers:

"Autojoin" is not an actual Microsoft term, nor is it a protocol and it does not have documentation. If you manage to find the correct [Microsoft document](https://docs.microsoft.com/en-us/azure/active-director

[2020-06-01 20:59] JamesTran-MSFT commented on #55842
@PhilipAnthonyMurray

Thank you for your time and patience, I will now proceed to close this thread. If you would like to continue the discussion feel free to reach out on Microsoft Q&A or create a new issue.

[2020-06-01 21:00] rbudzko commented on #55884
Exactly this!

@mike-urnun-msft, the only way I find python 3.8 work (linux) is via `func azure functionapp publish <APP_NAME> --build-native-deps`. But it works only once per new function app... second and each following deployment end up with `Error calling sync triggers (BadRequest). Request ID = '<ID>'`

@SeaDude thanks for doing all the leg work and explaining it in this GitHub thicket. It re

[2020-06-01 21:07] MarileeTurscak-MSFT commented on #55753
What do you mean by correct settings?

[2020-06-01 21:10] CeciAc opened #56124 "cannot create the openshift cluster by "az aro create""
@FY0323 commented on [Mon Jun 01 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4669)

[フィードバックをこちらに入力してください]

0. environment

* using Azure Cloud Shell by Windows Terminal
* azure cli version：2.5.1

1. cannot execute the command

I tried the following command and the error was returned.

[code]

I tried the other command in [this page](https://docs.microsoft.com/ja-jp/azure/opensh

[2020-06-01 21:10] Weychris commented on #55753
In my OP there seems to be 2 documents with conflicting information
regarding the lifetime of the MFA token.

On Mon, Jun 1, 2020 at 5:07 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

--
*Chris Messina*
*cmessina@gmail.com <cmessina@gmail.com>*

[2020-06-01 21:11] zhenlan commented on #56097
@dgard1981 the document was created with a prerelease version of the library. The API was changed since then in the stable version release. Please use `IConfigurationRefresher.TryRefreshAsync()` instead.

Thanks for catching this. I will make an update of the document.

[2020-06-01 21:12] spelluru commented on #42786
#please-close

[2020-06-01 21:12] #42786 closed

[2020-06-01 21:16] cconli opened #56125 "Reference to Admin Accounts with Mailboxes"
Hello,

This article references admin accounts having mailboxes. Other documentation we have at Microsoft contradicts this https://docs.microsoft.com/en-us/archive/blogs/cloud_solution_architect/azure-administrator-account-security. In my own security training, I have learned that admin accounts should not have mailboxes. Is there a plan to remove this reference to keep our documentation consisten

[2020-06-01 21:33] marc-gmail-towersap opened #56126 "creating storage account containers fails invalidheadervalue"
first off, the commands kinda fail if you pick powershell over bash
blobStorageAccount="marcplaystore" fails.  It works if you use $blobStorageAccount, so this is more just a minor nitpick, but you probably want to say to use bash or prepend a dollarsign when setting variables.

but the main thing is, as it is currently written, this fails.
you run az storage container create -n 'images' --account

[2020-06-01 21:34] LijuV-MSFT opened #56127 "UseSecurityKeyForSignin vs EnableFIDODeviceLogon"
Based on the options, you can enable security keys for Windows sign-in either using Windows Intune or group policy (for HAADJ devices).

But whereas the first option sets HKLM\SOFTWARE\Microsoft\Policies\PassportForWork\SecurityKey - UseSecurityKeyForSignin

the second sets HKLM\Software\Policies\Microsoft\FIDO - EnableFIDODeviceLogon.

Do the different values do the same thing?

---
#### Document

[2020-06-01 21:36] dgard1981 commented on #56097
@zhenlan Thanks, I can confirm that `configurationRefresher.TryRefreshAsync()` works.

[2020-06-01 21:38] alexvy86 opened #56128 "Document why a failover could fail with "Last sync time is unavailable""
I'm trying to failover a storage account but I'm getting error `Last sync time is unavailable for account <my-account>`, even though I can see it has a value if I query it:

![image](https://user-images.githubusercontent.com/716334/83456908-3732a580-a426-11ea-91e0-706813be341f.png)

While the problem sounds like technical and not docs, it would be good to figure out why it can happen, and add it t

[2020-06-01 21:43] Karishma-Tiwari-MSFT commented on #56098
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-06-01 21:43] #56098 closed

[2020-06-01 22:02] MarileeTurscak-MSFT commented on #56073
I am not aware of plans to support this, but I have reached out to the product team to ask.

If you would like to make a feature request for this, you can do that in [User Voice](https://feedback.azure.com/) and someone from the product group will respond to your suggestion.

[2020-06-01 22:02] Karishma-Tiwari-MSFT commented on #56105
I tried to reproduce the issue but I was able to use the Password in the output from `az ad sp` command in the `az aks create` command as it is. The cluster was created successfully for me.
Can you please confirm you are using the latest Az CLI version? Let me know.

[2020-06-01 22:11] Karishma-Tiwari-MSFT commented on #54678
We will now close this issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-01 22:11] #54678 closed

[2020-06-01 22:11] Karishma-Tiwari-MSFT commented on #55378
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-01 22:11] #55378 closed

[2020-06-01 22:12] Karishma-Tiwari-MSFT commented on #55894
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-01 22:12] #55894 closed

[2020-06-01 22:13] the-blesss opened #56129 "Azure Cloud Shell delayed output scenario"
I'm trying to run a PowerShell script from a Cloud Shell session, where the *.ps1 sits in a storage account container protected by a SAS token. The script runs successfully, but one of the output required for end user review, does not show up until after the third user input prompt (needed to create a new RG, VNET, subnet, NSG, peering, tagging).  The output is needed for informed user input to cr

[2020-06-01 22:14] Karishma-Tiwari-MSFT commented on #55973
@palma21 Did you get a chance to look into the customer's feedback on two patch releases on the same day and the need to update the documentation? Let me know. Thanks :)

[2020-06-01 22:24] swanderz commented on #55713
sorry @WilliamAntonRohm looks like I don't have admin permissions on both repos so I can't transfer
https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2020-06-01 22:27] phakkarainen commented on #56105
I'm using version 2.6.0.

I thought bash did not escape the password hash (containing all kinds of chars for shell interpretation)
 properly. Now that I re-created an sp, I got the az aks create in Running...

Do I now suspect a typo? Hmm...

[2020-06-01 22:28] DataBitz opened #56130 "API_AUTHORIZED_IP_RANGE is not supported for Private Cluster"
It's not clear in this page that you cannot use this command to limit access to the API when using Private Clusters.
The error reported via CLI is "--api-server-authorized-ip-ranges is not supported for private cluster"
Please update the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cf

[2020-06-01 22:33] GiftA-MSFT commented on #56104
@kristapratico we will review your feedback and get back to you shortly. Thanks.

[2020-06-01 22:34] GiftA-MSFT commented on #56122
@jebalert we will review your feedback and get back to you shortly. Thanks.

[2020-06-01 22:34] spelluru commented on #47832
Added links under Reference -> Go in the TOC.
https://docs.microsoft.com/en-in/azure/event-hubs/event-hubs-about

#please-close

[2020-06-01 22:34] #47832 closed

[2020-06-01 22:38] spboyer commented on #49740
looks good. #close

________________________________
From: Jack Lichwa <notifications@github.com>
Sent: Monday, June 1, 2020 3:46:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Shayne Boyer <shboyer@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] A few issues found - especially for consistency and missing codes (#49740)

@Saurabh

[2020-06-01 22:40] MarileeTurscak-MSFT commented on #55782
@puthurr I just tested and also was able to reproduce this issue. I have reported this to the product team as a bug and also requested an update to this article.

[2020-06-01 22:43] MarileeTurscak-MSFT commented on #55782
Closing this out since I've reported it but feel free to ping me offline.

[2020-06-01 22:43] #55782 closed

[2020-06-01 22:51] jlichwa commented on #49740
#please-close

[2020-06-01 22:51] #49740 closed

[2020-06-01 22:53] starforce opened #56132 "Connect-SFCluster not recognized. Installed Microsoft.ServiceFabric.Powershell.Http"
I tried running Connect-SFCluster  for Powershell  5.1.18362.752  Desktop  and Powershell 7.0.1 CORE and doesn't recognize the command. see errors below. There is little documentatgion about the  Microsoft.ServiceFabric.Powershell.Http Module. Is this solution for backuping up Stafeful data  intended for production environments?

PowerShell 7.0.1 Information.

PS C:\Users\star\ Install-Module -Nam

[2020-06-01 22:57] MarileeTurscak-MSFT commented on #55763
Please post this to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) and we will gladly troubleshoot. This is more of a product-question than a doc related issue so Q&A is the best channel for it.

[2020-06-01 22:57] #55763 closed

[2020-06-01 23:01] SaurabhSharma-MSFT commented on #56127
@LijuV-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 23:02] SaurabhSharma-MSFT commented on #56125
@cconli Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-01 23:04] SaurabhSharma-MSFT commented on #56123
@sahilPrashar90 Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 23:06] SaurabhSharma-MSFT commented on #56114
@amasse3 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-01 23:07] SaurabhSharma-MSFT commented on #56101
@Jhimolost Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-01 23:17] hpsin commented on #56101
The OAuth2 spec is clear on fragments not being allowed in redirect URIs:

[2020-06-01 23:18] kgremban commented on #55109
Yes, in the article we provided "MyEdgeDeviceCA" as an example name instead of using a placeholder tag like `<device name>`. The instructions preceeding the script run were supposed to provide context for that: "Provide a name for the CA certificate, for example MyEdgeDeviceCA, which is used to name the output files."

And it doesn't really matter what you pass as the input to the script, as long

[2020-06-01 23:20] SaurabhSharma-MSFT commented on #54585
@tx5westmt As communicated over email it seems there is a possible bug during the re-direction to mysignins.microsoft.com and they are working on the fix for the same.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-01 23:20] #54585 closed

[2020-06-01 23:26] marc-gmail-towersap opened #56133 "thumbnail integration: one or more bindings failed to load: following bindings are missing required direction property"
Followed the instructions, no errors, but when I go to create the event grid subscription, I get "The following bindings are missing the required direction property and may have been placed incorrectly: eventGridEvent. Please update the bindings in your functions.json file.

THere are no triggers listed, even though it's in the function.json.  It has a bindings of just two entries type: eventGridT

[2020-06-01 23:27] SaurabhSharma-MSFT commented on #56081
@abhishakemitra Where do you see this information that this IP is registered to Cogent.  I have checked it publicly and I see this owned by Qualys.
![image](https://user-images.githubusercontent.com/38112130/83464060-998aa680-a424-11ea-9732-c3fa1a876d18.png)

[2020-06-01 23:34] rigdern opened #56134 "Unclear wording: "certificate with the furthest into the future expiring certificate""
It seems like the wrong word is used in the following sentence from the "Node-to-node certificate security" section:

Specifically, I think "furthest into the future expiring certificate" should be "furthest into the future expiring date" similar to the phrase shown later in the paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-01 23:38] tchristiani commented on #50332
#please-close

[2020-06-01 23:38] #50332 closed

[2020-06-01 23:39] sachamicrosoft opened #56135 "Clarity on "Enter your key here""
Took a while to debug this but please clarify on the piece of code "subscription_key = 'enter your key here'" that you only enter the endpoint not including the subdomain/pages as copied from the Azure Portal.

IE:
"https://my-project.cognitiveservices.azure.com/bing/v7.0" will not work
"https://my-project.cognitiveservices.azure.com" will

The first will give you a 403 "Resource not found" that t

[2020-06-01 23:44] MarileeTurscak-MSFT commented on #56073
So far this does not appear to be supported, but I've passed your feedback along to the product team and will update this thread when I have an answer. Meanwhile, I suggest making a feature request in User Voice.

[2020-06-01 23:44] #56073 closed

[2020-06-02 00:09] GiftA-MSFT commented on #55784
@markvogt try the following command:
`python.linting.pylintArgs": ["--extension-pkg-whitelist=cv2"]`

If that doesn't work, here please review more suggestions regarding a similar issue here: [example 1](https://github.com/PyCQA/pylint/issues/2426), [example 2](https://stackoverflow.com/questions/51593147/cv2-python-has-no-imread-member).

[2020-06-02 00:10] abhishakemitra commented on #56081
@SaurabhSharma-MSFT please see this link and screenshot

https://www.whois.com/whois/154.59.121.74

![EA574370-388C-4644-AFE0-DD1ED68B1C8D](https://user-images.githubusercontent.com/9855193/83466047-cfa04880-a46d-11ea-926f-63bc9bc1be3d.jpeg)

[2020-06-02 00:13] imeya commented on #55642
@RyanHill-MSFT , yes, I did try that, but no luck.

[2020-06-02 00:15] MarileeTurscak-MSFT commented on #56100
@marklauter
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 00:17] Karishma-Tiwari-MSFT commented on #54747
@deeksha-microsoft
1. Bry bringing down VMs, it implies that the VMs will be rebooted. In case of  'Automatic' upgrade policy, all VMs may be rebooted at the same time, resulting in downtime to your application.

2. Scale set model contains the configuration for the scale set as a whole, it includes the properties that applies to the scale set like sku, location, plan etc. If you are changing the

[2020-06-02 00:19] MarileeTurscak-MSFT commented on #56100
I made a pull request to update the document. Thanks for this!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/117369

[2020-06-02 00:19] #56100 closed

[2020-06-02 00:19] aahill commented on #54999
Hi @JJ11teen - the documentation has been updated, you can find some example responses for NER in the how-to article:
https://docs.microsoft.com/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-entity-linking?tabs=version-3#example-v3-responses

Thanks!

#please-close

[2020-06-02 00:19] #54999 closed

[2020-06-02 00:20] Karishma-Tiwari-MSFT commented on #56105
Thanks for sharing the update. Let me know if you see this issue going forward and we will look into it.
 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-02 00:20] #56105 closed

[2020-06-02 00:21] MarileeTurscak-MSFT commented on #56102
@asherdale
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-02 00:22] Karishma-Tiwari-MSFT commented on #56120
Thanks for the question. We are currently investigating and will update you shortly.

[2020-06-02 00:25] MarileeTurscak-MSFT commented on #56102
I think this is correct. I made a pull request to update this and will leave it open for confirmation from @alkohli

https://github.com/MicrosoftDocs/azure-docs-pr/pull/117370

[2020-06-02 00:25] #56102 closed

[2020-06-02 00:30] Grace-MacJones-MSFT commented on #55399
Thanks for your patience. You can try setting up applicationInitialization in your web.config to specify which page you want to hit. The` <applicationInitialization> `element specifies that web application initialization is performed proactively before a request is received. An application can start up more quickly if initialization sequences such as initializing connections, priming in-memory cac

[2020-06-02 00:30] #55399 closed

[2020-06-02 00:30] MarileeTurscak-MSFT commented on #56103
Since this is a troubleshooting question and not related to a specific document, please post this in [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/index.html) and we will gladly help troubleshoot.

[2020-06-02 00:30] #56103 closed

[2020-06-02 00:30] juliusl opened #56136 "Example with KV VM Extension in a full template"
It would be great if you could document the caveats or tips on how this can be added to a full template in one shot, which would be common in actual usage.

For example, is this valid syntax to get a secret uri? Most examples on w/ search point to secretUriWithVersion, and it's also hard to find where these properties live.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-06-02 00:32] Karishma-Tiwari-MSFT commented on #56130
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-06-02 00:32] #56130 closed

[2020-06-02 00:34] Karishma-Tiwari-MSFT commented on #56134
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-02 00:58] bajmming opened #56137 "Is westasia actually a region for Azure Arc for servers (preview)?"
The article says the preview is available in westasia, but I don't think that's actually an Azure region based on the list here https://azure.microsoft.com/en-us/global-infrastructure/geographies/  Should it be Southeast Asia or East Asia or somewhere else?
![westasia region](https://user-images.githubusercontent.com/2646044/83468289-73224500-a4d0-11ea-8bbd-72ab951f6c91.jpg)

---
#### Document Det

[2020-06-02 01:08] palma21 commented on #55973
We'll issue a PR to clarify the docs as they are bit confusing:

As stated a bit below we sometimes have to jump or cut versions due to security risks or vulnerabilities.
https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#supported-versions-policy-exceptions

The comment above still applies but is a bit confusing it should read

- Users have **30 days** to upgrade to a newer,

[2020-06-02 01:13] robinsh commented on #55619
Obviously you can do an import/export with a standard hub. You can also do it with a Basic hub. Once you start looking at other parts of the Jobs system, it comes more complicated. You can do import/export, but you can't do CreateJob, or GetJob. Also, there is another type of job based on twin query (schedule update twin and scheduleinvoke method) that is not supposed for the
basic hubs. I'll star

[2020-06-02 01:14] asergaz commented on #12827
@gaikovoi I believe this is by design. please add a new feature request here so it can be voted and added to backlog if approved: https://feedback.azure.com/forums/321918-azure-iot

fyi: @kgremban
Thank you!

[2020-06-02 01:18] Mike-Ubezzi-MSFT commented on #55759
@rishabh-cldcvr Since we have not heard from you, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-02 01:18] #55759 closed

[2020-06-02 01:23] c-nova commented on #55801
OK, I got it.
I have make sure reflect your code for the Docs.
Please close this issue.
Thank you.

[2020-06-02 01:25] mrbullwinkle commented on #55927
@jagwaran while TelemetryConfiguration.Active is technically obsolete there are still some scenarios in .NET Core console applications where I believe it may still be necessary. I think you are in one of those scenarios. See this open issue here on this topic: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1457

I messed around with the base SDK and a .NET Core 2.1 console app for

[2020-06-02 01:27] shengdamao opened #56138 "VNet integration with firewall enabled Storage Account"
Would like to ask about one specific scenario.

I have one function app hosting on dedicated plan.
I would like to use regional VNet integration with firewall enabled storage account.

At first it works fine, after scaling out to more instances. Traffic is not going through VNet integration. It used some random internal IP to call firewall enabled storage account which was blocked by the firewall.

[2020-06-02 01:30] phakkarainen commented on #56103
The docs say the password is in style "xxxx-xxxx-xxxx-xxxx-xxxx" (which is true for the previous version), but it actually now is "*{sdflkj]/<'e`lk"+?" so to me the docs are not exactly correct either. :)

[2020-06-02 01:31] ghost opened #56139 "azure-service-bus/samples/Java/quickstarts-and-tutorials/quickstart-java/tutorial-topics-subscriptions-filters-java doesn't exist in github"
[Enter feedback here]
azure-service-bus/samples/Java/quickstarts-and-tutorials/quickstart-java/tutorial-topics-subscriptions-filters-java doesn't exist in github

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b6c588d-6a63-6470-2ea1-1346d2693e21
* Version Independent ID: 4e6d2d1d-37dc-46fa-106c-30df28b45dde
* Content:

[2020-06-02 01:40] Grace-MacJones-MSFT commented on #55420
Thanks for bringing this to our attention. I believe there is already a note about this in the doc.

![saai](https://user-images.githubusercontent.com/42247081/83470518-43732e80-a437-11ea-89e4-6c665d76f995.PNG)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2020-06-02 01:40] #55420 closed

[2020-06-02 01:42] SaurabhSharma-MSFT commented on #56081
@abhishakemitra thanks for sharing this.
@memildin can you please help here.

[2020-06-02 02:00] DeepakSaini119 commented on #56060
Hi @KranthiPakala-MSFT, I am referring to this tutorial: https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-power-bi-dashboard

[2020-06-02 02:02] Mike-Ubezzi-MSFT commented on #55839
@jagarg I ran `DROP INDEX ClusteredIndex_349911e17c94451490f13ae37d160fa5 ON  test_pri_schema.t1;` to drop the index on t1 followed by attempting to run `alter table test_pri_schema.t1 drop column c1` and I am able to reproduce what you are experiencing. This appears to be a bug of sorts.

![Screenshot (40)](https://user-images.githubusercontent.com/37126106/83471674-2855ee00-a43a-11ea-80c5-abdbcc

[2020-06-02 02:03] Mike-Ubezzi-MSFT commented on #55865
@roofiq Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-02 02:03] #55865 closed

[2020-06-02 02:26] GiftA-MSFT commented on #55867
@luistelmocosta Latest point anomaly detection is suitable for streaming/real-time data. You send new data points as they are generated to create a model, and the API determines if the latest point in the time series is an anomaly. Meanwhile, with batch anomaly detection, the API will generate a model using the entire time series data and analyze each data point.

[2020-06-02 02:28] jagwaran commented on #55927
Got you. Thanks @mrbullwinkle

[2020-06-02 02:29] SB-o-matic commented on #53855
Hello,
Having the same problem. Any progress? Working on a critical project that requires this.

[2020-06-02 02:30] Mike-Ubezzi-MSFT commented on #55922
@itsyashpal I am going to have the content author review this as a potential doc enhancement based upon your feedback.

[2020-06-02 02:36] phakkarainen commented on #56105
Here's the problem again.

az ad sp create create-for-rbac --skip-assignment --name xxx
{
...
  "password": "dk2#n?[j=U{sktAfeS+/r+2/*kM!\"%S\"",
...
}

Bash has problems with ! and \"

echo "ek2#n?[j=U{sktAfeS+/r+2/*kM!\"%S\""
-> bash: !\: event not found

az login --service-principal --username xxx --password "ek2#n?[j=U{sktAfeS+/r+2/*kM!\"%S\"" --tenant  xxx
-> bash: !\: event not found

echo "

[2020-06-02 02:47] KrishnaG-MSFT commented on #56137
@bajmming Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-02 02:47] Mike-Ubezzi-MSFT commented on #55964
@langstonj The screen captures are not showing so I apologize for not responding specifically to what you have shared.
This setting determines the minimal TLS version a client can use to connect. If the minimum TLS version you have configured is v1.1 and a client attempts to connect with v1.0, the connection will be rejected. If v1.1 or v1.2 is specified by the client, the connection will be grant

[2020-06-02 02:52] ashmatty opened #56141 "Missing import in app.component.ts and missing function ngOnInit"
Under "Configure the Application" in Step 3, there is a missing import:

Currently:
[code]
Should be:
[code]

Also, if the class AppComponent implements OnInit, then it should implement the function `ngOnInit`. Currently the documentation does not provide an implementation of this function under the heading "Sign in a user".

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-06-02 03:10] GiftA-MSFT commented on #56122
@jebalert can you please share the link the other page you are referring to in order to get the full context? Thanks.

[2020-06-02 03:21] DixitArora-MSFT commented on #56139
Hi @xuejl-microsoft Thanks for reaching out. We will review and update as appropriate.

[2020-06-02 03:23] DixitArora-MSFT commented on #56138
Hi @shengdamao Thanks for reaching out. We will review and update as appropriate.

[2020-06-02 03:36] idmcn opened #56143 "@TonywalkerCN"
@TonywalkerCN
We will be closing this thread now. Let us know if you need further help.

_Originally posted by @neeleshray-msft in https://github.com/MicrosoftDocs/azure-docs/issues/53912#issuecomment-623950708_

If mooncake is able to support this feature, but we can locate right information for AZURE_MFA_HOSTNAME and STS_URL.

Any comments?

---
#### Document Details

⚠ *Do not edit this section

[2020-06-02 03:50] ghost opened #56144 "How to add subcriber filter of Service Bus based on numeric data?"
From the document, it says it supports "simple numeric arithmetic" and on page "SQLFilter syntax" it says Operators follow C# implicit conversion semantics whenever possible. But when I tried adding a filter like this **Quantity > 10**, none of messages matches it. From the doc I read, properties can only be sent in String, it seems impossible to compare its value with integer.

FYI
SQL Filters -

[2020-06-02 03:51] AmitavaHazra commented on #56069
Please refer doc:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy

[2020-06-02 04:05] langstonj commented on #55964
Not being able to revert a selection is pretty critical information.

Thank you again for your help.

Best,

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC  |  2431 E. 61st, Suite 700  |  Tulsa, OK  74136  |  www.elynxtech.com

From: Mike Ubezzi <notifications@github.com>
Sent: Monday, June 1, 2020 9:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc

[2020-06-02 04:26] SatishBoddu-MSFT commented on #55808
@rosenthalm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-02 04:26] #55808 closed

[2020-06-02 04:30] dcbrown16 opened #56147 "Consider including Automation"
It would be nice to have Automation added to this page. Several customers have asked about the difference between Automation and services presented here recently.
Also, a couple other things that could really make this doc useful would be to have a single table comparing different aspects of all the solutions presented (instead of just various side-by-side comparisons of two services), and having

[2020-06-02 04:37] dcbrown16 opened #56148 "Add Portal steps"
Diagnostic logs can be configured from Azure Automation accounts in the Azure portal now. Please add those steps to this doc, in the current state it seems to imply that you can only set them with PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52eb74e-6880-eb97-8cfd-c7c88feb64d7
* Version Independent ID: 6

[2020-06-02 04:44] amenarde commented on #55419
At this time there is not fully validated parity on Linux for CN-declared clusters as there is for Windows, including the transition from TP-to-CN, so we do not recommend it at this time. We will modify the docs to say so now; when it becomes available we will call it out in the docs and in our release notes https://docs.microsoft.com/en-us/azure/service-fabric/release-notes

[2020-06-02 04:51] 313mlclub opened #56149 "How to specify what AAD tenant I want to use for user authentication"
In Spring Updates, I was not able to find any options to specify the AAD tenant.
Both the new "Windows Virtual Desktop" UI and the new PowerShell module, I couldn't find any ways for it.
Do I have to use the previous UI in the marketplace to specify AAD tenant?

[2020-06-02 05:04] KrishnaG-MSFT commented on #56129
Hi Matt @the-blesss, If possible, can you provide complete .ps1 script and also can you explain the use-case and/or scenario with more context (like what does user prompt 1 and user prompt 2 do ? and when you say 'user prompt', is it cloud shell session prompt in shell.azure.com or cloud shell session in your machine or something else?) It would be easier to diagnose, troubleshoot and try reproduc

[2020-06-02 05:12] cijothomas commented on #55927
For the logging adapters, continue to use Tc.Active as there are no better alternatives.
These adapters exist and will continue to exist, but we are not actively investing there - most focus will be on ilogger provider.