[2020-01-21 17:44] ticoncei opened #46545 "No reference that AD Connect extension attributes are not supported with optional claims"
Customer are being miss-leaded to belive that they can use AD Connect extension attributes with optional claims for JWT tokens.

There's no reference on the documentation, to the supported types of extensions attributes.

I’ve inclusively test this scenario, as well as the custom extension attributes scenario and confirmed that:
-	On-premises extension attribute will not be sent on the token
-	Cus

[2020-01-21 17:46] SamaraSoucy-MSFT commented on #46523
Hi @jonira!

Thank you for your feedback. We'll review it and get back with you shortly.

[2020-01-21 17:46] leotsarev opened #46546 "Query by using LINQ tells nothing about LINQ"
Query by using LINQ should use actual language integrated query, not something like `CombineFilters`. From other sections of documentation it seems that LINQ option exists...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69086594-0d9f-3413-ac83-690b95125002
* Version Independent ID: d6ae6180-ae9f-2fa0-bc36-adc65874700

[2020-01-21 17:48] jvplopper opened #46547 "Get-AzureADPasswordProtectionSummaryReport"
I'm trying to run the SummaryReport powershell and I'm not getting any response: no errors, no returned data, nothing.  I've tried varying the input parameters and I still get nothing.  I'm using the following commands "Get-AzureADPasswordProtectionSummaryReport -DomainController OurDCName"  Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-01-21 17:49] Mike-Ubezzi-MSFT commented on #46243
@g0pinath Thank you for creating the [UserVoice entry](https://feedback.azure.com/forums/217321-sql-database/suggestions/39452413-restored-dbs-in-elastic-pool-goes-to-standard) and linking to this GitHub Issue. I am providing a link here to the UserVoice entry should a reader want to comment on and up vote your entry on the UserVoice forum.
We will now proceed to close this thread. If there are fu

[2020-01-21 17:49] #46243 closed

[2020-01-21 17:49] jvplopper commented on #46547
Oh, and I made sure to run from within the directory "C:\Program Files\WindowsPowerShell\Modules\AzureADPasswordProtection" on the Proxy server.

[2020-01-21 17:49] dlepow commented on #46105
Footnote added to regional limits table to indicate regions that are currently "GA".
#please-close

[2020-01-21 17:49] #46105 closed

[2020-01-21 17:58] FrankHu-MSFT commented on #46528
@venkat1017 Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:58] FrankHu-MSFT commented on #46530
@sawdit Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:58] FrankHu-MSFT commented on #46531
@gomnet Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:58] FrankHu-MSFT commented on #46532
@roy-work Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:59] FrankHu-MSFT commented on #46534
@aguiweb Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:59] FrankHu-MSFT commented on #46535
@fume Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:59] FrankHu-MSFT commented on #46536
@andyjballgit Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:59] FrankHu-MSFT commented on #46544
@felickz Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:59] FrankHu-MSFT commented on #46545
@ticoncei Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 17:59] FrankHu-MSFT commented on #46547
@jvplopper Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 18:01] jkewley opened #46548 "Dark theme support"
The image show-private-link-overview.png doesn't work well with dark theme. The black text disappears due to transparency in the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf87af8-44eb-1bcd-b9c4-543b6e1b3088
* Version Independent ID: d4152ccf-9b0f-9033-2647-3e612ee3ec74
* Content: [Private Link for Azure Da

[2020-01-21 18:02] markjbrown commented on #46143
We currently do not support console.log for triggers, stored procedures only.

This is on our backlog but is not a priority. Recommend just using stored procedures if possible if you need console.log.

Thanks.

#please-close

[2020-01-21 18:02] #46143 closed

[2020-01-21 18:07] n2N8Z opened #46549 "Maximum integer is 999999999999999"
It would be good if you could document that the largest integer that can be stored without losing precision is 999999999999999 (15 digits).

Here's what I found:
"_version_":   1650810313046491100
"_version__d": 1650810313046490000

2^53
"_version_":   9007199254740992,
"_version__d": 9007199254740990

2^52
"_version_":   4503599627370496
"_version__d": 4503599627370500

2^51
"_version_":   225179

[2020-01-21 18:07] Dilergore commented on #31188
@akingscote This is definitely not a documentation issue. This should work by default. We need to find the root cause, then engage Microsoft to fix (probably) the Marketplace Image for 2016-Datacenter.

[2020-01-21 18:09] n2N8Z opened #46550 "MD5 identified as GUID - how to avoid ?"
When I feed in an MD5 hash e.g. "md5": "57920d1feee527313658340bb1ab101a"

It is parsed as "md5_g": "57920d1f-eee5-2731-3658-340bb1ab101a".

How to avoid the reformatting ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e

[2020-01-21 18:13] brandonh-msft commented on #44921
I can help here. I created the following fxn:
[code]
and called it from this logic app (note usage of all defaults):
![image](https://user-images.githubusercontent.com/20270743/72830879-87a72480-3c36-11ea-88eb-02b8c0666854.png)

and received this:
![image](https://user-images.githubusercontent.com/20270743/72830946-ae655b00-3c36-11ea-855c-7bb04509b9fc.png)

Hope that helps

[2020-01-21 18:16] aleazofeifam opened #46551 "Can I restore any user?"
This option to restore users is only asking for one parameter, the objectID. Let's say I have the objectID of a user that was deleted 1 year ago and now I want restore him.
Will I only be able to restore users when their account is "soft-deleted" or will this bulk restoration also work even if the account was "hard-deleted"?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-01-21 18:18] aleazofeifam opened #46552 "Is there a limit on how many users can be restored at once?"
Is there a limit on how many users can be restored at once? Will there be some kind of throttling if I attempt to restore 100.000k users that are in the AAD recycle bin (https://portal.azure.com/#blade/Microsoft_AAD_IAM/UsersManagementMenuBlade/DeletedUsers)?

What are the best practices for those scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-01-21 18:18] FrankHu-MSFT commented on #46287
Hey @wbach82  thanks for letting us know about this, I'll adjust the docs accordingly. Please let us know if you have any other concerns otherwise I will be closing out this issue by end of day today.

[2020-01-21 18:20] NavtejSaini-MSFT commented on #46542
@steamwings We are checking this and will get back to you.

[2020-01-21 18:22] NavtejSaini-MSFT commented on #46546
@leotsarev We are checking this and we will get back to you.

[2020-01-21 18:23] NavtejSaini-MSFT commented on #46548
@jkewley We are checking this and will get back to you.

[2020-01-21 18:24] aleazofeifam opened #46553 "Review the steps to bulk delete users"
The steps 1-8 to Bulk Delete users are the same described to Bulk Restore Deleted users (https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/users-bulk-restore), it doesn't make sense because both actions are the opposite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ec44f25-325a-beec-79c6-2f4

[2020-01-21 18:24] craigktreasure commented on #44769
@dotMorten Thanks for reporting this. I've filed an internal task for us to address this (internal 24704027 for reference). In the meantime, the docs for [Unity](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity) should be very similar in most cases.

[2020-01-21 18:25] FrankHu-MSFT commented on #46544
hey @felickz this has been a common ask and the issue is that B2C can come from any of the Azure IP Addresses documented here : https://www.microsoft.com/en-us/download/details.aspx?id=56519

And it's unrealistic to whitelist every single one of them.

CC: @mmacy what are your thoughts on this one? I'm not sure if it makes sense to add a note here regarding the IP Addresses. It might be better lis

[2020-01-21 18:27] mamccrea commented on #46257
This is not included in the TOC because it is an index page that only has links to other pages and no additional information. They're all listed under "Data sources" in the TOC.
![image](https://user-images.githubusercontent.com/38858737/72831859-e8d3f580-3c40-11ea-87ad-e53867e23303.png)

[2020-01-21 18:27] mamccrea commented on #46257
#please-close

[2020-01-21 18:27] #46257 closed

[2020-01-21 18:31] aleazofeifam opened #46554 "Is this a bulk soft-delete or a bulk hard-delete?"
The documentation says the following "Next, you can check to see that the users you deleted exist in the Azure AD organization either in the Azure portal or by using PowerShell."
Does that mean that the users will be totally (hard) deleted or they still be placed in the AAD User Recycle Bin?

Does this works like AAD Connect that before deleting a huge amount of objects it will give us a warning?

[2020-01-21 18:32] #46553 closed

[2020-01-21 18:34] cynthn commented on #44747
@MicahMcKittrick-MSFT I'm thinking of updating this to say:

"A single instance virtual machine in an availability set by itself should use Premium SSD or Ultra Disk for all operating system disks and data disks in order to qualify for the [SLA](https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines) for Virtual Machine connectivity of at least 99.9%."

Anything else that should be n

[2020-01-21 18:38] cynthn commented on #44577
@ssrirama-aka Thanks for the feedback! The doc were updated a couple of weeks ago. Sorry for the delay in updating this Issue.

#please-close

[2020-01-21 18:38] #44577 closed

[2020-01-21 18:41] felickz commented on #46544
I was hoping that was NOT going to be the answer you came back with :)

Upvotes please: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39486301-outbound-ip-range-for-restfulprovider-technical-pr

[2020-01-21 18:43] carlossanlop opened #46555 ""How to create a file share" screenshots are already obsolete"
The UI has changed considerably in the Azure Portal. It's not possible to follow these instructions anymore. Is there a chance they can be updated?

Edit - This page: https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-file-share

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2c9646-a4bc-aa28-d

[2020-01-21 18:43] msrini-MSFT commented on #46511
@BE-Digital-Solutions-Bart , NSG is not supported in the Private endpoint subnet : https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations

No ETA on when this limitation will be fixed.

[2020-01-21 18:44] vhorne commented on #43792
@KosukeHosoda
Article has been updated.
#please-close

[2020-01-21 18:44] #43792 closed

[2020-01-21 18:46] msrini-MSFT commented on #46509
@djhmateer , Thank you for sharing. Do you want this doc to be updated?

[2020-01-21 18:47] GiftA-MSFT commented on #46519
@diberry the code under 'Create entities for the app' in Python is missing examples for adding roles and prebuilt entities. Can you please update document accordingly? Thanks.

[2020-01-21 18:48] TravisCragg-MSFT commented on #46207
@benjamin-goldman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-21 18:48] #46207 closed

[2020-01-21 18:48] diberry commented on #46519
#in-process

[2020-01-21 18:48] carlossanlop commented on #46555
Update: It seems I had to follow the steps in one of the first links. I'll close this issue for now.

[2020-01-21 18:48] #46555 closed

[2020-01-21 18:50] KranthiPakala-MSFT commented on #46310
@cpyne Thanks for the feedback and bringing this to our attention! We have assigned the issue to content author to investigate this and update the document as appropriate.

@hrasheed-msft Could you please have a look at the feedback from @cpyne ? Both Image and text needs to be updated. - Thanks.

[2020-01-21 18:52] ggailey777 commented on #46533
Thanks for the feedback. We'll try to clarify this. #assign:craigshoemaker

[2020-01-21 18:53] SaurabhSharma-MSFT commented on #46171
@cat-mucius sorry for the delay,  I do not think it is possible through PowerShell but I am checking with the products team if there is any possiblity.

[2020-01-21 18:55] ecfan commented on #44921
@brandonh-msft, thank you! I've created a work item to track this work and for the PMs to prioritize.

[2020-01-21 18:56] mamccrea commented on #46071
Hi @eparizzi - I have created a ticket to have this information added. I will respond here once it has been updated. If you have any additional questions, please reopen this issue.

#please-close

[2020-01-21 18:56] Grace-MacJones-MSFT commented on #45896
Hi @rcorral-ci I have reached out to the the product team internally to double check if  Azure does not support AES256. Once I get a response from them I will let you know and update the doc with the appropriate information. Thanks for your patience!

[2020-01-21 18:56] #46071 closed

[2020-01-21 18:58] cynthn commented on #44498
@bdcoder2 Yep, I could see how a PowerShell script would be more useful for moving on-prem VMs to Azure. I've create a work item to create a PowerShell script and do some basic testing.

I'm going to close this issue for now. Thanks again for the feedback :)

AB#1663579

[2020-01-21 18:58] cynthn commented on #44498
#please-close

[2020-01-21 18:58] #44498 closed

[2020-01-21 19:06] jeevansd commented on #46414
@MichaelGrafnetter I don't think it will be that streamlined here. We suggest customers to take some down time here and then roll over the certificate and test all the scenarios again here.

[2020-01-21 19:06] jeevansd commented on #46414
#sign-off

[2020-01-21 19:06] jeevansd commented on #46414
#please-close

[2020-01-21 19:06] #46414 closed

[2020-01-21 19:08] erhopf commented on #45499
@dcaro @ram-msft @assafi - We've made an update in https://github.com/MicrosoftDocs/azure-docs-pr/pull/101566. This should be reflected in the documentation > 3pm PT.

[2020-01-21 19:10] ajlam commented on #46361
Hi @phatcher, can you please double check your password is correct? I have received this error when making a typo in the password.

![image](https://user-images.githubusercontent.com/11048726/72834899-9396e480-3c3e-11ea-917e-e8c0c3e4f506.png)

[2020-01-21 19:11] connerza opened #46556 "Using Managed Identities in Local Development"
This tutorial states that "The simplest way to authenticate a cloud-based application is with a managed identity"; however from reading the docs, I cannot find a way to use managed identities to authenticate with Azure Keyvault in local development via the Java SDK. Documentation should be modified to modified to include instructions for doing this if possible.

---
#### Document Details

⚠ *Do no

[2020-01-21 19:14] yashesvi commented on #46447
50K limit applies to all RI cancellations across EA in a 12 month rolling window.

For WebDirect, the limit applies to all cancellations on the account, in a 12 month rolling window.

For MCA, the limit applies to all cancellations on the billing profile, in a 12 month rolling window.

For CSP, the limit applies to all cancellations that are made for the customer-partner combination, in a 12 month

[2020-01-21 19:15] NavtejSaini-MSFT commented on #46542
@steamwings The following

[2020-01-21 19:15] kgremban commented on #40805
@brad-dixon That's great, I'm glad that you were able to resolve the issue. And thank you for sharing your fix here for others to learn from.

[2020-01-21 19:17] NavtejSaini-MSFT commented on #46542
@steamwings The below shows the correct name of container for different API's. The collection and container has been most confusing one and are used interchangeably sometimes.
![image](https://user-images.githubusercontent.com/52257742/72835298-766f0f80-3c58-11ea-82dd-74d5026104c7.png)
Hope this table helps.

[2020-01-21 19:19] SnehaGunda commented on #39542
Ack Mark. I will make the changes shortly.

[2020-01-21 19:21] GiftA-MSFT commented on #46280
@areddish glad the issue has been resolved. We will proceed to close this thread. Thanks.

[2020-01-21 19:21] #46280 closed

[2020-01-21 19:21] saileshkotha commented on #10248
Why was this closed without answering the question? "Limits on number of permissions allowed for a given cosmos db user"

[2020-01-21 19:24] GiftA-MSFT commented on #46543
@sgraziosi thanks for your feedback. We will look into this issue and get back to you shortly.

[2020-01-21 19:24] malake opened #46557 "Documentation Scripts"
Can we have scripts in the documentation for NOT powershell? Please, just use write it in Bash like the rest of the world!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e390261f-8ece-7a76-03b8-af3a6c49aee7
* Version Independent ID: 10af29ef-6a9b-b900-35c7-1c9d3155a2ae
* Content: [Export/Copy the VHD of a managed disk

[2020-01-21 19:24] TravisCragg-MSFT commented on #46538
@rocketraman can you clarify which section you are referring to? [The Isolated VNET section](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing#isolatedvnet) does not have anything about manual routes, but many others below do.

[2020-01-21 19:26] tesych commented on #42055
it is now fixed. Please close the issue.

[2020-01-21 19:27] Grace-MacJones-MSFT commented on #41042
This doc now has Programmatic manipulation option of accessing restriction rules.
We will now proceed to close this thread.

[2020-01-21 19:27] #41042 closed

[2020-01-21 19:28] MicahMcKittrick-MSFT commented on #44747
@cynthn I would agree with the purposed change :)

[2020-01-21 19:28] steamwings commented on #46542
@NavtejSaini-MSFT That table is essentially the topic of discussion. It seems that, contrary to that table, the SQL API pages like [here](https://docs.microsoft.com/en-us/rest/api/cosmos-db/collections) refer to _collections_ instead of _containers_.

[2020-01-21 19:29] tesych commented on #42055
I added the clarification to the term list that FoI is Field of Interest.

[2020-01-21 19:29] dlepow commented on #46277
@northtyphoon - Can you please help with this customer's question? Thanks!

[2020-01-21 19:30] TomArcherMsft commented on #42443
@grayzu Using this article, I also was able to create a VM and access it via SSH. However, once I did that, it doesn't seem that Terraform is installed. Could you help us?

[2020-01-21 19:32] laurenhughes commented on #33979
I added the command to create a file with nano to get users started. Updates will be live in a few hours. Please feel free to reopen the issue if you have any additional questions/concerns. Thanks!

#please-close

[2020-01-21 19:32] #33979 closed

[2020-01-21 19:36] Mike-Ubezzi-MSFT commented on #46365
@Simon-HL The issue appears to be that there is an issue with the container or access to the container. Was the following step followed: [Download the web app from GitHub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#download-the-web-app-from-github):

All the following steps in the tutorial are completed in the following directory: `web-apps-node-iot-

[2020-01-21 19:41] dcaro commented on #45499
@erhopf please see my comment, the link to the reference documentation needs to be updated.

[2020-01-21 19:42] bandersmsft commented on #46497
@masaki1234 Yes, thanks for letting us know about this issue! I'm in the process of updating the article.

[2020-01-21 19:43] Mike-Ubezzi-MSFT commented on #46365
@robinsh There is an issue with this tutorial in that Step 2 of the [Host the webapp in App Service](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#host-the-web-app-in-app-service), the az cli command is expecting some additional parameters:

Step 2:
`az webapp create -n <your web app name> -g <your resource group name> -p <your app service plan name> --

[2020-01-21 19:47] #44921 closed

[2020-01-21 19:49] KranthiPakala-MSFT commented on #46524
@gpierrick Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-01-21 19:49] SnehaGunda commented on #39542
@shaungl unfortunately, we aren't able to provide any support for this doc so we are pulling it down. Here is a PR to delete the doc: https://github.com/MicrosoftDocs/azure-docs-pr/pull/101772

We will now close this issue.

#please-close

[2020-01-21 19:50] #39542 closed

[2020-01-21 19:50] asears opened #46559 "HealthService unavailable for the HybridRunbookWorker"
It appears the HealthService isn't available in some configurations.  Was it renamed?

Attempting steps in Scenario: You are unable to add a Hybrid Runbook Worker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560da7de-74b0-94d1-c043-1acad336b7a9
* Version Independent ID: 041aa825-353a-aa88-04f0-3b8bded44f25
* Content:

[2020-01-21 19:50] ecfan commented on #43566
@divyaswarnkar, could you please respond to this customer question? Thanks!

[2020-01-21 19:50] NavtejSaini-MSFT commented on #46548
@kummanish PLease check and find if we can add a picture with dark theme support.
@jkewley We are checking this with our author if this can be done.

[2020-01-21 19:51] MicrosoftGuyJFlo commented on #45933
#please-close

[2020-01-21 19:51] #45933 closed

[2020-01-21 19:51] Mike-Ubezzi-MSFT commented on #46314
@hruday94 Can you detail your code snippet that is causing this behavior? I see the following with the dcoument: [Update an Entity](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-python#update-an-entity)

This appears to be an issue with the Python SDK and not necessarily an issue with the document but it would be helpful to understand how you have implemented this. I ca

[2020-01-21 19:52] asears commented on #46559
It could be replaced with Remove-HybridRunbookWorker?

[2020-01-21 19:53] MarileeTurscak-MSFT commented on #45857
Hello,

Did you update the client id in B2C to represent the new App registration at Twitter? Is it built in or custom policies?

[2020-01-21 19:53] SnehaGunda commented on #43348
@Ramji-S @NavtejSaini-MSFT we had a discussion about this issue with our team, @kushagraThapar and Andy are working on content for the connection modes in Async SDK, we plan to have them by end of this month. Because of the V4 SDK coming up, it's been busy and getting delayed.

[2020-01-21 19:53] MarileeTurscak-MSFT commented on #45857
@plord789

[2020-01-21 19:56] kgremban commented on #46094
To clarify your issue, @chmagitt, you were uncommenting a DPS provisioning section in the config.yaml file, and only deleted the `#` character, not the extra space between the `#` and the lines? YAML is quite particular about spacing, and I know we have some warnings about using two spaces for indents, but haven't specifically called out how to uncomment accurately.

[2020-01-21 19:57] erhopf commented on #45499
@dcaro the link is updated in another push that'll go live later today ;).

[2020-01-21 20:07] ecfan commented on #46407
Hi @frehnejc, thank you for your feedback. I'll share this input with the engineering team.

@femsulu: #please-close

[2020-01-21 20:07] #46407 closed

[2020-01-21 20:09] ecfan commented on #42488
This work is scheduled for an upcoming sprint. Thanks!

@PramodValavala-MSFT: #please-close

[2020-01-21 20:09] #42488 closed

[2020-01-21 20:11] gregbnz commented on #41233
@MarileeTurscak-MSFT is anyone able to answer the question in my last post before this is closed off? Thanks

[2020-01-21 20:13] akingscote commented on #31188
@Dilergore sure thing, but as someone who is trying to learn this stuff, its incredibly frustrating losing hours that on something that has a workaround. This issue has been open since May, so i doubt its getting fixed any time soon.

My first reference is this documentation. I understand it should work, but the issue is that it dosent work.

[2020-01-21 20:14] chmagitt commented on #46094
Hi

yes, you correctly summarized .
I raised this issue because several customers made the mistake removing the # and leaving the space

rgds

From: Kelly Gremban <notifications@github.com>
Sent: Tuesday, January 21, 2020 8:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Christophe Magitteri <Christophe.Magitteri@microsoft.com>; Mention <mention@noreply.github.com>
Subject:

[2020-01-21 20:18] SnehaGunda commented on #46542
@steamwings It's "containers" in API for "SQL" and "collections" in API for "MongoDB". Originally it was called collections in SQL so the REST API doc page you linked still uses that convention.

We have updated most of the main doc pages with the right terminology but there are some remains like SDK, REST API docs. Most of the REST API docs are autogenerated from source code.  I will check if tha

[2020-01-21 20:19] bpfoley45 commented on #46432
I also encountered this issue in my tenant and was able to workaround using the AzureADPreview cmdlets as mybm3w mentioned

[2020-01-21 20:25] JasonWHowell commented on #35092
#please-close  @kollchaitanya Please let me know if you need further assistance, and I'll research.

[2020-01-21 20:25] #35092 closed

[2020-01-21 20:30] MGoedtel commented on #44898
@pmozbert - Thanks for bringing this to my attention, after attempting to walk through it myself since I recently took over managing this content, I agree that there are details missing here that are necessary to successfully import the script and use it successfully.  I'm going to bug this and will get to it as soon as I can.  #in-progress

[2020-01-21 20:37] ecfan commented on #35331
Hi @steveculshaw, the engineering team is currently reviewing the content updates.

[2020-01-21 20:47] plord789 commented on #45857
**I think there is a misunderstanding.**

The Twitter URL setting in my B2C Identity Provider is: https://<mydomain>.b2clogin.com/<mydomain>.onmicrosoft.com/your-user-flow-id/oauth1/authresp

The section in the URL </your-user-flow-id/> is wrong because I used capital letters when creating it. When I tried to fix the issue by creating a new Twitter App the value in the B2C settings would not accep

[2020-01-21 20:48] sawatsky commented on #27152
@MicahMcKittrick-MSFT, the F-series is still not documented despite being available as options when creating a virtual machine:

![image](https://user-images.githubusercontent.com/1192303/72841887-2ab66900-3c4c-11ea-80a7-a1f0150c76ea.png)

[2020-01-21 20:49] jannickoeben opened #46560 "Include Azure Automation"
Shouldn't Azure automation be included in this comparison, as it is another serverless code execution platform on Azure? It can also be triggered by a webhook etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content

[2020-01-21 20:50] bmukes opened #46561 "Incorrect query text in command for az aks show"
the query text for az aks show is incorrect as of 01/21/2020.

Query on this page
addonProfiles.httpapplicationrouting.config.HTTPApplicationRoutingZoneName
Corrected Query
addonProfiles.httpApplicationRouting.config.HTTPApplicationRoutingZoneName

In my testing only the corrected query worked possibly due the fact that the property name seems to be case sensitive.

---
#### Document Details

⚠ *D

[2020-01-21 20:50] aahill commented on #46058
Thanks @TheHunter896 for raising this issue, and for the PR! I checked with the team, and your change should be published soon. I'll go ahead and close this issue.

Thanks again for the contribution to the docs!
#please-close

[2020-01-21 20:50] #46058 closed

[2020-01-21 20:51] MarileeTurscak-MSFT commented on #46373
Hi @jonclyde ,

Thanks for your question! Since this channel is intended for doc enhancement comments, you will need to move this to[ User Voice ](https://feedback.azure.com/forums/169401-azure-active-directory)to get an answer about product release dates.

Please post here and someone from the product team will directly reply. https://feedback.azure.com/forums/169401-azure-active-directory

I do

[2020-01-21 20:51] #46373 closed

[2020-01-21 20:53] rocketraman commented on #46538
@TravisCragg-MSFT Sorry yes, I linked to the wrong section. I meant https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing#multis2s.

[2020-01-21 20:57] JonathanWilbur opened #46562 "What counts as "in use" in Serverless SQL Server?"
Does Serverless SQL Server "wake up" when a (1) TCP connection is formed with it, or (2) a login (successful or unsuccessful), or (3) a successful login, or (4) a command after login that creates a workload? For that matter, what are the impacts of keep-alives / heartbeats at the application layer and TLS layers?

My particular use case is an analytics dashboard connected to my serverless SQL Serv

[2020-01-21 21:00] rsryanstephen opened #46564 "Trying to find workspace ID"
Hi, we can't find "Advanced Settings" anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Content: [Connect Windows computers to Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/p

[2020-01-21 21:00] MicrosoftGuyJFlo commented on #41233
@gregbnz Risk based policies require Identity Protection and Azure AD Premium P2 licenses.

[2020-01-21 21:03] TravisCragg-MSFT commented on #46538
@rocketraman I see what you are referring to now. It states before the image that other VNETS cannot be accessed without BGP, the image implies it depends upon the type of tunnel used, and the image also shows routes being advertised that the machines cannot access.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-21 21:03] MarileeTurscak-MSFT commented on #46528
@venkat1017 thanks for the feedback. Which example are you referring to?

[2020-01-21 21:03] MicrosoftGuyJFlo commented on #41112
Still preview. We really dont comment on dates as they tend to change and that just causes more frustration.

[2020-01-21 21:06] Karishma-Tiwari-MSFT commented on #46561
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-21 21:08] Mike-Crowley commented on #41233
@MicrosoftGuyJFlo ...or customers can leave the security defaults in place, which include these. I believe @gregbnz is pointing out that customers have to take a step backwards in security if they buy P1 and start using conditional access, since it turns off security defaults, which includes technology otherwise in P2.

[2020-01-21 21:10] jeeszacharia opened #46565 "SingleSignOn Scope= "Suppressed" doesn't work for SAML"
I have used Scope= "Suppressed" in my RP policy to get rid of SSO, however, after signing from client application it throws a B2C server error. The rest of the behavior works fine.  How do i suppress the SSO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3ce49f-746e-9326-9846-32d569558b65
* Version Independent ID: 4

[2020-01-21 21:16] maxal1917 opened #46566 "DNSSEC support"
Is there a way to support DNSSEC if the DNS service I'm using supports it?

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Tutorial: Map existing custom DNS name - Azure App Service](https://docs.mic

[2020-01-21 21:17] GiftA-MSFT commented on #46543
@sgraziosi can you please ensure that you have provided the correct conda environment name? Use 'conda env list' to verify.

Here's an example of the code:

`from azureml.core.environment import Environment`
`myenv = Environment.from_existing_conda_environment(name = "myenv", conda_environment_name = "anaconda3")`

use 'conda env list' to verify the name, mine looked something like this:
base * C:

[2020-01-21 21:19] sathyarajv commented on #46322
@tfitzmac - We have planned to try this approach.

Our Web api code was maintained on Azure repo in domain1 subscription and Apps are deployed on domain2 subscription in Azure portal. Both are different businesses, So it uses different credentials.
Is there any other way to access the resource from different subscription without adding that user as a guest, to perform actions like stop , start and

[2020-01-21 21:21] MarileeTurscak-MSFT commented on #46410
@IanPozz81 please include the link to the document which you are following so that we can better assist.

[2020-01-21 21:22] rboucher commented on #40596
@JavedEqbal I think we've answered your question.  We'll now close this issue. Reopen it if we didn't.  Thanks!

[2020-01-21 21:22] rboucher commented on #40596
#please-close

[2020-01-21 21:22] #40596 closed

[2020-01-21 21:22] SaurabhSharma-MSFT commented on #46247
@mjlanham Azure Sentinel uses RBAC Role Based Access Control and these roles are under Azure RBAC and appears under "Access Control(IAM)".

You can assign the role by selecting the respective Azure Sentinel Workspace >  Settings > Workspace Settings.
![image](https://user-images.githubusercontent.com/38112130/72844153-cd70e680-3c50-11ea-9481-d3b62286277f.png)

You can also assign the roles by goin

[2020-01-21 21:22] bdschaap opened #46567 "account administrator"
Can you please clarify what you mean by "account administrator" in the first paragraph of "Add or change users who can manage a reservation"?  Is that an EA Admin?

I have tried the Global Administrator of our Azure tenant, Owner of the subscription, as well as the account listed as Account Admin within the Subscription, Properties blade but none are able to view an existing reservation that shows

[2020-01-21 21:23] IanPozz81 commented on #46410
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc

[2020-01-21 21:24] laurenhughes commented on #33868
@doug-fish Thanks for pointing this out! I added UDP 123 to the summary list. The fix will be live in a few hours.

[2020-01-21 21:24] #33868 closed

[2020-01-21 21:27] craigjar commented on #46084
Thanks @mamccrea.  I did look at that document as well.  There is nothing to indicate that that permission is required or for making JDBC connection.  It states that it is for file level access.  Hoping documentation can be updated to provide more comprehensive and accurate information for JDBC connections.  Thanks.

[2020-01-21 21:28] MicrosoftGuyJFlo commented on #41233
Happy to continue the conversation in email. Mine is in my profile.

[2020-01-21 21:34] Silencer0001 opened #46568 "Cloud or synced Administrator account?"
I’m currently missing guidance which type of account is preferred  (“cloud only account” or “synced account”). I fully understand that syncing T0 on-prem accounts is to be avoided, but it doesn’t highlight which account would be the best option.

If we would use a synced account, the account might possibly also have permissions in on-prem AD. In the tiering model, a new tier would maybe be advised

[2020-01-21 21:43] SaurabhSharma-MSFT commented on #46372
@billmath can you please help here.  Is it possible to add details around the ask to the documentation or under faqs.

[2020-01-21 21:43] mike-urnun-msft commented on #46560
@jannickoeben Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-21 21:45] KranthiPakala-MSFT commented on #46524
@gpierrick Just confirmed with internal team that as mentioned in the document, this V2 connector only supports MongoDB upto 3.4.

There is already a feature request raised in ADF user voice forum. I would suggest you to please up-vote and/or comment on this feedback thread as it might help to increase the priority of the feature request. All the feedback shared in this feedback forum is monitored

[2020-01-21 21:49] trevor-schmidt opened #46569 "Query for what Azure Resources are assigned to a group"
I would like to be able to whether it be via the Graph API or what not to query what role assignments are assigned to a specific Azure AD group. For example, I want to be able to query for &lt;insert name of AAD group&gt; and see that it has contributor access to a resource group, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-21 21:51] Minewiskan commented on #46362
Doc has been updated.
#please-close

[2020-01-21 21:52] #46362 closed

[2020-01-21 21:53] lucidqdreams opened #46570 "Error: unknown flag: --tiller-namespace"
kubectl create serviceaccount --namespace kube-system tiller-sa
kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller-sa
helm init --tiller-namespace kube-system --service-account tiller-sa

Running this section of code gets an error returned.   I am wondering if this is due to HelmV3 and tiller itself being removed?

---
#### Documen

[2020-01-21 21:54] tdoan1 opened #46571 "Accounts section grammar"
Bulletin 3 in the Accounts section needs grammar help. The sentence doesn't make sense.

"Accounts in Active Directory if you use the custom settings installation path or an Enterprise Administrator account for your on-premises Active Directory."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f

[2020-01-21 21:55] nhwilly opened #46572 "Easy mistake to make"
Noob here.

I converted a `SubOrchestration` that was calling Activity functions into an `Activity` that dropped things into Service Bus Queues.

Everything before had worked fine and then I noticed that the top level orchestration simply wouldn't return after calling the suborchestration.   Turns out I was still using an `[OrchestrationTrigger]` instead of an `[ActivityTrigger]` but since I wasn'

[2020-01-21 21:58] Minewiskan commented on #6226
#reassign:minewiskan

[2020-01-21 22:12] karthik25 commented on #46145
Link to the feedback/idea - https://feedback.azure.com/forums/217321-sql-database/suggestions/39488056-single-elastic-databases-support-for-pausing

[2020-01-21 22:12] Karishma-Tiwari-MSFT commented on #45656
Thanks for the update @ytugarev
We will ensure this information is updated in the doc.
CC: @MashaMSFT

[2020-01-21 22:13] kobulloc-MSFT commented on #46312
@michaelbunney I just created an ASP.NET Web Application (.NET Framework), selecting MVC, and was able to get Connected Services as described:

![image](https://user-images.githubusercontent.com/37556655/72847644-de712600-3c57-11ea-9897-0ca7f12c9d5d.png)

This is added in step 1 (I believe right after successfully registering), so I would revisit that in the documentation and ensure that it is suc

[2020-01-21 22:14] lucidqdreams commented on #46570
also

helm install -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure
Error: must either provide a name or specify --generate-name

helm install -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure --generate-name

[2020-01-21 22:23] btardif commented on #36937
@roofiq you can use Log Analytics for the exporting raw metrics: https://docs.microsoft.com/azure/azure-monitor/log-query/get-started-portal

[2020-01-21 22:24] kgremban commented on #46094
Thanks, @chmagitt. I went through and found the articles that talk about uncommenting YAML sections, either in reference to the provisioning configurations or certificate configurations, and added the following text:

"Make sure the **provisioning:** line has no preceding whitespace and that nested items are indented by two spaces."

How does that sound?

[2020-01-21 22:30] femsulu commented on #46527
Thanks for the comment and feedback. These have been shared with the Content owner for further review. We will share an update soon. Thanks.

[2020-01-21 22:31] eugen-nw commented on #15941
@MicahMcKittrick-MSFT @brianstringfellow I have a question please on this `FindType="FindBySubjectName"` topic.  The cluster certificate we use is set up as in the image below

![image](https://user-images.githubusercontent.com/15199814/72846201-fb582a00-3c54-11ea-84e6-f8642f127874.png)

I tried using all of `"CN=*.boldiq.solutions, OU=Domain Control Validated"`, `"boldiq.solutions"` and `"*.boldi

[2020-01-21 22:39] PanosPeriorellis commented on #35553
took the webhook documentation offline until we release v3

[2020-01-21 22:39] PanosPeriorellis commented on #35553
#sign-off

[2020-01-21 22:41] PanosPeriorellis commented on #37410
webhook documentation has been taken offline until the release of v3 api. in the meantime it will be updated.

[2020-01-21 22:45] SeanFeldman opened #46573 "HTTP Correlation protocol link"
The link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8c95270-3f41-13fb-5676-f3c61d00e64e
* Version Independent ID: b25b389a-feac-7cf1-b2b7-df0a24fa412a
* Content: [Azure Service Bus end-to-end tracing and diagnostics](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-trac

[2020-01-21 22:46] Karishma-Tiwari-MSFT commented on #46557
we do have another document for Azure CLI. As mentioned in that doc, samples for the Azure CLI are written for the bash shell.

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-cli-sample-copy-managed-disks-vhd

[2020-01-21 22:48] Tyler-Angell opened #46574 "Which regions are available incorrect."
When I click on the Bastion button in a SouthCentralUS VMSS instance I receive the message "This region is not supported for Bastion public preview." The FAQ says that SouthCentralUS is a supported region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f26

[2020-01-21 22:54] cynthn commented on #46359
@rramoscabral Thanks for the feedback! The script isn't about using PuttyGen and we don't specifically recommend using PuttyGen to create or manage SSH keys for Azure VMs.

I'm going to close this for now. Thanks!

#please-close

[2020-01-21 22:54] #46359 closed

[2020-01-21 23:00] Grace-MacJones-MSFT commented on #46566
Hi Maxim, thanks for the question! We are currently investigating and will update you shortly. @maxal1917

[2020-01-21 23:01] dcbrown16 commented on #46257
@mamccrea thanks for checking. Perhaps it could go at the top of that section as "Data Sources list" or something then? As part of the advisory support team, it's just extremely useful to be able to scan the ToC for relevant info instead of relying on search engine results.

[2020-01-21 23:04] cynthn commented on #23258
#reassign @roygara Can you add in how you can see the FDs for unmanaged?

[2020-01-21 23:05] Karishma-Tiwari-MSFT commented on #46525
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-21 23:07] cynthn commented on #23557
#reassign @vermagit is this something you could add to the doc?

[2020-01-21 23:07] mamccrea commented on #46257
Thanks for the feedback, @dcbrown16! We’re currently reviewing index pages that are not included in the TOC. Can you please tell me how you landed on this page? Was it a direct link from somewhere? Or did you get there from search?

[2020-01-21 23:14] laurenhughes commented on #33843
Thanks for pointing this out. Although this isn't covered in the ingress controller doc linked to from this issue, it is covered in the public IP load balancer doc here: https://docs.microsoft.com/azure/aks/static-ip#create-a-service-using-the-static-ip-address

Closing this issue, but feel free to re-open if you have any additional questions/feedback.

#please-close

[2020-01-21 23:14] #33843 closed

[2020-01-21 23:14] dcbrown16 commented on #46257
Thanks, actually a customer sent us the Japanese version of this link as part of an inquiry. I'm on the advisory support team for Azure (v-dibr if you need to follow up internally). The customer was asking about services that can connect to Databricks, so I believe it came up in a search from their end.

[2020-01-21 23:14] mamccrea commented on #44471
Hi @souravsubhankar. I’ve confirmed that the issue you are having is different than the one mentioned in this article. Please open an Azure support ticket in the Azure portal to help resolve this issue.

#please-close

[2020-01-21 23:14] #44471 closed

[2020-01-21 23:14] SaurabhSharma-MSFT commented on #46315
@langstonj Yes, it is.  Good to hear that you are able to figure it out.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-21 23:14] #46315 closed

[2020-01-21 23:16] SaurabhSharma-MSFT commented on #46556
@connerza Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:18] SaurabhSharma-MSFT commented on #42936
@sladeedmonds I have discussed internally with the product team and this is unfortunately by design. Pre-shared keys for S2S VPN is not a top level resource, but rather a property of the connection resource. As a result, it is not possible to selectively granting or blocking a property (Pre-Shared Key) when the resource itself (Connection) is viewable for a given role.

[2020-01-21 23:19] cynthn commented on #24653
The doc has been updated a couple of times over this last year and I think we now have the VM restart covered. Sorry this has stayed open so long!

#please-close

[2020-01-21 23:19] #24653 closed

[2020-01-21 23:20] SaurabhSharma-MSFT commented on #46571
@tdoan1 Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:21] JimacoMS3 commented on #46365
#reassign JimacoMS3

[2020-01-21 23:21] robinsh commented on #46365
@JimacoMS3 I'm writing that down for future reference!

[2020-01-21 23:29] MarileeTurscak-MSFT commented on #46536
From what I understand it needs to be either a Privileged Role Administrator or a Global Administrator. I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101834

@curtand

[2020-01-21 23:29] #46536 closed

[2020-01-21 23:33] MarileeTurscak-MSFT commented on #46569
@trevor-schmidt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:33] BryanTrach-MSFT commented on #46513
@maghanetways Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-21 23:34] MarileeTurscak-MSFT commented on #46551
@aleazofeifam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:36] MarileeTurscak-MSFT commented on #46552
@aleazofeifam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:42] MarileeTurscak-MSFT commented on #46568
@Silencer0001
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:42] MarileeTurscak-MSFT commented on #46565
@jeeszacharia
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:43] MarileeTurscak-MSFT commented on #46554
@aleazofeifam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-21 23:45] laurenhughes commented on #33605
@GuyPaddock it looks like the page has been updated since this issue was filed. Thanks for your feedback!

#please-close

[2020-01-21 23:45] #33605 closed

[2020-01-21 23:50] TravisCragg-MSFT commented on #46207
@benjamin-goldman If you did create a support request, can you post the Support Request # (SR#) for our tracking?

[2020-01-21 23:50] JimacoMS3 commented on #46365
@Mike-Ubezzi-MSFT @Simon-HL Can you try including the runtime parameter in the command? Specifically "node|10.6"? (or greater) as in the following command:

[code]
Please let me know if that works.

[2020-01-21 23:54] SnehaGunda commented on #46339
Thanks, Thomas.

@kiranpradeep I probably think you don't have the Microsoft.AzureCosmosDB resource provider not registered. It may show up after you register. Thomas can help you out via email. we will close the issue here if you don't have further questions.

#please-close

[2020-01-21 23:54] #46339 closed

[2020-01-22 00:00] chmagitt commented on #46094
Gooood

Thks a lot

From: Kelly Gremban <notifications@github.com>
Sent: Tuesday, January 21, 2020 11:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Christophe Magitteri <Christophe.Magitteri@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] caution with yaml file (#46094)

Thanks, @chmagitt<https://nam06.safelinks.protection.outlo

[2020-01-22 00:09] Grace-MacJones-MSFT commented on #46387
I repo the issue and came across the same error.  currently working with the engineering team internally to see what might be causing this error.

@johnheusinger you're right. Which approach did you end up taking?

[2020-01-22 00:10] femsulu commented on #46549
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-22 00:23] femsulu commented on #46550
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-22 00:26] femsulu commented on #46559
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-22 00:27] FrankHu-MSFT commented on #46547
Hello @jvplopper have you followed the notes accordingly?

[2020-01-22 00:29] femsulu commented on #46564
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-22 00:44] TravisCragg-MSFT commented on #45940
@garddolau I was able to reproduce this issue, a "£" symbol in the password will not work for an Azure Bastion login.

I am following up now for more information.

[2020-01-22 00:51] rolyon commented on #44794
Hi @JDWNL
I've passed your feedback to the Security Center team to review.
thanks

[2020-01-22 01:02] xthexder commented on #46520
The color and depth images come from 2 physically different sensors inside the Azure Kinect, so they will not align without applying the calibration data.
You can find the details of each camera mode in the hardware specs here: https://docs.microsoft.com/en-us/azure/kinect-dk/hardware-specification

This will only work if you're using the SDK, but there's documentation on the transformation functi

[2020-01-22 01:08] #46287 closed

[2020-01-22 01:27] divyaswarnkar commented on #43566
There is usually a delay of few minutes before the logging data is available in log analytics. The reason you are not seeing completed events or tracked properties is because the data has not reached to your workspace by then. If you saw this issue after the workflow completed events were available (i.e your logic apps were either successful or failed, then let us know and we can look further.

[2020-01-22 01:42] Mike-Ubezzi-MSFT commented on #46562
@JonathanWilbur Please see the [Auto-pausing and Auto-resuming](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#autopausing-and-autoresuming) portion of the document.

A login event will trigger the auto-resume functionality. There is no Wake-on-LAN functionality where TCP activity will auto-resume your deployment. Please see the list of activity types that will auto-re

[2020-01-22 01:49] TravisCragg-MSFT commented on #45789
@sugarjig I am glad you were able to get this working via a different route. I have updated the docs with the requirements to create the service principal.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-22 01:49] #45789 closed

[2020-01-22 01:51] Mike-Ubezzi-MSFT commented on #46562
@JonathanWilbur I was provided some additional information that will be helpful:

[2020-01-22 01:52] LucianFrango commented on #42222
Ive run into this as well and cant find reference in any documentation. Clarification on this or roadmap details for future support would be appreciated.

[2020-01-22 01:58] anderbr-au opened #46577 "'Create event subsciption' for function not working"
Form never appears after selecting 'create event subscription' for function. Can it be manually configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb824b2f-f7ba-5d90-8322-c4cfaf680cc6
* Version Independent ID: 05f29876-d9b1-e219-d84f-5223bd4ef04f
* Content: [Tutorial: Migrate event data to SQL Data Warehouse -

[2020-01-22 02:03] vabgujral commented on #22774
Based on my research - I understand that the limitation has to do with webspaces:

https://docs.microsoft.com/en-us/azure/app-service/app-service-plan-manage#move-an-app-to-another-app-service-plan

[2020-01-22 02:09] medavamshi commented on #6762
I see EAST US 2  is supported  and  i still ran into the same issue.    It worked on my subscriptions at my work place,  but  not on my Visual studio subscriptions.    Set-AzNetworkWatcherConfigFlowLog : Operation returned an invalid status code 'BadRequest'
StatusCode: 400
ReasonPhrase: Bad Request
ErrorCode: TAWorkspaceRegionNotSupported
ErrorMessage: Traffic Analytics is not supported for works

[2020-01-22 02:12] MohitVerma-MSFT commented on #46514
Hello @ShiviSoni ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 02:18] davidsmatlak commented on #46283
I submitted the fix for this issue and when it merges, this issue will automatically close.

[2020-01-22 02:19] #46283 closed

[2020-01-22 02:32] majorwitteman commented on #46112
It appears it does take some time after the creation of the tenant. I have also recently started testing this. I created a new tenant to verify Security Defaults would be enabled by default, it was. However, like you, I was not prompted for MFA registration with any accounts, whether they were in admin roles or not. I created the tenant about two weeks ago, haven't touched it since until today and

[2020-01-22 02:32] mabeyer opened #46581 "Page is outdated."
This documentation is outdated. SharePoint Online support for custom Java Script has changed. How will we use Azure Monitor to monitor SharePoint going forward?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1d5591a-bdb0-7eed-9697-4f2c7f3cc807
* Version Independent ID: 301d5ed0-863e-7a46-0d93-023f27e29f89
* Content: [

[2020-01-22 02:37] KrishnaG-MSFT commented on #46495
@rojakcoder Glad to know that an old GitHub issue helped to answer your question. Thanks for the update.

[2020-01-22 02:41] majorwitteman opened #46582 "Authentication Methods"
The table above lists an Authenticator app push notification as the only option available for Security Defaults enrollment. In my testing with a brand new, free Azure AD tenant, when I enroll a standard user account in the Authenticator app, I get the push notifications and a code is presented. I can then set the code option as the default and use it to pass MFA challenges on sign-in. It appears I

[2020-01-22 02:42] KrishnaG-MSFT commented on #46555
@carlossanlop Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-01-22 02:46] KrishnaG-MSFT commented on #46553
@aleazofeifam Hope you have realised the difference between both the steps and hence closed the issue. Thanks for the update.

[2020-01-22 02:50] ecfan commented on #44447
Hi @mjtpena, I checked with the engineering team. The limit is 16,384 characters. We'll update the limits topic with this information, thanks!

[2020-01-22 02:52] elvirk commented on #46426
Thank you, I will try that. One more thing that I'm trying to understand with this solution (according to your documentation). It looks you don't recommend to manage multiple accounts via https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-multi-accounts-tutorial - but my question is than if you recommend this way https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/

[2020-01-22 02:53] elvirk commented on #46428
Thank you - I reach out to support with this issue.

[2020-01-22 02:53] #46428 closed

[2020-01-22 02:54] ecfan commented on #46066
Hi @ZachTB123, the engineering team confirms that the minimum value is 1. We'll update the doc, thanks!

[2020-01-22 02:58] Ayanmullick opened #46583 "PowerShell module documentation missing"
The pure PowerShell way [without Java notations]  to create a Log analytics workspace would be as below.
`New-AzOperationalInsightsWorkspace -ResourceGroupName <> -Name <> -Location <> -Sku premium -Verbose`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a497dad7-7678-4ef7-2d97-107947693f61
* Version Independent ID: cd

[2020-01-22 03:00] TechR10n opened #46584 "Wrong Port for Databricks-Connect"
[Enter feedback here]
You specify the port for Azure Databricks Connect to be 15001.
Port 15001 is for AWS.
Port 8787 should be used for Azure.
RH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3642022f-a58f-6290-ecf1-3c551a9bfc96
* Version Independent ID: cf117e4e-c261-858c-517e-04d67e44c35e
* Content: [Databricks Con

[2020-01-22 03:08] neeleshray-msft commented on #46510
@msmimart Could the document be updated ?

[2020-01-22 03:10] neeleshray-msft commented on #46501
@rwike77 Could the ask be added to the document ?

[2020-01-22 03:16] DixitArora-MSFT commented on #46573
Hi @SeanFeldman Thanks for your feedback. We will review and update as appropriate.

[2020-01-22 03:19] DixitArora-MSFT commented on #46572
Hi @nhwilly Thanks for your feedback. Are you looking for some kind of update in the doc ?

[2020-01-22 03:20] Mike-Crowley opened #46585 "Workday vs other Cloud HR apps"
EDIT - wrong article - closing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c5cf177-f119-2b1a-4d1d-8ee9375821b5
* Version Independent ID: e91f0f3d-74b0-1367-f661-11484a90775e
* Content: [Plan an automatic user provisioning deployment for Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2020-01-22 03:21] Norrch2 commented on #44225
Yes, can we have a link to this issue? I can confirm that using the application registration preview page presents the error. The only way I fixed it was either by adding the redirect uri or by using the old app registration page.

[2020-01-22 03:29] Mike-Crowley opened #46586 "duplicate article?"
Which article is the correct source for this knowledge?
This one:

https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/reference-expressions

or this one, which has the same name:

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/functions-for-customizing-application-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-22 03:31] Karishma-Tiwari-MSFT commented on #45678
One of the option is the feature called [Elastic Self-hosted agent pools](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/byos.md) that will have some of the benefits of hosted agents but are still provisioned in customer subscriptions. i.e. Azure Pipelines will manage the lifecycle of these machines while still giving customer control on the types of machines, images, a

[2020-01-22 03:33] #46585 closed

[2020-01-22 03:34] femsulu commented on #46225
Hi @CeciAc , sorry for the delay. was unable to reproduce this issue in my lab. Please ask the customer to redirect this issue to the [Azure Support Channel](https://azure.microsoft.com/en-us/support/create-ticket/) with as much repro-details as possible. Azure support has the tools& access to investigate further and determine if this is an isolated case.

If the customer doesn't have a support pl

[2020-01-22 03:34] femsulu commented on #46225
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-22 03:34] #46225 closed

[2020-01-22 03:36] Mike-Crowley opened #46587 "Workday vs other Cloud HR apps"
Why does it seem that Workday is used interchangeably with "Cloud HR app". Are there other apps that exist for this purpose? Where is the documentation on making one? This overall mechanism is extremely interesting, but I'm trying to determine if the whole thing is limited to Workday customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-22 03:36] #46066 closed

[2020-01-22 03:49] femsulu commented on #46302
thanks for your proposed contribution. adding the content owner to review further to see how we incorporate your script into the existing doc. Thanks again.

@bwren - FYI.

We will now close this thread but don't hesitate to ping if you have any follow-up questions and we will be happy to continue the conversation.

[2020-01-22 03:50] #46302 closed

[2020-01-22 04:08] mike-urnun-msft commented on #46144
Hi @nastassiar - As this doc states, when the "WEBSITE_RUN_FROM_PACKAGE" setting is set to 1, [Zip Deployment API](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push) is used and it will also delete your application files from the previous deployment. When a deployment occurs, it's a deployment of a newer "runtime environment" in which your functions are run inside; or, in

[2020-01-22 04:08] #46144 closed

[2020-01-22 04:23] BhargaviAnnadevara-MSFT commented on #46581
@mabeyer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@lgayhardt FYI.

[2020-01-22 04:30] martincoetzer commented on #46587
Yes, we support Workday and SuccessFactors now. We use the term cloud HR to refer to both.

[2020-01-22 04:48] Mike-Crowley commented on #46587
Thanks for clarifying. Will this be opened up to developers to make their own? The idea of syncing down to AD is appealing and I can imagine people would want to bolt this on to even more systems.

[2020-01-22 05:02] andyjballgit commented on #46536
Hi,

I get page not found when try PR link above. My question was actually from / about Azure Resources page (as opposed to Azure AD Roles) , but it would be good to get both clarified / docs updated.

From what i see it seems to need Owner permissions for looking at PIM logs relating to Azure Resources

[2020-01-22 05:08] msrini-MSFT commented on #46574
@Tyler-Angell  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-22 05:19] juyamash opened #46588 "what's the meaning 'new AKS clusters'?"
Could you please explain more detail about "new AKS clusters"? How can we check our existing AKS cluster is 'new' or 'old'?

---
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#create-an-aks-cluster-with-api-server-authorized-ip-ranges-enabled
API server authorized IP ranges only work for new AKS clusters.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-01-22 05:20] jakaruna-MSFT commented on #46493
@alphakevin The yaml file you see in this document is the github workflow file.

You can fine more info about that from this [Github actions](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-github-actions)

Like to the same is mentioned in the document as well.

[2020-01-22 05:23] CarlRabeler commented on #46086
PR pending to fix

[2020-01-22 05:24] aalewismsft opened #46589 "Inccorect FAQ - https://docs.microsoft.com/en-us/azure/cosmos-db/database-encryption-at-rest#q-can-i-use-my-own-encryption-keys"
Can I use my own encryption keys FAQ needs to be updated as CosmosDB now supports BYOK as per this documentation  - https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c068a1f-f3bf-0ea8-ffff-c5626f6da77a
* Version Independent ID: 3adef505-3bd5-a55b-9697-1feb

[2020-01-22 05:33] stgeorgi commented on #46294
@tlamming please let me try addressing you questions in order
1) Updating office: that is via the office's standard channel or via updating the master image
2) Updating 3rd party apps: use the same (Microsoft) technology you already invested in to manage physical devices running Windows 10 client ConfigMgr/WSUS or Windows Update for Business
3) Handling licenses/activation for 3rd art apps: it rea

[2020-01-22 05:34] CarlRabeler commented on #46086
PR has merged - will be live in the next publish cycle
#please-close

[2020-01-22 05:34] #46086 closed

[2020-01-22 05:39] jakaruna-MSFT commented on #46479
@mrdenny is there any update

[2020-01-22 05:43] souravmishra-msft commented on #46582
@majorwitteman, Thank you for sharing the information. We are looking into this and will get back to you shortly.

[2020-01-22 05:44] SadiqhAhmed-MSFT commented on #45937
@karthick3d You can also use - https://aka.ms/costmgmt/UsageDetails

Closing this issue for now. If you need further assistance, please feel free to re-open the issue and we can continue the discussion.

[2020-01-22 05:44] #45937 closed

[2020-01-22 05:44] amanmcse commented on #46586
@Mike-Crowley Thank you for your query. We will investigate and update the thread.

[2020-01-22 05:46] CarlRabeler commented on #45169
#please-close

[2020-01-22 05:46] #45169 closed

[2020-01-22 05:48] SadiqhAhmed-MSFT commented on #46567
@bdschaap Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-01-22 05:49] pmozbert commented on #44898
Would be really nice if there was a vm extension that takes care of this.  And an obvious way to create the vm directly from the automation pane.

[2020-01-22 05:55] RohitMungi-MSFT commented on #46445
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-22 05:55] #46445 closed

[2020-01-22 05:56] RohitMungi-MSFT commented on #46463
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-22 05:56] #46463 closed

[2020-01-22 05:57] RohitMungi-MSFT commented on #46478
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-22 05:57] #46478 closed

[2020-01-22 05:59] mrdenny commented on #46479
I was running this from a cmd window on my machine. If there's a requirement to run it in Powershell or cloudshell that needs to be called out.

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting
denny@dcac.com | +1 (323) 686-1478

________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Tuesday, January 21, 2020 9:39:49 PM
To: Mi

[2020-01-22 06:03] AshokPeddakotla-MSFT commented on #45003
@fanshaoshan Does that answers your questions? Let us know if you need further help.

[2020-01-22 06:03] KrishnaG-MSFT commented on #46583
@Ayanmullick Good observation! Thanks for the feedback.
Assigning content owner @bwren for visibility, review and document enhancement consideration.

[2020-01-22 06:15] SubhashVasarapu-MSFT commented on #46570
@lucidqdreams , We are looking into this query and will update you as soon as possible.

[2020-01-22 06:19] ChiragMishra-MSFT commented on #46584
@TechR10n Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-01-22 06:20] Eddieyc commented on #44015
I've the same question as neeleshray-msft. Is that any update?

[2020-01-22 06:20] ChiragMishra-MSFT commented on #46577
@anderbr-au Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-01-22 06:31] shdeepika commented on #46273
Hi,

I’m unable to see which ticket is this response for? Can you share more details before closing it.

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Thursday, January 16, 2020 7:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Deepika Sharma <Deepika.Sharma@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Support options

[2020-01-22 06:52] likebupt commented on #46489
@alathrop  Thanks for your feedback. Sorry that currently designer does not support models registered from sdk. It is in our backlog list.

[2020-01-22 06:52] drdamour commented on #37708
My issue ended up being that for whatever reason App Roles weren't walking nested groups.  If i was a member of a group directly assigned a role i got the claim, but if i was not a direct member, only a member of a group that was a member, no claims.  also it takes a while after adding for the assignment to propagate through AAD.

[2020-01-22 06:56] FrankHu-MSFT commented on #46568
Hey @Silencer0001 it depends on how secure you'd like your system, if you'd like different admin accounts for on-prem and Azure, then you should not have it synced. Otherwise if you'd like to keep it simpler, then you can have the same accounts. It's also a matter of philosophical discussion. There's also more docs on this subject in the AD DS repo : https://docs.microsoft.com/en-us/windows-server

[2020-01-22 07:06] FrankHu-MSFT commented on #46565
@jeeszacharia what error are you receiving? How are you sure it's related to the SSO suppression?

[2020-01-22 07:40] nafisIslam commented on #46449
@PramodValavala-MSFT
I am getting `IsPastDue ` property `false`. I cleared my storage emulator and ran the function.
I am still getting the current timestamp.
I am adding a gif for you.
![Timer-Trigger-Next](https://user-images.githubusercontent.com/45033237/72874347-03c76800-3d1c-11ea-8cc7-d8dd8d7942a5.gif)

[2020-01-22 07:41] truekonrads opened #46590 "Access the Azure Account Center is deprecated"
The link to Access the Azure Account Center points to a deprecated page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription administrator roles, Azure RBAC roles, and Azure AD administrator r

[2020-01-22 07:43] joecarlyle opened #46591 "Typo in Part 5"
Paragraph: "If there is no IPsec/IKE policy configured, the command (PS&gt; $connection6.policy) gets an empty return. It does not mean IPsec/IKE is not configured on the connection, but that there is no custom IPsec/IKE policy. The actual connection uses the default policy negotiated between your on-premises VPN device and the Azure VPN gateway."

the command reference (PS&gt; $connection6.policy

[2020-01-22 07:47] truekonrads opened #46592 "The "properties" blade no longer exists (22/01/2020) on Subscription tab"
The "properties" blade no longer exists (22/01/2020) on Subscription tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription administrator roles, Azure RBAC roles, and Azure AD administrator

[2020-01-22 07:49] truekonrads commented on #46592
My subscription menu looks like this:
![image](https://user-images.githubusercontent.com/1421150/72875192-bdc7cf80-3d2e-11ea-900e-a711a8f65104.png)

[2020-01-22 07:52] yodarx opened #46593 "Automated Deployment"
Is there any plan or way to automate the deployment of the self-hosted gateway? I wasnt able to find any information about that.
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independent ID: 3e79e57d-a348-b0d3-cd89-86c76ca70104
* Content: [Self-hosted Azure API Ma

[2020-01-22 08:04] jeeszacharia commented on #46565
I am receiving following error "Sorry, but we're having trouble signing you in.
We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, please try again.
Correlation ID:
Timestamp: 2020-01-22 07:57:17Z
AADB2C: An exception has occurred."

I get this error when set the  SSO scope to suppressed in RP policy's User journey behavior.
  <UserJourneyBeh

[2020-01-22 08:09] ondrejhlavacek opened #46595 "Updating Node Pools"
(https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#manage-node-pools-using-a-resource-manager-template)

Just wanted to clarify. If I create a new AKS cluster with a default/dummy Node Pool can I then use ARM template to delete this Node Pool and replace it with the Node Pool(s) I need? Or do I need to create the first Node Pool with required settings (any of name, node type, node

[2020-01-22 08:16] RonaldMariah opened #46596 "Azure Lighthouse Marketplace UI definition files"
Hi,

Is there any documentation around how we would create the Marketplace UI definition files (mainTemplate.json and  	createUiDefinition.json) for Azure Lighthouse?

Kind regards
Ronald Mariah

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681c4f19-1737-b6c6-5ed4-9b5d54edd55c
* Version Independent ID: 005dc44a-98b7-1

[2020-01-22 08:25] aarfe commented on #46456
@msrini-MSFT , so I should never use a local network gateway in a real life scenario?

Because in a practice exam I got a scenario where I need to create a site-to-site connection from an azure vnet to on-premise. And the question asks what I should do in the "Azure Portal":
1- Create a virtual network gateway only
2- Create a virtual network gateway and a local network gateway.
What is the rigth

[2020-01-22 08:33] maskati opened #46597 "Blob eTag value should be in quotes"
The blob eTag value included in blob data is a JSON string value without quotes wrapping the value, for example  `"eTag": "0x8D4BCC2E4835CD0"`. Azure Storage Blob operations however both return and require eTag values to be quoted, so the correct value within the Event Grid data should be `"eTag": "\"0x8D4BCC2E4835CD0\""`. See for example [Get Blob](https://docs.microsoft.com/en-us/rest/api/storag

[2020-01-22 08:35] DavidTrigano commented on #45054
@langstonj Azure SQL Database auditing is optimized for availability & performance. Auditing should not impact any database performance. In case you may feel impact on your performance, feel free to contact us so we can investigate

[2020-01-22 08:48] Zerbax opened #46598 "Create or Update a Traffic Manager Azure Endpoint"
Hello,
when i try to add a second endpoint to my traffic manager profile, i have this error:
Some of the provided Azure Website endpoints are not valid: Traffic manager configuration is not valid because one or more domains do not belong to subscription "XXXXXXXXXXXXX": oris-test-1.azurewebsites.net, oris-web-test-2.azurewebsites.net

But it's not true, the webapps are in the same subscription.
Th

[2020-01-22 09:02] SadiqhAhmed-MSFT commented on #46273
@shdeepika This is regarding your GitHub query - https://github.com/MicrosoftDocs/azure-docs/issues/46273

[2020-01-22 09:06] DixitArora-MSFT commented on #46597
Hi @maskati Thanks for your feedback. We will review and update as appropriate.

[2020-01-22 09:07] PramodValavala-MSFT commented on #46593
@yodarx Thanks for the feedback! We will review and update accordingly.

[2020-01-22 09:10] pauldj54 opened #46599 "pip installation command to install package for receiving the events using an Azure Blob is wrong"
[Enter feedback here]
Hi,
great tutorial.

A small amendment, the right command to install the package mentioned above is
`pip install azure-eventhub-checkpointstoreblob-aio`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a30aef-5279-acde-6bc2-dc1f2720c179
* Version Independent ID: 5e686a0a-28d4-c339-b185-da96940a980

[2020-01-22 09:11] enutrofff opened #46600 "Create documentation for private preview service "Azure Arc for Kubernetes" and "Azure Arc for Data Services""
I wonder if you can provide us with any documentation about these private preview services.

[2020-01-22 09:11] AjayKumar-MSFT commented on #46541
@rawin1015, Thanks for your feedback! Could you please share the document for which this feedback is applicable to?

[2020-01-22 09:13] PramodValavala-MSFT commented on #46449
@nafisIslam Could you share the interval/CRON for this function?

[2020-01-22 09:15] PramodValavala-MSFT commented on #46593
@yodarx The gateway is containerized into a linux container which can deployed into a docker host, kubernetes or similar container orchestration platform. Any deployment automation for this would be that of the platform where it is being deployed.

[2020-01-22 09:16] koratshail opened #46601 "Need information for How Gateway works as Identity translation in IoT edge."
I have taken a paid subscription on Microsoft Azure service.

I have Gateway and End nodes which makes complete RF solution but the problem is Gateway doesn't have cloud connectivity.

So I plane to go with Microsoft Azure as a cloud interface.

At first, I have enabled IoT central connectivity in My own Gateway. SO now I can see my Gateway in Azure IoT central application.

But for me, the questi

[2020-01-22 09:24] amanmcse commented on #46586
@Mike-Crowley The first document is for provisioning users/groups from On-prem AD to Azure AD and the second focuses on SCIM provisioning, where you provision users/groups from Azure AD to Managed apps such as Salesforce, ServiceNow, Workday etc. Since both the docs are for provisioning, most of the content is identical in these docs. Depending on your scenario, you can choose to go with one of th

[2020-01-22 09:24] #46586 closed

[2020-01-22 09:25] msrini-MSFT commented on #46430
@frehnejc , Seems like that functionality is not possible via CLI. Please use Powershell or Portal for now. I have raised this issue to the product team. Also please open an issue in Azure CLI doc when the CLI definitions are mentioned.

[2020-01-22 09:25] #46430 closed

[2020-01-22 09:27] msrini-MSFT commented on #46456
@aarfe , For site to site you should always need to create Local Network Gateway. For vnet to vnet, you only need a VPN gateway.

[2020-01-22 09:27] uzumaki98 opened #46602 "Application Code for https://samltestapp2.azurewebsites.net/"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-22 09:33] mirceacraciun opened #46603 "Iframe"
Regarding : For SAP Fiori initiated iFrame Authentication, we recommend using the IsPassive parameter in the SAML AuthnRequest for silent authentication. For more details of the IsPassive parameter refer to Azure AD SAML single sign-on information
.... there is no information where to add the parameter and how to activate.IS it in Fiori or Azure AD?

---
#### Document Details

⚠ *Do not edit this

[2020-01-22 09:44] msrini-MSFT commented on #46574
@Tyler-Angell , South Central US is supported and I am able to connect using Bastion to the VMSS.

Did you register for the preview of Bastion ? Are you only getting this error for South Central US region ?

[2020-01-22 09:44] jbinard commented on #46351
Hi @RyanHill-MSFT,

With the java linux app service, I already tried to put the AI-Agent.xml file in the same folder as my jar file (/home/site/wwwroot/) but it doesn't work.

With the tomcat linux app service, I use the kudu API to deploy a war package. This API unpacks the war in a folder in /home/site/wwwroot/webapps/myApp. When I put the AI-Agent.xml file in /home/site/wwwroot, I got an error

[2020-01-22 09:45] yodarx commented on #46593
Sorry I was unclear. I meant automation option on the azure side. For example with the sdk or cli the option to set up a new gateway and retrieve the registration token for further container deployment.

[2020-01-22 09:46] aarfe commented on #46456
@msrini-MSFT I'm sorry but then I don't understand the diagram, why does it show only one gateway?

[2020-01-22 09:50] msrini-MSFT commented on #46591
@joecarlyle , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-22 09:52] daneri-norkart opened #46604 "Multi-resource"
Hey!

I have been looking into Azure Monitor lately, and one of the things we want to do is monitor multiple App Services/Application Insights in the same metric chart.
After watching presentations from Microsoft Ignite regarding Azure Monitoring, especially this one: https://youtu.be/XVoH2TJezIA?t=2141 , I'm wondering if you have any documentation or updates about when you will expand into more m

[2020-01-22 09:55] mdaslamansari commented on #42508
Hey, we are also facing same issue as written by @shibinchandra. Any lead to resolve it will be appreciated. Many thanks.

[2020-01-22 09:56] jiseli opened #46605 "Using a certificate stored in Azure Key Vault from an API Management policy"
I'm having troubles to get a certificate from Azure Key Vault from an API Management inbound policy.

The note under [Upload a Certificate](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates#-upload-a-certificate) states:

Despite small tweaks to make it work, the example uses the authentication policiy `<authentication-certificate body="..." />`

But wh

[2020-01-22 09:56] msrini-MSFT commented on #46456
@aarfe , Local Network Gateway is just an object. It is the place where you mention what is your On-Prem address and device Public IP. You will not see Local Network gateway in the diagram

[2020-01-22 09:57] msrini-MSFT commented on #46591
https://github.com/MicrosoftDocs/azure-docs-pr/pull/101911

[2020-01-22 09:57] aashutoshjha1 commented on #31006
Please add doc, for mounting blob using SAS key.

[2020-01-22 10:02] #46591 closed

[2020-01-22 10:05] msrini-MSFT commented on #46598
@Zerbax , Please try upgrading your App Service to Standard Tier to resolve your issue.

Reference: https://azure.microsoft.com/en-us/pricing/details/app-service/plans/

[2020-01-22 10:09] aarfe commented on #46456
@msrini-MSFT Ok, thank you, it makes more sense now.
Maybe it is wrong, but I found in this [article](http://vcloud-lab.com/entries/microsoft-azure/part-5-virtual-network-gateway-deployment-on-microsoft-azure) online where somebody shows both gateways in the network diagram. It makes it easier to understand what is going on.
![image](https://user-images.githubusercontent.com/1778217/72884965-4c285

[2020-01-22 10:10] Zerbax commented on #46598
The plan is already Standard S1..

[2020-01-22 10:16] MortenPedholt commented on #9349
@nemanja-jovic really nice job you have done there.
Please correct me if i'am not wrong. The script can only validate move inside the same subscription?
Do you have another one to validate the move to another subscription?

[2020-01-22 10:17] PramodValavala-MSFT commented on #46593
@yodarx For now, you should be able to mimic the same ARM REST API calls the portal currently makes. But do note that since the feature is in preview, the undocumented APIs may change.

@vladvino Could you please share more insights on this?

[2020-01-22 10:21] aros1697 commented on #46512
Hello @MohitVerma-MSFT thanks for replying.

Here are the logs for the module "localblobstorage"
[logs.zip](https://github.com/MicrosoftDocs/azure-docs/files/4096522/logs.zip)

[2020-01-22 10:28] femsulu commented on #46306
Hi @shdeepika,
To bulk update managed resources e.g. resizing VM resources across multiple managed instances, you can author a PS script that wraps the relevant Get-AzManagedApplication cmdlets to first retrieve the associating resource group and ID; then Get-AzResource cmdlets, to retrieve the resources and resource-type you wish to update. e.g. VMs, storage; Get-AzVm to retrieve information abou

[2020-01-22 10:31] VikasPullagura-MSFT commented on #46588
@juyama Thanks for the Feedback. I am assigning the issue to content author for updating the document to clarify this.

The new or old AKS Cluster depends on the api version it is using. It is called new AKS cluster if it is using a certain version on api version.

However, I will get this added in the document for getting this clarity.

[2020-01-22 10:32] VikasPullagura-MSFT commented on #46588
@mlearned Can you please check this feedback and add your comments for enhancing the document with the necessary information.

[2020-01-22 10:33] CortalUX opened #46606 "Formatting/URL - Link to how to configure Export Data page"
At the top of the page, the link says:
"Before exporting your data, you need to first register a datastore in your Azure Machine Learning workspace first. For more information, see How to Access Data."

In list item 4,  under "How to configure Export Data" is says "Check how by visiting how-to-access-data"

This should use the page title name, and not the page URL; and follow a similar format "For

[2020-01-22 10:35] femsulu commented on #46306
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-22 10:35] #46306 closed

[2020-01-22 10:46] amanmcse commented on #46426
@elvirk, Checkout the section in the first [document](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-multi-accounts-tutorial) **Please note that we do not recommend to use this approach for following reasons:**. Keeping these points in mind, you may also consider having an apps for multiple AWS accounts. For example, 10 apps for 100 accounts. Having one Azure AD app per AWS

[2020-01-22 10:48] VikasPullagura-MSFT commented on #46316
@petetian We have identified the reason why the Error message (as per document) is returned when `--output table` is passed in the command. As the agentPoolProfiles is returning null (no updates avaialble for nodepool), we are seeing this output.

However, I will proceed to close this issue as it is not a document bug and we will continue to work with you on the email in which I have engaged inter

[2020-01-22 10:48] #46316 closed

[2020-01-22 10:52] msrini-MSFT commented on #46598
Are those two web apps belongs to the same subscription ?
Are those two Web Apps belongs to the same region ?

[2020-01-22 10:53] juyama commented on #46588
@VikasPullagura-MSFT Thanks for your answer.
What does the API version depend on AKS Cluster? How can we check the version?

[2020-01-22 10:57] nafisIslam commented on #46449
@PramodValavala-MSFT i am currntly using 5 min interval for testing `0 */5 * * * *`

[2020-01-22 10:58] Zerbax commented on #46598
Yes, same region and same subscription.

[2020-01-22 11:02] jackettc commented on #43475
I have this issue too. The MS certs are only wildcarded to *.blob.core.windows.net and NOT *.privatelink.blob.core.windows.net, so we cannot use the privatelink URL's to connect.
When will this be fixed?

[2020-01-22 11:02] ram-msft commented on #46489
@alathrop We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-22 11:02] #46489 closed

[2020-01-22 11:02] tdefise opened #46607 "More information about the email notifications"
Hello,

Would it be possible to have more information regarding the alerts that will be sent over mail?
- Which severity are included? High and Medium? or also low?
- How it will be sent? Daily digest, or directly after detection?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bd

[2020-01-22 11:04] SadiqhAhmed-MSFT commented on #46431
@amberbhargava To share insights.

[2020-01-22 11:05] tdefise opened #46608 "Alert Severity"
Hello, would it be possible to know the alert severity for each alert please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0dd0-a055-79ae32b62a6d
* Version Independent ID: 66ce0f69-16aa-c1f8-5163-7cc5392a3399
* Content: [Reference table for all Azure Security Center alerts](https://docs.microsoft.com/en

[2020-01-22 11:12] souravmishra-msft commented on #46487
@drdamour, Can you let me know which connection string table you are referring to from hat doc, so that it is easier for me to test.

[2020-01-22 11:13] amanmcse commented on #46263
@brandilton Just to confirm if my understanding of the issue is correct,
- You have a user account olduser@contoso.com in G Suite.
- You have 2 users, olduser@contoso.com and 365@contoso.com in Azure AD.
After configuring SCIM provisioning, the user account 365@contoso.com is also created in G Suite.

Based on the attribute mappings, if Azure's UPN attribute matches with Google's login attribute,

[2020-01-22 11:13] #46263 closed

[2020-01-22 11:17] SadiqhAhmed-MSFT commented on #46567
@bdschaap Account administrator (AA) is the one who owns the subscription. Not sure, why AA doesn't have access to view reservations.

Global Administrator is a privileged admin at the directory level who can manage anything/everything within Azure AD and has nothing to do with reservations.

Owner role is equal to AA or equal to a contributor on a subscription. But again, with this role reservati

[2020-01-22 11:33] shashishailaj commented on #46467
@wboevink We will have the content team review this article and make any changes as necessary.

@MarkusVi Could you please review this feedback and see how best we can improve the documentation on the linked article?

[2020-01-22 11:34] ArgTang opened #46609 "must enable preview function to create ip address"
Currently this guide fails after running the `az network public-ip create` command :
`Subscription /subscriptions/my-r-guid/resourceGroups//providers/Microsoft.Network/subscriptions/ is not registered for feature Microsoft.Network/AllowBringYourOwnPublicIpAddress required to carry out the requested operation.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-01-22 11:34] KaskMartin commented on #32287
The tenant parameter is still missing in Postman collection

[2020-01-22 11:36] leotsarev opened #46610 "Add advice about using Gateway mode"
Similar to this https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started#Connect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Azure Cosmos DB Table API using .NET Standard SDK](https://docs.micr

[2020-01-22 11:36] shashishailaj commented on #46353
@henkthissen We are trying to repro this internally to understand more on the same and will update this thread soon.

[2020-01-22 11:40] CortalUX opened #46611 "Reference to a note that is not included"
Sample Variance, Standard Deviation, Sample Skewness, and Sample Kurtosis say "see Note" in the "Description" field of the "Results" table - but no note is included in the document.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d54a8bbb-0dfd-167c-b8f8-79afa1581f43
* Version Independent ID: f02f424d-bb52-1210-5933-44db

[2020-01-22 11:40] ram-msft commented on #46606
@CortalUX Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-22 11:54] #46456 closed

[2020-01-22 11:56] msrini-MSFT commented on #46598
Can you try adding endpoint as type "External endpoint" ?

[2020-01-22 12:05] jakaruna-MSFT commented on #45872
Since it says authentication failed in the error, Did you checked the credentials again

[2020-01-22 12:10] jakaruna-MSFT commented on #46595
@ondrejhlavacek I think we cant delete the default node pool(Linux) which is created while creating the cluster.
I will check this scenario and update you

[2020-01-22 12:14] SadiqhAhmed-MSFT commented on #46451
@siljemda Custom providers are not yet supported as offers in Marketplace, it is on our roadmap.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-22 12:14] #46451 closed

[2020-01-22 12:15] webash commented on #46372
There is conversation on the 'Identity Advisors' Yammer group which might help with this; namely that `Exchange hybrid configuration` is referring to the properties that an Exchange Hybrid installation expects AADC to be able to write-back some Exchange properties; this part isn't performed by AADCCP. This should be in the page, or at least in the FAQ, as it massively clarifies what the `Exchange

[2020-01-22 12:18] RohitMungi-MSFT commented on #46611
@CortalUX Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-22 12:27] jochenvanwylick opened #46612 "Markup of 'Availability' section table"
It seems there's a markdown table under the 'availability' section which does not render properly. I assume it's a small syntax error in the markdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Content: [What is Az

[2020-01-22 12:30] nhwilly commented on #46572
Good question.

If I had to guess, I’d say that failing to call an activity from a suborchestration shouldn’t result in a silent termination of a parent orchestration - which would make it a bug.

 But maybe it’s some limitation of the event architecture, so even a “hey, don’t do this” or best practices note would help somebody.

Just trying to let you know how some of us wackadoodles have managed

[2020-01-22 12:35] msrini-MSFT commented on #46612
@jochenvanwylick , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-22 12:36] jakaruna-MSFT commented on #46609
@ArgTang `az network public-ip create` should work without the need to register for that feature `Microsoft.Network/AllowBringYourOwnPublicIpAddress`

Can you add `--debug` to the command and post the results here?

Are you specifying an ip along with this command?

Also check if you have registered the feature or noit with the below command.
`az feature list --namespace Microsoft.Network --query

[2020-01-22 12:37] tdefise opened #46613 "Alerts from App Service link to Azure Security Center Standard Tier"
Would it be possible to have more information on the alerts from App Service that can be the trigger (Azure Security Center - Standard Tier context).
There is a list of potential incidents available here: https://docs.microsoft.com/en-us/azure/security-center/alerts-reference#alerts-azureappserv
I would like to know:
- What is the severity of those alerts ?
- Which alerts can be directly forwarded

[2020-01-22 12:48] tdefise opened #46614 "Threat detection - Azure network layer"
Would it be possible to know what are the steps needed to enable Threat Protection on the Azure Network Layer? Would it be possible to have an idea of which are the resource that under that scope, is it only IaaS via a Network Security Group, or every connection from any resources that it the subscription with Azure Security Center "Standard" Tier enable?

---
#### Document Details

⚠ *Do not edit

[2020-01-22 12:51] msrini-MSFT commented on #46612
https://github.com/MicrosoftDocs/azure-docs-pr/pull/101918

[2020-01-22 12:51] #46612 closed

[2020-01-22 12:55] aros1697 commented on #46512
I've tried my second Raspberry pi 4 with the same setup. After inserting the connection string and opening the tab Blob Containers I get an error from Microsoft Storage Explorer:

Same kind of error of the previous log file with "Container not found". The permissions on the blobroot folder is set as the guide "absie" with owner of 11000:11000 and mod 700.

[2020-01-22 13:12] Zerbax commented on #46598
I add the endpoint as "External", but now this endpoint doesn't work,
calling the trafficmanager url in browser the response is "404 Web Site non found".

[2020-01-22 13:19] avongonzales opened #46615 "Lazy<ConnectionMultiplexer> does not contain a definition for GetDatabase"
Getting This Error on the HomeController.cs

Followed The instructions

 IDatabase cache = lazyConnection.GetDatabase();

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'Lazy<ConnectionMultiplexer>' does not contain a definition for 'GetDatabase' and no accessible extension method 'GetDatabase' accepting a first argument of type 'Lazy<ConnectionMultiplexer>' could be fo

[2020-01-22 13:33] asergaz commented on #46403
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-22 13:33] #46403 closed

[2020-01-22 13:38] IEvangelist commented on #39862
Hi @nonstoptimm,

In discussing this over with the engineering team they're able to get this to work, here is an example payload for the body of the HTTP POST:

[code]

We suggest that you directly use string concatenation instead of xml object. Below is the sample which can generate the expected result (need replace the `{SubscriptionKey}` with your own).

[code]

[2020-01-22 13:39] #42055 closed

[2020-01-22 13:42] DaveRuijter commented on #46460
Similar issue here.

[2020-01-22 13:45] Gilmantas commented on #46460
We are also facing the same issue with removal of old objects

[2020-01-22 13:51] MarkDordoy commented on #46432
I also hit this issue with the same workaround

[2020-01-22 13:52] Gilmantas commented on #29217
Same issue here. Totally agree with @ltoinel this is really annoying when you have to clean those resources manually

[2020-01-22 13:59] ArgTang commented on #46609
I can email you the raw log if it helps. I have found the command to turn on the feature, but it is in the pending state. If it should work by default is my command wrong?

[code]

[code]

[code]

[2020-01-22 13:59] BakkerJan opened #46620 "All guest and external users (Preview)"
In the current Conditional Access policy I can select All guest and external users (Preview) instead of All guest users (Preview). I've tested with External User sharing in Onedrive, but users are not prompted for MFA. Users just had to put in a verfication code send trough email, wich is the default flow. What is the definition of a external users, and how does this work with MFA?

---
#### Docum

[2020-01-22 14:01] pawod opened #46621 "Redundant call to string.format()"
Please use either string interpolation or string.Format(), but not both

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad5184134c0
* Version Independent ID: 486bd792-6be0-e4e4-8e81-c383591b4a87
* Content: [Azure Functions HTTP triggers and bindings](https://docs.microsoft.com/en-us/azure/azure-

[2020-01-22 14:04] Edocsyl commented on #46372
This means that the solution with the AADConnectProvisioningAgent cannot be used as a replacement for the long awaited "Hybrid Recipient Management". This is very disappointing.

[2020-01-22 14:26] NavtejSaini-MSFT commented on #46589
@aalewismsft We are checking this and will get back to you.

[2020-01-22 14:26] alathrop commented on #46489
Thank you for the response.

[2020-01-22 14:28] NavtejSaini-MSFT commented on #46610
@leotsarev We are checking this and will get back to you.

[2020-01-22 14:33] NavtejSaini-MSFT commented on #46361
@phatcher Please convey if you are still facing this issue.

[2020-01-22 14:33] MohitVerma-MSFT commented on #46590
Hello @truekonrads ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:34] MohitVerma-MSFT commented on #46592
Hello @truekonrads ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:34] NavtejSaini-MSFT commented on #46542
@steamwings Please convey if you have any other question in this regard.

[2020-01-22 14:35] MohitVerma-MSFT commented on #46596
Hello @RonaldMariah ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:36] peterwake opened #46622 "The Security Defaults are a great idea, but turning on has unforeseen impacts"
Adding Security Defaults broke the Exchange mail login we are using for Zoho Support Desk. We changed the user account to then use 2FA and added an "App Password" but the Security Defaults still didn't work. For small businesses it would be great to have some setting so we can still use third party tools like Zoho or our CRM system with App Passwords.

---
#### Document details

⚠ *Do not edit thi

[2020-01-22 14:36] NavtejSaini-MSFT commented on #45973
@CarlosOnline Please get back to us with needed information to resolve your issue.

[2020-01-22 14:37] MohitVerma-MSFT commented on #46599
Hello @pauldj54 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:39] thomasonsignup opened #46623 "Issue with EULA"
Getting error:
Missing EULA=accept command line option. You must provide this to continue. after deploying the Container Instance.

EULA is configured in environmentVariables as  "name": "EULA", "value": "accept"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4b34dd5-3b20-816d-0fff-9b4ebaac4ee8
* Version Independent I

[2020-01-22 14:40] MohitVerma-MSFT commented on #46600
Hello @enutrofff ,

Thank you for your feedback!
This channel is for driving improvements towards MS Docs.
I will notify the right team  to make sure your feedback is addressed.

[2020-01-22 14:42] MohitVerma-MSFT commented on #46601
Hello @koratshail ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-22 14:44] MohitVerma-MSFT commented on #46603
Hello @mirceacraciun ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:45] MohitVerma-MSFT commented on #46604
Hello @daneri-norkart ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:46] MohitVerma-MSFT commented on #46605
Hello @jiseli ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:47] MohitVerma-MSFT commented on #46602
Hello @uzumaki98 ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-22 14:48] MohitVerma-MSFT commented on #46607
Hello @tdefise ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:49] MohitVerma-MSFT commented on #46608
Hello @tdefise ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-22 14:52] SnehaGunda commented on #46185
@ToruMakabe Thanks for pointing out, we have used the same screenshot across all the quickstart docs as a reference. The values listed in the table are what you need. To avoid confusion, I updated the image in the doc. The above PR should fix the screenshot.

We will now close this issue if there aren't further questions.

#please-close

[2020-01-22 14:52] #46185 closed

[2020-01-22 14:53] mdi-db commented on #44747
@cynthn Thanks for taking a look. The change you've suggested helps clear it up to an extent, but it's still implying that the SLA of a single instance VM is influenced by whether it's in an availability set or not, but my understanding is that makes no difference; it's only the use of Premium/Ultra SSDs that has any bearing. I understand that the article as a whole relates to availability sets, b

[2020-01-22 14:53] Blackmist commented on #46420
Hi @CESARDELATORRE Thanks for your feedback. We had a taxonomy based approach for this document originally, and I believe it was changed to the current arrangement after feedback from customers and discussion with the engineering team.

I'll open a work item to revisit this decision and see if it's something we want to change.

#please-close

[2020-01-22 14:53] #46420 closed

[2020-01-22 14:54] dominicbetts commented on #45653
Hi @romankiss  - I was wrong - you can use a self-signed cert to connect a device to IoT Central. It's documented [here](https://docs.microsoft.com/azure/iot-central/preview/overview-iot-central-get-connected#individual-enrollment-based-device-connectivity) - but it looks as if the description could be made clearer - I'll get some updates made to the article. In summary, you need to specify for an

[2020-01-22 14:54] dominicbetts commented on #45653
#please-close

[2020-01-22 14:54] #45653 closed

[2020-01-22 14:55] bjss-chris opened #46624 "Status of Azure Storage Emulator"
[Use the Azurite emulator for local Azure Storage development and testing (preview)](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite) asserts that 'Azurite supercedes the Azure Storage Emulator' and 'is the future storage emulator platform'. It also refers to the Azure Storage Emulator as 'the legacy Azure storage emulator'.<br>
This implies that the Azure Storage Emulato

[2020-01-22 14:57] MisiekBest commented on #43427
Hi guys.
I think @msrini-MSFT missed one inbound rule (443 from any, not only GatewayManager)
Without it I was unable to connect to any host using Bastion and I found it in [azure quickstart examples for Bastion with nsg.](https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-bastion-nsg)
Also there is also an additional port to allow communication (4443 from GM)

Anyway, this

[2020-01-22 14:58] potato-enthusiast opened #46625 "Equation is incorrect"
The equation in the "Workload Isolation" section is misleading and partially incorrect:
[Guaranteed Concurrency] = [MIN_PERCENTAGE_RESOURCE] / [REQUEST_MIN_RESOURCE_GRANT_PERCENT]
It should be:
[Guaranteed Concurrency] = [MIN_PERCENTAGE_RESOURCE] / [REQUEST_MAX_RESOURCE_GRANT_PERCENT]
The existing equation is only true when:
REQUEST_MAX_RESOURCE_GRANT_PERCENT = REQUEST_MIN_RESOURCE_GRANT_PERCENT
W

[2020-01-22 15:04] mirceacraciun commented on #46603
Thank you!

Best regards,
Mircea

From: Mohit Verma <notifications@github.com>
Sent: Mittwoch, 22. Januar 2020 15:44
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Craciun, Mircea <mircea.craciun@sap.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Iframe (#46603)

Hello @mirceacraciun<https://github.com/mirceacraciun> ,

Thank you for your feedb

[2020-01-22 15:06] GiftA-MSFT commented on #46623
@thomasonsignup thanks for your feedback. We will look into this issue and get back to you shortly.

[2020-01-22 15:08] alathrop commented on #46321
I am able to train the SVD model and manually experiment with the parameters provided in the module. I would like to automate some of the experimentation with the tune hyper-parameters module.

[2020-01-22 15:23] unicorn667 opened #46626 "join-rhel-linux-vm issue fatal: initgroups: username: Invalid argument"
Hello,

i have tried to login via ssh with my ad account.
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/join-rhel-linux-vm

but in ssh logs i only get these message

testet under RHEL 7 with the latest updates

fatal: initgroups: username: Invalid argument

getent passwd and id works fine
also realm discover etc etc.

[2020-01-22 15:24] NavtejSaini-MSFT commented on #46610
@wmengmsft Please check if this can be added to the document and can it be enhanced.

[2020-01-22 15:30] IEvangelist commented on #46623
Hi @thomasonsignup,

Could you please provide the YAML file that you used from the instructions? Be mindful to remove API keys and other personally identifiable / sensitive data values.

If you follow the [YAML in the example](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/deploy-form-recognizer-on-container-instances#create-an-azure-container-instance-resource-from-the-

[2020-01-22 15:31] mirceacraciun commented on #46603
thank you! A lot of customers requested this and no clue where to implement it.

[2020-01-22 15:33] leandroshan opened #46627 "Links in this page goes to transaction in SQL Server"
While this is about Service Fabric Reliable Collections, all links in this page points into SQL Server Transaction documentation. Although there "maybe" some similarities, not the same, it's confusion and not helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d5d27ff-eebd-5fb2-1612-bcf16870f1bd
* Version Independ

[2020-01-22 15:37] AkosBatorfi commented on #44790
@danielsollondon Having the issue (again. went "ok" yesterday) following settings:

    "os_type": "Windows",
    "image_publisher": "MicrosoftWindowsServer",
    "image_offer": "WindowsServer",
    "image_sku": "2016-Datacenter",
    "communicator": "winrm",
    "winrm_use_ssl": true,
    "winrm_insecure": true,
    "winrm_timeout": "15m",
    "winrm_username": "packer",
    "location": "westeuro

[2020-01-22 15:37] jvplopper commented on #46547
Thanks.  Yes, I've made sure that PowerShell Remote session is enabled on the DCs and that my user has sufficient privileges.  I have confirmed this by running "Enter-PSSession -computername (ourDCname)" and this works with no issues.  As a side note, I found another script at https://gallery.technet.microsoft.com/Get-Azure-AD-Password-f3a567bc that worked like a charm.

[2020-01-22 15:42] v-lygeor opened #46628 "WAF request size limits incomplete information"
This page has unclear information regarding the different upload size limits in different SKUs. I am referring to this specific paragraph:

This field can have a minimum value of 1 MB and a maximum of 500 MB for Large SKU instances while Medium SKU has a maximum of 100 MB.

This is unclear as there is no clarification what is referred to by "Large SKU" or "Medium SKU" instances. A much better way

[2020-01-22 15:48] KrishnaG-MSFT commented on #46585
@Mike-Crowley Hope you have self resolved and hence closed this issue that looks like related  to doc edit. If there are any questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-01-22 15:48] PatAltimore commented on #43434
Hi @kierenj,

I saw your question was answered on the forum. I'm adding the link for others that may look at this issue.

https://social.msdn.microsoft.com/Forums/en-US/1a701aa7-275d-4f0e-9661-caa0f78d8fdb/microsoftazureblockchainethtxsubmitterethereummachineparseprimitive-65535-is-apparently-too?forum=azureblockchain

I'm requesting to close the issue. #please-close

Use the forum post if you hav

[2020-01-22 15:48] #43434 closed

[2020-01-22 15:50] brandonmbanks commented on #30588
I'm having the same problem when using absolute imports.

[code]

Folder structure:
[code]
Works: `from ..shared.key_vault import get_secret`
Does not: `from shared.key_vault import get_secret`

[2020-01-22 15:51] Aurimas1 commented on #25532
Hi, at least dimension configuration as that worked correctly (selected all), hope it helps.

"dimensions": [
	{
		"name": "EntityName",
		"values": [
			"*"
		],
		"operator": "Include"
	}
],

[2020-01-22 15:53] tlamming commented on #46294
@stgeorgi Thank you. It sounds like its recommended to disable these things in the gold image so that you can "push" the updates yourself via WSUS, etc? Since WSUS would "take over" updates, what is the reasoning?

1. Office update via standard channel -  Isn't this recommended to be disabled? Updating the master image creates an issue where the entire "machine" is brand new, via Sysprep. Do you m

[2020-01-22 15:53] jtuliani opened #46629 "Out of date"
First screenshot wrong. There is no 'Multi-factor authentication' link there any more. So entire guide busted, blocked at step 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Per-user Multi-Factor Authentic

[2020-01-22 15:53] cpyne opened #46630 "HBase 2.0.1?"
Article indicates that HBase 2.0.1 is available, but I only see 2.0.0 in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af6ae544-80bf-209a-9de5-63153fd47ab5
* Version Independent ID: c70f7c14-6c10-a3e3-8593-8ec63b7fabe2
* Content: [Apache Hadoop components and versions - Azure HDInsight](https://docs.

[2020-01-22 15:54] jtuliani commented on #46629
Ah, found it. Loads more buttons have been added so the MFA button is now hidden under the '...' button, even on quite a big screen. An image refresh would help.

[2020-01-22 16:01] shankurmahajan opened #46631 "Elaborate more on Limited support for Internet Explorer 9 and 8"
What sort of limited support is available for IE 9 and 8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a5dbe-3776-6cbf-41b1-a2b00dcfe95e
* Version Independent ID: 14bb0adf-b9d0-7f70-1d35-ba38e85e0f65
* Content: [Customize the user interface - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c

[2020-01-22 16:05] DixitArora-MSFT commented on #46621
Hi @pawod Thanks for your feedback. We will review and update as appropriate.

[2020-01-22 16:08] mamccrea commented on #46177
Hi @Jigar191089 - thanks for the feedback. I've created a work item to update the doc with better descriptions. I will respond here once the article has been updated. If you have any additional questions, please reopen this issue.

#please-close

[2020-01-22 16:08] #46177 closed

[2020-01-22 16:10] mohibakhan opened #46632 "The listener for function 'functionName' was unable to start"
# Error

_The listener for function 'functionName' was unable to start. Microsoft.Azure.EventHubs.Processor: Encountered error while fetching the list of EventHub PartitionIds. System.Private.CoreLib: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond._

## Here is my

[2020-01-22 16:12] hrasheed-msft commented on #45296
@DwijadasDey we are revising and validating the scenario. Hope to have this completed soon.

[2020-01-22 16:13] hrasheed-msft commented on #45830
@michaelburch  we are revising and validating the scenario. Hope to have this completed soon.

[2020-01-22 16:13] zshorvath commented on #46302
Ok. Thanks for the update.

Meanwhile I did a small fix as the posted content may contain UTF chars in which case encoding behaves differently in Bash and would result in invalid signature.
This requires and additional prerequisite installed:
- uni2ascii

[code]

[2020-01-22 16:17] djhmateer commented on #46509
Hi - yes please on updating the docs.

Just this one line showing how to pass multiple files would be great.

[2020-01-22 16:17] PhilipSkinner commented on #44499
Sorry to comment on a closed issue, <StartDevelopmentStorage>False</StartDevelopmentStorage> doesn't work on VS 2017 - I get a random behaviour where certain function apps do not start the storage emulator and certain ones do - no detectable difference between the projects.

[2020-01-22 16:18] hrasheed-msft commented on #46310
@cpyne I've updated the text in the article. Recapture of the screenshots is in progress.

[2020-01-22 16:24] SebastianSchuetze commented on #42326
So that means, the product team developing the Service Health provides an API, that other product teams can make use to create an incident from their application?

Ok that would make sense! Thanks!

[2020-01-22 16:27] stephbaron commented on #42326
That's exactly right, the Service Health platform (product) allows any Azure Service to create incidents, planned maintenance, and health advisory events and surface them to customers.

[2020-01-22 16:27] otryshko commented on #42796
@markjbrown your comment seems to contradict https://github.com/MicrosoftDocs/azure-docs/issues/40268#issuecomment-541146889 thread.  There is says "If there are up to 25 containers in the database and at any point in time, if you are using only one container, then that container can use a max of ‘D’ throughput." - i.e. if D is 10K RU/s then a single collection can get 10K RU/s given other collect

[2020-01-22 16:31] thomasonsignup commented on #46623
Hello, I've tried lowercase as well, same issue.
The YAML does not work and throws an error that we do not have access to the repository.
"The image 'containerpreview.azurecr.io/microsoft/cognitive-services-form-recognizer-custom-supervised-labeltool:latest' in container group 'sample-labeling-tool-container' is not accessible. Please check the image and registry credential."

I ended up doing it

[2020-01-22 16:32] markjbrown commented on #7705
We've recently published an updated article on [query performance troubleshooting](https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-query-performance#understand-which-system-functions-utilize-the-index)  in which we provide the following guidance.

UPPER/LOWER

Instead of using the system function to normalize data each time for comparisons, instead normalize the casing upon insertion

[2020-01-22 16:32] #7705 closed

[2020-01-22 16:33] theweiweiway commented on #19578
@ozanbora   Are you running a Linux or Windows-based environment in Azure app services?

I tried deleting all my CORS policies in Azure and now I handle CORS completely within my express app. However it still doesn't work.

[2020-01-22 16:41] JnHs commented on #46596
Hi @RonaldMariah - these definition files are not used when publishing a managed services offer.

[2020-01-22 16:43] eparizzi commented on #36052
@KranthiPakala-MSFT He meant that some part of this section was copied from the pivot page.

Here: https://docs.microsoft.com/en-us/azure/data-factory/data-flow-unpivot#unpivot-key

It reads:

That's copied from the pivot section. This explanation doesn't match what UNPIVOT does actually.

[2020-01-22 16:48] felpel commented on #40887
@ToddBowman did you find an alternative solution for this problem? We need to replicate the data from a storage account to another one.

[2020-01-22 16:50] mamccrea commented on #46584
Hi @TechR10n - thanks for your feedback. Port 8787 was used for Azure in the past, but 15001 is now used for both Azure and AWS. Very old clusters may be using 8787, but all new clusters use 15001. I will update the doc to include that information, but most cases will use 15001. Additionally, port configurations are optional and are set to 15001 by default.

[2020-01-22 16:58] generalwig commented on #34379
Thanks for getting back so swiftly!!! I am deeply apologetic that I ended up moving on to achieve my goal with different technology and completely forgot to check back for the answer. I never thought it would be so quick ^^. I will definitely loop back when I get some time and see if this works for me.
Thanks again :)

[2020-01-22 17:02] bandersmsft commented on #40519
@torfulle @tzylla @KrishnaG-MSFT The enginnering team confirmed there is a bug behind this problem but they don't have an ETA to fix. However, they would like to speak with you for futher investigation. Please email matrive@microsoft.com.

[2020-01-22 17:10] RajatUC commented on #36052
Hi Emiliano,
Thanks for understanding the issue. You got it.
@Kranthi:   Sorry, I was caught up in some other work that I forgot to
reply to your mail.
Hope you will correct that description now.

cheers,
Raj

On Wed, Jan 22, 2020 at 11:43 AM Emiliano Parizzi <notifications@github.com>
wrote:

[2020-01-22 17:23] Adam-Smith-MSFT commented on #46624
@bjss-chris thanks for the feedback, I don't think emulator is deprecated, since Azurite uses a different way to setup, visual studio plugin in this case; I'll forward your feedback to the Author to update as appropriate.

[2020-01-22 17:24] cherylmc commented on #43427
#assign:ashjain

[2020-01-22 17:27] Adam-Smith-MSFT commented on #46238
@svangeti let me check with the internal team and will get back to you as soon as i get a response.

Thanks,
Adam

[2020-01-22 17:30] eugen-nw opened #46635 "It'd be very neat to have another example as well"
That's for the scenario where FindType="FindBySubjectName"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b416b884-a4c2-f64b-8646-c272d2f2aa39
* Version Independent ID: 6279b3df-55c3-32e6-bb21-33a4013edd29
* Content: [Configure secure Azure Service Fabric cluster connections - Azure Service Fabric](https://docs.microso

[2020-01-22 17:38] markjbrown commented on #42796
Apologies, this is kind of hard to explain in words. We're going to do an update to this doc to better illustrate. But let me clarify my comment above and correct the one you referenced which is incorrect.

In shared database, at 10K RU we will create two **physical partition sets** and shard each container (up to 25) **evenly across both** using a hash that splits the possible logical partition k

[2020-01-22 17:39] SumanthMarigowda-MSFT commented on #46007
@ryanceleslie We are investigating on this issue, It's a know issue ,  you may followup on GitHub microsoft/AzureStorageExplorer#1887 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-22 17:39] #46007 closed

[2020-01-22 17:46] kgremban commented on #46094
Great, thank you again for pointing this out. I'll close this issue now, but if you have any follow-up comments or questions, feel free to post here again.

#please-close

[2020-01-22 17:46] #46094 closed

[2020-01-22 17:46] #42896 closed

[2020-01-22 17:52] austincrft commented on #29578
I agree with @gigeld, what's the point of specifying an output if you can't use it? Why wouldn't it just return a value of type `SecureString` and hide it in the deployment outputs view in the Azure Portal?

[2020-01-22 17:54] sgraziosi commented on #46543
@GiftA-MSFT
thanks, the problem is certainly not generated by using the wrong environment name. Following the stack trace, I've narrowed it down to what happens in subprocess.py, which is called by the static method "_check_conda_env_existance(conda_env_name)" from within environment.py (it is trying to execute: "conda env list --json").
I made various attempts, and it seems that most likely the f

[2020-01-22 18:02] himanshusinha-msft commented on #46220
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-22 18:06] malopMSFT commented on #43475
You should use the same connection strings like myaccount.blob.core.windows.net

From private networks using DNS as recommended, the resolution will follow this sequence:
1) DNS lookup for myaccount.blob.core.windows.net -> result: myaccount.privatelink.blob.core.windows.net
2) DNS lookup for myaccount.privatelink.blob.core.windows.net -> Result: 10.1.1.5 or similar

The application won't notice t

[2020-01-22 18:07] Adam-Smith-MSFT commented on #46238
@svangeti It's not currently supported as mentioned, it will be in the future but I don't have an ETA yet, I'd recommend providing feedback here: https://feedback.azure.com/forums/217298-storage

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-22 18:07] #46238 closed

[2020-01-22 18:11] SaurabhSharma-MSFT commented on #46629
@jtuliani Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 18:11] seanmcc-msft commented on #45397
@ssrikantan, which method are you calling?

[2020-01-22 18:12] SaurabhSharma-MSFT commented on #46614
@tdefise Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 18:13] BryanTrach-MSFT commented on #46613
@tdefise Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-22 18:17] mamccrea commented on #46584
I've created a PR to update the doc to help clarify the port configuration. It should go live by the end of the week.

I will proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-01-22 18:17] #46584 closed

[2020-01-22 18:19] msrini-MSFT commented on #46481
@fablehouse , Do you have any update on this issue?

[2020-01-22 18:20] msrini-MSFT commented on #46511
@BE-Digital-Solutions-Bart , Do you have any update on this issue?

[2020-01-22 18:24] fablehouse commented on #46481
ok.that's good . Didn't read the whole thing

On Wed, Jan 22, 2020 at 1:19 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2020-01-22 18:26] #46481 closed

[2020-01-22 18:27] RonaldMariah commented on #46596
Thanks @JnHs , I initially had chosen the wrong type of Application (Solution Application instead of Managed Services).

I'm now faced with the following error on our Partner Center account
"The Partner Center account is not eligible for publishing. Please link a valid Partner Center account to publisher 'geekmanagedservices' and ensure the account is enrolled in the Azure program."

Any suggestio

[2020-01-22 18:32] cchambers-cap opened #46636 "Approve sign-in image is different than what appears on my phone"
The image for "Approve Sign-in" differs what what I see on my iPhone. In the documentation, it indicates a location and OS to verify the sign-in but I don't see that in the Authenticator app. Is this a difference between iOS and Android, a out of date image, or something else? (It would be great if the app did display this information to help ensure the sign-in I'm approving is the correct one)

-

[2020-01-22 18:34] PrinceVarshney commented on #9627
I am facing this issue, token kid is not present in public keys checked the v2 version as well.

[2020-01-22 18:43] sanchetanparmar commented on #44790
Issue with current marketplace image.
If you create win-2019 vm, by default
```get-Service winrm```  will show enable but not the same case with 2016-datacenter.

I have created VM from portal and checked,
**WinRm** disabled by default in 2016-datacenter, Enabled in 2019.

Please check and verify

[2020-01-22 18:47] Dilergore commented on #31188
I don't know anything about why this issue was created. I can confirm since early Q3 it was working for me and it stopped working mid-November.

[2020-01-22 18:53] AlexeyKarpushin commented on #44790
Unfortunately switching to win-2019 is not an option for us. Also I believe Packer configures WinRM during temp VM provisioning. The issue is intermittent, sometimes Packer is able to connect to temp VM so I believe the issue is not in marketplace image.

[2020-01-22 18:57] fuocor opened #46638 "The Roles claim type is documented as Array of strings when it is a string value returned"
The ValueType in the token received is ```http://www.w3.org/2001/XMLSchema#string```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsoft identity platform ID token reference](https://docs.microsoft.com/e

[2020-01-22 19:02] shashishailaj commented on #46592
@truekonrads Thank you for noticing that . We will engage with the content team to have the screenshot updated.

[2020-01-22 19:03] marckassay opened #46639 "Specify what kind of 'code' and 'token' in "Create a client secret" section"
I believe 'code' and 'token' are referring to respectively, 'authorization code' and 'access token'. Those two terms as-is in my opinion are too general.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-87e9-c760-1a37-57728171395d
* Content: [Tutoria

[2020-01-22 19:03] shashishailaj commented on #46592
@rolyon Could you please look into this issue and help update the screenshots as per the details provided by the customer. Accordingly some content might need to be adjusted as well.

[2020-01-22 19:05] anlucen opened #46640 "Review on-premises AD UPN support for Hybrid Azure AD join"
Hello, the information for Review on-premises AD UPN support for Hybrid Azure AD join is not showing the version 1902. I just wondering if we can update this for customer. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3f

[2020-01-22 19:07] Richards706 commented on #46425
Yes, you are exactly right.  I am looking for clear instructions for developing a web app connected to a Azure SQL database using Visual Studio.  I’m sorry, but I just do not understand the command line instructions.

Thanks for the assistance.

Randall Richards

From: Sujay Sarma <notifications@github.com>
Sent: Tuesday, January 21, 2020 1:55 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.gi

[2020-01-22 19:08] ryanceleslie commented on #46007
Is there any alternative to using Storage Explorer? I saw that VSCode has an Azure extension, will that suffice to manage my storage containers?

[2020-01-22 19:11] nadeem4 commented on #18204
I am still facing issues.  I am unable to create Public IP with DNS  using
helm install stable/nginx-ingress --namespace kube-system --set controller.replicaCount=2 --set service.annotations[0]="service.beta.kubernetes.io/azure-dns-label-name: mycustomdnsname"

My AKS is in eastus2

[2020-01-22 19:11] torfulle commented on #40519
Hello – I reported this issue in the Fall of 2019. The issue that was occurring is that the cost exports would not appear in a storage account with firewall rules associated. I am not sure what else I can assist with. Please let me know how I can help.

Best,

Tori Fuller
Premier Field Engineer
Azure Secure Infrastructure
Working Hours:
Email:
Phone:
Mon – Fri 09:00 AM–06:00 PM EST tofulle@microso

[2020-01-22 19:11] Richards706 commented on #46425
Sneha,

I have worked with VS 2019 where I define a database in the Models folder.  From there I know how to scaffold the different tables to create CRUD pages that can be used in my website.  What I do not get is how you do the same thing when you connect to an existing Azure SQL database.  There seems to be a vast chasm in my brain between the two operations.

Thank you,

Randall Richard

From:

[2020-01-22 19:16] vladvino commented on #46593
Yes, there will be an ARM API for provisioning getaway resources.

[2020-01-22 19:17] JnHs commented on #46596
Hi @RonaldMariah - have you followed the steps described here? https://docs.microsoft.com/azure/marketplace/partner-center-portal/create-account
(Note if you already have a Partner Center account then follow the steps under "Create an account using existing Microsoft Partner Center enrollments")
If you have done this and still see this error, I think you will need to contact Partner Center support

[2020-01-22 19:19] J-Corwin opened #46641 "file size/bandwidth requirements"
The page has a list of operating modes, but no information on how large Kinect files are and how much usb bandwidth is consumed in those operating modes.

Even basic estimate of the mkv bits per second on default settings would be useful in planning storage requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2020-01-22 19:26] AjayKumar-MSFT commented on #41645
Apologies for the delay on this! Our product engineering team is actively working on this and it will be GA shortly. I will post back as soon as I have an update.

[2020-01-22 19:26] rolyon commented on #46592
Hi @truekonrads
The Properties tab still appears for me. What role are you signed in as?
thanks

[2020-01-22 19:27] brettcannon commented on #30588
@brandonmbanks assuming the import error is coming from your `__init__.py` file then that's expected. A key detail is when the code is running under Functions it's all running in a package called `__app__`, so while in your repo it might look like you're uploading two packages (`shared` and `my_function`), in fact you're uploading everything contained within a package called `__app__`, hence the n

[2020-01-22 19:29] Karishma-Tiwari-MSFT commented on #46635
Can you please elaborate on what more information you are suggesting to include in the document. Thanks.

[2020-01-22 19:30] Karishma-Tiwari-MSFT commented on #45678
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-22 19:30] #45678 closed

[2020-01-22 19:32] sethmanheim commented on #44745
Hi @niico100, sorry for the delayed response and thanks for reaching out. This article is meant as a conceptual overview and not an end-to-end tutorial. Please take a look at https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started, which starts a series of step-by-step tutorials, and also uses a complete example that lives on GitH

[2020-01-22 19:32] ColbyTresness commented on #46405
@alexkarcher-msft to comment

[2020-01-22 19:32] stgeorgi commented on #46294
@tlamming to clarify the recommended way is via updating the master image (and our documentation references this model) that is however not the only option and I list options. Diverging configuration is always an issue in VDI/RDS environments and why master image pushing the updates is common.

[2020-01-22 19:33] niico100 commented on #44745
Hi I was referring to the refund, not the push notification stuff. And my account’s inability to do cancel support myself. ThanksNick From: Seth ManheimSent: 22 January 2020 20:32To: MicrosoftDocs/azure-docsCc: Nick Donnelly; MentionSubject: Re: [MicrosoftDocs/azure-docs] Incomplete code samples (#44745) Hi @niico100, sorry for the delayed response and thanks for reaching out. This article is mean

[2020-01-22 19:34] sethmanheim commented on #44745
@niico100 I'm sorry, I'm not clear on what you refer to as the "refund."

[2020-01-22 19:37] ticianaciminari opened #46643 "Activity logs still don't work # 678"
Hi Team, can you please check this issue from user?

https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/678

@gtrennert commented 21 hours ago — with docs.microsoft.com

I already tried azure a year ago - and I discovered the same catastrophic bug as at the time
The newspaper repeats:
Reconnect Copy logs Suspend Clear Develop
Welcome, you are now connected to log-streaming service. ...
No ne

[2020-01-22 19:38] rolyon commented on #44794
Hi @JDWNL
I checked with the Security Center team. They indicated that the Microsoft.Security/* namespace applies only to Security Center APIs. They provided the following link for information about the APIs:
https://docs.microsoft.com/en-us/rest/api/securitycenter/
thanks

[2020-01-22 19:39] sethmanheim commented on #44745
@niico100 Please feel free to open a new issue if you have any questions about the tutorials or other documentation. Thank you! #please-close

[2020-01-22 19:39] #44745 closed

[2020-01-22 19:42] AkosBatorfi commented on #44790
@AlexeyKarpushin I tried your workaround, and indeed now the build continues to run. I had set the winrm_timeout to 90m to test, but even that gave me nothing. I was trying echo y |winrm quickconfig too, but no luck. Your PowerShell code immediately made the deployment go on!

However, I don't get why I was able to start the same build yesterday, which (after about 12 minutes waiting) went on just

[2020-01-22 19:50] niico100 commented on #44745
Go through all my messages – former email was nick4@cityking.com now its nick@cityking.com – not sure if that changes the emails you see. Read all please. ThanksNick From: PRMerger16Sent: 22 January 2020 20:39To: MicrosoftDocs/azure-docsCc: Nick Donnelly; MentionSubject: Re: [MicrosoftDocs/azure-docs] Incomplete code samples (#44745) Closed #44745.—You are receiving this because you were mentioned

[2020-01-22 19:52] mike-urnun-msft commented on #46632
@mohibakhan Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the Functions documentation that your feedback is most applicable to?

[2020-01-22 19:56] Ravi-Alwis opened #46645 "Cluster deletion details not avaialble in activity log , but documentation shows that"
[Cluster deletion details are not available in activity logs. Have tested that. But this document shows the image which showing cluster deletion details  ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d203b8-6b9d-2221-7bae-ce3b3b91d56e
* Version Independent ID: 4c510f3b-c4ac-e9f7-394c-a5a01af6f392
* Content: [How t

[2020-01-22 19:58] MarileeTurscak-MSFT commented on #46638
@fuocor
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 19:59] MarileeTurscak-MSFT commented on #46622
@peterwake
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 19:59] MarileeTurscak-MSFT commented on #46620
@BakkerJan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 19:59] leela-uppuluri opened #46646 "Create and deploy Azure Machine Learning module"
I was working on IoT Edge anomaly detection tutorial and I am running into an error while executing the anomaly detection jupyter notebook code where deploying the container to Azure IoT Edge device. Does anyone know what I need to enter in the `["containerRegistry"]` section? I have tried different ways like entering container registry name, registry username, registry address but none of them wo

[2020-01-22 20:00] MarileeTurscak-MSFT commented on #46639
@marckassay
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 20:00] peheje commented on #39901
The QueueClient has a connection you can pass to it, I'm guessing this can be reused. I ended up setting up our Dependency Injection library to keep a pooled list of initialized QueueClients.

[2020-01-22 20:01] MarileeTurscak-MSFT commented on #46636
@cchambers-cap
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 20:03] hruday94 commented on #46314
Hi @Mike-Ubezzi-MSFT ,

This is how I am currently using, just as the way the documentation was suggesting. Only difference is I am not sure how the priority attribute works so I avoided that.

table_service = TableService(account_name='accountName', account_key='AccessKey')
update_task = {'PartitionKey':partition_key, 'RowKey':row_key, 'coloumn_I_want_to_update':content}
    result = table_servic

[2020-01-22 20:07] allegradomel commented on #42788
Hi @nakamacchi, since your suggestion concerns specific service tag information - you should open an issue in the [service tag article](https://docs.microsoft.com/azure/virtual-network/service-tags-overview). Thanks!

#please-close

[2020-01-22 20:07] #42788 closed

[2020-01-22 20:08] alexkarcher-msft commented on #46405
Hi, we're adding more clear verbiage to that soon. For Premium we guarantee at least 60 minutes of execution time, but do not restrict you from running longer. I've personally tested 4 hour executions without any trouble.

We do restart your site every 4-6 weeks for platform updates, which require restarting all running workers. We'll wait up to 60 minutes before killing your process, so your exec

[2020-01-22 20:14] allegradomel commented on #41045
@marlonsingleton, thanks for the detailed feedback! We're in the process of restricting this doc and we'll take this into consideration

#please-close

[2020-01-22 20:14] #41045 closed

[2020-01-22 20:19] rolyon commented on #46156
Hi @femsulu
I'll see if I can track down a contact.

[2020-01-22 20:33] MarileeTurscak-MSFT commented on #46640
@anlucen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-22 20:34] MikeRayMSFT commented on #44338
@CalvinG-MSFT - thanks for the note.

@MashaMSFT - could you please review this?

@rajeshsetlem  - FYI

[2020-01-22 20:42] se7vanj opened #46647 "Feature request - Availability of Self-hosted gateway package for x86-64 Windows-based Docker container"
Could you please let us know the timelines for the availability of Self-hosted gateway package for x86-64 Windows-based Docker container?

I believe the below error indicates that it can only run in Linux Containers?

docker : Unable to find image 'mcr.microsoft.com/azure-api-management/gateway:beta' locally
At line:1 char:1
+ docker run -d -p 80:8080 -p 443:8081 --name XXXXXX --en ...
+ ~~~~~~~~~

[2020-01-22 20:48] SnehaGunda commented on #45063
@Mike-Ubezzi-MSFT please tag this issue with the storage service as it's on the storage doc.

[2020-01-22 20:51] FrankHu-MSFT commented on #46565
This doesn't necessarily mean that the issue is related to the scope suppressed policy. It might be that something is relying on the sso scope in your custom policy and it's not working properly. I suggest filing a support ticket on this issue and seeing if you can get assistance in debugging the custom policy you have setup.

If you're still having an issue here, please email AzCommunity[at]micro

[2020-01-22 20:52] NavtejSaini-MSFT commented on #46625
@potato-enthusiast We are checking this and will get back to you.

[2020-01-22 20:52] FrankHu-MSFT commented on #46547
hey @jvplopper thanks for letting us know about this, we'll take a look into this a little bit further and will update the docs accordingly.

CC: @iainfoulds

[2020-01-22 20:54] gursethi opened #46648 "Table Actions missing in ADF Australia East"
Hi MS Team,

I was hoping to test COPY feature mentioned above to load into Azure Synapse Analytics from Data Lake Gen2 via ADF. However, I am only able to see "Non" and "Auto Create Table" as "Table option". Not able to see "Truncate Table" option, am I missing something or it is not yet released in "Australia East"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-01-22 20:58] Canis-Lupis opened #46649 "More explanation needed, please."
This article doesn't state for what type of apps this applies to, so I assumed all, including the Microsoft apps.  However, this doesn't appear to be the case.  After following the instructions here, I was unable to set visibility for step #7 "under Hide an application from the end user" section for Microsoft apps (Word, PowerApps, etc...).  In fact, those apps only show up if you choose All Appli

[2020-01-22 21:02] Mike-Ubezzi-MSFT commented on #45063
@SnehaGunda The document metadata needs to be changed, as that label is auto assigned by PRMerger process. These two need to be changed:

[2020-01-22 21:12] MarileeTurscak-MSFT commented on #46639
@marckassay thanks. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101976

[2020-01-22 21:12] #46639 closed

[2020-01-22 21:14] eugen-nw commented on #46635
Please use this page for inspiration: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster  In that particular scenario, the certificate will be found if it has the "CN=sfrpe2eetest.southcentralus.cloudapp.azure.com" string in its Subject field.  It can have other values there as well, but that one is necessary for identification.

The ClusterConnectionPar

[2020-01-22 21:17] Rykimaruh opened #46651 "Automatically add guest users"
Is there any documentation about how guest users are added automatically to the Azure AD?

[2020-01-22 21:24] CESARDELATORRE opened #46653 "Section on C# but sample notebook is in Python?"
In the following section it focuses on C# but the sample notebook in the link is Python:

Use with ONNX in C# apps
With Azure Machine Learning, you can use automated ML to build a Python model and have it converted to the ONNX format. The ONNX runtime supports C#, so you can use the model built automatically in your C# apps without any need for recoding or any of the network latencies that REST en

[2020-01-22 21:25] WillParry opened #46654 "Change of DSC Zip file between ModulesUrl and Url in schema settings change"
In this section:

https://docs.microsoft.com/en-gb/azure/virtual-machines/extensions/dsc-template#example-using-the-configuration-script-in-azure-storage

settings > configuration > url

has an example value https://demo.blob.core.windows.net/iisinstall.zip

in the old schema example here

https://docs.microsoft.com/en-gb/azure/virtual-machines/extensions/dsc-template#update-from-a-previous-format

[2020-01-22 21:29] baatch opened #46655 "No deviceid when exporting Measurements to eventhub"
I have deployed an IoT Central installed with the sample app Connected Waste management and then configured export to eventhub for Measurement/telemetry. When checking the messages in the eventhub with Stream Analytics I don't see a message that is like the example in the documentation:

{
  "body": {
    "humidity": 29.06963648666288,
    "temp": 8.4503795661685,
    "pressure": 1075.833491011009

[2020-01-22 21:33] Mike-Ubezzi-MSFT commented on #46314
@hruday94 Are you attempting to update the entity or replace properties in the entity? Looks like you are attempting to update a specific column value. From a documentation perspective, I see that `priority` is not discussed at all, and the TableService class [document](https://docs.microsoft.com/en-us/python/api/azure-cosmosdb-table/azure.cosmosdb.table.tableservice.tableservice?view=azure-python

[2020-01-22 21:35] Richards706 commented on #46425
Sneha,

While I am picking your brain, how can I make CRUD pages based on a view?

Thanks,

Randall Richards

From: SnehaAgrawal-MSFT <notifications@github.com>
Sent: Tuesday, January 21, 2020 1:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richards706 <richards706@charter.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Are you kidding me

[2020-01-22 21:40] SimonDoy commented on #31188
I have been fighting this issue for a couple of days both with Windows 2016 and Windows 2019 DataCentre images.

I read some Microsoft documentation ([https://support.microsoft.com/en-gb/help/4494462/events-not-forwarded-if-the-collector-runs-windows-server](Microsoft support article)) that stated the winrm process runs differently on a Windows 2019 machine when the machine has less than 3.5GB.

S

[2020-01-22 21:41] johnheusinger commented on #46387
@Grace-MacJones-MSFT I installed and ran the client on my machine, where I could control the version, rather than using the Cloud Shell

[2020-01-22 21:44] NavtejSaini-MSFT commented on #46589
@aalewismsft The Pull Request https://github.com/MicrosoftDocs/azure-docs-pr/pull/101987 has been created for correcting the document and changes will be visible once PR is approved.

[2020-01-22 21:50] Mike-Ubezzi-MSFT commented on #46291
@Styrna Did you identify a resolution to this or are you still unable to implement this logic?

[2020-01-22 22:00] the-blesss commented on #36828
@Zek99 we were not able to use the private DNS zone and had to use DNS
servers.

On Fri, Jan 17, 2020 at 12:10 AM Zek99 <notifications@github.com> wrote:

[2020-01-22 22:04] kierenj commented on #25967
I'm using a freshly-exported model and it looks like "loss:0" is incorrect:

Error: Could not preprocess image for prediction. "The name 'loss:0' refers to a Tensor which does not exist. The operation, 'loss', does not exist in the graph."

[2020-01-22 22:09] #46589 closed

[2020-01-22 22:10] SnehaGunda commented on #46589
Thanks @NavtejSaini-MSFT for fixing the doc.

@aalewismsft We will now close this issue.

#please-close

[2020-01-22 22:12] JesvinJoseph opened #46657 "BlobStorage module is not working when it run as a diffent user "User": "1000:0""
Hi,
I created a local folder and given the user access 1000:1000 and permission 700, then the blob storage module started misbehaving. Client modules can't upload any files to the blob storage at the edge. But if I run the container as 11000:11000 with proper directory ownership, everything works normally.

Below is the error log I am getting from the client module

'2020/01/22 21:47:50 -> github.

[2020-01-22 22:17] lukipro opened #46658 "Azure Monitor Logs for Linux hosting plans"
Hi, are there any plans to enable Azure Monitor Logs for Linux hosting plans?

Thanks,
Łukasz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bceaf516-a1b0-eb1e-e106-62c31db3e69c
* Version Independent ID: abbbd2d6-e0fc-d370-f4a7-ac669fc4acd6
* Content: [Monitoring Azure Functions with Azure Monitor Logs](https://docs.mi

[2020-01-22 22:22] tbogle opened #46659 "Testing Tool"
Is there a tool that can be used to do testing? I.E. I'd like to build an expression, then set variables, and see the output to verify that my expressions output what I expect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb210829-0a82-3bfc-1408-81b34e58d43d
* Version Independent ID: 7de2c0e7-0e01-20b0-a507-c0016cb82

[2020-01-22 22:29] SnehaGunda commented on #46098
@OnlineGameGuy you don't have to take any action on the choose a platform tab. You will create a new Xamarin app in the next steps. You can just follow instructions in the next section. I don't see any doc update for this issue.

[2020-01-22 22:38] DavidSchrag opened #46661 "Missing guidance on Identifier (Entity ID) and Reply URL (Assertion Consumer Service URL)"
In the section "Configure Azure AD single sign-on," only the Sign on URL is mentioned. The syntax for Identifier (Entity ID) is clear from the on-screen instructions, but the hint for Reply URL is *.mimecast.com, with no suggestions for what should go in place of the *.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e

[2020-01-22 22:41] davidsmatlak commented on #31198
#in-progress

[2020-01-22 22:53] davidsmatlak commented on #31198
#in-progress

[2020-01-22 23:00] tehtertot commented on #46331
@PramodValavala-MSFT I was able to run everything locally, but now when I try to deploy and run via with the Azure portal, I keep getting the following error:

Function (ProcessMezzoEventsPPE/UserChangeEventSBQ) Error: Microsoft.Azure.WebJobs.Host: Error indexing method 'UserChangeEventSBQ'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'my_input_parameter_name' to type MyCustomType. Make su

[2020-01-22 23:17] dcallagh opened #46663 "private endpoint supported??"
The article specifies that the traffic is to a public storage endpoint, and that traffic over VPN (and I assume private express route) is unsupported. With private link and private endpoint for storage services now available, can replication take place to the private endpoint over Express Route private peering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-01-22 23:23] femsulu commented on #46663
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-22 23:25] djpmsft commented on #46460
Hey all,

This is Daniel from the ADF product group. We confirm that the current script does not handle nested pipelines well. We are working to update the script to include handling for this and the inclusion of data flows.

Thanks,
Daniel

[2020-01-22 23:31] KranthiPakala-MSFT commented on #46484
@otravers We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@linda33wj Could you please have a look at the ask from @otravers ? - Thanks!

[2020-01-22 23:39] vishnu4 opened #46664 "Issue with subnet setting in Azure Application Gateway setup"
on the page https://docs.microsoft.com/en-us/azure/application-gateway/redirect-http-to-https-portal , in the 'Create an application gateway' section, step #6 , it says that the subnet should be
10.0.1.0/24
but the screenshot beneath it shows the subnet to be
10.0.0.0/24

I'm betting one of these is right and one is wrong, but they both can't be right.

if you scroll down a bit further, in the 'ad

[2020-01-22 23:45] shawnolson-fp opened #46665 "ExpressRoute: What does "Peer ASN" mean?"
There is no clear definition of what "Peer ASN" means on the ExpressRoute peering page. And there is no mention of what ASN I need to use on my end for the remote-as.

For example, I have a router with ASN 1234 as my ASN. I need to peer with Microsoft via ExpressRoute private. What do I use on the configuration on my router for 'remote-as'?

And on the ExpressRoute peer, what is "Peer ASN" referri

[2020-01-22 23:52] MashaMSFT commented on #44338
Hi @CalvinG-MSFT , thanks for your feedback! Am I understanding correctly in that when you switched the load balancer to be standard, your cloud witness was no longer able to connect to Azure Storage?

If that's the case, that's unexpected. Did you and your customer happen to open a support case to investigate the connectivity issue?

Thanks!
Masha from the SQL Docs team

[2020-01-22 23:53] markjbrown commented on #10248
We don't publish this number but it is in the hundreds of thousands.

[2020-01-22 23:54] rjosephp opened #46666 "AccessMode ReadWriteOnce"
It is mentioned above under Volumes "Azure Disks are mounted as ReadWriteOnce, so are only available to a single pod". However, in he Kubernetes official documentation (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes), it is mentioned that "ReadWriteOnce – the volume can be mounted as read-write by a single node". Then, it means all pods in that node can Read and Write

[2020-01-22 23:56] KranthiPakala-MSFT commented on #46630
@cpyne Thanks for the feedback and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-01-22 23:58] KranthiPakala-MSFT commented on #46648
@gursethi Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2020-01-22 23:58] KranthiPakala-MSFT commented on #46645
@Ravi-Alwis Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-01-23 00:06] CalvinG-MSFT commented on #44338
They did and there was no resolution. We eventually found a recommendation from the PG to setup an Azure Service Endpoint to a Storage Account that then allows Cloud Witness to be setup behind a Standard Loadbalancer. Customer is upset that there is no supporting documentation for this type of scenario.

Sent from my mobile
________________________________
From: Masha at MSFT <notifications@github

[2020-01-23 00:12] SnehaGunda commented on #46610
@leotsarev I submitted a PR to add a gateway mode example to the doc. Changes should be live tomorrow morning.

We will now close this issue.

#please-close

[2020-01-23 00:12] #46610 closed

[2020-01-23 00:15] GiftA-MSFT commented on #46543
@sgraziosi no worries at all, thanks for the update.

[2020-01-23 00:15] #46543 closed

[2020-01-23 00:16] devnomadic opened #46668 "Preview Signup"
I have filled out the linked form (twice) to signup to the preview features. I have haven't had any response. Is the preview still open for registration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a06520c-ba95-a3c7-85e4-9e9737ca1b69
* Version Independent ID: fa6dbc5f-8301-6355-d899-2903e60d58f9
* Content: [Templat

[2020-01-23 00:17] edemen commented on #42004
Indeed troubleshooting would be useful. After attaching an acr, images are still failing to be pulled with ImagePullBackOff:
azure "ImagePullBackOff" Error response from daemon: manifest not found: manifest unknown: manifest unknown, rpc error: code = Unknown desc = Error response from daemon: unauthorized: authentication required

I see that no secret had been created during attaching, is that ri

[2020-01-23 00:21] MashaMSFT commented on #44338
Hi @CalvinG-MSFT , interesting! Would you mind emailing the SR#?

Thanks!
Masha from the SQL Docs team

[2020-01-23 00:21] SnehaGunda commented on #45063
Thanks Mike I made the changes.

@Hitachi-wbojcevski "microsoft.windowsAzure.storage.table.queryComparisons" is the older version of Table Storage library., install the newer library "Microsoft.Azure.Cosmos.Table.QueryComparisons" and the PowerShell would work as expected.

[2020-01-23 00:24] MicrosoftGuyJFlo commented on #45978
@shAFXr

I commented that issue in here so we dont lose track of the original question. I also reached out to both the Intune and Exchange teams for additional clarification. I have not heard anything back from them. Will update if I hear anything but I will be out of the office all of next week.

[2020-01-23 00:27] SnehaGunda commented on #46291
@Mike-Ubezzi-MSFT The API reference docs aren't updated to the newer version of SDK, so PreferredLocations page is still available. The Dev team should update the XML doc files and then we can update the API reference docs. It won't happen until March.

@Styrna looks like you have the solution figured out, I will be removing the PreferredLocations link from the doc temporarily and when the referen

[2020-01-23 00:28] KranthiPakala-MSFT commented on #46524
@gpierrick
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-01-23 00:28] #46524 closed

[2020-01-23 00:28] SaurabhSharma-MSFT commented on #46522
@guyetoro I have tried uploading and downloading Arabic file and I do not see any issue.  Also,  I do not think you can delete the custom language however you can disable it from portal.  See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/72946583-32e9d380-3d34-11ea-851e-bab0388a3329.png)

[2020-01-23 00:35] ahmedelnably commented on #46658
We are currently working on adding that.
We will update the doc when we the support is ready

#please-close

[2020-01-23 00:35] #46658 closed

[2020-01-23 00:39] SnehaGunda commented on #46314
@hruday94 Not sure if you had a chance to see the note in the doc. I have quoted it below. The update_entity will delete existing fields and it's the expected behavior, please use merge_entity instead. Its documented in that page.

The update_entity method replaces all properties and values of an existing entity, which you can also use to remove properties from an existing entity. You can use the

[2020-01-23 00:40] Karishma-Tiwari-MSFT commented on #46635
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-23 00:41] MarileeTurscak-MSFT commented on #46661
@DavidSchrag
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 00:49] MarileeTurscak-MSFT commented on #46649
@Canis-Lupis
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 00:52] MartinJaffer-MSFT commented on #46599
Thank you for bringing this to our attention @pauldj54 .  I will create a pull request for this.

[2020-01-23 00:53] Wicaeed commented on #45107
Probably intended for a certain audience that might be more familiar with VMs than Azure App service, for example.

[2020-01-23 00:55] MarileeTurscak-MSFT commented on #46649
@Canis-Lupis it does specify in the first few steps that it needs to be an Enterprise Application.

I agree with you about the second piece of feedback though and made a pull request to update step 3. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102019

[2020-01-23 00:55] #46649 closed

[2020-01-23 00:56] ikflc commented on #8416
Hi Mike,
Can you please let me know the solution to it? I am hitting the same issue.
I raised a MS support call but is taking long.

CREATE CREDENTIAL [https://xxx/yyy-aud]
WITH IDENTITY='SHARED ACCESS SIGNATURE',
SECRET = 'key without ? from the beginning of the token'
GO

CREATE SERVER AUDIT [SQLMI_SVRAUD]
TO URL ( PATH ='https://xxx/yyy-aud' , RETENTION_DAYS =  7 )
GO

alter server audit [SQLMI

[2020-01-23 01:02] anfeldma-ms commented on #46072
Hi @ckbargavi thanks for catching this. Can you please share the full Java SDK version number you are using?

[2020-01-23 01:02] JnHs commented on #42537
Hi there @fslefevre78 - sorry for the long delay in responding back to you. I can confirm that the "Managed Services Registration Assignment Delete Role" is now available to select when publishing a managed service offer in Cloud Partner Portal. We've updated the documentation here to reflect this: https://docs.microsoft.com/en-us/azure/lighthouse/how-to/publish-managed-services-offers#manifest-de

[2020-01-23 01:02] #42537 closed

[2020-01-23 01:03] truekonrads commented on #46592
This appears if you're signed in either as as:
a) Classic Admin / Service Administrator
b) Classic Admin / Co-administrator

Any other roles I should try?

[2020-01-23 01:09] mike-urnun-msft commented on #46643
@gtrennert Thank you for your feedback! Could you clarify what specific issue that you're referring to?

`No new trace in the past x min (s).` message simply indicates that there hasn't been any activity to be logged from your Function in the past `x` number of minutes.

[2020-01-23 01:14] vhorne commented on #43446
@KosukeHosoda
This article has been updated with log file samples. Should live tomorrow morning.
#please-close

[2020-01-23 01:14] #43446 closed

[2020-01-23 01:15] #46599 closed

[2020-01-23 01:22] gpierrick commented on #46524
How is this v2 connector only supporting up to 3.4 while the legacy supports up to 3.6? It doesn’t make any sense

[2020-01-23 01:24] mike-urnun-msft commented on #46647
@se7vanj We are not able to share any timelines on this matter at this time, and typically do not do so in public channels. We recommend monitoring [Azure Updates](https://azure.microsoft.com/en-us/updates/?query=api%20management) for such announcements. You may also submit a feature request on the [Azure UserVoice](https://feedback.azure.com/forums/248703-api-management) as this channel is more f

[2020-01-23 01:25] TheKlingon opened #46669 "The procedure shown in Create a .NET backend using the Azure portal is obsolete."
Hi.
If you sign in at the Azure Portal, the section:
Select +NEW &gt; Web + Mobile &gt; Mobile App, and then provide a name for your Mobile Apps back end.
is not available.
The new procedures to follow is available in:
https://docs.microsoft.com/it-it/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-01-23 01:26] gpierrick commented on #46524
Further to this we have been using the v2 connector with 3.6 successfully

[2020-01-23 01:26] ebasseri opened #46670 "Australia is misspelled in the menu bar"
current: Identity data storage for Austrailia
should read: Identity data storage for Australia

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68e79330-b9ff-012d-aec5-4f481512bd8d
* Version Independent ID: a2769d59-9e11-7cda-e490-5b03d47adac8
* Content: [Identity data storage for Australian customers - Azure AD](https:/

[2020-01-23 01:33] KranthiPakala-MSFT commented on #46524
@gpierrick Thanks for your response. I totally agree with your statement. I am reaching out to the ADF engineering team to get more clarification about this. Will get back to you once I have an update from the team.

Thank you.

[2020-01-23 01:37] mikebudzynski commented on #46605
The release is still being rolled out, please allow a week or two for changes to be deployed to your API Management service. The new attributes have not been added to the documentation yet.

[2020-01-23 01:42] petehauge commented on #42614
I ran into this error and can't find a way to resolve it.  Any pointers or help on how to handle this?  I followed all the steps and can't connect the Azure VPN client to my gateway.  Thanks in advance for any help!

[2020-01-23 01:48] petehauge commented on #45598
I ran into this error and can't find a way to resolve it. Any pointers or help on how to handle this? I followed all the steps and can't connect the Azure VPN client to my gateway. Thanks in advance for any help!

[2020-01-23 01:56] VikasPullagura-MSFT commented on #46654
@WillParry Thanks for the Feedback. I am assigning the issue to content author for checking and updating the document as appropriate.

[2020-01-23 01:56] kobulloc-MSFT commented on #46312
@michaelbunney We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-01-23 01:56] #46312 closed

[2020-01-23 02:13] Karishma-Tiwari-MSFT commented on #46627
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-23 02:14] Karishma-Tiwari-MSFT commented on #46666
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-23 02:23] MashaMSFT commented on #42421
Hi @paramda , thanks again for providing your feedback! My apologies for the delay. I've started making the recommended changes, but I'd like to clarify...

So you're saying that step 7 should have the following:

Step 7 - Set the cluster parameters in PowerShell
1. Get the IP address name of the WSFC Cluster IP address. In Failover Cluster Manager under Cluster Core Resources, locate Server Name.

[2020-01-23 02:29] SnehaAgrawal-MSFT commented on #46669
@TheKlingon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-23 02:32] KranthiPakala-MSFT commented on #46524
@gpierrick Just got a confirmation from internal team that MongoDB v2 connector is formally supported to v3.4, while v3.6 is not formally tested yet. That's the reason v3.6 is not included in the document.

I would request you to please share your feedback/suggestion regarding this connector in below feedback thread:

Feedback thread: [Add support for MongoDB v4.0 for the MongoDB connector](https:

[2020-01-23 02:44] se7vanj commented on #46647
Thank you.,

On Wed, Jan 22, 2020 at 8:24 PM Mike Urnun <notifications@github.com> wrote:

--
Thanks,
Selva

[2020-01-23 02:48] MartinJaffer-MSFT commented on #46460
Until the update is ready, you can write logic to catch this error, and then use `Get-AzureRmDataFactoryV2Pipeline -ResourceGroupName "yourgroupName" -Name "PipelinetoBedeleted" -DataFactoryName "DFName").Activities.AdditionalProperties.typeProperties` to find out which pipeline(s) is the parent.

I provided something similar [in a stack overflow thread](https://stackoverflow.com/questions/5855998

[2020-01-23 02:52] maverick126 opened #46671 "Determine plan use Documentation for Databricks Misleading"
[The documentation that say use Azure portal reservations to purchase a Databricks plan will show the utilization to-date any remaining units is wrong.  Databricks reservation only shows the DBCU available, its not remaining DBCU units.]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7565dd-43fa-bac8-c58e-4eeae0066a4

[2020-01-23 02:57] jorgemrsantos opened #46672 "Azure Gateway download profile zip not including ovpn file"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/vpn-gateway/about-vpn-profile-download.md

I'm trying to use an Azure Gateway with the Azure AD.
I've managed to configure the gateway and connect to it using the Azure VPN profile and the Azure VPN client, however I need to configure the VPN in other devices and need the ovpn file that should come in the client profile download. Whe

[2020-01-23 03:00] msrini-MSFT commented on #46664
@vishnu4  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-23 03:00] MartinJaffer-MSFT commented on #29217
@Gilmantas please see related GitHub issue #46460  and [StackOverflow thread](https://stackoverflow.com/questions/58559980/how-to-delete-the-adfpipeline-which-is-having-the-references-forcefully).

[2020-01-23 03:04] msrini-MSFT commented on #46672
@jorgemrsantos , did you enable open vpn in your vpn configuration via portal?

[2020-01-23 03:06] ToMakeSense commented on #43566
@divyaswarnkar

I knew it, and the logic app did finished. In fact, I waited for hours, it was in running status. also, the next day, the next next day. I saw it in running status.

[2020-01-23 03:07] SumanthMarigowda-MSFT commented on #46427
@juyama Tanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriat

[2020-01-23 03:07] vrat87 opened #46673 "RBAC role required."
what is the least permissions required for enabling of VM for Insight prview.

I have given log analytics contributor , monitor contributor and vm contributor but I get an error message that I do not have write permission on VM ,it only after giving Subscription contributor that I am able to add the vm to insight preview

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-01-23 03:10] SumanthMarigowda-MSFT commented on #46465
@danobri
I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 03:10] #46465 closed

[2020-01-23 03:17] se7vanj opened #46675 "Analytics of API Management should include statistics from Self-hosted API Management gateway also"
Analytics of API Management currently does not include the statistics from Self-hosted API Management Gateway.

This will be a key feature to understand the metrics of self-hosted gateways.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independent ID: 3e79e57d-a348-b0d3-c

[2020-01-23 03:20] DixitArora-MSFT commented on #46675
Hi @se7vanj Thanks for your feedback. We will review and update as appropriate.

[2020-01-23 03:21] rolyon commented on #46592
Hi @truekonrads
I'm not sure what you mean by "this appears". Are you saying that when you are signed in as Service Administrator or Co-Administrator, the Properties page does **not** appear?

On the **Subscriptions** blade, what does it say under the **My role** column?
When you have the subscription open, click **Access control (IAM)** in the left menu and then click the **Role assignments** tab

[2020-01-23 03:31] rjosephp opened #46676 "Replicaset failed while using dynamic persistent volume"
Using Dynamic Persistent Volume on a replicaset failed. I have two nodes in the cluster. Looks like the scheduler tried to put two replicas in a different node and it failed. What is recommendation here?

Multi-Attach error for volume "pvc-f1abb0d3-3d88-11ea-87d7-c66ae62af630" Volume is already used by pod(s) personapi-deployment-76f87f7d88-tjzlg
  Warning  FailedMount         74s (x12 over 26m)

[2020-01-23 04:03] truekonrads commented on #46592
Hey @roylon!

That's correct.

It says "Owner":
![image](https://user-images.githubusercontent.com/1421150/72955761-38005e80-3dd8-11ea-80b3-05f7066e901d.png)

Owner
![image](https://user-images.githubusercontent.com/1421150/72955802-57978700-3dd8-11ea-9793-209e73ae3112.png)

I do not. This account I am logged into has only one subscription.

hope this helps

[2020-01-23 04:04] tlamming commented on #46294
Thank you. I feel like we are going in circles because updating via the
master image creates all of the problems I listed, that require
tedious scripting. For smaller shops with small deployments the workload
gets multiplied. Hopefully, we have some easier solutions as WVD becomes
more popular. Thank you for discussion.

--Travis

On Wed, Jan 22, 2020 at 2:32 PM Stefan Georgiev <notifications@gith

[2020-01-23 04:08] PramodValavala-MSFT commented on #46405
@alexkarcher-msft Thanks for the insights!

@mslot Hope that clears things up. We are assigning this issue to the content author for further review and to update the docs accordingly.

[2020-01-23 04:10] PramodValavala-MSFT commented on #46593
@vladvino Thanks for the insights!

@yodarx Hope that clears things up. Since this feature is in preview, the documentation will be updated once the relevant APIs are available.

Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion

[2020-01-23 04:10] #46593 closed

[2020-01-23 04:16] AshokPeddakotla-MSFT commented on #46311
@RyanMannix We are checking on this issue internally and appreciate your time patience.

[2020-01-23 04:18] wukun2015 opened #46679 "Conversation.createConversationAsync() is missing"
Hello,

When i compile the above sample code with jre 1.8 and speech sdk 1.8 in Eclipes IDE, below err reported:

"The method createConversationAsync(SpeechConfig, String) is undefined for the type  Conversation"

I've setup IDE per instruction from https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/quickstarts/setup-platform?tabs=dotnet%2Cwindows%2Cjre&pivots=programming-lan

[2020-01-23 04:21] RohitMungi-MSFT commented on #46646
@leela-uppuluri Could you please provide us more information of the document you are using to run these steps?

[2020-01-23 04:21] koratshail commented on #46601
@MohitVerma-MSFT,
I already provided a link in my description.
Again for your information, I am referring below link.
[https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway](url)

My requirement is exactly the same as Gateway works as Identity translation.

But there is no more information or example given in the document for How can gateway works as Identity translation?
Where I can

[2020-01-23 04:23] PramodValavala-MSFT commented on #46605
@mikebudzynski Thanks for the insights!

@jiseli Hope that clears things up. We are assigning this issue to the content author for further review and to update the docs accordingly.

[2020-01-23 04:26] AshokPeddakotla-MSFT commented on #46457
@philmea Could you please check this issue and help?

[2020-01-23 04:27] SwathiDhanwada-MSFT commented on #46668
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-01-23 04:28] MohitVerma-MSFT commented on #46626
Hello @unicorn667 ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 04:28] SwathiDhanwada-MSFT commented on #46673
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-01-23 04:29] MohitVerma-MSFT commented on #46628
Hello @v-lygeor ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 04:29] MohitVerma-MSFT commented on #46631
Hello @shankurmahajan ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 04:30] AjayKumar-MSFT commented on #46615
@avongonzales, Thanks for leveraging Azure docs feedback channel!
I presume you're referring to this [document](https://docs.microsoft.com/azure/azure-cache-for-redis/cache-web-app-howto#to-update-the-homecontroller-and-layout) for the steps or if you're following some other document to which this feedback is applicable to, please do share the document.

Typically, this error occurs when you try t

[2020-01-23 04:32] MohitVerma-MSFT commented on #46641
Hello @J-Corwin m

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 04:33] SwathiDhanwada-MSFT commented on #46027
@CedricZhu  Kindly check the provided information by stephbaron and revert if you have further questions.

[2020-01-23 04:35] MohitVerma-MSFT commented on #46651
Hello @Rykimaruh ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 04:35] jakaruna-MSFT commented on #46493
@alphakevin is there any update

[2020-01-23 04:38] RohitMungi-MSFT commented on #46653
@CESARDELATORRE The intention of this section is to provide a reference to the Jupyter notebook which creates an ONNX model that can be used with C# web apps. Jupyter notebook for C# is a [recent announcement](https://devblogs.microsoft.com/dotnet/net-core-with-juypter-notebooks-is-here-preview-1/) and we would share the feedback to our team for creating notebooks with C# sample for ONNX as part o

[2020-01-23 04:39] SwathiDhanwada-MSFT commented on #46448
@MSNina123456 Kindly revert with information as requested in earlier comment.

[2020-01-23 04:40] MohitVerma-MSFT commented on #46655
Hello @baatch ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 04:41] MohitVerma-MSFT commented on #46657
Hello @JesvinJoseph ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 04:46] MohitVerma-MSFT commented on #46659
Hello @tbogle ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 04:47] MohitVerma-MSFT commented on #46665
Hello @shawnolson-fp ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 04:50] MohitVerma-MSFT commented on #46421
Hello @javafun ,

Just wanted to check if you have seen the above response and if you have any question around it.

[2020-01-23 04:53] FrankHu-MSFT commented on #46640
hello @anlucen can you clarify what you're requesting? It sounds like you're saying that AD UPN Support isn't working properly for 1902 versions?

[2020-01-23 04:53] sujayvsarma commented on #46425
@Richards706 ---

I think I know where this ticket is headed next 😃. So, let me try to head off some things and set some expectations.

Your questions and problems are to do with general development of applications with ASP.NET MVC and not really to do with Azure. For example, when you ask how do I create CRUD views? Or, how do I connect to an existing database (the fact that the DB is hosted on A

[2020-01-23 04:53] MohitVerma-MSFT commented on #46602
Hello @uzumaki98 ,

Just wanted to check if you got a chance to check my above response.

[2020-01-23 04:55] sujayvsarma commented on #46431
If there is no such API or you dont know of one, do let me know so that I can find other ways to do this. It does not really help to keep this ticket in limbo for so long. :)

[2020-01-23 04:57] sujayvsarma commented on #46427
@SumanthMarigowda-MSFT -- Could someone from your team use your sandbox / playground environment to create an A-series VM and try to create / add an Azure Disk Encryption disk to that VM? Then you would know if it is allowed or not.

Why should this take so many days and assignments/reassignments to figure out?

[2020-01-23 04:58] BhargaviAnnadevara-MSFT commented on #46523
@jonira Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-23 05:11] AshokPeddakotla-MSFT commented on #46520
@dawnonme We hope that answers your query. Do let us know if you need further help.

[2020-01-23 05:24] alex-frankel commented on #46668
We are onboarding customers in waves. There are quite a lot of sign-ups so it's taking some time to burn down this list, but we should have most, if not all, of the signups onboarded in February.

[2020-01-23 05:27] SaurabhSM opened #46683 "Backup point list command fails if --backup-managment-type is not given"
I tried to run az backup recoverypoint list as per this documentation. However, every time i run command it asks me for --backup-managment-type. Is this intended behavior ? Can you please fix this in doc. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 619ea303-7632-eaf6-c106-838ee2efec8e
* Version Independent ID

[2020-01-23 05:28] BenDutton opened #46684 "Bulk import / management of assignments"
Is there any way to bulk import / manage users rather than one by one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 270ab048-109b-7c3f-95a3-1d683d9433b6
* Version Independent ID: 1ff429c1-6d62-f4e9-9244-074d0573abdc
* Content: [View, add, and remove assignments for an access package in Azure AD entitlement management

[2020-01-23 05:34] souravmishra-msft commented on #46651
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751889da-f001-117f-d525-3b27d467edf2
* Version Independent ID: ce46adec-de86-7c34-45ba-d735cba76d2d
* Content: [Add B2B collaboration users in the Azure portal - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/b2b/add-users-administrator)
* Content Source:

[2020-01-23 05:38] souravmishra-msft commented on #46651
@Rykimaruh, There is no way to add guest users to Azure AD automatically. But there are several other ways get guest users in Azure AD like:

- Bulk Create --> Pull up user information from a .csv file and adds them to AAD.
- Bulk Invite -->  Pull up information from a .csv file and adds them to AAD.
- Add B2B Guest Users without invitation ---> [https://docs.microsoft.com/en-us/azure/active-direc

[2020-01-23 05:38] #46651 closed

[2020-01-23 05:50] prajeeshprathap opened #46686 "CorpNetPublic service tag"
Hi,
I noticed that there is a new service tag CorpNetPublic. Could you please update the docs with more info on this tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://do

[2020-01-23 06:00] msrini-MSFT commented on #46598
The error message is incorrect - the issue here is that you cannot use two webapps in the same region as AzureEndpoints

[2020-01-23 06:04] ketan-chawda-msft commented on #46429
@ecfan / @kevinlam1 Can you please help here. Thanks!

[2020-01-23 06:05] ketan-chawda-msft commented on #46515
@maptan any update on this ?

[2020-01-23 06:05] ketan-chawda-msft commented on #46518
@klimcio Checking in to see if the above post helped answering your question.

[2020-01-23 06:06] ram-msft commented on #46679
@wukun2015 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-01-23 06:07] ketan-chawda-msft commented on #46521
@jithudevineni could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 06:07] devnomadic commented on #46668
@alex-frankel No worries. Thanks for letting me know.

[2020-01-23 06:28] unicorn667 commented on #46626
Hi Mohit,

you mean this link?
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/join-rhel-linux-vm

[2020-01-23 06:31] boethius opened #46687 "Transfer AD after billing"
The article does not specify the steps if transfer of ownership is done but the AD box is unchecked. How do you transfer the full subscription in that case?

[2020-01-23 06:46] ssrikantan commented on #45397
Runtime exception is thrown when calling the method CreateChangeFeedReaderAsync

[2020-01-23 06:49] pyephyoeaung opened #46688 "How much does it cost for moving managed disk to azure storage account in the same region?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-23 06:59] anvar-ms opened #46689 "Typo in the documentation"
https://docs.microsoft.com/en-us/azure/migrate/common-questions-appliance#can-i-discover-on-an-esxi-host

There's a typo in this. "Not" needs to be "No"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc38fe71-e10d-59a0-6bfb-cefa661a350b
* Version Independent ID: 9744a0af-d137-9522-597d-3660de4046a8
* Content: [Common q

[2020-01-23 07:09] royish commented on #22940
I had the same issue,
my problem was that we changed the connection to the DB to no longer user username and password but a token instead, EF version 6.1.3 has a bug where it will not accept it,
in version 6.3.0 this was fixed and you can now pass a dbcontext to this function (that has the token inside),
hope this helps

[2020-01-23 07:21] rrottmann commented on #44730
It is not only used as an example in the docs but also in the Azure Portal!?

[2020-01-23 07:26] vinothrao opened #46690 "Firewall rule for the export request ip address"
I need a help here. I have put REST request for export of an SQL DB. I got a firewall error like this IP does not have permission to access the DB. So i added that IP to firewall rule of the server. But my question is will this ip be same for every request? is there anywhere we have this ip list so that i can add these to firewall rules. Because i have written the an Azure function to process this

[2020-01-23 07:27] unicorn667 commented on #46626
ok, please close it

[2020-01-23 07:28] #46626 closed

[2020-01-23 07:28] amanmcse commented on #46426
@elvirk, Hope you have answer to your questions. I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions.

[2020-01-23 07:28] #46426 closed

[2020-01-23 07:35] Dilergore commented on #31188
@SimonDoy using a small VM definitely can be a problem.

I am using the following fairly big and fast VMs for my builds:
- D4s_v3 (4c, 15g)
- Premium SSD

...And I have the timeout set to 20 mins currently. For both 2016 and 2019 I am using the same specs. 2019 is working, 2016 is not. This problem is unique to the 2016 Marketplace Image / WinRM process.

[2020-01-23 07:36] jikuja opened #46691 "Misleading query descriptions"
Number tile, Two number tile and Two timelines tile contains following query descriptions:

&gt; Query:	The query that's run. The count of the records that are returned by the query is displayed.
&gt; Chart query:	The query that's run for the first series. The count of the records over each time interval is represented by the chart columns.

It is unclear from that description if count is done aut

[2020-01-23 07:52] javafun commented on #46421
Hi

Thanks for the email and update the doc to highlight the limitation.

Regards,

On Thu, 23 Jan 2020 at 3:50 pm, Mohit Verma <notifications@github.com>
wrote:

--
Sent from iPhone

[2020-01-23 07:52] Zerbax commented on #46598
ok i understand,
i clarify my profile configuration now:
- traffic manager profile in resource group1 in region1
- endpoint1 as type Azure endpoint in resource group1 in region1, with priority 1
- endpoint 2 as type External endpoint in resource group2 in region2, with priority 2

Calling the traffic manager response endpoint 1.
I change priority endpoint 1 from 1 to 2, and priority endpoint 2 fro

[2020-01-23 08:06] gtrennert commented on #46643
Your answer is really surprising : I say its not working and you answer : it should work.  I cannot agree more with you

[2020-01-23 08:06] msrini-MSFT commented on #46664
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102038

[2020-01-23 08:11] msrini-MSFT commented on #46600
@enutrofff , Documentation will be published for services which are in Public preview. When you sign in for the private preview via email, you will get relevant info on how to enable and use that feature.

[2020-01-23 08:11] #46600 closed

[2020-01-23 08:19] julesman101 commented on #46447
Thank you very much for clarifying this.

[2020-01-23 08:26] jakaruna-MSFT commented on #46609
registering a feature can take some time.,  But that feature is not needed for creating a public ip with the command you used.

send us the entire logs without masking the subscription id to this email id AzCommunity@microsoft.com

Also add this issue in the email subject and the url in the email

[2020-01-23 08:30] majusmisiak commented on #44883
Hello @Karishma-Tiwari-MSFT @yugangw-msft
Can you please clarify if that means that Helm 2 Charts will stay as Preview feature indefinitely? By that I mean, there is no roadmap to enable Helm 2 as a GA and we should not expect it, but instead upgrade to Helm 3?

[2020-01-23 08:31] msrini-MSFT commented on #46598
FAQ for your reference: https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#can-i-use-traffic-manager-with-more-than-one-web-app-in-the-same-region

The moment you switch the endpoint to External endpoints, you get a 404 as the hostname will be with FQDN of x.trafficmanager.net and your Web App expects x.azurewebsites.net in the hostname.

[2020-01-23 08:34] #46664 closed

[2020-01-23 08:35] msrini-MSFT commented on #46511
@BE-Digital-Solutions-Bart , Please tag me if you have any further questions.

[2020-01-23 08:35] #46511 closed

[2020-01-23 08:36] msrini-MSFT commented on #46574
@Tyler-Angell , Do you have any update for me on this issue?

[2020-01-23 08:41] amanmcse commented on #46353
@henkthissen I tested this out using the [**SAML Test App**](https://aka.ms/samltestapp) and it is working fine for me. You can see this working by setting below values:
![image](https://user-images.githubusercontent.com/33834131/72968655-f7a9dc00-3de9-11ea-8b0d-d4d777070811.png)

Based on the issue description that you have shared, it looks more of an issue with your application metadata. In orde

[2020-01-23 08:41] #46353 closed

[2020-01-23 08:48] MartinFuhrmann commented on #46112
Hi @majorwitteman,
thank you for testing sd and the confirmation that it take a little while till it "kicks in". 👍
Best
Martin

[2020-01-23 08:50] kishan19 opened #46694 "Visualizing WER"
I notice in the Custom Speech portal, there is a neat interface which gives the number of insertions, deletions and substitutions between the ground truth vs model 1 and model 2 in colour. Is there a way to export the data along with the insertion tags. If I download the custom speech portal data, right now only the transcript is being downloaded. I want to make an analysis of what are the words b

[2020-01-23 08:55] ECocca opened #46695 "PersonName prebuilt entity for italian language"
Hello,

I would like to know if there is already a fixed date on which the pre-built entity presonName will be released for the Italian language. I noticed that the english version works good also for all italian name that I searched in the test panel on LUIS portal.

Thanks
Erika

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-01-23 08:57] AjayKumar-MSFT commented on #46401
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply here or on the other thread and we will gladly continue the discussion.

[2020-01-23 08:57] #46401 closed

[2020-01-23 08:57] AshokPeddakotla-MSFT commented on #45003
As mentioned, please reach out to Reza.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-23 08:57] #45003 closed

[2020-01-23 09:07] Cubercoding opened #46696 "This flow also seems to need a resource parameter, which is not documented on this page."
When following the guidelines on this page, following error occurs:
AADSTS900144: The request body must contain the following parameter: 'resource'

This 'resource' parameter is the ID of the app published in Azure AD, and should be added to the body.
(Or I missed something else, but this is not clear to me either then).

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-01-23 09:26] AjayKumar-MSFT commented on #45823
I have been checking on this internally, I will post back as soon as I have an update. Closing this for now.

[2020-01-23 09:26] #45823 closed

[2020-01-23 09:29] gimlichael commented on #38591
I just did a deployment of AKS and faced the same error. @yamiyysu hinted that it was Azure Stack that needed to be registered. Now I can deploy. Thanks.

[2020-01-23 09:30] msrini-MSFT commented on #46509
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102042

Changes will be reflected when the PR gets approved by content author.

[2020-01-23 09:30] #46509 closed

[2020-01-23 09:37] perminator commented on #22954
can servicenow deve team who developed the

[2020-01-23 09:39] harelbr commented on #22954
@nolavime who's the owner for this connector.

[2020-01-23 09:40] perminator commented on #22954
can ServiceNow team who developed the "User App for Microsoft OMS integration" link to a Git repo and share?
here is the link for how to do it, --> https://docs.servicenow.com/bundle/newyork-application-development/page/build/applications/task/t_LinkAnApplicationToSourceControl.html

[2020-01-23 09:42] romankiss commented on #45653
Hi @dominicbetts, thanks for your comment.
Based on [this ](https://docs.microsoft.com/en-us/azure/iot-central/preview/overview-iot-central-get-connected#individual-enrollment-based-device-connectivity)document the _Individual Enrollment_ requires to use **either X.509 leaf certificates or SAS tokens** where the leaf (device) certificate Subject Name must be a Device Id.

The Azure IoT Hub allows

[2020-01-23 09:46] Rocky-25 opened #46698 "Blazor"
Blazor examples would be good now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6e5855-ef79-2759-6773-f3a44886cb14
* Version Independent ID: 73154754-ea03-f123-3506-9173f7472322
* Content: [Configure single-page app - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/scena