[2022-08-01 14:52] MayankBargali-MSFT commented on #96415
@Lamphi90 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

For your second concern that you are only observe runtime version 3 on your function app. I will suggest you to review the migration guide [documented here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=azure-cli%2Cin-process%2Cv4&pivots=prog

[2022-08-01 14:52] #96415 closed

[2022-08-01 14:59] msmbaldwin commented on #96492
Hi, @DeanGross.  The ExpressRoute baseline references v1 because that is the Azure Security Benchmark to which it was written. However, we are currently in the process of updating all of our benchmarks to v3, including ExpressRoute.

When the new ExpressRoutebaseline is published, it will overwrite this one (and reference v3, obviously).  Thank you!  #please-close

[2022-08-01 14:59] #96492 closed

[2022-08-01 15:21] KranthiPakala-MSFT commented on #96474
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-01 15:21] SaiKishor-MSFT commented on #96489
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-01 15:22] SaiKishor-MSFT commented on #96478
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-08-01 15:25] GitaraniSharma-MSFT commented on #95581
@wedoazure , as confirmed by @vhorne , According to the product group, both diagnostics should work. If this is not the case, please open a Support ticket to investigate. Thank you!

[2022-08-01 15:34] kabharati commented on #95696
#please-close

[2022-08-01 15:34] #95696 closed

[2022-08-01 15:44] kegregoi opened #96494 "Multiple CSE on a single VM not allowed"
Please add the following line to the Tips and tricks section:
"You can have only one version of an extension applied to the VM. To run a second custom script, you can update the existing extension with a new configuration. Alternatively, you can remove the custom script extension and reapply it with the updated script."

This line already exists in the Linux CSE article and the same concept applie

[2022-08-01 15:52] roshithrajan opened #96495 "can we deploy the static web using Microsoft.Template from portal ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb567df0-dc83-c3d4-a65e-6a792d4197b0
* Version Independent ID: f5cb30b7-f99b-c50a-d322-194f9f7db831
* Content: [Tutorial: Publish Azure Static Web Apps using an ARM template](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-azure-resourc

[2022-08-01 16:05] kobulloc-MSFT commented on #96317
@davegoebel Thank you again for bringing this to our attention!  We have a PR out that will resolve this.  Thank you for helping to improve the documentation!

[2022-08-01 16:09] cloudgiant99 opened #96496 "Clarification on first paragraph"
[Enter feedback here]
The last sentence says, "will not update periodically", should this be WILL update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensin

[2022-08-01 16:18] JamesTran-MSFT commented on #96496
@cloudgiant99
Thanks for your feedback! I believe the article is correct in saying `Microsoft does not plan to update them for newly added services periodically`. However, I've assigned this issue to the author to confirm/clarify and update as appropriate.

Thank you for your time and patience throughout this issue.

[2022-08-01 16:18] mmacy commented on #95080
@OwenRichards1 Hey Owen, can you take this one?

@reassign:OwenRichards1

[2022-08-01 16:21] mmacy commented on #95999
@OwenRichards1 Another for you - thanks!

#reassign:OwenRichards1

[2022-08-01 16:28] ericd-mst-github commented on #89594
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Since these packages are managed by SUSE, the preference is to point to SUSE KB that explains and documents the dependencies (for the different SLES versions). We are closing this issue for now, but feel free t

[2022-08-01 16:35] Oury-MSFT commented on #96481
@Sachid26 Thank you for your feedback. We are checking on this and will get back shortly.

[2022-08-01 16:37] Oury-MSFT commented on #96490
@skurik Thank you for your feedback. We are reviewing this and will get back to you shortly.

[2022-08-01 16:40] MladjoA commented on #96321
100% deployed hours means total number of hours that a given database has been operational in Azure during a billing month. In short, it means "all the time".
Please note that this statement refers to active geo-replication with manual failover, not to failover groups.

1h is related to failover groups and automatic failover policy.

[2022-08-01 16:41] GiannisKout commented on #96224
Hi @kjkent , I have the same issue here, trying to set the "forceChangePasswordNextSignIn" to "True", but I get a "Insufficient privileges to complete the operation." message. Always on an Azure AD B2C tenant.

How exactly did you manage to assign the Password Administrator role to the application in Azure b2c?

[2022-08-01 16:51] #96454 closed

[2022-08-01 16:57] kjkent commented on #96224
@GiannisKout In your Azure AD B2C tenant, open the Azure Active Directory resource (not the B2C one), and there will be a blade called Roles and administrators.

From within that tab you can filter by name and assign your application to the role as if you were assigning a user (by typing in its name).

[2022-08-01 16:58] KranthiPakala-MSFT commented on #96440
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-08-01 16:58] #96440 closed

[2022-08-01 16:58] artisticcheese commented on #96321
Second link posted does not mention 30s RTO for any Azure SQL offerings. It's very confusing currently to understand what RTO one shall expect from hosting DB in Azure SQL.
So with business-critical tier it 30s while failover groups is 1 hour?

[2022-08-01 17:02] shwetamathur7 commented on #96471
@zjxjwxk  This error is due to Mail.Read permission has not been granted while registering the application. You need to add the Mail.Read Graph API permission while registering the application in the portal to get the token with required scopes.

![image](https://user-images.githubusercontent.com/59326271/182203500-6d5cfbd3-484d-4930-b27d-6f14aafa8230.png)

User.Read is the default permission alre

[2022-08-01 17:02] #96471 closed

[2022-08-01 17:11] #71813 closed

[2022-08-01 17:12] jupark14 opened #96498 "typo: rdp connection should be made in myVMMgmt not myVMWeb"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7294d2f2-a192-92dc-d7a6-6c262817e59d
* Version Independent ID: 5fc3ac6f-d2c7-2964-4bc7-f2d203aeb773
* Content: [Tutorial: Filter network traffic with a network security group (NSG) - Azure portal](https://docs.microsoft.com/en-us/azure/virtual-network

[2022-08-01 17:14] sekhemrekhutawysobekhotep opened #96499 "this tutorial is TOTALLY out of date nothing matches as of 20220801"
This tutorial says

         "Examine the Azure Pipelines CI/CD pipeline"

however the tutorial is SO OUT OF DATE
none of the screen shots match and evidently Azure no longer supports
ability to setup a CI/CD where application code lives in github and the build and deploy pipelines
live in Azure DevOps  Pipelines

        I was hoping to learn

how to create a build and deploy CI/CD
where applicat

[2022-08-01 17:16] sekhemrekhutawysobekhotep commented on #96499
Also when I follow the steps the deploy app errors out

Someone needs to update or decommission this tutorial

[2022-08-01 17:16] ChaitanyaNaykodi-MSFT commented on #96498
Thank you for your feedback! We will review and update as appropriate.

[2022-08-01 17:17] cynthn commented on #96317
@kobulloc-MSFT did you need help getting the PR merged?

@ericd-mst-github just an FYI for you

[2022-08-01 17:20] VikasPullagura-MSFT commented on #96494
@kegregoi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-01 17:21] VikasPullagura-MSFT commented on #96494
@MsGabsta
Can you please check and add your comments on this doc update request as applicable.

[2022-08-01 17:21] GiannisKout commented on #96224
@kjkent Perfect!! Thank you a lot for your help! :)

[2022-08-01 17:27] kbiondi opened #96500 ""AzureFunctionsJobHost__Logging__Console__IsEnabled=true" should have ":" instead of "__""
"func init --worker-runtime dotnet-isolated --docker" generates a Dockerfile with "AzureFunctionsJobHost__Logging__Console__IsEnabled=true". When I run my Azure function with this code console logging does not appear. I changed this to "AzureFunctionsJobHost:Logging:Console:IsEnabled=true" and then console logging appeared.
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-01 17:30] cynthn commented on #94715
@thiruma0203 Thank you for the feedback! I've filed a pull request to make updates to the doc for the RHEL 6 images.

#please-close

[2022-08-01 17:30] #94715 closed

[2022-08-01 17:41] rp-msft opened #96501 "Collecting logs on an ongoing basis"
Request type: enhancement
Request details : Expand this documentation to cover methods to collect kubelet, syslog  or other logs on an ongoing basis with container insights( https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-overview) .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e3

[2022-08-01 17:43] kobulloc-MSFT commented on #96317
@cynthn Thank you!  Just giving @kof-f an opportunity to review before I sign off.

[2022-08-01 17:44] shwetamathur7 commented on #96224
@kengaderdus Could you please look into this and confirm.

[2022-08-01 17:48] cynthn commented on #94452
@roygara FYI

[2022-08-01 17:50] cynthn commented on #94165
#please-close This article has been retired and should redirect to a simpler sharing solution for cross-tenant (Direct Shared). Thank  you!

[2022-08-01 17:50] #94165 closed

[2022-08-01 17:55] cynthn commented on #86904
#please-close This article has been retired. A Direct Shared gallery is a better option for sharing across tenants: https://docs.microsoft.com/en-us/azure/virtual-machines/azure-compute-gallery#sharing

[2022-08-01 17:55] #86904 closed

[2022-08-01 17:56] cynthn commented on #68563
#please-close This article has been retired. A Direct Shared gallery is a better option for sharing across tenants: https://docs.microsoft.com/en-us/azure/virtual-machines/azure-compute-gallery#sharing

[2022-08-01 17:56] #68563 closed

[2022-08-01 18:03] Olosinsk-commits opened #96503 "Unable to share shared disk between regions or when other VM located in the different AV Zones and etc."
[Enter feedback here]

**Issue:**
Unable to share shared disk between regions or when other VM located in the different AV Zones and etc.

This one seems where often asked question and it would be beneficial to document it in the limitations section. (please ping me internally to get more specific data).

https://docs.microsoft.com/en-us/answers/questions/762100/can-you-configure-a-azure-shared-di

[2022-08-01 18:05] lauradolan commented on #94174
I hope the link above answers your question. Since there's no further response, I'm closing this issue. Please feel free to reopen the issue if there's more help required. Thanks! #please-close

[2022-08-01 18:05] #94174 closed

[2022-08-01 18:10] JnHs commented on #96307
@gellner thank you for taking the time to report this issue. I'm updating the topic now to include the corresponding item in the CLI instructions. When that fix is merged, this issue will automatically close, though it will take a bit more time before the fix is visible on the page.
Thanks again for your feedback and helping us improve the docs!

[2022-08-01 18:12] suzizuber commented on #96371
#reassign: @jjaygbay

[2022-08-01 18:12] PRMerger4 commented on #96371
The following users don't have valid GitHub IDs, or are not collaborators on this repo: jjaygbay

[2022-08-01 18:13] suzizuber commented on #96371
Jacob Jaygbay (author) is looking into this issue. Thank you

[2022-08-01 18:17] suzizuber commented on #96371
#reassign: @jjaygbay1

[2022-08-01 18:24] rolyon commented on #90682
Hi @RudyEvers
The Blob path attribute appears in the list depending on the actions you selected. You can see the list of attributes available for each action in the docs:
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-abac-attributes#read-a-blob
thanks

[2022-08-01 18:27] lauradolan commented on #85702
Thanks for providing feedback! It looks like this issue has been resolved and the link is working now, so I'm closing the issue. #please-close

[2022-08-01 18:27] #85702 closed

[2022-08-01 18:32] kof-f commented on #96317
Looks good to me @kobulloc-MSFT

[2022-08-01 18:41] eosho opened #96504 "ACR Task - Unable to bypass firewall via Trusted service"
### Summary
The following [doc](https://docs.microsoft.com/en-us/azure/container-registry/allow-access-trusted-services#example-acr-tasks) states you can bypass ACR public network access when its set to either "Selected networks" or "Disabled". I followed the steps described (explained below)

1. Create the ACR with public network access set to "Disabled" and "Allow trusted Microsoft services to a

[2022-08-01 19:13] #96307 closed

[2022-08-01 19:19] Oury-MSFT commented on #96490
@dimitri-furman can we add a section in this article [Active geo-replication](https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview?view=azuresql) the limitations on Active Geo-replication in Hyperscale.
The link "Limitations" in the last sentence in the [Prerequisites paragraph](https://docs.microsoft.com/en-us/azure/azure-sql/database/manage-hyperscale-databas

[2022-08-01 19:40] Oury-MSFT commented on #96481
@ThomasWeiss Please see customer feedback above. Could you please update the doc with the latest image in this document [Configure virtual network based access for an Azure Cosmos account](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint). CxP does not have the right permission to update image on documents

[2022-08-01 19:44] andysports8 commented on #95225
Azure removed cache disk capacity from public specification because cache disk capacity in the new VMs will be dynamically allocated. They are not guaranteed values anymore. Azure introduced VM cache disk in order to improve read/write performance in using Azure remote disks. Since Azure is improving remote disk latency, throughput, the cache disk will become less critical.

[2022-08-01 20:13] JamesTran-MSFT commented on #96390
@debaxtermsft
Thank you for your time and patience throughout this issue! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-01 20:14] bwren commented on #94950
Agreed the word 'default' implies that it can be modified, but it currently can't be. I'll remove the word.

#please-close

[2022-08-01 20:14] JamesTran-MSFT commented on #96475
@kudlatiger
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-01 20:23] lauradolan commented on #95225
Thanks for providing feedback! This question has been resolved with the answer above, so I'm closing this issue. #please-close

[2022-08-01 20:23] #95225 closed

[2022-08-01 20:34] lauradolan commented on #94521
Thanks for the feedback @gabe-microsoft . I talked to the product team, and they said they're addressing already in an email thread with you. As such, I'm closing this PR for now. #please-close

[2022-08-01 20:34] #94521 closed

[2022-08-01 20:34] lauradolan commented on #80854
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-08-01 20:34] #80854 closed

[2022-08-01 20:51] fabiansalamo commented on #49186
This is what entually worked for me:

az webapp config set -g some-rg -n some-app-name --generic-configurations "{\""acrUseManagedIdentityCreds\"": true, \""acrUserManagedIdentityId\"": \""your-object-Id-here\"", \""linuxFxVersion\"": \""DOCKER|someacr.azurecr.io/some-image:latest\""}"

hope this helps somebody!

[2022-08-01 21:04] ericd-mst-github commented on #96317
@kobulloc-MSFT we are good to sign off on this. Please let me know if more input or clarification is needed.

[2022-08-01 21:05] bandersmsft commented on #96442
@devan10 Hi there. We could could have done a better job describing each type of MCA agreement so I've made the following minor changes to help clarify:

- Microsoft Customer Agreement (MCA) in the Enterprise motion where you buy Azure services through a Microsoft representative. Also called an MCA enterprise agreement.
- Microsoft Customer Agreement (MCA) that you bought through the Azure website

[2022-08-01 21:05] #96442 closed

[2022-08-01 21:06] bandersmsft commented on #96442
@MonikaReddy-MSFT FYI.

[2022-08-01 21:18] petertuton opened #96506 "MSOnline module planned for deprecation"
The example PowerShell code to convert from per-user MFA to Conditional Access based MFA uses planned to be deprecated code, specifically the MSOnline module. See here: https://docs.microsoft.com/en-us/powershell/azure/active-directory/migration-faq?view=azureadps-2.0&viewFallbackFrom=azureadps-1.0

Critically, there is no equivalent code using the replacement SDK, i.e., the Microsoft Graph PowerS

[2022-08-01 21:19] #96317 closed

[2022-08-01 21:23] ChaitanyaNaykodi-MSFT commented on #96314
Hello @paulsimongb,

Thank you for the detailed explanation here, I understand sometimes deploying an on-prem data ingestion solution can be difficult and complex. The way I will tackle this issue will be to.
1. Refer a architecture similar to my requirements. Azure Architecture Center has numerous architectures you can refer to for eg https://docs.microsoft.com/en-us/azure/architecture/data-guide

[2022-08-01 21:23] #96314 closed

[2022-08-01 21:28] pp511 opened #96507 "Disk encryption still using old keys after key rotation?"
I have concerns about the key rotation in case of Azure disks. If Azure continues to use  "old" encryption key, then what is the point of rotating the key? Shouldn't Azure stop using the previous key completely? What if the previous key is somehow compromised? Key rotation isn't serving any purpose here.

Also this document is not consistent with other docs Azure has published. These specifics are

[2022-08-01 21:41] MarkStega opened #96508 "Documentation errors"
(1)
az ad sp create-for-rbac \
  --scope $groupId \
  --role Contributor \
  --sdk-auth

is wrong; "--sdk-auth" needs to be "--sdk-auth true"; Also "--sdk-auth" is deprecated.

(2)
The step in the workflow file that uses 'azure/aci-deploy@v1' is redundant since the push is done in the previous step with 'docker push'. It often results in an error of "Error: The container group 'crxxxxx' is still t

[2022-08-01 22:03] JamesTran-MSFT commented on #96506
@petertuton
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-01 22:09] robert-bunch commented on #95761
That sounds right for a Hybrid Azure AD joined or Azure AD joined device, since your cloud credentials are used during login/lock/unlock. AAD Registered you are logged in with a local account or MSA account, not cloud account.

We have a 7 day sign in frequency enforced and a lot of AAD Registered devices. The examples in this article doesn't seem to be accurate behavior for an AAD Registered devi

[2022-08-01 22:23] dimitri-furman commented on #96490
Thanks @skurik for bringing this up. This will be fixed in documentation within a few hours.

[2022-08-01 22:32] MarileeTurscak-MSFT commented on #96368
https://github.com/MicrosoftDocs/azure-docs-pr/pull/206594

[2022-08-01 22:32] #96368 closed

[2022-08-01 22:41] #96490 closed

[2022-08-01 22:55] ChaitanyaNaykodi-MSFT commented on #96333
Hello @yinoa,

The Private Endpoint support for User Defined Routes (UDRs) (preview) will provide you with the ability to apply custom routes to traffic destined to a private endpoint with a wider subnet range.

If we configure a specific route in UDR with /32 to PE IP, it will override above PE route by default according to VNET routes select order:
UDR>BGP>System

If you have enabled Network pol

[2022-08-01 22:55] #96333 closed

[2022-08-01 23:18] KranthiPakala-MSFT commented on #96491
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-01 23:37] #96387 closed

[2022-08-01 23:50] SwathiDhanwada-MSFT commented on #91057
@dcrithyne We will close the issue. If there are further questions, please revert and we will be glad to assist you.

[2022-08-01 23:50] #91057 closed

[2022-08-02 00:31] RamjotSingh opened #96509 "ACU values for DasV5 series isnt mentioned on docs"
ACU values for DasV5 series isnt mentioned on docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5211289-a99f-3f6f-83c6-bd6d89844ef3
* Version Independent ID: ef06c30a-be36-8b6a-d870-8f8199c6fc99
* Content: [Dasv5 and Dadsv5-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/dasv

[2022-08-02 00:34] RamjotSingh commented on #96509
Same is missing on https://docs.microsoft.com/en-us/azure/virtual-machines/ddv5-ddsv5-series as well. Additionally, can you please the regions where these specific SKUs are supported?

[2022-08-02 00:35] MicrosoftGuyJFlo commented on #95825
An unmanaged device does not pass device details to Azure AD. A device must be registered, hybrid Azure AD joined, or Azure AD joined to enlighten Azure AD. #please-close

[2022-08-02 00:35] #95825 closed

[2022-08-02 00:40] RyanHill-MSFT commented on #96488
Appears you're not alone in encountering issue https://docs.microsoft.com/en-us/answers/questions/464330/how-can-i-check-the-responsible-ai-notice-while-cr.html?page=1&pageSize=10&sort=oldest.

With regards to the second issue with text, replace it with formText. It's a bug in the sample

[2022-08-02 00:50] dcbrown16 opened #96510 "ToC not linked properly"
This page doesn't show where you are in the navigation bar to the left when you have it open.

i.e. compare the next page (what it should look like)
![image](https://user-images.githubusercontent.com/34466884/182268508-2a8126b1-97bc-4815-bc2b-4bb7039f1f10.png)
with this page (the problem)
![image](https://user-images.githubusercontent.com/34466884/182268560-34f65e59-ccaa-4ef6-aea8-05e2a5ecf961.png

[2022-08-02 00:54] MicrosoftGuyJFlo commented on #96296
@Borgquite

I would suggest opening a support case on this scenario so that we can collect more data and properly document the scenario. @JamesTran-MSFT can you assist on this? Then the support teams can let me know exactly what to document or if the Product Group needs to get involved.

Thanks!

#reassign:@JamesTran-MSFT

[2022-08-02 01:06] rsnet opened #96512 "Identity-based Connections - no examples?????? really?"
The section *Identity-based Connections* really needs some examples.  The lingo in this section is frankly gibberish/buzz-words. I want to use Managed Identities in Azure and DefaultAzureCredential to allow developers to debug locally, but this section was no help in my efforts to create a connection string.

Examples are crucial.  Function Apps are gaining a horrible reputation in my company beca

[2022-08-02 01:33] RyanHill-MSFT commented on #96495
If you're referring to [Templates](https://portal.azure.com/#view/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.Gallery%2Fmyareas%2Fgalleryitems), then yes you can use [Create the ARM Template](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-azure-resource-manager?tabs=azure-cli#create-the-arm-template)

[2022-08-02 01:39] Shoplift3020 opened #96513 "Help"
https://www.microsoft.com/rpsauth/v2/account/aad/signin?ruoverride=https%3A%2F%2Fwww.office.com%3Fauthtypeparamname%3Dauth&msafed=0&ru=https%3A%2F%2Fwww.microsoft.com%2Fen-au%2Fmicrosoft-365%3Focid%3Doo_support_mix_marvel_ups_support_smcuhfm365%26rtc%3D1

[2022-08-02 01:48] ChaitanyaNaykodi-MSFT opened #96514 "Typo"
Step 4 should contain Internal load balancer
![image](https://user-images.githubusercontent.com/67453298/182274212-d778de34-5343-4687-8b52-d394b762fd2a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b93be3c-1dcf-62f1-8766-6daf552e785d
* Version Independent ID: 17779fd5-a7e7-1ceb-32b4-13b62b89c214
* Content: [Conn

[2022-08-02 01:55] ChaitanyaNaykodi-MSFT commented on #96514
Worked on a PR

[2022-08-02 01:56] KrishnaG-MSFT commented on #96510
@dcbrown16 Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-02 02:02] roshithrajan commented on #96495
Ya I have followed the same link but we need to use command for to deployment right ? . Instead of that can we deploy this from azure portal using the same ARM templates ?

[2022-08-02 02:38] juyamagu opened #96515 "Why ECMP must be enabled when multiple on-premises VPN devices?"
I would just like to confirm why ECMP must be enabled under the **Multiple on-premises VPN devices** configuration depicted as below:

![image](https://user-images.githubusercontent.com/52237425/182276217-9ca5fa65-e7ae-4162-826a-7bcb4e956cac.png)

As per this documentation, when we use BGP and have two connections between a VPN Gateway with active/standby and on-prem VPN devices, we are required t

[2022-08-02 02:50] eosho commented on #96504
Looks like I was missing a step to add the system assigned identity credentials to the ACR task documented https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-authentication-managed-identity#4-optional-add-credentials-to-the-task

[2022-08-02 02:52] #96504 closed

[2022-08-02 03:00] Karishma-Tiwari-MSFT commented on #96504
Thanks for sharing the update.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-02 03:37] VikasPullagura-MSFT commented on #96508
@MarkStega
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-02 03:38] VikasPullagura-MSFT commented on #96508
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-08-02 03:39] VikasPullagura-MSFT commented on #96507
@pp511
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-02 03:39] VikasPullagura-MSFT commented on #96507
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-08-02 03:40] VikasPullagura-MSFT commented on #96501
@rp-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-02 03:40] VikasPullagura-MSFT commented on #96501
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-02 03:50] HariKrishnaRajoli-MT opened #96516 "H2o Module Not available error from the Azure Portal Function App (Python runtime)"
Related to One of the fellow's [SO Thread](https://stackoverflow.com/q/72983886/16630138).

Azure Function App - Python Runtime (3.9v) - Timer Trigger + H2o Module
Working locally with the H2o module versions 3.36.1.2 & 3.14.0.2!

In the Portal, we are also getting the same error: "Module Not Found Error: No module named "h2o"

Code:

[code]

requirements.txt:

[code]

---
#### Document Details

⚠

[2022-08-02 03:53] VikasPullagura-MSFT commented on #96509
@RamjotSingh
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-02 03:54] VikasPullagura-MSFT commented on #96509
@mattetti
Can you please check and add your comments on this doc update request as applicable.

[2022-08-02 03:58] AjayKumar-MSFT commented on #96418
carlosumoh,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-08-02 04:20] AnotherSadGit opened #96518 ""Azure resource providers and types" Docs page doesn't explain what resource providers are"
The document explains I have to register my subscription for a resource provider to be able to work with resources of that type.  It shows how to list resource providers and register them.  But it doesn't say what resource providers _are_.  It's like the document dances around the subject of resource providers without ever giving a definition of them.

What is a resource provider and how is that d

[2022-08-02 04:23] KapilAnanth-MSFT commented on #96515
@juyamagu , Thanks for your feedback. We shall review this and get back to you shortly!

[2022-08-02 04:25] conraddd opened #96519 ""Create > file" option is not available in Azure Databricks Repos"
Only "Notebook" and "Folder" options are available. Tried on Databricks runtime 9.1 ML

![image](https://user-images.githubusercontent.com/22273042/182291384-3c1b2610-3913-4af8-9c37-ddacea71fc58.png)

![image](https://user-images.githubusercontent.com/22273042/182291463-529c47f9-fc0b-4968-b750-83e279d9a076.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-08-02 04:43] amanmcse commented on #96503
@Olosinsk-commits  Thank you for your feedback. We will investigate and update the thread further.

[2022-08-02 04:43] SwathiDhanwada-MSFT commented on #96221
@git188  Thanks for your feedback. I have raised the ticket with Localization team. I will post you once it is fixed.

We will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-08-02 04:43] #96221 closed

[2022-08-02 04:49] Givary commented on #96344
@MichaelRyan87 Apologies for the delayed response. As I understand from your query you are looking information related to SCP as part of device configuration in AAD Connect, same information has been updated in this article https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-hybrid-azure-ad-join#:~:text=In%20SCP%20configuration%2C%20for%20each%20forest%20where%20you%20want%20Azur

[2022-08-02 04:49] #96344 closed

[2022-08-02 04:52] KapilAnanth-MSFT commented on #96515
@juyamagu ,

The document explains the scenario where there are two **active-active connections**, with multiple OnPremises devices.

While it is technically correct that you can leverage AS path prepend to prefer one connection over the other, it will lead to the environment being _active-passive as traffic will flow via one connection only._

Let us know if you have any follow-up queries on this

[2022-08-02 05:12] juyamagu commented on #96515
Hi @KapilAnanth-MSFT,

Oh, got it, totally makes sense! I didn't expect this explains solely on active-active connections scenario, but it does.

My concern has been cleared now👍 I appreciate so much!
Junya

[2022-08-02 05:16] KapilAnanth-MSFT commented on #96515
Hi @juyamagu ,

Sure. Thanks for your feedback and time.
We shall now archive this thread.

Cheers,
Kapil

[2022-08-02 05:16] #96515 closed

[2022-08-02 05:20] SwathiDhanwada-MSFT commented on #96518
@AnotherSadGit Thanks for your feedback.  The terminology you have requested has been documented in [this page](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview#terminology). As per your request, I have created a hyperlink for the same in the document you have specified. It should reflect after 24 hours.

Kindly let me know if this is what you are looking for. Than

[2022-08-02 05:23] SwathiDhanwada-MSFT commented on #95512
@L-u-k-e-GIT No new regions are being added in Update management v1. [ Update Management Center](https://docs.microsoft.com/en-us/azure/update-center/overview) V2 is in public preview which supports this region.

As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-08-02 05:23] #95512 closed

[2022-08-02 05:32] #96514 closed

[2022-08-02 05:41] SwathiDhanwada-MSFT commented on #96397
@yanivlavi  Can you please provide your insights on this?

[2022-08-02 05:48] WCMV commented on #69336
Good evening, I found this issue via a google search and am running into the same problem. I'm getting a BadRequest from an API call being made via the Copy Data activity with the REST API as the sink, but with no further detail on what the cause of the error is. It would be helpful if the Copy Data activity, when interfacing with a REST data source, logged _exactly_ what the BODY of the request w

[2022-08-02 05:53] MichaelRyan87 commented on #96344
Hi Givary,

Thanks for the update. I have an example below that I'd have thought might be fairly common in the migration to cloud auth for previously federated environments, should this be in the migration documentation?

Example:
A user has an environment with a federated domain in Microsoft 365, they are looking to de-federate and move to a managed domain. The user environment has been using hyb

[2022-08-02 05:53] SwathiDhanwada-MSFT commented on #96402
@timwarner-msft  Can you please provide your insights on this issue ?

[2022-08-02 06:00] RajSecOps opened #96520 "Still in Preview?"
Please let us know "minimum TLS version for an Event Hubs namespace" is in preview?  When we can expect GA?

Best Regards,
Raj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a501020e-2e00-811b-4d80-a883f5c8b89d
* Version Independent ID: 21ce62bd-a536-b141-863a-ca8dab35b16f
* Content: [Configure the minimum TLS version

[2022-08-02 06:05] rsrinivasanhome opened #96521 "TLS 1.2 is it really a preview feature"
[Enter feedback here]

My understanding based on the documentation [link](https://docs.microsoft.com/en-us/azure/event-hubs/transport-layer-security-configure-minimum-version) is that setting the minimum TLS version of event hub to TLS 1.2 is a preview feature

But how is a preview feature a default ?

"
When you create an Event Hubs namespace with an Azure Resource Manager template, the MinimumTl

[2022-08-02 06:06] zjxjwxk commented on #96471
@shwetamathur7 Thank you! I suggest adding a prompt to users that it needs a Mail.Read Graph API permission in the "Request an authorization code" part. Some users may have the same problem as me.

[2022-08-02 06:34] v-ksreedevan commented on #81124
Hi @jonwbstr,

The definitions for both the appliances are as follows:

**Azure Migrate appliance**: Appliance used for agentless discovery and assessment of VMware VMs, Hyper-V VMs, and bare-metal servers or servers running on other clouds such as AWS, GCP etc. The appliance can also be used for agentless migration of VMware VMs only.

**Replication appliance**: Appliance used for agent-based mig

[2022-08-02 06:35] ITNextLevel opened #96522 "error on /etc/fstab example causes ssh issues at reboot"
the line to be added to /etc/fstab is wrong and will cause issues when ssh to an azure vm instance at reboot. The entry should actually have "" as below

UUID="33333333-3b3b-3c3c-3d3d-3e3e3e3e3e3e"   /datadrive   xfs   defaults,nofail   1   2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8

[2022-08-02 06:37] VikasPullagura-MSFT commented on #96513
@Shoplift3020

Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-08-02 06:38] Shoplift3020 commented on #96513
Oh cool I have a few issues to report

[2022-08-02 06:45] iamramengirl commented on #96171
Follow up on this please, thanks! @YutongTie-MSFT @PatrickFarley

[2022-08-02 06:47] Shoplift3020 commented on #96513
https://ocie.app.link/G1RIyTcQn2?%243p=a_custom_47734&~campaign=open_app_rides&~secondary_publisher=Uber-Internal&%24desktop_url=https%3A%2F%2Fm.uber.com%2F%3Futm_source%3DUber-Internal%26utm_campaign%3Dopen_app_rides%26

[2022-08-02 07:05] RolandlinAKS opened #96523 "What is the use case when we only allow AKS nodes to get access to the api-server"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#allow-only-the-outbound-public-ip-of-the-standard-sku-load-balancer
When we use 0.0.0.0/32 for the authorized IP range. Does it mean the blank IP for authorized IP range? AKS load balancer outbound IP is automatically added to the authorized range even without 0.0.0.0/32, is it correct?
In addition, wh

[2022-08-02 07:11] SreejaBhattacharya-MSFT commented on #96522
Thanks @ITNextLevel for reaching out, let me take a look at this.

[2022-08-02 07:25] AHamdy4n opened #96524 "Authentication redirect error"
I followed the steps in this document and everything is well except that after submitting my credentials to my provider I get redirected to my application as stated in the redirect URI field but I get a HTTP 500 error and a message as follow
`The page cannot be displayed because an internal server error has occurred.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-08-02 07:48] stryqx opened #96527 "Page not up-to-date"
Page is missing Release Notes for 1.0.4739.1000 and 1.0.5100.1100.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb10266-d3ca-31b1-31a0-bd4952e6736b
* Version Independent ID: 9adcd5ff-db9f-44f9-27f6-7c689839267b
* Content: [What's new in the Azure Virtual Desktop Agent? - Azure](https://docs.microsoft.com/en-us/azure

[2022-08-02 07:54] carlosumoh commented on #96418
Issue not resolved.

I still need your assistance.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 01 August 2022 22:58
To: ***@***.***>
Cc: ***@***.***>; State ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] 502 error observed in the code (Issue #96418)

carlosumoh, Thanks for leveraging Azure docs feedback channel to raise this question.

[2022-08-02 07:55] ZHIXIN-SUN opened #96528 "AKS cluster can't be restored after deletion, could I know if there can have an answer in our FAQ?"
[Enter feedback here]
I know the AKS cluster can't be restored after deletion, could I know if there can have an answer in our FAQ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions fo

[2022-08-02 08:08] VikasPullagura-MSFT commented on #96513
@Shoplift3020 As requested please share the document link you want to report issue.

[2022-08-02 08:09] VikasPullagura-MSFT commented on #96527
@stryqx
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-02 08:09] VikasPullagura-MSFT commented on #96527
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-08-02 08:10] VikasPullagura-MSFT commented on #96528
@ZHIXIN-SUN
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-02 08:10] VikasPullagura-MSFT commented on #96528
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-02 08:20] RudyEvers commented on #90682
@rolyon Thank you  for the quick response. From my understanding it is possible to create a more granular condition and that's great news.

[2022-08-02 08:35] kent-pawar opened #96529 "Page formatting broken at section 5. b. Tags"
Page formatting broken at section 5. b. Tags

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9df887e5-f870-6fd2-1654-3df40a71e478
* Version Independent ID: 0c548a02-2530-1820-c2b9-a55707bd1267
* Content: [Alerts - Azure Databricks - Databricks SQL](https://docs.microsoft.com/en-us/azure/databricks/sql/user/alerts/#creat

[2022-08-02 08:36] pietz opened #96530 "App Insights for monitoring AML endpoints"
This page doesn't seem up-to-date. The endpoints don't show a link to an associated app insights service anymore.

How do I access the app insights logs now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12f83c8d-8ec9-0b56-00c3-cdafc53c90f1
* Version Independent ID: 9fb32434-54da-9789-ec8e-1d192343feb5
* Content: [Mon

[2022-08-02 08:42] win2000b opened #96531 "Link wrong for 5000 migration to Azure File Sync"
Link for migrate data from 5000-7000 series to Azure File Sync points to 8000 page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3575ae40-55d6-55a3-be91-b585a60a7601
* Version Independent ID: 781dce3b-3587-671a-11df-5e529a02f48c
* Content: [Data migration options from StorSimple 5000-7000 series devices](https://docs.

[2022-08-02 08:55] Bosch-Eli-Black commented on #94783
Ping 🙂

[2022-08-02 08:59] Venkateshdodda-MSFT commented on #96358
@devndive I have assigned this to content author @bashan-git to share further insights and make the appropriate changes accordingly.

[2022-08-02 09:09] aggerritsen opened #96533 "Unsupported API DnsResolver"
Hi,

When trying to create a DNS resolver with Powershell Module Az.DnsResoler v 0.2.1 I get this error:

New-AzDnsResolver_CreateExpanded: No registered resource provider found for location 'westeurope' and API version '2022-07-01' for type 'dnsResolvers'. The supported api-versions are '2020-04-01-preview'. The supported locations are 'westcentralus, eastus2, westeurope, northeurope, australiaea

[2022-08-02 09:11] ravibak opened #96534 "Azure Route Server creation with existing VPN Gateway"
[Enter feedback here]

ARS Creation fails if there is an existing vnet gateway and it is not set to be Active/Active
"Route Server is being created in the Vnet and the VPN gateway present is not in in Active-Active mode. This scenario is not supported."

This should be documented/noted in the prereq section.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-08-02 09:13] SreejaBhattacharya-MSFT commented on #96522
Hi @ITNextLevel , it is not necessary to put " ", I do not see any reason why it should fail. Once we add the UUID of the datadisk along with the mountpoint on the fstab file, the mount becomes a persistent one across VM reboots

[2022-08-02 09:16] Sandeg-MSFT commented on #96499
@sekhemrekhutawysobekhotep Thank you for the update. I have intimated author about this. We will update you regarding the same

[2022-08-02 09:24] Givary commented on #96500
@kbiondi Thank you for your feedback. We will investigate and update the thread further.

[2022-08-02 09:31] AJ1058310 opened #96536 "Cosmos DB unique-keys doc not clear"
Hi,

I found this doc is not clear: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/cosmos-db/unique-keys.md

- In the given example, there are 4 columns in the table: `CompanyID | First name | Last name | Email address`.
However, in the section [Define a unique key](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/cosmos-db/unique-keys.md#define-a-unique-key), the col

[2022-08-02 09:31] Givary commented on #96519
@conraddd Thank you for your feedback. We will investigate and update the thread further.

[2022-08-02 09:32] datavinc opened #96537 "The placeholder under "Complete FortiGate command-line configuration" is wrong"
Under "Complete FortiGate command-line configuration" (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/fortigate-ssl-vpn-tutorial#complete-fortigate-command-line-configuration), Step 2. Run these comands [...]

There is a line that says:
set idp-single-sign-on-url  &lt;Azure AD Identifier&gt;

This should be:
set idp-single-sign-on-url &lt;IdP Single Sign-On URL&gt;

And now that

[2022-08-02 09:41] NeilAllen opened #96538 "Out of date so useless"
These is no **Add**, only **Create**. Then there is no **BYOC**, it is only possible to create a new repo.

Out of date & useless

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 679c851f-0cc9-3b99-1d31-88672aebb693
* Version Independent ID: 91ce6957-0bc6-1934-8ac9-f7af096caa95
* Content: [Tutorial: Create a CI/CD pipeli

[2022-08-02 09:46] shwetamathur7 commented on #96537
@datavinc Thanks for your feedback. We will investigate and update the thread.

[2022-08-02 10:22] AbbyMSFT commented on #96510
Hi @dcbrown16 !
Good catch! We just noticed that over the weekend, and the fix is already in the pipeline. You should see the update within a day or two.
We appreciate your dedication to the quality of our docs! Please continue to point out any issues that you notice.
Thanks,
Abby
#please-close

[2022-08-02 10:22] #96510 closed

[2022-08-02 10:24] yanivlavi commented on #96397
Classic alerts can't be created by PS and are replaces with newer metric alerts which have a different PS.

[2022-08-02 10:35] ITNextLevel commented on #96522
Actually I just experienced this twice this week and have experienced it before.. The only reason my VMs stopped having the issue was that I added the "".

For reference, I am using Ubuntu 22.04 LTS, the canonical image in an azure VM in Japan East. I can also provide screenshots if needed or work with the team to show this.

Best Regards,

Samuel Soto
________________________________
From: Sreeja

[2022-08-02 10:51] #96412 closed

[2022-08-02 11:06] pietz commented on #56252
I need some help here.

1. The link to the docs above appears to be out of date because a link to App Insights is no longer available under Endpoints
2. Customizing the score.py file doesn't seem like it's still the way to go. All "newer" articles and examples now use mlflow and recommend to put custom code logic in a wrapper PythonModel, which I also did.

So, now what?

Adding print or logging s

[2022-08-02 11:25] kengaderdus commented on #96386
#please-close due to inactivity.

[2022-08-02 11:25] #96386 closed

[2022-08-02 11:41] KapilAnanth-MSFT commented on #96533
Hi @aggerritsen , Thanks for your feedback. We shall review this and get back to you shortly!

[2022-08-02 12:01] AnotherSadGit opened #96540 "Document doesn't describe where or how the JSON filters are applied"
The document about Event Grid filtering shows three types of filters, each with JSON examples.  However, it doesn't explain how the filters are applied.  So I create a JSON document, now what do I do with it?

I assume the JSON snippets are part of ARM templates but nowhere on the page is this made clear.  A single sentence or paragraph giving some context would be useful.

---
#### Document Detai

[2022-08-02 12:15] SetTrend opened #96541 "Please clarify confusing statement in Microsoft.Resources templateSpecs"
The below mentioned page's Remarks section claims that:

I believe this sentence doesn't make sense to the ordinary reader.

AFAIK, you _always_ use PowerShell or CLI to create a template spec.

Is there a way to upload ARM templates or Bicep files to Azure directly? Then, please, link to the corresponding Microsoft Docs page explaining how to upload an ARM template or Bicep file to Azure without

[2022-08-02 12:18] SwathiDhanwada-MSFT commented on #96541
@SetTrend Thanks for your feedback.

Assigning to content author @tfitzmac  for review.

[2022-08-02 12:29] GeethaThatipatri-MSFT commented on #96410
@nssidhu We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-08-02 12:29] #96410 closed

[2022-08-02 12:31] GeethaThatipatri-MSFT commented on #96430
@SuperGraham Thanks for confirming and providing your feedback.

[2022-08-02 12:31] #96430 closed

[2022-08-02 12:42] timwarner-msft commented on #96402
Thanks for your sharp eye, @JustinGrote. This looks to be a bug in the policy definition source JSON. For example, look here:

https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/API%20for%20FHIR/HealthcareAPIs_EnableByok_Audit.json

I'll raise the issue with the Azure Policy engineering team to get this fixed.

Kindest regards,
Tim

[2022-08-02 12:46] timwarner-msft commented on #96402
Hi @JustinGrote. Thanks for bringing this issue to our attention. I'm raising it to the Azure Policy engineering team and will report back here with findings. Kindest regards, Tim

[2022-08-02 12:56] nzhul opened #96542 "initialNavigation property no longer accept 'enabled' as value"
Hey guys,
Quick update from my side.

In the "Configure the application" section / step 2, where you are configuring the app-routing.module.ts, there is a change in the library that is not reflected here.

Basically the `initialNavigation` property no longer accepts 'enabled' as a valid value.
It needs to be changed to 'enabledNonBlocking' as this is the new default value. Please check the officia

[2022-08-02 13:13] jonwbstr commented on #81124
Are you asking me to repeat everything in the thread, because it seems like you have chosen to read the title and ignore everything else.

Either you do not think anyone else will experience the same frustration I had (spoiler, I figured it out eventually). Or you can see how other people could be confused and you want to make the title, toc and intro paragraph easier to understand.

This is not a

[2022-08-02 13:22] Nicholak-MS commented on #96496
I have updated the language in that paragraph to confirm that we will provide periodic updates.

Thanks
Nick

#please-close

[2022-08-02 13:22] #96496 closed

[2022-08-02 13:29] ShaikMaheer-MSFT commented on #96520
@RajSecOps Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-08-02 13:33] ShaikMaheer-MSFT commented on #96521
@rsrinivasanhome  Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

If any feedback related to product then please post feedback on [Azure feedbacks portal](https://feedback

[2022-08-02 13:35] gojo119 commented on #83027
@JamesTran-MSFT any news regarding this issue?

[2022-08-02 13:44] yugyesh opened #96543 "Missing information"
[Enter feedback here]

Information or reference regarding how to create new scope is missing as mentioned in the step 4 of [this](https://docs.microsoft.com/en-us/azure/databricks/scenarios/store-secrets-azure-key-vault#create-an-azure-databricks-workspace-and-add-a-secret-scope) tutorial
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-08-02 13:56] memblin-taurus commented on #90819
@SaiKishor-MSFT any further update from the team on this? Thanks.

[2022-08-02 14:10] mumurug-MSFT commented on #96512
@rsnet Thanks for your feedback and sorry to hear about the experience. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-02 14:25] mumurug-MSFT commented on #96540
@AnotherSadGit Thanks for your feedback. The docs talk specifically about three options for filtering, and how to filter events are documented in https://docs.microsoft.com/en-us/azure/event-grid/how-to-filter-events.

I agree it would be good to add some context to it. We will review the docs and update as appropriate. Thanks again.

[2022-08-02 14:40] mumurug-MSFT commented on #96516
@HariKrishnaRajoli-MT Thanks for reporting this error. We will review and update as appropriate.

[2022-08-02 14:40] BadIdeasExecutedPoorly commented on #96429
@ram-msft
Hi Ram, by script I mean writing systems.

[2022-08-02 14:44] wUEZRs opened #96547 "security principal for Bastion key vault integration?"
To integrate with Key Vault - it's missing information on which principle should have access to key vault. Bastion managed identity? The server? The user? Needs more clarification.

And if true that one can't save a key via GUI the option should not be active and one should get a warning in the gui too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-08-02 15:12] abhayea commented on #31280
**This is still a BUG!**

"exists": true
then it does what we define ADF to do using if or switch.

But if the file does not exist, it does nothing and runs until it times out.

Validation and IF functionality can be a good combination but the pipeline only runs when "exists": true
&
If the file does not exist in the destination, then nothing, it keeps running forever.

reference pipeline run id:

[2022-08-02 15:37] mike-urnun-msft commented on #96363
@ahmedhm19 Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-02 15:37] #96363 closed

[2022-08-02 15:39] abhayea commented on #31280
and if using timeout for validation and using failure activity-dependency, then it works but the pipeline status will be marked FAILED.

[2022-08-02 15:41] pawelmitrus opened #96548 "pypmml can't load py4j dependencies 10.4 lts ml"
[Enter feedback here]
This tutorial doesn't work at least for 10.4 LTS ML runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f0400c-c60f-fd43-c051-430ad7ee697c
* Version Independent ID: 18b94e10-0930-bbc9-745b-6d4310e0e19e
* Content: [PyPMML fails with Could not find py4j jar error - Azure Databricks](https://doc

[2022-08-02 15:43] urnal243 commented on #33069
Hey guys i have a same problem and i´m trying to resolve it, i try the way you explain but still having this problem,
Any way to resolve it in 2022 ?

[2022-08-02 15:58] Sreyanth commented on #95133
@ubamrein Thanks for your feedback. From what I know, the first non-wildcard reply URL will be used for the Recipient attribute. Can you clarify the workaround you mentioned? Did you pass an index to the redirect_uri (say 1 to select the second URL)?

[2022-08-02 16:22] Borgquite commented on #96296
Hey,
Based on recent experiences with Microsoft support, I'll decline your offer. I have found working with the support engineers on simple issues extremely painful, I don't fancy working with them on something complicated like this.

It's working for me now, I just thought you might want to know, but feel free to close the ticket.

[2022-08-02 16:26] JamesTran-MSFT commented on #83027
@iansmittie
Thank you for following up on this!

@billmath
Can you share any updates on this since?

[2022-08-02 16:37] ChaitanyaNaykodi-MSFT commented on #96547
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-02 16:38] KranthiPakala-MSFT commented on #96529
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

Hi @mssaperla - Could you please have a look at this issue and involve the relevant owners who can help update the doc accordingly. Thank you

![image](https://user-images.githubusercontent.com/50185738/182427508-db2c8a98-b784-4324-8591-47f88e9a80d7.png)

[2022-08-02 16:39] KranthiPakala-MSFT commented on #96543
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-02 16:40] KranthiPakala-MSFT commented on #96548
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-02 16:40] mimckitt commented on #31280
Seeing as this is quite old, I would suggest opening a new issue on this doc and refence this issue. That way the team who manages the issues can triage and assign it out correctly.

[2022-08-02 16:40] roygara commented on #94452
Resolved offline, as live resize only works for data disks, not OS disks.

#please-close

[2022-08-02 16:40] #94452 closed

[2022-08-02 16:58] kobulloc-MSFT commented on #96523
@RolandlinAKS Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-08-02 17:10] JeremyTBradshaw commented on #70398
@Mikemiller34  The place I was working when I asked the original question had to go on pause so I never got to follow through on that implementation, then have not been a lead or key player in any implementations of HAADJ since.  I have been working in a large'ish org (1000's of HAADJ computers) who use ADFS (all their UPN domains are federated).  This place is rolling out HAADJ piecemeal and noth

[2022-08-02 17:28] timwarner-msft commented on #96263
Hi @iwafula025. Thanks for raising the issue. What do you mean by "workspace"? I can see that the document title isn't as sharp and clear as it should be; I will correct. Thanks, Tim

[2022-08-02 17:37] jgawor opened #96551 "Custom domains & spring apps"
The "Map an existing custom domain to Azure Spring Apps" article currently indicates that it applies to the "Basic/Standard" tier. However, the custom domains feature is not supported as part of the basic tier but it is as part of the standard & higher tiers. So, that check mark is a little bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-08-02 18:37] tamram commented on #88883
#please-close

[2022-08-02 18:37] #88883 closed

[2022-08-02 18:40] abhayea opened #96555 "Data Factory Validation Activity Outputs?"
BUG!

Use case: Do not wish to use MetaData activity, but rather use validation activity to decide whether we want to copy blobs to the destination or not based upon their existence in the destination.

Validation activity output: **"exists": true** is really useful. we can club it with IF or SWITCH activity to perform actions ahead.

Problem: if the output of validation activity is "exists": true

[2022-08-02 18:40] abhayea commented on #96555
@MartinJaffer-MSFT @mimckitt ^

[2022-08-02 18:41] abhayea commented on #31280
@mimckitt new issue created, please share your thoughts on this.

https://github.com/MicrosoftDocs/azure-docs/issues/96555

[2022-08-02 18:50] sachinraghu opened #96556 "What about Cross Apply?"
What about Cross Apply feature of T-sql?
Could you please confirm when it will be available with Dedicated sql pool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7183d46a-a815-a4ee-ed9d-273dffb14f41
* Version Independent ID: a1613e7c-f4f2-a61f-812e-9e11c3b91120
* Content: [T-SQL feature in Synapse SQL pool - Azure Sy

[2022-08-02 19:12] Chesky7 opened #96558 "Typo"
In all the examples there's a typo "Microsoft.Web.Redis.RedisSessionStateProvide", it should be "Microsoft.Web.Redis.RedisSessionStateProvider"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8ef72a2-60a8-3320-ba93-a5c17b51d0a2
* Version Independent ID: 36745946-59f3-8a15-aa0a-117f7c1110e7
* Content: [ASP.NET Output Ca

[2022-08-02 19:12] ninabacc-db commented on #59697
please close this issue as the referenced article doesn't seem to exist anymore

[2022-08-02 19:18] kobulloc-MSFT commented on #96116
@rscottwatson Thank you for pointing this out.  I've looped in the document author and we are following up.

[2022-08-02 19:44] Oury-MSFT commented on #96558
@Chesky7 Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-08-02 19:50] Kazzan opened #96560 "Add Supported Regions"
Hi, seems that for now only some regions are supported for Defender EASM. Can you please add warning to guide how to start that this temporary limitation is in place? At least I hope that this is temporary. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad120c2f-c1d6-dfcd-e393-74214c1473bf
* Version Independent

[2022-08-02 20:32] feliasson opened #96562 "Currently additional warning with failing example for linter-rule use-stable-resource-identifier"
Wouldn't this be a more viable _failing_ example for this linter rule?

[code]
Otherwise it warns additionally for:
`Function "utcNow" is not valid at this location. It can only be used as a parameter default value. bicep(BCP065)`

![image](https://user-images.githubusercontent.com/45947114/182467723-08737292-a4d5-4a6d-88a0-891198ff2458.png)
(using VS Code + Bicep extension v0.9.1)

---
#### Docum

[2022-08-02 20:38] domdepasquale opened #96564 "Is Docker really usable?"
On [line 34](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/aks/cluster-configuration.md?plain=1#L34) it is stated that `You can still use Docker node pools and clusters on versions below 1.23, but Docker is no longer supported as of September 2022.` but there does not seem to be any indication of how one would do that. Is it more likely that it's actually not possible?

thanks!

-

[2022-08-02 20:49] SaiKishor-MSFT commented on #96531
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-02 20:55] JamesTran-MSFT commented on #96560
@Kazzan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-02 21:00] scarson opened #96566 "Typo in "certificate revocation list""
In section:

It should read "certificate **revocation** list", not "relocation".
Source for correct term: https://csrc.nist.gov/glossary/term/certificate_revocation_list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc45d5eb-301a-9f24-f4d9-477f2aa0f464
* Version Independent ID: 2b99e083-3646-c9c1-0bcb-53f71a44fe0f
* C

[2022-08-02 21:12] csrowell opened #96567 "Are you missing an error code?"
We believe are getting the following error from Azure:

Message contains error: 'invalid_client', error_description: 'AADSTS700025: Client is public so neither 'client_assertion' nor 'client_secret' should be presented.
	Trace ID: abdc4945-8a1c-4f70-b891-1c6f69207b00
	Correlation ID: 8284c2d3-f550-492c-8423-259b3982415e
	Timestamp: 2022-07-29 12:41:44Z', error_uri: 'error_uri is null'

---
#### Do

[2022-08-02 21:36] JamesTran-MSFT commented on #96567
@csrowell
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-02 21:42] jms1voalte opened #96570 "Directions for 'az' command"
**Not everybody uses "power shell".**

Pages like this should include a way to see directions using the `az` command line tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f9877ab-87ad-9743-e992-216dfa16c344
* Version Independent ID: 03649d3f-3712-8228-0af3-4bd842be5c7a
* Content: [Advertise custom routes for point

[2022-08-02 22:24] PNW-BRZ opened #96571 "RenewCerts Location"
[Enter feedback here]
The renewcerts program referenced above is not located @ C drive > Program Data > Site Recovery > home > svsystems > bin
should be c:\ProgramData\ASR\home\svsystems\bin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce6ad6e7-d15f-5e98-57ef-cfa59f6dff78
* Version Independent ID: 035bcb10-18f1-0831-

[2022-08-02 22:32] Oury-MSFT commented on #96558
@NingJi-6425
 We have made some changes to fix the typo issue in the documentation. Changes should be live in few hours. Thank you for helping us improve our docs.

[2022-08-02 22:32] #96558 closed

[2022-08-02 22:32] Oury-MSFT commented on #96558
https://github.com/MicrosoftDocs/azure-docs-pr/pull/206697

[2022-08-02 22:34] AnotherSadGit commented on #96518
The SDK document is particularly useful for explaining what a resource provider is, thanks.  I would suggest maybe an info box at the top of the "Azure resource providers and types" page giving a link to that SDK page, telling people they can find out more about what a resource provider is by following the link.

[2022-08-02 22:37] EvanMulawski opened #96572 "Front Door Standard/Premium managed certificate renewal for apex domain"
The "Managed certificate renewal for apex domain" section contains incorrect information:

(1) An apex domain cannot have a CNAME record, which is noted on this same page:

In addition, the managed certificate for an apex domain in one of my Front Door Premium instances failed to renew but remains validated/approved and (2) never happened.

![image](https://user-images.githubusercontent.com/104479

[2022-08-02 22:40] KranthiPakala-MSFT commented on #96556
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-02 22:49] ChaitanyaNaykodi-MSFT commented on #96566
Thank you for your feedback! We will review and update as appropriate.

[2022-08-02 22:52] ChaitanyaNaykodi-MSFT commented on #96570
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-02 23:19] Grace-MacJones-MSFT commented on #96524
Hi @AHamdy4n , thanks for the question. We are currently investigating and will update you when we have accurate information to provide.

[2022-08-02 23:32] tspring418 opened #96573 "Adding "network troubleshooter" storage account test to the document from "diagnose and solve" blade."
Hey,

Can we add the "diagnose and solve problems" blade network troubleshooter to testing storage account connections somewhere in this document, i feel this will help with many issues that come up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c381784
* Version Independent ID: 1e1c0232-a

[2022-08-02 23:41] ChaitanyaNaykodi-MSFT commented on #96572
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-02 23:51] ggailey777 commented on #96573
Thanks @tspring418 for the feedback. @FinVamp1 was this part of your plan to link to troubleshooters?

[2022-08-02 23:53] SaiKishor-MSFT commented on #96489
@humbertcostas Thank you for providing your valuable feedback. However, we would encourage you to post all your feedback to the IDEAS channel here- https://feedback.azure.com/d365community/

Once you do the same, our PG will look into the same and consider it based on the number of votes etc., Thank you!

[2022-08-02 23:54] SaiKishor-MSFT commented on #96489
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-02 23:54] #96489 closed

[2022-08-03 00:18] KranthiPakala-MSFT commented on #96530
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 00:19] KranthiPakala-MSFT commented on #96534
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 00:19] francotiveron opened #96574 "Page needs update"
Looks like this page needs to b updated. For example, it uses a class RedisConnection from StackExchange.Redis that doesn't exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure

[2022-08-03 00:21] KranthiPakala-MSFT commented on #96536
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 00:23] KranthiPakala-MSFT commented on #96538
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 00:24] KranthiPakala-MSFT commented on #96551
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 00:26] KranthiPakala-MSFT commented on #96555
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 00:33] timwarner-msft commented on #96263
Retitled article to "Manage Azure resources at scale with management groups" and opened PR. -TW

[2022-08-03 00:33] timwarner-msft commented on #96263
#please-close

[2022-08-03 00:34] #96263 closed

[2022-08-03 02:04] jasongroce commented on #93365
Doc updates have been published to clarify this scenario. Thanks @AurimasNav for the feedback! #please-close

[2022-08-03 02:04] #93365 closed

[2022-08-03 03:08] shoshii opened #96576 "[fix request] About DBFS in setting up Databricks streaming checkpoints"
[Enter feedback here]
We think the description below is misleading.
One of our customers who is setting up streaming checkpoint get confused at the description.

======================================
You should not use DBFS for streaming checkpoint storage.
======================================
[link](https://docs.microsoft.com/en-us/azure/databricks/kb/streaming/streaming-job-stuck-writing-chec

[2022-08-03 03:26] WilliamDAssafMSFT commented on #93703
@chaoscreater A doc update is in flight to update these samples. Thanks again for taking the time to provide this feedback, your suggestions help improve our documentation.

[2022-08-03 03:40] Sreyanth commented on #95133
Thanks for confirming. I updated our docs to clarify the behavior.

[2022-08-03 03:46] Sreyanth commented on #89233
@Alex-str11 thanks for pointing this out. I updated our docs to clarify the behavior.

The `Recipient` value will be the first non-wildcard Reply URL configured in the resource application configuration and not the default Reply URL that's configured for that application.

[2022-08-03 03:54] Shoplift3020 opened #96577 "Urgent Assistant Government Request"
Call Kelly +61421453661

@JJ @tmm1 @matsuu @dlapiduz @ob @vboctor @vboctor @gimmi @lfittl @lfittl @trevordevore

[2022-08-03 04:12] SwathiDhanwada-MSFT commented on #96562
@feliasson Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-03 04:15] VikasPullagura-MSFT commented on #96513
@Shoplift3020 I would recommend you to provide your feedback directly on the document you intend to, so that that will be routed to the right team.

![image](https://user-images.githubusercontent.com/48944027/182522831-74ae431f-7a63-475c-af8b-e3df63c5aa3d.png)

[2022-08-03 04:15] #96513 closed

[2022-08-03 04:16] SwathiDhanwada-MSFT commented on #96571
@PNW-BRZ Thanks for your feedback.

Assigning to content author @v-pgaddala  for review.

[2022-08-03 04:28] RohitMungi-MSFT commented on #96530
I have tried to deploy a web service with the app insights enabled and the link to view the same is populated on the endpoint details page.

![image](https://user-images.githubusercontent.com/46958063/182523722-0eed5d3b-b4b8-474b-8a10-24629d73816d.png)

@Blackmist FYI..

[2022-08-03 04:54] MughundhanRaveendran-MSFT commented on #94579
@ramuvr , Sorry for the delay. If you are still facing the issue, I would suggest you to open a support ticket with MS support as this needs in depth troubleshooting. Please let me know if you dont have a support plan. I will close this issue for now, feel free to reopen it

[2022-08-03 04:54] #94579 closed

[2022-08-03 04:56] VikasPullagura-MSFT commented on #96577
@Shoplift3020
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

I would recommend you to provide your feedback directly on the document you intend to.

[2022-08-03 04:56] #96577 closed

[2022-08-03 05:04] krisbock opened #96578 "Sentence correction."
Current sentence reads "Azure Machine Learning currently supports tools for **various these principles**, making it seamless for ML developers and data scientists to implement Responsible AI in practice."

Doesn't read well.  Perhaps it should be "Azure Machine Learning currently supports tools for **these various principles**, making it seamless for ML developers and data scientists to implement

[2022-08-03 05:05] rarandiv opened #96579 "Notes to add in the document "The Cosmos DB Analytical store currently supports linked service with MasterKey and does not support linked service with Managed Identity for querying Analytical store. ""
I am not able to read data from CosmosDb analytical storage through Synapse Link. I have created a linked service using synapse's managed identity, and when I run a Scala job to connect to Cosmos, it tells me the linked service is not supported.

It seems the Cosmos DB Analytical store currently supports linked service with MasterKey and does not support linked service with Managed Identity for qu

[2022-08-03 05:06] TonySh127-ms opened #96580 "Salesforce could use custom profile instead of system administrator"
Hi Team,

I just would like to kindly feedback the permission requirement on this document. The custom role can base on below permission to set custom profile.

<img width="620" alt="image" src="https://user-images.githubusercontent.com/68043042/182528046-9d80555b-8c7d-4915-929e-1f0f57df8a7e.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-08-03 05:32] ShaikMaheer-MSFT commented on #96576
@shoshii Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-03 05:33] pietz commented on #96530
@RohitMungi-MSFT Thank you. Indeed, I'm using real-time endpoints as a deployment option where I can also activate app insights. How do I access them in this case? I don't see them anywhere but in the deployment logs.

[2022-08-03 05:36] AshokPeddakotla-MSFT commented on #96149
@kd365 If you do not have a support plan, Please send an email to azcommunity@microsoft.com with the below details, we will work closely on this matter.

Thread URL: #
Your Subscription ID:
Email Subject: Attn Ashok Peddakotla

Please let me know once you have done the same

Please feel free to open a new technical thread for further discussion on Microsoft Q&A.

We will now proceed to close this

[2022-08-03 05:36] #96149 closed

[2022-08-03 05:45] SreejaBhattacharya-MSFT commented on #96522
Could you please post the contents of the fstab file prior adding double quotes, and then provide the contents of the file after adding double quotes. I'll take a quick look at it

[2022-08-03 05:53] #95366 closed

[2022-08-03 05:55] Karishma-Tiwari-MSFT commented on #96446
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-08-03 05:55] #96446 closed

[2022-08-03 05:56] Karishma-Tiwari-MSFT commented on #96310
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-03 05:58] veeragitmcs opened #96581 "The Waits KQL provided does not work"
The Waits KQL provided does not work.

The following always returns 0 as the column "Type_s" does not capture the Synapse DMV values

//Count of all queued queries
AzureDiagnostics
| where Category contains "waits"
| where Type_s == "UserConcurrencyResourceType"
| summarize totalQueuedQueries = dcount(RequestId_s)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-08-03 06:13] pnarsi opened #96582 "Private Certificate pfx file encrypted via Triple DES"
The documentation mentions that private certificates need to be Exported as a password-protected PFX file, encrypted using triple DES.. This is actually correct? Considering the well known vulnerabilities related to 3DES flagged in way back in 2016 (https://nvd.nist.gov/vuln/detail/CVE-2016-2183) I would have thought that the requirement would be to export certificates as pfx encrypted using AES

[2022-08-03 06:19] bigteejay opened #96583 "Cosmos emulator "can run with as little as 0.5 cores" inaccurate/outdated"
In [Configuration Options in the docs](https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=sql-api%2Cssl-netstd21#configuration-options), under `--cpus` it states...

This is not the case.  It typically hovers around 100%-400%

<details><summary>compose.yaml</summary>

[code]

</details>

<details><summary>.wslconfig</summary>

[code]

RAM = 32GB
CPU = 8cores
</details>

All 8 hos

[2022-08-03 06:25] shubhamjante opened #96584 "ErrorInvalidRegion when uploading images to CustomVision.ai"
Hi,
I'm trying to build ObjectDetector model using customvision.ai. As we know web UI does not provide any option to zoom in or out functionality. I'm dealing with large-sized images and need to zoom in to annotate the objects properly. So instead of web UI now I'm using LabelImg tool to annotate the images and Azure python SDK to tag and upload images on customvision.ai.

I'm aware that the custo

[2022-08-03 06:36] pietz commented on #96530
Sorry, to rephrase:

It seems to me the current development focus of the AzureML SDK v2 focusses on real-time and batch endpoints as deployment options for machine learning models. I'm not sure if web service endpoints will become deprecated soon, but they have not been mentioned in most recent articles.

For these new type of endpoints I was not able to find documentation how custom inference log

[2022-08-03 07:15] #92820 closed

[2022-08-03 07:19] Givary commented on #96349
@kengoodwin Apologies for the delay, awaiting update from our internal team on this ask.

[2022-08-03 07:20] HristinaJilova opened #96586 "functional differences between SDK v2 and CLI v2"
Hello,
Can we have comparison between the functional differences between SDK v2 and CLI v2?
What are the limitations we have in SDK v2?

Can we have examples about what is possible/not possible to do with CLIv2 vs SDKv2?

My client is trying to decide what to use in which case and is asking for comparison.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-08-03 07:53] rphoon opened #96588 "Azure Policy samples GitHub repo points to deprecated policies"
The repo consists of all policies which are marked as [deprecated]. Is there a repo which has new policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b04e5c5
* Version Independent ID: d02abfda-83d6-4022-bfb0-b3d0391a6223
* Content: [Understand the guest configuration feature of Azure P

[2022-08-03 08:03] Jas0n0ss opened #96590 "create data controller failed base on official doc"
https://docs.microsoft.com/en-us/azure/azure-arc/data/create-data-controller-using-kubernetes-native-tools

- issue description:

1. when our cx create `bootstrapper` at first step base on below yaml template:
https://raw.githubusercontent.com/microsoft/azure_arc/main/arc_data_services/deploy/yaml/bootstrapper-unified.yaml
2. After make sure pod `bootstrapper` is running ,then start create data co

[2022-08-03 08:04] fawohlsc opened #96591 "Remove trailing newline in service account token"
When retrieving the service account token, the trailing newline needs to be removed

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df2cd607-99aa-7541-e93e-323a536c2615
* Version Independent ID: 5bca3714-7ac9-1f60-6054-28f7c750bcdf
* Content: [Use the cluster connect to securely connect to Azure Arc-enabled Kuber

[2022-08-03 08:28] LeonardHd opened #96592 "Missing System-Assigned Identity Azure Key Vault Provider for Secrets Store CSI Driver"
Hi all,

Based on the resolved issue in [secrets-store-csi-driver results in forbidden errors when deployed via Azure ARC onto a K3S cluster](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/948) the ARM template for the linked page [here](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-akv-secrets-provider#arm-template) is missing the identity property

[2022-08-03 08:38] AnuragSharma-MSFT commented on #96574
@francotiveron Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-03 08:40] AnuragSharma-MSFT commented on #96579
@rarandiv Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-03 08:41] AnuragSharma-MSFT commented on #96583
@bigteejay Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-03 08:45] RohitMungi-MSFT commented on #96530
I think the new endpoints are using the Azure monitor to collect the logs. When the app insights setting is enabled the metrics link redirects to the monitoring workspace and if the deployment succeeds the diagnostic settings option should be visible to enable collection of inference and traffic logs.

![image](https://user-images.githubusercontent.com/46958063/182564284-0a9c589c-46e4-42a5-b78d-cb

[2022-08-03 08:54] fawohlsc commented on #96591
Closing since issue was somewhere else in the code.

[2022-08-03 08:54] #96591 closed

[2022-08-03 08:55] SreejaBhattacharya-MSFT commented on #96564
@domdepasquale Thanks for reaching out. Let me take a quick look at this.

[2022-08-03 09:25] rockboyfor opened #96596 "`Deploy to Azure` custom template link occur to error message."
Hi guys,

When we select the `Deploy to Azure` link, there is one following error message showed on portal.

![image](https://user-images.githubusercontent.com/4704301/182573265-4617bc4a-f056-4fb2-bddb-5cbd2f6181ee.png)

Could you please help to check the custom template link?

Best Regards,
Edward Chen

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-08-03 09:35] pgr-lopes opened #96597 "Reference how to check pipeline runs older than 45 days"
Hi everyone,

For the Pipeline monitoring page in Synapse Analytics, the pipeline runs are limited to a time window of 45 days based on Data Factory's internals. It would be useful to have an extra paragraph or a note explaining how a user can check pipeline runs older than 45 days or, if now possible, how one can setup logs to keep historic data for the runs.

---
#### Document Details

⚠ *Do not

[2022-08-03 09:39] VikasPullagura-MSFT commented on #96596
@rockboyfor
Thanks for pointing this out.
I was able to reproduce this issue, will check with internal team to get this link fixed.

![image](https://user-images.githubusercontent.com/48944027/182576912-f398cfc2-e3cd-483f-a90f-f9346c896f53.png)

[2022-08-03 09:40] GHY18 opened #96598 "Two questions about joining a Teams meeting using Azure Communication Services."
Hi, I have two questions:
1. What does "supports 350 participants" mean, does that mean only 350 participants can join the meeting using ACS while 1000 participants can still join the meeting using Teams directly, or the total number of participants who join the meeting through two methods is 350?
<img width="431" alt="image" src="https://user-images.githubusercontent.com/39253803/182574838-302ab7

[2022-08-03 09:41] AbbyMSFT commented on #96302
Hi @mayurivikrant,
Good catch! Thank you for dedication to the quality of our documentation and for pointing this out. I have made the change. You should see it live in the next day or so.
Thanks and please don't hesitate to reach out again!
Abby

#please-close

[2022-08-03 09:41] #96302 closed

[2022-08-03 09:42] shwetamathur7 commented on #96542
@nzhul Thanks for your contribution to enhance the documentation. The PR has been already raised for the same issue https://github.com/MicrosoftDocs/azure-docs/issues/95236 and is awaiting author's approval. Once the PR is merged, changes will be reflected in the documentation.

Closing this issue as this has been handled under https://github.com/MicrosoftDocs/azure-docs/issues/95236

[2022-08-03 09:42] #96542 closed

[2022-08-03 10:11] SwathiDhanwada-MSFT commented on #96588
@rphoon Thanks for reaching out. Are you referring to [this repository] (https://github.com/Azure/azure-policy/tree/master/built-in-policies/policySetDefinitions/Guest%20Configuration)? It was recently updated. Kindly check and let me know.

[2022-08-03 10:20] MayankBargali-MSFT commented on #96477
@skyfrk Just following up here. Hope my previous comment clears things up.

[2022-08-03 11:19] #95133 closed

[2022-08-03 11:39] rphoon commented on #96588
Except for one policy which is mentioned as "preview", all the other policies are marked as deprecated and last updated in Jan.

***@***.***

***@***.***

Regards,
Raymond

From: SwathiDhanwada-MSFT ***@***.***>
Sent: Wednesday, 3 August 2022 8:12 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Raymond Phoon ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Policy s

[2022-08-03 11:43] SreejaBhattacharya-MSFT commented on #96564
@domdepasquale [https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/](https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/) this blog post should answer your question and clear the confusion.

[2022-08-03 11:58] RohitMungi-MSFT commented on #96578
@krisbock Thanks for catching the typo. I have added a PR to correct it.

[2022-08-03 12:02] SumanthMarigowda commented on #96467
@himachida  This article provides detailed information of archive pricing   https://docs.microsoft.com/en-us/azure/storage/blobs/access-tiers-overview

A blob cannot be read directly from the Archive tier. To read a blob in the Archive tier, a user must first change the tier to Hot or Cool. For example, to retrieve and read a single 1,000-GB archived blob that has been in the Archive tier for 90 d

[2022-08-03 12:02] #96467 closed

[2022-08-03 12:08] steveaf opened #96601 "Known (but closed anyway) bug occurs when using this bicep template."
I ran the bicep file on this page and get an error.
Error contents:
New-AzResourceGroupDeployment: Cannot validate argument on parameter 'sshPassword'. The ValidateLength attribute cannot be applied to a parameter that is not a string or string[] parameter. Make the parameter a string or string[] parameter.

The following thread describes this error, the C# line causing the error is identified, an

[2022-08-03 12:28] Venkateshdodda-MSFT commented on #96582
@pnarsi Thank you for your feedback! We will review and update as appropriate.

[2022-08-03 12:34] AjayKumar-MSFT commented on #96591
fawohlsc, Glad the issue was sorted out. Much appreciate the follow-up!

Thanks for leveraging Azure docs feedback channel to raise this question.  As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-08-03 12:42] timwarner-msft commented on #96588
Hi @rphoon. I've reached out to the Azure Policy engineering team to see what's going on. Normally we push changes from the internal policy definitions repository to GitHub ever week. Thanks, Tim

[2022-08-03 12:49] matthewjlevy opened #96603 "Sample Rules Definition JSON has too many curly brackets"
In trying to create a credential using the provided **Rules Definition** json I get an error (_rules.vc.type is a required value. Please enter a value and try again.
Error code: missingRequiredParameter_)

After entering the code line by line in the provided text box, I noticed the extra bracket (maybe set of brackets)

So copying and pasting did not work as expected

---
#### Document Details

⚠

[2022-08-03 12:50] goosvorbook opened #96604 "Type Enumerated"
In the documentation some fields have the type "Enumerated", however when creating a ASIM parser, what does Microsoft actually expect? (for example, should this be of the type "String"?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bcfbfd3-cf61-eda3-4b9e-5ad533edb7f6
* Version Independent ID: 8e004026-c292-8715-991b

[2022-08-03 13:08] TWolverson opened #96605 "How do you get New-ServiceFabricComposeDeployment"
When I follow these steps, I get an error message from Powershell:

[code]

That's common enough, it means that the module with that command isn't installed.

But I've installed the prerequisites as described here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started

I also installed Microsoft.ServiceFabric.Powershell.Http from https://www.powershellgallery.com/package

[2022-08-03 13:15] jayinoz99 opened #96606 "SQL Auditing limitations"
Hi,

Under Auditing limitations the page mentions that Premium storage with BlockBlobStorage is supported as the destination for auditing, but makes no mention of the fact that Standard GPv2 storage is also supported.

Additionally, this page https://docs.microsoft.com/en-us/azure/azure-sql/database/audit-write-storage-account-behind-vnet-firewall?view=azuresql mentions that...

For audit to write

[2022-08-03 13:23] SetTrend opened #96607 "Documentation is missing how to set "target resource group""
The below mentioned page claims there is something like a "target resource group". Moreover, the `resourceGroup()` Bicep function can be called without parameters, requiring a current "target resource group".

However, I couldn't find any hint in the Bicep, Bicep CLI, Azure PowerShell documentation on how to provide a target resource group for deployment, or where it's applicable.

Please elaborat

[2022-08-03 13:32] ITNextLevel commented on #96522
Upon further checks it seems that rebooting ubuntu after attaching a disk is becoming slower in some instances (taking up to 10 minutes in a brand new system) giving the appearance of failure. I am guessing I need to reach out to support to track this down.

My apologies for the misunderstanding.

Best Regards,

Samuel Soto
________________________________
From: SreejaBhattacharya-MSFT ***@***.***

[2022-08-03 13:34] SumanthMarigowda commented on #96503
@Olosinsk-commits Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-03 13:42] domdepasquale commented on #96564
Yes, I understand what's going on with docker versus containerd for Kubernetes. I'm asking specifically how to continue to use docker in AKS as is suggested by the docs linked in this issue. Or, to maybe verify that it is no longer possible and the line should be removed.

[2022-08-03 13:44] PleaseStopAsking commented on #95729
@durayakar I initially had the same concerns but ultimately landed on using an ARM template with my policy as the only resource defined. Any time I need to push changes to my many policies, I simply update my template (validated on a test/stg env) and then push with `New-AzResourceGroupDeployment -TemplateFile templates/resourceGroup.wafPolicy.json -ResourceGroupName example -Confirm`.

This allow

[2022-08-03 13:45] EC-429 opened #96608 "User Authentication Events API"
I would like to ya'll to consider an API feature request that would allow an administrator to query the REST API for User Authentication events. The purpose of the API would allow administrators to pull all User login activity to support audit requirements. This can be done manually through the GUI, but that is time consuming when sensors are deployed at scale. Using the existing events API, I hav

[2022-08-03 13:58] TWolverson commented on #96605
I've just got this to work using `Import-Module ServiceFabric`. This definitely did **not** work with `Import-Module Az.ServiceFabric` although this command also completes silently and therefore presumably successfully. I don't understand why there are two modules with slightly different names with different features.

[2022-08-03 13:59] jugi92 opened #96609 "Typo"
Typo:
Azure offers features such as Azure offers Availability Zones and planned maintenance windows to help protect against instance-level failures. In addition to this,

should be

Azure offers features such as Availability Zones and planned maintenance windows to help protect against instance-level failures. In addition to this,

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-08-03 14:14] webczat opened #96612 "Question related to high availability in log analytics workspaces"
Hello,
I just have a question related to high availability of log analytics workspace. Based on this page and also https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-security#3-the-azure-monitor-service-receives-and-processes-data ...
* Are log analytics workspaces not linked to a cluster actually not zone redundant? specifically is their data stored in LRS storage and vulnerable to zo

[2022-08-03 14:22] SetTrend opened #96613 "Bicep: `getSecret()` function – calling context isn't clear enough"
In the below mentioned page, it reads:

I think the exclusiveness of this calling context doesn't get clear. So, I suggest to elaborate on the fact that `getSecret()` can **_only_** be called:

- in a parameter definition of a Bicep Module call
- when the corresponding Bicep Module's parameter is decorated with `@secure()`

… and that it is an **_error_** to call it in any other context, like:

-

[2022-08-03 14:22] DeanGross opened #96614 "Inconsistent information"
The description of the components of the Fortinet solution in Sentinel are different that this page, which is correct?

Sentinel shows a Logic Apps Connector but does not mention a data connector, the page says that we need both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bdf3fec-1587-7c24-1603-967b31451173
* Vers

[2022-08-03 14:27] KapilAnanth-MSFT commented on #96533
Hi @aggerritsen , we have assigned it to the author for review.

@greg-lindsay , I was able to replicate the issue in my lab. The command provided is not working and is giving the error. Please check the commands and update the docs appropriately.

[2022-08-03 14:28] MonikaReddy-MSFT commented on #96270
@dciborow - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-08-03 14:35] MonikaReddy-MSFT commented on #96434
Q) Is this for outbound rules i.e. all 3 tags should be used when configuring outbound AzFW rules?
A) Yes.
Q) so is it the case for Inbound rules the tags 'ActionGroup' & 'ApplicationInsightsAvailability' to ensure Global webhooks access and AppService Availability
A) Yes.

Also raised a PR to reflect the changes in the Note section.

Thanks again for bringing this to our attention. We have update

[2022-08-03 14:37] jeffdmipshell opened #96615 "I believe the preview registration powershell string is incorrect."
[Enter feedback here]
I believe the pshell string should be "Register-AzProviderPreviewFeature -Name InGuestAutoAssessmentVMPreview -ProviderNamespace Microsoft.Compute" instead of "Register-AzResourceProvider -FeatureName InGuestAutoAssessmentVMPreview -ProviderNamespace Microsoft.Compute"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-08-03 14:41] SethBonser opened #96616 "Include Custom Authentication URL length limitation"
[Enter feedback here]
Hi Team,

There appears to be a limitation to the length of a callback URL when using custom authentication with Static Web Apps (about 4096) but this is not stated anywhere in the documentation, can you please include this limitation clearly in the documentation

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-08-03 14:43] wUEZRs commented on #96547
Thanks. Doing testing it shows that it's the logged in user in the Portal that needs the correct rights

[2022-08-03 14:48] darrens280 opened #96617 "No info on Serverless SQL pools"
Thanks for the information, however there is no mention of backup and restore options for Serverless SQL in Azure Synapse Workspaces, only Dedicated SQL. Please can you assist with some information on how best to implement some disaster recovery options (backup/restore/replication/snapshot) for a Serverless SQL pool. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-08-03 15:03] Blackmist commented on #96530
@pietz The Diagnostic setting panel that @RohitMungi-MSFT mentions is what you are looking for. We have a doc update for this currently (primarily to the https://docs.microsoft.com/en-us/azure/machine-learning/how-to-monitor-online-endpoints article), but it is awaiting final approval from engineering before we can publish it. Hopefully we'll get approval to publish the update within the next few

[2022-08-03 15:06] MarileeTurscak-MSFT commented on #96580
@TonySh127-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-03 15:10] skyfrk commented on #96477
Hi @MayankBargali-MSFT, sorry for reacting late. Your response answered all of our questions, thank you! Maybe your answer can become part of the documentation so others won't stumble upon the same question?

[2022-08-03 15:12] ShaikMaheer-MSFT commented on #96581
@veeragitmcs Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-08-03 15:18] mumian commented on #96562
@feliasson - thank you for your comments.  I have created PR to revise the sample.

#please-close

[2022-08-03 15:18] #96562 closed

[2022-08-03 15:19] JamesTran-MSFT commented on #96614
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-03 15:23] oshezaf commented on #96604
Hi @goosvorbook : the physical type should indeed be a string, but the values must be one of the allowed enumerated values. This is documented [here](https://docs.microsoft.com/en-us/azure/sentinel/normalization-about-schemas#logical-types).

[2022-08-03 15:30] SreejaBhattacharya-MSFT commented on #96522
Sure, no worries

[2022-08-03 15:30] #96522 closed

[2022-08-03 15:35] jeromesubs opened #96619 "Process described is not accurate/working anymore"
Hello,

It seems there have been changes with the lastest az cli version making this tutorial not working as expected:

The command to reset the password returns an error
`> SP_SECRET=$(az ad sp credential reset --name "$SP_ID" --query password -o tsv)

Which is consistent with az cli documentation (https://docs.microsoft.com/en-us/cli/azure/ad/sp/credential?view=azure-cli-latest#az-ad-sp-credenti

[2022-08-03 15:38] SreejaBhattacharya-MSFT commented on #96564
@domdepasquale As far as I knew it is no longer possible, but let me get a quick confirmation on this

[2022-08-03 15:44] VikasPullagura-MSFT commented on #96609
@jugi92 Thanks for pointing  this out, we will check and update the document.

[2022-08-03 15:50] mmacy commented on #95025
@jmprieur, @jennyf19 I haven't had time to verify this - can you or someone on your team vet the suggested change?

- Current: `delay = retryAfter.Date.Value.Offset;`
- Proposed by @AndrewDownumMentis: `delay = (retryAfter.Date.Value – DateTimeOffset.Now).TotalMilliseconds;`

Feel free to `#reassign:<githubalias>` if you'd like to take or reassign this issue.

[2022-08-03 15:59] pgr-lopes opened #96620 "Exception TypeError when running Receive script"
Hi,

While testing an Event Hubs starter guide on send/receive information through blob storage checkpoint using python, I am getting the following error message while running the Receive script:

_An exception occurred during list_ownership for namespace 'evhub-pelope.servicebus.windows.net' eventhub 'evh1' consumer group '$Default'. Exception is TypeError('ssl should be SSLContext, bool, Fingerp

[2022-08-03 16:00] rp-msft opened #96621 "Pull secret for windows nodes"
Is there an update needed for Windows nodes to use command oc get secrets pull-secret -n openshift-config -o jsonpath='{.data.\.dockerconfigjson}' for step 1 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516ce01f-750e-7c78-02c9-76c717edd681
* Version Independent ID: 22950c15-1b08-a9df-f1e7-cc310cbbb1a3
* Content: [A

[2022-08-03 16:02] v-amallick commented on #96040
@peterkh - Thanks for describing the query. We are checking with the Product team for detailed information. Will get back soon. Highly appreciate your patience.

[2022-08-03 16:03] #95080 closed

[2022-08-03 16:10] IIARROWS opened #96622 "Documentation cannot be followed to configure a solution"
The instruction don't seem to make any sense, if I try to follow them only get missed reference or suggestions to add
`using Microsoft.AspNetCore.Authentication.AzureAD.UI`  for *AzureADDefaults*, then followed by a warning that's obsolete.

Then the method *AddAzureADBearer* doesn't exist, getting a suggestion to add `using Microsoft.AspNetCore.Authentication`.
Doing that, I get a warning that's

[2022-08-03 16:29] Oury-MSFT commented on #96606
@jayinoz99 Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-08-03 16:38] VikasPullagura-MSFT commented on #96609
The document is updated and changes will go live once approved by author.

[2022-08-03 16:38] #96609 closed

[2022-08-03 16:46] ceperezb opened #96623 "Many images are not viewable"
[Enter feedback here]
Many of the images on this page are not effective (text is too small and barely visible) and do not have the option to zoom-in.  Many of these images are not effective and certainly not appropriate from an accessibility perspective.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e395ed-28e4-2562

[2022-08-03 16:47] kengaderdus commented on #96224
Thanks @shwetamathur7, @GiannisKout and @kjkent

We'll use @kjkent narrative and doublecheck, and we'll update the document soon.

[2022-08-03 16:55] samsp-msft opened #96625 "Needs better advice on how to securely manage connection strings"
The code in the article is storing the connection string in the clear in app settings. This is poor practice as it means its readily available to anybody who looks at the code - especially if it gets checked into github etc as the history is essentially permanent.

It should suggest using the dev-time secret storage: https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore

[2022-08-03 17:03] filipalob opened #96626 "Docs update suggestion"
Hey team,

I followed this tutorial and:
- I managed to run without the SynapsePool parameter - I deleted it, the pipeline ran and picked up the correct SQL Pools where my Synapse Workspace had the Contributor role;
- The ForEach > Switch activity is not required - I also deleted it and run smoothly. It also looks like the tutorial is incomplete on this step because the activities are empty. Perha

[2022-08-03 17:10] JamesTran-MSFT commented on #96623
@ceperezb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-03 17:23] KranthiPakala-MSFT commented on #96597
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 17:35] YutongTie-MSFT commented on #96584
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-03 17:36] YutongTie-MSFT commented on #96586
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-03 17:39] KranthiPakala-MSFT commented on #96601
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

Hi @JasonWHowell, @SnehaGunda - Could you please help loop the relevant doc owner who can further assist on this feedback.

Thank you

[2022-08-03 17:42] mspetroula opened #96628 "Documentation should specify cores and vCPUs for the offerings"
[Enter feedback here]

PostgreSQL documentation should clarify and make the distinction between paying for cores and paying for vCPUs.  For example, the PostgreSQL Flexible server D8 compute size is in fact 4 cores with 2 hyper threads each.  One of our customer is wondering why on a D8 compute size, they are being charged for 8 vCPUs when in fact it is only 4 cores on this specification.  AWS mak

[2022-08-03 17:44] giant-bean opened #96629 "Add additional alert templates for SQL server on Windows"
[Enter feedback here]
We have a need to use SQLInsights to monitor/alert from Azure VM based SQL servers, which requires an alert template to be created for each metric we wish to alert from. Having some available templates would make this much easier to implement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7eb289f

[2022-08-03 17:59] quix303 opened #96630 "Add column for permission (read, write, delete, all) in action"
It would be great if the tables for roles had another column to isolate just the actual type of permission (read, write, delete, all) for a given action.  It would be even better if there was a way to sort the tables, but I understand that is a limitation overall.  At least this would make it clearer when looking at a list what type of action and make it easier on the eye to catch where there are

[2022-08-03 18:05] roygara commented on #96503
This was resolved offline and changes have been merged so:

#please-close

[2022-08-03 18:05] #96503 closed

[2022-08-03 18:10] thisisanniefang commented on #95798
Hi @sumitdubeyit thanks for your feedback! To clarify, creating a load balancing rule will use 8 of the available 64k SNAT ports that are typically available for outbound connections, reducing the total number of available SNAT ports if the frontend IP used in the LB rule is also used for outbound connectivity. The second statement is regarding the actual behavior of outbound connections and how S

[2022-08-03 18:11] Oury-MSFT commented on #96628
@mspetroula Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-08-03 18:13] Oury-MSFT commented on #96629
@giant-bean Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-08-03 18:14] KranthiPakala-MSFT commented on #96617
Thanks for reaching out. The current document title refers to Dedicated SQL pool and not Serverless.
Currently, it is not possible to backup Serverless SQL Pool databases. Hence it would be feature request.

Here is an existing feature request item in IDEAS forum, please feel free to upvote and comment on it - https://feedback.azure.com/d365community/idea/33d671ac-0925-ec11-b6e6-000d3a4f07b8#comme

[2022-08-03 18:17] KranthiPakala-MSFT commented on #96620
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 18:22] KranthiPakala-MSFT commented on #96626
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

Hi @kromerm Could you please have a look at the above feedback from customer - Thank you.

[2022-08-03 18:26] OscarTHZhang opened #96633 "Activity Threshold description missing unit"
[Enter feedback here]

Need to expand this sentence into

Also, the graph should show a clear comparison between the activities on the node and the activity threshold. Otherwise, it will be very confusing to the customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b2c058c-077f-3791-326e-d8a800966821
* Version Ind

[2022-08-03 18:27] WilliamDAssafMSFT commented on #92043
Thanks @waltheed again for taking the time to create this issue. A doc update is in flight soon to clarify this in our Docs.

#assign:WilliamDAssafMSFT

[2022-08-03 18:32] tspring418 opened #96634 "Migration docs don't show portal as an option, elastic <--> consumption plans"
Regarding migrations:
![image](https://user-images.githubusercontent.com/22082241/182683112-4f580b26-f0d3-4ed8-9cdd-b9dfb9d11622.png)

It looks as though the portal supports migration between elastic premium and consumption, however i don't see any documentation on this option. Perhaps this can be included as an alternative as well.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-08-03 18:32] DiaAWAY opened #96635 "Preview retry policy supported removed for KafkaTrigger?"
In the page, the following is listed at the top as important:

Event hub supports using the Kafka API (https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview).

When using the `KafkaTrigger`  from `Microsoft.Azure.WebJobs.Extensions.Kafka` to connect to Event Hub in conjunction with `FixedDelayRetry` or `ExponentialBackoffRetry`, the Azure Function runtime gives

[2022-08-03 18:38] bashan-git commented on #96358
This is addressed now. It will be merged into main soon.

[2022-08-03 18:40] lotsahelp opened #96636 "SHOW CATALOGS links to SHOW COLUMNS"
The menu link for SHOW CATALOGS links to SHOW COLUMNS instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ce87d4-156d-60b8-6da3-41d3ed9fa450
* Version Independent ID: 192254e0-73e1-3931-c539-785168bebb25
* Content: [SHOW COLUMNS (Databricks SQL) - Azure Databricks - Databricks SQL](https://docs.microsoft.com/en-u

[2022-08-03 18:44] JasonWHowell commented on #96601
@KranthiPakala-MSFT please use the author tags for assignments.
#assign:apurbasroy
#assign:sreekzz can you please take a look.
@mumian may help debug if needed.

[2022-08-03 18:44] PRMerger17 commented on #96601
The following users don't have valid GitHub IDs, or are not collaborators on this repo: mumian may help

[2022-08-03 18:44] JasonWHowell commented on #96601
#unassign:snehagunda

[2022-08-03 18:45] JasonWHowell commented on #96601
#assign:sreekzz

[2022-08-03 18:45] JasonWHowell commented on #96601
#assign:apurbasroy

[2022-08-03 18:45] PRMerger16 commented on #96601
The following users don't have valid GitHub IDs, or are not collaborators on this repo: apurbasroy

[2022-08-03 18:46] pmaytak commented on #95025
Yep, suggestion is good, `delay` is TimeSpan though so should be `delay = (retryAfter.Date.Value – DateTimeOffset.Now)`.
Thanks.

[2022-08-03 18:49] Blackmist commented on #96530
@pietz just a follow up on this; got approval to publish the update. The changes should be live later today/early tomorrow depending on time zone. Probably around 4PM Pacific time/5AM UTC.

[2022-08-03 18:54] Wibusts opened #96638 "Steps differ from option listed on Configuration"
[Enter feedback here]
When checking on example to configure B2B direct connect the example recommend:
**"Allow all Contoso users and groups to have outbound access to Fabrikam using B2B direct connect."**

But this option is not present on portal configuration:
![image](https://user-images.githubusercontent.com/62709550/182687045-1a8a3152-e49a-43da-8052-a918861e971d.png)

This could eventually cre

[2022-08-03 18:56] MarileeTurscak-MSFT commented on #96638
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-03 18:57] MarileeTurscak-MSFT commented on #96622
@IIARROWS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-03 19:04] davidpaMSFT opened #96639 "Update Management integration with Configuration Manager no longer possible?"
Functionality to connect Configuration Manager to Azure Monitor was removed from Configuration Manager starting in version 2107:

https://docs.microsoft.com/en-us/azure/azure-monitor/logs/collect-sccm

Does this mean that Update Management integration with Configuration Manager is no longer possible as documented in this article? If so, should the article be updated?

---
#### Document Details

⚠

[2022-08-03 19:12] impos73r opened #96640 "Docs specify incorrect product name"
Line 113 should specify "Azure Sentinel" instead of "Microsoft Sentinel". Per documentation for the [Graph API](https://docs.microsoft.com/en-us/graph/api/resources/tiindicator?view=graph-rest-beta) acceptable options are "Azure Sentinel" and "Microsoft Defender ATP".

Using "Microsoft Sentinel" will cause the Graph API endpoint to return a 400 response with no error details.

---
#### Document De

[2022-08-03 19:14] JnHs commented on #46032
Apologies for the extremely long delay. I believe this was addressed some time ago. If there is still a concern, please file a new issue.
#please-close

[2022-08-03 19:14] #46032 closed

[2022-08-03 19:15] JnHs commented on #47757
Apologies for the extremely long time to respond, this has been addressed (see link above)
#please-close

[2022-08-03 19:15] #47757 closed

[2022-08-03 19:16] JnHs commented on #48887
Apologies for the extremely long time to respond. As there is not a specific doc update needed here, I am going to close this issue. You can always share product feedback at https://feedback.azure.com/d365community/forum/a222eda7-2425-ec11-b6e6-000d3a4f09d0
Thank you
#please-close

[2022-08-03 19:16] #48887 closed

[2022-08-03 19:17] JnHs commented on #54496
I apologize that this issue has remained open so long. The quota documentation has been refreshed several times since this issue was filed. I'm going to close it now, but please open a new issue if you see further discrepancies.
#please-close

[2022-08-03 19:17] #54496 closed

[2022-08-03 19:17] JnHs commented on #58643
I apologize that this issue has remained open so long. The quota documentation has been refreshed several times since this issue was filed. I'm going to close it now, but please open a new issue if you see further discrepancies.
#please-close

[2022-08-03 19:17] #58643 closed

[2022-08-03 19:18] JnHs commented on #64649
I apologize that this issue has remained open so long. The quota documentation has been refreshed several times since this issue was filed. I'm going to close this issue now, but please open a new issue if you see further discrepancies or have documentation suggestions.
#please-close

[2022-08-03 19:18] #64649 closed

[2022-08-03 19:18] JnHs commented on #79626
I apologize that this issue has remained open so long. The quota documentation has been refreshed several times since this issue was filed. I'm going to close it now, but please open a new issue if you see further discrepancies.
#please-close

[2022-08-03 19:18] #79626 closed

[2022-08-03 19:29] MartinJaffer-MSFT commented on #96555
Hello @abhayea .  Thank you for the background.

I took a look and did a couple tests.  The issue you linked to, was about the validation activity not having any output when the timeout happened.  That is fixed now.  This did not affect whether the activity reports the success of fail of the _activity itself_.  It just made it so we could fetch the "exists" property after timeout.

I pointed  a va

[2022-08-03 20:00] abhayea commented on #96555
@MartinJaffer-MSFT thank you for a quick turnaround. Appreciate it.

![image](https://user-images.githubusercontent.com/66797773/182697990-4689417f-5dda-44f3-b0e7-e81dd475055a.png)

My use case: I will explain it in a simpler manner

validation activity checks if the file exists or not in an azure blob storage account( SINK). Using validation activity output as IF activity input.

if the output is

[2022-08-03 20:05] tbecks opened #96642 "must be super admin to setup pglogical"
There is a step when setting up pglogical: GRANT azure_pg_admin, replication to myUser;

However, it requires super admin to grand replication and Azure does not provide access to the super user privilege in Flexible server.  This step fails, and I'm uncertain how replication can be setup without super user when the pglogical document states: "Currently pglogical replication and administration req

[2022-08-03 20:29] mindlessroman opened #96643 "Accessibility and Instructions for Azure Data Factory Data Flow Sinks"
Hey folks -
Was looking for more information about [data flow sinks settings](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-sink#sink-settings) since I had questions for my specific use case. What is provided is a non-captioned video and no option of written instructions.

For a few reasons, this is not a great choice. To be accessible, this video player needs to be able to provide

[2022-08-03 20:40] SaiKishor-MSFT commented on #96531
@win2000b Thanks for reporting this. The 5000-7000 series is currently out of support. The migration from the 5000-7000 series is now a two-step process - first migrate to 8000 series and then you can go to AFS. We will work on updating this in the documentation. Thank you!

[2022-08-03 20:41] SaiKishor-MSFT commented on #96531
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-03 20:41] #96531 closed

[2022-08-03 20:47] win2000b commented on #96531
The 8000 is going out of support in December. Does this mean migration from 5000 to afs will no longer be possible post december?

[2022-08-03 20:55] neilghuman28 opened #96645 "Feedback posting experience need revision"
I don't believe the feedback experience is friendly.  I had to first create a git hub account, then the list was lost.  Too many point of entry and circle to provide feedback.  Please update the experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 808e7eb5-6c00-8d2d-b9a7-00381ca8d563
* Version Independent ID: fe6

[2022-08-03 20:57] SaiKishor-MSFT commented on #96531
If the dates for these products going out of support does not change any further, yes, it will not be possible. Please let me know if you have further questions.

[2022-08-03 21:13] mike-urnun-msft commented on #96635
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-03 21:14] mike-urnun-msft commented on #96634
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-03 21:27] #96592 closed

[2022-08-03 21:31] kwaldrip1 commented on #95675
Hey folks,
I received the error mentioned in this post until I enabled the Native client support toggle on the bastion host in the Azure portal.  I had been running through the docs rather quick and missed the configuration portion on the portal side.  I thought @EvgeniShkoda was talking about the Windows RDP service at first so I just wanted to provide a little extra clarity that this is the opti

[2022-08-03 21:40] KranthiPakala-MSFT commented on #96597
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 21:41] KranthiPakala-MSFT commented on #96597
@matt1883 Could you please review above feedback from the customer and enhance the doc as needed? Thank you

[2022-08-03 21:42] MarileeTurscak-MSFT commented on #96630
@quix303
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-03 21:47] JamesTran-MSFT commented on #96640
@impos73r
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-03 21:53] abhayea commented on #96555
![image](https://user-images.githubusercontent.com/66797773/182718763-0ec73883-a9d5-4a67-ad05-3b8c2dfc8212.png)

I tried this and in this case, only complete activity dependency(web activity-alert_duplicate_file_detected) gets executed regardless I upload a blob that already exists or does not exist.

but please look into why validation activity does not produce any output if the file does not exi

[2022-08-03 21:58] #96604 closed

[2022-08-03 22:12] MarileeTurscak-MSFT commented on #96590
@Jas0s0ss
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-03 22:22] danmyhre opened #96648 "Missing details on DMG"
Need to provide a way / instructions on where to get the DMG. This is required to actually deploy this via MEM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61601aaf-6d5e-d56c-40d0-fcdbd698d62c
* Version Independent ID: 774316b0-c7af-19d2-67a0-1f9faeec4bd2
* Content: [Configure Azure VPN Client - Azure AD authenticat

[2022-08-03 22:30] KranthiPakala-MSFT commented on #96598
@GHY18 , Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any document changes upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.c

[2022-08-03 22:34] kobulloc-MSFT commented on #96633
@OscarTHZhang Thank you for the feedback!  We've assigned this to the document author for further review.

[2022-08-03 22:37] KranthiPakala-MSFT commented on #96603
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 22:40] KranthiPakala-MSFT commented on #96605
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 22:41] KranthiPakala-MSFT commented on #96607
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 22:43] KranthiPakala-MSFT commented on #96608
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update  as appropriate.

[2022-08-03 22:45] KranthiPakala-MSFT commented on #96612
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 22:47] KranthiPakala-MSFT commented on #96613
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 22:48] KranthiPakala-MSFT commented on #96615
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 22:49] KranthiPakala-MSFT commented on #96616
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 22:50] KranthiPakala-MSFT commented on #96619
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 22:51] KranthiPakala-MSFT commented on #96636
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-03 22:51] Oury-MSFT commented on #96642
@tbecks We are reviewing this and will get back shortly. Thank you

[2022-08-03 22:53] KranthiPakala-MSFT commented on #96643
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

Hi @kromerm, @jonburchel  - Could you please review the above feedback and help improve the content. Thank you

[2022-08-03 22:58] JamesTran-MSFT commented on #96296
@Borgquite
Thank you for following up on this and I'm glad that it's working for you now.

I'll go ahead and close out this issue and if you have any other questions, please let me know.
Thank you again for your time and patience throughout this issue!

[2022-08-03 22:58] #96296 closed

[2022-08-03 22:59] ikumar222 opened #96650 "File Upload Issue"
I am able to send messages to the IoT Hub using message.py, but when I run the the file upload code, I can't get the file to upload. The error that I get is "HTTP operation returned: 400 ArgumentError (Error: Bad Request)". I haven't made any modifications to the code except the connection string and path to file. When I set the logging to debug, I am able to get more of the error:

DEBUG:azure.io

[2022-08-03 23:04] aj9411 opened #96651 "Does the hostname 'api.loganalytics.io' apply for clouds other than Azure Public?"
As the title states, does the hostname _api.loganalytics.io_ apply for clouds other than Azure Public? My team has our service deployed in Mooncake/Azure China, for instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00ceee8d-f5ae-6d30-8a07-9f5def035fe7
* Version Independent ID: ea531828-e26a-3c60-3b66-429ec06f895

[2022-08-03 23:07] kgremban commented on #96335
Reassign:pataltimore

[2022-08-03 23:09] Karishma-Tiwari-MSFT commented on #95429
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-03 23:11] nsmonty opened #96652 "Showing the password requirements on the SSPR webpage"
Is it at all possible to customize the website to allow our custom password requirements to be shown. I haven't found a place at all to do this or find a workaround

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d3f05c-5664-aab2-0374-d1c8c8097cc0
* Version Independent ID: 2bb1e55b-f036-fe3f-510c-986157b03011
* Conten

[2022-08-03 23:11] #90353 closed

[2022-08-03 23:12] JasonFreeberg commented on #90353
Content merged in other PR

#please-close

[2022-08-03 23:33] #96103 closed

[2022-08-03 23:59] pnarsi opened #96653 "Diagnostic Logs still in Preview?"
The note at the top of the page mentions that Azure Function to Azure Monitor integration is a preview feature. Is this actually still the case? There was a [announcement ](https://azure.microsoft.com/en-us/updates/azure-app-service-diagnostic-settings-feature-reaches-general-availability/)late last year that App Service Diagnostic logs is a GA feature. It is a bit strange that it is GA for App Se

[2022-08-04 00:59] aaronpowell commented on #96616
Hi @SethBonser,

Just to clarify, are you referring to the callback URL generated by Static Web Apps, such as `https://<YOUR_SITE>/.auth/login/<PROVIDER_NAME_IN_CONFIG>/callback`?

[2022-08-04 01:55] KrishnaG-MSFT commented on #96592
@LeonardHd Thanks for the feedback.
@Jak-MS Thanks for closing it.

[2022-08-04 02:16] Leoer opened #96656 "No response when configuring Quagga virtual machine"
When I replace the IP address with the one which took note of in the previous step just like the following picture, then it required to enter the password.<br/>
![image](https://user-images.githubusercontent.com/102143373/182746362-d93ffbd1-374a-46e7-8263-93f551072ad1.png)
But I can't enter any characters. The console I used is **powershell 7 (x64)**.<br/>
![image](https://user-images.githubuserco

[2022-08-04 02:43] DrWalks opened #96657 "Comment about PS not currently supporting Create for workspace related insights is not correct."
[As shown in the documentation, it is possible to create a new app insights related to a log analytics workspace:
https://docs.microsoft.com/en-us/powershell/module/az.applicationinsights/new-azapplicationinsights?view=azps-8.2.0

I have also used this today to create one related to a workspace in an unrelated subscription which worked.

Hope this helps.]

---
#### Document Details

⚠ *Do not edit

[2022-08-04 02:59] Rodrigossz commented on #96579
Done. Will be published soon. Thank you @rarandiv for your contribution. #please-close

[2022-08-04 02:59] #96579 closed

[2022-08-04 03:03] rarandiv commented on #96579
Awesome! thank you very much for considering the feedback @Rodrigossz.

[2022-08-04 03:09] GHY18 commented on #96598
https://docs.microsoft.com/en-us/answers/questions/954423/two-questions-about-joining-a-teams-meeting-using.html

[2022-08-04 03:22] grminch commented on #43345
This issue is fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/206902.

#please-close

[2022-08-04 03:23] #43345 closed

[2022-08-04 03:24] SumanthMarigowda commented on #96625
@samsp-msft Thanks for the question! We are investigating and will update you shortly.

[2022-08-04 03:29] grminch commented on #48979
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-08-04 03:29] #48979 closed

[2022-08-04 03:48] halkazwini commented on #96656
Hi @Leoer,

You won't see any characters when you enter the password.

If you enter the correct password, then you'll log in after you hit enter.
If you enter the wrong password, then you'll get this message after you hit enter: "Permission denied, please try again."

[2022-08-04 03:55] pnarsi opened #96658 "Additional FQDN dependencies for GPU clusters"
For VNET integrated environments do we need to add additional FQDN in the Firewall controlling egress from the Azure Databricks environment if we are using GPU based clusters? I have a support ticket open which suggests that we need to whitelist _developer.download.nvidia.com_ and _nvidia.github.io_ but there is no mention of this requirement on this page!

---
#### Document Details

⚠ *Do not edi

[2022-08-04 04:09] SwathiDhanwada-MSFT commented on #96657
@DrWalks Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-04 04:20] v-pgaddala commented on #96571
@PNW-BRZ The updates are done, and the info is live.

[2022-08-04 04:21] v-pgaddala commented on #96571
#please-close

[2022-08-04 04:21] #96571 closed

[2022-08-04 04:23] jboback commented on #95413
Thank you for your input! I've spoken with the QnA maker team, and they've told me that while the ability to connect Virtual Power Agent is not currently available, it is in development, and we will have more clarity in September.

[2022-08-04 04:27] SwathiDhanwada-MSFT commented on #96639
@davidpaMSFT Thanks for your feedback.

Assigning to content author @SnehaSudhirG  for review.

[2022-08-04 04:37] Sandeg-MSFT commented on #96621
@rp-msft
Thank you for reaching out to us on your query. We will reach out to you on this to answer your question

[2022-08-04 04:44] GitaraniSharma-MSFT commented on #96648
@danmyhre , thank you for your feedback. However, I believe that the tagged doc doesn't match with your feedback.
The doc tagged is about - [Configure an Azure VPN Client - Azure AD authentication - macOS](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client-mac)

There is no DMG or MEM reference.

Could you please share the link to the document on which the above document fe

[2022-08-04 04:44] Sandeg-MSFT commented on #96652
@nsmonty
Thank you for reaching out to us. We will check on this feature availability and will get back to you on this.

[2022-08-04 05:16] v-hgampala commented on #68421
Now, we can successfully be able to integrate the application by following the documentation.
#please-close

[2022-08-04 05:16] #68421 closed

[2022-08-04 05:19] MayankBargali-MSFT commented on #95440
@divyaswarnkar Can you please provide insights on this.

[2022-08-04 05:21] v-hgampala commented on #71241
Issue resolved.
#please-close

[2022-08-04 05:21] #71241 closed

[2022-08-04 05:34] Leoer commented on #96656
It's successful! Thank you for your prompt and effective reply.

[2022-08-04 05:40] v-hgampala commented on #75238
@yaniv833, please go through [this](https://www.jfrog.com/confluence/display/JFROG/SAML+SSO) support guide from Jfrog, where it mentioned the Artifactory URL in the Identifier filed.
#please-close

[2022-08-04 05:40] #75238 closed

[2022-08-04 06:39] VikasPullagura-MSFT commented on #96596
@zr-msft Can you please check and help in fixing this.

[2022-08-04 07:12] semics-tech opened #96661 "Invalid JSON in Query a subset of entity properties"
I don't think it's explained very clearly how you should be querying the table with odata when listing entities [Query a subset of entity properties](https://docs.microsoft.com/en-gb/azure/cosmos-db/table/how-to-use-nodejs?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-gb%2Fazure%2Fstorage%2Ftables%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-gb%2Fazure%2Fbread%2Ftoc.json#query-a-subset-of-entit

[2022-08-04 07:13] niravmadariya opened #96662 "Does this allow Access to file share if the File share is inside private endpoint and AD Configured"
I have a File share I'm trying to access from C++ code (MFC x64).
The file share has private endpoint configured, and access and networking are not the problem.
I'm able to access the File share using AD Credentials, I want the C++ Code to access the file share.
Since accessing the file share over https using AD is not possible, trying the code from this sample doc.

Question : When I try this cod

[2022-08-04 07:45] pietz commented on #96530
@Blackmist @RohitMungi-MSFT Thank you so much guys! Highly appeciate your effort here!

With this article in place the issue can be closed. It's well documented now. Without it, the necessary process was a little too awkward to figure out.

I still don't understand why I have to "enable Application Insights" when I don't touch Application Insights in the steps that follow, you know? If I activate

[2022-08-04 07:46] Leoer commented on #96656
I have another question here.
When I try to [configure Route Server peering](https://docs.microsoft.com/en-us/azure/route-server/tutorial-configure-route-server-with-quagga#configure-route-server-peering), and enter the following information from article:
![image](https://user-images.githubusercontent.com/102143373/182791964-f3e888ea-4e33-46e0-b816-77e654446564.png)
But the following error occurre

[2022-08-04 07:59] ricowang-msft opened #96663 "Add the parameter `--protocol-version=4` to the cqlsh command example"
Under [Quickstart: Build a Cassandra app with CQLSH and Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra/cassandra-support#cql-shell:~:text=Connect%20with%20Unix/Linux/Mac%3A), we have:

[code]

Under [Quickstart: Build a Cassandra app with CQLSH and Azure Cosmos DB
](https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra/manage-data-cqlsh#update-your-connection-stri

[2022-08-04 08:02] AshokPeddakotla-MSFT commented on #96650
@ikumar222 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-04 08:06] BenjaminHerbert opened #96664 "Are running nodes affected?"
[Enter feedback here]

Are running nodes affected by the node-image updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f2d3c5-04fe-9f60-e927-e0afdc1c3ac5
* Version Independent ID: 04cc17af-4291-6d3b-ea30-dbceddfdec2c
* Content: [Automatically upgrade an Azure Kubernetes Service (AKS) cluster - Azure Kubernetes S

[2022-08-04 08:08] v-hgampala commented on #93750
The document was updating with suggested changes.
#please-close

[2022-08-04 08:08] #93750 closed

[2022-08-04 08:11] happyadam73 opened #96665 "Docker push command invalid"
The docker push command should only have one image argument - the extra . (used in the build command) should be removed.

i.e.
`docker push $ACR_NAME.azurecr.io/albumapp-ui . `

should be:
`docker push $ACR_NAME.azurecr.io/albumapp-ui`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1779a5c-d2f0-d5c6-ef58-238db5a0ff4e

[2022-08-04 08:17] happyadam73 opened #96666 "Additional Note for Docker on M1 (or M2) macOS users"
By default Docker on an M1 or M2 Mac (Apple Silicon) will build the docker image using the linux/arm64 platform which is unsupported in Azure Container Apps.

It might be useful to add an additional note or step for macOS users with Apple Silicon (M1/M2) to amend the FROM statement within the Docker file.

i.e. in the quickstart Dockerfile, the following will not work:

`FROM node:lts-alpine`

How

[2022-08-04 08:29] PriyankaRudramaina commented on #96664
@BenjaminHerbert,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-04 08:36] CHEEKATLAPRADEEP-MSFT commented on #96658
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-04 08:45] Robert-Kostecki opened #96667 "Can this documentation be refined and well prescribed please?"
We have been trying to follow this documentation to set up the the Azure Databricks with Firewall for few days now. The main challenge is that the documentation seems to be at a very high level and at times confusing. Links do not seem to relate to the Databricks topic. For example the link [Create a network rule](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal#conf

[2022-08-04 08:49] AnuragSingh-MSFT commented on #96607
@SetTrend, when deploying Bicep template using either [Azure CLI](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/deploy-cli) or [PowerShell](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azresourcegroupdeployment?view=azps-8.2.0), one of the mandatory parameter is `ResourceGroupName `. If you do not update the scope in the bicep file, using `resourceGroup

[2022-08-04 09:10] SwathiDhanwada-MSFT commented on #96645
@neilghuman28 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-04 09:11] SwathiDhanwada-MSFT commented on #96651
@aj9411 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-04 09:14] AnuragSharma-MSFT commented on #96661
@semics-tech Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-04 09:15] AnuragSharma-MSFT commented on #96663
@ricowang-msft Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-04 09:22] abby984003004 opened #96669 "Cannot create vm from gallery image version by azure sdk"
Hi team, I have encountered a permission issue when using SDK to create disk from a gallery image across two tenants.  The issue only happens to SDK template across two tenants. No issue observed when running powershell and no issue observed when running SDK template under the same tenant.

SDK version: 57.0.0

The error looks like this:
The client has permission to perform action 'Microsoft.Compu

[2022-08-04 09:33] awlodge opened #96670 "ASE network setup docs unclear about the need to configure compute"
Under https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-configure-network-compute-web-proxy?pivots=single-node#configure-compute-ips, the doc says "Follow these steps to configure compute IPs for your Kubernetes workloads". However this is not only required for Kubernetes workloads but for VM workloads too - see https://docs.microsoft.com/en-us/azure/databox-online/

[2022-08-04 09:35] rextangtw opened #96671 "rule file json code is wrong and will not pass validation"
[Enter feedback here]
I followed the example and past the rule json code into display content session and it will keep giving the vc.type not exist error.
the json is wrong as it included vc.type inside attesttations, which should not be.

the docx on TokenHint how-to page had correct rules json to follow. we may want to update this to correct one to prevent user keep getting the error and not rea

[2022-08-04 09:37] niravmadariya commented on #96662
I changed
std::string fileName = "\\PF\\SAb.mycustomext";

with

std::string fileName = "PF/SAb.mycustomext";

And it worked ! :) Cheers ! :)

[2022-08-04 09:37] #96662 closed

[2022-08-04 09:38] SumanthMarigowda commented on #96670
@awlodge Thanks for the question! We are investigating and will update you shortly.

[2022-08-04 09:45] VikasPullagura-MSFT commented on #96669
@abby984003004
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-04 09:57] AronT-TLV opened #96672 "Azure login no longer works"
If you use the Github Action plugin from Azure for docker login you get an authentication error when you try to do a pull from/push to your ACR repository. (in my use case, during the docker build, the dockerfile does a pull of a base image from the ACR and thats where the error first exposes itself). To get it to work properly, I did a `RUN` command and did a `docker login` with the appropriate u

[2022-08-04 10:01] VikasPullagura-MSFT commented on #96672
@AronT-TLV
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-04 10:01] VikasPullagura-MSFT commented on #96672
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-08-04 10:03] SumanthMarigowda commented on #96662
@If there are further questions regarding this type of issue/ matter, I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. , please tag me in your reply. We will gladly continue the discussion. Thanks

[2022-08-04 10:04] lahaddad opened #96673 "Requirements section of Power BI integration page"
In the requirements section of [Power BI integration page](https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/power-bi#requirements), it is mentioned that for large imports that take longer than one hour, PAT token should be used instead of AAD auth. This is because AAD tokens have 1h lifetime and currently cannot be refreshed mid-import. However the statement in the docs is mislead

[2022-08-04 10:42] filipers opened #96674 "Timelines with the links don't match correctly"
The timelines for the chapter's links don't match correctly:

**From https://docs.microsoft.com/en-us/shows/mdc-in-the-field/servers-med-integration:**
[00:00](https://docs.microsoft.com/en-us/shows/mdc-in-the-field/servers-med-integration#time=00m00s) - Intro
[02:13](https://docs.microsoft.com/en-us/shows/mdc-in-the-field/servers-med-integration#time=02m13s) - Understanding MDE Integration with D

[2022-08-04 10:43] niravmadariya commented on #96662
Sure thing.

[2022-08-04 10:46] etec-masterofsynapse opened #96675 "Ubuntu netplan instructions incorrect"
The instructions for setting up DHCPv6 with Netplan on Ubuntu are incorrect.
They are instructing the user to simply edit the existing .yaml and change or add a "dhcp6: true" statement.
However, since Azure Linux VMs use cloud-init, this procedure doesn't work because the file will be overwritten on next reboot, as also stated in the file "50-cloud-init.yaml" itself:

Please add the correct proced

[2022-08-04 10:49] SnehaAgrawal-MSFT commented on #96653
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-04 11:02] Alex-Catalin opened #96676 "msExchResourceCapacity is not an attribute that is synchronized to Exchange Online"
According to internal work item https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/169600, the msExchResourceCapacity is not an attribute that is consumed by Exchange Online, even though it is synced to Azure Active Directory.

To set the capacity of a cloud synced room mailbox in a hybrid Exchange environment, we should run the cmdlet Set-Place in Exchange Online.

In conclusion, t

[2022-08-04 11:09] PriyankaRudramaina commented on #96664
@BenjaminHerbert,

Automatically upgrading a cluster follows the same process as manually upgrading a cluster. For more information, see [Upgrade an AKS cluster] (https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster).

The main difference between az aks upgrade when used with the **--node-image-only** flag is that, when it's used, only the node images will be upgraded. If omitted, both the n

[2022-08-04 11:16] batamig commented on #95526
Hi @jdyver, thanks for writing into docs! We're currently working through several of our legacy procedures, and I've added this one specifically our backlog handle and replace as needed.
I'm going to close this issue for now to prevent duplicate listings, but feel free to continue commenting here as needed.
Thanks for your contributions to docs!
#please-close

[2022-08-04 11:16] #95526 closed

[2022-08-04 11:22] batamig commented on #96183
Hi @guarismo, thanks for writing into docs! I've added an item to our backlog to add more details here, and we'll update the docs when those examples are ready. If you need more immediate help, please open a support ticket.
I'm going to close this ticket for now to prevent double-tracking, but feel free to continue commenting as needed.
Thanks for your contributions to docs!
#please-close

[2022-08-04 11:22] #96183 closed

[2022-08-04 11:28] batamig commented on #96608
Hi @EC-429, and thanks for writing into docs! I can pass your feedback on to the team directly, but also suggest that you make your feature request in the [Defender for IoT community](https://techcommunity.microsoft.com/t5/microsoft-defender-for-iot/bd-p/MicrosoftDefenderIoT), where our experts are directly at hand to respond.

I'm going to close this issue for now, but you can feel free to contin

[2022-08-04 11:28] #96608 closed

[2022-08-04 11:43] SiyabongaVulindlelaBlessingMngomezulu opened #96677 "This example does not work out of the box for v4 of azure Tools"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62965f3a-d852-cbe8-3d01-a5126a16c660
* Version Independent ID: 2af2bfc6-bf21-08c6-a874-467781a4af90
* Content: [Connect Azure Functions to Azure Cosmos DB using Visual Studio Code](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-o

[2022-08-04 11:51] kengaderdus commented on #96212
@raju-thorat

We've updated the document in another PR, and the changes are live. #please-close

[2022-08-04 11:51] #96212 closed

[2022-08-04 12:33] matkozak opened #96678 "Misleading documentation on Azure Monitor Python OpenCensus integration"
Hi,

I wasted quite some time trying to get the Python OpenCensus-based logging to write extra fields from Azure Functions in CustomDimensions. The [approach](https://docs.microsoft.com/en-us/azure/azure-monitor/app/opencensus-python#logs) laid out in the documentation works for me in a web app, but *not* in Azure Functions.

[azure-functions-python-worker](https://github.com/Azure/azure-functions

[2022-08-04 12:40] kengaderdus commented on #96224
@kjkent, @GiannisKout

We've updated the doc. And you're right @kjkent, your Microsoft Graph app needs the **Password Administrator** role, or if you need to do everything related to user management, you can assign it the **User Administrator** role, and you can do it right from Azure AD B2C blade.

[2022-08-04 12:45] SetTrend commented on #96607
Thanks for enlightening me!

From your valuable information I guess this issue is related to [#7819](https://github.com/Azure/bicep/issues/7819#issuecomment-1204328474). The docs on the Azure PowerShell Cmdlet [New-AzDeployment](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azdeployment) only read:

This is very sparse information. It doesn't get clear on when or where this c

[2022-08-04 12:52] #96224 closed

[2022-08-04 12:55] ElazarK commented on #96674
Thank you for bringing this to my attention the corrections is being made now.

[2022-08-04 12:55] ElazarK commented on #96674
#please-close

[2022-08-04 12:55] #96674 closed

[2022-08-04 13:04] axelgMS commented on #96339
added the step in https://github.com/MicrosoftDocs/azure-docs-pr/pull/206928

[2022-08-04 13:13] kjkent commented on #96224
@kengaderdus Thanks for such a speedy resolution, hopefully it helps the next person to run into this!

I actually found another eccentricity surrounding passwords and B2C — I'm not 100% sure whether it's a documentation issue or unexpected behaviour, but I believe there's a docs improvement to be made regardless. I'll make a new issue for that :).

All the best.

[2022-08-04 13:34] DNAAMIRZA commented on #95276
Hi, Is there any Update on this Guidance, We have also ran into this issue and don't see how SPO or EXO can be leveraged with Privileged Access Groups in a usable way

[2022-08-04 13:47] kengaderdus commented on #96224
@kjkent
Thank you for your feedback. Please create the new issue and we'll be glad to address it.

[2022-08-04 13:50] WKahnZA opened #96680 "Spelling and grammer"
In the below paragraph automatically is spelt incorrectly

Data collection rule. Azure Monitor agent uses [data collection rules](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/data-collection-rule-overview) to configure its data collection. VM insights creates a data collection rule that is automtically deployed if you enable your machine using the Azure portal. If you use other

[2022-08-04 13:52] mumurug-MSFT commented on #96677
@SiyabongaVulindlelaBlessingMngomezulu Thanks for your feedback. Can you please elaborate more about the issue/error you faced and language (C# or JavaScript)? That would help me in investigating the issue and update as appropriate.

[2022-08-04 13:53] gvanteylingen opened #96681 "Updates required to Shared storage configuration options section"
In section https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-vm-solutions#shared-storage-configuration-options please update/add following:

- Change following sentence and link from:

See [Oracle on Azure Deployment Best Practice Guide Using Azure NetApp Files](https://www.netapp.com/us/media/tr-4780.pdf) for best practice recommendations for operating an Oracle data

[2022-08-04 13:56] MonikaReddy-MSFT commented on #96678
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-08-04 13:56] SwathiDhanwada-MSFT commented on #96680
@WKahnZA Thanks for your feedback. We will review the issue and update the document accordingly.

[2022-08-04 13:57] gvanteylingen opened #96682 "Update required to Storage configuration section"
Please add following important note (in an important box):

**(i) Important**
For correct and optional deployment of Orace dNFS make sure to follow the patching guidelines as outlined [here](https://docs.microsoft.com/azure/azure-netapp-files/faq-nfs#oracle-dnfs)

This should be added after following paragraph:
If you plan to use Azure NetApp Files make sure the dNFS client is configured properly.

[2022-08-04 14:01] sidprasher opened #96683 "Regarding compute scale"
[Enter feedback here]
In the context of an Azure IR in a ADF managed vNet, what is the difference or relationship between the **Copy compute scale** defined for the IR and the compute scale defined for a **Copy Data Task** in a pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06

[2022-08-04 14:09] albertzarifa opened #96684 "The authorized domain "b2clogin.com" is not accepted in Google per documentations and gives an error saying "Missing domain: windows.net""
I am getting an error while trying to set up google as an identity provider to Azure AD b2c. The domain per documentations is b2clogin.com, however, that does not work.

Please help!
Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9d9c00-1382-c578-6b0d-7b5f9d63eebd
* Version Independent ID

[2022-08-04 14:12] larasawalha90 opened #96685 "Misleading paragraph to be reviewed"
[Enter feedback here]
The paragraph needs to be corrected "Additional settings are available for B2B collaboration with non-Azure AD identities (for example, social identities or non-IT managed external accounts)." As it implies these additional settings are only available for non-azure ad identities which is incorrect.

Instead you can use "Additional settings are available for B2B collaboration

[2022-08-04 14:13] Blackmist commented on #96530
@pietz Thanks for the feedback! I'll forward your feedback about the print statements & duplicated logs in log analytics to the Engineering team.

#please-close

[2022-08-04 14:13] #96530 closed

[2022-08-04 14:26] YashikaTyagi-MSFT commented on #96652
@nsmonty
This Feature is not available as of now. You can provide your feedback/ideas to the link given below. Product Team will work on
your Suggestion.
https://feedback.azure.com/d365community

[2022-08-04 14:38] #96605 closed

[2022-08-04 14:44] msangapu-msft commented on #90353
#please-close

[2022-08-04 14:45] msangapu-msft commented on #90353
#reassign: msangapu-msft

[2022-08-04 14:45] msangapu-msft commented on #90353
#please-close

[2022-08-04 14:46] msangapu-msft commented on #90353
LOL, it was already closed :)

[2022-08-04 15:18] Sean-FFC opened #96687 "X509 Certificate and NOT the Base64"
The certificate that Asana needs is the X509 certificate. The Base64 certificate will pass the AzureAD test but users will NOT be able to login.
If you download the Federation Metadata XML you can find the X509 Certificate in the XML. Pasting that in to Asana worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e850

[2022-08-04 15:23] MarileeTurscak-MSFT commented on #96687
@Sean-FFC
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 15:24] MarileeTurscak-MSFT commented on #96671
@rextangtw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 15:26] MarileeTurscak-MSFT commented on #96676
@Alex-Catalin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 15:29] nimblenitin opened #96688 "error on using global reader role"
I am trying to assign ad role- global reader to service principal in terraform. I says role not found. Want to know whether I can assign ad role to service principal or only rbac role.

I am getting this error on trying to assign global reader role to service principal-

Error: loading Role Definition List: could not find role 'Global Reader'
│
│ with module.infrastructure_cloud-scanner-app.azurer

[2022-08-04 15:33] MarileeTurscak-MSFT commented on #96685
@larasawalha90
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 15:33] MarileeTurscak-MSFT commented on #96688
@nimblenitin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 15:57] roszikg commented on #48662
I could not find a way to pull this info via graph api, but the saml signing cert can be retrieved from the metadata URL which is public via this method:

`$saml_certificate = if($sp.Tags -Contains "WindowsAzureActiveDirectoryCustomSingleSignOnApplication"){
	                        $SamlMetadata = New-Object -TypeName  System.Xml.XmlDocument
                            $SamlMetadata.Load("$($FedM

[2022-08-04 16:02] TWolverson opened #96691 "How are you supposed to use volumes?"
I am trying to run an [existing docker-compose file](https://github.com/gs1/GS1_DigitalLink_Resolver_CE/blob/master/docker-compose.yml) via `New-AzureServiceFabricComposeDeployment` and get an error:

`Unable to parse Volume - resolver-document-volume:/data/db`

Why?

I can appreciate that if there is no visible Docker command line in the context I am running this, it stands to reason that I would

[2022-08-04 16:03] tbecks opened #96692 "Change step to fix pglogical replication process."
Step 2 of pglogical extension needs to be updated.  you can not grant the role as we do not have access to a superuser, so the only step for this should be to run: "ALTER ROLE myUser replication".  This should be run on the master.

This will fix the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7e3fa6-b282-5

[2022-08-04 16:04] tbecks commented on #96642
@Oury-MSFT I've resolved the issue.  I logged a new issue with the resolution (sorry I should have kept this thread).  Let me know if the documentation can be updated.

[2022-08-04 16:08] MonikaReddy-MSFT commented on #95805
@satishrabari - Editing the favicon is in private preview now in the azure portal. Not sure when it will go worldwide.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-04 16:08] #95805 closed

[2022-08-04 16:08] dcc1165 opened #96693 "No Advanced Settings"
Under the **Temporarily move pagefile.sys to C drive**, Step 3, there is no _Advanced System_ Settings_ choice in Windows 2019.  I was able to find it by goin to Settings (from the Start menu), search for "Performance", click "System" and the window that appears has "Advanced System Settings".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-08-04 16:10] normesta commented on #77553
I believe the doc now has this example. Thank you!

#please-close

[2022-08-04 16:11] #77553 closed

[2022-08-04 16:13] MarileeTurscak-MSFT commented on #96684
@albertzarifa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 16:17] fei0x opened #96694 "Shouldn't Web App flow be different?"
For the Web Application portion of this page, it appears to me as it is describing the Implicit Flow as the best way to do Web App authentication. But my recent research is showing me that everybody (Including Microsoft) is moving away from Implicit Flow and switching to Code Flow (with PKCE) for SPAs. But shouldn't the want to move away from Implicit flow also apply to Web Applications? My expect

[2022-08-04 16:21] ShaikMaheer-MSFT commented on #96667
@Robert-Kostecki Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-04 16:22] kobulloc-MSFT commented on #96693
@dcc1165 Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-08-04 16:22] Oury-MSFT commented on #96642
@tbecks Could you please point me to the doc where it says ""Currently pglogical replication and administration requires superuser privileges. ....". I was not able to find in this [doc](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-logical).

[2022-08-04 16:32] zenobardot opened #96695 "Account type clarification"
Like many users, I dropped into this page out of the blue (someone handed me a link, but I could have also come in via Google).

It would be helpful to clarify at the top what account type is being discussed, even it it seem obvious. It could be Azure account type (personal, enterprise, etc.), it could be email account type (based on some part of the email domain), it could be Azure user account t

[2022-08-04 16:32] Oury-MSFT commented on #96628
@sunilagarwal Could you please shed some light on the above feedback from customer.?

[2022-08-04 16:35] tbecks commented on #96642
@Oury-MSFT its the link on step 1.b. pglogical.  If you look at that document under limitaitons, you will see "Superuser is required"

Document link is this one: https://github.com/2ndQuadrant/pglogical#limitations-and-restrictions

[2022-08-04 16:36] zr-msft commented on #96664
#please-close

[2022-08-04 16:36] #96664 closed

[2022-08-04 16:43] vasiutina-alevtyna commented on #27344
Hi, does anyone found a workaround for this issue please?

[2022-08-04 16:56] noumanmanan-msft opened #96697 "Stale screenshots and outdated information for EventHub Private Endpoint creation"
[Enter feedback here]
Hello,
The screenshots and the steps to create a private endpoint for Azure EventHub has changed and the screens look different from what they are shown and used here.

Kindly update the information on this page as I have few customers that are looking to utilize Private Endpoints using Private Link Services and they are not able to create it.

I would appreciate a quick turn

[2022-08-04 16:57] Oury-MSFT commented on #96692
@tbecks Thank you for your feedback. We will check and update the doc.

[2022-08-04 16:57] MarileeTurscak-MSFT commented on #96676
Thanks! I made a pull request to note that it the comment section. https://github.com/MicrosoftDocs/azure-docs-pr/pull/206944

[2022-08-04 16:57] #96676 closed

[2022-08-04 17:00] PYouderian opened #96698 "Consider Adding a Simplified Table of Contents or List Summary."
Just something I thought I would point out, but it would be really nice if this article had a bit more structure. This could be in the article itself, in the table of contents, or in a separate navigation tool, but the full list of classifications without any organization beyond alphabetical is a bit mind numbing.

I would recommend adding a hierarchy of some sort to the list either by country or

[2022-08-04 17:05] PYouderian opened #96699 "Friendly Name Contradiction"
Your text and your screen cap example directly contradict each other when it comes to how Friendly Names are generated for Classifications. The text reads:

While the screen capture immediately below it displays the friendly name as "HR.EMPLOYEE ID" in full caps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d5a3b2b-

[2022-08-04 17:06] TF-Jonny opened #96700 "generateSASToken 401 error fix"
[Enter feedback here]

generateSASToken function returns 401 error. Function below works correctly

    private function generateSasToken($uri)
    {
        $expiresInMins = 60 * 60;
        $totalSeconds = time();
        $expires = $totalSeconds + $expiresInMins;
        $toSign = rawurlencode($uri) . "\n" . $expires;

        $signature = rawurlencode(base64_encode(hash_hmac('sha256', $toSign,

[2022-08-04 17:18] VinnyBonner opened #96701 "Add section for HostId Collision, which could cause Azure Runtime is Unreachable error."
Another issue I have found that could cause the "Azure Runtime is Unreachable" is hostId collision, because the host could not obtain the lease lock. (https://github.com/Azure/azure-functions-host/wiki/Host-IDs)

Would be good to add a section about hostId collision and a way to validate if it could be the case. Such as take the first 32 char of the function app name and search in the top bar and

[2022-08-04 17:18] paul-baron commented on #69790
It is amazing how people talk about something without saying anything.

[2022-08-04 17:34] MartinJaffer-MSFT commented on #96555
Ahh, here is the confusion @abhayea .  Shorten the timeout.  After the activity times out, THEN the output exists = false.

The idea of validation activity, is to make the pipeline wait until data is ready.  Personally, I feel the behavior and name do not match, and are kind of misleading.  So if the data is never ready, then it is failure.

effectively, validation activity packages a lookup and a

[2022-08-04 17:38] MartinJaffer-MSFT commented on #96555
You were very close on the logic, @abhayea  .  See image below.

![image](https://user-images.githubusercontent.com/46612670/182914985-1664e13e-d60f-48b9-8bee-bdf69454000c.png)

[2022-08-04 17:39] MarileeTurscak-MSFT commented on #96694
@fei0x
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 17:43] satishrabari commented on #95805
@MonikaReddy-MSFT Can you please provide me the step for How can I change it?

[2022-08-04 17:48] mike-urnun-msft commented on #96666
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-04 17:48] mike-urnun-msft commented on #96665
Thank you for your feedback! We will review and update as appropriate.

[2022-08-04 17:50] mike-urnun-msft commented on #96701
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-04 17:54] khdownie commented on #96343
@koder101 thanks for bringing these outdated screen shots to our attention. I have updated them to match the current UX:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-quick-create-use-linux#create-an-nfs-azure-file-share

@SumanthMarigowda this issue can now be closed.

[2022-08-04 17:54] david-haugh opened #96704 "Broken link"
Hi, there appears to be a broken link "Domain hint" at the bottom of this page. If that information is available, please feel free to paste it here. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f308c4-9c2a-06c6-d460-5b4b9ed3877f
* Version Independent ID: 9ffaa9db-650b-a250-0e16-b450d69cc3f3
* Content: [Set

[2022-08-04 17:54] mksuni opened #96706 "SSH to VM experience is not accurate in the document"
The section below with the connect button does not work as define here in the actual portal. The current experience in the portal is different than the tutorial. Can this be updated to show how to SSH to VM from cloud shell

SSH into your Linux VM
   Search for your VM name in the Azure portal search bar.
   Click "Connect" to get your VM name and public IP address.
        Screenshot showing how

[2022-08-04 17:56] MarileeTurscak-MSFT commented on #96704
@david-haugh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 18:00] MarileeTurscak-MSFT commented on #96704
Hi @david-haugh , it looks like it was linking to the response mode section of the documentation, rather than the domain hint section. I made a pull request to update the link: https://github.com/MicrosoftDocs/azure-docs-pr/pull/206954

It should point here: https://docs.microsoft.com/azure/active-directory-b2c/identity-provider-generic-openid-connect?pivots=b2c-user-flow#domain-hint

[2022-08-04 18:00] #96704 closed

[2022-08-04 18:12] waltonchiang opened #96707 "Synapse PrivateLinkHubs wrong subresource type"
Microsoft.Synapse/privateLinkHubs subresource type should be "web" instead of  "synapse", according to Azure Portal GUI and resource JSON:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is a priv

[2022-08-04 18:13] DerekHerman-MSFT commented on #96619
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-04 18:32] JeffGiroux opened #96709 "What is BGP peering limit for Azure vHub router"
[Enter feedback here]

This page is helpful but it doesn't state the max number of BGP peers. If there is no max, it should state so. For example, Azure Route Server has a max of 8 BGP peers per Route Server. Azure vHub has its own hub router. What is the max BGP peers for each hub router?

https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-bgp-peering-hub
---
#### Document Details

⚠ *Do

[2022-08-04 18:34] KranthiPakala-MSFT commented on #96673
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-04 18:35] jlichwa commented on #96160
If there are any more questions, please create new issue.
#please-close

[2022-08-04 18:35] #96160 closed

[2022-08-04 18:36] KranthiPakala-MSFT commented on #96683
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-08-04 18:37] KranthiPakala-MSFT commented on #96697
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-04 18:42] jlichwa commented on #96475
@kudlatiger in this tutorial we use webhook for event grid notifications for automation runbook so you can write logic to rotate.
For alerts you can use Logic Apps and either email or send to Teams channel, there is 100s of connectors, example here:
https://docs.microsoft.com/en-us/azure/key-vault/general/event-grid-logicapps

[2022-08-04 19:00] GitaraniSharma-MSFT commented on #96707
@waltonchiang , thank you for your feedback. We'll review this and get back to you shortly!

[2022-08-04 19:11] sidprasher commented on #96683
Thanks for the response.
I am trying to understand the documentation - specifically https://docs.microsoft.com/en-us/azure/data-factory/managed-virtual-network-private-endpoint#pipeline-and-external-activity
The DIU tool tip states "Specify the powerfulness of the copy executor." which is the same as the text for the Copy task in a pipeline which states "Specify the powerfulness of the copy execut

[2022-08-04 19:13] AjayKumar-MSFT commented on #96444
mreadsma, After initial check, your feedback has been shared with the content owner for further review.

[2022-08-04 19:28] MarileeTurscak-MSFT commented on #96695
@zenobardot
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-04 19:36] ysmu commented on #96530
Hi @pietz, I look into the two issues. Can you share the startup portion of deployment log (the logs up to when the server is ready to serve requests) and the `conda.yaml` you deployed with?

[2022-08-04 19:48] pinkfloydx33 commented on #60995
Having the same issue. `An unexpected error occurred while trying to validate user.`

SPN *or* MI is in our AAD Admin Group. We can connect as the identity using the group login and can do any administrative task *except* assign `azure_ad_user` to another user/role. I've tried every trick/suggestion listed above.

We are automating our processes and we are leveraging ARM `DeploymentScripts` to fin

[2022-08-04 19:54] mhaarbrink opened #96711 "Need clarity on VM address space"
The Microsoft documentation across this and other networking pages provides very little information on planning for the VM subnets where workloads will run.  It would be very valuable to add a note to these and other pages saying "the /22 network does NOT provide space for any workloads.  For information on planning VM subnet sizes and how to implement those along other networks, see this page."

[2022-08-04 20:08] suzizuber commented on #96711
#reassign: @rvandenbedem

[2022-08-04 20:08] suzizuber commented on #96711
@rvandenbedem please verify the technical aspects of this customer feedback.

[2022-08-04 20:15] wba-josh-hetland commented on #46797
I am also interested in the answer to this question

[2022-08-04 20:24] AZGabe opened #96712 "Update the Changing PO Number Process Instructions."
[An update in process internally referenced that cx can no longer update PO via the EA Portal (ea.azure.com) but rather they have to do it via the Azure Portal(portal.azure.com). Section in the link below needs to be updated to reflect the new process, please. Thank you.]

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-enrollment-invoices#change-a-po-number-for-an-

[2022-08-04 20:30] davidpomerenke opened #96713 "Support page for the partner center is broken (please redirect)"
I want to publish an addin via the partner center, but I am having a specific issue there for which I would like to contact the support of the partner center. The problem is that the support page of the partner center is broken, there is just an endlessly spinning spinner in both Firefox and Chrome, see the screenshot below. The console logs this, I am not sure whether it is of relevance:

[code]

[2022-08-04 20:45] suzizuber commented on #96310
#reassign: @rvandenbedem

[2022-08-04 20:46] suzizuber commented on #96310
@rvandenbedem please verify the correct CIDR notation, thank you.

[2022-08-04 20:59] mbender-ms commented on #77400
@GitaraniSharma-MSFT Please remove label virtual-network/svc. Thanks!

[2022-08-04 21:01] mbender-ms commented on #51549
@TravisCragg-MSFT Please add dns/svc label and remove label virtual-network/svc. Thanks!

[2022-08-04 21:04] grminch commented on #55649
The current UI appears to match the article. This might have been fixed since the issue was reported. #please-close

[2022-08-04 21:04] #55649 closed

[2022-08-04 21:06] MarileeTurscak-MSFT commented on #96684
@alberzarifa can you please share a screenshot of your error message?

[2022-08-04 21:06] mbender-ms commented on #59677
@TravisCragg-MSFT Please add dns/svc label and remove label virtual-network/svc. Thanks!

[2022-08-04 21:07] mbender-ms commented on #74915
@SaiKishor-MSFT Please add dns/svc label and remove label virtual-network/svc. Thanks!

[2022-08-04 21:09] mbender-ms commented on #80110
@GitaraniSharma-MSFT Please remove label virtual-network/svc. Thanks!

[2022-08-04 21:09] mbender-ms commented on #94684
@ChaitanyaNaykodi-MSFT Please add dns/svc label and remove label virtual-network/svc. Thanks!

[2022-08-04 21:09] MarileeTurscak-MSFT commented on #96685
Thanks! I made a pull request to update the paragraph. https://github.com/MicrosoftDocs/azure-docs-pr/pull/206975

[2022-08-04 21:09] #96685 closed

[2022-08-04 21:12] grminch commented on #61981
I'm closing this issue due to inactivity following author's response. #please-close

[2022-08-04 21:12] #61981 closed

[2022-08-04 21:19] MarileeTurscak-MSFT commented on #96688
Yes, you can assign an Azure AD role to a service principal. Your role definition has to have the subscription as an assignable scope.

It seems like it's an issue that happens using terraform and some have been able to resolve it by using the role_definition_id in place of role_definition_name

https://github.com/hashicorp/terraform-provider-azurerm/issues/669

Since this seems to be more of a te

[2022-08-04 21:19] #96688 closed

[2022-08-04 21:23] grminch commented on #61981
P.S., the 4Kb limit for JWT and header length is now documented in https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#access-token-too-long.

[2022-08-04 21:26] grminch commented on #66046
Closing this issue due to inactivity. #please-close

[2022-08-04 21:26] #66046 closed

[2022-08-04 21:32] cvanelli-ducks opened #96714 "What to do with defective component?"
There are no instructions on what to do with the defective component.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b80fab-33fb-586b-6fde-696da83fefbb
* Version Independent ID: f0e444ef-c9bf-f916-f752-3939745fdad1
* Content: [StorSimple 8000 series hardware component replacement](https://docs.microsoft.com/en-us/azu

[2022-08-04 21:50] abhayea commented on #96555
actually its the opposite. @MartinJaffer-MSFT

since '_validation_' activity checks if a file exists or not, and **only** succeeds if the file does exist giving an outcome of: "exists":true .

So, if the file does exist, the outcome is :  "exists":true which is correct and _validation_ activity does what it's supposed to. Since the file already exists, it should send out an alert saying Duplicate

[2022-08-04 22:08] KSchlobohm commented on #95977
This seems related https://github.com/Azure/azure-cli/issues/23443

[2022-08-04 22:09] abhayea commented on #96555
Oh! I take my case back.

So I copied 4 files, which already existed in the destination.  3 out of 4 pipeline runs performed correctly, giving a response of _Duplicate file detected_

event 1: worked as it should
event 2: worked as it should
**event 3: Strange Behaviour!**
event 4: worked as it should

![image](https://user-images.githubusercontent.com/66797773/182960252-71dc60de-93bf-4a52-95c5-e9

[2022-08-04 22:27] flang-msft commented on #94042
Thanks for the doc input! I've made a change in our text that you should see in a future update of this article. I think the change clarifies the intent after it is localized. According to our usual policy, I'll now proceed to close this issue. If you have further information or would like to continue the discussion, please tag me and I'll reopen the issue. Thank you!

[2022-08-04 22:27] billspat opened #96715 "Example uses a deprecated interface"
The example provided for creating an app service with Terraform  has the line `resource "azurerm_app_service"`

On the [Terraform documentation page ](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service) for `azurerm_app_service` it says this is deprecated:

Having working examples like this are very helpful but this one should be updated.

---
#### Document

[2022-08-04 22:36] tanktopSecurity opened #96716 "Unknown Status"
Under section "Status of VMs", there's another status possible for a VM under the control of Automanage. I have a VM with status "Unknown" with a question mark.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7327d9ed-171b-67df-fd1b-b1a748e81dcb
* Version Independent ID: aa88c15d-b283-86cb-fbe6-2b99ad5d0745
* Content: [

[2022-08-04 22:44] tanktopSecurity opened #96717 "Link has extra "S""
The link at the bottom of the page "[Endpoint protection recommendations in Microsoft Defender for Clouds]" has a "s" at the end where it shouldn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556effb7261c
* Content: [Microsoft An

[2022-08-04 22:46] ilantom commented on #82452
@manish1635 I'm experiencing the same issue? Any suggestions on how you resolved it?

[2022-08-04 23:04] JohnBreault opened #96719 "Conflicting information in Service Tags doc"
Either it's conflicting or, at the very least, confusing. The section **Available Service Tags** has the statement,

but the table of service tags just below that shows `AzureCloud` as **Outbound**.

![image](https://user-images.githubusercontent.com/74558611/182967816-28e9a5ac-8461-49d5-8adc-d9314ea38ab4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-08-04 23:09] rativerma opened #96720 "The code to transform table is wrong"
It should be "| parse RawData.value with" instead of "| parse RawData with "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1962f4b-74fb-74cf-fbbe-3a15ef34d3ea
* Version Independent ID: d3123a85-673c-e31f-4e28-e4f44ae9e7a2
* Content: [Tutorial - Send data to Azure Monitor Logs using REST API (Azure portal) - Azure Mon

[2022-08-04 23:10] nashuatek opened #96721 "Clarity on why there is no "Key Vault Certificates User" role"
https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli#azure-built-in-roles-for-key-vault-data-plane-operations

Can we make a note section beneath this table that there is no "Key Vault Certificates User" role, as it uses the "Key Vault Secrets User" role to retrieve certificates?

It's explained in [this](https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-g

[2022-08-04 23:18] deruss opened #96722 "Launch static site"
Hi, it would be nice to see official acknowledgement that launching a static site with 'npx serve -s' (as the startup command) is supported.

For those looking for explanation, the -s argument causes rewrite of all not-found requests to 'index.html'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896b5d4c-ac3b-f0a2-510

[2022-08-04 23:18] BhargavaGunnam-MSFT commented on #96491
Hello @axcap,
You seem to be using the parameters incorrectly in the data flow, causing this error. Please look into this video below and document and see if it helps.

https://www.youtube.com/watch?v=vpuuQcFojt8&ab_channel=AzureDataFactory

https://docs.microsoft.com/en-us/azure/data-factory/parameters-data-flow

If you have any further questions, please let us know.

[2022-08-04 23:27] ilantom commented on #36458
I have the following code:

[code]

With this, I see the functions in production slot getting removed during deployment. What am I missing?

[2022-08-04 23:44] joaonunatingscode commented on #90647
@christcottrell As part of the docs provided in your **Content** ([link](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-angular-auth-code)), the Angular project which was created uses the option `--strict=false` which disables _stricter type checkings_ and _stricter bundle budgets settings_ checkups.
In order to use the code as is provided just use that option:
`ng new

[2022-08-05 00:32] kobulloc-MSFT commented on #96693
@dcc1165 It looks like these instructions were written for specific versions of Windows.  I'm doing some additional investigation.

![image](https://user-images.githubusercontent.com/37556655/182977337-fb674fff-7a98-4f50-8e45-6e81495dd831.png)

[2022-08-05 00:53] kobulloc-MSFT commented on #96693
@dcc1165 It looks like in all systems, searching for advanced system settings will get you on the right track.  I'll get a PR out to address this.

![image](https://user-images.githubusercontent.com/37556655/182979062-19cc3d34-7622-406f-9da3-89e74e1d2a1e.png)

[2022-08-05 01:23] jkbrookes2 opened #96727 "This page and the Azure Hybrid Benefit page contradict eachother"
This page says that Azure Hybrid Benefit does not apply to the serverless Azure Database while the Azure Hybrid Benefit page says that it does apply and even provides instructions on how to apply the benefit
https://docs.microsoft.com/en-us/azure/azure-sql/azure-hybrid-benefit?tabs=azure-powershell&view=azuresql#azure-sql-database

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-08-05 02:45] Shoplift3020 commented on #96577
https://m.facebook.com/recover/code/?ph%5B0%5D=%2B61421453661&rm=send_sms&spc=0&fl=default_recover&try=1&c=%2Flogin%2F

Wtf is this

[2022-08-05 02:46] Shoplift3020 commented on #92044
https://m.facebook.com/recover/code/?ph%5B0%5D=%2B61421453661&rm=send_sms&spc=0&fl=default_recover&try=1&c=%2Flogin%2F

[2022-08-05 02:46] Shoplift3020 commented on #92044
@SumanthMarigowda

[2022-08-05 02:47] Shoplift3020 commented on #92044
Sorry I have no idea what I'm doing aye

[2022-08-05 02:47] Venkateshdodda-MSFT commented on #96715
@billspat Thank you for your feedback! We will review and update as appropriate.

[2022-08-05 02:50] KrishnaG-MSFT commented on #96706
@mksuni Thanks for the feedback.
Assigning to @maertendMSFT for visibility, review and document enhancement consideration as appropriate.

[2022-08-05 03:10] #95250 closed

[2022-08-05 03:54] CHEEKATLAPRADEEP-MSFT commented on #96698
@PYouderian  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-05 03:55] CHEEKATLAPRADEEP-MSFT commented on #96699
@PYouderian  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-05 04:02] MughundhanRaveendran-MSFT commented on #96450
@HariKrishnaRajoli-MT , This seems to be troubleshooting question rather than document enhancement. I will sync with you offline and provide necessary updates. If there are changes required, I will modify the documentation accordingly. I will close this issue for now. Thanks

[2022-08-05 04:02] #96450 closed

[2022-08-05 04:07] SnehaAgrawal-MSFT commented on #96700
@TF-Jonny Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-05 04:09] SnehaAgrawal-MSFT commented on #96722
@deruss Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-05 04:30] NageswariVaradarajan opened #96729 "Activity logs for Azure RBAC changes doesn't contain the user who got access to"
The page "View activity logs for Azure RBAC changes" gives the instructions on how to get RBAC audit log, the information has details of the caller, but the audit log information doesn't contain the details of user who was actually assigned a role or added or deleted from a role assignment.

For example user A added User B to a subscription as Contributor. The activity log doesn't show any info ab

[2022-08-05 04:37] KapilAnanth-MSFT commented on #96709
Hi @JeffGiroux , thanks for your feedback. We will review this and get back to you shortly.

[2022-08-05 04:56] AnuragSharma-MSFT commented on #96727
@jkbrookes2 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-05 05:30] frasermclean commented on #72019
Just stumbled across this and I am facing the same issue while trying to use Okta as a IDP.

[2022-08-05 05:34] nrao-optumserve opened #96730 "The feature 'EnableOIDCIssuerPreview' could not be found"
After installing the preview extension, trying to enable the OIDC issuer preview I get:

[code]

I am in Azure Gov if that makes a difference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3cf3
* Version Independent ID: cc199e1d-6737-5f52-f2a2-b6c0b603dbdc
* Content: [Cluster configurat

[2022-08-05 05:38] SumanthMarigowda commented on #96714
@cvanelli-ducks Thanks for the question! We are investigating and will update you shortly.

[2022-08-05 05:39] VikasPullagura-MSFT commented on #96691
@TWolverson
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-05 05:39] VikasPullagura-MSFT commented on #96691
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-08-05 05:42] VikasPullagura-MSFT commented on #96730
@nrao-optumserve
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-05 05:54] #96520 closed

[2022-08-05 05:55] #96521 closed

[2022-08-05 05:59] ShaikMaheer-MSFT commented on #96576
@mssaperla & @leifbro Could you please validate customer feedback and update document as appropriate? Thank you.

[2022-08-05 06:00] ShaikMaheer-MSFT commented on #96667
@mssaperla & @leifbro Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-08-05 06:01] Sandeg-MSFT commented on #96717
@tanktopSecurity
Thank you for pointing this out to us. We will check on this and will get back to you on this.

[2022-08-05 06:03] Sandeg-MSFT commented on #96682
@gvanteylingen
Thank you for the update. We will investigate this further and will get back to you.

[2022-08-05 06:05] VikasPullagura-MSFT commented on #96682
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2022-08-05 06:07] VikasPullagura-MSFT commented on #96716
@tanktopSecurity
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-05 06:07] VikasPullagura-MSFT commented on #96716
@mmccrory
Can you please check and add your comments on this doc update request as applicable.

[2022-08-05 06:09] Sandeg-MSFT commented on #96712
@AZGabe
Thank you for the update. We will investigate this further and will get back to you.

[2022-08-05 06:13] Sandeg-MSFT commented on #96713
@davidpomerenke
Thank you for reaching out to us. We will investigate this further and will get back to you.

[2022-08-05 06:21] kev-in-shu opened #96731 "Mismatch about Accelerated Networking support between API response and documentation pages"
This pages suggest using `az vm list-skus` to identify the VM sizes that are support Accelerated Networking.

However, there are inconsistencies between what is reported by that tool and what is found in the documentation.

For example, NCv3 series are documented as unable to use Accelerated Networking, but the API does not show that

Output of az command
[code]

Documentation page
![image](https:

[2022-08-05 06:45] Venkateshdodda-MSFT commented on #96715
@billspat Thanks for reporting this issue. I was able to reproduce this issue at my end. please refer below screenshots.

![image](https://user-images.githubusercontent.com/103091186/183017800-737d9b3a-a9ad-4644-bcb7-a924380ebc22.png)

However, i am tagging document author here so that necessary doc changes can be made.

[2022-08-05 06:45] Venkateshdodda-MSFT commented on #96715
@seligj95 Can you please check and update the document as appropriate.

[2022-08-05 06:56] #96652 closed

[2022-08-05 06:57] axcap commented on #96491
Hello @BhargavaGunnam-MSFT and thank you for your reply.
I believe there was a misunderstanding, i'm not using data flow parameters. The QueryParameters i'm refering to are for PaginationRules in Rest connector. I managed to get it working in Copy activity, but not inside my data flow using the same values for Rest connector. That's why i was wondering if the code for Rest connector differs from a

[2022-08-05 06:57] dani3lheidemann opened #96732 "AVD ShortPath for Public troubleshooting script does not give clear outputs"
Hi Azure Team,

I'm struggling to get AVD ShortPath for public up and running through a third party NVA.
However, in one of my test cases, I had the following setup:

- AVD Client
- Routes everything (0/0) directly to Internet

I re-ran [the troubleshooting script](https://docs.microsoft.com/en-us/azure/virtual-desktop/shortpath-public#verifying-stun-server-connectivity-and-nat-type) and recognize

[2022-08-05 07:11] fhackett-ms commented on #95928
Hello @abinav2307 - just checking in: is there any progress on answering, or at least commenting on this issue to some degree?
My project that lead to these questions is based on studying Cosmos DB's publicly-available semantics, and having at least some feedback from the documentation authors would be valuable during wrap-up.

[2022-08-05 07:32] VikasPullagura-MSFT commented on #96730
@nrao-optumserve

I have confirmed from internal team that currently this is not supported for Azure Gov and it will be supported on GA.

The document will be updated soon.

[2022-08-05 07:55] kohei-miyoshi opened #96734 "We want additional information about Authentication flow."
In the section "Authentication flow", it is better to explain about cookie more detail.
Everybody can't know what name of cookie is used easily now.

Please add above information.
e.g.

| Step | Without provider SDK | With provider SDK |
| - | - | - |
| 3. Establish authenticated session | App Service adds authenticated cookie (`AppServiceAuthSession`) to response. | App Service returns its own au

[2022-08-05 08:00] asset-web opened #96735 "Possible typo in documentation init.py vs __initi__.py"
See test "Update the Python code file init.py"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azur

[2022-08-05 08:02] codeminic opened #96736 "Update UID's used for edgeAgent and edgeHub modules v1.3"
The docs should be updated to include the new UID's used in the iot edge system modules for v1.3

* [New UID edgeAgent](https://github.com/Azure/iotedge/blob/main/edge-agent/docker/linux/amd64/Dockerfile)
* [New UID edgeHub](https://github.com/Azure/iotedge/blob/main/edge-hub/docker/linux/amd64/Dockerfile)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-08-05 08:22] Sandeg-MSFT commented on #96721
@nashuatek
Thank you for pointing this out. We have document author looking into this. We will share an update accordingly

[2022-08-05 08:25] Sandeg-MSFT commented on #96719
@JohnBreault
Thank you for sharing this with us. We will investigate this further and will get back to you.

[2022-08-05 08:35] CHEEKATLAPRADEEP-MSFT commented on #96457
@spelluru - Could you please confirm the max size of a batch?

[2022-08-05 08:45] nduc4nh opened #96737 "Solution does not work"
[Enter feedback here]
This doesn't work to me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f102b5ad-f6a9-9ab6-913f-98f5c7559f8f
* Version Independent ID: 0f5d7c5d-4514-6b2a-4518-33ad76a578b4
* Content: [Azure Synapse Dedicated SQL Pool Connector for Apache Spark - Azure Synapse Analytics](https://docs.microsoft.com/e

[2022-08-05 08:46] #96737 closed

[2022-08-05 08:47] nduc4nh opened #96738 "Solution does not work"
[Enter feedback here]
This does not work to me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d891a17-4899-163d-535d-13a3386996bf
* Version Independent ID: add13712-7e7e-aff4-b482-2bf4c6e60510
* Content: [Apache Spark job fails with Parquet column cannot be converted error - Azure Databricks](https://docs.microsoft.co

[2022-08-05 08:51] paulspinkstr commented on #52241
I also just ran into this completely unexpectedly. For me it seems to be at least 8 hours before Key Vault applies any update to Managed Identities in AAD Groups for Azure Functions. Even removing and re-adding the group to the Vault Access Policy has no effect.

[2022-08-05 09:06] dimilider opened #96741 "Explanation traces"
Hey, in the picture (https://docs.microsoft.com/en-us/azure/azure-monitor/media/overview/azure-monitor-overview-optm.svg) traces are shown as one part of the data platform, but it is not explained what traces are - this is a bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d

[2022-08-05 09:14] axelgMS commented on #96339
live on https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image#set-windows-configurations-for-azure

@craiglandis  can you check if that's ok ?

[2022-08-05 09:15] AnuragSharma-MSFT commented on #96472
@geertvl Thanks you for noticing the issue and creating a PR to update it. Really appreciate.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-08-05 09:15] #96472 closed

[2022-08-05 09:18] AnuragSharma-MSFT commented on #96447
@SudhirRaparla Could you please look into this ask?

[2022-08-05 09:24] GitaraniSharma-MSFT commented on #96731
@kev-in-shu , thank you for your feedback. We have assigned this to the content owner/author for review.

@steveesp , could you please review the feedback and provide your inputs?

[2022-08-05 09:31] peteredwards opened #96743 "Instructions on this page are not correct"
I tried the instructions on this page to publish a jekyll powere github pages site to an azure static web app, but found the instructions in this thread worked

https://github.com/Azure/static-web-apps/issues/253

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1532547-d8ef-bdea-4164-4f617a249eb5
* Version Independent I

[2022-08-05 09:52] SadiqhAhmed-MSFT commented on #96713
@davidpomerenke Partner can create a support case from Partner Center portal: https://docs.microsoft.com/en-us/partner-center/report-problems-with-partner-center and https://docs.microsoft.com/en-us/partner-center/support-from-microsoft

[2022-08-05 09:59] AshokPeddakotla-MSFT commented on #96736
@codeminic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-05 10:00] SnehaAgrawal-MSFT commented on #96117
@SteveHindmarsh Apologies for late response here. Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.