[2020-12-03 07:06] CHEEKATLAPRADEEP-MSFT commented on #67051
@luizs81  Thanks for the question! We are investigating and will update you shortly.

[2020-12-03 07:09] singhyajat opened #67060 "hmbb"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for zoom.us ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Common problems with account two factor authentication - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-auth

[2020-12-03 07:10] #67060 closed

[2020-12-03 07:14] CHEEKATLAPRADEEP-MSFT commented on #67054
@htetik  Thanks for your contribution, we've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/139749](https://github.com/MicrosoftDocs/azure-docs-pr/pull/139749)

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-12-03 07:14] #67054 closed

[2020-12-03 07:18] SnehaAgrawal-MSFT commented on #66864
@IgnacioAlvarezArenas Thanks again for the feedback! When Auto Renewal is On and using Azure Portal deployment method and when the App Service Certificate is renewed, all the corresponding App Service SSL bindings are updated automatically but if you are deploying local PFX copy and when a certificate is renewed, you would need to manually update all the services that are using a local copy and it

[2020-12-03 08:11] dcurwin commented on #67034
#please-close

[2020-12-03 08:11] #67034 closed

[2020-12-03 08:20] chwilfing opened #67061 "MFA requirement not detected for classic subscription service owner"
It seems that subscriptions with classic administrators (PAYG Subscription, Service Administrator) which are MFA enforced by conditional access policies are shown as non MFA enabled even if this is not true. The same error is not shown on an ARM only subscription (CSP Source) of the same directory with the same user account. therefore we expect this to be an bug in the security center? maybe this

[2020-12-03 08:33] Klaas- commented on #66871
There is a note above the table, about 7RAW not being updated anymore ... Maybe also note that in the table and remove the 7-RAW sku.

[2020-12-03 08:33] #66871 closed

[2020-12-03 09:17] amanmcse commented on #67061
@chwilfing Thank you for your feedback . We will investigate and update the thread further.

[2020-12-03 09:18] SychevIgor commented on #66737
![image](https://user-images.githubusercontent.com/578954/100989180-9aca9680-3561-11eb-9163-325cbe10fb64.png)

[2020-12-03 09:22] pemsft opened #67063 "Reservations and Azure AD tenant change"
Could you add documentation here on what happens to Azure Reservations when Azure Subscription that contains Reservations is transferred from an Azure AD tenant to another (Change directory)? Reservation Exchange / Cancel needed?

https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations

---
#### Document Details

⚠ *Do not edit this sectio

[2020-12-03 09:24] Ericgre commented on #67035
Hello, tentatively January 2021.

[2020-12-03 09:42] AndrewSmithRS opened #67067 "Application Gateway v2 Default Listener"
Application Gateway v2 with all listeners (multisite/HTTPS) defined with a hostname still allows the application gateway to be contacted via the AppGW dns name or the IP address even without anything defined. When accessing in this way the result is a 404 as there is no backend however a certificate is still shown which seems to be one from the first listener.

When configuring and testing the sam

[2020-12-03 10:41] jjindrich opened #67073 "Describe list of DNS domains for Azure Monitor"
Hi, please can you add into documentation list of DNS domains handled by Azure Monitor private link.
There are create 8 NIC adapters in vnet. Only 4 private dns zones:
privatelink.azurewebsites.net
privatelink.monitor.azure.com
privatelink.ods.opinsights.azure.com
privatelink.oms.opinsights.azure.com

But I'm missing domain for Application Insights like dc.applicationinsights.microsoft.com etc

--

[2020-12-03 11:17] dcurwin commented on #65982
We've updated the document to indicate that there are no special instructions for backup and restore of CMK encrypted VMs.

Thanks again.

#please-close

[2020-12-03 11:17] #65982 closed

[2020-12-03 11:33] CHEEKATLAPRADEEP-MSFT commented on #67059
@wahyuen Thanks for the question! We are investigating and will update you shortly.

[2020-12-03 11:39] CHEEKATLAPRADEEP-MSFT commented on #67058
@wahyuen Currently, Azure Data Factory Managed Virtual Network is in preview.

Unfortunately, you cannot set Managed VIrtual Network programmatically.

@nabhishek Is this planned for a future release?

[2020-12-03 11:47] GitaraniSharma-MSFT commented on #67067
@AndrewSmithRS , thank you for your question. We'll review this and get back to you shortly.

[2020-12-03 11:48] MayankBargali-MSFT commented on #67057
@JackyChiou Thank you for your feedback! We will review and update as appropriate.

[2020-12-03 12:18] yelevin commented on #67049
- **Incorrect alert logic** should cover cases where the alert rule needs to be tweaked because it is triggering on normal behavior. For example, when an alert threshold is too low and alerting on legitimate users.

- **Incorrect data** should cover cases where the data that the rule ran on was incorrect and therefore the alert was a false positive. In such cases the alert rule should not be tweak

[2020-12-03 12:43] stout27 opened #67078 "Needs an update"
The Certify Mobile setup needs to use the User Access URL under the Enterprise Application properties:

Enterprise Applications > Certify > Properties > Copy User access URL

Then log into the Certify Application and SSO Configuration settings and paste that URL into:

Certify Mobile Login URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-12-03 12:52] Haribo112 opened #67079 "AzureCLI instructions on granting RBAC to user are wrong"
Your AzureCLI syntax is wrong. Variables always start with a $ sign, otherwise they don't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Content: [Sign in to Windows virtual machine in Azure using Azure Active Di

[2020-12-03 13:00] a8ree opened #67080 "Preview of monitoring for Linux doesn't seem to be available"
Within the portal, I cannot find a feature that mentions monitoring for Linux apps in Preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a9464c-27a3-acf9-3038-c6923f3900c9
* Version Independent ID: c91caad1-a62c-f0ff-93e5-070d38e467d6
* Content: [Monitor your apps without code changes - auto-instrumentation for A

[2020-12-03 13:09] JayaChatterjee-MSFT commented on #66842
@SamStenton Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-03 13:09] #66842 closed

[2020-12-03 13:39] Coopem16 opened #67081 "Microsoft Message analyser has been retired"
In this documentation it mentions using Message analyser.
As per this page that technology has been retired. https://docs.microsoft.com/en-us/openspecs/blog/ms-winintbloglp/dd98b93c-0a75-4eb0-b92e-e760c502394f
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd5eb5b-1eb7-e78d-84d7-7c2cd3569237
* Ve

[2020-12-03 13:43] mdrakiburrahman commented on #66348
I was able to confirm that this works (i.e. can leverage `.format("eventhubs")` while leveraging `from_avro($"body`,...)`) to deserialize data with Schema Registry - closing the issue.

[2020-12-03 13:43] #66348 closed

[2020-12-03 13:47] psmanhas commented on #67055
@TheMoroccanBoss Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-03 13:48] psmanhas commented on #67055
@TomGeske Can you please check and add your comments on this doc update request as applicable

[2020-12-03 13:51] psmanhas commented on #67053
@snnn Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-12-03 14:00] LarsKemmann opened #67082 "Recommended logging format has wrong timestamp format"
The "Recommended logging format" suggests formatting the timestamp as follows:
`yyyy-mm-dd hh:mm:ss.fff zzz`
The month component should be capitalized; as it stands, this format renders minutes in place of the month. 😀 It should be:
`yyyy-MM-dd hh:mm:ss.fff zzz`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dedace3-f

[2020-12-03 14:06] mcmeeking opened #67083 "No info on how to disable MFA"
As an org that uses Macs, we're looking for a way to **disable** MFA during enrolment so we can use the user affinity automated enrolment provided by Intune (which doesn't support MFA, nor app passwords, and shows no signs of modernising as it's been this way for over a year and a half - even while Apple have explicitly added the option to customise device enrolment to use modern auth methods over

[2020-12-03 14:20] colin-small commented on #66371
Was the fix supposed to be put in place on 12/1 or the week of 12/1? It is still broken, that is why I ask.

[2020-12-03 14:22] HeinzLm opened #67084 "Claim resolver for state and response_mode"
Hi,

would it be possible to have a claim resolver for the OIDC state and response_mode parameters?

This would make it possible to create a link to another user journey.
I have an edit profile page with a menu bar with a link to another user journey.
I can create the link on the fly, if the user did not have to authenticate (thus losing the url parameters) as I can just switch out the poilicy nam

[2020-12-03 14:30] ero79 commented on #66414
Any updates to this?  it's been 13 days since any of our Azure Government Availability tests have worked because the IP's are not coming from the ones in this list.

[2020-12-03 14:38] steveculshaw opened #67086 "Missing Power BI ?"
[Enter feedback here]

The list of tags appears to be missing one for Power BI ?

I've just downloaded the latest JSON file, and it does have a section for Power BI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Conten

[2020-12-03 14:46] squasta opened #67087 "Content to copy paste in GitHub Secret for AZURE_CREDENTIALS in incorrect"
The way you create a secret for AZURE_CREDENTIALS does not work.

the right way is the following process :
https://github.com/Azure/actions-workflow-samples/blob/master/assets/create-secrets-for-GitHub-workflows.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9659eab1-b7f7-d163-ff0a-577b7496b5c8
* Version Independent

[2020-12-03 14:50] jayantlad opened #67088 "Minor issue on the tutorial"
the following script there is a error / typo spId casing

az login

webAppName="SecureWebApp-20201106120003"

**spId**=$(az resource list -n $webAppName --query [*].identity.principalId --out tsv)

graphResourceId=$(az ad sp list --display-name "Microsoft Graph" --query [0].objectId --out tsv)

appRoleId=$(az ad sp list --display-name "Microsoft Graph" --query "[0].appRoles[?value=='User.Read.All'

[2020-12-03 14:52] fabiociconi opened #67089 "unprotectedResources should be null if is empty"
In the MSAL Configuration, the field unprotectedResources is an empty array. When there are no unprotectedResources should be null to avoid the warning "...unprotectedResources is deprecated and ignored."
Link to fix: https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-angular
Link: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2217

---
#### Doc

[2020-12-03 14:52] JasonWhall opened #67090 "Incorrect Built-In Role to Manage Disks"
Currently in the [Storage](https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#storage) section of the document it suggests if you need to manage disks in another resource group that you either create a custom role or use the built-in `Storage Account Contributor` role.

However the `Storage Account Contributor` role does not have permission over disks as mentioned here - https

[2020-12-03 14:53] MonikaReddy-MSFT commented on #67080
@a8ree -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-03 14:55] NileshGhodekar opened #67091 "Contradictory information on Azure AD Password Protection Proxy Service endpoints"
The two section in this article are providing Contradictory / Inconsistent information on Azure AD Password Protection Proxy Service endpoints. The section "Deployment requirements" mentions "All machines where the Azure AD Password Protection Proxy service will be installed must have network access to the following endpoints:..." and lists https://login.microsoftonline.com and https://enterpriser

[2020-12-03 14:56] MonikaReddy-MSFT commented on #67089
@fabiociconi -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-03 15:03] AshokPeddakotla-MSFT commented on #67052
@Mja101 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-03 15:03] RyanHill-MSFT commented on #66996
@YusukeTobo it does appear I'm few versions behind, but the afore mentioned commands should still work.

![image](https://user-images.githubusercontent.com/47189704/101043930-d0b15000-354c-11eb-8aaa-1c0fbdccbec0.png)

This is correct.

"Patch updates to .NET, PHP, Java SDK, or Tomcat/Jetty version are applied automatically by overwriting the existing installation with the new version."

This is al

[2020-12-03 15:08] squasta opened #67094 "Inline script is missing an option if you want the workflow to succeed"
in the YAML file, the az command provided to upgrade os node image will ask a confirmation for the upgrade that will stop Github workflow waiting for an answer

instead of :
[code]
you should you the same command with --yes at the end

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9659eab1-b7f7-d163-ff0a-577b749

[2020-12-03 15:25] dankegel commented on #67050
I have a funny feeling some step from https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image was left out...?

[2020-12-03 15:29] KrishnaG-MSFT commented on #67063
@pemsft Thanks for the comment!
Assigning @yashesvi for visibility, review and document enhancement consideration as appropriate.

[2020-12-03 15:30] KrishnaG-MSFT commented on #67073
@jjindrich Thanks for the comment!
Assigning @nkiest for visibility, review and document enhancement consideration as appropriate.

[2020-12-03 15:35] ajgball opened #67095 "Out of Date VPN bandwidth is referenced"
Bandwidth is constrained to a maximum of about 1.25 Gbps. Site-to-site VPN - incorrect 10gbps is supported
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1856224-8709-d6db-c533-50e5e05f2091
* Version Independent ID: f4f18c8f-c849-6da6-e0ab-a52c6eeec07a
* Content: [Best practices for network secur

[2020-12-03 15:36] tfitzmac commented on #64831
#please-close

[2020-12-03 15:36] #64831 closed

[2020-12-03 15:37] cephalin commented on #65932
@ansh0507 the deprecation has been fixed in the sample. Thank you. #please-close

[2020-12-03 15:37] #65932 closed

[2020-12-03 15:53] basavarajb opened #67096 "azure naming convention for resource group at subscription level not working"
Unable to apply azure naming convention for resource group at subscription level

terraform apply is success but policy is not triggering while creating resource group.

resource "azurerm_policy_definition" "policy" {
name = "PaC-Naming-Convention02rg"
policy_type = "Custom"
mode = "Indexed"
display_name = "PaC_Naming_Convention01"

metadata = <<METADATA
{
"category": "Demo"
}
METADATA

policy_rul

[2020-12-03 15:57] nunepalli opened #67097 "Server for Sync Metadata Database"
Hi,
Its not clear whether the Sync Metadata Database has to be created in the same server having the Hub database or can be created in its own Azure SQL server.

Can someone please clarify that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
* Version Independent ID: 83943260-4a5c-c

[2020-12-03 15:58] ms-vincent commented on #66716
Ah ok. Got it! Thanks for the clarification

[2020-12-03 16:02] gfree76 opened #67098 "Is there a way to audit who regenerates access keys?"
Is there a way to audit who regenerates access keys? we just had an outage because the access keys for our storage account did not match the value stored in our key vault. is there a way for us to figure out why there is a discrepancy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3463d1c7-f458-738a-2317-b756a1be7de0

[2020-12-03 16:17] cephalin commented on #65850
@rachelxj-ms It's disabled by default. Thanks for catching and the fix will be published today. #please-close

[2020-12-03 16:17] #65850 closed

[2020-12-03 16:19] dankegel commented on #67050
aha!  A backslash was missing!  Testing a possible fix now...

[2020-12-03 16:29] SumanthMarigowda-MSFT commented on #66326
@maestrigia Thanks for your patience. If the user identities you plan to use for authentication to Azure files are not synced to Azure AD, the scenario will not work. If you register the storage account where your file share is created in Forest B and the identities you used for authentication are synced to Azure AD through Forest A, your scenario would work. The key requirements are two:

1. The

[2020-12-03 16:29] #66326 closed

[2020-12-03 16:33] fgauna12 opened #67099 "Invalid Certificate manifest"
Towards the end of this page, it says to create the `Certificate` object.

[code]

The `acme` object is not valid.

[code]

Cert Bot Docs: https://cert-manager.io/v0.16-docs/usage/certificate/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-934

[2020-12-03 16:44] AnuragSharma-MSFT commented on #66911
@gitclem Apologies for the delayed response. I referenced the same article and was able to successfully run the code and it created vertices and edges properly as per the code.

Can you please check below details:
1. Is firewall configured properly on the cosmos account?
2. Have you created the database and graph already before running the code?

This could be an issue on the python configuration

[2020-12-03 16:44] IgnacioAlvarezArenas commented on #66864
Ok so still the recommendation would be just to update everything as it changes the private key as well I guess.

Actually this document is a bit old (using old commands), and nowadays it can be exported through the Portal: https://azure.github.io/AppService/2017/02/24/Creating-a-local-PFX-copy-of-App-Service-Certificate.html

But yeah, the fact that is explicitly said there, works for me ! We can

[2020-12-03 16:49] pfsantosaad opened #67100 "User blade only works with objectId"
Under "User and contacts" --> Default guest permissions we can see the following:

Search for another user by Display Name, User Principal Name or ObjectId (if allowed)

However from testing we see that it will only work with ObjectID.
Trying with UPN or Display Name will not retrieve any details.

Best regards,
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-12-03 17:09] dankegel commented on #67050
After fixing this typo in my script,
[code]
az vmss create was able to complete successfully.

So it seems to have been user error!  Feel free to close as invalid.  Thanks for your attention, and sorry for the noise.

[2020-12-03 17:09] #67050 closed

[2020-12-03 17:12] cachai2 commented on #67044
@craigshoemaker This is something I will be creating. This item is to help track.

[2020-12-03 17:23] SubhashVasarapu-MSFT commented on #67086
@steveculshaw, Appreciate your feedback. Yes, looks like this tag is missing from the Azure portal configuration too. Let me check with the respective team on this and will update appropriately.
![image](https://user-images.githubusercontent.com/44890829/101064820-6800bc80-35ba-11eb-95ab-d6c0ff46dc41.png)

[2020-12-03 17:37] nunepalli commented on #67097
Just to add to my earlier question.
As we can have only one Sync Metadata Database per subscription per region, can we create that in a dedicated Azure SQL server in a stand-alone resource group in the subscription or should that be part of an existing Azure SQL server containing a HUB database?

[2020-12-03 17:43] msdpalam opened #67102 "ACID support is not available on External Tables"
Based on the article, https://cwiki.apache.org/confluence/display/Hive/Managed+vs.+External+Tables, ACID is not supported on Have Extrernal tables. We need to update this article with the ACID support for managed vs external tables so customers have full context. Any guidance on why ACID is not supported with external table will be super helpful.

---
#### Document Details

⚠ *Do not edit this sec

[2020-12-03 17:44] SubhashVasarapu-MSFT commented on #66759
@SychevIgor, Appreciate your patience. Looks like the doc needs an update on this. attaching #399 [Issue ](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/399)here for quick reference.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-03 17:44] #66759 closed

[2020-12-03 17:50] MarileeTurscak-MSFT commented on #67078
@stout27
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 17:51] MarileeTurscak-MSFT commented on #67079
@Haribo112
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 17:53] MarileeTurscak-MSFT commented on #67081
@Coopem16
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 17:54] MarileeTurscak-MSFT commented on #67083
@mcmeeking
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 17:58] JamesTran-MSFT commented on #66938
@flarsmar
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-12-03 18:02] lumichael24 commented on #66900
Hi @AnuragSharma-MSFT. I tried calling this method on GraphBulkExecutor and get this error:

``
[2020-12-03T17:36:08.963Z] WUS2-dev BulkUpdateAsync: Exception: System.NotImplementedException: The method or operation is not implemented.
[2020-12-03T17:36:08.964Z]  at Microsoft.Azure.CosmosDB.BulkExecutor.Graph.GraphBulkExecutor.BulkUpdateAsync(IEnumerable`1 updateItems, Nullable`1 maxConcurrencyPer

[2020-12-03 18:07] JamesTran-MSFT commented on #67091
@NileshGhodekar
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-03 18:17] JamesTran-MSFT commented on #67095
@ajgball
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 18:18] SaurabhSharma-MSFT commented on #67102
@msdpalam Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-12-03 18:23] ruderod opened #67104 "30 minutes?"
it says -
The dashboard may take up to 30 minutes to appear the first time because Traffic Analytics must first aggregate enough data for it to derive meaningful insights, before it can generate any reports.

   For me,  2 hours later and nothing showing up for me.  I did all the steps in the document.   The page should give you more useful information,  like that might help you diagnose the issue

[2020-12-03 18:33] femsulu commented on #17895
The underlying content has been retired and no longer relevant.
Newer version @ https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources
#Please-close

[2020-12-03 18:33] #17895 closed

[2020-12-03 18:42] cherylmc commented on #65638
#assign: anzaman

[2020-12-03 18:43] knicholasa commented on #66381
Hi @tejinderrai are there specific services you want to add, or are you saying that the tutorial would be more useful with any example of adding services? If you can tell me a bit about how this helps you that would help me track the feedback for future updates.

Thanks
Nick

[2020-12-03 18:46] PeterCLu commented on #66065
#please-close

[2020-12-03 18:46] #66065 closed

[2020-12-03 18:53] Grace-MacJones-MSFT commented on #67088
Thanks for bringing this to our attention @jayantlad. we will update the doc shortly

[2020-12-03 18:56] Karishma-Tiwari-MSFT commented on #67087
Thanks for your contribution to the document by opening the PR. Once it is reviewed and approved by doc-author, the changes will be live.

[2020-12-03 18:58] Karishma-Tiwari-MSFT commented on #67099
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-03 19:01] Karishma-Tiwari-MSFT commented on #67094
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-12-03 19:01] #67094 closed

[2020-12-03 19:02] MonikaReddy-MSFT commented on #67096
@basavarajb -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-03 19:02] Karishma-Tiwari-MSFT commented on #67090
Thanks for your contribution to the document by opening the PR. Once it is reviewed and approved by the doc-author, the changes will be go live.

[2020-12-03 19:16] JamesTran-MSFT commented on #67084
@HeinzLm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 19:17] MarileeTurscak-MSFT commented on #67100
@pfsantosaad
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 19:18] sanikolov opened #67105 "where is the telemetry exactly?"
In the documentation you state:
[code]
Can you be very specific where to find the generated telemetry?
Better yet, how can that telemetry be distinguished from other possibly concurrent telemetry generated by the Windows Event Tracing facility a.k.a ETW.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723

[2020-12-03 19:23] gwu70ca opened #67106 "Typo in the doc"
There is a typo here:

"use the link is the Next Steps"

Might be "use the link in the Next Steps"

![image](https://user-images.githubusercontent.com/13355930/101077573-df523400-3559-11eb-82b4-898237739d9b.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec82f0e4-0094-5d72-44f8-de52afad4e8a
*

[2020-12-03 19:24] PeterCLu commented on #67000
#assign:@j-martens

[2020-12-03 19:37] MarileeTurscak-MSFT commented on #67049
Thanks @yelevin! I am closing this out but feel free to continue the discussion in the comments or reopen this if you have further questions, @RedW1dow.

[2020-12-03 19:37] #67049 closed

[2020-12-03 19:43] WinstonHoward-MSFT commented on #67106
Thanks for pointing out the typo, I've made a PR to fix it.

[2020-12-03 19:50] #67106 closed

[2020-12-03 19:55] MashaMSFT commented on #63828
Hi @lyceus, we hope this addresses your question and will now close out this Git Issue, but please feel free to comment should you need anything further.

Thanks for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-12-03 19:55] #63828 closed

[2020-12-03 20:33] ncoder opened #67111 "Missing prerequisite to follow instruction?"
I had to run
[code]
for this line to work:

[code]

I learned this from:
https://github.com/Azure/azure-cli/issues/12628

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Tutorial: Enable Ingress Controller Add-

[2020-12-03 20:38] mirsaeedi opened #67112 "Incorrect instruction in Docs: Create and deploy container image: Deploy application"
In section _Deploy container_, it's mentioned to use _"the service principal ID and password that you created to access the registry."_ However, it seems that in [Tutorial: Create an Azure container registry and push a container image](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-tutorial-prepare-acr), the acr is not created through service principal.

---
#### Do

[2020-12-03 20:46] dingoryan opened #67113 "Update New-AZStorageSyncServerEndpoint powershell example"
the 'New-AZStorageSyncServerEndpoint' cmdlet in 'create a server endpoint' needs updating, InitialDownloadPolicy is no longer a valid parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure Fil

[2020-12-03 20:52] HeidiSteen commented on #65726
@mikeblakeuk Sorry for the long delay. Short term, I added a revised snippet to the doc, but I acknowledge this is not the solution you were looking for. I added a work item to the backlog to include a telemetry exercise in the C# sample, but I do not have an ETA on when it will be available. That's about all I can do at the moment. Since we are now tracking this work in DevOps, I'll close this pa

[2020-12-03 20:52] #65726 closed

[2020-12-03 20:57] poochwashere opened #67114 "AKS Authorized IP Ranges - Static API IP"
On our firewall I can only use IP addresses to define our split tunnels. It does not support domain name based rules. So my concern is that if I lock down access to our k8s API IP and that IP changes we will not be able to access the cluster.

Are AKS API IPs static or will they change over time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-12-03 21:02] si-chan opened #67115 "Step 4 screenshot"
After step 4, the screenshot should ideally be one which has the Snowflake icon, not the AWS one!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5733ec0-25ee-bd16-58d4-6a921f6ab1fd
* Version Independent ID: d80fe5dc-505f-5f7b-0f01-8e86233cd64a
* Content: [Tutorial: Azure Active Directory integration with Snowflake](ht

[2020-12-03 21:08] JamesTran-MSFT commented on #67115
@si-chan
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-03 21:24] mbiver opened #67116 "Limiting access to Run Command - Permissions must be at Subscription level."
Could you please add to this document that the permissions to read and execute Run Commands must be applied to the subscription level?  I tried it at the VM and  resource group level and still couldn't list or run commands until I placed the permissions at the subscription level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-03 21:36] MarileeTurscak-MSFT commented on #67079
@Haibo112 which section are you referring to?

[2020-12-03 21:37] jiayi11 commented on #66737
@SychevIgor From your screenshot, you cannot connect to App config due to network issues (it's not caused by permissions or private endpoint). Can you please try to use a different machine/network/browser, turn off vpn, check firewall rules etc to see if the issue goes away?

[2020-12-03 21:42] MarileeTurscak-MSFT commented on #67081
Thank you @Coopem16! I made a pull request to add a note about this and mention that they can use Wireshark instead, since the article does point out that the steps can be applied to other software. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139861

CC @kenwith to review.

[2020-12-03 21:42] #67081 closed

[2020-12-03 21:50] Haribo112 commented on #67079
![BD0C5620-7BFC-4BFF-B6DF-0612ED3D1C3C](https://user-images.githubusercontent.com/4678943/101092341-ce390f80-35b9-11eb-979b-a4c777628522.png)

The variables username and vm should start with a $ symbol.

[2020-12-03 22:00] JamesTran-MSFT commented on #67095
@ajgball
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2020-12-03 22:00] #67095 closed

[2020-12-03 22:01] askpatrickw opened #67118 "How to specify the Device Template when using DPS needs more clarification"
@jimbobbennett asked me to open this issue on Discord: https://discord.com/channels/702724176489873509/703326290551373974/780613633058144257

More Details here:
https://stackoverflow.com/questions/64826684/how-to-automatically-associate-a-device-with-a-device-template

Summary... its not clearly documented when using the Python IoT Device SDK how to pass the template associated to the device.

`pr

[2020-12-03 22:07] n8tg commented on #66762
Hey @PeterJohnWilliams I think I ran into this same issue. I assumed that the folder in step 2 would get created when installing the Azure AD PowerShell Module. What happened is that I skipped the part of the documentation just above that says to run the commands on a machine that has Azure AD Connect running. I installed the module on the AD connect server and didn't have any issues. Maybe there'

[2020-12-03 22:08] rgsteele opened #67120 "No support information for the "My Apps Secure Sign-in Extension""
When you click on the link to "visit the developer's support site" from the [Chrome Web Store page for the My Apps Secure Sign-in Extension](https://chrome.google.com/webstore/detail/my-apps-secure-sign-in-ex/ggjhpefgjjfobnfoldnjipclpcfbgbhl), it takes you to this page. However, there is no information about how to request support for the extension from this page, just a set of instructions.

For

[2020-12-03 22:08] bwren commented on #65078
Sorry for the delayed response. This is a good suggestion. I'll add that to the sample. Thanks!

#please-close

[2020-12-03 22:08] #65078 closed

[2020-12-03 22:13] JamesTran-MSFT commented on #67120
@rgsteele
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 22:19] nastassiar opened #67121 "Is this documentation up to date for the Azure Portal?"
When I tried to follow the instructions for the Azure portal to register the resource provider nothing looked like the screen shots. I was able to accomplish what I wanted through the portal use this documentation as guidance: https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart-portal#enable-event-grid-resource-provider
---
#### Document Details

⚠ *Do not edit this section.

[2020-12-03 22:19] DerekHerman-MSFT commented on #67098
You should be able to see Regenerate Storage Account Keys in the Activity log. More information here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/view-activity-logs

[2020-12-03 22:20] #67098 closed

[2020-12-03 22:21] DerekHerman-MSFT commented on #67113
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-03 22:25] dochoss opened #67122 "Typo in sample code"
Typo in code in section "Clean up resources", item 1: "DROP **EXTENAL** DATA SOURCE AzureOpenData".  Should be **EXTERNAL**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f984ecc3-457f-a425-f7e3-fbffe63c1237
* Version Independent ID: 0afb67e6-2a8f-4327-6fa7-c2a5c2906dc3
* Content: [Tutorial: Connect serverless SQL pool

[2020-12-03 22:32] bwren commented on #61921
Sorry for late reply on this. We've actually restructured the log query content and removed that article. The table is named Tables. We have a new tutorial that describes it. https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/log-analytics-tutorial

#please-close

[2020-12-03 22:32] #61921 closed

[2020-12-03 22:48] tfitzmac commented on #66881
@SeppeDev - I tested a scenario similar to your scenario. Yes, you're right. Changing the name to mainTemplate.json made the warning go away.

[2020-12-03 22:50] vairakkumar-vairaperumal opened #67123 "Document says that the COntainerLog Table shows containername, which it does not anymore"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/azure-monitor/faq#i-dont-see-image-and-name-property-values-populated-when-i-query-the-containerlog-table
These documentations incorrectly shows OR it should show with asterisks that ContainerName is no longer available.

https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/containerlog#columns
https://docs.microsoft.com

[2020-12-03 22:54] YutongTie-MSFT commented on #66989
Hello @rjam-xav, thanks for reaching out to us. GitHub is more for documentation feedback, ESP32 support this forum for product question and guidance. https://esp32.com/ And we also have https://stackoverflow.com/ for ESP32 questions. Please feel free to post your question there so that you can get quick help.
We will now proceed to close this thread. If there are further questions regarding this

[2020-12-03 22:54] #66989 closed

[2020-12-03 23:03] James-Hamil-MSFT commented on #67100
Pull request created. Closing.

[2020-12-03 23:03] #67100 closed

[2020-12-03 23:17] tfitzmac commented on #66881
I added some clarification to that section about linked and nested templates not using a default value for location. It should get published tomorrow.
#please-close

[2020-12-03 23:17] #66881 closed

[2020-12-03 23:18] James-Hamil-MSFT commented on #67084
Hi! Are you asking if this is possible or for a feature request?

[2020-12-03 23:29] ChaitanyaNaykodi-MSFT commented on #66863
Hello @esbenbach, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion. Thanks you!

[2020-12-03 23:29] #66863 closed

[2020-12-03 23:35] rbschneider commented on #67088
I ran this and it got through the script, which eventually hangs, basically returning a '400 bad request' error.
When I hit enter, the console log reads:

CLIInternalError: The command failed with an unexpected error. (with a very long traceback error)

[2020-12-03 23:38] James-Hamil-MSFT commented on #64773
PR merged

[2020-12-03 23:38] #64773 closed

[2020-12-03 23:39] James-Hamil-MSFT commented on #64774
PR merged

[2020-12-03 23:39] #64774 closed

[2020-12-03 23:39] #61277 closed

[2020-12-03 23:40] #62088 closed

[2020-12-03 23:40] JamesTran-MSFT commented on #67120
@rgsteele
Thank you for your time and patience!

Walking through the steps you mentioned, clicking the link to "visit the developer's support site":
![image](https://user-images.githubusercontent.com/36619112/101100936-47197680-357c-11eb-945d-6eb2a4874905.png)

I'm redirected to the [Download and install instructions](https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal

[2020-12-03 23:50] ChaitanyaNaykodi-MSFT commented on #66877
Hello @tanujkumawat, thank you for reaching out. Following this [tutorial ](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-node), I was unable to reproduce the error. This error is usually related to the VS Code version, I am currently on VS Code version 1.51.1
Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-do

[2020-12-03 23:50] #66877 closed

[2020-12-03 23:53] MarileeTurscak-MSFT commented on #67079
Thanks! I see what you are referring to now. I made a pull request to correct this and add the variables. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139896

CC @MicrosoftGuyJFlo

[2020-12-03 23:53] #67079 closed

[2020-12-04 00:04] MarileeTurscak-MSFT commented on #67082
@LarsKemmann
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 00:13] MarileeTurscak-MSFT commented on #67082
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139900

[2020-12-04 00:13] #67082 closed

[2020-12-04 00:22] kgremban commented on #65832
@pranavsanghadia Yes, that's probably a good question for Q&A.

Is this what you're trying to do: [Send telemetry data to IoT Hub](https://docs.microsoft.com/azure/iot-edge/how-to-publish-subscribe?view=iotedge-2020-11&preserve-view=true#send-telemetry-data-to-iot-hub)? As this is a new feature still in preview, we're working on building up the supporting documentation and examples. Knowing what c

[2020-12-04 00:29] BharathNimmala-MSFT commented on #67123
@vairakkumar-vairaperumal Thanks a lot for brining this to notice, we will review the feedback and update the document accordingly.

[2020-12-04 00:46] joeljanke opened #67125 "account administrator does not exist"
This page refers to a role of "account administrator" when no such role exists.   As documented here...

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-ea-roles

...there is only Account Owner and Enterprise Administrator and Department Administrator.   It is difficult to determine when this documentation refers to "account administrator" what it is referring to a

[2020-12-04 00:48] SnehaGunda commented on #66821
@AnuragSharma-MSFT This doc somehow is in both Cosmos DB and table storage areas. It shouldn't be in the Cosmos DB space. I can delete it, but the issue should be moved to the following page and assign to the right owner in table storage docs:

https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-overview

@krish-gh  answered the question above, the sentence can just be tweaked to c

[2020-12-04 00:50] #66814 closed

[2020-12-04 00:51] MonikaReddy-MSFT commented on #67114
@poochwashere -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-04 00:53] MonikaReddy-MSFT commented on #67105
@sanikolov -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-04 01:06] Duchynko commented on #26454
Apologies for opening the issue again, but could you please provide a simple example for one of your blessed node images? E.g. `appsvc/node:12-lts_20200522.6`. I'm struggling to make this work and can't seem to find any examples. My Dockerfile currently looks the following.

[code]

and the startup script

[code]

[2020-12-04 01:13] MashaMSFT commented on #66704
Hi @ewittrock-uwm , thanks so much for this feedback! We've processed a change to update this information and it should be live later this week.

I hope that helps but please feel free to comment should you need anything further.

Thanks for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-12-04 01:13] #66704 closed

[2020-12-04 01:14] MashaMSFT commented on #66704
#assign:kfarlee

[2020-12-04 01:16] kobulloc-MSFT commented on #67122
@dochoss Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-12-04 01:21] kobulloc-MSFT commented on #67122
@dochoss Thank you for bringing this to our attention!  A PR has been submitted, and the change should go live shortly.

[2020-12-04 01:21] YusukeTobo commented on #66996
@RyanHill-MSFT I appreciate your help!

[2020-12-04 01:31] poochwashere commented on #67114
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges

[2020-12-04 01:35] kobulloc-MSFT commented on #67122
@dochoss Thank you again for pointing this out!  The changes should go live shortly.  We are going to close this thread as resolved but if there are any further issues regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-04 01:35] #67122 closed

[2020-12-04 01:45] chenkennt commented on #52624
#please-close

[2020-12-04 01:45] #52624 closed

[2020-12-04 01:48] txoh commented on #66992
Hi vipulsparsh,

Really appreciate your prompt reply and advice. Thank you

Have a nice weekend ahead

[2020-12-04 01:49] EFAQM-JBernard opened #67126 "As a admin I cannot reset the password of users"
[Enter feedback here]
Hello,
I just got an error stating "This is not the home directory for xxx. Either xxx or an administrator in their home directory can reset the password for this user."
I don't understand this message. If it's not the User page of this user, what is the home directory for this user ? Also, if it's not the home directory for this user, why do I see the link to reset the passw

[2020-12-04 01:52] SnehaGunda commented on #66829
@PKPublicCode did you check out this section: https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#using-item-id-as-the-partition-key it already covers in which cases a unique value such as Item ID is a good choice of partition keys. For small read-heavy containers or write-heavy containers of any size, the item ID is naturally a great choice for the partition key.

[2020-12-04 01:56] WinstonHoward-MSFT commented on #66857
It looks like the version of Powershell on your local machine isn't the same as what's running in Azure Cloud Shell. Keep in mind there is a difference between the [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest) and [Azure Powershell](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azdisk?view=azps-5.0.0).

Can you run ``Get-Module -ListAvailable

[2020-12-04 02:00] rbschneider commented on #66988
I ran this one top down and there are some syntax idiosyncrasies, to be certain. Thanks for pointing this out to us @wahyuen!

[2020-12-04 02:43] ChaitanyaNaykodi-MSFT commented on #66904
Hello @revodavid, I was able to reproduce the error and had to select Command prompt as my default shell terminal.

Hello @rbschneider, I could not reproduce the error you received. Can you please confirm if you have x64  Python version installed (We usually observe such error when x32 Python is installed.)

Hello @ggailey777, this issue is raised on the same document as this one [here](https://gi

[2020-12-04 02:48] watahani opened #67127 "x5t claim should be base64url"
x5t claim should be base64url instead of base64

see https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/active-directory/develop/active-directory-certificate-credentials.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent ID: aa2bb5fd-bd0d-830c-84c7

[2020-12-04 03:10] pranavsanghadia commented on #65832
Yes. Here is an overview of what I am trying to do: The downstream device publishes MQTT messages, I am using Azure IoT Edge gateway to subscribe to MQTT data and then send it to IoT Hub. I really don't have preference over protocol used by IoT Edge to send data to IoT Hub in cloud but there should a way to send topic (source) and the value such that other Azure services can easily ingest it.

[2020-12-04 03:35] sakthiprabhu opened #67128 "DB2 workings on azure with automated failover-fallback"
[Good day team ,

was reading up the sap db2 hadr with pacemaker for rhel or suse linux os VMs. Just wanted to check if this is a architecture or configuration that works successfully any project or customer. The reason i am asking is that, there is a very grey statement inbetween which says , the azure load balancer needs to be configured in such a way IBM DB2 hadr needs it. this throws the respo

[2020-12-04 03:59] AnuragSharma-MSFT commented on #66856
@SarveshPandey We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-04 03:59] #66856 closed

[2020-12-04 04:17] AshokPeddakotla-MSFT commented on #67118
@askpatrickw Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-04 04:19] BhargaviAnnadevara-MSFT commented on #66760
@ValeryCherepanov Hope the above inputs helped. Any further update here?

[2020-12-04 04:20] AshokPeddakotla-MSFT commented on #66986
@mjtpena You can call **admin.nodeInfo.protocols geth call**, this will give you the chain id. Let us know if that answers your query.

[2020-12-04 04:32] hpsin commented on #67127
Thanks @watahani - great catch, thank you. Will PR change.

[2020-12-04 04:33] FlorentReynal opened #67129 "Too much info in the first drawing"

[2020-12-04 04:46] FlorentReynal opened #67130 "Privileged access needs a definition"

[2020-12-04 04:47] #67127 closed

[2020-12-04 04:51] vipulsparsh commented on #67129
@FlorentReynal Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-04 04:53] #66992 closed

[2020-12-04 04:56] SubhashVasarapu-MSFT commented on #67111
@ncoder, Thanks for reaching out. We will investigate and update this thread.

[2020-12-04 04:58] #67130 closed

[2020-12-04 05:09] AjayKumar-MSFT commented on #67130
@FlorentReynal,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed this thread, I presume the issue is resolved.

If you have any questions on the doc,  please share the Azure doc URL for which this feedback is applicable to.
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-04 05:14] AjayKumar-MSFT commented on #67060
singhyajat, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed this thread, I presume the issue is resolved.

If you have any feedback or questions on the doc further, please do let us know. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-04 05:17] kostrse opened #67132 "Update list of IPs for standalone Data Exploerer cosmos.azure.com"
The article mentions the following list of IP addresses to whitelist access from Azure Portal:
[code]

While it gives access from Data Explorer in Azure Portal, the new standalone Data Explorer app https://cosmos.azure.com/ still doesn't work, as probably uses another endpoint.

Could you please update documentation with recommendations how to give access for the standalone Data Exlorer https://co

[2020-12-04 05:34] psmanhas commented on #67112
@mirsaeedi Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-04 05:35] psmanhas commented on #67112
@macolso Can you please check and add your comments on this doc update request as applicable

[2020-12-04 05:42] psmanhas commented on #67116
@mbiver Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-12-04 05:47] rdlucas2 commented on #64705
https://github.com/MicrosoftDocs/azure-docs/pull/67134#issuecomment-738576941 just found the docs and made a PR to update them with my proposed fix.

[2020-12-04 05:54] PKPublicCode commented on #66829
Well, it seems I overlooked it. Yes, this section is exactly was I requested. Thank you!
Closing this request...

[2020-12-04 05:54] #66829 closed

[2020-12-04 06:12] shashishailaj commented on #67126
@EFAQM-JBernard Thank you for your query . We will investigate and update the thread.

[2020-12-04 06:33] psmanhas commented on #67128
@sakthiprabhu Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-04 06:33] psmanhas commented on #67128
@msjuergent Can you please check and add your comments on this doc update request as applicable

[2020-12-04 06:55] shabirjan commented on #66928
@KrishnaG-MSFT  Hi, Is there any update on this?

[2020-12-04 06:57] chlumper commented on #47899
I created a feature request if someone like's to vote:
https://feedback.azure.com/forums/34192--general-feedback/suggestions/42098713-custom-links-at-overview-of-managed-apps

[2020-12-04 07:22] SaiKishor-MSFT commented on #67104
@ruderod Thanks for the feedback. When you say - the page, do you mean the page in the Azure Portal? Can you also confirm if you see any reports now and if so, after how long did it show up? Thank you!

[2020-12-04 07:39] SwathiDhanwada-MSFT commented on #67121
@nastassiar Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-04 07:45] KrishnaG-MSFT commented on #67125
@joeljanke Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-04 07:48] SwathiDhanwada-MSFT commented on #66928
@shabirjan Here are few reference documents which might help you.

- [Set Java runtime options](https://docs.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-linux#set-java-runtime-options)
- [Adding the JVM arg for Azure Monitor Application Insights Java](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-arguments)

[2020-12-04 07:59] shabirjan commented on #66928
@SwathiDhanwada-MSFT Thanks for providing those links, I have already checked those out. But it doesn;t clarify what i am asking, in this document it says that download the agent, i have downloaded the agent and place it inside my webapp, now when i deploy my webapp to Azure App Service, How can I configure the path of that Agent, That was my question as such information is missing from this guide

[2020-12-04 08:50] AshokPeddakotla-MSFT commented on #66860
@HekiliJordan You will encounter these kind of issues if connection strings are wrong. You haven't mentioned which SDK you are using and which example you are following.

Please double check the connection strings used. i.e If you are using device connection string in place of IoT hub. Also, this issue goes out of the scope of this doc. We want to be sure we can help you in the proper place and le

[2020-12-04 09:01] mcurko opened #67136 "Packaging for different environments"
How do I choose which publish profile to use when packaging the application? I have several profiles for dev/test/prod environments, each of which containing separate settings like DB connection strings. When publishing I can easily choose which profile (and associated settings) to use, but when packaging I don't see such an option.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-12-04 09:15] si-chan opened #67137 "Error or Warning?"
The Tip halfway down the page (in the green box) says:

Be *sure* that your storage configuration matches the limitations imposed by the the selected VM size. Choosing storage parameters that exceed the performance cap of the VM size will result in *error*: The desired performance might not be reached due to the maximum virtual machine disk performance cap.. Either decrease the IOPs by changing th

[2020-12-04 09:44] ThorstenHans commented on #64292
Hey @slack @Karishma-Tiwari-MSFT ,

any updates regarding this one? I was facing the lack of ARM (as in CPU architecture) support too. I double-checked all the docs on Arc. However, I did not found any information about this. Obviously, search for "Arc Enabled Kubernetes ARM support" leads to Azure ARM stuff..

So Docs should be very transparent at this place.

[2020-12-04 09:48] gingters commented on #64292
Yes, I second that. I triggered Thorsten as I was running in this too.
I am working with a Kubernetes cluster on NVIDIAs IoT / Edge devices based on ARMv8 and the system requirements do not state at any point that this will only work on x64 CPUs. You'll just find out that all managemend pods are stuck in pending and only further investigation shows that they have a node selector for AMD64 and won'

[2020-12-04 10:20] MWL88 opened #67139 "Key Vault instance replication guarantees"
The documentation states “The contents of your key vault are replicated within the region and to a secondary region”.

When I create, update or delete (change) Key Vault items, is the replication to the secondary region synchronous or asynchronous? i.e. if synchronous then the replication has been performed before my request returns its response or if asynchronous then the replication may occur af

[2020-12-04 11:07] TwoPatient commented on #61708
Hi, the ports listed do not allow the mcr.microsoft.com/azureiotedge-diagnostics image as it seems to use some other IP addresses that is not mcr.microsoft.com to download initial layers.

This makes it near impossible for us to work with our customers IT teams (some of the largest manufacturers in the world), as they require exact addresses for ports to be opened.

[2020-12-04 11:10] TwoPatient commented on #61708
[VF IoTEdge check.txt](https://github.com/MicrosoftDocs/azure-docs/files/5642267/VF.IoTEdge.check.txt)

Here is the IoT Check results with the above ports open.

[2020-12-04 11:19] AnuragSharma-MSFT commented on #66900
@lumichael24 Apologies for the trouble you are facing. I have reached out to product team on the same and will be updating the thread as soon as I hear back from them.

[2020-12-04 11:36] makushima opened #67140 "How to lock subscription through PS or Azure CLI?"
How to lock subscription through PS or Azure CLI? There is no such command?
or I can do this only through portal?

[2020-12-04 11:36] girishgouda opened #67141 "Getting an issue with while configuring SSL"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed58f2c-446c-b500-122f-407628a8eb17

* Version Independent ID: bce3f5a3-45d8-6b93-522e-a9af298068f5
* Content: [Enable TLS with sidecar container - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instan

[2020-12-04 11:50] TwoPatient commented on #61708
Get errors when trying to pull docker pull mcr.microsoft.com/azureiotedge-hub:1.0 even with port 443 for mcr.microsoft.com open

[2020-12-04 11:54] TwoPatient commented on #61708
![MicrosoftTeams-image (8)](https://user-images.githubusercontent.com/1675480/101160764-79cc7900-3627-11eb-938f-0251f3035110.png)

Showing mcr.microsoft.com on port 443 is open

[2020-12-04 11:57] samueljamkhandi-MSFT opened #67142 "Websocket Connection Termination during VMSS scaling (both auto or manual)"
- I have come across an interesting scenario -
- Where customer is using a Single Page Application (SPA) that interacts with the user by dynamically rewriting the current web page, instead of the default method of the browser loading entire new pages
- They are using WebSocket protocol here.
- They have enabled auto scaling on VMSS.
- When autoscaling rule triggers (both automatic or manual) and w

[2020-12-04 12:11] vipulsparsh commented on #67139
@MWL88 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-12-04 12:16] lesterw1 opened #67143 "How do you VIEW the scan findings?"
I can see a completed scan and the count of scanned assets and classified assets.  In the scan history, there is no way to view the specific scan findings.  And more importantly, there is no documentation page on how to view the scan findings.

Please add a page on how to view the findings (or amend this page). Meanwhile , I must raise a helpdesk ticket.

---
#### Document Details

⚠ *Do not edit

[2020-12-04 12:17] ChrisSommers opened #67144 "Undelete and re-delete no longer needed?"
The statement "Backup data in soft deleted state prior disabling this feature, will remain in soft deleted state. If you wish to permanently delete these immediately, then undelete and delete them again to get permanently deleted" does not seem to be the case any more.

I had backups made whilst soft delete was enabled but I was able to (after turning off soft delete) delete the backup data and th

[2020-12-04 12:20] joeri-juramento opened #67145 "Reference to a configuration checkbox does not match actual description"
Short version:
Please update the manual with the actual GUI header and/or checkbox label to avoid confusion.

Long version:
In this [section](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/authentication/concepts-azure-multi-factor-authentication-prompts-session-lifetime.md#review-your-tenant-configuration) is explained what you need to do to move over to a more

[2020-12-04 12:36] drewwilliams1982 opened #67146 "Default runtime"
With the announcement of Kubernetes dropping support for the Docker runtime, I think it's going to panic a few people, like myself.

This article refers to Moby being the default runtime for AKS; which I believe is the docker runtime. Where as this recent release note https://github.com/Azure/AKS/releases/tag/2020-11-16 says that as of v1.19 ContainerD will be the default, which I hope means I don

[2020-12-04 12:40] #66843 closed

[2020-12-04 13:11] vinay-gunjalli opened #67148 "Should application certificate must be installed on a new node?"
Hi,
We have an application that reads secrets from a key vault. Application is hosted on service fabric cluster. It is obvious that we have to install a certificate on the machine, so that the application can connect to specified key vault.

I have two queries to be clarified here.

1. We want to manually add a new node to existing cluster. Should we have to install the certificate again to the ne

[2020-12-04 13:15] Jeankimgithub commented on #66835
Hi, checking if any update on my last comment. Thank you

[2020-12-04 13:28] SychevIgor opened #67149 "Update this guide to support AKS with Managed Identity"
This guide expecting that we have AKS that managing resources via Service Principal.
"Give AKS cluster's service principal Managed Identity Operator access to the identity created for AGIC above." (C) here for example.
It will be great to adopt this guide to a situation when AKS using Managed Identity instead of Service Principal, because otherwise this section will fail.
![image](https://user-ima

[2020-12-04 13:45] MonikaReddy-MSFT commented on #67132
@kostrse -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-04 13:46] MonikaReddy-MSFT commented on #67140
@makushima -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-04 13:49] KrishnaG-MSFT commented on #67144
@ChrisSommers Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-04 13:56] HeinzLm commented on #67084
Hi!

Last I asked about the redirect_uri and it was possible shortly after that (probably already implemented, but not deployed?!).
So regarding the claims resolver more the possibility.

In terms of feature request (switching user journeys or have a "go to orchestration step"-orchestration step) my hopes are low and I would address that somewhere else. But perhaps I oversaw something (SubJourneys

[2020-12-04 14:02] NickFadz opened #67150 "Missing punctuation"
t of compromise of this level of access  <---- missing a period.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a05af0d-2b8d-9e59-91a9-8100a328ba7d
* Version Independent ID: c83e1d5a-cd97-0c46-2891-25c3823ccd31
* Content: [Securing privileged access overview](https://review.docs.microsoft.com/en-us/azure/active-direct

[2020-12-04 14:03] shashishailaj commented on #66869
@uahmad85 Please let me know if you still have any issues in your journey of learning azure. I can have a call with you as well if required. If you still have doubts , please email me on azcommunity [at] microsoft [dot] com referencing this thread with a subject line "ATTN shashi" and I will be happy to help you further. We will now close this issue .

Thank you.

[2020-12-04 14:04] #66869 closed

[2020-12-04 14:21] Craigmeister68 opened #67151 "Missing Common Action - Save to CSV"
One of the items missing from this document is how to save (and read) CSV from a dataframe. There is "upload of json" from a URL. Is the understanding that the destination would be Azure storage?

Is saving to the local notebook workspace supported? If so, how would I retrieve the file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-12-04 15:02] nthelight079 opened #67153 "Incorrect display attribute mapping in documentation"
Please note that in the documentation for setting up Azure in Open Athens admin, the instructions are as follows:

a. In Display name mapping, select Use attribute.

b. In the Display name attribute text box, enter the value http://schema.microsoft.com/identity/claims/displayname.

I copied and pasted that attribute data direct from the documentation into my customer's Open Athens admin account an

[2020-12-04 15:04] AshokPeddakotla-MSFT commented on #66966
As already mentioned in the doc, When the application connects to IoT Central, it sends the model ID of the thermostat device model. IoT Central uses the model ID to retrieve the device model and create a device template for you. You add customizations and views to the device template to enable an operator to interact with a device.

I am adding author @dominicbetts to share further details if any

[2020-12-04 15:05] SadiqhAhmed-MSFT commented on #67125
@joeljanke This is the most recently updated documentation - https://docs.microsoft.com/en-us/azure/role-based-access-control/classic-administrators#view-the-account-administrator per the link "The Account Administrator is the user that initially signed up for the Azure subscription, and is responsible as the billing owner of the subscription."

Account administrator has following permissions:

![

[2020-12-04 15:16] SadiqhAhmed-MSFT commented on #67144
@ChrisSommers By default soft-delete is enabled on RSV. When you try to delete the backup data, it will not be deleted immediately since soft-delete is enabled. Post deletion operation the data would remain in RSV for 14 days. If you plan to delete it immediately/permanently, you can do so by disabling soft-delete which is the first step for "Permanently deleting soft deleted backup items" and the

[2020-12-04 15:20] sailando opened #67155 "Definition of privileged Access"
this feedback relates to this direct link:
Security rapid modernization plan: Stage 1

Our definition of privileged access needs to be the same and just be repeated wherever we use the term at the beginning of a chapter (where a user might land through a direct link).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b5

[2020-12-04 15:21] sailando opened #67156 "List of privileged accounts"
I think it is dangerous to provide such a short list of privileged access roles here.
Readers will find different lists in different sources, but this one should be the most comprehensive.
What about these roles?
Azure DevOps Administrator
Privileged Authentication Administrator
Security Administrator
User Administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-12-04 15:26] sailando opened #67157 "HumOR"
Are we sure we want to put this HumOR threat first at the beginning of our Strategy guidance? It might be just me, but it seems to be too specific to be the motivation for applying a SPA strategy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db39f91f-f63d-bc58-bb38-bf9bd4316a3b
* Version Independent ID: 30f1a43b-e220

[2020-12-04 15:30] sailando opened #67158 "Consistent usage of terms. Levels of Security diagram"
Keep the terms consistent!
The "levels of security" diagramm has Privileged **Access**, the other layers are labeled *** Security. The text below talks about "privileged security"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db39f91f-f63d-bc58-bb38-bf9bd4316a3b
* Version Independent ID: 30f1a43b-e220-209e-f36f-be3f76

[2020-12-04 15:34] sailando opened #67159 "Personal and non-personal accounts"
"Privileged access includes IT administrators with control of large portions of the enterprise estate and other users with access to business critical assets."

Is this the official definition? We need to have one here, prominently positioned, highlighted.

This does only include personal users. While these are important and in focus of many customers already, non-personal users like service princ

[2020-12-04 15:35] SatishBoddu-MSFT commented on #67052
Hello @Mja101 We are working on validating the tutorial, meanwhile please confirm if you are still facing the issue?

[2020-12-04 15:39] sailando opened #67160 "List of privileged accounts"
Instead of listing 4 privileged account roles here and there - and not doing so in other parts of the guidance - we might have a separate article/chapter where we list the names of privileged account roles. This is subject to change and having it in one place makes maintenance a bit easier.
And we are getting this question as 1st question from many customers: which roles should we focus on? would

[2020-12-04 15:40] Myrddraal commented on #47170
@jeffhollan, when this change goes in, will it improve the availability SLA for consumption plans (currently 99.95%)?

[2020-12-04 15:41] dbradish-microsoft opened #67161 "There is not enough usable space for this operation"
Please specify in this doc how much available disc space is needed to extend a disc.  Although all the stars should align and the XYZ department should be monitoring disc usage and be proactive, this rarely happens.  Instead, disc space is increased when users run out of space.  I have 54GB of free disc space on a 1TB drive and am receiving the error pasted below.  A troubleshooting section in thi

[2020-12-04 15:47] AndyBunning opened #67162 "Set a Boolean Claim"
There does not appear to be an option here to set or change a Boolean Claim to a specific value.  For example, if I want to set a Claim received from the directory and save it back, regardless of its current value.

How is this possible in a Custom Policy through a Claim Transformation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-12-04 16:03] cephalin commented on #65046
@nelroosevelt Thank you for the feedback. While we agree that "main domain" avoids the accuracy issue, it's meaning is nebulous in the context of this doc. I've brought your feedback to the App Service product team and we decided that in the interest of clarity in the steps, we're going to stick with "root domain" at this point, accepting that it's less than a completely accurate use of the term.

[2020-12-04 16:03] #65046 closed

[2020-12-04 16:14] cephalin commented on #61706
This doc has been updated. #please-close

[2020-12-04 16:14] #61706 closed

[2020-12-04 16:19] kyleburnsdev opened #67163 "Permission(s) required for automated pause/resume"
In discussing permissions required for automated pause/resume, the doc reads:
"Pause and Resume require the SQL DB Contributor permission, specifically Microsoft.Sql/servers/databases/action."

In reviewing the resource provider operations at https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftsql, Microsoft.Sql/servers/databases/action is not lis

[2020-12-04 16:34] amitbapat commented on #66835
Azure Key Vault and Azure Dedicated HSM are two separate products.
Key Vault uses FIPS 140-2 Level 2 validated HSMs in the backend. You don't need to have Dedicated HSM to use Key Vault.

[2020-12-04 16:43] JamesTran-MSFT commented on #67150
@NickFadz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 16:52] bdschaap opened #67165 "Is this feature available for Azure SQL Managed Instances?"
[Enter feedback here]
I wanted to see if this feature is available for Azure SQL Managed Instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69a7e2e-dfa7-1fcf-e2f6-781ecd0a7ccf
* Version Independent ID: 4c6c22d7-0c67-47be-d241-de0d01c8603a
* Content: [Overview of Maintenance control for Azure virtual machines us

[2020-12-04 17:03] elafnit opened #67166 "Are EV code signing certificates supported for key vault storage and reference in ci/cd pipelines?"
I would like to know if there are any limitations to storing EV code signing certificates in Azure Key Vault and if these can then be downloaded and used in ci/cd build pipelines for clickonce applications?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406baadb-00bb-a08c-ebfa-bf5f4981842e
* Versi

[2020-12-04 17:10] #66932 closed

[2020-12-04 17:11] MarileeTurscak-MSFT commented on #67145
@joeri-juramento
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:16] MarileeTurscak-MSFT commented on #67145
Thanks! I made a pull request to add a line about trusted devices. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139949

I will leave it open for review. @MicrosoftGuyJFlo

[2020-12-04 17:16] #67145 closed

[2020-12-04 17:18] MarileeTurscak-MSFT commented on #67153
@nthelight079
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:19] JamesTran-MSFT commented on #67166
@elafnit
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:21] MarileeTurscak-MSFT commented on #67153
Thank you, this matches what I see in other documentation.

I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139952

CC: @jeevansd

[2020-12-04 17:21] #67153 closed

[2020-12-04 17:22] MarileeTurscak-MSFT commented on #67155
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:23] MarileeTurscak-MSFT commented on #67158
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:25] JamesTran-MSFT commented on #67160
@sailando
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-04 17:27] MonikaReddy-MSFT commented on #67096
@basavarajb -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-04 17:28] SubhashVasarapu-MSFT commented on #66849
@D3-LucaPiombino, Appreciate your patience. Yes, Regional VNET integration will bypass SNAT limits entirely when enabled with Service Endpoints to the service. Adding the SME here for more insights.

[2020-12-04 17:29] MarileeTurscak-MSFT commented on #67156
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:31] kenwith commented on #66423
@r-milne - thank you for taking the time to provide feedback when you find an issue. Sharing your expertise like this greatly improves the docs. I know it takes time to log an issue after you have figured something out and I appreciate it.

@japere and I looked into this and we think we have a PR to fix the issue. Here is a screenshot of the PR below.. let me know if you spot any issue or another

[2020-12-04 17:31] #66423 closed

[2020-12-04 17:31] JamesTran-MSFT commented on #67159
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 17:33] JamesTran-MSFT commented on #67157
@sailando
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-04 17:36] joeljanke commented on #67125
While that documentation may be updated, it is referring to a "Classic" experience.

This documentation...
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/enterprise-scale/enterprise-enrollment-and-azure-ad-tenants
...is not referring to a "Classic" experience and uses the Account Owner terminology.   I don't really care what it is called, but it is critical to be consistent

[2020-12-04 17:46] jasonnutter commented on #67089
@fabiociconi We'll make sure this is updated as part of the MSAL Angular v2 docs update.

[2020-12-04 17:47] WinstonHoward-MSFT commented on #67136
Thanks for the issue, I'll take a look.

[2020-12-04 17:49] RonnieQuan commented on #64981
@NavtejSaini-MSFT  Any update on this issue?

[2020-12-04 17:51] Duchynko commented on #26454
Took me a while to make it work, so I'll paste it here if anyone else needs an example. The setup might need some cleanup, but for now, I'm happy it works.

[code]

and `azure_startup`
[code]

[2020-12-04 17:52] WinstonHoward-MSFT commented on #67146
Thanks for the question, I'll take a look.

[2020-12-04 17:55] WinstonHoward-MSFT commented on #67161
Thanks for the detailed feedback, I've assigned this to the doc-authors backlog to consider updating the doc with a troubleshooting section.

[2020-12-04 18:03] SadiqhAhmed-MSFT commented on #67125
@joeljanke Thanks for the feedback.

@bandersmsft For visibility.

[2020-12-04 18:03] WinstonHoward-MSFT commented on #67165
Thanks for the question, I'll take a look.

[2020-12-04 18:16] SaiKishor-MSFT commented on #66884
@o-l-a-v Were you able to register the target subscription and try moving it? Please let me know. Thank you!

[2020-12-04 18:18] isshukla opened #67169 "EnableSoftDelete switch not needed."
[Enter feedback here]

In the line:
$keyVault = New-AzKeyVault -Name $kv -ResourceGroupName $rgname -Location $location -EnableSoftDelete

EnableSoftDelete  switch not needed.

New-AzKeyVault : A parameter cannot be found that matches parameter name 'EnableSoftDelete'.
WARNING: Upcoming breaking changes in the cmdlet 'New-AzKeyVault' :
The ability to create new key vaults with soft delete disabled

[2020-12-04 18:20] isshukla opened #67170 "EnableSoftDelete switch not needed"
[Enter feedback here]

In the line:
$keyVault = New-AzKeyVault -Name $kv -ResourceGroupName $rgname -Location $location -EnableSoftDelete

EnableSoftDelete  switch not needed.

New-AzKeyVault : A parameter cannot be found that matches parameter name 'EnableSoftDelete'.
WARNING: Upcoming breaking changes in the cmdlet 'New-AzKeyVault' :
The ability to create new key vaults with soft delete disabled

[2020-12-04 18:23] normesta commented on #66554
#please-close

[2020-12-04 18:23] #66554 closed

[2020-12-04 18:23] normesta commented on #65807
#please-close

[2020-12-04 18:23] #65807 closed

[2020-12-04 18:32] saifbadran9 commented on #66949
Hi @Grace, thanks a lot for following-up on this, and apologies for the delay in response.
Actually, no errors were seen, it just does not cd into the directory (stays on the same directory).

Anyways, we have been informed that this is a known platform issue related to Windows containers and shared storage, and it is fixed and being deployed globally (ETA: late December).

Thanks a lot for taking

[2020-12-04 18:33] MarileeTurscak-MSFT commented on #67158
I do see it referred to as "privileged access" everywhere else. I made a pull request to update the text to that. https://github.com/MicrosoftGuyJFlo/azure-docs-pr/pull/13

@MicrosoftGuyJFlo let me know if I'm missing anything there.

@sailando you can feel free to create your own pull requests for these types of updates rather than create Github issues.

[2020-12-04 18:33] #67158 closed

[2020-12-04 18:35] AlexandraKemperMS commented on #66978
Hi @kxying-kk, [the Azure SDK for Java github](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial) has an example on how to integrate Key Vault with App Config. Please let me know if you have any more questions.

[2020-12-04 18:38] JamesTran-MSFT commented on #67159
@sailando
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-04 18:39] MarileeTurscak-MSFT commented on #67156
I made a pull request to link to the admin role list. https://github.com/MicrosoftGuyJFlo/azure-docs-pr/pull/14

If you think more needs to be added feel free to make your own pull request.

[2020-12-04 18:39] #67156 closed

[2020-12-04 18:40] kxying-kk opened #67172 "trying to clear some confusion in this tutorial"
Hi. I read the tutorial and would like to clear some confusion.

This piece is from the tutorial:
These Key Vault credentials are only used within your application. Your application authenticates directly with Key Vault using these credentials without involving the App Configuration service. The Key Vault provides authentication for both your application and your App Configuration service without

[2020-12-04 18:43] verbedr opened #67173 "Blob name patterns have limitations"
Perhaps useful to mention that the name pattern of the blob trigger can't have resolvers in the container name. So a trigger is always linked to a single container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ecb1e79-f603-03fd-2ef9-c6cf08ffaacd
* Version Independent ID: 35c99e36-f224-350b-a258-2e0cfb8ab154
* Conten

[2020-12-04 18:43] saifbadran9 opened #67174 "Does this collect Middleware (e.g. EasyAuth) logs?"
Hi Team,

Just a small question here, is this SDK intended to (or somehow can) collect logs that are coming from Middleware containers (i.e. Easy Auth)? Or it only collects the Application Logs (stdout/stderr).

We can find the Easy Auth logs in Kudu site under LogFiles directory, however, wondering if it should be sent to Application Insights and/or Log Analytics.

Will it, by default, be treated

[2020-12-04 18:52] o-l-a-v commented on #66884
The few CDNs that had to be moved are already moved. Willtry to remember to answer here if I ever move CDN with Azure DNS alias again. Thanks.

[2020-12-04 19:04] dereklegenzoff commented on #67023
Hi @StefanRetief - I just wanted to confirm what Heidi said. Unfortunately, this is an unsupported scenario. Search indexes are immutable so there's no way to append to a list. That's why the data is getting overwritten. Instead, a new list has to be provided that includes all the items you want in the list.

Using the npm package you found is probably your best bet for this. The other option woul

[2020-12-04 19:10] SaiKishor-MSFT commented on #66884
@o-l-a-v Sure. I will close out this thread for now, please do open it back whenever needed.  Thank you!

[2020-12-04 19:10] #66884 closed

[2020-12-04 19:23] MonikaReddy-MSFT commented on #66978
@AlexandraKemperMS & @rbschneider  - Thank you for providing your insights.
@kxying-kk - I hope they have answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-04 19:23] #66978 closed

[2020-12-04 19:26] NavtejSaini-MSFT commented on #66911
@gitclem For now we are going ahead and closing this request, If you still have an issue, please comment on this thread and we can look into this further.

[2020-12-04 19:26] #66911 closed

[2020-12-04 19:27] NavtejSaini-MSFT commented on #67151
@Craigmeister68 We are checking this and we will get back to you.

[2020-12-04 19:27] mlearned commented on #67105
there are various ways to find the data, see here to get started:  https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview#where-do-i-see-my-telemetry

[2020-12-04 19:48] SadiqhAhmed-MSFT commented on #67007
@MichaelWeberMSFT Please leave that field blank. It isn’t currently utilized for partner offers. We will make a note to update that document page to reflect keeping it blank for Partner offers.

Thanks once again for bringing it to our attention!

We will now proceed to close this issue. Please tag me in your reply if you have any questions in this matter.

[2020-12-04 19:48] #67007 closed

[2020-12-04 19:48] Karishma-Tiwari-MSFT commented on #67142
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-04 19:50] mlearned commented on #67114
This article is discussing locking down access from your IPs to the API server in AKS.  This means you are telling AKS, to accept traffic from a specific set of IP ranges (ones you can control on your side, etc).   You are allow-listing your IP ranges.  My point is it is a config on the AKS side (specifying your IPs) .. so if your IPs change, then you need to update the "AKS config" for authorized

[2020-12-04 19:51] MarileeTurscak-MSFT commented on #67137
@si-chan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 19:58] MarileeTurscak-MSFT commented on #65835
(social accounts) We don't support social accounts right now

"One used to able to just login to myaccess.microsoft.com with a guest account." - a guest account is different than a social account; not all guest accounts are from social networks
		From the limited information, it's hard to tell what you were doing before when it worked; you could have used a different kind of guest account or a dif

[2020-12-04 20:00] twisterbr opened #67175 "Site recovery error while migrating "on-premise""
Hello!

What does the following error mean?

[00000006] [12/02/2020 02:31:39.52] [ERROR] GetVersions() failed with exception: System.ServiceModel.EndpointNotFoundException: There was no endpoint listening at http://168.63.129.16/?comp=versions that could accept the message. This is often caused by an incorrect address or SOAP action. See InnerException, if present, for more details. ---> System.Ne

[2020-12-04 20:01] mlearned commented on #67114
here's some info on the doc and if/when we change an IP on the API server:

On rare occasions, if there's a maintenance operation your API server IP might change. Planned maintenance operations that can change the API server IP are always communicated in advance.  From this doc:  https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-outbound-network-rules-and-fqdns-for-aks-clust

[2020-12-04 20:03] SaurabhSharma-MSFT commented on #67143
@Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-12-04 20:07] JamesTran-MSFT commented on #66938
@flarsmar
Since I haven't heard from you in a few days, I'll go ahead and close out this issue.

If you require additional support, please feel free to re-open this issue or create a new one.
Thank you for your time and patience throughout this issue.

[2020-12-04 20:07] #66938 closed

[2020-12-04 20:11] nitinme commented on #56014
@mosdav Thanks for your feedback. We are looking to address this in our future work sprints and will track this in our internal system. Closing this issue here for now.

#please-close

[2020-12-04 20:11] #56014 closed

[2020-12-04 20:20] MarileeTurscak-MSFT commented on #67155
This already links to the deployment articles that have this definition in them. I made a pull request to also link to the Privileged Access Workstation article. https://github.com/MicrosoftGuyJFlo/azure-docs-pr/pull/15

If you think more should be added feel free to make your own pull request on the document.

CC @MicrosoftGuyJFlo

[2020-12-04 20:20] #67155 closed

[2020-12-04 20:31] mimckitt commented on #65081
I don't think this is something we need to add to this document as we do have a PowerShell command that explains how to check the status. For most users, they are using PowerShell or CLI and not utilizing the portal to check an individual VM. However this issue will remain on the doc so if others feel the same they can comment and we can always reconsider in the future.

#please-close

[2020-12-04 20:31] #65081 closed

[2020-12-04 20:33] nitinme commented on #61485
@cadi3s Thanks for your feedback. We are looking to address this in our future work sprints and will track this in our internal system. Closing this issue here for now.

#please-close

[2020-12-04 20:33] #61485 closed

[2020-12-04 20:37] mimckitt commented on #63660
I think that's a fair ask. I updated the doc. Once the changes are merged they will go live after a few hours.

#66743

[2020-12-04 20:37] #63660 closed

[2020-12-04 20:47] mimckitt commented on #61554
We do have a section on removing deprecated certificates

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-remove-deprecated-certificates

I think this makes more sense than telling users they have to run the removal commands multiple times and for all different entries.

Thoughts?

[2020-12-04 20:49] #65518 closed

[2020-12-04 20:55] wilbug1git1 opened #67177 "Communicate over private link in Azure doc issues"
In the section [Communicate over private link in Azure] (https://docs.microsoft.com/en-us/azure/governance/policy/concepts/guest-configuration#network-requirements)

It say to Apply a tag with the name EnablePrivateNeworkGC and value TRUE to enable this feature.  I have two questions.  It looks like the tag has a typo and missing the t in Network?  I assume this tag is applied to a server?  If bot

[2020-12-04 21:14] mksuni commented on #66329
@evertonmc  we are working on updating the article by end of next week

[2020-12-04 21:20] vhorne commented on #65894
@anhlqn For more information, see https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/web-application-firewall-troubleshoot#understanding-waf-logs

[2020-12-04 21:22] JamesTran-MSFT commented on #67150
@NickFadz
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2020-12-04 21:22] #67150 closed

[2020-12-04 21:25] yuddinlyb opened #67179 "AZ 3.13 not updated"
The section AZ 3.13 is not update with recent information. The Azure Database for PostgreSQL is available in preview based on the link provided in that section. Please update the guideline accordingly.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e586d4aa-ae0f-4e62-dbf7-25665862d6b2
* Version Independent ID:

[2020-12-04 21:28] docbugger commented on #65806
ping @cherylmc

[2020-12-04 21:33] kgremban commented on #61708
@TwoPatient Can you open a new issue at https://github.com/Azure/iotedge/issues? They'll be able to help you troubleshoot your scenario. Thanks.

[2020-12-04 21:36] kxying-kk commented on #66978
Thanks. Alexandra. This sample is very similar to the tutorial [Use Key Vault references in a Java Spring app](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-spring-boot). I followed the steps to create those java classess AppConfiguration.java, AzureCredentials.java, MessageProperties.java. i set up keyvault and app config in azure. when i run the applicat

[2020-12-04 21:40] szymonbr opened #67180 "Incorrect calculation algorithm for kubelet daemon memory reservations"
According to **Resource reservations** section in the documentation memory reservation for kubelet daemon should be around
[code]
for 7GB RAM worker node.
I use Standard_F4s_v2 which has 8GB of RAM.
I made a calculation for several dozen of such worker nodes in one of my pool and found out missing lots of allocatable memory.
According to the calculation algorithm it should look like:
[code]
But I

[2020-12-04 21:44] JamesTran-MSFT commented on #67162
@AndyBunning
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-04 21:52] j-martens commented on #67000
Thanks for your post. Have made an attempt to fix that will published later today. Thanks again. #please-close

[2020-12-04 21:52] #67000 closed

[2020-12-04 21:57] kgremban commented on #65832
@ebertrams can you comment on this?

[2020-12-04 21:57] mrbullwinkle commented on #67080
It is referring to the public preview of codeless monitoring on Azure App Services running Linux + Node. So you would see the monitoring options when creating a new Azure App Service resource:

![image](https://user-images.githubusercontent.com/31510320/101218391-ff185380-3650-11eb-8507-e28e5ac7e0c0.png)

On the second page of the configuration you can enable codeless monitoring with App Insights

[2020-12-04 22:14] WinstonHoward-MSFT commented on #67146
If your AKS Cluster is running Kubernetes v1.19 or greater it will default to `containerd` for its container runtime and there is no change. Clusters with node pools on a supported Kubernetes version less than 1.19 receive Moby **(the Docker Runtime)** for its container runtime, but will be updated to ContainerD once the node pool Kubernetes version is updated to v1.19 or greater. You can still us

[2020-12-04 22:18] kgremban commented on #65150
@dimiboi Can you provide more information about why the group permissions aren't necessary?

A previous piece of feedback we got on this article was from someone who said they had `crw------- 1 root iotedge 10, 224 May 31 15:13 /dev/tpm0` permissions until they restarted their device, and then the permissions updated to `crw-rw----`. Might that be the same in your case as well?

[2020-12-04 22:24] a8ree commented on #67080
Ah, I created mine using Terraform, so never got that option!

On Fri, Dec 4, 2020, 21:58 Michael Bullwinkle <notifications@github.com>
wrote:

[2020-12-04 22:27] makushima commented on #67140
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources

[2020-12-04 22:29] MicrosoftGuyJFlo commented on #67091
#reassign @jay98014

[2020-12-04 22:32] #67023 closed

[2020-12-04 22:40] terrymandin opened #67182 "IoT Central file upload device sample no longer works"
This document points us to this link to setup an IoT Central File Upload: [IoT Central file upload device sample](https://docs.microsoft.com/en-us/samples/iot-for-all/iotc-file-upload-device/iotc-file-upload-device/).  When you try to import the device template "/setup/FileUploadDeviceDcm.json" IoT Central fails with an error.

![Capture](https://user-images.githubusercontent.com/833055/101222398-

[2020-12-04 22:45] msandbu opened #67183 "Bug when opening purview for the first time and wrong screenshot."
In the initial screenshot where is says open Purview web console, it is not consistent with the image that I get.
As seen here -->
![image](https://user-images.githubusercontent.com/12401154/101222771-ce551000-368a-11eb-9605-ca77b422341f.png)
)

Secondly I get an error 500 message after I try to open the console after given the user the required access. Something that I'm missing which should also

[2020-12-04 22:46] #66955 closed

[2020-12-04 22:57] kobulloc-MSFT commented on #67172
@kxying-kk Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-12-04 23:08] mrbullwinkle commented on #67080
If you have already deployed the resource I believe you should still be able to go in the portal and enable monitoring for Node on Linux from within the App Service UI for your web app:

![image](https://user-images.githubusercontent.com/31510320/101223353-d9437c80-3659-11eb-978b-e24431027b62.png)

It would be under **Settings** > **Application Insights**

For enabling automatically as part of you

[2020-12-04 23:09] tfitzmac commented on #67121
@nastassiar - thanks for this feedback. Yes, you are right, that section needs to be updated. I will work on it now.

[2020-12-04 23:18] mhopkins-msft commented on #66967
Hi @jollyoldsaintnixon

Thank you for your feedback! I've updated the sample and the article. The updated sample is live now. The updated article should be published on Monday.

Thanks!
 ~ *Mark*

#please-close

[2020-12-04 23:18] #66967 closed

[2020-12-04 23:27] anastasia-nesterenko opened #67185 "Wrong code for "Upload and tag images" part"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-ba7e506d4f79
* Content: [Quickstart: Image classification with Custom Vision client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogni

[2020-12-04 23:30] mahomedalid opened #67186 "Policy Samples link with wrong redirection"
Policy Samples link redirect to wrong page (reference). The correct link should be https://docs.microsoft.com/en-us/azure/governance/policy/samples/ instead of  https://docs.microsoft.com/en-us/azure/api-management/policy-reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 250924d9-418b-9a24-90fe-5b3835c3b2a7
* Ve

[2020-12-04 23:55] tfitzmac commented on #67121
I have submitted the update. It should get published on Monday.
#please-close

[2020-12-04 23:55] #67121 closed

[2020-12-05 00:12] Mja101 commented on #67052
@SatishBoddu-MSFT, Thanks for the response. Unfortunately I am still facing the same problem.

[2020-12-05 00:16] ChaitanyaNaykodi-MSFT commented on #67173
Hello @verbedr, Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 00:17] ChaitanyaNaykodi-MSFT commented on #67186
Hello @mahomedalid, Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 00:33] BryanTrach-MSFT commented on #66864
@IgnacioAlvarezArenas Thank you for the confirmation. If you have any questions or concerns in the future, please let us know. We will now proceed to close this thread.

[2020-12-05 00:33] #66864 closed

[2020-12-05 00:35] roygara commented on #67113
Hello @dingoryan, thanks for bringing this to our attention, we appreciate it. :)
I see the parameter is still in our reference documentation but did confirm that when I actually try to use the command, the parameter isn't listed. I've contacted the product team and will let you know when I hear back.

[2020-12-05 00:35] rbschneider commented on #67115
@si-chan Good catch - I replaced this just now internally. Thank you!

[2020-12-05 00:42] JamesTran-MSFT commented on #67166
@elafnit
Thank you for your time and patience!

For EV code signing certificates, you can reference our [Key Vault FAQs](https://docs.microsoft.com/en-us/azure/key-vault/certificates/how-to-integrate-certificate-authority#frequently-asked-questions) for more info, I'll also share some additional links that I think might help with your ask.

[How to sign code built using Azure Pipelines using a cer

[2020-12-05 00:48] MarileeTurscak-MSFT commented on #67141
@girishgouda
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 00:49] MarileeTurscak-MSFT commented on #67148
@vinay-gunjalli
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 00:58] MarileeTurscak-MSFT commented on #67163
@kyleburnsdev
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 00:59] MarileeTurscak-MSFT commented on #67169
@isshukla
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:01] thiruma0203 opened #67187 "Install aks-preview extension before Enable-manage-identity"
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-aks-cluster-to-managed-identities-preview
Section "Update an AKS cluster to managed identities (Preview)" describes steps to run "az aks update -g <RGName> -n <AKSName> --enable-managed-identity" to use managed identity.

However this command fails if aks-preview extension is not installed.

Explanation of "az extension add

[2020-12-05 01:02] MarileeTurscak-MSFT commented on #67169
You are correct. Currently soft delete is on by default for all key vaults. The -EnableSoftDelete flag was deprecated.

I made a pull request to remove the references to that flag.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/140036

CC @vhorne

[2020-12-05 01:02] #67169 closed

[2020-12-05 01:02] MarileeTurscak-MSFT commented on #67170
@isshukla
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:03] MarileeTurscak-MSFT commented on #67170
You are correct. Currently soft delete is on by default for all key vaults. The -EnableSoftDelete flag was deprecated.

I made a pull request to remove the references to that flag.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/140036

CC @vhorne

[2020-12-05 01:03] #67170 closed

[2020-12-05 01:04] elafnit commented on #67166
@JamesTran-MSFT , my question was specifically about EV code signing certificates. The FAQ refers to EV-SSL but not EV code signing. I am able to sign code in a cicd pipeline by pulling a self-signed cert from key vault and have successfully performed this task with stand alone exe, clickonce, and uwp applications.

My question originates from the first link in your recommended links above (I used

[2020-12-05 01:05] MarileeTurscak-MSFT commented on #67174
@saifbadran9
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:06] MarileeTurscak-MSFT commented on #67175
@twisterbr please provide the link to the document that you are referencing so that we can better assist.

[2020-12-05 01:10] MarileeTurscak-MSFT commented on #67177
@wilbug1git1 thank you for your contribution! I believe the answer to both of those questions is yes.

I made a pull request to update the doc and fix the typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140037

CC @DCtheGeek please confirm

[2020-12-05 01:10] #67177 closed

[2020-12-05 01:12] MarileeTurscak-MSFT commented on #67179
@yuddinlyb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:15] MarileeTurscak-MSFT commented on #67179
@yuddinlyb Thank you! I made a pull request to update this with the preview info from that link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140038

[2020-12-05 01:15] #67179 closed

[2020-12-05 01:17] MarileeTurscak-MSFT commented on #67180
@szymonbr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:21] MarileeTurscak-MSFT commented on #67182
@terrymandin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:24] MarileeTurscak-MSFT commented on #67185
@anastasia-nesterenko
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 01:30] MarileeTurscak-MSFT commented on #67187
@thiruma0203 thank you for this feedback. I made a pull request to add this as a prerequisite but will not merge it until I have approval from @mlearned.

@mlearned please see  https://github.com/MicrosoftDocs/azure-docs-pr/pull/140041

[2020-12-05 01:30] #67187 closed

[2020-12-05 01:30] Leonardo-Ferreira opened #67188 "The reference project deserves and update doesn't it?"
The reference project deserves and update doesn't it? I mean, its been 4 years without activity... its readme instructs to download VS 2017...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 898d5139-909f-dcd9-8f25-4d8b2aafd708
* Version Independent ID: 50e12e3d-de5d-0ad2-be8f-4c28a3f4ae2e
* Content: [Build a web app us

[2020-12-05 01:33] artmasa commented on #64831
@BharathNimmala-MSFT yes, those examples answer my question. I think it would be worth documenting it.

Thank you

[2020-12-05 01:41] artmasa commented on #65189
Thanks @SubhashVasarapu-MSFT
I need to achieve this through ARM, not the CLI. Hopefully this is supported soon.

[2020-12-05 01:46] Karishma-Tiwari-MSFT commented on #67137
Thanks for the feedback! I have assigned the issue to the content author to help confirm.
@MashaMSFT Can you please hep confirm on this? Thanks :)

[2020-12-05 01:53] SaiKishor-MSFT commented on #67149
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-05 02:12] Jeankimgithub commented on #66835
Thank you so much. Apologies on being a layman. This means that we can just use Azure Key Vault ONLY without Azure Dedicated HSM, we can claim that we comply for FIPS 140-2 level as  the underlying technology (HSM)  uses FIPS, right?

[2020-12-05 02:31] Grace-MacJones-MSFT commented on #66949
Thanks for the update @saifbadran9!  I have submitted a PR to update the doc, the change will soon be merged internally and should go-live in the public docs shortly.

[2020-12-05 02:31] #66949 closed

[2020-12-05 02:54] JasonWHowell opened #67190 "Test issue"
Setting up a test issue to get reporting to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52c3c076-35b9-993a-cf54-98d1f57700f7
* Version Independent ID: c8fdd88e-2ca8-8e16-1ef1-4702e94267fd
* Content: [Quickstart: Create an Azure Purview account in the Azure portal (preview) - Azure Purview](https://docs.microso

[2020-12-05 03:27] BharathNimmala-MSFT commented on #67190
@JasonWHowell Thanks for testing, please let us know we are good to close on this issue.

[2020-12-05 03:28] JasonWHowell commented on #67190
Please leave it until next week. I need our reports to pick it up. I'll close on Monday 12/7

[2020-12-05 03:29] BharathNimmala-MSFT commented on #67190
Sure @JasonWHowell , thank you.

[2020-12-05 03:48] Karishma-Tiwari-MSFT commented on #66892
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-05 03:57] Karishma-Tiwari-MSFT commented on #65464
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-12-05 03:57] #65464 closed

[2020-12-05 03:59] Karishma-Tiwari-MSFT commented on #66742
Can you please share the exact error that you are seeing, to help investigate the issue.

[2020-12-05 03:59] Karishma-Tiwari-MSFT commented on #67090
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-12-05 03:59] #67090 closed

[2020-12-05 04:02] ChaitanyaNaykodi-MSFT commented on #66904
Hello @revodavid, we have made a PR to fix this issue and it is currently pending doc-author's review. I will now proceed to close this issue out, please tag me in your reply if there are any additional concerns. Thank you!

[2020-12-05 04:02] #66904 closed

[2020-12-05 04:39] MarileeTurscak-MSFT commented on #67183
@msandbu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 04:42] JFolberth commented on #40968
@AjayKumar-MSFT  trying clean up old PRs. Have you had a chance to look at this?

[2020-12-05 07:43] BhargaviAnnadevara-MSFT commented on #55533
@cephalin Any inputs on what sample/snippet this example is reffering to?
Ref: https://stackoverflow.com/questions/65138110/sending-an-email-from-python-django-app-with-azure-logic-apps

[2020-12-05 07:59] sturano opened #67191 "Application Insight on Dotnet core 3.1"
Hi,
we found that with dotnet 3.1 application, in order to make application insight works properly, is mandatory to set SDK inside code and setting ApplicationInsightsServiceOptions even with default options. (in the documentation seems that is optional but it's not):

public void ConfigureServices(IServiceCollection services)
{
    Microsoft.ApplicationInsights.AspNetCore.Extensions.ApplicationIn

[2020-12-05 08:15] mentorfloat opened #67192 "Excluding unused features will produce "Length mismatch: Expected axis" error"
**Description:**
When the JSON input does not include the unused features, the endpoint will return an error: `Length mismatch: Expected axis has x elements, new values have y elements`

**Expected outcome:**
When features/columns were excluded during the training phase, when making predictions, the JSON input should not need to match the element counts that include all the unused features. For ex

[2020-12-05 09:57] AjayKumar-MSFT commented on #66898
@svallier, We have been discussing on this internally with our product engineering team and content author (@cephalin). I have raised a PR (for review). After the investigation and final review we will update/merge the document as necessary. For now we will close this thread and will post back as soon as I have more info on this. Thanks again for bringing this to our attention.

[2020-12-05 09:57] #66898 closed

[2020-12-05 10:05] svallier commented on #66898
thank you @AjayKumar-MSFT. Otherwise, i don't think it only need a doc update.

Backups scheduling using cmdlet and ARM  deployment method should prompt an error if the storage is not on the right Sku instead of agree the schheduling then fail the backups. don't you think ?

[2020-12-05 10:30] AjayKumar-MSFT commented on #66898
@svallier, Thanks for the swift response. From the cmdlet invocation/ARM execution standpoint, only when the operation is executed it knows and throws if a specific storage sku was not supported. It's good point, I'll also share feedback on these flow.

Just to highlight, for ARM deployment things that are validated - Validation errors arise from scenarios that can be determined before deployment.

[2020-12-05 10:36] epieters opened #67193 "Set-variable example"
This example only works for me if the User-Agent has an exact match with iPad or iPhone
[code]

The following example works if the User-Agent contains iPad or iPhone
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c2f4db0
* Version Independent ID: ad38bf02-de35-7d67-def7-b1a064dd032f

[2020-12-05 11:03] andreasmarx opened #67194 "SMS as second factor with Azure AD Free"
Hi.
According to [this tabe](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#feature-comparison-of-versions) SMS should not be available as a second factor in Azure AD Free. But it does indeed work. I tried it with a brand new Azure AD Free Tenant without any licence and security defaults on. The account is not in any admin role. Why does it work? Is th

[2020-12-05 11:29] AjayKumar-MSFT commented on #67036
@jonwbstr,

1. For custom domains you previously configured without this verification ID, it is recommended that you protect them from the same risk (dangling DNS entries and help to avoid subdomain takeovers), yes add the verification ID (asuid) to your DNS record.

CNAME records are especially vulnerable to this threat. When an Azure resource is deprovisioned (/deleted), immediately all the asso

[2020-12-05 14:25] jonwbstr commented on #67036
Yes I reviewed the examples prior to submitting my question.

Thank you for confirming, summarizing below for future reference.

Question: Are domains using old non asuid txt records still protected, or
should we add asuid records?
Answer: *not protected,* add asuid records.

Question: When verifying domain ownership using an A record, should we
delete or keep asuid record after the domain is veri

[2020-12-05 14:25] KalyanChanumolu-MSFT commented on #67188
@Leonardo-Ferreira Thank you for the feedback.
We will investigate this and get back to you soon.

[2020-12-05 14:43] DaveZimmermann opened #67195 "No very clear"
Dear Author

This tutorial doesn't make a lot of sense... especially not for beginners like me. I had a look on it with an experienced angular developer and he said basically the same..
There was some time ago already a angular tutorial around (as well in MS Docs), which made sense, but this one doesn't

It is missing in which file and where exactly do you change something and why. I spent now qui

[2020-12-05 14:57] MayankBargali-MSFT commented on #67193
@epieters Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 14:58] MayankBargali-MSFT commented on #67191
@sturano Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 15:01] MayankBargali-MSFT commented on #67192
@mentorfloat Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 15:03] MayankBargali-MSFT commented on #67194
@andreasmarx Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 15:04] MayankBargali-MSFT commented on #67195
@DaveZimmermann Thank you for your feedback! We will review and update as appropriate.

[2020-12-05 15:05] steveres opened #67196 "Great tutorial. Txs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the WebJobs SDK - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
* Content

[2020-12-05 16:09] anhlqn commented on #65894
@vhorne thanks. After reading your link and this link https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/ag-overview#anomaly-scoring-mode again. I now understand the WAF logs better. However, it would be nice that the Matched logs have a dedicated numeric field that shows the anomaly score of `2, 3, 4, 5` instead of us having to look at the `Notice, Warning, Error, Critical` prefix

[2020-12-05 16:42] D3-LucaPiombino commented on #66849
Thank you, and don't worry, i was not in a rush.

Can you confirm if the following assertions are true (i think this will be usefull also for other
people interested in the topic):

1. [**Already confirmed by the previous answer**] SNAT limitations do not apply for WebApp/WebJob traffic
    to resources in the VNET
2. Inbound requests coming a WebApp/WebJob hosted by a **Multitenant** (not **ASE**

[2020-12-05 16:56] ggailey777 commented on #67196
Thanks for the feedback @steveres! #please-close

[2020-12-05 16:56] #67196 closed

[2020-12-05 17:15] anhlqn commented on #65894
![image](https://user-images.githubusercontent.com/3209539/101258872-4139a780-36da-11eb-944e-89fe5e14ccc8.png)

Do all Warning Matched rules always have an anomaly score of 3?

According to our WAF logs, the SQL Matched rule `942450` in `rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf` with details_message_s `Warning. Pattern match \"(?i:(?:\\A|[^\\d])0x[a-f\\d]{3,}[a-f\\d]*)+\" at REQUEST_COOKIES`

[2020-12-05 17:45] artmasa opened #67201 "username attribute on AccountInfo"
What claim in idToken is used to populate the `username` property for `AccountInfo`? I'm successfully authenticating user but the username property of the account is empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cff30850-fbce-1c4d-8979-561e84b09c78
* Version Independent ID: ad8742e7-a4c7-5b1a-1b68-dc7c14edc3ac

[2020-12-05 18:40] jsh121988 opened #67202 "Page needs User Identity Powershell Code"
In [Code examples for PowerShell](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=powershell#code-examples), the code only works with a System assigned Identity. For user assigned Identity, you need to use:
[code]
I implemented User Assigned Identities in Azure Function Apps, and actually had to enable both System Assigned and User Assigned Identities to get User

[2020-12-05 19:47] MarileeTurscak-MSFT commented on #67201
@artmasa
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-05 19:51] MarileeTurscak-MSFT commented on #67202
@jsh121988 thanks for this!

@mattchenderson I made a pull request to add this example. Please review and confirm if this is correct. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140050

[2020-12-05 19:51] #67202 closed

[2020-12-05 20:04] jsh121988 commented on #67202
Thanks @MarileeTurscak-MSFT !

Here is a more complete working example that I'm using to query the PowerBI API from Azure Functions. It was very particular, so It may be helpful.
[code]

[2020-12-05 20:47] mcurko opened #67204 "EventStore APIs for Windows Standalone clusters"
SF 6.4 was released more than two years ago. When will EventStore APIs be available for Windows Standalone clusters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c779fe31-e07e-cad0-5f97-532e802efc76
* Version Independent ID: 6e6505d7-4f1b-3fe7-5cc7-a07e887ea177
* Content: [Azure Service Fabric Event Store - Azure Ser

[2020-12-05 20:58] artmasa commented on #67201
@MarileeTurscak-MSFT thanks for the prompt response.
I found the solution in the project repo. The `username` property is set with the `preferred_username` claim from the idToken.

I will go ahead and close this issue.

[2020-12-05 21:00] #67201 closed

[2020-12-05 21:01] mcurko opened #67205 "Service Fabric support for .NET Core"
With the arrival of new .NET 5 framework, I wonder weather it's supported by current SF? And, expanding the issue, what is the relationship between SF versions and .NET/.NET Core/.NET 5 support? Is there even a notion of "supported framework", or are C# compiled projects equaly supported? Please clarify this issue, I believe it's interesting to a broad audience of developers.

---
#### Document De

[2020-12-05 21:05] whomanGHA opened #67206 "Scale limits for App Service PV2 SKU not listed"
App service limits chart makes it look like you have to running on PV3 SKU to get the 30 instance limit.  The PV2 SKU also supports up to 30 instances.  Perhaps add the PV2 SKU to show the differences between the two premium options?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
*

[2020-12-05 22:27] sanikolov commented on #67105
Been trying to find the profiler plugin telemetry for months.
See https://github.com/microsoft/ApplicationInsights-dotnet/issues/2049 for a very detailed description.
The current case is still open and unresolved.
Please do not close without providing a screenshot of profiler plugin telemetry viewable on azure.

[2020-12-05 22:33] GarbarovJava opened #67208 "Azure"
[Skriv inn tilbakemeldingen her]

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 1cc6f34d-ba83-563c-b4a1-82bcd9698472
* Version Independent ID: dbb4ea03-e3cc-ae79-4145-aee0253fd8f0
* Content: [The Azure CLI: Create a single database - Azure SQL Database](https://docs.microsoft.com/nb-no/azure/azure-sql/database/scrip

[2020-12-05 22:33] #27693 closed

[2020-12-05 22:40] delaneybrian opened #67209 "Tutorial no longer valid?"
[Enter feedback here]

There is no folder provisioning_device_client in the git repository that is linked in the tutorial.

The repository linked in the tutorial has not folder
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d13df1d-e132-c9b6-1efa-6d30550d72f7
* Version Independent ID: 7f720685-f1ee-baa8-4152-fc1104019e

[2020-12-05 23:31] DJuanes opened #67210 "Very frustrating"
I could not implement this demo. Thousands of problems with Powershell. Very frustrating.

SharedTokenCacheCredential.GetToken was unable to retrieve an access token.

Connect-AzAccount: Unable to acquire token for tenant

WARNING: Unable to acquire token for tenant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2039

[2020-12-05 23:52] JohnMarsing opened #67211 "invalid_client the App asked for scope 'mailread' that doesn't exist on the resource"
Hello,

I'm getting following error after I added Mail.Read permission to scope to appsettings.
`"Scopes": "user.read mailread"`

Before I added this, the Blazor Server App worked just fine.

I created the API Permissions through the portal

I completely signed out, even tried running it on a different browser. and still got the error message

[API Permissions Screen Shot](https://livingmessiahsto

[2020-12-05 23:59] JeremyTBradshaw opened #67212 "Proper syntax for scope= entries in 'Request an access token' section"
I see here in the example, and I've seen the same on other pages, the scopes are including "https://graph.microsoft.com", and with the HTTP safe characters (%3A%2F%2F).  However, [over on this device code page](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code#device-authorization-request), the scopes are simply entered as, for example, Mail.Read.  In my testing

[2020-12-06 00:42] Rone-s9 commented on #67195
🙂🙂🙂🙂😜😜😜

[2020-12-06 01:32] mrbullwinkle commented on #65642
Unfortunately, the article isn't going to be able to diagnose your access issue for you. The "learn more" link of the article is to give you context on how Application Insights and components work. The relevant passage in your case is here:

![image](https://user-images.githubusercontent.com/31510320/101268629-63abdf00-3733-11eb-90c1-ebcd963e9121.png)

So if you are seeing an access error in regar

[2020-12-06 01:32] mrbullwinkle commented on #65642
#please-close

[2020-12-06 01:32] #65642 closed

[2020-12-06 04:15] mrbullwinkle commented on #66454
Likely a copy paste error in the redis-cache sample as I believe AllMetrics is the default value for category:
![image](https://user-images.githubusercontent.com/31510320/101271056-6287ab80-374d-11eb-8495-87ac9317fc9f.png)

When it gets a bad value the deployment might fail, or if that samples still works it may just be silently reverting back to the default value for timegrain, but to be safe I w

[2020-12-06 04:16] mrbullwinkle commented on #66454
#please-close

[2020-12-06 04:16] #66454 closed

[2020-12-06 06:34] mrbullwinkle commented on #40373
If you leave the Id and Guid Fields empty availability tests can still be created without any issues. A lot of the parameters are legacy from the Visual Studio based tests these were originally derived from. We provide more details on the parameters you can control like the ability to do content matches here:

https://docs.microsoft.com/azure/azure-monitor/samples/resource-manager-alerts-metric#pa

[2020-12-06 06:34] mrbullwinkle commented on #40373
#please-close

[2020-12-06 06:34] #40373 closed

[2020-12-06 06:37] mrbullwinkle commented on #65484
We are going to close out this issue as there is nothing left that is actionable on the docs side.

[2020-12-06 06:37] mrbullwinkle commented on #65484
#please-close

[2020-12-06 06:37] #65484 closed

[2020-12-06 06:41] mrbullwinkle commented on #64942
@jimt4593 we are going to retire the quickstart as it is redundant to one of our more detailed docs. This article: https://docs.microsoft.com/azure/azure-monitor/app/asp-net is up-to-date with the latest changes in VS2019.

[2020-12-06 06:51] mrbullwinkle commented on #57613
For product questions we ask that you ask your questions here in Microsoft Q&A: https://docs.microsoft.com/answers/topics/azure-monitor.html. Once you question has been answered if you would like to see the answer covered in the docs please open a new issue and link to the thread of the answer.

[2020-12-06 06:51] mrbullwinkle commented on #57613
#please-close

[2020-12-06 06:51] #57613 closed

[2020-12-06 06:55] mrbullwinkle commented on #28402
Closing as Status Monitor is now deprecated with the Application Insights Agent (Status Monitor v2) now the preferred solution.

[2020-12-06 06:55] mrbullwinkle commented on #28402
#please-close

[2020-12-06 06:55] #28402 closed

[2020-12-06 07:09] mrbullwinkle commented on #56517
We are going to close this out as it is a product question. For general product questions we recommend using Microsoft Q&A: https://docs.microsoft.com/answers/topics/azure-monitor.html or if appropriate you can create issues directly against the sdk repos: https://github.com/microsoft/ApplicationInsights-dotnet/issues/new/choose

[2020-12-06 07:09] mrbullwinkle commented on #56517
#please-close

[2020-12-06 07:09] #56517 closed

[2020-12-06 07:26] mrbullwinkle commented on #65068
Closing out the docs issue as there is nothing actionable on the docs side and identical question was created against the sdk repo with engagement from the engineering team: https://github.com/microsoft/ApplicationInsights-dotnet/issues/2101

[2020-12-06 07:26] mrbullwinkle commented on #65068
#please-close

[2020-12-06 07:26] #65068 closed

[2020-12-06 07:39] prasenjitcloudgurua opened #67213 "Issue while creating Azure Data Factory using python"
using Service Principal Credential throwing error as below -
AttributeError: 'ServicePrincipalCredentials' object has no attribute 'get_token'
Changed the library to Azure identity library, is getting different error - "get_session" object was not present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8c

[2020-12-06 07:54] hatasaki opened #67214 "Public Load Balancer for worker nodes"
[Enter feedback here]

Two "aro-internal-lb" are seen in the doc. I think the latter one should be "aro-public" or "aro".
In addition, in Japanese version of the doc, indexing around the explanation of the load balancer is misaligned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e00b226-866a-91c0-8796-280b264734f8
*

[2020-12-06 08:01] hatasaki opened #67215 "Internal Load Balancer for ARO 4.5"
[Enter feedback here]

In the "What's new in OpenShift 4.5" section, it only refer the change for public load balancer, but I think internal load balancers for both master and worker nodes also have been merged in one load balancer. Please add an explanation for the change of internal load balancer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-12-06 08:18] hatasaki opened #67216 "AggregatedValue for Ready and NotReady query"
[Enter feedback here]

In the doc, only the query for Ready and NotReady doesn't have "AggregatedValue", it may cause a confusion when user try to create an alert rule follows the steps written in the same doc. To avoid it, could you add a note for the query like as follows:

[!NOTE] To create alert rule on count such as NotReadyCount, It needs AggregatedValue to summarize NotReadyCount int he que

[2020-12-06 08:20] mrbullwinkle commented on #41159
Closing out as this article now covers all the latest config for the client side JS:https://docs.microsoft.com/azure/azure-monitor/app/javascript

[2020-12-06 08:20] mrbullwinkle commented on #41159
#please-close

[2020-12-06 08:20] #41159 closed

[2020-12-06 08:23] mrbullwinkle commented on #55470
For product questions like this one we recommend using Microsoft Q&A: https://docs.microsoft.com/answers/topics/azure-monitor.html

[2020-12-06 08:23] mrbullwinkle commented on #55470
#please-close

[2020-12-06 08:23] #55470 closed

[2020-12-06 08:34] mrbullwinkle commented on #63526
Closing as resolved after responses from the engineering team.

[2020-12-06 08:34] mrbullwinkle commented on #63526
#please-close

[2020-12-06 08:34] #63526 closed

[2020-12-06 08:37] mrbullwinkle commented on #35837
Closing out this issue. We are also updating the doc with this additional info which will go live on Monday:

![image](https://user-images.githubusercontent.com/31510320/101275537-56631480-3774-11eb-9bf7-240addca853a.png)

[2020-12-06 08:37] mrbullwinkle commented on #35837
#please-close

[2020-12-06 08:37] #35837 closed

[2020-12-06 08:42] mrbullwinkle commented on #11876
We are closing this issue out as it hasn't gotten any upvotes and is not currently an area of priority for the engineering team. We do appreciate the suggestion and agree that across the board there is a lot of room for improvement documenting the pre-built telemetry modules. There is some legacy info on this topic here: https://github.com/mrbullwinkle/Backup-copy-of-ApplicationInsights-Home/tree/

[2020-12-06 08:42] mrbullwinkle commented on #11876
#please-close

[2020-12-06 08:42] #11876 closed

[2020-12-06 09:44] rbaker26 commented on #40403
@normesta is these any update on this documentation?

[2020-12-06 10:42] MayankBargali-MSFT commented on #67204
@mcurko Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 10:46] MayankBargali-MSFT commented on #67205
@mcurko Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 10:47] MayankBargali-MSFT commented on #67206
@whomanGHA Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 10:50] MayankBargali-MSFT commented on #67208
@ Thank you for reaching out. Can you please provide more information on the issue that you are facing following the document?

[2020-12-06 10:53] MayankBargali-MSFT commented on #67209
@delaneybrian Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 10:55] MayankBargali-MSFT commented on #67210
@DJuanes Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-06 10:57] MayankBargali-MSFT commented on #67211
@JohnMarsing Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 10:59] MayankBargali-MSFT commented on #67212
@JeremyTBradshaw Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 11:00] MayankBargali-MSFT commented on #67213
@prasenjitcloudgurua Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 11:02] MayankBargali-MSFT commented on #67214
@hatasaki Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 11:03] MayankBargali-MSFT commented on #67215
@hatasaki Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 11:04] MayankBargali-MSFT commented on #67216
@hatasaki Thank you for your feedback! We will review and update as appropriate.

[2020-12-06 12:28] shmool opened #67217 "SWA: More precise instructions for custom configuration"
The doc lacks precise example for changing or adding custom configuration for the build process.
For instance, although there's an example for changing the default build for Angular, I wouldn't know how to follow it: where to add the npm script and what/where exactly to add the custom command in the YAML file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-12-06 12:41] amanmcse commented on #66823
@piotrgradzinski Closing the issue now.

[2020-12-06 12:41] #66823 closed

[2020-12-06 13:25] richardfrankza commented on #24210
Agree with @bhamilton, please add `        PDO::MYSQL_ATTR_SSL_VERIFY_SERVER_CERT => false,` to the example. This worked for me on Yii2

[2020-12-06 14:46] scoriani opened #67218 "Add an Azure SQL Database page under Integrate"
Wondering why there are MySQL and CosmosDB pages but not one for Azure SQL Database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 011d76c6-4716-d7b0-e1f0-8431ecb26d9b
* Version Independent ID: 2e3964e4-2b1a-cf3f-9199-c94f50539adb
* Content: [How to bind an Azure Database for MySQL instance to your Azure Spring Cloud

[2020-12-06 15:08] mrbullwinkle commented on #66297
The following has been added to the dependency section of the API doc and will go live later today:

![image](https://user-images.githubusercontent.com/31510320/101283830-fb004900-37aa-11eb-83c9-4c486b2f3fe9.png)

[2020-12-06 15:08] mrbullwinkle commented on #66297
#please-close

[2020-12-06 15:08] #66297 closed

[2020-12-06 15:32] mrbullwinkle commented on #65910
Update to address this is merged internally and will go-live later today.

[2020-12-06 15:32] mrbullwinkle commented on #65910
#please-close

[2020-12-06 15:32] #65910 closed

[2020-12-06 15:51] shashishailaj commented on #66879
@v-hagamp Could you please provide an update on this one ? thanks

[2020-12-06 15:53] shashishailaj commented on #66981
@chetansriv @v-hagamp Could you please provide an update on this one ? thanks.

[2020-12-06 16:37] ldeluigi commented on #49245
On my multi-container web app websocket works but the error is still thrown. Using nginx, nodejs

[2020-12-06 16:51] MarileeTurscak-MSFT commented on #67217
@shmool
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-06 16:52] MarileeTurscak-MSFT commented on #67218
@scoriani
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-06 17:10] spottedmahn commented on #41159
great, thanks @mrbullwinkle 🤝

[2020-12-06 18:47] mrbullwinkle commented on #25985
#please-close

[2020-12-06 18:47] #25985 closed

[2020-12-06 18:54] gkens opened #67219 "You dont clearly saw how & when to switch policies from Report Only to block"
[Enter feedback here]You dont clearly saw how & when to switch policies from Report Only to block

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b567e4-ba41-7042-f978-08fd33c4bb39
* Version Independent ID: 263331ca-358e-420d-4ae7-dde93c69ed84
* Content: [Conditional Access - Block legacy authentication - Azure Active

[2020-12-06 19:01] lmenten commented on #67052
I am experiencing the same problem with the AdtE2ESample program:

ObserveProperties room21 Temperature
Starting observation...
Press any key to end observation
Error: System.Text.Json.JsonException: The JSON value could not be converted to System.DateTimeOffset. Path: $.lastUpdateTime | LineNumber: 0 | BytePositionInLine: 39. Path: $.$metadata | LineNumber: 0 | BytePositionInLine: 229.
 ---> Syst

[2020-12-06 19:28] felipespas-brz opened #67220 "Login failed when trying to access the dedicated SQL pool from Spark"
I followed the documentation and ran into the following issue:

**Code :**
%%spark
spark.sql("CREATE DATABASE IF NOT EXISTS nyctaxi")
val df = spark.read.sqlanalytics("SQLPOOL1.dbo.Trip")
df.write.mode("overwrite").saveAsTable("nyctaxi.trip")

**Issue:**
Error: com.microsoft.sqlserver.jdbc.SQLServerException: Login failed for user '<token-identified principal>'. ClientConnectionId:80176bb9-4499-43

[2020-12-06 19:31] felipespas-brz commented on #67220
I realized the database name is case sensitive. It may be interesting to mention it on the documentation, especially to help new learners.

[2020-12-06 19:35] NavtejSaini-MSFT commented on #66900
@tknandu We have raised this question though Cosmos Internal discussion email as well. Please check if you can provide some info here as well.

[2020-12-06 19:36] secondsleep-blaine commented on #34828
+9

[2020-12-06 19:38] mrbullwinkle commented on #63491
closing out as engineering team has already addressed this request.

[2020-12-06 19:38] mrbullwinkle commented on #63491
#please-close

[2020-12-06 19:38] #63491 closed

[2020-12-06 19:39] mrbullwinkle commented on #58112
Closing out this issue.

[2020-12-06 19:39] mrbullwinkle commented on #58112
#please-close

[2020-12-06 19:39] #58112 closed

[2020-12-06 19:41] mrbullwinkle commented on #65532
Closing out this PR to consolidate feedback under already existing GitHub issue on the same topic that is more descriptive of what needs to be fixed:

https://github.com/MicrosoftDocs/azure-docs/issues/61816

[2020-12-06 19:41] mrbullwinkle commented on #65532
#please-close

[2020-12-06 19:41] #65532 closed

[2020-12-06 20:29] mrbullwinkle commented on #65018
I have added this note under the H2 for availability tests:

![image](https://user-images.githubusercontent.com/31510320/101291569-db334a00-37d7-11eb-96a0-1fcd06e7d783.png)

The change will go-live later today. Thanks for calling this out!

[2020-12-06 20:32] mrbullwinkle commented on #65018
#please-close

[2020-12-06 20:32] #65018 closed

[2020-12-06 20:53] paulomorgado opened #67222 "When should ChangeFeedProcessor.StopAsync should be called?"
The article hints no clue to when `ChangeFeedProcessor.StopAsync` should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a5194d-0869-94e6-227f-4fba0c798b22
* Version Independent ID: 47f771ee-5237-7fb5-dbc6-fcebafdec142
* Content: [Change feed processor in Azure Cosmos DB](https://docs.microsoft.com/en-us/azur

[2020-12-06 21:31] mrbullwinkle commented on #61775
Closing out this issue and consolidating feedback for improvements to this doc under: https://github.com/MicrosoftDocs/azure-docs/issues/61816

[2020-12-06 21:31] mrbullwinkle commented on #61775
#please-close

[2020-12-06 21:31] #61775 closed

[2020-12-06 22:52] grantomation opened #67223 "Missing permission instructions"
[Enter feedback here]
Required permissions for ARO deploy is absent from this document. Please see https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster#verify-your-permissions. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937

[2020-12-06 23:08] msdpalam opened #67224 "Unable to find package 'Gremlin.Net'."
I follow the article, downloaded the github code, in WSL2 and tried to run the command:
**nuget install Gremlin.Net**

I get the error:
WARNING: Error: SecureChannelFailure (The authentication or decryption has failed.)
WARNING: An error occurred while loading packages from 'https://www.nuget.org/api/v2/': Error: SecureChannelFailure (The authentication or decryption has failed.)
Unable to find pa

[2020-12-07 00:12] mrbullwinkle commented on #40819
#please-close

[2020-12-07 00:12] #40819 closed

[2020-12-07 00:56] MarileeTurscak-MSFT commented on #67219
@gkens
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-07 00:58] MarileeTurscak-MSFT commented on #67222
@paulomorgado
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-07 00:58] MarileeTurscak-MSFT commented on #67223
@grantomation
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-07 00:59] MarileeTurscak-MSFT commented on #67224
@msdpalam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-07 01:59] SnowWolf7 opened #67225 "Reply Url configuration in app does not take effect"
#### Reply Url configuration in app does not take effect
The reply Url in SAMLRequest is: https://*/abc/d, the reply url configuration in app is: https://*/bcd/d, and the effect one is: https://*/abc/d, how can i make https://*/bcd/d work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea1437d-a485-ed34-7706-c5be45ff3d

[2020-12-07 02:32] twright-msft commented on #65640
OK, so that looks good, but there must be something wrong still here.  Can you please run this command @padmajauk ?

kubectl describe crd/datacontrollers.arcdata.microsoft.com

Please @ mention me in your reply so I see it as soon as possible.  Thanks!

[2020-12-07 03:10] AshokPeddakotla-MSFT commented on #66986
@mjtpena Please let us know if you have any further queries.

[2020-12-07 03:13] AshokPeddakotla-MSFT commented on #66860
@HekiliJordan We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would open an issue with your question on the Microsoft QnA or StackOverflow forums where there is a community that can help (plus the engineering te

[2020-12-07 03:13] #66860 closed

[2020-12-07 03:35] KrishnaG-MSFT commented on #66933
@xuwenjian1995 Thanks for your comment!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then going forward please shar

[2020-12-07 03:35] #66933 closed

[2020-12-07 04:21] surajmb commented on #66430
Hi @tcsougan , the limitation still stands. Application Gateway v2 does allow underscores in header values, but not header names. Have you seen otherwise? If so, can you provide more logs/information?

[2020-12-07 04:21] SnehaAgrawal-MSFT commented on #66991
@Thialala Thanks again for the feedback! The PR has been created once verified it will be merged. We will close this out but if you feel you need more information please just let us know.

[2020-12-07 04:21] #66991 closed

[2020-12-07 04:23] SnehaAgrawal-MSFT commented on #67035
Thanks @Ericgre for update on this. @RonnieQuan We will now close this out but if you feel you need more information please just let us know.

[2020-12-07 04:23] #67035 closed

[2020-12-07 04:25] #66873 closed

[2020-12-07 04:26] SwathiDhanwada-MSFT commented on #66873
@kajencik Thanks for your feedback. I have made changes to the document and the changes will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-07 04:38] AjayKumar-MSFT commented on #67220
@felipespas-brz, Thanks for leveraging Azure docs feedback channel to raise this feedback!
Glad you figured-out the issue. We will review this and update the document as necessary.

Thanks again for sharing doc feedback and suggesting content improvements.

[2020-12-07 04:48] AjayKumar-MSFT commented on #66976
@worlin, Thanks for leveraging Azure docs feedback channel to raise this question. We see that you have closed this thread, kindly let us know if you still need assistance with this.

[2020-12-07 04:53] AjayKumar-MSFT commented on #66953
@sumanbasireddy,
Thanks for leveraging Azure docs feedback channel to raise this feedback! We notice you had already closed this thread.
I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-12-07 05:37] lissff opened #67227 "Why do we need delete network profile manually? can we delete network profile from portal?"
[Why do we need to manually delete the network profile from azure cli? if I didn't create it from portal when I create the container group?

And even if there is this manual deletion step, can we delete the network profile from portal instead of Azure cli? it doesn't make sense I cannot find this resource from portal.]

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-12-07 05:37] vipulsparsh commented on #67225
@SnowWolf7 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-12-07 05:56] SwathiDhanwada-MSFT commented on #66928
@shabirjan To configure JVM runtime options, traverse to the Azure portal, under Application Settings for the web app and create an app setting named JAVA_OPTS with the options. App Service passes this setting as an environment variable to the Java runtime when it starts.

[2020-12-07 05:59] SwathiDhanwada-MSFT commented on #66988
@rbschneider  Can you please provide an update on the document enhancement?

[2020-12-07 06:07] GitaraniSharma-MSFT commented on #67227
@lissff , thank you for your question. We'll review this and get back to you shortly.

[2020-12-07 06:25] shabirjan commented on #66928
@SwathiDhanwada-MSFT  Thanks for the tip, but again the thing missing here, do i need to include the downloaded agent in the deployment? How can i get path to the agent while setting the JAVA_OPTS configuration? Both these information are missing from the article.

[2020-12-07 06:30] HarithaMaddi-MSFT commented on #67051
@luizs81 - Thanks for posting the question. This is related to the updates that are coming in the next version for 'Get-AzResourceGroupDeploymentOperation' as mentioned in this [document](https://docs.microsoft.com/en-us/powershell/azure/release-notes-azureps?view=azps-5.1.0#azresources-3). As the type of $deploymentOperations will be PSDeploymentOperation in future, the script needs to be handled

[2020-12-07 06:30] #67051 closed

[2020-12-07 06:38] scannme opened #67228 "The email address 'azuredpdk@microsoft.com' cannot connect"
[Enter feedback here]
The eamil address 'azuredpdk@microsoft.com' cannot send email.

收件人邮件地址（azuredpdk@microsoft.com）不存在，邮件无法送达。
错误代码：host microsoft-com.mail.protection.outlook.com[104.47.54.36] said: 550 5.4.1 Recipient address rejected: Access denied. AS(201806281) [DM3NAM06FT004.Eop-nam06.prod.protection.outlook.com] (in reply to RCPT TO command)

---
#### Document Details

⚠ *Do not edit this

[2020-12-07 06:40] KrishnaG-MSFT commented on #67032
@adroc If it's w.r.t VM deployment from ARM template or Az PowerShell then we have what-if operation for it. For more information, please refer [this](https://docs.microsoft.com/azure/azure-resource-manager/templates/template-deploy-what-if) document.

Other related references:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-powershell
https://docs.microsoft.com/en-u

[2020-12-07 06:40] #67032 closed

[2020-12-07 06:55] vipulsparsh commented on #66250
@sukhans Can you look into this ?

[2020-12-07 07:15] GitaraniSharma-MSFT commented on #67067
@AndrewSmithRS , I have confirmed with the Application gateway backend team that when there's no matching listener, accessing App gateway V2 returns a 404 with the certificate from the first listener. This is a default behaviour of Application gateway V2 SKU.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discu

[2020-12-07 07:15] #67067 closed

[2020-12-07 07:33] HarithaMaddi-MSFT commented on #67213
@prasenjitcloudgurua - I also have observed the similar issues while executing the instructions. This [issue ](https://stackoverflow.com/questions/64063850/azure-python-sdk-serviceprincipalcredentials-object-has-no-attribute-get-tok) explains the root cause, however document needs to be updated according to this. I am moving it content author to review and update the document accordingly.

@dcstwh

[2020-12-07 07:57] li1117heex opened #67230 "linux download link in Get started with AzCopy is wrong"
https://aka.ms/downloadazcopy-v10-linux is actually v7.2.0
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/

[2020-12-07 08:10] dpapkin opened #67232 "Require VM SKUs not in the G series needs to be updated. G series is not available"
[Enter feedback here]
Require VM SKUs not in the G series needs to be updated. G series is not available .

I am not sure if this is a limitation of the azure pass subscription but this quickstart is used for azure classes, so it might be helpful to change to another series , perhaps E series

![image](https://user-images.githubusercontent.com/24426530/101325087-2582fc80-38a6-11eb-8889-b31ad6c8c2d

[2020-12-07 08:29] ChrisH82 opened #67233 "Management of costs"
This is really exciting functionality however having deployed it I am no wondering about cost management; 7 hosts with minimal usage over the weekend have generated 1.5GB of logs per day each and at nearly $3 per GB that is on track to add another $1000 to the monthly cost of the solution. Is this level of cost of this insights functionality expected or is there any way to mitigate these costs - o

[2020-12-07 08:38] motasem13 opened #67234 "VNET Setting is slot sticky, docs are outdated"
It seems our docs are out of date but VNET by design is slot sticky and is not swapped. If you would like it to swap, please add the following setting to your slot:
WEBSITE_OVERRIDE_PRESERVE_DEFAULT_STICKY_SLOT_SETTINGS = 0

But note add this setting, all settings listed below will also be swapped:
Settings that aren't swapped:
•	Publishing endpoints
•	Custom domain names
•	Non-public certificates

[2020-12-07 08:52] amanmcse commented on #67211
@JohnMarsing The scope needs to be passed as mail.read and not as mailread. Please refer to this [sample](https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=57c95ad7-8e48-4795-90d1-ea1f5ca7aeb2&response_type=token&redirect_uri=https://jwt.ms&scope=user.read mail.read) request.

[2020-12-07 08:52] #67211 closed

[2020-12-07 08:57] amanmcse commented on #67212
@JeremyTBradshaw  For Graph API, scopes can be passed as either 'Mail.Read' or 'https://graph.microsoft.com/Mail.Read'. Both are valid. However, for other APIs, such as your custom API, you need to specify complete URI as scope e.g., https://example.com/api/read.

[2020-12-07 09:01] JayaChatterjee-MSFT commented on #66878
@spelluru Could you please confirm this? Apparently it looks like a typo.

[2020-12-07 09:09] ChrisSommers opened #67235 "Use VSE if App Service is using VNet Integration"
This statement "Key Vault references are not presently able to resolve secrets stored in a key vault with network restrictions unless the app is hosted within an App Service Environment." seems to be saying that you can't enable a Key Vault Firewall for VSE unless ASE is used. However, what about if the App Service is enabled for VNet Integration?

According to this blog post, that works:  https:/

[2020-12-07 09:11] XBeg9 commented on #11090
2yrs and I still can't find addonProfile definitions

[2020-12-07 09:18] AjayKumar-MSFT commented on #67036
Yes, that is correct, thanks for summarizing it and appreciate you taking time to share your feedback for Azure doc improvements.

[2020-12-07 09:18] #67036 closed

[2020-12-07 09:28] coachburcu opened #67237 "OpenReadAsync does not work as expected"
Hi all,

we were using storage library v11 without any problem when we were calling CloudBlockBlob.OpenReadAsync() Here is our v11 code:

 `           CloudBlobContainer cloudBlobContainer = await GetContainerReferenceAsync(containerName);

            if (cloudBlobContainer != null)
            {
                CloudBlockBlob blob = GetBlobReference(cloudBlobContainer, fileName);

[2020-12-07 09:29] AnuragSharma-MSFT commented on #67097
@nunepalli Sync Metadata Database need not to be necessarily in the same server and you can create a new dedicated server, just it has to be in same region . As per the article itself **_"The Sync Metadata Database has to be an Azure SQL Database located in the same region as the Hub Database"_**

[2020-12-07 09:29] SumanthMarigowda-MSFT commented on #67237
@coachburcu Thanks for the question! We are investigating and will update you shortly.

[2020-12-07 09:53] xuwenjian1995 commented on #66933
@KrishnaG-MSFT - Thank for your detailed explanation

[2020-12-07 09:57] msymons opened #67238 "GSS error: Resolved?"
Page says "We plan to complete the update by the end of November".
It is now December 2020.  Has the change been done?  (I need to plan a server upgrade that will tickle this problem if it has not been resolved).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a86489-2b1d-1b42-687a-5d4323ad7306
* Version Independent I

[2020-12-07 10:20] cderinbogaz commented on #67002
Hello, is there any news on the issue? Thx

[2020-12-07 10:28] VikasPullagura-MSFT commented on #67141
@girishgouda Once you open the browser can you check under the certificate details tab, if the Issuer is showing as Godaddy. With this, we can see that Ngnix is picking up the certificate correctly or not. If you don't see the issuer here then the Ngnix is not picking the certificate as expected. Then it could be issue with the configuration. Also, you mentioned that the same is working as expecte

[2020-12-07 10:48] rayne-wiselman commented on #66501
The link is now  updated. Thanks for your feedback!
#please-close

[2020-12-07 10:48] #66501 closed

[2020-12-07 11:08] AjayKumar-MSFT commented on #67234
@motasem13, Thanks for the feedback! We'll review and update the document as appropriate.

[2020-12-07 11:23] AjayKumar-MSFT commented on #67230
@li1117heex, Thanks for bringing this to our attention. We will review and update the document as appropriate.

[2020-12-07 11:53] magnus-longva-bouvet opened #67240 "Can an Azure Container Instances container group be automatically assigned a new IP address after a restart NOT triggered by human interaction?"
Under "Other limitations", the documentation states that "_If your container group is configured with an IP address, that IP address can change when the container group is restarted._"

* Does this apply to restarts triggered by the container group's "Restart policy"? E.g. if an application on a container in my container group runs out of memory and crashes, and the container group automatically r

[2020-12-07 12:24] AjayKumar-MSFT commented on #67235
@ChrisSommers,
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-07 12:27] RohitMungi-MSFT commented on #67192
@mentorfloat Thanks for sharing the steps to repro the error message. Since this is a forum to report our document bugs we would request to post the details of the steps from your azure automl setup directly to our team via the provide feedback option from the Azure ML portal ml.azure.com

You can also provide specific details of your run so our team can review the same and advise accordingly.

![

[2020-12-07 12:42] JeremyTBradshaw commented on #67212
Thank you @amanmcse .  Makes sense to me now as well.  I hadn't thought about the use case where the resource being accessed is not one of Microsoft's.

[2020-12-07 12:43] SubhashVasarapu-MSFT commented on #67228
@scannme, Thanks for reaching out. We will investigate and update this thread.

[2020-12-07 12:44] SubhashVasarapu-MSFT commented on #66968
@motowilliams, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-07 12:44] #66968 closed

[2020-12-07 12:47] VikasPullagura-MSFT commented on #67215
@sakthi-vetrivel
Can you please check and add your comments on this doc update request as applicable.

[2020-12-07 12:49] older commented on #36505
So it doesn't work with managed identity? Does anyone have example of ARM template where it works without `DOCKER_REGISTRY_SERVER_USERNAME` and `DOCKER_REGISTRY_SERVER_PASSWORD` settings?

[2020-12-07 12:56] DebashishSarkar opened #67242 "Phrase correction"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/6063546/101353466-a7c8ec00-38b9-11eb-937e-29584d870247.png)

Not created any secrets as part of this page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930afeda-ea55-4e46-6dd0-25da38eae788
* Version Independent ID: 2c4f9d1a-92db-d480-c690-960f726

[2020-12-07 12:58] SubhashVasarapu-MSFT commented on #67111
@ncoder, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-07 12:58] #67111 closed

[2020-12-07 12:59] SubhashVasarapu-MSFT commented on #66032
The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.

[2020-12-07 13:05] DebashishSarkar commented on #66455
@SumanthMarigowda-MSFT - I feel we are mixing two topics here. The issue which I have raised is specific to monitoring storage accounts only. I agree that VMs can also be monitored by Azure Monitor "but" the article which I am referring to talks about how to get to monitoring blade from inside your storage account. If you want to monitor specific storage account, you can reach the monitor blade fr

[2020-12-07 13:11] DebashishSarkar opened #67243 "Phrase correction needed"
We didn't store a secret in this quickstart but the page states otherwise.
![image](https://user-images.githubusercontent.com/6063546/101354826-c4662380-38bb-11eb-8f77-c07569d20e66.png)

CLI page shows correct phrase
![image](https://user-images.githubusercontent.com/6063546/101354867-d1831280-38bb-11eb-8d00-edf6af28d4ee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-07 13:12] DebashishSarkar opened #67244 "Phrase correction needed"
We didn't store a secret in this quickstart but the page states otherwise.
![image](https://user-images.githubusercontent.com/6063546/101354826-c4662380-38bb-11eb-8f77-c07569d20e66.png)

CLI page shows correct phrase
![image](https://user-images.githubusercontent.com/6063546/101354867-d1831280-38bb-11eb-8d00-edf6af28d4ee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-07 13:13] DebashishSarkar opened #67245 "phrase correction needed"
We didn't store a secret in this quickstart but the page states otherwise.
![image](https://user-images.githubusercontent.com/6063546/101355063-1313bd80-38bc-11eb-8f1d-dcbdadb4b286.png)

CLI page shows correct phrase
![image](https://user-images.githubusercontent.com/6063546/101355087-1ad36200-38bc-11eb-8dd2-34573f64ceb4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-07 13:14] DebashishSarkar commented on #67244
Duplicate

[2020-12-07 13:15] DebashishSarkar commented on #67245
duplicate

[2020-12-07 13:20] BhargaviAnnadevara-MSFT commented on #67243
@DebashishSarkar Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-07 13:20] jsandersrocks opened #67247 "Document that you cannot use private IP ranges and have to use subnet"
It is not explicitly documented that you cannot use private IP ranges successfully (10.72.0.0.  You must instead use the SubNet option.  Had an issue where someone was trying to filter in private range and traffic was blocked (app gateway) even though we could see the 10.72 traffic hitting app services.  NET integration was not being used.  Since it was coming from the backbone we could see the ad

[2020-12-07 13:21] BhargaviAnnadevara-MSFT commented on #67242
@DebashishSarkar Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-07 13:21] padmajauk commented on #65640
Here is the output @TravisWright
    Kind:                   datacontroller
    List Kind:              datacontrollerList
    Plural:                 datacontrollers
    Singular:               datacontroller
  Preserve Unknown Fields:  true
  Scope:                    Namespaced
  Versions:
    Additional Printer Columns:
      Json Path:  .status.state
      Name:       State
      Type:

[2020-12-07 13:22] BharathNimmala-MSFT commented on #67038
@richshadman Thanks again for bringing this to  our notice and helping us improve our Azure documentation, I have raised a PR and it will be merged to the live document later in the week once its reviewed and approved.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead a

[2020-12-07 13:22] #67038 closed

[2020-12-07 13:28] bwarren18 opened #67248 "Mention CustomData parameter in Set-AzVMOperatingSystem cmdlet."
This document should be updated to mention that it is possible to set CustomData using the Set-AzVMOperatingSystem
 cmdlet in the Az module.

https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmoperatingsystem?view=azps-5.1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 282b39fe-e8fe-f698-36c2-321f0

[2020-12-07 13:45] #67212 closed

[2020-12-07 14:02] dominicbetts commented on #67182
@terrymandin - I've created an issue in the sample repo for the author of the sample code: https://github.com/iot-for-all/iotc-file-upload-device/issues/3

[2020-12-07 14:03] psmanhas commented on #67248
@bwarren18 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-07 14:04] psmanhas commented on #67248
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2020-12-07 14:09] SnehaAgrawal-MSFT commented on #67247
@jsandersrocks Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-07 14:15] wbplomp opened #67250 "Open View Designer below General not there anymore"
Action "2. Open View Designer below General" does not seem to be there anymore. Any suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc1c543-6db1-23cd-0f7a-4506f53b7d90
* Version Independent ID: a7c1b69f-67dc-d94a-05d7-1d603ea82461
* Content: [Azure Monitor logs for Azure Firewall](https://docs.microsoft.co

[2020-12-07 14:23] wbplomp commented on #67250
https://azure.microsoft.com/en-us/updates/view-designer-in-azure-monitor-is-retiring-on-31-august-2023/

(retired on 30th November)

[2020-12-07 14:38] mmacy commented on #66381
@tejinderrai Thanks for submitting. I'll close this one out for now but we've noted your suggestion for consideration in a future update. If you have specific data services you'd like to see added, please let us know with an @-mention as @knicholasa has requested in https://github.com/MicrosoftDocs/azure-docs/issues/66381#issuecomment-738211751. #please-close

[2020-12-07 14:38] #66381 closed

[2020-12-07 14:47] AshokPeddakotla-MSFT commented on #66966
@prbans Let us know if that is not clear.
@dominicbetts do you have any further information to add?

[2020-12-07 14:47] AshokPeddakotla-MSFT commented on #66986
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-07 14:47] #66986 closed

[2020-12-07 14:54] akhassanov opened #67251 "Control plane [nodes <- to be removed] provide the core Kubernetes services and orchestration of application workloads."
Control plane nodes provide the core Kubernetes services and orchestration of application workloads.
should read
Control plane provides the core Kubernetes services and orchestration of application workloads.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 3

[2020-12-07 14:58] nunepalli commented on #67097
@AnuragSharma-MSFT
Just to be clear, I can create Sync Metadata Database and Hub database in separate resource groups in the same subscription and same region, right?

[2020-12-07 15:22] terrymandin commented on #67182
Thanks @dominicbetts !!

[2020-12-07 15:30] flmmartins opened #67252 "Cluster Role Binding User only worked with Email instead of ID"
I have a managed AD AKS. I was trying to access the resources preview in AKS GUI and I was given a 403 Forbidden. After reading this [documentation](https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac) it says I need to add a Cluster Role Binding with the Group Object ID.

If you want to add a **User** for me it only worked with Email instead of object ID.

Also is not clear to me: If I use t

[2020-12-07 15:44] SatishBoddu-MSFT commented on #67052
https://github.com/microsoftdocs/azure-docs/issues/67005

[2020-12-07 15:45] gary918 opened #67253 "Can I SetCacheExpiration through Azure Portal or by calling Azure App Configuration python SDK?"
[Can I SetCacheExpiration through Azure Portal or by calling Azure App Configuration python SDK? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22237330-6826-5a33-80b9-73c9beb5417a
* Version Independent ID: 5aadf141-63c8-9f12-e010-939ef4b9958c
* Content: [Tutorial for using Azure App Configuration dynamic configurati

[2020-12-07 15:47] SatishBoddu-MSFT commented on #67052
Hi @Mja101 Our team is notified on this issue and will be responding soon.

[2020-12-07 15:48] SatishBoddu-MSFT commented on #67005
Hello @maximepollet27 Our team is notified on this issue and will be responding soon.

[2020-12-07 15:50] moehoward opened #67254 "Typo"
"but" should be "and"
"safe" should be "safely"

--------------------
section with typo:
--------------------
Configure app settings

You can keep development settings (for example, local MySQL password) in Web.config or appsettings.json, **but** production secrets (for example, Azure MySQL database password) **safe** in App Service.

----------------------------------
different section without ty

[2020-12-07 15:59] perktime commented on #66946
I think it's okay not to mention the VM creation step but it would be helpful to at least mention and link to an article on how to add the VM(s)/VMSS to the ALB backend pool. Technically, if you follow the steps in the article as is it won't work.

[2020-12-07 16:03] archiemaskill opened #67255 "Application gateway quickstart - could not add backend subnet to VM"
I went through this application gateway quickstart twice, but got stuck at the same point both times.  When creating the VM, I could not select the backend subnet (as instructed).  It was disabled, saying that subnet type was not available for selection.  The gateway subnet was available for selection however.  I couldn't work out where I'd gone wrong, so if someone else can recreate this and put

[2020-12-07 16:03] mrbullwinkle commented on #17857
#please-close

[2020-12-07 16:03] #17857 closed

[2020-12-07 16:03] mrbullwinkle commented on #48424
This article referenced in this PR has been retired. The change is merged internally and will go-live later today.

[2020-12-07 16:04] mrbullwinkle commented on #48424
#please-close

[2020-12-07 16:04] #48424 closed

[2020-12-07 16:20] AjayKumar-MSFT commented on #67232
@dpapkin, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-07 16:23] AjayKumar-MSFT commented on #67233
@ChrisH82, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-07 16:28] AjayKumar-MSFT commented on #67244
Debashish, Thanks for the feedback and sharing an update. We will follow-up on your other thread (67245).

[2020-12-07 16:29] AjayKumar-MSFT commented on #67245
@DebashishSarkar

[2020-12-07 16:44] OneMoreNate opened #67256 "Issue with the loss of Vendor Specific Attributes when OTPs are used"
I know that this is a documented issue in the article without a known work around.  However I've written a script that will allow for this functionality.  We have seen this be a major road block for customers who leverage these attributes to assign certain groups to specific VLANs, for example.  There are other use cases for the scripted solution, but they are even more niche.  However the use of

[2020-12-07 16:45] lfittl-msft commented on #67238
@msymons This has actually been resolved in the JDBC driver itself - if you use the latest version of the JDBC driver, this will no longer be a problem.

Separately, I'll update the documentation in this regard, thanks for catching this!

[2020-12-07 16:47] AnuragSharma-MSFT commented on #67097
@nunepalli Yes you can have different resource groups within the same subscription in same region.

[2020-12-07 16:50] nunepalli commented on #67097
@AnuragSharma-MSFT
Thanks for the clarification.

[2020-12-07 16:50] #67097 closed

[2020-12-07 16:57] mcurko opened #67257 "Clarification needed"
_To support DNS resolution between containers, you'll have to set up your local development cluster, **using the machine name**._

What does this mean? In the following steps there's nothing specific regarding machine name, just the typical DEV cluster setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c518-2492

[2020-12-07 17:03] AjayKumar-MSFT commented on #67254
@moehoward, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-07 17:04] dbradish-microsoft commented on #67161
@WinstonHoward-MSFT , thank you.  Please feel free to close the issue.

[2020-12-07 17:09] MarileeTurscak-MSFT commented on #66232
PG Response :
You cannot use an ARM template condition inside of a role definition. You would likely have to author multiple role definitions and then have a condition that would deploy the right one based on the environment. ARM conditions are meant to specify whether an entire resource should be deployed, not a subset.

Hope this helps. If you have further questions feel free to tag me.

[2020-12-07 17:09] #66232 closed

[2020-12-07 17:10] JamesTran-MSFT commented on #67166
@elafnit
Thank you for the clarification and detailed response! I've reached out to our Key Vault engineering team for further guidance on this issue.

Thank you for your time and patience throughout this issue.

[2020-12-07 17:14] psmanhas commented on #67116
@mbiver The document is updated and changes will go live soon.

[2020-12-07 17:14] #67116 closed

[2020-12-07 17:17] evertonmc commented on #66328
Thanks @lfittl-msft, I've done that, but got no responses for more than 10 days.

[2020-12-07 17:19] psmanhas commented on #67214
@hatasaki Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-07 17:19] psmanhas commented on #67214
@sakthi-vetrivel Can you please check and add your comments on this doc update request as applicable

[2020-12-07 17:25] lfittl-msft commented on #66328
Acknowledged - thats a miss on our end, apologies for that. We generally intend to answer these as they come in.

[2020-12-07 17:26] SadiqhAhmed-MSFT commented on #67206
@tfitzmac To comment on this issue.

[2020-12-07 17:27] SadiqhAhmed-MSFT commented on #67144
@ChrisSommers I hope the previous post clarified your query. If there are still any questions you have that needs clarification, please tag me in your reply.

[2020-12-07 17:28] koneni commented on #64189
Hi @VikasPullagura-MSFT
Is there any update on this issue? Wanted to know if the documentation is updated or not.

[2020-12-07 17:33] ErikMogensen opened #67259 "What is the maximum number products an API Management instance may have?"
The section https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#api-management-limits does not state what is the maximum number of products an API Management instance may have.

I did find this thread, https://social.msdn.microsoft.com/Forums/en-US/29a11782-1f89-47bc-a71c-0a39f47db686/maximum-number-of-products?forum=azureapimgmt where it says

[2020-12-07 17:43] rwike77 commented on #67088
@jayantlad  Thanks for pointing this out, I just pushed a fix.

[2020-12-07 17:44] rwike77 commented on #67088
@rbschneider  I'll look into the script error, I don't remember seeing that one before.

[2020-12-07 17:48] VikasPullagura-MSFT commented on #64189
@mimckitt Can you please add your comments on this.

[2020-12-07 17:53] normesta commented on #67230
Hi @li1117heex. When I click that link in edge and then choose the "Copy download link" option, I get this link (
https://azcopyvnext.azureedge.net/release20201106/azcopy_linux_amd64_10.7.0.tar.gz). That appears to be the correct v10 version. Are you seeing something different? Thx

[2020-12-07 17:59] xuehongg opened #67261 "Can we add a link to https://docs.microsoft.com/en-us/connectors/videoindexer-v2/ at the bottom of this page."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 865692df-713b-4399-2107-e071c6bb2b1b
* Version Independent ID: 4cc920b7-639f-f999-961b-cbb6fb4ffca7
* Content: [The Video Indexer connectors with Logic App and Power Automate tutorial. - Azure Media Services Video Indexer](https://docs.microsoft.com/e

[2020-12-07 18:08] normesta commented on #40403
Hi @rbaker26. We don't yet have a formal document that describes the proposed process (Application Gateway + static websites).

[2020-12-07 18:10] riwasa opened #67263 "Inconsistent region lists in FAQ"
The question below states only storage accounts in US and 2 European regions are supported:

Q. Can I use multiple storage accounts with Data Box Disks?
A. No. Only one storage account, general or classic, is currently supported with Data Box Disks. Both hot and cool blob are supported. **Currently, only the storage accounts in US, West Europe, and North Europe** in the Azure public cloud are supp

[2020-12-07 18:13] hindocha85 opened #67264 "revisions"
change step 7 to Azure Databricks URL
step 7 provide and example

https:/adb-5149555543910535.15/api/2.0/preview/scim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6960e6-1a0c-267f-4ec4-2ff7574b1f09
* Version Independent ID: b08f7ae9-2b9a-c629-74e8-71a403543b97
* Content: [Configure SCIM provisioning for Microsoft A

[2020-12-07 18:17] bandersmsft commented on #66166
Doc update to address this issue is at https://github.com/MicrosoftDocs/azure-docs-pr/pull/140154

[2020-12-07 18:20] bandersmsft commented on #66166
@MartinDiewald Hi there. I'm updating the article to give more clarity and add some of the points I have below. Here are the details you wanted:

The name for alias and the subscription name are two distinct objects. After your create an alias, Azure internally creates a subscription for you.

The value for a billing scope and id are the same thing. The id for your enrollment account is the billin

[2020-12-07 18:20] #66166 closed

[2020-12-07 18:23] WinstonHoward-MSFT commented on #67161
Thanks, this issue will stay open until @kirpasingh is able to review and respond to the feedback here. This is for tracking purposes.

[2020-12-07 18:31] rbschneider commented on #66904
@ChaitanyaNaykodi-MSFT You are correct- it was due to the 32bit py version I had reinstalled to work on something else.

[2020-12-07 18:37] rbschneider commented on #66988
@SwathiDhanwada-MSFT I tested it last week and it worked both ways, meaning 'group deployment' and 'deployment group'. I will contact the dev team right now to discover what the correct syntax should be and update the doc accordingly.

[2020-12-07 18:40] VikasPullagura-MSFT commented on #67257
@mcurko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-07 18:40] VikasPullagura-MSFT commented on #67257
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-12-07 18:41] cxvoth commented on #37847
I haven't had any luck using my own client id.
https://rclone.org/onedrive/#getting-your-own-client-id-and-key
Verified the callback url and that all account types are supported.
Always get the same error message about "unauthorized client'

I noticed the following message:
_Starting November 9th, 2020 end users will no longer be able to grant consent to newly registered multitenant apps without v

[2020-12-07 18:44] erikadoyle commented on #11981
Looks like remoting docs all-up could use some maintenance with latest SDK. I've captured this issue in our work backlog. #please-close

[2020-12-07 18:44] #11981 closed

[2020-12-07 18:44] VikasPullagura-MSFT commented on #67251
@akhassanov
Thanks for the feedback! We are will check and update the document accordingly.

[2020-12-07 18:47] erikadoyle commented on #13371
Thanks for the suggestion--I've captured it in our work backlog. #please-close

[2020-12-07 18:47] #13371 closed

[2020-12-07 18:48] WinstonHoward-MSFT commented on #67240
Thanks for the question, I'll take a look.

[2020-12-07 18:54] winthrop28 commented on #65894
@anhlqn you can look up the rules themselves on github, here is a link to the SQLI (942xxx) file for CRS 3.1. You can see (pasted below) that rule 942450 is actually a critical rule, so the behavior you're seeing is expected. You have the concept correct though, it's per request (and thus transaction ID).

![image](https://user-images.githubusercontent.com/9046079/101392232-56e5d300-387a-11eb-9b14

[2020-12-07 18:58] wesmc7777 commented on #67209
The samples have been moved to this folder...

[https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/samples/sync-samples](https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/samples/sync-samples)

We will fix this in the doc

[2020-12-07 19:01] #66857 closed

[2020-12-07 19:07] vhorne commented on #67255
@archiemaskill
I re-tested this quickstart, but could not reproduce your issue. When you create your resources, make sure that are all in the same region.

When you are done testing, make sure you follow the instructions in the **Clean up resources** section to avoid accumulating additional charges.

[2020-12-07 19:11] alexkarcher-msft commented on #67005
Hi @maximepollet27 I believe this issue is due to a regression in our API that has been fixed. The issue was causing time stamps to be incorrectly formatted. That command should work now.

If not, can you show me the output from the "query" command.
![image](https://user-images.githubusercontent.com/22549328/101394102-e55b5400-387c-11eb-84a2-fd38befaf231.png)
This is what I'm looking for 😄

[2020-12-07 19:12] alexkarcher-msft commented on #67052
Hi @Mja101 I believe this issue is due to a regression in our API that has been fixed. The issue was causing time stamps to be incorrectly formatted. That command should work now.

If not, can you show me the output from the "query" command.
![image](https://user-images.githubusercontent.com/22549328/101394202-0754d680-387d-11eb-8c25-b86d92390beb.png)
This is what I'm looking for 😄

[2020-12-07 19:23] pranavsanghadia commented on #65832
I have posted my question in detail under [azure-iot-edge Q&A](https://docs.microsoft.com/en-us/answers/questions/187045/what-is-the-correct-way-to-include-mqtt-topics-in.html).

[2020-12-07 19:29] #67242 closed

[2020-12-07 19:29] BhargaviAnnadevara-MSFT commented on #67242
@DebashishSarkar Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-12-07 19:32] PeterCLu commented on #66764
Hi @michalmar , since we haven't heard back from you in a week. I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, feel free to open a new issue with additional details.

For product help, your best bet is to create a support ticket:
	1. Navigate to the Azure portal.
	2. Select the support question mark (?).
	3. Select Help + support
	4. Selec

[2020-12-07 19:32] #66764 closed

[2020-12-07 19:33] prbans commented on #66966
I'll go ahead and just work with Dom directly on this, thanks

[2020-12-07 19:35] #67243 closed

[2020-12-07 19:42] BhargaviAnnadevara-MSFT commented on #67243
@DebashishSarkar Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-12-07 19:45] AjayKumar-MSFT commented on #67235
@ChrisSommers,  The blog that you referenced covers accessing Key Vault using code that the users writes. Whereas, this documentation highlights about the 'Key Vault references' (which is a platform's feature). The limitation (note) that you mentioned is for the 'Key Vault references' feature and doesn't apply to Key Vault.
This documentation doesn't aim to cover general use of Key Vault, for this

[2020-12-07 19:46] SenthuranSivananthan opened #67266 "Pictures doesn't show up properly on dark mode"
It's hard to read black text on a transparent background image with dark mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a32c05e-04ab-f76f-8dd1-cbffed44da06
* Version Independent ID: 906d444a-332d-2254-7093-8dc817bb1026
* Content: [Architecture: Global transit network architecture - Azure Virtual WAN](https://doc

[2020-12-07 19:46] tfitzmac commented on #67206
@cephalin or @JasonFreeberg - do you have an opinion about whether PV2 should be added to the limits?

[2020-12-07 19:48] NavtejSaini-MSFT commented on #67256
@OneMoreNate The Github feedbacks are associated with particular documentation. Please provide the link to correct document so we can route it correctly.
For any other question, please ask.

[2020-12-07 19:50] NavtejSaini-MSFT commented on #67266
@SenthuranSivananthan The Github feedbacks are associated with particular documentation. Please provide the link to correct document so we can route it correctly.
For any other question, please ask.

[2020-12-07 19:54] tfitzmac commented on #67259
@vladvino - can you confirm that there are no limits on the number of products that can be created in an API Management instance?

[2020-12-07 19:59] markjbrown commented on #67188
Please assign to @christopheranderson

Thanks.

[2020-12-07 20:01] SatishBoddu-MSFT commented on #66966
Hello @prbans Please let us know if you have any updates on this issue.

[2020-12-07 20:06] jlichwa commented on #67245
@msmbaldwin can you look into it?

[2020-12-07 20:06] rohanvirmani opened #67267 "Diagnostic settings not being a part of a Resource Group"
Currently diagnostic settings are not a part of a resource group in Azure, this is uncommon and was wondering if there are plans to move these settings into a RG like most other resources.

In the case of our use, we use terraform to provision these onto app services and azure SQL, which are by definition regional. I think it makes sense for diagnostic settings to follow this methodology.

The iss

[2020-12-07 20:08] PedroC88 opened #67268 "Missing permissions needed for each step of the process"
The process itself is clear however there's no information about which permissions are required for the different steps. Ej. I came to the post because a developer on my team doesn't see any storage account where trying to import, although he has Blob Storage Read Permission on that Subscripcion/Storage/Container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-12-07 20:09] OneMoreNate commented on #67256
It deals with this document at the location shared below:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#determine-which-authentication-methods-your-users-can-use

[2020-12-07 20:12] ChaitanyaNaykodi-MSFT commented on #66959
Hello @tjohnson1010, Thank you for reaching out!
Yes, for the Sliding Window, future runs are always based on the start time not the last-run time. If the start-time is in the past it will  honor the past run times. For example if the
current date-time is : 2020-12-07T12:00:00
start time given is :  2020-12-06T11:00:00
Interval defined is : Every 2 Days

For sliding window,
First run time will be

[2020-12-07 20:12] #66959 closed

[2020-12-07 20:17] NavtejSaini-MSFT commented on #67268
@PedroC88 Please review the case  - https://github.com/MicrosoftDocs/azure-docs/issues/62833 for reference.
Our product team has an open action item on their end for this.Here is direct quote from that issue:
[code]
Please convey if you need further help.

[2020-12-07 20:22] asudbring commented on #66849
Sending to PM for review:
#reassign@christiankuhtz

[2020-12-07 20:23] mcurko opened #67270 "The example doesn't work"
_For this article, the version (build) of Windows Server with Containers running on your cluster nodes must match that on your development machine._

Does this mean I need Windows Server as dev machine?

_With Service Fabric version 6.2 and later, you can deploy containers based on Windows Server 2016 locally on a Windows 10 host._

Or maybe I can use Windows 10?

Well, let's try and follow the ar

[2020-12-07 20:25] Grace-MacJones-MSFT commented on #67088
Thanks for fixing the error @rwike77! We will now proceed to close this thread.

[2020-12-07 20:25] #67088 closed

[2020-12-07 20:27] rbaker26 commented on #40403
@normesta
Last night, I was able to figure this out for a static website hosted in Blob Storage but not yet for Static Website GitHub Preview.

I see in the Contributing documentation, there is a section outlining edits to existing pages.

If I were to write out my findings and steps, is there a way to create a new page for this?
I am happy to help with this but want to make sure the time will not

[2020-12-07 20:32] SenthuranSivananthan commented on #67266
It was for https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-global-transit-network-architecture

Here's an example:

![image](https://user-images.githubusercontent.com/16688027/101402130-590f5800-38a1-11eb-9318-bac725f49bc6.png)

[2020-12-07 20:49] MarileeTurscak-MSFT commented on #67245
Thanks! Looks like someone created a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs/issues/67242

[2020-12-07 20:49] #67245 closed

[2020-12-07 20:51] MarileeTurscak-MSFT commented on #67175
Since I have not heard from you about which document you would like to leave feedback on, I am closing this out.

Since this seems more like a troubleshooting issue than a doc enhancement, I would recommend reaching out on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered).

Otherwise feel free to create a new issue on the relevant document.

[2020-12-07 20:51] #67175 closed

[2020-12-07 21:04] lmenten commented on #67052
[ProblemAzureDemo.txt](https://github.com/MicrosoftDocs/azure-docs/files/5655235/ProblemAzureDemo.txt)

So I have updated all the NUGET packages and rebuilt.  I published the updated "SampleFunctionsApp".  No joy.

Am I missing a step?

[2020-12-07 21:37] JamesTran-MSFT commented on #67162
@AndyBunning
Thank you for your time and patience! I reached out to my team regarding this and you should be able to set the value using [OutputClaims in the TechnicalProfiles](https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles#outputclaims).

[2020-12-07 21:40] JamesTran-MSFT commented on #67166
@elafnit
Thank you for your time and patience! I received and update from our engineering team and unfortunately, Azure Key vault does not support code signing certs. If you have any other questions, please let me know.

Otherwise, since this isn't a support scenario, I'll go ahead and close out this issue at the end of the day.
Thank you again for your time and patience throughout this issue.

[2020-12-07 21:58] SaiKishor-MSFT commented on #67250
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-07 22:02] carfarmer opened #67272 "RowKey not populated in Instances table per documentation"
The section about the Instances table states the following:

However, when a Durable Functions orchestration populates the ***Instances*** table, I am seeing the RowKey as empty/null and not a "fixed constant" as the documentation describes. It seems that either the documentation is incorrect, or a bug exists within Durable Functions that is not populating this RowKey value as intended.

---
####

[2020-12-07 22:05] HEVARY opened #67273 "Suggestion to add example in Tenant URL Section (Point 7)"
[Enter feedback here]

I have worked with one of the customers, and he shared specific feedback related to the documenation.

The feedback he shared is related to the Point 7;
https://<databricks-instance>/api/2.0/preview/scim

He wants it to be a little clear, as he used workspace id instead of  instance name;
An example may clarify the issue -
For example - https://adb-5555555555555555.19.azured

[2020-12-07 22:06] jpborsi opened #67274 "Definitely worth mentioning that trigger names cannot include underscores"
Hugely frustrating time sink that could have been neatly solved by mentioning this particular quirk in the documentation somewhere. (if it's already mentioned somewhere and I missed it, I apologize.)

For python developers, normal variable naming conventions include underscores. Not supporting that in the triggers is odd, but excusable if it's documented somewhere.

---
#### Document Details

⚠ *D

[2020-12-07 22:07] rbschneider commented on #66988
@SwathiDhanwada-MSFT
This particular area is outside of my teams purview and this would represent a rather profound change to the documentation set. I will reach out and see who the subject matter expert is for the Monitoring

[2020-12-07 22:11] jess-sheneberger commented on #62877
This is happening to me as well. I've followed the directions in the documentation and believe I have satisfied them.

[code]

[2020-12-07 22:13] alexkarcher-msft commented on #67052
Hi @imenten Looks like the fix to our backend API is not going to be rolled out fully until the end of the week. I've pushed a temporary fix to the repo that should get you back on your feet. Let me know if it works with the new code.

Thanks for your patience!

[2020-12-07 22:14] alexkarcher-msft commented on #67005
Looks like the fix to our backend API is not going to be rolled out fully until the end of the week. I've pushed a temporary fix to the repo that should get you back on your feet. Let me know if it works with the new code.

Thanks for your patience!

[2020-12-07 22:17] elafnit commented on #67166
Hmmm. Can you ask again given your first suggested link above? Seems that it is supported if there exists the Azure SignTool that uses keyvault

[2020-12-07 22:20] SatishBoddu-MSFT commented on #67118
@askpatrickw I think @dominicbetts replied on Stackoverflow. Please comment here if you need further help with this issue.

[2020-12-07 22:20] Mja101 commented on #67052
Hi @alexkarcher-msft,

The **ObserveProperties thermostat67 Temperature** now works.

However, with the device simulator running, it only returns 0. Is this regarding the fix that will come end of week?

![image](https://user-images.githubusercontent.com/30071614/101412359-9a057c00-3936-11eb-8373-949497af2380.png)

[2020-12-07 22:35] eugen-nw opened #67276 "Please correct the first "az aks update-credentials" example"
As it is documented here, the secret must be enclosed in double quotes.  It did not work for me either when I followed the example.

https://github.com/MicrosoftDocs/azure-docs/issues/58356

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2

[2020-12-07 22:43] davidmwilliams commented on #20288
I agree with all @ckarras is saying here. It's disappointing AZCOPY does not support file resuming, and there are many reasons why a transfer could be interrupted that are external to one's environment.

I feel the solution around file integrity is as ckarras mentioned; check if the MD5 hash has changed - if not, resume the download, otherwise alert the user and restart. To simply remove resume fo

[2020-12-07 22:48] alexkarcher-msft commented on #67052
Is your function app triggering as expected without any errors? Are you seeing inbound API requests in the Azure Monitor for your twins instance?

[2020-12-07 22:49] alexkarcher-msft commented on #67052
Everything should be working now. Or, at least, it worked on my dev machine with an older twin that had the bad time stamp.

[2020-12-07 22:52] kobulloc-MSFT commented on #67253
@gary918 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-12-07 22:52] WinstonHoward-MSFT commented on #66616
This doc was updated in https://github.com/MicrosoftDocs/azure-docs/commit/f786aa39109841cc6fd970f94d45139c563ea16a, closing issue.

#please-close

[2020-12-07 22:52] #66616 closed

[2020-12-07 22:57] BharathNimmala-MSFT commented on #67267
@rohanvirmani Thank you for reaching out , we will review your query and get back to you at the earliest.

[2020-12-07 23:02] Mja101 commented on #67052
Thanks for the help. Turns out when I published the SampleFunctionsApp it only deployed the function.json file to Azure. Wil try solve this one.

Cheers

[2020-12-07 23:03] BharathNimmala-MSFT commented on #64831
@artmasa Thanks a lot for sharing your feedback and helping us improve the documentation. We will take the feedback shared with our document authors and see how we can enhance the document.

[2020-12-07 23:05] shueybubbles opened #67277 "fix spelling"
Misspelled "Correlating"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611beda0-a932-8f6f-1e86-50753cacab7b
* Version Independent ID: b00d85b6-9c5a-fc73-7503-a5516263bc33
* Content: [Enable and disable data retention policies - Azure SQL Edge](https://docs.microsoft.com/en-us/azure/azure-sql-edge/data-retention-enable

[2020-12-07 23:09] MarileeTurscak-MSFT commented on #66999
Hi @Aggerritsen,

It appears that you can use Microsoft Management Agent (MMA) or the HTTP Data Collector API for this, as described here:

https://techcommunity.microsoft.com/t5/azure-sentinel/sending-rest-api-data-to-azure-sentinel/ba-p/558896

Please check out the blog post and let me know if this helps! I'm closing this out but if you have further questions feel free to tag me.

[2020-12-07 23:09] #66999 closed

[2020-12-07 23:13] ChaitanyaNaykodi-MSFT commented on #66994
Hello @tomi, the [AzureWebJobsDashboard](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsdashboard), is the optional app setting used for storing logs and displaying them in the Monitor tab in the portal. [AzureWebJobsStorage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsstorage) is the required app setting used

[2020-12-07 23:13] #66994 closed

[2020-12-07 23:21] NavtejSaini-MSFT commented on #67277
@shueybubbles - Thanks for the feedback. We have created the request to change it - https://github.com/MicrosoftDocs/azure-docs-pr/pull/140224. Once approved, changes will reflect in 24 hours.

[2020-12-07 23:23] normesta commented on #40403
Hi @rbaker26 that's great. Thank you for offering to help. We do have a public contributors guide here (mostly for edits to existing) - [https://docs.microsoft.com/en-us/contribute/](https://docs.microsoft.com/en-us/contribute/). RE: a new article, I'd be happy to collaborate on getting one into our docs, but there's a few things I need to investigate internally. Would you mind starting a chat on

[2020-12-07 23:23] JamesTran-MSFT commented on #67166
@elafnit
Thank you for the quick follow up! I've reached out to our engineering team again and will update as soon as possible.

Thank you for your time and patience throughout this issue.

[2020-12-07 23:34] llx9 opened #67278 "Ambiguous Statement in In AAG End-to-end TLS encryption section"
In  End-to-end TLS encryption section
https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#end-to-end-tls-encryption

_Application Gateway only communicates with **those backend servers that have either allow listed their certificate with the Application Gateway or whose certificates are signed by well-known CA authorities and the certificate's CN matches the host name in the HT