[2019-10-08 05:58] dcurwin commented on #40225
I've renamed the column header to Azure Backup (MARS) agent.

[2019-10-08 06:01] msrini-MSFT commented on #40292
@axelgMS , Thank you for your feedback. As you suggested, I have assigned the issue to you.

[2019-10-08 06:04] easonlai commented on #33551
+1, tried to delegate owner permission to subscription and event global admin in aad, still failed...

{ "id": "/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.Resources/deployments/Microsoft.Template/operations/198F6D3E7C788621", "operationId": "198F6D3E7C788621", "properties": { "provisioningOperation": "Create", "provisioningState": "Failed", "timestamp": "2019-10-08T05:57:14.2258101Z

[2019-10-08 06:08] v-alkolc commented on #39040
Hello,

Thank you for updating me, if you get any additional information regarding this, I`d really appreciate it, so I can contact the customer who opened a ticket with us, regarding this.

Cheers,

Aleks

[2019-10-08 06:10] dcurwin commented on #40227
#please-close

[2019-10-08 06:10] #40227 closed

[2019-10-08 06:10] dcurwin commented on #40225
#please-close

[2019-10-08 06:10] #40225 closed

[2019-10-08 06:15] frehnejc opened #40293 "Thge Command line for installing on physical machines is a copy of the VMware section"
The silent install of the Mobility agent is a direct copy from the VMware docs:
/Platform "VmWare".  I am assuming for a physical machine this is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08001ec-4173-259d-36a6-2534945d2a85
* Version Independent ID: 83449fbf-57bc-30a7-2e13-55fc0451aa2b
* Content: [A

[2019-10-08 06:30] msrini-MSFT commented on #40291
@Saxak , Thank you for posting the question here.

Host Pending Deallocate | Azure can’t restore the host back to a healthy state and ask you to redeploy your virtual machines out of this host. If autoReplaceOnFailure is enabled, your virtual machines are service healed to healthy hardware. Otherwise, your virtual machine may be running on a host that is about to fail.
-- | --

You need to migrate

[2019-10-08 07:13] mustafamg commented on #40249
Thanks for your answer. Maybe I was not clear in my question.
I want the journey to start with sign up directly without sign in.
For example, i tried the following but doesn't work:
[code]

It still starts with the sign-in page. I want the user to start with the sign-up page.
Thanks

[2019-10-08 07:20] theheatDK opened #40296 "One VNet + ER Gateway + VPN Gateway?"
Hi,
If you want to use a Hub-spoke network topology with shared services you have one central hub VNet.
Both ER Gateway and VPN Gateway require a subnet called GatewaySubnet. Can they live in the same subnet?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec04207-8eff-f715-bd71-c9c8c8df72dc
* Version Ind

[2019-10-08 07:26] msrini-MSFT commented on #40296
@theheatDK , yes you can have both the VNET in the same subnet "Gateway subnet" . This setup is called co-existence setup.

Let me know if you have any further questions.

[2019-10-08 07:46] Mortana89 commented on #40268
Just to let you know, I went ahead to test what happens if I create a database with shared throughput (400) and add 26 containers.
Basically, the throughput changed to 2600 (minimum of 100RU per container), so I can't exactly match any behavior described here.

[2019-10-08 07:56] avi2183 commented on #40088
**@djpmsft** Any update on this. Please suggest. Thank you.

[2019-10-08 07:58] ayuina commented on #34364
I succeeded to access kudu on ILB ASE with 3 A records "*", "*.scm", "@" in ilbasename.appserviceenvironment.net zone, all points ILP private ip address.
Third configuration for @ seems to be missing in this doc.

[2019-10-08 08:00] theheatDK commented on #40296
Thanks @msrini-MSFT

[2019-10-08 08:00] #40296 closed

[2019-10-08 08:01] ayuina commented on #34364
Sorry, wildcard(asterisk) was removed...
I want to write 3 A records named "<asterisk>", "<asterisk>.scm", "@"

[2019-10-08 08:10] Saxak commented on #40291
Thank you, this answers my question!

[2019-10-08 08:10] #40291 closed

[2019-10-08 08:21] shashishailaj commented on #40070
@JoelCBennett This has been fixed. We are closing this issue now. In case you have any further queries ,please tag us to your reply.

Thank you.

[2019-10-08 08:21] #40070 closed

[2019-10-08 08:24] shashishailaj commented on #40265
@terryedwards Thank you for your query . We will investigate and update this thread further.

[2019-10-08 08:26] shashishailaj commented on #40285
@amotley Thank you for your query. We will get this checked by the product engineering and update this thread in case there is any plans to make Managed identity cross-tenant compatible.

[2019-10-08 08:28] shashishailaj commented on #40236
@Soqotra91 Thank you for your query. We will investigate and update this thread.

[2019-10-08 08:32] shashishailaj commented on #40254
@qub1n Thank you for your query . We will have this checked and update this thread.

[2019-10-08 08:35] shashishailaj commented on #40283
@prabhushrikant Thank you for your feedback . We will investigate and update the thread further.

[2019-10-08 08:37] shashishailaj commented on #40277
@gerhard67 Thank you for your query. We will investigate and update this thread further.

[2019-10-08 08:40] shashishailaj commented on #40284
@Shell32-Natsu Hope your query is answered . Please let us know in case you see any more different behaviors.

[2019-10-08 08:48] Sethu2488 commented on #40118
thank you for the information

[2019-10-08 09:37] theheatDK commented on #35932
Both this AKS feature plus Azure firewall in now GA, but Azure firewall cannot be used to fully implement it since it only support http/https for FQDN application rules. The article should reflect this.

[2019-10-08 09:38] stefanrothnet opened #40298 "Parsing errors when using pod annotation"
When I try to configure using pod annotation
          interval = "10s"
          monitor_kubernetes_pods = true
           - prometheus.io/scrape:"true"
           - prometheus.io/port:"8080"
I am getting parsing errors....
****************Start Config Processing********************
Parsing File /etc/config/settings/prometheus-data-collection-settings
config::configmap container-azm-ms-agentconfi

[2019-10-08 10:06] mplogas commented on #39988
@mamccrea I have a questionn running into issue 1) as well. please re-open or do you suggest to open a new issue?

[2019-10-08 10:39] Neilhuk opened #40299 "Visual Studio App Center - Not in list of Cloud App"
We are trying to allow a small number of clients access to appcenter.ms and as I understand it the application is classed as Visual Studio App Center, but this does not appear in the list of cloud apps in the CA policy even though it is listed in this document.
Has the classification of the application changed ? or is it now known as something else ?
Many Thanks

---
#### Document Details

⚠ *Do n

[2019-10-08 10:49] tesharp opened #40300 "default:privileged is not a clusterrolebinding"
Documentation refers to a default:privileged clusterrolebinding that is installed by default. It looks like this is a rolebinding in namespace kube-system, not a clusterrolebinding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf

[2019-10-08 10:53] RyanHill-MSFT commented on #39835
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-08 10:53] #39835 closed

[2019-10-08 11:01] xtrc opened #40301 "Are wildcard certificates supported?"
Hi MS,

Are wildcard certificates supported for azure frontdoor service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Independent ID: 114c01b8-8b95-ff91-98c5-fd44b12ac6fc
* Content: [Tutorial - Configure HTTPS on a custom domain for Azure Front Door Service](https://docs

[2019-10-08 11:25] degerrit opened #40302 "List of Distributions in article looks outdated (2017)?"
Is the list of Distributions still current? I'm missing the Ubuntu 16.04 and 18.04 LTS versions (with Azure kernel) - are these not recommended for high storage performance workloads?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668c-13f9-a75a-b7ca-17bb59e398a6
* Version Independent ID: 8ab14f42-c192-3cde-7f94-7b

[2019-10-08 11:26] PeterRockstars commented on #39835
@RyanHill-MSFT  I realize that InMemoryDatabase doesn't support relational API's. My question is regarding the fact that the docs suggest configuring the connection in the OnConfiguring method, whereas we used to do that in AddDbContext in our Startup. Now it happens in the OnConfiguring and that was giving us problems when trying to initialize the DbContext in a unit test. We worked around it lik

[2019-10-08 11:34] SubhashVasarapu-MSFT commented on #40301
@xtrc , Thanks for your interest on Azure Front Door Service support for wildcard custom domain.Currently, adding wildcard hostname as frontend hosts in Azure Front Door Service is not supported and we do not have any ETA to share as of yet.
You may up-vote and comment on this similar feedback [post](https://feedback.azure.com/forums/217313-networking/suggestions/35832514-support-wildcard-hosts-in

[2019-10-08 11:39] gokberkkaraca opened #40303 "Query params are not allowed in redirect URLs"
Hi,

We were providing our customers reply URLs that include query params. Many of our customers have already configured their Azure AD with these reply URLs. I know that query params are not allowed anymore with the new app registration page.

However, I wonder if the already configured directories will be affected by this change. Can our customers still log in to our applications using Azure AD

[2019-10-08 11:41] macamhi commented on #39590
May I add that it'd be useful to have the Swagger API return a description of the webservice on a particular verb? But that's more a feature request, not sure where I should post it.

[2019-10-08 11:49] theheatDK opened #40304 "Network filtering rules for http(s)?"
Hi,
This is stated above "Inbound protection is for non-HTTP/S protocols". I am little confused about what this means :-)
Where can I read more about it? Why is HTTP/S treated different than other protocols?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Inde

[2019-10-08 11:59] dmioks commented on #40048
Hi Guys,

I still have the same problem

My Env:
Win10
MSVS 2019 Community 16.3.1
with
.NET Core 2.1. LTS RUntime
.NET Core 2.2 Runtime
.NET Core 3.0 SDK

I have installed
dotnet tool install -g dotnet-ef --version 3.0.0-preview4.19216.3
(with all variations described by roalexan according https://stackoverflow.com/questions/55974734/ef-core-tools-not-working-on-dotnet-core-3-preview-4)

But still

[2019-10-08 12:14] SubhashVasarapu-MSFT commented on #39856
@DOliana , Appreciate your patience. As Azure frontdoor backend IP space changes often. It can be a challenge in configuring IP ACLing for your back-ends. So, team is working towards its integration and till then it should be refereed and adjusted manually. As Azure IP Ranges and Service Tags JSON file gets updated every weekly, there is a need to download them every 7 days for the updated list. S

[2019-10-08 12:22] theheatDK opened #40307 "Pricing?"
Hi,
I cannot find any pricing details for threat intelligence. Will it be free when it goes GA?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3638def6-dd0b-d2a8-4014-fd977164a529
* Version Independent ID: d6205d37-95dd-80e0-8baf-2c9cda805e0d
* Content: [Azure Firewall threat intelligence based filtering]

[2019-10-08 12:22] udderchaos opened #40308 "SP - What permissions does it need?"
"Some connections support using an Azure Active Directory (Azure AD) service principal to authorize connections for a logic app"

Could you please provide details on what permissions this SP would need to do this?
Also is there a plan in the future to implement this VIA an MSI - whereby the logic app itself could be defined to have sufficient privileges to do this?

Also can we have a solution in

[2019-10-08 12:28] cephalin commented on #40208
@larsathle The snippets in the tutorial are written for the Bash window in the Cloud Shell. If you use the PowerShell window then definitely changes are required.

#please-close

[2019-10-08 12:28] #40208 closed

[2019-10-08 12:30] apurvc opened #40309 "Private ip change on hostname update."
Regarding the "Changes to the IP addresses", I updated the hostname of dev portal and found private IP to be changed after the service update. however this has not being mentioned in this section. The impact is double as I had to update the ip settings in App gateway and upload new certificates.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-08 12:32] DOliana commented on #39856
I fully understand the reason for which it is written in that way. The problem is that it suggests that an automatic solution that updates the IPs that need to be filtered is easy to implement, which is not the case.

[2019-10-08 12:36] DixitArora-MSFT commented on #40164
@raztiff I have assigned this to content author for further review and update.

[2019-10-08 12:40] letargis opened #40310 "Can't import release pipeline definition"
After importing "samples/release.json" I received blank screen.
Browser console shows "TypeError: Cannot set property 'LinkBoardsWorkItems' of undefined" error message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c630e55a-5aa2-9afa-69f4-6d5ee7f072de
* Version Independent ID: 4a3093b6-f298-2728-bc5d-443d08386b6e
* Co

[2019-10-08 12:41] letargis commented on #40310
Error screenshot
![image](https://user-images.githubusercontent.com/35736146/66396280-1c687800-e9e2-11e9-99e3-0157c81337aa.png)

[2019-10-08 12:42] phaqtoo commented on #39972
@femsulu, any updates on when we can expect GA?

[2019-10-08 12:44] JeromeVigne commented on #34364
"*", "*.scm", "@"

[2019-10-08 12:50] craigc40 opened #40311 "Storage CLI page unclear in several areas"
This page says to set these environment variables:
export AZURE_STORAGE_ACCOUNT="mystorageaccountname"
export AZURE_STORAGE_KEY="myStorageAccountKey"

Despite the fact that the above use quotes, they should not be used (at least in the Windows CLI). It also might be useful to mention that the command is 'set', not 'export', when using the WIndows CLI.

This is the first time 'mystorageaccountname'

[2019-10-08 12:55] Rosewood99 commented on #38372
Link is still broken

[2019-10-08 13:07] msrini-MSFT commented on #40307
@theheatDK , Thank you for posting your question. I will investigate and get back to you shortly.

[2019-10-08 13:17] cjsimcoxjr opened #40314 "Limitations"
Can we add a section on limitations of this scenario. Hardware tokens are not currently supported, seems like an important piece of info for people trying to implement this solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff

[2019-10-08 13:23] ghvanderweg commented on #39347
Our organization is having the same issue, is there any status update?

[2019-10-08 13:24] MonikaReddy-MSFT commented on #40310
Hello @letargis, Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-08 13:30] sergaz-msft commented on #40056
Hi @udooz I needed to investigate if it is possible to make more than one SSH connection at same time. Since this is not related with this quickstart please create a new issue on StackOverflow so that we can leverage the help from online community as well :). Let us know the link when you do so!

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2019-10-08 13:30] #40056 closed

[2019-10-08 13:43] sergaz-msft commented on #39875
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-08 13:43] #39875 closed

[2019-10-08 13:53] marcelo-onfleeklabs opened #40315 "Better Brazilian Portuguese support"
Hello,

Are there any plans to improve Brazilian Portuguese support, like Spanish for exemple, where QnA Maker uses keywords to identify questions.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a621c6-32e7-537a-c424-551d260cad46
* Version Independent ID: ff432704-7101-b28f-102f-97569c659718
* Content: [L

[2019-10-08 13:58] Johnsiii88 commented on #40058
Thanks.  So maybe I'm re-stating what you said but I want to be very clear.  I think you are saying that currently, a user account with the appropriate permissions could delete all of the LTR backups and then delete the sql server and the database and all backups would be instantly and permanently gone and could not be recovered either by the client or by Microsoft.  I have seen comments in other

[2019-10-08 13:59] #40173 closed

[2019-10-08 14:01] mumian commented on #40175
@AErmie - Thank you for your feedback.  This issue has been addressed by https://github.com/Azure/azure-docs-json-samples/pull/99.

#please-close

[2019-10-08 14:01] #40175 closed

[2019-10-08 14:04] rscottwatson opened #40316 "How do I connect/authorize to azure to run these commands"
How do I obtain a token to access these endpoints to call this with powershell.   I have looked on the web and all the examples say I need to register an application but I am not permitted to do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 733fcd9b-e234-8765-a7e0-498ded659ddc
* Version Independent ID: bd115a3e-

[2019-10-08 14:04] SwathiDhanwada-MSFT commented on #40288
@omerzubair Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-08 14:06] SwathiDhanwada-MSFT commented on #40293
@frehnejc Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-08 14:07] SwathiDhanwada-MSFT commented on #40298
@stefanrothnet Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-08 14:10] mumian commented on #40177
@Aermie - thanks for the feedback.  This issue has been addressed in https://github.com/Azure/azure-docs-json-samples/pull/100

#please-close

[2019-10-08 14:18] jmlumpkin opened #40317 "Documentation does not match modern library (RegisterNativeAsync, UnregisterAllAsync), change of paramaters"
As of version 2.0.4 (first update in a while), this documentation no longer matches code.

Documentation notes you should do Hub.RegisterNativeAsync(deviceToken, tags, (errorCallback)). Now, it only supports deviceToken and tags, no longer the third parameter.

I am assuming because the code was updated to handle await, but the examples do not show this.

---
#### Document Details

⚠ *Do not edit

[2019-10-08 14:19] ctaggart opened #40318 "When will support for IE 11 be dropped for the Azure Portal?"
What % of traffic does the Azure Portal get from Internet Explorer? Keeping it on the list of supported browsers prevents using newer web development standards for portal development. For example, IE does not support web assembly. https://caniuse.com/#feat=wasm

A more complete list of features:
https://caniuse.com/#compare=ie+11,edge+76,firefox+71,chrome+80,safari+13.1

---
#### Document Details

[2019-10-08 14:19] mumian commented on #40172
@AErmie,  I agree with you, it is cleaner not to create the resource.  The idea was to demonstrate the "Export template" menu item. The other reason is the "Download a template for automation" is introduced in one of the quickstarts - https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-quickstart-create-templates-use-the-portal.

I will discuss your suggestion with the P

[2019-10-08 14:19] #40172 closed

[2019-10-08 14:37] mschrisran opened #40319 "permissions"
Can clarification be added to what roles are required to delete a user, especially if there is a different with Guest vs Member types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ddd08-b270-94d6-5551-ffa874636376
* Version Independent ID: 7d67048b-87c7-f2c9-d9b7-3820aee61822
* Content: [Add or delete users - Azur

[2019-10-08 14:38] Shell32-Natsu commented on #40284
@shashishailaj I will. Thanks.

[2019-10-08 14:38] #40284 closed

[2019-10-08 14:52] msrini-MSFT commented on #40287
@cherylmc , Can you take a look ?

[2019-10-08 14:57] femsulu commented on #39960
@MGoedtel - kindly review and assist with the necessary doc edits.

[2019-10-08 15:06] JasonWHowell commented on #40209
#reassign:deborahc

[2019-10-08 15:06] JasonWHowell commented on #40209
#reassign:@deborahc

[2019-10-08 15:07] JasonWHowell commented on #40209
#assign:deborahc

[2019-10-08 15:11] rmaziarka opened #40320 "There is no information how to prepopulate Azure AD users"
On [Migrate users with external identities](https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-b2c-social-migration) documentation there is no information on how to prepopulate Azure AD users.

I've just come across that problem trying to add users from another tenant and found out that they cannot log in normally. When signing in they were added as a Federated - [link to

[2019-10-08 15:13] femsulu commented on #39938
@akkensheen sorry for your issue, as this channel is meant to drive improvement to Azure docs, we recommend either posting this issue our [log-analytics forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights) or raising a support ticket using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have

[2019-10-08 15:14] matteomorales opened #40321 "Requirements for IE Enhanced Security and Proxy Outbound"
Hi
All sites mention in the Requirements for IE Enhanced Security
https://login.microsoftonline.com
https://secure.aadcdn.microsoftonline-p.com
https://login.windows.net
https://aadcdn.msftauth.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Independent ID: 28bc66e2-0de

[2019-10-08 15:17] #39938 closed

[2019-10-08 15:19] Boombasteg commented on #40115
It seems to me that locking is not an optimal solution, because we'll still have to do it (lock/unlock) manually each time when new image will be added to repository.

I want to repository can contains certain count of tags (f.e. 3 or 5) and when we add new one, old one will deleted.

[2019-10-08 15:21] femsulu commented on #39972
adding content authors @jureid and @tfitzmac to assist with the roadmap questions.

[2019-10-08 15:24] ojasp commented on #33232
@lovelangy, did you experience any unstability when upgrading from single node to 3? Also were you able to add the secondary certificate after upgrading to 3 nodes?

[2019-10-08 15:27] nareshynn commented on #39079
@djpmsft: I tried in different systems as well. but no luck. is API call use any different port than 443. i opened only 443 port to azure cloud services. let me know how we can troubleshoot this issue.

[2019-10-08 15:28] #40282 closed

[2019-10-08 15:51] bergerx opened #40323 "When we enable the multi-az will the control plane be multi-az as well?"
The doc doesn't mention anything about the hosted control plane will be multi-az if we go for this option? Is this feature is only for having nodes distributed into multiple AZs or also have the control plane components as well?
If it's only for the nodes, a single AZ outage means cluster control plane outage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-08 15:52] mleziva commented on #36773
I am getting the below error when uploading a self-signed certificate:
![image](https://user-images.githubusercontent.com/6925381/66411581-91738780-e9b9-11e9-93b8-b676aa78ee78.png)

Steps for creating:

- Powershell: _$cert = New-SelfSignedCertificate -Type Custom -Subject "CN=certtest1" -TextExtension @("2.5.29.37={text}1.3.6.1.5.5.7.3.3") -KeyUsage DigitalSignature -KeyAlgorithm RSA -KeyLength 2

[2019-10-08 15:53] femsulu commented on #39977
@flanakin  - any input on this please?

[2019-10-08 15:53] #40256 closed

[2019-10-08 15:55] SteveLasker commented on #40115
I think it's a question of what you're trying to achieve. Does saving the last 5 (n) images solve the production deployment problem? If the last 6 images failed validation, what do you do?
If you deploy 6 images in a week, but an issue is found with an image 6 builds ago that needs investigation...
We're looking at adding this numbered based approach, I'm just questioning the scenario.
Where we're

[2019-10-08 15:56] veeyeskay opened #40324 "The link in the first paragraph is not working"
The hyperlink in the first paragraph of this article is not working. Needs to be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb2ad729-6bcd-dc00-f472-ed39b10da509
* Version Independent ID: 61a120d7-2a43-76d6-01ee-a2f19ce07c6c
* Content: [Lead management for Dynamics 365 for Customer Engagement](https://docs.mi

[2019-10-08 16:09] MGoedtel commented on #39960
@boscoedash & @femsulu - I will review the code block and correct the formatting issue.  It appears based on the last edits made by a different contributor it created this issue with the code.  #in-progress

[2019-10-08 16:12] 410sean opened #40326 "automatically creating users and getting an ok password"
is there guidance for generating a random password during automatic provisioning that will not be blocked? we recently had a new hire account get stuck because the semi-random password that was generated was rejected by the global banned password list. it was not clear why the password was bad as similar passwords with a single digits changed in the right spot made the password ok.

or would it be

[2019-10-08 16:15] msmimart commented on #39791
@cocowalla thanks for this feedback, we'll add a reference to the Azure AD architecture article  (https://github.com/MicrosoftDocs/azure-docs-pr/pull/90948).
#please-close

[2019-10-08 16:15] #39791 closed

[2019-10-08 16:20] mattwhite-itl opened #40327 "Visual Studio Professional"
Whilst you document the ability to run Community and Enterprise from pre-built images is there no provision to deploy a pre-built Visual Studio Professional VM?

Do I need to build a server manually and install the software separately? The users accessing the server/IDE will be licensed through existing subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-08 16:22] DeanGross opened #40328 "What about other apps used by Teams"
Many other apps, such as Shifts, Wiki, Camera, Organization, etc can be used by Teams on a mobile device. Hows are these affected by the CA policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7834fc25-6e4d-1a00-e9d3-949928ccb94b
* Version Independent ID: 23e71a83-28ea-da6f-0e3e-cda56a320358
* Content: [What are se

[2019-10-08 16:42] julianparismorgan commented on #36468
Hi @Yonet , thanks for the suggestion! I've made these changes to the landing page, thanks! https://docs.microsoft.com/en-us/azure/spatial-anchors/

[2019-10-08 16:43] brandonh-msft opened #40330 "How to get just the value from an Xml node?"
`string()` returns the value in quotes. Are we expected to then just use `replace()` to kill the `"` characters from the beginning and end? Else how do we get **the exact value** from an XML node, unadulterated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID

[2019-10-08 16:44] CeciAc opened #40331 "Invalid reponse error with OpenApi 3.0.1"
@ratka6 commented on [Tue Oct 08 2019](https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/468)

When trying to link openapi.json file, I got "Invalid response" error but with the content of the file as error's body. I uploaded the file to storage account, did all mentioned in the instruction. Is this a problem with OpenApi or with "HTTP + Swagger" action (also happens with trigger)?

---
###

[2019-10-08 16:45] peterpogorski commented on #40149
Hi @eugen-nw!

Thank you for your feedback on the documentation! The steps that you have outlined would work to update the certificate on a cluster where you do not have access to the ARM template, however this is not a best practice that we want to recommend to customers.

When updating the certificate through resources.azure.com, the configuration of the cluster will become out of sync with any

[2019-10-08 16:45] #40149 closed

[2019-10-08 16:46] CeciAc commented on #40331
Hi team,
I moved this here because it may be related with the original documentation
best

[2019-10-08 16:47] MarileeTurscak-MSFT commented on #40299
@Neilhuk
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 16:48] j03Martin opened #40332 "How do I create an User assigned Identity via code"
How do i create an user assigned identity through an arm template?
I exported the template for it and it takes a principal id and client id as parameters, how would I have those parameters if the identity has not been created yet. I need to actually generate a new user assigned identity, not just reference it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-08 16:49] cherylmc commented on #40286
Hi! We'll update this. Thanks for bringing it to our attention. @anzaman

[2019-10-08 16:53] SamaraSoucy-MSFT commented on #40231
@Expecho I've assigned the issue to the doc author to address your concerns.

[2019-10-08 16:55] LTUTE opened #40333 "Powershell example does not work with Azure Powershell"
Powershell example does not work with Azure Powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d23a57b-1327-786e-f27d-1a52b0e4712d
* Version Independent ID: e1050c6a-d3ea-e3b7-c6ca-a0427b1f9379
* Content: [Tutorial - Configure an application gateway with SSL termination - Azure portal](https://docs.microsoft.co

[2019-10-08 17:02] MicahMcKittrick-MSFT commented on #40327
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 17:02] MicahMcKittrick-MSFT commented on #40302
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 17:03] MicahMcKittrick-MSFT commented on #40300
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 17:05] basilhariri commented on #39716
Hi @mapdegree

I took your original issue to be an ask for a larger spread of examples of Event Hubs Kafka connecting to other technologies. If that's not what you were asking for, can you expand on what the issue is?

Can you explain what you mean by the above statement? Our documentation spans both Azure Docs and GitHub, but I'm not sure if you meant something else by that.

As for the filebeat

[2019-10-08 17:08] Karishma-Tiwari-MSFT commented on #40323
Glad to know that you were able to get the answers from the doc.

[2019-10-08 17:09] Absoblogginlutely commented on #37819
Any update on this?

[2019-10-08 17:12] MicahMcKittrick-MSFT commented on #40259
Closing this out. Please open a new issue directly on the document you have a question about for further assistance.

[2019-10-08 17:12] #40259 closed

[2019-10-08 17:13] chom3 commented on #36839
Hi

This template is still out of date.

I think the biggest culprit is that sku is now outside of properties and contains two mandatory fields of name and tier

i.e.

  "resources": [
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2018-02-01",
      "name": "[variables('hostingPlanName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "S1", /

[2019-10-08 17:13] MicahMcKittrick-MSFT commented on #40071
At this time we don't believe we need to update the documentation with this information. However, this issue will remain on the doc and if more start seeing issues related to this they can comment and we can always reopen and consider adding that information.

[2019-10-08 17:13] #40071 closed

[2019-10-08 17:18] ecfan commented on #38156
@cparker4486 @ @derek1ee: A doc work item was created to address this feedback, so closing this issue. Thanks!

#please-close

[2019-10-08 17:18] #38156 closed

[2019-10-08 17:20] ecfan commented on #39710
@jakevis & @mike-urnun-msft: This issue is still in discussion on the engineering team alias.

[2019-10-08 17:21] lichasu opened #40335 "Header sample does not work"
@MarkusMeyer13 commented on [Tue Oct 08 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/575)

The sample code does not work:

[code]
Following exception will be displayed:

[code]

![image](https://user-images.githubusercontent.com/8818198/66393438-d1933400-e9d2-11e9-9d0a-45a110462594.png)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfun

[2019-10-08 17:22] lichasu commented on #40335
Hi team, please check this issue.

Thanks!

[2019-10-08 17:27] v-mipasq opened #40336 "Please edit the video associated with he link for existing Azure AD to attain Premium license. Sign up using your existing Azure or Office 365 subscription As an Azure or Office 365 subscriber, you can purchase the Azure Active Directory Premium editions online. For detailed steps, see How to Purchase Azure Active Directory Premium - Existing Customers or How to Purchase Azure Active Directory Premium"
Please edit the video associated with the link for existing Azure AD customers to attain Premium Azure AD license. Sign up using your existing Azure or Office 365 subscription As an Azure or Office 365 subscriber, you can purchase the Azure Active Directory Premium editions online. For detailed steps, see How to Purchase Azure Active Directory Premium - Existing Customers or How to Purchase Azure

[2019-10-08 17:27] anzaman commented on #40286
The diagram contains SSTP for completeness, however  the document applies to IKEv2. We can remove SSTP from the diagrams if it's causing confusion.

[2019-10-08 17:28] SubhashVasarapu-MSFT commented on #40333
@LTUTE , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-08 17:31] SubhashVasarapu-MSFT commented on #40304
@theheatDK , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-08 17:33] FrankHu-MSFT commented on #40232
@mustafamg Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-08 17:33] Mike-Ubezzi-MSFT commented on #40058
@Johnsiii88 This is correct. If the actions you mentioned were to play out, there would be no recovery option a customer could invoke to recover the deleted assets. However, a customer could perform an export of an Azure SQL Database and retain this in a storage solution (on-premise or in Azure) that would be separate from (and not associated with) the SQL Server or the subscription. This is more

[2019-10-08 17:33] JoeWarwick opened #40337 "Exporting the Cert and adding it to the Service Principal - step is missing"
After the step 'Configure your Azure Cosmos account to use the new identity'
That cert (in user certificates/personal) needs to be exported as a .cer without private key. It then needs to be uploaded under the App Registration/Certificates & Secrets section in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f59dd

[2019-10-08 17:35] danmyhre commented on #40286
Is there a separate page for SSTP?  Is there differences in how routing is handled?  If there are differences, then it would be helpful to have a separate page for that or have the differences noted in this page.  Either way, both methods need documentation so we can understand the flows.

[2019-10-08 17:39] FrankHu-MSFT commented on #40249
Hello @mustafamg can you please show your entire custom policy?

[2019-10-08 17:44] Karishma-Tiwari-MSFT commented on #39430
@pdebruin Any update?

[2019-10-08 17:45] kumarallamraju opened #40338 "Suggestion to enhance the VM creation section."
[Enter feedback here]

Instead of asking customers to login to tenant1 and tenant2 a better explanation is needed/helpful under this section
'""""""""""""""""""""""""""""""""""
Create a VM using Azure CLI
Sign in the service principal for tenant 1 using the appID, the app key, and the ID of tenant 1. You can use az account show --query "tenantId" to get the tenant IDs if needed.
"""'""""""""""""""

[2019-10-08 17:47] Karishma-Tiwari-MSFT commented on #39925
Thanks @cynthn. I have assigned the issue to you so that you can update the thread when you hear back.

[2019-10-08 17:47] Karishma-Tiwari-MSFT commented on #40036
Thanks @ChristianMontoya :)
@gerrynicol We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-08 17:47] #40036 closed

[2019-10-08 17:50] snpdev opened #40339 "List Supported Language Versions on the About Web Apps page"
Supported language versions are listed on the [About App Service on Linux](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro#languages) page, but not on the [About Web Apps page](https://docs.microsoft.com/en-us/azure/app-service/overview).

As far as I can tell, the only way to see the language versions supported for Web Apps (Windows), is in the create a Web A

[2019-10-08 17:52] MashaMSFT commented on #39058
Hi @richardpomerleau , thank  you so much for your patience as we looked into this for you. Unfortunately, changing the account for the SQL IaaS agent account is not currently supported. If this is something important to your business, please provide your feedback directly to the product group at https://aka.ms/sqlfeedback.

I hope that helps and please let me know if we can be of further assistan

[2019-10-08 17:52] #39058 closed

[2019-10-08 17:54] eugen-nw commented on #40149
As long as people have the option of creating SF clusters through the Azure portal, they _will_ create SF clusters through the Azure portal.  In the circumstances, Microsoft needs to design solutions that those people can use.

Startups tend not to have admin-type people who have ARM template expertise and may not be willing to take the long and frustrating route of using often times incomplete/ou

[2019-10-08 17:55] Mike-Ubezzi-MSFT commented on #40268
@Mortana89 Thank you for this additional feedback. I am going to have the content team review this and make updates to the document as appropriate. @SnehaGunda for awareness.

[2019-10-08 17:56] goosej5797 opened #40340 "Gateway IP Address Table"
I'm trying to find a history for the Gateway IP Address table as there are some changes to the gateway IPs which are rolling out in the next week. Is there a table or something that can show what IP addresses were added or which ones are going to be removed (specifically for NC US)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-10-08 17:57] SubhashVasarapu-MSFT commented on #40023
@isshukla , Appreciate your patience. The doc was modified with the exact variables not only in the place of "FrontendIpConfiguration" but also in "BackendAddressPool".The changes would take some time to get reflected over the doc.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-08 17:57] SaurabhSharma-MSFT commented on #40336
@v-mipasq Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-08 17:58] #40023 closed

[2019-10-08 17:59] SaurabhSharma-MSFT commented on #40319
@mschrisran Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 18:00] SaurabhSharma-MSFT commented on #40314
@cjsimcoxjr Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 18:00] MicrosoftGuyJFlo commented on #39433
#please-close

[2019-10-08 18:00] #39433 closed

[2019-10-08 18:01] SaurabhSharma-MSFT commented on #40328
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 18:02] SubhashVasarapu-MSFT commented on #40301
@xtrc , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-08 18:02] #40301 closed

[2019-10-08 18:02] SaurabhSharma-MSFT commented on #40320
@rmaziarka Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 18:03] SaurabhSharma-MSFT commented on #40303
@gokberkkaraca Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 18:08] #40340 closed

[2019-10-08 18:16] SaurabhSharma-MSFT commented on #40326
@410sean Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-08 18:21] SubhashVasarapu-MSFT commented on #40186
@altambaw, Appreciate your patience. We are assigning this issue to the content author to edit the document accordingly. @KumudD , Could you please provide your insights on this ?

[2019-10-08 18:25] RyanHill-MSFT commented on #39935
Hi @dazinator, thanks for that insight. However, I've learned you don't need the VOLUME keyword in your dockerfile. I did exactly as you said, created storage account and file share. Added my storage to my path mappings of my app but my mount path was to the workdir of my docker image. No need for the VOLUME keyword or using Cloudstor plugin.

![image](https://user-images.githubusercontent.com/471

[2019-10-08 18:26] SubhashVasarapu-MSFT commented on #40333
@LTUTE , I have reproduced this scenario and looks like everything is fine with the code. Could you please let us know which part of code block is a real troublemaker here.

[2019-10-08 18:29] djpmsft commented on #40233
@dhruvjoshicontata This is valid parameterization and should work in production. We have added a work item to support this in the UX. We will update the docs as such.

#please-close

[2019-10-08 18:29] #40233 closed

[2019-10-08 18:29] RyanHill-MSFT commented on #40339
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 18:30] RyanHill-MSFT commented on #40332
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 18:31] RyanHill-MSFT commented on #40317
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 18:34] mike-urnun-msft commented on #40136
@melzoghbi Following up on my previous comment above, please let us know if we can assist further. Otherwise, we'll proceed to close this issue.

[2019-10-08 18:34] ErikAndreas opened #40341 "Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type '...' while attempting to activate '...'"
Trying to inject simple service
builder.Services.AddScoped&lt;ISimple, Simple&gt;();
(lifetime type doesn't matter) and getting the 'Unable to resolve service for type ...'
Related:
https://github.com/Azure/azure-functions-dotnet-extensions/issues/5
https://github.com/Azure/azure-functions-dotnet-extensions/issues/14

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-08 18:39] bwren commented on #40052
Thanks for this.  Actually surprised no one identified this before since the descriptions of those parameters clearly contradict each other. I'll get it corrected.

#in-process

[2019-10-08 18:42] Karishma-Tiwari-MSFT commented on #40338
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-08 18:53] artisticcheese opened #40343 "Need examples for powershell functions"
Hello,

Missing example for Powershell Functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa
* Content: [Azure Event Hubs bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions

[2019-10-08 18:59] samaea commented on #28928
This article indicates the egress is on a "region" level (e.g. Europe) not a sub-region level (e.g. Europe covers West Europe, North Europe, etc):- https://techcommunity.microsoft.com/t5/Azure-Sentinel/Best-practices-for-designing-an-Azure-Sentinel-or-Azure-Security/ba-p/832574#linkend%23%C2%A0%23linkstart%23https:%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fazure-monitor%2Fplatform%2Fdesign-logs-de

[2019-10-08 19:05] mike-urnun-msft commented on #39889
Hey @cijothomas - I've created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/90984) that adds the following options as new (thanks @brettsam for confirmation): `EnableLiveMetrics`, `EnableDependencyTracking`, `EnablePerformanceCountersCollection`

Thanks again for reporting the above and helping us drive improvements towards MS Docs. We will now proceed to close this thread. If there

[2019-10-08 19:05] #39889 closed

[2019-10-08 19:21] femsulu commented on #39978
@okanaslaner just to clarify, is your question related to [Azure Advisor](https://docs.microsoft.com/en-us/azure/advisor/advisor-overview) or [Azure Cost Management](https://docs.microsoft.com/en-us/azure/cost-management/overview)?
These are 2 fundamentally different service offerings. This article is related to Azure Advisor but your comments seem to be related to ACM.

adding @flanakin to help a

[2019-10-08 19:28] TravisCragg-MSFT commented on #40118
@Sethu2488 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-08 19:28] #40118 closed

[2019-10-08 19:32] mike-urnun-msft commented on #39891
Hey @rscottwatson - Could you clarify the part about the deployment-related implication in this scenario? If you're looking to get your Function App to establish a connection to an Azure SQL database, I believe you can just use managed identity and add the service principal to your SQL DB as a user. Since this topic is outside the scope of this documentation, as the next step, could you open a thr

[2019-10-08 19:32] #39891 closed

[2019-10-08 19:32] dlepow commented on #40247
#assign: @dkapur
@JohnGalt1717 - Thanks for the question. I'm including our product team to comment, and then we can evaluate updating the documentation.

In the meantime, can you tell us a little more about your scenario and what base image you would plan for your container image?

And have you attempted a deployment to Container Instances?

[2019-10-08 19:42] okanaslaner commented on #39978
Even though they are different services, the Advisor is making a cost reduction recommendation to resize the VM because the CPU utilization is less than 5%.  This appears to be the CPU utilization of the host and not the VM.  My question is to find out if the cost recommendation to resize is derived from the CPU utilization of the host or the VM.

[2019-10-08 19:51] curtand commented on #39966
Hi @coryty87
The Privileged Role administrator and the Global administrators are the only roles that can create or remove role assignments.

[2019-10-08 19:53] ryeguy637 opened #40349 "Is Seamless SSO a better option than third-party federation?"
This information is helpful.  However, I am still not clear on whether a customer who is already using a third-party federation provider (OneLogin) between on-prem AD and Azure AD should consider changing to Seamless SSO.  Is Seamless SSO targeted to customers who do not want to setup ADFS or pay a third-party?  Or is it superior to a third-party federation provider?  Is using a third-party MFA (w

[2019-10-08 19:54] ecfan commented on #40136
@mike-urnun-msft & @melzoghbi: We'll update the topic with more info about this extension.

[2019-10-08 19:59] YutongTie-MSFT commented on #40202
@fmegen Hi, could you please check this issue and update the document if needed? Thanks a lot.

[2019-10-08 19:59] femsulu commented on #40060
@dushyantgill I can confirm the link to the Active Directory Auth Library (.NET) code results in 404. Tried to find the correct link but no luck. Can you please review and update the link?

[2019-10-08 20:00] mike-urnun-msft commented on #40134
Per offline discussion with @Hazhzeng (Functions team), we'll hold off from making this change until further notice. Closing out for now.

[2019-10-08 20:00] #40134 closed

[2019-10-08 20:01] humphries40 opened #40350 "Microsoft.Devices/IotHubs Metric Names not found when creating alerts."
I'm using Powershell and I'm attempting to create some alerts on the IotHub programmatically and it's not working.

az monitor metrics alert create -n IotHubMonitor -g $ResourceGroup --scopes $IotHubResourceId  --condition  "total d2c.telemetry.ingress.allProtocol &lt; 10" --description "This alert is used to monitor the IoTHub during an edge test to make sure it's running as expected"

returns th

[2019-10-08 20:02] qub1n commented on #39108
@SadiqhAhmed-MSFT If there are "different systems are using different region Ids." where we can find some mapping? Is there some documentation for it? Any mapping library?

I cannot believe that I should compare all these documentation and hard-code it.

[2019-10-08 20:05] JohnGalt1717 commented on #40247
I'm using the .net core 2.2 pre-canned image for one project, and nodejs for another (angular)

I have not attempted deployment yet to Azure Container Instances. We're going to full k8s with ACS virtual nodes so I'm in the process of setting that up.

This is a big push to get efficient development happening on every developer's machines in exactly the way it will be in production without having t

[2019-10-08 20:09] cynthn commented on #40338
@kumarallamraju Thanks for the feedback! This is kind of a weird article, it isn't meant to be used unless you really want to share on a large scale and is really meant to just be an example. It is easier to just use the "normal" process for sharing the gallery or definition using RBAC. Was your customer trying to build automation or something that require sharing "at scale"?

Thanks!

[2019-10-08 20:12] JohnGalt1717 commented on #40247
Next gotcha: Chrome Debugger. Can't read/write to it's data directory.

[2019-10-08 20:13] mike-urnun-msft commented on #39950
cc: @axisc @spelluru

[2019-10-08 20:21] ppavanm commented on #35692
@kgremban - do you have any update on this issue?

[2019-10-08 20:24] jessicabettsftw opened #40351 "Possible Typo?"
Test Drive -&gt; Cold -&gt; Test drive duration
This duration may only bet set by a whole number of hours (e.g. "2" hours, "1.5" is not valid).

Test Drive -&gt; Technical configuration for Dynamics 365 test drive -&gt; Test drive duration
This duration may only bet set by a whole number of hours (e.g. "2" hours, "1.5" is not valid).

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-10-08 20:25] MGoedtel commented on #39960
I've identified the formatting issue and corrected and fixed a couple of other items during testing.  I've had to escalate this to the PG because there is one issue that I cannot resolve due to lack of reference documentation.

[2019-10-08 20:28] mike-urnun-msft commented on #39927
@fab66m That should work fine as long as your VNETs are in the same region. Please see: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-are-the-constraints-related-to-global-vnet-peering-and-load-balancers

[2019-10-08 20:31] dlepow commented on #40104
#in-progress

[2019-10-08 20:35] brandonh-msft opened #40352 "ISE limits on Logic Apps"
Are there any limits to numbers of Logic Apps which can be deployed into an ISE? What other limitations may differ when running/deploying Logic Apps in an ISE?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [L

[2019-10-08 20:36] MarileeTurscak-MSFT commented on #40299
I just tested and you're right, this does not appear to be an option.

![image](https://user-images.githubusercontent.com/13383753/66430784-a5c27f00-e9cf-11e9-8d20-ee6a230ab6e9.png)

I made a pull request to remove this from the list. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91002

 @MicrosoftGuyJFlo - should it be possible to add this?

[2019-10-08 20:44] Adam-Smith-MSFT commented on #40311
@tamram Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-08 20:45] MGoedtel commented on #40298
@stefanrothnet - reviewing this issue and will get back to you shortly.  #in-progress

[2019-10-08 20:48] MarileeTurscak-MSFT commented on #40240
As far as I am aware this is in the works but not currently possible https://github.com/Azure/azure-cli/issues/7579

@yugangw-msft  do you have insights about this?

[2019-10-08 20:49] RobertoBorges opened #40353 ""Phoenix catalog" where is it ?"
How do I know if I have a support offering that prevents me from purchasing services from the Phoenix catalog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffca0328-d220-e7bd-9fa0-43b40ab0abcb
* Version Independent ID: 554dbcd4-9274-87d2-dd5e-303cd3daa0f3
* Content: [Microsoft Security Code Analysis documentation FAQ

[2019-10-08 20:49] MarileeTurscak-MSFT commented on #40114
Closing this out as it is already documented. Feel free to tag us in the comments if you have further questions.

[2019-10-08 20:49] #40114 closed

[2019-10-08 20:53] femsulu commented on #40120
@Robbiem06 not sure I understand what "reset" means in this context but I was able to find the following information in the [FAQ](https://docs.microsoft.com/en-us/azure/migrate/resources-faq#can-i-delete-the-azure-migrate-appliance-from-the-project). let me know if this is what you are referring to. If not, will need your help in clarifying your scenario

![image](https://user-images.githubusercon

[2019-10-08 20:54] curtand commented on #40042
Hi @LS16395762
That information is now published in the article in question. The feature is currently being rolled out, and so not every Azure AD organization has received it yet.

[2019-10-08 20:55] ArchieCoder opened #40354 ""Try it" now is not compatible with any of the step by step"
The Azure Cloud Shell uses Bash only and the documentation above is all about PowerShell. It took me a while to figure this out why it was not working. (I'm not an Azure dev).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bc3c5d9-bb8d-a780-8f38-df8941c7917a
* Version Independent ID: 30f0fa59-5c03-2f4f-5ad6-afaae4d7be

[2019-10-08 20:55] curtand commented on #40042
#please-close

[2019-10-08 20:55] #40042 closed

[2019-10-08 20:55] brandonh-msft opened #40355 "Code samples not valid for in-page cloud shell"
The code samples on this page are specific to Azure **Powershell**, get the `Try It` buttons around them launch the in-page Azure Cloud Shell **using bash**. This is extremely confusing. Recommend fixing one of these issues so readers can actually utilize the code as they read the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-10-08 20:57] roygara commented on #40063
Hello @jgwinner , thanks for reaching out. This isn't a bug, it was an intentional choice. That said, I checked with the team. We don't really have a reason for having the names being different so I am updating them more closely match up. Thanks for helping us make our docs more clear, we appreciate it. :)

#please-close

[2019-10-08 20:57] #40063 closed

[2019-10-08 20:59] vishiy commented on #40298
@stefanrothnet - all you need ti specify in the config map for annotation based scraping is below (under[prometheus_data_collection_settings.cluster]) -
monitor_kubernetes_pods = true

The below are annotations you need to specify in your pod (not in your configmap) for the agent to know where to scrape metrics from for a specific pod -

 # When monitor_kubernetes_pods = true, replicaset will scra

[2019-10-08 21:04] gaikovoi opened #40356 "Storage account requirements - firewall state"
The documentation doesn't mention that Storage account used by function app must not have firewall enabled.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4cf342-0f52-5ebb-aeb2-a1ae5a2b6133
* Version Independent ID: 7c75fc5a-df94-4254-2d85-e1118f401fd7
* Content: [Create a function app from the Azure Portal](https://

[2019-10-08 21:08] femsulu commented on #40129
Here's some options that could work for your scenario.
![image](https://user-images.githubusercontent.com/34327711/66433379-11f3b180-e9d5-11e9-9635-fd049aede9a9.png)

detailed [here](https://serverfault.com/questions/938473/how-can-i-monitor-vm-memory-usage-on-azure).

[2019-10-08 21:09] femsulu commented on #40129
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-08 21:09] #40129 closed

[2019-10-08 21:14] MarileeTurscak-MSFT commented on #39870
Thanks for confirming the fix. We will close this out now but please alert me if there are further issues.

[2019-10-08 21:14] #39870 closed

[2019-10-08 21:16] MarileeTurscak-MSFT commented on #34030
The product group has replied that a work item has been created for this.

[2019-10-08 21:19] femsulu commented on #40161
@jihu are you still experiencing this issue? Looks like this was an issue with the provisioning agent but may need deeper investigation.
Since this channel is meant to drive improvement to Azure docs, we recommend either posting your issue to the [Azure Automation forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureautomation) for SME assistance or raising a support ticket using

[2019-10-08 21:21] mamccrea commented on #39988
@algattik @mplogas - I'm sorry I missed the first part. Which part is unclear?

When the output is formatted as a JSON array, the array is not closed until the job is stopped. It is possible that, if ASA does not shut down cleanly, the array will never be closed. The output would need to be read token by token rather than deserialized as a full array.

[2019-10-08 21:21] KranthiPakala-MSFT commented on #36810
Hi @patrickgalbraith, thanks for following up on this. I have reached out to the ADF Data Flow team to check if there is any update on this query. Will keep posted once I have an update,

[2019-10-08 21:21] #40161 closed

[2019-10-08 21:27] femsulu commented on #40167
thanks for sharing your solution @mjannapureddy07 . I  too was unable to find any related documentation but adding the content author @yanivlavi  to review the above and see if there's a chance to integrate into an existing doc or create a new doc for this scenario.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the dis

[2019-10-08 21:27] #40167 closed

[2019-10-08 21:32] MicahMcKittrick-MSFT commented on #40300
@tesharp can you elaborate on how you came to that conclusion? I don't see kube-system mentioned in this document.

[2019-10-08 21:33] MicahMcKittrick-MSFT commented on #40302
@roygara can you confirm? I believe we do need to add some other images to this documentation. I am happy to do so with your confirmation.

[2019-10-08 21:37] KranthiPakala-MSFT commented on #36810
@patrickgalbraith Update: Powershell support for Data flow is planned to release before end of this month (tentative). I do not have a definite ETA at the moment.

[2019-10-08 21:37] djpmsft commented on #40088
@avi2183 After investigating, it looks like the root cause is a data flow that may be overloaded. Based on the pipeline run you shared, it looks like one data flow object is containing upwards of 100 individual data flows that write from source to sink but do not interact with one another.

What is your intent with this data flow? Is there a reason you coupled so many things into one object instea

[2019-10-08 21:38] MicahMcKittrick-MSFT commented on #40327
@mattwhite-itl the document is correct. We only have images with with Community or Enterprise edition. The cost of the software is rolled into the image. Hence, we offer a free version of Visual Studio or the Enterprise edition. If you want to install the professional version as you have a license for it, you can. Simple create a standard windows VM and install visual studio just as you would for

[2019-10-08 21:38] #40327 closed

[2019-10-08 21:48] curtand commented on #38880
Hi stdedos
I have the articles ready to publish today. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91005

[2019-10-08 21:49] kgremban commented on #35413
@PatricioVidal Thank you for opening this issue. I apologize for the delay in getting back to you. Yes, the message that you received is that of a successful connection. I'm going to clarify that section, and add a screenshot today to help future readers of this article.

[2019-10-08 21:53] GiftA-MSFT commented on #40355
@brandonh-msft thank you for your feedback. We will look into this issue and get back to you shortly. Thanks.

[2019-10-08 21:56] GiftA-MSFT commented on #40354
@ArchieCoder thank you for bringing this to our attention. We will look into this issue and get back to you shortly. Thanks.

[2019-10-08 22:04] kgremban commented on #36838
@ksaye and @jjindrich I was able to successfully connect a downstream device to IoT Hub using only the gateway device's hostname in the 'hostname' parameter of the connection string. There's a lot of fiddly pieces to get right in a gateway scenario, and if you missed any of them you may see the error that you got.

To start, did you complete the third gateway article of the set, [Connect a downstr

[2019-10-08 22:07] #38880 closed

[2019-10-08 22:07] kgremban commented on #35692
Hi @ppavanm I don't have anything new to add about provisioning downstream devices using DPS. Like I said earlier, it's not a feature that we support at this time so I can't document anything about it. I think some customers have gotten it working, though, so you may have better luck asking for tips on StackOverflow or something.

As for your "Missing IOT hub name" error, I would suspect that mean

[2019-10-08 22:14] MarileeTurscak-MSFT commented on #40196
@kenlacoste843 have you checked to make sure that the user is gone and doesn't appear in the deleted users tab? Was the user ever synched previously?
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-users-restore

[2019-10-08 22:15] kumarallamraju commented on #40338
@cynthn - My use case is sharing the image gallery across subscriptions. Yes, my customer creates custom images and shares across his customer base located globally (across the azure regions).  They are able to create a  shared image gallery, image definition, image version and then Creating an App Registration, generating the URL so that their end users can accept it in the target subscription. T

[2019-10-08 22:17] mike-urnun-msft commented on #40309
@apurvc Thank you for your feedback! We will review and update as appropriate.

[2019-10-08 22:18] mike-urnun-msft commented on #40308
@udderchaos Thank you for your feedback! We will review and update as appropriate.

[2019-10-08 22:18] ATummillo opened #40359 "I have enabled Guest-level monitoring, but the namespace "Guest (Classic)" is not showing up in the Metric Namespace dropdown"
![image](https://user-images.githubusercontent.com/19812441/66437581-eecdff80-e9de-11e9-8645-c04bb08b904d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c25393b0-948f-414a-4699-db82f9b3eb68
* Version Independent ID: cbb32016-2d50-504d-a862-395a93325511
* Content: [Add extended metrics for Azure virtual machines](h

[2019-10-08 22:19] mike-urnun-msft commented on #40330
@brandonh-msft Thank you for your feedback! We will review and update as appropriate.

[2019-10-08 22:20] mike-urnun-msft commented on #40331
@ratka6  Thank you for your feedback! We will review and update as appropriate.

cc: @CeciAc

[2019-10-08 22:22] mike-urnun-msft commented on #40335
@MarkusMeyer13 Thank you for your feedback! We will review and update as appropriate.

cc: @lichasu

[2019-10-08 22:23] mike-urnun-msft commented on #40341
@ErikAndreas Thank you for your feedback! We will review and update as appropriate.

[2019-10-08 22:25] mike-urnun-msft commented on #40343
@artisticcheese Thank you for your feedback! We will review and update as appropriate.

[2019-10-08 22:26] GiftA-MSFT commented on #40315
@marcelo-onfleeklabs we value your feedback and are continuously working towards improving this service for our users. I also noticed you asked this question on user voice forum. I will forward your inquiry to the product team and get back to you shortly. Thanks.

[2019-10-08 22:26] mike-urnun-msft commented on #40352
@brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-08 22:27] Alberto-Vega-MSFT commented on #40000
@rlimberger Thanks for trying IoT Hub. Node.js SDK is meant to function with node, and has dependencies (directly and indirectly) on the Node.js runtime, trying to run it in the browser is not a supported scenario and could/would fail for a wide variety of reasons.
If you believe this should be supported  please post this as a feedback [@Azure IoT User Voice](https://feedback.azure.com/forums/3219

[2019-10-08 22:28] mike-urnun-msft commented on #40356
@gaikovoi Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-08 22:28] ms-dapaje opened #40361 "Deploying the AKS cluster fails with 'too many 500 error responses'"
I got to the step where it tells you to run
az aks create \
    --resource-group myResourceGroup \
    --name $aksname \
    --node-count 1 \
    --generate-ssh-keys \
    --aad-server-app-id $serverApplicationId \
    --aad-server-app-secret $serverApplicationSecret \
    --aad-client-app-id $clientApplicationId \
    --aad-tenant-id $tenantId

and I get the following:
request failed: Error occur

[2019-10-08 22:30] dlepow commented on #40074
@rajurh - Thanks for the question. If I understand, you are trying to pass Key Vault secrets into the YAML file for Container Instances. There are a couple of supported ways to pass secrets so they don't have to be built into your container images:

1. As a secret [environment variable](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-environment-variables) passed to

[2019-10-08 22:33] drdamour commented on #38021
@Grace-MacJones-MSFT any answers?

[2019-10-08 22:49] Adam-Smith-MSFT commented on #40147
@jks05c Does the above answer works for your request ?
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-08 22:49] #40147 closed

[2019-10-08 22:49] sureleo opened #40364 "There are 3 dashes in a command but it should be 2."
In the Create an AKS cluster and enable the cluster autoscaler section,

in the command block: Now create the AKS cluster and enable the cluster autoscaler

There should be only 2 dashes in the line "enable-vmss", but there are 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Ver

[2019-10-08 22:51] Mike-Ubezzi-MSFT commented on #40162
@SnehaGunda I am unable to find any reference to these from a diagnostics perspective but believe they are part of the .NET SDK:

[PartitionKeyStatistics Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.partitionkeystatistics?view=azure-dotnet)

I am unable to find anything related to ControlPlaneRequests but do see DataPLaneRequests: https://docs.microsoft.com/en-us/az

[2019-10-08 22:53] Mike-Ubezzi-MSFT commented on #40162
@sarah026 Are these detailed as being available diagnostic metrics? I am going to forward this to the content author for review but did want to inquire where you are seeing these. Thank you!

[2019-10-08 22:53] Alberto-Vega-MSFT commented on #40027
@astraujums Thanks again for the feedback.  There is a PR for this, I have assigned the issue to the content author to evaluate and update as appropriate. @nberdy

[2019-10-08 22:56] femsulu commented on #40180
@juchen0411  - not sure I completely understand your request above. mind sharing a screenshot of what you are seeing. Sounds like there's a button that's greyed out? If yes, can you also confirm you have the appropriate permissions to execute this export? details [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-access).

[2019-10-08 22:58] mike-urnun-msft commented on #39927
@fab66m We will proceed to close this thread for now. If there are further questions regarding this scenario, please reopen it and we will gladly continue the discussion. Alternatively, please feel free to open a thread on [MSDN forums for APIM](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureapimgmt) as well.

[2019-10-08 22:58] #39927 closed

[2019-10-08 22:58] Alberto-Vega-MSFT commented on #39964
@StarWardo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-08 23:03] mamccrea commented on #38033
Hi @nick-chin - I am almost finished with the updated doc. Sorry for the delay!

[2019-10-08 23:04] Alberto-Vega-MSFT commented on #36468
@Yonet Thanks again for helping us make the documentation better. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-08 23:04] #36468 closed

[2019-10-08 23:08] msyihchen commented on #36179
@jakaruna-MSFT @dlepow //cc @northtyphoon

[2019-10-08 23:08] #40250 closed

[2019-10-08 23:09] ecfan commented on #40136
@mike-urnun-msft & @melzoghbi:

The topic is now updated in the [Prerequisites section](https://docs.microsoft.com/azure/logic-apps/quickstart-create-logic-apps-with-visual-studio#prerequisites):

![image](https://user-images.githubusercontent.com/13206671/66439845-d44b5480-e9e5-11e9-9fab-82c0d0ed0f45.png)

[2019-10-08 23:13] Mike-Ubezzi-MSFT commented on #40223
@AEIOU-fhir The `id` property is a user-generated property for the SQL API and `_id` is a system-generated property: [Properties of an Azure Cosmos container](https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#properties-of-an-azure-cosmos-container)

Can you try `_id` or provide more context as to where you are seeing this issue? Greatly appreciate the additional feedback

[2019-10-08 23:27] Karishma-Tiwari-MSFT commented on #40364
https://github.com/MicrosoftDocs/azure-docs-pr/pull/91034
The PR has been created and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-08 23:27] #40364 closed

[2019-10-08 23:29] SnehaGunda commented on #40337
@JoeWarwick The scenario this doc demonstrated is to access the keys from Cosmos DB, so it's not required to upload the certificate. You can use it from your local computer (read it from a C# application or a different app) and access the Cosmos DB keys.

[2019-10-08 23:31] SnehaGunda commented on #40337
@voellm please take a look at this issue.

[2019-10-08 23:41] JoeWarwick commented on #40337
@SnehaGunda I would get an authorisation issue on the next step which would only go away after adding the cert into the app.

[2019-10-08 23:42] femsulu commented on #40318
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-08 23:44] femsulu commented on #40318
@adamabmsft, @santhoshsomayajula - any input on these roadmap questions?

[2019-10-08 23:44] daniellittledev opened #40366 "Information about transactions"
Is the entire operation considered to be a single transaction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add3636d-1287-4879-1c87-13a90cd8321b
* Version Independent ID: f9a7290e-9118-af3c-25f6-4b57a8be99e8
* Content: [Bulk import and update data in Azure Cosmos DB using the bulk executor library](https://docs.micro

[2019-10-08 23:47] femsulu commented on #40324
Thanks for catching this. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-08 23:49] femsulu commented on #40351
Thanks for catching this. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-08 23:51] rajurh commented on #40074
Hi @dlepow

Thanks for your response. I am already using scenario 1 which us a secret environment variable passed to a container instance. Question here is in the link or e.g. provided by MS doesn't show for yaml file "secure-env.yaml" how do I tokenize it? If you see that file it has hardcoded secrets what I am trying to do is tokenize secrets based on release pipeline based on environment. If I

[2019-10-08 23:52] nberdy commented on #40027
Just approved the PR. Thanks for submitting a fix!

[2019-10-08 23:57] funkypenguin opened #40368 "Minor typo"
Hey guys,

There's a minor typo, if you search for this sentence : " You may need to a hook for your applications to "

Cheers!
D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc89d962-27d5-2ebd-4e8d-092948eb92a3
* Version Independent ID: 49e054ed-b4c7-f4d7-b88f-68a0ff61035d
* Content: [Operator best practices - Stora

[2019-10-08 23:58] ramarag commented on #40268
@Mortana89  i am sorry for any misunderstanding. We can work to reword the document to make things clearer.

As you mentioned, the doc says minimum of 100RU per container\collection. So every collection you create, you at least need current collection count times 100. So for 26 collections this is 26*100 = 2600 Ru (Database offer, say D).

Further if you are using only one collection at a time, th

[2019-10-09 00:05] robinsh commented on #40106
Thanks @Alberto-Vega-MSFT . We have a better chance of getting help from @nberdy or @rezasherafat than from myself. Nicole, can you help?

[2019-10-09 00:15] brucedkyle opened #40370 "Does the REST command work between Azure clouds?"
Is there a restriction for moving classic deployments between Azure Clouds (Enterprise to Germany) or (Gov Cloud to Enterprise) using the REST command shown here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8332259c-1d37-7604-696a-8b3cdd1554c4
* Version Independent ID: 060dda94-4e43-d7c5-4111-81d60df65039
* Content:

[2019-10-09 00:15] Mike-Ubezzi-MSFT commented on #40337
Assigned to content owner for review. @voellm for awareness.

[2019-10-09 00:16] Alberto-Vega-MSFT commented on #40106
@BhupalPatil have you seen the [DPS REST API documentation](https://docs.microsoft.com/en-us/rest/api/iot-dps/)?

[2019-10-09 00:18] Mike-Ubezzi-MSFT commented on #40340
@goosej5797 Please let us know if you have any additional questions. [Azure SQL Database traffic migration to newer Gateways](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-gateway-migration)

[2019-10-09 00:36] MicahMcKittrick-MSFT commented on #40368
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 00:37] MicahMcKittrick-MSFT commented on #40361
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 00:46] tfitzmac commented on #40370
@brucedkyle - if the source and target subscriptions are within the same Azure Active Directory tenant, you should be able to move the classic resources. The restrictions defined in this article would apply.

[2019-10-09 00:48] interfacemirror commented on #40094
@Alberto-Vega-MSFT  Yes, it worked fine. I found another solution as well. I was connecting it to an organization secured laptop. When I used my personal laptop it worked fine. Maybe you can add a side note in the documentation to explain others about this kind of issues.

[2019-10-09 00:50] sansomgithub commented on #40318
Our plans will be aligned with overall Microsoft plans to support IE11. I am curious to understand the reason for this question and more details on this statement "Keeping it on the list of supported browsers prevents using newer web development standards for portal development. For example, IE does not support web assembly." What does this mean and what portal development are we discussing here?

[2019-10-09 00:51] petermreid opened #40371 "Documentation needs clarity. Is the PAL relationship tied to the user account?"
Once a partner adds their MPN ID using PAL, will the relationship continue if the customer removes the user or service principal account?

[2019-10-09 01:07] ecfan commented on #40062
Hi @sweetmoniker & @mike-urnun-msft,

Based on the API reference page for the FTP connector, looks like the FTP trigger has changed. The output from the current trigger version returns a list of files, rather than the file content. Here's more info about the FTP trigger: [https://docs.microsoft.com/connectors/ftp/#triggers](https://docs.microsoft.com/connectors/ftp/#triggers)

I created a doc work

[2019-10-09 01:08] ecfan commented on #40136
@mike-urnun-msft: #please-close

[2019-10-09 01:08] #40136 closed

[2019-10-09 01:14] ecfan commented on #40352
Hi @brandonh-msft,

In an ISE, the limit on the number of logic apps that you can deploy doesn't differ from the global service's limit, which you can find in the [Definition limits section](https://docs.microsoft.com/azure/logic-apps/logic-apps-limits-and-config#definition-limits) of the limits doc.

@mike-urnun-msft: #please-close

[2019-10-09 01:14] #40352 closed

[2019-10-09 01:41] gjustice commented on #13911
I agree clarification is required and could we also get clarification as to if both 168.63.129.16 and 169.254.169.254 are both bi-directional, ie connections are initiated in both directions?  Perhaps 169.254.169.254 is only outbound and that's why the default rules work!?!

[2019-10-09 01:44] avi2183 commented on #40088
**@djpmsft** Thank you for taking time and providing root cause on this.

Instead of having foreach loop, we had created insert and update dataflows separately for multiple tables. not sure if this is right or wrong choice. but it was working fine until one day it failed with this error. Btw, may i know when it says overloaded. what does it mean with that, is it data size, objects or pipeline limi

[2019-10-09 01:58] scott1138 opened #40373 "WebTest XML Configuration specification"
You need more details on this specification.  In some cases the Id or Guid fields can be left empty and can be self-generated.  In this case to we need to generate our own?  Can the globally conflict or are the unique to each App Insights instance?  What other options are available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-10-09 01:59] sandeepiiit commented on #37711
@SamaraSoucy-MSFT Were you able to pass this off to the doc author? Just checking as a reminder :)

[2019-10-09 02:10] SgtSpamCan opened #40374 "Changing the App Service Logs settings may restart your live service."
Found this out the hard/painful way, with a service already in trouble, I attempted to help by enabling logs.  Caused the service to become completely unresponsive as it restarted itself as soon as I hit save/apply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independen

[2019-10-09 02:21] KrishnaG-MSFT commented on #40370
@tfitzmac Thanks for the quick response. :+1:

[2019-10-09 02:24] kobulloc-MSFT commented on #40373
@scott1138 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-10-09 02:44] DreamRivulet commented on #40300
I also can't see this clusterrolebindings as the doc said:
~$ kubectl get clusterrolebindings default:priviledged -o yaml
Error from server (NotFound): clusterrolebindings.rbac.authorization.k8s.io "default:priviledged" not found

[2019-10-09 02:45] Leejung168 opened #40375 "It would be great if we could update the document for how end to end HTTPS works on front door in comparison to Application Gateway"
Most of customer has concerns about how end to end HTTPS works on front door in comparison to Application Gateway.

I would like to provide my understanding for your reference.

====For Application Gateway v1
The probe flow is.
1)TCP handshake between AppGw and backend server.
2)SSL handshake between AppGw instance and backend server. The server name indication(SNI) at the time of Client Hello is

[2019-10-09 02:47] avi2183 opened #40376 "Getting Incorrect syntax near ',' error while running dataflow thru pipeline"
Environment: Azure Data Factory

Getting following error, while running dataflow thru pipeline.

message": "Job '******************** failed due to reason: DF-SYS-01 at Sink 'SinkDim*********': com.microsoft.sqlserver.jdbc.SQLServerException: Parse error at line: 1, column: 67: **Incorrect syntax near ','.**\ncom.microsoft.sqlserver.jdbc.SQLServerException: Parse error at line: 1, column: 67: **In

[2019-10-09 02:50] DreamRivulet commented on #40300
I can't see the clusterrolebindings default:priviledged either after psp enabled:
~$ kubectl get clusterrolebindings default:priviledged -o yaml
Error from server (NotFound): clusterrolebindings.rbac.authorization.k8s.io "default:priviledged" not found

and there is a "default:privileged" rolebindings in kube-system:
~$ kubectl get rolebindings  -n kube-system
NAME

[2019-10-09 03:04] DashleenBhandari-MSFT commented on #40077
@DouglasAndrJohnston Just wanted to understand if you got a chance to review the repo?

[2019-10-09 03:05] DashleenBhandari-MSFT commented on #40150
@cephalin Could you please verify this request.

[2019-10-09 03:12] kazshi opened #40377 "maximum query string length"
I would assume "Characters per expression = 8,192" limitation applies to the expression in the "sqlReaderQuery" parameter ("@{activity('LookupActivity')...") in the Pipeline section (correct?), but what is the maximum query string length? I found the maximum query string length for Functions is 4096 in the following page, does it apply to the query in the sample?

Azure subscription limits and quo

[2019-10-09 03:14] kebaranas commented on #30614
Good day! I am also have the same problem. I tried doing the one you all suggested and I got this messages. 2019-10-09 11:12:26.248 21667-21805/com.kebaranas.rideme D/ConnectivityManager: requestNetwork; CallingUid : 10186, CallingPid : 21667
2019-10-09 11:12:26.289 21667-21667/com.kebaranas.rideme I/zygote64: Thread[1,tid=21667,Native,Thread*=0x709cec0a00,peer=0x74b7d830,"main"] recursive attempt

[2019-10-09 03:16] DreamRivulet commented on #40300
Is it expected to bind the clusterrole "psp:privileged" with rolebinding "default:privileged" in kube-system namespace?

[2019-10-09 03:19] kebaranas opened #40378 "Azure Map is not displaying the map image only the watermarks in Android Kotlin."
Only white image shows up. Here is my code.
``

class HomeActivity : AppCompatActivity() {

    companion object {
        init {
            AzureMaps.setSubscriptionKey("MY SUB ID")
        }
    }

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        setContentView(com.kebaranas.rideme.R.layout.activity_home)
        MapLog.setLogLevel(Log.

[2019-10-09 03:21] MGoedtel commented on #38994
Completed this update.  #please-close this issue.

[2019-10-09 03:21] #38994 closed

[2019-10-09 03:22] stdedos commented on #38880
Sadly, I cannot see that PR contents, neither can I see that the page was updated.

Kindly close when we can see the change from our side too, not simply yours.

[2019-10-09 03:33] Mortana89 commented on #40268
Hi, Ivm sorry but it's not completely clear no.
What's the difference between D and new D? Are we describing old and new behavior?

Scenario 1 - 20 containers
Min DB RU: 2000
Max container RU: 2000

Scenario 2: 26 containers
Min DB RU: 2600
Max container RU: ?

Scenario 3: 75 containers
Min DB RU: 7500
Max container RU: ?

Can you populate above please?

Next to making things complex (RU calculati

[2019-10-09 04:04] satonaoki opened #40379 "SNAT port"
Azure App Service has SNAT port preallocations limit (128), but it is not documented.

Could you add this information?

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#preallocatedports

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
* Version

[2019-10-09 04:12] CHEEKATLAPRADEEP-MSFT commented on #40204
@linda33wj Could you please update the document with the latest updates.

Recently, Blobs are renamed as Containers, could you please update the document with the latest names.

![image](https://user-images.githubusercontent.com/44426401/66451202-fd68f500-ea78-11e9-9509-e3de7e61e84c.png)

[2019-10-09 04:24] DreamRivulet commented on #40300
Another issue, when I tried to create nginx-privileged and nginx-unprivileged nginx pods, bot failed with   the error:
$  kubectl-nonadminuser apply -f nginx-privileged.yaml
Error from server (Forbidden): error when creating "nginx-privileged.yaml": pods "nginx-privileged" is forbidden: unable to validate against any pod security policy: []
$ kubectl-nonadminuser apply -f nginx-unprivileged.yaml
E

[2019-10-09 04:44] neeleshray-msft commented on #39753
@memildin  Could this be checked into ?

[2019-10-09 04:44] SwathiDhanwada-MSFT commented on #40350
@humphries40 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-09 04:45] neeleshray-msft commented on #39756
@memildin  Could this be checked into ?

[2019-10-09 04:48] neeleshray-msft commented on #40182
@memildin  Could this be verified ?

[2019-10-09 04:53] SwathiDhanwada-MSFT commented on #40316
@rscottwatson Thanks for your comment. We are actively investigating and will get back to you shortly

[2019-10-09 04:58] SwathiDhanwada-MSFT commented on #40359
@ATummillo Thanks for your comment. We are actively investigating and will get back to you shortly

[2019-10-09 05:01] SwathiDhanwada-MSFT commented on #40321
@matteomorales Thanks for the comment. Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-09 05:03] yugangw-msft commented on #40240
@MarileeTurscak-MSFT, that is correct.
We are still waiting for the API support to finish at backend. We will post update in https://github.com/Azure/azure-cli/issues/7579 once it is ready for CLI team to start the command work.

[2019-10-09 05:09] msrini-MSFT commented on #40375
@Leejung168 , thank you for your doc idea. I have assigned this issue to author to validate and create a documentation if necessary.

[2019-10-09 05:09] PramodValavala-MSFT commented on #40270
@brandonh-msft For `v1`, there is no version property at all. Because of this, if you have any property that is `v2` only, the validation works accordingly. If you were to start from an empty object, it shouldn't throw any errors.

![image](https://user-images.githubusercontent.com/43602528/66453150-fb0a9900-ea80-11e9-8c4e-a78cec6395e1.png)

[2019-10-09 05:11] SwathiDhanwada-MSFT commented on #40218
@SychevIgor As of now, the solution supports SQL Server version 2012, 2014, and 2016.
@MGoedtel Can you please let us know if SQL server version 2017 will be supported or not?

[2019-10-09 05:16] PramodValavala-MSFT commented on #40308
@udderchaos The permissions for the service principal would depend on the connector you are using them in.

MSI is supported with Logic Apps but [only the HTTP Connector can use it for now](https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity).

As for using secrets in your ARM Templates, there is already a way to [replace them with Key Vault references](https://docs.m

[2019-10-09 05:18] BhupalPatil commented on #40106
@Alberto-Vega-MSFT  Our devices software is on C language platform (Ingenico Telium 2 OS), considering the C SDK for IOT implementation we cannot use it because the Azure C SDK uses dynamic memory allocation and pthread which we dont support in our application. the dynamic memory allocation leads to memory fragmentation in our devices.

I'm looking for doing this using MQTT client not with REST AP

[2019-10-09 05:20] SwathiDhanwada-MSFT commented on #40349
@ryeguy637 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-09 05:22] SwathiDhanwada-MSFT commented on #40353
@RobertoBorges Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-10-09 05:22] msrini-MSFT commented on #40207
@tayamasa , i will go ahead and close this issue. Please tag me if you have any further questions.

[2019-10-09 05:22] #40207 closed

[2019-10-09 05:28] ram-msft commented on #40201
@leanwang Yes you are right.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-09 05:28] #40201 closed

[2019-10-09 05:28] RohitMungi-MSFT commented on #40116
@Chreschtf We will go ahead and close this issue as the changes to the documentation to support the migration are in-progress and this should be updated soon. The keys for subscription or authoring are also the same as mentioned above. If you have any questions please let us know. Thanks!!

[2019-10-09 05:28] #40116 closed

[2019-10-09 05:30] ChiragMishra-MSFT commented on #40377
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-09 05:36] Ankita-Chaudhari commented on #39347
I raised a support ticket with Microsoft and they said that the update to
fix this issue  will be released on 10/18 across all regions. Subscribe
again to the sync feature, once the update is available and then the
auto-sync feature will work.

On Tue 8 Oct, 2019, 6:54 PM Gerbrand van der Weg, <notifications@github.com>
wrote:

[2019-10-09 05:37] KrishnaG-MSFT commented on #40159
@batanun Verified and updated the document as required. Thanks.

[2019-10-09 05:37] #40159 closed

[2019-10-09 05:41] AjayKumar-MSFT commented on #40379
@satonaoki, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-10-09 05:42] algattik commented on #39988
@mamccrea this point is clear when writing to Blob, but how can it apply when writing to Event Hubs? A message is always sent atomically there.

[2019-10-09 05:46] AjayKumar-MSFT commented on #40374
@SgtSpamCan, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-10-09 05:52] #40143 closed

[2019-10-09 05:54] abhirockzz opened #40381 "Provide reference to resources for "Burst to Azure Container Instances" section"
In the section [Burst to Azure Container Instances](https://docs.microsoft.com/en-us/azure/aks/concepts-scale#burst-to-azure-container-instances), it would be good to link to the following resources as the next logical step

- [Create and configure an Azure Kubernetes Services (AKS) cluster to use virtual nodes using the Azure CLI](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli)
- [U

[2019-10-09 05:56] SwathiDhanwada-MSFT commented on #40293
@Rajeswari-Mamilla Can you please confirm the script to work on physical machines?

[2019-10-09 06:01] stefanrothnet commented on #40298
Hi vishi

Thank you for your investigation. The documentation is very confusing, e.g. if I take this section here...
**Configure and deploy ConfigMaps**

![pic1](https://user-images.githubusercontent.com/21041229/66455190-4feee500-ea6a-11e9-9bf5-1b4143ba0b54.JPG)

The article says we should modify the config map and in the examples the article sections are uncommented compared to the config map fi

[2019-10-09 06:02] leanwang commented on #40201
OK

[2019-10-09 06:12] SwathiDhanwada-MSFT commented on #40316
@rscottwatson You can use either of these methods to obtain the access token.

**Powershell**
`
$azProfile = [Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureRmProfileProvider]::Instance.Profile

$currentAzureContext = Get-AzContext
 $profileClient = New-Object Microsoft.Azure.Commands.ResourceManager.Common.RMProfileClient($azProfile)
 Write-Debug ("Getting access token for tenan

[2019-10-09 06:16] SychevIgor commented on #40218
The same for SQL2019 it's in RC, but anyway. If we can't use the same instrument for all modern version of sql- so we probably should find some instrument that will support all modern version.

[2019-10-09 06:19] KalyanChanumolu-MSFT commented on #40366
@daniellittledev Thank you for reaching out.
The workload is divided into small batches at the client side and then committed to Cosmos Db.
The entire operation is not happening in a single transaction.

[2019-10-09 06:23] PramodValavala-MSFT commented on #40335
@MarkusMeyer13 Thanks for catching that! We have worked up a PR to update the doc accordingly.

[2019-10-09 06:32] SwathiDhanwada-MSFT commented on #40350
@anirudhcavale I have reproduced the issue from my end. I am also facing similar issue when creating the alerts. Can you please provide your inputs on this ?

[2019-10-09 06:37] MarileeTurscak-MSFT commented on #40240
Thanks @yugangw-msft ! Closing this out for now then. @viresh-contino feel free to check on the thread linked to get updates on this.

[2019-10-09 06:37] #40240 closed

[2019-10-09 06:44] MarileeTurscak-MSFT commented on #40299
It seems to no longer be supported but I've reached out to someone from the conditional access team to confirm.

[2019-10-09 06:44] KalyanChanumolu-MSFT commented on #40163
@blueelvis As mentioned in the docs, purging is recommended only in cases where you need to remove  sensitive data that was ingested. Ideally you should prevent it at the ingestion layer.

Regarding update, is this for a one off record or for all the data that is being ingested?
If it is the latter, you should consider using an [Update Policy](https://docs.microsoft.com/en-us/azure/kusto/concepts/

[2019-10-09 06:51] Neilhuk commented on #40299
@MarileeTurscak-MSFT Thank you, could you also ask how we are now supposed to protect this application ? Many Thanks

[2019-10-09 06:55] LTUTE commented on #40333
Hi, It states that cmdlet New-SelfSigned... not found.

2019-10-08, an 21:27, suvasara <notifications@github.com> rašė:

[2019-10-09 07:10] SumanthMarigowda-MSFT commented on #40254
@qub1n For every service the Billing will always be pro-rated.. So if they are using the service in Minutes, the charges will be billed for used minutes on a pro rated basis

[2019-10-09 07:15] stefanrothnet commented on #39972
Any update on this? It is essential for us to have this API available without any subscription limits or if any subscription limits we prefer it to be set at a high number.  "High number" limit depends if deleted subscriptions also count to the subscription limit.

[2019-10-09 07:30] juyama opened #40382 "Preview or GA?"
Please let us confirm current status of the Azure VM Backup with disk size up to 30TiB. It seems public preview state from following doc.
https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix#azure-vm-limits

However, there are no annotation in this page.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction#public-preview-backup-of-vm-with-disk-sizes-up-to-30-t

[2019-10-09 07:37] MarileeTurscak-MSFT commented on #40255
Yes, you can do this with Powershell.

There are examples in [this guide](https://docs.microsoft.com/en-us/azure/active-directory/b2b/code-samples):
[code]

Right now it does not appear to be possible to customize the header and footer, but you can make a request for this in [User Voice](https://feedback.azure.com/forums/169401-azure-active-directory).

[2019-10-09 07:37] MarileeTurscak-MSFT commented on #40255
Closing this out for now, but if you have further questions feel free to tag me in the comments and I qill gladly continue the discussion.

[2019-10-09 07:37] #40255 closed

[2019-10-09 08:05] gowdachandan commented on #34828
I'm facing the same issue as mentioned about
a) We are not able to associate the the Certificate though ARM template
b) We are not able to associate DefaultRuleSet_1.0 to AFD.

Do we have any update here @msrini-MSFT ?

[2019-10-09 08:23] Sethu2488 commented on #40118
Additional questions
We are using Azure App Service, not Azure VMs, so we don't have access to Azure's internal networks and thus cannot perform intrusion detection. Are you telling me that Azure doesn't monitor intrusion detection on its own networks? That is quite a concerning security gap for Azure if true, and I highly doubt that's the case.
Appreciate your insights on the above query

[2019-10-09 08:24] AjayKumar-MSFT commented on #40148
@rogersass, Apologies for the delay!
Yes, during the Preview you will need to modify your application in order to integrate with VNet. This is a temporary limitation during VNet Preview release, we will remove the limitation before GA. In your application, please use the PORT environment variable as the main web server’s listening port, instead of using a hardcoded port number. The PORT environmen

[2019-10-09 08:24] imabedalghafer opened #40384 "azcopy command does not allow change the name of the destination blob"
Checking on the option of using the azcopy command , it will create the unamanged disk as the name of the URL in the managed disk which will result in disk named abcd created.
I have this modification if you can added to the script so it will create the new VHD with the proper name .
if($useAzCopy -eq 1)
{
    $containerSASURI = New-AzStorageContainerSASToken -Context $destinationContext -ExpiryTi

[2019-10-09 08:25] LloydAlbin opened #40385 "pgaudit"
Before adding Postgres 11, you did not have pgaudit listed for any version of Postgres. Now you have pgaudit listed for all versions of Postgres. The problem is that you have version 1.3 listed for all version of Postgres and this is not possible due to the fact that the pgaudit version is unique to the Postgres version, aka Postgres 12 = pgaudit 1.4.x, Postgres 11 = pgaudit 1.3.x, Postgres 10 = p

[2019-10-09 08:26] samhodgkinson opened #40386 "Linux SKU"
Please could you update this page to reflect the specific Linux SKU's that are endorsed. i.e PublisherName,Offer,Skus,Version ... From reading this I have taken all Ubuntu 18.04 OS's are supported, but when testing with the CIS marketplace image, this is not the case. As you only support the vanilla Ubuntu base image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-09 08:28] boqsernmcpopsern opened #40387 "Uneccessary line in PS-script"
The line:
$resource = Get-AzResource | Where {$_.ResourceGroupName –eq $RGname -and $_.ResourceType -eq "Microsoft.Network/networkSecurityGroups"}
Does not seem to have a purpose in this script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5e43cd-cb6f-c9e5-70eb-5115305d6a8d
* Version Independent ID: 56e3ea8d-f4ba-1

[2019-10-09 08:30] souravmishra-msft commented on #39759
@jgwinner, The reason you see "me.4200@corp.com", is because of the feature "**DuplicateUPNResiliency**". With this feature enabled, on cloud if the same user is found (with similar UPN), then this feature doesnot stop the provisioning but instead another unique UPN in the following format:
 **[OriginalPrefix]+[4DigitNumber]@<InitialTenantDomain>.onmicrosoft.com**.

You can read more on this on th

[2019-10-09 08:33] SwathiDhanwada-MSFT commented on #40359
@ATummillo Can you please verify if the below mentioned resource providers are registered in your subscription?

Microsoft.AlertsManagement
Microsoft.Insights
Microsoft.LogAnalytics
Microsoft.OperationalInsights
Microsoft.OperationsManagement
Microsoft.WorkloadMonitor

For your reference [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services#azure-

[2019-10-09 08:34] prabansa commented on #40315
Hi @marcelo-onfleeklabs  Thanks for sharing feedback.
We have already rolled out improved rankers for Brazilian Portuguese and Spanish languages. It would be great to get your feedback on the same.  Could you please share more details of your scenario (KB, query, actual response, expected response) and create a support ticket so that we could investigate this in details?
Thanks

[2019-10-09 08:35] ErikAndreas commented on #40341
Just got an update of the func runtime):
Azure Functions Core Tools (2.7.1704 Commit hash: fbab3b9c1de5ab95e3b4b6a471ead62c4f37e89c)
Function Runtime Version: 2.0.12742.0

And I'm no longer getting this error... Can't find any release notes or something else which would indicate what has changed?

[2019-10-09 08:42] shashishailaj commented on #40386
@samhodgkinson Thank you for your feedback . We will investigate and update this thread further.

[2019-10-09 08:42] souravmishra-msft commented on #40387
@boqsernmcpopsern , thank you for sharing your query. We are looking into this and would get back to you soon on this thread.

[2019-10-09 08:48] SwathiDhanwada-MSFT commented on #40288
@kasparks Can you please update the document with latest screenshot?

@omerzubair Azure advisor monitors the virtual machines based on the configuration rule and provides the recommendations. It will not shutdown\resize the virtual mahines, but it will provide the recommendations .Here is a snapshot of recommendation.
![image](https://user-images.githubusercontent.com/48976275/66466059-acb8c280-ea

[2019-10-09 08:49] souravmishra-msft commented on #40385
@LloydAlbin, thank you for sharing the query, we are looking into this and will get back to you soon on this thread.

[2019-10-09 08:51] souravmishra-msft commented on #40384
@imabedalghafer, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-09 08:58] adusumillipraveen opened #40390 "Documentation for using ARM Template to use standard loadbalancer SKU in AKS"
It would be good to have documentation for implementing standard load balancer SKU using ARM templates. Also, the arm template reference doesn't document the latest fields used to support this : https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-06-01/managedclusters

We tried using based on some references in az cli code, https://github.com/hmcts/cnp-aks-rbac-pipelin

[2019-10-09 09:00] mortenlerudjordet commented on #32069
Just an FYI if you are looking for understanding how to onboard through code  there is working code for this here:
https://github.com/mortenlerudjordet/runbooks/blob/master/Utility/ARM/Enable-AutomationSolution.ps1

And for cleaning the searches:
https://github.com/mortenlerudjordet/runbooks/blob/master/Utility/ARM/Format-AutomationSolutionSearch.ps1

[2019-10-09 09:01] souravmishra-msft commented on #40382
@juyama, Thank you for sharing the query. We are looking into this and would get back to you on this thread soon.

[2019-10-09 09:03] ManojReddy-MSFT commented on #40040
@jvtroyen account enabled and email verified are not the same. Account enabled indicates whether Azure can give the token for the user or not. If the account is disabled then azure will not issue a token for that user.

You would have to use a different field and modify this attribute directly.

[2019-10-09 09:06] souravmishra-msft commented on #40390
@adusumillipraveen, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-09 09:07] Coldpawz opened #40391 "Link go to outdated webpage"
When you select on the 'Learn More' button in the Microsoft Partner Center, under lead managment, you are taken to the following page:
https://docs.microsoft.com/en-gb/azure/marketplace/partner-center-portal/create-new-saas-offer#connect-lead-management

From there, the link to Azure Table takes you to the following webpage:
https://docs.microsoft.com/en-gb/azure/marketplace/cloud-partner-portal-o

[2019-10-09 09:07] souravmishra-msft commented on #40381
@abhirockzz, Thank you for sharing the details. We are looking into this and would get back to you soon on this thread.

[2019-10-09 09:18] iamsunny commented on #40030
+1 for multiple apps swap status reporting!

[2019-10-09 09:19] SudeshSharma opened #40392 "How to Calculate Azure Virtual Machine Up hours?"
I have created virtual machine on azure and deployed one website on Virtual Machine IIS server. Now I want to calculate hours of Virtual Machine were up including storage and backup? How to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814b92ed-f712-53c8-644b-d3be513a4d06
* Version Independent ID: 79d8998f-1b47-40

[2019-10-09 09:24] ManojReddy-MSFT commented on #39992
@bdschaap Can you elaborate a little bit more on why you need to monitor the key size?

[2019-10-09 09:26] test123114 opened #40394 "how to read csv file with other encoding"
In azure Databricks , I  read a CSV file with ```multiline = 'true'``` and ```charset= 'IOS 8859-7'```. But I cannot shows some words.  It seems that ```charset``` option is being ignored. If i use ```multiline``` option spark use its default encoding that is UTF-8, but my file is in IOS 8859-7 format. Is it possible that I  use the two options at the same time. If it is possible, how to implement

[2019-10-09 09:35] souravmishra-msft commented on #40378
@kebaranas, Thank you for sharing the qury. To help you better, can you let us know which Microsoft doc you reference to while trying to use the Azure Maps? It would help us to guide you better.

[2019-10-09 09:39] DrPitaya opened #40396 "Complete Code sample is not available"
The links to https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/qnamaker-activelearning/csharp_dotnetcore and https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/qnamaker-activelearning/javascript_nodejs are dead. I guess the sample project moved from /experimental/ to /samples/ so it should link to https://github.com/microsoft/BotBuilder-Samples/tree/mas

[2019-10-09 09:39] MarkusMeyer13 commented on #40335
@PramodValavala-MSFT I created already a PR yesterday: https://github.com/MicrosoftDocs/azure-docs/pull/40313

[2019-10-09 09:53] souravmishra-msft commented on #40391
@Coldpawz, Thank you for sharing the query. I am looping in the Content Owner to look in to this.

[2019-10-09 09:58] souravmishra-msft commented on #40396
@DrPitaya, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-09 10:00] souravmishra-msft commented on #40394
@test123114, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-09 10:02] KetanChawda-MSFT commented on #40330
@brandonh-msft  I tried as shown below but I am not getting the outcome in `""`.

![image](https://user-images.githubusercontent.com/28587628/66471906-ca8b2500-eaa9-11e9-930d-d8a2e91c5316.png)

Expression I used :

[code]
Could you please share screenshots how you are doing it ?

[2019-10-09 10:08] souravmishra-msft commented on #40392
@SudeshSharma, Thank you for the query. We are looking into this and will get back to you soon on this thread.

[2019-10-09 10:09] cephalin commented on #39494
@dcbrown16 removed the dangling sentence. It should be published sometime today. #please-close

[2019-10-09 10:09] #39494 closed

[2019-10-09 10:12] VikasPullagura-MSFT commented on #40361
@mlearned Can you please add your comments on this. I am not able to reproduce this issue in my lab.

[2019-10-09 10:16] ChiragMishra-MSFT commented on #40376
@avi2183 This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory)/ [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-factory). Once you post your issue on forums, it will have vis

[2019-10-09 10:16] #40376 closed

[2019-10-09 10:16] souravmishra-msft commented on #40371
@petermreid, Thank you for sharing the request. It would be great if you can share the Microsoft Doc that you referenced and that needs to be updated, so that its easier for us to update that doc.

[2019-10-09 10:16] #40257 closed

[2019-10-09 10:17] KetanChawda-MSFT commented on #40257
@CeciAc Created a PR to update the doc. It will be available in next 24 hours in public document.

[2019-10-09 10:19] souravmishra-msft commented on #39990
@bdschaap, The logs do not show Key Size for transactions.  One possible workaround would be to name the key according to the key size for logging purposes.

[2019-10-09 10:20] juyama commented on #40382
Sorry, I put these links in wrong order. These links are switched.

[2019-10-09 10:23] gauss345 opened #40398 "azureml-sdk, estimator pytorch, how to install pip packages by providing folders"
- [ ] The relevant Azure service or technology.
azure machine learning services
- [ ] A link to the published documentation article that you have feedback about.
[Estimator class](https://docs.microsoft.com/en-us/python/api/azureml-train-core/azureml.train.estimator.estimator?view=azure-ml-py)

- [ ] normally I can provide pip a folder to install, instead of a link of a repo/package,
for eg. `pip

[2019-10-09 10:24] souravmishra-msft commented on #39992
@bdschaap, Not aware of any way to monitor the service limits.  Typically, users monitor for HTTP 429 which is the throttling response, then they analyze the requests which caused them to get into that state.  You should enable audit logs which will allow them to review request history.

[2019-10-09 10:25] Boombasteg opened #40399 "Create and delete several ACR tasks."
I'm trying to schedule two task in my ACR according example from [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-scheduled).

Two similar commands like this:
`az acr task create --name myTask1Name --cmd "$PURGE_DEV_CMD" --schedule "30 6 * * 1-5" --registry myRegistry --context /dev/null`
and
`az acr task create --name myTask2Name --cmd "$PURGE_STAG

[2019-10-09 10:29] KetanChawda-MSFT commented on #40341
@ErikAndreas I am glad that the got resolved after updating Azure Functions Core Tools.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-09 10:29] #40341 closed

[2019-10-09 10:30] jakaruna-MSFT commented on #40387
@boqsernmcpopsern That line is not required.
I will remove that line and change the description on the top of that page.

[2019-10-09 10:34] VikasPullagura-MSFT commented on #40392
@SudeshSharma There is no direct way to check the VM uptime.
However, you can try to go through the VM activity log (which again will be manual and hectic).
The other reliable alternative is by using az vm run command from the VM (run the uptime command inside the OS) and get the details.
These are couple of links that can help you with this:
- [Windows Powershell](https://docs.microsoft.com/en-us

[2019-10-09 10:34] #40392 closed

[2019-10-09 10:39] jakaruna-MSFT commented on #40387
Submitted a PR to change the script. Once that merges, We can change the doc as well.

[2019-10-09 10:40] jakaruna-MSFT commented on #40381
@abhirockzz This is a valid request.

@zr-msft Can we add these suggestions to the document?

[2019-10-09 10:41] jjindrich opened #40400 "Missing definition of max request size"
I have function receiving bigger request (more than 2 MB). I'm getting this error: 413 Request Entity Too Large.
Please could you document maximal size of request. Can I change it this parameter ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 591acd0e-bb8b-8baf-1b29-e4130d457972
* Version Independent ID: cf553392-0db4

[2019-10-09 10:48] nitishr06 opened #40401 "Support for Cordova based android application."
Hello, Is there any documentation related to configuring push notification on android app based on Cordova platform using azure notification hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affa806e-ed31-20b7-9aee-2b56572225ab
* Version Independent ID: 5dea14a7-065e-c21b-712c-0cee7d3ffb16
* Content: [Push notificati

[2019-10-09 10:49] dirkslab commented on #38816
@SaurabhSharma-MSFT did you receive any feedback?

[2019-10-09 10:52] vellemansf opened #40402 "To delete all deployments older than five days..."
Shouldn't this be
*  Where-Object Timestamp -lt ((Get-Date).AddDays(-5))
instead of
*  Where-Object Timestamp -gt ((Get-Date).AddDays(-5))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36faf39e-c76a-9579-3d3f-963290ce2efe
* Version Independent ID: 96e4bea0-80b1-be2c-c41a-4980190d08d7
* Content: [Azure deployment quota

[2019-10-09 10:56] jjindrich opened #40403 "Azure Storage website with Application Gateway"
There is missing documentation how to configure Application Gateway in front of Azure Storage website. There must be defined custom probe - https://medium.com/@emin.askerov/static-website-hosting-in-azure-storage-with-custom-domain-and-ssl-support-using-azure-application-b17f95c6764c. Please update docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-10-09 10:56] aquibqureshi26 opened #40404 "Adding user in Group FSLogix profile include list is not mentioned in the article"
I think this article should contain the last part of adding the security group in the local group "FSLogix profile include list" to make the fslogx work.

it is mentioned in the below article
https://docs.microsoft.com/en-us/fslogix/configure-profile-container-tutorial#set-up-include-and-exclude-user-groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-10-09 10:56] tesharp commented on #40300
As DreamRivulet mentioned the documentation refers to a clusterrolebinding that should exist, but doesn’t. Kube-system is not mentioned in the docs but there is a rolebinding in kube-system namespace called same as clusterrolebinding should be called. So I assume the docs are wrong and it should refer to a rolebinding in kube-system instead if clusterrolebinding

[2019-10-09 10:58] SwathiDhanwada-MSFT commented on #40402
@vellemansf Thanks for the comment. We are actively looking into it and will update you soon.

[2019-10-09 11:05] bkocis commented on #39948
@Alberto-Vega-MSFT no, not browser dependent, not network dependent. I get the same in the browser console output _"can’t establish a connection to the server at wss://.azurewebsites.net/"_. I wonder if there is some setting related to wss and ws, or the issue is die the limitation of the free account type?

[2019-10-09 11:07] #40402 closed

[2019-10-09 11:08] VikasPullagura-MSFT commented on #40390
@adusumillipraveen Thanks for the feedback. I will have the document author add his comments on this.

[2019-10-09 11:08] SwathiDhanwada-MSFT commented on #40402
Thanks for catching this. A PR has been successfully initiated to resolve this issue. The change  will be live in roughly 24 hrs.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-09 11:09] VikasPullagura-MSFT commented on #40390
@zr-msft Can you please add your comments on the document for using SLB with ARM.

[2019-10-09 11:23] sarah026 commented on #40162
If you navigate to any test cosmos DB you have, and try to enable diagnostic settings, these two are in the list of options, I'd like to know what they contain

[2019-10-09 11:28] Laho19 opened #40405 "How can we exclude or include other Enterprise app registrations"
We have a application which pulls data out of Exchange and SharePoint.
In this application we want to see that information. If we enforce CA with e.g. MFA on EXO and SP, this info is not displayed.
How can we exclude or include our Enterprise app registration for the "Late-bound" enforcement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-10-09 11:31] richardcox13 opened #40406 "When using service bus trigger in Web Job location of configuration is not given"
Reference to app settings assumes configuration in Azure Portal, but that doesn't work when running a web job project locally for debugging. Nor does it help when using Key Vault for secrets,

The documentation should state where in the usual core configuration (`appsettings.json`) this value is looked up (other configuration source naming can be easily derived from this by the reader).

It seems

[2019-10-09 11:33] SumanthMarigowda-MSFT commented on #39995
@avidiyal  I'd recommend posting your question in https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-09 11:33] #39995 closed

[2019-10-09 11:37] jjindrich commented on #40400
Thank you for clarification. I asked customer to put more details about their scenario. Closing for now.

[2019-10-09 11:40] theheatDK opened #40407 "Subscribed Bandwidth: 200 Gbps?"
Hi,
This is mentioned in the article: "Subscribed Bandwidth: 200 Gbps"
I am a little confused regarding the 200 Gbps, since we are talking about a 100 Gbps ExpressRoute?
Is this because you will have two 100 Gbps connections to ensure availability?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84695fdf-0

[2019-10-09 11:45] mmajcica opened #40408 "Limitations for .NET Framework types allowed in policy expressions"
Treating Dates in the policy expression turns out to be very difficult. We do not have a way to parse date and set the date kind due to missing references.

At example, the following code is not accepted:

`DateTime startDateUtc = DateTime.SpecifyKind(DateTime.Parse(startDateString), DateTimeKind.Utc);`

or

`DateTime startDateUtc = DateTime.ParseExact(startDateString, "dd/MM/yyyy HH:mm:ss", Cultu

[2019-10-09 11:53] AkoleStatoil commented on #28385
Have there been any new regarding this issue?

[2019-10-09 11:59] msrini-MSFT commented on #40212
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91078

[2019-10-09 12:02] mmajcica commented on #7971
I'm facing the same issue. Also, it would be nice if DateTimeStyles enums are imported.

[2019-10-09 12:07] #40212 closed

[2019-10-09 12:07] jjindrich commented on #40400
@PramodValavala-MSFT we added more details. Please could you answer additional question ?

[2019-10-09 12:26] theheatDK opened #40410 "ExpressRoute using a service provider vs ExpressRoute Direct"
Hi,
This article compares ExpressRoute Direct with ExpressRoute using a service provider.
I not sure I understand it though :-)
As I understand it for a regular ExpressRoute you use a service provider to get a MPLS connection from you company location to a co-location where the MPLS is connected to a Microsoft Enterprise Edge device. From here the connection is running on Microsoft network.
For Ex

[2019-10-09 12:32] jakaruna-MSFT commented on #40024
One default resource group will be created per region when required. You got one created on the westeurope.
If the log analytics workspace is not supported in that region , Then some other supported region is chosen.

Yes.  When we give the Workspace it , It logs in that workspace.
If we didnt give the workspaceid, Then
- It created a default resource group is its not there
- Then creates a defaul

[2019-10-09 12:33] jakaruna-MSFT commented on #40217
I didn't get time today to reproduce this issue. I will check and update you,

@zr-msft Please provide your comments

[2019-10-09 12:34] jakaruna-MSFT commented on #39330
@mitchellalm i will place a doc enhancement request in jenkins

[2019-10-09 12:35] VikasPullagura-MSFT commented on #40404
@aquibqureshi26 Thanks for your feedback. We are looking into this and would get back to you soon on this thread

[2019-10-09 12:36] lukos commented on #39933
@Karishma-Tiwari-MSFT The link was in the Google search results so hopefully that will update now!

[2019-10-09 12:43] isamllr opened #40411 "Could you please clarify the availability of the PowerBI connector for ADLS Gen2?"
Could you please clarify the availability of the PowerBI Connector for ADLS Gen2?

Referring to this page: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Version Independent ID: fc65764c-2

[2019-10-09 12:48] avantida commented on #23292
#winteriscoming

[2019-10-09 12:52] chelhernandez opened #40412 "Query Disconnect/Connect"
This Query works for me:

AzureDiagnostics
| where ResourceId == "<RESOURCE ID UPPERCASE>"
| where Category == "TunnelDiagnosticLog"
| where remoteIP_s == "<REMOTE IP (ON-PREM DEVICE)>"
| where status_s == "Disconnected"
| where TimeGenerated > ago(5m)
| project TimeGenerated, OperationName, instance_s, Resource, ResourceGroup, ResourceId
| sort by TimeGenerated asc

How can I know if the tunnel c

[2019-10-09 12:54] asargsyan7 commented on #30624
The bug is still there and blocks CI/CD stuff.
Is there any news on this?
Or a task/bug related to this on MS where we can track the state of this issue?
Any workaround might also be helpful

[2019-10-09 12:55] carcaryn opened #40413 "Error connecting to emulator console with mongodb support and networking access enabled."
HI everyone!
I've tried to start Emulator with mongodb support and with network access enabled, but when I try to create a new database via console, I get this errror:
Error while creating container documentMetadata:
 {"code":401,"body":{"code":"Unauthorized","message":"The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and c

[2019-10-09 13:01] DeepMalh44 opened #40414 "Network Watcher 2.0"
Hi All,
From what I read about Network Watcher 2.0:-
"_Connection Monitor 2.0 brings together Network Watcher's Connection Monitor and Network Performance Monitor(NPM)'s Service Connectivity Monitor with enhanced user experience and additional capabilities. Customers can now configure both their Azure and non-Azure VMs/hosts for monitoring connectivity to global endpoints from a single console_"

[2019-10-09 13:04] KrishnaG-MSFT commented on #40412
@chelhernandez Thanks for the comment. To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to.

[2019-10-09 13:07] chelhernandez commented on #40412
Hi KrishnaG,

Yes, sure. This is the Azure document link/URL:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-setup-alerts-virtual-network-gateway-log

Thanks.
*Michel Hernández*

On Wed, Oct 9, 2019 at 10:04 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2019-10-09 13:09] jvtroyen commented on #40040
I figured as much.
Thanks for getting back to me.

On Wed, 9 Oct 2019 at 11:03, K N Manoj Reddy <notifications@github.com>
wrote:

[2019-10-09 13:20] porrascarlos802018 opened #40415 "Documentation Doesnt explain how to integrate with load balancer and istio"
Documentation Doesn't explain how to integrate with load balancer and istio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authentication session management with Azure Active Directory Conditional A

[2019-10-09 13:23] luuksommers opened #40416 "Cannot select automatically created Managed Identity Application"
In relation to #34365 we cannot select a managed identity application that is created by Api Management. We don't see this restriction anywhere in the documentation. Are there restrictions in what applications you can select using Express settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-

[2019-10-09 13:34] enadmin commented on #40359
I am experiencing the same issue as @ATummillo.  I've verified the resource providers in the list above are registered in my subscription.  The only one I added was:

 Microsoft.WorkloadMonitor

However, Microsoft.LogAnalytics is not listed at all and running the PS script to list all available AzResourceProvider also did not return that resource provider on our subscription thanks.

We are trying

[2019-10-09 13:35] DCtheGeek commented on #40316
#reassign:DCtheGeek

[2019-10-09 13:38] DCtheGeek commented on #40316
The above information provided by @SwathiDhanwada-MSFT works, but must be run after `Connect-AcAccount` cmdlet, otherwise the profile and `Get-AzContext` have no information.  Once you have the token using the above steps. Then use `Invoke-RestMethod` similar to the below to make the call to the endpoint:

[code]

Note that this is not a secure approach nor the recommended way.  The recommended wa

[2019-10-09 13:38] #40316 closed

[2019-10-09 13:39] nroberts16 commented on #40192
Awesome thanks Bill. FYI I'm actually an MS FTE :)

On Mon, Oct 7, 2019 at 7:49 PM Bill Anderson <notifications@github.com>
wrote:

[2019-10-09 13:42] KrishnaG-MSFT commented on #40412
@chelhernandez Thanks for the quick response. As in your case the evaluation period is expected to be 1 second for the status to change so I don't think this change in the status can be captured currently by design because currently the minimum evaluation period for custom log search based alert is 5 minutes with the minimum frequency of 5 minutes once. For more information regarding evaluation pe

[2019-10-09 13:42] sergaz-msft commented on #40097
Hi @smoms , the default protocol used by IoTEdge is AMQP, but you may want to change that depending on your network setup. Therefore on your proxy you will only need to open the port that your IoTEdge device is using as the upstream protocol.

Fyi: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-protocols

- MQTT - 8883
- AMQP - 5671
- HTTPS - 443

Thanks!

[2019-10-09 13:52] andersonpatricio opened #40417 "In order to use the Effective Network Security Groups , additional permissions are required"
Using just the information currently provided, the user is not able to check the Effective Network Security Groups
                    "Microsoft.Network/networkSecurityGroups/read",
                    "Microsoft.Network/networkInterfaces/effectiveNetworkSecurityGroups/action",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-09 13:53] tfitzmac commented on #38155
@AdamCoulterOz - when defining the [managed application definition](https://docs.microsoft.com/en-us/azure/managed-applications/publish-managed-app-definition-quickstart#create-the-managed-application-definition), you provide a user id and a role. That identity is used for creating the resources in the managed resource group. Creating the managed resource group is a system process and not dependen

[2019-10-09 13:56] Milanski opened #40418 "Outbound IP assignment"
Hi,

In my application I use Application Gateway with public IP and WAF. Therefore I don't need another one.
Is it possible to assign only an outbound IP to the kubernates cluster ? I don't want that IP to be an inbound IP because there is no WAF configured. I updated the AKS with the parameter **load-balancer-outbound-ips** but it seems that the IP is also for inbound traffic and not only for out

[2019-10-09 13:56] sergaz-msft commented on #40097
I read it more carefully and IoT Edge daemon makes intermittent HTTPS calls to IoT Hub. Therefore for *.azure-devices.net you will need to open port 443 and\or (8883 or 5671). If you use AMQP\MQTT over websockets then only port 443 needs to be open.

[2019-10-09 13:57] SABARISHV06 opened #40419 "Do we have any bulk update option?"
# Do we have any bulk update option?

I want to add a new property for all the vertex and need to create a new edge for the vertices, for now I am iterating all the values and updating in foreach loop, which takes huge time. Do we have any alternate approach? Please suggest.

[2019-10-09 13:58] kprpg opened #40420 "Please be consistent in the documentation. Suddenly switching to Linux mode"
For finding the dev space context, suddenly this command is shown.
$ azds show-context
Following the page step by Step, I cannot find how to invoke azds. What is needed to install this command. Does this only work on Linux? How does one get the context in Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0f176f

[2019-10-09 14:00] rwike77 commented on #31409
@alexmarshall132 Apologize for the slow response.  Looks like the Contributor role is set purely for example purposes, as a way to illustrate how to create service principals.  Contributor role is not required for creating a service principal, you should [choose the role](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles) based on your specific application requirements.  I'

[2019-10-09 14:00] PramodValavala-MSFT commented on #40335
@MarkusMeyer13 Thanks for contributing to MS Docs! Your PR will be merged once reviewed.

[2019-10-09 14:00] sergaz-msft commented on #40096
Hi @smoms ,
Looks like that's not optional, though I can't find details on why we need *.blob.core.windows.net . I would expect that mcr.microsoft.com should be enough.

"Container engine makes calls to container registries over HTTPS. To retrieve the IoT Edge runtime container images, the DNS name is mcr.microsoft.com."

@kgremban can we enhance the document with more details on why is it mandato

[2019-10-09 14:12] KrishnaG-MSFT commented on #40199
Assigning content owner @MGoedtel for visibility, help, review and document enhancement considerations.

[2019-10-09 14:17] Bafff commented on #19531
@yzheng-msft where to find your changes?

[2019-10-09 14:25] souravmishra-msft commented on #40236
@Soqotra91, Are referencing to the new MFA/SSPR converged portal as described here? [https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined](url)

[2019-10-09 14:27] sehcheese opened #40421 "Release notes not up to date with current version"
The current version in 2.5.7, but the notes here only go up to 2.4.6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf428d2
* Version Independent ID: 07fd7c5a-0ad5-a7b4-21ef-768f183076aa
* Content: [Azure Cosmos Emulator download and release notes](https://docs.microsoft.com/en-us/azure/co

[2019-10-09 14:29] rajrao opened #40422 "Reply URI is case-senstive"
Why is the Reply URI case-sensitive? and it would be good to add it to this documentation as a restriction.
What we are finding is that we are having to add the many different ways in which the reply uri could be formatted:
https://www.contoso.com/rel
https://www.contoso.com/REL
https://www.contoso.com/Rel

otherwise, if the reply uri uses a different case, it causes the authentication to fail.

-

[2019-10-09 14:40] zr-msft commented on #40381
Thank you @abhirockzz for the feedback and suggestion.

I have add an item to our backlog. We'll prioritize this item based on the rest of the work in our queue.

#please-close

[2019-10-09 14:45] swake457 opened #40423 "Oct 2019 - No option to set "User assignment required" using a Password-based SSO profile."
With an SSO enabled Enterprise Application that will use the Password option (Not SAML or OAuth) there is no option to limit access to the application. The "User assignment required", which is normally seen under Properties, is not there. I tried creating other password-based profiles and the same result is noted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-09 14:50] GiftA-MSFT commented on #40396
@diberry it seems the "complete code samples" link for the C# and Node.js examples are invalid. Can you please update accordingly. Thanks.

[2019-10-09 14:52] isamllr opened #40424 "ADLS Gen2 and Azure Databricks using the Spark connector"
Hi,

could we please get insights by when ADLS Gen2 and Azure Databricks using the Spark Connector will be supported? What are the dependencies?

Referring to https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-datasource

Thanks,
Isa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea45d88b-212b-5

[2019-10-09 14:59] isamllr commented on #28518
Check this post: https://azure.microsoft.com/en-us/blog/silo-busting-2-0-multi-protocol-access-for-azure-data-lake-storage/

[2019-10-09 15:07] GiftA-MSFT commented on #39590
@macamhi you can share feedback and/or vote for feature requests on the [Azure Machine Learning user voice forum](https://feedback.azure.com/forums/257792-machine-learning). Thanks.

[2019-10-09 15:08] asimonrose opened #40425 "Order of tasks a little confusing"
It seems a little odd to add the route to the route table before the network virtual appliance is created.  The IP address of the NVA is required for the route to be created and this document just assumes a defaulted IP address. Perhaps add the route after the NVA is created?  You can then define the route with real values not just defaulted ones.

---
#### Document Details

⚠ *Do not edit this se

[2019-10-09 15:10] antelope511 opened #40426 "Azure Time Series integration"
I would like to see documentation on using Azure Time Series Insights  to analyze this data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6c59af7-16c5-a6c0-7bed-f0d85df22217
* Version Independent ID: 912cdab4-0aac-f55c-736c-5a3ccccd343e
* Content: [Detect data drift (preview) on AKS deployments - Azure Machine Learn

[2019-10-09 15:14] robtextrequest opened #40427 "Remap active DNS between Azure Web Apps"
This page is great if we're remapping an active domain name from a non-Azure resource to an Azure Web App. But how do we achieve zero downtime if we want to remap an active domain from one Azure Web App to another? When I attempt to preemptively add the same custom domain name to a second Azure Web App, I receive an error message of "Hostname is already being used in the following App: [web app na

[2019-10-09 15:15] lensoft opened #40428 "not "ETF" but "EFT""
I assume you mean "EFT" (Electronic Fund Transfer) but not "ETF" around statement of payment supportability in this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e263226e-4621-b3d6-5837-d8da089dce75
* Version Independent ID: 423bb68b-3524-64a8-61e1-b02825c34681
* Content: [Frequently asked questions - Azure Dedic

[2019-10-09 15:18] SamaraSoucy-MSFT commented on #37711
@spelluru is the author for this doc and is assigned the thread. I must have closed this one on accident yesterday when clearing out some old threads. :)

[2019-10-09 15:20] antelope511 opened #40429 "Integrate with Azure Machine Learning"
Azure Machine Learning collects data going into the machine learning inferencing service. An important application of this is to analyze how this collected data is changing over time, because when there are significant changes it is time to retrain the model. I would like to see documentation on how Time Series Insights can be leveraged for this purpose.

---
#### Document Details

⚠ *Do not edit

[2019-10-09 15:21] samaea opened #40430 "Log Analytics Egress Costs"
Can you provide some recommendation for avoiding any egress charges for sending data to log analytics service in different region, and is this performed on a region (e.g. Europe) or sub-region level (e.g. West Europe, North Europe, etc).

This article indicates the egress is on a "region" level (e.g. Europe) not a sub-region level (e.g. Europe covers West Europe, North Europe, etc):- https://techc

[2019-10-09 15:22] samaea commented on #40430
@mentioning Engineering @DaleKoetke or @MGoedtel for further comments/confirmation.

[2019-10-09 15:28] aleazofeifam opened #40431 "Network Requirements?"
Can you explain if there are any network requirements for the firewall team? Which are the IPs or the range of IPs that need to be whitelist?
Couldn't find the article that talks about it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18640c6c-b52c-84e3-59d8-90f2a663cc6b
* Version Independent ID: 77b249dc-4440-0334-31d

[2019-10-09 15:30] KrishnaG-MSFT commented on #40430
@samaea Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.
@MGoedtel FYI. Please provide your insights as requested by @samaea

[2019-10-09 15:31] zr-msft commented on #40390
thank you for the feedback @adusumillipraveen

I have added an item to our backlog. We'll prioritize this item based on the rest of the work in our queue.

#please-close

[2019-10-09 15:31] #40390 closed

[2019-10-09 15:31] mustafamg commented on #40249
TrustFrameworkBase
[code]
the extension file
[code]

[2019-10-09 15:32] #40027 closed

[2019-10-09 15:45] BharathNimmala-MSFT commented on #40420
@kprpg Thank you for your question , we will further investigate on this and get back to you shortly.

[2019-10-09 15:49] msrini-MSFT commented on #40425
@asimonrose , When you have a NVA scenario, you will have the Infra planned before implementing it. In that case all NVAs are recommended to have a Static Private IP to make sure the IP doesn't change when NVAs reboot or de-allocated and allocated again.

Since you are going to use static IP, you can use it in the Route table in advance.

Let me know if you have any further questions.

[2019-10-09 15:59] MicahMcKittrick-MSFT commented on #40368
Fixed! Once the PR merges the changes will go live after a few hours.

[2019-10-09 15:59] #40368 closed

[2019-10-09 16:00] GiftA-MSFT commented on #40354
@rwaller can you please update the document to refer to Azure PowerShell for each code block, and update/remove the "Try It" link for better user experience? Thanks.

[2019-10-09 16:05] alindgren opened #40432 "CreateServiceRemotingListener is deprecated"
Under "Set up remoting on a service" there is a reference to CreateServiceRemotingListener  but according to https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.runtime.serviceremotingextensions.createserviceremotinglistener?view=azure-dotnet that is deprecated in favor of CreateServiceRemotingInstanceListeners.

---
#### Document Details

⚠ *Do not edit this sect

[2019-10-09 16:07] JasonWHowell commented on #40394
Might be a typo, but is it ISO not IOS?  ISO 8859-7

[2019-10-09 16:14] MicahMcKittrick-MSFT commented on #40432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 16:15] jtuliani opened #40433 "More detail needed on permissions"
The section on required permissions doesn't make clear what scope those permissions are needed at.
For example, when moving a subscription between MGs, do I need permission on the subscription, the source MG, or the destination MG? Or some combination? Thanks for listening.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-10-09 16:18] GiftA-MSFT commented on #40355
@brandonh-msft thanks again for your feedback. I'll proceed to close this thread because the same issue has been raised in [another thread](https://github.com/MicrosoftDocs/azure-docs/issues/40354), and we're currently working on resolving this issue. Thanks.

[2019-10-09 16:18] #40355 closed

[2019-10-09 16:28] chelhernandez commented on #40412
Hi KrishnaG

Thank you for the quick response. I mean I would like the feature as
requested in the link that you sent me. It would be great to have that
feature soon.

*Michel Hernández*

On Wed, Oct 9, 2019 at 10:43 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2019-10-09 16:35] cynthn commented on #36061
There are 2 fault domains, per region, for the China regions. I've updated the doc and it should be live later today.

Thank you!

#please-close

[2019-10-09 16:35] #36061 closed

[2019-10-09 16:37] cephalin commented on #40150
@DashleenBhandari-MSFT @gavinbarron already made the changes and it's merged. #please-close

[2019-10-09 16:37] #40150 closed

[2019-10-09 16:38] MicahMcKittrick-MSFT commented on #40300
@mlearned @MicrosoftDocs/aks-pm can anyone confirm if this is a doc issue or a bug? If doc, I can update no problem.

[2019-10-09 16:40] MicahMcKittrick-MSFT commented on #40432
@alindgren thanks for the find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-10-09 16:40] #40432 closed

[2019-10-09 16:43] MicahMcKittrick-MSFT commented on #40384
@imabedalghafer I like it :) Would you like to create a PR against the doc that we can approve so you get credit? Else I can make the change for you.

[2019-10-09 16:46] msrini-MSFT commented on #40307
@theheatDK , No additional cost – it is included in Azure Firewall pricing.

Let me know if you have any further questions.

[2019-10-09 16:47] MGoedtel commented on #40430
Looping in @DaleKoetke from the PG to respond to this question due as it's not clear when reading the bandwidth pricing page if there is an outbound charge between sub-regions as if there would be between regions.

[2019-10-09 16:53] imabedalghafer commented on #40384
@MicahMcKittrick-MSFT  Would you please guide me how to submit a PR ? and BTW, what is PR ?

[2019-10-09 16:57] MicahMcKittrick-MSFT commented on #40384
Here is the link to our doc contributor guide

https://docs.microsoft.com/en-us/contribute/

PR = Pull Request

[2019-10-09 16:58] mike-urnun-msft commented on #40406
@richardcox13 Thank you for your feedback! We will review and update as appropriate.

[2019-10-09 17:00] vishiy commented on #40298
@stefanrothnet - thanks for feedback. we will fix the doc soon. @MGoedtel

[2019-10-09 17:04] MGoedtel commented on #40298
@stefanrothnet & @vishiy - Already started working on this yesterday after realizing the details/steps related to this aren't clear enough based on Stefan's response.  #in-progress

[2019-10-09 17:05] MarileeTurscak-MSFT commented on #40428
@lensoft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-09 17:05] nezoic opened #40434 "What am I missing with ssh_key"
variable "public_ssh_key_path" {
  description = "Public key path for SSH."
  default     = "~/.ssh/id_rsa.pub"
}

Is this code supposed to generate this ssh key? Or is this something we create an store somewhere? If so where do we store it and how?

I get the following error that says it cannot be found. Please include instructions on generating and storing this to work with this code.
  | var.pu

[2019-10-09 17:06] theheatDK commented on #40307
Thanks @msrini-MSFT.

Maybe a good idea to write a note about this on the pricing page. Is that possible? :-)

 https://azure.microsoft.com/en-us/pricing/details/azure-firewall/

Regards Peter

[2019-10-09 17:09] msrini-MSFT commented on #40307
@theheatDK , once the feature is GA, documentation will be updated.

[2019-10-09 17:09] MarileeTurscak-MSFT commented on #40422
@rajrao
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-09 17:10] theheatDK commented on #40307
Thanks @msrini-MSFT

[2019-10-09 17:10] #40307 closed

[2019-10-09 17:13] MGoedtel commented on #40199
@danmyhre - Thanks for bringing this to our attention.  The agent was previously referred to as the "OMS agent" and this article is stale as we've missed updating that to reflect our renaming of the agent in docs to be consistent and align with the transition from OMS to AzMon.  Same with the free pricing plan that has been replace by "pay as you go".  Will bug this article and update as soon as w

[2019-10-09 17:14] MarileeTurscak-MSFT commented on #40422
I agree that this could be noted here. It is noted in other places, like the B2C reply url guidelines, but not here.

I will make a pull request to add this.

[2019-10-09 17:15] imabedalghafer commented on #40384
@MicahMcKittrick-MSFT  Thank you for the help.
I have submitted the pull request and content change on this file
https://github.com/Azure/azure-docs-powershell-samples/blob/master/virtual-machine/copy-managed-disks-vhd-to-storage-account/copy-managed-disks-vhd-to-storage-account.ps1

as it is the one loaded in the docs as per my understanding.
please let me know if this is fine .

[2019-10-09 17:17] Mike-Ubezzi-MSFT commented on #40421
@sehcheese Thank you for bringing this to our attention. I am going to have the content owner review and we will have the release notes updated as appropriate.

[2019-10-09 17:17] MarileeTurscak-MSFT commented on #40422
I made a pull request to include the restrictions note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91109

[2019-10-09 17:17] #40422 closed

[2019-10-09 17:23] KrishnaG-MSFT commented on #40412
@chelhernandez I understand but sorry to inform you that the release of a feature (or feature request in UserVoice / feedback forum) by responsible Product team is generally based on various parameters like feasibility, priority, votes it receives, etc. That's the reason for suggesting to provide an vote so that it may help to prioritize the feature request.

[2019-10-09 17:24] Mike-Ubezzi-MSFT commented on #40421
@markjbrown If there is an update you would like me to make, please detail the update to be made and I can perform a PR. @SnehaGunda for awareness.

[2019-10-09 17:27] TheRobinCM opened #40435 "PowerShell Az cmdlets?"
Can this page also include the equivalent PowerShell Az module cmdlets? I'm assuming there are equivalents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6034e25f-4b16-66ce-eb44-305000dbd625
* Version Independent ID: e4a5dcbc-a3a5-4439-bd69-de4a6111d355
* Content: [Upload or copy a custom Linux VM with Azure CLI](http

[2019-10-09 17:27] chelhernandez commented on #40412
Ok, thank you for the clarification. I will give a vote for that feature.

Have a great day.

On Wed, Oct 9, 2019, 2:23 PM KrishnaG-MSFT <notifications@github.com> wrote:

[2019-10-09 17:30] KrishnaG-MSFT commented on #40412
@chelhernandez you too. 👍
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-10-09 17:30] #40412 closed

[2019-10-09 17:33] memildin commented on #40182
@neeleshray-msft I'm investigating the multiple questions you asked and will respond on this thread when I have answers. Thanks!

[2019-10-09 17:35] memildin commented on #39753
@neeleshray-msft Thanks for the update. It'll be added to the backlog and updated shortly.

[2019-10-09 17:37] KranthiPakala-MSFT commented on #36810
@patrickgalbraith We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-10-09 17:37] #36810 closed

[2019-10-09 17:39] kgremban commented on #35413
@PatricioVidal The changes have gone live in the article now. Please take a look and close this issue if you think it's resolved, or let me know if you think there's more improvements to be made. Thanks again!

[2019-10-09 17:40] MarekLani commented on #27313
Hello @smoms @sergaz-msft I am revisiting this as I finally got time to go thru LoRa wan project. I realized, that messages are sent to IoT Hub directly from the LoraWan server module. I need identity translation to happen in a way, that I am capable to utilize edge hub, and send the messages up to the IoT Hub without creating direct DeviceClient connection to IoT Hub in the module. Please this do

[2019-10-09 17:40] MGoedtel commented on #40218
As of right now the article is up-to-date regarding the versions of SQL it supports.  I've reached out to the PG to re-verify if they plan on supporting newer versions of SQL and if it does, I will update this article to reflect such.  Because this isn't a doc issue, I'm going to close the issue #please-close.

[2019-10-09 17:40] #40218 closed

[2019-10-09 17:42] #40232 closed

[2019-10-09 17:49] Karishma-Tiwari-MSFT commented on #40435
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 17:49] taromielnaz commented on #40129
Unfortunately, Microsft makes it more difficult instead of easy solutions.

[2019-10-09 17:50] BryanTrach-MSFT commented on #40427
@robtextrequest Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 17:51] BryanTrach-MSFT commented on #40401
@nitishr06 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 17:52] MicahMcKittrick-MSFT commented on #40384
@imabedalghafer great! Can you @ me in the Pull request?

[2019-10-09 17:53] MicahMcKittrick-MSFT commented on #40384
Ah never mind. I found it. I will close this issue and the authors and I will review the PR. Thanks :)

[2019-10-09 17:53] #40384 closed

[2019-10-09 17:54] BryanTrach-MSFT commented on #40416
@luuksommers Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 17:59] kgremban commented on #40096
Hi @smoms, the connection to blob storage is a requirement from Azure Container Registry, which stores the image layers in blob storage. You can read more about their firewall rules in their documentation, if you need more information about the connections that are made: https://docs.microsoft.com/azure/container-registry/container-registry-firewall-access-rules. I can add a pointer to this page f

[2019-10-09 18:02] cynthn commented on #40435
There is a Windows example that uses PowerShell here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/upload-generalized-managed#get-a-storage-account it is the same basic process for Linux, except that generalizing the VM is a different process. Also, when you create the image, the -osType is Linux.

[2019-10-09 18:24] JasSuri commented on #40249
Take the starter pack, and create a user journey like this for sign up only:
[code]

[2019-10-09 18:26] malopMSFT commented on #39984
The following article has the DNS configuration required
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#dns-configuration

There's certain steps required to enable the DNS resolution from private network, I'm assuming a step is missing like linking the Zone to the Vnet or resolving using the Azure DNS

[2019-10-09 18:32] woodrum opened #40438 "Documentation missing for autoprotect"
In the autoprotection section, it references a variable $targetpolicy, which isn't defined anywhere in the article.  You must first define that via $targetpolicy = Get-AzRecoveryServicesBackupProtectionPolicy -VaultID $vault.id -Name &lt;Name of Policy previously created&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-10-09 18:32] himanshusinha-msft commented on #40394
@test123114 Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN , SO and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an

[2019-10-09 18:40] MarileeTurscak-MSFT commented on #40428
Since this is referring to HSM I believe you are correct. I made a pull request to change them. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91129

[2019-10-09 18:40] #40428 closed

[2019-10-09 18:41] qianw211 commented on #40391
Thanks for your feedback.  I have updated the docs with the link to partner center.

#please-close

[2019-10-09 18:41] #40391 closed

[2019-10-09 18:42] MForMarlon opened #40440 "Not seeing the scaffolded site after deploying to Azure"
I followed the instructions step by step, and I am still seeing the default "Hey, Node developers!" page after deploying to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e28-471b-2cf4-3eb8-6249b4ef3016
* Version Independent ID: f199d3a2-0c11-e2d6-18f0-d081c76d511d
* Content: [Create a Node.js web app - Azu

[2019-10-09 18:51] mamccrea commented on #39988
@algattik - yes you are correct. this does not apply to Event Hubs. I will update the doc!

[2019-10-09 18:53] AjayKumar-MSFT commented on #40148
@rogersass, Thanks again for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please let me know and we will gladly continue the discussion. I have also shared your feedback with the product team and content author (@ccompy) for review.

[2019-10-09 18:53] #40148 closed

[2019-10-09 18:55] ecfan commented on #39710
@jakevis & @mike-urnun-msft: After investigating, engineering says the IP list is currently correct and will be updated pending future changes.

@mike-urnun-msft: #please-close

[2019-10-09 18:55] #39710 closed

[2019-10-09 18:58] anavinahar opened #40441 "Incorrect Public IP info"
The title of the doc is resources not limited to the 800 instance limit, but then it says public IP is limited by it. Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17ead46c-f677-88c8-6235-b964adb3bd55
* Version Independent ID: f2bce53f-e1b9-a1e1-6b50-d1cb70bdbe1a
* Content: [Azure resources without 800 cou

[2019-10-09 19:00] Alberto-Vega-MSFT commented on #39948
@bkocis Free account should not be an issue

[2019-10-09 19:00] RyanHill-MSFT commented on #40098
Hi @Rachitgupta1994 I used https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started as a guideline. I will say I'm not sure what other references your project has but after creating a new .net framework webjobs project, here's what I did.

My netfx project started out looking like this:
[code]
I unloaded the project and modified the csproj to
[code]
I then modified `Program.cs` a

[2019-10-09 19:01] kgremban commented on #39958
Status update for this issue. We've identified that the root cause isn't the version of Python running on your machine. It's a result of recent IoT Python SDK updates that aren't reflected in the default Python module templates. We're working on the correct solution now.

[2019-10-09 19:13] SamaraSoucy-MSFT commented on #40420
@kprpg did you run the command `az aks use-dev-spaces -g MyResourceGroup -n MyAKS --space dev --yes` as listed in the quickstart? As noted, the `use-dev-spaces` command will also install the Azure Dev Spaces CLI if its not already installed. This should allow you to use Dev Spaces CLI commands which start with `azds`.

[2019-10-09 19:15] cawrites commented on #34203
@CeciAc This is to advise you that the new updated link should be appearing in the doc. Thank you for advising us of this issue.

[2019-10-09 19:20] jgwinner commented on #39759
That doesn't help, you're just throwing the book at me.

Please read what I wrote.

I shouldn't have to go through all this crap when my setup, and my TWO OTHER CLIENTS are very simple. Everyone has an email address, it matches the OnPrem AD 100%.

Yet, there's all these extra "OnMicrosoft.com" addresses that screw up the system.

Can you address this? You have a bug in the basic process; it's eas

[2019-10-09 19:21] MarileeTurscak-MSFT commented on #40415
@porrascarlos802018  there are some other documents that touch on this, but I'm passing your feedback along to the content author as a doc request.

[2019-10-09 19:24] jgwinner commented on #39759
I'd like to make a specific comment on this part:

**There aren't any DUPLICATE users.** There's only the user we are _trying to match._

It's very simple. My email address is "Me@corp.com" on my AD, and on my O365.

That's not a duplicate, it's the ID that is supposed to match and update the passwords for SSO.

Yet it won't because of the "onmicrosoft.com" address.

My client is emailing me "Sync

[2019-10-09 19:25] GiftA-MSFT commented on #40426
@antelope511 thank you for your feedback. Please feel free to provide this feature request on the [Azure Machine Learning](https://feedback.azure.com/forums/257792-machine-learning) user voice forum. Please let me know if you have further questions, otherwise, we'll proceed to close this thread. Thanks.

[2019-10-09 19:29] KurtSmith commented on #34451
This probably shouldn't have been closed because I ran into this exact same issue.  PORT works, WEBSITES_PORT is not recognized.

[2019-10-09 19:43] MicahMcKittrick-MSFT commented on #40399
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 19:44] asimonrose commented on #40425
In practical terms, your response is accurate because I would then understand how things should be and plan for that, but when trying to work through an example to understand how to get things working, I suggest that the ordering of the page is not helpful, surely that is the point of feedback?

Simon Rose
simon_rose@mac.com

[2019-10-09 19:46] josiahlaivins commented on #39607
I thought I sent my reply here, must have not saved.

@arduppal and  @Alberto-Vega-MSFT
I updated the string being passed in I have 2 modules **Primary** and **imageuploader** on the same device.

After some fixes, they are communicating now. However any actual blob / container commands fail.

**Primary**
[code]
_Output on execution_
[code]

**imageuploader** (json)
[code]
_Output in reaction to P

[2019-10-09 19:50] smoms commented on #40096
@kgremban @sergaz-msft thanks. @kgremban in case I use Docker as registry of app modules, do i still need that firewall rule (*.blob.core.windows.net 443) for the Edge runtime image? tks

[2019-10-09 19:56] GreggRevak opened #40443 "Document needs more detail"
The document needs more detail to explain the following:
1) is the downloaded list all users, or is it only the users shown in the filtered view in effect at the time?
2) what information is included in the download? Include a list of the attributes that are exported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7800

[2019-10-09 19:57] SnehaGunda commented on #40366
As Kalyan mentioned above, the data is divided into batches based on the partition key ranges, more about it is here: https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-overview#how-does-the-bulk-executor-operate

[2019-10-09 19:58] dcurwin commented on #40382
#reassign:sogup

[2019-10-09 19:59] dcurwin commented on #40382
#assign:sogup

[2019-10-09 20:00] dcurwin commented on #40382
@sogup - can you please respond?

[2019-10-09 20:06] MicahMcKittrick-MSFT commented on #40399
@Boombasteg the tasks will only show up once they have ran once. If you don't have both tasks run then they will show blank both in CLI and the portal. I tested this and here is my commands/ outputs:

[code]

![image](https://user-images.githubusercontent.com/32313503/66515978-edf7a500-ea94-11e9-9b47-4f95127c8082.png)

I also checked using az acr task list-runs --registry micahacr --output table

[2019-10-09 20:21] PatricioVidal commented on #35413
It looks good. Thanks!

[2019-10-09 20:21] #35413 closed

[2019-10-09 20:26] SnehaGunda commented on #40421
Yes, the 2.5.7 version was also released @milismsft will be updating the release notes in the next few days.

[2019-10-09 20:31] CelesteDG commented on #39221
Hello @abhidnya13 and @navyasric - Do we have a timeline/additional info that we can share on this thread to address the GitHub feedback? Thank you.

[2019-10-09 20:40] markjbrown commented on #40209
@JasonWHowell  doesn't look like reassign is working.

[2019-10-09 20:41] #40335 closed

[2019-10-09 20:41] Adam-Smith-MSFT commented on #40403
@jjindrich Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-09 20:43] MicahMcKittrick-MSFT commented on #40441
@anavinahar the correct limit for public ip addresses is 1000. That being said, Not sure if it makes sense to adjust the doc for an extra 200.

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#publicip-address

@tfitzmac thoughts?

[2019-10-09 20:43] MatthewSteeples opened #40446 "Notification of Preemption"
https://azure.microsoft.com/en-us/blog/low-priority-scale-sets/ - this states (at the bottom) that you will be able to be notified before a VM in a scale set is preempted. Is there a similar process for Batch? 30 seconds would be enough time for our task to checkpoint where it's got to so it can be picked up elsewhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-09 20:46] RyanHill-MSFT commented on #40048
.NET Core 3.0 is not GA. Have you tried re-installing the SDK from the Visual Studio Installer? `dotnet-ef` is available by default.

![image](https://user-images.githubusercontent.com/47189704/66518912-438f7a00-eab4-11e9-9117-33c32aa34dc6.png)

[2019-10-09 20:51] SnehaGunda commented on #40209
#reassign: @deborahc

[2019-10-09 20:51] tfitzmac commented on #40441
I think the existing note is too vague. I will clarify it.

[2019-10-09 20:53] SnehaGunda commented on #40209
It's supposed to work, Just checking if space makes any difference. I will sync with Deborah on this.

@KalyanChanumolu-MSFT  can you manually reassign the issue.

[2019-10-09 20:53] kgremban commented on #39660
Thanks, @SychevIgor. I'll create a pull request to update any outdated references to preview. Since this is a straightforward fix, I'll have github automatically close the issue once my pull request is merged. If you have any further concerns or comments, post here again and we'll reopen the issue.

[2019-10-09 20:55] fly-high-bj opened #40447 "server admin does not have CONTROL permission to create MASTER key"
The tutorial gives the link to another doc to create the master DB master key. Yet it seems that
 accessing server with the server admin configured when the server was created, the server admin does not have permission to create the key and it doesn't have grant permission to grant CONTROL permission to any users. Anybody is seeing this? Is the master key needed for this tutorial?

---
#### Docume

[2019-10-09 20:56] wshamroukh commented on #39984
In all Azure Private Link documentation, they are asking us to create a zone with FQDN **privatelink.database.windows.net**, so when adding an A record in this zone for the azure service, the FQDN of the azure service will be **myserver.privatelink.database.windows.net**
So when you try to resolve as instructed by the documentation to resolve the FQDN **myserver.database.windows.net** , we won't g

[2019-10-09 21:04] RyanHill-MSFT commented on #40440
@MForMarlon is your startup command set to `npm start` on your app service?

![image](https://user-images.githubusercontent.com/47189704/66520285-ddf0bd00-eab6-11e9-9e43-b1c5b2260a69.png)

[2019-10-09 21:12] MForMarlon commented on #40440
@RyanHill-MSFT Hi Ryan, that field is currently blank. I will try adding that to the field and see what happens.

[2019-10-09 21:21] mgfink commented on #16691
We also are having issues with an app that uses TrafficManager for DNS LB, Azure App Gateway, App Service and client cert auth.

@JohnDelisle were you getting 502 responses?

[2019-10-09 21:29] chadsowald opened #40451 "Include info about importing certs from KeyVault"
Please include info about importing certs from KeyVault and also about how auto-renewal / sync works with that.  e.g. if a cert is renewed and there is a new version of the cert in a KeyVault, how long will it take the app service to sync and automatically start using the renewed cert (same subject name, different thumbprint).  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-09 21:31] TravisCragg-MSFT commented on #40417
@andersonpatricio Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-09 21:32] shashishailaj commented on #40038
@curtand Could you please look into this issue and share your thoughts on this.

[2019-10-09 21:36] femsulu commented on #40438
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-09 21:47] klogan12 opened #40452 "Front door changes the letter case of header"
Front door changes the letter case of header when redirection is configured.

Eg: Header Accept gets converted to accept.

[2019-10-09 21:47] TravisCragg-MSFT commented on #40407
@theheatDK That is correct. You will need two redundant 100 Gbps connections for availability, for a total of 200 Gbps.

[2019-10-09 21:50] kaevans commented on #36325
https://blogs.msdn.microsoft.com/kaevans/2013/05/23/sharepoint-2013-user-profile-sync-for-claims-users/, though that link may not live long as the blog is targeted to be decommissioned.

[2019-10-09 21:57] jakevis commented on #39710
For anyone finding this in the future, we were seeing Mail originating from flow out of IP space 20.190.128.0/18. This seems to be related to Flows use of the new graph APIs.

https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges#microsoft-365-common-and-office-online

[2019-10-09 21:58] rayluo commented on #39221
This issue was reported 20 days ago (which was days after our docs came live), but our actual sample repo only merged its first implementation PR at 15 days ago. Now we already [released that sample](https://github.com/Azure-Samples/ms-identity-python-webapp/releases), so this issue is now solved.

We may want to address the root cause of "docs being published BEFORE that sample", by adding such a

[2019-10-09 22:04] CelesteDG commented on #39221
Thank you, @rayluo

Per dev input, issue is resolved. #please-close

[2019-10-09 22:04] #39221 closed

[2019-10-09 22:05] GiftA-MSFT commented on #40354
For your information @ArchieCoder and @brandonh-msft, you can type **pwsh** in the command line and it'll switch to powershell model. However, the document will be updated soon for clarity. Thanks.

[2019-10-09 22:08] SnehaGunda commented on #40211
@simonvane Thanks for pointing out, yes you are right only inserts, updates/upserts are logged in the change feed. Delete operations aren't logged and of course Read operations won't be because they aren't modifying the data in the container.

I submitted a fix to update the doc.

We will close this issue if there aren't further questions.

#please-close

[2019-10-09 22:08] #40211 closed

[2019-10-09 22:11] MForMarlon commented on #40440
@RyanHill-MSFT Now I'm getting the Application Error sad face page.

[2019-10-09 22:13] MicahMcKittrick-MSFT commented on #40446
That is correct. You can configure metrics to alert you. Batch runs on Virtual Machine Scale Sets so essentially the functionality is the same however Batch is the wrapper.

https://docs.microsoft.com/en-us/azure/batch/batch-low-pri-vms#metrics

[2019-10-09 22:13] MicahMcKittrick-MSFT commented on #40441
Sounds good. Thanks!

[2019-10-09 22:14] MicahMcKittrick-MSFT commented on #40441
@anavinahar I will go ahead and close this and @tfitzmac will update the doc. Once the PR he submits merges the changes go live after a few hours.

[2019-10-09 22:14] #40441 closed

[2019-10-09 22:15] MarileeTurscak-MSFT commented on #40405
@Laho19
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-09 22:16] Alberto-Vega-MSFT commented on #39948
@bkocis I was not able to reproduce the issue. This will require some deeper analysis. Please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

I will be closing this for now.

[2019-10-09 22:16] #39948 closed

[2019-10-09 22:17] MicahMcKittrick-MSFT commented on #40434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-09 22:26] MForMarlon commented on #40440
@RyanHill-MSFT Confirming `npm install && npm start` loads the scaffolded app. 🎉

Now I guess the docs need to be updated to include this extra step.

[2019-10-09 22:42] Alberto-Vega-MSFT commented on #40000
If you open a feedback entry please post it here for others to upvote. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-09 22:42] #40000 closed

[2019-10-09 22:42] tchristiani commented on #21276
@YutongTie-MSFT This is not a doc enhancement issue. This is a product issue. Will you please adjust the labels?

[2019-10-09 22:44] Alberto-Vega-MSFT commented on #40094
@interfacemirror Thanks for the feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-09 22:44] #40094 closed

[2019-10-09 22:44] TravisCragg-MSFT commented on #40118
@Sethu2488 Unfortunately I can only comment on the intrusion detection inside of an Azure Virtual Network, I am not familiar with the security around an Azure Web App. Your best bet will be to ask that question in the [Azure Web Apps MSDN Forum.](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview&filter=alltypes&sort=lastpostdesc)

[2019-10-09 22:47] MicahMcKittrick-MSFT commented on #40434
@nezoic at which point in the doc are you getting this error? What command from the doc give you this error? I am following the doc in Cloud Shell but getting no such error.

[2019-10-09 22:48] SnehaGunda commented on #39542
@shaungl Thank for reaching out, this doc was contributed by an MVP, so I don't have much context about it. I have sent an email to them asking for the data.

[2019-10-09 22:49] MGoedtel commented on #40298
@stefanrothnet - I've just completed a set of updates to this section after sitting down with engineering to validate the corrections.  They should help clarify what changes are applied where with regards to Prometheus metric scraping.  Other minor changes included during this edit so it should go live tomorrow.  #please-close

[2019-10-09 22:49] #40298 closed

[2019-10-09 22:53] nezoic commented on #40434
I'm not doing this from cloudshell. I was just looking for guidance on a
real world scenario like in DevOps. I found a work around to generate the
day key with Terraform.

On Wed, Oct 9, 2019, 5:47 PM Micah <notifications@github.com> wrote:

[2019-10-09 22:56] MicahMcKittrick-MSFT commented on #40434
Regardless, you can run the document on local instances of CLI. Still confused on where in the doc you get this error. Or you are just trying to export the key since you're doing it a bit differently right?

[2019-10-09 23:06] MarileeTurscak-MSFT commented on #40443
@GreggRevak
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-09 23:08] tchristiani commented on #38593
This was added to the backlog.
#please-close

[2019-10-09 23:08] #38593 closed

[2019-10-09 23:11] Karishma-Tiwari-MSFT commented on #39430
Is there any update?

[2019-10-09 23:13] MarileeTurscak-MSFT commented on #40443
Hi @GreggRevak ,

I am creating a pull request to add this information. You're also welcome to test yourself to see what it exports.

It does export the _filtered_ list of users, as well as the common and relevant user attributes.

userPrincipalName
displayName
surname
mail
givenName
objectId
userType
jobTitle
department
manager
accountEnabled
usageLocation
streetAddress
state
country
physicalDeli

[2019-10-09 23:14] srinadhayarram opened #40454 "Azure Cost mangement query returning only 1000 rows per subscription"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-09 23:21] nezoic commented on #40434
It's when I do a Terraform apply. It looks for that file at the path and
finds nothing.

On Wed, Oct 9, 2019, 5:56 PM Micah <notifications@github.com> wrote:

[2019-10-09 23:23] brandonh-msft commented on #40354
Good deal. I filed this over on Cloud Shell's uservoice.

![image](https://user-images.githubusercontent.com/20270743/66527449-17bec500-eab1-11e9-8ba3-2040d127fe54.png)

It's currently awaiting moderator approval but would also go a long way to solving this issue.

[2019-10-09 23:28] SaurabhSharma-MSFT commented on #40138
@pauldj54 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-09 23:28] #40138 closed

[2019-10-09 23:29] MarileeTurscak-MSFT commented on #40443
I created a pull request to add this information. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91192

[2019-10-09 23:29] #40443 closed

[2019-10-09 23:32] Adam-Smith-MSFT commented on #40411
@isamllr Thank you for the valuable feedback,we are investigating the issue.

[2019-10-09 23:42] dcbrown16 opened #40456 "Windows 32 bit"
The list of Windows OSes in the FAQ specifies that they are all 64-bit (implying 32-bit Windows is not supported).
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#what-operating-systems-are-supported-for-backup

This doc doesn't mention 32-bit, except under the Linux heading. Please add a note about 32/64 bit to the Windows OS section.

---
#### Document Details

⚠ *Do not ed

[2019-10-09 23:46] diberry commented on #39677
@chrismade - Thank you for letting us know. This is on backlog.

[2019-10-09 23:47] SnehaGunda commented on #40268
@Mortana89 adding to Rama's explanation with some examples

Firstly, there are two different concepts:

Concept1:  “Each new container in database level shared throughput will require 100 RU/s” - 100 RU/s are required irrespective of the number of containers i.e 26 containers will need 2600 Ru/s

Which is different from

Concept2: “How containers are partitioned to access the throughput”.  - Theis

[2019-10-09 23:51] FrankHu-MSFT commented on #40320
Hey @rmaziarka doesn't the other migration article describe the scenario that you're trying to accomplish? https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-b2c-user-migration

[2019-10-09 23:52] TravisCragg-MSFT commented on #40410
@theheatDK The differences are outlines in [This Section](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-erdirect-about#expressroute-using-a-service-provider-and-expressroute-direct). ExpressRoute direct does not go through a service provider. It requires direct physical infrastructure to the edge location.

[2019-10-09 23:53] SnehaGunda commented on #37251
@PaulD11 @ltwlf Thanks for the discussion and trying out the docs. I had a chat with @prashanthmadi today about this issue.

The existing sample is outdated, however it should work after we release MongoDB API compatible with MongoDB3.6 version. The partition key isn't mandatory to create a collection with the 3.6 version. This version will be released in a few weeks, we already have doc updates i

[2019-10-09 23:53] #37251 closed

[2019-10-09 23:55] FrankHu-MSFT commented on #40328
Hey @DeanGross the conditional access is dependent per software. i.e. the conditional access for sharepoint or powerbi will be dependent on the policies applied to those services and user accounts.

If you're referring to teams shifts : https://office365itpros.com/2019/01/16/teams-frontline-workers-aka-shifts/ This is dependent on the Teams CA policies because it is a teams bots app.

The same goe

[2019-10-09 23:56] FrankHu-MSFT commented on #40431
@aleazofeifam Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-09 23:56] FrankHu-MSFT commented on #40423
@swake457 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-09 23:56] Karishma-Tiwari-MSFT commented on #40238
This feature is currently in Preview, so it has some limitations. I dont think it is possible to achieve as of now.
@jluk @mlearned Can you please share your inputs on this? Thanks. :)

[2019-10-09 23:56] MarileeTurscak-MSFT commented on #40303
I have reached out to the product team to confirm what happens in that scenario.

[2019-10-09 23:57] FrankHu-MSFT commented on #40431
Hey @aleazofeifam this information should be findable on the troubleshooting doc.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-passwords-troubleshoot#confirm-network-connectivity

Can you confirm if this answers your question?

[2019-10-09 23:58] FrankHu-MSFT commented on #40431
@aleazofeifam Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-10 00:03] FrankHu-MSFT commented on #40423
Hello @swake457 I still see this in my properties setting. What sort of licensing do you have for your AAD?

[2019-10-10 00:04] aahill commented on #35028
Unfortunately I haven't been able to find an alternative for PHP. But I'll pass this feedback on to the product team. #please-close

[2019-10-10 00:04] #35028 closed

[2019-10-10 00:06] Karishma-Tiwari-MSFT commented on #40271
@roygara Can you please share your insights on this? Thanks :)

[2019-10-10 00:09] CelesteDG commented on #36402
Flagging @rwike77 and @TylerMSFT - Please see the comment from bspender and let's get this info in the doc. Can add a dedicate troubleshooting article (work with PMs) to our backlog. Thank you.

[2019-10-10 00:10] MarileeTurscak-MSFT commented on #40196
Feel free to shoot me an email at AzCommunity@microsoft.com if you would like to troubleshoot this together.

[2019-10-10 00:14] MarileeTurscak-MSFT commented on #40408
@mmajcica can you please list the document you are referencing so that we can better assist?

[2019-10-10 00:17] lilixu-ny opened #40457 "Should cover Using Kestrel for HTTPS dynamic port"
"To use dynamic port assignment with Kestrel, omit the Endpoint configuration in ServiceManifest.xml entirely, and don't pass an endpoint name to the KestrelCommunicationListener constructor, as follows:"

For HTTPS it should be having the Endpoint configuration with HTTPS protocol without port specified in ServiceManifest.xml and pass the endpoint name to KestrelCommunicationListener constructor.

[2019-10-10 00:18] robsonaaron opened #40458 "Sign-in error code 53009"
Don't get a failure reason, though I assume its due to the app not being protected by application protection policies, which triggered a CA policy to block access.
Couldn't see the error code in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b

[2019-10-10 00:19] jluk commented on #40238
Azure PowerShell support is not there today, but is in the works FYI @palma21

[2019-10-10 00:19] MarileeTurscak-MSFT commented on #40398
@gauss345
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 00:24] tamram commented on #39455
@arorasam - Thanks for pointing out this issue. I've updated the article, and the change should go live in the next day.

#please-close

[2019-10-10 00:24] #39455 closed

[2019-10-10 00:26] #39677 closed

[2019-10-10 00:28] milope opened #40459 "The operation ln(doubleVecList) states it's a log base-2 of a doubleVecList instead of natural logarithm?"
Following the documentation, it states ln(doubleVecList) is the log base-2 of a doubleVecList. Should this read as natural logarithm instead as the one before it reads as natural logarithm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d888d2f-3a20-bb80-c600-074089e1d0f9
* Version Independent ID: 2d365860-2876-50fe-e

[2019-10-10 00:29] drdamour commented on #27056
i think this is old docs.  When MSI first launched it only worked on the production slot.  since then they've enabled MSI on each slot...but each slot gets it's own identity FYI.  I think the note should be updated to indicate this.

[2019-10-10 00:33] Alberto-Vega-MSFT commented on #40429
@antelope511 Thanks for the feedback! Can you post this as a feedback [@Azure Time Series User Voice](https://feedback.azure.com/forums/906859-azure-time-series-insights). This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-10-10 00:35] tamram commented on #39418
@axelgMS - As you've pointed out, unmanaged VHDs are page blobs in an Azure Storage account. So you can perform any action on them that you can perform on a page blob, including soft delete.

In terms of how this would affect a disk that's attached to a VM, I believe you would need to reattach it if you recover the page blob.

[2019-10-10 00:35] npnelson commented on #39109
I agree with @lukepuplett. I just fell into this trap. The nuances between the ASP.Net Core configuration paradigms should be clearly spelled out. In my instance, I was trying to add a configuration setting for local development and after banging my head for about an hour, I realized that I need to place my settings inside the "Values" section in local.settings.json - I was attempting to place my

[2019-10-10 00:36] Karishma-Tiwari-MSFT commented on #40274
@eugen-nw Can you please elaborate on your scenario? Also, share the doc you followed to create ACI.
Please check if this is what you are looking for : https://docs.microsoft.com/en-us/azure/aks/use-managed-identity
https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity
https://docs.microsoft.com/en-us/azure/aks/concepts-identity

[2019-10-10 00:36] KrishnaG-MSFT commented on #40454
@srinadhayarram Thanks for reaching out to us! To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to and also provide more details on your query / scenario ?

[2019-10-10 00:39] KrishnaG-MSFT commented on #40456
@dcbrown16 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-10 00:46] ToruMakabe commented on #36179
I have checked it just now, the cache issue seems resolved without --pull option.

[code]

I will close this issue, thanks.

[2019-10-10 00:46] #36179 closed

[2019-10-10 00:53] drdamour opened #40461 "is an adgroup actually required for managed identity?"
im not an ad admin, creating groups is a whole biz process for us.  Can i grant roles to the identity directly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database connection with managed ident

[2019-10-10 00:56] ToruMakabe opened #40462 "failed to cache: saving image"
I have tried to run Node.js sample, but failed. Could you please check it? (Azure CLI: 2.0.74)

[code]

`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff7047-440a-0262-6ea5-e06f0092f576
* Version Independent ID: 4df6a6d2-ed03-5207-8a66-50db513c6363
* Content: [Build an Azure Container Registry image from an app](ht

[2019-10-10 00:57] ElanShudnow opened #40463 "Missing an installation step"
You can go to the Log Analytics Workspace, go to Virtual Machines under Workspace Data Sources, select the VM, and connect the VM to the Workspace.  This doesn't seem to be documented on this page as an installation method for the agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024

[2019-10-10 01:04] sveinfid opened #40465 "Since .NET Core 2.2, SqlConnection in .NET Core also supports Azure AD token-based authentication"
Since .NET Core 2.2, SqlConnection in .NET Core also supports Azure AD token-based authentication

So the text should be changed to:

**.NET Framework 4.6** or higher, or **.NET Core 2.2** or higher is required to use the access token method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d206d4-f476-c2e3-c498-d6d161

[2019-10-10 01:08] KrishnaG-MSFT commented on #40463
@ElanShudnow Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-10 01:10] kumarallamraju opened #40466 "Suggestion to add a reference that AKS creates a 2nd resource group"
[Enter feedback here]

az aks create --resource-group aksRG     --name myk8sworkshop     --location westus     --ssh-key-value ~/.ssh/id_rsa.pub
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

when you create a new AKS cluster, an additional resource group is created by our AKS machinery. It's a good idea to document it in our online docs.

  "nodeResourceGroup": "MC_aksRG_myk8s

[2019-10-10 01:30] srinadhayarram opened #40467 "Cost Management Query API return only 1000 rows"
Cost Management API query is only returning 1000 records how to fetch all records

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7349e660-9bb8-9676-6e48-17796a97b674
* Version Independent ID: 3b80ab4a-f9c2-0b81-aa7b-99fff673d813
* Content: [Quickstart - Explore Azure costs with cost analysis](https://docs.microsoft.com

[2019-10-10 01:34] srinadhayarram commented on #40454
Below URL with cost Management api.

https://docs.microsoft.com/en-us/rest/api/cost-management/query/usagebyscope

On Wed, Oct 9, 2019 at 7:36 PM KrishnaG-MSFT <notifications@github.com>
wrote:

[2019-10-10 01:52] brianmrush opened #40468 "Call the direct method"
When running this project I am getting this exception.  Does that actual device need to be connected in order to run the CloudToDeviceMethod method?  Is there a way to simulate the device is connected.

nhandled Exception: Microsoft.Azure.Devices.Common.Exceptions.DeviceNotFoundException: Device {"Message":"{\"errorCode\":404103,\"trackingId\":\"fe40f54539024bb799567ba4773bd839-TimeStamp:10/10/201

[2019-10-10 01:59] KrishnaG-MSFT commented on #40454
@bandersmsft Can you please provide your insights on @srinadhayarram's query i.e., why [Azure Cost Mangement Query Usage By Scope](https://docs.microsoft.com/en-us/rest/api/cost-management/query/usagebyscope) returning only 1000 rows per subscription

[2019-10-10 02:02] KrishnaG-MSFT commented on #40467
Duplicate of #40454

[2019-10-10 02:41] seanli1988 opened #40471 "Azure portal link for Azure Spring Cloud"
In step one of provision the service, the Azure portal link currently does not work due the fact it’s in private preview. Please use this link instead: https://ms.portal.azure.com/?microsoft_azure_marketplace_ItemHideKey=AppPlatformExtension#blade/Microsoft_Azure_Marketplace/MarketplaceOffersBlade/selectedMenuItemId/home/searchQuery/Azure Spring Cloud

---
#### Document Details

⚠ *Do not edit thi

[2019-10-10 02:46] su-jie commented on #39771
Hi @tikimo Sorry for late replay. Just came back from an one week Nation holiday. Can you share why do you need those custom fields in VS Code while the UDF and de-serializer feature are not supported in VS Code yet?

[2019-10-10 02:54] swinarko commented on #39591
The script has been updated.  THX

[2019-10-10 03:04] DashleenBhandari-MSFT commented on #40077
@DouglasAndrJohnston , I will go ahead and  close the issue. Please feel to re-open if you have any questions.

[2019-10-10 03:04] #40077 closed

[2019-10-10 03:05] DashleenBhandari-MSFT commented on #40374
@SgtSpamCan , could you please elaborate the steps so that I can investigate further

[2019-10-10 03:25] KrishnaG-MSFT commented on #40471
@seanli1988 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-10 03:42] ArcherAZ commented on #39587
Appreciate for pointing this out! We are definitely preparing more concrete samples, including the training and testing data-sets that you can easily start with as an example. Will update in several weeks :) Thanks again!

[2019-10-10 03:44] SnehaAgrawal-MSFT commented on #40451
@chadsowald Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-10 03:50] ArcherAZ commented on #38611
In the past, we separate acoustic model as well as language model. While now we support a unified "single model customization" experience, so no need to separate them. Instead, we describe what kind of training data is required for different customization scenarios.
So simply, now you can use whatever qualified datatypes (audio with human trans, domain related texts, etc...) for every customizable

[2019-10-10 03:53] elhamkarshenas opened #40472 "Give global admins the same ability"
I believe a business should have full control over their user’s activities, including which other tenants their users are joining to as a guest, and what information/access they are providing to them. This functionality (removing users as a guest account in other tenants) should be available for global admins of the user tenants as well.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-10 03:57] ElanShudnow commented on #20981
I would update this piece to also mention ExpressRoute.  Can use either ExpressRoute (specifically private peering) or a Site to Site VPN.

[2019-10-10 04:14] SnehaAgrawal-MSFT commented on #40461
@drdamour Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-10 04:31] SwathiDhanwada-MSFT commented on #40321
@matteomorales Could  you please let us know the documentation link that you are using before  facing the above problem? This would help us redirect you to the right  team.

[2019-10-10 04:34] SwathiDhanwada-MSFT commented on #40433
@rthorn17 Thanks for your comment. We are actively investigating and will get back to you shortly

[2019-10-10 04:45] souravmishra-msft commented on #40472
@elhamkarshenas, Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-10 04:45] tchristiani commented on #40315
Moving to support ticket for engagement and feedback to product team.
#please-close

[2019-10-10 04:45] #40315 closed

[2019-10-10 04:46] souravmishra-msft commented on #40465
@sveinfid, Thank you for pointing this. We are looking into this and would get the content updated after review.

[2019-10-10 04:48] souravmishra-msft commented on #40458
@robsonaaron, Thank you for sharing the details. We are looking into this and will get back to you soon on this thread.

[2019-10-10 04:52] robsonaaron commented on #40458
If it helps there is an open support ticket for the error. #17057715

[2019-10-10 04:54] souravmishra-msft commented on #40468
@brianmrush, Thank you for the query. We are actively looking into this and would get back to you soon on this thread.

[2019-10-10 04:57] msrini-MSFT commented on #40418
@Milanski , Application Gateway is a L7 Load balancer and is used only to load balance inbound traffic. Outbound traffic from the backend will not be passed via Application Gateway. You need a dedicated IP to the resource or a Standard Load balancer with outbound rules for the resource to get reach Internet.

Let me know if you have any further questions.

[2019-10-10 04:59] souravmishra-msft commented on #40466
@kumarallamraju, Thank you for sharing the query. We are looking into this and will get back to soon on this thread.

[2019-10-10 05:00] msrini-MSFT commented on #40452
@klogan12 , Can you please provide me the URL where you are seeing this behavior. If you bypass AFD and directly access the resource are you seeing the same behavior.

Are you seeing it in Request header or Response header? As far as I know AFD will not alter the headers.

Please provide me the URL with sample output to investigate further.

[2019-10-10 05:00] alexalaskaair commented on #39942
Hi @mrbullwinkle  & @lgayhardt - I was wondering if you still plan to update this thread with the link to the new doc as mentioned above. I'd like to implement this so the docs would be very helpful. thx

[2019-10-10 05:02] souravmishra-msft commented on #40462
@ToruMakabe, Thank you for sharing the query. We are investigating on this and would get back to you soon on this thread.

[2019-10-10 05:04] souravmishra-msft commented on #40459
@milope , Thank you for pointing this out. We are looking into this internally and will get the doc updated after reviewing the same.

[2019-10-10 05:05] KetanChawda-MSFT commented on #40419
@SABARISHV06 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-10-10 05:07] souravmishra-msft commented on #40457
@lilixu93 , Thank you for pointing this out. We are reviewing the doc and would update it accordingly.

[2019-10-10 05:08] theheatDK commented on #40407
Thanks @TravisCragg-MSFT

[2019-10-10 05:08] #40407 closed

[2019-10-10 05:13] souravmishra-msft commented on #40447
@fly-high-bj, Thank you for pointing this out. We are looking into this and will get back to you soon.

[2019-10-10 05:15] souravmishra-msft commented on #40424
@isamllr, Thank you for sharing the query. We are looking into this and will get back to you soon.

[2019-10-10 05:16] msrini-MSFT commented on #40425
@KumudD , Create an NVA needs to be the first step and other steps are fine.

The current steps which is mentioned in the doc is confusing. Can you do a PR to avoid this confusion ?

[2019-10-10 05:17] souravmishra-msft commented on #40414
@ketaanhshah, Thank you for sharing the query. We are looking into this query and will get back to you soon on this.