[2022-08-05 10:04] mhaarbrink commented on #96711
Ahh I think I found the reference I was looking for!
https://docs.microsoft.com/en-us/azure/azure-vmware/plan-private-cloud-deployment#define-the-ip-address-segment-for-vm-workloads

At this page it does call out that you need to plan an additional space for the VM's and that it should not overlap with the /22 for management.  But this information is only in the Tutorial section of the AVS docs ar

[2022-08-05 10:08] GitaraniSharma-MSFT commented on #77400
@mbender-ms , label virtual-network/svc removed.

[2022-08-05 10:09] GitaraniSharma-MSFT commented on #80110
@mbender-ms , label virtual-network/svc removed.

[2022-08-05 10:17] GitaraniSharma-MSFT commented on #96648
@danmyhre , I'm following up on my previous comment. Could you please share the link to the document on which the above document feedback request is created?

[2022-08-05 10:34] KapilAnanth-MSFT commented on #96719
@JohnBreault , We have assigned this thread to the author for review.

@mbender-ms , I did a lab and I can see the tag Azure.Cloud being supported for both inbound and outbound rules.
Kindly check and update the table accordingly.

[2022-08-05 10:58] SudhirRaparla commented on #96447
Looking into it.

[2022-08-05 11:06] KapilAnanth-MSFT commented on #96709
@JeffGiroux , we have assigned the thread lto author for further review.

@cherylmc, I was not able to find the BGP Peers limit on Azure Networking limits page as well.
Kindly check and update

[2022-08-05 11:07] lab067 opened #96746 "Screenshot shows issuer field incorrect url - misleading."
[Enter feedback here]
The screenshot shows the incorrect url for the Issuer field. Please update it when you get a chance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [Configure Azure AD tenant and settings

[2022-08-05 11:08] savirod211 opened #96747 "Cannot zoom in on the image on this page."
Cannot zoom in on the image on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7189550d-69e4-134f-fdd2-5c53b4372fdd
* Version Independent ID: 8837536c-fac0-7dc2-6b77-de731a4e9430
* Content: [Azure AD Connect: Pass-through Authentication - How it works - Microsoft Entra](https://docs.microsoft.com/en-us/azure/

[2022-08-05 11:12] #96578 closed

[2022-08-05 11:27] dahico-dk opened #96749 "Continuation error"
[Enter feedback here]
This document is added as a link to end of https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-lamp-stack as a continuation. The provided link already instructs user to create a vm to serve a wordpress page

And this page instructs to create a new vm again(!)

I believe one of this has to change because of the confusion it creates

---
#### Document Details

[2022-08-05 12:32] v-hgampala commented on #96687
@Sean-FFC
Thanks for raising the issue!! We are working on it and will update you once the changes are confirmed.

[2022-08-05 12:35] pemsft opened #96751 "Use of Azure Private Endpoints"
Thank you for excellent documentation!

One question arose from this page:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-virtual-network-concepts

Azure Private Endpoints are widely used to access Azure services privately. However, they are not mentioned on the page under supported scenarios nor under limitations. Could you add mention on the page is it supported t

[2022-08-05 12:46] v-hgampala commented on #82639
Updating the document with the application side configuration steps.
#please-close

[2022-08-05 12:46] #82639 closed

[2022-08-05 12:50] MonikaReddy-MSFT commented on #96741
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-08-05 13:02] krisrajzlive opened #96752 ".Net core version mismatch"
This page has .Net 6 and the next page does not have! Can someone update the pages please?!

https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app?tabs=core6x

the next page has .net core 5!
https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core5x

---
#### Document Details

⚠ *Do not edit this section.

[2022-08-05 13:16] AnuragSingh-MSFT commented on #96607
@SetTrend, thank you for the reply. The **Description** section of **[New-AzDeployment](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azdeployment?view=azps-8.2.0#description)** contains detailed information of when to use this cmdlet. The description also mentions to use `New-AzResourceGroupDeployment`, when which creates a deployment at a resource group level.

@mumian, cou

[2022-08-05 13:18] mspetroula commented on #96628
Hello Sunil,

Customer SwissRE is looking to migrate to PostgreSQL Flexible server.  During their performance testing, it was discovered that the gradual addition of vCPU did not help with the overall performance.  Quite the opposite, after 8 vCPUs performance was degrading.  Through discussion with the PostgreSQL engineering team, hyperthreading which is enabled by default is not benefitting the

[2022-08-05 13:30] danmyhre commented on #96648
Hi - yes, it is about this page:
https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client-mac

This issue is that there is no info or availability on the DMG for this. This is the only way to deploy it on a mac that is enrolled in Intune.

So I am looking to get info from MSFT on how this would actually be deployed in a work environment.

[2022-08-05 13:34] mumurug-MSFT commented on #96735
@asset-web Thanks for your feedback. We will review and update as appropriate.

[2022-08-05 13:40] halkazwini commented on #96656
Hi @Leoer

Usually you get this view when the resource is not fully created. Do you still see the same?

[2022-08-05 13:43] MasifRamay commented on #13787
Excellent  solution works for me

[2022-08-05 13:46] bwren commented on #96741
Traces are one of the fundamental types of data of observability as described in https://docs.microsoft.com/en-us/azure/azure-monitor/observability-data#distributed-traces. Application insights in Azure Monitor stores trace data in a Log Analytics workspace, which is why the diagram uses the same icon for Logs and Traces. You do make a good point though, we should probably include at least a short

[2022-08-05 14:04] ilantom commented on #82452
@mike-urnun-msft  Could you please reopen this as I am experiencing the same issue?

[2022-08-05 14:16] ChaitanyaNaykodi-MSFT commented on #96746
Hello @lab067, Thank you for your feedback.
This feedback is already open and assigned to author for update in GitHub issue https://github.com/MicrosoftDocs/azure-docs/issues/96215. It will be updated soon.

We are closing this issue as duplicate for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-08-05 14:16] #96746 closed

[2022-08-05 14:17] tanktopSecurity opened #96754 "Missing the D"
On the section title "Disable Automanage machines that need to be upgrade[D]" - "upgrade" is missing a "D".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09bb2344-4396-50b6-d20b-6f2e291c6634
* Version Independent ID: d24a6aa8-e33f-d99d-684a-abbdc3f3036a
* Content: [Upgrade your Azure Automanage machines to the latest

[2022-08-05 14:17] seligj95 commented on #96715
Thank you for the feedback. I have updated the template. The public doc should be updated by later today. Appreciate the support with our docs!

[2022-08-05 14:38] abhayea commented on #96555
and also please clarify why do we need to timeout validation activity and why does it NOT give the outcome "exists":false if the file does not exist in the destination?

Because it's clearly working if the exist in the destination but **NOT if the file does not exist in the destination**. isn't this a BUG with validation activity?

[2022-08-05 14:47] msjuergent commented on #96682
We need to clarify the statement around 'support' first. Oracle itself is not exclusively insisting on dNFS driver only. It needs to be clarified whether the exclusive support of dNFS is a NetApp mandated requirement. I will clarify with Geert

[2022-08-05 14:48] khdownie commented on #96343
#please-close

[2022-08-05 14:48] #96343 closed

[2022-08-05 14:48] #96715 closed

[2022-08-05 14:56] GitaraniSharma-MSFT commented on #96648
@danmyhre , thank you for the details. We have assigned this to the content owner/author for review.

@cherylmc , we have a doc for deploying profiles that use Azure Active Directory for authentication for Azure VPN clients (Windows 10 or later) by using Microsoft Intune.
Refer : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-profile-intune

But we don't have anything for Mac OS. Could you

[2022-08-05 15:07] mark-strasser-nnl opened #96756 "What is the package format or installation mechanism?"
There is *no* information on this page on how the package installer actually works.  Should the package be a .msi file?  A PowerShell script?  How about support for Chocolatey packages?  There is zero information here on the interaction with the script, any parameters to pass in, how to support license files, et cetera.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-08-05 15:11] GitaraniSharma-MSFT commented on #96707
@waltonchiang , I've updated the doc to reflect "web" as the subresource type for Microsoft.Synapse/privateLinkHubs. It will reflect shortly!

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-08-05 15:11] #96707 closed

[2022-08-05 15:14] SetTrend commented on #96607
Ah, yes, I see.

Though, considering that this information is quite low on the docs page, wouldn't it make sense to at least amend the sub heading to read: "Create a deployment at a subscription."

I believe that this Cmdlet's name is quite confusion; particularly when you're only dealing with ARM templates or Bicep files occasionally. I created a [suggestion to name it `New-AzSubscriptionDeployme

[2022-08-05 15:15] mumian commented on #94873
@YutongTie-MSFT - thank you for your comments.  The article has been updated.  See https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/add-template-to-azure-pipelines?tabs=CLI

#please-close

[2022-08-05 15:15] #94873 closed

[2022-08-05 15:24] kobulloc-MSFT commented on #96749
@dahico-dk Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-08-05 15:26] kobulloc-MSFT commented on #96756
@mark-strasser-nnl Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-08-05 15:39] KrishnaG-MSFT commented on #96720
@rativerma Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-05 15:39] KrishnaG-MSFT commented on #96754
@tanktopSecurity Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-05 15:42] VikasPullagura-MSFT commented on #96751
@pemsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-05 15:42] VikasPullagura-MSFT commented on #96751
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-08-05 15:43] cynthn commented on #96756
#reassign @ericd-mst-github Can you take a look at this feedback?

[2022-08-05 15:50] StefanRickli commented on #91538
Heya @MicrosoftGuyJFlo

I am one of these "new administrators" and had exactly the confusion that @danwatford described.

I'm planning on creating a new global administrator with a preset password that I will store in a bank safe. Reading about the Security Defaults made me unsure how and when the MFA policy kicks in because - as I just created the Microsoft 365 tenant today - I haven't gotten any

[2022-08-05 15:54] ericd-mst-github commented on #96756
Hi @mark-strasser-nnl, thank you for your feedback.

Our general [overview](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-applications#tips-for-creating-vm-applications-on-windows) article expands a bit on supported package types and command interpreters as the article in this issue is more on deployments.

Let me confirm with engineering on checking those other packages in terms of s

[2022-08-05 16:12] whhender commented on #96699
@PYouderian - Ah, quite right. Thank you! I'll update that. You should see the modified page later this afternoon.

[2022-08-05 16:13] whhender commented on #96699
#please-close

[2022-08-05 16:13] #96699 closed

[2022-08-05 16:17] MarileeTurscak-MSFT commented on #96729
@NageswariVaradarajan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-05 16:35] MarileeTurscak-MSFT commented on #96747
@savirod211
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-05 16:46] MartinJaffer-MSFT commented on #96555
You are right, this is bizarre behavior, and does not match what I experience.  Is there a chance you did a trigger run and not a debug run?  Trigger runs use the last published version.  Debug runs use what is on the screen.  So maybe an old version was ... wait no that can't be the case, you screenshotted everything together, from monitoring screen.  Urghh.  This is turning into a deeper issue t

[2022-08-05 16:48] MartinJaffer-MSFT commented on #96555
By the way, why did you not want to use Get Metadata?  That can return the same exists information without a timeout @abhayea .

[2022-08-05 16:49] mark-strasser-nnl opened #96758 "No information on how to assign RBAC at image definition or image version scope"
There is no information on how to assign RBAC at image definition or image version scope.

Also - would be nice to know how to grant RBAC for creating new image versions without being able to change the image definitions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dc9d89d-c72c-3e3f-c825-21e75c0508b1
* Version Inde

[2022-08-05 17:03] dcc1165 commented on #96693
Awesome :).  Thanks a bunch.

Now if the devs would quit moving UI stuff around and calling it an “upgrade”, the world would be a better place :).

[2022-08-05 17:18] DerekHerman-MSFT commented on #96732
@dani3lheidemann The error is referring to IPV6, so perhaps this is working for IPv4 but not IPv6.

I'd recommend posting your question in https://docs.microsoft.com/en-us/answers/products/azure?product=all since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread.

If you feel there are documentation changes that need to be made please o

[2022-08-05 17:18] #96732 closed

[2022-08-05 17:29] SetTrend opened #96760 "Problem understanding Azure role assignment condition format and syntax"
Reading the documentation, I'm not sure I understand the condition correctly.

Here's what's written on that page:

<br/>

From my understanding of conditions, this seems wrong. Executing an action when it's _not_ in the list of allowed actions? Strange …

Are you sure this is right?

<br/>

I would have, instead, expected something like the following (which is quite the opposite logic):

![Simple

[2022-08-05 17:35] whhender commented on #96698
@PYouderian - Yes, I can see where you're coming from here. Thank you for following up!

I'll look into options for organizing this information. Was there a particular type of information that you were looking for on this page?

[2022-08-05 17:44] thecodeman1987 opened #96761 "Authentication issue with Twitter endpoint"
I believe that this sample (TwitterClientCore App) does not work anymore as Twitter has deprecated the use of v1.1 endpoint
as stated in:
https://developer.twitter.com/en/docs/twitter-api/v1/tweets/filter-realtime/overview
(it returns 403 forbidden error)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9636d03-2832-6aa

[2022-08-05 17:49] KranthiPakala-MSFT commented on #96556
Hi @jovanpop-msft Could you please have a look at the above ask from customer and share your thoughts. Thanks

[2022-08-05 17:51] KranthiPakala-MSFT commented on #96598
Thanks for opening a forum question which is better suited for such queries.
We will now proceed to close this thread. THank you

[2022-08-05 17:51] #96598 closed

[2022-08-05 17:54] KranthiPakala-MSFT commented on #96617
We will now proceed to close this thread. Please do share the feedback link here once it is logged.

Thank you

[2022-08-05 17:54] #96617 closed

[2022-08-05 17:55] KranthiPakala-MSFT commented on #96734
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-05 17:57] KranthiPakala-MSFT commented on #96743
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-05 17:58] KranthiPakala-MSFT commented on #96752
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-05 17:59] KranthiPakala-MSFT commented on #96758
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-05 18:01] MarileeTurscak-MSFT commented on #96760
@SetTrend
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-05 18:12] KranthiPakala-MSFT commented on #96761
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-05 18:21] abhayea commented on #96555
I actually used the trgger and not debug.

Destination Azure blob storage account is not a Data Lake Gen2.  Account kind : StorageV2 (general purpose v2)

Validation activity is seriously spiked with bugs and it should be raised internally asap! This can cause catastrophic impact if someone starts using it with production data without even realizing it. Timing out an activity to have a failure dep

[2022-08-05 18:33] thecodeman1987 commented on #96761
Thanks ,
Let me know

Il giorno ven 5 ago 2022 alle 19:12 Kranthi Pakala ***@***.***>
ha scritto:

[2022-08-05 18:34] bandersmsft commented on #96712
@azgabe You're right! Thanks for letting us know. The new PO number functionality in the Azure portal is covered at https://docs.microsoft.com/azure/cost-management-billing/manage/direct-ea-azure-usage-charges-invoices#update-a-po-number-for-an-upcoming-overage-invoice.

I've updated the article you mentioned here to say that the PO number EA portal functionality is getting deprecated and linked t

[2022-08-05 18:34] #96712 closed

[2022-08-05 18:51] abhayea commented on #96555
its getting funnier and funnier

I ended up using metadata

this is the output of get metadata WHEN the file **does exist** in the destination

{
    "exists": true,
    "size": 7,
    "effectiveIntegrationRuntime": "newtom (East US 2)",
    "executionDuration": 0,
    "durationInQueue": {
        "integrationRuntimeQueue": 11
    },
    "billingReference": {
        "activityType": "PipelineActiv

[2022-08-05 18:53] Greta-A opened #96762 "Installing NVIDIA CUDA Toolkit shows the use of an outdated key; results in an error"
NVIDIA updated their repository keys on April 27th, 2022 and are no longer using the '7fa2af80.pub' key. (https://developer.nvidia.com/blog/updating-the-cuda-linux-gpg-repository-key/)

Trying to execute the commands results in an `E: The repository http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64 In Release is not signed`.

The updated key is '3bf863cc.pub'. Please update

[2022-08-05 19:10] chris2shehu opened #96763 "Delete before "Re-create" or is this "Re-create" on top of the existing setup? Instructions unclear."
[This document explains that you need to re-create the existing configuration but it doesn't explain if that means you need to first delete the configuration and then create it again following the instructions. I'm hoping it means you just rerun the creation step over top of the existing setup but need clarification. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-08-05 19:13] ggailey777 commented on #82452
#please-open

[2022-08-05 19:23] abhayea commented on #96555
one more interesting fact!
I tried using a variable to store FIle size from Get Metadata activity and got this error.

Operation on target Set variable1 failed: The expression 'activity('Get Metadata1').output.size' cannot be evaluated because property 'size' doesn't exist, available properties are 'exists, effectiveIntegrationRuntime, executionDuration, durationInQueue, billingReference'.

so if

[2022-08-05 19:43] adi-garg opened #96765 "IP Assignment for new VM (VM to VM ASR within Azure)"
Hello,
I guess the highlighted section needs to be updated/re worded.
<img width="472" alt="Query-IP Assignment-ASR" src="https://user-images.githubusercontent.com/73249037/183142935-547cf88d-520c-402c-b2fe-ced22f70442d.png">

When performing a **Test** Failover,  when the Target Network chosen is NOT the same as previously configured failover VNet, article says:
-Target IP address will be static

[2022-08-05 19:51] mrbullwinkle commented on #96284
Sorry for the delay on this one, thank you so much for your patience. The PM & Engineering team just got back to me yesterday and unfortunately resources behind a VNET are currently not supported by Metrics Advisor. I have updated the FAQ to reflect the lack of support. The change is merged internally and will go live later today in the docs. If the support changes in the future, we will update th

[2022-08-05 19:51] mrbullwinkle commented on #96284
#please-close

[2022-08-05 19:51] #96284 closed

[2022-08-05 20:06] #96498 closed

[2022-08-05 20:11] saidatta commented on #95928
From my understanding of the docs, The consistent Prefix guarantee says that if a sequence of writes happens in a certain order, then anyone reading those writes will see them appear in the same order.

This prevents the scenario when a user reads from the database, they may see some parts of the database in an older state and some in a newer state.

[2022-08-05 20:14] ChaitanyaNaykodi-MSFT commented on #96498
Hello @jupark14< thank you for the feedback. I have made the suggested change. You will be able to see the changes in next 24 hours. Please let us know if you have any further concerns.

[2022-08-05 20:30] enkrumah commented on #96761
#reassign: @an-emma

[2022-08-05 20:41] #96566 closed

[2022-08-05 20:42] JeffGiroux opened #96767 "Need more detailed quota limits for Gateway Load Balancer"
Currently this page only shows one entry for GWLB which is number of chained entries. What is the max throughput limits for example and any other limits that would normally apply. Is there a throughput limit when traversing regional vnets versus local vnets? And so on. Need more details in the quota limits page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-08-05 20:42] ChaitanyaNaykodi-MSFT commented on #96566
Hello @scarson, thank you for the feedback. I have made the suggested change. You will be able to see the changes in next 24 hours. Please let us know if you have any further concerns

[2022-08-05 20:49] #96735 closed

[2022-08-05 20:50] kobulloc-MSFT commented on #96749
@dahico-dk Starting from [Tutorial: Install a LAMP stack on an Azure Linux VM](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-lamp-stack) there is a blue button style link under next steps for "Secure web server with TLS" which takes you to [Tutorial: Use TLS/SSL certificates to secure a web server](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secu

[2022-08-05 21:05] tfitzmac commented on #96607
@SetTrend - thanks for this feedback. I will clarify "target resource group" in the article.

[2022-08-05 21:07] fhackett-ms commented on #95928
@saidatta We agree on what that section says. To look at my question "backwards", if that statement is true, what did I specifically get wrong in my counter-example?

Something I said must be wrong, for that statement about consistent prefix to be true in general. I spent a lot of time on modeling and working with these semantics, so can you please specifically point out any mistake I might have m

[2022-08-05 21:34] tfitzmac commented on #96607
I have submitted an update to this article that describes how the target resource group is the resource group specified in the parameter. This update should get published later today.

I have also submitted an update to the reference content.

#please-close

[2022-08-05 21:35] #96607 closed

[2022-08-05 21:43] saidatta commented on #95928
This is my 2cents.
One of the ways of implementing Consistent prefix is having related records internally delivered to a one or small local majority of partitions. And grouping causality items together and providing them with logical timestamps.

E.g, say data is partitioned on userID interacting with an eCommerce website. If he executed A,B,C,D actions, then this set of actions are stored interna

[2022-08-05 21:52] jlichwa commented on #96345
@nashuatek it is great call. We have updated that statement. Thank you.

Key Vault Team

[2022-08-05 21:58] jlichwa commented on #94831
@dcbrown16 we provided more information about release operation. It is released for Confidential Compute scenario only (it only works under confidential compute workloads). Currently Confidential Compute feature is delayed, so we can't point to their documentation for details how to use it.

I hope it helps.

[2022-08-05 21:58] rp-msft opened #96769 "Support for AGIC add on"
Does this feature work with AGIC add on and what are the steps to configure the namespaces with it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d7d6f58-e1df-ec1a-57a9-bbbf74b91a25
* Version Independent ID: e6addf53-e602-2d84-3b63-9ec06d5438d2
* Content: [Enable multiple namespace supports for Application Gateway I

[2022-08-05 22:04] JavierMonleonLopezMW opened #96770 "Item Key="client_id" referred to which application?"
[Enter feedback here]
Hello, I have been following these docs but at the step which says:
"Set client_id to the application ID from the application registration."

I can't figure out the client_id from which application should I use. Because at this point I am managing two different Azure Active Directories: AAD and AADB2C each one with its respective registered applications. So which application

[2022-08-05 22:06] tfitzmac commented on #96541
@SetTrend - thanks for this feedback. I have clarified the Azure PowerShell and Azure CLI commands to use for creating the template specs.
#please-close

[2022-08-05 22:06] #96541 closed

[2022-08-05 22:07] BhargavaGunnam-MSFT commented on #96491
Hello @axcap,
Thank you for more details.

[Example 1: Variables in QueryParameters](https://docs.microsoft.com/nb-no/azure/data-factory/connector-rest?tabs=data-factory#example-1-variables-in-queryparameters).

If you are following the example mentioned here, this is for a copy activity in the pipeline. Also in the document, it is mentioned that -The pagination rules in mapping data flows are dif

[2022-08-05 22:20] tfitzmac commented on #96613
@SetTrend - thanks for this suggestion. I will clarify the allowed use of getSecret.

[2022-08-05 22:34] snamuth opened #96771 "Can I really use SOQL?"
If I can use SOQL in a copy activity in ADF, why can't I use the SELECT FIELDS(ALL) function that is available in SOQL. When I try, I get an error that it is not a recognized SQL function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7-4b

[2022-08-05 22:35] ChaiSwaddipong opened #96772 "Adding Static IP to ALB step missing?"
[Enter feedback here]
"When you update the ingress controller, you must pass a parameter to the Helm release so the ingress controller is made aware of the **static IP address of the load balancer**"

At what point do we create a static ip at a load balancer? I only saw the instruction to create a regular static IP, but it is not associated with a load balancer.
---
#### Document Details

⚠ *Do no

[2022-08-05 22:48] ilantom commented on #82452
1) Why are you using App service deploy task to deploy function app? There is a Function App deploy task available and that is recommended.

I use AzureFunctionApp@1 for deployment of Function App. Please see my [code]
[code]

Can you confirm that you are deploying .NET function app to Windows Consumption plan?

Yes

What is your intent to doing step 4 - Re-Deploying ARM template (without any chan

[2022-08-05 22:58] tfitzmac commented on #96613
I have updated the article. I believe it will get published on Monday morning.

#please-close

[2022-08-05 22:58] #96613 closed

[2022-08-05 23:23] kobulloc-MSFT commented on #96772
@ChaiSwaddipong As a prerequisite for [Use TLS with an ingress controller on Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli) you'll need an ingress controller and applications set up as described in [Before you begin](https://docs.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli#before-you-begin) which takes you to [Create an ingress c

[2022-08-05 23:35] tfitzmac commented on #96518
@AnotherSadGit - thanks for this feedback. I have added a definition of resource providers. It should get published on Monday.

#please-close

[2022-08-05 23:35] #96518 closed

[2022-08-05 23:45] parashu1987 commented on #21763
Any update here ? Facing the same issue I need to use client authentication. Right now trying to implement the same with azure functions but no luck yet. What is the alternative approach here ? Please suggest @slugerrist @ChristopherHouser

[2022-08-05 23:58] fhackett-ms commented on #95928
Thank you for your response. I'm now trying to figure out how your comment relates to my original example.

Since you mention partitions, I went and re-studied them a little. I found this section+diagram to be helpful: https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#replica-sets.
By this explanation, partitions are just a way to "stripe" data across regions, a little similar

[2022-08-05 23:58] Dekard opened #96774 "States CloudShell instead of PowerShell in Example."
Link here: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable?tabs=azure-portal#recommended-use-aes-256-encryption

Discrepancy - To enable Azure AD DS authentication over SMB for Azure Files, you can set a property on storage accounts by using the **Azure portal, Azure PowerShell, or Azure CLI.**

In the instructions it says to

[2022-08-06 01:00] petertuton opened #96775 "Update Microsoft.Azure.WebJobs.Extensions.WebPubSub to 1.2.0"
This sample code works with version Microsoft.Azure.WebJobs.Extensions.WebPubSub version 1.2.0.

Please update the command to read:
`func extensions install --package Microsoft.Azure.WebJobs.Extensions.WebPubSub --version 1.2.0`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b610110-f417-3565-bbd6-35e90a567a2d
* Versi

[2022-08-06 01:07] Rick-Anderson opened #96776 "How to create a JMeter test script"
Create a test by uploading a JMeter test script. This document doesn't  have any links to creating a JMeter test script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e1be0de-f57d-ca83-32dc-753ab685a8be
* Version Independent ID: 04ff4a82-a95f-6274-9d60-a16abe59e3c0
* Content: [Create and manage tests - Azure Load Test

[2022-08-06 02:14] shwetamathur7 commented on #96770
@JavierMonleonLopezMW Thanks for your feedback. We will investigate and update the thread.

[2022-08-06 02:16] shwetamathur7 commented on #96537
@datavinc Thanks for your contribution to enhance the documentation. I have created the PR to update the changes. Changes will be reflected after author's approval.

[2022-08-06 02:16] #96537 closed

[2022-08-06 03:45] gyucheonheo commented on #71760
@vipulsparsh Do you guys have any updates on this? Thanks.

[2022-08-06 03:48] gyucheonheo commented on #90339
subscribed.

[2022-08-06 04:04] SnehaAgrawal-MSFT commented on #96762
@Greta-A Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:06] SnehaAgrawal-MSFT commented on #96763
@chris2shehu Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:10] SnehaAgrawal-MSFT commented on #96765
@adi-garg  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:19] SnehaAgrawal-MSFT commented on #96767
@JeffGiroux Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:23] SnehaAgrawal-MSFT commented on #96769
@mattetti Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:27] SnehaAgrawal-MSFT commented on #96771
@snamuth Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:30] SnehaAgrawal-MSFT commented on #96774
@Dekard Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:31] SnehaAgrawal-MSFT commented on #96775
@petertuton Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 04:32] kobulloc-MSFT commented on #96772
@ChaiSwaddipong Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-06 04:32] #96772 closed

[2022-08-06 04:33] kobulloc-MSFT commented on #96749
@dahico-dk Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-06 04:33] #96749 closed

[2022-08-06 04:35] SnehaAgrawal-MSFT commented on #96776
@Rick-Anderson Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 05:51] ilantom opened #96779 "Incremental deployment mode"
Consider I have an Azure Function App with some app settings and some functions created via the following code:

 - task: AzureResourceManagerTemplateDeployment@3
  displayName: 'deploy ${{ parameters.name }} compute resources'
  inputs:
    azureResourceManagerConnection: azureResourceManagerConnection
    subscriptionId: ${{parameters.subscriptionId}}
    resourceGroupName: rg
    location: ${{p

[2022-08-06 06:53] vlad610 opened #96780 "incomplete documentation for permissions to adding external group"
Following the steps in the documentation leads to permissions error when trying to add an AAD group to APIM.

The application needs Directory.Read.All permissions as well (not sure if as well, or only Directory.Read.All):

![image](https://user-images.githubusercontent.com/62948603/183238041-818318af-edeb-475e-b56d-fe9925360384.png)

I just added the permissions through the Azure Portal and after

[2022-08-06 14:36] jpd1 opened #96782 "No documentation on Azure Key Vault access restriction of being a member of more than 20 groups"
This page does not make a mention of the maximum 20 group membership when accessing a Key Vault with the access policy permission model set to 'Vault Access Policy".

Key Vault makes a call to checkmembergroups which has the following limitation:

"You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Azure AD. Because Microsoft 365 groups cannot

[2022-08-06 17:20] SnehaAgrawal-MSFT commented on #96779
@ilantom Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 17:23] SnehaAgrawal-MSFT commented on #96780
@vlad610 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-06 18:37] BobHamburg opened #96783 "(403) Forbidden while opening "Download the notebook instead""
It is not possible to open the "[Download the notebook instead](https://opendatasets-api.azure.com/discoveryapi/OpenDataset/DownloadNotebook?serviceType=AzureDatabricks&package=azureml-opendatasets&registryId=city_safety_boston)" page section.

Error
The remote server returned an error: (403) Forbidden.

Time 11:35 Seattle
2022-8-6

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-08-06 18:50] adi-garg opened #96784 "(Azure to Azure ASR) Replication Process section-missing pieces"
Hello Support team,
Hope you are doing great!

Referencing the section: https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture#replication-process
1.

I infer this needs to also reflect the information on Resource Groups.
I am observing that,in the backend, **by default**, Azure places this **cache storage account** in the same RG as the Recovery Services Vault ; **NOT**

[2022-08-06 19:21] gregpakes opened #96785 "SQLIaasExtension does not work with Azure Disk Encryption and DomainJoin/Reboot"
I am not sure where to post this, but there is an incompatibility with the **Sql Server for Virtual Machines** extension and the **Azure Disk Encryption Extension** and the **JsonADDomainExtension**.

If you use all three, the SQL extension fails to create the storage configuration with the following error:

I believe the issue is because the **Azure Disk Encryption** extension creates a new **BEK

[2022-08-06 19:43] kingces95 opened #96786 "East US listed twice."
East US does not pair with West US 3. We'v got East US listed twice.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Cross-region replication in Azure](https://docs.microsoft.com/en-us/azure/availability-zones/

[2022-08-06 19:51] rahul-nagraj opened #96787 "Grammatical error observed in the text: "Logging is each library is covered in the following articles""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710933e4-f56c-24e3-f7f9-128ddeaed9de
* Version Independent ID: e243a545-6c4c-38ef-8646-c40e5c25b4a8
* Content: [Move web app that signs in users to production - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-

[2022-08-07 01:16] nguyenquyhy opened #96788 "Using await for Async API instead of .Result in example"
Example in section `Executing a point query using the Storage Client Library` should use await instead of .Result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd87ab1-9a5b-4d23-05ce-d9d5f5bb74a0
* Version Independent ID: 0bf2b20a-1830-02e5-67bd-a05074a7236b
* Content: [Azure storage table design patterns](https://d

[2022-08-07 03:35] SnehaAgrawal-MSFT commented on #96782
@jpd1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-07 03:37] SnehaAgrawal-MSFT commented on #96783
@samuel100 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-07 03:40] SnehaAgrawal-MSFT commented on #96784
@adi-garg Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-07 03:52] SnehaAgrawal-MSFT commented on #96785
@gregpakes Thanks for reaching here! Could you please share document you are referring to help you better on this.

[2022-08-07 03:55] SnehaAgrawal-MSFT commented on #96786
@kingces95 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-07 04:02] SnehaAgrawal-MSFT commented on #96787
@rahul-nagraj Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-07 04:02] gregpakes commented on #96785
I’m not referring to a document.  It’s a bug in the extension, but I don’t know where to post it.  There are other issues posted here.

[2022-08-07 04:04] SnehaAgrawal-MSFT commented on #96788
@nguyenquyhy Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-07 07:28] amantaras opened #96789 "Remove the mention to Services in the Application Gateway Ingress Controller (AGIC) section (confusing)"
This is the link of the article: https://docs.microsoft.com/en-us/azure/aks/concepts-network#ingress-controllers

In the section "Application Gateway Ingress Controller (AGIC)" the mention of  "Services" is very confusing, see below:

Application Gateway Ingress Controller (AGIC)
With the Application Gateway Ingress Controller (AGIC) add-on, AKS customers leverage Azure's native Application Gatewa

[2022-08-07 09:32] SashWind opened #96790 "Section "Requirements" -> There is Windows 10 and Windows 7 mentioned. Should "Windows 7" rather be "Windows 11" ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ebbcf4-1385-c608-04ab-568517aeda6b
* Version Independent ID: c74fa0b3-77f5-2f56-4c37-97e1116429cb
* Content: [Set up Kerberos Key Distribution Center proxy Azure Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/key-dis

[2022-08-07 11:04] SashWind opened #96793 "Update for https://docs.microsoft.com/en-us/azure/virtual-desktop/key-distribution-center-proxy#how-to-configure-the-kdc-proxy"
You can configure the name of the KDC proxy server under "Connection Settings".
see "KDC proxy name"
There you just enter the FQDN. This is more user-friendly than adding a parameter under "Advanced".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6ebbcf4-1385-c608-04ab-568517aeda6b
* Version Independent ID: c74fa0b3-

[2022-08-07 12:04] wullemsb opened #96794 "Introspection path cannot be specified"
I tried to apply the authorization rule to reject requests to the introspection endpoint(/___*). However this rule results in an error message in the code editor.

![image](https://user-images.githubusercontent.com/958871/183289636-76c15484-ca59-4915-9b73-08305aadd6f8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-08-07 15:32] adi-garg opened #96798 "ASR-Failback-Cache storage account still present at DR site(not cleaned up)"
Hello Microsoft Support,
Hope you are doing great.
Referencing the **Cleanup** section post 'Fail**back** and Reprotect' :
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-failback#clean-up-resources

Is there a particular reason why cache storage accounts at source side from where replication was happening ie at **DR location**(in this case,before initiating Failback,

[2022-08-07 15:43] adi-garg opened #96799 "Azure to Azure ASR - Disable Replication - No Cleanup?"
Hello Microsoft Support,
Greetings for the day!
Referring the section here for Disabling Replication:
https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-manage-registration-and-protection#disable-protection-for-a-azure-vm-azure-to-azure

Is this expected behaviour for Azure to not cleanup the **target**(DR) resources like target RG, target replicated disk, target vnet,**source** ca

[2022-08-07 16:27] kobulloc-MSFT commented on #96790
@SashWind I did some additional investigation and found that Windows 10 and Windows 7 have been part of the requirements since March of 2021, which would have been 7 months before the release of Windows 11.

[2022-08-07 16:44] Tigger2014 opened #96800 "DSC extension no mention of Server 2022 support"
It looks like 2.83 supports Server 2022 however this page is not up-to date and only mentions 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d2d7d54-74a4-6a49-66f4-3cf4083c1434
* Version Independent ID: 005cf301-2333-9671-df9d-4188d94c2576
* Content: [Work with Azure Desired State Configuration extension version

[2022-08-07 21:04] KijongHan opened #96801 "Outdated doc references to Microsoft.Azure.WebJobs.Extensions.ServiceBus package"
The `ServiceBusTrigger` attribute documentation seems to be referencing this old repo https://github.com/Azure/azure-functions-servicebus-extension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Version Independent ID: 1a3150b4-5eb9-0ac5-ee2b-d1bb6b6fd63e
* Content: [Azure Service

[2022-08-07 21:10] schra commented on #95768
Any updates on this @MonikaReddy-MSFT ?

[2022-08-07 22:47] kobulloc-MSFT commented on #96790
@SashWind Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-07 22:48] #96790 closed

[2022-08-07 22:49] KranthiPakala-MSFT commented on #96789
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-07 22:51] KranthiPakala-MSFT commented on #96793
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-08 00:17] KranthiPakala-MSFT commented on #96794
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-08 00:20] KranthiPakala-MSFT commented on #96799
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-08 00:23] KranthiPakala-MSFT commented on #96798
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-08 00:24] KranthiPakala-MSFT commented on #96800
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-08 00:25] KranthiPakala-MSFT commented on #96801
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-08 00:35] s0041464 opened #96803 "Which roles required to Unblock MFA?"
"Sign in to the [Azure portal](https://portal.azure.com/) as an administrator."
It is not clear what type of AAD role is required to Unblock MFA.
This is typically a service desk level role but unofficial channels seems to say auth policy admin is the role required which is far too much privilege.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-08-08 00:36] #96803 closed

[2022-08-08 00:36] s0041464 commented on #96803
Close due to duplicate however should still be noted on the article not in the support pages

[2022-08-08 01:04] PacoV3 commented on #96123
For people trying to use the "mldesigner" package the correct install to use is the following command:
`pip install azure-ai-ml[designer]`

Source: [azure-sdk-for-python/sdk/ml/azure-ai-ml/setup.py](https://github.com/Azure/azure-sdk-for-python/blob/f9802f927ef089f4655c9d2c64ca124e3b9456e2/sdk/ml/azure-ai-ml/setup.py)

[2022-08-08 01:17] ggailey777 commented on #96801
@KijongHan why do you say that the repo is "out of date" or are you saying something else?

[2022-08-08 01:44] pnarsi commented on #96284
@mrbullwinkle - thanks for the relatively quick response.

[2022-08-08 02:27] KranthiPakala-MSFT commented on #96683
Thanks for your response.

- In Regular Copy Activity (without Managed Virtual network Azure IR), you have an option to choose between auto optimize/scale or choose a specific DIU (Compute).  Basically, it is optional to choose the DIU
- Whereas for copy activity in Managed VNet, you will have to explicitly mention the DIU (nothing but the compute resource to execute the copy operation). And also,

[2022-08-08 02:29] KranthiPakala-MSFT commented on #96737
Hi there, we have noticed that you have opened this issue and closed around the same time. Was it intentional or do you have any specific feedback?

Thank you

[2022-08-08 04:04] #96730 closed

[2022-08-08 04:06] MughundhanRaveendran-MSFT commented on #95065
#reassign:ggailey777

[2022-08-08 04:19] ggailey777 commented on #95065
@cgillum can you have one of the Durable folks help out with this query?

[2022-08-08 04:23] ggailey777 commented on #95065
I've not tried it for Durable, but have you tried [this override to host.json values](https://docs.microsoft.com/azure/azure-functions/functions-host-json#override-hostjson-values)?

[2022-08-08 04:26] SnehaAgrawal-MSFT commented on #96785
@gregpakes We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. We kindly invite you to share question to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack overflow forum](https://stackoverflow.com/questions/tagged/azure).
Thank you for your understanding in this.

[2022-08-08 04:26] #96785 closed

[2022-08-08 04:32] gregpakes commented on #96785
Posted here: https://docs.microsoft.com/en-us/answers/questions/958385/sqliaasextension-does-not-work-with-azure-disk-enc.html

[2022-08-08 05:13] AnuragSharma-MSFT commented on #96469
@SudhirRaparla Can you help us with this ask please?

[2022-08-08 05:16] VikasPullagura-MSFT commented on #96789
@amantaras
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-08 05:16] VikasPullagura-MSFT commented on #96789
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-08 05:20] AjayKumar-MSFT commented on #96616
@SethBonser,  Just checking if you had got a chance to see the previous response from aaronpowell.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, kindly let us know we will gladly continue the discussion.

[2022-08-08 05:20] #96616 closed

[2022-08-08 05:24] AnuragSharma-MSFT commented on #96536
@AJ1058310 Thanks for your patience.

The first example with those 4 columns (**_CompanyID | First name | Last name | Email address_**) provides the scenario when things could fail when we try to insert the duplicate email address and company Id. To overcome this and how should be define the unique key is explained in the next section where in we include the address and zipcode as unique keys. The

[2022-08-08 05:26] MayankBargali-MSFT commented on #96477
@skyfrk Thanks for your response. I will work with content team to see how best we can update this information in our document. For now, I will go ahead and close this thread.

Feel free to tag me if for any queries or concerns.

[2022-08-08 05:26] #96477 closed

[2022-08-08 05:36] #96738 closed

[2022-08-08 05:50] ShaikMaheer-MSFT commented on #96771
@jianleishen Could you please check customer feedback and see if it's possible to included limitations section to elaborate which functions of SOQL are not supported? Thank you.

[2022-08-08 05:59] AnnuKumari-MSFT commented on #96763
Hi @mssaperla ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-08-08 06:09] SadiqhAhmed-MSFT commented on #96765
@v-pgaddala Please review and take appropriate action.

[2022-08-08 06:11] zhiweiv opened #96805 "redis-cli tls support"
[Enter feedback here]
In section https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-redis-cli-tool#enable-access-for-redis-cliexe

The redis-cli supports tls now, see https://redis.io/docs/manual/cli/#ssltls, I can use following command to connect to Azure Redis
`redis-cli -h ***.redis.cache.windows.net --tls --insecure -p 6380 -a ***`

---
#### Document Details

⚠ *Do not e

[2022-08-08 06:27] SadiqhAhmed-MSFT commented on #96800
@SnehaSudhirG To review and update the doc as appropriate.

[2022-08-08 06:38] v-pgaddala commented on #94733
Added the video link and update is live.

[2022-08-08 06:38] v-pgaddala commented on #94733
#please-close

[2022-08-08 06:38] #94733 closed

[2022-08-08 06:40] anigan opened #96806 "Azure AD as a prerequisite in quickstart guide"
In the pre-requisites section in quickstart, do you think mentioning Azure AD tenant as one of the requirements is required? Consider this: If there is a net new customer who is onboarding to Sentinel and knows SIEM but not Azure, this guide should help them start from scratch and part of that scratch is to have an Azure Ad tenant.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-08-08 06:41] MughundhanRaveendran-MSFT commented on #96500
@kbiondi , Thanks for the feedback.

Both the commands, AzureFunctionsJobHost__Logging__Console__IsEnabled=true and AzureFunctionsJobHost:Logging:Console:IsEnabled=true works for me.

![image](https://user-images.githubusercontent.com/56299140/183354902-456fa4d7-f665-4625-8137-e2da97a21ca4.png)

![image](https://user-images.githubusercontent.com/56299140/183354979-2569315f-3d18-4df3-ab81-1d98b3e4d

[2022-08-08 06:41] #96500 closed

[2022-08-08 06:54] dmakovec-astralas opened #96807 "Incorrect docs for "Set up Azure AD applications" - az ad app permisson grant"
"Create a server application" contains the following code snippet:

[code]

"Create a client application" contains the following code snippet:

[code]

The instructions for `az app permisson grant` are incorrect as they do not document the use of the --scope parameter

The following error results:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-08-08 06:54] jinyihappy opened #96808 "A wrong hyperlink to network security groups?"
[Enter feedback here]

Under the **Network security groups** section,  I guess the reference link to Network security groups is wrong.

Network security groups
A **[network security group (NSG)](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-vnet-plan-design-arm)** contains a list of Access Control List (ACL) rules that allow or deny network traffic to subnets, NICs, or bot

[2022-08-08 07:09] msftphleiten opened #96809 "Support for SLES 15 and RHEL 8"
hi,

is there already support for SLES 15, 15 SP1, 15 SP2 as well as RedHat 8.0, 8.1, 8.2, 8.3 and 8.4?

Philipp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c9e8ae3-4417-930b-7c53-780b8ac6d5e1
* Version Independent ID: a9563489-c6d8-dc6b-d015-1f101a8b5670
* Content: [Azure Network Watcher Agent virtual machine exte

[2022-08-08 07:10] FoliniC opened #96810 "no button displayed"
in clipboard window I don't see the full screen button.
I'm on chrome Versione 100.0.4896.88 (Build ufficiale) (a 32 bit)

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d63ef78c-e0ff-8655-2e65-684667278758
* Version Independent ID: f03d85fc-7ddc-8f4f-369e-835161698608
* Content: [View virtual machine

[2022-08-08 07:31] bigjam commented on #92058
Thks for your solution !
An idea of your script for ASP.NET Framework 4.8 ?

[2022-08-08 07:34] bigjam commented on #94449
You save my life with your work around !!!! THXS
It's incredible that we can't use it...
I was with the Azure support but no solution yet...

[2022-08-08 07:57] SreejaBhattacharya-MSFT commented on #96809
@msftphleiten Thanks for reaching out. Let me take a quick look at this.

[2022-08-08 08:13] GitaraniSharma-MSFT commented on #96810
@FoliniC , thank you for your feedback. We'll review this and get back to you shortly!

[2022-08-08 08:14] GitaraniSharma-MSFT commented on #96808
@jinyihappy , thank you for your feedback. We'll review this and get back to you shortly!

[2022-08-08 08:15] surajssd opened #96811 "Link to kubenet is dead in "Network concepts for applications in AKS""
The link to the kubenet on this page is broken: https://docs.microsoft.com/en-us/azure/aks/concepts-network#kubenet-basic-networking

The snippet with the broken link:

Although, I could not find a new upstream place (link) to point this to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c7

[2022-08-08 08:25] martinstenhoff opened #96812 "AKS Kubernetes Release Calendar not matching reality"
According to the table _AKS Kubernetes Release Calendar_ 1.24 was supposed to be GA in July, but I can't see 1.24 GA in any Azure regions at the moment.
[code]

Nor can I see an [AKS release](https://github.com/Azure/AKS/releases) listed with a planned date for 1.24 GA. Is there a new date available for 1.24 GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-08-08 08:39] wongsie commented on #43731
You can use [value count](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/author-policies-for-arrays#value-count) to indicate wildcards for allowed resource types (defined in the parameters AllowedResourceTypes.

Also mentioned [here](https://stackoverflow.com/questions/66761270/azure-policy-matching-with-wildcards-from-an-array-parameter).

`"if": {
            "not": {

[2022-08-08 08:43] KapilAnanth-MSFT commented on #96810
@FoliniC ,

Can you please update your chrome to the latest version and give it a try?
Also, please disable your browser extensions, if any, and try again.

[2022-08-08 08:44] jiasli commented on #95977
`oauth2Permissions` is not a valid property of application object. Please see https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0

[2022-08-08 08:44] YashikaTyagi-MSFT commented on #96717
@tanktopSecurity
Thanks for your contribution for enhancing the Documentation. The changes have been performed and assigned for approval. The changes will be reflected in the document once it gets approve.

[2022-08-08 08:44] #96717 closed

[2022-08-08 09:02] YashikaTyagi-MSFT commented on #96787
@rahul-nagraj
Thanks for your contribution for enhancing the Documentation. The changes have been performed and assigned for approval. The changes will be reflected in the document once it gets approve.

[2022-08-08 09:02] #96787 closed

[2022-08-08 09:10] SudhirRaparla commented on #96447
az sql db restore, Azure CLI command does not support Geo-restore as of now. We are working on bridging this gap.

[2022-08-08 09:12] jovanpop-msft commented on #96556
Yes, it is available but we cannot list everything like all types of JOIN, APPLY, etc. All elements in SELECT that are not is the list below are supported:

SELECT statement | Yes. SELECT statement is supported, but some Transact-SQL query clauses, such as FOR XML/FOR JSON, MATCH, OFFSET/FETCH are not supported.

[2022-08-08 09:13] jovanpop-msft commented on #96556
#assign @KranthiPakala-MSFT

[2022-08-08 09:22] SadiqhAhmed-MSFT commented on #96784
@adi-garg Thank you for posting your question.
First thing, showing Recovery Services Vault is not mandatory as we are showing data flow and no data gets flown to Recovery Services Vault. Secondly, we go by creating source Storage account by Resource Group in source hence the Resource Group for Vault is selected. Any other resource group should be able to get selected however not the target Resour

[2022-08-08 09:28] SudhirRaparla commented on #96469
Hi @vlad-kozlov - Can you please confirm what is the Backup Storage Redundancy set to for the source database?

[2022-08-08 09:36] AnuragSharma-MSFT commented on #96805
@zhiweiv Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-08 09:38] BalUKurowej opened #96815 "Azure Storage Account manual migration of replication type from ZRS to GZRS"
I need to manually change the replication type to GZRS from ZRS for a storage account, unfortunately I cannot do it via Powershell, and according to documentation it can be done, but only as part of failover.
source:
https://docs.microsoft.com/en-us/azure/storage/common/redundancy-migration?tabs=portal#change-the-replication-setting

Transition ...from ZRS ...to GZRS/RA-GZRS:

Request a live migra

[2022-08-08 09:38] SadiqhAhmed-MSFT commented on #96713
@davidpomerenke Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-08-08 09:38] #96713 closed

[2022-08-08 09:41] AJ1058310 commented on #96536
@AnuragSharma-MSFT Thank you for your response.
OK, I understand.  I think it would be helpful if we can have the a table with values to explained the scenario define address and zipcode as unique keys.
Also, as I mentioned before.  In this doc: [how to define unique keys](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/cosmos-db/how-to-define-unique-keys.md), we can see the code ho

[2022-08-08 09:49] PriyankaRudramaina commented on #96812
@martinstenhoff,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-08 09:55] GitaraniSharma-MSFT commented on #96769
@rp-msft , We have assigned this issue to the respective product owner for review.

@mscatyao , Could you please provide your insights here?

[2022-08-08 10:33] VikasPullagura-MSFT commented on #96669
@abby984003004
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-08-08 10:33] #96669 closed

[2022-08-08 10:39] exeset opened #96817 "Instruction for adding CLI extension missing a dash"
[Enter feedback here]

The example CLI code to install the storage-preview extension is using a -name parameter as opposed to --name.  This doesn't work and causes an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d93704-cc4c-04a0-beb4-84983853cbb1
* Version Independent ID: c999a603-b02d-a56d-1bef-0cd4916b6a2b

[2022-08-08 10:43] jpd1 commented on #96782
Thank you for acknowledging the issue. I still see the Azure Portal throwing the error but it no longer blocks myself accessing the resource. I suspect something has been changed server side.

I'll close this issue and have added a note into the Stack Overflow link as well.

https://stackoverflow.com/questions/73260581/unable-to-access-key-vault-resource-due-to-error-message-number-of-groups-to-b

[2022-08-08 10:43] #96782 closed

[2022-08-08 10:46] synenet opened #96818 "Conflict experienced"
[Enter feedback here]
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Ext_VMExtensionProvisioningError","message":"There was an error while installing SqlIaasExtension on the virtual machine. Please completely uninstall and reins

[2022-08-08 10:48] AshokPeddakotla-MSFT commented on #96650
@ikumar222 400 Error means there's something wrong with the value of one of your properties. I.e, please check the connection string and container name and path specified. Specify the complete path and see if that solves your issue,

Also, suggest you to report this issue on the Azure IoT SDK python repo: https://github.com/Azure/azure-iot-sdk-python/issues

[2022-08-08 11:00] v-pgaddala commented on #94079
As per the latest documentation, the limits are applicable to VMware and Hyper-V scenarios only and not Hybrid DR scenarios. Hence, closing the issue.

[2022-08-08 11:00] v-pgaddala commented on #94079
#please-close

[2022-08-08 11:00] #94079 closed

[2022-08-08 11:02] v-pgaddala commented on #94114
As confirmed by the PM, currently we don't have the delete appliance capability. You can therefore delete the recovery services vault itself.

[2022-08-08 11:02] v-pgaddala commented on #94114
#please-close

[2022-08-08 11:02] #94114 closed

[2022-08-08 11:09] Sandeg-MSFT commented on #96807
@dmakovec-astralas
Thank you for the update. We will investigate this further and will get back to you.

[2022-08-08 11:19] Sandeg-MSFT commented on #96806
@anigan

Thank you for bringing this to our notice. We will investigate this further and will get back to you.

[2022-08-08 11:21] MayankBargali-MSFT commented on #96516
@HariKrishnaRajoli-MT MicrosoftDocs Github issue is mainly related to the document issue and not related to troubleshooting issue. I will recommend creating a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

As you are getting h2o module not found error make sure you have installed the added h20 module in y

[2022-08-08 11:21] #96516 closed

[2022-08-08 11:27] Sandeg-MSFT commented on #96811
@surajssd
Thank you for updating us on this. We will investigate this further and will get back to you.

[2022-08-08 11:32] Sandeg-MSFT commented on #96815
@BalUKurowej

Thank you reaching out to us. We will look into this and will get back to you with possible solution

[2022-08-08 11:41] SetTrend commented on #96613
Thanks so much, @tfitzmac, for all your excellent efforts!

I couldn't find your commit in the repo yet. Did you commit your changes?

[2022-08-08 11:42] SreejaBhattacharya-MSFT commented on #96809
Hi @MsGabsta , could you please confirm if the above distros support Network Watcher Agent extension? If they do, then we will have to update the documentation. Thanks.

[2022-08-08 12:08] tomaustin700 commented on #61238
SwathiDhanwada-MSFT - I'm not sure why this has been closed, there is no way as far as anyone can see to retrieve the query string parameters from insights.

[2022-08-08 12:33] neothoms opened #96820 "Very bad Translation for this service."
[Enter feedback here]

In french this page is completely useless.
Just in the first paragraph, the "Protected Health Information" is translated 2 times to "les informations d’intégrité" wich means Integrity informations.
In some Databases context Data health may be translated to "intégrité des données" but in the Health context the translation it is completely wrong.

"Protected Health Information

[2022-08-08 12:33] ManoharLakkoju-MSFT commented on #96770
@JavierMonleonLopezMW
Thanks for your contribution for enhancing the documentation.
Set **client_id** to the application ID from the application registration.
You can refer below doc enhancement made easy understanding
"Set **client_id** to the application ID from the application registration, where `Client_id` is your Azure AD identity Provider"

[2022-08-08 12:54] SreejaBhattacharya-MSFT commented on #96564
Docker is the default container runtime for windows nodepools till AKS version 1.22
Hope that clears your doubt

[2022-08-08 12:54] #96564 closed

[2022-08-08 12:54] calazlo opened #96822 "Update [invalid source anchor]"
[Please update the last topic: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-source-anchor#invalid-source-anchor-in-sync-engine

Cause: [by design] On a clean install we are validating if the selected anchor attribute is valid on each connector.
Solution: Please make sure that the selected anchor attribute is present on all AD connectors schema/AD connected director

[2022-08-08 12:55] guywi-ms commented on #96453
@geekzter Thanks very much for raising this issue and apologies for the content move. The table is now here: https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-dependency-agent-maintenance#dependency-agent-linux-support.
I've put up a couple of PRs to redirect from other pages to the table's new location. The updates should be live soon.
I'm closing this issue, but please reopen if

[2022-08-08 12:55] #96453 closed

[2022-08-08 13:09] kobulloc-MSFT commented on #96818
@synenet Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-08-08 13:22] benc-uk opened #96823 "Reference to Docker Machine is out of date"
This page mentions using Docker Machine to manage & run containers. The Docker Machine project was shut down several years ago and is no longer maintained.

https://github.com/docker/machine

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7b8330-007e-d13b-ce2e-c9f1dd9ea06b
* Version Independent ID: ace5ecf4-2021-63a7-

[2022-08-08 13:31] amitlals commented on #96433
Hello, Awaiting for an update before I share it with our customers. Thanks.

[2022-08-08 13:39] MonikaReddy-MSFT commented on #96741
@bwren - Thanks for sharing your insights.
@dimilider - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-08 13:39] #96741 closed

[2022-08-08 13:40] MonikaReddy-MSFT commented on #95274
@stevejmorgan  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-08-08 13:48] sruthiy4347 commented on #15782
Hi I am running into teh same issue. Can you share what the resolution for this is

[2022-08-08 13:50] tfitzmac commented on #96613
Here's [the commit](https://github.com/MicrosoftDocs/azure-docs/commit/2e049d88b7755680e82d422a27c570f7a926bd8f) for the conceptual article about functions. The update for the PowerShell reference is still awaiting approval.

[2022-08-08 13:51] Reisclef commented on #95498
Hi @RyanHill-MSFT . It's been a month since this was raised. Just checking something. Is this likely to be looked at soon?

Just wondering if I should raise a support case in Azure in the meantime, as we can't currently link new projects in Firebase to Azure Notification Hubs due to this. I don't mind the documentation taking a bit longer, just want to make sure we have a route forward.

Thanks!

[2022-08-08 14:08] johnmarco commented on #94863
@edyoung I'm assuming you've seen the comment I left above by now, so I'm unassigning myself from this issue. If you want to move forward with something let me know.

[2022-08-08 14:08] austinmccollum commented on #96806
Technically you're right @anigan - every subscription is tied to exactly one Azure AD tenant. The tenant can be inferred here though. Or better yet, a decision about the tenant can be deferred to later if the reader jumps on the Azure train. Because you can't create a subscription without a tenant, and the "create a [free account](https://azure.microsoft.com/free/?WT.mc_id=A261C142F)" link helps a

[2022-08-08 14:18] AdelaManea opened #96825 "Suggestion regarding possible actions in Portal to assign RBAC role at certain scope"
Hello team,

I am a CSS Azure Storage engineer, and I am sharing this feedback partly from customer partly from myself.

In this documentation, this section mentions the following:
![image](https://user-images.githubusercontent.com/67159737/183438139-8a953d54-643f-4241-8a47-97e4766e0c23.png)

Customer wanted to assign required permissions (meaning this role Microsoft.EventGrid/EventSubscriptions/W

[2022-08-08 14:33] nanadin opened #96826 "The No-NAT section is incorrect. You would add a "No SNAT" rule on the T1 gateway for any RFC 1918 address so that it does not Source NAT traffic going to internal addresses."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56df5809-2279-b1a7-a845-c8eb6e0402ec
* Version Independent ID: 3827982e-1d2a-7591-8b2f-fadfb03fb71c
* Content: [Enable Public IP to the NSX Edge for Azure VMware Solution (Preview) - Azure VMware Solution](https://docs.microsoft.com/en-us/azure/azure-

[2022-08-08 14:52] tfitzmac commented on #96474
@damochiz - thanks for this feedback. I have more text to clarify the effect of locks. The update should get published later today.

#please-close

[2022-08-08 14:52] #96474 closed

[2022-08-08 14:52] gerijani opened #96828 "Login not working with expose-token"
The description of how to use token for authentication in this article is completely useless and not working at all
I've done a
[code]
And when I don't use -u (as it actually should work):

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df40e112-6cf4-f6ce-4d82-d36bbd561405
* Version Independent ID: a68e6e7b-dfa2-

[2022-08-08 15:02] asos-andrewgoad opened #96829 "Improve CaptureDescription examples for Data Lake to indicate if its Gen1 or Gen2"
It would be helpful if it indicated for `captureDescription` that Data Lake Storage Gen1 is

[code]

but for Data Lake Storage Gen2 is

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d773e868-be53-1746-c66b-3391c16d38ea
* Version Independent ID: f37b432b-2611-8fb3-0859-cd3917277764
* Content: [Create an event hu

[2022-08-08 15:14] JamesTran-MSFT commented on #96822
@calazlo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-08 15:27] VikasPullagura-MSFT commented on #96826
@nanadin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-08 15:27] VikasPullagura-MSFT commented on #96826
@suzizuber
Can you please check and add your comments on this doc update request as applicable.

[2022-08-08 15:36] MartinJaffer-MSFT commented on #96555
Okay, so if I file does not exist, then it cannot have a size.  You may argue that the size is zero, but note that you can also have a file of size 0.

So what you want to use is the null-safe operator.

@activity('Get Metadata1').output.?size
@activity('Get Metadata1').output?.size

it is one of the two above.  I get them confused.  The ? null-safe operator makes it so no error is thrown when the

[2022-08-08 15:45] SumanthMarigowda commented on #96817
@exeset
Thanks for the question! We are investigating and will update you shortly.

[2022-08-08 15:53] daiplusplus opened #96830 "Documentation does not describe exactly what the App Service "Application logging" setting actually does"
The documentation for the "App Service logs > Application logging" settings in the Azure Portal blade for App Services does not describe what exactly the setting _actually_ does.

![image](https://user-images.githubusercontent.com/1693078/183458514-acaf195d-90fb-4a6e-b641-6759c89e0672.png)

The text currently says this:

Consider that:

* The description says "generated by your application code" a

[2022-08-08 15:59] khdownie commented on #74250
@ZeffyReport
This seems obvious, as we say "you can grant full permissions to all directories and files under the file share, including the root directory." The parent would be one level up from the root.

[2022-08-08 15:59] itishnitsa opened #96831 "Identifier field"
Step 2 of 'Update the SAML configuration' section states:
"**Make sure the External URL you configured in Application Proxy is populated in the Identifier**, Reply URL, and Logout URL fields. These URLs are required for Application Proxy to work correctly."
But in the screenshot, the Identifier is the app name, not the app proxy external URL. Can you please clarify what should go into Identifier (

[2022-08-08 16:16] manojsgh commented on #90288
In this case, I cannot use AFD Managed certificates.

Can this be addressed using powershell, API or Az cli ? (to use Managed AFD certificates)

[2022-08-08 16:25] cynthn commented on #83160
#reassign:mattmcinnes

[2022-08-08 16:29] mikaelweave commented on #94778
@GeethaThatipatri-MSFT, can we close this due to no response from the submitter?

[2022-08-08 16:29] lauradolan commented on #81833
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-08-08 16:29] #81833 closed

[2022-08-08 16:31] #89233 closed

[2022-08-08 16:31] Oury-MSFT commented on #96606
@sravanisaluru could you please share your inputs on the above feedback from customer.

[2022-08-08 16:31] cynthn commented on #86681
@stefanes The text in question no longer exists in the file. I recommend checking this topic for any updates to quotas: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#compute-gallery-limits

#please-close

[2022-08-08 16:31] #86681 closed

[2022-08-08 16:33] alumriel commented on #95481
@curtand any update? My manager is asking for a status.

[2022-08-08 16:35] lauradolan commented on #81995
It looks like this question has already been resolved, so I'm closing this issue. #please-close

[2022-08-08 16:35] meepstei opened #96832 "Multi-container apps should be listed as a limitation"
[Enter feedback here]
Based on this [feedback ](https://docs.microsoft.com/en-us/answers/questions/118045/are-managed-identities-for-multi-container-webapps.html)  and [MS official docs](https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#preview-limitations) Multi-containers should be listed as a limitation for MI.

---
#### Document Details

⚠ *Do

[2022-08-08 16:35] #81995 closed

[2022-08-08 16:40] lauradolan commented on #83011
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-08-08 16:40] #83011 closed

[2022-08-08 16:42] theragingwookie opened #96833 "nsg setup process for azure lab services with vnet injection"
[Enter feedback here]
Please add an option to use a service tag to specify the source VMSS rather than forcing us to use any

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37f118af-59e9-03f9-8b56-6ff6aa2792a3
* Version Independent ID: ccbd5b09-fe1e-0b55-2170-06b6ed0e02cc
* Content: [Connect to your virtual network in A

[2022-08-08 16:44] eringreenlee commented on #96013
note: translate to MS Graph instead of AAD graph

[2022-08-08 16:50] cynthn commented on #86816
Looks like @ericd-mst-github has this feedback and is working on this with engineering, so I'm going to close this for now. #please-close

[2022-08-08 16:50] #86816 closed

[2022-08-08 16:53] cynthn commented on #87149
#reassign:mattmcinnes

[2022-08-08 16:57] MsGabsta commented on #96809
I am looking into this.

[2022-08-08 17:01] jboback commented on #95413
#please-close

[2022-08-08 17:01] #95413 closed

[2022-08-08 17:13] sr-msft commented on #96692
Thanks for the feedback. We will look into this and update the docs.

[2022-08-08 17:16] Copennin opened #96835 "ACS-Bot Quickstart documentation issues"
A few issues:

1. https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/chat/quickstart-botframework-integration#step-3---enable-azure-communication-services-chat-channel
In Step 3. You have a blocker - not ideal. If you have a known blocker, why don't you inform customers/users how they can allow-list their ACS/ABS resource?

![image](https://user-images.githubusercontent.com/

[2022-08-08 17:18] abhayea commented on #96555
that is of no help to me because I want to use size property regardless. This limitation of get metadata activity that when exists": false then get metadata does not produce the output of size. I want to have a condition that if file size is more than 500 Mb then do NOT copy anything to the destination, and if the file size if less than 500 mb then copy to the destination.

If the file size is 0 o

[2022-08-08 17:18] KranthiPakala-MSFT commented on #96825
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-08 17:25] ConfigConfused opened #96836 "Page is no longer correct"
Section titled "How can I roll over the Kerberos decryption key of the `AZUREADSSO` computer account?" is no longer correct. Azure AD powershell module is deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
* Version Independent ID: 5c8b677b-f4cd-0bb5-c7d6-9b1ef903dad4
* Cont

[2022-08-08 17:28] mbender-ms commented on #96719
Verifying information with PG and will update appropriately.

Thanks for the feedback!

[2022-08-08 17:31] nbroad1881 opened #96837 "Request: More specific CUDA details"
Your page has this:

Description: An environment for deep learning with PyTorch containing the AzureML Python SDK and other Python packages.
GPU: Cuda11
OS: Ubuntu18.04
PyTorch: 1.10

I can't tell which version of CUDA it is because 11 could mean 110, 111, 112, 113 etc. I'm assuming it means 111, but I'd prefer if it explicitly said which one.

---
#### Document Details

⚠ *Do not edit this sectio

[2022-08-08 17:37] davidsmatlak commented on #96435
I submitted the fix for this issue and after it's approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-08-08 17:47] msangapu-msft commented on #95649
#re-assign: msangapu-msft

[2022-08-08 17:48] msangapu-msft commented on #95649
@sekhemrekhutawysobekhotep Are you still seeing the issue?

[2022-08-08 17:55] tfitzmac commented on #96309
@SetTrend - thanks for this suggestion. I agree describing the different uses and tools has been a challenge. I add more clarification around the options.

[2022-08-08 17:58] tfitzmac commented on #96309
#assign:tfitzmac

[2022-08-08 18:02] tfitzmac commented on #85181
@MonikaReddy-MSFT - can we remove azure-resource-manager/svc from the labels? It is also assigned to managed-applications/svc which is the correct designation.

[2022-08-08 18:04] PriyankaRudramaina commented on #96812
@martinstenhoff,

I am unsure, what exactly is your output, but we can see 1.24 (preview) in both cli and portal, of above command but here atleast for east US:

![image](https://user-images.githubusercontent.com/95755055/183483727-4649d5c5-3bd1-4e13-b3a0-94da123f8888.png)

Portal:
![image](https://user-images.githubusercontent.com/95755055/183483794-cdfea320-d6d8-4b18-abae-71ed7ff39c2e.png)

[2022-08-08 18:09] KranthiPakala-MSFT commented on #96556
Thank you @jovanpop-msft for sharing your inputs.

@sachinraghu - Hope the above info provided was helpful.

If you have any additional product feedback, we encourage you to please log them in IDEAS Forum here : https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8 and do share the feature request link here. All the feedback shared in IDEAS forum are actively monitore

[2022-08-08 18:09] #96556 closed

[2022-08-08 18:10] #96435 closed

[2022-08-08 18:10] tamram commented on #96788
#reassign: @pauljewellmsft

[2022-08-08 18:12] PriyankaRudramaina commented on #96812
@palma21 - Could you please share the inputs here?

[2022-08-08 18:14] PriyankaRudramaina commented on #96833
@theragingwookie

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-08 18:14] Girishpdesai opened #96840 "Who can access it? Any user (non-admins) can access their own sign-ins"
The document says "Any user can access their own sign-ins" But the Graph API does not support fetching the self sign in (success or failures) for the app. Do you have any documentation around how to do this?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 063b43ef-9d19-f5c8-e703-8e86dba97745
* Vers

[2022-08-08 18:15] PriyankaRudramaina commented on #96828
@gerijani
Thank you for your feedback. We will investigate and update the thread further.

[2022-08-08 18:16] ryankmcintyre opened #96842 "Incorrect method shown for local testing with AzureClient"
This page shows using LOCAL_MODE_TENANT_ID from "@fluidframework/azure-client" when setting up the connection, but LOCAL_MODE_TENANT_ID doesn't exist. Maybe it did in a prior version of azure-client.

The correct method to configure and create an AzureClient for local testing seems to be the method shown [here](https://github.com/microsoft/FluidFramework/blob/main/azure/packages/azure-client/READM

[2022-08-08 18:23] konrad-jamrozik commented on #95196
@bwren I understand this is not for ADX dashboards, but then how I am supposed to discover existence of these dashboards? I would fully expect for it to be mentioned somewhere in the "Other visualizations" section or "Dashboards" subsection, but it isn't.

![image](https://user-images.githubusercontent.com/4429827/183486778-c6268394-d9be-4ef9-aca0-ac7d99572692.png)

[2022-08-08 18:26] PriyankaRudramaina commented on #96833
@j-martens - Could you please review this and update if this is possible?

[2022-08-08 18:28] TBSJordanNash opened #96843 "Create and associate a 'Monitored Object'"
The paragraph "Create and associate a 'Monitored Object'" fails to explain **how** to create a "Monitored Object".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 744bf603-c4e7-5ffe-90ad-11735813335b
* Version Independent ID: 518ed1e0-13b8-0f85-03e8-d729ec99d290
* Content: [Set up the Azure Monitor agent on Windows clie

[2022-08-08 18:29] #96808 closed

[2022-08-08 18:30] GitaraniSharma-MSFT commented on #96808
@jinyihappy , thank you for bringing this to our notice. I've updated the correct link/URL for NSG in the doc and it should reflect shortly!

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-08-08 18:33] ilyalushnikov commented on #95276
Assume you have three assignments:
1. UserA has active assignment as Member of the PAG1.
2. UserB has active assignment as Member to the PAG1.
3. PAG1 has eligible assignment to the Exchange Administrator role.

After that, UserA goes to "My roles -> Azure AD Roles" page and activates Exchange Administrator tole for themselves.
I don't see how we would end up in a situation when multiple users wil

[2022-08-08 18:36] PriyankaRudramaina commented on #96473
@devndive

As per the internal team. It is still currently in preview. GA will hopefully be in a week or two. The announcement page will be taken down to avoid confusion. Please check back in a week or so for the updates.

Thanks for surfacing this document issue, we appreciate your contributions to our document improvements.

[2022-08-08 18:36] #96473 closed

[2022-08-08 18:36] cynthn commented on #87724
I added in a warning that you should make sure that the disks are set to `detach` instead of [delete](delete.md). Thank you!

#please-close

[2022-08-08 18:36] #87724 closed

[2022-08-08 18:47] PatrickFarley commented on #92344
As far as I know, this isn't available because the different services handle CMK differently.

[2022-08-08 18:47] MarileeTurscak-MSFT commented on #96831
@itishnitsa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-08 18:47] MarileeTurscak-MSFT commented on #96836
@ConfigConfused
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-08 18:49] PatrickFarley commented on #92344
#assign:@PatrickFarley

[2022-08-08 18:50] mmonsma opened #96845 "Broken link to machine learning open source resources"
Hello - the page link leads to a 404: https://docs.microsoft.com/EN-US/azure/machine-learning/concept-open-source
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ab4665-2ea9-5312-e107-28d8d7e2a111
* Version Independent ID: 4f862540-1c4f-5b03-a61a-42026ef3b00f
* Content: [What is Azure Machine Learning? - Azure Machine

[2022-08-08 18:57] GeethaThatipatri-MSFT commented on #94778
@gravlindon We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-08-08 18:57] #94778 closed

[2022-08-08 19:06] WhyTabs opened #96846 "STT Writing systems/scripts"
For each language in STT, what is the character set used for the returned transcript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language support - Speech service - Azure Cognitive Services](https://docs.

[2022-08-08 19:07] simonpo opened #96847 "Links to VI intake form direct to old Custom Neural Voice intake form"
There are four links to an intake form to apply for use of limited access features in Azure Video Indexer in the table entitled "Limited Access Features"

Each of those links hyperlinked as "intake form" take you to an intake form for Azure Cognitive Services Custom Neural Voice Limited Access Review, at https://customervoice.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR7en2Ais5px

[2022-08-08 19:25] aahill commented on #94795
Thanks, I've updated the article.

#please-close

[2022-08-08 19:25] #94795 closed

[2022-08-08 19:27] aahill commented on #96462
Thanks for raising this issue, we've updated the links.

#please-close

[2022-08-08 19:27] #96462 closed

[2022-08-08 19:28] MarileeTurscak-MSFT commented on #96840
@Girishpdesai
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-08 19:31] DerekHerman-MSFT commented on #96758
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-08 19:35] MarileeTurscak-MSFT commented on #96684
There are some limitations a round what Google expects for the browser. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1561

Since I have not heard back from you, we will proceed to close this thread.

If you have further questions I would recommend reaching out on the Google forums or on Microsoft Q&A.

[2022-08-08 19:35] #96684 closed

[2022-08-08 19:42] tejaswikolli-web commented on #94736
The cross-tenants doesn't work across the clouds.

#please-close

[2022-08-08 19:42] #94736 closed

[2022-08-08 19:45] MicrosoftGuyJFlo commented on #96439
Opened a PR linked to this issue that adds the note to the hybrid join doc and passed the feedback along to the product group.

[2022-08-08 19:48] mloskot opened #96849 "Documented image aliases (acr or bash) not available for az acr run --platform windows"
The images aliases documented here are not available when running a task with `--platform` windows.
See detailed report submitted here https://github.com/Azure/acr-builder/issues/634

I'm copying it here in case it is by design, but then the documentation is significantly lacking (there has been more issues submitted to `acr-cli` related to `--platform windows`).

---
#### Document Details

⚠ *Do

[2022-08-08 19:53] #96439 closed

[2022-08-08 19:57] AsmarFontenot commented on #51379
I'm suddenly running into this exact same issue. Azure Automation DSC was compiling my configs yesterday, then suddenly today having this error and my compilation jobs are indefinitely suspended. Has this been resolved? I will try the work around of locally compiling the MOF file.

[2022-08-08 20:00] KranthiPakala-MSFT commented on #96683
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-08-08 20:00] #96683 closed

[2022-08-08 20:21] JamesTran-MSFT commented on #96640
@impos73r
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

**[Create threat intelligence indicator example:](https://docs.microsoft.com/en-us/graph/api/tiindicators-post?view=graph-rest-beta&tabs=http#examples)**
![image](https://user-images.githubusercon

[2022-08-08 20:21] #96640 closed

[2022-08-08 20:24] JamesTran-MSFT commented on #96822
@calazlo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-08 20:28] #96693 closed

[2022-08-08 20:55] martinstenhoff commented on #96812
@PriyankaRudramaina

Yes I am seeing "1.24.0(preview)" in all regions. Since 1.24 GA (according to the docs) was supposed to be released in July I expect the version to be listed as just "1.24.0", without the preview label.

[2022-08-08 21:00] ShoaibBazmi opened #96851 "AADSTS1002016"
I had login with Azure enabled on one of my PHP apps and I followed the following document to enable this feature using cUrl https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

It was working fine until a couple of days ago, after receiving authorization code when I make request for tokens i.e [https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token](h

[2022-08-08 21:07] James-Hamil-MSFT commented on #96851
Hi @ShoaibBazmi , thank you for the question. However, please post this on our [Q&A forum](https://docs.microsoft.com/en-us/answers/index.html) as this channel is used for documentation issues.

Thank you,
James

[2022-08-08 21:07] #96851 closed

[2022-08-08 21:11] mumurug-MSFT commented on #96677
@SiyabongaVulindlelaBlessingMngomezulu Just a follow up on my previous comment, to see if you can share additional details on the issue you faced. I am looking to your response.

[2022-08-08 21:11] cynthn commented on #87835
#please-close This article has been archived.

[2022-08-08 21:12] #87835 closed

[2022-08-08 21:13] cynthn commented on #87851
#reassign:ericd-mst-github Can you take a look at this and see if it is fixed? If it is fixed, can you close this? Thanks :)

[2022-08-08 21:17] cynthn commented on #87872
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-08-08 21:17] #87872 closed

[2022-08-08 21:17] cynthn commented on #88537
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-08-08 21:17] #88537 closed

[2022-08-08 21:31] #96845 closed

[2022-08-08 21:34] diberry opened #96854 "Add Link to sample code"
Please add link to sample code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6486232e-d58e-fe4e-1d88-2b3d3d281dc3
* Version Independent ID: d5e93d37-d132-27e0-ff95-72cfde1653d6
* Content: [Tutorial: Sign in users in a Node.js & Express web app - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/

[2022-08-08 21:42] MarileeTurscak-MSFT commented on #96854
@diberry is this the sample you would like referenced? https://github.com/Azure-Samples/ms-identity-node

[2022-08-08 21:47] Remnantique opened #96855 "Documentation out of date"
The images provided in the guide are of the old UI!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908053a8-ebc0-35ec-87ad-24e59f587eb9
* Version Independent ID: c8b90a6a-c37f-68eb-1e1d-54322eae9324
* Content: [Create a Front Door with HTTP to HTTPS redirection using the Azure portal](https://docs.microsoft.com/en-us/a

[2022-08-08 21:50] diberry commented on #96854
Can you ask @derisen ? I think the same code is actually listed in a couple of repos.

[2022-08-08 21:58] xlegend1024 opened #96856 "Is 'Azure Data Factory Analytics (Preview)' no longer available?"
Hello,

I've tried to follow the instructions in this document, but I couldn't find the 'Azure Data Factory Analytics (Preview)' from Azure Marketplace.
Is this still valid or no longer supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 951c2d0e-af3d-cac8-3008-086c003c02bf
* Version Independent ID: ee359429-de3f

[2022-08-08 22:20] jahobson75 opened #96857 "Missing Installation Links"
Under the Set up the Storage Account section, step 5 is missing directions on how to install the packages listed:
pip3 version pip-21.3.1.tar.gz
wheel version 0.37.1
jq version 1.6
ansible version 2.9.27
netaddr version 0.8.0
zip
netaddr version 0.8.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6605806-2b0b-6885-59

[2022-08-08 22:20] aashishr commented on #92175
@Krishna ***@***.***>- can you take a look?

From: Batami Gold ***@***.***>
Sent: Tuesday, July 26, 2022 10:42 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Aashish Ramdas ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] The Deployment Script used to install and apply the CEF collector causes changes to Selinux Context , hence causing rsyslog service failing to start (

[2022-08-08 22:24] jahobson75 opened #96858 "Navigation under Download SAP media"
Under the Download SAP media, step 3 - the navigation to generate the SAS token is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6605806-2b0b-6885-5912-eed339791d98
* Version Independent ID: e623f51f-cf84-5258-45c3-58ea81821376
* Content: [Install SAP software (preview)](https://docs.microsoft.com/en-us/az

[2022-08-08 22:57] KranthiPakala-MSFT commented on #96856
@xlegend1024 Thanks for reaching out. You are correct, seems like it is no longer available in Marketplace. I'm reaching out to internal team to get additional information regarding this feature and will get back to you as soon as we have an update from the team.

We appreciate your patience.

[2022-08-08 23:11] mike-urnun-msft commented on #96832
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-08 23:59] Grace-MacJones-MSFT commented on #96837
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-09 00:02] Grace-MacJones-MSFT commented on #96830
Hi @Jehoel, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-08-09 00:04] ChaitanyaNaykodi-MSFT commented on #96855
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-09 00:05] Grace-MacJones-MSFT commented on #96846
Hi @WhyTabs, thanks for the Comment. We are actively investigating and will get back to you soon.

[2022-08-09 00:11] Grace-MacJones-MSFT commented on #96843
Hi @TBSJordanNash, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-08-09 00:13] Grace-MacJones-MSFT commented on #96843
cc: @shayoniseth

[2022-08-09 03:09] SpitFire-666 opened #96861 "What frequency are the update checks?"
"Azure AD Connect automatic upgrade is a feature that regularly checks for newer versions of Azure AD Connect."

Just wondering how and when? Eg was hoping to find if it's a daily/weekly type thing or random? Couldn't see any scheduled tasks on the server.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e192eab2

[2022-08-09 03:11] #96775 closed

[2022-08-09 03:13] sreekzz commented on #96601
I will work with the PM @apurbasroy on this and get back to you.

[2022-08-09 03:39] JFolberth opened #96862 "Data Factory Operations"
It appears that factories/pipelines are not removed during a complete deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39a7b827-35ff-060d-55ea-591d6d168025
* Version Independent ID: 506704c2-309f-cff4-6c75-ad42d44a7dfb
* Content: [Complete mode deletion - Azure Resource Manager](https://docs.microsoft.com/en-

[2022-08-09 03:52] Sandeg-MSFT commented on #96849
@mloskot
Thank you for bringing this to our notice. I have assigned this to author to look into this further. We will do those necessary changes if they are valid.

[2022-08-09 04:01] Sandeg-MSFT commented on #96823
@benc-uk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-09 04:02] Sandeg-MSFT commented on #96823
@maertendMSFT
Can you look into this

[2022-08-09 04:05] Sandeg-MSFT commented on #96842
@ryankmcintyre
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-09 04:06] Sandeg-MSFT commented on #96842
@hickeys
Can you please check and add your comments on this doc update request as applicable.

[2022-08-09 04:08] Sandeg-MSFT commented on #96847
@simonpo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-09 04:09] Sandeg-MSFT commented on #96847
@Juliako
Can you please check and add your comments on this doc update request as applicable.

[2022-08-09 04:09] Grace-MacJones-MSFT commented on #96835
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-08-09 04:13] Sandeg-MSFT commented on #96857
@jahobson75
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-09 04:13] Sandeg-MSFT commented on #96857
@lauradolan
Can you please check and add your comments on this doc update request as applicable.

[2022-08-09 04:17] Sandeg-MSFT commented on #96858
@jahobson75
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-09 04:17] Sandeg-MSFT commented on #96858
@lauradolan
Can you please check and add your comments on this doc update request as applicable.

[2022-08-09 04:32] CHEEKATLAPRADEEP-MSFT commented on #96491
@axcap  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-09 04:33] amanmcse commented on #96861
@SpitFire-666 Thank you for your feedback. We will investigate and update the thread further.

[2022-08-09 05:15] MughundhanRaveendran-MSFT commented on #96450
Scenario-1:

Powershell functions are created with ps core (~ version 6 and above). Generally powershell core scripts can be run in VS code using powershell extension. Which is the reason it works when you run it in VS code. The same project would not work in Visual studio because VS is primarily meant for .net framework/core projects. However by installing tools/extensions, non .net language proj

[2022-08-09 05:22] AnuragSharma-MSFT commented on #96536
@AJ1058310 Thanks for replying back.

{'paths': ['/address/zipCode']}: This is used when we have nested attributes, like zipcode will be part of address attribute in the document and we are defining the unique key on zipcode inside address attribute.

{'paths': ['/address', '/zipCode']}: This is used when we have different attributes to the document, both these properties combined together will fo

[2022-08-09 05:27] SnehaAgrawal-MSFT commented on #96700
@TF-Jonny Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-08-09 05:48] Venkateshdodda-MSFT commented on #96582
@pnarsi Apologies for the delay, I'd been discussing on this internally with our product engineering team. On App Service AES is not supported at this time, until then Triple DES needs to be encryption type to use while exporting to PFX. There is no ETA to share on this yet. The documentation is currently accurate. Thanks for taking time to share your value feedback.

[2022-08-09 05:48] #96582 closed

[2022-08-09 05:51] PriyankaRudramaina commented on #96833
@theragingwookie,

I have assigned the thread to the content author to review further and update as appropriate.

[2022-08-09 05:58] SreejaBhattacharya-MSFT commented on #96811
Fixed the kubenet link. Thanks.

[2022-08-09 05:58] #96811 closed

[2022-08-09 06:00] Aprilllllll opened #96863 "Azure CNI is not mandatory for AGIC now, the prerequisite part here confuses readers"
Prerequisites
This document assumes you already have the following tools and infrastructure installed:

[AKS](https://azure.microsoft.com/services/kubernetes-service/) with [Azure Container Networking Interface (CNI)](https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni)

This is not the mandatory prerequisites for v2 AGIC. As long as we can add routetable to AG's subnet, kubenet plugin

[2022-08-09 06:01] amantaras opened #96864 "This article also talks about user-assigned NAT Gateway"
Hello there,

The article's tittle is "Managed NAT Gateway", but it is also explaining how to set up AKS to use a user-assigned (byo).

This is confusing. I would improve the documentation by selecting one of the below options:

1. You change the article's title to something like this: Managed and user-Assigned NAT Gateway for AKS
2. You create another article dedicated exclusively to user-Assigne

[2022-08-09 06:22] jspaans91 opened #96866 "[Application Gateway] Add limit of trusted client CA certificate chains for a SSL Profile"
The limit of 5 trusted client CA certificate chains for a SSL Profile is currently missing in the limit section of the Application Gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscription li

[2022-08-09 06:23] martinstenhoff commented on #96812
It looks like the 1.24 GA release has just slipped by a couple of weeks https://github.com/Azure/AKS/issues/3003

[2022-08-09 06:35] neallee2012 opened #96867 "Can Azure Front Door load balance or route traffic within a virtual network?"
Hi,

According to [Can Azure Front Door load balance or route traffic within a virtual network?](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#can-azure-front-door-load-balance-or-route-traffic-within-a-virtual-network-), it mentioned no AFD directly cannot route within a virtual network, and can only using Application Gateway or Azure Load Balancer in between will solve this sce

[2022-08-09 06:38] KapilAnanth-MSFT commented on #96867
Hi @neallee2012, Thanks for your feedback. We shall review this and get back to you shortly

[2022-08-09 06:51] KapilAnanth-MSFT commented on #96863
Hi @Aprilllllll, Thanks for your feedback. We shall review this and get back to you shortly!

[2022-08-09 07:11] PriyankaRudramaina commented on #96812
@martinstenhoff,

Thanks for adding the post. Yes, as per the internal sources the release is work in progress. We will be making revisions on the document as soon as GA is ready.

Thanks again for surfacing this issue.

[2022-08-09 07:11] #96812 closed

[2022-08-09 07:21] AJ1058310 commented on #96536
@AnuragSharma-MSFT Thanks a lot! It's very clear.

[2022-08-09 08:06] AnuragSingh-MSFT commented on #96807
@dmakovec-astralas, thank you for reporting this issue. I am assigning it to our content team for further review and update.

@JnHs, can you please review the issue and share your thoughts. Thank you

[2022-08-09 08:10] KapilAnanth-MSFT commented on #96863
We have assigned this thread to the author for further review.

@mscatyao, please check the above suggestion and provide your insights.

[2022-08-09 08:16] Sandeg-MSFT commented on #96862
@JFolberth
Thank you for bringing this to our notice. We will look into this issue and will get back to you.

[2022-08-09 08:18] abby984003004 commented on #96669
Thank you @VikasPullagura-MSFT!

[2022-08-09 08:21] jianlongsu opened #96869 "Want to know more details about vm naming conventions"
[Enter feedback here]

Hi, I want to know details about vm naming conventions:
1. From the doc's examples, alphanumeric and underscore and dash are valid chars. Are there any other more chars? Like '@' '$' and so on.
2. I am a little confused about the appearing timing of underscore and dash. Is there a rule about it (like regex expression) ?

---
#### Document Details

⚠ *Do not edit this section

[2022-08-09 08:26] KapilAnanth-MSFT commented on #96867
We have assigned the thread to the author for further review.

@duongau, please check the above suggestion and update the docs accordingly.

[2022-08-09 08:29] cveld opened #96870 "Example for structured logging using TypeScript"
Can you provide an example how we should go ahead with structured logging using TypeScript?

Is it something like:

[code]

I would say update the docs with some encouragement to the reader to always apply structured logging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version

[2022-08-09 08:30] mirroj commented on #95675
I believe it's because you are running the command from folder C:\WINDOWS\system32 and you have no access rights to write to file conn.rdp. Try running the command from a different folder

[2022-08-09 08:32] KapilAnanth-MSFT commented on #96810
@FoliniC ,

Can you please let us know if you got a chance to review my previous comment?

[2022-08-09 08:39] PriyankaRudramaina commented on #96793
@SashWind,

Thank you for surfacing this feedback. I have updated the content author to make the changes in the document as necessary. Please note that some parts of this document are going through bulk updates and will be updated to reflect the portal settings accurately.

For this specific section, updating the RDP properties with the below format of parameters is another method, hence still wor

[2022-08-09 09:03] takeakitake opened #96872 "Please add to support Hybrid Azure AD or not to comparison table"
Azure AD Connect and cloud sync does not support Hybrid Azure AD because device objects sync is not supported. There is "Support for device objects" in comparison table but Hybrid Azure AD is not.
Please add to support Hybrid Azure AD or not to comparison table. It will make its features easier to understand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-08-09 09:21] SteveHindmarsh commented on #96117
There are various workarounds for this as seen, however these commands only allow you to update the complete list of virtual path mappings for the app service, I cannot just add a single (or multiple) new mapping to the existing list. Is there a command to achieve this? This aspect is not closed?

[2022-08-09 09:39] SadiqhAhmed-MSFT commented on #96784
@adi-garg Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-08-09 09:40] SadiqhAhmed-MSFT commented on #96799
@adi-garg We delete only the target replicated disks. The RG, V-Net, and Storage Account are customer-created resources and hence are not deleted.

[2022-08-09 09:44] Thorfinn276 commented on #66310
There is any update about this topic ? Due to a miss of configuration we have a wrong version stored and it is blocking certificate renewal and we want to be able to delete the specific wrong version.

[2022-08-09 09:45] matthansen0 opened #96874 "Error, or clarity needed - "dedicated Azure Active Directory warehouse""
The section of this doc below does not make sense. What is it referring to when it says a "dedicated Azure Active Directory Warehouse"? I've been digging through the other docs to try to read between the lines as to what this means, but I nor the others I've asked can decipher it.

![image](https://user-images.githubusercontent.com/23407342/183616049-38dbe236-27bd-45a1-a21e-e5762532c2b0.png)

---

[2022-08-09 09:46] gelli commented on #96835
I'm pretty sure @gelli is not your github login ;)

[2022-08-09 09:54] matjazreberc opened #96877 "Create Function + missing"
[Enter feedback here]

Hello,
In Visual Studio Code, Azure, Workspace there is no "+" button (Create Function), like in the picture in step 1. "Create an Azure Functions Project"  on this page, only "Deploy" and "Refresh".
What Am I doing wrong?

Thank you, Matjaz Reberc
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0

[2022-08-09 10:21] RohitMungi-MSFT commented on #96846
@WhyTabs The character set returned by the API should be UTF-8.

[2022-08-09 10:23] WhyTabs commented on #96846
@RohitMungi-MSFT Thank-you kindly for you response. To clarify, I mean the writing system (e.g. Latin, Cyrillic, Kanji, etc)

[2022-08-09 10:42] RohitMungi-MSFT commented on #96846
The response will be in the respective language character set. When you set the language parameter in your STT request this should automatically return the text in the corresponding Unicode and the text should be displayed in the source/spoken language character set.

For example, I have used Hindi(hi-IN) in my request below and the JSON response displays the text in the Devanagari script. I have

[2022-08-09 10:50] CHEEKATLAPRADEEP-MSFT commented on #96874
@matthansen0  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-09 10:52] danhayes123 commented on #74550
Hello, are there any updates on this? It's been over a year and I haven't heard anything, nor has the ticket been closed.

[2022-08-09 10:53] ntrogh commented on #96776
@Rick-Anderson thanks for reporting this. We've added a link to the article for getting started with JMeter.

[2022-08-09 11:05] #96770 closed

[2022-08-09 11:09] filippopovic commented on #95884
@ShaikMaheer-MSFT , adding @azaricstefan for help

[2022-08-09 11:11] filippopovic commented on #95884
#assign @azaricstefan

[2022-08-09 11:31] YashikaTyagi-MSFT commented on #96861
@SpitFire-666

There is no fixed frequency to upgrade the Azure AD connect. The Azure Active Directory (Azure AD) team regularly updates Azure AD Connect with new features and functionality and release those features in the new version. Whenever a new version is released, your installation is automatically upgraded for better user experience. You can go through the below link to see the Version re

[2022-08-09 11:33] filippopovic commented on #95308
@appliedcognetics thank you for your feedback. I submitted PR with proposed change.

[2022-08-09 11:50] danielfebres1992 opened #96878 "Error in element 'set-header' Header name is invalid or restricted from modification - Connection Header and webSockets handshake"
[Enter feedback here]

I'm having a problem to do a websocket handshake with the APIM, the APIM sends the request to the backend with the header

 {
                "name": "Connection",
                "value": "keep-alive"
}

And the result is the backend returning an error

{
    "statusCode": 400,
    "message": "Invalid websocket upgrade request"
}

This request needs to be sent with the head

[2022-08-09 12:07] barbel840113 opened #96879 "Typo in document"
Hi, could you please update the documentation. There is an typo as you are adding

`helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
`

and then calling

`helm install nginx-ingress ingress-nginx/ingress-nginx \
    --version 4.1.3 \
    --namespace ingress-basic \
    --create-namespace \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."kubernetes\.io

[2022-08-09 12:23] razbakov opened #96881 "Certificate credentials: aud value typo"
`aud` value should be `https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token`
actual value is `https://login.microsoftonline.com/{tenantId}/oauth2/V2.0/token`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent ID: aa2bb5fd-bd0d-830c-84c7-0525657b6d4f
* Con

[2022-08-09 13:12] JamesTran-MSFT commented on #96872
@takeakitake
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-09 13:12] JamesTran-MSFT commented on #96881
@razbakov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-09 13:21] PriyankaRudramaina commented on #96681
@gvanteylingen,

Thanks for surfacing this document enhancements
We have taken the feedback into consideration and made the required changes. The updates will reflect shortly as we publish it.

[2022-08-09 13:21] #96681 closed

[2022-08-09 13:21] mumurug-MSFT commented on #96870
@cveld Thanks for your feedback. We will review and update as appropriate.

[2022-08-09 13:33] PriyankaRudramaina commented on #96621
@rp-msft,

This channel is for driving improvements towards MS Docs,. If you could provide the feedback specific to this documentation you intended to, we would make sure your feedback is addressed accordingly.

For any product related question/issue I would recommend you to create a thread on the forums- Microsoft Q&A or open a support ticket with azure technical support. Since it's not directly

[2022-08-09 13:34] ntrogh commented on #96776
#please-close

[2022-08-09 13:34] #96776 closed

[2022-08-09 13:35] MayankBargali-MSFT commented on #96801
@KijongHan Can you provide more details as per @ggailey777 last comment

[2022-08-09 13:40] rp-msft commented on #96621
This  issue is specific to this document only, for step 1 it appears the command differs for Windows node and needs to be added in addition to the command for linux node listed here.

[2022-08-09 13:44] santo2 opened #96883 "document update web/certificates in a resource group without having to delete SSL binding of a website"
In a web app, we use custom domains with SSL binding to certificates.
This certificate (Microsoft.Web/Certificates) is, when importing it in the website, automatically added to the resource group with a very bad name, containing the thumbprint.

Now we are scripting more and more of our resources in bicep, we want to also script this certificate and bind it to key vault.
We now scripted our certif

[2022-08-09 13:45] shaf3ii opened #96884 "Missing *.quay.io added to whitelist for registry access."
Hello Team,

Checking this document https://docs.microsoft.com/en-us/azure/openshift/howto-restrict-egress

I can see that *.quay.io is missing from the OTHER POSSIBLE OPENSHIFT REQUIREMENTS
This leads to block requests to subdomains like cdn02.quay.io and this results in not being able to pull several core images from Red Hat managed Quay registry.

This has been updated on RedHat openshift docum

[2022-08-09 13:46] seesharprun commented on #96536
@AJ1058310, let's see if I can help here:

#assign:seesharprun

If the unique keys is specified as `['/address', '/zipCode']`, that means the composite of those two values must be unique. Let's consider a JSON document structured like this:

[code]

Within a logical partition, the combination of **address** and **zipCode** must be unique. Here's a table:

| Partition key | Address | Zip Code | IsU

[2022-08-09 13:46] PRMerger15 commented on #96536
The following users don't have valid GitHub IDs, or are not collaborators on this repo: specified as `['/ad

[2022-08-09 13:46] seesharprun commented on #96536
#reassign:seesharprun

[2022-08-09 13:47] seesharprun commented on #96536
#please-close

[2022-08-09 13:47] #96536 closed

[2022-08-09 13:50] TePeBoxer opened #96885 "Only tables are synced or also views?"
[Enter feedback here]
Somehow it's not really clear if only tables or also views are synced between SparkSQL and the Lake Database. I see views I created in SparkSQL in the object explorer in the Studio (so they are synced) but they don't work in the Serverless Pools (getting an "invalid object" error)...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-08-09 13:59] mumurug-MSFT commented on #96877
@matjazreberc Thank you for reaching out. Sorry to hear that you are facing this issue. I have [Azure Functions extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions) as specified in the docs' prerequisites and able to see "+" button in my local machine.

![image](https://user-images.githubusercontent.com/95652148/183666985-a192b53b-2ba2-4ab6-9912-b91e7

[2022-08-09 14:25] v-ksreedevan commented on #85570
Hi @richard-artes,

Thank you for bringing this to our attention.
The documentation has been updated and the updates are available at https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-hyper-v-migration#replication-storage-account-requirements.

Hence, closing this issue.

#please-close

[2022-08-09 14:25] #85570 closed

[2022-08-09 14:27] jjpinto opened #96889 "Missing steps to complete request on "Access Azure Cosmos DB Preview Features""
[Enter feedback here]
There is nothing on the documentation stating that when the registration is set "pending", an action is required! For instance, something like that:

If a preview feature requires approval, the registration state is **Pending**.
-> To request approval, submit an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-supp

[2022-08-09 14:33] AshokPeddakotla-MSFT commented on #96650
Since you have raised an issue on the SDK repo, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-09 14:33] #96650 closed

[2022-08-09 14:41] tfitzmac commented on #96309
@SetTrend - I have updated the article with a table that presents the options and how Bicep CLI is installed. I am going to close this item but feel free to offer more feedback about the change. If you have more suggestions about how the information can be clarified, I am happy to hear it.

#please-close

[2022-08-09 14:41] #96309 closed

[2022-08-09 14:42] santo2 commented on #96883
coming back to this, I have tried several things:
- adding a certificate in another resource group, doesn't seem to want a reference to another RG?
- adding a certificate in another region in the same RG: complains about not finding the serverFarmId which is specified on the certificate, which exists

[2022-08-09 14:42] rp-msft opened #96891 "Supported annotation for status code match to allow custom responses"
Is appgw.ingress.kubernetes.io/health-probe-status-codes:  annotation supported for AGIC ingress configuration, as per below link, since authentication is not supported, how can customers modify the status code range to accept 401 as acceptable ?

https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-backend-health-troubleshooting

Error | Actions

Probe status code mismat

[2022-08-09 14:43] fluffy-cakes opened #96892 "does not have permission to perform action 'PrivateEndpointConnectionsApproval/action"
This documentation mentions approvals for Private Endpoints to the Automation Account, but it does not show how to do this via code. I can do this as a user with permissions in both subscriptions, but not via code.

My current setup is:
- SUB1 = Automation Account
- SUB2 = consumer VMs

I deploy the Private Endpoint to SUB2 as mentioned in this documentation. This is done via Blueprints, thus usin

[2022-08-09 15:04] kobulloc-MSFT commented on #96869
@jianlongsu Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-08-09 15:18] Grace-MacJones-MSFT commented on #96835
Hi @gelli  please feel free to assign the issue to yourself :) I can't seem to assign it to you. thanks!

[2022-08-09 15:26] MonikaReddy-MSFT commented on #96866
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-08-09 15:32] devan10 commented on #96442
Thank you for the clarification

[2022-08-09 15:33] #96621 closed

[2022-08-09 15:33] PriyankaRudramaina commented on #96621
@rp-msft I will re-review it and update shortly

[2022-08-09 15:37] duongau commented on #96867
@KapilAnanth-MSFT Thank you for bringing this to my attention.

Hi @neallee2012, you're absolutely right. Since the release of AFD premium tier you can enable Private Link to route traffic to VMs behind an ILB over a private endpoint. I'll get this added in a bit and have it reflect later today in the FAQ. Thank you for you input to improve our documentations!

PR: https://github.com/MicrosoftDocs

[2022-08-09 15:37] #96867 closed

[2022-08-09 15:37] duongau commented on #96867
#reassign:@duongau

[2022-08-09 15:40] ChaitanyaNaykodi-MSFT commented on #96767
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-09 15:40] aking-twilio commented on #33870
https://azure.github.io/static-web-apps-cli/docs/cli/swa-start/

FYI This doc doesn't mention anything to do with this difference for .ts, so I ran into the same issue.

[2022-08-09 15:45] Grace-MacJones-MSFT commented on #96864
Hi @amantaras, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-08-09 15:47] Grace-MacJones-MSFT commented on #96884
Hi @shaf3ii, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-08-09 15:48] MartinJaffer-MSFT commented on #96555
Here I use both of them inside a Set Variable.  The output of the set variable is a boolean on whether your stated conditions are fulfilled.  @abhayea

[code]

Full pipeline json:

[code]

[2022-08-09 15:49] Grace-MacJones-MSFT commented on #96885
Hi @TePeBoxer, Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-09 15:51] MashaMSFT commented on #92094
Hi @ishepherd , thanks for reaching out! Premium-series hardware is now GA and preview has been removed from the documentation, the pricing page, and the Azure portal. However, the memory optimized premium-series is still in preview and the documentation reflects that.

Unfortunately, we do not have access to timelines of upcoming offerings.

I'll go ahead and close out this Git Issue but please f

[2022-08-09 15:51] Grace-MacJones-MSFT commented on #96892
Hi @fluffy-cakes , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-08-09 15:51] MartinJaffer-MSFT commented on #96555
@chez-charlie  @ssabat Can you confirm on the expected behavior of Validation activity and Get Metadata activity? Thanks

[2022-08-09 15:51] #92094 closed

[2022-08-09 15:53] VikasPullagura-MSFT commented on #96879
@barbel840113
Thanks for the feedback! We will check and update the document accordingly.

[2022-08-09 15:54] ericd-mst-github commented on #96756
Hello,

The overview article has been updated with this package feedback in mind as well as licensing files. I confirmed with engineering that license files can be included in the configuration blob. We typically provider support for a default configuration at publishing time but that can be overridden during deployment.

We are currently in discussion to determine which platforms to keep in mind

[2022-08-09 15:54] #96756 closed

[2022-08-09 15:54] PatrickFarley commented on #96171
fixed https://github.com/MicrosoftDocs/azure-docs-pr/pull/207381
#please-close

[2022-08-09 15:55] #96171 closed

[2022-08-09 15:57] Grace-MacJones-MSFT commented on #96891
Hi @rp-msft, thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-09 16:00] PriyankaRudramaina commented on #94014
@nestalk,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-09 16:00] pettewayshade opened #96895 "Update allowed value for InitialNavigation operation"
With the latest version of Angular, `enabled` is no longer an allowed value. Is it possible to update allowed value `enabled` to be `enabledBlocking` for the initialNavigation operation as enabled is not assignable to initialNavigation or add a note for users working through this sample? https://angular.io/api/router/InitialNavigation#description
[code]

This can be found in "src/app/app-routing.m

[2022-08-09 16:01] derisen commented on #96854
@diberry @MarileeTurscak-MSFT that's correct. Will make a PR to update the doc.

[2022-08-09 16:12] ppaschedag commented on #83225
Is there any progress on this, it seem it is still not published?
I would like to get this done in my ARM templates, so the documentation would be appreciated!

[2022-08-09 16:23] devan10 opened #96896 "MCA Enterprise to MPA"
I work for an Azure Expert MSP and we are looking to move a customer from MCA Enterprise to CSP (Azure Plan).   I'm being told by Microsoft that this requires a resource migration and is not possible via a backend billing change.  Please confirm that the documentation is correct for the following:

MCA - Enterprise | MPA | • Only CSP direct bill partners certified as an Azure Expert Managed Servic

[2022-08-09 16:30] suzizuber commented on #96826
#reassign: @jjaygbay1

[2022-08-09 16:31] MatthewBrown0 opened #96898 "Service Name is Incorrect"
Hello,

Step 8 of this document states "Restart the Azure AD Connect Synchronization Service under Windows Service Control Manager. This is to ensure that any reference to the old password is removed from the memory cache."

The name of the service is "Microsoft Azure AD Sync".  I do not know if the name of this service is different based on the version of AD Connect that is installed.

---
#### D

[2022-08-09 16:35] IAmPetersCode opened #96899 "Error in the 2nd CA policy for blocking: Restrict access to privileged resources"
Hello,

In the second policy in step 5.c it states: ExtensionAttribute1, the operator to Equals and the value to SAW.

I have tested the rules as I was unsure if it worked with devices that didn't report device information for one reason or another

According to my tests - devices that don't report device information is indeed not blocked. However surprisingly devices that does report device infor

[2022-08-09 16:46] shijaiswal commented on #96809
Hi @msftphleiten , @SreejaBhattacharya-MSFT ,@MsGabsta, This is to confirm that both Red HAt 8.0+ Support as well as SLES 15 and associated SP's have support from Network Watcher.

 I will add the information about the distro support in the official documetation here :https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/network-watcher-linux. Once done I will update it here as well.

[2022-08-09 16:57] WilliamDAssafMSFT commented on #96629
#reassign:MashaMSFT

[2022-08-09 17:05] YutongTie-MSFT commented on #96584
Hello @shubhamjante, I am sorry this issue seems out of scope for this forum, I will highly suggest you to raise a support ticket for this issue or post it to Microsoft Q&A platform.

Please let me know if you have no support plan and I am willing to enable you one, forwarded this issue to product team for checking if this is a SDK issue as well.

We will now proceed to close this thread. If there

[2022-08-09 17:05] #96584 closed

[2022-08-09 17:10] JamesTran-MSFT commented on #96898
@MatthewBrown0
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-09 17:18] kobulloc-MSFT commented on #96869
@jianlongsu You can find an explanation of our virtual machine (VM) naming convention in our documentation as well as some examples here:

https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions#naming-convention-explanation

![image](https://user-images.githubusercontent.com/37556655/183715843-16097f19-cc80-4132-9f28-17024d3777ad.png)

[2022-08-09 17:22] Oury-MSFT commented on #96889
@jjpinto Thank you for your feedback. We are reviewing this and will make update in the doc if needed.

[2022-08-09 17:24] khataei commented on #69658
Hi! Any updates?
Thanks

[2022-08-09 17:29] bandersmsft commented on #96896
@devan10 Enterprise EA to MPA transfers are supported. https://docs.microsoft.com/azure/cost-management-billing/manage/mpa-request-ownership has the steps for both the Partner and their customer. A billing support request or interaction with a Microsoft representative shouldn't be needed.

Have you tried the process at https://docs.microsoft.com/azure/cost-management-billing/manage/mpa-request-own

[2022-08-09 17:32] Edcorcor opened #96902 "Supported Versions"
Please add what versions of S4/HANA are supported by Microsoft Purview. If all, please state that explicitly.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4966409a-b58e-8892-b99f-f7673b9841bf
* Version Independent ID: afdc938f-ac77-6614-bd82-67eb6673b4da
* Content: [Connect to and manage SAP HANA - Microso

[2022-08-09 17:43] kobulloc-MSFT commented on #96869
@jianlongsu You can use [`az vm list-sizes --location "LOCATIONNAME" -o table`](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-list-sizes) to list the VM sizes that are available for that region.  For example, this would list all the VM sizes for West US 2: `az vm list-sizes --location "westus2" -o table`.

Looking through that list, you can see that:

- Underscore: Used

[2022-08-09 17:43] nickludwig commented on #95994
Closing due to lack of follow up/no required docs changes

[2022-08-09 17:43] nickludwig commented on #95994
#please-close

[2022-08-09 17:43] #95994 closed

[2022-08-09 17:48] davidmu1 commented on #96027
#assign: nickludwig

[2022-08-09 17:48] ohadschn commented on #32131
This is only true for the case of **system-assigned** managed identities. As specified in the [MS internal ARM wiki](https://armwiki.azurewebsites.net/authorization/managed_identities/MSIOptionalClaims.html#optional-claims-specific-to-managed-identities), for **user-assigned** managed identities it is actually the resource id of the user-assigned identity itself (and NOT the resource ID of the res

[2022-08-09 17:49] ohadschn commented on #96027
@davidmu1 @nickludwig I think you can copy the docs from our [internal ARM wiki](https://armwiki.azurewebsites.net/authorization/managed_identities/MSIOptionalClaims.html#claim-xms_mirid).

[2022-08-09 17:52] seesharprun commented on #96889
@MeredithMooreUX, can you take a look at this?

[2022-08-09 17:59] petertuton opened #96904 "400 (Bad Request): The field hub must match the regular expression '^[A-Za-z][A-Za-z0-9_`,.[\\]]{0,127}$'.""
Error:
[code]

This error occurs if the IoT Hub name doesn't match the regular expression, e.g., if your IoT Hub name contains a dash. In this case, in `messagehandler/function.json` you can simply hard-code the`"hub"` value to something other than `"%hubName%"`.

I recommend adding a note to the documentation to address this case.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-08-09 18:08] petertuton commented on #96904
Also need to update the `"hub"` value in `negotiate/function.json` (to be the same as that used in `messagehandler/function.json`).

[2022-08-09 18:12] KranthiPakala-MSFT commented on #96856
I did check with product team and confirms that 'Azure Data Factory Analytics (Preview)' has been deprecated. And suggested to use Azure Monitor  ([Monitor and Alert Data Factory by using Azure Monitor](https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor)) as an alternative.

The current doc has been retried too.

Hope this info helps.
We will now proceed to close this

[2022-08-09 18:12] #96856 closed

[2022-08-09 18:30] petertuton commented on #96904
Alternatively, use a different value in the function's settings for the IoT Hub name to that used by the Web PubSub hub name (ensuring the Web PubSub name contains only valid characters, of course).

[2022-08-09 18:34] alexanderogorodnikov opened #96905 "typo in the command in the documentation. Word "pod" is missing"
[Enter feedback here]
There is a word "pod" missing in that command:
`kubectl describe <omsagent-pod-name> --namespace=kube-system`
should be:
`kubectl describe pod <omsagent-pod-name> --namespace=kube-system`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09aeae6-06a7-d9e6-36ed-f26b91ef4df8
* Version Independent ID:

[2022-08-09 18:49] kobulloc-MSFT commented on #96869
@jianlongsu We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-09 18:49] #96869 closed

[2022-08-09 19:36] Grace-MacJones-MSFT commented on #96904
Hi @petertuton,  thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-08-09 19:37] RobdeJong opened #96907 "Documentation for many cmdlets in this module is missing."
There are many more cmdlets in this module than listed in the document. Here is the current list:

Connect-AADCloudSyncTools
Export-AADCloudSyncToolsLogs
Get-AADCloudSyncToolsInfo
Get-AADCloudSyncToolsJob
Get-AADCloudSyncToolsJobSchedule
Get-AADCloudSyncToolsJobSchema
Get-AADCloudSyncToolsJobScope
Get-AADCloudSyncToolsJobSettings
Get-AADCloudSyncToolsJobStatus
Get-AADCloudSyncToolsServiceAccount
G

[2022-08-09 19:38] jeffwmiles commented on #93729
I am also experiencing this issue, and can confirm that it doesn't appear to be related to CNAMEs or billing.

[2022-08-09 20:12] dlepow commented on #96780
@azaslonov @mikebudzynski - Is Directory.Read.All permission still needed for adding an external group? Requirement for this permission was removed for doc work item 1973079. Thanks!

[2022-08-09 20:15] MashaMSFT commented on #96447
Hi @vlad-kozlov thanks for reaching out! As Sudhir was able to address your question, I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-08-09 20:15] #96447 closed

[2022-08-09 20:22] azaslonov commented on #96780
@dlepow, nope, `Directory.Read.All` permission is too "permissive" :). `User.Read` is enough for our scenarios.

[2022-08-09 21:29] PICBrahma opened #96908 "Doc results in "You do not have permission to view this directory or page." errors,"
The Internet is full of people stating this only leads to "You do not have permission to view this directory or page." errors, and I agree.  I couldn't be attempting a more vanilla Azure Web App Service creation, and all I get is the above error. Many, many unanswered questions here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-08-09 21:36] t-anderson opened #96909 "Azure Resource Group Deployment task no longer supported in Azure DevOps Services"
The task referenced in the "Deploy with Azure DevOps" section is no longer available in Azure DevOps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10846a19-893f-4d39-326d-66a7e4e1983c
* Version Independent ID: d9888016-e329-ba76-ab3d-12e0c84863e4
* Content: [Deploy logic app templates - Azure Logic Apps](https://docs

[2022-08-09 21:41] devan10 commented on #96896
I see you've mentioned "Enterprise EA to MPA transfers are supported"........did you mean MCA Enterprise to MPA transfers are supported?  I just want to be clear as the link in the table goes to EA transfer process but I believe should in fact link to the MPA document you sent.

Currently the customer is not on MCA yet so we are unable to try the process.

[2022-08-09 21:50] JimInWA commented on #95950
Sorry for the delay in answering, I have been busy with work deadlines.  I don't see a way to reopen the issue.  Hopefully this comment will reopen it.

As I explained in the original post, the code is able to access all of the Azure App Configuration settings except for the ServiceBus:ConnectionString.  So to directly answer your question: yes we are following the guidelines that have been outlin

[2022-08-09 21:52] MashaMSFT commented on #96727
Hi @jkbrookes2 , thanks for contacting Microsoft! Would you mind clarifying where you see that the Azure Hybrid Benefit applies to the serverless service tier for Azure SQL Database?

Thanks!
Masha from the SQL Docs team

[2022-08-09 22:04] danielgerlag opened #96910 "Broken English"
I found reading through this page difficult as it seems like it was translated from another language and not proof-read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1940898c-e18a-647e-c1b4-9d799760fb45
* Version Independent ID: 11c019a0-4833-a3db-97ea-5d66c02668db
* Content: [Service mode in Azure SignalR Service](h

[2022-08-09 22:23] JnHs commented on #96807
Hi @dmakovec-astralas - thanks for your detailed feedback. We are in the process of reviewing and updating this topic to address several issues, including the one you mention here. It may take some time before this is completed, so I will leave this issue open for now and close it after the changes have been made. We appreciate your taking the time to help us improve our documentation!

[2022-08-09 22:24] JimInWA commented on #95950
Here is the exact error that we are getting in Application Insights if ServiceBus:ConnectionString is not defined at all in the Azure App Settings Section

The listener for function 'Functions.(FunctionName)' was unable to start. <--- Service Bus account connection string 'ServiceBus:ConnectionString' does not exist. Make sure that it is a defined App Setting.

We get the same error message if Ser

[2022-08-09 22:31] khdownie commented on #74250
#please-close

[2022-08-09 22:31] #74250 closed

[2022-08-09 22:36] ToddMaxey opened #96912 "Cipher suite selection"
[Enter feedback here]

Critical feedback and questions ahead.

I do not see a way to select or exclude insecure cryptographic suites in this product and I do not see a statement regarding the deprecation of TLS 1.0 and TLS 1.1.
Is TLS 1.1. and TLS 1.0 going to be deprecated from storage?

Setting the cryptographic suites used for a connection just on the client is relying on the client to just ask

[2022-08-09 23:06] danielgerlag opened #96913 "Basic docs on how to use the client side SDK"
There does not seem to be any docs about how to use the client side SDK within a frontend.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ea301b-6db8-83db-9bed-4e94969f26dd
* Version Independent ID: b5c14f79-1eb4-3a6e-0c50-e61c1dadacfb
* Content: [Tutorial: Authentication with Azure Functions - Azure SignalR](https:/

[2022-08-09 23:17] joharder commented on #96884
quay.io is already listed under "Other possible OpenShift requirements"
https://github.com/MicrosoftDocs/azure-docs/blob/f4e362a0d6adf76ef70015833da33010e28eb662/articles/openshift/howto-restrict-egress.md?plain=1#L65

Is the issue that you would like it changed to "*.quay.io" instead of "quay.io"?

[2022-08-09 23:25] schaffererin commented on #89567
#please-close

[2022-08-09 23:25] #89567 closed

[2022-08-09 23:36] MeredithMooreUX commented on #96889
Yes.

[2022-08-10 00:19] kobulloc-MSFT commented on #96818
@synenet It appears that this is an intermittent issue which can be resolved by redeploying the VM (you can see my deployment from today below).  If you consistently run into this error, please let us know which image you are using, what region you are deploying to, and what VM size you are using to help us track down the cause of the issue.

![image](https://user-images.githubusercontent.com/3755

[2022-08-10 00:32] 913165 opened #96915 "azure blob storage for aks is not proper"
azure blob storage for aks is not proper

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c020da4-04fc-53d1-2c5c-4683fcd40522
* Version Independent ID: 0fa0c2b6-d2d2-c099-deb4-4f8a4252aeff
* Content: [Create a static persistent volume with Azure Blob storage in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](

[2022-08-10 01:33] Adebeer opened #96918 "ApplicationInsights-ServiceFabric Nuget is no longer maintained - please update guidance URGENTLY"
Please remove any references to https://github.com/Microsoft/ApplicationInsights-servicefabric - or at least state that this is no longer recommended.

Its not documented clearly - but from reading the issues of this github project, it has been in "maintenance mode" for at least a few years [AppInsights-ServiceFabric-Nuget](https://github.com/microsoft/ApplicationInsights-ServiceFabric/issues/117#

[2022-08-10 02:39] sarthak-git opened #96919 "Azure AD PIM Powershell cmdlets do not work as intended"
[Enter feedback here]
Azure AD PIM management cmdlets mentioned din the page using the preview module do not work . Can you guy please stop creating  different modules and give us one working stable version . this is so frustrating

![image](https://user-images.githubusercontent.com/48988578/183798215-c3ac54a2-b5f4-440c-ac95-97d370dcce01.png)

---
#### Document Details

⚠ *Do not edit this section

[2022-08-10 02:41] shoshii opened #96920 "[fix request] Deprecated patterns for storing and accessing data from Azure Databricks"
[Enter feedback here]

I think the 'Databricks Filesystem' at the description below is a little misleading.

#### doc A: Deprecated patterns for storing and accessing data from Azure Databricks

Databricks no longer recommends mounting external data locations to the **Databricks Filesystem**; see [Mounting cloud object storage on Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/

[2022-08-10 02:52] shijaiswal commented on #96809
The public-facing document has been updated as well: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/network-watcher-linux

[2022-08-10 04:06] Sandeg-MSFT commented on #96878
@danielfebres1992
Thank you for reaching out to us. We will look into this issue and will get back to you on this.

[2022-08-10 04:07] CHEEKATLAPRADEEP-MSFT commented on #96902
@Edcorcor  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-10 04:10] CHEEKATLAPRADEEP-MSFT commented on #96920
@shoshii  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-10 04:14] Sandeg-MSFT commented on #96883
@santo2

Thank you for reaching out to us. We are looking into this issue and will get back to you regarding this.

[2022-08-10 04:21] AjayKumar-MSFT commented on #96908
@PICBrahma,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-08-10 04:22] Sandeg-MSFT commented on #96899
@IAmPetersCode

Thank you for reaching out to us. We are looking into this issue and will get back to you on this

[2022-08-10 04:22] SreejaBhattacharya-MSFT commented on #96809
Thanks for updating the documentation @shijaiswal

[2022-08-10 04:23] Sandeg-MSFT commented on #96907
@RobdeJong

Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-10 04:24] Sandeg-MSFT commented on #96907
@billmath
Can you please check and add your comments on this doc update request as applicable.

[2022-08-10 04:25] AjayKumar-MSFT commented on #96910
@danielgerlag, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-10 04:28] AjayKumar-MSFT commented on #96913
@danielgerlag, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-08-10 04:28] #96809 closed

[2022-08-10 04:36] bandersmsft commented on #96896
@devan10 Sorry, I meant to say Enterprise *MCA* to MPA is supported.

In the article intro at https://docs.microsoft.com/azure/cost-management-billing/manage/mpa-request-ownership, it says:

Supported product (subscriptions and reservations) billing ownership transfer options include:

- A direct Enterprise Agreement transfer to an Azure plan under the MPA
- **An enterprise Microsoft Customer Agre

[2022-08-10 04:36] KrishnaG-MSFT commented on #96720
@rativerma We have verified and updated the document as required. The update would go live soon i.e., in less than 24 hours. Thanks again!

[2022-08-10 04:36] #96720 closed

[2022-08-10 04:46] KrishnaG-MSFT commented on #96905
@alexanderogorodnikov Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-10 05:02] sreekzz commented on #74476
Updated the component version page with the latest supported versions.
#please-close

[2022-08-10 05:02] #74476 closed

[2022-08-10 05:05] sreekzz commented on #77336
As there is a new issue opened https://github.com/MicrosoftDocs/azure-docs/issues/83608 closing this redundant item. (#77336)
#please-close

[2022-08-10 05:05] #77336 closed

[2022-08-10 05:06] v-ksreedevan commented on #77468
Hi @barbarabel,

The link to the latest appliance version has been updated at https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-physical#2-download-the-installer-script.

Hence, closing this issue.

#please-close

[2022-08-10 05:06] #77468 closed

[2022-08-10 05:10] kobulloc-MSFT commented on #96818
@synenet We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-10 05:10] #96818 closed

[2022-08-10 05:12] sreekzz commented on #73250
As this is covered in the new Kafka Mirror Maker 2 page as provided above, closing this issue.
#please-close

[2022-08-10 05:12] #73250 closed

[2022-08-10 05:32] Givary commented on #96349
@kengoodwin Issue related to PowerBi report has been fixed. Thank you for pointing this out. I am closing this issue, if you have any questions please let me know.

[2022-08-10 05:32] #96349 closed

[2022-08-10 05:35] yansyunchen opened #96922 "How to send certificate to web app in my application"
I have question here, if I enable client certificate as "Require". When I browse my web app, it will pop up a window to input the certificate. So, I would like to know if my flow is "my application" -> "web app", how to send the certificate to the web app in my application, is to write some code to achieve it? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-08-10 05:35] KrishnaG-MSFT commented on #96905
@alexanderogorodnikov We have verified and updated the document as required. The update would go live soon i.e., in less than 24 hours. Thanks again!

[2022-08-10 05:35] #96905 closed

[2022-08-10 05:36] KrishnaG-MSFT commented on #96754
@tanktopSecurity We have verified and updated the document as required. The update would go live soon i.e., in less than 24 hours. Thanks again!

[2022-08-10 05:36] #96754 closed

[2022-08-10 05:38] VikasPullagura-MSFT commented on #96918
@Adebeer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-10 05:38] VikasPullagura-MSFT commented on #96918
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-08-10 06:01] matjazreberc commented on #96877
@MayankBargali-MSFT  Thank for you message, but Azure Function extenstion ist installed,
![image](https://user-images.githubusercontent.com/60425382/183825769-d1487826-8cff-400d-9695-0da22ed3e352.png)
This is what I see,
![image](https://user-images.githubusercontent.com/60425382/183825958-6443c415-4961-4886-bedd-645cb75a79a0.png)
But after uninstalling extension, installing it again, closing Visu

[2022-08-10 06:07] sreekzz commented on #81397
We have removed all Storm related contents from HDI Docs. Hence this page is no more valid.
#please-close

[2022-08-10 06:07] #81397 closed

[2022-08-10 06:10] likebupt commented on #94836
Sorry for the inconvenience.
Currently v1 schedule only supports AzureBlobStorage. We will call out in document.

[2022-08-10 06:10] likebupt commented on #91457
Sorry for the inconvenience. Currently you can only get a published pipeline by id. We will update the document.

[2022-08-10 06:11] shaf3ii commented on #96884
yes that is true quat.io is listed but it's not sufficient to allow the cluster to pull images from quay.io subdomains like cdn02.quay.io.

I posted the bugzilla link talking about this above.

In the latest OpenShift Document from RedHat it's actually specifying the exact subdomains to allow since wildcard subdomains are not possible to configure on certain firewalls.

I guess we need to specify

[2022-08-10 06:13] sreekzz commented on #82536
As this is taken care with the PR above https://github.com/MicrosoftDocs/azure-docs-pr/pull/195565, closing this issue.
#please-close

[2022-08-10 06:13] #82536 closed

[2022-08-10 06:17] VikasPullagura-MSFT commented on #96915
@913165 Can you please elaborate a bit more on the issue. That way, we are able to make sure your feedback is addressed by the right team.

[2022-08-10 06:25] SumanthMarigowda commented on #96912
@ToddMaxey
Thanks for the question! We are investigating and will update you shortly.

[2022-08-10 06:35] sreekzz commented on #90410
As there was a work item on this with corresponding email comm, closing this issue.

https://dev.azure.com/ceapex/Engineering/_workitems/edit/118880

https://outlook.office365.com/mail/id/AAQkAGZjYzczODkxLTQxZWItNDhhNS05YTEwLWZkNjJlMWJkZjJjOQAQAGHL9PFDGa5CpZkF46lLfZw%3D

#please-close

[2022-08-10 06:35] #90410 closed

[2022-08-10 07:16] AnuragSharma-MSFT commented on #96661
@semics-tech Thanks for your patience. I was going through the article and found that the partition key is enclosed with single quotes. Could you please provide a screenshot where the quotes are missing?

[2022-08-10 07:42] lindacmsheard opened #96923 "Sample Data link broken"
The link to the sample data file is broken at present

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8efcbb-4cec-0f91-412f-3864e6b77c67
* Version Independent ID: 02dee19a-62db-260a-2dff-18d667d09850
* Content: [Create a knowledge store using REST - Azure Cognitive Search](https://docs.microsoft.com/en-gb/azure/search

[2022-08-10 08:11] semics-tech commented on #96661
It is not enclosed, see this section:
https://docs.microsoft.com/en-gb/azure/cosmos-db/table/how-to-use-nodejs?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-gb%2Fazure%2Fstorage%2Ftables%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-gb%2Fazure%2Fbread%2Ftoc.json#query-a-subset-of-entity-properties

The code block is below, this is not valid js code around the odata filter

const entities = table

[2022-08-10 08:19] naokitakeda14 commented on #96416
Hi @GennadNY, could you delete part of pg_repack from the document ASAP? Because the customer is waiting for it.

[2022-08-10 08:28] naokitakeda14 commented on #96416
Hi @Gennady ***@***.***>,

Could you delete part of pg_repack from the document ASAP?
***@***.***

https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-extensions#postgres-14-extensions
Incident-321815167 Details - IcM (microsofticm.com)<https://portal.microsofticm.com/imp/v3/incidents/details/321815167/home>

Because pg_repack can not be used now, and the customer is confuse

[2022-08-10 08:41] AjayKumar-MSFT commented on #96923
@lindacmsheard, Thanks for posting this question.

The sample link in the doc (linked under `Configure requests` section), works fine for me, the URL lands on : https://github.com/Azure-Samples/azure-search-postman-samples.

Kindly let us know if you're facing any specific error/issue or referring to any other URL.
<img width="203" alt="image" src="https://user-images.githubusercontent.com/4460622

[2022-08-10 08:49] thefox100 opened #96926 "Networking Tab is missing"
Networking Tab is missing in documentation.

![image](https://user-images.githubusercontent.com/110971297/183857999-f9d3b633-7636-4a7b-a7ed-d2fa343a2eff.png)

There is no explanation/guideline which option should be selected and their further impacts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4440e0-1ff5-0fd3-69

[2022-08-10 08:51] XiaoningLiu commented on #73701
Visual Studio 2019 users can install and start Azurite through npm, Visual Studio Code extension and docker image - Any way preferred.

However, users need to build some logic (for example at the start of Debug Session) to start Azurite on debug session starts. Visual Studio 2022 supports auto start of Azurite.

[2022-08-10 08:51] XiaoningLiu commented on #88097
We have brought the ask to Visual Studio team. Currently there is no support on Visual Studio. Customers can start azurite.exe (or other Azurite installations) before lunching Visual Studio to specific Azurite parameters.

[2022-08-10 08:51] XiaoningLiu commented on #89979
Azurite.exe released with Visual Studio 2022 will be updated along with Visual Studio upgrades. There is no separate upgrade option for azurite.exe inside Visual Studio 2022.

[2022-08-10 09:07] vlad610 commented on #96780
I have tested this and it did not work for me with User.Read. It only worked after I added Directory.Read.All. That is why I have submitted this GitHub issue.

[2022-08-10 09:09] thegrahamking commented on #88097
Is this going to change in the future?

Which parameters can be changed from the defaults that VS uses such that VS uses the pre launched instance?  What defaults does VS use?

[2022-08-10 09:14] helenxfu opened #96927 "Doc mistake? - .NET SqlConnection parameters for connection retry"
Hi team, can you check and confirm if this is a mistake in the documentation?

.NET SqlConnection parameters for connection retry

Firstly, 3 * 10 = 30, so it doesn't make sense that "doesn't give the system enough time for its third and final retry to connect" when 29<30.

Secondly, according to the quote below, the first retry to connect happens immediately, so if the retry count equals 3,  shou

[2022-08-10 09:15] guywi-ms commented on #95590
@vmhenard Thanks so much for providing feedback that helps improve our documentation! We've updated the diagram based on your input and we're closing this issue. 👍
#please-close

[2022-08-10 09:15] #95590 closed

[2022-08-10 09:16] SnehaAgrawal-MSFT commented on #96922
@yansyunchen Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-10 09:18] guywi-ms commented on #95931
@ Thanks so much for providing feedback that helps improve our documentation!  We've updated the article based on your suggestion and we're closing this issue.
#please-close

[2022-08-10 09:18] #95931 closed

[2022-08-10 09:29] shoshii commented on #96920
@CHEEKATLAPRADEEP-MSFT , thank you for quick reply!
I wait for the update.

[2022-08-10 09:39] SnehaAgrawal-MSFT commented on #96722
@deruss Thanks for reaching here! Could you please share if any specific article you are referring for above info, could you please share more details to help you better on this.

[2022-08-10 09:46] deruss commented on #14452
@azzzy Check the Graph API Beta branch:
https://docs.microsoft.com/en-us/graph/api/resources/phoneauthenticationmethod?view=graph-rest-beta

There's a known issue where the Graph API won't return a phone number that was stored without a space after the country code:
https://docs.microsoft.com/en-us/answers/questions/593114/authentication-methods-not-available-at-graph-api.html

[2022-08-10 09:50] ezYakaEagle442 commented on #95119
Terraform is also Impacted : [https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/spring_cloud_service](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/spring_cloud_service)

[2022-08-10 10:08] diecknet commented on #89567
Why was this closed? The documentation still shows the same old screenshot.

[2022-08-10 10:14] lindacmsheard commented on #96923
Hi - Sorry, I should have been more specific:
The broken link is that to the sample csv data that this tutorial is dependent on: It's in the Load Data section:

[Download HotelReviews_Free.csv](https://knowledgestoredemo.blob.core.windows.net/hotel-reviews/HotelReviews_Free.csv?sp=r&st=2019-11-04T01:23:53Z&se=2025-11-04T16:00:00Z&spr=https&sv=2019-02-02&sr=b&sig=siQgWOnI%2FDamhwOgxmj11qwBqqtKMaztQ

[2022-08-10 10:38] Sandeg-MSFT commented on #96909
@t-anderson

Thank you for bringing this to our notice. We will investigate this further and will get back to you.

[2022-08-10 10:39] benrfairless opened #96930 "Document doesn't take into account tenants that require MFA"
The documentation here on creating a credential assumes that the service account will be created using a username and password, not something in line with modern authentication (such as perhaps a certificate or custom application).

It would be good if the documentation could be updated to provide steps on how to configure an authentication method that is recommended by Microsoft, as I believe tha

[2022-08-10 10:43] deruss commented on #96722
Hi @SnehaAgrawal-MSFT ,

It's just a suggestion for your article. I'm not a Linux user, and it took me a couple hours to find this solution for migrating our React SPA site from Windows deployment to a Linux host. It would be nice if Microsoft verified and supported this approach, with documentation, as I think it would be a common solution for many people.

I don't have any official explanation,

[2022-08-10 10:45] hansharhoff opened #96931 "dbx simple vs code example broken"
The simple example for VS code does not work. After following the guide I execute the dbx command and get:

[code]

I ran this command:

[code]

Nothing in the guide specifies that parameters should be set or what to set them to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10310a88-a879-9e18-d360-2b1627ee0d7e
* Vers

[2022-08-10 10:45] dknappettmsft commented on #76784
Closing the loop on this one (belatedly) - this issue was prior to Teams optimizations GA on macOS. It is now fixed from RD client 10.7.7 on macOS.

#please-close

[2022-08-10 10:46] JFBDO2022 commented on #95931
Thanks for covering the first part, that'll be helpful.  The second scenario doesn't seem to be explained though:

2 - Existing table with 90 days interactive & total 1 year retention. If we make the change so there is just 1 year of interactive data in it, does the archive tier get moved to interactive automatically? Is there a cost to that like with restore? Time involved for that process?

From

[2022-08-10 10:46] PRMerger4 commented on #95931
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-08-10 10:46] dknappettmsft commented on #78199
Closing the loop on this - HTTP proxies are not officially supported at this time, even though it may work.

#please-close

[2022-08-10 10:47] #78199 closed

[2022-08-10 10:50] Sandeg-MSFT commented on #96919
@sarthak-git

Thank you for reaching out to us. We will investigate this further and will get back to you.

[2022-08-10 10:52] dknappettmsft commented on #79460
Closing the loop on this - zoom in/zoom out is currently not supported. I've added an entry in the 'Known issues and limitations' section for this, which should be visible later today.

#please-close

[2022-08-10 10:52] #79460 closed

[2022-08-10 10:54] MughundhanRaveendran-MSFT commented on #96909
@t-anderson ,

Are you referring to the "Azure resource group deployment" task? It is still available, please see the below screenshot from my DevOps pipeline

![image](https://user-images.githubusercontent.com/56299140/183884396-8be4d50d-2a07-47a9-b29b-4948f62a37e8.png)

[2022-08-10 10:54] SetTrend commented on #96309
@tfitzmac:

Very nice! You're doing a great job!

Thank you.

[2022-08-10 10:57] dknappettmsft commented on #96289
Yes - it is the operating system that is important here, rather than pooled/personal host pools.

#please-close

[2022-08-10 10:57] #96289 closed

[2022-08-10 11:07] ShaikMaheer-MSFT commented on #96931
@hansharhoff Thank you for sharing feedback. We are actively validating it. We will share updates soon. Thank you.

[2022-08-10 11:08] guywi-ms commented on #95931
@JFBDO2022 In this scenario, there is no cost for the switch, and the change is effective immediately. From this point, you'll pay for data retention (see "Log Data Retention" in https://azure.microsoft.com/en-us/pricing/details/monitor/").

[2022-08-10 11:12] VikasPullagura-MSFT commented on #96879
@barbel840113 The document is updated and changes will go live soon.

[2022-08-10 11:12] #96879 closed

[2022-08-10 11:34] stephaneey commented on #66270
Hello,

You should set your node pool in "system" mode. AKS creates load balancers only in system node pools (I guess).

Best Regards

[2022-08-10 11:46] edwin-cini-kpmg opened #96933 "Logging level by namespace is not covered or clearly explained"
This page never mentions that log level needs to be specified for each namespace in the function.  In situations where a function calls code outside the function body no informational logging is done.

This is often perplexing to new users and while the answer may be found in third party blogs or StackOverflow, the real answer belongs here first.

There is a vague example with what appears like a

[2022-08-10 12:05] gelli commented on #96835
you can't assign it to me because i'm not part of this project. issue creator mentioned me because they mistakenly added my username.

[2022-08-10 12:51] #96810 closed

[2022-08-10 12:58] t3mi opened #96934 "Missing information for DNS zone configuration for Azure Health Data Services"
Page missing necessary private DNS zone(s) setup info for [configuration of private link](https://docs.microsoft.com/en-us/azure/healthcare-apis/healthcare-apis-configure-private-link) for Azure Health Data Services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independe

[2022-08-10 13:02] JFBDO2022 commented on #95931
Ok, that sounds great for admins.  But doesn't that undermine that whole bit about doing a 'restore logs' and such?  Why pay the extra for that if can just temporarily adjust the interactive/archive amounts on the tables for what is needed?
Not sure if I'm missing something conceptually here or if this is a bit of a loophole that could be taken advantage of.

Thanks.

From: Guy Wild ***@***.***>
S

[2022-08-10 13:06] timwarner-msft commented on #96588
Hi @rphoon. Thanks for your continued patience. I'm still trying to gain access to the appropriate repo to make the update. Respectfully, Tim

[2022-08-10 13:06] GitaraniSharma-MSFT commented on #96934
@t3mi , thank you for the feedback. We have assigned this to the content owner/author for doc update.

@asudbring , could you please check the Public DNS zone forwarder for Azure Health Data Services and add all the information in the doc as Private Link configuration is supported for Azure Health Data Services.
Refer : https://docs.microsoft.com/en-us/azure/healthcare-apis/healthcare-apis-configu

[2022-08-10 13:08] LUKEALDRED opened #96935 "Getting 'Set-AzVMExtension : Bad JSON escape sequence: \ . Path 'Exclusions.Paths', line 12, position 46.'"
I've copied the PowerShell code from https://docs.microsoft.com/en-us/azure/security/fundamentals/antimalware-code-samples#deploy-microsoft-antimalware-on-azure-resource-manager-vms

I've updated some of the commands from AzureRM to Az.

When I uncomment the section under # Enable Antimalware with custom policies and enter a string value for Paths i.e.
"Exclusions": {
            "Extensions": ".e

[2022-08-10 13:19] anthonywhite opened #96936 "AzureFunctionApp@1 ADO task Inputs - Query on appType"
The Azure Devops YAML code sample at this location [**Release to Azure**](https://docs.microsoft.com/en-us/azure/logic-apps/set-up-devops-deployment-single-tenant-azure-logic-apps?tabs=azure-devops#release-to-azure) shows `'workflowapp'` as the `appType` to be used when deploying a Standard Logic App, however intellisense in Azure DevOps pipeline editing or VS Code shows only `functionAppLinux` or

[2022-08-10 13:21] seesharprun commented on #96583
#assign:seesharprun

Hello @bigteejay!

I agree that the recommendation should now be to use 2 cores. I have updated the doc to not mention **0.5 cores** anymore and outright recommend 2 cores. The code samples were already updated to reflect this.

For the high CPU usage, you should file an issue with [product feedback](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a

[2022-08-10 13:22] v-ksreedevan commented on #77958
Closing this issue with reference to the above comment.

#please-close

[2022-08-10 13:22] #77958 closed

[2022-08-10 13:23] mumurug-MSFT commented on #96677
@SiyabongaVulindlelaBlessingMngomezulu Sorry I didn't get the info needed to investigate the issue. I am now proceeding to close the request. Feel free to reopen anytime with the info and will gladly assist you.

Thanks again for reaching out to us.

[2022-08-10 13:23] mumurug-MSFT commented on #96677
#please-close

[2022-08-10 13:23] #96677 closed

[2022-08-10 13:29] mumurug-MSFT commented on #96877
@matjazreberc Appreciate you sharing the details and glad you have found a workaround. This appears to be an issue with VS Code Functions extension. Typically, we try to keep azure-docs channel scoped to feedback directly about the docs. I kindly request you to reach out to https://github.com/Microsoft/vscode-azurefunctions/issues repo to report the issue.

[2022-08-10 13:31] v-ksreedevan commented on #77520
Hi @aut0pil0t,

The update is available at https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-agent#prepare-an-account-for-mobility-service-installation.

Hence, closing this issue.

#please-close

[2022-08-10 13:32] Sellafield commented on #88861
Ambiguity is in TimerTriggerAttribute, which exists both in Microsoft.Azure.WebJobs and Microsoft.Azure.Functions.Worker namespaces.

Resolving ambiguity to WebJobs causes error AZFW0001, as WebJobsAttribute is not supported in .NET Worker (Isolated Process)

Resolving ambiguity to Functions.Worker causes function to throw an exception:

System.Private.CoreLib: Exception while executing function:

[2022-08-10 13:36] jjpinto opened #96937 "Missing information on Preview Features"
[Enter feedback here]
Missing information or need more clarification on: Preview Features as it says you can opt in and out. However it is not like that. Some features require to create a support request or email to Microsoft to allow the feature to be enabled. Also, when you get a notification, for instance "Registration request for feature 'Azure Cosmos DB Serverless 1 TB Container' was successf

[2022-08-10 13:47] lngcool commented on #95939
I receive the same message when I load data for Azure Data factory from ADLSgen2 to Azure SQL. Is it also related to quota limitations? Im using the default settings

[2022-08-10 13:49] seesharprun commented on #96661
#assign:seesharprun

I just reviewed the article and saw both code samples with enclosed single quotes:

[code]

[code]

Here's some screenshots:

![image](https://user-images.githubusercontent.com/5067401/183917933-107ead12-8888-4536-93b1-5f332c3270ab.png)

![image](https://user-images.githubusercontent.com/5067401/183918018-d2dbf6bb-1a86-4733-9b66-707d2c7db439.png)

I'm going to close this issue

[2022-08-10 13:49] #96661 closed

[2022-08-10 13:50] #96583 closed

[2022-08-10 13:51] peter-equinor opened #96940 "InstrumentationKey changes to InstrumentationId when updating portal"
I added an Application Insights InstrumentationKey using step 5 on this page, but when I made an update in the portal and retrieved the config again (step 4), the key "InstrumentationKey" had changed to "InstrumentationId".

That is:

[code]
had changed to
[code]

To reproduce:
1. Add InstrumentationKey using step 5.
2. In the administrative view of the developer portal, change the portal descript

[2022-08-10 13:52] MarekLani opened #96941 "Provide additional explanation on need for removing Virtual Network resource locks"
Please could you provide more details and reasoning why  "The virtual network should not have any resource lock set at the VNET or subnet level" when creating Postgres Flexible server.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f488615-b57d-3cb7-5c0f-070a61d3a1d9
* Version Independent ID: 7cbcaf75-bd0e-

[2022-08-10 14:06] vanakenm commented on #36927
Doing the same as @jalexmelendez here, with the same result (the build phase succeed, but the messages about gdal not being found persist).

To make things worse, as this make the container fail at startup there is no way to ssh into it to debug the issue (are the libs there ? are they on a different path than expected, etc)

Any clue? This will prevent a lot of Django app to be deployed on App Se

[2022-08-10 15:23] spyoungtech opened #96943 "Broken ARM template link"
The ARM template link is broken in the article.

<img width="1522" alt="image" src="https://user-images.githubusercontent.com/15212758/183943011-606ed63a-aeab-4cb7-80e9-7a9f199c3665.png">

The breaking change is here:

https://github.com/Azure/azure-quickstart-templates/pull/12645

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-08-10 15:23] PaulDedula opened #96944 "Update script and documentation to use PowerShell Graph SDK"
The script and associated documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-rdg#configure-certificates-for-use-with-the-nps-extension-using-a-powershell-script) requires the use of the MSOnline PowerShell module. This module has shifting deprecation dates, but currently slated for deprecation on 3/31/2023. (originally 6/2022, then 8

[2022-08-10 15:51] JamesTran-MSFT commented on #96944
@PaulDedula
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-10 15:55] SwathiDhanwada-MSFT commented on #96680
@WKahnZA Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc once approved by content author. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-08-10 15:56] #96680 closed

[2022-08-10 15:56] JamesTran-MSFT commented on #96935
@LUKEALDRED
Thanks for your feedback! I've assigned this issue to the author who will look into the PowerShell script and update as appropriate.

For your error message, since troubleshooting isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-

[2022-08-10 15:59] VikasPullagura-MSFT commented on #96943
@spyoungtech Thanks for reporting this.
This has already been reported here #96596 and has been notified to the Document author for getting this updated.

Please follow the other linked issue for updates on this.

[2022-08-10 15:59] #96943 closed

[2022-08-10 16:03] rabbyn opened #96946 "Workspace DB' allow you to directly pick a workspace database from any available type : True or False ?"
In this paragraph below it says 'Workspace DB' allow you to directly pick a workspace database **from any available type** as source data but on my own synapse workspace I noticed that only Lake Database are showing up from the drop down and I would like to work fro, a SQL Serverless database.

Should SQL Serverless databases from synapse workspace available here or is it only limited to spark typ

[2022-08-10 16:12] jbolduan opened #96947 "Azure Automation Powershell 7 Runbook Fails Using Example Code for Webhooks"
The code for the runbook which is listed in the documentation doesn't work properly on a Powershell 7 runbook.  The webhook data is sent to the runbook in a format which cannot be converted to Json.  The error you'll see is ```Conversion from JSON failed with error: Unexpected character encountered while parsing value```.  This document should be updated to reflect the proper way to handle the Jso

[2022-08-10 16:12] Grace-MacJones-MSFT commented on #96926
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-10 16:13] bandersmsft commented on #96896
#please-close

[2022-08-10 16:13] #96896 closed

[2022-08-10 16:13] Sergong opened #96948 "Example is supposed to show Azure CLI but mixes PowerShell and Azure CLI code"
Some of the examples here mix PowerShell and AZCLI. Which makes it confusing and not easily usable on macOS or Linux...

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e2683db-d3c3-1ddf-1446-f7261c43c1bf
* Version Independent ID: 2f64224d-6b38-4b04-5d5b-a7dd3f5b5ffb
* Content: [Rotation tutorial

[2022-08-10 16:15] Grace-MacJones-MSFT commented on #96927
Hi @helenxfu, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and confirm if this is a mistake

[2022-08-10 16:19] jbolduan commented on #96947
I've posted it to the Q&A forum as well as it might be a bug. https://feedback.azure.com/d365community/idea/9c07bb15-c818-ed11-a81b-6045bd853198

[2022-08-10 16:23] schaffererin commented on #89567
Hi @diecknet, I created this PR that was merged yesterday with an updated screenshot: https://github.com/MicrosoftDocs/azure-docs-pr/pull/207455

[2022-08-10 16:36] Grace-MacJones-MSFT commented on #96930
Hi @benrfairless, thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-08-10 16:46] JamesTran-MSFT commented on #96948
@Sergong
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-10 16:46] Grace-MacJones-MSFT commented on #96947
Hi @jbolduan, thanks for bringing this to our attention. I have assigned the issue to the content author to review and update this doc as appropriate

[2022-08-10 16:48] Grace-MacJones-MSFT commented on #96946
Hi @rabbyn, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-08-10 16:49] Grace-MacJones-MSFT commented on #96941
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-10 16:50] Grace-MacJones-MSFT commented on #96933
Thanks for your feedback! We have assigned this issue to the doc author to review further and take the next course of action.

[2022-08-10 16:52] Grace-MacJones-MSFT commented on #96936
Thank you for the feedback! We are currently investigating and will update you when we have accurate information to provide.

[2022-08-10 16:55] thisisanniefang commented on #95798
#please-close

[2022-08-10 16:55] #95798 closed

[2022-08-10 16:55] Grace-MacJones-MSFT commented on #96937
Hi @jjpinto, thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-10 16:57] Grace-MacJones-MSFT commented on #96940
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-08-10 16:59] KranthiPakala-MSFT commented on #96946
We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

Hi @kromerm - Could you please review the above feedback from customer and share your thoughts? - Thanks

[2022-08-10 17:03] mrbullwinkle commented on #95055
Closing as the issue has been addressed.

[2022-08-10 17:03] mrbullwinkle commented on #95055
#please-close

[2022-08-10 17:03] #95055 closed

[2022-08-10 17:10] kengaderdus commented on #96694
@fei0x

We've reviewed the article, and we've not found any part that indicates we recommend Implicit Flow for Web apps. We recommend using OpenID Connect. We only mention Implicit Flow as one of the approaches to use on single-page application, but we go ahead to say that we don't recommend it, so we advise out customers to use Authorization code flow (with PKCE) instead.

Regarding the use of PK

[2022-08-10 17:28] RaphaelSilv opened #96952 "Azure B2C Twitter Integration needs update on docs"
A few weeks ago I was facing a quite obscure error while setting up Twitter as an Identity provider on my Azure B2C app through custom policies. The issue details can be found here [Auto Account Link - Twitter AuthorizationError](https://github.com/azure-ad-b2c/samples/issues/443). But the problem only was gone when I was granted [elevated ](https://twitter.com/login?redirect_after_login=https%3A%

[2022-08-10 17:30] JimInWA commented on #95950
@MughundhanRaveendran-MSFT can this item please be re-opened based on my comments above?

[2022-08-10 17:30] MarileeTurscak-MSFT commented on #96854
Thanks! I made one here but feel free to close it out and use yours if you already created one. https://github.com/MicrosoftDocs/azure-docs-pr/pull/207559

[2022-08-10 17:30] #96854 closed

[2022-08-10 17:44] HeidiSteen commented on #96923
@lindacmsheard it looks like the demo site is gone.  We host the same file in a github repo so I changed the instructions accordingly. The update will be live this afternoon, but just so we aren't holding you up, here's the edit:

[Download HotelReviews_Free.csv](https://github.com/Azure-Samples/azure-search-sample-data/blob/master/hotelreviews/HotelReviews_data.csv). This CSV contains 19 pieces o

[2022-08-10 17:45] HeidiSteen commented on #96923
Thank you for reporting the bad link.  Since we have a fix in place, we'll go ahead and close this issue, but please feel free to reopen or post back if you have more input.

#please-close

[2022-08-10 17:45] #96923 closed

[2022-08-10 17:49] matthew1davis commented on #61446
@deepakkumarsharma2007

My code now throws a new error after changing from Web to SPA:

invalid_request
AADSTS9002327: Tokens issued for the 'Single-Page Application' client-type may only be redeemed via cross-origin requests.
Trace ID: f383c812-0f5d-487f-b162-64c60ca17a00
Correlation ID: 641e9263-0445-4c0e-927f-902dced756a6
Timestamp: 2022-08-10 17:40:43Z
641e9263-0445-4c0e-927f-902dced756a6

The

[2022-08-10 17:55] Hjaf opened #96954 "More information on publisher"
Please provide more information about the [aaptapps](https://github.com/aaptapps) publisher. I can observe "aaptapps" in one of the [screenshots](https://docs.microsoft.com/en-us/azure/includes/media/connectors-create-api-github/github-connector-authorize.png) in this document, but I cannot find more information on this publisher mentioned anywhere else beyond the empty GitHub profile. Organizatio

[2022-08-10 17:58] spyoungtech commented on #96596
FYI, the breaking change was here: https://github.com/Azure/azure-quickstart-templates/pull/12645

[2022-08-10 18:07] vlad-kozlov commented on #96447
@SudhirRaparla , do we have ETA for the Azure CLI geo-restore? and should the documentation page exclude Azure CLI for geo-restore not to confuse customers?

[2022-08-10 18:08] vlad-kozlov commented on #96469
@SudhirRaparla , it's Geo-redundant backup storage for the source database.

[2022-08-10 18:08] kenhausman opened #96956 "Wrong Character Count Listed on Page"
Character count should be listed as 50K, not 10K. Array may also need to be lifted to 1K, not 100 elements.
alias: Kennha, vishalc

https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Version

[2022-08-10 18:14] kenhausman commented on #96956
This content should match the following page:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits

[2022-08-10 18:16] drdamour commented on #89979
@XiaoningLiu that's pretty short sighted.  Azure storage and azurite are released on a faster cadence than visual studio and you are stating that visual studio won't support this use case of newer features?

when i use the npm global install of azurite vs seems to use that updated version, so already your statement is inaccruate.

[2022-08-10 18:18] seesharprun commented on #95962
Hello @aluty!

#assign:seesharprun

We are updating the doc now with new release notes. The last two versions were mostly maintenance releases to align the emulator with the latest state of Azure Cosmos DB.

[2022-08-10 18:18] PRMerger4 commented on #95962
The following users don't have valid GitHub IDs, or are not collaborators on this repo: un

we are updati

[2022-08-10 18:18] #96464 closed

[2022-08-10 18:18] #95962 closed

[2022-08-10 18:18] seesharprun commented on #96464
Hello @mnmr!

#assign:seesharprun

We are updating the doc now with new release notes. The last two versions were mostly maintenance releases to align the emulator with the latest state of Azure Cosmos DB.

[2022-08-10 18:18] PRMerger6 commented on #96464
The following users don't have valid GitHub IDs, or are not collaborators on this repo: run

we are updat

[2022-08-10 18:19] seesharprun commented on #96464
#assign:seesharprun

[2022-08-10 18:19] seesharprun commented on #95962
#assign:seesharprun

[2022-08-10 18:22] JamesTran-MSFT commented on #96952
@RaphaelSilv
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-10 18:23] PaulEdlund opened #96959 "Please distinguish between "monitoring" and "Shadowing""
[Enter feedback here]

So I had a request from a customer to support session shadowing in AVD.  When I do a search for "AVD session shadowing" the search result comes back with this page.  It leads you to believe that AVD supports session shadowing via Bastion, when in fact we don't.  Perhaps this distinction makes sense to the PG but to our customers, it does not.  Especially when an internet sea

[2022-08-10 18:27] JamesTran-MSFT commented on #96872
@takeakitake
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-10 18:30] JamesTran-MSFT commented on #96881
@razbakov
Thank you for pointing this out! @bolt-io created a [PR ](https://github.com/MicrosoftDocs/azure-docs/pull/96932)to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-08-10 18:30] #96881 closed

[2022-08-10 18:32] JamesTran-MSFT commented on #96898
@MatthewBrown0
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-08-10 18:32] #96898 closed

[2022-08-10 18:33] fei0x commented on #96694
@kengaderdus

Thank you for your time, However, you seem to have avoided my concern. Perhaps I wasn't clear.

I find the article a little confusing, largely because in the Web App section of the article you do not state which OpenId Connect flows you support and which you recommend. (You do this very nicely for the SPA section)

Implementing OpenID Connect still means utilizing one of the three OI

[2022-08-10 18:41] malachibunn opened #96960 "Update documentation for install - no longer requires running cluster"
The API appears to have been updated so that clusters no longer need to be running to install a library (awesome update!) So the callout in the Install Library API stating "This call will fail if the cluster is terminated." should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1f07e37-3791-285b-5e7c-2aaafb

[2022-08-10 18:43] tfitzmac commented on #96937
@jjpinto - thanks for this feedback. I have added some clarification around the pending state. The process can be different for different services so I added some information about following the process defined by the service.

The update will get published later today.

#please-close

[2022-08-10 18:43] #96937 closed

[2022-08-10 18:46] jalexmelendez commented on #36927
@vanakenm If it helps you i managed to deploy my app to Heroku including the PSQL configuration on a migration to add gdal support on it, i can send you the container configuration i used if you want

[2022-08-10 18:48] v-ljeswani opened #96961 "Missing Information/A small update suggestion"
I would like to make a small suggestion for docker documentation below:
https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#docker-compose-options

In the limitation of docker compose, there is no mention of VNet integration which is not supported. When I read through the doc, I though VNet integration is supported but on further research I found th

[2022-08-10 18:48] mumurug-MSFT commented on #96877
#please-close

We will go ahead and close this issue. Please feel free to reach out for any docs issue.

[2022-08-10 18:48] #96877 closed

[2022-08-10 18:51] vanakenm commented on #36927
@jalexmelendez this is much appreciated - but my goal is to migrate my app (currently on... heroku :D) to Azure in this case.

[2022-08-10 18:58] pauljewellmsft commented on #96788
Thanks for bringing this issue to our attention! The code snippet has been updated and the change should go live later today.

#please-close

[2022-08-10 19:09] jalexmelendez commented on #36927
@vanakenm Got it mate! If you manage to deploy it please let me know, you should also try Google Cloud, it is a great service too and i haven't tried to deploy my GeoDjango app there yet...

[2022-08-10 19:15] Shilpa-MSFT opened #96964 "Function app Linux plan availability documentation not consistent."
Hello,

This is Shilpa from App service team and one of my customer is experiencing below issue :

Issue : Function app Linux plan availability documentation not consistent.

customer noticed that function app linux plan is not supported in all regions and below documentation lists the availability regions: https://azure.microsoft.com/en-us/global-infrastructure/services/?products=functions&region

[2022-08-10 19:19] MarkBratton opened #96965 "Add missing plans to AAD SSPR comparison table"
The comparison table is missing several plans. Please add the following plans which include ADD.

Thanks!

**Office 365 F3/E1/G1/A1/E3/G3/A3/E5/G5/A5** _<--AAD Free_
**Microsoft 365 Business Basic** _<--AAD Free_
**Microsoft 365 F1/F3/E3/G3/A3** _<--AAD P1_
**Microsoft 365 E5/G5/A5** _<--AAD P2_
**Microsoft 365 E5/G5/A5 Security** _<--AAD P2_
**Enterprise Mobility and Security (EMS) E3/G3/A3** _<-

[2022-08-10 19:37] stanleyu opened #96968 "Please preserve the section "Resize a persistent volume""
In the code commit https://github.com/MicrosoftDocs/azure-docs/commit/1d465903400dce92c1b765b803a8d09d806451b2 on Mar/09/2022, the section "Resize a persistent volume" was replaced with "Resize a persistent volume without downtime". However the Live Resize feature is in preview mode which can not be used until the feature is explicitly registered by user. By default and when it's not registered, u

[2022-08-10 19:57] mbender-ms commented on #26244
Issue appears to be updated in another PR.

If this issue still exists, please open a new issue. Thanks!

#sign-off

[2022-08-10 19:58] #26244 closed

[2022-08-10 20:11] mbender-ms commented on #68720
Following up with doc author on issue.

[2022-08-10 20:22] naokitakeda14 commented on #96416
Hello @Naoki ***@***.***>,
  I submitted PR that removes mention of pg_repack from extensions doc. Please explain to the customer that we did make pg_repack available, however found a regression , therefore had to pull it. It will be fixed in next couple of months (m21 train).  As you understand no one here is attempting to deceive this customer.

Gennady

From: Naoki Takeda ***@***.***>
Sent: Wed

[2022-08-10 20:23] JamesTran-MSFT commented on #96965
@MarkBratton
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-10 20:32] dlepow commented on #95756
@cristian-eriomenco - Since we haven't heard back from you, I'll now proceed to close this issue. If you want to provide more information, please tag me and I'll be happy to continue the discussion. Thanks!

#please-close

[2022-08-10 20:32] #95756 closed

[2022-08-10 20:34] tfitzmac commented on #96862
@JFolberth - thanks for this feedback. I have the updated the article with that addition. The update will get published later today.

#please-close

[2022-08-10 20:34] #96862 closed

[2022-08-10 20:40] AjayKumar-MSFT commented on #96458
Apologies for the delay! Limitation of 5 volumes for BYOS mounts is built into the backend API for this feature and yes it is consistent across all the pricing tiers. At this time, there is no doc update required. Thanks for sharing your feedback.

[2022-08-10 20:45] FinVamp1 commented on #96573
Thanks @ggailey777  and @tspring418  Yes this was part of the plan to link to trouble shooters.

[2022-08-10 20:53] mbender-ms commented on #83000
Docs were updated with other PRs.

#please-close

[2022-08-10 20:53] #83000 closed

[2022-08-10 20:53] #96964 closed

[2022-08-10 21:25] martins-vds opened #96969 "Clarify end-of-support statement for function apps running on versions 2.x and 3.x"
Given the following note:

End of support for these runtime versions is due to the ending of support for .NET Core 3.1, which is required by these older runtime versions. This requirement affects all Azure Functions runtime languages.
Functions version 1.x is still supported for C# function apps that require the .NET Framework. Preview support is now available in Functions 4.x to [run C# functions

[2022-08-10 21:37] ChaitanyaNaykodi-MSFT commented on #96959
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-10 21:40] ChaitanyaNaykodi-MSFT commented on #96891
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-10 21:49] tfitzmac commented on #96155
It looks like this work has been completed. Thanks @edburns

#please-close

[2022-08-10 21:49] #96155 closed

[2022-08-10 21:52] shessane commented on #96458
My question is about why is it on the API Backend. What is the Linux limitations that are behind this limitation ? Why this limitation is not on Windows Plans ?
Thank you

[2022-08-10 22:25] bmoore-msft commented on #96596
should be fixed now...

[2022-08-10 23:06] entropical opened #96972 "If using rsync to copy data, then rsync -a option is not supported."
The article says "If using rsync to copy data, then rsync -a option is not supported."

rsync -a is just a shortcut for -rlptgoD. (https://linux.die.net/man/1/rsync)

Presumably it would be more accurate to state which of -rlptgoD are not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5668d422-72a3-2f5c-298d

[2022-08-10 23:22] jeremiahhoward opened #96973 "Inconsistency"
$arbitraryNetworkThing = @{
    Name = "myNicTestVM"
    ResourceGroupName = 'CreateIntLBQS-rg'
    Location = 'eastus'
    Subnet = $vnet.Subnets[0]
    NetworkSecurityGroup = $nsg
}
https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-powershell
$arbitraryNetworkThing= @{
    Name = 'myPublicIP'
    ResourceGroupName = 'CreatePubLBQS-rg'
    Location = 'e

[2022-08-10 23:35] ecfan commented on #21763
The product team has responded that going forward, the best option is to create a [Standard logic app workflow](https://docs.microsoft.com/azure/logic-apps/logic-apps-overview#resource-type-and-host-environment-differences), rather than a Consumption logic app workflow, and use the *built-in MQ connector* instead.