[2019-05-25 15:47] Alberto-Vega-MSFT commented on #32097
@chainhead You might also want to upvote this feature request https://feedback.azure.com/forums/321918-azure-iot/suggestions/17170817-support-network-security-groups-to-restrict-access

[2019-05-25 15:55] Ajaxsoap commented on #32034
@SnehaAgrawal-MSFT I already fixed the issue. I've drop the pollsdb database, then recreate again and run the migration on my local machine, the polls are included in the migration. Voila!

[2019-05-25 16:10] oramoss commented on #31805
Thanks for that.

[2019-05-25 16:58] mike-urnun-msft commented on #30768
@yokawasa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-25 16:58] #30768 closed

[2019-05-25 17:01] diberry commented on #32108
@fhe-fr With the GET request, you need to add the key as a query string parameter. I don't see it in your GET request.

https://localhost:5000/luis/v2.0/apps/<app-id>?verbose=true&timezoneOffset=-360&subscription-key=<api-key>&q=this%20is%20my%20query

[2019-05-25 17:02] MicahMcKittrick-MSFT commented on #32093
The one @BJD1997 is correct.

The have a fix in the works so the portal issue should be resolved within a couple days.

[2019-05-25 17:05] rbmathis opened #32161 "Sometimes need to delete the recovery partition in order for this to work"
in Windows, if there is a recovery partition, the instructions for "Expand the volume within the OS" won't work because there is no contiguous free space.  Please update the doc to include the step of deleting the recovery partition if it exists.  It's basically 1) list disk, 2) list partition - if a recovery partition exists then 3) select partition x, 4) delete partition override, then follow th

[2019-05-25 17:06] MicahMcKittrick-MSFT commented on #32159
Thanks for the update and closing out the issue.

[2019-05-25 17:17] das-kaustav commented on #23045
@Mike-Ubezzi-MSFT the issue still exists. I spinned up my free account today. Then followed the exact same steps mentioned by Johnq3 and optroodt from the documentation. But ended up with the cluster creation issue.  today is the first day for the ADB Premium trail workspace I spinned up. However, it dont work.

[2019-05-25 23:20] craiglathrop218 commented on #31481
I am seeing the same issue while running the tutorial in this notebook. https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/regression-part2-automated-ml.ipynb

Running `local_run = experiment.submit(automated_ml_config, show_output=True)` throws this error for each iteration.

[code]

[2019-05-26 00:29] Alberto-Vega-MSFT commented on #32161
@rbmathis Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-26 00:35] Alberto-Vega-MSFT commented on #32124
@omartin2010 If you click on the feedback button at the bottom of documentation pages then the metadata about the page gets added to the issue. Somehow it failed I guess.

It is great if you want to create a PR you will need the blessing and PR review from the content author. Including content author @hrasheed-msft

[2019-05-26 00:58] tdihp opened #32165 "Instruction to get repository URL for helm's requirements.yaml"
While az acr helm implements by calling the helm command, the documentation here didn't reflect how to develop helm charts that depends on an acr chart, using requirements.yaml, by not providing a way to get the repo URL. (it should be `helm repo list` I assume)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-e

[2019-05-26 01:39] ShadowPic opened #32166 "Instructions lead to namespaces that can't be deleted"
Your example consumes an install via HELM that creates a finalizer that doesn't work.  The end result is that you can't delete the namespace that was created  after the sample.  In my case I deleted my entire AKS cluster to remove the namespace which is probably going to impede AKS adoption.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-05-26 02:24] 01 opened #32167 "Non Strict filter?"
Is it possible to essentially do opposite of strict filter? Would seem essentially the same functionality on the service side but have use case for only returning answers that dont have certain metadata. If strict filter can only be used to return answers with specific meta data essentially have to have all qna pairs have all meta data values.

My use case is to filter answers for managers and reg

[2019-05-26 03:29] cmurugan2212 commented on #25082
Thanks Seth

[2019-05-26 04:03] prawin2k opened #32169 "Wrong url"
Link to "What is hybrid Identify?" in the Next Steps section seems to be incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad82713-d562-5778-fbf8-035e24f9c470
* Version Independent ID: 6370cca0-c78e-4738-ba67-8fb14594b0f2
* Content: [What is password hash synchronization with Azure AD?](https://docs.microsoft.c

[2019-05-26 05:35] KaiWalter commented on #6500
@TheReaLee which of the approaches above ( @chanes-cds or me ) did you try and how does the problem manifest on your end?

[2019-05-26 06:03] CTsiaras commented on #30070
@paramrsingth I found your blog very nice. It would be great idea to add an example with a webhook linked to a runbook that scales a DB or start/stops a VM. This is typical asynchronous tasks that you would use in a Data Factory pipeline. Especially scaling a DB.

[2019-05-26 07:06] carloshm opened #32171 "stream reference"
use the defined variable:
from
        var result = endpoint.DetectImage(project.Id, publishedModelName, File.OpenRead(imageFile));
to
        var result = endpoint.DetectImage(project.Id, publishedModelName, stream);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae543de4-ff83-fce7-56e9-4bc8aab79455
* Version Independ

[2019-05-26 07:14] carloshm opened #32172 "Use Project id, publishedModelName, APiKey and EndPoint"
Usually in the project you will not create the project in the same process you are getting predictions.
Add descriptive information to get that information from the portal, such as: "after publishing a model trained, predictionURL option will show:
- ApiKey as PredictionKey
- publishedModelName as the name entered for the prediction. It will be visible in the url shown between iterations/&lt;publi

[2019-05-26 07:24] GuilhermeMorais commented on #24140
Hi guys, well the variables: retry and retries are not being used in this tutorial (https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app), there are no retries here.

[2019-05-26 07:27] GuilhermeMorais commented on #29755
Hi Guys, no changes for that? Maybe remove the code, it doesn't make sense in this tutorial (https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app).

[2019-05-26 08:32] shrirampophali opened #32173 "Invoke-WebRequest Error at Invoke-WebRequest @Officeparams"
I am getting this exception when executing this command "Invoke-WebRequest @Officeparams" =&gt; Error =&gt; Bad request, Failure calling Office. Likely cause is invalid credentials. {  "Code": 401,  "Reason": "The remote server returned an error: (401) Unauthorized.",  "CodeName": 401}

Can someone please help? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-05-26 08:32] AshokPeddakotla-MSFT commented on #32165
@tdihp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 08:33] AshokPeddakotla-MSFT commented on #32166
@ShadowPic Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 08:42] AshokPeddakotla-MSFT commented on #32167
@01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 08:53] AshokPeddakotla-MSFT commented on #32169
@prawin2k Thanks for reporting the issue. [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/77958) has been created to update the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-26 08:53] #32169 closed

[2019-05-26 09:23] AshokPeddakotla-MSFT commented on #32171
@carloshm Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 09:25] AshokPeddakotla-MSFT commented on #32172
@carloshm Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 09:27] AshokPeddakotla-MSFT commented on #32173
@shrirampophali Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 09:27] AshokPeddakotla-MSFT commented on #32173
@shrirampophali Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 09:33] GuilhermeMorais opened #32174 "Example using IBinder"
Would be very nice if we also have an example of SendGrid but with an IBinder object. (page: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-sendgrid)
  I Tried to Do like this but no luck.
[code]
Exception: `"Unable to resolve the value for property 'SendGridAttribute.ApiKey'. Make sure the setting exists and has a valid value."`

---
#### Document Details

⚠ *Do not edi

[2019-05-26 09:39] #31998 closed

[2019-05-26 10:10] atulaggarwal88 commented on #24214
I am facing similar issue when trying to complete the tutorial provided on Azure databricks. Do we have any  ETA on this bug fix?

[2019-05-26 12:40] spacecat opened #32175 "kubectl create, not kubectl apply"
Shouldn't this (kubectl apply -f https://raw.githubusercontent.com/jetstack/cert-manager/release-0.8/deploy/manifests/00-crds.yaml) be kubectl create -f https://raw.githubusercontent.com/jetstack/cert-manager/release-0.8/deploy/manifests/00-crds.yaml?

That is, kubectl create instead of kubectl apply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-26 12:57] NetworkPro opened #32176 "naaiiiisssssssss"
nicely created much respect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba21ace2-da68-6b11-df42-6394609098e9
* Version Independent ID: 73a8b858-a9de-c59c-a2ec-018d873974d8
* Content: [Azure AD Connect sync: Technical concepts](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-technic

[2019-05-26 12:59] akshaybabloo commented on #19391
Any update on this @asavaritayal?

[2019-05-26 13:11] spacecat opened #32177 "Installing cert-manager v0.8.0 using Helm 2.14.0 fails"
https://github.com/jetstack/cert-manager/issues/1690 (issue + workaround discussion)

You will get the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Create an HTTP ingress controller

[2019-05-26 15:24] meirpr opened #32178 "input_tensor_shape"
I have a Custom Vision project for Object Detection. I exported the model using Tensorflow in Compact mode.
![image](https://user-images.githubusercontent.com/37749632/58383709-ad662600-7fe2-11e9-9777-ca729fbd4bc3.png)
 However when I import the model to TF I get an network input shape of [?,416,416,3] and this is not compatible wth the resizing to 256 X 256. Therefore I get the following error:
!

[2019-05-26 15:26] Alberto-Vega-MSFT commented on #32174
@GuilhermeMorais Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-26 15:28] AshokPeddakotla-MSFT commented on #32175
@spacecat Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 15:29] AshokPeddakotla-MSFT commented on #32176
@NetworkPro Thanks for the feedback!

[2019-05-26 15:29] #32176 closed

[2019-05-26 15:29] Alberto-Vega-MSFT commented on #32177
@spacecat Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-26 15:38] Alberto-Vega-MSFT commented on #32178
@meirpr Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-26 15:52] meirpr commented on #32178
Hi Alberto,
This is the link:
https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/custom-vision-service/export-model-python

[2019-05-26 16:20] phupaa opened #32179 "Are there any sample to get a message without using RegisterMessageHandler?"
I'm looking for the way to pull a message from the queue then do some long running job and get the next message from the queue again when the job is done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fbe533-9b56-de1e-0bf0-b5acc091541b
* Version Independent ID: 146c649d-e037-b3f0-0536-743a63fb1e3f
* Content: [Quicks

[2019-05-26 17:11] phupaa commented on #32179
I found a sample already.  Thank you.

ref: https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Microsoft.Azure.ServiceBus/ReceiveLoop/Program.cs

[2019-05-26 17:11] #32179 closed

[2019-05-26 17:31] mohsinis opened #32180 "improvement"
Can you please add this explanation under section `Join the Linux virtual machine to the managed domain`
Before running command `sudo realm join --verbose CONTOSO100.COM -U 'bob@CONTOSO100.COM' --install=/`  make sure you allowed the kerebors port `464` on your NSG, otherwise enrollment of  machines in realm will unsuccessful.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-26 18:22] meirpr commented on #32178
Hi Alberto,
This is the link:
 <https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/custom-vision-service/export-model-python> https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/custom-vision-service/export-model-python

From: Alberto Vega <notifications@github.com>
Sent: Sunday, May 26, 2019 18:39
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: meirpr <mpr1

[2019-05-26 19:18] seantleonard opened #32183 "Spelling - Should be JWT instead of JTW"
In the Output Claims -&gt; Subject Naming Info Section, there is reference to JTW Token, which should be JWT token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3ce49f-746e-9326-9846-32d569558b65
* Version Independent ID: 4978d164-555d-b3cc-2989-5246b0f44313
* Content: [RelyingParty - Azure Active Directory B2C](ht

[2019-05-26 20:45] vakhare opened #32184 "error in aml-pipelines-parameter-tuning-with-hyperdrive while running the pipeline"
I'm getting the following error while running the pipeline in the aml-pipelines-parameter-tuning-with-hyperdrive notebook:

AttributeError: 'CreateExperimentDto' object has no attribute 'to_dict'

Kindly help.

[2019-05-26 21:16] spacecat commented on #31818
Thank you for the update.
I think many would find this info useful when working or reading up on these topics:
https://docs.microsoft.com/en-us/azure/aks/ingress-basic
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2#troubleshoot

[2019-05-26 22:21] seantleonard opened #32185 "Clarify: userIdentities or alternativeSecurityIds"
I have seen different implementations for using social identities. This page notes to use `alternativeSecurityIds` which works in my custom policy. However, there are GitHub samples from Microsoft that demonstrate using `userIdentities` like so: https://github.com/azure-ad-b2c/samples/tree/master/policies/account-linkage
Which claim type is the correct one to use?

---
#### Document Details

⚠ *Do

[2019-05-26 22:21] mgrabarz opened #32186 "Documentation is outdated - missing other scenarios with MSI and API Managemet"
This documentation was not updated for almost two years. There are two alert/warning sections here that are not valid:
- MSI is available in Consumption tier of APIM as well.
- MSI can be used for KV access, but there is another great scenario where users can get MSI token in APIM policy code and use it accessing backend API and securing other external calls. See this article for more details: htt

[2019-05-26 23:04] dcbrown16 commented on #32075
Great, thank you!

[2019-05-26 23:04] #32075 closed

[2019-05-27 01:14] SnehaAgrawal-MSFT commented on #32034
@Ajaxsoap Its great to know that issue is mitigated. We will close this out but if you feel you need more information please just let us know.

[2019-05-27 01:14] #32034 closed

[2019-05-27 02:26] masashimi commented on #31802
Thanks for the quick revise!
But The Japanese version is not yet corrected, so it would be appreciated if you could push it to related departments.

https://docs.microsoft.com/ja-jp/azure/sql-database/sql-database-connectivity-issues#net-sqlconnection-parameters-for-connection-retry

[2019-05-27 03:29] KetanChawda-MSFT commented on #31873
@idohalevi Checking in to see if the above post helped answering your question.

[2019-05-27 03:31] KetanChawda-MSFT commented on #31910
@paululvinius I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-27 03:33] KalyanChanumolu-MSFT commented on #31802
@dalechen for awareness

[2019-05-27 03:33] KetanChawda-MSFT commented on #31929
@grahamehorner I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-27 03:34] KetanChawda-MSFT commented on #32079
@hmayer1980 Checking in to see if the above post helped answering your question.

[2019-05-27 03:43] dcbrown16 opened #32191 "Behavior of snapshot retention on Backup disable"
When you stop protection, you have two options regarding the "normal" backups - keep (at least one) or delete all of them.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-manage-vms#stop-protecting-a-vm

What is the behavior regarding Instant Restore snapshot retention when stopping protection? My assumption is that they will be deleted according to the set retention period and you do n

[2019-05-27 03:49] RaghuramP commented on #30836
@KlaBier refer below article, it has details to get default policy and how to change ATL.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

[2019-05-27 03:54] KetanChawda-MSFT commented on #32186
@mgrabarz Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-27 04:00] Alberto-Vega-MSFT commented on #32180
@mohsinis Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-27 04:01] Alberto-Vega-MSFT commented on #32183
@seantleonard Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 04:02] Alberto-Vega-MSFT commented on #32184
@vakhare Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-27 04:04] Alberto-Vega-MSFT commented on #32185
@seantleonard Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 04:15] RohitMungi-MSFT commented on #31962
@gikan76 The document is now updated to reflect the correct steps as per portal UI.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-27 04:16] #31962 closed

[2019-05-27 04:19] VikasPullagura-MSFT commented on #31941
@KeiroKamioka0000 The Query is now added to FAQ. I am closing the issue for now. Thanks.

[2019-05-27 04:19] #31941 closed

[2019-05-27 04:24] AshokPeddakotla-MSFT commented on #31823
@mirkogit Have you had a chance to see the above response? Please follow the troubleshooting steps.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-27 04:24] #31823 closed

[2019-05-27 04:35] YASWANTHM-MSFT commented on #30887
@sumptersmartt , we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-05-27 04:35] #30887 closed

[2019-05-27 05:06] msrini-MSFT commented on #32071
@mdgattuso , can you check if the code representation of the rules can be documented?

[2019-05-27 05:14] jeffhollan commented on #31514
The registry you provide in the command reflects your docker hub registry name, or often your username.  Based on logs here it sounds like you set the registry of `httptriggercontainer` which I'm not sure is accurate.  You'll also need to make sure you've logged into docker hub (`docker login`) to authenticate pushing to your registry.

If that doesn't work or for more details, you can also try ru

[2019-05-27 05:16] jeffhollan commented on #31929
Behind the scenes it's building a docker image `<registry>/<name>` and then doing a `docker push <registry>/<name>`.  If you haven't authenticated the docker client with a login that has permissions to push to `<registry>` or have some invalid details I think this would be what is sent back.  Likely worth putting in some pre-reqs (as this came up in another issue as well) that:

- You need to firs

[2019-05-27 05:17] gavynriebau commented on #15181
I encountered what I suspect to be the same issue and in my case think it was due to the issue described in [this stackoverflow](https://stackoverflow.com/questions/45106303/app-insights-status-monitor-extension-failing-to-deploy-with-arm-template/45138533) article?

In the article Brando Zhang explains he thinks the issue is because the site extension `Microsoft.ApplicationInsights.AzureWebSites`

[2019-05-27 05:29] amrelbakry opened #32192 "PowerShell script not working"
I am trying to execute the PowerShell script in this page, however I get the following exception (where "/201-web-app-redis-cache-sql-database" is the name of the folder at which the ARM template is placed)
For some reason the step at which the $template is being retrieved doesn't seem to find any templates, I have removed the "Where-Object" clause and all the returned objects, none of them is of

[2019-05-27 05:44] jberezanski-mdg commented on #31715
@Blackmist Thank you for the explanation, I'll submit a request on UserVoice then.

[2019-05-27 05:51] MarekLani commented on #31898
@kgremban yes this is what I meant. Basically having possibility to deploy modules without any need of accessing customer's subscription.

[2019-05-27 06:02] rokulka commented on #8247
I've tested this thing again via updating the DefaultAnswer as mentioned here -
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/QnAMaker/FAQs.md#how-can-i-change-the-default-message-when-no-good-match-is-found

You can verify this for your Test and Prod KBs using the Published KB checkbox in the Test pane -
![image](https://user-images.githubusercontent.com/3692

[2019-05-27 06:04] Joostul opened #32196 "Never mind I made a mistake, please delete"

[2019-05-27 06:04] genlin commented on #27483
#please-close

[2019-05-27 06:07] shahabaz opened #32197 "Settings Changed - ADF"
The documentation is 2 months outdated to the month I tried. The step where the package path is specified has been drastically changed. There is no refresh button anymore and there is no proper way to fetch the path of the package. I tried manually feeding the path of the package nothing works.

How do I get proper deployed package from the ADF SSIS IR and use it in the package execution task of A

[2019-05-27 06:20] csamleong opened #32198 "Can a custom function/module be created in a non-containerized env ?"
Almost all of the documentations that i have seen were talking about how a custom module ought to be deployed to a container env. However, i wonder if non-containerized env is actually possible for a custom module ? We have got a third party product/function which needs to be deployed on a non-containerized env, can you point me to the correct direction ?

Or we have to create our own via IoT Devi

[2019-05-27 06:26] #32196 closed

[2019-05-27 06:26] Joostul commented on #32196
I missed the array function

[2019-05-27 06:30] justSteve commented on #6849
The page provides an example for a .Core app. How about pre.Core?

[2019-05-27 06:32] idohalevi commented on #31873
@KetanChawda-MSFT Thank you but not really. In the end, I have to deploy two Function App that needs to share code without npm (I'm writing in nodejs). Correct me if I'm wrong but the only way to do so is to duplicate the code..

[2019-05-27 06:33] SadiqhAhmed-MSFT commented on #32191
@dcbrown16 Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-27 06:33] gowrishcode commented on #11576
Can you please share the Powershell Command to change SKU for Public IP.

[2019-05-27 06:39] TheReaLee commented on #6500
I tried @chanes-cds suggestion:

USER ContainerAdministrator
RUN route -p add 169.254.169.0 mask 255.255.255.0 0.0.0.0
USER ContainerUser
ENTRYPOINT ["dotnet", "myapp.dll"]```

[2019-05-27 06:54] DaveZimmermann commented on #31971
Hi @MicahMcKittrick-MSFT and @MashaMSFT
Thanks for your answers! Thats fine for me now, but maybe this part should be rewritten:
"BYOL images require an Enterprise Agreement with Software Assurance. They are not available as a part of the Azure Cloud Solution Partner (CSP) at this time."
Or just add that you have to turn on the hybrid benefit and use the normal image from the marketplace.
Best Reg

[2019-05-27 06:59] KlaBier commented on #30836
@RaghuramP: thanks for sharing this. I understand from the article that ATL is not longer supported after Nov, 1. This will be replaced then with functionality in Azure Active Directory Conditional Access. Isn't it correct? When I check the CA Policy today I cannot see a possibility to manipulate ATL.

[2019-05-27 07:02] barbel840113 commented on #12891
Guys this is very easy fix.

You can check webSpace in the Azure Resource Explorer. You will see webStack name. This is usually refers to the resource group where did you originally created your service plan. So what you have to do recreate a new service plan in the same or the previous resource group and then change the service plan.

[2019-05-27 07:16] SadiqhAhmed-MSFT commented on #32050
@taromielnaz Yes, We need edit access on the VM to attach and detach disks. Disk ownerships are taken to transfer the changes from the other region.

[2019-05-27 07:31] jberezanski-mdg commented on #31715
https://feedback.azure.com/forums/257792-machine-learning/suggestions/37745380-bring-back-cli-image-commands-az-ml-image-create

[2019-05-27 07:33] DashleenBhandari-MSFT commented on #31561
@chetan-makvana , Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter.

[2019-05-27 07:33] SadiqhAhmed-MSFT commented on #31834
@mganeshphani Currently the request through Azure portal for quota increase is the way quotas blade does it is that it opens the support blade to file a support ticket. Increasing quota needs support engineer to be involved and cannot be automated. However, you can leave your comment in the [feedback forum](https://feedback.azure.com/forums/170030-signup-and-billing?category_id=359290) as a featur

[2019-05-27 07:45] snehithm commented on #29910
Hi @RogerDawson that doesn't sound right. Could you raise a support ticket for the same if you are still seeing this issue?

[2019-05-27 07:58] kobulloc-MSFT commented on #31888
@SychevIgor It does appear that these are not used after they are defined.  We are assigning this to the author to update the documentation accordingly.

[2019-05-27 08:25] hadr10 opened #32199 "Disable run commands"
Hi,
is it possible to disable run commands at subscription level? For serial console is it possible to disable by commands in cloud shell.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f4871-0d07-624f-7daf-02de97121e13
* Version Independent ID: b70d481f-b351-bb38-cb49-1cda63422968
* Content: [Run shell

[2019-05-27 08:25] ChiragMishra-MSFT commented on #31957
@yuharucan Since there has not been any activity from your end, I will now proceed to close this issue. Please still feel free to comment and tag me if you have any queries.

[2019-05-27 08:25] #31957 closed

[2019-05-27 08:29] ChiragMishra-MSFT commented on #32007
@robert4os You can pretty much send any information from a pipeline using the above mentioned way and by adding dynamic content in the parameters that you pass. You can basically create pipeline parameters and variables to hold these dynamic values to be passed and then pass them as mentioned above.

[2019-05-27 08:31] CHEEKATLAPRADEEP-MSFT commented on #32197
@shahabaz Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-27 08:33] ChiragMishra-MSFT commented on #32081
@troyel I will now proceed to close this issue. However feel free to still comment and tag me if you have any queries.

[2019-05-27 08:33] #32081 closed

[2019-05-27 08:45] RohitMungi-MSFT commented on #32171
Created [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/77987) to update the sample code.

[2019-05-27 08:49] #32080 closed

[2019-05-27 08:49] #31781 closed

[2019-05-27 08:49] #31774 closed

[2019-05-27 08:49] #31492 closed

[2019-05-27 08:50] #31193 closed

[2019-05-27 08:51] smereczynski commented on #13791
Can anyone clarify the situation with not supporting pySpark3? While here we have an information that it is not supported for HDI Clusters, in HDI documentation we have somethong different: https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-jupyter-notebook-kernels

[2019-05-27 08:51] #30658 closed

[2019-05-27 08:51] #30628 closed

[2019-05-27 08:51] #30509 closed

[2019-05-27 08:52] TimonBG commented on #25355
Hello @DixitArora-MSFT, will it be possible to clarify current state of custom domains support in Consumption tier? I see "Custom domains" in Settings and I can configure it. But then every call using custom domain results in "Resource not found" error. Based on your comment, I am not sure if I am doing something wrong, or the feature is incomplete. Thank you!

[2019-05-27 08:53] #30055 closed

[2019-05-27 08:53] #30030 closed

[2019-05-27 08:54] #30029 closed

[2019-05-27 09:01] linruhui commented on #31879
@cephalin What's the latest status on this problem? Is there any conclusion that you can share?

[2019-05-27 09:10] swinarko commented on #32197
You can only browse SSISDB to select your existing projects/packages and refresh the browsing experience to fetch newly deployed projects/packages WHEN your Azure-SSIS IR is running AND the "Manual entries" checkbox is unchecked, otherwise you can only enter your package paths manually.

[2019-05-27 09:13] ram-msft commented on #31891
@stuarthallows @vrishni Thanks for the feedback. As a workaround, you can exclude the price label column from the "Select Columns Dataset" from the predictive Experiment as it will not be used for the prediction. But the Generated Predictive Experiment need to tweak a little bit to run the experiment successfully as shown below. Will see how can we improve this with the concerned team. I hope this

[2019-05-27 09:14] SadiqhAhmed-MSFT commented on #32191
@dcbrown16 Stop protection comes with 2 options:
a.	Retain data
b.	Delete data
Either of the command applies to both the RPs in the vault and the instant recovery points.

[2019-05-27 09:15] RohitMungi-MSFT commented on #32167
@01 Based on the current functionality it does not look like there is an option to filter answers based on non strict filters. You can however use none to indicate response should have no metadata filters and get all values with no metadata.

@tulasim88 Could you please confirm if there is a possibility of using non strict filter while omitting some values and returning others instead of just usin

[2019-05-27 09:20] CHEEKATLAPRADEEP-MSFT commented on #31934
@vrundabhattbhatt I have assigned the issue to the content author [@dearandyxu] to review further and update the document as appropriate.

[2019-05-27 09:20] DixitArora-MSFT commented on #32126
@SeanFeldman I have assigned this to content author to review and update as appropriate.

[2019-05-27 09:23] PramodValavala-MSFT commented on #32040
@softchris I hope my previous comment clears things up

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-27 09:23] #32040 closed

[2019-05-27 09:29] CHEEKATLAPRADEEP-MSFT commented on #32124
@omartin2010 Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-05-27 09:32] bog-dan opened #32200 "out of date"
This guide is out of date with the latest SDK which reinvents most of the things. To make it worse, the SDK for Blob storage creates conflicts when using with previous versions of the Queue SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3256c30-31d3-382e-0cc5-70d861ecc5cd
* Version Independent ID: e9c9cb31-96a4-0

[2019-05-27 09:37] AjayKumar-MSFT commented on #31920
@markwaksman and @siddsachar, Thanks for bringing this to our attention. We have been discussing on this internally and I have assigned the issue to the content author to review further and update the document as necessary.

[2019-05-27 09:39] yuharucan commented on #31957
If Microsoft peering is used, I think source IP addesses are not local IP, but public IP.

[2019-05-27 09:39] YASWANTHM-MSFT commented on #32200
@bog-dan, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-27 09:49] benhartwich opened #32201 "DNS configuration script doesn´t work at microsoft hosted pipelines"
The inserted script Configure a DNS name => Azure CLI doesn´t work at microsoft hosted pipelines at Devops because the bash script agent job doesn´t find any azure cli command.

Could you please provide a script, which shows how to do this step with a microsoft hosted pipeline? Also there is no explanation how to assign an external domain name to an azure ip address for using it at kubernetes ngin

[2019-05-27 09:51] RohitMungi-MSFT commented on #32172
@carloshm The following [section ](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/csharp-tutorial-od#get-the-training-and-prediction-keys) documents how the prediction key can be retrieved.

@areddish For the details shown about the prediction URL's we have this [section ](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/use-predictio

[2019-05-27 09:56] shahabaz commented on #32197
That's helpful. I didn't realize that there is a method for auto and manual entry. Thanks

[2019-05-27 09:56] #32197 closed

[2019-05-27 10:01] SadiqhAhmed-MSFT commented on #32173
@bwren Would you've any insights/suggestions on how to fix this issue?

[2019-05-27 10:04] vrishni commented on #31891
Thanks for the details.

[2019-05-27 10:28] msrini-MSFT commented on #31957
@yuharucan , When you use Microsoft peering, your ISP provider should have used a Public IP address prefix with a /28 subnet and those IP ranges are not publicly route-able. For Microsoft Peering the SNAT will not happen in Azure end.

Also all traffic which you send from On-Premises gets SNAT to the /28 prefix and you will not be able to restrict those IP in the Firewall rule.

[2019-05-27 10:30] marklinmao opened #32202 "Cannot open project "Sharing\SharingServiceSample": Project incomplect"
When opening 'SharingService.csproj' with VS 2017, it said: "error  : Project file is incomplete. Expected imports are missing.". It's not possible to deploy App service plan.

Alternatively, can you also describe how to create App service plan on Azure website, instead of through that sample app?
https://portal.azure.com/#create/Microsoft.WebSite
When creating app through website, you will be ask

[2019-05-27 10:35] weitzhandler opened #32203 "EF Core implementation guidance request"
Would be nice if there was some technical guidance on how to implement a tenant system with Entity Framework Core.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54f6795f-45de-12da-60dd-cc7be805548c
* Version Independent ID: 7c3571de-62fa-09a2-0cb1-545a6e14f8fe
* Content: [Multi-tenant SaaS patterns - Azure

[2019-05-27 10:45] MohitDhingra-MSFT commented on #31855
Hi @shanjin90,
I believe you are talking about Federation settings . We have initiated a change and it should be updated within the next 24-48 hours as per the next release cycle. We will close this now. Should you have any further query on this, please tag me or @shashishailaj to your reply and we will be happy to continue the conversation. Alternatively you can always open a new issue with your

[2019-05-27 10:45] #31855 closed

[2019-05-27 10:54] MightyPen commented on #32203
@weitzhandler Thank you for this inquiry.  My first impression is that it is unlikely we could justify giving priority to the task that you named here, given our very long list of competing priorities.  But I will leave this Issue 32203 open for a couple days so I can mention the idea to my colleagues.
Thank you.

[2019-05-27 11:00] weitzhandler commented on #32203
Hey @MightyPen, really appreciate your kind reply.
Would really appreciate if your could bring that up indeed, but I just found the [Wingtip Ticket app example](https://docs.microsoft.com/en-us/azure/sql-database/saas-tenancy-welcome-wingtip-tickets-app) which I'm still reading out, might solve my issue.

Thanks!

[2019-05-27 11:00] AshokPeddakotla-MSFT commented on #31964
@JEEJACV Please help with the link of document on which above document feedback request is created.
Can you share the screenshot of the issue for better understanding? If you are referring to Azure SQL Database, please see the [documentation](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure#configure-long-term-retention-policies).
Do let us know

[2019-05-27 11:01] bertrandpons commented on #31280
@MartinJaffer-MSFT thank you for that ! Do you know when the release is planned?

[2019-05-27 11:21] mlottner commented on #32101
@sandervandevelde Thanks for your question! The point the docs tried to make clear was that a valid route must exist between the azureiotsecurity module and $upstream -that forwards its messages. In this case, the default route is ok. I'll change the wording to make it more clear based on your feedback.
Appreciate you taking the time to contribute.

[2019-05-27 11:34] MohitDhingra-MSFT commented on #31843
Hi @s-krawczyk,

The AddAzureAd() method adds the Microsoft identity platform authentication to your application. It's then configured to sign in using the Microsoft identity platform endpoint.

This [link](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-app-configuration) you mentioned is for code configuration and if you are looking for usage of specifi

[2019-05-27 11:34] #31843 closed

[2019-05-27 11:36] SumanthMarigowda-MSFT commented on #31782
@jaredpritchard7 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-27 11:37] hmayer1980 commented on #32079
Di you make a change to it?
I definitely undestand that from a performance point of view a dedicated storage account per function is recommend.
This is not my point - if have "very low use" functions, but V1 & V2 functions mixed. And I have may of those (with non overlapping Function Names)
To keep things easier I wanted them all to use the same storage account - but this must actually not be supp

[2019-05-27 11:38] satyajitps opened #32204 "Portal: How to view unique key constraints once created"
On the Azure Portal, is there any way to see the unique key constraints for a container, after it has been created? In "Data Explorer" &gt; "My-Container" &gt; "Scale & Settings", I don't see my unique key constraints on the container I just created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-fff

[2019-05-27 11:46] AmanGarg-MSFT commented on #32192
@amrelbakry Just wanted to confirm if you added https://github.com/Azure/azure-quickstart-templates.git to the repositories in your Dev Test Lab?

![image](https://user-images.githubusercontent.com/44466503/58417649-17460480-80a3-11e9-9d5d-a1e9271ee665.png)

[2019-05-27 11:55] rwaal commented on #28817
@SadiqhAhmed-MSFT The workaround doesn't work for me. Can you explain in more detail, or point me to some documentation how this works? We are now unable to automate the activities regarding ASR because the ASR cmdlets seem to be broken.

[2019-05-27 12:15] SubhashVasarapu-MSFT commented on #32145
@gabrielbarbosasouza , The document changes were made accordingly and will take some time to get reflected.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-27 12:15] #32145 closed

[2019-05-27 12:31] SubhashVasarapu-MSFT commented on #31172
@jaiminsoni2017 , I could see HTTP/2 protocol on both verizon as well as azure CDN.
![image](https://user-images.githubusercontent.com/44890829/58419872-60995280-80a9-11e9-94c9-8aa1c9fa1d32.png)
Could you please confirm with the browser you are trying with?

[2019-05-27 12:34] onstwedder opened #32205 "Rotated Forms"
I have a feeling that if forms are rotated anti-clockwise, it doesn't learn very well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fa2bcb-4ecb-fea1-5126-36986c2c94e9
* Version Independent ID: c6cd5bd0-b35b-5e29-7f5e-db8cabecc7af
* Content: [Quickstart: Train a model and extract form data by using cURL - Form Recog

[2019-05-27 12:40] KalyanChanumolu-MSFT commented on #31766
@jderus Its been a while we heard back from you.
We will close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-05-27 12:40] #31766 closed

[2019-05-27 12:53] KrishnaG-MSFT commented on #32199
@hadr10 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-27 12:55] fedorovdima opened #32207 "Wrong TOC in links"
Hi there!

I wonder why there is a wrong TOC in some links due to explicit "?toc=" parameter. I believe it should be fixed (removed) cause it confuses when you follow those links.

The list of links:
1) see Point-to-site VPN (https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways?toc=%2fazure%2fvirtual-network%2ftoc.json#P2S);
2) see Site-to-site VPN (https://docs.microso

[2019-05-27 12:59] KrishnaG-MSFT commented on #32196
@Joostul No problem. This issue is triaged and closed now.

[2019-05-27 13:05] nhunter1093 commented on #32196
This information was forwarded through my personal email inbox on iOS, please advise to prevent the Apple and/or Samsung issue from harming the following brand names (Intel, Microsoft, Samsung, Apple)

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: KrishnaG-MSFT <notifications@github.com>
Sent: Monday, May 27, 2019 5:59 AM
To: MicrosoftDocs/azure-docs
Cc: Subscr

[2019-05-27 13:12] porrascarlos802018 opened #32208 "missing critical information"
How to scale up windows nodes, or linux nodes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server container on an Azure Kubernetes Service (AKS) cluster](https://docs.microsoft.c

[2019-05-27 13:22] artisticcheese opened #32209 "Name resolution fails in Windows containers"
Repro steps (including mandatory 30s wait)

`New-AzContainerGroup -ResourceGroupName ACI -Name mycontainer -Image mcr.microsoft.com/windows/servercore:ltsc2019 -OsType Windows -DnsNameLabel aci-dns -Command "powershell -Command  `"Start-Sleep 30;  Resolve-DNSNAme www.google.com`""`

Result
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-05-27 13:26] KrishnaG-MSFT commented on #32198
@csamleong Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-27 13:29] glennvanrymenant commented on #16579
I really don't understand why this topic was closed, the initial question was to make the **source** property available programmatically and instead a workaround was provided for retrieving non-dirsynced users?

I want to retrieve this **source** property to filter which external users are MSA/AAD or else, will it be available in the future in any way?

[2019-05-27 13:31] KrishnaG-MSFT commented on #32201
@benhartwich Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-27 13:36] KrishnaG-MSFT commented on #32202
@marklinmao Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-27 13:38] tadhgclifford commented on #32093
Hi,
Is there any update on a fix for this issue as I am trying to create a host pool in order to test the virtual desktop offering? I'm not familiar with git hub and would prefer to use the portal to create the host pool.
Thanks in advance.

[2019-05-27 13:40] rafalfitt opened #32210 "How can a similar policy be created manually (for example to add some exceptions)?"
I am unable to find these services in the cloud app list:
Azure portal
Azure PowerShell
Azure CLI.

is it all covered by the cloud app "Microsoft Azure Management"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0327017d-eaaf-2f62-88b5-09f5bb142987
* Version Independent ID: f08f88b4-bea1-e47f-e978-feae569b32d5
* Conten

[2019-05-27 13:42] KrishnaG-MSFT commented on #32203
@weitzhandler Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-27 13:44] jakaruna-MSFT commented on #32209
@artisticcheese Similar issue in MSDN https://social.msdn.microsoft.com/Forums/en-US/6acd118f-7491-4b65-81d6-371f612088e8/problem-accessing-standard-table-from-a-windows-nanoserver-azure-container-instance?forum=AzureContainerServices

Can you try the below command and check if its able to resolve well on your container.
`Resolve-DnsName -Name www.bing.com -Type A -Server 8.8.8.8`

[2019-05-27 13:44] KrishnaG-MSFT commented on #32204
@satyajitps Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-27 13:47] BJD1997 commented on #32093
Hi @tadhgclifford if you click the link I mentioned before you will see a blue button at the end of the page called “deploy to Azure” if you click that button it will take you to Azure to deploy the solution. The same information is needed as the wizard which currently is broken.

[2019-05-27 13:51] jakaruna-MSFT commented on #32201
@benhartwich
For running Azure cli commands please use [Azure CLI task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops) in Azure devops.

For configuring an external DNS name, the recommended option is to

- create a Azure DNS zone
- buy the domain from a domain registration service or use existing
- delegate that domain to the Azure dns service or

[2019-05-27 13:53] s-krawczyk commented on #31843
Sorry, I but you don't understand. This article does not mention in what
nuget package this AddAzureAd() is included. Just add this. It will save
people's time.

Pozdrawiam SK

pon., 27 maj 2019, 13:34 użytkownik MohitDhingra-MSFT <
notifications@github.com> napisał:

[2019-05-27 13:54] jakaruna-MSFT commented on #32208
@porrascarlos802018 Scaling node in AKS is covered in this [Document](https://docs.microsoft.com/en-us/azure/aks/scale-cluster).

Please go through that and let me know if you have any issues

[2019-05-27 13:55] benhartwich commented on #32201
@jakaruna-MSFT: thanks for clarification. But at the Azure CLI task I can´t use your documented domain assignment script, because azure cli doesn´t know any bash variable. Which way you choose the script is wrong for the pipeline environment.

Do I need this script in any way? I would like to use an external domain for certbot also, which is running at a second container following your recommendat

[2019-05-27 14:00] chetan-makvana commented on #31561
Email sent to AzCommunity

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Monday, May 27, 2019 1:03:43 PM
To: MicrosoftDocs/azure-docs
Cc: chetan-makvana; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment fails for Spring boot JAR (#31561)

@chetan-makvana<https://github.com/chetan-makvana> , Co

[2019-05-27 14:05] lucasasterio25 commented on #23045
i'm using Trial (Premium - 14-Days Free DBUs) and the error persist

[2019-05-27 14:06] DashleenBhandari-MSFT commented on #31561
@chetan-makvana I will go ahead and close this issue and work with you over the email.

[2019-05-27 14:06] #31561 closed

[2019-05-27 14:09] DanteNahuel opened #32212 "VMs Linux Diagnostic Extension using Powershell"
Hi,
I can't find any documentation indicating how to install the Diagnostic Extension for Linux VM
The only document I found was for [Azure CLI bash ](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux).
I need to automate this in order to install the extension over multiple VMs at the same time, so using the Portal "manually" is not an option.
When trying to do i

[2019-05-27 14:20] shashishailaj commented on #31963
@Raffatronic It seems you are missing the **@** symbol within your cmdlet. The error is designed to only come when you are trying to use a object email address which is not already present in your tenant . I tried both the ways , using Only object ID as well as using email address.

[code]

We will close this issue now. Should you have any further queries, please tag me or the content author  @msm

[2019-05-27 14:20] #31963 closed

[2019-05-27 14:24] shashishailaj commented on #31882
Thank you for your contribution. We appreciate it immensely. We are engaging the author @billmath of this document to  review and make changes to the [Mozilla Firefox](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#mozilla-firefox-all-platforms) section in the article .

[2019-05-27 14:25] shashishailaj commented on #31882
@billmath Could you please review this request and  make changes to the article as per the current Firefox  stable release update as mentioned in the issue ?

[2019-05-27 14:29] artisticcheese commented on #32209
Yes, explicitly specifying resolver IP address works right away.

[2019-05-27 14:30] Elgaatoo commented on #26176
Hello I am getting the same Problem when doing the last step uploading the Sketch to my ESP8266.

C:\Users\XXXX\.vscode\iot-hub-feather-huzzah-client-app\app\credentials.ino:29:68: warning: deprecated conversion from string constant to 'char*' [-Wwrite-strings]

     readFromSerial("Input your Wi-Fi password: ", pass, PASS_LEN, 0);

[2019-05-27 14:38] jpetitte commented on #16614
@mitanshu001 It looks like custom mic input is now a native part of the SDK: https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/audioconfig?view=azure-node-latest#frommicrophoneinput-string-

[2019-05-27 14:57] fbuser1 opened #32213 "PlacementAndLoadBalancing outdated values"
In "Resource governance" article
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-resource-governance

I found two outdated parameters for PlacementAndLoadBalancing section:
CpuPercentageNodeCapacity
MemoryPercentageNodeCapacity

Actual values:
![image](https://user-images.githubusercontent.com/36403476/58427616-ce914a00-80a8-11e9-97be-b0620badf64b.png)

---
#### Document Detai

[2019-05-27 14:57] AjayKumar-MSFT commented on #32153
@thelements, Kindly take a look at this document '[Tutorial: Push notifications to Android devices by using Azure Notification Hubs and Google Firebase Cloud Messaging](https://docs.microsoft.com/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started)' for the approach.
Also, here's a doc that describes the current state and some of the FAQs on migration to FCM:

[2019-05-27 14:59] BryanTrach-MSFT commented on #32207
@fedorovdima Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 15:00] BryanTrach-MSFT commented on #32205
@onstwedder Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 15:04] BryanTrach-MSFT commented on #32213
@fbuser1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 15:05] BryanTrach-MSFT commented on #32212
@DanteNahuel Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 15:05] tadhgclifford commented on #32093
Thank you kindly - that works well!

[2019-05-27 15:07] BryanTrach-MSFT commented on #32210
@rafalfitt Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-27 15:20] ram-msft commented on #31974
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-27 15:20] #31974 closed

[2019-05-27 15:25] hmayer1980 commented on #30160
To Start over again is easy possible - I just use the whole thing as ExecutePipeline and run it a second time with an  Error dependency from the first...

This all is running in Regular Schedule Trigger Executions - no user Interfaction...

To me it all boils down to - durable functions need their own Activity to run them.
I have implemented a retry myself - but with a pipeline filing I will also

[2019-05-27 15:25] fedorovdima opened #32214 "Misrepresentation about how mstsc works"
Hi there!

There is a comment after mstsc command about what happens next:

|| mstsc /v:&lt;publicIpAddress&gt;
|
| A Remote Desktop Protocol (.rdp) file downloads to your computer and a Remote Desktop opens.

Correct me if I'm wrong but this is misrepresentation since the /v key simply specifies the remote IP to connect to (so no RDP files or any files are downloaded when a user runs that command

[2019-05-27 15:26] jberg-ppi commented on #31321
Excellent, thank you! For future users, you may want to add the second step of the process as part of this documentation. Thank you for helping us get the logging working!

[2019-05-27 15:26] #31321 closed

[2019-05-27 15:43] rogerbramon opened #32215 "HTTPS Support"
Hi,

I tried to apply this solution and it worked for HTTP but it's not working for HTTPS: if I disable the “Pick Hostname from Backend Address” then I get a 502 Bad Gateway.

Should it work for HTTPS?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aacd2683-3d38-ac23-22bb-fadd39d16dcc
* Version Independent ID:

[2019-05-27 15:52] Csmithson-qh opened #32216 "Can not Sync Python runbooks from Azure Devops Git Repo"
Hello! I hope this has an obvious solution. I am implementing source control between our Visual studio/Azuredevops Git repository and it has been working great. I just implemented a python environment and as soon as i added some .py files, the sync job fails fails. It will successfully synchronize the .ps1 files with no issue, but .py throws the following error.

`Exception: Cannot validate argume

[2019-05-27 16:14] sergaz-msft commented on #27826
Hi @robinsh can you take a look at @ntrpnr feedback and enhance the document accordingly? Thank you!

[2019-05-27 16:24] CeciAc opened #32217 "Configuration shown in the Manual does not work if the User does not have an Exchange Online Mailbox"
@alexander-barisic commented on [Sat May 25 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/361)

The Manual states that one should setup the Claims to populate the Slack-Field "User.Email" with Azures "user.mail" (Step 6).

In Fact that does *only* work if the Azure-User has a) an Exchange Online Mailbox or b) is synced from OnPremise AD and has an Exchange Mailbox there.

For User

[2019-05-27 16:25] CeciAc commented on #32217
Hi team,
I'm moving this here since the user is making suggestions on the original documentation
Kind regards

[2019-05-27 16:26] sergaz-msft commented on #28844
@dblaszyk we didn't see a request from you on our internal DL nor on an Azure Support Ticket. I will close this for now, though please @me if you want to reopen it and\or your issue was solved and you can share how it was solved with others. Thank you!

[2019-05-27 16:26] #28844 closed

[2019-05-27 16:39] amrikmahal opened #32218 "Error While using helloworld sample smart contract"
![azure-workbench-sample-error](https://user-images.githubusercontent.com/17153208/58431441-643dd100-80cb-11e9-812c-2bcaed24b252.JPG)

You can also create a feedback issue here in the repo. If you do this, please make sure your issue lists:

- [ ] The relevant Azure service or technology.
Azure workbench

- [ ] A link to the published documentation article that you have feedback about.
Hi, This sm

[2019-05-27 16:46] MikeWasson opened #32219 "Can I register the application using a different AAD tenant?"
I can only see options to register the application in the current AAD tenant. Can I select a different tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Directory authentication -

[2019-05-27 16:57] jakaruna-MSFT commented on #31697
@lambodar
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-27 16:57] #31697 closed

[2019-05-27 16:58] jakaruna-MSFT commented on #31789
@siaomingjeng
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-27 16:58] #31789 closed

[2019-05-27 16:58] grahamehorner commented on #31929
Q: is it also possible to publish to a private on premises repository using these tools? and if so how is this performed

[2019-05-27 16:59] jakaruna-MSFT commented on #32029
@swagkulkarni is there any update

[2019-05-27 17:05] jakaruna-MSFT commented on #32152
@yuriwoof Thanks. I will try out with 2.0.65 and let you now tomorrow

[2019-05-27 17:08] jakaruna-MSFT commented on #32209
ok.  As specified in the related msdn thread, Its reported to the Product Team.
Current work around is to use this image `mcr.microsoft.com/windows/servercore:1607`

[2019-05-27 17:13] jakaruna-MSFT commented on #32165
@iainfoulds Please provide your comments

[2019-05-27 17:14] jakaruna-MSFT commented on #32166
@ShadowPic Thanks for the feedback. I will go through this doc and update you.

[2019-05-27 17:17] jakaruna-MSFT commented on #32177
@thanks for reporting. I will go through the doc and update you.

[2019-05-27 17:25] jeffhollan commented on #31929
Yes. Same tools work. Behind the scenes it’s just using kubectl apply and docker build / push which work regardless if local (minikube), cloud (like AKS), on on prem

[2019-05-27 17:25] jeffhollan commented on #31929
Also works with private registries but you’ll need to pas in the right secret parameter so kube can auth and pull down

[2019-05-27 17:33] jakaruna-MSFT commented on #32175
@spacecat Both works. It's up-to us to pick [imperative or declarative](https://kubernetes.io/docs/concepts/overview/working-with-objects/object-management/) mode.
The environment (dev or prod) also decides the mode which we want to use.

For tutorials we prefer to use `apply`.

[2019-05-27 17:41] CeciAc opened #32220 "Typo"
@fdebonneval commented on [Mon May 27 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/404)

Hi;

Circit to be replaced by circuit in the sentence :
"ExpressRoute Local is a SKU of ExpressRoute circuit. A key feature of Local is that a Local circit"

FB

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes G

[2019-05-27 17:48] CeciAc commented on #32220
Hi team,
I'm moving this here since there's a typo in the orifinal documentation
best

[2019-05-27 17:52] jaredr80 commented on #32220
This is fixed and will rollout tomorrow. #please-close

[2019-05-27 17:55] #32220 closed

[2019-05-27 18:17] LValla opened #32221 "left buttons without hyperlinks"
in this page there are 2 blue buttons without link anymore...probably a misprint
right above the title here:
https://docs.microsoft.com/en-us/azure/search/cognitive-search-quickstart-blob#step-3-configure-the-index
and above this title:
https://docs.microsoft.com/en-us/azure/search/cognitive-search-quickstart-blob#step-4-configure-the-indexer

---
#### Document Details

⚠ *Do not edit this section

[2019-05-27 18:24] AjayKumar-MSFT commented on #32219
@MikeWasson, If I understand your question correctly, as mentioned in the same document if the Azure Active Directory tenant you wish to use is different from the tenant with which you sign into Azure then follow the document section 'Configure with advanced settings' for advanced management options. Kindly let us know if you have any specific questions or needs more clarification.

[2019-05-27 18:36] lightupdifire opened #32222 "Testing steps"
Hello,
What is difference between registry BlockAADWorkplaceJoin vs autoWorkplaceJoin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c71-28fb-f88db3fcaf7d
* Content: [How to plan hybrid Azure Active Directory join implementation in Azure Act

[2019-05-27 19:05] lightupdifire commented on #31078
@ManojReddy-MSFT,
We plan deployment of AAD Hybrid join and will use Federated setup, anything to worry based on this issue?
I did test using "managed domain + sso" and that worked fine in test farm.

[2019-05-27 19:08] SubhashVasarapu-MSFT commented on #32215
@rogerbramon ,  We are looking into this query and will update you as soon as possible.

[2019-05-27 19:11] SubhashVasarapu-MSFT commented on #32214
@fedorovdima , We are looking into this query and will update you as soon as possible.

[2019-05-27 19:49] gucarreira opened #32223 "Unknown lvalue 'WantedBy' in section 'Unit'"
Hi there,

In this page have some instructions do replace `After=network-online.target` by `WantedBy=cloud-init.service\\nAfter=network.service systemd-networkd-wait-online.service`

But in systemd.service [UNIT] section is not allowed `WantedBy` tag. Should be `Wants`?

Also sed generating line as `Wants=cloud-init.service\nAfter=network.service systemd-networkd-wait-online.service` doens't work.

[2019-05-27 19:54] AjayKumar-MSFT commented on #32221
@LValla, The document aims at highlighting the "Next Page" options (1+3 options) of setting up cognitive enrichment pipeline.

You may navigate to the Azure Portal and attempt to create the service as mentioned in the document, you would notice the "Next step" options are automatically highlighted ( the buttons you’re referring to) at the bottom of the “import data” creation page ( also see the sc

[2019-05-27 20:43] javiermicrosoft opened #32224 "Would be great to explain whether the 100 resource limit also applies to LA workspaces or not."
Would be great to explain whether the 100 resource limit also applies to LA workspaces or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2deb551-af42-bb99-b8bf-03b5f54d7d9c
* Version Independent ID: ecc13a0e-6921-648b-2038-e821d819d1fd
* Content: [Query across resources with Azure Monitor](https://docs.microsoft.

[2019-05-27 22:33] 01 commented on #32167
@RohitMungi-MSFT sorry just to be clear, thats an all or nothing situation. Either filter those that dont have the meta data or not. Im looking to accomplish a combination such as return answers that  has metadata filed value or doesnt have the meta data field at all.

Example use case have a specific QnA pair that should only be returned to Managers. From my understanding of filter functionality

[2019-05-27 22:40] swagulkarni commented on #32029
Hi @jakaruna-MSFT  - here is the describe command for the pod with pending state

swagat@Azure:~$ kubectl describe pods istio-pilot-958dd8cc4-z5mnp -n istio-system
Name:               istio-pilot-958dd8cc4-z5mnp
Namespace:          istio-system
Priority:           0
PriorityClassName:  <none>
Node:               <none>
Labels:             app=pilot
                    chart=pilot

[2019-05-27 22:44] swagulkarni commented on #32029
@jakaruna-MSFT  - I have  single node cluster with following stats

Total cores - 2
Total memory - 7

Note that this is the default behaviour when I followed the instructions on the microsoft page to setup the AKS cluster.

[2019-05-27 23:01] fabich commented on #32062
@PramodValavala-MSFT so I guess the only workaround for now is to create a function app that will take blob events from event grid and sends them to service bus?

[2019-05-27 23:07] spacecat commented on #32175
Thanks.

For reference:

https://stackoverflow.com/questions/47369351/kubectl-apply-vs-kubectl-create

[2019-05-27 23:27] jdevalk2 commented on #16481
Microsoft, please fix the fact that mounted Fileshare storage requires the container to run as root, as this goes against docker best practices.  Further it eliminates a lot of containers that do not run as root, and need file storage.

I think the underlying issue with Grafana is the docker image does not run as root.

Fileshare seems to be mounted as root:root  777. Which is the default.

When t

[2019-05-28 00:10] shiint0 opened #32226 "upgradeDomainCount"
This article does not explain the purpose or function of upgradeDomainCount, and links to an article which does not even contain the word "domain"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21be198b-872f-4cab-5a71-425373555545
* Version Independent ID: 82e579bf-a56d-e782-ceb1-ea7c3b61837e
* Content: [Azure Cloud Se

[2019-05-28 00:41] SharmainePopov opened #32227 "Is this page up to date with respect to AHUB and VMSS?"
I cannot find the option to add a column for AHUB for VMSS in the portal although I was able to update the License Type with PowerShell. I can still find the column option  for ordinary VMs. Can you confirm AHUB applies to VMSS still

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef4a337-5ded-458c-9131-fee7a8fa99a6
*

[2019-05-28 00:44] dcbrown16 commented on #32191
@SadiqhAhmed-MSFT ok, that makes sense but please confirm the behavior regarding snapshot retention if you disable protection.
As the doc says, "This default snapshot retention value is configurable to any value between 1 to 5 days." I find it hard to believe that you could persist the snapshot indefinitely by turning off the backup service - is that what you are saying happens?
i.e. here's what I

[2019-05-28 01:00] Alberto-Vega-MSFT commented on #32224
@javiermicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:05] Alberto-Vega-MSFT commented on #32223
@gucarreira Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:07] Alberto-Vega-MSFT commented on #32222
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:13] Alberto-Vega-MSFT commented on #32218
@amrikmahal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:16] Alberto-Vega-MSFT commented on #32217
@alexander-barisic Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:17] Alberto-Vega-MSFT commented on #32216
@Csmithson-qh Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-28 01:19] Alberto-Vega-MSFT commented on #32227
@SharmainePopov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:22] Alberto-Vega-MSFT commented on #32226
@shiint0 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 01:44] BryanTrach-MSFT commented on #27483
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-28 01:44] #27483 closed

[2019-05-28 01:46] BryanTrach-MSFT commented on #29843
@angie4u We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-28 01:46] #29843 closed

[2019-05-28 01:50] BryanTrach-MSFT commented on #31876
@michael-msft Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-28 01:50] #31876 closed

[2019-05-28 01:51] BryanTrach-MSFT commented on #31868
@mcakumar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-28 01:51] #31868 closed

[2019-05-28 02:02] Csmithson-qh commented on #32216
sure thing! its https://docs.microsoft.com/en-us/azure/automation/source-control-integration

I apologize I thought hey were linked, this was at the bottom of the page.

[2019-05-28 02:14] Karishma-Tiwari-MSFT commented on #32119
@dlepow Do you have any suggestions to improve this? Please let me know.

[2019-05-28 02:30] dcbrown16 commented on #6582
@barclayn @TerryLanfear we're a year out from this request. Can we please have this table reproduced as text instead of an image?

[2019-05-28 02:36] s3vhub opened #32229 "Clarity needed on the scope"
Could you please specify what the Microsoft.Web/sites/mysite1means.
for example i have say a databricks resource in my resourcegroup to which i need to provide RBAc access.In that case what will the mysite1 mean and what will be Microsoft.web etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e974af9-501a-8eac-b9c1-d

[2019-05-28 02:56] cabailey commented on #32155
Assigning to @sandeepkalarickal

[2019-05-28 03:27] KetanChawda-MSFT commented on #32079
@cgillum can you please confirm on this?

[2019-05-28 03:38] GeekDotNet commented on #29755
Unused methods - GetAccessTokenAsync() and getWaitTime()
Unused Variables - retries, retry
Every beginner refers this document to get started.  It doesn't make keep these in this tutorial.

[2019-05-28 03:41] justingden opened #32231 "Bing Custom Search API reference now returning a 404"
Both from Google search and the references in this documentation under references, the link is broken now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1385616-6ed0-e67e-0b82-115a59f410ec
* Version Independent ID: 871495dd-7659-6c3d-891e-5db897e3a10d
* Content: [Configure your Bing Custom Search experience](https://

[2019-05-28 03:45] kye opened #32232 "Diagram missing labels."
Service Endpoint and Management Endpoint are not labelled in the desired access type diagram, but are  mentioned in bold in the Note.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [How to use Azure API Manage

[2019-05-28 03:46] KetanChawda-MSFT commented on #31873
See [this GitHub](https://github.com/Azure/Azure-Functions/issues/92) issue for sharing code between node functions.

Since this issue is not related directly to the doc, I would recommend you to create a issue on the [Azure Functions product repo](https://github.com/Azure/Azure-Functions/issues). Once you post your issue on repo, it will have visibility across the product owners which is a better

[2019-05-28 03:46] #31873 closed

[2019-05-28 03:51] KetanChawda-MSFT commented on #32186
@mgrabarz I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-28 03:54] RohitMungi-MSFT commented on #32231
@justingden Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-28 04:07] RohitMungi-MSFT commented on #32167
@01 Thanks for your detailed inputs. I think currently the requested functionality is not available to filter metadata values based on non strict filters. You can however pass on this request to the product team through our [user voice forum](https://cognitive.uservoice.com/forums/578689-qna-maker-api), this will help our product team to take up features that users want to see. I hope this helps!!

[2019-05-28 04:08] aeijdenberg opened #32233 "`id_token` present in initial token response from `authorization_code` grant, missing in subsequent `refresh_token` requests"
Hi, we're trying to drop in Azure AD into an application where we previously used G-Suite. As background our application is a native client does that does an OIDC flow and then sends the ID token that it receives to a backend server, which verifies the ID token and then returns a short lived SSH certificate to the client, which it then adds to the local SSH agent for subsequent SSH connections.

A

[2019-05-28 04:18] justingden commented on #32231
Maybe this will help some:

[image: image.png]

Thank you,

Justin

On Mon, May 27, 2019 at 9:54 PM RohitMungi-MSFT <notifications@github.com>
wrote:

[2019-05-28 04:36] SumanthMarigowda-MSFT commented on #32068
@sajithvasu Apologies for the delay!
Refer to the suggestion mentioned in this link https://docs.microsoft.com/en-us/rest/api/sql/database%20extended%20auditing%20settings/createorupdate If the issue still persist, I would recommended you to please contact us in [Azure Community forum ](https://azure.microsoft.com/en-in/support/community/)
since it's not directly related to the documentation. We'l

[2019-05-28 04:55] thelements commented on #32153
hi @AjayKumar-MSFT, Yesterday I implemented notifications in android using **FCM** and sent notification using, node.js' **GCM** method. Surprisingly It works, I am able to receive a notification on Android.

I am not sure It was supposed to work that way. GCM was deprecated last year, and there should be a way to officially integrate FCM using Node.js.

Currently, I have connected Google's FCM an

[2019-05-28 05:03] RohitMungi-MSFT commented on #32231
@justingden It looks like the image in previous update did not update correctly. But, I believe the issue is in the links of the reference section of the documentation which are broken.

@aahill Could you please update the reference links correctly to point to latest API references.

[2019-05-28 05:10] SumanthMarigowda-MSFT commented on #31857
@johanburati We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-05-28 05:10] #31857 closed

[2019-05-28 05:23] shashishailaj commented on #31844
@matthias-scharl Thank you for sharing your findings. The beta API gives access to some functionality which is still in testing phase . We will engage the authors on this to get this checked with engineering and update the article as needed.

@msmimart Could you please see how best we can update this documentation ?

[2019-05-28 05:26] jakaruna-MSFT commented on #31260
@imlight
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-28 05:26] #31260 closed

[2019-05-28 05:28] jakaruna-MSFT commented on #31949
@sjyang18 did you had a chance to look at the comment by @TylerMSFT

[2019-05-28 05:33] jakaruna-MSFT commented on #32029
@swagkulkarni You dont have enough capacity in the cluster.
Please notice the warning message
`0/1 nodes are available: 1 Insufficient cpu.` This error says that you have a one node cluster. That node is already running at full capacity and that node is unable to give cpu for the additional istio pod.

You can scale your cluster to use 3 nodes.  This [doc](https://docs.microsoft.com/en-us/azure/ak

[2019-05-28 05:34] PramodValavala-MSFT commented on #32232
@kye Thanks for the feedback! We have assigned this issue to the author for review and to update accordingly.

[2019-05-28 05:35] justingden commented on #32231
In case it helps, this is the link that is the second result on a Google
search for "Bing Custom API reference", so it just might be a dead link to
a production doc:
https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-custom-search-api-v7-reference

So it might be just that URL and not the URL in the Custom Search
Documentation itself.

Thank you,

Justin

On Mon, May 27, 2019 at 11:0

[2019-05-28 05:37] SumanthMarigowda-MSFT commented on #31968
@dombat [Enable encryption on a running Windows VM.](https://github.com/Azure/azure-quickstart-templates/tree/master/201-encrypt-running-windows-vm)

This article explains the How to enable [Azure disk encryption using PS, CLI and templates ](Enable Azure Disk Encryption for Windows IaaS VMs)

[2019-05-28 05:37] PramodValavala-MSFT commented on #32062
@fabich Yes. That would be the workaround for now. You could also use a Logic App too if you'd prefer.

[2019-05-28 05:48] SumanthMarigowda-MSFT commented on #31874
@mcurko  The PR has been created to update the doc!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-05-28 05:48] #31874 closed

[2019-05-28 05:53] shashishailaj commented on #31843
@s-krawczyk I understand what you are saying . We have added a note so that its helpful to our readers. The changes should be live in the next 24-48 hours as per the release cycle.

Thank you.

[2019-05-28 06:11] jakaruna-MSFT commented on #32152
@yuriwoof I went through the document and i was able to add the nodepool without any problem.
I tried in 2.0.65 in cloudshell. The api version used for adding nodepools is `2019-04-01`.
I suspect that you are using old version of aks-preview extension.
You can check that using `az --version` and look at the end for extensions.
I used `aks-preview                        0.4.2`.  You can update this

[2019-05-28 06:13] lovelangy commented on #28967
@xinzouMicrosoft   I thought they misunderstood your question.  you are asking how to authenticate a service fabric **application** with client certification.  However, they gave you links on how to secure service fabric **cluster**.
They are different concepts.

Answer:   Authentication to an ASP.NET/ ASP.NET core website/webapi has nothing to do with service fabric.
To use client certificationau

[2019-05-28 06:17] jakaruna-MSFT commented on #32152
@yuriwoof Also check if you have registered to the preview features and you should create a cluster after the successful registration.

[2019-05-28 06:20] jakaruna-MSFT commented on #32175
@spacecat
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-28 06:20] #32175 closed

[2019-05-28 06:27] juyama commented on #28819
@aungoo-msft , @jakaruna-MSFT May I know any update?

[2019-05-28 06:35] femsulu commented on #31863
adding @sujayt

[2019-05-28 06:36] YASWANTHM-MSFT commented on #32140
@aisog , To understand the issue better, could you please let us know, did you followed the steps mentioned in the documentation [here ](https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-storage-connect-se)to connect storage explorer to an Azure stack subscription or a storage account?
You can also refer the azure storage troubleshooting guide [here](https://docs.microsoft.com/en-us/az

[2019-05-28 06:47] syedsadiqalinaqvi commented on #25542
This notebook contains different ways to authenticate an Azure ML Workspace. However, there are still no samples for C# to consume, say, a published Azure ML pipeline. Please link towards such samples, if they exist.

[2019-05-28 06:47] RohitMungi-MSFT commented on #31473
@Schalkn @CortalUX Increasing this limit is currently in our product team's backlog. There should be an update soon about this in the documentation.

[2019-05-28 06:48] neerajkrshukla opened #32234 "Clarify Egress port requirements"
In documentation it is mentioned that port 9000 is used for tunnel front pod to communicate with the tunnel end on the API server. (https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) however when we block port 22 from Azure firewall, tunnel connection fails. Also in tunnelfront logs it is showing port 22 is used for SSH Tunnel. Please clarify if both port 22 and 9000 needs to be open

[2019-05-28 07:08] matthias-scharl commented on #31844
@shashishailaj Engineering confirmed a bug in the GUI and provided the solution I mentioned as a temp workaround.

[2019-05-28 07:36] 4or5trees opened #32235 "Accepted token version -> Both v2.0?"
Both options in the "Accepted token version" seem to state v2.0, despite second option starting with the word otherwise.
"If the value of Supported account types is Accounts in any organizational directory and personal Microsoft accounts (e.g. Skype, Xbox, Outlook.com), the accepted token version will be v2.0.
Otherwise, the accepted token version will be v2.0."
Is this correct?

---
#### Document

[2019-05-28 07:43] ManuelMos commented on #30802
@MohitDhingra-MSFT
This Ticket should be reopened, since we still have this issue.

[2019-05-28 07:43] ghost opened #32236 "Manage LongTermRetentionBackup from azure-cli"
Is it possible to, in any way, to read available backups and do a restore from azure-cli commands?
We're using LongTermRetentionBackup without any Vault, and we set it up with scripts using az commands and templates.
Would be nice to be able to restore in a similar way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4

[2019-05-28 07:53] RogerDawson commented on #29910
I've logged in this morning and the button is now enabled. Migrated 4 subscriptions successfully, waiting for the others to become ready.

[2019-05-28 07:54] #29910 closed

[2019-05-28 07:55] ams0 commented on #32029
I had the same problem, `istio-pilot` requires 2GB of RAM and often, if you use small nodes (I used Standard_B2ms as default) the scheduler cannot find enough ram on any node. Add a pool with larger size and/or scale up the current pool so you have a node with at least 2GB of RAM and pilot should be able to run.

[2019-05-28 07:56] rogerbramon commented on #32215
@SubhashVasarapu-MSFT, it worked after configuring the SSL binding in the web app. Is there a way that the application gateway doesn't validate the certificate, so that SSL certificate only needs to be configure in the Listener and the webapp just uses the default azurewebsites.net certificate?

[2019-05-28 07:58] jpr2016git opened #32237 "Tutorial steps are not reflecting portal options"
When you reach the point to create the backend pool you need the vnet already created in order to add the subnet where the VMs will reside. We would need to create that vnet first thing instead of starting creating the app gateway as the article proposes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4546e1f-9088-42a

[2019-05-28 08:11] jawiz commented on #32209
We are seeing the same issue with servercore on AKS:

Image:
4.7.2-windowsservercore-ltsc2019

No default DNS server is set:

PS C:\> nslookup
DNS request timed out.
    timeout was 2 seconds.
Default Server:  UnKnown
Address:  10.0.0.10

Can be reproduced by running an interactive pod using this image by running this command on a AKS cluster with a windows node:

kubectl run netruntime-472  -it p

[2019-05-28 08:29] ToMakeSense opened #32239 "No available pricing tiers(Standard, Preminum) for Log Analystics in the docs"
The documentation I am referencing: [Azure subscription and service limits, quotas, and constraints#Log Analytics limits](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#log-analytics-limits)

**Pricing tiers in the docs**
* Free
* Standard
* Premium
* Standalone
* OMS
* Per GB

**Pricing tiers in the Azure portal**
* Free
* Per GB(Standalone)
* Per Node(OMS)
* Per GB(2018

[2019-05-28 08:32] SwathiDhanwada-MSFT commented on #31885
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-28 08:32] #31885 closed

[2019-05-28 08:35] jjindrich opened #32240 "Cannot deploy application"
Hi, I'm following your guide to install Windows container. When I run command: kubectl apply -f sample.yaml getting this error:
error: SchemaError(io.k8s.api.core.v1.AzureFileVolumeSource): invalid object doesn't have additional properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de37

[2019-05-28 08:37] kirodge opened #32241 "UseApplicationInsights() vs services.AddApplicationInsightsTelemetry() preferred default recommendation"
This page states "it is recommended to use services.AddApplicationInsightsTelemetry()" while https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Getting-Started states  "The preferred default mechanism is to use the UseApplicationInsights extension method from the WebHostBuilder instance."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-28 08:42] msrini-MSFT commented on #32237
@jpr2016git , Thank you for sharing your feedback.

Similar issue : https://github.com/MicrosoftDocs/azure-docs/issues/31798

I have assigned the issue to the author, and it will be addressed.

You can track the progress on the Issue which I linked here.

[2019-05-28 08:42] #32237 closed

[2019-05-28 08:44] msrini-MSFT commented on #31798
@vhorne , Another issue created and we need this doc to be updated.

https://github.com/MicrosoftDocs/azure-docs/issues/32237

Doc Link: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-web-application-firewall-portal#add-backend-pool

[2019-05-28 08:55] KrishnaG-MSFT commented on #32233
@aeijdenberg Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-28 08:58] annekebr opened #32242 "Which condition to use with port ranges?"
Hello all, I would like to audit if SSH ports are open, which is not very difficult in case the destination port in the nsg is explicitly given as in "destinationPortRange": "22". I wonder, how to cover the case, where a whole range is specified "destinationPortRange": "10-30". I appreciate your help!! Thanks in advance :)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-28 08:58] VikasPullagura-MSFT commented on #32240
@jjindrich Thanks for the question! We are investigating and will update you shortly.

[2019-05-28 09:02] jjindrich commented on #32240
One finding, I'm using CLI na Windows. On WSL is it running

[2019-05-28 09:07] eriawan commented on #31465
@SadiqhAhmed-MSFT

This issue should be closed, because the 404 dead link to API Management's user API has been updated and merged with correct link.

The commit is: https://github.com/MicrosoftDocs/azure-docs/commit/4a88fbe302355621798b4df2b32514d6f0a7cdf6#diff-7578e41fab84d78fc4107f38ddd85e40

[2019-05-28 09:11] SadiqhAhmed-MSFT commented on #31465
@eriawan Thanks for the update.

[2019-05-28 09:11] #31465 closed

[2019-05-28 09:20] pascalnaber opened #32243 "Diagnostics Tab is renamed in Azure Portal"
It's called App Service logs now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introduction to App Service on Linux - Azure](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-in

[2019-05-28 09:22] rowanb opened #32244 "Log streaming ignores host.json settings?"
It appears that log streaming shows all log levels, regardless of what is set in host.json. E.g. I have "Function": "Warning", but i'm seeing Information level logs in the stream. If this is by design it might be worth mentioning in the log streaming section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea

[2019-05-28 09:26] rowanb opened #32245 "autoRenewTimeout maximum value"
Is there a max value for autoRenewTimeout? I haven't seen this definitively documented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a225505-713c-4066-8203-0cf1b5b1c654
* Version Independent ID: ccf09908-c836-ced9-3a1c-9f9f7fd0b249
* Content: [host.json reference for Azure Functions 1.x](https://docs.micros

[2019-05-28 09:32] jakaruna-MSFT commented on #32201
@benhartwich I tried the same script in Azure CLI task and it worked well.

Can you specify the error which you are facing?

Its based on how the request is coming to azure from the external DNS registration service.

- One option is with Azure DNS and its recommended. This also needs delegation.
You can create a dns subdomain like dev.myakscluster.com
whenever you create a public ip, You can use

[2019-05-28 09:37] jmprieur commented on #32235
Thanks for reporting this, @4or5trees
I just fixed it.

[2019-05-28 09:39] KalyanChanumolu-MSFT commented on #32204
@satyajitps The UniqueKey policy is not yet available to view on the Settings tab.
We will pass on this feedback to the appropriate team though.

You can get it via the SDK in case you need to check it after the container is created.
Here is a code snippet.

[code]

tagging @rimman for awareness

[2019-05-28 09:39] sideeksh commented on #17802
@mayurigupta13 Please review.

[2019-05-28 09:44] woutervanranst opened #32246 "Clarification on FAQ #9 - Timeout"
Q: I get request timed out for my call to the service?
A: Metadata calls must be made from the primary IP address assigned to the network card of the VM, in addition in case you have changed your routes there must be a route for 169.254.0.0/16 address out of your network card.

-&gt; i observe a timeout from a secondary nic; after verification with the engineering team, I understand that the metad

[2019-05-28 09:46] shashishailaj commented on #32229
@s3vhub Thank you for your feedback . We have checked this and you can check the reference of Azure Resource providers in the article.  In order to understand more please refer to [Azure Resource providers and types](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services) and supported [Azure RM resource provider operations](https://docs.microsoft.com/en-

[2019-05-28 09:50] jmprieur commented on #32235
#sign-off

[2019-05-28 09:53] shashishailaj commented on #32235
@4or5trees We appreciate you taking time to point out the issues. We already have a documentation update initiated for updating this document by @jmprieur and the changes will be live in the next 24-48 hours as per the next release cycle. We will close this issue now. Should you have any further query , feel free to tag me or @jmprieur to your reply and we will be happy to help you with the same.

[2019-05-28 09:53] #32235 closed

[2019-05-28 09:54] Nutriadmin opened #32247 "Is there a mistake in the "no indexing" example?"
I tried to remove indexing from one of my collections using the "no indexing" example in this page that says: `{"indexingPolicy": "none"}`, but I don't think it worked. Then I tried writing `{"indexingMode": "none"}` and I think this one worked. Is there a mistake in the document, or am I doing something wrong? Your thoughts/help would be appreciated.
Regards,

---
#### Document Details

⚠ *Do not

[2019-05-28 09:56] shashishailaj commented on #32229
We have updated the documentation . It will take a maximum 24-48 hours to reflect worldwide as per the next release cycle. We will now close this issue. Should you have any further queries, feel free to tag me or the doc author @rolyon to your reply and we will be glad to help.

[2019-05-28 09:56] #32229 closed

[2019-05-28 10:00] Nutriadmin commented on #32247
And, to add some more context, this is the command I tried running on the azure website, using the built-in console: az cosmosdb collection update --subscription $subscription --resource-group-name $resourceGroupName --name $accountName --db-name $databaseName --collection-name $containerName --indexing-policy "{\"indexingPolicy\": \"none\"}"

If I change the last part to say "indexingMode" instea

[2019-05-28 10:01] mayurigupta13 commented on #17802
Yes this is a typo. The article is also updated I noticed. #please-close

[2019-05-28 10:02] vrishni commented on #32178
@meirpr Could you please provide the input_tensor_shape and augmented_image shape to debug further.

# Get the input size of the model
with tf.Session() as sess:
    input_tensor_shape = sess.graph.get_tensor_by_name('Placeholder:0').shape.as_list()
network_input_size = input_tensor_shape[1]

# Crop the center for the specified network_input_Size
augmented_image = crop_center(augmented_image, netw

[2019-05-28 10:03] alfino78 opened #32248 "Azure MFA stand-alone is not available"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Use existing NPS servers to provide Azure MFA capabilities - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-director

[2019-05-28 10:04] alfino78 commented on #32248
Licenses for standalone Azure MGA is no longer available.

[2019-05-28 10:12] bmis commented on #32173
We are waiting for information.

[2019-05-28 10:21] gurubn opened #32249 "Will Group expiration works if Office365 group has guests in it ?"
As per this note "Configuring and using the expiration policy for Office 365 groups requires you to have on hand Azure AD Premium licenses for all members of the groups to which the expiration policy is applied.", So I am wondering how does expiration policy behave when there is guests in Office 365 groups. Can you please shed some light on it?

---
#### Document Details

⚠ *Do not edit this secti

[2019-05-28 10:27] SubhashVasarapu-MSFT commented on #32214
@fedorovdima , Thanks for your feedback. The changes were made accordingly to the document and it will take some time to get reflected.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-28 10:27] #32214 closed

[2019-05-28 10:27] SnehaAgrawal-MSFT commented on #32243
@pascalnaber Thanks for your feedback! We will investigate and update as appropriate

[2019-05-28 10:29] MohitDhingra-MSFT commented on #31924
Hi @kavitajoshi,

Yes, In Azure AD app registration, API Permission for Yammer (Delegate), it only provides user_impersonation endpoint. I tried with the above mentioned steps and I am able to get the token via postman. Below is the screenshot. I hope this helps. I have also added stack overflow answer and could you create another secret key and try again.

![image](https://user-images.githubuserc

[2019-05-28 10:29] #31924 closed

[2019-05-28 10:29] Schalkn commented on #31473
Hi

So if I regularly delete profiles, and keep the number low, I can continue working on the subscription indefinately, as long as I don’t reach 1000?

Sent from Mail for Windows 10

From: RohitMungi-MSFT
Sent: Tuesday, 28 May 2019 8:48 AM
To: MicrosoftDocs/azure-docs
Cc: Schalkn; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Enrollment limits aren't mentioned &could be clearer (#31473)

@Schal

[2019-05-28 10:31] msrini-MSFT commented on #32215
@rogerbramon , If you are using Azure App Service as a Backend pool of Application Gateway, then you don't need to add authentication Certificate to Application Gateway has the Web App certificate in its Trusted root store.

Here is the document which navigates you through the config of AppGW: https://docs.microsoft.com/en-us/azure/application-gateway/configure-web-app-portal

[2019-05-28 10:41] navinjk commented on #32093
Hello
After using the Deploy Option via the Link i am seeing this error can anyone assist with this.

[4:08 PM] Akshay Naik

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\

[2019-05-28 10:48] AshokPeddakotla-MSFT commented on #31964
@JEEJACV Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-28 10:48] #31964 closed

[2019-05-28 10:49] AmanGarg-MSFT commented on #32241
@kirodge Thank you for your question!

As mentioned in the [wiki](https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Getting-Started) - "_This wiki is outdated, and being deprecated in favor of official docs above._", please follow the [official doc](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core).

We are going to close this thread as resolved but if there are

[2019-05-28 10:49] #32241 closed

[2019-05-28 10:57] juho-hanhimaki commented on #31363
@Mike-Ubezzi-MSFT @SadiqhAhmed-MSFT Hyperscale DB is still missing the backup button in the portal.

[2019-05-28 11:00] shashishailaj commented on #31927
@kcsportal This seems a unique issue and may be due to . Could you please try to install the [Windows 10 accounts extension](https://chrome.google.com/webstore/detail/windows-10-accounts/ppnbnpeolgkicgegkbkbjmhlideopiji?hl=en) from the chrome web store on your machine and test if it worked for the user. This extension requires [Windows 10 Creators Update](https://blogs.windows.com/windowsexperienc

[2019-05-28 11:00] #31927 closed

[2019-05-28 11:01] SwathiDhanwada-MSFT commented on #32224
@MGoedtel Can you please review this request ?

[2019-05-28 11:07] Gamecock commented on #29173
Sorry, let me try again to replicate. I think it was on a restart.

On Thu, May 23, 2019, 2:46 PM Kelly Gremban <notifications@github.com>
wrote:

[2019-05-28 11:08] SwathiDhanwada-MSFT commented on #32199
@hadr10 AFAIK, there is no way to disable run commands at subscription level. One solution to this, is creating custom roles (RBAC) for assigning who can access the Run Command. Here are few links that might help you in creating custom roles
1) [Creating Custom roles](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles)
2) [Resource Provider options for Custom Roles](http

[2019-05-28 11:22] shashishailaj commented on #32131
@mmalone ```xms_mirid``` pertains to **Managed Identity Resource ID identifier** and your interpretation is completely correct . This is the claim which defines the resources with which a managed Identity is being used. You can safely use it . I cannot comment on the future however , I believe this will not change because this is basic identifier of the resource where managed identity is being use

[2019-05-28 11:22] #32131 closed

[2019-05-28 11:25] SadiqhAhmed-MSFT commented on #32191
@dcbrown16 Yes, GC stops when the user does “Stop protection with retain data”. All the RPs created remain stored forever. The retention period specified before stop protection no longer applies to the RPs. I hope it is clear now.

[2019-05-28 11:27] shashishailaj commented on #31784
@linruhui Unfortunately currently we do not have any way to provide reader only access to Kudu . There was a [request](https://feedback.azure.com/forums/169385-web-apps/suggestions/19538785-read-only-role-for-kudu) earlier for this but the product group declined the same because of design restrictions of the product.  Access to Kudu intrinsically requires Contributor access and hence reader only r

[2019-05-28 11:27] #31784 closed

[2019-05-28 11:31] juho-hanhimaki opened #32251 "Missing details about HA on SQL Hyperscale"
The article is missing details of high availability on Azure SQL DB Hyperscale tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72686abb969
* Content: [High availability - Azure SQL Database service](https://docs.microsoft.com/e

[2019-05-28 11:36] jakaruna-MSFT commented on #32143
@aljo-microsoft please take a look at this issue

[2019-05-28 11:37] KalyanChanumolu-MSFT commented on #32203
@weitzhandler as suggested above, your request is logged and will be prioritized by the content team accordingly.

[2019-05-28 11:38] #32050 closed

[2019-05-28 11:38] SadiqhAhmed-MSFT commented on #32050
@taromielnaz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-28 11:38] SadiqhAhmed-MSFT commented on #31834
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-28 11:38] #31834 closed

[2019-05-28 11:38] BJD1997 commented on #32093
@navinjk when looking at your error message it looks like the resourcegroup for the networking of the WVD does not exist. Maybe you made a typo somewhere?

[2019-05-28 11:39] VikasPullagura-MSFT commented on #32240
@jjindrich I have reproduced the issue locally.

Using Azure Cloud shell following the document the sample application was deployed successfully without any issues.

Seems like its kubectl version issue, I had a old version running locally that was installed by docker desktop. I have removed the old version and upgrading kubectl to the latest version. After the upgrade, I was able to deploy the sa

[2019-05-28 11:40] shashishailaj commented on #32183
@seantleonard Thank you for pointing this out . A change is initiated and will be live in the next 24-48 hours maximum. We will close this issue now .

@Potapy4 Thank you for helping out on this and raising the PR . The content team is processing this request .

Thank you.

[2019-05-28 11:40] #32183 closed

[2019-05-28 11:42] KalyanChanumolu-MSFT commented on #32247
@Nutriadmin Thank you for reporting this issue.
We are actively investigating and will get back to you shortly.

[2019-05-28 11:43] jakaruna-MSFT commented on #31939
@laurenhughes Please take care of this issue

[2019-05-28 11:46] KalyanChanumolu-MSFT commented on #32251
@juho-hanhimaki Thank you for the feedback.
We are reviewing the content and will get back to you shortly.

[2019-05-28 11:46] weitzhandler commented on #32203
If I may, I'd like to add another aspect I'd want to see in the multi-tenant sample, regarding the subdomain routing and validation.
Additionally, would be nice to have the per-tenant connection-strings provided via a service and provided to the `OnConfiguration` method of the per-tenant `DbContext`.

[2019-05-28 11:46] lciocci commented on #31913
Yes, we can close this issue. Thank you for the help.

[2019-05-28 11:46] #31913 closed

[2019-05-28 11:56] lmiroslaw opened #32252 "Are HB/HC supported on Windows?"
According to this doc entry they are:

https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/sizes-hpc?context=/azure/architecture/topics/high-performance-computing/context/hpc-context

However, there are no instructions on the deployment and configuration.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9f6

[2019-05-28 11:57] jakaruna-MSFT commented on #32166
@ShadowPic i went through he document.
Once all the resources are created, Then i followed the [namespace delete option](https://docs.microsoft.com/en-us/azure/aks/ingress-tls#delete-the-sample-namespace-and-all-resources) to delete all the resources.

That command toke around 2 minutes. But it removed all the resources in that namespace and deleted the namespace also.

Please specify which route

[2019-05-28 12:07] lightupdifire opened #32253 "Rules for devices"
Hello,
Do you have any solution to query "Hybrid AAD join" devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules - Azure Active Directory](https://docs.microsoft.com

[2019-05-28 12:15] angoyal-msft commented on #32236
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-05-28 12:24] jakaruna-MSFT commented on #32177
@spacecat Thanks for reporting. I am able to reproduce the issue
Workaround is to use version 2.13.1  as mentioned in the issue which you shared.

[2019-05-28 12:26] Blackmist commented on #31715
Awesome, thanks @jberezanski-mdg !

[2019-05-28 12:27] sandervandevelde commented on #32101
Thanks for the answer, the upstream part is clear. I like this technology, making it accessible to others is satisfying.

[2019-05-28 12:32] jakaruna-MSFT commented on #32246
@woutervanranst Thanks for posting here.
Since this information is already in the Document, I think there is no action needed for this issue. Please confirm if you have any expectations.

[2019-05-28 12:33] jonasrotilli commented on #30761
Any news on the subject?
Does anyone have a sample project running on xCode 10.2 swift greater than or equal to 4?

[2019-05-28 12:42] woutervanranst commented on #32246
The doc says "Metadata calls must be made from the primary IP address assigned to the network card of the VM"
the clarification is for "Metadata calls must be made from the primary network card of the VM"

since a vm can have multiple nics, this is a subtle but important clarification

[2019-05-28 12:43] shashishailaj commented on #32158
@sufi1321  Since you require Either iPhone or iPad and any device below the version 12. So the following advanced rule should work for you.

```((device.deviceOSType -contains "iPhone") -or (device.deviceOSType -contains "iPad")) -and (device.deviceOSVersion -notMatch "12.*") ```

Note that this will work only for because the operators do not mathematically calculate the value if a version number

[2019-05-28 12:43] #32158 closed

[2019-05-28 12:46] HappyEarthDay commented on #28597
I am also experiencing this exact same issue as sheist, with the same server versions.  Did you ever find a fix?  Thanks!

[2019-05-28 12:48] lightupdifire commented on #31078
Hello,
Today opened a case with MS Pro Support and they confirm there is on-going issue with this "control" and without any ETA available...

[2019-05-28 12:52] shashishailaj commented on #32137
@dennisxu2019 We understand you would like more detailed information on how the conditions could be used while creating conditional access policies. This might require a detailed discussion with engineering . We are engaging the content author @markusvi to further look into this request.

[2019-05-28 12:58] garybushey opened #32254 "List the schemas"
It would be nice if the section called "Understand the schema" had a link to the schemas for some of the logs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a8ef4-0b79-9ce3-eff0-66566ec454c2
* Version Independent ID: 13444c5c-8428-071d-8c85-57a9384507f2
* Content: [Get started with Azure Monitor Log Analytics](https

[2019-05-28 13:04] jwargo commented on #32153
@thelements we've been doing a lot of work updating the docs and tutorials for FCM. We only recently finished updating the tutorials for Android (the one that @AjayKumar-MSFT pointed out to you) and will continue to refresh the other docs as well.

In the blog post and the documentation link @AjayKumar-MSFT provided we described how we implemented support for this transition from GCM to FCM. Essen

[2019-05-28 13:11] droessmj commented on #16618
I see this was marked as closed back in November of 2018, but I'd like to reconfirm that this logging behavior remains the same today? We are also looking for the exact same logging capabilities as the OP, but continue to struggle in aggregating information on inbound requests which fail (as expected) due to the network ACL.

[2019-05-28 13:13] AndrewJNorris opened #32255 "QR codes on Table Tents templates are incorrect"
The QR codes on the Table Tents templates send me to a search for 'ver1' and not to the SSPR registration page.
The codes on the posters are fine.
https://www.microsoft.com/download/details.aspx?id=56768

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c25827f-08b6-03e4-2997-d39ae6a2b6f4
* Version Independent ID: 72b44c

[2019-05-28 13:14] KrishnaG-MSFT commented on #32244
@rowanb Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-28 13:16] KrishnaG-MSFT commented on #32245
@rowanb Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-28 13:18] clementLetsignit commented on #31267
Thank you very much Patrick ! Is there also a possible flow where a customer can re-suscribe to a subscription ?

[2019-05-28 13:22] bostonmoto commented on #15279
@wacsintegra if you are using a custom DNS within your azure network, apparently that causes issues with the health check in V2. In my case I was using 8.8.8.8, after removing it from my VNET and restarting the app gateway all seemed to work well.

[2019-05-28 13:25] femsulu commented on #31905
@sedelrio A Pull request has been initiated to resolve the reported issue. This will go live in a few hours. Thanks again for catching and reporting this.

[2019-05-28 13:25] #31905 closed

[2019-05-28 13:26] jashan05 opened #32256 "How to use subscription from Postman"
Hello Team,

Thanks for the information on how to create subscriptions. Could you please also let know that how we can use these subscriptions. E.g if i want to test my API's from postman how can i do so using Postman and where can i specify the subscription keys.

Thanks
Jashandeep Sidhu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-28 13:35] kavitajoshi commented on #31924
Hi @shahishailaj
Please note that I do get the authentication token both using acquireToken from ADAL.js & acquireTokenSilent MSAL.js as well as from postman as you have shown. But using the acquired token to access the yammer api https://api.yammer.com/api/v1/users/current.json gives 401 Unauthorized.

[2019-05-28 13:38] yuriwoof commented on #32152
@jakaruna-MSFT
Thank you for looking into it. Checking preview version, I used the same one ```0.4.2```.
But I can add another nodepool now. It might not have done the registration of the feature.
Please close this.

[2019-05-28 13:38] RyanHill-MSFT commented on #32086
@jimmywim I wanted to touch basis with you to see if you had any questions/comments.

[2019-05-28 13:39] jaffadog commented on #29577
I opened a support request on this issue and understand there is a design impediment preventing use of MFA "remember me" with guest accounts. I have opened a feedback item [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37720753-mfa-remember-me-should-work-with-guest-accounts) ( please up-vote 👍 ).

In the meantime, I recommend the docs be updated to make it clea

[2019-05-28 13:39] jmprieur commented on #32028
@MarileeTurscak-MSFT : you might want to assign to @CelesteDG for triage

[2019-05-28 13:41] frankkilcommins commented on #16009
Any update on this topic? I face the exact same situation while using Azure AD Premium P1. @curtand did the PM explain why this issue is faced by many customers if it's supported OOB with P1? If customers need to contact support to "fix" the underlying AD implementation then it would be very beneficial if there its at least an informational section in this document explaining steps to get it enabl

[2019-05-28 13:43] jimmywim commented on #32086
@RyanHill-MSFT Hi Ryan - thanks, that clarifies things. I think the only thing really in this page of documentation to help further may be links to other pages in the documentation that could help when populating the index - e.g. links to updating the index with REST - as a newbie to this I was using the Portal initially, then I went straight into the "Creating a relational model" in the docs and

[2019-05-28 13:48] PramodValavala-MSFT commented on #32256
@jashan05 You need to include a header with key `Ocp-Apim-Subscription-Key` and value the subscription key,

You can test APIs from the Portal as well which is [documented](https://docs.microsoft.com/en-us/azure/api-management/import-and-publish#test-the-new-apim-api-in-the-azure-portal).

Also, there is an `Ocp-Apim-Trace` header which when set to `true` enables [tracing](https://docs.microsoft.c

[2019-05-28 13:48] shashishailaj commented on #32135
@dennisxu2019 At Microsoft we have our own anti malware product which has different detection engines built within . Our internal security research labs would be checking on samples in the wild just like any other anti-virus product company would do.  As far as i know some of this infected information comes from users who agree to share information with Microsoft and send anonymized data to us wit

[2019-05-28 13:48] #32135 closed

[2019-05-28 13:50] shashishailaj commented on #32138
@dennisxu2019 We are engaging the author @MarkusVi to review this issue and comment further.

@markusvi Could you please help provide clarification on this issue.

[2019-05-28 13:55] jaffadog opened #32257 ""Excluded Users" does not support groups"
We manage our exclusions using groups... which we re-use across server CA policies. The picker in this policy will not let me pick groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08f708d-bd04-a587-65c5-78a5f02adebc
* Version Independent ID: 7c277e69-3e43-8542-03db-2d4a23dd5442
* Content: [Baseline policy End us

[2019-05-28 14:02] PramodValavala-MSFT commented on #32245
@rowanb The `autoRenewTimeout` config translates to [`MessageHandlerOptions.MaxAutoRenewDuration Property`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.messagehandleroptions.maxautorenewduration?view=azure-dotnet) which doesn't define any max value either (apart from [`TimeSpan.MaxValue`](https://docs.microsoft.com/en-us/dotnet/api/system.timespan.maxvalue?view=netcore-2

[2019-05-28 14:05] CeciAc opened #32259 "Wrong fieldname in script?"
@MarkPrinsen48 commented on [Thu May 23 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/330)

Shouldn't "StrongAuthenticationRequirements" be "StrongAuthenticationMethods"?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b0

[2019-05-28 14:06] CeciAc commented on #32259
Hi team,
I moving this here since the contributor is making a suggestion on the code
best

[2019-05-28 14:16] vairaselvam opened #32260 "Throws Error doing Rank"
I tried the same example with a new Key and ServiceUrl(https://westus2.api.cognitive.microsoft.com/). It throws below errror. Anyone please help me :

**Microsoft.Azure.CognitiveServices.Personalizer.Models.ErrorResponseException: 'Operation returned an invalid status code 'Unauthorized''**

[2019-05-28 14:26] vairaselvam opened #32262 "Throws Error while Ranking."
I have updated the Key and ServiceUrl. When trying to run it throws below error are the code point "RankResponse response = client.Rank(request);"

Error:
------
Microsoft.Azure.CognitiveServices.Personalizer.Models.ErrorResponseException: 'Operation returned an invalid status code 'Unauthorized''.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-05-28 14:26] mganeshphani commented on #31834
@SadiqhAhmed-MSFT  I know it has to be dependent on support request. my intention in raising this question is to understand if we can log support ticket using a command line via powersell or api or CLI.

[2019-05-28 14:29] plzm opened #32263 "Need more clarity for on-demand/archival video"
This documentation needs better clarity on how to live-stream, but ALSO how to retain stream recordings indefinitely for later on-demand/downloadable consumption. The document is very unclear on how to both allow viewers to go backward in the stream (using ArchiveWindowLength) as well as to... store an MP4 video file durably and persistently in storage, and which can be downloaded or viewed anytim

[2019-05-28 14:32] HeidiSteen commented on #32221
Correct -- the blue buttons in the doc are static screenshots.  If there are no further questions, can you close this issue?  thanks!

[2019-05-28 14:34] taromielnaz commented on #32050
So, do you think it is better to mention this note to this document?

[2019-05-28 14:37] nicolgit opened #32264 "Add a note about hybrid identity"
I think it is important to underscore that in case of hybrid identity, (i.e. Azure AD with ADFS used to authenticate on-premise account) this grant is not supported/it can't work.

(https://docs.microsoft.com/en-us/azure/active-directory/hybrid/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-88

[2019-05-28 14:38] kartheekakkur commented on #32037
@Alberto-Vega-MSFT

Here is the issue

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\Users\kakkur> cd C:\scripts\Azure-IoT-Security-Agent-CS-master\src\Modules\Security\Windows\Install
PS C:\scripts\Azure-IoT-Security-Agent-CS-master\src\Modules\Security\Windows\Install> .\InstallSecurityAgent.ps1 -Insta
ll -aui Device -aum SelfSignedCertificate -f C:\Users\ka

[2019-05-28 14:42] RyanHill-MSFT commented on #32072
@YoHo-Wang you didn't miss any steps. In the steps listed in the doc, you're authorizing the front-end app to access the back-end app. Once you started the application for the first time, the prompt is asking you, the user, to authenticate the front-end app to access the back-end app on your behalf. Once you 'Allow' the app, AAD will give the app a token to use that will contains what resources th

[2019-05-28 14:42] #32072 closed

[2019-05-28 14:45] AmirGeorge commented on #32108
@fhe-fr as the error code indicates, the key has no credit. In case of F0 keys, this can happen if the max limit is reached. In case of S0 keys, this can happen if the credit assigned to your Azure subscription is all spent.

[2019-05-28 14:48] rowanb commented on #32245
Thanks. So effectively there is no limitation on the setting?

[2019-05-28 14:48] DCtheGeek commented on #31893
@ChrisLopezUK As this is a product question and not an issue with the docs, I'm going to have this issue closed. If you have further questions or the answer I provided previously didn't solve your question, please feel free to continue the discussion here.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-28 14:50] xaoo opened #32265 "storageaccount IAM"
pls add the fact that if you create the storage account from GUI, the SC will not create a dynamic PVC due to permissions.
yon can create the storage account in the same resource group as aks cluster from CLI to be sure the right are genereated correctly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d

[2019-05-28 15:00] DCtheGeek commented on #32242
@annekebr Great question! I believe this can be achieved with a few comparisons with the value accessor. To make sure we provide a good example, I'm going to tag in one of the engineers, @camillemarie, to help out.

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-question', and #in-progress

[2019-05-28 15:14] jashan05 commented on #32256
Thanks Pramod

[2019-05-28 15:14] #32256 closed

[2019-05-28 15:18] TheEye1806 opened #32267 "Incomplete tutorial"
In the point 2 of "Create a database connection and configure the client and server project" I am invited to download the backend code but it is never explained how to use it and how to deploy it on the just created web app. Could you give me the part that I am missing ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2019-05-28 15:26] Sethu2488 opened #32268 "General Availability"
General Availability of Azure AD Authentication For Azure File Shares.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Version Independent ID: ee7081d3-a43f-47ea-db7f-ff6ba23d50b3
* Content: [Enable Azure Active Directory authentication over SMB for Azure Files (preview) - Azure St

[2019-05-28 15:33] dohughes-msft opened #32269 "Lack of support for "-azure" Linux kernels for SLES"
The SLES images on the marketplace today come with "-azure" kernels instead of "-default". Example: SLES12 SP4 has kernel 4.12.14-6.12-azure. Yet in the list of supported SLES versions above only "-default" kernels are listed. Meaning ASR cannot be used with today's available SLES images.

Please tell me I'm wrong about this?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-28 15:42] #31893 closed

[2019-05-28 15:47] zr-msft commented on #32156
@robdavey555 thank you for your feedback. The original doc works as is and you do not need to add a `$`. Adding a `$` will cause the command to fail. I have closed the PR

[2019-05-28 15:52] stephen-cairns opened #32270 "AKS Master logs capture - various ways?"
My team has been having a close look at fluentd as we have a requirement to push logs into splunk https://github.com/splunk/splunk-connect-for-kubernetes.   The Fluentd documentation captures Kubernetes System Component logs.  The link for Kubernetes System Components calls out master components e.g. kube-apiserver, kube-scheduler, kube-controller-manager, etcd, cloud-controller-manager.
This is p

[2019-05-28 15:55] Anmolgan81 opened #32271 "How Much data can azure datawarehouse hold?"
Is there any limit on how much can we store inside the azure datawarehouse?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99dbdf95-1c64-48c5-cc47-8d06d0975151
* Version Independent ID: 0763ac70-8c4b-a8bc-c72c-e87bc45f46ba
* Content: [Capacity limits - Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sq

[2019-05-28 15:59] sjyang18 commented on #31949
I am taking this offline. I close this ticket.

[2019-05-28 15:59] #31949 closed

[2019-05-28 16:01] YutongTie-MSFT commented on #32262
@vairaselvam Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-28 16:03] shashishailaj commented on #32248
@alfino78 thank you for your feedback . We will check and update this thread.

[2019-05-28 16:04] shashishailaj commented on #32248
We understand it is not available. This product is being deprecated and hence Azure MFA server standalone licenses are not available for new customers anymore. Please refer to the [Azure MFA licensing document](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#available-versions-of-azure-multi-factor-authentication) . Azure MFA server will not be availabl

[2019-05-28 16:04] #32248 closed

[2019-05-28 16:06] shashishailaj commented on #32249
@gurubn Thank you for your feedback . We will investigate and update further.

[2019-05-28 16:08] iainfoulds commented on #32165
Sorry, not sure I understand the doc feedback, @tdihp. What is it that you're trying to do so we can make sure we address your needs.

CC: @SteveLas and @sajayantony as there's active work around the Helm integration and ACR.

[2019-05-28 16:09] shashishailaj commented on #32253
@lightupdifire Thank you for your query. We will investigate and update this thread.

[2019-05-28 16:09] PramodValavala-MSFT commented on #32245
@rowanb Yes. No limitation on this setting as such.

[2019-05-28 16:14] johnthcall opened #32272 "Allow specifying certificateIssuerThumbprint in the virtual machine scale set"
In my service I have an SSL cert in the VMSS which is from a publicly trusted certificate authority. I have a separate certificate which I use for securing my service fabric cluster and it comes from a different certificate authority.

Because I want to be able to visit the service fabric explorer url without getting ssl issues in a browser both of these certs have the same common name, however on

[2019-05-28 16:14] shashishailaj commented on #32253
@lightupdifire Dynamics group membership on the basis of how a device is joined to Azure AD is only possible by using values within deviceTrusttype attribute of the device object. At this point we do not have deviceTrusttype attribute included on this list . We have an open request for the same feature which can help you query devices on the basis of trust type. We request you to vote for the feat

[2019-05-28 16:14] #32253 closed

[2019-05-28 16:16] shashishailaj commented on #32255
@AndrewJNorris Thank you for your feedback . We will investigate and update this thread.

[2019-05-28 16:18] asubmani commented on #31567
Thank you! Looking forward to an update on this.

[2019-05-28 16:28] YASWANTHM-MSFT commented on #32268
@Sethu2488, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-28 16:29] meirpr commented on #32178
@vrishni  The input_tensor_shape is (?,416,416,3) and the augmented image shape is (1,256,256,3). As written in the documentation **Resize down to 256x256**

[2019-05-28 16:31] conceptdev commented on #32267
Thanks for your feedback @TheEye1806 - these docs are currently being updated, due to changes in the Azure portal.

cc @elamalani

[2019-05-28 16:34] CeciAc opened #32273 "About setting of env in iotedge"
@sahya commented on [Tue May 28 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2554)

In this procedure of writing, iotedge's Config.yaml has missed it on iothub and json's env, so after creating proxy settings and UpstreamProtocol settings, in iotedge's config, iotedge settings Do you need the following description of .yaml and iothub or json env? At the beginning, I think it is b

[2019-05-28 16:35] CeciAc commented on #32273
Hi team,
I'm oving this here because the user is making a suggestion on the original documentation
best

[2019-05-28 16:35] edjez commented on #32262
#in-progress

[2019-05-28 16:37] edjez commented on #32262
@vairaselvam Sorry you are facing an error. Quick questions:
1. do you see your settings in the Azure Portal for your Personalizer loop?
2. Did this always happen with your loop since you created it, or did it start all of of a sudden or is happening occasionally?
3. Could you try an API call to Reward and see if you get the same error?

[2019-05-28 16:49] AmanGarg-MSFT commented on #32192
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-05-28 16:49] #32192 closed

[2019-05-28 16:50] fhe-fr commented on #32108
I create again the LUIS apps and the cognitive service in Azure. And now it works fine.

[2019-05-28 16:50] #32108 closed

[2019-05-28 16:53] Alberto-Vega-MSFT commented on #32184
@vakhare Just checking in to see if you can please provide the link to the doc? If this is not a doc issue.  Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan we can help you enable a one time free support ticket, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID.

[2019-05-28 16:56] MicahMcKittrick-MSFT commented on #32270
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 16:56] Grace-MacJones-MSFT commented on #32263
Hi @plzm, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-05-28 16:56] MicahMcKittrick-MSFT commented on #32272
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 16:57] MicahMcKittrick-MSFT commented on #32265
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-28 17:00] vakhare commented on #32184
Hi, thanks for your reply. I will share the URL by the end of the week
 Thanks!

On Tue, 28 May 2019, 22:23 Alberto Vega, <notifications@github.com> wrote:

[2019-05-28 17:00] craigktreasure commented on #32136
@stzaske Thanks for pointing out the incorrect instructions. We'll get those updated.

[2019-05-28 17:08] MicahMcKittrick-MSFT commented on #32093
We expect to have a fix deployed by End of Day tomorrow.

[2019-05-28 17:10] MicahMcKittrick-MSFT commented on #31971
Thanks @DaveZimmermann I will assign to @MashaMSFT to review and consider updating the doc.

[2019-05-28 17:10] DCtheGeek commented on #32242
@annekebr I've checked in with the engineers and they've asked for a support ticket to be opened.  Use the [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) page. As this is a product and support question, I'm going to have this issue closed.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-28 17:11] MicahMcKittrick-MSFT commented on #32212
@DanteNahuel in this doc, we link to examples of how to install. Did you check that link?

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux

[2019-05-28 17:12] #32242 closed

[2019-05-28 17:13] MicahMcKittrick-MSFT commented on #32213
@fbuser1 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-28 17:15] MicahMcKittrick-MSFT commented on #32226
@shiint0 I think it would be better to link to this doc for managing the availability of your virtual machines

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage-availability

I will submit an edit to the doc shortly.

[2019-05-28 17:16] #31871 closed

[2019-05-28 17:19] MicahMcKittrick-MSFT commented on #32226
Submitted a fix

https://github.com/MicrosoftDocs/azure-docs-pr/pull/78043

Once the PR merges the changes will go live after a few hours.

[2019-05-28 17:19] #32226 closed

[2019-05-28 17:20] YutongTie-MSFT commented on #32105
@sam-pell Hi Sam, you can do it by Upload Data - Select Audio + human-labeled transcript, then you can upload zip file.
![image](https://user-images.githubusercontent.com/38084098/58498024-07293600-8132-11e9-8e08-34a5488be968.png)
![image](https://user-images.githubusercontent.com/38084098/58494963-18227900-812b-11e9-89fc-0d9e4eacd73c.png)

[2019-05-28 17:20] MicahMcKittrick-MSFT commented on #32272
@johnthcall from my understanding of how this works, this would fall under a product suggestion instead of a doc change.

@aljo-microsoft to confirm

[2019-05-28 17:23] YutongTie-MSFT commented on #32111
@timinterface Hi, have you solved your problem now? Please feel free to respond here if you still have challenge. Thank you.

[2019-05-28 17:27] Mike-Ubezzi-MSFT commented on #32271
@Anmolgan81 The Database Objects ([Link](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-service-capacity-limits#database-objects)) section details all the applicable limits based upon Gen1 and Gen2 deployments but I think you are specifically looking for `storage` limits:

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(41).png?sv=2018-03-28&sr=b&sig

[2019-05-28 17:28] YutongTie-MSFT commented on #32144
@GraemeMalcolm  Hi Graeme, it has been fixed. Thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-28 17:28] #32144 closed

[2019-05-28 17:30] tysonn commented on #28833
@biste5 - I believe I have found the right internal team that may be able to look at the microsoft.com site locale redirect to figure out if this is an expected behavior on their site or a bug. They are looking into it.

[2019-05-28 17:35] DanteNahuel commented on #32212
Hi Micah. The examples don't include powershell instructions :(

[2019-05-28 17:35] timinterface commented on #32111
Hi, my team noticed that there were high costs associated with running one bot ($7 per day and $49 per week on average). We'll get back to this issue once we can find a way to experiment and develop this bot with a free or substantially lower-cost approach. We directly contacted a Microsoft rep.

[2019-05-28 17:42] MicahMcKittrick-MSFT commented on #32212
@DanteNahuel generally linux users will use CLI, so most the docs will stick with that method. However that is not always the case such as in your point. You can still use powershell to apply extensions to Linux VMs.

Here is the command and its properties

https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmextension?view=azps-2.1.0

And you can use this command to get the list

[2019-05-28 17:44] johnthcall commented on #32272
I have a made an internal product tracking incident for this. Thanks @MicahMcKittrick-MSFT for the correct path!

[2019-05-28 17:44] #32272 closed

[2019-05-28 17:47] MicahMcKittrick-MSFT commented on #31685
@igormusinov I am working offline to find an answer to this. Some contacts are out this week so I should have an answer early next week.

[2019-05-28 17:47] MicahMcKittrick-MSFT commented on #31689
@igormusinov  I am working offline to find an answer to this. Some contacts are out this week so I should have an answer early next week.

[2019-05-28 17:48] MicahMcKittrick-MSFT commented on #31716
@blueelvis  I am working offline to find an answer to this. Some contacts are out this week so I should have an answer early next week.

[2019-05-28 17:49] Mike-Ubezzi-MSFT commented on #31363
@juho-hanhimaki @SadiqhAhmed-MSFT The Hyperscale deployment option ([Link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#what-are-the-hyperscale-capabilities)) has a different back-up mechanism:

- Nearly instantaneous database backups (based on file snapshots stored in Azure Blob storage) regardless of size with no IO impact on Compute

Please also see B

[2019-05-28 17:52] Mike-Ubezzi-MSFT commented on #31363
Additional information in the Known Limitations ([Link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#known-limitations)):

- You cannot restore a Hyperscale database into a non-Hyperscale database, nor can you restore a non-Hyperscale database into a Hyperscale database.
-- | --

[2019-05-28 17:57] SaurabhSharma-MSFT commented on #31900
@ajiljins We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-28 17:57] #31900 closed

[2019-05-28 17:57] plzm opened #32276 "Need explanation of az ams command parameters and outputs"
On this page, the response to az ams job start (or az ams job show) should be explained. For example: what are the possible states? (Queued, Scheduled, Processing, ?). What is the unit for Progress (is it %?)?

For az ams job start, is label an arbitrary string, or does it have to be defined or used elsewhere, e.g. on the corresponding transform?

---
#### Document Details

⚠ *Do not edit this sec

[2019-05-28 17:57] s3vhub commented on #32229
So finally i could find out how to use rbac to add users to reaources but after reading a lot of documents which shouldnt be the case.
Please update the scope for reasources like databricks ,storage etc.the above document is a little bit confusing to  those coming here for some guidance

[2019-05-28 18:00] YutongTie-MSFT commented on #32111
@timinterface Thank you for the information. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-28 18:00] #32111 closed

[2019-05-28 18:07] SHAGGAR opened #32277 "UserErrorSQLNoSysadminMembership additional details/clarification when dealing with multiple instances of sql server"
I have a SQL server in azure with 4 instances of sql server installed.  The default instance and 3 additional instances.  I am not using the default instance currently, so I followed the directions in this article to give NT SERVICE\AzureWLBackupPluginSvc the permissions specified on the 3 additional instances.  When I went to discover the instances I was still getting the UserErrorSQLNoSysadminMe

[2019-05-28 18:10] AjayKumar-MSFT commented on #32221
@LValla, We will close this out, but if you feel you need more information please just let us know.

[2019-05-28 18:10] #32221 closed

[2019-05-28 18:16] Karishma-Tiwari-MSFT commented on #31103
@AdamWorkAccount Any update?

[2019-05-28 18:19] Mike-Ubezzi-MSFT commented on #23045
@lucasasterio25 @das-kaustav Did you switch your account to Pay-as-you-Go? ([Link](https://docs.microsoft.com/en-us/azure/azure-databricks/quickstart-create-databricks-workspace-portal#create-a-spark-cluster-in-databricks))

![Screenshot (42)](https://user-images.githubusercontent.com/37126106/58501991-73a83300-813a-11e9-9985-e89be8ee141f.png)

[2019-05-28 18:21] satyajitps commented on #32204
Thank you, KalyanChanumolu-MSFT! I can fetch the UniqueKey policies through code meanwhile.

[2019-05-28 18:23] YutongTie-MSFT commented on #32205
@onstwedder  Thank you for your feedback, we will forward it to product group. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-28 18:23] #32205 closed

[2019-05-28 18:23] Karishma-Tiwari-MSFT commented on #31313
Thanks @tedgoddard
I received your email and have replied to it.
We will now close this issue. Once there is an update from the support request, I will share that here for others in the community.

[2019-05-28 18:23] #31313 closed

[2019-05-28 18:28] Karishma-Tiwari-MSFT commented on #32106
@dzimka We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-28 18:28] #32106 closed

[2019-05-28 18:29] juho-hanhimaki commented on #31363
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#known-limitations

Export button should still be there to help export the BACPAC file to blob storage. But i guess there are other methods available to generate the BACBAC file.

[2019-05-28 18:31] Karishma-Tiwari-MSFT commented on #31759
@aljo-microsoft Is this something you can help confirm on? Thanks. :)

[2019-05-28 18:35] stewartadam opened #32279 "Clarify difference between ERT and RTO"
ERT (Estimated Time to Recovery) and RTO (Recovery Time Objective) are both used on this page and the difference is not made clear. RTO is defined but ERT is not, and they would seem to be used interchangeably as the table notes RTO in places instead of ERTs:

From the docs page, emphasis mine:

*Each has different characteristics for **estimated recovery time (ERT)** and potential data loss for r

[2019-05-28 18:45] jmo808 opened #32280 "Typo in permissions required for custom role"
Has two permissions concatenated together in one row:

Microsoft.Insights/ActionGroups/WriteMicrosoft.Insights/ActionGroups/read

Supposed to be:

Microsoft.Insights/ActionGroups/write
Microsoft.Insights/ActionGroups/read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Inde

[2019-05-28 18:53] Mike-Ubezzi-MSFT commented on #31363
@juho-hanhimaki I am seeing different information that indicates that operation is not supported, as the full text reads:

So, investigating Product Issue versus Doc Bug.

[2019-05-28 18:55] Mike-Ubezzi-MSFT commented on #31363
@stevestein and @CarlRabeler There appears to be some contradictory information and looking for clarification.

[2019-05-28 18:56] TravisCragg-MSFT commented on #32207
@fedorovdima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-28 18:56] diberry commented on #32121
@RossMMason Hi Ross, thank you for letting us know you are interested in the API. I know this is on the service backlog.

[2019-05-28 18:58] CarlRabeler commented on #31363
@juho-hanhimaki export to a bacpac is supported. The comment about migration to the hyperscale service tier being a one-way operation is referring to changing it to a different service tier - it is not referring to exporting the data itself.
@stevestein

[2019-05-28 19:05] YutongTie-MSFT commented on #32121
@diberry  Thank you Dina.

@RossMMason Hi Ross, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-28 19:05] #32121 closed

[2019-05-28 19:06] bychkov opened #32281 "Publisher revocation is not available in .Net Core SDK (only via REST API)"
This is related to the EventHub article: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide

Is there a plan to implement publisher revocation in the new .NET Standard compliant library?
Anyway, "Publisher revocation" section needs updates and links to the REST API related to Publisher revocation/restore.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-05-28 19:13] YutongTie-MSFT commented on #32234
@neerajkrshukla Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-28 19:19] echuvyrov commented on #27848
Hi @deltadan - were the comments by @codevulture and @kumarallamraju helpful? I just re-checked all the scripts and they are still working as expected (after I provide a valid SSH public key).

For Linux VMs, SSH is the preferred method for auth (over password), let us know if for some reason it's still not working for you.

[2019-05-28 19:28] Alberto-Vega-MSFT commented on #32273
@sahya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-28 19:28] BryanTrach-MSFT commented on #32239
@ToMakeSense Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 19:30] BryanTrach-MSFT commented on #32252
@lmiroslaw Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 19:31] BryanTrach-MSFT commented on #32260
@vairaselvam Can you please share with us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-28 19:35] Alberto-Vega-MSFT commented on #32184
@vakhare I'm afraid that I can not keep the issue open for that long. I will need to close this issue and please feel free to open a new one.

We have the "Give Feedback About This Page" button located at the bottom of the documentation pages. This way the URL will be added to your issue along with other metadata.

[2019-05-28 19:35] BryanTrach-MSFT commented on #32281
@bychkov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 19:37] ImrePyhvel commented on #30980
Please note that the question was about Azure -> S3 data movement, but  the provided answer only mentions the opposite direction. Also the linked doc only mentions S3 as "Source", not "Destination".

That's a NO then?

[2019-05-28 19:38] Mike-Ubezzi-MSFT commented on #31453
@jtmilne Can you verify if the items in the `undefined` collection are items that haven't been resolved correctly, as such there is conflict and the undefined collection is created to handle the conflicts.

https://mongoosejs.com/docs/discriminators.html

My assumption here is that if all objects are referenced correctly, the `undefined` collection will not be created. Possibly an inheritance issu

[2019-05-28 19:43] Alberto-Vega-MSFT commented on #32115
@shimon893 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-28 19:45] iainfoulds commented on #32265
This wouldn't be specific to portal usage. If you're updating a storage class or YAML manifest to use an existing Azure Storage account for Files, you'd need to grant the AKS cluster service permission access - https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-azure-resources. That's not specific to this doc or how that account is created. There's no

[2019-05-28 19:46] Alberto-Vega-MSFT commented on #32095
@msajidirfan just following up to see if you have the link to the doc this feedback should be directed to or if the doc provided was useful.

[2019-05-28 19:49] rbavery commented on #31210
@YutongTie-MSFT I'm confused, is this a separate vm from the DSVM or do the Geo DSVM capabilities come with the DSVM? How would I start one of these with terraform? The link you provided only shows how to start using the portal GUI. In order to use an infrastructure as code tool like terraform to start vms you need to have the vm type identifier, like so:

[code]
I can't find in the docs where the

[2019-05-28 19:59] Alberto-Vega-MSFT commented on #32097
@chainhead I hope this information was useful. Since there is already a feature request for this if you do not have any more comments we will proceed to close this issue

[2019-05-28 19:59] Ellenprater opened #32282 "Configuring Active/Active VPN in Azure Portal"
Can we provide documentation showing how Active/Active VPN can be configured in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b300f3-7b57-0772-9a36-6448a56b3d23
* Version Independent ID: 959e9abd-3033-df6c-cb30-8277b0acbf0d
* Content: [Configure active-active S2S VPN connections for VPN Gateways: Azure R

[2019-05-28 20:00] kevin-meyer opened #32284 "consider adding a child "netcore console app" page to "How-to/Collect data/Configure applications""
The "ASP.NET Core/ILogger" page has some helpful information to setup a netcore console app with ILogger and Application Insights, but it was difficult to find since it's included in an "ASP.NET Core" page.  It would also be helpful to expand on the sample and include examples of how to configure the DependencyTrackingTelemetryModule for a console app.

---
#### Document Details

⚠ *Do not edit th

[2019-05-28 20:01] Alberto-Vega-MSFT commented on #32202
@marklinmao Great feedback! Were you able to overcome the issue?

[2019-05-28 20:04] Mike-Ubezzi-MSFT commented on #31363
Then, the .bacpac export would need to be initiated either via SSMS ([Link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export#export-to-a-bacpac-file-using-sql-server-management-studio-ssms)) or PowerShell ([Link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export#export-to-a-bacpac-file-using-powershell)).

The issue is that the export button is missing

[2019-05-28 20:06] FrankHu-MSFT commented on #32016
Hello, as there hasn't been a response in quite some time I will be closing out this thread. Please open a new thread to continue working on this issue,

[2019-05-28 20:06] #32016 closed

[2019-05-28 20:13] MicahMcKittrick-MSFT commented on #32252
@lmiroslaw not sure I fully understand. The doc you provided is specifically for windows

![image](https://user-images.githubusercontent.com/32313503/58509003-5bd8ab00-814a-11e9-860a-7d9e535f558d.png)

Per per deployment, we are just stating these are the supported sizes

[2019-05-28 20:15] dlepow commented on #32119
@donrolling - Apologies for a sub-par experience. As you probably noticed, this script requires the Az module, which is the successor to the previous AzureRM module. I'm guessing that you are running both modules in the same PowerShell session? If you want to use both modules in the same session, our guidance is that you don't enable aliases. See the [PowerShell documentation](https://docs.microso

[2019-05-28 20:18] CarlRabeler commented on #31363
@Mike-Ubezzi-MSFT This is a product bug rather than a documentation bug - please re-assign appropriately.

[2019-05-28 20:21] c13GitHub opened #32285 "Update of freshness for new PaaS/IaaS scenarios"
This page could be checked for freshness of Azure DevTestLabs and its applicability to standing up PaaS environment.

The linked information to GitHub shows only a [small a repo of ARM templates] (https://github.com/Azure/azure-devtestlab/tree/master/Environments) that can be accessed by enabling Public Environments in DTL, but there are many more scenarios its contributed codebase likely supports

[2019-05-28 20:22] aahill commented on #31470
Thanks for reaching out!

We don't publish the exact list of languages for the Language Detection feature of the API, but it can detect a wide range of languages, variants, dialects, and some regional/cultural languages. It exceeds the number of supported languages and regions listed for the other Text Analytics features as well.

If you have content expressed in a less frequently used language, y

[2019-05-28 20:25] MicahMcKittrick-MSFT commented on #31690
@igormusinov I have synced with Dan offline and we believe it would be best to get you in touch with Azure Technical Support to go over the logs and see what's happening. Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for a fre

[2019-05-28 20:25] #31690 closed

[2019-05-28 20:35] markdebruijne commented on #25356
@mattchenderson @Grace-MacJones-MSFT any update regarding this topic?

I faced a situation in which my App Service lost the runtime config value suddenly, where it normally was retrieved from the Key Vault. I want to know whether the `WEBSITE_ENABLE_SYNC_UPDATE_SITE` could be of any help. Maybe in the case the app service was recycling (or something like that), and it started to serve clients with

[2019-05-28 20:38] iainfoulds commented on #32234
@neerajkrshukla If you're running an older AKS cluster, you'll need to use TCP port 22 for the tunnel communication. More recent AKS clusters only use TCP 9000.

With an older cluster that requires TCP port 22, the recommendation from the product team is to also make sure that you perform a cluster upgrade to make sure that the cluster is only going to pull the required core container images from

[2019-05-28 20:40] krawls19 opened #32286 "Reporting custom metrics for container services"
The only code sample for reporting dynamic load is for the reliable services. How can this be done for container services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c03caff-9b57-cb6d-3c3c-2b8443fdeb6b
* Version Independent ID: 2698eb41-b06b-f9c6-886d-f7b94c2fb226
* Content: [Manage Azure Service Fabric app load u

[2019-05-28 20:41] FrankHu-MSFT commented on #32127
Hello @LarsKemmann for product feedback and feature requests, the product team can respond directly at https://feedback.azure.com/forums/169401-azure-active-directory

Please post there for further updates on these sorts of requests. That being said I will be closing out this thread,

Thanks again for the feedback,

[2019-05-28 20:41] #32127 closed

[2019-05-28 20:45] slibby opened #32287 "First case: Access token request with a shared secret includes unnecessary parameter"
The "First case: Access token request with a shared secret" specifies that a `tenant` parameter is required in the request, but then that parameter is not included in the sample request text or `curl` text. I believe the `tenant` parameter should be removed from this section?

Section: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#first-case-acce

[2019-05-28 20:46] kobulloc-MSFT commented on #32284
@kevin-meyer Thank you very much for the feedback!  I've assigned this to the document author so they can review and update the documentation accordingly.

[2019-05-28 20:49] felickz commented on #31837
As per fiddler trace of AzureServiceTokenProvider class:  GET http://169.254.169.254/metadata/identity/oauth2/token?resource=xyz&client_id=xyz&api-version=xyz

[2019-05-28 20:50] kobulloc-MSFT commented on #32285
@c13GitHub Thank you very much for the feedback!  I've assigned this to the document author so they can review and update the documentation accordingly.

[2019-05-28 20:51] cijothomas commented on #32284
@kevin-meyer
We have updated the console app + dependency tracking doc here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies#setup-automatic-dependency-tracking-in-console-apps
Please take a look at it.

Most docs are primary aimed at Web App, with console app, being a small sub-section within it. There are few console specific docs like the one below.
https://docs.mi

[2019-05-28 20:53] MarileeTurscak-MSFT commented on #32257
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-28 20:54] MarileeTurscak-MSFT commented on #32264
@nicolgit
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-28 20:55] cijothomas opened #32288 "Update old screenshots."
Most of the screenshots may no longer be relevant or correct. Need to review with UI team and update as needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Independent ID: a4089752-177c-866c-7237-3ac02c7750d9
* Content: [Dependency Tracking in Azure Application Insights

[2019-05-28 20:56] MarileeTurscak-MSFT commented on #32287
@slibby
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-28 20:58] janlange opened #32289 "it is not possible to UpdateTwinAsync using patch { tags: null } to reset like it is on the portal, please fix"
please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f15f149b-4059-d877-f390-156852d88d1d
* Version Independent ID: 3f633622-d0b0-be26-f115-9595a6ee4cde
* Content: [Get started with Azure IoT Hub device twins (.NET/.NET)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-twin-getstarted#feedback

[2019-05-28 20:59] tulasim88 commented on #32167
@01 thanks for the feedback. We have added this to our product backlog, for this example scenario- but don't have any immediate plans to support this. We will update this thread if we have any updates.

@diberry FYI

[2019-05-28 21:02] t-meh opened #32290 "Clarity Suggestion"
The walk through voting sample application (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app#walk-through-the-voting-sample-application) part would be helpful in the beginning to understand the end goal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48

[2019-05-28 21:02] mrbullwinkle commented on #32288
You are correct, every single one of those is the old UI experience. I can get those updated, thank you!

[2019-05-28 21:10] cijothomas commented on #32288
@mrbullwinkle I removed screenshots about AppMap etc. and linked to our up-to-data AppMap docs.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/78085

Once the above PR is merged and live, please try to update the remaining screenshots.

[2019-05-28 21:13] TravisCragg-MSFT commented on #32282
@Ellenprater Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-28 21:20] MicrosoftGuyJFlo commented on #32257
That is correct the selector does not allow the use of groups. If you would like to add a product feedback item to request this ability, it is available on the bottom of the document.

[2019-05-28 21:23] cijothomas commented on #32284
@mrbullwinkle
Can you explore this further when you get a chance? The overall table of contents are bit hard to navigate. There are common concepts like Sampling, Channel, TelemetryInitialier, then asp.net core specific things, asp.net core specific things, and then console app docs. It'd be good to revisit our overall doc structure.

![image](https://user-images.githubusercontent.com/5232798/5851

[2019-05-28 21:23] MicahMcKittrick-MSFT commented on #32290
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-28 21:24] MicahMcKittrick-MSFT commented on #32286
@krawls19 are you referring to Azure Container Services (AKS)? Or containerized Service fabric applications?

[2019-05-28 21:24] MicrosoftGuyJFlo commented on #32210
@rafalfitt yes those are covered by "Microsoft Azure Management"

[2019-05-28 21:25] MicrosoftGuyJFlo commented on #32210
#please-close

[2019-05-28 21:25] MicrosoftGuyJFlo commented on #32255
@sadiehenry

[2019-05-28 21:25] #32290 closed

[2019-05-28 21:33] al3xisb opened #32292 "demo_make_series2"
I can't see demo_make_series2 on https://dataexplorer.azure.com/clusters/help/databases/Samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e89587d-4bbf-7b96-422c-fb99a5aaf3d5
* Version Independent ID: 5e7425d9-c530-5dd4-9bbf-3087e1d890ba
* Content: [Time series anomaly detection and forecasting in Azure Data Explo

[2019-05-28 21:37] cherylmc commented on #32282
Hi @EllenPrater :-) I'll take a look. I'm adding it as an active bug. Thanks for the suggestion! #please-close

[2019-05-28 21:41] MarileeTurscak-MSFT commented on #32259
Hi @CeciAc and @MarkPrinsen48

The script disables MFA by setting StrongAuthenticationRequirments to an empty array, and it removes the StrongAuthenticationMethods.

So I believe it should be correct. CC @MicrosoftGuyJFlo

[2019-05-28 21:41] #32259 closed

[2019-05-28 22:07] femsulu commented on #32033
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-28 22:16] marklinmao commented on #32202
@Alberto-Vega-MSFT No, this issue still exist. Can you please answer the question I posted? Thanks.

[2019-05-28 22:16] TravisCragg-MSFT commented on #32282
@Ellenprater We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-28 22:16] #32282 closed

[2019-05-28 22:19] kobulloc-MSFT commented on #32288
@cijothomas Thank you for bringing this to our attention!

[2019-05-28 22:20] RamonArguelles commented on #32202
Most likely, you are missing a prerequisite. Specifically, this might be about missing .NET Core 2.2 SDK (https://dotnet.microsoft.com/download)

[2019-05-28 22:20] colinweiner opened #32294 "You can't currently create an internal load balancer using the Azure Portal"
Not sure if I am reading it right but it does not look correct as you can create a load balancer via the Azure Portal.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/network-overview#load-balancers

_This table lists the methods that you can use to create an internal load balancer._

**Method		Description**

_Azure portal	You can't currently create an internal load balancer using

[2019-05-28 22:24] marklinmao commented on #32202
@RamonArguelles Thanks! I will try installing .NET Core 2.2 SDK,

Alternatively, is it also OK to create App service plan on Azure website, instead of through that sample app?
https://portal.azure.com/#create/Microsoft.WebSite
When creating app through website, you will be asked "are you publishing Code or Docker Image?" What to choose? Code and ASP.NET V4.7? ASP.NETV3.5? Or Docker Image?

[2019-05-28 22:26] msdpalam opened #32295 "error: Static methods in interface require -target:jvm-1.8 from EventHubClient.create"
I am not sure if we tested this with new version of DB Cluster. I just found today, the notebook that worked before is not giving me error with Databricks cluster version runtime version 5.3. Looks like this page was tested with 4.0. Here is the error:
notebook:17: error: Static methods in interface require -target:jvm-1.8
    val eventHubClient = EventHubClient.create(connStr.toString(), pool)

C

[2019-05-28 22:36] RamonArguelles commented on #32202
We haven't tested that code path. It should work. But since the goal for the article is mainly to teach/showcase Azure Spatial Anchors, we don't go deep into teaching how to use/deploy Azure WebApps: you can use other languages and back-end technologies. Azure WebApps, deployed via Visual Studio, was chosen for the sake of simplicity.

That said, the web app should be deployable as "Code", on "Win

[2019-05-28 22:38] marklinmao commented on #32202
@RamonArguelles I found that, my Visual studio version is 2017, which is installed together with Unity 2018. VS2017 does not have the option to install .NET Core 2.2, my .NET Core version is 2.1 now. Not sure if this problem will be solved if I manually install .NET Core 2.2. ..

[2019-05-28 22:40] RamonArguelles commented on #32202
As I mentioned, please install .NET Core 2.2 from here: https://dotnet.microsoft.com/download.

In that page, you will see a link for .NET Core 2.2 that explicitly calls out compatibility with VS 2017.

[2019-05-28 22:42] #32019 closed

[2019-05-28 22:43] cloudmelon opened #32296 "KEDA connection issue func kubernetes install"
Hello,

Question when running func kubernete install command , I have AKS in resource group and it looks like is to deploy a new namespace to k8s, got issue to connect,  need some clarification how to use this command because there is no flag to specify the name of the cluster .... didn't understand from the doc, how it works....

![image](https://user-images.githubusercontent.com/4621560/58517086

[2019-05-28 22:45] Karishma-Tiwari-MSFT commented on #32123
@brobichaud I would recommend going through [this document](https://docs.microsoft.com/en-us/azure/aks/windows-node-limitations) on AKS limitations for Windows Server node pools and see if you are falling under any of these. Please let me know your findings.

I also wanted to call out that Windows Server node support is currently in preview in AKS. In preview, these features aren't meant for produ

[2019-05-28 22:48] brobichaud commented on #32123
@Karishma-Tiwari-MSFT I actually figured out the problem and reported it [here](https://github.com/Azure/AKS/issues/1011) as well. THe details are there indicating that you need to allow port 3389 in the AKS created NSG as well.

[2019-05-28 22:57] marklinmao commented on #32202
Thanks. after installing .NET Core 2.2 SDK. now it can open the project.
Another small question, when creating the app service plan, what is the 'Application insight', which ask me to choose the region again. The default value is 'none', is it OK to live it as 'none'?

[2019-05-28 23:05] RamonArguelles commented on #32202
If you search for "azure application insights", you'll find plenty of information about what it is. Again, the goal for this tutorial is to focus specifically on teaching/showcasing Azure Spatial Anchors. You should be able to follow the instructions "as-is". If something isn't mentioned, it basically means to not change it and leave it with whatever defaults it has.

[2019-05-28 23:18] Mike-Ubezzi-MSFT commented on #31363
@juho-hanhimaki @ackava This is being reported and tracked internally. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-28 23:18] #31363 closed

[2019-05-28 23:18] kgremban commented on #31898
Thank you for the extra info. Currently that functionality doesn't exist in IoT Edge. You can update your container and increment its version, then tell your customers to just update their deployment manifests with the new version. You can write up the feature request and provide it as feedback to the product team to consider in their planning: https://feedback.azure.com/forums/907045-azure-iot-ed

[2019-05-28 23:20] TiloGit opened #32297 "how to set mail attribute in managed domain"
assume Azure AD & AD DS (no on premise AD)

how can we set the mail attribute on Azure AD synced accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80784d9f-1c4d-00ed-dc71-033ae276b267
* Version Independent ID: 940da10a-71c3-300b-2187-c34b44add22b
* Content: [Azure Active Directory Domain Services: Synchronizatio

[2019-05-28 23:20] viv-liu commented on #31728
Thanks!

[2019-05-28 23:27] rolyon commented on #32115
Hi @Alberto-Vega-MSFT, @MicrosoftDocs/azure-cxp-triage
This is a question for the data factory team on whether this role should be updated.
Can you assign to the product team?
thanks

[2019-05-28 23:34] craigktreasure commented on #32136
This is now fixed.

[2019-05-28 23:43] Michael-Sampson commented on #24869
This page - https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history - says Azure AD Connect 1.3.20.0 was released to download on April 24. So Group write back is GA, and the software is available, so the title no longer needs to say preview, IMO.

[2019-05-28 23:44] krawls19 commented on #32286
Containers running in service fabric.

[2019-05-28 23:45] Karishma-Tiwari-MSFT commented on #31989
@TBurda Thanks for your patience. Currently, Azure Container Instances- Windows Server 2019 container support is in preview. I am reaching out to the engineering teams to find out more.

[2019-05-28 23:54] Mike-Ubezzi-MSFT commented on #31906
The naming convention is based upon the value provided when the service was initially configured. We will take into consideration an enhancement to the documentation to help highlight system versus user defined naming conventions.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-28 23:54] #31906 closed

[2019-05-28 23:58] Mike-Ubezzi-MSFT commented on #31917
@tristanbarcelon Thank you for providing this additional detail as it helps other who encounter the same issue. Please do post any feedback provided by the product group but in the meantime, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-28 23:58] #31917 closed

[2019-05-28 23:59] kgremban commented on #31703
Yes, good point. Leaf devices use DeviceClient, not ModuleClient. And leaf devices don't have declared output or input queues. Rather, their messages to IoT Hub are automatically routed through the IoT Edge gateway device declared in the connection string.

Was your original question just about whether leaf devices needed output queues declared? Or was the phrase "some or no output" also confusing

[2019-05-28 23:59] Mike-Ubezzi-MSFT commented on #31937
Given the value of the feedback, I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-29 00:00] lovelangy opened #32298 "no way to change Long-term retention price tier"
In https://azure.microsoft.com/en-au/pricing/details/sql-database/single/
it says, Long-term retention supports three tiers.  'RA-GRS', 'ZRS' and 'LRS'.

However,  there is no way to change the price tier via powershell command / portal ui.

Can you please add more detail about this?

What is the by default price tier when you create retenion through portal? and how to change it?

---
#### Documen

[2019-05-29 00:02] Mike-Ubezzi-MSFT commented on #32039
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-29 00:04] kgremban commented on #31872
You said in the original issue text that you had four modules: SampleModule, tempSensor, edgeAgent, and edgeHub. The routes that you just shared go through a module called SamplePythonModule. Make sure that the module naming is consistent, and that the modules referenced in your routes are running on the device.

[2019-05-29 00:15] rolyon commented on #31901
Hi @robfinney
You are consenting to enable PIM. If you are the person enabling PIM, you will be assigned the Security Administrator and Privileged Role Administrator roles.
Am I answering your question?
thanks

[2019-05-29 00:21] clarkbreyman-yammer opened #32299 "Optimizing dirty page writeback on Linux"
On many Linux distributions, data written to the filesystem will not be written to disk until either the writing program calls fsync() or until the queue of unwritten data grows very large (a.k.a "dirty pages"). If this queue grows large enough, the IOPS and/or transfer limits of the VM or disk can be exceeded, resulting in throttling and somewhat unpredictable application-level recovery.

To avoi

[2019-05-29 00:31] MashaMSFT commented on #31971
Hi @DaveZimmermann , thanks for your feedback! You're right, some added clarity here would not hurt :) I've merged these changes and they'll be live tomorrow. Thanks again! We'll proceed with closing out this Git Issue in a few business days, if we don't hear back from  you :)

[2019-05-29 00:40] KeiroKamioka0000 opened #32300 "Please consider to add Snapshot limit to this document please."
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq-for-disks
What disk types support snapshots?

Premium SSD, standard SSD, and standard SSD support snapshots, without any size limit. So you can snapshot large disks (up to 32 TiB). Ultra SSDs do not support snapshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-05-29 00:43] FrankHu-MSFT commented on #32257
@jaffadog Please reach out via the link MicrosoftGuyJFlo provided for further engagement on this issue. As we've reached the scope of the github issue I will be closing out this thread.

[2019-05-29 00:43] #32257 closed

[2019-05-29 00:47] MartinJaffer-MSFT commented on #32295
Seems similar to:
https://github.com/MicrosoftDocs/azure-docs/issues/28856#issuecomment-481467914

[2019-05-29 00:47] sajayantony commented on #32165
@tdihp - sorry about not documenting the repo URL scenario a bit more. The overall direction has been to unify helm and the registry and priority has been around landing a proper model for helm3 which is natively integrated into the registry.

[2019-05-29 00:48] MartinJaffer-MSFT commented on #32295
Hello @msdpalam and thank you for your inquiry.  We will review the documentation and get back to you.

[2019-05-29 00:52] #31971 closed

[2019-05-29 00:53] Mike-Ubezzi-MSFT commented on #32091
@johnkbarrow In going through this tutorial, the correct serializer detail can be found in the _Connect to your App Service_ ([Link](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console#ConnectAppService)) section:

![Screenshot (48)](https://user-images.githubusercontent.com/37126106/58521358-55a9f500-8171-11e9-84ee-1fbb71cd8a77.png)

We will now proceed to close this thr

[2019-05-29 00:53] #32091 closed

[2019-05-29 00:54] BryanTrach-MSFT commented on #32294
@colinweiner Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 00:55] Mike-Ubezzi-MSFT commented on #31453
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-29 00:55] #31453 closed

[2019-05-29 00:56] BryanTrach-MSFT commented on #32296
@cloudmelon Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 00:58] BryanTrach-MSFT commented on #32254
@garybushey Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 01:00] MicahMcKittrick-MSFT commented on #32299
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 01:00] BryanTrach-MSFT commented on #32269
@dohughes-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 01:07] MicahMcKittrick-MSFT commented on #32035
Addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/78099

Once the PR merges the changes will go live after a few hours.

[2019-05-29 01:07] #32035 closed

[2019-05-29 01:08] Mike-Ubezzi-MSFT commented on #32279
@stewartadam Thank you very much for the detailed feedback. We are investigating and will provide an update here or via an update to the document based upon the refinement of what needs to be communicated.

[2019-05-29 01:09] MicahMcKittrick-MSFT commented on #27848
Thanks @echuvyrov

@deltadan I will close this out as there is no issue with the doc. If you are still having issues feel free to email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue and I can assist further.

[2019-05-29 01:09] #27848 closed

[2019-05-29 01:28] tdihp commented on #32165
@iainfoulds Helm requirements.yml will need a repo URL for dependency tracking. The documentation didn't cover how we can retrieve this information for our repository.

@sajayantony Thanks for pointing out! I've checked helm3. I think the need is still there, as you can fetch dependency charts across registry I think?

[2019-05-29 01:31] rolyon commented on #31402
Hi @chadcarlton
Thanks for the feedback. I've sent a message to the product team to see if they recommendations.
thanks

[2019-05-29 01:33] dcbrown16 opened #32301 "Site relevance"
This is the old OMS doc skeleton I believe. It's also still one of the first links that comes up in search engines for "azure backup". Are we going to retire these pages any time soon so that the current Backup docs are the only ones exposed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b084d947-abfd-a8f9-b09f-d07f39

[2019-05-29 01:47] KeiroKamioka0000 opened #32302 "How fast the Blob transition of Tier Blob to archive tier?"
How fast the Blob transition of Tier Blob to archive tier?

Once the policy hit rule, how many hours required to Blob transition to archive tier?
If blob was really big, is there are possibility of that take longer than 24 hours to transition to archive tier?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a55

[2019-05-29 01:52] dcbrown16 opened #32303 "System state covered by MARS agent"
I believe the MARS agent option under "Azure VM backup support" should include system state in "What's backed up?"

This is directly stated on the front page for Backup.
https://docs.microsoft.com/en-us/azure/backup/backup-overview#what-can-i-back-up
Azure VMs
Run MARS agent
Back up files, folders, system state.

The MARS agent is also referenced explicitly in the instructions for restoring system

[2019-05-29 02:20] HannahHsiao opened #32304 "need steps to cancel support plan"
need steps to cancel support plan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576cae7d-f9e6-72ef-c6ba-d5a4e359d70d
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-cancel-azure-subscription)
* Cont

[2019-05-29 02:27] ericwuatms opened #32305 "Please add warning or notes"
Please add warning or notes to warn customer that the VM will be restarted and also the existing data data disks for period of time in #Enable encryption on a newly added data disk part. Just in case customer jumps to this part directly without reading start part after adding additional new data disks. Or, can easily add a note to lead customer to read the Warding session in the top. Thanks.

---

[2019-05-29 02:54] dcbrown16 opened #32306 "Restore disks - managed vs unmanaged"
When you specify the "Restore disks" option and have an unmanaged disk, does the unmanaged disk get created in the chosen storage account?
The doc only says that the template would be created in the storage account, which is presumably since any managed disks would be created in storage accounts not exposed to the user.
Or does it automatically convert unmanaged disks to managed disks or something

[2019-05-29 03:07] knssub opened #32307 "Please update this fantastic article"
This was written during 2017 and a lot has changed since, pls at least update this page. It has old product names, Windows Azure, Azure Operations Manager etc... Please update this with latest reference architecture, product names etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1e601c7-34eb-a840-2238-8287454b5470

[2019-05-29 03:07] KalyanChanumolu-MSFT commented on #32204
@satyajitps We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-29 03:07] #32204 closed

[2019-05-29 03:48] SnehaAgrawal-MSFT commented on #32276
@plzm Thanks for the question! We are investigating and will update you shortly.

[2019-05-29 03:53] KaiWalter commented on #6500
@TheReaLee I'm running my approach (see my post from Jan 4 above) successfully for months. Imho the route needs to be placed on container startup / entry and not on container build.

[2019-05-29 03:58] KetanChawda-MSFT commented on #32079
@hmayer1980 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-29 04:00] SaurabhSharma-MSFT commented on #32009
@kcrosby can you please provide me details on the values you are passing to $pAddr ?

[2019-05-29 04:08] SaurabhSharma-MSFT commented on #31895
@lightupdifire sorry, I meant to say restoring the AAD connect sync rules configuration.  You can refer to blog [Migrating Azure AD Connect to a New Server](https://practical365.com/identity/migrating-azure-ad-connect-new-server/).

[2019-05-29 04:10] SaurabhSharma-MSFT commented on #31826
@ericcwk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-29 04:10] #31826 closed

[2019-05-29 04:13] PetroAzure commented on #13292
I also meet the same problem. What can I do to make it normal when click To-Do List?

[2019-05-29 04:19] SaurabhSharma-MSFT commented on #32073
@perl-tsai Is it related to Azure Sentinel service ? Please refer to [Azure Network Security Group Analytics](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/azure-networking-analytics#azure-network-security-group-analytics-solution-in-azure-monitor)

[2019-05-29 04:23] SaurabhSharma-MSFT commented on #32210
@rafalfitt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-29 04:23] #32210 closed

[2019-05-29 04:31] ChiragMishra-MSFT commented on #32007
@robert4os I will now proceed to close this issue. Please feel free to still comment and tag me if you have any queries.

[2019-05-29 04:31] #32007 closed

[2019-05-29 04:43] SadiqhAhmed-MSFT commented on #31470
@aahill Thanks for the update.

@CortalUX Closing this issue for now.

[2019-05-29 04:43] #31470 closed

[2019-05-29 04:44] himalpatel81 opened #32311 "Default of maxPollingInterval"
Default maxPollingInterval is 1 minute while in the documentation about it is 1 second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec-079a-a9d4-52205466a8c6
* Content: [Azure Queue storage bindings for Azure Functions](https://docs.microsoft.

[2019-05-29 04:50] SadiqhAhmed-MSFT commented on #32050
@taromielnaz We will share this feedback with the content author for review and update as appropriate.

@rayne-wiselman FYI.

[2019-05-29 04:50] regulator-g opened #32312 "out of date"
Hi I believe some of this content is now out of date as Access Reviews are now nested under Identity Governance? The videos are also low quality.

A lot to ask but it would be nice to have a Microsoft learn page with a sandbox for creating access reviews as this is a subject in the AZ103 exam and it's expensive to replicate on a personal Azure account

---
#### Document Details

⚠ *Do not edit thi

[2019-05-29 04:55] Karishma-Tiwari-MSFT commented on #32123
Thanks @brobichaud for sharing the update on the issue you were facing.
@zr-msft Can you please help by updating the doc with the information shared in [this issue](https://github.com/Azure/AKS/issues/1011) by the product team? Thanks. :)

[2019-05-29 04:58] neerajkrshukla commented on #32234
Thanks @YutongTie-MSFT  and @iainfoulds

@iainfoulds I checked with latest versions 1.13.5 as well as 1.14.0 (Preview) and can confirm that port 22 requirement is still there. see the below screenshots.

![image](https://user-images.githubusercontent.com/17979030/58530253-aebe6b00-81fb-11e9-80f0-40972018f792.png)

see the version on agentpools

![image](https://user-images.githubusercontent.com/17

[2019-05-29 04:58] PetroAzure opened #32313 "Error reading to do list: An error occurred while sending the request."
I met this error when I click To-Do List. I think I strictly config the setting according to [this tutorial](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-web-api) , but still met this error which is a excepting thrown when hit this line code:
HttpResponseMessage response = await client.SendAsync(request);

Any idea to fix it?
Thanks.

---
#### Document

[2019-05-29 04:59] SadiqhAhmed-MSFT commented on #31834
@mganeshphani We are working on a quota API call that will allow customers to request quota programmatically. For now, this is work in progress (WIP) and this functionality should be available later this year.

[2019-05-29 05:00] #32056 closed

[2019-05-29 05:10] femsulu commented on #32254
good idea, we currently have [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema)documented.
Is that what you are asking for or are there are specific schemas you would like to see?

[2019-05-29 05:11] dcbrown16 commented on #32191
@SadiqhAhmed-MSFT you are saying that all of the RPs are stored forever and that the "garbage collection" stops when you disable protection, but that directly contradicts the statement @pvrk made about this on #6264 last year. Please reconfirm.

[2019-05-29 05:15] janlange commented on #32289
Figured it out myself, I use ReplaceTwinAsync instead of UpdateTwinAsync

[2019-05-29 05:16] VikasPullagura-MSFT commented on #32294
@colinweiner Thanks for feedback on the document. Yes, it is possible to create load balancer from Azure portal for both Internet and Internal facing. I will assign this issue to author for updating the document as required.

[2019-05-29 05:20] VikasPullagura-MSFT commented on #32294
@cynthn Can you please look into the issue.

Creation of load balancer is possible from Azure portal.
In the document it is mentioned as "You can't currently create an internal load balancer using the Azure portal." & "You can't currently create an internet-facing load balancer using the Azure portal."

Requesting to update the document as required.

[2019-05-29 05:23] SadiqhAhmed-MSFT commented on #32304
@HannahHsiao Thanks for the question! To cancel your support plan, select the support plan subscription you want to cancel and click Cancel subscription. Reference: https://azure.microsoft.com/en-us/support/faq/

[2019-05-29 05:27] dcbrown16 opened #32314 "Document LRS process"
First, is there a reason this page is under "Windows Server" not "Recovery Services vault" in the ToC?
Second, we should have documentation of how to change between LRS and GRS.
Note that this must be done BEFORE YOU TAKE ANY BACKUPS. Go to the vault in the Portal and choose Properties &gt; Backup Configuration (click Update) &gt; choose the desired LRS or GRS setting.

---
#### Document Details

[2019-05-29 05:27] SadiqhAhmed-MSFT commented on #32303
@dcbrown16 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-29 05:29] dennisxu2019 opened #32315 "why is "unmanaged cloud app" an identity related vulnerability?"
Hello, I have two question.
#1 - not sure I understand why is unmanaged cloud app an identity related vulnerability?
#2 - what service / capability does Azure Identity Protection rely on, to detect unmanaged cloud app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d9ea59-bbe6-dfa2-987b-17660346c6b5
* Version Indepen

[2019-05-29 05:29] SadiqhAhmed-MSFT commented on #32301
@dcbrown16 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-29 05:31] SadiqhAhmed-MSFT commented on #32300
@KeiroKamioka0000 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-05-29 05:33] SadiqhAhmed-MSFT commented on #32298
@lovelangy Thank you for the feedback.This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-05-29 05:36] SadiqhAhmed-MSFT commented on #32280
@jmo808 Thanks for bringing this to our attention! This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-05-29 05:43] amrelbakry commented on #32192
@AmanGarg-MSFT
Yes, I have added the repository as indicated and I am having the same error.
The script is retrieving the Repository, then from there retrieving the ARM templates.
the repository is retrieved successfully, however the ARM template is not found!
I have even modified the script to look like this

$templates = Get-AzResource -ResourceGroupName $lab.ResourceGroupName `
    # -ResourceT

[2019-05-29 06:16] estimizrachi opened #32316 "Pagination threshold"
In the Threshold property, needed to set an integer value. I have a value in variable - it result of previews action.
Is there a way to set  the threshold value  from variable?

I tried this via code view with expression:
"paginationPolicy": {
     "minimumItemCount":  "@{variables('messagesCount')}" //type of messagesCount is Integer
}

But I got this error:
Failed to save logic app logicapplfix3

[2019-05-29 06:31] jakaruna-MSFT commented on #32208
@porrascarlos802018 is there any update?

[2019-05-29 06:31] lightupdifire commented on #31895
@SaurabhSharma-MSFT,
Thanks! Will proceed with update :)

[2019-05-29 06:31] #31895 closed

[2019-05-29 06:44] ram-msft commented on #31891
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 06:44] #31891 closed

[2019-05-29 06:52] vairaselvam commented on #32262
1. do you see your settings in the Azure Portal for your Personalizer
   loop?   - Yesterday is was showing. Today for the past 30 mins Settings
   Blade displays "We are actively creating a dedicated instance for you.
   Please be patient while provisioning completes."
   2. Did this always happen with your loop since you created it, or did it
   start all of of a sudden or is happening occasiona

[2019-05-29 06:54] femsulu commented on #32269
@rayne-wiselman , can you confirm the above?

[2019-05-29 06:59] smoms commented on #31703
@kgremban for me the question is answered. Just for documentation clarity, I assume now that "some or no output" refer to both ModuleClient and DeviceClient, right?

[2019-05-29 07:04] vp opened #32318 "Examples is not for microsoft/azure-storage but for microsoft/windowsazure"
All examples are for Azure SDK for PHP microsoft/azure-storage. But its suggested to install Azure client libraries via composer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de046a08-4c1e-e031-b0de-2c51609f5edc
* Version Independent ID: 9410a96c-769f-ab86-146a-d994ce486893
* Content: [How to use Service Bus topics w

[2019-05-29 07:04] aquibqureshi26 opened #32319 "Is this not available through Azure PS?"
Team,

Is this functionality only available through ARM template but not through Azure PS?
What about how can i do this for existing VM? The ARM template is for the new VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246015be-e47a-87e1-b027-efdc0c6a3ad1
* Version Independent ID: fbfbb69a-7435-2d69-d13a-5a7e0a05431f
*

[2019-05-29 07:25] BryanTrach-MSFT commented on #32277
@SHAGGAR Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 07:27] SeaDude opened #32321 "Getting .wav files into POST request"
Hello,
I'm having trouble figuring out how to get a .wav file into a POST request. This is very simple to do in Postman because there is a "Choose File" button.
How is this done using the URL of a .wav file?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11673bc9-9062-278d-c5b8-84b05f2b81be
* Version Independ

[2019-05-29 07:31] fplanjer commented on #32149
I had the same problem and you comment saved my day!

[2019-05-29 07:49] ac2707 opened #32322 "Run microservices"
Can you provide more details for the "Deploy all other microservices on local machine" -
"Open the Debug panel in VS Code and run the Run all microservices configuration. This configuration runs the device simulation microservice in Docker and runs the other microservices in the debugger."
don't see an option in debug panel for running all microservices... can you please provide detailed steps for

[2019-05-29 07:54] ac2707 opened #32324 "Run microservices"
deploy locally with Visual studio - cannot start the microservices as well - any leads on this ?

![image](https://user-images.githubusercontent.com/49182510/58539525-277df100-8215-11e9-9677-e3dde8987e16.png)

environment variables set correctly -
![image](https://user-images.githubusercontent.com/49182510/58539536-2fd62c00-8215-11e9-8df7-cb19a28e93f5.png)

env file:
SETX PCS_KEYVAULT_NAME "keyvau

[2019-05-29 07:56] ac2707 opened #32325 "run microservices - docker compose"
The microservices don't start when doing a docker compose up either - screenshot below
Can you please add on more steps here to have it running. Thanks.

![image](https://user-images.githubusercontent.com/49182510/58539628-60b66100-8215-11e9-97ff-7fac5a98ae67.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 695c0300

[2019-05-29 07:56] rafalfitt commented on #32210
So please add these 3 words "Microsoft Azure Management" to the web page ;-)

[2019-05-29 08:01] jakaruna-MSFT commented on #32246
@woutervanranst Got it.
You want the doc to specifically mention primary ip address of the  `Primary` network card.

@KumariSupriya please add your comments

[2019-05-29 08:02] AdamWorkAccount commented on #31103
Yes i have 100% run those commands and the user i ran with is both a global admin and a TenantCreator

The result returned by  "Get-RdsTenant" is the tenant i have full access to

[2019-05-29 08:03] AdamWorkAccount commented on #31103
Yes please see above.

Sorry for delay have been on leave.

[2019-05-29 08:04] SadiqhAhmed-MSFT commented on #32306
@dcbrown16 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-29 08:15] SadiqhAhmed-MSFT commented on #32314
@dcbrown16 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-29 08:19] navinjk commented on #32093
Thank you for the update, we were able to deploy but now have an error after user login that ( It looks like your Admin hasn't set up any resources for you yet. Try again later or contact your admin.) Please help.

[2019-05-29 08:27] VadimBurshtyn opened #32328 "Cross Partition OFFSET / LIMIT is not supported"
[Enter feedback here]
Please add a note that "Cross Partition OFFSET / LIMIT is not supported." to this section: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#OffsetLimitClause

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267e7493-cefe-0e44-b33e-c925b0f874de
* Version Independent ID: 2ffbb916-74f2

[2019-05-29 08:34] jakaruna-MSFT commented on #32223
@gucarreira Agreed.
`WantedBy` has to be used under `[Install]` section directive.
`Wants` under `[Unit]` service directive.

Looks like the document adds the wantedby under `[Install]` service directive.

I will assign this issue to the content author to investigate further and update the document as appropriate.

[2019-05-29 08:36] hiromingithub opened #32329 "Please update the default limit for EA subscriptions"
[Request]Please update the default limit for EA subscriptions for EA customers.

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#subscription-limits---azure-resource-manager
Current)
Resource VM total cores per subscription
Default limit 20 ※per region.
Maximum limit Contact support.

Resource VM per series, such as Dv2 and F, cores per subscription
Default limit 20 ※per r

[2019-05-29 08:39] biste5 commented on #28833
That's good news. Otherwise, I have some coding skills 😉

[2019-05-29 09:09] ram-msft commented on #32321
@SeaDude Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-05-29 09:14] jakaruna-MSFT commented on #32227
@SharmainePopov AHUB applies to VMSS also. We can use Azure cli or powershell or ARM template add or created with license type.
Looks like that option is not available in portal.
I filled all the options for creating a vmss in the portal and clicked on `Automation options` to get the ARM template. In that `licenseType` is missing.

I will check with the team and confirm.

[2019-05-29 09:14] jakaruna-MSFT commented on #32227
@xujing Please go through the above comment and provide your inputs

[2019-05-29 09:22] AshokPeddakotla-MSFT commented on #32325
@ac2707 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 09:23] AshokPeddakotla-MSFT commented on #32322
@ac2707 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 09:24] AshokPeddakotla-MSFT commented on #32324
@ac2707  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 09:29] KetanChawda-MSFT commented on #32316
@estimizrachi Thank you for reaching out to us. We will review and provide an update as appropriate.