[2021-12-27 19:09] #85746 closed

[2021-12-27 19:13] tofleet commented on #34167
Resetting the "Days Without Somebody Commenting About How Suspicious This Looks" counter back down to zero. Contextually, mine was not a password reset, but rather a login to access Power BI. I'm sure I'll get an attaboy from our CTO for being thorough-bordering-on-paranoid, but as the kids say (or said a year and a half ago): not a great look!

[2021-12-27 19:16] koder101 commented on #85690
Thanks! @tfitzmac I too later realized that using semicolons ( _which is also the easiest_ ) we can chain the commands. I am good for now. We can close this issue.

[2021-12-27 19:16] #85690 closed

[2021-12-27 19:33] wcom939 opened #85752 "Following the java intellij instructions results in an extension bundle incompatibility error"
Following the instructions for the below page results in an incompatibility error. From what I can tell these instructions only work for the 2.X version of the functions SDK, however the instructions specify to install the latest version of the functions CLI which would be v4.x

Verison 4 results in a extension bundle incompatibility error.

---
#### Document Details

⚠ *Do not edit this section.

[2021-12-27 19:51] DerekHerman-MSFT commented on #85742
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-27 19:56] DerekHerman-MSFT commented on #85658
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-27 20:03] camseitz commented on #83295
@SumanthMarigowda this is still not updated

[2021-12-27 20:22] tamram commented on #85631
#reassign: @tamram

[2021-12-27 20:28] tamram commented on #85631
@marcelkmfst - Could you clarify? Is this the sentence that you are concerned with?

_If the source blob has been encrypted with a customer-provided key as part of a write operation, then object replication will fail._

That note is referring to customer-provided keys, which are used to encrypt a single blob on write and are not related to customer-managed keys (CMK).

CMK applies to all blobs in

[2021-12-27 21:08] KranthiPakala-MSFT commented on #85492
@mssaperla , @leifbro - Could you please review this issue and provide an update? - Thank you.

[2021-12-27 22:09] SamaraSoucy-MSFT commented on #85750
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-27 22:10] SamaraSoucy-MSFT commented on #85752
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-27 22:31] jikuja opened #85754 "The documentation of Azure keyvault role assignments for Azure Databricks is missing"
https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes#create-an-azure-key-vault-backed-secret-scope-using-the-databricks-cli only mentions key vault role assignment and service principal creation.

How are the following use cases handled:
* key vault role assignment for one Dayabricks workspace instead of adding permission globally for all workspaces on tenant?
* proper

[2021-12-27 23:45] jlichwa commented on #84504
@DeanGross thank you. We have updated this document with all features from this year. #please-close

[2021-12-27 23:45] #84504 closed

[2021-12-27 23:45] 64J0 opened #85756 "ML compute is stuck on restarting"
I was trying to restart an Azure ML compute machine but it is now stuck on restarting with this message:

[code]

I have tried running the commands using CLI to stop the compute machine but they're all failing.

[code]

When I try to list the nodes for this machine I get this message:

[code]

[code]

And finally, when I try to `show` the values of the resource I get this information:

[code]

[co

[2021-12-28 00:02] dcaddick commented on #85696
Thanks John,

So far that is one of the best responses to date, I’m more than happy to
help contribute to more detailed documentation and have some ideas as to
how to progress this.

Regards,
Dave C

On Tue, 28 Dec 2021 at 3:02 am, John Flores ***@***.***>
wrote:

--
Regards,
Dave Caddick

[2021-12-28 00:04] jlichwa commented on #85449
@razstan this document is specific to Key Vault resource provider. The hsm option is for Managed HSM service with separate management api and documentation here https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/overview #please-close

[2021-12-28 00:04] #85449 closed

[2021-12-28 00:22] jlichwa commented on #85425
@Rick-Anderson can you clarify what is the ask. V3 version is still the most used version of SDK by our customers and partners. It is similar for Storage V11 and V12 version.

[2021-12-28 00:59] DerekHerman-MSFT commented on #85749
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-28 01:36] albertoRamon opened #85757 "Lifecycle Management in Azure storage"
[Enter feedback here]
Looks like these compatibility matrix need be updated:
* [Link1](https://docs.microsoft.com/en-us/azure/storage/blobs/lifecycle-management-overview#feature-support)
* [Link2](https://docs.microsoft.com/en-us/azure/storage/blobs/access-tiers-overview#feature-support)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-12-28 01:53] albertoRamon commented on #82747
Hello
Did you had time to check it?

[2021-12-28 02:03] AshokPeddakotla-MSFT commented on #85567
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-28 02:03] #85567 closed

[2021-12-28 02:05] AshokPeddakotla-MSFT commented on #85756
@64J0 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-12-28 02:07] 64J0 commented on #85756
Sorry, this is not related to any doc page specifically. I'm just seeking for help to solve this problem. Can you point me the right repository to send my issue then?

[2021-12-28 04:22] #85425 closed

[2021-12-28 04:31] AnuragSharma-MSFT commented on #85649
@moderor Awaiting your response on this.

[2021-12-28 04:50] #85668 closed

[2021-12-28 04:52] CHEEKATLAPRADEEP-MSFT commented on #85547
@preethamrajk  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-12-28 04:52] #85547 closed

[2021-12-28 05:01] moderor commented on #85649
OK, it may be different with a public end point, although it's unclear what the access method has to do with enabling bak restore. Perhaps the documentation could be clarified to emphasise a public end point is required. My experience was to a private end point and there was no restore option in ssms and the two commands didn't work. It appeared that it was due to differences in sql server and azu

[2021-12-28 05:14] SumanthMarigowda commented on #85757
@albertoRamon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-28 05:15] #85553 closed

[2021-12-28 05:22] AnnuKumari-MSFT commented on #85754
@jikuja Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-28 05:22] KrishnaG-MSFT commented on #84613
UPDATE: If Arc supports windows server 2022, then User hybrid extension should work with Windows Server 2022. However, for current Azure Update Management that leverages system hybrid runbook worker (Agent based), Win 2022 has not been qualified yet.

[2021-12-28 05:31] RohitMungi-MSFT commented on #85756
@64J0 You can report the issue from the ml.azure.com using the smiley icon on the top right corner. Please ensure to provide a screen shot from portal and check the box to contact you so the service team can check with you if they need more information. Thanks.

[2021-12-28 05:40] yuriwoof opened #85761 "Need to clarify the reason why three nodes are recommended as system nodepool"
In this document, the recommended node count is referred to as **three**. I couldn't find any reason for this.
I would be appreciated it if you could add the more precise reason.

On the other hand, 2 nodes are essential (I totally agree that one node is meaningless).

![image](https://user-images.githubusercontent.com/1770342/147531579-fcb6e9d3-d80a-4f35-a020-4a0abd021983.png)
---
#### Document D

[2021-12-28 05:47] #85652 closed

[2021-12-28 06:28] PriyankaRudramaina commented on #85761
Hello @zr-msft, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-28 08:02] CHEEKATLAPRADEEP-MSFT commented on #85604
@xujxu  Thanks for pointing out the issue, We have addressed this issue in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183489
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

@spelluru Could you please review the PR and approve?

[2021-12-28 08:04] ElnurHello commented on #80866
Hello, could you please give info how to get cost monitoring data in Grafana ?

[2021-12-28 09:23] ReemCohen opened #85762 "control expression ‘if’ bug"
![image](https://user-images.githubusercontent.com/77104232/147550645-1162f6cd-4515-4889-901b-a5c290d32646.jpeg)

![image](https://user-images.githubusercontent.com/77104232/147550686-e7152c78-564e-4086-a093-411f495dd0d6.jpeg)

Hey, if expression has inconsistent behaviour regarding to given arguments. I uploaded two photos for illustration this issue.

[2021-12-28 09:26] kimjamia opened #85763 "Horizontal sharding and shard map schema in Elastic Query"
Under the header [Elastic Query scenarios](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-query-overview#elastic-query-scenarios) it says:

However, the documentation only explains how to to use elastic database tools and doesn't explain at all how to use elastic queries in a custom shard map. The whole shard map thing feels like a black box.

For example, the T-SQL command `CRE

[2021-12-28 10:15] sherlock1982 commented on #85761
I think I can answer why the minimal number for reliable redundancy is 3.
This is clear why you need 2. Becuase if one goes down you still have one working.
But in this situation you need to act very fast because you might loose the last one also.

But if you 1 out of 3 is lost you have much more time to react to this situation.

As a side note: In embedded systems you also need 3 because bit has

[2021-12-28 10:23] PhilGao opened #85765 "need to update monitor schema"
while I set up data factory diagnostics setting to send the logs to event hub , I find the schema in documentation is not match with data schema we received.
A sample pipeline run is like below , and you can see some property is missing like location ,especially the node `properties` , like the leaf node `Predecessors` is missing.
Also the activity run is not matching with schema . Kindly update t

[2021-12-28 10:29] SnehaAgrawal-MSFT commented on #85505
@Tiberriver256 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-28 10:29] #85505 closed

[2021-12-28 10:37] cloudchristoph opened #85766 "Azure Monitor Agent supported?"
Is it supported to use Azure Monitor Agent + Dependency Agent?
We don't want to install the legacy Log Analytics Agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c887fb7a-6d9d-b9f4-4896-5e2fb440ffca
* Version Independent ID: 86a368f8-6d32-eba0-db92-8deeee732724
* Content: [Enable VM insights overview - Azure Monit

[2021-12-28 10:44] #85756 closed

[2021-12-28 10:54] MughundhanRaveendran-MSFT commented on #85717
@imeya , In order to isolate the issue, could you please disable the private endpoint and check?

If you are able to deploy after disabling private endpoint, then we can look into this from networking standpoint. May be the client machine is not a part of the vnet ip address

If you are still not able to deploy, then make sure you have contributor access to the Function app.

Also before disconnec

[2021-12-28 11:00] gianlucadardia opened #85767 "Links pointing to unexpected page"
Some links on left pane don't link to the correct page. I'm referring to:
Resources-> Azure IoT Service -> IoT Edge
Resources-> Azure IoT Service -> IoT Plug and play

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6b6051-1704-5bb7-a49c-fd606d35e9be
* Version Independent ID: 78af1b4d-7f4d-17ce-46df-00dca9737870
* Cont

[2021-12-28 11:16] CHEEKATLAPRADEEP-MSFT commented on #85762
@ReemCohen  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2021-12-28 11:20] ReemCohen commented on #85762
articles/data-factory/control-flow-expression-language-functions.md

This is the link.
If expression should return any type and it seems like there is a bug with that. I solved my scenario, I opened an issue for this to get it fixed.

[2021-12-28 11:34] AnnuKumari-MSFT commented on #85765
@joshuha-msft Requesting to validate customer feedback and update the document accordingly as appropriate.
@PhilGao Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
Thankyou

[2021-12-28 12:16] AshokPeddakotla-MSFT commented on #85767
[@gianlucadardia](https://github.com/gianlucadardia) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-28 12:35] devvrr opened #85768 "VM Recovery in a vm scale set"
[Enter feedback here]
What happens when there is only one VM in a scale set and it hangs or crashes. Does Azure make sure a new VM is deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b1f062-0ede-f0c3-61d8-d67095ce6e2f
* Version Independent ID: 23c9c399-7b7f-2c87-80c9-68a43b2fc157
* Content: [Flexible orchestr

[2021-12-28 12:40] drmathias opened #85769 "Documented quota policy statement invalid"
When attempting to configure a quota following the sample policy statement, it results in the following error.

![image](https://user-images.githubusercontent.com/39023939/147567063-97e7d894-b971-4693-9bb4-7f4713e3ab08.png)

Sample:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182

[2021-12-28 13:23] AnuragSharma-MSFT commented on #85763
@kimjamia Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-28 13:35] fauberon opened #85770 "The link "turn on active learning" is invalid, leading to unability to activate it."
The link "Activate active learning" leads to a starting page of the doc, which is NOT an information. There is no way to find out how to acativate this feature, either on the knowledge base or the service. Frustrating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302f635-c2b9-e505-7b9e-d947dab75514
* Version Indepen

[2021-12-28 13:38] fauberon commented on #85770
Ok, I found the link: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/use-active-learning#turn-on-active-learning-for-alternate-questions

[2021-12-28 13:38] #85770 closed

[2021-12-28 14:10] GitaraniSharma-MSFT commented on #85691
@kausui , We have assigned this to the content owner/author for review.

@vhorne , could you please update the doc to remove the known issue "Start/Stop doesn’t work with a firewall configured in forced-tunnel mode", since it seems to be fixed now?

[2021-12-28 14:41] jorge-at123 opened #85772 "Update Barracuda WAF data ingestion method"
Barracuda WAF data connector is showing "Log Analytics agent - custom logs" as the Data ingestion method.
This should be updated to "Microsoft Sentinel Data Collector API", which seems to be the current ingestion method according to the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b717dc-2897-f89c-5d9

[2021-12-28 15:14] clmendes-MSFT opened #85773 "Windows 11 for Visual Studio subscription"
Hello team,

The following doc speaks about client images for Windows, specifically windows 7, 8 and 10 but we don't yet 11. Is this expected?
<img width="282" alt="image" src="https://user-images.githubusercontent.com/53820260/147580377-6ded4991-9fbd-493d-8b4e-fdb989751932.png">

And if indeed we do not have, do we have an ETA to have it?

Thank you in advance.

---
#### Document Details

⚠ *Do n

[2021-12-28 15:22] SaiKishor-MSFT commented on #85720
@staedy , could you please provide details on this feedback submission for us to review/investigate further? For now, the feedback is blank without any details.

[2021-12-28 15:59] JamesTran-MSFT commented on #85772
@jorge-at123
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-28 16:11] yanivlavi commented on #85533
Please open a support ticket and we will investigate.

[2021-12-28 16:12] yanivlavi commented on #85533
#please-close

[2021-12-28 16:12] #85533 closed

[2021-12-28 16:40] JamesTran-MSFT commented on #85772
@jorge-at123
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-28 16:40] tfitzmac commented on #85620
@ohadschn - thanks for this feedback. The doc is mostly right but seems to have some inconsistencies. The function is used with zonal resources, not zone-redundant. I'll update the doc to make sure it is more clear.

[2021-12-28 17:06] LuLuc opened #85775 "It doesn't help at all. FULL BULLSHIT"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c08f0f-34de-0aa6-0611-1285d2e10da9
* Version Independent ID: 94a77f33-e8d5-9047-1c09-cd009bca33ec
* Content: [Troubleshoot Azure subscription sign-in issues](https://docs.microsoft.com/en-US/azure/cost-management-billing/manage/troubleshoot-sign-in-

[2021-12-28 17:11] scoriani commented on #85763
@kimjamia, Shard Maps should be created using Elastic Scale Client library (https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-scale-shard-map-management) and are primarily intended to be consumed through the same set of client APIs. For Elastic Query, as you pointed out, there's an option where one can reuse an existing Shard Map and leverage things like automatic fan-out query and

[2021-12-28 17:19] tfitzmac commented on #85620
I have submitted an update that should get published later today.
#please-close

[2021-12-28 17:19] #85620 closed

[2021-12-28 17:33] tfitzmac commented on #85712
@JozoSlejko - thanks for this suggestion. I'll add loadTextContent to the article.

[2021-12-28 17:57] tfitzmac commented on #85712
An example has been added and should get published later today.
#please-close

[2021-12-28 17:57] #85712 closed

[2021-12-28 18:12] GradyD opened #85778 "Assigning Sensitivity Labeling overwrites existing Group.Unified configs"
https://github.com/MicrosoftDocs/azure-docs/blob/e6cd4b39bd479a290f36653405fe982eea11cb10/articles/active-directory/enterprise-users/groups-assign-sensitivity-labels.md?plain=1#L44

If you follow the document exactly per MSFT recommendation and you have an existing Group.Unified directory setting configured the configs are overwritten. There needs to be something that calls this out big and bold o

[2021-12-28 18:17] AjayKumar-MSFT commented on #85676
adhunna, Apologies for the delay! For a deeper investigation on this issue, I would like to get more information on your Azure Apps and subscription, so I wish to engage with you offline to provide a quick and specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, and your app name, I will follo

[2021-12-28 18:17] #85676 closed

[2021-12-28 18:30] JamesTran-MSFT commented on #85778
@GradyD
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-28 18:35] Fleid commented on #84461
All done! Thanks again for the feedback!

#please-close

[2021-12-28 18:35] #84461 closed

[2021-12-28 18:59] ohadschn commented on #85620
So are you saying that `Microsoft.Storage/storageAccounts` (where my experience agrees with the current docs sample - it works with `pickZones`) is zonal? If that is the case, could you please submit a fix to the [Availability Zones docs](https://docs.microsoft.com/en-us/azure/availability-zones/az-region) as well, which currently say it is zone-redundant?

[2021-12-28 19:10] isabelleatmsft commented on #85363
Hi @halkazwini - thanks for sharing this feedback. The meaning of the bottom paragraph is that we determine P2 license needs based on the # of reviewers, not the # of creators or managers of the review. For example, if there are 5 reviewers and 1 creator who is distinct from the reviewers, 5 P2 licenses are needed, not 6. Let me know if that makes sense.

@ajburnle : P2 licenses are still required

[2021-12-28 19:23] porrascarlos802018 opened #85779 "Please clarify documentation about zones and nat gateway"
[Enter feedback here]
tested , aks cluster created with zones 1 2 3 , enabled was able to communicate.

please clarify in documentation , aks NAT gatway will work fine for outbound traffic when multiple availability zones are used

az aks create --resource-group myresourcegroup --name natcluster --node-count 1 --outbound-type managedNATGateway --nat-gateway-managed-outbound-ip-count 1 --nat-gatewa

[2021-12-28 19:41] SamaraSoucy-MSFT commented on #85769
Thanks for the feedback! We will review and get back to you shortly.

[2021-12-28 20:06] DerekHerman-MSFT commented on #85683
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-28 20:39] s1198576 opened #85782 "Typo in the"
There is a typo in the script for adding a user, an extra "m" in the username when defining the $Identity variable.

Chapter: "Tutorial: Integrate a single AD forest using password hash sync (PHS) "
Section: "Create a Windows Server AD user"

In the first CN declaration (should be "amccray")
Currently:
$Identity = "CN=ammccray,CN=Users,DC=contoso,DC=com"

Should be:
$Identity = "CN=amccray,CN=User

[2021-12-28 20:41] brasky opened #85784 "Azure DevOps Cosmos DB Emulator docs should not recommend VS2017."
In [these docs](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd#create-a-build-definition) we are recommending VS2017 because of a vague message about "not supporting" VS2019.

That section should be rephrased to say that Cosmos DB emulator is *pre-installed* on windows-2019 and windows-2022 and that you do **not** need to use the Azure DevOps task, instead you should add a P

[2021-12-28 20:53] GennadNY commented on #75475
@fgielow - thanks for reaching out. At this time I think our docs are following timescale docs - https://docs.timescale.com/timescaledb/latest/how-to-guides/backup-and-restore/pg-dump-and-restore/#logical-backups-with-pg-dump-and-pg-restore. However, I will test it out and see if I can change our docs accordingly. Thank you so much.

[2021-12-28 20:56] JamesTran-MSFT commented on #85782
@s1198576
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-28 21:00] JamesTran-MSFT commented on #85782
@s1198576
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/147606680-37b3999f-da20-4784-baa3-24fa36e92ffb.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time

[2021-12-28 21:00] #85782 closed

[2021-12-28 21:15] GeethaThatipatri-MSFT commented on #85784
Hi @brasky Thanks for your findings, I'm assigning this to the author for the feedback review

[2021-12-28 21:47] justinp-kr opened #85786 "Warn about failures to deploy when storage account is restricted."
Microsoft support did not indicate any problem with deployment in support request 2110290010002257. And so perhaps documentation should caution that network restrictions may cause inconsistent deployment failures.

When network restrictions were removed from storage account, i.e. "allow access" from all networks, then deployments started succeeding again consistently.

---
#### Document Details

⚠

[2021-12-28 21:55] DerekHerman-MSFT commented on #85766
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-28 22:13] bandersmsft commented on #85775
@LuLuc Sorry you're having a problem. If the article wasn't helpful and you still need help, you can try looking at https://docs.microsoft.com/office365/troubleshoot/sign-in/sign-in-to-office-365-azure-intune or calling (800) 642 7676.

If you have specific feedback about how we can improve the article, please reopen this issue. I'd be happy to update the article based on any useful suggestions.

[2021-12-28 22:13] #85775 closed

[2021-12-28 22:24] hkusulja opened #85787 "CollectD example config using SNMP plugin to send performance data to Azure Log Anayltics"
Hello,
Please update docs page - https://docs.microsoft.com/en-us/azure/azure-monitor/agents/data-sources-collectd

and provide CollectD working configuration example with CollectD SNMP Plugin
https://collectd.org/wiki/index.php/Plugin:SNMP
That collects SNMP poll data and sends performance data to Azure Log Analytics.

usable for monitoring network equipment (switches, routers) or any other SNMP

[2021-12-28 22:27] s1198576 commented on #85782
Thanks for the update.  Those changes align with my recommendation.

Cheers and Happy New Year!

On Tue, Dec 28, 2021 at 4:01 PM James Tran-MSFT ***@***.***>
wrote:

[2021-12-28 22:38] gwu70ca opened #85788 ""to two or more instances" appeared twice in the sentence"
https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#what-happens-if-my-app-is-running-on-a-single-instance

"Scale out to two or more instances to two or more instances"

[Enter feedback here]

"to two or more instances" appeared twice in the sentence
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-28 22:45] DerekHerman-MSFT commented on #85768
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-28 22:46] DerekHerman-MSFT commented on #85773
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-28 22:47] DerekHerman-MSFT commented on #85779
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-28 22:53] JimacoMS4 commented on #85124
@danhellem ping ...

#reassign @danhellem

[2021-12-28 23:27] JimacoMS4 commented on #72866
@rido-min - sorry for any confusion, but please use this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/183698 going forward

[2021-12-28 23:30] vishalkalra opened #85789 "Documentation pages not rendering on iOS 12.5.5"
Link:
https://docs.microsoft.com/en-us/azure/architecture/browse/

Azure and other online documentation pages do not render correctly in the browser on ioS 12.5.5 running on iPad Mini 2.
I have tried latest versions of the following supported browsers:

Chrome version: 92.0.4515.90
Safari latest version for iOS 12.5.5

Only the article title and introduction load. Microsoft logo, documentation men

[2021-12-28 23:45] lorne-olo opened #85790 "SSH Public Key Problem for SFTP in Azure Blob Storage"
I can't seem to use my own pubic SSH key. I can only use an Azure-generated one.
When I create an SHH Key resource, then try to select it vis "use existing key stored in azure", when trying to update the user I get a error: string BEGIN is not base64 encoded. (When creating the SSH Key, I am required--by the validation in the Azure portal, to use BEGIN SSH2 ....)
Also, if I simply try to paste in

[2021-12-28 23:50] kim0 opened #85791 "No way to update custom-data from cli"
Afaict `az vmss update` cannot update the custom-data field! While this doc page says it should be possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 282b39fe-e8fe-f698-36c2-321f088f6554
* Version Independent ID: 2a7c130c-291b-40ff-cae5-43255bcb3bc3
* Content: [Custom data and Azure Virtual Machines - Azure Virtu

[2021-12-29 00:21] kaushalbcactus commented on #85729
Hi Kendra,

Please find screenshot below.

[2021-12-29 00:22] kaushalbcactus commented on #85729
Hi Kendra,
Please find screenshot attached.

![image](https://user-images.githubusercontent.com/49706885/147616515-b699112e-482d-4e0e-bf72-bae9fa9e15ab.png)

[2021-12-29 00:37] jasongroce commented on #81646
Thanks for your feedback! We are working on plans to revise this doc. We have logged this issue internally and are closing this GitHub issue accordingly. #please-close

[2021-12-29 00:37] #81646 closed

[2021-12-29 00:45] imeya commented on #85717
thank you, I will give it a try.

[2021-12-29 01:02] widget31too commented on #83901
Is there any way to update a project imported from VS2019 -> VS2022 to launch Azurite? I've got an Azure Functions project that used to run OK, and now I have to run Azurite before launching? Sounds like a step backwards to me...

[2021-12-29 01:17] ajonno opened #85792 "duplicate sentence"
hi, i noticed this duplicate sentence:

Now, you can add the storage output binding to your project.

Now, you can add the storage output binding to your project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7362b2-b991-a5bb-45e8-1e6d9ebb04d5
* Version Independent ID: 6dd2cefe-f557-0ca9-c8cc-6b0e2f762a9f
* Content:

[2021-12-29 01:51] JimacoMS4 commented on #65654
@nberdy, @stevebus, @DeepikaSadahiro Can one of you please ack on the PR listed directly above, so we can close this issue? Thanks!

[2021-12-29 02:47] SumanthMarigowda commented on #85597
@SethBonser Apologies for the delay response! hanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-12-29 03:02] imeya commented on #78970
are there any update for this issue?

[2021-12-29 03:03] SumanthMarigowda commented on #85612
@trferreira-BR  We store something and after that, we need it every day and every 1h during 1 month. What is the better tier for it - Hot or Cool? In this scenario **Hot**

Hot Access Tier: This tier should be used for the data frequently accessed by applications, and that is read or written very often. The data storage costs for this tier are higher than other tiers, but access charges are lower,

[2021-12-29 03:03] #85612 closed

[2021-12-29 03:47] KrishnaG-MSFT commented on #85787
@hkusulja Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-29 04:25] AnuragSharma-MSFT commented on #85649
@moderor Thanks for your response. I am assigning it to content author for further review.

[2021-12-29 04:40] AjayKumar-MSFT commented on #85788
@gwu70ca, That's a good catch! Thanks for taking time to share your feedback for Azure doc improvement.
We have raised a PR, once the PR is merged (shortly), the requested changes would be published.

[2021-12-29 04:45] MughundhanRaveendran-MSFT commented on #85734
@dchecks , You want the documentation to talk more about http trigger or add more information about other triggers such as blob,service bus etc ?

[2021-12-29 04:59] AshokPeddakotla-MSFT commented on #85789
@vishalkalra Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-29 05:01] dchecks commented on #85734
Just give mention to the tool to find other templates 🙂

Sent from ProtonMail for iOS

On Tue, Dec 28, 2021 at 23:45, Mughundhan_R-MSFT ***@***.***> wrote:

[2021-12-29 05:06] moderor commented on #85649
Apologies, I reviewed the documentation again and it seems I deployed the wrong type of DB. I was trying an SQL database instead of an SQL managed instance. I should have read more carefully the first time, although I was not aware of the existence of sql managed instance so that didn't help. I know that there is a link there to documentation about sql managed instance, but perhaps consider adding

[2021-12-29 05:10] AnuragSharma-MSFT commented on #85741
@jeffyeh Thanks for reporting this, we have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-29 05:15] AnuragSharma-MSFT commented on #85649
Thanks for responding back. Actually these article have **_'Applies to'_** at the top of document where supported service names are mentioned and in this document we have 'Azure SQL managed Instance'.

![image](https://user-images.githubusercontent.com/66360845/147629507-fdfcf71b-f78a-4316-84c3-1333899b00a7.png)

Please let us know if this helps or if you have other queries.

[2021-12-29 05:19] syewchuk commented on #85682
It came to my attention that the following note is on the page:

[code]

I don't see the add button so presumably that describes my situation.

[2021-12-29 05:21] moderor commented on #85649
Thanks, I did see that but like I said to someone who doesn't know the difference they will assume it's applicable. Perhaps as per the attached image Azure SQL Database can be shown as not applicable.
![53040575-8ffb4c00-3436-11e9-8733-402549c4fe4a](https://user-images.githubusercontent.com/90296133/147629876-e74674aa-feb9-4832-81d2-a1bbfdfd514b.png)

[2021-12-29 06:27] AshokPeddakotla-MSFT commented on #85739
@romanzdk Are you following [this ](https://docs.microsoft.com/en-us/cli/azure/storage/blob/directory?view=azure-cli-latest#az_storage_blob_directory_delete)doc? Could you try with complete command and see if it works?

[2021-12-29 06:28] AshokPeddakotla-MSFT commented on #85739
.

[2021-12-29 06:57] SwathiDhanwada-MSFT commented on #85766
@cloudchristoph Currently, dependency agent is  supported only if log analytics agent is installed.

<img width="385" alt="image" src="https://user-images.githubusercontent.com/48976275/147635359-fa5a68ba-c2b4-4e55-b7c9-80de5c60b4f6.png">

For more information, refer [this document.](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#summary-of-agents)

[2021-12-29 07:38] sudonghan opened #85796 "This page is not for "Encrypt video with AES-128" but for playready license"
Hi team,

When I click the article from Tutorials -> .NET-> Encrypt dynamically with AES-128, but it will show the article for "Media Services v3 with PlayReady license template". Please check the screenshots for details.

![image](https://user-images.githubusercontent.com/70627803/147638133-d9408538-12ef-4fa7-ace3-915df437197a.png)

Thanks.

---
#### Document Details

⚠ *Do not edit this section.

[2021-12-29 07:44] wayneyaoo commented on #19305
This is super frustrating. People having to update code to fit into some platform simply because that platform doesn't make it right doesn't make sense to me. [Though not very complete, .NET Core](https://docs.microsoft.com/en-us/dotnet/standard/security/cross-platform-cryptography#write-a-pkcs7-certificate-collection) DOES provide store mappings to at least read certificate/pfx on Linux.

`var st

[2021-12-29 07:50] shashishailaj commented on #85790
@lorne-olo Thank you for your query . We will investigate and update the thread.

[2021-12-29 07:53] shashishailaj commented on #85786
@justinp-kr Thank you for your feedback . We will investigate and update the thread.

[2021-12-29 07:55] shashishailaj commented on #85792
@ajonno Thank you for your feedback . We will have this rectified.

[2021-12-29 08:19] chjinche opened #85797 "Is there a separate library/api to instantiate functions in expressions?"
Hello experts,

May I know if there is **a separate library/api of azure logic app that we could use to instantiate functions in expressions**?

We're using logic app for scheduling in our products, and would love to keep the same expression resolving behavior beyond scheduling scenario.
Below is an example to demonstrate two scenarios, and my question is not limited to the function itself.
- sche

[2021-12-29 08:20] tspivakms opened #85798 "Alert details for VM_DataEgressArtifacts (App Services alert) is outdated"
Alert details for VM_DataEgressArtifacts (App Services alert) is outdated (the alert title was incorrect and was corrected in the product).

Should be changed from:

Possible loss of data detected
(VM_DataEgressArtifacts)

to

Possible data exfiltration
(VM_DataEgressArtifacts)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-29 08:23] SwathiDhanwada-MSFT commented on #85657
@santo2 Below are few documents where you can get information of what can be monitored for the service bus resource.

- https://docs.microsoft.com/en-us/azure/service-bus-messaging/monitor-service-bus
- https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-tracing?tabs=net-standard-sdk-2
- https://docs.microsoft.com/en-us/azure/service-bus-messaging/monitor-service-bu

[2021-12-29 08:41] diegodct opened #85799 "Limits on how many VNet service endpoints for storage accounts"
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#does-azure-active-directory-azure-ad-support-vnet-service-endpoints

             Azure service | Limits on VNet rules
             Azure Storage | 100

As per below link:
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-access-from-a-virtual-network --> Limit for Stora

[2021-12-29 09:01] johann-hackl-microsoft opened #85800 "Broken Link / Markdown shown as text within expandable section"
Broken Link / Markdown shown as text within expandable section "How do I check inbound/outbound connection attempts for my service?"

see https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics#how-do-i-check-inboundoutbound-connection-attempts-for-my-service:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-12-29 09:44] ctahok commented on #36809
It is very confusing. Here for example it says[ Each IP address provides 64,000 ports that can be used for SNAT.](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#:~:text=each%20ip%20address%20provides%2064%2C000%20ports%20that%20can%20be%20used%20for%20snat.)

[2021-12-29 09:46] amir-avectous commented on #85682
I have the same issue and no resolution yet. Apparently, the azure directory has created by 365 or DevOps subscription has a default billing scope and default billing profile with the limitation of adding a new billing profile. I still don't know how to resolve it.

[2021-12-29 10:31] Marchelune commented on #23652
@SvenAelterman that's a nice workaround indeed, I'll try it out.

[2021-12-29 11:06] GitaraniSharma-MSFT commented on #85799
@diegodct , thank you for your feedback. We'll review and update as appropriate!

[2021-12-29 11:08] GitaraniSharma-MSFT commented on #85800
@johann-hackl-microsoft , thank you for your feedback. We'll investigate and update as appropriate!

[2021-12-29 11:31] AshokPeddakotla-MSFT commented on #85791
@kim0 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-29 11:40] AshokPeddakotla-MSFT commented on #85798
@tspivakms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2021-12-29 11:45] shoter opened #85803 "documentation of timeToLiveSecs for edge hub is lacking information what happens on gateway restart/power off"
Documentation does not specify what happens with messages when device power is cut off and how device is handling `timeToLiveSecs` in that situation. Is device going to lose every message upon restart?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a79690c6-2784-a53e-7b34-6b428b01f9bf
* Version Independent ID: b97c6e5f

[2021-12-29 12:05] rosthain opened #85804 "Need more details on how to create Data Exploration Database"
I was following the tutorial and finding it helpful until it reached the instructions for creating a Data Exploration database. These state "Use the master database to create a separate database". What is the master database? How do I access it from my Synapse analytics workspace?
More details would be helpful. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-12-29 12:27] PriyankaRudramaina commented on #85791
Hello @kim0,

Under the FAQs section of this following document we see the below  [https://docs.microsoft.com/en-us/azure/virtual-machines/custom-data#:~:text=Can%20I%20update,new%20custom%20data.](url)

Can I update custom data after the VM has been created?
For single VMs, custom data in the VM model cannot be updated, but for VMSS, you can update VMSS custom data via REST API, Az CLI, or Az Pow

[2021-12-29 12:58] batamig commented on #85772
@yelevin - can you take a look at this one please? looks like I don't have permissions to re-assign

[2021-12-29 13:30] #55473 closed

[2021-12-29 13:40] memildin commented on #84383
@Josh-chadison-1, thanks for the feedback and for taking the time to help us improve the docs.

All the graphics on this page have been updated in a recent project. The changes should go live in the coming days.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-12-29 13:40] #84383 closed

[2021-12-29 13:49] shashishailaj commented on #81940
FYA [@Justinha](https://github.com/Justinha)

[2021-12-29 13:54] #60854 closed

[2021-12-29 13:54] shashishailaj commented on #60854
@tsharp hope the clarification helped. We will now close this issue. Should you still have any query, feel free to open a new issue tagging this one. 

[2021-12-29 14:02] shashishailaj commented on #80764
We have requested this internally with the content team.

[2021-12-29 14:02] #80764 closed

[2021-12-29 14:05] shashishailaj commented on #83552
@jmprieur Could you please help find the right person to assign this to ??

[2021-12-29 14:18] AshokPeddakotla-MSFT commented on #85803
.

[2021-12-29 14:59] yelevin commented on #85772
@JamesTran-MSFT @batamig I have reviewed the document and checked the instructions in the portal. According to the combination of the instructions in the portal and Barracuda's own instructions, it seems the closest data ingestion method is actually Syslog. The documentation referenced above is being updated to reflect this, and will include some more specific guidance.

@jorge-at123 Thanks for yo

[2021-12-29 15:01] gpltaylor commented on #35478
Still not possible from what I've observed using Linux Containers on App Services. A Service Plan can only have one attached Subnet. It's a One:2:One relationship.

However, the Portal, ARM Templates and docs all make out that you can have multiple :(

If you're unable to join and app to a subnet, it may be due to the hosting Service Plan having apps that connect to a different subnet, breaking th

[2021-12-29 15:02] shoter commented on #85803
How can it provide that guarantee when physical hard drive has limited space? If my messages have bigger size than disk size then this guarantee does not work.

You did not also mention what happens upon restart of the edge device.

[2021-12-29 15:36] #85799 closed

[2021-12-29 15:36] GitaraniSharma-MSFT commented on #85799
@diegodct , we've updated the doc with the Limits on VNet service endpoints for storage accounts as 200 and it will reflect shortly!

[2021-12-29 15:42] GitaraniSharma-MSFT commented on #85800
@johann-hackl-microsoft , We have assigned this to the content owner/author for for updating the doc accordingly.

@asudbring , could you please fix the links in both of the below expandable sections:

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-diagnostics#how-do-i-check-my-outbound-connection-statistics
https://docs.microsoft.com/en-us/azure/load-balancer/load-bal

[2021-12-29 15:55] Oppedijk opened #85807 "Encryption at rest and data flows unencrypted unclear"
The comparison table says that the "Data flows encrypted between Compute and Storage" is not applied with the first 2 examples ("Encryption at rest")

However does this mean that the storage service (which is an HTTPS service) is utilizing HTTP? which seems very strange?
There must be Transport level encryption being applied.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-12-29 16:04] ErnieBot opened #85809 "Azure Log Analytics REST API - Query limits documentation mismatch"
[Enter feedback here]
Dear,
The documentation  regarding the Query API maximum size on [this page](https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits)  references a value which is different from the value that can be seen when clicking on the ['Rate Limit' ](https://dev.loganalytics.io/documentation/Using-the-API/Limits) URL in the 'Maximum request rate' row in the same section.

[2021-12-29 16:07] ntesteca commented on #23652
Did you try it ? I'm facing the same problem. I tried to put my internal listener on port 8080 and 8443 and an internal load balancer with 80->8080 and 443->8443 rules. But unfortunately the target of a LB must be VM instance(s) and it doesn't seems to work when pointing the internal Application Gateway IP address

[2021-12-29 16:16] shashishailaj commented on #71312
#reassign:duongau

[2021-12-29 16:30] GeethaThatipatri-MSFT commented on #85607
Hi @kabharati can you please confirm if fix has been completed

[2021-12-29 16:32] GeoWizCloud commented on #34167
This is still a thing? I just went through this today to access my Microsoft account and it asked to send me a 2-step authentication code.

[2021-12-29 16:33] kabharati commented on #85607
Hi @GeethaThatipatri-MSFT - It appears the resources who needs to update it are currently on vacation (holidays) and it will be handled once they are back most likely next week. I will follow up and close this as soon as possible.

[2021-12-29 16:56] anthfuller opened #85811 "Tutorial failing at associating Azure firewall policy with a virtual hub"
[This tutorial fails, no matter what subscription is used, even the $150 MSDN subscription. The instructions here fail: Associate policy
Associate the firewall policy with the hub. From Firewall Manager, select Azure Firewall Policies. Select the check box for Policy-01 Select Manage associations/Associate hubs. Select hub-01. Select Add.]

---
#### Document Details

⚠ *Do not edit this section. I

[2021-12-29 17:01] cignul9 opened #85812 "A hot mess."
[Enter feedback here]

This document needs improvement.

Example:

"AKS service permissions
---
"When creating a cluster, AKS generates or modifies resources it needs (like VMs and NICs) to create and run the cluster on behalf of the user. This identity is distinct from the cluster's identity permission, which is created during cluster creation."

So ... there are two identities and they are both

[2021-12-29 17:12] reydra opened #85813 "Typo"
HI, Just wanted to say there's a typo under limitations:

"IP based backends an only be used for Standard Load Balancers"

I think should read:

"IP based backends can only be used for Standard Load Balancers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed6443fd-7d44-4afe-803e-78bd61b6aee9
* Version Independent ID:

[2021-12-29 17:21] GitaraniSharma-MSFT commented on #85813
@reydra , thank you for your feedback. We'll review this and update as appropriate!

[2021-12-29 17:22] GitaraniSharma-MSFT commented on #85811
@anthfuller , thank you for your feedback. We'll investigate and update as appropriate!

[2021-12-29 17:51] amir-avectous commented on #85682
this is the message from Microsoft support
"Thank you for your time during the remote session. We have found that the feature is not available for your account. Currently, it is only available for accounts that have been set up while working with a Microsoft representative. The Digital Sales team is charged of adding billing profiles. You can contact the team by chat, phone, or ticket (Contact Azu

[2021-12-29 18:03] DerekHerman-MSFT commented on #85796
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-29 18:04] DerekHerman-MSFT commented on #85797
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-29 18:07] JamesTran-MSFT commented on #85772
@yelevin
Thank you for looking into this!

@jorge-at123
Since the author will be updating the documentation, I'll go ahead and close out this issue.
Thank you for your time and patience!

[2021-12-29 18:07] #85772 closed

[2021-12-29 18:17] KranthiPakala-MSFT commented on #85804
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-12-29 18:26] #85813 closed

[2021-12-29 18:26] GitaraniSharma-MSFT commented on #85813
@reydra , we've updated the doc to correct the typo and it will reflect shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-29 18:40] jeffpatton1971 opened #85815 "Release Annotations not appearing in Application Insights"
I have setup the script per the article and am now able to successfully pass the payload (I had to comment out the -replace code). I have manually run a build twice, I can see the write's appearing in the Activity Log for my AI instance, but there is no discernible payload in those entries. Additionally I am not seeing any data appearing in Performance or Users or the Workbooks.

I have correlated

[2021-12-29 18:44] anthfuller commented on #85811
FYI
Found out the issue, the tutorial doesn't tell you to make sure standard is selected as the policy instead of premium, which is selected by default. Maybe state that as a **warning** or **note** some place. Thank you.

[2021-12-29 18:54] aromano-resurgent opened #85817 "Python MSAL IWA"
Walking through the docs I noticed that the python MSAL library does not currently support Integrated Windows Authentication. Are there any plans to add this in the future? It would be quite helpful for a number of my processes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a14460-d8c3-d8ed-7932-a9a234955e22
* Versi

[2021-12-29 18:56] DerekHerman-MSFT commented on #85701
@CorinaMAC Can you share which region and specific VM size you were seeing issue with? Also was redundancy being used?

[2021-12-29 18:58] JamesTran-MSFT commented on #85817
@aromano-resurgent
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-29 18:59] mkb13 commented on #84116
@John-HLC Did you solve this?  I was having a similar problem and found your posts while searching for a solution.  What I concluded was that MSAL (at least using the package as described in https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/standalone-with-azure-active-directory?view=aspnetcore-6.0 or similar) does not work with Blazor WASM + Azure SWA.  I'm just using the S

[2021-12-29 19:06] jeffpatton1971 commented on #85815
Update, I have created a new AI instance and changed the APIkey inside the script to the latest 2020-02-02-preview and while I still see the activity logs, there is nothing showing up in the performance section of the new AI.

[2021-12-29 19:14] vmonge opened #85818 "VMSS SecurityBaseline - Vulnerability Management recommending unsupported SecurityRecommendation"
[Enter feedback here]

This documentation states that  VMSS are not supported by Qualys built-in VA,
Supportability Matrix:
https://docs.microsoft.com/en-us/azure/defender-for-cloud/supported-machines-endpoint-solutions-clouds?tabs=features-windows#supported-features-for-virtual-machines-and-servers-

**Yet** VMSS Security Baseline recommendation offers Microsoft Defender for Cloud , when we know

[2021-12-29 19:56] nswitanek opened #85820 "NER overview page Next Steps section mistakenly refers to NER as entity linking service"
In the Next Steps section of this page, "entity linking" is referenced as though the page were about the entity linking service and not about NER.

"""
Next steps
There are two ways to get started using the entity linking feature:
"""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe556b84-8429-ced1-e5fb-f9f567e72b3b
*

[2021-12-29 20:16] msangapu-msft commented on #40724
#please-close

[2021-12-29 20:16] #40724 closed

[2021-12-29 20:47] jmprieur commented on #83552
This would be Didun Ayodejim @shashishailaj

[2021-12-29 20:50] Sabhagat-MS opened #85821 "Missing Steps to generate the client secret for the Client ID registered in ADFS."
In the Document https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs?pivots=b2c-user-flow#configure-ad-fs-as-an-identity-provider.

After step 8 (for For Client ID, enter the application ID that you previously recorded.) there is no step on how to generate the client  secret for the Client ID registered in ADFS.

Note : Client secret is a mandatory field to update whi

[2021-12-29 21:01] DeanGross opened #85822 "Incorrect instructions"
In Step 2, When I view the Data Management section, I don't see  "select Enable access tracking", the instructions need to be updated to include something like, "on the Lifecycle Management page, select "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 171a0dc0-35ad-be69-023c-4943195c0d7f
* Version Independent ID: 0699b

[2021-12-29 21:15] jeffpatton1971 commented on #85815
While the annotations are not appearing in the Portal UI, they do in fact show up via API call to the management interface, so the annotations are getting there just not viewable via the portal. Ideally it would be beneficial if they were viewable via the portal.

[2021-12-29 21:17] #85604 closed

[2021-12-29 21:21] msangapu-msft commented on #84254
Hi @justinpenguin45 - you may have figured out by now that there's indeed multiple containers. The app and Redis. Hope that helps. https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app#add-redis-container

[2021-12-29 21:23] msangapu-msft commented on #84254
#please-close

[2021-12-29 21:23] #84254 closed

[2021-12-29 21:26] JamesTran-MSFT commented on #85821
@Sabhagat-MS
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-29 21:31] JimacoMS4 commented on #73556
#assign:rboucher

[2021-12-29 21:32] JimacoMS4 commented on #73556
#assign:xujing-ms

[2021-12-29 21:36] msangapu-msft commented on #83086
We've made the update: https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#what-if-i-have-multiple-apps-on-the-same-app-service-plan

#please-close

[2021-12-29 21:36] #83086 closed

[2021-12-29 21:38] SvenAelterman commented on #23652
You're right, that's my mistake. It's not possible to use a load balancer. However, you can add a second Application Gateway instance to achieve the desired results (again, as a workaround).

[2021-12-29 21:57] maliksahil commented on #85817
@rayluo

[2021-12-29 22:14] ekpgh opened #85823 "Some unnecessary commas"
Very useful document overall, but my copy-editor brain noticed a few sentences that use commas inappropriately.

These sentences should not have commas, because the second phrase is a dependent clause and can't be separated from the subject of the first phrase. (*Independent* clauses have their own subjects.):
- "Storage account owners can manage consent requests and the private endpoints, through

[2021-12-29 22:48] nswitanek opened #85824 "Language Studio custom NER quickstart sample use case inconsistent"
The quickstart documentation uses loan agreements as the sample data, but the text refers to support tickets.

"""
Your model will learn from the example data, and be able to classify technical support tickets afterwards.
"""

Resolve by making sure the page consistently refers to the loan agreement NER use case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-12-29 22:50] YutongTie-MSFT commented on #85820
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 01:02] minnmax opened #85825 "Content might be outdated"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/route-server/troubleshoot-route-server#why-can-i-ping-from-my-nva-to-the-bgp-peer-ip-on-azure-route-server-but-after-i-set-up-the-bgp-peering-between-them-i-cant-ping-the-same-ip-anymore-or-why-is-the-bgp-peering-flapping

This section suggest we can ping RS instance IP.  Tested RS don't respond to ICMP and TCP ping.

---
#### Document D

[2021-12-30 02:25] SamaraSoucy-MSFT commented on #85750
I have assigned the issue to the doc author to update appropriately.

[2021-12-30 02:36] YutongTie-MSFT commented on #85824
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 02:40] SumanthMarigowda commented on #85823
@ekpgh
Thanks for your question. We are checking on this and will respond to you soon.

[2021-12-30 02:41] SumanthMarigowda commented on #85822
@DeanGross Thanks for your question. We are checking on this and will respond to you soon.

[2021-12-30 02:43] AshokPeddakotla-MSFT commented on #85807
@Oppedijk Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 02:44] DerekHerman-MSFT commented on #85809
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 02:50] AshokPeddakotla-MSFT commented on #85825
@minnmax Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-30 02:58] AshokPeddakotla-MSFT commented on #85812
@cignul9 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 03:04] shekhar-jha opened #85831 "Multi-tenant considerations"
Would it be appropriate to add note with reference to license option for external user as defined [here](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/multi-tenant-common-considerations#licensing-considerations-for-guest-users-in-teams) for additional context.

![image](https://user-images.githubusercontent.com/1870713/147291391-74661970-0ccc-46fa-bba7-22df3e24824d.png)

---

[2021-12-30 03:06] shekhar-jha opened #85832 "Incorrect link"
Incorrect link below.
![image](https://user-images.githubusercontent.com/1870713/147718398-d24e4b5e-929b-4889-a643-81300361bf41.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e63fbf2-8107-91fa-ea13-d63b4000bab6
* Version Independent ID: 2d10442b-0dd4-78b5-51a8-f182ee1ffdf1
* Content: [Plan My Apps configuration -

[2021-12-30 03:28] dcstwh commented on #82631
Do invite the authors from that page referenced to submit a PR. We will review and incorporate as relevant.

[2021-12-30 03:28] dcstwh commented on #82631
#please-close

[2021-12-30 03:28] #82631 closed

[2021-12-30 03:30] dcstwh commented on #83324
Please do not share customer info on a Github issue, and work with the relevant account team to send the engineering team an email. We will advise the relevant docs accordingly. Thank you.

[2021-12-30 03:30] dcstwh commented on #83324
#please-close

[2021-12-30 03:30] #83324 closed

[2021-12-30 03:31] dcstwh commented on #84630
ADF v1 is being deprecated.
Please use ADF v2 instead. Thank you.

[2021-12-30 03:31] dcstwh commented on #84630
#please-close

[2021-12-30 03:31] #84630 closed

[2021-12-30 03:36] BennyHarding opened #85833 "Disabled public endpoint still accepts telnet connection"
When customers have disabled the public endpoint for Azure SQL DB, they can still receive a response when conducting penetration testing.
For example, using telnet to connect to telnet xyz.database.windows.net 1433 it 'connects' to the gateway.
Could this article document this behavior? Something like:
'Even when the Public Endpoint has been disabled, the gateway will continue to respond on port 1

[2021-12-30 04:45] LingYi-Wu opened #85834 "Microsoft.SaaS resource type is saasresources or resources?"
Hello Team,

Please help confirm whether the resource type of Microsoft.SaaS is "saasresources" or "resources".
I checked my sendgrid account, the resource ID is like this:
/subscriptions/xxx/resourceGroups/xxx/providers/**Microsoft.SaaS/resources**/Free100

![image](https://user-images.githubusercontent.com/68689033/147722340-22d6e6cc-3c88-4d31-919b-b71804881baf.png)

Thank you!

Regards,
Tina
--

[2021-12-30 04:50] shashishailaj commented on #85832
@shekhar-jha Thank you for pointing that out. We will investigate and update the thread.

[2021-12-30 04:52] shashishailaj commented on #85831
@shekhar-jha Thank you for your query . We will investigate and update the thread.

[2021-12-30 05:03] shashishailaj commented on #85832
@shekhar-jha We have initiated a pull request for changes and this will be fixed in the next release update.

[2021-12-30 05:03] #85832 closed

[2021-12-30 05:11] lissff opened #85835 "any limitation on enable add-on from portal?"
we cannot find the AG from the portal dropdown list, but if we are using the command line, it is working fine:
**az aks enable-addons -n .. -g ..-a ingress-appgw --appgw-id $appgwId**

is that because AG has to be in the same subscription as AKS if we want to use the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-12-30 05:13] SaiKishor-MSFT commented on #85835
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 05:32] AnuragSharma-MSFT commented on #85833
@BennyHarding Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-30 05:36] #85741 closed

[2021-12-30 05:58] abubakerbaig commented on #63586
I have the same error... how can I solve it. Please help

[2021-12-30 06:02] AshokPeddakotla-MSFT commented on #85815
@jeffpatton1971 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 06:04] AshokPeddakotla-MSFT commented on #85818
@vmonge Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 07:00] SadiqhAhmed-MSFT commented on #85834
@LingYi-Wu Thank you for your post. Does this answer your question? - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftsaas

[2021-12-30 07:00] ehsnipe opened #85836 "How to document my azure functions?"
[Enter feedback here]
I do not see any information on how to document my Azure function so that me and my colleagues can see the information when viewing a function in the portal.
Thanks
Per

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aff040c-9c09-c184-d0e7-fb3bbb80ceec
* Version Independent ID: 68d924e7-7b32-fb1b-

[2021-12-30 07:45] SumanthMarigowda commented on #85637
@oising  ![defender](https://user-images.githubusercontent.com/80444138/147730649-30577c78-414d-4dbb-a117-1f781818a794.gif)

If you have enable the Microsoft Defender at subscription level than disabling for individual storage account won't work

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2021-12-30 07:45] #85637 closed

[2021-12-30 07:48] imeya opened #85837 "questions about "2 function apps share the same consumption plan"."
in this document [Event-driven scaling in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/event-driven-scaling), it mentions that "Function apps that share the same Consumption plan scale independently. ".

I have 2 questions about if 2 function apps share the same consumption plan:
1. will the 2 function apps run in a same vm instance? or in each vm instance in consumption

[2021-12-30 07:54] jboysen opened #85838 "Collection frequency 10 seconds instead of 60 seconds"
The documentation states this:

Since October 29, all of our Linux App Services has collected these every 10 seconds, e.g.:

<img width="805" alt="Skærmbillede 2021-12-29 kl  20 16 55" src="https://user-images.githubusercontent.com/935849/147732192-cc503292-0247-412d-b303-d8e6c82559f8.png">

Is this a recent change, or a bug? It has had a significant impact on our Azure bill, as we were using Appl

[2021-12-30 07:57] technion commented on #81940
@shashishailaj  That person was tagged on this issue quite a few times since May 7. I don't believe another FYI to him is the solution - does Microsoft's official documentation rely on one person?

[2021-12-30 08:13] SumanthMarigowda commented on #85790
@lorne-olo I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there( Share the screenshot and complete details of the issue). We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion

[2021-12-30 08:13] #85790 closed

[2021-12-30 08:14] SwathiDhanwada-MSFT commented on #85641
Assigning to content author @SGSneha for doc-enhancement

[2021-12-30 08:18] SumanthMarigowda commented on #85822
@DeanGross The PR request has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-30 08:18] #85822 closed

[2021-12-30 08:19] SumanthMarigowda commented on #85823
@ekpgh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-30 08:20] im-subash opened #85839 "Unable to create Map events."
Unable to create Map events.

I have an active Azure account..
I created the following
Azure Maps Account
Storage Account
A Resource Group
Logic Apps and soo

Log messages given by the failure : -
{
"status": "Failed",
"error code": "InvalidRequest",
"message": "System topic's location must match with location of the source resource /subscriptions/1111111111111111111111/resourceGroups/FencingResou

[2021-12-30 08:21] SumanthMarigowda commented on #78863
@TiloGit Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your re

[2021-12-30 08:21] #78863 closed

[2021-12-30 08:22] SumanthMarigowda commented on #44973
@[mhopkins-msft](https://github.com/mhopkins-msft) Please add your comments here

[2021-12-30 08:33] GitaraniSharma-MSFT commented on #85811
@anthfuller , We have assigned this to the content owner/author for review.

@vhorne , the [firewall policy creation](https://docs.microsoft.com/en-us/azure/firewall-manager/secure-cloud-network#create-a-firewall-policy-and-secure-your-hub) steps do not include the policy tier and doesn't mention which policy tier to select in this tutorial. Could you please update the doc to include this informat

[2021-12-30 08:38] #85509 closed

[2021-12-30 09:11] mcurko commented on #63918
Still not resolved.

[2021-12-30 09:22] romanzdk commented on #85739
Same result

[2021-12-30 09:22] AshokPeddakotla-MSFT commented on #85839
@im-subash Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 09:53] PriyankaRudramaina commented on #85812
Hi @cignul9,

Thank you for the feedback! I have assigned the issue to the content author to review the content of the document further and update the document as appropriate.

[2021-12-30 10:17] im-subash commented on #85839
Adding to this,
I am able to create events for all other things like for storage, resource group etc... but not for maps..
in my subscription I can see Resource provider - Microsoft maps has been subscribed.

[2021-12-30 10:31] #85820 closed

[2021-12-30 10:33] YutongTie-MSFT commented on #85820
Thanks for the feedback again, I have updated the document. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-12-30 10:49] SwathiDhanwada-MSFT commented on #85838
@jboysen Thanks for your comment. We are actively investigating and will get back to you shortly.

[2021-12-30 10:53] #85824 closed

[2021-12-30 11:00] akshaymatmicrosoft commented on #85704
Is there any update on this request?

[2021-12-30 11:19] gintautassulskus commented on #36849
What does `"reserved": true` mean? I could not find a description of this parameter. I'd assume a 1 or 3-year reserved instance, but it does not make sense here.

[2021-12-30 11:24] helipilot50 opened #85840 "Spelling error"
The return value from this command is a JSON payload, which includes the service principal's tenantId, **_cliendId_**, and clientSecret.

should this be **_clientId_**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd35737d-566a-1a5c-6b0b-c9fbc2cd4ed8
* Version Independent ID: fae96436-9730-460b-8c8e-9064a02cd970
* Con

[2021-12-30 11:37] himu243 opened #85841 "Doesn't contain documentation about how to receive FCM notifications in Android Platform when in Background and Terminated App State"
Provide documentation about how to receive FCM notifications in Android Platform when in Background and Terminated App State

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd4915d-64a9-b703-f139-91338412825a
* Version Independent ID: e731d0e6-e063-d209-7faf-82db773e5d30
* Content: [Send push notifications to Android u

[2021-12-30 11:50] lakshmantgld opened #85842 "Microsoft 365 group can only have users - fact check"
Under **Turn on or off welcome email** section

["When a new Microsoft 365 group is created, a welcome email notification is sent the users who are added to the group. Later, if any attributes of a user or device change, all dynamic group rules in the organization are processed for membership changes. "]

I think we can only add users to Microsoft 365 group, not devices, but in the doc it says bot

[2021-12-30 12:08] imwenyz commented on #36849
@gintautassulskus Linux is required for Python runtime.

https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/serverfarms?tabs=bicep#appserviceplanproperties-object

[2021-12-30 12:34] TMASoft commented on #85791
"Custom Data" is not a generic term. It's the field in the GUI or option on the command line that on Linux gets processed by cloud-init.

For example:
az vmss create -g MyResourceGroup -n MyVmss --image debian --custom-data MyCloudInitScript.yml

You can see here that the "--custom-data" is contained in a yml file to be processed by each instance when they are launched from the scale set. This exa

[2021-12-30 13:18] kim0 commented on #85791
Thanks @TMASoft .. This is exactly correct. Awaiting this to be fixed.

[2021-12-30 13:50] gintautassulskus commented on #36849
@imwenyz, I understand that we need to set the parameter to use the Linux app service. What I do not understand, is the semantics of this parameter. What does it mean? What does it do? This is an API usability issue if the client is expected to set a "magic" parameter that no one understands the meaning of.

[2021-12-30 14:10] ibarrien opened #85844 "Examples request"
Excellent page to get started!

A simple end-to-end example where a python package, e.g. my_utils.py + __ init __.py, is created and then built as a workspace library.  Even better if there's a way to run a single command analogous to $ python setup.py install (assuming setup.py contains packages like my_utils).  For more details on common setup.py examples, see this [standard documentation](https

[2021-12-30 14:41] shashishailaj commented on #85842
@lakshmantgld Thank you for your query . We will investigate and update the thread.

[2021-12-30 16:01] msangapu-msft commented on #47551
Hi @Ayanmullick, sorry for the delay. This is the first time I've seen such a request. Are you still looking for the PS steps? Which steps are you wanting in PS?

[2021-12-30 16:21] msangapu-msft commented on #51639
Hi @yejiyang Are you still having this issue? The tutorial you linked was updated recently: https://docs.microsoft.com/en-us/azure/developer/javascript/tutorial/deploy-nodejs-azure-app-service-with-visual-studio-code?tabs=bash

If you're still having issues, which steps do you need help with?

[2021-12-30 16:26] msangapu-msft commented on #62050
Hi @jeffputz You're correct that App Service was created in a way that both Windows and Linux are as similar as possible. However, this difference in static files remains. Custom containers is the best way forward if you're wanting this on Linux.

[2021-12-30 16:31] msangapu-msft commented on #75296
#please-close

[2021-12-30 16:31] #75296 closed

[2021-12-30 16:32] ssivas commented on #80463
Nudge will prompt you on sign-in to setup the Authenticator App if you have not done so already.

It will keep prompting you each X days and will keep doing so until you have registered the Authenticator App for your account. Once you have walked through these steps the primary authentication method is automatically change to the authenticator app.

NOTE: If you have already setup the Authenticato

[2021-12-30 16:32] #80463 closed

[2021-12-30 16:40] jamesryanmoat opened #85846 "Update to support Jira 8.20.X and join groups"
It looks like this Jira (Confluence as well) plugin does not support anything above 8.17. Will there be an update for the latest Jira releases? Also, when logging in via LDAP, the user gets added to a default group "jira-users", using the SSO plugin, it ignores that and the users don't get added to the group. I see other SSO market place plugins will do that for Jira, is this going to be planned i

[2021-12-30 16:49] Ayanmullick commented on #47551
All the steps in the document below in PS instead of CLI, @msangapu-msft.

https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-linux

[2021-12-30 16:54] ChrisMeeusen commented on #56868
We're interested in recommended best practices here too.  We have a fairly significant mongodb in cosmosdb and would be looking to listen and replicate a collection to a few differently sharded collections.  This seems like the perfect tool but how do you recommend parrallizing the change stream consumer?

The article here[MSDN](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/custom-comma

[2021-12-30 16:59] BhargaviAnnadevara-MSFT commented on #85840
@helipilot50 Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-12-30 16:59] #85840 closed

[2021-12-30 16:59] GeethaThatipatri-MSFT commented on #85607
Thanks, @kabharati for checking

[2021-12-30 17:01] msangapu-msft commented on #47551
Unfortunately we don't have a PS-equivalent steps I'll inform our engineering partners of this request, but this is the first time I'm seeing such a request (i.e. it's not a popular one).

There's PS steps here to get you started. Have you already seen this? https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-powershell

[2021-12-30 17:02] tfitzmac commented on #85834
@LingYi-Wu - thanks for this question. I have added Microsoft.Saas/resources to the move support article. It looks like it supports move across resource groups and subscriptions; however, I don't know if that provides the full answer for SendGrid. Are there other SendGrid resources connected to the SaaS resource?

[2021-12-30 17:03] tfitzmac commented on #85620
@ohadschn - I am looking into the issue of storage accounts and why the definitions seem inconsistent.

[2021-12-30 17:11] BhargaviAnnadevara-MSFT commented on #85841
@himu243 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-30 17:16] msangapu-msft commented on #62050
#please-close

[2021-12-30 17:16] #62050 closed

[2021-12-30 17:21] DerekHerman-MSFT commented on #85836
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 17:22] DerekHerman-MSFT commented on #85837
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-30 17:48] Ayanmullick commented on #47551
I have. That is for ACR. Are there PS steps to get started with **containers** in an **AzWebApp**?

[2021-12-30 18:10] MartinJaffer-MSFT commented on #85844
Thank you for the feedback.  I have assigned this to content owner for review.

[2021-12-30 18:37] YutongTie-MSFT commented on #85770
@fauberon Thanks for the feedback, I have created a PR to update the document.

[2021-12-30 18:45] AlanyTan opened #85847 "Type in the VMSS support section step 2"
There is a typo in the instruction of step 2 under vmss support section.

the code sample snipet provided reads "az vmss extension set --publisher Microsoft.Azure.ActiveDirectory --name Azure ADSSHLoginForLinux --resource-group AzureADLinuxVM --vmss-name myVMSS"

It will result in error "unrecognized arguments: ADSSHLoginForLinux".

The correct snipet should be "az vmss extension set --publisher M

[2021-12-30 19:02] maliksahil commented on #85817
#assign @rayluo

[2021-12-30 19:23] SaurabhSharma-MSFT commented on #85804
@rosthain Master database is selected from "Use Database" dropdown as shown below.
![image](https://user-images.githubusercontent.com/38112130/147782087-3e44a80d-4a00-48fd-bf4d-f3a3082a0f7d.png)
Once selected you can run the exploration db sql script as mentioned in the documentation.

Thanks
Saurabh

[2021-12-30 19:35] Nickomang commented on #80249
@karataliu, The article still concerns creating an SSH connection with an AKS node, so the title and content are appropriate. The command `kubectl debug` uses SSH to create the connection.

#please-close

[2021-12-30 19:35] #80249 closed

[2021-12-30 19:38] DerekHerman-MSFT commented on #85846
In order to route your issue to the proper team please provide the documenation URL you wish to leave feedback for. For future issues please submit the feedback by using the button on the bottom of the documentation page.
![image](https://user-images.githubusercontent.com/65573242/147783057-65f0367d-3854-4104-9712-fcde5cd96568.png)

[2021-12-30 19:39] jamesryanmoat commented on #85846
Hi Derek,

It seems like it didn’t leave it on the correct page. I was leaving feedback for the Jira SSO plugin:

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial#feedback

Ryan Moat
Corporate System Engineer

[cid:gcr-22_8995282d-77e8-4513-a6fa-d2892da50221.png]<https://www.octanner.com/global-culture-report/2022/executive-summary.html?utm_source=oct-email&

[2021-12-30 19:51] joataid opened #85849 "Multi-homing support for Update Management"
The part below in the document causes double interpretation.

`Having a machine registered for Update Management in more than one Log Analytics workspace (also referred to as multihoming) isn't supported.`

**Interpretation 1:**
A machine registered to 1 workspace with Update Management enabled cannot register to another workspace that is also using Update Management.

**Interpretation 2**:
A mach

[2021-12-30 19:55] #85788 closed

[2021-12-30 20:27] ataid opened #85851 "Static IPv4 addresses in VPN Gateways"
The docs says you can only use Static IPv4 when using SKUs with AZs.

In Azure Portal, when creating a VPN Gateway with a SKU without AZs (VpnGw1, for example) I could select a Static IPv4 address, as below.

![image](https://user-images.githubusercontent.com/90804339/147785936-0d50a624-b7e2-4a78-99bb-0aacfabc376a.png)

Is the document up to date?

---
#### Document Details

⚠ *Do not edit this se

[2021-12-30 21:24] DerekHerman-MSFT commented on #85846
Thanks for providing that! We are currently investigating and will update you shortly.

[2021-12-30 21:48] JamesTran-MSFT commented on #85847
@AlanyTan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-30 21:49] tamram commented on #85600
@normesta FYI

[2021-12-30 21:54] JamesTran-MSFT commented on #85847
@AlanyTan
Thank you for pointing this out!

I noticed the VM CLI command that is used below the one you pointed out, has the correct extension name. I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/147790312-cc841e1d-579e-4696-bd67-4b7cc09dba64.png)

I will now close out this

[2021-12-30 21:54] #85847 closed

[2021-12-30 22:08] jeffputz commented on #62050
A custom container seems like overkill, but regardless, the documentation should then say that's what you have to do. The whole point of this 16-month-old issue was to updated the doc to explain what the right thing to do is. Describing it here in the issue doesn't help the reader of the documentation.

[2021-12-30 22:15] msangapu-msft commented on #62050
I agree it's overkill, but it's the only solution for App Service on Linux apps. Btw, there's also another service called Static Web Apps that might be of help (https://docs.microsoft.com/en-us/azure/static-web-apps/overview). Thank you for the feedback and we'll considering updating the doc w/ this info on the next revision.

[2021-12-30 22:24] SinisterChinaPenguin opened #85853 "Copy into fails with 401"
Hey - I can't run the copy into for the taxi data, I get this error:

Not able to validate external location because The remote server returned an error: (401) Unauthorized.

Is there an earlier step to set up a user? I couldn't seen anything in the pre-reqs.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da98

[2021-12-30 22:24] Fleid commented on #81247
Hey @Davidswinkels,

We just released the [version 2.2.4](https://www.npmjs.com/package/azure-streamanalytics-cicd) of the cicd package. With that version, we're switching the comparison model from row by row to an object based one. You shouldn't encounter those random errors anymore.

I'm closing the issue, but please let us know how it goes ;)

#please-close

[2021-12-30 22:24] #81247 closed

[2021-12-30 22:35] SinisterChinaPenguin commented on #85853
OK - I worked it out from this page, https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#place-sample-data-into-the-primary-storage-account

[2021-12-30 22:48] Nickomang commented on #80372
@chalcrow, Thanks for the contribution. This article (and others where the same helm chart is used) have been updated to pin the command to a known working version.

#please-close

[2021-12-30 22:48] #80372 closed

[2021-12-30 22:48] Nickomang commented on #80304
@tdihp, Thanks for the contribution. This article (and others where the same helm chart is used) have been updated to pin the command to a known working version.

#please-close

[2021-12-30 22:48] #80304 closed

[2021-12-30 23:35] ohadschn commented on #85620
@tfitzmac thank you, could you please reopen the issue until it's sorted though?

[2021-12-30 23:35] #80266 closed

[2021-12-30 23:44] michaeldevenney opened #85854 "How should the AZ CLI script for importing the Helm images be run"
I tried running those commands in PowerShell and get errors all over the place.  I then figured I'd put them into a powershell script file and run that.  Still no dice.  What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf9c2f3-caeb-0fb1-f089-3f7ca4fad729
* Version Independent ID: 929253d7-c763-6429-56

[2021-12-31 00:26] hyoshioka0128 commented on #61917
@PaulCornellDB  - Thanks.
Closed #61917 .

[2021-12-31 00:26] #61917 closed

[2021-12-31 00:28] hyoshioka0128 commented on #61918
@mdlinville - Thanks.
Closed #61918 .

[2021-12-31 00:28] #61918 closed

[2021-12-31 01:01] trevonmckay opened #85855 "C# Sample not working as documented"
The provided C# sample results in the following AAD error "AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: '55747057-9b5d-4bd4-b387-abf52a8bd489'."
![image](https://user-images.githubusercontent.com/18320804/147797113-c02098b1-ed35-45eb-b7a8-cccbc762d712.png)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-12-31 01:26] oising commented on #85637
Thank you @SumanthMarigowda  - it seems we are running Defender at the Subscription level. How can we downgrade back to individual account control?

[2021-12-31 03:33] SubhashVasarapu-MSFT commented on #85851
@jorge-ataide , Thanks for reaching out. We will investigate and update this thread.

[2021-12-31 03:40] CHEEKATLAPRADEEP-MSFT commented on #85853
@SinisterChinaPenguin  Glad to know your issue has resolved.

It already mentioned in the document as" Make sure you have placed the sample data into the primary storage account".

![image](https://user-images.githubusercontent.com/79183421/147801874-7e51bb42-2c50-414b-ae63-b60633f50f89.png)

[2021-12-31 03:40] #85853 closed

[2021-12-31 04:35] AnuragSharma-MSFT commented on #85607
@adoelger This will be closed at the earliest by making appropriate changes.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-31 04:35] #85607 closed

[2021-12-31 05:47] SwathiDhanwada-MSFT commented on #85849
@jorge-ataide Thanks for your feedback.

Assigning to content author @SGSneha   for review.

[2021-12-31 05:49] shashishailaj commented on #83552
@jhyot We will be closing this for now and reaching out to the right team and tracking this internally . On account of holidays this may take some more time to get rectified.

Thank you .

[2021-12-31 05:49] #83552 closed

[2021-12-31 06:11] SwathiDhanwada-MSFT commented on #85657
@santo2 Kindly go through the articles that I have provided and do revert if you have questions. As there are no documentation changes, We will close the issue for now.

[2021-12-31 06:11] #85657 closed

[2021-12-31 06:12] SwathiDhanwada-MSFT commented on #85766
@cloudchristoph Did you get chance to review my previous comment ? Kindly revert if you have further questions.

[2021-12-31 06:42] MughundhanRaveendran-MSFT commented on #85836
@ehsnipe , Currently there is no such feature that would provide a description. However you can add a readme file in the folder structure of your source code, so that it can be viewed from the Kudu site of the function app.

![image](https://user-images.githubusercontent.com/56299140/147807920-accb3f75-58d5-4734-b282-cef925efc78e.png)

![image](https://user-images.githubusercontent.com/56299140/14

[2021-12-31 06:48] shashishailaj commented on #85842
@lakshmantgld The description is not specifically in context to Microsoft 365 groups and its rather about what happens when there is attribute change for any kind of objects. However we have added a small clarification within the section itself about the devices that they are only considered in case of security groups.

[2021-12-31 06:50] mukul-p opened #85858 "Additional Resource link"
[Enter feedback here]
Please add this link - https://www.youtube.com/watch?v=DEzW2D-tshM&ab_channel=AzureCosmosDB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID: 86ccb46e-5ebd-50a4-a911-2ac83c8a41f4
* Content: [Configure role-based access control for your Az

[2021-12-31 06:57] #85842 closed

[2021-12-31 07:23] life-is-beautiful opened #85860 "Case Sensitive Path ("HttpExample") in golang"
The part [Run Function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other?tabs=go%2Cmacos#run-the-function-in-azure) generates an invoke_url_template path in Azure Function in lowered case format ("/api/httpexample") instead of ("/api/HttpExample") causing wrong path when `Execute Function Now`.

Suggestion to change the example golang code to bind

[2021-12-31 07:48] PriyankaRudramaina commented on #85818
@vmonge Thank you for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-31 08:37] AnuragSharma-MSFT commented on #85858
@mukul-p Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-31 08:37] PriyankaRudramaina commented on #85791
@kim0 and @TMASoft, Thank you for pointing this out. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-31 08:39] ssivas commented on #85855
@trevonmckay, Thank you for your feedback . We will investigate and update the thread.

[2021-12-31 08:59] Sabhagat-MS opened #85861 "ADFS claims provider xml - Update"
In the Configure an AD FS relying party trust, Step 12 it is suggested to change the Secure hash algorithm to SHA-256. If we follow the article to add AD FS as a SAML identity provider using custom policies, we get the below exception :
**Error: server_error
AADB2C: An exception has occurred.**

The above issue will not be resolved unless :

This document should be updated for the same to avoid co

[2021-12-31 09:34] KaranRami commented on #65143
I am still facing the same error, after following docs. All configuration looks as needed. Any suggestion to resolve the error?

[2021-12-31 09:44] sijucm opened #85862 "Abstract documentation that does not make any sense"
This page is too abstract and too vague and not useful at all. I hope Microsoft shows these pages to someone who does not know the complexity created inside Microsoft. First of all calling all this as SQL is really tragic. Next, the whole documentation does not make any sense.

Only a few examples:

<< What does that mean in our universe?

<< What does that mean? What is a cross-product? I mean, d

[2021-12-31 09:58] Karishma-Tiwari-MSFT commented on #85749
This information is available here in this document : https://docs.microsoft.com/en-us/azure/key-vault/keys/about-keys#key-types-and-protection-methods

![image](https://user-images.githubusercontent.com/20851144/147816562-4fb7fe44-498e-4361-a331-be330bdb8d8e.png)

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please

[2021-12-31 09:58] #85749 closed

[2021-12-31 10:24] Sabhagat-MS opened #85863 "AADB2C90168 due to SamlResponseSignature"
If we follow the article to add AD FS as a SAML identity provider using custom policies, While authentication we get the below error :
AADB2C90168: The HTTP-Redirect request does not contain the required parameter 'Signature' for a signed request.

Since Azure B2C is expecting both the message and the assertion to be signed. By default, ADFS only signs the Assertion. So we have 2 options :

A. Run

[2021-12-31 10:25] devudu opened #85864 "Can't connect Power BI anymore"
[Link your Azure Synapse workspace to your new Power BI workspace](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-visualize-power-bi#link-your-azure-synapse-workspace-to-your-new-power-bi-workspace)
Step#2 Select New > Connect to Power BI.
This is invalid or not available anymore in synapse studio.

And also other steps involving Power BI (ex: Synapse studio->Develop->power b

[2021-12-31 11:24] shashishailaj commented on #85861
@Sabhagat-MS Thank you for your feedback . We will investigate and update the thread.

[2021-12-31 11:25] shashishailaj commented on #85863
@Sabhagat-MS Thank you for your feedback . We will investigate and update the thread.

[2021-12-31 11:26] shashishailaj commented on #85854
@michaeldevenney Thank you for your query . We will investigate and update the thread.

[2021-12-31 11:37] shashishailaj commented on #85831
@shekhar-jha Thank you for your feedback . We checked this internally and found that this article specifically talks about Azure AD based licensing and the licenses you have mentioned are Office 365 related licenses and hence we believe that linking or adding a note for those two may not be the best thing as both refer to different types of licenses and the other article describes it properly .

[2021-12-31 11:37] #85831 closed

[2021-12-31 12:35] AnuragSharma-MSFT commented on #85862
@sijucm Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-31 13:33] scott1138 commented on #85749
@Karishma-Tiwari-MSFT The doc you linked explains what key vault supports.  It doesn't explain how we can use those key types with the encryption extension.  Using the extension as documented in the article I referenced, a secret is created, not a key.  The only options listed are 'RSA-OAEP', 'RSA-OAEP-256',  and 'RSA1_5'.  I don't even know how those correlate to the supported keys.  When ADE is

[2021-12-31 13:41] ssivas commented on #85855
@trevonmckay,  Could you enable verbose and decode your code to verify if following ReplyAddressValue "https://login.microsoftonline.com/common/oauth2/nativeclient" being generated by `PublicClientApplicationBuilder.WithDefaultRedirectUri` Method? because this must be value used as `redirect_uri` during authentication.

![image](https://user-images.githubusercontent.com/57458999/147826162-f1272dc7

[2021-12-31 14:16] AshokPeddakotla-MSFT commented on #85739
@romanzdk I would suggest you upgrade CLI to latest version and try the command.
I just tried the command and it is showing the desired results. Please see below.

<img width="415" alt="image" src="https://user-images.githubusercontent.com/44426435/147827615-21443d5e-b1a6-42df-9b2b-6938857dc2f3.png">

<img width="589" alt="image" src="https://user-images.githubusercontent.com/44426435/147827621-d6

[2021-12-31 14:18] AshokPeddakotla-MSFT commented on #85739
@rloutlaw Could you please look into this feedback and update the doc appropriately with new command list.

[2021-12-31 14:18] shashishailaj commented on #82933
@Mike-Crowley At this point this is exposed via the beta endpoint of Microsoft Graph API however we have reached out to the content team and placed a request with them for the same. They will review the request and update the documentation accordingly .

[2021-12-31 14:18] #82933 closed

[2021-12-31 15:02] jorge-ataide opened #85865 "Static IPv4 support for VPN Gateways"
The part below in the document says **only** Dynamic IPv4 addresses are supported for gateway SKUs that do not have AZ in the name.

`For non-zone-redundant and non-zonal gateways (gateway SKUs that do not have AZ in the name), only dynamic IP address assignment is supported. `

It looks outdated as you can now create non-AZ gateways with Standard Public IP with **Static** IP configuration, as bel

[2021-12-31 18:22] SubhashVasarapu-MSFT commented on #85865
@jorge-ataide , Appreciate your feedback. We are looking in this issue. Closing this thread as it is a duplicate of #85851

[2021-12-31 18:22] #85865 closed

[2021-12-31 18:42] DerekHerman-MSFT commented on #85860
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-31 18:54] DerekHerman-MSFT commented on #85864
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-31 19:26] cregnier commented on #85350
Sure - case # is DFM 2112140040007209 and the other engineer on my team has quite a bit of insight into this siuation.  His name is Naggapan (alias is internal within the case notes).

[2021-12-31 20:34] cherchyk opened #85869 "step 6 review suggestion"
[Enter feedback here]

step#6 is confusing to me since I never used openssl.

the first command `openssl rand -hex 16 > ../rootca/db/serial`
we execute in the rootca folder - NO ISSUES HERE

second command `openssl req -new -config subca.conf -out subca.csr -keyout private/subca.key`
is probably executed in the subca ("probably" is because it is not clear from the article).  Referencing subca.conf

[2021-12-31 20:38] cherchyk commented on #85869
even the first command is not clear in Step 6
in Step 4 we enter `subca` and then we create subca.conf file there

the first command for the serial number in Step 6 should specify where we execute it.

[2021-12-31 20:54] js8080 opened #85870 "Referenced code doesn't appear to actually exist"
This page refers to the following code:

[code]

Unfortunately, it does not explain where to actually find this class `SharedAccessSignatureTokenProvider`. A Nuget package reference would be great. I spent the last couple of hours digging and trying to find it but I can only find these references:

- https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Microsoft.Azure.EventHubs/src/Pr

[2021-12-31 21:16] aderesh opened #85871 "'objectId' is not sent in 'Before creating the user' user request"
[Enter feedback here]
Hi, I set up 'Before creating the user' API connector with Azure functions and I don't receive 'objectId' as it was mentioned in the 'Example request sent to the API at this step' step for a recommended user sign up flow.

The response I got (scrambled):
[code]

I even set `User's Object ID` in application claims but it didn't help - still no 'objectId':
![image](https://user

[2021-12-31 21:17] aderesh commented on #85871
![image](https://user-images.githubusercontent.com/2285614/147839177-01aab163-d505-4d89-906d-d5d589b4dd82.png)

[2021-12-31 22:20] tamram commented on #85600
@aaronswebs - Thanks for the feedback. I've updated both of these articles to make it more clear that GRS is supported for accounts with a hierarchical namespace, but that customer-managed failover is not.

- https://docs.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance?toc=/azure/storage/blobs/toc.json#understand-the-account-failover-process
- https://docs.microsoft.com/azure

[2021-12-31 22:21] tamram commented on #85600
#please-close

[2021-12-31 22:21] #85600 closed

[2021-12-31 23:14] SamaraSoucy-MSFT commented on #85752
Can you please share the error you are receiving?

[2021-12-31 23:57] sam-wheat opened #85872 "Add clarification for nuget package requirements, Azure AD B2C, dotnet 6"
Use `Microsoft.AspNetCore.AzureAD.UI` in addtion to `Microsoft.Identity.Web`?  Or was `Microsoft.Identity.Web` what was used previously?  I'm using Azure AD B2C.  Will it work? Do I need this?

Are these instructions current for dotnet 6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-bf93e84dc2

[2022-01-01 00:36] RichardDMartinez opened #85873 "404 when trying to download flight data"
When following the link and instructions to download flight data, I get a 404 when I click the Download button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f345421f-01f3-d49e-24f4-d8e151d2b5d9
* Version Independent ID: 6ad56353-e857-523b-4b6b-3ca4db981ee5
* Content: [Tutorial: Azure Data Lake Storage Gen2, Azure Syn

[2022-01-01 02:59] AshokPeddakotla-MSFT commented on #85869
@cherchyk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-01 03:01] AshokPeddakotla-MSFT commented on #85870
@js8080 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-01 03:04] AshokPeddakotla-MSFT commented on #85871
@aderesh Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-01 03:05] AshokPeddakotla-MSFT commented on #85872
@sam-wheat Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-01 03:20] saimachi opened #85875 "Azure Arc Data Controller on Minikube"
Hello,

I am trying to evaluate Azure Arc Data Services in my local environment using Minikube. I created a Minikube cluster on my local machine (Windows 11, Build 21H2) with 4 cores and 8 GB memory.

I followed the procedure in the Azure docs, signing into my Azure subscription and using the wizard in Azure Data Studio to provision the Azure Arc Data Controller in the _indirectly-connected mode_.

[2022-01-01 03:53] DerekHerman-MSFT commented on #85873
Which url is giving you a 404?

[2022-01-01 06:22] AshokPeddakotla-MSFT commented on #85875
@saimachi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-01 08:15] arjain18 commented on #85789
Yes, its not working on Ipad mini 2, checked on Edge, Safari and Chrome

[2022-01-01 15:02] RichardDMartinez commented on #85873
When on this page: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-use-sql
Follow the instructions in the section **Download the flight data**. I get the 404 on step 3, which attempts to get the file at the following address: https://transtats.bts.gov/PREZIP/_Reporting_Carrier_On_Time_Performance_1987_present_2021_1.zip

[2022-01-01 16:16] jsquire commented on #85870
@spelluru:  This looks to be outdated; we should consider replacing with instructions on how to generate a SAS _([example](https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token))_, as it does not appear that the portal has been updated to do so yet.

[2022-01-01 18:28] pathade90 opened #85880 "On-Prem installation via QMTH"
As per below license guide Windows 10 Multi-session can be hosted On-Prem with QMTH partners, but the FAQ says On-Prem not supported.
https://download.microsoft.com/download/9/8/d/98d6a56c-4d79-40f4-8462-da3ecba2dc2c/licensing_windows_desktop_os_for_virtual_machines.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f

[2022-01-01 18:35] AMelaku opened #85881 "Directions need to be updated or changed"
Thanks for the writeup! When following the process outlined however, map is not rendered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d455c9-d5c7-3a9e-5de5-b16072f3c77e
* Version Independent ID: d0f120b2-5ef9-9112-d17f-e8b2275ed5b4
* Content: [Quickstart: Interactive map search with Azure Maps](https://docs.micros

[2022-01-01 21:39] JacobJones001 opened #85883 "Connect to Media Services v3 API - .NET Code Error"
[Enter feedback here]
I do not believe this line is a part of  Microsoft.Azure.Management.Media.Models any more:
ApiErrorException apiException = exception.GetBaseException() as ApiErrorException;

Not sure if it is correct, but:
ErrorResponseException apiException = exception.GetBaseException() as ErrorResponseException
seems to be a replacement

---
#### Document Details

⚠ *Do not edit this sec

[2022-01-01 21:47] tshaiman opened #85884 "Moving away from Secrets"
[Enter feedback here]
as we know secrets in kubernetes are not safe measures to store sensitive data .
Is there an effort to leverage AzureFile Volume plugin so that it will use other means of authentication ( e.g. : Service Principal / Managed Identity) instead of Storage Account Key inside a k8s secret ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-01-01 23:43] michaelmarcuccio commented on #83857
Is there an update on this now that it is 2022? The checkbox for 'Auto-rotate key' is still there in the Azure Portal but it never works.

[2022-01-02 01:49] AshokPeddakotla-MSFT commented on #85880
@pathade90 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-02 01:51] AshokPeddakotla-MSFT commented on #85881
@AMelaku Could you please share more details on the issue which you are facing? What exactly needs to be changed in this doc for better experience?

[2022-01-02 01:54] AshokPeddakotla-MSFT commented on #85884
@tshaiman Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-02 01:57] AshokPeddakotla-MSFT commented on #85883
@JacobJones001 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-02 13:51] AshokPeddakotla-MSFT commented on #85739
@romanzdk  Do let us know if you are still blocked.

[2022-01-02 14:02] romanzdk commented on #85739
I just tried to install az CLI on other machine and when running the command for the first time it asks for `storage-preview` extension and then it works. I guess that might be the reason it does not work on the first machine as it is an ubuntu docker container without access to the internet. Will try to include the extension to the image itself and try again. Will let you know.

[2022-01-02 14:29] John-HLC opened #85886 "Request clarification: Static Web App + BYO Azure Function - Access to User Information (Claims Principal)"
Is this possible - i can't get it to work?

Trying to setup:  StaticWebApp + Blazor WASM(Client Side Only) + Bring own Azure Function, and then access the user information on the BYO-Azure Function.

Problem I'm having: User Information (Claims Principal) is always null/blank.

Today - documentation shows how StaticWebApp Edge nodes send out a header that can be unpacked on the API side to get use

[2022-01-02 14:34] John-HLC commented on #84116
@RyanHill-MSFT  -   After careful analysis - I have narrowed this down this to a more specific/simplified scope.  And created a new issue request for clarification over on this issue  #85886 .   If we can pick up there, we can close this one out.  I think that issue #85886 is the root cause of my needs on this thread.

[2022-01-02 15:11] yertaylan67 opened #85887 "Setting the server collation "SQL_Latin1_General_Cp850_BIN2" during the initial SQL VM deployment"
[Enter feedback here]
Hello,

When deploying a "SQL Virtual Machine" in Azure Portal,  we are now able to set the server collation in "SQL instance settings", that means we can select "SQL_Latin1_General_Cp850_BIN2" as required by SAP already during the deployment time. Hence you may consider adjusting the statement "Since the SQL Server images in the Azure Marketplace are not set up to use the co

[2022-01-02 15:27] koder101 opened #85888 "OS platform parameter not available in docs"
[This ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#develop-deployment-scripts)page mentions about the `You can specify the script language and platform. Currently, Azure PowerShell and Azure CLI deployment scripts on the Linux environment are supported.` but I don't see any example on how to set the platform information. Currently, i

[2022-01-02 16:12] take-4c opened #85889 "Managed dependencies requires only access to only https://www.powershellgallery.com to download modules?"
Hi Team,

This page says as following.

"Managed dependencies requires access to https://www.powershellgallery.com to download modules. When running locally, make sure that the runtime can access this URL by adding any required firewall rules."

But it seems to access to https://psg-prod-eastus.azureedge.net as well.
If there are any other sites it requires access to, please let me know.

Best Reg

[2022-01-02 16:34] MicrosoftGuyJFlo commented on #85696
Feel free to ping me via email I am happy to discuss your ideas. Email is in my profile.

[2022-01-02 19:05] serbathome opened #85890 "Support for asp .net core 6"
Asp .net core 6 has changed layout of Program.cs and Startup.cs files, which is not documented anywhere yet.
Could you please update documentation and include KeyVault configuration for asp .net core 6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9950f5c0-3c21-0859-c217-4b08141de4d4
* Version Independent ID: 7810613

[2022-01-02 19:18] rbgigo commented on #85471
The problem reported above-mentioned is identical to ours. Just restarted an ACI container group when one worked while the other hangs in "repairing". No changes at all, just restarting

[2022-01-02 20:14] DerekHerman-MSFT commented on #85886
Thanks for the feedback! We are currently investigating and will update you shortly. In the future please open feedback items directly from the documentation page at the bottom. This allows us to automatically route the issue to the correct team.
![image](https://user-images.githubusercontent.com/65573242/147888294-e92cd0cc-6f63-4a2a-bf37-5da3d6c94abf.png)

[2022-01-02 20:57] Davidswinkels commented on #81247
Thanks for the help Fleid. Issue is solved now :)

[2022-01-02 21:19] mimckitt commented on #72849
#assign: @mimckitt

[2022-01-02 21:36] zaalion opened #85891 "Link to Termite"
[Enter feedback here]
Please add a link to the Termite app in your documentation.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad78bcc1-3658-8084-4ffe-33ff562e8e72
* Version Independent ID: 2a24752e-bc92-43ac-c911-0af9269be285
* Content: [Connect an MXCHIP AZ3166 to Azure IoT Hub quickstart](https://docs.mic

[2022-01-02 22:14] andyvans opened #85892 "Is the link to the Microsoft Store correct?"
Is this link to the store correct or has the product been discontinued?
https://www.microsoft.com/p/azure-kinect-dk/8pp5vxmd9nhq

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03f0517-f670-b1ae-5661-3a0b087d9a3d
* Version Independent ID: 9019e3dc-7d69-07e0-ab24-49bc8d3d1963
* Content: [About Azure Kinect DK](https://d

[2022-01-03 01:23] VikasPullagura-MSFT commented on #85627
@marcusgaspar
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-03 01:23] VikasPullagura-MSFT commented on #85627
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-01-03 02:04] DerekHerman-MSFT commented on #85887
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 02:06] DerekHerman-MSFT commented on #85888
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 02:07] DerekHerman-MSFT commented on #85889
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 02:07] AshokPeddakotla-MSFT commented on #85892
@andyvans Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 02:08] AshokPeddakotla-MSFT commented on #85891
@zaalion  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 03:57] MonikaReddy-MSFT commented on #85520
@yossi-y - Thank you for providing your insights.
@docloud-eu  - I hope @yossi-y has answered your question.
Like Yossi has mentioned, the doc will be updated as it is prioritized, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-03 03:57] #85520 closed

[2022-01-03 04:19] AshokPeddakotla-MSFT commented on #85891
.

[2022-01-03 04:20] AshokPeddakotla-MSFT commented on #85892
.

[2022-01-03 04:22] ShaikMaheer-MSFT commented on #85738
@kromerm Could you please validate customer feedback and enhance document as appropriate. Thank you.

[2022-01-03 05:59] eric-urban commented on #85266
#please-close

[2022-01-03 05:59] #85266 closed

[2022-01-03 06:05] MughundhanRaveendran-MSFT commented on #85836
@ehsnipe , Just wanted to know if the above comment was helpful or not. Please let me know if you have any further queries

[2022-01-03 06:24] MughundhanRaveendran-MSFT commented on #85717
@imeya , just wanted to follow up and check if the issue is resolved or any progress with the troubleshooting. Please let me know

[2022-01-03 06:27] yossi-y commented on #85520
Just updating that the export article was updated with the new storage experience.

Thanks,

[2022-01-03 06:30] ehsnipe commented on #85836
Thanks a lot for a quick response!
The comment was helpful in showing the current best solution, but it would
be helpful to have a description per function.

Thanks
Per

Den mån 3 jan. 2022 kl 07:06 skrev Mughundhan_R-MSFT <
***@***.***>:

[2022-01-03 06:36] MughundhanRaveendran-MSFT commented on #85836
@ehsnipe , Thanks for the feedback. I will pass on this feedback to the Functions team.

As this is a feature request , you can also share your feedback here : https://feedback.azure.com/d365community/forum/9df02822-f224-ec11-b6e6-000d3a4f0da0#

[2022-01-03 06:36] #85836 closed

[2022-01-03 06:44] SadiqhAhmed-MSFT commented on #85834
@LingYi-Wu Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-01-03 06:59] DerekHerman-MSFT commented on #85890
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 07:52] kgflying opened #85897 "On the doc portal, pdf generation is missing since 2022."
In the past, (like 2021), for example, go to this link, https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/, in the left lower corner, there is a link to download pdf file,
![image](https://user-images.githubusercontent.com/12282281/147908945-b29b4f91-221d-4ee6-883a-7c9884abcc9d.png)

But pdf generation is missing since 2022. Please add it back. Thanks.

[2022-01-03 08:59] PramodValavala-MSFT commented on #85837
@imeya Here are the answers to your queries

No. They will be deployed and scaled independently. There is [no impact if they are linked to the same plan](https://docs.microsoft.com/en-us/azure/azure-functions/consumption-plan#multiple-apps-in-the-same-plan).

Yes

[2022-01-03 09:08] PramodValavala-MSFT commented on #85889
@take-4c Looks like there are a [couple of endpoints](https://docs.microsoft.com/en-us/powershell/scripting/gallery/how-to/getting-support/troubleshooting-cmdlets?view=powershell-7.2#required-network-endpoints) that must be considered.

Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2022-01-03 09:09] #85792 closed

[2022-01-03 09:55] JackyChiou opened #85900 "If you add the app settings for WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING then you will need to redeploy as the content is not moved over to the new Azure Files endpoint."
[Enter feedback here]

Customer is asking us to add those explanation into public doc:
===============================================
If you add the app settings for WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING then you will need to redeploy as the content is not moved over to the new Azure Files endpoint.
===================================================

2 App Settings' l

[2022-01-03 10:02] akashperfect opened #85901 "Getting error System.IO.FileNotFoundException: Function (HttpTrigger1) does not exist"
When trying to deploy managed application definition from the portal. Getting error:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e41fe3e-937d-2e6c-0a03-110f5129d602
* Version Independent ID: 24d57fdf-e9f5-a5af-59ad-7d73f232b92b
* Content: [Tutorial - custom actions & resources - Azure Managed Applications](ht

[2022-01-03 10:02] SwathiDhanwada-MSFT commented on #85766
@cloudchristoph As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-01-03 10:02] #85766 closed

[2022-01-03 10:04] bobe999 opened #85902 "Missing essential aspects"
Thank you for the summary, just the most important aspects and implications are not clear to the customers based on this, just to name a few: RBAC is not present in B2C, application connectors are also not present (like in market place), SCIM is not supported, recertification is not supported, Conditional access is different - device mgmt is not possible, etc. Customers assume that they will have

[2022-01-03 10:11] VikasPullagura-MSFT commented on #85716
@ritugoyal12 Apologies in delayed response on this.

I have raised a PR for updating the document, the changes will go live once it is approved by doc author.

[2022-01-03 10:12] VikasPullagura-MSFT commented on #85710
@porrascarlos802018
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-03 10:13] VikasPullagura-MSFT commented on #85710
@zr-msft

Can you please check and add your comments on this doc update request as applicable.

[2022-01-03 10:19] PriyankaRudramaina commented on #85708
@porrascarlos802018,

I see there is already another issue raised by you for the same document requesting clarification on pricing #85710
I am closing this issue as duplicate and adding this feedback on the to the other issue. For further updates, please follow #85710

[2022-01-03 10:19] #85708 closed

[2022-01-03 10:21] PriyankaRudramaina commented on #85710
@zr-msft,

There is one more doc enhancement request by the same customer, requesting clarification in the document, please review

I am linking the other duplicate issue here for your reference #85708

[2022-01-03 10:22] #85716 closed

[2022-01-03 10:32] Raja315 opened #85903 "Templates are not available in Visual Studio 2019"
I tried the listed steps to create Actor service template but its not available on Visual Studio. It would be helpful to add pre-requisites on how those templates can be installed in Visual Studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd82a470-f800-6559-c9bf-635bcbfeb054
* Version Independent ID: 6a85bb23-ac59

[2022-01-03 10:45] Ramesh1020 opened #85904 "OData integration run time failed for Workplace analytics setup(Viva Insights)"
Hello,

I'm trying to create an OData integration runtime for the Workplace Analytics platform. I tried all the authentication types but I'm getting errors only. Here is an example for Anonymous type,

https://workplaceanalytics.office.com/e8977082-32f7-48b7-93c2-f8dcf571c87d/scopes/dca4db07-c7ed-47ec-8ffd-eba421afe3c7/jobsodata/98128f10de3b429d95b5b75a685365cd/Meeting

<img width="476" alt="Anony

[2022-01-03 10:50] hajekj commented on #85311
How is this a support issue? I believe this should be a documented behavior... If not, who should I contact to get clarification?

/cc: @ajburnle

[2022-01-03 10:57] santo2 commented on #85657
Hi @SwathiDhanwada-MSFT , thanks for the resource links. Seems that the Azure Metric that I wanted to export is not exportable according to the documentation ;-)

[2022-01-03 11:11] take-4c commented on #85889
@PramodValavala-MSFT -san,

Thank you for the prompt response! I see!
You might want to make one of them a link so that you don't have to manage the information twice.

Thanks.

[2022-01-03 11:14] msnitish opened #85905 "How to perform attestation of Confidential VMs"
It would be useful for readers if  procedure to create a secure channel after creating a Confidential VM is also explained in the documentation.
The following questions need to be addressed :

1. How to get an attestation report after creating a Confidential VM based on _AMD SEV-SNP_ ?
2. Is there any role of _'Azure Attestation service_' in this attestation process with the  Confidential VM ?
3.

[2022-01-03 11:15] PriyankaRudramaina commented on #85880
@pathade90,

Thanks for the question. I am reviewing with internal teams, i will update you once i get this clarified.

[2022-01-03 11:17] VikasPullagura-MSFT commented on #85903
@Raja315
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-03 11:17] VikasPullagura-MSFT commented on #85903
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2022-01-03 11:18] VikasPullagura-MSFT commented on #85905
@msnitish
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-03 11:18] VikasPullagura-MSFT commented on #85905
@edendcohen
Can you please check and add your comments on this doc update request as applicable.

[2022-01-03 11:40] PriyankaRudramaina commented on #85854
Hi @michaeldevenney,
Thank you for reaching out. Can you please share the errors that you get and share more details on your issue.

[2022-01-03 11:43] alxndr-w opened #85906 "MFA must be enforced per user, not only enabled, to use app specific passwords"
Hello folks,

i was in contact with the Microsoft 365 support by phone because I couldn't create an app password with my M365 account.

The solution was to not only *enable* MFA but to enforce it, like you can see in this screenshot.

`aktiviert` = `enabled/activated` => no option to create an app password.
`erzwungen` = `enforced` => the option to create an app password shows up.

The English doc

[2022-01-03 11:43] CHEEKATLAPRADEEP-MSFT commented on #85864
@devudu I'm able to follow the exact steps mentioned in the document:

1. In Synapse Studio, go to Manage > Linked Services.
2. Select New > Connect to Power BI.

![image](https://user-images.githubusercontent.com/79183421/147926708-23931afc-2a5c-42c0-a602-4d3e9bdba098.png)

Hope this helps.

[2022-01-03 11:46] CHEEKATLAPRADEEP-MSFT commented on #85904
@Ramesh1020  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-01-03 11:53] PriyankaRudramaina commented on #85700
Hello @CorinaMAC,
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review. We shall get the document updated accordingly after the supportability statement is clarified

[2022-01-03 12:20] kengaderdus commented on #84372
#please-close due to inactivity

[2022-01-03 12:20] #84372 closed

[2022-01-03 12:26] m-yuka746 opened #85907 "Firewall Setting for Application Insights Profiler"
I cannot use Profiler through Firewall that accepted  Service Tag "AzureMonitor" and "https://gateway.azureserviceprofiler.net" like below document.

https://github.com/MicrosoftDocs/azure-docs/blob/9c2677a0ecf441ee324e30a495c9753d05db0650/articles/azure-monitor/app/profiler-troubleshooting.md?plain=1#L53

I need to accept "*.core.windows.net" or Service Tag "Storage" in addition for using Profile

[2022-01-03 12:32] Arash-Sabet opened #85908 "The `client` type is not clear in the sample code"
Please augment the following code by clarifying the instantiation of the `client`'s object's type. Do not assume that a reader who just landed on that page to know the type:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 091ef979-ef2f-c472-547d-44ab61ddcc01
* Version Independent ID: 98e13ff6-d693-2bc5-789e-e363

[2022-01-03 12:36] mielniczekm opened #85909 "Is this page still up to date? I dont see those pages in my portal in the SQL server tab. Only the "Microsoft Defender For Cloud""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b43b28-f8e6-a718-7bcd-b42ee2b19416
* Version Independent ID: 63f89c9e-cab7-531a-0a69-9a7e9ab0521b
* Content: [Configure Advanced Threat Protection - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/threat-detection-confi

[2022-01-03 12:51] AshokPeddakotla-MSFT commented on #85892
@tesych All links pointing to error page. Please look into this issue and resolve asap.

[2022-01-03 12:57] AshokPeddakotla-MSFT commented on #85891
@zaalion Link is mentioned under **Install the tools** section. Are you facing any issues?
<img width="364" alt="image" src="https://user-images.githubusercontent.com/44426435/147933010-12b27a3a-782d-4f7d-8058-6da7dd7ec17f.png">

[2022-01-03 13:09] faustinopalma opened #85911 "scenario 2' is not needed, in the current version the 2' is a duplicate of scenario 3"
The scenario 2' under the chapter "Pricing Components" is not needed because the flow numbered 2 is symmetric.

In the current table, under the 2' label, is reported a duplicate of the scenario 3 with Express Route.

The scenario 3' may be needed, because flow 3 is not symmetric, and is currently missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-01-03 13:25] patricekrakow opened #85912 "[ERROR] server rejected WebSocket connection: HTTP 400"
When typing the command

[code]

I got the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4fe685-beeb-7e86-8538-f57198a724c0
* Version Independent ID: bba3c14f-24ca-a646-d0c0-32fb49e7b018
* Content: [Quickstart - Connect and play with the Azure Web PubSub instance](https://docs.microsoft.com/

[2022-01-03 13:33] yescine commented on #49245
it worked only after upgrading to B2, (containerized nodejs app)
should we do that for all our webapp ?!

[2022-01-03 13:38] PriyankaRudramaina commented on #85719
Hi @adrianakbari,

Thank you for the feedback. Could you please point me to the correct document link/section which you are referring to?
Is this the document you are referring to [https://docs.microsoft.com/en-us/cli/azure/acr/credential?view=azure-cli-latest#az_acr_credential_show-examples](url)?

[2022-01-03 13:55] John-HLC commented on #85886
A few more possibly relevant details in case it helps

1) On Blazor WASM Client only side, I did try with and without the auth section in staticwebapp.config.json
Although both the BYO-Azure Function app and Blazor WASM Client only App have a Client ID and ClientSecrets in my AD App registrations, Not sure which one should go in the auth section below.

![image](https://user-images.githubuserconte

[2022-01-03 14:01] Blackmist commented on #85638
Hi @afogarty85 and @YutongTie-MSFT sorry for the late response. I've been out of office the past few weeks.

Unfortunately, the documentation team only works on public facing documentation for external customers. We do not create or maintain docs for internal teams. As far as I am aware, there is no group tasked with creating docs specific for internals. I would recommend posting on the internal s

[2022-01-03 14:07] AnuragSharma-MSFT commented on #85908
@Arash-Sabet Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-03 14:08] AnuragSharma-MSFT commented on #85909
@mielniczekm Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-03 14:54] RyanHill-MSFT commented on #85176
Hi @jakobmladekaer, https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux is the doc you're looking for if you haven't discovered it yet. If you have any further questions, feel free to tag me down below.

[2022-01-03 14:54] #85176 closed

[2022-01-03 15:01] JamesTran-MSFT commented on #85902
@bobe999
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-03 15:02] JamesTran-MSFT commented on #85906
@alxndr-w
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-03 15:13] kengaderdus commented on #84752
#please-close

[2022-01-03 15:13] #84752 closed

[2022-01-03 15:23] ShaikMaheer-MSFT commented on #85762
@ReemCohen Thank you for raising this bug. I will escalating this internally. Feel free to log this feedback at below link as well. Product team closely monitor feedbacks raised there and consider them for future releases.
https://feedback.azure.com/d365community/forum/1219ec2d-6c26-ec11-b6e6-000d3a4f032c

[2022-01-03 15:24] kengaderdus commented on #84372
If you're not using MSAL, checkout these docs:
- [Azure AD B2C: Authentication protocols](https://docs.microsoft.com/en-us/azure/active-directory-b2c/protocols-overview)
- [Web sign-in with OpenID Connect in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect)
- [OAuth 2.0 authorization code flow in Azure Active Directory B2C](https://docs.microso

[2022-01-03 15:41] SabrinaKay opened #85916 "Storage space requirement missing"
Would like to provide a feedback in terms of adding the storage space requirement to this page please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51d97a71-892f-a346-e285-fa9ce2f4dd12
* Version Independent ID: 828a17c3-fbdc-eb6d-a95e-9fc22f4b758e
* Content: [Deploy a log forwarder to ingest Syslog and CEF logs to Mi

[2022-01-03 15:46] joataid opened #85917 "Pricing information"
Pricing information in the section below looks incomplete.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#pricing

It says you pay only for two things: Compute costs and Data transfers costs.
Per the VPN Gateway pricing page and Azure Calculator, you also pay a fee per hour per tunnel when you have more than 10 tunnels.
https://azure.microsoft.com/en-us/pricing/de

[2022-01-03 15:47] ChaitanyaNaykodi-MSFT commented on #85911
Hello @faustinopalma
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-03 15:50] SamaraSoucy-MSFT commented on #85897
Hi @kgflying,

This repository is for issues relating to Azure documentation. For issues with C#/dotnet, you can open an issue in their repository: https://github.com/dotnet/docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20

[2022-01-03 15:50] #85897 closed

[2022-01-03 15:52] SamaraSoucy-MSFT commented on #85900
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-03 15:58] whhender commented on #82879
@yuharucan - Just following up to let you know we are still working on these PowerShell revisions. As soon as they're ready, I'll update you here and revise the documentation.

[2022-01-03 15:58] whhender commented on #81227
Just following up to let you know we are still working on these PowerShell revisions. As soon as they're ready, I'll update you here and revise the documentation.

[2022-01-03 16:21] daweins commented on #33531
The docs should probably be updated to reflect this. I had a confused user w/ this same scenario.

[2022-01-03 16:29] AshokPeddakotla-MSFT commented on #85839
@im-subash I am unable to repro this issue. This would require further troubleshooting to find out the root cause.

Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, Please send an email to azcommunity@microsoft.com with the below details, we will work closely on this matter.

Thread URL: #
Your Subscription ID:
Email Subject: Attn Ashok Peddakotla

[2022-01-03 16:29] kengaderdus commented on #84834
Hi @DarkMonkDev

Thank you for your patience.

Now that you've got a solution, we'll close this issue, and then track your content request internally.

#please-close

Thanks.

[2022-01-03 16:29] #84834 closed

[2022-01-03 16:31] SaiKishor-MSFT commented on #85917
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-01-03 16:33] romanzdk commented on #85739
[code]

OS: `Ubuntu 18.04`

command: `az storage blob directory delete -c containerName-d folder-1/folder2 --account-name "accountName" --auth-mode login --recursive`

output: `ERROR: 'directory' is misspelled or not recognized by the system.`

[2022-01-03 16:34] TheWhiteWeasel opened #85918 "Storage capacity update"
Storage capacity in GB should be updated from 2GB to 10GB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 475afe91-64e1-0c8e-2bcb-bf1f9b35e504
* Version Independent ID: 75d8a955-4306-2862-131f-bd9158785446
* Content: [Manage resources and quotas - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/how-to-mana

[2022-01-03 16:42] jmprieur commented on #85527
@mmacy I think it would be more an advanced aspect for a tutorial rather than a quickstart. What do you think?

[2022-01-03 16:48] JanBloch commented on #34167
How has this still not been fixed?

[2022-01-03 16:54] kengaderdus commented on #85023
Dear @chadmcox,

Thank you for your patience.

Please share more details so that I get a better understanding of your ask.

Thank you.

[2022-01-03 17:01] jmprieur commented on #85872
@sam-wheat. Microsoft.Identity.Web is also the way to go for B2C.
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis

[2022-01-03 17:01] jmprieur commented on #85872
@shashishailaj
Let's remove the today in the doc.

[2022-01-03 17:02] tschn opened #85919 "URL rewrite section - action for 'URL Rewrite' does not exist"
I was trying to work through the example for 'URL Rewrite' but I do not see an action labeled 'URL Rewrite' in the portal user interface for azure front door standard/premium

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65624792-df60-3fbf-8988-a6b2f8f271e5
* Version Independent ID: 6d614f18-5d98-4e1d-3d1b-e00413aea40

[2022-01-03 17:03] ronarieke opened #85921 "Question about the documentation"
[Enter feedback here]
 "The following are the times or events that cause a resource to be evaluated:

A resource is ... deleted in a scope with a policy assignment."

What policy enforcement operations are evaluated on delete operations of resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fab47b-3b7a-c02e-c86

[2022-01-03 17:07] CodyBatt opened #85922 "Text says path patterns vary between versions but there is no variation"
The text says that the accepted URL path matching patterns depend on whether you deploy app gateway v1 or app gateway v2, but then the description of the patterns for each version is exactly the same. Either there's a mistake in the descriptions of the path patterns or the patterns don't actually vary between v1 and v2. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-01-03 17:07] RyanHill-MSFT commented on #85901
Thanks for the feedback! Does your json definition contain an `HttpTrigger` endpoint as explained under [Template with custom provider](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/tutorial-create-managed-app-with-custom-provider?tabs=azurecli-interactive#template-with-custom-provider)?

[code]

[2022-01-03 17:14] ChaitanyaNaykodi-MSFT commented on #85919
Hello @tschn
Thank you for your feedback! We will review and update as appropriate.

[2022-01-03 17:14] RyanHill-MSFT commented on #85912
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-03 17:19] kengaderdus commented on #85496
Hi @mohijazi

Thank you for your patience.

*After the domain is verified, delete the DNS TXT record you created*. This statement is in # 3 of Step1.

I hope this helps.

[2022-01-03 17:21] ChaitanyaNaykodi-MSFT commented on #85922
Hello @CodyBatt
Thank you for your feedback! We will review and update as appropriate.

[2022-01-03 17:23] kengaderdus commented on #85496
please-close

[2022-01-03 17:23] #85496 closed

[2022-01-03 17:26] ShaikMaheer-MSFT commented on #85918
@TheWhiteWeasel  Thank you for sharing feedback. We are actively validating it. we will share updates soon.

[2022-01-03 17:34] DerekHerman-MSFT commented on #85701
We haven't heard back from you so I am closing out this issue for now. Please provide the specifics and I will reopen the issue if necessary.

[2022-01-03 17:43] DerekHerman-MSFT commented on #85873
Thanks for reporting this. I am also seeing this 404 when trying to download the government data. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-03 17:53] kgflying commented on #85897
Hi @SamaraSoucy-MSFT , **the issue is related to all docs on doc portal, not just C#/dotnet.**

Another example, goto https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview

I am pretty sure there is a "Download PDF" hyperlink in the lower left corner.

![image](https://user-images.githubusercontent.com/12282281/147963011-67d7a721-d165-445c-87c5-7ea46789890f.png)

Now the hyperl

[2022-01-03 17:54] kengaderdus commented on #85730
Dear @mrochon ,

Thank you for your patience.

You addressed the issue in the correct way.

That is also captured in the reference section of the docs, [RelyingParty](https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty)

#please-close

Thanks.

[2022-01-03 17:54] #85730 closed

[2022-01-03 18:09] SatishBoddu-MSFT commented on #11450
#

[2022-01-03 18:10] SatishBoddu-MSFT commented on #25749
#

[2022-01-03 18:13] JimacoMS4 commented on #65654
@rajeevmv can you please validate or suggest changes to this PR so we can close this issue? https://github.com/MicrosoftDocs/azure-docs-pr/pull/183755

[2022-01-03 18:13] JimacoMS4 commented on #65654
#reassign JimacoMS4

[2022-01-03 18:23] RonnieQuan opened #85926 "Resilience Design IP Groups"
The document says "IP Groups can be reused in Azure Firewall DNAT, network, and application rules for multiple firewalls across regions and subscriptions in Azure".

Technically it works to use one IP group for multiple Azure firewall in multiple regions, this simplifies maintenance, and I have common IP list shared across multiple regions.

But IP group resource itself has a location property, an

[2022-01-03 18:26] xujing-ms commented on #73556
@JimacoMS4 what is the ask here, the DPS logs schema follows the generic one posted in the link by Rob

[2022-01-03 18:38] jasonzio opened #85927 "Include example JSON results from IMDS for load balancer config"
This page says that IMDS can retrieve load balancer configuration information, and it describes the retrieved values, but it doesn't provide the precise names for the various values nor does it show the structure of the data. All of that would be addressed by including an example, e.g. "Suppose your VM were behind a load balancer like _this_; in that scenario, the Load Balancer section of IMDS res

[2022-01-03 18:43] jasonzio opened #85928 "Does the abbreviation IMDS deserve the definite article "the"?"
I found the use of the definition article "the" in front of the IMDS abbreviation to be jarring. It's been my experience that the full name of a thing gets the article, but the abbreviation does not.

One talks about the Transmission Control Protocol, but one also talks about using TCP. One uses the Dynamic Host Control Protocol to get an IP address, but one also used DHCP to retrieve other inform

[2022-01-03 18:51] iwafula025 opened #85929 "Incident table name and third party data sources"
The name of the Incident table is not as fully described as the "SecurityAlerts" table. I suggest following same pattern and naming it by its actual name: "SecurityIncident" table as opposed to "Incident" table.

Also, since Fusion  can also leverage 3rd party solutions such as from Palo Alto then they should also be listed as possible data sources. I think this was the case at some point if not m

[2022-01-03 19:06] brwilkinson opened #85930 "Add note about Publish as well as Restore"
https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/bicep-config-modules#credentials-for-restoring-modules

#### Does it make sense to also: Add note about `Publish` as well as `Restore`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b00e9d8-e683-dad2-1669-50c3b8577553
* Version Independent ID: dc63331

[2022-01-03 19:11] PatrickFarley commented on #83585
Hi @viniciustotti , we don't publish the list of celebrities for legal and privacy reasons, but you may be able to view the list under an NDA. You can file a [support ticket](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview) to pursue that.

The Video Analyzer for Media uses a more recent version of the computer vision model.

[2022-01-03 19:12] PatrickFarley commented on #83585
#please-close

[2022-01-03 19:12] #83585 closed

[2022-01-03 19:12] mumian commented on #85930
@brwilkinson - this article is about the Bicep config file.  The publishing permission is covered in https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/private-module-registry?tabs=azure-powershell#configure-private-registry.

#please-close

[2022-01-03 19:12] #85930 closed

[2022-01-03 19:17] brwilkinson commented on #85930
@mumian you need to authenticate in order to publish Modules to the registry.

The bicep config file is used to configure how you authenticate. You need to do this to both publish and restore.

[2022-01-03 19:18] ChaitanyaNaykodi-MSFT commented on #85928
Hello @jasonzio
Thank you for your feedback! We will review and update as appropriate.

[2022-01-03 19:21] mumian commented on #85930
@brwilkinson - I will update the article.

[2022-01-03 19:22] brwilkinson commented on #85930
Thank you @mumian I think that will be helpful.

[2022-01-03 19:30] craftyhouse commented on #85737
Ack, pinged internally also.

[2022-01-03 19:40] JamesTran-MSFT commented on #85916
@SabrinaKay
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-03 19:41] RyanHill-MSFT commented on #85912
I couldn't repro your error @patricekrakow. Are you running webpubsub 1.1.0?

![image](https://user-images.githubusercontent.com/47189704/147972647-36af1893-89cd-41eb-9e7e-6f4d93db0f3d.png)

Also, since you are getting a 400 error, I doubt [live trace tool](https://docs.microsoft.com/en-us/azure/azure-web-pubsub/howto-troubleshoot-resource-logs#launch-the-live-trace-tool) will show anything but if

[2022-01-03 19:47] mkleef opened #85932 "How are you setting the container group in your Docker compose YAML"
Theres a step missing here. Your resultant code provisions a container group, which you are not detailing above in the creation of the two container instances. Something missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b33b5
* Version Independent ID: df5d92c4-217b-aa4c-ba21-1418505

[2022-01-03 19:53] JamesTran-MSFT commented on #85929
@iwafula025
Thanks for your feedback! I've created a PR to update the documentation.
![image](https://user-images.githubusercontent.com/36619112/147973733-574e0257-362e-4639-9ad7-023ef1c173ac.png)

When it comes to mentioning Palo Alto as a data source, it's mentioned within the [Scenario-based Fusion detections](https://docs.microsoft.com/en-us/azure/sentinel/fusion#scenario-based-fusion-detectio

[2022-01-03 20:02] iwafula025 commented on #85929
I meant earlier on in the doc it lists the M365 components as data sources but the third party ones are not mentioned under this section of the doc:

**Fusion for emerging threats supports data collection and analysis from the following sources:**

[2022-01-03 20:06] JamesTran-MSFT commented on #85929
@iwafula025
Thanks for clarifying! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-03 20:37] yelevin commented on #85929
@iwafula025 @JamesTran-MSFT Thanks for your question!
If I'm not mistaken, the list of data sources you're talking about is under the section titled "Fusion for emerging threats" which is a specific type of correlation done by the Fusion engine. It is not meant to be a comprehensive list of data sources for all Fusion detections. For example, it is separate from the scenario-based Fusion detection

[2022-01-03 20:42] asudbring commented on #85096
Hi @rahulksingh1994
There are instructions in this article on how to create each virtual network interface for the VM in the portal:
"To work with Floating IP in load balancer, we need virtual interfaces configured on the VMS in Backend, right?
But most of the time, user's are not aware on how to do that. Take me for example, I come from Network background and do not know how to create a virtual i

[2022-01-03 20:42] #85096 closed

[2022-01-03 20:48] SnehaGunda commented on #82612
@JuFranze I am the point of contact for Azure Synapse docs. However, because your feedback is specific to the Synapse Studio UI, either you or @GiftA-MSFT please open a product feedback item at this site: https://microsoft.sharepoint.com/teams/AzureSynapseDiscussion/Lists/Contacts/AllItems.aspx

[2022-01-03 20:53] bandersmsft commented on #85682
@syewchuk @amir-avectous Thanks very much for raising this issue. I've updated the Docs article based on the feedback that you've noted in this issue about contacting Azure sales to create additional billing profiles.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/183985

#please-close

[2022-01-03 20:53] #85682 closed

[2022-01-03 21:16] #85701 closed

[2022-01-03 21:18] SamaraSoucy-MSFT commented on #85907
Thanks for the question! We will review and get back to you shortly.

[2022-01-03 22:08] mkleef opened #85935 "This doesnt work for Private IPs and Vnets"
Not sure why, but this YAML doesn't work as described. When utilizing it you get an error message of _"(PrivateIPAddressNotSupported) IP Address type in container group 'mygroup' is invalid. Private IP address is only supported when network profile is defined.
Code: PrivateIPAddressNotSupported"_

Network Profiles just got deprecated. So now what is the method to set this in YAML? Are we back to s

[2022-01-03 22:20] darklove0504 commented on #85815
@jeffpatton1971 We only show annotations belong to "Deployment" Category on Performance blade. As far as I know, workbooks  hide annotations from the UI by default. FYI, we don't have any plan to show annotations other than Deployment.

[2022-01-03 22:30] JimacoMS4 commented on #73556
@xujing-ms Yup there are several :). For example:

- https://docs.microsoft.com/en-us/azure/event-hubs/monitor-event-hubs-reference#resource-logs
- https://docs.microsoft.com/en-us/azure/service-bus-messaging/monitor-service-bus-reference#resource-logs

Basically, Rob needs somewhere to link to for DPS in the [Azure monitor service-specific schemas documentation](https://docs.microsoft.com/en-us/a

[2022-01-03 22:52] SvenAelterman opened #85936 "Liquid template transformations are available for Standard Logic Apps too"
The way this doc is written makes it seem (https://stackoverflow.com/posts/comments/124464699) that this functionality is only available in Logic Apps that use an integration account. However, the functionality is also available in Standard plan Logic Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b

[2022-01-03 23:00] warrenb-cgi opened #85937 "New-AzStorageContainer command fails"
New-AzStorageContainer command fails:

    New-AzStorageContainer : Method not found: 'System.Threading.Tasks.ValueTask Azure.Core.Pipeline.HttpPipeline.SendAsync(Azure.Core.HttpMessage, System.Threading.CancellationToken)'.

The downloaded module (C:\Users\me\Documents\WindowsPowerShell\Modules\Az.Storage\4.1.0) does not seem to contain the Azure.Core.dll, although it is present in other modules

[2022-01-03 23:11] mumian commented on #85888
@koder101 - Currently, the schema doesn't have a property to specify the environment.  Linux is the default.  We can alter the schema when we introduce other environments.

#please-close

[2022-01-03 23:11] #85888 closed

[2022-01-03 23:23] iwafula025 commented on #85929
@JamesTran-MSFT  actually the correct table names are SecurityAlert & SecurityIncident, both singular - strangely enough. One time someone actually asked why that's the case and had no answer but anyhow

[2022-01-03 23:24] TimO2221 opened #85938 "myBastionHost subnet 10.1.1.0/24 does not exist in the network space"
Using the data to define the network (steps 4-6) will throw an exception in step 9:

[2022-01-03 23:26] JamesTran-MSFT commented on #85929
@iwafula025
Thank you for following up with this!

When I created my PR, I changed the table names to reflect the singular spelling.
![image](https://user-images.githubusercontent.com/36619112/147991112-b8b10ef6-09a7-45b5-917c-827f8af95926.png)

[2022-01-03 23:33] markjbrown commented on #85908
This example is meant to be narrowly specific to the container create because the options to create a new container can get rather extensive. New users are guided to our tutorials and/or quickstarts which provide more substantial examples of usage.

That said, this example is rather old and should be updated. I have updated it to reflect latest .NET SDK version and submitted PR #184010. Should pub

[2022-01-03 23:33] #85908 closed

[2022-01-03 23:50] mmacy commented on #85527
@jmprieur Yes, I agree it isn't appropriate for this quickstart, or the quickstart format in general.

A better fit would be a how-to article that would be an add-on to a base tutorial (or tutorial set); something you could point people to from the **Next steps** of the tutorial.

[2022-01-04 00:00] JimacoMS4 commented on #65654
@n-elia, Thanks for your feedback! Updates have been published. See additional text and note about x.509 certs under **username** bullet: https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-mqtt-support#using-the-mqtt-protocol-directly-as-a-device. Since this issue is fairly old, I'm going to close it. If you have additional feedback, please feel free to @-comment me here or open a new issue.

[2022-01-04 00:01] JimacoMS4 commented on #65654
#please-close

[2022-01-04 00:01] #65654 closed

[2022-01-04 00:17] mbukovich commented on #85713
Thanks! I look forward to it

[2022-01-04 00:25] balag0 opened #85939 "Token API version 2019-08-01 is supported in Linux Consumption"
Under https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#using-the-rest-protocol
1) Please remove the note regarding the need to use api version 2017-09-01 in Linux Consumption
2) Additionally under the api-version description remove " (unless using Linux Consumption, which currently only offers "2017-09-01" - see note above)."

---
#### Document Details

⚠ *D

[2022-01-04 00:33] jmprieur commented on #85527
Thanks for confirming, @mmacy

#please-close

[2022-01-04 00:33] #85527 closed

[2022-01-04 00:50] kgremban commented on #82466
@SeryioGonzalez The IoT Edge device runs exactly what is defined in the most recent deployment manifest that it receives. The deployment manifests don't stack on each other, but replace the previous one. This way, you can delete a running module by not including it in the deployment manifest. However, this means that you also need to make sure that you include any running modules that you want to

[2022-01-04 01:01] brittanyrowe commented on #85353
Hi @mads-sogaard,

Thanks for your patience, I was out for the end of year holidays. The processor specifications listed show the physical cores and virtual cores. We do not specify how many threads are available on the host.

All the best,
Brittany

[2022-01-04 01:24] SamaraSoucy-MSFT commented on #85921
Thanks for the question! We will review and get back to you shortly.

[2022-01-04 01:55] racchen opened #85940 "Highlighting behavior after July 2020"
As mentioned in this [document](https://docs.microsoft.com/en-us/azure/search/search-pagination-page-layout#highlighting-behavior-on-older-search-services), _after July 2020, only phrases that match the full phrase query will be returned in "@search.highlights"_. We have a new built service and use the latest API. The results showed any term in the phrase is highlighted.

"search": "family resorts

[2022-01-04 02:01] imeya commented on #85837
@PramodValavala-MSFT thank you very much. The last question is that, in the consumption plan, [the max scale-out instance is 200](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#scale). I want to know this max instance is for each of the 2 function apps, or total of them?

eg. if the 2 function apps can scale out to 200 instances in the same time, in the same consumption pla

[2022-01-04 02:21] ethanhou99 opened #85941 "Disable public network access not found"
[Enter feedback here]
Hi there,

I'm trying to deny the public network access for my MySQL server but I didn't find the **Deny public network access section**. Could you please help me figure it out?

![image](https://user-images.githubusercontent.com/43047951/148001076-0465d2dc-be5c-4368-b3bf-b6cb89bc9f9a.png)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-01-04 02:40] vicancy commented on #85912
Have you replaced `"<your-unique-resource-name>"` with your own unique resource name? If not, `"<your-unique-resource-name>"` is not a valid resource name and it will return 400 bad request

[2022-01-04 02:41] GitaraniSharma-MSFT commented on #85927
@jasonzio , thank you for your feedback. We'll review this and get back to you shortly!

[2022-01-04 02:42] GitaraniSharma-MSFT commented on #85926
@RonnieQuan , thank you for your query. We'll review this and get back to you shortly!

[2022-01-04 02:54] GennadNY commented on #75475
@fgielow - I was able to reproduce the issue and I also believe it will totally make sense to update docs on our side. Thank You again and will do that ASAP.

[2022-01-04 02:59] GitaraniSharma-MSFT commented on #85938
@TimO2221 , thank you for your feedback. Could you please provide the link for the tutorial that you are following, for further review?

[2022-01-04 03:51] MayankBargali-MSFT commented on #85890
@serbathome Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-04 03:53] MayankBargali-MSFT commented on #85936
@SvenAelterman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-04 03:58] Karishma-Tiwari-MSFT commented on #85887
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-04 04:13] AshokPeddakotla-MSFT commented on #85739
Adding @SumanthMarigowda for further insights.

[2022-01-04 04:18] AshokPeddakotla-MSFT commented on #85803
@shoter Sorry for the delay in response. AFAIK storeAndForwardConfiguration.timeToLiveSecs includes all the power offs and restarts.
Adding @kgremban for further suggestions and update doc with necessary information.

[2022-01-04 04:19] PramodValavala-MSFT commented on #85837
@imeya the instances would be separate. So, each function app will be able to scale out to 200 instances each.

[2022-01-04 04:29] SwathiDhanwada-MSFT commented on #85838
@jboysen Seems you have raised the same issue in Microsoft Q & A. I will respond there as this channel is mainly for documentation changes .

We will close the issue here. If there are further questions , please revert and we will be glad to assist you.

[2022-01-04 04:29] #85838 closed

[2022-01-04 04:40] CHEEKATLAPRADEEP-MSFT commented on #85804
@rosthain  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-04 04:40] #85804 closed

[2022-01-04 04:42] Karishma-Tiwari-MSFT commented on #85768
You can increase application uptime by using availability zones and availability sets to automatically distribute VMs in a scale set within a single datacentre or across multiple datacentres. Scale sets run multiple VM instances of your application. Therefore, if one of these instances has a problem, your customers will continue to access your application with minimal disruption. Virtual Machine S

[2022-01-04 04:42] #85768 closed

[2022-01-04 04:43] Karishma-Tiwari-MSFT commented on #85718
Can you please share specifically which commands are you seeing issues with? Thanks.

[2022-01-04 04:52] AnuragSharma-MSFT commented on #85941
@ethanhou99 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-04 04:57] devvrr commented on #85768
Hey,

Thanks for the reply, but it doesn't answer my question. This answer gives
the same generic information that is already there in the Azure
documentation. My question was: when there is only one VM in a scale
set(which Azure does allow) and if the VM goes down, does the "Azure scale
set" mechanism take care of bringing up a new VM(just the way it brings up
a new VM when load on existing VM go

[2022-01-04 05:10] Dickson-Mwendia commented on #84556
#reassign @Dickson-Mwendia

[2022-01-04 05:11] devudu commented on #85864
@CHEEKATLAPRADEEP-MSFT thanks. I was looking under data hub instead of manage hub.

[2022-01-04 05:11] #85864 closed

[2022-01-04 05:22] AnuragSharma-MSFT commented on #85941
@ethanhou99 I think you are using basic pricing tier and hence you are not able to see 'Deny Public Network Access' configuration. This is available in general purpose or memory optimized pricing tiers only. Same is mentioned in the document as well. Please let us know if this is not the case.

[2022-01-04 05:23] vTa47 commented on #84613
Hello Krishna,
Thank you. Do you have a road map information or approx release date about when Windows Server 2022 will be supported for Azure Automation Update Management?

[2022-01-04 05:25] JasonWHowell commented on #85789
I don't have an iPad Mini 2 handy.
Is it always the OS version 12.5.5?

Can you please take a screenshot of the page when its in the broken state and share here. Thanks!

[2022-01-04 06:02] henrymbuguakiarie commented on #84415
#reassign @henrymbuguakiarie

[2022-01-04 06:22] SumanthMarigowda commented on #85937
@warrenb-cgi Thanks for the question! We are investigating and will update you shortly.

[2022-01-04 06:30] nubgamerz opened #85946 "Update recommendation of Public IP Address Usage"
According to this article; https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-test-failover-to-azure

After sharing this document with our client to explain the usage of a test failover, a concern was raised by them which I agree with. In point 6.

We have recommended to our client that we will not be utilizing direct public IP's attached to Network Interfaces. This is generally ba

[2022-01-04 06:47] SadiqhAhmed-MSFT commented on #85834
@LingYi-Wu We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-01-04 06:47] #85834 closed

[2022-01-04 06:58] SwathiDhanwada-MSFT commented on #85809
Assigning to content author @bwren for doc-enhancement

[2022-01-04 07:16] gary918 commented on #84957
Hi, @lobrien @ram-msft any update for this?

[2022-01-04 07:43] MughundhanRaveendran-MSFT commented on #85734
@dchecks , Thanks for the clarification. I have updated the documentation. It will be published soon

[2022-01-04 07:52] #85734 closed

[2022-01-04 07:58] ntrogh commented on #85554
@ToruMakabe Thanks for your feedback; we appreciate it. I'm reaching out to the engineering team and will report back.

[2022-01-04 08:04] #84556 closed

[2022-01-04 08:07] SumanthMarigowda commented on #85807
@Oppedijk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-04 08:23] SumanthMarigowda commented on #84776
@asumner . So it is often best to only deploy a single Storage Sync Service and register all servers that it. Correct we can install only Single Sync agent on one server.

![image](https://user-images.githubusercontent.com/80444138/148029936-023c6536-0606-4f9c-b3c2-b14724a6378c.png)

Sync groups are deployed into Storage Sync Services, which are top-level objects that register servers for use with

[2022-01-04 08:23] #84776 closed

[2022-01-04 08:28] AlphaBun opened #85947 "Azure Machine Learning: Unable to SSH to Public IP of Compute Instance/Cluster"
[Enter feedback here]
Hi there,

I followed the link below to setup a secure machine learning workspace with all the resources behind a private endpoint.
https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-create-secure-workspace

For both the Compute Cluster and Compute Instance I have enabled SSH with public IP. For some reason I am unable to SSH into the Public IP of the compute cl

[2022-01-04 08:35] suganyasivashanmugam opened #85948 "I am trying to add the diagnostic setting of an Azure storage account via ARM template but I am not able to do so. I am able to add the diagnostic setting using powershell and portal. Can anyone please guide me on this? Thanks in Advance."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-04 08:36] patricekrakow commented on #85912
@RyanHill-MSFT, I am using Azure Cloud Shell and the `webpubsub` is `1.1.0`.

![image](https://user-images.githubusercontent.com/12017232/148031138-b2c26527-2a38-455c-80aa-da630d1a6fc5.png)

@vicancy, here are the exact command I have used:

[code]

[2022-01-04 08:38] suganyasivashanmugam commented on #13195
If I am trying to add in the script it to my existing storage account it is saying invalid template
{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template resource '2hxzjpiwc7m22comhipstore/default/Microsoft.Insights/' for type 'Microsoft.Storage/storageAccounts/blobServices/providers/diagnosticsettings' at line '86' and column '95' has incorrect segment lengths.

[2022-01-04 08:39] suganyasivashanmugam commented on #13195
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "storageAccounts_2hxzjpiwc7m22comhipstore_name": {
            "defaultValue": "2hxzjpiwc7m22comhipstore",
            "type": "String"
        }
    },
    "variables": {},
  "resources": [
    {
      "type": "Microsoft.Storage/storageAc

[2022-01-04 08:53] LingYi-Wu commented on #85834
Hello Team,

Thank you for the update.
No question now.

Please close this ticket.

Best regards,
Tina

From: SadiqhAhmed-MSFT ***@***.***>
Sent: Tuesday, January 4, 2022 2:47 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tina Wu ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Microsoft.SaaS resource type is saasresources or resources? (Issue #85834)

@LingYi-Wu<https

[2022-01-04 08:54] patricekrakow commented on #85912
I found the error while using the portal, it seems that the name of the hub cannot contain a dash/hyphen. Changing the name of the hub from `hub-01` to `hub01` fixes the issue.

[code]

[2022-01-04 08:57] #85912 closed

[2022-01-04 09:06] AjayKumar-MSFT commented on #85939
@balag0, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-04 09:07] AjayKumar-MSFT commented on #85940
@racchen, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-01-04 09:17] ChaitanyaNaykodi-MSFT commented on #85919
Hello @tschn, I could not reproduce the issue. I was able to locate the URL Redirect Action.

Under the Rule Set option, you can add a new rule and then select URL Redirect Action.

![image](https://user-images.githubusercontent.com/67453298/148034654-58dc5539-5fc6-4e62-b9b4-8663cf159aec.png)

![image](https://user-images.githubusercontent.com/67453298/148034374-05d8b0ce-fd96-4084-979c-41143ca8929

[2022-01-04 09:20] ariusalipour opened #85952 "Use of attributes in different frameworks"
This document needs to extrapolate on what is and isn't available for different frameworks such as .NET Framework and .NET Core. An example being the Table attribute being used in the example not being available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d328a623-0293-30cd-1356-8c4750e4e88b
* Version Independent I

[2022-01-04 09:24] arjain18 commented on #85789
Hi @JasonWHowell ,

I am sharing 2 pics of https://docs.microsoft.com/en-us/learn/modules/scale-apps-app-service/ and https://docs.microsoft.com/en-us/learn/modules/scale-apps-app-service/1-introduction

Observe breadcontrol menu and sign in option does not appear on header. With this, button to navigate to next page does not appear.

Device iPad Mini 2, iOS version: 12.5.5. Checked on Edge, Chrom

[2022-01-04 09:33] WenJason opened #85953 "Definition Location Confusion"
Hi Team,
This [article](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#definition-location) says "Only resources within child management groups and child subscriptions can be assigned the policy definition." However, we received a feedback, a customer found the root management group also could be assigned. Could you please confirm it? Thanks in advance.
![im

[2022-01-04 10:10] mjohnston1986 opened #85955 "Disk Type In Azure Databricks"
Hi There,

How are the disks tiers determined in Azure Databricks? We are currently using a pool which is using Standard DS3 v2 Virtual Machines, all with Premium SSD disks. Is there a way to change the tier of the disks?

Thanks

[2022-01-04 10:15] MACEL94 commented on #85665
Hello

We found the error in our code.
I believe before there was no check on the Content-Type because we were not setting it correctly but i was able to upload video files anyway.

Now that we correctly set the content-type to our specific type(video/mp4) videoIndexer lets us index videos once again.

I'll close the issue.

thanks @bragner

[2022-01-04 10:15] #85665 closed

[2022-01-04 10:39] ribumann opened #85956 "Desired award wait time not available"
Is it possible that reward wait time and model update frequency are not up-to-date in this tutorial and in-line with product specifications:
- In section "Configure presonalizer resource" it say to set both to 15 seconds, but reward wait time only has a dropdown, with minimum value being 10 minutes
- In section "Change update model frequency to 5 minutes" it says setting both to 5 minutes. Again,

[2022-01-04 10:40] dominicbetts commented on #85767
Hi @gianlucadardia - thanks for pointing this. I'll push some changes later today. I noticed a few other places where there are similar errors that also need fixing.
Regards, Dominic

[2022-01-04 10:40] dominicbetts commented on #85767
#please-close

[2022-01-04 10:40] #85767 closed

[2022-01-04 10:53] AjayKumar-MSFT commented on #85752
wcom939, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag @SamaraSoucy-MSFT  in your reply and we will gladly continue the discussion.

[2022-01-04 10:53] #85752 closed

[2022-01-04 10:59] jitendersaini opened #85957 "Slow performance of deployed webapp on ACI"
I've deployed my python flask application on azure container instance with docker compose. I managed to deploy it successfully but I'm observing the performance of the application is super slow and it's taking 4-5 seconds every api is responding. When I deployed this application on a VM it is working as expected but on ACI, I don't know why it's so slow and how to tune the performance.
Following i

[2022-01-04 11:22] lindacmsheard opened #85960 "comment on manual validation of webhook subscription creation event when using ngrok"
[docs augmentation - solution provided]

When you create a storage event subscription as a webhook to connect storage events to your ngrok endpoint, the current version expects validation (see [here](https://docs.microsoft.com/en-us/azure/event-grid/webhook-event-delivery#endpoint-validation-with-event-grid-events)).
I created the event subscription via the cli, ***and so the information as to how

[2022-01-04 11:27] AshokPeddakotla-MSFT commented on #85932
@mkleef Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-04 11:53] codermrrob commented on #53051
Unless you have it automatically installed with VS 2022 then you'll locate it here:

[code]

[2022-01-04 12:13] munkii opened #85961 "Diagnose option for Device Registrations is not available in VS"
Issue with the section ["Verify registrations"](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-fixer#verify-registrations)

The option to "diagnose" Notifcations Hubs is not present in VS2019. It also suggests debugging using "Server Explorer" but Azure Reources are only in the "Azure Explorer" in VS2019

The page displayed in the documentation for dia

[2022-01-04 12:20] JuFranze commented on #82612
Hi,

Thank you for your feedback. This item has ben created 4months ago. Is there a way to speed up the process?
I would be happy to help with my feedback but I cannot spend months on it.

Please let me know, what kind of input would be of help.
Many thanks,
Juliane

From: Sneha Gunda ***@***.***>
Sent: 03 January 2022 20:49
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Juliane Franze ***@***.***>

[2022-01-04 12:29] MayankBargali-MSFT commented on #85960
@lindacmsheard Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-04 12:30] MayankBargali-MSFT commented on #85952
@craigshoemaker Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-04 12:40] ethanhou99 commented on #85941
Hi there, thanks for the quick reply and I believe that's exactly the case. Is that means for the basic pricing tier, users are not able to deny the public network access?

[2022-01-04 12:42] RohitMungi-MSFT commented on #85947
@AlphaBun I believe you should be able to access via SSH if you enable the same from advanced settings and connect from within the private virtual network.

I have not tried this scenario before but as per below message, could you try within the private network with the private IP of the instance?

![image](https://user-images.githubusercontent.com/46958063/148060441-7e0a9875-e3aa-4a37-bb31-aa5216

[2022-01-04 12:56] ram-msft commented on #85956
@ribumann Thanks for the question. We are investigating the issue and will update you shortly.

[2022-01-04 13:07] riptusk331 commented on #85471
We are also encountering this issue sporadically now with a container group created via Logic Apps. I have made no changes to the container configuration or Logic App.

[2022-01-04 13:12] AnuragSingh-MSFT commented on #85875
@saimachi, can you please check if you have any failing pods for this deployment using `kubectl get pods -A`?
If you see failing pods, please use `kubectl describe` command on that pod to get more details.

[2022-01-04 13:14] TimO2221 commented on #85938
I am sorry but I do not remember the URL. I used the “Problem with page” link at the bottom of the page to report the issue and thought it would include the needed information.

From: Gitarani Sharma ***@***.***>
Sent: Monday, January 3, 2022 9:59 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Petteys, Kevin (CCI-Atlanta-CON) ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [MicrosoftD

[2022-01-04 13:23] SaiKishor-MSFT commented on #85720
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-04 13:23] #85720 closed

[2022-01-04 13:25] PramodValavala-MSFT commented on #85694
@imeya the limits here are based on the underlying [TCP connection states](https://users.cs.northwestern.edu/~agupta/cs340/project2/TCPIP_State_Transition_Diagram.pdf). Active is for connections in the `Established` state and the total count includes connections in the `CLOSED_WAIT` state.

We have assigned this issue to the content author to review and update accordingly.

[2022-01-04 13:26] 0Modfather0 opened #85965 "Include Guidance on Disabling Defender for Cloud (Azure Defender)"
This article needs to include guidance on disabling Microsoft Defender for Cloud (azure defender) on the subscription where you are creating the VM to be captured, or disabling it for the VM itself. The VMs are enrolled automatically and silently so it is easily overlooked.

Defender for Cloud integrates with Defender for Endpoint. It does something to the VM that survives the process of being gen

[2022-01-04 13:46] Blackmist commented on #84957
Hi @gary918 sorry for the late response; I've been out of office the past month.

I suspect this may only apply to the default ACR for the workspace and may be related to one of the limitations listed in this article where the workspace can't use ACR to directly build images if the ACR is behind the VNet. Instead, a compute cluster has to be used.

I've forwarded the question to the development te

[2022-01-04 13:53] SwathiDhanwada-MSFT commented on #85953
@WenJason Yes you are right. Seems we can assign the Policy definition at root management group. As per my understanding, the same sentence can be interpreted as if the definition location is subscription or management group , the policy rules applies to its sub resources of the scope.

@georgewallace Can you please provide your inputs on this?

[2022-01-04 14:03] wcom939 commented on #85752
Extension bundle specified, skip install extension
Using port : 7,071

Azure Functions Core Tools
Core Tools Version:       4.0.3971 Commit hash: d0775d487c93ebd49e9c1166d5c3c01f3c76eaaf  (64-bit)
Function Runtime Version: 4.0.1.16815

info: Microsoft.AspNetCore.Hosting.Diagnostics[1]
      Request starting HTTP/2 POST http://127.0.0.1:51276/AzureFunctionsRpcMessages.FunctionRpc/EventStream applic

[2022-01-04 14:04] wcom939 commented on #85752
Host.json file is:
{
  "version": "2.0",
  "extensionBundle": {
    "id": "Microsoft.Azure.Functions.ExtensionBundle",
    "version": "[1.*, 2.0.0)"
  }
}

[2022-01-04 14:05] wcom939 commented on #85752
@AjayKumar-MSFT  @SamaraSoucy-MSFT  ^

[2022-01-04 14:06] wcom939 commented on #85752
Also to add the link referenced "https://aka.ms/func-min-bundle-versions" doesnt exist either and redirects to bing

[2022-01-04 14:39] jeffpatton1971 commented on #85815
@darklove0504 per your documentation for viewing annotations it does not mention deployments anywhere. Am I missing something?

https://docs.microsoft.com/en-us/azure/azure-monitor/app/annotations#view-annotations

[2022-01-04 14:46] pohorely opened #85966 "Azure Load Testing - JMeter version"
What version of JMeter is supported/compatible with the Azure Load Testing? I want to eliminate potential issues with the JMX file...

FYI @jjindrich

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e6298d0-fb86-ce3f-8f5b-20c2180ae87e
* Version Independent ID: c97971f5-e7af-b32c-39ae-0b87c82abde7
* Content: [Quickstart:

[2022-01-04 14:51] jjindrich commented on #85966
Hi @johnsta please can you help share supported version ?

[2022-01-04 14:55] MonikaReddy-MSFT commented on #85946
@nubgamerz - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-04 15:04] troll-os commented on #40789
This was mark as Resolved even though the issue is still here and running Node on Windows machines is a nightmare...

[2022-01-04 15:16] AshokPeddakotla-MSFT commented on #85891
@zaalion Did you get a chance to see my response? Do let me know if you have any further queries.

[2022-01-04 15:22] dominicbetts commented on #85225
Hi @simonpucher - that link is now working again. We had an issue where some content was accidentally removed.

Regards, Dominic

[2022-01-04 15:22] dominicbetts commented on #85225
#please-close

[2022-01-04 15:22] #85225 closed

[2022-01-04 15:28] SamaraSoucy-MSFT commented on #85948
The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. We actively look through posts in the forums, and will do our best to get you going in the right direction!

[2022-01-04 15:28] #85948 closed

[2022-01-04 15:29] SamaraSoucy-MSFT commented on #85955
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2022-01-04 15:29] SamaraSoucy-MSFT commented on #85957
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2022-01-04 15:32] dominicbetts commented on #83888
Hi @jimbobbennett - checking in to see if you had any comments or thoughts about my suggestion above?

[2022-01-04 15:53] saimachi commented on #85875
Hi @AnuragSingh-MSFT,

Thanks for your comment, but from the image I posted, it appears that all pods are running. Are there any other debug steps I can try?

[2022-01-04 15:54] QuetzalcoatlRosso opened #85969 "Pros/cons vs repo integration"
Illustrating some of the pros/cons of creating a workspace library (e.g. with a wheel) vs handling arbitrary files via direct [repo integration](https://docs.microsoft.com/en-us/azure/databricks/repos#enable-support-for-arbitrary-files-in-databricks-repos) could be helpful for developers deciding between these two approaches.

For example, one advantage of the workspace library approach may be tha

[2022-01-04 15:54] pettermoe95 commented on #84400
Hello?

[2022-01-04 15:59] malachma opened #85970 "Steps to generalize a VM are incorrect"
The current steps for Linux are not correct. They work only if the images are not based on cloud-init.
Step 2 should be changed to the following steps
<-
 sudo waagent -deprovision+user
 sudo cloud-init clean --logs
_Note: The step 'cloud-init clean --logs' need to be executed on cloud-init enabled VMs only.
          A cloud-init enabled VM can be easily identified if the directory '/etc/cloud' d

[2022-01-04 16:10] whhender commented on #85918
@TheWhiteWeasel - Thank you! That will be updated today.

[2022-01-04 16:10] whhender commented on #85918
#please-close

[2022-01-04 16:10] #85918 closed

[2022-01-04 16:12] SnehaAgrawal-MSFT commented on #85645
@strueder Thanks for asking question! Could you please share the exact repro steps/how the project is structured to help you better on this.

[2022-01-04 16:21] tschn commented on #85919
Thanks for your reply, It seems that I was on the original front door service instead of the preview, I was confused by the fact that my UI showed Azure Front door preview even though it was the original front door
![Screenshot from 2022-01-04 09-52-17](https://user-images.githubusercontent.com/4493756/148081731-e844d546-d0bd-4424-af7f-32f20b3394a6.png)

[2022-01-04 16:21] #85919 closed

[2022-01-04 16:30] HeidiSteen commented on #85940
@racchen, yes the double quotes are necessary for a phrase.  The first set of quotes is just JSON.  The second set of quotes is what makes "family resort" a single term instead of two terms.  Does that help??

[2022-01-04 16:36] avneraa opened #85972 "Misleading doc, missing key information"
It turns out that the document is missing the keyword "blobs" needed to filter the folder path, so the example and explanation are **wrong** as it relates to blob path. It took the EventGrid engineer (Brandon) a day to figure this out. Correct docs could have saved many people time and wasted effort, see this ICM for details: https://portal.microsofticm.com/imp/v3/incidents/details/280375286/home

[2022-01-04 16:46] PramodValavala-MSFT commented on #85786
@justinp-kr Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2022-01-04 16:53] mimckitt commented on #85491
#reassign: @ju-shim

[2022-01-04 16:53] PramodValavala-MSFT commented on #85797
@chjinche Unfortunately, there is no library or API for you to leverage the same expressions outside of Logic Apps. For the exact scenario that you posed, you could approach it in the following way with 2 Logic Apps as follows

1. The first Logic App would be a HTTP Triggered one which would call the HTTP Action with the expression that you shared above
2. The second Logic App would use the recurr

[2022-01-04 16:53] #85797 closed

[2022-01-04 16:53] baanders commented on #85435
Popping back in to note that I've shared this entire thread with the product team and we've created a bug around these tenant issues.

Thank you for sharing the details of your experience!

[2022-01-04 16:57] mahsirat-atiye opened #85973 "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independent ID: 7fe76247-c969-2068-2c3c-bf327fbbe39e
* Content: [Quickstart - Run a Spark job on Azure Databricks Workspace using Azure portal](https://docs.microsoft.com/en-us/azure/databricks/scenarios/

[2022-01-04 16:57] mahsirat-atiye commented on #85973
Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.

[2022-01-04 17:04] rbgigo commented on #85471
I have opened a case with MS. We pinpointed the problem to a malfunction of something vnet relevant. ACI instances created based on older API versions relied on a so called network profile. This has been deprecated in July 2021. I now created the ACI instances in the same vnet below a new subnet based on the new subnet capabilities (see the yaml reference). With that the problem was gone, so far c

[2022-01-04 17:09] serbathome commented on #85890
Thanks, guys! Appreciate your support!

[2022-01-04 17:13] AlexandraKemperMS commented on #85890
Hi @serbathome, yes, we are currently working on updating the docs to support .NET 6. We can prioritize the key vault doc and @Muksvso or I can get back to you when it is available.

[2022-01-04 17:14] VikasPullagura-MSFT commented on #85610
@hemanthmatam
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-04 17:15] monkeycoder99 opened #85974 "The documentation for debugging APIM policies does not work"
The documentation is either incorrect or lacking sufficient detail. When I follow the process, I get the following in the Debug Console:

![image](https://user-images.githubusercontent.com/35289977/148097516-1142ebe0-4ae7-445e-b7ad-5705b6ac98f1.png)

Essentially, there's a 404 when attempting to connect to the gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-01-04 17:20] VikasPullagura-MSFT commented on #85587
@arun-mittal
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-04 17:20] VikasPullagura-MSFT commented on #85587
@
Can you please check and add your comments on this doc update request as applicable.

[2022-01-04 17:23] VikasPullagura-MSFT commented on #85884
@tshaiman

You can use the Azure Key Vault Provider for Secrets Store CSI Driver in an AKS cluster:
https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver

[2022-01-04 17:29] PramodValavala-MSFT commented on #85972
@avneraa Thanks for catching that and apologies for the experience! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

Do note that the snippets here are primarily to highlight how filtering is achieved in general and it is always best to check the [event schemas](https://docs.microsoft.com/en-us/azure/event-grid/system-topics) for each service for refe

[2022-01-04 17:30] tshaiman commented on #85884
will it work with AzureFile Spec ?  Secrets Store CSI Driver is used to mount secrets to Pod , but Azure File spec is not a pod.

[2022-01-04 17:37] VikasPullagura-MSFT commented on #85401
@kof-f Thanks for sharing the details.

@sinePaul
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-04 17:37] #85401 closed

[2022-01-04 18:02] philspokas opened #85975 "Reference github repo vs. doc page"
Consider referencing the github repo  https://github.com/maxbube/mydumper which includes usage instead of "MYDUMPER & MYLOADER DOCUMENTATION" page at https://centminmod.com/mydumper.html

The github repo appears to be active while the documentation site is "a copy of the Mydumper documentation"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-01-04 18:05] #85972 closed

[2022-01-04 18:10] PratMoha opened #85976 "Getting error while deploying an application to the backend web app"
I used the terraform script, was able to successfully create the infra, but while deploying the backend application using Visual Studio Code Azure extension I'm getting below error

`The deployment failed with error: Error 403 - Forbidden The web app you have attempted to reach has blocked your access.`

After removing the private endpoint I was able to deploy the web app.
Do I need to make some a

[2022-01-04 18:16] MartinJaffer-MSFT commented on #85969
Thank you for bringing this to our attention.  I have assigned this to the content owner for review.

[2022-01-04 18:18] MartinJaffer-MSFT commented on #85973
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-01-04 18:22] VikasPullagura-MSFT commented on #85884
@tshaiman Quickly checked with internal team on this and got some info.

Only mounting Azure File using SMB protocol requires account key, and if secret is not provided in PV config, it would try to get `azure-storage-account-{accountname}-secret` in the pod namespace, if not found, it would try using kubelet identity to get account key directly using Azure API.

Mounting Azure File using NFS prot

[2022-01-04 18:33] Dbakevlar commented on #82042
As Oracle has updated this document with our partnership, I will need to refer this to Jean-Roch Trannoy.

[2022-01-04 18:51] EnzoGorlomi23 opened #85978 "B2C - conditional access - MFA prompt"
Trying to setup Conditional access MFA for B2C custom policy.
B2C is able to detect a risky user but does not prompt for a MFA.

In id_token we are able to see conditionalAccessClaimCollection = mfa but there is no prompt.

Any guidance ? I have not received sufficient support from a support ticket. Any help is appreciated.

`<DisplayControl Id="verifyEmailOrPhoneControl" UserInterfaceControlType=

[2022-01-04 19:01] JasonWHowell commented on #85789
Thanks! I'll relay this to the Docs dev team.

[2022-01-04 19:08] SamaraSoucy-MSFT commented on #85978
Hi @EnzoGorlomi23

If you could send an email to my attention to azcommunity@microsoft.com with the support case number I can look into the case and work with the support engineer assigned to resolve it.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums if you would like

[2022-01-04 19:08] jhirono commented on #84957
@gary918 I think ACR should have a private endpoint or a service endpoint for AzureML Vnet. In our document, we explain that with this sentence: "Your Azure Container Registry must be in the same virtual network and subnet as the storage account and compute targets used for training or inference.".

[2022-01-04 19:18] simonpucher commented on #85225
Awesome! Thanks @dominicbetts

[2022-01-04 19:18] Plus3IT-Azure opened #85980 "Script used to create Automation RunAs Accounts"
Hello, the article itself is great and was a good read. I'd like to know if it's possible to be given the script that's used on the backend to create automation RunAs accounts. They often expire without me knowing and i'd like to add the script into a runbook so it deploys every few months or so. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-01-04 19:40] vpetersen opened #85982 "Specifying node versions"
You shouldn't specify the node version. This caused a major issue for us after some recent changes and we were told by support to only ever use the ~ version method. Like ~14.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4

[2022-01-04 20:08] OsvaldoRosado commented on #85815
@jeffpatton1971 From the code sample in "Create release annotations with Azure CLI", the key is that this code sets `Category = "Deployment";`.

We'll update the documentation to clarify that this is currently the only supported value and that it's intentionally not parameterized. Definitely can understand it being unclear.

Thanks for calling this out!

[2022-01-04 20:32] ShannonYLu opened #85983 "Data dowloand issue: 404 - File or directory not found."
[Enter feedback here]
Cannot download pre-zipped files from https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FGJ as the first line of the "Download the flight data" section instructs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f345421f-01f3-d49e-24f4-d8e151d2b5d9
* Version Independent ID: 6ad56353-e857-52

[2022-01-04 20:42] ecfan commented on #85750
@ChrisMcKee278 Thanks, I've been on vacation, but an update will publish after the PR is merged later today.

[2022-01-04 21:09] #85750 closed

[2022-01-04 21:45] tfitzmac commented on #85620
I confirmed that storage accounts are zone redundant. However, because of an anomaly it also seems to return zones, which is why it works with pickZones. I don't know if that is related to differences in SKUs or some other cause. I'll see if I can find a more definitive answer.

[2022-01-04 21:50] vechkar commented on #51708
Any update on this issue? Function restart is not picking the latest version of the KeyVault secrets, only configuration change refreshes the latest version of the KeyVault secrets. Its high maintenance to continue with workaround if secret is referenced in multiple functions/app services.

[2022-01-04 22:05] ecfan commented on #80482
Hi @rudolphjacksonm,

Consumption-based logic apps support user-assigned identities for specific built-in and managed connector operations as described here: [Where you can use a managed identity - Authenticate access to Azure resources with managed identities in Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity?tabs=consumption#where-you-can-use-a

[2022-01-04 22:11] pilcherd opened #85984 "Feedback - is Windows in the IoT Edge future?"
Reading (as a first reader of the technology) this page on IoT Edge platform deployment, it appears that the latest 1.2 version of IoT Edge is not supported on Windows.

_Currently, IoT Edge version 1.2 does not support IoT Edge for Linux on Windows_
_IoT Edge version 1.2 does not support Windows containers. Windows containers will not be supported beyond version 1.1_

As a Microsoft platform deve

[2022-01-04 22:13] James-Hamil-MSFT commented on #84768
Hi @pwalleni , so sorry for the delay in response. December is a weird time! I've been going back and forth with the product team and should have an answer soon.

[2022-01-04 22:16] DerekHerman-MSFT commented on #85983
please follow https://github.com/MicrosoftDocs/azure-docs/issues/85873 for updates

[2022-01-04 22:16] #85983 closed

[2022-01-04 22:18] jeffpatton1971 commented on #85815
@OsvaldoRosado Thanks so much, really appreciate that!

[2022-01-04 22:59] SamaraSoucy-MSFT commented on #85961
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-04 22:59] SamaraSoucy-MSFT commented on #85965
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-04 23:05] yuriwoof commented on #85761
Thank you for your clear explanation and sorry for my late reply @sherlock1982
I asked this internally and turned out this was under discussion.

I agree with your opinion, but this might be changed someday.

https://github.com/MicrosoftDocs/azure-docs/commit/09067a02ffb1a3a157293360beca3a7321a722a8

![image](https://user-images.githubusercontent.com/1770342/148135774-e085fd8d-4c40-4b18-be02-21536

[2022-01-04 23:27] ecfan commented on #83518
Hi @RHooijer,

To avoid duplicate content, which is difficult to maintain in sync, managed connector limits appear on their respective connector reference pages: [File System connector reference](https://docs.microsoft.com/en-us/connectors/fileconnector/)

@SamaraSoucy-MSFT: #please-close

[2022-01-04 23:27] #83518 closed

[2022-01-05 00:07] ecfan commented on #81849
#assign @ecfan

[2022-01-05 00:08] JackStromberg commented on #84596
GatewayManager service tag will work instead of having to use the Internet tag.  You may receive the following error if you have a deny rule that will block AzureLoadBalancer: _"Failed to save network security group for subnet x. Error: Network security group Y blcoks incoming internet traffic on ports 65200 - 65535 to subnet z associated with Application Gateway a. This is not permitted for Appli

[2022-01-05 00:08] #84596 closed

[2022-01-05 00:23] stantoni-msft opened #85986 "Powershell cmdlets out of date"
In this section: https://docs.microsoft.com/en-us/azure/backup/encryption-at-rest-with-cmk?tabs=powershell#enable-system-assigned-managed-identity-for-the-vault

The following cmdlet is not correct: Update-AzRecoveryServicesVault -IdentityType SystemAssigned -VaultId $vault.ID
As VaultId is no longer a valid parameter for Update-AzRecoveryServicesVault

It appears that Update-AzRecoveryServicesVau

[2022-01-05 00:40] dave-read opened #85987 "Examples should include target upload container with special characters (e.g. $web)"
The examples includes a JSON fragment and pointer to [deviceToCloudUploadProperties](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2020-11#devicetoclouduploadproperties) but don't include an example of how to specify "special" valid container names like ```$web```  for a [container hosting static web content](https://docs.microsoft.com/en-us/azure/storage/blob