[2022-07-20 14:17] andyjballgit opened #95993 "When using Forced Tunnelling with Azure Firewall , tracert and Network Watcher Connection troubleshoot will show an AzureFirewallManagementSubnet IP as the first hop"
[Enter feedback here]
as per subject, just working a case with Support , where we saw this and has caused confusion .

It would be call this quirk out in this document somewhere , as this has potential to confuse people / lead people down a rabbit hole of troubleshooting incorrect routing etc

just a thought, thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-07-20 14:26] baanders commented on #95964
Thanks @Wiiki0807 for noticing that the folder name has changed. I'm updating the path in the document to *digital-twins-samples-main\AdtSampleApp\SampleClientApp* in [this pull request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/205350), and I'll have Git automatically close this issue when the solution is merged.

Note that the outer folder is *digital-twins-samples-main* when you downl

[2022-07-20 14:29] dknappettmsft commented on #78463
Closing for now as this seems to up to date.  IT can be re-opened if it's still an issue.

#please-close

[2022-07-20 14:29] #78463 closed

[2022-07-20 14:37] MayankBargali-MSFT commented on #95956
@waystilos Thank you for your feedback! We will review and update as appropriate.

[2022-07-20 14:41] MayankBargali-MSFT commented on #95973
@sbloyehmcm Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-20 14:42] dknappettmsft commented on #84478
Closing the loop on this - the service tag was changed from AzureCloud to AzureFrontDoor.Frontend on January 13th.

#please-close

[2022-07-20 14:42] #84478 closed

[2022-07-20 14:44] MayankBargali-MSFT commented on #95986
@rahulvmarathe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-20 14:45] #95964 closed

[2022-07-20 14:46] MayankBargali-MSFT commented on #95988
@rahulvmarathe  Thank you for your feedback! We will review and update as appropriate.

[2022-07-20 14:57] kryukovaeks commented on #64530
Hello,
My data of 419.2 MB can not be uploaded

[2022-07-20 15:10] Khivar opened #95994 "OpenID Connect : ID Token iss claim does not match issuer"
I am using the OpenID Connect implicit flow with `response_type=id_token` described on this page with the common tenant :

`Authority: https://login.microsoftonline.com/common/v2.0`

The configuration (https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration) shows :

`issuer : "https://login.microsoftonline.com/{tenantid}/v2.0"`

The configuration for the organizations tenan

[2022-07-20 15:13] JamesTran-MSFT commented on #95994
@Khivar
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-20 15:20] tfitzmac commented on #95959
Yes, in this case, it seems the resource provider needs to be registered to query the available pricing tiers. The portal launches the registration before creating the resource.

We could add some clarification that registration may happen before deploying the resource.

[2022-07-20 15:33] sblair01 opened #95996 "Route Advertisement from On-Prem is possible"
[Enter feedback here]

The default route is able to be advertised from on-prem. This is referenced in several other docs:
https://docs.microsoft.com/en-us/azure/azure-vmware/disable-internet-access
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/scenarios/azure-vmware/eslz-network-topology-connectivity#scenario-4-egress-from-azure-vmware-solution-through-00000-advertisement-from-on

[2022-07-20 15:34] mike-urnun-msft commented on #95977
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-20 15:38] omarv74 opened #95997 "Remove reference to preview feature that is now GA"
See text in blue box here: https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-configure?view=azuresql&tabs=azure-powershell#provision-azure-ad-admin-sql-managed-instance

On the second paragraph, it says "In public preview" and this is keeping customer from leveraging the feature.

However, it appears the feature is no longer in Preview, please see:

1.  Comment from July

[2022-07-20 15:43] gh-andre opened #95998 "The linked Node.js example uses undocumented and erroneous reference to the utf8 package"
This page links to the one providing examples in various languages. Search for this text to locate the link:

The linked page has no way to log a bug against it, hence this one. I understand if you just want to close it and keep user-contributed content on that page as is.

Character encoding matters here because hashing is done at the byte level and this example will mislead people. Here's the No

[2022-07-20 15:48] hjchin opened #95999 "Misleading description?"
It may be a misleading description here at https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#mobile

The following samples show public client mobile applications that access the Microsoft Graph API, or **your own web API** in the name of the user. These client applications use the Microsoft Authentication Library (MSAL).

I have checked all individual pages and there i

[2022-07-20 15:49] jberry777 commented on #95893
Thanks, yes this is a serverless account. It turns out I don't need to  change regions. Cosmos DB is able to communicate with the Function App when placed into the same Vnet subnet.

[2022-07-20 15:54] Oury-MSFT commented on #95997
@omarv74 Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-07-20 15:56] ChaitanyaNaykodi-MSFT commented on #95993
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-20 16:06] mhoult22 opened #96000 "How to use default UDV value so jmx file can also be run from JMeter"
Hi.  I'm really struggling to find a solution to this, please could you help.
We have a jmx that we can run in an Azure release pipeline (via command line script) or locally in JMeter.  When run in a release pipeline we can specify a different value for one of the UDVs if we require.  We do this by having the value for the UDV for example _Thread_ set as  `${__P(Thread,10)}` in JMeter, so it will

[2022-07-20 16:18] ExpressDead opened #96002 "Horizontal Pod Autoscaler Determination Timing Issue: AKS"
There seems to be a discrepancy around the timing of when the horizontal pod autoscaler checks the Metrics API to determine need for scaling up AKS pods.

Under the heading [Horizontal Pod Autoscaler](https://docs.microsoft.com/en-us/azure/aks/concepts-scale?source=docs#horizontal-pod-autoscaler) the document gives the default time as *60 seconds*. However, under the [Cooldown of scaling events](h

[2022-07-20 16:24] GitaraniSharma-MSFT commented on #95993
@andyjballgit , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-07-20 16:35] GitaraniSharma-MSFT commented on #95909
@t-bzhan , thank you for bringing this to our notice. We have assigned this to the content owner/author for review.

@mbender-ms , request you to check if the guidance for sequence of operations to set up service endpoints has changed as the guidance in Azure portal UI contradicts with the doc.

[2022-07-20 16:39] Robert-Kostecki opened #96004 "Creating Azure Databricks with NAT Gateway using the template provided raises error "Cluster terminated. Reason: Azure Vnet Configuration Failure""
I have followed the NAT Template step (2nd bullet point from the bottom).

Replication steps:
1.  Click on Azure Template on the 2nd bullet point from the bottom or use the direct link below. [https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-nat-gateway
](url)
2. Click "Deploy to Azure" and log i

[2022-07-20 16:53] MarileeTurscak-MSFT commented on #95961
@amgmdz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-20 16:58] JamesTran-MSFT commented on #95920
@meierval
Thank you for your time and patience on this!

Can you share what specific PEM download isn't working for you - is it all of them, or just a specific few? When downloading the `Baltimore CyberTrust Root` and `DigiCert Basic RSA CN CA G2` PEM files, I didn't run into any issues.

![image](https://user-images.githubusercontent.com/36619112/180040120-8602d1fd-406e-4b9c-8a3b-cd0d54c97bd8.png

[2022-07-20 17:01] Karishma-Tiwari-MSFT commented on #95996
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-20 17:04] tamram commented on #77553
#reassign: @normesta

[2022-07-20 17:23] mike-urnun-msft commented on #93785
@advaidya21 I wanted to revisit this thread and add the following information through which you should be able to achieve the integration of your in-house IdP service with APIM:

- [Announcing the general availability of two key features in Azure AD B2C](https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/announcing-the-general-availability-of-two-key-features-in-azure/ba-p/566362

[2022-07-20 17:35] ravigurnatham opened #96006 "java.lang.NoClassDefFoundError: org/apache/spark/ml/util/MLWritable$class"
I have the the following code for azure cognitive service used in azure databricks.

[code]

But it throwing an error "java.lang.NoClassDefFoundError: org/apache/spark/ml/util/MLWritable$class"

Detailed Error :
[code]

**Cluster details  :**

10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12)

**Libraries :**

<img width="882" alt="Screen Shot 2022-07-20 at 12 34 16 PM" src="https://user-images.g

[2022-07-20 17:45] RobKraft opened #96007 "How do I get to the App Service File System?"
I think I have enabled "Failed Request Tracing" , but where EXACTLY do I go to see the "App Service File System" to see the logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics logging - Az

[2022-07-20 17:47] ctimonjr opened #96008 "Azure Update Management and Failover Clustering"
Could you make a statement on this page re: using Update Management to patch Failover Clusters in general and include statements where clusters are running Storage Spaces and\or Storage Spaces direct?  You may need to reach out to the cluster product team for assistance with this.  Steve Ekren or Rob Hindman.

Thanks.

Chuck

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-07-20 17:51] endy65 opened #96009 "Passphrase for the configuration server"
Hi,
I have just installed a mobility agent manually. got to a section where the passphrase is required.
tried the genpassphrase.exe -v > MobSvc.passphrase. but it came back with an error  saying "is not recognised as an internal or external command" I am very sure I typed everything correctly.  Meanwhile I don't see this  path .....**%ProgramData%\ASR\home\svsystems\bin**
but I have this **C:\Prog

[2022-07-20 17:54] bandersmsft commented on #95829
@jzuchora87
@Dushelov

Hi There. An SPN can have only one role. I'll update the article to say that.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/205385

For your situation, the EA Purchaser role is has all the permissions of the EA Reader role. We suggest that you assign the EA Purchaser role to your SPN.

#please-close

[2022-07-20 17:54] #95829 closed

[2022-07-20 18:12] adrastogi opened #96012 "Clarify whether this page applies to UWP apps or not"
I was reading the article here on using Application Insights to add instrumentation to a Windows desktop app:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/windows-desktop

That article states in the introduction that if the developer is writing a UWP, they should use App Center; the App Center link points to [this page](https://docs.microsoft.com/en-us/azure/azure-monitor/app/mobile-ce

[2022-07-20 18:19] pettewayshade opened #96013 "Add Row for Export expiring secrets and certs (enterprise apps)"
Is it possible to add a new row to the samples table to include link to PS sample for exporting expiring secrets and certs for **Enterprise Apps**?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48d644c2-348a-b70c-9fc4-3b0ce2ab70f7
* Version Independent ID: 555d8635-1e85-2500-1dec-f8ff1d6f295a
* Content: [Power

[2022-07-20 18:35] bandersmsft commented on #95934
@jason934 I've updated the article with your recommended change.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/205394

#please-close

[2022-07-20 18:35] #95934 closed

[2022-07-20 18:39] AjayKumar-MSFT commented on #95925
davmhelm, No worries! Thanks for taking time to post your question. Much appreciate the update.

[2022-07-20 18:40] Josh-Duncan opened #96014 "Add minimum iOS App Version"
Update to ensure iOS Authenticator App 6.6+ is required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless sign-in with Microsoft Authenticator - Azure Active Directory - Microsoft Entra](https://doc

[2022-07-20 18:42] JasonFreeberg commented on #90353
PR: https://github.com/MicrosoftDocs/azure-docs/pull/96015

[2022-07-20 18:43] wjpigott opened #96016 "Please add NOTE: or Warning Section. NTLM v1 needed for Domain Joins"
Please add to an existing section or a new Note: section to state that if when hardening Azure ADDS and NTLM v1 is disabled new Virtual Machines that require to be domain joined will fail.  Or state it another way saying a requirement to Domain join Azure virtual Machines is to have NTLM v1 enabled.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-07-20 18:46] MarileeTurscak-MSFT commented on #96014
@Josh-Duncan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-20 18:50] johndowns commented on #95980
@danijam The original intention was to illustrate the idea of how you access the subnet ID. It wasn't designed to be a complete, deployable Bicep file though. The reason is that we have several snippets, and we'd end up extending their length (and the overall page length) to include everything you need to make it deployable. They'd also need to include extra code that isn't relevant to the scenari

[2022-07-20 18:50] JasonFreeberg commented on #95359
@roofiq -- How long does your application take to start up on your local machine? What App Service Plan SKU are you on?

You said, "it keeps on retrying" but I only see two responses. Did you cut off some of the logs?

[2022-07-20 18:58] bperki8 opened #96017 "I think you have a link going to the wrong place."
The last link in the first paragraph of the section called ["Register your application with an Azure AD tenant"](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app?tabs=dotnet#register-your-application-with-an-azure-ad-tenant) seems to go to the wrong place.

The link text says "Quickstart: Register an application with the Microsoft identity platform", but the URL goes to a

[2022-07-20 18:59] rdeltcheva commented on #95955
Hi. In a HANA scale-out with HSR and Pacemaker environment, one would have naturally even number of nodes in the Pacemaker cluster (and more than 2). The majority maker node is needed to achieve odd number of cluster nodes and avoid split-brain scenario. Two-node pacemaker clusters are exception to the rule (for instance, there is extra corosync configuration to indicate that a Pacemaker cluster i

[2022-07-20 19:06] DeanGross opened #96018 "Using one instance of EPM for many Azure Tenants"
Please update the instructions to tell us how to monitor subscriptions that are in an Azure tenant that is different than the one used to onboard EPM

We have many azure tenants that we would like to monitor from a single EPM portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7760b63d-e8bd-bdc1-4411-f2febe387f66
* V

[2022-07-20 19:07] vivuu1989 opened #96019 "Helm upgrade getting failed when added the containerResource Metrics to the HPA configuration"
we are using HPA api version  **"apps/v1"** and deployment api version is **"apps/v1"**.

Our AKS version 1.22.6 and we have added the HPA metrics for the "**containerResource**" recently in addition to the pod metrics as given below. But after that when we tried for the helm upgrade for the releases, the releases getting failed with an error saying that

    "UPGRADE FAILED: cannot patch "my-app"

[2022-07-20 19:18] tamram commented on #96017
#reassign: @pauljewellmsft

[2022-07-20 19:18] thaav commented on #94928
Any update on this?

[2022-07-20 19:26] JasonFreeberg commented on #94768
@raviveritread -- The issue I foresee with having a longer expiry (or no expiry) for `x-ms-routing-name` is that users could indefinitely be routed to a non-production slot, which means they would never get to the production release of the application if you were to roll out a new build.

Could you explain in more detail your particular use case?

(For the purposes of this doc issue, we don't have

[2022-07-20 19:26] #94768 closed

[2022-07-20 19:33] KranthiPakala-MSFT commented on #96004
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-07-20 20:01] pauljewellmsft commented on #96017
Thanks for bringing this issue to our attention! The link has been fixed and the change should go live later today.

[2022-07-20 20:22] #95908 closed

[2022-07-20 20:30] mumurug-MSFT commented on #95908
@timschonborn We have updated docs and it will be live once its merged. We will now proceed to close this thread. Thanks again for bringing this to our attention.

[2022-07-20 21:19] austinmccollum commented on #95656
@BenjiSec I am pretty sure the actions and conditions refer to the Sentinel Playbook triggered by an incident. I'm doing a bit more digging to confirm and I'll reply here when I get the answer.
https://docs.microsoft.com/en-us/azure/sentinel/automate-responses-with-playbooks#azure-logic-apps-basic-concepts

[2022-07-20 21:26] AuWiMo commented on #95949
It seems relevant that the information on how to use the operations should be in the documentation somewhere. And I did search for a sdk sample that had what I was looking for and was unable to find it. I suggest that implementation information be added to the document or at least that git be linked.

[2022-07-20 21:28] adtuck opened #96022 "Instructions on changing profile picture in Azure AD is incorrect because Profile no longer exists"
Hi there - It seems like there has been a chance to user management in Azure AD, and profile no longer is an option, so these instructions look to be incorrect. Specifically, we are looking to update profile pictures in Azure AD. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8c77b2-27b0-269c-6e96-5ca02b8a4f1

[2022-07-20 21:32] Oury-MSFT commented on #95997
@GithubMirek Please see feedback above from customer. Could you please confirm whether this feature is in public preview?

[2022-07-20 21:50] JamesTran-MSFT commented on #96022
@adtuck
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-20 22:42] MarileeTurscak-MSFT commented on #95979
@RavichandraBadeka
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-20 22:47] #90614 closed

[2022-07-20 22:52] KyleHammack opened #96025 "Request Routing Rule section needs to include priority"
Current instructions for creating request routing rule do not include priority parameter and should be updated to include.

Ex:
$frontendrule = new-azapplicationgatewayrequestroutingrule -name httprule -ruletype basic -httplistener $defaultlistener -backendaddresspool $defaultpool -backendhttpsettings $poolsettings

should be

$frontendrule = New-AzApplicationgatewayrequestroutingrule -name httpru

[2022-07-20 22:53] MarileeTurscak-MSFT commented on #95989
@AinsBlack
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-20 22:55] MarileeTurscak-MSFT commented on #95989
Thanks! I made a pull request to update the reference. https://github.com/MicrosoftDocs/azure-docs-pr/pull/205431

CC @guywi-ms

[2022-07-20 22:55] #95989 closed

[2022-07-20 22:57] #96017 closed

[2022-07-20 23:06] MarileeTurscak-MSFT commented on #95998
@gh-andre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-20 23:12] taeuba opened #96026 "System time impacts latency"
If it makes sense to add it to this document, I wanted to share that if a machine has abnormally high agent latency across all metrics and across multiple workspaces, the user should check their system time and make sure it is in sync. My team recently spent many hours troubleshooting this only to find out that the system time was 6 minutes behind because it had stopped syncing with the domain con

[2022-07-20 23:30] matthchr opened #96027 "Missing documentation for `xms_mirid` claim"
See #32131 as well.

This page is missing documentation about the `xms_mirid` claim. Can we get it added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsoft identity platform access tokens - Microsoft E

[2022-07-20 23:45] klawrawkz opened #96028 "Yup - Uncaught Error: Unsupported token audience: \"microsoft.graph""
Hi, my name is klawrawkz. I am fine. How are you?

When I use the "Try It" on the Powershell docs page, I get various errors. This is a bit discouraging. As an end user/client I'd expect that simple commands such as the one I highlight below would run without a hitch. Sadly nothing in the "Try It" environment appears to be working. I'm authorized out the ass, I'm authenticated, context is set to t

[2022-07-21 00:21] ChaitanyaNaykodi-MSFT commented on #96025
Thank you for your feedback! We will review and update as appropriate.

[2022-07-21 00:40] kobulloc-MSFT commented on #96002
@ExpressDead Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-07-21 00:43] kobulloc-MSFT commented on #95780
@kpkool We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-21 00:43] #95780 closed

[2022-07-21 00:52] rp2839 opened #96029 "$probe is not defined."
In the code snippet to add a probe to an existing application gateway, line 8 uses the variable $probe which is not defined. It is defined in the previous code snippet, but it's not clear if that same line is needed or if line 5 should be $probe = instead of $getgw =

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7fd6

[2022-07-21 00:52] kobulloc-MSFT commented on #96002
@ExpressDead It looks like the time was updated to 60 seconds earlier this year but the following section was likely missed.  We are confirming this and will get a PR out to address this.

[2022-07-21 01:08] kev-cs opened #96030 "Incorrect or misleading information about partitioning in docs"
I believe that there is a mistake in the terms used regarding the (default) partitioning of a table, in the following sections:
- Do not over-partition
- Optimize clustered columnstore tables

For example, in the 4th paragraph of "Optimize clustered columnstore tables", it says "Each dedicated SQL pool table is partitioned into 60 tables."
I believe what is meant to be said is that each dedicated

[2022-07-21 01:18] krishnaHC43 commented on #95959
Hello @SwathiDhanwada-MSFT
In my observation, I have tested for APIM, Storage account instances:
In UAT Subscription, those are unregistered by default and automatically registering when the resources are creating.

As of now, `Microsoft.Bing` resource provider is registering automatically before creation of the resource.

[2022-07-21 01:35] GeethaThatipatri-MSFT commented on #95759
@ToothlessRebel I have not heard back from you yet.
We will proceed to close this issue now.If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-21 02:18] YutongTie-MSFT commented on #95979
Hello @RavichandraBadeka

Face service access is limited based on eligibility and usage criteria in order to support our Responsible AI principles. Face service is only available to Microsoft managed customers and partners. Use the [Face Recognition intake form](https://customervoice.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR7en2Ais5pxKtso_Pz4b1_xUQjA5SkYzNDM4TkcwQzNEOE1NVEdKUU

[2022-07-21 03:41] VikasPullagura-MSFT commented on #95955
@rdeltcheva Thanks for responding on this.

@LDavis-Msft Hope the provided information is helpful.

[2022-07-21 04:11] SwathiDhanwada-MSFT commented on #96008
@ctimonjr Thanks for your feedback.

Assigning to content author @SnehaSudhirG  for review.

[2022-07-21 04:14] SwathiDhanwada-MSFT commented on #96012
@adrastogi The redirected link applies to UWP apps. It is documented as part of the prerequisite.

![image](https://user-images.githubusercontent.com/48976275/180128669-c0a278dc-dcde-4349-beea-6ee29071f6e0.png)

Is this what you are looking for ?

[2022-07-21 04:16] kobulloc-MSFT commented on #95943
@Dbakevlar In the same vein, I'm expanding ASR since we only use Azure Site Recovery twice in the document.

[2022-07-21 04:18] SwathiDhanwada-MSFT commented on #96026
@taeuba Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-07-21 04:32] SwathiDhanwada-MSFT commented on #95786
@kpinel In your case, you are retrieving the values from names.json file and assigning to System.Object[] array. As it is not in JSON format , you are prompted with error when using Convert-FromJSON command let.

You can convert from json as shown image.

![image](https://user-images.githubusercontent.com/48976275/180129935-3e80e241-ba7d-4139-8306-1f674dd1c07d.png)

As there are no further documen

[2022-07-21 04:32] #95786 closed

[2022-07-21 04:34] CHEEKATLAPRADEEP-MSFT commented on #96006
@ravigurnatham  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-07-21 04:51] amanmcse commented on #96018
@DeanGross Thank you for your feedback. We will investigate and update the thread further.

[2022-07-21 04:53] amanmcse commented on #96028
@klawrawkz Thank you for your feedback. We will investigate and update the thread further.

[2022-07-21 05:01] jph opened #96035 "The `Change site root` section says that the server runs Apache, however it's actually Nginx"
The `Change site root` section says that the server runs Apache, however it's actually Nginx as all the error pages I'm getting are Nginx 403s.

As a result, I am unable to change the site root of my deployment, as the suggested solution of using a .htaccess file doesn't work with nginx.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-07-21 05:17] VikasPullagura-MSFT commented on #95166
@ryanxiaoms The document is updated now with the OSM support for Windows. Closing this issue, if you have any further questions on this please tag in a comment for reopening this.

![image](https://user-images.githubusercontent.com/48944027/180135054-260f294a-e0bc-4eb9-a633-8ee9dddacd20.png)

[2022-07-21 05:17] #95166 closed

[2022-07-21 05:45] Venkateshdodda-MSFT commented on #96035
@jph Thank you for your feedback! We will review and update as appropriate.

[2022-07-21 05:49] SnehaAgrawal-MSFT commented on #96007
@RobKraft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-21 05:53] Givary commented on #95222
@Jer0meM0rr0w Shared the feedback to our team, after investigation and we will update the thread/article further.

[2022-07-21 05:53] #95222 closed

[2022-07-21 05:53] AjayKumar-MSFT commented on #95899
@ashivadi, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-07-21 05:56] Givary commented on #95764
@JohnWuensche Shared the feedback with our team, suggested the changes currently in review, once approved and article will be updated. Thank you once again for pointing this out.

[2022-07-21 05:56] #95764 closed

[2022-07-21 05:58] KapilAnanth-MSFT commented on #96029
@rp2839 , Thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-21 06:07] ghost opened #96037 "Incorrect Python Function Code"
access_check python function is incorrect, needs to be debugged. Has several syntax issues and is missing certain variable declaration.

Some examples:
1. OWNER, NAMED_USER, NAMED_GROUP, OWNING_GROUP variables are not defined and their correct format expectations
2. If statements are missing ":" at the end on line 15 and 31

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-07-21 06:20] adrastogi commented on #96012
Thanks! I guess the things that threw me off were the title, the table of contents entry, and the URL (all prominent features of the page, and all of which emphasize mobile in the naming). I don't suppose those could be made more generic?

TOC:
![image](https://user-images.githubusercontent.com/8368026/180143033-43bf98b2-de99-4321-9f3f-a8edaa046fd0.png)

Title:
![image](https://user-images.githubu

[2022-07-21 06:56] dorlugasigal opened #96039 "docker file build fails on IOT-ML-e2e solution repo inside devVM"
the DockerFile build command inside the dev VM `C:\source\IoTEdgeAndMlSample\CreateCertificates\dockerfile`
fails to build with this error:
[code]

this is the dockerfile content:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7259644-4741-fd8d-a346-4a62625a9152
* Version Independent ID: 2442b7b5-8f88-c182-d36e

[2022-07-21 07:05] peterkh opened #96040 "Doesn't cover what to do if your keyvault is using Azure role-based access control permission model"
Hi,

I'm trying to follow this document but one of the key vaults which my VMs have been encrypted with us the newer Azure role-based access control permission model. What permissions / role to I need to assign for this to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54252e63-be57-2c49-15fc-b9dc7fdda1b3
* Versi

[2022-07-21 07:54] mbanck opened #96041 "Formatting issues in german translation of Compute and Storage Options - Azure Database for PostgreSQL - Flexible Server"
The german translation of this page (which doesn't seem to have a "report a problem on Github" button) has some formatting issues in the storage overview table (deeplink https://docs.microsoft.com/de-de/azure/postgresql/flexible-server/concepts-compute-storage#storage) - the IOPS values for 1TiB and 4 TiB have a stray escape backslash (`5\.000` instead of `5.000`)

---
#### Document Details

⚠ *Do

[2022-07-21 07:57] kengaderdus commented on #95662
#please-close due inactivity.

[2022-07-21 07:57] #95662 closed

[2022-07-21 08:18] nielsams opened #96043 "Code sample included twice"
The "host.json (Functions 2.0)" code sample is included twice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bda2389-aeb2-b28f-a646-082979122f88
* Version Independent ID: 4fa3fdc7-4f59-ff5e-6e42-bc1ed2b2e306
* Content: [Task hubs in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/dura

[2022-07-21 08:21] BenjiSec commented on #95656
Hi @austinmccollum  - I still believe it is Automation rules since it's in numbers that we know. Logic App can handle more than 20 actions - https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal
Tagging @lior-tamir - Feature PM for Sentinel Automation.

[2022-07-21 08:21] Beanium opened #96044 "Notice of no support in VS 2022"
It would be helpful if the documentation was explicit about the lack of support in 2022.. at first glance it's presumable that this is just old documentation that simply hasn't included 2022, rather than a deliberate omission.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e4c182-ccd7-0ee5-a993-9f4b4febf8d5
* Version

[2022-07-21 08:39] #96029 closed

[2022-07-21 08:43] KapilAnanth-MSFT commented on #96029
@rp2839 , We have updated the code snippet in the "Add a Probe to an existing Application Gateway" section to define the probe parameter.
The changes will reflect shortly.

[2022-07-21 09:22] yelevin commented on #95656
It's most likely Automation rules. Let's ask PM @lior-tamir. Lior?

[2022-07-21 09:38] bragig opened #96045 "Delete"
Hi,

Any information about the GA release?  It's been in Public Preview for 3 years.

Regards,
Bragi

[2022-07-21 09:42] MatthiasScharl opened #96046 "Support for multi-forest environment"
The ["feature highlights" section for PTA](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta#feature-highlights)  contains the following information about multi-forest environments:

"Multi-forest environments are supported if there are forest trusts between your AD forests and if name suffix routing is correctly configured."

As far as I know "two-way" forest trust

[2022-07-21 10:00] KapilAnanth-MSFT commented on #95860
@skatke We are closing the issue as this is expected behavior.
If you have any follow-up queries or require more details, please let us know and we shall continue the discussion.

[2022-07-21 10:00] #95860 closed

[2022-07-21 10:18] AshokPeddakotla-MSFT commented on #95760
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-07-21 10:18] #95760 closed

[2022-07-21 10:20] bragig commented on #96045
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4dd6-9762db6869f7
* Version Independent ID: 4e5a974c-686c-2005-c036-55dac3107573
* Content: [Monitor performance on Azure VMs - Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-vm-vmss-apps?tabs=ne

[2022-07-21 10:22] #96045 closed

[2022-07-21 10:23] bragig opened #96047 "Application Insights Agent for .NET - General Availability"
Hi,

Any information about the GA release? It's been in Public Preview for 3 years.

Regards,
Bragi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4dd6-9762db6869f7
* Version Independent ID: 4e5a974c-686c-2005-c036-55dac3107573
* Content: [Monitor performance on Azure VMs - Azure Application Insights

[2022-07-21 10:27] code-sidd commented on #95192
Thank you for requesting the change
Mentioned doc is taken up for updating

[2022-07-21 11:15] baldurfb opened #96049 "Sweep step not provided with output argument"
# Issue

The example [this](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-sweep-in-pipeline) article references ([azureml-examples/cli/jobs/pipelines-with-components/pipeline_with_hyperparameter_sweep](https://github.com/Azure/azureml-examples/tree/main/cli/jobs/pipelines-with-components/pipeline_with_hyperparameter_sweep)) fails with this message:

[code]

# Replication steps

[2022-07-21 11:26] mbroaders commented on #95675
Having the same issue as @Eurosome . I use the resource group that contains Bastion for --resource-group and i am copying the resource id from the Azure VM JSON for the --target-resource-id. Have tried multiple VMs and get the same error "Request to EncodingREservedUnitTypes v2 API endpoint failed".

[2022-07-21 11:35] JesseW28 opened #96050 "Claim type for aud wrong (misses oauth2 path)"
On this [Document Page](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials)  in Assertion Format --> Claims Payload the following is stated:

Claim type:
aud = https://login.microsoftonline.com/{tenantId}/V2.0/token

This should be
aud = https://login.microsoftonline.com/{tenantId}/oauth2/V2.0/token. Because in the example provided further down

[2022-07-21 11:49] sekhemrekhutawysobekhotep opened #96051 "typo on command"
this url shows

az containerapps identity show --name <APP_NAME> --resource-group <GROUP_NAME>

which has a typo  (  containerapps  should not end with s  )  ... below is proper spelling

az containerapp identity show --name <APP_NAME> --resource-group <GROUP_NAME>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bae735

[2022-07-21 11:51] GitaraniSharma-MSFT commented on #95978
@kmathewmk , We have assigned this to the content owner/author for review.

@duongau , I checked and found the Azure Front Door limits doc link in the below doc:
https://docs.microsoft.com/en-us/azure/frontdoor/manager#security-policy-in-an-endpoint

But it would be good to add the "Timeout values" information in our FAQ or add the below link in FAQ to refer for HTTP keep-alive information. Please

[2022-07-21 12:00] danijam commented on #95980
Thanks @johndowns

That makes sense. I see where I have gone wrong with the example I didn't spot that `name: subnet1Name` is not the same as `name: 'subnet1Name'` my in-experience read that as naming the resource rather than referring to a var name etc. Although I managed to spot the `location` var etc.

In this case I did assume the example was a working one. What didn't help matters was that th

[2022-07-21 12:02] Robert-Kostecki commented on #96004
Hi @KranthiPakala-MSFT thanks for replying.

This is a feedback to the document [https://docs.microsoft.com/en-us/azure/databricks/security/secure-cluster-connectivity](url)

The specific feedback is: the method prescribed in this document (the second bottom bullet point as copied below) does not work, thus making this documentation incorrect and misleading.

Can you replicate the case, following

[2022-07-21 12:04] Venkateshdodda-MSFT commented on #96035
@jph Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-07-21 12:07] SasidharKVN opened #96052 "Import Endpoint in Azure API for FHIR"
I have tried with **$import** endpoint on Azure API for FHIR service and got `"The requested \"import\" operation is not enabled"` response.  I tried to configure all the options in the [Configure bulk-import settings](https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/configure-import-data). but **Set import configuration of the FHIR service** was not updated in the FHIR service.
This [h

[2022-07-21 12:45] ExpendaBubble commented on #95123
ISO is now available on VLSC, I've checked the page, it seems updated as well.
Please close this issue.

[2022-07-21 12:58] AjayKumar-MSFT commented on #96051
@sekhemrekhutawysobekhotep,  Thanks for taking time to bring this to our attention. We have raised a PR, and shared it with the doc author for a review. Once the PR is merged, the changes will be published in the doc.

[2022-07-21 13:00] fedetic opened #96053 "ADF - SAP ODP connector - parallel extraction done sequential on SAP side"
Hi,

According to this documentation page, it should be possible to parallelize the extraction from SAP to Azure using the SAP ODP connector in ADF and following the steps described in the docs.

However, when executing the pipeline, I indeed see multiple copy activities on ADF side, but the total throughput combined is almost the same (actually a bit lower) compared to just running a single copy

[2022-07-21 13:01] AjayKumar-MSFT commented on #96009
@endy65, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-07-21 13:03] AjayKumar-MSFT commented on #96019
@vivuu1989, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-07-21 13:04] AjayKumar-MSFT commented on #96030
@kev-cs,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-07-21 13:15] ChaseLandon opened #96054 "Instructions on resetting SP throws error in CLI"
The instructions appear to be incorrect for the reset step which says to use the property --name but the CLI states you must use --id. See shot below

![image](https://user-images.githubusercontent.com/12452374/180221889-26a46d65-a590-4108-ae59-52d7d9dec9a0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f

[2022-07-21 13:23] beatbesmer opened #96055 "Outdated information - Client secret lifetime was limited to max. 24months"
In paragraph **Register the app in the Azure portal**, we should create a client secrent that never expires

According [this post](https://devblogs.microsoft.com/microsoft365dev/client-secret-expiration-now-limited-to-a-maximum-of-two-years/), it seems no more possible since april 2021. The maximum livetime was limited to 24 months

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-07-21 13:31] amanmcse commented on #95957
@Bintopia  There is no dedicated IP Range/URL List available for Azure AD B2C, you cannot lock down the proxy to only accept requests originating from your ADB2C instance. You will have to accept traffic from the entire Azure Datacenter range.

Instead, rather than using network security, you should work on protecting the API using authentication schemes described here: https://docs.microsoft.com/

[2022-07-21 13:31] #95957 closed

[2022-07-21 13:36] brmcmill opened #96057 "For Azure Gov -- Should it be *.wvd.azure.us and not *.wvd.microsoft.us?"
Hey Team, based on the historical references and what I've seen with customers, it appears the Azure Gov URL list for the Remote Desktop Client is incorrect.  It previously was ***.wvd.azure.us** for the _Service Traffic_.  Can we verify if that the ***.wvd.microsoft.us** is in fact a routable address or if it needs to be corrected?

![image](https://user-images.githubusercontent.com/26752719/1802

[2022-07-21 13:52] #95910 closed

[2022-07-21 13:54] SreejaBhattacharya-MSFT commented on #96054
@ChaseLandon Thanks for reaching out. We will investigate and update the thread. Thanks.

[2022-07-21 13:55] SreejaBhattacharya-MSFT commented on #96057
@brmcmill Thanks for the feedback. We will look into this and update this thread.

[2022-07-21 14:05] SadiqhAhmed-MSFT commented on #96040
@peterkh Thank you for your post. We will review this nd get back to you soon.

[2022-07-21 14:29] mumurug-MSFT commented on #96044
@Beanium Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-21 14:33] GeethaThatipatri-MSFT commented on #96052
@SasidharKVN Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-21 14:39] rspiewak47 opened #96060 "he samples are not as described, and the link doesn't go directly to the repo to clone them."
The samples are not as described, and the link doesn't go directly to the repo to clone them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bbedb6-d4c5-a809-31ad-b8c843ac0f52
* Version Independent ID: 07c4822d-0aad-5a8a-7f16-56835f325a42
* Content: [Fan-out/fan-in scenarios in Durable Functions - Azure](https://docs

[2022-07-21 15:00] MrAzureAD commented on #95052
We have multiple administration accounts per human that might be used with PIM.
In your interpretation "per account" this would mean that multiple licenses per human are required.

However this is in strong contrast to [this ](https://twitter.com/Alex_A_Simons/status/1232741945190912000) well-known tweet from Alex Simons stating that licensing is per human and not per account.

Please clarify!

[2022-07-21 15:03] seesharprun commented on #95362
@vishalaj1, does this diagram help with your question: https://docs.microsoft.com/en-us/azure/cosmos-db/monitor-cosmos-db-reference#storage-metrics

#assign:seesharprun

[2022-07-21 15:08] MrAzureAD commented on #65294
The article still contains the sentence "Licenses **must** also be assigned to the administrators and relevant users."
As per the last comment, this sentence is wrong and should be removed.

[2022-07-21 15:09] RobKraft commented on #96007
I found a good explanation here: https://stackify.com/azure-app-service-log-files/  under "Logs in the File System"

[2022-07-21 15:49] MarileeTurscak-MSFT commented on #96055
@beatbesmer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-21 15:51] MarileeTurscak-MSFT commented on #96037
@hiamodwala
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-21 16:15] zhusulai opened #96063 "Is there an Error Code for Expired Credentials?"
Hi, regarding the error codes - is there an error code for not being able to authenticate to the target system? Our user provisioning failed due to expired credential tokens, and we could not find any entries in the provisioning log that indicates any errors. The provisioning logs simply stopped after the token expired.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-07-21 16:26] markjbrown commented on #95928
Yes, for sure. Adding @abinav2307 who can address these questions. -Thx

[2022-07-21 16:28] lmolkova opened #96067 "Connection string vs instrumentation key"
With instrumentation key being on the deprecation path, should this doc be updated to use connection strings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dff1e826-0fac-07ef-7dc4-af24f045f349
* Version Independent ID: eb036a11-6cdb-463f-de2f-2adc4055b737
* Content: [React plugin for Application Insights JavaScript SD

[2022-07-21 16:40] cjland-cog opened #96068 "Extremely Limited; Missing Parameters to address missing fields"
The HubSpot connector works in a limited fashion but is missing functionality on specifying additional fields for sync.  For some Syncs like " HubSpot", "Company Properties" this is not really a problem.  However, the fields that sync on objects like CONTACT, COMPANIES, DEALS, etc make this almost useless.

For sake of discussion, I will focus on the CONTACT object.  The problem is that the "out o

[2022-07-21 16:41] KranthiPakala-MSFT commented on #96053
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@jianleishen - Could you please review the above feedback from user and share your thoughts? - Thank you

[2022-07-21 16:56] akshaymatmicrosoft commented on #88883
Hello @tamram / @SumanthMarigowda : I noticed that while this document was updated, the entire crux of suggestion were not captured making the document still misleading. Can you please review my original comments and help in updating the document accordingly?

[2022-07-21 17:00] Careyjmac opened #96069 "Metrics Advisor + webhook + logic apps guide has several bugs"
In attempting to run the metrics apps + logic apps guide, I ran into a number of issues:

1. The JSON provided in both places should NOT be pasted into the "Use sample payload to generate schema" box as the payload sprovided already are the schema definitions, so they should just be pasted directly into the "Request Body JSON Schema"/"Schema" boxes respectively.
2. The instructions for creating th

[2022-07-21 17:01] SreejaBhattacharya-MSFT commented on #95631
Hi @zr-msft , is this the default behavior?

[2022-07-21 17:16] JasonWHowell commented on #93365
@AurimasNav do you still face this same issue? Sorry, we are slow to respond here. If you need better help, please click the support icon in the Azure portal to get assisted support.

@sharath-satish-msft please take a look if you know if this is a bug or a documentation issue.

[2022-07-21 17:18] SatishBoddu-MSFT commented on #96039
@dorlugasigal
I have assigned the issue to the content author for further review.

[2022-07-21 17:25] PNW-BRZ opened #96070 "Datastore"
You reference "datastore" several times here, however in the portal it is "Data Store".  We need to consolidate the spelling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da144902-87ff-69ab-7711-dd5f25aa0f82
* Version Independent ID: cbfef608-1483-c7d8-7b64-0c2e88004c28
* Content: [Reprotect VMware VMs to an on-premi

[2022-07-21 17:25] ChaitanyaNaykodi-MSFT commented on #95675
Hello @mbroaders , @Eurosome apologies for the delayed response here. I am following similar issues internally and will share an update shortly.

[2022-07-21 17:26] SreejaBhattacharya-MSFT commented on #95667
Hi @matlion , I was not able to do a repro of this. As this channel is for docs improvement, I would request you to please post the same query on our [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) forum so that community members/experts can look into this.

[2022-07-21 17:33] MarileeTurscak-MSFT commented on #96055
Thanks! I made a pull request to update this to match the current experience. https://github.com/MicrosoftDocs/azure-docs-pr/pull/205543

[2022-07-21 17:33] #96055 closed

[2022-07-21 17:42] austinmccollum commented on #95656
you're right @BenjiSec and @yelevin! I confirmed it's automation rules.

[2022-07-21 17:46] weltonrodrigo opened #96073 "Powerbi private endpoint zones missing from private endpoint dns forwarding documentation"
Hi,

[this doc](https://docs.microsoft.com/en-us/power-bi/enterprise/service-security-private-links) informs how to create private-endpoints for powerbi.

The related private zones are:

- privatelink.analysis.windows.net
- privatelink.pbidedicated.windows.net
- privatelink.tip1.powerquery.microsoft.com

Those zones are missing from the doc [Azure Private Endpoint DNS configuration](https://docs.m

[2022-07-21 17:57] Nicholak-MS commented on #95933
@Mathonar  thanks for bringing this to our attention. I have done a sweep on that column of the CSV to remove any spaces or parentheses. This has been published and is available for download.

#please-close

[2022-07-21 17:57] #95933 closed

[2022-07-21 17:57] Nicholak-MS commented on #95543
@mansohrstrom I have added the above product and service plan information to both the online table as well as the downloadable CSV. They are now both available for consumption. Thanks.

#please-close

[2022-07-21 17:57] #95543 closed

[2022-07-21 18:02] asudbring commented on #96073
Hi @weltonrodrigo will get that page updated.  The DNS entry for BI would be all three.

Public:
analysis.windows.net
pbidedicated.windows.net
tip1.powerquery.microsoft.com

Private:
privatelink.analysis.windows.net
privatelink.pbidedicated.windows.net
tip1.powerquery.microsoft.com

[2022-07-21 18:14] shwetamathur7 commented on #94121
@Vile278, Product team responded back with below:

"We are doing our best to avoid group created with duplicated names. But due to the limitation of large-scale system, we cannot guarantee this naming check when the groups are created at same time. This is by design."

[2022-07-21 18:20] asudbring commented on #96073
PR to fix:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/205550
#please-close

[2022-07-21 18:20] #96073 closed

[2022-07-21 18:20] JamesTran-MSFT commented on #95920
@meierval
I just wanted to check in and see if you had a chance to review my previous post or if you had any other questions?

[2022-07-21 18:21] JamesTran-MSFT commented on #95922
@danlopez
I just wanted to check in and see if you had a chance to review my previous post?

[2022-07-21 18:22] #95854 closed

[2022-07-21 18:26] YurongHe commented on #72232
It looks like this notebook was replaced by an ADS URI:
![image](https://user-images.githubusercontent.com/43652751/180286819-3a2225d4-1bc7-480b-98d9-47e4d0500c5f.png)

The new notebook created doesn't have the issue where the text exceeds the bounding textbox, and the text from the bug isn't in production anymore.

[2022-07-21 18:32] vanlanchoy commented on #95939
Hello @YutongTie-MSFT do you have any update for me?

[2022-07-21 18:37] davidsbara opened #96078 "Consider updating ObjectID example reference"
Consider updating the ObjectId example references found in the Azure Active Directory Environment section of the article.  They recommend using a UPN formatted address in place of the ObjectId.  You may also consider providing an example of how to collect the ObjectId.

Set-AzureADUser -ObjectId johndoe@contoso.com -AccountEnabled $false

---
#### Document Details

⚠ *Do not edit this section. It

[2022-07-21 18:47] notaturkey opened #96079 "cant find anywhere on how i can use connection strings with powershell/azure function"
Using app settings with powershell scripts in a function make sense and were easy to find in this document, however, i cant find anything on using a connection string with a powershell script.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae763f-03a9-b3b0-e7ad-52f9b1559438
* Version Independen

[2022-07-21 18:53] JamesTran-MSFT commented on #96078
@davidsbara
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-21 19:03] shlipsey3 commented on #95920
Hi @meierval - Your initial comment said the "GET request" didn't work. Are you doing something other than just clicking the PEM download link? We can't replicate the 503 error at this time, but if you used an alternative method to download it, we can investigate that.

Thanks!
Sarah

[2022-07-21 19:10] rscottwatson opened #96080 "You must supply the volume mount even if you are accessing a secret via an env var"
[Enter feedback here]
There is a reference that the secret can be reference independently however, you have to use a volume mount in your pod otherwise the k8s secret is never created.  Perhaps I just misinterpreted the documentation but I thought you were suggesting you could use an env var referencing the secret or use a volume mount.  Based on my testing you need the volume mount before the sec

[2022-07-21 19:28] meierval commented on #95920
Hi @shlipsey3 / @JamesTran-MSFT
Thanks for investigating this!
I had the issue with all the PEM links that I tried.
But it seems like the issue is now gone.
might have been a temporary outage?
A 503 would indicate that as well.

[2022-07-21 19:28] #95920 closed

[2022-07-21 19:33] MarileeTurscak-MSFT commented on #96047
@bragig
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-21 19:33] shlipsey3 commented on #95920
Interesting - I'll ask around if there was an outage that would have impacted those links. Glad they're working for you!
sarah

[2022-07-21 19:54] MarileeTurscak-MSFT commented on #96050
@JesseW28
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-21 19:55] ecfan commented on #96044
Hi @Beanium,

The doc currently has such a statement in the [Prerequisites section](https://docs.microsoft.com/en-gb/azure/logic-apps/quickstart-create-logic-apps-with-visual-studio#prerequisites):

![image](https://user-images.githubusercontent.com/13206671/180303789-4b884c50-addf-4b5b-a754-e2f78132a4f4.png)

[2022-07-21 19:56] ecfan commented on #96044
@mumurug-MSFT: #please-close

[2022-07-21 19:56] #96044 closed

[2022-07-21 20:04] seesharprun commented on #95362
#label:"awaiting-customer-response"

[2022-07-21 20:04] SadiqhAhmed-MSFT commented on #96070
@PNW-BRZ Thanks for the feedback. We will review and update as appropriate.

[2022-07-21 20:06] SadiqhAhmed-MSFT commented on #96070
@v-pgaddala FYI

[2022-07-21 20:06] SadiqhAhmed-MSFT commented on #96070
@v-pgaddala FYI

[2022-07-21 20:12] KranthiPakala-MSFT commented on #96004
@Robert-Kostecki - Appreciate your detailed feedback and clarification.
We have assigned the issue to the content author to further evaluate this feedback and update the document as appropriate.

@mssaperla - Could you please review above feedback from @Robert-Kostecki and share your thoughts - Thank you

[2022-07-21 20:28] sbdoroff opened #96084 "Dead link"
The link, https://mskb.pkisolutions.com/kb/2984655, for text "contact the NVA vendor for assistance" no longer loads.  What would be the correct link to navigate to now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c9c95a-dc93-3cc6-ecab-7d039c1b6bd8
* Version Independent ID: ada881fd-3c3c-b3bc-1af0-daecd2b18349
* C

[2022-07-21 20:54] Matze99 opened #96088 "Retrieve the service connection string command incorrect"
Under "Retrieve the service connection string" the command
"az iot hub connection-string show \
  --policy-name service --name {YourIoTHubName} --output table"
does not work I think the correct command is:
"az iot hub connection-string show -n {YourIoTHubName} --policy-name service"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-07-21 20:59] MarileeTurscak-MSFT commented on #96060
@rspiewak47
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-21 21:02] vml-aledonne opened #96089 ""The storage account named stapptodosample is already taken.""
attempting to follow this tutorial, when I run the "Create Azure Resources" workflow I get this error:
"The storage account named stapptodosample is already taken."

I can't find any reference to that name, nor in fact to storage accounts, anywhere in the actions. What have I done wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-07-21 21:08] MarileeTurscak-MSFT commented on #96050
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/205584

[2022-07-21 21:08] #96050 closed

[2022-07-21 21:33] davidsmatlak commented on #37958
To follow up on this issue, did some tests using the [createUiDefintion sandbox](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/test-createuidefinition) and current `VirtualNetworkCombo` element:

- The `addressPrefix` is output as a string. The `addressPrefixes` is an array as mentioned in a previous comment.
- The start address for a new VNet uses the first availabl

[2022-07-21 21:40] savastosic opened #96091 "Make note of expected error"
[Enter feedback here]
When you run this command:
![image](https://user-images.githubusercontent.com/90868835/180319786-bb508027-92e0-494b-9911-6f1a74826a2d.png)

I'm pretty sure you should expect to see an error, since the edgeHub has not been created yet.
The error I got is as follows, which I believe is to be expected at this point. I think its worth noting in the documentation.
![image](https:/

[2022-07-21 21:47] pateixei opened #96092 "Include Brazil South in supported region list."
Brazil South has integration with OCI via Interconnect, ~1.6ms latency between us and OCI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf9a3b9-0427-61a0-98e1-7ae6075068d1
* Version Independent ID: 090cc181-96c2-2669-ee9d-d959ec424e57
* Content: [Integrate Microsoft Azure with Oracle Cloud Infrastructure - Azure Vir

[2022-07-21 21:48] johndowns commented on #95980
@danijam OK cool. We actually had a chat internally and are in the process of making a change where we link to the full Bicep file while only embedding the relevant parts in the doc. So in the next few days you should see some changes coming to the pages based on your feedback.

Thanks again for raising the suggestion!

#please-close

[2022-07-21 21:48] #95980 closed

[2022-07-21 22:15] ChaitanyaNaykodi-MSFT commented on #96084
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-21 22:16] gh-andre commented on #95998
Sorry for the last line in bold. Didn't mean to shout - didn't notice the dashes in the internal section that turned it into a heading.

[2022-07-21 23:33] YutongTie-MSFT commented on #96069
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-21 23:35] kobulloc-MSFT commented on #96092
@pateixei Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-07-21 23:45] kgremban commented on #91533
Hi again @marcinjahn. I got some more information on the diagram and your interpretation is correct in that both the factory and the technician sign the device's certificate. The device has its public key which is presents at each step of the supply chain to get signed by the private keys of the factory and the technician. These signatures get included in the final certificate chain along with the

[2022-07-21 23:49] AaronMaxwell commented on #96012
Thanks for your dedication to our documentation. We can update the TOC and title, but the markdown file (i.e. URL) cannot be renamed due to internal reporting that is based upon it. #please-close

[2022-07-21 23:49] #96012 closed

[2022-07-22 00:08] ctvue opened #96093 "Key Vault secret expiration policy stops provisioning of ADE"
There is a built-in Azure Policy definition called **Key Vault secrets should have an expiration date** (see [Key Vault policy reference link](https://docs.microsoft.com/en-us/azure/key-vault/policy-reference)) that conflicts with enabling Azure Disk Encryption. If the Key Vault secret expiration policy is assigned and set to the "Deny" effect then this policy will prevent the ADE extension from b

[2022-07-22 00:14] Karishma-Tiwari-MSFT commented on #96093
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-22 01:26] KrishnaG-MSFT commented on #96045
Hi @bragig, Hope you have not closed the issue accidentally. If that's the case, let me know so I can re-open it.

[2022-07-22 01:40] mike-urnun-msft commented on #96079
Thank you for your feedback! We will review and update as appropriate.

[2022-07-22 02:36] AnuragSharma-MSFT commented on #95830
@devman2k Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-07-22 02:37] ChaitanyaNaykodi-MSFT commented on #95874
Hello @brichbourg, Thank you for your feedback. I have made a PR to add the suggested warning in the documentation and it is currently under doc author's review. We will now proceed to close this issue out. Thank you!

[2022-07-22 02:37] #95874 closed

[2022-07-22 03:11] MahsVG commented on #29343
we are also facing similar issue with no clue..

[2022-07-22 03:12] pierreroman opened #96095 "Portal experience does not match current page step by step instructions."
The Portal experience does not match the current page step by step instructions.

This page states that after filling in the project details you should click "Review + Create" and create the private end link separately.
(section https://docs.microsoft.com/en-us/azure/azure-arc/servers/private-link-security#create-a-private-link-scope)

The Portal currently has the end link as part of the Azure Arc

[2022-07-22 03:17] jackawatts opened #96096 "The secrets and client certificates section should be removed and instead reference Azure.Identity"
[Enter feedback here]
An API that calls another API in azure should use ManagedIdentity, anything else is disingenuous according to the Azure.Identity team/package.

Please remove these references and put down a realistic example of API calling API via managed identity.

The example here would appear not to be best practice.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-07-22 03:48] CHEEKATLAPRADEEP-MSFT commented on #96068
@cjland-cog  Thanks for the question! We are investigating and will update you shortly.

[2022-07-22 03:53] jmprieur commented on #96096
@jackawatts
- do you have the link/reference to the statement from the Azure.Identity team/package? I would like to review it?
- how would you use Managed identity to call a downstream web API on behalf of the user?

[2022-07-22 04:10] amanmcse commented on #96067
@lmolkova Thank you for your feedback. We will investigate and update the thread further.

[2022-07-22 04:17] amanmcse commented on #95753
@angryconsultant Hope you were able to resolve the issue. Feel free to tag me in your reply if you have any questions.

[2022-07-22 04:21] AshokPeddakotla-MSFT commented on #96091
@savastosic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-22 04:21] VikasPullagura-MSFT commented on #96080
@rscottwatson
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-22 04:21] VikasPullagura-MSFT commented on #96080
@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-07-22 04:25] Grace-MacJones-MSFT commented on #96007
Hi @RobKraft,   glad to see you found a good explanation for what you were looking for. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-22 04:25] #96007 closed

[2022-07-22 05:07] VikasPullagura-MSFT commented on #95513
@ju-shim Thanks for sharing the details on the document updates.

@kevmurray Any update on this?

[2022-07-22 05:27] ninallam commented on #96000
@mhoult22 Please use user properties to provide the value for Thread. You can provide the value in your property file and upload the same to Azure Load Testing. You can refer to this doc for the more details https://docs.microsoft.com/azure/load-testing/how-to-configure-user-properties.

[2022-07-22 05:28] peterzdovc opened #96097 "On-demand backup retention for SAP HANA DB."
Page seems to have some contradicting information for on-demand backup for SAP HANA DB.

It says: "_This backup will be retained according to the policy associated with this backup item._"
And then: "_By default, the retention of on-demand backups is 45 days._"

In reality, user interface allows choosing retention date when performing on-demand backup for SAP HANA DB. But it is later impossible to

[2022-07-22 05:54] v-amallick commented on #96097
#assign: @v-amallick

@peterzdovc - Thanks you bringing this to our notice. Currently, we support selecting a custom retention date for on-demand backup. The retention is fixed for 45 days.

We will update the document according. Thank you once again.

[2022-07-22 05:55] PRMerger9 commented on #96097
Users v-amallick are already assigned.

[2022-07-22 06:14] jackawatts commented on #96096
Hi @jmprieur

* do you have the link/reference to the statement from the Azure.Identity team/package? I would like to review it?
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview-for-developers?tabs=portal%2Cdotnet

specifically:

* how would you use Managed Identity to call a downstream web API on behalf of the user?
When using Managed Identity AP

[2022-07-22 06:35] MughundhanRaveendran-MSFT commented on #96079
@notaturkey , Connection strings are also passed as values in the app settings.

Example:
Write-Host $env:AzureWebJobsStorage
Write-Host $env:WEBSITE_CONTENTAZUREFILECONNECTIONSTRING

Both the above app settings have storage account's connection string as its values. You can access them via powershell script this way.

Hope this helps!

[2022-07-22 06:38] v-amallick commented on #96097
Hi @peterzdovc -

We have updated the article in private PR - [#205625](https://github.com/MicrosoftDocs/azure-docs-pr/pull/205625). This will be live soon.

Thanks!
#please-close

[2022-07-22 06:38] #96097 closed

[2022-07-22 06:38] MughundhanRaveendran-MSFT commented on #95905
@pandene , Did you get a chance to look into my previous comment? Please let me know if you have any questions

[2022-07-22 06:50] Venkateshdodda-MSFT commented on #96089
@vml-aledonne Thank you for your feedback! We will review and update as appropriate.

[2022-07-22 06:52] peterzdovc commented on #96097
The confusion is due to the fact that it is possible to choose the retention date. See attached document.

[SAPHanaDb-OnDemandBackup-Full.docx](https://github.com/MicrosoftDocs/azure-docs/files/9165396/SAPHanaDb-OnDemandBackup-Full.docx)

[2022-07-22 07:42] SreejaBhattacharya-MSFT commented on #96054
@ChaseLandon did the above command successfully run upon using --id ?

[2022-07-22 07:43] #95667 closed

[2022-07-22 07:52] v-amallick commented on #96097
@peterzdovc - Thanks for sharing the screenshot. We've issue/bug due to which we can't offer custom retention for now. We've planned to introduce it soon.

[2022-07-22 07:56] KrishnaG-MSFT commented on #96095
@pierreroman Thanks for the feedback.
Assigning to @johnmarco for visibility, review and document enhancement consideration as appropriate.

[2022-07-22 08:08] mhoult22 commented on #96000
@ninallam - Thank you for your response. If I understand it correctly I still don't think your solution is what I'm looking for.
In an Azure release pipeline I have a jmx file which is run, and has for example, this in it's UDV within the jmx `${__P(threadCount,1)}`.  When I run in the pipeline I can specify a variable value at runtime, or if I don't the default of _1_ is used.  I do this by havin

[2022-07-22 08:11] amitbansod9211 opened #96099 "Missing Sample CSV"
[Enter feedback here]

Sample CSV file is missing from the Github script folders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa6cc99c-ee07-5c03-e903-5637a9ffbb8b
* Version Independent ID: 242f1b8b-151a-245c-62fe-6d1f43a58804
* Content: [Automate migration of machines in Azure Migrate - Azure Migrate](https://docs.m

[2022-07-22 08:12] SreejaBhattacharya-MSFT commented on #96057
@brmcmill , yes you are right. It should be ***.wvd.azure.us**
A PR for the same has already been created by Jason. I have linked the PR to this thread.
Thanks for reporting this and bringing it to our notice. I am closing out this issue for now.

[2022-07-22 08:12] #96057 closed

[2022-07-22 08:25] timwebster9 opened #96101 "Typo in section heading"
right here: https://docs.microsoft.com/en-us/azure/web-application-firewall/shared/manage-policies#associate-of-dissociate-waf-policies

I imagine it should say 'Associate **or** dissociate WAF policies'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae87aaec-3a79-dcfd-d990-bfc1f4f467c3
* Version Independent ID: 51da09

[2022-07-22 08:34] GitaraniSharma-MSFT commented on #96101
@timwebster9 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-22 08:35] trstroem opened #96102 "Logic Apps should be included in the list of available integration PaaS services"
Hello, Logic Apps is not mentioned in the list of PaaS services on Azure. However, Private Endpoints for Logic Apps is available, and I just concluded a PoC with adding a PE for a Logic App and exposing it with Private Link Service... should not Logic Apps also appear in the availability section for Integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-07-22 09:19] taiyokato opened #96103 "State Retry-After headers will be added by default for rate-limit and quota policies"
Currently the document mentions that user can specify retry-after-header-name for rate-limit policies.
The attribute is optional, therefore making it sound like if not specified there will be no information in the response indicating how many seconds left before client retry is allowed.

Instead, the current behavior is Retry-After header is added by default, and the header name is replaced with t

[2022-07-22 09:21] marteherne opened #96104 "ProfileCreateParameters and EndpointCreateParameters types does not exist."
ProfileCreateParameters and EndpointCreateParameters types does not exist.

The code below works instead:
Profile profile = new Profile() { Location = resourceLocation, Sku = new Sku(SkuName.StandardVerizon) };
            cdn.Profiles.Create(resourceGroupName, profileName, profile);

And also:
Endpoint endpoint = new Endpoint()
                {
                    Origins = new List<DeepCreatedO

[2022-07-22 09:23] SwathiDhanwada-MSFT commented on #96099
@amitbansod9211 Thanks for your feedback.

Assigning to content author @anvar-ms for review.

[2022-07-22 09:30] GitaraniSharma-MSFT commented on #96102
@trstroem , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , could you please update the doc to include "Logic Apps" in the list of Private Link services? It seems to be available now: https://docs.microsoft.com/en-us/azure/logic-apps/secure-single-tenant-workflow-virtual-network-private-endpoint

[2022-07-22 09:33] ackava opened #96105 "Cost Implications of LifeCycle in Blob Storage"
There is no documentation regarding additional cost involved in lifecycle management. Is it free?

Since there is no api to search blobs via last modified, does Azure list all blobs to search last modified, does this list operation by azure count towards our cost of transaction? So if we have 1 million blobs, each 1 million list operation will be performed every 48 hours?

So the question in summa

[2022-07-22 09:59] GitaraniSharma-MSFT commented on #96104
@marteherne , We have assigned this to the content owner/author for review.

@zhangmanling , for your review.

[2022-07-22 10:01] ninallam commented on #96000
@mhoult22 Are you using Azure portal for running load tests on Azure Load Testing? Or are you using Azure Pipelines for running tests on Azure load testing?

[2022-07-22 10:06] mhoult22 commented on #96000
@ninallam - I am using the Azure portal, I have tried both web and the app.
I have also run the tests in a release pipeline using the Azure Load Testing task extension from the Azure DevOps Marketplace, but for this test I didn't try using variables, they were just set in the UDVs.  So, for the sake of this query, just from the Azure portal is what I'm trying to do.  Thank you.

[2022-07-22 10:09] ninallam commented on #96000
@mhoult22 Unfortunately I haven't any reference of JMeter where you can use an environment variable value if present, or a default value if not. In Azure portal, once you provide the environment variable, you don't need to provide the same everytime if the value is same. If you are using a pipeline, you can always write a script before the task to check if the value is null or else use a default v

[2022-07-22 10:15] gianlucadardia opened #96106 "Error on job creation step 2 that prevents correct working of example"
Hi there is a blocking error on a code reported in this page.
The error prevent the correct working of the example.

How is possible to modify the page?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84a0102c-a701-3c19-8e89-cfcd3de2752e
* Version Independent ID: 55d936cf-8375-64a0-11aa-b715a57b215d
* Content: [H

[2022-07-22 10:15] mhoult22 commented on #96000
OK, thank you for your help @ninallam.

[2022-07-22 10:25] fjukstad opened #96107 "Integrating Application Insights to developer portal docs improvement proposals"
Hey and thanks for great developer docs!

Here are some suggestions for improving the [Integrate Application Insights to developer portal](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/api-management/developer-portal-integrate-application-insights.md) docs:

In step 3. please specify when the `AppInsightsPublishModule` should be added in the dependency injection container. When I

[2022-07-22 10:46] CamC2C opened #96108 "Azure Automation portal cannot accept object parameters as input. Documentation is misleading."
Hi team,

I'm a bit frustrated after spending an hour trying to get a runbook with an input parameter of type [object] to trigger properly. The documentation [Named Values](https://docs.microsoft.com/en-us/azure/automation/start-runbooks#named-values) section is a bit misleading. My understanding reading that section is that the Azure Automation portal will accept an object input if it is in JSON

[2022-07-22 11:00] AnuragSingh-MSFT commented on #96067
@lmolkova, thank you for bringing it to our attention. I am checking this with the content team, and it will be updated as required.

[2022-07-22 11:07] MeanDoubleStain opened #96109 "Automatically asign users to Enterprise Application Azure"
The options shown here are either administrator ór user driven. Is it possible to populate the "Users and Groups" section of an Enterprise Application automatically, by filtering on certain propertie (group, department, manager)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93597292-2326-629a-3d21-267980e4e6d3
* Vers

[2022-07-22 11:09] Venkateshdodda-MSFT commented on #96089
@vml-aledonne The environment variable **WEB_APP_NAME** value in dotnetcore-containerized-sqldb-ghactions/.github/workflows/azuredeploy.yaml file is getting appended to the **storageAccountName** variable that is present under dotnetcore-containerized-sqldb-ghactions/infrastructure/azuredeploy.json template.

I would suggest you to change the value of Environment variables WEB_APP_NAME and SQL_SER

[2022-07-22 11:24] GitaraniSharma-MSFT commented on #96101
@timwebster9 , I have created a PR to update the section heading to  'Associate or dissociate WAF policies'. The changes will reflect shortly!

[2022-07-22 11:27] vinothwelldoc opened #96111 "Typo in the document"
Typo in the below text.
To configure **roation** you can use key rotation policy, which can be defined on each individual key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b38ff8ef-9f1e-5356-3471-491f91324926
* Version Independent ID: 533ac67c-50f4-78c9-c0b8-15cafffcb0b8
* Content: [Configure cryptographic key auto-r

[2022-07-22 11:28] MeanDoubleStain commented on #96109
Wait! I might solve this myself with a runbook.

[2022-07-22 11:33] #96101 closed

[2022-07-22 11:41] SumanthMarigowda commented on #95445
@fadyanwar The command line section already mentions that location varies by edition, Azurite is INCLUDED in ALL VS IDE editions. As an example, I put an image where it is already available from VS IDE Community edition.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2022-07-22 11:41] #95445 closed

[2022-07-22 12:17] amanmcse commented on #96109
@MeanDoubleStain You can create a Dynamic Group in Azure AD with an expression to add users automatically to the group based on certain user properties. Under the "Users and Groups" section of the Enterprise Application, you can then add the dynamic group.

[2022-07-22 12:17] dylanhughes opened #96112 "Outdated Doc"
[Enter feedback here]
Believe this feature has now gone GA  (https://azure.microsoft.com/en-us/updates/generally-available-live-resize-for-premium-ssd-and-standard-ssd-disk-storage/) - this page which is linked to the GA page - still talks about the feature being in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-07-22 12:21] amanmcse commented on #96105
@ackava Thank you for your feedback. We will investigate and update the thread further.

[2022-07-22 12:22] amanmcse commented on #96111
@vinothwelldoc Thank you for pointing it out. We will make the correction.

[2022-07-22 12:24] MeanDoubleStain commented on #96109
Yes, that would be ideal, but we haven't got the subscription plan that supports that, yet.

[2022-07-22 12:28] MayankBargali-MSFT commented on #96106
@gianlucadardia Thanks for reaching out. If you would like to modify any information/update document, then you can follow [this document](https://docs.microsoft.com/en-us/contribute/) on how you can contribute to the document enhancement.
Once you create the PR it will be reviewed and approved by the content author team before the changes are reflected in the document.

In case if you want us to m

[2022-07-22 12:32] SreejaBhattacharya-MSFT commented on #96112
@dylanhughes Thanks for bringing this to our notice. We will update the documentation.

[2022-07-22 12:33] MayankBargali-MSFT commented on #95988
@rahulvmarathe Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-07-22 12:34] Andrew-Gee opened #96113 "Need more info on: Copy the backup files to an Azure blob/store and perform the restore from there, which should be a lot faster than performing the restore across the Internet."
Need more information on this, on the page https://docs.microsoft.com/en-us/azure/mysql/single-server/concepts-migrate-dump-restore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9072e74a-cda0-bfb2-7949-8cd81244bd64
* Version Independent ID: a5a72a04-1365-3d5e-68c5-0a0f6f32e5b8
* Content: [Migrate using dump and restor

[2022-07-22 12:37] harichand458 opened #96114 "Invalid URL given for loading data into Knowledge Base"
The Given URL for loading sample data into Knowledge Base is invalid  [Microsoft-FAQ](https://www.microsoft.com/en-us/software-download/faq)
**Valid URL:**  [Microsoft-FAQ](https://www.microsoft.com/en-us/download/faq.aspx)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8a5292-8ba9-c9ab-1afc-978a418eddf6
* Version In

[2022-07-22 12:44] #95988 closed

[2022-07-22 12:49] amanmcse commented on #96109
@MeanDoubleStain There is a programmatic way to **_[Assign a user to the application](https://docs.microsoft.com/en-us/graph/application-saml-sso-configure-api#assign-a-user-to-the-application)_** that you can use via Graph SDK as well.

[2022-07-22 13:01] #96111 closed

[2022-07-22 13:27] rscottwatson opened #96116 "--disable-secret-rotation not a valid flag"
[Enter feedback here]
I tried to disable autorotation and that is not an option
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36c-7456-70accfe452c2
* Content: [Use the Azure Key Vault Provider for Secrets Store CSI Driver for Azure Kub

[2022-07-22 13:34] brmcmill commented on #96057
Awesome, thanks again for the support @SreejaBhattacharya-MSFT!

[2022-07-22 13:41] SteveHindmarsh opened #96117 "Map a URL path to a directory does not work"
The section 'Map a URL path to a directory' does not work as written, only workaround is to use 'az webapp config set' instead. see this thread
https://github.com/Azure/azure-cli/issues/11978
and this one
https://docs.microsoft.com/en-us/answers/questions/492729/azure-web-app-path-mapping-using-az-update-not-wor.html
For details about how this is wrong

---
#### Document Details

⚠ *Do not edit th

[2022-07-22 13:55] vikast449 commented on #88788
Hi I am also getting the same error. As I checked there is no resolution in the chat thread. Can anyone please help me out.

[2022-07-22 14:15] kev1010 opened #96118 "Main"
[Directions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/add-template-to-azure-pipelines?tabs=CLI) do not work. Even after I create a valid bicep file, I get an error that the file can not be found:
![image](https://user-images.githubusercontent.com/101215507/180454267-01ff1f54-7163-4864-aa29-bda29a03984c.png)

I placed the file in the same folder as the yml file.

#### Doc

[2022-07-22 14:22] fkucuk opened #96119 "$sample stage does not work as expected"
According to the following table $sample stage in the aggregation pipeline is supported.
[https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/feature-support-42#aggregation-stages](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/feature-support-42#aggregation-stages)

According to the MongoDb's 4.2 document: _Randomly selects the specified number of documents from the input documents

[2022-07-22 14:30] languy commented on #94775
The solution is to use `mongodb` as the container image tag. IOW, run this:
[code]

[2022-07-22 14:46] languy commented on #95755
Use `mongodb` as the container image tag: ```
docker run \
    --publish 8081:8081 \
    --publish 10251-10254:10251-10254 \
    --memory 3g --cpus=2.0 \
    --name=test-linux-emulator-mongo \
    --env AZURE_COSMOS_EMULATOR_PARTITION_COUNT=10 \
    --env AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE=true \
    --env AZURE_COSMOS_EMULATOR_IP_ADDRESS_OVERRIDE=$ipaddr \
    --env AZURE_COSMOS_EMULAT

[2022-07-22 14:49] MeanDoubleStain commented on #96109
This is really cool! Thanks, I am going to digg in to this.

[2022-07-22 15:07] kobulloc-MSFT commented on #96116
@rscottwatson Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-07-22 15:28] DavidPaf opened #96121 "Example of deploying Django and Reactjs to azure app service"
[Enter feedback here]
Hi team,

I am following the articles:

https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=django%2Cwindows%2Cazure-portal%2Cterminal-bash%2Cazure-portal-access%2Cvscode-aztools-deploy%2Cdeploy-instructions-azportal%2Cdeploy-instructions--zip-azcli%2Cdeploy-instructions-curl-bash#3---create-the-postgresql-database-in-azure

https://docs.mic

[2022-07-22 15:31] #95625 closed

[2022-07-22 15:33] JonathanPitre commented on #95625
Thanks, I can now see the latest URL. Please ensure to update when 8C is released 👍  I built a script to automatically download the latest language packs but the article has to be maintained accordingly!

[2022-07-22 15:45] larryclaman commented on #89807
Any update?  Also this should be merged with #91738

[2022-07-22 15:54] zr-msft commented on #96002
Thank you for the feedback!

We have updated the article to address your feedback and the changes should be available soon.

[2022-07-22 16:00] kobulloc-MSFT commented on #96002
@ExpressDead We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-22 16:00] #96002 closed

[2022-07-22 16:02] bwren commented on #96026
Interesting. Thanks for this. I'll follow up with the PMs and potentially add this note.

#please-close

[2022-07-22 16:03] #96026 closed

[2022-07-22 16:05] #93725 closed

[2022-07-22 16:06] #95943 closed

[2022-07-22 16:17] SumanthMarigowda commented on #95702
@Alex-B5 PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-22 16:17] #95702 closed

[2022-07-22 16:19] SumanthMarigowda commented on #95701
@Alex-B5 https://github.com/microsoftdocs/azure-docs/issues/95702
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-22 16:19] #95701 closed

[2022-07-22 16:37] ezelliott opened #96122 "Add walkthrough for Azure Web Application"
Hey Guys!

It looked like you had a walkthrough for a windows desktop but can you add a walkthrough for installing the driver on a windows Azure Web App? :)

Thanks,
Elliott Harrison

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff86e045-4810-78b5-6646-534621f207b0
* Version Independent ID: 8b23634b-12d2-ffec-47c4-391

[2022-07-22 16:47] eschibli opened #96123 "Custom AzureML components tutorial does not specify mldesigner must be installed seperately"
The tutorial for utilizing custom Python components does not specify the mldesigner must be installed separately from the Azure ML SDK, causing an import error when following along with the code. This requirement should be listed in the prerequisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3a610ac-53c3-c935-5f

[2022-07-22 16:48] Oury-MSFT commented on #96119
@fkucuk Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-07-22 16:51] KranthiPakala-MSFT commented on #96122
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-22 16:55] mtmazurik opened #96124 "/var/log/containers/*.log information"
Hi, great write-up on how Live logging works in AKS.

Can we outline information on how to TAIL and use /var/log/containers/*.log so other tools (like Fluent bit) would know where POD logs are being built or streamed.     I can get them with kubectl, but I'm having a time locating where they reside within the system,
like when I am connected to the k8s host, can't see them in this directory where

[2022-07-22 16:58] GeethaThatipatri-MSFT commented on #96113
Hi @Gimmeaphatbeat Thank you for reaching out.We will look into it and update as appropriate.

[2022-07-22 17:13] pinyuko opened #96125 "Add Azure NetApp Files as another Storage option for SQL Server on Azure VMs"
[Enter feedback here]

Hi! I'm an MSFT employee.

We noticed there’s no mention of Azure NetApp Files on this doc https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/performance-guidelines-best-practices-storage?view=azuresql .
Would love to know who may be a good contact of this page for Azure NetApp Files team to reach out to. Hopefully we could work together to provide all

[2022-07-22 17:17] VikasPullagura-MSFT commented on #95955
@LDavis-Msft
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-07-22 17:17] #95955 closed

[2022-07-22 17:20] eugbyte commented on #95755
Thanks! Will try it out

In any case, I think the documentation for the emulator needs to be updated to specify `mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:mongodb` (https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=mongodb-api%2Cssl-netstd21#run-the-linux-emulator-on-macos)

[2022-07-22 17:25] logico-philosophicus opened #96127 "-inbound isn't a valid parameter"
It's not listed here: https://docs.microsoft.com/en-us/powershell/module/az.dnsresolver/new-azdnsresolveripconfigurationobject?view=azps-8.1.0, and I'm getting error "New-AzDNSResolverIPConfigurationObject: A paramter cannot be found that matches paramter name 'inbound'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e

[2022-07-22 17:26] #96127 closed

[2022-07-22 17:30] johnmarco commented on #96095
@pierreroman, investigating necessary updates.

[2022-07-22 17:51] dvrameshusa opened #96128 "business_title is not coming part of this process."
[Enter feedback here]
Hi Team,
Please review and let us know at the earliest possible, we are not able to see business_title on Microsoft side of provisioning, where as the XML from Workday side, it has data
---Begin from Workday---
   <wd:Position_Title>IT Help Desk Technician</wd:Position_Title>
   <wd:Business_Title>Helpdesk Admin</wd:Business_Title>
---End from Workday---

Thanks,
Ramesh
---
#

[2022-07-22 17:53] VikasPullagura-MSFT commented on #96125
@pinyuko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-22 17:54] VikasPullagura-MSFT commented on #96125
@bluefooted
Can you please check and add your comments on this doc update request as applicable.

[2022-07-22 18:06] dvrameshusa commented on #96128
Posting again from the WD side:
<wd:Position_Title>IT Help Desk Technician</wd:Position_Title>
 <wd:Business_Title>Helpdesk Admin</wd:Business_Title>

[2022-07-22 18:07] dvrameshusa commented on #96128
<img width="894" alt="image" src="https://user-images.githubusercontent.com/12255136/180498298-9d8b71de-efe3-456d-ba49-e858661d9645.png">

[2022-07-22 18:20] mumurug-MSFT commented on #89739
@sujithre We have updated the policy snippets and it will be published soon. We will now proceed to close this thread. Thanks again for bringing this to our attention.

#please-close

[2022-07-22 18:20] #89739 closed

[2022-07-22 18:43] JamesTran-MSFT commented on #96128
@dvrameshusa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-22 18:44] mattchenderson opened #96129 "Functions is listed twice, once incorrectly, for Server-Side Using Customer-Managed Key"
In the supporting services table, "Azure Functions" is correctly listed under "Compute" as "Yes**, including Managed HSM".

However, there is another entry labeled "Functions" under "Analytics" which just has "Yes". I do not know if this is intended to reflect the Stream Analytics functions feature or something else, but this is very misleading, especially with it appearing earlier in the table. I

[2022-07-22 18:56] Oury-MSFT commented on #95997
@omarv74 I am closing this issue since the doc was updated to remove "in Public preview" from this doc https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-configure?view=azuresql&tabs=azure-powershell#provision-azure-ad-admin-sql-managed-instance

https://github.com/omarv74/sql-docs/blob/patch-1/azure-sql/database/authentication-aad-configure.md

[2022-07-22 18:56] #95997 closed

[2022-07-22 19:27] rpinzon opened #96131 "Example could use Azure Data Lake Storage Gen2 instead of S3"
The example shown in the `Problem` section could reference `abfs[s]://<file_system>@<account_name>.dfs.core.windows.net/landing/edw/xxx/part-xxxx-tid-c00.snappy.parquet` instead of `s3://bucket-name/landing/edw/xxx/part-xxxx-tid-c00.snappy.parquet`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d891a17-4899-163d-535d-

[2022-07-22 19:34] mike-urnun-msft commented on #96107
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-22 19:55] MarileeTurscak-MSFT commented on #96129
@mattchenderson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 20:17] shlipsey3 commented on #95818
Hi @markmassad I added that line to the article and the changes are live!

Thanks for the feedback.
Take care,
Sarah

[2022-07-22 20:22] MarileeTurscak-MSFT commented on #96108
@CamC2C
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 20:39] MarileeTurscak-MSFT commented on #96014
The version requirements are mentioned in the prerequisites section. https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone#multiple-accounts-on-ios-preview

Feel free to tag me or @Justinha in the comments if you think more is required though. https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwor

[2022-07-22 20:39] #96014 closed

[2022-07-22 20:49] astrahan87 opened #96132 "Front Door WAF policies fail intermittently on no-op updates"
We maintain infrastructure as code and deploy using powershell and ARM templates. We regularly deploy the ARM templates for our entire infrastructure, sometimes with updates to a few resources, sometimes with no updates at all. We've been successfully deploying Front Door WAF policies via ARM template since May 28, 2020 and the last changes to those templates themselves (excluding parameter update

[2022-07-22 20:58] khdownie commented on #95926
@PedroC88 in most cases we would have included CLI, but in this case the team specifically curated a PowerShell module just for this feature (AzFilesHybrid), so there is no equivalent CLI. We could add CLI for the manual steps, but the recommended method is using AzFilesHybrid, so this hasn't been a priority for our team.

[2022-07-22 21:03] Josh-Duncan commented on #96014
@MarileeTurscak-MSFT, the documentation states "Latest version of Microsoft Authenticator installed on devices running iOS 12.0 or greater, or Android 6.0 or greater."

the issue that I found when I was enabling this is that the "latest version" wasn't showing up to be updated.  i was running 6.58.  Working with other CETS who did have it working, they mentioned that they where on 6.6.xx.  I had t

[2022-07-22 21:05] RohanRao27 opened #96133 "Bug in example code for Restore soft-deleted blobs when versioning is enabled"
In the example code for  Restore soft-deleted blobs when versioning is enabled

[code]
The `ElementAtOrDefault(1)?.VersionId` should be 0 instead of 1.

This also applies to Restore soft-deleted objects when versioning is disabled section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d82c6eb8-2129-8e58-b5ae-d559fa83dd

[2022-07-22 21:15] kev1010 commented on #96118
Issue was caused by file name case not being identical. (main.bicep not Main.Bicep )

[2022-07-22 21:16] #96118 closed

[2022-07-22 21:20] ecfan commented on #96106
#please-close

[2022-07-22 21:20] #96106 closed

[2022-07-22 21:22] MarileeTurscak-MSFT commented on #96016
Thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/205733

[2022-07-22 21:22] #96016 closed

[2022-07-22 21:31] MarileeTurscak-MSFT commented on #96046
Thanks! I made a pull request to update the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/205734

[2022-07-22 21:31] #96046 closed

[2022-07-22 21:54] MarileeTurscak-MSFT commented on #96117
@SteveHindmarsh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:12] MarileeTurscak-MSFT commented on #96121
@DavidPaf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:26] MarileeTurscak-MSFT commented on #96123
@eschibli
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:27] msdpalam opened #96136 "Error when cloning azureml-examples"
From this article, when I ran the command  "git clone --depth 1 https://github.com/Azure/azureml-examples --branch", I get the error:

"error: option `branch' requires a value"

In the article, https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-pipeline-python-sdk, we are using "git clone --depth 1 https://github.com/Azure/azureml-examples", which works ok.

We need to change the com

[2022-07-22 22:27] MarileeTurscak-MSFT commented on #96124
@mtmazurik
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:46] MarileeTurscak-MSFT commented on #96131
@rpinzon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:48] MarileeTurscak-MSFT commented on #96132
@astrahan87
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:49] MarileeTurscak-MSFT commented on #96133
@RohanRao27
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:52] MarileeTurscak-MSFT commented on #96136
@msdpalam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 22:52] KranthiPakala-MSFT commented on #95881
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-22 23:31] tamram commented on #88883
@akshaymatmicrosoft - I've made further updates. Please check it out and reach out to me internally if you think we need to change anything else.

[2022-07-23 00:29] dlepow commented on #96103
@taiyokato - Thanks for contacting us. This is a helpful observation and I agree it's worth documenting. I'll add it in the near future. cc/ @VitaliyKurokhtin

[2022-07-23 00:30] noeagomez opened #96137 "Add steps to run console application similar to keys tutorial"
The tutorial version for keys has a [3-steps task to test and verify](https://docs.microsoft.com/en-us/azure/key-vault/keys/quick-create-net#test-and-verify) the console application. The certificates tutorial lacks the run step and it's confusing with respect to the expected output.

Add similar steps to the certificates tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-07-23 00:38] jlian opened #96138 "We should move the verify sections toward the end of the article"
The connection verification sections require `edgeHub` to be running on the top layer device, which doesn't happen automatically unless the module deployment is done. So we should move those sections after the module deployment sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf391207-5570-8bd5-7093-9ace84259f6

[2022-07-23 03:13] awhitford-cip opened #96139 "String Interpolation syntax samples are unclear"
The [String Interpolation](https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-expression-builder#string-interpolation) section seems to demonstrate different conventions -- such as {:variable}, {$variable} and {variable}.  Are these equivalent?  Or are these different situations?  Is there a link to syntax available?

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-07-23 03:27] KrishnaG-MSFT commented on #96118
@kev1010 Thanks for the update.

[2022-07-23 03:33] hjchin opened #96140 "Maybe adds a dialog box to alert readers?"
I came to this page from a stackoverflow page and spend some time to understand the content and due to new understanding, I pivot to try out another way to solve my problem, that takes few more hours, before I come back to this page and realised that this is an outdated product documentation.

Perhaps a dialog box or sticky note shows instantly would help me to increase my productivity. I've lost

[2022-07-23 04:17] russcam commented on #37958
Thanks for following up @davidsmatlak. Happy to see the issue is now addressed 👍

[2022-07-23 04:57] amanmcse commented on #96138
@jlian Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 04:58] amanmcse commented on #96139
@awhitford-cip Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 05:03] amanmcse commented on #96140
@hjchin Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 05:05] amanmcse commented on #96137
@noeagomez Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 07:12] SaiKishor-MSFT commented on #95858
@adalfa Can you please let me know what option you are choosing for the $defaultpermission part of the command when you are running it?

az storage account update --name $storageAccountName --resource-group $resourceGroupName --default-share-permission $defaultPermission

Here are the options- defaultPermission="None|StorageFileDataSmbShareContributor|StorageFileDataSmbShareReader|StorageFileDataS

[2022-07-23 08:48] DavidPaf opened #96141 "Reference for using Azure Storage with App Service in Django"
[Enter feedback here]

I have been searching for this document for a long time

https://docs.microsoft.com/en-us/azure/developer/python/tutorial-python-managed-identity-01?tabs=django%2Cwindows

It should be linked to the current article for reference.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a96d5fc-0dd1-a344-54

[2022-07-23 09:08] Utas-Issac opened #96142 "We cannot find free service. So cannot check which service is free. And If I use student account. It is no problem. Company account cannot see free service."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc1b9f94-0697-7726-d678-1439a30005a0
* Version Independent ID: 13c3c83f-6033-d428-2b81-d2558cc71a13
* Content: [Monitor and track Azure free service usage](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/check-free-service-usage)

[2022-07-23 09:46] AjayKumar-MSFT commented on #96009
@endy65,  Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2022-07-23 09:47] AjayKumar-MSFT commented on #96019
@vivuu1989, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2022-07-23 10:39] sgabler-solytic opened #96144 "Different spelling of externalTrafficPolicy value: local vs Local"
Not sure if important, but there is a slight mismatch in spelling:

Text uses `local`

Code block that follows uses `Local`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID: 82b46441-43fc-fe48-97e2-0f3fca3d6eab
* Content: [Use a Public Load Balancer - Azure Ku

[2022-07-23 11:49] ankur8 opened #96145 "Reader role is wrong to enable traffic analytics"
It is mentioned on page that reader role is also a prequisite to enable traffic analytics. I would say wrog as reader role can not make any changes to azure server they can only view.

An Azure Log Analytics workspace, with read and write access.
Your account must meet one of the following to enable traffic analytics:

Your account must have any one of the following Azure roles at the subscription

[2022-07-23 12:36] mjvanderveen opened #96146 "VM with Azure AD Login fails to connect with AD login"
I have made about 7 different Ubuntu VMs of 20.04 and 18.04 through Azure Portal, where the Azure AD Login was enabled at creation.

All of these VMS, of B1s and B2M size failed to set up AD ssh login properly. The error was consistent (no supported authentication methods available (server sent: publickey).

I was able to fix this error by using username / password login and perform this command:

[2022-07-23 12:52] amanmcse commented on #96141
@DavidPaf Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 12:56] amanmcse commented on #96142
@Utas-Issac Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 12:58] amanmcse commented on #96144
@sgabler-solytic Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 12:59] amanmcse commented on #96145
@ankur8 Thank you for your feedback. We will investigate and update the thread further.

[2022-07-23 14:30] kduenke opened #96147 "Missing a Step?"
Isn't this documentation missing a last step?  I'm new to this API, but I think you have to train the PersonGroup as a last step, right?

KD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a315d63c-ebf4-b8ee-8757-d747678e824b
* Version Independent ID: 8a96be01-b252-f0c6-9deb-bd0fc06a1626
* Content: [Example: Add faces t

[2022-07-23 15:54] GeethaThatipatri-MSFT commented on #96041
@mbanck Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-07-23 18:41] EricBuist opened #96148 "Instructions do not work as expected and appear over complex"
Trying to follow the tutorial, I'm getting stuck because Visual Studio Code doesn't work as expected. When trying to create the static web app using the command palette, Code just does nothing or hangs trying to connect to Github. I allowed Visual Studio Code in Github but that doesn't work, probably because something changed again in the Github API and Code needs to be updated somehow, or this wo

[2022-07-23 20:14] MarileeTurscak-MSFT commented on #96146
@mjvanderveen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-23 20:15] MarileeTurscak-MSFT commented on #96147
@kduenke
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-23 20:16] MarileeTurscak-MSFT commented on #96148
@EricBuist
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-23 20:17] kevmurray commented on #95513
Yes, the update is that I think the VMSS instructions are more accurate, but the Load Balancer portion does not seem to have been addressed at all

For instance:
*  it says undre Load Balancer for "Public IP address" to "Select Create New" - but there isn't a field with this name  or any "Create New" option - all that functionality appears to be on a separate tab called "Frontend IP Configruation"

[2022-07-23 20:18] kevmurray commented on #95513
I did not take the time to run through the entire procedure to see if `curl https://bing.com` works from a VMSS instance, but that seems to be something simple enough to test

[2022-07-23 21:04] kd365 opened #96149 "Troubleshooting Request"
Would prefer troubleshooting options, following this tutorial resulted in no output with no indication why.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a747220-f587-2b7a-1c9d-176cfccb3702
* Version Independent ID: d41386c4-50b2-927f-4fcb-0ab842edf0ca
* Content: [Weather forecast using Machine

[2022-07-23 23:43] michael-freidgeim-webjet commented on #95482
@WilliamDAssafMSFT
“An individual retry delay and the total retry timeout (over many successive retries) would be calculated with different formulas.”
Individual retry delay is **independent** value and no formulas are applicable.
So 2 existing paragraphs about the individual retry delay formula should be removed.

if you agree that it is beneficial to have a formula for total retry timeout, it ca

[2022-07-24 01:08] YutongTie-MSFT commented on #95979
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-07-24 01:08] #95979 closed

[2022-07-24 01:30] YutongTie-MSFT commented on #95939
@vanlanchoy Hello, I found a similar error of yours - https://docs.microsoft.com/en-us/answers/questions/804016/cluster-creation-timed-out.html
The issue for that case is quota limitation, could you please check on this thread? Since here is document scope only and there is no error in the doc so I highly recommend you post your question to Microsoft Q&A platform, which is for product question sco

[2022-07-24 02:39] drdamour opened #96150 "doc needs to describe what the retry client behaviour actually does"
does a fine job explaining the options and what their values can be, but nothing seems to explain what the actual retry behaviour is.  is it based on the trigger function throwing an exception, or it just not returning by a certain time, or is it about connecting to eventhub and nothing to do with the function itself?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-07-24 05:42] amanmcse commented on #96149
@kd365 Thank you for your feedback. We will investigate and update the thread further.

[2022-07-24 05:43] amanmcse commented on #96150
@drdamour Thank you for your feedback. We will investigate and update the thread further.

[2022-07-24 06:53] dcurwin opened #96151 "Rename "Cloud App Security" to "Defender for Cloud Apps""
All of these tutorials contain the following text:

[Learn how to enforce session control with Microsoft Cloud App Security](https://docs.microsoft.com/en-us/cloud-app-security/proxy-deployment-aad).

The service was rebranded last year to "Microsoft Defender for Cloud Apps". Can you please update the term in all of the tutorials?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It

[2022-07-24 07:24] AnuragSingh-MSFT commented on #96047
@bragig, thank you for this question. Please note that for monitoring your ASP.NET applications running on-premises, use the [Azure Application Insights Agent for on-premises servers](https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview), which is generally available and fully supported.

I have reached out to the respective team regarding GA release for Azure Applic

[2022-07-24 07:28] ilantom opened #96152 "Functions missing in staging slot after swapping slots"
I have an Azure Function App with 2 slots - staging and production

Both staging and production slots contain functions.

I have the following YAML task to swap deployment slots.

[code]

After the deployment, I see No functions in staging slot. Sometimes, I see one function (with the name of function app) instead I should be seeing multiple functions - starter, orchestrator and activity functions

[2022-07-24 07:49] vivuu1989 commented on #96019
This is the document link
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#:~:text=within%20acceptable%20limits.-,Container%20resource%20metrics,-FEATURE%20STATE%3A%20Kubernetes

[2022-07-24 10:31] thomasbrueggemann opened #96154 "Confusion about _etag concurrency control for single-region writes"
Reading the section about optimistic concurrency control one gets the impression that Cosmos DB _automatically_ ensures on a protocol level that an update on an item always happens on the latest version of that item for single-region writes. Using `_etag`s and the `If-Match` header is not mentioned for single-region writes.

The usage of `_etag` is only mentioned in the next section about multi-re

[2022-07-24 12:31] amanmcse commented on #96151
@dcurwin Thank you for your feedback. We will investigate and update the thread further.

[2022-07-24 12:32] amanmcse commented on #96152
@ilantom Thank you for your feedback. We will investigate and update the thread further.

[2022-07-24 12:35] amanmcse commented on #96154
@thomasbrueggemann Thank you for your feedback. We will investigate and update the thread further.

[2022-07-24 13:03] AnuragSingh-MSFT commented on #94819
@andyjballgit, Apologies for the delayed response as I had been on sick leave.
There is no easy/direct way to get this information. One way could be to use PowerShell to get the group and covnvert it to json.

Another way would be to use "Export template" from portal and look for `"type": "Microsoft.Network/firewallPolicies/ruleCollectionGroups`. This would contain all the rules for a RCG and asso

[2022-07-24 13:07] edburns opened #96155 "One weird trick: jsonc files"
I learned this one weird trick: According to @alex-frankel, I can use a `.jsonc` file for arm templates and parameters files.  This issue requests this one weird trick is mentioned in the appropriate contexts in our docs.

Please assign this issue to me, I am working on a PR.

![one weird trick](https://miro.medium.com/max/1400/1*2KmvPvhS9V9twfvBqO8Tiw.png)

---
#### Document Details

⚠ *Do not ed

[2022-07-24 14:38] nareshnagpal06 opened #96156 "Service Bus Connector : Peak Lock trigger not available in Logic app standard"
I am not able to see Service Bus Connector with peak-lock trigger in logic app standard. Its there in the consumption model. Is this not supported yet? I  have a scenario where I need to first peek the message in a topic and then delete later in logic app standard.

**Logic App Standard -**

![image](https://user-images.githubusercontent.com/33876096/180652017-45f6c679-193d-4cf9-b12b-87d6181de62b.

[2022-07-24 15:26] sebassem opened #96157 "The rollback section should be renamed to "Troubleshooting""
The rollback section is mainly troubleshooting failed upgrades, there are no rollback steps or guidance "if rollback is supported"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19a1e2da-84a5-a59f-546c-45ddb2a7c023
* Version Independent ID: e045ee62-7e60-30a4-9c30-0d05fd7d39d1
* Content: [Upgrade Azure SQL Managed Inst

[2022-07-24 15:50] PureKrome opened #96158 "Timer Trigger timezones: no mention of localhost/developer machines, which could be misleading"
For the section NCRONTAB TIMEZONES (ref: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=isolated-process&pivots=programming-language-csharp#ncrontab-time-zones) it's talking about the default timezone is UTC. This is correct when the application is published to Azure. But there is no mention of LOCALHOST development and what timezone is used there.

Could we p

[2022-07-24 16:30] dvrameshusa commented on #96128
Please also explain how to see the full XML file in Microsoft side, so that we will know, whether the information is reached/fetched or not.
Thanks in advance,
Ramesh

[2022-07-24 16:47] brianlehr commented on #95356
@jspaans91 The [documentation](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/manage-custom-ip-address-prefix#status-messages) has been updated with additional information corresponding to each Failed Reasons states.  Thanks again for your feedback!

[2022-07-24 16:47] brianlehr commented on #95356
#please-close

[2022-07-24 16:47] #95356 closed

[2022-07-24 17:10] MarileeTurscak-MSFT commented on #96155
@edburns I assigned this to you.

[2022-07-24 17:11] MarileeTurscak-MSFT commented on #96156
@nareshnagpal06
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-24 17:12] MarileeTurscak-MSFT commented on #96157
@sebassem
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-24 17:13] MarileeTurscak-MSFT commented on #96158
@PureKrome
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-24 19:24] PriyankaRudramaina commented on #96144
@sgabler-solytic.
Code block that follows "Local" is correct. You can refer to the K8S document for the value of externalTrafficPolicy in the following link https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

![image](https://user-images.githubusercontent.com/95755055/180662513-48454593-e41c-4118-8f71-cb275862ace0.png)

The below line is just an expression o

[2022-07-24 19:24] #96144 closed

[2022-07-24 19:55] PriyankaRudramaina commented on #95513
@kevmurray,

Thank you for your response.

1. For the public IP address part, yes "Create new" is meant for the "Frontend IP Configuration" page.
![image](https://user-images.githubusercontent.com/95755055/180663171-5a09b966-f721-46b6-b3da-d5d0c2a71e39.png)

2. For the tier type, it is expected to leave it to default which is regional, for details on creating a load balancer, you can always refer

[2022-07-24 19:57] PriyankaRudramaina commented on #95513
Please do test and reach out of there are any issues, and that would be counted as technical issue not the document issue. Hence for any further doc improvement feedbacks please raise new github issue.

[2022-07-24 19:57] #95513 closed

[2022-07-24 21:09] PriyankaRudramaina commented on #95208
@kowei,

I wasn't able to reproduce this issue at my end. I would be requesting the doc author to review this to see and take an appropriate action.

@erik-ha-msft - Could you please review this feedback.

[2022-07-24 21:17] PriyankaRudramaina commented on #95564
@Aprilllllll,

This is under review, we will update the document accordingly.

[2022-07-24 21:38] nswitanek opened #96159 "Add detail on location of output file "predictions.csv" resulting from batch endpoint"
This page lacks specificity about where the "predictions.csv" output file is written, and how to navigate to it.

Paths to input data, code, and model are all discussed in adequate detail, but the output is not.

The section labeled "Test the endpoint with sample data" should include a discussion of how to retrieve the outputs produced by the endpoint on the sample data.

Thank you!
Nick

---
####

[2022-07-24 21:57] vanlanchoy commented on #95939
Hello @YutongTie-MSFT an ICM ticket has been raised to track this issue.

[2022-07-24 22:07] asudbring commented on #83773
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-24 22:07] #83773 closed

[2022-07-24 22:17] asudbring commented on #83615
Added line to article for the endpoint in the other subscription.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/205784
#please-close

[2022-07-24 22:17] #83615 closed

[2022-07-24 22:32] asudbring commented on #77091
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-24 22:32] #77091 closed

[2022-07-24 22:41] gbms311 opened #96160 "TLS protocol wording"
These two statements are in conflict with each other. The first statement should be altered - as there are known compromises of insecure ciphers, hence the reason why it is industry best practice to enforce stronger ciphers

(one)
**__Despite known vulnerabilities in TLS protocol, there is no known attack that would allow a malicious agent to extract any information from your key vault when the at

[2022-07-25 01:10] YutongTie-MSFT commented on #95939
@vanlanchoy Could you please share the ticket number so that we can track on both side? Thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-07-25 01:10] #95939 closed

[2022-07-25 01:11] YutongTie-MSFT commented on #95940
Thanks for the feedback again, we will update the document with author.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-07-25 01:11] #95940 closed

[2022-07-25 01:35] vicancy commented on #95844
WebPubSub service is to handle your WebSocket connections instead of hosting your WebSocket server.

<img width="590" alt="image" src="https://user-images.githubusercontent.com/668244/180676656-5e725533-b4cc-4dfe-ac5c-3a7a0901e294.png">

Here contains the workflow in detail: https://docs.microsoft.com/en-us/azure/azure-web-pubsub/concept-service-internals#workflow

[2022-07-25 01:59] shaneahenderson opened #96161 "Documentation is not clear and does not account for RBAC scenario"
1.  The advice provided on this page says to "Check the access policy".  However it does not specify what security principal needs to be given access.  Turns out that after a call to Azure Databricks support, they confirmed the correct identity to use is the *Azure Databricks* Azure AD application which needs this access.  The document should mention that.
2. In point 5, it mentions "Verify the Ge

[2022-07-25 03:18] HoiDam commented on #66837
So what's the sol?

[2022-07-25 03:24] #95861 closed

[2022-07-25 03:29] michaelcsikos commented on #61051
23 months later and this still not fixed, @SumanthMarigowda-MSFT-zz

[2022-07-25 03:32] Niko-Jung opened #96162 "Didn't find "Azure Active Directory authentication for Azure Files" in step 3 of "Set up an Azure Storage account""
(https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-adds#set-up-an-azure-storage-account)
Didn't find "Azure Active Directory authentication for Azure Files" in step 3 of "Set up an Azure Storage account".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69769604-b1c3-a2b8-318d-354ebf0d82a1
*

[2022-07-25 03:34] anurag8899 commented on #38165
&$filter=properties/usageStart eq 'yyyy-mm-dd HH:MM:ss' and properties/usageEnd eq 'yyyy-mm-dd HH:MM:ss'
but if we try pass value date range as variable this gives me error saying
message': 'Billing Period is not supported in (2019-10-01) API Version for Subscription Scope With Web Direct Offer. Please provide the UsageStart and UsageEnd dates in the $filter key as parameters.'}}

{'error': {'code

[2022-07-25 04:12] AshokPeddakotla-MSFT commented on #96088
@Matze99 Yes, we need to use --hub-name or -n to get the correct results.

<img width="451" alt="image" src="https://user-images.githubusercontent.com/44426435/180697275-01b99ff1-5e1a-4fc6-8dba-ea430580879d.png">

PR has been raised to update the doc. Once it has been peer reviewed and merged this issue will be closed automatically.  Do let us know if you have any other queries.

[2022-07-25 04:28] #96088 closed

[2022-07-25 04:32] AnuragSingh-MSFT commented on #96047
@bragig, The GA is expected to be in next 2-3 months barring any unforeseen circumstances.
Please let me know if you have any questions.

[2022-07-25 04:32] #96047 closed

[2022-07-25 04:36] v-ksreedevan commented on #77356
Hi @jknowldenic.

This change is available at https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-hyper-v?tabs=UI#install-and-register-the-provider. Hence, closing this issue.

#please-close

[2022-07-25 04:36] #77356 closed

[2022-07-25 04:40] MughundhanRaveendran-MSFT commented on #96079
@notaturkey , I am closing this issue for now, feel free to reopen this issue if you have any queries/concerns

[2022-07-25 04:40] #96079 closed

[2022-07-25 04:40] MughundhanRaveendran-MSFT commented on #95905
Closing it for now, feel free to reopen if required

[2022-07-25 04:40] #95905 closed

[2022-07-25 04:42] SumanthMarigowda commented on #95926
@PedroC88 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.  If you are facing any issues, I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up the

[2022-07-25 04:42] #95926 closed

[2022-07-25 04:43] CHEEKATLAPRADEEP-MSFT commented on #96161
@shaneahenderson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-25 04:53] Mayumi-A opened #96163 "ScanUnsupportedCharles.ps1 surprises users with too many error"
Users use a tool called ”ScanUnsupportedCharles” when troubleshooting synchronization according to this Docs.
[azure-files-samples/ScanUnsupportedChars.ps1 at master · Azure-Samples/azure-files-samples · GitHub](https://github.com/Azure-Samples/azure-files-samples/blob/master/ScanUnsupportedChars/ScanUnsupportedChars.ps1#L298)

This tool prints errors caused by nonrecommended characters other than

[2022-07-25 04:53] SumanthMarigowda commented on #96105
@ackava Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-25 05:00] shwetamathur7 commented on #96160
@gbms311 Thanks for your feedback. We have assigned the thread to author to review the same.

[2022-07-25 05:11] PriyankaRudramaina commented on #96162
@Niko-Jung
Thank you for your feedback. We will investigate and update the thread further.

[2022-07-25 05:22] ShaikMaheer-MSFT commented on #96068
@jianleishen Could you please validate customer feedback and see document can be updated as appropriate?

[2022-07-25 05:26] ninallam commented on #96000
Hi @mhoult22 The scenario that you described can actually be achieved in Azure Load Testing. You can set the value of the UDV to ${__BeanShell( System.getenv("threadCount") in your JMX. When you create the test in Azure portal, enter the default value of threadCount (say 1) in the parameters tab as shown below.
![image](https://user-images.githubusercontent.com/50437471/180703607-4b857f41-43ed-4b1

[2022-07-25 05:26] AjayKumar-MSFT commented on #96009
@endy65,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-07-25 05:26] #96009 closed

[2022-07-25 05:51] SumanthMarigowda commented on #96163
@Mayumi-A Thanks for the question! We are investigating and will update you shortly.

[2022-07-25 05:53] AjayKumar-MSFT commented on #96019
vivuu1989, Thanks for the follow-up and sharing the document URL.
As you're referring to Kubernetes document, you may post your question directly on https://kubernetes.io/community/ -to receive insights from the targetted audience.

I see that you have also raised the question on here  - https://github.com/Azure/AKS/issues/3090 (still open) , you may continue your discussion there ( as it looks mo

[2022-07-25 05:53] #96019 closed

[2022-07-25 05:55] #96051 closed

[2022-07-25 06:21] pandene commented on #95905
As mentioned by @MughundhanRaveendran-MSFT,  the problem was that the post needs content which I did not provide
In my case adding curly braces {} content fixed it for me.
Thanks

[2022-07-25 06:45] omrigaonms commented on #95342
Hello Cheryl/Gitarani

Please let us know if you estimate that this will be updated the doc by this / next week.
We really want to help cx and move forward with his case, and this helps sets the expectations.

Many thanks,

Omri Gaon, B.Sc.
Support Engineer
Azure Networking
Customer Service & Support
Office:    +972 -77 -938-9592
Email:    ***@***.******@***.***>
Working hours: 9 AM - 6 PM UTC+3 (

[2022-07-25 06:56] griffinbird opened #96166 "Hierarchical partition keys are only supported in SQL API"
Hierarchical partition keys are only supported in SQL API. This document lists that it's supported in the other API's such as Cassandra, Mongo, Table, Gremlin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba057b3-d2d0-8c8b-4cef-3e9ef584b845
* Version Independent ID: 0322072a-214e-960d-74c2-29435d8f055e
* Content: [H

[2022-07-25 07:16] akshaymatmicrosoft commented on #88883
@tamram : Changes look good, thanks for your assistance.

[2022-07-25 07:16] yimaiyan-TW opened #96167 "Leak of SharedAccessKey"
https://docs.microsoft.com/en-us/rest/api/eventhub/delete-event-hub
Since this page is not open-sourced so I can't help edit, please check about this issue.
![image](https://user-images.githubusercontent.com/106502999/180719643-66406e2a-2ac7-4012-9371-9aee41a4cf7f.png)

[2022-07-25 07:27] jlichwa commented on #96160
@gbms311

The first statement says that when you use TLS 1.2 in your client "...as long as legitimate clients always connect **with recent TLS versions**" there are not known attacks to comprise key vault connection.

The second statement that we are planning to prevent clients from using older TLS version, since when your clients use old TLS it is security risk.
I hope it clarifies confusion.

[2022-07-25 07:41] GitaraniSharma-MSFT commented on #96127
@logico-philosophicus , Thanks for leveraging Azure docs feedback channel to raise this feedback. Since you have closed the thread I presume the issue is sorted out, if it's not the case or you need further assistance kindly just let us know.

[2022-07-25 07:49] MrAzureAD commented on #88250
Limits are still not mentioned - why was this issue closed @v-hagamp?

[2022-07-25 08:09] joergrenn opened #96169 "Access PIM activity and audit history via API,PWSH?"
In the article you describe how to access activity and audit history for Azure resource roles in Privileged Identity Management via the Azure AD Admin Center.
However we would like automate generating activity and audit history reports. Could you add information how to access the information via API or Powershell?
I could not find this documented anywhere else.
Thanks and best regards,
Joerg

---

[2022-07-25 08:10] mhoult22 commented on #96000
@ninallam.  Thank you for the comments.  I understand how I can have a default value and override at runtime in Azure Load Testing, but my original question was about being able to use the same jmx in JMeter (with default UDV) and then in Azure Load Test (overriding the default JMX UDV with a different value).  I think the easiest way for me to do this is to have UDVs that I can enable to run loca

[2022-07-25 08:21] squasta opened #96170 "Missing argument in a commande"
In the following command:

az containerapp revision show \
  --name <REVISION_NAME> \
  --resource-group <RESOURCE_GROUP_NAME>

the following arguments are required: --revision

Example :
az containerapp revision show -n MyContainerapp -g MyResourceGroup --revision MyContainerappRevision

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-07-25 08:24] ninallam commented on #96000
@mhoult22 Have you followed all steps mentioned in the doc https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests?

[2022-07-25 08:29] mhoult22 commented on #96000
@ninallam - Yes, this article is where I got the Beanshell command from - https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests#use-environment-variables-in-apache-jmeter.
I guess I just need to wait for a response from Microsoft on my empty worker.log issue, then hopefully I can see why my test is not working.  The workaround to enable/disabled UDV in JMeter is easy e

[2022-07-25 08:34] Givary commented on #94782
@kevmeister68 Apologies for the delay, tested this issue in my lab, you are right contacts synced via Azure AD Connect will be synced to Azure AD, however they can be seen only from O365 portal not from Azure AD portal.

Will pass this feedback to our team, will have this documented so it helps other community members.

Thank you for pointing this out.

[2022-07-25 08:34] #94782 closed

[2022-07-25 08:53] AnnuKumari-MSFT commented on #96139
Hi @awhitford-cip ,

{:variable}, {$variable} and {variable} are used for different purposes.

{:variable} --> Can be used to represent a local inside dataflow .
For more details , kindly check :
https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-expression-builder#locals
https://youtu.be/dBXF-8tGOD4?t=639

{$variable} --> is used to refer to dataflow parameter

{variable} -->

[2022-07-25 08:58] ninallam commented on #96000
@mhoult22  What is the error you are seeing when you are trying to run in Azure Load Testing?

[2022-07-25 09:03] Sandeg-MSFT commented on #95969
@calazlo Thank you for your feedback. Let me reach out to my internal team and try to get this updated in the article as per your suggestions.
Once again thank you for pointing this out.

[2022-07-25 09:03] mhoult22 commented on #96000
@ninallam - That's the problem I've raised with Microsoft, there are no errors shown.

The "error details" link shows no details:
![Snag_13e5aee9](https://user-images.githubusercontent.com/67146055/180739666-bf8f9ce2-19ce-446b-8feb-03ecb0e16c0d.png)

The download logs (engine1_worker.log) shows the same 4 lines every time:
[code]

[2022-07-25 09:03] Sandeg-MSFT commented on #95969
#please-close

[2022-07-25 09:03] #95969 closed

[2022-07-25 09:04] iamramengirl opened #96171 "Auto-Correction Not Returning Expected Results as Specified in the Documentation"
In the Auto-correction Documentation, it describes the following.

Source: [https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/text-moderation-api#auto-correction](url)

Public Documentation
**Auto-correction**
    Suppose the input text is (the "qu!ck," "f0x," and "lzay" are intentional):

        The qu!ck brown f0x jumps over the lzay dog.

    If you ask for auto-corre

[2022-07-25 09:04] GeethaThatipatri-MSFT commented on #96166
Hi @griffinbird Thank you for reaching out. We will look into it and update as appropriate.

[2022-07-25 09:05] Sandeg-MSFT commented on #95486
@Mike-Crowley

I will inform this to internal team and will get these updated.
Once again thank you for bringing this suggestion to our notice.

[2022-07-25 09:12] Givary commented on #96169
@joergrenn Thank you for your feedback, let me investigate and revert back.

[2022-07-25 09:14] Venkateshdodda-MSFT commented on #96089
@vml-aledonne Hope my previous response helped you in resolving the issue.
To further avoid this confusion, I have shared feedback to document author. I have updated the document incorporating these changes. Changes will go live once it is approved by doc author.

[2022-07-25 09:14] #96089 closed

[2022-07-25 09:16] SreejaBhattacharya-MSFT commented on #96054
@ChaseLandon any update?

[2022-07-25 09:19] Neutrino-Sunset opened #96172 "Instructions for migrating an active DNS name are incomplete"
This page describes purports to describe how to migrate a domain name that is currently being used on an active site, to a different site hosted on Azure App service with no downtime, but it seems to me that key information is missing.

It describes how to add a domain verification id TXT record to the domain which then enables you to assign it to the App Service site as a custom domain. But in or

[2022-07-25 09:21] aditya-malviya opened #96173 "Unable to fetch the vm creator/update details using az activity log."
I'm trying to fetch the activity log of **particular** vm using "https://docs.azure.cn/zh-cn/cli/monitor/activity-log?view=azure-cli-latest"

The command I'm using is
`az monitor activity-log list -g "resgroupname" --resource-id "my-res-id"
`
which is giving me all the resources details and not specific to resource id.

I want to get the vm creator/update email id one the specific vm only.

[2022-07-25 09:24] AnnuKumari-MSFT commented on #96030
@mlee3gsd ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-07-25 09:29] ninallam commented on #96000
@mhoult22 can you please share the test Run URL from the dashboard using the Share option?

[2022-07-25 09:33] SnehaAgrawal-MSFT commented on #96172
@Neutrino-Sunset Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-25 09:33] k33lan opened #96174 "Typo in parameter in example re: az containerapp github-action add"
Hi there's a typo in your example when executing 'az containerapp github-action add'.

The parameter '--content-path' should be '--context-path' according to the docs, as copy+pasting the current example will return an invalid argument error.

:) :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd35737d-566a-1a5c-6b0b

[2022-07-25 09:40] v-ksreedevan commented on #79561
Closing the issue since the issue is resolved.

#please-close

[2022-07-25 09:46] mhoult22 commented on #96000
@ninallam.  If I run the test with the UDV values set in the JMeter file then it succeeds, it's just not working with the Beanshell command to use the environment variable values from Azure Load Testing.

The test uses a CSV file for users.  If I share the link the CSV will be available in the DOWNLOAD > INPUT FILE.  Is there way I can share the test run link with you privately please?

North Euro

[2022-07-25 09:54] MayankBargali-MSFT commented on #95956
@waystilos As per the error it looks like the response is not a valid JSON object as it is getting failed while converting the response body from your backend service. Please make sure that you have a valid JSON body from your backend service in the body response.

The policy looks good and should work without any issue if your backend service returns the proper JSON object in the response body.

[2022-07-25 09:54] #95956 closed

[2022-07-25 09:58] cpinotossi opened #96175 "How does Azure protect against gas shortage scenarios"
Hello,
how does Azure Regions like Amsterdam and Frankfurt protect against gast shortage scenarios?

thanks

[2022-07-25 10:03] ynux opened #96176 "argument error: Connected registry name must use only lowercase."
# Error when creating docker registry

In the tutorial [Build and deploy to Azure Kubernetes Service with Azure Pipelines](https://docs.microsoft.com/en-us/azure/aks/devops-pipeline) , we are told to run:
[code]
in the cloudshell. However, this throws an error in my cloudshell
[code]
It says nothing about this restriction in [az acr documentation](https://docs.azure.cn/zh-cn/cli/acr?view=azure-cli

[2022-07-25 10:06] shwetamathur7 commented on #96137
@noeagomez Thanks for your suggestion and feedback to enhance the document. I have made the changes which will reflect after author's approval.
I am closing this issue.

[2022-07-25 10:06] #96137 closed

[2022-07-25 10:35] v-ksreedevan commented on #84409
@richard-artes,

According to the SME, the readiness issues in assessment are the same, irrespective of the stack used, in Azure VM assessment. They should be same for VMware/Hyper-V.

The Azure VMware Solution assessment can only be created for VMware.

Can you elaborate the issue, please?

[2022-07-25 11:15] v-ksreedevan commented on #93914
Hi @pinyuko,

The prerequisites for migration of AWS and GCP instances are similar to that of Physical servers.
This change has been updated in https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-physical-migration.

Hence, closing the issue.

#please-close

[2022-07-25 11:15] #93914 closed

[2022-07-25 11:18] ninallam commented on #96000
@mhoult22 You can share just the test Run ID from the Share URL. It is the last GUID of the Share URL as shown below
![image](https://user-images.githubusercontent.com/50437471/180765865-95ba8d80-9b6a-4426-a2b8-47e4b1b2472f.png)

[2022-07-25 11:23] v-pgaddala commented on #96070
@PNW-BRZ The updates are done, and the info is live.

[2022-07-25 11:23] v-pgaddala commented on #96070
#please-close

[2022-07-25 11:32] GouravGit opened #96179 "Update your as you "before your delete the service," under 'Delete your service' paragraph"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20-cb3b-9c17-5f75eddd1715
* Content: [What is Azure Private Link service?](https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview)
* Content Source: [

[2022-07-25 11:33] GouravGit commented on #96179
![AzureDocsPvtLinkSvc](https://user-images.githubusercontent.com/31505933/180768396-c5b199aa-feba-4a22-adf9-164a663fbba4.PNG)

[2022-07-25 11:36] praveenambati33 commented on #95574
Mention priority in the command as below

`az network application-gateway create -n myApplicationGateway -l eastus -g myResourceGroup --sku Standard_v2 --public-ip-address myPublicIp --vnet-name myVnet --subnet mySubnet --priority 100`

reference : https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing#deploy-a-new-application-gateway

[2022-07-25 12:05] mhoult22 commented on #96000
@ninallam - here is the most recent one:  662ede75-0aea-4595-8563-30b43d69e17e

[2022-07-25 12:21] AshokPeddakotla-MSFT commented on #96149
@kd365 Could you confirm if you have added the correct input and output to the Stream Analytics job? Did you receive any error?

[2022-07-25 12:26] PedroC88 commented on #95926
I apologize for nor replying sooner. I understand that the AzureRM is curated but then how can run this on a machine that already has and needs the CLI?

[2022-07-25 12:47] kd365 commented on #96149
Hello,

I did confirm this, there are no connection errors. It looks like the input and output are working as my container has a list of temperature and humitidy values with a blank column for the probability value. Would this indicate an issue with the weather model?

Thanks!
________________________________
From: AshokPeddakotla-MSFT ***@***.***>
Sent: Monday, July 25, 2022 8:21 AM
To: Microsoft

[2022-07-25 12:57] SasidharKVN commented on #96052
Hi @GeethaThatipatri-MSFT any update on $import endpoint issue.

[2022-07-25 13:07] GitaraniSharma-MSFT commented on #96179
@GouravGit , thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-25 13:14] markingmyname commented on #95192
#please-close

[2022-07-25 13:14] #95192 closed

[2022-07-25 13:36] guarismo opened #96183 "Needs examples"
It would be great if you could add examples of the Active Directory configuration since it's not clear if one has to use LDAP DN format or not for the objects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1299af6-1e4a-88f0-7b1e-815691663650
* Version Independent ID: 1b3d668e-04e3-4ac2-f07e-28a5dc007cb6
* Content: [I

[2022-07-25 13:40] ferronsw opened #96184 "Clarification on the Ingress scenario with Nginx"
I want to use this provider to supply certificates to the Nginx Ingress.
I've deployed the driver within the AKS cluster and mounted the volume within the Ingress controller.
Like the [instructions](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-nginx-tls) described.

The Ingress Controller is created in a separate namespace called "Ingress-nginx".
The secrets are correctly created w

[2022-07-25 13:43] GeethaThatipatri-MSFT commented on #95869
@rohitnayakmsft can you please provide your inputs here

[2022-07-25 13:45] GeethaThatipatri-MSFT commented on #96052
@ginalee-dotcom can you please provide your inputs here

[2022-07-25 13:46] vml-aledonne commented on #96089
This did resolve my issue. I hope this allows for the tutorial to include these naming uniqueness requirements in the future. Thank you.

[2022-07-25 14:02] tcjoyce opened #96187 "Missing step?"
Step 2.3 says to "Navigate to your created Azure AD app", but at no prior point is the reader instructed to create an app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37280d15-75ea-7486-48d6-08e82fd4c1a4
* Version Independent ID: 037a01c2-1908-6ca4-f868-a9cd488e85d5
* Content: [Tutorial: Configure Zoom for automatic

[2022-07-25 14:05] Phenix51 opened #96188 "Azure Dynamic Device security group based on primary assigned user"
While I appreciate the information that is provided, I was hoping to find an attribute that listed the Primary User assigned to the device. My goal being to create a dynamic device group based on an attribute from the primary user assigned to the device. This would in turn allow for the device to be automatically moved to the correct group when the device has been assigned to another user that may

[2022-07-25 14:39] waystilos commented on #95956
@MayankBargali-MSFT Thank you for the response! I ended up figuring out the issue. In the request, I have to set the header to `Accept-Encoding: *` and got a successful response json response.

I was getting the error I posted about with my own API and so just to simplify things, I used [json placeholder api](https://jsonplaceholder.typicode.com/) and received the same error.  I should also mentio

[2022-07-25 14:39] scott1138 opened #96191 "DNS can be updated without a restart"
The docs say the application gateway must be restarted.  We found that a minor change to a backend pool was enough to cause the app gateway to refresh the DNS cache and resolve our issue.  This step should be taken first to avoid downtime for other unrelated applications using the same gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-07-25 14:41] #96067 closed

[2022-07-25 14:57] khdownie commented on #95926
@PedroC88 I don't understand the question. AzureRM is different from AzFilesHybrid.

[2022-07-25 15:01] calazlo commented on #95969
Hi @Sandeg-MSFT ,

I was wondering if the proposal has been accepted or declined. :)
Thank you.
Carmen

[2022-07-25 15:01] jan-delaet opened #96192 "How to allow the Flux extension to be installed on a tainted system node pool?"
I am trying to deploy a Flux/GitOps configuration through a Bicep template. The Bicep template includes the deployment of the Flux extension. The deployment of this extension hangs and times out after the max deployment time of an Azure deployment without any real feedback as to what the issue is.

As per the [Microsoft recommendation](https://docs.microsoft.com/en-us/azure/aks/use-system-pools?ta

[2022-07-25 15:04] JamesTran-MSFT commented on #96187
@tcjoyce
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-25 15:10] SnehaAgrawal-MSFT commented on #96121
@DavidPaf Thanks again you may refer to this below documented article link for managing static files might be helpful. https://docs.djangoproject.com/en/3.1/howto/static-files/

[2022-07-25 15:11] JamesTran-MSFT commented on #96188
@Phenix51
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-25 15:21] J0F3 opened #96193 "The example ARM template for Azure Storage does not work"
The ARM (JSON) template for Azure Storage has multiple failures and tus the deployment of it does not work. The following needs to be fixed:

1. The `scope` properties on line 92, 123 and 154 use an invalid format function call. It should probably just be `"[format('Microsoft.Storage/storageAccounts/{0}/[blob | table | file]Services/{1}', parameters('storageAccountName'), 'default')]"`

2. The tem

[2022-07-25 15:24] AnuragSingh-MSFT commented on #96067
@lmolkova, I have made the required changes in the doc for update with `ConnectionString `and it should start reflecting after next refresh.
Please let us know if the connection string implementation is not working for you.

Thank you again for bringing it to our attention.

[2022-07-25 15:27] #95596 closed

[2022-07-25 15:28] kayliegoad commented on #95675
I'm having the same issue as @mbroaders and @Eurosome...have double-checked to make sure the subscription, resource group, and resource ID were correct

[2022-07-25 15:35] HariKrishnaRajoli-MT opened #96194 "Can't find the meaning/definition and example of trigger property called "evaluatedRecurrence" in Azure Logic Apps Recurrence Trigger Official Docs"
What is "**`evaluatedRecurrence`**" property and difference between `recurrence` and `evaluatedRecurrence`?
Will every evaluation count as an action?

Can anyone elaborate with any example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9106dab-3f70-7388-1be0-da02b5728827
* Version Independent ID: 13613736-0637-a17c-f

[2022-07-25 15:49] allyford commented on #87523
Updated, see note in [upgrade documentation](https://docs.microsoft.com/en-us/azure/aks/learn/quick-windows-container-deploy-cli#upgrade-an-existing-windows-server-node-pool-to-containerd:~:text=When%20running%20the%20upgrade%20command%2C%20the%20%2D%2Dkubernetes%2Dversion%20specified%20must%20be%20a%20higher%20version%20than%20the%20node%20pool%27s%20current%20version.)

[2022-07-25 15:53] rui-convatec commented on #95675
Same issue here, verified target resources were correct.

[2022-07-25 15:54] wpinegar commented on #22360
We can confirm that this problem still exists. We need a way to send role claims for Azure SAML apps with spaces in the role value. Some apps that we are using need spaces in the values in the role claims. Is there a supported method to accomplish this?

[2022-07-25 15:55] rohitnayakmsft commented on #95869
Please check the range in https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2022-07-25 16:03] YutongTie-MSFT commented on #96171
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-25 16:04] JamesTran-MSFT commented on #94898
Closing out this thread since this issue isn't directly related to improving our docs. For troubleshooting issues, I'd recommend working with our support team via an [Azure support request ](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request)or leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) so our community, and MV

[2022-07-25 16:04] #94898 closed

[2022-07-25 16:04] J0F3 opened #96195 "A list of least required permission for each source/destination would be useful"
A list or a table of the least required permission to configure the log forwarding would be very useful. Because often the log destination is completely separated from the source resource (maybe even in different subscriptions) to fulfil the segregation of duty often required by security regulations. In this case it would be very useful to know which least permissions are needed to successfully co

[2022-07-25 16:05] #95818 closed

[2022-07-25 16:06] vanlanchoy commented on #95939
The ICM ticket # is 321612335

[2022-07-25 16:16] #87523 closed

[2022-07-25 16:37] bandersmsft commented on #96142
@Utas-Issac Hi there. Based on what you've said, we can't determine what the problem is. Please open a support request in the Azure portal or use https://go.microsoft.com/fwlink/?linkid=2083458 with an account that you can sign in with.

#please-close

[2022-07-25 16:37] #96142 closed

[2022-07-25 16:38] J0F3 opened #96197 ""Not all resources have category groups available." - What does that mean exactly?"
The sentence ist not really useful. From where I know now which resources do support category groups and which not?

Does it mean that when no category groups are selectable in the Portal that the resource does not support it?

For example for Blob Storage there are no category groups selectable when the Diagnostic Setting is created through the Azure Portal. But when deploying through a template

[2022-07-25 16:42] mike-urnun-msft commented on #96167
@yimaiyan-TW Thank you for sharing your feedback and reporting this issue. It looks like the SharedAccessKey used is an example and includes "your-namespace" so it doesn't appear valid connection that can be re-used.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-25 16:42] #96167 closed

[2022-07-25 16:43] mike-urnun-msft commented on #96170
Thank you for your feedback! We will review and update as appropriate.

[2022-07-25 16:46] #95922 closed

[2022-07-25 16:46] mike-urnun-msft commented on #96173
Hello @aditya-malviya - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable? That way, we're able to locate the right team that's better suited to address your feedback.

[2022-07-25 16:50] JamesTran-MSFT commented on #96063
@zhusulai
Thank you for your time and patience!

When it comes to an error code for not being able to authenticate to the target system, these should be in the [Sign-in logs in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins). For more info - [Sign-in error code](https://docs.microsoft.com/en-us/azure/active-directory/reports-moni

[2022-07-25 16:50] #96063 closed

[2022-07-25 16:50] mike-urnun-msft commented on #96174
Thank you for your feedback! We will review and update as appropriate.

[2022-07-25 16:53] mike-urnun-msft commented on #96175
Hello @cpinotossi - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs and your feedback doesn't reference any specific MS Docs, could you make a new post on [the MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead for your question? That way, we're able to locate the right team & SMEs that are better suited to address your que

[2022-07-25 16:53] JamesTran-MSFT commented on #96187
@tcjoyce
Thank you for pointing this out!

After looking through the documentation, I believe the [Azure AD App is later created in Step 5](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/zoom-provisioning-tutorial#step-5-configure-automatic-user-provisioning-to-zoom). However, I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-25 16:55] Careyjmac commented on #96069
I have another questin as well, not necessarily a problem with the doc but something I'm trying to figure out. Is there a way to configure the callback HTTP action to use AAD auth? I have a service principal that I was trying to use and I gave it both the "Cognitive Services Metrics Advisor User" as well as the "Cognitive Services Metrics Advisor Administrator" roles and it still says it has insuf

[2022-07-25 16:57] mike-urnun-msft commented on #96194
Thank you for your feedback! We will review and update as appropriate.

[2022-07-25 17:00] JamesTran-MSFT commented on #96188
@Phenix51
Since the dynamic membership supported properties do not currently support an attribute that lists the primary user assigned to a device, I'd recommend leveraging our [User Voice forum](https://feedback.azure.com/d365community) and creating a feature request, so our engineering team can look into implementing this.

For technical issues with dynamic membership rules, I'd recommend workin

[2022-07-25 17:00] #96188 closed

[2022-07-25 17:12] Mikemiller34 commented on #70398
@JeremyTBradshaw I was just wondering how this turned out for you when you set the SCP to AAD? I thought there would be some additional configs required for claims rules but maybe I am mistaken?

[2022-07-25 17:24] Karishma-Tiwari-MSFT commented on #96176
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-25 17:32] tcjoyce commented on #96187
I believe the link you just provided is how to create the app within the Azure portal. I *think* what’s missing is the instructions to create the app in the Zoom portal.

From: James ***@***.***>
Sent: Monday, July 25, 2022 12:54 PM
To: ***@***.***>
Cc: Thomas ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing step? (Issue #96187)

@tcjoyce<https://nam12.safelinks.protectio

[2022-07-25 17:33] mikenri opened #96199 "Add a limitation that load balancers are only supported within the same region"
It would be more clear to customers if you add a limitation that load balancers are only supported within the same region.

This document has a note that the private endpoint should be in the closest region, but it's unsupported to attach a private load balancer in another region to a private endpoint in another region across vNET peering.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-07-25 17:36] MonikaReddy-MSFT commented on #96197
@J0F3  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-25 17:39] MonikaReddy-MSFT commented on #96193
@J0F3  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-25 17:41] MonikaReddy-MSFT commented on #96195
@J0F3  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-25 17:46] MonikaReddy-MSFT commented on #95917
@iwafula025 - Not sure if understand your issue properly. Can you please elaborate it clearly? the text you are trying to show is exactly the same as in document. So it looks like there is no doc update required at this moment.

[2022-07-25 17:47] MonikaReddy-MSFT commented on #95805
@kwekuako - Do you mind taking a look at this issue and provide your insights?

[2022-07-25 17:48] Timovzl commented on #50659
@rajeshsetlem Thank you for the explanation! It makes sense.

I request reopening the issue, as its intent is to add the information to the docs. While search engines may provide _some_ discoverability to this question and answer, it is information that belongs in the docs.

[2022-07-25 17:52] eugbyte commented on #95755
When I include the `--memory 3g --cpus=2.0 \` line, I get the error `Failed to create CoreCLR, HRESULT: 0x8007000E`

Omitting it, I can run the container successfully. However, the port `10255` is no longer open.
[code]

[2022-07-25 17:57] marcinburak opened #96200 "Azure.Communication.CallingServer referenced by the docs and the sample has been unlisted on NuGet"
Both the sample and the docs reference the Azure.Communication.CallingServer NuGet package, however the package has been unlisted on NuGet and is no longer available.
https://www.nuget.org/packages/Azure.Communication.CallingServer
Could we please get any guidance if the package is still valid and why it has been unlisted?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-25 18:07] Shad0wguy opened #96201 "Article not accurate"
The article shows the provisioning setting asking for a URL and access token, but it does not show this any more. It now asks for a client secret and secret token. AWS still provides the URL and access token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a63d94b1-c9fe-53e6-959e-790b57d3c3ce
* Version Independent ID: 3

[2022-07-25 18:18] andrePKI opened #96202 "Wrong link"
In the section **Data box components** the reference to [Use the web-based UI to administer your Data Box](https://docs.microsoft.com/en-us/azure/databox/data-box-portal-ui-admin) is pointing to **Use Azure portal to administer your Data Box Disk** (i.e the Azure portal) and not to the description of the Local Web UI.

It should probably point to [Use the local web UI to administer your Data Box a

[2022-07-25 18:34] JamesTran-MSFT commented on #96201
@Shad0wguy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-25 18:41] dknappettmsft commented on #95123
#please-close

[2022-07-25 18:41] #95123 closed

[2022-07-25 19:01] chrislehr opened #96203 "Interactive Auth requirement not listed here"
Recommend adding the interactiveauth error from this blog:
https://stefanos.cloud/kb/troubleshoot-azure-ad-connect-upgrade-issues/

As the "Learn More" link in the AAD Connect error points here and its not represented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a86c4b02-434c-d452-b3e5-527656234319
* Ve

[2022-07-25 19:08] JamesTran-MSFT commented on #96203
@chrislehr
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-25 19:17] ChaitanyaNaykodi-MSFT commented on #96191
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-25 19:18] ChaitanyaNaykodi-MSFT commented on #96199
Thank you for your feedback! We will review and update as appropriate.

[2022-07-25 19:20] johnmarco commented on #95560
#sign-off

[2022-07-25 19:28] MarileeTurscak-MSFT commented on #96183
@guarismo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-25 19:48] omrigaonms commented on #95342
HI-
There is an effort to update all the monitoring articles for this service. For alerts, we will point to this existing article, which does show the current UI and steps: https://docs.microsoft.com/azure/azure-monitor/alerts/tutorial-metric-alert.

Cheryl

From: Omri Gaon ***@***.***>
Sent: Sunday, July 24, 2022 11:45 PM
To: Gitarani Sharma ***@***.***>; MicrosoftDocs/azure-docs ***@***.***>; Ch

[2022-07-25 19:49] idontusenumbers opened #96204 "Images look blurry/fuzzy; use SVG or PNG instead of JPEG"
Due to the use of JPEGs in the documentation, these diagrams have compression artifacts, which can be distracting. I suggest using an SVG instead. Even a PNG would be better; it wouldn't have the artifacts and the file size would be smaller. I just opened the 62KB JPEG and exported as 8bit PNG and it's down to 25KB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-07-25 20:06] johnmarco commented on #95560
#please-close

[2022-07-25 20:06] #95560 closed

[2022-07-25 20:07] anbengts opened #96205 "Details needed"
Hi,
I have followed the guide for onboard ARC server agent with GPO.
The steps will not work on Windows Servers. The solution I found is documented at http://trentent.blogspot.com/2014/10/group-policy-preferences-scheduled-task.html

Also, I suggest images of the configuration file, for example in which format LOCATION should be input.

I have documented my steps, happy to share with you.

Thanks!

[2022-07-25 20:17] mmacy commented on #92778
@bachoang Looks like you might have found and posted what you're requesting here in this blog post:

https://blogs.aaddevsup.xyz/2022/05/how-to-enable-msal-for-java-msal4j-logging-in-a-spring-boot-application/

Does the information in your blog post adequately address your request in this issue? If so, would you consider adding the information to this article to help others?

[2022-07-25 21:02] #89184 closed

[2022-07-25 21:19] tejaswikolli-web commented on #94707
Added clarification to the doc.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/205876

#please-close

[2022-07-25 21:19] #94707 closed

[2022-07-25 21:22] suzizuber commented on #95996
#reassign: @rvandenbedem  - please take a look at this customer feedback and let me know what you think.

[2022-07-25 21:35] tejaswikolli-web commented on #94706
az acr check-health doesn't support podman.

#please-close

[2022-07-25 21:35] #94706 closed

[2022-07-25 21:42] sunnyhay commented on #95314
@YutongTie-MSFT  any update so far? Thanks.

[2022-07-25 21:43] dave1k opened #96207 "Multiple start/stop times"
It would be useful to be able to create custom start/stop tags, and then assign a time to the tag name.  I work for a large organization that requires different running hours for VMs.
For example: sequencedstart-0800, sequencedstop-1800.

This would allow me to deploy a single start/start solution for all my subscriptions (vs having to target specific RGs).

Thanks

---
#### Document Details

⚠ *D

[2022-07-25 22:41] SaiKishor-MSFT commented on #95858
@adalfa Any update?

[2022-07-25 23:03] KranthiPakala-MSFT commented on #96204
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-25 23:09] ChaitanyaNaykodi-MSFT commented on #96132
Hello @astrahan87, thank you for reaching out to us. Can you please provide us with the support ticket number created in this case?
Also please bear in mind that we monitor this channel for documentation enhancements/bugs and if this is a product feedback I might have to redirect you to some other medium/channel.
Thank you for your patience throughout this process. Please let me know if you have a

[2022-07-25 23:14] JimacoMS4 commented on #94680
Hi @frozen-oranges As noted in the previous comments, updates have been published. At this time, I'm going to close this issue. If you think further updates are requited, please open another issue and link to this issue.

Thanks again for your feedback,

Jimaco

[2022-07-25 23:14] JimacoMS4 commented on #94680
#please-close

[2022-07-25 23:14] #94680 closed

[2022-07-25 23:23] ChaitanyaNaykodi-MSFT commented on #95947
Hello @Anand-Moghe ,

As per the [Azure limitation documentation ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#application-gateway-limits) the Request timeout maximum to private backend is 24 hours and Request timeout maximum to external backend is 4 minutes.

Hope this helps. We will now proceed to close this issue out please tag me i

[2022-07-25 23:23] #95947 closed

[2022-07-25 23:23] raju-thorat opened #96212 "Example of GenerateJson : 'verify-email' field missing in description but present in outputClaim (json string)"
[Description missing for "verify-email" field]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc19c543-3efb-08a2-55a0-fd8b9b35db7e
* Version Independent ID: 4704812b-44bb-831a-04a3-8c5a2ae5cf8b
* Content: [JSON claims transformation examples for custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/act

[2022-07-25 23:42] ChaitanyaNaykodi-MSFT commented on #95675
Hello @Eurosome, @kayliegoad, @rui-convatec , @mbroaders
I am still following up on an internal issue regarding this case.
Meanwhile can you please try following work-arounds and see if that resolves the issue.

1. If not already tried, can you try running the command via [Azure Cloud Shell ](https://docs.microsoft.com/en-us/azure/cloud-shell/overview)?
2. Can you try running the command after upd

[2022-07-25 23:56] yosoyjay opened #96213 "Typo in command"
Command in docs to add DNS zone endpoints (note **-name**):
`az extension add -name storage-preview`

Should be (note **--name**):
`az extension add --name storage-preview`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff

[2022-07-26 00:03] JamesTran-MSFT commented on #96212
@raju-thorat
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-26 00:16] KNCNS opened #96215 "Wrong Issuer URL"
[Enter feedback here]
Hello,

The screenshot's "Issuer" has a typo which can be confusing as the required URL is "https://sts.windows.net/{AzureAD TenantID}/"

Thanks!

![image](https://user-images.githubusercontent.com/92397252/180895979-7e18ffab-cbfc-495d-978f-f36db2440c8a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-26 00:26] w-azure commented on #95968
Thanks @ddobric for the feedback and good catch. The **Azure IoT Edge Tools for VS 2022** is actually an extension in Visual Studio 2022, not a tool. The instructions were updated with this line:

Or, in Visual Studio go to **Extensions > Manage Extensions**. The **Manage Extensions** popup will open. In the search box in the upper right, add the text **Azure IoT Edge Tools for VS 2022**, then sel

[2022-07-26 00:26] #95968 closed

[2022-07-26 00:36] mike-urnun-msft commented on #96184
Thank you for your feedback! We will review and update as appropriate.

[2022-07-26 00:41] ChaitanyaNaykodi-MSFT commented on #96215
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-26 00:41] pnarsi opened #96217 "Konnectivity Agent details"
I just noticed that Azure Global required network rules has been updated with a comment in some rows saying that this connectivity is not required for clusters with **konnectivity-agent** enabled.

Is there a separate page that explains what this konnectivity-agent is and how to enable it?

![image](https://user-images.githubusercontent.com/7891408/180898285-8c0803b3-3ace-4d66-91d0-2e6c01582e98.pn

[2022-07-26 01:32] mannamraju opened #96218 "Command to enable soft-delete errors out."
Command to enable soft-delete errors out.
Following is the error message:

az resource update --id $(az keyvault show --name \ citus-kv -test -o tsv | awk '{print $1}') --set \ properties.enableSoftDelete=true
ERROR: unrecognized arguments: -test

Examples from AI knowledge base:
az keyvault show --name MyKeyVault
Show details of a key vault. (autogenerated)

az keyvault show --name MyKeyVault --r

[2022-07-26 01:34] pradorodriguez opened #96219 "Update steps to current IoT Central View"
- Section: Customize the device template
- Outdated steps:
2. In the Temperature Controller device template, select Cloud properties.
3. Select Add cloud property. Enter Customer name as the Display name, expand the entry and choose String as the Schema. Then select Save.
- New steps:
2. Click "add capability"
3.  Enter Customer name as the Display name.
4. Expand down arrow and choose String as t

[2022-07-26 01:42] RolandlinAKS commented on #95574
Thanks for your review and modification.

[2022-07-26 01:51] asudbring commented on #94252
Updated this document to contain instructions on enabling and disabling network policies for an existing VNET with a subnet. The setting referred to in the portal above is for when the private endpoint is created.  This setting will be addresses in an update to the document on creating a new private endpoint.

PR for update:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/205911

#please-clos

[2022-07-26 02:09] git188 opened #96221 "Incorrect Translation in Japanese Docs - Bastion Workload type in "Azure subscription and service limits, quotas, and constraints" Docs"
In "Azure Bastion の制限" section of Japanese Docs "Azure サブスクリプションとサービスの制限、クォータ、制約", Workload types "Light, Medium, and Heavy" are translated as "白, Medium, and ヘビー".
It should be "Light, Medium, and Heavy" instead. English type names are understandable and appropriate even in Japanese Docs.

[en-us]
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-

[2022-07-26 02:12] minjich opened #96222 "Could you check if there are any fixes on this page?"
Recently I heard this feature updated and some cases didn't supported peviously added supportable scenario for now. Could you check if there are any outdated data?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3aeab4a-343d-b492-f9dc-a3233a117101
* Version Independent ID: 075ccfaf-9b5c-aa6d-8a35-a57b4344773c
* Content:

[2022-07-26 02:38] kjkent opened #96224 "Edit: Doc request/potential bug -- Directory administrative role requirements for application permissions."
**Edit:** After some more debugging, I've discovered that this behaviour is due to the application not being assigned the "Password Administrator" administrative role from within Azure AD. After adding this, the problem resolves. Looking through the Graph API documentation, I don't believe it's sufficiently clear that this step must be taken in order to run certain requests. Or, is it possible tha

[2022-07-26 02:55] frankqianms opened #96225 "Sample link disabled"
Click the link here
![image](https://user-images.githubusercontent.com/109947924/180913112-2c298099-94b7-4826-9c57-affc0ee36bf6.png)
Then pop up this error page
![image](https://user-images.githubusercontent.com/109947924/180913189-90432be4-6fb7-4ab1-b08b-c302e9bb18b4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-07-26 02:57] AnuragSharma-MSFT commented on #95976
@radek01 Thanks for reporting this issue. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-07-26 02:58] AnuragSharma-MSFT commented on #96218
@mannamraju Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-26 02:59] AnuragSharma-MSFT commented on #96222
@minjich Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-26 03:04] shwetamathur7 commented on #96225
@frankqianms Thanks for your feedback. We will investigate and update the thread.

[2022-07-26 03:06] shwetamathur7 commented on #96224
@kjkent Thanks for your feedback. We will investigate and update the thread.

[2022-07-26 03:09] AnuragSingh-MSFT commented on #94819
@andyjballgit, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-07-26 03:09] #94819 closed

[2022-07-26 03:42] Venkateshdodda-MSFT commented on #96200
@marcinburak Thank you for your feedback! We will review and update as appropriate.

[2022-07-26 03:43] AshokPeddakotla-MSFT commented on #96219
@pradorodriguez Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-26 03:48] hengv opened #96227 "the word "lslbk" should be lsblk"
Hi

I found that the word "lslbk" in the sentence:
"Use the [partprobe](https://linux.die.net/man/8/partprobe) utility to make sure the kernel is aware of the new partition and filesystem. Failure to use partprobe can cause the blkid or lslbk commands to not return the UUID for the new filesystem immediately." should be "lsblk"

Could you help to look at it?

Thanks!

Heng Wei

---
#### Document D

[2022-07-26 03:51] Sandeg-MSFT commented on #95486
#please-close

[2022-07-26 03:51] #95486 closed

[2022-07-26 04:15] sentry-cy opened #96228 "doc is not updated"
[Enter feedback here]
azure front door purge cache is in front door designer, not in access control, seems this page is obsolete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ae4d86-3843-4e48-c1ce-625ee1fb0971
* Version Independent ID: 4e736e00-6d2d-70b4-5add-36a539853c1c
* Content: [Cache purging - Azure Front Doo

[2022-07-26 04:23] KrishnaG-MSFT commented on #96221
@git188 Thanks for the feedback.
Assigning to @tfitzmac for visibility, review and document enhancement as appropriate.

[2022-07-26 04:23] KrishnaG-MSFT commented on #96205
@anbengts Thanks for the feedback.
Assigning to @johnmarco for visibility, review and document enhancement as appropriate.

[2022-07-26 04:32] Karishma-Tiwari-MSFT commented on #96227
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-26 04:35] Kyle-123456 opened #96229 ""Validation host pool" should NOT be enabled for production environments."
I believe that a caution is needed and needs emphasis.

A "validation host pool" should not be used in a production environment.
Doing so can lead to a variety of issues, such as seeing stale sessions in Azure.

A validation host pool should be strictly used for testing. This variable should NOT be left in place if the environment is promoted from a test environment to being the production environ

[2022-07-26 04:37] adalfa commented on #95858
@SaiKishor-MSFT , sorry for the late answer: it does not matter what permission I choose, every time the ad authentication is gone

[2022-07-26 04:39] galiacheng commented on #76174
No reboot issue happens with `service oracleasm` usage.

Attach debug info:

- Disk for Oracle ASM is created following [Set up Oracle ASM on an Azure Linux virtual machine - Azure Virtual Machines | Microsoft Docs](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/configure-oracle-asm).
- Checking the mapping using `/etc/init.d/oracleasm querydisk`

- Reboot Oracle ARM with

[2022-07-26 04:45] SreejaBhattacharya-MSFT commented on #96229
@Kyle-123456 Thanks for bringing this to our attention. We will look into this and update the documentation.

[2022-07-26 04:50] SreejaBhattacharya-MSFT commented on #96217
@pnarsi Thanks for reaching out. We'll look into this and update this thread.

[2022-07-26 05:09] #96054 closed

[2022-07-26 05:34] MughundhanRaveendran-MSFT commented on #95950
@JimInWA , Sorry I didnt provide the article in my previous comment. I have updated the comment. Please check and let me know

[2022-07-26 05:36] SumanthMarigowda commented on #96213
@yosoyjay
Thanks for your question. We are checking on this and will respond to you soon.

[2022-07-26 05:36] SumanthMarigowda commented on #96202
@andrePKI
Thanks for your question. We are checking on this and will respond to you soon.

[2022-07-26 05:43] dominicbetts commented on #96219
Hi @pradorodriguez - thanks for pointing this out. The IoT Central UI changed recently and we're currently in the process of updating the docs to reflect this. All being well, the changes should be live later this week. I'll leave a note here as soon as they're done. Regards,
Dominic

[2022-07-26 06:46] MichaelRyan87 commented on #70398
Also curious.

If the computers are currently syncing and you move from federated to managed for your primary domain, it sounds like there is nothing to be configured? There isn't documentation on this in the staged rollout plans to address if used.

[2022-07-26 06:49] KapilAnanth-MSFT commented on #95900
Hi @donghui-wu777 , I got an update from our Product Group.

There is some mismatch between the tags documented and the tags supported.
This is because our PG is still working on them.

There will be a public announcement once they are globally available, and we will update the documents accordingly.

In the meantime, we request you not to use them in a Production environment.
However, you may con

[2022-07-26 06:49] #95900 closed

[2022-07-26 06:58] LifeRyuto opened #96232 "Does this page apply to flexible servers?"
Does this document apply to flexible servers as well?

![image](https://user-images.githubusercontent.com/48182189/180943468-9b18d396-6131-41df-a5cd-419ae1cf8e44.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d1d1a4-46f7-948e-82be-77235211c05a
* Version Independent ID: 767a4539-b9c4-6c98-2875-c838f20b85b7
* Cont

[2022-07-26 07:03] GitaraniSharma-MSFT commented on #96228
@sentry-cy , thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-26 07:03] Sandeg-MSFT commented on #95250
@BakkerJan
Yes, to enable this feature both steps have to be peformed in the same order mentioned in the article. I have also informed my internal team to mention as steps 1 and step 2 in the article to avoid the confusion.

[2022-07-26 07:14] astrahan87 commented on #96132
@ChaitanyaNaykodi-MSFT The support ticket number was 2206140040007835.
Definitely let me know if this belongs somewhere else. Thanks!

[2022-07-26 07:26] AnuragSharma-MSFT commented on #96232
@LifeRyuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-26 07:29] shwetamathur7 commented on #96225
@frankqianms from which users account you are trying to sign in. To access the authorize or token endpoint, user need to add in some tenant. For common endpoint, when a response returns from the /common endpoint, the issuer value in the token corresponds to the user’s tenant.

I have tried to sign the with user account in my tenant and able to get the code successfully.

[2022-07-26 07:48] frankqianms commented on #96225
@shwetamathur7 Thanks for your reply. I now figure out the things. But for users who are not familiar with OAuth, like me, it's hard for him/her to know how to add in a tenant, and he/she will just follow the instruction, click the link, get an error finally.

[2022-07-26 08:09] grgkro opened #96233 "Descriptions are mostly rephrasing the given names, they don't really add value"
Hi,
I came to the page because I was wondering what exactly is "Memory size usage", our namespace is already at 8% of the Memory size usage. But where can I increase the memory, is it possible? Is data getting lost if the memory is used up, where can I see, what the max memory is, it's not shown in the properties? The description on your page simply says: "The percentage memory usage of the namesp

[2022-07-26 08:17] v-ksreedevan commented on #78451
Hi @DXPetti,

Thanks for bringing this up.
According to the SME, in general, if the project and all the related artifacts get completely deleted, there should not be an issue with creating a project with the same name.

The issue occurs if for any given reason the previous clean is incomplete. Till now, there are rare cases related to this issue. In future, we shall keep a close eye on the inciden

[2022-07-26 08:18] v-ksreedevan commented on #78451
#please-close

[2022-07-26 08:18] #78451 closed

[2022-07-26 08:30] fkucuk opened #96235 "Rule 920200 does not work as expected"
I am using OWASP 3.0

About Rule 920200.

This is OWASP's page: [https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L1165](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L1165)

The regex for this rule should be: "^bytes=((\d+)?\-(\d+)?\s*,?\s*){6}"

Both the following ex

[2022-07-26 08:30] AnuragSingh-MSFT commented on #96192
@jan-delaet, thank you for the question. I am assigning it to our content team for further review.

@JnHs, could you review this question and share your thoughts. Thanks.

[2022-07-26 08:35] D-I-J opened #96236 "DB connection issues , while migrating to laravel"
[Enter feedback here]
I have newly installed the MySql,
when I reach the migration step the Laravel gives me errors.

SQLSTATE[HY000] [2002] No connection could be made because the target machine actively refused it (SQL: select * from information_schema.tables where table_schema = forge and table_name = migrations and table_type = 'BASE TABLE')
---

PDO::__construct("mysql:host=127.0.0.1;port=330

[2022-07-26 08:38] omrigaonms commented on #95342
Hi Cheryl

Thanks for replying so soon.

I think I’m not making myself clear.

The last link you sent talks about creating a metric alert.
but my ask is different.
Me and my cx is having difficulty creating the vpn gateway logs - therefore we are not be able to download them ,nor create events bases on the log content ,
this is because the UI was changed.
We would like you to update this document

[2022-07-26 08:46] MayankBargali-MSFT commented on #96207
@dave1k Thanks for reaching out. I believe you are referring to Start/Stop VMs document [here](https://docs.microsoft.com/en-us/azure/azure-functions/start-stop-vms/overview). Please confirm if my understanding is correct.

[2022-07-26 09:00] MayankBargali-MSFT commented on #96233
@grgkro Thanks for reaching out. The document talks about the different servicebus resource metrics that are available.
As mentioned in the [Note section](https://docs.microsoft.com/en-us/azure/service-bus-messaging/monitor-service-bus-reference#resource-usage-metrics) the CPU and memory metrics are only available for the premium tier.

No there will be no messages lost in case of high memory. Hig

[2022-07-26 09:03] VikasPullagura-MSFT commented on #96146
@mjvanderveen Agree that this is not an expected behavior. To troubleshoot the issue further, request you to open a support case.
Also, if you can please try deploying with another image/sku just to see if this is a repeated issue so that will be easy for the support team to figure out the issue.

Request you to open a support case.

[2022-07-26 09:03] #96146 closed

[2022-07-26 09:11] GitaraniSharma-MSFT commented on #96235
@fkucuk , Thank you for your feedback. However, since this is a product issue which is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited

[2022-07-26 09:11] #96235 closed

[2022-07-26 09:13] t-bzhan opened #96237 "Incorrect instructions for "Migrating from an IP firewall rule to a virtual network ACL" for Cosmos DB"
The instructions for Cosmos DB "[Migrating from an IP firewall rule to a virtual network ACL](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint#migrate-from-firewall-to-vnet)" is incorrect.

Based on its explanation:

That means the suggested way is to add the VNet ACLs first before the service endpoint is turned on using the "IgnoreMissingVnetServiceEndpoint"

[2022-07-26 09:15] shwetamathur7 commented on #96225
@frankqianms Thanks for the suggestion. We will check internally and update accordingly. Closing this thread as issue has been resolved.

[2022-07-26 09:17] frankqianms commented on #96225
@shwetamathur7 Thanks for your help!

[2022-07-26 09:23] hachiang-msft opened #96238 "Description in Azure DNS zone endpoints not up to date"
In section Azure DNS zone endpoints,
`
The following table lists the format for Azure DNS Zone endpoints for each of the Azure Storage services, where the zone is z5.
`
But following table does not contain example with z5 zone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d-95d8-a56823d910a3
* Versio

[2022-07-26 09:34] mrkuolematon opened #96239 "Change login URL"
Please change the sign-on URL:

Sign-on URL
--
https://falcon.crowdstrike.com/login
https://falcon.us-2.crowdstrike.com/login
https://falcon.eu-1.crowdstrike.com/login
https://falcon.laggar.gcw.crowdstrike.com/login

These point to the original Login page, which makes that SAML SSO will not work.
Link should look like this to work: https://falcon.eu-1.crowdstrike.com/login/sso

---
#### Document D

[2022-07-26 10:01] vargasol opened #96240 "Missing $ sign before variable definitions"
The sample script does not have the "$" sign before the variables. All variable definition makes error on the cloud shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2513473-bb3f-04f5-d947-a9777e0c2e90
* Version Independent ID: 99eb79de-2b7a-6b05-1f92-eee9c4cfb9c4
* Content: [Copy a managed disk to a storage accou

[2022-07-26 10:03] chrisseed opened #96241 "Referencing secrets in environment variables must use "secretref:" not "secretRef:""
The example of referencing a secret in an environment variable has the following:

[code]

which doesn't work - you have to use ```secretref``` - all lowercase.

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735a0e03-0632-feb7-8787-e62118809072
* Version Independent ID: 938a7233-56e5-dd1b-05c0-2a

[2022-07-26 10:08] PriyankaRudramaina commented on #96240
@vargasol,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-26 10:09] xiongyu0523 opened #96242 "a few improvements to this page to give a better getting started experience"
[Enter feedback here]

Some feedbacks I have to make this page better

1. The OpenSSL generated sha1 thumbprint has columns embedded and our Portal only allows pure numerics. We should either improve our portal or provide an easy way to remove columns. Someone was pushing IoT explorer to support this format, see https://github.com/Azure/azure-iot-explorer/issues/367

3. The scripts generate only o

[2022-07-26 10:09] stewartmacdonald opened #96243 "*Code not included"
You forgot to include the code in your tutorial.

![image](https://user-images.githubusercontent.com/2231587/180981070-2d99d46e-893b-4ce0-9eb9-f56979927461.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1856f91-2eb8-b829-669d-89333a259251
* Version Independent ID: a7b65c83-9317-167e-3a05-433f9fecb7a1
* Content: [

[2022-07-26 10:22] #96229 closed

[2022-07-26 10:32] GeethaThatipatri-MSFT commented on #95867
Thanks, @SudheeshGH, and @VandhanaMehta for your inputs.
@ascii79 We will proceed to close this issue now.If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-26 10:32] #95867 closed

[2022-07-26 10:34] GeethaThatipatri-MSFT commented on #95869
@Rakesh1402 We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-26 10:34] #95869 closed

[2022-07-26 10:37] SnehaAgrawal-MSFT commented on #96236
@D-I-J Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-26 10:42] shwetamathur7 commented on #96239
@mrkuolematon Thanks for your feedback We will investigate and update the thread.

[2022-07-26 10:47] GeethaThatipatri-MSFT commented on #96237
@t-bzhan Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-07-26 10:53] SwathiDhanwada-MSFT commented on #95959
@krishnaHC43 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc once approved by content author. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-07-26 10:53] #95959 closed

[2022-07-26 11:21] mhoult22 commented on #96000
Slightly embarrassed!  I had the `${__BeanShell( System.getenv("Thread") )}` command with lower case "s", so `Beanshell` instead of `BeanShell`.  I've corrected this and now the test runs.

So 2 outstanding issues:
1) The error log was blank, but that's raised separately with Microsoft.
2) It's not possible to use a default value (so the same test can also run locally in JMeter) when using the `${

[2022-07-26 11:53] ninallam commented on #96000
@AjayKumar-MSFT can you please close the issue?

[2022-07-26 12:06] kjkent commented on #96224
@shwetamathur7, thank you. I've updated the issue as I've found a solution/workaround:

[2022-07-26 12:27] ikivanc commented on #95847
+1 facing with the same problem.

[2022-07-26 12:34] richard-artes commented on #84409
Under "unknown Operating System" the Fix says:

"The operating system of the VM was specified as "Other" in vCenter Server. This behavior blocks Azure Migrate from verifying the Azure readiness of the VM."

But I am not using vCenter, I am using Hyper-V and I get "unknown Operating System" with a Windows Server. What is the fix for Hyper-V?

Thanks,
Richard Artes.

[2022-07-26 13:17] MayankBargali-MSFT commented on #96241
@chrisseed Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-07-26 13:37] datorres88 opened #96246 "Document is out of date"
This document is outdated.  Get-AzSqlDatabase and related cmdlets do not work for Azure Synapse Dedicated SQL Pools.  You need to use Get-AzSynapseSqlPool (and related cmdlets) instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55975fd-9362-00a7-e110-04ae118987c7
* Version Independent ID: 293d2134-03c9-6826-99aa-

[2022-07-26 13:37] perentorio opened #96247 "Outdated credential reset command"
The command in section https://docs.microsoft.com/en-us/azure/aks/update-credentials#reset-the-existing-service-principal-credential is not up to date and will fail from an az client in version > 2.38

_SP_SECRET=$(az ad sp credential reset --name "$SP_ID" --query password -o tsv)_

_ERROR: the following arguments are required: --id_

Instead, it should be:

_SP_SECRET=$(az ad sp credential reset

[2022-07-26 13:59] abe-cyb87 opened #96249 "Section Delete or unregister a configuration server (PowerShell) uses removed powershell commands"
The section Delete or unregister a configuration server (PowerShell) uses removed powershell commands.
Set-AzSiteRecoveryVaultSettings --> Set-AzRecoveryServicesVaultContext
Get-AzSiteRecoveryFabric --> Get-AzRecoveryServicesAsrFabric
Remove-AzSiteRecoveryFabric --> Remove-AzRecoveryServicesAsrFabric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G