[2019-09-17 11:50] #38792 closed

[2019-09-17 11:54] KrishnaG-MSFT commented on #39026
@aayush3667 I hope you have self resolved the database related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-09-17 12:04] maheshsabnis opened #39032 "The Indexer is failing"
I am facing following error when having a huge document size in CosmosDB.

[
    {
        "key": "&lt;MyKey&gt;",
        "name": null,
        "errorMessage": "The document with key '&lt;MyKey&gt;' has 15000 objects in collections (JSON arrays). At most 3000 objects are allowed to be in collections across the entire document. Please remove objects from collections and try indexing the document a

[2019-09-17 12:06] msrini-MSFT commented on #39029
@sakaldeepyadav , Thank you for your feedback. There is a typo in the documentation.

You need to execute nslookup myserver.database.windows.net

I will fix the typo and paste the PR here.

[2019-09-17 12:09] jakaruna-MSFT commented on #39008
@shankarsundaram The service principal which is created in the background is not only for pulling images. AKS will use the same service principal for creating the internal/external load balancer, additional disks etc.
Service principal creation is one step in the ARM template and that resource values are fed to the subsequent AKS creation step.

For ACR authentication, Secret is not used. Instead

[2019-09-17 12:10] nidhi5885 commented on #24475
Hi All,

I have a web application configured behind the application gateway. I need to get Client IP addresses(from which the request is actually made to application gateway which would help me in identifying the geolocation of my clients) but instead, I am getting the application gateway's private IPs in the application logs.
How can this be achieved? Do I need to make any changes to my applicati

[2019-09-17 12:11] dohughes-msft opened #39033 "Mention availability zones"
In the SLA section it would be good to mention Availability Zones and the 99.99% SLA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b12d12e-2ae0-5aeb-72fe-ec2712e1167f
* Version Independent ID: c96264a2-0898-887f-d945-cd9cee2e788e
* Content: [SAP HANA availability on Azure VMs - Overview](https://docs.microsoft.com/e

[2019-09-17 12:16] #39029 closed

[2019-09-17 12:16] jakaruna-MSFT commented on #39014
@MedAnd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 12:17] jakaruna-MSFT commented on #39014
@athinanthny Please validate this request. I can edit the doc after your confirmation.

[2019-09-17 12:19] jakaruna-MSFT commented on #39000
@MedAnd Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 12:19] jakaruna-MSFT commented on #38925
@zr-msft @mlearned Please add your comments

[2019-09-17 12:19] sakaldeepyadav commented on #39029
Ya, I figured it out after posting. It was typo error. Anyway, good to get it identified at earliest.

[2019-09-17 12:37] heymega commented on #27024
I'm in a similar situation to @my-name-is .

I'd like to know the intended lifetimescope of the QueueClient and TopicClient.

[2019-09-17 12:39] fxnicolas commented on #37716
I'm facing the same issue here. I have a working image and am trying to get it on Azure Marketplace, and cannot see how to generate the SAS URI from the image.
Is there an Azure VHD packer sample or template somewhere?

[2019-09-17 12:51] vlado101 commented on #38302
hello @femsulu just wanted to follow up if there was any answer about going through the section 3 of Microsoft documentation and doing a walk through with screenshots.

Thank you

[2019-09-17 12:51] msrini-MSFT commented on #39018
@siddharth-dhawan , Thank you for your feedback. Unfortunately, we will not be able to provide you an ETA on when Application Gateway V2 will be available in UAE data center.

We will update the documentation once it is GA.

[2019-09-17 12:51] #39018 closed

[2019-09-17 13:02] lukos opened #39035 "Container provisioning took 11 minutes"
I assume this was a random error but after the service was up and running, the app didn't work. I used `kubectl get pods -w` to see what was happening and the pod was showing as ContainerCreating. This took 11 minutes! When it finally changed to "Running", it worked as described.

Perhaps at minimum, you could add this information into the instructions after the service is running and before attem

[2019-09-17 13:21] MGoedtel commented on #38989
@bzabber - Yes, that is what the article states, if there is a proxy in-between the OpsMgr management server and the Azure service, you need to specify the proxy server address/port in order to allow it to communicate through the proxy server.  I hope this answers your question.  #please-close as this isn't a documentation issue.

[2019-09-17 13:21] #38989 closed

[2019-09-17 13:28] j-martens commented on #38921
#assign:@trevorbye

[2019-09-17 13:29] KalyanChanumolu-MSFT commented on #39016
@danijam Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-09-17 13:29] KalyanChanumolu-MSFT commented on #39020
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-09-17 13:40] atkinchris commented on #25742
I'm facing this same issue, where generated `client_secret` values, that have some special characters, will give `invalid_client` errors. Despite the docs saying to URI encode them, even working keys will not work when encoded.

[2019-09-17 13:53] atkinchris opened #39037 "client_secret - URI encoding does not work"
# Encoding client secrets causes invalid client errors

## Description

Client secrets issued from the Azure Portal are generated with special characters which are not URI safe. Using a secret with any of these characters will cause an `invalid_client` error.

This has been reported before, on a few issues that have been subsequently closed - including one that was "resolved" by removing special c

[2019-09-17 13:58] v-alkolc commented on #35912
Hello @MarileeTurscak-MSFT

I want to join @cesarmaneiro in this query to change the documentation as it is misleading.
From the note in the beginning some of the customers get confused that they can use Company Branding with their Office 365 licenses, which actually is not possible as the requirement is to have Premium license.
 I believe that it was meant to note that one can purchase Premium li

[2019-09-17 14:01] AnatolN opened #39038 "Clarification on permissions needed to perform the tasks"
What Administrative Roles are needed to perform the above actions?
Is there a place where the minimum permissions are described?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e4ee507-3d48-d93b-8f6c-59279b1c0eda
* Version Independent ID: 60683a55-6e81-0e9e-f8fe-2e1ff37c262e
* Content: [Allow or block invites to specif

[2019-09-17 14:03] ChrisSommers opened #39039 "Instructions missing"
At the top it says, you'll learn how to "Reprotect the primary VM back to the secondary region." but this is not covered in the article

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826c5c65-a464-d332-8f85-de5a6803d276
* Version Independent ID: b5061214-37e0-71ed-ee71-ae662f60b375
* Content: [Fail back Azure VMs repli

[2019-09-17 14:09] v-alkolc opened #39040 "Required license for company branding"
Hello,
From the note in the beginning some of the customers get confused that they can use Company Branding with their Office 365 licenses, which actually is not possible as the requirement is to have Premium license.
I believe that it was meant to note that one can purchase Premium license on top of their existing O365 License, however from the first sentence one can assume that they can use the

[2019-09-17 14:10] shankarsundaram commented on #39008
Thanks I'm good.

[2019-09-17 14:10] #39008 closed

[2019-09-17 14:13] joedev-big commented on #39001
Thanks Karthik,
  However, the call to the non-RFC1918 address is originating from an
assigned subnet that we have VNET integrated with our appservices.  There
are no network interfaces on which I can check effective route, or at least
none that Azure gives me access to.
  So is there another way to verify the (effective) route to the VNGateway?

On Mon, Sep 16, 2019 at 9:58 PM KARTHIK SRINIVAS <n

[2019-09-17 14:14] lostmygithubaccount commented on #38471
Hi Joe,

We are pivoting data drift to focus on detecting drift in Azure ML datasets, rather than on models and scoring endpoints, to provide a more flexible solution. I prefer the definition "In the context of machine learning, data drift is the change in model input data that leads to model performance degredation" - this aligns better with what we do today. In general, data drift detects a stat

[2019-09-17 14:26] danimir commented on #39020
Thank you on your feedback. I'm not clear on what your ask is exactly - you suggest modifying the sentence, but I'm not sure that I understand to what, that is what is unclear from this sentence? Can you please expand on what you mean. Thanks.

[2019-09-17 14:29] alexcnichols opened #39041 "Order of columns in the benefits table"
Everywhere else "Marketplace and AppSource" is written in that order, yet the columns in the benefits table are the other way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f44c21-34d2-cf45-3ec2-dfd799a7d440
* Version Independent ID: 37223818-7bd1-f9c9-e791-a127f4322c65
* Content: [Comparing AppSource and the Azure

[2019-09-17 14:31] lostmygithubaccount commented on #38654
Hi Wolfgang,

Please note that we will be removing the azureml-monitoring sdk in the near future, so we'd ask not to take a big dependency on it.

CorrelationId is a GUID you can speicfy and use to join rows of the data later. It would be logged as a column in the csv files in blob that are generated. For instance, you can generate a CorrelationId GUID in the deployment, send it as part of the res

[2019-09-17 14:35] Mortana89 commented on #18035
Adding an extra instance to a VMSS with bronze durability yields the same, why is this not possible then? It seems like the only logical workaround to keep a dev cluster up and running, by adding an extra instance temporarily, if we need to install a VMSS extension for example.
At this moment we can't even change a VMSS password due to this message.

[2019-09-17 14:37] JonCawte commented on #39020
Hi @danimir , the document references the fact that if recommendations are manually applied, via the portal, then they will not be validated and potentially reverted.  However, in this document https://docs.microsoft.com/en-us/azure/sql-database/sql-database-advisor-portal, it says that in that scenario they will.  I have a CSS case at the moment where the customer has done just that, i.e. applied

[2019-09-17 14:37] sofianemad opened #39043 "Clarification on InterVnet traffic"
Is the traffic going out of a resource's public IP in a VNet to the resource's public/private IP in a different VNet shown as InterVnet on the "View VNet" map?

I am not sure based on the documentation.

For example, it could be the traffic from an Azure app service in one Vnet to a VM in another Vnet.

Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-09-17 14:38] danimir commented on #37458
Yes

[2019-09-17 14:39] MGoedtel commented on #38362
@ROSMITHJ-MSFT - Understanding the difference between resident memory/main memory, and virtual memory is fundamental computing knowledge.  That being said, I've added a couple of basic definitions for each in case the reader isn't familiar with them.  The updated article should go out later today.  #please-close.

[2019-09-17 14:39] #38362 closed

[2019-09-17 14:41] danimir commented on #39020
@JonCawte - Thank you on the clarification. The clarification here needs to be on the word manual. If applied from the portal on your own (this is your customer's case), then validation will happen. If they are manually deployed with own scripts, or via SSMS then they would not. This later part was what was meant in the article. I will go ahead and clarify what manually means. Thanks on the feedba

[2019-09-17 14:43] crixo opened #39044 "AzureAD powershell module upgrade"
Could you please upgrade the sample using AzureAD module instead of MSOnline? MSOnline module documentation page says the module itself is deprecated so AzureAD module should be used instead. Can the permissions described above to "update user pwd" and "delete user" be set using AzureAD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-09-17 14:43] danimir commented on #39020
@JonCawte - Again, I looked at the article. Note the title "Manually apply recommendations through T-SQL" - it is clear that this section refers to T-SQL, not portal.

[2019-09-17 14:44] JonCawte commented on #39020
@danimir thanks for that.  That's great to clear that up.  It was the fact the second article clarified it but the first doesn't so if that can be added that will be great. Thanks

[2019-09-17 14:45] asinn826 commented on #38337
Following up on this... @dcbrown16 your confusion on timeline was probably due to the delay on our side that didn't line up with what we say on our docs. That was a miss on our part, so apologies for that.

[2019-09-17 14:46] devan10 opened #39045 "Exclude admins"
I see this was closed but not resolved.   The portal is showing the message:
"Don't get locked out. This policy can potentially prevent your admins from accessing Azure. Exclude at least one admin."

How do we exclude accounts from this policy?   There is no mechanism in the portal.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-09-17 14:46] JonCawte commented on #39020
@danimir, in the article https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning the statement is under the heading
![image](https://user-images.githubusercontent.com/55450071/65052301-33c3c080-d962-11e9-9c34-9070a458977c.png)
There is no mention that it is referring to T-SQL applied indexes.  The heading you are referring to is in the article where the clarification is c

[2019-09-17 14:53] shashishailaj commented on #39003
@allenwux I had a discussion about the typos in the code with teh author and we agree that there are a few changes needed. At present the author is working on changing this page and adding some new information for updating this page with Java and Python examples. We have an existing backlog item for updating this page which is worked upon currently and shall be released in the next 2 weeks max. Cu

[2019-09-17 14:54] #39003 closed

[2019-09-17 14:59] danimir commented on #39020
JonCawte - Yeah, what happened is that you commented on a wrong page. Your did not report the issue on that page specifically, but on another page talking about recommendations in portal, but I figured it out. I have already updated that other page adding T-SQL to manual. Thanks.

I hope we can now close this ticket?

[2019-09-17 14:59] jrm346 commented on #36991
Hi guys,

Here is my hacky way of letting me unit test while still having something that runs on the cloud.
'''
try:
    from __app__.SharedCode import myFirstHelperFunction
except ModuleNotFoundError:
    from SharedCode import myFirstHelperFunction
'''

I know its ugly but it lets me unittest and still have working functions.

[2019-09-17 15:02] JonCawte commented on #39020
@danimir, thanks.  I can see my comment on https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning which is the one I was after the clarification on, is that correct?

[2019-09-17 15:02] tazmologist opened #39046 "User Access to WVD"
Can you not use groups for this, rather than individual user accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6d8a2
* Content: [Create a Windows Virtual Desktop Preview host pool by using the Azure Marketplace - Azure]

[2019-09-17 15:07] SamaraSoucy-MSFT commented on #39024
Hi @tkumark,

Thank you for reaching out to us. I will check on this and see if there is any information I can share with you.

[2019-09-17 15:09] danimir commented on #39020
@JonCawte - Yes. We can proceed to closing this request. Thank you.

[2019-09-17 15:14] sc-bperry commented on #25476
@djpmsft Daniel, I think we've resolved the original issues. If anyone has any further questions about branch permissions, they should open a new feedback item.

[2019-09-17 15:14] CeciAc opened #39047 "HybridWorker Group created by this script"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/607
The user is makign a suggestion on the original documentation

@pajcarpentier commented 6 hours ago — with docs.microsoft.com
Hello all.

you should precise that the Hyrid Worker group is created by the script New-OnPremiseHybridWorker.ps1.
As it is a mandatory field, and there is nowhere it is explain th

[2019-09-17 15:20] HeidiSteen commented on #39032
@maheshsabnis Hello, it looks like you've run into an index limit of 3000 (Maximum elements across all complex collections per document).  It's not a bug.  I think you'll need to look into partitioning or restructuring your data.  Posting to Stack Overview might help.

Link to Stack Overflow:  https://stackoverflow.com/questions/tagged/azure-search

Link to our service limits doc page:  https://do

[2019-09-17 15:20] #39032 closed

[2019-09-17 15:23] RyanHill-MSFT commented on #38628
@jewpaltz, shoot us an email at azcommunity[at]microsoft[dot]com ATTN: Ryan along with your subscription id. This should be working but the fact it isn't is indicative of some underlying issue.

[2019-09-17 15:26] JohnGalt1717 opened #39048 "Please include how to create a fade out at the end of the subclip created"
This must be available as a function to be able to fade out to black at the end (or whatever color) so that we can create nice teasers. How would we go about doing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 887bb629-5dd9-3af5-0bc1-7bcbb1517d97
* Version Independent ID: 3cdfe0f8-1c47-0a99-5386-059d266e6ddb
* C

[2019-09-17 15:31] RyanHill-MSFT commented on #38950
Glad you were able to determine the issue @VishveshKaushik. If you need any further assistance, don't hesitate to let us know.

[2019-09-17 15:31] #38950 closed

[2019-09-17 15:33] KetanChawda-MSFT commented on #38780
@dvdgutzmann I have checked the support request ID that you shared and I understand that engineer from support team is working closely with the product team regarding this issue. SE will provide the update to you soon on this issue. If this turn out to be a document issue , I will update the document accordingly.

This channel is for driving improvements towards MS Docs, Since this issue is not re

[2019-09-17 15:33] #38780 closed

[2019-09-17 15:35] KrishnaG-MSFT commented on #39047
@CeciAc Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-17 15:41] CeciAc opened #39049 ""Who is the account administrator for the subscription account?" Where are the steps?"
Hi team,
I'm moving this fro here: https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/543
The user is making a suggestion to the original documentation

The comments below were Machine translated

@HannahHsiao commented on [Tue Sep 17 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/543)

The old version of the file has the "Account account administrator who is the account?" st

[2019-09-17 15:46] msangapu-msft commented on #37833
This has been fixed. Thank you for the feedback, @kumarallamraju.
#please-close

[2019-09-17 15:46] #37833 closed

[2019-09-17 16:04] CeciAc opened #39050 "pg_dump with output redirection produces corrupted archive (at least in Powershell 5.1.17763.592)"
@lorenzo-biava commented on [Tue Sep 17 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/402)

The backup example uses the output redirection to create the dump file. In Powershell 5.1.17763.592 that results in a corrupted file, which is not recognized by pg_restore.
The example might be updated with the `-f` argument to specify the output file:
`pg_dump -h MySourceServerName -U MySo

[2019-09-17 16:06] MarileeTurscak-MSFT commented on #39031
@bakerm00
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-17 16:06] CeciAc commented on #39050
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.it-it/issues/402
The user is making a suggestion on the code

[2019-09-17 16:07] MarileeTurscak-MSFT commented on #39009
@prashantabkari
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-17 16:10] DixitArora-MSFT commented on #39028
Hi @oleksandr-bilyk Thanks for your feedback. We will review and update as appropriate.

[2019-09-17 16:18] JoeBT commented on #38471
Thanks Cody for your answer I am 100% aligned with.

I think you mean "degr*a*dation". The actionable example I would have liked
to see was more in a perspective of drift in models and scoring endpoints.
Because this is not what you propose right now, I am comfortable with what
you show in "
https://docs.microsoft.com/en-ca/azure/machine-learning/service/how-to-monitor-data-drift
"

Thanks for you

[2019-09-17 16:24] NavtejSaini-MSFT commented on #38867
@cynthn Please check the changes in the Availability Regions and please let us know if we can create Pull Request to correct this document.

[2019-09-17 16:25] djpmsft commented on #25476
Thanks for responding! #please-close

[2019-09-17 16:25] #25476 closed

[2019-09-17 16:29] mmacy commented on #38447
@maviso5 I'm going to dig into this one today to attempt to discover where the breakdown is occurring. Will update here when I have more info. Thanks for your patience.

[2019-09-17 16:30] djpmsft commented on #30153
Hi @hmayer1980,

Apologies for the delay in response! If you want to fail a pipeline, I would recommend have a Web Activity pointing at an invalid endpoint after your fail condition logic. I understand this is not properly documented and we have opened a work item to add this recommendation.

Hopefully this helps!

Thanks,
Daniel

[2019-09-17 16:33] #39041 closed

[2019-09-17 16:35] mahoekst commented on #36134
Any update on this?

[2019-09-17 16:44] pedroreys opened #39051 "Typo in DurableEntity function example"
There is a typo in the `DurableEntity` function example:

Today it has:

[code]

But the assignment instead should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version Independent ID: 5d8f8cfb-be79-fac8-62ef-3a396a3be3e8
* Content: [Durable Functions Overview - Azure

[2019-09-17 16:46] djpmsft commented on #26752
@SinghDhan Is your custom parameters json file named *arm-template-parameters-definition.json* exactly in the root folder of the repository? Changes in your DEV environment should not overwrite this. You do not have to manually edit your JSON file every time you make a change. The default file is only used if no parameters file is merged in the collaboration branch.

[2019-09-17 16:47] msrini-MSFT commented on #39001
@joedev-big , What is the source when you are trying to access On-Prem non-RFC1918?

[2019-09-17 17:00] cgillum commented on #39051
Thanks @pedroreys for finding and opening this issue! I've approved your PR and expect your fix will go live within the next few hours.

[2019-09-17 17:01] #39051 closed

[2019-09-17 17:04] shashishailaj commented on #39023
@crmhh Thank you for your query. We will investigate and update the thread.

[2019-09-17 17:12] A9G-Data-Droid opened #39053 "Token login for GCC High"
Is it possible to use hardware tokens for O365 MFA on a GCC-High tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Content: [Authentication methods - Azure Active Directory](https://docs.microsoft.com/en-us/azure/

[2019-09-17 17:14] MicahMcKittrick-MSFT commented on #39033
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 17:15] MicahMcKittrick-MSFT commented on #39046
Thanks for the question! We are investigating and will update you shortly.

[2019-09-17 17:15] PramodValavala-MSFT commented on #38962
@AmirHossein Just following up here... Could you please share the doc that you are referring to? With it, we can direct your query to the appropriate team. 😃

[2019-09-17 17:15] MicahMcKittrick-MSFT commented on #39035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 17:20] MicahMcKittrick-MSFT commented on #38987
I will go ahead and close this out. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-09-17 17:20] #38987 closed

[2019-09-17 17:20] BharathNimmala-MSFT commented on #39024
Thank you @dalek and @mrbullwinkle for helping on this.

@tkumark Thank you for reaching out to us, post validation with our internal team it has been called out that the team is working on the fixing the possible issue and expected to release the feature by first week of October 2019. The documentation has been updated to reflect the same by end of day today.

Apologies for any inconvenience this

[2019-09-17 17:20] #39024 closed

[2019-09-17 17:20] MicahMcKittrick-MSFT commented on #38956
I will go ahead and close this out. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-09-17 17:20] #38956 closed

[2019-09-17 17:20] MicahMcKittrick-MSFT commented on #38947
I will go ahead and close this out. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-09-17 17:25] MicahMcKittrick-MSFT commented on #39033
@dohughes-msft good catch! I have updated the doc and also updated the link to the latest SLA documentation. Once the PR merges the changes will go live after a few hours.

[2019-09-17 17:25] #39033 closed

[2019-09-17 17:27] KrishnaG-MSFT commented on #39041
@alexcnichols & @jborsecnik Thanks for the comment / update. 👍

[2019-09-17 17:28] MicahMcKittrick-MSFT commented on #39046
@Heidilohr @ChristianMontoya to confirm

[2019-09-17 17:28] cynthn commented on #38867
@MicahMcKittrick-MSFT Can you reassign this to someone from SQLDB to verify availability and have them submit a pull request to update the article? Thanks :)

[2019-09-17 17:28] SaurabhSharma-MSFT commented on #39044
@crixo Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-17 17:29] SaurabhSharma-MSFT commented on #39038
@AnatolN Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-17 17:30] SaurabhSharma-MSFT commented on #38721
@ran-ten21 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-17 17:30] #38721 closed

[2019-09-17 17:31] SaurabhSharma-MSFT commented on #38532
@cvbc2010 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-17 17:31] #38532 closed

[2019-09-17 17:31] SaurabhSharma-MSFT commented on #38849
@geekGK We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-17 17:31] #38849 closed

[2019-09-17 17:32] MicahMcKittrick-MSFT commented on #39035
@lukos on most occasions the cluster should be created within a few minutes. But as you found, it can at times take longer. I updated the doc with the following sentence:

I see your's took 11 minutes but for most cases it shouldn't take more than 10 so I will leave it at this for now and if we need to revisit this in the future we can.

Once the PR merges the changes will go live after a few hour

[2019-09-17 17:32] #39035 closed

[2019-09-17 17:33] vladvino commented on #38680
Please assign to @miaojiang

[2019-09-17 17:39] mike-urnun-msft commented on #38870
@derekrprice Host Id originates from the host created in [Webjobs SDK](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#create-the-host) and I'm not quite sure of the scenario that you're trying to achieve by binding to it. Since this channel is for driving improvements towards MS Docs, it might be better to raise this question on [Azure Functions Host repo](https://githu

[2019-09-17 17:40] smflorentino commented on #37212
@MicahMcKittrick-MSFT any update on this? I don't see any update on this.

[2019-09-17 17:40] netRunner0 commented on #38932
What about url? Are they loyal?

[2019-09-17 17:40] ShivaKumarChittamuru opened #39055 "Errors while creating Knowledge base"
when I run this line to create a kb
create_op = client.knowledgebase.create(create_kb_payload=create_kb_dto)

I receive this error:
create_op = client.knowledgebase.create(create_kb_payload=create_kb_dto)
Traceback (most recent call last):

  File "&lt;ipython-input-21-cbda6ca88672&gt;", line 1, in &lt;module&gt;
    create_op = client.knowledgebase.create(create_kb_payload=create_kb_dto)

  File

[2019-09-17 17:41] MicahMcKittrick-MSFT commented on #38867
@masashioms Confirmed and updated the doc.

Once the PR merges the changes will go live after a few hours.

[2019-09-17 17:41] #38867 closed

[2019-09-17 17:42] MicahMcKittrick-MSFT commented on #37212
We are still working on it. We are revamping all the size documentation so it is taking a while but it is being worked on.

[2019-09-17 17:42] DCtheGeek commented on #39019
#reassign:DCtheGeek

[2019-09-17 17:44] vladvino commented on #9938
The link referenced a blog post which is no longer available. I'll remove it.

[2019-09-17 17:44] DCtheGeek commented on #39019
@alistairl I've confirmed with the engineers that it is not case sensitive. It's likely that you didn't give enough time to allow the Policy to evaluate.  If you continue to see this behavior after giving the proper amount of time for evaluation, please open a support ticket so the team can investigate.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-09-17 17:44] #39019 closed

[2019-09-17 17:45] Karishma-Tiwari-MSFT commented on #39037
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 17:45] FrankHu-MSFT commented on #39053
@A9G-Data-Droid Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-17 17:45] FrankHu-MSFT commented on #39045
@devan10 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-17 17:46] FrankHu-MSFT commented on #39040
@v-alkolc Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-17 17:47] FrankHu-MSFT commented on #39045
Hey @devan10 can you clarify by whaty ou mean this was closed but not resolved?

There should be a section in the baseline policy where you can exclude users :
![image](https://user-images.githubusercontent.com/6366013/65066101-94d69e80-d938-11e9-818f-c890ba182c9d.png)

[2019-09-17 17:48] vladvino commented on #9938
I found this blog post written about the original https://www.codit.eu/blog/changes-to-openapi-interpretation-in-azure-api-management

[2019-09-17 17:48] FrankHu-MSFT commented on #39045
Please see Alex Simmons blog from Azure Identity here : https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Baseline-security-policy-for-Azure-AD-admin-accounts-in-public/ba-p/245426

[2019-09-17 17:49] alistairl commented on #39019
Ok gotcha - it must be the UI that doesn't like the case after definition.

[2019-09-17 17:49] vladvino commented on #9938
And here is the original http://web.archive.org/web/20190217015344/https://blogs.msdn.microsoft.com/apimanagement/2018/04/11/important-changes-to-openapi-import-and-export/. We will see if we can re-publish it in some form.

[2019-09-17 17:50] NavtejSaini-MSFT commented on #39016
@danijam We have raised a Pull request https://github.com/MicrosoftDocs/azure-docs-pr/pull/88815 for this change. Once approved you will see the change to the document.
@oslake Please sign off on this pull request.

[2019-09-17 17:51] vladvino commented on #9938
https://github.com/MicrosoftDocs/azure-docs-pr/pull/88817 #please-close

[2019-09-17 17:51] #9938 closed

[2019-09-17 17:51] hrasheed-msft commented on #38942
@natevictorlee @CHEEKATLAPRADEEP-MSFT Kai Li has confirmed on another thread that this is the same issue that has already been escalated for support from the product group. Closing.

[2019-09-17 17:51] hrasheed-msft commented on #38942
#please-close

[2019-09-17 17:51] #38942 closed

[2019-09-17 17:52] amrElroumy commented on #33926
@cephalin Are there any updates regarding this?

Thanks in advance.

[2019-09-17 17:52] devan10 commented on #39045
There is no such setting on the Baseline policy: Require MFA for service management.

[cid:image003.png@01D56D4E.6E3F3350]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Frank Hu <notifications@github.com>
Sent: Tuesday, September 17, 2019 11:48:10 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: devan10 <de

[2019-09-17 17:53] johncrim opened #39057 "Do upgrades also have to be done via ARM?"
This doc says "Applications which are not deployed as an Azure resource cannot have Managed Identities." That's fine, if ARM deployment works just as well (eg not slower than using using the .NET SF client library).

Once an application is deployed to an SF cluster using an ARM template, is it possible to upgrade the application outside of ARM (particularly data or config upgrades)? Or do all depl

[2019-09-17 17:56] KranthiPakala-MSFT commented on #38866
@FernandoHidalgoSWBI Thank you so much for your feedback. This really helps a lot.

We have assigned the issue to content author. They will evaluate and update the document as appropriate.

[2019-09-17 17:57] FrankHu-MSFT commented on #39045
I see, do you have an Azure AD Premium License? This is required per the doc for customizing CA Policies: https://docs.microsoft.com/en-ca/azure/active-directory/conditional-access/concept-baseline-protection

[2019-09-17 17:57] KranthiPakala-MSFT commented on #38866
Hi @djpmsft, could you please have a look at feedback from @FernandoHidalgoSWBI ? - Thanks!

[2019-09-17 17:58] rohitnayakmsft commented on #38939
@ricohomewood Glad to know you are reading through our docs. Thank you for calling this out! Note that the line about opening traffic to all Gateway IP addresses in a region is specific to the context of this article [https://docs.microsoft.com/en-us/azure/sql-database/sql-database-gateway-migration] so as to not break existing connections that are using Proxy mode ( which is default for when you

[2019-09-17 18:00] devan10 commented on #39045
My understanding from the articles are that the “Baseline Policies” are not “Customized Policies”.

According to the document “Baseline policies are available in all editions of Azure AD.”

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Frank Hu <notifications@github.com>
Sent: Tuesday, September 17, 2019 11:58:02 AM
To: Micros

[2019-09-17 18:02] Karishma-Tiwari-MSFT commented on #39057
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-17 18:04] richardpomerleau opened #39058 "Can we run this with a service account?"
Due to security hardening running of services we required the use of an Active Directory Service account. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24255026-2d1c-0607-77e6-f9dd10fbe8dd
* Version Independent ID: 832ee4c2-a497-6db6-573d-5c9abe694b00
* Content: [Automate management tasks on Azure vi

[2019-09-17 18:06] tamram commented on #34335
#reassign: @tamram

[2019-09-17 18:13] tamram commented on #33155
#reassign: @normesta

[2019-09-17 18:18] FrankHu-MSFT commented on #39045
@devan10  right but the customization (i.e. excluding users) is considered customizing the policy which requires the aad premium license.

[2019-09-17 18:19] rwike77 commented on #38172
Thanks @hpsin, I'll update the article to make this clear.

[2019-09-17 18:22] NavtejSaini-MSFT commented on #39016
@danijam Serverless databases cannot be created in UK North (a national cloud) but can be created in North Europe or South Africa North. Thanks to @oslake for pointing it out. So this pull request will closed without any action. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-17 18:23] palma21 commented on #23789
We rolled it out, including new docs (which you noticed above) but had to roll it back due to new browser behavior and a bug.

We are currently working on a fix to have it by the end of this month.

There is a workaround to enable this functionality in the meantime which involves
editing the deployment with
args: ["--authentication-mode=token", "--enable-insecure-login"]

Your error above appears

[2019-09-17 18:29] Karishma-Tiwari-MSFT commented on #39058
Can you please elaborate on your ask on what are you trying to achieve so that I can assist better.Also, if you can provide the specific step in the doc, that would be helpful. Thanks :)

[2019-09-17 18:31] trevorbye commented on #38921
@casieo as far as I know, CI is not a metric type currently available. But, there are many other available metrics if you look at your automl run in the Azure portal.

[2019-09-17 18:31] paulliew opened #39059 "Dynamics 365 no longer supports ER. Please remove all references to Dynamics 365 from doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63def219-0f30-14e1-9069-dcef63e304e9
* Version Independent ID: 4b04353b-672a-458b-61b4-1e6de831b68a
* Content: [Extend your on-premises network to Azure over a private connection - ExpressRoute Overview : Azure](https://docs.microsoft.com/en-us/azure/

[2019-09-17 18:32] paulliew opened #39060 "Dynamics 365 no longer supports ER. Please remove all references of Dynamics 365"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63def219-0f30-14e1-9069-dcef63e304e9
* Version Independent ID: 4b04353b-672a-458b-61b4-1e6de831b68a
* Content: [Extend your on-premises network to Azure over a private connection - ExpressRoute Overview : Azure](https://docs.microsoft.com/en-us/azure/

[2019-09-17 18:33] mike-urnun-msft commented on #38958
@Tottmar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-17 18:33] #38958 closed

[2019-09-17 18:34] rwike77 commented on #38172
@prashantkarkera I updated the note at the top of the article to state that session and refresh token lifetimes will not be changeable after the deprecation.  Updates to the article should post live this afternoon.  Thanks for bringing this up.  #please-close

[2019-09-17 18:34] #38172 closed

[2019-09-17 18:35] HeidiSteen commented on #38927
@DotNetMatt  I took a closer look and I can't repro the issue.  In the sample code, the Format property is set on line 126 of Program.cs, as part of new SynonymMap().  I'll go ahead and close this issue but pls reopen or file a new one if you come across anything else.

#please-close

[2019-09-17 18:35] #38927 closed

[2019-09-17 18:40] devan10 commented on #39045
I have enabled Azure AD premium on the tenant and still not able to exclude users on this policy.

Sorry, not trying to be rude but this effectively makes the policy not very effective.   The policy itself is there to protect administrators but if you are not able to exclude users/service principals you could lock yourself out.

This is even listed on this site:
https://docs.microsoft.com/en-us/az

[2019-09-17 18:40] NavtejSaini-MSFT commented on #39050
@CeciAc Thanks for the feedback. We are assigning to the author for further review
@rachel-msft Please advise regarding the users question and if needed, please let us know if we have to make any changes.

[2019-09-17 18:40] lukos commented on #39035
I wasn't referring to the cluster creation but the container creation when the app is deployed. It says to check the service is up using `kubectl get service -w` and then it tells you to open the browser once the service is up but the container took another 10/11 minutes before it was actually running.

[2019-09-17 18:41] MarileeTurscak-MSFT commented on #38980
If you are using Intune you will need to delete the device in Azure *and* unenroll it from Intune.

If the option to delete is greyed out, make sure that you have also clicked "remove company data" prior to deleting the device.

If you still having issues I would recommend checking out the troubleshooting guide. https://docs.microsoft.com/en-us/intune/troubleshoot-windows-enrollment-errors

[2019-09-17 18:42] MarileeTurscak-MSFT commented on #38980
Since this is not specifically a documentation issue, please move this thread to MSDN and I will happily troubleshoot with you. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-09-17 18:42] #38980 closed

[2019-09-17 18:47] yeswps opened #39061 "How does VM creation process match with replicated image region?"
Say I have uploaded latest image version that replicated to Canada Central, East Us 2, West Europe, East Asia.
If I reference this image using:
/subscriptions/&lt;GUID&gt;/resourceGroups/&lt;RG&gt;/providers/Microsoft.Compute/galleries/&lt;SIG&gt;/images/&lt;Image&gt;

Q1: When creating a VM in East US 2 it will automatically use the replica in East US 2?

Q2: Which image replica will be used if c

[2019-09-17 18:47] rwike77 commented on #38787
@Blightysoft , your screenshot didn't come through for the access policies.  Could you add again?  Or describe what you had to set in the access policies?  Thanks.

[2019-09-17 18:47] MicahMcKittrick-MSFT commented on #39035
Got it. I will add a note to that section as well.

[2019-09-17 18:48] richardpomerleau commented on #39058
The IaaS service is run with the account “NT Service\SqlIaaSExtensionQuery”. Can this be changed to an Active Directory account ?

Rich Pomerleau | Cloud Engineer
[cid:image001.png@01D56D66.F2E9AD70]
O: 571.482.4198 | F: 703.376.8228

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Tuesday, September 17, 2019 2:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ri

[2019-09-17 18:51] NavtejSaini-MSFT commented on #38965
@langstonj We are assigning this to doc author for further claification.
@monhaber Please check the users comment and please clarify the question regarding the same.

[2019-09-17 18:53] munnerz commented on #37967
This should be possible using the new podTemplate field on your Issuer resource - some more info can be found here: http://docs.cert-manager.io/en/latest/tasks/issuers/setup-acme/http01/index.html#options 😀

[2019-09-17 19:08] MicrosoftGuyJFlo commented on #38904
@MarileeTurscak-MSFT Can you help @ichkoj get a support case opened to further diagnose this issue as per our discussion?

[2019-09-17 19:10] MarileeTurscak-MSFT commented on #38904
@ichkoj please send me an email at AzCommunity@microsoft.com including your Subscription ID and I can open a one-time free support case for you to get this answered.

[2019-09-17 19:10] #38904 closed

[2019-09-17 19:12] tamram commented on #37418
@tiesmaster - I've updated the image and the doc. Thanks again for pointing this out!

#please-close

[2019-09-17 19:12] #37418 closed

[2019-09-17 19:13] curtand commented on #33940
Hi @Oechiih
Haven't forgotten  this.

[2019-09-17 19:14] arungk981 opened #39062 "Atrributes"
Can someone please clarify about the attributes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb39c8bf-2709-c59d-94f8-6db76d21bcfb
* Version Independent ID: f7122c2c-ef68-95b6-2273-edbc4bb89464
* Content: [Tutorial: Azure Active Directory integration with Atlassian Cloud](https://docs.microsoft.com/en-us/azure/active

[2019-09-17 19:15] bwren commented on #38696
#please-close

[2019-09-17 19:15] #38696 closed

[2019-09-17 19:17] tamram commented on #38783
@juyama - Thanks for pointing out this discrepancy. I've updated the doc to clarify the SLA for GRS vs RA-GRS, and for GZRS vs RA-GZRS. The changes should go live within the next day.

The engineering team is investigating whether the SLA needs to be updated. I believe you are right, the SLA does not include preview features. However, it should be the same for GRS and GZRS, and for RA-GRS and RA-G

[2019-09-17 19:17] #38783 closed

[2019-09-17 19:27] Mike-Ubezzi-MSFT commented on #38995
@damsoz Can you please provide an example or use-case to further explain your ask? I think you are asking for a means to add additional data items but did want to make sure I fully understand your question. Thank you!

[2019-09-17 19:28] t-l-k opened #39064 "Binding at runtime - IBinder restrictions on usage?"
The scope for accessing `IBinder` appears to be fairly limited, presumably by runtime constraints?

Example: Attempt to create a function class instance and inject IBinder in the constructor. The function will fail to start as `IBinder` can't be resolved. Rather unexpected.

2nd Example: Create a consumer that has an `IBinder` dependency injected into its constructor, and then inject that consumer

[2019-09-17 19:32] Mike-Ubezzi-MSFT commented on #38995
I am unable to find a reference to `CustomInfo` or `CustomerInfo` in the instructions with a quick glance-over so, it would be helpful to understand the request in greater detail. You reference both. Thank you!

[2019-09-17 19:34] MicahMcKittrick-MSFT commented on #39061
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 19:43] Siby22071989 opened #39065 "PS Cmdlet"
Add-AzureAccount  under Step 4 is incorrect. It should be "Add-AzAccount"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 972e651f-7ac9-fd9c-092b-5fb7334f0721
* Version Independent ID: f56b5a76-a64d-7f0f-3bf1-307dec38de8e
* Content: [Migrate to Resource Manager with PowerShell](https://docs.microsoft.com/en-us/azure/vir

[2019-09-17 19:45] Siby22071989 commented on #39065
Also quite few # of places wherein you have used "AzureAccount" instead of "AzAccount"

[2019-09-17 19:45] MicahMcKittrick-MSFT commented on #39061
@axayjo can you confirm on this one?

[2019-09-17 19:46] Karishma-Tiwari-MSFT commented on #39065
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 19:47] rwike77 commented on #38545
@hpsin, can you help out on this one?  Thanks.

[2019-09-17 19:56] Grace-MacJones-MSFT commented on #39048
HI @JohnGalt1717, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-09-17 19:58] casieo commented on #38921
@trevorbye, Yes, I have looked through the other metrics available. Is it possible to find out why it isn't available and/or if including it is planned?  Confidence interval is an important metric, and it seems it would be part of the offering.  Thanks!

[2019-09-17 20:01] derekrprice commented on #38870
Well, it improves the docs if it is, in fact, available.  :)  As for my use case, I want to bind to an output queue named after the host.  This appears to happen automatically, for instance, when a blob trigger is used.  A queue is automatically created called, "azure-webjobs-blobtrigger-{HostId}", but I can't figure out how to reuse this model for a custom queue that I wish to bind.

[2019-09-17 20:13] KranthiPakala-MSFT commented on #38878
@chunla-ms I haven't seen any documentation related to your ask, but I know there is a doc for Powershell : [Create a shared self-hosted integration runtime in Azure Data Factory with PowerShell](https://docs.microsoft.com/azure/data-factory/create-shared-self-hosted-integration-runtime-powershell)

At this time we have assigned the issue to the content author to provide assistance on the ask.

[2019-09-17 20:14] KranthiPakala-MSFT commented on #38878
Hi @nabhishek, could you please assist on the above ask from @chunla-ms? - Thanks!

[2019-09-17 20:20] dops0 opened #39066 "NVIDIA CUDA drivers and Azure RDMA drivers cannot be used simultaneously as described by the documentation."
The documentation here describes how to install CUDA drivers on NC Azure instances. This works fine to install NVIDIA drivers, however, the documentation goes on to describe how to enable RDMA on compatible NCr instances and this section doesn't seem to be working as expected.

Installing the NVIDIA CUDA drivers as described by this documentation on an NC24rR instance will break RDMA capability si

[2019-09-17 20:23] carlosMedrano27 opened #39067 "App service configuration variables"
I'm running an app service on azure using Ruby on Rails and Ubuntu, the problem is that with Application settings, I add a variable for Azure Container Key is not recognizing the '==' that are at the end of the key, I try to add '/=/=' instead and is not working, I also try to put the hole key around double quotes but still not working, I also try to generate new keys but it seems that every keys

[2019-09-17 20:28] colinweiner opened #39068 "centralus hardcoded in template"
Location of Key Vault is hard coded into the template.  I was trying to deploy to USGov and got error:

rror: Code=LocationNotAvailableForResourceType; Message=The provided location 'centralus' is not available for resource type
'Microsoft.KeyVault/vaults/secrets'. List of available regions for the resource type is 'usgovvirginia,usgoviowa,usdodcentral,usdodeast,usgovtexas,usgovarizona'.

[2019-09-17 20:33] bwren commented on #38868
Thanks.  We have some other updates we'll be making shortly as well.  For the moment, For the moment, I'm just removing that note.

[2019-09-17 20:35] KranthiPakala-MSFT commented on #38967
@olufemig Please refer to below docs which might help you understand better on how to secure data in ADLS Gen2.

- [Configure Azure Storage firewalls and virtual networks](https://docs.microsoft.com/azure/storage/common/storage-network-security?toc=%2fazure%2fstorage%2fblobs%2ftoc.json)

- [Configure customer-managed keys for Azure Storage encryption from the Azure portal](https://docs.microsoft.c

[2019-09-17 20:35] #38967 closed

[2019-09-17 20:43] Karishma-Tiwari-MSFT commented on #39068
Thanks for the feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-17 20:44] Karishma-Tiwari-MSFT commented on #39067
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-09-17 20:45] hpsin commented on #38545
@PhlashGBG - this is a confusing part of our OIDC compliance.  You'll note that we are compliant though for single tenant apps (but not on the /common endpoint where we return an invalid "issuer" value, which is what the code you linked to is handling)

1. Take an authority:
https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47

2. Look at the OIDC discovery document:
https://logi

[2019-09-17 20:49] hpsin commented on #14676
Hi - this thread was linked from another bug, so I wanted to put the answer here.  You're validating the wrong tokens using that metadata.  V2 access and id_tokens should be validated using the v2 metadata, v1 tokens on the v1 metadata.  For id_tokens, this means validating against the endpoint they were retrieved from.  For access tokens, this means validating against the token format requested i

[2019-09-17 20:51] Karishma-Tiwari-MSFT commented on #39065
Add-AzureAccount is used in the doc for the classic model.
In the doc, it says,

[2019-09-17 20:55] diberry commented on #38890
Fixed and published. #please-close

[2019-09-17 20:55] #38890 closed

[2019-09-17 21:14] allenwux opened #39069 "missing nuget package info"
need to add new nuget package if I'm running this sample code in my own webapp instead of the sample solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d77
* Content: [Microsoft identity platform ASP.NET Core web app qu

[2019-09-17 21:15] Adam-Smith-MSFT commented on #38872
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-17 21:15] #38872 closed

[2019-09-17 21:20] shalosi opened #39070 "Please add that Snapshots are stored in Restore Point Collections"
Hello, about this process: https://docs.microsoft.com/en-us/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#clean_up_restore_point_collection

An important note is that, even if you delete the Resource Group or VM, customer will have the Snapshots of the VM disks active, in order to delete the Snapshots of the VM disks, they are stored in Restore Point Collections, so in or

[2019-09-17 21:36] bwren commented on #38928
This does assume that your environment has an agent monitoring a VM, which is where the Event table comes from.  Otherwise, you can use the demo environment.  I'm updating the note at the top of the article to specify that.

[2019-09-17 21:39] MashaMSFT commented on #39058
Hi @richardpomerleau , thanks for your question and for contacting Microsoft! Let me do some research for you. By the way, just as an FYI, your PII is visible in the response to your comment. You will have to navigate to the page and edit the comment to remove it.

Thanks!
Masha from the SQL Docs team

[2019-09-17 21:40] Karishma-Tiwari-MSFT commented on #38985
Do you have standalone service fabric cluster or Linux?
Can you try restarting one node and see if it resolves?
Also, please share if you are seeing any error.

[2019-09-17 21:41] 4deeptech opened #39072 ".bacpac files do NOT seem to be supported"
This article states that most of the migration tools are supported and lists bacpac as an option.  The portal specifically blocks imports via bacpac for Hyperscale, SqlPackage utility indicates the 'Hyperscale' is not a valid 'edition', and MGMT  Studio does not list Hyperscale as an option.

If bacpacs are supported can you please update this to explain exactly what tooling can be used to do this

[2019-09-17 21:47] sasanmcp opened #39073 "is this the complete reference for CustomScript schema?"
I want to know if the JSON in this page is indeed the complete schema for CustomScript template. if there are other properties or declaratives we can set, I need to know. it is not listed in the official template reference section
https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-03-01/virtualmachines/extensions
so I want to make sure it is a reference rather than an example.

[2019-09-17 21:52] jonesty commented on #23536
@TravisCragg-MSFT @mdgattuso Is it just the documentation that needs updating or are Sentigo certs still not allowed? When I try to enable custom domain HTTPS on our CDN our Sentigo cert doesn't even appear in the list. I assume it's because they're still not allowed. Can you please confirm either way? Thanks.

[2019-09-17 21:53] YutongTie-MSFT commented on #39055
@ShivaKumarChittamuru
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 21:54] Karishma-Tiwari-MSFT commented on #39073
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-17 21:54] mdgattuso commented on #23536
There's an issue preventing certain certs from appearing in the list, our engineers are currently investigating.

[2019-09-17 21:57] MicahMcKittrick-MSFT commented on #39066
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 21:59] diberry commented on #39055
#in-progress

[2019-09-17 22:09] jonesty commented on #23536
No worries, thanks for the update.

[2019-09-17 22:09] MarileeTurscak-MSFT commented on #39031
I made a pull request to revise this. Thanks for the feedback.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/88879

[2019-09-17 22:09] #39031 closed

[2019-09-17 22:14] damsoz commented on #38995
Hi Mike.
No problem. Customer information (CustomerInfo column of the MarketplaceLeads azure table) for which you'll find sample data at the end of this page: https://docs.microsoft.com/en-us/azure/marketplace/lead-management-for-cloud-marketplace is some kind of Json array of multiple properties and values. I would like to extract every property and values from it (so: FirstName, LastName, Email,

[2019-09-17 22:28] maurera commented on #25262
I am following a simiular tutorial and get the same error - [Deploying Neural Network models to Azure ML Service with Keras and ONNX](http://benalexkeen.com/deploying-neural-network-models-to-azure-ml-service-with-keras-and-onnx/).

When I look in build.log, the error seems to be coming from line 8 of myenv.yml. See attached for full build.log. The line that fails is:

`    ruamel_yaml.scanner.Sca

[2019-09-17 22:30] YutongTie-MSFT commented on #25262
@aashishb FYI

[2019-09-17 22:43] mmacy commented on #38447
Hi @maviso5, I've just finished testing the sample application with Google as an identity provider and was successful in signing in. This was my testing scenario:

1. Freshly cloned https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi
1. Built and ran the sample, signed in with Microsoft account (to confirm the sample works "out of the box")
1. Enabled sign-in in the appl

[2019-09-17 22:47] MickQuinlan commented on #38588
Hi @ManojReddy-MSFT any feedback from internal sources?

[2019-09-17 22:53] maurera commented on #25262
I found the issue - it was a stupid mistake.

I had created the file myenv.yml containing the code:

[code]

But this is just supposed to be run in python, which programatically creates myenv.yml.

`image.wait_for_creation` now runs successfully

[2019-09-17 22:53] sasanmcp opened #39075 "how do you determine the container name?"
in the powershell example in Using multiple scripts section, how would it know which container in the storage account to look for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure Custom Script Extension

[2019-09-17 23:00] MicrosoftGuyJFlo commented on #38919
Azure AD is licensed per user.

[2019-09-17 23:01] MicrosoftGuyJFlo commented on #38919
#please-close

[2019-09-17 23:01] #38919 closed

[2019-09-17 23:04] mike-urnun-msft commented on #39064
Hi @t-l-k - Thank you for your feedback! We will review and update as appropriate.

[2019-09-17 23:04] MicrosoftGuyJFlo commented on #38825
The extension is needed as the doc mentions "when a Conditional Access policy requires device specific details". I cannot comment on future features or timelines. If there is a change you would like to have incorporated into the product you can provide product feedback at the bottom of the document that the product team sees and other customers can vote on.

[2019-09-17 23:04] MicrosoftGuyJFlo commented on #38825
#please-close

[2019-09-17 23:04] #38825 closed

[2019-09-17 23:06] MicrosoftGuyJFlo commented on #38578
@darrenroback My email address is in my profile. Can you send me the case number you worked with Microsoft Support so I can get more details from the support agent and their manager. That way I can make sure the doc is updated appropriately.

[2019-09-17 23:06] MicrosoftGuyJFlo commented on #38578
#please-close

[2019-09-17 23:06] #38578 closed

[2019-09-17 23:09] MicrosoftGuyJFlo commented on #38525
Conditional Access is a premium feature and requires a license. Azure AD is licensed per user. https://azure.microsoft.com/pricing/details/active-directory/

[2019-09-17 23:10] MicrosoftGuyJFlo commented on #38525
#please-close

[2019-09-17 23:10] #38525 closed

[2019-09-17 23:13] MicrosoftGuyJFlo commented on #38312
@TiloGit Thanks! I will see where I can work it in to updates I am planning.

[2019-09-17 23:13] MicrosoftGuyJFlo commented on #38312
#please-close

[2019-09-17 23:13] #38312 closed

[2019-09-17 23:15] MicrosoftGuyJFlo commented on #38826
Updated in PR in private repo

[2019-09-17 23:15] MashaMSFT commented on #34648
Hi @ShawnPOWER, Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue.

By the way, just as an FYI, your PII is visible within the comment on GitHub. You will need navigate to the comment page t

[2019-09-17 23:15] #34648 closed

[2019-09-17 23:17] sasanmcp opened #39076 "proper way to use storage account credentials"
please add samples about how you'd use storage account credentials. I guess you have to use them only when your Storage Account anonymous access policy is set to private, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991

[2019-09-17 23:19] sasanmcp commented on #39076
I meant in the arm template scenario where you're defining storageAccountName storageAccountKey and all.

[2019-09-17 23:19] MashaMSFT commented on #28745
Hi @omninose, I wanted to follow up once more and check on this. Would you mind providing some clarity around your request? Unfortunately, if we do not hear back from you, we'll have to close out this Git Issue :(

Thanks!
Masha from the SQL Docs team

[2019-09-17 23:20] sasanmcp opened #39077 "arm schema and name format"
it should be clearly mentioned that the name has a format of "VMname/CustomScriptExtensionName". if you don't do it and want to deploy this arm template independent of VM arm template, you'll run into error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6c

[2019-09-17 23:25] omerzubair commented on #38836
Hi @SwathiDhanwada-MSFT  @femsulu  @bobbytreed
I have an example for you to analyse the intermittent issue.
How can i share it? as it happened again.

the error is right at the beginning before any custom code. i.e at the time of login.

#####################
Code Start
#####################
Uninstall-AzureRm
$connectionName = "AzureRunAsConnection"
$LogType = "AutomationAppConnecting"
$ErrorMessa

[2019-09-17 23:27] omerzubair commented on #38836
My Automation account only has Global AzureRM (i cannot delete them)
As you can see i am already using 'Uninstall-AzureRm' so it removes any RM loaded.
and still get the error.

[2019-09-17 23:28] #38826 closed

[2019-09-17 23:31] MicrosoftGuyJFlo commented on #39045
There is no way to exclude users from a baseline policy. That line should be removed. Thank you for bringing that to my attention.

[2019-09-17 23:37] MicrosoftGuyJFlo commented on #39045
Updated article in private repo. Should publish overnight.

[2019-09-17 23:37] MicrosoftGuyJFlo commented on #39045
#please-close

[2019-09-17 23:37] #39045 closed

[2019-09-17 23:39] blachole commented on #38043
We're using 6.15.9 and it's working fine for us. I am more curious about 7.0.1 support at this point.

[2019-09-17 23:41] priyakantpatel opened #39078 "Outbound IP addresses changes?"
How often Outbound IP addresses for Logic Apps service & managed connectors changes?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [Limits and configuration - Azure Logic Apps](https://docs.microsoft

[2019-09-17 23:41] MicrosoftGuyJFlo commented on #39023
That is correct you must have a fallback method registered as well.

[2019-09-17 23:41] deepikabandhanadham opened #39079 "Unable to setup code repository for ADF using Github in Azure Government"
Hi,

I am using Azure Data Factory in Azure Government. As shown in the below screenshot, I am unable to see my repository (already created) when I select my Github account. It says loading and then it turns blank. This is the same case even if I select Azure DevOps Git. It does not allow me to select my code repo.

![image](https://user-images.githubusercontent.com/55464572/65087243-b603b300-d969

[2019-09-17 23:49] djpmsft commented on #39079
Hey @deepikabandhanadham ,

Where is your Git repository located? Is it in Github or DevOps? Make sure your github username is correct and git repository is public.

Thanks,
Daniel

[2019-09-17 23:51] NavtejSaini-MSFT commented on #39072
@4deeptech We are looking into this and will get back to you.

[2019-09-17 23:53] tomturnerdesign opened #39080 "Spring Boot Jar and Tomcat WebApp Service mixed metaphor"
I tried following this tutorial with limited success.  I was able to get Jenkins to get the Jar file deployed up to the Azure App Service and I see it in the wwwroot dir using the Kudu UI.

BUT, I see two problems.  1. spring-boot apps have embedded Tomcat and would run in a regular Java App Service, not as a Jar in a Tomcat App Service.  2. it put the files in wwwroot, but I see a wwwroot/webapps

[2019-09-18 00:12] KranthiPakala-MSFT commented on #38951
@natevictorlee Thanks for bringing this to us. Yes, it will work from an authentication aspect, but the engineering team have not run certification testing around this and there are a few known issues that might arise because of this configuration. Hence it is not recommended/supported.

Hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matte

[2019-09-18 00:12] #38951 closed

[2019-09-18 00:16] masilva-uei opened #39083 "Please share the source code for the views in the demo vwConcurencyMonitor and vwRcAssignments"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-09-18 00:19] paulpce opened #39084 "This article is missing articles (among other things)"
Apologies to the document author, but this article is not well articulated.  In particular, there are regular omissions of definite and indefinite articles ("the", "a", "an").  The information is good, but it's a difficult read for a native English speaker and could be clearer.

Examples (there are many):
"...to import and update documents to *an* Azure Cosmos container"
"To learn about *the* bulk

[2019-09-18 00:21] Karishma-Tiwari-MSFT commented on #38609
@Jothi3125 Sorry for the delay on this. This error occurs when the image is not being properly Generalized and Sysprep. Did you use your own custom image to create the VM?
Please let me know.

[2019-09-18 00:22] MattAllison opened #39086 "Bad link: Impact of log file size on General Purpose Managed Instance performance"
Link for "Impact of log file size on General Purpose Managed Instance performance."  directs to https://medium.com/azure-sqldb-managed-instance/impact-of-log-file-size-on-general-purpose-managed-instance-performance-21ad170c823e.

I don't think you host documentation on medium.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-09-18 00:26] MicahMcKittrick-MSFT commented on #39077
#39077
#39076
#39075

[2019-09-18 00:26] MicahMcKittrick-MSFT commented on #39076
#39077
#39076
#39075

[2019-09-18 00:26] MicahMcKittrick-MSFT commented on #39075
#39077
#39076
#39075

[2019-09-18 00:27] MattAllison commented on #39086
Nevermind - I guess you do keep docs there.    Assumed it was bad because the page failed to load for me but it works now.  Nevermind.

[2019-09-18 00:27] #39086 closed

[2019-09-18 00:32] TravisCragg-MSFT commented on #39043
@sofianemad Because this is leaving the original VNET, this would be considered InterVnet Traffic.

[2019-09-18 00:34] TravisCragg-MSFT commented on #39060
@paulliew Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-18 00:34] TravisCragg-MSFT commented on #39059
@paulliew Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-18 00:36] FrankHu-MSFT commented on #38884
Hey @ryandle can you clarify on what you would need in regards to this? Currently it does say :

**The immutable identifier for an object in the Microsoft identity system,**

It also says :
**This ID uniquely identifies the user across applications - two different applications signing in the same user will receive the same value in the oid claim. The Microsoft Graph will return this ID as the id p

[2019-09-18 00:52] omerzubair commented on #38836
When i add the 'uninstall-azurerm' with try catch i get the following error

[ERROR] Uninstalling Uninstall-AzureRm [The 'Uninstall-AzureRm' command was found in the module 'Az.Accounts', but the module could not be loaded. For more information, run 'Import-Module Az.Accounts'.]

[INFO] Logging in to Azure.... RunBook Job ID:[----]AzureAPPID:[---] in TenantId:[-----], Sub ID[----]. Errors:[] Excep

[2019-09-18 01:15] frehnejc opened #39087 "Cost Management Reader role at the Tenant Root level"
If I assign this role the user is able to create management groups, seems counter-intuitive. Is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9e3c70-0250-a112-3298-f78e9f8989a4
* Version Independent ID: 2d7a8e8b-6574-3e4d-b56e-3d4e04a391ef
* Content: [Assign access to Azure Cost Management data](https://

[2019-09-18 01:27] Akshatce commented on #38897
@ashokduddukuri I have already refer that issue before posting this but, that issue is occurred due to SAS token. I assume mine one is little different.

[2019-09-18 01:49] frehnejc opened #39088 "Any user is able to create a managemnt group under the Root Management group"
Is this by design that any user is able to create a new management group under the Root Management Group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2fff1e
* Content: [Organize your resources with Azure management groups -

[2019-09-18 02:00] djpmsft commented on #33559
Closing due to lack of activity. If this issue is still relevant, feel free to reopen

#please-close

[2019-09-18 02:00] #33559 closed

[2019-09-18 02:01] djpmsft commented on #32821
Closing due to lack of activity. If this issue is still relevant, feel free to reopen!

#please-close

[2019-09-18 02:01] #32821 closed

[2019-09-18 02:03] djpmsft commented on #30160
Closing due to lack of activity. If this issue is still relevant, feel free to reopen!

#please-close

[2019-09-18 02:03] #30160 closed

[2019-09-18 02:10] vanthoainguyen commented on #38898
Okey, i found out what's going on.
In the alert rule, I ticked "**Include custom Json payload for webhook**".
![](https://i.imgur.com/PoIOPdr.png)

But at the same time, also _enabled the common alert schema_ in my webhook. I do have different webhooks in the same action group.

As you can see above, the custom payload does not have anything special but **text** and **IncludedSearchResults**. Howe

[2019-09-18 02:23] adamfowlerit commented on #36881
Hi, still not seeing any update on this doco?

[2019-09-18 02:30] Hazhzeng opened #39090 "Python is already out of preview, PowerShell is in preview"
In Azure Functions vs WebJobs SDK
Python (preview) -&gt; Python
+ PowerShell in supported language table
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [What are Microsoft Flow, Logic Apps, Functions, and WebJo

[2019-09-18 02:37] KrishnaG-MSFT commented on #39039
@ChrisSommers Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 02:39] KrishnaG-MSFT commented on #39049
@CeciAc Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 02:41] KrishnaG-MSFT commented on #39070
@shalosi Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 02:43] KrishnaG-MSFT commented on #39080
@tomturnerdesign Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 02:46] KrishnaG-MSFT commented on #39087
@frehnejc Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 02:47] KrishnaG-MSFT commented on #39088
@frehnejc Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 02:49] KrishnaG-MSFT commented on #39051
@cgillum Thanks for the super quick response. :+1:

[2019-09-18 02:54] KrishnaG-MSFT commented on #39086
@MattAllison Glad to know that the issue the resolved. Thanks for the update.

[2019-09-18 02:56] dcbrown16 opened #39091 "Meaning of "None""
How can we explain what it means for resources in AZ-supported regions to have "None" as their zone? My best guess is that these resources would actually end up in one of the zones (at random?). If I make three VMs without specifying a zone (in a supported region), is it correct to assume that they MIGHT be in different zones (obviously no guarantee)?
The only alternative I can think of is that th

[2019-09-18 02:59] dcbrown16 commented on #39091
The concern that my customer expresses is that VMs randomly assigned to different zones (no zone specified) might encounter more latency when communicating with each other, as opposed to VMs in the same zone.

[2019-09-18 03:07] DixitArora-MSFT commented on #39028
@oleksandr-bilyk Could you please elaborate what part of the doc should have this ?

[2019-09-18 03:09] DixitArora-MSFT commented on #39090
Hi @Hazhzeng Thanks for your feedback. We will review and update as appropriate.

[2019-09-18 03:09] DixitArora-MSFT commented on #39078
Hi @priyakantpatel Thanks for reaching out. We will review and update as appropriate.

[2019-09-18 03:16] avbhaskar commented on #39079
@djpmsft it does not work with GitHub public repo as well

[2019-09-18 03:18] avbhaskar commented on #39079
![ADF-Github-connect-error](https://user-images.githubusercontent.com/10077636/65105008-4e109500-d988-11e9-9c41-9418b91676c1.JPG)

[2019-09-18 03:20] neeleshray-msft commented on #39069
@allenwux  Thank you for your query. We will check and update accordingly.

[2019-09-18 03:22] neeleshray-msft commented on #39062
@arungk981  Thank you for your query. We will check and update accordingly.

[2019-09-18 03:29] aayush3667 commented on #39027
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export

[2019-09-18 03:35] ishepherd commented on #25052
Another possibility, see [this comment (follow link to ARM template)](https://github.com/MicrosoftDocs/azure-docs/issues/28461#issuecomment-508734336). It uses a `virtualNetwork` child resource

[2019-09-18 03:56] omerzubair opened #39093 "Rerun runbooks via a button?"
The current runbooks with new Az modules are failing in the automation account.
https://github.com/MicrosoftDocs/azure-docs/issues/38836
It is quite tedious to re running runbook and reenter the input parameters.
Is it possible to provide a Rerun button next to suspend button?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-18 04:23] SwathiDhanwada-MSFT commented on #39093
@omerzubair  Thanks for your feedback. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-18 04:24] SwathiDhanwada-MSFT commented on #38836
@omerzubair I would suggest you to remove " Uninstall-azureRm" command from the script and execute it.
![image](https://user-images.githubusercontent.com/48976275/65111588-4ee20f00-d9fa-11e9-8058-03566df9473c.png)

Hope this helps!

[2019-09-18 04:26] SnehaAgrawal-MSFT commented on #39012
@test123114 Thanks for asking question! I don’t think it is supported. Managed service identity changes in configuration is only available in .Net framework 4.7.2. as mentioned in the doc also this feature requires the framework classes which is not available in 4.6.1.

[2019-09-18 04:27] omerzubair commented on #38836
I have
And still get the error.

[2019-09-18 04:29] omerzubair commented on #38836
It came to point where no runbook was working. Therefore i removed Az.Accounts module and readded manually in Modules section.
Runbooks started working. But i dont know when they will stop again?

[2019-09-18 04:30] souravmishra-msft commented on #38858
@tmaheshwar , we are closing this thread as of now. In case you need any further assistance, please re-open this thread.

[2019-09-18 04:30] #38858 closed

[2019-09-18 04:34] RohitMungi-MSFT commented on #38932
@netRunner0 All properties of the resource would be the same. Please check the resource overview section from Azure portal and use the same.
![image](https://user-images.githubusercontent.com/46958063/65111961-843b2c80-d9fb-11e9-8f55-404cd165916e.png)

We will now proceed to close the issue as the sample works as expected.

[2019-09-18 04:34] #38932 closed

[2019-09-18 04:36] SwathiDhanwada-MSFT commented on #38836
From your comment, it seems the the runbook isn't executed due to cache.  However, did you execute the current script (which was successful) without "Uninstall-Azure RM" command?

I have executed the same script from my end without "Uninstall-AzureRM" command and it was executed successfully.

![image](https://user-images.githubusercontent.com/48976275/65112062-f01d9500-d9fb-11e9-9ed3-344c339ead0f

[2019-09-18 04:41] omerzubair commented on #38836
I have tried all methods.
With the uninstall and without uninstall.
Here is what i can do.
I will remove this command.
And keep a close eye on any failure and revert.
Please if you can help keep this thread open

[2019-09-18 04:41] SwathiDhanwada-MSFT commented on #38836
sure that would be great

[2019-09-18 04:44] souravmishra-msft commented on #38636
@ritmos, sorry for the delay in my response. Can you please send out an email to azcommunity@microsoft.com, and share the code on that email. We can discuss on the fix you found on that email thread and get that validated before incorporating it.

[2019-09-18 04:48] JonesMikael commented on #38825
Thanks for getting back to the community. I’m not asking to provide future releases or timelines. I just want the article to include more details as of the technical reason why Chrome requires an extension. For example, continue the sentence: ”This extension is required when a Conditional Access policy requires device specific details because of X, Y and Z”.

This would make it easier for us to ex

[2019-09-18 04:51] KalyanChanumolu-MSFT commented on #38903
@blessingmu Its been a while we heard back from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-18 04:51] #38903 closed

[2019-09-18 04:53] #39020 closed

[2019-09-18 04:57] souravmishra-msft commented on #39069
@allenwux, Thank you for sharing the query. Can you please let us know which nuget package you had to add while using the sample code in your WebApp's code?

[2019-09-18 04:59] KalyanChanumolu-MSFT commented on #39084
@paulpce Thank you for the detailed feedback.
We will evaluate and update the document as appropriate.

[2019-09-18 05:27] MikeInSwitzerland commented on #38947
The piece I'm missing is this:  I've created a basic Web API using VS2019 with Docker support enabled.  I've written my code, used the Publish command, and it's created a Container registry for this Web API, which I can see in my Azure Portal.

But... what now ?  

I have the "path" of this registry, something like "mikeswebapi12345678.azurecr.io"
In the VS2019 "Publish" page, this value is called

[2019-09-18 05:41] ManojReddy-MSFT commented on #38503
@dmarlow Open a new tab after signing in here and then modify the URL to this

https://account.azure.com/Subscriptions/Statement?subscriptionId=<Enter your subscription ID>

Let me know if this works.

[2019-09-18 05:51] dcbrown16 commented on #35889
@CHEEKATLAPRADEEP-MSFT @MicahMcKittrick-MSFT just want to confirm the additional question here, sorry.

[2019-09-18 05:55] SwathiDhanwada-MSFT commented on #39010
@jamesyoung1001 You must be a billing profile owner, contributor, or invoice manager to pay for invoices in the Azure portal. Can you check if you have necessary access?

[2019-09-18 05:59] RohitMungi-MSFT commented on #38776
Thanks Andrew for the update. @karqical2016 We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-18 05:59] #38776 closed

[2019-09-18 06:03] hannesne opened #39096 "Unittesting service registration"
Hi there, I'd like to be able to write unit tests to verify that services registered in the configuration method can be resolved. It doesn't seem to be possible at the moment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b9

[2019-09-18 06:06] ashwinnatty opened #39097 "Source Blob URL not accessible"
When we try to access the blob URL for source given in the above example, we are getting an error message.
URL is  :
https://storagewithdata.blob.core.windows.net/?sv=2017-11-09&ss=b&srt=sco&sp=rl&se=2019-12-31T21:40:53Z&st=2018-10-24T13:40:53Z&spr=https&sig=K8nRio7c4xMLnUV0wWVAmqr5H4P3JDwBaG9HCevI7kU%3D

Error message is :
Value for one of the query parameters specified in the request URI is inva

[2019-09-18 06:22] ManojReddy-MSFT commented on #38785
@JenszSigterman I am assuming you are trying this locally.

When you launch Powershell, you will have different versions running. You might have selected the X86 version. Please select the default one and try again.
![image](https://user-images.githubusercontent.com/44399320/65120099-bd2ecd80-da0a-11e9-8f64-492409bea99a.png)

[2019-09-18 06:23] AshokPeddakotla-MSFT commented on #38897
@Akshatce I suggest you contact technical support for deeper analysis of the issue. Refer How to create an Azure support request. If you don’t have a support plan, please send an email to AzCommunity@microsoft.com with the below details to investigate this further.
Thread URL:
Subscription ID:

[2019-09-18 06:24] RohitMungi-MSFT commented on #38941
@PanosPeriorellis Could you please help clarify if the parameter is removed when the webhook is called? It looks like the current behavior is removing the same.

[2019-09-18 06:26] ChiragMishra-MSFT commented on #39097
@ashwinnatty Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-09-18 06:30] SwathiDhanwada-MSFT commented on #39093
@omerzubair Thanks for your feedback. I would recommend you to navigate [here](https://feedback.azure.com/forums/246290-automation) and share your feedback or suggestions directly with the responsible Azure feature team.

[2019-09-18 06:31] aayush3667 opened #39098 "LTR Backups in Storage Account"
HI,

The backups which are generated when using LTR retention policies, Is there any functionality that we can use to directly export those backups in the storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
*

[2019-09-18 06:31] AmirHossein commented on #38962
https://docs.microsoft.com/en-us/windows/client-management/connect-to-remote-aadj-pc

[2019-09-18 06:33] msrini-MSFT commented on #39005
@menih , do you have any update on this issue?

[2019-09-18 06:34] msrini-MSFT commented on #39001
@joedev-big , Do you have any update on this issue?

[2019-09-18 06:34] ManojReddy-MSFT commented on #38860
@liiamjones I am able to add guests to the groups even after setting it to false at the tenant level. So, I am not able to reproduce your issue.

Can you take a screenshot of the error you received when you try to add guest users?

[2019-09-18 06:38] jakaruna-MSFT commented on #39077
@sasanmcp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 06:38] KalyanChanumolu-MSFT commented on #39027
@aayush3667 A BACPAC file is used for exporting entire schema and data.
Azure SQL database automatically manages incremental backups for you so that you can revert to any snapshot.
Please read more about the short and long term backups [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups)

If you have a use case for requesting export of incremental backups in A

[2019-09-18 06:38] VikasPullagura-MSFT commented on #39021
@johnneycao Any update on the issue?

[2019-09-18 06:39] PramodValavala-MSFT commented on #38962
@AmirHossein Looks like these docs are present in a different repo - [MicrosoftDocs/windows-itpro-docs](https://github.com/MicrosoftDocs/windows-itpro-docs)

Please try opening feedback by clicking the button at the bottom of that page
![image](https://user-images.githubusercontent.com/43602528/65121557-097b0d00-da0d-11e9-875f-29b1f83724de.png)

We will now proceed to close this thread. If there a

[2019-09-18 06:39] #38962 closed

[2019-09-18 06:39] RohitMungi-MSFT commented on #38159
@shafalfa To answer the above questions there is no ETA just yet on the stable/standard version.
Pricing is the same as other endpoints. You can call the endpoint by invoking a REST endpoint. Here is an article describing the new preview endpoint. Also, the bottom of the API page contains code examples in a few languages for how to call the service.
The client version of the SDK might be released

[2019-09-18 06:43] jakaruna-MSFT commented on #39076
@sasanmcp
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-18 06:44] jakaruna-MSFT commented on #39075
@sasanmcp
Thanks for the question! We are investigating and will update you shortly.

[2019-09-18 06:47] andyjballgit commented on #29139
Hi

I get a 404 on the address below?

https://github.com/MicrosoftDocs/azure-docs-pr/pull/88745

Andy

[2019-09-18 07:05] anssenfang1 opened #39099 "Please add the description on when to use the zookeeper connection string"
Please add the description on when to use the zookeeper connection string:

jdbc:hive2://zk0-anssen.adcppzqo0kqurglomwvdsjetca.bx.internal.cloudapp.net:2181,zk1-anssen.adcppzqo0kqurglomwvdsjetca.bx.internal.cloudapp.net:2181,zk3-anssen.adcppzqo0kqurglomwvdsjetca.bx.internal.cloudapp.net:2181/;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2

---
#### Document Details

⚠ *Do not edit t

[2019-09-18 07:07] aayush3667 opened #39100 "Restore Database with PITR in case of disaster"
HI,

If my database got destroyed or crashed, can I still use PITR (Point-in-time Restore) to restore my database??

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d508914-7960-bbaa-a454-4564a81b2f24
* Version Independent ID: 679907b3-6a66-1a2f-1906-aa15700c341c
* Content: [PowerShell example-restore-backup-Azu

[2019-09-18 07:21] SadiqhAhmed-MSFT commented on #39049
@bandersmsft FYI. Please review this request and update as appropriate.

[2019-09-18 07:27] SadiqhAhmed-MSFT commented on #39070
@rayne-wiselman Please review this request and update the documentation as appropriate.

[2019-09-18 07:34] dcurwin commented on #39070
#reassign:dcurwin

[2019-09-18 07:42] SadiqhAhmed-MSFT commented on #39039
@ChrisSommers It is mentioned in the section - **Next steps**
[Learn more](https://docs.microsoft.com/en-gb/azure/site-recovery/azure-to-azure-how-to-reprotect#reprotect-a-vm) about the reprotection flow. Hope that answers your question.

[2019-09-18 07:44] s-miller opened #39101 "Explain why 2 databases"
The guide shows the presence of 2 databases but does not explain why there are 2 databases.  Given that this is a beginners guide, this needs addressing.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90467e66-9062-01e3-6d40-fce8625d005b
* Version Independent ID: 8db6b4e9-fd3a-8b45-1283-7f7144772a88
* Content: [Quickst

[2019-09-18 07:47] test123114 commented on #39012
Hi. Can I try to use the rest api to get the access token in my .Net framework 4.6.1 application?

[2019-09-18 08:00] dcurwin commented on #39070
@Sogup - Any insight?

[2019-09-18 08:03] dcurwin commented on #39070
#reassign:sogup

[2019-09-18 08:04] dcurwin commented on #38999
@utraghuv - Can you reply?

[2019-09-18 08:07] cawrites commented on #38178
@DeanGross thank you for your patience. Currently there are no additional prerequisites as you suggested in your initial statement.  We are following up to see if we need to update
the details for Sign-ins by grant controls.

[2019-09-18 08:12] nayakshweta commented on #24243
@msrini-MSFT Do we have an update on this? The document still doesn't list Ubuntu 18.04. Is this confirmed to be tested and supported?

[2019-09-18 08:14] PramodValavala-MSFT commented on #39083
@masilva-uei Could you please share the doc that you are referring to?

[2019-09-18 08:15] PramodValavala-MSFT commented on #38805
@DrakeLambert Hope my previous comments help.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-18 08:15] #38805 closed

[2019-09-18 08:24] msrini-MSFT commented on #24243
@gsilva5 , Can you take a look at this issue?

[2019-09-18 08:30] cawrites commented on #38352
@lightupdifire this link https://docs.microsoft.com/azure/azure-monitor/platform/activity-logs-overview contains the information related to your request. Specifically https://docs.microsoft.com/azure/azure-monitor/platform/activity-logs-overview#export-activity-log discusses deleted objects and how to export these results.

[2019-09-18 08:31] richieteh94 commented on #38432
@VitaliyKurokhtin Hi thanks for the reply.
I would like to ask is there any planning to include generic custom error handling in the future?

[2019-09-18 08:32] guizi1991 opened #39102 "Why is the result of my operation like this?"
Code:   localrun.DoRun();
result output:
 9/18/2019 1:21:02 AM:  COMPILATIONTIME|JobId:|FriendlyName:|Mode:Deep|Overall: 0.7s 1.0cpu
9/18/2019 1:21:02 AM:  FrontEndTimers
9/18/2019 1:21:02 AM:  RoslynTimers
9/18/2019 1:21:02 AM:  OptimizerTimers
9/18/2019 1:21:02 AM:  BackendTimers
9/18/2019 1:21:02 AM:  ExternalTimers

After debugging, I found out  :  localrun.DoRun() == false ;
1.I did not captu

[2019-09-18 08:40] AshokPeddakotla-MSFT commented on #36744
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-18 08:40] #36744 closed

[2019-09-18 08:54] crmhh commented on #39023
Hi,

this is regrettable because its weakens SSPR when we have to enable another option.

At the authentication methods article you say:
"For self-service password reset when only one method is required for reset, verification code is the only option available to users to ensure the highest level of security."

Source: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-

[2019-09-18 08:56] jakobli commented on #33099
Any update on this, having the same issue with a customer

[2019-09-18 09:00] nnmer commented on #25343
We had a customer with the same concern. They would like to be able to put some "cap" on device too.

@olivierbloch Also checked your suggestion as to IoTHub Metrics, but those metrics give totals.
Even this one:
![image](https://user-images.githubusercontent.com/1620737/65130055-317b6800-da2f-11e9-8739-2ece152bfea6.png)
it will start counting when the total limit will be reached. But all the devi

[2019-09-18 09:02] frehnejc opened #39103 "Is there equivelent "at scale" solutions"
Using ASR/DR method there was the ability to configure all steps of the migration workflow using Powershell and a CSV, this is needed for at scale migrations as per https://docs.microsoft.com/en-us/azure/migrate/how-to-migrate-at-scale.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69fe01a7-1b15-813b-412f-17e92d617d21

[2019-09-18 09:12] ChiragMishra-MSFT commented on #39099
@anssenfang1 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-09-18 09:13] ChiragMishra-MSFT commented on #39099
@hrasheed-msft Can you please take a look at this one ?

[2019-09-18 09:14] pvrk commented on #33223
@ayoung12: Point taken. Updated the commands in the document with the vault ID parameter. Thanks for your feedback

[2019-09-18 09:14] liiamjones commented on #38860
Thanks for getting back to me,

my tenant id is f7af6be0-1017-4a4e-8e81-5325b780ef98

I've got a tenant setting at https://graph.microsoft.com/v1.0/groupSettings with a templateId of "62375ab9-6b52-47ed-826b-58e47e0e304b" and a list of values, one of which is {
                    "name": "AllowToAddGuests",
                    "value": "False"
                }

ive got a group/team with the sett

[2019-09-18 09:14] pvrk commented on #33223
#please-close

[2019-09-18 09:14] #33223 closed

[2019-09-18 09:19] KalyanChanumolu-MSFT commented on #39016
Related [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/35167)

[2019-09-18 09:22] netRunner0 commented on #38932
@RohitMungi-MSFT

I figured out the entry points, thanks.

However, I can not use the translation of the Russian text into speech in Russian. What parameters should I specify for this?

![IMG_0083](https://user-images.githubusercontent.com/44049295/65135607-a9419680-da1f-11e9-8ae3-d798c4166601.jpeg)

[2019-09-18 09:22] KetanChawda-MSFT commented on #39096
@hannesne Thank you for your question. We will review this and provide an update on this in the mean time you can check this [SO](https://stackoverflow.com/questions/47482256/how-to-unit-test-startup-cs-in-net-core) post if that helps.

@craigshoemaker / @fabiocav any thoughts on this?

[2019-09-18 09:27] alxayo opened #39104 "Jenkins ACI build agent and Maven Surefire plug-in"
jenkinsci/ssh-slave build image uses
openjdk version "1.8.0_181" (build 1.8.0_181-8u181-b13-2~deb9u1-b13),

there is an issues with this version on Ubuntu/Debian described here - https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=911925

Users that use MAVEN to build Java applications could have their builds fail with "Error: Could not find or load main class org.apache.maven.surefire.booter.Forked

[2019-09-18 09:28] SubhashVasarapu-MSFT commented on #38855
@jpduffield , Appreciate your patience. Even on inbound or outbound, the NSG has to whitelist only the target computer IP but not the load balancer IP as LB only does inbound natting where port forward traffic from a specific port of a specific frontend IP address to a specific port of a specific backend instance inside the virtual network. This is also accomplished by the same hash-based distribu

[2019-09-18 09:37] ananthradhakrishnan commented on #38898
Hi @vanthoainguyen, ideally the behaviour should be as you stated, that the customization is ignored if the common schema toggle is enabled.

Looping in @harelbr to investigate this further.

[2019-09-18 09:40] ananthradhakrishnan commented on #38898
#reassign @harelbr

[2019-09-18 09:53] PhlashGBG commented on #38545
@hpsin, thanks for the detail - I'll respond in kind :) As was noted in the earlier ticket:

1. Take an authority (eg: my demo AAD)
    https://login.microsoftonline.com/gbgidentitydemo.onmicrosoft.com aka
    https://login.microsoftonline.com/0d2fd715-49b1-41f7-b6a0-60ca5ef069c7

2. Read the OIDC discovery document from the v1 implementation:
    https://login.microsoftonline.com/gbgidentitydemo.

[2019-09-18 10:05] blessingmu commented on #38903
https://github.com/MicrosoftDocs/azure-docs/issues/18387

[2019-09-18 10:10] DrReedo commented on #18475
Having uploaded a self-signed client certificate into the APIM and adding the following code to the Inbound processing rules (as above) I also got the 403 invalid client certificate message.
<choose>
    <when condition="@(context.Request.Certificate == null || !context.Request.Certificate.Verify()  || !context.Deployment.Certificates.Any(c => c.Value.Thumbprint == context.Request.Certificate.Thum

[2019-09-18 10:12] DrReedo opened #39105 "Gateway properties are now 'Negotiate client certificate' under the Custom Domains blade"
This needs updating as the documentation still states 'Request client certificates'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51769134-4b97-0a48-3031-cbcea10ca714
* Version Independent ID: dc70bd8c-54be-1592-2137-aed9cae0094b
* Content: [Secure APIs using client certificate authentication in API Management - Azur

[2019-09-18 10:15] iracding opened #39106 "How to build a development of service fabric environment on CentOS 7 ?"
How to build a development of service fabric environment on CentOS 7 ? I tried it but it failed. Can someone help me write a guidebook, just like Ubuntu ? etc , https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867a5a41-6a54-7c92-6bb3

[2019-09-18 10:17] AshokPeddakotla-MSFT commented on #27826
@robinsh Just checking into see if there is any update on this feedback.

[2019-09-18 10:23] SadiqhAhmed-MSFT commented on #39030
@smithcl167 Sorry for the inconvenience caused! Azure VM backup does a complete VM backup (includes: data on the VM, hostname (FQDNS), reg keys and other objects). The issue is when you restore, the hostname will remain same for the VM. So, then you will have two VM’s with the same hostname and it may cause issues with your domain - By product design.

Recommendations: If you are planning to resto

[2019-09-18 10:32] venkatx5 opened #39107 "Next Section button linked incorrectly."
In Next Steps section, the text says "To learn how to deploy Azure resources across multiple regions, and how to use safe deployment practices, see".. The button shows/targets "Use Azure Deployment Manager".

The button should be "Safe Deployment Practices" and link to respective article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-18 10:44] MiroslavVanicky opened #39108 "JSON RateCard data - values in Meters/MeterRegion"
I am reading Azure RateCard prices from JSON stream (https://docs.microsoft.com/en-us/previous-versions/azure/reference/mt219005(v=azure.100)). JSON contains info about region this way: "MeterRegion": "**US West Central**". My problem is related to these values in MeterRegion. It looks like some "display name", not region "id". How to pair this MeterRegions to other systems?

E.g.: When using Micr

[2019-09-18 10:46] cephalin commented on #33421
@Flanker32 The format pattern changes depending on the logging provider in the app, and when changes are made in the logging provider. For this reason we've removed the details from this doc to make it more maintainable. Thank you.

The update should be published sometime today. #please-close

[2019-09-18 10:46] #33421 closed

[2019-09-18 10:47] cephalin commented on #33044
The doc has been updated and should be published sometime today. #please-close

[2019-09-18 10:47] #33044 closed

[2019-09-18 10:47] cephalin commented on #32419
@tsubasaxZZZ I've added Linux instructions. It should be published sometime today. #please-close

[2019-09-18 10:47] #32419 closed

[2019-09-18 10:48] cephalin commented on #32388
@mattyweb Linux and container steps are added. It should be published sometime today. #please-close

[2019-09-18 10:48] #32388 closed

[2019-09-18 10:50] cephalin commented on #14748
The doc has been updated to include Linux/container instructions. It should be published sometime today. #please-close

[2019-09-18 10:50] #14748 closed

[2019-09-18 10:54] bobbytreed commented on #39076
Thanks.  I am working on some arm template samples for Azure Automation.  Should be rolling out soon.

[2019-09-18 11:04] cephalin commented on #18686
The doc has been updated to mention that all content stored in one of the log files will be reflected in the log stream. It should be published sometime today. #please-close

[2019-09-18 11:04] #18686 closed

[2019-09-18 11:11] liiamjones commented on #38860
I can still add guests, so either the setting hasn't propogated yet, or my issue was caused by something else that i cant repro.

When it was an issue, the names of guests were coming back from the teams API, but weren't displaying in the client like the attached screenshot. ignore the invalid email address, just trying to show you what was happening before

![image](https://user-images.githubuser

[2019-09-18 11:12] cephalin commented on #34950
@jsandersrocks Thank for this feedback. However we need to minimize steps that depend on the portal UI in order to reduce maintenance cost on our docs, so the docs will stay put for now. Thanks for your understanding. #please-close

[2019-09-18 11:12] #34950 closed

[2019-09-18 11:15] liiamjones commented on #38860
This might have had something to do with it. When adding guests via graph they display as a members and not a guests... (makes sense being as they are being added to the members collection of a group, doesnt appear to be a seperate guests collection)
![image](https://user-images.githubusercontent.com/48244744/65143868-e2710b00-da0d-11e9-8533-7633de0456cb.png)

[2019-09-18 11:15] lukepuplett opened #39109 "Need information somewhere about setting and reading configuration for Functions"
I've been trying to find out how configuration is dealt with in a Function App. There's mention of App Settings in the portal but not clearly how to access these from code.

There's nothing clearly discussing configuration in .json files, if that's supported or not. There's nothing about using the ASP.NET Core configuration paradigms which are familiar to C# developers, whether the runtime will ha

[2019-09-18 11:16] liiamjones commented on #38860
And subsequently, the client suggests you can change them to an owner, which fails
![image](https://user-images.githubusercontent.com/48244744/65143975-2a902d80-da0e-11e9-9b38-c515e2db5321.png)

[2019-09-18 11:26] AshokPeddakotla-MSFT commented on #7851
@robinsh checking into see if there is any update on this issue.

[2019-09-18 11:28] liiamjones commented on #38860
The client does eventually realise they are guests and updates (maybe after loggin in and out again).

[2019-09-18 11:30] liiamjones commented on #38860
however, i can still add guests via the client and cant repro the original issue so will close.

[2019-09-18 11:30] #38860 closed

[2019-09-18 11:34] AshokPeddakotla-MSFT commented on #30016
[PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/88120) has been created to fix this.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-18 11:34] #30016 closed

[2019-09-18 11:36] sujayvsarma opened #39110 "Azure Screens & Flow need to be updated"
The flow for the Azure UI and steps need to be updated. The portal has changed a LOT since this document was written / last updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e43cf15c-8e51-6b64-f445-a538cbdfeee1
* Version Independent ID: c3ff55ea-a74d-8c8f-f051-cbe488d5043e
* Content: [Manage authentication in Azu

[2019-09-18 11:37] nik-lazer opened #39111 "Instructions for debug are totally incorrect"
Command "mvn azure-functions:run -DenableDebug", mentioned in the article, does not enable debugging. Instead of this JAVA_OPTS setting in local.settings.json should be used, as it is described in a ticket:
https://github.com/Azure/Azure-Functions/issues/870#issuecomment-410652147

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-09-18 11:41] joedev-big commented on #39001
Good morning, as I stated earlier, the source call is generated from our
appservice software.  We have a VNET Integration to a subnet, The call
leaves that subnet and travels out through the VNGateway S2S and out to one
of multiple tunnels to the appropriate on-premises site.

On Wed, Sep 18, 2019 at 1:34 AM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-09-18 11:43] AshokPeddakotla-MSFT commented on #38407
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-18 11:43] #38407 closed

[2019-09-18 11:46] joedev-big commented on #39001
and as I understand your documentation, it doesn't come from any single IP
on our network, but can originate from any IP in the integrated
(appservice) subnet.  Traffic behaves as expected using anything in the
block 10.0.0.0/8 as the destination (on-premises encryption domain) however
it does not go down the tunnel if the destination (on-premises encryption
domain is using 208.x.x.x

On Wed, Sep

[2019-09-18 11:50] aralvar opened #39112 "Update subnet delegation limitations"
The documentation just mentions that subnet delegation cannot be removed if a resource is already present in the subnet, but you can also not add subnet delegation. We get this error message:

{\"code\":\"SubnetDelegationsCannotChangeWhenSubnetUsedByResource\",\"message\":\"Delegations of subnet /subscriptions/6397d28a-5cc9-4f51-a5d9-ec4f8fc684fa/resourceGroups/RGClient2/providers/Microsoft.Networ

[2019-09-18 11:51] anavinahar commented on #39112
#sign-off

[2019-09-18 11:51] msrini-MSFT commented on #39001
@joedev-big , Got it. It seems to be an issue and it requires deeper investigation.

Can you try to execute tcpping to On-Prem IP with a port and check if you are able to get a response?

If not, then I would suggest you to raise a support ticket where packet capture on the gateway will be taken to verify whether packets are sent via tunnel.

[2019-09-18 11:52] AshokPeddakotla-MSFT commented on #39110
@sujayvsarma Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-18 11:54] anavinahar commented on #39112
Created a PR in the private repo: https://github.com/MicrosoftDocs/azure-docs-pr/pull/88929, will be live 11 AM Pacific!

Thanks.

[2019-09-18 11:55] sujayvsarma commented on #39110
I was trying to follow instructions provided on my previous item [here](https://github.com/Azure-Samples/AzureMapsCodeSamples/issues/19) when I found this problem. Hope it helps other people

[2019-09-18 11:56] jakaruna-MSFT commented on #39077
@bobbytreed  Can we add that info as a note under [Extension schema](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#extension-schema)

Example name format is [here](https://github.com/Azure/azure-quickstart-templates/blob/master/201-customscript-extension-public-storage-on-ubuntu/azuredeploy.json#L205)

[2019-09-18 11:59] SubhashVasarapu-MSFT commented on #38891
@alvipeo, Appreciate your patience. You can restrict traffic to a particular app in ASE using WAF custom rules. There are some samples here in this [doc](https://docs.microsoft.com/en-us/azure/application-gateway/custom-waf-rules-overview) for your reference.

[2019-09-18 12:07] jakaruna-MSFT commented on #39075
@sasanmcp Container name is part of the URL.
For example, lets take this url `https://xxxxxxx.blob.core.windows.net/buildServer1/1_Add_Tools.ps1`

In this url buildServer1 is the container name for that blob

[2019-09-18 12:12] jakaruna-MSFT commented on #39076
@sasanmcp you are right. You need to use creds only when public access level  is set to private(no anonymous access).

[2019-09-18 12:17] RobertoBorges opened #39113 "Link Broken"
Both Angular links are broken :

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular/samples/MSALAngularDemoApp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6508ffd9-e8f0-21b3-fada-d270003da93d
* Version Independent ID: 2a888023-46c6-c8b3-f4b4-01487d0e8576
* Content: [Code sam

[2019-09-18 12:19] jakaruna-MSFT commented on #39104
@alxayo Thanks for sharing here.
Since its tracked already in bugs.debian.org, I think we dont need to do any doc changes from our side.

@MicahMcKittrick-MSFT  please suggest

[2019-09-18 12:33] KrishnaG-MSFT commented on #39107
@venkatx5 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-18 12:36] sidk25 opened #39114 "Make pipeline parameters dynamic"
We have a pipeline with parameters and when exported to ARM template it comes as pipeline().parameters.param1. Now this value should be different for each environment. Can you guide me here how to make this one dynamic in CICD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Versio

[2019-09-18 12:42] SaurabhSharma-MSFT commented on #39113
@RobertoBorges Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-18 12:48] alexespencer opened #39115 "Computer Vision Endpoint"
Hello,

I am running via the docker-compose method. I have created a Forms Recognizer and Computer Vision resource in Azure Portal. I have copied the API keys and endpoints, but the Computer Vision Endpoint seems to be incorrect, according to the stderr output for the "ocr" container. Another Microsoft tutorial insists that you must append "vision/v2.0" or "vision/v1.0" the endpoint - but is that

[2019-09-18 12:58] artisticcheese opened #39118 ""PlatformInitiated" is set even on results of end users initiated events"
Example is below. This event appears if user asks for reboot. As of right now there is no clear way to separate enduser initiated events from the one initiated by platform (like unexpected host failures) since if you make condition to have only "Updated" status with "Platform initiated" then you capture both types of events. If you put "Active" then it's not going to work since it does not populat

[2019-09-18 13:05] alexespencer opened #39119 "Computer Vision vs Cognitive Services"
I had to create a COGNITIVE SERVICES resource and use that endpoint for the cognitive-services-recognize-text to accept the endpoint. If you create a Compute Vision resource like the documentation suggests, the endpoint is rejected. Is this expected behaviour, can you reproduce this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-09-18 13:08] wbargerb opened #39120 "Gateway subnet in the spoke Vnet?"
According to the text, you create a gateway subnet in the vnet-Spoke. Shouldn't this be in the vnet-hub? This because the vpn Gateways are created in vnet-hub and vnet-onprem and not in vnet-spoke.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b54e37aa-a45b-989e-5adf-e0f2212815f4
* Version Independent ID: a957e018-937

[2019-09-18 13:17] MGoedtel commented on #38969
@ROSMITHJ-MSFT - Created a work item and will address when time permits.  Thanks.  #please-close

[2019-09-18 13:17] #38969 closed

[2019-09-18 13:22] WiseOldHowell opened #39121 "Enable credential provider via provisioning package > 'Security Keys'... missing"
Attempting to complete the 'Enable credential provider via provisioning package' step.

Under Runtime settings &gt; WindowsHelloForBusiness... I'm not seeing "Security Keys".

OS: Windows 10 Pro 1903 (OS Build 18362.295)
AAD only (not hybrid)
Joined to AAD and authn successful with UN, Pwd and PIN.

Trying to enabled Authn with FIDO2 Key (Yubico Yubikey through the Passwordless Login initiative)

[2019-09-18 13:22] SnehaAgrawal-MSFT commented on #38922
@alvipeo Thanks again for the feedback! As its mentioned in the above doc That If you know the address range that your application request traffic will come from, you can add that directly to the route table that is assigned to your ASE subnet but If the address range is large or unspecified, then you can use a network appliance like the Application Gateway to give you one address to add to your r

[2019-09-18 13:23] test123114 opened #39122 "how to upload certificate with powershell"
[Enter feedback here]
According to my test, we can use the command ```New-AzWebAppSSLBinding``` to upload and bind the SSL certificate to the web app. Now, I want to know how to upload a private or public certificate with powershell script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee2ce9e8-8504-ddab-1880-485962b9

[2019-09-18 13:25] alexespencer commented on #39115
Resolved by using a COGNITIVE SERVICES resource endpoint rather than a pure Computer Vision resource. I think the documentation needs updating to state this, as it isn't very clear at all. The words "Computer Vision" appear far more often than cognitive services...

[2019-09-18 13:25] #39115 closed

[2019-09-18 13:29] DanlFrn opened #39124 "Alternative for container_name for docker compose on Azure"
Hello,

I am deploying a simple app with docker compose on azure and I noticed that the directive container_name does not work, Azure assigns a random name like this:

**serving_0_b144dc70**

The problem is that I am trying to communicate my containers through the default network of docker compose but I do not have success because I do not know the exact name of the service because Azure generates

[2019-09-18 13:29] smithcl167 commented on #39030
ok, so for purposes i'm describing, using an image/sysprep is probably the way to go

[2019-09-18 13:34] cephalin commented on #32356
@thinkingserious We will be removing this article and redirecting to https://sendgrid.com/docs/for-developers/partners/microsoft-azure/ in the near future. Please be advised.

[2019-09-18 13:41] SadiqhAhmed-MSFT commented on #39030
@smithcl167 Sysprep will serve your primary purpose. There are other options as well like creating a VM from the disk on a different Vnet independent of your DC on Azure and then take a snapshot of the disk. The snapshot can be used to create a VM again.

[2019-09-18 13:42] #38587 closed

[2019-09-18 13:42] #38865 closed

[2019-09-18 13:43] alvipeo commented on #38922
I know the IP. The question is how exactly that route would look like? Example please.

[2019-09-18 13:45] SwathiDhanwada-MSFT commented on #38902
@cconrado AFAIK, the values will be same
@msvijayn  Can you please provide your thoughts on the same?

[2019-09-18 13:49] alvipeo commented on #38891
I read those docs. The example would really help!

[2019-09-18 13:49] jambt opened #39125 "Wrong negation in documentation"
On the page

https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration#create-the-server-application

at `4.f` the sentence
`This button isn't unavailable if the current account isn't a tenant admin.` has one negation too much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
*

[2019-09-18 13:52] KalyanChanumolu-MSFT commented on #39101
@s-miller By 2 databases, i believe you are referring to **master** and **mySampleDataWarehouse**

Master database is created by default when the server is created.
It records all the system-level information for SQL Server. This includes instance-wide metadata such as logon accounts, endpoints, linked servers, and system configuration settings.
Also, master database records the existence of all o

[2019-09-18 13:53] test123114 commented on #39013
Hi. I do not use Create  method.

[2019-09-18 14:07] surajmb commented on #24475
@nidhi5885 Application Gateway is the client when looking from the perspective of the backend server and its IP address will be treated as the client IP address for all network packets and access logs. However, the original client IP will be preserved in the X-Forwarded-For header which you can tap from your application code.

[2019-09-18 14:12] NavtejSaini-MSFT commented on #38939
@ricohomewood If you dont have any further question, we will close the issue by EOD.

[2019-09-18 14:16] gaikovoi opened #39126 "Missing rules number limit for Server-level IP firewall"
The section "Server-level IP firewall rules" doesn't have info about maximum number of server-level rules. Together with statement "You can have a maximum of 128 database-level IP firewall rules for a database. " (in Database-level IP firewall rules), it creates impression that no limit exists. In fact, server-level rules have the same limit - 128.
Prove: Powershell throws next error on rule #129

[2019-09-18 14:21] KevinGuana commented on #33674
Hello , I've the same poblem.. I received the same json but I've tried deploy four times and It doesnt work.

[2019-09-18 14:29] PramodValavala-MSFT commented on #38801
@btmore Just following up here... Hope my previous comment clears things up.

[2019-09-18 14:29] matziq opened #39127 "Typo/Grammar"
"How is traffic being send when using Private Link?" should be "How is traffic being sent when using Private Link?"
and
"Traffic is send privately using Microsoft backbone. It doesn’t traverse the internet." should be "Traffic is sent privately using Microsoft backbone. It doesn’t traverse the internet."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-18 14:34] PramodValavala-MSFT commented on #39102
@guizi1991 Could you please share the doc that you are referring to?

[2019-09-18 14:34] ToruMakabe opened #39128 "Does Application Gateway support x509 v3 subjectAltName certificate?"
I would like to add on-premise node IP address as HTTPS backend. Does Application Gateway support x509 v3 subjectAltName for whitelisting my self-signed certificate? I have not found info about the specification in Azure official docs yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5813d794-d0f4-24dd-077f-e64028232

[2019-09-18 14:35] PramodValavala-MSFT commented on #39124
@DanlFrn Could you please share the doc that you are referring to?

[2019-09-18 14:37] DanlFrn commented on #39124
Sure:

https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-multi-container-app

[2019-09-18 14:37] gaikovoi opened #39129 "No info about max number of firewall rules"
Section "Network isolation" is missing information about limit for firewall rules.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c63a1e-74b7-2d5f-3d9f-20ee3621c01c
* Version Independent ID: 8719864f-eac5-e495-8ae1-785ad6c8cf01
* Content: [Overview of security in Azure Data Lake Storage Gen1](https://docs.microsoft.c

[2019-09-18 14:38] DanlFrn commented on #39124
Sure:

https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-multi-container-app

[2019-09-18 14:42] ayakimov commented on #33099
@jakobli we solved it. We use python sdk (from OneLogin) and it have .login method which generate valid SamlRequest string. We just added it to https://login.microsoftonline.com/{tenant-id}/saml2SamlRequest=<base64_data> and now things works fine.

[2019-09-18 14:47] MicahMcKittrick-MSFT commented on #35889
Sorry for the delay. Will check on this today

[2019-09-18 14:53] IEvangelist commented on #39119
Hi @alexespencer, thank you so much for your feedback - it is much appreciated. You're helping us shape the docs into the best possible experience and for that we thank you!

I have started working on a pull request to address this concern and make it more explicit. Thanks again.

[2019-09-18 15:01] ryandle commented on #38884
Thanks @FrankHu-MSFT for taking a look. You are correct that immutability is already covered. But 'reassigned or reused' is not, which is what I am asking for explicit clarification on for `oid`.

I did not have this same interpretation as you when I read the documentation for `oid`:

In general, as a developer reading through this documentation and trying to decide which user identifier I want to

[2019-09-18 15:01] PramodValavala-MSFT commented on #39105
@DrReedo The setting mentioned at the top of the page is only for the consumption tier which is correct.

[2019-09-18 15:03] Mike-Ubezzi-MSFT commented on #39016
What appears in the Azure Portal for selecting an available region and what is listed in the documentation does not align.

![Screenshot (257)](https://user-images.githubusercontent.com/37126106/65160390-7630e000-d9ea-11e9-8548-87bbf41e80a9.png)

And then in the docs it lists UK North:

![Screenshot (258)](https://user-images.githubusercontent.com/37126106/65160589-db84d100-d9ea-11e9-8fc4-d01539f7

[2019-09-18 15:04] jpduffield commented on #38855
@SubhashVasarapu-MSFT. That's all fine in theory, but doesn't match what actually happens when I try to configure outbound rules in an NSG.  NAT is irrelevant here. I'm just load balancing over a backend pool.

Consider the following simplified example (This is a bit contrived, but demonstrates the issue with a minimal setup).:
- One subnet (subnet_A) containing an internal load balancer, balancin

[2019-09-18 15:05] DonFrazier commented on #34702
Azure Functions V2 need ILogger<T>.  ILogger doesn't seem to work any more.

[2019-09-18 15:06] PramodValavala-MSFT commented on #39111
@nik-lazer Thanks for the question! We will review and get back to you!

[2019-09-18 15:10] MGoedtel commented on #38994
The PG and I were discussing this earlier this week as a result of identifying we were missing the dockerfile env. entry in the ConfigFile and supporting details on how to control this behavior in a more granular fashion.  I've created a task for this and will work on updating the article as soon as I can.  #in-progress

[2019-09-18 15:10] MicahMcKittrick-MSFT commented on #30075
Adding @Adam-Smith-MSFT who works with storage explorer as well

[2019-09-18 15:14] nimai-agarwal commented on #35466
I'm getting the exam same issue as andrewvr99. I edited the wav file in audacity to fit the specifications and it's being transcribed successfully, but all speakers are being identified as $ref$. Is there a solution to this?

[2019-09-18 15:14] smithcl167 commented on #39030
oh, could you provide detail on this snapshot procedure?
would this work if i wanted to create multiple VMs from this snapshot of the restored VM?

[2019-09-18 15:15] souravmishra-msft commented on #39002
@dluc, Thanks for sharing the query. The module needed out here is AzureAD Powershell Module. You can install the latest version of the same from [https://www.powershellgallery.com/packages/AzureAD/2.0.2.31](url)

Hope this helps.

[2019-09-18 15:18] derekrprice commented on #38153
I'm having the same problem with Queue Trigger bindings.  This yields an error about "blobPath" not being defined despite the fact that I can see it in the queue message being processed.

{
  "type": "blob",
  "name": "myBlob",
  "direction": "in",
  "path": "{queueTrigger.blobPath}"
}

[2019-09-18 15:36] joshkostal opened #39131 "Partition Key Error"
Hi,

I've followed the instructions and can query my local database (I'm using the CosmosDB Emulator), but when I try to insert data using the query:
g.addV('person').property('firstName', 'Thomas').property('lastName', 'Andersen').property('age', 44).property('userid', 1).property('pk', 'pk')
I get the following error:
ActivityId : cd07f7be-d824-40fa-8137-0f2726a9c26d
ExceptionType : GraphRuntime

[2019-09-18 15:47] deepikabandhanadham commented on #39079
@djpmsft.  My Git repository is located in Github and the username is correct. Same works fine in Azure Commercial but not in the government. Could you please help me understand why it should be public?

[2019-09-18 15:48] MIBadran opened #39132 "Ports and Transport"
Most of the Transport type on the ports are wrong, some states that it is TCP/UDP , and some ports doesnt have a transport at all

for example in table 1, DNS and LDAP and all the services listed as TCP and UDP , while DNS is ONLY UDP, another example in Table 3 , WinRM doesnt even have a transport.

and most tables that have HTTPS is listed with UDP Which is wrong and very confusing.

---
#### Do

[2019-09-18 15:49] WiseOldHowell commented on #39121
My error... I was selecting "All Windows Editions" and not "All Windows Desktop Editions".

[2019-09-18 15:58] tehtertot opened #39133 "Separating dev environment from prod"
As far as I can tell, the only way to fire triggers is to publish them. But according to @djpmsft's comment below (#38753), you should only merge features into master and then publish if they are ready for production. But then what's the point of the testing stage? In other words, it seems that things have to be merged into master before testing, so is there a way to have some features go to prod

[2019-09-18 15:58] hrasheed-msft commented on #38846
@hidwatanabe The HDInsight product team is looking into this issues and I'll update you as soon as I know more.

[2019-09-18 16:00] Mike-Ubezzi-MSFT commented on #39016
Another note is that [this section](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#available-regions) of the doc lists Available Regions but identifies an exception list where the service is not available for deployment.

[2019-09-18 16:09] tommy-couzens opened #39135 "Step 3 Set-AzRecoveryServicesBackupProperty fails"
I get the following error when running step 3:

Set-AzRecoveryServicesBackupProperty : Cannot bind parameter 'BackupStorageRedundancy'. Cannot convert value "LocallyRedundant/GeoRedundant" to type "Microsoft.Azure.Commands.RecoveryServices.AzureRmRecoveryServicesBackupStorageRedundancyType". Error: "Unable to match the identifier name LocallyRedundant/GeoRedundant to a valid enumerator name. Speci

[2019-09-18 16:09] kobulloc-MSFT commented on #39011
@NumberByColors This doesn't appear to exist anymore (I can get as far as https://github.com/Microsoft/ApplicationInsights-JS).  Can you confirm if we have a replacement?

[2019-09-18 16:10] basilhariri opened #39136 "No link to EventHubs documentation"
Please add a link to the Event Hubs Spark Connector documentation since it is used quite a bit in this tutorial:

https://github.com/Azure/azure-event-hubs-spark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Independent ID: 4ec1e187-7e69-e5da-b6dd-cb03b6db9366
* Content:

[2019-09-18 16:12] NavtejSaini-MSFT commented on #39072
@4deeptech We are assigning this to author for further action.
@stevestein The bacpac import into a Azure SQL Server is not available. Please let us know if we can modify the document to mention this limitation.
![Hyper](https://user-images.githubusercontent.com/52257742/65165812-81e1ce00-da0d-11e9-9fe6-1a1958be209b.JPG)

[2019-09-18 16:13] menih commented on #39005
Yes. Thank you. Issue resolved.

On Tue, Sep 17, 2019, 11:34 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-09-18 16:13] johncrim opened #39137 "provisioningState: Default required?"
In the example (https://github.com/Azure-Samples/service-fabric-dotnet-quickstart/blob/master/ARM/UserApp.json), every resource has:
[code]
which is kind of odd.

This property is not listed in the docs (https://docs.microsoft.com/en-us/azure/templates/microsoft.servicefabric/2019-03-01/clusters/applications). Is it documented elsewhere, or even required?

I'm not experiencing success creating SF

[2019-09-18 16:16] rthorn17 commented on #39088
@frehnejc - This is by design. We wanted to allow the freedom to all users and a minimal on-boarding process.  Our authorization and controls focus on moving the management groups to see if you have access.  With that said we are evaluating the current model with feedback from customers and one feature we are looking to do is have a setting on the Root Management Group that would allow an admin th

[2019-09-18 16:17] #39005 closed

[2019-09-18 16:23] SnehaAgrawal-MSFT commented on #39122
@test123114 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 16:26] chunla-ms opened #39138 "Import Schema method in .NET SDK or Powershell is missing"
In the UI, users are able to use the "Import Schema" button.

![image](https://user-images.githubusercontent.com/55157213/65166821-4ab3f280-d9f6-11e9-9a92-9ed4f13ecf1a.png)

Is there a similar feature in the SDK? I could not find any documentation pointing to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75402f01-

[2019-09-18 16:41] shashishailaj commented on #38754
@sln007 We got this checked from PG and found they explained that its not about superior security. However its more about different use case and scenarios. User delegation key method is supposed to be used when using oAuth is not possible to be used directly. There are many scenarios where clients can't pass an authorization header with an oAuth token when downloading from storage. An example for

[2019-09-18 16:41] #38754 closed

[2019-09-18 16:51] FrankHu-MSFT commented on #38884
Hey @ryandle thank you for that clarification, that definitely clears things up. I'm going to colalborate with my team on this issue to determine best wording. Thanks!

[2019-09-18 16:51] jlian commented on #25343
Unfortunately adding per-device metrics for is not in our short term roadmap due to technical limitations. If you care about this a lot, it would help us to open an item and vote for it on our [UserVoice](https://feedback.azure.com/forums/321918-azure-iot).

For preventative monitoring of throttling, the easiest workaround I have at the moment is to set up an Azure Monitor alert for the scenario y

[2019-09-18 16:55] leelo7 opened #39139 "DBA"
This script timed out after deleting the VM.  Might have been a good idea to make a backup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availability set](https://docs.microsoft.com/en-us/azure

[2019-09-18 16:58] #38797 closed

[2019-09-18 16:58] YutongTie-MSFT commented on #39119
@IEvangelist Thank you David.

@alexespencer We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-18 16:58] #39119 closed

[2019-09-18 16:59] dmarlow commented on #38503
Here's what I see:
![image](https://user-images.githubusercontent.com/2000510/65169233-fbbc8c00-d9fa-11e9-9d6d-0e2056bc2bb3.png)

[2019-09-18 17:03] vinothrao commented on #33656
Followed this tutorial. Got stuck at the below error.Not sure why.
[18-Sep-19 4:54:55 PM] Loading startup extension 'SignalR'
[18-Sep-19 4:54:56 PM] Loaded extension 'SignalR' (1.0.1.0)
[18-Sep-19 4:54:59 PM] A host error has occurred
[18-Sep-19 4:54:59 PM] Microsoft.Azure.SignalR.Common: Object reference not set to an instance of an object.
Value cannot be null.
Parameter name: provider
Press any

[2019-09-18 17:09] Mike-Ubezzi-MSFT commented on #39126
@gaikovoi Thank you for this detailed analysis and feedback. We will make an update to the documentation to reflect this limitation, either through a link where this information is stated or with additional written details.

[2019-09-18 17:12] qianw211 commented on #37716
@fxnicolas, the link we posted above should resolve your question, and let me know if you have additional questions.  Thanks!
https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-vhd

#please-close issue is considered fixed unless additional questions come up.

[2019-09-18 17:14] Mike-Ubezzi-MSFT commented on #39131
@joshkostal Thank you very much for bringing this to our attention. We will make an update to the documentation to reflect this requirement.

[2019-09-18 17:14] KranthiPakala-MSFT commented on #39136
@basilhariri Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-09-18 17:16] KranthiPakala-MSFT commented on #39138
@chunla-ms Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-09-18 17:18] KranthiPakala-MSFT commented on #39114
@sidk25 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-09-18 17:18] MicrosoftGuyJFlo commented on #39121
@WiseOldHowell When I was writing the doc I had the same issue. Glad to see I am not the only one and that you were able to figure it out.

[2019-09-18 17:18] dcurwin commented on #39135
#assign:pvrk

[2019-09-18 17:18] MicrosoftGuyJFlo commented on #39121
#please-close

[2019-09-18 17:18] #39121 closed

[2019-09-18 17:20] sonnycloudtp opened #39140 "Why do I need storage blob encryption, if you say every storage product is already encrypted?"
Looking at page https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption, I see that Azure Storage products are already encrypted at rest. Why then do I need these additional encryption techniques?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5bb5-c375-d392-4fa366ddbe43
* Version Inde

[2019-09-18 17:21] msrini-MSFT commented on #39127
@matziq , Thank you for your feedback. I will fix the typo and post the PR here.

[2019-09-18 17:22] KranthiPakala-MSFT commented on #39133
@tehtertot Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2019-09-18 17:25] msrini-MSFT commented on #39127
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/88963

[2019-09-18 17:27] KranthiPakala-MSFT commented on #39133
Hi @djpmsft, could you please have a look at the above ask from @tehtertot? - Thanks!

[2019-09-18 17:28] bandersmsft commented on #39087
@frehnejc Hi. Cost Management readers can view management groups but they cannot create them. I'll clarify that section explicity state as much. Thanks for the comment.
#please-close

[2019-09-18 17:28] #39087 closed

[2019-09-18 17:29] Adam-Smith-MSFT commented on #39140
@sonnycloudtp As you mentioned it is true that storage accounts have Encryption at Rest, this only an additional layer and suggestion for customer that prefer to customize their encryption themselves from the client side. If you wish to only use the default one, it is also a good choice.
Let me know if you have any other questions.

[2019-09-18 17:31] c4rlosmarin opened #39141 "Outdated document"
There are some protocols or cipher suites you cannot enable or disable from portal (Backend-side TLS 1.2 and TLS 1.1), so you have to use the REST call for this. The way around this is to use the properties.customProperties structure in the Create/Update APIM Service REST API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-18 17:32] #39127 closed

[2019-09-18 17:35] anthonychu commented on #33656
I believe there's a known bug in 1.0.1 of the extension where it raises an exception if you use a custom connection string name. Try using 1.0.0.

/cc @chenkennt

[2019-09-18 17:39] cijothomas opened #39142 "Document about permissions issue"
The #1 reason performance counter does not work is because the app do not have permission to read perf counter. It should be documented here how to check this, and how to grant permissions to performance counter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7325660c-6ba7-5955-cadb-e98084e7a624
* Version Independent I

[2019-09-18 17:40] ash2017 commented on #38704
We are updating the docs to add more information on this.

[2019-09-18 17:41] Alberto-Vega-MSFT commented on #37927
@faridulhassan Thanks for sharing. Also you could create an entry at the [Azure Maps User Voice](https://feedback.azure.com/forums/909172-azure-maps) this way other users can upvote your request and help the team measure the impact and prioritize.

[2019-09-18 17:48] AjayKumar-MSFT commented on #38931
@WenJason, Thanks for the response. The error message may occur due to unsupported file type/codec, kindly take a look at this [document](https://docs.microsoft.com/azure/media-services/latest/media-encoder-standard-formats) for the supported codecs while I check on this further.

[2019-09-18 17:49] vnextcoder opened #39143 "The Graph Api part needs to be updated"
The Graph API part in this page needs to be updated as this is now possible directly using the Azure Portal --&gt; Azure AD Directory --&gt; Application Registration --&gt; Manifest page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a39d87-a57c-ef0b-eb9f-286d3ee65141
* Version Independent ID: a1257f6d-fa84-8470-8ad

[2019-09-18 17:51] AjayKumar-MSFT commented on #38909
@khanhankkhan, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-09-18 17:51] #38909 closed

[2019-09-18 17:52] KrishnaG-MSFT commented on #39121
@WiseOldHowell Glad to know that the issue is self resolved. Thanks for the update. 👍
@MicrosoftGuyJFlo Thanks for the quick response and experience shared. 👍

[2019-09-18 17:55] SaurabhSharma-MSFT commented on #39143
@vnextcoder Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-18 18:00] j03Martin opened #39144 "What about ARM templates"
Why should I configure the time to live in my application code? This seems like an infrastructure decision. Sense y'all are trying to promote infrastructure through code, why not give an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b13-2e3d-

[2019-09-18 18:02] MarileeTurscak-MSFT commented on #39132
@MIBadran
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-18 18:02] djpmsft commented on #39133
Hi @tehtertot,

The testing stage is aimed to test things such as triggers which as you pointed out are only fired post-publish. What I meant in the referenced issue is that if something is merged into master, there is no way to publish without including it.

If you are creating a pipeline and there is no active trigger associated with the pipeline, it will not run, but it will be included in the

[2019-09-18 18:03] rayfmorris opened #39145 "Invalid array syntax in Azure documentation"
There are many places in the Azure documentation that appear to have a find and replace error. This can be seen by looking at the code snippet in the Extension Bundles section. (https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#extension-bundles)  Note the use of [ ... ) instead of [ ... ] for an array.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-09-18 18:06] mike-urnun-msft commented on #39109
Hi @lukepuplett - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-09-18 18:06] vnextcoder commented on #25184
We figured it out by now.  the Step 6 needs to be followed quite carefully

The "Value" attribute in the JSON needs to be set correctly.

[2019-09-18 18:07] mike-urnun-msft commented on #39141
Hi @c4rlosmarin - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-09-18 18:08] mike-urnun-msft commented on #39145
Hi @rayfmorris - Thank you for your feedback! We will review and update as appropriate.

[2019-09-18 18:15] sahya commented on #32273
@kgremban OK. I understand your description.
I think you can mark this issue as resolved
Thank you for your kindness to response.

[2019-09-18 18:23] ricohomewood commented on #38939
Hello Rohit, thanks for the explanation. I guess my confusion was for ports 11000-11999 are for the regional SQL ip’s and not all regional IPs? In addition I assume the gateway IP’s in that region only require 1433 and the other ports are only for the regional IPs for SQL servers when using redirection externally. That’s my initial confusion all regional IPs or all Regional SQL IPs. Thanks

[2019-09-18 18:24] MicahMcKittrick-MSFT commented on #39139
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 18:24] MicahMcKittrick-MSFT commented on #39125
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 18:25] MicahMcKittrick-MSFT commented on #39137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 18:26] TravisCragg-MSFT commented on #39112
@aralvar Thanks for the feedback! The change is now live.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-18 18:26] #39112 closed

[2019-09-18 18:27] MashaMSFT commented on #39100
Hi @aayush3667, thanks for contacting Microsoft! Would you mind clarifying what you mean by destroyed or crashed?

Thanks!
Masha from the SQL Docs team

[2019-09-18 18:33] DarinMacRae opened #39147 "Outdated"
This page is significantly out of date and should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06eed28a-51cd-9282-0364-680c7fa98bd8
* Version Independent ID: ce2aace1-9078-6ad1-39f1-fc90a7c72312
* Content: [How to administer Azure Cache for Redis](https://docs.microsoft.com/en-us/azure/azure-cache-for-red

[2019-09-18 18:34] TravisCragg-MSFT commented on #39120
@wbargerb In this example a S2S VPN is used to connect the Hub VNET with the Spoke VNET, therefore they both need gateway subnets.

It is possible to also use VNET peering to connect the 2 VNETs.

[2019-09-18 18:41] oscarzamora commented on #22660
Folks. There is confusion from our partners making interpretation of the the storage limits..
Business Critical Max 4 TB per database
Business Critical Limit 100 databases

This tends to believe that the absolute max is 4 x 100 == 400 TBs.

Can you make a clarification on the documentation that the limit is both at the Instance level and the database, for storage?

[2019-09-18 18:46] Karishma-Tiwari-MSFT commented on #39091
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-18 18:46] MicahMcKittrick-MSFT commented on #38947
@MikeInSwitzerland are you running this off a companies corpnet by chance? There might be a firewall issue blocking the connection. If that is the case, I suggest trying while connected to a different network to see if it works.

[2019-09-18 18:47] Karishma-Tiwari-MSFT commented on #39065
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-18 18:47] #39065 closed

[2019-09-18 18:47] Karishma-Tiwari-MSFT commented on #39067
@carlosMedrano27 Any update?

[2019-09-18 18:48] VanMSFT commented on #39126
@rohitnayakmsft - FYI

[2019-09-18 18:48] MicahMcKittrick-MSFT commented on #39066
In the doc, we do have a tip that calls out the following:

Would you be able to try this out and see if you can get it working?

[2019-09-18 18:48] Karishma-Tiwari-MSFT commented on #39068
@colinweiner Please share the doc link so that we can direct it to the right team.

[2019-09-18 18:49] MicahMcKittrick-MSFT commented on #39104
@alxayo thanks for bringing this up.

I agree with @jakaruna-MSFT that since it is documented we don't want to make any changes to this doc. Also, since you commented on this document any user that comes to this doc will be able to see your comment and determine the work around.

So at this point in time I am going to close this out and not do any doc updates. However if this turns into a long ter

[2019-09-18 18:49] #39104 closed

[2019-09-18 18:51] TravisCragg-MSFT commented on #39128
@ToruMakabe You can find the [specifications for supported certificates Here](https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#certificates-supported-for-ssl-termination). I was not able to find information directly about v3 SAN, but both Self-Signed and Wildcart certificates are supported.

[Multi-SAN certificates](https://feedback.azure.com/forums/217313-networking/suggest

[2019-09-18 18:52] MicahMcKittrick-MSFT commented on #39125
@jambt good find! I have modified the sentence. Once the PR merges the changes will go live after a few hours.

[2019-09-18 18:52] #39125 closed

[2019-09-18 18:52] MikeInSwitzerland commented on #38947
Nope, running it at home, on my personal laptop, with my own Azure subscription.

[2019-09-18 18:53] dops0 commented on #39066
Not sure, because we would like to try using multiple GPU instances over an RDMA connection and we'd like to use the latest version of CUDA as well. I'll be trying to install the CUDA drivers with the run file instead of the dkms method and see if it behaves differently. Something causes the RDMA drivers to break down when CUDA is installed by the DKMS method.

[2019-09-18 18:54] TravisCragg-MSFT commented on #38900
@woutervanranst absolutely. I apologize for the confusion that this has caused.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-18 18:57] mmacy commented on #38447
@maviso5 Although sign-up and sign-in currently work, I did discover that sign-out was broken, and as you noted, the to-do list is also broken when not using the default `fabrikamb2c` tenant in the sample. I'm addressing both in with these PRs:

* https://github.com/MicrosoftDocs/azure-docs-pr/pull/88984
* https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/pull/60

I'll

[2019-09-18 19:00] eustacea commented on #31138
Hello,
This refers to the "CN" name field.
Thanks,
Eustace

[2019-09-18 19:01] MicahMcKittrick-MSFT commented on #38947
Got it. I will run through the doc and see if it works for me. Will update shortly.

[2019-09-18 19:04] MicahMcKittrick-MSFT commented on #39139
@leelo7 The script ran for me without any errors. At first I forgot to change the -Windows to -Linux as I was using Linux Vms but all in all the script ran and finished within a few mins.

So no doc changes are needed at this time.

As per taking a backup, that is not needed as we are not deleting any disks. Just the VM itself.

[2019-09-18 19:04] #39139 closed

[2019-09-18 19:06] MicahMcKittrick-MSFT commented on #39066
Got it. That makes sense :)

I will play around and see what I can repro as well.

[2019-09-18 19:10] thejrack commented on #38807
Add me to the pile as this exact question came up last week.  Maybe @rohinkoul may also have some ideas?

[2019-09-18 19:11] MicahMcKittrick-MSFT commented on #38807
Thanks @thejrack I also have a thread offline regarding this so we are working towards an answer :)

[2019-09-18 19:12] Bafff commented on #32911
Any news about the issue?

How can I join https://www.yammer.com/azureadvisors/#/threads/show?threadId=183025779269632 thread?

[2019-09-18 19:18] mco100 opened #39149 "price infos missing"
Hi,
could you give pricing details of auto-failover group compared to active geo-replication for Azure SQL databases ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-ef32-8ee13ccbf8fa
* Content: [Failover groups - Azure SQL Database](http

[2019-09-18 19:20] MicahMcKittrick-MSFT commented on #39106
@iracding at the beginning of the doc we call out the supported OS's

Ubuntu 16.04 (Xenial Xerus)
Red Hat Enterprise Linux 7.4 (Service Fabric preview support)

Cent OS is not technically supported. You might be able to get it to work but it is not something we have tested or tried so we have no guides on it.

If you want to see Cent OS support you can file a feedback request here:

https://feedba

[2019-09-18 19:20] #39106 closed

[2019-09-18 19:24] MicahMcKittrick-MSFT commented on #35889
@laurenhughes @cynthn would either of you know regarding vTPM?

[2019-09-18 19:30] bandersmsft commented on #39049
@CeciAc I've upated the article for the clairty that the user wanted with https://github.com/MicrosoftDocs/azure-docs-pr/pull/88990
#please-close

[2019-09-18 19:30] #39049 closed

[2019-09-18 19:34] dcurwin commented on #38800
@csharmath

When the browser window is narrow, the tables don't render as well. It is recommended in general to view the page as a full window.

That said, I combined two of the columns to one in order to give more space for the column on the right. I hope this helps your viewing experience.

[2019-09-18 19:35] tushar-kesare opened #39151 "What happens if data for a partition key exceed 10GB?"
Hi, Will Cosmos DB throw exception if data for a partition key (logical partition) exceeds 10 GB? Or will it start storing it across multiple physical partitions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f6d2e-f852-45ce-c205-ee4038d5ecd1
* Version Independent ID: e45b7f29-4d75-0dda-0f13-38b644213840
* Content:

[2019-09-18 19:35] pfista opened #39152 "Verification Failure"
Please provide documentation about how to address the following error during verification:

[code]

What is the expected content type header that should be returned? Can you instead relax this requirement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61edea45-b5d6-05b3-33c3-2265ef8cb309
* Version Independent ID: c7d5

[2019-09-18 19:37] laurenhughes commented on #35889
@dcbrown16, vTPM is not currently supported. Apologies for the confusion! Please feel free to comment again if you have any additional questions.

#please-close

[2019-09-18 19:37] #35889 closed

[2019-09-18 19:45] CHDAFNI-MSFT opened #39153 "ER Direct circuit SKUs conflict w/ Pricing page"
Conflict in ER Direct circuit SKUs between the ER Pricing (https://azure.microsoft.com/en-us/pricing/details/expressroute/) and this page.
The ER Pricing page previously stipulated which ER Direct circuits were only applicable to the 100Gbps versus 10Gbps. That has now been removed which gives the impression the ER Direct circuit SKUs now applies evenly to 100Gbps. (example: I can now build 2Gbps

[2019-09-18 19:45] JnHs commented on #38594
I'm going to close this issue now - I hope you were able to resolve the issue. Please let us know if you have other questions about the documentation. #please-close

[2019-09-18 19:45] #38594 closed

[2019-09-18 19:46] MicahMcKittrick-MSFT commented on #38947
Ah okay try this

`az acr build --image mikeswebapi/firstattempt:v1 --registry mikeswebapi12345678 --file Dockerfile .
`

[2019-09-18 19:46] Mike-Ubezzi-MSFT commented on #39098
@aayush3667 Thank you for your inquiry. Both the PITR and Longterm Backups are controlled by the Azure SQL Database service and are not accessible outside the Azure SQL Server instance these backups are associated with. The only way to make a database backup accessible is to perform an export of the database. This .bacpac file will be written to a storage account where the backup file is accessibl

[2019-09-18 19:50] jaredr80 commented on #39153
The doc is correct. Pricing page represents both 10 & 100G pricing, but the above supported SKUs are correct.

[2019-09-18 19:50] jaredr80 commented on #39153
#please-close

[2019-09-18 19:50] #39153 closed

[2019-09-18 19:56] MicahMcKittrick-MSFT commented on #39066
@cynthn do you know the contact for the N series VMs? I was going to try a repro of this but my subscription won't support the NCr instances.

[2019-09-18 20:04] FrankHu-MSFT commented on #38978
Hey @milazzom you're correct, we're currently making this change thanks for letting us know about this!

As we're making the change, we'll be closing out this issue by end of day tomorrow. Please let us know if you have anymore questions in regards to this issue.

[2019-09-18 20:07] hannesne commented on #39096
Thanks that got me on the right track. If we made FunctionsHostBuilder a public class, then we could just instantiate one in the unittest. I'm now creating a Mock of IFunctionsHostBuilder and giving it a concrete ServiceCollection, as in the post. Here's the code I'm using:

[code]

I'm also using the FluentAssertions and Moq nuget packages.

[2019-09-18 20:08] celsoglima opened #39154 "Multiple Entity IDs and ACS/Reply URLs"
Have you guys had a chance to gather some more information on the use of multiple Entity IDs and ACS/Reply URLs? I am also interested in some additional information on that topic.

After seeing @MarileeTurscak-MSFT comments and even some of her videos on YouTube, I do see the case for multiple entity IDs to serve a production, staging/test and/or development environments, for example. However, I a

[2019-09-18 20:10] hannesne commented on #39096
The code is in my github here: https://github.com/hannesne/FunctionsExternalProcessSample

[2019-09-18 20:12] markjbrown commented on #39144
You do not have to do it in application code. This article does not include an example of how to do this via ARM template, CLI or PS. Please see examples for that below. We are planning a docs refresh which will include pointers to this. --thanks.

PowerShell:
https://docs.microsoft.com/en-us/azure/cosmos-db/manage-with-powershell#create-container-unique-key-ttl

CLI:
https://docs.microsoft.com/en

[2019-09-18 20:12] #39144 closed

[2019-09-18 20:14] AndyWu7623 opened #39155 "Be more clear with the authorized IP ranges"
In the section "Enable authorized IP ranges" that provide the example but didn't explain what are the IP range 172.0.0.0/16,168.10.0.0/18 for. This seems to be the Subnet Range and the Service IP range.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8

[2019-09-18 20:18] rayfmorris commented on #39145
You are welcome. Another page that has this is https://docs.microsoft.com/en-us/azure/azure-functions/tutorial-vs-code-serverless-python#add-a-binding-to-write-messages-to-azure-storage. See step #5. This item has to do with extension bundles as well. Maybe there is a correlation.

[2019-09-18 20:26] jacksturtevant opened #39156 "Body Tracking SDK number of bodies able to track simultaneously"
I cannot find any information about how many bodies can be tracked by the Body Tracking SDK at once. I am looking to use this for a robotics system which requires tracking the pose of 6+ bodies at once, and I wanted to know if the Azure Kinect has this ability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03f0517-f6

[2019-09-18 20:41] Karishma-Tiwari-MSFT commented on #39155
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-18 21:09] jkochhar commented on #38623
Can you share the json config you used - just the section how you set the *CertificateIssuerStores

[2019-09-18 21:16] dlepow commented on #38947
@MikeInSwitzerland - Just adding to @MicahMcKittrick-MSFT 's suggestions. The above `az acr build` command looks like the correct syntax to build and push an image to ACR. But if I understand correctly, you've already built and published the image to ACR using other tools, and you now want to run a container using the image?

For a simple container you want to validate, you can use the `az acr run

[2019-09-18 21:16] FrankHu-MSFT commented on #38884
Hey @ryandle i'm following up on this issue.
As OID is a GUID, they cannot be reused.

I will go ahead and put this in the docs as well. Thanks for letting us know about this. That being said, I will be closing this issue by end of day tomorrow. Please let us know if you have anymore questions in regards to this issue.

Thanks,
- Frank Hu

[2019-09-18 21:22] huyngo81 opened #39158 "should mention about two different command in ReadTwitterFromEventHub"
Hi team,

 For the first try, I combine two block code of ReadTwitterFromEventHub into one and run, then only binary block tweet display. Then, I separate two blockcode of ReadTwitterFromEventHub into two different cmd. Then run each of them. Finally, I got it worked.
Thanks for excellence tutorial!
Huy,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-18 21:24] cactusbash commented on #34827
@ryanps1 I confirm that I am facing the same issue. Now if only I can find the default query that Query Editor provides, I would be able to work around this annoyance.

If anyone knows the default Query for searching logged events on SQL, please share!

[2019-09-18 21:26] nberdy commented on #36883
Thanks for the feedback, I've submitted a PR to update the definition.

[2019-09-18 21:26] nberdy commented on #36883
#please-close

[2019-09-18 21:26] #36883 closed

[2019-09-18 21:31] chappedhide opened #39159 "90037 Not Documented"
We are receiving 90037 when trying to authenticate user via custom policy. Use renters correct email and password, but authentication fails with:
server_error
AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-18 21:31] msangapu-msft commented on #7505
Hi team, this doc is outdated and unsupported. It will be deleted soon. Please visit https://github.com/Azure/azure-sdk-for-php for SDK details.

[2019-09-18 21:36] ohwellwhatever opened #39160 "OWASP 3.1 now supported"
doc should be updated to reflect this, including upgrade steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d1f0bd-9465-c7d8-1006-32e050a2419d
* Version Independent ID: 0d3bd3f8-6759-02ea-4a30-fc7b40f2c30e
* Content: [Introduction to web application firewall for Azure Application Gateway](https://docs.microsoft.com

[2019-09-18 21:37] Karishma-Tiwari-MSFT commented on #38985
Is there any update? Please let me know.

[2019-09-18 21:43] sladeedmonds commented on #38985
Hi Karishma, I am working through it on a sandbox cluster.  I have run in to several issues getting the service deployed, but give me another day or two to complete my testing please.

[2019-09-18 21:46] KranthiPakala-MSFT commented on #39158
@huyngo81 Thanks for the feedback. Could you please elaborate more if you have faced any issue while following the document? Also please confirm if no action is required, so that we will close this issue.

[2019-09-18 21:49] #38447 closed

[2019-09-18 21:50] mayurpuli opened #39162 "Do Metrics get erased if the Azure Sql DB is moved to another group?"
I am working with a customer, who normally runs powershell scripts to get the DTU's used for each DB by querying the metrics. He usually sends this information to their client each month. They recently moved the DB's to a new Resource Group, and now they are not seeing any of the old Metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-09-18 21:53] mmacy commented on #38447
@maviso5 The doc update has been merged, thus this issue was automatically closed. If you feel it needs to remain open, please feel free to reopen it. I'll update here when the [code sample PR](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/pull/60) has been merged, at which point the docs and the sample will be sync'ed. Thanks. -MM

[2019-09-18 21:54] djpmsft commented on #39079
@deepikabandhanadham after discussing with the engineering team it looks like Github is not supported in an ADF Gov environment. Apologies for the inconvenience and I will update the docs. We will also make this behavior clear from the UX.

#please-close

[2019-09-18 21:54] #39079 closed

[2019-09-18 21:56] thed0ctor opened #39163 "Where is a list of the voices bitrate?"
In the second note it says:

If your selected voice and output format have different bit rates, the audio is resampled as necessary. However, 24 kHz voices do not support audio-16khz-16kbps-mono-siren and riff-16khz-16kbps-mono-siren output formats.

I checked here https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support and searched around and couldn't find where

[2019-09-18 22:00] SaurabhSharma-MSFT commented on #39038
@AnatolN Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-18 22:00] SaurabhSharma-MSFT commented on #38944
@aagamdoshi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-18 22:00] #38944 closed

[2019-09-18 22:06] Karishma-Tiwari-MSFT commented on #38985
Sure, let me know.
Also, try restarting one node for the issue you shared above and see if it resolves.

[2019-09-18 22:08] femsulu commented on #39103
Thanks for the Comment. We are actively investigating and will get back to you soon.
@snehaamicrosoft  - any input here?

[2019-09-18 22:10] SaurabhSharma-MSFT commented on #39053
@A9G-Data-Droid No, Hardware OAuth tokens for MFA is not available for Government Cloud. It is currently available for Public cloud only.

[2019-09-18 22:18] A9G-Data-Droid commented on #39053
Thanks for your response! Not the one I was looking for but it's what I need to know. What about FIDO2 keys? Can we use FIDO2 keys as an MFA token?

[2019-09-18 22:22] SaurabhSharma-MSFT commented on #39113
@RobertoBorges The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-09-18 22:22] #39113 closed

[2019-09-18 22:27] iizotov opened #39164 "Standard_DS15_v2?"
hey folks, this [doc](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/allocation-failure#allocation-failures-for-older-vm-sizes-av1-dv1-dsv1-d15v2-ds15v2-etc) also lists D15v2, DS15v2 as 'legacy SKUs'. Can we sync or merge these two: [doc1](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-previous-gen) and [doc2](https://docs.microsoft.com/en-us/azure/v

[2019-09-18 22:27] fiksen99 opened #39165 ""Create CSV table action" section doesn't indicate how to build "Custom" columns"
When using the CSV table action, we have a customer who needs to modify the columns - adding extra constant values and modifying the headers. To do this for each item in the "From" input array, I found a hint at the bottom of [this](https://social.msdn.microsoft.com/Forums/azure/en-US/7eba304f-a896-4bc7-90a0-46ed3203e270/create-csv-table-quotinclude-headersquot-property-not-being-used?forum=azurel

[2019-09-18 22:28] FrankHu-MSFT commented on #38625
Hey @starkcaptain apologies for the delay, unfortunately it's only possible to get the object ids as of right now. This may be implemented in the future, however in order to get the group names you will need to have some sort of service that makes calls to the Microsoft graph utilizing the ID.

If you're interested in this feature please upvote here, and if there's enough community support it will

[2019-09-18 22:32] deepikabandhanadham commented on #39079
@djpmsft how about Azure DevOps Git. Is this supported for Azure Government? I see the same problem Azure DevOps Git as well

[2019-09-18 22:33] deepikabandhanadham commented on #39079
When will the Github integration be available in Azure Government?

[2019-09-18 22:41] hpsin commented on #38545
Are you accepting access tokens or id_tokens when you say "then match the iss claim in incoming tokens to issuer statements in OIDC metadata,"?  I'm expecting access tokens.  We have a bifurcated system - access tokens are always issued based on the issuer and token version that the resource (your gateway) has requested.  The id_tokens are based on the endpoint the client used to get the access to

[2019-09-18 22:53] nibaccam commented on #38471
@JoeBT and @lostmygithubaccount the docs have been updated with the following definition.
_In the context of machine learning, data drift is the change in model input data that leads to model performance degredation_

The update should be live later today. If satisfied #please-close this issue.

[2019-09-18 22:53] #38471 closed

[2019-09-18 22:55] djpmsft commented on #39079
Azure DevOps Git is not supported either in Azure Government. This is on our roadmap but we currently do not have an ETA for this feature

[2019-09-18 22:57] Karishma-Tiwari-MSFT commented on #39073
This doc you shared has the complete template reference for extensions:
https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-03-01/virtualmachines/extensions
Please use that as reference template.

[2019-09-18 22:58] omerzubair commented on #39093
Thanks
https://feedback.azure.com/forums/246290-automation/suggestions/10344615-ability-to-rerun-a-job-with-same-parameters-of-the

[2019-09-18 22:58] #39093 closed

[2019-09-18 23:00] omerzubair commented on #38836
This is the error since removing uninstall-azurerm

[INFO] Logging in to Azure.... RunBook Job ID:[---]AzureAPPID:[---] in TenantId:[---], Sub ID[---]. Errors:[] Exception:[System.Management.Automation.CommandNotFoundException: The 'Connect-AzAccount' command was found in the module 'Az.Accounts', but the module could not be loaded. For more information, run 'Import-Module Az.Accounts'. ---> Syste

[2019-09-18 23:01] KranthiPakala-MSFT commented on #39138
@chunla-ms "Import Schema" feature is a UX only gesture.

I would recommend you to please share/provide your feedback in [ADF uservoice forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitored by the Data Factory Product team and will take appropriate action.

Hope this helps.

We will now proceed to close this thread. If there are further qu

[2019-09-18 23:01] #39138 closed

[2019-09-18 23:02] dcbrown16 commented on #35889
Thanks!

[2019-09-18 23:07] KranthiPakala-MSFT commented on #39138
@chunla-ms Just curious to know what is your scenario to have this feature available in SDK/Powershell?

Could you please provide additional info about your requirement, so that I can pass to the internal engineering team.
Thank you!

[2019-09-18 23:11] chunla-ms commented on #39138
I'm team is building a table level backup system, would be great if this feature could be done using the SDK so I don't have to iterate columns.

We have a lot of tables newly generated everyday and with a lot of sql server instance so I want this to be done dynamically

[2019-09-18 23:14] Karishma-Tiwari-MSFT commented on #39164
DS series and D series are mentioned here in the document:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-previous-gen#d-series---memory-optimized
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-previous-gen#ds-series

[2019-09-18 23:15] deepikabandhanadham opened #39170 "Azure SQL DB Linked Service with Authentication type as Managed Identity fails for Stored Procedure Activity"
I created a Azure SQL DB linked service with Authentication type as Managed Identity. connectivity works fine when loading data to DB using Copy Activity. Lookup Activity also works fine. However, same linked service when used for a Stored Procedure activity gives error

{
    "errorCode": "2402",
    "message": "Execution fail against sql server. Sql error number: 18456. Error Message: Login fail

[2019-09-18 23:21] iizotov commented on #39164
It mentions Dv1/DSv1, but doesn't mention Dv2/DSv2 and partucularly D15v2/DS15v2

[2019-09-18 23:22] KranthiPakala-MSFT commented on #39138
Thank you for sharing the details. I will pass this info internally.

Meanwhile please post your suggestion/idea in ADF feedback forum.

[2019-09-18 23:33] MarileeTurscak-MSFT commented on #39154
@celsoglima hey, thanks for the feedback and for finding my videos. :)

Are you looking mainly for documentation on adding multiple ACS reply urls?

[2019-09-18 23:40] MicahMcKittrick-MSFT commented on #38349
@slime-uk we have some offline conversations happening to get the answer for you. Will update as soon as we have more information.

[2019-09-18 23:40] Alberto-Vega-MSFT commented on #32273
Thanks for your feedback @sahya

[2019-09-18 23:45] frehnejc commented on #39087
I tested this and it seems anyone with an AD Account in the tenant is able to create a management group under the root tenant management group.

[2019-09-19 00:02] Mike-Ubezzi-MSFT commented on #7990
Which version of the Emulator are you running? I currently have v.2.1.3 installed.

![Screenshot (261)](https://user-images.githubusercontent.com/37126106/65196933-06e0dd80-da36-11e9-8fb7-663bb012fb05.png)

![Screenshot (262)](https://user-images.githubusercontent.com/37126106/65196934-0c3e2800-da36-11e9-87c7-1bdd02139f94.png)

[2019-09-19 00:02] kobulloc-MSFT commented on #39142
@cijothomas Thank you very much for pointing this out.  I'll assign this to the author so they can update our documentation.

[2019-09-19 00:04] huyngo81 commented on #39158
I think I'm not familiar with scala then facing minor issue like abive. No action require, close ussue.

Thanks,
Huy

[2019-09-19 00:04] #39158 closed

[2019-09-19 00:06] KranthiPakala-MSFT commented on #39158
@huyngo81 Thanks for confirming!

[2019-09-19 00:16] Alberto-Vega-MSFT commented on #39156
@jacksturtevant Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-19 00:27] cactusbash commented on #34827
If anyone else was looking;

`SELECT TOP 100 event_time, server_instance_name, database_name, server_principal_name, client_ip, statement, succeeded, action_id, class_type, additional_information
FROM sys.fn_get_audit_file('https://xxx.blob.core.windows.net/xxx/xxx/xxx/2019-09-19/00_02_05_012_150.xel', default, default)
WHERE (event_time <= '2019-09-19T00:24:49.586Z')
/* additional WHERE clause co

[2019-09-19 00:29] cactusbash commented on #34827
If anyone else was looking;

`SELECT TOP 100 event_time, server_instance_name, database_name, server_principal_name, client_ip, statement, succeeded, action_id, class_type, additional_information
FROM sys.fn_get_audit_file('https://xxx.blob.core.windows.net/xxx/xxx/xxx/2019-09-19/xxx.xel', default, default)
WHERE (event_time <= '2019-09-19T00:00:49.586Z')
/* additional WHERE clause conditions/filt

[2019-09-19 00:29] Karishma-Tiwari-MSFT commented on #39164
Thanks @iizotov for sharing the details. Can you please point me to Dv1/DSv1 in the document. I will assign it to the author for the updates.

[2019-09-19 00:32] mayurpuli opened #39171 "Do Metrics get erased if the Azure Sql DB is moved to another group?"
I am working with a customer, who normally runs powershell scripts to get the DTU's used for each DB by querying the metrics. He usually sends this information to their client each month. They recently moved the DB's to a new Resource Group, and now they are not seeing any of the old Metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-09-19 00:40] Karishma-Tiwari-MSFT commented on #39057
For production workloads it is best practice to use ARM templates to manage just about every aspect of your cluster. You can do some of the upgrades via Azure portal as well as ARM. Portal is for Service Fabric Dev\Test scenario's only.
Please refer to the following documents which talk more about the upgrades. Let me know if you have any questions.
https://docs.microsoft.com/en-us/azure/service-f

[2019-09-19 00:49] tamram commented on #36260
@terziyski - Thanks for following up. Given that we need to follow a convention, we also expect that users will have to adapt the examples in order to be able to run them in a different environment. Unfortunately we can't create different examples for every environment.

To run them as written, the best option is to use Bash in CloudShell. That's where we're testing them to make sure they work.

#

[2019-09-19 00:49] #36260 closed

[2019-09-19 00:52] jalyzwa opened #39172 "Limit type clarification"
Could you please clarify whether the above-listed limits are default or maximum limits so that we know whether they can be increased if need be? For consistency with other service resource limit documents (eg VMs, storage accounts, etc), it would be great to have a column for both default and maximum limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-09-19 00:53] cawrites commented on #39159
@chappedhide we appreciate your input; we're constantly working on ways to improve our content. We understand the need to have relevant information regarding error codes. Our team is aware this is a priority and we have noted your request. As we update the content we will take your suggestions into consideration. In regards to the error please view https://social.msdn.microsoft.com/Forums/b1f20a75

[2019-09-19 01:14] morgangrobin commented on #38607
@cijothomas can you help here?

[2019-09-19 01:22] NavtejSaini-MSFT commented on #39147
@DarinMacRae We are looking into this and will get back to you.

[2019-09-19 01:25] craigshoemaker commented on #38907
@diberry - can you elaborate a bit more, please? Are you saying that there should be a link to the [NCRONTAB expressions](https://docs.microsoft.com/azure/azure-functions/functions-bindings-timer#ncrontab-expressions)? If so, where do you suggest would be the best place to put it?

[2019-09-19 01:26] NavtejSaini-MSFT commented on #22660
@oscarzamora This is an old issue. I would advise you to create a new thread for your question. This will help us to track and work on it in a better way.

[2019-09-19 01:28] NavtejSaini-MSFT commented on #39149
@mco100 We are checking this and will get back to you regarding the same.

[2019-09-19 01:29] NavtejSaini-MSFT commented on #39151
@tushar-kesare We are looking into this and will get back to you regarding the same.

[2019-09-19 01:30] sasanmcp commented on #39073
Right but this is the generic reference. I want the one specific to CustomScriptExtension.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Wednesday, September 18, 2019 3:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] is this the complete ref

[2019-09-19 01:32] NavtejSaini-MSFT commented on #39162
@mayurpuli We are looking into this and will get back to you regarding the same.

[2019-09-19 01:33] diberry commented on #38907
The step of creating the timer trigger doens't mention the cron expression (did I miss it in the text?) I was thinking just an explanation that the default is set to 5 minutes and what the expression looks like in backticks. If you've already tried this and ripped it out as too confusing, leave it as is.

[2019-09-19 01:41] dragav commented on #38843
The system-assigned identity is an extension of the resource it is assigned to, in this form:
'<subscription>/<resource group>/<resource provider>/<resource type>/<resource name>/providers/Microsoft.ManagedIdentity/Identities/default'.

As an example, you would declare the resource id of the system-assigned identity like so (update for your resource type):
"variables": {
		"sfAppSystemAssignedIden

[2019-09-19 01:43] dragav commented on #38843
(looks like my text got truncated) The first line should read:
'/subscriptions/{subscription}
/subscriptions/{subscription id}/resourcegroups/{resource group name}/providers/{provide name}/{resource type}/{resource name}/providers/Microsoft.ManagedIdentity/Identities/default'.

[2019-09-19 01:46] dcbrown16 opened #39175 "Average Response Time units"
The metrics documentation (below) and the portal UI claim that the units for Average Response Time are seconds, while this page says milliseconds. Which is correct?
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftwebsites-excluding-functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-09-19 02:18] WenJason commented on #38931
Thanks for your reply. My input video is a .mp4 video, and I used the "H264 Progresssive Download MP4.workflow" to encode it. Then, I got the error message "File type or codec not supported."

[2019-09-19 02:41] DixitArora-MSFT commented on #39165
Hi @fiksen99 Thanks for your feedback. We will review and update as appropriate.

[2019-09-19 02:57] mandiaya commented on #38042
Hi @neeleshray-msft
Could you please confirm that this Add-on will compatible with jira version 7.13.8?  Since 7.13.8 is recently release at 9.14. This is a new version.

[2019-09-19 03:41] msvijayn commented on #38902
Yes, the name will remain same.
@ananthradhakrishnan - for any more details on Unified Alert Schema

[2019-09-19 03:44] dcurwin commented on #38800
#please-close

[2019-09-19 03:44] #38800 closed

[2019-09-19 03:47] SnehaAgrawal-MSFT commented on #39175
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-19 03:57] malopMSFT commented on #38900
As per our understanding of the design of the Service Tag GatewayManager is covering Application Gateway also.

Needs a follow up discussion with AppGateway team for clarification, we cannot remove the reference without the confirmation.

@jispar FYI

[2019-09-19 04:09] Sashwat opened #39177 "Which regions is ApplicationInsights available?"
Which regions is App Insights available?  I can't find this information anywhere, found this link but there's no app insights in there https://azure.microsoft.com/en-us/global-infrastructure/services/

I am trying to create Microsoft.Insights/components resource through ARM template in Australia central region but haven't succeeded at that

---
#### Document Details

⚠ *Do not edit this section. I

[2019-09-19 04:14] SwathiDhanwada-MSFT commented on #39087
Users with below access will be able to create management groups. Kindly verify if the users have necessary access to create management groups.

![image](https://user-images.githubusercontent.com/48976275/65212984-f8400800-dac1-11e9-8c93-a603110f88cd.png)

For more information, refer [this](https://docs.microsoft.com/en-us/azure/governance/management-groups/#management-group-access) article.

[2019-09-19 04:19] frehnejc commented on #39087
Please see my other related issue raised at [https://github.com/MicrosoftDocs/azure-docs/issues/39088#issuecomment-532758047](url)

[2019-09-19 04:20] KetanChawda-MSFT commented on #39096
@hannesne Thank you for the confirmation and sharing your sample, it will help other in the community.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-19 04:20] #39096 closed

[2019-09-19 04:20] csharmath commented on #38800
Thanks

[2019-09-19 04:23] SwathiDhanwada-MSFT commented on #39118
@artisticcheese Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-19 04:24] SwathiDhanwada-MSFT commented on #39135
@AicyDC Thanks for the feedback.

Thanks @ducrwin for quick response.

[2019-09-19 04:25] KrishnaG-MSFT commented on #39108
@MiroslavVanicky Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-19 04:26] KrishnaG-MSFT commented on #39171
@mayurpuli Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-19 04:27] SnehaAgrawal-MSFT commented on #39122
@test123114 Thanks again for asking question! You can use the following PowerShell command to upload an exported PFX file and add an SNI-based SSL binding.

New-AzWebAppSSLBinding `
-WebAppName <app_name> `
-ResourceGroupName <resource_group_name> `
-Name <dns_name> `
 -CertificateFilePath <path_to_PFX_file> `
 -CertificatePassword <PFX_password> `
-SslState SniEnabled

Reference:
https://docs.mic

[2019-09-19 04:30] RohitMungi-MSFT commented on #39163
@thed0ctor Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-19 04:32] neeleshray-msft commented on #39152
@pfista  Thank you for your query. We will check and update the thread accordingly.

[2019-09-19 04:36] guizi1991 commented on #39102
localrun.ScriptPath = @"C:\Users\v-donl\source\repos\Script\Script.usql";

Script.usql  document content :
DECLARE @in  string = "test.csv";
DECLARE @out string = "/output/SearchLog-scalar-variables.csv";
DECLARE @filename = "SearchLog";
DECLARE @DeptID bool = false;

@searchlog =
    EXTRACT UserId          int,
            Start           DateTime,
            Region          string,

[2019-09-19 04:37] guizi1991 commented on #39102
1.I did not capture any exception information；
2. U-SQL scripts are not being run

[2019-09-19 04:41] sanjaybhagia opened #39178 "The test function endpoint is always returning 200"
The function end-point used in the policy above is always returning 200 OK no matter what you pass in givenName:
https://wingtipb2cfuncs.azurewebsites.net/api/CheckPlayerTagWebHook?code=L/05YRSpojU0nECzM4Tp3LjBiA2ZGh3kTwwp1OVV7m0SelnvlRVLCg==

Even though the source code says that it should return 409 in case any of the test names are passed but the outcome doesn't seem to be the same. I tested th

[2019-09-19 04:41] dcbrown16 opened #39179 "Standard ipv6"
"If you selected the Standard SKU, you do not have the option to select IPv6. You can only create an IPv4 address when using the Standard SKU."
This appears to be outdated? See image.
![image](https://user-images.githubusercontent.com/34466884/65214012-2a6b4e80-da5d-11e9-82f1-d0832eb5b86b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-09-19 04:50] dcbrown16 commented on #39179
I think I identified the issue - it must be referring to the SKU of the Load Balancer, not the IP address itself (even though this is the IP address page). PR on #39180.

[2019-09-19 04:50] #39179 closed

[2019-09-19 05:03] MikeInSwitzerland opened #39182 "Really poor implementation on Azure...."
This is one area where Azure really sucks.  So, I created a Web API, deployed it as a Docker image which appears in Azure as a Container Registry.  Azure KNOWs it's a Windows / AMD64 resource, but "Run instance" suggests running it as a Linux container.  And when things go wrong, you show a rubbish generic error:

"Deployment to resource group 'DockerDeleteMe' failed. Additional details from the u

[2019-09-19 05:04] msrini-MSFT commented on #39160
@ohwellwhatever , Thank you for your feedback. This doc update has been scheduled at the end of this month.

Reference: https://github.com/MicrosoftDocs/azure-docs/issues/38279

[2019-09-19 05:04] #39160 closed

[2019-09-19 05:22] #39098 closed

[2019-09-19 05:27] AshokPeddakotla-MSFT commented on #38897
Since this needs investigation and you will be working with support engineer, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.
Once you receive resolution from the support team, please post the resolution here for future reference.

[2019-09-19 05:27] #38897 closed

[2019-09-19 05:28] ananthradhakrishnan commented on #38902
The common schema does not _honour_ the custom JSON option. It defers to the common schema payload if that is selected irrespective of the customization you might have done at the alert rule level.
Referencing note from documentation: https://docs.microsoft.com/azure/azure-monitor/platform/alerts-common-schema-definitions#alert-context

"For log alerts that have a custom JSON payload defined, enab

[2019-09-19 05:29] SwathiDhanwada-MSFT commented on #38836
We recommend engaging our technical support team to investigate further.Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.com, include your subscription ID and a link to this GitHub thread (for context)

[2019-09-19 05:32] mikkark commented on #38643
I tested the max message size by sending messages to a Standard level Event Hubs. If I send a message which is over 1MB I get the exact same error that CeciAc got from a Basic level Event Hubs ("outgoing message" and "327680"). If I reduce the size to just under 1MB I don't get that error anymore.

So my theory is that the documentation is correct (message max size 1MB for both Basic and Standard)

[2019-09-19 05:36] VikasPullagura-MSFT commented on #39021
@johnneycao I have assigned the issue who looks into document localization. This will be addressed soon.

@ishasahni1 Please check the issue and add your comments.

[2019-09-19 05:40] msrini-MSFT commented on #39001
@joedev-big , Did you get a chance to test the above recommendation ?

[2019-09-19 05:50] souravmishra-msft commented on #38914
@aspnet4you , Thank you for sharing the query. Whitelisting the IPs is not an efficient way, but its definitely a workaround. We are working with the Product team to get Azure Dev Ops as a Trusted service for Azure Key Vault and that would be a complete fix in all terms. Do allow us sometime and I will share my next updates with you.

[2019-09-19 05:52] #39100 closed

[2019-09-19 05:57] vinothrao commented on #33656
Yes. With 1.0.0 it worked. Thanks !

[2019-09-19 06:00] AjayKumar-MSFT commented on #38628
@jewpaltz, Since we will work with you offline, we will now proceed to close this thread in anticipation for your email.

[2019-09-19 06:00] #38628 closed

[2019-09-19 06:00] ChiragMishra-MSFT commented on #39013
I suspect that you see the error when you try to execute ConcurrentAppend multiple times on the same file.
In that case, can you please try out executing just one instance of ConcurrentAppend and seeing if you still see the error?

[2019-09-19 06:02] KrishnaG-MSFT commented on #39153
@jaredr80 Thanks for the quick validation and response. 👍

[2019-09-19 06:03] pvrk commented on #39135
@AicyDC : Can you please mention which PS version are you using? I tried to reproduce but couldn't and this is with the version 2.6.0. I am not aware of any issues in the previous version but having the latest version always helps. Also, can you expand the vault variable? "$RecoveryVaultName | fl"

[2019-09-19 06:04] btmore commented on #38801
@PramodValavala-MSFT yes your previous comment cleared things up. I will close the issue. Thank you.

[2019-09-19 06:04] #38801 closed

[2019-09-19 06:04] KrishnaG-MSFT commented on #39179
@dcbrown16 Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-19 06:05] ChiragMishra-MSFT commented on #39013
@test123114 Since you are using ConcurrentAppend in a for loop, it's trying to run it multiple times. Since it's a synchronous function, you are seeing the error.

Replacing the function with [ConcurrentAppendAsync ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datalake.store.filesystemoperationsextensions.concurrentappendasync?view=azure-dotnet) should get rid of this pr

[2019-09-19 06:07] CHEEKATLAPRADEEP-MSFT commented on #39172
@jalyzwa  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-09-19 06:09] Grace-MacJones-MSFT commented on #38964
@jay-amd do you have any updates for us on this issue?

[2019-09-19 06:13] nabhishek commented on #35767
@qetza @sebcruz @CundyTech We are tracking the databricks API intermittent failure issue [here](https://forums.databricks.com/questions/18473/databricks-activities-from-adf-throwing-intermitte.html).
Databricks team is actively working on improving transient API failures to resolve this.

[2019-09-19 06:13] nabhishek commented on #35767
#please-close

[2019-09-19 06:13] #35767 closed

[2019-09-19 06:14] test123114 commented on #39122
Hi. I know I can do that. Now, I only want to know how to upload a certificate with Powershell. If I use the command "New-AzWebAppSSLBinding", I will upload the cert and bind ssl to one web app, but I just want to upload a certificate.

[2019-09-19 06:16] PramodValavala-MSFT commented on #39177
@Sashwat You can check for regional availability of products [here](https://azure.microsoft.com/en-us/global-infrastructure/services/).

Here is the same for [Application Insights (part of Azure Monitor)](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all&products=monitor).

[2019-09-19 06:19] PramodValavala-MSFT commented on #39102
@guizi1991 This repo is for addressing documentation feedback. If there isn't a specific doc that you are referring to, its best to ask your query on the appropriate forum on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home) or [StackOverflow](https://stackoverflow.com/questions/ask).

[2019-09-19 06:21] RohitMungi-MSFT commented on #38932
@netRunner0  For other languages the nodejs sample might need an update. The name of the microsoft server should be "ru-RU-EkaterinaRUS" as the sample was able to generate an output file after changing this.

To test this case better please use the CSharp sample code as this is the updated regularly. In this sample please change the TTSProgram.cs file to the following:

![image](https://user-image

[2019-09-19 06:43] jantoney opened #39183 "Clarification around what a N version is"
The article says "Official support is for upgrading from &gt; N-4 version to N version. For example, if you're running you are on N-6, you need to first upgrade to N-4, and then upgrade to N."

Currently the version numbers have increased in 'Roll Ups' found here:
https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-whats-new

So is a N version change
A) 5.0 to 5.1
-OR-
B) 5.1.3xxx t

[2019-09-19 07:11] jason-work123 opened #39184 "Basic Tier computing resources - Shared not dedicated"
Hi, this page states that the basic tier provides dedicated computing resources for production workloads at a smaller scale. Yet when you add the service within the portal and go to select the tier it states that basic is Shared resources, could confirm which is correct please?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-19 07:13] vdchuyen commented on #31003
Same boat ! Static assignment in k8s did not work as documented in https://docs.microsoft.com/bs-latn-ba/azure/aks/static-ip

spec:
  type: LoadBalancer
  loadBalancerIP: x.x.x.x

NAME            TYPE           CLUSTER-IP    EXTERNAL-IP      PORT(S)                        AGE
kubernetes      ClusterIP      10.0.0.1      <none>           443/TCP                        2d2h
zna3-aadfzdf  LoadBalance

[2019-09-19 07:26] ToruMakabe opened #39185 "Does Azure Private DNS support Application Gateway?"
I would like to use Azure Private DNS for name resolution of Application Gateway. I linked private DNS zone to my VNET has Application Gateway, after that it seems the name resolution works. Is it supported configuration? If so, it would be appreciated if you could stipulate it in this doc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-09-19 07:36] ToruMakabe commented on #39128
@TravisCragg-MSFT Thanks! As you mentioned, it seems Application Gateway supports some features of v3 SAN. But after investigation, as it turned out failing in my purpose.

["If pick hostname from backend address is chosen instead of the Host field in the backend http setting, then the SNI header is always set to the backend pool FQDN and the CN on the backend server SSL certificate must match its

[2019-09-19 07:36] #39128 closed

[2019-09-19 07:41] test123114 commented on #39013
Ok. I will try it.

[2019-09-19 07:48] souravmishra-msft commented on #38852
@DecorteHannes, Do let us know if this helps. In case you need any further assistance on this, please feel free to re-open this thread.

[2019-09-19 07:49] souravmishra-msft commented on #38852
#please-close

[2019-09-19 07:49] #38852 closed

[2019-09-19 07:51] lanfeust69 commented on #38623
I didn't keep it (I think I initially only did the cluster/server certificate, not the client one), but it was something along de lines of :
[code]
The error on the cluster side is a `Warning` from `Microsoft-ServiceFabric-Events` :
[code]

[2019-09-19 07:51] swinarko commented on #38291
#close

[2019-09-19 07:52] MayurBar commented on #38788
We are trying to implement installation process for registering device using REST API in React Native code, but how can we create "pushChannel" in React Native code?

[2019-09-19 07:59] #38291 closed

[2019-09-19 07:59] swinarko commented on #37363
#please-close

[2019-09-19 07:59] #37363 closed

[2019-09-19 07:59] crixo opened #39187 "Custom attribute for file/image upload"
I need to create a custom attribute containing an image that will be collected through the registration/signup user flow.
Is the file/upload type supported some how as custom attribute type?
Is there any sample of a custom page layout that allows the "trick" in case the upload type is not directly supported as a built-in type?
Ideally I'd like to have an input type to upload a file/image within th

[2019-09-19 08:03] msrini-MSFT commented on #39185
@ToruMakabe , It is supported and recommended approach.

You can check the solution part of this documentation: https://docs.microsoft.com/en-us/azure/application-gateway/create-gateway-internal-load-balancer-app-service-environment

[2019-09-19 08:04] SnehaAgrawal-MSFT commented on #39175
@dcbrown16 Thanks for asking Question! Metrics depends on your requirements. It reflects both in second and millisecond. Adding screen  shot for reference.
![image](https://user-images.githubusercontent.com/46553948/65225097-1ae21900-dae2-11e9-9cf1-71d59b0430ae.png)

![image](https://user-images.githubusercontent.com/46553948/65225113-25041780-dae2-11e9-943d-96170736c04a.png)