[2018-10-25 17:20] mamccrea commented on #15625
The timestamps on the sample data were greater than the time policy allows. I've updated the sample data. Please try again.

[2018-10-25 17:28] mikebudzynski commented on #17279
Thanks. I added explanation to my comment. The docs will be updated shortly.

[2018-10-25 17:28] mikebudzynski commented on #17279
#please-close

[2018-10-25 17:28] MicahMcKittrick-MSFT commented on #13935
Yes this is a known issue that the product team is actively working on.
The work around that seems to work at @koman pointed out was deleting the cluster and recreating it. Not ideal but for now it seems to fix the problem.

[2018-10-25 17:29] SaurabhSharma-MSFT commented on #17598
@kinseymd Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 17:33] Mike-Ubezzi-MSFT commented on #17588
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 17:34] MarileeTurscak-MSFT commented on #17602
@aaclage
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 17:34] Mike-Ubezzi-MSFT commented on #17588
You need to read the first paragraph to understand what API this is concerning. Including this detail in the title would be helpful.
![screenshot 482](https://user-images.githubusercontent.com/37126106/47519089-95a6a380-d841-11e8-8a71-4a49079ff055.png)

[2018-10-25 17:35] ArchieCoder opened #17619 "Never use .Result for an async method"
This is bad practice showing the usage .Result in a sample code and especially in a constructor. Using Result can lead to thread deadlock.

this.token = FetchTokenAsync(FetchTokenUri, subscriptionKey).Result;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6021ebc-4b2a-fbb3-84a4-1753b80442c3
* Version Independent ID: 4

[2018-10-25 17:39] erhopf commented on #17619
@WSturman - Can you have someone look at the C# code?

[2018-10-25 17:42] Mike-Ubezzi-MSFT commented on #17590
@SychevIgor Thank you very much for your detailed feedback. I have assigned this to the content author to evaluate and update as appropriate. Looks like a PR has been issued against the document to address this. Please verify that this addresses your scenario. Thank you!

[2018-10-25 17:43] kobulloc-MSFT commented on #17605
@vhhughes Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-25 17:47] bob999c commented on #17360
AKS Cluster-autoscaler status struck in Initializing state.
Please see the below

D:\dockerbuild>kubectl -n kube-system describe configmap cluster-autoscaler-status
Name:         cluster-autoscaler-status
Namespace:    kube-system
Labels:       <none>
Annotations:  cluster-autoscaler.kubernetes.io/last-updated=2018-10-25 16:43:49.278121089 +0000 UTC

Data
====
status:
----
Cluster-autoscaler statu

[2018-10-25 17:49] MicahMcKittrick-MSFT commented on #17604
Thanks for the question! We are investigating and will update you shortly.

[2018-10-25 17:49] Mike-Ubezzi-MSFT commented on #17553
@jderus Thank you very much for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

 ![alt text](https://wtv3.blob.core.windows.net/media/Screenshot (484).png?sv=2017-04-17&sr=b&sig=oGb1jhcNRr0uPldSQPNgT8AGSe0uQ4WJpiV6o0CVcP0%3D&st=2018-10-25T17%3A43%3A59Z&se=2021-10-25T17%3A48%3A59Z&sp=rw "Screenshot (484).png")

[2018-10-25 17:50] tFable opened #17620 "P2S 128 Limit cannot be increased"
Hello,

The document states for the P2S connection limit of 128 peers:

"(**) Contact support if additional connections are needed. This applies to IKEv2 only, number of connections for SSTP cannot be increased."

However, after contacting support (Ticket REG:118102421001752) I was informed that 128 is a hard limit and cannot be increased.

Can we get some clarity on this, please?

Thanks,
t

---

[2018-10-25 17:51] ggailey777 commented on #15005
@jeffhollan should the **autoComplete** option be documented?

[2018-10-25 17:56] MarileeTurscak-MSFT commented on #17548
@Don-Fuego
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 17:56] Grace-MacJones-MSFT commented on #17127
Hi @sahilpnckr123, the article you found is the "announcement" I was referring to. That is the best place to learn about new services and features for Azure App Services because it written by members of the Azure App Service team. Hope that helps

[2018-10-25 17:58] Alberto-Vega-MSFT commented on #17611
@Moodu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 17:59] curtand commented on #14601
Hi @jtuliani
I added a section on Alerts to the tutorial. It will be published today. Thanks for your contribution!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/55791

@TravisCragg-MSFT
#please-close

[2018-10-25 17:59] tutul2010 commented on #17557
Resolved  👍 .
Thank you help and KT.

[2018-10-25 17:59] MarileeTurscak-MSFT commented on #17569
@mcurko
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 17:59] ggailey777 commented on #14158
@timmyreilly this file contains settings that apply to all bindings in a function app. Please see the link that @KetanChawda-MSFT has provided for information on using the Azure Cosmos DB binding for SQL API.

@ar-tama the error you are seeing is because in Azure Functions v2.x, you must [register the Azure Cosmos DB binding extension](https://review.docs.microsoft.com/en-us/azure/azure-functions/

[2018-10-25 17:59] #17557 closed

[2018-10-25 18:01] MarileeTurscak-MSFT commented on #17599
@lxodonovan
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 18:01] MarileeTurscak-MSFT commented on #17603
@wadejd
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 18:02] MarileeTurscak-MSFT commented on #17617
@gonzalre
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 18:03] Alberto-Vega-MSFT commented on #17106
Please try like this by surrounding in double brackets.

`SELECT * FROM devices WHERE tags.[[group]].name = 'beta1'`

[2018-10-25 18:03] jtuliani opened #17623 "Obsolete re number of NICs and availability sets"
Doc states: If the VM is added to an availability set, all VMs within the availability set must have one or multiple NICs. VMs with more than one NIC aren’t required to have the same number of NICs, but they must all have at least two.

Contradicted by https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-vm which states: In the past, all VMs within the same avai

[2018-10-25 18:06] JoshHoskin opened #17624 "Azure AD licensing level"
I'm getting conflicting information on the level of Azure AD licensing required.
The document says you need an Azure AD Subscription (which we have)
but when we try to import a group, it says it's not available with Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1ffd-7129-7bb4e37b07ff
* Version

[2018-10-25 18:07] wmpauli commented on #15625
Hi @mamccrea , thank you for updating the file. It works now. There are still two mysteries I'll have to explore. First, I already tested yesterday whether updating the time stamps would solve the problem, but it didn't back then. I wonder what I did wrong. I had loaded the the data into pandas, changed the date using pd.timedelta and exporting using the iso date_format. The timestamps looked just

[2018-10-25 18:09] TravisCragg-MSFT commented on #14601
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 18:09] #14601 closed

[2018-10-25 18:11] napalm684 commented on #12740
Is there any update here has AKS achieved HIPAA compliance yet?

[2018-10-25 18:15] tfitzmac commented on #14816
The article has been updated to show passing an array inline or from a file.

[2018-10-25 18:16] tfitzmac commented on #14816
#please-close

[2018-10-25 18:19] SqlTechMike commented on #17440
I'm referring to just the "Import extension host certificates" portion of the process.  At this point all of the directory structures have been created and you are simply adding the Admin Extension Host and User Extension Host certificates.  Step number 3 reads "Import the certificate for hosting endpoint. Adjust the script to match your environment." with no script block.  Step number 4 reads "Im

[2018-10-25 18:31] peddabavisriram opened #17625 "Our issue is to do with the alias record sets linked to Azure Public IP Address resources."
Our issue is to do with the alias record sets linked to Azure Public IP Address resources. is this limited to 20 ??
as i am unable to add more than 20 record sets using "Alias record set"

I see 20 as a limit for number of records in a record set so looking for clarification on this document if the limit is on the assignment of these record sets/ records to an IP address actually??

---
#### Docum

[2018-10-25 18:32] peddabavisriram opened #17626 "want to know actual limit on number of record sets assignment to an IP address..."
Our issue is to do with the alias record sets linked to Azure Public IP Address resources. is this limited to 20 ??
as i am unable to add more than 20 record sets using "Alias record set"

I see 20 as a limit for number of records in a record set so looking for clarification on this document if the limit is on the assignment of these record sets/ records to an IP address actually??

---
#### Docum

[2018-10-25 18:47] jeevansd commented on #17624
@JoshHoskin This is clearly stated in the Azure AD Pricing page. Azure AD FREE SKU does not allow you to do the group based provisioning. You can only do user provisioning. If you would like to use the group based provisioning then please use Azure AD Basic or Premium SKU.
https://azure.microsoft.com/en-us/pricing/details/active-directory/

![image](https://user-images.githubusercontent.com/150017

[2018-10-25 18:47] jeevansd commented on #17624
#please-close

[2018-10-25 18:51] SychevIgor commented on #17588
Yes, we need to read first paragraph. But from my perspective, it's important enough to put it in a page name and a title.
To be fair, now documentation about cosmosdb is still 90% focusing on "documentdb" (or sql api). It's really hard to find an information about non sql-api or determine- is it only about sql api or it will work with other as well

[2018-10-25 18:51] tFable opened #17627 "Virtual WAN P2S Pricing Model"
Hello,

Is there currently any information regarding the pricing model of Azure Virtual WAN P2S? The question is for both during the Preview period as well as the pricing plans for when the features goes into GA. Knowing the pricing model for P2S would help us determine if this solution is worth exploring.

Thanks,
t

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-10-25 18:54] garyericson commented on #17565
@changeworld - Thanks for catching this. I'm fixing this in another pull request that should publish soon. I'm updating the graphic to this:
<img width="954" alt="image" src="https://user-images.githubusercontent.com/2539867/47522994-d1df0180-d84b-11e8-9ab8-c0d44e8ab79c.png">

[2018-10-25 18:57] priyamohanram commented on #12071
@bmilbauer : Thank you for your patience! You can now use Log Analytics with Azure AD logs to enable alerting on sign-in logs. Please take a look at the [documentation](https://docs.microsoft.com/azure/active-directory/reports-monitoring/howto-integrate-activity-logs-with-log-analytics) for more information and feel free to open a new issue if you have any further questions. Thanks!

#please-close

[2018-10-25 18:58] garyericson commented on #17565
#please-close

[2018-10-25 18:59] seguler commented on #17418
Fixed! Thanks for raising this.

#please-close

[2018-10-25 19:06] LanceMcCarthy commented on #17555
I second this need. It makes no sense to only have recognition without synthesis

[2018-10-25 19:12] georgewallace commented on #16750
@mentalinc @jacobludriks Ubuntu 18.04 LTS is now supported with Update Management.. I am updating the docs right now.  This issue will be automatically closed once my changes have been merged, the docs will go live this afternoon with the updates.

[2018-10-25 19:15] MicahMcKittrick-MSFT commented on #16481
Thanks all for the extra details.

I am not sure if this is information we can include in this doc but regardless, I will assign to the author to review and see if we can add any details.

[2018-10-25 19:16] MicahMcKittrick-MSFT commented on #17420
@saurabhrajguru I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-25 19:16] #17420 closed

[2018-10-25 19:17] Karishma-Tiwari-MSFT commented on #17623
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 19:18] erhopf commented on #17555
@YutongTie-MSFT please assign this issue to @WSturman. This isn't a documentation issue, but a feature request.

[2018-10-25 19:19] MicahMcKittrick-MSFT commented on #17510
@srrengar do you know if we have any documentation around this? I know you work on many of the monitoring features of SF

CC @aljo-microsoft

[2018-10-25 19:20] TravisCragg-MSFT commented on #17440
@SqlTechMike Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 19:22] TravisCragg-MSFT commented on #17468
@markgar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 19:22] #17468 closed

[2018-10-25 19:27] mcsdodo opened #17630 "Update-ServiceFabricService -Stateful -PartitionNamesToAdd docs missing"
I would like to scale stateful service's partitions (add one). The [documentation](https://docs.microsoft.com/en-us/powershell/module/servicefabric/update-servicefabricservice?view=azureservicefabricps) contains a parameter for `Update-ServiceFabricService`. There is `PartitionNamesToAdd` but without any documentation for it.

I've tried to call `Update-ServiceFabricService -Stateful fabric:/MyApp

[2018-10-25 19:28] Karishma-Tiwari-MSFT commented on #10488
@SidShetye Thanks for the detailed explanation. We are getting the request reviewed from the product team. I will share the updates here.

[2018-10-25 19:29] priyamohanram commented on #17245
@AErmie : Thanks for reporting the issue! I have passed this information on to the product team for further investigation. Stay tuned for updates.

@MohitGargMSFT : This is not a doc enhancement, it's a product issue. Please re-tag as appropriate. Thanks!

#in-progress

[2018-10-25 19:33] romankiss commented on #17106
@Alberto-Vega-MSFT,
Thanks, it's working now.

[2018-10-25 19:43] dapathy opened #17631 "Identity setting mapping documentation issue"
In my testing it seems that "RegistrationEnabled" actually maps to the "Username and password" identity provider.  "RequireUserSigninEnabled" maps to the "Redirect anonymous users to sign-in page" checkbox.  Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d0120b7-a5fe-fead-e88b-cf1bab80ba73
* Version I

[2018-10-25 19:44] #16750 closed

[2018-10-25 19:45] MarileeTurscak-MSFT commented on #17587
@MarkusKnuhr
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-25 19:45] ajaypamarthy commented on #16520
can you please provide ARM template code snippet example for Stream Azure AD logs to an Azure event hub.

[2018-10-25 19:46] ira-bryndzei commented on #13935
I fixed this issue with creating sp for aks not using the ssl cert, but just a password.

[2018-10-25 19:46] Adam-Smith-MSFT commented on #16375
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 19:46] #16375 closed

[2018-10-25 19:47] tjvishnu commented on #16758
@saulcp95 Can you please explain what you mean by "unsupported" for Storage Accounts V2? If you are referring to GPv2 Storage accounts with Azure Files, they are very much supported for backup.

[2018-10-25 19:48] mack0196 commented on #15705
I thought that each partition is worked by its own message broker, not the same message broker.

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning#how-it-works
Each partitioned queue or topic consists of multiple fragments. Each fragment is stored in a different messaging store and handled by a different message broker.

[2018-10-25 19:51] srrengar commented on #17510
@SychevIgor we are working on updating our docs with the actors scenario. In the meantime @yantang-msft could you potentially provide guidance on how to use that nuget package with Actors?

[2018-10-25 19:52] wuffers opened #17633 "Incorrect steps listed"
The code in section "Deploy the updated template" does not work, making the whole "Download and update the template from the portal" section pretty much an exercise in futility. Making a new resource group to redeploy gives errors, as well as using the existing resource group.

I used those as reference to modify an existing cluster and vmss using Resource Manager (resources.azure.com) to change f

[2018-10-25 19:52] tjvishnu commented on #16211
@tFable Yes the current backup solution utilized snapshots and does not move the backup data to a different storage account. However, we will have it available at GA. The "All backup data is stored in Recovery Services vaults." statement is futuristic and thank you for pointing it out. I will edit the document to avoid confusion.

[2018-10-25 19:54] tjvishnu commented on #16501
@tFable The pricing for backing up Azure Files will be available early 2019, which would be closer to our GA dates.

Regards,
Vishnu Charan TJ

[2018-10-25 19:59] Mary268 opened #17634 "Where is GeographyV2 library for python?"
When others entities library (e.g. GeographyV2) for python will publish on https://github.com/Microsoft/Recognizers-Text/tree/master/Python/libraries ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc4ddee5-63b7-865f-d8e3-7ee080ac9fe8
* Version Independent ID: 42a03274-7cba-0fc1-80ad-93f3c44a7d8e
* Content: [Geography

[2018-10-25 20:01] lianetoohey commented on #17436
Ah please disregard, I see that I missed another message from you in this thread. I'll reach out to the email address you provided. Thanks! - Liane

[2018-10-25 20:02] PSPally opened #17635 "Any licenses needed for admin accounts?"
The article doesn't mention anything about licensing needed.  Is it just based on the group memberships in AAD or is there a licensing requirement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496-f972-3b1b-640a1bd81412
* Version Independent ID: 6951f3d5-c766-133c-4785-9cd4192bae19
* Content: [How to manage

[2018-10-25 20:06] JonnMsft commented on #17549
Thanks. From your sample and the namespace I found https://blogs.msdn.microsoft.com/amitagarwal/2018/01/01/custom-schedule-for-azure-web-job-timer-triggers/.

[https://msdnshared.blob.core.windows.net/media/2018/01/1_thumb.jpg]<https://blogs.msdn.microsoft.com/amitagarwal/2018/01/01/custom-schedule-for-azure-web-job-timer-triggers/>

Azure Web Jobs: Custom Schedule for Azure Web Job Timer ...<http

[2018-10-25 20:06] MarkusVi commented on #17635
Hi @PSPally, it is just based on the group membership in Azure AD. There is no license requirement.

#please-close

[2018-10-25 20:07] tjhgit opened #17636 "pecularities of running a container in azure batch"
I am using a microsoft image with docker engine preinstalled. It is a bit confusing that for start jobs a command like: 'docker run {img} /hmefc/az_batch/say_hello.sh' works. However when scheduling the same task in the job the `docker run` command does not work anymore. Even with elevated privileges. An error message occurs that is further detailed [here](https://github.com/MicrosoftDocs/azure-do

[2018-10-25 20:13] CelesteDG commented on #17569
Hello @mcurko - Thank you for your question. This had to do with the restrictions that we had around the app integration with the Azure AD v2.0 or v1.0 endpoints. Some background is here: https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison#restrictions-on-app-registrations

We just released the public preview for the new app registration experience in the A

[2018-10-25 20:15] hjarraya commented on #17570
@xudifsd Upgrading to 1.10 would fix this or not? I am going to give it a try, otherwise, is there documentation on how to configure nvdia-runtime as default in docker?

[2018-10-25 20:17] saulcp95 commented on #16758
Yes I mean general purpose V2 storage accounts.

I thought they were not supported as I had some of them created and Azure
File Share Backup couldn't discover them but it does discover the GP V1s.

It might have been for another reason then

El jue., 25 oct. 2018 a las 13:47, Vishnu Charan TJ (<
notifications@github.com>) escribió:

[2018-10-25 20:17] SeaJaredCode opened #17637 "Az Client for Add or remove policies"
There are instructions for using the az client to register for the feature, but no hints on how to set policies via az cli.

Is it possible to manage lifecycle policies, or only in PS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6

[2018-10-25 20:17] kgremban commented on #16736
@alpinedelight To clarify, you run `New-CACertsCertChain rsa` successfully, then have to close your powershell window and reopen it to run `New-CACertsEdgeDevice "CIPEDGEDEVICE`?

[2018-10-25 20:22] TravisCragg-MSFT commented on #17625
@peddabavisriram the limit is 20 records per [record set](https://docs.microsoft.com/en-us/azure/dns/dns-zones-records#dns-records). If you need additional records, you will need to put them in a different record set.

[2018-10-25 20:28] erhopf commented on #17507
@BaAlexandru - Ogg is supported, but only for the REST API. The file must be 16 kHz mono.

[2018-10-25 20:32] Alberto-Vega-MSFT commented on #17204
Hi @smoms

Azure IoT Edge security daemon is part of the Azure IoT edge SDK https://github.com/Azure/iotedge

This should give you an idea of the setup process: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

The workload API is part of the IoT Edge Security Daemon for more info:

https://github.com/Azure/iotedge/tree/master/edgelet/workload

[2018-10-25 20:34] #17635 closed

[2018-10-25 20:36] CelesteDG commented on #17006
Hello @manish-shukla01 - Thank you for your question. Following up to see if you've had a chance to try the suggestion from @navyasric . Thank you.

[2018-10-25 20:36] MarileeTurscak-MSFT commented on #17587
@MarkusKnuhr feel free to make a pull request with your suggested changes for the author to review and merge.

[2018-10-25 20:36] MarileeTurscak-MSFT commented on #17587
Please reference the pull request in the comments.

[2018-10-25 20:38] gharmer opened #17638 "Using Data Factory to take a backup"
Hi, I am using the Data Factory approach mentioned above to take snapshot backups of my SQL API Cosmos DB but, when the backup is taken, I am seeing a spike in RU usage. Is there a better option to take a full snapshot of the database without spiking the RU's? i.e. is it possible to throttle the Data Factory copy process?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-10-25 20:41] MicahMcKittrick-MSFT commented on #17526
@MikeChristensen great question! I played around a bit with this and I am not finding anything in the docs with the exception of

https://docs.microsoft.com/en-us/cli/azure/ext/mesh/mesh/network?view=azure-cli-latest

It also appears this information is not available in the portal.

I was able to run the following command to get that information though:

`az mesh network list --resource-group Mica

[2018-10-25 20:47] arschles opened #17639 "Can I Use Azure Front Door Inside a VNET?"
I was looking at the [Azure Front Door Docs](https://docs.microsoft.com/en-us/azure/frontdoor/) and couldn't find a way to have FD route to an IP inside of a VNET?

Specifically, I want to have FD route to the IP of an internal load balancer in my VNET. I am trying to route to my AKS cluster

If it is possible, can you tell me where to find it in the documentation?

Thank you very much! 😄

---
###

[2018-10-25 20:50] TravisCragg-MSFT commented on #17615
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 20:50] TravisCragg-MSFT commented on #17609
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 20:51] TravisCragg-MSFT commented on #17608
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 20:53] arscek opened #17640 "Azure Tools not working for my company"
I can't install Azure Tools due company policies, is it possible to include a Java Web App Quickstart without the usage of IDE tools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90ff6f8-f255-58b8-fc2e-f52fd1481640
* Version Independent ID: 31063b65-21c4-0a7a-04bc-10be430cb116
* Content: [Create your first Java web

[2018-10-25 20:55] MicahMcKittrick-MSFT commented on #17604
@xenalite you are able to confirm multiple duriability tiers for different node types.

For example, Node Type 1 (Primary) set to Gold, Note Type 2 (Secondary) set to Silver, Node type 3 (Secondary) set to Bronze

as you saw we have a table that describe what each durability tier provides

Durability tier | Required minimum number of VMs | Supported VM SKUs | Updates you make to your virtual machi

[2018-10-25 20:56] raman2072 commented on #17405
I have finished the tutorial and everything works like a charm, so awesome. I want to know how can I attach an auth-token via curl or via postman to actually browse the endpoints like finding the rooms.

[2018-10-25 20:57] iainfoulds commented on #12740
@napalm684 Yes, AKS is now HIPAA compliant. The larger Azure compliance doc is already updated at https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942, and the AKS overview page should update this afternoon.

[2018-10-25 20:58] changeworld commented on #17565
Thanks!

[2018-10-25 20:58] #17565 closed

[2018-10-25 20:58] Adam-Smith-MSFT commented on #17637
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 21:00] MicahMcKittrick-MSFT commented on #17550
You can find more information on the Kubernetes website regarding PDB

https://kubernetes.io/docs/concepts/workloads/pods/disruptions/
https://kubernetes.io/docs/tasks/run-application/configure-pdb/

@iainfoulds could you comment further on this?

[2018-10-25 21:05] nclandrei commented on #17601
Hi @SychevIgor! Can I take this one?

[2018-10-25 21:05] hjarraya commented on #17570
Tried to start an aks cluster with kubernetes version 1.10.8 and STANDAR_NC12 node, I dont see the gpus at all
[code]

[2018-10-25 21:10] EncryptionSpecialist opened #17641 "Clarification on getting X.509 CA certificates"
Do the instructions for "Register X.509 CA certificates to your IoT hub" apply to both methods in the "Get X.509 CA certificates" just above it? Is the private key mentioned in step 8 the private key for the leaf certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f2e322-a9a1-8887-58ce-324eab7661d2
* Version

[2018-10-25 21:15] leeware commented on #16964
I discussed the issue with another Microsoft representative.  There was an issue with my starting point.

[2018-10-25 21:15] #16964 closed

[2018-10-25 21:17] TravisCragg-MSFT commented on #17620
@tFable current limits for concurrent connections are higher than listed here for IKEv2 Connections. We will be updating the document to reflect actual P2S limits soon.

I will reach out to you via your Support Request for additional questions that you might have.

[2018-10-25 21:29] jacobludriks commented on #16750
thank you!!

[2018-10-25 21:29] MicahMcKittrick-MSFT commented on #17633
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 21:29] yevster opened #17642 "Where is the corresponding information for Linux?"
The content here is Windows-specific, which is not indicated in the document title. Also, since one can easily arrive here while looking for Linux information, a link to the corresponding Linux App Service doc would be most welcome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c03c7ed5-ba60-f10c-fbdb-908b9c5264c4
* V

[2018-10-25 21:34] Alberto-Vega-MSFT commented on #17638
@gharmer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 21:36] diberry commented on #16427
This doc has been updated with a link to [more information](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/LUIS/luis-concept-roles.md#roles-versus-hierarchical-entities)

[2018-10-25 21:37] tFable commented on #17620
Thanks @TravisCragg-MSFT !

[2018-10-25 21:37] sandervandevelde commented on #17351
Hello Magdalena,

I really appreciate your help. I would like to see this working too, I run the IoT Edge on an Advantech Uno 2271G with Ubuntu 18.04 on it.

So before I reinstall my runtime, I have performed all the steps you described.

See the file [blob.txt](https://github.com/MicrosoftDocs/azure-docs/files/2516824/blob.txt) with the output.

It ends with this "Illegal instruction (core dumped

[2018-10-25 21:39] rmcmurray commented on #17640
Thanks, @arscek - we are currently discussing that possibility. Thanks!

[2018-10-25 21:46] sandervandevelde commented on #17351
Some extra environment info:

Linux uno2271gsv-UNO-2271G-E2xAE 4.15.0-34-generic #37-Ubuntu SMP Mon Aug 27 15:21:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Client:
 Version:      18.06.0-dev
 API version:  1.37
 Go version:   go1.10.2
 Git commit:   daf021fe
 Built:        Mon Jun 25 21:07:53 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm

Server:
 Engine:
  Version:

[2018-10-25 21:47] TravisCragg-MSFT commented on #17585
@cr-gstirling Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 21:47] yevster opened #17644 "File storage access"
Some legacy J2EE applications may rely on using locally-mounted file storage for their persisted state (e.g. message queues, logs, etc).

However, the bulk of the file system disappears after application restart. Please provide guidance where applications should write persistent data that would be shared among instances. Under `/home/site`? Perhaps an Azure Files share can be mounted as an SMB/NFS

[2018-10-25 21:48] dlepow commented on #17136
@clangnerakq  - Just want to confirm a couple of points:
1. What version of the CLI are you using? Version 2.0.49 was released this week and is now available in Cloud Shell. I followed the general steps in your scenario using that and was able to mount and use a file share on a simple Ubuntu container instance deployed in a VNet. Obviously, I didn't run the image or code in your scenario.
2. Did y

[2018-10-25 21:49] TravisCragg-MSFT commented on #17578
@jjindrich Thanks for the feedback, and the sample template! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 21:49] iainfoulds commented on #17570
There's a doc update that should publish around 3pm PST today that should address this. If you have issues deploying the daemonset direct into the _kube-system_ namespace, create a separate namespace such as _gpu-resources_ and deploy the daemonset into that. I've validated this works repeatedly on new, and upgraded, 1.10 and 1.11 clusters.

There's on-going engineering work to address / improve t

[2018-10-25 21:49] helloguo opened #17645 "How to deploy Azure Functions to Azure Stack from Visual Studio?"
I want to develop a C# project with Visual Studio and deploy the pre-compiled C# project to Azure Stack from Visual Studio. Is there a way to do this? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content:

[2018-10-25 21:50] iainfoulds commented on #17011
There's a doc update that should publish around 3pm PST today that should address this. If you have issues deploying the daemonset direct into the _kube-system_ namespace, create a separate namespace such as _gpu-resources_ and deploy the daemonset into that. I've validated this works repeatedly on new, and upgraded, 1.10 and 1.11 clusters.

There's on-going engineering work to address / improve t

[2018-10-25 21:50] femsulu commented on #17626
@peddabavisriram, Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-25 21:50] YutongTie-MSFT commented on #14158
@timmyreilly We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 21:50] #14158 closed

[2018-10-25 21:51] YutongTie-MSFT commented on #14816
@neoakris We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 21:51] #14816 closed

[2018-10-25 21:51] YutongTie-MSFT commented on #17279
@joeruder We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 21:51] #17279 closed

[2018-10-25 21:51] YutongTie-MSFT commented on #17418
@ben-st We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 21:51] #17418 closed

[2018-10-25 21:51] YutongTie-MSFT commented on #17624
@JoshHoskin We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 21:51] #17624 closed

[2018-10-25 21:51] femsulu commented on #17601
@SychevIgor Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-25 21:52] #17011 closed

[2018-10-25 21:53] ShevaDas commented on #17346
Hi @rodsorbara, thanks for the feedback! I'm investigating removing the "time to read" metadata altogether and will update this issue when I have a resoluation.

[2018-10-25 21:54] femsulu commented on #17601
@SychevIgor Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-25 21:54] YutongTie-MSFT commented on #17627
@tFable Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@cherylmc Hi, can you please take a look? Thanks a lot!.

[2018-10-25 21:55] rodsorbara opened #17646 "There are four traffic routing methods available in Traffic Manager:"
The statement _"There are **four** traffic routing methods available in Traffic Manager:"_ is no longer accurate, as there are **six** Traffic Manager routing methods available today.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2baa11a5e8
* Version Independent ID: 3936b98a-94e1-8781-15de-d8

[2018-10-25 21:56] rodsorbara opened #17647 "There are six traffic routing methods available in Traffic Manager today (not four)"
The statement _"There are **four** traffic routing methods available in Traffic Manager:"_ is no longer accurate, as there are **six** Traffic Manager routing methods available today.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2baa11a5e8
* Version Independent ID: 3936b98a-94e1-8781-15de-d8

[2018-10-25 21:57] YutongTie-MSFT commented on #17630
@mcsdodo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rwike77 Hi, can you please take a look? Thanks a lot!

[2018-10-25 21:59] jeevansd commented on #17602
@aaclage Thanks for the feedback. We are changing our package to provide the right guidance in the UI. The doc is correct here.

[2018-10-25 21:59] YutongTie-MSFT commented on #17636
@tjhgit Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 21:59] rloutlaw commented on #17644
Information on persisted files for Web App for Linux, including paths and limits, can be found here:

https://github.com/projectkudu/kudu/wiki/Understanding-the-Azure-App-Service-file-system

[2018-10-25 21:59] femsulu commented on #17601
@nclandrei - i am unable to resolve your Gihub alias but you are welcome to engage on this.

[2018-10-25 22:00] YutongTie-MSFT commented on #17639
@arschles Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sharad4u Hi, can you please take a look? Thanks a lot!

[2018-10-25 22:00] femsulu commented on #17600
@SychevIgor Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-25 22:02] YutongTie-MSFT commented on #17634
@Mary268 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry Hi Dina, can you please take a look? Thanks a lot!

[2018-10-25 22:02] #17646 closed

[2018-10-25 22:03] rodsorbara commented on #17646
Closed as duplicate.

[2018-10-25 22:03] xenalite commented on #17604
@MicahMcKittrick-MSFT Thanks for the screens - I will definitely try that.
I am interested in the latter part of my question, because I am now deploying a production cluster, and the docs recommend Silver or Gold or higher durability level for production workloads.

My understanding was that the secondary node types hosting my app container services would not benefit from higher durability level i

[2018-10-25 22:04] diberry commented on #17634
@Mary268 Thanks for submitting this question. The Recognizers-Text project is the best place for this issue. That project is actively developed and released. Please post the question on [that repository's issues](https://github.com/Microsoft/Recognizers-Text/issues).

[2018-10-25 22:05] YutongTie-MSFT commented on #17582
@Philippepaiola  Can you please share which document you want to update?

[2018-10-25 22:08] nclandrei commented on #17601
Thanks! But what do you mean you can’t resolve my alias?

[2018-10-25 22:10] rloutlaw commented on #17644
From the doc:

This is what you can view as your web site's files. They follow a structure described here. They are rooted in d:\home, which can also be found using the %HOME% environment variable. **For App Service on Linux and Web app for Containers, persistent storage is rooted in /home.**

We'll get this added to the Java guide for App Service Linux so it's more clear. I missed this the first

[2018-10-25 22:15] SaurabhSharma-MSFT commented on #17598
@kinseymd Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-25 22:20] starforce commented on #16438
Actually that is not what I meant at all. Your example is great but it does not tell you hot to associate the tenantId, clusterApplication, clientApplication at Cluster Creation time. I was able to stumble upon it from another non microsoft blog. This is what needs completion.

When I generate a new tenantId,  clusterApplication, and clientApplication using the SetupApplications.ps1 script, why wo

[2018-10-25 22:26] poocat opened #17648 "Python Web App - Failure to Copy python link"
Hello!

I ran into an issue while following the tutorial to "Create a Python web app in Azure App Service on Linux" (https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python)

I ran into an issue when setting up deployment with my github account, specifically, with the "deploy" script:

[code]

I should note the following:
- I'm trying to do this from the Azure Portal UI, no

[2018-10-25 22:30] MicahMcKittrick-MSFT commented on #17636
@tjhgit thanks for reaching out.

To confirm, is this the doc you are looking to get updated:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/batch/batch-docker-container-workloads.md

[2018-10-25 22:31] femsulu commented on #17601
unable to assign this issue to you via the "Assignees" dropdown:
![image](https://user-images.githubusercontent.com/34327711/47534116-04e4bd80-d86b-11e8-95cb-e47916f29f20.png)

[2018-10-25 22:31] iainfoulds commented on #11541
The HTTP app routing solution is just deploying a basic NGINX ingress controller. It's not really designed for production use. For example, only one replica is created. This solution is more to quickly deploy an ingress controller for test purposes as an add-on in the portal or CLI.

The preferred solution would be to deploy an ingress controller, such as NGINX, with multiple replicas spread acros

[2018-10-25 22:32] iainfoulds commented on #11768
The HTTP app routing solution is just deploying a basic NGINX ingress controller. It's not really designed for production use. For example, only one replica is created. This solution is more to quickly deploy an ingress controller for test purposes as an add-on in the portal or CLI.

The preferred solution would be to deploy an ingress controller, such as NGINX, with multiple replicas spread acros

[2018-10-25 22:32] nclandrei commented on #17601
Ah ok got it. Sorry, but didn’t understand what was going on 🙂 Thanks for letting me take the issue!

[2018-10-25 22:32] #11768 closed

[2018-10-25 22:35] peddabavisriram commented on #17625
Hello Travis,

As spoke offline on skype:
so its not that he has more than 20 records in a set
its that he has more than 20 records pointing to single resource using alias records.

Will be waiting for an update.

[2018-10-25 22:43] femsulu commented on #17607
@ShashankManiar Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-25 22:44] mamccrea commented on #15625
Hi @wmpauli - I would need to see a sample of your data to understand what could have gone wrong. All I did was find/replace the timestamps in the json file.

For the error message, are in your input and output in the same container? If so, try connecting the input and output to completely separate, clean containers. It could be reading your output as input data.

[2018-10-25 22:45] femsulu commented on #17613
@declang Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-25 22:50] kobulloc-MSFT commented on #17605
@vhhughes I'm seeing the same thing.  I'm assigning this to the document author for clarification.

[2018-10-25 22:51] Karishma-Tiwari-MSFT commented on #17581
@Danrawlings-msft  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-25 22:55] YutongTie-MSFT commented on #17648
@poocat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 22:59] iainfoulds commented on #13687
Your feedback has been passed to the product and portal team, @nik-shornikov. You're right in the HTTP application routing is only meant as a quick way to deploy an ingress controller for testing purposes. There are no replicas deployed, and little by way of expanding to use your own TLS certificates, for example.

We do have a guidance doc planned to help step through the various different ingres

[2018-10-25 23:05] Grace-MacJones-MSFT commented on #17642
Hi @yevster, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-25 23:06] TravisCragg-MSFT commented on #17620
@tFable I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 23:08] Grace-MacJones-MSFT commented on #17127
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 23:08] #17127 closed

[2018-10-25 23:10] pacmand opened #17651 "Passwordless Authenticator and PTA after Password Reset."
So we have been testing this in public preview and love it so far. One thing I am noticing thought is that when I reset the on-premesis password for users, the authenticator will ask the user for a password?

The attractive thing for us here was that for mobile devices, we could completely remove passwords from the mix (which is our experience now with cert based auth).

Is this really "no passwor

[2018-10-25 23:11] wmpauli commented on #15625
Thank @mamccrea , I'll give it another try later, now that I have a working version it will be easier to debug.

I do have the input in the same container, that's how I understood the instructions. It makes sense to separate them, like you say.

[2018-10-25 23:12] TravisCragg-MSFT commented on #17568
@dhruvingajjar Thanks for the feedback. I have confirmed that you cannot create body exclusions in the portal. It is likely that you will still be able to do this in Azure PowerShell or the CLI. I am following up now to see why this is occurring.

[2018-10-25 23:18] iainfoulds commented on #17550
Two different things here, I think.

On the original question @pratik11jain - if you don't define a PDB, then yes, there's potential for a pod to be removed as the cluster would scale in and not be rescheduled on another node. For example, if the other remaining nodes in the cluster do not have the resources to schedule the pod being terminated on the scaled-in node. PDBs help you define a minimum

[2018-10-25 23:21] fowl2 opened #17653 "Add document/sections about using Insights with ARM"
This section has an mix of Log Analytics and Insights content, it would be great if some ARM content for insights could be added. =)

Also, [the reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/components) is seems a little out of date - 2015-05-01 - when there are there are [samples on version 2018-05-01-preview](https://github.com/Azure/azure-quickstart-templates/bl

[2018-10-25 23:29] TravisCragg-MSFT commented on #17541
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 23:30] alinamstanciu commented on #17016
Hi @ssorenes , the workaround for time being is to create a space object and add the type of "Device" on the SpaceType. Let me know if this works as a temporary solution.

[2018-10-25 23:32] lanatmwan opened #17654 "possible"
I am guessing this: "JSON.stringigy(alert)" is supposed to be "JSON.stringify(alert)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8856d2fb-02c4-4804-3fd9-df91e0ebc0ed
* Version Independent ID: 57d260c4-1cab-899c-433e-100705bb0e74
* Content: [Monitor a space with Azure Digital Twins](https://docs.microsoft.com/en-us/

[2018-10-25 23:34] TravisCragg-MSFT commented on #17647
@rodsorbara Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 23:37] TravisCragg-MSFT commented on #17579
@Sharono123 are you able to connect when you add a public IP to the VM and RDP via that IP?

[2018-10-25 23:42] TravisCragg-MSFT commented on #17568
@dhruvingajjar you can add body tags via the "Request Attribute Name" field.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 23:42] #17568 closed

[2018-10-25 23:47] fowl2 opened #17655 "Is there any reason not to set the daily cap to 5 GB / 31 Days?"
If the free limit is 5GB/month, why wouldn't we set the daily cap to ~160MB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a8a62-95c6-9ec9-9199-695ad1e5e8a9
* Version Independent ID: 6089f013-8b5b-661c-9ee4-d6b267737357
* Content: [Manage cost of data in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/l

[2018-10-25 23:48] bizinbarefeet commented on #16774
I am migrating sites from WebMatrix to Visual Studio and found I could not install Nuget for websites based on .net framework 4.0.  Without Nuget I could not replace the various add-ins to get the sites running again.

[2018-10-25 23:50] alinamstanciu commented on #17533
@alexmarshall132 here is detail
ExecutionContext is not a good name for the what the object does, unfortunately :(
This object doesn't keep any execution context data to and from your function, instead it's a collection of system properties that could be used in the UDF context and over time we could add more properties, for example IoT Hub specific message properties or similar.
 System propertie

[2018-10-25 23:53] Petermarcu opened #17656 "Is the v2 in the first paragraph supposed to be v10?"
Is the v2 in the first paragraph supposed to be v10?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae2738c-ba71-e828-ce61-7d6ae66b06aa
* Version Independent ID: ace95080-b838-40e3-2fcd-fce8da08e9de
* Content: [Upload, download, list, and delete blobs using Azure Storage v10 SDK for JavaScript (preview)](https://docs.

[2018-10-25 23:59] dcbrown16 commented on #17008
@trinadhkotturu I see, thanks for the clarification.
I created #17657 so you can at least see what I'm suggesting for the table.

[2018-10-25 23:59] #14366 closed

[2018-10-26 00:00] ecfan commented on #17268
@justinyoo Nice! 👍

@Mike-Ubezzi-MSFT Seems like we can close the issue for now as we have this work on the backlog. Thanks!

[2018-10-26 00:02] manish-shukla01 commented on #17006
@navyasric and @CelesteDG i tried to register the app in the azure active directory instead of app.developer site and authenticated the user in the tenant as you mentioned after adding the user in the tenant and it worked. i was able to call the api using user_impersonation scope. Two question:

1. I have a scenario where user will not be in the tenant where app is registered. basically the app ha

[2018-10-26 00:14] JasonWHowell commented on #17406
CC: @mamccrea in case you have any ideas for this question.

[2018-10-26 00:34] Petermarcu commented on #17656
Nevermind, just a crazy amount of versions that exist in here. Its a v2 storage account and I'm using a v10 SDK API :(

[2018-10-26 00:42] eschrader commented on #12652
My client has this same issue with their B2B user who was the first user in their organization, but forgot her password.
The user gets the following error:

![azure ad b2b no password reset on tenant](https://user-images.githubusercontent.com/18456293/47537542-1afa7a00-d87b-11e8-86eb-0c1119e4cc32.PNG)

On my customers Azure AAD tenant with all of the guest users, he cannot reset the External Users

[2018-10-26 00:44] #16451 closed

[2018-10-26 00:44] KingdomOfEnds commented on #17533
A brief description about these two parameters has been added to the original article. Thanks!

[2018-10-26 00:45] sameer-pattanaik commented on #17577
@SaurabhSharma-MSFT I am still unable to download the document. I tired the link on different browsers and also used "Save link as" option, but no success. When I use the "Save link as" option the page is getting stored as an .htm file. The document is not getting download.

[2018-10-26 01:00] eschrader opened #17658 "How can self service password reset be enabled on Viral B2B tenants?"
Hi,

My user is locked out of their viral B2B tenant account after they forgot their password. Can this scenario be documented here?
related to this issue https://github.com/MicrosoftDocs/azure-docs/issues/12652

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f87e-6e42-3589-336b308c564f
* Version Independent ID

[2018-10-26 01:01] AUFOOD opened #17659 "AUFOOD"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-26 01:11] #17550 closed

[2018-10-26 01:12] #13687 closed

[2018-10-26 01:13] JasonWHowell commented on #15146
@irgnosis It's a little deeper scenario that what I can remember. You might work with the Azure support team if you are blocked and this is urgent.

Is your JDBC client code running on the cluster, or outside the cluster?

Could it be something as simple as using the short name versus the FQDN in your connection string? CLUSTERNAME vs. CLUSTERNAME.azurehdinsight.net

If I recall, I think HDInsight

[2018-10-26 01:21] kvsrkrishnan opened #17660 "Something went wrong somewhere"
I can say I completed all the steps and have a serverless application running successfully. I did not have any issues when creating functions, I used C# all the way. Now, I have two outstanding issues: 1) I don't see the preview of the uploaded images right after they are uploaded 2) with authentication ON, there are some serious issues like I can never finish an upload, sometimes not even log in.

[2018-10-26 01:37] jeffwmiles opened #17661 "Infrastructure insights solution still required?"
In the "onboarding at scale" section this document describes a pre-requisite of adding solutions "ServiceMap" and InfrastructureInsights" to the workspace.

However, while searching in the Solution gallery, infrastructure insights does not appear.

Is this still required for onboarding and if so is it only available through PowerShell or ARM Templates?

---
#### Document Details

⚠ *Do not edit th

[2018-10-26 01:38] AUFOOD commented on #17575
Cháo ếch singapore suu đj

Tải Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: YutongTie-MSFT <notifications@github.com>
Sent: Thursday, October 25, 2018 11:40:22 PM
To: MicrosoftDocs/azure-docs
Cc: Cháo Ếch Singapore; Assign
Subject: Re: [MicrosoftDocs/azure-docs] Kiot (#17575)

Assigned #17575<https://github.com/MicrosoftDocs/azure-docs/issues/17575> to @AUFOOD<http

[2018-10-26 01:47] BryanTrach-MSFT commented on #17571
@imeya We do not have any steps to share on this but if you have the option to install conda as [wheel file](https://blogs.msdn.microsoft.com/azureossds/2015/06/29/install-native-python-modules-on-azure-web-apps-api-apps/) or other package installers then you should be able to follow the linked steps in a similar fashion.

We will now proceed to close this thread. If there are further questions re

[2018-10-26 01:47] #17571 closed

[2018-10-26 01:56] lyrana commented on #17405
Hi @raman2072 checkout this link for instructions on how to set up Postman to request AAD token https://docs.microsoft.com/en-us/azure/digital-twins/security-authenticating-apis

[2018-10-26 01:57] TomArcher commented on #17583
@neiltingley

After doing some research, there have been some changes in the underlying provider.

In the step #3 instructions in the *Add a virtual machine scale set* section, add the following line after the setting of `subnet_id`
`primary = true`

Instead of setting name to "osdisk", set it to ""

I just tested this, and it works.

Tomorrow, I'll update the docs to reflect the new instructions

[2018-10-26 02:09] xudifsd commented on #17570
@hjarraya you can refer [nvidia-container-runtime doc](https://github.com/NVIDIA/nvidia-container-runtime) about how to config nvidia runtime and set it as default. I think this is required in both k8s 1.9 and upwards, so I'm not sure why AKS didn't set it.

[2018-10-26 02:41] MarkusVi commented on #8704
This is correct, Identity Protection is a P2 feature. I have added a note.

#please-close

[2018-10-26 03:48] vicperdana opened #17663 "Port 9443"
Can you clarify if TCP 9443 and 443 is required from Azure Storage to VMware Config Server?  It's not clear from the above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configuration server for V

[2018-10-26 04:02] ssorenes commented on #17016
This helped, thanks!

[2018-10-26 04:02] #17016 closed

[2018-10-26 04:14] georgewallace commented on #15984
I had updated the doc with a PR and it will autoclose this issue when merged, the changes will go live tomorrow am.  You need to have 443 open to the azure public ips.  Run command posts the results back to Azure and without that port being opened the results will not be returned.

[2018-10-26 04:30] IntvPrime opened #17664 "Contour?"
Please add more samples that explain how to use contour attribute. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425f2bb0-a8af-b4b4-6e20-3a5b999b64b2
* Version Independent ID: 3cdc4ec4-9a24-bdac-b432-950b3600a65f
* Content: [Text to Speech API of Microsoft Speech Service](https://docs.microsoft.com/en-us/azure

[2018-10-26 04:33] MarkAtAgilliance opened #17665 "Self hosted integration services not usable when code repository has been set up"
//updated to clarify scenario and add SO link.
Hi, I wonder if you can cover this topic in the docs.  I have a ADFV2 with a code repository (the code repository is pertinent to this question).

When I add a self hosted integration service using the ARM quick start template, this is added to the published Data Factory and not the master branch (or any other branch).  If I select master or any other

[2018-10-26 04:38] PramodValavala-MSFT commented on #17557
@tutul2010 Glad that resolved it!

[2018-10-26 05:09] koman commented on #13935
Once I did that I could create ingress controllers and ambassador gateways
and it would always get an up address.

On Thu, 25 Oct 2018 at 21:46, Iryna Bryndzei <notifications@github.com>
wrote:

--
Kind regards,
Koman Rudden

[2018-10-26 05:29] YutongTie-MSFT commented on #17654
@lanatmwan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@dsk-2015 Hi, can you please check it?

[2018-10-26 05:30] YutongTie-MSFT commented on #17659
@AUFOOD Hi, can you please tell us what issue you are suffering and which document you are referring to? Thanks a lot!

[2018-10-26 05:32] YutongTie-MSFT commented on #17664
@IntvPrime Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cjgronlund Hi, this customer is asking more examples, can you please take a look and update the document? Also, can you please update the author as well. Thanks.

[2018-10-26 05:34] YutongTie-MSFT commented on #17570
@xudifsd We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-26 05:34] #17570 closed

[2018-10-26 05:34] YutongTie-MSFT commented on #15365
@ermacia91 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-26 05:34] #15365 closed

[2018-10-26 05:35] YutongTie-MSFT commented on #11541
@amandadebler We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-26 05:35] #11541 closed

[2018-10-26 05:35] YutongTie-MSFT commented on #8704
@mdaghrir We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-26 05:35] #8704 closed

[2018-10-26 05:37] #15717 closed

[2018-10-26 05:41] mcurko commented on #17567
OK, I understand now: to access "App registrations (Preview)" one has to opt it in through "App registrations" first, that's the source of confusion.

The example works fine now!

Thanks,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │

[2018-10-26 05:47] jakaruna-MSFT commented on #17360
@bob999c Status should move to ready within minutes.
If its not, we need to look at the pods logs created by that deployment.
@bob999c  @lukenny Please look at the pods logs.
I have deployed my autoscaler in kube-system namespace.

[2018-10-26 05:52] qibozhu commented on #17351
@sandervandevelde Hi, Sander, could you please do the following inside container
1. run "ulimit -c unlimited"
2. run "dotnet PlatformBlob.dll /blobroot"

See if a dump can be generated in the current directory. I found this info at this link:
https://stackoverflow.com/questions/47606532/illegal-instructions-core-dumped-error-on-launch-of-my-application-in-ubuntu-1

Also, could you check if the log

[2018-10-26 05:53] jakaruna-MSFT commented on #17360
@jpconnock   The author of this page is no longer available for assignment.
We need to change the API version in the Yaml file. Please suggest.
CC: @MicahMcKittrick-MSFT

[2018-10-26 05:54] jakaruna-MSFT commented on #17385
@nazneen84  any update on this?

[2018-10-26 05:58] saifuddin123 opened #17668 "Error in Build & Push of module"
Hi, following the documentation i am seeing below error while build & push of module:

PS D:\Temp\Hydro\edge\HydroEdgeSolution> docker build  --rm -f "d:\Temp\Hydro\edge\HydroEdgeSolution\modules\PythonModule\Dockerfile.amd64" -t diicedgerep.azurecr.io/pythonmodule:0.0.1-amd64 "d:\Temp\Hydro\edge\HydroEdgeSolution\modules\PythonModule" ; if ($?) { docker push diicedgerep.azurecr.io/pythonmodule:0.

[2018-10-26 06:01] PramodValavala-MSFT commented on #17645
@helloguo You should be able to add your Azure Stack to Visual Studio by following this [doc](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-install-visual-studio#connect-to-azure-stack-with-ad-fs).

Once you have it added as a Cloud provider, you should be able to deploy resources to that subscription as usual.

[2018-10-26 06:02] jakaruna-MSFT commented on #17520
@porrascarlos802018 That document has couple of suggested scenarios. I believe we don't have a separate document specific to that scenario.
Generally container instances will be deployed on a subnet delegated to the Container instances. So no other resources can go into that subnet (like vms).  We can deploy databases in a seperate subnet and  communication to and from the container instance subne

[2018-10-26 06:02] jakaruna-MSFT commented on #17520
@dlepow Please provide your inputs

[2018-10-26 06:12] PramodValavala-MSFT commented on #17631
@dapathy Thanks for your feedback! We will investigate and update the doc if necessary.

[2018-10-26 06:28] walsehgal commented on #15655
@AshikJayaram: are you located in India? or if your are located in one of our unsupported regions then we would like you to know that we are working towards the support for most of those regions by the end of this year as we will have the correct geopolitical map views for those regions by then. Your issue might be because currently we block unsupported regions based on the client IP based in unsu

[2018-10-26 07:04] Philippepaiola commented on #17582
Hi,

I don't want share a document that i want to update because it doesn't
exist. There is no document about how to migrate disk managed from one
region to an other region in an other subrscription. I would like to write
it !
Link (in french) of my document :
https://www.linkedin.com/pulse/migrer-des-disques-g%C3%A9r%C3%A9s-azure-vers-un-autre-et-dans-une-paiola/

<https://www.linkedin.com/pulse/

[2018-10-26 07:09] walsehgal commented on #17057
@apan64, the issue has been resolved.
@bironology, please see the updated interactivesearch.html and use **map.events.add** (https://docs.microsoft.com/javascript/api/azure-maps-control/atlas.map?view=azure-iot-typescript-latest#events) in the future.

[2018-10-26 07:33] pvrk commented on #14231
@jtuliani : Thanks for the feedback. I see that the key requirement is to able to select a channel for failures, SMS in this case. While, technically speaking, activity logs do capture failures as well, we realized that our backup and restore operations fit the definition of diagnostic logs, not activity logs. We are planning to work with Azure Monitor team so that you can define/leverage Action g

[2018-10-26 08:05] fguerri opened #17672 "Confilicting content in the list of services supported over the Microsoft peering"
Azure DevOps Services Load Testing is listed both among the supported and the not supported services. According to this blog post (https://blogs.msdn.microsoft.com/devops/2018/10/23/expressroute-for-azure-devops/), it should be supported, along with the other DevOps services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-26 08:06] KetanChawda-MSFT commented on #15717
@options
We have made necessary changes to the docs and created a PR.

Thanks for bringing this to our attention.

[2018-10-26 08:13] vmehmeri opened #17673 "Document behavior for nested template deployed in incremental mode, when parent template is in complete mode"
I don't believe this is expected behavior but when I deployed an NSG in complete mode, from a template that had a nested template in incremental mode (the nested deployment being a subnet deployment, so that the NSG would be associated to a subnet on a different resource group), what ended up happening is that the subnet deployment was done in complete mode apparently (I lost existing properties o

[2018-10-26 08:52] cowinr opened #17674 "Location of swagger.json"
In the section "Import and publish a back-end API" step 4. where does APIM look for the swagger.json file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 574b6ae8-8902-fbee-d4a3-f819701b777a
* Version Independent ID: 7e4b8d50-2281-02a1-bf5f-794b9e59ad17
* Content: [Import an API App as an API with the Azure portal](htt

[2018-10-26 09:02] hylinux opened #17675 "I think this Article almost running on VS 2015, but since VS 2017, the whole project struct were changed. is there someone can help take a look about this?"
I think this Article almost running on VS 2015, but since VS 2017, the whole project struct were changed.  is there someone can help take a look about this?thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a38d0a7-62c6-6f37-60d8-3dc3ec1658c6
* Version Independent ID: bfc1d86b-74dd-ce43-9ddb-1160020b30e1
* Content:

[2018-10-26 09:20] pvrk commented on #14195
@jtuliani In the section Create a VM from restored disks, Point 4 talks about all combinations of VM (Encrypted vs non-encrypted and Managed vs unmanaged). There is a point which talks about attaching data disks to an managed, encrypted VM.

While using powershell, the basic idea is to provide the user disks (both unmanaged and managed). Once disks are provided, you can always refer to Azure compu

[2018-10-26 09:21] pvrk commented on #14267
@rayne-wiselman if required, please open an issue to create an equivalent page for CLI and assign it to me.

[2018-10-26 09:30] imeya opened #17676 "what is the meaning of 50th, 95th, 99th percentile in perfomance page"
In section "Start monitoring in the Azure portal", the 3rd part:
what is the meaning of 50th, 95th, 99th percentile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aac1b63-5869-0b8b-bf20-af6a6e5caaac
* Version Independent ID: f818c3a1-24fd-db14-ec1c-ec8db4d2d7fe
* Content: [Quickstart Monitor Websites with Azure Monit

[2018-10-26 09:31] smoms commented on #17310
@sergaz-msft can you please explain how Storage Explorer can connect to blob on RPi? I tried to add another account "Use a storage account name and key" but nothing happens..

[2018-10-26 09:47] MohitGargMSFT commented on #17658
@eschrader Thanks for the feedback. We will investigate and get back on it.

[2018-10-26 09:48] saifuddin123 opened #17677 "Error while building the Python module"
Hi,
Following the documentation to create and deploy the Python Module. When i try to "Build & Deploy Iot edge solution" i see this below error.

PS D:\Temp\Hydro\edge\HydroEdgeSolution> docker build  --rm -f "d:\Temp\Hydro\edge\HydroEdgeSolution\modules\PythonModule\Dockerfile.amd64" -t diicedgerep.azurecr.io/pythonmodule:0.0.1-amd64 "d:\Temp\Hydro\edge\HydroEdgeSolution\modules\PythonModule"
Sen

[2018-10-26 09:49] smoms commented on #17310
@mbialecka thanks for your reply. I am using following code:

`
string storageConnectionString = "DefaultEndpointsProtocol=xxxxxx";

            // Check whether the connection string can be parsed.
            if (CloudStorageAccount.TryParse(storageConnectionString, out storageAccount))
            {
                try
                {
                    // Create the CloudBlobClient that rep

[2018-10-26 10:11] smoms commented on #17280
@sergaz-msft so by running that example i can see RPi is indeed uploading D2C messages.

[2018-10-26 10:48] DBANFD opened #17680 "Possible error in the text"
Hello
I think that step number 7 should tell me to click no instead of yes?
On the appname - Properties screen, select Yes for Visible to users?.
Regards
Bill Andersson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e1110f-232a-659e-d35e-06044409d4fa
* Version Independent ID: b419025c-acc1-ed0e-3d4d-e22721d6796b
* Co

[2018-10-26 11:01] PhilipCotan opened #17682 "Access user password or custom defined variables (i.e. named values)."
Hi! I'm in a situation where on the profile page (applications template to be more specific) I need to have access to the users' password or named values (or other sort of custom defined variable). Is that possible or is this something that you guys plan to introduce in the near future?

Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-10-26 11:40] tFable commented on #16211
Thank you, all.

[2018-10-26 11:41] tFable commented on #16501
Thanks, @tjvishnu.

[2018-10-26 11:42] Nareshkadali commented on #17089
Thanks alot @paulowendevelopment
now it's working for me

[2018-10-26 11:58] hning86 commented on #17222
from within a run there are several ways:
1. if you log an array of numeric values, we show a chart automatically.
2. if you log a single numeric value with the same metric name repeatedly (like from within a loop), we show a chart automatically.
3. if you log a row with 2 numerical columns repeatedly (like from within a loop), we show a 2-variable chart automatically.
4. if you log a table with 2

[2018-10-26 12:19] BaAlexandru commented on #17507
@erhopf Thank you for your help. Now I Managed to test the API with .ogg file, the problem was that I used default vorbis codec. Now I'm using [ffmpeg ](https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg) to encode in OPUS and it works very well.
One more thing that I observed is that content-type in the header of the request is not mandatory.

[2018-10-26 12:20] rams78 commented on #11401
Please enable container delete based on age

[2018-10-26 12:36] tuannait96 commented on #10859
thank you

[2018-10-26 13:09] genlin commented on #16968
@algattik Thanks for submitting the issue.  I will update the article.

[2018-10-26 13:18] AronT-TLV opened #17684 "Do yo really need to add a NAT virtual switch"
Since forever, Hyper-V creates it's own NAT virtual switch called `nat` which you can use for the stuff noted above. It's a bit confusing when you follow the instructions above, issue the `Get-NetAdapter`, and see two internal adaptors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c8

[2018-10-26 13:28] rh1701 opened #17686 "OAuth HW Token"
I've add 2 tokens to the interface but I don't seem to be able to authenticate with either, is the public preview available for all tenants? Can a user have more the one HW token, will there be a identify or enable the hw token in the user security portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c9

[2018-10-26 13:36] kevinrestiaens opened #17687 "Paging with offset does not work"
Hi,

I'm paging using offset's and count's like:

Page 1: https://api.cognitive.microsoft.com/bing/v7.0/search?q=(site: www.niko.eu/nlbe)dimmer&mkt=nlBE&responseFilter=webPages&count=24&offset=0

Page 2: https://api.cognitive.microsoft.com/bing/v7.0/search?q=(site: www.niko.eu/nlbe)dimmer&mkt=nlBE&responseFilter=webPages&count=24&offset=24

Page 3: etc...

The issue is that the TotalEstimatedMatch

[2018-10-26 13:39] kkho commented on #17573
Any updates on this @YutongTie-MSFT ?

[2018-10-26 13:47] jpalo opened #17688 "Sending data to DT from Stream Analytics"
Is it currently only possible to send in data to DT from IoTHub, or is there a way we can send in data from Stream Analytics? Our devices are not connected to IoTHub, but send data to Event Hub and Stream Analytics is connected to EH.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7028fa-961b-c7da-212d-686ba8672130
*

[2018-10-26 13:49] genlin commented on #16897
@andrewatfornax Sorry for that. The document is hosted on [the EA portal](https://ea.azure.com/). We have to log into the EA poral first. I will send the feedback to our product team to see if it is possible to open the documents for public.

[2018-10-26 13:52] genlin commented on #16968
I submitted a pull request for updating the article.

This issue will be closed when the pull request is merged. Let me know if you have any other questions about this matter.

[2018-10-26 14:06] cr-gstirling opened #17689 "Build/ reference a template for an AD service"
This page is referenced in the AZ100 training. It requires an AD server to run through AD Connect.
It might be useful to have info on building out a test AD instance to make this useful to us in a course.
Reference to an ARM template would be good. to build out VM that we can then complete this quick start.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-10-26 14:14] antogh commented on #17296
@Mike-Ubezzi-MSFT
thank you for the involvement, I have found a temporary workaround.
I switch to a local account for login when I have to use this feature, so I don't give to Docker inc my Microsoft account password. When I finish I switch again to my Microsoft account for login. Fortunately I dont need to do this often.

[2018-10-26 14:34] zweim1 opened #17690 "Failed to save Enrollment Group after add a custom allocation function at Step 11"
At Step 11, after select the allocation function and attempt to save Enrollment Group, DPS rejects the request with the following error:
{"message":"BadRequest:{\r\n \"errorCode\": 400004,\r\n \"trackingId\": \"97e30dbd-4eb3-43aa-b26f-7730f7eee988\",\r\n \"message\": \"A CustomAllocationDefinition is required when the allocation policy is set to 'Custom'\",\r\n \"timestampUtc\": \"2018-10-26T14:15

[2018-10-26 14:39] jkarnesPerfectCube opened #17691 "Example of copying from Azure File Share to Azure Data Lake"
I understand that you guys are trying to compete with AWS, but there is not good documentation about how to ingest data to a Azure Data Lake from a Azure File Share. I tried using \\&lt;ourStorageServiceNameWentHere.file.core.microsoft.net/&lt;conainter-name&gt; and then had to sit and guess at the username and password. 10 minutes, couldn't get it to work.

For inter-service transfers, there shou

[2018-10-26 14:47] gbisaga opened #17692 "Can I pass template and parameters directly in the request body?"
The examples only show "templateLink" and "parametersLink" properties, both of which are URLs. However, I want to pass the template and parameters directly as part of the request body. Is this possible? This document says at the top "Your template can be either a local file or an external file that is available through a URI." I think the "local file" option is the one I want, but I'm not sure how

[2018-10-26 14:50] smoms opened #17693 "automatic upgrade"
I am not sure if part of this content: how can i make sure that when i push changed code for a module (e.g. in registry) one or many Edge devices automatically detect changes and download new module's image? And how can i do it programatically?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 877a68cb-b6ad-52a2-

[2018-10-26 14:57] #16968 closed

[2018-10-26 14:58] cr-gstirling commented on #17689
AZ100 has associated labs on https://lms.godeploy.it/

We've not referenced this as much during this training, but there is the requisite instances there to use this document. Modification as per my last comment may not be required.

[2018-10-26 15:19] genlin commented on #16667
@DavidADoran @vaheyev Is it a pay-as-you-go subscription? This feature is only available on pay-as-you-go subscription.

[2018-10-26 15:21] novaterata opened #17694 "Only / path works. How to get HTTPS without Ingress, i.e. I want to keep my ports"
I've followed all the instructions here and only the `/` path works, anything else like `/foo` only the index works, any sub-path strips the `/foo` part. Like the most basic functionality of ingress doesn't work. And anyway I just want HTTPS with AKS, but this is the only guide for HTTPS I could find. How to get HTTPS without Ingress

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-10-26 15:26] andersjohansenange opened #17695 "How to close tabs in Azure Data Explorer (web)"
CTRL+N gives you a new tab, but how do you close them again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0fe92a-90be-c666-9d29-fe3d4eb68b27
* Version Independent ID: db56e6c1-c71b-7d84-4e38-1c555db1fa67
* Content: [Quickstart: Query data in Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/

[2018-10-26 15:30] mohibakhan opened #17696 "Stream Analytics Job on Edge not running"
I'm following https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-stream-analytics and https://docs.microsoft.com/en-us/azure/iot-edge/quickstart to deploy Stream Analytics job on Edge Device.  The tempSensor seems to work correctly after being deployed.  However, the stream analytics job isn't.  I'm getting System.AggregateException.

This is the screenshot of the module page.  All th

[2018-10-26 15:33] AdamSharif-MSFT opened #17697 "How to manually install Mellanox drivers?"
I had an issue where I tested disabling/enabling Accelerated Networking (AN) and sometimes when enabled, I didn't see the Mellanox drivers installed on Ubuntu 16.04LTS (lspci command), even though Resource Explorer clearly showed the network profile had AN enabled. In such scenarios, is there a way to manually install the driver, rather than deleting and re-creating the instances?

Thanks,
Adam

-

[2018-10-26 15:41] MicahMcKittrick-MSFT commented on #17684
Thanks for the question! We are investigating and will update you shortly.

[2018-10-26 15:42] tfitzmac commented on #17673
@vmehmeri - thanks for your feedback. I see that this behavior is not clear in the article. The deployment mode determines whether a resource is deleted. It is not related to preserving properties on a resource. So, if you redeploy a resource with different properties (like not including the route table on the subnet), it is processed as an update to the resource. Since the property was not includ

[2018-10-26 15:49] msLinuxNinja opened #17698 "Ubuntu Cloud Images | Should specifiy that the waagent can still manage swap"
On the Ubuntu Cloud Images section, it should specify that the waagent settings do not apply during provisioning as cloud-init takes care of that.
Settings like ResourceDisk.EnableSwap can still be used through the waagent to manage swap after provisioning.
A node should be added that swap can still be managed through the waagent if its not defined during provisioning.

---
#### Document Details

[2018-10-26 15:51] TomArcher commented on #17583
@MicahMcKittrick-MSFT I've updated the article to reflect the latest TF provider. #please-close

[2018-10-26 15:52] #17583 closed

[2018-10-26 16:28] YutongTie-MSFT commented on #17687
@kevinrestiaens Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hi, do you have any idea about this? Can you please also update the author of the document? The MS alias and the author seems not the same person. Thanks.

[2018-10-26 16:28] rahejaps commented on #17515
I saw this morning. Is there a way to do with powershell?

Thank you

Parvinder Raheja

[2018-10-26 16:29] erhopf commented on #17687
@YutongTie-MSFT please assign this issue to @aahill. He is the writer for Bing services.

[2018-10-26 16:29] YutongTie-MSFT commented on #17696
@mohibakhan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 16:31] YutongTie-MSFT commented on #17688
@jpalo
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@alinamstanciu Hi, can you please take a look? Thanks a lot!

[2018-10-26 16:38] #17673 closed

[2018-10-26 16:41] tfitzmac commented on #17692
@gbisaga - thanks for your feedback. Yes, you can add those directly in the request body by using the template and parameters properties. I will add an example to this article.

[2018-10-26 16:44] jeffhollan commented on #16263
[From this test](https://github.com/Azure/azure-webjobs-sdk/blob/246f634d7225a0cad2edb49da012ed067b2366ff/test/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Queues/QueuesOptionsTests.cs#L65-L73) it appears that both are valid but adding @mathewc and @paulbatum to confirm

[2018-10-26 16:44] dlepow commented on #17136
@clangnerakq @jakaruna-MSFT - I will ask the engineering team to investigate. Thanks all for the info.

[2018-10-26 16:44] TJHAutoLtd opened #17701 "User must be in master database error"
Msg 5001, Level 16, State 5, Procedure sp_set_firewall_rule, Line 1 [Batch Start Line 0]
User must be in the master database.

returned when trying to add a firewall rule for ABC database using

EXECUTE sp_set_firewall_rule @name = N'ContosoFirewallRule',
   @start_ip_address = '192.168.1.1', @end_ip_address = '192.168.1.10'

from SQL management studio 17.5

---
#### Document Details

⚠ *Do not ed

[2018-10-26 16:45] marstr opened #17702 "Inconsistent Hex Response Code"
In the [Peek operation response definition](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#response-1), one response code is give in base10 as `200`. Another response code is given in base16 as `0xcc`. While I can confirm that the response code that comes back is `0xcc`, I would have preferred the documentation wrote it out in base10 as `204`.

---
#

[2018-10-26 16:46] kasangi opened #17703 "Article uses "slick" throughout"
See https://worldready.cloudapp.net/Styleguide/Read?id=2700&topicid=33540. Not all users are clicking!

https://worldready.cloudapp.net/Styleguide/Read?id=2700&topicid=26472

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4255f572-38cc-08aa-6fb7-08c919713cf9
* Version Independent ID: c04fe4dd-e75d-1028-8f2e-154d8c303da2

[2018-10-26 16:47] jeffhollan commented on #16263
Nope maybe not. Definitely does support time interval.  Will need to see if this was a change between v1 and v2. Thanks for raising

[2018-10-26 16:51] cynthn commented on #17515
@rahejaps No, not that I know of. You need to use the AWS CLI to do the export. Once you have the VHD, you can switch over to PowerShell to do the upload to Azure and create the VM, which is a topic that should be linked at the end of the article.

[2018-10-26 16:51] YutongTie-MSFT commented on #16715
@MarkusVi @SaurabhSharma-MSFT Can you please take a look?

@xNiklasJern I will reopen this issue for you.

[2018-10-26 16:53] YutongTie-MSFT commented on #16475
@PatrickFarley https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/QuickStarts/CSharp-analyze#RecognizeText Should be this one.

[2018-10-26 16:57] gacurtin commented on #15588
Has anyone had success with moving a managed image?  I have registered with the namespaces as shown above.  Still getting this error:

{"code":"ResourceMoveProviderValidationFailed","message":"Resource move validation failed. Please see details. Diagnostic information: timestamp '20181026T152013Z', subscription id 'c510ccb2-1976-47f0-a901-7a2528b1cb23', tracking id '94d90948-71d0-4f7b-b4f1-7c05f44

[2018-10-26 16:57] YutongTie-MSFT commented on #17641
@EncryptionSpecialist
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 16:59] YutongTie-MSFT commented on #17651
@pacmand
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 17:01] YutongTie-MSFT commented on #17653
@fowl2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@MGoedtel Hi, can you please take a look? Thanks a lot!

[2018-10-26 17:02] YutongTie-MSFT commented on #17655
@fowl2
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 17:02] Alberto-Vega-MSFT commented on #17204
@smoms We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-26 17:02] #17204 closed

[2018-10-26 17:07] mentalinc commented on #16750
Thanks, all working as expected. My servers were auto patched last night with no interaction (besides readding the severs to a "Scheduled update deployments")

[2018-10-26 17:07] jason-j-MSFT commented on #17665
@MarkAtAgilliance Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 17:11] mike-urnun-msft commented on #17682
Hi @PhilipCotan Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-26 17:12] mike-urnun-msft commented on #17674
Hi @cowinr Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-26 17:13] Karishma-Tiwari-MSFT commented on #17515
@cynthn Thank you for sharing your insights. :)
@rahejaps Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-26 17:13] #17515 closed

[2018-10-26 17:14] Alberto-Vega-MSFT commented on #17406
@sumit5grg5 This might be a bug https://community.powerbi.com/t5/Service/Spark-Connector-Scheduled-Refresh-Failing/td-p/510432 This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help ge

[2018-10-26 17:18] MicahMcKittrick-MSFT commented on #17694
Thanks for the question! We are investigating and will update you shortly.

[2018-10-26 17:18] MicahMcKittrick-MSFT commented on #17698
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 17:18] Karishma-Tiwari-MSFT commented on #17698
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 17:22] mathewc commented on #16263
Yes, I've confirmed that there was an inadvertent change between v2 and v3 here. See the PR I just opened here: https://github.com/Azure/azure-webjobs-sdk/pull/1988.

I've updated the wiki doc here to include an example: https://github.com/Azure/azure-functions-host/wiki/host.json-(v2)#sample-hostjson

[2018-10-26 17:32] MicahMcKittrick-MSFT commented on #17604
It will be up to you as the user to determine if you will actually benefit from a higher durability tier. As you mentioned, if your application can handle a scenario such as a hard reboot as if you are using the bronze tier you do not have control over holding off on maintenance updates for a period of time and if you update your scale set instance then you also will not be able to delay updating

[2018-10-26 17:34] Alberto-Vega-MSFT commented on #17423
@pmdci  Are you stuck at a specific step of this guide or document?  Can you share any errors that you are getting? Also Can you provide more details about what you have tried so far?

[2018-10-26 17:34] singhkays commented on #15588
@gacurtin Have you registered the Compute RP as well? Also have you registered both source & destination sub?

[2018-10-26 17:37] MicahMcKittrick-MSFT commented on #17675
@hylinux the steps should still be relevant to VS 2017 as the packaging process is still the same.

Can you provide some more details on issues you are running into?

[2018-10-26 17:38] MicahMcKittrick-MSFT commented on #17684
@AronT-TLV you can still run nested virtualization without this step. However, you need to follow these steps to allow the nested VMs to access the internet. Otherwise, using the default will result in no connectivity.

[2018-10-26 17:44] kobulloc-MSFT commented on #17676
@imeya "A percentile (or a centile) is a measure used in statistics indicating the value below which a given percentage of observations in a group of observations fall. For example, the 20th percentile is the value (or score) below which 20% of the observations may be found."

I hope that clears things up for you.  There are several good examples of percentiles online if you would like to learn mo

[2018-10-26 17:44] #17676 closed

[2018-10-26 17:45] MicahMcKittrick-MSFT commented on #17694
@novaterata I am not seeing anything related to /foo in this doc.

Can you elaborate more on your question?

As per using HTTPs with AKS, the services you deploy are created using a Cluster IP. These IPs are not accessible from the internet. In order to access the services you need to create a ingress route that will direct traffic from the outside to the cluster. Hence, if you want to use HTTPs y

[2018-10-26 17:47] gacurtin commented on #15588
I have. Just verified as well

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Kay Singh <notifications@github.com>
Sent: Friday, October 26, 2018 12:34:54 PM
To: MicrosoftDocs/azure-docs
Cc: Garrett Curtin; Mention
Subject: Re: [MicrosoftDocs/azure-docs] I cannot move the Managed Disk VM across subscription dispite of registering the Microsoft.Compute Resour

[2018-10-26 17:47] tfitzmac commented on #17512
@baywet - was your error an intermittent error that was resolved by retrying the deployment? My understanding is that the suggestion in the error message to retry the deployment is usually the best resolution. But, there may be conditions in the template that I am not aware of. I'd be interested in hearing if you needed to change something about your deployment to resolve the time out.

[2018-10-26 17:50] Alberto-Vega-MSFT commented on #17410
@dovijoel We will now proceed to close this thread. If you have any comments or questions, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-26 17:50] #17410 closed

[2018-10-26 17:51] TravisCragg-MSFT commented on #17672
@fguerri Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-26 17:55] singhkays commented on #15588
@gacurtin Weird, those are that's what you need to do and it's worked for many other folks. Btw, we're removing the sign up requirement in a few weeks as well. In the meantime, to confirm you've done these steps in order ?

1. registered for the feature
2. then registered for the Microsoft.Compute RP again
3. Wait 30 mins or so to confirm the feature status is showing registered
4. Tried to move

[2018-10-26 17:56] baywet commented on #17512
I had a discussion with @jan-eng (I believe this is the right GH handle) by email, in my case the issue was the templates tag parameters as secure strings but expect clear strings to be passed.
However the error message had nothing to do with the issue (that's something to fix in the service) and the documentation doesn't document the timeout error if I remember correctly (that's something to fix

[2018-10-26 17:56] #15984 closed

[2018-10-26 18:02] easycomtec opened #17705 "commands update"
import-module MSOnline
 doesn't work

new way &gt; https://www.powershellgallery.com/packages/MSOnline/1.1.183.17

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content: [Administrator takeover of an unmanaged director

[2018-10-26 18:06] MarileeTurscak-MSFT commented on #17680
@DBANFD
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-26 18:07] KumudD commented on #17647
Fixed. Thanks!

#please-close

[2018-10-26 18:07] MarileeTurscak-MSFT commented on #17686
@rh1701
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-26 18:08] samkreter commented on #16924
@EstebanSmits After looking deeper into this, it seems to be a difference in parsing for PowerShell.  For Linux and CloudShell, wrapping the key=value in single quotes will work. So -e 'KEY=value&value'. For PowerShell adding double quotes around the ampersand to get the same result. For example -e 'KEY=value"&"value' Both will give the same value inside the container.

[2018-10-26 18:12] jason-j-MSFT commented on #17691
@jkarnesPerfectCube
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 18:12] georgewallace commented on #17237
@tFable Thanks for clarifying. You are correct optional updates are not supported at this time. I would recommend starting a user voice for this.

[2018-10-26 18:12] Mike-Ubezzi-MSFT commented on #17695
@andersjohansenange To close the active query interface use: `Ctrl+w`

__Additional Keyboard Shortcuts:__ [Kusto.Explorer keyboard shortcuts (hot-keys)](urhttps://kusto.azurewebsites.net/docs/tools/kusto-explorer-shortcuts.html?)

[2018-10-26 18:13] novaterata commented on #17694
/foo means any path other than `/`

[2018-10-26 18:17] TravisCragg-MSFT commented on #17647
@rodsorbara We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-26 18:17] #17647 closed

[2018-10-26 18:17] Kenneth-Abrams commented on #17194
At Ignite you announced these new VNET Integration features and UI experience. You mentioned that a bug was found and it was not publicly available during the talk but would be released sometime in October. Are we still targeting an October release ? @ccompy

[2018-10-26 18:17] MicahMcKittrick-MSFT commented on #17694
@novaterata still not getting where in the doc you are seeing the issue. Which section? What error?

[2018-10-26 18:17] Mike-Ubezzi-MSFT commented on #17703
@kasangi Thanks for catching this. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-10-26 18:19] novaterata commented on #17694
@MicahMcKittrick-MSFT I'm sorry, the error is not in the docs per se, it's with nginx-ingress not working when following this guide. Only the `/` route works for me, and since the only guide for HTTPS and AKS involves nginx-ingress, I was hoping for an alternative guide using an ingress or load-balancer or proxy whatever that works

[2018-10-26 18:30] Adam-Smith-MSFT commented on #17656
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-26 18:30] #17656 closed

[2018-10-26 18:32] novaterata commented on #17694
I'll just close this since it's not an issue with the documentation. I'm just trying to get HTTPS working and am frustrated by my options

[2018-10-26 18:33] davidsk opened #17706 "AuthenticationFailed: Issuer validation failed"
When clicking the Call Web Api button, I receive an "AuthenticationFailed: IDX10205: Issuer validation failed" message:

Issuer: 'https://kdds.b2clogin.com/31f6db15-24eb-424c-bd2b-a4ee50c049e2/v2.0/'. Did not match: validationParameters.ValidIssuer: 'null' or validationParameters.ValidIssuers: 'https://login.microsoftonline.com/31f6db15-24eb-424c-bd2b-a4ee50c049e2/v2.0/

The guidance on the polici

[2018-10-26 18:35] Adam-Smith-MSFT commented on #17663
@vicperdana Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-26 18:35] Mike-Ubezzi-MSFT commented on #17701
@TJHAutoLtd The T-SQL as you have it detailed above is going to return an error because `spsetfirewallrule` does not exist. The correct name for this SProc is: `sp_set_firewall_rule`

`EXECUTE spsetfirewallrule @name = N'ContosoFirewallRule', @startipaddress = '192.168.1.1', @endip_address = '192.168.1.10'`

Msg 2812, Level 16, State 62, Line 3
Could not find stored procedure 'spsetfirewallrule'.

[2018-10-26 18:36] #17692 closed

[2018-10-26 18:37] Ayanmullick opened #17707 "Reuse saved function"
How do I use a saved function in another query?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773e07ff-6bd8-47b2-5b83-75c7246693e6
* Version Independent ID: 8723d5a6-ac93-0dba-b2b8-83905d807d67
* Content: [Get started with Log Analytics in the Azure portal](https://docs.microsoft.com/en-us/azure/log-analytics/query-la

[2018-10-26 18:38] davidsk commented on #17706
Okay, I found the login.microsoftonline.com value as an option in the API project.  I will open an issue for that document.

[2018-10-26 18:38] #17706 closed

[2018-10-26 18:41] ghogen commented on #14663
My updates to the topic are live now.
#please-close

[2018-10-26 18:43] davidsk opened #17708 "AuthenticationFailed: Issuer validation failed"
When calling the api, the following message is displayed

Issuer: 'https://xxx.b2clogin.com/31f6db15-24eb-424c-bd2b-a4ee50c049e2/v2.0/'. Did not match: validationParameters.ValidIssuer: 'null' or validationParameters.ValidIssuers: 'https://login.microsoftonline.com/31f6db15-24eb-424c-bd2b-a4ee50c049e2/v2.0/

The sample code sets the login.micorosoftonline.com value in the Authentication options;

[2018-10-26 18:43] MicahMcKittrick-MSFT commented on #17694
@novaterata I am happy to help you get it working. Just want to make sure I am understanding the issue correctly so I can provide you with useful and relevant options :)

In my experience, I have ran though this specific doc and I have been able to get HTTPS working. That being said, I have used the ingress controller to route the HTTPS traffic to the node.

If I am understanding you correctly, yo

[2018-10-26 18:44] ghogen commented on #16318
I updated the article with steps for Publish that point out how to hook up the Key Vault during the publishing step.  That should address the problem you were seeing, but if not, feel free to reactivate.
#please-close

[2018-10-26 18:44] SiliconOrchid commented on #16475
@YutongTie-MSFT  @PatrickFarley

Hi guys, in case of confusion, the code example that led to my error report, originated from the  "extract handwritten text" version of the example amongst that documentation ... not the "recognise printed text" version that was linked to in previous comment:

https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts/csharp-hand-text

se

[2018-10-26 18:46] ghogen commented on #16503
Added steps for Publish that show how to make sure the Key Vault info is specified at Publish time.  This should address the issues you're raising. If not, please reactivate.
#please-close

[2018-10-26 18:47] ghogen commented on #16636
Added a note about this.
Thanks!

#please-close

[2018-10-26 18:48] ghogen commented on #9363
Added an item for this. Thanks!
#please-close

[2018-10-26 18:49] iainfoulds commented on #17694
@novaterata  For HTTPS with ingress, it's either this approach to use cert-manager with Let's Encrypt, or generate your own certs and create a Kubernetes secret - https://docs.microsoft.com/en-us/azure/aks/ingress-own-tls

I've tested all these ingress docs in the past few days and can validate they work, so I'm not sure why you're having issues with the different routes unless there's a mismatch

[2018-10-26 18:52] novaterata commented on #17694
Honestly, I just need both my API and admin services accessible via HTTPS, and I just couldn't get a secondary path to work with ningx-ingress, as I've said it only works for the index of the secondary route. Ideally I would be able to keep my topology the same and use multiple ports. I just don't see why this is such a big deal vs path routing. Is there some HTTPS standard that frowns on custom p

[2018-10-26 18:57] TravisCragg-MSFT commented on #17697
@AdamSharif-MSFT the command you will use to install the drivers will depend upon the operating system. If you need assistance, you can open a support request and get the assistance of the Linux SME team.

I will be assigning this issue to the Author to evaluate whether we want to add installation commands to this doc.

[2018-10-26 19:00] novaterata commented on #17694
@iainfoulds I haven't tried with my own certs because I don't have that information yet from whoever has it, I'm just trying to get any HTTPS to work first, then i'll switch to that. My main problem  with routing, either that secondary routes don't work or why I have to do routing in the first place and can't just use my ports.

[2018-10-26 19:01] mike-urnun-msft commented on #17702
Hi @marstr Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-26 19:03] novaterata commented on #17694
For secondary routes am I supposed to use different annotations? the nginx-ingress documentation for their annotations "beg the question" they don't explain what they do unless you already know what they do, e.g. rewrite-target is only ever shown with `/` as a value, why? why would I ever use something else. Is that the problem?

[2018-10-26 19:03] kasangi commented on #17703
Thanks, my comment should have said "click" not "slick"

[2018-10-26 19:05] kgremban commented on #17489
@VercammenG I restested the tutorial and got the same error as you. I also tried deploying just the sample Java module that comes when you create a new solution (without including any of the changes that the tutorial has you make to app.java) and that worked fine.

@shizn could you or your team review the Java tutorial sample?

[2018-10-26 19:10] mike-urnun-msft commented on #17660
Hi @kvsrkrishnan Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-26 19:12] henriquebrisola opened #17709 "Multiples Parameters"
How can I add multiple params for the same runbook?
I tried few ways but none of them have worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28627d8f-9037-7b22-3659-9102a2506eb3
* Version Independent ID: 20d12e2c-4b72-0683-282e-65d8a4b6c9c8
* Content: [Azure Quickstart - Create an Azure Automation runbook](https:/

[2018-10-26 19:14] tFable opened #17710 "P2S VPN Transit to on-premises supported?"
Hello,

I think there is another question worth inserting in this section. I cannot find the answer to this anywhere:

Are VPN Clients connected via P2S to a VNET allowed to access resources outside that VNET and any VNETs that are peered with it? It'd be good to know if "on-premises transit" is supported with P2S.

For example, is a P2S-connected client allowed to access resources on-premises via

[2018-10-26 19:20] mmulhearn opened #17712 "Documentation seems to be out of date"
Following these documents (specifically 'Manual installation') does not work to enable trace logging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7265053-e223-593d-eba7-7dc87c3f9246
* Version Independent ID: 1b8daf9a-78f6-2ccf-ec31-85c125edc44b
* Content: [Explore .NET trace logs in Application Insights](https://do

[2018-10-26 19:20] #16503 closed

[2018-10-26 19:28] kristianjaeger commented on #9363
Thank you!

[2018-10-26 19:28] #9363 closed

[2018-10-26 19:29] novaterata commented on #17694
@MicahMcKittrick-MSFT I just wanted to clarify, that I do get the 2 demo apps running on 2 different routes as described in this document, but since the demo apps are single pages they don't demonstrate routing 2 whole service topologies to 2 routes, so what I'm seeing with my own API and Admin services requires something more complex than a single page.

[2018-10-26 19:36] jeevansd commented on #17602
@aaclage  Now the app is showing the correct pattern in the Azure Management Portal. So please go ahead and configure the app. If you face any issues while doing this integration then please raise a support ticket and we will help you up.
Thanks again.

[2018-10-26 19:36] jeevansd commented on #17602
We have updated the app to match the correct URL. So #please-close

[2018-10-26 19:37] MarileeTurscak-MSFT commented on #17680
@DBANFD that does seem right. @barbkess can you look into this?

[2018-10-26 19:41] MarileeTurscak-MSFT commented on #17689
@cr-gstirling Thanks for providing this idea. I have assigned this issue to the content author, @billmath , to look into this.

[2018-10-26 19:47] MarileeTurscak-MSFT commented on #17708
@davidsk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-26 19:47] kszicsillag opened #17714 "NuGet package references"
- Microsoft.Configuration.ConfigurationBuilders.Basic.1.0.0-alpha1.nupkg -&gt; no such package, maybe Microsoft.Configuration.ConfigurationBuilders.UserSecrets instead?
- for all Nuget references: maybe consider to refer only to the package name and omit the version information. This way the content would stay up-to-date longer. The referred package versions are outdated as the stable versions of

[2018-10-26 19:48] MarileeTurscak-MSFT commented on #17706
@davidsk thanks, I'll look into your other issue on the other thread.

[2018-10-26 19:49] MarileeTurscak-MSFT commented on #17705
@easycomtec
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-26 19:50] rh1701 commented on #17686
Hi Marilee,
Thanks for the reply I've resolved my issues, I was entering incorrect values for the secret key, once resolved everything works as planned. Also a user can have multiple tokens even the same token can be entered more that once which should be an issue

[2018-10-26 19:50] jan-eng commented on #17512
What @baywet describes is correct. We will make the API more robust on the service side and return the correct error (password too long) instead of a timeout. And yes, the password needs to be a string, not a secure string.

[2018-10-26 19:51] MarileeTurscak-MSFT commented on #17686
Thanks for sharing your solution, @rh1701! Glad you were able to resolve this.

[2018-10-26 19:51] #17686 closed

[2018-10-26 20:00] jpmckane commented on #9990
Seriously, you need to update the doc. Same problem with Mac. Wouldn't have learned the solution if I hadn't read the the comments here. The configuration doc for Point to Site Mac should also state the requirements as well.

[2018-10-26 20:02] pivotalguru opened #17715 "Unable to set roleAssignments scope to subscription"
According to the documentation, you can specify either Subscription, Resource group, or Resource when specifying the scope of a roleAssignment.  However, when I try to use the subscription().id, it fails but it works when specifying resourceGroup().id.

example of it working:
{
        "apiVersion": "2017-09-01",
        "type": "Microsoft.Authorization/roleAssignments",
        "name": "[variable

[2018-10-26 20:03] novaterata commented on #17694
@MicahMcKittrick-MSFT Ok, so I tried again, and the issue is more specific, the secondary routes do work if manually accessed, but links are not updated, so it looks like my Dropwizard services might need to be configured differently to use relative paths or something. I'm closing this issue again, thanks everyone!

[2018-10-26 20:03] #17694 closed

[2018-10-26 20:04] TravisCragg-MSFT commented on #9990
@cherylmc can I assign this to you so we can get an update out?

[2018-10-26 20:04] MarileeTurscak-MSFT commented on #17705
@easycomtec I made a pull request with your change (#56296) to be reviewed by @curtand

[2018-10-26 20:04] #17705 closed

[2018-10-26 20:08] tnewton1 commented on #17348
The current version of Confluence is not supported. I keep getting "An unexpected error occurred. Refer to the logs for more information..." but I wasn't able to find the correct log.

[2018-10-26 20:08] MarkusVi commented on #14622
Hi @jasonfare, thanks for the feedback.
I have fixed this.

#please-close

[2018-10-26 20:10] kgremban commented on #15092
Hi @chrislangston, thanks for the feedback. We've been talking about writing an article or more information along these lines, so it's good to hear from the community that this would be useful. Do you have specific scenarios that you're trying to accomplish, so I can get an idea of what kind of info would be helpful as we plan for the new documentation?

[2018-10-26 20:19] gacurtin commented on #15588
@singhkays,  I re-registered and now it works.  I must have missed a step when I originally registered the namespace.  I also registered microsoft.batch.  Not sure if this helped.  Thank you for your help.

[2018-10-26 20:28] kgremban commented on #14719
Hi @gauravagarwal28 , thanks for the feedback. I agree that samples like the C# snippets that are in the runtime article would be helpful for other languages. I'm not sure that the runtime article is the right place to put all of the language examples. What would you think if we put that information in the how-to-develop articles like https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-

[2018-10-26 20:30] cloudmelon commented on #10862
I am still waiting...

Melony

[2018-10-26 20:30] timnam commented on #9835
For my organization, which is approx 100K employees, the case sensitivity issue makes this functionality unusable. AAD is federated to our global directory, and our global directory uses mixed case usernames. I know other large organizations that are in the same boat.  If you are looking for widespread adoption of this capability, we need the ability to use mixed case usernames.

[2018-10-26 20:35] femsulu commented on #17661
@jeffwmiles Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-26 20:37] femsulu commented on #17709
@henriquebrisola Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-26 20:38] tmarinov commented on #13935
Hi,
I am experiencing the same problem by following the tutorial.
I recreated the cluster (and the sp) two times but still External_IP address is still pending.
The only thing is that I am using my own (simpler) yaml:

`apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: pspacemvc
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds

[2018-10-26 20:42] mbialecka commented on #17310
@smoms It depends on your networking and where you are trying to run your code from

You need to use following connection string:
[code]

Where `myBlobEndpoint` is:
1. If you run your code inside IoT module on the same edge runtime: `http://<module name>:11002/<account name>`
2. If you run your code on the machine that is hosting the module, instead of `<module name>` try things like `localhost`,

[2018-10-26 20:47] Karishma-Tiwari-MSFT commented on #17433
@zr-msft Would you be able to share your insights on the customer's question. Thanks.

[2018-10-26 20:53] timnam commented on #17211
So, whether you require a second login when sudoing is configurable via the sudoers file. If you don't want to have to log in twice and your security team is ok with this approach, you can add a line such as this in your sudoers file: "myuser ALL=(ALL) NOPASSWD:ALL". If you don't add a line like this, Linux is always going to ask for a second login.

[2018-10-26 20:54] Karishma-Tiwari-MSFT commented on #17698
@msLinuxNinja I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-26 20:58] wenwu449 commented on #17136
I have used following command to try to repro the issue:
[code]
The command
[code]
will list the path, create a test file and directory, right after the container started.

This is output logs at my end:
[code]
It looks like the mount path is accessible after the container starts.

@clangnerakq , would you please share us the output of your test? maybe with "alpine" image and your iamge?

[2018-10-26 21:00] MicahMcKittrick-MSFT commented on #17694
@novaterata sounds good. Thanks for the collaboration :) feel free to come back to this issue if you have anything I can assist with.

[2018-10-26 21:00] #16636 closed

[2018-10-26 21:01] MarkusVi commented on #13874
Hi @NeighborGeek,thanks for the information.
I have staged an update for this article.

#please-close

[2018-10-26 21:05] poocat commented on #17648
I figured it out!

On my local machine, Python is installed to */opt/local/bin/python3.7*

On the web app server, it's at */usr/local/bin/python3.7*, so, the symlink weren't matched up.

I figured this out by using the SSH tool from the toolbar, and executing:
```which python3.7```

[2018-10-26 21:07] jeevaeastpoint opened #17718 "How to enable Server Side includes in Azure WebApp?"
Have a static website and using Server Side Includes. Deployed to webapp and did not work.
In one of the blogs mentioned that i should add a web.config with below values

`<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="SSINC-htm" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
		</handlers>
	</system.webServer>
<

[2018-10-26 21:09] vhorne commented on #17493
@YoannGUILLO
This has been fixed, and also the application rule has been removed, which really wasn't necessary for the scenario.

[2018-10-26 21:25] v-videba opened #17719 "Switch subscription or directory section"
There should be a subsection for instructions in how to switch between Subscriptions or Directories in the How-to guides - Organization section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [How to add an exi

[2018-10-26 21:30] singhkays commented on #15588
@gacurtin Awesome! glad to hear it worked

[2018-10-26 21:55] langman66 commented on #15092
Hi Kelly  @kgremban .  Thanks for responding.

On the page in question I mentioned that there could be more explanation around the routing rules that might better explain what WHERE NOT IS_DEFINED() is actually doing.

There is a futher link that states "Refer to the module composition articule..." for more info.

The link that is referenced requires the user have to scroll more than half way down

[2018-10-26 22:03] sergaz-msft commented on #17693
@smoms  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-26 22:06] sergaz-msft commented on #17690
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-26 22:20] gottagetgit opened #17720 "Irrelevant Sections"
The "Clean up PowerShell deployment" and "Clean up Azure CLI deployment" delete resource groups that were never created. Perhaps they're meant to remove policies that were just added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658b4c0d-c5b7-3859-c669-8476ba2b3020
* Version Independent ID: 93fb980c-9db6-e522-a15d-ab

[2018-10-26 22:22] gottagetgit opened #17721 "More Useful PowerShell and CLI Examples"
Both the PowerShell and CLI examples on this page contain angle-bracket placeholders for what should be real values.

i.e. --scope &lt;scope&gt;

But what goes in that "scope" variable? Should there not be code in these examples that defines a scope - either subscription level or resource group level or other?

Otherwise, the code can't be used without more research, and the "try it" button isn't

[2018-10-26 22:46] jeevaeastpoint opened #17722 "What about the Server Side Includes support?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-26 22:47] anosov1960 commented on #16643
@christianarg, can you pls tell me how the charge looks on the bill. At the moment, we don't even have the backup meters for deployed. So there is no technical way of billing for the PITR backups. Is it possible that the charge is about the long-term retention backups? Those are optional and have always been billed but during the preview they were billed via Azure Backup service. Now it is include

[2018-10-26 22:49] MarileeTurscak-MSFT commented on #17719
@v-videba
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-26 23:45] peddabavisriram commented on #17626
no where its documented and customer is awaiting on this, appreciate a response on if we can point more than 20 alias records to a single public ip??

[2018-10-26 23:51] peddabavisriram commented on #17625
i have got no update from Quota team on the exact ask of cx, if we will be able to increase the number of alias records pointing a single public ip form 20, as cx see the limit as 20, but what we have been said from quota team is that we wont be able to increase number of records in a record set from 20.

[2018-10-26 23:51] curtand commented on #17617
Hi @gonzalre
I'll dig into this and find out if there are admin roles that can do more. Thanks for your contribution!

[2018-10-27 00:04] hassanbabaie opened #17723 "US EAST 2 Coming out of Preview anytime soon?"
This seems a crazy long time to come out of preview, is this due to major changes required in each region? If so do we know when US EAST 2 might be finished with the preview. As you would expected we want to use it for production availability but preview then cancels that out.

Any information would be great

Hass

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-10-27 00:05] YutongTie-MSFT commented on #17714
@kszicsillag Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 00:07] YutongTie-MSFT commented on #17715
@pivotalguru Hi, can you please tell us which document you are referring to? Thanks a lot!

[2018-10-27 00:08] YutongTie-MSFT commented on #17718
@jeevaeastpoint Hi, can you please share more details about the issue you have, and which document you are referring to? Thanks a lot!

[2018-10-27 00:09] YutongTie-MSFT commented on #17722
@jeevaeastpoint Hi, is this a duplicate of #17718 ? Thanks a lot!

[2018-10-27 00:11] YutongTie-MSFT commented on #17602
@aaclage We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 00:11] #17602 closed

[2018-10-27 00:11] YutongTie-MSFT commented on #17268
@justinyoo We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 00:11] #17268 closed

[2018-10-27 00:11] YutongTie-MSFT commented on #16318
@ccarns We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 00:11] #16318 closed

[2018-10-27 00:11] YutongTie-MSFT commented on #14663
@bjthomson We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 00:11] #14663 closed

[2018-10-27 00:12] YutongTie-MSFT commented on #14622
@We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 00:12] #14622 closed

[2018-10-27 00:12] YutongTie-MSFT commented on #13874
@NeighborGeek We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 00:12] #13874 closed

[2018-10-27 00:26] reicher001 opened #17724 "Key Vault Secrets vs. Keys"
This document states the following.

What are the benefits of doing this with a secret in Key Vault versus a key in Key Vault?

[2018-10-27 00:32] newgamer1117 commented on #17211
Hi timnam :

     Thanks for your advice, but I think that’s not what I thought. Without password to sudo is not secured. But I don’t want to sudo with “another device login” as well. It totally different from cancel all the security mechanism to be sudo.

Sent from Chris Lin

Best Regards,

[2018-10-27 01:04] femsulu commented on #17720
@gottagetgit Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-27 01:04] femsulu commented on #17721
@gottagetgit Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-27 01:05] gottagetgit opened #17725 "CLI example missing required --params"
In order to run, the CLI "az policy assignment create" command needs --params passed to it for tagName and tagValue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658b4c0d-c5b7-3859-c669-8476ba2b3020
* Version Independent ID: 93fb980c-9db6-e522-a15d-ab28bf26d10c
* Content: [Azure Policy sample - Apply tag and its defa

[2018-10-27 01:18] vhorne commented on #17493
#please-close

[2018-10-27 01:31] TravisCragg-MSFT commented on #17710
@tFable Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-27 01:31] gottagetgit commented on #17723
Microsoft says the move to Availability Zones was "the biggest migration in networking history":
https://youtu.be/Kk2Gq7WIN8k?t=483

So it's understandable that they can't just turn it on in every data center overnight.

They completely changed out the networking wiring and hardware in those datacenters.

[2018-10-27 01:32] draggeta opened #17726 "Terraform examples should include the fact that a confirmation is required"
Terraform has been requiring that an apply is confirmed with yes for a while unless you specify a switch to force it.

It might be handy to tell that in the examples. Also, it may be a good idea to tell people to prefer the environment variables over the hardcoded credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-27 02:10] MicahMcKittrick-MSFT commented on #17726
@draggeta thanks for the feedback.

@TomArcher is this something you might be able to look into? I know you work on many of the terraform docs and the listed author does not appear eligible to assign to.

CC @jpconnock

[2018-10-27 02:38] saifuddin123 commented on #17668
This one..
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module

[2018-10-27 03:02] TomArcher commented on #17726
@MicahMcKittrick-MSFT Thanks. Please assign to me.

@draggeta Thanks for the feedback. Regarding the environment variables, I assume you're talking about TF_VAR... variables? I agree. I updated one article recently as a result of a [similar GitHub Issue](https://github.com/MicrosoftDocs/azure-docs/issues/13786).

I'm on vacation right now, so if I don't get to this before then, I'll make these cha

[2018-10-27 05:00] svanbodegraven opened #17730 "No GPU after az aks create"
Follow each cli command in https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#create-an-aks-cluster up to kubectl describe node <NAME>, where Capacity and Allocatable do not list nvidia.com/gpu.

Run kubectl create -f https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/v1.10/nvidia-device-plugin.yml to match --kubernetes-version 1.10.8

Run kubectl describe node <NAME> again and nvidia.

[2018-10-27 05:40] arovillard commented on #16372
The work around did not work for me using raspbian 2018 10 9, it actually broke the os and I needed to re-flash the sd. It would be nice to get this working with the latest raspbian os.
I will try flashing it with the release of 2017-07-5 and changing the kernel but hopefully a real solution can be found.

[2018-10-27 05:52] xsqian opened #17732 "can't find a "connect" button on the Device page"
In this section:
2. Get connection details such as Scope ID, Device ID, and Primary key for the added device by clicking Connect on the device page.
I can't find a "connect" button on the Device page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a591eefb-3d7f-7760-13a2-63c54c516ab0
* Version Independent ID: 28c5ea4a-d

[2018-10-27 07:40] mattallenuk commented on #16500
The latest release of gremlin-javascript (3.2.10) now supports authentication and script submission and I believe it can be and should now be the default recommendation for accessing CosmoDB from Javascript. It has the advantage that it is promise based, has a fluent api that can be used when submitting scripts and it officially supported by Apache. Below is a quick example of how it can be used t

[2018-10-27 09:06] sanjayincloud opened #17736 "Small mistake"
Availability Zones	In Basic SKU, Zone-redundant and zonal frontends for inbound and outbound, outbound flows mappings survive zone failure, cross-zone load balancing.

It should be
Availability Zones	In Standard SKU, Zone-redundant and zonal frontends for inbound and outbound, outbound flows mappings survive zone failure, cross-zone load balancing.

---
#### Document Details

⚠ *Do not edit this s

[2018-10-27 10:43] smoms opened #17737 "Module Build and Push fails"
Hi my build fails a Build and Push step with:

2018-10-27T10:38:23.4352481Z Error happened when fetching os info: Unable to locate executable file: 'systeminfo'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable.
2018-10-27T10:38:23.4403612Z /home/vsts/work/1/s

[2018-10-27 10:57] sandervandevelde commented on #17351
Hello qibozhu,

I tried your suggestions:

root@549c639e2d66:/azure-blob-storage# dotnet PlatformBlob.dll /blobroot
Illegal instruction (core dumped)

but I failed to find the *any* core dump. I even tried to catch all coredump in a special folder as seen in http://www.randombugs.com/linux/core-dumps-linux.html

I now wipe my iot edge runtime and test with a new, fresh one.

[2018-10-27 11:03] smoms commented on #17310
@mbialecka  i am running the client on my laptop. The RPi is reachable of course. I tried successfully:
telnet 192.168.1.103 11002
I have attached the C# code i am using too. This does not work with any of those suggestions.

[2018-10-27 11:04] JohnReeson commented on #12939
See it fixed in [this commit](https://github.com/MicrosoftDocs/azure-docs/commit/a5320ad7ca1e881d2d1d27a4c28ed8dd1f1da25a#diff-b2db1f191a82820c056588d13b098601R88). (#please-close)

[2018-10-27 11:39] tmarinov commented on #13935
My mistake - used wrong password while creating AKS.
Once I set the correct one, after about 2-3 minutes it got the External-IP.

[2018-10-27 11:57] windhc commented on #16023
Is there a plan for mysql 8 ?

[2018-10-27 12:49] brijeshb opened #17738 "What are the limitations on sessions?"
The article does not call out if there is a limit to the number of sessions in a given queue and the impact of sessions on performance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0803fba3-53aa-0d6b-e692-81777f3f7641
* Version Independent ID: fdc839f6-4986-89f2-5334-879559df8511
* Content: [Azure Service Bus message

[2018-10-27 12:59] TJHAutoLtd commented on #17701
As per my first comment I had indeed used the correct sp_set_firewall_rule which is also detailed on this page in the example, I did not use "spsetfirewallrule" which is also why you have a different error message than the one I received and posted about above?

[2018-10-27 13:02] TJHAutoLtd commented on #17701
I should add that I am connected using SQL authentication and leaving all other connection parameters as default, this rule did work but I now have 6 db that all show the same error when attempting to set db - level firewall rules

[2018-10-27 13:13] TJHAutoLtd commented on #17701
having reviewed all the information I have found that it was not entirely clear that the SPoc in this instance should have been sp_set_database_firewall_rule, command has now run successfully and i'll update my notes

[2018-10-27 15:05] jscott3201 commented on #17350
Under the weather so I apologize for the late reply. I figured out the issue in this one instance when calling the Management API from a Node.js Application. There is a bug in the ADAL Node.js Auth library the required an edit to the oauthclient.js file due to the way a resource was issued. See [Git Issue](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/128) for referenc

[2018-10-27 15:05] #17350 closed

[2018-10-27 15:34] EstebanSmits commented on #16924
That is correct Sam. I didn't post my original comment as an "issue", My original comment  was more as information about this issue in powershell\windows and how to properly format as I couldn't find a lot of supporting documentation on  how to format the string . Jakuna's original proposal was to add it to the documentation which  I thought wouldn't be a bad idea for windows\powershell users.

[2018-10-27 15:36] tFable opened #17739 ""Steer" P2S traffic to an NVA"
Hello,

Can I please ask for another scenario to be added to this doc?

What happens if we want to route all P2S traffic to a Network Virtual Appliance that sits in our VNET? Is this possible? If yes, how do we have to use the UDR to achieve this? Do we apply it on the Gatewasubnet?

Thanks,
t

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-10-27 15:43] pratik11jain opened #17740 "Can the autoscaler be stopped gentlly?"
If I delete the autoscaler deployment, I see that sometimes the cluster goes into a weird state (I can't delete some pods, I can see lots of nodes with status Unknown)
Is there a way I can delete the autoscaler deployment and bring it up whenever I want.
And another question is that If the autoscaler has scaled down (to say 10 nodes) and now I want the nodes to be a specific count (say 50), Is thi

[2018-10-27 15:55] MicahMcKittrick-MSFT commented on #17730
@svanbodegraven thanks for reaching out. If you still need assistance just let us know and we can reopen and continue.

[2018-10-27 15:55] MicahMcKittrick-MSFT commented on #17707
Thanks for the question! We are investigating and will update you shortly.

[2018-10-27 15:57] MicahMcKittrick-MSFT commented on #17723
@hassanbabaie as @gottagetgit mentioned, it is a time consuming process. Essentially its setting up a second data center :)

I will dig around offline and see if we have any information we are able to share at this time and update you once I know more.

[2018-10-27 16:08] MarileeTurscak-MSFT commented on #17724
@reicher001
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-27 16:14] MarileeTurscak-MSFT commented on #17724
@reicher001 please open this issue on the specific document you are referencing so we can better assist with this question. Closing this out because it should be created on the doc itself. Feel free to tag me in the comments here and reference the new issue you create.

[2018-10-27 16:14] #17724 closed

[2018-10-27 16:28] YutongTie-MSFT commented on #17725
@gottagetgit Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 16:29] YutongTie-MSFT commented on #17740
@pratik11jain Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 16:30] YutongTie-MSFT commented on #17732
@xsqian Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 16:31] YutongTie-MSFT commented on #17737
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 16:33] YutongTie-MSFT commented on #17739
@tFable Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cherylmc Hi, can you please check this issue, the customer is asking adding another scenario. Thanks.

[2018-10-27 16:36] YutongTie-MSFT commented on #17736
@sanjayincloud Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 16:37] YutongTie-MSFT commented on #17493
@YoannGUILLO We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-27 16:37] #17493 closed

[2018-10-27 16:41] YutongTie-MSFT commented on #17738
@brijeshb Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-27 16:51] xsqian commented on #17732
Actually, I was looking at a simulated device (that doesn't have a connection), for a real device, I found the "connect" button.
Thanks, you can close the issue.

[2018-10-27 16:52] tjhgit commented on #17636
Yes that is right. Somehow it should be mentioned that adding container_settings=task_container_settings in TaskAddParameters, means that the docker container is already started and all commands specified should thus not have the `docker run` in front. Furthermore a best practice would probably be to add `pwd && ls -alh && cd /` just to know where inside the docker container the starting directory

[2018-10-27 16:57] YutongTie-MSFT commented on #14267
@rayne-wiselman @pvrk Hi, do you want me to close this issue,  and if you have done can you please share the ticket to create an equivalent page for CLI? Thanks!

[2018-10-27 17:35] xsqian opened #17741 "ReferenceError: Invalid transport configuration received when run "node connectedAirConditionerAdv.js""
xsqian@[10:33:25]&lt;connected-air-conditioner-adv&gt;% node connectedAirConditionerAdv.js
/Users/xsqian/Projects/IoTCentral/connected-air-conditioner-adv/node_modules/azure-iot-mqtt-base/lib/mqtt_base.js:154
            throw new ReferenceError('Invalid transport configuration');
            ^

ReferenceError: Invalid transport configuration
    at MqttBase.connect (/Users/xsqian/Projects/IoTCent

[2018-10-27 18:11] bartmcleod commented on #14436
@BryanTrach-MSFT It is too long ago, I don't remember which of the images I used for this particular example. I remember that enabling SSH was a problem with the Centos 7 images, because they do not have systemd. So I had to call something like /etc/sshd -d in an entry point or init script. That worked fine when I tested the image locally, but on Azure it only worked one out of hundred attempts ap

[2018-10-27 18:54] wmpauli commented on #15625
@mamccrea , I was finally able to take another look at why my own attempt to changing the time stamps hadn't worked. It turns out it wasn't anything wrong with the format of the timestamps or the json file, but rather that because I wasn't sure what I was doing wrong at the time, I had set the ``custom`` ``job output start time`` to one second before the first time stamp. As I learned now, I have

[2018-10-27 18:59] charanraj-golla opened #17742 "Template limit - Total number of parameters in a template"
The section Template Limits (https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#template-limits) in this post mentions that 256 parameters can be used in a template.
&gt;&gt; ...You're also limited to:
256 parameters....

The other article available at this link (https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-templates-p

[2018-10-27 19:05] Anand-Moghe opened #17743 "Can we add a note for pricing tier for enabling session?"
To enable session id on queue, the user has to select standard pricing tier and I was unable to test it on Basic plan. So can we add some note or clarification somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0803fba3-53aa-0d6b-e692-81777f3f7641
* Version Independent ID: fdc839f6-4986-89f2-5334-879559df8511
*

[2018-10-27 19:49] nschonni opened #17744 "[meta] Cleanup the testing localization repos"
Looks like a few more testing repos got created https://github.com/MicrosoftDocs?utf8=%E2%9C%93&q=azure+test&type=&language= to test something, but haven't gotten cleaned up.
These repos so up when trying to search content in the MicrosoftDocs org and in the https://open.microsoft.com/ portal.
Not sure if making those repos private next time would work for the testing you're doing, but I think if

[2018-10-27 20:00] draggeta commented on #17726
@TomArcher Pretty much. It doesn't need to be TF_VAR, they could also just be the ARM_CLIENT_ID environment variables.

[2018-10-27 20:05] codemasta1 commented on #17619
Getting the token works; text to speech endpoints all appear to be down. Have these been replaced without updating the document? They all return 404.

[2018-10-27 22:40] bdcoder2 opened #17748 "New-AzureRmPublicIpAddress returns IpAddress = "Not Assigned""
I am trying (for the past 48 hours) to use New-AzureRmPublicIpAddress to obtain a public IP address to no avail.  I have literally copied and pasted the code from the examples and the call SEEMS to execute without error, but when I try to examine the IP address, with a statement such as:

Write-Output "Public IP: $(publicipvm1.IpAddress)"

The output is:  Not Assigned

To make matters worse, when

[2018-10-27 22:55] bdcoder2 commented on #17748
Just found this gem in the documentation:

"A public IP address is immediately allocated to this resource as the -AllocationMethod is specified as 'Static'. If it is specified as 'Dynamic', a public IP address gets allocated only when you start (or create) the associated resource (like a VM or load balancer)"

Hence, the "Not Assigned" value because the IP has not been allocated yet.

OK -- got it

[2018-10-28 00:55] Michtian commented on #15082
To use this CMDLet, you must provide the - Credential parameter.
Try this:

$Credential = Get-Credential

So if you try the following, it will work:

Enter-AzVM -ResourceGroupName $YourRGName -Name $VMName -Credential $Credential

[2018-10-28 01:23] ramkumarkrishnan opened #17749 "Static DIP - Static Dynamic IP? Is it static or dynamic?"
What is a "static" DIP (which implicitly stands for Dynamic IP) - what is a static dynamic IPC? This is very confusing.
"VMs are assigned .... A dynamic IP address (DIP) is the internal IP address associated with a VM. You can allocate a static DIP to a VM. If you allocate a static DIP, you should consider using a specific subnet to avoid accidentally reusing a static DIP for another VM."

---
###

[2018-10-28 01:30] MarileeTurscak-MSFT commented on #17744
@nschonni Thanks for the feedback! I've assigned this issue to a content owner of one of these repos, @seguler , to look into.

[2018-10-28 02:02] reicher001 opened #17750 "Preferred model"
This document states "the preferred model is to use symmetric master keys stored as secrets in Key Vault and cached locally".  Is this a statement on the use of symmetric master keys, how the keys are stored in Key Vault, or caching locally?  And there does not appear to be an explanation on the advantages over the alternatives.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-10-28 02:09] YutongTie-MSFT commented on #17748
@bdcoder2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 02:09] YutongTie-MSFT commented on #17741
@xsqian
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 02:11] YutongTie-MSFT commented on #17742
@charanraj-golla Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tfitzmac Hi Tom, can you please take a look about this issue? Thanks.

[2018-10-28 02:13] YutongTie-MSFT commented on #17743
@Anand-Moghe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@clemensv Hi, can you please take a look of this issue? Thanks.

[2018-10-28 03:30] MicahMcKittrick-MSFT commented on #17749
Thanks for the question! We are investigating and will update you shortly.

[2018-10-28 03:56] scovetta opened #17760 "The two links to the Terms and Conditions are broken."
The links redirect back to www.microsoft.com (an indicator that the aka.ms link is incorrect).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39a17189-2b75-590c-f959-72e05dd81749
* Version Independent ID: 9e1ad407-4b7a-8116-a254-48b1922da502
* Content: [Cortana Intelligence Competitions FAQ](https://docs.microsoft.com/

[2018-10-28 04:02] scovetta opened #17761 "Broken link to http://aka.ms/installconfigsrv"
There's a link on https://docs.microsoft.com/en-us/azure/site-recovery/azure-stack-site-recovery pointing to http://aka.ms/installconfigsrv, which is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5874d44-7b43-f06b-29bb-35bd208f9c88
* Version Independent ID: cb8929b9-7320-ee3f-cee4-92c274577a25
* Content: [Rep

[2018-10-28 04:45] polarapfel opened #17762 "Add information if Azure Files does support the CIFS Unix Extensions"
There is no information to be found if Azure Files provides the equivalence of CIFS Unix Extensions. What CIFS mount options are supported by Azure Files?

Please provide an answer about CIFS Unix Extensions in this FAQ!

Please add detailed information which CIFS mount options (as found in the CIFS util man page, https://linux.die.net/man/8/mount.cifs) are supported by Azure Files.

Thank you.

-

[2018-10-28 05:33] tkanngiesser opened #17763 "training doc not in sync with jupyter notebook"
This site here does not seem to be in sync with the Jupyter notebook (example code snippet to create a compute target). It might be worth to use a Jupyter Notebook as single source to generate this site and to create the example notebook to keep them in sync.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f

[2018-10-28 05:49] diwsun opened #17764 "Automatic remediation"
Is the deployIfNotExists policy able to do the remediation automatically or does the remediation task can be created only manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d433a1-4e81-e226-e835-639daa90dab4
* Version Independent ID: ab3aa1ad-f438-e2a1-5556-9f9b6269ba76
* Content: [Remediate non-compliant resou

[2018-10-28 05:51] diwsun commented on #16496
Please share details about manual triggers since it would really help while testing custom policy definitions.

[2018-10-28 06:01] polarapfel opened #17765 "CIFS mount options supported"
Please add detailed information what CIFS mount options are supported. It doesn't seem like CIFS Unix Extensions are provided through Azure Files, neither are Services for Unix (SFU). This has implications as to file ownership and file permissions. That information needs to be on this page.

From my own findings and experimenting with CIFS mount:

Azure Files does not seem to support CIFS Unix Ext

[2018-10-28 06:02] polarapfel opened #17766 "Mounting a share with quota enforcement on the mount point"
Shares mount with 5TB disk space available. Please provide information on how to mount a share while specifying a quota lower than 5TB on the mount point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Content: [Use Az

[2018-10-28 07:15] nschonni opened #17770 "What is azure-portal-docs-mapping.json used for?"
Looks like [this file](https://github.com/MicrosoftDocs/azure-docs/blob/master/azure-portal-docs-mapping.json) might have existing before the `.openpublishing.redirect.json` was added to the platform and doesn't appear in the translated repos. Is this still used, or has it been replaced with the redirect?

[2018-10-28 08:14] xenalite opened #17774 "Copy non-object types?"
Rather than creating an array of objects in variables copy, I would like to create an array of strings. Basically a projection of properties from an array of input objects. Something like this:
[code]
Is this possible by any means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71b5b6-0a86-b261-4fb3-e31ca6a12ec3
* Ve

[2018-10-28 08:32] SaurabhSharma-MSFT commented on #17499
@mschwit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-28 08:32] #17499 closed

[2018-10-28 08:34] SaurabhSharma-MSFT commented on #17577
@sameer-pattanaik It may be issue with your internet browser's setting.  I am not seeing any issue with downloads. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-28 08:34] #17577 closed

[2018-10-28 09:59] bjthomson commented on #14663
I posted this as a bug in Visual Studio, titled "Unexpected and inconsistent keyvault behaviour". The Developer Community screen doesn't expose a bug Id or url.

The current state of the bug is "We appreciate you taking the time to report this problem. We are currently prioritizing problems that are impacting a broad set of our customers, so we may not be able to investigate this one immediately.

[2018-10-28 12:12] dkbriley opened #17775 "Block access for legacy authentication"
Hi,

I'm not entirely sure if this should be a piece of product or documentation feedback (or both), but...

Under the "Legacy authentication" section, there's the statement "By using legacy authentication, you can configure policies like block access from other clients." I've just tried implementing such a policy, which consists of:

Assignments:

- All users
- All cloud apps
- A single condition

[2018-10-28 12:36] iaasazure opened #17776 "Added support for Windows Server Essentials 2019"
Added support for Windows Server Essentials 2019. There is no mention of Windows Sever 2019 Standard or Datancenter editions, are these supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Conne

[2018-10-28 13:31] SamirFarhat opened #17777 "The Powershell Rest request is related to Azure Storage and not CosmosDB"
New-AzureRmRoleAssignment -ObjectId $spID -RoleDefinitionName "Reader" -Scope "/subscriptions/&lt;mySubscriptionID&gt;/resourceGroups/&lt;myResourceGroup&gt;/providers/Microsoft.Storage/storageAccounts/&lt;myStorageAcct&gt;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589b0c8f-72ea-911e-6ab6-481ef3e24680
* Version I

[2018-10-28 13:41] SamirFarhat opened #17778 "Get access keys from Azure Resource Manager to make Cosmos DB calls : Errors"
- The metod should be Get and not Post
- The API version is not supported. I used for example : 2016-03-31

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589b0c8f-72ea-911e-6ab6-481ef3e24680
* Version Independent ID: f82ccf62-8eb5-ad76-7f72-1636e36f794d
* Content: [Use a Windows VM system-assigned managed identity to a

[2018-10-28 13:49] rayne-wiselman commented on #14267
Yes,you can close this issue. @jtuliani  - please open a bug to create this article.

[2018-10-28 13:55] ashitabh opened #17779 "Web Activity support for self-hosted Integration Runtime"
Is Web Activity capable of calling on-premises Rest API ( not exposed to internet) using Self-Hosted Integration  Runtime . The same code is working for Copy activity , but I need to call PUT command which is not supported by Copy activity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd4

[2018-10-28 14:13] lyesd commented on #12532
@Aksiyom did you find a solution for that problem? I have the same issue

[2018-10-28 15:06] Minewiskan commented on #12532
@Aksiyom @jason-j-MSFT @lyesd The July release of PBID includes a new compatibility level. Azure Analysis Services does not support this new compatibility level if Preview features in PBID are enabled. In addition, the web designer feature in which the Import PBIX feature is part of is deprecated. For Azure AS models, it is recommended you use SSDT or VS 2017 with AS Project packages to create and

[2018-10-28 15:53] Aksiyom commented on #12532
I know and thanks for comment but environment in SSAS is not very comfortable,  prototyping with pbi easy and fast so I believe pbix import should be continued

[2018-10-28 16:17] lyesd commented on #12532
Thank you guys for your quick response!
@Minewiskan that is too bad if they really discontinue this feature... It was excellent for prototyping and industrializing AS model, it was true AgileBI! Regarding the preview features, I disabled all of them and respected all the stated conditions and still I had the issue.
@Aksiyom , thanks for your response I really hope that this feature will be kept...

[2018-10-28 16:31] YutongTie-MSFT commented on #17770
@nschonni Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sewatson Hi, can you please take a look? Thanks.

[2018-10-28 16:32] alundiak opened #17783 "Visible coment enclosing "-->" on page."
In section "Project personality chat to handle bot small talk. `

Looks like should be list out there, but I see enclosing tag for HTML comment. I assume some UL/List should be, but not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 902be7bb-e623-ff49-9d9d-e53f17161f06
* Version Independent ID: be07779d-229f-5ce4-5ea3

[2018-10-28 16:33] YutongTie-MSFT commented on #17779
@ashitabh Hi, can you provide more information about which document you are referring? Thanks.

[2018-10-28 16:35] YutongTie-MSFT commented on #17760
@scovetta Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi Hai, can you please check and update the document? Thanks.

[2018-10-28 16:36] YutongTie-MSFT commented on #17763
@tkanngiesser Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86 Hi Hai, please check this feedback and update the document as necessary? Thanks.

[2018-10-28 16:37] YutongTie-MSFT commented on #17764
@diwsun Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:38] YutongTie-MSFT commented on #17774
@xenalite  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:39] YutongTie-MSFT commented on #17778
@SamirFarhat  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:40] YutongTie-MSFT commented on #17777
@SamirFarhat  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:40] YutongTie-MSFT commented on #17776
@iaasazure  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:41] YutongTie-MSFT commented on #17775
@dkbriley  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:43] YutongTie-MSFT commented on #17750
@reicher001  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-28 16:44] YutongTie-MSFT commented on #17761
@scovetta Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rayne-wiselman Hi, can you please take a look? Thanks.

[2018-10-28 16:45] YutongTie-MSFT commented on #17762
@polarapfel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@RenaShahMSFT Hi, can you please take a look? thanks a lot!

[2018-10-28 16:46] YutongTie-MSFT commented on #17765
@polarapfel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@RenaShahMSFT Hi, can you please check this feedback and update the document as necessary? Thanks a lot!

[2018-10-28 16:46] rayne-wiselman commented on #17663
Those details are in the architectural article here - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture#replication-process

[2018-10-28 16:49] #14267 closed

[2018-10-28 16:51] rayne-wiselman commented on #17161
@ld0614 Replication is continuous for Auzre to Azure and this is documented here - https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture#replication-process

Can you let me know if this is the information you're looking for? thx

[2018-10-28 17:08] jtuliani opened #17784 "2 or 3 peerings"
Text still talks of 3 peerings, but that's obsolete, there are only two now (as shown in picture)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe411166-7001-5d28-c286-def540fa690d
* Version Independent ID: 224e81f0-7093-2f50-cf57-92470f77055a
* Content: [Azure ExpressRoute circuits and routing domains](https://docs.m

[2018-10-28 17:47] Minewiskan commented on #12532
@lyesd For your comment, "Regarding the preview features, I disabled all of them and respected all the stated conditions and still I had the issue." Unfortunately once preview features are enabled, it cannot be undone by disabling. You have to start again with a new model and without enabling any preview features. The model can then be imported into Azure AS at the 1465 compat level.  Keep in mind

[2018-10-28 19:46] RobinTTY commented on #6502
This problem can occur if you're targeting an older Min version of UWP.
Check your Project Properties -> Library -> Targeting: Min Version. If you target 17134 there should be no problem, 16299 might be ok too but I haven' tested it.

[2018-10-28 22:23] jdbdnz opened #17789 "A what now key"
Cannot figure out what a `Ocp-Apim-Subscription-Key` is or where to find one. Googling has all sorts of rabbit holes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b5aec2-8e2c-45e2-b371-963351e9ca3e
* Version Independent ID: c0620c15-6693-8c2d-b169-83f49d715035
* Content: [What is Project URL Preview?](https://docs.

[2018-10-28 22:30] MikeDodaro commented on #17789
This page should supply the information you need: https://azure.microsoft.com/en-us/try/cognitive-services/?api=bing-web-search-api

[2018-10-28 23:15] helderpinto commented on #17614
Thanks for answering, @DCtheGeek! Actually, 'cname' is not a property of 'Microsoft.Network/dnszones'. A particular DNS Zone contains a 'recordset' child resource which unfortunately is not exposed in the query response. This recordset is in turn made of a list of DNS records, which can be of several different types ('Microsoft.Network/dnszones/cname', 'Microsoft.Network/dnszones/soa', 'Microsoft.

[2018-10-29 00:06] Karishma-Tiwari-MSFT commented on #17211
@newgamer1117 Ubuntu and RedHat has a different approach with this. RedHat requires you to do the authentication again on the first sudo call (it will not ask if you make multiple sudo calls in short interval). We decided that the RedHat approach is more secure and used it as the default setting.

That said, it is really easy to revert to Ubuntu way of doing things. You have to edit /aad/etc/sudoe

[2018-10-29 00:10] Karishma-Tiwari-MSFT commented on #17409
@WynneM I am working offline with the product team for this. I will share the updates here.
I will now close this issue. If you have additional questions, tag me in the comment, I will reopen the issue for you and will gladly continue the discussion. Thanks.

[2018-10-29 00:10] #17409 closed

[2018-10-29 00:15] MGoedtel commented on #17661
@jeffwmiles - The preceding sentence (**To configure your workspace for this scenario, see**) links to the section of the at-scale deployment scenario detailing the steps to install the required prerequisites for that deployment scenario, which included ARM template to enable the two solutions - ServiceMap and InfrastructureInsights.  #please-close since this isn't a doc issue and I hope this reso

[2018-10-29 00:51] MattCotterellNZ opened #17796 "Cannot restrict app service based on VIP"
In the section "Get application gateway DNS name", it is noted that since a static public IP address cannot be assigned to the Application Gateway, A records should not be used since the IP address changes. In the following section "Restrict access", it is noted that you can restrict access to the App Service by making use of static IP restrictions.

If the IP address is expected to change every t

[2018-10-29 00:59] YutongTie-MSFT commented on #17784
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-29 01:01] rkondru commented on #16692
Awesome! Thank you!

Rachael Kondru
Onboarding Program Manager
BlueJeans Network | Mountain View, CA
(669) 254-3370

From: Chetan <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Monday, October 22, 2018 at 11:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rachael Kondru <rkondru@bluejeans.com>, Mention <mention@noreply.github.com

[2018-10-29 01:08] PramodValavala-MSFT commented on #17645
@helloguo Just following up... Were you able to deploy your project to Azure Stack?

[2018-10-29 01:16] YutongTie-MSFT commented on #17783
@alundiak
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry
Hi Dina, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-29 01:17] YutongTie-MSFT commented on #17789
@jdbdnz Does it solve you problem?

@MikeDodaro Thanks Mike.

[2018-10-29 01:17] YutongTie-MSFT commented on #16795
@prara06
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 01:17] #16795 closed

[2018-10-29 01:18] YutongTie-MSFT commented on #17661
@jeffwmiles
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 01:18] #17661 closed

[2018-10-29 01:29] YutongTie-MSFT commented on #17722
@jeevaeastpoint This is a duplicate issue. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 01:29] #17722 closed

[2018-10-29 01:31] bsnehanshu commented on #15279
Also, Version 2 ( WAF of Standard) Application Gateway seems to be present only in new locations ( for eg: East US 2, West US 2, Singapore, etc) when it will be available for South East Australia

[2018-10-29 01:31] YutongTie-MSFT commented on #17779
@ashitabh Thanks for the information. I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sharonlo101 Hi, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-29 01:35] YutongTie-MSFT commented on #17668
@saifuddin123 Thanks for your information.

@sergaz-msft Hi Sergio, can you please take a look? Thanks.

[2018-10-29 02:09] YutongTie-MSFT commented on #17488
@rightsmith Please refer to the document for JS: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-js-browser and the Git repo https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/js-browser

I don't think we support things beyond those documents.

[2018-10-29 02:10] YutongTie-MSFT commented on #17517
@jpetitte
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 02:10] #17517 closed

[2018-10-29 02:15] DCtheGeek commented on #17614
@helderpinto Thanks for putting that on UserVoice!  If you don't mind, add the link to your item here for anyone searching and hits the same item.  Since this isn't a docs issue and it's on UserVoice now as feedback, I'm going to ask the team to close this issue.  Thanks again for the question.

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-29 02:51] bdcoder2 commented on #17748
OK - FINALLY got things to work (took nearly a week of trial and error testing) -- and the culprit (yet again) is the lack of documentation!!!!

When I was using code such as the following:
[code]
I (wrongly) assumed that the **New-AzureRmVirtualNetworkSubnetConfig** function would populate the properties of the subnet object.  For example, the $website_subnet.Id property would have a value; turns

[2018-10-29 03:01] prara06 commented on #16795
When i try to run it script. I get following errors.
Find-AzureRmResource : The term 'Find-AzureRmResource' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or
if a path was included, verify that the path is correct and try again.
At C:\temp\Enable-AzureRMDiagnostics.ps1:603 char:21
+ $ResourcesToCheck = Find-AzureRmResource @Fi

[2018-10-29 03:11] MattCotterellNZ commented on #17796
Just an addendum, it appears that the issue I was having was do to with "V1"-style Application Gateways. "Application Gateway V2 (and WAF V2) supports static IPs now, which solves this problem.

Since not all regions support Application Gateway V2 (and V1 is still available as an option), could we look into updating this documentation to explicitly mention this limitation? It's confusing when the

[2018-10-29 03:30] YutongTie-MSFT commented on #17614
@helderpinto We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 03:30] #17614 closed

[2018-10-29 03:32] helloguo commented on #17645
Thank you for your reply! That doc really helps. I probably had other issues not related to this topic. I will close this issue if there are no other concerns.

[2018-10-29 03:32] #17645 closed

[2018-10-29 04:43] KeiroKamioka0000 opened #17798 "Broken URL"
Hi, the URL for For the syntax of the REST API operation for retrieving the POP list, see &lt;Edge Nodes - List.&gt; seems to be broken.
Please fix the URL if possible.

Also, please apply the fix for Japanese Version if possible.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2d68613-eaa2-12ca-d1e8-8fb2278ed

[2018-10-29 04:44] femsulu commented on #17709
@henriquebrisola you can find an example of configuring multiple input parameters [HERE](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-input-parameters#configure-input-parameters-in-powershell-and-powershell-workflow-runbooks).
The example uses 2 params, $VMNme $resourceGroupName. Hope this helps.
![image](https://user-images.githubusercontent.com/34327711/47629813-a03f9200-

[2018-10-29 04:45] femsulu commented on #17709
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-29 04:45] #17709 closed

[2018-10-29 04:47] dcbrown16 commented on #16558
FYI, this is duplicate of #7269, status was that this article was being rewritten as of 3 months ago.

[2018-10-29 05:51] bratzelk commented on #8448
Hi,

When I try the first part, "Request an authorization code" I am getting the following error:
"AADB2C90010 The request does not contain a scope parameter."

The documentation says the scope parameter is ignored. What should the value of the scope parameter be?

[2018-10-29 05:52] bratzelk opened #17800 "Scope Parameter"
Hi,

When I try the first part, "Request an authorization code" I am getting the following error:
"AADB2C90010 The request does not contain a scope parameter."

The documentation says the scope parameter is ignored. What should the value of the scope parameter be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9

[2018-10-29 06:20] keithcn opened #17801 "illustration for the theory of partition"
if we have some illustration to explain how partition works, it will be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da32a62-a60f-1013-bb2f-688c67a446ec
* Version Independent ID: 7a2bf261-0a20-30f0-837d-cf02700034aa
* Content: [Partitioning and horizontal scaling in Azure Cosmos DB](https://docs.microsoft.co

[2018-10-29 06:48] dcbrown16 commented on #16758
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#azure-storage
This is the limitation/documentation you are looking for.
General purpose v2 storage accounts (both hot and cool tiers) are listed as not supported.

[2018-10-29 06:49] n3wt0n opened #17802 "Typo or mismatch?"
In the Paragraph with title "Protect a SQL Server cluster (standard edition/Windows Server 2008 R2)", the title mentions "Windows Server 2008 R2" while in the content there is a mention of "SQL Server 2008 R2".

I believe that the "Windows" in the title is a typo, and it should be changed to "SQL" (the whole chapter is about replicating SQL versions which don't have AlwaysOn support).

Is that the

[2018-10-29 06:54] dcbrown16 opened #17803 "Separating storage information"
I have recently been working with this page to help a customer understand the types of storage accounts that can be used for the replication process, and I am seeing some confusion that could be improved in the document.
The "storage configuration" section has many items dealing with what types of storage can be used on the VMs subject to backup, then suddenly the last two items (at least?) are ab

[2018-10-29 06:56] RipinAggarwal opened #17804 "Business requirement of multiple "$lastUpdated" on Device Twin metadata"
I am following the document and its documented well. Need clarification on having multiple "$lastUpdated" on the Device Twin metadata. In the sample, the node "$lastUpdated" is storing the same values as "2016-03-30T16:24:48.789Z". Will the node values differs? if so please help with the scenario. If not, removing the duplicate will help decrease the size of the device twin message.

---
#### Docu

[2018-10-29 07:30] andriktr commented on #10004
Is it possible to create ftp deployment useri via ARM template ?

[2018-10-29 07:56] gsacavdm commented on #5127
@okaicomputer , this limitation refers specifically to the ability to procure/buy SSL certificates through Azure. Bringing your own CA-issues SSL certificate is supported.

We originally had a bug on the documentation which listed the wrong ServicePrincipal ID (the one you referred to in your post), we have updated it to the correct one.

@BryanTrach-MSFT , can you please close this issue? Thanks!

[2018-10-29 07:57] gsacavdm commented on #5127
#please-close

[2018-10-29 08:10] clangnerakq commented on #17136
@wenwu449 Thank you for your fast answer.
I've tested your command with my image and the alpine image, you are using.
The following lines are my result:

**Alpine Image**

The CLI command is:
(storage setup)

[code]

The log is:
[code]

**My Image**
The cli command is:

[code]

The log is:
[code]

It looks like, the testfile and test directory could be created successfully and without a problem.
N

[2018-10-29 09:42] jeevaeastpoint commented on #17718
@YutongTie-MSFT  I was referring to this https://azure.microsoft.com/en-gb/blog/server-side-includes-ssi-in-windows-azure-web-sites-waws/  but the website doesnt load at all. Not sure what is wrong. There is no other documentation about the server side includes available.

[2018-10-29 09:42] tkanngiesser opened #17809 "notebook does not run"
I tried this walkthrough with a free tier account. I cannot create a Batch AI cluster. I upgraded to pay as go but it still says I need to increase the Cluster Quota.

ClusterQuotaReached : Operation results in exceeding quota limits of Microsoft.BatchAI/clusters. Maximum allowed: 0, Current in use: 0. Please contact support to increase the quota for resource type Microsoft.BatchAI/clusters

---
#

[2018-10-29 09:47] davidsk opened #17810 "Update samples using MSAL.js"
The samples using MSAL.js are not using the latest version of the library.  Either the samples should be updated or perhaps use sample projects maintained by the authors of MSAL.js

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f478fced-6d4d-1d71-1a87-a72868eed194
* Version Independent ID: 2405a406-12bc-34b6-e8dd-e40da

[2018-10-29 09:55] NeighborGeek commented on #15615
I'm also curious as to the status on this.  I'm reasonably sure that this was previously supported.  In fact, I had a ticket with Office 365 support a year regarding trouble with SSO and Edge, and you know they would never invest time troubleshooting something that is not supported.

Has this changed since then?
Is SSO not currently supported with Edge, as the documentation above states?
Has @bill

[2018-10-29 10:05] MaarnV commented on #15732
Hi, what is the status of this bug? its still open?

[2018-10-29 10:40] MourIdri opened #17812 "doc-bug in-progress operations-management-suite/svc"
doc-bug in-progress operations-management-suite/svc

Hi, we trying to implement the following script :

https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solution-office-365#install-and-configure

but we have this error message :

[code]
Is your script still up to date ? any hint ?

[2018-10-29 10:45] paulmackinnon-adv365 opened #17813 "How can I monitor Azure Active Directory Domain Services?"
There is no possibility of installing an agent on this service, so how can I monitor it like shown in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe28c1b-e0f3-b558-e58c-ad32c455cd21
* Version Independent ID: ee336116-b3ec-4e0e-d6e8-b11f6022115e
* Content: [Optimize your Active Directory environment w

[2018-10-29 11:17] KalpeshChaudhari opened #17814 "Auto Sync from the one drive"
Hi,
Is there any way to trigger the auto sync operation on APP service when any changes made in the One Drive? For now, I have to manually click on the sync to fetch the latest changes made on the One Drive so I want to avoid that and want to make this process automated.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-29 11:23] tbdowns opened #17816 "Http output binding link not working on this page"
In this block:
Trigger
The HTTP trigger lets you invoke a function with an HTTP request. You can use an HTTP trigger to build serverless APIs and respond to webhooks.

By default, an HTTP trigger returns HTTP 200 OK with an empty body in Functions 1.x, or HTTP 204 No Content with an empty body in Functions 2.x. To modify the response, configure an HTTP output binding.
https://docs.microsoft.com/en

[2018-10-29 11:37] tomaszbiegacz opened #17817 "Link to definition of latest profiles"
It would be great if this page would also contain link to https://github.com/Azure/azure-rest-api-specs/tree/master/profile describing latest "profile" and "hybrid" profiles. While submitting my feedback I am not sure about statement

&gt; yyyy-mm-dd-profile
&gt; This profile is released for global Azure in June and December.

since last "-profile" is from last year.

---
#### Document Details

⚠

[2018-10-29 11:42] mcurko opened #17818 "Error"
New-AzStorageAccount : A parameter cannot be found that matches parameter name 'EnableEncryptionService'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 770e21da-2a29-9576-483f-a0f6dc48c25f
* Version Independent ID: ca870882-63ec-4bf7-2f60-6ac6a5fb6b64
* Content: [Create a VM and storage account for a scalable applicat

[2018-10-29 11:54] SychevIgor opened #17819 "Drop mobile engagement from a list"
Drop mobile engagement from a list
Section was deleted, but anker still here anchor
![image](https://user-images.githubusercontent.com/578954/47648276-97969c80-db8a-11e8-9e25-39211b8bfccc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d

[2018-10-29 12:10] rs38 opened #17820 "the copy and TryIt buttons"
they don't make much sense. the copy also copies the prompt, which is of course a syntax error after pasting in the shell and the TryIt doesn't copy at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0b2-4810-7c05-b867a9aa06af
* Content: [Power

[2018-10-29 12:14] rs38 commented on #17820
#15615

[2018-10-29 12:18] MChrys opened #17821 "Can't reach my virtual env jupyter notebook through the 8000 port"
I built a DataScientist Virtual Env  Linux on my Azure account.
I can access it with putty ssh request or with X2go, but I'm enable to connect my notebook directly
With 40.66.49.75:8000/ even if the port is aswell open in the entry rules :
![image](https://user-images.githubusercontent.com/18635108/47649121-83e43980-db7c-11e8-8c02-a9fb92a73204.png)
I'm using brave as browser, and it return me that

[2018-10-29 12:28] jakaruna-MSFT commented on #17464
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-29 12:28] #17464 closed

[2018-10-29 12:32] fluffy-cakes opened #17822 "Malformed JSON for "Install the ServiceMap and InfrastructureInsights solutions""
The JSON for step "Install the ServiceMap and InfrastructureInsights solutions" is missing the closing braces at the end of the JOSN;  }
Add } to line 62

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59ea9b7f-4a00-3623-7841-a06f71a9d224
* Version Independent ID: 745cb2a2-f053-8410-553d-dc80eecb3304
* Content: [Onboard

[2018-10-29 12:34] PramodValavala-MSFT commented on #17816
@tbdowns Thanks for catching this! We will update the doc with the correct link.

[2018-10-29 13:02] MarileeTurscak-MSFT commented on #17810
@davidsk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 13:03] MarileeTurscak-MSFT commented on #17800
@bratzelk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 13:05] ArvidBaa commented on #16841
I have tested a few more times and found that the `service.update(image=updated_image)` actually do work. If I add a call to `service.wait_for_deployment()`, the `scoring_uri` does get updated as expected. I assume that my initial thought that it didn't work was because I didn't wait long enough to see the update finish.

Anyhow. I still think this should happen automatically when updating an imag

[2018-10-29 13:06] #17816 closed

[2018-10-29 13:07] PramodValavala-MSFT commented on #17816
@tbdowns Thanks for contributing to MS Docs! We have updated the link in the doc.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-29 13:07] henriquebrisola commented on #17709
I just tried this and did not work.

![2018-10-29_10-05-39](https://user-images.githubusercontent.com/8582840/47651590-67d39e80-db62-11e8-9751-6ce13035cd11.png)

[2018-10-29 13:11] henriquebrisola opened #17823 "Multiple params not working"
The multiple parameters feature, explained [here](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-input-parameters#configure-input-parameters-in-powershell-and-powershell-workflow-runbooks), is not working.

![2018-10-29_10-05-39](https://user-images.githubusercontent.com/8582840/47651838-0a8c1d00-db63-11e8-8a48-d7d3a2b6f0f3.png)
---
#### Document Details

⚠ *Do not edit this

[2018-10-29 13:18] djpirra opened #17824 "Alternative migrating from PBI"
What would be the alternative to migrate a Power BI model to AAS if this is deprecated? We use this quite a alot either to migrate PBI models to AAS or on-premises SSAS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c804e09a-5163-7f39-82ec-67734ffe9741
* Version Independent ID: 52757fd4-4c69-2a53-5b9c-f32404efbf13
* C

[2018-10-29 13:53] lyesd commented on #12532
Thank you @Minewiskan it works when you build your model from scratch after disabling all the preview features! Thanks for the tip. I will keep an eye on how this feature will evolve in the future!

[2018-10-29 13:58] DCtheGeek commented on #17725
@gottagetgit Thanks for the feedback!  Most of the samples do need to be updated due to CLI/PS updates, but I'll prioritize this one.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2018-10-29 14:02] georgewallace commented on #17823
@henriquebrisola The first parameter in your screenshot needs a comma after $hour.. The example in the article shows the comma. Is there something else that is missing.  Looking at the article I can't find anything missing.

[2018-10-29 14:02] mflpb commented on #17540
Hello team!

Unfortunately I am forced to use VS2012. The project build but there is an error in the execution.
However I think that to install NuGet "Microsoft.CognitiveServices.Speech", .Net version 4.6.1 is needed.

Thank you for your previous answers.
Have a good day.

[2018-10-29 14:07] Nitesh097 commented on #17412
@SaurabhSharma-MSFT The above query did not work out. If you can tell me some other ways to import and export it would be helpful

[2018-10-29 14:10] DCtheGeek commented on #17764
@diwsun Currently, performing remediation is only done with manual steps.  This lets you use the remediation against a specific set of resources as both testing, and controlled roll-out of the fix.  It might be possible in the future to do this automatically.  If this is a feature you want, please post it over on the [UserVoice](https://feedback.azure.com/forums/915958-azure-governance) for Azure

[2018-10-29 14:18] StefH opened #17825 "Unable to set rate-limit on all resources ?"
When I set the following policies to the "All Operation" to the echo example service:
[code]

I get an error like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184-6e7f-c1f5-3ff2531df357
* Content: [Azure API Management access restriction

[2018-10-29 14:19] henriquebrisola commented on #17823
Oh, that's true, thanks!

[2018-10-29 14:19] #17823 closed

[2018-10-29 14:22] georgewallace commented on #17823
@henriquebrisola No problem, thanks for reaching out and don't hesitate to reach out with any other questions. @MicrosoftDocs/azure-cxp-triage Please assign this issue to me and mark it as a product-question.

[2018-10-29 14:23] mchudinov opened #17826 "There is no "Export" button there anymore"
There is a "Export to Event Hub" button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e8fdd4b-8695-765c-29d8-95f10bdd89f1
* Version Independent ID: ff3ac291-7a75-7d78-2aa7-61295e3ac460
* Content: [Archive the Azure Activity Log](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-archive-act

[2018-10-29 14:29] DCtheGeek commented on #17721
@gottagetgit Thank you for the feedback! The Policy samples are each focused on show-casing example syntax for auditing specific Azure resources. Other How-to, Concept, or SDK reference pages have the various values that can be passed. The sample isn't intended to be fully exhaustive and show every SDK command you can use with that sample policy.

Another issue (#17259) also asked for details for

[2018-10-29 14:30] Flodu31 opened #17827 "Backup Onedrive folder"
Hi team,
I checked my Onedrive folder but it doesn't backup it. I downloaded all files.
Any idea?
Thanks.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5858-bb03-06fb-4af272317f20
* Content: [Use Azure Backup agent to back up files and fol

[2018-10-29 14:32] DCtheGeek commented on #17720
@gottagetgit Thanks for the feedback and you are correct!  I'm going to get this sample updated to the new sample structure.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2018-10-29 14:36] DCtheGeek commented on #16496
@diwsun I apologize for the delay.  I'll have it posted by mid-week!

[2018-10-29 14:37] vhorne commented on #16574
@AresiusXP
Article has been updated with some v2 information.

[2018-10-29 14:38] solstarz opened #17828 "Debug a container in Kubernetes"
For some reason after following the steps for debugging in VScode on mac, I don't see this option Launch Program (AZDS) when clicking the debug button. Instead I get the option for Draft debugging.

I followed this tutorial https://docs.microsoft.com/en-gb/azure/dev-spaces/get-started-nodejs.

Someone had this same experience??

---
#### Document details

⚠ *Do not edit this section. It is require

[2018-10-29 14:42] DCtheGeek commented on #17342
@dpiessens You are correct, they are practically the same.  The engineers have updated the example so both exclude the master database now.  I'll be merging these examples to remove the redundancy.  I'll leave this item open until that is completed.  Thanks again for the feedback!

[2018-10-29 14:43] rohancragg opened #17829 "Reader role allows user to edit child resources and commit to Git repo"
In our testing, a resource Reader role (assigned at the parent Resource Group or Subscription scope) seems to allow allows user to edit child resources and commit to Git repo.

When our Data Factories are linked to a Git repo (in an Azure DevOps organization) - where users also have access to the Git Repo, those users are able to make changes to Datasets or Pipelines etc and commit that change to

[2018-10-29 14:45] vhorne commented on #15279
@richardcox13
The v2 SKU is documented here: https://docs.microsoft.com/azure/application-gateway/application-gateway-autoscaling-zone-redundant

Using certs with the v2 SKU is documented here: https://docs.microsoft.com/azure/application-gateway/ssl-overview#end-to-end-ssl-with-the-v2-sku

[2018-10-29 14:46] vhorne commented on #15279
#please-close

[2018-10-29 14:48] vhorne commented on #12946
#please-close

[2018-10-29 14:53] diberry commented on #17783
@alundiak Thank you for reporting this issue. This was fixed last week. It doesn't appear for me on the us-en culture version.  Please refresh your page. If you still see it, please report the exact URL in the address bar. Perhaps a localized version still has the issue or there is some other issue.

[2018-10-29 14:58] eentestaccount commented on #5850
Step 14. When I try to authorize, it keeps redirecting..

I have gsuite users that i want to sync with azure. So when I change a password, it syncs.

Anyone ?

[2018-10-29 15:08] diberry commented on #16427
#please-close

[2018-10-29 15:08] diberry commented on #17634
#please-close

[2018-10-29 15:12] #16427 closed

[2018-10-29 15:12] diberry commented on #8915
@Wayne-Shen I will pass this request on to the documentation team. In the future, feel free to use the Feedback link in the QnA Maker portal to give feedback to the service team. #please-close

[2018-10-29 15:15] DCtheGeek commented on #17259
@Ayanmullick The updated article for this request should post this morning.  Note that I didn't update the Quickstart since that is designed to take you through a specific experience.  Instead, the update will provide clarity for subscriptions and management groups on [Programmatically create policies](https://docs.microsoft.com/azure/governance/policy/how-to/programmatically-create). The merge wi

[2018-10-29 15:15] #17259 closed

[2018-10-29 15:17] eentestaccount commented on #5850
https://portal.azure.com/TokenAuthorize?code=4/hQCg25uBmcloG6WHr81g6y-SE--epG_3PP_CtBpWa5M633J6qDdJW0ReOJELHfdnqfsAVI65PT2OdOb7eCnYoaA&scope=https://www.googleapis.com/auth/admin.directory.group%20https://www.googleapis.com/auth/admin.directory.user%20https://www.google.com/m8/feeds

This is the link what I get when it's redirecting

[2018-10-29 15:23] Adam-Smith-MSFT commented on #17812
@MourIdri Thank you for the valuable feedback,we are investigating the issue.

[2018-10-29 15:23] mbialecka commented on #17310
@smoms You should have gotten the following exception from your dotnet app:
`Unhandled Exception: System.AggregateException: One or more errors occurred. (The specifed resource name contains invalid characters.)`

Container names need to be all lowercase. [Here ](https://docs.microsoft.com/en-us/rest/api/storageservices/Naming-and-Referencing-Containers--Blobs--and-Metadata) is the doc on naming c

[2018-10-29 15:25] Adam-Smith-MSFT commented on #17821
@MChrys Thank you for the valuable feedback,we are investigating the issue.

[2018-10-29 15:26] dpiessens commented on #17342
Great! Can you have them coordinate with the Azure Policy team (if not the same team) to update the ASC Default Policy for users to reflect this? I can't modify that policy definition and this is causing a non-compliance flag.

[2018-10-29 15:26] MikeDembek opened #17830 "Query for MFA-enrolled users with Azure AD V2 module"
Is there an equivalent command in the Azure AD V2 module to query user MFA enrollment/registration status?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c695a366-7220-081a-8e04-ab84c6f201b7
* Version Independent ID: bec85559-f35b-d6ff-4ea9-92a3d411d37f
* Content: [Access and usage reports for Azure MFA](https://docs.m

[2018-10-29 15:27] Adam-Smith-MSFT commented on #17820
@rs38 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 15:27] MarileeTurscak-MSFT commented on #17800
You need to select the application scopes from the list available in the Microsoft Graph service then have the admin consent.

[2018-10-29 15:32] DCtheGeek commented on #17342
@pilor Can you comment and confirm?

[2018-10-29 15:35] DCtheGeek commented on #17342
@dpiessens Note that when my changes to collapse these samples together is merged, this issue will automatically get closed as that answers the doc issue.  If you still have a docs issue at that point, please do post and let me know.  Otherwise, requesting updates to built-in definitions should be done through [UserVoice](https://feedback.azure.com/forums/915958-azure-governance) for Azure Governa

[2018-10-29 15:36] MChrys commented on #17821
I manage this issue in establishing a tunnel between the source port as 8000 and the dest port as localhost:8888 with putty(on windows os )
 If someone else meet this issue but is using Linux os, just open a tunnel with ssh request

[2018-10-29 15:37] Klaas- opened #17831 "ddns with NetworkManager"
Hi,
is there also a suggested way to handle NetworkManager configurations? I think /etc/dhcp/dhclient-exit-hooks.d/ only gets used with old-style networking.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de6798-2cd1-b76b-176f-81e502655d03
* Version Independent ID: cfdb586f-e832-551a-40ae-c7c42d8f579

[2018-10-29 15:46] JamesTerHark opened #17832 "Page UI Customization - Sign Up or Sign In policies"
When I try to use the Page UI Customization feature I notice that it only works when I use Unified Sign-up or Sign-in page.  When I turn on the customization for either  Local account sign-up page or Social account sign-up page neither has any effect.  Customization only appears when I use Unified Sign-up or Sign-in page customization.  So why does this not work for the local ort social customizat

[2018-10-29 15:51] #17342 closed

[2018-10-29 15:54] mmyk opened #17833 "Target framework for code samples"
It would be helpful if this article provided more information about the target framework for the code samples above. After trying to implement them in a console app targeting .Net Core 2.1 unsuccessfully, I eventually came to find that [.Net Core doesn't support user interaction and does not provide a PlatformParameters constructor with any arguments](https://github.com/AzureAD/azure-activedirecto

[2018-10-29 15:56] Yegmorcar opened #17834 "Error 404 not found when running with a new template for ASP.NET Core."
I've followed the steps in the Azure portal and Application Registration and everything seems correct. However, the template in Visual Studio for ASP.NET Core Web Application seems to have outdated information.

The default template in Visual Studio has an Azure Instance of https://login.microsoftonline.com/tfp/

Instead of: https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/oauth2/authr

[2018-10-29 15:59] Yegmorcar commented on #17834
Images to a better explanation:
![image](https://user-images.githubusercontent.com/40250409/47662671-c0f6fe80-db71-11e8-8496-a5407f3ac5ff.png)

![image](https://user-images.githubusercontent.com/40250409/47662755-eedc4300-db71-11e8-85d7-5a655e91a41b.png)

![image](https://user-images.githubusercontent.com/40250409/47662797-0c111180-db72-11e8-92a9-e9160a4aa044.png)

[2018-10-29 16:04] MicahMcKittrick-MSFT commented on #17821
@MChrys thanks for the update! Glad to hear you were able to resolve the issue.

[2018-10-29 16:04] ymnliu opened #17835 ""R development" under PyCharm"
Under PyCharm, the typical uses states "R development". It should be "Python development".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8778f8e7-6c71-3c90-e6d3-05ef74aefa23
* Version Independent ID: 4467059d-b8e9-2f3d-f559-dbd2b028f834
* Content: [Data Science Virtual Machine development tools - Azure](https://docs.m

[2018-10-29 16:04] cherylmc commented on #17739
@tFable - I've sent this on to the PM to document. Great idea! Thanks! #please-close

[2018-10-29 16:05] sergaz-msft commented on #17804
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 16:05] cherylmc commented on #17739
@anzaman - can you please comment?

[2018-10-29 16:06] cherylmc commented on #9990
@TravisCragg-MSFT - absolutely. Already working on it. :-)

[2018-10-29 16:08] #17764 closed

[2018-10-29 16:12] cherylmc commented on #17672
@fguerri - checking with the PMs now.

[2018-10-29 16:16] YutongTie-MSFT commented on #17634
@Mary268 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-29 16:16] #17634 closed

[2018-10-29 16:29] #17725 closed

[2018-10-29 16:30] Mike-Ubezzi-MSFT commented on #17801
@keithcn Thank you very much for your feedback. Do you have any additional details as to what you feel would be a solid addition to the documentation? I am assigning this to the content owner to evaluate and update as appropriate but, you additional feedback is very helpful.
Thank you,
Mike

[2018-10-29 16:32] rayne-wiselman commented on #17803
This is fixed. I'll update the issue when the fix goes live. thx

[2018-10-29 16:32] DCtheGeek commented on #17725
@gottagetgit I updated the sample, which is why this got closed.  Please let me know if the changes are less than desired.  Thanks again for the feedback!

[2018-10-29 16:33] dlepow commented on #16748
Doc update merged.
#please-close

[2018-10-29 16:33] DCtheGeek commented on #17720
@gottagetgit I updated the sample, but the automation didn't get all your open issues.  Please let me know if the changes are less than desired.  Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-29 16:33] #17720 closed

[2018-10-29 16:33] #17721 closed

[2018-10-29 16:34] Mike-Ubezzi-MSFT commented on #17574
@lesterw1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-29 16:34] #17574 closed

[2018-10-29 16:34] DCtheGeek commented on #17721
@gottagetgit I updated the sample, but the automation didn't get all your open issues.  Please let me know if the changes are less than desired.  Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-29 16:36] YutongTie-MSFT commented on #17809
@tkanngiesser Thanks for your feedback, we will investigate it and get back to you soon.

[2018-10-29 16:37] JParkSolver opened #17836 "Example request for client-side logic routing request to correct service instance."
Regarding statement below in this article,
"You would also need to implement some client-side logic that routes the requests to the correct service instance, based on client-side knowledge that your client code must maintain."

Can users have some example codes or explanations on architecture design how to achieve such routings?

---
#### Document Details

⚠ *Do not edit this section. It is requir