[2020-04-07 05:04] #51416 closed

[2020-04-07 05:04] BhargaviAnnadevara-MSFT commented on #51849
@akashlkendre Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-04-07 05:05] BhargaviAnnadevara-MSFT commented on #51842
@Wibbbs Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-04-07 05:06] DixitArora-MSFT commented on #51645
@vladvino Thanks for your input.

@spmanjunath For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-07 05:06] #51645 closed

[2020-04-07 05:09] SaurabhSharma-MSFT commented on #51692
@brandonh-msft Ok, which services you are trying to use and what all the packages you are using ?

[2020-04-07 05:10] ChiragMishra-MSFT commented on #51599
@josiahvinson Azure Data Lake Gen2 now supports event grid integration. Please refer to the below post for details :

https://azure.microsoft.com/en-us/blog/event-driven-analytics-with-azure-data-lake-storage-gen2/

I will now proceed to close this issue. Feel free to still comment if you have any queries on the same.

[2020-04-07 05:10] #51599 closed

[2020-04-07 05:10] ChiragMishra-MSFT commented on #51640
@Yxider Thanks for confirming. I will now proceed to close this issue.

[2020-04-07 05:10] #51640 closed

[2020-04-07 05:11] PramodValavala-MSFT commented on #51801
@BeMor81 The policy that you are looking for is [`rewrite-uri`](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#RewriteURL). Also, depending on your scenario, you could leverage [`set-backend-service`](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#SetBackendService) as well.

[2020-04-07 05:12] DixitArora-MSFT commented on #51618
@autodomme I have assigned this to content author for further review and update as appropriate.

[2020-04-07 05:13] DreamRivulet commented on #51251
@Karishma-Tiwari-MSFT  Would you please kindly an ETA for this document update about this dashboard change?

[2020-04-07 05:23] SnehaAgrawal-MSFT commented on #51517
@ishepherd just checking if you have chance to see previous response. Will now close this thread here. waiting for your mail here AzCommunity[at]Microsoft[dot]com.

[2020-04-07 05:23] #51517 closed

[2020-04-07 05:31] shashishailaj commented on #51842
@Wibbbs Please let us know the product documentation that you are following. Also can you tell if you are trying to import a certificate on a local windows machine ? or trying to export a certificate in Pfx format and take the pfx elsewhere from Windows machine?

[2020-04-07 05:32] DixitArora-MSFT commented on #51642
@KiselN I have assigned this to content author for further review and update as appropriate.

[2020-04-07 05:40] naqash11 commented on #51168
Thank you for the response. You can close this ticket.

[2020-04-07 05:41] gdmeann commented on #51754
Thanks for the response. There is no error when deleting a rule, it is not saved after after deleting a rule.

[2020-04-07 05:49] KalyanChanumolu-MSFT commented on #51725
@danmi20 I have updated the doc accordingly. The changes are live.
We will proceed to close this issue now.

[2020-04-07 05:49] #51725 closed

[2020-04-07 05:57] mimaayan commented on #51798
documentation -
https://docs.microsoft.com/en-us/azure/event-hubs/get-started-dotnet-standard-send-v2

[2020-04-07 06:08] VikasPullagura-MSFT commented on #51672
@aristosvo Thanks for confirming that this is working after cli upgrade.

@mathieu-benoit I am assigning the issue to content author for adding a note on the required CLI version.

[2020-04-07 06:09] h164654156465 commented on #51328
Hi @ram-msft , thank you for your GitHub link, I'll check that out.
What I was doing is:
- I've trained a Azure Custom Vision model in the [portal](https://www.customvision.ai/).

- Then I exported it as a TensorFlow format like this:
<img width="787" alt="Annotation 2020-04-07 132912" src="https://user-images.githubusercontent.com/23661875/78634258-28bc8780-78d6-11ea-9010-0dc606a586e4.png">

- Do

[2020-04-07 06:09] VikasPullagura-MSFT commented on #51672
@mlearned Can you please add a note on the CLI version required in the document.

[2020-04-07 06:11] PramodValavala-MSFT commented on #51762
@GiriB Looks like the global values are used by the [`SharedAccessSigner` class](https://github.com/Azure/azure-sdk-for-ruby/blob/asm/lib/azure/service_bus/auth/shared_access_signer.rb#L16) as defaults. Instead, I believe you can simply pass them directly to the constructor

[code]

You would have separate `signer` variables for each namespace that you have and which you will pass to the `Azure::S

[2020-04-07 06:13] tmccart1 commented on #40089
Ugh, it still did not help.

[2020-04-07 06:19] amanmcse commented on #51758
@jay-tuckey Thank you for sharing your findings. I will share the feedback with the product team. I will now close this thread. Feel free to tag me in your reply if you have any question.

[2020-04-07 06:19] #51758 closed

[2020-04-07 06:21] amanmcse commented on #51625
@deep-mm We are now proceeding with closure of this thread. Feel free to tag me in your reply if you have any further question.

[2020-04-07 06:21] #51625 closed

[2020-04-07 06:27] ManoKanmani opened #51850 "Azure AD global administrator access to configure the provisioning agent and application features"
Hi Team,

We have lot of restrictions in our environment so we are not getting GA access currently.

As per document it says, GA access is required to create 'Workday to Active Directory Provisioning Service" application but currently we are not getting this GA in our environment.

Is it possible to create the Provisioning Service applications, download the agent, able to attribute mapping and dat

[2020-04-07 06:29] souravmishra-msft commented on #51307
@rwike77, Can you please take a look at this.

[2020-04-07 06:30] agresh07 opened #51851 "What does "Manually clean up data directory" mean?"
I faced this issue and was able to fix it with the specified solution.
However, I'm not sure why the dbutils.fs.rm("&lt;&lt;dbfs:/table-path&gt;&gt;", True) did not work. I am assuming this is what it means to Manually clean up the data directory.

Can you please provide a sample for the manual clean up as you did for the solution?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-04-07 06:31] kktyau commented on #51046
any update? This ticket has been raised for 11 days ago.
Can the location (Singapore2) be added to PCCW Global ASAP?

[2020-04-07 06:33] akashlkendre commented on #51849
There is no single document, I think this https://docs.microsoft.com/en-us/azure/azure-monitor/learn/tutorial-app-dashboards document page should specify this.

[2020-04-07 06:33] ezYakaEagle442 commented on #51666
I run latest CLI :
{
  "azure-cli": "2.3.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.3.1",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4.39",
    "azure-firewall": "0.3.0"
  }
}

What about this ? :

az network application-gateway waf-policy create \
  --name "${appName}-waf-policy" \
  --resource-group $rg_na

[2020-04-07 06:34] kszymanski commented on #33157
SO I you can see I'm creating it on and on from ARM template. And making change manually after it is created btw. then in portal I can assign this identity and cert without any problems.

[2020-04-07 06:38] morteza54dp opened #51852 "Not possible to follow "Diagnostic Logs" section"
Looks like the content for "Diagnostic Logs" is not applicable anymore and the interface seems to be changed. Hence this section requires an update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8
* Version Independent ID: ae6976bb-aadd-4d40-bb62-57589265f4ff
* Content: [Monitor publi

[2020-04-07 06:49] msrini-MSFT commented on #51839
@RonnieQuan , Thank you for your feedback. We will investigate and get back to you shortly.

@vhorne , Can you please take a look at this new doc idea?

[2020-04-07 06:49] rayne-wiselman commented on #51630
@nwipfli, Hi Nicolas thanks for your feedback! I'm passing this directly on to the product team, and will come back to you with feedback on that. Rayne (content writer for Site Recovery)

[2020-04-07 06:50] msrini-MSFT commented on #51840
@RonnieQuan , Thank you for your feedback. We will investigate and get back to you shortly.

@vhorne , Can you please take a look at this new doc idea?

[2020-04-07 06:51] arvind-dhariwal commented on #51777
Also, Will SHIR on-premises use public internet or azure express route -
MSFT private peering?

Thanks
Arvind Dhariwal
+60 1124263708
Calendar - https://calendly.com/arvind_dhariwal

On Tue, Apr 7, 2020 at 9:23 AM Arvind Dhariwal <avi.jasu01@gmail.com> wrote:

[2020-04-07 06:54] StefanIvemo commented on #51768
@msrini-MSFT thank you for clarifying that! And this will be the case even if I have a UDR on my backend subnet routing traffic to Azure Firewall?

[2020-04-07 06:55] amanmcse commented on #51689
@sheyitx Keeping the scope only to OpenID doesn't cause any issues with signup/signin. You can use additional scopes based on your requirements. These scopes are documented here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#openid-connect-scopes

[2020-04-07 06:55] #51689 closed

[2020-04-07 06:57] DixitArora-MSFT commented on #51852
Hi @morteza54dp Thanks for your feedback. We will review and update as appropriate.

[2020-04-07 07:02] KrishnaG-MSFT commented on #51635
Assigning content owner @mumian for visibility, review and document enhancement consideration.

[2020-04-07 07:05] msrini-MSFT commented on #51768
@StefanIvemo , Yes. When you take a packet capture at the backend, you can see traffic is sourced from Application Gateway instances. So, the return traffic will be sent to Application Gateway's instance private IPs. So, this route will take precidence than your default route in the UDR.

[2020-04-07 07:09] nwipfli commented on #51630
@rayne-wiselman Hi Rayne, thank you for your response and help. I am perfectly aware of this politic which is not to communicate publicly on roadmaps and timelines, however for a tool like the Deployment Planner which is used for one of the most important Azure Service (Azure Site Recovery), I'm susprised that both the tool and the compatibility matrix are not inline.
I'm not expecting a date for

[2020-04-07 07:10] KrishnaG-MSFT commented on #51634
@simonech Verified and updated the document as appropriate. Thanks.

[2020-04-07 07:10] #51634 closed

[2020-04-07 07:12] KrishnaG-MSFT commented on #51731
@nishantrajmitra Verified and updated the document as appropriate. Thanks.

[2020-04-07 07:12] #51731 closed

[2020-04-07 07:12] nwipfli commented on #51631
Hello, can you confirm whether this link https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines is up to date ?

If you confirm that it is up to date then this issue #51631 can be closed and this will mean that the Deployment Planner is outdated and the other issue #51630 probably needs to remain open.

[2020-04-07 07:15] VikasPullagura-MSFT commented on #51695
@AjKundnani We did a repro and found the issue you have reported.  It was because of the camel case used in cli for mentioning region.

`location=westcentralus`

Doc author has updated the document with a note on this.

As a workaround, you can try to create the DES with region mentioning lower case as mentioned in the document from CLI and now you can see it on the portal while creating VM.

Howe

[2020-04-07 07:18] KrishnaG-MSFT commented on #46707
@yanivlavi Thanks for your insights and suggestion!
@ankur021188 Please open a support case as suggested by @yanivlavi. I will be closing this issue for now but if there are further questions regarding this matter or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2020-04-07 07:18] #46707 closed

[2020-04-07 07:20] SmallTomas opened #51853 "Confusion about assigning variable by select within declare statement"
Hi,

I think there is some confusion in the documentation about the assignment of variables by select within declaration.

First it is written here it is not possible, but in next examples the assignment by select is used when showing other limitations.

So I would like to ask, is it possible to assign variable by select within declare statement? Thanks.

---
#### Document Details

⚠ *Do not edit

[2020-04-07 07:26] CHEEKATLAPRADEEP-MSFT commented on #51798
@mimaayan  Thanks for sharing the document. We are investigating and will update you shortly.

[2020-04-07 07:28] CHEEKATLAPRADEEP-MSFT commented on #51851
@agresh07  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-07 07:32] KrishnaG-MSFT commented on #44283
@azhar787 A fix to resolve the bug is released. Check and let us know if you face any issue or feel free to re-open the same support ticket if issue persists.
Closing this GitHub issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-04-07 07:32] #44283 closed

[2020-04-07 07:38] Rvvhub opened #51854 "Add requirement to create vault in same subscription."
Warning at the top mentions vault must be created in same *region*, but it should also be in the same *subscription*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bcd765-e7de-c91e-2193-a6b7c166ed05
* Version Independent ID: 6432a759-9995-e08a-ee31-6077fefca464
* Content: [Creating and configuring a key vault for Az

[2020-04-07 07:41] djpugh opened #51855 "Can't access Notebook Compute Instance created by other user"
The docs say that you can access a notebook compute instance created by another, and this seems to disagree with https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance#contents which this links to.

Can you clarify this - See also https://github.com/MicrosoftDocs/azure-docs/issues/40857

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-07 07:44] tellarin commented on #51302
@diberry @YutongTie-MSFT Thanks for raising this.
As our TIMEX are a simplified version of that spec that's easier for developers to use, we're going to create a doc on the project GitHub (https://github.com/microsoft/Recognizers-Text) to describe it in better detail.
We can use that link once done.

[2020-04-07 07:46] gorillapower commented on #51766
Thank you this clears it up

[2020-04-07 07:53] KrishnaG-MSFT commented on #51637
Assigning content owner @mumian for visibility, review and document enhancement consideration.

[2020-04-07 07:59] mike-urnun-msft commented on #51481
@spmanjunath It appears that the sample is incorrect so I've created a PR that'll remove it. `name` is a required property on the `set-query-parameter` as such please refer to the first sample:
[code]

[2020-04-07 08:00] Fabiest commented on #51813
But step 6 mentions to "**Add** new configuration properties **to the server.properties file**" and that should not be done, because when you restart the brokers, your changes go away.
The properties should be set on Ambari UI, at least for HDI 4.0.

[2020-04-07 08:02] msrini-MSFT commented on #51769
@aquibqureshi26 ,

For any inbound flow via PIP of the LB, the response will always happen on same IP with which it came in to avoid asymmetric routing.

When an outbound traffic is sent, it will use the inbound rule PIP. But when you disableOutboundSnat , whatever you mentioned in Scenario 2 is correct.

[2020-04-07 08:03] AjKundnani commented on #51695
Hello @VikasPullagura-MSFT  - Thanks, will try this workaround.

Meanwhile I used Azure portal to re-create disk encryption set and tried using same in Infrastructure as code (terraform) & Azure Portal using same OS image.

VMs created using Azure portal are able to use Disk Encryption set properly. VMs are able to boot without issue.

VMs deployed through terraform are able to use Disk Encryption

[2020-04-07 08:06] mike-urnun-msft commented on #51481
I've actually fixed the particular sample to be as follows:
[code]

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-07 08:06] #51481 closed

[2020-04-07 08:08] tanteemmie commented on #45738
Any idea when it will be released in the first half of 2020 to delete or archive appendBlob?

[2020-04-07 08:10] aquibqureshi26 commented on #51769
thanks Karthik for the clarification.

[2020-04-07 08:10] #51769 closed

[2020-04-07 08:11] dominicbetts commented on #51364
#please-close

[2020-04-07 08:11] #51364 closed

[2020-04-07 08:14] mayurigupta13 commented on #51631
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines is up to date.

[2020-04-07 08:14] aelij commented on #51539
Note this is a non-authritative answer (I'm not on the AKS team).
I believe the ARM schema required for AAD-v2 is here (API version `2020-03-01`):
https://github.com/Azure/azure-rest-api-specs/blob/8a8166f86f35400e9a277498064886810f0a5429/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-03-01/managedClusters.json#L2205-L2217

So it should be something like
[co

[2020-04-07 08:15] ArjanvHugten commented on #51791
Hi, i'm testing with page layout version 1.2.0 now and seems to me that it is working again. Is something changed since yesterday? Yesterday I had the same issue with 1.2.0.

[2020-04-07 08:15] Neelkamal10 commented on #51648
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-sample-scripts
Yes ,I am talking about this link ,as per script mentioned in the above doc is not providing the result.

[2020-04-07 08:17] emmanuelg34 opened #51856 "Not working !"
New-AzDiskConfig : A parameter cannot be found that matches parameter name 'UploadSizeInBytes'.

PS C:\WINDOWS\system32&gt; Get-InstalledModule -Name Az -AllVersions | select Name,Version

Name Version
---- -------
Az   3.7.0

PS C:\WINDOWS\system32&gt; Find-Module Az.* | select Name,Version | sort Name

Name                          Version
----                          -------
Az.Accounts

[2020-04-07 08:22] SubhashVasarapu-MSFT commented on #50967
@jackvdbuk , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-07 08:22] #50967 closed

[2020-04-07 08:24] rurounijones commented on #49742
See here for more examples of just how hard it is to interact with MS and get answers / information

https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/576

Also tagging @YutongTie-MSFT (again) and @RohitMungi-MSFT to get this issue repopened

[2020-04-07 08:33] yakeem opened #51857 "Please clarify billing of "class=notranslate""
According to pricing pages https://azure.microsoft.com/en-us/pricing/details/cognitive-services/translator-text-api/ we are paying for each char in text. My question: do we pay also for characters included in &lt;div class="notranslate"&gt;? Are these characters also included in limit up to 5000 chars per single request?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-04-07 08:38] DirkSonguer commented on #51790
Quick update: Creating a new Web App and activating app service authentication with the default web page works as described. The issue seems to be that as soon as a Node.js web service / server comes in (as described in the docs), it doesn't work anymore as the service returns the respective HTTP 431 error.

Looking through the logs, the authentication seems to indeed work fine with the Node.js se

[2020-04-07 08:40] joheynek opened #51858 "Broken link"
In this section (https://docs.microsoft.com/en-us/azure/security-center/security-center-readiness-roadmap#planning-and-operations) the video link (https://mva.microsoft.com/training-courses/hybrid-cloud-workload-protection-with-azure-security-center-18173?l=X4WqTA3jE_1106218965) still points to MVA. The page redirects to the new learning site on docs.com but doesn't go to the specific training vid

[2020-04-07 08:43] StingyJack commented on #51738
@jakaruna-MSFT the thing we are using is container instances. I don't see any mention of container groups in the UI except for this error. Are there any doc's that explain the difference?

[2020-04-07 08:45] SubhashVasarapu-MSFT commented on #51523
@lee-anne , You can modify the downloaded profile XML file and add the
``` <includeroutes><route><destination><mask> </destination></mask></route></includeroutes> ```tags.
[code]

[2020-04-07 08:46] kannancorent opened #51859 "SaaS Fulfillment API v2 reslove failed"
Hi Team ,
 In SaaS Fulfillment  API v2  reslove (api/saas/subscriptions/resolve?api-version=2018-08-31) Throws 400 error but  SaaS Fulfillment  API v1 working fine ? please guide me what is problem

[2020-04-07 08:47] juchom commented on #49186
Hi @berndverst,

This command gives me this error:

[code]

[2020-04-07 08:50] souravmishra-msft commented on #51830
@PaulEstevesAtPEX, The **WamDefaultSet** is usually set to **YES** if the **WebAccountManager** has a default single-sign-in account available for the current user who is logging in.
If the current user is signed-in to the device with an Azure AD user account, the default single-sign-in account will be their Azure AD user account.

Now, since **WamDefaultSet** is showing as **ERROR**, it looks lik

[2020-04-07 08:50] msrini-MSFT commented on #51856
@emmanuelg34 , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-07 08:51] YanDavKMS opened #51860 "Error provisioning on virtual node with GPU"
I'm trying to run my container on virtual node with request for GPU.
However I'm getting this error:

got HTTP response status code 409 error code "ServiceUnavailable": The requested
    resource is not available in the location ''westeurope'' at this moment. Please
    retry with a different resource request or in another location. Resource requested:
    ''1'' CPU ''4.2'' GB memory ''Linux'' OS

[2020-04-07 08:51] souravmishra-msft commented on #51589
hello @rwike77, can you please take a look into this.

[2020-04-07 08:59] mike-urnun-msft commented on #51534
Hello @richieteh94 - If you haven't yet, please review this doc: [Topic filters and actions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters)

[2020-04-07 09:08] AshokPeddakotla-MSFT commented on #51821
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-07 09:09] jakaruna-MSFT commented on #51802
@gokul2018 You can have Azure firewall with Windows virtual desktop.

Please take a look at this thread https://techcommunity.microsoft.com/t5/azure/windows-virtual-desktop-firewall-appliance/m-p/1211897

@ChristianMontoya please add your inputs

[2020-04-07 09:12] AshokPeddakotla-MSFT commented on #51847
@ElliotWood Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-07 09:16] SnehaAgrawal-MSFT commented on #51627
@vuza Thanks for asking question! Could you please double check on outlined steps for [App Service integration with Azure Monitor?](https://azure.github.io/AppService/2019/11/01/App-Service-Integration-with-Azure-Monitor.html) Also ensure you have enabled Application logging and Web Service logging On and saved from App Service log blade under Monitoring.
As mentioned in the doc: https://docs.micr

[2020-04-07 09:17] jakaruna-MSFT commented on #51738
We run containers inside the container groups on a ACI.  Public ip is the component out of the container group
This doc explains that https://docs.microsoft.com/en-us/azure/container-instances/container-instances-container-groups

[2020-04-07 09:18] femsulu commented on #51542
re-assigned to content owner to review doc-enhancement request.

[2020-04-07 09:18] mbsnl commented on #50611
Can someone shed some more light, which possible directions could this be going:
- Is Microsoft going to share the modification required to the OpenVPN Protocol to support AAD/MFA/Conditional Access?
- Is Microsoft going to develop/release a MacOS OpenVPN Client with support for AAD/MFA/Conditional Access?

[2020-04-07 09:19] RohitMungi-MSFT commented on #51828
@jmedina-genetec Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-07 09:19] msrini-MSFT commented on #51856
@emmanuelg34 , I am able to execute the command without any error. I am using the same Az.Compute version and AZ module 3.7.0.

PS C:\WINDOWS\system32> New-AzDiskConfig -SkuName 'Standard_LRS' -OsType 'Windows' -UploadSizeInBytes '10244' -Location 'East US' -CreateOption 'Upload'

ResourceGroupName            :
ManagedBy                    :
ManagedByExtended            :
Sku

[2020-04-07 09:20] SuDHarmik opened #51862 "Database faiolver"
How do we achieve automatic application traffic routing after DB failover to the secondary database?

Scenario: If something goes wrong with primary DB and secondary DB activated as a Primary using DB failover method.
How is the application traffic routed to secondary DB without changing any configuration from the application ?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-07 09:20] AshokPeddakotla-MSFT commented on #51845
@ElliotWood Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-07 09:21] msrini-MSFT commented on #51817
@devlife , Do you have any update on this issue?

[2020-04-07 09:24] kilagg opened #51863 "Dataflow issue after a devops pipeline"
Just follow you step, and when I run a release with a devops pipeline, DataFlow column on the left of the datafactory is not show
however, when I go to a pipeline and double click on a dataflow, it open it
why I cannot see dataflow on the left then?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fb

[2020-04-07 09:30] TwoSeven99 opened #51864 "Instructions on page out of date, not valid."
When trying to create the output, step 3 is On the Power BI - New output pane, select Authorize....

This option does not work - after authorizing, no dataset is created in PowerBI.   There appears to be a few search results showing people hitting this issue.

Other instructions state that a Streaming Dataset must be created in PowerBI, Yet more instructions suggest other authorization is needed.

[2020-04-07 09:36] AshokPeddakotla-MSFT commented on #51636
Adding author @lyrana for further review and update the doc if neccessary.

[2020-04-07 09:43] mozziemozz commented on #51765
Hi
No, I don't see the voice locally because i don't have German (de-DE) installed on my PC. Yes it's a Windows 10 PC. I only have English UK and German, Switzerland installed. Would be great if you could find out more about the available voices. Thanks.

[2020-04-07 09:43] akashlkendre commented on #51849
the issue has been resolved. I used higher range ni dashboard like 30 days and in each chart used time range less than that. It worked.

[2020-04-07 09:43] #51849 closed

[2020-04-07 09:44] GaryStrange opened #51866 "Using a parameters file"
Hi,

Is it possible to specify a parameters file when using this method? Both the CLI and PowerShell methods allow for a parameters file to be specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43bf1e44-5555-8794-3ec0-84b5cc22e83d
* Version Independent ID: 27453c17-9c3c-6132-2949-16ffe4da8807
* Content: [Deploy

[2020-04-07 09:46] PramodValavala-MSFT commented on #51710
@codemaker Just following up here... Hope my previous comment clears things up.

[2020-04-07 09:47] sandip22490 opened #51867 "How Microsoft handles Fail Over in the event of region outage for Azure Storage"
Hi Team,

I am just going through the below document where it mentions about current DR strategy for Storage Account.

Document Reference - [Azure Storage DR](https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance)

I can not find any reference for how Microsoft Azure will perform automatic failover in the event of primary region outage if my storage account is co

[2020-04-07 09:48] richieteh94 commented on #51534
hi @mike-urnun-msft there is an update for the document but is there any example for python sdk for correlation filter with properties instead of correlationId?

[2020-04-07 09:49] RohitMungi-MSFT commented on #51855
@djpugh Notebooks and R scripts are stored in the default storage account of your workspace in Azure file share. These files are located under your “User files” directory. This storage makes it easy to share notebooks between compute instances. The storage account also keeps your notebooks safely preserved when you stop or delete a compute instance.

If there is a compute instance that is created

[2020-04-07 09:50] emmanuelg34 commented on #51856
Many thanks for your answer, I just find my bug ..... a old version of Az.compute was installed on my user profile ....
hard to find :P
Test in progress ;)

[2020-04-07 09:52] msrini-MSFT commented on #51856
Sure. Let me know if you need any help.

If you are able to fix this issue, post the resolution and close this issue.

[2020-04-07 09:54] ra312 opened #51868 "Experiment ImportError from azureml"
When I run the command
from azureml.core import Experiment

Traceback (most recent call last):
...............................
...............................
    __class Experiment(ChainedIdentity, HasExperimentPortal):
                     ^
SyntaxError: invalid syntax
I opened the file and checked the Experiment constructor declaration and, indeed, we have this

![image](https://user-images.git

[2020-04-07 09:55] RohitMungi-MSFT commented on #51857
@yakeem The entire text included in the request are part of the 5,000 characters including spaces so these characters should be part of the limits.

@swmachan Could you please confirm?

[2020-04-07 09:57] ilayn commented on #44802
Is there anyone actually assigned to this or just stalling?

Should I close it myself since you don't care?

[2020-04-07 09:57] emmanuelg34 commented on #51856
Test successful, you can close.
Many thanks

[2020-04-07 09:58] #51856 closed

[2020-04-07 10:01] DixitArora-MSFT commented on #44802
@ilayn  This has been assigned to content author and I am sure this will be in their to do list. It is taking time and it will definitely be taken care.

@ggailey777 Any inputs in this.

[2020-04-07 10:01] TomaszOledzki commented on #51600
@BAM5 you’re right server server part of the uri is unencrypted the rest of the uri is encrypted.

Still having to pass secrets in uri without an alternative is a bad design IMO:
- some servers will often log/save query parameters and store them
- when using in browser it’s saved in history, some browser extensions will save/log urs

[2020-04-07 10:14] LordGordonQ opened #51869 "Dataset creation via REST API?"
It is my understanding that the creation of the Dataset is currently not possible via API REST, but SDK only. Is this correct? It will be possible in future to have an API endpoint to automatically create Datasets from Datastores? With datastores is already possible to create them via API.

The problem here is that the SDK loads an huge amount of libraries (numpy, pandas) that I don't want in my b

[2020-04-07 10:31] eparizzi opened #51870 "DequeueCount not implemented in Python SDK?"
The Python examples shows the usage of `msg.dequeue_count` but I'm getting `None` in my code. Looking in the source code I see this attribute just returns `None`. It doesn't seem to be implemented.

It's a bad practice to ship not implemented code blocks without raising anything. It would be just better to raise an exception saying "this attribute is not implemented" so we know we can't use it.

A

[2020-04-07 10:40] amanmcse commented on #51530
@xieofxie Sign on url has to be initially set to https://instance.service-now.com/login_with_sso.do?glide_sso_id=<sys_id of the sso configuration>and later during configuration, needs to be changed to https://instance.service-now.com/navpage.do.

Since you are provisioning user from Azure AD, do you have mail attribute configured for Azure AD users and if mail attribute have a value, do you have m

[2020-04-07 10:44] lucarv commented on #51296
i have exactly the same issue. if i deploy the validation as an azure function, all is dandy./ if i deploy as a web app, it fails.

[2020-04-07 10:47] rhuanbarreto commented on #50552
Yes. can put the server down. You could improve the docs with a rails DB config section like I did in addition to fixing the sslca parameter.

[2020-04-07 11:15] DixitArora-MSFT commented on #51870
@eparizzi As this is something specifically to a Product question , recommendation at this point is to create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Azure Function Repo will be monitored by Product team of Azure function.

[2020-04-07 11:18] VikasPullagura-MSFT commented on #51854
@Rvvhub
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-07 11:18] VikasPullagura-MSFT commented on #51854
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-04-07 11:21] SadiqhAhmed-MSFT commented on #51848
@agassijoelbrio Thank you for the question. As per [MARS support matrix](https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent#supported-operating-systems) for on premise machines files and folder backup to Azure, only Windows operating systems are listed as supported. That being said, MARS agent cannot be installed on on-premise Linux VM.

For Azure VM Linux backups, Azur

[2020-04-07 11:29] jimborogers commented on #51540
My solution uses Verizon Premium CDN and I wish to integrate Azure WAF. Can you advise if it is planned to roll out Azure WAF to the other CDN tiers and if so what the timeline is for such a roll out? We do not wish to switch to the Microsoft Standard CDN tier as we make use of the pre-load feature of Verizon Premium.

[2020-04-07 11:30] ra312 commented on #51868
I cannot even import azureml.core.
When I check what is iniside of azureml.core, I get this list

azureml.AzureMLConflictHttpError(     azureml.DataTypeIds(                  azureml.Experiments(                  azureml.data                          azureml.http                          azureml.re
azureml.AzureMLError(                 azureml.Dataset(                      azureml.IntermediateDatas

[2020-04-07 11:32] RohitMungi-MSFT commented on #51868
@ra312 Could you please let us know if you are following any documentation to run this experiment? It would be great if you could post the link for us to replicate the issue.

Looking at the error it looks like the sdk package might not be installed correctly. Could you please check and re-install the same using the steps mentioned [here](https://docs.microsoft.com/en-us/python/api/overview/azure/

[2020-04-07 11:34] ncoussemacq commented on #36849
I have been facing this exact same issue.
This sample should be updated as well : https://github.com/Azure/azure-quickstart-templates/blob/master/101-app-function/azuredeploy.json

[2020-04-07 11:38] RohitMungi-MSFT commented on #51868
@ra312 If you have just started using the SDK for building experiments on Azure ML we would recommend to start with some of the samples from [Azure Machine Learning notebooks](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml) repo which guides a user to setup the workspace and start training with different computes to deploying a web service.

[2020-04-07 11:40] ra312 commented on #51868
This is really strange, since the signature of Experiment is significantly different from the one used in the documentation and the notebooks, i.e.
Experiment(workspace:object, experiment_name:string)
and now
Experiment (workspace, experiment_metadata)
Parameters
        ----------
        workspace : Workspace
            Parent workspace of the experiment.
        metadata : dict
            Dic

[2020-04-07 11:43] ra312 commented on #51868
Thanks for getting back so quickly. Yes, I ran the experiments following the notebooks [here](https://github.com/Azure/MachineLearningNotebooks). My azure installed packages are as follows
azure-common              1.1.25                   pypi_0    pypi
azure-core                1.4.0                    pypi_0    pypi
azure-graphrbac           0.61.1                   pypi_0    pypi
azure-identit

[2020-04-07 11:45] ra312 commented on #51868
It seems that the first cell in this [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/classification-credit-card-fraud/auto-ml-classification-credit-card-fraud.ipynb) cannot be run with the packages above.

[2020-04-07 11:47] krknopp commented on #40132
Yes, we've used just about as many `*` in our `Content-Security-Policy` header as we can to avoid this limit.  We really need a fix here.

[2020-04-07 11:48] yoelhor commented on #51826
Could you check the all applications option?

![image](https://user-images.githubusercontent.com/20111866/78665672-dcc21080-78de-11ea-8a35-4de85c2b2c0b.png)

[2020-04-07 11:50] yoelhor commented on #51818
@WhippsP could you check this issue?

[2020-04-07 11:52] yoelhor commented on #51791
Please let us know whether we can close this issue.

[2020-04-07 11:53] #51791 closed

[2020-04-07 12:01] AshokPeddakotla-MSFT commented on #51864
@TwoSeven99 Thanks for the feedback! I have assigned the issue to the content author @robinsh  to evaluate and update as appropriate.

[2020-04-07 12:07] VikasPullagura-MSFT commented on #51860
@YanDavKMS Thanks for your query.

Memory and CPU changes are not allowed after creation, however in your case as it failed you can change and try again. Please see [this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu#yaml-example) example and try sku K80 which you are looking for deploying.

[2020-04-07 12:10] nwipfli commented on #51630
As per the update from @mayurigupta13 in the issue #51631, the matrix reporting (https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines) reporting support for CentOS 8 is update to date. Therefore, since the Deployment Planner reports that CentOS 8 is not supported, we can consider that the Deployment Planner reports wrong information, certain

[2020-04-07 12:14] yanivlavi commented on #51819
The resource URI suffix will not be the alert rule name, but the string structure you mentioned above.

[2020-04-07 12:14] yakeem commented on #51857
@RohitMungi-MSFT Thank you for reply. What about pricing - we pay also for non translated characters?

[2020-04-07 12:19] ChiragMishra-MSFT commented on #51844
@gpj1 This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- MSDN / [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-eventhub). Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

W

[2020-04-07 12:19] #51844 closed

[2020-04-07 12:22] DavidDataOrbis opened #51876 "Guide fails at "Load your workspace""
Update the project. Run as it stands fails at the "Load your workspace" step - can't load the environment. I found a solution in this link: https://github.com/Azure/azureml-sdk-for-r/issues/232#issuecomment-580943754
&gt; azuremlsdk::install_azureml(envname = "r-reticulate")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-07 12:24] jakaruna-MSFT commented on #51862
@SuDHarmik
Thanks for the question! We are investigating and will update you shortly.

[2020-04-07 12:26] arcum commented on #51830
I am seeing the same error. Strangely enough this is only happening on a couple of devices... These devices are having trouble showing up in Intune. We're currently piloting all of our devices to Intune via co-mgmt.
Any idea as to where to log a ticket? SCCM support? Intune support? Azure support?

[2020-04-07 12:28] SubhashVasarapu-MSFT commented on #51721
@kumarallamraju , Appreciate your patience. As mentioned in the doc, availability set concept is supported only by Azure basic load balancer. Standard load balancer doesn't have that capability of selecting VM's from a single AV set instead, it will list out all VM's in a VNET.
There is also a feature request for this functionality in standard load balancer. You can provide your [feedback there](h

[2020-04-07 12:28] #51721 closed

[2020-04-07 12:28] RohitMungi-MSFT commented on #51760
@ancibira I have followed the setup mentioned in the document where the training and analyze scripts worked without any errors in my case.
![image](https://user-images.githubusercontent.com/46958063/78668506-6d591a80-78f8-11ea-9839-369cb0440118.png)

[2020-04-07 12:32] RohitMungi-MSFT commented on #51868
Could you try to restart your notebook kernel and check. I have used the following steps to install latest version of Azure ML SDK and the cells ran successfully.

`!pip install azureml-core==1.2.0.post2`

![image](https://user-images.githubusercontent.com/46958063/78669352-c2496080-78f9-11ea-8d9a-5ef8a34e53b7.png)

[2020-04-07 12:34] arcum commented on #51830
Additional comment as I'm unable to edit above comment apparently.
Currently trying out "dsregcmd.exe /leave" as per this article https://docs.microsoft.com/en-us/azure/active-directory/devices/enterprise-state-roaming-troubleshooting#verify-the-device-registration-status

[2020-04-07 12:40] IEvangelist commented on #51822
@reassign: aahill

[2020-04-07 12:45] ra312 commented on #51868
This is what I get
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/12486277/78670548-c24c5f00-78ff-11ea-95b8-6596f29cea44.png">

[2020-04-07 12:48] sergio-at-neocles opened #51877 "Localization for custom templates"
I'm creating custom templates for user flows. In most of the cases the difference between languages is just a label. I haven't been able to find a way to use the localization string IDs in my template so it gets translated. The only solution I was able to find is creating multiple pages with the language name as the parent directory, e.g: `en/unified.html`, `es/unified.html`.

---
#### Document De

[2020-04-07 12:58] devlife commented on #51817
@msrini-MSFT I didn't see your comment yesterday. I'll try that out today!

[2020-04-07 13:03] KalyanChanumolu-MSFT commented on #51705
@asanaliev There is no syntax error or issue with the query, I just tried it and it works fine.
Coming to the URI, you should use the "URI" and not the "Data Ingestion URI"

We will close this issue now and help you with your other issue.

[2020-04-07 13:03] #51705 closed

[2020-04-07 13:05] CameronGo opened #51878 "powershell reporting with modern authentication?"
where can i find instructions for these powershell reports using the updated AzureAD powershell that uses modern authentication?  I cannot run these Get-MsolUser commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c695a366-7220-081a-8e04-ab84c6f201b7
* Version Independent ID: bec85559-f35b-d6ff-4ea9-92a3d411d37f
*

[2020-04-07 13:07] fabson69 opened #51879 "apt-get could not be found on the latest Azure Linux VM"
I tested yum and it worked for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use Remote Desktop to a Linux VM in Azure - Azure Linux Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machin

[2020-04-07 13:08] KalyanChanumolu-MSFT commented on #51704
@asanaliev As suggested by Mike, you should be logged in to Data explorer with an account that has permissions on the cluster.

![image](https://user-images.githubusercontent.com/8835012/78672887-e9566100-78fe-11ea-8379-e634c9578ab3.png)

Do let us know if you face any further issues.

[2020-04-07 13:11] YanDavKMS commented on #51860
Hey thanks for the quick response.
I have tried to add SKU K80 but it does not seem to be valid properties.
I'm pasting here the whole yaml file and the error I get when trying to apply this configuration.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app
  labels:
    app: test-app
spec:
  replicas: 1
  selector:
      matchLabels:
        app: test-app
  template:
    metadata:

[2020-04-07 13:28] SuDHarmik commented on #51862
@jakaruna-MSFT Thank you for the response. Hope the question is clear and will wait for the update.

[2020-04-07 13:37] RohitMungi-MSFT commented on #51868
@ra312 Can you use different compute instance and start the installation and check?. Looks like a local environment issue, the latest version of the SDK works fine for me.

[2020-04-07 13:41] StingyJack commented on #51738
@jakaruna-MSFT  - thanks for the docs links. Since you see the support ticket, can you give someone in support a nudge? We havent had any response and it should have been 2 hours or less initial response time.

[2020-04-07 13:42] henriquebelotto commented on #51826
Yes, the application appeared there, regardless of where I registered them. But when I tried to run the custom policy, I couldn't see any application, except when I deleted my application and registered again, using the "standard" registration, not the "preview". The application itself was the same, just the way that I registered it

[2020-04-07 13:44] RohitMungi-MSFT commented on #51869
@MayMSFT Could you please help to clarify if there is a plan to support dataset creation using the REST API?

[2020-04-07 13:49] saurabhcummins opened #51880 "access policy"
what access is needed by databricks to spin event grid and other azure resources ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141a682b-afaa-a36c-f3cc-baab732b38a9
* Version Independent ID: 6202c305-b765-6237-fb49-18ad0fa7374c
* Content: [Load Files from Azure Blob storage or Azure Data Lake Storage (Gen1/Gen2) usin

[2020-04-07 13:50] jonwbstr opened #51881 "Documentation still doesn't cover what is required"
We just tried to setup invoice billing, filled out the form and the request was sent to the commerce team. The next reply wasn't that we are all set, it was that we missed two things
1. Legal documentation so Microsoft can validate the legality of the company
 "Kindly submit any of the legal documentation below wherein we can validate the legality of the company and address"
2. The address on the

[2020-04-07 13:56] kudlatiger commented on #51710
Thanks for the response.  Once I enable external mode, do I need to manually set up monitoring on the VNET? Basically I would like to stop DDoS attack on APIM.

[2020-04-07 13:56] qqnarwhal opened #51882 "Typo in sample command"
For "create a managed disk from snapshot"
$snapshotName = "myShapshot" &gt;&gt;&gt;&gt;&gt; should be "mySnapshot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6aa2278bcdef
* Version Independent ID: 9ada224f-5a76-bcde-2dc0-928a29c4323f
* Content: [Azure virtual machine scale sets FAQs - Azure

[2020-04-07 13:59] CameronGo commented on #51878
I needed to update my MSOnline powershell module to support modern auth.

[2020-04-07 13:59] #51878 closed

[2020-04-07 14:02] SadiqhAhmed-MSFT commented on #51759
@nnamedieh You should not expect reconciliation file summary results to match the result retrieved from this API exactly for the same time period.
https://docs.microsoft.com/en-us/partner-center/develop/get-a-customer-s-utilization-record-for-azure#azure-utilization-api

[2020-04-07 14:08] AshokPeddakotla-MSFT commented on #51800
@levi106 As specified, if both are deployed in the same device you will be able to access using the http://<module name>:11002/<account name>
Could you please confirm, whether both deployed on the same device or different device? also, have you specified the account name and key properly?

[2020-04-07 14:09] fgheysels commented on #51636
@AshokPeddakotla-MSFT the documentation is correct.   I'm just wondering if the implementation shouldn't be modified so that you're not talking about a servicebus namespace, but rather an eventhub namespace.

[2020-04-07 14:10] PramodValavala-MSFT commented on #51710
@codemaker Azure DDoS Basic is available for all azure services by default at no extra cost. When deployed into a VNET, you have the ability to enable [Azure DDoS Standard Protection](https://docs.microsoft.com/en-us/azure/virtual-network/ddos-protection-overview) which provides you with addition mitigation capacilities.

You can read more about [Best Practices of DDoS Protection](https://docs.mic

[2020-04-07 14:13] aykitaya opened #51883 "About description of Public IP address per VM."
I'd like to ask about description of Public IP address per VM.

The description about Public IP address per VM on this page  is below.

Resource Manager representation:
 Public IP address with **dynamic** allocation method.

Notes:
 The public IP address associated with the VM is converted as a public IP address resource, with the allocation method set to **static**.

As a result of the behavior v

[2020-04-07 14:13] sneakernuts opened #51884 "Version Update"
"Dmgcmd.exe is included in the self-hosted installer. It's typically located in the C:\Program Files\Microsoft Integration Runtime\3.0\Shared\ folder."

This is now 4.0. For the documentation we could potentially change that or have *version* in place of 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-

[2020-04-07 14:19] roofiq commented on #51784
Hey @BharathNimmala-MSFT. I was following below doc:
[](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export)

I copied database A to other subscription and was running our pipeline on that. It was failing on 2nd run (after creating failover group, with the error attached above).

So there is an issue with copying database from elastic pool (because with copying standalone DB al

[2020-04-07 14:20] njbuch opened #51885 "Missing download to device feature-reference"
As it is not metioned, I guess there is no support of data-transfer the other way. I need quite some large data chunks for the device to be downloaded from the blob storage. Ideally a synchronized functionality so the files in blob-storage matches the ones on the device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2020-04-07 14:34] dagiro commented on #51782
@Fabiest, I have brought this issue, and the other two, up to the original author. Will get back to you soon.

[2020-04-07 14:53] devlife commented on #51817
@msrini-MSFT That did indeed do the trick. It may be helpful to include that in the documentation. In addition it would have been very helpful to include documentation about the Policy UI in the portal!

[2020-04-07 14:57] msrini-MSFT commented on #51817
@vhorne, Can we have a doc on how about Policy UI in the portal.

@devlife , I have share the feedback. Thank you for your contribution.

[2020-04-07 14:57] #51817 closed

[2020-04-07 14:57] msrini-MSFT commented on #51768
@StefanIvemo , Do you have any update on this issue?

[2020-04-07 15:03] vglu opened #51887 "Enable multi-turn during testing of follow-up prompts"
Enable multi-turn during testing of follow-up prompts
When you test the question with follow-up prompts in the Test pane, select Enable multi-turn, and then enter your question. The response includes the follow-up prompts.

on screenshot not exists this option. Looks like description old and screen new.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-04-07 15:06] MattHartz commented on #51296
@lucarv Yeah, i even ran it locally using ngrok, and i can get the validationevent from EG. But then it fails the handshake for whatever reason.

[2020-04-07 15:11] kudlatiger commented on #51710
Standard protection cost $2000 plus per month.

"Azure DDoS Basic is available for all Azure services by default at no extra cost." - Do we have any Microsoft document for reference which says its free?

[2020-04-07 15:12] devlife opened #51888 "Rule details/definitions"
Where can I see the details about what a rule is actually doing? For example `Request content type is not allowed by policy`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079888f6-188c-1bb9-0516-bd52ad0f287e
* Version Independent ID: 1971c541-4019-f620-b57b-8cfd5acf87a1
* Content: [CRS rule groups and rules - Azure We

[2020-04-07 15:14] rwaal opened #51889 "Broken links to instructions how to create user-defined routes"
In section **Instances unreachable**, under **Solution** there is a link to another page that describes how to create user-defined routes. That link, and the following Troubleshooting link is broken.

I believe both links should reference the following page:
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/on-prem-network#--step-3-create-user-define

[2020-04-07 15:15] mumian commented on #51866
@GaryStrange - the parameter file option is not available for the portal deployment method.

#please-close

[2020-04-07 15:16] #51866 closed

[2020-04-07 15:16] PramodValavala-MSFT commented on #51710
@codemaker The [table in this doc](https://docs.microsoft.com/en-us/azure/virtual-network/ddos-protection-overview) does mention it.

Note this covers common network-level attacks by default. So, if you are using Azure, you are already covered by the free DDoS Protection.

[2020-04-07 15:17] davecatt opened #51890 "PHP 7.4 now supported."
7.2, 7.3 and 7.4 are available.  5.6 is eol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e564777-8d59-9065-6f0d-d8ea3fc6ee62
* Version Independent ID: ec93756c-4d7f-efc8-a8ca-9b87d1be8ac3
* Content: [Configure PHP runtime - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-php-configur

[2020-04-07 15:19] rodrigogo27 commented on #51277
Hello @richardeakin,

Here are the changes I did to get it working:

1. Remove **/face/v1.0** and **/vision/v1.0** from the host URLs, since those are now appended by the library.
2. Add a detection model to the Face API call by replacing the line 178 in the **MainWindow.xaml.cs** file from the **LiveCameraSample** project with the following two lines:

`var_ model = FaceAPI.Models.RecognitionMode

[2020-04-07 15:19] kudlatiger commented on #51710
Do we get DDoS attack dash board so that we can do daily monitoring? Basically we have APIM, Azure AD and Log Analytics which are publically exposed to the internet. do we really need to recure it or Microsoft will take care?

[2020-04-07 15:21] rodrigogo27 commented on #38243
Hello all,

Please see [this comment](https://github.com/MicrosoftDocs/azure-docs/issues/51277#issuecomment-610448807) with the steps to get it working.

[2020-04-07 15:26] nnamedieh commented on #51759
Hi @SadiqhAhmed-MSFT ,
thanks for your answer! But I'm quite wondering about the fact, that I retrieve different results from day to day from past billing periods. I thought that past billing periods summary result would not change anymore?

[2020-04-07 15:27] ChristianMontoya commented on #51802
@gokul2018 : Yes, you can setup can setup Azure Firewall or any other appliance where outbound network activity from VMs get routed through a single point before reaching the Internet. Also, just to confirm, this does not break the functionality of the WVD agents, so you should be good to go.

@jakaruna-MSFT

[2020-04-07 15:28] AshleyYang25 opened #51891 "Can we add a new different vm to existing hostpool?"
Hi team,

I already created a hostpool with 2 win10 virtual machines, can I add a new virtual machine (windows server) to this hostpool?

Can different type VMs(Windows & Ubuntu os) live in a hostpool?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version I

[2020-04-07 15:32] annerajb commented on #50611
I wish they still release the Protocol modifications even if they plan to release a MacOS Vpn client.

The opensource community can take care of Linux, Android and iOS removing the burden from Microsoft.

BTW conditional access is a whole  other ballpark / category. I think those fall under the Intune SDK which is already released.

[2020-04-07 15:36] tamram commented on #51867
@sandip22490 - We do describe the possibility of a Microsoft-managed failover here:

https://docs.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance#microsoft-managed-failover

In extreme circumstances where a region is lost due to a significant disaster, Microsoft may initiate a regional failover. In this case, no action on your part is required. Until the Microsoft-managed fai

[2020-04-07 15:41] mumian commented on #51637
@simonech - Thank you for the comment. I will add networkSecurityGroup to the diagram.

#please-close

[2020-04-07 15:41] #51637 closed

[2020-04-07 15:43] josiahvinson commented on #51599
@ChiragMishra-MSFT I posted this issue on a doc page that lists services that support Data Lake Gen 2 and **Event Grid is not mentioned in the list**. That's why I posted this issue - so that this page would be updated with a link to one of the articles you or I linked.

[2020-04-07 15:45] mcollier commented on #49610
This may be related to https://github.com/Azure/azure-functions-core-tools/issues/1883

[2020-04-07 15:46] samjones00 opened #51892 "Please add a command - PIP install Pillow"
Please add the instruction "PIP install Pillow" somewhere in the page, without this users will get an error when trying to execute the line "from PIL import Image, ImageDraw".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d930c16-d536-f5d3-fed6-8e08a9d4ae19
* Version Independent ID: 505b497d-5bb1-57c9-c400-8305e0a930

[2020-04-07 15:50] himanshusinha-msft commented on #51859
@kannancorent : Thanks for reaching out to us .Can you please let us know which Microsoft docs which you are referring to ? . If you are referring to a particular user scenario / error  we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you

[2020-04-07 15:54] tamram commented on #51544
@MaduraDias - Thanks for your feedback! I'm not sure I understand your question - could you provide us with more information about what you're looking for?

[2020-04-07 15:56] aaroncalderon opened #51893 "Document how to perform a full sync."
The current use cases do not cover how to sync all user data of current employees.

For example, any data prior to turning the connector on is not synced.

Department, location, etc. is not synced for current user, only for new transactions, right?

## Request

Would it be possible to document how to perform an initial full sync?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-07 15:56] sidemt commented on #46361
Hi. I had the same problem.

I ended up deleting the server and creating it again, but this time, I removed the characters `[` and `?` from my password since these were not in the example of non-alphanumeric characters on the document.

I'm not sure if it was the cause, but it worked for me.

[2020-04-07 15:57] PramodValavala-MSFT commented on #51710
@codemaker Those metrics and logs are streamed to Azure Monitor when you have DDoS Standard as mentioned in the doc. The Basic Plan has not such metrics but will protect Azure Resources from common network-level attacks on its own.

You could still monitor you own services with metrics they each may provide for any anomalies that Azure DDoS may not consider an attack but are unusual for your appli

[2020-04-07 16:00] AshokPeddakotla-MSFT commented on #51757
@ElliotWood Looks like a transient failure. I just tried and able to see the results immediately without any errors.  Please see below.

![image](https://user-images.githubusercontent.com/44426435/78692048-f5e6b380-7916-11ea-942b-238f2760cf57.png)

Glad to hear that your is is resolved.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me i

[2020-04-07 16:00] #51757 closed

[2020-04-07 16:06] djpmsft commented on #51863
@kilagg What is your permission on the release pipeline? If you are only a reader, there is a known issue with viewing data flows in the UX.

[2020-04-07 16:09] bherrsk opened #51895 "Cross Region Restore - needs updating"
On the cross region restore page (https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault#set-cross-region-restore) it states that CRR is previewed in all public regions but the table on this page does not reflect this.

Please update the regions AND the backup management types if there has been any change to those as well.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-04-07 16:11] AAGhotkar opened #51896 "Document doesn't contain information about portalTemplates folder. Also not sure why users are forced to use repository created by Azure APIM service instance instead it should have allowed end user to configure their own Git Repository instance."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-07 16:13] navyasric commented on #42462
Adding @hamiltonha for JavaScript to take a look. Please reassign.

[2020-04-07 16:18] BharathNimmala-MSFT commented on #51784
@roofiq Thank you for circling back on this with additional information. Assigning this issue to @Mike-Ubezzi-MSFT to further look into it.

[2020-04-07 16:18] BhargaviAnnadevara-MSFT opened #51897 "Even for Mixed sentiment Document score is coming"
@AravindIT https://github.com/MicrosoftDocs/azure-docs/issues/51366#issuecomment-607618258

Below is the document which I referred.  https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis?tabs=version-3

In the above document it has been mentioned that document scores won’t be available for sentiment mixed.But still I can see the d

[2020-04-07 16:18] sswinford-dcc opened #51898 "Trailing slash required for Tenant and Issuer field"
Connection errors unless a trailing slash is included after both the Tenant and Issuer fields. Please update step 9 to include the trailing slash.

I found conversations regarding this issue here: https://github.com/MicrosoftDocs/azure-docs/issues/45598

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-

[2020-04-07 16:20] VitalyMCT opened #51899 "Duplicate sentence"
"A hash distributed table can deliver the highest query performance for joins and aggregations on large tables" is listed twice in a row.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6f95be-15fb-4822-1fa2-4f61ef029093
* Version Independent ID: 5b38f604-088b-8e2e-7545-278801d68e51
* Content: [Azure Synapse Analytics

[2020-04-07 16:21] BhargaviAnnadevara-MSFT commented on #51366
@AravindIT Thank you for the response! I've created a [new issue](https://github.com/MicrosoftDocs/azure-docs/issues/51897) for the appropriate Team to investigate and update.

[2020-04-07 16:21] SaurabhSharma-MSFT commented on #51858
@joheynek Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 16:22] SaurabhSharma-MSFT commented on #51893
@aaroncalderon Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-07 16:24] SaurabhSharma-MSFT commented on #51850
@ManoKanmani Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 16:24] msrini-MSFT commented on #51898
@sswinford-dcc , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-07 16:28] SaurabhSharma-MSFT commented on #51454
@netw0rks We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-07 16:28] #51454 closed

[2020-04-07 16:30] kudlatiger commented on #51710
So the conclusion is adding external or internal mode will not help unless I apply a DDoS plan on VNET. Just leave APIM as it is will also be protected by basic Microsoft protection layer.

[2020-04-07 16:30] HUBBER12 opened #51900 "Recommended Guidance on Attachments - being depreciated"
I was looking at the latest documetation here:

[Azure Cosmos DB Service Quotas](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits)

And noticed, the part mentioning that Attachments for Cosmos DB is being depreciated.  Do you have some guidance/guides on what to do with attachments?  Do we put in blob storage, how would we do that in connection with Cosmos DB and user permissions?

[2020-04-07 16:31] TravisCragg-MSFT commented on #51666
@ezYakaEagle442 That should work just fine. The only CLI limit is with adding a WAF policy to an existing Application Gateway.

[2020-04-07 16:35] guardrex opened #51901 "Where can I get Administrative Role Object Ids"
The table at ...

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#role-template-ids

... shows template ids, but where can I get the **Object Ids** of these roles? The portal doesn't show them (that I can find), and I can't locate a list of them. They're useful for dealing with `groups` claims in an OIDC-enabled ASP.NET Core app, where only t

[2020-04-07 16:41] JimacoMS3 commented on #28498
@AshokPeddakotla-MSFT. @aishanibhalla -- just FYI: this is an old issue, and, as I mentioned, I lack clarity on what changes are being requested. I'll leave it open for a week or so to hear back. After that I'll go ahead and close it. Please update this thread if you can provide additional information/clarity.

Thanks,

Jimaco

[2020-04-07 16:47] Grace-MacJones-MSFT commented on #51890
Hi @davecatt, thanks for bringing this to our attention! We will update the doc shorty.

[2020-04-07 16:51] bandersmsft commented on #51742
@mohammedrameesp We're sorry you ran into this problem. This is an issue that's in the process of getting fixed. However, I don't have an ETA when it will be resolved in the Azure portal.

Although the Create budget interface asks you to provide the value in USD, it in fact calculates in your billing currency (INR).

Have you created a support ticket? If not, please do and send me (banders@microso

[2020-04-07 16:54] vhorne commented on #51797
Updated to include link to v1-v2 comparison table.
#please-close

[2020-04-07 16:54] #51797 closed

[2020-04-07 16:54] raboley opened #51902 "Docs are good, but example falls short"
I was able to follow these directions to get live pods in my cluster using terraform and everything works great! but the example pod section needs more info on how to test it after all this has been setup. Currently it just says deploy it then the docs end. It would be nice to see how to access the example pod content through the api gateway, and if there is additional config that has to happen to

[2020-04-07 16:58] TestUser0811 commented on #51708
@PramodValavala-MSFT "The secret is fetched when the function first warms up and if the function were to scale down to zero" this statement of yours is not true. Only function app restart is fetching the latest secret & it is painful to restart function app every time you update the keyvault secret version & it is definite caveat Microsoft has to patch out.

Even tried out updating the function ap

[2020-04-07 17:01] MarileeTurscak-MSFT commented on #51877
@sergio-at-neocles
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 17:02] MarileeTurscak-MSFT commented on #51901
@guardrex
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 17:07] MicrosoftGuyJFlo commented on #51168
#please-close

[2020-04-07 17:07] #51168 closed

[2020-04-07 17:09] MartinJaffer-MSFT commented on #51853
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-04-07 17:10] PatrickFarley commented on #49890
@hEi872 , I've updated the JavaScript quickstarts, please have a look again.

The issue was that HTML-based JS cannot use the process construct - it's only for NodeJS.
#please-close

[2020-04-07 17:10] #49890 closed

[2020-04-07 17:10] guardrex commented on #51901
The **_only_** place that I see them published on the whole Net is here ...

https://www.easy365manager.com/azure-administrator-roles/

I understand from that doc that I could get that table with **Azure via MSOL (MSOnline)**; however, I don't have an MSOL account that will allow me to use that module.

I don't understand how to get Microsoft Graph Explorer to provide them, nor do I know what comm

[2020-04-07 17:11] himanshusinha-msft commented on #51863
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-07 17:13] MartinJaffer-MSFT commented on #51880
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-04-07 17:14] PatrickFarley commented on #48779
@Shelabd , I don't think we currently support deploying to a Kubernetes cluster, but the [Deploy the sample labeling tool](https://docs.microsoft.com/azure/cognitive-services/form-recognizer/deploy-label-tool) guide shows how we do it on Docker.

#please-close

[2020-04-07 17:14] #48779 closed

[2020-04-07 17:17] PatrickFarley commented on #48738
@AleynovSergey We've since updated the doc with table-labeling instructions. Please see the [Sample labeling tool](https://docs.microsoft.com/azure/cognitive-services/form-recognizer/quickstarts/label-tool#apply-labels-to-text) guide.

#please-close

[2020-04-07 17:19] himanshusinha-msft commented on #51889
We have assigned the issue to the content author  . They will evaluate & update the document as appropriate

[2020-04-07 17:21] msrini-MSFT commented on #51898
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/110531

[2020-04-07 17:26] AshokPeddakotla-MSFT commented on #51712
@neerajks77 Let us know if you are still blocked.

[2020-04-07 17:27] #51898 closed

[2020-04-07 17:28] Darko-git opened #51905 "Scale up/down/in/out"
It seems that this page and others in this section are incorrectly using scaling up/down instead of scaling out/in.
The title of this page is actually correct. But the text throughout is not.
Scale up - increase the VM size without changing the node count
Scale out - increase the node count

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-04-07 17:28] guardrex commented on #51901
I'm going to close this, as I don't understand the data that I'm receiving from Azure AD. For example, I just found ...

https://docs.microsoft.com/en-us/powershell/module/azuread/Get-AzureADDirectoryRoleTemplate?view=azureadps-2.0#examples

... that matches your table and the easy365manager.com table. The ObjectId for "Billing Administrator" should be ...

... but the `groups` claim that I'm rece

[2020-04-07 17:28] #51901 closed

[2020-04-07 17:35] hiteshvadgama opened #51906 "Whitelisting PIPs"
Hi there,
If you were using an standard external LB for inbound connectivity and NAT GW for outbound, and lets say there was an external service that needed to whitelist public IPs associated to your Azure VM. Would they need to whitelist both the LB PIP and the PIP associated to the NAT GW?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-04-07 17:38] dinyadin commented on #51818
What is the status of this issue?

Can anyone give me a brief idea of it? I would like to work on this

[2020-04-07 17:40] NavtejSaini-MSFT commented on #51701
@mailtogurvindersingh Please let us know if you need any further help or we will close this thread by EOD.

[2020-04-07 17:41] #51700 closed

[2020-04-07 17:43] PeterCLu commented on #50760
Hi @oo2316oo , since we haven't heard back from you in a while, I will proceed to #please-close this issue.

If you are still experience documentation difficulty, please open a new issue with additional details.

[2020-04-07 17:43] #50760 closed

[2020-04-07 17:49] AlexImray opened #51907 "Allowed file name extensions doesn't include .har"
When creating a support request in the portal, the user is encouraged to capture and upload a screenshot of the problem, and capture and upload a network trace which is referred to as a HAR file.

However, this cannot be done, because .har files are not supported for upload. If there are additional step to uploading the HAR file, they're not made clear anywhere in this or the [How to Create a Supp

[2020-04-07 17:53] Norrch2 opened #51908 "Persisted Claims"
This document indicates in the Persisted Claims section, " To add claims in the session, use the &lt;PersistedClaims&gt; element of the technical profile."

do we use the PersistedClaims element in the SSO technical profile or the self-asserted technical profile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a542986-

[2020-04-07 18:01] #31154 closed

[2020-04-07 18:03] PeterCLu commented on #51359
@giorgia995, The easiest way to deploy models built in the designer is directly from the designer. It will completely take care of deploying the model.

If you want to deploy outside of the designer, you can find the trained model in the output directory of your designer pipeline run. See this article: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-retrain-designer#find-a-trained-m

[2020-04-07 18:04] levi106 commented on #51800
Both deployed on the same device.
Working correctly if specifying IP address instead of module id, so I think the account name and key are correct.

[2020-04-07 18:04] BharathNimmala-MSFT commented on #51895
@bherrsk Thank you for bringing this to our notice, we will review the feedback and update the document accordingly.

[2020-04-07 18:16] PeterCLu commented on #51876
#assign:@sdgilley can you look into this?

[2020-04-07 18:17] Karishma-Tiwari-MSFT commented on #51621
@nkamkolkar Did that help answer your question? Let us know. Thanks.

[2020-04-07 18:18] mozziemozz commented on #51765
@IEvangelist the exact name of the voice was "Microsoft Server Speech Text to Speech Voice (de-DE, JanaNeural)" if that helps. I was able to look it up in the XML file which is saved by the PowerShell GUI Tool, further "proof" that this voice was indeed publicly available for a very short time.

[2020-04-07 18:22] rgamage commented on #34581
Please update this article to mention this minimum build/version requirement for Windows 10 (1809/17763).  Currently this article only lists required versions for WinIot and Win Server.

[2020-04-07 18:23] dcurwin commented on #51895
The document has been updated. The changes will show in the next few hours. Thank you.

#please-close

[2020-04-07 18:23] #51895 closed

[2020-04-07 18:24] ra312 commented on #51868
Yes, I can. Indeed, the issue was local in nature and I fixed it. Thanks for your help.

[2020-04-07 18:24] #51868 closed

[2020-04-07 18:25] Karishma-Tiwari-MSFT commented on #51532
I am reaching out to the experts but I would recommend opening a new issue for that particular doc so that the right experts can help you there timely.
You can do so by going to the end of that document and clicking on 'This page' button and then entering your question, as shown below:

![image](https://user-images.githubusercontent.com/20851144/78705398-3ff17a00-78c2-11ea-9518-eafb507cf313.png)

[2020-04-07 18:25] dgonzalezauxzillium opened #51909 "Configure account permissions for Azure AD Connect - Wrong instructions"
Unexpire Password does not appear if we try to apply to only 'Descendant User objects'. It also does not appear if you try to apply the permissions anywhere other than the root of the domain. You have to apply the permissions to 'This object and all descendant object' for Unexpire Password to appear. I checked on different domain controllers for 2 different clients and it was the same result. The

[2020-04-07 18:26] Karishma-Tiwari-MSFT commented on #51251
@mlearned @zr-msft Can you please share who would be the right person to update this document? Thanks :)

[2020-04-07 18:27] empiricaldataman opened #51910 "Minor discrepancies in sp_add_target_group_member description"
[ @membership_type = ] 'membership_type'
Specifies if the target group member will be included or excluded. target_group_name is nvarchar(128), with default of ‘Include’. Valid values for target_group_name are ‘Include’ or ‘Exclude’.
Should be "Valid values for membership_type are ‘Include’ or ‘Exclude’."

[ @refresh_credential_name = ] 'refresh_credential_name'
The name of the SQL Database server

[2020-04-07 18:30] normesta commented on #51599
Thanks for raising this issue @josiahvinson. I've updated to doc to include Event grid. This change should appear live today after 3. Thank you again.

[2020-04-07 18:32] yannara opened #51911 "Missing instructions"
Why not to discribe here quickly how to install PS cmdlet and connect to tenant? This page is party useless because of that info missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-8170-6f7a-132b2d79e1df
* Content: [Self-service password r

[2020-04-07 18:32] Grace-MacJones-MSFT commented on #51836
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-07 18:34] IEvangelist commented on #51765
Hi @mozziemozz,
I heard back from the PM and they said that the voice was only there temporarily for testing. It is unclear at this point if that voice will ever be publicly available again. I do apologize, but we need to close this issue. Thank you for your patience and understanding.

[2020-04-07 18:37] cyberlg opened #51912 "Create the Budget"
Step. 11 says to replace the budgetname but the script does not have {budgetname}. It does however have a {resourcegroupname}. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-fc3d9210b363
* Version Independent ID: 11688ab7-9553-f03d-5a06-06f25383eff9
* Content: [Azure bill

[2020-04-07 18:40] SubhashVasarapu-MSFT commented on #51753
@golfalot , Appreciate your patience. It looks like you are dynamically passing the "Request id" variable to "-CustomBlockResponseBody" parameter. How do you manage to embed a dynamic variable between html body tags? Could you please explain more about your automation script here?

[2020-04-07 18:41] mozziemozz commented on #51765
Hi. Ok. If you don‘t mind, please tell them my feedback that it was the best TTS Voice in German i ever heard and they should most definitely make it available soon :)

[2020-04-07 18:42] SubhashVasarapu-MSFT commented on #51707
@theheatDK , Appreciate your patience. We are working on updating the doc.

[2020-04-07 18:44] GiftA-MSFT commented on #51795
@sokiable I don't clearly understand the issue you are describing. Can you please clarify the issue and provide examples (screenshots would be helpful). Thanks.

[2020-04-07 18:47] Jont-K opened #51913 "Screen shots and workflow are outdated"
The screen shots and defined steps have been updated in Partner Center but not in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c14f046-8a16-65ac-2bb2-0740610e2b55
* Version Independent ID: 5a901ada-563e-378d-a9b8-fddd9059901b
* Content: [Azure Table](https://docs.microsoft.com/en-us/azure/marketplace/

[2020-04-07 18:49] MaximSidorchuk opened #51914 "ARM deployment script with app registration in AAD"
Hi,
This article mentioned that it's possible to create an app registration in AAD with deployment scripts in ARM templates. But I didn't find a way how to do it.
I tried:
First step: ARM creates Managed Identity.
Second step: How to assing AAD permissions to this Managed Identiny in ARM template and perform app registration in AAD?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-04-07 18:50] mark-szabo commented on #33157
@kylehayes that's not quite correct. Yes, you cannot get it out of the failed state from the portal currently, but you can do that from PowerShell or the CLI.

Eg. delete the failed listener, rule and cert:
[code]

[2020-04-07 18:52] SubhashVasarapu-MSFT commented on #51906
@hiteshvadgama , We are looking into this query and will update you as soon as possible.

[2020-04-07 18:54] Chai-NED opened #51916 "We need more info here"
Please consider putting the actual default numbers on this page. Start with  the IOPS / BW limits of premium blob, perhaps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39c2f390-99c8-3ce6-a954-d84f542083c0
* Version Independent ID: c370ce4b-760f-f19c-a06f-7b44cc7c58c9
* Content: [Scalability targets for premium block

[2020-04-07 18:57] VolodymyrMolodets commented on #18253
It is worth mentioning that even if you do generate self-signed certificate using the command above, you can still face the very same error if the vnet you are deploying to is not configured with the IP-addresses of DNS servers for AADDS. I ran into this even though I had vnet peering with AADDS vnet configured.

[2020-04-07 18:59] neerajks77 commented on #51712
No, I am not. I got over by working on the Portal directly.

Thank you so much.

On Tue, Apr 7, 2020 at 12:29 PM AshokPeddakotla-MSFT <
notifications@github.com> wrote:

--
Best Regards,
Neeraj

[2020-04-07 19:02] Karishma-Tiwari-MSFT commented on #51878
Thanks for sharing the update.

[2020-04-07 19:02] jackt-moran commented on #47716
Hi @mamccrea , thanks for the update!

[2020-04-07 19:05] donets420 commented on #51656
Just received status from python SDK:
{'Enabled', 'Disabled', 'Warned'}

It's very actual question now. I hope you will update docs soon.

[2020-04-07 19:06] Karishma-Tiwari-MSFT commented on #51882
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-07 19:06] #51882 closed

[2020-04-07 19:06] Karishma-Tiwari-MSFT commented on #51882
https://github.com/MicrosoftDocs/azure-docs-pr/pull/110555

[2020-04-07 19:11] YutongTie-MSFT commented on #51892
@samjones00
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-07 19:20] IEvangelist commented on #51765
I made sure to let them know, thanks again. #please-close

[2020-04-07 19:20] #51765 closed

[2020-04-07 19:22] PaulEstevesAtPEX commented on #51830
I have a ticket open with Intune support, he's saying that because this is a hybrid setup Intune support isn't covering this.

Also looking for the best place to log a ticket for this

[2020-04-07 19:29] VanMSFT commented on #44237
Hello @cmosqu! I hope your questions were answered. Please feel free to let us know if you have any concerns.

#please-close

[2020-04-07 19:29] #44237 closed

[2020-04-07 19:30] SnehaGunda commented on #51508
#reassign: @TheovanKraay

Testing

[2020-04-07 19:31] SnehaGunda commented on #51732
#reassign: @SnehaGunda

[2020-04-07 19:32] SnehaGunda commented on #51732
#reassign: @KalyanChanumolu-MSFT

testing

[2020-04-07 19:36] YutongTie-MSFT commented on #51887
@vglu
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-07 19:37] AjayKumar-MSFT commented on #51495
Thanks for the update, Eduardo. I have assigned the issue to the content author to review further on this request.

[2020-04-07 19:38] memildin commented on #51858
Updated the page. Changes will go live in the next 12 hours.

Thanks for letting us know!

#please-close

[2020-04-07 19:38] #51858 closed

[2020-04-07 19:40] YutongTie-MSFT commented on #51897
@BhargaviAnnadevara-MSFT
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-07 19:41] PaulEstevesAtPEX commented on #51830
Another note, AzureADPRT = NO
This particular user does not have TPM.
On other machines that also do not have TPM the PRT seems fine and the device is automatically registered.

[2020-04-07 19:44] GiftA-MSFT commented on #51823
@aahill can you please review doc and provide approval for doc changes? Thanks.

[2020-04-07 19:45] nkamkolkar commented on #51621
I am already unblocke per my earlier comment. @CaitlinV39  your link doesn't have anything related to CORs in step 1.

[2020-04-07 19:45] #51621 closed

[2020-04-07 19:47] KranthiPakala-MSFT commented on #51632
@pemar-MSFT Thanks for your response. I totally agree with your point. I have escalated this to the ASA Product team to make authentication details clear for Blob Storage and Azure Data Lake Storage Gen2 in this documentation.  There was an internal work Item opened to enhance this document.

Thanks again for bringing this to our attention.  Before we proceed to  close this issue, could you please

[2020-04-07 19:58] CaitlinV39 commented on #51621
@nkamkolkar under **Deploy Azure API for FHIR** on that link, we included the following details about CORS:

Once you have your Azure API for FHIR deployed, configure the CORS settings by going to your Azure API for FHIR and selecting CORS.

- Set Origins to *
- Set Headers to *
- Under Methods, choose Select all
- Set the Max age to 600

[2020-04-07 20:08] MartinJaffer-MSFT commented on #51863
@kilagg Could you please try refreshing / reloading the Data Factory in your web browser after publishing and let me know if that helps?

[2020-04-07 20:09] jmcshane opened #51917 "Document identity information in aks api response"
In this document, you describe the API response for servicePrincipalProfile, but don't talk about the identity or identityProfile blocks. Can you add more information about the different user assigned identities that are created and how they show up in cluster creation result and the AKS API? There's no information about how the addon identities are named or how those would be displayed in the res

[2020-04-07 20:22] theheatDK commented on #51707
Super. Thanks @SubhashVasarapu-MSFT

[2020-04-07 20:22] #51707 closed

[2020-04-07 20:25] gkgaurav31 opened #51918 "Using Azure App Configuration via Sprint Boot Application"
I am trying to follow this documentation:
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-spring-boot

I have set the environment variable with the required connection string to connect to Azure App Configuration. However, I am getting the following exception while running it:
(I have added spring.cloud.azure.appconfiguration.stores[0].name to bootstrap.prope

[2020-04-07 20:28] MarileeTurscak-MSFT commented on #51908
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 20:32] CharmanderJieniJieni opened #51919 "Can I integrate Azure AD group to Databricks?"
Looks like we can use Azure AD users as Databricks users, however that groups can only be created inside Databricks, is this correct? If so is there a plan to integrate Azure AD groups to Databricks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 102b444a-c3db-79f7-883b-d41539acad57
* Version Independent ID: f7804d4d-6

[2020-04-07 20:34] NillsF opened #51920 "Networkwatcher - NSG flow logs cannot be tagged"
In the page about resources that support tagging (see below) the resource NSG flow logs isn't mentioned. It is an actual resource, and it does not support tagging. We periodically get all Azure resources, and add tags to those resources that do not have tags applied to time. We get error message when doing this for flow log settings, with the error "The requested resource does not support http met

[2020-04-07 20:41] CeciAc opened #51921 "Key rotation using Azure Automation warning"
@rbnmk commented on [Tue Apr 07 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/586)

I believe this warning is not accurate anymore since I am using the AZ module in my Automation account runbooks.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 1e31ea14-f6b0-0cd8-0aee-64427a665a36
* Vers

[2020-04-07 20:42] weinong commented on #51539
https://gist.github.com/weinong/e0390c1884a7eb1120b045cb14f86c95

[2020-04-07 20:51] anzaman commented on #50798
done
#please-close

[2020-04-07 20:51] #50798 closed

[2020-04-07 20:52] anzaman commented on #49689
You can use Intune to deploy the store app and then have it run a script (post install) to import the profile

[2020-04-07 20:53] anzaman commented on #49689
#please-close

[2020-04-07 20:53] #49689 closed

[2020-04-07 20:58] MarileeTurscak-MSFT commented on #51911
@yannara
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-07 21:01] coderwithadream opened #51924 "In the "Run Query and visualize results" action (from Azure Monitor Logs connector), how do I grab the results (rows returned from the query)"
This is my first logic app, and I was wondering if there was a way of utilizing the output of "Run query and visualize results" action (from [Azure Monitor Logs connector](https://docs.microsoft.com/en-us/connectors/azuremonitorlogs/)) to get the results from the query. Similarly to how "Run query and list results" action works, I want to be able to grab the rows returned from the query.

Would yo

[2020-04-07 21:01] Jaryd1212 opened #51925 "No Options for Dsvm Windows"
Under Data science, select Dsvm Windows as the operating system.

I dont have any options under Data Science and I don't see anything similiar to Dsvm (Data Science Virtual Machine)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894562e1-2c07-2f75-b420-d843262a7f07
* Version Independent ID: 1b1fa915-19f0-653c-04d5-218e

[2020-04-07 21:07] femsulu commented on #51819
@ROSMITHJ-MSFT   - any follow-up question?

[2020-04-07 21:10] GFoley83 commented on #51836
Hi @Grace-MacJones-MSFT would you mind reopening this please? Expecting that I'll be able to respond within 24 hours is a bit of a joke really.

To answer your question, no that's not the type of doc I'm looking for as it doesn't provide any insight to my initial question: exactly what Azure services can be run on an App Service Plan?

[2020-04-07 21:26] bandersmsft commented on #51912
@cyberlg I'm investigating this with the Cost Management engineering team. I'll reply when I have something useful.
#in-process

[2020-04-07 21:30] kgremban commented on #34581
@rgamage At this time, only Windows IoT and Windows Server are supported in production deployments.

[2020-04-07 21:35] alvillal89 commented on #15745
If the Public DNS server that is in use does not support the Alias record then this can be achieve very simple:

Use CNAME with afdverify option to pass the validation step:
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain#map-the-temporary-afdverify-subdomain

Add the Public IP to the backend pool with the correct backend host header in this case "contoso.com"

Then once

[2020-04-07 21:36] ThumbGen commented on #39124
@BryanTrach-MSFT I have exactly the same problem... AFAIK image: tag instructs composer which image to choose and container_name defines the name of the container. As on now, sadly, 'container_name' is not supported, hence no chance to communicate between containers.

[2020-04-07 21:37] rgamage commented on #34581
Ok, that makes sense. Maybe make that clear in the docs in this page?

Randy

On Tue, Apr 7, 2020 at 2:30 PM Kelly Gremban <notifications@github.com>
wrote:

[2020-04-07 21:50] elhorton opened #51928 "how to use temporary files?"
Hi, on the Python page of these docs, there is a section on using temporary files. There is no such section for javascript, and I can't find any information on how to use the temporary files in an Azure Function with js. Can someone please point me in the right direction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-07 21:50] hpourreza commented on #29354
To be able to use `https` on Ubuntu 16.04, I had to run `sudo apt install gnupg-curl` as per [this](https://marmelab.com/blog/2018/03/21/using-nvidia-gpu-within-docker-container.html) website before running the `apt-key` command.

[2020-04-07 21:52] lzhang-chata opened #51929 "InvalidTemplateDeployment"
I got following error when I tried this example.

liming@Limings-MacBook-Pro-2 2020-04-06 % az deployment group create --name addstorage --resource-group bot-examples --template-file $templateFile
{'additional_properties': {}, 'code': 'InvalidTemplateDeployment', 'message': "The template deployment 'addstorage' is not valid according to the validation procedure. The tracking id is '70fe33a2-cf01-4

[2020-04-07 21:54] jananivMS opened #51930 "Root CA documented does not work on AzureChinaCloud"
Product: Azure Database for PostgreSQL

Documentation page that feedback is on: https://docs.microsoft.com/en-us/azure/postgresql/concepts-ssl-connection-security

Issue:
 The documentation in the above link mentions in the section "", the below text.
[code]
However, this root certificate only works for instances on the AzurePublicCloud.

For "Azure Database for PostgreSQL" instances on the AzureC

[2020-04-07 22:01] supmn084 opened #51931 "SQL Server Reporting Services"
There should be some guidance here about SQL Server reporting services setup and configuration here, as the wizard "configures" this but will fail as it expects to talk back to itself over 443 requiring lots of additional steps to even get the system running and to complete the wizard.

"Report configuration failed.

Verify that SQL Server Reporting Services is installed properly and that it is ru

[2020-04-07 22:03] shishirx34 commented on #45793
any updates here? anyone?

[2020-04-07 22:07] Mike-Ubezzi-MSFT commented on #51910
@empiricaldataman Thank you for bringing this to our attention. I will have the content team review this and make corrections as necessary.

[2020-04-07 22:14] jlian opened #51932 "minTlsVersion doesn't exist in ARM template export"
When you do an ARM template export using the portal, `minTlsVersion` property doesn't show up. This is because the new 2020-03-01 API swagger isn't yet published so the template schema doesn't have this property yet. This should be fixed once https://github.com/Azure/azure-rest-api-specs/pull/8772 is merged and the new schema is generated.

In the meantime, let's keep this issue open for posterity

[2020-04-07 22:27] RonnieQuan opened #51933 "DNS Record CNAME to Override Public Connection Sting"
Can you please provide more info for following paragraph?
Does it only work using the recommended zone name, e.g. privatelink.blob.core.windows.net?
When I configure my own zone privatelink-nprd.blob.core.windows.net, the FQDN to the public endpoint does not resolve.
What does the CNAME configured by Azure look like, can we customize it to privatelink-nprd.blob.core.windows.net?

https://docs.micr

[2020-04-07 22:33] dsindona commented on #43018
@olavt sorry for the delayed response and thanks for point this out. We are working on sweeping edits regarding the Cloud Partner Portal (CPP). For now, I have made some minor edits for clarification in this article. Please let us know if you have other questions.
#please-close

[2020-04-07 22:33] #43018 closed

[2020-04-07 22:40] alexjebens commented on #45493
Still not fixed latest version is now 1.12.0. The PR redirects to a 404.

[2020-04-07 22:45] KranthiPakala-MSFT commented on #51880
@saurabhcummins Thanks for reaching out. To better assist on your query, could you please elaborate more on your ask/requirement?

[2020-04-07 22:49] supmn084 commented on #51931
To clarify, this is a fresh install through the wizard on a freshly deployed server, using the wizard to install SQL and all settings.

[2020-04-07 22:58] gaikovoi commented on #48866
The root cause of this problem is the fact that AGW accessing KV using some random IP. It can be easily detected by enabling and reviewing KV audit log.
On my KV, I have only my desktop and my AGW frontend IPs allowed. In the KV audit log I've found failed access from another IP (52.184.227.106). As soon I've added this IP to KV allowed list, I'was able to save my AGW config.

What is this IP?
Is

[2020-04-07 22:59] Ratomir commented on #43248
I think that this issue should be reopened. I am having the exact same issue, but now with Azure Functions. I can't have two different functions operating on Windows and Linux in the same resource group and location. I am getting an error message as in the first message. You can following the same thread here. https://feedback.azure.com/forums/169385-web-apps/suggestions/37287583-allow-a-linux-and

[2020-04-07 23:01] Karishma-Tiwari-MSFT commented on #51702
We will now close this issue. Please share the details or open a new issue on the particular document you have questions on.

[2020-04-07 23:01] #51702 closed

[2020-04-07 23:02] Karishma-Tiwari-MSFT commented on #51682
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-07 23:02] #51682 closed

[2020-04-07 23:02] #51690 closed

[2020-04-07 23:04] BharathNimmala-MSFT commented on #51913
@Jont-K  Thank you for bringing this to our notice, will look into it and update the document accordingly.

[2020-04-07 23:07] brandonh-msft commented on #51692
We're using `Azure.Storage` to utilize the Storage data plane (Generate SAS URL) but we have to revert to `Microsoft.Azure.Management.Storage` to list the account keys for a storage account.

This means, while we can use `DefaultAzureCredential` for the first part and it will pull the MSI when we ship to Azure just fine. But we need to be able to F5 debug both pieces here, and the second piece won

[2020-04-07 23:10] mike-urnun-msft commented on #51534
@richieteh94 I have yet to locate a sample but I did come across the following in the SDK doc: https://docs.microsoft.com/en-us/python/api/azure-servicebus/azure.servicebus.control_client.rule?view=azure-python

Also, based on the discussion that took place in issues Azure/azure-sdk-for-python/issues/9263 and https://github.com/Azure/azure-sdk-for-python/issues/4248, it sounds like the use of Corr

[2020-04-07 23:15] olivoarroba opened #51934 "Why is preview not keeping the same column flattening structure as GA?"
Changing from a '.' to a '_' might seem like a simple thing, but it just frustrates users finding differences between the GA and preview versions of TSI. And sometimes, they are differences like this that makes me wonder if I should keep using TSI for my needs, cause I don't know what MS will decide to change next.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-04-07 23:20] sravanthidasari opened #51935 "Incomplete docs"
Following this tutorial doesn't yield anything. Is there a more complete doc available somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ef3d8e-6a71-4d5b-9591-a6021285b972
* Version Independent ID: 81e08f6b-1257-3833-80db-7c72bff5f754
* Content: [Quickstart: Perform a news search with Node.js - Bing News Sear

[2020-04-07 23:20] Karishma-Tiwari-MSFT commented on #51879
Thanks for sharing this detail. The document mentions that the command may vary depending on the distribution being used.  As we get similar feedback, we might include more details in document in future, however this information would stay with this issue on the doc for others to refer.

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regardi

[2020-04-07 23:20] #51879 closed

[2020-04-07 23:23] kkoppineedi commented on #51351
I ran into same issue @wsmelton mentioned above with a Oracle 18c VM. However, specifying the full path to lsnrctl command result in a different issue. Please see below:

Command without full path:
 [oracle@ora18cdb-vm ~]$ lsnrctl start
-bash: lsnrctl: command not found

Command with full path:
[oracle@ora18cdb-vm ~]$ /u01/app/oracle/product/18.0.0/dbhome_1/bin/lsnrctl start

LSNRCTL for Linux: Ve

[2020-04-07 23:25] Karishma-Tiwari-MSFT commented on #51883
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-07 23:27] Karishma-Tiwari-MSFT commented on #51905
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-07 23:28] golfalot commented on #51753
Hi. I'm quite not at that stage. I have vanilla AFD deployment done through Portal. Again using Portal I deploy a WAF policy and apply IP restrictions. Set WAF mode to Prevention. Then I observe that the default block response is the message is "Forbidden" followed by the request id.
My question is how do I access that "request id variable" to include it it a custom message. Thanks.

[2020-04-07 23:28] Karishma-Tiwari-MSFT commented on #51917
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-07 23:35] kgremban commented on #49261
@ChristianEder Thank you for pointing out this gap in the content. Some of this information was added to the installation article as part of a recent update, including the information about renaming the .cab file starting in 1.0.9. I'll make a pull request adding the rest of this, and will let you know when it's available to view.

[2020-04-07 23:45] SaurabhSharma-MSFT commented on #50581
@kelemvor33 We will now proceed to close this thread as this issue has been worked on internally. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-07 23:45] #50581 closed

[2020-04-07 23:45] Karishma-Tiwari-MSFT commented on #51891
There are 2 ways to add VM to an existing host pool.

Option 1: Manually register RDSH in host pool - https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell#use-your-powershell-client-to-create-a-host-pool.

Because host pool already exists would start with exporting registration token

![image](https://user-images.githubusercontent.com/20851144/78729300-91aff980-78ee-

[2020-04-07 23:45] #51891 closed

[2020-04-07 23:47] SaurabhSharma-MSFT commented on #49786
@arowse-pfl Apologies for the delay.  I am still following up internally with the product team on the conclusion and fix if applicable.

[2020-04-07 23:48] SaurabhSharma-MSFT commented on #51792
@Rvvhub We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-07 23:48] #51792 closed

[2020-04-07 23:50] hpsin commented on #49678
#please-close  The associated protocol docs go at length about how to use each of the different auth protocols.  Providing that detail here is unnecessary and would effectively take 5 other pages of data and append it here.

[2020-04-07 23:50] #49678 closed

[2020-04-07 23:51] berndverst commented on #49186
@juchom

The error you are getting makes sense. Looks like the CLI is hardcoded to expect admin enabled on ACR (not a good idea) or a username and password to be manually provided.

https://github.com/Azure/azure-cli/blob/abeb2dd611114ca4bb5c4c40996a36f3fc48a05e/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L1120

**Let's assume we are talking about**
- A webapp with name $NAME and

[2020-04-07 23:51] Grace-MacJones-MSFT commented on #51499
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-04-08 00:09] ms-willfid opened #51937 "Add content on how to get SAML tokens using OAuth2"
Information from our v1 docs here need to be added to this article...
https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-oauth2-on-behalf-of-flow#obtain-a-saml-token-by-using-an-obo-request-with-a-shared-secret

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Ver

[2020-04-08 00:12] MartinJaffer-MSFT commented on #51853
Thank you for bringing this to our attention.

I believe what it means to say is "You cannot use DECLARE inside a SELECT statement or inside an UPDATE statement.  Also, UPDATE cannot be used to change the variable value.

I base this idea on three points:

1. I was able to execute the code snippet in question
2. There is a select inside the example, but not update inside the example
3. Placing a D

[2020-04-08 00:13] mike-urnun-msft commented on #51485
@spmanjunath This use case is not supported at this time. Please consider submitting a feature request on [Azure UserVoice for API Management team](https://feedback.azure.com/forums/248703-api-management) to review.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-08 00:13] #51485 closed

[2020-04-08 00:14] xieofxie commented on #51530
@amanmcse Oh, thanks! I changed the Sign on url and it worked.

For the azure provision part, I just use the default settings and it seems email is not set.

My question for provision is what should I do to make auto provisioning working? Or azure provision is just fine? Thanks

[2020-04-08 00:15] Karishma-Tiwari-MSFT commented on #51551
I recommend creating managed image so you have image with all your apps already installed. So you would:

Create VM by following the steps [here](https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell#create-virtual-machines-for-the-host-pool) -> install windows updates, install apps, etc..
Create a managed image in Azure - https://docs.microsoft.com/en-us/azure/virtua

[2020-04-08 00:17] Grace-MacJones-MSFT commented on #51415
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-04-08 00:20] GiftA-MSFT commented on #51795
@sokiable since this isn't a dog bug, I recommend you use one of these [avenues](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-general-problems?view=azure-bot-service-4.0#where-can-i-get-more-help) to get the answers you need. Feel free to consult [BotBuilder issues](https://github.com/Microsoft/BotBuilder/issues) in GitHub for information about known issues with the

[2020-04-08 00:20] #51795 closed

[2020-04-08 00:21] KranthiPakala-MSFT commented on #51919
@CharmanderJieniJieni
Thanks for the reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-04-08 00:23] #51551 closed

[2020-04-08 00:24] shivanshi18 opened #51938 "Running into error: Error from server (AlreadyExists): pods "aks-ssh" already exists"
I am getting error: Error from server (AlreadyExists): pods "aks-ssh" already exists , when I am trying to run the command: kubectl run --generator=run-pod/v1 -it --rm aks-ssh --image=debian
I  have run this command earlier to get into AKS nodes, but I did not succeed that time and exited from the terminal.

Now when I am trying it fresh, I am hitting this issue

[2020-04-08 00:30] KranthiPakala-MSFT commented on #51919
@CharmanderJieniJieni You can leverage SCIM API to achieve this (Note: this is a Public preview feature). Please refer below documentation:

- https://docs.microsoft.com/azure/databricks/administration-guide/users-groups/scim/.

- https://docs.microsoft.com/azure/active-directory/saas-apps/azure-databricks-scim-connector-provisioning-tutorial

Hope this helps.

[2020-04-08 00:33] mike-urnun-msft commented on #51928
@elhorton Thank you for your feedback! if you're referring to [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#temporary-files) in the Python doc, the `tempfile.gettempdir()` method appears to be a [feature provided from Python runtime](https://docs.python.org/3.4/library/tempfile.html#tempfile.gettempdir) itself. NodeJs (Javascript) equivalent to th

[2020-04-08 00:33] GiftA-MSFT commented on #51935
@sravanthidasari we will review your feedback and get back to you shortly. Thanks.

[2020-04-08 00:34] Karishma-Tiwari-MSFT commented on #51657
Can you check these stackoverflow threads and see if this resolves your issue:
https://stackoverflow.com/questions/58285125/why-am-i-getting-the-error-aadsts50011-the-reply-url-specified-in-the-request-d
https://stackoverflow.com/questions/50011686/aadsts50011-the-reply-url-specified-in-the-request-does-not-match-the-reply-url

[2020-04-08 00:36] RoopChevuri commented on #51835
Thanks for the feedback. We will review shutting down all eligible VM's at same time.

[2020-04-08 00:37] MarileeTurscak-MSFT commented on #51881
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 00:39] MarileeTurscak-MSFT commented on #51909
@dgonzalezauxzillium
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 00:43] Karishma-Tiwari-MSFT commented on #51648
Looks like your issue could be similar to [this stack Overflow post](https://stackoverflow.com/questions/54907803/azure-managed-data-disk-not-encryptin):

Try this solution and let me know.

If that doesn't help, please provide the following information:
Was the data disk attached to your VM prior to encryption? If so:

-Was the data disk initialized?

-Is the data disk formatted as NTFS?

-Was th

[2020-04-08 00:48] MayMSFT commented on #51869
It's on our roadmap. we have the REST API but need to expose it with documentation

[2020-04-08 00:54] CameronDevine opened #51939 "Project Academic Knowledge DOI search should not be case sensitive"
While using Microsoft Project Academic Knowledge I have found that performing an Evaluate query to find an entry by DOI returns no results if there is a case mismatch between any of the characters vs the DOI shown on the https://academic.microsoft.com/ website. As this does not comply with section 2.2.1 of the DOI handbook, https://www.doi.org/doi_handbook/2_Numbering.html, this should be either f

[2020-04-08 01:10] ghost opened #51940 "Which we should use Standard partition or LVM?"
Recently RHEL images use LVM only that is published by Red Hat.
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-images

In general, are standard partitions recommended for now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6

[2020-04-08 01:18] richieteh94 commented on #51534
Yeah, I could use the SQL filter type and it works. In Microsoft document said Correlation Filter would be a better choice if available because have more performance.

[2020-04-08 01:19] lmmarsano opened #51942 "document request body type"
I didn't know the request body type before reading [this documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#request-object), and I still don't know after: this is no good.
Is it a string, buffer, stream, or parsed JSON?
Does it depend on the `content-type` in header?
Is this already formally specified elsewhere?
How about the semantics: is the entire mes

[2020-04-08 01:35] deepakiara commented on #50677
Hi,
It seems that the issue is no longer exist under iOS 13.4

[2020-04-08 01:42] rido-min opened #51943 "Typos with file paths"
Following this tutorial I found 2 issues:

- The sample Install script uses an absolute path to the key, but it's not valid. It only worked copying the file to same folder and using a relative path
- The log file is not in Windows\System32, instead in the CWD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7e08e3-26ef

[2020-04-08 01:47] MarileeTurscak-MSFT commented on #51911
Thanks for this! The article does link to instructions for downloading the Powershell module under "Set or check the password policies by using PowerShell", but I agree that it can benefit from including information about connecting to the tenant. I made a pull request to link those instructions: https://github.com/MicrosoftDocs/azure-docs-pr/pull/110633

Thanks for your feedback and feel free to

[2020-04-08 01:47] #51911 closed

[2020-04-08 01:49] satrijotomo opened #51944 "Required License: New M365 F1 is not eligible for WVD"
Based on https://www.microsoft.com/en-us/licensing/news/m365-firstline-workers, I believe that starting April1, 2020 the new M365 F1 license is not eligible for WVD and the eligible one now (with regard to F sku) is the new M365 F3. Could you please include this fact into the requirement portion of this page, as well as other related WVD docs? Many thanks!

---
#### Document Details

⚠ *Do not edi

[2020-04-08 01:51] femsulu commented on #51914
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-08 01:53] femsulu commented on #51920
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-08 01:54] spottedmahn opened #51945 "registerMessageHandler @Deprecated attempt 2"
https://github.com/MicrosoftDocs/azure-docs/issues/49471#issuecomment-598163191

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-6642288dbd4e
* Content: [Use Azure Service Bus topics and subscriptions with Java](https://docs.microsoft.

[2020-04-08 02:17] femsulu commented on #51929
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-08 02:26] RyanHill-MSFT commented on #51639
I definitely ran into issues myself @yejiyang when following the tutorial. I'll reach out to the doc author to see about updating. I was able to workaround by not using VS Code to create the app. In the terminal, I ran `az --% webapp create -n myappname -g myresourcegroup -p mywindowsplan -r "node|10.14"`. I think when creating the web app from the VS Code Azure extension, it doesn't properly conf

[2020-04-08 02:29] femsulu commented on #51931
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-08 02:33] #51945 closed

[2020-04-08 02:33] mike-urnun-msft commented on #51945
Hey @spottedmahn - Sorry I didn't see your follow up comment in the original issue. I've reopened it so we can continue the discussion there.

[2020-04-08 02:34] spottedmahn commented on #51945
Hi Mike - perfect, thanks!

[2020-04-08 02:35] mike-urnun-msft commented on #49471
@spottedmahn checking... will update you shortly ;)

[2020-04-08 02:46] sdgilley commented on #51876
@DavidDataOrbis - are you saying this code fails on a compute instance running RStudio, or that it fails on your own installation of azuremlsdk?

[2020-04-08 02:48] chriscrawfordTR commented on #21216
I found a work around to this with Fetchxml. If you know which columns are missing, you can sort the rows in descending order to make sure the top rows have values. It's stupid but it works.

[2020-04-08 02:50] NavtejSaini-MSFT commented on #51546
@ninarn Please check the associated PR and let us know if any further action from our end.

[2020-04-08 02:51] #51701 closed

[2020-04-08 02:58] VikasPullagura-MSFT commented on #51902
@raboley
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-08 02:58] VikasPullagura-MSFT commented on #51902
@TomArcherMsft
Can you please check and add your comments on this doc update request as applicable.

[2020-04-08 03:01] VikasPullagura-MSFT commented on #51944
@satrijotomo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-08 03:01] VikasPullagura-MSFT commented on #51944
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-04-08 03:07] neeleshray-msft commented on #51921
@rbnmk @CeciAc Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-08 03:07] neeleshray-msft commented on #51921
@msmbaldwin Could this be looked into ?

[2020-04-08 03:09] neeleshray-msft commented on #51937
@ms-willfid Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-08 03:09] neeleshray-msft commented on #51937
@rwike77 Could this be verified and incorporated to the document ?

[2020-04-08 03:11] neeleshray-msft commented on #51774
@jeevansd Could this be rectified ?

[2020-04-08 03:13] neeleshray-msft commented on #51604
@msaburnley Could this be verified from the Product Team ?

[2020-04-08 03:14] neeleshray-msft commented on #51733
@h021902 We would be closing this issue now. Let us know if you need further help.

[2020-04-08 03:14] #51733 closed

[2020-04-08 03:16] neeleshray-msft commented on #51772
@TerryLanfear Could this be looked into ?

[2020-04-08 03:21] elhorton commented on #51928
thanks @mike-urnun-msft ! yes I was able to fix my problem, but the larger concern is that, because deploying an Azure Function from vs code does so as a package, the app was read-only. Because of this, I was unable to write to app's file system at all. There was unfortunately no documentation on this concern, and I had to change a setting in the app for it to deploy with read-write ability. Seems

[2020-04-08 03:21] #51928 closed

[2020-04-08 03:29] DixitArora-MSFT commented on #51924
Hi @coderwithadream This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited.
audience for such types of issues.

[2020-04-08 03:36] AshokPeddakotla-MSFT commented on #51712
Glad to hear.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-08 03:36] #51712 closed

[2020-04-08 03:39] AshokPeddakotla-MSFT commented on #51885
@njbuch Thanks for the feedback! I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.

[2020-04-08 03:42] JohnRusk opened #51946 "Max disk size, in the opening paragraph, needs to be corrected"
Max is 32 TB now, isn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure - Azure Windows Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/wi

[2020-04-08 03:46] AshokPeddakotla-MSFT commented on #51932
@jlian Sure. Thanks for the feedback and information. Also, I have assigned the issue to the content author to evaluate and update as appropriate once fix is deployed.

[2020-04-08 03:48] AshokPeddakotla-MSFT commented on #51934
@olivoarroba Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-08 03:49] gadeweever commented on #50677
Yeah this seems resolved.

[2020-04-08 03:57] PaulEstevesAtPEX commented on #51830
Aha! I was trying to be fancy and using winRM to run the commands remotely.

When I log into the machine locally I do see the PRT and Wam being OK.

[2020-04-08 03:59] SumanthMarigowda-MSFT commented on #51916
@Chai-NED Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-08 04:01] VikasPullagura-MSFT commented on #51946
@JohnRusk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-08 04:01] VikasPullagura-MSFT commented on #51946
@genlin
Can you please check and add your comments on this doc update request as applicable.

[2020-04-08 04:03] SumanthMarigowda-MSFT commented on #51396
@gldsomeshwarduggirala  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

If the issue isn't related to azure doc please feel free to contact us on
 https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazure

[2020-04-08 04:03] #51396 closed

[2020-04-08 04:06] CHEEKATLAPRADEEP-MSFT commented on #51813
@dagiro Could you please look into this issue?

[2020-04-08 04:09] JayeshShingote commented on #51499
@Grace-MacJones  I cannot see any error in application output while debugging .
The debugger directly get came out of the Hub.UnregisterAll  function. error callbacks are not executing. Though i have put the all the code inside Hub.UnregisterAll function inside try-catch block. even it is not throwing any exception. Except iOS 13 for rest of iOS this fucntion executing properly.

[2020-04-08 04:16] JayeshShingote commented on #51499
@SteveFarmerJr, i have tried to implement your suggested solution. still facing the same issue.
I am using Xamarin.Azure.NotificationHubs.iOS package with version 2.0.4.

[2020-04-08 04:19] CHEEKATLAPRADEEP-MSFT commented on #51899
@VitalyMCT Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/110638](https://github.com/MicrosoftDocs/azure-docs-pr/pull/110638)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2020-04-08 04:19] #51899 closed

[2020-04-08 04:34] jakaruna-MSFT commented on #51938
@shivanshi18 the previous pod names `aks-ssh` exists.

It should be deleted when you come out of the container because --rm flag is used.

you can delete the existing pod manually and then try with this command again

[2020-04-08 04:42] SubhashVasarapu-MSFT commented on #51753
@golfalot , It doesn't work in the way how Azure logic app functions works. You cannot call the output/element by id parameters as a text in the next input section. It might be possible if you are dynamically capturing the headers of received traffic and placing them in the custom response using custom scripts. But, AFAIK it is not possible in the way you are looking for.

[2020-04-08 04:55] glimoli commented on #51946
The 2Tb limit for OS disk still applies for Generation 1 VMs now if yo bring a Generation 2 (UEFI Boot) type of VM, then the OS could be larger than 2Tbs. So this could be updated in this article.

[2020-04-08 04:56] TiloGit opened #51950 "add info if ACR and AKS are in different sub need to use <acr-resource-id>"
This requires to use: &lt;acr-resource-id&gt; instead of name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service - Azure Kubernetes Service](https

[2020-04-08 04:58] JohnRusk commented on #51946
BTW I raised this because the article is now referenced from [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-upload-vhd-to-managed-disk-powershell#prerequisites), which is a general page for all VHD uploads, not just OS disks.  So we don't want people wanting to upload a data disk, following the link in the prerequisites, and then seeing something that says they can on

[2020-04-08 05:06] mike-urnun-msft commented on #51534
I agree @richieteh94  Since the support for the rest of the Filter types is underway, maybe using SQL filter, for now, could still be an option? I think it would be better to engage the product team directly on the repo via the existing open issue I linked in my previous comment and closely monitor the ETA there.

As this channel is more for driving improvements towards MS Docs and we haven't dete

[2020-04-08 05:06] #51534 closed

[2020-04-08 05:08] DavidCBerry13 commented on #49160
Thanks for pointing this out.  Upon reviewing, we agree.  We've modified the article and eliminated the table.  #please-close

[2020-04-08 05:08] #49160 closed

[2020-04-08 05:18] GFoley83 opened #51952 "Clarify which services can be used with an App Service Plan"
Resubmitting as #51836 was closed prematurely and follow up request to reopen was ignored.

I can't seem to find a page that clearly articulates which Azure services can be used with an App Service Plan. Would be useful to clarify.

e.g. Is it just App Services and Azure Functions?

This page:
https://docs.microsoft.com/en-us/azure/app-service/overview

covers App Services but does not make clear

[2020-04-08 05:18] KrishnaG-MSFT commented on #51907
@AlexImray Thanks for the comment!
Assigning @genlin for visibility, review, to provide insights and for document enhancement consideration.

[2020-04-08 05:28] RohitMungi-MSFT commented on #51896
@AAGhotkar Thanks for the question. It would be great if you could let us know the document link you are referring to so that we can assign this to the right team.

[2020-04-08 05:28] likebupt commented on #51359
@giorgia995  Thanks for the feedback.  Currently we only recommend deploy the model directly in Designer. Could you please clarify your scenario where you need to deploy by yourself?

[2020-04-08 05:35] RohitMungi-MSFT commented on #51900
@HUBBER12 Could you please update the document link to check further. It looks like the doc link is missing in the original post.

[2020-04-08 05:37] PramodValavala-MSFT commented on #51942
@lmmarsano Thanks for the question! We will review and get back to you!

[2020-04-08 05:40] shashishailaj commented on #51693
@ms-willfid This is under review with the content team and will be updated as soon as the review is complete. At this point we will close this issue and monitor the pull request internally . We will update this thread once the update is complete.

[2020-04-08 05:40] #51693 closed

[2020-04-08 05:41] AjKundnani commented on #51695
Hello, after debugging a bit more, found out that DES is not working with Standard DS2_v2 but working with Standard_B4ms. Are there VM SKU restrictions with Disk encryption set?

[2020-04-08 05:47] lyrana commented on #51267
This doc change is under review
#please-close

[2020-04-08 05:47] #51267 closed

[2020-04-08 05:50] lyrana commented on #51335
#please-close

[2020-04-08 05:50] #51335 closed

[2020-04-08 05:50] lyrana commented on #51266
#please-close

[2020-04-08 05:50] #51266 closed

[2020-04-08 05:50] lyrana commented on #51261
PR under review
#please-close

[2020-04-08 05:50] #51261 closed

[2020-04-08 06:01] TiloGit commented on #30296
seems to be in now. I can see default rule:

`322 | AllowLDAPSGC | 3269 | Any | Any | Any | Allow`

[2020-04-08 06:02] ishepherd commented on #51517
Thanks @SnehaAgrawal-MSFT, emailing now.

[2020-04-08 06:18] PramodValavala-MSFT commented on #51710
@codemaker Yes. That is correct for DDoS.

[2020-04-08 06:22] PramodValavala-MSFT commented on #51801
@BeMor81 Just following up here... Hope my previous comment clears things up.

[2020-04-08 06:29] VikasPullagura-MSFT commented on #51950
@TiloGit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-08 06:29] VikasPullagura-MSFT commented on #51950
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-08 06:34] aquibqureshi26 opened #51953 "Can we use blob fuse for this?"
Hi Team,

Can we use blob fuse as i don't see the option mentioned.

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c37d16-5a77-29d4-7994-9c0e3e0dc1e9
* Version Independent ID: 4b841eb4-2fc7-e9ca-090a-3a6477f837c6
* Content: [SA

[2020-04-08 06:34] BharathNimmala-MSFT commented on #51888
@devlife Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-08 06:35] PramodValavala-MSFT commented on #51942
@lmmarsano For C#, the binding can be controlled by the type used in the method signature. For non-C# languages, there is a `dataType` property that can be set in `function.json` that you have to use, especially if you are dealing with binary data.

For multipart, I believe you would have to parse the `context.req.rawBody` contents.

[2020-04-08 06:48] desmondgc opened #51954 "Available VM sizes"
Is it expected that AKS only supports a subset of VM sizes? For example, I'd like to use the new Dasv4-series VMs. I've sufficient quota and am able to provision a standalone VM with this size, but it doesn't appear to be an option when creating a new AKS cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6

[2020-04-08 06:55] DavidDataOrbis commented on #51876
@sdgilley - this was using a compute instance running RStudio in the browser. Azuremlsdk comes pre-installed with the compute instance, but I could not get the workspace to load until I re-installed it using the feedback from that link above. Neither "get_workspace()" nor "ws <- load_workspace_from_config()" worked

[2020-04-08 07:02] msrini-MSFT commented on #51768
@StefanIvemo , Please tag me if you have any further questions.

[2020-04-08 07:02] #51768 closed

[2020-04-08 07:03] RohitMungi-MSFT commented on #51939
@CameronDevine  Thanks for the question. @DarrinEide Could you please help to clarify if DOI needs to be according to the DOI handbook?

[2020-04-08 07:19] AKonCloud opened #51955 "Basic support for IKEv2"
This document says that IKEv2 is not supported supported for Basic SKU

However, this document says that it is with RouteBased VPN Gateway	Basic
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-connect-multiple-policybased-rm-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d7fd30-80a8-f690-6191-d97ae4

[2020-04-08 07:20] AKonCloud opened #51956 "Basic support for IKEv2"
This document says that IKEv2 is supported supported for Basic SKU

However, this document says that it is not.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c33f22-7243-bb33-38b9-fcf30e68ffe6
* Version Independent ID: c1a3a25a-26d0-acdf-d5f2-1d1

[2020-04-08 07:23] m-wo opened #51957 "Nested group memberships and Office 365 groups are not currently supported."
Any timeline when O365 groups can be expected to work for assigning apps? Couldn´t find a uservoice suggestion for it but it is highly awaited since it doesn´t make sense to have a duplicate security group for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent

[2020-04-08 07:25] arcum commented on #51830
Hmm so everything's okay then over there? I've also noticed I get different results depending on remote prompt...

Devices still aren't joining though. The "dsregcmd /leave" did trigger a duplicate entry in my AAD on one of those devices. Weird stuff. Either way. WAM isn't it. Going to contact support for this one.

[2020-04-08 07:28] azurance opened #51958 "Reading timestamp values as big int while reading from REST API in Azure data factory"
While reading data from REST API Source the timestamp values in the source is showing as bigint format during preview and load. Is there a way where I can just read the data as-is. Here is the example of sample data in source and its preview in ADF.

Source Data: <endTime>2020-03-18T08:09:28-06:00</endTime>
Preview in ADF: 1584540568000

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-04-08 07:34] BharathNimmala-MSFT commented on #50718
@evmimagina Just checking to see if you had a chance to review the above information. Can you please help to revert back if you have any further queries.

[2020-04-08 07:49] jakaruna-MSFT commented on #51862
@SuDHarmik The generic method used is to have pacemaker to track the communication between the primary and secondary.
Primary will have the public ip attached to it and traffic flows through that.

If primary is down, pacemaker detects that and it detached the public ip from old primary and adds it to the secondary(became primary now)

So nor traffic flows to the new primary.

Application may need

[2020-04-08 07:52] evmimagina commented on #50718
Sorry, no chance yet, I will check it when possible, it's on to-do list ;).

[2020-04-08 07:54] juchom commented on #49186
So after doing this command:

[code]

I have this error

[code]

And after removing the username and password from app settings it doesn't work with same error.

[2020-04-08 07:59] jakaruna-MSFT commented on #51940
@juyama
Thanks for the question! We are investigating and will update you shortly.

[2020-04-08 08:06] sandip22490 commented on #51867
Hi @tamram,

Thanks for your input. As per the documentation, Microsoft may perform automatic failover in extreme condition. Does this include performing an automatic failover in the event of the only service goes down? i.e. Does Microsoft performs failover to secondary region if Region is up but storage account service is down in the region?

If Microsoft does not perform failover in such a situa

[2020-04-08 08:11] BharathNimmala-MSFT commented on #51742
@bandersmsft Thank you for helping on this thread.

@mohammedrameesp Please let us know if your current support plan is limiting to create a support ticket. If yes, please send an email to AzCommunity@microsoft.com  with your Subscription details, and a link to this thread so we can verify and direct the request accordingly .  We'll continue to investigate this with you directly and will update th

[2020-04-08 08:20] KalyanChanumolu-MSFT commented on #51862
@SuDHarmik The endpoint exposed to you application is usually a [Listener]
(https://docs.oracle.com/cd/E11882_01/network.112/e41945/listenercfg.htm#NETAG010)

It is a service that listens for requests from your application and routes them accordingly.
So when a failover happens, your application still continues to talk to the listener without any changes.
But the database requests are now routed t

[2020-04-08 08:20] BryanTrach-MSFT commented on #48896
@blueelvis Yes, this is one of the risks and thus reasons why it's not recommended to enable local cache on both prod and staging slots. Thank you for sharing.

[2020-04-08 08:21] BhargaviAnnadevara-MSFT commented on #51918
@gkgaurav31 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-04-08 08:22] mohammedrameesp commented on #51742
Hi Team,

Thank you, team, for the replies. This is not an issue for me which required support. I can have in INR, As found a bug in the portal, just want to report the same to you.

Searched for any other bug reporting platforms and found nothing other than for support or security-related reporting. So just used this platform.

Happy that you are fixing the same.

[2020-04-08 08:22] BhargaviAnnadevara-MSFT commented on #51958
@azurance Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-04-08 08:25] BryanTrach-MSFT commented on #51476
@provtimofei Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-08 08:25] #51476 closed

[2020-04-08 08:26] thefonz3h commented on #50422
@viswanadham-k is there a plan for this code update to be reflected on the github repository referenced in this document?

[2020-04-08 08:26] izzy1993 commented on #51668
@mike-urnun-msft When can I expect any feedback on this? thanks

[2020-04-08 08:28] samgoudie commented on #49004
@SumanthMarigowda-MSFT Did this get resolved? I can see in this document the following line "NSG rules applied to the subnet hosting the private endpoint are applied to the private endpoint." - however here https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations
"NSG is not supported on private endpoints. While subnets containing the private endpoint can have NSG

[2020-04-08 08:34] TwoSeven99 commented on #51864
I found that I needed a powerBI Pro active subscription. The free and trial did not work. Also, the dashboard has to be a V2 one (so new).   I was able to see the dataset in PowerBI desktop, but not online until I added a powerbi subscription and it also showed up in Azure Active Directory (licenses).

[2020-04-08 08:41] BryanTrach-MSFT commented on #51575
@RMcD A slot is technically just a second web app. You should be able to replace the site name with the slot name and still be able to deploy the zip file. Please let us know if you have any further questions regarding this or you're encountering issues deploying to the slot.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2020-04-08 08:41] #51575 closed

[2020-04-08 08:45] jonathanclarke commented on #47738
Was there any resolution to this issue? Facing the exact same thing on two difference clusters. I've also filed a support case with Microsoft.

[2020-04-08 08:48] amanmcse commented on #51530
@xieofxie I would suggest you to use Azure Provisioning with provisioning mode set to automatic (as highlighted below) so that you don't have to maintain the matching attributes manually.

![image](https://user-images.githubusercontent.com/33834131/78761298-1018a400-79a0-11ea-9c01-12ca4c8a53cf.png)

[2020-04-08 08:56] VincentVerweij opened #51961 "Solution section has been changed"
In section Solution starting from Step 2 and onwards, it has been changed:
Step 2 should now be Issue type Technical and the other fields changed as well since we chose Technical as can be seen in this screenshot:
![image](https://user-images.githubusercontent.com/41574930/78763821-f1a5af00-7985-11ea-9450-036c855e65ee.png)

Next you click the Next: Solutions >> button.

Here you will see this:
![i

[2020-04-08 08:58] yannara commented on #51911
You should add these 2 commands:

Install-Module -Name AzureAD

Connect-AzureAD

[2020-04-08 08:59] Sannioy opened #51962 "About Azure Functions using IoTHubTrigger"
I am trying vs2019 to develop Azure Functions, using a IoTHubTrigger,  but I am unable to run it, I get the following error message:
"Microsoft.Azure.WebJobs.Host: Error indexing method 'Function1'. Microsoft.Azure.EventHubs: Illegal connection string parameter name 'HostName' (Parameter 'connectionString')."
Any idea what might be causing this issue and how to solve it? Thanks.

---
#### Document

[2020-04-08 08:59] Sannioy opened #51963 "About Functions using IoTHubTrigger"
I am trying vs2019 to develop Azure Functions, using a IoTHubTrigger,  but I am unable to run it, I get the following error message:
"Microsoft.Azure.WebJobs.Host: Error indexing method 'Function1'. Microsoft.Azure.EventHubs: Illegal connection string parameter name 'HostName' (Parameter 'connectionString')."
Any idea what might be causing this issue and how to solve it? Thanks.

---
#### Document

[2020-04-08 09:00] jakaruna-MSFT commented on #51954
@desmondgc It supports a subset of VM's

Whole list is here https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#containerservicevmsizetypes

[2020-04-08 09:03] kpietralik opened #51964 "Jwt.Claims"
There is a mistake in Jwt.Claims description as it does not have GetValueOrDefault(..) method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Content: [Azure API Management policy expressions](https://docs.microsoft.co

[2020-04-08 09:08] azurance commented on #51958
https://docs.microsoft.com/en-us/azure/data-factory/connector-rest

[2020-04-08 09:26] SuDHarmik commented on #51862
@jakaruna-MSFT Thanks for the update. Pacemaker detects in case of the node down or reachability issue but how do we achieve when the DB node is available and DB services are failover to secondary with other reasons.

[2020-04-08 09:30] RohitMungi-MSFT commented on #51785
@erhopf Is there a way to redeploy the tenant model from the speech studio?

[2020-04-08 09:33] SuDHarmik commented on #51862
@KalyanChanumolu-MSFT Thanks for the update, as mentioned in the above thread applications routes the traffic to DB with listener service but how do we achieve IP failover in case of DB failover other than node down or node accessible issue. there are many scenarios where the DB will failover to secondary DB.

if we achieve the IP failover to secondary DB for all possible failover conditions, yes

[2020-04-08 09:36] mohamedkholte commented on #36323
mohamed

[2020-04-08 09:36] mohamedkholte commented on #36323
mohamedkholte7@gmail.com

[2020-04-08 09:48] wukun2015 opened #51965 "Will TranslationRecognizer support full-angle punctuation for Chinese ?"
Hello,

TranslationRecognizer transcribe Chinese (zh-cn) speech into text result but with half-angle punctuation, rather than standard full-angle punctuation like what SpeechRecognizer class does.

E.g.:

- TranslationRecognizer : 你好,今天天气怎么样?可以出去走一走.
- SpeechRecognizer: 你好，今天天气怎么样？可以出去走一走。

Will TranslationRecognizer plan to support it ?

Thank you.

---
#### Document Details

⚠ *Do not edit this

[2020-04-08 09:48] YggY opened #51966 "Microsoft.Azure.KeyVault reference?"
Why is the Microsoft.Azure.KeyVault reference needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9950f5c0-3c21-0859-c217-4b08141de4d4
* Version Independent ID: 78106133-d028-b016-673c-79b6a959a24d
* Content: [Tutorial for using Azure App Configuration Key Vault references in an ASP.NET Core app](https://docs.micros

[2020-04-08 10:00] Fabiest commented on #51782
Hello,

I just managed to make things work with Kafka 1.1. Meaning i was able to have SSL using console producer and consumer so i believe the both the "Note" and "Important" boxes are not needed.

[2020-04-08 10:01] jakaruna-MSFT commented on #50997
@rdbraber we reached out to the internal teams. i will post here once i have some info

[2020-04-08 10:11] jakaruna-MSFT commented on #51925
@Jaryd1212
Thanks for the question! We are investigating and will update you shortly.

[2020-04-08 10:14] jakaruna-MSFT commented on #51953
@aquibqureshi26
Thanks for the Question! I have assigned the issue to the content author to answer your question  and update the document as appropriate.

[2020-04-08 10:15] Fabiest commented on #51812
Hello,

I just managed to have producer and consumer (console) wit ssl working on Kafka 1.1 (which is my original objective). A few things are not right/clear in the documentation:

1- Commands in "Client setup (with authentication)" step 8 are missing char " around the passwords. This was causing issues as far as i can tell in the moment of verification.
2- Commands for keystore in "Client setup

[2020-04-08 10:15] jakaruna-MSFT commented on #51953
@hermanndms please answer the users question and update the doc as needed

[2020-04-08 10:18] neeleshray-msft commented on #51957
@m-wo Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-04-08 10:22] neeleshray-msft commented on #51957
@m-wo We currently do not have a timeline on the Nested Groups for O365. You can post your feedback on this thread related to the same topic - [https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15718164-add-support-for-nested-groups-in-azure-ad-app-acc](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15718164-add-support-for-nested-groups-in-az

[2020-04-08 10:22] #51957 closed

[2020-04-08 10:36] DixitArora-MSFT commented on #51962
Hi @Sannioy Thanks for reaching out. We will review and update as appropriate.

[2020-04-08 10:37] DixitArora-MSFT commented on #51963
Hi @Sannioy Thanks for reaching out. We will review and update as appropriate.

[2020-04-08 10:43] zagruby opened #51967 "Logs for unregistering/registering delegated resources are not reflected in this script"
I followed that instrcution and it seems that the script always returns: "No new delegation changes." despite I registered/unregistered resources few times.

This would require further investigation but:

1) the script searches tenant activity logs (here: https://docs.microsoft.com/en-us/rest/api/monitor/tenantactivitylogs/list) whereas the actual logs are kept under regular activity logs (here: h

[2020-04-08 10:45] DixitArora-MSFT commented on #51964
Hi @kpietralik Thanks for reaching out. We will review and update as appropriate.

[2020-04-08 10:47] AjayKumar-MSFT commented on #51836
@GFoley83, Apologies for the closure on this. Thanks for the follow-up.

Just to add some clarity, any apps which comes under the hood of ‘App Service’ uses an App Service Plan.

To give you some clarity on the terminologies:

**App Service** – PAAS solution which enables you to build and host websites, mobile backends, and Web APIs.
**Apps**– Your individual Apps (Windows/Linux WebApps, API Apps,

[2020-04-08 10:47] AjayKumar-MSFT commented on #51952
@GFoley83, Apologies for the closure on the other GitHub thread, we have re-opened it now. Thanks for posting a good question on this topic, we will continue the discussion there.
Since we will continue to work with you on your original thread, I will close this issue as duplicate.

[2020-04-08 10:47] SumanthMarigowda-MSFT commented on #51916
@Chai-NED[ Azure Blob storage limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits)
However Your feedback has been shared with the content owner for further review.

[2020-04-08 10:48] darrens280 commented on #50961
I have managed to get passed the error. I moved the provider block to main.tf, and I had to create a 2nd provider block for the sub I was accessing. It does not work with just one:

[code]

Terraform.exe = 0.12.24
AzureRM Provider = 2.4.0

[2020-04-08 10:52] KalyanChanumolu-MSFT commented on #51930
@jananivMS Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-04-08 10:53] jawn opened #51968 "Broken link"
The following text has a 4040 link: The correlation HTTP protocol, also called Request-Id, is being deprecated.

It currently points to https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HttpCorrelationProtocol.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b0

[2020-04-08 10:58] SumanthMarigowda-MSFT commented on #51685
@MatthewMcD Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-08 10:59] BhargaviAnnadevara-MSFT commented on #51966
@YggY Thanks for the question! We're investigating this and will get back to you shortly.

[2020-04-08 11:01] golfalot commented on #51753
@SubhashVasarapu-MSFT it would be a useful feature. Thanks.

[2020-04-08 11:14] SumanthMarigowda-MSFT commented on #51684
@MatthewMcD Both Login-AzAccount and Add-AzAccount are only aliases to the Connect command.
![image](https://user-images.githubusercontent.com/44606021/78777783-cc319900-79b7-11ea-98be-6337ca5c7164.png)

The Connect-AzAccount cmdlet connects to Azure with an authenticated account for use with Azure Resource Manager cmdlet requests. You can
    use this authenticated account only with Azure Resourc

[2020-04-08 11:14] #51684 closed

[2020-04-08 11:15] stmax82 commented on #51266
Hi @lyrana,

thanks for looking into these cases.

GitHub feedback doesn't feel like a black hole at all. It's the best thing added to MS Docs ever.

Thanks for the confirmation. That was our feeling too and we already decided to drop V1 and concentrate on PAYG.

The article "[Plan your Azure Time Series Insights Preview environment](https://docs.microsoft.com/en-us/azure/time-series-insights/time

[2020-04-08 11:16] SumanthMarigowda-MSFT commented on #51670
@D-Moonesinghe Apologies for delay in responding here!Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-08 11:24] AshokPeddakotla-MSFT commented on #51821
I have assigned the issue to the content author @robinsh  to evaluate and update as appropriate.

[2020-04-08 11:30] SujayJDesai commented on #51435
@konopkap - please refer to VMware documentation for that. Our intention of this documentation is to provide the list of permissions required and basic steps to create role. Here is the article that might help you. https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-18071E9A-EED1-4968-8D51-E0B4F526FDA3.html

[2020-04-08 11:32] SujayJDesai commented on #51434
@konopkap can you please add following additional permissions and confirm if it this is working.

- DataStore.Low Level File Operations
- Global.Enable Methods
- Global.Disable Methods
- Global. Set Custom Field
- VirtualMachine.Configuration.Disk Lease(or Acquire Disk Lease)

[2020-04-08 11:33] Simon-Gregory-LG commented on #37163
I've discovered that this seems to be possible with the 2020-01-01 version of the ARM API and I've documented here:
https://stackoverflow.com/a/61099521/2765855
namely there's a new property in `frontendEndpoint` `properties`:
[code]

[2020-04-08 12:02] VikasPullagura-MSFT commented on #51843
@roygara Can you please add your comments on this issue

[2020-04-08 12:07] BhargaviAnnadevara-MSFT commented on #51968
@jawn Thank you very much for bringing this to our attention. We shall evaluate and update as appropriate.

[2020-04-08 12:07] VikasPullagura-MSFT commented on #51695
@roygara Can you please add your comments on this.

[2020-04-08 12:16] VikasPullagura-MSFT commented on #46000
@rkttu Hope this issue is resolved now.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-08 12:16] #46000 closed

[2020-04-08 12:26] jasonfare commented on #46300
Looks like there is some support for it now.
https://docs.microsoft.com/en-us/azure/virtual-desktop/teams-on-wvd

[2020-04-08 12:32] feksai opened #51971 "Rules engine editor updated to version v4"
I have noticed that the ui of rules engine changed. Screenshots on the page are not correspond with how editor looks now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b667f198-4035-b35c-117d-5f3843085ba0
* Version Independent ID: 21a5591c-695a-735b-685a-c575445e8058
* Content: [Override HTTP behavior with Azure CDN -

[2020-04-08 12:33] chelnak commented on #51539
Love this. Thank you so much!

[2020-04-08 12:35] feksai commented on #51971
Attaching example how it looks now
![image](https://user-images.githubusercontent.com/8003006/78784755-95a35080-79ae-11ea-8575-7fc7d890785c.png)

[2020-04-08 12:41] Neelkamal10 commented on #51648
yes,its resolved by verifying  initialized and formatting.
thanks@Karishma-Tiwari-MSFT

[2020-04-08 12:41] #51648 closed

[2020-04-08 12:41] RohitMungi-MSFT commented on #51760
@ancibira We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-08 12:41] #51760 closed

[2020-04-08 12:44] RohitMungi-MSFT commented on #51855
@djpugh We hope the above note helped you understand how compute instances can be used for notebooks. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will now proceed to close this thread.

[2020-04-08 12:45] jose-l-carvalho commented on #12056
@mrbullwinkle
The following Powershell should list all TrafficManagers ip adresses, but 1 that is in the url is missing: ((Get-AzNetworkServiceTag -Location WestEurope).Values | Where-Object { $_.name -eq 'AzureTrafficManager' } | Select-Object properties).properties.addressPrefixes

According to the url https://azuretrafficmanagerdata.blob.core.windows.net/probes/azure/probe-ip-ranges.json, the i

[2020-04-08 12:50] BhargaviAnnadevara-MSFT commented on #51968
@jawn Thank you for catching that error in the docs! I have submitted a PR to fix the issue that's awaiting review.

[2020-04-08 12:52] BhargaviAnnadevara-MSFT commented on #51958
@azurance Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-04-08 12:52] KalyanChanumolu-MSFT commented on #51662
@steve19922 Thank you for the feedback.
This is already in the product teams backlog.

You can follow the issue [here](https://github.com/Azure/azure-powershell/issues/9694)

We will proceed to close this issue now.

[2020-04-08 12:52] #51662 closed

[2020-04-08 12:53] KalyanChanumolu-MSFT commented on #51704
@asanaliev We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-08 12:53] #51704 closed

[2020-04-08 12:54] arham92 opened #51972 "Azure function on premises deployment"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash)
* Content Source: [

[2020-04-08 13:00] arham92 commented on #51972
Hi,

Is there any way to deploy azure function app with timer trigger on my local machine without azure storage account/storage emulator

[2020-04-08 13:01] RohitMungi-MSFT commented on #51869
@MayMSFT Thanks for the information. @LordGordonQ The REST API should be available in the future along with the documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-08 13:01] #51869 closed

[2020-04-08 13:02] BhargaviAnnadevara-MSFT commented on #51972
@arham92 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-04-08 13:02] gaikovoi opened #51973 "The page note"
The Note at the beginning of the page mention "This article provides steps for how to delete personal data from the device or service ...". Is it relevant to the content of this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed

[2020-04-08 13:12] tfitzmac commented on #51929
@lzhang-chata - it looks like you need to use a different name for the storage account. The error message states "sotrageExampleName is not a valid storage account name. Storage account name must be between 3 and 24 characters in length and use numbers and lower-case letters only."

[2020-04-08 13:18] rafaelberrocalj opened #51974 "How to change AppService Language config?"
Hello guys, i'm running an appservice (node lts) using a linux appplan. I already have figured out how to change the timzone, but now i need to change the language of the appservice to pt-br.

It's possible to change the language? I have searched all docs about and didn't find anything about it.
Thanks

![image](https://user-images.githubusercontent.com/231597/78788230-df297680-7981-11ea-8645-660a

[2020-04-08 13:23] heiqs commented on #11093
I think we should open this issue. I use the expression language for column mapping with using get metadata to get the structure, but ADF ignores the expression for schema. Any help?

[2020-04-08 13:24] yobyot opened #51975 "No documentation of automation options"
This page does not discuss nor document automation options for action rules, for example in PowerShell, ARM templates and/or the Azure CLI.

Even though this feature is in (apparently endless) preview, documentation should be complete. The UI leaves much to be desired in terms of using action rules. This flexibility is usually obtainable via automation options, which is why it should be documented

[2020-04-08 13:27] Charuwaka commented on #24673
I'm facing same issue, but when i relaunch (kotlin android app msal="1.3.0" ) this error goes away.

Singin ->Success->Enter into App->Logout->Singin Again->throw above mentioned error->Kill the app-> relaunch app again ->Error Goes away (this issue only with web acitivity based) but when i use authentication broker(company portal) i am not at all getting this error no matter how many time i login

[2020-04-08 13:30] sgdesmet commented on #51464
Hello @yoelhor apologies for the delay, I seem to have missed the notification.

I've attached the (redacted) technical profiles we're using:
[example.txt](https://github.com/MicrosoftDocs/azure-docs/files/4450742/example.txt)
The entire Journey is quite extensive so I've just added the technical profiles for now. Let me know if you need a full working example.

We notice that `AAD-UserWriteUsingA

[2020-04-08 13:38] ybutola opened #51976 "Dosen't Work"
Most of the turorials doesn't if you follow everyting line by line. For example in this case, when I try to run the build by hitting "Build Now" it shows "pending-Jenkin's doesn't have a label 'linux'".

And this is pretty much everywhere, none of the tutorial works simply by following the instructions. Very disappointed. How can I purpose this product to my organisation.

---
#### Document Detail

[2020-04-08 13:43] RohitMungi-MSFT commented on #44719
Due to the nature of this issue which is mostly subscription specific and not related to documentation we would request users to raise an issue on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureCognitiveService)for any future issues related to this error so our service engineers can help or you can also raise a support ticket from Azure portal from the Help+Support section

[2020-04-08 13:43] #44719 closed

[2020-04-08 13:46] andyadamides opened #51978 "Azure Kubernetes Service Contributor Role missing?"
In the portal on IAM for AKS, I can see that there is an `Azure Kubernetes Service Contributor Role` - I cannot see this role anywhere in your documentation and since this is showing under built-in roles I would expect to see it in this page - where is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6d

[2020-04-08 13:54] timpicard opened #51979 "Update URL Patterns - Section 4.a, 4.b, and 5"
4.a. Should read:
In the Identifier text box, type a URL using the following pattern:
For a Default Domain: https://&lt;company name&gt;.getbynder.com
For a Custom Domain: https;//&lt;subdomain&gt;.&lt;domain&gt;.com

4.b. Should Read:
In the Reply URL text box, type a URL using the following pattern:
For a Default Domain: https://&lt;company name&gt;.getbynder.com/sso/SAML/authenticate/
For a Cus

[2020-04-08 13:55] bingoglossy opened #51980 "Please update section "Identify legacy authentication use" with the new GUI changes to Azure AD"
Outlined here:

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/new-tools-to-block-legacy-authentication-in-your-organization/ba-p/1225302

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021e4ae8-fffc-505f-7f07-892d0d28a078
* Version Independent ID: 4aba9a3f-9db5-ccb8-2157-c1d0446373f2
*

[2020-04-08 13:58] RohitMungi-MSFT commented on #51943
@rido-min Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-08 14:00] mayuanyang commented on #49222
@BryanTrach-MSFT any way to warm up a scale out instance? we really need this for App Service running on Linux app service plan.
thanks

[2020-04-08 14:01] BeMor81 commented on #51801
Yes, thanks for the help. I was able to see a working example too by using a Logic App as the backend.

[2020-04-08 14:05] amanmcse commented on #51530
@xieofxie I am closing this thread for now.
Feel free to tag me in your reply if you have any further questions.

[2020-04-08 14:05] #51530 closed

[2020-04-08 14:16] RohitMungi-MSFT commented on #51965
@wukun2015 Thanks for the question. @IEvangelist Could you please help to check with service team if there is a plan to support this?

[2020-04-08 14:16] dr-ivan opened #51983 "Limitations does not account for no NSG/Firewall available for internal access"
There are no details on how to restrict access on the internal network.
How do i restrict access from other subnets? NSG's are apparently not supported. The only suggestion i read was to block set Outbound NSG rules on all other subnets to Deny access. This is not possible is a large dispersed network with Express Route and other Public and Private Cloud Providers in the mix.

---
#### Document De

[2020-04-08 14:18] RohitMungi-MSFT commented on #51933
@RonnieQuan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-08 14:20] dr-ivan opened #51984 "NSG/Firewall limitations unclear"
The Limitations section is unclear on how to restrict access within an existing environment. Am i reading correctly that we will need to:
1. Create outbound NSG rules on every other subnet to prevent access to the Private Endpoint
2. Create /32 UDR's to prevent traffic from ExpressRoute hitting the SQL servers for specific ranges within our on-prem network
Can you elaborate in more detail how to s

[2020-04-08 14:21] RohitMungi-MSFT commented on #51857
@yakeem Yes, all characters that are part of the request are counted in the limits. Here is a [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/character-counts)that explains how the characters are counted. We hope this helps.

[2020-04-08 14:22] dr-ivan commented on #50527
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-private-endpoint-overview#limitations states it uses Proxy only.
Thanks for the info on performance. good to know.

[2020-04-08 14:28] lopejum commented on #49245
Hello

All of those solutions did not work for me. Let me explain what I have:

I'm developing a solution with Twilio + Azure Cognitive Services (telephone based conversation, realtime, and using websockets)

From Twilio, when a call comes in, I send an initial POST request (Webhook) to my WebApp for Containers like this:
_https://my_azure_web_app.azurewebsites.net/twiml_

Inside <my_azure_web_app

[2020-04-08 14:50] lmmarsano commented on #51942
We still need to pin down the semantics: for a dynamically typed language like JavaScript, if the documentation doesn't specify or link to API specifications, then we must either guess or dive through code.
The [JavaScript documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#bindings-data-type) says

What _JavaScript objects_ do these choices result in?
Fo

[2020-04-08 14:51] haymansfield opened #51985 "Clarification on Enterprise Dev/Test subscriptions"
Which category do Enterprise Dev/Test subscriptions fall under?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version Independent ID: 99f0a52f-8df4-f8d4-3d4e-778fea2a389f
* Content: [Troubleshoot outbound SMTP connectivity in Azure](https://docs.microsoft.com/en-us/azure/virtual-

[2020-04-08 14:51] #51968 closed

[2020-04-08 14:53] SadiqhAhmed-MSFT commented on #51848
@agassijoelbrio Hope the previous post clarified your question. Closing this issue for now. If you've any further questions in this matter please tag me and reply to this post.

[2020-04-08 14:53] #51848 closed

[2020-04-08 14:56] DonGlover opened #51987 "Facade?"
Is facade really your best word choice here?
Once you import the backend API into API Management, your API Management API becomes a facade for the backend API. You can customize the facade to your needs in API Management without touching the backend API.

In general, this is the meaning that I think is typically associated with the word "an outward appearance that is maintained to conceal a less p

[2020-04-08 15:09] arham92 commented on #51972
I am using following URL for azure function development  and deployment

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash

[2020-04-08 15:10] YutongTie-MSFT commented on #51563
@xtianus79
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-08 15:10] #51563 closed

[2020-04-08 15:13] lopejum opened #51989 "Azure App Service Linux Container <==> Web Socket from Twilio not working"
Hello

All of [these solutions](https://github.com/MicrosoftDocs/azure-docs/issues/49245) did not work for me:

Let me explain what I have:

I'm developing a solution with Twilio + Azure Cognitive Services (telephone based conversation, realtime, and using websockets)

From Twilio, when a call comes in, I send an initial POST request (Webhook) to my WebApp for Containers like this:
https://my_azur

[2020-04-08 15:16] csharpfritz opened #51990 "Prerequisites Bullet 2 is inaccurate"
This bullet about "Resource Name" is not accurate.  There is no "Resource Name" field in the Azure Portal and the reference is too similar to "Resource Group Name" which makes this confusing.

Instead, can we reference the Endpoint URL label from the Azure Portal?  It would be easy to add an image from the portal that indicates where to find this URL

---
#### Document Details

⚠ *Do not edit this

[2020-04-08 15:22] leoruiz commented on #33533
This is happening to me too

$env:ACC_VERSION
master_20200306.3

[2020-04-08 15:26] PramodValavala-MSFT commented on #51801
@BeMor81 Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-08 15:26] #51801 closed

[2020-04-08 15:28] DarrinEide commented on #51939
Hi @CameronDevine, we don't currently normalize the DOI. We index it in the exact form as its stored in the [Microsoft Academic Graph (MAG)](https://docs.microsoft.com/en-us/academic-services/graph/), our primary source of data.

However, we know that this lack of normalization has been a long standing issue. I will work with the MAG team to help ensure they normalize DOI and that we document what

[2020-04-08 15:37] BrianLevenson commented on #44173
i'll need to find a SME for this. i'm not deep enough on the test tool to know whether this is an issue or expected.

[2020-04-08 15:41] lurodri opened #51991 "Azure Front Door Logs"
Hi,

we are looking for doing a diagnostic analysis around Malicious Referral, when our web site is encapsulated inside of an iframe from a malicious website. In order to do that and considering Azure Front Door is our edge service, we should log full http request headers and responses in order do have a better information for diagnostics and generating evidence for further procedures, for example

[2020-04-08 15:43] srikantjena28 opened #51992 "No Proper Documentation"
For ex- If I am going to include this method in my downloaded sample application  AddMicrosoftIdentityPlatformAuthentication  extension method is defined in Microsoft.Identity.Web/WebAppServiceCollectionExtensions.cs#L23.
There are lot of dependency file are missing which not able to build application successfully.

Similar issue with AadIssuerValidator class is defined in Microsoft.Identity.Web/R

[2020-04-08 15:48] PramodValavala-MSFT commented on #51942
@lmmarsano Thanks for the feedback! We will look to include to this in the docs.

I believe the object in javascript could be either a string, object (if valid JSON) or a buffer based on [this code](https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/converters/RpcConverters.ts#L17). And this would be the `req.body` property to use.

But I'm unsure of whether you can expect a strea

[2020-04-08 15:51] denyshubh opened #51993 "TextAnalyticsApiKeyCredential not working with python 3.6.9"
`from azure.ai.textanalytics import TextAnalyticsClient, TextAnalyticsApiKeyCredential`
is throwing an error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
**ImportError: cannot import name 'TextAnalyticsApiKeyCredential'**

I'm using python 3.6.9.
I have used this to install library
` pip install azure-ai-textanalytics`

It installs the following version.
Name: azure-a

[2020-04-08 15:52] viswanadham-k commented on #50422
Hi @thefonz3h
We already updated latest code to github repository. If you have already deployed WVD Scaling tool if you want latest code changes please run this script "createazureautomationaccount.ps1" it will reflect latest code.

Thanks

[2020-04-08 15:55] thefonz3h commented on #50422
Hi @viswanadham-k I did a fresh deployment today getting the latest version of the script and it still failed with the same issue. I edited the script and could still see a variable set to WestUS. I tried switching this to WestEurope but it had no impact.

Do you have a direct download link for the latest version of this script so I can check it against my version?

Many thanks

[2020-04-08 15:56] dburtman opened #51994 "Azure Java API for policies"
Is there support for dealing with policies in Azure Java SDK?
Meaning is there a package with set of classes that allow to read/create policies for certain subscription?
Searching your site and googling does not yield any results.
This page mentions nothing about Azure Java support for policies retrieval.

Thank you,
Daniel
email: daniel.burtman@gmail.com

---
#### Document Details

⚠ *Do not edit

[2020-04-08 15:58] PaulEstevesAtPEX commented on #51830
Nope, I'm in the same boat. Let me know if you get anywhere with support.

On Wed, Apr 8, 2020 at 12:25 AM Bart Van der Auwera <
notifications@github.com> wrote:

--

Paul Esteves

Senior Helpdesk Analyst / Network Administrator II

E: pesteves@pexcard.com

M: (347) 324-1622

[image: pexlogoemail.png] <https://www.pexcard.com>
[image: FBlogoemail.png] <http://www.facebook.com/pexcard> [image:
twit

[2020-04-08 15:59] jlian commented on #51932
Actually, please assign me instead.

[2020-04-08 16:01] DCtheGeek commented on #51994
#assign:DCtheGeek

[2020-04-08 16:04] DCtheGeek commented on #51994
@dburtman Thanks for the question.  The policy interfaces for Java are in the package `com.microsoft.azure.management.resources`.  I see that you are correct and that I don't have a link in the References to the Azure SDK for Java API docs, so I'll take an action to fix that. To get you going now, here are some of those links:

- policyDefinition - https://docs.microsoft.com/java/api/com.microsoft

[2020-04-08 16:09] erhopf commented on #51785
#reassign: @ArcherAZ

[2020-04-08 16:21] marcotchou opened #51995 "Syntax Error on KEY"
Hi,
I followed your instruction ... KEY = os.environ['FACE_SUBSCRIPTION_KEY']
I replace it something like KEY = os.environ['123567890'] according to the Key value from my Azure portal
but I got Key error message.   Any suggestions?   What's the correct way to set up the Key?   My email address is mchou@cdm.depaul.edu   Thanks.

Regards,

Marco

---
#### Document Details

⚠ *Do not edit this sectio

[2020-04-08 16:24] SubhashVasarapu-MSFT commented on #51956
@AKonCloud , We are looking into this query and will update you as soon as possible.

[2020-04-08 16:26] MarileeTurscak-MSFT commented on #51973
@gaikovoi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 16:26] MarileeTurscak-MSFT commented on #51978
@andyadamides
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 16:27] SubhashVasarapu-MSFT commented on #51955
closing this issue as this a duplicate of #51956 .

[2020-04-08 16:27] #51955 closed

[2020-04-08 16:27] MarileeTurscak-MSFT commented on #51980
@bingoglossy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 16:28] MarileeTurscak-MSFT commented on #51979
@timpicard
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 16:30] artemuwka commented on #51867
Hi, @sandip22490! Thanks for reaching out! One of the primary objectives of Azure Storage design is durability, so in case of a major disaster we'll be doing our best to restore the data, and these attempts may take time. If we fail to restore the data we'll announce the region as lost and will perform the failover of the entire region. That would likely mean that not only Azure Storage, but multi

[2020-04-08 16:33] kevinvngo commented on #50018
Thanks. I will update the tutorial to specify that it's not using MSI for authentication to ADLS and if required, link to the MSI authentication section for service endpoints.

[2020-04-08 16:33] kevinvngo commented on #50018
#please-close

[2020-04-08 16:33] #50018 closed

[2020-04-08 16:36] alex-frankel commented on #51914
Hi Maxim,

Here is a sample for doing a role assignment in ARM templates:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template

Creating an app registration would require the AzureAD modules, which I don't think are preinstalled. This example walks through it end to end. That's the script you would use for your deployment script:
https://techcommunity.microsof

[2020-04-08 16:36] SaurabhSharma-MSFT commented on #51992
@srikantjena28 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-08 16:36] PatrickFarley commented on #51995
@marcotchou , You don't change that line of code; you create environment variables which that code then references - https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickstarts/python-sdk#create-a-face-azure-resource
#please-close

[2020-04-08 16:36] #51995 closed

[2020-04-08 16:37] sandip22490 commented on #51867
Artemuwka,

Thanks for the update. I would be interested to know what approach Microsoft suggest to the customer in such scenario where they have read/write operation required and this service was not there in the past.

[2020-04-08 16:38] Mike-Ubezzi-MSFT commented on #51983
@dr-ivan Thank you for providing this feedback. Are you looking to confirm this limitation or functionality or are you looking for clarity with regard to the documentation? We appreciate all the feedback as it helps us improve the documentation.

[2020-04-08 16:44] mamccrea commented on #51679
Hi @kristerkarto. The value of "System.Timestamp" is the used for blob output path. "System.Timestamp" is normally assigned using the value in "TIMESTAMP BY " however, due to out of order threshold and late arrival threshold, this can be different.

You can select "System.Timestamp" as a column to confirm the behavior.

[2020-04-08 16:46] MashaMSFT commented on #50116
Hi @ChrisSommers, it's been some time since we've heard from you so we're going to assume that your question was addressed and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-04-08 16:46] nwandj commented on #46588
Hi, I am interested by the answer of this comment. How can we qualify a cluster old or new?
Thanks,

[2020-04-08 16:46] #50116 closed

[2020-04-08 16:46] nickwilliams-codynamic opened #51996 "B2C SAMLTokenIssuer specifify signing algorithm"
Is there any way to specify the signing algorithm used by B2C when issuing SAML assertions?

I was hoping the metadata would include a section like on the SAML RP sections: https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-technical-profile#metadata

By default it appears SAML assertions are signed with sha1, and due to colloision potential I would like to change this the sha256

--

[2020-04-08 16:47] artproton33 opened #51997 "That’s"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 94e60c7a-d69a-fdbb-c68b-19c74401acfa
* Version Independent ID: 7eed7d1f-2ad5-8d19-fb8c-98d5beac77da
* Content: [Add a personal Microsoft account to the Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/th-th/azure/active-directory/user-help/use

[2020-04-08 16:48] berndverst commented on #49186
Thanks for trying @juchom. One last thing to try -- also deleting the app setting for the login server. I really appreciate you being willing to verify this.

If this still doesn't work it seems we have a little bit of engineering work left to tie some of the pieces together. You are trying some cutting edge stuff here :) Hopefully the other approach I provided is still a good option for you as we

[2020-04-08 16:49] jluk commented on #46588
"Old" or "existing" cluster means any cluster using authorized IP ranges during preview. The existing rules and behavior will continue to work, but new updates or newly created clusters after the feature went GA have a dependency on SLB. The best path would be to recreate the cluster to use the latest infrastructure such as SLB, today this can be done in a migration pattern but AKS is investigatin

[2020-04-08 16:55] ontoneio commented on #48350
I am also not seeing AKS on here. From looks of it.
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

[2020-04-08 16:57] ontoneio commented on #44668
Plus one on this comment.  Still has not been updated.

[2020-04-08 16:58] archunz commented on #51967
@zagruby The script is meant to pick up activity over the last 1 day (first parameter in the script). Can you confirm that this duration will pick up your activity? If yes, can you also please confirm what actions you performed when you reference " _I registered/unregistered resources few times_ " ? Did you delegate a new subscription / resource group to an existing offer? Or completely deploy a n

[2020-04-08 17:03] arvind-dhariwal-zz opened #51998 "Access secured ADLS Gen2 from on-premises over express route private peering"
Hello Experts,

In this section ,
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#configuring-access-from-on-premises-networks

Please could you also describe how to access secured data storage from on-premises over private peering link via ExpressRoute?

Thanks
ARvind, CSA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-04-08 17:03] mohamed-shehata-m opened #51999 "Error when adding VNet integration using azure cli"
I just tried to remove VNet integration using cli, it worked.
But it does not add vnet integration. I'm getting this error: The app and the vnet resources are in different locations. Cannot integrate a regional VNET to an app in a different region.

Both app & vnet are in the same region. I added the vnet integration successfully from the portal.

---
#### Document Details

⚠ *Do not edit this sec

[2020-04-08 17:05] artemuwka commented on #51867
@sandip22490, in the past we didn't have any specific guidance around this scenario except to utilize read-only endpoint (RA-GRS at the time) to be able to have read access. Currently I'd recommend to start testing account failover to see how it could fit into your overall disaster recovery strategy, so that once it's generally available you could take a dependency on it.

[2020-04-08 17:05] AP-Nick commented on #43306
The Custom script does not work, it redirects to https://idp.ssocircle.com/sso/UI/Login?module=peopleMembership

If change leave it on Update1 it works correctly.

[2020-04-08 17:06] sandip22490 commented on #51867
Okay, Thanks!

[2020-04-08 17:08] artemuwka commented on #51867
Anytime!

[2020-04-08 17:08] BhargaviAnnadevara-MSFT commented on #51968
@jawn The change is merged internally and will go-live in the public docs shortly.

[2020-04-08 17:11] BhargaviAnnadevara-MSFT commented on #51966
@YggY Agreed. Thank you very much for bringing this to our attention. I have submitted a PR removing the unnecessary package references that's awaiting review.

[2020-04-08 17:14] Ayanmullick opened #52000 "PowerShell steps to AAD-join existing VM"
The PowerShell steps to enable AAD login for an existing VM should be documented too.

1. Enable system-managed identity for the VM
`Update-AzVM -ResourceGroupName <ResourceGroupName>  -VM $(Get-AzVM -ResourceGroupName <ResourceGroupName> -Name <VMName>) -AssignIdentity:$SystemAssigned -Verbose`

2. Install the AAD login extension
`Set-AzVMExtension -Location <location> -ResourceGroupName <Resourc

[2020-04-08 17:16] 404cruX opened #52001 "Legacy Authentication Tile VS Sign-ins clarification"
In the definition of Legacy Auth there needs to be clarification between when the tile will show up vs a legacy auth sign-in

"The tile only shows counts of legacy auth sign in with associated session risk present, whereas the blade displays all the legacy auth sign ins."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-08 17:16] juchom commented on #49186
This doesn't work either:

[code]

In the mean time I also found this on uservoice: https://feedback.azure.com/forums/169385-web-apps/suggestions/36145444-web-app-for-containers-acr-access-requires-admin#{toggle_previous_statuses}

[2020-04-08 17:19] esunder opened #52002 "Cannot properly create "representation""
When following the step:  "Enter "application/json" into the search box and select the application/json content type."

The search fails and I cannot add the proper representation. When looking in the dev console of my browser, I see a failed network call for the content-types.json. I suspect this is related.

This makes it difficult to follow the tutorial.

---
#### Document Details

⚠ *Do not ed

[2020-04-08 17:22] adbertram opened #52003 "Inconsistent messaging"
In one sentence, it says "You can't add an existing VM to an availability set after it's created." but in another, it's saying the opposite: You can add more VMs to the availability set later, but you need to know what VM sizes are available on the hardware

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ffc39-d1a4-7

[2020-04-08 17:24] Grace-MacJones-MSFT commented on #51999
Hi @mohamed-shehata-m, thanks for the feedback! We are currently investigating and will update you shortly.

Can you please  share the CLI commands you are using to remove/add Vnet integration?

[2020-04-08 17:25] shivanshi18 commented on #51938
Thanks that worked !!

[2020-04-08 17:25] shivanshi18 commented on #51938
I am closing the issue

[2020-04-08 17:25] #51938 closed

[2020-04-08 17:28] shivanshi18 opened #52004 "ssh: connect to host, port 22: Connection timed out"
I am getting connection timed out on trying to ssh to AKS on writing the command: ssh -i id_rsa azureuser@10.240.0.4. I am writing this command in the terminal session to my container.

In place of azureuser@10.240.0.4 I am using the username for my AKS nodes.

[2020-04-08 17:31] #51762 closed

[2020-04-08 17:36] YutongTie-MSFT commented on #51990
@csharpfritz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-08 17:36] arvind-dhariwal commented on #51777
Also missing scenario in this diagram to position SHIR in case of pulling data from other cloud like AWS. I know SHIR is not required but it should be mentioned explicitly.

[2020-04-08 17:37] rwike77 commented on #51401
@hpsin, can you comment on this?  Thanks.

[2020-04-08 17:39] SubhashVasarapu-MSFT commented on #51753
@golfalot , Appreciate for your valuable feedback. I would suggest you to raise a feature request here in this [feedback section](https://feedback.azure.com/) for its future availability and also do upvote it.

[2020-04-08 17:39] KranthiPakala-MSFT commented on #51632
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-04-08 17:39] #51632 closed

[2020-04-08 17:42] hpsin commented on #51401
@simonsigre can you provide some more details on where you found these logs? The sign in logs pull in additional data including the result of the MFA - this error code is just what triggers MFA, we don't issue a second error to indicate that the MFA check was passed.

[2020-04-08 17:43] SubhashVasarapu-MSFT commented on #51142
@stilbu , The doc is yet to roll out.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-08 17:43] #51142 closed

[2020-04-08 17:46] MarileeTurscak-MSFT commented on #51979
Thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/110696

[2020-04-08 17:46] #51979 closed

[2020-04-08 17:48] lujiangfeng666 commented on #51589
We are looking into to have sign in frequency apply to MFA as well.

[2020-04-08 17:50] rringham opened #52005 "Computer Vision API - broken for uploading local images"
This page is either inaccurate or the CV API is broken (v2.0 and v2.1) w.r.t. uploading local images.

image_path = "test.jpg"
image_data = open(image_path, "rb").read()
headers = {'Ocp-Apim-Subscription-Key': subscription_key, 'Content-Type': 'application/octet-stream'}
params = {'language': 'unk', 'detectOrientation': 'true'}
response = requests.post(ocr_url, headers=headers, params=params, data

[2020-04-08 17:50] jose-lima2011 opened #52006 "ASC default Policies - Parameters not Found, not enabled or not managed, it's updated ?"
Hello people, I'm having a hard time understanding why the ASC default policy has 96 policies and only 71 are enabled or have the possibility to enable, for example I want to enable the parameter:

Name Monitor network security groups
Type String
Default Value Disabled
Allowed Values ​​AuditIfNotExists; Disabled

properties.parameters.networkSecurityGroupsMonitoringEffect

there is a parameter in

[2020-04-08 17:55] areddish commented on #51255
@alathrop The images are stored in storage managed by the Custom Vision service. They can be accessed for deletion through the Customvision.ai portal or via the SDK/API. For python this would be the delete_images method on the CustomVisionTrainingClient. You can access a list of your images in a project using a combination of get_tagged_images and get_untagged_images to get the IDs needed to pass

[2020-04-08 17:57] XiaoyuMSFT commented on #48138
No change is needed for this request.  The article clearly stated that using HEAP for table <60M rows will help the data loading.  The feedback was not clear where the customer saw the slower performance.  Is that during data loading or post-load queries.

[2020-04-08 17:58] lyrana commented on #51934
Hi @olivoarroba, your frustration is valid! In the spirit of transparency, I want to let you know that we are iterating yet again on the flattening logic--the PAYG SKU of TSI is on the path to GA, and for the GA of this SKU the logic will be different and will be applied to new environments.
  Note that there are no new features being developed on the current S1/S2 SKU of TSI, all efforts are bein

[2020-04-08 18:00] XiaoyuMSFT commented on #48138
@amvieira  The article is correct that using HEAP for table <60M rows will help the data loading. The feedback was not clear where the customer saw the slower performance. Is that during data loading or post-load queries?  For post-load queries, users should create an index for better performance.

[2020-04-08 18:01] XiaoyuMSFT commented on #48138
#sign-off

[2020-04-08 18:03] XiaoyuMSFT commented on #48138
#sign-off

[2020-04-08 18:05] XiaoyuMSFT commented on #48138
#please-close

[2020-04-08 18:05] #48138 closed

[2020-04-08 18:06] tfitzmac commented on #51929
@lzhang-chata - we'll close this issue for now, but if you have more questions, feel free to reopen.

[2020-04-08 18:06] tfitzmac commented on #51929
#please-close

[2020-04-08 18:06] #51929 closed

[2020-04-08 18:06] AshokPeddakotla-MSFT commented on #51805
@levi106 Thanks for the feedback. Since I'm unable to repro your issue, I would kindly request you, please report this issue on the [azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net/issues/new/choose) repo (which is better suited for SDK related issues) and the team will be able to help you resolve the issue/provide a workaround.

[2020-04-08 18:08] #51546 closed

[2020-04-08 18:08] ninarn commented on #51546
Thanks for following up on this. I have reviewed and signed off on the doc update

[2020-04-08 18:09] SaurabhSharma-MSFT commented on #51877
@sergio-at-neocles Have you looked into [document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids) which provides you list of localization ids which you can use in your policy for the localization.

[2020-04-08 18:10] MarileeTurscak-MSFT commented on #51997
@artproton33
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 18:11] SaurabhSharma-MSFT commented on #52006
@jose-lima2011 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 18:11] FbaillonGfi opened #52007 "Problème de Syntaxe sur le Filter query du Get Entities"
La bonne syntaxe pour le Filter Query est : TIMESTAMP gt @{body('Get_past_time')}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 067dc36a-c98a-73fc-cee0-59a311619401
* Version Independent ID: 362a1a3f-b536-123c-2dd1-421051f0fec4
* Content: [Azure Table storage](https://docs.microsoft.com/en-us/azure/marketplace/cloud-p

[2020-04-08 18:12] SaurabhSharma-MSFT commented on #52000
@Ayanmullick Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 18:12] MarileeTurscak-MSFT commented on #51997
@artproton33 we need more information to act on this issue. Please create a new issue detailing exactly what feedback you would like to leave for this doc.

[2020-04-08 18:12] #51997 closed

[2020-04-08 18:13] SaurabhSharma-MSFT commented on #52001
@404cruX Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-08 18:14] SaurabhSharma-MSFT commented on #51996
@nickwilliams-codynamic Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 18:16] CeciAc opened #52008 "What is the License Code for "Microsoft 365 Phone System"?"
@stumbaumr commented on [Wed Apr 08 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/643)

Tried to use Powershell to assign "Microsoft 365 Phone System"-License to specific userPrincipalName and failed. There seems to be no working documentation on how to do this.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com z

[2020-04-08 18:17] ctrcdanielyu opened #52009 "Instructions doesn't work."
This instruction doesn't work at all. i have tried it multiple times. it keeps saying 'redirect_uri 参数错误'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aed4225-f137-1ff4-1229-8e7dca4e88c6
* Version Independent ID: 21ed2d45-56ca-19c4-6ccc-c63658c7ae56
* Content: [Set up sign-up and sign-in with a WeChat account - Azur

[2020-04-08 18:18] supmn084 commented on #51931
Actually after working through this for a while, the entire issue for the failed install and reporting services configuration is from the wizard not setting the TCP/IP listening port to 1433 for SQL Server, so the reporting server can't talk to the SQL instance, fixing that the install then runs through fine. This should be an easy fix in the sql configuration file when running through a fresh ins

[2020-04-08 18:19] darren271 commented on #47616
I was also stuck here. After looking at the CLI docs, I tried this with success

`az ad sp create --id 205478c0-bd83-4e1b-a9d6-db63a3e1e1c8`

[2020-04-08 18:20] amvieira commented on #48138
The issue is that the customer understood this heap recommendation for <60 million for the "normal usage" not only for the initial data loading

[2020-04-08 18:23] AshokPeddakotla-MSFT commented on #51723
The data can be written to blob storage in either the Apache [Avro format](https://avro.apache.org/), which is the default, or JSON (preview).

In order for IoT Hub to know whether the message can be routed based on its body contents, the message must contain specific headers which describe the content and encoding of its body. In particular, messages must have both these headers for routing on me

[2020-04-08 18:26] #50552 closed

[2020-04-08 18:26] MarileeTurscak-MSFT commented on #52009
@ctrcdanielyu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-08 18:28] CameronDevine commented on #51939
@DarrinEide thank you for being receptive to this issue. I was quite surprised when I had Evaluate requests return no results when searching by DOI, especially when the paper could be found on Microsoft Academic.

[2020-04-08 18:31] ctrcdanielyu commented on #52009
in the callback url, wechat doesn't accept https://your-tenant_name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp as callback url either, https:// must be removed. you may also want to fix this in instructions too. thanks.

[2020-04-08 18:33] chambomusic opened #52012 "iifNull() example looks wrong"
The 3rd example for the iifNull() function states:  iifNull('bojjus', 'bo', 'dumbo') -&gt; 'dumbo'

However the function specification states:  "....It tests for all inputs until it finds the first non-null value".

Should this not return 'bojjus' rather than 'dumbo'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fef