[2018-12-06 11:04] SadiqhAhmed-MSFT commented on #20077
@mosharafMS, Thanks for the feedback! We have assigned this to the content owner to investigate further and update the document as needed.

[2018-12-06 11:14] jakaruna-MSFT commented on #20081
@ToruMakabe You are right.  Verified it in the API [documentation](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/createorupdate#request-body). osType is a property for container groups and not for containers.
Also the example worked after moving the osType under container groups properties.
We will edit the example as well.

[2018-12-06 11:20] #20076 closed

[2018-12-06 11:22] SadiqhAhmed-MSFT commented on #20079
@KeiroKamioka0000, Could you rephrase your question?
FYI: https://www.quora.com/What-is-the-Difference-between-GiB-and-GB

[2018-12-06 11:39] Jaffacakes82 commented on #19776
@dirkslab thank you for providing your solution. How do you install the site extension to your WebApp? Do you use Azure DevOps too?

@kobulloc-MSFT it would be useful to have the programmatic update solution included in the documentation. Is @dirkslab's approach the right one, and is it likely to change in future?

[2018-12-06 11:54] #20081 closed

[2018-12-06 11:58] sahilpnckr123 commented on #16648
there is still no progress from microsoft! Its almost 2 months now.

[2018-12-06 12:14] jakaruna-MSFT commented on #20073
@terrymandin I tried out in bash shell. I didn't get any error. Can you please tell me from which shell you are trying to execute this command?
Also please verify the single and double quotes are proper in protected settings and settings.

[2018-12-06 12:25] ksix opened #20095 "How do I selectively force tunnel for web servers (allow responses directly, but initiated via a NVA)?"
As per the article forced tunnelling is used to prevent servers directly accessing the Internet. It then says:

**AND**

Yes this is exactly what I want to do. How do I do it? None of the pages this article links to explain how to selectively force tunnel to allow web servers to directly respond to the internet based request, but route via a NVA for any internet requests initiated by the web serve

[2018-12-06 12:40] mrbullwinkle commented on #18051
@SWarnberg thank you for your patience on this one, I will get the docs updated today. I reached out to the engineering team to address the error message.

While we don't currently support auto-enablement of App Insights/Profiler via the UI for Linux based/containerized apps. There are some manual options which I believe are still in preview at the moment that you may want to look at:

[Profile AS

[2018-12-06 12:46] snehithm commented on #19978
@CraigBoydell , @cconrado I would like to understand the issues you are seeing. I sent out an email to @cconrado. @CraigBoydell could you reach out to me at snmuvva AT Microsoft DOT com

[2018-12-06 13:00] kuburoma opened #20097 "AKS start failing for 200+ pods"
Hi,
we run cluster AKS 1.11.2 with around 250 pods and after Istio sidecar injection is enabled then kube-dns start failing with error message "Maximum number of concurrent DNS queries reached". Number of request on kube-dns skyrocketed from 1 000 to 150 000+ request. Do you have some experience with running Istio on large clusters?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-12-06 13:16] snehithm commented on #20053
Hi @ClayJackson412,  the feature is available.

Could you reach out to me on email at snmuvva AT Microsoft DOT com, we need more information in diagnosing what happened to your deployment. You could also create a support case via the Azure portal for a faster response.

Regards,
Snehith

[2018-12-06 13:34] imeya opened #20099 "application insights SLA"
I noticed that in application insights SLA [V1.0](https://azure.microsoft.com/en-us/support/legal/sla/application-insights/v1_0/) and [v1.1](https://azure.microsoft.com/en-us/support/legal/sla/application-insights/v1_1/), it says We guarantee that the data latency of the Application Insights Service will not exceed two hours 99.9% of the time. , so in the left 0.01% of time outside the SLA, could

[2018-12-06 13:35] #19201 closed

[2018-12-06 13:47] GauravSagne opened #20100 "Fault Tolerance - Skip and Log not working."
Hi Team,

Not sure but skip and log (fault tolerance option) is not working now for me which I successfully tested earlier. Copy activity gets failed due to incompatible record even though it's set to skip.
Below is my sample json for ref,

"enableStaging": false,
                                            "enableSkipIncompatibleRow": true,
                                            "redirectInc

[2018-12-06 13:50] nitinjain999 commented on #11448
Hi @BryanTrach-MSFT : Any Ideas when it would be available!

[2018-12-06 14:01] rmourato commented on #18508
@davidmu1 This does not seem to be working for `b2clogin` domains, unless using a wildcard like @robsrip suggests.

I say this because the config works correctly if, for instance, `https://www.test-cors.org` is added in order to [Test CORS](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom#test-cors) successfully, which is another omission fro

[2018-12-06 14:13] itorian commented on #19876
+1 on what is the average amount of time between preview and GA?

[2018-12-06 14:37] Antonlovesdnb opened #20101 "Two Issues with Documentation / Script"
Thank you for this script, however, if anyone is following along it is impossible to run this as a scheduled task as per the documentation as the script 1) Does not allow for relative dates, anyone who downloads and runs it would just be pulling the same X days over and over and 2) Prompts for credentials. Can the documentation be changed or the script fixed to allow for relative dates and the usa

[2018-12-06 14:48] DeanGross opened #20102 "Unfamiliar sign-in properties"
the Risky Users (Preview) report is showing me an "Unfamiliar sign-in properties" activity. This activity is not described in the documentation. Would you please add it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198f0e69-af2a-8c82-041a-c5ca4126f02f
* Version Independent ID: 4be57788-f1c2-d6d4-b94a-a59350a618a7
* Co

[2018-12-06 14:54] matkjin commented on #10926
@berviantoleo

You can disable MFA like this. Try it and hope it works fine!

$sta = @()
Set-MsolUser -UserPrincipalName bsimon@contoso.com -StrongAuthenticationRequirements $sta

[2018-12-06 15:13] hrushib commented on #19950
Hi @darran1971,
Had a look at the log but did not get any pointer for this issue. I will need following info to investigate further
* Need logs from the time period when BackupRestore service was attempted for activation on UKHQSFUAT001.
* Please attach cluster manifest, follow the below steps to get cluster manifest,
   1. Open Service Fabric Explorer
   2. Click on `Cluster`.
   3. In right pane

[2018-12-06 15:31] eross-msft commented on #7981
This is still in the plan for creation and will occur in the new year.
#please-close

[2018-12-06 15:48] summerkiss commented on #20057
Hi ，@mike-urnun-msft the only docs related my question I can find is : https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-provision-database-throughput ,
https://docs.microsoft.com/en-us/azure/cosmos-db/request-units

[2018-12-06 15:49] msmimart commented on #8564
For SharePoint/OneDrive sharing, there's no limit to the number of external users you can invite to your SharePoint Online site collections (see details in the [SharePoint Online Service Description](https://docs.microsoft.com/en-us/office365/servicedescriptions/sharepoint-online-service-description/sharepoint-online-limits). We're also looking into SharePoint external sharing settings and will up

[2018-12-06 15:51] aloneguid opened #20103 "Dead links"
The links above to AutoScalingTrigger and AutoScalingMechanism are dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0f69d4-0499-de34-0a3d-53bfb30abe1c
* Version Independent ID: 740fedc4-f80d-241a-1660-857bc4b6562b
* Content: [Auto-scale an app running in Azure Service Fabric Mesh](https://docs.microsoft.com/en-us

[2018-12-06 15:57] vlttnv opened #20104 "Accessing the static website over HTTP returns a 404"
When accessing the website over HTTP and trying to access a page like `/videos` for example I get a 404 error. The main page `/` works fine. This does not happen when accessing the website over HTTPS.

I have a react app using `react-router`.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb9

[2018-12-06 16:06] Ayanmullick opened #20105 "PowerShell Setup"
How do I set this up with PowerShell? Could someone share how-to thru `Invoke-RestMethod` if cmdlets not ready?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e26853-8b25-7b94-ce79-c47853ca18aa
* Version Independent ID: 39636d49-dc5e-62c6-6bcb-70616cff369e
* Content: [Backup and Restore for SQL Server in Azure VMs](h

[2018-12-06 16:22] summerkiss commented on #20012
Dear @SnehaGundam, our use case is not migrate data but insert million  records in short time , so we want increase the throughput during that time dynamically on the existed database or collection by API. Do you have any solution on this?

[2018-12-06 16:23] myusrn commented on #19717
@andretms I read the sample you referenced, not sure if you have as well, but its so old and based on such old libraries for enabling openid connect [ browser/user agent client ] and oauth [ desktop/mobile app client ] in same web site that its not at all reusable.  Perhaps you could please comment on who the #please-close request was meant for and why this should be closed before a solution to it

[2018-12-06 16:31] tfitzmac commented on #19824
@ddobric - the validation is required to avoid someone maliciously flooding your endpoint with events. I'll look at how the description can be clarified.

[2018-12-06 16:32] MichaelMcCoyTech opened #20106 "Azure Front Door Service Logging"
Please can you provide some documentation on how to log requests through Azure Front Door.  At the moment it is a black box and very hard to diagnose issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Version Independent ID: ad725093-ebd3-ecfc-84c8-e7c19a715979
* Content: [Azu

[2018-12-06 16:44] tamram commented on #20088
@evialle - Thanks for your feedback. We're encouraging customers to move to general-purpose v2 accounts. Because customers cannot create a v1 ZRS storage account from the portal, we've chosen to omit ZRS support in v1 accounts from the table.

#please-close

[2018-12-06 16:50] danieldobalian commented on #8167
#please-close

[2018-12-06 16:50] Alberto-Vega-MSFT commented on #19675
@kgremban Do you think adding a link to this alternative method add value to this doc?

[2018-12-06 16:57] barclayn commented on #17598
Hi @kinseymd Thank you for your feedback. I have created a bug for us to look at during the next update cycle for this article.

[2018-12-06 16:57] barclayn commented on #17598
#please-close

[2018-12-06 16:59] evialle commented on #20088
I think that it would be fair in that case to report this possibility and tell that you discourage this use case, in the documentation, instead of a wrong information.

[2018-12-06 16:59] barclayn commented on #19940
@MrCNeale Thank you for your feedback. I have created a bug for us to consider your suggestion during the next update to this article.

[2018-12-06 16:59] barclayn commented on #19940
#please-close

[2018-12-06 17:09] #19940 closed

[2018-12-06 17:11] mike-urnun-msft commented on #20080
Hi @imaculate Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your feedback with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-06 17:12] mike-urnun-msft commented on #20086
Hi @sumanthkannedari Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-06 17:12] tamram commented on #20088
@evialle - We consider ZRS Classic to be a different offering. ZRS Classic is documented only [here](https://docs.microsoft.com/azure/storage/common/storage-redundancy-zrs#zrs-classic-a-legacy-option-for-block-blobs-redundancy).

The table you are referring to lists only ZRS (not ZRS Classic). ZRS is not supported for v1 accounts. We have decided not to add ZRS Classic to the table.

#please-close

[2018-12-06 17:15] mike-urnun-msft commented on #20089
Hello @beerkato Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your feedback with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-06 17:15] mike-urnun-msft commented on #20090
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4daf704c-11bc-45d4-2172-79df07d3c853
* Version Independent ID: 8ef4acac-d2f4-332d-73ba-dbbbeaa04e65
* Content: [Download a Linux VHD from Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/download-vhd)
* Content Source: [articles/virtual-machines/linux/do

[2018-12-06 17:17] mike-urnun-msft commented on #20090
Hello @chepeftw Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-06 17:20] marktab commented on #20066
@CHEEKATLAPRADEEP-MSFT  I put changes into https://github.com/MicrosoftDocs/azure-docs-pr/pull/59878 -- please monitor and advise if I need to take additional action

[2018-12-06 17:20] mike-urnun-msft commented on #20091
Hello @stijnbrouwers

Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-06 17:21] mike-urnun-msft commented on #20099
Hello @imeya Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-06 17:22] mike-urnun-msft commented on #20057
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789936dc-e275-a87f-4f34-8f757db9b3b4
* Version Independent ID: ce1c88a2-5e85-1f2b-d5aa-a2f9b117635e
* Content: [Provision database throughput in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-provision-database-throughput)
* Content Source: [articl

[2018-12-06 17:23] mike-urnun-msft commented on #19962
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-06 17:23] #19962 closed

[2018-12-06 17:23] jeevansd commented on #17443
@mlwhite4 Thanks for providing the image here. @chetansriv  and @v-nagta  Please update the image as suggested.
I am not sure why you are not able to update the image but we will investigate that issue with our content team.

[2018-12-06 17:24] mike-urnun-msft commented on #20068
Hello @Chikitaisaac123 Just following up here, let us know if we can assist with regards to any MS Doc :)

Otherwise, we'll proceed to close this issue.

[2018-12-06 17:25] BryanTrach-MSFT commented on #11448
@nitinjain999 We do not have an ETA at this time. We advise you to watch [Azure Roadmap](https://azure.microsoft.com/en-us/updates/) for any updates.

[2018-12-06 17:36] marktab commented on #19072
@garyericson
I believe that solution is no longer there -- could you remove the three webpages related to Vehicle Telemetry

[2018-12-06 17:36] YutongTie-MSFT commented on #20058
@mwsteph
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-06 17:36] #20058 closed

[2018-12-06 17:41] marktab commented on #8734
@garyericson seems this issue was not closed

[2018-12-06 17:45] msmimart commented on #9806
Thanks for pointing this out. I’m getting the same results, so I’ve filed a work item to track this issue and clarify the behavior described in the article. We’ll close this issue now, but if you have additional concerns please let me know. #please-close

[2018-12-06 17:47] aloneguid opened #20108 "http yaml sample"
can you please provide an example of HTTP rule in yaml? If I try the following visual studio fails with an error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5669958a-990e-f0c3-36e3-d2d5bd3962cd
* Version Independent ID: 8bac9d78-3a71-edae-e554-561aef59a7a4
* Content: [Configure a Gateway to route requests](

[2018-12-06 17:52] guzo-kevin opened #20109 "is there a complete list of "ParsingMode""
I can see the parsing mode need to be set to "json" or "jsonarray" for json, or text for text files.  How about other file types such as pdf, .docx.... What parsingmode should I specify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63559d85-a673-b5cb-6ac0-465c988774c3
* Version Independent ID: 3cfbd312-0eb4-d2a4-0819

[2018-12-06 17:56] Grace-MacJones-MSFT commented on #19885
We will now proceed to close this thread.

[2018-12-06 17:56] #19885 closed

[2018-12-06 17:57] mukhtarD commented on #12752
I have the same question as above, what is the General Availability date? Also, if a Workday customer is implementing this, who should they reach out to with issues such as sync failures, follow-up questions on scenarios that the integration handles?

[2018-12-06 17:58] barbkess commented on #18837
@MicrosoftDocs/azure-cxp-triage : Please assign to @asmalser-msft .

[2018-12-06 17:59] barbkess commented on #14608
@MicrosoftDocs/azure-cxp-triage Please assign to @asmalser-msft

[2018-12-06 18:06] baywet opened #20111 "Azure CR: Authentication using a service prinpcal"
When configuring a service principal to login with docker login, from the current documentation, it's not clear which password should be used: the MSA password? The Azure CR admin account password? The Application registration secret? something else? I think this line of shell script should be updated and explained further
[code]
I tried with the secret of my application registration and I get a u

[2018-12-06 18:06] JeffPetersPRA commented on #18837
I was able to figure out the syntax myself. If anyone else is having issues here are some samples.

Join("@", Join(".",Replace([Firstname], , "(\\s)", , "", , ),Join("", Replace([LastName], , "(\\s)", , "", , ), Replace([UserID], , "(\\D)", , "", , ))), Switch([Company], , "CompanyA", "CompanyA.com", "CompanyB", "CompanyB.com", "CompanyC", "CompanyC.com", "CompanyD" , "CompanyD.com"))

This builds

[2018-12-06 18:09] darshankumarys opened #20112 "Storage explorer issue"
This is second issue am raising for storage explorer. I have installed 1.6.0 version but still getting same error when opened. PFB. please provide me fix or any alternative.

![capture](https://user-images.githubusercontent.com/31399421/49603036-046b3680-f982-11e8-9beb-4f3c75c64586.PNG)

[2018-12-06 18:10] vhorne commented on #17084
@pierslawson

Looks like the product team is shooting for early January.

[2018-12-06 18:17] aljo-microsoft commented on #20025
@maxcalvin

Would you help me understand this statement:
"
I would worry that someone comes in learning about whether to make a service stateful or stateless and heading off to make a stateful service because they use a db.
"

When a user's service is using a DB to hold their services state, then they have made a Stateful service, and the very first line in the referenced document states:

"
Servi

[2018-12-06 18:18] bwren commented on #20077
@MGoedtel

[2018-12-06 18:18] barbkess commented on #19344
@jack0612 : If you want to configure the GitHub-test application, you can find it by entering "GitHub-test" (not the user access URL)  in the search bar.  I am updating the wording to make it more clear. Also, if you want to access the application as a user, you can find the user access URL under properties for the application.  That URL is https://myapps.microsoft.com/signin/GitHub-test.

#please

[2018-12-06 18:20] BryanTrach-MSFT commented on #20093
@Stereo89 Yes, you should be able to integrate VNET peering as long as you are not using or calling a service on either end that contains an Internal Load Balancer (ILB).

Please see the below diagram for how this can be accomplished when trying to have your web app call a VM in a different VNET as the web app.

Web App ---Point-to-site---> VNET1 ----> VNET peering ----> VNET2 ----> web service in

[2018-12-06 18:20] #20093 closed

[2018-12-06 18:30] aljo-microsoft commented on #18713
@wasabii
Have you confirmed you have patches to apply?

I've previously seen user's provision new VM's on prim, build a cluster, and wonder why no patches where being applied; it was because in their case, provisioned VM's came with updated, and they didn't have any patches to apply yet.

[2018-12-06 18:32] CeciAc opened #20113 "Speech Serviceの名称"
@hatsunea commented on [Mon Nov 12 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/893)

Azure Portalなどでは「Speech Services」となっているがdocsでは「Speech Service」となっている。
どちらが正しい名称でしょうか。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5ab20294-c13e-b533-726f-9fde3005431d
* Version Independent ID: 0e47f11d-7656-8a6f-6e9a-ac0184ed4d15
* Content: [Spe

[2018-12-06 18:33] aljo-microsoft commented on #19557
@hukun01
For non production environments, and unmonitored Deployment mode skips health checks; DO NOT DO THIS FOR PRODUCTION

Ref:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-visualstudio-configure-upgrade

[2018-12-06 18:33] Karishma-Tiwari-MSFT commented on #15227
@cynthn It looks like the information on TRIM needs to be removed from this doc. Would you be able to confirm and update as appropriate. Need your expert touch on this. Thanks :)

[2018-12-06 18:35] chrisrpatterson commented on #18902
Is there a plan to add the ability to use an SSH key from a keyvault as the authentication for the Git repo?  encoding my PAT in the command line or in the ARM template is not ideal.

[2018-12-06 18:36] MicahMcKittrick-MSFT commented on #19540
@fleed I will close this out now as I have confirmed and explained how to set this up. Please give it a go and if you have issues just let me know and we can always reopen and continue.

[2018-12-06 18:36] #19540 closed

[2018-12-06 18:39] MarileeTurscak-MSFT commented on #20072
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-06 18:39] aljo-microsoft commented on #19673
@jockerman-ipspark

If you need help building YAML for Azure DevOps for an SF Application, then use the portal workflow to provision an Azure DevOps project for Service Fabric Application; then within the edit pipeline UI click 'View YAML' to get YAML used to build that pipeline. You can version this YAML, and make edits for your use case.

@MicahMcKittrick-MSFT
If the user is satisfied, please cl

[2018-12-06 18:39] MicahMcKittrick-MSFT commented on #19766
@Liversage I did some additional digging but I found no issue with you actually requesting a cert from a CA for a domain that has the name "Azure" in it.

When you create any service in Azure that uses a DNS name it has Azure in the name. Unless you use a custom domain that is. Regardless, you are considered to own that domain and can prove it in any case. So in terms of getting the cert from the

[2018-12-06 18:40] Karishma-Tiwari-MSFT commented on #19419
@mikedbrook Any update?

[2018-12-06 18:40] MarileeTurscak-MSFT commented on #20095
@ksix
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-06 18:41] MarileeTurscak-MSFT commented on #20102
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-06 18:41] #7476 closed

[2018-12-06 18:41] Karishma-Tiwari-MSFT commented on #19569
@axayjo Can you please help answer the roadmap question. Thanks.

[2018-12-06 18:42] MicahMcKittrick-MSFT commented on #20078
@seanmck can you chime in on this one?

CC @iainfoulds if you have anything to add

[2018-12-06 18:42] MarileeTurscak-MSFT commented on #20101
@Antonlovesdnb thanks for the feedback! I have assigned this issue to the content author, @priyamohanram , to look into your comments.

[2018-12-06 18:50] mwsteph commented on #20058
I eventually figured this out.  The creation of a DSVM when you go through the Azure ML path is confusing.  It let’s you create a Windows DSVM and gives you the opportunity to select an Ubuntu Server, but it’s not clear that this is NOT a DSVM.  Of course if you select the Ubuntu Sever, it’s not the Linux DSVM, but it’s not very clear from the list that this is the case.   It would be good for thi

[2018-12-06 18:52] CeciAc commented on #20113
Hi team,
I'm moving this here since, after an investigation, we discovered the issue is due to an inconsistency between the source documentation and the terms used in Azure Portal.

In the Portal you can see the term used is "Speech Services"
https://azure.microsoft.com/en-us/try/cognitive-services/

when in the documentation the term used is "Speech Service".

best

[2018-12-06 18:53] MicahMcKittrick-MSFT commented on #20090
@chepeftw I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-06 18:55] erhopf commented on #20113
After speaking with @LeonRomaniuk we're going to work towards updating docs to reach "Speech Services". While we will track this as a high-priority, it won't be worked on until the next sprint.

[2018-12-06 18:55] MarileeTurscak-MSFT commented on #19957
We will proceed to close this thread. Please try the link above or ask your global admin to reset your password. If you still have issues feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-06 18:55] #19957 closed

[2018-12-06 18:58] MicahMcKittrick-MSFT commented on #20103
@rwike77 @aljo-microsoft I can confirm the links are broken. Can you take a look? I am not sure where they should be resolving to but I dont find them in the list when looking.

[2018-12-06 18:59] #19673 closed

[2018-12-06 19:00] #20025 closed

[2018-12-06 19:03] MarileeTurscak-MSFT commented on #12346
@CharlPels please direct this question to MSDN and we will respond there. We are moving away from product-related questions in the doc comments. https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuread

[2018-12-06 19:03] #12346 closed

[2018-12-06 19:07] aljo-microsoft commented on #19766
@Liversage

This sounds like LetsEncrypt.

Where they ask you to host a web server, that serves a unique String, and if their issuer server can resolve that server and read that unique string; it will issue you a cert.

First. LetsEncrypt is not an integrated KV Trusted Root CA, and it NOT advised for Enterprise use.

Second, the process to get a certificate from non trusted and non integrated CA'

[2018-12-06 19:09] #20088 closed

[2018-12-06 19:10] #19766 closed

[2018-12-06 19:16] Adam-Smith-MSFT commented on #20104
@vlttnv Thank you for the valuable feedback,we are investigating the issue.

[2018-12-06 19:17] Mike-Ubezzi-MSFT commented on #20091
@stijnbrouwers Can you please make a formal product request at [Azure Database for MySQL User Voice](https://feedback.azure.com/forums/597982-azure-database-for-mysql).

[2018-12-06 19:19] jeevansd commented on #19974
@andyjcooperuk We are targeting Q1 of 2019, subject to change.

[2018-12-06 19:19] Adam-Smith-MSFT commented on #20112
@darshankumarys Please post your topic on [MSDN storage](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata) or StackOverflow Storage [here](https://stackoverflow.com/) and we'll help you there, since Github issues are specifically meant to be for documentation issues.

Thanks,
Adam

[2018-12-06 19:19] #20112 closed

[2018-12-06 19:32] AdamPliska commented on #19944
I respectfully disagree with the resolution of this ticket. The title of this document “Implement Reliable Actors backup and restore” suggests I will see implementation of backup AND restore functions within the framework. The simple help document offers a sample demonstration of backing up a custom actor service, which outlines the use of this.BackupAsync(new BackupDescription(PerformBackupAsync)

[2018-12-06 19:36] #7981 closed

[2018-12-06 19:36] #8167 closed

[2018-12-06 19:36] #8564 closed

[2018-12-06 19:36] #9551 closed

[2018-12-06 19:36] #9806 closed

[2018-12-06 19:37] #10024 closed

[2018-12-06 19:37] #12835 closed

[2018-12-06 19:37] #13620 closed

[2018-12-06 19:37] #13678 closed

[2018-12-06 19:37] Anand-Moghe opened #20114 "Can we also add some details for Visual Studio App Center (VSAC) for Mobile App deployment"
Can you please also provide some guidance and documentation for using Visual Studio App Center (VSAC) in Azure Government subscription for DevOps ? Can this service be used with US Govt. cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a73dad-9d92-d517-eeae-e730700b97de
* Version Independent ID: 775ce7f0-6aa0-38

[2018-12-06 19:37] #13783 closed

[2018-12-06 19:37] #17598 closed

[2018-12-06 19:38] #18555 closed

[2018-12-06 19:38] #19330 closed

[2018-12-06 19:39] #19344 closed

[2018-12-06 19:42] BhargaviAnnadevara-MSFT commented on #19832
@tommcclean We were able to go through the steps mentioned in the documentation with Node.js and did not encounter any exceptions as such. The package dependencies could be due to a slight variation with Vue.js or the application config.

If you'd like to troubleshoot this further with us, please create a thread on MSDN:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsight

[2018-12-06 19:42] #19832 closed

[2018-12-06 19:44] MicahMcKittrick-MSFT commented on #20097
How many nodes are you running? And how many Pods per node?

[2018-12-06 19:46] MicahMcKittrick-MSFT commented on #20108
Can you elaborate on why you are looking to use a yaml in your deployment instead of ARM templates especially when deploying from Visual Studio?

[2018-12-06 19:47] tfitzmac commented on #20009
@Romiko - thanks for this feedback. I have changed one of the examples to show this scenario. I also tried to clarify the text to make sure both uses are described.

[2018-12-06 19:47] tfitzmac commented on #20009
#please-close

[2018-12-06 19:49] bwren commented on #19927
Thanks for this.  We had a typo in the link.  Just fixed it, should be published later today.

[2018-12-06 19:49] bwren commented on #19927
#please-close

[2018-12-06 19:55] tfitzmac commented on #19941
@s-fordham - that's an interesting idea. Are you trying to just get an initial assessment of which resource types might be problematic? Or, are you trying to programmatically evaluate which resources you can move? I could see how a csv file might be helpful for getting an overview of a large number of resources. However, I worry that it would not be detailed enough to be a good tool for evaluating

[2018-12-06 19:59] KermitSmith commented on #16312
I have the same issue. Trying to figure out the best way to change a database tier when the DTU metric hits a specified threshold.

[2018-12-06 20:02] MicahMcKittrick-MSFT commented on #20111
@baywet fair feedback. The password should be located in your ACR. If you go to your ACR -> Access Keys -> Username & Password

![image](https://user-images.githubusercontent.com/32313503/49608863-b38e1a80-f94e-11e8-99ba-b356ee5b1a9e.png)

I will assign this to the content author to review and see if we can make the doc more clear

[2018-12-06 20:03] tfitzmac commented on #19824
I have updated the article to try to clarify the usage for manual validation.

[2018-12-06 20:04] tfitzmac commented on #19824
#please-close

[2018-12-06 20:10] Unalloyedcube opened #20117 "50 subscriptions per account"
The limitations mention that

But, when trying to create a new subscription using the Service Principal, I get the following error:

`There must be an existing subscription with the offer up to a max number of subscriptions.  Further details: Account must have between 1 and 49 existing subscriptions. 50 subscriptions were found.`

This SP has only been used to create about 5 subscriptions so far,

[2018-12-06 20:12] sujitdmello opened #20118 "Missing step to register Microsoft.ContainerInstance provider"
I could not get the sample Pod to run (status was showing ProviderFailed) untik I ran this command:

az provider register --namespace Microsoft.ContainerInstance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f3d-eb99-fe06c39eb6cf
* Version Independent ID: 2aad2e47-7fde-8d24-f824-236a26e5d887
* Content:

[2018-12-06 20:23] terrymandin commented on #20073
@jakaruna-MSFT , I tried replacing all of the single and double quotes and it did not fix the problem.  I am running on Windows 10.  I upgraded to the most recent version of az this morning and had the same issue.  Feel free to ping me on email at terry.mandin@microsoft.com and I will send you my script.

Here are the details of my az versioning:

C:\WINDOWS\system32>az --version
azure-cli (2.0.52

[2018-12-06 20:41] MicahMcKittrick-MSFT commented on #20118
@sujitdmello thanks for the feedback. If you use the Azure Cloud Shell to deploy these preview features the providers are already registered for you. But if running on prem you would need to register them before it would work.

I will assign to the author to review and see if we can add a note to the doc.

[2018-12-06 20:43] axayjo commented on #19569
@panoschatz, PowerShell cmdlets for Shared Image Gallery were released a month ago starting from 5.7.2. Here's the link - https://www.powershellgallery.com/packages/AzureRM.Compute/5.7.2.

[2018-12-06 20:56] iainfoulds commented on #20118
@sujitdmello What version of the CLI are you running?

@rbitia @jluk  Shouldn't the provider already be registered for some time in CLI releases? We haven't typically needed to include this in docs for a while now.

[2018-12-06 20:58] GHoh commented on #17959
Hello,

Following the correct syntax above, we are now able to create the credential.

We now have a failure at restoring from a .bak file.  Below is information about the process we are using:

T-SQL
RESTORE DATABASE [Web] FROM URL = 'somestorage.blob.core.windows.net/backups/…' WITH CREDENTIAL = 'SHARED ACCESS SIGNATURE'

Error
'RESTORE DATABASE' is not supported in this version of SQL Server.

[2018-12-06 21:04] TravisCragg-MSFT commented on #20072
@dcbrown16 yes it can. This article shows how to create a VPN gateway along with an ExpressRoute Gateway in the same VNET.

Once you have a VPN gateway up and running, you can use it for P2S and S2S Connections.

[2018-12-06 21:18] MikeDembek opened #20123 "Kerberos rollover required every 30 days"
Azure seamless SSO stops working after 30 days if the Kerberos decryption key is not rolled over; this document would benefit from making clear that that is a requirement for ongoing function of the feature as compared to a recommendation/best practice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-

[2018-12-06 21:21] MikeDembek opened #20124 "In a forest with multiple domains, only one on-prem domain name appears in the Azure AD portal"
In the Azure portal, under Azure Active Directory, Azure AD Connect, Seamless Single Sign-On, only a single on-prem domain will appear regardless of the number of domains in the forest.  This is expected and the feature works on all domains within the forest regardless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e

[2018-12-06 21:21] sujitdmello commented on #20118
azure-cli (2.0.52)

Just updated it this morning.

[2018-12-06 21:23] MikeDembek opened #20125 "Run Azure Seamless Single Sign-On from an account in the domain where you want the AZUREADSSOACCT to be created"
When enabling Azure Seamless Single Sign-On, the computer account will be created in the same on-prem domain as the on-prem AD account that is used to enable the feature.  Best practice is to use an account in the domain with the PDC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
*

[2018-12-06 21:30] t1agob opened #20126 "Can we get the steps to expose the Dashboard in a secure way?"
As you mention in this article following the sample binding for the Dashboard would expose the dashboard in an insecure way. Could you please provide documentation on how to expose it in a secure way?

I know that the way you present above is a common attack vector for Kubernetes clusters in general.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-12-06 21:35] SteveLasker commented on #20111
Actually, we really recommend not using the Admin account for anything but demos and really simple, and not very secure scenarios.
For Service Principals, use the service principal `appid` for the user, and the service principal password, ...for the password
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal#create-a-service-principal
[code]
Here's

[2018-12-06 21:38] MicahMcKittrick-MSFT commented on #20126
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-06 21:42] Rodrigossz opened #20127 "Code isn't working."
If you run the code "as is", it will fail:

FileNotFoundError: [Errno 2] No such file or directory: '/home/nbuser/library/pi_estimate.txt'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae9c8cf-5f68-9baa-1660-118208034381
* Version Independent ID: 48d350ca-0ef8-3500-57ae-a5ec6c36ac79
* Content: [Quickstart: Create a m

[2018-12-06 21:43] Vasanth1981 opened #20128 "AADB2C90118: The user has forgotten their password."
I'm getting below error When I click the forgot password link the custom sign page,
AADB2C90118:+The+user+has+forgotten+their+password. Correlation+ID:+0124482e-0fd6-4576-89aa-aa257312a694

[2018-12-06 21:44] jason-j-MSFT commented on #20100
@GauravSagne
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-06 21:48] #19824 closed

[2018-12-06 21:48] #19927 closed

[2018-12-06 21:49] #20009 closed

[2018-12-06 21:52] pemj commented on #10231
Thanks to @mrbullwinkle for making the changes, I'll close this out.

[2018-12-06 21:52] #10231 closed

[2018-12-06 21:55] JC-JackClark commented on #19655
Thanks for confirming!

[2018-12-06 21:59] kavyako commented on #20108
@aloneguid
Could you try this:
[code]
As per the schema, routes requires a "name". We will fix the [sample](https://github.com/Azure-Samples/service-fabric-mesh/blob/master/templates/ingress/meshingress.windows.json) and docs.

[2018-12-06 22:00] fosterclivet commented on #18969
I have to agree with @elenanakhmanson that this article is very confusing and doesn't make sense. In your answer you say Step 1 registers your device on the network but how can that be?  How can a personal device and a consumer account register itself on a corporate AD directory?

[2018-12-06 22:06] fosterclivet commented on #18969
A second problem is that the article uses phases like "register your personal device on your network". What does that mean exactly? Is the term "network"  and "Azure tenancy" being used to mean the same thing because they are not are they!

[2018-12-06 22:08] t1agob opened #20130 "AKS does not support node pools but it is mentioned in this documentation"
AKS does not support node pools at this point in time but it is mentioned in this documentation when taint and toleration is explained. I guess that while AKS only allows a single node pool with a single VM size that should be removed from the documentation as it leads people to mistakenly thing AKS supports multiple node pools.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-12-06 22:13] DianeBustamante commented on #18922
I am having the same issue when trying to create a Java Azure function with VS Code and the Azure Function extension.

[2018-12-06 22:14] Karishma-Tiwari-MSFT commented on #20086
@sumanthkannedari
Azure ensures availability in case of disaster scenario by following the [Azure regions pairing](https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions) model. In the event of an outage affecting multiple region, at least one region in each pair will be prioritized for recovery.

On your end, in order to make your system highly available for outage scen

[2018-12-06 22:18] cijothomas opened #20131 "Dependency tracking via bytecode vs DiagnosticSource"
Monitoring works by using byte code instrumentation around selected methods. Performance overhead is minimal.

Rewrite this statement as follows:
Monitoring works by using byte code instrumentation around select methods or based on DiagnosticSource callbacks (in latest .NET SDKs) from framework. Performance overhead is minimal.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-12-06 22:20] mike-urnun-msft commented on #20068
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-06 22:20] #20068 closed

[2018-12-06 22:21] mike-urnun-msft commented on #20022
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-06 22:21] #20022 closed

[2018-12-06 22:23] MicahMcKittrick-MSFT commented on #20130
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-06 22:36] Karishma-Tiwari-MSFT commented on #20105
Here is the document to [configure Automated Backup](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-automated-backup-v2#configure-with-powershell) using PowerShell.

[2018-12-06 22:36] chriswue commented on #12992
As per https://github.com/docker/for-linux/issues/264 this won't quite work since `host.docker.internal` isn't supported on Linux at this point. Also having to host-bind the management ports seems not a good idea. Using `$IP` for the `connect` urls seems to work fine without having to host-bind the ports.

[2018-12-06 22:37] MicrosoftGuyJFlo commented on #19748
Resolving by adding a "Next steps" link to the doc with a link to the company branding doc via https://github.com/MicrosoftDocs/azure-docs-pr/pull/59987

If there is something more you would like to see feel free to make an edit to the doc and submit a public PR.

[2018-12-06 22:39] #20130 closed

[2018-12-06 22:42] KeiroKamioka0000 commented on #20079
As example
Standard Unmanaged VM disk uplimit is 4095 GB

And....
Premium unmangaged VM disk uplimit is 4095 GiB

is these limit is written as is and GB supposed be GB?

[2018-12-06 22:42] Ayanmullick commented on #20105
That link is for the Azure VM SQL extension and not for the Azure backup vault.

[2018-12-06 22:45] aloneguid commented on #20108
@kavyako yes, I can confirm it works by adding `name`, thank you!
By the way if it makes a difference, I also had to change

[code]

to

[code]

because rewrite leaves double slash in the url if I use original sample.

[2018-12-06 22:49] Karishma-Tiwari-MSFT commented on #20105
@Ayanmullick Can you please elaborate a little more on what are you looking for?
The above link that I shared has PowerShell commands to configure automated backup as well.
Refer to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-automated-backup-v2#configure-automated-backup-v2
and you will find `New-AzureRmVMSqlServerAutoBackupConfig` command to e

[2018-12-06 22:52] chetansriv commented on #18472
@ckaiser-egnyte This is fixed.

#please-close

[2018-12-06 22:53] veyalla commented on #12992
@chriswue This is not a configuration we support or suggest for production, it's targeted for a dev scenario and part of this repo now: https://github.com/Azure/iotedgedev/tree/master/docker/runtime

[2018-12-06 22:56] MicrosoftGuyJFlo commented on #19748
#please-close

[2018-12-06 23:05] MicrosoftGuyJFlo commented on #18130
Resolving by adding a reference to methods in intro line 33 via https://github.com/MicrosoftDocs/azure-docs-pr/pull/60005

[2018-12-06 23:06] Ayanmullick commented on #20105
I'm looking for the Powershell guide to do SQL backup thru Azure Backup Vault. The above link doesn't use the Azure Backup Vault.

@AnuragMehrotra

[2018-12-06 23:17] mrbullwinkle commented on #17605
The associated doc was updated on 11/8/2018 with the following:

_This article reflects the deprecated classic metrics experience. Annotations are only currently available in the classic experience and in workbooks. To learn more about the currrent metrics experience, you can consult this article._

[2018-12-06 23:18] mrbullwinkle commented on #17605
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-06 23:31] mrbullwinkle commented on #15079
This doc was updated at the end of October to reflect the current App Service enablement experience.

[2018-12-06 23:31] mrbullwinkle commented on #15079
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-06 23:34] YutongTie-MSFT commented on #20127
@Rodrigossz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-06 23:59] rboucher commented on #19070
unfortunately, it looks like this will be held up until I'm back for the holidays @cconrado . Just keeping you in the loop.

[2018-12-07 00:07] cconrado commented on #19070
@rboucher aww bummer but makes sense thanks

[2018-12-07 00:11] Karishma-Tiwari-MSFT commented on #20105
@MikeRayMSFT @AnuragMehrotra Can either of you share your insights on this? Thanks :)

[2018-12-07 00:13] dcbrown16 commented on #19932
That's the conclusion I came to as well, although I hear VNet support may be on the roadmap. Thanks for checking!

[2018-12-07 00:13] #19932 closed

[2018-12-07 00:32] sergaz-msft commented on #18178
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-07 00:32] #18178 closed

[2018-12-07 00:34] dcbrown16 commented on #20072
Ok, thanks!

[2018-12-07 00:34] #20072 closed

[2018-12-07 00:35] AnalyticsInAction commented on #19907
@areddish  Hmm - Still no Joy. Error below. Have attached the code (text format as can't share .py file)
[microsoft_custom_vision_api_just_prediction.txt](https://github.com/MicrosoftDocs/azure-docs/files/2655445/microsoft_custom_vision_api_just_prediction.txt)

HttpOperationError                        Traceback (most recent call last)
<ipython-input-10-e4ed686fb68c> in <module>()
      9
     10

[2018-12-07 00:39] imeya commented on #20099
I cannot find any docs about SLA except the ones I list in the above. So if possible, you can update this [FAQ ](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-troubleshoot-faq?toc=/azure/azure-monitor/toc.json)section for application insights. thanks.

[2018-12-07 00:41] erhopf commented on #20113
#please-close
We are tracking this in our backlog.

[2018-12-07 00:51] areddish commented on #19907
I suspect that you don't have a default iteration set. So that means you need to either set a default iteration for the project in the portal or you need to specify an iteration to predictImage

[code]

[2018-12-07 00:52] JeremyTBradshaw opened #20134 "How long do "Recent Jobs" history last?"
Hello,

I'm trying to find this answer without waiting for however long it takes to find out naturally.  Can you tell me how long job history lasts by default?  I mean, without doing anything with Log Analytics integration, or anything else, will the jobs history just keep building or will it start dropping them at some date or number of jobs etc.?

Thanks in advance.

---
#### Document Details

⚠

[2018-12-07 00:55] MarkusVi commented on #17775
Hi @dkbriley, I thought you might be interested in reading [this](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication).

[2018-12-07 00:57] Romiko commented on #19549
Hi,

I was not aware that you can monitor Seed Node Transfer from Appinsights,
can you please show me the query to do this? As the document states "It
will take sometime". I find it can take around 1 hour per seed node in our
environment.

Thanks

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg

[2018-12-07 00:58] georgewallace commented on #20134
@jeremyTBradshaw It is a rolling 30 day period. https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#automation-limits

[2018-12-07 01:07] jadarsie opened #20135 "Weird sentence"
Second paragraph: "To query and access these metrics, you will need to the 2018-01-01 api-version version of the API profile."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46b91916-e5e6-6e9c-6d08-66ae98b3efb5
* Version Independent ID: 84715ca2-2b65-066c-a60d-9555c3cacd02
* Content: [Supported metrics with Azure Monit

[2018-12-07 01:11] mrbullwinkle commented on #20131
@cijothomas

_...or based on DiagnosticSource callbacks (in latest .NET SDKs) **from framework**._

should it be just _from framework_ or _from the .NET framework_, or something else?

[2018-12-07 01:13] Mike-Ubezzi-MSFT commented on #19938
@Hazza71 With the Table API, the option goes: Cosmos DB Table API > Database > Table. There no `collection` with the Table API. A `Table` is a `Collection` with this Service API.

**Navigate to Data Explorer:**
![screenshot 85](https://user-images.githubusercontent.com/37126106/49621142-c3baef80-f978-11e8-9bcc-de33d18f8718.png)

**Create a Database + Table:**
![screenshot 86](https://user-images.g

[2018-12-07 01:15] cijothomas commented on #20131
This:
"or based on DiagnosticSource callbacks (in latest .NET/.NET Core SDKs) from the .NET framework"

[2018-12-07 01:16] femsulu commented on #20083
adding @trinadhkotturu for input.

[2018-12-07 01:29] femsulu commented on #20114
@Anand-Moghe Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-12-07 01:30] Mike-Ubezzi-MSFT commented on #19938
@Hazza71 Is the issue that you add data via a client but then navigate via Data Explorer but are unable to see the data? Or are you looking for tables that are nested with a collection? The concept of a `Table` in the Table API is the same as a `Collection` in SQL(Core) API. The hierarchy with the SQL(Core) API is: SQL(Core) API > Database > Collection > Partition.

![screenshot 86](https://user-i

[2018-12-07 01:30] mattbriggs commented on #20135
@jadarsie Thanks! I see I'm missing a word, "you will need to use the ..." I've updated. #please-close

[2018-12-07 01:32] femsulu commented on #20117
@Unalloyedcube Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-12-07 01:32] limjianan opened #20136 "Align with the latest view"
the latest screenshot change as microsoft have move to a new interface that streamline MFA and register security info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0550e7-e5e2-69d1-03a8-f678c3fe0eee
* Version Independent ID: 877db3da-b145-7bfd-3544-30a420de7d13
* Content: [Get started with the Microsoft Authenticat

[2018-12-07 01:42] BryanTrach-MSFT commented on #20109
@guzo-kevin Thanks for the feedback! We tried to locate the requested information but we were unable to locate it. As a result, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-07 01:48] xiangwu-ms opened #20137 "Add ContinuationToken as the original script hang and timeout if there are too many VHD"
[Enter feedback here]
$deleteUnattachedVHDs=0

$storageAccounts = Get-AzureRmStorageAccount

foreach($storageAccount in $storageAccounts){

    $storageKey = (Get-AzureRmStorageAccountKey -ResourceGroupName $storageAccount.ResourceGroupName -Name $storageAccount.StorageAccountName)[0].Value

    $context = New-AzureStorageContext -StorageAccountName $storageAccount.StorageAccountName -StorageAccou

[2018-12-07 02:01] mrbullwinkle commented on #20131
This change is now merged to the private repo. It will go live tomorrow in the public docs at 10 AM UTC - 8.

[2018-12-07 02:01] mrbullwinkle commented on #20131
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-07 02:07] femsulu commented on #20077
changed assignee to @MGoedtel

[2018-12-07 02:12] snow12321 commented on #17878
Any update on this?  I'm facing a similar issue, except in my case I'm making a reference to one of my VM's MSI principalId.

[2018-12-07 02:13] sejuarez opened #20138 "This tutorial needs an extra step in app configuration."
I was following the tutorial and found a missing part that would've saved me a few hours.

You need to enable Keychain sharing as app capabilities as in here:

https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Token-cache-and-cross-app-SSO-in-MSAL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2018-12-07 02:14] sejuarez commented on #20138
Wrong link. The good one here:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Keychain-on-iOS

[2018-12-07 02:35] fleed commented on #19540
@MicahMcKittrick-MSFT as mentioned earlier, when using the X509 configuration I get the following error during setup:

[code]

[2018-12-07 02:43] barbkess commented on #16783
@arindam-laha : Thanks for bringing this to my attention.  I updated the article to say Microsoft peering instead of public peering.  The update should get published on 12/7/2018.

#please-close

[2018-12-07 02:45] strategywise opened #20140 "AksCompute.attach is no longer supported."
The documenation here appears to be out of date. I've been trying to attach ML service to a running AKS cluster for the better part of 10 hrs and have run int multiple issues.

-Only AKS version 1.11.3 is supported.
AKS will only update to 1.11.4 now..

-attach Method calls are depreciated and now are now attach_config

Please update this documentation to reflect the current status of the product.

[2018-12-07 02:55] rboucher commented on #19070
@cconrado  Worked a little late to try and push it through. Take a look tomorrow.  I'm not sure if you have access to this PR, but the changes are at https://github.com/Azure/azure-docs-rest-apis/pull/2124

[2018-12-07 02:58] mike-urnun-msft commented on #20099
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Application Insights FAQ](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-troubleshoot-faq?toc=/azure/azure-monitor/toc.json)
* Con

[2018-12-07 02:59] mike-urnun-msft commented on #20099
Thanks @imeya! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-07 03:00] mike-urnun-msft commented on #20128
Hello @Vasanth1981 Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-07 03:01] mike-urnun-msft commented on #20089
Hey @beerkato Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-07 03:01] #20089 closed

[2018-12-07 03:02] mike-urnun-msft commented on #20080
Hey @imaculate Just following up here, please let us know if you had any feedback to share around a particular MS Doc, otherwise, we'll proceed to close this issue :)

[2018-12-07 03:06] mike-urnun-msft commented on #18539
Hello @vetrivelmp I have confirmed with product team today that this scenario isn't supported yet. As such, you may want to review the workaround I linked in my previous comment. Moreover, please review [existing requests on Azure UserVoice for this feature](https://feedback.azure.com/forums/248703-api-management?query=local) and upvote them as appropriate :)

We will now proceed to close this thr

[2018-12-07 03:06] #18539 closed

[2018-12-07 03:12] #15079 closed

[2018-12-07 03:12] #18130 closed

[2018-12-07 03:12] #18472 closed

[2018-12-07 03:12] #19748 closed

[2018-12-07 03:12] #20113 closed

[2018-12-07 03:13] #20131 closed

[2018-12-07 03:14] #20135 closed

[2018-12-07 03:20] kobulloc-MSFT commented on #20131
@cijothomas Thank you for bringing this to our attention!

[2018-12-07 03:40] jderus commented on #6788
Yup @IlyaNikitinMs  Something very close to your steps seems to be working.
Thanks again :)

[2018-12-07 03:44] pottsmgg opened #20144 "There is no terminal available to enter the linux code. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remote-desktop"
This seems to be extra difficult.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use Remote Desktop to a Linux VM in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remote-desktop)
*

[2018-12-07 03:49] rgrwatson85 opened #20145 "Typo in Snippet"
&lt;td&gt;
    @Html.DisplayFor(modelItem =&gt; item.CreatedDate)
&lt;/td&gt;

Should be

&lt;td&gt;
    @Html.DisplayFor(modelItem =&gt; item.Done)
&lt;/td&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a90540-55d7-99ae-7a47-6cf8e526d631
* Version Independent ID: 190e73c1-7711-05d2-afeb-5565d7a3dd37
* Content: [

[2018-12-07 03:56] eelitlauree opened #20146 "Node.js API to send a Baidu push notification"
Hi,

I am evaluating the capability of sending push notification to devices in China via Azure notification hub. I did some tests on iOS and Android (GCM) with positive results using this Node.js api.

http://azure.github.io/azure-sdk-for-node/azure-sb/latest/NotificationHubService.html

In case of Baidu, I don't find any api equivalent to "SendBaiduNativeNotificationAsync" of the C# counterpart.

[2018-12-07 04:29] cconrado commented on #19070
@rboucher I don't have access but I certainly appreciate the extra effort. Thanks 👍

[2018-12-07 04:32] imaculate commented on #20080
This is more a feature request than documentation feedback.
The relevant doc is here.
https://docs.microsoft.com/en-us/azure/azure-supportability/resource-manager-core-quotas-request

Feel free to redirect me to appropiate channels. Thanks!

[2018-12-07 04:43] kudlatiger opened #20148 "Where I can find c# implementation of client ?"
Where I can find c# implementation of client instead of nodeJS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1c4d-94e6-e38c1d42686f
* Content: [Understand Azure IoT Hub MQTT support](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqt

[2018-12-07 04:52] CelesteDG commented on #19696
@ddobric - Thank you for the feedback. In your suggestion, are you referring to the setting in the **App registrations (Preview)** experience? Currently, we cover the various methods for registering an app (v1, v2, and the converged preview experience that supports v1/v2). Because the intent for this particular topic is more about going from single-tenant to multi-tenant, we had intentionally left

[2018-12-07 04:54] itorian opened #20149 "How do I insert InsertSilenceIfNoAudio and InsertBlackIfNoVideo"
I can't see way to insert both InsertSilenceIfNoAudio and InsertBlackIfNoVideo same time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd75e9a-9bbc-133f-6e46-623f41908e89
* Version Independent ID: b94f4001-93b7-3b5e-9aa2-0baf6a0e523e
* Content: [Perform advanced encoding by customizing MES presets](https://docs.micr

[2018-12-07 04:59] CelesteDG commented on #19696
Opened product backlog item 595632. Will revisit as part of pre-Build full docs sweep.
#please-close

[2018-12-07 05:00] johndowns opened #20150 "Custom metrics aren't published for storage accounts"
I've been testing publishing custom metrics with various resource types. In many cases they work well.  However, it appears that Azure Storage accounts (i.e. resources of type Microsoft.Storage/storageAccounts) don't process custom metrics properly.

If I publish a metric to a storage account then the metric is accepted by the API, and the metric appears in the portal UI list of metric namespaces

[2018-12-07 05:02] johndowns opened #20151 "Suggest clarifying schema"
I suggest making a couple of changes to this page to clarify how the metric schema works, specifically:
 * The `time` property should be formatted as an ISO 8601 string with time zone;
 * The `dimNames` and `dimValues` properties are optional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e9e6a7-4b37-e559-f719-63199

[2018-12-07 05:04] aqiank commented on #19640
The example seems to use PullAudioInputStream with Java. I was looking for one that shows a right usage of PushAudioInputStream with C++.

[2018-12-07 05:44] CelesteDG commented on #19618
Hello @rtfmoz2 - I'm following up on your request. Did you come across this info? https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/Documentation/Domain-and-login-hint%20Tips%20and%20Tricks.pdf

Checking to confirm if this is the type of guidance you're looking for. Thank you.

[2018-12-07 05:54] CelesteDG commented on #18810
Thank you, @OOPMichael. For the REST APIs, the Graph docs are now also on docs.microsoft.com. You can find the app registration APIs here: https://docs.microsoft.com/en-us/graph/api/application-post-applications?view=graph-rest-beta. I've got active backlog work items on both the Auth side and Graph side to improve cross-linking and cross-sharing of content between the two doc sets, and also have

[2018-12-07 06:01] CelesteDG commented on #18810
Tracking this request separately as a documentation product backlog work item 595635. Part of an ongoing work to include PowerShell/CLI (when available) and Graph API equivalents to existing porta/UI steps in the Auth docs.

#please-close

[2018-12-07 06:08] dcbrown16 opened #20154 "Images on dark theme"
The transparent images make it impossible to read on dark background. Would be great if we could get that fixed to something visible on all the offered themes :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e28d301-492c-3db3-72dd-699f6786985b
* Version Independent ID: 653625e5-d919-9953-249d-7f33ee319265
* Content:

[2018-12-07 06:47] MohitGargMSFT commented on #20125
@MikeDembek Thanks for the feedback. Yes, Seamless SSO creates a computer account named AZUREADSSOACC (which represents Azure AD) in your on-premises Active Directory (AD) in each AD forest. This computer account is needed for the feature to work. Also as mentioned in [this](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-2-enable-the-feature) doc

[2018-12-07 06:49] MohitGargMSFT commented on #19955
@alexli1984 As mentioned above please open a new MSDN forum post and mention the new MSDN Thread URL here. I will make sure you are getting necessary help in forums on your query. Thanks.

[2018-12-07 07:03] dcbrown16 opened #20156 "Out of date"
"Click the links at the top of this topic to learn more about the different tabs in the UI."
What links?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ee1c20b-78d6-4be7-d8c0-3a1dd198c79f
* Version Independent ID: 8c200ef3-95a5-cc93-b241-41360c0e9bf1
* Content: [Azure AD Connect sync: Synchronization Service Manager U

[2018-12-07 07:42] kobulloc-MSFT commented on #19782
@IanMercer We're still looking into this, and should have an answer soon.

[2018-12-07 08:13] rwatjen opened #20162 "Confusion about features of S0 and S1"
There are some discrepancies between this announcement and the pricing page. Here you have some services that are marked with an asterisk, which I read as they will not be in S0 after February 4th.
On https://azure.microsoft.com/en-us/pricing/details/azure-maps/ the features are identical, but the prices are different.
Which is the correct one?

---
#### Document Details

⚠ *Do not edit this secti

[2018-12-07 08:15] kazshi opened #20163 "DDoS Protection for CDN"
"DDOS protection" in the Security table links to https://www.us-cert.gov/ncas/tips/ST04-015 although the other items link to each feature description pages. Where can I find detailed information about DDoS protection for CDN? Does https://docs.microsoft.com/en-us/azure/virtual-network/ddos-protection-overview apply to the "DDoS protection for CDN" as well?
I would like to know 1) if it's notified

[2018-12-07 08:16] sumanthkannedari commented on #20086
Thank you for the help

[2018-12-07 08:16] #20086 closed

[2018-12-07 08:42] dcbrown16 opened #20164 "Definitions"
What is the "developer key" mentioned in the explanation of vary-by-developer?
It doesn't seem to be the API keys from a subscription since from what I understand those do not vary by developer.
Similarly, what "user role" is referred to in vary-by-developer-group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181c69b

[2018-12-07 08:46] kudlatiger commented on #20148
Basically I wish to know where does below action happens in c#. below code is from nodeJS.

client.tls_insecure_set(False)

[2018-12-07 09:19] panoschatz commented on #19569
@axayjo - It would be good though if there was some documentation around those cmdlets, unless I've missed it?
The only documentation on how to interact with a Shared Gallery refers to AZ CLI or ARM Templates:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/shared-images
https://github.com/arsenvlad/azure-shared-image-gallery-replicacount

[2018-12-07 09:21] AnalyticsInAction commented on #19907
@areddish Boom! Yes it was the iteration id. I was thrown off the scent as the location of the iteration id wasn't intuitive (feels like it should really be located in on the setting page next to the number of iterations saved).   Eventually found it under "Performance" ->"Prediction URL" ->then inspected the end of the prediction URL provided.  Thanks for persisting with me on this one!  API look

[2018-12-07 09:48] andyjballgit opened #20166 "Microsoft.Portal definition a bit misleading says "for the subscription""
Hi,

As per subject , these permissions can also be granted at Resource Group level, assume this is supported ? ie where you don't want to grant perms to whole subscription.

cheers
Andy.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb4

[2018-12-07 09:54] SamirFarhat opened #20167 "Can you mention the symmetry of the hash algoritm"
Hi,
I have been told (And we can deduce https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ha-ports-overview#nva) that the hashing function is symetric. This means that hash (SourceIP,DestinationIP) = hash (DestinationIP, SourceIP) and Hash(client, sourceport, target, targetport, protocol) = hash (target, targetport, client, sourceport, protocol).
Can you mention it please ?
Thanks

[2018-12-07 09:54] mrdfuse opened #20168 "Update supported versions"
In this document Ubuntu is listed as supported from 18.04: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init?toc=%2Fazure%2Fvirtual-machines%2Flinux%2Ftoc.json. So this page should probably be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d3da20d-57c3-1dcf-ada6-e9ded556e028
* Ver

[2018-12-07 09:55] santo2 opened #20169 "Metric alert on collection size"
Hi,
Is there any way of adding an alert on the available storage on a collection with fixed size?
In the Metrics of CosmosDB itself I can filter down to a collection, but in the metrics at the monitoring/alerts part I can not.
I looked at adding diagnostics to for example Log Analytics, but I'm not sure that there is any metric/log there which will log me this information

---
#### Document Detail

[2018-12-07 10:20] amrlafi opened #20170 "Azul JDK must be installed manually"
The guide is outdated. I had to manually Azul JDK 8 from Azul repo https://www.azul.com/downloads/azure-only/zulu/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867a5a41-6a54-7c92-6bb3-65eec3159076
* Version Independent ID: f83a57ba-66fc-96a4-9f69-6bb299a51001
* Content: [Set up your development environment on Linux](

[2018-12-07 10:21] unnieayilliath commented on #8564
Thanks for your update @msmimart

[2018-12-07 10:30] cocowalla opened #20171 "AD login doesn't work after following instructions"
I'm using a VM running Ubuntu Server 18.04, and I want to enable AAD login for SSH access. I've followed all the instructions for enabling SSH AAD login. Note that I had the same issue as #9418, and had to specify the UPN from `az ad user list` (which was in the form `colin.anderson_mydomain.co.uk#EXT#@myotherdomain.onmicrosoft.com`).

I can see in the portal that the extension is installed, and t

[2018-12-07 10:45] cocowalla commented on #20171
So, I got this working after coming across [this issue](https://github.com/Azure/azure-linux-extensions/issues/623).

I think it would be good to update the docs to say that `/etc/ssh/sshd_config` needs the following set:

[code]

[2018-12-07 10:48] danielDMP opened #20172 ""SAML-based single sign-on is supported for applications that use any of these protocols""
What do you mean with:
"SAML-based single sign-on is supported for applications that use any of these protocols:
SAML 2.0
WS-Federation
OpenID connect"

What has SAML to do with OpenID Connect (="Modern Authentication")? It is a complete different protocoll and token format than SAML.
How can you use SAML with applications that support those different protocols (OIDC, WS-FED)?

---
#### Document D

[2018-12-07 10:54] buzzfrog opened #20173 "put all resources in the same location"
In the example the location is westeurope for all resources except the function, where it is westus. Change it to be the same location for all resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create

[2018-12-07 11:06] kuburoma commented on #20097
10 nodes
30 pods per node

[2018-12-07 11:14] craigshoemaker commented on #17069
@NickDrouin I recently re-wrote this article to feature strategies for automated testing. Do you mind checking out the [new version](https://docs.microsoft.com/azure/azure-functions/functions-test-a-function) to let me know if the updated approach does a better job of addressing your suggestions?

[2018-12-07 11:16] Stereo89 commented on #20093
Hi @BryanTrach-MSFT,
many thanks for your detailed answer.
However, my case is more complicated so I will try to explain it with a picture:

![image](https://user-images.githubusercontent.com/31472533/49644615-34194d80-fa19-11e8-94bf-895900d4f6e9.png)

(All involved resources are in the same region/subscription).

Is it possible to allow the web app to communicate with the VM hosted on the MilkyWa

[2018-12-07 11:18] craigshoemaker commented on #14702
@n1cho1as I recently re-wrote this article that features strategies on how achieve automated tests for Functions. The approach used in the updated version no longer uses Postman in the examples.

Do you mind checking out the [latest version of the doc ](https://docs.microsoft.com/azure/azure-functions/functions-test-a-function) to let me know if you have any further suggestions and if we can close

[2018-12-07 11:20] jimborogers opened #20174 "Exceeding S0 usage - API behaviour?"
For S0 consumers, have you documented how the API behaves when usage limits are exceeded? Is throttling applied internally or does the client receive an appropriate error response?

[2018-12-07 11:32] KetanChawda-MSFT commented on #20173
@buzzfrog Thanks for the feedback. We are currently investigating and will update the document if required.

Just to confirm, Are you getting any error while deploying the function in westus location ?

[2018-12-07 11:43] eschuurman opened #20175 "Published demo is not working"
I follow the demo line by line and after publishing I keep getting : "The page cannot be displayed because an internal server error has occurred."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create a C# AS

[2018-12-07 11:46] buzzfrog commented on #20173
No I think it is doable. I haven't tested. It's only to make it more logical. That all resources are in the same region.

[2018-12-07 11:51] KetanChawda-MSFT commented on #20173
@buzzfrog Thanks for the confirmation. We will update the document with necessary changes.

[2018-12-07 11:59] johndowns commented on #20150
Further to this, I have checked multiple other resource types (see below for a list) and all were able to receive and display custom metrics. `Microsoft.Storage/storageAccounts` appears to be the only one (at least of the ones I tried) that doesn't. I also confirmed that the issue happens with storage accounts in every supported region, and that it makes no difference whether I include custom dime

[2018-12-07 12:19] KetanChawda-MSFT commented on #20042
@MattAltieri Just checking in if you have had a chance to see the previous response. We need the above information to investigate this issue further.

[2018-12-07 12:31] eschuurman commented on #20175
Well, found it. Azure is always late with updating to new MS releases. Apparently it doesn't support dot net core 2.2 yet :(

[2018-12-07 12:35] sairao77 opened #20176 "Offline Functionality"
Can we cover details about app's offline functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6b484b7-f909-4f26-0a08-4cafcc229c4d
* Version Independent ID: bf50d85e-78c0-0b7a-05db-69a949cb5e96
* Content: [Help with Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/ac

[2018-12-07 12:35] MattAltieri commented on #20042
I tried it with the repo in the example. I have successfully deployed other
functions from different github repos so I'm not sure why this one is
behaving differently.

--
Thanks,

Matt

-----Original Message-----
Re: [MicrosoftDocs/azure-docs] Error when deploying thumbnail resive
function (#20042)
From: KetanChawda-MSFT <notifications@github.com>
To: MicrosoftDocs/azure-docs <azure-docs@noreply.

[2018-12-07 12:54] baywet commented on #20111
Thanks for the precision. I came accross this piece of documentation.
My feedback is this section of the page: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/container-registry/container-registry-authentication.md#service-principal is titled "service principal", however the command line provided within it has "myPassword"
Additional feedback for the documentation you mentioned @S

[2018-12-07 13:13] mcurko opened #20177 "Question"
"What address ranges can I use in my VNets?
Any IP address range defined in RFC 1918. For example, 10.0.0.0/16."

I think I read that there's no more a limitation on RFC 1918 address space for VNETs (set aside the question whether that's a good idea). Can you confirm this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-12-07 13:14] #20177 closed

[2018-12-07 13:16] lauraRuzicka opened #20178 "link "https://github.com/Microsoft/ConversationLearner-WebChat" [conversationlearner-webchat] is not valid anymore"
link "https://github.com/Microsoft/ConversationLearner-WebChat" [conversationlearner-webchat] is not valid anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18236fc7-32f8-e3d1-3f3c-7a2be9562d08
* Version Independent ID: 28dc0d5e-315e-be81-47d5-b80e170000f4
* Content: [How to create a Conversation Learner model usi

[2018-12-07 13:31] tcetco opened #20179 "please fix "Replicate the Azure virtual machine with managed disks" script"
correct lines:
$RecoveryReplicaDiskAccountType =  $vm.StorageProfile.DataDisks[0].ManagedDisk.StorageAccountType
$RecoveryTargetDiskAccountType = $vm.StorageProfile.DataDisks[0].ManagedDisk.StorageAccountType

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 0

[2018-12-07 13:38] mosharafMS commented on #20077
[update] it seems the dependencies of the service are not available so I can deploy but not use.

[2018-12-07 13:50] JeremyTBradshaw commented on #20134
Thanks @georgewallace .  I did also find out that Jobs will remain in the Jobs list (not Recent Jobs) for 90 days.  I think I got excited and asked before searching well enough:).  Thanks again.

[2018-12-07 13:50] #20134 closed

[2018-12-07 13:54] remi9898 opened #20180 "directory name inconsistency"
Excellent document with one suggestion.  You show installing PostgreSQL into directory /opt/postgresql-9.3.5, but in your steps to configure PostgreSQL you show the software installed in directory /opt/pgsql9.3.5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4578ad5-aa5a-99c8-0400-5031f7b899f1
* Version Independent

[2018-12-07 14:10] GraemeSMiller commented on #14973
I opened the previous comment. This should be an out the box behaviour to be more like Kafka. In Kafka I can keep logs forever and just read from the start if I have a new consumer. The plumbing required in Event Hub to make this happen should just not be needed. You have capture - we need the capability to easily replay the captured events.

[2018-12-07 14:24] nromyn opened #20182 "Azure AD UI/Functional Change Update"
In Step 3 of the section "Grant Tenant-Level Visibility and the Ability to Assign Policies", the setting has been changed. It is now a per-user setting. https://docs.microsoft.com/en-ca/azure/role-based-access-control/elevate-access-global-admin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82ebe00-d124-9555-df28-e7d

[2018-12-07 14:31] rajrao commented on #19737
@axisc  - I worked with MSFT support and they informed me that the behavior was because of partitioning being enabled. Based on that, I think this documentation should reflect this detail:

- When Partitioning is enabled: MessageId+SessionId is used to determine uniqueness.
- When Partitioning is disabled: Only MessageId is used to determine uniqueness.

As a general rule, because of this differen

[2018-12-07 14:33] rajrao commented on #19737
And so in the code above, if one changes the topic creation to this:

var topicDescription = new TopicDescription(topicName)
	{
		EnablePartitioning = false, // <<--- this line determines if dup detection will use just MessageId (False) or SessionId+MessageId (True)
		RequiresDuplicateDetection = true,
		EnableBatchedOperations = true,
		DuplicateDetectionHistoryTimeWindow = TimeSpan.FromMinutes(1

[2018-12-07 14:34] SeanFeldman opened #20183 "Standard tier partitioning is inaccurate"
The document states:

&gt; With partitioning enabled, Service Bus creates 4 copies (4 partitions) of the entity for each GB you specify. As such, if you create a queue that's 5 GB in size, with 4 partitions the maximum queue size becomes (5 * 4) = 20 GB.

1. There are **16** partitions, not 4.
2. Maximum size is 16 \* 5 = 80

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-12-07 14:39] GHoh opened #20184 "Azure SQL Database - Restore Database Is Not Supported in this Version of SQL"
Attempts to restore a .bak file stored in Blob Storage to an Azure SQL Managed Instance fails.

This database exists in an Elastic Pool. When creating the pool and database, we thought we were creating a Azure SQL Managed Instance. There are posts that state that databases in an ElasticPool are not managed instances. Could this be why restore datbase fails?

T-SQL
RESTORE DATABASE [Web] FROM URL =

[2018-12-07 15:10] uday31in commented on #12278
same issue with 6.13.0

[2018-12-07 15:37] mlearned commented on #15114
this is an old issue, this doc was going to be retired, but we have a work item to rewrite the doc now.

[2018-12-07 15:37] mlearned commented on #15115
this article is receiving some overall major updates as it has various issues.

[2018-12-07 15:41] KetanChawda-MSFT commented on #20042
@MattAltieri I just tried again and it is working fine for me on new function app.
have you deployed it on new Function App or deploying it on existing Function App with some function running?

[2018-12-07 15:44] mlearned commented on #16297
this doc is receiving major updates, will include it.

[2018-12-07 15:46] nansravn commented on #16485
@Blackmist, this already helps me a lot!

I'll test it and prepare an example code to publish on my github, so we can have a deployment example reference.

[2018-12-07 15:48] mlearned commented on #19543
@samsmithnz  i'll discuss with docs side. did you have a few specific steps that were hard to understand without the screenshots?

[2018-12-07 15:50] mlearned commented on #19823
@akfkmupiwu  you will want to run those tests (in this context for CI/CD) as part of the pipeline itself in Azure DevOps (formerly VSTS) .. there are various approaches for testing during CI/CD , check here  https://docs.microsoft.com/en-us/azure/devops/pipelines/test/set-up-continuous-test-environments-builds?view=vsts

[2018-12-07 15:51] zr-msft commented on #20180
looping in @cynthn

[2018-12-07 15:54] Blackmist commented on #16485
@nansravn Glad it helps! One disclaimer, which will be in the docs, is that his uses things from the azureml.contrib namespace. Things in here are going to change fairly often as improvements are made to the product. So any code you write against these objects might need to be updated in the next SDK release. Once the code/feature is "finished" it will move out of contrib and into another part of

[2018-12-07 15:56] mlearned commented on #19954
@pulkitaggarwl  have we seen this error before?

[2018-12-07 16:00] aslanovsergey opened #20186 "Schedule existing message"
Can I schedule an existing message? For example a auxiliary service unavailable and just want to postpone this message for 5 mins. Message deferral unfortunately I don't like because I need to care about SequenceNumber

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 034f7b39-4f6b-87c4-5dfa-a09ea0235b6e
* Version Indepen

[2018-12-07 16:02] KetanChawda-MSFT commented on #20183
@SeanFeldman Thanks for the feedback. We are currently investigating and will provide an update soon.

[2018-12-07 16:12] KetanChawda-MSFT commented on #20173
Thanks you for bringing this to our attention. We have made necessary changes to the doc and created a PR. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2018-12-07 16:12] #20173 closed

[2018-12-07 16:18] cap273 opened #20187 "IP 169.254.169.254 is not a public IP address"
Under "Azure platform considerations", the documentation states:

"Virtual IP of the host node: Basic infrastructure services such as DHCP, DNS, and health monitoring are provided through the virtualized host IP addresses 168.63.129.16 and 169.254.169.254. These public IP addresses belong to Microsoft and are the only virtualized IP addresses used in all regions for this purpose."

The IP address

[2018-12-07 16:34] JetstreamRoySprowl commented on #20070
Hi @dominicbetts , I can see where the simulated devices schema might contain simulator info that real devices won't need, but it sounds very wrong that real devices would be stored in a different kind of collection. Is the array vs. complex object mismatch going to get resolved in favor of one or the other?

[2018-12-07 16:38] timpoth opened #20188 "istioctl collateral --bash -o ~/completions cmd fails"
for 'Windows Subsystem for Linux' the cmd 'istioctl collateral --bash -o ~/completions' fails with error
'Error: unable to output bash completion file: open /home/tim/completions/istioctl.bash: no such file or directory'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Indep

[2018-12-07 16:42] samsmithnz commented on #19543
Nothing specific, it was just a lot of text, and I felt that some
screenshots at the end of each section to show the completed configuration
of each section would go a long way to helping with the tutorial. Picture
worth a thousand words stuff. :)

On Fri, Dec 7, 2018 at 10:48 AM Micheal Learned <notifications@github.com>
wrote:

[2018-12-07 16:51] ebrucucen opened #20189 "Test Fails"
I have tested both versions (in screenshot it is `http`, in the list, it is `https`), and both failed with:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 5930a3f8-45f7-e782-f917-0235601f873b
* Content: [Import and publish your first API in Azure AP

[2018-12-07 17:01] ebrucucenread commented on #20189
It does work if I try the developer portal.

[2018-12-07 17:02] ebrucucen commented on #20189
It does work if I try from the developer portal.

[2018-12-07 17:05] AjayKumar-MSFT commented on #19686
@AkshathaSP , You have mentioned that there are no error logs, if you haven’t done this already, try adding Try/Catch blocks to capture any specific error message/error code.
Just to highlight, whatever is written to console output and console error will go to a log file for the specific triggered webjob run. You can see it on the WebJobs dashboard but the file itself is located under d:\home\data

[2018-12-07 17:08] KetanChawda-MSFT commented on #20186
@aslanovsergey Thank you for posting your question! We will investigate and get back to you with our findings.

[2018-12-07 17:33] MicahMcKittrick-MSFT commented on #20137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-07 17:34] MicahMcKittrick-MSFT commented on #20144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-07 17:34] MicahMcKittrick-MSFT commented on #20168
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-07 17:35] MicahMcKittrick-MSFT commented on #20170
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-07 17:35] sergaz-msft commented on #20162
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-07 17:35] MicahMcKittrick-MSFT commented on #20171
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-07 17:36] aloneguid opened #20190 "Wrong yaml sample"
Metric is not defined correctly, the sample should read:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c0f69d4-0499-de34-0a3d-53bfb30abe1c
* Version Independent ID: 740fedc4-f80d-241a-1660-857bc4b6562b
* Content: [Auto-scale an app running in Azure Service Fabric Mesh](https://docs.microsoft.com/en-us/azure/s

[2018-12-07 17:36] MicahMcKittrick-MSFT commented on #20180
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-07 17:36] MicahMcKittrick-MSFT commented on #20188
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-07 17:37] msmimart commented on #12374
Thanks for sharing your feedback on this article. It’s been updated with new screenshots and clarifications that hopefully address the feedback. I’ll close this issue now, but if you have other concerns please let me know. #please-close

[2018-12-07 17:38] msmimart commented on #14865
Thanks for sharing your feedback on this article. It’s been updated with new screenshots and info that hopefully addresses the feedback. I’ll close this issue now, but if you have other concerns please let me know. #please-close

[2018-12-07 17:39] #19474 closed

[2018-12-07 17:39] YutongTie-MSFT commented on #20178
@lauraRuzicka Hi, this link is valid but the moderator has set it as private, sorry for all inconveniences. Let me make sure how the repo should be.

@v-jaswel Hi, this repo which in the document is set as private. Is it in a preview period? Or just a wrong operation? Thanks.

[2018-12-07 17:40] MicahMcKittrick-MSFT commented on #19540
Did you install the cert on the node and your local machine under "My"?

[2018-12-07 17:44] sergaz-msft commented on #19854
Adding another reference: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-pricing

![image](https://user-images.githubusercontent.com/22173500/49663806-af91f380-fa47-11e8-9970-9cb2b73c8f96.png)

[2018-12-07 17:45] trillykins commented on #19854
@sergaz-msft Thank you!

[2018-12-07 17:45] Mike-Ubezzi-MSFT commented on #20169
@santo2 Thank you very much for your detailed question. I am looking into this and will update you when I have more information. This might end up being a product request but need to confirm a few items first.

[2018-12-07 17:45] MicahMcKittrick-MSFT commented on #20097
@paulbouwer @iainfoulds @seanmck any of you have any suggestions on this?

[2018-12-07 17:49] axayjo commented on #19569
@panoschatz, We're currently working on the documentation and should have it ready soon.

[2018-12-07 17:52] tfitzmac commented on #19941
I think it is a great idea. We are looking at how we can reliably make this data available.

[2018-12-07 17:52] MicahMcKittrick-MSFT commented on #19969
@xujing-ms any update on this?

[2018-12-07 17:55] Adam-Smith-MSFT commented on #20104
@vlttnv  Could you please post your question in either [MSDN Storage](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata) forums, or stackoverflow since your question doesn't specifically relate to the doc. We will follow up with you on the forums.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we w

[2018-12-07 17:55] #20104 closed

[2018-12-07 17:55] MicahMcKittrick-MSFT commented on #20188
@paulbouwer can you take a look at this?

[2018-12-07 17:57] Karishma-Tiwari-MSFT commented on #19569
@axayjo Thanks. @panoschatz As shared above, the document will be ready soon. Thank you for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. :)

[2018-12-07 17:57] #19569 closed

[2018-12-07 17:57] diberry commented on #19270
Robots was changed and a link in the old doc set point to new docset. #please-close

[2018-12-07 17:59] MarileeTurscak-MSFT commented on #20124
@MikeDembek
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-07 18:00] kayjtea commented on #6561
There's a distinction between a subscriber (the listener) and a subscription. The overhead of creating and maintaining subscriptions when the subscriber is interested in more than one topic is a pain -- especially if you're using azure relay hybrid connections.  Not sure what this means for scaling and monitoring in a production environment though.

[2018-12-07 18:00] MarileeTurscak-MSFT commented on #20136
@limjianan
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-07 18:01] MarileeTurscak-MSFT commented on #20154
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-07 18:02] tiny-dancer commented on #19829
@DCtheGeek thanks for reference, my example was maybe too simplistic.

For example, trigger an alert (e.g. webhook) everytime a new public IP is created _leveraging the extensive data available in resource graph response and not just activity log_?

As it currently stands would the expectation be Activity log alert on new public ip, triggers function that uses resource graph to query for more exte

[2018-12-07 18:03] Karishma-Tiwari-MSFT commented on #19419
@mikedbrook We will now close this issue. Please come back whenever you are ready and we will gladly continue the discussion. :)

[2018-12-07 18:03] #19419 closed

[2018-12-07 18:05] MarileeTurscak-MSFT commented on #20156
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-07 18:08] MarileeTurscak-MSFT commented on #20176
@sairao77
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-07 18:10] seguler commented on #20104
@vlttnv - this may be a bug. I'd like to understand more about how you're encountering this error. Could you e-mail azurestoragefeedback@microsoft.com with details to the issue along with your website url if it is okay ?

[2018-12-07 18:12] mike-urnun-msft commented on #20164
Hello @dcbrown16

Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-07 18:13] mike-urnun-msft commented on #20189
Hi @ebrucucen

Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-07 18:15] DCtheGeek commented on #19829
@tiny-dancer Lots of ways to approach that goal. You can use Runbooks, Functions, Event Grid, Event Hub, Flow/LogicApps (and probably some I'm not mentioning) to monitor for status change. Using the Activity Log makes it easy to receive an event instead of poll for it.  Once you have that event, yes, I believe it makes sense to then use Resource Graph to query for more details of the resource that

[2018-12-07 18:15] Karishma-Tiwari-MSFT commented on #20144
@pottsmgg To help me understand, can you please elaborate a little more on what you are looking for in the doc. If there is specific section of the doc you are facing  difficulty with, please share in the comment. Thanks :)

[2018-12-07 18:17] MicahMcKittrick-MSFT commented on #20190
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @aljo-microsoft

[2018-12-07 18:18] MarileeTurscak-MSFT commented on #20182
@nromyn thanks for your feedback! I have assigned this issue to the content author, @rkarlin , to address your comment.

[2018-12-07 18:19] mike-urnun-msft commented on #20174
Hello @jimborogers  Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-07 18:21] mike-urnun-msft commented on #20184
Hello @GHoh  Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-07 18:23] MarileeTurscak-MSFT commented on #20172
@danielDMP
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-07 18:31] walsehgal commented on #20162
@rwatjen, Please follow the newer announcements. We will update the pricing page soon with our newer announcements.

[2018-12-07 18:32] TheMacStack commented on #19941
Hi, also looking to get this data in a way it can be used to do a quick scan of a subscription for general idea on what can and cant be migrated, I think having it in JSON maybe makes more sense due to the structure of the data.

[2018-12-07 18:34] cynthn commented on #20180
@remi9898 Thanks for catching that issue! I've filed a PR with the fix :)

#please-close

[2018-12-07 18:37] rezasherafat commented on #20148
@kudlatiger we recommend using the Azure IoT C# SDK directly which handles device authentication under the hood for you (using device connections string).

If you have a reason on not using the SDK, you may use any open C# implementation of MQTT 3.1.1. client. Just make sure you format the client's username and password similar to the NodeJS example in the docs.

[2018-12-07 18:45] Mike-Ubezzi-MSFT commented on #16312
@KermitSmith Can you please add a comment to the following user Voice entry pertaining to [Auto Scaling for Azure SQL](https://feedback.azure.com/forums/217321-sql-database/suggestions/16839646-auto-scaling-for-azure-sql). It currently has 73 votes but no use case or comments about desired functionality. This channel is for addressing documentation related fixes/enhancements. The link I provided i

[2018-12-07 18:47] BryanTrach-MSFT commented on #20149
@itorian Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-07 18:47] GHoh commented on #20184
@mike-urnun-msft Thank you for reviewing.  I'm following the [Quickstart: Restore a database backup to an Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started-restore).

[2018-12-07 18:49] BryanTrach-MSFT commented on #20146
@eelitlauree Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-07 18:50] fleed commented on #19540
Yes, and I'm able to install the system if I use `localhost` as IP address.

[2018-12-07 18:52] BryanTrach-MSFT commented on #20175
@eschuurman Yes, that it correct. At this time, core 2.2 is not supported. You can always verify the supported run times in the KUDU page of your app service. Please note that we are constantly adding new versions so core 2.2 might be added in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2018-12-07 18:52] #20175 closed

[2018-12-07 18:54] YutongTie-MSFT commented on #20127
@Rodrigossz Hi, sorry to hear you are suffering from this issue. I have reproduced this tutorials and it works for me well. What I will suggest are, please try again and make sure you have 1) Cloned the project -- Getting Started 2) Clicked 'Cell' --> 'Run all' in your Jupyter Notebook. If you finished above you can go to your Microsoft Azure Notebooks --> My project and you should see following:

[2018-12-07 18:55] BryanTrach-MSFT commented on #20145
@rgrwatson85 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-07 19:01] davidmu1 commented on #19970
@LioDiera This article is meant to be a reference page that discusses the elements of a technical profile. It links to technical profile reference pages that explain the claims that are used. Can you be more specific about where you found in your research the information that you needed? Also, can you be more specific about the information that you think should be added?

[2018-12-07 19:01] jimborogers commented on #20174
Hi there, this is the page I am referring to: https://docs.microsoft.com/en-us/azure/azure-maps/choose-pricing-tier

[2018-12-07 19:03] ewconnell opened #20193 "Tutorial Steps do not match current UI"
The UI in the tutorial does not match the current online UI in some places. Particularly the Settings and Properties section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f802444e-a296-ca21-aa86-1ead1e6f3716
* Version Independent ID: 06a9fe60-1da7-5327-eb33-e066e58e8509
* Content: [Define a new device type in Azure Io

[2018-12-07 19:10] alexli1984 commented on #19955
Posted: https://social.msdn.microsoft.com/Forums/azure/en-US/8961047b-d173-430f-8349-213b0c82e5a8/single-log-out-issue-when-there-are-multiple-signedin-sessions-from-same-sp?forum=WindowsAzureAD

[2018-12-07 19:16] IAmSequestered commented on #19728
Could be my mistake Alberto. Seems I upgraded to the release version 3.2.0 which no longer has that reference. It's not just that particular model has changed or been relocated, but it has been removed. I expected to find it in Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models; but it wasn't there that I could locate.

So, my title isn't correct, yet. :)

As the preview of the face AP

[2018-12-07 19:20] j-martens commented on #16679
#please-close

[2018-12-07 19:24] nthabimakhetha commented on #14820
I would like to add multiple emails to a resource group, how do i go about doing this?

[2018-12-07 19:29] #18810 closed

[2018-12-07 19:29] #19270 closed

[2018-12-07 19:30] #19696 closed

[2018-12-07 19:30] #19953 closed

[2018-12-07 19:30] CelesteDG commented on #18592
@barborico - Thank you for your feedback. I've checked with our engineering teams and the feature is not yet ready, so that's why it's not yet documented. I have an open work item for this in first quarter of 2019 and will add any info once the full experience, including admin verification, is available. Thank you.

[2018-12-07 19:30] #20077 closed

[2018-12-07 19:30] #20180 closed

[2018-12-07 19:31] CelesteDG commented on #18592
I have a user story (#595770) in the identity group's Azure DevOps that tracks updating the app manifest topic to include info about the publisherDomain attribute.
#please-close

[2018-12-07 19:32] TravisCragg-MSFT commented on #20167
@SamirFarhat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-07 19:36] MarileeTurscak-MSFT commented on #20020
You can use Set-ADSyncAutoUpgrade
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-automatic-upgrade

That article is linked in the table and the different strategies are listed there.  CC: @billmath

[2018-12-07 19:37] MarileeTurscak-MSFT commented on #20020
We will now proceed to close this thread. If you have further questions please feel free to tag me in the comments and I will gladly continue the conversation.

[2018-12-07 19:37] #20020 closed

[2018-12-07 19:41] MarileeTurscak-MSFT commented on #20156
These are referring to the links in the sidebar.
![image](https://user-images.githubusercontent.com/13383753/49669071-fca8a200-fa14-11e8-8c86-bd2802d4c1bd.png)
As you can see these are aligned with the screenshot at the top of the article.
![image](https://user-images.githubusercontent.com/13383753/49669091-0fbb7200-fa15-11e8-9ef6-57940dafd2dc.png)

CC: @billmath

[2018-12-07 19:42] ecfan commented on #19993
@houstonjb Thanks, will create work item for update.

[2018-12-07 19:42] MarileeTurscak-MSFT commented on #20156
@dcbrown16 we will now proceed to close this thread. If you were looking for something else or have further questions, feel free to tag me or @billmath in the comments and we will gladly continue the discussion.

[2018-12-07 19:42] #20156 closed

[2018-12-07 19:50] asmalser-msft commented on #14608
Hi, the best way to get an Azure AD SCIM-based user provisioning connector attached to your custom app, is to file a request to have it put in the Azure AD app gallery. Today all SCIM-based integrations are enabled through the gallery. There are instructions on how to do that here: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-app-gallery-listing
Thanks! #please-close

[2018-12-07 19:55] #16679 closed

[2018-12-07 19:59] TravisCragg-MSFT commented on #20163
@kazshi [DDoS Protection Standard ](https://docs.microsoft.com/en-us/azure/virtual-network/ddos-protection-overview)is only for resources inside of a VNET, so it will not apply to your CDN.

DDoS protection basic is supported by anything behind an Azure Public IP. Unfortunately, there is not a way to be notified.

[2018-12-07 19:59] TravisCragg-MSFT commented on #20177
@mcurko I see you have closed this issue already. Please let me know if you need any additional information.

As far as I know, this restriction is still in place.

[2018-12-07 20:04] jimmielightner opened #20194 "Missing Information under Modify Proxy Settings section"
This guide is missing the word Desktop at the end of the following section (https://docs.microsoft.com/en-us/azure/site-recovery/physical-manage-configuration-server#modify-proxy-settings):

"Modify proxy settings
You can modify proxy settings for the configuration server machine as follows:
Log on to the configuration server.
Launch the cspsconfigtool.exe using the shortcut on your. "

---
#### D

[2018-12-07 20:10] adpick commented on #20117
The limit is on a per account basis, however it includes all subscriptions ever created on that account (by API or otherwise). The system treats a deleted subscription the same as an active subscription for auditing purposes. Hope that clarifies, and we are working to remove this limitation before we GA the API.

[2018-12-07 20:16] diberry commented on #20040
@hkeziah Please review this [document](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-prebuilt-entities#marking-entities-containing-a-prebuilt-entity-token) for an explanation - which is also linked from the tutorial.

[2018-12-07 20:17] Unalloyedcube commented on #20117
Does this limit include unsuccessful creation attempts as well? I asked because during testing not all subscriptions were created. Only 5 were created successfully, so I should be able to create more subscriptions under that SP.

[2018-12-07 20:17] diberry commented on #19695
#please-close

[2018-12-07 20:18] mike-urnun-msft commented on #20184
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 759e5bd8-e4f0-24aa-ab48-c2820fccd39a
* Version Independent ID: b42082b1-8c3e-82d0-d6ea-ecd57be1cdba
* Content: [Restore a backup to Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started-restore)
*

[2018-12-07 20:18] diberry commented on #19787
@managedcoder This is temporarily put on backlog. The tutorials will get a revamp with updated scores and results in the next 30 days. #please-close

[2018-12-07 20:21] mike-urnun-msft commented on #20128
Hey @Vasanth1981 Just following up on my previous comment, please let us know if there's a specific documentation that you were following, otherwise, we'll proceed to close this issue.

[2018-12-07 20:23] adpick commented on #20117
I wouldn't expect it to include unsuccessful creation attempts, but it isn't the creation history of the SP that is relevant, it's the Account that the SP has access to. For example, the account owner may have created other subscriptions under that account without your knowledge if all you have is create permissions via the SP.

[2018-12-07 20:23] Vasanth1981 commented on #20128
Here you go,
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-customize-ui

[Description: beam suntory]

Vasanth Prabu
Technical Lead – IDM & IT Development, IT
Vasanth.Prabu@beamsuntory.com<mailto:Maggie.Cavanaugh@BeamSuntory.com>
P: 312-964-6997 extn 1940
C: 847-848-2885

Please consider the environment before printing this message.

From: Mike Urnun <notifications@github.com

[2018-12-07 20:31] v-jaswel commented on #20178
Hi @lauraRuzicka, I have a question out to the Conversation Learner PM about this and will let you know as soon as I hear back.

[2018-12-07 20:33] Unalloyedcube commented on #20117
I get it now. Thanks for the clarification.

[2018-12-07 20:35] adpick commented on #20117
@Unalloyedcube Happy to help!

@femsulu #please-close

[2018-12-07 20:35] #20117 closed

[2018-12-07 20:37] areddish commented on #19907
@AnalyticsInAction Glad you got it working!

[2018-12-07 20:44] mavinm opened #20196 "Some syntax cleanup and more details in documentation"
Hi, there's some syntax cleanup to make this page more robust.
1. The example I've copied to below has curl -X POST twice.  Using this command will fail.
curl -X POST curl -X POST https://&lt;azureRegion&gt;.monitoring.azure.com/&lt;resourceId&gt;/metrics -H "Content-Type: application/json" -H "Authorization: Bearer &lt;AccessToken&gt;" -d @custommetric.json
2. The example below has an extra space

[2018-12-07 20:48] wcswanson opened #20197 "After checkbox is added and data migration is complete -- changes to checkbox are not saved"
create
public ActionResult Create([Bind(Include = "ID,Description,CreatedDate,Done")] Todo todo)
edit
 public ActionResult Edit([Bind(Include = "ID,Description,CreatedDate,Done")] Todo todo)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-

[2018-12-07 20:51] JasonWHowell commented on #15508
#please-close the PR is published.

[2018-12-07 20:54] v-jaswel commented on #15210
We are in the process of updating the Conversation Learner docs, which should address this issue. I'll resolve this thread once the doc updates go live.

[2018-12-07 21:00] MarileeTurscak-MSFT commented on #20176
@sairao77 I have passed your comment onto the content author, @eross-msft , to address your feedback.

[2018-12-07 21:03] MarileeTurscak-MSFT commented on #20136
@limjianan I have passed your feedback onto the content author, @eross-msft , to address your feedback?

Can you clarify which screenshot you are referring to?

[2018-12-07 21:05] eross-msft commented on #20136
@limjianan
You are referring to the Security info (converged registration) feature that's currently in public preview. It has it's own set of documentation and is referenced from the MFA content. You can see the Security info content here: https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-security-info-overview

[2018-12-07 21:06] MarileeTurscak-MSFT commented on #20138
@sejuarez thanks for your feedback! I have passed your suggestion onto the content author, @andretms , to look into.

[2018-12-07 21:15] davidmu1 commented on #19965
I am able to use the format of: https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp. I also received a bad request error because I have upper case letters in my tenant name. When using all lowercase letters, this format worked. I have updated the article with this information.

#please-close

[2018-12-07 21:34] BrianJackson opened #20199 "targetUpdatedProperties do not reflect old and new values"
When updating a user profile such as the user's title, the targetUpdatedProperties does not reflect the attribute that was changed, the old value or the new value.  This is not the expected behavior.  Viewing the JSON through Event Hub, Activity Details in the portal, and the CSV output yield the same result.

"modifiedProperties": [
                                {

[2018-12-07 21:34] kobulloc-MSFT commented on #20044
@danmyhre We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-12-07 21:35] MarileeTurscak-MSFT commented on #20038
With LDAP you would enable password hash, so the application sees the hashed version of the password. The Active Directory domain service stores passwords in the form of a hash value representation, of the actual user password.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization

Your domain would be susceptible to brute force password attac

[2018-12-07 21:36] MarileeTurscak-MSFT commented on #20038
We will proceed to close this thread. Please let me know if you have any additional questions. Feel free to tag me in the comments if you would like to continue the conversation.

[2018-12-07 21:36] #20038 closed

[2018-12-07 21:38] MohitGargMSFT commented on #19593
@mangeshparanjape Please update on above.

[2018-12-07 21:43] barbkess commented on #16783
@MicrosoftDocs/azure-cxp-triage : Please close

[2018-12-07 21:46] barbkess commented on #20172
@danielDMP : You're correct.  I am submitting a fix that removes OpenID connect from the list.

[2018-12-07 21:52] MohitGargMSFT commented on #20124
@MikeDembek Please note that as stated in [Step 1: Check the prerequisites](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-1-check-the-prerequisites) of [Deploy Seamless Single Sign-On](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#deploy-seamless-single-sign-on),
 it will depend on which of the you

[2018-12-07 21:55] barbkess commented on #14307
@DMoonesinghe : I verified the fix is out there.  I am going to go ahead and close the issue.

@MicrosoftDocs/azure-cxp-triage : please close this.

[2018-12-07 21:56] Anaig opened #20200 "Extend - no result"
I tested this code by copy pasting the cells. But each time an "extend" is used it seems ignored and doesn't appear on the chart

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0c709e-1541-0036-428c-ecc9fbc698fd
* Version Independent ID: b6f8aab4-b887-8a41-90d3-05b9c44a7a38
* Content: [Azure Data Explorer time series

[2018-12-07 22:13] cynthn commented on #15227
@swilder0123 Thanks for raising this as an issue! I have created a pull request to remove the TRIM section. Thanks again!

#please-close

[2018-12-07 22:14] tiny-dancer commented on #19829
thanks for the quick response and variety of options!

look forward to your findings on [timing](https://github.com/MicrosoftDocs/azure-docs/issues/19879) to see if this indeed a practical approach.

[2018-12-07 22:16] #14307 closed

[2018-12-07 22:20] barbkess commented on #20172
I submitted the fix.

@MicrosoftDocs/azure-cxp-triage : please-close

[2018-12-07 22:22] ecfan commented on #19993
@houstonjb Update should be live after the next publishing window, thanks!

[2018-12-07 22:34] christiankuhtz commented on #20167
@SamirFarhat this is only true for HA Ports load balancing rules.

[2018-12-07 22:37] femsulu commented on #20151
@johndowns Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-12-07 22:39] femsulu commented on #20151
adding @TrishaMc  since @Ancav doesnt resolve in GH

[2018-12-07 22:41] femsulu commented on #20166
@andyjballgit Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-12-07 22:44] TrishaMc commented on #20151
Hi @johndowns and @femsulu: I'm listed as a contributor because I edited this article, but maybe @rboucher can help you more than I can.
Thanks,
Trisha

[2018-12-07 22:46] tfitzmac commented on #19620
@saif-chaudhry - thanks for bringing this my attention. I am adding that information to the article.

[2018-12-07 22:48] femsulu commented on #20150
@johndowns Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-12-07 22:48] mangeshparanjape commented on #19593
public static string GetUserOAuthToken()
        {
            string ResourceId = "https://storage.azure.com/";
            string AuthEndPoint = "https://login.microsoftonline.com/{0}/oauth2/token";
            string TenantId = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx";
            string ClientId = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx";
            string ClientRedirectURI = "https://login.micro

[2018-12-07 22:51] LuisCabrer commented on #16220
@Grace-MacJones-MSFT , how do we close this issue?

[2018-12-07 22:53] Grace-MacJones-MSFT commented on #16220
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-07 22:53] #16220 closed

[2018-12-07 22:53] kgremban commented on #19769
@mcurko There are a few places in the Azure portal where you can trace what's happening in this tutorial. The first is in your IoT Hub in the Events page where you create the event subscription. A chart there shows the number of events that have occurred in your hub in the last set amount of time. If you don't see any events listed, check your event subscription to make sure it's created correctly

[2018-12-07 22:54] hpsin commented on #19593
Thanks @mangeshparanjape .  Can you capture a correlation ID or request ID as well as a timestamp that comes with the error? That will help us check our logs to determine what's occurring on the backend.

@jmprieur - could you take a look at the code above and also verify that it's accurate? I believe it is but would like a library team member to also verify.

[2018-12-07 22:55] femsulu commented on #20179
@tcetco Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-12-07 22:56] kgremban commented on #19675
@mcurko There was a bug in the tutorial, and I apologize for any confusion this caused you. Someone else pointed this out to me a few days ago and I added new steps to resolve it:

<img width="503" alt="image" src="https://user-images.githubusercontent.com/13578436/49676824-3dfa7b00-fa30-11e8-92b5-18808d8c6f5f.png">

Please test this and see if it resolves your issue.

[2018-12-07 22:56] femsulu commented on #20194
@jimmielightner Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-12-07 22:58] femsulu commented on #20196
@mavinm Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-12-07 22:58] curtand commented on #20187
Hi @cap273 , I'm filling in for JimDial while he's out of the office for a bit. I'll get the issue to the PM. Good catch!

[2018-12-07 23:01] femsulu commented on #20150
@anirudhcavale  - FYI

[2018-12-07 23:02] MarileeTurscak-MSFT commented on #20095
Hi @ksix please re-post this question on MSDN and I promise we will help you find an answer. I monitor the forum daily so will ensure that your question is resolved. We are moving away from these sorts of product questions in the documentation comments. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-12-07 23:02] MarileeTurscak-MSFT commented on #20095
We will proceed to close this issue. Feel free to tag me in the comments with your MSDN thread.

[2018-12-07 23:02] #20095 closed

[2018-12-07 23:09] Grace-MacJones-MSFT commented on #19756
Hi @imeya, did the work around we provided work for you?

[2018-12-07 23:35] dkamstra commented on #14820
Define a separate action in your action group for each email address

[2018-12-07 23:36] #20103 closed

[2018-12-07 23:37] #15227 closed

[2018-12-07 23:37] YutongTie-MSFT commented on #20066
@saulcruz
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-07 23:37] #20066 closed

[2018-12-07 23:38] YutongTie-MSFT commented on #20140
@strategywise
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-07 23:38] #20140 closed

[2018-12-07 23:38] YutongTie-MSFT commented on #20040
@hkeziah
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-07 23:38] #20040 closed

[2018-12-07 23:40] tfitzmac commented on #18515
@itanex - did you get more information about this error and how to resolve it? I believe the auditingPolicies resource type has been deprecated.

[2018-12-07 23:40] AndyWu7623 opened #20203 "Sunnet IP calculation"
Hello Team,

About the quation (number of nodes + 1) + ((number of nodes + 1) * maximum pods per node that you configure)
Do we need to add 5 more when configuring it. Due AKS will take 5 IPs from each subnet.

Are there any restrictions on using IP addresses within these subnets?
Yes. Azure reserves some IP addresses within each subnet. The first and last IP addresses of each subnet are reserved

[2018-12-07 23:43] christiankuhtz commented on #20167
@TravisCragg-MSFT please close.

[2018-12-07 23:47] AndyWu7623 commented on #20203
also for a one-node cluster, it will need 31+31+5 = 67 IPs to be able to upgrade.
Which means the smallest subnet that have ability to upgrade needs to be /25
Is this something we can update in our document? Thank you

[2018-12-07 23:56] Alberto-Vega-MSFT commented on #20193
@ewconnell Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-07 23:59] gregdegruy opened #20204 "This code is deployed to a Real Device, there is not real device here"
Is there a tutorial for Raspberry PI or MXCHIP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f765cd3a-0b7c-a968-db21-258f59b6be6d
* Version Independent ID: 443e6cac-f25b-8f0c-628e-3b72f3df0239
* Content: [Add a real device to an Azure IoT Central application](https://docs.microsoft.com/en-us/azure/iot-central/tutoria

[2018-12-07 23:59] BryanTrach-MSFT commented on #19305
@pawelros This doc was originally written for App Service on Windows, which has different feature parity than App Service on Linux. I was unable to properly call my certificate on my container web app as well.

I have requested the doc author to investigate whether or not this feature is supported, and if so, determine if adding Linux steps would be necessary.

[2018-12-08 00:04] kobulloc-MSFT commented on #19990
@Kenneth-Abrams It looks like we had [misleading text on the error users encountered](https://github.com/MicrosoftDocs/azure-docs/issues/18051) when attempting to use Profiler with a configuration that is not yet supported.  This will be updated soon and we apologize for the confusion.

For anyone else reading this, make sure that you are using ASP.NET or ASP.NET Core web apps running on Web Apps,

[2018-12-08 00:04] #19990 closed

[2018-12-08 00:09] BryanTrach-MSFT commented on #20197
@wcswanson Can you please clarify what you are suggesting needs to be changed?

Are you suggesting to put the below snippet in place of the original line?

edit public ActionResult Edit([Bind(Include = "ID,Description,CreatedDate,Done")] Todo todo)

[2018-12-08 00:13] MicrosoftGuyJFlo commented on #19843
#please-close

[2018-12-08 00:14] rwike77 commented on #20019
Hi, these updates have been made:  https://github.com/MicrosoftDocs/azure-docs/pull/20185 .  The new template is now being used.  #please-close

[2018-12-08 00:38] curtand commented on #18601
Hi @CHDAFNI-MSFT
I made the update and published. Thanks for your feedback!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/59273

@TravisCragg-MSFT
#please-close

[2018-12-08 00:44] curtand commented on #18576
Hi @MysticRyuujin
I tracked down the owner and will make the update.

[2018-12-08 00:53] eross-msft commented on #20176
@sairao77
Can you clarify what offline functionality you mean? Are you talking about getting the codes when you're not on the network? If so, what are you specifically wanting to learn more about?

[2018-12-08 01:07] Karishma-Tiwari-MSFT commented on #20203
@AndyWu7623 Thanks for the question. We are currently investigating and will update you shortly.

[2018-12-08 01:26] eragonriddle opened #20205 "python function publish failing"
Following the steps for creating a python function results in an error.
Step 1: Create function using Azure Core Tools and run locally. This works fine.
Step 2: Create storage account and function app from az cli. This works fine.
Step 3. Publish function app. This results in error.

Command: `func azure functionapp publish <app_name>`
Error:
`Your app is configured with Azure Files for editing fr

[2018-12-08 01:32] eragonriddle commented on #20205
The requirements.txt file created by the core functions utility includes all pip packages installed for the python environment. Removing the extra packages and only keeping **azure-functions** and **azure-functions-worker** seems to work.

[2018-12-08 01:36] anirudhcavale commented on #20150
@johndowns can you do a quick sanity check for me. Can you validate if you are able to query the metrics out via the REST Metrics API for the custom metrics on the storage account? You can use the armclient (https://github.com/projectkudu/ARMClient). Once you install it run the following commands: (replace these <variables> with your resource and metric names)

- armclient.exe login
- armclient GE

[2018-12-08 01:44] fhryo-msft commented on #13147
Sample script is updated and you can have a try now.

[2018-12-08 01:53] curtand commented on #17399
Hi @akhileshnirapure

t’s missing the group name, so Azure AD doesn’t know whether this is a prefix, suffix, or both. It should be something like “Test-[Groupname]-[Department]” or “Test-[Department]-[Groupname]”. Both of these work.

I'll update the docs. Thanks for your contribution!

[2018-12-08 01:56] kudlatiger commented on #20148
I am using **Windows Embedded Standard** OS on the device .

Azure IoT C# SDK  - https://github.com/Azure/azure-iot-sdks - This link shows open source code. Don't we have installer?

[2018-12-08 01:57] femsulu commented on #20151
thanks @TrishaMc. Assigned to @anirudhcavale (same as @ancav) :)

[2018-12-08 02:09] curtand commented on #17399
https://github.com/MicrosoftDocs/azure-docs-pr/pull/60233

@SaurabhSharma-MSFT
#please-close

[2018-12-08 02:21] ksix commented on #20095
@MarileeTurscak-MSFT I don't agree it is a product question. I am directly addressing a gap in the documentation.

One of two things is true, either the above statements I've quoted directly from the documentation this issue is raised against is incorrectly stating how forced tunneling can be implemented or it's missing a reference to a guide explaining how to do it. Either way the document needs

[2018-12-08 03:34] jason-j-MSFT commented on #19867
@linda33wj screenshot is out of date, could you take a look?

[2018-12-08 03:38] jason-j-MSFT commented on #19909
@ravitejapinnaka your feedback is valuable and thank you for it.  Going forward, the best place to ask your support questions are in the MSDN Forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

If you have focused feedback for how we could improve documentation, we will be glad to take a look.

[2018-12-08 03:38] #19909 closed

[2018-12-08 03:41] jmprieur commented on #19593
I'll also scrub through all the Azure docs to see if there are other code snippets that need to be fixed.

[2018-12-08 04:11] johndowns commented on #20150
@anirudhcavale I just checked, and yes, the metrics do appear when I query them through the ARM API.

[2018-12-08 04:19] johndowns commented on #20150
@anirudhcavale Another thing I noticed - when I have a metric with dimensions, other resource types show the 'split' and 'filter' buttons in the portal UI and let me select the dimension to split or filter on. When I have metrics against a storage account, though, these buttons aren't enabled.

[2018-12-08 04:21] johndowns opened #20206 "Deleting resource does not delete metrics"
I've noticed that if I submit metrics against a resource, and then delete the resource and re-create it with the same name, the metrics I had previously submitted re-appear.

I would have expected that metrics are deleted with the resource itself, and if the resource is deleted and recreated, the metrics wouldn't reappear.

Is this the intended behaviour?

---
#### Document Details

⚠ *Do not edit

[2018-12-08 04:51] DBrunz44 commented on #15105
@jason-j-MSFT Any Update?

[2018-12-08 05:49] mike-urnun-msft commented on #20205
Hello @eragonriddle

Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-08 07:29] myusrn commented on #19717
**status update** . . . this past week I worked through setup and use of EasyAuth authentication enabled azure functions v2 and azure web app setups, which provides both browser openid connect and native app oauth secured web api secured request support.  My take away from that is i'm inclined to suggest that in the near term just document telling people to use that story for case where they want

[2018-12-08 08:31] aribornstein commented on #19688
I'm having the same issue

![image](https://user-images.githubusercontent.com/3045407/49683890-7358a480-fad4-11e8-92af-589e261da592.png)

[2018-12-08 08:32] aribornstein commented on #19688
![image](https://user-images.githubusercontent.com/3045407/49683899-97b48100-fad4-11e8-9fb0-146fff220605.png)

[2018-12-08 08:56] ntdung commented on #16566
I've just resolved this problem by adding <OutputClaim ClaimTypeReferenceId="email" PartnerClaimType="unique_name" /> to OutputClaims of the ClaimProvider instead of  <OutputClaim ClaimTypeReferenceId="email" />.
And adding <OutputClaim ClaimTypeReferenceId="email" /> to OutputClaims of SignUpSignIn policy.

[2018-12-08 10:58] TecTimeDev opened #20211 "Overlapping Networks"
Hi Gents. Not sure, but aren't the given subnet examples for BackEnd and GatewaySubnet overlapping in their values? KR, Marc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fdc6229-5891-d257-a81b-803b744a0328
* Version Independent ID: 70f17ad7-ffa1-00ef-7a31-d8647e023f8e
* Content: [Connect an Azure virtual network to

[2018-12-08 13:13] snobu commented on #19965
I don't remember having any uppercase chars but who knows, maybe i had. Before closing could you please state the difference between the two IdP endpoints?

[2018-12-08 13:51] DCtheGeek commented on #19879
@tiny-dancer As a Public Preview service, the goal is currently that 95% of resource updates are available via Resource Graph within 1 minute.

If the delay you experienced is consistent, we'd like to take a look.  Please reach out through the Resource Graph (preview) page, which is on the Policy page, and use the 'Portal Feedback' link in the text. Explain the delay you are consistently seeing an

[2018-12-08 14:06] #19843 closed

[2018-12-08 14:42] braest opened #20213 "Creation resource group from ARM fails"
Using the code on :

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/create-resource-group-in-template.md ; when I try to create a resource group from an ARM template it fails.
(deployment from the templates blade)

message": "No HTTP resource was found that matches the request URI 'https://management.azure.com/subscriptions/#subscriptionid#/resourcegroups/#

[2018-12-08 15:00] MarileeTurscak-MSFT commented on #20199
@BrianJackson
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-08 15:00] MarileeTurscak-MSFT commented on #20200
@Anaig
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-08 15:01] MarileeTurscak-MSFT commented on #20204
@gregdegruy
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-08 15:02] MarileeTurscak-MSFT commented on #20206
@johndowns
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-08 15:02] MarileeTurscak-MSFT commented on #20211
@TecTimeDev
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-08 15:10] MarileeTurscak-MSFT commented on #20213
@braest please say which document you are referencing and paste it here.

[2018-12-08 15:16] #19879 closed

[2018-12-08 16:02] DMoonesinghe commented on #14307
Sorry I forgot what this was about.  I am sure you corrected it and closed
it. Couldn't find this page. But that is fine.

On Fri, Dec 7, 2018 at 4:55 PM Barbara Kess <notifications@github.com>
wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moon@gmail.com

"We must accept finite disappointment, but we must never lose infinite
hope."
~ Martin Luther King, Jr. ~

[2018-12-08 16:13] braest commented on #20213
Hi,

This code :

{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
    "contentVersion": "1.0.0.1",
    "parameters": {
        "rgName": {
            "type": "string"
        },
        "rgLocation": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Resour

[2018-12-08 16:53] mzbowe opened #20214 "Steps incorrect"
If you follow this step by step, in will not work.  You Should create the VNets, Subnets and Virtual Network GWs first on each side.  If you do that THEN you ca do this step "type the public IP address for your Azure Stack Virtual Network Gateway that is listed previously in the network configuration table." - which is listed in the Azure section, but before anything had been done in Azure Stack.

[2018-12-08 16:57] CarlosOnline opened #20216 "Please check the mixed case for events - some events not using camel case other events uses pascal case."
Please check the mixed case for events - some events not using camel case other events uses pascal case.

LiveEventIncomingVideoStreamsOutOfSync uses pascal case

[
  {
    "topic": "/subscriptions/&lt;subscription-id&gt;/resourceGroups/&lt;rg-name&gt;/providers/Microsoft.Media/mediaServices/&lt;account-name&gt;",
    "subject": "/LiveEvents/LiveEvent1",
    "eventType": "Microsoft.Media.LiveEvent

[2018-12-08 17:36] brandonmcclure commented on #14206
@femsulu, I work at the same organization as @MarkIannucci  and am having the same issue when I try to transfer my Azure credits. I have emailed AzCommunity@microsoft.com twice and have also opened 2 service requests through support.microsoft.com  (SR1811300040003070 and SR1812080040000165)

I have not gotten any response, and have been unable to use my benefits because of this issue, and would ap

[2018-12-08 18:21] 101010431 opened #20217 "Azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-08 19:06] NiceMan92 opened #20219 "Service Fabric Instalation failed on Linux (Java APP)"
Hello,
I'm trying to install Service Fabric on Linux (Ubuntu 16.04.5 - 64bit) in order to set up a Java application.
So, I have some troubles installing the Fabric. I have followed the official docs `https://docs.microsoft.com/fr-fr/azure/service-fabric/service-fabric-get-started-linux#installation-methods` but the script `sudo curl -s https://raw.githubusercontent.com/Azure/service-fabric-scripts

[2018-12-08 19:16] cenkersoy opened #20220 "Illustrations on the page"
Why do the illustrations on this page show public Azure, and not Azure Stack ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2edb2b-0741-053d-d5ee-6840ce124048
* Version Independent ID: 5c6f8662-d518-eaf0-732c-c7be9c2f9a7c
* Content: [About VPN gateway for Azure Stack](https://docs.microsoft.com/en-us/azure/azure-st

[2018-12-08 19:41] mrbullwinkle commented on #16652
This request was addressed in the Oct 11 update.

[2018-12-08 19:41] mrbullwinkle commented on #16652
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-08 19:46] kgopi05 opened #20222 "Microsoft Antimalware Extension for Windows using Terraform"
Can you add the below Terraform code for Microsoft Antimalware Extension deployment.  I have tested the same and it added successfully .  This will be useful for others too.

##
resource "azurerm_virtual_machine_extension" "vmantivirus" {
  name                 = "${var.vmantivirus}"
  location             = "${var.location}"
  resource_group_name  = "${rgname}"
  virtual_machine_name = "${azurerm

[2018-12-08 20:59] mike-urnun-msft commented on #20217
Hello @101010431 Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-08 21:00] mike-urnun-msft commented on #20219
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867a5a41-6a54-7c92-6bb3-65eec3159076
* Version Independent ID: f83a57ba-66fc-96a4-9f69-6bb299a51001
* Content: [Set up your development environment on Linux](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux#installation-methods)
* Conte

[2018-12-08 21:02] MicahMcKittrick-MSFT commented on #20222
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-08 21:02] #14608 closed

[2018-12-08 21:02] #15508 closed

[2018-12-08 21:02] mike-urnun-msft commented on #20219
Hello @NiceMan92

Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-08 21:02] #16652 closed

[2018-12-08 21:03] #17399 closed

[2018-12-08 21:03] #18592 closed

[2018-12-08 21:03] #18601 closed

[2018-12-08 21:03] #19535 closed

[2018-12-08 21:03] #19695 closed

[2018-12-08 21:04] #19787 closed

[2018-12-08 21:04] #19965 closed

[2018-12-08 21:04] #19993 closed

[2018-12-08 21:04] mike-urnun-msft commented on #20214
Hi @mzbowe

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-08 21:04] #20019 closed

[2018-12-08 21:04] #20136 closed

[2018-12-08 21:06] mike-urnun-msft commented on #20220
Hi @cenkersoy

Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-12-08 21:08] mike-urnun-msft commented on #20216
Hi @CarlosOnline

Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-12-08 21:08] mike-urnun-msft commented on #20174
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40139e7-7b9e-e3c5-4cf6-860fefdbcf79
* Version Independent ID: 768e160e-b9c5-c8ad-9d4a-56eff82ebd38
* Content: [Choose the right pricing tier for Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/choose-pricing-tier)
* Content Source: [articles/azure-maps/choose

[2018-12-08 21:11] mike-urnun-msft commented on #20128
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c209d9-c15f-87a4-a7ee-bb2bd3416961
* Version Independent ID: 2f76d983-a940-fa5f-abe0-4c851e377608
* Content: [Tutorial - Customize the user interface of your applications in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-c

[2018-12-08 21:25] richardspitz opened #20225 "Regional Support"
Shared Image Galleries now support all Azure regions as target regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Share VM images with Shared Image Gallery in Azure](https://docs.microsoft.com/en-us/azur

[2018-12-08 21:48] NiceMan92 commented on #20219
Hi @mike-urnun-msft you are Welcome.
FYI: I have already set up the environment twice 2 weeks ago, and everything was Ok. The problem showed up this week. That's strange. I think that something went wrong on the Ubuntu packages repository (but I'm not sure).
thanks.

[2018-12-08 22:28] mtrangel opened #20226 "HA using IWA?"
Does AAD support high availability using IWA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [Single sign-on to applications - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/ma

[2018-12-08 23:10] nkwolf commented on #15928
This is still happening, and saving the file without BOM doesn't seem to help either. The application host terminates unexpectedly as soon as a SetUpEntryPoint is defined and the bat executes. What's the final status of this issue? Is there a link to the github issue or a resolution?

[2018-12-08 23:25] sanjaiganesh opened #20228 "Issue with the recommendation on creating lo threads"
Hello,
The I/O bound operation should leverage async/await pattern, instead of creating 100's of threads that simply wait for data from a location across the global...
Only CPU bound operations should go for more threads.. I/O bound shouldn't block a thread and make threadpool usage highly inefficient. Can we change the recommendation here ?

Thanks
Sanjai

---
#### Document Details

⚠ *Do not edi

[2018-12-09 03:34] zippy1981 opened #20237 "Is it possible to access the token or query the microsoft graph from SQL Database"
So once I setup an ADO.NET Connection to an Azure SQL DB with SqlConnection.AccessToken, how can I from inside of T-SQL access either the token, or query AAD about (for example) group membership.

In my particular scenario I'd like to setup row based access control based on either group memberships or directory extensions.  In general I'm looking for methods to pass additional authorization inform

[2018-12-09 04:04] mike-urnun-msft commented on #20225
Hi @richardspitz

Thank you for your feedback! We will review and update as appropriate.

[2018-12-09 04:06] mike-urnun-msft commented on #20228
Hi @sanjaiganesh

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-09 04:08] mike-urnun-msft commented on #20226
Hi @mtrangel

Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-09 04:09] mike-urnun-msft commented on #20237
Hi @zippy1981

Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-09 04:54] nafisIslam opened #20239 "Need Azure Search to remove data that is not in data-source"
I have a file in blob storage `folder/new/data.json`.

It contains json array.

[code]

my datasource body :

[code]

my index body:

[code]

indexer body:

[code]
when created i can search for `a` and `b` and get result.

now i have modified `folder/new/data.json` to

[code]
and run the `indexer`.

but I can still search `b` and get result.
What can i do so that the `index` automatically removes

[2018-12-09 06:30] YutongTie-MSFT commented on #20127
@Rodrigossz That's great, next time please remember to clone the project first! Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-09 06:30] #20127 closed

[2018-12-09 07:45] jason-j-MSFT commented on #19975
@Minewiskan could you take a look at this section:
https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-gateway#high-availability

[2018-12-09 09:00] braest commented on #20213
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/create-resource-group-in-template.md

[2018-12-09 09:42] mcurko opened #20277 "Warning"
Do not try this tutorial if you have "Visual Studio Enterprise with MSDN" Azure subscription. You will find your subscription disabled the following day, on the pretext that Red Hat is billed in addition to your monthly monetary credit, although the terms of use for Red Had claim the opposite!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-12-09 10:13] Expecho opened #20278 "No need for SnapshotCollectorTelemetryProcessorFactory class"
Using the latest nuget package for app insights just doing this

    services.Configure&lt;SnapshotCollectorConfiguration&gt;(Configuration.GetSection(nameof(SnapshotCollectorConfiguration)));
    services.AddApplicationInsightsTelemetryProcessor&lt;SnapshotCollectorTelemetryProcessor&gt;();

will do, no need for the `SnapshotCollectorTelemetryProcessorFactory` class.

---
#### Document details

⚠

[2018-12-09 12:12] JohnStraumann66 commented on #16123
Hi: Still lucking with this, and what I don't understand is why this sample wants to create a "ToDo" table and a checkbox says it will overwrite existing tables. Is there a sample that shows how to create an IOS app that connects to and access and existing Azure Database and Tables? I found this: https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use

[2018-12-09 12:26] xNiklasJern opened #20281 "The policies you configure with Identity protection is the same as the ones you can configure with Conditional Access?"
The mfa registration, user risk policy and sig-in risk, all exist as conditions you can configure in CA. Is there any pros why you would configure these policies in Identity Protection, over Conditional Access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824cd4c8-3448-e778-1907-3a3271d0b38f
* Version Independent ID:

[2018-12-09 13:33] Glifa commented on #15584
Hello,
Did you figure this out? is it "expected" to have a default user created/used  when the user clicks on the SSPR link from login screen ?
Thank you in advance /Haïfa

[2018-12-09 13:37] navy0333 commented on #20041
Would it be nice if you guys include the tutorial with q.js? here's how I use it

`function queryDatabase(queries) {
    var result = [];
    var defered = q.defer(); //initialize promise

    // Start queries!
    var request = new Request(queries, function (err, rowCount) {

        if (err) {
            defered.resolve(err);
            console.log("ERROR ACCESSING DATABASE!");
        } else

[2018-12-09 13:46] LeonB87 opened #20282 "typo GBT Partitioning --> GPT partitioning"
Can I use GBT partitioning on an Azure Disk? should be "Can I use GPT Partitioning on an Azure Disk?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Content: [Frequently asked questions (FAQ) about Azure IaaS Windows V

[2018-12-09 14:17] rkarlin commented on #20182
Hi @nromyn, I'm looking into it, thanks so much for your feedback!

[2018-12-09 14:32] DAXaholic opened #20283 "Article about File Service concepts states that directories do not have metadata"
This [article](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-shares--directories--files--and-metadata) states that File Service directories does not have metadata.

However, the REST API does have operations for [retrieving ](https://docs.microsoft.com/en-us/rest/api/storageservices/get-directory-metadata) and [setting](https://docs.microsoft.com/en-us/rest/api/s

[2018-12-09 14:45] Otaman commented on #12370
Now there is a problem with Python version 3.7.1:
`The package https://files.pythonhosted.org/packages/44/e9/f532c6df3f372eaaa2255b9918834b69518100a386810ef7423b4d4ff589/sfctl-6.0.0-py2.py3-none-any.whl#sha256=43e85c9612e349a57d7ab09611e24fbc0c619a8e8a0edc63ee37c13af8a281d1 (from https://pypi.org/simple/sfctl/) (requires-python:>=2.7,!=3.4,!=3.3,!=3.2,!=3.1,!=3.0,<=3.7) is incompatible with the py

[2018-12-09 16:37] mike-urnun-msft commented on #20239
Hello @nafisIslam Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-09 16:54] mike-urnun-msft commented on #20282
Hi @LeonB87 Thank you for reporting this issue! We will review and make any necessary changes.

[2018-12-09 16:56] mike-urnun-msft commented on #20278
Hi @Expecho Thank you for reporting this issue! We will review and make any necessary changes.

[2018-12-09 16:57] mike-urnun-msft commented on #20277
Hello @mcurko

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-09 17:06] mike-urnun-msft commented on #20283
Hi @DAXaholic Thank you for reporting this issue! We will review and make any necessary changes.

[2018-12-09 17:09] mike-urnun-msft commented on #20217
@101010431 Just following up on my previous comment, please let us know if you wanted to inquire about any specific MS Doc, otherwise, we'll proceed to close this issue.

[2018-12-09 17:10] lukaskabrt opened #20284 "Correct syntax for values, that contains JSON"
If a value in the proxy.json file contains JSON, the correct syntax isn't very intuitive. I think the correct escaping sequence should be mentioned in the documentation. See this issue https://github.com/Azure/azure-functions-host/issues/3830

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba93

[2018-12-09 17:20] DeanGross opened #20286 "Add instructions for Window 2019"
Please update the above documentation to include instructions for Windows Server 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Independent ID: 28bc66e2-0de2-73e6-8cb8-243daab81628
* Content: [Azure AD Connect Health Agent installation](https://docs.microsoft.com/en-

[2018-12-09 17:40] DeanGross opened #20287 "Fix page revision date"
The page date shows 7/17/2017, but there is an update from November 2018 which does not make sense. The page revision date is not getting updated correctly. Please investigate and fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5efdb8-5e17-6502-8e51-c77f8a6aa59c
* Version Independent ID: e11ed733-2e65-7000-87b0-4a

[2018-12-09 18:13] ckarras commented on #19527
What's the correct way to resume a failed download? I'm trying to download a 200gb VHD, it always fails at some point. I try to resume using 'azcopy jobs resume [jobId] --source-sas="[sasToken]"', and I get the following (very unhelpful) message in the job's log:

[P#0-T#0] has worker 177 which is processing TRANSFER
ERR: [P#0-T#0] DOWNLOADFAILED: url: 000 : Blob already exists
   Dst: c:///localp

[2018-12-09 18:17] ckarras opened #20288 "Need documentation on how to resume failed downloads with Azcopy v10"
What's the correct way to resume a failed download? I'm trying to download a 200gb VHD, it always fails at some point. I try to resume using 'azcopy jobs resume [jobId] --source-sas="[sasToken]"', and I get the following (very unhelpful) message in the job's log:

[P#0-T#0] has worker 177 which is processing TRANSFER
ERR: [P#0-T#0] DOWNLOADFAILED: url: 000 : Blob already exists
Dst: c:///localpath

[2018-12-09 18:20] Lefty4444 opened #20289 "Server core?"
Is server core really not supported yet? If confirmed, when is GA planned?

Installers supports silent install and configuration is done via powershell. Hard to see why core is not supported.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Independent ID: e636b9d1-b

[2018-12-09 18:37] Otaman commented on #12370
A workaround: install python 3.7 version (e23247ec179ba32f277857e89b7ae8e70b3e177c - commit of python 3.7.0 release, get from https://github.com/Homebrew/homebrew-core/commits/master/Formula/python.rb).
`brew unlink python`
`brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/e23247ec179ba32f277857e89b7ae8e70b3e177c/Formula/python.rb`

[2018-12-09 18:56] g0pinath opened #20290 "Roles assigned based on group memberships"
I followed these steps and if I assign the AWS directly to a user, it works fine.
But if I granted the role to a security group(premium AD free trial enabled), I dont see the AWS app in myapps.microsoft.com. Please confirm if I need to wait longer, I have logged out and logged in.
The app got removed instantly after I removed the user from the enterprise application - users and groups.

---
#### D

[2018-12-09 18:56] chriswue commented on #12992
@veyalla Sure, but the comment still holds - `host.docker.internal` currently doesn't work for docker-on-linux. Plus with things like linuxkit and rancheros becoming more popular where everything runs in a container this should be on the roadmap. I'm currently putting a small image together based on linuxkit to run our iot edge gateway and running iotedge in a container works pretty well.

[2018-12-09 19:05] Puneetb opened #20292 "osTicket Demo Apps"
Information with reference to osTicket Demo app has a comment "Current the  app" it should be "Currently"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0beb9e9-8d92-0194-7a16-111656529a41
* Version Independent ID: 68fe41fc-951d-d06a-2eba-9c406e5d7c26
* Content: [Overview of Contoso migration to Azure](https://docs.mi

[2018-12-09 19:06] g0pinath commented on #20290
please close this, it took like 20 minutes before it showed up after mapping an AD group.

[2018-12-09 19:30] JohnStraumann66 opened #20293 "Expand on this..."
Hi: it would be great if you could expand on this article and show exactly where to make changes/additions to access other tables in the database besides just the ToDo table. I tried to access another table and changed all the code I could find to point at the other table, but am still getting an error...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-12-09 21:47] PaulStubbs opened #20294 "Missing: image map creation"
There is a huge gap in all of these docs around the step of creating the region map for each image. This is not the way that these are done or coded for real. You would use a tool like LabelImg https://github.com/tzutalin/labelImg    While this doc is technically correct it is misleading and showing people the wrong way to do custom object detection. This creates the official docs and then blogs f

[2018-12-09 23:57] thekamhussain opened #20295 "Could not contact ITSM Partner Error using Service Manager 2016"
I have installed SCSM 2016 UR5 with SQL Server 2014 SP2. This is a new SCSM installation. I have also configured the Web App and connector. I have found that the sync is successful once, after which it constantly fails. The ITSM error message is below. Can you confirm if SCSM 2016 UR5 is supported and what versions of  SCSM (include Update Rollups) you have tested with, is there any solution for t

[2018-12-10 00:07] limjianan commented on #20136
thanks; Just that the screenshot i have seen is old and it is good to refer that

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/user-help/media/microsoft-authenticator-app-how-to/auth-app-configure.png

But i think it should update after it goes GA?

[2018-12-10 00:11] dcbrown16 commented on #20156
@MarileeTurscak-MSFT @billmath
Thanks for checking, I did eventually find the links but looking at it right now those are in a totally different part of the TOC from the article I commented on. I'm actually not sure what's going on because your screenshot does seem to show this article in the AD Connect Sync part of the How-To guides but I'm getting it under Concepts. The history of the doc is mud

[2018-12-10 00:43] vchandm23 commented on #20205
The debugging functionality is not working with VSCode + Windows10 +User Settings as "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe", however it works with powershell.exe ONLY. Can this be addressed or is it something for me only?

Full details of the issue posted in StackOver Flow thead:

https://stackoverflow.com/questions/53677160/debug-on-python-azure-function-http

[2018-12-10 00:47] vchandm23 opened #20297 "The debugging functionality is not working with Windows10 + VSCode"
I tried the MSDN walkthrough, am able to launch the HTTTrigger written in python, however when developing an app debugging step by step is really a core feature.

with User Settings as "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe", however it works with powershell.exe ONLY. Can this be addressed or is it something happening only on my machine?

Full details of the is

[2018-12-10 00:59] vchandm23 commented on #20297
1. My User Settings:
![image](https://user-images.githubusercontent.com/33344547/49705264-91a7d700-fc71-11e8-90f8-dd138f2dc97c.png)

2. My Workspace settings:

![image](https://user-images.githubusercontent.com/33344547/49705274-a5ebd400-fc71-11e8-88f7-74d55c5c4ef5.png)

3. __init__.py when debugged: the python HttpTrigger default function app starts properly, as shown below.
![image](https://user

[2018-12-10 01:22] vchandm23 opened #20298 "20297"
I tried the MSDN walkthrough, am able to launch the HTTTrigger written in python, however when developing an app debugging step by step is really a core feature.

with User Settings as "terminal.integrated.shell.windows": "C:\Program Files\Git\bin\bash.exe", however it works with powershell.exe ONLY. Can this be addressed or is it something happening only on my machine?

Full details of the issue

[2018-12-10 01:50] mike-urnun-msft commented on #20297
@vchandm23 Let us know if you had any feedback you wanted share around a specific MS Doc.

[2018-12-10 01:52] mike-urnun-msft commented on #20288
Hello @ckarras

Thank you for your feedback! We have assigned this issue to content team to review further and take the right course of action.

[2018-12-10 01:53] danmyhre commented on #20044
@kobulloc-MSFT - that link doesn't cover the process specific to SharePoint modern pages.

[2018-12-10 02:03] mike-urnun-msft commented on #20298
Hello @vchandm23  Thank you for your feedback! This channel is for driving improvements towards MS Docs. In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2018-12-10 02:03] mike-urnun-msft commented on #20217
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-10 02:03] #20217 closed

[2018-12-10 02:07] mike-urnun-msft commented on #20294
Hello @PaulStubbs

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-10 02:08] mike-urnun-msft commented on #20284
Hi @lukaskabrt

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-10 02:10] mike-urnun-msft commented on #20295
Hi @thekamhussain

Thank you for your feedback! We will review and update as appropriate.

[2018-12-10 02:10] v-maroge opened #20299 "System requirments to download the agent?"
Any CPU, memory requirements other than cache folder?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ad5c91-acc2-a50b-0b4a-8298c608df41
* Version Independent ID: 2e80d5ac-1918-61f8-87d4-8133a0250b1b
* Content: [Azure Backup agent FAQ](https://docs.microsoft.com/en-us/azure/backup/backup-azure-file-folder-backup-faq#a

[2018-12-10 02:12] mike-urnun-msft commented on #20292
Hi @Puneetb

Thank you for reporting this issue! We will review and make any necessary changes.

[2018-12-10 02:13] mike-urnun-msft commented on #20286
Hi @DeanGross

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-10 02:15] mike-urnun-msft commented on #20287
Hi @DeanGross

Thank you for reporting this issue! We will review and update as appropriate.

[2018-12-10 02:17] mike-urnun-msft commented on #20289
Hi @Lefty4444

Thank you for your feedback! We will review and update as appropriate.

[2018-12-10 02:19] vchandm23 commented on #20298
This is the MSDN Doc link:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

[2018-12-10 02:19] mike-urnun-msft commented on #20290
Hi @g0pinath Glad to hear that it! If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-10 02:20] vchandm23 commented on #20298
This is the one:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

[2018-12-10 02:20] mike-urnun-msft commented on #20293
Hi @JohnStraumann66

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-12-10 02:47] dcbrown16 commented on #13795
@jorupp @femsulu @cwatson-cat
It looks like that info was added in September so this can probably be closed.

[2018-12-10 03:04] jason-j-MSFT commented on #20034
@krisneil My guess is the traffic from the IR in your VNET will perform the copy activity to Blob storage from within the Azure fabric.

@nabhishek this is a point you may be interested in documenting.

[2018-12-10 03:08] jason-j-MSFT commented on #20054
@jejosep the audience in the forums might be better able to answer this question.  Ask your question here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics

@mamccrea feel free to comment if you have a suggestion.

[2018-12-10 03:08] #20054 closed

[2018-12-10 03:11] jason-j-MSFT commented on #20100
@GauravSagne could you open a support ticket for this issue?  If you do not have a support plan, email us at 'AzCommunity@microsoft.com'.

Remember to include your Subscription ID and a link the this thread.

[2018-12-10 03:11] #20100 closed

[2018-12-10 03:46] imeya commented on #19756
@Grace-MacJones-MSFT , I'll take try and let you know, thank you.

[2018-12-10 03:57] CHEEKATLAPRADEEP-MSFT commented on #19683
@LuisBosquez Any update on this?

[2018-12-10 03:58] wahyuen commented on #19690
Perhaps a fundamental question, was this feature meant to be something that developers could use to be able to 'resolve' application settings from code, calling out to KeyVault? Or was it originally intended to be used only at deployment time? Would be good to understand this so that myself (and possibly others) can figure out if this is a suitable feature to be waiting on.

[2018-12-10 03:59] CHEEKATLAPRADEEP-MSFT commented on #19755
@ronitr  Any update?

[2018-12-10 04:00] CHEEKATLAPRADEEP-MSFT commented on #20023
@wahyuen We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-10 04:00] #20023 closed

[2018-12-10 04:21] dcbrown16 opened #20301 "Improve security blurb"
"Use default inbound closed for public IP and Load Balancer endpoints and a network security group to explicitly whitelist for traffic to flow."
This sentence is pretty unclear for several reasons. I think "default inbound closed" is trying to refer to the fact that an NSG is closed to external traffic by default, but it sounds like a setting of Standard LBs. Also the structure of the sentence is

[2018-12-10 04:29] femsulu commented on #19831
@DCtheGeek would it be possible to update the doc with an example?

[2018-12-10 04:31] mike-urnun-msft commented on #20299
Hi @v-maroge

Thank you for your feedback! We will review and get back to you with our findings.

[2018-12-10 04:37] DCtheGeek commented on #19831
Working on a sample with the team, just hadn't marked this as #in-progress yet.  But it is. :)

[2018-12-10 04:38] femsulu commented on #19819
@steversk your feedback has been passed on to the feature owner for further evaluation. We will now close this loop. we appreciate the valuable feedback.

@adamabmsft - fyi.

[2018-12-10 04:38] #19819 closed

[2018-12-10 04:43] femsulu commented on #19977
@anirudhcavale , any input pls?

[2018-12-10 04:47] femsulu commented on #19978
Closing this issue for now as it has been redirected to email.
@snehithm will greatly appreciate if you can update the thread with the final outcome.

[2018-12-10 04:47] #19978 closed

[2018-12-10 04:49] kobulloc-MSFT commented on #20044
@danmyhre Thank you for the suggestion!  We'll assign this to the document author so they can add this to their queue.

[2018-12-10 04:49] trinadhkotturu commented on #20083
@femsulu Geetha from my team is the owner of these articles going forward. Can you forward requests accordingly?

[2018-12-10 04:51] femsulu commented on #20050
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-10 04:51] #20050 closed

[2018-12-10 04:53] femsulu commented on #20053
Closing this thread since the conversation has been redirected to email.
@snehithm , Would appreciate it if you can update the thread with the final outcome.

[2018-12-10 04:53] #20053 closed

[2018-12-10 04:55] femsulu commented on #20083
reassigning to Geetha per update from @trinadhkotturu

[2018-12-10 04:59] femsulu commented on #20206
adding @anirudhcavale

[2018-12-10 05:37] jakaruna-MSFT commented on #20282
@LeonB87 Thanks for reporting.  Change should reflect within few hours.

[2018-12-10 05:41] #20282 closed

[2018-12-10 05:47] jakaruna-MSFT commented on #20028
@amandadebler
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-12-10 05:47] #20028 closed

[2018-12-10 06:02] SubhashVasarapu-MSFT commented on #20301
@dcbrown16 Thank you for the valuable feedback, we are investigating the issue.

[2018-12-10 06:05] jawand commented on #20033
bump.

I still have questions. Please reopen this issue and help me here.

[2018-12-10 06:46] odedmozesh opened #20311 "DeviceTwinStatusCallBack - cannot find symbol"
I got the error :
[ERROR] /C:/Simulated device/Java/Microsoft Demo/simulated-device/src/main/java/com/microsoft/docs/iothub/samples/SimulatedDevice.java:[129,38] cannot find symbol
  symbol:   class DeviceTwinStatusCallBack
  location: class com.microsoft.docs.iothub.samples.SimulatedDevice

Need to add the following class into the main class
    {
        @Override
        public void execute(Iot

[2018-12-10 07:16] novino commented on #18713
@wasabii , could you share the Service Fabric logs from your cluster.
Refer - [how to collect logs for standalone cluster](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server#get-support-for-the-service-fabric-for-windows-server-package).

[2018-12-10 07:16] atullalwani opened #20312 "TDE Status"
Hello,
Are Azure Database for PostgreSQL/MySQL encrypted with TDE by default?
If yes, Databases launched after which date are enabled with TDE.
Where can I check if this parameter is enabled for our databases?

Regards
Atul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e17627-961e-e3c3-b2cd-ef137e5ec590
* Version In

[2018-12-10 07:16] novino commented on #18713
@darran1971 were you able to unblock yourself ?

[2018-12-10 07:17] atullalwani commented on #20312
TDE=transparent data encryption

[2018-12-10 07:29] LJ9999 opened #20313 "I can't believe it - a document that actually worked!"
Great job!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829303e-b6ba-537c-2751-8497e3d591cc
* Content: [Tutorial - Host your domain and subdomain in Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns)
* Content Source: [a

[2018-12-10 08:01] #20290 closed

[2018-12-10 08:14] kazshi opened #20317 ""Enabling" IDS/IPS"
"Here you typically enable distributed denial of service (DDoS) prevention, intrusion detection/intrusion prevention systems (IDS/IPS), firewall rules and policies, web filtering, network antimalware, and more."
I understand Azure provides DDoS prevention service - but how's about IDS/IPS and the listings? does it mean we need to deploy them by ourselves? I'd like to make sure that. Thanks.

---
#

[2018-12-10 08:18] CasperJ opened #20318 ""function name" when using Routes"
What is the correct way to address Azure Functions where Routing is enabled?

If have a function which have the following signature
`public static bla bla bla([HttpTrigger(AuthorizationLevel.Function, "post", Route = "My/Shiny/New/Function")] HttpRequestMessage req)`

I've tried to enter the actual function name in `Function Name` with no luck. I've also tried `api/My/Shiny/New/Function` and `My/S

[2018-12-10 08:22] Zir01 commented on #12074
I am back to give Mesh another shot. I cloned the repository, updated all my SDKs and VS2017 on latest update. The project now builds, deploys and works fine.

But I am getting a weird intermittent problem: When refreshing the page, the request to the backend service will fail (approx on every 3rd request) with the following error:

System.Net.Http.HttpRequestException: 'No such host is known'
Inn

[2018-12-10 08:47] kazshi commented on #20163
@TravisCragg-MSFT Thanks for your comment. I understand DDoS potection basic supports CDNs.

[2018-12-10 08:47] #20163 closed

[2018-12-10 08:49] bertrandpons commented on #19958
@BryanTrach-MSFT It was more about a feeling than a metric-based feedback. As you tell me that it is not supposed to provide a slow experience, I will investigate further to see if my use case could cause a slow experience by using connection strings from application settings blade. Thank you.

[2018-12-10 08:49] #19958 closed

[2018-12-10 09:00] darran1971 commented on #18713
I haven't tested this in our production environment yet, as I have an issue activating the new backup/restore service. That seems permission related "access denied" when starting up an OWIN host, even though I have added the "Nt Authority\System" account as an admin. I will try to test this with the Patch Orchestration service over the next few days.

[2018-12-10 09:09] dwaynebailey opened #20321 "GroupIds is a list"
E.g. in my code I have:

 "AzNsNotification": {
        "GroupIds": [
             "[resourceId('Microsoft.Insights/actionGroups', parameters('ActionGroupName'))]"
        ],
        "CustomEmailSubject": "[variables('MyAlert').AzNsNotification.CustomEmailSubject]",
        }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-10 09:22] ChiragMishra-MSFT commented on #20318
@CasperJ Thanks for the feedback. We are currently investigating into it and will update you shortly.

[2018-12-10 09:31] cephalin commented on #20175
@eschuurman Note that you can install .NET Core 2.2 as an extension to your app. Look for the Extensions page for your app in the portal.

[2018-12-10 09:31] SamirFarhat opened #20322 "Flow symmetry"
Hi,
Can you provide more details to explain the flow symmetry. This is a very important information to be ex licitly clear.
https://github.com/MicrosoftDocs/azure-docs/issues/20167

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc1f74d6-447c-5a0c-d644-5e5008396f2f
* Version Independent ID: 0faeb52e-769a-b99b-1a3f-2f513

[2018-12-10 09:31] raunakpandya commented on #18713
@darran1971 - What's the issue you facing with activating Backup Restore service? Can you please open up a new issue for that? Would be happy to help you unblock.

[2018-12-10 09:37] hrushib commented on #18713
@raunakpandya, there is already an issue, #19950,  for BRS activation which we are investigating.

[2018-12-10 09:42] KetanChawda-MSFT commented on #20042
Hello @MattAltieri Did you get a chance to look my previous response ? Can you please follow the same steps in completely new environment.

[2018-12-10 09:45] shchoy commented on #20059
Do we have a solution yet to this? I am also getting the same error after successfully deploying the zip file.

[2018-12-10 09:45] jakaruna-MSFT commented on #20219
@NiceMan92 I followed the doc and i got the same error. After troubleshooting i got some info.
`servicefabricsdkcommon `depends on `servicefabric `package.
`servicefabric `depends on `zulu-8-azure-jdk`. Zulu JDK is missing in the the system and we don't have any repos which points to that.
Generally script should install JDK or at least it should check if that package is there or not and warn.
Sin

[2018-12-10 09:54] neeleshray commented on #20128
When you create a sign-up or sign-in user flow (with local accounts), you see a Forgot password? link on the first page of the experience. Clicking this link doesn't automatically trigger a password reset user flow.

Instead, the error code AADB2C90118 is returned to your app. Your app needs to handle this error code by invoking a specific password reset user flow. For more information, see a [sam

[2018-12-10 09:55] eschuurman commented on #20175
Well, I found the extensions, but it still didn't work with the extensions, probably because the extensions are still the 2.2 preview versions?

In the end I got it to work with 2.2 using the info about ANCM on: https://blogs.msdn.microsoft.com/webdev/2018/12/04/asp-net-core-2-2-available-today/

To be honest the feedback while deploying and trying to run it in Azure could be much better in my opi

[2018-12-10 10:01] neeleshray commented on #20281
Conditional Access is available with both versions of Azure AD Premium (P1 and P2) whereas The Identity Protection is available only with Premium P2 version. Other than that you also get the [Detection and Investigation summary](https://docs.microsoft.com/en-in/azure/active-directory/identity-protection/overview#detection) with Identity Protection.

[2018-12-10 10:03] SubhashVasarapu-MSFT commented on #20313
@LJ9999  Thanks for the feedback. Let me know if you have any further queries regarding this document that I can help you.

[2018-12-10 10:06] neeleshray commented on #20226
[Connectors ](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-connectors) are what make Azure AD Application Proxy possible. The connectors and the service take care of all the high availability tasks. They can be added or removed dynamically. Each time a new request arrives it is routed to one of the connectors that is currently available. If a connector is t

[2018-12-10 10:10] shchoy opened #20323 "Cannot find path 'Azure:/quickstart' because it does not exist"
after mkdir quickstart.... I can't cd quickstart.... although the folder was successfully created. This is the error..
Cannot find path 'Azure:/quickstart' because it does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e28-471b-2cf4-3eb8-6249b4ef3016
* Version Independent ID: f199d3a2-0c11-e2d6-18f0-d081

[2018-12-10 10:10] kumaranpravin opened #20324 "Column Level visibility when auto-process is enabled"
If the pre-process is set to True, i know there are some pre-processing steps applied to the columns. In my case, I have a date column and the result shows there are totally 73 features that are derived from it. Is there any way, where can i see the underlying transformation (ie) i wanted all the 73 features and how they are derived?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-12-10 10:17] eschuurman commented on #20175
@BryanTrach-MSFT , well to be honest, I just spent half an hour looking in the Kudu and still haven't found the supported runtimes. Besides that, you first have to deploy an App Service and later have to find out in the settings of your deployed App Service that the run-time you target is not supported? Sound strange to me, I'd prefer to have a clear error message when I try to deploy it.

[2018-12-10 10:23] cephalin commented on #20145
@rgrwatson85 Thank you for taking the time to report it to us. I've made the update and it should be published in the next day.

[2018-12-10 10:23] DeanGross opened #20325 "Guest user licensing"
The statement that ""Each user who interacts with this feature, ...., requires a license" is immediately followed by reference to B2B licensing which states guest users DO NOT need a license. is a little bit confusing and requires the reader to do some extra work. It would be better to state something like "Each user, except for B2B users, who interacts..."

---
#### Document Details

⚠ *Do not ed

[2018-12-10 10:30] SychevIgor commented on #9109
no reaction for a 6months

[2018-12-10 10:30] #9109 closed

[2018-12-10 10:30] SychevIgor commented on #9106
no reaction for a 6months

[2018-12-10 10:30] #9106 closed

[2018-12-10 10:33] SychevIgor commented on #17902
@ramankumarlive @siriusk-MSFT @yuemlu one more try

[2018-12-10 10:34] SychevIgor commented on #9107
nobody care for a 6months

[2018-12-10 10:34] #9107 closed

[2018-12-10 10:35] AshokPeddakotla-MSFT commented on #17741
@xsqian @skipsteiger

I followed the documentation and I'm able to complete it without any issues. As mentioned in the document Note, Azure IoT Central has transitioned to using Azure IoT Hub Device Provisioning service (DPS) for all device connections. Please make sure you generate connection string and execute Prepare the client code section without any issues.

Follow these instructions to [Get

[2018-12-10 10:43] jsiegmund opened #20326 "Please document how to set continuous deployment option from ARM template"
I've been looking to find how to enable the "Continuous Deployment" switch from an ARM deployment, but was unable to up to now. It would be nice if this can be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a053a774-e0e7-e7c7-8a08-7244cb0f058d
* Version Independent ID: 7acef172-4c69-6502-d506-c8c3ef13a1c1
*

[2018-12-10 10:43] GauravSagne commented on #20100
Hi Jason

I've created a support ticket.
Let me know in case you need any more details.

Thanks
Gaurav

[2018-12-10 10:54] MattAltieri commented on #20042
It was on a new function app each time I tried it, as per the instructions in the lab. I tried it three times, and each time I removed the entire resource group and started from scratch.

[2018-12-10 10:56] tkostelijk opened #20327 "Syntax error in Assign the default Security Center policy initiative"
Get-AzureRmPolicySetDefinition -Name '[Preview]: Enable Monitoring in Azure Security Center' results in "Policy could not be found"

Get-AzureRmPolicySetDefinition||where {$_.Properties.displayName -EQ '[Preview]: Enable Monitoring in Azure Security Center'} returns the correct result.
(AzureRM.Resources 6.7.1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-12-10 10:56] darran1971 commented on #18713
Ok, I have checked, and can confirm that the Upgrade Orchestration service failed to run on Sunday at 18:00, with the NT Authority\System account added as an admin.

[2018-12-10 11:00] DeanGross opened #20328 "Add Prerequisite Section"
Please add a Prerequisite section like many of the pages have and include the licensing requirements in it. This is important info and should be at the top of the article instead of the last thing mentioned.
Making a Prerequisite section a standard part of the page templates would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-12-10 11:12] michaelraam opened #20329 "Copy from on Prem SQL Server to Azure VM SQL Server"
Hi,

When trying to Copy from "On Prem" SQL Server to Azure VM SQL Server, getting a validation error "Source and sink in the copy activity must be connected  via the  same-self hosted IR". But when setting up both with the Same "self hosted" IR the copy activity via ADF2 showing limited connectivity and does not work.

Found a solution via using an Azure storage  or some other staging using the A

[2018-12-10 11:30] darran1971 commented on #19950
[e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131883214707055120_32_00636794494218324538_2147483647.dtr.zip](https://github.com/MicrosoftDocs/azure-docs/files/2662942/e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131883214707055120_32_00636794494218324538_2147483647.dtr.zip)
[e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131883214707055120_37_006367944952

[2018-12-10 11:34] darran1971 commented on #19950
[e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131883214707055120_32_00636794494218324538_2147483647.dtr.zip](https://github.com/MicrosoftDocs/azure-docs/files/2662958/e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131883214707055120_32_00636794494218324538_2147483647.dtr.zip)
[e8fb74f2cf373516634a3b7ff8f76b65_fabric_traces_6.4.617.9590_131883214707055120_33_006367944943

[2018-12-10 11:57] pauska commented on #12366
We are still experiencing this issue. Any status update on when this is scheduled to be fixed?

I also notice that the download link for the plugin (https://www.microsoft.com/en-us/download/details.aspx?id=56506) now says that it's version 2.0, but when I download and install the plugin in Jira, it still says version 1.0.1.

[2018-12-10 12:07] cephalin commented on #20145
#please-close

[2018-12-10 12:08] ManojReddy-MSFT commented on #20328
@DeanGross Thanks for the feedback. I have assigned this to the author to consider adding the prerequisites section to the doc.

[2018-12-10 12:15] kennekro commented on #19690
Got the same problem as romankiss above, where the @ prefix does not seem to work.
Any suggestions for solving this? Using runtime version 1.0.12205.0 (~1).

[2018-12-10 12:19] rayne-wiselman commented on #19077
This is fixed #please-close

[2018-12-10 12:37] rayne-wiselman commented on #18979
Not sure what you mean by seamless. VMs needs to be able connect out to specific addresses to connect to Site Recovery.

Continuous replication transfers disk writes  to the cache storage account. Site Recovery processes the data, and sends it to the target storage account or replica managed disks.

More info in the architectural overview for Azure to Azure replication here - https://docs.microsof

[2018-12-10 12:37] ChiragMishra-MSFT commented on #20318
@douglaslMS I tried out the steps mentioned in the doc, with and without a route set up(in the function app). It seems to be throwing an error when the Azure Function Activity is run :

{
    "errorCode": "3600",
    "message": "Error calling the endpoint.",
    "failureType": "UserError",
    "target": "Azure Function1"
}

Can you please have a look at this and make the necessary changes in the d

[2018-12-10 12:41] mtrangel commented on #20226
In my environment I already have the connectors in HA but I can not use for SSO in my applications on premises. I have tried to use the connectors service with service user and delegate SPN to Kerberos, this user and it still did not work.

Atenciosamente,

[https://www.bhs.com.br/wp-content/uploads/2018/11/logo-assiantura.png]<https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fbhs.co

[2018-12-10 12:43] jakaruna-MSFT commented on #20203
@AndyWu7623 Azure will take 5 IP's per subnet irrespective of the subnet belongs to AKS or not.
We can add a note to take these 5 ips into account.
But still its recommended to have enough free ips in a subnet.
If we take a single node cluster and we are planning to host 30 containers per node, Our planning will be like this.
`(1+1) + ( ( 1+1) * 30) = 62 ` Here number of nodes is 1. and we have ad

[2018-12-10 12:44] xNiklasJern commented on #20281
That didn't really answer my question, at all

[2018-12-10 12:44] doneuros opened #20330 "Cosmos DB Account Name Length"
[Enter feedback here]
I wanted to create a CosmosDb with Account Name xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
as a error I get "The value must have a length of at most 31"
In the document it is stated that the ID can be have a length of 3 to 50.
And

So ID length would be 31 or including documents.azure.com.

I have the impression that the api changed.

---
#### Document Details

⚠ *Do not e

[2018-12-10 13:09] Bogdan-Catalin commented on #17350
I was unable to obtain a valid access token with @jscott3201 's example on a Web/API app registration. After getting a token, when making a request to the digital twins management API I get `401 Authorization has been denied for this request.`

What should I use for `TWIN_RESOURCE` ? I tried both app id URI and app id of app registration, as stated in the client credentials doc.

Does it matter wh

[2018-12-10 13:12] jscott3201 commented on #17350
Not in the office yet but that token method only pulls types and fails on
every other endpoint. On behalf of flow is ideal for production. I plan to
work on this today funny enough so I’ll be happy to share what I can on it.
I prefer Javascript and wish for more JS/TS examples.

On Mon, Dec 10, 2018 at 8:09 AM Cătălin Bogdan <notifications@github.com>
wrote:

[2018-12-10 13:13] jscott3201 commented on #17350
Secondly the resource is static. It’s the identifier for the service from the Azure standpoint.

[2018-12-10 13:14] AnuragMehrotra commented on #20105
@Ayanmullick We are working on adding PowerShell support and targeting for H1CY19. @pvrk is working on the feature.

[2018-12-10 13:15] ManojReddy-MSFT commented on #20327
@tkostelijk Thanks for the feedback. We will investigate this and update you shortly.

[2018-12-10 13:20] cephalin commented on #20197
@wcswanson This is by design. There's this statement "For simplicity in this tutorial, you're only going to change the Index and Create views to see the property in action." #please-close

[2018-12-10 13:20] cephalin commented on #20197
Also "Remember that the Edit view doesn't show the Done field, because you didn't change the Edit view."

[2018-12-10 13:26] bryanjahn opened #20331 "Sort-Object alias missing from default Azure Cloud Shell?"
Create a Resource Group, Step 1 - "Get-AzureRmLocation | sort DisplayName | Select DisplayName" from the Azure Cloud Shell produces the following error: "/usr/bin/sort: cannot read: DisplayName: No such file or directory" Replacing "sort" with "Sort-Object" produces the intended results. The "Sort-Object" alias does not appear to be present in the Azure Cloud Shell by default.

---
#### Document D

[2018-12-10 14:11] sergaz-msft commented on #20162
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 14:11] #20162 closed

[2018-12-10 14:14] Ayanmullick commented on #20105
@pvrk could you share a guide using the `Invoke-RestMethod` cmdlet in the meantime?

[2018-12-10 14:17] dazbocooper commented on #9266
I have an issue when enabling Accelerated networking on a second NIC that it does not get an IP address on reboot?

[2018-12-10 14:18] pvrk commented on #20105
@Ayanmullick: Are you looking at any one particular scenario or for all operations?

[2018-12-10 14:18] cfield80 commented on #15584
Likewise, we seem to have the exact same behaviour, defaultuser and the function not actually working!

[2018-12-10 14:21] Ayanmullick commented on #20105
@pvrk Just the plain setup as shown in the video. so one can script the Backup and restore instead of having to do manually each time.

[2018-12-10 14:22] CHEEKATLAPRADEEP-MSFT commented on #20330
@doneuros Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.
@SnehaGunda  Could you please clarify on the same. (Is it 50 characters along with documents.azure.com).
Example below: It will allow upto 31 characters, beyond that throws error messages as follows.
![image](https://user-images.githubusercontent.com/44426401/49738139-

[2018-12-10 14:37] martinstenhoff opened #20333 "1.2.68.0 contains unsigned dlls"
The following dlls are unsigned in release 1.2.68.0:
* Microsoft.IAM.Connector.GenericLdap.dll
* Microsoft.IAM.Connector.GenericSql.dll
* Microsoft.IAM.Connector.PowerShell.dll
* Microsoft.IdentityManagement.MA.WebServices.Activities.dll
* Microsoft.IdentityManagement.MA.WebServices.Activities.Ext.dll
* Microsoft.IdentityManagement.MA.WebServices.Commons.dll
* Microsoft.IdentityManagement.MA.WebSe

[2018-12-10 14:38] garsidestephen opened #20334 "Documentation Incorrect"
Your instructions would not work for me trying to add App Insights via Azure to my web api.  The document says to add:-
&lt;add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" /&gt;

Which I did and could not get trace logging working.  When I re-installed the nuget packages they added this line to my web.config:-
&lt;add name="knowledgeFra

[2018-12-10 14:54] Balenius opened #20335 "How to troubleshoot Source object scope etc?"
We are having issues setting the workday to active directory up. We have configured it according to the guide. Have the agent installed and no test fails. But when we specify a specific scope to test. We are not getting any accounts synced to AD. I can see from the agent logs that it connects and then sets so it will connect after 10minutes again. But I can't see that it actually tries to sync any

[2018-12-10 14:55] vd3d commented on #16396
Please, do you have any update about the Graph emulator ? We are waiting since this summer :-P ;-)

Thanks

[2018-12-10 15:12] spelluru commented on #20183
@axisc - Please confirm when you get a chance and I will update the content. Thanks

[2018-12-10 15:13] dpetrizze commented on #19855
I have the same request as OP here, would be nice to have PATCH request as with classic.

Also note that the Update-AzureRmMlWebService example above is missing a command-line option to tell the update which web service definition to use (at least in my case).  I needed to add -ServiceUpdates $wsd in order for the update to be successfully applied to my prediction service.

[2018-12-10 15:18] andy2002a opened #20336 "On-premises integration has not been enabled. Learn how to enable password writeback."
I have followed this guide but I still get "On-premises integration has not been enabled. Learn how to enable password writeback." under Home\Users\Password reset - On-premises integration.

We have Office 365 E3 licenses assigned to the tenant which should work according to this: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-writeback

---
#### Document Detai

[2018-12-10 15:22] pierslawson commented on #19424
@TravisCragg-MSFT I don't think the original question was just about how to use the CLI, PowerShell or ARM... there doesn't seem to be any examples of how to do this through the portal either. For example, if I don't want the WAF to inspect the id_token in form data (as it sometimes contains a "--" which is seen as SQL injection) how do I do this?

[2018-12-10 15:24] dominicbetts commented on #20070
Hi @JetstreamRoySprowl - I'm following up with the engineering team at the moment. I'll get back to you as soon as I have an update. Thanks!

[2018-12-10 15:28] sdecker opened #20337 "Need to change LEN to datalength"
Unfortunately, I keep getting an error from GitHub trying to submit a PR to change the source code so opening comment. This line
SELECT max(len(ColumnName)) as LEN from TableName
should be changed to
SELECT max(datalength(ColumnName)) as LEN from TableName

LEN only reports characters not spaces. It also does not work with TEXT or IMAGE data types. Datalength resolve both of these issues.

---
###

[2018-12-10 15:34] saulcruz commented on #20066
Thank you @marktab and @YutongTie-MSFT

[2018-12-10 15:40] strategywise opened #20338 "Missing clarity in the attach AKS script"
aks_target.wait_for_completion(True) is not defined in the script to attach to an already established cluster. aks.target is defined in the cluster creation script above it but that step shouldn't be present when just attaching to an already running cluster . Also suggest clarifying and fully breaking out the attachment script to be self standing with import, etc defined and not left to be inferre

[2018-12-10 16:02] rquintino opened #20340 "rename shape to shap"
shape_values: The explanation information generated by shape lib
should be
shap_values: The explanation information generated by shap lib
also in code snippets
here it is ok: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/service/how-to-configure-auto-train.md

(great addition btw! )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-12-10 16:12] jamsiedaly commented on #18280
Hi guys, really interesting looking tutorial. I was trying to get started today but ran into an issue. After I generated my Azure Blockchain Workbench there was only one service app created. This was the API one with the swagger doc. Any suggestions on how to fix this would be most welcome.

[2018-12-10 16:13] RobertoPrevato opened #20341 "Please document other kinds of telemetries"
Hi,
The LocalForwarder with OpenCensus is a great feature, it would be interesting to have documented how to log other kinds of objects handled by Application Insights, like: web requests, dependencies, traces. Currently it is not clear, after reading the documentation about LocalForwarder, how to track anything besides events.

Details are hidden behind the "auto-magic" happening inside the conte

[2018-12-10 16:14] gwalters69 opened #20342 "Twitter authorization not working"
In the logic apps designer, when I try to use "When a new tweet is posted", I click Sign In, a popup window authorizes me, and then the "This logic app will connect to: Twitter" window gets a red exclamation point, and mouseover says "Failed with error: 'The browser is closed.'. Please sign in again."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-12-10 16:16] ryangugcloudca commented on #20038
Thank you for the reply.
When users enter password into a LDAP application, the application is able to see the clear text password. This is  the reason I prefer SAML or OAuth.

[2018-12-10 16:18] gwalters69 commented on #20342
To be clear, on my twitter account, it shows "Microsoft Azure Logic Apps by Microsoft" being authorized. So the logic app/azure side is not remembering this authorization.

[2018-12-10 16:20] lyrana commented on #17350
@Bogdan-Catalin the Digital Twins resource ID is 0b07f429-9f4b-4714-9392-cc5e8e80c8b0, the audience of your token is most likely incorrect, please use the above GUID and it should work. Also check out these steps https://docs.microsoft.com/en-us/azure/digital-twins/how-to-configure-postman Make sure that the app registration has been granted deletaged permissions. The reply URL only matters when y

[2018-12-10 16:23] Sambsamb commented on #13147
Yep, testing now. It will take a few days to test different scenarios. Will post results and analysis..

[2018-12-10 16:43] mrbullwinkle commented on #20341
Adding @nikmd23 who should be able to help with some of the questions on OpenCensus/Local Forwarder.

@RobertoPrevato on the live metrics front are you looking for documentation like [this](http://apmtips.com/blog/2017/02/13/enable-application-insights-live-metrics-from-code/) or something else?