[2022-07-14 10:29] AjayKumar-MSFT commented on #95561
alfredorevilla, Thanks for the feedback. Much appreciate the update.

[2022-07-14 10:37] AjayKumar-MSFT commented on #95361
@leizhang1984,  Thanks for leveraging Azure docs feedback channel to raise this feedback. Since you have closed the thread I presume the issue is sorted out, if it's not the case or you need further assistance kindly just let us know.

[2022-07-14 11:08] reallyworksxyz opened #95755 "Invalid endpoint type enabled; only SQL endpoint type is supported."
When following the instructions for Linux:MongoDB Emulator
[code]
I received the following results:

I am using `Ubuntu 20.04.4 Server LTS` and `Docker version 20.10.17, build 100c701`. When running the command for `SQL endpoints` everything works 100%.

Similar issue refrences:
- https://github.com/MicrosoftDocs/azure-docs/issues/94775
---
#### Document Details

⚠ *Do not edit this section. It is

[2022-07-14 11:10] cristian-eriomenco opened #95756 "Azure Api Management - JSON Schemas lack details"
It is unclear how to define a JSON schema, and what format it expects. Does it expect a language defined by the [json-schema.org](https://json-schema.org/) or does it derive the schema from an example?

There are no clear samples showing what needs to be done and what is the supported syntax for:
- Required/Optional fields
- Locked in types eg: number/string
- Locked in values/ranges

**Suggestion

[2022-07-14 11:27] slashd opened #95757 "Code under the copy buttons are incorrect"
Example:

Section: Discover WebApps => copy button
expected:  `dir .\WebApps\`
actually:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0b2-4810-7c05-b867a9aa06af
* Content: [Azure Cloud Shell Quickstart - PowerShell](https://docs.microsof

[2022-07-14 11:46] KrishnaG-MSFT commented on #95748
@ciufudean  Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-14 11:46] KrishnaG-MSFT commented on #95757
@slashd  Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-14 12:18] tomonion commented on #89995
Hi, I still haven't heard anything further about this issue. Please could you provide an update. We have another use case for the above upcoming and I would like to know if we will be able to talk to our on premise devices from the ACI across the VPN. Thanks.

[2022-07-14 12:29] ToothlessRebel opened #95759 "No CLI Instructions"
There should likely be a link to the CLI instructions somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24faac4f-d940-7710-f395-577118d765af
* Version Independent ID: 10d25201-c843-17ce-17c9-ca3aaa07e02f
* Content: [Quickstart: Create an open-source Redis cache](https://docs.microsoft.com/en-us/azure/azure-cach

[2022-07-14 12:34] rajb865 opened #95760 "Unable to connect with top layer edge device from lower edge device"
Unable to connect with top layer edge device from lower level edge. I am following the tutorial [Tutorial: Create a hierarchy of IoT Edge devices](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-nested-iot-edge?view=iotedge-2020-11).

Steps to reproduce.

1. Create two edge device using the following code
`az deployment group create \
  --resource-group <REPLACE_WITH_YOUR_RESOURCE_GROUP>

[2022-07-14 12:37] MonikaReddy-MSFT commented on #95752
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-14 12:48] lrtoyou1223 commented on #89920
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-14 12:48] #89920 closed

[2022-07-14 12:50] GeethaThatipatri-MSFT commented on #95755
@reallyworksxyz Thanks for reaching out, We will Investigate and update you shortly.

[2022-07-14 12:53] GeethaThatipatri-MSFT commented on #95759
Hi @ToothlessRebel Thanks for your findings,We will investigate and update as appropriate

[2022-07-14 12:54] nitinkansal1984 commented on #95752
https://docs.microsoft.com/en-us/azure/aks/web-app-routing

[2022-07-14 13:00] lrtoyou1223 commented on #91491
We have already supported copy TTL. Please see the details in this doc.

[2022-07-14 13:00] lrtoyou1223 commented on #91491
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-14 13:05] lrtoyou1223 commented on #91530
You can follow this doc to grant the permission to SAMI of data factory, then SHIR can retrieve from AKV. https://docs.microsoft.com/en-us/azure/data-factory/store-credentials-in-key-vault#steps

[2022-07-14 13:05] lrtoyou1223 commented on #91530
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-14 13:06] #91530 closed

[2022-07-14 13:14] lrtoyou1223 commented on #92187
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-14 13:14] #92187 closed

[2022-07-14 13:15] omondiatieno commented on #93847
#assign:omondiatieno

[2022-07-14 13:19] lrtoyou1223 commented on #92540
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-14 13:19] #92540 closed

[2022-07-14 13:21] lrtoyou1223 commented on #92773
@jianleishen to comment this issue.

[2022-07-14 13:30] lrtoyou1223 commented on #94792
The managed private endpoint follows the behavior of standard one. So I think that's the only approach. Please contact networking team for any security guidance.

[2022-07-14 13:30] #94792 closed

[2022-07-14 13:30] robert-bunch opened #95761 "Azure AD Registered satisfies Sign-In Frequency Policy accuracy"
User sign-in frequency and device identities
If you have Azure AD joined, hybrid Azure AD joined, or **Azure AD registered devices**, when a user unlocks their device or signs in interactively, this event will satisfy the sign-in frequency policy as well.

Can we confirm the accuracy to this? Does locking/unlocking your Azure AD Registered device satisfy the sign in frequency since it does not use

[2022-07-14 13:31] snobu opened #95762 "[Container Apps] Secrets: app and image name should use lowercase"
Under the [`Using secrets`](https://docs.microsoft.com/en-us/azure/container-apps/manage-secrets?tabs=azure-cli#example) section,

Two problems -

* Both container app name and image name should be lowercase:

[code]

* `secretRef` should be lowercase `secretref`, otherwise the string literal `secretRef` gets added:

![image](https://user-images.githubusercontent.com/6472374/178992960-88525b1b-98e

[2022-07-14 13:33] Venkateshdodda-MSFT commented on #95728
@rrelyea the document aim is to create a show steps on how to Set up an apex domain with Azure DNS and not with custom domain on other DNS(external Provider). Hence adding a suggested screenshot is not necessary.

For the second option "custom domain on other DNS (external Provider)" [this document](https://docs.microsoft.com/en-us/azure/static-web-apps/apex-domain-external) outline the process

!

[2022-07-14 13:34] JohnWuensche opened #95764 "Missing Info Forest Functional Level"
[Enter feedback here]
Hi,

I think, some information about the required forest functional level regarding the Azure AD Premium Services (Password Write Back, Group Write Back) is missing from the docs.

I recall there was an information about the forest functional level for these premium services under this section of the doc articel:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/

[2022-07-14 13:52] AshokPeddakotla-MSFT commented on #95735
@SillyKeith PR has been created to update the doc. Once it has been reviewed and merged, this issue will be closed automatically.
Do let us know if there are any further queries.

[2022-07-14 13:57] omondiatieno commented on #93847
@hahazeMSFT, thank you for the feedback. We have raised a PR #204724 to address your feedback. Will close the issue for now. Feel free to reach out if you have any other concerns.

[2022-07-14 13:57] omondiatieno commented on #93847
#please-close

[2022-07-14 13:57] #93847 closed

[2022-07-14 13:58] omondiatieno commented on #94670
@donlassini, thank you for the feedback. We have raised a PR #204724 to address your feedback. Will close the issue for now. Feel free to reach out if you have any other concerns.

[2022-07-14 13:59] omondiatieno commented on #94670
#please-close

[2022-07-14 13:59] #94670 closed

[2022-07-14 14:14] guywi-ms commented on #94918
#reassign: @shayoniseth

[2022-07-14 14:15] #95735 closed

[2022-07-14 14:20] #95200 closed

[2022-07-14 14:23] rrelyea commented on #95728
Just trying to point out ambiguity/possible confusionin the instructions.
Less ambiguity = good.

No need for screenshot...but reducing ambiguity would improve customer experience.

The hardest part of my move (from GitHub pages to azure static sites) was custom domains!

[2022-07-14 14:23] sfirke opened #95765 "Stale reference to Docker ACI development repo"
"Provide feedback about the Docker-Azure integration by creating an issue in the [Docker ACI Integration](https://github.com/docker/aci-integration-beta) GitHub repository."

That repo is now read-only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b33b5
* Version Independent ID: df5d92c

[2022-07-14 14:39] Givary commented on #95764
@JohnWuensche Thank you for your feedback, let me investigate and revert you back with the findings.

[2022-07-14 14:44] FocusCSW opened #95766 "IM-1 2nd Paragraph Statement No Longer Valid"
Please update the second paragraph of section IM-1 (Identity) as the statement is not correct.  It is now possible to use bastion and connect to linux VMs using Azure AD.

https://docs.microsoft.com/en-us/azure/bastion/connect-native-client-windows#connect-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab9cfeb-a

[2022-07-14 14:58] mike-urnun-msft commented on #95754
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-14 14:59] mike-urnun-msft commented on #95756
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-14 15:03] OlivierShi commented on #76138
Pls refer to this solution: https://github.com/dotnet/AspNetCore.Docs/issues/7167#issuecomment-1184556475

[2022-07-14 15:22] iflach opened #95767 "Deploy TemplateSpecs-Ressource (Main Tempalte + Linked Templates) with ARM instead of Powershell/CLI"
Can I deploy a template specs resource (with linked templates) with ARM tempaltes instead of Powershell and CLI ?

I found the following template , but nowhere can I find a working example for it :
https://docs.microsoft.com/en-us/azure/templates/microsoft.resources/2022-02-01/templatespecs/versions?tabs=bicep

Thanks in Advance !

[2022-07-14 15:54] schra opened #95768 "Default conditions of stages and transitive stage dependencies"
Not sure if the documentation is lacking information or if we found a bug in Azure pipelines. This issue is about the "Conditions" section of the Azure documentation (https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml#conditions)

Here is a MWE:

[code]

In Azure pipelines the MWE looks like this:

![Screenshot from 2022-07-14 17-41-28](https://user-

[2022-07-14 15:56] JamesTran-MSFT commented on #95761
@robert-bunch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-14 16:03] JamesTran-MSFT commented on #95712
@bbuchan10
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-07-14 16:03] #95712 closed

[2022-07-14 16:06] JamesTran-MSFT commented on #95720
@TimMurnaghan
Thank you for your feedback!

In order to gain a better understanding of your product feedback, can you share what you mean by "the button doesn't work". From the article this issue is linked to, I wasn't able to find any information about access reviews, audits, or MFA.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2022-07-14 16:12] kobulloc-MSFT commented on #95722
@ChrisRomp Thank you again for your feedback!  I have a PR out for review that will address this.

[2022-07-14 16:12] ChaitanyaNaykodi-MSFT commented on #95766
Hello @FocusCSW Thank you for the feedback. This feedback is already open and assigned to author for update in GitHub issue # https://github.com/MicrosoftDocs/azure-docs/issues/91424. It will be updated soon.

We are closing this issue as duplicate for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.
FYI @msmbaldwin

[2022-07-14 16:12] #95766 closed

[2022-07-14 16:23] swettstein opened #95769 "Refresh Token when using browser as client"
We normally just use the browser itself as a client for hitting GET HTTP Triggers in an Azure Function. We have setup the function to use EasyAuth with AAD. When navigating to an endpoint (e.g. `https://{appname}.azurewebsites.net/api/getsomething`) in a browser, it will correctly recognize that the user is not authenticated and will redirect to login and then redirect back to the requested URL. W

[2022-07-14 16:28] #95508 closed

[2022-07-14 16:31] wenfenggh commented on #95716
Thanks for reporting a document issue.
{Basename} is limited to 32 chars for transcoding.
If CopyCodec like CopyAudio or CopyVideo is used in the preset, {Basename} is limited to 64 chars. This change was made in October 2020 to address a bug fix. Some customers want to archive all output files in their output asset. If the filename is very long, the first 32 chars might be the same across multipl

[2022-07-14 16:39] rboucher commented on #94848
#reassign:@EdB-MSFT

[2022-07-14 16:46] enkrumah commented on #94954
#reassign: @an-emma

[2022-07-14 17:05] SillyKeith commented on #95735
OOPS! - The text above the code also has .dep vs .deb  -- See I told you it was subtle, I missed this too.

For any 'rc' i.e. release candidate agent versions from [Artifacts](https://github.com/Azure/iot-hub-device-update/releases) :
Download the **.dep** file to the machine you want to install the Device Update agent on, then:

[2022-07-14 17:07] davidmrdavid commented on #95643
@hossam-nasr is correct, this should have been addressed. I see that a bug report has been opened in the NodeJS repo though, so I'll go investigate that next.

[2022-07-14 17:07] special-arrow commented on #95508
Awesome, thank you for the clarification. Have a good day.

[2022-07-14 17:09] AshokPeddakotla-MSFT commented on #95735
@SillyKeith Yes, it has been modified in both the places :)

<img width="464" alt="image" src="https://user-images.githubusercontent.com/44426435/179042241-9d620cb3-018d-4aac-a21f-e915419f4d31.png">

[2022-07-14 17:10] khdownie commented on #95416
#please-close

[2022-07-14 17:10] #95416 closed

[2022-07-14 17:32] janicericketts commented on #95446
@dbollaer Thank you for this feedback. We will take this into consideration for future articles. #please-close

[2022-07-14 17:32] #95446 closed

[2022-07-14 18:50] davidmrdavid commented on #95643
I just confirmed that this bug is only reproducible with bundles V3 (with bundles V2 it works fine), and so this is technically a problem with the bundles V3 extensions being out of date. We'll be making some changes in the SDK to further protect users from extension versions that are too out of date.

Depending on how long it will take bundles V3 to get a Durable Functions Extension version large

[2022-07-14 19:06] poochwashere opened #95774 "Cannot uninstall Defender"
I followed the documentation and ran the `az cli` commands in addition to deleted the defender Replicsets and Deployment but the defender pods keep getting scheduled.

Auto provisioning is also disabled.

Please advise. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13d88292-f6c0-d866-bae0-45f21abe8e23
* Ver

[2022-07-14 20:12] mundayn opened #95776 "Bastion IP Link Incorrect"
FYI - this link when clicking on the portal when trying to learn more about IP Connect.
https://aka.ms/enableipconnect

It goes to your Bastion homepage:
https://docs.microsoft.com/en-us/azure/bastion/

It should go here I believe:
https://docs.microsoft.com/en-us/azure/bastion/connect-ip-address

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-07-14 20:21] bandersmsft commented on #95592
@jcbrooks92 Thanks for raising this issue. It's a good point. I've updated the article for Azure public and Azure Government as you suggested. When I get other national cloud endpoints from the engineering team, I'll add them to the article.

#please-close

[2022-07-14 20:21] #95592 closed

[2022-07-14 20:23] Anon4343 opened #95777 "VWAN Instructions"
Might be beneficial to specify instructions for VWAN P2S configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c3a64a-0c1e-64a6-a19d-e3a4e341e990
* Version Independent ID: bdc800af-32d9-3ec9-d18e-41dad26a9446
* Content: [Create an Intune profile for Azure VPN clients - Azure VPN Gateway](https://docs.microsof

[2022-07-14 20:29] robertspears opened #95778 "New-AzNetworkWatcherPacketCaptureV2 not recognized"
When using the scripts provided on this page, I come to the command New-AzNetworkWatcherPacketCaptureV2 which gives the following error -
"New-AzNetworkWatcherPacketCaptureV2 : The term 'New-AzNetworkWatcherPacketCaptureV2' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included,
verify that the path is correc

[2022-07-14 20:51] kpkool opened #95780 "Custom DNS"
How to add Azure DNS (168.63.129.16) as Upstream DNS Server?

Also, what is the correct configuration step/setup to use Custom DNS with Private Cluster? This information is very critical for many enterprise clients.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independen

[2022-07-14 21:05] DeanGross opened #95781 "ED Group type"
What is an ED group type?  this is not defined and is not used anywhere else in Azure that I know about.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adc370c1-d40b-af19-7573-397d25463142
* Version Independent ID: 683649a9-e19c-3403-d4b8-61d5af71fe1a
* Content: [View analytic information about groups in Permissions Man

[2022-07-14 21:09] cwatson-cat commented on #95656
@austinmccollum

[2022-07-14 21:36] #79958 closed

[2022-07-14 21:40] DeanGross opened #95782 "Request for more info - purpose of Autopilot rules"
What do autopilot rules do? why would I want some? There is nothing that explains their purpose or benefit. The How to create is good, but we need some more details about the why

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d66b046a-4a5e-0f87-cd8d-9fb1c4496d43
* Version Independent ID: 370e4159-9f91-afec-bdf9-bebd471

[2022-07-14 21:46] DeanGross opened #95784 "Missing functionality"
On the Reports page, I don't see the download arrow or ellipsis for any of the reports. What would keep me from getting the reports? I'm a Global Admin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5306fa-0235-a877-7d88-394175884e45
* Version Independent ID: ad7da485-e4c9-fa38-287d-eff31d198880
* Content: [View a li

[2022-07-14 21:51] KranthiPakala-MSFT commented on #95747
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-14 21:51] MonikaReddy-MSFT commented on #95767
@iflach - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-14 21:52] jmccullough90 opened #95785 "Domain Scope event subscription limit clarification"
I wanted to request a possible clarification for the Domain-Scope event subscription limit.
Current text is:
Domain scope event subscriptions | 50

However, I am unclear if that limit of 50 refers to either:
 a) Domain scope event subscriptions, across all domains
or
b) Domain scope event subscriptions, per domain

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-14 21:53] MonikaReddy-MSFT commented on #95781
@DeanGross  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-07-14 21:55] MonikaReddy-MSFT commented on #95760
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-14 22:01] MonikaReddy-MSFT commented on #95762
@snobu - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-14 22:01] #95762 closed

[2022-07-14 22:03] kenwith commented on #95202
ED is Enterprise Directory. I updated in the article to expand. Should be live shortly. Thanks for taking the time to open the issue and makes the docs better. Very much appreciated! #please-close

[2022-07-14 22:31] dlepow commented on #95754
@ezYakaEagle442 - Thanks for the suggestion. I'll add the link during a forthcoming update to that article, as well as note that the Dapr integration policies are only supported in the self-hosted gateway. According to our usual process, I'll now proceed to close this issue.
#please-close

[2022-07-14 22:32] dlepow commented on #95754
#please-close

[2022-07-14 22:32] #95754 closed

[2022-07-14 22:34] JamesTran-MSFT commented on #94776
@jsavage8
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-14 23:03] halkazwini commented on #91023
#please-close

[2022-07-14 23:03] #91023 closed

[2022-07-14 23:03] halkazwini commented on #86658
#please-close

[2022-07-14 23:03] #86658 closed

[2022-07-14 23:08] kpinel opened #95786 "Issues with the JSON format"
I'm relatively new to webhooks but I receive the following error when running the example using either the json file or converting an array to JSON

Using the JSON file gives the better output
[code]

Converting the array to JSON and then sending that to the webhook results in the following
[code]
When converting the variables from JSON in PS 5.1

[code]
This is all sone in PS 5.1 in Windows Termi

[2022-07-14 23:08] ChaitanyaNaykodi-MSFT commented on #95776
Hello @mundayn, thank you for your feedback. Just to reiterate, the feedback here is regarding the link from the portal (screenshot below) https://aka.ms/enableipconnect

![image](https://user-images.githubusercontent.com/67453298/179115022-ea76bf4f-0a5e-4129-900a-28b0382c1ac9.png)

I have forwarded your feedback to the link owner.  As we monitor this channel for documentation enhancements/bugs, I

[2022-07-14 23:08] #95776 closed

[2022-07-14 23:14] khdownie commented on #66817
This doc has been modified to include instructions on setting up the SPN and pw

[2022-07-14 23:15] khdownie commented on #66817
@please-close

[2022-07-14 23:15] khdownie commented on #66817
#please-close

[2022-07-14 23:15] #66817 closed

[2022-07-14 23:16] khdownie commented on #72871
This doc has been updated to include instructions on setting up the SPN and pw:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#option-two-manually-perform-the-enablement-actions

[2022-07-14 23:16] khdownie commented on #72871
#please-close

[2022-07-14 23:16] #72871 closed

[2022-07-14 23:17] khdownie commented on #73016
This doc has been updated to include instructions on setting up the SPN and pw:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#option-two-manually-perform-the-enablement-actions

[2022-07-14 23:17] khdownie commented on #73016
#please-close

[2022-07-14 23:17] #73016 closed

[2022-07-14 23:17] AaronMaxwell commented on #95554
https://github.com/MicrosoftDocs/azure-docs-pr/pull/204831
#please-close

[2022-07-14 23:17] #95554 closed

[2022-07-14 23:19] AaronMaxwell commented on #95506
@TimothyMothra Could you also take a look at this too please?

[2022-07-14 23:46] ChaitanyaNaykodi-MSFT commented on #95778
Hello @robertspears, Thank you for your feedback.

Can you try running the command [New-AzNetworkWatcherPacketCapture](https://docs.microsoft.com/en-us/powershell/module/az.network/new-aznetworkwatcherpacketcapture?view=azps-8.1.0) instead? and check if that works. The latest version of [Az.Network](https://www.powershellgallery.com/packages/Az.Network/4.18.0) module is 4.18.0. If required, you ca

[2022-07-15 00:00] kpinel commented on #95786
Just to note that I also took the webhook data and tested on the command line and it worked as expected. Not sure what is happening.
Resource information
[code]
![image](https://user-images.githubusercontent.com/875143/179120477-9c25915d-39fd-4331-9d4d-a54bc4cc6f75.png)

[2022-07-15 00:10] ChaitanyaNaykodi-MSFT commented on #95777
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-15 00:21] dlepow commented on #95756
@cristian-eriomenco - Thanks for your question. General requirements/limitations for OpenAPI/Swagger import to API Management are documented [here](https://docs.microsoft.com/azure/api-management/api-management-api-import-restrictions#-openapiswagger-import-limitations). Please let us know if this helps answer your question.

[2022-07-15 00:45] cijothomas commented on #95506
builder.AddApplicationInsights(
    configureTelemetryConfiguration: (config) => config.ConnectionString = context.Configuration["APPLICATIONINSIGHTS_CONNECTION_STRING"],
    configureApplicationInsightsLoggerOptions: (options) => { }
);

^^ This method is only available in 2.21.0-beta2 (https://github.com/microsoft/ApplicationInsights-dotnet/blob/main/CHANGELOG.md#version-2210-beta2) or newer onl

[2022-07-15 00:57] ChaitanyaNaykodi-MSFT commented on #95666
Hello @Shruti700, Azure Bastion host usually takes some time to get deployed, can you please share the error you are getting here?

[2022-07-15 00:59] kobulloc-MSFT commented on #95780
@kpkool Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-07-15 01:24] halkazwini commented on #93945
#reassign:halkazwini

[2022-07-15 01:27] halkazwini commented on #93945
@alexxiongxiong
Thanks for the feedback, the CLI command is updated with 10.225.0.0/16 which solves the above problem.

[2022-07-15 01:37] #93945 closed

[2022-07-15 01:44] pnarsi opened #95789 "Ubuntu NTP Server Missing."
Databricks also needs access to the Ubuntu NTP server:  ntp.ubuntu.com.

If deploying Databricks on a VNET and routing traffic via a Firewall, we can see Databricks trying to get to a number of IP addresses related to ntp.ubuntu.com on port 123 UDP. This isn't covered on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-07-15 01:46] halkazwini commented on #92844
#reassign:halkazwini

[2022-07-15 01:49] halkazwini commented on #92844
@thiruma0203
Thank you for the feedback! The CLI command is updated with 10.225.0.0/16 which solves the above problem.

[2022-07-15 01:50] halkazwini commented on #92844
#please-close

[2022-07-15 01:51] #92844 closed

[2022-07-15 01:57] halkazwini commented on #92314
#reassign:halkazwini

[2022-07-15 02:01] halkazwini commented on #92314
@andreguerra1
Thank you for the feedback! The CLI command is updated with 10.225.0.0/16 which solves the above problem.

[2022-07-15 02:02] halkazwini commented on #92314
#please-close

[2022-07-15 02:02] #92314 closed

[2022-07-15 02:09] halkazwini commented on #82835
#reassign:halkazwini

[2022-07-15 02:10] halkazwini commented on #82835
@aalsiengineer
Thank you for your feedback! The yaml file is already updated.

[2022-07-15 02:10] halkazwini commented on #82835
#please-close

[2022-07-15 02:10] #82835 closed

[2022-07-15 02:21] halkazwini commented on #79323
#reassign:halkazwini

[2022-07-15 02:22] halkazwini commented on #79323
@gerhardcit

Thank you for your feedback! The yaml file is already updated.

[2022-07-15 02:29] halkazwini commented on #79323
#please-close

[2022-07-15 02:29] #79323 closed

[2022-07-15 02:43] SnehaAgrawal-MSFT commented on #95769
@swettstein Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-15 03:10] bgawale commented on #95554
link results in page not found?

[2022-07-15 03:15] rockboyfor commented on #95572
@duongau,@PRMerger7,
Do appreciate your prompt response!

Best Regards,
Edward Chen

[2022-07-15 03:20] Shruti700 commented on #95666
Hello @ChaitanyaNaykodi-MSFT, actually I don't know exactly which step did it gone wrong.  I have tried and replicated [this ](https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal) quickstart guide a few times. The actual failed result displayed after installing IIS via cmd when trying to test the load balancer.  According to the quickstart, the publ

[2022-07-15 03:30] itahirov opened #95790 "Configuring cni network (VNet) on existing AKS with kubenet"
[Enter feedback here]
Hello.

Is it possible to configure cni network on existing aks with kubenet network ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-4a9b969a3ade
* Content: [Configure Azure CNI networking in Azure Kubernetes S

[2022-07-15 03:44] MarcosMMartinez opened #95791 "Redundant note without clear explanation"
The article has two identical notes in different sections - note is not clear as it pertains to how preceding yaml should be modified depending on the keyvault identity access configured.

Instance 1:
![image](https://user-images.githubusercontent.com/29489962/179145982-cb45fcce-770e-4577-a556-5ddb955ac431.png)

Instance 2:
![image](https://user-images.githubusercontent.com/29489962/179146020-5307

[2022-07-15 04:24] Givary commented on #95543
@mansohrstrom Apologies for the delay, checking with my team and will update you.

[2022-07-15 04:31] Givary commented on #95421
@tommyallieri We have updated the value for SAML2_PROVIDER = 'CUSTOM' as this article was aligned towards Azure AD. https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/snowflake-tutorial

Let me know if you have any further questions.

[2022-07-15 04:31] #95421 closed

[2022-07-15 04:31] #95279 closed

[2022-07-15 04:40] VikasPullagura-MSFT commented on #95791
@MarcosMMartinez
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-07-15 05:15] shwetamathur7 commented on #95549
@gary-newsham-class-com-au I understand you are trying to create new B2C directory and document showing to create AD B2C tenant. Directory and Tenant can be used interchangeably for each other. Azure AD B2C is different from Azure AD. So, when you create Azure AD B2C, it creates another tenant and can be used for AD B2C features.

[2022-07-15 05:26] shwetamathur7 commented on #95692
Closing the thread as this is not documentation issue. Any functionality related issues are investigated at  [All Questions - Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)

[2022-07-15 05:26] #95692 closed

[2022-07-15 05:27] SwathiDhanwada-MSFT commented on #95786
@Kpinel Thanks for your comment. We will review the issue and get back to you shortly.

[2022-07-15 05:48] SwathiDhanwada-MSFT commented on #95619
@prachikapoor3009 As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-07-15 05:48] #95619 closed

[2022-07-15 05:50] #95453 closed

[2022-07-15 06:03] markmcdon7 opened #95794 "Add info on Permissions needed for on-premise SQL account"
[Enter feedback here]
Hi,
I noticed that the doc mentions entering the SQL Server account and password, but doesn't state the minimum on-prem database permissions that this will need. I see there are a few people asking this question on forum pages so thought the info could be added to this page.

Thanks,

Mark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-07-15 06:04] gerardv opened #95795 "I need a recurrence every 2nd Saturday of every month."
I need a recurrence every 2nd Saturday of every month. I tried the following, but it fails validation (I cannot save it).

[code]

The error I get is:
_Failed to save logic app TestingRecurence. The recurrence schedule of trigger 'Recurrence' could not have 'WeekDays' for recurrence frequency 'Month'._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-07-15 06:19] SreejaBhattacharya-MSFT commented on #95790
@itahirov No, as far as I know it is not supported to change the network model on an existing AKS cluster.

[2022-07-15 06:19] MayankBargali-MSFT commented on #95795
@gerardv Thank you for your feedback! We will review and update as appropriate.

[2022-07-15 06:20] MayankBargali-MSFT commented on #95785
@jmccullough90 Thank you for your feedback! We will review and update as appropriate.

[2022-07-15 06:50] remisbaima opened #95797 "Broken link: Azure MXChip IoT DevKit"
[Enter feedback here]

Link is returning 404: [Azure MXChip IoT DevKit](https://docs.microsoft.com/en-us/samples/azure-samples/mxchip-iot-devkit-get-started/sample/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152be48-0a05-890e-9ad0-6826aa3336b2
* Version Independent ID: da0fc58b-c5ce-44b3-cc9b-26fa489070ba
* Conte

[2022-07-15 06:59] itahirov commented on #95790
Thank you Sreeja, it is good to know.

[2022-07-15 07:27] #95790 closed

[2022-07-15 08:13] sumitdubeyit opened #95798 "SNAT Port Use case"
In the document its called out "A port used for a load balancing or inbound NAT rule consumes eight ports from the 64,000 ports" but in the same document , its also called out "For TCP connections, the load balancer will use a single SNAT port for every destination IP and port.". Could you please elaborate where these scenarios will be applicable

[Enter feedback here]

---
#### Document Details

[2022-07-15 08:18] KapilAnanth-MSFT commented on #95574
Hi @RolandlinAKS ,

Thanks for your time.
Per our offline discussions,

Azure CLI - You have to manually create the Peering as documented.
Azure Portal - Portal has validation features and creates peering if it does not exist.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion

[2022-07-15 08:18] #95574 closed

[2022-07-15 08:21] SwathiDhanwada-MSFT commented on #95568
@pnarsi Thanks for your feedback.

Assigning to content author @yossi-y   for review.

[2022-07-15 08:23] GitaraniSharma-MSFT commented on #95798
@sumitdubeyit , thank you for your query. We'll review this and get back to you shortly!

[2022-07-15 08:31] yinoa opened #95799 "Azure VM MAC cannot change?"
[Enter feedback here]
In this QA doc, it mentioned Cx cannot change the VM mac address.
No. A MAC address cannot be statically configured.

But following below guide, we can do it on windows VM.

https://techcommunity.microsoft.com/t5/itops-talk-blog/understanding-static-mac-address-licensing-in-azure/ba-p/1386187

Question:
1. Should we update the QA about windows VM?
2.  Any other methods to cha

[2022-07-15 09:14] Hydrugion opened #95801 "AzureML SDK & CLI v2 document linked back to v1 document"
Hi, currently I am looking for a solution for monitoring webservice deployed by AzureML using CLI & SDK v2. According to this page at the "Tips" section, to "monitor information generated by models deployed as web services" I have to use the SDK v1 even if I use CLI & SDK v2 to deploy it. There is no equivalent of azureml.monitoring package in SDK v1 exist in SDK v2 and there is no equivalent  pag

[2022-07-15 09:18] v-hgampala commented on #93424
Will update the document, the issue duplicated with -
https://github.com/MicrosoftDocs/azure-docs/issues/95559
#please-close

[2022-07-15 09:18] #93424 closed

[2022-07-15 09:20] dominicbetts commented on #95576
Hi @romankiss,

With the scenario I tried, using `$["temperature"]` instead of `$["thermostat1"]["temperature"]` (i.e. removing the component identifier) generated mapped data that looks like this:

[code]

Following this approach, can you try `$["body"]["temperature"]` as your mapping?

I've asked if there's a way to flatten the structure of the mapped data and I'll let you know what I find out.

[2022-07-15 09:47] ciufudean opened #95803 "Wrong text and screenshots related to tile "Browser""
In the portal I am seeing, there are no Browser and Servers tiles under Investigate.
Applies also to text like *Select Browser and then choose Failures or Performance"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Con

[2022-07-15 09:58] t3mi opened #95804 "Misleading export of metrics for Microsoft.Web/staticSites"
Static Web Apps don't export metrics via diagnostic settings while docs mention it should.
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftwebstaticsites

The error is
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independ

[2022-07-15 10:22] ShaikMaheer-MSFT commented on #95774
@poochwashere Thanks for question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-07-15 10:24] ShaikMaheer-MSFT commented on #95782
@DeanGross Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-15 10:25] ShaikMaheer-MSFT commented on #95784
@DeanGross Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-15 10:26] ShaikMaheer-MSFT commented on #95789
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-15 10:38] andyjballgit commented on #94819
Hi @AnuragSingh-MSFT

thx for this , erm where would i get the JSON file mentioned , would this by API call or something

(i know how to get the rule collection group via powershell etc , but not in JSON , could convert but again want to be 100% clear on it / ideally put check in our pipeline / sorry for being so picky ! )

and assume the doc will be updated to reflect ?

thanks
Andy

[2022-07-15 10:38] RohitMungi-MSFT commented on #95588
[FuyukiSakura](https://github.com/FuyukiSakura) This change is now completed and merged.
We will now proceed to close this thread. Thanks!!

[2022-07-15 10:38] #95588 closed

[2022-07-15 10:59] satishrabari opened #95805 "How can we change favicon of Microsoft using Company Branding."
Is there any way to change the Microsoft favicon in Company Branding?
Please see the attachment I highlighted the favicon of Microsoft that I want to change.

![image](https://user-images.githubusercontent.com/79073280/179210333-2cf4d664-a7ce-40c9-9a2b-b3ac055fbee2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e

[2022-07-15 11:25] amkarmak opened #95806 "This page doesn't include the latest categories"
This page doesn't include the latest categories. Please check and get all the categories added which will help the customers.

csi-azuredisk-controller
csi-azurefile-controller
csi-snapshot-controller

![image](https://user-images.githubusercontent.com/54432095/179214232-98efbe8f-c5ee-4538-a4d7-415f6510ebe9.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-07-15 11:48] SetTrend opened #95807 "Static Web Apps/Functions API: Please add documentation for using Azure DevOps"
The below mentioned documentation page (along with its neighbour pages) only provides information for **GitHub** as the infrastructure for providing a static web app.

Please add equivalent documentation for using **Azure DevOps** being the repository infrastructure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b

[2022-07-15 12:06] RohitMungi-MSFT commented on #95801
[Hydrugion](https://github.com/Hydrugion) Thanks for spotting this. Yes, the documentation links back to v1 since the v2 version of the SDK is experimental and a similar package for monitoring is currently not available. The v2 version reference [documentation ](https://docs.microsoft.com/en-us/python/api/azure-ai-ml/azure.ai.ml?view=azure-python-preview)should be updated when a new preview releas

[2022-07-15 12:39] romankiss commented on #95576
Hi @dominicbetts,

Do you know how to map a telemetry data to the modelled complex object?
I have added to the default component of the model _dtmi:com:example:TemperatureController;2_ complex myObject:

    {
          "@id": "dtmi:com:example:TemperatureController:myObject;2",
          "@type": "Telemetry",
          "displayName": {
              "en": "MyObject"
          },
          "name":

[2022-07-15 12:58] GeethaThatipatri-MSFT commented on #95794
Hi, @markmcdon7 Thanks for your feedback! We will look into it and update as appropriate.

[2022-07-15 13:00] MonikaReddy-MSFT commented on #95805
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-15 13:03] #95716 closed

[2022-07-15 13:04] MonikaReddy-MSFT commented on #95752
@nitinkansal1984  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-07-15 13:06] MonikaReddy-MSFT commented on #95506
@cijothomas  - Thank you for providing your insights.
@ramenturismo - I hope @cijothomas has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-15 13:06] #95506 closed

[2022-07-15 13:10] MonikaReddy-MSFT commented on #95804
@t3mi - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-07-15 13:10] RamenTurismo commented on #95506
@cijothomas Thanks!
@MonikaReddy-MSFT I would still specify on what version the code is being made to avoid confusion.

[2022-07-15 13:52] RyanHill-MSFT commented on #95807
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-15 14:34] waltonchiang opened #95810 "Application Insights URL not resolvable"
The URL for Application Insights in this page should be
`*.applicationinsights.azure.com`
instead of
`applicationinsights.azure.com`

When trying to resolve:
[code]

Instead, when trying to resolve the URL in a deployed Application Insights:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-

[2022-07-15 14:51] robertspears commented on #95778
Hi @ChaitanyaNaykodi-MSFT .  Thanks for your reply. I have checked and I have Az.Network version 4.18.0.

The reason that "New-AzNetworkWatcherPacketCaptureV2" (if it is exists) is required is to run the packet capture on a virtual machine scale set (versus a virtual machine packet capture).  According to this article, the New-AzNetworkWatcherPacketCaptureV2 command has a parameter where you can s

[2022-07-15 14:59] whatjakecodes opened #95811 "Azure SWA - output_location description needs clarity"
Hello! The Azure SWA documentation is unclear about the `output_location` setting. Specifically, this line describing the `output_location` parameter:

The above line is not clear about where the public files are generated. Are they generated on the Build Agent's local filesystem? Or generated onto the Azure SWA filesystem?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-07-15 15:13] KrishnaG-MSFT commented on #95803
@ciufudean Thanks for the feedback.
Assigning to @AaronMaxwell for visibility, review and document enhancement consideration as appropriate.

[2022-07-15 15:18] cijothomas commented on #95506
Agree, since the feature is only part of a beta version.

[2022-07-15 15:28] shijaiswal commented on #95778
Hey @robertspears , thanks for reaching out.
This is a new feature that is still in the process of getting rolled out.  Right now we have  GA'd the UI support, hence from Azure Portal you should be able to run Packet Capture for VMSS.
Very soon,in the coming days we will be rolling out the PowerShell support as well.

@ChaitanyaNaykodi, I will update the document as *Coming Soon*. Hope that should

[2022-07-15 15:35] shijaiswal commented on #95778
Hi @robertspears , if VMSS PAcket Capture is not working from portal, kindly go ahead and open a support ticket with us. We should be able to assist you.

[2022-07-15 15:35] kobulloc-MSFT commented on #95806
@amkarmak Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-07-15 15:39] AaronMaxwell commented on #95748
Thanks for your dedication to our documentation. I have discussed the non-standard mapping with the PM team. This markdown file is temporarily and intentionally referenced in two locations for discoverability. We have plans to update the TOC in the near future as Open Telemetry matures. #please-close

[2022-07-15 15:39] #95748 closed

[2022-07-15 15:42] #95344 closed

[2022-07-15 15:54] ericwj commented on #78798
Better to remove `Latest` if it just doesn't work. Remove it if fixing it is too much trouble. Its confusing and a waste of time to watch it fail.

[2022-07-15 15:56] RyanHill-MSFT commented on #95811
Hi @whatjakecodes, _public files_ doesn't refer to the build agent or Static Web Apps files system. In the context of static content, _public files_ refers to what's generated by any build script. As noted, for .NET projects, it's the publish folder. It's the same for JS projects, it's the output designated by your `package.json` **scripts > build**. Often times, this the `dist` folder unless othe

[2022-07-15 15:57] RyanHill-MSFT commented on #95811
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-15 16:01] BradPalmerKSE opened #95812 "Server Core 2019/2022"
The PowerShell credential object does not work to register connector with Server Core 2019 and 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62886f64-db39-73f2-a7bf-05336bdbef73
* Version Independent ID: 5325ef4c-c584-d242-b201-1a3466904a5f
* Content: [Silent install Azure Active Directory Application Proxy conn

[2022-07-15 16:02] djcarryout commented on #95811
Thanks for the reply! I think I understand.

Is there any way to configure which folder on the SWA filesystem that the public files are copied to during the deploy? I think not, but want to confirm.

[2022-07-15 16:04] JasonWHowell commented on #82939
#reassign:VasiyaKrishnan

[2022-07-15 16:04] JasonWHowell commented on #84482
#reassign:VasiyaKrishnan

[2022-07-15 16:04] JamesTran-MSFT commented on #95812
@BradPalmerKSE
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-15 16:06] JasonWHowell commented on #69736
@ajagdish-24 was the doc update finished? I'm not sure where to see it in the page attached, so can't confirm. Please let me know if there is more work to do here.

#reassign:VasiyaKrishnan

[2022-07-15 16:07] RyanHill-MSFT commented on #95811
That's what the `output_location` in the yaml pipeline is for. You're telling the platform "I want these files to be copied"

[2022-07-15 16:31] WilliamDAssafMSFT commented on #72910
#assign:WilliamDAssafMSFT

[2022-07-15 16:37] scgbear opened #95814 "Django links point to v3 of Django"
The links in this article for Django send you to documentation for v3 of django which has a banner at the top of the page that reads...

[code]

Recommend changing the references to Django 4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe78588d-6ed5-52b1-7b02-6e53affb000d
* Version Independent ID: df4cdd51-678e-7a5

[2022-07-15 16:43] RyanHill-MSFT commented on #95811
@whatjakecodes did you delete your comment?

Is there any way to configure which folder on the SWA filesystem that the public files are copied to during the deploy? I think not, but want to confirm.

[2022-07-15 16:47] WilliamDAssafMSFT commented on #72910
#assign:WilliamDAssafMSFT

[2022-07-15 16:47] PRMerger16 commented on #72910
Users williamdassafmsft are already assigned.

[2022-07-15 17:01] khdownie commented on #95217
@PingPongSet @AshokPeddakotla-MSFT @SumanthMarigowda I have clarified the pre-seeding in the article: "If you don't have extra storage for initial onboarding and would like to attach to the existing shares, you can pre-seed the data in the Azure files shares using another data transfer tool instead of using the Storage Sync Service to upload the data."

This issue can now be closed.

[2022-07-15 17:02] #95217 closed

[2022-07-15 17:23] msangapu-msft commented on #95672
#re-assign: msangapu-msft

[2022-07-15 17:26] msangapu-msft commented on #95672
Patched here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/204895

[2022-07-15 17:27] ChaitanyaNaykodi-MSFT commented on #95778
Yes, this will be helpful. Thank you @shijaiswal.

@robertspears thank you for sharing this feedback. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-07-15 17:27] #95778 closed

[2022-07-15 17:31] anaharris-ms commented on #77017
#assign @stevemunk

[2022-07-15 17:38] kenwith commented on #95781
@DeanGross - good catch, we updated to expand the name and should be live shortly. It is Enterprise Directory. Thank you very much for submitting your feedback on the docs. Very much appreciated!

#please-close

[2022-07-15 17:38] #95781 closed

[2022-07-15 17:45] youngERP commented on #87097
@takekazuomi - I fully agree with your assessment and brought up the same topic back in September 2021.

I ended up getting some reputation points deducted because of my responses.

[2022-07-15 17:51] whatjakecodes commented on #95811
Yes i posted from the wrong account. Your answer makes the purpose of output_location clear to me. Thanks!

[2022-07-15 18:02] aengleman commented on #95675
Hi, I just experienced this same error message. A co-worker and I started to troubleshoot further. It's then I realized I was targeting the wrong resource group. Just to be certain, I would run the command  az account set --subscription "example" and then try running your command again, or double check the resource group contains the VM you are targeting. If you have access to multiple subscriptio

[2022-07-15 18:15] kobulloc-MSFT commented on #95719
@reigntastic This is caused by a requirement in PowerShell for [quote characters in a string](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7.2#including-quote-characters-in-a-string).  In order for the double quotes to appear in the string, you'll need to enclose the entire string with something like single quotes:

![image]

[2022-07-15 18:18] halkazwini commented on #94424
#reassign:halkazwini

[2022-07-15 18:19] halkazwini commented on #94424
@AdamWyzgol

Thank you for your feedback! The CLI command is already updated.

[2022-07-15 18:29] halkazwini commented on #94424
#please-close

[2022-07-15 18:29] #94424 closed

[2022-07-15 18:32] markmassad opened #95818 "Azure CA Certs List for Gov Cloud"
[Enter feedback here]
Hi all, is there a Gov equivalent of CA Certs list similar to:
https://docs.microsoft.com/en-us/azure/security/fundamentals/azure-CA-details

Or does this list apply to Gov cloud as well?  May I suggest a note call out to clear that up or link to the Gov equivalent?

Thanks.

Mark
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-07-15 18:32] halkazwini commented on #88388
#reassign:halkazwini

[2022-07-15 18:34] halkazwini commented on #88388
Hi @adelagar

Thank you for your feedback! The IP addresses used in this tutorial were updated to use private IPs from 10.0.0.0/8 block. The update may take a few hours to reflect in the public page.

[2022-07-15 18:37] halkazwini commented on #88388
#please-close

[2022-07-15 18:37] #88388 closed

[2022-07-15 18:38] kobulloc-MSFT commented on #95719
@reigntastic We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-15 18:38] #95719 closed

[2022-07-15 18:39] Nickomang commented on #95791
@MarcosMMartinez, Thanks for the feedback! We've consolidated the notes to improve readability. For additional clarity on how the YAML should be modified, the note now explicitly links to the access article: https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access

I've also included your feedback from https://github.com/MicrosoftDocs/azure-docs/pull/95792 , please close at you

[2022-07-15 18:40] #95791 closed

[2022-07-15 18:43] halkazwini commented on #70102
Hi @AndreasMWalter

Thank you for your feedback! The IP addresses used in this tutorial were updated to use private IPs from 10.0.0.0/8 block (10.0.0.0/16 for the Application Gateway VNet). The update may take a few hours to reflect in the public page.

[2022-07-15 18:45] halkazwini commented on #70102
#please-close

[2022-07-15 18:45] #70102 closed

[2022-07-15 19:09] halkazwini commented on #58653
#reassign:halkazwini

[2022-07-15 19:09] halkazwini commented on #58653
Hi @dave-read,

Thank you for your feedback. The introduction was updated with an explanation about using the resources from the same VNet as follows:

![image](https://user-images.githubusercontent.com/85655443/179294829-b5612c70-9b33-4f57-b639-b35013219425.png)

[2022-07-15 19:13] halkazwini commented on #58653
#please-close

[2022-07-15 19:13] #58653 closed

[2022-07-15 19:18] KapilAnanth-MSFT commented on #95799
@yinoa , The document says that users will not be able to specify the MAC Address on the platform level.
And the blog post discusses about changing the MAC Address at OS Level.

Please note that VMs are IaaS offerings and you will have complete control over the OS level configurations, hence you can modify the NIC MAC at the OS level. However, doing so will break the connectivity between the Platf

[2022-07-15 19:31] MGoedtel commented on #95806
@amkarmak - I've confirmed the list is updated based on your feedback and as a result, I"ll create a work item for this in our sprint backlog to update the article to reflect the latest categories this month. I'm going to proceed with closing this GitHub issue - #please-close.

[2022-07-15 19:31] #95806 closed

[2022-07-15 19:32] DeanGross opened #95822 "Downloading custom reports-nothing created"
I followed the instructions to create a custom report, when I choose Download, a file is not downloaded.  I just see a message that  an on demand report is getting generated. The instructions don't seem to be accurate. Please update to describe the actual functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7

[2022-07-15 19:52] MarcosMMartinez commented on #94461
@cebundy - I've created PR https://github.com/MicrosoftDocs/azure-docs/pull/95823 to fix this.

[2022-07-15 20:21] halkazwini commented on #65334
#reassign:halkazwini

[2022-07-15 20:24] PixelRobots commented on #65334
@halkazwini this issue is from 2 years ago. I believe back when this was in preview too.

I would say it's safe to close this issue.

[2022-07-15 20:26] halkazwini commented on #65334
#please-close

[2022-07-15 20:26] #65334 closed

[2022-07-15 20:43] #95722 closed

[2022-07-15 21:17] nnellanspdl commented on #33157
Here's my setup
- AppGW v2 using a User-Assigned Managed Identity, Certificates that reference KeyVault
- KeyVault using RBAC permissions, Private Endpoint, Firewall fully locked down

Deploying AppGW via ARM Template, deployment hangs and errors out after 30 minutes.

If I enabled Service Endpoints and add the AppGW's subnet to the KeyVault Firewall, it works!

Based on the documentation the AppG

[2022-07-15 21:50] yinoa commented on #95799
Thank you for the detailed clarification @KapilAnanth-MSFT.

Is it possible to add the similar warning comments "doing so will break the connectivity between the Platform and the VM" into the FAQ?

[2022-07-15 22:11] kgremban commented on #91533
Hello @marcinjahn, thank you for the question. The device has the full certificate chain, which it presents to IoT Hub. This certificate chain contains the root CA and all the intermediate CAs down to the unique device certificate. So the device will have a record from each step of the process and can trace its history back to the root: Company CA -> Factory CA -> Technician CA -> device certifica

[2022-07-15 22:15] john-matlock-eng opened #95825 "How can a non-Intune-managed device be compliant?"
It could just be me, but I feel that the table at the bottom of the documentation is hard to read. How can a Registered device which is not managed by Intune possibly be compliant?

<html>
<body>

Include/exclude mode with negative operators (NotEquals, NotStartsWith, NotEndsWith, NotContains, NotIn) and use of any attributes including extensionAttributes1-15 | Registered device not managed by Int

[2022-07-15 23:15] KhanSo10 opened #95826 "Suggested notes to add to avoid confusion"
•	You cannot perform an in-place restore of a SQL pool with the same name with a user-defined restore point, regardless of being within the same workspace or not.
•	If you’d like to use a user-defined restore point in another workspace, you need to use the “Create new SQL pool” function, as you won’t see it presented in the Restore options

I trust you may have better wording than I do, but it wou

[2022-07-15 23:34] MonikaReddy-MSFT commented on #95814
@scgbear - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-15 23:34] #95814 closed

[2022-07-16 00:22] qliu95114 opened #95827 "Incompatible services list is not complete. Products that are using "Network Container" do not support NSG Flow log"
Incompatible services list is not complete. I have a discussion with Network Watcher Program Manager. Products that are using "Network Container" do not support NSG Flow log, but this is on the roadmap.

Product like
a. App service (with Regional Vnet Integration
b. Microsoft.DB  flexibleServers  (PostgreSQL.MySQL, MariaDB)
...

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-07-16 00:31] JamesTran-MSFT commented on #95818
@markmassad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-16 00:34] JamesTran-MSFT commented on #95825
@john-matlock-eng
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-16 03:52] satishrabari commented on #95805
Hello @MonikaReddy-MSFT
Here is the URL https://docs.microsoft.com/en-us/microsoft-365/admin/setup/customize-sign-in-page?view=o365-worldwide

Thanks for a quick response.

[2022-07-16 04:12] KrishnaG-MSFT commented on #94270
@Madhufuture Closing this issue for now. If there are further questions regarding this matter or feedback on an Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-07-16 04:12] #94270 closed

[2022-07-16 04:55] KrishnaG-MSFT commented on #95679
@dumarkov We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-16 04:55] #95679 closed

[2022-07-16 04:55] KrishnaG-MSFT commented on #95687
@ElanShudnow We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-16 04:56] KrishnaG-MSFT commented on #95810
@waltonchiang We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-16 04:56] KrishnaG-MSFT commented on #95757
@slashd We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-16 04:56] #95757 closed

[2022-07-16 04:56] #95810 closed

[2022-07-16 04:56] #95687 closed

[2022-07-16 05:12] mpowney opened #95828 "VSCode on MacOS net6.0 C# function doesn't debug"
I'm attempting to debug a net6.0 C# function v4 app with VS Code on MacOS.

* Azure Functions Core Tools version: 4.0.4629
* Azure Functions for Visual Studio Code extension version: 1.7.4
* VS Code version: 1.69.0
* OS: Darwin x64 21.5.0

Project:

* Target framework: net6.0
* Azure Functions Version: v4
* Package reference: Microsoft.NET.Sdk.Functions Version 4.1.1

When I run F5 debug in VSCode

[2022-07-16 06:18] GeethaThatipatri-MSFT commented on #95706
@match-gabeflores document has been updated, thank you again for your feedback in improving the Microsoft document.

[2022-07-16 06:18] #95706 closed

[2022-07-16 06:22] ShaikMaheer-MSFT commented on #95822
@DeanGross Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-16 06:30] ShaikMaheer-MSFT commented on #95826
@KhanSo10 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-16 06:33] ShaikMaheer-MSFT commented on #95827
@qliu95114 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-16 06:53] ShaikMaheer-MSFT commented on #95828
@mpowney Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-16 06:56] KapilAnanth-MSFT commented on #95799
Hi @yinoa , you are welcome.

Though it is not explicitly mentioned here in this particular FAQ section, it is not a recommended practice to make any network related changes within VM.

You can refer to this page: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances#specify-dns-servers for the same.

![image](https://user-images.githubu

[2022-07-16 07:05] MayankBargali-MSFT commented on #95828
@mpowney Thanks for reaching out. MicrosoftDocs Github issue is mainly related to the document issue and as your issue is related to Azure function tools, I will suggest you to create the issue [here](https://github.com/Azure/azure-functions-core-tools/issues).

I will go and close this thread now as this is not related to document issue. Feel free to tag me in if you have any queries or questions

[2022-07-16 07:05] #95828 closed

[2022-07-16 07:40] xtianus79 commented on #94264
hi @James-Hamil-MSFT  @JamesTran-MSFT any help with this?

[2022-07-16 10:12] mpowney commented on #95828
Thanks I figured given I followed steps in docs this might be helpful for others following instructions in docs

[2022-07-16 12:59] reigntastic commented on #95719
Awesome, great find! Is the documentation updated to reflect that?

On Jul 15, 2022, at 1:16 PM, kobulloc-MSFT ***@***.***> wrote:

﻿

@reigntastic<https://github.com/reigntastic> This is caused by a requirement in PowerShell for quote characters in a string<https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7.2#including-quote-ch

[2022-07-16 14:50] jzuchora87 opened #95829 "Clarification on Assignments"
Is it possible to assign EnrollmentReader and EA purchaser to a SPN? When attempting to assign this at the billing account level I get the following response:

{"code":"Conflict","message":"The role assignment conflicts with an existing role assignment."}

I've tried using unique billingRoleAssignmentName for both using (new-guid) but no luck. Any help would be appreciated.

---
#### Document Deta

[2022-07-16 15:16] devman2k opened #95830 "Please provide details or clarity for people looking to use this example for Service Principle Accounts"
Well written page. However it would be very helpful if the page addressed the elephant in the room and clearly state whether this type of connection could be used with a Service Principle Account addressing the reqiurement not to prompt the user to log in.

What I am asking for is the following:

"While this code example and text depicts the use of Azure SQL Universal with MFA prompting users with

[2022-07-16 15:28] JackStromberg commented on #33157
@nnellanspdl, it sounds like traffic is still trying to egress via public IP.  I would verify DNS configuration is correct, with the Azure DNS zone associated to the VNET that contains Application Gateway.  If you still see the issue, please open a support case so we can further investigate.  Thanks!

[2022-07-16 15:34] Hydrugion commented on #95801
Thank you very much for the reply. Should I looking forward to the SDKv2 to support this functionality similar to SDKv1?

[2022-07-16 16:05] ShaikMaheer-MSFT commented on #95829
@jzuchora87 Thank you for feedback. We are actively looking into it. We will share updates soon.

[2022-07-16 16:07] ShaikMaheer-MSFT commented on #95830
@devman2k Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-16 16:35] baltner opened #95832 "Copying data from an existing Postgres DB"
Hello.  This was a great tutorial and I've got the sample application up and running.  However, when I finally got to the sample app running on Azure the postgres tables were empty.  That's not a big deal for the restaurant review sample app since I only created one record in the local version.  But the apps that I'm most interested in copying from my local machine to Azure have many records.  How

[2022-07-16 18:08] msftsameeryadav commented on #92026
How does this prevent someone within that selected group from joining their home computer to AAD?

[2022-07-16 19:01] mikejwhat commented on #91558
Also confused - does this mean you can't have two records in the same private dns zone pointing to two different endpoints for the same service? i.e you can't have two different records representing different blob storage endpoints but you could have say one pointing to file storage and one pointing to blob storage?

[2022-07-16 20:32] marcinjahn commented on #91533
Hi @kgremban, thanks for the answer :) The most confusing part for me is in the middle of the picture, where the arrow goes from Factory's private key to the devices. It looks like the factory signs the device's certificate. The same kind of arrow is drawn on the technician's side. It is not clear if both of them (factory and technician) sign the device's certificate, or if it is just the technici

[2022-07-16 21:26] davidpeden3 commented on #29971
just discovered that AFD doesn't support web sockets/SignalR. super disappointed. please add support.

[2022-07-17 03:40] Surachai-kent opened #95837 "Azure"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: d5947f9c-1eae-7e57-c442-606549b42c02
* Version Independent ID: 3085b88f-ac56-f175-e725-2c9af56b1e00
* Content: [How to prevent misconfigurations with Microsoft Defender for Cloud](https://docs.microsoft.com/th-th/azure/defender-for-cloud/prevent-misconfiguratio

[2022-07-17 04:40] yluiu commented on #95658
Hi, I have moved to other team and do not work on this project anymore, please contact cognitive service Face API team, they should be able to help on this document.

[2022-07-17 04:41] MonikaReddy-MSFT commented on #95832
@baltner  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-07-17 04:42] MonikaReddy-MSFT commented on #95837
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-17 06:54] bmansheim commented on #95354
#please-close

[2022-07-17 06:54] #95354 closed

[2022-07-17 11:02] MNF commented on #95493
@WilliamDAssafMSFT , thanks for the link, the message is as shown in the documentation.
Could you  please explain, what is a meaning of 0 in the message “error: 0 - No such host is known."?
To see error number in the error message would be expected.

[2022-07-17 13:42] isaishangeeth opened #95839 "Multiple issues related to the content in this page."
Issue 1: "Risk can be detected at the User and Sign-in level and two types of detection or calculation Real-time and Offline." Honestly, I have read it multiple times but couldn't make anything out of it. You may want to rewrite it for clarity.

Issue 2: "Our system may detect that the risk event that contributed to the risk user risk score was a false positives or the user risk was remediated wit

[2022-07-17 13:47] AbbyMSFT commented on #95321
#please-close

[2022-07-17 13:47] #95321 closed

[2022-07-17 14:19] ashgit24 opened #95840 "Incorrect example given for executing critical sections of Durable entities"
Hi
Its mentioned in the critical section rules that "Critical sections can signal only entities they haven't locked." but in the example given, the below lines would fail to execute inside the lock.
       await sourceProxy.Add(-transferAmount);
       await destinationProxy.Add(transferAmount);

    using (await context.LockAsync(sourceEntity, destinationEntity))
    {
        ICounter sourceProx

[2022-07-17 19:31] Westmorland opened #95843 "The example code is out of date and does not compile"
The example code is out of date and does not compile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba84f21-fbf3-14d6-f3ad-616888c5d24c
* Version Independent ID: c0f79887-cf7a-06e9-756c-555e3f305ef1
* Content: [Bulk ingestion in Azure Cosmos DB Gremlin API using BulkExecutor](https://docs.microsoft.com/en-us/azure/cos

[2022-07-17 20:16] crtjr64 opened #95844 "This document says nothing about publishing to WebPubSub"
Once again Microsoft, you're wasting our time. Everything in this documentation except using WebPubSub as a middle man I've done already in visual studio code, Node.js and JavaScript without Express or Ngronk which I don't want to bog down my programming with or purchase... again, Microsoft on the big sell without telling us. I started this 11:00am this morning and have been told I needed to buy p

[2022-07-17 20:17] WilliamDAssafMSFT commented on #95493
It's a fair question, and I've reviewed the source code. In this case, I believe the string "error: 0" is part of this particular custom message prep for the standard error message 11001, "No such host is known" and has no further meaning or other values.
For more information, you might consider asking this type of question in [SQL Feedback](https://feedback.azure.com/d365community/forum/04fe6ee0-

[2022-07-17 21:57] jalexmelendez commented on #36927
We still haven't got support for this, it seems that my build is failing too, this is so frustrating tbh, anywaym this is my error message:

` raise ImproperlyConfigured(\ndjango.core.exceptions.ImproperlyConfigured: Could not find the GDAL library (tried "gdal", "GDAL", "gdal3.2.0", "gdal3.1.0", "gdal3.0.0", "gdal2.4.0", "gdal2.3.0", "gdal2.2.0", "gdal2.1.0", "gdal2.0.0"). Is GDAL installed? If i

[2022-07-17 22:08] MonikaReddy-MSFT commented on #95839
@isaishangeeth  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-17 22:09] MonikaReddy-MSFT commented on #95840
@ashgit24  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-17 22:10] MonikaReddy-MSFT commented on #95843
@Westmorland  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-17 22:16] bravadoops opened #95846 "Missing required parameter in powershell code sample"
[Enter feedback here]
I used code sample from run using powershell sectoin and run into error,
`Invoke-AzDataFactoryV2Pipeline : Cannot process command because of one or more missing mandatory parameters:ResourceGroupName.`
Is ResourceGroupName required here? Does it need to be added to code sample
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-07-17 23:39] pradorodriguez opened #95847 "Errors with custom vision docker image"
Main problem: Python updates breaks some packages.
Specific problems: Python "app.py: can not be executed inside the custom vision container.
Problem reason: New Python release breaks packages.
Solution: Update Dockerfile with older packages. Add the following lines to the Docker file:
   RUN pip install markupsafe==2.0.1
   RUN pip install protobuf==3.20.1
Usefule sites:
https://dev.to/azure/fix-

[2022-07-17 23:43] pradorodriguez opened #95848 "Problems with the "createOptions" section of the cameraCapture module"
Main problem: Problems creating file "deployment.template.json" due to the "createOptions" section of the cameraCapture module
Specific problem: Problems with syntax: " "createOptions": "{\"Env\":[\"IMAGE_PATH=test_image.jpg\",\"IMAGE_PROCESSING_ENDPOINT=http://classifier/image\"]}" "
Solution: "  "createOptions":{"Env": ["IMAGE_PATH=test_image.jpg","IMAGE_PROCESSING_ENDPOINT=http://classifier/ima

[2022-07-17 23:47] pradorodriguez commented on #95847
Specific Error inside the Docker container:
Traceback (most recent call last):
  File "app.py", line 13, in <module>
    from predict import initialize, predict_image, predict_url
  File "/app/predict.py", line 3, in <module>
    import tensorflow as tf
  File "/usr/local/lib/python3.7/site-packages/tensorflow/__init__.py", line 98, in <module>
    from tensorflow_core import *
  File "/usr/local/

[2022-07-18 01:13] cgillum commented on #95840
@sebastianburckhardt can you take a look?

[2022-07-18 03:16] SumanthMarigowda commented on #95445
@normesta Please add your comments here

[2022-07-18 03:33] gouthamm161o opened #95849 "Feedback"
[Enter feedback here]

Good
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/component-reference/tune-

[2022-07-18 03:33] gouthamm161o opened #95850 "Feedback"
[Enter feedback here]

---Excellent
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1426d15-311b-d80b-4756-71a5de7ef268
* Version Independent ID: 2401679f-c8bd-699a-1c17-4e4956598bd7
* Content: [Neural Network Regression: Component Reference - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/c

[2022-07-18 04:21] AshokPeddakotla-MSFT commented on #95847
@pradorodriguez Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-18 04:56] #95615 closed

[2022-07-18 05:04] AshokPeddakotla-MSFT commented on #95848
@pradorodriguez Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-18 05:41] Lovejeetsk opened #95852 "article needs update"
[Enter feedback here]

Under Section :

Use a persistent volume with private Azure Files storage (private endpoint)

my customer wants this to be a note stating that CSI driver will not create private endpoint and this steps requires a private endpoint to be already existing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-07-18 05:43] AjayKumar-MSFT commented on #95616
@nagasandeepMSFT, Since we're working on this offline, I'll close this for now. Based on our internal discussions we will update the doc as required.  Thanks for your feedback!

[2022-07-18 05:43] #95616 closed

[2022-07-18 05:48] Cagey-One opened #95853 "Privileged Access Group - Programatic membership removal - Graph/Powershell"
Hi there,

I am trying to develop a way to programatically remove users (members) from Privileged Access Groups. I am currently looking at using graph modules within powershell. I can pull transistive memberships etc. but have not found a way to remove those memberships etc. Is there an idea on when powershell/graph support for this feature will be available?

Cheers

---
#### Document Details

⚠

[2022-07-18 05:52] RohitMungi-MSFT commented on #95849
[gouthamm161o](https://github.com/gouthamm161o) Could you please add more details if you found any issues with the documentation to help you better?

[2022-07-18 05:55] mspme opened #95854 "Hybrid Azure AD Join to MDM using Alternate ID Broken"
Hello

Running dsregcmd /status is outputting AzureAdPrt as NO on users logging in with a verified, managed, routable subdomain.

 The users On-Prem AD UPN is site.xyz.com and Azure AD UPN is xyz.com. site.xyz.com is also verified as a custom domain and enterpriseregistration/enterpriseenrollment CNAME have been added.

According to this document it's a supported config to have different on-prem U

[2022-07-18 05:58] VikasPullagura-MSFT commented on #95852
@Lovejeetsk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-18 05:58] VikasPullagura-MSFT commented on #95852
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-07-18 06:14] shwetamathur7 commented on #95853
@Cagey-One Thanks for your feedback. We will investigate and update the thread.

[2022-07-18 06:29] kobulloc-MSFT commented on #95719
@reigntastic I've brought this up with the documentation team however it's a difficult issue to address.  While a number of people do stumble on this PowerShell requirement, there are a countless number of examples where you might encounter this.  Including a note for each instance may not be possible and it may rely on the reader to know this characteristic of PowerShell.

[2022-07-18 07:06] larsqa commented on #78992
This took way long to find than it should had. Been going through a lot of documentation, github issues, StackOverflow only to find this comment which lead to me finally beeing able to run a NodeJS project on Azure Web App for Containers on my M1 Apple chip.

[2022-07-18 07:44] Venkateshdodda-MSFT commented on #95844
@crtjr64 Apologize for the inconvenience caused on this. Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-07-18 07:51] adi-garg opened #95856 "Encryption Options for Unmanaged Disks(Page Blobs-Standard/Premium)"
Hello,
I could not find documentation which compares encryption options for UNMANAGED Disks.
Perhaps adding a section for Unmanaged Disks here would help compare directly(current article only talks about Managed Disks).

Regards,
Aditya Garg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b964cc95-9074-55f1-c150-f74933a

[2022-07-18 07:56] adi-garg commented on #95856
Alternatively, Perhaps this link
https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json
should call out **Unmanaged disks(Page Blobs)** explicitly. (including standard page blobs in gpv2 as well as premium page blobs)

[2022-07-18 08:49] dominicbetts commented on #95576
Hi @romankiss,

I don't have any "magic tip" for mapping telemetry to the **modelled complex object** - I'd suggest posting in [Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25492.html) or on Stackoverflow in case someone else has a better suggestion.

I'll add some clarifications to the article about mapping unmodeled data from components.

Thanks.

[2022-07-18 08:54] adalfa opened #95858 "az storage account update"
[Enter feedback here]
in
Share-level permissions for all authenticated identities

the command

az storage account update

i removing all the properties and force us to reconnect the account to the AD domain
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e3082ce-6408-d199-7fdc-361966b4c6a8
* Version Independent ID: ed6

[2022-07-18 09:13] minnieshi opened #95859 "mount via different authorization example needed"
[
it would be nice to have an example of mounting the disk with account storage key (authorization approach), below example did not work as it has this exception "java.lang.NullPointerException: authEndpoint"
https://docs.databricks.com/_static/notebooks/data-sources/mount-azure-blob-storage.html
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-07-18 09:55] skatke opened #95860 "Its not working "The property 'ID' cannot be found on this object. Verify that the property exists and can be set. At line:1 char:1 + $nic.IpConfigurations.publicipaddress.ID = $null""
https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/remove-public-ip-address-vm
$nic = Get-AzNetworkInterface -Name myVMVMNic -ResourceGroup myResourceGroup
 $nic.IpConfigurations.publicipaddress.id = $null
Set-AzNetworkInterface -NetworkInterface $nic

$nic.IpConfigurations.publicipaddress.id = $null.  its not working "The property 'ID' cannot be found on this object. Verify that t

[2022-07-18 09:59] ReMx3dit opened #95861 "DownstreamApi"
Any reason why you are still suggesting the use of HttpClient?
Why no mention of IDownstreamApi at all? I would assume this is the way forward..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19609d01-2128-d7ec-6ee1-7c9b3e86cb35
* Version Independent ID: 0a5ce83e-b17f-9d1c-786e-50ef3958c203
* Content: [Get a token in a

[2022-07-18 10:17] kaplik opened #95862 "Key Management in Azure - informations about PMKs"
Hello,
can you please extend the information about "Platform-managed keys (PMKs)", I'm especially looking for:
- where are the PMKs stored? What is the FIPS level compliance?
- how are these keys rotated - what is the interval, and is it the same for all services?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-07-18 10:35] SnehaAgrawal-MSFT commented on #95769
@swettstein Thanks for reaching here! As its mentioned in the document,

"You can avoid token expiration by making a GET call to the /.auth/refresh endpoint of your application. When called, App Service automatically refreshes the access tokens in the [token store](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization#token-store) for the authenticated user. "

"

[2022-07-18 10:44] bkern11256 commented on #84464
I had the same issue. This fixed it for me: https://docs.microsoft.com/en-us/answers/questions/899267/error-on-send-one-or-more-errors-occurred.html

[2022-07-18 11:04] amanmcse commented on #95742
@rikkigouda Any write operation is immediately replicated to a secondary replica in a different datacenter before returning success to the caller. All directory reads are serviced from secondary replicas, which are at datacenters that are physically located across different geographies. There are many secondary replicas, as data is replicated asynchronously.

It is difficult to provide an exact/de

[2022-07-18 11:07] MughundhanRaveendran-MSFT commented on #95567
@Hakuroda , Thanks for the feedback. It is mentioned in the document already "By default, configuration files such as appsettings.json are not automatically copied to the function app's output folder."

Please let me know if this doesnt help

[2022-07-18 11:24] aravishdatabricks opened #95863 "Correct hyperlink to accounts console"
The underlying URL for all the accounts console hyperlinks needs to be updated in this doc

From
https://accounts.cloud.azuredatabricks.net

To
https://accounts.azuredatabricks.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13716d08-c61a-ffba-47a7-07652d3e9fd1
* Version Independent ID: 13716d08-c61a-ffba-47a7-07652

[2022-07-18 11:28] VikasPullagura-MSFT commented on #95856
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-07-18 12:23] DeanGross opened #95865 "What about Notebooks/ML?"
Please add information about the roles required to create notebooks and machine learning models.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22df-0070-b051fc09cb0c
* Version Independent ID: c543b5d2-e0db-d137-acd2-43ed1f712817
* Content: [Roles and permissions in Microsoft Sentinel](https://docs.microso

[2022-07-18 12:25] ac-sk commented on #95625
I've just replaced the 4C download link:
https://software-static.download.prss.microsoft.com/dbazure/888969d5-f34g-4e03-ac9d-1f9786c66750/LanguageExperiencePack.2206C.iso

[2022-07-18 12:30] dhanjel commented on #92820
I have the same issue as well after upgrading the packages, would be nice to get an update on this.
And I really want to have the same long weekends as you guys have ;)

[2022-07-18 12:36] adehaan-rlcm opened #95866 "JSON syntax doesn't allow commenting"
In the parameters example file commenting is used, like:
 "value": "" // This value must be provided.
when copying the source this will result in a faulty bicep parameters file.

Explanation should be outside the code example if copying and using it creates a syntax error.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-07-18 12:39] romankiss commented on #95576
Hi @dominicbetts,

Based on the recently testing, the mapping can be aliased only for simple primitive or complex object. The aliasing to the child of the complex object will not work. It looks like probably that's its limitation.

Thanks
Roman

[2022-07-18 12:40] GitaraniSharma-MSFT commented on #95827
@qliu95114 , We have assigned this to the content owner/author for review.

@damendo , for your review.

[2022-07-18 12:48] ascii79 opened #95867 "high-availability post creation"
[Enter feedback here]
Please validate the document if the zone redundant option is available post creation. As the UI shows it can be done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a2dbb6-0df2-c981-8272-d894651eb4d4
* Version Independent ID: d69496c3-fafe-b370-fa8d-83eec1181355
* Content: [Zone-redundant HA wit

[2022-07-18 12:53] porrascarlos802018 opened #95868 "Please include clarification on automating pod identity using variables."
if there is a way to automate this either by using Azure automation/web hooks or by using any scripts. please add the instructions , how to achieve the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
* Content: [Use

[2022-07-18 13:16] lauradolan commented on #71248
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-18 13:19] lauradolan commented on #73053
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 13:21] #78420 closed

[2022-07-18 13:28] SwathiDhanwada-MSFT commented on #95866
@adehaan-rlcm Thanks for your feedback.

Assigning to content author @mumian for review.

[2022-07-18 13:34] MayankBargali-MSFT commented on #95785
@jmccullough90 It is per Azure Event Grid domain as mentioned in the document.
![image](https://user-images.githubusercontent.com/67255909/179522921-8c547bcf-fa95-4d78-acc5-be24ee1f970e.png)

I will go ahead and close this thread. Feel free to get back to me if you have any queries or concerns.

[2022-07-18 13:34] #95785 closed

[2022-07-18 13:47] MayankBargali-MSFT commented on #95795
@gerardv MicrosoftDocs Github issue is mainly related to the document issue.  I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

As you

[2022-07-18 13:47] #95795 closed

[2022-07-18 13:53] #79992 closed

[2022-07-18 13:53] lauradolan commented on #79992
Thanks @BalaAnbalagan . I've updated the article with a link to the SAP note. #please-close

[2022-07-18 14:06] swettstein commented on #95769
Given that in our situation we don't have any client code that can call the /.auth/refresh endpoint, how can we proceed? Can the backend service (azure function) call that endpoint on behalf of the user? But documentation also states that there is no grace period for expired provdier tokens so I suppose that wouldn't work anyway since the token is already expired.

The session lasts 8 hours but th

[2022-07-18 14:16] Rakesh1402 opened #95869 "West US region Gateway IP address subnets looks incorrect"
Hi Team,
Our synapse is deployed in West US region but still its worker node address found as "13.86.217.27". We have observed traffic with this node. Can you please check and suggest why we can see traffic with this node while accessing Synapse?

Thank you,
regards,
Rakesh Dhandhukiya

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-07-18 14:26] gawshan opened #95870 "This article does not cover MFA guests"
The article is great but lacks in explaining 2 important aspect of user experience:
1) What if an application requires 2 factor authentication. The user experience of email based OTP with another factor makes it very hard to access and not very user friendly.
2) Why can't you invite guest to Email OTP without activating the feature on a tenant level. Can this be possible?

---
#### Document Detail

[2022-07-18 14:36] kengaderdus commented on #94930
@Tiagorafv

Thank you for your feedback and patience. We're collecting all the information require to address this issue.

[2022-07-18 14:38] XcoderBlood commented on #95716
As far as Transforms go, when an update occurs to media services, are the transforms created before the update touched? Im asking because newer transforms saw this issue with the _manifest.json file getting the full name of the basename of the original file where existing transforms still get the basename (32 character only) of the original file.

[2022-07-18 14:50] Givary commented on #95862
@kaplik Thank you for your feedback, let me investigate and revert back on the same.

[2022-07-18 14:52] Givary commented on #95861
@ReMx3dit Thank you for reaching out to us, let us investigate and revert back.

[2022-07-18 14:59] kengaderdus commented on #95662
@mrochon

Thank you for your feedback and patience. We're collecting all the information required to address this issue.

[2022-07-18 15:08] JamesTran-MSFT commented on #95854
@mspme
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-18 15:08] JamesTran-MSFT commented on #95870
@gawshan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-18 15:09] KapilAnanth-MSFT commented on #95860
@skatke ,

I did a lab, and I was able to reproduce your error, but for a different scenario(s).

When there is no Public IP Address associated with a IpConfiguration, there will not be any ID property in the Public IP address field of the IP configuration.
Hence, the error.

Interestingly, there is one more scenario where this error may pop up.
In case you have multiple IpConfigurations, you have

[2022-07-18 15:27] wenfenggh commented on #95716
The key difference comes from the codec type. Does your new transform include CopyCodec like CopyAudio or CopyVideo. If so, {Basename} is limited to 64 chars. If your old transform does not include CopyCodec, it is always limited to 32 chars. Could you please check the codec type in your new and old transforms?

[2022-07-18 15:29] shreyaaithal commented on #86462
@cpdohert - We have updated the sample template. Please verify and confirm if you are still facing the issue.

[2022-07-18 15:30] ricklagerweij opened #95871 "Processing of rules"
The text informing the processing of rules does not match the showed image. RCG2 Network Rule should be applied before RCG3 (prio 100 vs 300).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d504472a-3787-c326-047c-1d48a2c6df99
* Version Independent ID: 5d41fad6-4925-1788-b4cc-f97ba5c162bb
* Content: [Azure Firewall Man

[2022-07-18 15:36] KranthiPakala-MSFT commented on #95859
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-18 15:44] mumian commented on #95866
@adehaan-rlcm - thank you for reporting the issue.  I can see the error in VSCode.  The deployment seems fine.  Does it match your experience?  I will investigate the problem in VSCode. // and /* ...*/ are supported.

[2022-07-18 15:46] VikasPullagura-MSFT commented on #95868
@porrascarlos802018
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-18 15:49] VandhanaMehta commented on #95867
@ascii79 zone redundant option for HA cannot be enabled post server creation. Could you please share additional details on where in UI is the option to enable zone redundant seen by you? @SudheeshGH fyi

[2022-07-18 15:54] shreyaaithal commented on #95654
@eyankzz - Are you using a proxy server? Follow the steps mentioned in this doc and the linked Azure CLI doc - https://docs.microsoft.com/azure/container-registry/container-registry-health-error-reference#connectivity_ssl_error

[2022-07-18 15:54] lkchild opened #95872 "OTX integration - updated instructions needed"
(unless I've missed a step somewhere) The OTX integration links to a process that appears to be out of date.

Note that using the current instructions there's no way to distinguish between TIP and OTX data in Sentinel, as they both show GRAPH as the source.

At the "MS Sentinel webinar - Cyber Threat Intelligence Demystified in Microsoft Sentinel", Rijuta Kapoor (Senior Program Manager, MS Sentine

[2022-07-18 15:57] lkchild commented on #95872
![image](https://user-images.githubusercontent.com/90785645/179552648-d63808a7-b01f-4930-b004-13462962d38f.png)

[2022-07-18 16:00] #95708 closed

[2022-07-18 16:04] ShaikMaheer-MSFT commented on #95789
@mssaperla / @leifbro Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-07-18 16:06] ShaikMaheer-MSFT commented on #95826
@realAngryAnalytics Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-07-18 16:17] arulvelk opened #95873 "Looks like for aspnetcore managed identity the 'Authentication' attribute in the connection string is not yet supported! Need to explicity set the AccessToken to the connection. Please fix the tutorial."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e119045-e113-d9d1-1b5e-a87e6befe3aa
* Version Independent ID: 98fcc13e-5da6-7251-d702-d9ee07c00581
* Content: [Tutorial: Access data with managed identity - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/tutorial-connect-msi-sq

[2022-07-18 16:22] mumian commented on #95866
@adehaan-rlcm - There are two JSON file types in VSCode.  You can save the file as "JSON with comments".  I will add a note to the article.

#please-close

[2022-07-18 16:22] #95866 closed

[2022-07-18 16:25] mimckitt commented on #94556
Sorry you hit issues with the sample. The sample is unfortunately broken but we do not have a good way to resolve it without a complete rewrite and since we are deprecating classic cloud services, we do not want to invest further in these docs. As per getting a sample for cloud services extended support, that service is a very specific service for folks who use classic cloud services and are unabl

[2022-07-18 16:50] #95871 closed

[2022-07-18 16:55] mimckitt commented on #85355
#assign: @mimckitt

[2022-07-18 16:57] mimckitt commented on #85355
We specifically call out which offering and associated SKU is supported. It does not really matter if it is Gen1 or Gen2 but rather if a specific image sku is supported. The above example looks like we call out gen1 or gen2 but in reality, that is actually the SKU name for SLES-15-SP2.

We will look at improving the table to be more clear though.

#please-close

[2022-07-18 16:57] #85355 closed

[2022-07-18 16:57] mimckitt commented on #79017
#please-close

[2022-07-18 16:57] #79017 closed

[2022-07-18 17:00] brichbourg opened #95874 "Warning about existing ERGWs, etc."
My team and I hit an issue where we deployed a ARS to an existing production network with ER already configured.  This took the network down which we were not expecting.  Afterwards, we saw in the troubleshooting guide you guys mention that the control-plane needed to be updated but connectivity would be restored.  I don't typically review troubleshooting docs for design and planning (maybe I shou

[2022-07-18 17:02] mimckitt commented on #94007
This has been fixed.

#please-close

[2022-07-18 17:02] PRMerger10 commented on #94007
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-07-18 17:02] mimckitt commented on #94007
#please-close

[2022-07-18 17:02] #94007 closed

[2022-07-18 17:03] sumeetmittal commented on #70983
Routing the traffic on the Microsoft Backbone is not the only benefit coming from Service Endpoints. Service Endpoints also allows the Service to put VNET ACLs in place and restrict the traffic to certain subnets besides choosing the optimized route. In additional Service can deny the internet inbound and only allow for VNET inbound which brings critical security to Service side. Thanks

[2022-07-18 17:05] mimckitt commented on #92071
@bandersmsft Do you think this is something we could include in the Cost and Billing docs?

[2022-07-18 17:15] sumeetmittal commented on #88230
@Nitin Sharma

[2022-07-18 17:16] #94985 closed

[2022-07-18 17:22] sumeetmittal commented on #90273
@ Nitin Sharma

[2022-07-18 17:22] asudbring commented on #57271
Azure Government has been added to page.

#please-close

[2022-07-18 17:22] #57271 closed

[2022-07-18 17:23] sumeetmittal commented on #92009
Azure Private Linl/Service is not a PaaS.. Its a mechanism to connect to PaaS. Thanks

[2022-07-18 17:23] sumeetmittal commented on #94904
@ Nitin Sharma

[2022-07-18 17:27] #60688 closed

[2022-07-18 17:30] asudbring commented on #61906
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 17:30] #61906 closed

[2022-07-18 17:33] asudbring commented on #63176
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-07-18 17:35] sumeetmittal commented on #87056
Thanks for the feedback. I info you are requesting is there but I guess your feedback is to better re-arrange that. We will look into it. Thanks

[2022-07-18 17:42] #64867 closed

[2022-07-18 17:44] cynthn commented on #85646
#assign mattmcinnes

[2022-07-18 17:45] asudbring commented on #70433
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 17:45] #70433 closed

[2022-07-18 17:53] cynthn commented on #70113
@ericd I think this is "fixed" - but can you confirm with Kofi?

[2022-07-18 17:53] asudbring commented on #72116
Thanks for your dedication to our documentation. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out again. #please-close

[2022-07-18 17:53] #72116 closed

[2022-07-18 17:54] asudbring commented on #72739
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 17:54] #72739 closed

[2022-07-18 17:54] cynthn commented on #71048
@ericd Can you check with Kofi on this one?

[2022-07-18 17:55] kduenke opened #95876 "Missing TLS 1.2"
The Invoke-WebRequest from the Install IoT Edge X64/AMD64 section fails on Windows 10.

Added...
[code]
... to make it work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981e06fb-977c-c6a3-b5bf-23ea63b4dfe6
* Version Independent ID: 3620faaf-95d0-cdd2-e4ed-18c9e24a0bb4
* Content: [Create and provision an IoT Edge for

[2022-07-18 18:05] yangyuan commented on #95022
Document is mistaken, we don’t support modifying this property via az cognitiveservices CLI.

You can use Az Resource CLI
az resource update --ids {resourceId} --set properties.networkAcls="{'defaultAction':'Allow'}"

or you can use Az PowerShell which has full contract support.

[2022-07-18 18:09] AjayKumar-MSFT commented on #95629
iljoong, We have raised a PR and shared it with the author for a review. Once the PR is reviewed and merged the changes will be published. Thanks for sharing your feedback.

[2022-07-18 18:09] #95629 closed

[2022-07-18 18:17] asudbring commented on #76361
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 18:17] #76361 closed

[2022-07-18 18:19] asudbring commented on #77004
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 18:19] #77004 closed

[2022-07-18 18:44] ChaitanyaNaykodi-MSFT commented on #95666
Hello @Shruti700,
apologies for the delayed response here. ERR_CONNECTION_TIMED_OUT error will occur if VM NSG is blocking HTTP connection. In [this section](https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal#create-virtual-machines) of the tutorial in Step 5 have enabled HTTP connection in the NSG? If yes, Can you also check if any other NSG is bl

[2022-07-18 18:44] #95666 closed

[2022-07-18 18:51] duranbe opened #95881 "Typo in section title"
Current Title is : Create a Spark DataFrame from a Python directory
IT should be : Create a Spark DataFrame from a Python dictionary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7240ba1-5ba3-3812-59c8-43a5c9a519ca
* Version Independent ID: 4a3f39c2-270b-7972-1199-b268230f5bac
* Content: [Create a DataFrame from a JS

[2022-07-18 19:03] asudbring commented on #78878
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 19:03] #78878 closed

[2022-07-18 19:07] asudbring commented on #79698
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 19:07] #79698 closed

[2022-07-18 19:09] asudbring commented on #80226
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 19:09] #80226 closed

[2022-07-18 19:14] #81156 closed

[2022-07-18 19:15] asudbring commented on #81192
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-18 19:15] #81192 closed

[2022-07-18 19:17] #81664 closed

[2022-07-18 19:38] MarileeTurscak-MSFT commented on #95858
@adalfa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-18 19:39] MarileeTurscak-MSFT commented on #95858
Thanks @adalfa ! Can you clarify the exact issue you are facing when running the command, when the issue started, and what your expected outcome is vs your actual outcome?

[2022-07-18 19:48] adi-garg opened #95882 "Durability and High Availability section to clearly call out Redundnacy options (Page Blobs)"
Hello,
The section here
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-pageblob-overview?tabs=dotnet#durability-and-high-availability
needs to clearly call out the Redundancy options.
Unmanaged disks ie page blobs work with **gpv2 storage accounts** and **premium page blob storage accounts**.
gpv2 supports **LRS,ZRS,GRS,GZRS** whereas premium page blobs support only **LRS replic

[2022-07-18 19:57] #95465 closed

[2022-07-18 20:04] whhender commented on #95645
@HenriHeijltjes - I am still looking into this. I'll follow up with you and let you know if I'm going to make any additions!

[2022-07-18 20:12] mumian commented on #94534
@Chryogenic - Hi Ben, thank you for your comments.  I have created a PR to address this issue. Basically, I revised the existing sample to provide 2 parameter values.

#please-close

[2022-07-18 20:13] adalfa commented on #95858
when I launch the command the azureFilesIdentityBasedAuthentication are overwritten and activeDirectoryProperties are set to null.
I do expect to have azureFilesIdentityBasedAuthentication.defaultSharePermission set to the value and azureFilesIdentityBasedAuthentication.activeDirectoryProperties  untouched. But today and last week i had to repeat the steps to  "enable AD DS authentication for your

[2022-07-18 20:13] jsimsmsft opened #95883 "limitations need to state that storage account firewall must be disabled if using custom storage account"
VM boot diagnostics won't work with a custom storage account if the firewall is enabled on the storage account.
Can we add this to the Limitations section that Storage Account Firewall isn't supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691353ad-7c13-bce2-510f-b9a641cf95c4
* Version Independent ID: afced714

[2022-07-18 20:17] golfalot opened #95884 "Operation failed since the external data source ... has underlying storage account that is not in the list of Outbound Firewall Rules on the server. Please add this storage account to the list of Outbound Firewall Rules on your server and retry the operation."
# synapse error message bug
There is horrible very time wasting bug that occurs when using Built-in SQL, writing to ADLS gen2 with synapse Data Exfiltration Protection enabled, and Managed Service Identity
If you follow the current documentation and use

`https://<mystoageaccount>.blob.core.windows.net/<mycontainer>/<mybaseoutputfolderpath>`
Instead of
`https://<mystoageaccount>.dfs.core.windows.n

[2022-07-18 20:48] sethwisdom opened #95885 "Preview mode requirement needs help"
[Enter feedback here]
**Enable SFTP support (PowerShell tab)**
"The -EnableSftp parameter is currently only available in preview versions of Azure Powershell. Use the command below to install the preview version:
Install-Module -Name Az.Storage -RequiredVersion 4.1.2-preview -AllowPrerelease"

Comment: It would be better to give a way to get the version number that is current.

**Enable SFTP suppo

[2022-07-18 20:51] carltoncolter opened #95886 "Force Sync and the Mail field"
When you sync with Dynamics CRM, doesn't it also sync the mail field?

Do we have somewhere that specifies what synchronizes when you force sync a user?  I'd assume it is all the fields on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4

[2022-07-18 20:53] ericd-mst-github commented on #91013
Hello, I apologize for the delay. We have reviewed with engineering and the `-status` parameter is not valid and there is a PowerShell bug for the cmd itself that is looking to be resolved by next week.

We have the '-Expand InstanceView` parameter as a workaround and updated our docs. Please let us know if that parameter is not working.

[2022-07-18 21:04] #91013 closed

[2022-07-18 21:20] HarshaPotlapally opened #95887 "Data-factory-Smartsheet connector, Failed to get total row count"
when the Linked Service is pushed to Production via CI/CD, it only works when the Access token for the Smartsheet is re-entered.
other wise it just gives a " Failed to get total row count" error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdb35742-5795-a9cc-ef83-defa2af070fb
* Version Independent ID: 943cd439-1ad9-

[2022-07-18 21:31] matthewtatsch opened #95888 "Need to disable private link service network policies to create node communication pool without public IP addresses"
The following is in the [Prerequisites](https://docs.microsoft.com/en-us/azure/batch/simplified-node-communication-pool-no-public-ip?WT.mc_id=Portal-Microsoft_Azure_Batch#prerequisites) section:

After running the above command, I was still presented with the following error in the portal upon attempting to create a new pool with `NoPublicIpAddresses` (emphasis added):

I then ran the following, a

[2022-07-18 21:33] JamesTran-MSFT commented on #95825
@john-matlock-eng
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-18 21:44] Grace-MacJones-MSFT commented on #95873
Hi @arulvelk , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-07-18 21:44] mcat97 commented on #95069
I wanted to re-ping this as the website is still saying Entity ID -- instead of Application ID. Please let me know when the change is going to go live, we just had a few other client report issues with connecting.

[2022-07-18 21:51] JamesTran-MSFT commented on #95854
@mspme
From the examples within the documentation, it looks like domains such as `sitename.com, sitename.org, etc.`, are the only supported types of domains for on-premises AD user's UPNs being different from Azure AD UPNs. In your specific scenario, your domain is a subdomain `site.xyz.com` and to be supported for hybrid Azure AD join based off the [examples](https://docs.microsoft.com/en-us/azur

[2022-07-18 21:52] realAngryAnalytics commented on #82939
#reassign:realAngryAnalytics

[2022-07-18 21:53] realAngryAnalytics commented on #84482
#reassign:realAngryAnalytics

[2022-07-18 21:53] JamesTran-MSFT commented on #95069
@mcat97
Thank you for following up on this! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-18 21:53] davidsmatlak commented on #57371
Used the [createUiDefintion sandbox](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/test-createuidefinition) with the [Compute.CredentialsCombo](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/microsoft-compute-credentialscombo) UI element. During tests without a `customPasswordRegex`, the password prompted for a minimum of 12 alphanumeric

[2022-07-18 21:53] davidsmatlak commented on #57371
#please-close

[2022-07-18 21:53] #57371 closed

[2022-07-18 22:02] rwestMSFT commented on #95689
Thanks for raising this issue, @OzBob. It does qualify as a docs-related issue.

I'm closing this as a duplicate of your other issue https://github.com/MicrosoftDocs/sql-docs/issues/7794, which we'll look into there.

#please-close

[2022-07-18 22:02] #95689 closed

[2022-07-18 22:09] SaiKishor-MSFT commented on #95885
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-07-18 22:10] SaiKishor-MSFT commented on #95882
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-07-18 22:14] #93629 closed

[2022-07-18 22:18] geometrikal opened #95890 "Add note that PostgreSQL connection strings cannot be accessed via IConfiguration in ASP.Net core app"
There is an outstanding issue https://github.com/dotnet/runtime/issues/36123 where if you set the connection string to PostgreSQL it will **NOT** be accessible via `IConfiguration.GetConnectionString(" ... ")` in a ASP.Net Core app.

Please amend the documentation to make this note.

The workaround is to not use the PostgreSQL setting and instead set the connection string type to custom

---
####

[2022-07-18 22:27] DeanCefola opened #95892 "edit FQDN code blocks to make this easier"
in all the examples on this doc, for example:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key-on-premises?source=docs#example-1-prompt-for-all-credentials

I suggest removing the placeholder domain FQDN and replace it with this
 $env:USERDNSDOMAIN
This powershell variable will insert he fully qualified domain name that the serve

[2022-07-18 22:40] MarileeTurscak-MSFT commented on #95892
@DeanCefola
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-18 22:52] jberry777 opened #95893 "Cosmos DB account does not have a "Replicate data globally" menu option"
I'm attempting to change the region my Cosmos DB account is in following this documentation "https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-database-account#addremove-regions-from-your-database-account". It states that I need to select the "Replicate data globally" menu from the account page but there is nothing called that on the Cosmos DB account page.

Was that renamed to someth

[2022-07-18 22:56] asudbring commented on #83796
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-18 22:56] #83796 closed

[2022-07-18 23:00] masters3d opened #95894 "Azure Container Apps are missing from this list in addition to other services."
[Enter feedback here]

- Azure Container Apps are missing from this list.
- Other services should also be listed here or at least there should be a link to these other services support to be able to be deployed into a vnet.
   -  Perhaps you can explain the difference between depooying to vnet and only limiting traffic from the vnet using technologies like private link

---
#### Document Details

[2022-07-18 23:30] MarileeTurscak-MSFT commented on #95874
@brichbourg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-18 23:31] MarileeTurscak-MSFT commented on #95876
@kduenke
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-18 23:40] MarileeTurscak-MSFT commented on #95881
@duranbe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-18 23:43] shlipsey3 commented on #95818
Hi Mark!
I spoke with the PM and she thinks it's worth adding a line to the opening paragraph that says the list is inclusive of gov and national clouds.

In your view, does this meet your needs for clarification?

This article provides the details of the root and subordinate Certificate Authorities (CAs) utilized by Azure. The scope includes government and national clouds. The minimum requirement

[2022-07-18 23:43] WilliamDAssafMSFT commented on #95794
Thanks @markmcdon7 for contacting Microsoft with feedback about our product documentation. This is in active discussion to get more detail on the least privileges in various scenarios. A doc update on this topic is in progress. Will close this issue for now.

#please-close

[2022-07-18 23:43] #95794 closed

[2022-07-18 23:43] WilliamDAssafMSFT commented on #72910
Thanks @Amritjagyasi for contacting Microsoft with feedback about our product documentation. This is in active discussion to get more detail on the least privileges in various scenarios. A doc update on this topic is in progress. Will close this issue for now.

#please-close

[2022-07-18 23:43] #72910 closed

[2022-07-18 23:54] markmassad commented on #95818
That addition would do the trick.  Thanks for that.  Mark

From: shlipsey3 ***@***.***>
Sent: Monday, July 18, 2022 4:43 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mark Massad ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Azure CA Certs List for Gov Cloud (Issue #95818)

Hi Mark!
I spoke with the PM and she thinks it's worth adding a line to the opening paragraph

[2022-07-19 00:00] ChaitanyaNaykodi-MSFT commented on #95894
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-19 00:06] pradorodriguez opened #95895 "Error executing command "mvn install -T 2C -DskipTests""
Problem: Error executing command "mvn install -T 2C -DskipTests"
Error attached

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78884cad-41dd-0c66-8173-506141801262
* Version Independent ID: 5fdb7caf-ce9e-1ef5-1ebf-5f2b8e6f0ec7
* Content: [Send device telemetry to Azure IoT Hub quickstart](https://docs.microsoft.com/en-

[2022-07-19 00:10] pradorodriguez commented on #95895
[ERROR] Errors:
[ERROR] com.microsoft.azure.sdk.iot.provisioning.security.SecurityProviderSymmetricKeyTest.getSSLContextSucceeds(com.microsoft.azure.sdk.iot.provisioning.security.SecurityProviderSymmetricKeyTest)
[ERROR]   Run 1: SecurityProviderSymmetricKeyTest.getSSLContextSucceeds:288 NoClassDefFound Cou...
[ERROR]   Run 2: SecurityProviderSymmetricKeyTest.getSSLContextSucceeds:288 NoClassDefFo

[2022-07-19 00:25] jlagarda opened #95896 "The language expression property 'outputs' doesn't exist"
Is this Bicep Module no longer providing outputs?

I reviece the following error

The template output
'result' is not valid: The language expression property 'outputs' doesn't exist, available properties are 'provisioningState, azPowerShellVersion, scriptContent, arguments, retentionInterval, timeout, containerSettings, status, cleanupPreference
---
#### Document Details

⚠ *Do not edit this secti

[2022-07-19 00:25] asudbring commented on #85265
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 00:25] #85265 closed

[2022-07-19 00:29] Karishma-Tiwari-MSFT commented on #95888
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-19 00:29] asudbring commented on #85367
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-19 00:29] #85367 closed

[2022-07-19 00:30] asudbring commented on #85409
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 00:30] #85409 closed

[2022-07-19 00:31] asudbring commented on #85414
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 00:31] #85414 closed

[2022-07-19 00:33] asudbring commented on #85525
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-19 00:33] #85525 closed

[2022-07-19 00:39] asudbring commented on #87092
Hi @yutaro113

Thank you for your feedback.  The documentation explaining the differences is located here:  https://docs.microsoft.com/en-us/azure/virtual-network/vnet-integration-for-azure-services

#please-close

[2022-07-19 00:39] #87092 closed

[2022-07-19 00:43] asudbring commented on #88200
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 00:43] #88200 closed

[2022-07-19 00:46] asudbring commented on #89596
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 00:46] #89596 closed

[2022-07-19 00:48] kobulloc-MSFT commented on #95883
@jsimsmsft Thank you very much for the feedback!  We've assigned this to the document author for further review.

[2022-07-19 01:02] asudbring commented on #89851
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 01:02] #89851 closed

[2022-07-19 01:03] asudbring commented on #89941
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-19 01:03] #89941 closed

[2022-07-19 01:04] asudbring commented on #90025
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 01:04] #90025 closed

[2022-07-19 01:05] asudbring commented on #90411
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 01:05] #90411 closed

[2022-07-19 01:12] asudbring commented on #93690
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 01:12] #93690 closed

[2022-07-19 01:16] asudbring commented on #94724
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-07-19 01:16] #94724 closed

[2022-07-19 01:33] Rodrigovia opened #95898 "Not clear the supported versions on each Defender product."
Not clear the supported versions on each Defender product.
For example, is Defender for Office 365 Plan 1 supported?

Regards!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13a8631d-0760-740e-b693-a8ed61bc494d
* Version Independent ID: 2ed046ef-2d5b-7a91-1e30-a8d8a73898d7
* Content: [Microsoft 365 Defender integration

[2022-07-19 01:33] AaronMaxwell commented on #95803
Thanks for your dedication to our documentation and your interest in Open Telemetry. This is a known issue, and we have internal work items to update the Open Telemetry documentation as we get closer to releasing full functionality over the next 6-12 months. (https://docs.microsoft.com/azure/azure-monitor/faq#opentelemetry) We are closing this issue for now because it is already on our radar. #ple

[2022-07-19 01:33] #95803 closed

[2022-07-19 01:34] ashivadi opened #95899 "Please change "IAM Identity Center" to "AWS SSO" if possible."
It is not called IAM Identity Center - the screenshots are from AWS SSO settings and it is very confusing for mutual customers of Azure AD and AWS SSO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e131bf-99d7-a850-a597-ac02b9f6c3a9
* Version Independent ID: a27625d3-cf35-ffaf-5734-d1a2bbcdd60c
* Content: [Tutorial:

[2022-07-19 01:34] Oury-MSFT commented on #95893
@jberry777 We are looking into this and will get back shortly.

[2022-07-19 01:46] donghui-wu777 opened #95900 "AzureFrontDoor tags work at Azure Firewall"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/62919773/179645774-9d3d73a3-e1ba-4407-9312-ea04c756b878.png)
It seems that we cannot use AzureFrontDoor tag in Azure Firwall,however we can find those tags in Azure Firewall. And I were able to confirm that AzureFrontDoor.Frontend tag works in my lab. Could you please double check tags and fix this document? Thank you!

---

[2022-07-19 01:52] donghui-wu777 commented on #95900
You can find tags at Azure Firewall Network Rule. I have tested AzureFrontDoor.Frontend tag and it works.
BTW,in my knowledge, I cannot image the scenario that we should use AzureFrontDoor.**Backend** tag at Azure Firewall Network Rule to allow the outbound traffic.
![image](https://user-images.githubusercontent.com/62919773/179646508-a51a23dd-3c0b-422e-8b20-d1192f4615c3.png)

[2022-07-19 02:00] thiruma0203 opened #95901 "Scale-in-policy is not allowed to Flex mode"
In the documentation, there are Azure CLI and PowerShell command example to create a VMSS with combination of scale-in-policy and Flex mode.

`az group create --name <myResourceGroup> --location <VMSSLocation>
az vmss create \
  --resource-group <myResourceGroup> \
  --name <myVMScaleSet> \
  --orchestration-mode flexible \
  --image UbuntuLTS \
  --admin-username <azureuser> \
  --generate-ssh-ke

[2022-07-19 03:03] #95899 closed

[2022-07-19 03:25] #95811 closed

[2022-07-19 03:25] #71343 closed

[2022-07-19 03:29] amanmcse commented on #95886
@carltoncolter Thank you for your feedback. We will investigate and update the thread further.

[2022-07-19 03:31] amanmcse commented on #95742
@rikkigouda Closing out the issue.

[2022-07-19 03:31] #95742 closed

[2022-07-19 03:58] SnehaAgrawal-MSFT commented on #95890
@geometrikal Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-19 04:07] VikasPullagura-MSFT commented on #95901
@thiruma0203
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-19 04:07] VikasPullagura-MSFT commented on #95901
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2022-07-19 04:16] MayankBargali-MSFT commented on #95685
@ianrenUipath I have got an update from my team, and they confirmed that it is the error in the policy, and they will be fixing the [sample here](https://github.com/Azure/api-management-policy-snippets/blob/master/examples/Call%20out%20to%20an%20HTTP%20endpoint%20and%20cache%20the%20response.policy.xml) to resolve the document error. I have created the issue [here ](https://github.com/Azure/api-ma

[2022-07-19 04:16] #95685 closed

[2022-07-19 04:24] SwathiDhanwada-MSFT commented on #95896
@jlagarda Thanks for your comment. We will review the issue and get back to you shortly.

[2022-07-19 04:36] #95699 closed

[2022-07-19 04:37] ShaikMaheer-MSFT commented on #95884
@golfalot Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-19 04:40] SumanthMarigowda commented on #95674
@ElanShudnow PR has been initiated!We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-19 04:40] #95674 closed

[2022-07-19 04:52] ShaikMaheer-MSFT commented on #95887
@HarshaPotlapally Thank you for the question. Instead of hardcoding API token in linked service. You can consider reading from from Azure Key Vault Secret. Kindly check [reference a secret stored in Azure Key Vault](https://docs.microsoft.com/en-us/azure/data-factory/store-credentials-in-key-vault).

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clari

[2022-07-19 05:52] KrishnaG-MSFT commented on #95663
Hi @getk12, I have pinged you offline with the contacts that I am aware. Thanks.

[2022-07-19 05:52] #95663 closed

[2022-07-19 05:56] pandene opened #95905 "Does not work"
When trying this, I get a HTTP/1.1 400 Bad Request

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Content: [Manually run a non HTTP-triggered Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/func

[2022-07-19 06:00] asudbring commented on #74181
Created pull request to add missing services.
@CHDAFNI-MSFT unfortunately myself or the private link PM aren't contacted when a service is onboarded to Private Link so we are dependent on the service owners to update the tables when they are preview, GA etc or contact us to update them.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/205153

#please-close

[2022-07-19 06:00] #74181 closed

[2022-07-19 06:10] ChaitanyaNaykodi-MSFT commented on #95675
Thank you @aengleman for sharing the resolution.
Hello @Eurosome, the resolution shared above by @aengleman is correct. I also confirmed this with similar issue internally.

We will now proceed to close this issue out. Please tag me in your response if you have any additional questions here. Thank you!

[2022-07-19 06:10] asudbring commented on #75435
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-19 06:10] #75435 closed

[2022-07-19 06:11] asudbring commented on #75931
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-19 06:11] #75931 closed

[2022-07-19 06:22] KapilAnanth-MSFT commented on #95900
@donghui-wu777, thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-19 06:24] AshokPeddakotla-MSFT commented on #95895
@pradorodriguez Could you confirm where are you running the command?
Windows 10
Ubuntu 20.04 LTS
Raspberry Pi OS (Raspbian) version 10, running on a Raspberry Pi 3 Model B+

[2022-07-19 06:30] AshokPeddakotla-MSFT commented on #95895
This looks like a certification issue, Adding author @timlt to update if there is any recent change related to it.

[2022-07-19 07:14] v-hgampala commented on #95378
Issue resolved.
#please-close

[2022-07-19 07:14] #95378 closed

[2022-07-19 07:31] g0josh commented on #88006
+1,  Would love to know how this can be done

[2022-07-19 07:42] adehaan-rlcm commented on #95866
@mumian yes there is a language mode selection for JSON with comment. But the default behavior for a .json file extension is to select the JSON language, as it should be. Therefor the file needs to adhere to that specification. As far as I can research Microsoft created the specifications for JSON with comments and the extension .jsonc is suggested for that? Seems to me that as vscode is used in a

[2022-07-19 07:45] AshokPeddakotla-MSFT commented on #95848
As this suggestions/feedback needs validation and doc update, assigning this to author @PatAltimore

[2022-07-19 07:53] v-hgampala commented on #95069
@mcat97 We just created a PR for this change, will merge within 24 hours.
#please-close

[2022-07-19 07:53] #95069 closed

[2022-07-19 08:11] SreejaBhattacharya-MSFT opened #95906 "Supported windows os versions includes windows 10, whereas in documentation it mentions azure automanage doesn't yet support windows client images"
[Enter feedback here]
This document [https://docs.microsoft.com/en-us/azure/automanage/automanage-windows-server#supported-windows-server-versions](https://docs.microsoft.com/en-us/azure/automanage/automanage-windows-server#supported-windows-server-versions) consists of windows 10 in the supported os versions, whereas the Prerequisites section of this document -> [https://docs.microsoft.com/en-us/

[2022-07-19 08:27] boris-tarasov-maersk commented on #95065
any updates on my comment above?

[2022-07-19 08:29] boris-tarasov-maersk commented on #95065
linking previuos issue that was closed
https://github.com/MicrosoftDocs/azure-docs/issues/95013
#95013

[2022-07-19 08:58] XIBRIGHT opened #95907 "event grid"
[This topic talk about everything but does NOT describe what is the Function of Event Grid. So basic. please give the main purpose of the subject then follow it with examples. When the basics are not clear the details will not work.
Thank you.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3427291a-bf0e-81c6-0e9f-72bd

[2022-07-19 09:10] timschonborn opened #95908 "Remove Deprecated .substr() from example"
The [example code](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-cosmos-db-vs-code?tabs=in-process&pivots=programming-language-javascript#add-code-that-uses-the-output-binding) uses the [deprecated (MDN)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substr) `substr()` method.

I think the example in the docs should wo

[2022-07-19 09:16] t-bzhan opened #95909 "Description of sequence of operations to set up service endpoints in doc contradicts with the description in portal"
In portal, it is suggested to adding virtual networks before setting up  service endpoints:
![image](https://user-images.githubusercontent.com/61817681/179711963-f624dbc1-85e8-493f-8e30-76dd0e4d3234.png)

That seems to contradict with the description in the doc:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-is-the-right-sequence-of-operations-to-set-up-service-en

[2022-07-19 09:22] Aprilllllll opened #95910 "'The following output shows that no upgrades are available:' part is misleading the readers"
This sentence is misleading, the output can be a result that azure cli is outdated. There will be output once azure cli got upgraded:
![image](https://user-images.githubusercontent.com/96217475/179715388-1f50a908-192a-4f1b-9313-1617b127a479.png)

root@LAPTOP-VVIDO0MT:/mnt/c/Users/siyueli# az version
root@LAPTOP-VVIDO0MT:/mnt/c/Users/siyueli# az aks get-upgrades --resource-group rg-AzureMonitor-aks

[2022-07-19 09:25] RohitMungi-MSFT commented on #95801
[Hydrugion](https://github.com/Hydrugion) Newer features and future investments will be introduced in v2 along with migration of existing features. However, the SDK being experimental and in preview the ETA to rollout all features is not fixed. The documentation and release updates will publish the changes as soon as they are made available in the documentation.

[2022-07-19 09:27] RohitMungi-MSFT commented on #95849
@gouthamm161o We will now proceed to close this thread. If there are further questions please feel free to raise a new issue with more details. Thanks!!

[2022-07-19 09:27] #95849 closed

[2022-07-19 10:00] SreejaBhattacharya-MSFT commented on #95910
@Aprilllllll thanks for sharing the feedback. We will investigate and update the thread.

[2022-07-19 10:11] shwetamathur7 commented on #95853
@Cagey-One Unfortunately, currently there is no API support for PIM alerts and privileged access groups. Since this feature is currently in preview, PowerShell or GraphAPI for Privileged access groups is not supported.
If you'd like the ability to be able to create PIM enabled Azure AD groups and edit their settings using the Graph API, I'd recommend leveraging our [User Voice forum](https://feedb

[2022-07-19 10:11] #95853 closed

[2022-07-19 10:17] AjayKumar-MSFT commented on #95673
@diberry, We had similar request raised https://github.com/MicrosoftDocs/azure-docs/issues/95629, I'd raised a PR for a review and merge. I have followed-up with the author. Thanks for reporting!

[2022-07-19 10:17] #95673 closed

[2022-07-19 10:31] KapilAnanth-MSFT commented on #95799
Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

We will gladly continue the discussion and we will reopen the issue.

[2022-07-19 10:31] #95799 closed

[2022-07-19 10:55] shwetamathur7 commented on #95197
@chrismarlin Apologies for delay in response. Unfortunately, there is no RBAC available to enable Azure Key Vault and manage storage accounts and provide access to UPN directly.

[2022-07-19 11:03] SwathiDhanwada-MSFT commented on #95906
@SreejaBhattacharya-MSFT Thanks for your feedback.

Assigning to content author @mmccrory  for review.

[2022-07-19 11:23] dominicbetts commented on #95576
Hi @romankiss,

It looks like you're correct about only being able to map to a primitive rather than to a field in a complex object. I'll add a note to the docs about this.

Once I've done that, I'll close this issue as there are no further mapping doc updates to make.

Thanks!

[2022-07-19 11:45] shwetamathur7 commented on #95861
Hi @ReMx3dit,
We are not recommending the use of HttpClient only. There are customers who are still using HttpClient and need reference to call the WebAPI without helper classes. In the next step, we mentioned all the different ways to call protected API using IDownstreamAPI  as well (https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-call-api?tabs=aspnetcore

[2022-07-19 11:52] timoklimmer commented on #95022
@yangyuan Thanks for the command above. Can you update the article and replace the wrong Azure CLI commands against the correct ones?

[2022-07-19 12:02] eugbyte commented on #95755
Facing the same issue. Additionally, I get a message that the image will only continue for N number of days
[code]
produces:
[code]

[2022-07-19 12:04] Sandeg-MSFT commented on #95486
@Mike-Crowley
As per this article "Enabling group writeback's new features is a two step process. One step is done via Azure AD Connect. This step enables the original group writeback features. The second one is done using PowerShell and enables the new writeback features once the original features are enabled."

![image](https://user-images.githubusercontent.com/51623715/179745774-a6507e1b-7c52-4

[2022-07-19 12:12] unowiz commented on #86803
Hi all, Any update or workaround that we may use meanwhile?

[2022-07-19 12:58] ericsandvick commented on #92058
Using the clues earlier in this thread, I was able to mount an Azure File Storage share to my Windows App Service and serve the static files from through my Asp.net Core 3.1 website.

After adding the Azure Storage Mount to your App Service, you'll need to add the "UseFileServer" option to your app config within Startup.cs.  In this case, my Azure File Storage share was named "courses"; snippet is

[2022-07-19 13:05] Sandeg-MSFT commented on #95886
@carltoncolter

User attributes get synced to Azure AD first. Post that depending on the applications only few attributes get synced with particular application. By default, there is no mail attribute that gets synced with Dynamics CRM.

There are only few attributes that gets synced with Dynamics CRM. Below is the article that talks about attributes that gets synced even after you force sync the

[2022-07-19 13:17] lauradolan commented on #71099
Thanks for providing feedback that helps improve our documentation. This article has been updated per the feedback and we are closing the issue. #please-close

[2022-07-19 13:17] #71099 closed

[2022-07-19 13:31] eyankzz commented on #95654
Thanks for the update. My mistake that I did not mention around proxy explicitly. I thought you will catch it as I was able to access the URL via browser.

No, there is no proxy configured. The link shared is the same as you see from tool's output and but obviously followed and was not helpful (it just explains the error, no remediation or action on how to solve this).

Explicitly stating what I h

[2022-07-19 13:33] seesharprun commented on #95893
#reassign:seesharprun

[2022-07-19 13:36] #95893 closed

[2022-07-19 13:52] seesharprun commented on #95843
#label:"awaiting-customer-response"

[2022-07-19 14:02] thomash0815 opened #95915 "Sentinel and Defender for Event Hub"
Hi,
I'm a bit confused about the content in https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/event-hubs-security-baseline#lt-1-enable-threat-detection-for-azure-resources

- there is Microsoft Defender for Event Hubs mentioned, but does that really exist? Could find anything in documentation in the workoad protection area of the defender (like defender for storage etc.)
- sentin

[2022-07-19 14:04] OMGUSED opened #95916 "Parameter Description Improvement"
Can you please indicate whether the parameters (primarily DataFactoryName and ResourceGroupName) are for the source or the destination? (both for the pre and post-deployment scripts)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b2d75a-07c4-75b6-32d3-6e7dd78683f7
* Version Independent ID: 57d29c39-e05f-b95d-de80-d81

[2022-07-19 14:11] iwafula025 opened #95917 "Type-for instead of BEfore"
How transformations work
Transformations are performed in Azure Monitor in the [data ingestion pipeline](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/data-collection) after the data source delivers the data and before it's sent to the destination. The data source may perform its own filtering before sending data but then rely on the transformation for further manipulation for it

[2022-07-19 14:13] iwafula025 opened #95919 "Repetition of "aggregation" causing some confusion"
There are two modes of billing for a cluster that you specify when you create the cluster.

Cluster (default): Billing for ingested data is done at the cluster level. The ingested data quantities from each workspace associated to a cluster are aggregated to calculate the daily bill for the cluster. Per-node allocations from [Microsoft Defender for Cloud](https://docs.microsoft.com/en-us/azure/secu

[2022-07-19 14:17] amanmcse commented on #95898
@Rodrigovia Thank you for your feedback. We will investigate and update the thread further.

[2022-07-19 14:17] Dushelov commented on #95829
We got same problem. Hope it will be fixed soon

[2022-07-19 14:19] amanmcse commented on #95905
@ Thank you for your feedback. We will investigate and update the thread further.

[2022-07-19 14:21] yelevin commented on #95898
@Rodrigovia Follow the link in the first sentence of this article, to the Microsoft 365 Defender documentation. It should be discussed there.
https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-365-defender

[2022-07-19 14:23] asudbring commented on #78273
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:24] yelevin commented on #95898
@Rodrigovia Thanks for your feedback. I will close this issue now, but feel free to add comments or further questions.

#please-close

[2022-07-19 14:25] asudbring commented on #79672
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:25] asudbring commented on #80444
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:25] asudbring commented on #80948
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:26] asudbring commented on #81751
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:26] asudbring commented on #83726
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:28] asudbring commented on #86307
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:28] asudbring commented on #86568
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:29] asudbring commented on #88104
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:29] asudbring commented on #88445
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:30] asudbring commented on #94092
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:31] asudbring commented on #95164
Sending to PM for review

#reassign:@ivapplyr

[2022-07-19 14:31] meierval opened #95920 "PEM download not working!"
The linked PEM files can't be downloaded. The `GET` request to e.g. `https://crt.sh/?d=76`is running into `503 BAD GATEWAY`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c4adec-3601-5d22-19f5-78fb13189d3c
* Version Independent ID: c52fb2be-28d1-a0cf-304a-54ceaa12797f
* Content: [Azure Certificate Authority details]

[2022-07-19 14:38] realAngryAnalytics commented on #84482
@VitalyMCT, thank you for your valuable feedback. Apologies it took so long but terse updates are being added to the geo-backup section to address your concerns.

[2022-07-19 14:40] realAngryAnalytics commented on #82939
@ondemand2002 , thank you for your valuable feedback, sorry it has taken so long to get to this issue. The PowerShell link is in progress of being corrected.

[2022-07-19 14:50] danlopez opened #95922 "Line Breaks on base64 certificate causing SAML to fail"
Note - when you download the base64 certificate, SAML login does not work unless you remove the line breaks. This should be noted somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c05
* Content: [Tutorial: Azure AD S

[2022-07-19 15:08] shammyowens opened #95923 "Broken Link"
The link for scanned document news item is broken.

https://aka.ms/blog_ScannedPdfTranslation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7de22ac3-cfa3-9f17-5fe1-90d27afd6b7f
* Version Independent ID: 4ae1c4c8-8c17-226c-75e7-4e40fdbf6ed5
* Content: [What's new in Azure Cognitive Services Translator? - Azure Cognitiv

[2022-07-19 15:08] aralvar opened #95924 "Default outbound access disabled when any NIC has Public IP associated"
Under the section **How can I disable default outbound access?** we have the following options:

- Associate a NAT gateway to the subnet of your virtual machine.
- Associate a standard load balancer with outbound rules configured.
- Associate a public IP to the virtual machine's network interface.

But we would need to update last point with following information:

"associate a public IP to **any*

[2022-07-19 15:13] JamesTran-MSFT commented on #95920
@meierval
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-19 15:14] JamesTran-MSFT commented on #95922
@danlopez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-19 15:20] davmhelm opened #95925 "firewall snat"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e378b4c-b1f1-9d76-74ae-120cedc85c61
* Version Independent ID: 4149ba6c-5c84-dc66-8dda-793ebe9e06e3
* Content: [Azure Firewall SNAT private IP address ranges](https://docs.microsoft.com/en-us/azure/firewall/snat-private-range#configure-snat-private-ip

[2022-07-19 15:20] davmhelm commented on #95925
Raised this by mistake. closing.

[2022-07-19 15:20] #95925 closed

[2022-07-19 15:27] jberry777 commented on #95893
Hello Sidney,

Thank you for the follow up email and the screenshot. I've included a
screenshot of the Cosmos DB account resource page as I see it and that
option is missing.
[image: image.png]

On Tue, Jul 19, 2022 at 6:36 AM Sidney Andrews ***@***.***>
wrote:

--
Regards,
Joshua Berry
Cloud Security

[2022-07-19 15:30] PedroC88 opened #95926 "Upgrade to Azure CLI"
Considering that the AzureRM modules are being deprecated and that it isn't easy to have both Az and AzureRM modules installed at the same time, I think this documentation should include AZ CLI scripts to achieve the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1a9f3d-5733-012a-a0d7-c00ec21b9232
* Version Ind

[2022-07-19 15:34] rajeevpadinharepattu opened #95927 "Encrypt your AKS cluster data disk(optional)"
**Encrypt your AKS cluster data disk(optional)**

Looks like the documentation is not clear, Could you please elaborate it ?

- first of all not sure why an optional added in the heading, as everyone referring this page will be looking for data disk encryption in AKS..
- The note given as important is not clear, it do not mention which credential and managed identity.

It will be better to provide

[2022-07-19 15:36] fhackett-ms opened #95928 "Having trouble distinguishing consistent prefix guarantees from eventual consistency"
I've been spending a lot of time trying to build a precise user-level understanding of consistency levels for Cosmos DB, and I'm having some fundamental trouble with the logic behind consistent prefix.

This trouble is best explained as two separate points, the first more incidental, and the second more fundamental.

First, I'm confused by the description of allowed and forbidden sequences of writ

[2022-07-19 15:42] KapilAnanth-MSFT commented on #95860
@skatke Kindly let me know if you have additional questions/concerns on this.

Thanks,
Kapil

[2022-07-19 15:56] JFBDO2022 opened #95931 "Impact on data when changing values"
It would be really helpful to have 2 likely scenarios described:

1 - Existing table with 1 year of interactive data in it.  If we make the change to 90 days interactive, total 1 year retention - what happens to the data?  Does anything > 90 days that was already in the table get moved to the cheaper archive tier over a period of time automatically?  Time involved for that process?

2 - Existing t

[2022-07-19 16:26] XcoderBlood commented on #95716
Yes, our old transform did not have CopyVideo in it. Our new transform does use CopyVideo. Would be nice if the documentation update clearly stated when the basename rules change.

Thank you.
________________________________
From: wenfenggh ***@***.***>
Sent: Monday, July 18, 2022 10:27 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Blood, Alex ***@***.***>; Mention ***@***.***>
Subject: Re: [Mi

[2022-07-19 16:32] wenfenggh commented on #95716
@XcoderBlood Thank you for the confirmation. The doc has been updated. If you refresh the doc link, you will see the update as the following:

The {baseName} file naming macro used in the naming of the output metadata file is shortened to 32 chars when using any standard encoding preset or custom preset. However, to avoid a naming conflict when using one of the CopyCodec operations (CopyAudio or C

[2022-07-19 16:35] GeethaThatipatri-MSFT commented on #95928
Hi, @fhackett-ms Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-19 16:36] Mathonar opened #95933 "Invalid GUIDs in Service_Plan_ID on linked CSV"
The page links to a CSV listing all the product names and service plan identifiers however some of the Service_Plan_Id records are invalid GUIDS so don't match what is returned from (get-msolaccountsku).servicestatus.serviceplan

I.E. for the SKU GUID "314c4481-f395-4525-be8b-2ec4bb1e9d91"
the service_plan_id for SWAY is  "(a23b959c-7ce8-4e57-9140-b90eb88a9e97"
there were a few others with leading

[2022-07-19 16:36] mike-urnun-msft commented on #95908
Hello @timschonborn - Thank you for your feedback! We will review and update as appropriate.

[2022-07-19 16:40] asudbring commented on #78363
Thank you for your feedback! Updated table for services.

PR:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/205219

#please-close

[2022-07-19 16:40] #95146 closed

[2022-07-19 16:49] jason934 opened #95934 "missing instructions in section to change PO Number"
[Enter feedback here]
In order to change a PO number, you have to uncheck the "Lock PO number" box or it won't let you edit the PO. That's currently not in the step-by-step instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94a62bd7-4779-c4af-4ec0-b4bb64ff3a2e
* Version Independent ID: 4b01ab8f-d98a-a8d8-51cb

[2022-07-19 16:52] seesharprun commented on #95928
@markjbrown, do you have any guidance here or a colleague that would like to chime in?

[2022-07-19 16:54] #83226 closed

[2022-07-19 17:01] EdB-MSFT commented on #95214
#please-close

[2022-07-19 17:01] #95214 closed

[2022-07-19 17:13] Nickcandy commented on #29824
@mimckitt I've met the same issue. I'm using ado pipeline to connect container registry. The pipeline is
`        $a = get-azaccesstoken
        $Url = "https://lnxcr.azurecr.io/oauth2/exchange"
        $Body = @{
            grant_type = "access_token"
            service = "lnxcr.azurecr.io"
            access_token = $a.Token
        }
        $refreshtoken = Invoke-RestMethod -Method 'Post' -U

[2022-07-19 17:13] ChaitanyaNaykodi-MSFT commented on #95924
Thank you for your feedback! We will review and update as appropriate.

[2022-07-19 17:18] vanlanchoy opened #95939 "Receiving Error code 1 CLUSTER_CREATION_TIMED_OUT"
Hello, my team mate and I were trying the example on the page and we couldn't get our Spark pool to start after the job was submitted to Synapse from the AML side, and the error message we are receiving is below in the Synapse studio. Is there any timeout param or wait until completion flag we can set in the AML lib?

Error code 1
CLUSTER_CREATION_TIMED_OUT
Message
[plugins.ws-cdaas-synapse-dev-00

[2022-07-19 17:24] KranthiPakala-MSFT commented on #95915
Thanks for the reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-07-19 17:25] KranthiPakala-MSFT commented on #95916
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-19 17:29] VikasPullagura-MSFT commented on #95655
@mmitchellcit

Thanks for sharing the document and details.

MSRDC is used to connect to VM but MMR is not publicly available on every VM unless the IT admin opt into the MMR insider ring.

At this point there are no document changes needed.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will re

[2022-07-19 17:29] #95655 closed

[2022-07-19 17:34] #95923 closed

[2022-07-19 17:35] YutongTie-MSFT commented on #95939
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-19 17:42] ChaitanyaNaykodi-MSFT commented on #95924
Hello @aralvar, I have made a PR to address this issue and it is currently under Doc author's review.

[2022-07-19 17:42] realAngryAnalytics commented on #82939
@ondemand2002 , document has been updated, can you please verify?

[2022-07-19 17:44] realAngryAnalytics commented on #84482
@VitalyMCT , updates have been made to the document. Thanks.

[2022-07-19 17:50] JanvandenBrand opened #95940 "Define an entry script (source_dir/score.py) uses deprecated np.asscalar(), replace with nparray.item()"
The function run(request) in source_dir/score.py should be:

def run(request):
    print(request)
    text = json.loads(request)
    qw, qc = preprocess(text["query"])
    cw, cc = preprocess(text["context"])

    # Run inference
    test = sess.run(
        None,
        {"query_word": qw, "query_char": qc, "context_word": cw, "context_char": cc},
    )
    start = **test[0].item()**
    end = **

[2022-07-19 17:57] asudbring commented on #82190
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-19 17:57] #82190 closed

[2022-07-19 17:58] aahill commented on #95022
Yes, I'll update the documentation shortly.

#please-close

[2022-07-19 17:58] #95022 closed

[2022-07-19 17:58] Bashar-MSFT commented on #95622
@Oury-MSFT this is completed by Vandhana, please close this one

[2022-07-19 18:01] markingmyname commented on #86462
Thanks, @shreyaaithal.

[2022-07-19 18:05] ivratche opened #95941 "The revocation table is confusing"
Can someone explain what is meant in revocation table by confidential client token column? Also, a password reset will set the stsrefreshtokensvalidfrom, which is the same as the user revokes their refresh tokens via PS or admin revokes all refresh tokens for a user. But then why the different expected results?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-07-19 18:12] cherylmc commented on #78278
This was passed on to the product team. If this issue happens again, please re-open this ticket. #please-close

[2022-07-19 18:12] #78278 closed

[2022-07-19 18:20] WilliamDAssafMSFT commented on #90797
Thanks @toastjoqo, this has been updated. In Azure Synapse Analytics, the Azure SQL logical server DNS alias is only supported for dedicated SQL Pool (formerly DW). For dedicated SQL pools in Azure Synapse workspaces, the DNS alias is not currently supported.

#please-close

[2022-07-19 18:20] #90797 closed

[2022-07-19 18:20] asudbring commented on #93089
Fixed entry for Azure Site Recovery.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/205246

#please-close

[2022-07-19 18:20] #93089 closed

[2022-07-19 18:25] JamesTran-MSFT commented on #95933
@Mathonar
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-19 18:27] JamesTran-MSFT commented on #95941
@ivratche
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-19 18:27] WilliamDAssafMSFT commented on #95482
#assign:williamdassafMSFT

[2022-07-19 18:27] WilliamDAssafMSFT commented on #95482
@MNF you are correct, your equation is for a total timeout over multiple failed retries. A single connection timeout retry attempt uses the same exponential formula to avoid overwhelming resources during an intermittent outage. Azure services specify or [recommend an exponential back-off](https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific) or exponential back

[2022-07-19 18:43] #95622 closed

[2022-07-19 18:50] ggailey777 commented on #95386
So the easiest fix is to just make it clear that Azure Cloud Shell is the preferred way to run these scripts, as @MughundhanRaveendran-MSFT suggests. The linked PR in the private repo does this.

@tspring418 thanks again for letting us know about your issues so we could work to improve the docs!

[2022-07-19 18:51] tspring418 commented on #95386
No problem at all, try to leave requests on these when i see them! @ggailey777

[2022-07-19 19:03] MonikaReddy-MSFT commented on #95934
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-19 19:12] #95386 closed

[2022-07-19 19:13] mumian commented on #77651
@infuriatedcodex - thank you for your comments.  I have added the PowerShell script. The PR will be merged later today.

#please-close

[2022-07-19 19:13] #77651 closed

[2022-07-19 19:16] Dbakevlar opened #95943 "Additional context about churn limits on ASR and dependency for Oracle"
[Enter feedback here]

This document states:
"Use [Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-overview) to orchestrate and manage disaster recovery for your Oracle Linux VMs in Azure and your physical servers."

This needs to be updated to:
"Use [Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-overview) to orchest

[2022-07-19 19:48] kobulloc-MSFT commented on #95943
@Dbakevlar Thank you for the feedback!  I'll get a PR out to address this.

[2022-07-19 19:57] Anand-Moghe opened #95947 "What is allowable max value for appgw.ingress.kubernetes.io/request-timeout annotation?"
I was checking the annotation table.
Is there a max allowed value for "appgw.ingress.kubernetes.io/request-timeout" annotation ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6f5f5f-6567-b685-004b-e7b537f0934f
* Version Independent ID: f8623293-7ede-ec51-d25d-3f0389edbd08
* Content: [Application Gateway Ingress Cont

[2022-07-19 20:07] rfutrick commented on #94919
It's not really possible, unfortunately. There is a workaround - host your storage account in a different region than your compute, and then manually [specify the Batch IP ranges](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-access-from-an-internet-ip-range).  Note that this is not an optimal solution and should be analyzed/reviewed before

[2022-07-19 20:10] iwafula025 commented on #95917
See below specific text highlighted in yellow
Transformations are performed in Azure Monitor in the data ingestion pipeline<https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/data-collection> after the data source delivers the data and before it's sent to the destination. The data source may perform its own filtering before sending data but then rely on the transformation for further

[2022-07-19 20:12] Bysza opened #95948 "The link to the notebook download does not work - forbidden access"
The link to the notebook download does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef20a146-eade-d9f6-b100-543908ef18b1
* Version Independent ID: fedbe821-7b38-0764-9531-5c462869f4dc
* Content: [Public Holidays - Azure Open Datasets](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-public-holid

[2022-07-19 20:25] JasonWHowell commented on #84482
#please-close

[2022-07-19 20:25] #84482 closed

[2022-07-19 20:25] JasonWHowell commented on #82939
#please-close

[2022-07-19 20:25] #82939 closed

[2022-07-19 20:46] MonikaReddy-MSFT commented on #95837
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-19 20:49] ChaitanyaNaykodi-MSFT commented on #95947
Thank you for your feedback! We will review and update as appropriate.

[2022-07-19 20:51] AuWiMo opened #95949 "Invalid "increment" operation"
There is no example of how to use the "increment" operation and the only logical method via intuition and the examples, typing "increment", does not function

Evidence:
![image](https://user-images.githubusercontent.com/26367550/179845967-d0cb236d-ad47-438f-a937-96ed5d40773c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-19 21:02] #92964 closed

[2022-07-19 21:10] YutongTie-MSFT commented on #95940
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-19 21:42] JimInWA opened #95950 "Azure Functions, ServiceBusTrigger, Azure App Configuration and ServiceBus:ConnectionString when using Isolated Process"
We have an existing set of Azure Functions that are using the in-process model in .NET 6.  They are using ServiceBusTrigger.  We are using Azure App Configuration which has an entry named ServiceBus:ConnectionString and this is what we use in the Connection property for the Azure Function.  This all works correctly for the in-process model.

When we test using the isolated process (aka out-of-proc

[2022-07-19 21:59] markingmyname commented on #93167
Hi, @[dylemma](https://github.com/dylemma).

First, we apologize for the delay in response.

We appreciate your interest in using a Maria DB server deployed in Azure.

However, one of the reasons for the delay is that we discussed the plan for when new patches would be applied.

As of today, the article is still current. The latest patch we support is 10.3.23. We are aware that there are later pat

[2022-07-19 22:00] markingmyname commented on #93167
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the product or service.

Thank you.

#please

[2022-07-19 22:00] #93167 closed

[2022-07-19 22:01] michael-freidgeim-webjet commented on #95482
@WilliamDAssafMSFT
The following section  of https://github.com/MicrosoftDocs/sql-docs/blob/live/azure-sql/database/troubleshoot-common-connectivity-issues.md#net-sqlconnection-parameters-for-connection-retry  is incorrect

[2022-07-19 22:05] WilliamDAssafMSFT commented on #95482
It is unclear to me why it is incorrect. An individual retry delay and the total retry timeout (over many successive retries) would be calculated with different formulas.

Might be easier for you to [create a Pull Request](https://docs.microsoft.com/sql/sql-server/sql-server-docs-contribute) and get the ball rolling on a change yourself, instead of trying to describe it. By opening a pull request,

[2022-07-19 22:21] MarileeTurscak-MSFT commented on #95919
@iwafula025
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-19 22:36] Oury-MSFT commented on #95949
@AuWiMo Thank you for your feedback. We are reviewing this and will get back to you shortly.

[2022-07-19 22:37] runtimeware opened #95953 "DOTNET-ISOLATED|7.0 Recommendation is unclear"
Under the following section, https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#net-isolated-project there's a note indicating:

```To be able to publish your isolated function project to either a Windows or a Linux function app in Azure, you must set a value of dotnet-isolated in the remote [FUNCTIONS_WORKER_RUNTIME](https://docs.microsoft.com/en-us/azure/azure-f

[2022-07-19 22:53] willfiddes opened #95954 "Supportability of National Clouds with signInAudience AzureADandPersonalMicrosoftAccount and PersonalMicrosoftAccount"
We need to make a note that the signInAudience values of AzureADandPersonalMicrosoftAccount and PersonalMicrosoftAccount does not support using of National Clouds. Otherwise the user will get an error about the Application ID does not exist in directory tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a96dee0-81

[2022-07-19 23:16] jberry777 commented on #95893
Unfortunately the image did not get posted correctly.
<img width="406" alt="image" src="https://user-images.githubusercontent.com/45773894/179863853-8e8e3d0c-f4da-4f4c-9121-e3b215ff3180.png">

[2022-07-19 23:21] hiteshtulsani commented on #38914
It seems this is still an issue. Can this be reopened or can someone please point me in the right direction?

[2022-07-19 23:31] LDavis-Msft opened #95955 "Majority Maker VM Question"
Hi Team,
Just a question, why do we need a Majority Maker VM?  We don't use it for 2 node clusters with azure fencing agent.  Why do we need it for a scale out configuration?  I have a customer looking to put in this design at the moment.
Many thanks,
Leon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fd0d34-e78f-59

[2022-07-20 00:00] JamesTran-MSFT commented on #95954
@willfiddes
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-20 00:02] ajburnle commented on #75286
#please-close

[2022-07-20 00:02] #75286 closed

[2022-07-20 00:04] ajburnle commented on #79348
#please-close

[2022-07-20 00:04] #79348 closed

[2022-07-20 00:06] ajburnle commented on #83205
#please-close

[2022-07-20 00:06] #83205 closed

[2022-07-20 00:07] ajburnle commented on #83206
#please-close

[2022-07-20 00:07] #83206 closed

[2022-07-20 00:07] ajburnle commented on #84048
#please-close

[2022-07-20 00:07] #84048 closed

[2022-07-20 00:08] ajburnle commented on #85689
#please-close

[2022-07-20 00:08] #85689 closed

[2022-07-20 00:09] ajburnle commented on #87742
#please-close

[2022-07-20 00:09] #87742 closed

[2022-07-20 00:12] ajburnle commented on #95511
#re-assign:@amsliu

[2022-07-20 00:14] ajburnle commented on #95511
assign:@amsliu

[2022-07-20 00:15] ajburnle commented on #95511
#reassign:@amsliu

[2022-07-20 00:18] ajburnle commented on #94393
It looks like this just needs a new screenshot #reassign:@amsliu

[2022-07-20 00:19] ajburnle commented on #89257
#please-close

[2022-07-20 00:19] #89257 closed

[2022-07-20 00:21] ajburnle commented on #90502
#reassign:@barclayn

[2022-07-20 00:24] ajburnle commented on #88346
#please-close

[2022-07-20 00:24] #88346 closed

[2022-07-20 00:25] ajburnle commented on #93713
#reassign:barclayn

[2022-07-20 00:26] ajburnle commented on #94121
#reassign:@markwahl-mfst

[2022-07-20 00:26] PRMerger14 commented on #94121
The following users don't have valid GitHub IDs, or are not collaborators on this repo: markwahl-mfst

[2022-07-20 00:27] jinyu1122 commented on #94201
Any update on this thread?

[2022-07-20 00:28] ajburnle commented on #94121
#reassign:@shwetamathur7 please locate the product team, I'm not sure who you would contact about this bug and I no longer own this content.

[2022-07-20 00:30] Cagey-One commented on #95853
Thanks for the information. I understand this is in Preview but I believe the support tools should be pretty high on the priority list for a feature to have appropriate support tools available.

I have commented on https://feedback.azure.com/d365community/idea/643cf69b-e087-ec11-a81b-0022484bfd94 which was raised 5 months ago and and has now just received a comment from Microsoft (which was blank.

[2022-07-20 00:38] jlichwa commented on #38914
@hiteshtulsani the above workarounds are the solution the problem. The DevOps platform does not meet requirements for trusted services.
Feature request here: https://developercommunity.visualstudio.com/t/azure-devops-build-pipeline-cant-get-secrets-from-1/1152209

[2022-07-20 00:41] ms-ishiyam commented on #95688
I sent the information internally.

[2022-07-20 00:44] asudbring commented on #82474
Fixed network in diagram.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/205307

#please-close

[2022-07-20 00:44] #82474 closed

[2022-07-20 00:47] MonikaReddy-MSFT commented on #95931
@JFBDO2022  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-20 00:49] MonikaReddy-MSFT commented on #95837
@Surachai-kent - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-07-20 00:49] #95837 closed

[2022-07-20 01:03] asudbring commented on #85164
Thank you for the feedback!  Updated endpoint IP address in diagram.
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/205310

#please-close

[2022-07-20 01:03] #85164 closed

[2022-07-20 01:06] asudbring commented on #92006
Thank you for the feedback!

Fixed diagram in PR:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/205310

#please-close

[2022-07-20 01:06] #92006 closed

[2022-07-20 01:15] mike-urnun-msft commented on #95950
Thank you for your feedback! We will review and update as appropriate.

[2022-07-20 01:16] mike-urnun-msft commented on #95953
Thank you for your feedback! We will review and update as appropriate.

[2022-07-20 02:11] waystilos opened #95956 "<set-body> example throwing error"
Hello,

I've been trying to figure out this error but can't get it. Going off the <set-body> [examples](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#example-accessing-the-body-as-a-string). Here's my policy:

[code]

and I'm getting this error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-07-20 02:11] Bintopia opened #95957 "IP Range/List Section for Azure AD B2C REST API Call"
Hi guys,

For some reasons, our REST API server is deployed behind of a protected network with ACLs.
Could we add a new description section to list the IP range/list of the Azure AD B2C servers
which will callout the API used an API connector in Azure AD B2C flow.

Just take this Apple Pay docs as an example here: [Set up your server for secure communications with Apple Pay.](https://developer.app

[2022-07-20 02:27] aj9411 opened #95958 "Using Azure"
Could you guys add information on how to get to this metric programmatically on .NET, and also improve the metric results? I am running the code below and I am getting results, sadly the results are useless because they only tell me the max NormalizedRUConsumption across the entire CosmosDB account. I'll get results that look like:

Timestamp   Maximum   Metadata
00:00:01        13               <

[2022-07-20 02:31] krishnaHC43 opened #95959 "Bing Resource Provider is registering automatically without my permission (hitting register button) in one of the scenario"
I have 4 Subscriptions: Development, Production, Test Subscription and UAT.
Only in UAT, the `Microsoft.Bing` resource provider was registered - as you can see in the below Gif:

![BingResourceProviders](https://user-images.githubusercontent.com/59274559/179880476-366a80c4-19fe-47a2-9856-c2d905d99a60.gif)

After checking in the `bing` resource create window, remaining subscriptions are automatical

[2022-07-20 03:02] RyanHill-MSFT commented on #95807
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-20 03:29] shoshii opened #95960 "Update request to outdated doc about Databricks Delta Live Table Quick Start"
[Enter feedback here]

Hello, I found 2 out dated contents at this tutorial page for Databricks Delta Live Table.

### 1. About 'Graph Tab'

[link](https://docs.microsoft.com/en-us/azure/databricks/data-engineering/delta-live-tables/delta-live-tables-quickstart#--view-the-pipeline-graph)

At Delta Live Table pipeline, we cannot find 'Graph Tab' though the document says there it is.
It is confusing

[2022-07-20 03:30] sajeetharan commented on #95949
Hi @AuWiMo Please look at the sample on the JS SDK https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/samples-dev/ItemManagement.ts#L208

'Increment' is just an operation name, you need to refer the relevant SDK sample.

[2022-07-20 03:49] #95807 closed

[2022-07-20 03:49] CHEEKATLAPRADEEP-MSFT commented on #95960
@shoshii  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-20 04:04] GeethaThatipatri-MSFT commented on #95958
@aj9411 Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-07-20 04:09] GeethaThatipatri-MSFT commented on #95759
@ToothlessRebel we have a separate document for CLI https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/scripts/create-manage-cache could you please elaborate more on why and where you are expecting the CLI link

[2022-07-20 04:22] amgmdz opened #95961 "Azure Devops Run-Once Self-hosted Agents in AKS - CrashLoopBackOff"
We're running Linux-based (Ubuntu) ADO agents hosted on AWS EKS (Kubernetes) clusters. The agents were created by following steps in this doc: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#create-and-build-the-dockerfile-1

Our agent pools have entrypoint "start.sh" script is modified for the agent to run once to ensure that agents are refreshed after ever

[2022-07-20 04:32] VikasPullagura-MSFT commented on #95927
@rajeevpadinharepattu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-20 04:49] amanmcse commented on #95957
@Bintopia Thank you for your feedback. We will investigate and update the thread further.

[2022-07-20 04:52] rajeshsetlem commented on #70761
Closing the issue. Let us know if you need any other information.

[2022-07-20 04:52] rajeshsetlem commented on #70761
#please-close

[2022-07-20 04:52] #70761 closed

[2022-07-20 04:53] SumanthMarigowda commented on #95926
@PedroC88 Thanks for the question! We are investigating and will update you shortly.

[2022-07-20 04:58] SwathiDhanwada-MSFT commented on #95959
@krishnaHC43 Some resource providers are registered by default. For a list of resource providers registered by default, see [Resource providers for Azure services](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-services-resource-providers).

Other resource providers are registered automatically when you take certain actions. When you create a resource through the po

[2022-07-20 05:02] Sandeg-MSFT commented on #95886
#please-close

[2022-07-20 05:02] #95886 closed

[2022-07-20 05:02] krishnaHC43 commented on #95959
Yes, it is automatically registered without creating the resource and by traversing to the pricing tiers in resource creation page as you can see in my 2nd Gif Clip.

[2022-07-20 05:07] #95801 closed

[2022-07-20 05:35] MughundhanRaveendran-MSFT commented on #95905
@pandene , Could you please make sure you have followed the steps exactly?

Some common mistakes are to pass the header values in the params section. So please pass x-functions-key and Content-Type in headers section of the postman. Also make sure you pass the value { "input": "test" } in Body tab. Please select the JSON format in the postman

![image](https://user-images.githubusercontent.com/562

[2022-07-20 05:43] SwathiDhanwada-MSFT commented on #95959
@krishnaHC43 I have verified your scenario. You are indeed right. It seems that without creating the resource, the resource provider is being registered.
![image](https://user-images.githubusercontent.com/48976275/179905254-e1dce9e7-96c2-4700-9d06-186aef396b19.png)

@tfitzmac Can you please clarify does "Certain actions" include this resource within the statement "Other resource providers are regi

[2022-07-20 06:05] VikasPullagura-MSFT commented on #94919
@rfutrick Thanks for sharing this.

@kspoojary Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-07-20 06:05] #94919 closed

[2022-07-20 06:07] galiacheng commented on #76174
I can't not reproduce the issue following the document.

**Note**: the guidance is using `Oracle:Oracle-Database-Ee:12.1.0.2:latest`, that is a `sysvinit` system. I found we must use command `service oracleasm` to create disk to avoid error.

See usage:

[code]

**Disks will be unavailable after a reboot using `oracleasm createdisk `.**

@seasidebruin from your comment, it seems you used `oracleas

[2022-07-20 06:20] aluty opened #95962 "Azure Cosmos DB Emulator - Release notes and download information; missing release notes for latest 2.14.9"
Azure Cosmos DB Emulator - Release notes and download information; missing release notes for latest 2.14.7

Latest Microsoft Download Center https://aka.ms/cosmosdb-emulator (as of 2022-07-19) (Signed 2022-07-07 13:31:00Z)
{
    "PackageName":  "azure-cosmosdb-emulator-2.14.9-3c8bff92.msi",
    "Manufacturer":  "Microsoft® Corporation",
    "ProductName":  "Azure Cosmos DB Emulator",
    "ProductV

[2022-07-20 06:22] MughundhanRaveendran-MSFT commented on #95567
@Hakuroda , I am closing this issue for now. Feel free to reopen if you have any questions

[2022-07-20 06:22] #95567 closed

[2022-07-20 06:28] ElazarK commented on #95774
@poochwashere & @ShaikMaheer-MSFT I reviewed the documentation, and everything seems to be up to date and is correct. Perhaps there is something specific to your environment/situation that is causing your situation. Without additional details I do not know why this may be occurring. I suggest reaching out to the customer service team to see if they can help you with your situation.

[2022-07-20 06:28] ElazarK commented on #95774
#please-close

[2022-07-20 06:29] #95774 closed

[2022-07-20 06:32] shwetamathur7 commented on #94121
@Vile278, I have raised an issue with the product team and will keep updating the thread as soon I hear from them.

If you want to track the issue, you can please email us on azcommunity [at] microsoft [dot] com referencing this issue with a subject line "ATTN:shweta" and we will help you with alternative support options on this to get updates from support team on this issue.

I'll go ahead and cl

[2022-07-20 06:32] #94121 closed

[2022-07-20 06:40] ShaikMaheer-MSFT commented on #95884
@filippopovic Could you please validate customer feedback and update or enhance documentation as appropriate? Thank you.

[2022-07-20 06:40] #95887 closed

[2022-07-20 06:45] rwagenmaker commented on #60040
Any updates on this? I'm trying to find the same thing

[2022-07-20 06:49] Wiiki0807 opened #95964 "The path in article is different from Github folder structure"
[Enter feedback here]
In this sentence > "Open a local console window and navigate into the digital-twins-samples-main\AdtE2ESample\SampleClientApp folder. Run the SampleClientApp project with this dotnet command: "

Github path: "digital-twins-samples\AdtSampleApp\SampleClientApp" instead of "digital-twins-samples-main\AdtE2ESample\SampleClientApp"

Github link: https://github.com/Azure-Samples/d

[2022-07-20 07:07] sopopa2 opened #95965 "common scenarios feedback"
Based on feedback from some customers, the page can be improved by mentioning 2 very common scenarios:

1. What do you do when you have internal users with EXO mailboxes? We found that the solution is to un-license the internal users in order to remove their mailboxes, then modify their SMTP and finalize the B2B conversion process. The EXO license can be assigned back after the conversion, as a wo

[2022-07-20 07:18] oriolaf commented on #15867
Hi! Have you resolved the issue?

[2022-07-20 07:57] rahulrai-in commented on #15867
Can't remember now. I believe just running `azure login` was required.

[2022-07-20 07:57] rahulrai-in commented on #15867
@oriolaf
Can't remember now. I believe just running azure login was required.

[2022-07-20 08:30] ld0614 opened #95967 "Clarification on Windows Server 2012 (Not R2) Support"
Looking at the Azure Arc list it appears that Windows Server 2008 R2 and 2012 R2 are supported but not the (Still not EOL) Windows Server 2012. Could you clarify if this is the case and it way be worth highlighting this discrepancy in the documentation as its easy to miss.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-07-20 08:31] ddobric opened #95968 "Azure IoT Edge Tools for VS 2022 does not exist in the list of individual components."
IN the article you point out the following:

`Or, in Visual Studio go to Tools > Get Tools and Features. The Visual Studio Installer will open. From the Individual components tab, select Azure IoT Edge Tools for VS 2022, then select Install in the lower right of the popup. Close the popup when finished.`

Unfortunately, the *Azure IoT Edge Tools for VS 2022* does not exist in the list of individua

[2022-07-20 09:07] calazlo opened #95969 "ADD: Permissions can be granted through AAD Connect Troubleshooter"
[Could you please mention in this article that you can grant the permissions using the "Troubleshooter"?
I received the feedback that this information cannot be found in any article.
Even though it seems simple, there might be customers that are not aware of this possibility :)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-20 09:09] t3mi opened #95970 "Misleading export of metrics for Microsoft.Web/dnsResolvers"
DNS resolvers don't export metrics via diagnostic settings while docs mention it should.
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftnetworkdnsresolvers

The error is
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Indep

[2022-07-20 09:40] AnuragSharma-MSFT commented on #95962
@aluty Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-07-20 09:42] RohitMungi-MSFT commented on #95948
@Bysza Thanks for reporting this. @samuel100 Could you please review the notebook links from the data access [section ](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-public-holidays?tabs=azureml-opendatasets#data-access)of the document and update the same with a working copy?

[2022-07-20 09:58] ghost opened #95973 "Documentation out of date compared with the new VS Code UI. Add function now through the 'Workspace' Section."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542c2bdc-5868-71d5-1d1a-a2c6d61744b0
* Version Independent ID: 1bba15a0-227a-8137-a023-90b8df19881b
* Content: [Create a Python function using Visual Studio Code - Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-fu

[2022-07-20 10:01] AshokPeddakotla-MSFT commented on #95964
@Wiiki0807 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-20 10:08] SwathiDhanwada-MSFT commented on #95970
@t3mi Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-07-20 10:12] SwathiDhanwada-MSFT commented on #95967
@ld0614 Thanks for your feedback.

Assigning to content author @SnehaSudhirG   for review.

[2022-07-20 10:16] #95970 closed

[2022-07-20 10:33] SwathiDhanwada-MSFT commented on #95896
@mumian  Can you please provide your insights on this?

[2022-07-20 10:52] radek01 opened #95976 "json template syntax error"
[Enter feedback here]
Syntax error in json template:

{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "administratorLogin": {
      "type": "string"**,**
    },

',' after "string" where shouldn't be in that place the ',' sign.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-07-20 11:08] mic1234567890 opened #95977 "Graph problem?"
[Enter feedback here]

az ad app update --id $clientid --set oauth2Permissions="$default_scope"
gives
Invalid property 'oauth2Permissions'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b38cbb3-a70a-4869-2f37-ca2c9ca7e3d8
* Version Independent ID: e4b15b6b-e0fe-fc0e-4981-5b23e3d343ea
* Content: [Register a client app

[2022-07-20 11:10] AnuragSharma-MSFT commented on #95976
@radek01 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-20 11:12] kmathewmk opened #95978 "Info on HTTP Keep-Alive is not easily found"
I was looking for info on how HTTP Keep-Alive would work with Frontdoor but could not find any. Looking through other search results, I found
https://github.com/MicrosoftDocs/azure-docs/blob/main/includes/front-door-limits.md
It would be good to centralize the information or at least provide a link to this supplementary documentation.

Additionally, it would be helpful to know how the Keep-Alive h

[2022-07-20 11:27] RavichandraBadeka opened #95979 "RestError: Invalid request has been sent."
Hello Team, i am using Azure Face service for Face Recognition in JavaScript.
I am getting an error after following the given steps.

========IDENTIFY FACES========

C:\myapp\node_modules\@azure\ms-rest-js\dist\msRest.node.js:2480
        var _this = _super.call(this, message) || this;
                           ^

RestError: Invalid request has been sent.
    at new RestError (@azure\ms-rest-js\d

[2022-07-20 11:29] danijam opened #95980 "Bicep sample does not work for outputing network subnet id's"
On this page there is a sample snipet of bicep. When deployed bicep throws an error
[code]

Repro by saving this as a `main.bicep` file:
[code]

Deploy to a resource group
[code]

I'm guessing something has changed with respect to the Bicep syntax. I'm using version 0.8.9. I don't have much experience with the `existing` syntax to spot what is precisely wrong with this.

---
#### Document Details

[2022-07-20 11:44] #95769 closed

[2022-07-20 12:00] Rakesh1402 commented on #95869
Hi @GeethaThatipatri-MSFT Can you please provide update on this, as we need to whitelist correct IP Address subnets?

[2022-07-20 12:13] GitaraniSharma-MSFT commented on #95978
@kmathewmk , thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-20 12:22] seesharprun commented on #95893
Do you have a serverless account? This option won't show up for a serverless account:

![image](https://user-images.githubusercontent.com/5067401/179980542-cc97f086-24a7-4b22-9c63-18b865f5af27.png)

![image](https://user-images.githubusercontent.com/5067401/179980581-696e0b8d-5d5b-40f1-a5a6-3b3cf984231f.png)

[2022-07-20 12:57] rahulvmarathe opened #95986 "IBM MQ Managed Connector: Add certificate requirements"
Scenario: IBM MQ Managed Connector, SSL is required, uses On Prem-Data Gateway.

Based on this GitHub issue https://github.com/MicrosoftDocs/azure-docs/issues/47142  and tests we have done, for SSL to work a certificate must be installed on the on-premises gateway VM/Machine. Please  add this as a requirement in the pre-requisite section of the document. Provide details for the certificate that ne

[2022-07-20 13:02] rahulvmarathe opened #95988 "Incorrect minimum requirement for on-premises data gateway"
The .NET Framework version mentioned in the minimum requirements section is incorrect. The correct version of the .net framework is mentioned here: https://www.microsoft.com/en-us/download/details.aspx?id=53127. Please make the appropriate change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7

[2022-07-20 13:14] amanmcse commented on #95965
@sopopa2 Thank you for your feedback. We will investigate and update the thread further.

[2022-07-20 13:15] AinsBlack opened #95989 "Link to the script referenced in the page does not work."
The section below was copied from this page and contains a link that is broken.

"To delete management packs having a dependency on other management packs, download the script [remove a management pack with dependencies](https://gallery.technet.microsoft.com/scriptcenter/Script-to-remove-a-84f6873e) from TechNet Script Center."
Please update this link.
There is another tool written by a Microsoft

[2022-07-20 13:35] AshokPeddakotla-MSFT commented on #95895
@timlt Please review this issue and provide your suggestions.

[2022-07-20 13:53] aralvar commented on #95924
@ChaitanyaNaykodi-MSFT please bear in mind that we should indicate that above behavior happens when public IP has Standard SKU. With Basic SKU we still maintain default outbound .

[2022-07-20 13:56] AdamSheltz opened #95990 "Better clarification surrounding Ingress/Egress IPs in Documentation."
[Enter feedback here]
By default when using the Standard Load Balancer 2 IP addresses are created. 1 for ingress traffic and 1 for egress traffic.

*The above detail is not obvious, is there any way to add this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID

[2022-07-20 13:59] sysadmin47 opened #95991 "Minimum DFL is 2008"
It isn't true that there is no minimum DFL. DCs need to be using DFS-R for SYSVOL replication, according to https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy
"Any Active Directory domain that runs the Azure AD Password Protection DC agent service must use Distributed File System Replication (DFSR) for sysvol replication."

In order to

[2022-07-20 14:02] VikasPullagura-MSFT commented on #95990
@AdamSheltz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-20 14:02] VikasPullagura-MSFT commented on #95990
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-07-20 14:05] HarshaPotlapally commented on #95887
@ShaikMaheer-MSFT Thank you for your quick reply. I will post my question on Microsoft Q&A platform.
Just so it is up here, I've already tired using the Key Vault and that doesn't work either as it says the Key Vault linked service reference is not correct, although the said linked service works with other connectors.