[2018-08-08 18:43] #12790 closed

[2018-08-08 18:43] ryanrclark commented on #13033
I know how it works, i've tested it alot with standalone hyper-v hosts. now i'm gearing up to deploy this in my produciton environment. my ON PREM hyper-v hosts are clustered. this means i have 30 virtual machines in my on prem environment. 2 physical hosts are clustered. VMs can be on either of the hosts at any given time. I am asking how to add hyper-v hosts into the ASR setup as a cluster and N

[2018-08-08 18:44] MohitGargMSFT commented on #11975
@BartJocque I am still trying to get more information from our service team in this regard. I will update you on this issue as soon as I have more information to share.

[2018-08-08 18:45] YutongTie-MSFT commented on #12791
@cjgronlund Hi, the author of this document can not be assigned in Git, can you please add the author to our Microsoft-doc category?  Thanks a lot!

[2018-08-08 18:45] MohitGargMSFT commented on #12985
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-08 18:45] #12985 closed

[2018-08-08 18:45] YutongTie-MSFT commented on #12830
@nigelHRBOT
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 18:45] #12830 closed

[2018-08-08 18:45] MohitGargMSFT commented on #13022
@Shahramjds Please update on above.

[2018-08-08 18:46] YutongTie-MSFT commented on #12869
@nyghtwel
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 18:46] #12869 closed

[2018-08-08 18:46] transdigiware commented on #13067
Apakah dengan lalu lintas jaringan yang dibangun bersifat pribadi baik itu VNet peering untuk region dan Global VNet peering mencakup keselurahan wilayah melalui infrastruktur backbone Microsoft kemampuan mentransfer data bisa cepat ? Apakah tidak sekalian saja Infrastruktur untuk jaringan berbasis IP pribadi mengunakan IPV6 berbasis pribadi juga ?

[2018-08-08 18:54] MohitGargMSFT commented on #13074
@KjetilEVRY Please refer to this document regarding [Azure AD Connect: Automatic upgrade](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-feature-automatic-upgrade). The current state of automatic upgrade can be viewed with the PowerShell cmdlet Get-ADSyncAutoUpgrade, ensure the state is enabled. Also, automatic upgrade is using Azure AD Connect Health f

[2018-08-08 18:54] Adam-Smith-MSFT commented on #13089
@henriquebrisola Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 18:55] Adam-Smith-MSFT commented on #13082
@raviteja59 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 19:05] femsulu commented on #12967
@thuansoldier I just got confirmation that this is not possible since Gov subscriptions cannot be on the same AAD tenant as Non Gov/Commercial subscriptions.

@jawalte per feedback from @thuansoldier, please consider updating the doc to explicitly call out that this is not a supported scenario.

We will now close this issue. If there are further questions regarding this matter, please reopen it an

[2018-08-08 19:05] #12967 closed

[2018-08-08 19:07] JeremyTBradshaw opened #13091 "Same URL twice in "Enable Windows down-level devices -> Configure the local intranet settings for device registration" section"
FYI: This URL is specified twice: https://device.login.microsoftonline.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Independent ID: ce5166e4-5d15-ef1f-1090-576a69e601e8
* Content: [How to configure hybrid Azure Active Directory joined devices](https://docs.microsoft.

[2018-08-08 19:13] JeremyTBradshaw opened #13092 "Clarity required for Seamless SSO and whether it is now ONLY for Windows down-level devices"
There are several mentions of Seamless SSO on this page.  Step 6 in particular makes it seem as though Windows 10 devices don't require any configuration for Seamless SSO, but I believe they still DO need the intranet site set.  Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536c14fe-e99a-0c69-e3fc-7607

[2018-08-08 19:25] Klaas- commented on #13061
It's a question about how the pam module works. I'm curious to how it solves the issue that there are no uid/gids in my AD. Linux usually works by id mapping. But it could also be that the magic is happening in AzureAD and not on the client side.

I'd look at the source myself but I can't seem to find them on github.

[2018-08-08 19:25] MarkusVi commented on #13091
Hi @JeremyTBradshaw, thanks for catching this.
I will fix it.

[2018-08-08 19:26] sergaz-msft commented on #13060
Hello @NayangiriGoswamiGit and thank you for your feedback.

As of today we have the following article to guide you on how to create custom modules: [Use Visual Studio Code to develop and debug C# modules for Azure IoT Edge ](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-csharp-module )

[The sample mentioned](https://github.com/Azure/iot-edge-v1/tree/master/v2/samples/azureiotedg

[2018-08-08 19:30] sergaz-msft commented on #13060
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-08 19:30] #13060 closed

[2018-08-08 19:39] jimdial commented on #13027
@Ellenprater I've re-written the article, and added a note about this to it.  It will publish later today.  Please let us know if you have any further concerns.  Thanks. #please-close

[2018-08-08 19:41] YutongTie-MSFT commented on #13085
@dem108 Hi, thanks for your feedback here, I have assigned it to the author for updating the document properly.

@aashishb Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-08 19:43] YutongTie-MSFT commented on #13088
@rbitia Hi, thanks for your feedback here. We will investigate and get back to you soon.

[2018-08-08 19:45] YutongTie-MSFT commented on #13062
@vivekjainAco Hi, thanks for your feedback here. I have assigned the author to update the document properly.

@nstulasi Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-08 19:46] MarkusVi commented on #13091
OK, I have staged a fix.

#please-close

[2018-08-08 19:50] KjetilEVRY commented on #13074
The document you refer to, is for AAD Connect, not AAD Connect Health agents. AAD Connect Health agent for sync gets automatically installed with AAD Connect and gets updated if you have a vanilla Express install and Updates enabled, but that's out of scope here. This is about the stand-alone agents that you install on ADFS/WAP/DC's. The text in this article states this: "Auto upgrade setting enab

[2018-08-08 19:52] Mike-Ubezzi-MSFT commented on #12561
@PhilStollery We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 19:52] #12561 closed

[2018-08-08 19:53] vip32 opened #13093 "what happens when statuscode 429 is returned by the webhook endpoint"
from this doc it is not clear if eventgrid will retry statuscodes 429.
429 (Too Many Requests) is normally used in api throttling scenarios, it makes sense to retry this statuscode as it can probably be accepted (200/202) at a later time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c56522024

[2018-08-08 19:55] furena opened #13094 "Verify the Registration steps are wrong"
I am working in an environment where Windows 10 devices are showing up in Azure AD as "Hybrid Azure AD Joined" but the conditional access policy is not working properly to use "require hybrid azure ad joined device" as an access control.  The get-msoldevice command in the steps above also show the DeviceTrustType as domain-joined and Enable is set to True.  These devices were merely synced with AA

[2018-08-08 19:56] andrewwself commented on #13046
Thank you for the response. Just to clarify I am using QnAMaker v4.0 and I have gotten strictFilters to work with metadata but I cannot get metadataBoost to work. I am wondering if that was only offered in v3.0 and not v4.0?

[2018-08-08 19:59] kieronlanning commented on #13070
@MicahMcKittrick-MSFT Hi! Yes, exactly that. What's the process for getting logs for failed contains in SF on start-up failures to runtime failures when using docker-compose... thanks!

[2018-08-08 20:00] Karishma-Tiwari-MSFT commented on #12895
@sugan2205 I will close this for now. When ready please come back and we can reopen and continue. :)

[2018-08-08 20:00] #12895 closed

[2018-08-08 20:01] #12622 closed

[2018-08-08 20:13] fashaikh commented on #12522
The link has been updated to https://docs.microsoft.com/azure/app-service/

[2018-08-08 20:14] femsulu commented on #13050
@CHDAFNI-MSFT Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-08 20:15] prafullkotecha commented on #10887
@hegate - I have already tried and played with web based deployment. I wanted to make some customizations for a PoC of an actual project. And, it's just disappointing to see non-responsive customer support, especially because I have already bragged so much about Azure IoT in general and solution accelerators in particular.

[2018-08-08 20:15] gsimardnet opened #13095 "CRON time zones"
In the CRON time zones section, an important distinction should be made between the two options. Time in UTC will never consider daylight savings time.

Hopefully, if I set WEBSITE_TIME_ZONE="Eastern Standard Time" it will apply daylight savings time. Please confirm.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527

[2018-08-08 20:16] mmacy commented on #12447
@stenastena The [Microsoft.ContainerService/managedClusters](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters) template reference has been updated. The [ContainerServiceNetworkProfile](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters#ContainerServiceNetworkProfile) object specifies the network settings for the cl

[2018-08-08 20:17] prafullkotecha commented on #10887
And, I have already deleted 3 sets of "resource groups", in attempts to make the local deployment work, and still got charged for resource usage, even after being unsuccessful at that.

[2018-08-08 20:18] patrickjlee commented on #5391
Another problem: Microsoft.Azure.Storage.Common seems to require Newtonsoft.Json v 10.0.2, which is not compatible with Microsoft.NET.Sdk.Functions 1.0.7 which requires Newtonsoft.Json v 9.0.1. So the above code can't be used in an Azure function at the moment!

[2018-08-08 20:24] #12188 closed

[2018-08-08 20:24] #12347 closed

[2018-08-08 20:25] #12353 closed

[2018-08-08 20:26] #12436 closed

[2018-08-08 20:26] #12502 closed

[2018-08-08 20:26] #12514 closed

[2018-08-08 20:26] MikeAinOz opened #13096 "In this article pane not scrolling"
The 'in this article' pane is not scrolling, tried in Edge and Chrome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Functions reference for Workflow Definition Language - Azure Logic Apps](https://docs.micro

[2018-08-08 20:27] Sambsamb opened #13097 "Get-AzureStorageBlob shows blob allocated size not used size"
Page blob length property shows the size of the provisioned page blob not the size used
For example, it shows a 127 GB disk (page blob) but not how much of it is used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Version Independent ID: 1b82ca05-8b26-c823-3810-8cb6bccfd361
* Cont

[2018-08-08 20:27] #12816 closed

[2018-08-08 20:27] #12817 closed

[2018-08-08 20:27] #12838 closed

[2018-08-08 20:27] #12854 closed

[2018-08-08 20:27] #12903 closed

[2018-08-08 20:28] #12934 closed

[2018-08-08 20:30] MicahMcKittrick-MSFT commented on #13095
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-08 20:34] TravisCragg-MSFT commented on #13027
@Ellenprater the New-AzureRmPublicIpAddress comand defaults to a "Basic SKU".

 Fun Fact, If the VM is stopped, you can attach a basic SKU Public IP to a VM in a Standard Load Balancer, but you cannot start the VM!

This article is about creating a VM with a static IP, and not for creating a VM to be attached to a Standard Load Balancer. Did you get to this article while trying to set up a LB?

[2018-08-08 20:36] hegate commented on #10887
@prafullkotecha got it, I understand. I am talking to CSS now to figure out what the issue was for not being responsive. Thanks for your patience!

[2018-08-08 20:38] YutongTie-MSFT commented on #13049
@wahyuen Hi, thanks for your feedback. I have assigned the issue the author for updating properly.

@noellelacharite Hi, this is a tech doc issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-08 20:38] SnehaGunda commented on #12623
@pramod-sharma and @MNaveedKhalid we don't have any updates on this yet. Because this is a product issue and not something we can solve by updating docs, it will be tracked here: https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started/issues/17  and we will close this issue.

#please-close

[2018-08-08 20:43] guilhermepsantos opened #13098 "Authentication with Certification Authority-Issued Certificates"
We'd be interested in using certificate-based authentication of applications to Azure AD.

However, rather than having one certificate used by all instances of an application (e.g., multiple containers running the same API server for scaling purposes), we would prefer to issue to each running instance its own certificate.

To make this work with Azure AD, we'd need to be able to say "this applicat

[2018-08-08 20:44] CeciAc opened #13099 "Program running problem using C# API"
@comeCU commented on [Wed Aug 08 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/102)

[When I used this C# API on visual studio2017, he threw these exceptions, I was very confused and hoped to give me some help. Here are some exception screenshots:]
---
####
![01](https://user-images.githubusercontent.com/30254171/43833361-0cc2e0ec-9b3d-11e8-9792-800d7b90314a.png)
![02](https://use

[2018-08-08 20:46] CeciAc commented on #13099
Hi team,
I moved this one here because the user is having issues with the code.

[2018-08-08 20:52] TravisCragg-MSFT commented on #13067
@transdigiware

diterjemahkan dari bahasa inggris

Lalu lintas pada VNET Peered tetap berada di Azure Backbone, dan tidak diteruskan melalui internet publik. Koneksi Peered memiliki kecepatan yang berbeda tergantung pada jalur antar wilayah, tetapi hampir selalu lebih cepat daripada situs ke VPN situs.

bisakah Anda menguraikan pertanyaan Anda tentang IPv6 dan Peering?

[2018-08-08 20:52] thuansoldier opened #13101 "SLA for Azure Government services"
Is there any information related to SLA for Azure Government services? Would the SLA be followed by Azure Public services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2324574a-1e0d-fc37-c224-d8513ebfdf66
* Version Independent ID: 4e3a8370-29d1-d89a-6946-3f1886ca3eb7
* Content: [Azure Government available services](h

[2018-08-08 20:52] npuello opened #13102 "The description of ADLS storage replication (within region) does not match the description of LRS (datacenter only)"
This article describes ADLS as using LRS. However, replication is stated as taking place within a region (implies multiple datacenters). Furthermore, documentation on Azure storage replication indicates that LRS cannot survive an entire datacenter outage. Stating that ADLS uses LRS storage, and that it has multiple replicas within a region (implies multiple datacenters) is inconsistent.

---
####

[2018-08-08 20:53] MarileeTurscak-MSFT commented on #13066
What do you mean, @denishol ? It seems to work fine for me:
![image](https://user-images.githubusercontent.com/13383753/43863716-655f0472-9b12-11e8-95e2-6ce93071fcc1.png)

[2018-08-08 20:54] TravisCragg-MSFT commented on #13027
@Ellenprater please disregard my previous question, the doc will be updated soon!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-08 20:54] #13027 closed

[2018-08-08 20:54] cynthn commented on #12989
@dcbrown16 thanks for the feedback! I changed the first sentence in that answer to be: **A.** A regional (non-zonal) scale set uses *placement groups*, which act as an implicit availability set with five fault domains and five update domains.

I am new to scale-sets, so I'm unclear about the SLA. I think I will let @MicahMcKittrick-MSFT respond, but if he can't, I can try and track down an enginee

[2018-08-08 20:57] MicahMcKittrick-MSFT commented on #12989
Thanks @cynthn!

@dcbrown16 Scale sets themselves do not have an SLA. This is because a scaleset is just a way to manage multiple instances of VMs. However they are part of the VM SLA. So they follow all the same rules as a normal VM SLA would.

https://azure.microsoft.com/en-us/support/legal/sla/virtual-machine-scale-sets/v1_1/
https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/

[2018-08-08 21:00] jeffbearer opened #13103 "Not updated to explain provisioning and the default roles."
The document above shows that there are no roles and to assign users with default access.  However when setting this up. There are some generic salesforce roles listed.   I presume if I set up provisioning I could get our customized roles too.  But I'm curious how these interact with the profiles defined on user accounts in SFDC.   ie. if a user has Standard User role in Azure and System Administr

[2018-08-08 21:01] MicahMcKittrick-MSFT commented on #13070
@kieronlanning thanks for that.

We do not have an official document on these steps as of yet.

We do have a new doc on Docker Compose for Service fabric though

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose

@rwike77 would you know anything on this you could share?

[2018-08-08 21:06] MohitGargMSFT commented on #13084
@mohdabdulhameed542 Please check your MS Online module. I can find it working fine at my end. I have 1.1.166.0 version installed.

![s1](https://user-images.githubusercontent.com/32749549/43864305-334b985e-9b14-11e8-9501-00f05c21d70d.JPG)

[2018-08-08 21:06] MicahMcKittrick-MSFT commented on #13033
@Adam-Smith-MSFT can you look further into this one as you have contact in the PG that might be able to help on this

[2018-08-08 21:07] MicahMcKittrick-MSFT commented on #13061
@cynthn do you know anyone from the product group that might be able to help answer this?

[2018-08-08 21:09] jeevansd commented on #13025
@LarryBolton For B2B scenario here we are seeking the guidance internally.

[2018-08-08 21:09] dlepow commented on #13043
@Ayanmullick - Ayan, thanks for the good suggestion. This is already on our backlog list of doc work, and I'll note your request in the item to help prioritize it. In the meantime, if you haven't already, please check out this article about [getting started with Batch PowerShell](https://docs.microsoft.com/en-us/azure/batch/batch-powershell-cmdlets-get-started). Cheers.
#please-close

[2018-08-08 21:09] amysy opened #13105 "Virtual Network - Content"
DDos option is added. Kinldy update with this info. I can post a picture but there is no option provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID: b7a77b77-61c2-5e89-cb4b-0b9a502fce71
* Content: [Restrict network access to PaaS resources - tutorial -

[2018-08-08 21:10] kobulloc-MSFT commented on #12644
@scottzilla We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-08 21:10] #12644 closed

[2018-08-08 21:12] #13043 closed

[2018-08-08 21:12] aanandr commented on #12929
Ok got it. Thanks for the clarifications.
@Marsh Macy<mailto:marsma@microsoft.com> - can we include a question in the faq that covers this? We can talk about what the service IP is and the impact of overlap. The content is what you already have.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Marsh Macy <notifications@github.com>
Sent: Wednesday, August 8, 2018

[2018-08-08 21:13] YutongTie-MSFT commented on #13088
Hi,

Kubernete is the old version of the Azure Container Service: https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-walkthrough

AKS is now the new Azure Kubernetes Service: https://docs.microsoft.com/en-us/azure/aks/

I think the links are correct. If I am missing something, please tell me. Thanks a lot!

[2018-08-08 21:16] cynthn commented on #13061
@skwan might be able to answer or add someone who can

[2018-08-08 21:16] MohitGargMSFT commented on #13086
@FrankCarius Yes, for Pass-through Authentication, Multi-forest environments are supported if there are forest trusts between your Active Directory forests and if name suffix routing is correctly configured.

[2018-08-08 21:18] jason-j-MSFT commented on #12899
@linda33wj should the supported data stores be updated?  A publicly accessible MySQL instance should be compatible with the Azure IR as stated here:
https://docs.microsoft.com/en-us/azure/data-factory/connector-mysql#linked-service-properties

[2018-08-08 21:20] brenak opened #13106 "HTTPS"
The article referenced to configure HTTPS for Application Gateways, does not even mention setting HTTPS up.  We have gotten application gateway to work with HTTPS, just wanted to let you know so it could potentially be fixed?

Traffic Manager, does not work pointing to an Application Gateway that is configured for HTTPS.  Pointing it to the AzureEndpoint, Application Gateway public IP, causes the

[2018-08-08 21:26] jason-j-MSFT commented on #12921
@bwren we have an enhancement request for a search query example.

[2018-08-08 21:29] jason-j-MSFT commented on #12953
@iainfoulds i do see AZs available in West US 2 in my own testing, is a doc update in order?

[2018-08-08 21:36] CarlRabeler commented on #13051
@yamatoya pending PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/48550

SELECT SUM(CAST(FILEPROPERTY(name, 'SpaceUsed') AS bigint) * 8192.) AS DatabaseSizeInBytes,
       SUM(CAST(FILEPROPERTY(name, 'SpaceUsed') AS bigint) * 8192.) / 1024 / 1024 AS DatabaseSizeInMB,
       SUM(CAST(FILEPROPERTY(name, 'SpaceUsed') AS bigint) * 8192.) / 1024 / 1024 / 1024 AS DatabaseSizeInGB
FROM sys.databas

[2018-08-08 21:40] gsacavdm commented on #13101
Hi @thuansoldier , Azure Government has the same SLAs as public Azure.

[2018-08-08 21:44] #12729 closed

[2018-08-08 21:46] RenaShahMSFT commented on #9475
Thanks @davecanderson

@Adam-Smith-MSFT, @BryanFranzMSFT - The issue has been addressed under the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/48523/

[2018-08-08 21:50] TravisCragg-MSFT commented on #13087
@aolszowka Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 21:54] SnehaGunda commented on #13090
@EmmaSmith323 Please remove the quotes ('') around the unique keys value. For example if you are creating unique key from portal, it should have values as shown in the following screen shot:

![image](https://user-images.githubusercontent.com/14284405/43866456-a2eb37f4-9b1a-11e8-8d80-8201b82a4d4a.png)

[2018-08-08 21:55] YutongTie-MSFT commented on #12919
@stenoid There are choices for hour/day/month, I recommend you to use the calculator to estimate it first:
https://azure.microsoft.com/en-us/pricing/calculator/?service=search Thanks a lot!

[2018-08-08 21:58] YutongTie-MSFT commented on #12949
@lovingpizza Hi, thanks for your feedback here. I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, can you please help to check if there is some limitation we have but not in the document? And also, can you please update the document as necessary? Thanks a lot!

[2018-08-08 21:58] BryanTrach-MSFT commented on #12761
@henriquemendesc Thank you for your question. Since this is a more specific product question, it would be best if we handle this on the forums. We are currently keeping the scope limited to doc feedback or brief troubleshooting.

We would suggest you share your question to [MSDN Forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=notificationhubs) or [Stack Overflow](https://st

[2018-08-08 21:58] #12761 closed

[2018-08-08 21:59] BryanTrach-MSFT commented on #12789
@spcmastertim01 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-08 21:59] #12789 closed

[2018-08-08 22:01] amanarneja commented on #13094
@furena Thanks for reaching out. I have assigned the issue to @MarkusVi who authored the document and he will get back to you with additional details.

[2018-08-08 22:04] KumudD commented on #7514
@tkumark NAT rule creation is described in the following article: [Configure port forwarding in Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-load-balancer-port-forwarding-portal) . Thanks!

#please-close

[2018-08-08 22:06] vasivara-MSFT commented on #13102
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 22:11] jason-j-MSFT commented on #13009
@LlamaX I do not think you will have a problem with the ADF connector and MySQL on Linux.  As for using the ADF MySQL connector with an Azure IR, that should be supported as stated in the documentation:
https://docs.microsoft.com/en-us/azure/data-factory/connector-mysql#linked-service-properties

"You can use Self-hosted Integration Runtime or Azure Integration Runtime (if your data store is publi

[2018-08-08 22:11] #13009 closed

[2018-08-08 22:12] SaurabhSharma-MSFT commented on #13092
@JeremyTBradshaw Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 22:13] BryanTrach-MSFT commented on #12891
@SigmaSolutions Please note that there are 3 requirements needed to be met in order for you to use the 'Change App Service plan' feature.

- Exists in the same resource group
- Exists in the same geographical region
- Exists in the same webspace

Source: https://docs.microsoft.com/en-us/azure/app-service/app-service-plan-manage

The first two requirements are easy to meet. The last requirement is

[2018-08-08 22:13] #12891 closed

[2018-08-08 22:15] SaurabhSharma-MSFT commented on #13098
@guilhermepsantos Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-08 22:16] SaurabhSharma-MSFT commented on #13103
@jeffbearer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-08 22:24] TravisCragg-MSFT commented on #13106
@brenak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-08 22:26] ccassagnol opened #13108 "Install-Module doesn't have parameter -AllowPreRelease"
Install-Module doesn't have the -AllowPrerelease parameter defined. I went back through to version 5 on: https://docs.microsoft.com/en-us/powershell/module/powershellget/install-module?view=powershell-6 and that parameter isn't present. So how exactly do you get this version? Futher-more, if you update-module AzureRM, it pulls down 6.6.0, but the *userassignedidentity commands still don't show up.

[2018-08-08 22:27] TravisCragg-MSFT commented on #13105
@amysy this article is about using VNET Service Endpoints on a PaaS Resource. Are you looking for information about how to enable DDOS on PaaS Resources?

[2018-08-08 22:32] SnehaGunda commented on #13063
#please-close

[2018-08-08 22:32] SaurabhSharma-MSFT commented on #13071
@adumont  Please install the PowerShell "AzureAD" module by running the below PowerShell cmdlet -
`Install-Module -Name AzureAD` in your PowerShell Command window.

[2018-08-08 22:37] SnehaGunda commented on #13090
#please-close

[2018-08-08 22:38] Mike-Ubezzi-MSFT commented on #13063
@msghaleb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-08 22:38] #13063 closed

[2018-08-08 22:40] SnehaGunda commented on #12911
@grzlyD your question is product related, can't be solved through doc update. Can you please send this to askcosmosdb@microsoft alias? there is a broader group of audience monitoring the alias and you can get a quicker response.

[2018-08-08 22:41] JasonWHowell commented on #13031
@anushreeringne Thanks for the tips. Multiple ways to do get the same details it seems. I will leave the article as is, because of some formatting issues I can forsee, but thanks for the shortcut. ~Jason

#please-close

[2018-08-08 22:43] MarileeTurscak-MSFT commented on #13066
Unless I am missing something, I am going to close this out. Feel free to comment or open a new issue if you are still having trouble!

[2018-08-08 22:43] #13066 closed

[2018-08-08 22:47] tfitzmac commented on #11726
No limit currently enforced, but that could change in the future with new features.

[2018-08-08 22:48] tfitzmac commented on #11726
#please-close

[2018-08-08 22:51] BryanTrach-MSFT commented on #12930
@mortenbock I verified the same issue.

Can you please drill down a layer deeper to web. The same snippet is located in there.

(expand 'subscriptions'> expand your sub>expand 'resource groups'> expand your resource goup> expand 'providers'> expand Microsoft.Web> expand 'sites' > expand your site> expand 'config'> select web)

I was having problems with getting my changes to stick though. If your

[2018-08-08 22:54] MarileeTurscak-MSFT commented on #13069
@Trundlore
This is a fairly new feature. Release notes for July 2018 show that PTA now supports legacy protocols and applications. Please see the[ release notes here](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new) for details.

[2018-08-08 22:55] MarileeTurscak-MSFT commented on #13069
I hope this answers your question! Please leave a comment or reopen the issue if you have further questions.

[2018-08-08 22:55] #13069 closed

[2018-08-08 22:55] MarileeTurscak-MSFT commented on #12993
I hope this answers your question. Please leave a comment or reopen the issue if you need further assistance!

[2018-08-08 22:55] #12993 closed

[2018-08-08 23:02] SnehaGunda commented on #12361
@quinn-madson I tested the scenario and when I use the data migration dtui tool, I can repro the error you are seeing. However it's working with the command line. The following example works when you plug-in the appropriate connection endpoints:

#Import all documents from a MongoDB collection
dt.exe /s:MongoDB /s.ConnectionString:mongodb://<dbuser>:<dbpassword>@<host>:<port>/<database> /s.Collect

[2018-08-08 23:02] SnehaGunda commented on #12361
#please-close

[2018-08-08 23:05] SnehaGunda commented on #11841
@aiden56 your issue is a product question, can you please log it to the [UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db) or send it to askcosmosdb@microsoft.com alias.

[2018-08-08 23:06] MarileeTurscak-MSFT commented on #12948
SignUpOrSignin.xml. Do you have multiple?

[2018-08-08 23:09] TravisCragg-MSFT commented on #11726
@SeanFeldman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-08 23:09] #11726 closed

[2018-08-08 23:09] SnehaGunda commented on #12292
@Maggern3 per my discussion with our team, choosing partitioned Vs non-partitioned collection is one of the initial decisions of designing a database. If a partition key is chosen, queries should be optimized by using the partition key. And if you convert a collection to sharded collection, you should rewrite the queries to include the partition key.

[2018-08-08 23:14] tamram commented on #12973
@Adam-Smith-MSFT - Can you please remove the storage tagging, and assign this to cloud services? Thanks!

[2018-08-08 23:17] provKarlSimonsen commented on #8654
Any progress on this? This is blocking us as well. The question is almost 90 days old now. Please escalate.

[2018-08-08 23:32] tamram commented on #12876
@daviburg - Thanks for your feedback! We'll be updating the page shortly with information about the latest version.

#please-close

[2018-08-08 23:34] SaurabhSharma-MSFT commented on #13092
@JeremyTBradshaw  Step 6 talks about devices having down level OS to Win 10. Yes, for Win 10 as per the documentation https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso-quick-start#step-3-roll-out-the-feature you need modify the intranet zone settings while rolling out the feature to users.

[2018-08-08 23:39] YutongTie-MSFT commented on #13099
@CeciAc Hi, I can not reproduce that bug, it works for me well. So I don't thinks there is something wrong with the source code. For making it clearer, can you please provide more information about this issue? Thanks a lot!

[2018-08-08 23:40] SaurabhSharma-MSFT commented on #13098
@guilhermepsantos Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-08-08 23:41] dcbrown16 commented on #12989
@cynthn sounds good, thanks! Is the page update date supposed to change as well?

@MicahMcKittrick-MSFT right, but the SLA page for scale sets states that the SLA for VMs applies "if the Virtual Machine Scale Sets includes Virtual Machines in at least 2 Fault Domains".
As far as I can tell, a scale set with 2+ instances always has 2+ fault domains, so the SLA language is sort of needlessly obtuse.

[2018-08-08 23:49] dcbrown16 commented on #12989
One more follow-up: VMSS templates can specify an availability set for VMs. What would this do that isn't already done by placement groups?
https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachinescalesets/virtualmachines#virtualmachinescalesetvmproperties-object

[2018-08-08 23:50] Mike-Ubezzi-MSFT commented on #13065
@shruti456 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-08 23:54] ggailey777 commented on #13095
@gsimardnet it does...and since it's currently daylight savings time in many places, it's easy to verify in the site console using the `time` command:

![image](https://user-images.githubusercontent.com/1388263/43870246-6e27f276-9b2b-11e8-939a-60007c543a29.png)

With my function app set to `Pacific Standard Time` I get the correct daylight time value. I will update the topic to make this more clea

[2018-08-08 23:58] pluralmonad opened #13111 "Move IsReplaying check to local function."
Can we add
[code]
at the top of the C# weather example? All of those extra `if` statements won't have to clog up the example anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebfd0b68-5bb5-f9da-2233-df253fa66402
* Version Independent ID: 1296e733-ce06-d421-4bbe-560954d9dc9b
* Content: [Monitors in Durable Functio

[2018-08-09 00:04] Mike-Ubezzi-MSFT commented on #13093
@vip32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 00:13] Mike-Ubezzi-MSFT commented on #13059
@luyaok Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-09 00:34] BryanTrach-MSFT commented on #12870
@jdlibbee To clarify, are you brining your own project files? If so, the naming of some of the files might be the issue.

We just tested the doc steps and they still work. We look forward to your reply.

[2018-08-09 00:38] EmmaSmith323 commented on #13090
![image](https://user-images.githubusercontent.com/6404321/43871472-acccd194-9b31-11e8-995b-850d900b2ae3.png)
Yes, I am doing it without quotes and it is causing the error.

[2018-08-09 00:39] jmo808 commented on #10052
The retraining operation is meant to be a manual process. You would take the telemetry from model usage stored in user-defined storage and import it into your experiment and then re-create the model with the new data. From there register it as a new version of the model and then run the update command to push out a new version of the service.

[2018-08-09 00:50] CarlRabeler commented on #13051
merged
#please-close

[2018-08-09 00:52] CarlRabeler commented on #12678
@dcbrown16 merged - https://github.com/MicrosoftDocs/azure-docs-pr/pull/47960

#please-close

[2018-08-09 00:54] Mike-Ubezzi-MSFT commented on #13077
@elephanteddie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 00:56] haydenhancock commented on #12901
Not sure why this was closed. I checked my .net core version via `dotnet --info` and I have 2.1.302 installed. Using --force didn't yield a different result.

`PS C:\Path\To\Repo> func init MyFunctionProj2
Select a worker runtime: dotnet
No templates matched the input template name: azureFunctionsProjectTemplates.
Error creating project template
PS C:\Path\To\Repo> func init MyFunctionProj2 --forc

[2018-08-09 00:56] Mike-Ubezzi-MSFT commented on #13078
@elephanteddie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 00:59] femsulu commented on #13101
@thuansoldier

[2018-08-09 01:01] #13101 closed

[2018-08-09 01:02] kashimiz commented on #12943
@pmatthews05 Thanks for the heads up. Looks like we'll need to retool this sample to accommodate the API change.

[2018-08-09 01:06] #12678 closed

[2018-08-09 01:10] MicahMcKittrick-MSFT commented on #12989
@dcbrown16 You are able to create a single node VMSS so in that case the SLA would not be applicable. Generally you would have more but for example if you are using Service Fabric that service uses VMSS on the backend. If you create a single node cluster to test on there is no SLA.

For your second comment, yes you can use AV sets. There is limits on AV sets but if you are going to have a constant

[2018-08-09 01:11] grzlyD commented on #12911
@SnehaGunda yes I have already sent an email to askcosmosdb alias. I have not received a reply yet so I posted a comment on the documentation.

[2018-08-09 01:14] #11841 closed

[2018-08-09 01:29] dcbrown16 commented on #12989
@MicahMcKittrick-MSFT great, thanks for all that info! As I suspected, it looks like the "VMs in 2 fault domains" language in the SLA always applies with 2 or more nodes in a VMSS, while a single node has separate SLA (if you use Premium disks).
Thanks for all the quick responses!

[2018-08-09 01:29] #12989 closed

[2018-08-09 01:33] guilhermepsantos commented on #13098
Will do, thanks!

[2018-08-09 01:33] #13098 closed

[2018-08-09 01:35] MicahMcKittrick-MSFT commented on #12901
@haydenhancock the scope for these doc comments are to help identify if there are any issues with the documentation. We have verified that the doc works as expected as multiple of us have been able to get this to work using Visual Studio code. This leaves us at an issue with your local environment.

I have the following versions installed

Visual Studio Code 1.25.1
dotnet 2.1.302
azure-functions-c

[2018-08-09 01:36] MicahMcKittrick-MSFT commented on #12989
Anytime :)

[2018-08-09 01:44] KeiroKamioka0000 opened #13112 "Can I delete individual recovery point in the vault?"
I assuming it will be Similar answer from [Can I delete individual files from a recovery point in the vault?' Section.

Is it possible to delete the Specific Recovery Point in the Vault?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c0-df97-f729-fe09

[2018-08-09 01:54] MicahMcKittrick-MSFT commented on #13111
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-09 01:57] haydenhancock commented on #12901
The current version of node is 10.8.0.

I have the following versions:

- Visual Studio Code 1.25.1
- dotnet 2.1.302
- azure-functions-core-tools 2.0.1-beta.34
- node 10.8.0

When running `npm install -g azure-functions-core-tools@core` it installs 2.0.1-beta.34 so not sure exactly how you have a much higher version. I can attempt to install the LTS version of node and try again.

[2018-08-09 02:12] comeCU commented on #13099
@YutongTie-MSFT Hi,thank you for your help.This is my test code as shown in the C# API,I want to get a json data.
Operating environment：visual studio 2017
![04](https://user-images.githubusercontent.com/30254171/43874144-a4d502dc-9bbc-11e8-8381-6071396ff8d9.png)

[code]

[2018-08-09 02:55] comeCU commented on #13099
@CeciAc @YutongTie-MSFT Ah, I got it, I made a mistake, maybe I should learn C#. Anyway, thank you very much!
![05](https://user-images.githubusercontent.com/30254171/43875230-4c5a7bea-9bc2-11e8-911f-eec28f96aa4c.png)
![ok02](https://user-images.githubusercontent.com/30254171/43875237-519ada14-9bc2-11e8-9689-6f2995d40609.png)

[2018-08-09 03:21] Maqsoodp opened #13113 "Locks get inherited to deployment resource which affects deleting of it. Deleting is required as deployment resource has a hard limit of 800."
We have custom name for every ARM deployments and the deployments happen daily to production leading to increase in number. ARM Deployments in Azure have a hard limit of 800 as per the link [Resource group limit](https://docs.microsoft.com/en-gb/azure/azure-subscription-service-limits#resource-group-limits)

To avoid accidental deletion of the resource group we have applied locks to prod resource

[2018-08-09 03:25] luyaok commented on #13059
After multiple refreshes the webpage it displays correctly. But still get the following error:

Uncaught TypeError: Cannot read property 'send' of undefined
    at o.send (atlas.min.js?api-version=1.0:362)
    at e._updateWorkerData (atlas.min.js?api-version=1.0:362)
    at e.load (atlas.min.js?api-version=1.0:362)
    at e.onAdd (atlas.min.js?api-version=1.0:362)
    at e.onAdd (atlas.min.js?api-

[2018-08-09 03:35] SnehaGunda commented on #13012
@jpchauhan in addition to Alberto's response here is some more information: When running SQL queries, throughput or RU consumption is calculated by taking number of parameters into account, all the query execution metrics documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-metrics#query-execution-metrics account in the RU consumption.

For queries that read data for

[2018-08-09 03:36] SnehaGunda commented on #13012
#please-close

[2018-08-09 03:43] isharehappycode opened #13114 "Provisioning process for existing device on field?"
This document very well described on boarding process of device, but how do I on board a device which is already in field. How does I onboard these devices in to DPS? do I need to install some service manually on each devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f21f48a7-a140-b21f-e699-df8e9fb000a9
* Version

[2018-08-09 03:46] yamatoya commented on #13051
Thank you !

[2018-08-09 03:46] #13051 closed

[2018-08-09 03:49] reiserw commented on #11095
Exactly the same issue from me.

[2018-08-09 03:57] SnehaGunda commented on #13090
@EmmaSmith323 I think you are creating unique key for MongoDB API, for MongoDB the pattern is little different. just specify the value as: path, ring (note no / character). If you see the textual message in that field, the example shows without /. For SQL API you have to use the '/' character.

![image](https://user-images.githubusercontent.com/14284405/43877204-7017a4ec-9b4d-11e8-83f4-06255080213

[2018-08-09 04:08] nicolaszhang opened #13115 "What's the requirement for Azure VM type for windows container?"
What's the requirement for Azure VM type for windows container? Windows container should be supported by specified VM types, for example I believe Standard_B8ms VM pool cannot be used to run container workload. So could you provide the VM types info that support Windows container in Azure Batch?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-08-09 04:30] SnehaGunda commented on #13090
#please-close

[2018-08-09 04:36] zaalion opened #13116 "Getting error when adding the new constructor."
Hello,

I am trying to use MSI with the entity framework as the document suggests. However, I get the following error message after adding the new constructor. I successfully get the token though.

"The context is being used in Code First mode with code that was generated from an EDMX file for either Database First or Model First development. This will not work correctly. To fix this problem do no

[2018-08-09 04:57] kazshi commented on #13052
@MicahMcKittrick-MSFT Thanks for your detailed explanation. I think I understand what the content means now - I'm new to the VMSS and still learning.

[2018-08-09 04:57] #13052 closed

[2018-08-09 05:04] hannesne opened #13117 "Using a collector for output with C# attribute bindings."
Please provide a sample of using a collector for output with C# attribute bindings. Docs state that you can do it, but it's not entirely clear what the signature of the method should look like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-eb

[2018-08-09 05:33] KeiroKamioka0000 opened #13118 "App Service?"
What the &lt;App Service&gt; in Service(s) of 1. Define Alert Notification represent?

Is this include entire App Service related Service listed in the &lt;Sevice(s)&gt; row?

Does this reporesent &lt;App Service Plan&gt; or &lt;App Service Enviroment&gt; ???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5f3688-4afe

[2018-08-09 05:35] dcbrown16 opened #13119 "Broken scrolling"
The list of provider headings on the right of this article is broken in all browser (Edge, IE, Chrome) for me.
I have been noticing degraded scrolling behavior across the docs in the last two days but this page is one of the worst since the functionality of scrolling down and selecting a header is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-08-09 05:37] dcbrown16 opened #13120 "Broken scrolling"
I just posted on the metrics list as well but this is another page where the list of headings is longer than most browser windows would be, and scrolling down in the headings is broken.
Please repair the scrollbar functionality for the headings lists across the doc sites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-09 06:11] VHamar commented on #9547
Can we please get this fixed, we just had a support incident that ran took over two weeks to get resolved including the Product Group because of this: It's very easy to read the one liner as it should be a string instead of the arrary it must be.
Please change:
      "commonNames": ["[parameters('certificateCommonName')]"],
to:
      "commonNames": [
            "[parameters('certificateCommonName

[2018-08-09 06:13] kazshi commented on #12988
@Alberto-Vega-MSFT @anosov1960  just my additional comment - if specific feature are not supported in Preview, it's noted as like '<features> are not supported in Preview', for example, as far as I see. But the note says "...we will not perform..." and just wondering if it's just an inconsistency in style or any other meanings...?

[2018-08-09 06:31] kazshi opened #13121 "Which read-only replica is being used for connection?"
Is there any way to know which read-only replica is being used for connection? I don't know if each replica has different id or something and can get the id, for example, or something like that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-6

[2018-08-09 06:41] adumont commented on #13071
That did the trick. Sorry to bother.

[2018-08-09 06:41] #13071 closed

[2018-08-09 06:42] SarithaMaran opened #13122 "How to build docker for ARM architecture from VS Code?"
# How to build docker for ARM architecture from VS Code?

I am trying to run IoT edge modules in my Raspberry Pi. And using C# sharp custom module.
In my `deployment.template.json` file , I changed the image value to `"image":"${MODULES.CsharpModule.arm32v7}"`
Where "CsharpModule" is my module name.

## Getting error while building IoT Edge Solution.
When I right click on `deployment.template.json

[2018-08-09 07:15] denishol commented on #13066
The shortlink is https://aka.ms/modernauthga . And by then my browser is redirected first to the language neutral version of the blog and the immediately to the german (/de-de/) version.
Tested with different browsers, all with lang=german. Please repro
![image](https://user-images.githubusercontent.com/39328285/43883686-3a0eecea-9bb4-11e8-9108-c71d5ca4b2fa.png)
![image](https://user-images.github

[2018-08-09 07:17] jstpldev opened #13123 "Correction to the sentense"
The first sentence should contain 'other than' i.e. After you buy an Azure reservation, you may want to apply the reservation to a different subscription other than the one you specified during purchase

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9be8cdc6-1a0e-25d6-8131-a56c5c0029a5
* Version Independent ID: d27499e

[2018-08-09 07:17] tshaiman commented on #12487
any updates on this topic ?

[2018-08-09 08:24] placetobejohan opened #13125 "Make non-breaking changes to your revision"
In item 3, I wouldn't use the word 'current' since it has a different meaning here than when it's used below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803fb9a7-5896-f4b0-9144-af5f87f3b1d4
* Version Independent ID: aeb99370-0ff3-bf47-1b69-e8710fe454e0
* Content: [Use revisions to make non-breaking changes safely i

[2018-08-09 08:38] dominicbetts commented on #11478
@ChrWeinert - I'm going to request toclose this issue now. If you want to reopen it with follow-up questions, please let us know. Thanks!

[2018-08-09 08:38] ggailey777 commented on #11618
I have also created an internal work item to track this content gap ([1320405](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1320405)). Unless there is anything else related to this issue, #please-close.

[2018-08-09 08:38] dominicbetts commented on #11478
#please-close

[2018-08-09 08:48] MunozVictor opened #13126 "How to do this from VS?"
Nice docs , but when i publish LogicApp from Visual Studio lost my configuration, how can to set this configuration from Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1892f5d-9cd6-12f8-43ed-21b8d31b509b
* Version Independent ID: 5158b830-2faa-e7ce-6111-2351d1f78f51
* Content: [Create and manage integra

[2018-08-09 08:50] #13095 closed

[2018-08-09 09:06] dmakaroff commented on #13068
I've used local PowerShell. The command in question results in `C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"--name\": executable file not found in $PATH": unknown.`

[2018-08-09 09:06] #11478 closed

[2018-08-09 09:08] SychevIgor opened #13127 "Maybe this content should be inside "Search" documentation instead of Storage or in both places?"
From my perspective, it's more about Search, rather than about Storage.
If it you will migrate this document to search documentation- it will be better from common sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e891ae5d-cb70-cb08-e3b2-f803087ba156
* Version Independent ID: 5beb898f-2c44-42e7-fd88-baf7e03d68ac
* C

[2018-08-09 09:14] SychevIgor opened #13128 "We can create a data source, an index, and an indexer from portal, without postman. Can you fix the guide?"
We can create a data source, an index, and an indexer from portal, without postman. Can you fix the guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab1cea8-3915-f271-06ca-bf8885a80409
* Version Independent ID: 3a9a5ee2-97fa-affa-7bdc-d8f26f6bfb25
* Content: [Tutorial for searching semi-structured data from Azure

[2018-08-09 09:15] SychevIgor commented on #13128
![image](https://user-images.githubusercontent.com/578954/43889825-dd27206e-9bcd-11e8-8160-396a75be7662.png)

[2018-08-09 09:16] SychevIgor commented on #13128
It actually already covered in https://docs.microsoft.com/en-us/azure/storage/blobs/storage-unstructured-search and I don't know why we here so out-of-date information

[2018-08-09 09:18] cocosnuss commented on #12763
@Mike-Ubezzi-MSFT
I am not completely sure that these 30 minutes are a fixed value. I found this issue where it was possible to run the application for a couple of hours (https://github.com/Azure/azure-iot-arduino/issues/30)

What do you mean by "follow the steps to redeploy"? Follwing the instructions from the article?

I made the enhancement request, let's see if something happens :)

[2018-08-09 09:23] AmanSextus opened #13129 "Azure Backup for Mounted Drives"
Hi Team,

Can you please suggest a way of backing up mounted drives using Azure backup?

To be more precise, file shares which are not supported by MARS agent and Backup Server

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ad5c91-acc2-a50b-0b4a-8298c608df41
* Version Independent ID: 2e80d5ac-1

[2018-08-09 09:30] SychevIgor opened #13130 "We can use stable version of API instead of Preview"
https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2017-11-11/searchservice.json this version will cover exactly the same as https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2016-09-01-preview/searchservice.json but without "preview

[2018-08-09 09:41] chhavi-1 opened #13131 "Appreciation Comment"
Very practical, to the point and neatly explained topics...I find docs.ms.com very helpful. Team! pls Keep up good work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a03427-b70e-ab8e-1977-bac5066dbc96
* Version Independent ID: bcb8091d-0c21-d462-0216-b53c21733de0
* Content: [Create a virtual network - quickstart -

[2018-08-09 09:55] girgen commented on #11686
Hi!

The https://blogs.msdn.microsoft.com/card/2010/06/21/a-quick-walkthrough-setting-up-ad-fs-saml-federation-with-a-shibboleth-sp/ link is close, but it fails since it requires me to change NAmeFormat in Shibboleth, which the opposite of what I need. I require our SP to accepts federated identities from different IdP:s, all using the same standardised NameFormat nameFormat="urn:oasis:names:tc:SA

[2018-08-09 09:58] Nilis312 commented on #13010
Did you get any update on this ? Would be nice to know this;) thanks

[2018-08-09 09:59] SychevIgor commented on #13130
BTW, in another document this api version already mentioned https://docs.microsoft.com/en-us/azure/search/search-get-started-portal#query-index I think in this document we should do the same

[2018-08-09 10:06] sergaz-msft commented on #13114
@isharehappycode thank you for your feedback! There are different approaches you can take to provision a device that is already in the field. You can have a look at [Azure IoT Reference Architecture Guide](https://aka.ms/iotrefarchitecture) for insights.

If you need more advisory please file a support request @ https://aka.ms/azsupt and reference this issue in the description. If you do not have

[2018-08-09 10:06] sergaz-msft commented on #13114
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 10:06] #13114 closed

[2018-08-09 10:17] SychevIgor opened #13133 "Specify list of supported languages"
It's nice to have "For up to 120 languages, the Language Detection", but if we will specify this list right on a page(or will add link with the list) - it will be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc617fb-5d08-4942-10fe-cd6fd0f397b0
* Version Independent ID: 2dfc170d-d529-90bd-ea67-73a35721e3a4
*

[2018-08-09 10:21] RokitSalad opened #13134 "A machine with admin perms?"
"...  from any machine that has administrator access to all the machines that are listed as nodes in the cluster" - how is a server granted administrator permissions on another server? Surely users have permissions, not machines (unless I'm overlooking something, which is always possible).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-08-09 10:23] SychevIgor opened #13135 "Specify list of supported languages"
In an extended sample- we have "defaultLanguageCode" , but it will be nice to have a link or a list of supported languages on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62e5aae3-ec3a-e3b9-6437-25cdd99336ae
* Version Independent ID: 7bc80d61-bd1d-4fdd-72c3-a78377a4e8a5
* Content: [Text Merge cognitive sear

[2018-08-09 10:24] RokitSalad opened #13136 "Which cert is this?"
$ClusterName= "mysecurecluster.something.com:19000"
$CertThumbprint= "70EF5E22ADB649799DA3C8B6A6BF7FG2D630F8F3"
Connect-serviceFabricCluster -ConnectionEndpoint $ClusterName -KeepAliveIntervalInSec 10 `
    -X509Credential `
    -ServerCertThumbprint $CertThumbprint  `
    -FindType FindByThumbprint `
    -FindValue $CertThumbprint `
    -StoreLocation CurrentUser `
    -StoreName My

Is this a se

[2018-08-09 10:25] waynemsft opened #13137 "Azure Firewall on VNet with VPN Gateway subnet and Peering not works"
Hi,

We've tested Azure Firewall with pure cloud environment - 1 vnet, 3 subnets, and it works fine.
However, when we tested Azure Firewall on hybrid cloud environment, we found odds things. We cannot ping private IP address of Azure Firewall correctly.
Is there any existing issues/limitations related to such configuration?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-08-09 10:44] SarithaMaran commented on #13122
@sergaz-msft
- I have followed the prerequisites and steps mentioned [here](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module).
- I am using Ubuntu 16.04

[2018-08-09 10:45] michal-staniszewski opened #13138 "Create and attach empty unmamaged disk"
I cannot find info how to create an empty unmanaged disk on a storage account and attach it to a vm using Powershell.
Only how to create a manged one or attach an existing unmanaged.
There is an option with Azure CLI to attach a new empty unmanaged vhd. Why not with Powershell??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-08-09 11:12] FrankCarius commented on #13086
Thanks for confirming my understanding. i'ld like to see taht information as part of the supported scenarios

[2018-08-09 11:12] #13086 closed

[2018-08-09 11:13] waheedhussain opened #13139 "Service bus"
Hi,
regarding the service bus mentioned in the table above, I am not able to find any other material on 'Server side encryption using service managed keys' or how to enable this?

Please can you extend to provide further information, how do we enable this or is this enabled by default?

thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-08-09 11:30] lqdev opened #13140 "YAML File Configuration Parameters/Properties"
What is the list of acceptable parameters/configuration properties that can be included in the YAML file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03e645be-5677-9b0b-049e-4b579a5da1af
* Version Independent ID: 36f94f65-128d-f973-ec19-3f3e11b2a405
* Content: [Deploy multi-container groups in Azure Container Instan

[2018-08-09 11:43] kilasuit opened #13141 "Add equivalent PowerShell commands for this"
These docs should have PowerShell equivalent commands for admins to choose which one they want to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentia

[2018-08-09 11:52] sergaz-msft commented on #12763
@cocosnuss whe looking at the error messages this makes me suspect that the wifi connection drops and the device is not able to reconnect. Is this occurring "always" after 30 minutes or sometimes is less and other times is more? One quick test is to start the sample, turn off your Wifi Router during some period and turn it back on to check if the device can reconnect or the error reported occurs.

[2018-08-09 11:57] cocosnuss commented on #12763
I tested it a few times before and it was always exactly 30 minutes. I'll do some additional tests and let you know what happend

[2018-08-09 12:03] LacikIgor opened #13142 "Recommended continuous deployment strategies"
Hi,

utilizing the programmatic API we have built a DEV luis app (where we prepare content and have this connected to our DEV app) and a PROD luis app (which is just connected to our PROD app).

Using the export/import/train/publish API functionality we automated the "deployment" of DEV to PROD.

Now (because of the training randomness - https://docs.microsoft.com/en-us/azure/cognitive-services/lu

[2018-08-09 12:31] aherrick commented on #12948
It's the same one from the base policy GH from the guide. See below:

[code]

[2018-08-09 12:45] jimdial commented on #13105
@amysy If you're looking for information about how to enable DDoS, see the [Manage Azure DDoS protection](https://docs.microsoft.com/en-us/azure/virtual-network/manage-ddos-protection) article. As Travis mentioned, enabling DDoS is not in this article because this article is about enabling a service endpoint. Let us know if you have any additional questions. #please-close

[2018-08-09 12:46] jimdial commented on #13131
@chhavi-1 Thanks for the feedback, I'm glad you find the content helpful. #please-close

[2018-08-09 12:46] ssflynn77 opened #13143 "JIT for VM Scale Sets"
Can JIT be configured for VMSS that are deployed using an ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just in time virtual machine access in Azure Security Center](https://docs.microsoft.com/

[2018-08-09 12:51] MaximeRastello opened #13144 "No mobile app SSPR for admin users"
Hi,
After doing some tests using the Authenticator app for SSPR (Public Preview), mobile app authentication methods do not appear on https://passwordreset.microsoftonline.com for my global admin account. They only show up for a regular user. You may need to reflect this limitation in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-08-09 12:59] Sambsamb opened #13145 "Get-ContainerBytes : Cannot process argument transformation on parameter 'Container'"
Calculating container wahvb4ddf6e86f4e32d8ca ...
Get-ContainerBytes : Cannot process argument transformation on parameter 'Container'. Cannot convert the "Microsoft.WindowsAzure.Storage.Blob.CloudBlobContainer" value of type
"Microsoft.WindowsAzure.Storage.Blob.CloudBlobContainer" to type "Microsoft.WindowsAzure.Storage.Blob.CloudBlobContainer".
At line:5 char:38
+         $result = Get-ContainerB

[2018-08-09 13:02] vemund opened #13146 "Correct command to connect to local SQL Server instance"
The correct command to make the emulator use a local SQL Server instance is: AzureStorageEmulator.exe init /server .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure storage emulator for developme

[2018-08-09 13:03] tfitzmac commented on #13093
@vip32 - thanks for the question. Yes, Event Grid will retry for a 429 response. I have added it to the article.

[2018-08-09 13:04] #13093 closed

[2018-08-09 13:07] Sambsamb opened #13147 "Exception calling "GetPageRanges" with "0" argument(s): "Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.""
Exception calling "GetPageRanges" with "0" argument(s): "Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host."
At C:\Data\Scripts\Get-BlobUsedSize1.ps1:66 char:9
+         $Blob.ICloudBlob.GetPageRanges() |
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException
    + Ful

[2018-08-09 13:14] SychevIgor opened #13148 "Azure Active Directory - new portal experience"
# Azure documentation issue guidance
On of documentation pages still old (classic portal).
https://docs.microsoft.com/en-us/rest/api/datacatalog/create-an-azure-active-directory-tenant
I can't create issue directly from this page, it's why I did it manually

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ab965b-dc45-f

[2018-08-09 13:47] osminm opened #13149 "Resource Tag & IAM /Custom Role Permissions"
What are the specific permissions required for an end user needing to manage resource tag across resources? I rather not give them contributor or owner. The user would be managing resource tags mostly through azure web console and powershell/cli in rare cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc

[2018-08-09 14:07] LarryBolton commented on #13025
Ok, thank you for investigating this issue.

The desire is to allow external users to access the SP 2016 site via Azure AD, where those external users might only have a free email account (e.g. Outlook, Gmail, Yahoo, etc.) that they use for business purposes. There is the expectation that this functionality will be similar to the type of external users access that is available with SPO, with the g

[2018-08-09 14:10] sergaz-msft commented on #12827
@angelbachev [on this quickstart](https://docs.microsoft.com/en-us/azure/iot-dps/quick-setup-auto-provision-rm) that you opened this issue at, we don't cover how to setup an ARM Template with DPS certificates included. It should be possible though.

This will require some deeper analysis (collect server logs and analyze your certificate, etc.). Can you please file a support request @ https://aka.m

[2018-08-09 14:10] sergaz-msft commented on #12827
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 14:10] #12827 closed

[2018-08-09 14:15] simonua opened #13151 "Azure CDN Documentation Unclear"
The Azure CDN Documentation in the "Custom domain names" section is a bit unclear to me. Following the instructions, it would appear to me that it creates an Azure CDN endpoint for blob storage itself, not the `$web` container. Consequently, when I access the CDN endpoint URL, I get the CDN's default error document.

Could you please elaborate specifically and clarify how to point the Azure CDN to

[2018-08-09 14:26] sergaz-msft commented on #12763
One other question is if the error occurs both for simulated and real sensor data? Thanks.

[2018-08-09 14:36] sergaz-msft commented on #12965
@treedust please confirm that you successfully completed [the tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) and [you could successfully verify all the steps of the installation?](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm)

If you had v1 version installed previously my advisory is that you install all again from

[2018-08-09 14:38] ChrisMahon-DellEMC opened #13152 "Issue with ADFS integration steps when providing the federation metadata file"
Issue: Register-CustomAdfs -CustomAdfsName Contoso -CustomADFSFederationMetadataFileContent $using:federationMetadataFileContent
The -CustomADFSFederationMetadataFileContent parameter does not seem to be valid anymore. The actual command seems to be this: -CustomADFSFederationMetadataFile

On the step Configure relying party on existing AD FS deployment (account STS) we needed to download the file

[2018-08-09 14:39] MaWa19 commented on #12154
I got the same question but was not able to find the GatewayHostname in the config.yaml as @samisarfraz proposed. @Mike-Ubezzi-MSFT What you provided is where the hostname of the IoTHub can be found but the hostname of the edge gateway was questioned. Hope to receive some help on this...

[2018-08-09 14:46] DoyleJOfTexas opened #13153 "DTU vs eDTU"
Please give consideration to removing "elastic pools"  from first sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94c33577-a694-bd91-d0fa-791ff3cbee13
* Version Independent ID: 449ad3ed-7959-aca2-07aa-e4e43d333ec7
* Content: [Azure SQL Database DTU-based resource limits single databases](https://docs.microsoft

[2018-08-09 14:47] camiloramirezf commented on #12978
What is the maximum number of records that can be retrived from a table in one request? Do we get some kind of continuation token from the bindings so request the next batch?

[2018-08-09 14:53] bwren commented on #12921
You can't limit the search to a single column.  It's going to automatically include all the columns as you specified.

[2018-08-09 14:53] bwren commented on #12921
#please-close

[2018-08-09 14:58] sergaz-msft commented on #13122
@SarithaMaran thank you for your feedback! My initial thought is that you need to compile your custom module on an Arm device. You can [cross compile the Azure IoT Hub SDK](https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/SDK_cross_compile_example.md) though I am not aware of an example to cross compile for Azure IoT Edge Modules.

@shizn @veyalla can you please comment on this? Thank you!

[2018-08-09 14:59] scarpentier opened #13155 "Error after running office365_consent.ps1"
I'm getting a "We cannot link this Office 365 account to your workspace." error after running the  office365_consent.ps1 step in the documentation.

![capture](https://user-images.githubusercontent.com/1216972/43905323-dc93b806-9bbe-11e8-9526-57e71ec0f5c8.JPG)

I definitively am the global admin of my tenant / subscription.

The only thing I can think that could be wrong is that my email address i

[2018-08-09 15:04] dannyrc commented on #12991
I have exactly the same problem!

[2018-08-09 15:12] rcarmo opened #13156 "Slow performance due to Connection: close (and no way to configure HTTP 1.1 keepalives)"
I've been testing this with some of my back-ends, and it seems that the `nginx` reverse proxy used in this configuration is configured to issue `Connection: close`, decimating performance.

I get roughly 5K requests/s from a single container on a tiny naked VM, and deploying the same container to AKS (on a nominally higher performance node) nets me only ~250 requests/s.

To ease repro, I'm using t

[2018-08-09 15:15] sergaz-msft commented on #13152
@mahonc3  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 15:18] sergaz-msft commented on #12996
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 15:18] #12996 closed

[2018-08-09 15:23] sergaz-msft commented on #13044
@vbadri did you follow all the steps of [the tutorial where you opened this issue at](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux)? I can't see us mentioning a module called boilerplate on this tutorial.

On top of that what steps did you perform already from the [Troubleshoot Doc?](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)

Thank you

[2018-08-09 15:26] sergaz-msft commented on #13065
@shruti456 did you try to run your application on different networks? I am suspecting that this may be related with firewall or security policies applied on the network.

Thank you.

[2018-08-09 15:28] TiloGit opened #13157 "How to force an autoupdate"
Can I force an auto-update? If so how.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ffd833-963a-a73e-e034-def5eb107453
* Version Independent ID: 4f9caeeb-f25e-39ef-9220-733b60033bd9
* Content: [Azure AD Connect: Automatic upgrade](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadc

[2018-08-09 15:28] Mike-Ubezzi-MSFT commented on #12154
@MaWa19 @samisarfraz The following section of the documentation [Register an IoT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart#register-an-iot-edge-device), is where you both create the `myEdgeDevice` as well as retrieve the device connection string. These are the specific Powershell commands:

`az iot hub device-identity create --device-id myEdgeDevice --hub-name {hub_na

[2018-08-09 15:29] ericbl opened #13158 "How to restrict the review to special user?"
In enterprise environment with a team developing its own app around a LUIS App, you don't want anybody to be able to edit the productive LUIS app, so you need a special tenant for reviewing the utterance.
How shall we deal with that challenge?
Currently, the web interface luis.ai only offers 'Admin' and 'Collaborators' roles, without restriction.
We were thinking about exporting part of the app (v

[2018-08-09 15:30] dcfsc opened #13159 "Missing image of successful Grant Permissions for Server App"
For configuring server app, "Select Done, choose Microsoft Graph from the list of APIs, then select Grant Permissions. This step will fail if the current account is not a tenant admin." If it fails am I done? What should I see when I am successful? The Client "Grant Permissions" is clear what success looks like. Is there an easy test query to see if I am a Tenant Admin?

---
#### Document Details

[2018-08-09 15:32] gosali opened #13160 "Create Custom-Translator-Documentation.md"
Hi Team,

We have received a Pull request from a Japanese contributor who created a new file.
See original PR: https://github.com/MicrosoftDocs/azure-docs.ja-jp/pull/594
See Reverste MT content:

---

# <a name="Custom-Translator-Documentation"></a>Custom Translator manual

Microsoft Custom Translator Preview is a feature of Microsoft Translator Services. Custom Translator, you can build a neural

[2018-08-09 15:35] PhlashGBG opened #13161 "Misleading statement or buggy AAD implementation: id_tokens are NOT signed"
The id_token section states 'id_tokens are signed but not encrypted', then goes on to provide a sample JWT which is NOT signed. Real JWT tokens from AAD are also NOT signed. This makes them far less useful as identity assertions that can be exchanged between parties...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 290

[2018-08-09 15:36] cynthn commented on #12908
@KeiroKamioka0000 thank you for the feedback. I'm going to file an internal work item for the extensions owner to create uninstall directions (either individually for each extension or something global if it can be handled that way). Thanks again!

#please-close

[2018-08-09 15:38] diberry commented on #13158
Hi @ericbl, thank you for taking the time to ask this question of how to manage a LUIS app in the development process. If I understand you correctly, you would like to separate out parts of the model for certain people to work on while securing part of the model so that part can't be changed. Is that correct?

LUIS doesn't do this easily yet. Have you looked at breaking your app up to use the [dis

[2018-08-09 15:53] bwren commented on #12769
I just checked both of these and they resolve fine for me.  It's an external link to https://dev.loganalytics.io/.

[2018-08-09 15:53] bwren commented on #12769
#please-close

[2018-08-09 15:54] kilasuit opened #13162 "Across all docs,there should be both Azure CLI AND Azure PowerShell examples"
I see a number of documents that have only Azure CLI examples.

As a PowerShell user, these are next to useless and slow my ability at looking at how I can adapt an example into PowerShell in my environment

[2018-08-09 15:55] Adam-Smith-MSFT commented on #13151
@simonua Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 15:56] Adam-Smith-MSFT commented on #13147
@Sambsamb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 15:57] Adam-Smith-MSFT commented on #13146
@vemund Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 15:57] simonua commented on #13151
@Adam-Smith-MSFT, thank you very much! I'll stay tuned.

[2018-08-09 15:59] douglaslMS commented on #12453
@vthokie93 How would you like to move forward with this issue? Are you willing to get on a call with @djpmsft so that he can help troubleshoot? Since this is not a documentation issue per se, I can't leave this open indefinitely without progress. Thank you!

[2018-08-09 16:00] Adam-Smith-MSFT commented on #13145
@Sambsamb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 16:08] bwren commented on #12768
Doesn't have to be enabled, and it has no dependency at all on the agent.  Do you see the option on any for any other data?  Can you send me a screenshot of what you're looking at so I can send to engineering team?

[2018-08-09 16:08] Alberto-Vega-MSFT commented on #13090
@EmmaSmith323 We will now proceed to close this thread. If there are further questions regarding this matter. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 16:10] Adam-Smith-MSFT commented on #13129
@AmanSextus Azure Backup offers multiple services, based on your needs, you should choose the best that would fit your business needs. I'd recommend reading through the following link to locate which one would work best for you: https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup#which-azure-backup-components-should-i-use

It will also depend on you infrastructure, ar

[2018-08-09 16:13] Alberto-Vega-MSFT commented on #13012
@jpchauhan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 16:13] #13090 closed

[2018-08-09 16:13] #13012 closed

[2018-08-09 16:14] sem-onyalo commented on #12600
@niharikaduttams using the method 'QueryByPipelineRun' instead fixed it for me. Code snippet looks like this:

[code]

@vasivara-MSFT same issue in documentation appears here: https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net

[2018-08-09 16:16] bwren commented on #11698
Not sure why that is.  They're showing duplicate for me as well, but I haven't heard of this causing any issues.  I'll pass on to engineering team.

[2018-08-09 16:16] bwren commented on #11698
#please-close

[2018-08-09 16:17] Adam-Smith-MSFT commented on #13127
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 16:17] Alberto-Vega-MSFT commented on #12623
@MNaveedKhalid We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 16:17] #12623 closed

[2018-08-09 16:25] AmanSextus commented on #13129
Hi Adam - Both Azure MARS agent and Azure Backup Server don't support Mounted file shares

[2018-08-09 16:30] Adam-Smith-MSFT commented on #13112
You should be able, depending on the nature of the backup you are trying to remove. This link: https://docs.microsoft.com/en-us/azure/backup/backup-azure-delete-vault , under the "Remove Vault Dependencies and delete vault", it shows how you van get to the dependencies, to locate the source of the backups, then you should be able to delete that specific backup.  Let me know if this answered your q

[2018-08-09 16:34] skalinets commented on #12846
Thanks, @BryanTrach-MSFT for your reply.

So to perform an "auto" swap now I need to create a slot in ARM, deploy my app to that slot, then ping it via curl etc and then swap? Is it valid assumption?

[2018-08-09 16:35] AmanSextus commented on #13129
Hi Adam - Both Azure MARS agent and Azure Backup Server don't support Mounted file shares.

[2018-08-09 16:35] skalinets commented on #12627
thanks

[2018-08-09 16:38] MaWa19 commented on #12154
@Mike-Ubezzi-MSFT Thanks for your quick reply. But again, this command only returns the connection string of the IoT Hub. What I need is the GatewayHostname of the Edge Gateway to send data through the gateway. Please correct me if I'm wrong, but there should be two hostnames one for the IoT Hub itself and one for the edge device which acts as a gateway, shouldn't it?
In my specific use case I wan

[2018-08-09 16:42] Adam-Smith-MSFT commented on #13097
@Sambsamb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 16:43] Adam-Smith-MSFT commented on #13129
@AmanSextus ah I see, you could use the files and folders option to backup these shares ? It wouldn't do a state, but rather by specific files and folders you choose. not sure about your scenario, but this should help

[2018-08-09 16:47] Adam-Smith-MSFT commented on #12833
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-09 16:47] #12833 closed

[2018-08-09 16:48] AmanSextus commented on #13129
I checked but MARS agent doesn't identify the file shares. Also in FAQs, it's mentioned it as limitation that file shares mounted on server can't be backed up so I just wanted to know any workaround for using Azure Backup for On Prem File shares mounted on a server.

[2018-08-09 16:55] Mike-Ubezzi-MSFT commented on #12154
@MaWa19 The value `GatewayHostname` is the IP address that was found by using ipconfig output:

Ethernet adapter vEthernet (DockerNAT):
Connection-specific DNS Suffix . :
IPv4 Address. . . . . . . . . . . : 10.0.75.1
Subnet Mask . . . . . . . . . . . : 255.255.255.0
Default Gateway . . . . . . . . . :

This is no longer required, as there is now an installation script as outlined in the following

[2018-08-09 16:57] jluk commented on #7385
PR submitted to add that hyperlinks

[2018-08-09 17:02] MahmoudYounes opened #13163 "handling multiple requests in parallel clarification request"
hi, there is nothing in the documentation that points out whether the end point handles multiple requests from the same source using the same key in parallel or no (at least nothing I read from the documentation clarifies this info). can someone assert this for me please? thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-09 17:04] #12908 closed

[2018-08-09 17:05] MicahMcKittrick-MSFT commented on #13068
@dmakaroff please try using Azure CLI. This is how the doc is designed to be used. Not with PowreShell.

[2018-08-09 17:06] #12925 closed

[2018-08-09 17:06] #12929 closed

[2018-08-09 17:07] mmacy commented on #13140
@lqdev Hi Luis, although we don't yet have the YAML reference published, it supports the same properties and parameter values as the Resource Management template:

[Microsoft.ContainerInstance/containerGroups template reference](https://docs.microsoft.com/azure/templates/microsoft.containerinstance/containergroups)

The YAML template reference is currently on our backlog of articles to publish. In

[2018-08-09 17:07] Karishma-Tiwari-MSFT commented on #13117
Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 17:08] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 Any update?

[2018-08-09 17:08] Adam-Smith-MSFT commented on #12920
@seguler @roygara would you be able to help with the above query ?

[2018-08-09 17:09] tfitzmac commented on #9501
@kyle-thomas-TT - I have confirmed that this issue has been resolved. Thanks for your feedback.

[2018-08-09 17:09] tfitzmac commented on #9501
#please-close

[2018-08-09 17:09] Karishma-Tiwari-MSFT commented on #12753
@mrdfuse We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-09 17:12] #9501 closed

[2018-08-09 17:12] sistoimenov opened #13165 "What about linux virtual machines"
I am having issues with artifacts on ubuntu machines and I can't find the logs. It would be helpful if the documentation was also written for linux machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376bda00-1162-bb37-2a2e-dc506b1661b3
* Version Independent ID: 6d8696cc-d025-4a18-5fe0-8ed5580f9aa9
* Content: [Dia

[2018-08-09 17:12] MicahMcKittrick-MSFT commented on #11753
@lachie83 got it! Thank you for clarifying that.

@EmilyNamugaanyi please give that route a try and let us know.

I will close this for now but we can reopen if you are still seeing issues.

[2018-08-09 17:12] #11753 closed

[2018-08-09 17:14] MicahMcKittrick-MSFT commented on #12956
@strimpak I will close this for now. If you need further assistance just let us know and we can reopen and continue.

[2018-08-09 17:14] priyamohanram commented on #13010
@Nilis312: Thanks for following up, and I apologize for the delay! The product team is following up with our partners at QRadar, and I will respond with an update as soon as I hear back from them. Thank you for your patience!

#in-progress

[2018-08-09 17:15] jason-j-MSFT commented on #13113
@Maqsoodp thanks for the thoughtful feedback.  The best place for this would be here:
https://feedback.azure.com/forums/281804-azure-resource-manager

The visabilty is greater in the Azure Feedback portal where the product group will see it and the community can upvote it.

If you have focused documentation feedback on a specific document, do let us know.

[2018-08-09 17:15] #13113 closed

[2018-08-09 17:15] MicahMcKittrick-MSFT commented on #13023
@LisandroSu I will close this for now. When ready feel free to come back and we can reopen and continue.

[2018-08-09 17:15] #13023 closed

[2018-08-09 17:31] DmitriyDranenkoDevPro commented on #12409
Why was the issue closed?
What is the solution regarding this?

[2018-08-09 17:32] DmitriyDranenkoDevPro commented on #10754
Why was the issue closed?
What is the solution regarding this?

[2018-08-09 17:33] zuhairp commented on #12977
@MedAnd Reliable dictionary does not support nested transactions. TryGetValue calls are scoped only to the transaction that is passed in.
Additionally, we expect the objects stored in the collection to be immutable. You can read about it here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-work-with-reliable-collections#common-pitfalls-and-how-to-avoid-them

Can you share som

[2018-08-09 17:33] rajbos commented on #12769
That's weird. I've still got the same behavior:

![2018-08-09 19_31_49-page not found github](https://user-images.githubusercontent.com/6085745/43915473-1575b20e-9c0b-11e8-90a6-e66ab9a61253.png)
 on both pages.

[2018-08-09 17:34] jdobrzen opened #13167 "How do you delete a model?"
I can't find in the online documentation for Azure Model Management how to delete a registered model? Or how to delete a manifest, image or service for that matter?
(https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-service-deploy)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-09 17:34] jchenbb opened #13168 "Claims list for access tokens"
Can there be a table for the claims of access tokens, similar to the table for ID tokens?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c18ae119-a9b9-44eb-ead0-f8dee59718b2
* Version Independent ID: 92634a9a-ac00-6aa4-1c3b-67f8940a9ad5
* Content: [Azure Active Directory v2.0 tokens reference](https://docs.microsoft.co

[2018-08-09 17:36] rajbos commented on #12769
I've highlighted both links, maybe that helps to make sure we are looking in the same spot?

![2018-08-09 19_33_58-azure-docs_log-analytics-overview md at master microsoftdocs_azure-docs](https://user-images.githubusercontent.com/6085745/43915564-6231c4fc-9c0b-11e8-91d4-69fb51881519.png)
![2018-08-09 19_34_52-azure-docs_log-analytics-log-search md at master microsoftdocs_azure-docs](https://user-i

[2018-08-09 17:38] jdobrzen opened #13169 "Deleting a failed environment"
I have an environment that I attempted to create, but is in a failed state.  How do I remove the failed environment?

(https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/deployment-setup-configuration)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5904637d-335b-ed1e-2f81-646a3a83a80c
* Version I

[2018-08-09 17:38] treedust commented on #12965
@sergaz-msft I get the same results with or with out adding custom modules from the tutorial.

[code]

What is even more odd docker containers do not have volumes including edge and hub? I'm almost certain this isn't a support inquiry and instead a bug?

[2018-08-09 17:38] vladvino commented on #13125
Thanks for the feedback. Which paragraph are you referring to?

[2018-08-09 17:38] bwren commented on #12769
That's exactly where I'm looking.  Do these links work for you?  That article does have an old link that forwards to a new location.  Checking if you're dealing with a forwarding issue.

https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-log-search-api
https://dev.loganalytics.io/

[2018-08-09 17:39] SeanFeldman commented on #7385
@jluk would be nice if PR could be linked back to the issue. _Assuming_ PR is a GitHub PR. Thank you 🙂

[2018-08-09 17:41] npuello commented on #13102
Thank you. Furthermore, can ADLS in its current form (v1) survive a datacenter outage?

[2018-08-09 17:42] rajbos commented on #12769
Both you links work, but those are not in the original files:
`https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/log-analytics/log-analytics-log-search-api.md`

Can it be that you are navigating from docs.microsoft.com and I do so by directly looking in GitHub?

[2018-08-09 17:42] jdobrzen commented on #13167
https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-service-deploy

[2018-08-09 17:44] MichaelHauss commented on #13151
You don't need to explicitly point the CDN to the $web container. Use the web endpoint (as opposed to the blob endpoint) as the origin. Portal support for this is not quite rolled out, so you'll need to add the web endpoint as a "custom" endpoint. Also worth calling out that CDN takes a bit of time to configure (depends on which offering you're using) so you may see the CDNs default error doc befo

[2018-08-09 17:45] tfitzmac commented on #9950
@rsch006 - my tests indicate this issue has been fixed. Thanks for your feedback about the problem.

[2018-08-09 17:45] bwren commented on #12769
The links in the md file are relative to the GitHub repo.  They get resolved to the actual URL when the article is published.

[2018-08-09 17:45] tfitzmac commented on #9950
#please-close

[2018-08-09 17:45] kobulloc-MSFT commented on #13125
@placetobejohan Thank you for the feedback!  I've assigned this to the document author so they can make appropriate changes.

[2018-08-09 17:47] jluk commented on #7385
@SeanFeldman this PR addresses @wibjorn request, I still do not understand the initial issue's ask.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/48630

[2018-08-09 17:47] rajbos commented on #12769
I was afraid so. All the other links in GitHub work fine, so you'd expect these to. Any tips on finding the same documentation on docs.microsoft.com fast? I don't see a link/tag/description in the markdown file and do find a lot of docs directly on GitHub....

[2018-08-09 17:48] msilinda opened #13170 "When you document JSON samples please include PowerShell"
When you document JSON samples please include the equivalent AzureRM PowerShell commands. Many of us are only able to use JSON when there is no PowerShell equivalent solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b27ac70e-a478-0bb7-9c56-f990c5caab41
* Version Independent ID: 8b2c11f1-7c06-1141-2d01-57683740aa

[2018-08-09 17:48] simonua commented on #13151
@MichaelHauss, thank you very much. I will try that out. Do you have any knowledge as to when this may be supported through the portal directly in the storage resource?

[2018-08-09 17:48] simonua commented on #13151
And could the documentation be clarified in the meantime, please?

[2018-08-09 17:50] tfitzmac commented on #9912
@ToMakeSense - this issue has been fixed. Thanks for your feedback.

[2018-08-09 17:50] tfitzmac commented on #9912
#please-close

[2018-08-09 17:50] KumudD commented on #9822
@Powerhelmsman The image has been updated to add clarity in the "How Traffic Manager works"(https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-how-it-works) article.

#please-close

[2018-08-09 17:51] YutongTie-MSFT commented on #13163
@MahmoudYounes Thanks for your feedback here. We will investigate it and get back to you soon.

[2018-08-09 17:53] bwren commented on #12769
Those links don't work on GitHub because the article doesn't exist anymore.  That's why we're forwarding the link to another location.  But that forwarding lives outside of GitHub so it wouldn't know anything about it.  The URL for each of the articles should be https://docs.microsoft.com/azure/log-analytics/<article name>

[2018-08-09 17:53] SeanFeldman commented on #7385
@jluk looks like PR is addressing parkdown that is in a private repo. Ignore my ask...

[2018-08-09 17:55] YutongTie-MSFT commented on #13142
@LacikIgor Hi, thanks for your feedback. We will investigate it and get back to you soon.

[2018-08-09 17:57] jeevansd commented on #13103
@jeffbearer Salesforce has some default roles. This is why we have given these default roles in the application. When you enable provisioning with Salesforce at that time we will sync all the custom roles which you have created in Salesforce and bring them to Azure AD. So while assigning the application to users and groups you can use these roles.

Profiles are different in Salesforce and we are n

[2018-08-09 17:57] jeevansd commented on #13103
#please-close

[2018-08-09 17:58] Alberto-Vega-MSFT commented on #12769
Test

[2018-08-09 17:59] YutongTie-MSFT commented on #13099
@comeCU @CeciAc Glad to hear your problem solved! Thanks for feedback here. I am closing the issue, please feel free to reopen it if you have further issues.

[2018-08-09 17:59] #13099 closed

[2018-08-09 18:00] MichaelHauss commented on #13151
Submitted a PR to clarify.

[2018-08-09 18:01] HeidiSteen commented on #13130
I appreciate the feedback, but this tutorial depends on preview features that aren't in the portal.  The portal doesn't detect all of the fields, and thus none of the queries are going to run.

There is a note about the preview dependency at the start of the tutorial:

"This tutorial relies on JSON array support, which is currently a preview feature in Azure Search. It is not available in the port

[2018-08-09 18:05] jeevansd commented on #13025
@chetansriv for visibility.

[2018-08-09 18:06] HeidiSteen commented on #13128
Hello, thanks for posting, but the tutorial uses preview features that are not in the portal.

[2018-08-09 18:06] HeidiSteen commented on #13128
#please-close

[2018-08-09 18:07] KumudD commented on #7960
@andrewatfornax Thanks for your feedback! I have created a work item for this content update to address this gap in our content.

#please-close

[2018-08-09 18:07] HeidiSteen commented on #13130
#please-close

[2018-08-09 18:09] HeidiSteen commented on #13130
To address your concern about preview features, Blob indexing is generally available (non-preview), it's the array component that is still in preview.

[2018-08-09 18:10] tfitzmac commented on #9659
It sounds like this issue has been fixed. #please-close

[2018-08-09 18:11] jeevansd commented on #12931
#please-close

[2018-08-09 18:13] jeevansd commented on #12366
@chetansriv Please add this as a bug and assigned to me.

[2018-08-09 18:13] jeevansd commented on #12247
@chetansriv Please track this. Create a feature request for this.

[2018-08-09 18:14] roygara commented on #13127
Hello @SychevIgor , just wanted to let you know we're looking into this. Thanks for bringing this to our attention. :)

[2018-08-09 18:16] Karishma-Tiwari-MSFT commented on #13159
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 18:16] Karishma-Tiwari-MSFT commented on #13156
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 18:16] toenie23 commented on #8176
@kflili were you able to find a workaround for this?

[2018-08-09 18:16] Karishma-Tiwari-MSFT commented on #13141
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 18:17] TravisCragg-MSFT commented on #13137
@Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-09 18:17] Karishma-Tiwari-MSFT commented on #13140
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 18:17] jeevansd commented on #11912
@chetansriv Please track this.

[2018-08-09 18:18] Karishma-Tiwari-MSFT commented on #13138
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 18:18] jeevansd commented on #11911
#please-close This is a duplicate item.

[2018-08-09 18:26] MicahMcKittrick-MSFT commented on #13134
When you connect to a SF cluster you are required to have the correct certificate associated to access the cluster. What this sentence means is ensure you are connecting from a local PC that has the correct cert and permissions to actually access and modify the cluster.

[2018-08-09 18:27] MicahMcKittrick-MSFT commented on #13136
@RokitSalad this is the certificate that is stored on your local machine that allows you to access the cluster

[2018-08-09 18:29] jeevansd commented on #10734
@chetansriv Please track this.

[2018-08-09 18:30] rajbos commented on #12769
#please-close

[2018-08-09 18:30] #12769 closed

[2018-08-09 18:31] jeevansd commented on #10643
@chetansriv Please make this change and confirm with YouEarnedIt team.

[2018-08-09 18:32] rifuller opened #13172 "Very Complex First Example"
I'm evaluating multiple options for our view storage and SQL Data Warehouse is on that list.  This is a very complex introduction tutorial.  I'm looking to understand what is the benefit of investing in that additional complexity for powering views vs just a database with a separate Spark application to compute aggregate over time on the streaming dataset?

PS. This is just some general feedback t

[2018-08-09 18:33] jeevansd commented on #10435
@swettstein OpenID Connect integration is not supported yet.
#please-close

[2018-08-09 18:33] jeevansd commented on #10122
@chetansriv Can you please test this app again?

[2018-08-09 18:35] jason-j-MSFT commented on #13115
@nicolaszhang
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 18:35] jeevansd commented on #10053
@RichardClarkeDW Yes, we do support this scenario using Azure AD Provisioning service. So please configure Provisioning with Salesforce app and then you can deprovision or provision the users.

[2018-08-09 18:35] inputoutputcode commented on #12149
Sure, you're absolutely right. Thanks.

[2018-08-09 18:35] #12149 closed

[2018-08-09 18:35] jeevansd commented on #10053
#please-close

[2018-08-09 18:36] jeevansd commented on #9663
@chetansriv Can you please verify that we need the Reply URL here?

[2018-08-09 18:36] jason-j-MSFT commented on #13116
@zaalion
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 18:38] RichardClarkeDW commented on #10053
Does deprovision just mean SSO fails as the AD user is not in the group, or does it also mean the Salesforce user record is updated to inactive license status?

[2018-08-09 18:38] #10053 closed

[2018-08-09 18:39] veyalla commented on #12965
@treedust
Can you share the edge daemon config.yaml and device deployment.json for your system?

[2018-08-09 18:40] jeevansd commented on #9556
@danielodievich We have fixed the Issue #2 here.
For issue #1: We don't need the Reply URL configuration in Azure AD because anyways you are sending that value in the SAML request and we are using that.
For issue #3: We will add the SAML JIT support sentence here. But as a standard practice we mention on how to create the users in the application.

[2018-08-09 18:41] jeevansd commented on #9556
@danielodievich Update: Issue #2 and #3 are fixed in the article now.
#please-close

[2018-08-09 18:41] jeevansd commented on #8990
#please-close

[2018-08-09 18:43] jeevansd commented on #8685
@pgarm This is mentioned in the step #6. Can you please look at the article again?

Thanks.

[2018-08-09 18:43] jeevansd commented on #8685
#please-close

[2018-08-09 18:44] jeevansd commented on #8624
@wbvreeuwijk Article is updated with the instructions now.
Thanks.

[2018-08-09 18:44] jeevansd commented on #8624
#please-close

[2018-08-09 18:45] jeevansd commented on #8409
@chetansriv Can you please do the follow up?

[2018-08-09 18:46] danielodievich commented on #9556
Thank you for fixes.

[2018-08-09 18:46] #9556 closed

[2018-08-09 18:46] jeevansd commented on #8137
@mrmodolo  and @khccjp  We have fixed this now.
#please-close

[2018-08-09 18:46] jeevansd commented on #8137
#please-close

[2018-08-09 18:47] jeevansd commented on #6939
@chetansriv Once the article is updated then you can close this.

[2018-08-09 18:51] swettstein commented on #10435
whoa. sorry i missed this message. here is a Microsoft article with the four certificates: https://blogs.technet.microsoft.com/kv/2017/04/20/azure-tls-certificates-changes/

@jeevansd do you have a link on OpenID Connect integration not being supported?

[2018-08-09 18:52] jeevansd commented on #10053
@RichardClarkeDW We will disable the user as you disable or delete the user in Azure AD. Then after 30 days we rename the user with zzz_nameoftheuser because you cannot delete the user in Salesforce.

[2018-08-09 18:53] jeevansd commented on #10435
AWS is offering OpenID Connect integration as IDP and not in SP mode. Also with SAML now you can achieve the session lifetime etc which you cannot do it from OIDC.

[2018-08-09 19:04] mrdfuse commented on #12753
Hi, it's not that I want to be difficult, but the last article is also not about enabling master logs analytics in AKS. Both health metrics ánd container instance logging are different things then enabling the aggregation of the master logs in AKS: https://docs.microsoft.com/en-us/azure/aks/view-master-logs.

[2018-08-09 19:07] Mike-Ubezzi-MSFT commented on #13153
@DoyleJOfTexas Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 19:08] Mike-Ubezzi-MSFT commented on #13172
@rifuller Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 19:10] JDLouie opened #13173 "Barracuda CloudGen Firewalls"
Are the Barracuda CloudGen Firewalls supported for Azure site-to-site VPNs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [About VPN devices for cross-premises Azure connections](https://docs.microsoft.com/en

[2018-08-09 19:12] yushwang commented on #13173
@JDLouie - Please contact Barracuda - we published our validated device makes and models based on the information vendors provided and the validations we performed.

Thanks,
Yushun

[2018-08-09 19:13] sanjaiganesh opened #13174 "Love it!"
A nice quick way get your hands dirty with Azure. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1acd3de-471c-d954-af1a-62f7fc440370
* Version Independent ID: 84549c67-6733-e861-6ec9-aab9f248a406
* Content: [Build a serverless web app in Azure](https://docs.microsoft.com/en-us/azure/functions/tutorial-static-w

[2018-08-09 19:13] yushwang commented on #13173
#please-close

[2018-08-09 19:13] #13174 closed

[2018-08-09 19:17] ggailey777 commented on #13174
Are we tracking positive comments on topics?

[2018-08-09 19:17] fhryo-msft commented on #13145
Hi, Wei,

Do you have any idea about the error? It’s weird to me that it’s failed to convert value to same data type.

Best regards,
Francis

From: Sam Boutros <notifications@github.com>
Sent: Thursday, August 9, 2018 6:00 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Francis Yu <fryu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Get

[2018-08-09 19:35] abgreg opened #13175 "How to determine result of deployment"
I'm using the Azure CLI in Cloud Shell to deploy a zip file. When I run the command, it appears to succeed (see below), but I don't see an update to the function app.

Is there some place I can monitor the deployment and see whether/why it failed?

I tried the log_url and url links from the CLI output and didn't see anything valuable (log_url = 404 page, url = empty page).

PS Azure:\&gt; az funct

[2018-08-09 19:41] Mike-Ubezzi-MSFT commented on #13121
@kazshi Please take a look at the following documentation: [Connecting to a read-only replica](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out#connecting-to-a-read-only-replica)
The connection string contains a parameter `ApplicationIntent` that determines the behavior.

When you enable Read Scale-Out for a database, the `ApplicationIntent` option in the connection

[2018-08-09 19:42] MohitGargMSFT commented on #11975
@BartJocque As per update from our Service Team below is the information we got -

[2018-08-09 19:42] sethmanheim commented on #12487
@BryanTrach-MSFT Please assign to @ShubhaVijayasarathy

[2018-08-09 19:43] sethmanheim commented on #12411
@jason-j-MSFT Please assign to @ShubhaVijayasarathy.

[2018-08-09 19:44] sethmanheim commented on #11722
@TravisCragg-MSFT Please assign to @ShubhaVijayasarathy.

[2018-08-09 19:44] sethmanheim commented on #11602
@amjad-Alhusseini Please assign to @ShubhaVijayasarathy.

[2018-08-09 19:44] sethmanheim commented on #11481
@vasivara-MSFT Please assign to @ShubhaVijayasarathy.

[2018-08-09 19:45] sachinpMSFT commented on #13153
Can you assign this to carlrab instead ?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, August 9, 2018 12:07:47 PM
To: MicrosoftDocs/azure-docs
Cc: Sachin Phadke; Assign
Subject: Re: [MicrosoftDocs/azure-docs] DTU vs eDTU (#13153)

Assigned #13153<https://na01.safelinks.protection.outlook.com/?url=https%3A%2

[2018-08-09 19:45] sethmanheim commented on #11000
@vasivara-MSFT Please assign to @ShubhaVijayasarathy.

[2018-08-09 19:46] sethmanheim commented on #9482
@vasivara-MSFT Please assign to @ShubhaVijayasarathy.

[2018-08-09 19:47] Karishma-Tiwari-MSFT commented on #13175
Thanks for the feedback! We are investigating and will update you shortly.

[2018-08-09 19:47] MohitGargMSFT commented on #13022
@Shahramjds We will now proceed to close this thread. Please open a new issue with requested information and we will gladly continue the discussion.

[2018-08-09 19:47] #13022 closed

[2018-08-09 19:48] SnehaGunda commented on #13017
#please-close

[2018-08-09 19:50] pakshi commented on #10953
+1 on the comment.
It is still not fixed.
The driver seem to be available here: https://jira.apache.org/jira/browse/HADOOP-15407

But there is still no documentation on how to use the patches that are available on the jira. My guess is that we would just have to compile to byte code and convert to jar. How about Java version? 8?

[2018-08-09 19:50] jason-j-MSFT commented on #13169
@jdobrzen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 19:50] lastcoolnameleft opened #13176 "Fix error in NODE_RESOURCE_GROUP:"
NOTE:  I tried to submit a PR for this issue, but Github kept giving 500 errors.

Proposed change:
[code]

On a Mac, the command provided to get NODE_RESOURCE_GROUP doesn't work as expected.  This replacement uses the Azure CLI's native --query option to parse out the data needed, thus producing a more reliable reliable output:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-08-09 19:52] mike-urnun-msft commented on #13126
Hi @MunozVictor Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-09 19:56] pakshi opened #13178 "Download ABFS Driver from here:"
You can get the driver from this link
https://jira.apache.org/jira/browse/HADOOP-15407

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ca909b0-2d80-ca90-52d4-c3d7958040d9
* Version Independent ID: b5c888da-ff2e-7fc2-3c36-e0eb22132932
* Content: [The Azure Blob Filesystem driver for Azure Data Lake Storage Gen2 Preview]

[2018-08-09 19:57] jason-j-MSFT commented on #13167
@jdobrzen I believe what you are looking for is here:
https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/export-delete-experimentation-model-management-data-dsr#delete-from-the-model-management-service

Closing this issue for now, but let us know if you have additional feedback for this document.

[2018-08-09 19:58] ecfan commented on #13096
@MikeAinOz Hi Mike, thanks for your feedback! The side navigation isn't scrolling, possibly because the list is very long. We'd have to shorten the list somehow. What would you think about bucketing the functions in some way? Or include some kind of navigation grouping at the top of the article?

[2018-08-09 20:03] MicahMcKittrick-MSFT commented on #13174
@sanjaiganesh thanks for the feedback!

@ggailey777 yes we are! We use the "Kudos" tag :)

[2018-08-09 20:04] JDLouie commented on #13173
Hi Yu,

I've already contacted Barracuda. I'm trying to help Microsoft keep this document up to date, since it is a document that I would refer customers to. The answer I received from Barracuda's website chat support was that the NextGen was rebranded to CloudGen, and I understand that is a very unofficial answer. I'm trying to accomplish an edit/revision to this document that includes CloudGen,

[2018-08-09 20:08] vthokie93 commented on #12453
@douglasMS @djpmsft I am sorry I didn't eliminate this possibility earlier, but I had another member of my team try to create the event and the dropdown populated for them.  So it appears that it is just my account.  If you still want to investigate I am fully willing to assist in any way I can, just let me know how I can get my personal contact information to you.  If you don't want to investigat

[2018-08-09 20:14] #13128 closed

[2018-08-09 20:16] #13130 closed

[2018-08-09 20:16] jdobrzen commented on #13169
I actually found this shortly after submitting the issue.

https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-cli-reference

[2018-08-09 20:17] #13169 closed

[2018-08-09 20:18] mike-urnun-msft commented on #13133
@SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-09 20:18] Karishma-Tiwari-MSFT commented on #13176
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 20:19] mike-urnun-msft commented on #13135
@SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-09 20:22] SidShetye opened #13179 "Details for "Modernize your existing Cloud Services applications by migrating to Service Fabric Mesh" needed"
The overview lists this as a main benefit:

Can you please document this as a detailed how-to guide starting from an existing cloud service?

In addition, please

1. compare pros-cons of the two services' in a section
2. address how to install certificates to the certificate store in Service Fabric Mesh (e.g. Cloud Service addresses this very clearly)

Thank you

---
#### Document Details

⚠ *Do n

[2018-08-09 20:27] femsulu commented on #13118
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-09 20:27] yushwang commented on #13173
@JDLouie - the process is that we still need Barracuda to provide us the definitive answer. I'll see if I can reach out to them from my side.

[2018-08-09 20:27] vbadri commented on #13044
Sergaz,
Digging into this further, the repeated error message for the module I created based on the tutorial is below.  Note that the errors occur in the line `await iotHubModuleClient.OpenAsync()`.  I haven't looked at what is in that method. For what it is worth, the failure occurs in the same method for my actual C# module where I first observed the problem. Note that I'm creating the module cl

[2018-08-09 20:32] ranjanp opened #13180 "batchCount property"
batchcount is missing from foreach documentation, please add

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633f2967-1c61-51de-5787-a6ca7ac5bdae
* Version Independent ID: d2862926-36d8-4e84-0c93-afdef9e373e2
* Content: [ForEach activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-

[2018-08-09 20:36] ranjanp commented on #13180
Add another row to Type properties with something like the following:

batchCount
Batch count to be used for controlling the number of parallel execution (when isSequential is set to false).
integer
No

[2018-08-09 20:39] TomArcher commented on #6183
#please-close

[2018-08-09 20:40] TravisCragg-MSFT commented on #13152
@mahonc3 have you verified that the computer you are using to get the metadata has network connectivity to the ADFS Deployment, and has the proper certificates to communicate?

also, were you able to successfully pull the metadata endpoint?

[2018-08-09 20:41] TravisCragg-MSFT commented on #9822
@Powerhelmsman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 20:41] #9822 closed

[2018-08-09 20:42] TravisCragg-MSFT commented on #7960
@andrewatfornax We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 20:42] #7960 closed

[2018-08-09 20:44] TravisCragg-MSFT commented on #13131
@chhavi-1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 20:44] #13131 closed

[2018-08-09 20:48] MarileeTurscak-MSFT commented on #13161
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-09 20:48] MarileeTurscak-MSFT commented on #13157
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-09 20:48] MarileeTurscak-MSFT commented on #13144
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-09 20:49] MarileeTurscak-MSFT commented on #13143
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-09 20:52] BrainSlugs83 commented on #12971
So, I don't have a separate Azure SDK installed (when I try to install one it just redirects me to the installer for VS 2017) -- I am running VS 2017 Enterprise 15.7.5.

In the help about box, it reads:
[code]
Could it be related to the "Microsoft Azure Tools 2.9" version? -- If so, how do I update that? -- There didn't seem to be an option in Visual Studio (and as I've noted before, it's not obvi

[2018-08-09 20:52] TravisCragg-MSFT commented on #13173
@JDLouie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-09 20:52] #13173 closed

[2018-08-09 20:57] gsimardnet opened #13182 "Rules about daylight saving time (DST)"
Suppose I set WEBSITE_TIME_ZONE="Eastern Standard Time", how will the following CRON expressions be evaluated when Eastern Daylight Time (EDT) fall back to Eastern Standard Time (EST) ?

"0 */20 * * * *" : Will it run every 20 minutes and repeat schedules that ran at 1am ?
  2018-11-04 00:00EDT  (2018-11-04 04:00UTC)
  2018-11-04 00:20EDT  (2018-11-04 04:20UTC)
  2018-11-04 00:40EDT  (2018-11-04 0

[2018-08-09 20:58] MohitGargMSFT commented on #13074
@KjetilEVRY I understand your conce4rn. So when new version of AD Connect Health Agent was released to address high cpu issue, auto upgrade didn't happen for AD Connect agent health service installed in ADFS/WAP/DC VMs and you have to take manual action to do it even when auto upgrade setting is turned on. I will assign to content author to further investigate and clarify on it.

[2018-08-09 21:00] mahonc3 commented on #13152
@TravisCragg-MSFT Thank you for looking into this. Yes, the computer we are using has network connectivity to the  ADFS and the PEP for this activity. However, this is no valid SSL trust between the org ADFS and the Azure Stack internal ADFS. We don't believe this to be a requirement though.

Instead of pulling the metadata from the endpoint, we are following the alternate steps to supply the meta

[2018-08-09 21:03] ericbl commented on #13158
Thanks for the quick reply.
Yes, we would like to have one team member working on the review, but without the risk that he can edit  the rest of the model.
A sub kind of Collaborator role with very restricted right would be the easiest way.

We are also evaluating the Dispatch Tool, but we don't see it as an answer for the current issue, since the reviewer would still be able to damage a sub part

[2018-08-09 21:10] zhiweiwangmsft commented on #13074
@KjetilEVRY which agent are you referring to? By mentioning DCs I assume you refer to Connect Health for **ADDS** agent. Both Connect Health for ADFS and ADDS agent was released on June to fix the high CPU issue. The fix should already apply to your ADDS agent through auto upgrade by the end of June. the release typically take less than a week to cover every customer.
If you mean Connect Health fo

[2018-08-09 21:10] MohitGargMSFT commented on #13084
@mohdabdulhameed542 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-09 21:10] #13084 closed

[2018-08-09 21:13] femsulu commented on #13119
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

adding @ Tyson as the feedback is largely related to general doc experience and usability.

[2018-08-09 21:14] BryanTrach-MSFT commented on #12846
@skalinets Yes the scenario that you presented is indeed correct.

[2018-08-09 21:15] adamferman commented on #7392
I too am getting the error : "unable to determine hardware version. I see hardware BCM2835". I have tried several different Raspberry Pi devices. Is there an updated sample which looks for the correct HW for RPI3B?

[2018-08-09 21:17] davegreen commented on #10957
@R0chen - This is something I have also run into a lot with the Workday to AD connection over the last few months. From what I have seen, lookup attributes (like manager) generally cause the difficult to diagnose errors like this. I haven't used a lot of expressions as it's sometimes hard to tell whether they are working as I expect for exactly the reasons you describe (leading to my request for s

[2018-08-09 21:17] femsulu commented on #13123
@jstpldev Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-09 21:19] jason-j-MSFT commented on #13179
@SidShetye
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 21:26] MohitGargMSFT commented on #13143
@ssflynn77 Yes, you must be able to do it through Azure Security Center.

[2018-08-09 21:28] MohitGargMSFT commented on #13161
@PhlashGBG Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-09 21:32] jason-j-MSFT commented on #13160
@Sara-Nicolini do you know where this should go?

[2018-08-09 21:35] SnehaGunda commented on #12292
#please-close

[2018-08-09 21:35] Adam-Smith-MSFT commented on #13178
@pakshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 21:39] TravisCragg-MSFT commented on #13152
@ChrisMahon-DellEMC I am glad that you were able to resolve your issue, but it sounds like the documentation is not correct for this step.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 21:40] abdulmgster opened #13183 "Query on MSAL and ACS login"
I read the below article. In my application, I have used MSAL authentication. This application link is added to website which uses ACS authentication.
When I login to website which uses ACS authentication, clicking on my application on this site,  again asking for login. I would like single sing-on, user should not asked to again login for my application. How to create sync between ACS authenticat

[2018-08-09 21:43] jason-j-MSFT commented on #13162
@kilasuit thanks for the feedback.  For more visibility, you might post an item here so the community can upvote it:
https://feedback.azure.com/forums/34192--general-feedback

[2018-08-09 21:43] #13162 closed

[2018-08-09 21:45] rolyon commented on #13120
Hi,
Thanks for bringing this to my attention. I'll check into this.
#in-progress

[2018-08-09 21:45] femsulu commented on #13149
@osminm Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-09 21:45] GuSoder opened #13185 "Web deployment task failed"
in the step "Create and publish the web app", when I hit create, the wizard does not finish, and I get the following error in the error list:
--------------------------------------------------------------------------
Web deployment task failed. (The type initializer for 'Microsoft.Web.Deployment.DeploymentManager' threw an exception.)
---------------------------------------------------------------

[2018-08-09 21:46] femsulu commented on #13155
@scarpentier Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-09 21:47] femsulu commented on #13170
@msilinda Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-09 21:48] jason-j-MSFT commented on #13148
@SychevIgor I don't know who to send this issue to as it's not in this repo, but I will investigate.

[2018-08-09 21:50] vbadri commented on #13044
No luck, my module still crashes, whichever protocol I use. Takes about 4-5 minutes to crash though.. Not sure what's going on, but it's consistently with the same function call to instantiate the ModuleClient object

[2018-08-09 21:51] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 Thanks for sharing the details.
1. Did you try adding the following snippet to your .ccproj file and checked if that solved your problem of suppressing the warnings?
[code]
2. To get the latest Azure SDK:  The Azure SDK components are included as part of the Web and Azure roles in Visual Studio 2017. If you continue to update your VS instance when new updates are available, you will

[2018-08-09 21:51] jason-j-MSFT commented on #13148
@spelluru, @steelanddata, @hellosnow, do you know where to send an issue regarding the REST API docs or who I could reach out to?

[2018-08-09 21:56] Karishma-Tiwari-MSFT commented on #13179
@SidShetye Thanks for your valuable feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-09 21:57] jason-j-MSFT commented on #13180
@ranjanp
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-09 21:58] sakthivetrivel commented on #13176
Thanks! I'll be sure to update the document.

[2018-08-09 21:58] sakthivetrivel commented on #13176
@lastcoolnameleft

[2018-08-09 21:58] #6183 closed

[2018-08-09 21:58] #7514 closed

[2018-08-09 21:58] #8137 closed

[2018-08-09 21:58] #8624 closed

[2018-08-09 21:59] #8685 closed

[2018-08-09 21:59] #8990 closed

[2018-08-09 21:59] #9659 closed

[2018-08-09 22:00] #11618 closed

[2018-08-09 22:08] ssflynn77 commented on #13143
Could you please direct me to documentation on how to setup JIT for VMSS (Virtual Machine Scale Sets)?  Everything that I'm seeing is for only Virtual Machines.

Link to VMSS overview.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/

[2018-08-09 22:12] lqdev commented on #13140
@mmacy Thanks Marsh! That helps.

[2018-08-09 22:17] Mike-Ubezzi-MSFT commented on #12292
@Maggern3 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-09 22:17] #12292 closed

[2018-08-09 22:18] treedust commented on #12965
1. From a fresh 2018-06-27-raspbian-stretch-lite image install using etcher.io

1. the following is run/edited on the Raspi 3 B+ for azure iot edge general access platform set up:

[code]

3. editing /etc/iotedge/config.ymal to have connection string. the <> are blacked out areas:

[code]

4. No deployment targeting device.

5. `hostname` outputs `raspberrypi`

6. running `sudo systemctl restart i

[2018-08-09 22:35] YutongTie-MSFT commented on #13163
@noellelacharite Hi, can you please check this doc-enhancement issue here and update the document as necessary? Thanks a lot!

[2018-08-09 22:36] MicahMcKittrick-MSFT commented on #13156
@rcarmo is there something in this specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.

I have ran through this doc and it appears to work as written. Can you elaborate if you think something should be changed?

Else, if you are looking for help with debugging performance issues I would s

[2018-08-09 22:39] MarileeTurscak-MSFT commented on #13157
What do you mean? As the article states, you can use Set-ADSyncAutoUpgrade and set the upgrades to Enable. This will force an auto update whenever a new upgrade is released. There are three ways to set an upgrade: automatic upgrade, which upgrades your system whenever a new feature is released; in-place upgrade, which involves upgrading the installation in-place on the same server; and swing upgra

[2018-08-09 22:39] switj opened #13187 "broken link "Control access to IoT Hub""
this is the link:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security.md
it should be:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6a79113-78a2-8c05-6d5c-533aa818157e
* Version Independent ID: 2a1bfa63-2a98-a1bf-d0f2-cf967

[2018-08-09 22:40] MicahMcKittrick-MSFT commented on #13115
@nicolaszhang we have a guide already on what sizes are supported in Batch

https://docs.microsoft.com/en-us/azure/batch/batch-pool-vm-sizes

Essentially all series are supported with only a few exceptions which you can read from the above link.

[2018-08-09 22:44] #13141 closed

[2018-08-09 22:46] YutongTie-MSFT commented on #13046
@andrewwself  Hi, I just move this issue to the BotBuilder repo so that we can get better help. Please keep eyes on it.
https://github.com/Microsoft/BotBuilder-CognitiveServices/issues/132

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-09 22:46] #13046 closed

[2018-08-09 22:46] #13140 closed

[2018-08-09 22:46] MarileeTurscak-MSFT commented on #13168
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-09 22:49] MicahMcKittrick-MSFT commented on #13182
Thanks for the question! We are investigating and will update you shortly.

[2018-08-09 22:50] andrewwself commented on #13046
Thank you!

[2018-08-09 22:51] MicahMcKittrick-MSFT commented on #12753
@iainfoulds are you aware of a way to enable these specific logs via CLI? I am not finding any specific documentation on it

[2018-08-09 22:53] MicahMcKittrick-MSFT commented on #13183
@abdulmgster please provide us with the link to the documentation you are referring to

[2018-08-09 22:56] rhemmi commented on #5045
I am dealing with the same issue as above. As pointed out, when running the "$Setting = Get-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property Displa
yName -Value "Group.Unified" -EQ).id" command I am told that I cannot bind to the parameter "Id" because it is null.

I attempted to run any of the commands under the "Set the naming policy and custom blocked words" which all

[2018-08-09 22:56] sabareeshkkanan commented on #5286
@vhorne any update ?

[2018-08-09 22:57] SaurabhSharma-MSFT commented on #13108
@ccassagnol Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.  Can you try the CloudShell on Azure Portal for running and creating MSI's for now ?

@daveba  I have AzureRM version 6.6.0 installed in my PC however, I am also not able to use the Install-Module command and it is throwing same error.  However, when I am able

[2018-08-09 22:59] ShubhaVijayasarathy commented on #11722
@bidyut1990 - there is no limit on the partition. A single partition can do at least 1 TU. This is the reason, we recommend to do 1:1 mapping with the number of TUs to the partitions. The charge is on the number of TUs you purchase and only ingress is charged. Although we do not charge your egress, we do not let you egress more than two times your purchased TUs.

[2018-08-09 23:00] TomArcher commented on #8796
@ktm I apologize for just getting to this now. The Jenkins solution has changed since this Issue was opened, and I'm unable to reproduce the errors. Are you still experiencing the error?

[2018-08-09 23:01] mboldisc opened #13188 "More Detail Please"
Could you please provide more detail on how to override "CreationTimeUtc" using standard Python MQTT in your example?  It seems like the payload is always stamped with server received timestamp (not when the original event was created).

Also, if a hub has more than one device connected to it, is there a way to specify other "ConnectionDeviceId"/"ConnectionDeviceGenerationId" properties?  For exam

[2018-08-09 23:02] fhryo-msft commented on #13147
@sambsamb, what version are you using of Azure powershell module?

[2018-08-09 23:03] SaurabhSharma-MSFT commented on #13139
@waheedhussain Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-09 23:04] yairt1974 commented on #13137
Azure Firewall public preview supports the link to the internet and spoke to spoke communication. We haven't tested hybrid links for public preview and are working to tentatively certify this scenario for GA.

[2018-08-09 23:05] eugen-nw opened #13189 "The "Power BI adapter" option is not working"
Namely, no data is imported from App Insights.  I configured the app to the specs, in Azure I made sure that configured user can see both the App Insights resource and the Log Analytics queries, yet there is no data in the corresponding Power BI Dashboard.  Manually refreshing the underlying Dataset is successful on each invocation.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-08-09 23:05] SaurabhSharma-MSFT commented on #13139
@waheedhussain Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-09 23:07] CarlRabeler commented on #13153
@DoyleJOfTexas thank you for pointing this out - PR to fix is pending - https://github.com/MicrosoftDocs/azure-docs-pr/pull/48691

FYI - you can also edit yourself by clicking Edit in the upper right of the document.
This fix should be live by 10 AM Seattle time tomorrow

[2018-08-09 23:08] #9912 closed

[2018-08-09 23:08] #9950 closed

[2018-08-09 23:10] veyalla commented on #12965
Thanks for the details @treedust!

You are fine until step 8. From there, please follow instructions from https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#deploy-a-module and let me know if it works.

[2018-08-09 23:11] #11624 closed

[2018-08-09 23:11] #11698 closed

[2018-08-09 23:12] #11911 closed

[2018-08-09 23:12] #12361 closed

[2018-08-09 23:18] Sara-Nicolini commented on #13160
@jason-j-MSFT, it should be assigned to the writing team in order to see if the content recommended by the Japanese customer can be incorporated in our documentation.

[2018-08-09 23:20] SaurabhSharma-MSFT commented on #13168
@jchenbb Please refer to document [JSON Web Token claim set](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-claims-mapping#table-1-json-web-token-jwt-restricted-claim-set) to get the list of claims.

[2018-08-09 23:37] Ayanmullick opened #13190 "Can SQL 'Backup Encryption' be done without TDE thru Azure Backup?"
Can the 'SQL Server in Azure VM' backup policy be configured to leverage the SQL 2016 'Backup Encryption' feature to encrypt only the .bak file without having to use TDE to encrypt the entire database like the SQLIaaSExtension can?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Ve

[2018-08-09 23:38] MohitGargMSFT commented on #13143
@ssflynn77 I got a confirmation stating that ACS team is currently developing VMSS scenarios. It currently not available. Please upvote the above feedback or
open a need feedback for JIT support of VMSS through ACS @ https://feedback.azure.com/forums/347535-azure-security-center/. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give P

[2018-08-09 23:40] sakthivetrivel commented on #13176
@lastcoolnameleft Thank you for the feedback!

[2018-08-09 23:40] Karishma-Tiwari-MSFT commented on #13138
@michal-staniszewski

@roygara  I am not finding any specific documentation on it. Are you aware of any specific doc on creating new unmanaged disk on storage account and attaching it to VM, _using Powershell_?

[2018-08-09 23:43] mrbullwinkle commented on #13189
@eugen-nw thank you for bringing this to our attention, and sorry to hear this isn't working.

How many days worth of data does your application have in App Insights? (I ask because I was testing this functionality today with a brand new app and had a similar experience with no data showing up in PowerBI. The PowerBI Integration won't start picking up data for about 24 hours in a new app because o

[2018-08-09 23:56] BryanTrach-MSFT commented on #13185
@GuSoder Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-09 23:56] EmilyNamugaanyi commented on #11753
That is the route we eventually took. We were just wondering whether why
the annotation worked and then stopped. it is now clear it did not work at
all.

On Fri, Aug 10, 2018 at 3:12 AM Micah <notifications@github.com> wrote:

[2018-08-09 23:57] TomArcher commented on #9331
@sanjaysahu1984 @MicahMcKittrick-MSFT I apologize for just now getting to this. I just ran through the steps again without any problems. Are you still seeing this problem? If so, could you provide me with the exact steps (and options selected) you performed?

[2018-08-09 23:59] jeevansd commented on #12581
This application is already listed in the gallery now.
#please-close

[2018-08-10 00:00] chetansriv commented on #12669
Changes are done.

#please-close

[2018-08-10 00:01] eugen-nw commented on #13189
Thanks very much for your prompt response!  The App Insights resource in question has been up for months now.  The query as you've sent it returns no records.  However, if I comment out this line,
[code]
it returns one value.

[2018-08-10 00:04] eugen-nw commented on #13189
I was logged into Azure as the exact same user I used at the time I setup the Application Insights Power BI App.

[2018-08-10 00:08] mrbullwinkle commented on #13189
Happy to help. What happens from a number of results perspective if you comment out these lines in the query as well:

[code]

[2018-08-10 00:11] chetansriv commented on #12935
Changes are done

#please-close

[2018-08-10 00:13] chetansriv commented on #11912
Changes are done

#Please-close

[2018-08-10 00:33] pacoffey opened #13192 "OMS Move to Azure"
I have used the interface of both and I like OMS better. It is easier to display browser dashboards that can put up on screens throughout Operations Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c04951f-ef92-c32f-50b7-ee33119531cf
* Version Independent ID: e0003350-d744-6c2e-efb5-9e83b3549612
* Content: [OMS

[2018-08-10 00:39] simonua commented on #13151
@MichaelHauss, I may be closer but still not quite there. I created CDN profile to a custom origin endpoint, but I get a 404 when pulling up the `azureedge.net` URL.

![image](https://user-images.githubusercontent.com/8005145/43932596-f694c62e-9c12-11e8-8e6c-47ae2f30be90.png)

Perhaps I need to wait until your PR is complete?

[2018-08-10 00:39] fhryo-msft commented on #13145
@Sambsamb , what version are you using of Azure powershell module?

[2018-08-10 00:42] SnehaGunda commented on #12911
@grzlyD I sent a followup email to your thread.

[2018-08-10 00:42] kazshi commented on #13121
@Mike-Ubezzi-MSFT  Thank you, Mike. I understand "If the ApplicationIntent value is ReadOnly, the connection is routed to a readable replica." in the content you mentioned, and I found that "If you are connecting to the geo-replicated secondary database with read-scale enabled, your sessions with ApplicationIntent=ReadOnly will be routed to **one of the replicas** ..." in [Using Read Scale-Out wit

[2018-08-10 00:46] TiloGit commented on #13157
@jaycenornin you read my mind.  yes we need something like a new cmdlet to force an auto-update. Not just enable and wait for it to occur at some point.

[2018-08-10 00:59] simonua commented on #13151
Disregard, please. The CDN, both on azureedge.net as well as our custom domain, is working now It was a timing thing. Patience is a virtue. Our cert for https should be live on that endpoint in a few hours as well.

Thank you, @MichaelHauss! I'll leave it to you to close this issue when your documentation PR goes through.

[2018-08-10 01:04] simonua opened #13193 "Resource Case-Sensitivity in URLs"
Something worthwhile to reiterate in this documentation may be that when switching from App Services, IIS, etc. to Blob Storage Static Websites, one should be aware that blob storage is case-sensitive, which will result in 404s for resources that are not requested in the proper case. That's a good smoking gun to check when encountering 404s.

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-10 01:16] dcbrown16 opened #13194 "Update domains and scale sets"
This doc says:
"(Resource Manager deployments can then be increased to provide up to 20 update domains)"
First, how is this done? I don't see a portal setting, nor a parameter to change this for Update-AzureRmAvailabilitySet.
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/update-azurermavailabilityset?view=azurermps-6.6.0
If it can only be specified at creation with New-AzureRm

[2018-08-10 01:48] BryanTrach-MSFT commented on #12930
@mortenbock Do you have an update for us? We look forward to your reply.

[2018-08-10 01:48] MicahMcKittrick-MSFT commented on #13194
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-10 02:13] jason-j-MSFT commented on #13160
@gosali could you provide a link to the document you are referring to?

[2018-08-10 02:13] #12574 closed

[2018-08-10 02:13] #12876 closed

[2018-08-10 02:14] #12921 closed

[2018-08-10 02:14] #12931 closed

[2018-08-10 02:14] #13017 closed

[2018-08-10 02:14] #13031 closed

[2018-08-10 02:14] #13091 closed

[2018-08-10 02:14] #13103 closed

[2018-08-10 02:18] rameshjanjyam opened #13195 "how to configure the storage account's diagnostics logs using an arm template. can you please point me to any doc on that info"
how to configure the storage account's diagnostics logs using an arm template

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [How to monitor an Azure Storage account](https://docs.microsoft.com/en-us/azure/sto

[2018-08-10 02:34] tamram commented on #13195
@craigshoemaker - FYI

[2018-08-10 02:45] waynemsft commented on #13137
Hi,

Another questions is about the AzureFirewallSubnet subnet.
I saw a limitation on the subnet - it must contain at least 128  IP addresses (i.e., /25).
May I know the reason/consideration for this limitation?
Thank you.

[2018-08-10 02:52] nicolaszhang commented on #13115
But that link doesn't mentioned which VM type is supported to run CONTAINERIZED workload in batch, for example I don't think Standard_B8ms VM pool can be used to run Windows container workload in batch. So, could you please elaborate on that? Specially, in my scenario, I'd like to run Windows container with/without hyper-v in Azure Batch VM.

[2018-08-10 02:54] MikeAinOz commented on #13096
@ecfan Hi Esther. Thanks for your response. This appears to be the primary reference for the Workflow Definition Language in Azure Logic Apps. This means that it needs to be easily accessible and well organized. I think bucketing the functions is the way to go as well as some keywords, if possible. Functional type buckets Like:
* Text
* Date Time
* Logical
* Conversion
* Collection
* Workflow
* Ma

[2018-08-10 03:01] dcbrown16 opened #13196 "Update BGP setting"
"The Disable BGP route propagation option prevents on-premises routes from being propagated via BGP to the network interfaces in any subnet that the route table is associated to. If your virtual network is not connected to an Azure network gateway (VPN or ExpressRoute), leave the option Disabled."

The current Azure portal UI names this setting "BGP route propagation" with the options Disabled/Ena

[2018-08-10 03:05] femsulu commented on #12423
@romanliv We will now close this issue but happy to continue the conversation via the email - details shared in previous comment.

[2018-08-10 03:05] #12423 closed

[2018-08-10 03:06] dcbrown16 commented on #13120
@rolyon here's another strange page:
https://docs.microsoft.com/en-us/azure/virtual-network/manage-route-table#create-a-route-table

There is a useless scrollbar on the body pane.
When scrolling with the mouse wheel on any page, the left-hand ToC navigation is very jittery, which I don't recall being the case before. IIRC, I could smoothly scroll through any pane (ToC, body, headings) without the

[2018-08-10 03:07] femsulu commented on #12966
Hi @thuansoldier, please let me know if this is still an issue?

[2018-08-10 03:10] femsulu commented on #12984
@msvijayn any insights on the followup question posted by @mganeshphani?

[2018-08-10 03:17] thuansoldier commented on #12966
The article is writing specific to Networking. Service Bus is not supposed to be in this category personally.

[2018-08-10 03:28] femsulu commented on #13123
@jstpldev thanks for the feedback. we reviewed the sentence you highlighted confirm it is grammatically correct although the way you suggested works as well. the important piece here to note is that either way, the intent of the sentence holds. thanks again for sharing. we will now close this issue.

[2018-08-10 03:28] #13123 closed

[2018-08-10 03:39] rolyon commented on #13120
Hi @dcbrown16
I see some jitter in Firefox and Edge. Chrome seems to be mostly smooth.
I don't see an extra scrollbar. Which browser and OS are you using?

[2018-08-10 03:40] sodafatty opened #13197 "Can't find 'Enable Sentiment Analysis.'"
After publishing my app, I can't find 'Enable Sentiment Analysis.' option in the 'Publish' page. Are there any settings I need to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38408714-a973-877d-0773-8ddf5c8eea1f
* Version Independent ID: a594e769-2de8-418a-f261-0cdf486d5208
* Content: [Tutorial to create a LUIS a

[2018-08-10 03:52] nicolaszhang opened #13198 "is there any way to auto-delete those terminated container instance?"
I'm running task based workload, and each time a container instance is created for a task, and there are more and more Terminated container instances in the container group, but since the limit of container instance is 60 in one container group, is there any way to auto-delete those task based workload instance after it's terminated? Further, since for windows container 1 container group can only

[2018-08-10 04:00] patrickjlee opened #13199 "Please could the example be made a bit more realistic? (Same data is written to warehouse/Capture directly to SQL database?)"
Thanks, this was an interesting tutorial. I would have preferred it if the example was a bit more realistic: at the moment, the data that is transferred to the transferred to the data warehouse (effectively an Azure SQL database) is identical to the data that is written (via the Event Hub's Capture setting) to Azure storage blob files. There seems little point to this, and indeed it raises the que

[2018-08-10 04:00] lachie83 commented on #11753
@EmilyNamugaanyi - Can you kindly confirm where you read that this annotation triggered the behavior you are describing and witnessed working on Azure? In the digging I've done - Kelsey Hightower specifically calls out that this annotation only works on GCP and GKE using their ingress controller. See https://github.com/kelseyhightower/ingress-with-static-ip#tldr

[2018-08-10 04:01] ToMakeSense commented on #9912
@tfitzmac good news! it works as expected now.
[code]
however, I think snippet below in Visual Studio needs to be fixed.

[2018-08-10 04:04] prara06 opened #13200 "Document to have example code of update resource groups tags while retaining existing tags."
You have given example code for "To apply all tags from a resource group to its resources, and retain existing tags on resources that are not duplicates"... We need the same for resource group level and subscription level as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc8-10ac-e633-5640cff3c397
* Ver

[2018-08-10 04:23] CHDAFNI-MSFT opened #13201 "Instructions for OMS Log Analytics"
There are instructions in this article for retrieving the data from a storage account... how about from Log Analytics since that is a supported platform to send the diagnostics logs to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d797fa9d-3a8c-6775-978d-c4e9420872c2
* Version Independent ID: 8770fb75-b8fd-af32-10a8-5

[2018-08-10 04:26] Li-Yanzhi opened #13202 "No "Access Points" in azds list-up output"
When running "azds list-up" CLI, there is no "Access Points" column, just 5 columns of "Name | DevSpaces | Type | Updated | Status"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84640735-75c0-096c-9469-e00fedcf147c
* Version Independent ID: a0eb682d-2d3e-aa86-049f-b24647b347b9
* Content: [Team development with Azure D

[2018-08-10 04:40] jonwbstr opened #13203 "Registering the NPS server on an AAD:DS Directory fails?"
In the section, "Configure NPS on the server where the NPS extension is installed"
When I right-click NPS (Local), and then click Register server in Active Directory, the operation fails with the following error:
"The task was not completed. You may not have sufficient privileges in the protectedtrust.com domain to perform this task."

Looking for a solution that works for Azure Active Directory:

[2018-08-10 04:42] jonwbstr opened #13204 "Where is the Network Policy Configured?"
For more clarity step 1 should read:
1. On the NPS Server, open the NPS (Local) console, expand Policies, and click Network Policies.

Configure Network Policy
Recall that the NPS server with the Azure MFA extension is the designated central policy store for the Connection Authorization Policy (CAP). Therefore, you need to implement a CAP on the NPS server to authorize valid connections requests.

[2018-08-10 04:43] TomArcher commented on #7111
@mike-pt Thanks for the issue! The feature team is working on this, and I've updated the article.

[2018-08-10 04:44] veyalla commented on #12992
@ko5win Like I mentioned this is not a recommended or supported form of deploying the edge daemon. It may be used for dev and test scenarios. You might need to switch to http based daemon communication, try running the following shell script as the docker ENTRYPOINT:
[code]
...and start the container using:
[code]

[2018-08-10 04:51] rajawilliams opened #13205 "A way to get a specific amount of images?"
Is there a way to get a specific amount of images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b43a111-8bde-8bf3-d4ad-66d07b493e9b
* Version Independent ID: d8afef31-a935-f263-4d41-b93127324112
* Content: [Call and response - Java Quickstart for Azure Cognitive Services, Bing Image Search API](https://docs.microsof

[2018-08-10 04:58] KeiroKamioka0000 opened #13206 "Add FAQ for "Can managed and unmanaged disks can change name?""
If this was in faq, it helps.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Content: [Frequently asked questions (FAQ) about Azure IaaS Windows VM disks](https://docs.microsoft.com/en-us/azure/virtual-machine

[2018-08-10 05:16] dcbrown16 commented on #13120
@rolyon I tried this again and the scrollbar does seem to be gone...I'll let you know if I run into it again in a reproducible fashion.
I'm on Windows 10.0.17134, using Edge mostly but also Chrome.
I did verify that Chrome doesn't have the jitter as well.
Thanks!

[2018-08-10 05:35] R0chen commented on #10957
Hi @davegreen,

thank for this info. I will ask my MS connections related to the AAD program also about this behavior and including the fact that I am not the only one experiencing this....

#DareToAsk: my PowerShell capabilities are not advanced. Is it possible to share the part how to query the Workday API?

Thank you in advance,
Rochen

[2018-08-10 05:52] SarithaMaran commented on #13122
- I tried compiling module on an Arm device, its working fine. Just wanted to know if you provide any extension in VS Code that would make particular environment and cross compile it from VS Code itself.
- If not then please mention exact steps in documentation for different architectures.

[2018-08-10 06:09] msvijayn commented on #12984
@mganeshphani "ContainsAny": null is basically equivalent to wildcard * selection. For example, if you want to create an alert for any operation in Administrative category - you can use ` "field": "category", "equals": "Administrative", "containsAny": null }` which is equivalent to (in UI):
![image](https://user-images.githubusercontent.com/33087919/43941509-0c5c600a-9c92-11e8-9df3-c72d939a2daf.pn

[2018-08-10 06:25] TravisCragg-MSFT commented on #13201
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 06:29] TravisCragg-MSFT commented on #13196
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 06:29] SychevIgor commented on #13128
@HeidiSteen could you point me to a moment in a guide, where used preview feature? we did everything from this guide via portal without any problems.

[2018-08-10 06:30] EmmaZhu commented on #13145
@Sambsamb
Could you share the script of how you get this variable: `$_` ?
Can you run `Get-Module` and share the output to us?

[2018-08-10 06:49] Blackbaud-RajRaulji commented on #10382
Hi,

I have a cosmosdb instance using mongo API. In this db, I have a sharded collection. I am wondering, if aggregation pipeline is supported on a sharded collection?

[2018-08-10 07:09] transdigiware opened #13208 "*active-directory*"
[Ketikkan umpan balik di sini]

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: 042912e8-9a79-02b6-fc12-fd20ff0ee4d1
* Version Independent ID: d7d3fcec-4e05-d2c1-bf9d-c8f8f6ade8a2
* Content: [Azure MFA Server or Service, On-premises or in the cloud?](https://docs.microsoft.com/id-id/azure/active-directory/authentication/con

[2018-08-10 07:35] dcbrown16 commented on #6327
Would this be @LisandroSu ?

[2018-08-10 07:36] dcbrown16 commented on #6261
@MohitGargMSFT nobody is assigned to this issue, please check. Thanks!

[2018-08-10 07:37] dcbrown16 commented on #9519
@sharonlo101 any update here? Thanks.

[2018-08-10 07:40] dcbrown16 commented on #13120
#13119 is the other place I reported this.

[2018-08-10 07:42] rcarmo commented on #13156
Well, if you want to narrow down the scope to close the issue, feel free to circumscribe yourself to the lack of ability to configure the reverse proxy (which isn’t documented). If not, kindly point me to a repo where I can file an actual engineering issue that can be followed up on.

[2018-08-10 07:55] elena20ruiz commented on #13062
Hello @YutongTie-MSFT! I discovered that you can implement QnA + LUIS in two different ways. One is referenced in this documentation, and as @vivekjainAco said it would be very helpful have it in Node.js because I spent days to find Node.js functions. But it will also help show the example that you can connect Qna+LUIS at the same level.

Thanks :D

[2018-08-10 08:16] meghalv opened #13212 "How to move VMs between 2 different subscriptions using portal?"
It is not document how to move VMs. Also it is not documented what are the options to move resources if we get error like "Resources cannot be moved from disabled subscriptions." Why does Azure not allow to move resources from Free Trial subscription once it is inactive after a month?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-08-10 08:28] linda33wj commented on #12899
@LlamaX Azure IR is indeed supported for MySQL. I've fixed the connector support matrix to reflect the same. https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats Sorry for the confusion and thanks for the brought it up.

#please-close

[2018-08-10 08:32] linda33wj commented on #12356
@dataangler the option is there in the copy data tool wizard. Maybe a bit hidden but in the page listing all Cosmos DB collections, under the data preview there is another section which contains this option.

![image](https://user-images.githubusercontent.com/7919535/43947515-e654dbc0-9cba-11e8-80ef-01a1daf162be.png)

#please-close

[2018-08-10 08:39] placetobejohan commented on #13125
Paragraph: Make non-breaking changes to your revision. I used it as the title for my comment so it should probably be changed then.

[2018-08-10 08:41] cocosnuss commented on #12763
It does occur with both simulated and real sensor data. I also tested the MQTT Protocol but the connection also stopped after 30 minutes. At the moment I suspect that it has something to do with my wifi. I'll test another wifi network on the weekend and let you know if there's something wrong.

[2018-08-10 09:04] onlyutkarsh opened #13214 "Nested template modes cannot be deployed in "Complete" mode"
Hello, I observe that linked templates cannot be deployed in "Complete" mode. You get "Specified deployment mode 'Complete' is not supported for nested deployment" error. The documentation needs to highlight this limitation and it will be great to explain why its not allowed. We love nested templates, but without "Complete" mode, we are left to clean the obsolete resources for ourselves.

---
####

[2018-08-10 09:05] #12899 closed

[2018-08-10 09:06] humer opened #13215 "how to push function app settings"
hello.
please advise if there is a possibility to publish Application settings trough a zip deploy?
I couldn't find and json available in kudu and the only possibilities are to publish though the portal or via azure cli, which is not an option of our CICD deployment scenario
thank you

[2018-08-10 09:08] LlamaX commented on #12899
Thanks for updating it  👍

[2018-08-10 09:10] TymWongPSNinja commented on #12743
@paulkel no problem and thanks for clarifying. As you said VNet peering is still a good option. Using ER in this way would still cost as I would need to deploy an ER gateway in each VNet. Also VNet peering may be faster as it wouldn't be limited by the ER Gateway performance.

[2018-08-10 09:31] cocosnuss commented on #12763
When using the MQTT protocol the errors differ a Little bit. At the beginning I get the following errrors, but after that the messages still get send (I removed the time and path to make it easier to read):

Info: Attempting to connect to SSID: myWifiNetwork
Info: Connected to wifi myWifiNetwork
Info: Fetched NTP epoch time is: 1533890645
Error: [...]\Arduino\libraries\AzureIoTUtility\src\adapters

[2018-08-10 09:33] skalinets commented on #12846
thanks!

[2018-08-10 09:42] jkrollin opened #13217 "Difficult to understand how suggesters work"
Taken a couple days but finally managed to work out how to actually add a suggester to my .Net application. The documents for the suggester are not very helpful when it comes to adding a suggester to your index. The only thing you inform us of is you cant create suggesters on an existing index, but zero explanation of how to actualy create one (well that i could find anyways). The only examples we

[2018-08-10 09:54] BartJocque commented on #11975
Hi,

Thanks for you answer.

I do understand that firewall and proxy policies are the primary means to block access to consumer services.

However, we have opened 0365 access as per MS recommendation ( https://support.content.office.net/en-us/static/O365IPAddresses.xml ) , and there is no distinction in that list between corporate and consumer services.
How can we know what services are needed for

[2018-08-10 10:25] kyyung opened #13218 "Apache Spark in Azure HDInsight can also connect to Cosmos DB"
Can I assume Apache Spark in Azure HDInsight can also connect to Cosmos DB using the same connector although the whole document does not mention it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c77b390-e483-d7d4-3ea8-813a296c9e89
* Version Independent ID: 3b1e6865-894e-9958-3e6d-4b04bf40e892
* Content: [Connect Apac

[2018-08-10 10:38] abainbridge opened #13219 "I think the testpmd command lines are wrong"
For example, where it says:
testpmd -w &lt;pci address from previous step&gt; \
  --vdev="net_vdev_netvsc0,iface=eth1" \
  -i \
  --port-topology=chained

It should say:
testpmd -w &lt;pci address from previous step&gt; \
  --vdev="net_vdev_netvsc0,iface=eth1" \
  -- -i \
  --port-topology=chained

I think all the testpmd command lines are missing the " -- " parameter.

---
#### Document Details

[2018-08-10 10:40] MikkelHegn commented on #12074
On Windows10 you need to call the backend servce using servicename.appname as the DNS address. Windows10 has some limited dns query support for containers in Hyper-v. Using service.appname would also work when publishing to Mesh.

[2018-08-10 11:34] StigSH opened #13220 "Problems with loading packages"
I am trying to install the 'forecast' package, however there are a few dependencies.
Amongsth the dependencies are the packages 'Rcpp' and 'ggplot2' which seems to be working fine in newer versions of R.
As it stands I have tried installing previous versions of the packages, only available as .tar.gz files and trying to implement a newer version of R.

Following your guide with a zip file of the R

[2018-08-10 11:42] kilasuit commented on #13162
@jason-j-MSFT - unless you've actually fixed this issue and that all the docs have had the details listed then I don't think this issue can be closed as the issue still stands

As the Docs live here on GitHub then raising this issue here is the right place for it to be raised.

[2018-08-10 11:53] ToMakeSense opened #13221 "Get incorrect api-version value for LogicApp Trigger CallbackUrl through powershell command"
Through powershell command [Get-AzureRmLogicAppTriggerCallbackUrl](https://docs.microsoft.com/en-us/powershell/module/azurerm.logicapp/get-azurermlogicapptriggercallbackurl), I will get an URL like:
[https://prod-50.westeurope.logic.azure.com:443/workflows/XXXXXXXXXXXXXX/triggers/manual/paths/invoke?api-version=**2016-06-01**&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XXXXXXXXXXXXX]()

but check it

[2018-08-10 11:58] VaanPan opened #13222 "Operation Timeout after deployed to SF Mesh"
After deployed by my SF Mesh, I get public http://40.114.67.218:20008/  .

If I access this endpoint, there is operation timeout exception. It looks like WebFrontEnd service cannot contact to backend ToDoService by port 20001

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d144f2b-a0a4-d8cd-d6b0-7ca75d4890fc
* Version

[2018-08-10 12:03] ToMakeSense commented on #13215
your can try with arm template, you can find it in the **siteConfig** section
[code]

[2018-08-10 12:34] CHDAFNI-MSFT opened #13223 "Add pre-req - Add 'OMS connector' from Optional Features"
The document section "Add an OMS connection to Connection Manager' assumes that the OMS connector has already been installed. Please add a pre-req (or under the Add an OMS connection section) that it needs to be first installed by following https://docs.microsoft.com/en-us/sccm/core/servers/manage/install-in-console-updates#bkmk_options

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-08-10 12:37] VaanPan commented on #13222
In Azure SF Mesh, the WebFrontEnd and ToDoService demo never works with operation timeout exception.

I find after deployed on Azure, ‘ServiceName’ environment variable (defined in FrontEndWeb service,yaml) becomes value ‘webfrontend’ by some unknown reason. I am 100% sure this value is 'ToDoService' in my local debug environment and file content.

It looks like this variable will be covered by Az

[2018-08-10 12:43] diberry commented on #13197
@sodafatty Thank you for taking the time to ask this question. Can you take a screen shot, save it to OneDrive or another storage provider as public and add a link to it here? #in-progress

[2018-08-10 12:53] VaanPan opened #13224 "helpless"
Just give some JSON files is really hard to understand service fabric Mesh scale operation.

1. User needs to know how to scale their application but not just example application.
2. How to build this JSON template? There is no command to export current application. It's difficult to build it manually.
3. In production scenario, customer's most possible operation is just change microservice count.

[2018-08-10 12:59] dominicbetts commented on #13187
I've submitted a PR to fix this. Thanks for pointing it out.

[2018-08-10 13:02] kilasuit commented on #13162
This issue should be seen as an *overarching* problem issue where this will allow the community to see missing pages and likely add pages for others to be able to look at adding any needed samples

[2018-08-10 13:04] kilasuit commented on #13162
Also created feedback as per request - https://feedback.azure.com/forums/34192--general-feedback/suggestions/35078128-ensure-all-documents-that-have-az-cli-examples-als

[2018-08-10 13:09] sergaz-msft commented on #13199
@patrickjlee Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 13:29] gsimardnet commented on #13182
DST rules can be tricky. Most business would agree that the first expression should not skip any schedule (we want to run every 20 minutes.. always). But the second expression should run only one time at 1:30EDT and skip 1:30EST

[2018-08-10 13:42] sergaz-msft commented on #13188
Thank you for your feedback @mboldisc .

You can read the following [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#receiving-cloud-to-device-messages):

![image](https://user-images.githubusercontent.com/22173500/43960666-a451d580-9caa-11e8-9966-5bc6af9baa83.png)

Because ["CreationTimeUtc" is a system property](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-dev

[2018-08-10 13:46] Sambsamb commented on #13147
@fhryo-msft 5.1.2
![image](https://user-images.githubusercontent.com/8533726/43961168-31ccff80-9c82-11e8-842b-ed5fed285bc3.png)

[2018-08-10 13:47] Sambsamb commented on #13145
@fhryo-msft  5.1.2
![image](https://user-images.githubusercontent.com/8533726/43961248-65a82500-9c82-11e8-92f2-56f9abb5da8c.png)

[2018-08-10 13:53] Sambsamb commented on #13145
@EmmaZhu

Script source is at https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-container-calculate-billing-size-powershell

![image](https://user-images.githubusercontent.com/8533726/43961408-e6672100-9c82-11e8-8506-cd46321df986.png)

![image](https://user-images.githubusercontent.com/8533726/43961450-039bef80-9c83-11e8-8635-404bca6cbeec.png)

[2018-08-10 14:15] aiden56 opened #13226 "Differences between the storage emulator and Azure Storage missing"
At the moment, Azure Storage supports a maximum blob length of 1024 characters, however the emulator supports significantly less (around 256). This is either missing from the documentation or a bug in the emulator. The following recreates the issue:

$ctx = New-AzureStorageContext -Local
$cname = "containername"
New-AzureStorageContainer $cname -Permission Container -Context $ctx

# Works
$blobNam

[2018-08-10 14:16] humer commented on #13215
that's indeed an option, and we're using that at environment creation stage. What about changing them at deployment ?

in any .net (core/framework) app you just have an appsettings.json/web.config file that contains all the details.
Is there something similar to that approach?

thank you
Sergiu

[2018-08-10 14:19] TomArcher commented on #7111
#please-close as this is no longer a doc issue. I've added an alert to the doc, and mike-pt (the OP of this GitHub Issue) has created a GitHub Issue in the Ansible repo for the product team to fix. https://github.com/ansible/ansible/pull/43929

[2018-08-10 14:19] artisticcheese opened #13227 "Hosting section seems to be missing PruneContainerImages"
For example I can not see setting called `PruneContainerImages` and `ContainerImagesToSkip` which are available for Hosting in cluster configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Independent ID: 429e2d0f-d5da-8972-2890-52081eee3330
* Content: [Change Azur

[2018-08-10 14:23] tpmeredith opened #13228 "Plan for Flow Support?"
Hi,
I checked the roadmap but didn't see it mentioned anywhere. Is there any plans to integrate Speech Service with Microsoft Flow? I know I've seen dozens of users post online the last year asking for this, and considering much of the billing for SS is done by the minute MS could make a lot more money with speech service if it was integrated to flow. For example we have all of our company voicema

[2018-08-10 14:30] ermacia91 opened #13229 "Crucial recommendations missing from our docs"
There a sepcial note that should be made before enabling SAML for Workday: if you enable it, no one will be able to sign in, no matter what. A workaround in case you are locked out because of an incorrect setup step:

Backup URL: Workday provides a backup log-in url where users can sign-in using their normal username and password in the following format: [Your Workday URL]/login.flex?redirect=n

-

[2018-08-10 14:31] sergaz-msft commented on #12763
This seems a good test to perform. I would also recommend that you double check that you have all the latest versions of libraries necessary to run this sample + the latest firmware bits installed on your board.

Thank you! I will wait for more news after you do the tests.

[2018-08-10 14:36] sergaz-msft commented on #12982
@AndyLiTaiwan Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-10 14:36] #12982 closed

[2018-08-10 14:48] sergaz-msft commented on #13044
@vbadri because this channel is to support the documented tutorial exactly as it is, I can't dive into troubleshooting your specific scenario if it falls out of the tutorial: [Create a Linux IoT Edge device that acts as a transparent gateway](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux#certificate-creation).

Please clarify what is the step on this tutor

[2018-08-10 14:50] sergaz-msft commented on #13055
Hello @tymtam2 did you have a chance to test the solution proposed? Thanks!

[2018-08-10 14:51] aolszowka commented on #13087
We spent a lot of time digging on this for the past two days in addition to fixing up our Firewall it appears that we needed to apply this fix to several of our Windows 7 Clients as well: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-rm-ps#tls1

I needed to apply the listed registry keys (the hotfixes were already installed).

This information should be linked

[2018-08-10 14:55] ecfan commented on #13096
@MikeAinOz Hi Mike, thanks for your suggestions! The parent Workflow Definition Language topic includes a similar grouping for functions, so what do you think about repurposing those buckets for the functions article?

https://docs.microsoft.com/azure/logic-apps/logic-apps-workflow-definition-language#functions

[2018-08-10 15:13] chris-weck opened #13230 "Install-Module -Name "MSOnline" not working"
PS C:\Program Files\Microsoft\AzureMfa\Config&gt; .\AzureMfaNpsExtnConfigSetup.ps1
VERBOSE: Using the provider 'PowerShellGet' for searching packages.
VERBOSE: The -Repository parameter was not specified.  PowerShellGet will use all of the registered repositories.
VERBOSE: Getting the provider object for the PackageManagement Provider 'NuGet'.
VERBOSE: The specified Location is 'https://www.powers

[2018-08-10 15:14] jchenbb commented on #13168
Thanks for the pointer.  Specifically I'm looking for clarification on the values of the aud and appid claims. We observed from the graph api access token the aud claim is "https://graph.microsoft.com" and the appid claim carries the client app id. From an access token for a registered third party resource though, the aud claim has the app id and there is no app id claim.

Would like to see elabor

[2018-08-10 15:14] maltefiala opened #13231 "amsSPPassword not used"
`amsSPPassword=mediasppassword` is not used in the script.

Patch:

--- az.sh	2018-08-10 17:10:58.594767468 +0200
+++ az_new.sh	2018-08-10 17:11:21.271803224 +0200
@@ -31,6 +31,7 @@
 az ams account sp create \
   --account-name $amsAccountName \
   --name $amsSPName \
+  --password $amsSPPassword \
   --resource-group $resourceGroup \
   --role Owner \
   --xml \

Strings should be escaped as well

[2018-08-10 15:30] cwiederspan opened #13233 "Missing step...?"
One problem I ran into was that my docker didn't have my ACR registry set and logged in, so the "draft up" command was stuck on "pushing docker image" step. I fixed this by running "docker login &lt;myacr&gt;.azurecr.io -u &lt;myacr&gt;-p &lt;key from ACR&gt;". Perhaps a note or pointer in on this page could call that out?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-10 15:32] JeremyTBradshaw commented on #13092
@SaurabhSharma-MSFT  Thanks for the response.  So step #6 seems to convey some kind of significance with down-level Windows (pre-10) and the Intranet site settings that are carried out for enabling Seamless SSO.  But your answers sort of confirm, the Intranet site settings should be carried out for both down-level (pre-10) AND Windows 10.

I guess I'm confused why there is mention of it here, and

[2018-08-10 15:36] treedust commented on #12965
@veyalla it has not. It runs for a short while, followed by the initial. I can make this occur much quicker (within minutes) by editing the `container create options`. Example is: `"Volumes":{"/volume/name":{}}` in `container create options` would create a volume a week ago in v2 but now v2 through issues related to `500 Internal Server Error` that is `caused by: Container runtime error` and have

[2018-08-10 15:38] mcollis2 opened #13235 "Policy Alias for Storage Account Public Setting"
Hi,  There is a specific property on storage account blob containers, namely:
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2018-02-01",
      "name": "[concat(variables('accountName'), '/default/', variables('containerName')]",
      "dependsOn": [
        "[variables('accountName')]"
      ],
      "properties":{
          "publicAccess":"N

[2018-08-10 15:42] lhengi opened #13236 "How do you log out?"
After logging the user, I have no idea how to log them out. I tried everything I can find on the stack overflow, still can't log them out. The log me out from my gmail account of google.com but not my app.

[2018-08-10 15:46] Adam-Smith-MSFT commented on #13226
@aiden56 You're right about the emulator, based on Gaurav's answer [here](https://stackoverflow.com/questions/6756214/what-is-the-maximum-length-of-an-azure-blob-name), it supports around 256 characters. I'll assign this to the doc author to check if it would be possible to include a section for it.

[2018-08-10 15:48] Adam-Smith-MSFT commented on #13195
@rameshjanjyam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 15:49] Adam-Smith-MSFT commented on #13193
@simonua Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 15:50] xocolatl-aficionado opened #13237 "TypeError: Invalid value for redirectUrl.The URL must be valid and be https://"
I ran through the whole tutorial whose return URL is
 `returnURL: 'http://localhost:3000/auth/openid/return'` and even added` allowHttpForRedirectUrl: true` to the config.js file. Still gives me the same error. Does not work with localhost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b1fba4-870b-1602-0d4f-6f50bdbf

[2018-08-10 15:50] Adam-Smith-MSFT commented on #13190
@Ayanmullick Thank you for the valuable feedback,we are investigating the issue.

[2018-08-10 15:56] eugen-nw commented on #13189
Same story, it returns United States and a count of 2.  Please note that this is not some website that has worldwide exposure, but REST services that are indeed accessed from within the US and by a limited number of users.

[2018-08-10 16:00] sreenivasmr commented on #11705
Is this resolved? I still get this error and not able to use the helm on AKS. I guess it is an issue of very high priority.

[2018-08-10 16:02] vhorne commented on #13137
@waynemsft
That's so that there are enough addresses available for auto-scaling to work.

[2018-08-10 16:04] FernandoPavani commented on #12226
@BryanTrach-MSFT Is there any update about this issue?

[2018-08-10 16:06] HeidiSteen commented on #13128
I only got the metadata and none of the fields.  If you compare what Import Data Wizard gives you for an index, vs the Create Index command in the tutorial, you'll see that the indexes are radically different.  It's the JSON array function that gives you all those extra fields: Gender, MaximumAge, Summary, etc.

[2018-08-10 16:08] HeidiSteen commented on #13128
I'll check into the status of the JSON array function to see if its close to GA.

[2018-08-10 16:16] thinkfarahead commented on #10341
I'm trying to redirect the user back to the app after the OAuth finishes. The Azure's documentation on this subject is very poor.  I'm trying to add a AndroidManifest.xml to the res/native/android folder in the Apache Cordova Tools project. I figured I need to add "myapp://easyauth.callback" to metadata & map the redirect with an "intent-filter". Could you point me to the right syntax/method of do

[2018-08-10 16:25] daveba commented on #13108
@ccassagnol @SaurabhSharma-MSFT I will investigate with the engineering team and update when I have an answer.

[2018-08-10 16:28] RenaShahMSFT commented on #10857
@Adam-Smith-MSFT - This has been addressed - Can we please close this?

[2018-08-10 16:38] Karishma-Tiwari-MSFT commented on #13198
Thanks for the question. We are currently investigating and will update you shortly.

[2018-08-10 16:39] Karishma-Tiwari-MSFT commented on #13206
Thanks for the feedback. We are currently investigating and will update you shortly.

[2018-08-10 16:42] DCtheGeek commented on #13235
@mcollis2 Thanks for the question!  The process for requesting an alias for Azure Policy is here: https://github.com/Azure/azure-policy/blob/master/1-contribution-guide/request-alias.md. Once you've followed those steps, the team will review and evaluate the request.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close, label as 'product-question', and assign to me.  Thanks!

[2018-08-10 16:43] Karishma-Tiwari-MSFT commented on #13227
Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 16:43] dasch88 opened #13239 ""Customize Actions" isn't visible for classic or new monitor alerts"
This issue is essentially what was originally reported in https://github.com/MicrosoftDocs/azure-docs/issues/5695, but it looks like the "Customize Actions" section is no longer available in either the classic or the new alerts in the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c310132b-22c6-8d12-8986-

[2018-08-10 16:44] djpmsft commented on #12453
@vthokie93 @douglaslMS Since this issue is not reproducible with other users and a workaround has been found, we can close the ticket. If another similar incident surfaces, I will investigate more

[2018-08-10 16:45] Mike-Ubezzi-MSFT commented on #13218
@kyyung Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-10 16:45] Karishma-Tiwari-MSFT commented on #13233
Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 16:45] laxmanrb commented on #13219
Added "--" for all testpmd commands in the second revision. You should be able to see it on the latest document. Let us know if you still see them missing.

[2018-08-10 16:54] veyalla commented on #12965
@treedust Could you please clarify what state you are trying to achieve on the system? Few points:

1. You mentioned something about ML modules in a previous reply. This won't work on a Raspberry Pi as the Azure ML modules are currently only supported on Linux X64. This is documented in the [article](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-machine-learning).

2. If you are

[2018-08-10 16:56] MicahMcKittrick-MSFT commented on #13115
As per the link I shared none of the B series work in Batch.

![image](https://user-images.githubusercontent.com/32313503/43970793-90e20582-9c83-11e8-810d-ce95e48b6785.png)

Running a containerized VM in batch does not depend on the node size. Apart from the resources allocated.

You can pick any of the VM sizes in the link I shared and then you just use one of the following marketplace images

-

[2018-08-10 16:58] MicahMcKittrick-MSFT commented on #13156
I will follow up with you offline.

[2018-08-10 16:58] #13156 closed

[2018-08-10 17:02] #13235 closed

[2018-08-10 17:05] dlepow commented on #13115
@nicolaszhang - Just chiming in here. In addition to the VM sizes article Micah mentioned, for Windows container workloads specifically the following statement is included in the documentation: "For Windows container workloads, it's recommended to choose a multicore VM size for your pool". For recommendations for your particular scenario, you could also reach out to the askwabatch alias (since you

[2018-08-10 17:09] vbadri commented on #13044
@Sergaz,  I certainly did not see the problem before I tried to set up transparent gateway operation, but
I'm not sure if it has anything to do with the transparent gateway setup in this doc. So I'm ok with closing the issue here, if you can suggest who else I should ask. I opened up an issue on stackoverflow as well.

[2018-08-10 17:10] roy-satadru opened #13241 "ARM template example for Application Gateway with a custom probe"
I'm deploying an application gateway from an ARM template and I need to configure a custom probe but I cannot find any examples which show how to configure and attach a custom probe in the template. Do you have any examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7fd67fe-e62d-a98a-6a56-60c6ac374af0
* Version I

[2018-08-10 17:10] LisandroSu opened #13242 "Change Feed를 정밀하게 사용하기에는 설명이 너무 부족하다."
@wayne-kim commented on [Fri Aug 10 2018](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/214)

모든 피드를 받는 건 쉽게 합니다. 하지만 특정 파티션에 대해서 피드만 받으려고하니까. 방법을 찾을 수 없습니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194fd1ce2e8
* Content: [Azure Cosmos DB에서 변경 피드 지원 사용]

[2018-08-10 17:12] LisandroSu commented on #13242
Hi team,

The user says that they can't find a way to receive feeds for certain partitions, not all of them and that they couldn't find a way to do so.

Thanks!

[2018-08-10 17:16] jdobrzen commented on #13167
@jason-j-MSFT

I can use the API to delete everything except models? I can successfully delete images and manifests, but the same call delete a model does not work? I also do not receive an error message indicating that the API call was incorrect?

[2018-08-10 17:18] jason-j-MSFT commented on #13215
@humer could you provide a link to the document you are referencing?  This repository is for focused documentation feedback.  You might try to ask your question in the forums here:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazurewebsitespreview

[2018-08-10 17:25] MGoedtel commented on #13223
@CHDAFNI-MSFT - The sentence following the list under Configuration Overview, references the ConfigMgr article covering the details on integrating ConfigMgr with Log Analytics, which is intended to have the reader review that before proceeding.  I'll move it to Step 3 and re-word it accordingly.  I'm going to bug this now and see about resolving it as soon as I can.  Thanks for bringing this to my

[2018-08-10 17:27] MicahMcKittrick-MSFT commented on #13222
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-10 17:27] MicahMcKittrick-MSFT commented on #13224
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-10 17:27] jason-j-MSFT commented on #13221
@ToMakeSense are you referring to this document here:
https://docs.microsoft.com/en-us/powershell/module/azurerm.logicapp/get-azurermlogicapptriggercallbackurl?view=azurermps-6.6.0

[2018-08-10 17:28] MicahMcKittrick-MSFT commented on #13236
@lhengi please provide us with the documentation you are referring to

[2018-08-10 17:29] vladvino commented on #13125
Gotcha. Good point. Will fix. Thanks!

[2018-08-10 17:31] Mike-Ubezzi-MSFT commented on #10382
@Blackbaud-RajRaulji Please see the following Blog Post: [Azure #CosmosDB extends support for MongoDB aggregation pipeline, unique indexes, and more](https://azure.microsoft.com/en-us/blog/azure-cosmosdb-extends-support-for-mongodb-aggregation-pipeline-unique-indexes-and-more/)

Here is the announcement: [Azure Cosmos DB supports aggregate functions
](https://azure.microsoft.com/en-us/updates/azur

[2018-08-10 17:40] TravisCragg-MSFT commented on #12183
@dcbrown16 our content team has received the feedback and is evaluating the request. This will likely get updated in the future, but unfortunately I cannot give a timeline.

Thank you again for your feedback, it helps us provide great documentation!

[2018-08-10 17:40] MicahMcKittrick-MSFT commented on #13136
@RokitSalad I will close this for now. If you need more information just let us know and we can reopen and continue.

[2018-08-10 17:40] #13136 closed

[2018-08-10 17:41] MicahMcKittrick-MSFT commented on #13134
@RokitSalad I will close this for now. If you feel you need more information just let us know and we can reopen and continue.

[2018-08-10 17:41] #13134 closed

[2018-08-10 17:41] billmath commented on #13030
@KjetilEVRY Thank you for this issue.  I am following up with engineering and should have a better response shortly.  Thanks!

[2018-08-10 17:42] MicahMcKittrick-MSFT commented on #13159
@dcfsc I will close this for now. If you need more information just let me know and we can reopen and continue.

[2018-08-10 17:44] YutongTie-MSFT commented on #12919
@stenoid We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-10 17:44] #12919 closed

[2018-08-10 17:45] YutongTie-MSFT commented on #13088
@rbitia We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-10 17:45] #13088 closed

[2018-08-10 17:45] KjetilEVRY commented on #10410
The documentation is still not updated yet, when will it be updated?

[2018-08-10 17:45] SaurabhSharma-MSFT commented on #13203
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-10 17:46] MicahMcKittrick-MSFT commented on #9331
@TomArcher no worries :) I will check this again today and verify

[2018-08-10 17:52] SnehaGunda commented on #13218
@kyyung yes the same connector works with Azure HDInsight as well, we are recommending customers to use Databricks as the setup process is much easier. If you are interested in getting HDInsight samples and know the versions that are compatible with the Java libraries, please refer to the : https://github.com/Azure/azure-cosmosdb-spark/tree/master repo, there are some samples with HDInsight.

[2018-08-10 17:53] SaurabhSharma-MSFT commented on #13204
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-10 17:53] MohitGargMSFT commented on #11975
@BartJocque Please confirm if you already have support case open on this issue. If yes, that will be best place to further discuss this issue. We can also involve relevant service team contact in the support case.

[2018-08-10 17:55] MohitGargMSFT commented on #13143
@ssflynn77 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-10 17:55] #13143 closed

[2018-08-10 17:55] SaurabhSharma-MSFT commented on #13208
@transdigiware Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-10 17:56] SaurabhSharma-MSFT commented on #13229
@ermacia91 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-10 17:56] femsulu commented on #13200
@prara06 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-10 17:57] SaurabhSharma-MSFT commented on #13230
@chris-weck Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-10 17:58] femsulu commented on #13212
@meghalv Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-10 17:58] YutongTie-MSFT commented on #13205
@rajawilliams Thanks for your feedback, we will investigate it and get back to you later.

[2018-08-10 17:58] SaurabhSharma-MSFT commented on #13237
@xocolatl-aficionado Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-10 18:00] femsulu commented on #13214
@onlyutkarsh Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review..

[2018-08-10 18:01] femsulu commented on #13239
@dasch88

[2018-08-10 18:02] spelluru commented on #12692
Looping in the PM for DevTest Labs/Lab Services
@jkwon2013

[2018-08-10 18:07] jason-j-MSFT commented on #13162
@kilasuit I hear ya.  I upvoted your item and I see others have as well.  I think the feedback item is the better way to go about it, as you said the issue your bring up is very overarching.

[2018-08-10 18:09] aricbernard opened #13243 "Required switch updates"
The contents of this page implies that no switches changes will be required; however, updates to port configurations for the TOR and BMC switches will be required before an additional node will be seen on the network.  All ports not in use at the time of the initial scale unit deployment should be shutdown/disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-08-10 18:09] YutongTie-MSFT commented on #13228
@tpmeredith Thanks for your feedback here. I have assigned the author of this document to help.

@v-jerkin Hi, do you have any idea about the flow support? Thanks a lot!

[2018-08-10 18:09] jason-j-MSFT commented on #13167
@jdobrzen are you saying you did not receive a reply to the API call and the model did not delete?

[2018-08-10 18:10] mike-urnun-msft commented on #13231
@maltefiala Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-10 18:10] SaurabhSharma-MSFT commented on #13208
@transdigiware Can you please provide more information what exactly is your concern ?

[2018-08-10 18:11] SaurabhSharma-MSFT commented on #13092
@JeremyTBradshaw Sure. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-10 18:11] #13092 closed

[2018-08-10 18:13] LisandroSu opened #13244 "Schneller und einfacher Einstieg - aber dann keine weiter Hilfe :-("
@FrankPfattheicher commented on [Fri Aug 10 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/122)

Die Einrichtung ist schnell und einfach, das Ergebnis super.
Will man aber jetzt den internen Aufbau der Lösung erkunden ist keinerlei Hilfe/Dokumentation mehr vorhanden.
z.B.: Wo kann man das Dashboard anpassen???

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er

[2018-08-10 18:14] billmath commented on #10410
@KjetilEVRY I am still waiting to get some feedback.  But let me ask, when you installed it using an EA from the child domain, were you installing Azure AD Connect in the child domain or the root domain?  Thanks!

[2018-08-10 18:15] Zerryth opened #13245 ""HttpUtility does not exist in current context" Error"
When you copy the code snippet from Step 1., you may encounter a "HttpUtility does not exist in current context" error, even though you have the using System.Web; statement.

To fix this error, add the System.Web reference to your project (Solutions Explorer -&gt; right click References -&gt; Add Reference... -&gt; under Assemblies add System.Web

---
#### Document Details

⚠ *Do not edit this sec

[2018-08-10 18:16] LisandroSu commented on #13244
Hi team,

Can you please check on the issue reported by the user? They say that there isn't help or documentation regarding exploring the internal structure. Also they can't find anything about customizing the dashboard.

Thanks!

[2018-08-10 18:27] billmath commented on #10410
@KjetilEVRY Okay this is good info.  Let me see if I can't get engineering to move on this.

[2018-08-10 18:27] MicahMcKittrick-MSFT commented on #9331
@TomArcher I am no longer seeing this issue! Seems whatever the problem was is fixed now :)

I will close this out then :)

@sanjaysahu1984 if you are still seeing issues just let us know.

[2018-08-10 18:27] #9331 closed

[2018-08-10 18:30] jason-j-MSFT commented on #12991
@mamccrea we have a couple of reports of errors following this document, could you take a look?  Thanks!

[2018-08-10 18:30] jeevansd commented on #13229
@chetansriv This is a good input. Can we add this note to our article and also mention about this by pass URL?

[2018-08-10 18:33] kobulloc-MSFT commented on #13202
@Li-Yanzhi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-10 18:38] jdobrzen commented on #13167
I did receive a reply of OK from the API call, which is the same reply I received when deleting a manifest and image.  However, the model is still listed when making the API call to list the models and in the Model Management blade in the Azure portal.