[2020-11-30 12:02] #66767 closed

[2020-11-30 12:06] HarithaMaddi-MSFT commented on #66866
@kromerm - Can you please take a look and share your thoughts.

[2020-11-30 12:08] devedse commented on #28461
@Mike-Ubezzi-MSFT , would it be possible for you to connect me with some Microsoft people. I'm basically trying to deploy the whole solution through Terraform but there's so much issues I'm running into, for example:
1. Not able to deploy Azure Functions due to 503 errors
2. Azure Function deployments taking more then 60 minutes and then running into a timeout
3. The Azure Function runtime not wor

[2020-11-30 12:10] rusel1989 commented on #49245
Same here, no luck with F1 or B1, when upgraded to B2 it has started to work immediately.

[2020-11-30 12:24] tfv-waken opened #66878 "sbc-hc-token or bc-hc-token"
Should I use sbc-hc-token or bc-hc-token?
Really unclear to me what they are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4110ce-724a-79cc-6d71-6cd367d3fc1f
* Version Independent ID: 9f4bdf5c-945f-c7cc-778f-4ca7e81e04c1
* Content: [Azure Relay Hybrid Connections protocol guide - Azure Relay](https://docs.microsoft

[2020-11-30 12:26] jopgommans opened #66879 "Step 7: Adding groups, already exist in the default configuration, can be removed"
In step 7 adding a group claim is added. But when I select Bynder, that claim is already in the standard configuration. The article can be updated to reflect that (makes things easier 👍 ).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e13a2624-a104-2930-d893-034314ee7c3c
* Version Independent ID: 5a4d6071-9617-b2ce-b3

[2020-11-30 12:27] o-l-a-v opened #66880 "Azure DNS records cleared after subscription move; expected or undocumented?"
EDIT: Never mind, this was about CDN profile that used alias, not CNAME, to a azure resource, which broken after move.

A customer of ours is moving workload from EA to CSP. One of the resources they use and thus have to move, is Microsoft.Networking\dnszones.

After move to new subscription they noticed that the DNS records was cleared all together. Documentation says nothing about this, so that

[2020-11-30 12:35] o-l-a-v commented on #66880
EDIT: Never mind, this was about CDN profile that used alias, not CNAME, to a azure resource, which broken after move.

[2020-11-30 12:35] #66880 closed

[2020-11-30 12:37] MickBadran commented on #25357
Hey folks - I got this exact error and have been following this thread.
(I have hybrid Oracle on-prem)

For me 'the fix' was:

1) Enable staging on the copy shape (bring the data back to blob storage)
2) The 'server' originally was 'tcp:<server name>,1433:...'   (which is the way these connection strings are by default when looking under the Azure SQL DB -> Connection Strings option.

Changed this

[2020-11-30 12:51] SeppeDev opened #66881 "Suggested way to implement location still triggers errors from the toolkit"
I recently found the toolkit for validating ARM templates and was running my templates through this tool. One of the errors I encountered was the "Location should not be hardcoded". I checked my template and I use a parameter 'location', that has a defaultValue '[resourceGroup().location]', which the error-message states "must not have a defaultValue property". I was looking for a decent solution,

[2020-11-30 12:56] amanmcse commented on #66823
@piotrgradzinski I updated Technical Profile for Google and received namespaced claim in the token as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/100612217-9ec7a000-3338-11eb-898e-305b0d856318.png)

Make sure, you have updated the RP file (SignupOrSignin.xml) with output claim as per the example below:
`        <OutputClaim ClaimTypeReferenceId="extension_gender

[2020-11-30 13:08] SubhashVasarapu-MSFT commented on #66697
@jan-tosovsky-cz, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-30 13:08] #66697 closed

[2020-11-30 13:09] jan-tosovsky-cz commented on #66697
Thanks for your help. I am still failing to set the localhost as the only nameserver properly.
In my `/etc/resolv.conf` I have
[code]

I've found these values shouldn't be modified directly as they can be overwritten by the NetworkManager. So I've tried this set of commands:
`sudo nmcli con mod "System eth0" ipv4.ignore-auto-dns yes` (trying to eliminate 168.63.129.16 entry)
`sudo nmcli con mod "S

[2020-11-30 13:18] MayankBargali-MSFT commented on #66863
@esbenbach Thank you for your feedback! We will review and update as appropriate.

[2020-11-30 13:23] SwathiDhanwada-MSFT commented on #66881
@SeppeDev Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-30 13:24] SwathiDhanwada-MSFT commented on #66781
@chaitanyakkk1 There isn't any available alternative links. The file is of 138 MB. I would suggest you to file [support ticket](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) so that they can check your system and assist you with the downloading.

As there are no documentation changes, we will close the issue for now. If there are further qu

[2020-11-30 13:24] #66781 closed

[2020-11-30 13:27] chaitanyakkk1 commented on #66781
Thanks I did use a download manager or else it’s was humanly impossible as it was timing out

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Monday, November 30, 2020 6:54:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: chaitanyakkk1 <chaitanyakkk@hotmail.com>; Mention <mention@noreply.gi

[2020-11-30 13:28] MayankBargali-MSFT commented on #66878
@tfv-waken Thank you for your feedback! We will review and update as appropriate.

[2020-11-30 13:32] #66735 closed

[2020-11-30 13:32] MayankBargali-MSFT commented on #66735
@yutaro113  Thanks for reporting this item! We have updated the doc and it will be published soon. We appreciate the feedback!

[2020-11-30 13:34] o-l-a-v opened #66884 "DNS alias removed when CDN profile moved to new subscription - Expected?"
While moving a CDN profile where a Azure DNS alias is configured for reaching it, the DNS record/ "alias" is deleted, not modified to point to the new location of the CDN profile. I guess this is by design because it's hard to make sure that the CDN still will have access to modify DNS zone on the Microsoft.Network/dnszones in question.

But if this is indeed by design, why isn't it mentioned anyw

[2020-11-30 13:39] Tractivity-Jamie opened #66885 "Single Sign-Out SAML Protocol - Additional logout request information."
The following points may be useful for others attempting to implement the logout request:

- You make the request by redirecting the User in thier browser to the Logout URL specified by the IDP.
- The XML content in included in this request by:

  -  Base64 encode the content.  [Stack Overflow, C# Base64 Encode](https://stackoverflow.com/questions/25120025/acs75005-the-request-is-not-a-valid-saml2

[2020-11-30 13:40] pranavsanghadia commented on #65820
Thanks.

[2020-11-30 13:40] #65820 closed

[2020-11-30 13:51] JayaChatterjee-MSFT commented on #66651
@cosmicshuai  Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-30 13:53] ii-batman commented on #66814
Hi @VikasPullagura-MSFT
Thank you for your quick reply.
What network connectivity options are you using? S2S
Did you try restarting the session hosts? Yes
In your setup, do you have NSG's on Subnet or session hosts? Subnet and added a public IP address to the host
I have configured every node as per the document but I cannot RDP UPD internally (inside our network) or from home
Thanks <M>

[2020-11-30 13:57] MonikaReddy-MSFT commented on #66865
@SychevIgor -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-30 13:58] mcurko commented on #66316
OK, thank you.

[2020-11-30 14:00] mcurko commented on #66822
Ah well, that StackOverflow article is my own question!

[2020-11-30 14:11] KrishnaG-MSFT commented on #66880
@o-l-a-v No problem. Thanks for the update. 👍

[2020-11-30 14:24] craigshoemaker commented on #66063
Thanks, @mcollier

As you point out, the doc incorrectly stated that you could use `IAsyncCollector`. The article is now updated with that line removed.

#please-close

[2020-11-30 14:24] #66063 closed

[2020-11-30 14:26] mrbullwinkle commented on #66514
The fix for this issue is now merged.

[2020-11-30 14:26] mrbullwinkle commented on #66514
#please-close

[2020-11-30 14:26] #66514 closed

[2020-11-30 14:48] DCtheGeek commented on #66868
#reassign:DCtheGeek

[2020-11-30 14:50] DCtheGeek commented on #66868
@techadmin1982 Thanks for the question.  The Terraform documentation for AzureRM and the Policy Resource azurerm_policy_assignment (here: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/policy_assignment#argument-reference) indicates that only Subscription and Resource Group are available for the `scope` argument. If the Terraform provider for Azure Policy does supp

[2020-11-30 14:50] #66868 closed

[2020-11-30 14:54] dragosprie opened #66888 "Azure AD does not support single sign-on integration with AWS SSO - Clarification"
[   _**Note**
Azure AD does not support single sign-on integration with AWS SSO, it is a different product from AWS. Although AWS mention about it here, Azure AD recommends customers to use AWS IAM integration instead so that you can achieve better security controls using Conditional Access policies on individual accounts and also do better governance of these applications._

The above note does n

[2020-11-30 15:01] mcurko opened #66890 "Manual backup doesn't work"
I tried to trigger a manual backup, as described, using SF explorer. It results in (from Windows event logs):

[code]

I tried to do it with various apps (among them the sample "Voting" app), on local dev and windows standalone clusters. Something's not right. Are there some prerequisites for backup operations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-11-30 15:30] NavtejSaini-MSFT commented on #66710
@gitclem This document is for the .NET only. Same document is available for Python at this link - https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-python.

Please check and we hope this helps.

[2020-11-30 15:30] #66651 closed

[2020-11-30 15:33] mathieu2em commented on #51663
I have the same probleme. even if I put data-preload="true" to all my css links, the page first show without css

[2020-11-30 15:41] NavtejSaini-MSFT commented on #66669
@yoshioterada Can you please use the same script with raw IP address and not use the $PUBLIC_IP variable and check the results.
Please do share the test results with us.

[2020-11-30 15:41] mcurko opened #66892 "Commands missing"
Where do commands like Connect-SFCluster and New-SFBackupPolicy come from? Even Cloud Shell doesn't have them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f4a65fe-da61-bd83-a058-a0b8f8b36d1d
* Version Independent ID: 46af682a-ea5d-5e3a-85f2-5e7a07e9e5f0
* Content: [Periodic backup/restore in standalone Azure Servic

[2020-11-30 15:41] spaelling opened #66893 "Update role requirements with VNET peering"
The information in [Are any roles required to access a virtual machine?](https://docs.microsoft.com/en-us/azure/bastion/bastion-faq#roles) is incorrect when using VNET peerings

The portal will execute below query

[code]

The very first query needs to find the `id of vnet VM is attached to` in the list of peered networks, hence the user must be able to list the properties on the VNET that the bas

[2020-11-30 15:45] spaelling commented on #66893
Also if the portals "default subscription filter" excludes the subscription in which the bastion host network is, then it wont show either. At least it seems that way.

[2020-11-30 15:47] jankena opened #66894 "Actually, Get External Data doesn't exists"
Actually, Get External Data doesn't exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41b3a4bf-50c5-5431-c2a4-64d164f5694e
* Version Independent ID: 3d37079f-bf73-f958-afab-d32f6b8a2761
* Content: [Connect to Azure Analysis Services with Excel](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-servi

[2020-11-30 15:52] gdippolito commented on #30890
This is very inconsistent with your own documentation and common established practices:
![image](https://user-images.githubusercontent.com/18577894/100631840-0f17f680-3324-11eb-83a9-9d6c4aca744b.png)

[2020-11-30 15:53] mumian commented on #66803
@gmddmg - From the Azure portal (https//portal.azure.com), select **Subscriptions**; select your subscription that is used for deploying the template; select **Resource providers**, select **Microsoft.AzureActiveDirectory** (you can use the filter to find the provider), select **Register**.

[2020-11-30 15:59] mumian commented on #66803
@gmddmg - here is the article about the error message - https://docs.microsoft.com/azure/azure-resource-manager/templates/error-register-resource-provider

[2020-11-30 16:03] mumian commented on #66803
#please-close

[2020-11-30 16:03] #66803 closed

[2020-11-30 16:05] mumian commented on #66677
@Pankaj8878 - would it be helpful to go through a tutorial?  Here is one - https://docs.microsoft.com/azure/azure-resource-manager/templates/template-tutorial-use-key-vault.  Let us know if we need to provide any additional clarification and examples.

#please-close

[2020-11-30 16:05] #66677 closed

[2020-11-30 16:10] v-tcassi commented on #66874
Thanks for your feedback! Changes made and pushed in this pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/139313

[2020-11-30 16:10] v-tcassi commented on #66874
#please-close

[2020-11-30 16:10] #66874 closed

[2020-11-30 16:12] pragnagopa opened #66895 "[AzureFuncitons]Update Custom Container docs to use Functions V3"
cc @fabiocav @jeffhollan @ggailey777

Related to https://github.com/Azure/app-service-announcements/issues/266

Following doc refers to using Function Core Tools V2 for building custom docker images:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp

This needs to be updated to use Functions Co

[2020-11-30 16:21] jankena commented on #66894
Or, where to get the Get External dtaa thing? It is present at my colleagues, but not at me. Using Office click once installation from office 365.

[2020-11-30 16:28] BhargaviAnnadevara-MSFT commented on #66760
@ValeryCherepanov Thanks for the response. Yes, you are right in that the cmdlet given for removing a Move Collection is incorrect in the doc. Thank you for bringing this to our attention. I have submitted a PR to fix the issue that is under review.

Meanwhile, please try [Remove-AzResourceMoverMoveCollection](https://docs.microsoft.com/en-us/powershell/module/az.resourcemover/remove-azresourcemov

[2020-11-30 16:42] gitclem commented on #66710
It would be nice to add a pointer to the Python version from the .NET
version and vice versa.

On Mon, Nov 30, 2020 at 7:31 AM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-11-30 16:54] mattchenderson commented on #66644
The behavior is as documented. We are working to enable versionless references, but today we only support them with the version pinned. This should be changing relatively soon, although I cannot share a firm estimate on when.

[2020-11-30 17:00] justinasfour04 commented on #45857
I have the url added correctly and the client_id and client_secret are my consumer key and secret yet I still keep getting the following error:

Sorry, but we're having trouble signing you in.
We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, please try again.
Correlation ID: 470354c4-cd10-4436-8964-78a8fbe19b48
Timestamp: 2020-11-30 16:59:3

[2020-11-30 17:07] rido-min commented on #66740
Hi @xelossan

To announce the model id to be available in a Twin property, you must include the model id in the MQTT connection packet, if you are not using the SDK add `model-id=dtmi:com:example:device;1` to the USERNAME field (example available [here](https://github.com/ridomin/iothub-webclient/blob/master/AzIoTHubClient.js#L89) )

If your solution uses DPS, and requires to know the model-id at

[2020-11-30 17:08] BhargaviAnnadevara-MSFT commented on #66737
@SychevIgor Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-30 17:09] Karishma-Tiwari-MSFT commented on #66524
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-30 17:10] alexkarcher-msft commented on #64762
Hi @MataskK23

Let me know if you're still experiencing this issue. I'll be closing the issue in 7 days with no response.

Thanks!
Alex

[2020-11-30 17:12] tfitzmac commented on #66782
@kilasuit - thanks for this feedback. We decided to not show the portal for this tutorial series because using the portal for ARM templates is limited in functionality. We wanted to get people started on a path that would serve them well in the long run. The portal limitation potentially changes with template specs, which now has an easy-to-use portal interface. We can reconsider showing the porta

[2020-11-30 17:12] tfitzmac commented on #66782
#please-close

[2020-11-30 17:12] #66782 closed

[2020-11-30 17:19] tfitzmac commented on #66881
@SeppeDev - the approach of using a parameter with a default value of resourceGroup().location is definitely the recommended way to set location. I have run into the scenario you describe a couple of times. For me, there were a few times when most of the resources were using the location parameter but one resource in the template was hard-coded. The other possibility is that the test toolkit is ev

[2020-11-30 17:20] SaiKishor-MSFT commented on #66876
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-30 17:23] dckfnuance commented on #66626
2 issues here:
1) get-azsynapsesqlpool works to get information about the synapse sql, but what I need is to set the Managed Service Identity of the sql pool. How do I do that? There is no set-azsynapsepool cmdlet.
2) The document, especially section C. Managed Identity, should be updated.

[2020-11-30 17:30] ShaneBala-keyvault commented on #65131
Hello, I reached out to the Kubernetes team and they are working on updating their documentation to show traffic allow list requirements. https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

Looks like this is a new article, published 11/9/2020 after this case was opened.

The main guidance is to: Allow egress to 169.254.169.254 if using user assigned managed identity, system assigned

[2020-11-30 17:30] ShaneBala-keyvault commented on #65131
#please-close

[2020-11-30 17:30] #65131 closed

[2020-11-30 17:31] alexkarcher-msft commented on #66124
Hi @maxstefaniv

Thanks for the super detailed response, this is a really good question!

Right now, the only use for Telemetry is to make it a bit easier to send raw telemetry alongside [lifecycle events](https://docs.microsoft.com/azure/digital-twins/concepts-route-events#types-of-event-messages) using one message service.

The functionality that you're asking for is contained within [twin chang

[2020-11-30 17:35] SubhashVasarapu-MSFT commented on #66642
@dcbrown16 , The issue has been assigned to the respective author for providing better insights or updating the doc wherever it requires.

[2020-11-30 17:37] DerekHerman-MSFT commented on #66859
Thanks for reporting this. We have an existing issue assigned to the author. Please refer to that issue for updates to the document. https://github.com/MicrosoftDocs/azure-docs/issues/65886

[2020-11-30 17:37] #66859 closed

[2020-11-30 17:43] psmanhas commented on #66839
@mpalmier74 Thank you for your query!!!

The default scale in policy uses the following order of operations:

1.	Balance virtual machines across availability zones (if the scale set is deployed in zonal configuration)
2.	Balance virtual machines across fault domains (best effort)
3.	Delete virtual machine with the highest instance ID

Then you can change the scale in policy to oldest which will de

[2020-11-30 17:43] #66839 closed

[2020-11-30 17:52] MatasK23 commented on #64762
Hi @alexkarcher-msft,

Apologies for getting back to you but yeah, the issue has been resolved :)
Thanks for all your help!

Many thanks,

Matas

[2020-11-30 17:53] JasonFreeberg opened #66898 "Backups are only functionnal using StorageV2"
I'm filling this on behalf of @svallier. He filled these issues:

[Issue 66](https://github.com/Azure/webapps-deploy/issues/66):

Otherwise, backups fail

[Issue 67](https://github.com/Azure/webapps-deploy/issues/67):

https://docs.microsoft.com/en-us/azure/app-service/manage-backup#requirements-and-restrictions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-11-30 17:54] SaiKishor-MSFT commented on #66893
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2020-11-30 17:55] alexkarcher-msft commented on #64762
Woo! Awesome news!

#please-close

[2020-11-30 17:55] #64762 closed

[2020-11-30 17:59] SatishBoddu-MSFT commented on #66650
Hello @maxiptah Below is the response from PG team.

1. It will update 10 per seconds and next will be subjects for https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#traffic-shaping and throttling
2. 	However, it'll keep retrying throttled requests within specified job execution window. Hence, if windows is short there're chances it'll mark device job as throttled.

[2020-11-30 17:59] #66650 closed

[2020-11-30 18:07] SaiKishor-MSFT commented on #66884
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-30 18:07] SatishBoddu-MSFT commented on #66716
Thank you @ms-vincent for the feedback and for sharing the resolution. We have noted the issue and reported the same to the team.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answ

[2020-11-30 18:07] #66716 closed

[2020-11-30 18:10] shashishailaj commented on #66857
@ma763488 Thank you for your feedback  . We will investigate and update the thread.

[2020-11-30 18:14] MarileeTurscak-MSFT commented on #66860
@HekiliJordan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-30 18:20] Karishma-Tiwari-MSFT commented on #66892
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-30 18:22] shashishailaj commented on #66879
@jopgommans Thank you for your feedback. We will have this reviewed with the content author and update the thread.

[2020-11-30 18:25] shashishailaj commented on #66879
@jeevansd Could you please help on this? If someone in your team can verify this , I can generate a pull request on the same to update this.

[2020-11-30 18:26] Karishma-Tiwari-MSFT commented on #66890
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-30 18:26] JamesTran-MSFT commented on #66885
@Tractivity-Jamie
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-30 18:26] AnuragSharma-MSFT commented on #66590
@simionda I am tagging the content author for more details on the same.

[2020-11-30 18:27] JamesTran-MSFT commented on #66888
@dragosprie
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-30 18:27] ValeryCherepanov commented on #66760
@BhargaviAnnadevara-MSFT - that doesn't work for me unfortunately.
The problem is that there are "move resources" in the collection that I cannot delete -  I simply don't see anything in "Across Regions".
_Remove-AzResourceMoverMoveCollection_Delete: Deletion of move collection is not allowed when there are move resources present in it.
      Possible Causes: The move collection has move resources

[2020-11-30 18:27] softwarecraft opened #66899 "Correct page "last updated" to reflect recent commits"
[Enter feedback here]
Page shows last updated in 2019 but commit history shows 15 commits since Jan 1, 2020. Please update the metadata to correctly show that the page is recently updated. Page contents has less credibility when appears not to have been updated in over a year. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-11-30 18:30] lumichael24 opened #66900 "Inconsistency between Azure BulkUpdate and BulkExecutor docs and intended behavior"
Hi there!

**Question about the Docs**
We are currently using .net core v3.0, and our application in CSEO uses the Gremlin API to push data to CosmosDB. [The Azure documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#bulk-update-data-in-your-azure-cosmos-account) for BulkUpdate. In the purple box at the top of the page of this documentation, it says that these oper

[2020-11-30 18:32] joshmachnik commented on #65085
@MarileeTurscak-MSFT do you happen to have any updates from the team on this? The feature still doesn't appear to be re-enabled.

[2020-11-30 18:35] jeevansd commented on #66879
@v-hagamp Can you please get this fixed?

[2020-11-30 18:40] SaiKishor-MSFT commented on #66086
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-30 18:40] #66086 closed

[2020-11-30 18:44] shashishailaj commented on #66869
@uahmad85 Thank you for your feedback . We are sorry for the unpleasant experience. I understand that if it would not work as mentioned in the documentation , anyone will get frustrated. The steps do get checked before publishing . I am sorry that it did not work in your case. It is a general example and the documentation is arranged in a way that one gradually proceeds while learning and understa

[2020-11-30 18:52] AjayKumar-MSFT commented on #66777
@thesuavehog,  As requested we have emphasized the note by raising a PR and merged. The published changes will reflect in the document in a few hours. Thanks again for your feedback.

[2020-11-30 18:52] #66777 closed

[2020-11-30 18:54] gfree76 opened #66901 "would be good to address how sql scripts are used"
When adding a sql script, it doesn't look like they get executed against the synapse dedicated pool when the publish button is clicked. There are no references to how to use sql scripts to create t-sql objects in source control. Is there a way to trigger execution of SQL scripts? And is there a way to configure the order in which SQL scripts are executed?

---
#### Document Details

⚠ *Do not edit

[2020-11-30 18:55] pax8-dkirby commented on #50530
@femsulu  @Heidilohr

Any chance that improvements have been made in this arena? We're running into the same thing.

[2020-11-30 19:00] tfitzmac commented on #66519
@leizhang1984 - to minimize security exposure, it's best to only register resource providers that you are ready to use in a subscription. It is a way of maintaining least privileges. I'll add that info to the article.

[2020-11-30 19:11] rumenavramov opened #66902 "Provide more details about where the "Endpoints" page is"
The sentence "Retrieve these values from the Endpoints page in your Azure AD tenant." is really confusing and does not tell you where the "Endpoints" page is. And most people would not know unless they are a seasoned Azure vet-guru with years upon years of experience. It took me about 40 minutes of browsing around all parts of AAD to find it.

---
#### Document Details

⚠ *Do not edit this section

[2020-11-30 19:11] LarsKemmann opened #66903 "Link to Syslog page section on Wikipedia is broken"
The link should be:
`https://en.wikipedia.org/wiki/Syslog#Severity_level`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dedace3-fcb7-45b7-8bc1-11b5485d033a
* Version Independent ID: 1af36bac-1b08-f493-285f-23b64f12c500
* Content: [Retrieve IoT Edge logs - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edg

[2020-11-30 19:13] DerekHerman-MSFT commented on #66568
@DavidJeyapaul Apologies for the delayed follow-up here. I followed the tutorial but was unable to reproduce the issue. I found a similar issue [here](https://stackoverflow.com/questions/58768443/error-importing-blobserviceclient-from-azure-storage-blob) which might help. Since this is does not appear to be a documentation issue I will proceed to close out this issue. If you are unable to resolve

[2020-11-30 19:13] #66568 closed

[2020-11-30 19:14] #66519 closed

[2020-11-30 19:14] tfitzmac commented on #66519
The update should get published later today.

[2020-11-30 19:14] JamesTran-MSFT commented on #66885
@Tractivity-Jamie
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-30 19:15] rumenavramov commented on #66902
Never mind - misunderstood the text.

[2020-11-30 19:15] #66902 closed

[2020-11-30 19:16] rbschneider commented on #66668
@rwiankowski, I know this comes as secondary to what @SnehaAgrawal posted, but I confirmed with one of our engineers - replied stating that we do not have it enabled across all regions yet, however are working on it .

[2020-11-30 19:17] rbschneider commented on #66668
#please-close

[2020-11-30 19:17] #66668 closed

[2020-11-30 19:17] mamccrea commented on #66174
Hi @jerdobi - it looks like your issue has been resolved. I'm going to close this issue for now, but if you have any other questions, please feel free to reopen.

#please-close

[2020-11-30 19:17] #66174 closed

[2020-11-30 19:18] Minewiskan commented on #66894
@jankena - You are correct. It looks like there has been a change to Excel UX. Step 1 should read.
1. In Excel, on the Data ribbon, click Get Data > From Database > From Analysis Services.

The article will be updated later today. Thanks for brining it to our attention.
#please-close

[2020-11-30 19:18] #66894 closed

[2020-11-30 19:19] WinstonHoward-MSFT commented on #66899
Hey @softwarecraft

Thanks for pointing that out, I'll make a PR to update it. That being said, usually that date is only updated if there is a major rewrite or change to the doc so keep that in mind.

[2020-11-30 19:26] #66899 closed

[2020-11-30 19:33] revodavid opened #66904 "Things break if the wrong default Terminal shell is selected in Code"
Running through this tutorial on Windows, things break at the "Run the function locally" step if the default Terminal shell is not set to Command Prompt. I had my default set to "WSL Bash", and had to change the default before the local test would run.

Also, first time through I got the error dialog below. Clicking "Open launch.json" twice cleared it up.

![image](https://user-images.githubuserco

[2020-11-30 19:37] jasonfritts opened #66905 "Virtual Machine Administrator Login and Virtual Machine User Login not supported at management group scope"
It should be noted and called out in this document that the roles Virtual Machine Administrator Login and Virtual Machine User Login use dataActions and thus cannot be assigned at management group scope, only subscription scoped assignments will work today.  See ICM 215894589

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-30 19:41] jasonfritts opened #66906 "dataActions at management group scope limitation"
It should be noted and called out in this document's limitation section that the use of role assignments containing dataActions  will not work when  assigned at management group scope, only subscription scoped assignments will work today. See ICM 215894589

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5

[2020-11-30 19:43] DerekHerman-MSFT commented on #66794
@jethrovaneetvelde Can you let me know where you are seeing that capacity metrics are in base10 rather than base2? Because in the example given, 80% of 100TiB(tebibytes) is 87960930222080 bytes.

I do agree that a percent based alert would be more intuitive and can see how it would be frustrating to adjust this every time you modify the quota. For product feedback and feature requests I will refer

[2020-11-30 19:52] stevevi commented on #62750
#please-close

[2020-11-30 19:52] #62750 closed

[2020-11-30 19:57] Skatterbrainz opened #66907 "Grammar correction"
Below the section "Linked Mailbox Issue", there's a word missing in one of the sentences...

Current: "...will not synchronize the user account corresponds to..."
Correct: "...will not synchronize the user account **which** corresponds to..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3edd127a-d77c-5a9a-a7d5-6f25ab

[2020-11-30 19:59] JamesTran-MSFT commented on #66598
@gb2793
Thank you for the details and I apologize for my delayed response. Following what you said initially, I was able to reproduce your issue:

**Navigating to:**
`https://login.microsoftonline.com/organizations/v2.0/adminconsent?client_id=<clientID>&state=12345&redirect_uri=https://localhost/myapp/permissions&scope=https://graph.microsoft.com/.default&prompt=none&login_hint=testuser001@test.co

[2020-11-30 19:59] #66598 closed

[2020-11-30 20:02] jankena commented on #66894
Hi,

We tested with my colleague more, and, actually, it differs Office 365 version from Excel 2016 version. And it was even the same version 2002. That’s weird. Please test before updating the doc or make a note that it might differ version to version because customers are rather confused 😊

Thank you,

Kind regards,
Jan

From: Owen Duncan <notifications@github.com>
Sent: Monday, November 30, 202

[2020-11-30 20:05] WinstonHoward-MSFT commented on #66616
@rbschneider , I've transferred ownership of this issue to you so you can close it once you update the page.

[2020-11-30 20:17] BoutemineOualid opened #66908 "[Feedback] Add section on how to display test results on the Test tab."
Hi, is there a way to publish the test results from the ASA test task to the Test Tab of the Azure DevOps pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16170ca3-bfd4-7eb2-a80c-46ec404cee80
* Version Independent ID: 56e5c295-d155-462e-c7e2-303f7c8d8876
* Content: [Use Azure DevOps to create a CI/CD pipeline f

[2020-11-30 20:20] bwren commented on #66699
Checking with engineering team.

#in-process

[2020-11-30 20:30] BharathNimmala-MSFT commented on #66848
@krish-gh Thank you for sharing the feedback on this.

[2020-11-30 20:32] vikramdadwal opened #66909 "When using Data consistency feature with On Prem SQL Server as source, getting the following error: "This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70956e0c-ddec-96a9-e1d4-d25dc54f7a28
* Version Independent ID: 385b0054-fc50-a103-0b3d-53aa3fc20e64
* Content: [Data consistency verification in copy activity - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-data

[2020-11-30 20:42] jethrovaneetvelde commented on #66794
I'm sorry, seems I was wrong here, was very confused because of the mix of base2 and base10.

The azure file share quota is in GiB, so lets create a share with a quota of 100GiB as this is the unit used there.
We want to create an alert at 95%, so 95GiB.
We go create an alert with the file capacity quota. The unit here is TB, GB, MB, kB or B. This means I have to convert this myself.
This does not

[2020-11-30 20:46] bwren commented on #66699
I'm told that this is a bug in the UX that should be fixed shortly. Custom images are currently being seen as not supported which is not correct. You may be able to ignore any messages and have it proceed until bug is corrected.

#please-close

[2020-11-30 20:46] #66699 closed

[2020-11-30 20:55] DerekHerman-MSFT commented on #66817
@dgordoncal I believe you can use the -ServicePrincipalNames of [New-ADComputer](https://docs.microsoft.com/en-us/powershell/module/addsadministration/new-adcomputer?view=win10-ps) or
[Set-ADComputer](https://docs.microsoft.com/en-us/powershell/module/addsadministration/set-adcomputer?view=win10-ps#parameters) to add it. I believe password is referring to the computer account password. I am assign

[2020-11-30 20:58] matg8383 opened #66910 "Cannot run the mvn command"
Command
`mvn archetype:generate -DgroupId=com.blobs.quickstart -DartifactId=blob-quickstart-v12 -DarchetypeArtifactId=maven-archetype-quickstart -DarchetypeVersion=1.4 -DinteractiveMode=false -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true`

Output
[code]

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-11-30 20:59] gitclem commented on #66710
Also... on page:
https://azure.microsoft.com/en-us/services/cosmos-db/#developer-resources
there's a link for Gremlin to: https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet which is for .NET
but there's no link to:  https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-python which is for python.

In addition, I tried the example, but I got the useless error message:

pyt

[2020-11-30 21:00] gitclem opened #66911 "No hints as to how to fix "There was an exception: [Errno 61] Connection refused""
After fixing up connect.py, I ran:
python connect.py
Welcome to Azure Cosmos DB + Gremlin on Python!
We're about to drop whatever graph is on the server. Press any key to continue...
	Running this Gremlin query:
	g.V().drop()
**There was an exception: [Errno 61] Connection refused**

And there are no hints as to how to fix this error which I don't understand.

---
#### Document Details

⚠ *Do not

[2020-11-30 21:03] MikkelHegn commented on #66822
Did it get you the information you need?

[2020-11-30 21:03] piotrgradzinski commented on #66823
@amanmcse thank you very much for this information! Would you be so kind and shared your technical profile so I can compare?

In `SignupOrSignin` I have:
[code]

since I want in B2C token to have `department` not `http://example.com/department`. Namespaced claim is a requirement on Auth0 claims and I don't want to have a namespaced claim in my B2C token.

[2020-11-30 21:22] MarileeTurscak-MSFT commented on #66907
@Skatterbrainz thanks! Fixing this.

[2020-11-30 21:23] MarileeTurscak-MSFT commented on #66907
Thank you! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139362

[2020-11-30 21:23] #66907 closed

[2020-11-30 21:40] msmimart commented on #66364
@yoelhor will you please have a look at this issue? Is there a way to remove this default `access_token` value?

[2020-11-30 21:43] MarileeTurscak-MSFT commented on #66877
@tanujkumawat
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-30 21:55] ChaitanyaNaykodi-MSFT commented on #66895
Hello @pragnagopa, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-30 21:56] MarileeTurscak-MSFT commented on #66905
@jasonfritts
Thanks for your feedback! We are actively looking into this.

[2020-11-30 22:07] ajburnle commented on #66221
@kentcomp, thanks for your feedback.  Access packages allow you to include access to everything a user may need for a role, which could include a mix of groups, apps, SharePoint sites, etc.  This is so that the user doesn't have to request access to each thing separately, but all at once when they request access to that access package. So the group can be included in an access package. If you crea

[2020-11-30 22:07] #66221 closed

[2020-11-30 22:11] MarileeTurscak-MSFT commented on #66905
Thank you! I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139371

In the future feel free to make your own pull requests for these types of changes. If you feel anything is missing from mine feel free to edit it.

[2020-11-30 22:11] #66905 closed

[2020-11-30 22:15] SHANE0MAC opened #66912 "Log Search is no longer available It was changed to Log Analytics also some of the screenshots are from the previous UI"
[FIM's UI was updated. Log Search is no longer available. It was replaced with Log Analytics. See section: Log Search opens when you enter a machine name in the search field or select a machine listed under the Computers tab. Log Search displays all the changes made during the selected time period for the machine. You can expand a change for more information. Also the screenshots need to reflect t

[2020-11-30 22:20] spelluru commented on #61376
This article has been updated to use the latest Java package with more steps.

#please-close

[2020-11-30 22:20] #61376 closed

[2020-11-30 22:21] ajburnle commented on #65307
Hey @angelicafaber thank you for your question. If there is a change in retention, it will be noted in the What's New article for Azure Active Directory. This article comes out every month, and it includes links to updates to documentation after there are updates or new releases. I also manage that document and I haven't been notified of any changes in retention.

Here is a link to the article: ht

[2020-11-30 22:21] #65307 closed

[2020-11-30 22:36] JamesTran-MSFT commented on #66912
@SHANE0MAC
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-30 22:37] drwill-ms commented on #64993
@asergaz
I'm pretty sure all Azure IoT SDKs allow one to connect with a SAS token or a certificate. The sample listed above for node references initializing a client with a cert is real, but there are other samples in node that show that not being required (e.g. <https://github.com/Azure/azure-iot-sdk-node/blob/master/device/samples/simple_sample_device_with_sas.js>)

[2020-11-30 22:37] bandersmsft commented on #66166
#assign:anuragdalmia

[2020-11-30 22:38] bandersmsft commented on #66687
#assign:anuragdalmia

[2020-11-30 22:38] bandersmsft commented on #42924
#please-close

[2020-11-30 22:38] #42924 closed

[2020-11-30 22:43] bandersmsft commented on #66707
@zachgatesak Thanks for the feedback. I've made a small update to the aritcle to mention the issue of not having permission to access a billing account and add links about were to get access for different account types. The article will get refreshed live today at 3:30 PST.
#please-close

[2020-11-30 22:43] #66707 closed

[2020-11-30 22:46] dhavilaj commented on #61376
@spelluru Thank you.

[2020-11-30 22:51] luisquintanilla commented on #66764
Thanks for bringing this to our attention @michalmar and sharing your logs. Thoughts @sevillal @SiddhanthUnnithan

[2020-11-30 22:52] rbrayb opened #66914 "DataUri out of date"
I'm adding Javascript to phone SUSI.

The contract in the docs is e.g.

urn:com:microsoft:aad:b2c:elements:selfasserted:1.0.0 | urn:com:microsoft:aad:b2c:elements:contract:selfasserted:1.2.0

But the phone contract uses:

urn:com:microsoft:aad:b2c:elements:contract:selfasserted:2.1.1

So the docs should rather say "Just add the contract item to the string" rather than specifying the version number

[2020-11-30 22:58] DerekHerman-MSFT commented on #66910
@matg8383 I did a clean install of JDK and maven and did not face any issues. Your issue appears to be specific to maven. Since this is unrelated to the Azure documentation I recommend asking for advice on Stack Overflow. It looks like there are are [several threads](https://stackoverflow.com/search?q=%5Bmaven%5D+No+plugin+found+for+prefix+%27archetype%27&s=7310e775-e071-4c2b-9d74-f27e54f04a4b) wi

[2020-11-30 22:58] #66910 closed

[2020-11-30 23:03] luisquintanilla commented on #66764
@michalmar would you be able to share your "local-rc3" run configuration? Did you use a curated environment or create your own?

[2020-11-30 23:07] elfcounsel opened #66915 "Max number of accounts per region per SUB"
Max number of accounts should read max number of accounts per region per subscription or otherwise indicate its per sub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39dc-80b5-3df2a180a5e9
* Version Independent ID: 72abc701-095f-3f2f-b35c-0161e4980c1e
* Content: [Resource limits for Azure NetApp Files](

[2020-11-30 23:14] normesta commented on #66037
#please-close

[2020-11-30 23:14] #66037 closed

[2020-11-30 23:17] MonikaReddy-MSFT commented on #66840
@BertAnthonyRochester -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-30 23:18] MonikaReddy-MSFT commented on #66644
@mattchenderson  - Thank you for providing your insights.
@sanalkumarp - I hope @mattchenderson has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-30 23:18] #66644 closed

[2020-11-30 23:19] b-juche commented on #66915
@elfcounsel - thanks for the input.  We'll run this suggestion by our subject matter experts and implement after verification.

[2020-11-30 23:29] JamesTran-MSFT commented on #66914
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-30 23:33] mkulisic commented on #66541
Hello @djpmsft,
I am testing your proposed solution and I think it's going to work. I still think it is pretty bad though, as I am required to changed the template manually (either the parametrized  template or the ADF parameters template) every time I have a new trigger and once more for one I don't.  From your answer I thought that if a trigger already existed it would ignore the new startTime I

[2020-11-30 23:41] helplessJ commented on #66203
From what I can tell, in step 6 on the docs: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-bitlocker-boot-error#solution
There is still a reference to SecretValueText which doesn't exist.  In my case, the BEK is not a wrapped bek.

`$vault = "myKeyVault"
$bek = " EF7B2F5A-50C6-4637-9F13-7F599C12F85C"
$keyVaultSecret = Get-AzKeyVaultSecret -VaultName $vault -N

[2020-11-30 23:42] ajburnle commented on #65902
Hey @slavdok  thank you for your feedback and thanks for your patience.

I have updated the content with new steps and screenshots to reflect the new UI. You can check out the changes I made in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/139393. I have signed off on this pull request, and the updates should be published and live tomorrow.

Thanks again for your

[2020-11-30 23:42] #65902 closed

[2020-11-30 23:43] normesta commented on #66554
Hi @zsy056. Yes - this section refers to the mask entry (ACE). There's no parameter per se - you would just use the "mask" prefix (For example: "mask:rwx". I'm unfamiliar with using REST to do this, but my understanding is that the Data Lake Storage Gen2 REST API uses the "x-ms-acl" request header to specify the mask entry along with any other of the standard entries (user:rwx, group::rwx etc).  F

[2020-11-30 23:47] anthonyvercolano commented on #64993
Documentation does get out of date sometimes.  However, it is very surprising to me that some SDKs that are using x509 don't use the x509=true.

This was NEVER supposed to be a node thing at all.

[2020-11-30 23:48] JohnRusk commented on #66845
Actually, the content I was looking for does exist here: https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard. But it I did not see that when reading the page that I logged this issue about.

[2020-11-30 23:58] DerekHerman-MSFT commented on #66794
@jethrovaneetvelde I agree they portal selections should probably be in base2. I will reach-out internally to see if this is an improvement that can be made. Thanks for bringing this to our intention. Since there is no documentation update needed I will close out this thread. Please feel free to reopen it or tag me at anytime.

[2020-11-30 23:58] #66794 closed

[2020-12-01 00:02] jw-ml2017 commented on #47169
I have the same question.

[2020-12-01 00:12] GrzegorzHejman commented on #47169
I logged a case with Microsoft asking this question and the answer was "no". Furthermore, I was given this link:

https://feedback.azure.com/forums/248703-api-management/suggestions/39640621-implement-availability-zone-redundancy-in-a-single

And it looks like this suggestion is not very high on the list.

[2020-12-01 00:16] lisaguthrie commented on #66737
@MSGaryWang - any comments on this one? (App Config + Private Link + Azure portal)

[2020-12-01 00:19] ajburnle commented on #65681
Hey @SteveMinar thanks for your feedback and thank you for your patience. I have updated the link in the following pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/139399.  The change should be published and live tomorrow.

Thanks again, and I'm closing this GitHub issue. If you have any other questions, please let us know. #please-close

[2020-12-01 00:19] #65681 closed

[2020-12-01 00:54] donghui-wu777 opened #66918 "Request to delete sentences of public IP & AZ limits"
[Enter feedback here]

Could you please delete the following sentences from the document?

- You can't add a new public IP address when you deploy a firewall with two availability zones (either 1 and 2, 2 and 3, or 1 and 3)

I heard from PG that this limit has already been lifed, and I'm able to add a new public IP when I deploy a new firewall with 2 AZ.
![image](https://user-images.githubusercont

[2020-12-01 01:00] WinstonHoward-MSFT commented on #66349
@rafsalas19, the code block example works fine for me. You must specify a ``-location`` only when creating the resource group. See the [doc here](https://docs.microsoft.com/en-us/cli/azure/group?view=azure-cli-latest#az_group_create). You do not need to specify a location flag during the ``az vm create`` command as your passing in the resource group you created above.

If your still having trouble

[2020-12-01 01:00] #66349 closed

[2020-12-01 01:28] MarileeTurscak-MSFT commented on #66542
If you deploy your own you can select that option in the dropdown.

If a custom workspace does not have the 'Security' or 'SecurityCenterFree' solutions enabled, then you will need to [apply a solution](https://docs.microsoft.com/en-us/azure/security-center/faq-data-collection-agents). You can apply a pricing tier via the Security Policy - Pricing Tier page. Security Center will enable the correct

[2020-12-01 01:28] #66542 closed

[2020-12-01 01:38] MarileeTurscak-MSFT commented on #66903
@LarsKemmann
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-01 01:39] rbschneider commented on #66918
Fixed in https://github.com/MicrosoftDocs/azure-docs/pull/66919

[2020-12-01 01:41] MarileeTurscak-MSFT commented on #66903
Thanks! Looks like there was a small typo in the URL. I made a pull request to fix it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139416

[2020-12-01 01:41] #66903 closed

[2020-12-01 01:46] ChaitanyaNaykodi-MSFT commented on #66904
Hello @revodavid, Thank you for your feedback! We will review and update as appropriate.

[2020-12-01 01:50] spelluru commented on #65617
I have added links to migration guides.

If you're using the old version of the client library, see the following migration guides: [.NET](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md), [Java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/migration-guide.md), [Python](https://gith

[2020-12-01 01:50] #65617 closed

[2020-12-01 01:51] tfitzmac commented on #66600
I have submitted an update that adds a link instead of the superscript to mark which ones are registered by default. I thought the extra column might make everything else a little too cluttered. It should get published tomorrow.

[2020-12-01 01:51] tfitzmac commented on #66600
#please-close

[2020-12-01 01:51] #66600 closed

[2020-12-01 01:51] justinmklam commented on #66716
FYI v1.9.0 of the Storage Explorer doesn't run on Ubuntu 20.04 LTS since libgnome-keyring is no longer supported.

[2020-12-01 01:52] ThomasWeiss commented on #66590
I agree with the comments from @simionda. I've updated this section to clarify that Cosmos DB doesn't provide any specific API to find and delete personal data: it is the user's responsibility to define what "personal data" is, and use Cosmos DB's API accordingly. This change will be merged and published by tomorrow. Thanks @simionda for your input!
#please-close

[2020-12-01 01:52] #66590 closed

[2020-12-01 02:51] FACF302 opened #66921 "Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/en-us/azure/guides/developer/azure-developer-guide)
* Content Source:

[2020-12-01 02:52] spelluru commented on #59160
I haven't tried this but these two methods should help:

TokenProvider.CreateSharedAccessSignatureTokenProvider
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.tokenprovider.createsharedaccesssignaturetokenprovider?view=azure-dotnet

Then, use the TokenProvider object in the following:
EventHubClient.CreateWithTokenProvider
https://docs.microsoft.com/en-us/dotnet/api/microsof

[2020-12-01 02:53] FACF302 commented on #65592
https://github.com/MicrosoftDocs/azure-docs/issues/66921#issue-753959573

[2020-12-01 03:11] spelluru commented on #58127
It's documented in articles for clusters, namespaces etc...
https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/2018-01-01-preview/clusters
https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/2018-01-01-preview/namespaces
https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/2018-01-01-preview/namespaces/ipfilterrules

#please-close

[2020-12-01 03:11] #58127 closed

[2020-12-01 03:22] JolindaTu opened #66922 "The Resource Health feature may have gap for Managed Instance"
Hi Team,

As I discussed with EEE, we are planning the Resource Health feature for Managed Instance in next semester.
Currently, the Resource Health feature may have gap for Managed Instance.
I didn't see the Resource Health blade in Managed Instance as well.

Could you help to write some note in this page? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-12-01 03:29] su-jie commented on #66908
Hi Qualid, the capability you mentioned is not supported at this point and it is in our product backlog. We will consider it in our future plan. Thanks for your feedback.

[2020-12-01 03:36] SwathiDhanwada-MSFT commented on #66603
As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-01 03:36] #66603 closed

[2020-12-01 03:46] VikasPullagura-MSFT commented on #66845
@JohnRusk Thanks for the update.

[2020-12-01 03:46] #66845 closed

[2020-12-01 03:47] CHEEKATLAPRADEEP-MSFT commented on #66909
@vikramdadwal  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

[2020-12-01 03:49] CHEEKATLAPRADEEP-MSFT commented on #66901
@gfree76  Thanks for the question! We are investigating and will update you shortly.

[2020-12-01 03:51] swanderz opened #66923 "OPENROWSET for Synapse dedicated pools?"
Any plans to support open row set for dedicated pools?
Advantages:

 - More (and faster) parser options over `External File Format` such as row delimiter
 - Can auto-infer schema
 - More convenient to define the file format directly

More broadly, is it the plan to bring all serverless pool T-SQL functionality into the dedicated pools?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-12-01 03:53] #66908 closed

[2020-12-01 04:05] NavtejSaini-MSFT commented on #66710
@gitclem At this point we think any edits to the document are not required and will be closing this feedback. For the second question we see you have already raised https://github.com/MicrosoftDocs/azure-docs/issues/66911 and we will work on the same.

[2020-12-01 04:05] #66710 closed

[2020-12-01 04:06] NavtejSaini-MSFT commented on #66698
@lfittl-msft Please take this feedback forward as required. Let us know if you need any help from us.

[2020-12-01 04:08] NavtejSaini-MSFT commented on #66345
@mmckechney We have verified this with our internal team and they have confirmed there is no programmatic way currently to  get this info.
You can add your feedback on the https://feedback.azure.com/forums/217321-sql-database and product team will look into adding this as a feature.
For now we will going ahead and closing this issue.

[2020-12-01 04:08] #66345 closed

[2020-12-01 04:22] AjayKumar-MSFT commented on #66898
@svallier, Thanks for the feedback! We're looking into this and will get back to you soon.

@cephalin, Requesting you to take a look at this feedback for further review and share comments.
Thanks, @JasonFreeberg.

[2020-12-01 04:25] AnuragSharma-MSFT commented on #66732
@MhAllan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-01 04:25] #66732 closed

[2020-12-01 04:27] AnuragSharma-MSFT commented on #66800
@Catskan Could you please refer to above comment and let me know if still facing the issue.

[2020-12-01 04:28] AjayKumar-MSFT commented on #66902
rumenavramov,  No worries, thanks for leveraging Azure docs feedback channel. Glad the concern was figured out. Much appreciate the follow-up.

[2020-12-01 04:29] BharathNimmala-MSFT commented on #66921
@FACF302 Thank you for reaching out, can you please help give more context on specific feedback you have regarding the Azure documentation linked to this GitHub issue ? so that we can assist you accordingly.

[2020-12-01 04:33] AnuragSharma-MSFT commented on #66911
@gitclem Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-01 04:35] AnuragSharma-MSFT commented on #66922
@JolindaTu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-01 04:44] sdgilley commented on #66339
@FabianHertwig, thanks for your suggestion.  There are links to multiple full examples at the [end of the article](https://docs.microsoft.com/azure/machine-learning/how-to-set-up-training-targets#notebook-examples) to provide the end-to-end code,  However, it could be more explicit in the introduction.  I'll modify the intro to make sure these examples are easier to find.

[2020-12-01 04:50] vikramdadwal commented on #66909
Done:  https://stackoverflow.com/questions/65084901/azure-data-factory-copy-activity-error-this-implementation-is-not-part-of-the-w

[2020-12-01 04:51] SubhashVasarapu-MSFT commented on #66918
@rbschneider, Thanks for the quick PR. @donghui-wu777, Appreciate your feedback. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-01 04:51] #66918 closed

[2020-12-01 04:57] saimachi opened #66925 "Bash Script to Assign Ingress Public IP to FQDN"
Hello,

I am currently installing an ingress controller in my AKS cluster. I have successfully installed it, yet I am unable to use the provided bash script to assign the ingress dynamic public IP to an FQDN. Whenever I execute the script, I receive the following error:

![image](https://user-images.githubusercontent.com/37318129/100698566-a34a8380-334d-11eb-8afd-1ba4618380de.png)

I suspect that

[2020-12-01 05:03] WinstonHoward-MSFT commented on #66576
Since this is feedback regarding an additional ask onto the doc I've assigned the doc author.

[2020-12-01 05:38] BhargaviAnnadevara-MSFT commented on #66760
@ValeryCherepanov Ok, can you give the PS cmdlet a try?
[code]
Do you see those resources listed in the output?

[2020-12-01 05:42] CHEEKATLAPRADEEP-MSFT commented on #66900
@lumichael24  Thanks for the question! We are investigating and will update you shortly.

[2020-12-01 05:51] BharathNimmala-MSFT commented on #66685
@DynConcepts Thanks again for reaching out to us. Looking forward to see that you can work through with our support team and get your issue resolved.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however will keep track of the support ticket and if there is any feedback to enhance the document which can help o

[2020-12-01 05:51] #66685 closed

[2020-12-01 05:56] SwathiDhanwada-MSFT commented on #66906
Thanks for the feedback @jasonfritts .

Assigning to content author @rthorn17 for review and updating document accordingly.

[2020-12-01 06:06] ram-msft commented on #66720
@dinesarun Thanks we will double check with the product team for the document update that doesn't exist in current context.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-01 06:06] #66720 closed

[2020-12-01 06:06] GitaraniSharma-MSFT commented on #66627
@AElharouny , I received an update from the backend team that the Traffic Manager probe source IP doesn't change frequently but if they do, the only way to check that is through the JSON file as it is updated weekly or you can use AzureTrafficManager tag which will automatically include the updated IP addresses (if any).

We are closing this issue for now. If there are further questions regarding

[2020-12-01 06:06] #66627 closed

[2020-12-01 06:09] SadiqhAhmed-MSFT commented on #66702
@devan10 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-01 06:09] #66702 closed

[2020-12-01 06:17] AnuragSharma-MSFT commented on #66856
@SarveshPandey Apologies for the late reply.

Restoring the database to existing SQL MI or new SQL MI will result in creation on new database. It does not overwrite the data in existing database but always creates a new database.

Same thing is mentioned when you want to overwrite the existing data, we need to first delete the existing database and then use restoring the database because two datab

[2020-12-01 06:20] iqsarv opened #66927 "Unauthorized exception in step number 12"
Receiving the following exception when trying to execute

[code]

Py4JJavaError: An error occurred while calling o206.csv.
: Operation failed: "This request is not authorized to perform this operation using this permission.", 403, HEAD, https://synapsefstest.dfs.core.windows.net/synapsefile/user/trusted-service-user/demo_df?upn=false&action=getStatus&timeout=90
	at org.apache.hadoop.fs.azurebfs.se

[2020-12-01 06:46] shabirjan opened #66928 "Missing information regarding agent 3 jvm path for Azure WebApp"
Hi
I am trying to configure the Agent 3 for our Java WebApp that is deployed on Azure WebApp, But I am unable to find any information regarding how I can provide JVM arguments for the agent on the Azure WebApp Configurations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750f10f8-28b3-c30d-2475-0e5217a446dd
* Version

[2020-12-01 06:52] SumanthMarigowda-MSFT commented on #66915
@elfcounsel Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-01 07:02] CHEEKATLAPRADEEP-MSFT commented on #66923
@swanderz  Thanks for the question! We are investigating and will update you shortly.

@filippopovic Could you please look into the ask?

[2020-12-01 07:04] CHEEKATLAPRADEEP-MSFT commented on #66927
@iqsarv  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) [Azure Synapse Analytics Forum](https://docs.microsoft.com/en-us/answers/topics/azure-synapse-analytics.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visib

[2020-12-01 07:10] donghui-wu777 commented on #66918
Thank you, everyone!

[2020-12-01 07:22] austinajit opened #66929 "Unable to find Restart-AzHDInsightHost in Az.HDInsight Powershell Module"
Unable to find the document accurate with the Az.HDInsight powershell module. Can you update the document to direct to the right command?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491cee5f-843f-74f1-a6ad-b6c53c5d96e3
* Version Independent ID: ff55399e-2a39-5918-1ede-f51c2a41ccd1
* Content: [Reboot VMs for A

[2020-12-01 07:25] rabindra-harlalka opened #66930 "Incorrect syntax in code sample"
Missing `$` in the `groupId=$(az group show...` command to get the id of the resource group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c5d2898-9714-9b98-f065-66a59889f909
* Version Independent ID: 6a7e0145-9e57-b2e6-04f6-9aeda314bad7
* Content: [Deploy container instance by GitHub action - Azure Container Instanc

[2020-12-01 07:45] mcurko commented on #66822
I'll have to test it, but the answer looks quite competent.

[2020-12-01 08:00] CHEEKATLAPRADEEP-MSFT commented on #66929
@austinajit  Could you please update the` Az.HDInsight` PowerShell module to find `Restart-AzHDInsightHost` cmdlet?

You can use the below command to update the [Az.HDInsight PowerShell module](https://www.powershellgallery.com/packages/Az.HDInsight/4.1.0).

`Install-Module -Name Az.HDInsight -Force`

Once you update the `Az.HDInsight` PowerShell module to the latest version, you will be able to f

[2020-12-01 08:10] Catskan commented on #66800
@AnuragSharma-MSFT sorry for the late answer.
Yes, by changing « DatabaseMaxSizeByte » with maximum value, the script working.

Thanks you for your advice.
Catskan

[2020-12-01 08:25] psmanhas commented on #66930
@rabindra-harlalka The document is updated and changes will go live soon.

[2020-12-01 08:32] SeppeDev commented on #66881
Aha, yeah that'll be the problem, the name of my file is not one approved as '$isMainTemplate'. So it'll probably validate my template as a linked template, which are not allowed to have a defaultValue for the location-variable. So changing the fileName to e.g. 'mainTemplate.json' should solve the error popping up, right?

[2020-12-01 08:35] dcurwin commented on #66550
Thank you for your feedback. The cmdlets were changed as requested.

#please-close

[2020-12-01 08:35] #66550 closed

[2020-12-01 09:06] tomkuijsten opened #66932 "LogLevel section should explain about ILogger<T> and the affect on category"
**Problem:**
It's really confusing that the documentation states that you can filter custom logging for a function using "Function.<FunctionName>", when in real life, that only works if using an ILogger in the function method. We use ILogger\<T\> in the constructor a lot and that affects the category used for logging in AI.

**Expected documentation:**
A warning  somewhere that these category's on

[2020-12-01 09:14] AjayKumar-MSFT commented on #65904
mcbsys, Apologies for the delay!

On this, 'you can set the linuxFxVersion to PHP|7.3 but that would pull a docker image which would not have WordPress configured as default.' settings this config, may not have WordPress as default, depends on the template (config).

If you wish to fork the built-in Docker containers that the platform provides. You can find those files as mentioned here
You can fi

[2020-12-01 09:26] SychevIgor commented on #66737
One extra example of unexpected behavior- if private link set and I can't work with keys from portal- export/import also should be unavailable for me. Because now I can load keys, but not import.
![image](https://user-images.githubusercontent.com/578954/100721420-5bb90b80-33d0-11eb-91d0-c248d053cb6a.png)

[2020-12-01 09:26] xuwenjian1995 opened #66933 "request improvements of "Set-AzDignosticSetting”cmdlet"
When we used the "Set-AzDignosticSetting" to set diagnostics setting for a specific resource, if we entered any faulty value, we will always received the error message "Bad Request- Code:Null". In addition, according to the parameter "-WorkspaceId" in the cmdlet, it is ambigious due to the **Workspace ID** under resource in portal but we actually need **the workspace resource id** in the propertie

[2020-12-01 09:29] jmprieur commented on #42830
We're having a discussion with the portal to change the wording and making it clear that this is not implict flow, but hybrid flow. This is in the pipe. Proposing to close this issue, now.

#please-close

[2020-12-01 09:29] #42830 closed

[2020-12-01 09:32] SumanthMarigowda-MSFT commented on #66778
@kiki-kekat Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-01 09:33] VikasPullagura-MSFT commented on #66825
@deepakj6
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-01 09:33] #66825 closed

[2020-12-01 09:37] kiki-kekat commented on #66778
Thank you!

[2020-12-01 09:45] SumanthMarigowda-MSFT commented on #66749
@oletho  As I understand: Prior to Azure File Sync agent version 3, Azure File Sync blocked the move of tiered files outside the server endpoint but on the same volume as the server endpoint. Copy operations, moves of non-tiered files, and moves of tiered to other volumes were unaffected. The reason for this behavior was the implicit assumption that File Explorer and other Windows APIs have that m

[2020-12-01 09:45] #66749 closed

[2020-12-01 09:57] VikasPullagura-MSFT commented on #66743
@LionHuntDiG Apologies for delayed response.

Can you please check the certificate subject name and the AKS Secret names and see if they match?

[2020-12-01 10:01] LionHuntDiG commented on #66743
of course there are same...

On Tue, 1 Dec 2020, 3:27 pm VikasPullagura-MSFT, <notifications@github.com>
wrote:

[2020-12-01 10:03] VikasPullagura-MSFT commented on #66814
@ii-batman Thanks for sharing the details.

Can you please check if same UDP port has been opened on the NSG's. Public IP's are not required if you are using S2S so would remove that?
Can you also try removing and subscribing back the WVD workspace if using WVD client.

[2020-12-01 10:05] savjani commented on #66669
@NavtejSaini-MSFT - Can you please assign this to @ambhatna to follow-up on this one. We may have to update this limitation in the documentation

[2020-12-01 10:10] VikasPullagura-MSFT commented on #66843
@VIPULKAM Apologies in delayed response. As per the error shared, it seems this could be because of taint/tolerance values.
Can you run `kubectl describe node`  and see if any taints are been setup and is that matching with tolerance in the pod?

[2020-12-01 10:12] MhAllan commented on #66732
I am pretty sure that is not what happened because I repeated a lot. strangely I can't produce it today!

[2020-12-01 10:19] AnuragSharma-MSFT commented on #66732
@MhAllan Sorry for the trouble you faced and glad its working now. Could be some temporary glitch and got resolved by product team.

[2020-12-01 10:20] AnuragSharma-MSFT commented on #66800
@Catskan Glad it worked out. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-01 10:20] #66800 closed

[2020-12-01 10:24] houeland opened #66935 "Google TPUs are Tensor Processing Units, not TensorFlow Processor Units"
The page incorrectly states "Custom circuits, such as Google's TensorFlow Processor Units (TPU), provide the highest efficiency. They can't be reconfigured as your needs change."

This should be Tensor Processing Units.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25565324-f64d-a8db-bc1c-e50956e6e878
* Version Indepe

[2020-12-01 10:36] VikasPullagura-MSFT commented on #66743
@LionHuntDiG Thanks for confirming. One more quick check on this, hope you installed a CA in this AKS?
Please try running `kubectl get certificate --namespace ingress-basic` here you get the status as False under Ready column. Try to delete that certificate and follow this article step by step and see if it works.

If you still run into issues, then support team can better assist you on this. Woul

[2020-12-01 10:39] LionHuntDiG commented on #66743
ya support ticket would5be helpfull,i tried already deleting also its
stucking in false state... the problem coming with dns zones I guess

On Tue, 1 Dec 2020, 4:06 pm VikasPullagura-MSFT, <notifications@github.com>
wrote:

[2020-12-01 10:40] ankitabhadouriya commented on #39783
Can we check the number of instances currently running ?

[2020-12-01 10:42] VikasPullagura-MSFT commented on #66743
@LionHuntDiG You can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this [thread](https://github.com/MicrosoftDocs/azure-docs/issues/66743). I can then enable your subscription for one time free support.
Once the issue is resolved, request you to post the solution/resolution here for the benefit of community.

Looking forward

[2020-12-01 10:42] LionHuntDiG commented on #66743
61e6cec0-0bd3-46ba-96db-e89c033a925a  my subscription id

On Tue, Dec 1, 2020 at 4:09 PM Shanmukha Nath Reddy <
nath.shanmukha@gmail.com> wrote:

[2020-12-01 11:11] MayankBargali-MSFT commented on #66932
@tomkuijsten Thank you for your feedback! We will review and update as appropriate.

[2020-12-01 11:14] MayankBargali-MSFT commented on #66768
@s3c-rsolar Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-12-01 11:14] #66768 closed

[2020-12-01 11:23] blafry commented on #26519
@Karishma-Tiwari-MSFT any news?

[2020-12-01 11:35] KrishnaG-MSFT commented on #66933
@xuwenjian1995 Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-01 11:36] KrishnaG-MSFT commented on #66928
@shabirjan Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-01 11:41] amanmcse commented on #66823
@piotrgradzinski Sure, please find the complete technical profile below:

[code]

[2020-12-01 11:44] SychevIgor commented on #51428
https://github.com/MicrosoftDocs/azure-docs/issues/47270

[2020-12-01 11:46] SychevIgor commented on #7581
https://github.com/MicrosoftDocs/azure-docs/issues/47270

[2020-12-01 11:53] flarsmar opened #66938 "AzureAD Microsoft Graph API support"
Hello,

At location: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#change-state-using-powershell

When you go to this module page (MSOnline), the documentation there mentions that this module is outdated and encourages you to use the new one v2 module AzureAD that works via the Microsoft Graph API.

I've failed to find in this module the StrongAuthenti

[2020-12-01 12:18] AnuragSharma-MSFT commented on #66821
@ankurbajaj9 This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-01 12:19] #66930 closed

[2020-12-01 12:21] amanmcse commented on #66788
@fume Thank you for pointing this out. I have updated the doc and the change should reflect within 24 hrs.

[2020-12-01 12:21] #66788 closed

[2020-12-01 12:24] SychevIgor commented on #47270
if shortly- it would be great to have "simplest possible happy path sample" without facebook or other 3rd parties

[2020-12-01 12:29] KrishnaG-MSFT commented on #66678
@PatrickLownds Thanks for your comment! I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks.

[2020-12-01 12:29] #66678 closed

[2020-12-01 12:38] parameswar-mondal-fission commented on #28457
Can anyone please help me, How to get custom metrics for linux vm with namespaces using the REST API or NodeJS SDK ??

[2020-12-01 12:41] yash-abhyankar commented on #28457
What metric u want?

On Tue, Dec 1, 2020, 6:09 PM Parameswar Mondal <notifications@github.com>
wrote:

[2020-12-01 12:47] SychevIgor commented on #52943
@yoelhor @msmimart  could somebody update documentation to have it aligned with policy sample?
police sample referenced by this page don't include "setting.enableRememberMe" and on a page specified that is different from suggested 1.2
" <DataUri>urn:com:microsoft:aad:b2c:elements:unifiedssp:**1.1.0**</DataUri>"

[2020-12-01 12:51] #66760 closed

[2020-12-01 12:52] LoisMinvielle-github opened #66940 "Missing URL"
List of URLs missing "backup.windowsazure.com" -- This appears when attempting to register the SCVMM server to Azure Recovery Services Vault with the ASR Provider. The latest list of URLs for preparing Hyper-V infrastructure includes it: https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-prepare-on-premises-tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-01 13:01] MGoedtel commented on #66678
@PatrickLownds & @KrishnaG-MSFT - The path was meant to be %ProgramFiles%\AzureConnectedMachineAgent\ExtensionService\downloads. I will create a new PR to correct your update to that path and remove %SystemDrive% from it - %SystemDrive%\ProgramFiles%.. This is because %ProgramFiles% resolves to the path that includes the drive letter. I see another entry in the table that needs to be adjusted to b

[2020-12-01 13:06] maximepollet27 commented on #66765
Thank you @melissahoughton and @AshokPeddakotla-MSFT, the workaround did the trick! Sorry, it took me a few days to answer, I was working on other things and I didn't find the time to try your solution until now.

[2020-12-01 13:14] MonikaReddy-MSFT commented on #66940
@LoisMinvielle-github -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-01 13:17] AshokPeddakotla-MSFT commented on #66765
@maximepollet27 Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-01 13:17] #66765 closed

[2020-12-01 13:17] MonikaReddy-MSFT commented on #66940
@LoisMinvielle-github -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-01 13:17] #66940 closed

[2020-12-01 13:18] MonikaReddy-MSFT commented on #66840
@BertAnthonyRochester -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-12-01 13:18] #66840 closed

[2020-12-01 13:24] AjayKumar-MSFT commented on #66827
@TexNeil,  Thanks for the update and sharing more details.

I understand this document is the closet to your setup, just to clarify, [this](https://docs.microsoft.com/azure/azure-signalr/signalr-tutorial-authenticate-azure-functions) document aims at providing step by step tutorial to build a chat room with authentication and private messaging using Azure Functions, App Service Authentication, and

[2020-12-01 13:27] MonikaReddy-MSFT commented on #66865
@SychevIgor - I'm going to assign this to the document author so they can update the document accordingly.

[2020-12-01 13:52] parameswar-mondal-fission commented on #28457
Memory, Logical Disk

[2020-12-01 13:53] parameswar-mondal-fission commented on #28457
@yash-abhyankar I need Memory, Logical Disk metrics for linux VM

[2020-12-01 13:57] yash-abhyankar commented on #28457
I was able to get memory metric for windows. Via enabling guest metrics

On Tue, Dec 1, 2020, 7:24 PM Parameswar Mondal <notifications@github.com>
wrote:

[2020-12-01 14:01] parameswar-mondal-fission commented on #28457
Okay, I also got the windows vm metrics data for Memory, Logical Disk. But now I need Memory, Logical Disk metrics for linux VM.

[2020-12-01 14:04] mail2hjain commented on #65226
@SatishBoddu-MSFT re-opening for additional clarification regarding this.

We want to use this docker image in our product's edge deployment which would run on customer's machine (Host OS: Windows server 2016). However a section of the above license text also indicate that the software shall not be used for any commercial or revenue-generating activities.
![image](https://user-images.githubusercon

[2020-12-01 14:05] rfcdejong commented on #62877
This is very unstable and it must be a bug. I have configured many applications in our Azure AD before and verified it to our MPN ID. Worked fine all the time. Suddenly I;m running into this error. Logging out, enforcing a new MFA doesn't work either.

{
  "error": {
    "code": "UnableToAddPublisher",
    "message": "A verified publisher cannot be added to this application. Please contact your ad

[2020-12-01 14:06] yash-abhyankar commented on #28457
Oh not sure for the linux. Arent you getting it for linux in the same way
as windows?

On Tue, Dec 1, 2020, 7:31 PM Parameswar Mondal <notifications@github.com>
wrote:

[2020-12-01 14:12] alexjebens opened #66941 "Single Node Configurtion"
According to MS Support this does not apply to single node clusters. We had a catastrophc failure with no recovery in one cluster. Here is an axcerpt from the ticket:

1. Firstly, as this is a single node cluster, AKS-remediator sensed this to be a single-point-of-failure (SPOF) scenario, hence it did not trigger a reboot.

2. Secondly, at the time of the issue, kubelet was not reporting the node

[2020-12-01 14:24] VIPULKAM commented on #66843
Nope I have not set taint and tolerance on nodes. I have set label and
using selector in deployment defination

On Tue, Dec 1, 2020, 4:11 AM VikasPullagura-MSFT <notifications@github.com>
wrote:

[2020-12-01 14:27] NavtejSaini-MSFT commented on #66669
Thank you for confirming @savjani.
@yoshioterada We are assigning this case to our doc author @ambhatna for review.

[2020-12-01 14:28] ms-vincent commented on #66716
@justinmklam  Just to clarify, I'm trying to run Storage explorer 1.9 on Windows but using it to write to blob storage on IoT edge which is running on Ubuntu. I assume this scenario is fine? d

[2020-12-01 14:28] VikasPullagura-MSFT commented on #66941
@alexjebens
Thanks for sharing the details to improve the azure documentation! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-01 14:28] VikasPullagura-MSFT commented on #66941
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-12-01 14:41] gary918 opened #66944 "Do we have the Python sample code for 'Use dynamic configuration in an Azure Functions app'?"
[Do we have the Python sample code for 'Use dynamic configuration in an Azure Functions app'? Please refer
 to https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-azure-functions-csharp]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22237330-6826-5a33-80b9-73c9beb5417a
* Version

[2020-12-01 14:47] RyanHill-MSFT commented on #66604
Hi @VVisnjic, you are correct and I will be updating the doc. APNS doesn't support wildcards for bundle IDs and it will have to be unique per app, albeit scenarios such as complication or voip are supported as documented here https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html.

[2020-12-01 14:48] ii-batman commented on #66814
@VikasPullagura-MSFT
I am really not seeing this.
From my internal machines I have direct line of site to the SH via S2S and I still cant UDP in...
Externally I cant see the SH except via WVD so thats why I assigned a public IP.
Not sure where to go next...

[2020-12-01 14:49] RohitMungi-MSFT commented on #66935
@houeland Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-12-01 14:50] perktime opened #66945 "Please include an article that has steps to create a private endpoint using an Azure resource from a different Azure subscription/tenant"
It would be helpful to have an article that demonstrates how to create a private endpoint that is using an Azure resource from a different Azure subscription/tenant. It should include the steps to create the private endpoint using the resource ID as well as the steps in the source subscription to approve the request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-12-01 14:50] VikasPullagura-MSFT commented on #66814
@ii-batman I would recommend to open a support case as this need deeper investigation and troubleshooting.

Incase you don't have a support plan, let me know so that I can help you by enabling a onetime free support on your subscription.

[2020-12-01 14:52] VikasPullagura-MSFT commented on #66843
@VIPULKAM I would recommend to open a support case as this need deeper investigation and troubleshooting.

Once the issue is resolved, request you to post the solution/resolution here for the benefit of community.

Incase you don't have a support plan, let me know so that I can help you by enabling a onetime free support on your subscription.

[2020-12-01 14:53] xdcarp commented on #23825
I'm having the same problem, is there a solution?

[2020-12-01 14:56] perktime opened #66946 "Step to add VM's to backend pool are missing"
The article should mention something about adding the VM's to the backend pool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49-8135-d208ee13bc14
* Content: [Quickstart - Create a Private Link service by using the Azure portal](https://doc

[2020-12-01 15:00] rmcolbert commented on #65868
FYI: It sounds like the product group is going to change the Private Link domain used for the ADF portal to be something like "privatelink.adf.azure.com" in the near future.

[2020-12-01 15:01] zaricase opened #66947 "durability tier chart discrepancy"
[Enter feedback here]
On the Durability Tier chart it claims the minimum required number of VMs for the Silver level is 5 when in reality you can have as little as 3 VMs at Silver durability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-

[2020-12-01 15:06] JayaChatterjee-MSFT commented on #66719
@matejskubic If you programmatically send the message to the queue you can either try:

`await queueClient.SendMessageAsync(Base64Encode(serializedCommand), cancellationToken);
        private static string Base64Encode(string plainText)
        {
            var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(plainText);
            return System.Convert.ToBase64String(plainTextBytes);

[2020-12-01 15:10] Mohammadzafaranwar opened #66948 "Mohammad Zafar Anwar"
NAME= MOHAMMAD ZAFAR ANWAR
Email address= zafaranwarmohammad@gmail.com
Mobile Number= 9931855945
AADHAR CARD= 368403333829
PAN CARD=BXLPA4071J
ADDRESS= ABDUL MOZIB ROAD BHIKANPUR BHAGALPUR BIHAR  #INDIA
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent ID: 6abac9a6

[2020-12-01 15:13] KrishnaG-MSFT commented on #66678
@MGoedtel Sure. Thanks for that. I have tested with %SystemDrive%\ProgramFiles% and as it was working so just updated with it but yes it makes more sense if we just give %ProgramFiles% instead of %SystemDrive%\ProgramFiles% because %ProgramFiles% resolves to the path that includes the drive letter as well. Thanks.

[2020-12-01 15:16] saifbadran9 opened #66949 "Unable to access files in Shared storage for Windows Container"
Hello Team,

First, a side note:
- Please specify that Windows Containers, unlike App Service on Linux, is limited to Azure Files. And it does not support Azure Blob.

- We're having an issue, although we're using Azure Files, we are unable to access (read/write) files after the path mapping, we see the directory but we can't cd into it.
![image](https://user-images.githubusercontent.com/31154438/

[2020-12-01 15:20] pebarrer opened #66950 "NSG Specification is incorrect and will fail creation of the AzureBastionSubnet"
The rules specified here are not sufficient for an NSG on the AzureBastionSubnet.  When implemented as specieid the Bastion Subnet will not create with an error as documented here: https://docs.microsoft.com/en-us/azure/bastion/troubleshoot#nsg.  Creating the NSG from the quickstart mentioned in the above documentation link does work.

I believe the relevant difference is in the inbound security r

[2020-12-01 15:34] MonikaReddy-MSFT commented on #66944
@gary918 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-01 15:40] tfitzmac commented on #66089
We'll close this item for now. If there is more that needs to be added to the docs, let us know.

[2020-12-01 15:40] tfitzmac commented on #66089
#please-close

[2020-12-01 15:40] #66089 closed

[2020-12-01 15:50] #66604 closed

[2020-12-01 15:52] LarsKemmann opened #66952 "Recommended timestamp format is not consistent with Syslog standard"
Hi IoT Edge team,

The documentation recommends a timestamp format of `"yyyy-mm-dd hh:mm:ss.fff zzz"` and a Syslog format for Severity. Those are not really consistent with each other, which leads to some confusion. Also, the angle brackets make it appear that you really intend a Syslog _Priority_ but if I understand correctly IoT Edge only looks at the _Severity_ part of the Syslog Priority and d

[2020-12-01 15:54] yichungyu commented on #66734
Thanks for the updates @AnuragSharma-MSFT !

[2020-12-01 15:56] sumanbasireddy opened #66953 "Createcontainer using BlobContainerClient with MSI authorization is failing"
I have followed this document https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi?toc=/azure/storage/blobs/toc.json

"await containerClient.CreateIfNotExistsAsync()"
This is failing with below error msg. Please help.
This request is not authorized to perform this operation.
RequestId:c419d3ca-101e-007d-6af5-c77250000000
Time:2020-12-01T15:22:22.7355068Z
Status: 403 (This req

[2020-12-01 16:01] #66339 closed

[2020-12-01 16:03] roygara commented on #66778
Hello @kiki-kekat, thanks for reaching out. I don't think there are any restrictions outside of those defined in the [overview article](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#supported-scenarios-and-restrictions) but I'll double check with the product team.

[2020-12-01 16:07] VVisnjic commented on #66604
Thanks for your answer @RyanHill-MSFT. Still, this doesn't solve my problem. As Apple explained [here](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/APNSOverview.html#//apple_ref/doc/uid/TP40008194-CH8-SW1) in the section **Token-Based Provider-to-APNs Trust**
"Token-based provider trust employs a certificate of type “Apple Push Notif

[2020-12-01 16:10] idunbar46 opened #66954 "KeyVault requirements"
posted in wrong document - please ignore!
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Quickstart: Register an app in the Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/deve

[2020-12-01 16:16] mmacy commented on #66954
Thanks for the notice, @idunbar46 - closing out.

#please-close

[2020-12-01 16:16] #66954 closed

[2020-12-01 16:25] SB-o-matic commented on #65835
Any feedback?

[2020-12-01 16:45] cchapin-ms opened #66955 "Prepare Devices section is unclear"
[Enter feedback here]
In the section "Prepare devices for preview", it is unclear what version is required. It says AAD joined machines require v1909, and then it follows with best experience on v1903 or higher. Hybrid joined should be on v2004 or higher.

If AAD joined and Hybrid joined require versions higher than v1903, should "The best experience is on Windows 10 version 1903 or higher." be ch

[2020-12-01 16:45] twright-msft commented on #65640
HI @padmajauk - Unfortunately your screen capture didnt come through.  Could you please try to post again or paste in just the text output of the command 'kubectl get crd'?

[2020-12-01 16:52] sumanbasireddy commented on #66953
Doc has issue, replace "Storage Blob Data Reader" with "Storage Blob Data Owner" will work.

[2020-12-01 16:54] RyanHill-MSFT commented on #66604
Sorry @VVisnjic, but this workflow isn't possible. Neither APNS nor Notification Hub supports wildcard bundle ids. Each app (bundle id) will need to have thier notification hub. However, you can utilize the single p8 token that you created in your developer account for all your associated apps.

[2020-12-01 16:55] SubhashVasarapu-MSFT commented on #66673
@lonevvolf, Appreciate your patience.  For scenarios connecting from the Azure DevOps Services outbound to the customer's on-prem, customers can now easily allow IPs by using the Azure Service Tag. The scenarios for using Service Tag and static IPs include:

1. Azure DevOps Services to connect to endpoints for Service Hooks use case.
2. For data import, Azure DevOps Services to connect to SQL serv

[2020-12-01 16:55] #66673 closed

[2020-12-01 16:56] bsod99 opened #66956 "Add or change users section has conflicting instructions"
The "Add or change users who can manage a reservation" section specifically says "it’s best to grant permissions to the reservation order, not the reservation," but then immediately (and only) gives instructions on how to grant permissions to the reservation itself...

It might also be nice to mention that it is not possible to do this programmatically (I cannot find a way to do this, at least)

-

[2020-12-01 16:58] VVisnjic commented on #66604
@RyanHill-MSFT Thanks for the quick answer.

[2020-12-01 17:00] GauravKRNSingh opened #66957 "Printer Redirection for WVD MacOS Client"
Hi,
Is printer redirection supported in macOS client of WVD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71ac503-a786-9a10-4560-1679cad31cfe
* Version Independent ID: 2a58cc25-4f7d-ca17-d6d0-1b6e9c6cd90a
* Content: [Connect to Windows Virtual Desktop from macOS - Azure](https://docs.microsoft.com/en-us/azure/virtua

[2020-12-01 17:02] msmimart commented on #52784
Thanks @dotnetgator for these insights and @yoelhor for the background; I'm retaining this for reference as we update guidance. For now we'll close this issue but feel free to comment back with further suggestions. #please-close

[2020-12-01 17:02] #52784 closed

[2020-12-01 17:07] ggailey777 commented on #66895
Thanks @pragnagopa

[2020-12-01 17:09] BharathNimmala-MSFT commented on #66925
@saimachi  Thank you for reaching out, our team will review and get back to you at the earliest.

[2020-12-01 17:15] nerajput1607 commented on #66408
Thanks for reporting this. We are doing a fix for this.

[2020-12-01 17:16] nerajput1607 commented on #66408
duplicate of : https://github.com/MicrosoftDocs/azure-docs/issues/66407

[2020-12-01 17:19] kalkusa commented on #49245
To me, Linux B2 worked as well. B1 and F1 does not.

[2020-12-01 17:22] nerajput1607 commented on #65761
Please have a look at our documentation around [Manage QnA Maker resources](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/azure-resources). This article also talks about the pricing tiers and recommended settings.

[2020-12-01 17:25] nerajput1607 commented on #65759
Hi @gitathrun, The first ranker is Azure Search here (step 4), which works as our storage and L1 ranker and the second ranker is step 5, which consist of L2 rankers.
QnA Maker GA and QnA Maker managed uses different kind of L2 rankers.

[2020-12-01 17:25] DmytroAndriychenko opened #66958 "Definition of Sliding window appears to be a little inaccurate..."
"Every window has at least one event, like in the case of Hopping windows, events can belong to more than one sliding window"
It seems that is a little confusing, logically: there should be a full stop after the first statement. Otherwise the likeness to Hopping window may be misunderstood: there may be Hopping windows without any events, that is, for example, there was no tweets at all during a p

[2020-12-01 17:28] DmytroAndriychenko commented on #66958
Sorry, it was me confused, the likeness to Hopping window here is in the events belonging to more than one window.

[2020-12-01 17:37] WinstonHoward-MSFT commented on #66658
@fratschi, I was able to deploy the MySQL Server successfully following the guide. The error message your receiving typically refers to attempting to login to the MySQL Server without the root password, not having enough privileges to login, or most likely a mismatched root password. Try the following:

1. See the step [MySQL password](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/

[2020-12-01 17:44] JamesTran-MSFT commented on #66938
@flarsmar
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-01 17:47] WinstonHoward-MSFT commented on #66857
@ma763488, can you provide the **full context** of the script your trying to execute - preferably as plain text and not as a screenshot? Thanks!

[2020-12-01 17:51] WinstonHoward-MSFT commented on #66947
Thanks for pointing out the discrepancy, I've assigned this thread to the author to take a look.

[2020-12-01 17:53] WinstonHoward-MSFT commented on #66957
Thanks for the question, I'll take a look.

[2020-12-01 17:54] YutongTie-MSFT commented on #66771
@PatrickFarley Hi Patrick, could you please check this issue and the code sample? Please update the document if need. Thank you.

[2020-12-01 18:03] tjohnson1010 opened #66959 "sliding window trigger description of Future runs is inconsistent"
The description of "Sliding Window" vs. Reoccurrence is different when Start time is in past.  under Reoccurence future runs are based on Last Run Time, where as for Sliding Window future run are calculated based on Start Time.  But when Start is not past, they don't specify this difference and just say futures run are based on Last Run Time.  It seems like inconsistent behavior if teh documentati

[2020-12-01 18:20] BRiley01 opened #66961 "Azure VM Scale Set CustomScriptExtension Failing"
I have followed the steps here and it did not create an initialized/formatted disc.  I opened an issue on stack overflow and no one else was able to get the instructions to work either: https://stackoverflow.com/questions/65005883/azure-vm-scale-set-customscriptextension-failing

Is it possible the document or API needs to be updated?

Thank you,
Brian

---
#### Document Details

⚠ *Do not edit th

[2020-12-01 18:33] yichungyu commented on #66734
Hi @AnuragSharma-MSFT could you please also help me with another question? My customer is also concerned with the data that is being transferred over port 80, and wishes to ask us if we can confirm that no sensitive data is being transferred from the point of view of Redis. Do you by any chance have that info, or know someone whom I can check with? If you prefer to chat over Teams, you should be a

[2020-12-01 18:35] rbschneider commented on #66674
@jikuja, sorry:
1. Your original question:
- a single function app in one host instance is an application running on one virtual machine (instance.)
- a single function app across all host instances means that the application is deployed across multiple virtual machines (instances.)
2. Have a look at this page which describes the background process and I assume it will shed some light on your issu

[2020-12-01 18:43] zhenlan commented on #66944
@gary918 we don't have a document of such. We don't have a similar 'config provider' in Python like the .NET Core one discussed in the document you referred to. In Python, you will have to use the Python SDK and write your code to retrieve key-values from App Configuration. Here is a quickstart for Python.

https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-python

[2020-12-01 18:43] foconnor-DS opened #66962 "Confusion between Instance Termination and Scheduled Events"
This page should be explicit at the very beginning that enabling Instance Termination on a VMSS only works in "Regular" priority mode. Not for Spot, not for Low Priority. It's impossible to follow these steps on a spot VMSS.

You should probably link to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-events#enabling-and-disabling-scheduled-events where it's made clear tha

[2020-12-01 18:49] JamesTran-MSFT commented on #66948
@Mohammadzafaranwar
Thank you for your inquiry! Since there's not enough information in this post to declare it as a doc enhancement, question, etc., I'll go ahead and close out this issue.

Please feel free to create a new issue with more details regarding your questions and we'd be more then happy to help.

Thank you for your time and patience!

[2020-12-01 18:49] #66948 closed

[2020-12-01 18:50] WinstonHoward-MSFT commented on #66957
So for printer redirection, the macOS app supports the Publisher Imagesetter printer driver by default. It does not support redirecting native printer drivers. See this comparison of the [WVD Clients](https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/clients/remote-desktop-app-compare#other-redirection-devices-etc). Closing this issue as the question has been answered.

[2020-12-01 18:50] #66957 closed

[2020-12-01 19:21] PatrickLownds opened #66964 "Agent Component Details section -> please clarify."
The Agent Component Details section of this doc doesn't explain if the three services mentioned i.e. HIMDS, Guest Configuration and Extension Agent are all part of one service i.e. Azure Connected Machine Agent? If not, what services are bundled into the Azure Connected Machine Agent? Is the Guest Configuration only deployed when Policies are enabled? Also, there is no explanation on what the Depe

[2020-12-01 19:34] Grace-MacJones-MSFT commented on #66949
Hi @saifbadran9 , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-12-01 19:37] prbans opened #66966 "Model ID param is unclear"
Is there more information on what ModelId is and how to use it? This page is pretty confusing on what it does, where it comes from and how to get it from your app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1d0558-8037-5162-cea2-03bc56e24bc8
* Version Independent ID: 23e26af9-b9ac-ef9a-601d-27eb4c323233
* Content:

[2020-12-01 19:38] MGoedtel commented on #66964
@PatrickLownds - Each of these agent components HIMDS (Azure Hybrid Instance Metadata service), Guest Configuration Extension service, and Guest Configuration service are individual services that are key components of the Azure Connected Machine agent. The Dependency agent is part of Azure Monitor and is a dependency for the Azure Monitor for VMs Map feature, it has nothing to do with Arc enabled

[2020-12-01 19:43] bwren commented on #55939
Sorry for this horribly late replay. Cleaning up some old issues that we missed. We actually have several updates coming on this topic. We need to highlight Arc as the primary hybrid story, and we're going to soon start shifting focus to the Azure Monitor agent instead of the Log Analytics agents as the means to collect log data. We're also restructuring the quickstarts and tutorials. We are defin

[2020-12-01 19:43] #55939 closed

[2020-12-01 19:44] MarileeTurscak-MSFT commented on #66955
@cchapin-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-01 20:08] jollyoldsaintnixon opened #66967 "'content' variable shows file path, not 'Hello, World!'"
[Enter feedback here]
Things worked well, except the 'content' variable showed the file path instead of "Hello, World!".
Variable is defined here on line 111:
 `blob, content = blob_client.get_blob(container_name,local_file_name)`

I am using Ubuntu, does this have anything to do with my issue?  Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-12-01 20:14] VIPULKAM commented on #66843
Thanks Vikas , I do not have a support plan with my subscription.

Best Regards,
Vipul Kadam

On Tue, Dec 1, 2020 at 8:52 AM VikasPullagura-MSFT <notifications@github.com>
wrote:

[2020-12-01 20:20] JamesTran-MSFT commented on #66914
@rbrayb
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-01 20:27] JamesTran-MSFT commented on #66912
@SHANE0MAC
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-01 20:30] motowilliams opened #66968 "Download VPN Client link doesn't return a file called vpnconfig.ovpn"
The download VPN Client link returns an  archive with contents such as:

[code]

with no file called vpnconfig.ovpn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1160f766-529b-5072-03ba-8a8ce65facfa
* Version Independent ID: 912d5a40-91b6-7657-e578-10c8af716385
* Content: [Configure OpenVPN clients for Azure Virtual W

[2020-12-01 20:41] bwren commented on #57829
Sorry for horribly late reply. I'm cleaning up some old issues that we missed. This article has actually been completely rewritten and no longer uses the Event table. We also have a tutorial now for the language that was completely tested in the demo environment.  https://docs.microsoft.com/azure/data-explorer/kusto/query/tutorial?pivots=azuremonitor

#please-close

[2020-12-01 20:41] #57829 closed

[2020-12-01 20:47] WinstonHoward-MSFT commented on #66962
Thanks for the feedback, I've assigned this to the doc author to take a look at the doc.

[2020-12-01 20:56] WinstonHoward-MSFT commented on #66961
Thanks for opening the bug, let me take a look.

[2020-12-01 20:56] mpalmier74 opened #66969 "link instructions to enable managed identities on a VM"
I would suggest to add a prerequisite. The VM must have system-assigned managed identity already setup. It was mentioned in the introduction, but didn't know how to do this on a VM. Then I have found this other link that describes how to enable "system-assigned management identity" on a VM: https://docs.microsoft.com/en-US/azure/role-based-access-control/role-assignments-portal.

---
#### Document

[2020-12-01 21:09] MarileeTurscak-MSFT commented on #66969
@mpalmier74
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-01 21:41] annony-sys opened #66970 "Typo"
The [Design section](https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-route-through-nva#design) mentions that vNets are in the "connectivity matrix", however, in reality they are in "Figure 2". Examples:

Also, the paragraph that is under the "connectivity matrix" table in [Design section](https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-route-through-nva#design) contains a t

[2020-12-01 21:46] MarileeTurscak-MSFT commented on #66969
Thank you! I made a pull request to add the reference and update the prerequisites. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139553

[2020-12-01 21:46] #66969 closed

[2020-12-01 21:49] WinstonHoward-MSFT commented on #66961
The section of the doc with the command to execute is for a Service Fabric cluster.

Are you trying to attach an existing data disk with content to a scale set as looking at the stack overflow doc you provided it looks like your trying to attach a new, unformatted data disk without content which isn't supported for VMSS per this doc. Could you provide more information as to the nature of this doc

[2020-12-01 21:59] austinajit commented on #66929
I think I missed the Force. This helps. Thanks.

[2020-12-01 21:59] #66929 closed

[2020-12-01 22:17] olga-mir opened #66973 "KV VM extension for Linux needs a better example for "name" field"
Example snippet on this page: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-linux contains the following snippet:

[code]
This doesn't work and takes long trial and error to get the name right. The name must be contain one "/" and be of the form "`<vmName>/<nameForExtension>`, e.g. `myVm/KVVMExtensionForLinux`

---
#### Document Details

⚠ *Do not edit this section.

[2020-12-01 22:19] jeevansd commented on #66605
@chetansriv and @v-hagamp any update here?

[2020-12-01 22:24] bwren commented on #55011
Sorry for the horribly late reply. Cleaning up some issues that we missed. We actually retired this article as part of a restructure of the log query content. Articles now in the ADX content that are similar - https://docs.microsoft.com/azure/data-explorer/kusto/query/tutorial?pivots=azuremonitor, https://docs.microsoft.com/azure/data-explorer/kusto/query/best-practices.

#please-close

[2020-12-01 22:24] #55011 closed

[2020-12-01 22:46] mhopkins-msft commented on #66910
@matg8383 I went ahead and updated the Maven commands to make them specific for Bash and PowerShell. It should be published later today.

Thanks for your feedback!
 ~ *Mark*

[2020-12-01 22:55] rwike77 commented on #61062
@YassineSOUABNI Thanks for the suggestion.  I added some info to this article.  #please-close

[2020-12-01 22:55] #61062 closed

[2020-12-01 22:57] Karishma-Tiwari-MSFT commented on #65464
As mentioned in the note in the document:

These commands assume there is only one IP configuration and load balancer on the scale set. If there are multiple, you may need to use a list index other than 0.

Can you please confirm that this is not the case with your scenario. Thanks.

[2020-12-01 23:00] Karishma-Tiwari-MSFT commented on #65887
@MashaMSFT Can you please share your insights on the customer's question with the statement in the document. Thanks :)

[2020-12-01 23:12] BRiley01 commented on #66961
Perhaps I confused myself.  I was trying to create a Service Fabric cluster
where the VMSS would create nodes with a formatted and attached data disk.
In experimenting, I moved away from a SF cluster deploy and moved to a pure
VMSS deploy to minimize the case of what I was trying to create.  It seems
in doing so I changed the scope of the problem and you are correct, it says
this will only work wi

[2020-12-01 23:21] WinstonHoward-MSFT commented on #66973
Thanks for opening the issue, it's been assigned to the author.

[2020-12-01 23:23] DerekHerman-MSFT commented on #66967
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-01 23:31] oleksandr-bilyk opened #66974 "Add documentation and better sample"
["Microsoft.AppConfiguration configurationStores template reference"](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/configurationstores) article contains sample of resource type
"Microsoft.AppConfiguration/configurationStores/keyValues". However [Azure Templates documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/configurationsto

[2020-12-01 23:42] autohub7 commented on #39611
@MarshHawk I have the same issue. (I'm new to asp.net and Azure)
Could you elaborate 2. and 3. more?

[2020-12-01 23:48] WinstonHoward-MSFT commented on #66961
Sure, closing the issue then. Best of luck with your experimenting!

[2020-12-01 23:48] #66961 closed

[2020-12-01 23:54] madmaxlax opened #66975 "not clear on how to initialize a metastore"
I was trying to initialize my external hive metastore and set up the schemas for the first time.
this was scattered throughout the page but should be in one place. these are ALL the settings required to initialize a metastore (this was for version 1.2.1):

config name|value
--|--
datanucleus.fixedDatastore | false
hive.metastore.schema.verification.record.version | false
datanucleus.autoCreateSche

[2020-12-02 00:08] ChaitanyaNaykodi-MSFT commented on #66959
Hello @tjohnson1010, Thank you for your feedback! We will review and update as appropriate.

[2020-12-02 00:15] mimckitt commented on #66215
Closing this out but if you have additional questions just let me know.

#please-close

[2020-12-02 00:15] #66215 closed

[2020-12-02 00:22] b-juche commented on #66915
@elfcounsel - Thanks again for calling out this change.  We changed the limit description
From:
Number of NetApp accounts per Azure region
To:
Number of NetApp accounts per Azure region per subscription

The change is in the pipeline for publishing.  ETA: 12/2/2020.

Let me know if you have further comments.

[2020-12-02 00:23] SubhashVasarapu-MSFT commented on #66970
@annony-sys, the doc has been updated accordingly. It would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-02 00:23] #66970 closed

[2020-12-02 00:24] b-juche commented on #66915
Change made in PR 139570, merged for publishing.

#please-close

[2020-12-02 00:24] #66915 closed

[2020-12-02 00:24] BharathNimmala-MSFT commented on #66974
@oleksandr-bilyk Thanks a lot for bringing this to our attention. I have assigned the issue to our document author @ZhijunZhao to further review the feedback and update the document accordingly.

[2020-12-02 00:32] SubhashVasarapu-MSFT commented on #66968
@motowilliams, the tunnel must be set to OpenVPN (SSL) mode and then try downloading the VPN client. You should see the following folder,

**SS:1**

![image](https://user-images.githubusercontent.com/44890829/100812783-dd0dae00-3463-11eb-9ff9-1fa52bf4b2f1.png)

**SS:2**

![image](https://user-images.githubusercontent.com/44890829/100812814-eb5bca00-3463-11eb-8c65-3513f5f92bcf.png)

[2020-12-02 00:36] worlin opened #66976 "change the credential = DefaultAzureCredential() to credential = VisualStudioCodeCredential() and suffered issue"
Changed the code as credential = VisualStudioCodeCredential() and then suffered the issue.
![image](https://user-images.githubusercontent.com/73322628/100813020-5a8fe900-3479-11eb-91fe-173fdadadbb6.png)
![image](https://user-images.githubusercontent.com/73322628/100813037-62e82400-3479-11eb-84cd-92ffd378a0eb.png)

I was wondering if I can register VS code in AAD tenant to resolve the issue.

---
#

[2020-12-02 01:24] Jeankimgithub commented on #66835
Hi,

Just checking if any update yet.
Thank you.

Regards,
Jean

[2020-12-02 01:26] #66976 closed

[2020-12-02 01:32] kxying-kk opened #66978 "Do you have github repo for this sample? thanks"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afc14028-8f4c-05bf-8a01-3ce82041b0b2
* Version Independent ID: 05e48444-1d81-07de-5ca5-1efcc9241d00
* Content: [Tutorial for using Azure App Configuration Key Vault references in a Java Spring Boot app](https://docs.microsoft.com/en-us/azure/azure-app

[2020-12-02 01:43] ericy99 opened #66979 "Couldn't get it work when I copied my own Laravel application and uploaded"
[Enter feedback here]
I was able to follow the page with the sample application OK. But once I copied my own application in and upload. My application does not work - even no home page ( it works locally on my machine).

I felt something wrong with this section
https://docs.microsoft.com/en-us/azure/app-service/configure-language-php?pivots=platform-linux#change-site-root
"Change site root
...To w

[2020-12-02 01:45] barborico opened #66980 "Azure RBAC granularity misstated"
https://docs.microsoft.com/en-us/azure/key-vault/general/authentication-fundamentals#data-plane-access-option-2--azure-rbac-for-key-vault-preview

This makes it sound like you can grant access to a specific object (secret, cert, etc.) within a vault, which is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-12-02 01:50] MarileeTurscak-MSFT commented on #66945
@perktime
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 02:03] vc-zhu commented on #66572
@MayankBargali-MSFT  Thank you!:)

[2020-12-02 02:06] MarileeTurscak-MSFT commented on #66946
@perktime
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 02:07] MarileeTurscak-MSFT commented on #66950
@pebarrer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 02:09] MarileeTurscak-MSFT commented on #66952
@LarsKemmann
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 02:12] RyanHill-MSFT commented on #39611
@smartstoremx you need to change the log level to either Debug or Verbose to pick up the additional logging.

[2020-12-02 02:17] IngridAtMicrosoft commented on #66376
This has been resolved. #please-close

[2020-12-02 02:17] #66376 closed

[2020-12-02 02:30] RyanHill-MSFT commented on #39611
Hi @autohub7, `ILogger<T>` is injectable with the IoC container that's part of .NET Core. By injecting a type like `ILogger<Privacy>` where `Privacy` is a Razor page into its constructor, the service provider will return a Logger that will log like the snippet below:

[code]
Where info will display type where `.Log()` was invoked from. You can [configure logging](https://docs.microsoft.com/en-us/a

[2020-12-02 02:41] chocky005 opened #66981 "Update how to add roles"
Please update website
Assign the Azure AD test user
Needs to include how to add roles eg how to add the "meraki_full_admin" role from the "Meraki Dashboard | App roles | Preview" tab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e25502b7-432c-e8ff-2dde-f21e8ba6b4db
* Version Independent ID: ab9b51a1-d5c9-050b-ef67-0f1

[2020-12-02 03:01] VikasPullagura-MSFT commented on #66843
@VIPULKAM You can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this [thread](https://github.com/MicrosoftDocs/azure-docs/issues/66843). I can then enable your subscription for one time free support.
Once the issue is resolved, request you to post the solution/resolution here for the benefit of community.

Looking forward fo

[2020-12-02 03:18] jiayi11 commented on #66737
Hi @SychevIgor, when private endpoint is not enabled, can you access you key values in Configuration explorer page? I'm asking because from your screenshot, looks like you were indeed experiencing some network issues (vpn, firewall etc.) when retrieving key values. If network is fine and you just have private endpoint enabled, you should see the 403 error page which looks like:
![image](https://us

[2020-12-02 03:43] ruderod opened #66985 "north korea?"
At the bottom of document,  it says "Contoso has blocked north korea" in so many words,  but the example screenshot does not directly show results showing blocked nor how that IP address equals a certain geographic area.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b96bf8a-e95d-292c-366d-c5d2a

[2020-12-02 03:48] #66110 closed

[2020-12-02 04:01] parameswar-mondal-fission commented on #28457
No, I'm not getting metric namespace for linux vm. So I'm not getting the custom metrics information.

[2020-12-02 04:07] MayankBargali-MSFT commented on #66956
@bsod99 Thank you for your feedback! We will review and update as appropriate.

[2020-12-02 04:11] MayankBargali-MSFT commented on #66958
@DmytroAndriychenko Thank you for your feedback! We will review and update as appropriate.

[2020-12-02 04:16] AnuragSharma-MSFT commented on #66856
@SarveshPandey Please let us know if above comment helps or you need more details on the same.

[2020-12-02 04:21] mjtpena opened #66986 "Metamask requires Chain ID"
[Enter feedback here]

What should be the value for Chain ID for default Azure Blockchain Service?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27fa8d9-403c-653d-6a73-df7c358ac493
* Version Independent ID: ba7cc0cd-6d4e-bf8e-6f27-d8f0e333d240
* Content: [Connect MetaMask to an Azure Blockchain Service network - Azure

[2020-12-02 04:33] AshokPeddakotla-MSFT commented on #66986
@mjtpena Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-02 04:34] AshokPeddakotla-MSFT commented on #66966
@prbans Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-02 04:40] lalitkumarms opened #66987 "More explaination on Resource Provider & Manager Model"
[Enter feedback here]It will be more nice if we can add more details about what is Resource Provider Model and Resource Manager Model, It is very difficult to get the concept y looking at this page

https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#resource-manager-modes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-12-02 05:52] AshokPeddakotla-MSFT commented on #66740
@xelossan We hope hat address your query. Let us know if you have any other queries.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-02 05:52] #66740 closed

[2020-12-02 05:53] wahyuen opened #66988 "'group deployment' is deprecated"
The given example suggests we use `group deployment`, however, it appears this command has been marked as deprecated

`This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.`

Suggest the documentation be updated to utilize `group deployment` instead.

---
#### Document Details

⚠ *Do not

[2020-12-02 06:08] justinmklam commented on #66716
Sorry for the ambiguity, I'll clarify my statement:

I was trying to use Storage Explorer to connect to an IoT Edge device (Raspberry Pi) from my laptop (Ubuntu), since I wanted to create a local blob container on the Raspberry Pi. I ran into similar issues of not being able to connect, and when I saw you had the workaround of using Storage Explorer v1.9, I tried it too but was unable to get that

[2020-12-02 06:15] #66935 closed

[2020-12-02 06:16] CHEEKATLAPRADEEP-MSFT commented on #66975
@madmaxlax  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-12-02 06:30] SadiqhAhmed-MSFT commented on #66956
@bandersmsft For visibility

[2020-12-02 06:31] shashishailaj commented on #66985
@ruderod Thank you for your feedback . We have engaged the content team to look into this and provide more information on the screenshot .

[2020-12-02 06:32] shashishailaj commented on #66985
@MicrosoftGuyJFlo Could you please look into this one ?

Thank you.

[2020-12-02 06:35] shashishailaj commented on #66981
@chocky005 Thank you for your inputs. We will engage the content author on this and see how best this could be changed.

[2020-12-02 06:35] SychevIgor commented on #66737
@jiayi11 I have enough permissions to access (contributor rbac role assigned on resource scope),  private endpoint enabled. And message was exactly as on my screenshot.
It's strange assumption that all other components of azure portal working normally (no issues with firewall or VPN), all other tabs and buttons worked normally too for azure ap configuration except "configuration explorer" and "imp

[2020-12-02 06:39] GitaraniSharma-MSFT commented on #66791
@jhueppauff , I checked with the Bastion backend team and they mentioned that they will get the image updated with TLS shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-02 06:39] #66791 closed

[2020-12-02 06:46] BryanTrach-MSFT commented on #66810
@harirajan0664 We looked in the Azure portal and tried creating a new Linux Web app with a new Linux App Service Plan. Available options were F1(free),B1, B2, B3, S1, S2, S3, P1V2, P2V2, P3V2, P1V3, P2V3, P3V3. There was no shared tier available to select.

I went to the second link that you provided but the page does not mention in the chart a shared tier column nor a shared tier description lowe

[2020-12-02 06:46] #66810 closed

[2020-12-02 06:56] GitaraniSharma-MSFT commented on #66786
@laglergruener , I checked with the backend team and internal forums but couldn't find any such known issue available.

[2020-12-02 06:58] HarithaMaddi-MSFT commented on #66958
@DmytroAndriychenko  - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#139610

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-12-02 07:01] #66958 closed

[2020-12-02 07:03] GitaraniSharma-MSFT commented on #66786
@laglergruener , I checked with the backend team and internal forums but couldn't find any such known issue available.
Hence, in order to investigate this issue further, I would advise you to either post the issue on [Q&A forum](https://docs.microsoft.com/en-us/answers/questions/topics/single/25517.html) or file a support ticket if you have a support plan. Else please do let us know, we will try a

[2020-12-02 07:03] #66786 closed

[2020-12-02 07:04] shashishailaj commented on #66981
@jeevansd Could you please engage anyone from your ream to review this one ?

[2020-12-02 07:06] AjayKumar-MSFT commented on #66827
TexNeil, We will close this out, but if you feel you need more information please just let us know.

[2020-12-02 07:06] #66827 closed

[2020-12-02 07:10] shashishailaj commented on #66980
@barborico Thank you for pointing this out. We will engage with the content author on this to get it reviewed.

[2020-12-02 07:13] shashishailaj commented on #66980
@ShaneBala-keyvault Could you please look into this ?

[2020-12-02 07:19] laglergruener commented on #66786
Hi, okay on last question, can you resolve the URL: wan.7wy8887ug0lasmbeeshuequj1.vpn.azure.com?
Because that's my issue, I always get the information: DNS Resolution failed with exception. No such host is know.

So if you can resole the IP, please let me know, then I will add this to my HostFile :)

[2020-12-02 07:28] MonikaReddy-MSFT commented on #66978
@kxying-kk -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-02 07:29] rjam-xav opened #66989 "Connecting to Azure Speech to Text API from ESP 32."
Hello,

I am reading the wav file in chunks and sending it to the azure server using an esp32. The specific documentation for sending data is [here](https://docs.espressif.com/projects/esp-idf/en/stable/api-reference/protocols/esp_http_client.html?highlight=%20esp_http_client_fetch_headers(#_CPPv429esp_http_client_fetch_headers24esp_http_client_handle_t). More specifically I can open the connectio

[2020-12-02 07:30] MonikaReddy-MSFT commented on #66944
@zhenlan  - Thank you for providing your insights.
@gary918 - I hope @zhenlan has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-02 07:30] #66944 closed

[2020-12-02 07:50] AjayKumar-MSFT commented on #66979
@ericy99, Thanks for leveraging Azure docs feedback channel to raise this question.

The repository root here, is the main location/folder where your Laravel app exist itself (add .htaccess file there). You may see a sample [here](https://github.com/Azure-Samples/laravel-tasks).

Also, this[ Tutorial: Build a PHP (Laravel) and MySQL Flexible Server (Preview) app in Azure App Service ](https://docs

[2020-12-02 07:53] GitaraniSharma-MSFT commented on #66786
@laglergruener , I tried but I am unable to resolve the URL "wan.7wy8887ug0lasmbeeshuequj1.vpn.azure.com". Hence, more details on your setup and subscription will be required to understand the issue further.

[2020-12-02 08:33] AnuragSharma-MSFT commented on #66922
@JolindaTu This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-02 08:44] SumanthMarigowda-MSFT commented on #66725
@aamorale Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-02 08:52] SumanthMarigowda-MSFT commented on #66736
@LilacBrandy  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for the feedback! Are you facing any kind of throttling issue are you facing? If so I would like to work closer on this issue.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/  We'll follow up there.  Based on your blog (suggestion)

[2020-12-02 08:52] #66736 closed

[2020-12-02 08:58] saifbadran9 commented on #66949
Thank you @Grace, appreciated!

[2020-12-02 09:15] MathmosUK commented on #55058
Hi, I have also been keeping an eye on o-l-a-v 's question for some time as it is causing real havoc. Amazing we still don't have a solution or even a timeline for one.  Can you please re open the original request as you must have loads of other people in the same boat.

[2020-12-02 09:17] ma763488 commented on #66857
Hello Team,

Please find the below script as requested:

$rgName = 'mansoor'
$vmName = 'unmangedvm'

$vm = Get-AzVM -ResourceGroupName $rgName -Name $vmName

($vm.StorageProfile.DataDisks | Where ({$_.Name -eq
'unmangedvm-20201130-114827'})).DiskSizeGB = 30

Update-AzVM -ResourceGroupName $rgName -VM $vm

Thanks & Regards,
Mansoor
8412856527

On Tue, Dec 1, 2020 at 11:17 PM Winston Howard <notific

[2020-12-02 09:23] BakkerJan commented on #60576
It does work indeed with Authentication Administrator, but not for all accounts. Looks like you cannot re-register MFA for users with a perm or eligible admin role.

[2020-12-02 09:29] rjam-xav commented on #66989
Update:
if I don't see these headers:
esp_http_client_set_header(client, "Transfer-Encoding", "chunked");
esp_http_client_set_header(client, "Expect", "100-continue");

I am able to send all of my data but then unable to get a response from the server.

[2020-12-02 09:44] Thialala opened #66991 "Error in number of hosted ASP in an ASE"
[Enter feedback here]
Hi,

I think there is an error in the following sentences. ASE can host 100 ASP instances et not 200 from what I understood:
_**An ASE is dedicated exclusively to a single subscription and can host 200 App Service Plan instances. The range can span 100 instances in a single App Service plan to 100 single-instance App Service plans, and everything in between.**_

---
#### Docu

[2020-12-02 09:54] txoh opened #66992 "Azure Defender"
Hi Folks,

Can anyone enlighten me on Azure Defender?
Does it include Antivirus, Anti-malware, Threat protection and Endpoint Detection and Response (EDR)?
Is it a comprehensive tool for security?

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0066cf0-3464-81f2-51be-06f00205ffd7
* Version Independen

[2020-12-02 10:00] SnehaAgrawal-MSFT commented on #66991
@Thialala Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-02 10:06] gary918 commented on #66944
Got it. Thanks for your help! @zhenlan @MonikaReddy-MSFT

[2020-12-02 10:29] tomi opened #66994 "Clarify when AzureWebJobsDashboard is safe to delete"
The page says about `AzureWebJobsDashboard`:

What does this mean? Are the storage triggers and bindings implemented using this configuration? That would sound like a really bad implementation decision. How do I know if my functions are using that, when I have a single function that has an Azure Queue input binding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-12-02 10:33] Tbohunek commented on #54633
Hello @jdanyow, how's it going?
Thanks for having implemented this feature so quickly. It could be a little more optimized though: The paragraph switching happens at 1/2 of the screen while human eyes naturally look at 2/3 of (page) height.
Would it be too difficult to optimize that?

Cheers,
Tomas

[2020-12-02 10:48] ahaeber opened #66995 "Incomplete sentence on consistency"
This sentence:

is hard to follow. The part " and for more information" makes it confusing. Please revise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8a071-97c3-3680-937d-ce96dca97426
* Version Independent ID: fb85004b-e746-fe6a-e3fc-f8a2a2f08c18
* Content: [Availability and consistency - Azure Event Hubs - Azur

[2020-12-02 10:57] YusukeTobo opened #66996 "Jetty has disappeared from available built-in stacks in Web Apps"
`az webapps list-runtimes` doesn't output Jetty in output like below.

Has jetty become unsupported in Web Apps? If so, please remove Jetty from the following section.

https://docs.microsoft.com/en-us/azure/app-service/overview-patch-os-runtime#new-patch-updates

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd

[2020-12-02 11:04] ankku opened #66997 "Reading from a previous date and time"
[Enter feedback here]
the article says we can read change feed from a particular point of time, I tried with Min DateTime and DateTime.Add(-7), each time it reads from the beginning in first run and then subsequent new changes in next run onwards. What if I have to process changes only for last 7 days when I run the service. How do i configure that?

---
#### Document Details

⚠ *Do not edit this

[2020-12-02 11:24] oaas opened #66998 "Azure Firewall Policy doesn't support "not SNAT public IP address range""
Hi Team,

Please note that currently Azure Firewall Policy doesn't support "not SNAT public IP address range", well Azure Engineering team is working on it. Kindly please update the document accordingly to avoid any confusion.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e378b4c-b1f1-9d76-74ae-120cedc85c

[2020-12-02 11:36] aggerritsen opened #66999 "Programmatically connecting ActivityLog to Sentinel"
Is there a REST API solution for programmatically connecting Azure Activity Log for subscriptions to Sentinel as there is for dataconnectors as described here: https://docs.microsoft.com/en-us/rest/api/securityinsights/dataconnectors/createorupdate.

Kind regrads, Arjen Gerritsen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-02 11:39] AnuragSharma-MSFT commented on #66997
@ankku Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-02 11:40] GitaraniSharma-MSFT commented on #66998
@oaas , thank you for your feedback. We'll review this and get back to you shortly.

[2020-12-02 11:41] agribot2 opened #67000 "Does this work with Visual Studio 2019 ?"
This page mentions various sets of tools, including Visual Studio Code, but it should also include a brief mention of Visual Studio 2019 ( or other version) . Even if only to say something like " this does not work with Visual Studio, you need VS code, etc.
If it CAN work with VS 2019, then that should be briefly mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-12-02 11:57] SarveshPandey commented on #66856
Thanks @AnuragSharma-MSFT  for clearing my doubts.
What about using the PowerShell or Azure CLI. Can we overwrite the database using these two things?

[2020-12-02 11:58] GitaraniSharma-MSFT commented on #66998
@oaas , I checked internally and found the bug raised for this issue and it is correct that currently Azure Firewall policy does not support the "NO SNAT" feature. Hence, we have assigned this to the content owner/author for doc update.

@vhorne , I have added you to the internal email with Azure Firewall PG team with all the necessary information for the doc update approval. Please review and upd

[2020-12-02 12:05] marikb opened #67001 "Blocked locations policy - Policy configuration not supported. Review the assignments and controls."
![image](https://user-images.githubusercontent.com/32127651/100870334-229f9a80-34a7-11eb-8ec1-42ebeadb377e.png)

Hello, I followed the guide as written and getting an error when creating a CA blocking specific countries for **all apps** and **all users**.
Works if I select specific apps.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-12-02 12:09] hjgraca commented on #61357
@svangeti if I understand correctly the Load Balancer you are referring to is the Egress Load Balancer not the Ingress, for Ingress in this scenario will be the Application Gateway.
If you want to remove the Egress Load Balancer you need to use change the outboundtype to UDR on cluster creation, https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype

[2020-12-02 12:24] cderinbogaz opened #67002 "ACI Nvidia Driver Not Installed Error"
Hello,

There is something missing in ACI GPU based container instance. When I deploy my docker image using container registry, I get the error from ACI logs that there is no Nvidia Driver installed like the following:

`UserWarning: CUDA initialization: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.

[2020-12-02 12:24] CHEEKATLAPRADEEP-MSFT commented on #66995
@ahaeber  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-02 12:49] padmajauk commented on #65640
Hi,

Here is the output of kubectl get crd:

padmajauk@cloudshell:~ (trusty-moment-293813)$ kubectl get crd
NAME                                            CREATED
ATbackendconfigs.cloud.google.com
2020-11-06T08:19:35Zdatacontrollers.arcdata.microsoft.com
2020-11-24T12:47:45Zmanagedcertificates.networking.gke.io
2020-11-06T08:18:52Zpostgresql-11s.arcdata.microsoft.com
2020-11-24T12:47:45Zpostgresq

[2020-12-02 13:18] jsandersrocks opened #67003 "WEBSITE_HEALTHCHECK_MAXUNHEALTHYWORKERPERCENT spelled wrong in document"
WEBSITE_HEALTHCHECK_MAXUNHEALTHYWORKERPERCENT    missing the H

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2526d6f8-e90d-5ecc-dbca-14540fcad599
* Version Independent ID: e308750d-5a63-db74-9113-38cad322d48c
* Content: [Get started with autoscale in Azure - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-

[2020-12-02 13:21] PabloMugica opened #67004 "The page is on the Hyperscale section but explains Single Server CLI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20cddd40-6590-8a5d-ef45-9020587f3931
* Version Independent ID: a4f55e8e-d35f-f94c-4bb9-089faa4d3c8b
* Content: [Azure CLI samples - Azure Database for PostgreSQL - Single Server](https://docs.microsoft.com/en-us/azure/postgresql/sample-scripts-azure-c

[2020-12-02 13:23] SwathiDhanwada-MSFT commented on #66988
@wahyuen Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-02 13:24] maximepollet27 opened #67005 "Issue when trying to see the results in Azure Digital Twins"
Hi,

I am going through the "connect an end-to-end solution" tutorial and I encounter an issue when I reach the section "See the results in Azure Digital Twins".
When I run the command "ObserveProperties thermostat67 Temperature" in the project console window here is what happens:

![image](https://user-images.githubusercontent.com/75030380/100877510-2df3c580-34a9-11eb-9c72-16d064e99e8a.png)

The

[2020-12-02 13:27] jrmurray86 opened #67006 "Screenshot incorrect"
The screenshot of the Ingress Traffic section says the HTTPS should be port 433 instead of 443.

The text is correct just not the picture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da444e22e
* Content: [Working with VMs and NS

[2020-12-02 13:29] JayaChatterjee-MSFT commented on #66878
Hello @tfv-waken Could you please provide more details on  bc-hc-token? Which document or project you are referring to?

[2020-12-02 13:52] aollivierre commented on #48403
# The values in the column below is what you should set your sizeBytes parameter to !AFTER Converting the VHD from Dynamic to Fixed

# GiB	Byte (Valid Values in Azure Multiples of GiB)
# 128	= 137438953472
# 256	= 274877906944
# 512	= 549755813888
# 1024	= 1099511627776
# 2048	= 2199023255552
# 4096	= 4398046511104

#Firs install Hyper-V role on the Windows 10 or the Windows Server on-premise (thi

[2020-12-02 13:59] MichaelWeberMSFT opened #67007 "what is the "Application configuration url" ?"
please be so kind and provide more details on what does a Microsoft Partner need to do related to this statement:
"Provide the URL for the configuration web page that enables the customer to configure your app."
What exactly is meant by "Application configuration url"?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-02 14:09] Coopem16 opened #67008 "CRL addresses for App Proxy"
Has this document been updated with this bulletin:
https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 861ceb04-ecea-4eb3-62b5-14163d12e3f2
* Version Independent ID: edac4607-e5d1-4d17-0af5-9ea432bfc5c6
* Content: [Tut

[2020-12-02 14:15] tfv-waken commented on #66878
Sorry, my mistake. It should be sbc-hc-token and **sb-hc-token**

[2020-12-02 14:17] SumanthMarigowda-MSFT commented on #66752
@ChrisSommers  That's correct, however, to follow the liner logical process we need to follow to register the server.

The deployment of Azure File Sync starts with placing a Storage Sync Service resource into a resource group of your selected subscription. We recommend provisioning as few of these as needed. You will create a trust relationship between your servers and this resource and a server

[2020-12-02 14:17] #66752 closed

[2020-12-02 14:27] SumanthMarigowda-MSFT commented on #66790
@oletho I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

However,  Based on the error

[2020-12-02 14:27] #66790 closed

[2020-12-02 14:32] SadiqhAhmed-MSFT commented on #67007
@MichaelWeberMSFT Thanks for the comment. We will review this request with the content owner and update as required.

[2020-12-02 14:50] Digiroka opened #67011 "WVD / Windows 10 not supported by Policy Definition"
Policy should support deployment of Log Analytics and Dependency agent to WVD / Windows 10, however this is not specified in the policy definition which states the below. The policy definiton needs to be updated to include the relevant Win10/WVD SKUs. Currently, the policy ignores Windows 10 devices in a resource group to which the policy is assigned.

"field": "Microsoft.Compute/imageSKU",

[2020-12-02 14:54] matg8383 commented on #66910
Hi. The issue happened to be with Maven proxy configs. I had to add my corporate proxy configurations in global and user settings. Thx.

[2020-12-02 14:56] #66743 closed

[2020-12-02 15:04] KrishnaG-MSFT commented on #66987
@lalitkumarms Thanks for the comment.
Assigning @DCtheGeek for visibility, review and document enhancement consideration if appropriate.

[2020-12-02 15:05] vipulsparsh commented on #66992
@txoh Azure Defender unifies the security management of different workload types, within the Azure Security Center. In addition to a list of supported (generally available) and newly supported (in public preview) services, Azure Defender also analyzes signals from Azure network fabric and the service control plane, to detect threats across all Azure resources. It also protects non-Azure resources,

[2020-12-02 15:28] LionHuntDiG commented on #66743
why the ticketed has been closed

On Wed, 2 Dec 2020, 8:26 pm VikasPullagura-MSFT, <notifications@github.com>
wrote:

[2020-12-02 15:30] elpablete opened #67013 "Example of full resource ID in the Delegate access to other Azure resources refers to a vnet instead of a subnet"
Example of full resource ID `/subscriptions/<guid>/resourceGroups/myResourceGroup or /subscriptions/<guid>/resourceGroups/myResourceGroupVnet/providers/Microsoft.Network/virtualNetworks/myVnet` **refers to a virtual network instead of a subnet** (required for Azure CNI networking).
Should be something like `/subscriptions/<guid>/resourceGroups/myResourceGroup or /subscriptions/<guid>/resourceGroup

[2020-12-02 15:32] RyanHill-MSFT commented on #66996
Hi @YusukeTobo, I'll investigate and will update you shortly.

[2020-12-02 15:33] JayaChatterjee-MSFT commented on #66719
@matejskubic Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-12-02 15:33] #66719 closed

[2020-12-02 15:51] VikasPullagura-MSFT commented on #66743
@LionHuntDiG One time free support has been enabled on your subscription for getting this issue checked with support team.
I have sent you an email on the same. Requesting you to please post the resolution once it is resolved for the benefit of community.

[2020-12-02 15:52] assaf-grth commented on #27217
Any updates on this subject?
I couldn't find clear detail on the thread number

[2020-12-02 16:16] tfitzmac commented on #66974
@oleksandr-bilyk - thanks for this feedback.

@BharathNimmala-MSFT - I think this issue should actually be assigned to me because it looks like it is more related to template reference than the quickstart article.

[2020-12-02 16:18] ChaitanyaNaykodi-MSFT commented on #66994
Hello @tomi, Thank you for your feedback! We will review and update as appropriate.

[2020-12-02 16:18] BharathNimmala-MSFT commented on #66974
Thank you @tfitzmac for helping on this , reassigned it accordingly.

[2020-12-02 16:21] matjanos commented on #55059
@SaurabhSharma-MSFT, can we consider reopening that issue?

[2020-12-02 16:23] MatthewMcD opened #67015 "Typo in Sample"
The sample:
`Get-AzLog -MaxRecord 10`

Should read:
`Get-AzLog -MaxRecord 1000`

Or change the text to read:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a61965d-1bdf-b581-71df-28becc9c1d72
* Version Independent ID: 2221d554-1d19-5eee-5797-55cdd0c49e86
* Content: [Azure Monitor PowerShell samples - Azure Monitor](ht

[2020-12-02 16:30] bleemus opened #67016 "Update docs for AKS private cluster SLAs"
Updates for private cluster SLAs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-3476-9b5f-c800-2c528129c2e2
* Content: [Azure Kubernetes Service (AKS) with Uptime SLA - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/uptime-sl

[2020-12-02 16:30] SadiqhAhmed-MSFT commented on #67015
@MatthewMcD Thanks for bringing this to our attention. We will review this request with the content owner and update as appropriate.

[2020-12-02 16:30] SubhashVasarapu-MSFT commented on #66700
@MaxiPalle, looks like you have raised a support with Azure on this and working with backend team. Meanwhile, I have assigned the respective content author here for more insights.

[2020-12-02 16:31] Coopem16 commented on #67008
As per the linked advisory above it looks like these need to be open on the firewall:
If you have an environment where firewall rules are set to allow outbound calls to only specific Certificate Revocation List (CRL) download and/or Online Certificate Status Protocol (OCSP) verification locations. You will need to allow the following CRL and OCSP URLs:

http://crl3.digicert.com
http://crl4.digicer

[2020-12-02 16:32] saf-itpro opened #67017 "A minor typo in the code"
In the code for step 2 of [Use MSAL to get a token for the Microsoft Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-windows-desktop#use-msal-to-get-a-token-for-the-microsoft-graph-api) the close `}` is missing.

The last `}` in the code is for closing the `private async void CallGraphButton_Click(object sender, RoutedEventArgs e)` method. But there should be

[2020-12-02 16:42] MonikaReddy-MSFT commented on #67017
@saf-itpro -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-02 16:45] timsander1 commented on #66997
Hi @ankku, here is a code sample for starting reading from change feed at a particular point in time: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs#L127-L162

[2020-12-02 16:46] SubhashVasarapu-MSFT commented on #66754
@SychevIgor, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-02 16:46] #66754 closed

[2020-12-02 16:48] SubhashVasarapu-MSFT commented on #66875
@muditmittal1985, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-02 16:48] #66875 closed

[2020-12-02 16:52] MonikaReddy-MSFT commented on #67017
@saf-itpro -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-02 16:52] #67017 closed

[2020-12-02 16:55] SubhashVasarapu-MSFT commented on #66806
@aralvar, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-02 16:55] #66806 closed

[2020-12-02 16:58] ankku commented on #66997
Hi @timsander1 , here is the code I am trying to work, which is similar to what you describe. it returns me all the changes from the beginning.

`namespace CFPLibrary
{
    class Program
    {
        private static CosmosClient Client { get; set; }
        static void Main(string[] args)
        {
            DateTime particularPointInTime = DateTime.UtcNow;
            Task.Run(async () =>

[2020-12-02 16:59] juanandmsft opened #67019 "Endorsement questions"
- Article refers to Debian 8 and 9 as endorsed versions. Is Debian 10 an endorsed version too? Because there are Debian 10 images in Azure Marketplace ...
- Are customer-uploaded images (i.e. custom built, migrated VMs, etc.) as "endorsed" as marketplace ones, as long as match the distribution versions in this page? Or will be otherwise considered "generic" and not be subject to Azure Platform SLA

[2020-12-02 17:02] SwathiDhanwada-MSFT commented on #67003
@jsandersrocks Thanks for the feedback. I have made changes to the document and the changes will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-02 17:03] #67003 closed

[2020-12-02 17:03] MarileeTurscak-MSFT commented on #67008
@Coopem16
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 17:04] timsander1 commented on #66997
Which SDK are you using? I just did a quick search and found this is a known bug with the .NET SDK 3.15. More info here: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2031

Could you try an earlier version (for example, 3.13). This will be fixed in the next SDK release.

[2020-12-02 17:05] SubhashVasarapu-MSFT commented on #67006
@jrmurray86, Thanks for reaching out. We will investigate and update this thread.

[2020-12-02 17:17] rbschneider commented on #66904
@revodavid I was just working through this one yesterday in PS, and the same thing happened. It was okay the first few runs, however, the app would not load in the browser. A few changes, and an add to the build kickoff, then stripped the source out of GitHub folder, and reinstalled a few times then "poof" the JSON error.

I switched things over to Visual Studio (VS-not VS Code) later yesterday, b

[2020-12-02 17:30] mikegoatly opened #67021 "No documentation for how to set SessionId with python"
The Python code used to write the output message to the Service Bus is just:

[code]

However when sessions are enabled on the queue being written to, this fails with `The SessionId was not set on a message, and it cannot be sent to the entity`. It would be helpful if the documentation could cover what to do when sessions are enabled.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-12-02 17:33] emshimon opened #67022 "Could not access to Diagnostic settings by security administrator role."
I tried the settings on my environment but I couldn't perform following operation by "security administrator" role.

--
_2. Select Azure Active Directory > Diagnostic settings -> Add diagnostic setting. You can also select Export Settings from the Audit Logs or Sign-ins page to get to the diagnostic settings configuration page._
--

Needed  "global administrator" role to perform this operation.
Co

[2020-12-02 17:34] SwathiDhanwada-MSFT commented on #66802
@sachinpanwar Yes , even when the data retention is increased for Activity Logs, there will be no charge. Same information was also provided in the document provided by you.

![image](https://user-images.githubusercontent.com/48976275/100909369-a468e580-34f2-11eb-99a2-8a431b207b1d.png)

As there are no further documentation changes,we will close the issue for now. If there are further questions ,

[2020-12-02 17:34] #66802 closed

[2020-12-02 17:38] ankku commented on #66997
works with earlier version...thanks

[2020-12-02 17:42] sachinpanwar commented on #66802
@SwathiDhanwada-MSFT the documentation I highlighted talks about both data ingestion and retention charges.
I know there won't be any data ingestion charges. But data retention charges will be there if activity log is retained for more than 90 days.
So, I think that one point should be updated in such a way that it clearly explain following points:
- No data ingestion charges for Activity log data

[2020-12-02 17:44] timsander1 commented on #66997
#please-close

[2020-12-02 17:44] #66997 closed

[2020-12-02 17:54] JamesTran-MSFT commented on #67001
@marikb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 17:58] JamesTran-MSFT commented on #67022
@emshimon
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 18:03] helplessJ commented on #33904
I see this was closed after a pull request was submitted to update the documentation, however, I still see docs saying this is required.
"Attach the system disk to a recovery VM. To run the manage-bde command in the step 7, the BitLocker Drive Encryption feature must be enabled in the recovery VM."

@genlin is enabling bitlocker on the recovery VM really required?

[2020-12-02 18:04] StefanRetief opened #67023 "Relationships for Azure Tables"
I'm attempting to build an index using 2 azure tables, which have a one to many relationship, where the primary key would be considered the PartitionKey.

It might look something like this:

**Table 1**
[code]

and

**Table 2**
[code]

In the case that there is a 1 to 1 relationship between these tables, there isn't much of an issue with mapping the fields correctly for indexing, but in this case,

[2020-12-02 18:11] anbene commented on #66441
Hi @brandonmartinez, we confirmed that Owner has all the permissions of Manager and Developer. Thank you for reaching out!

#please-close

[2020-12-02 18:11] #66441 closed

[2020-12-02 18:13] jhueppauff commented on #66791
@GitaraniSharma-MSFT thank you for your effort.
👍

[2020-12-02 18:16] HeidiSteen commented on #67023
@StefanRetief  The search engine doesn't understand table relationships so when it sees a row with a document ID that already exists, it thinks your refreshing that row with new content.  If you need content from multiple tables you should either create a view in SQL , or you can do consecutive document uploads that update different fields using the same key.  Given an index with key1, field1, fie

[2020-12-02 18:18] ChaitanyaNaykodi-MSFT commented on #66784
Hello @j-hansen, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-02 18:18] HeidiSteen commented on #67023
@StefanRetief  Having said all that, there is a new query parameter on the Azure SQL indexer that allows you to specify a SELECT.  I haven't used it yet so I can't comment on how it works...  Are you using an indexer for data ingestion??

[2020-12-02 18:20] #66658 closed

[2020-12-02 18:24] Karishma-Tiwari-MSFT commented on #67013
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-02 18:25] Karishma-Tiwari-MSFT commented on #67016
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-02 18:26] Karishma-Tiwari-MSFT commented on #67019
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-02 18:28] SaiKishor-MSFT commented on #66884
@o-l-a-v Did the CDN profile move to a subscription that is not registered in Microsoft.Network ? We depend on the subscription of the cdn profile also registered to Microsoft.Network.

[2020-12-02 18:31] StefanRetief commented on #67023
@HeidiSteen Right, so as far as I can tell, azure tables don't currently support views (if they do, i'd love to use this), which was the first thing I was thinking too.

I am using an indexer for data ingestion and I did attempt to that the second method you mention as well, but the problem I'm running into is that the only key both have in common is that partition key. Unfortunately, I still run

[2020-12-02 18:32] o-l-a-v commented on #66884
Registered, as in resource provider? (Microsoft.Network resource provider must be present on target subscription?)

[2020-12-02 18:38] SaiKishor-MSFT commented on #66884
@o-l-a-v Yes. Let me know if you have questions. Thanks!

[2020-12-02 18:38] YutongTie-MSFT commented on #67000
@agribot2
Thanks for the feedback! We are currently investigating and will update you shortly.

@j-martens FYI

[2020-12-02 18:47] ChaitanyaNaykodi-MSFT commented on #66844
Hello @jordaniza, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-02 18:54] jlichwa commented on #66980
Hello @barborico , with current RBAC preview Key Vault allow to set access on specific secret/key/certificate.

Example for assigning role on Secret Scope: https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide#secret-scope-role-assignment

[2020-12-02 19:00] axisc commented on #66805
@paulphillipsuk The time period is mentioned in this [part](https://docs.microsoft.com/azure/service-bus-messaging/service-bus-throttling#what-are-the-credit-limits) of the article.

Please let us know if any more details are needed and we can consider adding it to the docs.

[2020-12-02 19:03] amyholco opened #67026 "Analytics | Log Analytic Workspace no longer exists as an option in the Azure Monitor Insights Hub"
Analytics | Log Analytic Workspace no longer exists as an option in the Azure Monitor Insights Hub.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2902958-bbda-b892-6da7-1b8ed598c6bb
* Version Independent ID: 7f63a743-b2a7-245a-dcee-07d4b357051c
* Content: [Monitoring solutions in Azure Monitor - Azure Monitor](https:

[2020-12-02 19:08] j-hansen commented on #66784
Hi,
I’m interested in using PHP and servicebus, so if the library is going to support the latest connection style, please let me know. I’ll also test and give feedback.

From: ChaitanyaNaykodi-MSFT <notifications@github.com>
Date: Wednesday, December 2, 2020 at 10:18 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jim Hansen <jim@revtwo.com>, Mention <mention@noreply.github.com

[2020-12-02 19:08] tamram commented on #51447
@tebeco - The examples in the article have been updated for the v12 blob client library.

I opted not to recreate the sample application, because it only included the methods that are now shown in the article.

Let us know if you have further feedback.

#please-close

[2020-12-02 19:08] #51447 closed

[2020-12-02 19:08] JamesTran-MSFT commented on #67022
@emshimon
Thank you for pointing this out! Using my own tenant, I was able to see the Diagnostic Settings tab with my test user which was assigned the Security Admin role.

![image](https://user-images.githubusercontent.com/36619112/100919198-54f0ce00-348e-11eb-8c02-b8d760961f8a.png)
If you received a permissions error with a user that is assigned to the security admin role, I'd recommend signing

[2020-12-02 19:08] #67022 closed

[2020-12-02 19:12] MonikaReddy-MSFT commented on #66978
@kxying-kk - Can you elaborate your question a little bit more, so we can assist you accordingly. Thanks

[2020-12-02 19:14] normesta commented on #65807
Hi @thommck. I've conferred with others on the Data Lake team. We have no specific recommendation for how best to aggregate small files into larger ones.

[2020-12-02 19:14] BharathNimmala-MSFT commented on #67011
@Digiroka Thanks a lot for bringing this to our notice, our team will review the feedback and update the document accordingly.

[2020-12-02 19:15] jeevansd commented on #66981
@chetansriv and @v-hagamp Can you please update this article for the correct app role?

[2020-12-02 19:16] BharathNimmala-MSFT commented on #67026
@amyholco Thanks a lot for bringing this to our notice, we will review the feedback and update the document accordingly.

[2020-12-02 19:17] tfitzmac commented on #66974
The reference docs have been updated to include [Key Values](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/configurationstores/keyvalues) and a link to an example.

[2020-12-02 19:17] tfitzmac commented on #66974
#please-close

[2020-12-02 19:17] #66974 closed

[2020-12-02 19:21] tebeco commented on #51447
super good news
thx a lot @tamram

[2020-12-02 19:23] jiayi11 commented on #66737
@SychevIgor Could you please try `https://yourstorename.azconfig.io/kv` in your browser that is on the same machine where you see the error above? If you receive 401, it means it's not a network issue. But if you receive other responses like timeout, it means you are not able to reach App Configuration service from your network.

[2020-12-02 19:33] skippu opened #67028 "Need clarity on which EA plans are applicable"
What Azure offer codes (not the description) are valid for EA to CSP Transfer?
We know 0017P is valid
How about 0017G?
Are any other EA offers valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6aef944e-c3da-70b4-47c4-9c45447d0a3c
* Version Independent ID: 4fb9a899-cf9f-43dd-334a-f202e3b75067
* Content: [Transfer Az

[2020-12-02 19:44] the-blesss opened #67029 "Need clarification on offer types supported 0017P and 0017G"
Can a customer with MCA Enterprise Agreement subscriptions (0017G) be transferred by the direct transfer method the same as a 0017P? If they are supported, we do not see the Account Admin/Owner name listed on the subscription properties on the 0017G so if it is supported, who do we send the transfer request to?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-12-02 19:45] gamontal opened #67030 "Initializing data disks using any arbitrary drive letter after F:"
This documentation does not make it very clear that Azure will automatically reassign a drive letter to an existing data disk once a VM OS upgrade or reimage occurs. It is common for VMs to get the OS automatically upgraded via VMSS OS Auto Upgrade setting. For example, if we initialize a data disk starting from drive letter ```G:```, once the VM is reimaged, the data disk is persisted but the dri

[2020-12-02 19:56] glomaga opened #67031 "Is it possible to get navigator.userAgent as a part of the login Claims?"
Hi, I want to know if it's possible to get the value of the UserAgent (operating system) as a part of a claim similar to {Context:IPAddress}.

I need to limit login access for certain User agents, for example, windows 7, and show an error message in the login flow that says that this operating system is not supported in our applications.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-12-02 20:09] DerekHerman-MSFT commented on #66967
The sample is not actually uploading the file we created but rather creating a new file and setting the text to full_path_to_file. Issue is line 90.
`blob_client.create_block_blob(container.name, local_file_name, full_path_to_file)`
Assigning to author to get the documentation and sample fixed.

[2020-12-02 20:12] HeidiSteen commented on #67023
@StefanRetief I see; I thought you were using SQL.  The shaper skill will only work if you are using skillset, which I don't think you are.

Just so I'm clear - 2 tables in Azure Table storage, using an indexer, merging values from each source table into a string collection in one search document in the index, using the document key (table storage indexer builds a documentkey using partition and r

[2020-12-02 20:18] dannyevers commented on #66118
I fixed the link and the updated doc is live: https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-customer-usage-attribution#report

[2020-12-02 20:18] dannyevers commented on #66118
#please-close

[2020-12-02 20:18] #66118 closed

[2020-12-02 20:23] rbschneider commented on #66904
It did not work: recurring error message:

Exception has occurred: ImportError
cannot import name 'cygrpc' from 'grpc._cython' (C:\Users\user\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin\workers\python\3.8/WINDOWS/X64\grpc\_cython\__init__.py)
  File "C:\Users\user\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin\workers\python\3.8\WINDOWS\X64\grpc\__init__.py", l

[2020-12-02 20:24] autohub7 commented on #39611
@RyanHill-MSFT Thanks! The logs appear on (Azure) Log Stream after implementing ILogger<T>. I followed this [document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0) and the [video](https://www.youtube.com/watch?v=oXNslgIXIbQ)

[2020-12-02 20:27] adroc opened #67032 "Is there a way to check if a VM deployment will work prior to deploying to a region? (az cli, pshell?)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3ad66f-14bd-bd67-40d2-9b6f29cd633c
* Version Independent ID: 922adbe4-fefb-e895-d7dd-42279d24ff66
* Content: [Region or SKU series unavailable - Azure](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/sku-series-unavailable)
* Cont

[2020-12-02 20:30] bandersmsft commented on #64811
Updating article for clarity to address this issue with https://github.com/MicrosoftDocs/azure-docs/issues/64811

[2020-12-02 20:31] bandersmsft commented on #64811
@JohnnyB85 Sorry for the delay. Here's some info to consider: If you have an underutilized reservation, the UnusedReservation entry for ChargeType becomes a factor to consider. When you have a fully utilized reservation, you receive the maximum savings possible. Any UnusedReservation quantity reduces savings.

I'll update the article to add this information for clarity.

[2020-12-02 20:36] ericy99 commented on #66979
@AjayKumar-MSFT Thanks! This solved my issue.

[2020-12-02 20:36] #66979 closed

[2020-12-02 20:40] StefanRetief commented on #67023
@HeidiSteen Yes, you've got the idea. I'm open to using a skillset if it does get me to the end result, but I've had no luck so far while playing with shaper skill settings.

I've also been exploring the [@azure/search-documents](https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-search-documents/11.0.3/index.html) npm package, which may be my way forward. It appears that I may be ab

[2020-12-02 20:44] vdamle opened #67034 "Backup all File Shares in Storage Account"
Is it possible to Backup **all** File Shares in a Storage account? The documentation illustrates selecting File Share one by one. Checking if there's an option to "Select All"

Thanks in advance,
Vinod

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8070575b-9937-61e2-6483-c070143c4039
* Version Independent ID: fe33b548

[2020-12-02 20:46] dcurwin commented on #67034
#reassign:mepand

[2020-12-02 20:48] RonnieQuan opened #67035 "Any ETA on App Service Deployment Slot Private Endpoint Feature?"
Any ETA on when deployment slot will support private endpoint?

https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#limitations

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b966-4c9a-01e0718d

[2020-12-02 20:53] jonwbstr opened #67036 "More info on verifying domains"
Hello,

When verifying domain ownership uusing a CNAME record, if I'm reading this correctly, adding the "asuid" TXT record prevents Subdomain takeover in the event that the webapp is deleted and the CNAME and TXT records are not deleted.

Question 1:
We have a lot of webapps that were created using either just the CNAME for verification, or a CNAME and a TXT record without  "asuid" in the hostnam

[2020-12-02 20:54] MarileeTurscak-MSFT commented on #66989
@rjam-xav
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 20:57] bitdeft opened #67037 "Update Links for LXP Packs"
The LXP packs under requirements only include 9B and 9C, not 10 or 11 ( as described here: https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/language-packs-known-issue ) for Oct and Nov cumulative updates respectively. Also, the article doesn't do a great job explaining difference between FODs, LXPs, Language Packs...etc. It is unclear if they are all needed, or how to grab the

[2020-12-02 20:58] jonwbstr commented on #67036
My understanding is that once the domain is verified the record is not needed and there is no risk of an existing app having the domain become unverified because the record was deleted. HOWEVER, deleting the verification record and using a CNAME carries the risk of a subdomain takeover and is not recommended but only a risk if the webapp is deleted and someone reuses that name in their own subscri

[2020-12-02 21:08] rbschneider commented on #66978
@kxying-kk There is a walkthrough located here: https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-java-spring-app

The section you referenced above is for Azure app configuration and feature management for an existing app or Spring development activities.

[2020-12-02 21:13] ChaitanyaNaykodi-MSFT commented on #66863
Hello @esbenbach, currently the default limit is 100,000 actions per Logic App in a 5-minute rolling interval. Enabling the High throughput mode will give you 3x, or 300,000 actions per 5-minute which is the maximum. You can find more detailed explanation over [here](https://www.serverlessnotes.com/docs/enable-azure-logic-apps-for-high-throughput). Please let me know if there are any additional co

[2020-12-02 21:14] SatishBoddu-MSFT commented on #67005
Hello @maximepollet27
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-02 21:18] SatishBoddu-MSFT commented on #66952
Hello @LarsKemmann
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-12-02 21:18] MarileeTurscak-MSFT commented on #67008
Thanks! I made a pull request to add a note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/139698

[2020-12-02 21:18] #67008 closed

[2020-12-02 21:23] Coopem16 commented on #67008
Thank you. Any Idea when that will be complete?

[2020-12-02 21:25] richshadman opened #67038 "Note for Ubuntu 16.0.4 on disabled password applies for 18.0.4 as well"
Hello;

I ran into the disabled password described under the Ubuntu 16.0.4 section (https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#linux) for a set of  nginxplus vm's running Ubuntu 18.0.4. Please update the documentation to reflect that this issue is not _just_ for Ubuntu 16.0.4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-12-02 21:26] MarileeTurscak-MSFT commented on #66999
@aggerritsen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 21:27] SatishBoddu-MSFT commented on #66828
Hello @pranavsanghadia Thanks for the feedback!
Thanks for trying IoT Edge! We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would open an issue with your question on the Edge repository or [Microsoft QnA](https:

[2020-12-02 21:30] MicrosoftGuyJFlo commented on #66985
IP locations are defined in the back end code. Its hard to fake out a country from another. Ill see how I can update this doc when we make updates next. #please-close

[2020-12-02 21:30] #66985 closed

[2020-12-02 21:33] BharathNimmala-MSFT commented on #67038
@richshadman Thanks a lot for bringing this to our notice, we will review and update the documentation accordingly.

[2020-12-02 21:46] JamesTran-MSFT commented on #67001
@marikb
Thank you for pointing this out! I followed the documentation and was able to reproduce your issue.
![image](https://user-images.githubusercontent.com/36619112/100934866-34cc0980-34a4-11eb-81d1-ae6ac01c8b05.png)

In order to resolve this, I added my own group of users who would be excluded from this policy, and was able to enable/save the policy.
![image](https://user-images.githubusercont

[2020-12-02 21:54] JamesTran-MSFT commented on #66938
@flarsmar
Thank you for your feedback!

Within your [referenced documentation](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#change-state-using-powershell), I wasn't able to find any mention of the v2 module for AzureAD.
![image](https://user-images.githubusercontent.com/36619112/100935703-49f56800-34a5-11eb-85d6-edd02cd4d49e.png)
You can reference thi

[2020-12-02 21:55] bandersmsft commented on #64811
#please-close

[2020-12-02 21:55] #64811 closed

[2020-12-02 22:04] pranavsanghadia commented on #66828
It would be helpful if links to examples are provided for each page/tutorial topic. By the way thank you for providing link to QnA 👍, I never came across this page in google search, may be that is a good feedback. Also some of the answers in QnA section are excellent, if linked to respective pages they can fill the gap for the missing information.

[2020-12-02 22:04] #66828 closed

[2020-12-02 22:12] JasonRBeer commented on #49247
I was reading through this article and came here to post essentially this same issue. This really shouldn't be closed. The article should be updated.

Someone who doesn't have a good understanding of PowerShell or Azure AD could easily add a bunch of mobile numbers thinking they would only be used for SSPR. In reality they would be seen by all of the org. This could be a major problem in some orga

[2020-12-02 22:14] MarileeTurscak-MSFT commented on #67002
@cderinbogaz please include the link to the document that you are following so that we can better assist.

[2020-12-02 22:15] Budlee commented on #62918
Yeah this is an issue still. Hit exactly the same thing

[2020-12-02 22:30] cderinbogaz commented on #67002
Hi @MarileeTurscak-MSFT here is the link: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu

Although that I am using the cuda-9.0 docker images as mentioned in the documentation, I think there is something missing regarding pytorch usage of Azure Container Instance.

Thanks for the help

[2020-12-02 22:42] cachai2 opened #67044 "Docs for RabbitMQ Azure Functions"
Right now there are no RabbitMQ docs for Azure Functions. They only exist in the github wiki.

[2020-12-02 22:44] jadams74 opened #67045 "More Broken Documentation"
Following the instructions in this documentation step-by-step does not produce the results it claims. Log Analytics never display an option for FunctionAppLogs under LogManagement.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bceaf516-a1b0-eb1e-e106-62c31db3e69c
* Version Independent ID: abbbd2d6-e0fc-d370-f4a7-ac669f

[2020-12-02 22:45] kxying-kk commented on #66978
Hi. Robert. thanks for the providing me the link. I have gone through the steps based on the link that you provided and it worked for me. However the sample from the link does not have any information that how to make "keyvault reference in app config" working in spring app. I followed the steps in [Tutorial: Use Key Vault references in a Java Spring app
](https://docs.microsoft.com/en-us/azure/az

[2020-12-02 22:47] kxying-kk commented on #66978
Hi. Monika. I followed the steps in [Tutorial: Use Key Vault references in a Java Spring app
](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-spring-boot) and my app cannot load the value from key vault via key vareference in app config. I am wondering if you have a spring app sample in git hub.

thanks
Kelly

[2020-12-02 22:56] kgremban commented on #65832
Hi @pranavsanghadia, thank you for your questions.

To begin, this set of three articles about creating a gateway scenario is specific to what we call a 'transparent gateway' which is one in which the downstream device is one that could connect directly to IoT Hub. The connection string that you retrieve from the device details page in IoT Hub is supposed to be used on your IoT device. If you deve

[2020-12-02 23:16] MarileeTurscak-MSFT commented on #67031
@glomaga
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 23:27] Grace-MacJones-MSFT commented on #66949
Hello @saifbadran9, did you see any errors when you tried to cd into the files? You can try running the **[AzFileDiagnostics](https://github.com/Azure-Samples/azure-files-samples/tree/master/AzFileDiagnostics/Windows)** script for Windows to detect what might be the issue. Also, could you please check if you have access to the storage account?

[2020-12-02 23:30] RyanHill-MSFT commented on #66996
@YusukeTobo it's not a portal bug. You can still use the method I provided above but it is recommended that you utilize the Java offerings listed in the portal.

[2020-12-02 23:30] #66996 closed

[2020-12-02 23:36] alpkayaMSFT commented on #66638
Hi Anurag – any updates on this one?

Customer needs this to make some crucial architecture decisions.

Thanks everyone
Cheers
Alp

From: AnuragSharma-MSFT <notifications@github.com>
Sent: Thursday, November 26, 2020 10:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Alp Kaya <Alp.Kaya@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-doc

[2020-12-02 23:37] #67015 closed

[2020-12-02 23:38] RedW1dow opened #67049 "Expand on False Positive options in Closing Tickets"
Under "Closing an Incident", can we get more information on the difference between the 2 False Positive classifications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a50cc751-ed0e-884b-b45d-35f3cf14020c
* Version Independent ID: 32aff2dc-7d3d-f6ef-fac8-639b48527f34
* Content: [Investigate incidents with Azure Sentine

[2020-12-02 23:39] sebansal commented on #66835
@amitbapat can you help with this question?

[2020-12-03 00:04] BharathNimmala-MSFT commented on #67029
@the-blesss Thank you for reaching out with your query, I have assigned this issue to our document author @amberbhargava to further review the query and get back to you. Thanks

[2020-12-03 00:05] Karishma-Tiwari-MSFT commented on #67037
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-03 00:06] BharathNimmala-MSFT commented on #67028
@skippu Thanks a lot for reaching out , we will review your query and get back to you at the earliest.

[2020-12-03 00:06] Karishma-Tiwari-MSFT commented on #67030
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-03 00:08] MarileeTurscak-MSFT commented on #67004
@PabloMugica
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-03 00:16] cherylmc commented on #65811
I can go ahead and make the link a bit more clear in the original article to this article, which shows the defaults https://docs.microsoft.com/azure/vpn-gateway/vpn-gateway-about-vpn-devices#ipsec. The article that was suggested is for Virtual WAN, which is not the same product (despite the similarities in many ways). Thanks! #please-close

[2020-12-03 00:16] #65811 closed

[2020-12-03 00:22] amitbapat commented on #66835
Key Vault supports HSM-backed keys with FIPS 140-2 Level 2 validated HSMs.
Integrated with all the Azure services you mention and many more.

[2020-12-03 00:28] YusukeTobo commented on #66996
@RyanHill-MSFT  Thank you for your investigation. I couldn't reopen this issue possible because of my permission, but allow me ask you further questions.
Which az version did you use? az 2.15.1 doesn't show Jetty runtime as you show.. I think, as the portal, az has discontinued to show Jetty option.

And, as for the document below, Jetty 9.3 was released in 2015 and became deprecated..
https://pro

[2020-12-03 00:30] dankegel opened #67050 "scale set tutorial fails?"
Executing the commands from the tutorial fails at the end with error

[code]

Here's a reproducer: https://raw.githubusercontent.com/dankegel/azure-scripts/main/ss-demo.sh

And more detail, including a full log:
https://github.com/dankegel/azure-scripts/issues/1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ea3eb30-7

[2020-12-03 00:36] roygara commented on #66725
Thanks for reaching out, @aamorale, we appreciate the feedback. AzCopy is indeed not currently supported for NFS shares. We'll update the docs to make that more explicit. The updates should be live sometime tomorrow.

We appreciate your help improving the docs! :)

I'll go ahead and close this out, since the updates are staged, just waiting to go live.

#please-close

[2020-12-03 00:36] #66725 closed

[2020-12-03 00:40] barborico commented on #66980
Ah, that's awesome! I interpreted the docs about Azure RBAC as being in conflict with the warning that "Key Vault access policies don't support granular, object-level permissions like a specific key, secret, or certificate." Sorry for the confusion, and thanks for this great new feature. :)

[2020-12-03 00:40] #66980 closed

[2020-12-03 01:02] sebansal commented on #66602
You cannot trigger a re-attempt of a failed auto-renewal, but you can create a new version, which should result in the same outcome (a new certificate with a new expiration date).

Clicking the **New Version** button will open the "Create a certificate" page. If everything there looks right, you can create the new version.

[2020-12-03 01:46] luizs81 opened #67051 "Breaking changes warning in the pre/post deployment script"
Hi there,

When running the pre/post deployment script, I'm getting the following warning on Azure DevOps:

[code]
It seems to be related to this line in the script:

[code]

It there anything that can be updated in the script to prevent future errors?

Thanks in advance!

Cheers

Luiz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-12-03 02:05] lissff commented on #66649
@psmanhas  can you check with production team if we really need Microsoft.Network/virtualNetworks/subnets/write and update the document accordingly?

[2020-12-03 02:40] ChaitanyaNaykodi-MSFT commented on #67021
Hello @mikegoatly, Thank you for your feedback! We will review and update as appropriate.

[2020-12-03 02:43] ChaitanyaNaykodi-MSFT commented on #67045
Hello @jadams74, Thank you for your feedback! We will review and update as appropriate.

[2020-12-03 02:43] emshimon commented on #67022
@JamesTran-MSFT
I could see and set diagnostic settings.
Thank you for your help!

[2020-12-03 02:46] KrishnaG-MSFT commented on #67032
@adroc Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-03 02:53] xps233 commented on #65641
Hi there, why this request still no response? Is there any engineer taking look on this?

[2020-12-03 02:55] Mja101 opened #67052 "Step: "See the results in Azure Digital Twins" leads to an error in provided sample code"
When executing the following command **ObserveProperties thermostat67 Temperature** in the AdtE2ESample SampleClientApp cmd line, errors are returned in the console:

[code]

All previous steps have been successful.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f9cef38-32b1-de42-382d-87877e5a4d25
* Version Independen

[2020-12-03 02:56] snnn opened #67053 "How to create a virtual machine scale set with pre-populated data disks?"
Would you please give us an example of how to create a virtual machine scale set with pre-populated data disks?

All the existing examples set createOption to Empty.  Can I set it to a different value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75079c9f-fff6-85f0-ede4-7f9c3e582c82
* Version Independent ID: 4dba40e8

[2020-12-03 03:18] SB-o-matic commented on #65835
Please assist with this issue. It is not intuitive the way it works at the moment.

[2020-12-03 03:44] htetik opened #67054 "Sample code has syntax error"
Your code sample has a syntax error
Get-AzSqlDatabaseRestorePoints -ResourceGroupName $ResourceGroupName -ServerName $ServerName -DatabaseName $DatabaseName

It should be
Get-AzSqlDatabaseRestorePoint -ResourceGroupName $ResourceGroupName -ServerName $ServerName -DatabaseName $DatabaseName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-03 03:50] Jeankimgithub commented on #66835
Hi Amibapat,

Key Vault supports HSM-backed keys with FIPS 140-2 Level 2 validated HSMs."
Does this mean we need to have Azure Dedicated HSM for Key Vault to support FIPS 140-2 Level2? Or Key Cault can support FIPS 140-2 Level 2 without Azure Dedicated HSM?

because we are using Azure storage, SQL database etc that are mentioned below as not good fit for HSM.

Azure Dedicated HSM is not a good fit

[2020-12-03 03:51] CHEEKATLAPRADEEP-MSFT commented on #66909
@vikramdadwal  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-03 03:51] #66909 closed

[2020-12-03 03:51] #66927 closed

[2020-12-03 03:59] SnehaAgrawal-MSFT commented on #67035
@RonnieQuan Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-03 04:01] txoh commented on #66992
Hi vipulsparsh,

Good day.
Thanks for the information, I have found it in Azure website too, only thing is I don't really understand in-depth.
Does these Generally Available items include Antivirus, Anti-malware, Threat protection and Endpoint Detection and Response (EDR)?

Sorry for these noob question

[2020-12-03 04:03] SnehaAgrawal-MSFT commented on #67036
@jonwbstr Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-03 04:04] AnuragSharma-MSFT commented on #66856
@SarveshPandey Irrespective of whichever method we use like Azure portal, PowerShell or CLI, overwriting existing database will need us to delete the existing database and then restore it.

[2020-12-03 04:12] mepand commented on #67034
@vdamle You can select multiple shares together but will have to select one by one. Currently there is no feature like "Select All". But I agree that its a valid ask. I have created a backlog item for this and will definitely consider adding this feature.

[2020-12-03 04:34] rb-cloud-guru opened #67055 "https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli"
This is an old doc that should be removed. it is confusing for customers.  Any new AKS AAD integration should be using the Aks aad preview addon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abbc5958ff
* Version Independent ID: 3611b478-6df6-f5cd-563d-2fff6cfec9ef
* Content: [Integrate Azure

[2020-12-03 04:40] MayankBargali-MSFT commented on #67044
@cachai2 Thanks for the feedback!

@ggailey777 @craigshoemaker Any thoughts on this?

[2020-12-03 04:54] vipulsparsh commented on #66992
@txoh  In short, yes it does. the components behind the Azure defender makes it capable of doing all

[2020-12-03 04:57] pranavsanghadia commented on #65832
Thank you for detailed reply and confirmation.  By now I have developed a module which subscribes to MQTT topics and then send them to IoT Hub. Currently I am trying to find out what is the correct way to include MQTT topic in azure.iot.device Message, could not find a good example or document. This question might be appropriate for QnA?

[2020-12-03 05:00] JackyChiou opened #67057 "Storage account requirements => please add Storage account and Function need to be in the same region"
[Enter feedback here]
When create a function app in azure portal, in Hosting tab, if the storage account and function app in different region, can't see the storage account in the dropdown list.

By default, the storage account and function app need to be in the same region but the document is not mentioned.

![image](https://user-images.githubusercontent.com/5474418/100966289-825d7a80-3567-11eb-9

[2020-12-03 05:00] wahyuen opened #67058 "Is there a way to programatically set Managed Virtual Network?"
We are currently attempting to automate the provisioning of Integration Runtimes and wanted to set it up as being a Managed Virtual Network as opposed to public.

Currently it appears you can perform this step in Azure Portal but I'm struggling to find equivalent commands in a programmatic environment (eg. Powershell).

Is this currently possible or planned to be implemented?

---
#### Document De

[2020-12-03 05:02] wahyuen opened #67059 "Is it possible to turn off Public Access via Powershell on DataFactory creation?"
Currently if Data Factory is provisioned via the Portal, users have the ability to select if Public Network access is allowed or not. Is this possible via Powershell? If not, are there any plans on implementing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8423caa5-6655-e1b3-b57c-ac9e99f53965
* Version Independe

[2020-12-03 05:41] genlin commented on #33904
@helplessJ We do not have to enable BitLocker for the VM, but we need to install the "BitLocker Drive Encryption" feature to run  "manage-bde".

[2020-12-03 06:15] AnuragSharma-MSFT commented on #66900
@lumichael24 BulkExcutor .NET library is available for both Azure Cosmos DB SQL as well as gremlin API.

The documentation provided by you is very specific to SQL API. If we are using it for gremlin API it might behave differently.

I would suggest you to use below library which is very specific to graph API for bulk updates:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmosdb.bul

[2020-12-03 06:29] lumichael24 commented on #66900
Hi @AnuragSharma-MSFT  - Thanks for the response! Just to be clear, since the two methods from the documentation I provided and the one you provided look the same, is the only difference is the object that the method is being called on? For example, I should initialize a GraphBulkExecutor, and then call BulkUpdateAsync with my same parameters.

Does that seem correct?

[2020-12-03 06:33] psmanhas commented on #67050
@dankegel Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-12-03 06:43] AnuragSharma-MSFT commented on #66900
@lumichael24 Yes instead of initializing `BulkExecutor` we will initialize `GraphBulkExecutor`, and then call `BulkUpdateAsync` on it.
I myself have not tried writing that code but I checked `BulkUpdateAsync` method is available on `GraphBulkExecutor` and it should work.

Please let me know if you still face any issue and we can take it accordingly.

[2020-12-03 06:48] lumichael24 commented on #66900
Hi @AnuragSharma-MSFT thank you! I will try this tomorrow and and do some testing and will follow up below when I have an update. I appreciate the help!

[2020-12-03 06:55] psmanhas commented on #66649
@lissff Apologies for delayed response since I missed notification.

Sure I can discuss issue with Product Team and will keep you poste on same.

[2020-12-03 07:05] yugant-git commented on #66070
The original query from documentation, works for me. The provided suggestion from @priests123 also works fine. To debug this further can you add one log for 2 table used in query. I am pasting a small query to see if customer is getting the right schema of logs.
// Query requests table
requests
| where url endswith "generateAnswer"
| take 1
// Query traces table
traces
| where operation_Name conta