[2021-02-10 18:36] Efreeto opened #70399 "Please define 'request charge'"
This term 'request charge' seems to be specific to CosmosDB, but I can't find an official definition of it anywhere, doc or code. Although I can guess what it means, could we have an official definition in the doc? This page seems like a nice place to do so, and it was the top result from Google.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-02-10 18:37] jesshaines commented on #70363
Hi dazinator,
Using Azure Network Security Group rules to block/allow traffic is sufficient. Setting the rules using the Azure portal will update the VM's OS level firewall rules for you so there is no need to go in and adjust the rules directly on the VM itself. There are some use cases where you may need to update the firewall rules directly on the VM but in most cases you will not need to.

I h

[2021-02-10 18:38] bandersmsft commented on #64633
@sjosyula3 If your goal is create subscriptions with an ARM template, does https://docs.microsoft.com/azure/cost-management-billing/manage/create-subscription-template help? FYI, we're in the process of updating that article and the one you opened the issue against.

[2021-02-10 18:40] MrCsabaToth commented on #70391
Ref https://dba.stackexchange.com/questions/284571/should-i-drop-dbo-from-the-database-role-db-owner
Ref https://dba.stackexchange.com/questions/285137/should-i-provide-db-owner-principal-role-to-the-user-of-the-azure-sql-of-my-azur

[2021-02-10 18:40] KranthiPakala-MSFT commented on #70097
@moatwork
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-10 18:42] JamesTran-MSFT commented on #70150
@DeanGross
Thank you for your time and patience throughout this issue, I received a response from our engineering team and will post it below.

**Update:**
For AAD connect cloud sync, the instructions are documented at [Pilot Azure AD Connect cloud sync for an existing synced AD forest](https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/tutorial-pilot-aadc-aadccp), and is also cove

[2021-02-10 18:44] JamesTran-MSFT commented on #70268
@jpdfr-msft
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? Otherwise, since this is a known issue, I'll go ahead and close this out at the end of the day, pending any updates from your end.

[2021-02-10 18:48] emuench commented on #69628
JR is working with vikrambmsft.

[2021-02-10 18:49] PatAltimore commented on #70208
Hi @sgiovinetti,

I'm sorry this is a little confusing. The example is intended to be generic since the payload depends on the contract. The article shows common use cases and then points to the reference. For example, this is the link to contract action POST https://docs.microsoft.com/en-us/rest/api/azure-blockchain-workbench/contractsv2/contractactionpost. Getting the authentication to work corr

[2021-02-10 18:50] asudbring commented on #33525
Updated wording in document

#please-close

[2021-02-10 18:50] #33525 closed

[2021-02-10 18:56] bandersmsft commented on #65635
@bmcder Article updated. Thanks for letting us know about the issue.
#please-close

[2021-02-10 18:56] #65635 closed

[2021-02-10 19:03] asudbring commented on #33465
#please-close

[2021-02-10 19:03] #33465 closed

[2021-02-10 19:04] spelluru commented on #70162
#reassign:spelluru

[2021-02-10 19:05] asudbring commented on #32567
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:06] asudbring commented on #32542
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:08] asudbring commented on #32128
Document updated

#please-close

[2021-02-10 19:08] #32128 closed

[2021-02-10 19:09] tyler555g opened #70400 "Typo in Python func.Out example"
Says:
    func.Out(str)

Should be:
    func.Out[str]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c7-cb5c-bdc7-6433-289f47dc186b
* Content: [Azure Blob storage output binding for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functio

[2021-02-10 19:09] asudbring commented on #29967
The table looks like it was updated with TLS versions.

#please-close

[2021-02-10 19:09] #29967 closed

[2021-02-10 19:11] asudbring commented on #27958
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:12] asudbring commented on #27957
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:14] VanMSFT commented on #68161
Closing for now.

#please-close

[2021-02-10 19:14] #68161 closed

[2021-02-10 19:15] DerekHerman-MSFT commented on #70382
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-10 19:16] DeanGross opened #70401 "Old screen shot"
Please update to show the current screens for this functionality
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710e461ffeb
* Version Independent ID: c8ef08a8-d503-b52f-9de8-21b13cfa3d72
* Content: [Azure Active Directory Connect Health operations](https://docs.microsoft.com/en-us/azure/active-d

[2021-02-10 19:26] dvartdal commented on #36268
For me, it was all about location.

I've set up my resource group, app-plan, app service (Linux) and storage in Norway East. Got this error ("Linux workers not allowed") when trying to deploy my Linux function app to the same location (Norway East).

After some trial and error I tried to add a new resource group and set it to Norway East. I then got the error on deploy that the current location di

[2021-02-10 19:26] JamesTran-MSFT commented on #70207
@peoplesmeat
Thank you for the clarification!

I reached out to my team regarding this, and it looks like what constitutes as a [Group Setting](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-settings-cmdlets) is anything within the [Get-AzureADDirectorySetting cmdlet](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaddirectorysetting?view=azurea

[2021-02-10 19:29] asudbring commented on #25667
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:30] tyler555g opened #70402 "Bad information on Binding Expressions"
{date}  as shown in:

{
    "name": "myBlob",
    "type": "blobTrigger",
    "direction": "in",
    "path": "testContainerName/{date}-{filetype}.csv",
    "connection": "OrderStorageConnection"
}

is not a valid binding for python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Ver

[2021-02-10 19:31] asudbring commented on #23536
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:36] asudbring commented on #21808
Article has been updated

#please-close

[2021-02-10 19:36] #21808 closed

[2021-02-10 19:37] asudbring commented on #18814
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:38] asudbring commented on #16594
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:39] asudbring commented on #16466
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:39] GiftA-MSFT commented on #70274
@rquintino we currently support writing files to [datastores](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-data) and/or (`./outputs`, `./logs`) folders respectively. For **Storage Blob Data write access**, `write `and `add` [permissions ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-data#permissions) are required. Hope this helps.

[2021-02-10 19:39] shraboin commented on #27957
+adding some team members

In the past we use to work CDN cases for Azure Dev Storage. There was an issue regarding Akamai and http header versioning. Feel free to include any other members that this is applicable to.

Thanks,
Shane

From: Allen Sudbring <notifications@github.com>
Sent: Wednesday, February 10, 2021 1:13 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Shane Rabo

[2021-02-10 19:39] PRMerger16 commented on #27957
Only Microsoft employees can manage issues via commenting in this repo.

[2021-02-10 19:40] asudbring commented on #16407
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:40] asudbring commented on #13800
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:42] shraboin commented on #27957
@PRMerger16 I'm not sure what that means and the need is for customers

[2021-02-10 19:43] asudbring commented on #17798
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:44] asudbring commented on #11066
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 19:54] asudbring commented on #70291
Fixed typo

#please-close

[2021-02-10 19:54] #70291 closed

[2021-02-10 20:01] asudbring commented on #70230
Fixed links. Will be on live site on next publish.
#please-close

[2021-02-10 20:01] #70230 closed

[2021-02-10 20:11] SatishBoddu-MSFT commented on #69635
**Quick update:** We had an offline discussion with @barmettlerl .

We observed the scenario as, A single device sending two different payloads at an interval of 30 Seconds [example 'ProcessData' & 'QualityData']. And the routing query is not working when we use the Where condition such as 'And' ,  'Or'

CXP is working on repro, we will keep you posted.

[2021-02-10 20:25] xNiklasJern opened #70409 "Does group membership actually govern the application access?"
Hi all,

The option with 'To which group should assigned users be added?' does this actually govern the access to application, or is it meant more like just a inventory thing? i.e. if a user is removed as a member of the group, do they also lose the access to the application? Or is this a separate action needed to be performed?

Regards,

---
#### Document Details

⚠ *Do not edit this section. It

[2021-02-10 20:25] RyanHill-MSFT commented on #70212
Hi @McClunatic, how did you go about configuring your Google provider with your back-end app service? Are there any other issuers that you are using?

[2021-02-10 20:29] asudbring commented on #69246
Verified command is failing.  Consulting with PM on issue.

#reassign:@qixwang

[2021-02-10 20:29] PRMerger13 commented on #69246
GitHub user qixwang has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:31] asudbring commented on #62757
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:32] asudbring commented on #61802
Sending to PM for review

#reassign:@amitsriva

[2021-02-10 20:33] asudbring commented on #53755
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:33] asudbring commented on #53253
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:34] asudbring commented on #38563
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:35] PRMerger15 commented on #38563
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:36] asudbring commented on #69861
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:36] asudbring commented on #69850
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:36] asudbring commented on #68507
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:37] asudbring commented on #67502
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:37] asudbring commented on #62474
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:37] PRMerger15 commented on #62474
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:37] asudbring commented on #61490
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:37] PRMerger15 commented on #61490
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:37] asudbring commented on #60240
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:38] asudbring commented on #56898
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:39] asudbring commented on #56883
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:39] PRMerger16 commented on #56883
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:39] asudbring commented on #56198
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:43] asudbring commented on #54964
#reassign:@asudbring

[2021-02-10 20:44] asudbring commented on #54715
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:45] asudbring commented on #54506
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:45] asudbring commented on #54462
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:46] asudbring commented on #54265
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:46] PRMerger17 commented on #54265
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:46] asudbring commented on #53862
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:47] jovalen commented on #69994
Hi team,

I made tests again and here you have the issue I faced:
![image](https://user-images.githubusercontent.com/30435393/107570020-43901480-6be9-11eb-9a8d-1b38591572fa.png)

![image](https://user-images.githubusercontent.com/30435393/107570168-776b3a00-6be9-11eb-92dd-20a02f74ae0b.png)

![image](https://user-images.githubusercontent.com/30435393/107570215-87831980-6be9-11eb-8a8d-cb5e5d75d3b7.p

[2021-02-10 20:47] asudbring commented on #53706
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:47] PRMerger17 commented on #53706
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:47] asudbring commented on #53626
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:47] PRMerger17 commented on #53626
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:48] asudbring commented on #52688
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:48] PRMerger18 commented on #52688
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:48] asudbring commented on #52449
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:48] PRMerger18 commented on #52449
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:49] asudbring commented on #51971
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:49] PRMerger18 commented on #51971
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:49] chuckthompsonprofisee opened #70411 "Name always says Custom Deployment"
I have a Deploy to azure button on our github site, and everything works, but the name at the top always say "Custom Deployment".  I have a metadata.json in the repo it comes from, but the name in the metadata.json nor descriptions show up.  how do I get the name to show up.

![deploytoazurename](https://user-images.githubusercontent.com/63325482/107570387-6efa0b80-6bb7-11eb-9063-8b4ed8f58427.GIF)

[2021-02-10 20:49] asudbring commented on #51612
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:49] PRMerger18 commented on #51612
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:49] asudbring commented on #49548
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:49] PRMerger18 commented on #49548
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:50] asudbring commented on #49394
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:50] MarileeTurscak-MSFT commented on #70398
Thanks @JeremyTBradshaw! I'm looking into this. Do you mind linking the other issues that referenced this question?

[2021-02-10 20:50] asudbring commented on #48246
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:50] PRMerger18 commented on #48246
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:50] GiftA-MSFT commented on #70243
@josephsctan thanks for your patience while we review your inquiry. Please review response below:

Conversation Transcription, aka CTS, is currently supporting any device including single channel audio from a common microphone, but the SDK is on our road-map. We can allow customers to preview this device agnostic CTS service before the SDK release, let us know if you're interested and we can guide

[2021-02-10 20:50] asudbring commented on #46251
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:50] PRMerger18 commented on #46251
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:51] asudbring commented on #45715
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:51] PRMerger18 commented on #45715
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:51] asudbring commented on #45228
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:51] PRMerger18 commented on #45228
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:51] asudbring commented on #45225
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:52] asudbring commented on #42740
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:52] PRMerger19 commented on #42740
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 20:52] asudbring commented on #42603
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 20:53] asudbring commented on #42261
Document was updated
#please-close

[2021-02-10 20:53] #42261 closed

[2021-02-10 20:53] asudbring commented on #42260
#please-close

[2021-02-10 20:53] #42260 closed

[2021-02-10 20:55] AlexandraKemperMS opened #70412 "Pricing for geo replication"
Hi, I was just looking at this page and expected to see what your pricing is for geo replication. while it doesn't need to be explained, a link would be really helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec15230c-5892-782c-89f2-18da183786eb
* Version Independent ID: f0a94c7d-bb31-91fa-ece6-59dcd550b6f2
* Co

[2021-02-10 20:58] KranthiPakala-MSFT commented on #70324
Hi @rawatsudhir1, following up to see if you have got a chance to try the above suggestion?

Thanks

[2021-02-10 21:01] BrianLevenson commented on #70394
@femsulu I'm no longer a Microsoft employee and probably can't own this issue to drive resolution :)

[2021-02-10 21:01] KranthiPakala-MSFT commented on #70347
@alexskoropletov
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-10 21:03] femsulu commented on #70394
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-10 21:04] asudbring commented on #42259
Updated table.  Will be on live site on next publish.

#please-close

[2021-02-10 21:04] #42259 closed

[2021-02-10 21:04] genegc opened #70413 "button images are broken"
The images for the "launch cloud shell" buttons are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6985c1-fec9-dddd-e6f1-83dd9510e711
* Version Independent ID: ddf7c9f1-101a-fdf9-2af4-c9e537a52c2d
* Content: [Embed Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/embed-cloud-shell)
* Conte

[2021-02-10 21:05] asudbring commented on #42258
#please-close

[2021-02-10 21:05] #42258 closed

[2021-02-10 21:06] PRMerger7 commented on #41250
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 21:06] femsulu commented on #70353
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-10 21:07] asudbring commented on #38244
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 21:07] PRMerger7 commented on #38244
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 21:08] asudbring commented on #36972
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 21:08] femsulu commented on #70344
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@rayne-wiselman  - fyi.

[2021-02-10 21:09] asudbring commented on #35405
doc was updated

#please-close

[2021-02-10 21:09] #35405 closed

[2021-02-10 21:09] asudbring commented on #35315
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 21:10] PRMerger8 commented on #35315
GitHub user mdgattuso has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-02-10 21:10] robinsh commented on #68477
re: the deprecation of SendToBlobAsync. Replaced this with a working sample (azure-iot-samples-csharp/iot-hub/Samples/device/FileUploadSample/FileUploadSample.cs).

[2021-02-10 21:10] asudbring commented on #35071
Assigning to PM for review

#reassign:@amitsriva

[2021-02-10 21:28] JamesTran-MSFT commented on #70147
@McClunatic
Thank you for taking the time to write this detailed description!

We'd like to take a closer look into your environment, so we can better help you work through this issue. Can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: Az

[2021-02-10 21:28] #70147 closed

[2021-02-10 21:30] panitaxx commented on #68170
Hello @RohitMungi-MSFT. Issue still persists for some numeric values in Spanish-Mexico. After some tests with our customers they have discovered that some values are still misread. Here is a list of values that are misread:

* 3100500
* 2100000
* 21100000
* 53500000

Thanks.

[2021-02-10 21:33] almisson commented on #69536
@SnehaAgrawal-MSFT Any answers/comments on my last question?

[2021-02-10 21:41] spelluru commented on #43708
I am looking at the Service Bus documentation and it says both metadata and data are replicated when the Availability Zone support is enabled.

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-outages-disasters#availability-zones

"Service Bus manages three copies of messaging store (1 primary and 2 secondary). Service Bus keeps all the three copies in sync for data and man

[2021-02-10 21:42] amsuprith opened #70414 "Using DefaultAzureCredential() is not working on Azure function app"
Team I am facing 403 forbidden error while using DefaultAzureCredential() method in Azure fuction app I am using
Microsoft.Extensions.Configuration.AzureAppConfiguration 4.1.0 nugget package does it supports managed identities ?

Below is my code.
 public override void ConfigureAppConfiguration(IFunctionsConfigurationBuilder builder)
        {
            string cs = Environment.GetEnvironmentVari

[2021-02-10 21:53] jonocarnie opened #70415 "Please update document with these suggestions."
You need to add the setup of no proxy to these instructions.
In a corporate environment the guide will *not* work without setting up a no_proxy for 127.0.0.1, if not available by default.

It's a terrible first experience with the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1ff97a-0ca7-c91b-5b45-370212407

[2021-02-10 21:58] MarileeTurscak-MSFT commented on #69482
@qaehtesh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-10 22:03] TravisCragg-MSFT commented on #70358
@urikan1 Thanks for the feedback! An example is given for both the front end and backend. I am not sure if this was intentional or if a description is needed, so I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-10 22:13] idusortus commented on #70330
Sounds important for what I want to do.

I created a new B2C Tenant and am migrating over to it. Thanks for the feedback!

[2021-02-10 22:16] spelluru commented on #43708
Just confirmed with the product team that
"We replicate both metadata and data (events) across zones when Availability Zone support for an event hub is enabled"

[2021-02-10 22:28] ChaitanyaNaykodi-MSFT commented on #70400
Hello @tyler555g,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-10 22:29] gbelenky opened #70416 "use "preferred_username" instead of "unique_name" for the AAD Identity provider claims Email mapping"
[Enter feedback here]
The identity provider claims mapping for Email should be "preferred_username" instead of "unique_name". I tested it, and it also conflicts with another documentation page [here  ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow) :
Under Identity provider claims mapping, select the following claims:

Use

[2021-02-10 22:29] JamesTran-MSFT commented on #70296
@PaulVrugt
Thank you for the detailed updates!

The [PowerShell for Azure AD roles in Privileged Identity Management](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles) (PIM) doc that you're referring to is specifically talking to Azure AD roles in PIM. If you're trying to assign users/groups to a privileged access group, you shoul

[2021-02-10 22:31] ChaitanyaNaykodi-MSFT commented on #70402
Hello @tyler555g,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-10 22:34] MarileeTurscak-MSFT commented on #70214
Thanks for this! You are right.

I made a pull request to update this but am awaiting review from the authors. https://github.com/MicrosoftDocs/azure-docs-pr/pull/146479

@billmath this has been reported a few times. Can we get this updated?

[2021-02-10 22:38] b-jam commented on #69850
To be clear, I am referring to this screenshot https://docs.microsoft.com/en-us/azure/cdn/media/cdn-sas-storage-support/cdn-url-rewrite-rule-option-4.png

As that does not look like the azure UI at all

[2021-02-10 22:46] tamram commented on #69301
@kornelione - Thanks for your feedback. I've added the portal and CLI examples for enabling blob versioning, and also updated the portal image.

#please-close

[2021-02-10 22:46] #69301 closed

[2021-02-10 22:47] JamesTran-MSFT commented on #70387
@stuckbear
Thank you for pointing this out!

Are you able to share a link to the guidance on NIST 800-63b? This way I can gain a better understanding of what you're referencing.

When it comes to password policies, a lot of security guidance recommends that you don't use the same password in multiple places, to make it complex, and to avoid simple passwords like Password123. You can provide your u

[2021-02-10 22:48] #70268 closed

[2021-02-10 22:49] JamesTran-MSFT commented on #70401
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-10 22:50] TravisCragg-MSFT commented on #70385
@Klaas- Update domains are a max of 20 for a region, but you can specify a different number in your Availability Set if needed. Generally you will want a 1:1 ratio of VMs to update domains.

Update domains are a virtual construct not bound by hardware (like fault domains), so the number you set can be any number from 1 - 20.

Fault domains are hardware dependent. If there are only 2 physical clust

[2021-02-10 22:52] JamesTran-MSFT commented on #70409
@xNiklasJern
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-10 23:06] Pelagoutb opened #70418 "I need to get the first entity of the Azure Table without knowing the PartitionKey or RowKey with Python"
Hi,
I need to get the first entity of the Azure Table without knowing the PartitionKey or RowKey, with Python and C#.

We are 3 guy now Googled, for 4 Hours each, the web for hints but nothing is around.
This page would need such a description Please!

Best Regards
PAtrik

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-10 23:08] ChaitanyaNaykodi-MSFT commented on #70413
Hello @genegc,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-10 23:23] kln4dt commented on #70215
The relationship in model A needs to target the id of model B and model C has to extend the same id of model B in order for the creation of a relationship from Digital Twin of model A to the Digital Twin of model C.
Example:
**relationship in modelA:**
    {
      "@type": "Relationship",
      "@id": "dtmi:com:test:iot:rel_contains_modelB;1",
      "name": "rel_contains_modelB",
      "displayNam

[2021-02-10 23:24] JamesTran-MSFT commented on #70416
@gbelenky
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-10 23:38] andrewalla opened #70419 "Azure Disk Encryption does not require the Key Vault and the VMs to be co-located in the same region"
![vm1](https://user-images.githubusercontent.com/43588012/107586900-74128700-6bc6-11eb-84b4-a05a1e0116af.PNG)
![set_key](https://user-images.githubusercontent.com/43588012/107586904-74ab1d80-6bc6-11eb-88be-a0448e28bfef.PNG)
![vault_Japan](https://user-images.githubusercontent.com/43588012/107586907-74ab1d80-6bc6-11eb-855f-4f601d0299e8.PNG)

Azure Disk Encryption does not require the Key Vault and

[2021-02-10 23:49] ecfan commented on #31468
Unless you're referring to the initial start time, just specifying start time doesn't guarantee that subsequent runs happen at the same time. Try also adding the specific hours and minutes for subsequent recurrences, but you need to change the frequency to **Day** or **Week** to get the **At these hours** and **At these minutes** options.

This topic needs an update to say the following instead:

[2021-02-10 23:51] jhumelhit opened #70420 "Cannot switch directories in DevOps"
I am having an issue when I go to switch from my home organization to a clients directory.

I am added to their organization, but when I go to sign in I either get the message "More information required
Your organization needs more information to keep your account secure", which is confusing because I already have 2F authentication setup for my account, or this "You cannot access this right now
Yo

[2021-02-10 23:59] oldagdguy opened #70422 "Resource already exists"
When I try to update the storage resource I created from the previous exercise it fails.
 New-AzResourceGroupDeployment `

New-AzResourceGroupDeployment : 5:58:25 PM - Error: Code=InvalidResourceLocation; Message=The resource
'gmjentstore1gmj02102021' already exists in location 'centralus' in resource group 'myResourceGroup'. A resource with
the same name cannot be created in location 'eastus'. Pl

[2021-02-11 00:14] roy-work opened #70423 "No benchmarks for most E*v4 instances."
The page lacks benchmarks for most of the E*v4 instances, such as `En_v4` and `Ens_v4` where `n` is the number.

Ideally, I'd be using this page to compare `Ev3` to `Ev4`, to justify upgrading!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version Independent ID: 844d62d4-a06b-15

[2021-02-11 00:14] oldagdguy commented on #70422
Nevermind I deleted the first storage resource and recreated it from the exercise JSON.

[2021-02-11 00:14] #70422 closed

[2021-02-11 00:27] ChaitanyaNaykodi-MSFT commented on #70411
Hello @chuckthompsonprofisee, we drive this channel for doc improvements/ questions. Can you please let us know the exact documentation where you faced the issue above? Thank you!

[2021-02-11 00:30] b-juche commented on #70301
@seb-brack - Thanks again for the input.  In discussing with the product managers, we've revised the text as follows:

---------------------------------------------------------

You can control access to the snapshot directories by using the [Hide Snapshot Path](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-manage-snapshots#edit-the-hide-snapshot-path-option) option.

[2021-02-11 00:32] b-juche commented on #70301
#please-close

[2021-02-11 00:32] #70301 closed

[2021-02-11 00:40] KrishnaG-MSFT commented on #70422
@oldagdguy Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so going forward if you have Azure docume

[2021-02-11 00:51] JamesTran-MSFT commented on #70419
@andrewalla
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-11 01:37] SnehaGunda commented on #63377
@eloew Thanks for reporting the issue, we have updated the sample and doc to use the latest (4.11.0) version of the SDK.

We will now close this issue.

#please-close

[2021-02-11 01:37] #63377 closed

[2021-02-11 01:38] tamram commented on #70043
#reassign: @normesta

[2021-02-11 01:39] tamram commented on #60473
#reassign: @santoshc1

[2021-02-11 01:40] lissff opened #70425 "More specific about the scope that remediator would take actions"
[Enter feedback here]
Would the remediator take action all the time when there were Node issues?
Any scenario that Remediator would take no action at all and why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cfced32-ae8d-bbba-265d-b85e54fe3148
* Version Independent ID: c5b7d3f0-1828-2088-85c4-9a4d571427ca
* Content:

[2021-02-11 01:43] tamram commented on #70027
@OpenWindow - Thanks for your feedback. I have updated the list of methods.

#please-close

[2021-02-11 01:43] #70027 closed

[2021-02-11 01:43] savjani commented on #70343
Adding @ambhatna to help with this question.

[2021-02-11 01:52] jjaguirre394 commented on #66973
Thank you very much for opening this issue and including the resolution as well. I have spent hours trying to figure this out.

[2021-02-11 02:07] rawatsudhir1 commented on #70324
Hi @KranthiPakala-MSFT,

Given the required access as screenshot below

![image](https://user-images.githubusercontent.com/32550309/107595730-60285d00-6c7a-11eb-95cb-a3c711ef74bd.png)

It failed with same error

![image](https://user-images.githubusercontent.com/32550309/107595819-a67dbc00-6c7a-11eb-94c4-dd3d773ceed4.png)

[2021-02-11 02:10] dkeisen opened #70426 "ClaimsProviders Document Never Says What a Claims Provider is"
[Enter feedback here]
Good content provided about the structure of the ClaimsProviders section of a TrustFrameworkPolicy XML document used in defining Custom Policies for Azure AD B2C. But it never says what a Claim Provider is or why this is an important part of the schema. Author probably thought this obvious.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-02-11 02:20] michaelbunney opened #70427 "Inconsistency in Applicability of Azure Monitor Application Insights"
Two pages in the Azure Monitor documentation say different things about what Application Insights does.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview
says it lets you "monitor your live applications".

https://docs.microsoft.com/en-us/azure/azure-monitor/monitor-reference#insights-and-core-solutions
says it lets you "monitor your live web application".

Please rev

[2021-02-11 02:40] PradeepKiruvale commented on #69882
Thanks Satish for the clarifications.

[2021-02-11 02:54] brucelowekamp opened #70428 "StartStopPreview feature not found"
error following instructions:

$ az feature register --namespace "Microsoft.ContainerService" --name "StartStopPreview"
Once the feature 'StartStopPreview' is registered, invoking 'az provider register -n Microsoft.ContainerService' is required to get the change propagated
The feature 'StartStopPreview' could not be found.

so couldn't enable

---
#### Document details

⚠ *Do not edit this section

[2021-02-11 03:22] ChaitanyaNaykodi-MSFT commented on #70420
Hello @jhumelhit, Thank you for reaching out.
We drive this channel for doc improvements/ questions. Can you please let us know the exact documentation where you faced the issue above? So that I can redirect this issue to the appropriate team.  Thank you!

[2021-02-11 03:24] ChaitanyaNaykodi-MSFT commented on #70415
Hello @jonocarnie,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-11 03:53] SubhashVasarapu-MSFT commented on #70072
@chandrapola, Appreciate your feedback. We are working on editing the document accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-11 03:53] #70072 closed

[2021-02-11 03:56] pskfry opened #70430 "Continuous deployment setting in Deployment Center won't stay On"
I've done everything in this article and it worked twice, I was able to receive webhook publishes from DockerHub to my Azure webapp. Unfortunately, the "Continuous deployment" setting sometimes will turn itself off, causing webhook publishes to be ignored by the Azure Web App. I've been working on this all evening and if I turn it back on it worked sometimes, but now I cannot get the setting to st

[2021-02-11 03:59] KalyanChanumolu-MSFT commented on #70399
@Efreeto Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-11 04:06] BhargaviAnnadevara-MSFT commented on #70414
@amsuprith Thanks for the question! We're investigating this and will get back to you shortly.

[2021-02-11 04:07] SubhashVasarapu-MSFT commented on #70331
@larryclaman, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-11 04:07] #70331 closed

[2021-02-11 04:13] MarileeTurscak-MSFT commented on #70391
@MrCsabaToth
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-11 04:31] AnuragSharma-MSFT commented on #70412
@AlexandraKemperMS Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-11 04:32] AnuragSharma-MSFT commented on #70418
@Pelagoutb Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-11 04:52] SnehaAgrawal-MSFT commented on #70430
@pskfry Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-11 05:14] AnuragSharma-MSFT commented on #70264
@hanskhe Feedback taken. This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-11 05:14] AnuragSharma-MSFT commented on #70319
@Ethan-Arrowood Awaiting your response on this.

[2021-02-11 06:02] psmanhas commented on #70428
@brucelowekamp Can you please confirm if you are running it on Virtual Machine Scale Sets backed clusters  since this feature is only supported for Virtual Machine Scale Sets backed clusters and also currently available on public clusters and not private one.

You can refer to [this](https://github.com/Azure/AKS/issues/1871) thread as well which gives insights on the issue and might be helpful to

[2021-02-11 06:04] ssivas commented on #70354
@brian-h1 , This issue has been escalated to our engineering team and they have been investigating this issue meanwhile you could use **"User Admin"** or **"Global Admin"** role to resend invite for guest users. I will keep you posted with an update. Appreciate your patience. Thanks.

[2021-02-11 06:04] shashishailaj commented on #70426
@dkeisen Thank you for your feedback . We will have this checked with the content team and update the thread.

[2021-02-11 06:13] AnuragSharma-MSFT commented on #70412
@AlexandraKemperMS This article is mostly related to how do we configure the geo-replication and failover in Azure SQL Database. However for pricing model on geo-replication, I would suggest you to please go through the [article](https://azure.microsoft.com/en-us/pricing/details/sql-database/single/) and refer to below section.

![image](https://user-images.githubusercontent.com/66360845/107607044

[2021-02-11 06:22] AnuragSharma-MSFT commented on #70368
@bertrandpons Yes the price changes and it depends on how many replica we configure. You can refer to the [article ](https://azure.microsoft.com/en-in/pricing/details/cache/)for more details and check below section:

![image](https://user-images.githubusercontent.com/66360845/107607583-a7552480-6c5f-11eb-8c36-04e74b4f2e12.png)

Please let us know if this helps.

[2021-02-11 06:27] psmanhas commented on #70423
@roy-work Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-11 06:27] psmanhas commented on #70423
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-02-11 06:33] psmanhas commented on #70425
@lissff Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-02-11 06:50] ValerianHts commented on #70012
Hello @ssivas,
I just tried out installing the newest AzureAD (non-preview) module:
Install-Module -Name AzureAD -AllowClobber -Force

After that New-AzureADMSAdministrativeUnit is directly available.
So my (and all users reading the article) fault was installing the AzureADPreview. The addentum "(preview)" should be remove from documentation.

Thanks
Valerian

[2021-02-11 06:58] psmanhas commented on #70270
@chrisbloe There is auto cert rotation work in progress to rotate 2 years certs automatically(transparent to user), that would is planned to be completed in March.

Hope it helps!!!

Thanks

[2021-02-11 07:00] psmanhas commented on #69634
@miwithro @mlearned Any inputs on above?

[2021-02-11 07:14] shashishailaj commented on #70348
@brandwe Could you please review this ask and help update the documentation as needed.

[2021-02-11 07:22] Klaas- commented on #70018
It seems microsoft corrected their mistake, I can no longer schedule an update deployment for a rhel8 system.

[2021-02-11 07:24] PaulVrugt commented on #70296
@JamesTran-MSFT

This was my problem exactly :)

If you mean for finding a way to programmatically access these settings and create PIM groups and assign groups, then yes. I would really like to work with a support engineer to accomplish this.

[2021-02-11 07:28] SwathiDhanwada-MSFT commented on #70427
@michaelbunney Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-11 07:31] dcurwin commented on #70353
#reassign:Debpriya1994

[2021-02-11 07:50] dcurwin commented on #70353
@wUEZRs  - Can you clarify your question a bit? When we create a VM from backup with a new name, it is treated as a new VM and not an old machine. How are you seeing that the old name is maintained?

[2021-02-11 08:11] ryantheleach commented on #70360
That's my point, the documentation for introducing how to access cosmodb from functions, completely lacks any examples of 'falling back to the SDK's directly' so you are left floundering trying to workout how to do so.

All it would take is a footnote leading people where to look.

[2021-02-11 08:17] lightupdifire opened #70432 "Temporary access pass"
Hello,
In my tenant, I see the "Temporary access pass" option, but nothing in the documentation, the "help" URL redirects to this page,
The document update planned?

![image](https://user-images.githubusercontent.com/39700914/107614110-f2643d00-6c49-11eb-9275-590284884ee1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-02-11 08:21] AnuragSharma-MSFT commented on #70356
@akamienski Could you please help me in locating the statement "**_Ensure that your virtual network Network Security Group rules don't block the following outbound communication ports to Azure Database Migration Service"_** as mentioned in your question? I could not locate it in the article.

[2021-02-11 08:22] chrisbloe commented on #70270
That's great, thanks for the update, @psmanhas if it's ok, I think we should keep this ticket open until the feature is complete, unless there's a public ticket that details this feature to watch instead?

Cheers

[2021-02-11 08:42] al-n opened #70433 "URLs for Azure China missing"
According to this blogpost https://azure.microsoft.com/de-de/updates/azure-private-link-partner-services-now-generally-available-in-china/ and the info gathered by ``Get-AzAvailablePrivateEndpoint`` many services are GA in Azure China. However, this article only provides URLs for database services. Could you please add the other ones as well? Thanks!

---
#### Document Details

⚠ *Do not edit this

[2021-02-11 08:58] memildin commented on #70323
Hi @stdistef, thanks for the feedback and for taking the time to help us improve the docs.

I've updated both graphics and the changes will go live within 12hrs.

Thanks again!

#please-close

[2021-02-11 08:58] #70323 closed

[2021-02-11 08:59] DavidTrigano commented on #70391
Hello @MrCsabaToth,

Thanks for your feedback.
Due to security and compliance matters, we decided not to communicate the exact changes done on the rules.
Our team is actually working on improving the overall experience and allow customers to better prepare their baselines for potential changes in the future.

[2021-02-11 09:05] DavidTrigano commented on #69887
@NavtejSaini-MSFT you can go ahead and close this ticket

[2021-02-11 09:11] ovanekem commented on #61627
Same issue here. I have tried to use a private DNS where the ACI IP is registered through scripting at creation time. But when the ACI is restarted (by us or by Microsoft when there are maintenance works on the underlying Kubernetes nodes), the IP is changed and the DNS is not updated because auto-registration of IP addresses in an Azure private DNS is only working for a Virtual Machine and not fo

[2021-02-11 09:13] memildin commented on #70269
Hi @true-pigmaster, thanks for the feedback and for taking the time to help us improve the docs.

Please could you be a little more specific about the issue you've found. The page doesn't specify that the recommendation "A vulnerability assessment solution should be enabled on your virtual machines" is in the security control "Remediate vulnerabilities". It also doesn't show any screenshots indica

[2021-02-11 09:13] #70269 closed

[2021-02-11 09:14] bertrandpons commented on #70368
@AnuragSharma-MSFT Thank you for your reply. Do you have a forecast regarding the end of the preview?

[2021-02-11 09:17] GitaraniSharma-MSFT commented on #70231
@jacobmsft , I reproduced the scenario in my lab and I was able to connect to a West US 2 region's VMSS via Azure Bastion deployed in that Virtual Network.

![image](https://user-images.githubusercontent.com/67630903/107618481-a3350100-6c77-11eb-926c-9e7f3f0d64a5.png)

![image](https://user-images.githubusercontent.com/67630903/107618551-c1026600-6c77-11eb-8e8b-fb74a82eb9c2.png)

![image](https://

[2021-02-11 09:21] Klaas- commented on #70385
So a fault domain of zone 1 does not intersect with a fault domain of zone 2? I was kinda thrown off by this: "An Availability Zone in an Azure region is a combination of a fault domain and an update domain. "
But what you really mean is
Zone1: 2-3 fault domains, 20 update domains
Zone2: 2-3 fault domains, 20 update domains
Zone3: 2-3 fault domains, 20 update domains
and those fault domains and up

[2021-02-11 09:38] yasithacp opened #70438 "Cannot create a new Azure AD Policy"
I am following the latest documentation on configuring token life times. (https://docs.microsoft.com/en-us/azure/active-directory/develop/configure-token-lifetimes)

I am trying to create a new policy as described in the documentation but it says new policy cannot be created anymore.

Below is the command I tried and the error response in the powershell.

[code]

---
#### Document Details

⚠ *Do n

[2021-02-11 09:59] rbharadwaj16 commented on #55029
The situation is still the same. Is there an ETA have this updated ?

[2021-02-11 10:03] GitFrol commented on #45796
Has anybody found a solution?

[2021-02-11 10:11] nilsga opened #70439 "Multi tenant secure webhook"
I would like to set up a multi tenant secure webhook, but following the steps in this document does not seem to work. I can register the Enterprise Application from the other tenant, and assign to it the required role, but even after adding myself as the owner of the enterprise application, the application does not show up in the dropdown. And attempting to create the action group with `az monitor

[2021-02-11 10:26] psmanhas commented on #70270
@chrisbloe Yes we surely can or we can close it for time being and once I have an update from our internal team on this I can post the update on this thread. Anything works for me so do let me know how do you want to proceed.

Thanks

[2021-02-11 10:28] sennendoko commented on #70047
Why has this been closed? The page is unchanged as far as I can see, and there was no answer to the question of what the distinction is.

[2021-02-11 10:35] ltoinel commented on #70428
Same issue here on all our clusters. No way to wake up our cluster on France Central ...

[2021-02-11 10:42] 0xThiebaut opened #70441 "Does Log Analytics agent in Azure Monitor support wildcards in the path component?"
Regarding the _"Defining a custom log: Step 3. Add log collection paths"_ section, could you specify whether wildcards are supported for the file's path component too or whether this feature is limited to file names?

Our use case is that a multi-tenant software is generating logs in `/var/log/audit_customer/log.txt` which we would ideally recover using a `/var/log/audit_*/log.txt` notation to aut

[2021-02-11 11:04] ltoinel commented on #70428
@brucelowekamp  : Did-you find a work around to wake-up your clusters ?

[2021-02-11 11:07] jmprieur opened #70442 "In the portal the quickstart should tell the user to extract the zip file close to the root of the folder"
[Enter feedback here]
When downloading and extracting the zip file in the download folders, users risk getting the error below when trying to build this project. After moving the project folder closer to C:\, the project will build successfully.
ASP.NET web app quickstart in Step 3 mentions to extract the project closer to root folder. Maybe this quickstart should mention that too.

![image](https

[2021-02-11 11:13] ssivas commented on #70330
Please let us know if you need more information.

[2021-02-11 11:13] #70330 closed

[2021-02-11 11:22] AjayKumar-MSFT commented on #70366
Thanks for leveraging Azure docs feedback channel to raise this question and follow-up with a solution that worked for you.

[2021-02-11 11:28] ssivas commented on #70012
I have done modification to the Document, kindly allow us sometime this would take some to reflect. I will proceed with closure of this GitHub issue for now, feel free to reach out, if there any additional queries. Thanks

[2021-02-11 11:28] #70012 closed

[2021-02-11 11:30] JBines opened #70443 "Multiple forests to One Dir - Group Filter"
Under the heading 'Multiple forests, single sync server, users are represented in only one directory'

I think it's important to call out here that the use of a group filter is not recommended and can lead to unexcepted results.

If you need more details please just let me know.

Br.
Joshua

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-02-11 11:35] sahinad commented on #67301
@Hjortsberg Are the event pubsliher and subscriber in the same Azure AD?

[2021-02-11 11:50] ssivas commented on #70087
@kmwahlstrom . Thanks for reaching out.

Cloud sync does **not support writeback of ms-ds-consistencyGUID** for any object.  Unlink traditional AD connect, for any given on-premises AD User object whose ms-DS-ConsistencyGuid attribute isn't populated, Azure AD Connect writes its objectGUID value back to the ms-DS-ConsistencyGuid attribute in on-premises Active Directory. After the ms-DS-Consistenc

[2021-02-11 11:55] rarandiv commented on #69790
Hi @AnuragSharma-MSFT Just wondering if the above suggestion is getting consider.

[2021-02-11 11:56] rarandiv commented on #70098
Hi @KalyanChanumolu-MSFT Just wondering if the above suggestion is getting consider.

[2021-02-11 11:56] rarandiv commented on #70167
Hi @SatishBoddu-MSFT Just wondering if the above suggestion is getting consider.

[2021-02-11 12:07] KrishnaG-MSFT commented on #70441
@0xThiebaut Thanks for reaching out! Unfortunately wildcards in the path component is currently not supported so its currently limited to file names. I see [this](https://feedback.azure.com/forums/267889-azure-monitor-log-analytics/suggestions/37313197-add-wildcard-character-feature-for-folder-in-custo) related feature request already raised in uservoice or feedback forum and is triaged by respons

[2021-02-11 12:07] #70441 closed

[2021-02-11 12:20] DEberhardt commented on #66824
Hello again - thank you for updating the page again - I see now that there is an entry missing, as I get this output from my script reading it now:

[code]

I believe the Entry  `Mcostandard (0Feaeb32D00e4D66Bd5a43B5b83db82c)` is missing something in column 1 and 2
![image](https://user-images.githubusercontent.com/44290340/107635001-58f55500-6c62-11eb-81f4-43cdb005056f.png)

Not breaking function

[2021-02-11 12:21] KrishnaG-MSFT commented on #70156
@henrypi73 I have verified and updated the document as required. The change should go live in some time i.e., in less than 24 hours. Thanks again!

[2021-02-11 12:21] #70156 closed

[2021-02-11 12:27] shashishailaj commented on #69752
@henrywang08 We have initiated a pull request and it is pending review of the backend team . The thread will be updated once we have more details .

[2021-02-11 12:30] KrishnaG-MSFT commented on #70247
@pho30 I have verified and updated the document as required. The change should go live in some time i.e., in less than 24 hours. Thanks again!

[2021-02-11 12:30] #70247 closed

[2021-02-11 12:33] ecly commented on #70302
@GiftA-MSFT I think in accordance with @aldelar 's comment above that this should be re-opened.
I am having a similar usecase, that I have some on-premise hosts that I want to use as compute targets in AML.
This is however not trivially possible, as there is no clear documentation for how to add it as a "Remote VM" or "Attached Compute" in the documentation. The "Attached Compute" does not appear

[2021-02-11 13:05] KerriBeglan26 opened #70446 "Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale and hosting](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale)
* Content Source: [articles/azur

[2021-02-11 13:14] hansolo2218 opened #70447 "suckS - having connection issues"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Independent ID: 643c4310-00e2-3dac-c0db-7e4f9c588d22
* Content: [Register and scan a Power BI tenant (preview) - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/register-scan-power-bi-tenant

[2021-02-11 13:28] akamienski commented on #70356
It's included in second point under Prerequisites

[2021-02-11 13:30] #69752 closed

[2021-02-11 13:30] McClunatic commented on #70212
Hi @RyanHill-MSFT! Thanks for your help! Let me try to answer your questions.

I started learning how to set up sign-in with a Google account using [this guide](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-google?WT.mc_id=Portal-Microsoft_AAD_B2CAdmin&pivots=b2c-user-flow). To give a bit more background than the strict answer, I first used the guide to set up sign-

[2021-02-11 13:38] ThierryBT opened #70449 "Backup, LRS, GRS, or RA-GRS instead of LRS, GRS, ZRS"
Hello, I see in the documentation that I have different choices to store my backup (https://docs.microsoft.com/en-us/azure/backup/guidance-best-practices#workloads).
You can choose LRS, GRS, or RA-GRS storages for your backup data.
For my opinion, RA-GRS is not ok, but rather LRS, GRS, ZRS.
Thank you
Have a good day
Thierry
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-02-11 14:02] anonocap commented on #70428
It seems that the feature moved from preview to GA. So the registration step is not necessary anymore.

You just have to

1. Install aks preview
`# Install the aks-preview extension
az extension add --name aks-preview`
2. Start/stop the cluster
`az aks stop --name myAKSCluster --resource-group myResourceGroup` or `az aks start --name myAKSCluster --resource-group myResourceGroup`

[2021-02-11 14:06] vincesp opened #70450 "URL parameters from an HTTP trigger as row key"
Please add an example how to use URL parameters from an HTTP trigger as row key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d328a623-0293-30cd-1356-8c4750e4e88b
* Version Independent ID: a71cd4b1-536f-3f9c-6d06-0437760395e3
* Content: [Azure Table storage input bindings for Azure Functions](https://docs.microsoft.c

[2021-02-11 14:08] twildeman opened #70451 "Incorrect answer (and implementation) of MFA on device without unlocking"
In the following QA section the answer is incorrect. The answer that MFA may be visible on a locked screen because it is on a device you have with you is an assumption. It is completely possible that somebody else knows the password and gained physical access to the (or a) device. The assumption also violates a part of the statement "a thing you have". The violation is in the verification of _you_

[2021-02-11 14:10] Preddy21 commented on #57579
Any update on CLI commands to enable rewrite URL rules on Verizon Premium SKU?

[2021-02-11 14:39] pochiraju commented on #70356
Hello akamienski,
You are right, there is a typo in the pointed document, please consider that as an outbound rule, we will fix the doc.  More over please use the below doc for consolidated Network port requirements.
https://docs.microsoft.com/en-gb/azure/dms/resource-network-topologies
Thanks
Raj

[2021-02-11 14:58] #35489 closed

[2021-02-11 15:05] bertrandpons opened #70454 "Data anonymisation in Azure Database for MariaDB"
Hello,

Is there a feature or mechanism to allow data anonymisation in Azure Database for MariaDB?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a3d88be-de77-dd48-23dd-c85fa9b1360d
* Version Independent ID: 3c5d21d7-d442-d5f6-3efa-8e9d0ccfd9d6
* Content: [Security - Azure Database for MariaDB](https://doc

[2021-02-11 15:14] samueljamkhandi-MSFT commented on #60359
@mimckitt - I see the MS document is now updated :) Thank you for that!

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux#azure-cli-sample-for-installing-lad-40-extension-on-the-virtual-machine-scale-set-instance

![image](https://user-images.githubusercontent.com/57783393/107656079-cd9fb200-6ca9-11eb-8af5-502abc47efd2.png)

[2021-02-11 15:19] SaurabhSharma-MSFT commented on #70447
@hansolo2218 sorry for your trouble.  Can you please let us know what issue you are facing with Azure Purview ?

[2021-02-11 15:28] brucelowekamp commented on #70428
@psmanhas it seems like @anonocap has the right answer.  It's somehow in this weird state where you need aks-preview installed but the StartStopPreview option is no longer needed (and so no longer present).  So I think the docs just need to be updated.  Even though I got the error about StartStopPreview not found, when I actually tried az aks stop it worked for me (and I was able to successfully r

[2021-02-11 15:28] RonnieQuan commented on #69518
@SubhashVasarapu-MSFT

Can you please confirm the retention is on my storage account which I defined for the flow log settings
 or the retention is on underlying storage account from MS Azure internally for the service?

![image](https://user-images.githubusercontent.com/25850020/107658220-e8dfd280-6c53-11eb-928b-7d6824c8829b.png)

[2021-02-11 15:36] John-Garland opened #70455 "Possible inconsistency related to UserInfoIssuer Input/Output claims"
In the UserInfoIssuer code sample includes the following:
[code]
The documentation text immediately below the block goes on to say:

Note that the documentation discusses the outputClaims section, whereas that section is empty in the code above, and the inputClaims section is populated in the section above, immediately preceded by a comment about "The Below claims". This comment appears to suggest

[2021-02-11 15:45] Nicholak-MS commented on #62184
Telstra has been added to the document.

[2021-02-11 15:46] Nicholak-MS commented on #69763
Telstra has been added to the document.

[2021-02-11 15:49] peoplesmeat commented on #70207
Ok, I'll try one more time, but I'm beginning to feel this system is so confusing no human can possibly understand it.

What we have is the convergence of 2 Microsoft concepts: "Groups" and "Sensitivity Labels". I certainty concede this ambiguity could arise due to my lack of understanding, but that's why I'm trying to read this documentation.

What you appear to have described is "Group Settings"

[2021-02-11 15:54] leonardogavaudan commented on #20222
Hi, does this code still work for anyone? Seems like the TamperProtection feature might be blocking the installation of new antimalware, and or the changing of the RealtimeProtection feature.

Thanks in advance!

Using this code:

`resource "azurerm_virtual_machine_extension" "vmDC-antivirus" {
  name                        = "vmDC-antivirus"
  virtual_machine_id          = azurerm_windows_virtual

[2021-02-11 15:54] Honken77 opened #70457 "Trying to enable Managed Identities"
Hey

I can't seem to get the command `az aks update -g xxxxx -n xxxxx --enable-managed-identity` to work.
When I run it like this `az aks update -g k8s-dev01 -n k8s-dev01 --enable-managed-identity` I get the error message:

`Operation failed with status: 'Bad Request'. Details: Change kubelet identity from ResourceID: ClientID: ObjectID: to ResourceID:/subscriptions/b481a815-7a87-4d88-9371-e1fb459

[2021-02-11 16:07] JamesDLD opened #70458 "Please delete the value $TimeStampField as it is empty"
Hello,

could you please delete the following line in the [PowerShell](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api?WT.mc_id=DOP-MVP-5003548#powershell-sample) sample as the variable $TimeStampField is never defined.

`
"time-generated-field" = $TimeStampField;
`

This generates a valuable error on PowerShell Azure function : "[Error] EXCEPTION: Object reference

[2021-02-11 16:09] JamesTran-MSFT commented on #70432
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-11 16:11] JamesTran-MSFT commented on #70442
@jmprieur
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-11 16:12] JamesTran-MSFT commented on #70438
@yasithacp
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-11 16:13] JamesTran-MSFT commented on #70451
@twildeman
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-11 16:20] MonikaReddy-MSFT commented on #70364
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-02-11 16:23] AlexandraKemperMS commented on #70412
@AnuragSharma-MSFT thank you! this answers my question. please feel free to close this issue.

[2021-02-11 16:23] pdworzynski commented on #70274
@GiftA-MSFT could you elaborate on what options there are for file writing to ADLS gen 2 datastores? The document you linked states: `After you create a datastore, create an Azure Machine Learning dataset to interact with your data.` but as @rquintino pointed out datasets are mounted read-only no matter what permissions or authentication type is used.

@rquintino This is not an option for us due t

[2021-02-11 16:27] ggailey777 commented on #70446
@KerriBeglan26 There doesn't seem to be any feedback provided. Did you mean to provide some on this article?

[2021-02-11 16:31] ggailey777 commented on #64669
@cgillum or @anthonychu can someone help with these updates?

[2021-02-11 16:34] MrCsabaToth commented on #70391
Hi @DavidTrigano ,
I accept if the decision was not to communicate the exact change. In the https://dba.stackexchange.com/questions/284571/should-i-drop-dbo-from-the-database-role-db-owner post some experts (I'd say expert who has more than 10K reputation) say that the `dbo` listed for VA2108 is a bug. I have a feeling it's deliberate that it shows up, just like I saw with VS2130 where I could pee

[2021-02-11 16:35] mark-thurston-venture1consulting-com commented on #50164
Same here also with a Comodo certificate - says that the private key is not RSA. I ran the openssl commands above - problem solved.

[2021-02-11 16:38] SergeMoreno opened #70461 "Roadmap question on Purview (not real issue)"
I was wondering if Purview could evolve to a tool to measure the quality of the data contained in the underlying databases?

Just like you have thresholds for automatic classification and put glossary terms on database, will purview evolve to a system where you could check or have a report on % of data that have the correct format eg is the data  in the e-mail field technical/format wise a e-mail

[2021-02-11 16:46] MarileeTurscak-MSFT commented on #70443
@JBines thanks! What sort of details which you like this to cover?

[2021-02-11 16:53] DavidTrigano commented on #70391
This specific rule is currently under investigation. It seems like we are going to remove the T-SQL as you cannot remove the **dbo** from the database. At this stage, our recommendation is to accept **dbo** as part of the baseline.

[2021-02-11 16:56] JeremyTBradshaw commented on #70398
@MarileeTurscak-MSFT Hi, I just updated my opening comment with the two issues I was referring to.  Thanks again.

[2021-02-11 16:59] mimckitt commented on #60359
Awesome! :)

#please-close

[2021-02-11 16:59] #60359 closed

[2021-02-11 17:00] #70412 closed

[2021-02-11 17:01] NavtejSaini-MSFT commented on #69887
Thank you @DavidTrigano
@cocowalla Changes are live now and we are going ahead and closing this feedback.

[2021-02-11 17:01] #69887 closed

[2021-02-11 17:02] AnuragSharma-MSFT commented on #70356
@pochiraju Thanks for providing the details and covering the issue.
@akamienski Please let us know if this helps or we would be glad to assist if you have any other queries.

[2021-02-11 17:03] hophanms commented on #70461
Thank for the suggestion. Please find the feature enhancement request or post new one here: https://feedback.azure.com/forums/932437-azure-purview

#please-close

[2021-02-11 17:03] #70461 closed

[2021-02-11 17:05] SaiKishor-MSFT commented on #70433
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-11 17:06] AnuragSharma-MSFT commented on #70368
@bertrandpons Thanks for reverting back. General Availability of any feature depends on its run in the preview state. There is not a certain date but we keep on updating the documentation when its available. Hope this helps.

[2021-02-11 17:08] JBines commented on #70443
@MarileeTurscak-MSFT Thanks for the reply. I was thinking we should just add a one liner here but maybe some background would be helpful :)

I have found issues with a couple of customers using multi forest sync's to a single azure ad where the use of group filters are also used. It has some strange outcomes. For example if a contact is create in one forest and not placed in the filtering group.

[2021-02-11 17:11] cynthn commented on #69126
#reassign @shants123

[2021-02-11 17:24] GiftA-MSFT commented on #70274
@pdworzynski that is correct, datasets are mounted read only. I was simply suggesting available options for [writing files to storage](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-save-write-experiment-files#where-to-write-files). I will share feedback this feedback with the product team.

[2021-02-11 17:34] jjaguirre394 commented on #41837
This issue should be re-opened. I just ran into this and only resolved it by running into this post.

[2021-02-11 17:36] PatAltimore commented on #70208
Hi @sgiovinetti,

I'm going to request this issue be closed.  Thanks again for the feedback. Please review the other information to try to resolve the issue your encountering.

Thanks,
Pat

#please-close

[2021-02-11 17:36] #70208 closed

[2021-02-11 17:43] CaitlinV39 commented on #69931
@AnuragSharma-MSFT - I believe this can be closed unless there are other questions on this.

[2021-02-11 17:45] ambhatna commented on #70343
@ClaudioRifo In case of Data-in replication, as of now you can not get an static unchanging IP.

Could you please let me know your use case for static IP?

[2021-02-11 17:50] SadiqhAhmed-MSFT commented on #70449
@ThierryBT Thank you for the question. Could you please describe in brief about "For my opinion, RA-GRS is not ok, but rather LRS, GRS, ZRS."?

[2021-02-11 17:53] VanMSFT commented on #65302
Script updated in https://github.com/MicrosoftDocs/azure-docs-pr/pull/146624

[2021-02-11 17:56] ChaitanyaNaykodi-MSFT commented on #70450
Hello @vincesp,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-11 18:02] sdgilley commented on #70047
Sorry, I thought I left a comment here but I suspect I closed my browser window without hitting Comment :-(

The breakdown between Microsoft sub & customer sub is:
•	Microsoft sub: Things Microsoft provides in a subscription that the Azure ML team owns/provides. These things don’t show up in the customers subscription.
•	Customer sub: Things that show up in the customer subscription.

This level o

[2021-02-11 18:13] NavtejSaini-MSFT commented on #70300
@ehsf973 Please check this link - https://docs.microsoft.com/en-us/azure/azure-sql/database/hyperscale-performance-diagnostics#page-server-reads for further help regarding this.

[2021-02-11 18:14] cgillum commented on #64669
@ConnorMcMahon is this something you might be able to help with?

[2021-02-11 18:25] hmhackmaster opened #70462 "Documented password reset extension support contradicts real world experience"
The text in the first note on the doc regarding phone extension support for password reset seems to be incorrect:
[code]
Based on testing, a (seemly) properly formatted `telephoneNumber` AD DS attribute (formatted as `+13054189136x105`*) syncs  to Azure AD via Azure AD Connect to the user's "Office phone" field under "Contact info". The user can then select the "Office phone" option when going thr

[2021-02-11 18:28] pomorsen opened #70463 "Is it possible to set cache-store duration="" parameter to "never expire" equivalent value?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5bd93e-e2cb-1dfb-77c9-10d8f7932bda
* Version Independent ID: 7eb8bc62-0f4e-ee56-24bb-cb4876ea9b7b
* Content: [Sample API management policy - Set response cache duration - Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/po

[2021-02-11 18:29] jeffwmiles opened #70464 "Azure Site Recovery support for Dedicated Hosts"
I can't find any details about ASR support for Dedicated Hosts. As in, if my source virtual machine in Azure is on a Dedicated Host, can it be replicated to a Dedicated Host in the target region?

As this page is a matrix of supported features, Dedicated Hosts should be added with some reference to whether it is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-02-11 18:32] BharathNimmala-MSFT commented on #70458
Thanks a lot @JamesDLD for bringing this to our notice and helping us to improve Azure documentation. Will review your feedback and update the document accordingly.

[2021-02-11 18:33] MartinJaffer-MSFT commented on #70067
@vishvas could you please share how you are not finding the range function?  Below I show it in the expression editor.
![image](https://user-images.githubusercontent.com/46612670/107681918-8e934180-6c54-11eb-9500-3799880f41e2.png)

[2021-02-11 18:33] Anand-Moghe commented on #70000
@RyanHill-MSFT  Thank you 👍!

[2021-02-11 18:34] BharathNimmala-MSFT commented on #70439
Thank you @nilsga for reaching out to us and sharing your feedback, will review the feedback and get back to you at the earliest.

[2021-02-11 18:38] SaurabhSharma-MSFT commented on #70037
@afelthe We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-11 18:38] #70037 closed

[2021-02-11 18:40] rquintino commented on #70274
hi @GiftA-MSFT @pdworzynski thanks for the notes
ironically we had to opt for using blob fuse directly and drop datastores mounts completely, even for read-only, from our tests it seems azureml data store mounts enabled blobfuse mount cache in a way that completely uses available space on compute vms for the blob cache. We tried creating the data store manually passing blob_cache_timeout, but did

[2021-02-11 18:47] rquintino opened #70465 "azureml datastore mounts seem to allow blobfuse local cache to fill available disk space completely (ex: compute vms)"
pretty much what's in the subject :)
the only way we found to work with a reasonably sized file dataset, was using blobfuse directly with proper cache options

we tried to create the datastore with the azure ml sdk, and setting blob_cache_timeout, but seemed not to change anything on mount cache behavior
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.datastore.datastore?view

[2021-02-11 18:47] apeguy opened #70466 "conflicting information on the " What Azure AD license do you need to access sign-in activity?" question"
Topic: What licensing is required for on Sign-in Activity Report?

This document link states below
" What Azure AD license do you need to access sign-in activity?
Your tenant must have an Azure AD Premium license associated with it to see sign-in activities. See Getting started with Azure Active Directory Premium to upgrade your Azure Active Directory edition. It will take a couple of days for the

[2021-02-11 18:48] rbrundritt commented on #25751
The content docs for the Azure Maps Android SDK have been completely refreshed: https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-android-map-control-library

We are still working on reference docs. There has been a blocking issue with the Microsoft docs pipeline for Java based libraries that we should be able to get addressed in the next few months.

[2021-02-11 18:56] pskfry commented on #70430
Any update? I've now spent about half a day just trying to get my container to realize that I'm trying to deploy to it. Deployment Pipeline says everything worked when literally nothing worked. Logs are useless - can't tell if the Docker Login is working, absolutely nothing being logged from the Web App Service. I've now switched to Azure Container Registry - same problem. Nothing works - webhooks

[2021-02-11 18:56] idusortus opened #70467 "Can I get a list of B2C Tenant Users (Created using signin-signup policy) Using Graph Explorer?"
I'd like to use Microsoft Graph Explorer to work with my Azure AD B2C Tenant.

Initially, all I want to do is retrieve a Custom Attribute that I've assigned to an application registration. The custom attribute will store the UserAppPermission value, a 'role' replacement for B2C since it doesn't natively support them.

Can I get a second set of eyes on my process? I'd like to make sure I'm reading

[2021-02-11 19:01] ChaitanyaNaykodi-MSFT commented on #70454
Hello @bertrandpons,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-11 19:02] PeterCLu commented on #68997
Hi @marciomocellin, this appears to be a support issue. This repo is intended for documentation errors, the best way to get a hold of support is by creating a new support ticket

	1. Navigate to the Azure portal.
	2. Select the support question mark (?).
	3. Select Help + support
	4. Select Create a support request

#please-close

[2021-02-11 19:02] #68997 closed

[2021-02-11 19:06] PeterCLu commented on #70126
Thank @oolukoya for the catch. I'll make a doc update to fix the issue. Once the changes are merged, in you should see the changes live in a few hours.

[2021-02-11 19:08] JamesTran-MSFT commented on #69828
@cjmakwana
Thank you for your detailed response!

Can you check to see if you're using a hybrid flow to authenticate? Hybrid flows ask for an auth code and an ID token at the same time. It is the default for ASP.Net, hence the need for implicit flow for ID tokens being enabled. When it comes to your token life, it may be that the token response is saying 5 minutes of time token life, since that is

[2021-02-11 19:09] KevinBurton opened #70468 "Azure Functions deploy"
I have followed the quick start and I am able to follow it all the way to deploy. Here is the simple function that I am trying to deploy:

[code]
I deploy and the function shows up on the portal - /subscriptions/eeaa5e17-2639-427f-b35e-5e32a9d4f5c0/resourceGroups/Phoenix/providers/Microsoft.Web/sites/DataTransferFunctions -
<img width="958" alt="FunctionDashboard" src="https://user-images.githubus

[2021-02-11 19:13] ChaitanyaNaykodi-MSFT commented on #70463
Hello @pomorsen,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-11 19:13] JamesTran-MSFT commented on #70387
@stuckbear
I just wanted to check in and see if you had a chance to review my previous comment?

[2021-02-11 19:15] clairernovotny commented on #67166
The .NET Foundation code signing service supports this scenario: https://github.com/dotnet/signservice.

It also relies on other tools that can code sign things from a key stored in KeyVault's HSM if you don't want to run a service:
https://github.com/vcsjones/AzureSignTool
https://github.com/vcsjones/OpenOpcSignTool
https://github.com/onovotny/NuGetKeyVaultSignTool

[2021-02-11 19:16] DEberhardt commented on #66824
I think I found one more:
Microsoft 365 Phone System - Virtual User is listed as MCOEV_VIRTUALUSER where it should be PHONESYSTEM_VIRTUALUSER

[code]

Top: My personalised enty
Bottom: Entry read from Website
LicenseType, IncludesTeams and IncludesPhoneSystem are my personal additions.
For this example, only SKUPARTNUMBER is important.

[2021-02-11 19:17] setunol opened #70469 "Need clarification on the Nexthop types across Azure tools"
Hello team,

A little confusion on following part of the documentation.  Does this suggesting that customer can use "VirtualNetworkServiceEndpoint" as the nextHop type on route creation using PowerShell or CLI?  Because if that's the intend, this does not seem to be correct.  I have attempted to using <VirtualNetworkServiceEndpoint> with PowerShell and CLI, they all failed.

![image](https://user-

[2021-02-11 19:18] PeterCLu commented on #70465
#assign:@nibaccam

[2021-02-11 19:21] PeterCLu commented on #70126
#please-close

[2021-02-11 19:21] #70126 closed

[2021-02-11 19:22] SaiKishor-MSFT commented on #70051
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-11 19:22] #70051 closed

[2021-02-11 19:24] SaiKishor-MSFT commented on #70469
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-11 19:36] nibaccam commented on #70465
@rquintino  Can you clarify what you were trying to accomplish? Sounds like you were trying to mount a file dataset to your compute, but I want to make sure we have the appropriate context.

@MayMSFT can you help here?

[2021-02-11 19:37] JamesTran-MSFT commented on #70409
@xNiklasJern
When it comes to self-service application assignment, this is solely used so users can self-discover applications from their [My Apps](https://myapps.microsoft.com/) without bothering the IT group. By enabling this feature, users (once requested access has been approved) are added to a pre-configured group so you can see who has requested access, remove access, and manage the roles as

[2021-02-11 19:44] KranthiPakala-MSFT commented on #70349
@star286 - Could you please share the document link which you are referring to so that we can better assist on your requirement?

Thank you

[2021-02-11 19:55] rquintino commented on #70465
hi @nibaccam  yes, exactly a file dataset, it works, but that cache was filling our compute disk space completely (after reading through several large files from the mount)

[2021-02-11 19:55] KranthiPakala-MSFT commented on #70307
@gary918 Thanks for your response and additional details. I will work with you offline on this issue which needs additional troubleshooting.

As this is not a doc feedback/enhancement, We will now proceed to close this thread and will continue the discussion offline.

Thank you

[2021-02-11 19:55] #70307 closed

[2021-02-11 19:57] JamesTran-MSFT commented on #70207
@peoplesmeat
Thank you for the detailed response!

This makes perfect sense and I see what you mean! When it comes to **Group Settings as it applies to groups**, we can both see for example, "AllowGuestsToBeGroupOwner" is a Group setting.

However, when it comes to **Group settings as it applies to a label**, that is where the confusion comes in. As there is no real documentation or explanation fo

[2021-02-11 20:01] omerzubair opened #70471 "Versions no longer required , good but wount work with network restrictions?"
Really cool idea to not mention Version number in keyvault , so after key rotation it picks up automatically.!
however all my projects are using Private endpoints with customer managed DNS.
so do we have an ETA when App Services will be able to have this capability, when keyvault have private endpoints/network restrictions?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-02-11 20:08] vishvas commented on #70067
Hi Martin,

Actually, I was trying to use "range" function in expression builder, but
after digging more into it found that Data Factory only supports in dynamic
content and not in expression builder.

In Data Factory, we want to create a derived column with an array, based on
the given one column start date and increment value. Would it be possible
to have that kind of functionality?

Regards,
*V

[2021-02-11 20:10] JamesTran-MSFT commented on #70296
@PaulVrugt
Thank you for the quick response!

Since this feature is in preview, there might not be any Graph API or PowerShell commands for what you're looking for. However, you can definitely leverage our [User Voice forum](https://feedback.azure.com/forums/34192--general-feedback) to create a feature request to have this implemented, [GraphAPI user voice](https://microsoftgraph.uservoice.com/for

[2021-02-11 20:10] #70296 closed

[2021-02-11 20:16] DEberhardt commented on #66824
Added https://github.com/MicrosoftDocs/azure-docs/pull/70472 to correct this.
Please validate, I used practical examples, though there is a chance that there are two licenses with different Names (which I do not know...)

[2021-02-11 20:17] KranthiPakala-MSFT commented on #70324
Hi @rawatsudhir1 , Thanks for sharing additional information. Looks like it is ADLSGen2 access issue for the user.

To enable other users to use the storage account after you create your workspace, you will have to perform below tasks:

- Assign other users to the Contributor role on workspace
- Assign other users to a Workspace, SQL, or Spark admin role using Synapse Studio
- Assign yourself and

[2021-02-11 20:18] DEberhardt commented on #66824
FYI, thank you for updating the Communication Credits and CAP License. Much appreciated! :)

[2021-02-11 20:21] JamesTran-MSFT commented on #70416
@gbelenky
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-11 20:21] #70416 closed

[2021-02-11 20:21] msmimart commented on #70152
@shashishailaj  this appears to be related to https://github.com/MicrosoftDocs/azure-docs/issues/65965 where a similar issue was reported with the demo site; can you have a look?

[2021-02-11 20:23] JamesTran-MSFT commented on #70462
@hmhackmaster
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-11 20:25] SaiKishor-MSFT commented on #70241
@omerzubair Please refer to similar Git thread- https://github.com/Azure/azure-cli/issues/14142

Let us know if that helps and if you have any further questions. Thank you!

[2021-02-11 20:26] Duffney commented on #51976
Hey @ybutola,

I appreciate you filing the issue.

Walking through the tutorial I discovered a few opportunities for improvement as follows:

- Didn't mention that the Jenkins Controller NSG (Network Security Group) requires that port 5000 be allowed inbound for the agent to communicate.
- Called out the labeling of the Jenkins agent as optional but is required for the tutorial.
- Misleading concl

[2021-02-11 20:28] JamesTran-MSFT commented on #70455
@John-Garland
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-11 20:35] elafnit commented on #67166
@ClairelyClaire, what HSM product are you using? I am hearing from my PKI infrastructure support team that we will need to upgrade ours to support this approach?

[2021-02-11 20:37] xNiklasJern commented on #70409
Thanks @JamesTran-MSFT , this answered my question

[2021-02-11 20:37] #70409 closed

[2021-02-11 20:37] DavidMwihuri01 commented on #68156
@Norrch2
Thank you for your feedback. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2021-02-11 20:37] #68156 closed

[2021-02-11 20:39] JamesTran-MSFT commented on #70432
@lightupdifire
Thank you for pointing this out!

Are you able to share where in your tenant you're seeing this? I'm trying to find what you posted in my tenant but can't seem to find it.

[2021-02-11 20:41] DavidMwihuri01 commented on #67367
@drchilds, thanks for your feedback. We are in the process of  retiring this tutorial. Please refer to the Identity Provider articles in the how-to section. #please-close

[2021-02-11 20:41] #67367 closed

[2021-02-11 20:41] clairernovotny commented on #67166
We're using Azure Key Vault's Premium HSM for all of this. Advanced Installer has another write-up of this here: https://www.advancedinstaller.com/using-azure-key-vault.html

[2021-02-11 20:44] elafnit commented on #67166
I used a different approach for Clickonce signing, by overriding the Sign step in MSBuild. This approach allows for signing UWP apps as well. I posted earlier the sample code showing my approach if you are interested.

[2021-02-11 20:45] saif-chaudhry opened #70473 "Any way to disable Public IP address from the VPNGW"
For the use case when clients want to use VPNGW with private IP feature for a S2S tunnel configuration over ER private peering. Is there a way to disable or remove the PIP from the VPNGW? The fact that there is a PIP assigned to it (regardless if it will be used in the S2S tunnel configuration or not) raise flags by the security team and creates a friction point to adopt this into a design.  It wi

[2021-02-11 20:46] clairernovotny commented on #67166
@elafint - that doesn't work for EV certs as those tools will download the certificate from Key Vault. The tools I mentioned pass the digests to Key Vault to sign as the EV keys can never leave the HSM.

[2021-02-11 20:46] elafnit commented on #67166
well the clickonce approach work for UWP apps as well?

[2021-02-11 20:50] MarileeTurscak-MSFT commented on #70214
I made a pull request to update this with the new information. This is currently under review.

[2021-02-11 20:50] #70214 closed

[2021-02-11 20:51] julieMSFT commented on #55168
Hello @lukerosser and @thijsnijhuis-rabo, I apologize for the time it took to find the answer to your questions. I am updating the document with the correct API call for scaling your dedicated SQL pool (formerly SQL DW). The correct call is:

PUT https://management.azure.com/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.Sql/servers/{server-name}/databases

[2021-02-11 20:52] clairernovotny commented on #67166
For UWP (appx/msix/appxbundle/msixbundle), you can use AzureSignTool. You'll just need to make sure the .appinstaller and manifests file has the right cert name in it.

ClickOnce is trickier as the standalone tools don't support it directly (the signing service orchestrates things to make it work though)

[2021-02-11 20:56] JamesTran-MSFT commented on #70419
@andrewalla
Thank you for pointing this out! I was able to replicate your issue and have reached out to our ADE engineering team regarding this.

![image](https://user-images.githubusercontent.com/36619112/107697736-74fbf500-6c68-11eb-81b9-02c0c7b698e1.png)

[2021-02-11 21:00] ClaudioRifo commented on #70343
Use case is migration.

We have a geo replicated system that we want to migrate to Azure.
Our intention is to first move the satellite systems (Read only DBs) and finally move the main system (RW DB).
The Databases are behind firewalls and we cannot open the database ports to the internet.

The migration of the system may get up to 3 weeks to be fully executed. During this period, each satellite s

[2021-02-11 21:03] elafnit commented on #67166
Interest point though. I looked through the AzureSignTool code and it was downloading the cert from Azure. Maybe I was looking at an older version?

[2021-02-11 21:04] julieMSFT commented on #65751
Hi @ahughes257, The API versions in the document have been updated to the 2020 versions. This document pertains to dedicated SQL pools (formerly SQL DW). If you are looking for the APIs for dedicated SQL pools created in a workspace please use the [Azure Synapse APIs](https://docs.microsoft.com/en-us/rest/api/synapse/). You should see the updated values in the next day or so. Thank you for your co

[2021-02-11 21:04] clairernovotny commented on #67166
AzureSignTool downloads the public portion of the cert, not the key. It cannot do any local signing operations.

[2021-02-11 21:07] SaiKishor-MSFT commented on #70473
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-11 21:07] julieMSFT commented on #65751
#please-close

[2021-02-11 21:07] #65751 closed

[2021-02-11 21:09] JamesTran-MSFT commented on #70466
@apeguy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-11 21:09] clairernovotny commented on #67166
@elafnit Here's an example pipeline (and repo) that builds an MSIX with different package names, plus one for local:

https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/main/azure-pipelines.yml

You could adapt that to insert the proper certificate name in the manifests in the CI build before so that you can have a good local experience and then have the CI version signed.

[2021-02-11 21:09] MartinJaffer-MSFT commented on #70067
Ahh, so you want to you range function in Mapping Data Flow, not Pipeline.

If I understand correctly you want to make the following table:

start_date | increment | derived_array
----------------------------------------
2021-02-11 | 3 | [2021-02-11 , 2021-02-12 , 2021-02-13 , 2021-02-14 ]
2021-01-01 | 1 | [2021-01-01 , 2021-01-02 ]
2021-02-28 | 2 | [2021-02-28 , 2021-03-01 , 2021-03-02 ]

Is this

[2021-02-11 21:11] elafnit commented on #67166
Thank you for all your help on this and answering my questions. I will definitely be exploring this and the other links you provided. I've been looking for this answer for some time :)

[2021-02-11 21:13] julieMSFT commented on #69214
Hello @Brueacre, Thank you for contacting Microsoft. The APIs in [Pause, resume, scale with REST APIs - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-compute-rest-api) have been updated to the latest versions. These are the SQL Database API because the article applies to dedicated SQL pools (formerly SQL DW). You are

[2021-02-11 21:26] TravisCragg-MSFT commented on #70457
@Honken77 I would give this a try again, this can be an intermittent issue. Your best bet to move forward with this is to create a support request. If you do not have a support plan, please let me know.

[Similar issue is described Here](https://github.com/azure/aks/issues/2094)

[2021-02-11 21:26] julieMSFT commented on #69214
#please close

[2021-02-11 21:26] nickgmicrosoft commented on #64839
Hi Benjiiiim,

The ability to verify a new domain is indeed available. It wasn't but that's changed. Will update the doc to reflect that.

To your second question, Azure AD B2C today does not support user-consent. All permissions must have admin consent.

[2021-02-11 21:27] #69214 closed

[2021-02-11 21:33] julieMSFT commented on #69214
#assign:julieMSFT

[2021-02-11 21:35] julieMSFT commented on #65751
#assign:julieMSFT

[2021-02-11 21:50] MartinJaffer-MSFT commented on #69973
Sorry for the delay, @afelthe .  I have forwarded this feedback to the internal team for further review.
@kromerm Could you please have a look at this ask -- thank you.

[2021-02-11 21:59] jocortems opened #70479 "Clarification on BGP ASNs"
[Enter feedback here]

Are both public and private ASNs supported? Or only private ASNs?
Are only 2-byte ASN supported? Or can 4-byte ASN be used?
If using public ASNs, shouldn't we also clarify the following ASNs are reserved?

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-bgp-overview#what-asns-autonomous-system-numbers-can-i-use

What ASNs (Autonomous System Numbers) can I use?

[2021-02-11 21:59] julieMSFT commented on #69367
#reassign:RonyMSFT

[2021-02-11 22:00] julieMSFT commented on #69316
#reassign:RonyMSFT

[2021-02-11 22:01] julieMSFT commented on #69316
#assign:SaurabhSharma-MSFT

[2021-02-11 22:02] vishvas commented on #70067
Yeah exactly. I didn't see any function in the data flow activity's
expression.

Also, are you guys planning to provide a single liner or UDF kind of
functionality?

Regards,
*Vishvas Patel*

On Thu, Feb 11, 2021 at 4:09 PM MartinJaffer-MSFT <notifications@github.com>
wrote:

[2021-02-11 22:10] samtkaplan opened #70480 "curl command times out due to CN cert issue"
Hello,

I have tried to run through this tutorial, but the curl command used to connect to the example service times out.  When I look at the log,  I see the following error:
[code]
I have being trying to act on the error message and figure out how to generate a SAN rather than CN cert that will work for this example, but I'm fairly new this stuff and have yet to find the magic command to make a S

[2021-02-11 22:13] JoieAndrew commented on #68262
Is there a workaround that has been found that can be shared while a permanent fix is worked? A way for a user to manually install/use certs in Azure Cloud Shell if a self-signed cert is auto-generated on a VM?

[2021-02-11 22:14] zeinab-mk opened #70481 "autolabeling"
Can you consider standardizing _auto labeling_ term across M365 and Azure Purview?

In Azure Purview doc it is referred as **autolabeling**

In M365 it is called as **auto-labeling**
https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-02-11 22:20] bandersmsft commented on #65247
https://github.com/MicrosoftDocs/azure-docs-pr/pull/145253

[2021-02-11 22:21] bandersmsft commented on #65247
@mapoitras Updated the article. See https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/prepay-app-service?toc=/azure/cost-management-billing/reservations/toc.json

#please-close

[2021-02-11 22:21] #65247 closed

[2021-02-11 22:25] dohdoh64 commented on #70189
Thank you very much for the quick response!

[2021-02-11 22:27] SaiKishor-MSFT commented on #70473
@saif-chaudhry You cannot disable the Public IP unfortunately. However, note that the VPN GW only has VPN ports open to the internet. Let us know if you have further questions. Thank you!

[2021-02-11 22:30] bandersmsft commented on #68248
@brianlo-ms Hi there. We have Azure Storage covered in our Azure reservation docs at:

- https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/save-compute-costs-reservations?toc=/azure/cost-management-billing/reservations/toc.json
- https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/understand-storage-charges?toc=/azure/cost-management-billing/reserv

[2021-02-11 22:30] #68248 closed

[2021-02-11 22:34] kgremban commented on #70070
Hi @andrepodnozov, thank you for bringing this issue to us. I've updated the gateway article by specifying in the introduction that multiplexing is an AMQP feature, and then removing MQTT as an upstream protocol from the diagram that shows multiplexing, as you suggested. I also included a link to the IoT Edge runtime article, which goes into more detail about how the IoT Edge hub handles communica

[2021-02-11 22:39] bandersmsft commented on #70312
https://github.com/MicrosoftDocs/azure-docs-pr/pull/146697

[2021-02-11 22:41] NavtejSaini-MSFT commented on #70381
@mksuni We have raised this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/146696. Please check and take action to edit or approve.

[2021-02-11 22:41] bandersmsft commented on #70312
@v-pethur You're right. We should have included that point in the prereqs. Article updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/146697.

Thanks!

#please-close

[2021-02-11 22:41] #70312 closed

[2021-02-11 22:42] v-pethur commented on #70312
Thank you for the response

[2021-02-11 23:01] mimckitt commented on #70260
@HyangJin We do not currently have those scores available. We found for the GPU series ACU score is often not considered when picking one of these sizes.

That said, we share how we calculate the scores so if you need these numbers you can still obtain them:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores#about-coremark

https://docs.microsoft.com/en-us/azur

[2021-02-11 23:01] #70260 closed

[2021-02-11 23:02] mimckitt commented on #69434
#reassign: amjads1

[2021-02-11 23:07] sfarhand commented on #69838
@ram-msft The "Setting up VSCode Remote on an AzureML Notebook VM" link from the page you shared is broken.

I followed the instructions from [Interactive debugging with Visual Studio Code](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-visual-studio-code). I carry out all the steps without any errors and when I submit, I get a pop up with the following message: "Setting up y

[2021-02-11 23:14] NavtejSaini-MSFT commented on #69931
Thank you @CaitlinV39 for helping here.
@pantanuj We are going ahead and closing this feedback and please get back to us if any other info is required.

[2021-02-11 23:14] #69931 closed

[2021-02-11 23:20] jogule commented on #52663
same error here. Any update?

[2021-02-11 23:34] draggeta commented on #65868
I accidentally encountered this issue yesterday. We already had some PrivateLink DNS zones running in production and I was asked to add the Data Factory zones. I tested it quickly and azure.com, portal.azure.com and other domains  were resolving so I assumed it would be safe to implement in production.

Then I noticed that the portal wasn't working correctly due to management.azure.com being unres

[2021-02-11 23:37] numnn opened #70483 "https://www.facebook.com/profile.php?id=100052334207574"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-02-11 23:44] savjani commented on #70454
Hi @bertrandpons - Thanks for reaching out. We have seen this request but it didnt fit in our immediate 6 month prioritization due to other high priorities but we will re-evaluate it after 6 months but it is not available at this point and wont be available in next 6 months as well. I wish I had a better answer for you.

[2021-02-12 00:00] rmcolbert commented on #65868
@draggeta

The product team has rolled out a dedicated privatelink zone for ADF ... *.privatelink.adf.azure.com and the ADF portal itself is tied to "portal.privatelink.adf.azure.com". They probably just haven't made it through getting the documentation updated.

I don't know if they are going to put anything else in that "privatelink.adf.azure.com" zone

[2021-02-12 00:02] frankiea opened #70484 "What is the practical difference between SPA vs. Web Redirect URIs?"
Could you add details about the actual differences between an SPA vs. Web Redirect URI? All my existing apps have "Web" Redirect URIs but are actually SPA's and work just fine. Is there any reason to change all old apps to SPA? What is the benefit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-

[2021-02-12 00:30] andrepodnozov commented on #70070
Thank you for the update. A couple of additional notes:
1. Removing MQTT protocol from the diagram makes it look like AMQP is the only supported protocol, which can create additional confusion. Instead I suggest bringing back MQTT, and clarifying the wording on the diagram "When using AMQP connection between Edge device and IoT Hub, leaf device connections are multiplexed over one physical connect

[2021-02-12 01:10] ChaitanyaNaykodi-MSFT commented on #70420
Hello @jhumelhit, Since we have not heard back from you, we will now proceed to close this issue out. It will be helpful if you could create another issue by submitting the feedback for "This page" on bottom of the documentation you referred as shown below.  Thank you!

![image](https://user-images.githubusercontent.com/67453298/107717743-39255780-6c89-11eb-848b-52fc6ec2e0b5.png)

[2021-02-12 01:10] #70420 closed

[2021-02-12 01:11] ChaitanyaNaykodi-MSFT commented on #70411
Hello @chuckthompsonprofisee  , Since we have not heard back from you, we will now proceed to close this issue out. It will be helpful if you could create another issue by submitting the feedback for "This page" on bottom of the documentation you referred as shown below. Thank you!

![image](https://user-images.githubusercontent.com/67453298/107717743-39255780-6c89-11eb-848b-52fc6ec2e0b5.png)

[2021-02-12 01:11] #70411 closed

[2021-02-12 01:19] ConnorMcMahon commented on #64669
PR opened to address this.

[2021-02-12 01:21] KranthiPakala-MSFT commented on #70481
@zeinab-mk
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-02-12 01:40] ChaitanyaNaykodi-MSFT commented on #70468
Hello @KevinBurton, Thank you for reaching out! I can see from your code that the Authorization level is set to "Function". In this scenario you need to provide a Function key as quoted in the documentation.

![image](https://user-images.githubusercontent.com/67453298/107719734-c9659b80-6c8d-11eb-89ec-dc636f488b60.png)

To overcome the issue faced you can set the Authorization Level to Anonymous a

[2021-02-12 02:00] Paul-A-Jones opened #70487 "Audio stream limits missing from 'Streaming support' section"
[Enter feedback here]
I'm presuming that one audio stream in each direction implicitly included in the [Calling client library streaming support](https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features#calling-client-library-streaming-support) section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-02-12 02:05] amsuprith opened #70488 "Testing Azure function with DI"
Team - Will there be any recommendation on how to test the Azure functions with DI.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Functions](https://docs.microsoft.com/en-

[2021-02-12 02:12] nelroosevelt opened #70489 "Reverse DNS lookups FROM App Service is not currently supported"
Please explicitly state that Reverse DNS lookups FROM App Service is not currently supported.
I have a customer that has opened a support ticket because he passes a IP address into the System.net.dns.gethostentry" method to perform a reverse lookup of clients that access the site and it is causing significant delays due to DNS failing.

i.e,

Can I configure reverse DNS for Azure App Service?
No.

[2021-02-12 02:18] ecfan commented on #70322
Hi @BeMor81,

Thanks for the feedback! I've created a work item on our backlog and will prioritize with other requests.

@ChaitanyaNaykodi-MSFT: #please-close

[2021-02-12 02:18] #70322 closed

[2021-02-12 02:24] ChaitanyaNaykodi-MSFT commented on #70479
Hello @jocortems,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-12 02:27] #70483 closed

[2021-02-12 02:28] ChaitanyaNaykodi-MSFT commented on #70483
Hello @numnn,
As we primarily drive this channel for Doc improvements and as we did not determine any. I will now proceed to close this issue out. Thank you!

[2021-02-12 02:37] lgayhardt commented on #69957
Hi @v-lyivan, sorry for the delay.

The [Manage Azure resource doc](https://docs.microsoft.com/azure/azure-resource-manager/management/azure-subscription-service-limits#application-insights) that @SwathiDhanwada-MSFT  mentioned is out of date, it wasn't updated when Application Insights variable retention was introduced.

Log data retention is 30-730 days for classic Application Insights resources

[2021-02-12 02:37] #69957 closed

[2021-02-12 02:48] danmyhre opened #70490 "Missing DEU"
Missing Germany in the list of available Geos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b285f539-0487-0de5-24ef-89f773a1081d
* Version Independent ID: b4f26f73-6b46-9703-692b-abe1f0d5f825
* Content: [Azure AD Connect: Configure preferred data location for Microsoft 365 resources](https://docs.microsoft.com/en-us/a

[2021-02-12 03:14] skywalkerisnull opened #70491 "Domain name pointer"
Add a section to discuss if someone is deploying the Blob IoT and pointing a domain at it (rather than accessing it via the IP Address). The A/AAAA record should be in the form of *.blob.your.domain such as:

blob.blob.contoso.com
iot-device.blob.northwindtraders.com

To aid in the use of tools such as AzCopy (and an extension Azure Storage Explorer) that expect to have ".blob" as part of the URL.

[2021-02-12 03:24] jhlggit commented on #70355
Apology: I would like to withdraw my feedback: I had failed to action the note under "Sample Runbook".  Please feel free to close this issue.

[2021-02-12 03:24] #70355 closed

[2021-02-12 03:27] ranabanerjee15 commented on #55029
Routing weight is such a critical aspect which is absolutely been neglected. I had to implement the settings by trial and error. Basically for 2 connections, I defined routing Wright for the priority. And now things are working as expected. I would request the team to update this doc with more information

[2021-02-12 03:37] rbavery opened #70492 "add costs for all vm sizes in these tables and tables like these"
it's useful to compare price with vm specs and often the first thing people are curious about when interacting with these pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078ab1eb-3d7f-8441-892e-0702e83172e7
* Version Independent ID: 98549ee4-7f20-a5f5-d3d2-2237d957a383
* Content: [NCv3-series - Azure Virtual Mach

[2021-02-12 03:54] SnehaAgrawal-MSFT commented on #70471
@omerzubair Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-12 03:56] munir94 opened #70493 "Invalid Query"
[Enter feedback here]
The Query Given is invalid

![image](https://user-images.githubusercontent.com/39366930/107727711-e5694b80-6d26-11eb-9577-0070cf84fce3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2aa3c298f5b
* Version Independent ID: 96a5f6c6-e7eb-57a3-8e64-c22f01e50a0b
* Content:

[2021-02-12 03:56] SnehaAgrawal-MSFT commented on #70487
@Paul-A-Jones Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-12 04:54] AshokPeddakotla-MSFT commented on #70491
@skywalkerisnull Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-12 04:57] AnuragSharma-MSFT commented on #70319
@Ethan-Arrowood Due to lack of response , we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-12 04:57] #70319 closed

[2021-02-12 04:57] AnuragSharma-MSFT commented on #70356
@akamienski We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-12 04:57] #70356 closed

[2021-02-12 04:58] AnuragSharma-MSFT commented on #70368
@bertrandpons We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-12 04:58] #70368 closed

[2021-02-12 05:27] SivakumarBalu opened #70494 "Typo"
[Replace "blob-quickstart-v12.py" with "blob-quickstart-v12.js"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content: [Quickstart: Azure Blob storage library v12 - JavaScript](https://docs.microsoft.com/en-us/azure/

[2021-02-12 05:52] SadiqhAhmed-MSFT commented on #70464
@jeffwmiles Thanks for the comment. We will check on this and get back to you with an update soon.

[2021-02-12 06:25] imsauravroy007 opened #70495 "Error prone documentation"
Lot of errors in the documentation, quality of Microsoft is decorating day by day  $SCALE_SET_NAME author forgot to append $ in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kube

[2021-02-12 06:28] AnuragSharma-MSFT commented on #70318
@venkat1017 Thanks for your patience. I have reached out to internal PG for their inputs and will update the issue as we receive the reply back.

[2021-02-12 06:32] psmanhas commented on #70495
@imsauravroy007 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-12 06:32] psmanhas commented on #70495
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-12 06:34] psmanhas commented on #70480
@samtkaplan Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-02-12 06:35] psmanhas commented on #70492
@rbavery Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-12 06:36] psmanhas commented on #70492
@vikancha-MSFT Can you please check and add your comments on this doc update request as applicable

[2021-02-12 06:38] psmanhas commented on #70428
@anonocap Thank you for sharing out the details!!! @brucelowekamp I will share the feedback with our backend team to make the required changes in documentation.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-02-12 06:38] #70428 closed

[2021-02-12 06:41] psmanhas commented on #70270
@chrisbloe Just wanted to followup how do you want to proceed on this issue.

Thanks

[2021-02-12 06:44] SwathiDhanwada-MSFT commented on #70202
@JamesDLD As we haven't heard back from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-12 06:44] #70202 closed

[2021-02-12 06:48] #70457 closed

[2021-02-12 06:50] SwathiDhanwada-MSFT commented on #70335
@v-sashig As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-12 06:50] #70335 closed

[2021-02-12 07:02] SadiqhAhmed-MSFT commented on #70464
@jeffwmiles Today ASR does not offer support for Dedicated Hosts. It is in our backlog.

Feel free ping if you have further questions in this matter or we are good to close this issue.

[2021-02-12 07:45] SnehaAgrawal-MSFT commented on #70430
Thanks for asking question! As mentioned in the portal banner that " This Container Settings (Classic) experience is deprecated and will be removed in March of 2021. To continue managing your container settings, try out the new Deployment Center experience."

Try clicking on banner for new Deployment Center experience > Settings > Continuous deployment On > Save.

![image](https://user-images.gith

[2021-02-12 07:53] Hjortsberg commented on #67301
@sahinad Yes, the subscriber (Linux docker containers running in an AppService) are assigned through Managed
Service Identity(MSI) that gets created in the same Azure AD as the service principal through the script.

[2021-02-12 07:59] mtonen opened #70498 "version 3.0 Get Language description incorrect"
Hi,

I have just tested the version 3.0 Text-API and found out that despite what the description reads on https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/migration-guide?tabs=language-detection stating that "The language detection feature has not changed in v3 outside of the endpoint version, but the JSON response will contain ConfidenceScore instead of score. V3 also only

[2021-02-12 08:25] lightupdifire commented on #70432
@JamesTran-MSFT
You can find it under **Azure Active Directory->Security->Authentication methods | Policies**

[2021-02-12 09:05] sahinad commented on #67301
@Hjortsberg How would you validate the token if your subscriber wouldn't be in your Azure AD or not even in any Azure AD?

[2021-02-12 09:08] AjayKumar-MSFT commented on #70181
William, your suggestions has been shared with the content author and a PR has been raised. Based on author's review, the PR would be merged as necessary. We will close this thread for now, we appreciate you taking time to share your value feedback.

[2021-02-12 09:08] #70181 closed

[2021-02-12 09:27] NJArcher opened #70500 "How to change service administrator? Docs don't match website"
Hi,
Under classic administrators there is a screenshot of the subscription where you can select Properties in the left hand list. This is now deployment on the website and I can't find properties? I'm trying to change our service administrator but I cannot find who is the account administrator.

Also https://docs.microsoft.com/en-us/azure/role-based-access-control/classic-administrators  has the s

[2021-02-12 09:31] asbjornu commented on #45225
I want to add `.html` to every URL with a rewrite (not redirect). I've tried with the following, but it doesn't seem to work:

* Source pattern: `/(.*)`
* Destination: `/$1.html`

Is it possible to perform regular expression captures in the source pattern? Is it possible to use variable replacement in "Destination"?

More examples and a better explanation of how the rewrite rules work would be nic

[2021-02-12 09:41] dominicbetts commented on #70266
Hi @Hitengit054 - you can find a C language sample here: https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_ll_client_x509_sample. The article uses JavaScript for simplicity, but I will add links to suitable samples in other languages including C. Thanks for your interest!
I'll close this issue now but feel free to reopen it if you have any follow up questions.

[2021-02-12 09:41] dominicbetts commented on #70266
#please-close

[2021-02-12 09:41] #70266 closed

[2021-02-12 10:09] AshokPeddakotla-MSFT commented on #70484
@frankiea Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-12 10:32] securiumsoln commented on #30349
Securium Solutions is one of the best Cyber Security companies. We integrate the best solutions for information security and protection from threats. Securium Solutions gives the best <a href=”https//ae.securiumsolutions.com/advanced-threat-protection/”>Advanced Threat Protection</a> services.

[2021-02-12 10:33] KrishnaG-MSFT commented on #70254
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-02-12 10:36] wUEZRs commented on #70353
One would assume such yes. We named the new machine made from backup TEST-ERP-APP.

When the backup restore finished, the machine had the name TEST-ERP-APP in the Azure portal.

Now, when logging on this new PC it's name was ERP-APP and it had made the old ERP-APP unavailable and also hijacked it's IP.

This meant the ERP prod VM went unreachable and we had to remove the backup VM from the domain,

[2021-02-12 10:46] KrishnaG-MSFT commented on #70303
@toddfoust I have verified and updated the document as required. The change should go live in some time i.e., in less than 24 hours. Thanks again!

[2021-02-12 10:46] #70303 closed

[2021-02-12 10:49] KalpeshKhetani opened #70501 "Beyond Trust Remote support SAML based SSO guide"
This guide looks to be incomplete:

- There isn't a section to explain the need to update the Basic SAML configuration URLs
- There are no detailed instructions on setting up the user in the Service Provider. Is this actually required for SAML?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6503f86-e458-5662-f0ab-4ca8

[2021-02-12 10:57] batesandy opened #70502 "installation no longer asks for installation of VMware PowerCLI"
[Enter feedback here]
Step 7 "Select Install VMware PowerCLI. Make sure all browser windows are closed before you do this. Then select Continue." no longer appears for the latest OVA

Step under [Register the replication appliance](https://docs.microsoft.com/en-gb/azure/migrate/tutorial-migrate-vmware-agent#register-the-replication-appliance)

This is an problem as currently have an error message

[2021-02-12 11:02] GitaraniSharma-MSFT commented on #70489
@nelroosevelt , thank you for the feedback. I checked the referenced [doc](https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-services) and it is explicitly mentioned in the **FAQ** section below that Reverse DNS is not supported for the Azure App Service.

https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-services#can-i-configure-reverse-dns-for-azure-app-serv

[2021-02-12 11:02] #70489 closed

[2021-02-12 11:07] lgayhardt commented on #70325
Hi @cijothomas I made a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1817224) to add difference between StandardMetrics from ApplicationInsights vs AppService metrics to the documentation.

Thank you

#please-close

[2021-02-12 11:07] #70325 closed

[2021-02-12 11:20] chrisbloe commented on #70270
Let's close it, because we now have an answer :).

If you can update on this thread when it's live, that would be great, thanks.

[2021-02-12 11:24] apavlidi opened #70503 "References are pointing to the same links"
On the top of the page at the `Note` section, both `Power Automate connectors` &  `Logic Apps connectors` links are pointing to the same URL -> https://docs.microsoft.com/en-us/connectors/connector-reference/connector-reference-powerautomate-connectors

I guess the `Logic Apps connectors` should point to this URL -> https://docs.microsoft.com/en-us/connectors/connector-reference/connector-referenc

[2021-02-12 11:32] GitaraniSharma-MSFT commented on #70493
@munir94 , Thank you for your feedback. You issue is similar to https://github.com/MicrosoftDocs/azure-docs/issues/60997

I have previously confirmed with the PG team and they informed that the query is valid. It may be that you are not getting any data, can you run **AzureDiagnostics | take 10** to verify that there is data in the AzureDiagnostics table?

As mentioned in the article, it may take

[2021-02-12 11:51] shashishailaj commented on #70467
@idusortus Thank you for your query , We generally use [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)  for improvements in the documentation and not product implementation issues. However , in your case we would review and try to answer the queries you have asked . If it requires deeper troubleshooting , we would request you to engage with us on [Microsoft QnA](https://docs.m

[2021-02-12 11:53] shashishailaj commented on #70488
@amsuprith Thank you for your query . We will investigate and update the thread .

[2021-02-12 11:54] shashishailaj commented on #70494
@SivakumarBalu Thank you for pointing this out. We will investigate and update the thread.

[2021-02-12 11:55] shashishailaj commented on #70500
@NJArcher Thank you for your query . We will investigate and update the thread.

[2021-02-12 11:57] shashishailaj commented on #70498
@ram-msft Thank you for your feedback . We will investigate and update the thread.

[2021-02-12 11:58] SwathiDhanwada-MSFT commented on #70083
@wolszakp As we haven't heard back from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-02-12 11:58] #70083 closed

[2021-02-12 11:58] shashishailaj commented on #70502
@batesandy Thank you for your inputs. we will investigate and update the thread.

[2021-02-12 11:59] MayankBargali-MSFT commented on #70503
@apavlidi Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-02-12 12:00] shashishailaj commented on #70501
@KalpeshKhetani Thank you for your feedback . We will have this reviewed and update the thread.

[2021-02-12 12:00] ssivas commented on #70490
@danmyhre , Thank you for your query . We will investigate and update the thread.

[2021-02-12 12:03] #70503 closed

[2021-02-12 13:14] ThierryBT commented on #70449
@SadiqhAhmed-MSFT, the documentation is : _You can choose LRS, GRS, or RA-GRS storages for your backup data._
<img width="515" alt="Microsoft2" src="https://user-images.githubusercontent.com/28751337/107772444-8a425380-6d3c-11eb-979d-089a01e16b78.PNG">

But in the portal, I see three option :
LRS, ZRS and GRS (No RA-GRS)
<img width="253" alt="Microsoft" src="https://user-images.githubusercontent.c

[2021-02-12 13:26] hansolo2218 commented on #70447
No matter what I try, I cannot get the purview to scan my powerBI service.  The instructions are not correct around the part of the ‘catalog’ it’s actually the managed identity of purview isn’t it?  Anyway- someone to help me fix this as soon as possible would be appreciated

Hans

[2021-02-12 13:42] scale-tone opened #70504 "Why a self-signed certificate is claimed 'for testing purposes only' in this particular case?"
I'm trying to understand, why this page explicitly states that self-signed certs are not recommended for this particular scenario - Service Principal auth.
Does AAD really care about who signed the certificate I'm uploading? Does it do any kind of extra validation of that? If yes, what kind of validation is that and how does it work exactly?
If not, then why keeping this remark in the doc?

Again,

[2021-02-12 14:06] SadiqhAhmed-MSFT commented on #70449
@ThierryBT I could find only two options - LRS & GRS. Reference: https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault#set-storage-redundancy

You may want to check whether it is a RSV or a backup vault.

![image](https://user-images.githubusercontent.com/44458118/107777729-3bf77980-6d69-11eb-9ffb-e402a835e2bd.png)

[2021-02-12 14:13] NenadSteric commented on #68293
The documentation has still the wrong steps in the description

[2021-02-12 14:19] idusortus commented on #70467
Works for me for future posts.

I posted here since I assumed microsoft graph explorer was backed by Microsoft Graph and the documentation was titled "Manage ... with Microsoft Graph".

Thanks!

[2021-02-12 14:22] SadiqhAhmed-MSFT commented on #70449
@ThierryBT Azure Backup leverages storage accounts’ read-access geo-redundant storage (RA-GRS) capability to support restores from a secondary region. Refer to - https://azure.microsoft.com/en-in/blog/cross-region-restore-crr-for-azure-virtual-machines-using-azure-backup/

[2021-02-12 14:23] KevinBurton commented on #70468
Thank you very much for your help. This indeed resolved my problem. For
this quick start I wish more was said about the various levels of
authorization.

On Thu, Feb 11, 2021 at 7:40 PM ChaitanyaNaykodi-MSFT <
notifications@github.com> wrote:

[2021-02-12 14:25] munir94 commented on #70493
here is result..
![image](https://user-images.githubusercontent.com/39366930/107780039-23935900-6d81-11eb-9c54-f719ac326b7c.png)

[2021-02-12 14:29] liamehenderson commented on #64660
I looked at this last summer and I too found that it worked in a slotless deployment but any release with slot swapping broke the connection. This is currently a major pain for our company as well, I was hoping there had been some movement on it from the MS side between then and now. The lack of managed identity access means we currently have use the username/password ACR mechanism that means we n

[2021-02-12 14:45] mikaelsand opened #70505 "Policy debug does not start ... why?"
I was thinking that the documentation is missing a step.
Do I need a local copy of the files I am about to debug? I am asking since when I right-click to "Start Policy Debugging" I do not get a RestCall configured. Yes I have the RestClient extension. I get the following:
![image](https://user-images.githubusercontent.com/20858407/107782178-0c387980-6d49-11eb-9306-18b0f91fe97f.png)

If I click the

[2021-02-12 15:11] RohitMungi-MSFT commented on #70198
@haymansfield We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-12 15:11] #70198 closed

[2021-02-12 15:39] JelmerBarhorst opened #70507 "Please clearify the RI exchange from PAYG to CSP"
https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations?toc=/azure/cost-management-billing/reservations/toc.json#pay-as-you-go-invoice-payments-and-csp-program

I have a customer who has bought reserverations in a PAYG subscription (creditcard). They are migrating their environment to a CSP subscription that my company provided them.

We h

[2021-02-12 15:45] rsalehicloud opened #70508 "Can a SAS token be revoked?"
[Enter feedback here]

Hi, Can a SAS token be revoked or invalidated? If not, what is the work around?

Thanks,
R

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e
* Content: [Grant limited access to data with shared access

[2021-02-12 15:59] dominicbetts commented on #70266
Hi @Hitengit054 - I think you need to combine two samples - the preferred way to connect to IoT Central is using DPS rather than a connection string. If you look at https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/pnp/pnp_simple_thermostat/pnp_simple_thermostat.c the sample uses environment variables to set the connection method to DPS - you can get the Scope ID and devic

[2021-02-12 16:03] frankparth8 opened #70509 "This SDK utterly fails with Java implementations. Many of the links were broken leaving you scratching your head."
Too often Microsoft products fail when it comes to implementation with Java. Microsoft is ostracizing a far larger percentage of developers because of their refusal to build solutions that work with Java applications. Besides dropping their support for the TFS plugin for Eclipse their "solution" to receive messages from a service bus queue here: https://docs.microsoft.com/en-us/azure/service-bus-m

[2021-02-12 16:06] jondmcelroy opened #70510 "There appears to be no documentation for a ClaimsTransformation: CopyClaimIfPredicateMatch"
One of the scenarios in the custom policy starter pack uses a claims transformation called CopyClaimIfPredicateMatch. I see no documentation about this anywhere. Can we add some documentation about this claims transformation?

https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/scenarios/phone-number-passwordless/Phone_Email_Base.xml#L566

---
#### Document

[2021-02-12 16:07] tomkerkhove opened #70511 "Provide documentation on autoscaling with KEDA"
Provide documentation on autoscaling with [KEDA](http://keda.sh/) (co-maintained by Microsoft) which focuses on application autoscaling based on sources such as Azure Monitor, Service Bus, Storage Queues and more.

I'm happy to contribute if interested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8185fe-e724-7a2d-

[2021-02-12 16:17] j-hansen commented on #66784
Hello,
I needed to remove some other packages to get the dependencies to allow the latest PHP windowsazure 0.5.
Now that I’ve done that, it fails later now.
The quickstart shows how to create SB and get the connection string that begins with sb://name…
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quickstart-portal
then you use the connection string like this
https://doc

[2021-02-12 16:28] ecfan commented on #70503
@MayankBargali-MSFT, thanks for making this update!

[2021-02-12 16:28] RamlingaReddy opened #70512 "What is the purpose of "None" while selecting "Cloud Apps or Actions"?"
[Enter feedback here]
Please explain the purpose or an use case when "**None**" is selected in the "Cloud Apps or Actions" section ? We selected None and "All Apps" options to block Legacy Authentication for "selected users" when not coming from a specific IP. The policy does not seem to take effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-02-12 16:33] frankparth8 commented on #70509
These were the dependencies that resolved the issue. Probably would have taken the team there 5 mins to read through their own documentation starting from scratch to determine they were required. The assumption that every engineer has months to RTFM in it's entirety is completely outdated and every example page needs to have references to the dependencies and direct documentation to complete the t

[2021-02-12 16:33] #70509 closed

[2021-02-12 16:40] Karenzhang7717 opened #70513 "cannot find operationId"
[Enter feedback here]
It takes operationId as a parameter for "upload a drawing package" -step 6 but there are no instructions to find the operationId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa6d4f33-0311-2315-edef-b81c06fb3e0d
* Version Independent ID: f7cc6c67-470f-e3f2-1a5c-d71487a85034
* Content: [Tutorial:

[2021-02-12 16:43] officedrone opened #70514 "IoT hub section references Azure Data Factory V2 managed identity configuration"
[Enter feedback here]

Section : https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-iot-hub

The description before the link for configuring IoT managed identity through the portal references Azure Data Factory V2 and not IoT Hub.

The Link to IoT managed identity configuration takes you to the correct page though, s

[2021-02-12 16:44] AshokPeddakotla-MSFT commented on #70275
@algattik PR has been created to update the code. Changes will go live once it has been peer reviewed and merged.
@baanders Thanks for the help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-12 16:44] #70275 closed

[2021-02-12 16:59] AshokPeddakotla-MSFT commented on #68401
@martgut Can you share the SDK which you are using? It will help us to further investigate the issue and provide suggestions accordingly.

[2021-02-12 17:11] JamesTran-MSFT commented on #70510
@jondmcelroy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-12 17:13] dcaro commented on #70221
The AKS PowerShell module is currently based of the 2020-07-01 API Version which does not expose this.
I have created an issue in the Azure PowerShell repo: https://github.com/Azure/azure-powershell/issues/14194 where we will track this work.

[2021-02-12 17:15] JamesTran-MSFT commented on #70514
@officedrone
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-12 17:22] MonikaReddy-MSFT commented on #70221
@dcaro & @palma21   - Thank you for providing your insights.
@ezYakaEagle442 - I hope @dcaro has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-12 17:22] #70221 closed

[2021-02-12 17:28] henriquebelotto opened #70515 "Issues with the versions 2.x.x for the with localized strings"
Hello,

I've been trying to update our page-layout to the latest version, especially the Self asserted.
However, when I try to use any version newer than 2.0.0, I get errors while I try to update the Extensions file, complaining something about the localized strings. I noticed that if I change to 2.0.0, I can upload my Extensions file with no problem at all. But if I change any other newer version

[2021-02-12 17:29] julieMSFT commented on #55168
Hello @lukerosser and @thijsnijhuis-rabo,I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-02-12 17:29] julieMSFT commented on #55168
#please-close

[2021-02-12 17:29] #55168 closed

[2021-02-12 17:31] henriquebelotto commented on #70515
I think that I found the issue

https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids

However, this kind of information should be easier to find and have some direct links to changes (in the version) that would break stuff.

[2021-02-12 17:37] KranthiPakala-MSFT commented on #70324
Based on the above suggestion @rawatsudhir1  was able to resolve the issue. The user doesn't have access to ADLS Gen2 which is why the error is thrown. After granting the storage permission to the user, the issue is resolved.

Based on this update, we will now proceed to close this thread.

Thank you

[2021-02-12 17:37] #70324 closed

[2021-02-12 17:39] henriquebelotto opened #70516 "What is the impact of updating to a newer layout and the strings IDs that were removed"
Hello,

I'm updating the layout version of my pages and noticed that some Strings IDS are no longer available for the newer versions (https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids#sign-up-or-sign-in-page-elements).

What is the impact of those changes? What do I have to use instead?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-02-12 17:48] crixo opened #70517 "Microsoft.Network and sub-resources list"
Microsoft.Network resource lists several services such as "Virtual Network" within the page documentation but not "Public Ip Address", "Network Interface" and "Network Security Group" which belongs also to the main "Microsoft.Network" (see <img width="193" alt="microsoft network-subresources" src="https://user-images.githubusercontent.com/1656929/107802979-4cf0bc80-6d62-11eb-9a49-ac49e3e641a8.png"

[2021-02-12 17:50] tjmcdonough commented on #12741
Wait 90 minutes? Surely this is a joke

[2021-02-12 17:58] KranthiPakala-MSFT commented on #70349
@star286
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-02-12 17:59] MarileeTurscak-MSFT commented on #70512
@RamlingaReddy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-12 17:59] hurtn opened #70518 "Support for Synapse analytics"
Wondering whether applies to section needs updating - surely one can store credentials in Key vault for Synapse?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a11102-d44f-c7d2-c6b1-ec2b2a8b6055
* Version Independent ID: 7eb0fce9-55db-6851-4ada-2316fe8049cf
* Content: [Store credentials in Azure Key Vault - Azure Data

[2021-02-12 18:04] yeadubs commented on #69889
Per the article you referenced, this is partially correct.  Only Global Admins can enable and change MFA user states via the GUI.  However, my original issue was enabling and changing MFA user state via PowerShell.

We could previously do this with the Authentication Administrator role but the documentation now references an additional required role of Privileged Authentication Administrator.

I a

[2021-02-12 18:08] MikeWedderburn-Clarke commented on #7091
@DaRosenberg
I think it is well described here Daniel: https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#layering-policy-definitions
"The net result of layering policy definitions is considered to be cumulative most restrictive. "

And here: https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#order-of-evaluation

"
Disabled is checked first to determin

[2021-02-12 18:15] KranthiPakala-MSFT commented on #70518
@hurtn
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-02-12 18:26] mhopkins-msft commented on #70494
@SivakumarBalu Thank you for reporting this typo. I've updated the article. It will be republished later today.

Thanks!
 ~ *Mark*

#please-close

[2021-02-12 18:26] #70494 closed

[2021-02-12 18:39] #70349 closed

[2021-02-12 18:43] cjmakwana commented on #69828
Hi @JamesTran-MSFT, again thanks for your response.

Well, here we are using the Volley library and Microsoft Graph APIs in the client Android app. I am not sure whether it internally implements  the hybrid flow. Please suggest further.

Instead of having comments here back-and-forth, which doesn't end up to a solution, I would highly appreciate if you can spend a support engineer for a session fo

[2021-02-12 18:50] JamesTran-MSFT commented on #69828
@cjmakwana
Thank you for the quick response!

Since working with our support engineers on this issue would be best, in order to meet your company deadlines, can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subj

[2021-02-12 18:50] #69828 closed

[2021-02-12 18:51] JamesTran-MSFT commented on #70387
@stuckbear
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous comment?

[2021-02-12 18:53] MartinJaffer-MSFT commented on #70067
Well, there are three things you are asking.

For a work-around, I have two ideas.  The simpler idea is to have the pipeline use the range function to generate a series large enough for any increment value.  The first value should be 0.  Then pass this as a parameter to the Data Flow.
In the dataflow, use the slice function to extract the desired length array from the parameter.  Then use map func

[2021-02-12 18:54] chinhdo opened #70519 "Missing install steps for Docker"
The "Build a cluster" section talks about Docker: "After you install the runtime, SDKs, Visual Studio tools, Docker, and have Docker running, create a five-node local development cluster."

But there was no mentions or instructions to install Docker earlier in the Prerequisites section.  That section only talks about installing Visual Studio 2019, Git, and Microsoft Azure Service Fabric SDK.

Is D

[2021-02-12 19:01] erikadoyle commented on #70519
Hi @chinhdo, Docker is not required for this quickstart, but it is recommended to install as a best practice. (So that your SF cluster can support container features). There's a purple note box here with further explanation and link to install instructions: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet#build-a-cluster

Thanks! #please-close

[2021-02-12 19:01] #70519 closed

[2021-02-12 19:02] JamesTran-MSFT commented on #70419
@andrewalla
Thank you for pointing this out! I was able to sync with our ADE SMEs and it looks like this operation is possible.

**Findings:**
Dual Pass ADE  (with AAD):
- Encrypting with a Key Vault and VM in different regions is not supported.

Single Pass ADE (without AAD):
- For pre-encrypted VMs, having the Key Vault and VM in a different region is blocked
- **For newly created VMs, this is c

[2021-02-12 19:02] #70419 closed

[2021-02-12 19:06] matthiasguentert opened #70520 "Umbrella term: Compute Instance?"
The documentation says that any compute instance can talk to service endpoints. It's obvious that VM can act as *service endpoint client*. And I guess App Service/Functions as well

However what exactly does the umbrella term compute instance contain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-48

[2021-02-12 19:13] SadiqhAhmed-MSFT commented on #70507
@JelmerBarhorst Thanks for the question. We will look into this and get back to you soon.

[2021-02-12 19:16] chinhdo commented on #70519
Thanks @erikadoyle. I see the purple Note section now.

[2021-02-12 19:18] bwren commented on #70254
More details about diagnostic settings in https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings. For descriptions of the data collected by diagnostic settings, see https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs and https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log. Also see our data reference at https://docs.microsof

[2021-02-12 19:19] SatishBoddu-MSFT commented on #70513
Hello @Karenzhang7717
I have assigned the issue to the content author for further review.

[2021-02-12 19:24] amsuprith commented on #70414
Please ignore issue is resolved. I forgot to provide the key vault secret permission to my account I was using.

[2021-02-12 19:24] #70414 closed

[2021-02-12 19:33] andrewalla commented on #70419
Thank you for all the investigation!
As Azure Trainer, I've been inquired by a student about what if this was an exam question. Actually, I don't know the answer, because the documentation says one thing and the reality is another thing.

[2021-02-12 19:34] DerekHerman-MSFT commented on #70508
@rsalehicloud Only if you have a Stored access policy in place. Otherwise you would need to regenerate the access key that was used to generate the SAS.

[2021-02-12 19:39] JamesTran-MSFT commented on #70419
@andrewalla
Thank you for the follow up on this!

When it comes to "what is possible",  our ADE team made it clear that the only configuration they'll support is what is documented - i.e. Key Vault and VM in the same region. As for the ability (right now) to encrypt a VM with the Key Vault in a different region, our ADE team will be looking into this.

If you have any other questions, please let m

[2021-02-12 19:39] JamesTran-MSFT commented on #70514
@officedrone
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-12 19:39] #70514 closed

[2021-02-12 19:40] SaiKishor-MSFT commented on #70520
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-12 19:48] JamesTran-MSFT commented on #70432
@lightupdifire
Thank you for the update and quick response!  I've assigned this issue to the author who will investigate and update as appropriate.

![tempAccessDoc](https://user-images.githubusercontent.com/36619112/107815355-22820d80-6d28-11eb-8faf-c16bc04df39e.gif)

Thank you for your time and patience throughout this issue.

[2021-02-12 19:51] JamesTran-MSFT commented on #70504
@scale-tone
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-12 19:58] prasadvaze opened #70521 "The code snippet provided on this page throws an error"
when executed from notebook only these commands fail. Other pyspark and sparkSQL cmd work ---
java.util.concurrent.ExecutionException: HTTP Error 401; url='https://login.microsoftonline.com/{tenant_id}/oauth2/token' AADToken: HTTP connection to https://login.microsoftonline.com/{tenant_id}/oauth2/token failed for getting token from AzureAD.; requestId='c36258bc-9bd2-485c-acf6-531d1101aa00'; conten

[2021-02-12 19:58] ChaitanyaNaykodi-MSFT commented on #70505
Hello @mikaelsand,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-12 20:01] prasadvaze commented on #70521
@mamccrea

[2021-02-12 20:07] SaurabhSharma-MSFT commented on #70447
@hansolo2218 Yes, correct catalog is your purview identity name.  so, you need to add your purview identity to security group
![image](https://user-images.githubusercontent.com/38112130/107817391-ea2ffe80-6d2a-11eb-9a96-3c759acc488f.png)

and provide access to that security group to PowerBI Admin APIs.

[2021-02-12 20:11] baanders commented on #70144
Hi @algattik,

I'm adding a section for updating relationships in PR [#146789](https://github.com/MicrosoftDocs/azure-docs-pr/pull/146789), including a code example and a callout to the fact you mentioned above, that the target twin can't be updated in this way.

Since this addresses the ask, I'll have Git automatically close this issue when the PR is merged. The new content will go live shortly a

[2021-02-12 20:12] #70144 closed

[2021-02-12 20:28] mlcooper opened #70523 "Step 2 of the Azure Portal example has wrong Encryption type in the picture"
[Enter feedback here]
In Step 2 of the Azure portal example it says:

However, in the picture shown, `Microsoft Managed Keys` is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1a2-3f5a-baf3-94e7-37bf4539530b
* Version Independent ID: 13dd580d-f249-62eb-13e2-da76f2f7f7dc
* Content: [Configure encryption w

[2021-02-12 20:40] TomArcherMsft commented on #51976
#please-close

[2021-02-12 20:40] #51976 closed

[2021-02-12 20:45] mlcooper opened #70524 "Configure a key vault section - portal example does not grant storage account rights to the key vault"
In the Portal UI example in the **Configure a key vault** section, it does not explain that you need to grant the storage account access to the key vault via an access policy.  It does however explain that this is a required step in the Azure CLI and the PowerShell examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-02-12 20:47] MicrosoftGuyJFlo commented on #68792
Still waiting on Product Group feedback. Another email out to them asking for follow-up.

[2021-02-12 20:47] Sathishkunisai opened #70525 "Change version in PV yaml [- vers=4.1] if you are trying to mount NFSv4.1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a07e71bf-5b6e-69fb-8fd5-79f33d344d7f
* Version Independent ID: 4469d3b4-1f93-5dde-edd3-95723e49a3db
* Content: [Integrate Azure NetApp Files with Azure Kubernetes Service - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/azure-net

[2021-02-12 20:47] JasonWHowell commented on #69963
Hi @SergeMoreno

Do you have a support relationship to work on this one? With 500 tables it's going to be a challenge to figure out over this web based thread.

https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview

Thanks, Jason

[2021-02-12 20:48] Sathishkunisai commented on #70525
Change version in PV yaml [- vers=4.1] if you are trying to mount NFSv4.1, otherwise you will get the error

"Output: Running scope as unit: run-ra2ca5e0f20c04a05b7316c6f906afaeb.scope mount.nfs: access denied by server while mounting 10.X.X.X:/myfilepath3   Warning  FailedMount  7m35s  kubelet, aks-qascusnp0-10161791-vmss00001m  MountVolume.SetUp failed for volume "pv-nfs" : mount failed: exit st

[2021-02-12 20:49] JasonWHowell commented on #70313
#assign:viseshag per conversation with Daniel

[2021-02-12 20:52] martgut commented on #68401
We are using the Python IoT SDK with following version:
azure-iot-device==2.4.0

[2021-02-12 20:55] JasonWHowell commented on #70080
@SergeMoreno  I think this feature isn't available, so we need to fix the doc. @nayenama please double-check and fix the doc as needed.

Thanks, Jason

[2021-02-12 20:59] JasonWHowell commented on #70447
@SaurabhSharma-MSFT Can you edit step 5 in the docs to say "Purview managed identity" instead of catalog?
Thanks, Jason

[2021-02-12 21:14] ambhatna commented on #70343
Hi @ClaudioRifo,

If the use case is migration then I would recommend to subscribe to planned maintenance notification (https://docs.microsoft.com/en-us/azure/mysql/concepts-planned-maintenance-notification) so that you are aware of any maintenance activity that will impact/change the redirect_server_host.

I would also recommend to create a support case (https://docs.microsoft.com/en-us/azure/azu

[2021-02-12 21:17] andrepodnozov opened #70527 "Typo in code segment: enumValue for Bank3"
Looks like there is a typo in the following code segment on this page:
              {
                "displayName": {
                  "en": "Bank3"
                },
                "enumValue": 2,
                "name": "Bank3"
              }

If I'm reading this correctly, the enumValue should be 3, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-02-12 21:17] larryclaman commented on #54459
I realize this is a closed issue, but just in case anyone is looking to it for guidance, know that guidance changes over time and as of today (February 2021), Azure offers a new backup service that is indeed based on disk snapshots:  https://docs.microsoft.com/en-us/azure/backup/disk-backup-overview

So I would say that there's not a blanket admonition against using snapshots for backup.

[2021-02-12 21:25] Jejiang commented on #67976
@FurcyPin Currently, we don't have PyCharm extension to support Synapse PySpark work, like what we do for IntelliJ to support Synapse Scala/Java work. We have added your request into the our backlog and will discuss more with our engineering team and management.

Meanwhile, you can use our VSCode extension for Synapse PySpark work. Documentation can be found below:
https://docs.microsoft.com/en-us

[2021-02-12 21:32] ChaitanyaNaykodi-MSFT commented on #70446
Hello @KerriBeglan26,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. Thank you!

[2021-02-12 21:32] #70446 closed

[2021-02-12 21:43] Jejiang commented on #60609
@xiopeter3345 the key entered when you choose ""Use Azure Blob to upload" will be used to upload the JAR packages to the blob storage. Can you be more specific on your scenarios and when you need to enter the key information in the job configuration?

[2021-02-12 21:53] rbavery opened #70529 "This page doesn't describe how to write data to datastores to solve the latency issues it discusses"
This doc page references writing to datastores, but mysteriously leaves out code examples to do so and instead talks about writing to the outputs and logs directory that can cause latency issues for large datasets: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-save-write-experiment-files

It links to this page that also doesn't describe how to write to datastores: https://docs.mic

[2021-02-12 22:00] JamesTran-MSFT commented on #70515
@henriquebelotto
Thanks for your feedback and update! I'm glad that you were able to find the documentation that you were looking for.

I'll assign this issue to the author of this doc to look into making this information easier to find.
Thank you for your time and patience throughout this issue.

[2021-02-12 22:01] JamesTran-MSFT commented on #70516
@henriquebelotto
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-12 22:15] MonikaReddy-MSFT commented on #70525
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-12 22:17] SaurabhSharma-MSFT commented on #70447
@JasonWHowell I have submitted a PR to update the documentation and it will be merged after the author approval.

[2021-02-12 22:18] MonikaReddy-MSFT commented on #70517
@crixo -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-12 22:19] DerekHerman-MSFT commented on #70524
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-12 22:19] DerekHerman-MSFT commented on #70523
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-12 22:20] JasonWHowell commented on #69874
@SergeMoreno just FYI when you use email reply, it can share your address. You want to clean up the last reply to remove that.

[2021-02-12 22:21] MonikaReddy-MSFT commented on #70364
@kmohideen - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-02-12 22:21] #70364 closed

[2021-02-12 22:23] jeffpeiyt opened #70531 "Does SQL Parameter supports "IN"?"
Does the SQL parameter support "IN"?  If yes, can we add an example?

The use case is
[code]
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-keywords#in

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4787bd5-5e70-c491-0772-5158de8b8624
* Version Independent ID: cb34b3f3-4dcb-0c98-ace5-1da73b2259bc
*

[2021-02-12 22:31] HUBBER12 opened #70532 "Return IActionResult being ignored"
Following this article -
I'm using   B2C + SignUpSignIn (Recommended Version) - calling my Azure Funcitons method to get the good / bad result back to continue.  However I am encountering very odd behavior only on the Azure Function attached to this B2C API Connector.  so I'm thinking it's the problem.

Only on this function,   does it completely ignore return ActionResult, if I set an ActionResul

[2021-02-12 22:31] Briwalkr opened #70533 "Roles descriptions are too confusing. you need to add the hierarchy of roles to show the inheritance of rights at higher roles."
Roles descriptions are too confusing. you need to add the hierarchy of roles to show the inheritance of rights at higher roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cee8bd88-9e50-8192-60c0-70d40e36ca75
* Version Independent ID: a75ec158-91e6-fbd9-006d-3cbd6a404561
* Content: [Understand the roles required to

[2021-02-12 22:59] HUBBER12 commented on #70532
Hmm i noticed in the example code... there are two ways to return
return (ActionResult)new **BadRequestObjectResult**(new ResponseContent("**ShowBlockPage**", "Email name is mandatory."));
or
return (ActionResult)new **OkObjectResult**(new ResponseContent("**ShowBlockPage**", "Email name is mandatory."));

both OkObject, and BadRequest in the example code show a response content of ShowBlockPage c

[2021-02-12 22:59] #70532 closed

[2021-02-12 23:19] RideMo opened #70534 "Updating and correcting B2C Userinfo documentation."
Can we add a modification to the InputClaims section, specifically to show mapping of input claims to partnerClaims.  This is under step # 3, under Add token issuer technical profile, under Create a Userinfo endpoint .  In this example, InputClaims for the UserInfo endpoint is what b2c will "output", and the output claims section are the claims that the Userinfo endpoint will "intake" (from the ac

[2021-02-12 23:37] #70243 closed

[2021-02-12 23:39] KranthiPakala-MSFT commented on #70533
@Briwalkr
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-12 23:41] KranthiPakala-MSFT commented on #70521
@prasadvaze
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-02-12 23:44] ChaitanyaNaykodi-MSFT commented on #70297
Hello @shriazure, apologies for the delay in my response.
I was able to replicate the issue faced, but for me the issue existed for short period. After few minutes (5-10 minutes and few Refresh) the error vanished from the Functions Overview blade and I was able to create the connection with the service endpoint enabled storage account as promised in the tutorial. Please let me know if this was th

[2021-02-12 23:45] MarileeTurscak-MSFT commented on #70512
There still needs to be the option to add none because people can create conditional access policies that apply to users and user actions rather than specific apps.

If you select none, you also need to select "user actions" so the CA can apply to that rather than to nothing.

Hope this helps!

[2021-02-12 23:45] #70512 closed

[2021-02-13 00:01] James-Hamil-MSFT commented on #70438
Hi @yasithacp , does the answer to this thread help you? https://stackoverflow.com/questions/65278010/how-to-set-the-access-token-lifetime-for-an-app-using-the-microsoft-graph-api They seemed to have the same issue as you. If not, please let me know and I can help you further.

Best,
James

[2021-02-13 00:15] James-Hamil-MSFT commented on #70271
Hi @limjianan-camelody are you asking for clarification about these scenarios or for updated documentation? I can't find the section you mentioned in the document that you posted. Please let me know and I can help you further.

Thanks,
James

[2021-02-13 00:27] nelsondani commented on #70534
16000[15000**15000**_15000_****]()

[2021-02-13 00:55] JamesTran-MSFT commented on #70534
@RideMo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-13 01:02] anastasia-ms commented on #70513
The operationId is a dynamic guid. It is given to you in the status URL.

[2021-02-13 01:08] TravisCragg-MSFT commented on #70385
@Klaas- This statement is more of a functionality of how Availability Zones function. One thing you will need to understand is that Availability Sets came first, and Availability Zones were added much later.

You cannot specify an update domain and fault domain with an availability zone, you can only specify the number of zones to use. Deploying a VMSS into an AZ and specifying 3 zones acts like a

[2021-02-13 01:09] chanuengg commented on #69963
@SergeMoreno - Lineage is not extracted by scanning a SQL database. If it is mentioned so in our documents, that is incorrect. I verified the documents and I don't see it is mentioned as such. Lineage is currently extracted at the runtime of Azure data factory. Which means that you need to connect your Data Factory account to support lineage extraction.

[2021-02-13 01:24] eternovsky commented on #63571
Hi all,

I confirmed that the C# code works as intended. Here's my setup, the only changes being me copy/pasting my Workspace ID and Shared Key into the placeholder variables:
![image](https://user-images.githubusercontent.com/21266667/107836284-6b9a8780-6d51-11eb-8aac-7daa3a336152.png)

Here is the call returning a 200 as intercepted in Fiddler:
![image](https://user-images.githubusercontent.com/

[2021-02-13 01:26] TravisCragg-MSFT commented on #70511
@tomkerkhove Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-13 01:48] NavtejSaini-MSFT commented on #70300
@ehsf973 Please let us know if you need any further help with this.

[2021-02-13 01:49] NavtejSaini-MSFT commented on #70381
@mksuni Please look into PR raised.

[2021-02-13 01:51] midesa commented on #67476
Hi @pramodsb, if the path does not exist, you can add the 'python' folder within the 'libraries' folder.  Once the Spark pool is instantiated, it will bundle all your dependencies and packages appropriately.

[2021-02-13 02:05] ChaitanyaNaykodi-MSFT commented on #70527
Hello @andrepodnozov
Thank you for your feedback! We will review and update as appropriate.

[2021-02-13 02:06] ChaitanyaNaykodi-MSFT commented on #70529
Hello @rbavery
Thank you for your feedback! We will review and update as appropriate.

[2021-02-13 02:08] ChaitanyaNaykodi-MSFT commented on #70531
Hello @jeffpeiyt,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-13 02:18] jeffpeiyt commented on #70531
https://stackoverflow.com/questions/60933325/how-to-create-the-sqlqueryspec-in-java-in-order-to-retrieve-a-list-of-documents resolves the issue. Consider add it to the doc so that it saves people 4 hours on trying and googling.

[2021-02-13 02:18] #70531 closed

[2021-02-13 02:28] robvet opened #70535 "Vague wording..."
Don't say:

"Example:"
bash enable-monitoring.sh --resource-id $azureAroV4ClusterResourceId --kube-context $kubeContext --workspace-id $logAnalyticsWorkspaceResourceId

Instead, explicility say,

"Here is the command you must run once you populated the 3 variables with Export commands.

bash enable-monitoring.sh --resource-id $azureAroV4ClusterResourceId --kube-context $kubeContext --workspace-id

[2021-02-13 02:36] savjani commented on #70454
@bertrandpons, @ChaitanyaNaykodi-MSFT  - if there are no further questions, can we close this issue?

[2021-02-13 03:02] mvfolino68 opened #70536 "Does this API support SaaS offers or only Azure VMs?"
Does this API support SaaS offers or only Azure VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f59dfdee-26f3-a54d-6899-8182434895e9
* Version Independent ID: c92ef943-2b16-54b2-2c6c-810a054c4e85
* Content: [Create or modify an offer - Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketplace/cloud-part

[2021-02-13 03:13] KrishnaG-MSFT commented on #70535
@robvet Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-13 03:28] ramy521 opened #70537 "No title."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-02-13 03:50] BryanTrach-MSFT commented on #70261
@marcosrivasr Thank you for brining this to our attention. Our team is unable to update pictures in articles so we have assigned your feedback to the doc author, @christiannwamba, directly to have them review and update the document as necessary.

[2021-02-13 04:31] ChaitanyaNaykodi-MSFT commented on #70402
Hello @tyler555g, Can you please explain more about how this not a valid binding for Python based blob triggered function apps? I was able to trigger my Python function app for file names matching this pattern `anyname-anyfile.csv`.

[2021-02-13 04:36] Norrch2 opened #70538 "Localization for UserMessageIfInvalidPassword Is Not Working."
Hello,

I am attempting to localize the user's message if they input an invalid user name and/or password. However, all of my attempts are failing.

Desired Output: The username and/or password you have entered is incorrect.
Actual Output: The username or password provided in the request are invalid.

Here is the code I am using
[code]

I have also tried these localization settings on self asserte

[2021-02-13 05:20] AshokPeddakotla-MSFT commented on #70527
@andrepodnozov Thanks for raising this issue. PR has been created to fix the typo. Changes will be updated once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-13 05:20] #70527 closed

[2021-02-13 05:25] googleirfan opened #70539 "Error in the documentation"
Hi,
Scenarios section : scenario 2 contain error 150 instead of 500, please review

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is entitlement management? - Azure AD](https://docs.microsoft.com/en-us/a

[2021-02-13 05:26] Jejiang commented on #67976
@FurcyPin Let me know if you have more questions. Otherwise, we will move forward to close this issue.

[2021-02-13 05:26] Jejiang commented on #67976
#please-close

[2021-02-13 05:26] #67976 closed

[2021-02-13 05:35] limjianan-camelody commented on #70271
Hi James,
Reference: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-writebac

Snap from the above URL
`

The above says when an admin have reset the password (under circumstances), the password will writeback.

And the https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization#overwrite-synchronized-passwords  sa

[2021-02-13 05:43] akucer commented on #68889
@zsybupt - For encoding the output minute pricing is the same regardless of which API is used (v2 or v3). For v3 the only pricing for encoding it output minute pricing. There are no additional charges for automatic scaling capabilities. For v2 one does currently need to set suitable # of MRU's but later this year we will also enable automatic scaling for v2 API so that regardless of which API vers

[2021-02-13 05:46] lipalath-ms opened #70540 "Human Interaction in Durable Functions"
I followed this doc and I have an Orchestrator function (in C#) as follows:

[code]

Here is my A_SendApprovalRequestEmail Activiy function:

[code]
How do I modify this code to create and add 2 valid links in the email - one for Approve and one for Reject (similar to the image below)?

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/Vewb3.png

---
#### Document Details

[2021-02-13 06:06] shashishailaj commented on #70536
@mvfolino68 Thank you for your feedback . We will investigate and update the thread.

[2021-02-13 06:40] shashishailaj commented on #70537
@ramy521 Thank you for reaching out to us. We would like to understand more about your issue. We use this repo for obtaining feedback about azure documentation . Could you please share details about the document you were referring to while you opened this issue? In case you have a question related to the product related to any implementation or some kind of troubleshooting, you can also reach out

[2021-02-13 06:42] shashishailaj commented on #70539
@googleirfan Thank you for your feedback . We will have this checked and update the thread.

[2021-02-13 06:47] shashishailaj commented on #70538
@Norrch2 Thank you for pointing that out . We will investigate and update the thread .

[2021-02-13 06:49] shashishailaj commented on #70540
@lipalath-ms Thank you for your query . We will investigate and update the thread ,

[2021-02-13 06:54] shashankkr opened #70541 "Powershell - start container group and execute a command"
Hi,
i want to start the container group and execute a command, set environment variable etc
Since Az module does not support starting a container group, i am trying to use the Invoke-AzResourceAction command like below

Invoke-AzResourceAction -ResourceGroupName $resourceGroup -ResourceName $resourceName -ResourceType Microsoft.ContainerInstance/containerGroups `
 -Action Start -Force -Verbose `

[2021-02-13 07:36] shashishailaj commented on #70541
@shashankkr Thank you for your query . We will investigate and update the thread.

[2021-02-13 08:01] Klaas- commented on #70385
@TravisCragg-MSFT there are several things I do not yet understand and your description has not really made that more clear to me :) so I'll try again with more direct questions :)

1. https://docs.microsoft.com/en-us/azure/availability-zones/az-region#azure-regions-with-availability-zones those have availability zones, all of them should have 3 Availability Zones, right? But Germany West Central

[2021-02-13 09:00] tyler555g commented on #70402
Hi @ChaitanyaNaykodi-MSFT,

I am specifically mentioning using expressions, denoted by {}. In this specific case {date} is used as shown in the example. {date} fails to process in a python azure function as an invalid binding expression.

[2021-02-13 09:28] ehsf973 commented on #70300
hello,
thanks the page you send me is very good ! ok to close !

Le sam. 13 févr. 2021 à 02:49, NavtejSaini-MSFT <notifications@github.com>
a écrit :

[2021-02-13 10:18] #70381 closed

[2021-02-13 10:18] savjani commented on #70381
Thanks @NavtejSaini-MSFT ...I have approved it

[2021-02-13 10:41] coosmiin opened #70544 "The very first step in this tutorial is broken"
The very first step in this tutorial is broken

![image](https://user-images.githubusercontent.com/3222985/107847976-bde2b380-6df8-11eb-812b-bfc3ce1e69a4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6213751a-c839-33ed-3c31-00fc75144666
* Version Independent ID: 32691df7-c690-ea27-57bf-8b7e71e0060d
* Content: [De

[2021-02-13 13:48] shashishailaj commented on #70544
@coosmiin Thank you for your feedback . We will investigate and update the thread.

[2021-02-13 18:55] mmacy commented on #69722
Will be fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/146577.

#reassign:msewaweru

[2021-02-13 19:00] boris-tarasov-maersk opened #70545 "The Azure Storage Emulator is no longer being actively developed."
The first note visible on following link to get Azure storage emulator is this:
"The Azure Storage Emulator is no longer being actively developed. "

Could example here state if it works with supersede of Azure storage emulator, **azurite**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4885c7aa-95fd-b501-37c8-deaeaf5e

[2021-02-13 19:21] Asymvivastos commented on #70545
You are my super hero.

.. I really want to thank you.. Thank you all.

[2021-02-13 19:22] javester opened #70546 "File share scale targets are incorrect"
I see recently this article seems to have changed for file share limits.  The article used to say that standard file share IOPS was 1000 and that Large file shares option increases to 10,000 IOPS.  But now it says that a file share iops limit is the 'storage account limit' which above shows 20k IOPS.  Pretty sure this is not correct.  i am still seeing standard account file share iops limits are 1

[2021-02-13 20:15] shashishailaj commented on #69752
@henrywang08 We have updated the page. Thank you for your inputs.

[2021-02-13 22:50] V4A001 opened #70547 "cosmosdb DatabaseAccountListKeysResult (PrimaryMasterKey) is null if multiple pods are started at the same time"
I have an AKS cluster with manged identies and AAD pod identiy. I have startup with keyvault and cosmosdb. It turns out that the pods upon startup crash because the master keys to access the cosmosdb cannot be retrieved. They are empty. After multiple restarts of the pods all pods are able to get the keys. Why is this behaviour?

Do I need to implement a token cache between pods?
Sometimes the pod

[2021-02-13 23:52] federicopfund opened #70548 "machinelearnig"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e84d074-09a8-4b15-243a-de80ebe797d8
* Version Independent ID: 99f1dea0-4c3f-e25b-e778-24ca2a2bc5d2
* Content: [Create a virtual network - quickstart - Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-cli?context=/azure/v

[2021-02-14 00:33] ecfan commented on #70326
#assign @ecfan

[2021-02-14 01:05] ChaitanyaNaykodi-MSFT commented on #70545
Hello @boris-tarasov-maersk,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-14 01:07] ChaitanyaNaykodi-MSFT commented on #70546
Hello @javester,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-14 01:09] ChaitanyaNaykodi-MSFT commented on #70547
Hello @V4A001
Thank you for your feedback! We will review and update as appropriate.

[2021-02-14 01:11] ChaitanyaNaykodi-MSFT commented on #70548
Hello @federicopfund,
There doesn't seem to be any feedback provided. Did you mean to provide some on this article?

[2021-02-14 01:42] ChaitanyaNaykodi-MSFT commented on #70402
Hello @tyler555g, Thank you for the additional information, but I could not replicate the observation made. For me I was able to trigger my function app for file format type `{date}-{filetype}.csv` as shown below.
My `function.json` looks like this.
![image](https://user-images.githubusercontent.com/67453298/107866076-c3a0bf00-6e21-11eb-9e72-6b4f0457eae5.png)

My `_init_.py `
![image](https://user

[2021-02-14 02:46] savjani commented on #70454
@ChaitanyaNaykodi-MSFT - if there are no further questions. Can you please close the issue. thanks !!!

[2021-02-14 03:41] algattik commented on #70215
Thank you, confirmed this works as expected.

[2021-02-14 03:41] #70215 closed

[2021-02-14 04:01] algattik opened #70549 "Error in code sample: UpdateRelationshipAsync"
Thank you for adding a code sample re. my previous request.

There is an error in the code sample:
`await UpdateRelationshipAsync(client, srcId, $"{srcId}-contains->{targetId}", updatePropertyPatch);`

should be:
`await client.UpdateRelationshipAsync(srcId, $"{srcId}-contains->{targetId}", updatePropertyPatch);`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-02-14 04:59] mperezcarden opened #70550 "Some issues during this exercise."
On this particular page, there is a step describing how to update the application.
Nevertheless, the code provider does not work and it gives an error.

My suggestion is to fix the code with something more similar to the suggestion given in the original repo.

For example.

`public static void Main(string[] args)
        {
            Console.WriteLine("Azure Blob storage performance and scalabili

[2021-02-14 06:58] zsybupt commented on #68889
@akucer  Thanks for this detailed explanation

[2021-02-14 06:58] #68889 closed

[2021-02-14 07:48] shashishailaj commented on #70550
@mperezcarden Thank you for catching this. We will investigate and update the thread.

[2021-02-14 07:49] shashishailaj commented on #70549
@algattik Thank you for catching this. We will investigate and update the thread.

[2021-02-14 08:53] fbinotto opened #70551 "Issue with Redirect URI"
The format of the Redirect URI documented did not work for me.

I had to use the Tenant ID instead of the Tenant Name in the second variable.

e.g. https://<tenant-name>.b2clogin.com/<tenant-ID>/oauth2/authresp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7646910a-39c5-eebd-97f9-db6e7e55d1fa
* Version Independent ID:

[2021-02-14 09:05] shashishailaj commented on #70551
@fbinotto Thank you for your feedback . We will investigate and update the thread.

[2021-02-14 09:21] ggailey777 commented on #69119
@madsd thanks for letting us know about this. It does seem like Azure Functions does now support ZRS storage accounts, so I'll update the articles accordingly.

[2021-02-14 09:27] ggailey777 commented on #63283
@adobedoe sorry for the delay, but we've finally updated the article in the linked PR. You have a good suggestion about making ZRS an option in Storage create. You can suggest this [here](https://feedback.azure.com/forums/355860-azure-functions). In the meantime, you can always create the ZRS account first and use it in the function app create flow.

[2021-02-14 09:28] #69119 closed

[2021-02-14 09:29] ggailey777 commented on #63283
#please-close

[2021-02-14 09:29] #63283 closed

[2021-02-14 09:33] ggailey777 commented on #66834
@alexandair you are correct, we need to update this article to use Azure PowerShell instead of Azure CLI wrapped in PowerShell, now that we have first-class support for Azure PowerShell in Functions.

[2021-02-14 10:40] razvangoga opened #70554 "Typo in View the results of your telemetry initializer section"
In the **View the results of your telemetry initializer** section, the IPv4 loopback address should be **127.0.0.1** not **127.0.01**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730ff1f8-2aff-bedf-a026-1e52af3f2af8
* Version Independent ID: 6e1f9b29-76b9-f7fd-7474-47b38595115e
* Content: [Azure Application Insights

[2021-02-14 11:23] ignaciofls opened #70557 "Minor typo in Sample skill definition 3"
At the end of this text "Sample skill definition 3: Merge values from two fields into one
In this example, some sentences have a frenchSentiment property. Whenever the frenchSentiment property is null, we want to use the englishSentiment value. We assign the output to a member that's called sentiment ("/document/sentiment/*/sentiment")."
in my opinion the correct output should be "/document/senten

[2021-02-14 12:20] alexs77 opened #70558 "No "Upgrade subscription" button"
My free trial subscription got deactivated and I wanted to reactivate it. In the docs it says to click on "Upgrade subscription". But when I select the subscription, there's no such button.

![Free trial subscription](https://user-images.githubusercontent.com/781361/107876627-59daf080-6ec7-11eb-8940-2b03fe240005.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-02-14 13:01] AnuragSharma-MSFT commented on #70320
@davidlane-iteratec Please find the response below:

**_"If you don't configure any firewall rules, then by default, no traffic will be able to access the Azure Database for PostgreSQL Single server."_**: Yes this is when we don't configure private endpoints and don't add any firewall rules, we would not be able to access the Azure PostgreSQL server.

"**_So if I take the sentence from 4 above "yo

[2021-02-14 13:07] kmkelly2015 opened #70559 "Secure Virtual Hub - CLI Version with Private Traffic Only"
Hi

Is there a CLI example of this that includes the Azure Firewall Manager securing connectivity for Private traffic only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe43b05-6297-1bcc-a7d2-6e3ffac5e828
* Version Independent ID: b9d85d1e-be9f-ce4e-b3cf-89ba62942b9a
* Content: [Tutorial: Secure your virtual hub usi

[2021-02-14 14:30] shashishailaj commented on #70554
@razvangoga Thank you for reporting this . We will review this and get it updated.

[2021-02-14 14:32] shashishailaj commented on #70559
@kmkelly2015 Thank you for your feedback . We will investigate and update the thread.

[2021-02-14 14:34] shashishailaj commented on #70558
@alexs77 Thank you for your feedback . We will review the article with the content team and update the thread.

[2021-02-14 14:38] shashishailaj commented on #70557
@ignaciofls Thank you for reporting this.  We will investigate and update the thread.

[2021-02-14 15:15] RonnieQuan opened #70560 "Automatic Scaling for Disk Queue Length"
What are the automatic action can be taken when disk queue length is high?

Looks auto scale out is to add instances, do it help disk I/O?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583a
* Content:

[2021-02-14 15:28] samuel-elliott opened #70561 "Grammatical error in sentence."
The **Public IP address** bullet point has a grammatical error, which I have bolded as follows:

" This **is** IP address does not have anything to do with any of the VMs that you want to connect to. It's the public IP for the Bastion host resource."

That "is" does not make grammatical sense and should be removed so that the sentence reads correctly.

---
#### Document Details

⚠ *Do not edit thi

[2021-02-14 16:13] cristian-eriomenco commented on #41790
2021? Any forecasts?

[2021-02-14 16:15] shashishailaj commented on #70537
@ramy521 As we have not recieved any response from you . we will close this issue now. In case you still have any query related to azure documentation , please open a new issue. If you have a troubleshooting query , I would suggest you to open a new forum thread on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html)  and we will be happy to help you further.

[2021-02-14 16:15] #70537 closed

[2021-02-14 16:30] pskfry commented on #70430
That was completely unhelpful. I solved the problem myself by deleting and re-creating the Web App. I believe the issue was that when I created the web app I specified that I would deploy code rather than a container to it, but then once the Web App was created I changed my mind and wanted to deploy via a container. Apparently this workflow is very buggy. You should report this to your engineering

[2021-02-14 16:30] #70430 closed

[2021-02-14 16:54] prasadvaze commented on #70521
@himanshusinha-msft and @KranthiPakala-MSFT   please disregard this issue.  The code works .  I had something wrong in my azure databricks workspace which was causing this error.

[2021-02-14 17:16] Pwd9000-ML commented on #34664
Is there any ETA for this on the Powershell side (Set-AzDiagnosticSetting)

[2021-02-14 17:58] amsuprith opened #70562 "Need more clarity on the incremental changes"
Team,

This document talks about loading the fresh template.json from the cloud explorer. We really need to know how to make the incremental changes to a single logic app. Lets say I have created 10 logic apps using visual studio by using the approach mentioned in this [guide](https://docs.microsoft.com/en-us/azure/logic-apps/quickstart-create-logic-apps-with-visual-studio).  Now I want to change

[2021-02-14 18:53] rcollina opened #70563 "Resource Group Location and Metadata"
Docs say:

I’m not sure what that metadata is or is meant to be.
In Kubernetes lingo, is it the `metadata` part of a CRD, the `spec` part, the `status` part?

How can I leverage the RG location to ensure
compliance with, for example, EU laws?

I understand it’s a broad subject but I could use some help understanding better what options I have.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-02-14 20:06] ecfan commented on #70562
Hi @amsuprith,

Thank you for your question. To clarify, selecting **Publish** on the designer publishes all your logic apps?

[2021-02-14 21:07] #65412 closed

[2021-02-14 21:49] ChaitanyaNaykodi-MSFT commented on #70454
Thank you! @savjani

[2021-02-14 21:49] #70454 closed

[2021-02-14 22:02] venkat1017 opened #70565 "Resource Graph KQL return value mismatch with powershell cmdlets"
I see that there is a huge difference in resource graph result and powershell cmdlet result / Rest API

[code]

**Total result returned : 128**

The result returned when trying for same VNET using powershell cmdlets

[code]
**Total result returned : 240**

Why do we not see all the results from resource graph API?

[2021-02-14 22:08] moorereason opened #70566 "Incorrect plan and log files location reference on Mac/Linux"
In the **Change the location of the plan and log files**, the plan and log files location for Mac/Linux is incorrectly given as `$HOME$\.azcopy`.  The correct reference is `$HOME/.azcopy` (remove the trailing dollar-sign in the variable reference and use a forward slash as the path separator).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-02-14 22:10] moorereason commented on #70566
I just noticed that the same incorrect reference is given in the third paragraph of the **Troubleshoot issues** section.

[2021-02-14 22:15] VitalyMCT opened #70567 "Obsolete note regarding preview"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2039cb-fc85-a189-1938-57d102a09b2f
* Version Independent ID: 4bc83b4b-afcb-8521-a882-628ce151b093
* Content: [Tutorial: Scan data with Azure Purview (preview) - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/tutorial-scan-data)
* Content Source: [articles/p

[2021-02-14 22:16] #70567 closed

[2021-02-14 22:16] ggailey777 commented on #65876
Thanks @eamonoreilly, I've opened a work item to retire this article.

[2021-02-14 22:20] ggailey777 commented on #64489
This should now be addressed. If it's still unclear, please open another issue. Thanks! #please-close

[2021-02-14 22:20] #64489 closed

[2021-02-15 00:45] amsuprith commented on #70562
Thanks @ecfan for your swift response. I don't have a publish option on my logic app designer because I am using my original template json that I used to create this logic app ([This](https://docs.microsoft.com/en-us/azure/logic-apps/quickstart-create-logic-apps-with-visual-studio) is the approach I used to create that).  I am modifying the original template json under the Azure Resource group dep

[2021-02-15 01:13] ChaitanyaNaykodi-MSFT commented on #70560
Hello @RonnieQuan,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 01:14] ChaitanyaNaykodi-MSFT commented on #70561
Hello @samuel-elliott
Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 01:24] ChaitanyaNaykodi-MSFT commented on #70563
Hello @rcollina,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 01:29] ChaitanyaNaykodi-MSFT commented on #70565
Hello @venkat1017, Thank you for reaching out. Can you please provide the link for the documentation you referred? So that I can assign this issue to the appropriate team. Thank you!

[2021-02-15 01:30] ChaitanyaNaykodi-MSFT commented on #70566
Hello @moorereason,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 02:51] mumian commented on #70251
@StephenWeatherford - the article has been updated.

#sign-off

[2021-02-15 02:52] mumian commented on #70251
#please-close

[2021-02-15 02:52] #70251 closed

[2021-02-15 03:51] aspnet4you opened #70569 "Azure Key Vault Event - Is it possible to subscribe to Event Grid Topic (not system event grid topic)?"
I can create an event subscription at Azure Key Vault but it allows only system event grid topic as opposed to custom event grid topic. My preference is custom event grid topic because I can assign a managed identity and grant necessary RBAC to the managed identity.

Is it possible to configure Azure Key Vault to send events to custom event grid topic?

Here is a sample custom event grid topic, I

[2021-02-15 03:59] SubhashVasarapu-MSFT commented on #70190
@vatsalyagoel, Appreciate your patience. I would recommend you take a few minutes to submit your idea in the one of the forums available on [here](https://feedback.azure.com/forums/217313-networking/suggestions/42269872-add-an-ability-to-process-responses-in-the-front-d) or vote up the similar [idea](https://feedback.azure.com/forums/217313-networking/suggestions/42269872-add-an-ability-to-process

[2021-02-15 03:59] #70190 closed

[2021-02-15 04:14] #70227 closed

[2021-02-15 04:35] jp-kpmg-ppurnyn opened #70570 "Tool depreciates in March but still no update to this page"
The tool described, the Deployment Center tool, depreciates in March and has been marked (classic) but there is still no update to this page. It is also not clear where the instructions on how to use the new tool are.

The new tool also doesn't seem as self explanatory and is harder to understand without documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-02-15 05:05] RohitMungi-MSFT commented on #70067
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2021-02-15 05:05] #70067 closed

[2021-02-15 05:06] #70300 closed

[2021-02-15 05:09] VikasPullagura-MSFT commented on #41837
@msmbaldwin Can you please check and add your comments on this issue.

[2021-02-15 05:17] KrishnaG-MSFT commented on #70535
@robvet I have verified and updated the document as required. The change should go live in some time i.e., in less than 24 hours. Thanks again!

[2021-02-15 05:17] #70535 closed

[2021-02-15 05:21] MayankBargali-MSFT commented on #70569
@aspnet4you Thank you for your feedback! We will review and update as appropriate.

[2021-02-15 05:24] KrishnaG-MSFT commented on #70554
@razvangoga I have verified and updated the document as required. The change should go live in some time i.e., in less than 24 hours. Thanks again!

[2021-02-15 05:24] #70554 closed

[2021-02-15 05:39] AjayKumar-MSFT commented on #70570
@jp-kpmg-ppurnyn, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-02-15 05:48] psmanhas commented on #70425
@lissff Thank you for your patience over the matter!!!

Auto Healing will be applicable for the node which is currently in running state and there is some issue with that node. For a use case where it won't be applicable is when  you have manually stopped the instance in this case by default the node will show in Not Ready state and hence Auto Healing is not needed once you start the node it will

[2021-02-15 05:49] PramodValavala-MSFT commented on #70509
@frankparth8 Thanks for the feedback! We are really sorry for the experience that you had. The document has since been updated to fix most of the concerns raised here.

@spelluru Thanks for quick update! 👍

[2021-02-15 05:51] amanmcse commented on #70084
The B2C service limits are documented here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/service-limits

[2021-02-15 05:51] #70084 closed

[2021-02-15 05:58] MayankBargali-MSFT commented on #70569
@aspnet4you Managed Identity is only supported for a custom topic or domain.
Only Azure services can publish events to [system topics](https://docs.microsoft.com/en-us/azure/event-grid/system-topics). Therefore, you cannot configure Azure Key Vault to send events to custom event grid topic

You can learn more about [event delivery with a managed identity](https://docs.microsoft.com/en-us/azure/eve

[2021-02-15 06:15] shanjin90 opened #70571 "Link to directory extension redirected to MS graph schema extension, which is not the same for AAD graph directory schema extension"
In here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-schema-extensions#registering-and-using-directory-schema-extensions
The second way to "Registering and using directory schema extensions" has link to MS graph schema extension overview. However it is not the right link. It should be the AAD graph directory extension link: https://docs.microsoft.com/en-us/prev

[2021-02-15 06:17] NavishkarSadheo opened #70572 "Assign licenses to Microsoft 365 Groups"
Dear MS

It would be great if we could assign licenses to a Microsoft 365 Group.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1a3b25-8cbd-29f9-d205-31d320f6d315
* Version Independent ID: 6711b6ba-154a-d078-d119-603d2c169453
* Content: [Assign licenses to a group - Azure Active Directory](https://docs.micr

[2021-02-15 06:18] RohitMungi-MSFT commented on #68170
@panitaxx Thanks for reporting this. Our team is reviewing these cases internally, I will post an update as soon as we have a fix rolled out.

[2021-02-15 06:37] aspnet4you commented on #70569
@MayankBargali-MSFT - Thanks for responding to my query. I think I understand what's available as of today which is to use - system topic. I plan to use Azure Function as endpoint (handler). There are multiple Key Vaults in a subscription and same Azure Function is designed to handle multiple event grid topic.

How do we protect the handler (azure function) from unauthorized access?

[2021-02-15 06:55] AnuragSharma-MSFT commented on #70418
@Pelagoutb yes the current operations include using the partition key as parameter which is mandatory.

This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-15 07:19] SergeMoreno commented on #69874
Thanks for the tip - I was not aware of this

@SergeMoreno just FYI when you use email reply, it can share your address. You want to clean up the last reply to remove that.

[2021-02-15 07:20] SergeMoreno commented on #70080
I would prefer to fix the software to make it possible. Thanks for considering this.

@SergeMoreno I think this feature isn't available, so we need to fix the doc. @nayenama please double-check and fix the doc as needed.

Thanks, Jason

[2021-02-15 07:30] VikasPullagura-MSFT commented on #70341
@Klaas- Apologies in delayed response on this.
Accelerated network support needs minimum 4 vCPU, you can try D4ds_v4.

However, this will be called out in the document. This Feedback has been shared to the document team to get the document updated.

[2021-02-15 07:31] VikasPullagura-MSFT commented on #70341
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-02-15 07:38] munir94 commented on #70493
Here is the result when i tried to create the alert

![image](https://user-images.githubusercontent.com/39366930/107917979-ce835d00-6fa3-11eb-8b1d-2a369eed4df9.png)