[2020-02-27 17:54] yyanev commented on #48655
You probably want this:

Match User alice

    UsePAM no

From: Maxime Labelle <notifications@github.com>
Sent: Thursday, February 27, 2020 12:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yancho Yanev <yyanev@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to setup SSH key only authentication and user / password authenticat

[2020-02-27 17:55] tfitzmac commented on #48492
@b-juche - thanks for this information. The article has been updated with those changes.

[2020-02-27 17:55] tfitzmac commented on #48492
#please-close

[2020-02-27 17:57] #48492 closed

[2020-02-27 17:59] KranthiPakala-MSFT commented on #49042
@cdeil Thanks for the feedback and bringing this to our notice. We have assigned this issue to content author to further review your feedback and update the document as appropriate.

@spelluru Could you please have a look at the feedback from the user? - Thanks!

[2020-02-27 17:59] rbrayb opened #49080 "Sentence is misleading"
"To build a trust relationship between your service provider and Azure AD B2C, you need to provide X509 certificates and their private keys."

The way this reads could be interpreted as the fact that the SP has to hand over private keys to the B2C provider.

See https://stackoverflow.com/q/60424527/9922.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-27 18:01] arielcedola opened #49081 "Azure Machine Learning compute instance: ImportError: cannot import name 'ContainerClient'"
I'm trying to get data from Azure Blobs into a Python notebook running on Azure Machine Learning compute instance. It is not possible to import ContainerClient class from azure.storage.blob.

from azure.storage.blob import ContainerClient, BlobClient

rises the error:

ImportError: cannot import name 'ContainerClient'

I'm using kernel Python 3.6 - Azure ML, but I got the same error with Python 3.

[2020-02-27 18:03] #48807 closed

[2020-02-27 18:05] dkamstra commented on #48952
We are in the process of deploying the fix for this issue. We expect it to take another 2-3 days to complete deployment in all regions. I apologize for the inconvenience.

[2020-02-27 18:07] kgremban commented on #47526
@grizzljt I've confirmed that this capability isn't supported right now in the Azure CLI extension. Since these docs are only about current features, not in progress features, I'm going to close this issue. You still have the linked issues in the CLI extensions repo to track this feature request, though.

Thanks

#please-close

[2020-02-27 18:07] #47526 closed

[2020-02-27 18:11] cijothomas commented on #48379
"Only Warning or higher ILogger logs (from all categories) are sent to Application Insights by default." - This is the behaviour in Application Insights. The doc makes this clear and also shows how to change the defaults.

What is missing here? Can you share what additional information here could make this better?

[2020-02-27 18:14] cijothomas commented on #48070
UseApplicationInsights is marked obsolete and will be removed in the next major version change in the SDK. The alternate is to use `AddApplicationInsightsTelemetry`.

This is also added in faq in asp.net core doc as well:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#some-visual-studio-templates-used-the-useapplicationinsights-extension-method-on-iwebhostbuilder-to-enable-a

[2020-02-27 18:15] tfitzmac commented on #49035
@archmangler - Thanks for this feedback. I tried your scenario and also saw a problem with getting the template before deployment. Your best option to address this issue is to file a bug in the portal.

However, you can still get the template after deployment. See the section called "Export template after deployment". I tested it and was able to get the template for my web app bot.

[2020-02-27 18:18] YutongTie-MSFT commented on #49053
@aribornstein
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-27 18:19] Steve-000 commented on #43139
We use just a single connection with 1 credential set so should be single tenant. When will the multi-tenant support planned to release?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sandip-Raiyani <notifications@github.com>
Sent: Thursday, February 27, 2020 5:29:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve Vande Maele <steve@itr

[2020-02-27 18:21] dlepow commented on #48737
@julie-ng - Thanks very much for pointing out the issue. I published the correction.
#please-close

[2020-02-27 18:22] #48737 closed

[2020-02-27 18:26] tamram commented on #48901
@eflamm - Thanks for pointing that out. I've updated that section to refer to AzCopy v10.

#please-close

[2020-02-27 18:26] #48901 closed

[2020-02-27 18:28] tamram commented on #48384
@tgskiman - Thanks for providing the clarification. I've updated the sample code to explicitly set the variable to null.

#please-close

[2020-02-27 18:28] #48384 closed

[2020-02-27 18:28] neilamoran opened #49082 "IP restrictions on AAG don't work as advertised"
I have a web app sat behind an App Gateway instance with a public IP. Web app has IP restriction applied such that only the public IP of the App Gateway can reach it - this works as expected, in that external sources can only reach the service via the custom DNS domain pointing to the App Gateway.

However, despite applying IP restrictions as advised above to the NSG for the App Gateway subnet, to

[2020-02-27 18:30] rolyon commented on #48776
Hi @andrePKI
Azure Active Directory has its own set of roles and permissions:
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles
If you are assigning roles to manage access to Azure resources, you would use Azure built-in roles. Here's the list of the roles for Azure resources:
https://docs.microsoft.com/en-us/azure/role-based-access-control/bui

[2020-02-27 18:35] rolyon commented on #48649
Hi @aminerahmouni
I'll update other role once I hear back from the team.
thanks

[2020-02-27 18:36] rolyon commented on #48649
#please-close

[2020-02-27 18:36] #48649 closed

[2020-02-27 18:37] TravisCragg-MSFT commented on #49049
@mslot As is outlined in [This Doc about How Azure Traffic Manager Works](https://docs.microsoft.com/da-dk/azure/traffic-manager/traffic-manager-how-it-works), Azure Traffic Manager works at the DNS level, which is part of layer 7.

T[he differences between all of Azure's Load Balancing offerings can be found here](https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/load-b

[2020-02-27 18:46] jbrody831 opened #49085 "OData query string format"
The OData source I work with will not support a '?' character in a URL string that is attempting to retrieve a count.

For example:

'https://www.test.com/odata/Datamart/Product/$count' will work
'https://www.test.com/odata/Datamart/Product?$count' will not work

It appears that the way ADF constructs the URL string there is no way to replace the '?' with a '/'?  I've tried multiple permutations o

[2020-02-27 18:50] Ayanmullick commented on #46825
Also, `Set-AzureRmVMBootDiagnostics` can't point to a storage account in a different subscription for boot diagnostics. Microsoft should provide the appendix of all things one can configure thru the config file; not just a sample.

[2020-02-27 18:53] kcovert opened #49087 "Unknown noun"
What is "account identifier"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52202b2d-ea11-b694-343a-6f6af9ee9bbd
* Version Independent ID: 31f2a698-edd3-bea3-d930-986ecdbafba5
* Content: [Quickstart: Create a HoloLens app with DirectX - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial-anchors/quic

[2020-02-27 18:56] craigktreasure commented on #49087
It's the Azure Spatial Anchors Account ID, which is identified in the docs when you [create a Spatial Anchors resource](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-hololens#create-a-spatial-anchors-resource). See here for a [screenshot](https://docs.microsoft.com/en-us/azure/includes/media/spatial-anchors-get-started-create-resource/view-resource-properties.png)

[2020-02-27 19:00] SaurabhSharma-MSFT commented on #49077
@hugobarona Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 19:03] simonzhai97 opened #49090 "AAD B2C single logout for local accounts"
According to this post
https://github.com/MicrosoftDocs/azure-docs/issues/34577
"if you are using local accounts from within your Azure AD B2C directory , you would be able to do a complete sign-out", but how can I implement this?
I have 2 websites in the same tenant, SSO is working fine but SLO is not. Used,
HttpContext.Current.GetOwinContext().Authentication.SignOut();
and
Response.Redirect("htt

[2020-02-27 19:03] tyler555g opened #49091 "No Data Type Mapping Documentation for Informix"
According to the copy activity docs, the data type mapping should be on each connector.
"You can find the mapping between native type to interim type in the "Data type mapping" section in each connector topic."
https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-schema-and-type-mapping

It is no where to be found for Informix. I am attempting to copy blob column and am getting an err

[2020-02-27 19:11] aywolman opened #49092 "ML test"
ML test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 134791cd-db3b-b729-607e-22be8dcddf9a
* Version Independent ID: bed88b29-334f-6a9a-912f-1487da4afa14
* Content: [Architecture & key concepts - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/concept-azure-machine-learning-architecture

[2020-02-27 19:19] SaurabhSharma-MSFT commented on #49069
@chrisoc5 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 19:20] chryw commented on #48658
Hello I have a similar issue. I'm trying to login with Azure AD instead of a local admin but I don't know how to do that.
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#unauthorized-client

I have the extension installed. Also chose Azure AD login when I created the VM. I've also created role assignment. Here's my status:

[code]

[2020-02-27 19:20] SaurabhSharma-MSFT commented on #49080
@rbrayb Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 19:21] SaurabhSharma-MSFT commented on #49071
@wimdeblauwe Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 19:21] mocleiri opened #49093 "Add examples of logging to console and application insights (similiar to spring boot app example)"
The 'Spring Boot app' page which is lateral to this page has a better/usable log4j2 configuration file which shows how to log to the console and to application insights at the same time.

Can you get similar examples for the logging configuration given on this page?

Maybe a link to that page to call out you can also configure in sprint boot which would lead the reader to that configuration exampl

[2020-02-27 19:22] SaurabhSharma-MSFT commented on #49059
@opatey Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 19:22] SaurabhSharma-MSFT commented on #49054
@garybushey Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 19:23] iainfoulds commented on #46547
Sorry you ran into issues, @jvplopper. I can't replicate this behavior in my test environment, the cmdlet returns information as to the status of password protection from the specified DC. Our engineering team has created a backlog work item to review, and updated PowerShell cmdlets will be provided as required. There's no ETA on that engineering work and future updates.

As the TechNet Gallery sc

[2020-02-27 19:23] #46547 closed

[2020-02-27 19:27] phroiland commented on #35411
I hate all of you! You're doing it again!

[2020-02-27 19:29] phroiland commented on #35411
There isn't even a colon!

[2020-02-27 19:36] BharathNimmala-MSFT commented on #49067
@mrtomnguyen Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-27 19:37] BharathNimmala-MSFT commented on #49081
@arielcedola Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-27 19:38] Mike-Ubezzi-MSFT commented on #48999
@thnk2wn I am going to route this issue to the content team as a doc-enhancement but perhaps not specifically for the document this issue was created under, as there appears to be a need for greater clarity of the tools. @kgremban & @czgtest for awareness.

[2020-02-27 19:40] BharathNimmala-MSFT commented on #49090
@simonzhai97 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-27 19:40] SnehaGunda commented on #49060
@vanthoainguyen Here are more details and examples for managing indexing in MongoDB  https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing

[2020-02-27 19:41] vanthoainguyen commented on #49060
The document says that a all field inclusion index is created by default. Is that true as my index size is 1/5 of data size. I simply have one default index on _id field which is required by MongoDB.

[2020-02-27 19:42] Mike-Ubezzi-MSFT commented on #49092
@aywolman The test worked. #please-close

[2020-02-27 19:42] #49092 closed

[2020-02-27 19:43] Mike-Ubezzi-MSFT commented on #49092
There is even PRMerger integration. ;)

[2020-02-27 19:43] plangone22 opened #49094 "New roles need to be added"
This document hasn't been updated in almost a year, and there are several new roles that I think should be added. This is a great way to find the least-priv role without going into the admin center, which requires a priv role, so it would be great if it was more up to date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-27 19:43] jrudley commented on #22018
This was closed, but the documentation was never updated...

[2020-02-27 19:47] mike-urnun-msft commented on #49074
@kilagg Thank you for your feedback. Do you have the [storage emulator](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) installed locally?

[2020-02-27 19:47] thnk2wn commented on #48999
Thanks, sounds good

[2020-02-27 19:48] Diamondust25 opened #49095 "User Reports Odd SMS Short Code"
I have reviewed the SMS Short Codes above and one of my users reported receiving a text message for MFA Login from a different number. Also are we able to change that number like we can the phone call to make it appear from our organization?
The short code reported was 732-873. We are in the United States. Should we be concerned about this number sending the text message to the user?

---
#### Doc

[2020-02-27 19:50] xyh1 commented on #48654
Hi @Jayesh040

A sample script is included in the documentation:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-rehydration?tabs=azure-powershell

You can just change the parameters in the last command to be:

`#Change the blob’s access tier to Hot using Standard priority rehydrate
$blob.ICloudBlob.SetStandardBlobTier("Cool", “High”)`

[2020-02-27 19:54] fgheysels commented on #48467
We're currently in a test phase where we have edge gateways that still use the 'built in' certificates that are installed when installing iotedge.  For some of those gateways, the certificate has expired and the gateway is no longer connecting to IoT Hub.
The idea would be that we -when going to production- use custom certificates.  However, when using our own certificates, the problem that w're f

[2020-02-27 20:04] Nickomang commented on #47084
Hi @eugen-nw, thanks for your feedback. When I tried to reproduce the error I found it was not necessary for me to modify the access policy after creating the Key Vault, and I was able to run the following Import-AzKeyVaultCertificate command just fine. After confirming in the portal that I had the required permissions by default I wonder if different subscriptions may have different default permi

[2020-02-27 20:06] alfpark commented on #46163
This was fixed in #49075. Please close this issue @Karishma-Tiwari-MSFT.

[2020-02-27 20:06] kgremban commented on #48999
@thnk2wn I'd be happy to include more information to help people make their dev environment decisions. The tutorial that you created this issue on has a similar table as the one that czgtest shared, in terms of Linux module development differences between Visual Studio and Visual Studio Code:

![image](https://user-images.githubusercontent.com/13578436/75482311-6b935300-5959-11ea-8ff2-6c08132ddf46

[2020-02-27 20:07] msmimart commented on #40603
Thanks so much for the feedback. We're addressing suggestions 1-3 with updates that will publish shortly. We're tracking an internal work item to address suggestion #4 in a future revision.

[2020-02-27 20:16] birojitn commented on #49038
Three link has different content. This creates lots of Confusion.
Feb18th
https://azure.microsoft.com/en-us/updates/private-link-now-available-in-ga/
Feb 19th
https://azure.microsoft.com/en-us/updates/azure-private-link-is-now-available/

Different content different date.
https://azure.microsoft.com/en-us/updates/?query=Private%20link

At last above Article last updated
09th Jan. Availability sect

[2020-02-27 20:17] shreyasharmamsft commented on #48263
Hey @mohibakhan, thanks for your question!

We use a method where we count epoch ticks (the number of milliseconds that have elapsed since Jan 1, 0001) and divide the ticks into the selected interval spans. We internally adjust the search span to align with the calculated interval timestamps. This calculation is what is causing there to be either 1 or 2 buckets in your result.

I hope that clears

[2020-02-27 20:18] TravisCragg-MSFT commented on #49072
@jotavar Thanks for the feedback! I have fixed the spelling error, and the doc should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-27 20:18] #49072 closed

[2020-02-27 20:20] SaurabhSharma-MSFT commented on #48958
@jseerden We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-27 20:20] #48958 closed

[2020-02-27 20:20] thejrack commented on #28842
So had the same issue on day0 so looks like the merge was not completed to direct users to "GitHub.com" specifically

[2020-02-27 20:21] TravisCragg-MSFT commented on #49073
@jotavar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-27 20:24] thejrack opened #49099 "Need to adjust the default Reply URL"
In GitHub's Security tab you will be given the assertion consumer URL below the Digest choice.  That needs to be changed from the default in the Enterprise App config in AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c0

[2020-02-27 20:27] NavtejSaini-MSFT commented on #48938
@srdan-bozovic-msft Please look into above question and respond.

[2020-02-27 20:28] thnk2wn commented on #48999
@kgremban Thanks. Bullet points below. I'm good with closing this issue, especially if it might be addressed in another topic.

- The table in the doc misses some differences like VS code supporting remote debugging and VS not.

- Doc mentions VS Code being recommended but doesn't really say why.

- Docs don't seem to indicate structural differences in apps created by the tools and the implication

[2020-02-27 20:37] garyboutet opened #49100 "ListBlobs() method does NOT exist"
The latest version (9.3.3) of Microsoft.WindowsAzure.Storage does NOT contain a method called CloudBlobContainer.ListBlobs().  This code does NOT work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b531d61d-43fc-4535-725e-5aa68b849466
* Version Independent ID: e36529d3-e600-46ec-dbcf-dbf62bd2f750
* Content: [Copy a bl

[2020-02-27 20:45] SaurabhSharma-MSFT commented on #48740
@motim6026 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-27 20:45] #48740 closed

[2020-02-27 20:45] YutongTie-MSFT commented on #48868
@likebupt Hi Blanca, do you have any ETA or work item you can share to us? Thanks.

[2020-02-27 20:52] #41233 closed

[2020-02-27 20:55] robertlagrant opened #49101 "Visual Studio Professional"
A bit annoying that this is the edition you can't get a prebaked copy of! I'd love to Terraform up a VSPro VM and inject a licence key, ready to go.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb992634-7ced-e225-f090-8f6c1c78d589
* Version Independent ID: 8adca596-4bd5-5435-3df8-371c1676e27a
* Content: [Using Visual

[2020-02-27 20:57] craigshoemaker commented on #48451
I added a link to the sample that @PramodValavala-MSFT suggested in the warning box to make it more clear for others that want to do the same.

[2020-02-27 21:01] yoelhor commented on #49071
ROPC sign-in fits for local account only, not with a federated identity provider.

[2020-02-27 21:10] BharathNimmala-MSFT commented on #48830
@tfitzmac Can you please review the feedback shared by @joshkyh and see if we can enhance the documentation accordingly.

[2020-02-27 21:15] coryty87 commented on #48696
If you do the follow with a txt file in the same dir as the UnifiedAgentConfigurator.exe it will work:
UnifiedAgentConfigurator.exe /CSEndPoint X.X.X.X /PassphraseFilePath key.txt

[2020-02-27 21:15] lifeasandythompson commented on #42760
@geoano I too am having this problem. I have "Selected Networks" chosen and have the subnet containing the Private Endpoint added to the list. I see that I can add my public IP to the whitelist of the firewall but that would only allow traffic coming from my IP over the Internet which is not what I'm trying to accomplish. How should the firewall on the storage account be configured to allow traffi

[2020-02-27 21:18] RGoodmanAxioma commented on #48581
Thanks for the information. I created a 16GB VHD using VirtualBox on my PC. Is this not an accepted way to create the disk for this? Unfortunately, I don't have any other tools to create a VHD, so I'm not sure how to see if VirtualBox is the problem or what is causing it not to work.

[2020-02-27 21:20] YutongTie-MSFT commented on #48779
@Shelabd Hi Sherif, have you set "eula=accept"?
In docker run:
docker run -it -p 3000:80 mcr.microsoft.com/azure-cognitive-services/custom-form/labeltool eula=accept

[2020-02-27 21:24] IEvangelist commented on #49011
Could you please try using `westus2` instead of `west2`?

[2020-02-27 21:26] BharathNimmala-MSFT commented on #49020
@trhodes9 Could you please help confirm if the new connection assets was created in Azure Automation ?  [this ](https://docs.microsoft.com/en-us/azure/automation/automation-connections#creating-a-new-connection
) document has additional details around it.

The error you have shared in the thread , can you please help confirm if you are seeing that error while running specific instructions in the [

[2020-02-27 21:30] Shelabd commented on #48779
Yes,

But my issue is not with running it on docker. My issue is deploying the tool on a Kubernetes cluster. There’s no way to set the EULA to accept. The manifest file has the image location and the General ingress settings. All attempts at setting EULA as an environment variable have failed and returned back a failed loop pod.

Sherif El Abd
Industry Software Engineer
CSE - Govt. Health & Educat

[2020-02-27 21:43] DCtheGeek commented on #49052
@squ94wk I've checked from a few devices to make sure I didn't have something cached and they each still show both pages with the single `2018-11-01-preview` version.  If you continue to see this, please post a screenshot. For now, I'm going to close this issue.  Thanks again for asking the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-02-27 21:43] #49052 closed

[2020-02-27 21:46] kmoore-riphaina commented on #49011
I am using       private const string Region = "westus2";

From: David Pine <notifications@github.com>
Sent: Thursday, February 27, 2020 1:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kristofer Moore <kmoore@riphaina.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] code sample doesn't work (#49011)

Could you please try using westus2 inst

[2020-02-27 21:50] ealsur commented on #45838
@tdyocum This github issue is not about the sample you are downloading from the Azure Portal

@sy-huss regarding your points:

1. NET Core is an implementation of NET Standard, see https://docs.microsoft.com/en-us/dotnet/standard/net-standard. This article does not mention NET Standard, it works with NET Core. The Microsoft.Azure.Cosmos library is a library built for NET Standard, which means, it

[2020-02-27 21:52] #48584 closed

[2020-02-27 21:52] gbrock-intraprisehealth commented on #48385
During the silent token refresh, the B2C also calls out to the third-party AAD authorize endpoint (https://login.microsoftonline.com/third-partyAADtenentID/oauth2/authorize?client_id=xxxxxxxxx.

I'm not sure this is the expected behavior.  It seems to me the B2C should evaluate only the current B2C session to determine whether to refresh the token. Could it be the B2C needs claims from the AAD to

[2020-02-27 21:53] danielkon96 opened #49103 "GitHub Link Broken"
GitHub link is broken for Example C# code to Sentiment Analysis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6c6d2d-b1f8-86ed-4383-b3b4606d8046
* Version Independent ID: b58189d7-aaec-3487-a1c0-452726f940b3
* Content: [Perform sentiment analysis with Text Analytics REST API - Azure Cognitive Services](https://docs

[2020-02-27 21:56] zr-msft commented on #49076
@dahovey thank you for the feedback. Routing and the *azds-route-as* header are documented here:

https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#how-routing-works

Does this cover what you were looking for?

[2020-02-27 22:00] #48778 closed

[2020-02-27 22:00] #48746 closed

[2020-02-27 22:09] rjmccallumbigl commented on #48274
@dcvtruong update the tf file so it looks like this (notice I added features {} to the provider section):

provider "azurerm" {
features {}
}
resource "azurerm_resource_group" "rg" {
name = "testSandboxResourceGroup"
location = "westeu"
}

Source: https://stackoverflow.com/questions/60384689/terraform-azurerm-2-x-error-features-required-field-is-not-set

[2020-02-27 22:13] taromielnaz commented on #48274
It seems my initial question has been lost here.

[2020-02-27 22:18] dkdubey commented on #33499
@tosmolka You are superb. This has worked for me. Thanks a lot.

[2020-02-27 22:20] mhopkins-msft commented on #49100
Hi @garyboutet

This article demonstrates Microsoft.Azure.Storage.Blob v11. Note the different namespace. Looking at the article I realize that this is not specified anywhere. I apologize for that.

Here is a link to the API used in the example: https://docs.microsoft.com/dotnet/api/microsoft.azure.storage.blob.cloudblobcontainer.listblobs?view=azure-dotnet-legacy

We're currently in the process o

[2020-02-27 22:25] Absoblogginlutely commented on #47350
I got the same error when attempting to create a secret - the access policy is not set.
my cloud powershell is version 7, local powershell is 5.1
![Screenshot - 20200227-172009](https://user-images.githubusercontent.com/21364480/75492524-f5f1ac00-5985-11ea-87f5-7a8dd1f6fe5d.png)

set-azkeyvaultsecret : Operation returned an invalid status code 'Forbidden'
At line:1 char:1
+ set-azkeyvaultsecret -v

[2020-02-27 22:25] Karishma-Tiwari-MSFT commented on #46676
Any update?

[2020-02-27 22:27] mcruz206 opened #49104 "Database Migration Assistant doesn't support Managed Instance as a destination - Is this statement still true?"
in the second paragraph of the section titled "Assess Managed Instance Compatibility" (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-migrate#assess-managed-instance-compatibility), the second paragraph states that DMA doesn't support Managed Instance as a destination, however the DMA page here (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-man

[2020-02-27 22:36] #46163 closed

[2020-02-27 22:43] Mitaric commented on #30578
Interesting results when deploying NSG Flow Logs via ARM.  Currently experiencing 2 issues.

1. Even with the version set to '2', it always deploys as Version 1 of the NSG Flow Logs.

"format": {
                    "type": "JSON",
                    "version": 2
                },

2. When trying to configure NSG Flow Logs in a single template for NSG in multiple regions, the deployment only suc

[2020-02-27 22:45] MarileeTurscak-MSFT commented on #49099
@thejrack
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 22:45] MarileeTurscak-MSFT commented on #49094
@plangone22
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-27 22:47] mslot opened #49105 "Restore of database"
In this doc you say "If you delete an Azure SQL Database server or managed instance, all its databases are also deleted, and can't be recovered. You can't restore a deleted server or managed instance.", but isn't it possible to restore a database even though if you have deleted the server, if you have configured the database with a LTR policy? Or am I mistaken?

---
#### Document Details

⚠ *Do no

[2020-02-27 22:48] #49071 closed

[2020-02-27 22:51] navyasric commented on #46317
This documentation was recently fixed in this commit: https://github.com/MicrosoftDocs/azure-docs/commit/bdfd0c84fa429b0618a670756503511dca2be6bc#diff-2baadcd1b824d392aea1aae8e3817446

I think we can close this issue now.

[2020-02-27 22:51] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 Please check your [admin center](https://admin.microsoft.com/AdminPortal/Home#/SettingsMultiPivot) under Settings > Settings, then search for "**Modern Authentication**" on **Services** tab to check if modern authentication is enabled for you O365 subscription or your O365 uses legacy authentication.
![image](https://user-images.githubusercontent.com/38112130/75494220-95a43f80-597

[2020-02-27 22:52] mslot commented on #48379
It is me that reads wrong. I actually thought that if you configured the default log level to Information, then the Application Insights would default to that. Fx:

[code]
But I have misunderstood the above. It doesn't default to this, and you have to explicitly tell the provider to log at this level, else it defaults to Warning.

[2020-02-27 22:53] jmprieur commented on #46317
#please-close
cc: @navyasric

[2020-02-27 22:53] #46317 closed

[2020-02-27 22:55] lisaguthrie commented on #49003
You just need to pass an options object to the `AddAzureAppConfiguration` call. Something like this:

[code]

Of course, making sure you're passing in appropriate credentials to the `SetCredential` call.

As for the practical reasons for using Key Vault references in App Config over contacting Key Vault directly: Key Vault references allow you to retrieve both secrets and non-secrets through a sin

[2020-02-27 22:56] mslot commented on #49049
I actually think an update to the doc on the line of

would do the trick. It is details, i know, but all the other docs explicitly mentions the layer, but not this. It is very explicit that the DNS is at level 7. Not all know this.

[2020-02-27 22:57] ggailey777 commented on #13942
@drekuru and @atomek1000 this is still on our list, but frankly the priority for this isn’t high.
@craigshoemaker might you have any spare cycles to help with this JS equivalency request?

[2020-02-27 22:58] Jont-K opened #49108 "How to add custom terms in private offers when Microsoft Standard Contract is NOT used"
This page says you can provide custom terms to customers through private offer, but it's not clear how to do this if the publisher is NOT using the Microsoft standard contract.  The "custom amendment" field only appears when publisher is using the standard contract.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d783

[2020-02-27 23:02] mmacy commented on #43774
Thanks @JasSuri.

@WJayesh, I'll now close this issue as it seems your questions have been answered. If you feel it's been closed prematurely, however, please don't hesitate to comment on this issue to let us know.

#please-close

[2020-02-27 23:02] #43774 closed

[2020-02-27 23:03] TravisCragg-MSFT commented on #49049
@mslot Thanks for the suggestion. I have moved this feedback to the "How Azure Traffic Manager Works" doc, and assigned the issue to the doc author to evaluate and update as appropriate.

[2020-02-27 23:16] SnehaGunda commented on #45838
The updates made the above two PRs will be live tomorrow. We will now close this issue if there are no further questions.

[2020-02-27 23:18] dhirajgandhi commented on #45769
I have added the section to the document for this. https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/mpa-request-ownership#access-to-azure-services

[2020-02-27 23:19] mmacy commented on #47270
@dotnetgator Because Facebook is still one of the highest-usage social IdPs, we're going to leave this as-is for now. I'll add a short note stating it's not _required_ to use custom policies, however.

[2020-02-27 23:25] jtuliani opened #49109 "Peering instructions are out of date"
Portal has changed - both peerings are now set up at once

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea87406-981b-8188-7d3f-ef68eb2ba367
* Version Independent ID: 08dd0694-7a64-e24a-5338-9de873f4bda2
* Content: [Filter inbound Internet traffic with Azure Firewall DNAT using the portal](https://docs.microsoft.com/e

[2020-02-27 23:39] Bartolomeus-649 commented on #48712
in which way does this address my question?

[2020-02-27 23:44] AlbertoMonteiro commented on #22177
@JulioCGC this package may help you https://github.com/rswiftoffice/azure-notificationhubs-flutter

[2020-02-27 23:44] lucidqdreams commented on #47865
@ericgoode so your expectation is the same that you should be able to map any old container to some random pathname after the URL?

[2020-02-27 23:47] lucidqdreams commented on #47865
@Adam-Smith-MSFT  there is also this github issue that was closed with more details in it, the result of this I believe was a misunderstanding of how app gw is controlled by a k8s container service, however it was the working content to get to this issue.
 https://github.com/MicrosoftDocs/azure-docs/issues?utf8=%E2%9C%93&q=%226b52d0c4-03e3-358c-0828-e1afcc676708%22&in=body

[2020-02-27 23:50] #47270 closed

[2020-02-27 23:56] mmacy commented on #48802
Hi @alex-mason-jdas, I'm going to close this one out as it seems @yoelhor has answered your question. If you feel it's been closed prematurely, please comment in this issue to let us know. Thanks!

#please-close

[2020-02-27 23:56] #48802 closed

[2020-02-27 23:57] SaurabhSharma-MSFT commented on #49077
@hugobarona yes, however, with GET operation is applicable for any secret stored in the key vault.  So, as long as the application does not know any other secret key names, it won't be able to access the secret.

[2020-02-27 23:58] mmacy commented on #48676
Hi @allan-mobley-jr, closing this one out as it seems @yoelhor has answered your questions. If you feel it's been closed prematurely, please leave a comment here in the issue to let us know. Thanks!

#please-close

[2020-02-27 23:58] #48676 closed

[2020-02-27 23:59] scottgorlick opened #49110 "sensitive parameters should be type: "securestring""
with respect to the example "Securing an External Template" (https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates#securing-an-external-template) the parameter:
"containerSasToken": { "type": "string" }

it should be created as:
  "containerSasToken": { "type": "securestring" }
so that it will not be logged in default deployment logs.  having it marked as string

[2020-02-27 23:59] mmacy commented on #48652
Reassigning to @WhippsP for follow-up. Phil, can you update this issue when/if this source code will be released. If it's not to be released, can you also note that here, as well, and close out the issue? Thanks!

#reassign:WhippsP

[2020-02-28 00:04] mhopkins-msft commented on #44973
@Reisclef thank you for the feedback. I've updated the code to use the overload you recommended.

Thanks!
 ~ _Mark_

#please-close

[2020-02-28 00:04] #44973 closed

[2020-02-28 00:14] b-juche commented on #47581
@Aitor1972 please reach out again if you have further questions.  I'm closing this ticket for now.

#please-close

[2020-02-28 00:14] #47581 closed

[2020-02-28 00:20] JimacoMS3 commented on #44858
@dcbrown16 Thanks again for your help here. I added portal and Azure CLI commands to the topic: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d#cloud-to-device-configuration-options. We decided not to document PowerShell as that requires extra steps and the CLI is a better option here. I'm going to close this issue. If you don't think your feedback has been adequately

[2020-02-28 00:20] JimacoMS3 commented on #44858
#please-close

[2020-02-28 00:20] #44858 closed

[2020-02-28 00:22] clausjor commented on #35301
Hi

Premium performance **block blob** storage requires use of a BlockBlobStorage account. You can create one following these [instructions](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-create-account-block-blob?tabs=azure-portal).

What you are describing is premium performance **page blob** storage, which is available with General Purpose v2 storage account with premium perf

[2020-02-28 00:24] SnehaGunda commented on #45838
#please-close

[2020-02-28 00:24] #45838 closed

[2020-02-28 00:29] dcbrown16 commented on #44858
Thanks @JimacoMS3!

[2020-02-28 00:34] msmimart commented on #44482
Hi @cloudnovum, thanks for your feedback. We don't currently support direct fed with more than one domain from the same tenant; we're adding a note to clarify this.

[2020-02-28 00:44] olivoarroba opened #49112 "More examples"
For a documentation page that it is explaining a new feature being introduced, this page is lacking way more examples. The page currently has one example per category and this is not nearly enough to understand the capabilities of these new functionalities.
I've setup a new environment with a TSI preview to play around with the instances, hierarchies, types and I can't figure out the extent of wha

[2020-02-28 00:47] femsulu commented on #48153
Hi @CharmanderJieniJieni, the xpath queries defined inside the Windows event log element/sample you shared (above) gives you the flexibility to target a subset or all windows events you are interested in. There's really not a basic option however it is up to you to determine which events are needed based on your business needs. If you are looking to collect all events then you can use "*"   - refe

[2020-02-28 00:47] #48153 closed

[2020-02-28 00:48] lisaguthrie commented on #49006
Hi @mshinnie - you'll need to pass a label filter to the `Select` method of your `AzureAppConfigurationOptions` object when connecting to App Config. See https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationoptions.select for documentation.

Regarding best practices, it depends on what you are using labels for, but in most scenar

[2020-02-28 00:48] vanthoainguyen opened #49113 "Question about Partition Strategy using id as partition key"
_Hi, my question is related to https://github.com/MicrosoftDocs/azure-docs/issues/46354
I added a comment there but the ticket is closed hence I create this ticket for tracking._

**Client** : .NET core app with MongoDBDriver 2.8.1
**Server**: Cosmos MongoDB with Wire protocol 3.4

I have a large collection name `orders` and choose the unique orderId as index and partition key. Obviously there is

[2020-02-28 00:53] femsulu commented on #48473
assigning to content author, @rayne-wiselman to see if we can expand on the comfort factor section with more descriptive usage example.

[2020-02-28 00:56] sharmapriya2201 opened #49114 "Cross subscription restore"
Can we connect to another subscription and restore database there?
Like this:
Connect-AzAccount
Set-AzContext -SubscriptionId $SubscriptionId1 -- source subscription

$backup = Get-AzSqlInstanceDatabaseGeoBackup `
-ResourceGroupName $SourceResourceGroupName `
-InstanceName $SourceInstanceName `
-Name $SourceDatabaseName

Connect-AzAccount
Set-AzContext -SubscriptionId $SubscriptionId2 --target sub

[2020-02-28 00:59] mhopkins-msft commented on #35301
#please-close

[2020-02-28 00:59] #35301 closed

[2020-02-28 01:00] MonikaReddy-MSFT commented on #49093
@mocleiri , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-28 01:01] MarileeTurscak-MSFT commented on #49095
@Diamondust25
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-28 01:01] irrogozh commented on #48574
It looks like a bug in UI. I checked deploying flowLog V2 through template. it works fine. We do create flowLog V2. But somehow in portal it is reflected as flowLog V1. Please try to run GET flowlog call in armclient or some other tool and verify that flowLog is actually flowLog V2

[2020-02-28 01:05] MashaMSFT commented on #48800
Hi @sonalinoolkar , thank you for the additional information!

From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a

[2020-02-28 01:07] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 I am sorry if I was not clear, if the "Enable Modern Authentication" is un-checked on the next page it means that basic authentication or legacy authentication is being used for your O365 subscription.
![image](https://user-images.githubusercontent.com/38112130/75500769-c7be9d00-5982-11ea-8e1f-262f1c6059a3.png)
Are you looking for the same ?

[2020-02-28 01:10] MonikaReddy-MSFT commented on #48062
@breyed - Thank you for the feedback. I see that you have raised a PR against the doc, We will work on getting the doc approved and merge the changes.

[2020-02-28 01:10] shishirx34 commented on #45793
@mike-urnun-msft Is there an update on this issue?

[2020-02-28 01:17] sundu1992 opened #49116 "Service Tag for Azure Integration Runtime ?"
Is there a Service Tag available ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP addresses - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/azure-integra

[2020-02-28 01:19] femsulu commented on #48473
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-28 01:19] #48473 closed

[2020-02-28 01:33] digimaun commented on #47526
We've released a new version of the IoT extension that covers this capability. Please [go here](https://github.com/Azure/azure-iot-cli-extension/issues/131#issuecomment-592266064) for more info.

[2020-02-28 01:35] BharathNimmala-MSFT commented on #49078
@Chonwing Thank you for reaching out to us. Please refer to [this ](https://azure.microsoft.com/en-in/solutions/architecture/image-classification-with-convolutional-neural-networks/) documentation and see it fits your scenario.

Please note that we scope issues on this repo to feedback related to the Azure documentation. If you have a product question, please post it on MSDN or Stack Overflow. Tha

[2020-02-28 01:39] BharathNimmala-MSFT commented on #49087
@craigktreasure Thank you for helping on this thread.

@kcovert Thanks for reaching out and hope the above information shared by @craigktreasure helps answer your query. Feel free to revert back if you have follow up queries.

[2020-02-28 01:45] DeanCefola opened #49117 "please add FSLogix with Active Directory Auth"
I know it is a new feature but I would suggest adding a section for Azure Files integration with Active Directory Authentication
you can link to this doc to help people set it up as there are some differences from AzureAD DS
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#assign-access-permissions-to-an-identity

---
#### Document Details

⚠

[2020-02-28 01:46] kcovert commented on #49087
Thank you very much.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BharathNimmala-MSFT <notifications@github.com>
Sent: Thursday, February 27, 2020 8:39:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: kcovert <kcovert1@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mic

[2020-02-28 01:46] BharathNimmala-MSFT commented on #48949
@piyumi25 Since we have not heard back from you we will now proceed to close this thread. However if there are any further questions regarding this matter, please feel free to tag us in your reply. We will gladly reopen the issue and continue the discussion. Thank you.

[2020-02-28 01:46] #48949 closed

[2020-02-28 01:47] lisaguthrie commented on #48650
Thanks for the feedback, @Fulgan. I'm not sure I understand your first and third points? Assuming that team members are working on different dev machines, they can create separate configuration stores and use the different configuration strings from their version of the app. Can you explain where you're running into trouble?

Regarding the second point, yes, as @SamaraSoucy-MSFT points out, quicks

[2020-02-28 01:49] #49087 closed

[2020-02-28 01:53] SnehaGunda commented on #49056
@ishepherd In addition to what Mark said above, yes when you check the the "Accept connections from within Azure datacenters" option, the IP address "0.0.0.0" is added internally.

I will make some updates to the doc to clarify.

[2020-02-28 01:55] BharathNimmala-MSFT commented on #48966
@fromario007 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-28 01:55] #48966 closed

[2020-02-28 01:59] BharathNimmala-MSFT commented on #49113
@vanthoainguyen Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 02:01] Bartolomeus-649 commented on #48712
And how does that answer whether there are any users using apps that use legacy authentication?
![image](https://user-images.githubusercontent.com/7513795/75503671-94a5f900-59d6-11ea-912f-2f0ad5d30978.png)

[2020-02-28 02:06] SnehaGunda commented on #49056
We will now close this issue.

#please-close

[2020-02-28 02:06] #49056 closed

[2020-02-28 02:13] Mike-Ubezzi-MSFT commented on #49114
@sharmapriya2201 Is this for Azure SQL Database or Azure SQL Data Warehouse (Synapse Analytics)? There is a method to accomplish this via the Azure Portal. Please see: [Cross subscription restore](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/backup-and-restore#cross-subscription-restore) This applies to Azure SQL Database and Synapse Analytics.

[2020-02-28 02:17] rosdi commented on #30464
Hi, I know this issue is closed and I know some of the claims are restricted. But what is the workaround for this? The issue is closed without explaining the solution for this. Is there any other way we can add these claims? We have a few legacy apps that need these claims.

[2020-02-28 02:18] BharathNimmala-MSFT commented on #49085
@jbrody831 Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-02-28 02:23] BharathNimmala-MSFT commented on #48991
@kevinrosal Thank you for circling back ,  please note that we scope issues on this repo to feedback related to the Azure documentation. If you have a product question, please post it on MSDN/Stack Overflow or please open a [Support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) as suggested by @DCtheGeek earlier . Thank you for your understanding.

[2020-02-28 02:25] FrankHu-MSFT commented on #49001
@iricigor the idea is that the managed identity represents the Virtual Machine.

Not the user, so anyone that can deploy an application to the vm has access to the certificate + the service principal and thus then they'll be able to get an access token.

If you're interested in adding some sort of delegated flow for permissions please submit that feedback here : https://feedback.azure.com/forums/1

[2020-02-28 02:25] FrankHu-MSFT commented on #49001
Please let us know if you have anymore questions in regards to this if not I will be closing this out by end of day tomororw.

[2020-02-28 02:28] jakaruna-MSFT commented on #48851
@amirgra
I will close this out for now. If you need additional help please open a new issue

[2020-02-28 02:28] #48851 closed

[2020-02-28 02:35] igorjnz opened #49119 "Health probes for backend pools"
Is there documentation on how we can configure different health probe paths for each backend pool? Ie. One being /health and another /version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35a0b39-ab2f-ba8a-0907-e0f3a6b69135
* Version Independent ID: 0e6c8267-a911-9c6b-0522-3ec96753b3ef
* Content: [Azure Front Door S

[2020-02-28 02:36] spelluru commented on #45793
@banisadr - please review as soon as you can. Thanks.

[2020-02-28 02:39] sharmapriya2201 opened #49120 "Soft Delete can be enabled using Azure Portal"
This document is saying that soft delete can't be enabled using azure portal. Its wrong statement, it can be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7600c6cf-0b4d-1ffa-c1bb-ebf23adafc1f
* Version Independent ID: 1ae4f15b-b978-882e-c5f4-d23522a53bb4
* Content: [Customer-managed transparent data encryption (TDE)

[2020-02-28 02:40] sharmapriya2201 commented on #49114
This is for Azure sql managed instance.

[2020-02-28 02:40] trevonmckay opened #49121 "Provisioning fails even after following the documented steps"
Unable to get provisioning working after following the documentation. The provisioning log is full of errors. The

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60d73e2-2709-5f22-5d31-fc2bca7ede41
* Version Independent ID: e3b73f91-7660-0621-0df0-767ea6fe7cb7
* Content: [Tutorial: Configure Box for automatic user prov

[2020-02-28 02:48] FrankHu-MSFT commented on #49080
@rbrayb  thanks for letting us know about this I've gone ahead and removed the private key part in the description and just left it as x509 certs. Please let us know if there are anymore concerns otherwise I will be closing this out by end of day tommorow.

[2020-02-28 02:48] atycholis opened #49122 "Syntax Error from copied bash command trying to connect to server."
Getting an issue from mysql shell from copying bash command from "Connect to the server by using the MySQL Workbench GUI tool". Followed all steps above. My command line keeps telling me its a syntax error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f766765-03b0-2d76-7fe0-42b207afd9f9
* Version Independent ID: cbd

[2020-02-28 02:57] likebupt commented on #48868
@pbartos @YutongTie-MSFT  Have opened a bug(620425). But sorry that no ETA can be provided... If there is other scenario you need such feature, please add your comments in the work item. Thanks!

[2020-02-28 03:22] msmimart commented on #44482
#please-close

[2020-02-28 03:22] #44482 closed

[2020-02-28 03:22] seanalexander commented on #48900
I didn't--I just verified with:
`az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/spotpoolpreview')].{Name:name,State:properties.state}"`

That the feature isn't enabled.

Should it have been? That wasn't in the original article.

[2020-02-28 03:35] gpj1 opened #49123 "Writing application logs to file system instead of console in Linux/Container apps"
From this documentation I understand that only console logs are captured for Linux/Container apps.
Is there a way for Linux/Container apps to write application logs directly to a file system something like a disk mounted on to the VM and as docker volume ?
Another question: After retention period for logs is over, does App Service supports a feature to to move logs to Azure Blob Storage?

---
####

[2020-02-28 03:36] VikasPullagura-MSFT commented on #49117
@DeanCefola
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-28 03:36] VikasPullagura-MSFT commented on #49117
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-02-28 03:41] VikasPullagura-MSFT commented on #48944
@davidbel Can you please add your comments on the issue.

[2020-02-28 03:48] RohitMungi-MSFT commented on #49103
@danielkon96 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-28 03:51] DashleenBhandari-MSFT commented on #49017
@mc0re , If offline DRM is what you’re looking for then there’s https://docs.microsoft.com/en-us/azure/media-services/previous/offline-playready-streaming-windows-10 and the other links are for Widevine and FairPlay.

[2020-02-28 03:53] rasinghb opened #49124 "Potentially incorrect statement"
This seems incorrect:

"If health probes fail for every backend in a backend pool, then Front Door considers all backends healthy and routes traffic in a round robin distribution across all of them."

If all health probes fail, how can the backend be considered healthy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3

[2020-02-28 03:55] davidbel commented on #48944
A bug has been filed and the issue is being investigated. In communication with Joel on Tech Community.

[2020-02-28 04:04] shashankkr commented on #48909
@PramodValavala-MSFT Thanks Pramod for the detailed explanation. I have one more question. Suppose the subscription is session aware. I send 2 messages to the topic at the exact same time with the same session id. How the service bus will behave in this case?

[2020-02-28 04:04] ashley-betts70 commented on #49090
We're having a similar issue. To test this I have mocked up two OpenId capable web apps. I'm only using local accounts (not social idp's). If logged into both applications and sign out of one the other is never notified of the logout. I have reviewed the Azure AD specific documentation and this suggests it will notify all RP's of the logout event (using Front channel I believe). I'm assuming front

[2020-02-28 04:11] BhargaviAnnadevara-MSFT commented on #49120
@sharmapriya2201 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-28 04:18] neeleshray-msft commented on #49121
@trevonmckay  Could you give us more details on the provisioning failure ? Do you get any specific error message/codes ?
Would you be able to send us a snapshot of the error logs ?

[2020-02-28 04:20] neeleshray-msft commented on #48935
@spottedmahn  We would be closing this thread now. Let us know if you need further help on the same.

[2020-02-28 04:20] #48935 closed

[2020-02-28 04:20] neeleshray-msft commented on #49045
@HeinzLm We would be closing this thread now. Let us know if you need further help on the same.

[2020-02-28 04:20] #49045 closed

[2020-02-28 04:28] SwathiDhanwada-MSFT commented on #49110
@scottgorlick Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-28 04:31] SwathiDhanwada-MSFT commented on #49108
@Jont-K Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-28 04:33] Mike-Ubezzi-MSFT commented on #49105
@mslot Thank you for the inquiry. If you only rely on the PITR or LTR backup policies and you delete the Azure SQL (Logical) Server instance, all PITR and LTR backups are deleted. If you happen to create an automated process to export a database or perform a manual export to an Azure Storage account and you happen to delete the Azure SQL (Logical) Server instance, you would be able to import that

[2020-02-28 04:36] sharmapriya2201 commented on #49120
https://docs.microsoft.com/en-us/azure/sql-database/transparent-data-encryption-byok-azure-sql#requirements-for-configuring-customer-managed-tde

This is link where its mentioning that soft delete can't be enabled using azure portal

[2020-02-28 04:42] wayne3879 opened #49125 "Applications permission disabled for Dynamics CRM API"
Regarding the following statement on this page
"A daemon application can request only application permissions to APIs (not delegated permissions). On the API permissions page for the application registration, after you've selected Add a permission and chosen the API family, choose Application permissions, and then select your permissions."
I have a daemon application that need to connect to Dynami

[2020-02-28 04:43] AshokPeddakotla-MSFT commented on #49112
@olivoarroba Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-28 04:43] jakaruna-MSFT commented on #48900
Registration for that is not related to this issue.    Actual issue is in aks-preview extension with version `0.4.30`

Fix is released. Please update your extensiosn to that latest version. Then it will work well

Command to update
`az extension update -n aks-preview`

command to verify
 `az extension list`

Sample output:
[code]

Noe the latest version is `0.4.33`

[2020-02-28 04:44] JustinGrote opened #49126 "Azure Functions Powershell is GA"
this section has a toast that says it is still in preview, that should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91c3121-aea2-9a38-c44c-45cc5bbc9248
* Version Independent ID: c3c5199d-cff8-f313-dfc6-41499941e505
* Content: [Debug PowerShell Azure Functions locally](https://docs.microsoft.com/en-us/azu

[2020-02-28 04:48] PramodValavala-MSFT commented on #49126
@JustinGrote Thanks for catching that! We have worked up a PR to remove it, which once merged should reflect in a couple of hours.

[2020-02-28 04:48] VikasPullagura-MSFT commented on #48944
@davidbel Thanks for confirming on the bug.

@agassijoelbrio I will close this issue as team is updating on in the Tech Community Forum.

[2020-02-28 04:48] #48944 closed

[2020-02-28 04:49] ashley-betts70 commented on #49090
If forgot to mention, all apps in this test case had logout URL's configured.

[2020-02-28 04:55] AjayKumar-MSFT commented on #34451
Apologies everyone, you're still seeing the same issue. To clarify, use app setting **WEBSITES_PORT** to set the port for your **own docker image** while for **blessed images** use **PORT** environment variable as the listening port. We will make this more clear in the document.

In case you're leveraging Linux App Service with VNet integration -As mentioned in this [document](https://github.com/A

[2020-02-28 04:55] #49126 closed

[2020-02-28 04:59] jakaruna-MSFT commented on #48844
@salavala
I will close this out for now. If you need additional help please open a new issue

[2020-02-28 04:59] #48844 closed

[2020-02-28 05:00] jakaruna-MSFT commented on #48801
@CesarSolis Did you had a chance to go through the previous comment

[2020-02-28 05:00] neeleshray-msft commented on #49125
@wayne3879 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-28 05:06] Mike-Ubezzi-MSFT commented on #49104
@mcruz206 Thank you for bringing this to our attention. I will assign this to the content team to evaluate and update as appropriate. The DMA document (as you pointed out) clearly indicates Azure SQL Managed Instance is supported: [Supported source and target versions](https://docs.microsoft.com/en-us/sql/dma/dma-overview?view=sql-server-ver15#supported-source-and-target-versions)

![Screenshot (7

[2020-02-28 05:12] Mike-Ubezzi-MSFT commented on #49104
@stevestein @CarlRabeler for awareness.

[2020-02-28 05:13] BharathNimmala-MSFT commented on #49091
@tyler555g Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 05:17] BharathNimmala-MSFT commented on #49082
@neilamoran Thanks for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 05:19] BharathNimmala-MSFT commented on #49079
@skynetrulz  Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 05:22] BharathNimmala-MSFT commented on #49116
@sundu1992 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 05:24] souravmishra-msft commented on #49125
@wayne3879, The reason you are not seeing the Application Permissions for the "**Dynamics CRM**" API is because **Dynamics CRM** might not be exposing the **Application permissions** and only it can be used using the **Delegated Permissions** which are exposed for public use.
If you check this article which speaks about the same API, do tell to configure Delegated Permission while registering the

[2020-02-28 05:26] BharathNimmala-MSFT commented on #49101
@robertlagrant Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 05:30] CHEEKATLAPRADEEP-MSFT commented on #49116
@sundu1992 Unfortunately, Service Tag for Azure Integration Runtime is not available yet and it will be coming soon.

[2020-02-28 05:32] #49116 closed

[2020-02-28 05:33] jakaruna-MSFT commented on #48602
I added a line like this as a note.

[2020-02-28 05:33] wayne3879 commented on #49125
So is the page I was originally reading (https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-app-registration) incorrect when it says a daemon app registration can't use Application permissions?  Or is it that a daemon app can't be used with Dynamics CRM?  It seems to me one of those has to be true.

[2020-02-28 05:34] jakaruna-MSFT commented on #48428
@ramadhiantoagung Did you got  chance to go through my above comment

[2020-02-28 05:36] jakaruna-MSFT commented on #48521
@festivus I tried in my environment and i am unable to reproduce your issue. But i used VS2017

Are you still facing the issue?

[2020-02-28 05:41] #48602 closed

[2020-02-28 05:46] SubhashVasarapu-MSFT commented on #49119
@igorjnz , We are looking into this query and will update you as soon as possible.

[2020-02-28 05:46] meenaTrex opened #49127 "Is direct TLS connection to Sql data warehouse from Data Factory supported?"
Does TLS data transfer communication is done between Data Factory and Sql data warehouse?
Or we need some Integration Runtime between them?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a
* Version Independent ID: 9aaa1635-bb8c-07b4-ebc5-55baeb98149c
* Content: [Security consideration

[2020-02-28 05:47] msrini-MSFT commented on #49124
@rasinghb , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-02-28 05:48] CHEEKATLAPRADEEP-MSFT commented on #49041
@plaiddk Glad to know that your issue has resolved. And thanks for sharing the solution, which might be beneficial to other community members reading this thread.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-28 05:48] #49041 closed

[2020-02-28 05:50] CHEEKATLAPRADEEP-MSFT commented on #49127
@meenaTrex  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community m

[2020-02-28 05:50] mslot commented on #49105
So a deletion of the server will remove all backup both PiTR and LTR? If I Google this, there is some saying that LTR will still be accessible even if server is deleted. Maybe this should be outlined in the doc, "even if LTR is enabled, a deletion of the server will delete the LTR". I have read people saying that as long LTR is enabled and you just recreate the server with same name etc, and pick

[2020-02-28 05:51] eugen-nw commented on #47084
You need to have someone log in who has “reader”/no role on the Key Vault resource in order to get a repro.

[2020-02-28 05:54] msrini-MSFT commented on #49109
@vhorne , Can you please update the doc?

[2020-02-28 05:54] meenaTrex commented on #49127
https://docs.microsoft.com/en-us/azure/data-factory/data-movement-security-considerations

for part 'Data in Transit' for sql data warehouse

On Fri, Feb 28, 2020 at 11:20 AM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2020-02-28 06:05] CHEEKATLAPRADEEP-MSFT commented on #49127
@meenaTrex Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-28 06:07] BharathNimmala-MSFT commented on #48872
@philippkahr Thanks for sharing additional context. However please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.  Given you have a Hybrid setup which might need a deeper analysis to troubleshoot the issue and understand the behavior you are seeing. Would request you to reach out to Microsoft support in reference with previou

[2020-02-28 06:11] jakaruna-MSFT commented on #47394
@dlepow Can we add a note to include a link to export a container instances via yaml file?

We have a line in the document already like this

`Update the container group with a new DNS name label, myapplication, and leave the remaining properties unchanged:`

Above link asks the users to change the required parameters and leave the remaining parameteres as is.
Do you think we can add a note explic

[2020-02-28 06:24] Mike-Ubezzi-MSFT commented on #49105
@mslot I have some additional information. LTR backups are still accessible after a Azure SQL (Logical) Server has been deleted. Azure SQL Managed Instance does not support LTR backups. In the case where Azure SQL Database where a LTR policy was set and the server was deleted, you would have an available backup to restore from. In the case of PITR, if either Azure SQL Database or Azure SQL Managed

[2020-02-28 06:24] DashleenBhandari-MSFT commented on #49123
@gpj1 , We can use Bring your own storage feature to mount Azure Blob/File storage to the app container..say /mnt.. Then the logs written to /mnt will be available in the blob storage mounted..

[2020-02-28 06:25] sahilpnckr123 commented on #48794
@SamaraSoucy-MSFT
In our case, the IIS Servers do not have access to Internet. Basically, the internet connection from the Servers are blocked directly / by proxy but we have a separate server configured as OMS Gateway Server that can communicate with Azure. So, is there a way that i can configure Application Insights for the IIS-hosted Applications?

[2020-02-28 06:30] ecout commented on #47694
@CHEEKATLAPRADEEP-MSFT  Repro steps are very simple:

On your Enterprise Application.
a.-Set Up SSO using SAML.
b.-Configure a new User Claim to provide user.asignedrole.

Claim name |   |                                                                                                         | Value |  
http://schemas.xmlsoap.org/ws/2005/05/identity/claims/assignedroles           user.assignedrole

[2020-02-28 06:32] ecout commented on #47694
@CHEEKATLAPRADEEP-MSFT

Did you read my post? The document is in the ORIGINAL post I reference when I created this ticket.

[2020-02-28 06:34] VikasPullagura-MSFT commented on #48977
@ChristianMontoya Thanks for providing the details.

@jrv116psu The document will be updated adding clarity around the account information to make it clear.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-28 06:34] #48977 closed

[2020-02-28 06:45] KranthiPakala-MSFT commented on #48865
@thucnguyen77 Thank you for reaching out here. At this time your query seems to be a product question and not directly related to this document content. These kind of queries are best suited for community forums. We request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_

[2020-02-28 06:48] damendo commented on #30578
@Mitaric

1. We have found a UI bug where the Flow Log is created successfully (and with the correct version), however the UI just shows version too. We are fixing this

2. Did you change the change the name of the Network watcher resource for every region? The default name is of the format "Networkwatch_region_name"

[2020-02-28 06:55] philippkahr commented on #48872
@BharathNimmala-MSFT I totally understand that, maybe we should add that this error in the event logs is a benign error in the troubleshooting docs for hybrid?

[2020-02-28 06:57] mslot commented on #48379
Actually what I am confused about is: if you dont apply a logLevel i Azure Functions it will default to Information, and that is also applied to the Application Insights provider in Azure Functions, even though it in the docs for Application Insights mentions that it defaults to Warning. It makes perfect sense in my head though, because you can't in the application insights settings in Azure Funct

[2020-02-28 07:05] mslot commented on #49105
Ah. So:
1. If LTR is configured on Azure SQL, and server is deleted, we can recover
2. If only PiTR is enabled (which it is by default if I am remembering correct), and server is deleted, we can't recover

this doesn't apply to managed instances, because LTR isn't a supported feature.

Should this be reflected somehow in the docs?

[2020-02-28 07:07] nofield opened #49131 "Key Vault Certificate Rotation with SSL Store?"
Hi there!

I have a question that I don't believe is explicitly covered in this article. Say I import into my App Service's SSL store a private key certificate from Key Vault. Everything's going great, then the certificate is close to expiring. If I rotate the certificate using Key Vault, will that new version of the certificate be automatically updated in the SSL store?

This is a very important

[2020-02-28 07:16] ctahok opened #49132 "Backend pool 4"
The Backend pool 4 on the diagram is not connected anywhere and floating box. It should be wired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent ID: 0e67beb9-827a-cafb-b0aa-6d38d32475f4
* Content: [Azure Application Gateway configuration overview](https://docs.

[2020-02-28 07:24] wimdeblauwe commented on #49071
@yoelhor Can you explain in more detail? I _am_ coupling Azure AD B2C with Azure AD.

[2020-02-28 07:31] ctahok opened #49133 "Application Gateway or WAF deployments !?"
The article refers several times "Application Gateway or WAF deployments..." which gives an impression that they are the same things. They are not the same things and this needs to be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-5473-005098e7231d
* Version Independent ID: ab0e9bbf-b9cd-a

[2020-02-28 07:32] springcomp commented on #48655
@yyanev No, unfortunately, directive `UsePAM` is not allowed within a `Match` block.

@Karishma-Tiwari-MSFT, I think you can go ahead and close this issue and I conclude that what I want to achieve is not possible in combination with the Azure AAD Agent.

We’re going to uninstall the agent, as this VM is meant to be a simple SSH server and does not access any other networked resources, so that sho

[2020-02-28 07:35] DixitArora-MSFT commented on #48770
@SychevIgor Yes there is a already a work item on this and this will consistent across all Azure function app docs. Thanks for providing feedback and help us in improving the docs. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-28 07:35] #48770 closed

[2020-02-28 07:36] DixitArora-MSFT commented on #48769
@mikebudzynski Thanks for providing inputs.

@vishipayyallore For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-28 07:36] #48769 closed

[2020-02-28 07:43] DixitArora-MSFT commented on #48762
@haugan This is already mentioned in the doc. Below is the screen shot for this. I don't think there is a doc change required at this moment. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

![image](https://user-images.githubusercontent.com/469

[2020-02-28 07:43] #48762 closed

[2020-02-28 07:47] juripyykko opened #49134 "Application Settings is called Configuration"
Application Settings is called Configuration, in my Azure Functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f40a37-fa0f-6d54-57ad-8d58c6c3531b
* Version Independent ID: 3b2178f9-f6a8-8771-f7f5-7a9952b45b2b
* Content: [Configure function app settings in Azure](https://docs.microsoft.com/en-us/azure/azure-functi

[2020-02-28 07:49] asgaralim opened #49135 "custom"
Suppose ADF pipeline has a For-each activity. Inside for each activity contains a "WebActivity". I am trying to  generate custom parameter to set web activity url property. As this web activity is inside the For-each activity,the below code is unable create custom parameter for web activity ( which is inside the for-each). Could you please suggest how create custom parameters in this case.

Note:-

[2020-02-28 07:53] asgaralim commented on #49135
Suppose ADF pipeline has a For-each activity. Inside for each activity contains a "WebActivity". I am trying to  generate custom parameter to set web activity url property. As this web activity is inside the For-each activity,the below code is unable create custom parameter for web activity ( which is inside the for-each). Could you please suggest how create custom parameters in this case.

Note:-

[2020-02-28 08:03] gandhirajan opened #49136 "Can we add more about github sample and autorefresh?"
I feel it makes more sense to talk about 'spring-cloud-azure-appconfiguration-config-web' maven dependency in this page which takes care of auto refresh of config and it would be helpful if we could add the following github link - https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azure-starters/spring-cloud-starter-azure-appconfiguration-config in this page

---
#### Documen

[2020-02-28 08:04] kilagg commented on #49074
yes and it is running during the process

[2020-02-28 08:05] ggailey777 commented on #48812
@anthonychu we try to reserve public issues for customer use.
To help save our CXP resources, please either [open an issue in our DevOps](https://dev.azure.com/mseng/TechnicalContent/_workitems/create/Task?templateId=1ca5ae5e-aa79-4b3e-8046-2ded9556cd60&ownerId=80747a8b-6ca1-4a95-8589-ae15a5e362b8), or just open a PR to make the fix (I recommend [using SpineEdit](https://review.docs.microsoft.com/

[2020-02-28 08:11] #48812 closed

[2020-02-28 08:16] Fulgan commented on #48650
@lisaguthrie Sure.

My first point is that with an application configured that way, there is no way to have a sensible default in the appsettings.developpement.json any more: user must go through all the hoops in order to tun the app even a single time.

For my second point, I understand the need for a quick start but a tutorial that ends up with a situation that can't be actually used isn't just

[2020-02-28 08:18] sgdesmet commented on #48584
Thank you for the updated documentation!

[2020-02-28 08:22] sgdesmet commented on #48883
@yoelhor thank you!

@dotnetgator we were indeed planning on using a REST profile as a fallback. I've got to admit though, that is a very inventive hack.

[2020-02-28 08:23] ggailey777 commented on #36167
#assign:anthonychu
@anthonychu do you have any ideas about this?

[2020-02-28 08:27] danglund commented on #48641
I also found that the documentation said the max batch size was 1000. I provoked the same exception as above where it says batches can be in the range 1-32000.

I tested various batch sizes and found that the biggest batch size gave me the best performance. I tested with extremely records and got >2000 DPS when I used a batch size of 32000. Probably because it reduces some of the overhead involved

[2020-02-28 08:34] msrini-MSFT commented on #49124
@rasinghb , The above statement is correct. If all the backend resources are unhealthy, AFD doesn't terminate the connection. It considers all the backend resources are healthy and the traffic needs to be terminated by the backend resource.

Let me know if you have any further questions.

[2020-02-28 08:36] ggailey777 commented on #27921
@StingyJack I believe that your original concerns are addressed in that we now have [PS command examples](https://docs.microsoft.com/en-ca/azure/azure-functions/functions-create-first-function-python?tabs=powershell%2Cbrowser). #please-close

[2020-02-28 08:36] #27921 closed

[2020-02-28 08:37] jishansiddique commented on #48641
@danglund ,
Yes, it's true during the development I found the max batch size is 32000 so should I go with?

[2020-02-28 08:48] blackchoey commented on #48998
@thnk2wn In latest VS IoT Edge extension, you can reference via module image url. Please update
your extension to try this new feature. Feel free to open issue at https://github.com/microsoft/vs-azure-iot-edge-docs if you have any questions.
![image](https://user-images.githubusercontent.com/16605901/75524022-11bd8680-5a48-11ea-9206-ff70fc1f5ca0.png)

As you mentioned, referencing projects from an

[2020-02-28 08:49] JamesDLD commented on #47752
Hi,

I do use Service Enpoint + Vnet firewall rules on My Storage Account and SQL Server and it works great.
I don't see any reason why Private Link couldn't work. Keep in mind that Flow from Databricks to your PaaS services private enpoint will go through your Databricks public subnet.

Regards,
Jamesdld

[2020-02-28 08:55] yoelhor commented on #49045
You can use following format

[code]

[2020-02-28 08:57] ModernRonin commented on #12971
@andrew-hampton That did it, thanks a lot!

[2020-02-28 09:00] hugobarona commented on #49077
thank you @SaurabhSharma-MSFT for the clarification.

[2020-02-28 09:00] #49077 closed

[2020-02-28 09:00] haugan commented on #48762
Yes, I know. The issue it with different naming of HttpTrigger/HttpExample.

[2020-02-28 09:08] blackchoey commented on #48999
@thnk2wn If you're developing modules for windows devices, it's better to choose Visual Studio for development. Since some Windows device modules (e.g. C module) requires features (e.g. VC++) from Visual Studio to build.
If you're developing modules for linux devices, you can choose VS Code for development. Since the language support in VS Code is more than Visual Studio.

[2020-02-28 09:12] SwathiDhanwada-MSFT commented on #48771
@bwren can you please review the document and update it if necessary?

[2020-02-28 09:12] BhargaviAnnadevara-MSFT commented on #49135
@asgaralim Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-28 09:15] BhargaviAnnadevara-MSFT commented on #49006
@mshinnie Hope the above responses address your queries. Please let us know if you have any additional questions.

[2020-02-28 09:18] ishepherd commented on #49056
Thanks

@markjbrown I have now _highlighted the difference_ between the first two quotes. It seems like the second one needs an edit.

[2020-02-28 09:18] msrini-MSFT commented on #49132
@vhorne , Can you please fix the flow diagram for Backend pool 4?

[2020-02-28 09:19] robertlagrant commented on #34470
@jakaruna-MSFT why's this closed? It's good to have a workaround, but this is a gap in `az`, isn't it?

[2020-02-28 09:23] squ94wk commented on #49052
Apologies, my description was really not great.
The examples on either page doesn't line up with the REST-API Reference:
In the Request-Body in [Create a blueprint](https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-rest-api#create-a-blueprint) it says:
[code]
In the [API Reference](https://docs.microsoft.com/en-us/rest/api/blueprints/blueprints/createorupdate#request-bo

[2020-02-28 09:24] mc0re commented on #49017
Thank you, but this is the player. I was looking for a way to produce such contents - an MP4 file, which can be downloaded but cannot be played without a license.

[2020-02-28 09:32] danglund opened #49139 "Maximum 1000 documents per batch is actually 32000"
The documentation here says max 1000 documents per batch. When using the actual API the limit is 32000. And a higher batch size results in better indexing performance. Perhaps the documentation is for a different version of the API?

https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#queries-per-second-qps

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-02-28 09:37] SnehaAgrawal-MSFT commented on #49139
@danglund Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 09:41] danglund commented on #49139
I found the documentation that says max 1000 per batch and added feedback directly in the article.

Dan
--

From: SnehaAgrawal-MSFT <notifications@github.com>
Sent: fredag 28. februar 2020 10:38
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: danglund <dglunde@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Maximum 1000 documents per batc

[2020-02-28 09:42] RohitMungi-MSFT commented on #48848
@diberry The host in the sample code should be changed to the following:
host = '<your-resource-region-name>.api.cognitive.microsoft.com'
or
host = '<your-resource-name>.cognitiveservices.azure.com'

I have created a PR [12 ](https://github.com/Azure-Samples/cognitive-services-qnamaker-python/pull/12)in the samples repo to fix this. Could you please check and approve so the document reflects the c

[2020-02-28 09:43] trstroem opened #49140 "Debugging of direct methods is also possible, but not documented"
A client informed me that debugging of direct methods is also possible with this solution, although not documented. Debugging of direct methods is actually enabled because the module running in debug mode is effectively connected with the iot hub via the edgeHub that runs when you start the iotedgehubdev.

The client developers spent some time trying to find a way to debug direct methods, and came

[2020-02-28 09:48] PramodValavala-MSFT commented on #48909
@shashankkr Glad that we could help you out!

For your follow up query, when messages come in, they are assigned a [sequence number](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sequencing) which decides their order. And then depending on the [filter rules](https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters), will copy them to all applicable subscrip

[2020-02-28 09:48] #48909 closed

[2020-02-28 09:50] lightupdifire opened #49141 "Document update required"
Hello,
The print screens and steps are outdated.
Can you please update this document with the latest AD Connect version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4a5a4d-f097-a0f8-f81e-75a5837f202b
* Version Independent ID: 58c43f72-9f93-b30f-2645-8b259aa3b516
* Content: [Azure AD Connect - AD FS management and

[2020-02-28 09:50] PramodValavala-MSFT commented on #49134
@juripyykko Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-02-28 09:50] RohitMungi-MSFT commented on #49103
@danielkon96 Thanks for pointing this out. We have raised a PR to fix this issue. @aahill could you please review and approve?

[2020-02-28 09:56] alankinane opened #49142 "Are RBAC permission assignments for groups supported currently?"
If I use synced security groups it does not seem to allow access to the file share and I get prompted for credentials.  It will work fine however if I grant access on the user level.  The documentation indicates group level assignments are possible but I am wondering if this feature actually supported at this point in the preview?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-02-28 10:05] juanand opened #49143 "gr-Prod-*.cloudapp.net"
This FQDN cannot be set in Azure Firewall and probably others.
Can you provide more specific FQDNs?
This is also pointed at https://feedback.azure.com/forums/217313-networking/suggestions/38625820-fqdn-like-this-gr-prod-cloudapp-net-can-not-be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29246f12-744e-08a1-c222-b0eae

[2020-02-28 10:12] #48754 closed

[2020-02-28 10:13] SubhashVasarapu-MSFT commented on #48754
@rtaylor72 , Appreciate your patience. We have edited the accordingly and it would another few hours to get updated.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-28 10:13] souravmishra-msft commented on #49125
@wayne3879, In this case the second point is true ["Or is it that a daemon app can't be used with Dynamics CRM"] since the Dynamics CRM API doenst have any Application Permissions exposed.

[2020-02-28 10:18] DashleenBhandari-MSFT commented on #49136
@gandhirajan , Thanks for raising this issue. We will check and update you.

[2020-02-28 10:18] alevincenzi commented on #49140
This concerns the section "Debug a module without a container".

The point is that the iotedgehubdev spins a couple of containers (edgeHub and input) to interact with the module running in local debug mode in Code Studio. Hence we were expecting to debug the handlers registered to process direct methods in the same way (i.e. via a post curl). But direct methods come from the IoT-Hub hence you can

[2020-02-28 10:19] DashleenBhandari-MSFT commented on #49023
@dcbrown16 , We will be including this change in the document and this should be completed by next week. Please let me know if I can close the issue for now.

[2020-02-28 10:19] DashleenBhandari-MSFT commented on #49021
@okcerk  , Could you please provide the documentation you referred to? Also if you can provide the error screenshot and invocationID, it would be helpful

[2020-02-28 10:19] DashleenBhandari-MSFT commented on #49016
@blmiles Please let me know if you have any queries.

[2020-02-28 10:20] DashleenBhandari-MSFT commented on #48906
@jos1977
 Announcing general availability of VNet Integration with Windows Web Apps
One of the issues that App Service customers need to solve is how to access resources in their Azure Virtual Networks (VNets). To solve that issue, a feature was launched in 2014. The older VNet Integration feature required a virtual network gateway and really only supported reaching into the VNet. There was still

[2020-02-28 10:39] ytugarev opened #49144 "Please also provide minimal IO numbers for Ultra Disks"
There are not only caps numbers but also low limits too.

"The value 1000 of parameter disk.diskIOPSReadWrite is not valid. The supported range for a UltraSSD_LRS disk of size 1023 GB is between 2046 and 160000."

Or

"The value 1000 of parameter disk.diskIOPSReadWrite is not valid. The supported range for a UltraSSD_LRS disk of size 1535 GB is between 3070 and 160000."

---
#### Document Details

[2020-02-28 10:42] SnehaAgrawal-MSFT commented on #48945
@girishgouda Thanks again for the feedback! To elaborate on this, you may want to investigate [Multi-tenant App Service networking features](https://docs.microsoft.com/en-us/azure/app-service/networking-features#multi-tenant-app-service-networking-features) document might be helpful for you.

[2020-02-28 10:46] asbtho opened #49145 "Adding Norwegian Language Pack to Windows 10 Enterprise Version 1909 breaks sysprep"
When creating a VM in Azure and doing these steps:
1. Install norwegian language pack, update latest CU update.
2. Shut down VM and do a snapshot
3. Boot VM again to sysprep.

Sysprep breaks and gives error:
Error      [0x0f0082] SYSPRP LaunchDll:Failure occurred while executing 'DscCore.dll,SysPrep_Cleanup', returned error code 0x2
Error      [0x0f0070] SYSPRP RunDlls:An error occurred while runn

[2020-02-28 10:47] asbtho commented on #49145
Windows 10 Enterprise for Virtual Desktops, Version 1909 (OS Build 18363.657)

[2020-02-28 10:48] CHEEKATLAPRADEEP-MSFT commented on #47694
@ecout Thank you for sharing the document.
@shashishailaj Could you please look into this issue?

[2020-02-28 11:01] squasta opened #49146 "Small typo error on some FQDN"
There are 2 dot instead of one in the following FQDNs :
azds-..azds.io
*.gk..azmk8s.io

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress traffic in Azure Kubernetes Service (AKS) - Azure Kubernet

[2020-02-28 11:05] fhlmbrg opened #49147 "No mention of the Docker Compose YAML 4000 character limit"
As discussed here https://social.msdn.microsoft.com/Forums/azure/en-US/ff353717-fcb0-42d8-8237-5891e998c1d2/error-on-creating-web-app-with-docker-compose?forum=windowsazurewebsitespreview .

This limits quite basic docker compose setups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad0cae44-bfc2-c879-d406-23ab0b756ab

[2020-02-28 11:15] cananac opened #49148 "Setting up diagnostic settings for Storage Accounts new way"
Hi,

Is there a planned release for moving storage account diagnostic settings to the new way?

Thanks,
Canan

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [How to monitor an Azure Storage account in the Azur

[2020-02-28 11:25] AnjaniChallamcherla opened #49149 "Azure DevOps error: Could not load file or assembly 'System.Data.SqlClient, Version=4.6.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
Hi Team,

I followed the steps mentioned in https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops?tabs=csharp  and able to create a function app in Azure using CI/CD.
But when I try to run the function app, it shows me below error.
![image](https://user-images.githubusercontent.com/42473451/75544910-d6f22900-5a1c-11ea-8ed8-169fa22f024f.png)

From the error I can unde

[2020-02-28 11:28] neilamoran commented on #49082
Update to this - I had opened an Azure Support ticket as well. I got this working by disassociating and then reassociating the NSG with the subnet - not sure why this was an issue, unless related to the Terraform config I used to build the AAG and Web App in the first place.

Will create another environment and see if the same thing happens again.

[2020-02-28 11:37] flvndh commented on #48438
@MartinJaffer-MSFT I would be glad if you could provide an example of such a mechanic.

[2020-02-28 11:40] Aitor1972 commented on #47581
Thanks - I am whitelisted and I have seen a workaround involving a logic app, but it would be nice to have "in-blade" support, and also Azure Backup support for ANF

[2020-02-28 12:01] rasinghb commented on #49124
Although it sounds confusing, but if that's the way it is designed, so be it. You can close the case.
Regards,
Ravinder

    On Friday, 28 February, 2020, 02:04:15 pm IST, KARTHIK SRINIVAS <notifications@github.com> wrote:

@rasinghb , The above statement is correct. If all the backend resources are unhealthy, AFD doesn't terminate the connection. It considers all the backend resources are healthy

[2020-02-28 12:15] AshokPeddakotla-MSFT commented on #48876
@tinodo This would require further troubleshooting to identify the root cause.
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-02-28 12:26] VikasPullagura-MSFT commented on #48989
@hoangpx The document is fixed now. Changes will go live soon.

[2020-02-28 12:26] #48989 closed

[2020-02-28 12:35] jakaruna-MSFT commented on #48298
I will check and let you know if we can add an extension using azure policy

[2020-02-28 12:36] NavtejSaini-MSFT commented on #48888
@hugobarona We are going ahead and closing this thread. Please get back to us if any further question.

[2020-02-28 12:36] #48888 closed

[2020-02-28 12:39] #49124 closed

[2020-02-28 12:44] grusin opened #49150 "dynamicPartitionPruning does not work, I cannot replicate results"
I cannot replicate results when dynamicPartitionPruning is enabled and having no hardcoded partition values in a query. Of course MERGE INTO with partitions hard coded in the query yields correct partition filtering. I've tried with both scala and pypark, and results are the same. I cannot replicate the performance improvement. I am happy to share my re-implementation of the examples from thsi doc

[2020-02-28 12:46] VikasPullagura-MSFT commented on #49146
@squasta Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-28 12:46] grusin commented on #49150
examples replicated from documentation: [DynamicPartitionPruning.zip](https://github.com/MicrosoftDocs/azure-docs/files/4267092/DynamicPartitionPruning.zip)

[2020-02-28 12:51] jakaruna-MSFT commented on #49101
@robertlagrant i hope you are looking for a way to apply the license programmatically

@cathysull please add your comments

[2020-02-28 12:52] sonalinoolkar commented on #48936
Thanks. I was able to configure the vpn client and the vpn client shows connected. However I am still not able to access my managed instance via its private end point i.e. using port 1433.

I tried to reset the VPN Gateway as well as mentioned in P2S troubleshooting tips, but no luck.

What can I do to further investigate?

[2020-02-28 12:54] qhaitoNNV opened #49151 "AzureBastionSubnet"
Could the process of creating an AzureBastionSubnet be made similar to that of the GatewaySubnet for a Virtual Network Gateway?
It's quite easy and seamless when creating a Virtual Network Gateway over the Azure portal. Upon selection of your desired Virtual Network, a GatewaySubnet is automatically generated for you ( given that there's enough address space within the VNet).
Having same done for

[2020-02-28 12:55] festivus commented on #48521
@jakaruna-MSFT Sometimes. I did get it work, but I'd say this happens about 50% of the time. You can close it if you want.

[2020-02-28 12:58] alohaninja opened #49152 "What is Elastic Premium?"
The VNet Integration features:

require a Standard, Premium, PremiumV2, or **Elastic Premium** pricing plan

Reference: https://azure.microsoft.com/en-us/pricing/details/app-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9

[2020-02-28 13:01] NavtejSaini-MSFT commented on #49122
@atycholis Please convey from where you downloaded the command line tool and also what syntax you are using.

[2020-02-28 13:04] VikasPullagura-MSFT commented on #49144
@ytugarev
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-28 13:04] VikasPullagura-MSFT commented on #49144
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-02-28 13:06] #49146 closed

[2020-02-28 13:12] qhaitoNNV opened #49154 "AzureFirewallSubnet"
Could the process of creating an AzureFirewallSubnet be made similar to that of the GatewaySubnet for a Virtual Network Gateway?
It's quite easy and seamless when creating a Virtual Network Gateway over the Azure portal. Upon selection of your desired Virtual Network, a GatewaySubnet is automatically generated for you ( given that there's enough address space within the VNet).
Having same done for

[2020-02-28 13:18] pwouavre opened #49155 "resourceGroup Function"
Hello, regarding resourceGroup Function usage : It's not working when declaring function in a parameter value.

"A common use of the resourceGroup function is to create resources in the same location as the resource group. The following example uses the resource group location for a default parameter value." --&gt; This example is false when i'm using an Azure Policy in my subscription authorizing

[2020-02-28 13:36] Mitaric commented on #30578
@damendo - Thanks for the response!

1. For clarity, it is showing Version 1 in the portal, even though it is configured as Version1?

2. I did change the name of the Network Watcher resource for both regions.  The template enables NSG Flow Logs for all regions within one template.  The error being produced is:

Deployment failed. Correlation ID: a3833949-7d35-40ac-bdd8-41afff59be3f. {
  "error":

[2020-02-28 13:38] DashleenBhandari-MSFT commented on #49131
@nofield , I am looking into the requirement. I will update you with the findings.

[2020-02-28 13:41] thnk2wn commented on #48998
@blackchoey Thanks. I'll try the url route. It's a bit intuitive that adding an existing module is under Add New Module but minor detail.

I think this answers bullet point 1 in my original post here. However this info could use reflection in the docs as well as the other points mentioned (2 and 3). Also the samples don't show closing the module client or disposing of it. They also don't show a re

[2020-02-28 13:41] #48998 closed

[2020-02-28 13:45] roofiq opened #49156 "Traffic manager or front door"
Hello,

I have found similar doc regarding disaster recovery for function app where solution using Traffic Manager is being recommended.
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-disaster-recovery-geo-distribution

Could you respond to that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-28 14:06] VikasPullagura-MSFT commented on #49145
@asbtho
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-28 14:06] BhargaviAnnadevara-MSFT commented on #49133
@ctahok Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-28 14:07] BhargaviAnnadevara-MSFT commented on #49142
@alankinane Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-28 14:19] #48999 closed

[2020-02-28 14:21] alankinane commented on #49142
Here is the link: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable

It is documented but I'm not sure if it actually works.  Any videos/blogs I've seen have either skipped over this or just assigned to users and not security groups.

[2020-02-28 14:22] bozopriester commented on #43750
I'm curious...what practice exam (site) did this come from?

[2020-02-28 14:24] AshokPeddakotla-MSFT commented on #48467
Unfortunately, you have to manage/update the production certificates.

[2020-02-28 14:27] AshokPeddakotla-MSFT commented on #48876
As mentioned, please contact support. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-28 14:27] #48876 closed

[2020-02-28 14:30] AshokPeddakotla-MSFT commented on #49140
@trstroem Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 14:37] PramodValavala-MSFT commented on #49156
@roofiq Both of them are different services with a few overlapping roles. Either one can be used for the case described in these docs.

Traffic Manager works at the DNS level and forwards traffic directly to your function app.

Front Door routes traffic from the front door edge nodes to your function app through the microsoft network. This gives you features like path-based routing, rate limiting,

[2020-02-28 14:46] DCtheGeek commented on #49052
@squ94wk Thanks for the clarification.  Let me look into this.

[2020-02-28 14:48] rajeshkhanikar opened #49159 ""For users not in your directory" behaviour is opposite to what is expected"
I have configured the 'Initial policy' with &gt; Users who can request access = For users not in your directory (example.com + 6 more). But if one of the guest users from any of the connected domain attempt to sign-in to the 'My Access portal link', it says "This username may be incorrect. Make sure that you typed it correctly. Otherwise, contact your admin.".

However, if I use an UPN with a doma

[2020-02-28 14:52] SubhashVasarapu-MSFT commented on #48842
@liutang , Appreciate your patience. AFIK there is no other way for now unless using windows store. If you are looking for a repro, then I would suggest you to work on this with your personal environment.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-28 14:52] #48842 closed

[2020-02-28 14:56] SubhashVasarapu-MSFT commented on #48863
@evmimagina , Appreciate your patience. There is no estimation date for now on those addons. You can get updates from our [Azure Updates](https://azure.microsoft.com/en-in/blog/topics/updates/) page on their availability. Please stay tuned!
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-28 14:56] #48863 closed

[2020-02-28 14:58] SubhashVasarapu-MSFT commented on #48892
@stdistef , Keeping this doc closed as per our conversations through mail. Thank you.

[2020-02-28 15:08] mbiver opened #49160 "Max data disks per VM Table Seems Misleading"
The Max data disks per VM table above seems misleading.  The paragraph just above the table correctly states that "The size of the VM instance determines how many data disks can be attached" and then the table below lists the max disks for each very broad category as 64.  While the max data disks possible within each category may be 64, that seems a little misleading.  That column should be change

[2020-02-28 15:31] HeidiSteen commented on #49139
@danglund @SnehaAgrawal-MSFT  Several customers have noticed the additional capacity, but the product group does not want to change the documented limits at this time.  They are not sure the 32K batch size will be supported moving forward.

[2020-02-28 15:34] timnot90 opened #49161 "Enhance description of apns-topic header"
I just spent several hours trying to find out why I couldn't send any APNs notifications after switching to token-based authentication. Then I found out that it seems to be forbidden to set the apns-topic header manually by calling

headers.add("apns-topic", "my.topic");

when creating an AppleNotification. Which I did while using certificate based authentication.

You should mention this fact in

[2020-02-28 15:37] andy-davies commented on #7705
@markjbrown Thanks for the tip on the better query performance. While that is very helpful it doesn't really solve the issue as it requires a duplication of data. Does closing this issue mean that it's 'closed and won't fix'?

[2020-02-28 15:37] SubhashVasarapu-MSFT commented on #48580
@ghills , Appreciate your patience. Generally, Azure diagnostic logs on "action == block" will generate only the rules responsible for this block.
![image](https://user-images.githubusercontent.com/44890829/75561093-6e329d00-5a6c-11ea-9a9b-65ac6fdde0f7.png)
![image](https://user-images.githubusercontent.com/44890829/75561098-71c62400-5a6c-11ea-825e-abb3f5fe365e.png)
I would suggest you to [upvote

[2020-02-28 15:39] Ashok103606 commented on #48662
@SaurabhSharma Thanks for your information. But, Is there anyway that  I can expose them as a report like Application name, Object Id , Certificate Expired date for SAML non-gallery application.  With the following cmdlets with you provide that I need to pass each ObjectID for every application.

$samlApplication = Get-AzureADServicePrincipal -ObjectId <<your saml application objectid>>
$samlAppli

[2020-02-28 15:40] Cashfl0w opened #49162 "Spelling mistake"
In Checklist before moving resources section 2.
This line:
If you've moving any of the following services,
should read:
If you're moving any of the following services,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51002d4a-d8de-53d1-2e78-cb0440f5f23e
* Version Independent ID: 40f69d9c-2cb7-87e1-291d-525882347925
* Con

[2020-02-28 15:44] jotavar opened #49163 "typo"
"memebership" should read "membership"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abbc5958ff
* Version Independent ID: 3611b478-6df6-f5cd-563d-2fff6cfec9ef
* Content: [Integrate Azure Active Directory with Azure Kubernetes Service - Azure Kubernetes Service](https://docs.microsoft.com/en-u

[2020-02-28 15:47] lyrana commented on #49112
Hi @olivoarroba this is great feedback, while we work to add more examples to the docs we can use this thread to work through your scenarios. Please let us know your scenarios, goals, and what operations you're looking to do and we can work through it here.

[2020-02-28 15:50] Prateek1584990 opened #49164 "Failed to parse user input due to error: the inferred source/destination combination is currently not supported."
While we are trying to use AZCopy in a powershell task in our pipeline of our team project to copy the file with extension .ispac to azure storage file share , the task is getting succeeded but files are not getting copied , We see below error in the powershell task log

"failed to parse user input due to error: the inferred source/destination combination is currently not supported."

Please let u

[2020-02-28 15:51] danglund commented on #49139
Ok, that’s good to know. I will make sure to make this configurable in our application with a note that it might change.

In my experience the larger batch size resulted in better performance.

Dan
--

From: Heidi Steen <notifications@github.com>
Sent: fredag 28. februar 2020 16:32
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: danglund <dglunde@hotmail.com>; Mention <mention@nor

[2020-02-28 15:57] SnehaAgrawal-MSFT commented on #49152
@alohaninja Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 15:59] #47088 closed

[2020-02-28 16:01] SnehaAgrawal-MSFT commented on #49152
@alohaninja Thanks for asking question! Azure Functions Premium plan is sometimes referred to as Elastic Premium plan and this is a hosting option for function apps. Multiple function apps can be deployed to the same Premium plan, and the plan allows you to configure compute instance size, base plan size, and maximum plan size.
Reference: https://docs.microsoft.com/en-us/azure/azure-functions/func

[2020-02-28 16:02] msmimart commented on #48233
Hi @harald-quist-stratsys, the token we generate could be deprecated and we don't recommend taking a dependency on it.

[2020-02-28 16:03] Connell1 commented on #48566
Is there a way to generated the first access token automatically as part of devops provisioning?

[2020-02-28 16:11] CharmanderJieniJieni opened #49166 "Is PIM capable for Service Principal and Managed Identity?"
If not, how can we do the same for Service Principal and Managed Identity? Looks like PIM requires MFA so from my understanding SPN and MI would not be capable to use this service, is it correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64acb2bc-6c41-34a2-1822-53e0fedc0d3b
* Version Independent ID: 5709c4d7-7fc0-

[2020-02-28 16:14] SumanthMarigowda-MSFT commented on #48689
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-28 16:14] #48689 closed

[2020-02-28 16:14] #48773 closed

[2020-02-28 16:17] steveculshaw opened #49168 "Details on using Managed Identity, rather than connection"
It'd be useful to have details on the process of using Managed Identity for AuthN/AuthZ , similar to the page for Functions ... https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions#enable-authentication-for-azure-functions

Ala ... https://adatum.no/azure/azure-logic-apps/access-to-blob-storage-using-managed-identity-in-logic-apps

---
#### Document Details

⚠ *Do not edit

[2020-02-28 16:20] KrishnaG-MSFT commented on #49155
@pwouavre Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-28 16:22] KrishnaG-MSFT commented on #49162
@Cashfl0w Thanks for the comment. I will correct it and will update you soon.

[2020-02-28 16:25] macambo opened #49169 "cannot import name 'BlobServiceClient', 'ContainerClient', and 'BlobClient' from azure storage blob library"
I've installed azure-blob-storage through a pip install. I am using Python 3.6

The installation works, but then I am not able to import any of the packages 'BlobServiceClient', 'ContainerClient', and 'BlobClient'

Please advise or let me know if you need more information.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-02-28 16:35] markjbrown commented on #49113
@Mike-Ubezzi-MSFT can you assign this to @ThomasWeiss ?

Thanks.

[2020-02-28 16:38] mimckitt commented on #29547
We have done some work on the VM sizes doc. If issues are still present please open a new issue and it will be assigned to the correct owner :)

[2020-02-28 16:38] #29547 closed

[2020-02-28 16:39] mimckitt commented on #46137
We have done some work on the VM sizes doc. If issues are still present please open a new issue on the doc you want to see more information and it will be assigned to the correct owner :)

[2020-02-28 16:39] #46137 closed

[2020-02-28 16:40] b-juche commented on #47581
Thanks, @Aitor1972.  Copying @lichunli-ms so that she sees your input.

[2020-02-28 16:40] lalitprasad opened #49170 "Frequency value to be updated"
Page mentions at multiple place Frequency value as 1 min. As per Azure Portal, the latest Alert design cannot define a Frequency of 1 min. Minimum frequency value can be defined is 5 minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e35140-5a03-b8a1-d17c-b06b7cbb03db
* Version Independent ID: 4c16ba87-0e6e-f60e

[2020-02-28 16:41] BrianLevenson commented on #44242
@azhar787 I'm glad it's been resolved for your scenario, and although I noticed that you had seen the invoice, I wasn't positive if that was full resolution.

I can also confirm that the Ops and Product teams are collaborating on 1) simplifying the payout processes and policies and 2) updating documentation to be more clear

[2020-02-28 16:42] mimckitt commented on #48388
We have done some work on the VM sizes doc. If issues are still present please open a new issue on the doc you want to see more information and it will be assigned to the correct owner :)

[2020-02-28 16:42] #48388 closed

[2020-02-28 16:44] ghills commented on #48580
@SubhashVasarapu-MSFT thank you for the response.

Unfortunately the example and feature request you provided don't really address what I am looking for which is to understand which field (cookie name, query parameter, etc..) triggered the rule violation.

However, it sounds like that doesn't exist at this point so I guess we can go ahead and close this issue. I may submit an Azure feedback reques

[2020-02-28 16:48] mimckitt commented on #46721
@axayjo can you take a look at this one?

[2020-02-28 16:49] Tam66662 opened #49171 "createOptions needs proper documentation"
**Relevant Azure Service or Technology:** IoT Edge Module
**Published Documentation:** https://docs.microsoft.com/en-us/azure/iot-edge/module-edgeagent-edgehub
**Feedback:**

There is zero documentation or examples from Microsoft on how to properly configure the createOptions feature to send flags to docker.  The current documentation links you directly to Docker's explanation of the "Create Conta

[2020-02-28 16:50] Tam66662 commented on #5417
@Mike-Ubezzi-MSFT
Thanks, Mike.  I have opened a new issue: https://github.com/MicrosoftDocs/azure-docs/issues/49171

[2020-02-28 16:50] DougPetrole opened #49172 "Add Column for Ephemeral OS Disk support for Windows 10 multi-session"
The goal of this would be to clarify which VMs are compatible with the 127 GB Windows 10 multi-session images and increase Windows Virtual Desktop (WVD) adoption.

It is hard to tell which VM sizes are supported and which are not - the cache disk size is buried at the end of the busiest part of each row's details. If that instead lived as a separate column (say, next to Temp Disk) or as a column t

[2020-02-28 16:50] msmimart commented on #48444
@Surry44 Thanks so much for this suggestion. I’ve added this request as a documentation product work item so we can track it internally and make the updates as soon as we can.
#please-close

[2020-02-28 16:50] #48444 closed

[2020-02-28 16:52] msmimart commented on #48233
I hope this helps. We'll go ahead and close this issue now, but if you have other questions on this feel free to let me know.
#please-close

[2020-02-28 16:52] #48233 closed

[2020-02-28 16:53] msmimart commented on #40603
#please-close

[2020-02-28 16:53] #40603 closed

[2020-02-28 17:03] markjbrown commented on #7705
The issue from a documentation perspective is closed as we've explained the behavior.

We have a backlog item to provide case-insensitive search and will release this functionality in a future release. You can track that from here. https://feedback.azure.com/forums/263030/suggestions/36119482

Thanks.

[2020-02-28 17:12] kraigb commented on #42861
@ujlm I've been trying to reproduce your solution here to update the documentation but am not having any success.

Can you confirm that you're still using App Service for Windows? I ask because when changing the Node.js version via the portal to, say, Node 12 LTS (which would be the latest version in the list), the portal automatically switches to Linux. In that case, the web.config file isn't eve

[2020-02-28 17:13] BrianLevenson commented on #49108
Hey @Jont-K, you've accurately summarized the scenario and also an opportunity to clarify both the documentation and functionality. Ts&Cs are set at the offer level, and the customer specific terms are done via amendment, which requires the Standard Contract. Private pricing and customer specific offers are done at the plan level.

So to summarize:
- we should update this article to clarify that c

[2020-02-28 17:14] mehdijalal opened #49174 "File upload not correctly documented"
If you want to upload a new file, there is no documentation or sample, it is just for creating and uploading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content: [Quickstart: Azure Blob storage library v12 - JavaSc

[2020-02-28 17:16] BrianLevenson commented on #48884
I'm following up with the tax policy owner and will help connect that person with the article owner for appropriate updates.

[2020-02-28 17:17] BrianLevenson commented on #48884
Is this related to this same tax article? Doesn't appear relevant to this article, and I suspect it's for the SaaS publishing article - is that right?

1. Description field - the document says the character limit is 3k, but
does not explicitly say the 3K limit includes html markup.  Please clarify
this language
2. Medium image - the listing process require's a medium image but the
document and the

[2020-02-28 17:17] mmacy commented on #48883
@sgdesmet I'll close this one out for now, but do let us know if you feel that's been done so prematurely.

@dotnetgator Thanks for the workaround!

#please-close

[2020-02-28 17:17] #48883 closed

[2020-02-28 17:19] Jont-K commented on #48884
Thanks, Brian.  I might've associated my follow up comment with the wrong
topic ( i have a few outstanding).

These comments should be associated with the "Create a new SaaS offer"
document.

Great catch, Brian, apologies for the confusion.

Jont

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Fri, Feb 28, 2020 at 11:17 AM Brian Levenson <notifications@github.com>
wrot

[2020-02-28 17:28] cijothomas commented on #48379
The application insights doc applies to regular usage of application insights. Azure functions are special case, and functions specific docs should be consulted.

[2020-02-28 17:40] veyalla commented on #48565
@manueljesusrd You're correct. It is currently not possible to use a TPM to secure gateway certificates.  Note, the term "gateway" certificates is a bit of a misnomer because the same certs are used to establish trust between local modules and edgeHub.

[2020-02-28 17:40] anavinahar commented on #48786
I agree, I am not sure what the previous owner intended.
However, I have made changes to this doc along with multiple others as the current product owner.
Thanks for your feedback. This is in PR already and will go live shortly.

I will close the issue, once the changes are live.

[2020-02-28 17:43] SamaraSoucy-MSFT commented on #48794
@sahilpnckr123 I've reached out to the product team to find out if that's possible. Application Insights, Log Analytics, and OMS are all being combined into Azure Monitor, but I'm not sure if this particular capability has been added to App Insights yet.

[2020-02-28 17:46] ecfan commented on #47279
Hi @mganeshphani,

A doc update should appear today. Here's a preview:

SFTP-SSH actions that support [chunking](https://docs.microsoft.com/azure/logic-apps/logic-apps-handle-large-messages) can handle files up to 1 GB, while SFTP-SSH actions that don't support chunking can handle files up to 50 MB. Although the default chunk size is 15 MB, this size can dynamically change, starting from 5 MB and

[2020-02-28 17:46] ramadarla opened #49175 "Do we still need to do link partner at subscription level"
Previously for EA subscriptions we need link partner id for each subscription. Does this process "Link to a partner ID in the Azure portal." will link all subscriptions ? I did this with owner account which has access on all subscriptions.
if we need to link for each subscription, please update this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-02-28 17:58] lichunli-ms commented on #47581
@Aitor1972 yes, we're working on adding a native support for snapshot policy. Adding native backup support is also on the roadmap.

[2020-02-28 18:07] mjannapureddy07 opened #49176 "Upgrade AzCopy from V7.1 to v10.3"
Is there any documentation that shows a step by step to upgrade the azcopy from one version to other on linux distributions. I did download the latest version (v10) of azcopy on my local. But still it points to old version (Previously installed Version-V7.1). Any suggestions ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-28 18:07] CharmanderJieniJieni opened #49177 "Is RBAC intended for resource roles only"
I see from this document https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#security-administrator there is a list of AD roles which is not tied to Management Group/Subscription/Resource Group/Resources. This document seems not applicable to AD roles. Is it correct?

Can I read it as Azure roles consists of AD roles and Resource roles?

---
####

[2020-02-28 18:07] aahill commented on #49103
@danielkon96 we've updated the link to point at the right location: https://github.com/Azure-Samples/cognitive-services-REST-api-samples/tree/master/dotnet/Language/TextAnalyticsSentiment.cs

This should be live in the docs soon.

Thanks!

#please-close

[2020-02-28 18:07] #49103 closed

[2020-02-28 18:15] normesta commented on #49176
Hi @mjannapureddy07 I'm less familiar with Linux, but the guidance in that article mentions updating your path. On Windows, there's a defined procedure for updating your PATH variable so that you can run the AzCopy exe from any directory on your system. On Linux, there should be a similar procedure. I just can't give specifics on what that procedure is and updating path variables is beyond the sco

[2020-02-28 18:15] SumanthMarigowda-MSFT commented on #49174
@mehdijalal Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-28 18:15] SumanthMarigowda-MSFT commented on #49176
@mjannapureddy07 Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-28 18:15] SumanthMarigowda-MSFT commented on #49148
@cananac Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-28 18:16] PeterTurcan commented on #48700
@AshokPeddakotla-MSFT Thanks for investigating the issue. I am actually using the BackEndApplication.js file with my own client code.  I am not sure how this might effect the error messages. I have made no changes to the BackEndApplication.js file, other than the connectionString.

[2020-02-28 18:20] mjannapureddy07 commented on #49176
Yes but AzCopy is not managed through the usual package management. So I am unsure even on how to uninstall the older version. The document would have mentioned ways to upgrade from previous to new versions.

[2020-02-28 18:23] MartinJaffer-MSFT commented on #49150
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-02-28 18:25] roygara commented on #49144
Hello @ytugarev , thanks for reaching out.

This information is already in the article, above the table: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-types#performance

It's not in the table because not only is it a formula with a base minimum but, as you see, the sizes of ultra disks can be user determined past a point. You'll have to calculate it for your sizes.

@VikasPul

[2020-02-28 18:25] #49144 closed

[2020-02-28 18:39] amillion8 commented on #17029
I am also looking for the update on this issue. The documentation is not clear and does not provide good examples.

[2020-02-28 18:41] #47586 closed

[2020-02-28 18:47] rolyon commented on #46528
Hi @venkat1017
We've updated this article which hopefully will be helpful. Let us know if you have any additional feedback.
https://docs.microsoft.com/en-us/azure/role-based-access-control/change-history-report
thanks

[2020-02-28 18:47] rolyon commented on #46528
#please-close

[2020-02-28 18:47] #46528 closed

[2020-02-28 18:48] tsarna opened #49180 "Missing ACU for DC series"
ACU rating for DC series is missing. There was a previous bug about this #29547 that was closed without fixing it -- very annoying!

The information should be added both here and at https://docs.microsoft.com/en-us/azure/virtual-machines/acu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 616242df-d3da-e9b3-73b0-fba7ae7

[2020-02-28 18:49] tsarna opened #49181 "ACU rating missing for DCv2"
The page directs the reader (under Next Steps) to learn more about ACUs, but neither this page nor the linked page https://docs.microsoft.com/en-us/azure/virtual-machines/acu has ACU information for this series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aca0ec03-776b-fb48-3c1d-82dc11916534
* Version Independent ID

[2020-02-28 18:51] MarileeTurscak-MSFT commented on #49141
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-28 18:52] Mike-Ubezzi-MSFT commented on #48591
@randomor We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-28 18:52] #48591 closed

[2020-02-28 18:54] Mike-Ubezzi-MSFT commented on #48713
@AgSync-Aaron We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-28 18:54] #48713 closed

[2020-02-28 18:54] SumanthMarigowda-MSFT commented on #48916
@langstonj  Your feedback has been shared with the content owner for further review.

[2020-02-28 18:55] Mike-Ubezzi-MSFT commented on #48811
@paul-lorica We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-28 18:55] #48811 closed

[2020-02-28 18:58] KranthiPakala-MSFT commented on #48865
Please do share the forum link here once query is posted.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-02-28 18:58] #48865 closed

[2020-02-28 19:00] ThomasWeiss commented on #49113
@vanthoainguyen can you please send your Azure subsription ID and Cosmos DB account name to thweiss (at) microsoft (dot) com, so I can give you the best recommendation?

[2020-02-28 19:03] dahovey commented on #49076
Can't believe I didn't see that. Yes that it is. Thanks.

I do see it now but would also like to recommend some re-organization so information is easier to locate. On the right panel "In this article", the "Run your code" doesn't seem to match with the contents of technical aspects of file synchronization and routing. While I understand these are aspects of "running your code", such features, I co

[2020-02-28 19:04] #49076 closed

[2020-02-28 19:06] mmacy commented on #48396
@koo9 Hi Keven, I'm unsure how to proceed on this one. Have your questions been answered to your satisfaction? It looks like your last comment was more of a statement than question, so unsure whether we're OK to close this issue out or you still have outstanding items to be addressed.

Cc: @JasSuri @yoelhor

[2020-02-28 19:06] Licantrop0 opened #49182 "CacheFilePath incompatible with MSIX"
If the CacheFilePath  is defined as follow:

public static readonly string CacheFilePath = System.Reflection.Assembly.GetExecutingAssembly().Location + ".msalcache.bin3";

And you try to package the app with MSIX, after installing you get a runtime exception in KERNELBASE.dll.
This error in your documentation costed me 2 days of debugging.
Also, the CacheFilePath doesn't need to be public.

Please

[2020-02-28 19:09] tamram commented on #48916
#reassign: @mhopkins-msft

@mhopkins-msft , could you address this one?

[2020-02-28 19:12] joelpelley commented on #49172
I definitely understand the ask and get the intent.  The challenge is the number of possible combinations of OS choices beyond Windows and VMs relative to using the Ephemeral OS Disk.  The table would grow too large too fast.  I have asked internally if we could create a future feature around this in Portal to help make it more clear.  In the meantime, the best guidance on Ephemeral OS Disk is fou

[2020-02-28 19:15] BryanTrach-MSFT commented on #49147
@fhlmbrg Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 19:16] BryanTrach-MSFT commented on #49143
@juanand Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 19:17] BryanTrach-MSFT commented on #49161
@timnot90 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 19:19] joelpelley commented on #49172
#please-close

[2020-02-28 19:19] #49172 closed

[2020-02-28 19:25] JonShelley opened #49183 "Documentation is missing how to capture a Generation 2 image"
This document needs to be updated for how to capture Gen 2 images.  Below is the change that need to be pointed out in step 2.3 if the user wants to capture a Gen 2 image since a Gen 1 image is created by default.

az image create --resource-group <rg-name> --name <image-name> --source $vm_name  **--os-type linux --hyper-v-generation V2 --storage-sku Premium_LRS**

---
#### Document Details

⚠ *Do

[2020-02-28 19:27] atycholis commented on #49122
I downloaded it from this source: https://dev.mysql.com/downloads/shell/

I am using this syntax from above:
mysql --host <fully qualified server name> --user <server admin login name>@<server name> -p

ERROR: 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near <my command>

[2020-02-28 19:29] atycholis commented on #49122
mysql --host 'fully qualified server name' --user 'server admin login name'@'server name' -p

[2020-02-28 19:29] BharathNimmala-MSFT commented on #49149
@AnjaniChallamcherla Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 19:32] normesta commented on #49063
Hello @duarte-ribeirinho can you please tell me why you believe that the link labeled "Storage Analytics Logged Operations and Status Messages" is outdated. Currently that link points to this page: [Storage Analytics logged operations and status messages](https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-logged-operations-and-status-messages) which appears to be correct a

[2020-02-28 19:35] BharathNimmala-MSFT commented on #49151
@qhaitoNNV Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-28 19:36] koo9 commented on #48396
@mmacy I don't think I am getting a satisfied answer yet. the RP is for using multiple IDPs and each IDP will its own oid so if I want to get a uniform claims in the token, looks like some kind of conditional logic is required and I don't know if I can do that with the xml.

[2020-02-28 19:38] dhirajgandhi commented on #49175
No, you don't need to link to each subscription. You only need to associate with your account.

[2020-02-28 19:39] BharathNimmala-MSFT commented on #49170
@lalitprasad Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-28 19:42] BharathNimmala-MSFT commented on #49177
@CharmanderJieniJieni Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-28 19:43] olivoarroba commented on #49112
Hi @lyrana: So I want to explore the aggregations, if I want to do some custom aggregations what options do I have to do. For example, I wanted to test a simple custom aggregation where I substract the first value of the period from the last value, something like:  last($value)-first($value). The TSI GUI gives me an error of 'Invalid aggregate expression(s)'. But then, I have no guidance of what w

[2020-02-28 19:44] pbutlerm commented on #48733
Hi @mhopkins-msft,

I would be helpful putting a note on top of this document referencing the v12, because I wasted 15 min until I realized that the new SDK docs are here https://docs.microsoft.com/en-us/azure/storage/queues/storage-quickstart-queues-python

[2020-02-28 19:46] gamullen opened #49185 "Change "On-Premise" to "On-Premises" In Image"
[Enter feedback here]

Misspelling in image.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1bef-86bbcbfea8ff
* Content: [Integration runtime - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-ru

[2020-02-28 19:47] SaurabhSharma-MSFT commented on #49159
@rajeshkhanikar Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-28 19:48] atycholis commented on #49122
Figured it out, turns out I needed the correct path + bash.
Thank you.

[2020-02-28 19:49] SaurabhSharma-MSFT commented on #49182
@Licantrop0 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-28 19:50] SaurabhSharma-MSFT commented on #49166
@CharmanderJieniJieni Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-28 19:53] fgheysels commented on #48467
I've gone through [this](https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist) document, where it is described that you need to install production certificates on the device.
However, what must be done on the IoT Hub side ?  I can imagine that the root certificate of the certs that are installed on the device must be known by iot hub ?

[2020-02-28 19:53] BharathNimmala-MSFT commented on #48885
@corporateg Thank you for the feedback, a PR has been raised to incorporate the feedback into the document. Once reviewed and approved, the document would reflect the changes. Thanks

[2020-02-28 19:54] curtand commented on #39198
Hi @ali-hamud
The 300K object limit is a service limit. The 500K figure is for pricing tier definition only. I added a note to this effect to the service limits page.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/106008

#please-close

[2020-02-28 19:54] #39198 closed

[2020-02-28 19:56] mamccrea commented on #47164
We are still investigating this issue. Thank you for your patience.

[2020-02-28 19:57] curtand commented on #46218
Hi @ilantz
The note is added. The 300K object limit is a service limit. The 500K figure is for pricing tier definition only. I added a note to this effect to the service limits page.

MicrosoftDocs/azure-docs-pr#106008

#please-close

[2020-02-28 19:57] #46218 closed

[2020-02-28 19:59] Mike-Ubezzi-MSFT commented on #48800
This issue has been escalated via Teams to PG, and is waiting for confirmation of steps to resolve.

[2020-02-28 20:03] YutongTie-MSFT commented on #48779
@PatrickFarley Hi Patrick, could you please update the document if necessary? Thanks.

[2020-02-28 20:03] BharathNimmala-MSFT commented on #48964
@sinner883 Thanks again for sharing your feedback. At this point it appears that there's no further edits or updates needed to the documentation. Will go ahead and close this issue for now, however if you have any further queries please tag us in your reply and we can continue the conversation. Thank you.

[2020-02-28 20:03] #48964 closed

[2020-02-28 20:04] YutongTie-MSFT commented on #48784
@jpe316 Hi Jordan, could you please help us check on this item? Thanks.

[2020-02-28 20:04] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 In order to get the user sign-in logs for you app to identify legacy authentication you need Azure AD Premium P1 or P2 license.  Without this license you won't be able to get the logs -

Ref: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins#what-azure-ad-license-do-you-need-to-access-sign-in-activity.

[2020-02-28 20:07] berndverst opened #49186 "This tutorial should use Managed Identities to Access ACR"
This tutorial no longer recommends the best practice for authenticating App Service with ACR. It is a bad practice to enable the ACR admin mode to get the necessary credentials. Instead a managed identity should be used.

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#using-the-azure-cli
https://docs.microsoft.com/en-us/azure/container-registry/container-r

[2020-02-28 20:09] BharathNimmala-MSFT commented on #48872
@philippkahr Thank you for sharing the feedback and really appreciate your ideas to enhance our Azure documentation. I will make sure to forward this feedback to our document authoring team and the Product team to further evaluate and see when and how they can incorporate this into existing documentation.  Will go ahead and close this issue for now, however will make sure to update the thread once

[2020-02-28 20:09] #48872 closed

[2020-02-28 20:10] Karishma-Tiwari-MSFT commented on #49163
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-28 20:13] jftl6y opened #49187 "Update documentation regarding PCI compliance"
The section "Is App Service compliant with PCI Standard 3.0 and 3.1?" is incorrect and out of date.  Please update to accurately reflect PCI compliance and the ability with App Services to set a minimum TLS version (or perhaps just link to the current compliance documentation in Trust Center).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-02-28 20:27] RaviMSHybd opened #49189 "Restart commands to be reset to Start"
Hello, all Restart-AzVm commands need to be reset to Start-AzVm as VMs won't restart after stopping them in a previous command. Hence, scripts fail once done with updating using Update-AzVm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34525b2-3bf1-d23a-2712-3e8a124a32e0
* Version Independent ID: 632314eb-3599-03ca-6

[2020-02-28 20:29] roygara commented on #48782
@crispygoth We've gone ahead and added a small statement for this. It'll be live later today.

Accordingly, I'm closing this out.

Thanks for reaching out.

#please-close

[2020-02-28 20:29] #48782 closed

[2020-02-28 20:37] curtand commented on #39628
Hi @Lelivienne
I have confirmed with engineering that the preview module is still the recommendation.

#please-close

[2020-02-28 20:37] #39628 closed

[2020-02-28 20:45] curtand commented on #40530
Hi @richardpomerleau
This is in the docs now. Thank you for your consideration.

#please-close

[2020-02-28 20:45] #40530 closed

[2020-02-28 20:49] BillSproule opened #49190 "New-VMSwitch fails on Azure VM running WinServer 2019"
New-VMSwitch -Name "InternalNAT" -SwitchType Internal
Above command fails with:
New-VMSwitch : Hyper-V encountered an error trying to access an object on computer 'xxx' because the object
was not found. The object might have been deleted. Verify that the Virtual Machine Management service on the computer
is running.

Using Azure Image Builder to create an Azure VM shared image.  During a powershel

[2020-02-28 20:54] felickz commented on #36124
@ronitr-zz - ALSO same problem when trying to set a BASELINE on these vulnerability assessments... requires the FW on storage account to be disabled.  Is PrivateLink the answer here?

[2020-02-28 20:55] lshunnarah77 opened #49191 "Integrated with Private DNS Zone issue/question"
I've setup a private endpoint for an Azure SQL Database following this article and everything seemed to work properly.  My issue seems to arise when attempting to connect to the database using SSMS and the FQDN provided during setup of the private endpoint.  NSlookup is not showing the private IP.  I'm a little hazy on how this works.  The VNET I have the endpoint on is an internal VNET and we are

[2020-02-28 20:56] normesta commented on #48449
Thank you for the feedback @vermegi! That Quickstart template is intended only as an example. There are many settings not configured as part of it. Our guidance is to modify that template to enable HNS or modify any other setting as per specific requirements. I've added a note to help clarify that guidance. That note will appear live shortly. Just below the sample snippet are links to guidance abo

[2020-02-28 20:56] normesta commented on #48449
#please-close

[2020-02-28 20:56] #48449 closed

[2020-02-28 21:14] trexx00 commented on #47676
Also seeing those 2 errors. Looking for solutions or clarification.

Thanks

[2020-02-28 21:17] linxlims opened #49192 "split \n doesn't work"
split(variables('Test'), '\n') doesn't work. I clicked 'Peek Code' and saw it converted single slash to double slash ( "value": "@split(variables('Test'), '\\n')"). Is that the reason why it doesn't work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5e

[2020-02-28 21:18] linxlims commented on #49192
"value": "@split(variables('Test'), '\\n')"

[2020-02-28 21:21] #48954 closed

[2020-02-28 21:25] linxlims commented on #49192
Test =
"test1
test2"

[2020-02-28 21:27] nibaccam commented on #47241
Thank you for your suggestion. The article has been updated and the changes should be live later today. We will now proceed to close this thread.
#please-close

[2020-02-28 21:27] #47241 closed

[2020-02-28 21:30] curtand commented on #41742
Hi @mwolfaardt
Security groups are fully supported for licensing purposes and as far I can confirm they are not treated any differently. The article in question should have PowerShell examples and doesn't. I'm taking a work item to put that together. It will be triaged and prioritized with the rest of my work, but usually the PM writes for this feature so I might just be the driver for this. Closi

[2020-02-28 21:30] #41742 closed

[2020-02-28 21:34] roygara commented on #48525
@CHDAFNI-MSFT Thanks for calling this out and helping us to improve the docs. I've gone ahead and merged a change for this, it'll be live later today.

Accordingly, I'm closing this out.

Thanks for reaching out!

#please-close

[2020-02-28 21:34] #48525 closed

[2020-02-28 21:38] TomShinder opened #49194 "No issues. Just testing the system."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/en-us/azure/guides/developer/azure-developer-guide#feedback)
* Conten

[2020-02-28 21:40] cainmich opened #49195 "Missing"
This code above is missing a wiggly brace

Get-AzResource -ResourceType Microsoft.OperationalInsights/workspaces -ExpandProperties | foreach {
if ($_.Properties.features.enableLogAccessUsingOnlyResourcePermissions -eq $null)
    { $_.Properties.features | Add-Member enableLogAccessUsingOnlyResourcePermissions $true -Force }
else
    { $_.Properties.features.enableLogAccessUsingOnlyResourcePermissi

[2020-02-28 21:41] curtand commented on #42645
Hi @v-maudel
There are some differences in functionality between some sovereign clouds, and that should be reflected in your regional documentation. Feature parity between sovereign clouds is being rolled out quite soon. Thanks for your contribution!

#please-close

[2020-02-28 21:41] #42645 closed

[2020-02-28 22:00] menih opened #49196 "Subscription is not registered for feature Microsoft.Network/AllowVirtualNetworkTap"
I am trying to create a TAP per instruction and already enabled the preview on my subscription. But when I execute the command, I get the following error:

Subscription XXX is not registered for feature Microsoft.Network/AllowVirtualNetworkTap

[2020-02-28 22:02] vhorne commented on #47455
@gtracer The article has been updated.
#please-close

[2020-02-28 22:02] #47455 closed

[2020-02-28 22:03] Grace-MacJones-MSFT commented on #48979
@sffamily any insight on this?

[2020-02-28 22:04] anavinahar commented on #48786
#please-close

[2020-02-28 22:04] #48786 closed

[2020-02-28 22:14] anavinahar commented on #48284
Ping @ticianaciminari

[2020-02-28 22:15] troyhopwood commented on #28387
Device Simulation doesn't have any support for file uploads. You could certainly update the code to do so, but it would be significant work. You would have to add a new capability into the C# code.

[2020-02-28 22:20] jtbummer commented on #49191
You will have to add a forwarding zone on your custom DNS for th azure private zone and an a record for your endpoint  i think

[2020-02-28 22:23] normesta commented on #48527
@Ayanmulick my understanding is that if the browser can read a file, it doesn't matter what server is serving up the files. The browser interprets how to present a file based on recognized extensions. A browser can absolutely load markdown files from your storage account via a static site. Are you experiencing something different? Thank you.

[2020-02-28 22:24] normesta commented on #48527
@Ayanmullick sorry - I missed one "L" in my last response. Pasted again - my understanding is that if the browser can read a file, it doesn't matter what server is serving up the files. The browser interprets how to present a file based on recognized extensions. A browser can absolutely load markdown files from your storage account via a static site. Are you experiencing something different? Thank

[2020-02-28 22:32] normesta commented on #40403
Thank you for this suggestion. I've added a work item to our backlog to explore this as a future article.

[2020-02-28 22:32] normesta commented on #40403
#please-close

[2020-02-28 22:32] #40403 closed

[2020-02-28 22:33] cynthn commented on #49189
#assign @cynthn

[2020-02-28 22:34] cynthn commented on #49189
@RaviMSHybd Thanks for the feedback! I have filed a pull request to make the changes. Thanks again :)

#please-close

[2020-02-28 22:34] #49189 closed

[2020-02-28 22:37] ghills commented on #48580
For reference - here is the feature request for Azure: https://feedback.azure.com/forums/217313-networking/suggestions/39822109-log-the-violating-field-for-azure-frontdoor-waf-lo

[2020-02-28 22:37] #48580 closed

[2020-02-28 22:39] ecfan commented on #47279
Hi @mganeshphani, this doc update is now live:

https://docs.microsoft.com/azure/connectors/connectors-sftp-ssh#limits

I hope this information helps explain the behavior that you're seeing. I'll now proceed with closing this issue, but if you have more questions about this subject, please tag me and @divyaswarnkar in your reply. We'll gladly continue the discussion and reopen the issue.

[2020-02-28 22:40] #47279 closed

[2020-02-28 22:43] Grace-MacJones-MSFT commented on #49187
Hi @jftl6y, thanks for the feedback! We are currently investigating and will update the doc shortly.

[2020-02-28 22:44] Karishma-Tiwari-MSFT commented on #46676
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-28 22:44] #46676 closed

[2020-02-28 22:45] mike-urnun-msft commented on #49168
@steveculshaw Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-28 22:47] mike-urnun-msft commented on #49192
@linxlims Thank you for your feedback! We will review and update as appropriate.

[2020-02-28 22:49] Grace-MacJones-MSFT commented on #49186
Hi @berndverst, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@msangapu can you please look into this? Thanks

[2020-02-28 22:53] BharathNimmala-MSFT commented on #49195
@cainmich Thank you for bringing this to our notice, we will validate it and fix the document accordingly.

[2020-02-28 22:57] NorthHighlandNicole opened #49200 "What is the point in the Connection member?"
What is the point in the Connection member, it is never used?
`public static ConnectionMultiplexer Connection
        {
            get
            {
                return lazyConnection.Value;
            }
        }`

Notice that in the code it directly calls `lazyConnection.Value.GetDatabase();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-28 23:01] JasonWHowell commented on #47376
@raybellwaves @fourjacks @greglandrum  Thanks for alerting me about this problem.

I tried to set up conda environments and export to .yml, and uploaded that .yml to my project, but the Azure Notebooks project wouldn't pick up that environment.yml to apply it, just as you all have determined.

For now, I cannot fix the issue myself (I own the docs though), but the Azure Notebooks product team is a

[2020-02-28 23:01] #47376 closed

[2020-02-28 23:14] BharathNimmala-MSFT commented on #49154
@qhaitoNNV Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-02-28 23:14] Karishma-Tiwari-MSFT commented on #48655
Thanks for sharing the update.

[2020-02-28 23:14] #48655 closed

[2020-02-28 23:16] Karishma-Tiwari-MSFT commented on #49160
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-28 23:18] kobulloc-MSFT commented on #48325
@SychevIgor To see components in the Application  Map, the user would need a Reader role for the Application Insights resource.  If the user does not have permission to see a resource (e.g. resource B) that is linked to a resource they do have permission to see (e.g. resource A), then they would only see the node they have permission to see (resource A) in the Application Map.

Application Map is

[2020-02-28 23:20] mike-urnun-msft commented on #49074
@kilagg I see, I would take a look at the environment again and make sure the [virtual env and other prerequisites are installed & configured properly](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python?tabs=bash%2Cbrowser#prerequisites). Alternatively, this could be something related to the [python worker](https://github.com/Azure/azure-functions-python-

[2020-02-28 23:22] mslot opened #49201 "Pricing pr database"
This doc doesn't say anthing about pricing when adding a new database. Does it cost anything at all? Or is the pricing soly based on the eDTU, and can I then add as many databases as I want?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954fdc5f-1572-c6a5-eb19-22e890b1174f
* Version Independent ID: b5776cca-f233-4c34-

[2020-02-28 23:23] Karishma-Tiwari-MSFT commented on #49181
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-28 23:26] Karishma-Tiwari-MSFT commented on #49180
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-28 23:27] MarileeTurscak-MSFT commented on #48791
Devices that are Azure AD joined are owned by an organization, and are signed in with an Azure AD account belonging to that organization. They exist only in the cloud.

Devices that are hybrid Azure AD joined are owned by an organization, and are signed in with an Azure AD account belonging to that organization. They exist in the cloud and on-premises.

More explanation here: https://docs.microsof

[2020-02-28 23:30] Karishma-Tiwari-MSFT commented on #49183
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-28 23:30] SaurabhSharma-MSFT commented on #49069
@chrisoc5 We do not have that roadmap available for these specific features, however, you can get the latest updates on [Azure updates](https://azure.microsoft.com/en-us/updates/?status=indevelopment&category=identity) for any in development, upcoming or in GA features.

[2020-02-28 23:32] #43755 closed

[2020-02-28 23:35] SaurabhSharma-MSFT commented on #48662
@Ashok103606 No, I do not think any cmdlet exists which displays the information like a report.  You may try writing PowerShell script to go through all applications and display matched applications.

[2020-02-28 23:37] BharathNimmala-MSFT commented on #49164
@Prateek1584990 Thank you for your question. Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the Azure documentation. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-28 23:37] brycepolly opened #49202 "Emitting usage events based on the terms consumption"
The doc states that I should only event usage events when: "the consumption exceeds the included quantities set for the term selected by the customer, your service will emit usage events to Microsoft."
For a monthly metered subscription, the subscription api does not include the term start and end date though:
{ term: { termUnit: "P1M"} }

If I offer 25 widgets in my base monthly price, and then c

[2020-02-28 23:38] JasonWHowell commented on #48931
Thanks for alerting me about this problem.

I tried to set up conda environments and export to .yml, and uploaded that .yml to my project, but the Azure Notebooks project wouldn't pick up that environment.yml to apply it, just as you all have determined.

For now, I cannot fix the issue myself (I own the docs though), but the Azure Notebooks product team is aware and will work on in according to t

[2020-02-28 23:38] #48931 closed

[2020-02-28 23:40] BharathNimmala-MSFT commented on #49142
@alankinane Thank you for sharing the documentation link, our team will further look into this and get back to you at the earliest.

[2020-02-28 23:42] BharathNimmala-MSFT commented on #49169
@macambo Thank you for your question. Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the Azure documentation. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-28 23:42] Karishma-Tiwari-MSFT commented on #49163
I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-28 23:42] #49163 closed

[2020-02-28 23:44] BharathNimmala-MSFT commented on #49171
@Tam66662 Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-02-28 23:45] Karishma-Tiwari-MSFT commented on #49190
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-28 23:47] BharathNimmala-MSFT commented on #49175
@dhirajgandhi Thank you for helping on this thread.

@ramadarla Thank you for your query and hopefully the information shared by @dhirajgandhi is helpful. Please let us know if you have any other queries. Thanks

[2020-02-28 23:48] SaurabhSharma-MSFT commented on #49166
@CharmanderJieniJieni No, it is meant for users and not for service principals and managed identities.

[2020-02-28 23:50] BharathNimmala-MSFT commented on #49191
@lshunnarah77 Thank you for your query.

@jtbummer  Thank you for helping on this thread.

[2020-02-28 23:52] TravisCragg-MSFT commented on #49154
@qhaitoNNV Thanks for the feedback! As this is feedback about the product, and not about the doc, the best place to give this feedback is at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discu

[2020-02-28 23:52] #49154 closed

[2020-02-28 23:53] antogh opened #49203 "Oauth 2.0 setting totally ignored, same as leaving user authorization=none"
I have followed the instructions. I can register the oauth 2.0 server but when I add it to the API security setting

![oauth-07](https://user-images.githubusercontent.com/8667587/75595855-553ae380-5a8e-11ea-909f-555c13384305.png)

it has no effect, the API can be called by any client as when security was "none" . Additionally Developer portal does not work, when I click the link from the overview

[2020-02-28 23:55] TravisCragg-MSFT commented on #49191
@lshunnarah77 Add an A record to your internal DNS with the DNS name to the private link IP should be all that is needed.

[2020-02-28 23:57] BharathNimmala-MSFT commented on #49194
@TomShinder Thank you Tom for reaching out and testing, just for your information please note that we scope issues on this repo to feedback related to the Azure documentation. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

Will go ahead and close this thread, however if you have any further queries feel free to revert back. Thank you

[2020-02-28 23:57] #49194 closed

[2020-02-29 00:01] BharathNimmala-MSFT commented on #49196
@menih Thank you for your question. Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the Azure documentation. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-29 00:03] ross-p-smith opened #49204 "Example jars were not found at the location in the docs"
In installed 3.6 HDInsight with 2.7 hadoop and the found the jar here "example/jars/hadoop-mapreduce-
examples.jar"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63ece0b5-c8d7-da21-8a7e-3a80a0cdfa01
* Version Independent ID: 22bfdc87-77dd-c36d-893c-cb01eab60b81
* Content: [Run Apache Hadoop MapReduce examples on HDIns

[2020-02-29 00:04] MarileeTurscak-MSFT commented on #48980
@josuvil From my understanding it needs to be set to 0 in order to allow passwords to be changed immediately. Otherwise there will be a delay between when the person changes the password and when the password gets written.

I can see what you mean though and made a pull request to add a note about this and what you mentioned. https://github.com/MicrosoftDocs/azure-docs-pr/pull/106096

CC @iainfoul

[2020-02-29 00:04] #48980 closed

[2020-02-29 00:09] femsulu commented on #48617
@MichyoSYN, the token is called an [access token](https://docs.microsoft.com/en-us/azure/active-directory/develop/developer-glossary#access-token) which is a type of security token typically in JSON Web Token (JWT) format, the token embodies the authorization granted to the client. Access tokens enable clients to securely call APIs protected by Azure.

For a deep dive into how authorization and RB

[2020-02-29 00:10] femsulu commented on #48617
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-29 00:10] #48617 closed

[2020-02-29 00:12] TravisCragg-MSFT commented on #49151
@qhaitoNNV Thanks for the feedback! As this is feedback about the product, and not about the doc, the best place to give this feedback is at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discu

[2020-02-29 00:12] #49151 closed

[2020-02-29 00:18] MarileeTurscak-MSFT commented on #48903
Assigning this to @msimart since it is related to this conversation. https://github.com/MicrosoftDocs/azure-docs/issues/44158

[2020-02-29 00:18] mike-urnun-msft commented on #48787
@seskid It looks like the template was renamed to just Azure Functions, as shown below:
![image](https://user-images.githubusercontent.com/36717703/75596532-e2a61580-5a45-11ea-82d0-b8e4315ce0d9.png)

I've created a PR that updates the screenshot on this doc. Thanks for reporting this and helping us drive improvements towards MS Docs!

[2020-02-29 00:35] mike-urnun-msft commented on #49203
@antogh Thank you for your feedback! We will review and update as appropriate.

[2020-02-29 00:40] lisaguthrie commented on #48650
@Fulgan you actually can use appsettings[.*].json if you prefer. We don't show that method in documentation, due to the risks of putting secrets (i.e. App Config connection strings) in plain text files. But there are no technical limitations, if you understand and mitigate the risks.

In fact, [the managed identity article](https://docs.microsoft.com/azure/azure-app-configuration/howto-integrate-a

[2020-02-29 00:42] lisaguthrie commented on #48647
I just updated the documentation to use the new `ConfigureKeyVault` method instead. Should be live in the next few days.

[2020-02-29 00:51] twooley commented on #49063
@normesta It's actually the "Understanding Azure Storage Billing - Bandwidth, Transactions, and Capacity" link that needs updating.

[2020-02-29 00:54] bachoang opened #49205 "Please document oauth2 Refresh token"
In the navigation sub tree on the left which this page is a part of, we document id token, access token but there is no document for refresh token.  Please document more info about the refresh token in oauth 2:

1) What format are they in?  is this decodable by 3rd party application?
2) What is the guideline for developers using this refresh token?
3) Is there any recommended size for refresh toke

[2020-02-29 00:58] BharathNimmala-MSFT commented on #49185
@gamullen Thank you for bringing this to our notice and sharing your feedback. Our team will further look into it and update the document accordingly.

[2020-02-29 01:00] Mike-Ubezzi-MSFT commented on #48800
@sonalinoolkar This issue is being handled as a support issue and not a doc issue. Please reach out to me directly for further assistance or continue to leverage the established communication channels for ongoing support. Thank you!

[2020-02-29 01:00] #48800 closed

[2020-02-29 01:11] Mike-Ubezzi-MSFT commented on #49200
@NorthHighlandNicole Thank you for bringing this to our attention. Let me take a look at this and will get back to you with an update.

[2020-02-29 01:14] BrianLevenson commented on #48884
Hey @Jont-K few updates here:

1. we are updating this tax article more broadly and will make sure the timing and terminology are clarified
2. the SaaS publication article will be updated to reflect markup counting towards character limit
3. i'm adding clarification that the Medium Image is mandatory
4. Eng is fixing the error color to be red

[2020-02-29 01:20] fume commented on #42522
Any update?

[2020-02-29 01:21] Mike-Ubezzi-MSFT commented on #49201
@mslot You are correct. There is no cost to add a database. Pricing is purely based upon consumption of storage used and eDTUs. There are limits ([Elastic pool eDTU, storage, and pooled database limits](Elastic pool eDTU, storage, and pooled database limits)) and pricing is available from three different service tiers (Basic, Standard, and Premium). Please let me know if you have any additional qu

[2020-02-29 01:22] ShawnTalbert opened #49207 "what is the full type of the http response object?"
The examples (for javascript) lack any info on what the output response object should look like.

the `req` is an HttpRequest (defined in @azure/functions) but the http _response_ object isn't documented anywhere as far as I can see? There is only _implied_  structure that the `res` object has a `body` property?

In the typescript definition (@azure/functions/Interfaces.d.ts) the `Context` interfa

[2020-02-29 01:24] BharathNimmala-MSFT commented on #48952
@dkamstra  Thank you for helping on this issue and sharing the latest status regarding the fix for it.

[2020-02-29 01:24] proguru commented on #49036
@SnehaAgrawal-MSFT Do you have an update for me ?

[2020-02-29 01:26] Mike-Ubezzi-MSFT commented on #49105
@mslot Please take a look at: [Manage Azure SQL Database long-term backup retention](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure)

![Screenshot (736)](https://user-images.githubusercontent.com/37126106/75598278-6fa19c80-5a4f-11ea-9737-48f4091e3390.png)

Please let me know if you have any additional questions.

[2020-02-29 01:41] BrianLevenson commented on #48959
Hi @jethrovaneetvelde - have you enrolled in the commercial marketplace program? I suspect that's the missing step. You can do this by going into Programs or going straight to https://aka.ms/JoinMarketplace

[2020-02-29 02:06] BharathNimmala-MSFT commented on #48971
@ciufudean Currently the [Subject ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#subject) property captures which Azure resource ID the custom metric is reported for. This information will be encoded in the URL of the API call being made. Each API can only submit metric values for a single Azure resource. And also please be aware that you can't emit custom

[2020-02-29 02:09] fiksen99 commented on #14985
@mike-urnun-msft we see this in USGov portal when trying to "Test" an APIM request:
![image](https://user-images.githubusercontent.com/2607336/75598978-63b8d900-5a55-11ea-948f-f78e8907b9d0.png)

[2020-02-29 02:31] BharathNimmala-MSFT commented on #48973
@ciufudean Metrics are available for a 90-day period at no charge. To retain metrics data beyond the 90-day period, metrics data can be routed to a storage account, Azure Log Analytics workspace, or event hub. Corresponding charges apply for storage, Log Analytics, and event hub, respectively. In addition, metric queries are charged for the corresponding API calls required to route data.

For more

[2020-02-29 02:46] FrankHu-MSFT commented on #49090
@simonzhai97 did you clear your cookies and do the single logout?

In addition to that you're saying that you are using local b2c accounts and using the single logout call, and it's not logging the users out?

There are some issues per the feedback here :
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19211881-single-sign-out-in-b2c
https://feedback.azure.com/forums/16

[2020-02-29 02:46] #49080 closed

[2020-02-29 02:46] #49001 closed

[2020-02-29 02:48] FrankHu-MSFT commented on #49095
@Diamondust25 per the docs :

Please let us know if you have any more concerns in regards to this, otherwise I will be closing this out by end of day tomorrow.

[2020-02-29 03:01] Ayanmullick commented on #48527
@normesta , Currently a storage account only loads Text and HTML files. Markdown files prompt download. PFB example links and screenclip.

[https://ayn.blob.core.windows.net/markdowntest/HelloHTML.html](https://ayn.blob.core.windows.net/markdowntest/HelloHTML.html)
[https://ayn.blob.core.windows.net/markdowntest/HelloText.txt](https://ayn.blob.core.windows.net/markdowntest/HelloText.txt)
[https://

[2020-02-29 03:13] BharathNimmala-MSFT commented on #48982
@ababdul  Please find the [XML ](https://aka.ms/site-recovery-public-ips) file where the available Site Recovery service endpoint IP addresses are listed based on region.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in you

[2020-02-29 03:13] #48982 closed

[2020-02-29 03:35] simonzhai97 commented on #49090
Thanks Frank for your input, when you say "do the single logout", I don't know what is the process to "do the single logout", this is my question, how to do it.
I've posted my code in the original post, when signout from website1, it's successful, but website2 stay logged in, I would like website2 also log out, which would be "single sign out".
In the post https://github.com/MicrosoftDocs/azure-do

[2020-02-29 04:42] TravisCragg-MSFT commented on #48936
Make sure that you have unblocked inbound port 1433 on any [NSGs](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview) that could be affecting your managed instance, which could be on the NIC of the managed instance, or most likely the subnet that the managed instance is in.

[2020-02-29 05:51] BharathNimmala-MSFT commented on #49204
@ross-p-smith Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-29 05:56] BharathNimmala-MSFT commented on #49205
@bachoang Thank you for your feedback, our team will further look into it and get back to you at the earliest. Thanks

[2020-02-29 05:58] BharathNimmala-MSFT commented on #49207
@ShawnTalbert Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-29 06:06] abatishchev commented on #43746
Ping. The doc still says nothing about ARM.

[2020-02-29 08:31] Prateek1584990 commented on #49164
@BharathNimmala-MSFT It is customer account , so we cannot share those details.

The url is a generated SAS token url of file share from their storage account in which they want to push the .ispac(which gets created in build pipeline) file using azure DevOps release pipeline to the file share.

in release pipeline, we have added powershell task which contains inline script like below

cd "C:\azcop

[2020-02-29 09:29] SychevIgor opened #49211 "Provide screenshots"
1-2-3 screenshots will give better overview than 1 thousand words

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0880a27b-9437-31a1-ebec-1a892a207b3d
* Version Independent ID: 2df0a3fb-77f1-7cc2-8af0-ce239aacaae7
* Content: [Quickstart: Create Front Door profile for high availability of applications](https://docs.micro

[2020-02-29 09:42] cdtsushant commented on #45598
is this azure VPN client works for only windows NOS or Windows COS also...i was try every possible way to find out the solution but yet things worked

[2020-02-29 09:55] cupacheeno commented on #46412
@moiso0496 - Thanks for the workaround. I have come across a SAML Error instead now in regards to the specified assertion consumer service URL (https://samltestapp2.azurewebsites.net/SP/AssertionConsumer) being invalid. Has anyone else come across this?

[2020-02-29 10:13] mslot commented on #48379
I think, if it is "a special case", and because Azure Functions is a core part of Auzre, that this should be mentioned in the docs :) I love the docs, and really just want it to be even better.

[2020-02-29 10:14] mslot commented on #49105
I haven't any more questions. Thanks!

[2020-02-29 10:14] #49105 closed

[2020-02-29 10:21] mslot commented on #49201
Thanks!

I know eDTU is more expensive, but i could create an elastic pool with 50 eDTU and pay 110 dollars pr month:

![image](https://user-images.githubusercontent.com/544655/75605707-3e73ab80-5ae5-11ea-8da3-ae960a2d78eb.png)

and create either 50 x 0,5 eDTU databases or 1 x 50 eDTU database for the price of 110 dollars.

Is that the correct way of thinking of an elastic pool?

[2020-02-29 10:38] Air-Git opened #49212 "MFA for Service Accounts"
It would be helpful if this article could explain, or link to another that explains, how to handle non-interactive authentication. If you simply bypass MFA, then the account is not protected at all. Some PowerShell modules require a service principal for non-interactive logon; some do not allow a service principal.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.mi

[2020-02-29 10:54] nomansadiq11 commented on #11515
I get this working path base routing, your backend should have same routing path which you configuring in Application gateway.

like
Application Gateway configured as /api/*
Your backend application should have /api/getvalues

So easy to understand the path you are configuring in application gateway should have in your backend.

[2020-02-29 12:14] Prateek1584990 commented on #49164
One more question, I was searching for resolution for this issue and found the below link in which it is said azcopy does not support copying to file share.

https://github.com/Azure/azure-storage-azcopy/issues/248

Does azcopy support copying files  to azure file share?

[2020-02-29 12:39] sapieneptus opened #49213 "Third argument to `create_block_blob` is incorrect"
Hello,

The third argument to `create_block_blob` should be the file contents, not the filename (as per https://www.rubydoc.info/github/Azure/azure-storage-ruby/Azure%2FStorage%2FBlob:create_block_blob, and verified manually with azure-storage-blob version 1.1.0) .

See also the example here https://github.com/Azure-Samples/storage-blob-ruby-getting-started/blob/89c193445eaf80adc70d1b6736cbc9949f7

[2020-02-29 12:47] BhargaviAnnadevara-MSFT commented on #49211
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-29 12:50] BhargaviAnnadevara-MSFT commented on #49212
@Air-Git Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-29 13:01] shashishailaj commented on #48772
@mataralhawiti Thank you for your help.  You have earned a new fan 😁 and follow on Github as a reward 🥇 .

We are glad that you like our product documentation . Please continue letting us know how else can we improve your experience with the documentation.

Thank you.

[2020-02-29 13:01] #48772 closed

[2020-02-29 13:48] ElectricLlama commented on #37280
See here.... https://www.andrew-best.com/posts/please-sir-can-i-have-some-auth/. I only got this working when I used scope "https://management.azure.com/user_impersonation" when getting a token. I had been using scope "user_impersonation" and was getting this error message. This is terribly documented.

[2020-02-29 14:02] bartvermeersch commented on #47261
Sorry @billmath it is stil unclear to me :-/

I understand you need Password Writeback for ForcePasswordChangeOnLogOn to work properly. But why do you need SSPR?

The ForcePasswordChangeOnLogOn switch will sync the temporary password to AAD. So the user will be able to **log in with the temporary password**. But he will be forced to change his password immediatly after logging in. There is no need

[2020-02-29 14:49] ArvindHarinder1 commented on #46510
@Sawdit what is out of date?

[2020-02-29 15:10] kakins commented on #10409
This solution no longer works for me.  Is there _any_ way to cancel an active command in progress?  This is especially annoying for timed out commands.  I shouldn't have to wait 90 minutes if I know the command is hanging due to an error.

[2020-02-29 15:15] BhargaviAnnadevara-MSFT commented on #49213
@sapieneptus Thank you very much for bringing this to our attention. We shall evaluate and update as appropriate.

[2020-02-29 15:18] BhargaviAnnadevara-MSFT commented on #49006
@mshinnie We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-29 15:18] #49006 closed

[2020-02-29 15:57] dhirajgandhi commented on #48670
Hello,

This can due to two reasons

1.  You need to use the location MPN Id not the virtual MPN ID.  Please check whether you are using virtual vs location ID.
2. There might some issue in the system.  Please a open a support ticket so that we will get appropriate information to root cause the isuse.

Thanks,

Dhiraj

[2020-02-29 16:39] ketaanhshah opened #49215 "Get-AzDataLakeGen2Item Not working in Azure Automation Runbook"
Hi All,
I am trying to run a simple powershell script to list all "File Systems" (ADLSGen2) from the "$logs" folder. This is basically the logs generated for that ADLS Gen2 Storage account. But unfortunately the Get-AzDataLakeGen2Item  doesnt work (no module in the Azure Automation Runbook is supporting it) I have installed AZ.Storage (latest) even after that it complaints of unknown command. Any

[2020-02-29 17:01] pksorensen opened #49216 "Default Mapping Properties"
Could this document be updated such it contained the default target mapping properties?

Using default settings, what would the cn on premise attribute be mapped to on azure active directory when using microsoft graph?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Indepen

[2020-02-29 17:10] curtand commented on #42585
Hi @SinghGurd

I published a clarification that answers your questions. Thanks for your contribution!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/106082

#please-close

[2020-02-29 17:10] #42585 closed

[2020-02-29 17:12] curtand commented on #40038
Hi @grzegorzwierzbicki

I updated the article to describe the behavior. Thanks for your contribution!

#please-close

[2020-02-29 17:12] #40038 closed

[2020-02-29 17:14] curtand commented on #41220
Hi @DeanGross

I updated the article to reflect this behavior. I am confirming with PM. Thanks for your contribution!

#please-close

[2020-02-29 17:14] #41220 closed

[2020-02-29 17:29] #49035 closed

[2020-02-29 17:42] RohitMungi-MSFT commented on #48848
@zxpek the doc is updated with the correct HOST reference. Thanks for helping us.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-29 17:42] #48848 closed

[2020-02-29 17:58] Chonwing commented on #48414
Hello, any idea about how many classes(objects) is the pre-trained model that is provided on the site where you can upload an image have. how many objects is it trained on and what are they? and can I add more classes to them. I read in the documentations that there thousands of classes. Is there more documentation about what the classes are?

[2020-02-29 18:11] BharathNimmala-MSFT commented on #49215
@ketaanhshah Thank you for your query. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations are going to be the [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home) and [Stack Overflow](https://stackoverflow.com/)

[2020-02-29 18:12] mdhruv1 opened #49217 "Examples using python and curl"
Please can we examples added in python and curl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [Metadata with GenerateAnswer API - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/c

[2020-02-29 18:24] MarkusVi commented on #42080
You can use the [error code tool](https://login.microsoftonline.com/error) to get the information.

#please-close

[2020-02-29 18:24] #42080 closed

[2020-02-29 18:24] MarkusVi commented on #42082
You can use the [error code tool](https://login.microsoftonline.com/error) to get the information.

#please-close

[2020-02-29 18:24] #42082 closed

[2020-02-29 18:25] BharathNimmala-MSFT commented on #49217
@mdhruv1  Thank you for sharing the idea to improve our documentation. Assigning this to our document author @diberry to further evaluate the request and update the document accordingly.

[2020-02-29 18:25] MarkusVi commented on #43385
You can use the [error code tool](https://login.microsoftonline.com/error) to get the information.

#please-close

[2020-02-29 18:25] #43385 closed

[2020-02-29 18:26] MarkusVi commented on #43522
You can use the [error code tool](https://login.microsoftonline.com/error) to get the information.

#please-close

[2020-02-29 18:26] #43522 closed

[2020-02-29 18:29] MarkusVi commented on #48348
You can use the [error code tool](https://login.microsoftonline.com/error) to get the information.

#please-close

[2020-02-29 18:29] #48348 closed

[2020-02-29 18:29] MarkusVi commented on #48573
You can use the [error code tool](https://login.microsoftonline.com/error) to get the information.

#please-close

[2020-02-29 18:29] #48573 closed

[2020-02-29 18:58] joeizy opened #49218 "Update Example to Use kubectl auth reconcile"
With `rbac.authorization.k8s.io/v1` going GA and no longer beta it is more appropriate to use `kubectl auth reconcile` for applying permission resources. `kubectl apply` will fail if you change the `roleRef` where as `kubectl auth reconcile` will not fail.

Also, `kubectl auth reconcile` is much more descriptive when it makes changes and outlines exactly what changes were made.

Example:
[code]

h

[2020-02-29 19:39] gdalsnes opened #49219 "inconsistent"
"The recommended format for DateTime strings in Azure Cosmos DB is YYYY-MM-DDThh:mm:ss.sssZ"
This seems to be the default Javascript format (Date.toJSON)? This format string does not work in C#, nice if you can provide the C# format string for this.

Worse, the example json does not use the recomended format:
"OrderDate": "2014-09-15T23:14:25.7251173Z"
This seems to be the "o" (roundtrip) format.

[2020-02-29 19:41] rolyon commented on #48776
Hi @andrePKI
Let me know if you have any additional feedback. I'm going to close this issue for now, but you can re-open.
thanks

[2020-02-29 19:41] rolyon commented on #48776
#please-close

[2020-02-29 19:42] #48776 closed

[2020-02-29 19:43] gdalsnes opened #49221 "range index is default now?"
"To execute these queries efficiently, you must configure your collection for Range indexing on strings"
I think I read somewhere that range index on string is enabled by default now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c256dbf4-122d-1569-c4c3-0e401766c712
* Version Independent ID: 747c3f05-167d-2048-6f1b-fa

[2020-02-29 20:35] sopelt opened #49222 "Clarify support of WEBSITE_SWAP_WARMUP* and applicationInitialization for Linux/Containers"
We were wondering which of the two mechanisms (WEBSITE_SWAP_WARMUP* and applicationInitialization) are supported for containerized/Linux app services.

Furthermore, is there really no generic way to resolve warmup for swapping as well as scaling out?

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-29 21:24] mmacy commented on #42522
@fume Will check, stand by.

[2020-02-29 21:25] ross-p-smith commented on #49204
Ignore me - I misunderstood

[2020-02-29 21:25] #49204 closed

[2020-02-29 22:00] rsaulat opened #49223 "IOT Edge fails with dependency error on Raspbian Buster on RPI 3b+"
## ISSUE: While installing IOT Edge on Raspbian Buster (latest version as of 29th Feb 2020) on RPI 3b+ YOU WILL GET THIS ERROR ##
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result: exit-code) since Sat 2020-02-29 21:03:14 GMT; 12s ago
     Docs: man:iotedged(8)
  Process: 3242 ExecSt

[2020-02-29 22:01] #49223 closed

[2020-02-29 22:07] curtand commented on #41221
Hi @DeanGross
I verified the behavior and published a documentation update to reflect it. I'm following up with the PMs on whether the behavior will be changing. Thanks for your contribution!

#please-close

[2020-02-29 22:07] #41221 closed

[2020-02-29 22:24] ketaanhshah commented on #49215
RESOLVED THE ISSUE, posted the details here (Was related to NETWORK and FIREWALL settings on Storage Account):

https://stackoverflow.com/questions/60461044/get-all-blob-names-from-storage-account-from-runbook/60470135#60470135

[2020-02-29 22:24] #49215 closed

[2020-03-01 00:50] erikadoyle commented on #45513
Thanks for reporting this @kjyam98. Fixed now. #please-close

[2020-03-01 00:50] #45513 closed

[2020-03-01 00:52] erikadoyle commented on #48499
Good call @abatishchev! That property is not required and therefore confusing, so I removed it. #please-close

[2020-03-01 00:52] #48499 closed

[2020-03-01 01:17] manojsubramani opened #49224 "Script to create this extension in VMSS does not work"
Hello Team,
I've been adding this extension ("KeyVaultForWindows") on all the VMs and VMSSs i have.
The script provided for VMs works fine.
When I use the script provided for VMSS, the extension fails. This is what i noticed.
After running the script, I logged into the VMs and found that the run setting file in "C:\Packages\Plugins\Microsoft.Azure.KeyVault.KeyVaultForWindows\1.0.1114.10\RuntimeSet

[2020-03-01 01:36] SnehaAgrawal-MSFT commented on #48945
@girishgouda Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-01 01:40] #48945 closed

[2020-03-01 01:58] BharathNimmala-MSFT commented on #49216
@pksorensen Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-01 02:04] Biju-Joseph opened #49225 "404 is displayed instead of Hellow world"
Hi
I deployed a static website following the steps as outlined in the article. I had to deploy by selecting the storage subscription unlike given in the documentation.
At the end of it my static website displays 404 instead of Hello world. I tried 2 times with same result. I am not sure what is going on.
Thank you.
Biju Joseph

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-03-01 02:07] BharathNimmala-MSFT commented on #49218
@joeizy Thank you for reaching out to us, we will further look into it and get back to you at the earliest.

[2020-03-01 02:08] BharathNimmala-MSFT commented on #49219
@gdalsnes Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-01 02:10] BharathNimmala-MSFT commented on #49221
@gdalsnes Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-01 02:13] BharathNimmala-MSFT commented on #49222
@sopelt Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-01 02:53] BharathNimmala-MSFT commented on #49224
@manojsubramani Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-01 02:56] BharathNimmala-MSFT commented on #49225
@Biju-Joseph Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-01 03:02] BharathNimmala-MSFT commented on #49215
Thank you @ketaanhshah for sharing it.

[2020-03-01 03:29] davinci26 opened #49226 "Suggestion: Mention the Azurite in the page"
Hey folks,

Since the azure function host needs the local storage emulator ( see issue in azure-functions-host [5087](https://github.com/Azure/azure-functions-host/issues/5087) ) do you think it would be a good idea to mention Azurite in the `Run the function locally` section.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-01 03:36] karlochacon opened #49227 "does not work Move an existing VM into a proximity placement group"
hey guys hi

 the procedure depicted here to move an existing VM to a PPG does not work

I get this error
Update-AzVM : A parameter cannot be found that matches parameter name 'ProximityPlacementGroupId'

on the other hand the one I found here works
https://github.com/Azure/SAP-on-Azure-Scripts-and-Utilities/tree/master/Move-VM-to-PPG

`$vm = Get-AzVM -name <vmname> -ResourceGroupName <rgname>
$pp

[2020-03-01 04:19] jder opened #49228 "Missing information about ADO project"
When I try to follow the steps under "Deploy application updates to a Kubernetes cluster", step 5 seems to be missing information. I am asked to create or choose an ADO organization. When I pick my existing one, it wants a *new* project name. The docs don't mention this at all and it's surprising that I am required to make a new project instead of just a new pipeline. (If I try to give an existing

[2020-03-01 04:29] SubhashVasarapu-MSFT commented on #48880
@jtuliani , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-01 04:29] #48880 closed

[2020-03-01 06:24] BhargaviAnnadevara-MSFT commented on #49228
@jder Thank you very much for bringing this to our attention. We shall evaluate and update as appropriate.

[2020-03-01 06:35] BhargaviAnnadevara-MSFT commented on #49226
@davinci26 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-01 06:35] BhargaviAnnadevara-MSFT commented on #49227
@karlochacon Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-03-01 07:20] mjannapureddy07 commented on #49176
Actually it is simple as you said related to paths. AzCopy is provided as a downloadable binary (rather than a linux package) . So I have just overridden my previously installed AzCopy in my /usr/bin folder and it worked. I see AzCopy is upgraded now. Thanks @normesta !

[2020-03-01 07:20] #49176 closed

[2020-03-01 07:55] harelbr commented on #49170
@lalitprasad Thanks for reaching out.

Is it possible you're referring to [classic metric alerts](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-classic-portal)? If so, this article focuses on new metric alerts, where frequency is supported at 1 minute intervals.

If you're referring to new metric alerts, can you please make sure you're selecting a metric as the signal type? A freq

[2020-03-01 09:27] narismadz opened #49231 "Package Access approved doesn't mean you can join that Team in MS Teams"
I tested access to be as member of private Office 365 group. Once approved, he/she can join that Private SPO, but not that Team in MS Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is entitlement

[2020-03-01 09:34] narismadz opened #49232 "Questions from "Request for specific period?" feature when request"
For "Request for specific period?" need to align with the Package policy (end date for renewal)? Or this is just to let approvers know.

If I request and set start time in the next 3 days and got approved, will I access now of the 3rd date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f03984-fb13-e5b4-7033-19375ad8

[2020-03-01 09:38] #48787 closed

[2020-03-01 10:56] andrePKI commented on #48776
Maybe this works to re-open?
It does somewhat answer my question, but from the document it is still confusing what is written under Prerequisites if you ask me.
In other words, the permissions required as listed there, I can't find from the role description blades (which list permissions for a role, but not with the same names (like Microsoft.Authorization/roleAssignments/write), or it is a graphi

[2020-03-01 11:47] BhargaviAnnadevara-MSFT commented on #49231
@narismadz Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-01 11:49] BhargaviAnnadevara-MSFT commented on #49232
@narismadz Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-01 12:02] karlochacon commented on #49227
oh sorry
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/proximity-placement-groups#move-an-existing-vm-out-of-a-proximity-placement-group

[2020-03-01 12:23] sijday opened #49234 "The Get-AzureADAuditSignInLogs cmdlet does not work"
The Get-AzureADAuditSignInLogs cmdlet does not work. https://github.com/Azure/azure-docs-powershell-azuread/issues/366

[2020-03-01 13:38] SamirFarhat opened #49236 "Explicit clarification about coexisting with Public Facing Load Balancer"
Hi,
We all know that any outbound traffic from a VM behind an internet facing load balancer (standard) will be Source-Nated through the LB Public IP.
What happens in case of existence? Which service will prevail? NAT gateway or LB?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb766d9-18ab-2998-d769-99e95ffd8e

[2020-03-01 13:54] BhargaviAnnadevara-MSFT commented on #49236
@SamirFarhat Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-01 14:06] BhargaviAnnadevara-MSFT commented on #49234
@sijday Thanks for reaching out. Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

Also, on a side note, I'd like to let you know that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. The best

[2020-03-01 14:12] tudort-iquest opened #49237 "Non-existent pricing tier"
About: 'Pricing tier: Select Free which will retain 7 days of data'
this option does not exist when creating a new Log Analytics Workspace (only 'Pay-as-you-go per Gb' can be selected..)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac344583-1d00-f42b-46a1-60c861f0284f
* Version Independent ID: 73abfb39-4b90-4894-70c5

[2020-03-01 14:12] BhargaviAnnadevara-MSFT commented on #49227
@karlochacon Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-03-01 14:19] SamirFarhat commented on #41150
Bump

[2020-03-01 14:43] afandl opened #49238 "This Quickstart page is not helping"
I think this is a bad tutorial since anybody can run a hello-world example from some microsoft repo (which btw does not seem to be a public repo..). Much more interesting would be to see how one can run a docker container with port forwarding on azure, something which I can do easily on my local machine with "docker run -p". Since the tutorial does not even intend to answer basic questions like th

[2020-03-01 15:11] Chai-NED opened #49240 "how many minimums?"
Should the real minimum IO/sec be zero as that's up to the work load to read/write to the disk? Why mention min iops at all?

"The minimum IOPS per disk is 2 IOPS/GiB, with an overall baseline minimum of 100 IOPS. For example, if you had a 4 GiB ultra disk, you will have a minimum of 100 IOPS, instead of eight IOPS."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-03-01 16:05] elvirk opened #49241 "Create a policy assignment doesn't work"
az policy assignment list --query "[?displayName=='Audit VMs without managed disks Assignment'].id"

Output:
elvir@Azure:~$ az policy assignment list --query "[?displayName=='Audit VMs without managed disks Assignment'].id"
[]

Also I'm unable to assign this definition via AZ CLI, I get error that my account doesn't have authorization to perform action, but I'm able to assign the same policy from

[2020-03-01 16:11] DCtheGeek commented on #49241
#assign:DCtheGeek

[2020-03-01 16:16] DCtheGeek commented on #49241
@elvirk It looks like you didn't perform the steps in [Create a policy assignment](https://docs.microsoft.com/azure/governance/policy/assign-policy-azurecli#create-a-policy-assignment). The step you shared is to query the assignment once created, not to create it. Without having created the policy assignment in that first step, the steps in **Identify non-compliant resources** will have no assignm

[2020-03-01 16:16] #49241 closed

[2020-03-01 16:49] cimares opened #49242 "There is a prerequisite for a Conditional Access control policy that is not included in the page."
In order for the conditional access policy to be applied to users connecting to the underlying SharePoint sites that form part of the O365 group, there needs to be a conditional access policy that is targeted to the users of the labels that applies App Enforced Restrictions on connections.

I've blogged about what's needed here: http://www.myfatblog.co.uk/index.php/2020/03/configuring-conditional-