[2020-08-09 07:00] dcurwin commented on #60293
@srinathvasireddy - Please let me know how/if we should modify the documentation on this page.

--

[2020-08-09 07:01] dcurwin commented on #60293
#reassign:srinathvasireddy

[2020-08-09 07:18] AshokPeddakotla-MSFT commented on #60354
@kiranpradeep I understand that you are trying to install 1.0.10-rc1 version. Could you please try with **sudo apt-get install iotedge** and see if it helps to resole the issue?

[2020-08-09 07:33] AshokPeddakotla-MSFT commented on #60519
@dbuskirk Can you update in which step you are getting this error message?

[2020-08-09 09:11] dbuskirk commented on #60519
Thank you for your prompt attention.

The "problem", in VS Code parlance, appears when I compile, of course.

I should mention that I installed the latest version of the AZ3166 board description file (2.0) which is more recent than the latest version that appears on the VS Code.

Dan Buskirk

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Sunday, Augus

[2020-08-09 10:10] adibiton opened #60540 "Document is outdated"
Document is outdated.
- screenshots are not reflecting the experience (Journey)
- step 9 - "On the Settings page in Network > Network Security Group > Select public inbound ports, select HTTP and SSH (22). Leave the rest of the defaults and select OK."  - it's not the current experience

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-08-09 10:14] #58183 closed

[2020-08-09 10:14] #59884 closed

[2020-08-09 10:24] BhargaviAnnadevara-MSFT commented on #60540
@adibiton Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-09 10:26] BhargaviAnnadevara-MSFT commented on #60537
@jeremyfiel Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-09 10:28] BhargaviAnnadevara-MSFT commented on #60535
@keatseongchan Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-09 10:42] AartiDalvi10 commented on #43277
@jinli Thank you changing running version from 3.x to 1.x azure function apps helped me

[2020-08-09 10:50] xolve commented on #60428
@VikasPullagura-MSFT and @a-santamaria thanks for being prompt. Might I suggest that this should be mentioned in doc that vault names are unique globally and not name-spaced by Azure account or subscriptionID.

Would be happy to raise a PR if you say so :-)

[2020-08-09 10:56] PingPongSet opened #60541 "Error running npx truffle unbox Azure-Samples/Blockchain-Ethereum-Template via VS Code"
I have the error below when creating a new project following the steps below:
https://docs.microsoft.com/en-gb/azure/blockchain/service/send-transaction

**Create a smart contract**
1. From the VS Code command palette, choose Azure Blockchain: New Solidity Project.
2. Choose Create basic project.
3. Create a new folder named HelloBlockchain and Select new project path.

Same issue when I running t

[2020-08-09 11:09] jamesfm opened #60542 "Repeated screenshots used in error"
This page uses the same screenshot 4 times, which seems to be an error. Instead, each screenshot should be specific to the text instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e019d080-69ea-06e3-9b7c-b66101f15cfc
* Version Independent ID: b4237652-1d19-1ef1-a4ac-e556d666236a
* Content: [Configure multi-fac

[2020-08-09 12:41] kiranpradeep commented on #60354
The iotedge install (sudo apt-get install iotedge) works perfectly. But the version 1.0.9 is installed which is ga. This document is for updating to release candidate (1.0.10-rc1) and that is what is failing.

[2020-08-09 13:16] larrymccutchan opened #60543 "Could not deploy python webapp"
I kept getting a failure on the application deployment.

(venv) lam@ivxdev-vm:/mnt/c/Users/lam/source/repos/python-docs-hello-world$ az webapp up --resource-group learning -n lam-first-python-app
webapp lam-first-python-app doesn't exist
Creating webapp 'lam-first-python-app' ...
Configuring default logging for the app, if not already enabled
Creating zip with contents of dir C:\Users\lam\source\r

[2020-08-09 13:29] BhargaviAnnadevara-MSFT commented on #60542
@jamesfm Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-09 13:30] BhargaviAnnadevara-MSFT commented on #60543
@larrymccutchan Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-09 14:31] adibiton opened #60544 "You should add a remark indicating that the telegraf metrics might take some time to be plotted on the portal"
In section: "Plot your Telegraf metrics in the Azure portal"
It take some time (in my case over than 1 hour) to first see the custom metric namespace:

![image](https://user-images.githubusercontent.com/1072195/89734663-29bd1b80-da66-11ea-91d0-fce5bcb57915.png)

I think that you should have some remark regarding it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-08-09 14:40] adibiton opened #60545 "The link to: "list of supported plugins" is outdated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cea95e2-c775-c363-d468-2232c2b51f4a
* Version Independent ID: c87ec30c-b0b7-d6e5-403b-a6d9991248b0
* Content: [Collect custom metrics for Linux VM with the InfluxData Telegraf agent - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monito

[2020-08-09 16:32] GiftA-MSFT commented on #60541
@PingPongSet we'll review your feedback and get back to you soon. Thanks.

[2020-08-09 16:59] KrishnaG-MSFT commented on #60544
@adibiton Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-09 17:00] KrishnaG-MSFT commented on #60545
@adibiton Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-09 17:27] anirban007 opened #60547 "Linux size requirement for encrypting drive"
In the document, it is mentioned about the VM sizes supported for encryption. However, that is not the only condition. I tried to encrypt a VM of size Standard_B1ls, I got the below
######################
When trying to encrypt volume on Linux VM I got the below message.
Deployment failed. Correlation ID: f0c45b80-4e2c-49a5-9566-4c73c54211ad. VM has reported a failure when processing extension 'Az

[2020-08-09 17:50] kai3749 opened #60548 "Hi"

[2020-08-09 17:50] kai3749 opened #60549 "Hi"

[2020-08-09 18:43] #60534 closed

[2020-08-09 20:18] SteveSilver opened #60550 "steps and screen shots are out of date 08092020"
[This page is useless as is.. It needs to be updated with new screenshots and steps.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15519820-cfab-94be-5ba9-b5e2e414e090
* Version Independent ID: 05bcd0da-3a8e-9b6f-ae77-025d4aa9782f
* Content: [How to provision devices for multitenancy in Azure IoT Hub Device Provision

[2020-08-09 21:18] #60296 closed

[2020-08-09 21:18] BryanTrach-MSFT commented on #60296
@felixtsem5 Thank you for bringing this to our attention. We have gone ahead and updated the doc. The changes should be visible within 24 hours.

[2020-08-09 21:20] BryanTrach-MSFT commented on #60250
@aelmanaa We agree that private endpoints could be added to the doc. We have reassigned the issue to the doc author.

[2020-08-09 21:30] subashsivaji opened #60551 "Does this mean Owner role in Azure subscription?"
https://docs.microsoft.com/en-us/azure/data-factory/source-control#use-a-different-azure-active-directory-tenant

_To specify a different Azure AD tenant, you have to have **administrator permissions for the Azure subscription** that you're using._

Do you mean Owner role in the Azure subscription? Can we please be explicit in what Azure role does an user needs to configure azure repos in differen

[2020-08-09 22:06] MicrosoftGuyJFlo commented on #60249
@swetha-rai click and drag the image to move it around.

[2020-08-09 22:06] MicrosoftGuyJFlo commented on #60249
#please-close

[2020-08-09 22:06] #60249 closed

[2020-08-09 23:37] SaurabhSharma-MSFT commented on #60322
@cyb3rbull We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-09 23:37] #60322 closed

[2020-08-10 00:29] jeremyfiel commented on #60537
So I found I need to have a subscription setup and it works.  This doesn't make much sense when the queue works without a similar requirement.  Why would a subscription be required for a topic to receive a message?  Shouldn't a topic be able to queue up messages in the same way as a queue?

[2020-08-10 00:32] tiny-dancer commented on #26050
@casocha any news on the public preview summer progress?

[2020-08-10 01:18] RonnieQuan commented on #60505
@NavtejSaini-MSFT  Any update on this question?

thank you!

[2020-08-10 01:20] RonnieQuan commented on #60503
@NavtejSaini-MSFT  Any update on this question?

Thank you!

[2020-08-10 01:52] tiny-dancer commented on #57621
@arsnyder16 did you by chance leave feedback? will happily upvote.

[2020-08-10 02:07] MrSimple263 commented on #59940
@GiftA-MSFT
Did you select "Document Type" is "Phrase Dictionary" when you upload document to training?
![Screen Shot 2020-08-10 at 9 04 46 AM](https://user-images.githubusercontent.com/26499106/89747409-e35cd080-dae8-11ea-9243-eb081b597ee3.png)

[2020-08-10 02:12] GiftA-MSFT commented on #60547
@anirban007 we'll review your feedback and get back to you shortly. Thanks.

[2020-08-10 02:14] #60549 closed

[2020-08-10 02:17] tiny-dancer opened #60553 "Ability to always download latest front door ip ranges."
Azure Front Door IP Ranges

It appears the IP Ranges JSON File is versioned:  `https://download.microsoft.com/download/7/1/D/71D86715-5596-4529-9B13-DA13A5DE5B63/ServiceTags_Public_**20200803**.json`

Is there a way for an automated process to always retrieve the latest values? From what i can gather the process would need to go to  https://www.microsoft.com/en-us/download/confirmation.aspx?id=565

[2020-08-10 02:25] lalalawink opened #60554 "zqynoob"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a747220-f587-2b7a-1c9d-176cfccb3702
* Version Independent ID: d41386c4-50b2-927f-4fcb-0ab842edf0ca
* Content: [Weather forecast using Azure Machine Learning with IoT Hub data](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-weather-forecast-ma

[2020-08-10 02:27] #60554 closed

[2020-08-10 03:00] BhargaviAnnadevara-MSFT commented on #60550
@SteveSilver Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-10 03:04] BhargaviAnnadevara-MSFT commented on #60424
@webwesen We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-10 03:04] #60424 closed

[2020-08-10 03:09] NavtejSaini-MSFT commented on #60300
@asc-adean Can you please confirm you have created Azure SQL Managed instance and not Azure SQL DB Single instance or elastic pool. We have seen this error when there is a mismatch like that. Only Managed Instance supports Restore from URL

For feature comparison, https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features

[2020-08-10 03:29] AjayKumar-MSFT commented on #60280
Kenneth, Your feedback has been shared with the content owner for further review.

[2020-08-10 03:29] CHEEKATLAPRADEEP-MSFT commented on #60496
@jeffhebrank Winutils is a windows binaries for Hadoop versions.

These are built directly from the same git commit used to create the official ASF releases; they are checked out and built on a windows VM which is dedicated purely to testing Hadoop/YARN apps on Windows.

You may follow the instructions to [configure the Hadoop path on Windows](https://cwiki.apache.org/confluence/display/HADOOP2/Ha

[2020-08-10 03:41] AjayKumar-MSFT commented on #60133
@raymond-dillon,  The documentation calls out when you’re creating your app, to create certificates for both production and development, which are used for push notifications.  This has to do with the production or development case [here](https://docs.microsoft.com/azure/notification-hubs/notification-hubs-ios-push-notifications-swift-apps-get-started#option-1-creating-a-p12-push-certificate-that-

[2020-08-10 04:01] vipulsparsh commented on #60348
@rolyon Can you look into this ?

[2020-08-10 04:06] vipulsparsh commented on #60283
@josephka3 Yes, this should remove the agent and should remove the process that listens to 25224/25226. You can also verify if rsyslog and syslg-ng files were removed, You can follow  https://docs.microsoft.com/en-us/azure/sentinel/connect-cef-agent?tabs=rsyslog to detect the relevant Syslog daemon configurations files.

[2020-08-10 04:07] vipulsparsh commented on #60464
@taytran0  Would you like to add anything here ?

[2020-08-10 04:11] AnuragSharma-MSFT commented on #60333
@SgtSpamCan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-10 04:11] #60333 closed

[2020-08-10 04:16] PramodValavala-MSFT commented on #60321
@prabhushrikant Just following up here... Hope my previous comment clears things up.

[2020-08-10 04:17] PramodValavala-MSFT commented on #60342
@prabhushrikant Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-10 04:17] #60342 closed

[2020-08-10 04:18] BhargaviAnnadevara-MSFT opened #60555 "Review and update article to match latest experience"
I think there are still some problems with the case in the document, for example："-RuleType" parameter is not available in the [manual](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrule?view=azps-4.4.0), either. And the manual add a new parameter of "-TimeAggregationOperator". Can you help make a confirmation, if you can, it is best to be able to help verify the v

[2020-08-10 04:21] BhargaviAnnadevara-MSFT commented on #60555
@Johnnytechn Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-10 04:23] BhargaviAnnadevara-MSFT commented on #59489
@Johnnytechn I've opened this as a new request for our content author to review. Please follow the updates here: https://github.com/MicrosoftDocs/azure-docs/issues/60555

Thanks again for the feedback.

[2020-08-10 04:26] PramodValavala-MSFT commented on #60537
@jeremyfiel This behavior is what makes [topics (and subscriptions)](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#topics-and-subscriptions) different to [queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#queues).

While queues allow for messages to be processed by one or more consumer

[2020-08-10 04:34] AjayKumar-MSFT commented on #60274
@RichardMcCormack,  You could use CURL command, kindly checkout this [article](https://techcommunity.microsoft.com/t5/azure-app-service/azure-app-services-access-restrictions-regional-virtual-network/ba-p/898550).
Once again apologies you had experienced this issue. Your feedback has been shared with the content owner for further review.

[2020-08-10 04:40] AshokPeddakotla-MSFT commented on #60554
We see that you have opened and closed this Git issue, In case if you have any feedback related to the doc feel free to update here with more details.

[2020-08-10 04:44] jeremyfiel commented on #60537
@PramodValavala-MSFT

that part makes sense but the interesting thing for me is why does a topic require a subscription to **receive** messages?

a topic acts like a queue in the sense that it can queue up messages, but a subscription shouldn't be a necessary requirement in order for the topic to actually receive messages from upstream.  a subscription would only be required to process the message

[2020-08-10 04:51] SujayJDesai commented on #60483
@webash Thanks for reaching out to us. The 32 bit agent support has been removed from the MABS v3 UR1. This has been documented under What's new section here - https://docs.microsoft.com/en-us/azure/backup/backup-mabs-whats-new-mabs#whats-new-in-mabs-v3-ur1 and also in the KB article here - https://support.microsoft.com/en-in/help/4534062/update-rollup-1-for-microsoft-azure-backup-server-v3
Genera

[2020-08-10 04:54] PramodValavala-MSFT commented on #60537
@jeremyfiel This is by design. Topics are meant to be used along with subscriptions. Topics are just the *receiving* end of the equation which then copy & forward messages to all its subscriptions (which are like queues that can't receive directly) **but** doesn't store messages coming in.

Also, subscriptions have an added functionality of [filtering messages](https://docs.microsoft.com/en-us/azu

[2020-08-10 04:59] ram-msft commented on #58257
@ammills01 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-10 04:59] #58257 closed

[2020-08-10 05:10] HarithaMaddi-MSFT commented on #60551
@subashsivaji - Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2020-08-10 05:10] #60410 closed

[2020-08-10 05:12] BryanTrach-MSFT commented on #60410
@oleksiypavlenko Thank you for your detailed feedback. Upon our research, we agree the document needs additional clarity. We have updated the document to the below statement, which aligns with the behavior that is expected. These changes should be publicly viewable with 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-08-10 05:13] psmanhas commented on #60428
@xolve Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-08-10 05:14] psmanhas commented on #60428
@athinanthny Can you please check and add your comments on this doc update request as applicable

[2020-08-10 05:24] psmanhas commented on #60002
@MikkelMBXP Can you please provide the information as per the ask?

[2020-08-10 05:35] psmanhas commented on #59733
@patrickhiggins Apologies for the delay in response. I was checking with our team internally on the issue and it seems like there are some changes made. Can you try again and confirm if the issue is resolved for you or not.

Thanks.

[2020-08-10 05:35] BryanTrach-MSFT commented on #60416
@masonmc Have you tried seeing if the Allowed Token Audiences is selected for the Express Auth in App Services? This should be enabled.

[2020-08-10 06:14] dcurwin commented on #60483
The note has now been added. Thanks for your suggestion.

#please-close

[2020-08-10 06:14] #60483 closed

[2020-08-10 06:15] masonmc commented on #60416
Thanks for the quick reply Bryan!  I am not sure how to do that when using file-based authentication settings.  If I go into config/authsettings and change “isAuthFromFile” back to “false” I get the UI in the portal again, and I can see the options under AAD configuration advanced. But, how do I add the Allowed Token Audiences in the actual JSON authorization file?  Also, do I need to enable AAD a

[2020-08-10 06:16] henrywang08 commented on #58827
@MonikaReddy-MSFT , I also believe the "sign-in frequency" behavior requires further verification, and modification to document the correct behavior for mobile devices (iOS and Android). Based on my test and my customer's feedbacks, "unlock" iOS and Android devices (all Azure AD registered) don't have sign-in activity, which cannot be used to "satisfy the sign-in frequency policy as well. "

Speci

[2020-08-10 06:22] henrywang08 opened #60556 "Sign-in frequency and mobile devices (iOS & Android)"
This issue is created to follow up the request for content change regarding "Sign-in frequency and mobile devices (iOS)#58827"

I also believe the "sign-in frequency" behavior requires further verification, and modification to document the correct behavior for mobile devices (iOS and Android). Based on my test and my customer's feedbacks, "unlock" iOS and Android devices (all Azure AD registered)

[2020-08-10 06:27] asergaz commented on #60248
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-10 06:33] lalalawink commented on #60147
Hi, thanks for the reply and I had just emailed the information to the email address provided.

My ML is a free trial and I think I cannot enable logging. Once I switch logging to All and tried to Save it, the website returns me an error.

![image](https://user-images.githubusercontent.com/54704083/89756370-e077d500-db14-11ea-9a5a-69796f801357.png)

And also, I'm not sure where to find the Authori

[2020-08-10 06:34] SnehaAgrawal-MSFT commented on #60345
@mikew1927 Thanks again for the feedback! As mentioned under [Regional VNet Integration.](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration)

“There are some limitations with using VNet Integration with VNets in the same region:
•	You can't reach resources across global peering connections.”

Global peering is not yet supported for Regional

[2020-08-10 06:34] #60345 closed

[2020-08-10 06:36] Roshan-Thomas opened #60557 "User Interface is very overwhelming for beginners."
### This issue is created to help beginners in understanding the microsoft docs.

It is very hard to read the docs as it is so overwhelming. The docs are surrounded by different navbars, and it is completely unnecessary. The reader loses focus on the main text and is distracted to the other bars. And it makes the docs look really difficult to implement in real life.

__Can you make more space for

[2020-08-10 06:54] AnuragSharma-MSFT commented on #60337
@Jaykul Thanks for the valuable feedback. There could be multiple ways of generating the .pfx file from the exported certificate and article should cover that under prerequisite section as rightly mentioned by you. Openssl is one popular and appropriate way to do the same.

We have updated the document content accordingly. The changes should be live once the PR is reviewed and approved.

[2020-08-10 06:56] TomGeske commented on #58822
#please-close

[2020-08-10 06:56] #58822 closed

[2020-08-10 06:58] CHEEKATLAPRADEEP-MSFT commented on #60517
@fordesmith To use "custom container" service, make sure "Your Azure Databricks workspace must have Databricks Containers Services **enabled**.

To use custom containers on your clusters, a workspace administrator must enable Databricks Container Services as follows:

 - Go the Admin Console.
 - Click the Advanced tab.
 - Click the Enable button next to Container Services.
 - Refresh the page.

![

[2020-08-10 07:29] lalalawink opened #60558 "units"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/54704083/89760092-34d38280-db1e-11ea-8463-03b99891974e.png)
What are the units about 100/sec

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-50e3-f8682c90ac42
* Conte

[2020-08-10 07:40] emab commented on #60368
@taytran0 thank you!

[2020-08-10 07:58] MikkelMBXP commented on #60002
@psmanhas yes - the output from kubectl get svc -o yaml --namespace=ingress-basic is:

apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      meta.helm.sh/release-name: nginx-ingress
      meta.helm.sh/release-namespace: ingress-basic
      service: map[beta:map[kubernetes:map[io/azure-load-balancer-resource-group:paytjek-test]]]
      service.beta.kubernetes.io/

[2020-08-10 08:07] pemsft opened #60559 "Errors in sample Powershell script"
Could you check the sample Powershell script for errors?
https://docs.microsoft.com/en-us/azure/devtest-labs/devtest-lab-create-environment-from-arm#automate-environment-creation-with-powershell

I had to make the following changes to get it working:
-	Line #37: $UserId = $((Get-AzADUser -UserPrincipalName ((Get-AzContext).Account).Id).Id)
-	Line #40: $lab = Get-AzResource -ResourceType "Microsoft

[2020-08-10 08:08] SnehaAgrawal-MSFT commented on #51627
Apologies for the delay. We had been discussing on this internally.

Kindly note, [preview features ](https://azure.microsoft.com/en-in/support/legal/preview-supplemental-terms/) in general are not recommended to use for production. As of now, there’s no ETA for GA on this feature yet.

AppServiceAppLogs only work for Java SE and Tomcat managed offerings. As mentioned only the [‘Log Name'](https:/

[2020-08-10 08:08] likebupt commented on #60460
@dandelion88 , Hi, thanks for your feedback.
The sentence here means that by default it will show "ROC" curve, and you could click on "Precision/Recall" and then you will see the "precision/recall" curve.
![image](https://user-images.githubusercontent.com/39058063/89762790-baa5fc80-db23-11ea-84ef-20407a7c9ab0.png)

[2020-08-10 08:09] MikkelMBXP commented on #60002
@psmanhas just realized the annotation was set incorrectly - changing the helm command to:

helm install nginx-ingress stable/nginx-ingress --namespace ingress-basic --set controller.replicaCount=2 --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux --set controller.service.loadBalancerIP="20.50.189.10" --set controller.se

[2020-08-10 08:47] amanmcse commented on #60504
@JMRMEDEV The sign-in page text is displayed only at login.microsoftonline.com and not when you run a B2C User Flow. The reason is, Company Branding inserts only below piece of information in the User Flow HTML page:

[code]

**Read more:** https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview#company-branding-preview

[2020-08-10 08:47] SibeeshVenu opened #60561 "Azure IoT Central Device Template for Raspberry Pi 4"
I was just following this document, and I see that there is no device template for `Raspberry Pi 4` but for devices like `MXChip` it has, is it intended? Or is there any way to get the device template for `Raspberry Pi 4`? I understand that the `Raspberry Pi` devices don't have its own built-in capabilities, but I was expecting a default template for this kind of device to which I can add the func

[2020-08-10 09:08] JMRMEDEV commented on #60504
Okay. Thank you for the information. Is kind of confusing in the documentation.

[2020-08-10 09:11] AjayKumar-MSFT commented on #59538
To keep this thread updated:
Our product engineering team have identified the issue and are working on it. However, we do not have an ETA to share at this time on when the fix will be rolled out.
Again, apologies for any inconvenience with this, as soon as we hear from our product team we will update this thread. We will close this thread for now. Thanks again for bringing this to our attention an

[2020-08-10 09:11] #59538 closed

[2020-08-10 09:13] BhargaviAnnadevara-MSFT commented on #60559
@pemsft Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-10 09:13] rvooren opened #60565 "RemoteConversationTranscriptionClient inconsistent behaviour"
I'm trying to run the example using async-mode only, but can't get passed the line:

// Wait for operation to finish
await operation.WaitForCompletionAsync(TimeSpan.FromSeconds(10), CancellationToken.None);

Sometimes it returns with the error: 'System.OperationCanceledException: 'The operation was failed so no value is available.' Or it hangs indefinitely ?!?!

Also noticed that when not attachin

[2020-08-10 09:26] HarshitaSingh-MSFT commented on #60279
@SB-o-matic, yes, it is possible to create federated users via Graph API.

### Create a user with social and local account identities:

Create a new user, with a local account identity with a sign-in name, an email address as sign-in, and with a social identity. This is typically used for migration scenarios in B2C tenants.

**Request:**

[code]

**Response:**

[code]

[2020-08-10 09:38] clement911 commented on #60362
@NavtejSaini-MSFT it is definitely possible to set PITR to 1 day.

See https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database#change-the-pitr-backup-retention-period-by-using-the-azure-portal

![image](https://user-images.githubusercontent.com/3426504/89769688-deeee280-dafd-11ea-8a7c-f3cafa3b7d1a.png)

https://azure.microsoft.com/en-us/updates/bac

[2020-08-10 09:41] asergaz commented on #59910
Related issue for record: https://github.com/Azure/iotedge/issues/3353

[2020-08-10 09:44] psmanhas commented on #60002
@MikkelMBXP I am glad that your issue is resolved. I will take your feedback to our internal team to make the necessary changes.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-10 09:44] #60002 closed

[2020-08-10 09:45] psmanhas commented on #60002
@MikkelMBXP I am glad that your issue is resolved. I will take your feedback to our internal team to make the necessary changes.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-10 09:45] psmanhas commented on #60002
@MikkelMBXP I am glad that your issue is resolved. I will take your feedback to our internal team to make the necessary changes.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-10 10:01] kushalbhabra opened #60567 "Details on data compliance"
Referring to this line :
"QnA Maker portal runs in the user's browser. Every action trigger a direct call to the respective cognitive service API. Hence, QnA Maker is compliant for data in transit. However, as the QnA Maker portal service is hosted in West-US, it is still not ideal for non-US customers."

Could you please elaborate the reason for which it would be not ideal for non-US customers. g

[2020-08-10 10:01] v-hagamp commented on #45358
+ SaaS Application Integrations

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Hisssa <notifications@github.com>
Sent: Saturday, August 8, 2020 4:50:34 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hamsika Gampala (HCL America Inc) <v-hagamp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 4.

[2020-08-10 10:04] souravmishra-msft commented on #60292
@arkaonelovemanu, You can try using the below PowerShell Script. This script helps in granting the Admin Consent automatically for the scopes that you would specify in the script for a specific Application.

**Note:** Currently this script works for Microsoft Graph API, but it can be changed by modifying the **$resourceID** variable with appropriate ServicePrincipal id of the required API

[code]

[2020-08-10 10:05] v-hagamp commented on #45358
+SaaS Application Integrations
________________________________
From: Hisssa <notifications@github.com>
Sent: 08 August 2020 04:50
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hamsika Gampala (HCL America Inc) <v-hagamp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 4. On the Basic SAML Configuration section, (#45358)

@v-hagamp<htt

[2020-08-10 10:21] TechieAz opened #60568 "Synthetic partition key - Update old objects"
I am new to Cosmos Db. I have below queries:

1. The partition key is mentioned as concatenation of device-id and date. Do I need to create a new property with that value, or cosmos db will do it?
2. If this property is not present for older objects, how to update them?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261

[2020-08-10 10:40] AnuragSharma-MSFT commented on #60568
@TechieAz Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-10 10:44] dcurwin commented on #60239
#reassign:pvrk

[2020-08-10 10:48] souravmishra-msft commented on #60450
@billmath, Can you please take a look at this and help on this thread?

[2020-08-10 10:58] amanmcse commented on #60504
@JMRMEDEV  This document is for Standard Azure AD. Information about Company Branding in Azure AD B2C is documented [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview#company-branding-preview).

[2020-08-10 10:58] #60504 closed

[2020-08-10 10:59] HarithaMaddi-MSFT commented on #60551
@subashsivaji - Yes, owner permissions on Azure subscription will make user as Administrator. I've addressed this in PR: [MicrosoftDocs/azure-docs-pr/pull/125486](https://github.com/MicrosoftDocs/azure-docs-pr/pull/125486)

The changes should be live EOD or tomorrow. In future, if you see any minor fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take c

[2020-08-10 10:59] HarithaMaddi-MSFT commented on #60551
@djpmsft - Could you please look into the PR and approve?

[2020-08-10 11:00] mikemowgli commented on #56875
I am also wondering what is the secondary Databricks Even Hub endpoint for West Europe...

[2020-08-10 11:01] pksorensen commented on #42906
Thanks @alexanderperlis , i discovered the same thing that doing base64 on the digest and not the hexadecimal string gave length 43 - thanks.

[2020-08-10 11:18] Incblob opened #60570 "Missing definition of create_utterance method"
In the Python version of this quickstart, there is no definition of the method create_utterances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d619763-022d-2c54-7188-139782d1af83
* Version Independent ID: db5b8402-c0b5-903a-2c21-7ceffd83b930
* Content: [Quickstart: Language Understanding (LUIS) authoring client libr

[2020-08-10 11:24] jvossers opened #60571 "testing that safelisting was correctly implemented"
It would be useful if this page would include some guidance on how to test that the URLs have been safelisted correctly, or perhaps for a PowerShell cmdlet to be made available which runs a test and produces a little report.

If the URLs were all explicit DNS names I could write a test script myself which I would run on my production on-prem server prior to deploying my production app. The script

[2020-08-10 11:33] iliaJelly commented on #57622
I am also stuck on the same place, i do see the (preview) Resource Explorer. I think that @brianburtoninmar accessed the Resource Explorer in the Azure Portal.

This is my problem
![image](https://user-images.githubusercontent.com/25131072/89778342-02be2280-db16-11ea-987a-6d413cc09faf.png)

I can't seem to get past this phase in the tutorial
![image](https://user-images.githubusercontent.com/25131

[2020-08-10 11:34] iliaJelly commented on #57622
This is what i see in my Resource Explorer
![image](https://user-images.githubusercontent.com/25131072/89778645-8f68e080-db16-11ea-9b44-5971fd89ea1d.png)

As you can see, there is no "config > authsettings" to drill down to

[2020-08-10 11:36] iliaJelly commented on #57622
@SnehaAgrawal-MSFT could you please help us?

[2020-08-10 11:38] johnarthur1 opened #60572 "G"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-6533-24eb-630c-559bd1549dc7
* Content: [Quickstart: Onboard in Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/quickstart-onboard)
* Content Source: [articles/sent

[2020-08-10 11:39] chelhernandez commented on #57180
Hello guys,

Looking for updates here, I'm getting the same issues that @flavio-neves commented with Windows Server 2019 using Azure VMs for this approach. I really will appreciate any updates on this subject.
Thank you.

[2020-08-10 11:45] chelhernandez commented on #55478
Hello @SaurabhSharma-MSFT,

I'm getting the same issue because in my environment we want to allow certain users without MFA, when I added a group of users without MFA it doesn't work. Using the step 6 that you mentioned it just lets users from that group login and it only works if those users have MFA. Is there any method to get both users with and without MFA? Thank you.

[2020-08-10 11:51] VikasPullagura-MSFT commented on #60498
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-08-10 11:57] shoubhikghosh83 opened #60573 "CosmosDBInput binding of Azure Function is not using path Variable defined in HttpTrigger"
I have created a function with Kotlinlanguage. I have created a Http Trigger and a cosmos input binding to read data from the cosmos. I have mentioned sql query also to fetch the data. I want to pass path variable to the http trigger which should be used as parameter in the query. As per Microsoft documentation I have defined the path parameter accordingly. https://docs.microsoft.com/en-us/azure/a

[2020-08-10 12:01] SibeeshVenu commented on #60561
Closing this issue, as we need to manually create our own template using [this tutorial](https://docs.microsoft.com/en-us/azure/iot-central/core/howto-set-up-template#create-a-device-template-from-scratch).

[2020-08-10 12:01] #60561 closed

[2020-08-10 12:21] JayaChatterjee-MSFT commented on #60445
@GeekTrainer Thank you for reaching out. So are we trying to upload a file from the stream and upload to a blob using an output  binding or you want to use any http trigger to upload any data to a blob using an output binding?

If you wish, we can also connect offline to discuss in detail : please send an email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thre

[2020-08-10 12:22] VikasPullagura-MSFT commented on #60236
@Plaquevent Apologies in delayed response. Yes, the AZ is combination of Fault and Update domains.

I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-10 12:23] VikasPullagura-MSFT commented on #60236
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-08-10 12:23] PramodValavala-MSFT commented on #60277
@DanielLarsenNZ @hitsy Apologies for the long wait but I can now confirm that this is the expected behavior. As you have already observed, the namespace either must be new or empty for CMK to be enabled. So, any entities present will block this operation.

We will work up a PR to update the docs accordingly.

[2020-08-10 12:32] MayankBargali-MSFT commented on #60452
@pacodelacruz Can you please confirm if you are referring to customer connectors that can be setup to use the on-premises data gateway, thereby allowing for HTTP/REST/SOAP data sources to be exposed?

@ecfan Can you please review this and confirm if this needs to be updated?

[2020-08-10 12:37] shashishailaj commented on #60572
@johnarthur1 Thank you for engaging with us on Azure Docs repository. I just wanted to reach out to you to understand more about your query as you have not mentioned any details in the query or feedback that you provided above . Please let us know more so that we can help you better on this.

Thank you.

[2020-08-10 12:38] AshokPeddakotla-MSFT commented on #60354
@kiranpradeep I am able to repro the issue, let me check internally and update you as earliest.
![image](https://user-images.githubusercontent.com/44426435/89783323-60616780-db34-11ea-838f-19b4b86ef8bf.png)

[2020-08-10 12:50] MayankBargali-MSFT commented on #60495
@anilpras The anonymous should be right in this context as it talks about "function app-level security methods". This talks about "Secure an HTTP endpoint in Production" and there are three ways of securing it.

- If you are "Enable App Service Authentication/Authorization", then the endpoint is protected already.
- For APIM, the article is suggesting to use IP restrictions
- For Isolated, it's al

[2020-08-10 12:55] AjayKumar-MSFT commented on #60548
#60549 -duplicate - test.

[2020-08-10 12:57] AjayKumar-MSFT commented on #60549
#60548 - Duplicate -test

[2020-08-10 13:02] rageanilkumar commented on #60233
**@psmanhas** In resource level i have commented  load_balancer_sku = "Advanced" option.
In default_node_pool, Load_balancer_sku option is not working. Can you please check and let me know.
There is difference between Kubernetes cluster default pool creation in Azure portal and terraform script.
![image](https://user-images.githubusercontent.com/53990880/89785286-cac7d700-db37-11ea-8e61-ae0c17c6cd

[2020-08-10 13:04] memildin commented on #60226
@vanessabruwer I'm looking into this and will update shortly.

[2020-08-10 13:06] SadiqhAhmed-MSFT commented on #60466
@pmaslej We haven't heard back from you, so we will now close this issue. If you have any further questions, please tag me in your reply and we will gladly continue the discussion.

[2020-08-10 13:06] #60466 closed

[2020-08-10 13:19] gamullen commented on #58395
Will a "--disable-soft-delete" parameter be added to CLI for keyvault creation? Customer sees this message and is asking.

"Argument 'enable_soft_delete' has been deprecated and will be removed in version '2.11.0'."

[2020-08-10 13:20] psmanhas commented on #60233
@rageanilkumar Thank you for your feedback.

@ jluk Can you please check and add your comments on this.

Thanks.

[2020-08-10 13:24] GitaraniSharma-MSFT commented on #60553
@tiny-dancer , thank you for your feedback. We have assigned this issue to the respective product owner for review.
@sohamnchatterjee , Could you please provide your insights here?

[2020-08-10 13:25] MithunChopda opened #60575 "Unable to run k4aviewer on AMD Ryzen 5 3600 6-Core Processor and Nvidia GeForce GTX 1660 graphics board"
I installed the latest SDK on my AMD Ryzen 5 3600 hexa core desktop computer that is paired with Nvidia GeForce 1660 graphics card. I was able to successfully upgrade the firmware on the device.

However, when I run the k4aviewer or any other utility, I get the following errors.

---------------------------
k4aviewer.exe - System Error
---------------------------
The code execution cannot proceed

[2020-08-10 13:32] tfitzmac commented on #48930
I have added the clarification that you can move the web app and app service plan without moving the app service environment. The update will get published today.

[2020-08-10 13:33] tfitzmac commented on #48930
#please-close

[2020-08-10 13:33] #48930 closed

[2020-08-10 13:35] vipulsparsh commented on #60443
@g0pinath Thanks for reaching out. If you see the article, it mentions this description "Create roles, role assignments, policy assignments, policy definitions and policy set definitions"   under NOT Actions, that means this role can not do it.

See below :

![image](https://user-images.githubusercontent.com/63580915/89788144-52174980-db3c-11ea-874f-e2cd724df05b.png)

Let us know if you have any q

[2020-08-10 13:35] #60283 closed

[2020-08-10 13:36] vipulsparsh commented on #60469
@anomepani  We will close this now, if you have any follow up questions, please do tag me in your comment and we will be happy to help you.

[2020-08-10 13:36] #60469 closed

[2020-08-10 13:39] AjayKumar-MSFT commented on #58457
Thanks Matthew for the comments. We will close this out, but if you feel you need more information please just let us know.

[2020-08-10 13:39] #58457 closed

[2020-08-10 13:41] tfitzmac commented on #54713
It seems to me there is not a documentation update that is required. I will close this issue for now. If that is wrong, we can reopen the issue.

[2020-08-10 13:41] tfitzmac commented on #54713
#please-close

[2020-08-10 13:41] #54713 closed

[2020-08-10 13:43] AshokPeddakotla-MSFT commented on #60558
@lalalawink Those are the enforced throttles. Each IoT hub is provisioned with a certain number of units in a specific tier. The tier and number of units determine the maximum daily quota of messages that you can send. The message size used to calculate the daily quota is 0.5 KB for a free tier hub and 4KB for all other tiers.

[2020-08-10 13:50] vipulsparsh commented on #60446
@elvirk  Thanks for reaching out, considering you have selected the correct subscription context within PowerShell prior to updating the role, as this is also a major reason for getting the error in your scenario,   I would suggest to verify if that custom role exist at some different management group scope.

You can visit https://docs.microsoft.com/en-us/azure/governance/management-groups/overvie

[2020-08-10 14:04] asc-adean commented on #56945
It appears this is due to how the resource group was created -- the only fix is to delete the entire resource group, and create the resource group via the App Service prompts with P1V2 as the app service plan size to begin with, to 'set' the resource group the way they should be.

[2020-08-10 14:06] thequesarito opened #60576 "Require Re-Register MFA is now grayed out for Authentication Administrators"
According to the doc, authentication administrator should be the adequate PIM role for require-reregister MFA. That used to work, but we now see that grayed out. I've been needing to check out global whenever this is needed recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9cb3-b52f334fb94d
*

[2020-08-10 14:06] nickfnblum opened #60577 "."

[2020-08-10 14:11] VikasPullagura-MSFT commented on #60278
@RonnieQuan I checked with internal team on this and below are the details:

1.	“Outside sources” refers to the usual RDPing/SSHing for debugging purposes. Azure services do not need access in this regard.
2.	When you create user accounts, you can specify login information yourself. This can be done during pool creation in the portal or via the API. Please refer this [doc](https://docs.microsoft.c

[2020-08-10 14:14] elvirk commented on #60446
I select correct subscription
$subs = Get-AzSubscription

$azcont = Set-AzContext

foreach($sub in $subs){
    Set-AzContext $sub
    New-AzDeployment -Name $azcont -Location eastus -TemplateFile $armcustrole
}
===================================
and then I run this command:

$armcustrole = "mypath\Compute-ARM.json"

New-AzDeployment -Location eastus -TemplateFile $armcustrole

It will deploy in f

[2020-08-10 14:14] shashishailaj commented on #60577
@nickfnblum Thank you for engaging with us here. We use the azure-docs repository for Azure related documentation improvement. As you have not provided any details , its difficult for us to understand your requirements and which document you had an issue with. Please let us know related document you had queries on and we can help you better on this.

[2020-08-10 14:14] elvirk commented on #60446
Can I deploy custom role at tenant level? Will it apply to all subscriptions in that tenant?

[2020-08-10 14:25] elvirk commented on #60446
Also, for the scope can you use more then one line?
 "AssignableScopes": [
        "/providers/microsoft.management/managementGroups/ContosoCorporate"
  ]
I tried listing multiple subscriptions and same issue, it only applies to first subscription on first line but not the rest.

[2020-08-10 14:27] tfitzmac commented on #50329
This template shows how to enable vulnerability assessments and security alert policies on a SQL server. [https://github.com/Azure/azure-quickstart-templates/blob/master/101-sql-logical-server/azuredeploy.json](https://github.com/Azure/azure-quickstart-templates/blob/master/101-sql-logical-server/azuredeploy.json)

[2020-08-10 14:27] tfitzmac commented on #50329
#please-close

[2020-08-10 14:27] #50329 closed

[2020-08-10 14:33] shashishailaj commented on #60557
@Roshan-Thomas , Thank you for your feedback on your experience with the documentation. However I believe that the documentation uses a standard scheme of having the table of contents for the root document on the left and bookmarks within the current document on the right .

![image](https://user-images.githubusercontent.com/532022/89793501-91956400-db43-11ea-974a-ae035bd43189.png)

I can surely t

[2020-08-10 14:36] shashishailaj commented on #60556
@henrywang08 Thank you for your query . We will have this investigated and update the thread.

[2020-08-10 14:36] robyerts commented on #60060
@sebansal yes, that one

[2020-08-10 14:50] Klaas- opened #60578 "Additional Repositories"
Hi,
I would like to know if there is a proper way of requesting additional Red Hat content being made available through rhui? I am looking to get ansible-2-for-rhel-8-x86_64-rpms included. This is covered by any rhel license, so it should be possible to get this added.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-08-10 14:55] D4-AzIdentity opened #60579 "Checking on pull request"
Hey Team!

I submitted a pull request for https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-vpn about 10 days ago. I wanted to ensure this request was seen. Can you provide feedback on the following:

https://github.com/MicrosoftDocs/azure-docs/commit/f15fa02690a7016dac8ab6b1e081c21ee5180952

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-08-10 14:57] GiftA-MSFT commented on #60570
@Incblob we'll review your feedback and get back to you shortly. Thanks.

[2020-08-10 15:00] GiftA-MSFT commented on #60567
@kushalbhabra we'll review your feedback and get back to you shortly. Thanks.

[2020-08-10 15:02] tcsougan opened #60580 "How to install client certificate on IOS mobile ( Iphone and IPad) and Android devices"
[Enter feedback here]

It will be great to also have the steps on how to add the client certificate on the IOS mobile like Iphone, Ipad and on Android devices as well.
Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbd03728-e670-86b6-aadb-126f2a96155f
* Version Independent ID: fa5a4cf5-714a-c718-7810-58f74f68

[2020-08-10 15:08] DaveVoyles opened #60581 "Cannot create subnet address range of 10.1.0.0/24"
Step 4, under **Create a virtual network** state:

_"Select Add subnet, then enter myVirtualSubnet for Subnet name and 10.1.0.0/24 for Subnet address range."_

However, if a user attempts to do so, they receive the following error:

![image](https://user-images.githubusercontent.com/1786053/89798132-cda3d700-daf9-11ea-89a2-b74a5952406a.png)

_"The subnet address range '10.1.0.0/24' is not containe

[2020-08-10 15:10] #58267 closed

[2020-08-10 15:18] MonikaReddy-MSFT commented on #60579
@D4-AzIdentity -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-10 15:24] gerrynicol commented on #34559
Hi there. What was the solution to this?

[2020-08-10 15:25] Rodrigossz commented on #59785
@arthur1993 : This content was updated and will be publish in the next week. Tks

[2020-08-10 15:34] AdamGrossTX opened #60582 "Clarification on the meaning of the entries in the table"
Can you add a note to clarify what the column entries mean? Perhaps provide an example entry with a description of the values?

Specifically, what does this mean? Do printers get synced or not? Does the X mean this setting doesn't apply for the device type?  Overall the wording is very confusing.

Devices: shared printers you've connected to	X	X	other

---
#### Document Details

⚠ *Do not edit thi

[2020-08-10 15:43] Absoblogginlutely opened #60583 "What happens if you don't use the wizard to remove adfs when it was used originally to create adfs"
What happens if you do not run the wizard to remove ADFS but use powershell instead (as per previously documented procedures?)
I have an environment where powershell was used to remove federation, get-msoldomainfederationsettings shows up empty for all domains, yet Azure AD Connect still prompts to remove Federation.
Under option A, point 4 the dialog box is also different now and looks like the f

[2020-08-10 15:46] PramodValavala-MSFT commented on #60277
We have worked up a PR to address this, which once merged should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-10 15:46] #60277 closed

[2020-08-10 15:52] gyto23 commented on #60409
@NavtejSaini-MSFT there is no such example in documentation that referred to the issue above I have. In addition most of the azure documentation is based on docker-compose which have application and database connection as docker compose. one of the examples is https://docs.microsoft.com/en-us/azure/cognitive-services/containers/docker-compose-recipe, there is no such documentation that response to

[2020-08-10 15:53] Snozzberries commented on #59973
Works perfectly, thank you for the update!

[2020-08-10 15:58] YutongTie-MSFT commented on #60565
@rvooren
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-10 16:00] YutongTie-MSFT commented on #60460
@dandelion88
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-08-10 16:00] #60460 closed

[2020-08-10 16:07] seemantcapgemini opened #60584 "Runtime version Issue"
Thank you so much :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d8c45a-8f08-4c87-ae0d-9fbb901ed402
* Version Independent ID: 73c96870-96d3-5859-a0b9-1c69c3b11300
* Content: [How to target Azure Functions runtime versions](https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version)
* Content Source

[2020-08-10 16:19] MonikaReddy-MSFT commented on #60582
@AdamGrossTX -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-10 16:20] BhargaviAnnadevara-MSFT commented on #60534
@jeremyfiel Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-10 16:20] MonikaReddy-MSFT commented on #60583
@Absoblogginlutely -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-10 16:22] mmacy commented on #60427
@saurabhvartak1982 Thanks for the issue, Saurabh. Except for the indentation issues, can you verify that the below is your intended code changes? The formatting of your issue comment is difficult to parse due to the lack of `Python` code fencing.

[2020-08-10 16:23] captain-yossarian opened #60585 "Deployment center - unable to Configure continuous integration with a GitHub repo"
Hi, I'm unable to  to Configure continuous integration with a GitHub repo.

**How to reproduce ?**

1) Click configure CI ...
![CI](https://user-images.githubusercontent.com/16646733/89806074-de267280-db36-11ea-9a98-c02a723ae4d1.png)

2) Click  Authorize .....

![github_auth1](https://user-images.githubusercontent.com/16646733/89806175-fa2a1400-db36-11ea-9d65-2964c47574f3.png)

Then I'm receiving

[2020-08-10 16:24] mmacy commented on #59693
Hi @jmprieur, I believe Hirsch has passed this one over to you in https://github.com/MicrosoftDocs/azure-docs/issues/59693#issuecomment-665127738:

#reassign:jmprieur

[2020-08-10 16:25] mmacy commented on #59014
Updating issue assignment to @DarylThayil  per @jmprieur so it's not double-assigned: #reassign:DarylThayil

[2020-08-10 16:32] mvelikikh opened #60586 "Backup operation mentioned under wrong section"
Hi folks,

I think the following sentence is inaccurate:

The Backup link is under the **Operations** section, not **Settings**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b096a07f-13e7-7ab2-1c09-c173673b5fd7
* Version Independent ID: 98eb1af6-dfb7-40cd-e841-87f45bea74de
* Content: [Tutorial - Back up Linux virtual

[2020-08-10 16:35] yoelhor commented on #60170
Have you considered using the [DoesClaimExist](https://docs.microsoft.com/en-us/azure/active-directory-b2c/general-transformations#doesclaimexist) claim transformation?

[2020-08-10 16:37] vhorne commented on #57934
article updated with additional information.
#please-close

[2020-08-10 16:37] #57934 closed

[2020-08-10 16:37] scyto commented on #59164
@emuench I have one remaining question not covered - I see you calculate currency based on a daily updated rate when the offer is published.  I see that you state the currency is locked when published.  Can i assume that the currencies are never updated - i.e.if there was a huge market fluctuation that we need to account for we would have to republish to change the rates?

Does this mean that MS i

[2020-08-10 16:41] SaiKishor-MSFT commented on #60581
@DaveVoyles Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-10 16:47] AshokPeddakotla-MSFT commented on #60354
@kiranpradeep Here is an update.

RC releases are not currently available from packages.microsoft.com. See: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge#update-to-a-release-candidate-version

The section link to https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#install-runtime-using-release-assets which ask to download packages from the release

[2020-08-10 16:47] SatishBoddu-MSFT commented on #60147
@lalalawink @zqynoob We have enabled a one-time free support ticket for your subscription and sent an email, Please make use of it for further help with troubleshooting.

Please check your email for further details we sent recently regarding the support ticket.

[2020-08-10 16:48] MarileeTurscak-MSFT commented on #60576
@thequesarito
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-10 16:52] #54475 closed

[2020-08-10 16:53] mike-urnun-msft commented on #60585
Hi @captain-yossarian - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-08-10 16:56] jbkcmouli commented on #47516
Hi, Can some please give some clarify on "QnA Maker Portal SharePoint" Enterprise App,  are we giving this app permission to read all the SharePoint Content? from the documentation it appears so;
Is there an option we can grant the permission to app to read on selective resources/site collections etc.?

[2020-08-10 16:56] rarajase opened #60587 "Office 365 Groups rebranding"
Please change references to Office 365 Groups to Microsoft 365 Groups. These changes need to be made before Sep 2020.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c25353-cfb3-811c-a970-2a04678eff6e
* Version Independent ID: 145d404a-f7ed-17f6-79a6-0204ab7ee70b
* Content: [Create or edit a dynamic group and

[2020-08-10 16:57] captain-yossarian commented on #60585
Hi  @mike-urnun-msft, sure. Here is the [link](https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment#authorize-azure-app-service)
Sorry for wrong channel.

[2020-08-10 16:58] rolyon commented on #60348
Hi @alexchen2016
I dont see any operations in Azure with this exact string. I'll contact you directly.
thanks

[2020-08-10 16:58] rolyon commented on #60348
#please-close

[2020-08-10 16:58] #60348 closed

[2020-08-10 16:59] JamesTran-MSFT commented on #60587
@rarajase
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-10 17:07] shortpatti commented on #60211
SME will provide editable image upon his return from vacation on August 17th.

[2020-08-10 17:09] Roshan-Thomas commented on #60557
My issue is primarily about the readability of the document.

If there could be a feature of sliding back the table of contents, that would be great.

[2020-08-10 17:15] SaurabhSharma-MSFT commented on #56127
@LijuV-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-10 17:15] #56127 closed

[2020-08-10 17:16] Jaykul commented on #60337
Thanks. Having OpenSSL instructions instead of pvk2pfx would have saved me a lot of time 😀

[2020-08-10 17:18] rolyon commented on #60408
Hi @shraboin
Thanks for the feedback. I'll see if I can find out more about the context.
thanks

[2020-08-10 17:21] asergaz commented on #60575
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc in case there is incompatibility with the hardware you are using.

In the meantime did you check the troubleshooting section for help?
https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting

Thanks

[2020-08-10 17:22] Karishma-Tiwari-MSFT commented on #60286
We will now close this issue. Please share the details and tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2020-08-10 17:22] #60286 closed

[2020-08-10 17:28] MicrosoftGuyJFlo commented on #55969
Content has been updated.

[2020-08-10 17:28] MicrosoftGuyJFlo commented on #55969
#sign-off

[2020-08-10 17:29] MicrosoftGuyJFlo commented on #55969
#please-close

[2020-08-10 17:29] #55969 closed

[2020-08-10 17:31] NavtejSaini-MSFT commented on #60329
@RonnieQuan Please add this ask on https://feedback.azure.com/forums/597982-azure-database-for-mysql to get this added to the feedback for the product and Product Team will prioritize this.
For now we will be going and closing this request.

[2020-08-10 17:31] #60329 closed

[2020-08-10 17:32] mgblythe commented on #60571
#assign @santhoshsomayajula

[2020-08-10 17:32] sogetidev1 commented on #60533
It was mentioned on this thread that this will be possible and available in next 6 months but I do not see any confirmation since then on same.
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/17902447-change-user-s-primary-email-address-primary-email

[2020-08-10 17:33] mgblythe commented on #60571
Thanks for the feedback @jvossers, assigning @santhoshsomayajula to address your question.

[2020-08-10 17:36] NavtejSaini-MSFT commented on #60430
@wolfberry We are going ahead and closing this issue for now. Please let us know if you have any further questions by commenting on this thread.

[2020-08-10 17:36] #60430 closed

[2020-08-10 17:41] GiftA-MSFT commented on #60501
@jcpayne thanks for reaching out. A default storage account is created along with your AML workspace and you can manage the data accordingly. Your experiment data is stored in a blob container in the default storage account and you can access it directly from your resource group or view your credentials in AML Studio > Datastores > workspaceblobstore (Default).

[2020-08-10 17:45] NavtejSaini-MSFT commented on #60423
@Diastro  We have checked and link is not working. We will work with our author to get correct link.
@srdan-bozovic-msft Please check the link and correct with the correct one.

[2020-08-10 17:49] NavtejSaini-MSFT commented on #60300
@asc-adean Were you able to check the above. Please check and confirm so we can take the next steps regarding this.

[2020-08-10 17:51] lisaguthrie commented on #57533
Hi @SNorzagary - thanks for the feedback, and apologies for taking so long to get back to you.

The quickstart just covers the basic scenario of loading app configuration from App Config at startup. The options you showed are required when you want your app to refresh configuration dynamically from App Config, without needing to restart the app. This is covered in the [dynamic configuration tutori

[2020-08-10 17:54] GiftA-MSFT commented on #59940
Hi @MrSimple263 pardon me, I missed the part where you mentioned 'Phrase Dictionary' earlier. I am able to confirm the data is valid and was able to train successfully. If you continue to experience errors, can you please provide steps to reproduce the issue (i.e settings used, resource location, file extension (e.g .txt),  etc.)?

[2020-08-10 17:56] sebansal commented on #60060
Adding doc author @ShaneBala-keyvault for feedback shared

[2020-08-10 18:01] MicrosoftGuyJFlo commented on #48657
#please-close docs updated

[2020-08-10 18:01] #48657 closed

[2020-08-10 18:02] jcpayne commented on #60501
Yes thanks, I was aware of that.  So is just deleting the blobstore folders for a run going to cause any problem?  I.e., does the workspace somehow index those folders in a way that would cause problems if they were deleted?

Also, there are two folders and two files created for every run (a 'setup' folder; a main folder, a .zip file, and another non-zipped file), so deleting "Experiment 2, Run 4"

[2020-08-10 18:02] DaveVoyles commented on #60581
Later on I went back refreshed the page, tried again, and it worked flawlessly. I'm not sure why this happened, but I will mark this as closed.

[2020-08-10 18:02] #60581 closed

[2020-08-10 18:03] asc-adean commented on #60300
@NavtejSaini-MSFT It is a 'single instance' SQL DB, though the naming of these services is confusing -- both are 'managed' SQL databases (as in Azure manages them, not the user), but only one is labeled such, and I can have 'multiple' databases in a 'single instance' SQL DB.

Appreciate the info and will look into alternative ways to handle on-prem to Azure migrations.  Thanks!

[2020-08-10 18:03] #60300 closed

[2020-08-10 18:15] bwren commented on #60406
We actually just updated this article with that command for python2.

#please-close

[2020-08-10 18:15] #60406 closed

[2020-08-10 18:17] Mexicoder opened #60590 "Secure webhook setup issue"
the PowerShell script creates the AD service principal but I can't use it unless the "Application ID URI" is set.
the UI on the action group page just failed to save and says "undefined" in the notification. I was only able to find out the reason by looking at the API call response which says
{"code":"AadWebhookApplicationUriNotFound","message":"AadWebhookApplicationUriNotFound"}

---
#### Documen

[2020-08-10 18:17] tamram commented on #59219
@peterboba - the docs now include an example of how to update this property with an ARM template.

[2020-08-10 18:28] maheshksingh commented on #59697
Hello Team Microsoft, any updates, its quite some time the issue is open. Please help. Thanks

[2020-08-10 18:30] Mlavieri opened #60592 "Unable to set preferredDataLocation for synchronized accounts"
The documentation makes it seem that it is possible to set this value in Azure AD for synchronized users:

When doing this I get an error in PowerShell that appears that this value is not able to be set for a synchronized user. I have no issues when doing a cloud only account.

Microsoft.Online.Administration.Automation.PropertyNotSettableException,Microsoft.Online.Administration.Automation.SetUse

[2020-08-10 18:31] BhargaviAnnadevara-MSFT commented on #60467
@daviddwlee84 The changes now reflect in the doc. Thanks again for bringing this to our attention.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-10 18:31] #60467 closed

[2020-08-10 18:33] #60530 closed

[2020-08-10 18:33] BhargaviAnnadevara-MSFT commented on #60530
@cqueern Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-10 18:40] lisaguthrie commented on #55294
Closing for now. Please reach out if you have further questions.

#please-close

[2020-08-10 18:40] #55294 closed

[2020-08-10 18:40] stevestein commented on #48043
@riedwaanb - thanks for the feedback! We've removed the confusing section from the image. The update should be live within the next 24 hours.

Thanks!

#please-close

[2020-08-10 18:40] #48043 closed

[2020-08-10 18:42] lisaguthrie commented on #54891
Closing for now. Please reach out if you have further questions.

#please-close

[2020-08-10 18:42] #54891 closed

[2020-08-10 18:42] roygara commented on #60314
@rmc515 Thanks for reaching out, I went ahead and took a look. The documentation doesn't say it's 1 TiB for the File level limits, it also says 4 TiB for premium file shares.

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-scale-targets#file-level-limits

However, I see that the premium file shares and standard files columns got swapped between the two tables. So I'll go ahead

[2020-08-10 18:43] BhargaviAnnadevara-MSFT commented on #60533
@sogetidev1 Thank you for the response. We regret the inconvenience caused.

I'd like to let you know that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations is going to be the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/in

[2020-08-10 18:53] MonikaReddy-MSFT commented on #60592
@Mlavieri -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-10 18:55] MonikaReddy-MSFT commented on #60170
@yoelhor - Thank you for providing your insights.
@vaibhavrmore1 -  I hope @yoelhor has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-10 18:55] #60170 closed

[2020-08-10 19:01] lujiangfeng666 commented on #51295
CTL for inactivity will be retired soon.

AAD can not really tell client is active or not. Client is in the best position to tell in-activities. Azure Portal has that feature already. Other Microsoft 1st party applications are working on the feature right now.

[2020-08-10 19:03] hpsin commented on #57557
@astaykov can you help us out with what lead you to that conclusion? This is not a change I'm aware of.

[2020-08-10 19:03] GiftA-MSFT commented on #60570
@diberry can you please review feedback provided for doc enhancement. Similar to this [thread](https://github.com/MicrosoftDocs/azure-docs/issues/46053).

[2020-08-10 19:04] JeffySmith opened #60593 "Need details on Basic (ARM) vs Standard (ARM) IP's - Billing is incorrect as 5 Basic do not appear to be no charge"
I am being told there IS a charge for BASIC ARM IP's and the forst 5 are NOT free - but this page says the opposite.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f08aa14-b6c1-2c8f-62b0-e5b8c13a407a
* Version Independent ID: 8919729b-a4cd-0e63-7c33-fa8f7e72d454
* Content: [Private IP addresses

[2020-08-10 19:05] hpsin commented on #51307
@rwike77 can you assign this to me? We don't officially support this claim (by virtue of lack of docs) so I'll need to collect design and support statements internally before we doc it and support it.

[2020-08-10 19:06] hpsin commented on #43330
Combined consent is now supported. Please review the doc again and let us know if you still feel like there's a path to success missing for you.
#please-close

[2020-08-10 19:06] #43330 closed

[2020-08-10 19:09] BharathNimmala-MSFT commented on #60403
@mvfolino68 Thank you for being patient on this, I have reached out to our internal team to get an answer for your query. We will keep you updated as I have more information.

[2020-08-10 19:14] v-tcassi commented on #58278
Hi! The appropriate change to the quickstart is being included in a pull request now.

A note has been added to the virtual machine creation section to alert the user to limit their use of the virtual machine to within the automatic check for updates or to use the Windows Update advanced options to manually pause updates for a longer duration.

This issue will be closed when the pull request is me

[2020-08-10 19:15] WinstonHoward-MSFT commented on #60508
Thanks for bringing this to our attention. I've updated the doc and will now close this issue. If there are further questions regarding this matter, please tag me in a comment. Have a good one.

[2020-08-10 19:15] #60508 closed

[2020-08-10 19:16] rwike77 commented on #51307
#reassign:@hpsin  Thanks

[2020-08-10 19:18] cwester72 opened #60594 "Cant connect to WVD resources"
I can only connect using the web app, using the remote desktop I get:

We couldn't connect because there are currently no available resources

Error code 0x3000046

This is intermittent, we can connect sometimes, but seems to break a few times a week and is extremely disruptive.

Thanks for any help on this issue.

Craig

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-08-10 19:23] zmarty opened #60595 "Please provide better documentation for understanding Event Grid failures"
I work for an internal Microsoft team. We are struggling to understand Event Grid logs and Azure support has been less than helpful.

I am looking at the Metrics tab under Event Subscription.

There are several explanations missing from this page, including:
- Is Delivery Succeeded from the page the same as "Delivered Events" in the graphs?
- Expired Events are not in the graphs. Where are they? W

[2020-08-10 19:25] rlevchenko commented on #60015
@SaiKishor-MSFT don't have any errors with CA=true certificate. If you mistyped hostnames in the cert, the app gw shows straightforward message - hostnames aren't the same. If the root cert is not marked as CA, app gw shows - invalid CA certificate. The main point is that error messages in both cases are different.

[2020-08-10 19:29] WinstonHoward-MSFT commented on #60499
Thanks for the feedback! We've assigned this issue to the content author to investigate further and update the document as appropriate.

[2020-08-10 19:29] Karishma-Tiwari-MSFT commented on #60578
@Klaas-  Are you looking for information on how to get new documents created for RHUI under Azure Docs repository?

[2020-08-10 19:30] Karishma-Tiwari-MSFT commented on #60586
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-08-10 19:31] mauve commented on #34826
@mj1856 Hi Matt, did you ever end up preparing a PR for your impl, it would be very nice to get rid of the connection strings in my code base.

[2020-08-10 19:31] awgraf opened #60596 "Clarity"
It would be beneficial if the path for this section was clearly defined. You can see it in the screenshot, but the path isn't very obvious.

Previous:
Copy MigrateSettings.ps1 from the Microsoft Azure AD Connect\Tools directory to a location on the existing server. An example is C:\setup, where setup is a directory that was created on the existing server.

Suggested:
Copy MigrateSettings.ps1 from

[2020-08-10 19:33] MGoedtel commented on #58973
I've updated the article and addressed this and other inconsistencies in the article.  It should go live later today. #please-close.

[2020-08-10 19:33] #58973 closed

[2020-08-10 19:34] adharshsanthanam opened #60597 "Conflicting information about "Industries" section for a Consulting services publication"
[The first line under the section "Industries" calls out that the industry section is applicable to AppSource offers and Consulting services offer in Azure marketplace while the "Note" section that immediately follows states that there are no industry verticals for consulting services in Azure marketplace. These two statements seem to be conflicting each other with respect to a Consulting offer on

[2020-08-10 19:38] NavtejSaini-MSFT commented on #60409
@gyto23 We are assigning this our author for further review.
@YutongTie-MSFT for awareness.
@aahill Please check this and provide guidance.

[2020-08-10 19:38] ashwinp88 commented on #32126
@anthonychu *bump*
In other words, is there any way we can manually complete the message in Java Azure functions  (service bus triggered) instead of relying on the framework to auto close it after the function exits.

[2020-08-10 19:43] allegradomel commented on #52181
Hi @bbayles - thanks for this feedback! Agreed this is not ideal - I will communicate this to engineering so we can investigate providing a static link instead

Also, Get-AzNetworkServiceTag should be updated and ready for GA in the fall, so hopefully this will help as well .

[2020-08-10 19:45] Incblob commented on #60570
the method create_utterances mentioned in that thread is still missing. I can't find it at the moment, but earlier i found it in the respective .py file on github. Just copy the method from there into the docs. I tested it and it works.

[2020-08-10 19:48] NavtejSaini-MSFT commented on #60505
@RonnieQuan The ATP is integrated with ASC and is in preview for Azure MySQL. As it is in preview the ATP for MySQL is available free of cost. The prices may change once the service goes into GA(Generally Available) phase.
https://docs.microsoft.com/en-us/azure/mysql/howto-database-threat-protection-portal

[2020-08-10 19:48] NavtejSaini-MSFT commented on #60503
@RonnieQuan The ATP is integrated with ASC and is in preview for Azure PostgreSQL. As it is in preview the ATP for PostgreSQLis available free of cost. The prices may change once the service goes into GA(Generally Available) phase.
https://docs.microsoft.com/en-us/azure/mysql/howto-database-threat-protection-portal

[2020-08-10 19:48] Klaas- commented on #60578
@Karishma-Tiwari-MSFT no, the Prosper way to get into contact with the team operating the rhui infrastructure. Would this be a support request, or is there a contact mail - something like that.

[2020-08-10 19:49] BhargaviAnnadevara-MSFT commented on #60272
@jamesbannan Yes, these indeed are valid asks to think about. I'm checking with our Product group internally and shall keep you posted as I hear more.

Thanks for the feedback!

[2020-08-10 19:52] Nickomang commented on #59034
Hi @m1nkeh, sorry that wasn't able to solve the issue. Seems like the container isn't communicating with the socket properly. When you run the container, can you try bind mounting the /var/run/docker.sock file? A sample command would look like this (make sure to replace/add port mappings where necessary):

`docker run --name sftestcluster -d -v /var/run/docker.sock:/var/run/docker.sock -p 19080:19

[2020-08-10 20:06] rachel-msft commented on #60503
https://azure.microsoft.com/en-us/pricing/details/security-center/

[2020-08-10 20:06] JamesTran-MSFT commented on #56371
@YassineSOUABNI
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-08-10 20:06] #56371 closed

[2020-08-10 20:19] iainfoulds commented on #60532
Thanks for the feedback, @yaleman. Engineering team has confirmed there's no requirement to bind as an admin user. I'm making a doc update now, which should publish later on today.

#in-progress

[2020-08-10 20:19] pacodelacruz commented on #60452
That is correct @MayankBargali-MSFT . I believe this page should mention that we can connect to HTTP/S endpoints (REST and SOAP) with Custom Connectors via the on premises data gateway (with the corresponding links) for completeness.
As it is, it seems that HTTP is not supported on the OPDG.

Thanks!

[2020-08-10 20:22] roygara commented on #60314
This change has been merged and will be live later today.

Accordingly, I'll close this out.

#please-close

[2020-08-10 20:22] #60314 closed

[2020-08-10 20:23] MarileeTurscak-MSFT commented on #60596
@awgraf
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-10 20:27] JamesTran-MSFT commented on #60587
@rarajase
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-08-10 20:27] #60587 closed

[2020-08-10 20:29] #60532 closed

[2020-08-10 20:34] impresent7 opened #60598 "shaded.databricks.org.apache.hadoop.fs.azure.AzureException: com.microsoft.azure.storage.StorageException: One of the request inputs is out of range. error while loading into delta tables."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-08-10 20:45] sethmanheim commented on #56282
Hi @KAnderson please let us know if you have further questions. #please-close

[2020-08-10 20:45] #56282 closed

[2020-08-10 20:47] konrad-jamrozik opened #60599 "Missing " in .json snippet."
In the json below this sentence:

`If all this join table is doing is gluing together two pieces of data, then why not drop it completely? Consider the following.`

Namely, the `"` is missing after `b1` in here:
`Author documents:
{"id": "a1", "name": "Thomas Andersen", "books": ["b1, "b2", "b3"]}`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-08-10 21:14] MarileeTurscak-MSFT commented on #60596
Thanks! I think that's a fair callout. I made a pull request to add the file path as suggested. https://github.com/MicrosoftDocs/azure-docs-pr/pull/125583

[2020-08-10 21:14] #60596 closed

[2020-08-10 21:15] jtg5122 opened #60601 "UpdatekbOperationDTO Update DTO object example"
Hello,

Can you please provide an example in C# of how to use the Update within UpdatekbOperationDTO to update the wording of a particular question and/or answer?  In the example here, the Update DTO is set to null and I can't find an example anywhere.

If I have to update the entire KB, how do I do that?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-08-10 21:20] erikerikson commented on #53851
Quick follow up: we have verified with support that specifically device connectivity status can be out of date by more than 20 minutes.  (Verification was not specifically attempted against other fields though it was implied some of them might be better.)

We have been advised that the delay has been accepted as a defect but not given any timeline for resolution.  Additionally, we were advised to

[2020-08-10 21:20] #53851 closed

[2020-08-10 21:34] SaurabhSharma-MSFT commented on #59529
@jaffadog I have received the information from product team as this is in beta this could happen as [beta calls always changes](https://docs.microsoft.com/en-us/graph/versioning-and-support#beta-version) and they cannot be guaranteed on the results also. Once it comes to GA they will update the document. Sorry for your trouble. Please let me know if you have any other questions else I will proceed

[2020-08-10 21:36] jasonzio opened #60602 "SSH Key management - how do I list stored public keys or retrieve stored keys?"
This page tells me how to create an SSH key pair and how to create a VM using the stored public SSH key, but it doesn't tell me how I can list the stored public keys nor does it tell me how to retrieve a public key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c5a806-41a2-f4a6-6888-329f7f362a53
* Version Independen

[2020-08-10 21:41] rarajase commented on #60587
Thanks

From: James Tran - MSFT <notifications@github.com>
Sent: Monday, August 10, 2020 1:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ramya Rajasekhar <Ramya.Rajasekhar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Office 365 Groups rebranding (#60587)

@rarajase<https://nam06.safelinks.protection.outlook.com/?url=https%3A%

[2020-08-10 21:47] NavtejSaini-MSFT commented on #60362
@clement911 I apologize for the confusion in me understanding the question.This is a difference between changes done through portal and programmatically.
Our author @shkale-msft will elaborate more regarding this.

[2020-08-10 21:48] shkale-msft commented on #60362
@clement911 You can use PowerShell to set the retention to 3 or a desired value between 1 -35 days for Azure SQL DB (except Hyperscale). Currently, Azure Portal only supports the fixed values shown there. We are working on brining a change to Azure Portal, where we will support a slider, which will let you set the retention to any value between 1-35 (for MI this already works). However, that chang

[2020-08-10 21:51] MarileeTurscak-MSFT commented on #60324
Thanks! I think it's a fair point and made a pull request to add the suggested edit. https://github.com/MicrosoftDocs/azure-docs-pr/pull/125594

[2020-08-10 21:51] #60324 closed

[2020-08-10 21:52] GiftA-MSFT commented on #60501
@jcpayne currently, AML doesn't support deleting experiments but this feature is on our roadmap. It is also not recommended to delete files in blob storage (you can but I just confirmed that it is not recommended as it could cause inconsistencies). However, you can use the following python code sample to delete runs and its artifcats (note- snapshot dir won't be deleted). Let me know if the below

[2020-08-10 21:57] thequesarito opened #60603 "User Management Preview mode issue"
User management preview - issue noticed.

When trying to search by last name we are unable and thus had to turn of the preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ddd08-b270-94d6-5551-ffa874636376
* Version Independent ID: 7d67048b-87c7-f2c9-d9b7-3820aee61822
* Content: [Add or delete users - Azure Activ

[2020-08-10 21:59] stevestein commented on #33781
I'm going to go ahead and close this issue. Feel free to continue the conversation if needed.

Thanks!

#please-close

[2020-08-10 21:59] #33781 closed

[2020-08-10 22:01] MarileeTurscak-MSFT commented on #60246
Hi @desingh9, I'm not sure whether it is supported yet. I'm unable to see the option on my account as well but it might need to be set up.

I have reached out to the product team to get confirmation on this and will update you as soon as I have a response.

I found a related thread where others were asking the same question. https://techcommunity.microsoft.com/t5/microsoft-teams/teams-not-sending-

[2020-08-10 22:10] stevestein commented on #58952
@Mikako-ff - thanks for raising this issue.  I added a note to the article about the PowerShell version requirement:

![image](https://user-images.githubusercontent.com/9388190/89836409-90504100-db1b-11ea-86eb-a5bffd04c941.png)

Thanks!

#please-close

[2020-08-10 22:10] #58952 closed

[2020-08-10 22:19] crgarcia12 commented on #46430
+1

[2020-08-10 22:31] SvenAelterman commented on #23652
@geertn Is that feedback item still awaiting moderator approval after 18 months?

[2020-08-10 22:43] SaiKishor-MSFT commented on #60015
@rlevchenko
Thank you for the update. Yes, I am not getting any errors when I follow the document as it is. I am glad that its working for you when CA is given as TRUE. If in any case, you want further assistance, Azure Support can help better by taking a look at your resources and environment. I will close this issue as mentioned. Thank you!

[2020-08-10 22:43] #60015 closed

[2020-08-10 22:54] gfaraj commented on #47611
Any direction would be appreciated @RyanHill-MSFT , this is delaying our iOS launch. Thanks!

[2020-08-10 23:02] mmacy commented on #60493
Closing as fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/125349#issuecomment-670605187

Thanks @bachoang and @hpsin!

#please-close

[2020-08-10 23:02] #60493 closed

[2020-08-10 23:15] rgamage opened #60606 "Contradicting info on tag accessibility"
These two statements seem to contradict one another:
1) "Tags are not visible to modules on the device"
2) The module app operates on the module twin using the following atomic operations:
Retrieve module twin. This operation returns the module twin document (**including tags** and desired and reported system properties)

Can the module app read tags or not?  The block diagram showing read, write

[2020-08-10 23:15] allegradomel commented on #47591
@michaelschmit - the doc indicates that the Storage, AzureMonitor, and GuestAndHybridManagement tag can be used with Azure Firewall. Is there any other change you were suggesting?

[2020-08-10 23:16] ash2017 commented on #60606
reassigning to @nehsin for clarity on twin doc.

[2020-08-10 23:22] Karishma-Tiwari-MSFT commented on #60578
@Klaas- You can reach out to them via their site contact option : https://access.redhat.com/support/contact/

[2020-08-10 23:23] MicrosoftGuyJFlo commented on #54071
#please-close

[2020-08-10 23:23] #54071 closed

[2020-08-10 23:26] hhaaii opened #60607 "outdated screenshot"
The "Console output on the service side" screenshot is not longer matching the latest code.

The current output is:
Stream response received: Name=TestStream IsAccepted=True
Sent stream data: Streaming data over a stream...
Received stream data: Streaming data over a stream...
Done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-08-10 23:29] stevestein commented on #58668
@dkmiller - thanks for the feedback. I updated the article from System.Data.SqlClient to Microsoft.Data.SqlClient as suggested.

Thanks!

#please-close

[2020-08-10 23:30] #58668 closed

[2020-08-10 23:35] 2-face commented on #51543
Is there an option to add a route from Vnet via P2S (assuming P2S has static IP, if that's possible too) ?

[2020-08-10 23:36] ChaitanyaNaykodi-MSFT commented on #60573
Thank you for your feedback! We will review and update as appropriate.

[2020-08-10 23:39] ChaitanyaNaykodi-MSFT commented on #60584
@seemantcapgemini, Thank you for your feedback.

[2020-08-10 23:39] #60584 closed

[2020-08-10 23:40] stevestein commented on #52476
@arefinsami - thanks for raising this issue. The link NavtejSaini provided has this info:

Otherwise, probably it is better to use our PowerShell cmdlet **New-AzureRmSqlSyncMember**, you need to specify the “**MemberServerName**” parameter, which is the fully qualified DNS name for the logical server.

To see the subscriptions in portal, they must under the same tenant and the user needs to have p

[2020-08-10 23:40] #52476 closed

[2020-08-10 23:43] ChaitanyaNaykodi-MSFT commented on #60595
@zmarty, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-10 23:45] 2-face commented on #51543
Basically what I am looking for is an option that exists with OpenVPN whereby by enabling IP forwarding on interface you can route any traffic from on-prem to Azure (not only traffic originated with src IP of VPN client)

[2020-08-10 23:49] KranthiPakala-MSFT commented on #60304
@jurw2201 Thanks for your response. To add or remove role assignments, you must have:

Microsoft.Authorization/roleAssignments/write and Microsoft.Authorization/roleAssignments/delete permissions, such as [User Access Administrator](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#user-access-administrator) or [Owner](https://docs.microsoft.com/en-us/azure/role-based-acces

[2020-08-10 23:54] kgremban commented on #52715
Following up on this conversation, I'm adding a paragraph to the prerequisites section of this tutorial clarifying that the SDK is not required but can be helpful for developers. GitHub will automatically close this issue when the pull request with this update is merged. If there are any follow-up questions or suggestions, feel free to comment here and we can reopen the issue if necessary.

[2020-08-10 23:56] SaurabhSharma-MSFT commented on #60525
@Jasonvgrace If you lost your phone then you need to talk to your Organization's helpdesk as mentioned under the [section](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-troubleshoot#i-lost-my-mobile-device-or-it-was-stolen). Please let me know if you need any specific help.

[2020-08-10 23:56] #52715 closed

[2020-08-10 23:58] ConnorMcMahon commented on #59880
@PramodValavala-MSFT, I do not think that @alexkarcher-msft is the appropriate content owner for this documentation, as he is no longer on the Azure Functions team.

[2020-08-11 00:04] tamram commented on #60336
@vick-git - Thanks for your feedback. I've updated the article to note that registration is required and added a link to the article that describes how to register.

These changes should go live overnight.

#please-close

[2020-08-11 00:04] #60336 closed

[2020-08-11 00:11] jlichwa commented on #57255
Updated #please-close

[2020-08-11 00:11] #57255 closed

[2020-08-11 00:17] tamram commented on #59219
@bill-barron - I have verified the experience you reported, and we are looking into this.

[2020-08-11 00:19] #60304 closed

[2020-08-11 00:19] cynthn commented on #60602
@jasonzio Since the SSH keys are stored as a resource, you can use the regular resource filter in the portal to see them all. For example, if you got to **All resources** you can change the filter and choose Type = SSH key. I can add something about that to the doc.

As far as retrieving the public key - why would you be doing that? When you create a VM, you can choose which public key to use. Are

[2020-08-11 00:21] KranthiPakala-MSFT commented on #60304
@jurw2201 The PR for the fix has been submitted, the changes should reflect within 24 hours. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-08-11 00:28] #60586 closed

[2020-08-11 00:34] jasonzio commented on #60602
The biggest use case is probably retrofitting existing deployments. I have multiple VMs already deployed and operating, using multiple key pairs created before this feature was added. It would be quite useful to consolidate credentials, replacing existing public keys with a key kept in the portal. This is future-proofing; I have every reason to believe the dev team that owns this feature will be a

[2020-08-11 00:39] jlichwa commented on #38626
@lhale we completely rewritten this document to use new SDK. If you see any issues please create new one. #please-close

[2020-08-11 00:39] #38626 closed

[2020-08-11 00:46] mike-urnun-msft commented on #60598
Hi @impresent7 - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-11 00:48] jlichwa commented on #44105
@justSteve updated and tested for 3.1. Please create new issue if you find something new. #please-close

[2020-08-11 00:48] #44105 closed

[2020-08-11 00:52] ecfan commented on #60176
Thanks @jchoudhury78 and @PramodValavala-MSFT, the syntax info has been added to the doc and should appear live after 11 AM PDT on 07/11/2020.

[2020-08-11 00:52] #60176 closed

[2020-08-11 00:57] jlichwa commented on #48231
@sebainones I updated tutorial to better reflect current state. In general Microsoft.AspNetCore.AzureKeyVault.HostingStartup behind the scenes is using AppAuthentication library(listed as dependencies) which will use managed identity if available and try user principle if not.
With new SDK we moved to DefaultAzureCredential which is working similar, but also available for other languages and that

[2020-08-11 00:57] #48231 closed

[2020-08-11 00:57] jlichwa commented on #56508
#please-close

[2020-08-11 00:58] #56508 closed

[2020-08-11 01:06] jlichwa commented on #58883
Hello @WhitWaldo those detailed information can be find in .net sdk. https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.secrets?view=azure-dotnet
Quickstart purpose is quick way to  just to get you started, not to cover all scenarios. #please-close

[2020-08-11 01:06] #58883 closed

[2020-08-11 01:16] jlichwa commented on #60130
@SeaDude how is that key vault loophole. It is Azure Function issue with Key Vault References feature. Key Vault References is not key vault product. This is a document for that feature https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references #please-close

[2020-08-11 01:16] #60130 closed

[2020-08-11 01:26] anbene commented on #59642
@santhoshbomma9  Apologies for the delay in our reply. In the event that all instances are occupied, the new customer would need to wait until an instance becomes available – an email notification is sent when the test drive instance is ready. Thank you again for reaching out.

[2020-08-11 01:27] anbene commented on #59642
#please-close

[2020-08-11 01:27] #59642 closed

[2020-08-11 01:35] xiopeter3345 opened #60609 "Storage key does not submit to livy as configuration"
When run Apache Spark Livy Onteractive Session, if using "Use Azure Blob to upload" as Storage Type, the key will not be submitted to livy as configuration. The configuration need to be submitted through job configuration. It should avoid to type the key twice for the same purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-08-11 02:02] Karishma-Tiwari-MSFT commented on #60482
@porrascarlos802018 Can you please elaborate on your suggestion for doc update-
'kindly clarify , VMSS as a requirement'?
Not completely sure about if this is what you are looking for, but the doc mentions this about VMSS,

[2020-08-11 02:05] Karishma-Tiwari-MSFT commented on #60602
Thanks @Cynthia for sharing your insights.
I have assigned the issue to you for the doc updates as needed.

[2020-08-11 02:13] guangying94 opened #60611 "Color coding of network diagram"
[Enter feedback here]
The first diagram that explains data flow vs command & control. In the legend, data flow is represented in blue arrow, but the diagram is using green arrow.

![image](https://user-images.githubusercontent.com/44426401/89859517-cabeea00-dbbe-11ea-910c-012228a72697.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-11 02:22] Karishma-Tiwari-MSFT commented on #60594
Thanks for the question. We are currently investigating and will update you shortly.

[2020-08-11 02:27] KrishnaG-MSFT commented on #60590
@Mexicoder Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-11 02:29] Karishma-Tiwari-MSFT commented on #60594
I am reaching out to the internal teams to investigate the root cause. In the meantime, can you please try reinstalling the agent and let me know.
Ensure that you are installing both the Agent and the Agent Bootloader as described here:
Reference doc: https://docs.microsoft.com/azure/virtual-desktop/create-host-pools-powershell#register-the-virtual-machines-to-the-windows-virtual-desktop-host-pool

[2020-08-11 02:29] KrishnaG-MSFT commented on #60597
@adharshsanthanam Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-11 02:32] AshokPeddakotla-MSFT commented on #60018
@dfay88 Sorry for the delay. Yet to receive an update on this issue. Appreciate your time and patience.

[2020-08-11 02:36] TravisCragg-MSFT commented on #60593
@JeffySmith This page does not state anything about 5 basic, but the [Public IP Pricing page](https://azure.microsoft.com/en-us/pricing/details/ip-addresses/) states that the first 5 static basic public IP Addresses are. If this page or another says something different, can you provide a link to that page?

[2020-08-11 02:39] kiranpradeep commented on #60354
Thanks @AshokPeddakotla-MSFT . It helps. Now, irrespective of my issue being solved, I feel the "update-to-a-release-candidate-version" section of the document is cryptic. I would replace that wall of text in "update-to-a-release-candidate-version" section  with 1 line: "Download and install from github releases page" by referring to ''install-runtime-using-release-assets" section. IMHO,  the curr

[2020-08-11 02:39] #60354 closed

[2020-08-11 02:47] Shuanglu opened #60612 "In the cluster with egress as UDR, the LB won't be provisioned unless user creates the loadbalancer service"
[Enter feedback here]

In the cluster with egress as UDR, the LB won't be provisioned unless user creates the loadbalancer service. pls help correct the doc to avoid confusion
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d721081-0c1c-abf3-a398-386a718446d0
* Version Independent ID: 92b5504d-e25a-be94-e5e5-151083a7060

[2020-08-11 02:50] Karishma-Tiwari-MSFT commented on #60298
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-08-11 02:50] #60298 closed

[2020-08-11 03:06] MonikaReddy-MSFT commented on #60603
@thequesarito -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-11 03:50] amit-sycomp opened #60614 "Hello , I am not able to specify the config element, since i need to override the default behavior for the basics steps."
I am not sure where to use the config, before basic or after the basic. I am placing the config just after the parameter and it is throwing me an error saying basic is not defined. Please help me with an example where I can see how the config elements have been used to override the basic properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-11 04:05] SatishBoddu-MSFT commented on #60487
Hello @Rohan-Deshamudre

**The issue is now fixed**, Please refer to https://docs.microsoft.com/en-us/answers/questions/62108/index.html.

Now we see the room temperature as well.!!

Please get the latest Sample code from [Github repo](https://github.com/Azure-Samples/digital-twins-samples) and try it.

**The below image confirms the changes are live!.**

![image](https://user-images.githubusercon

[2020-08-11 04:07] #59829 closed

[2020-08-11 04:21] vipulsparsh commented on #60443
@g0pinath Let us know if you have any questions, we will be closing this now. Please tag me in your comment if you have any other question about this,

[2020-08-11 04:21] #60443 closed

[2020-08-11 04:31] Brucius commented on #58856
Hi @femsulu , just tested this out and it seems to be doing for the subscriptions under one tenant. How about subscriptions residing under different Azure AD tenants? Are there any ways to do this?

[2020-08-11 04:44] VikasPullagura-MSFT commented on #60278
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-11 04:44] #60278 closed

[2020-08-11 04:57] HarithaMaddi-MSFT commented on #60551
PR is Approved and signed off. @subashsivaji -  I will now proceed to close this issue. Feel free to still comment and tag me if you need any more clarification.

[2020-08-11 04:57] #60551 closed

[2020-08-11 04:59] ram-msft commented on #60601
@jtg5122 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-08-11 05:03] AshokPeddakotla-MSFT commented on #60607
@hhaaii Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-11 05:19] SumanthMarigowda-MSFT commented on #60459
@push32 I'd recommend posting your question in https://docs.microsoft.com/en-us/answers/questions/topics/single/35048.html since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Also

[2020-08-11 05:19] #60459 closed

[2020-08-11 05:25] AjayKumar-MSFT commented on #60133
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-08-11 05:25] #60133 closed

[2020-08-11 05:28] AjayKumar-MSFT commented on #60274
Hope the above response helps. We have also shared your feedback with the content owner. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-08-11 05:28] #60274 closed

[2020-08-11 05:36] AnuragSharma-MSFT commented on #60614
@amit-sycomp  - Thank you for sharing your feedback! Could you provide us with a specific URL of the Doc that you provided your feedback on? That way, we will be able to connect you with the right team and find the right solution on it.

[2020-08-11 05:37] pnarsi commented on #59647
Hi @JayaChatterjee-MSFT

If I am reading your response correctly, in the context of a Premium Plan with VNET integration with all outbound traffic forced out via my VNET the the traffic flow from Kudu to Github should be similar the the green line in the attached diagram. Therefore I need to setup the appropriate rules in my corporate firewall as well as the NSG of the integration subnet. Does tha

[2020-08-11 05:38] AnuragSharma-MSFT commented on #60599
@konrad-jamrozik Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-11 05:47] impresent7 commented on #60598
Hi Mike,
I am sorry for wrong place for this issue. i am looking for databricks delta lake for this issue.

[2020-08-11 05:48] AnuragSharma-MSFT commented on #60568
@TechieAz, please check the answers below for your queries:

1. Yes, we need to create the concatenation of new partition key by ourselves, Cosmos DB by itself would not do it. Hence we are free to name the attribute as per our convention.
2. If older objects don't have that property and you want to update them you can still do it. But if the partition key was not defined on this new attribute, yo

[2020-08-11 05:50] amit-sycomp commented on #60614
Hi Anurag,

Please find the URL below.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-uidefinition-overview#config

[2020-08-11 05:55] dcurwin commented on #60293
Thanks for the recommendation. The page has been updated.

#please-close

[2020-08-11 05:55] #60293 closed

[2020-08-11 05:57] AnuragSharma-MSFT commented on #60337
@Jaykul Apologies you had to face the issue. Hoping other users will get benefitted with this change. Thanks again for pointing it out.

PR should be live in few days with the recent changes, meanwhile we will proceed to close the thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-11 05:57] #60337 closed

[2020-08-11 06:06] AnuragSharma-MSFT commented on #60599
@konrad-jamrozik Thanks for letting us know the issue, really appreciate your efforts. We have updated the document content accordingly.
The changes should be live once the PR is approved.

[2020-08-11 06:13] HarithaMaddi-MSFT commented on #60611
@guangying94 - Thanks for sharing the feedback. We are investigating into the issue and will update you soon.

[2020-08-11 06:15] worming004 opened #60615 "Non-existent extension method"
The second code example is using the extension method
[code]

But with a training, I do not found the method _AddFeatureManagement_. Neither in the api documentation https://docs.microsoft.com/en-us/dotnet/api/microsoft.featuremanagement.servicecollectionextensions.addfeaturemanagement?view=azure-dotnet-preview#Microsoft_FeatureManagement_ServiceCollectionExtensions_AddFeatureManagement_Microsoft_

[2020-08-11 06:17] mike-urnun-msft commented on #60598
@impresent7 No worries, the more suitable place where you can get better traction for this type of questions is our new QnA platform: https://docs.microsoft.com/en-us/answers/questions/topics/single/25409.html

You might try re-posting there as someone from MS or Community will definitely provide you with an applicable answer.

[2020-08-11 06:25] PramodValavala-MSFT commented on #60321
@prabhushrikant Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-11 06:25] #60321 closed

[2020-08-11 06:26] PramodValavala-MSFT commented on #60537
@jeremyfiel Just following up here... Hope my previous comment clears things up.

[2020-08-11 06:30] RichardMcCormack opened #60616 "Misleading documentation"
This document contains the following misleading statement about Regional VNet Integration:

It seems that this is not entirely accurate, at least in our case, and we have wasted a week figuring it out.  Our app service plan is currently on S2, and the Option of PremiumV2 **_is_** available.  Regional VNet integration does not work, only Gateway required - when trying to add VNet integration to the

[2020-08-11 06:50] BhargaviAnnadevara-MSFT commented on #60615
@worming004 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-11 06:55] HarshitaSingh-MSFT commented on #60279
@SB-o-matic, just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-08-11 06:56] VikasPullagura-MSFT commented on #60612
@Shuanglu
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-08-11 07:10] HarithaMaddi-MSFT commented on #60611
@nabhishek - Can you please take a look?

[2020-08-11 07:13] HarithaMaddi-MSFT commented on #60609
@xiopeter3345 - Thanks for bringing this to our notice. I am assigning the issue to the content author to review and share the insights.

@hrasheed-msft Can you please have a look at this?

[2020-08-11 07:21] Incblob commented on #60570
https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/LUIS/python-sdk-authoring-prediction/application_quickstart.py

here is the code, line 93

[2020-08-11 07:38] TiTi commented on #56945
Thanks for the info @asc-adean
However, deleting the entire resource group is a big no no for us ^^
I guess we're stuck with P1V2

[2020-08-11 07:39] SwathiDhanwada-MSFT commented on #60363
@yahorsi This GitHub channel is primarily used for customer and community feedback about the Azure documentation. As the request is more of product feedback rather than documentation change,  I would recommend you to navigate [here](https://feedback.azure.com/forums/357324-azure-monitor-application-insights) and share your feedback or suggestions directly with the responsible Azure feature team an

[2020-08-11 07:39] #60363 closed

[2020-08-11 07:41] forgotten-warrior opened #60620 "Breaking changes in the cmdlet 'New-AzPolicyAssignment'"
Got this issue while following the tuts to create a new policy.

WARNING: Breaking changes in the cmdlet 'New-AzPolicyAssignment' :
WARNING:  - The parameter : 'PolicyDefinition' is changing.
        The type of the parameter is changing from 'System.Management.Automation.PSObject' to 'PsPolicyDefinition'.

WARNING: NOTE : Go to https://aka.ms/azps-changewarnings for steps to suppress this breakin

[2020-08-11 07:54] mike-urnun-msft commented on #60229
Hello @hansmbakker - Thanks for pointing this out. I believe you can still use those characters in local development (if must and not recommended) and they'll be available in the runtime via environment variables (`System.Environment`) as-is. They'll just not be created on Azure when publishing and you'd have to create them manually via Azure Portal or other external means. When Dependency Injecti

[2020-08-11 08:09] yichungyu opened #60621 "Powershell command does not exist"
I am using Az.Storage 2.3.0, but the command Update-AzStorageFileServiceProperty is not available. I need to update the Azure file soft delete status via Powershell. Is there an alternative? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7528ba9c-a5ab-5b9f-1bb7-18e0cf0de1a0
* Version Independent ID: 2e7e0328-01

[2020-08-11 08:09] ravisha22 opened #60622 "Documentation of excluded network address ranges"
While creating AVS in the **Create Private Cloud** wizard under **Address Block** field, we see a warning displayed on the network IPs that should not be used by customer, but these IPs are not documented anywhere, please document these reserved IPs and their purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2533

[2020-08-11 08:17] ollliegits opened #60623 "Point out info on CSP subscription limitations more prominently"
The stated limitation "Management groups are only supported if they contain Enterprise Agreement (EA), Pay-as-you-go (PAYG), or Microsoft internal subscriptions. Management groups with any other subscription types, like Microsoft Customer Agreement or Azure Active Directory subscriptions, cannot view costs." in section 'Azure RBAC scopes' has such a big impact on many real-life use cases of CSP cu

[2020-08-11 08:24] SnehaAgrawal-MSFT commented on #60616
@RichardMcCormack Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-11 08:30] geertn commented on #23652
@SvenAelterman When I log into uservoice I see "Your idea is being processed and will appear shortly". However it seems that the idea has been online at a point since it received 111 votes and several comments.

![githubscreenshiw](https://user-images.githubusercontent.com/4923332/89875422-8717b080-dbbd-11ea-99d4-0da909f0c12d.png)

[2020-08-11 08:41] clement911 commented on #60362
I see.. Can you point me to the relevant documentation on how to do that?
What will it show in the portal if I change to 3 days?
It's a shame it takes month, a slider seems like it would be easy enough...
We are actually planning on moving to Hyperscale. You said it's not possible for Hyperscale? Do you have more info on that?

[2020-08-11 08:41] anomepani opened #60625 "In Consistency in Azure AD MFA Registered Users Reporting on Azure Blade"
In Consistency in Azure AD MFA Registered Users Reporting on  [Azure Blade](https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Insights).

Reports and data count displayed over here are not matching up with actual Registered user.

Sign Ins logs show user Registered and logged in with MFA and also in [Secure Score](https://security.microsoft.com/securescorepreview?viewid=ac

[2020-08-11 08:43] VikasPullagura-MSFT commented on #60622
@ravisha22
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-11 08:43] VikasPullagura-MSFT commented on #60622
@divka78
Can you please check and add your comments on this doc update request as applicable.

[2020-08-11 08:47] HarshitaSingh-MSFT commented on #60427
@saurabhvartak1982 , thanks a lot for your suggestions. I would like to summarize my understanding and would like you to confirm if it is correct. You can find them below:

- Add import statements in [Instantiate the confidential client application with a client certificate](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-app-configuration?tabs=python#instantiate-th

[2020-08-11 08:50] HarshitaSingh-MSFT commented on #60625
@anomepani, Thanks for the question. We're investigating this and will get back to you shortly.

[2020-08-11 08:51] VikasPullagura-MSFT commented on #60367
@adalfa I checked with internal team on this. There is no ETA on this item to share.
I would request you to upvote and follow the same [feedback](https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/36641311-allow-customisation-of-azure-file-cifs-mount-optio) for further updates on this.
Thanks.

[2020-08-11 08:51] #60367 closed

[2020-08-11 08:58] roofiq opened #60627 "Access health data and pods of cluster from cli/powershell"
Hello,

I'm investigating possibilities to extract services information and health data of Azure Kubernetes Service using CLI or powershell. I haven't found any direct commands that it is possible to do with.
Maybe I have missed something but please, correct me if I'm wrong. The only possibility to do it is by enabling diagnostic settings and pull it with kusto query in log analytics?

Thanks a lo

[2020-08-11 09:01] anomepani commented on #60469
@vipulsparsh Could you suggest an alternative secure way to handle those users with Ipv6 internet so we can not open all unknown location but can limit lower surface for security impact. Any suggestion for secure organization with conditional access policy with this type of scenario most welcome.

[2020-08-11 09:01] CHEEKATLAPRADEEP-MSFT commented on #60614
@amit-sycomp Thanks for sharing the document which you are referring to.

Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-08-11 09:04] VikasPullagura-MSFT commented on #60191
@ramankumarlive Thanks for sharing the details.

[2020-08-11 09:04] VikasPullagura-MSFT commented on #60191
@JesperJakobsen
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-11 09:04] #60191 closed

[2020-08-11 09:10] SumanthMarigowda-MSFT commented on #60621
@yichungyu Thanks for the question! We are investigating and will update you shortly.

[2020-08-11 09:11] Dmitry-Me opened #60628 "Weird notes on MSRC patches list page"
This page https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases

Currently this page has some weird notes...

1. "July 2020 Guest OS" section has a note that has "The following patches are included in the April Guest OS." wording. Should it be "July" instead of "April"?
2. At the same time "June 2020 Guest OS" has a note very similar to "July" section which als

[2020-08-11 09:18] hansmbakker commented on #60229
something to make more explicit in the documentation as well:

in [Linux App Services you cannot use colons](https://docs.microsoft.com/en-us/azure/app-service/configure-common#add-or-edit), so you have to use double underscores.

On a Linux appservice you would need to configure something like: `sectionName__settingName`

- in the DI / Options / Configuration pattern, double underscores are repla

[2020-08-11 09:21] VikasPullagura-MSFT commented on #60628
@Dmitry-Me
Thanks for the feedback! We are checking on this and will update the document accordingly.

[2020-08-11 09:33] CHEEKATLAPRADEEP-MSFT commented on #60517
@fordesmith  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-11 09:33] #60517 closed

[2020-08-11 09:33] CHEEKATLAPRADEEP-MSFT commented on #60496
@jeffhebrank  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-11 09:33] #60496 closed

[2020-08-11 09:49] CHEEKATLAPRADEEP-MSFT commented on #60458
@bkuyang Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/125658](https://github.com/MicrosoftDocs/azure-docs-pr/pull/125658)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-08-11 09:49] #60458 closed

[2020-08-11 10:22] AnuragSharma-MSFT commented on #60486
@duanzy47 Please try using below commands on Azure CLI to create a blank SQL Database:

echo "Creating $server in $location..."
**az sql server create --name "testserverxxxx" --resource-group "xxxxxxxxxxx" --location "West US" --admin-user admin --admin-password password@123**

echo "Configuring firewall..."
**az sql server firewall-rule create --resource-group "xxxxxxxxxxx" --server "testserverxx

[2020-08-11 10:34] SwathiDhanwada-MSFT commented on #60627
@roofiq Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-11 10:52] FallenHoot opened #60630 "Rename B-Series to Bs-Series"
My understanding is that B-Series is now called Bs-Series as outlined here:
https://azure.microsoft.com/en-us/pricing/details/virtual-machines/series/

If my understanding is correct, can we update this to say Bs-Series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Indepe

[2020-08-11 11:12] desingh9 commented on #60246
thanks @MarileeTurscak-MSFT , i was just looking for more clarity about MFA login
, waiting for a solution for it.

[2020-08-11 11:51] Richiec76 opened #60631 "DiskListSetting parameter cannot be found"
Hi,

I am using Az version 4.5 to try and modify an existing VM backup. however when I run the Enable-AzRecoveryServicesBackupProtection command it keeps failing with the error 'A Parameter cannot be found that matches the parameter name 'DiskListSetting'.

If I do a get-help on the command, this parameter does not show up. There is a parameter called InclusionDisksList which seems to be ok, but t

[2020-08-11 11:52] jchoudhury78 opened #60632 "How to turn on Log Analytics at time of creating logic app using ARM template?"
Need to know if there is any way to turn on Log Analytics at time of creating logic app using ARM template. this is required for doing automated deployments in non-dev environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da061810-14df-d46f-1edb-2ce501f9a022
* Version Independent ID: 4d50334b-92a7-6c7d-0c55-1ebe

[2020-08-11 11:57] Sijoma commented on #49245
Switch from free F1 plan to B2 worked. However, when switching back to F1 the error comes back. I'm not sure if websockets are not supported for the F1 plan.

My error: Error during WebSocket handshake: Unexpected response code: 503

[2020-08-11 12:13] varunsh-msft commented on #60463
**RunAs=App** uses system assigned managed identity. **RunAs=App;AppId={ClientId of user-assigned identity}** uses user assigned managed identity. You can read more about these identity types [here](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview#managed-identity-types)

[2020-08-11 12:13] cephalin commented on #54531
Cannot reproduce the error. Might have been fixed since then. #please-close

[2020-08-11 12:13] #54531 closed

[2020-08-11 12:23] HarithaMaddi-MSFT commented on #60632
@jchoudhury78 - Please find below sample ARM template that can be used to enable Log Analytics to Logic App while deploying. Since this issue is not related directly to the doc, I would recommend you to create a thread on the [DevOps Forum](https://developercommunity.visualstudio.com/spaces/21/index.html) in future. Once you post your issue on forums, it will have visibility across the community w

[2020-08-11 12:23] #60632 closed

[2020-08-11 12:50] SadiqhAhmed-MSFT commented on #60623
@ollliegits Thanks for the feedback. This issue has been assigned to the content author for further review.

@bandersmsft FYI

[2020-08-11 12:54] VikasPullagura-MSFT commented on #60630
@FallenHoot
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-11 12:54] VikasPullagura-MSFT commented on #60630
@ayshakeen
Can you please check and add your comments on this doc update request as applicable.

[2020-08-11 12:57] SadiqhAhmed-MSFT commented on #60631
@Richiec76 Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-08-11 12:58] tommmc opened #60633 "Help Troubleshooting: Azure.Identity.AuthenticationFailedException"
Could do with help troubleshooting the following error:

The application opened the login page in the browser and the correct credentials were used.
The browser returned authentication complete message:
"Authentication complete. You can return to the application. Feel free to close this browser tab."
But the application throws an exception:

"Exception thrown: 'Azure.Identity.AuthenticationFailedE

[2020-08-11 13:10] Maarten-Work opened #60634 "Missing instructions to set Environment Variables to run the sample"
In the [quickstart-connect-device-c](https://docs.microsoft.com/en-us/azure/iot-pnp/quickstart-connect-device-c) instructions, in the **Run the device sample** section, it describes to create an environment variable called **IOTHUB_DEVICE_CONNECTION_STRING** containing the device connection string.

What is missing is to create another environment variable called **IOTHUB_DEVICE_SECURITY_TYPE** an

[2020-08-11 13:19] ram-msft commented on #60507
@andrewdoesdata Thanks. Can you please share the link to the sample that you are trying. Here is the sample for MMLSpark SpeechToText class.

https://mmlspark.blob.core.windows.net/docs/1.0.0-rc1/pyspark/mmlspark.cognitive.html#module-mmlspark.cognitive.SpeechToText

Make sure you use the latest mmlspark package with some awesome enhancements!

If you’re using mp3’s you’ll have to install the mp3

[2020-08-11 13:26] andrewsturner783 opened #60635 "Custom RBAC Roles for Azure Lighthouse CSP Partners"
Is there any future release of Azure Lighthouse that will allow the use of custom RBAC roles. I have a requirement for a Virtual Machine Contributor to be able to snapshot the server prior to applying Windows Updates. This cannot be achieved currently through the existing RBAC roles within Azure Lighthouse.

Thank you

Don Turner

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-08-11 13:28] hokiejane opened #60636 "Does this apply to Gov Cloud?"
Are Gov Cloud users allowed to invite Collaborators without any restrictions, including foreign nationals?

I was provided this link when I asked this question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a9c376-560c-08f2-894d-4cf72fc92ccc
* Version Independent ID: cf14d553-a159-ea82-ec25-fd0519b6ec8d
* Content: [

[2020-08-11 13:36] stevebus commented on #59471
Hey @rgamage  - I've been researching this some more.  I believe the intent is to support non-DPS x509 certificates in IoT Edge in an upcoming release (not sure if it will be 1.0.10).  You can see what the config.yaml will look like for that at [this link](https://github.com/Azure/iotedge/blob/c8a78ee97c8f301f886f8e38831dbcbbf24dc2a6/edgelet/contrib/config/linux/config.yaml#L29).  That should prov

[2020-08-11 13:37] shashishailaj commented on #60572
@johnarthur1 As we have not received any response from your side we are closing this issue. In case you still have any queries , please do tag me or the author of the article @yelevin to your reply and we will surely help you further. alternatively you can always open a new issue and we will be happy to help .

[2020-08-11 13:37] #60572 closed

[2020-08-11 13:38] shashishailaj commented on #60577
@nickfnblum  As we have not received any response from your side we are closing this issue. In case you still have any queries , please do tag me to your reply and we will surely help you further. Alternatively you can always open a new issue and we will be happy to help .

Thank you.

[2020-08-11 13:38] #60577 closed

[2020-08-11 13:39] shashishailaj commented on #60557
@Roshan-Thomas Thank you for clarification . We will make this recommendation to the documents design team. I will update the thread once I hear back from them.

[2020-08-11 13:39] duanzy47 commented on #60486
Thx for your answer.

[2020-08-11 13:39] #60486 closed

[2020-08-11 13:44] AshokPeddakotla-MSFT commented on #60521
@JohnStraumann66 did you look at the [Configure rules and actions for your device in Azure IoT Central](https://docs.microsoft.com/en-us/azure/iot-central/core/quick-configure-rules) and C[reate a rule and set up notifications in your Azure IoT Central application](https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-create-telemetry-rules#create-a-rule) doc? Is this something you want

[2020-08-11 13:45] Svijay-msft commented on #60615
@worming004   - My understanding is that you are not able to consume the method services.AddFeatureManagement

I had  installed the **Microsoft.FeatureManagement** Nuget Package
                              Project ->Manage Nuget Packages -> Browse -> Microsoft.FeatureManagement

Also, I had added the reference to the same.

![image](https://user-images.githubusercontent.com/66949976/89904042-147

[2020-08-11 13:47] vlado101 opened #60637 "List of RFCs needed to enabled for ADF"
Hello,

For ADF one of the prerequisites listed to enable it to copy data from SAP are:

**The SAP user who's being used in the Data Factory SAP table connector must have the following permissions:

Authorization for using Remote Function Call (RFC) destinations.
Permissions to the Execute activity of the S_SDSAUTH authorization object.**

The problem with the above is that there are multiple RFC

[2020-08-11 13:48] haymansfield commented on #56945
Is it not the case that there is no guarantee that the switch back to Standard tier will not fail as it may move you onto hardware which won't support VNET integration?

[2020-08-11 13:57] jeffhebrank commented on #60496
So you are saying that the Winutils is required to setup Databricks Connect, but you aren't going to update the requirements section in the document to mention this? Why not?

[2020-08-11 13:58] prakash12305 opened #60638 "Deployment template validation failed: 'The template 'copy' definition at line '1' and column '8153' has an invalid copy count."
Hi Team,

I am trying to spin up a VM instance using ARM template via Terraform but Deployment failed with below issue.

Error: Error validating Template for Deployment "PKTemplate-01" (Resource Group "PKSWELITE-RG"): Deployment template validation failed: 'The template 'copy' definition at line '1' and column '8153' has an invalid copy count. The copy count must be a positive integer value and ca

[2020-08-11 14:04] HarithaMaddi-MSFT commented on #60637
@vlado101 - Thanks for your feedback. We are assigning the question to the content owner to take a look and to share their thoughts on the same.

@linda33wj - Can you please take a look?

[2020-08-11 14:10] Roshan-Thomas commented on #60557
@shashishailaj Thanks

[2020-08-11 14:27] mvfolino68 commented on #60403
please close.

—
Michael Folino
Customer Success Engineer

mf@tackle.io

Tackle.io

Schedule a meeting

MARKETPLACE BUYERS & SELLERS! Tackle needs your help to understand the current State of B2B Marketplaces and the role they play in business growth. Complete our 10-minute survey and secure your copy of the resulting report!

--- original message ---
On August 10, 2020, 3:09 PM EDT notifications@

[2020-08-11 14:36] SaurabhSharma-MSFT commented on #60636
@hokiejane Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-11 14:55] GiftA-MSFT commented on #60570
@Incblob thanks for your feedback. The document will be updated soon.

[2020-08-11 15:09] jordonthreadgill opened #60640 "Unable to retrieve child resources, and I can access the Access Keys in the portal"
Hello,
I am trying upload a VHD to an Azure storage account's blob container.  I'm not having any luck.  All of my troubleshooting led me back to using Microsoft Azure Storage Explorer instead of scripting.  Microsoft Azure Storage Explorer lists out my objects, but I can't load the blob containers without getting an error.  I have followed the instructions about checking the Access Keys, which I

[2020-08-11 15:19] NavtejSaini-MSFT commented on #60503
@RonnieQuan Please let us know if you have any further question.

[2020-08-11 15:19] NavtejSaini-MSFT commented on #60505
@RonnieQuan Please let us know if you have any further question.

[2020-08-11 15:21] BharathNimmala-MSFT commented on #60620
@forgotten-warrior Thank you for bringing this to our notice, assigned this issue to our document author @DCtheGeek to further evaluate and update the document accordingly.

[2020-08-11 15:21] becke-ch-s0-v1 opened #60641 "Information Flows, Data & Attributes: Sometimes Unclear"
[Enter feedback here]
Hi,

Thank you for the detailed information on this page but some content results in additional discussions with internal security, can you maybe answer / add the following information to this page?

https://docs.microsoft.com/en-us/azure/machine-learning/concept-enterprise-security#data-encryption: “hbi_workspace flag controls the amount of data Microsoft collects for diagno

[2020-08-11 15:25] cwester72 commented on #60594
I uninstalled, but I cant get the registration key as in Azure it shows I have no host pools. I created this while it was in preview via powershell so my azure portal shows nothing under hostpools.

Thanks!
Craig

[360 Visibility]<https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.360visibility.com%2F%3Fsource%3Dsig&data=01%7C01%7Ccwester%40360visibility.com%7Cefdf591fa73746359d

[2020-08-11 15:32] RonnieQuan commented on #60503
Is the GA price same as other DB, is that $15/month per server?

[2020-08-11 15:33] RonnieQuan commented on #60505
Is the GA price same as other DB, is that $15/month per server?

[2020-08-11 15:34] jordonthreadgill commented on #60640
This was my own fault.  I thought I saved my Firewall and Virtual Network settings...  I did not.  I re-saved my settings, and things work as expected.

[2020-08-11 15:34] #60640 closed

[2020-08-11 15:35] dfay88 commented on #60018
No problem, I actually work at Microsoft as a CSA. Hoping to use this as a demo for customers. Thanks!

[2020-08-11 15:36] KrishnaG-MSFT commented on #60635
@andrewsturner783 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-11 15:37] GiftA-MSFT commented on #60527
@willieken559099 thanks for your feedback. Since this repo is for reporting doc issues, we need the link to the document you are referencing so we can tag the appropriate team and assist you further.

[2020-08-11 15:37] cwester72 commented on #60594
Full error

[Window Title]
Remote Desktop

[Content]
We couldn't connect because there are currently no available resources. Try again later or contact tech support for help if this keeps happening.

[^] Hide details  [OK]

[Expanded Information]
Error code: 0x3000046
Extended error code: 0x0
Timestamp (UTC): 2020-08-11T15:36:44.995Z
Activity ID: 55f0ccab-5d4c-49ad-8d4c-541e9c200000

[360 Visibili

[2020-08-11 15:44] DCtheGeek commented on #60620
@forgotten-warrior Thanks for the feedback.  The breaking change notice is to let you know a change is coming, not that the change has already happened.  When the new Az module is released with that breaking change, I'll update the directions to match. As for your `MissingSubscription` error, this is normally a problem with your default context. You can see if your context has a value with `Get-Az

[2020-08-11 15:44] #60620 closed

[2020-08-11 15:45] shkale-msft commented on #60362
Here is how you can do it using PowerShell: https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database#change-the-pitr-backup-retention-period-by-using-powershell
This is how you can do it using REST API: https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database#change-the-pitr-backup-retention-period-by

[2020-08-11 15:46] PingPongSet commented on #60541
@GiftA-MSFT,

Thanks. Do you know when we will get a result?

[2020-08-11 15:47] aperalesMN opened #60642 "Missing step"
I was unable to do this on my tenant until I enabled another preview feature: **Users can use the combined security information registration experience**

This was not listed per the documentation but was required to setup the FIDO2 key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c66f8a-1c40-e31c-5c7e-7870b7d65e0

[2020-08-11 15:49] stevestein commented on #37483
@eazykiel - thanks for raising this issue. We added a line about tables needing a clustered index to the requirements section.

Thanks!

#please-close

[2020-08-11 15:49] #37483 closed

[2020-08-11 15:49] AshokPeddakotla-MSFT commented on #60541
@PingPongSet We are looking into this issue and will get back to you as earliest. Appreciate your time and patience.

[2020-08-11 15:55] NavtejSaini-MSFT commented on #60503
@RonnieQuan We cannot be sure of that until the service goes GA and final pricing structure is released.

[2020-08-11 15:55] NavtejSaini-MSFT commented on #60505
@RonnieQuan We cannot be sure of that until the service goes GA and final pricing structure is released.

[2020-08-11 16:00] worming004 commented on #60615
Hello @Svijay-msft ,

You are near of the issue I encounter. services.AddFeatureManagement(); is working well. And I successfully installed Microsoft.FeatureManagement Nuget package.
But the method with the Action is not found.
![image](https://user-images.githubusercontent.com/23192591/89920105-50ad5600-dbfc-11ea-9fdc-443c6643a852.png)

Maybe I miss another Nuget package ?

[2020-08-11 16:04] AjayKumar-MSFT commented on #60640
@jordonthreadgill, Thanks for leveraging Azure docs feedback channel to raise this question and following-up with an update on the steps that you took to resolve this issue. It's appreciated! Glad to know that you have sorted out the issue.

[2020-08-11 16:05] husamhilal commented on #60073
Thanks a lot @tfitzmac  👍  Really appreciate the quick turnaround!

[2020-08-11 16:10] shortpatti commented on #60622
#assign @shortpatti

[2020-08-11 16:10] coffeymatt opened #60644 "Default indexing policy unclear"
I'm a little confused whether CosmosDb is creating spatial indexes on GeoJSON properties of type 'Point' on documents in my database. This article on one hand says:

"The default indexing policy for newly created containers indexes every property of every item, enforcing range indexes for any string or number, and spatial indexes for any GeoJSON object of type Point."

But in the same doc says:

"

[2020-08-11 16:11] JayaChatterjee-MSFT commented on #60445
@craigshoemaker I would request you to review the document for JavaScript sample. I believe we should consider updating the "Usage" section as well.

Note : I have started working on a sample to resize the image and put that in the output stream. I will share the details with you  once it is completed.

[2020-08-11 16:12] JamesTran-MSFT commented on #60642
@aperalesMN
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-11 16:17] awentzel commented on #48184
I'd love to see an answer as this is now a question of mine as well.  It's surprising that it's taken this long to answer the question.

[2020-08-11 16:19] cwester72 opened #60645 "Cant connect using remote desktop application"
Trying to connect to WVD Classic host pool and getting the below:

[Window Title]
Remote Desktop

[Content]
We couldn't connect because there are currently no available resources. Try again later or contact tech support for help if this keeps happening.

[^] Hide details  [OK]

[Expanded Information]
Error code: 0x3000046
Extended error code: 0x0
Timestamp (UTC): 2020-08-11T15:36:44.995Z
Activity

[2020-08-11 16:20] yohaddad commented on #60628
Thank you for raising this. The mention of April was a typo indeed. The note was listed on both releases as both releases were in roll-out and not yet available for public consumption, noting that the June release was published on August 10th.

Page corrected accordingly (PR #125688)

[2020-08-11 16:28] timsander1 commented on #60644
Hi @coffeymatt. Thank you for pointing this out! The following statement is correct: "Azure Cosmos DB, by default, will not create any spatial indexes. If you would like to use spatial SQL built-in functions, you should create a spatial index on the required properties. See this section for indexing policy examples for adding spatial indexes."

The earlier sentence used to be true but has since ch

[2020-08-11 16:28] timsander1 commented on #60644
#please-close

[2020-08-11 16:28] #60644 closed

[2020-08-11 16:59] saurabhvartak1982 commented on #60427
Hi @mmacy , @HarshitaSingh-MSFT ,
I have created a pull request - 60647. Request you to kindly validate.
Regards, Saurabh

[2020-08-11 17:06] SatishBoddu-MSFT commented on #60487
Hello @Rohan-Deshamudre, Just checking back, could you please let us know if you need further help in this matter so that we can close this thread if needed.

[2020-08-11 17:10] SquirrelAssassin opened #60648 "Template API Versions"
Were using a TON of 2015 API JSON templates for all sorts of hundred of deployments.  Are these API's to live for ever or do they ever depreciate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f5902d6-420f-4521-114f-de664df78356
* Version Independent ID: e879342f-0169-500f-3e47-66c947990045
* Content: [ARM template f

[2020-08-11 17:11] anbene commented on #60597
#reassign:anbene

@adharshsanthanam Thanks for reaching out. You are correct, industries apply to consulting services published in Azure Marketplace. However, industry _verticals_ (the industry 'sub-categories') do not apply to consulting services in Azure Marketplace, only to AppSource offers.

If you are publishing a consulting service in Azure Marketplace, you'll be asked to select an Industry.

[2020-08-11 17:11] MashaMSFT commented on #38695
#reassign: @Sait-MSFT

[2020-08-11 17:12] MashaMSFT commented on #44134
#reassign: @MashaMSFT

[2020-08-11 17:13] MashaMSFT commented on #44134
#reassign: @Sait-MSFT

[2020-08-11 17:13] MashaMSFT commented on #45014
#reassign: @Sait-MSFT

[2020-08-11 17:13] MashaMSFT commented on #50659
#reassign: @Sait-MSFT

[2020-08-11 17:15] MashaMSFT commented on #58974
#reassign: @Sait-MSFT

[2020-08-11 17:22] Karishma-Tiwari-MSFT commented on #60645
We are helping you on this issue opened by you: https://github.com/MicrosoftDocs/azure-docs/issues/60594
We will close this one as duplicate.

[2020-08-11 17:24] #60645 closed

[2020-08-11 17:31] YutongTie-MSFT commented on #60641
@becke-ch-s0-v1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-11 17:44] damonbarry opened #60649 "Make it clear that messages do not flow without routes"
As discussed in Azure/iotedge#3380, we should probably add note to the "Deploy edgeHub to the gateway" section, step 5, clarifying that messages will not flow unless at least one route is specified. The current doc recommends adding one, but doesn't call out the consequences of _not_ adding one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-08-11 17:48] MGoedtel commented on #60302
@ashkickindevelopment & @BharathNimmala-MSFT - Currently Automation does not support REHL v8 but it is on the roadmap for us to validate and support.  I don't have an ETA at this time but once the work is complete and we are ready to announce, the documentation will be updated accordingly.  I hope this answers your question.  #please-close

[2020-08-11 17:48] #60302 closed

[2020-08-11 17:48] JLunda opened #60650 "Resource Group Name Not Specified"
In the section for dynamically deploying a KeyVault, the KeyVault's resource group name parameter (vaultResourceGroupName) is defined but never specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb6fa26-f01e-e9dd-efad-74c0898e2027
* Version Independent ID: 4582bdc2-1d26-067d-4343-a63736d4bf8f
* Content: [Key Va

[2020-08-11 17:52] SadiqhAhmed-MSFT commented on #60631
@@Richiec76 I think you are referring to [Powershell (Az)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fazure%2Fbackup%2Fselective-disk-backup-restore%23using-powershell&data=02%7C01%7CSadiqh.Ahmed%40microsoft.com%7C2420761f1d7743ad019f08d83e053b45%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637327539637782518&sdata=zjnH09xY%2F81vVkQFBFo8UjF3pOljO6M0zOumy

[2020-08-11 17:53] Karishma-Tiwari-MSFT commented on #60594
@cwester72 Can you please check and confirm if the VM show as Healthy in the Azure Portal/PowerShell?
If the VM is unavailable and there is still a user session on it, please try to logoff the stale session and try to connect again.
Also, please let me know if there are other VMs in green state in the host pool.

[2020-08-11 17:53] mumian commented on #60650
@JLunda - the parameter is used in adminPassword.

#please-close

[2020-08-11 17:53] #60650 closed

[2020-08-11 17:55] JLunda commented on #60650
No, that's not what I'm saying. I know it is used in the adminPassword variable by reference, but I do not see where the value is ever defined.

[2020-08-11 17:57] v-pethur opened #60651 "Please include a line regarding how MOSP accounts once switched over to invoice pay, will NOT be able to use Marketplace"
[Enter feedback here]

Hello,
In this document, in the "What payment methods are supported with the commercial marketplace?"  section:
https://docs.microsoft.com/en-us/azure/marketplace.marketplace-faq-publiser-guide#what-payment-methods-are-supported-with-the-commercial-marketplace

in it, it states:
Azure Marketplace supports credit card payments **or invoicing.**
Which is accurate because custo

[2020-08-11 17:58] cwester72 commented on #60594
Hello,

1. VM shows healthy in the Azure portal.
2. We dont have access to the session host as this is a hosted azure solution
3, Since we are on Windows Virtual Desktop Classic, our azure portal shows 0 host pools, everything was created in PowerShell.

[2020-08-11 17:59] mumian commented on #60650
@JLunda, you will need to pass in the value by using either inline parameter or a parameter file when you deploy the template.  It might be helpful to go through https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-key-vault.  It is a little different scenario.  But it shows how to pass in parameter values.  I hope it helps.

[2020-08-11 18:09] Roentgens4u opened #60652 "Missing unity Package?"
Hi, the unity package appears to be missing from the azure-spatial-anchors-samples-master collection.  I tried searching for it but can't seem to find it. So it looks like the three unity scenes are also missing.  Can you restore or please point me in the right direction? Thanks..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-08-11 18:09] JamesTran-MSFT commented on #60642
@aperalesMN
Within the documentation there's a section that states:

"Registration features for passwordless authentication methods rely on the combined registration feature. Follow the steps in the article Enable combined security information registration (preview), to enable combined registration."

Did you want the "Enable combined security information registration (preview)" within the Require

[2020-08-11 18:11] aperalesMN commented on #60642
Yes, that is what I am referring to. It would just make it more clear if somebody isn’t aware that the other preview features need to be turned on.

Andrew Perales
Network Administrator
4700 Falls of Neuse Rd | Raleigh, NC 27609
P 919.645.0664 x. 12130 | F 919.781.4869 | C 000.000.0000
Creative People, Practical Solutions. ®

From: James Tran - MSFT <notifications@github.com>
Sent: Tuesday, August

[2020-08-11 18:17] WashingtonKayaker opened #60654 "Where are the elements of the "App schema definition" defined?"
The meaning of some of the elements of the "App schema definition" are not obvious to me:

| element                  | Comment                              |
|--------------------------|--------------------------------------|
| "hierarchicals": [],     |  ?   |
| "composites": [],        | [Composite entity](https://docs.microsoft.com/azure/cognitive-services/luis/reference-entity-composite?tabs=

[2020-08-11 18:23] JamesTran-MSFT commented on #60642
@aperalesMN
Thank you for the quick response!

I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-08-11 18:23] #60642 closed

[2020-08-11 18:41] BharathNimmala-MSFT commented on #60302
@MGoedtel Thanks a lot for the confirmation and latest update from Automation stand point. Just to add  @ashkickindevelopment from Log Analytics agent stand point the documentation regarding [supported distros](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-distros) is up to date.

Hope this information helps. Please revert back if you have any further

[2020-08-11 18:45] BharathNimmala-MSFT commented on #60325
@asears Apologies for delayed response. Thank you for bringing this to our notice to improve our Azure documentation.

We have some change on the ownership of this document. Will work to find the right owner and have a backlog item to determine if this document should be updated or if it should be retired/replaced.

Closing this issue for now, and will refer to this thread when we work on the back

[2020-08-11 18:45] #60325 closed

[2020-08-11 18:45] dlepow commented on #59420
@sehaswell - Update to doc published with better distinction between registry name and login server name. Thanks for raising the issue.
#please-close

[2020-08-11 18:45] #59420 closed

[2020-08-11 18:46] HarshitaSingh-MSFT commented on #60279
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-08-11 18:46] #60279 closed

[2020-08-11 18:47] NavtejSaini-MSFT commented on #60489
@MhAllan As you refer to this this line "However at this time the Data Explorer view in the emulator fully supports clients for SQL API only" - What this means is Data Explorer in the emulator doesn't have the graph visualization.
The emulator supports the other operations.

[2020-08-11 18:49] mike-urnun-msft commented on #60638
@prakash12305 Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-11 18:54] RyanHill-MSFT commented on #47611
@gfaraj, OIDC client flow isn't supported but I'm working with the product group for any feasible alternative.

[2020-08-11 18:58] asnierma opened #60657 "Partner Not Listed"
I have a partner who is Authorized to sell Azure gov,  Their name is Springs Hosting.  They should be the in long list of Azure Gov Partners.  Can we get them to show up?  Ping me if you need me - asnierma

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb5aabb-d415-ca88-35e8-5024b4b5573f
* Versi

[2020-08-11 19:01] stevevi commented on #60657
@todorgb would you be able to address this inquiry?

[2020-08-11 19:04] kfarlee commented on #60529
Actually, the diagram for Recovery without ADR is correct as is.  While you're right that pages modified would be persisted by the checkpoint, the redo process replays transactions up to the point when SQL went down.  Part of that process is re-acquiring any locks held by open transactions so that when recovery is complete, everything is properly synchronized.  For that, we need to go back to the

[2020-08-11 19:07] cartersocha commented on #26050
@tiny-dancer we're in private preview today with our replacement. We don't have guidance on a public preview date right now. If you're interested in participating in the private preview then please email me. @Cloudmersive you're welcome to join as well. Happy to chat about general roadmap too.

Email: Casocha@microsoft.com

[2020-08-11 19:12] Jhines09 opened #60658 "Exit code: 50"
I have a customer whose install of the AAD extension failed with exit code: 50
Install failed for plugin (name: Microsoft.Azure.ActiveDirectory.AADLoginForWindows, version 1.0.0.0) with exception Command C:\\Packages\\Plugins\\Microsoft.Azure.ActiveDirectory.AADLoginForWindows\\1.0.0.0\\AADLoginForWindowsHandler.exe of Microsoft.Azure.ActiveDirectory.AADLoginForWindows has exited with Exit code: 5

[2020-08-11 19:12] SatishBoddu-MSFT commented on #60649
Hello @damonbarry
Thanks for the feedback! We are currently looking into this and will update you shortly.

[2020-08-11 19:13] SatishBoddu-MSFT commented on #60634
Hello @Maarten-Work
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-11 19:16] sql-deadwood opened #60659 "So many errors when trying to open"
New installation of Storage Explorer. When attempting to open I receive a ton of errors about the .NET version.

![image](https://user-images.githubusercontent.com/65724440/89939139-26986b80-dbdd-11ea-884e-e49ebfd2fc0b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d6736cc3c
* Version In

[2020-08-11 19:33] MarileeTurscak-MSFT commented on #60556
Hi @henrywang08,

This is expected behavior. Unlock only satisfies the first factor, but not the second.

Hope this helps! If you have further questions feel free to ask in [Microsoft Q&A ](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered)or make a feature request in [User Voice](https://feedback.azure.com/).

[2020-08-11 19:33] #60556 closed

[2020-08-11 19:38] zmarty opened #60661 "Clarify how/if to enable Always On for dedicated plans"
For dedicated plans it says to enable Always On multiple times on this page, but not clear how to do that. Our apps run on a dedicated app service plan, and I see all of them are marked as Always On already. So it's default On for dedicated or not?

References:
https://github.com/Azure/Azure-Functions/wiki/Enable-Always-On-when-running-on-dedicated-App-Service-Plan (this also does not clearly tell

[2020-08-11 19:50] MashaMSFT commented on #39974
I agree that the name of the feature being plural causes some challenges that writers cannot control, but the term "feature" is singular, and should be treated as such.

I have processed the following change going live later this week:

The auto-failover groups feature allows you to manage the replication and failover of a group of databases on a server or all databases in a managed instance to an

[2020-08-11 19:50] #39974 closed

[2020-08-11 19:53] MashaMSFT commented on #39974
By the way, @yobyot , I just wanted to let you know in case you were interested - you have the ability to modify docs yourself.

To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in markdown format - more info: https://github.com/adam-p/mark

[2020-08-11 19:54] MashaMSFT commented on #55587
Hi @dilipshaiju , thank you so much for your feedback and catching this typo! I have processed a change to update the documentation that will be live later this week.

By the way, as an FYI, you have the ability to modify the docs yourself as well. To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil"

[2020-08-11 19:54] #55587 closed

[2020-08-11 20:05] razvangoga opened #60662 "Reusing Factories and Clients in other SDKs (ex : NodeJS)"
Hi,

if the answer I got [here](https://docs.microsoft.com/en-us/answers/questions/61670/nodejs-and-azure-service-bus-best-practices.html) is correct, then this section should be updated to make it clear that the reusing of factories / clients recommendations apply to other SDKs as well outside the .Net specific ones (in my specific case the one for NodeJS)

Best regards,
Razva Goga

---
#### Docu

[2020-08-11 20:10] DawgFan commented on #60325
OpenTelemetry is in a beta / private preview phase. You can sign-up to be an early adopter at https://aka.ms/AzMonOT/.

In the meantime, Python-OC continues to be our recommended Python SDK for production workloads.

[2020-08-11 20:10] DerekHerman-MSFT commented on #60659
@sql-deadwood
The documentation states that .NET Framework 4.7.2 at a minimum is required. Have you tried installing .NET Framework and then opening Storage Explorer? Also you may need to uninstall Storage Explorer then install .NET Framework.

[2020-08-11 20:13] TurtleBeach opened #60663 "GIbberish on this page"
What does this section say / mean?
NuGet packages
For a C# class library-based functions project, you should install Extension bundles is designed specifically for projects that aren't class

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb82e02-5c41-239b-4903-aab80ff15215
* Version Independent ID: 38f1c69b-f7af-5e13-

[2020-08-11 20:21] tanmayjog opened #60664 "Ultra Disk Compatibility check to see whether VM qualifies or not is failing"
The PowerShell script to check whether a VM is supported for Ultra Disk or not is **not working**

$region = "East US 2"
$vmSize = "Standard E8s v3"
(Get-AzComputeResourceSku | where {$_.Locations.Contains($region) -and ($_.Name -eq $vmSize) -and $_.LocationInfo[0].ZoneDetails.Count -gt 0})[0].LocationInfo[0].ZoneDetails

**Error**

Cannot index into a null array.
At line:1 char:1
+ (Get-AzCompute

[2020-08-11 20:41] allegradomel commented on #52181
Hi @bbayles can you please open an item [here](https://feedback.azure.com/forums/34192--general-feedback) so we can gauge customer interest in this feature?

@TravisCragg-MSFT  can you please remove the doc-enhancement label and recategorize this as a Product Question?

#please-close

[2020-08-11 20:41] #52181 closed

[2020-08-11 20:44] bbayles commented on #52181
https://feedback.azure.com/forums/34192--general-feedback/suggestions/41124739-make-service-tags-json-file-links-stable

[2020-08-11 20:59] jlichwa commented on #38914
Workarounds are provided here. It is not issue with document itself. This is a workaround https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops #please-close you can also post feature request here https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-08-11 20:59] #38914 closed

[2020-08-11 21:10] bwren commented on #60627
Kubernetes service, like all Azure services send their monitoring data to Azure Monitor. Platform metrics are collected automatically and analyzed with metrics explorer. Resource logs are sent to a workspace with a diagnostic setting, like you identified. Both sets of data can be retrieved with PowerShell and CLI. But you would still be doing a log query against the workspace for log data.

#pleas

[2020-08-11 21:10] #60627 closed

[2020-08-11 21:11] todorgb commented on #60657
Hi, while they got authorized to apply to the CSP program, their application has not been completed yet, they have not signed the necessary agreements and finalized the onboarding. The next update to the list is expected in October as we aim to update quarterly, if your partner completes all steps by then, we will include their name, as of now, they are not an authorized CSP for Government Reselle

[2020-08-11 21:13] anbene commented on #60597
#please-close

[2020-08-11 21:13] #60597 closed

[2020-08-11 21:27] tfitzmac commented on #60648
@SquirrelAssassin - are you referring to templates that use the template schema 2015-01-01? If so, these would all be fine. Or, are you referring to resources that use API versions from 2015? In most cases, these should also be fine too. A service could decide to deprecate an API version but that is fairly rare. You should get a warning before the version is deprecated.

[2020-08-11 21:30] WinstonHoward-MSFT commented on #60664
@tanmayjog Thanks for the inquiry. I'll take a look into this.

[2020-08-11 21:31] WashingtonKayaker opened #60666 "Clarification needed on the article What is Language Understanding (LUIS)? (LUIS app/models)"
I'm new to LUIS and am trying to understand some basic concepts, especially those that pertain to using LUIS as a developer using the Bot Framework SDK.

I am adding information to the [Bot Framework SDK docs](https://docs.microsoft.com/en-us/azure/bot-service/index-bf-sdk?view=azure-bot-service-4.0) related to its set of CLI commands related to [BF LUIS](https://github.com/microsoft/botframework-

[2020-08-11 21:36] wjia7 opened #60667 "Cannot seems to be able to confirm that accelerated networking is enabled"
I have a scenario where I have successfully enabled the network accelerator on  CentOS VM I have created by following the steps from https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#confirm-that-accelerated-networking-is-enabled
However, even though I could see from VM's NIC that it got Accelerated Networking in ON state. I could not verify the accelerate

[2020-08-11 21:42] simorocksTheBest opened #60668 "Policy setup without detail on how it's applied."
Hi After, going through the process, and now I have the three xml files uploaded, as custom policies, then it basically says your done.

But at this point you have to do something to enable this in an application.

Do you add it as an openid connect provider.  is it now intrinsically overriding the user flows.

How is this end configuration applied, to MSAL.JS OR web api backend for token validati

[2020-08-11 21:54] WinstonHoward-MSFT commented on #60664
Hey @tanmayjog, I made a few changes to your variation of the script. Give this a try. It's working on my end, will you let me know if it works for you?

`$region = "eastus2"
$vmSize = "Standard_E8s_v3"
(Get-AzComputeResourceSku | where {$.Locations.Contains($region) -and ($.Name -eq $vmSize) -and $_.LocationInfo[0].ZoneDetails.Count -gt 0})[0].LocationInfo[0].ZoneDetails`

Thanks!

[2020-08-11 22:01] asubmani opened #60669 "Please specify roles of both identities and methods to view them"
[Enter feedback here] Please specify which identity is the user assigned identity and which one the system assigned.

Various documentation mention a kublet identity which can be retrieved by:
`az aks show -g $RG -n $AKS --query identityProfile.kubeletidentity.clientId -o tsv`

vs

`az aks show -g $RG -n $AKS --query identity.principalId -o tsv`

Which one is the "Cluster identitity" & which one i

[2020-08-11 22:05] tfitzmac commented on #60614
@amit-sycomp - thanks for your feedback. The first code block shows where the config section goes in the file. It is right before the basics section. Here is a simple example:

{
    "$schema": "https://schema.management.azure.com/schemas/0.1.2-preview/CreateUIDefinition.MultiVm.json#",
    "handler": "Microsoft.Azure.CreateUIDef",
    "version": "0.1.2-preview",
    "parameters": {
        "confi

[2020-08-11 22:10] WinstonHoward-MSFT commented on #60669
Thanks for the feedback! I'll take a look into it.

[2020-08-11 22:20] tanmayjog commented on #60664
Hello Winston,

Thank you for your prompt response.
With the new query, I can get output for some regions, but I believe the regions which are not supported I’m getting a similar error

[cid:image002.png@01D6700C.1138C560]

Thanks & Regards,
Tanmay Jog
Cloud Application Consultant
Wolters Kluwer
+1-513-888-2714 | LinkedIn<https://www.linkedin.com/in/tanmay-jog/>
[A picture containing drawing  Desc

[2020-08-11 22:22] BharathNimmala-MSFT commented on #60651
@v-pethur Thank you for bringing this to our notice and helping us improve our Azure documentation. We will look into it and get back to you at the earliest.

[2020-08-11 22:23] WinstonHoward-MSFT commented on #60664
Hi @tanmayjog what regions are you trying specifically?

[2020-08-11 22:33] andyblack19 opened #60670 "Cannot select multiple WAF rule sets in the portal UI for Application Gateway"
When configuring the Web Application Firewall in an Application Gateway, only a SINGLE rule set can be chosen on the 'Rules' tab. It's a standard dropdown list as opposed to a multi-select.

I'm confused as to how I would apply the `Microsoft_BotManagerRuleSet 0.1` along with the `OWASP 3.1` rule set. This doesn't seem possible in the portal UI.

You can use the Bot Protection ruleset alongside an

[2020-08-11 22:37] DanielBirmingham opened #60671 "Account Expiration Documentation Update"
In the section "Password Policy Considerations" > "Account Expiration", the following sentences should be updated.

From:
"We recommend that if the account is expired, a workflow action should trigger a PowerShell script that disables the user's Azure AD account (use the Set-AzureADUser cmdlet). Conversely, when the account is turned on, the Azure AD instance should be turned on."

To:
"We recomme

[2020-08-11 22:42] sebansal commented on #60263
@tikicoder
By the end of 2020, the soft-delete will be on by default for all key vaults, both new and pre-existing. For full details on this potentially breaking change, as well as steps to find affected key vaults and update them beforehand, see the article Soft-delete will be enabled on all key vaults.
https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-change

[2020-08-11 22:47] sebansal commented on #58395
@RTTrickster
By the end of 2020, the soft-delete will be on by default for all key vaults, both new and pre-existing. For full details on this potentially breaking change, as well as steps to find affected key vaults and update them beforehand, see the article Soft-delete will be enabled on all key vaults.
https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-change

[2020-08-11 22:48] julieMSFT commented on #59421
#assign:julieMSFT

[2020-08-11 22:53] brucedkyle opened #60672 "PowerShell example fails Create and manage Azure budgets"
The PowerShell example fails with error `New-AzConsumptionBudget : Operation returned an invalid status code 'BadRequest'` . The badrequest is only revealed as an error only available when you set the Debug flag.

[code]

The error only shows when the debug flag is set,
Cost Management supports only Enterprise Agreement, Web direct and Microsoft Customer Agreement offer
types. Subscription 9f241d6

[2020-08-11 22:58] tikicoder commented on #60263
That's great,  I wonder why they didn't mention something similar as well.
https://github.com/Azure/azure-powershell/issues/12573
https://github.com/Azure/azure-powershell/issues/12574

The issue is lingering documents with old code example
https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-powershell

[2020-08-11 22:58] Francisco-Gamino opened #60673 "App Service docs to create a managed identity for a function app should include a section to add a the role assignment"
Both system-assigned and user assigned managed identities need a role assignment. This document (https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#add-a-system-assigned-identity) is missing this information, please add it or add a link to it.

Here is the documentation for adding or removing role assignment: https://docs.microsoft.com/en-us/azure/role-based-a

[2020-08-11 23:05] sebansal commented on #60263
Thank you for your feedback, we will make those updates.
@ShaneBala-keyvault let's add it our action item

[2020-08-11 23:11] SnehaGunda commented on #57861
I have updated the code to include the "start": NODE_TLS_REJECT_UNAUTHORIZED=0 node app.js statement. We will now close this issue.

#please-close

[2020-08-11 23:11] #57861 closed

[2020-08-11 23:15] kenwith commented on #60347
@Deus-Adder-Ex - thank you for the feedback here. I know it takes time to give feedback and make the docs better and I appreciate it. I refactored the two tables into one and tried to make them more clear. They should be updated shortly. Thanks again!

[2020-08-11 23:15] kenwith commented on #60347
#please-close

[2020-08-11 23:15] #60347 closed

[2020-08-11 23:16] emuench commented on #59164
Per SME: "The price/currency story is optimized for customers, not ISVs. When we say that prices lock, we really mean lock; the prices can't be updated later. Prices are locked in local currency at publish time. There is no rate guarantee to the ISV built into the system, instead there is price consistency guarantee to the customer. Customers pay the local currency price that was published and loc

[2020-08-11 23:16] emuench commented on #59164
#please-close

[2020-08-11 23:16] #59164 closed

[2020-08-11 23:20] scyto commented on #59164
@emuench thanks that helps, i still think that info should be in the docs, but i got the answer we need.
I think the approach isn't sound but I will take that up directly with our business contacts. Thanks.

[2020-08-11 23:22] stevevi commented on #60657
Many thanks @todorgb for your prompt response.  I believe this issue can be closed now.

[2020-08-11 23:23] ShaneBala-keyvault commented on #60263
Hi @tikicoder I am trying to understand your concern here. At one point in the past, we turned soft delete from an opt-in feature to an opt-out feature. So instead of users being able to opt into soft delete, we made it so that soft-delete was on by default and we allowed customers to opt out for a limited time. This is why there is a DisableSoftDelete flag (opt-out) and not an EnableSoftDelete fl

[2020-08-11 23:23] ShaneBala-keyvault commented on #60263
#please-close

[2020-08-11 23:23] #60263 closed

[2020-08-11 23:25] SnehaGunda commented on #60599
Signed off on the above PR. We will close this issue now.

#please-close

[2020-08-11 23:25] #60599 closed

[2020-08-11 23:28] julieMSFT commented on #59421
@jeffmoltenberry Hi Jeff, Thank you bringing this to our attention. I am updating the article and you will see the changes in the next day or so. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-08-11 23:28] julieMSFT commented on #59421
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/125783

[2020-08-11 23:29] julieMSFT commented on #59421
#please-close

[2020-08-11 23:29] #59421 closed

[2020-08-11 23:37] andrewt3000 opened #60675 "Deep linking rule in Azure standard cdn yields 404"
I am deploying a react single page app on Azure cdn (standard, not verizon). My goal is to create one rule to allow deep linking by rewriting urls such as /signup and others to the root app.

I can rewrite a single url and it works such as here

![image](https://i.stack.imgur.com/wM62P.png)

But when I try to make a more generic rule such as this one (which is the same except the "Source Pattern")

[2020-08-11 23:44] ShaneBala-keyvault commented on #58316
Issue has been resolved, closing the issue.

[2020-08-11 23:44] ShaneBala-keyvault commented on #58316
#please-close

[2020-08-11 23:44] #58316 closed

[2020-08-11 23:45] MarileeTurscak-MSFT commented on #60671
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-11 23:51] prakash12305 commented on #60638
Here is the link
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-template-specs

For SweLite in MarketPlace
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/ribboncommunications.ribbon_sbc_swe-lite_vm

[2020-08-11 23:52] prakash12305 commented on #60638
Sorry this is not related to Docs , its related to ARM template

[2020-08-11 23:52] #60638 closed

[2020-08-11 23:56] allegradomel commented on #38900
@woutervanranst - I believe this issue has been resolved. Please let us know if there are still issues

#please-close

[2020-08-11 23:56] #38900 closed

[2020-08-12 00:11] MashaMSFT commented on #58018
Hi @jamserra, thanks again for helping improve our documentation! I have processed a change to address this and it will be live later this week :)

Thanks!
Masha from the SQL Docs team

[2020-08-12 00:11] MashaMSFT commented on #58013
Hi @jamserra, thanks again for helping improve our documentation! I have processed a change to address this and it will be live later this week :)

Thanks!
Masha from the SQL Docs team

[2020-08-12 00:12] MashaMSFT commented on #58928
Hi @omegamadlab, thanks again for helping improve our documentation! I just wanted to let you know I have processed a change to get this documented and it will be live later this week.

Thanks again!
Masha from the SQL Docs team

[2020-08-12 00:13] SnehaGunda commented on #60195
@mikewiegand the syntax isn't right, it should be like the following. I submitted a PR to fix it.

scope=$(az cosmosdb show --name '<Your_Azure_Cosmos_account_name>' --resource-group '<CosmosDB_Resource_Group>' --query id)

principalId=$(az webapp identity show -n '<Your_Azure_Function_name>' -g '<Azure_Function_Resource_Group>' --query principalId)

[2020-08-12 00:57] skywalkerisnull opened #60676 "EMS E3, Microsoft 365 E3, and Microsoft 365 Business Premium includes Azure AD Premium P1"
In the table: Available versions of Azure Multi-Factor Authentication, there is a paragraph that says:

EMS E3, Microsoft 365 E3, and Microsoft 365 Business Premium **includes Azure AD Premium P1**. EMS E5 or Microsoft 365 E5 **includes Azure AD Premium P2**. You can use the same Conditional Access features noted in the following sections to provide multi-factor authentication to users. [emphasis

[2020-08-12 01:02] emma-ehrhardt opened #60677 "Incorrect Heading for table: "Custom" instead of "Prebuilt""
On this page: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-domains#custom-domains-per-language, the page is about prebuilt domains, and the chart lists which prebuilt domains are available per language.  But the heading for that chart says "Custom domains per language" (as does the heading link) instead of "Prebuilt domains per language".  The paragraph pr

[2020-08-12 02:00] knssub opened #60678 "Support for 3rd Party RADIUS Servers"
[Enter feedback here]

It will be great if you can provide some details on integrating Azure AD with 3rd party RADIUS Servers in a hybrid setup, with AD on-prem (either in PHS/PTS or Federated) authentication models.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independen

[2020-08-12 02:03] R34rvi3w opened #60679 "Missing information on configuration with gateway and organizational account"
Missing information on adding to gateway, also no options for organizational account - please correct this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf84287-d3e6-38f3-e67d-41b7aaf350ce
* Version Independent ID: b03d56d0-1fba-bea4-6f02-97fbc5832651
* Content: [Import Azure Log Analytics data into Power BI - Azure

[2020-08-12 02:18] BharathNimmala-MSFT commented on #60679
@R34rvi3w Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-08-12 03:01] MayankBargali-MSFT commented on #60495
@anilpras  Just following up here. Hope my previous comment clears things up.

[2020-08-12 03:07] MayankBargali-MSFT commented on #60452
@ecfan Can you please provide your input on this?

[2020-08-12 03:12] vipulsparsh commented on #60658
@Jhines09 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-12 03:14] vipulsparsh commented on #60668
@simorocksTheBest Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-12 03:23] DmitriyAlergant-T1A-Rogers opened #60680 ""Azure SQL Data Warehouse" in the list of supported sources mention an updated product name (Synapse Analytics / Synapse SQL Pool)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06f
* Version Independent ID: 2a0f8297-bdf7-3056-121e-963140ec0703
* Content: [Managed virtual network & managed private endpoints - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/managed-virtu

[2020-08-12 03:50] MayankBargali-MSFT commented on #60531
@spallister You need to use sessions if you want FIFO guarantee. Once you have enabled the session in the queue, then all the messages that are sent using the same session are stored at the same backend store for the FIFO guarantee. Let's take an example where your single consumer is consuming the message using peek lock and your consumer application crashes. Your single consumer application was n

[2020-08-12 04:00] ecfan commented on #60452
Hi @MayankBargali-MSFT, yes, we can add this info, thanks!

[2020-08-12 04:05] VikasPullagura-MSFT commented on #60628
@yohaddad Thanks for fixing the document.

@Dmitry-Me The document is updated. Closing this issue.

[2020-08-12 04:05] #60628 closed

[2020-08-12 04:13] Mike-Ubezzi-MSFT commented on #23965
@molinch This is correct, by way of of AAD Server Principles (logins) and Users. Please see the main Azure SQL Database + Azure AD Authentication overview:  [Use Azure Active Directory authentication](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-overview) with a specific section for [SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/database/aut

[2020-08-12 04:27] ShaneBala-keyvault commented on #58395
Hi @RTTrickster you are correct. Currently soft delete is on by default for all key vaults. The -EnableSoftDelete flag was deprecated. I have updated the CLI and PowerShell document to clarify that the flag is no longer usable. The changes will be made public tomorrow. This change occurred when soft delete moved from an opt-in feature to opt-out. Starting at the end of 2020 users will no longer be

[2020-08-12 04:27] ShaneBala-keyvault commented on #58395
#please-close

[2020-08-12 04:27] #58395 closed

[2020-08-12 04:41] MayankBargali-MSFT commented on #60661
@zmarty Thank you for your feedback! We will review and update as appropriate.

[2020-08-12 04:42] MayankBargali-MSFT commented on #60663
@TurtleBeach Thank you for your feedback! We will review and update as appropriate.

[2020-08-12 04:48] MayankBargali-MSFT commented on #60662
@razvangoga Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-12 05:00] shashishailaj commented on #60676
@skywalkerisnull Thank you for your query . We will investigate this and update the thread.

[2020-08-12 05:01] shashishailaj commented on #60678
@knssub Thank you for your query. We will investigate and update the thread.

[2020-08-12 05:07] psmanhas commented on #60547
@anirban007 Thank you for your query.

Can you please confirm if you are trying to enable Azure Disk Encryption or Server-Side Encryption?

Thanks

[2020-08-12 05:07] CHEEKATLAPRADEEP-MSFT commented on #60598
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-12 05:07] #60598 closed

[2020-08-12 05:22] CHEEKATLAPRADEEP-MSFT commented on #60680
@DmitriyAlergant-T1A-Rogers Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/125811](https://github.com/MicrosoftDocs/azure-docs-pr/pull/125811)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community

[2020-08-12 05:22] #60680 closed

[2020-08-12 05:23] SnehaAgrawal-MSFT commented on #60673
@Francisco-Gamino Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-12 05:44] Sam-Hall opened #60685 "NPS Extension link broken"
The link labeled "Download the NPS Extension" pointing to https://aka.ms/npsmfa is broken.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Provide Azure MFA capabilities using NPS - Azure Active Directory](http

[2020-08-12 05:46] #60685 closed

[2020-08-12 05:47] Sam-Hall commented on #60685
Sorry, I got confused by the huge advert for a Surface Book 3, I didn't see the download below that.

[2020-08-12 05:47] ram-msft commented on #60654
@WashingtonKayaker Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-08-12 05:53] AmanSextus opened #60688 "Azure Private Endpoint DNS configuration || Scenario for VMs joined to domain (DC servers hosted on cloud)"
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

Hi Team,

There should be a scenario included for private endpoint connection for VMs (part of Spoke VNet) which are joined to domain where domain controllers are hosted in the Hub VNet. In order to make private connection work, private DNS zone needs to be joined to Hub VNet too apart f

[2020-08-12 06:06] anomepani commented on #60625
@HarshitaSingh-MSFT
It looks like the same report is available using [Microsoft Graph](https://graph.microsoft.com/beta/reports/getcredentialUserRegistrationCount) with `/reports/getcredentialUserRegistrationCount` endpoint but giving the same inaccurate result.
Just Curious about where Microsoft Secure Score page showing statistics for MFA Registered Users.

[2020-08-12 06:36] ram-msft commented on #60484
@rvooren Thanks for the feedback.
For Batch Transcription speech-to-Text REST API, Please follow the below documentation for custom models.
![image](https://user-images.githubusercontent.com/49180516/89982485-789bc880-dc93-11ea-9381-bc197cef3e96.png)
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#custom-models
Here is the sample for batch transcription

[2020-08-12 06:40] AnuragSharma-MSFT commented on #60568
@TechieAz We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-12 06:40] #60568 closed

[2020-08-12 06:42] ram-msft commented on #60666
@WashingtonKayaker Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-08-12 06:45] GitaraniSharma-MSFT commented on #60675
@andrewt3000, thank you for your question. We will investigate and update the thread accordingly.

[2020-08-12 06:51] SadiqhAhmed-MSFT commented on #60672
@brucedkyle Thanks for the question. We are investigating this issue and will get back to you soon.

[2020-08-12 07:22] KrishnaG-MSFT commented on #60449
@Bafff Verified and updated the document as required. The changes will go live in sometime (i.e., in less than 24 hours). Thanks.

[2020-08-12 07:22] #60449 closed

[2020-08-12 07:41] bertrandpons opened #60690 "Azure PowerShell commands available for Azure Cost Management for partners?"
Hello,

Do Azure PowerShell commands (or Azure CLI) exist for dealing with  Azure Cost Management for partners? I would prefer using that instead of Cost Management APIs.

Thank you.

Regards,

Bertrand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302575cd-86c8-5ddb-97c6-b406925cf0f4
* Version Independent ID: 84c2ceb

[2020-08-12 07:52] mounirkam opened #60692 "I cant enable direct federation with Gsuite"
I tried to enable it,
but creating a custom SAML App in [Gsuite]
![image](https://user-images.githubusercontent.com/8343358/89988580-0b326c80-dc80-11ea-8ffc-b615d1d409a1.png)

In Azure AD
![image](https://user-images.githubusercontent.com/8343358/89988923-7ed47980-dc80-11ea-9fd1-c5c7d1b39445.png)

I understood the domain must not be DNS verified in Azure AD so i didnt verify it. And i did not fede

[2020-08-12 07:54] Wuhao1627003 opened #60693 "Resource not found"
I'm following the guide https://docs.microsoft.com/en-us/azure/batch/tutorial-run-python-batch-azure-data-factory to run python on ADF, but the line `from azure.storage.blob import BlockBlobService` gave me a "errorCode": "2010" "message": "Hit unexpected exception, please retry. If the problem persists, please contact Azure Support\" error. I know it's that line because all other imports were ok

[2020-08-12 07:55] GitaraniSharma-MSFT commented on #60670
@andyblack19, thank you for your question. We will investigate and update the thread shortly.

[2020-08-12 08:04] RohitMungi-MSFT commented on #60677
@emma-ehrhardt Thanks for pointing this out. We have now created a [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/125816)to fix the heading. @diberry could you please review and approve?

[2020-08-12 08:22] BryanTrach-MSFT commented on #60416
@masonmc These are good questions and I have unfortunately been unable to find the answers to them in the context of Apple ID. Let's get you a support case so you can work 1 on 1 with an engineer to troubleshoot this further. Can you please email us at azcommunity@microsoft.com with your subscription ID and the URL of this post?

We look forward to your reply. Since this will move into a support c

[2020-08-12 08:22] #60416 closed

[2020-08-12 08:26] Syssigm opened #60694 "Sender Authentication using Sendgrid Mail Account"
[Enter feedback here]
[Feedback-Sender Authentication.docx](https://github.com/MicrosoftDocs/azure-docs/files/5061456/Feedback-Sender.Authentication.docx)

Please find the attached document for the content that need be added to existing following article
[](https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-08-12 08:32] jamesmcroft opened #60695 "Storage routing doesn't appear to work as described"
Following the steps in this tutorial for configuring an IoT Hub to route telemetry messages to Blob Storage is not working as intended.

During configuration, it was possible to successfully create the endpoint in the IoT Hub. Watching the messages come into the IoT Hub, I can see them being routed to the Storage Account. However, it is not saving anything to the container.

I wondered if this was

[2020-08-12 08:38] SwathiDhanwada-MSFT commented on #60694
Thanks for your valuable feedback @Syssigm . Assigning to content author @georgewallace for review.

[2020-08-12 08:40] anirban007 commented on #60547
When trying to enable ADE. I tried with Managed and Unmanaged disk.

[2020-08-12 08:44] JayaChatterjee-MSFT commented on #59647
@pnarsi Yes, that is correct.

[2020-08-12 08:45] amanmcse commented on #60463
Thank your @varunsh-msft.
@AshleyYang25 Hope the above response helps. We will now close this thread.

[2020-08-12 08:45] #60463 closed

[2020-08-12 08:48] psmanhas commented on #60547
@anirban007 Thank you for your confirmation.The above mentioned article is for Server Side Encryption.

For Azure Disk Encryption you need to follow this [article](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview#supported-vms).The article has clearly mentioned that there is a 8GB requirement for the system.

Hope it helps!!!

Do let me know in case of any mor

[2020-08-12 08:58] ArenHarut opened #60696 "Azure Service bus issue - unable to track Server errors to understand the reason"
We are having fair amount of server errors on all our service bus resources during a certain point in a day and we have not able to track those server errors.
According to this ticket it was not possible to check errors:
https://github.com/MicrosoftDocs/azure-docs/issues/13811

Just wanted to check if there are any updates on this issue. I was not able to get any clues about this in documentation.

[2020-08-12 09:02] clement911 commented on #60362
Thank you, I hope this becomes available in the portal with a slider soon.

[2020-08-12 09:02] #60362 closed

[2020-08-12 09:06] henriko2018 opened #60697 "org.apache.http imports do not work"
I'm using Android SDK 29 and I had to add this in app build.gradle:

    android {
        ...
        useLibrary 'org.apache.http.legacy'
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beb78862-3c8c-1766-4318-54bbd23ce1f6
* Version Independent ID: c7970eaf-6c35-d53d-5e76-8e20a67ee662
* Content: [Send push notifi

[2020-08-12 09:06] ArenHarut commented on #60696
https://stackoverflow.com/questions/50270009/azure-servicebus-high-amount-of-server-errors-in-metrics

[2020-08-12 09:06] AjayKumar-MSFT commented on #60543
@larrymccutchan,  Apologies for the delay!  I see that the deployment issue is fixed.
Kindly let us know if you need any further assistance with this issue.
Thanks again for leveraging Azure docs feedback channel to raise this question.
![image](https://user-images.githubusercontent.com/44606227/89996815-e4d4f700-dca8-11ea-8165-9bc38d470b03.png)

[2020-08-12 09:08] anirban007 commented on #60547
I see, Thank you!

[2020-08-12 09:08] #60547 closed

[2020-08-12 09:20] gustavkn commented on #35469
Just ran into a similar issue regarding this - when using non static function classes (I am using dependency injection in my functions) the admin endpoint for invoking the timer triggered functions is no longer working.
Haven't found a work around so far..

[2020-08-12 09:24] henriko2018 commented on #60697
Ah, when I read to the end I saw it was included further down in the instructions.

[2020-08-12 09:24] #60697 closed

[2020-08-12 09:29] HarshitaSingh-MSFT commented on #60625
@anomepani, are you using CA Policy to enforce MFA? Please note that those users won't show up in the report.

Otherwise, you can try below command -
`Get-MsolUser -All | select DisplayName,BlockCredential,UserPrincipalName,@{N="MFA Status"; E={ if( $_.StrongAuthenticationRequirements.State -ne $null){ $_.StrongAuthenticationRequirements.State} else { "Disabled"}}}`

Please let me know if this wor

[2020-08-12 09:31] BhargaviAnnadevara-MSFT commented on #60381
@rogerwcpt Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-08-12 09:42] SadiqhAhmed-MSFT commented on #60690
@bertrandpons Thank you for the comment. We are looking into this and will get back to you soon.

[2020-08-12 09:50] squasta opened #60699 "Need more explanation about what is really supported with AGIC for production"
"_There are two ways to deploy AGIC for your AKS cluster. The first way is through Helm; the second is through AKS as an add-on_"... "_The add-on is also a fully managed service, which provides added benefits such as automatic updates and increased support. AGIC deployed through Helm is not supported by AKS, however, the AGIC deployed as an AKS add-on is supported by AKS_"

Does it means that AGIC

[2020-08-12 09:53] KrishnaG-MSFT commented on #60213
Sharing update for the benefit of broader audience - GA for Java codeless agent would be early November.

[2020-08-12 10:02] AshokPeddakotla-MSFT commented on #60652
@Roentgens4u Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-12 10:04] AshokPeddakotla-MSFT commented on #60695
@jamesmcroft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-12 10:06] vipulsparsh commented on #60469
@anomepani  May be you can use AAD Identity Protection. Have a look here, if you can visit this : https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection

[2020-08-12 10:07] superstandy opened #60700 ""Rewrite DNS" example may mislead customer of using it"
[Enter feedback here]
By default, If we use the example to rewrite an external domain name to an internal service domain name, it will cause the rewritten domain name can't be resolved.(Because of "/etc/resolv.conf" specify the DNS server to be the host configured DNS server which can't resovle k8s internal service domain name)

We'd better to put the note "# you can redirect this to a specific DN

[2020-08-12 10:08] likebupt commented on #60288
@darshats , Thanks for your feedback.
Here is an example, and I'll add it into the article later.
You need to register a file dataset for the zip file which contains your script, and then you can connect it to the Execute Python Script module, and import the script as the following sample code
[say_hi.zip](https://github.com/MicrosoftDocs/azure-docs/files/5061989/say_hi.zip)

![image](https://user

[2020-08-12 10:09] nicolonsky opened #60701 "PowerShell Dependency management limitations"
It looks like dependency management cannot handle modules from the PowerShell Gallery which require license acceptance, e.g. the 'MSAL.PS' module. Are there any options available to specify license acceptance via `requirements.psd1` file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae763f-03a9-b3b0-e7ad-52f9b15594

[2020-08-12 10:16] JayaChatterjee-MSFT commented on #60661
@zmarty If we enable Always On for an App Service, a request is made to the App Service every 5 minutes to keep the Application from going into an “idle” state. Basically, with the Always On feature, the front end load balancer sends a request to the application root.
It is by default enabled for the app service plan.
You may disable/enable manually too. For that navigate to the configuration of t

[2020-08-12 10:19] VikasPullagura-MSFT commented on #60700
@superstandy
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-12 10:19] VikasPullagura-MSFT commented on #60700
@jnoller
Can you please check and add your comments on this doc update request as applicable.

[2020-08-12 10:34] richardswinbank opened #60703 "Security practices"
- Step 4 in the article cautions users to use activities' secure input/output properties to ensure that secret values aren't revealed in activity logs.
- Step 5 uses a Set variable activity to make accessing the retrieved secret easier, but as far as I can tell it's not possible to specify "Secure input" for that activity
- It's not an error in the docs as such, but I wonder if step 5 creates the

[2020-08-12 10:41] GitaraniSharma-MSFT commented on #60667
@wjia7, thank you for your question. We will investigate and update the thread shortly.

[2020-08-12 10:41] MayankBargali-MSFT commented on #60696
@ArenHarut Service error means that the service was not able to process your message during that time. There can be multiple reasons for those server errors during that time for your service bus.

The document can only give you details about what does the server error means https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-metrics-azure-monitor#request-metrics but to know th

[2020-08-12 10:47] GitaraniSharma-MSFT commented on #60670
@andyblack19 , the link for the steps on how to configure bot protection for WAF on Azure Application gateway is provided at the end of this article as next steps.
![image](https://user-images.githubusercontent.com/67630903/90006789-34baba80-dcb7-11ea-933e-6e71942e800a.png)

You need to first create a basic WAF policy for Application Gateway by following the instructions described in [Create Web A

[2020-08-12 10:47] #60670 closed

[2020-08-12 10:54] GitaraniSharma-MSFT commented on #60667
@wjia7, I replicated the steps and created a Linux (centos 8.2.2004) VM with Accelerated Networking enabled and then did a SSH to it using it's Public IP and ran both the commands 'lspci' and 'ethtool -S eth0 | grep vf_' and was able to get the expected output as below:

[azureuser@Gita-CentOS ~]$ lspci
0000:00:00.0 Host bridge: Intel Corporation 440BX/ZX/DX - 82443BX/ZX/DX Host bridge (AGP disabl

[2020-08-12 11:54] galvesribeiro commented on #60700
Yo folks! I was the one who opened the ticket with Standy, and IMHO, it should mention that a common case is to use `forward . <CoreDNS Service IP>` which is the majority of cases on Azure.