[2020-06-24 12:37] BhargaviAnnadevara-MSFT commented on #57559
@jjindrich Sure, thank you!

[2020-06-24 12:42] arsnyder16 opened #57764 "SPA rules engine route"
I am trying to serve a SPA over front door. So in the rules engine i am trying to route any request that does not have an file extension to go to my index.html page.  So i have a rule
![image](https://user-images.githubusercontent.com/6554919/85558164-7bb0fb80-b5f6-11ea-9125-459460ecd2a3.png)

and this works for the root  www.mydomain.com/ but for any path it does not seem to work www.mydomain.com

[2020-06-24 12:44] trstroem opened #57765 "Why assign SAP_INTERNAL_HANA_SUPPORT to backup user?"
Any reasons for recommending to add the SAP_INTERNAL_HANA_SUPPORT to the Azure backup user? SAP help states that this role should be restricted. It can normally not be added to more than one user in the HANA system. Assigning it to the backup user may therefore prevent it from being assigned to other users during an emergency. It would seem like a bit of overkill to require this role for backup ac

[2020-06-24 12:44] arsnyder16 commented on #57764
I have also tried
![image](https://user-images.githubusercontent.com/6554919/85558566-da767500-b5f6-11ea-873f-e9eeba26346f.png)

But then neither the root www.mydomain.com/ or a path www.mydomain.com/test work

[2020-06-24 12:45] arsnyder16 commented on #57764
It would be very helpful to have a way to test these before needing to submit and wait to propagate

[2020-06-24 12:45] mlearned commented on #57468
@TomGeske  can you comment as well?  I believe the reasoning is the portal experience should now be just a checkbox type enable

[2020-06-24 12:50] pandainlove opened #57766 "For Azure powershell, I can't find Get-AzWebSiteLog function as the page describes. Is it called something else now?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd)
* Content Source: [articles/

[2020-06-24 12:51] KrishnaG-MSFT commented on #57753
@o-l-a-v Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-24 12:53] KrishnaG-MSFT commented on #57765
@trstroem Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-24 12:55] SychevIgor opened #57767 "Update Screenshot to latest UX for Azure Cognitive Search"
Update screenshow that made 3+ years ago
https://docs.microsoft.com/en-us/azure/search/media/search-manage/azure-search-manage-3-scaleup.png
Current UX looks different
[Enter feedback here]

![image](https://user-images.githubusercontent.com/578954/85560235-234c1f00-b633-11ea-9f2e-aaccad79b012.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-24 13:14] Surendra-thota1640 commented on #32940
Hi Chanakya

I have tried by removing the audience , still same old issue that the token is invalid .  i have copy the output of the web activity  and the main this we observed is that the audiance in that token referring to Microsoft Graph API ( even with audience parameter and without audience parameter also )
In copy activity we are using adiitonal headers

api_call_headers = 'Authorization': B

[2020-06-24 13:20] pmahend1 commented on #57457
This can be closed , I found out that redirect URI should be changed for App registered on Azure based on local debug.keystore file.

I tried this on my own app and it worked.

In case someone needs to know how to get signature ;

[code]
           copy SHA1 from this and convert from here https://base64.guru/converter/encode/hex

This needs to keep changing for every different machine in order to

[2020-06-24 13:20] #57457 closed

[2020-06-24 13:21] Heloiseboanerges commented on #57698
Sharing with you the output message

![image](https://user-images.githubusercontent.com/40353290/85564031-34def800-b62e-11ea-92b5-00f40847784e.png)

[2020-06-24 13:28] mlearned commented on #57468
@alhails  @mvisosky  can you elaborate on what you are needing from the portal doc?  We moved the conceptual content over to the new doc there.

We are adding a redirect to this doc instead:  https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

There's an update coming in a couple of weeks that changes the portal experience (makes it easier, nothing to do) so the doc is being retir

[2020-06-24 13:37] craigjar opened #57769 "Remove "whitelist" Terminology"
Please update product and documentation to use more acceptable language and refrain from using "whitelist".  Suggested alternative would be "allowlist".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb833fb7-abf9-432d-ab67-8b94c445407d
* Version Independent ID: 082b9e2c-aabd-1ff2-6782-1014ecfaa5ba
* Content: [IP acces

[2020-06-24 13:46] BharathNimmala-MSFT commented on #57689
@str1ke-cw Thank you for sharing the documentation links . I have assigned this to our team mate, who is SME in this area and they will work with you on this.

[2020-06-24 13:53] craigshoemaker commented on #49603
@aferrercrafter - Good point about the Functions names. I have updated the doc to use `MyHttpTrigger` instead.

[2020-06-24 13:55] NavtejSaini-MSFT commented on #56534
@malopMSFT Please check the question from @paulanguiano and help clarify the same.

[2020-06-24 13:57] NavtejSaini-MSFT commented on #57438
@vatansoni89 We are going ahead and closing this thread. Please get back to us if you have any further question.

[2020-06-24 13:57] #57438 closed

[2020-06-24 14:01] Heloiseboanerges commented on #57698
I've found the error, I was using the bare SLES. I've changed the image of the VMs to use SLES 12 SP4 for SAP Applications and the agents are there.

![image](https://user-images.githubusercontent.com/40353290/85570861-fc421d00-b633-11ea-9a44-83facb2137d9.png)

[2020-06-24 14:01] #57698 closed

[2020-06-24 14:02] priyankareddy20 opened #57770 "Issues when adding custom dynamic package"
While adding the custom dynamic package, it is asking for managed identity .I could see the permissions error as This policy does not contain any role definitions. deployIfNotExists and modify policies must specify role definitions in order to create the correct role assignments for the managed identity.Please b einformed this is w.r.t AZure security Center (Security Policy) dynamic packages.)

Ed

[2020-06-24 14:03] NavtejSaini-MSFT commented on #57668
@cg6 Thanks for the reply. I have assigned this to our doc author for more clarity regarding this concept.

[2020-06-24 14:04] priyankareddy20 commented on #57770
Also I have all the necessary RBAC permssions,
Owner
Contributpr
User Access Admin
Managed Identity Operator
Managaed Identity Contributor
Security admin

[2020-06-24 14:05] JamesTran-MSFT commented on #57758
@Staja
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 14:05] JamesTran-MSFT commented on #57749
@maweeras-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 14:08] favoretti opened #57771 "Please make sure requirement for own DNS with ILB ASE stands out"
Please please please make the line "In an ILB ASE, you must manage your own DNS." stand out in a note box, rather than just be a sentence. Costed me almost a day to actually read it :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1afa49-a5b4-92db-68e8-3feeeff52eb3
* Version Independent ID: c9191775-e49c-1462-e525-a

[2020-06-24 14:17] BharathNimmala-MSFT commented on #57746
@gkverma We are very sorry for your experience on this particular documentation , thank you for sharing your feedback. Our team will further look into it and get back to you at the earliest.

[2020-06-24 14:20] GiftA-MSFT commented on #57760
@frvigano we will review your feedback and get back to you shortly. Thanks.

[2020-06-24 14:21] BharathNimmala-MSFT commented on #57742
@rajeshshanker Thank you for reaching out to us. I have assigned this issue to our document author @KumudD to further look into it this. Thank you

[2020-06-24 14:33] AshokPeddakotla-MSFT commented on #57627
@Raregine Glad to hear that your issue is resolved. appreciate for sharing the resolution.
Adding author @kgremban for further review and update the doc as appropriate.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-24 14:33] #57627 closed

[2020-06-24 14:33] shashishailaj commented on #57750
@bjdekker Thank you for pointing this out . We will have this reviewed with content authors and update this thread.

[2020-06-24 14:35] mimckitt commented on #57759
#assign: @mimckitt

@Dottn You do not need to stop the VM to expand a data disk only the OS disk.

I updated the doc to be more clear on that.

![image](https://user-images.githubusercontent.com/32313503/85576317-291f1180-b5ed-11ea-8f6e-905a72537279.png)

Those changes will go live later this afternoon.

Thanks!

#please-close

[2020-06-24 14:35] #57759 closed

[2020-06-24 14:38] yang-jiayi opened #57772 "Wrong sample code"
This is a mistake in the sample code of "Modularizing code" Page.
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-temporary#modularizing-code

Incorrect: `FROM t1`
Correct: `FROM #stats_ddl`

Please check.
Thnaks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8131e

[2020-06-24 14:40] mvisosky commented on #57468
@mlearned I ended up getting the page content from the Internet Archive's Wayback Machine so I am ok and no longer experiencing an issue with the missing page.

You still have a link to the missing page in https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli (second paragraph where it says "You can also complete these steps using the Azure portal") so others may still experience som

[2020-06-24 14:40] RohitMungi-MSFT commented on #57746
@gkverma could you please provide details about what error you are facing and which language are you using? You can use the sample directly from [github ](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md) and compile if you are facing issues in using the snippets from the document.

[2020-06-24 14:44] y0da822 commented on #12432
Not sure I follow. If I have a saved rdp file on my home desktop that I use to remote into the office via the gateway, how can I redirect during that process to the o365 mfa page? Sent from Mail for Windows 10 From: JeremySent: Tuesday, June 23, 2020 16:57To: MicrosoftDocs/azure-docsCc: y0da822; CommentSubject: Re: [MicrosoftDocs/azure-docs] Step missing (#12432) No it wont but if you are using th

[2020-06-24 14:48] HughDevlin opened #57773 "Always On option documentation"
"With the Always On feature, you can’t control the endpoint. It always sends a request to the application root."

"Endpoint" is referenced, but is not previously defined. Control of the endpoint is referenced, but is not defined. The pronoun "It" is ambiguous. The pronoun "you" is unclear. What enpoint? What is meant by control? What control is given up by this option?

This needs clarification an

[2020-06-24 14:48] asergaz commented on #57535
@kgremban I believe this is never mentioned in our docs, except in some places of the SDK repos (for example [here)](https://github.com/Azure/azure-iot-sdk-java/blob/master/device/iot-device-samples/send-event-x509/src/main/java/samples/com/microsoft/azure/sdk/iot/SendEventX509.java#L129):

`"HostName=<host_name>;DeviceId=<device_id>;x509=true"`

Can we add it here as well as in other places on ou

[2020-06-24 14:51] JTC-Jeremy commented on #12432
Have the shortcut point to https://rds-<tentant>.msappproxy.net/rdweb/<https://rds-%3ctentant%3e.msappproxy.net/rdweb/> and then setup a conditional access policy to require MFA.   If your users find out the server name and are bypassing this then you could use a firewall rule to block it and then they would have to use the proxy.

From: y0da822 <notifications@github.com>
Sent: June 24, 2020 8:45

[2020-06-24 14:52] shashishailaj commented on #57751
@lysdexiafj Thank you for your feedback . We will investigate and update the thread

[2020-06-24 14:53] giggio commented on #56854
@v-nagta yes, it is fixed. Thank you.

[2020-06-24 14:55] giggio commented on #56855
@v-nagta yes, it is fixed. Thank you.

[2020-06-24 14:55] shashishailaj commented on #57752
@AmitavaHazra Thank you for your query .  We will investigate and update the thread .

[2020-06-24 14:57] y0da822 commented on #12432
I have it that way – users have no way to bypass the proxy – it actually goes through it.  And even more – people only use this when working remotely – it would never be used internally. What I mean is that when you double click the rdp shortcut you have saved on your desktop, it asks for username and password, but never actually prompts for mfa via azure – it just goes right in. If you do exactly

[2020-06-24 14:59] shashishailaj commented on #57754
@thorhj Thank you for your feedback . We will investigate and update the thread .

[2020-06-24 15:01] JTC-Jeremy commented on #12432
Sorry I misread that, the proxy works with the Web interface not direct RDP connections.  What I would do there is give them a IE shortcut instead and then publish MSTSC as an app.  From there you might be able to setup the gateway to launch that app by it self with switches to open a specific computer.  I have never tried this but it might work in theory

From: y0da822 <notifications@github.com>

[2020-06-24 15:13] sanpil commented on #57697
Using Python to call a Python SDK API is a given, that's why the emphasis on "non-Python clients/external systems." We could use "With the pipeline endpoint, you can trigger a run of the pipeline from any external systems, including non-Python clients."

[2020-06-24 15:13] ronortloff commented on #57709
@hbrown664 are you in the master database?

[2020-06-24 15:15] darkantoine opened #57775 "How do partitioned topics work with computing consumers?"
Hi,

Would it be possible to clarify what happens when several computing consumers (i.e. same subscription but different instances of the message listener), are subscribed to a given partitioned topic
Does each consumer get assigned a set of partitions and therefore cannot get a message from partitioned assigned to another consumer? (like kafka does)

I have seen some articles or comments here and

[2020-06-24 15:18] aaavang opened #57776 "Python documentation tab refers to Javascript"
The documentation around the `cardinality` field erroneously references Javascript when the python tab is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hubs trigger for Azure Functions]

[2020-06-24 15:30] JamesTran-MSFT commented on #57608
@illiassk
Thank you for pointing that out! I'll work with my team to help answer your original question:

Is the Single sign-out feature only available for custom policies:
- If it's still only available for custom policies, I'll see if we have any other public docs on how you can implement this.

- If it's available for built-in policies, I'll get clarification on why AzureAD B2C fails to send a

[2020-06-24 15:33] rpanday commented on #57496
@AnuragSharma-MSFT Thanks for the reply.

Can you please check the last line in your response?

In my understanding, the architecture of cosmos DB suggests that RU/s of a logical partition can not exceed the RU/s assigned to its containing physical partition. Such requests will be rate limited.
Further, the equal division of throughput is across physical partitions (based on architecture). Physica

[2020-06-24 15:35] curtand commented on #53710
Thanks @Arcass
I corrected the content per your observations and published it. It'll be live today 11 AM PDT.

@SaurabhSharma-MSFT
#please-close

[2020-06-24 15:35] ugeeku opened #57777 "Properties to create a Configuration Manager collection of Hybrid joined devices"
[Please add details on how a collection can be created to contain the Hybrid joined devices along with the logic of what occurs and timeframe that these device should report back.  i.e. based upon hearbeat frequency.
Would this be the correct logic?
select SMS_R_SYSTEM.ResourceID,SMS_R_SYSTEM.ResourceType,SMS_R_SYSTEM.Name,SMS_R_SYSTEM.SMSUniqueIdentifier,SMS_R_SYSTEM.ResourceDomainORWorkgroup,SMS

[2020-06-24 15:37] mike-urnun-msft commented on #57654
@nilsga Connection interfaces with the Management pane of the APIM service and the documentation also does state the following for the specific operations:

Self-hosted gateway uses connectivity to Azure for:

- Reporting its status by sending heartbeat messages every minute
- Regularly checking for (every 10 seconds) and applying configuration updates whenever they are available
- Sending request

[2020-06-24 15:38] ryotokuro commented on #57751
I think it's right, but it just looks a bit awkward due to the abrupt change in topic.

Here the documentation is giving an example of two virtual machines on two different virtual networks. These two are connected using virtual network peering and the traffic is passed through Microsoft Azure; i.e. using Microsoft's infrastructure.

This is a expansion on the previous point giving a similar examp

[2020-06-24 15:41] mlearned commented on #57468
ok thanks, we are removing the confusing link as well.

[2020-06-24 15:43] VikasPullagura-MSFT commented on #57649
@Monendra
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-24 15:43] #57649 closed

[2020-06-24 15:44] curtand commented on #55829
Hi @curtand
Thanks for your contribution, and your patience. I'm the writer and I'm investigating.

[2020-06-24 15:49] #57446 closed

[2020-06-24 15:50] msmimart commented on #48856
@Oppedijk, thanks for your patience as we change hands, I'm sorry for the delay. Would you tell me more about your scenario and workaround? From my understanding, Google requires [brand verification](https://support.google.com/cloud/answer/9110914) if I modify the OAuth consent screen by adding a logo, homepage, or privacy policy URL, etc. and this verification needs to be done before I make my ap

[2020-06-24 15:50] lysdexiafj commented on #57751
@ryotokuro thank you for the quick response.

That is what I thought, maybe it could be better to change this sentence:

To: "The traffic between virtual machines, on separate virtual networks, uses the Microsoft backbone infrastructure."

I think it would make it more clear that it is on different VNets and eases into the change of topic.

[2020-06-24 15:54] JamesTran-MSFT commented on #57749
@maweeras-msft
Would you be able to clarify where you'd like this screenshot?
-i.e. under the "Backup your account credentials" header, etc.

Additionally, for the text do you want that in a Note type of format to inform other users/customers? Or is this text part of the screenshot?

[2020-06-24 15:56] algattik commented on #57577
I hear that apparently the nodes use *two* private IP addresses each, so both docs are wrong then...

[2020-06-24 15:58] rolyon commented on #51978
Hi @Aaron-ML
This role has been added.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-contributor-role
thanks

[2020-06-24 15:58] maweeras-msft commented on #57749
I would like it under bullet 3 for “account problems” under https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-backup-recovery#troubleshoot-backup-and-recovery-problems section

Looks something like this. But get a clear version of the image. Don’t crop this one.

The text would be good to include optionally as it will help those searching for an explicit string.

[2020-06-24 16:04] haidersabeeh opened #57778 "HKEY_LOCAL_MACHINE \SYSTEM\ControlSet001\Services\WindowsAzureTelemetryService is no longer there"
[Hello Team,
as per the latest VM agent updates the Telemetry service is no longer used
and thus the registry key should not be there
 HKEY_LOCAL_MACHINE \SYSTEM\ControlSet001\Services\WindowsAzureTelemetryServic

please update the documents ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd23dcce-4726-0745-2349-9cf3a

[2020-06-24 16:05] MarkAtAgilliance commented on #44432
I do this like this:

$appSvc = Get-AzWebApp -ResourceGroupName $ResourceGroupName -Name $AppServiceName
$appSvc.siteConfig.Use32BitWorkerProcess = $false
$appSvc | Set-AzWebApp

HTH.  Mark.

[2020-06-24 16:07] dpuckett commented on #40317
You've closed this but the docs STILL haven't changed...
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started#connect-your-app-to-the-notification-hub

`public override void RegisteredForRemoteNotifications(UIApplication application, NSData deviceToken)
{
    Hub = new SBNotificationHub(Constants.ListenConnectionString, Constants

[2020-06-24 16:07] nickjxyz commented on #12432
I was testing setting this up today and happened to stumble on this thread as I was running into the same issues following the MS instuctions referenced. I can get it to work by setting up the second enterprise application for RD gateway as described in the udpated instructions JTC-Jeremy provided - thanks, however I think this defeats the purpose I had which was to pass the authentication onto az

[2020-06-24 16:08] SaurabhSharma-MSFT commented on #57702
@martintoreilly Here are the [list of azure services IP address and service tags](https://www.microsoft.com/en-us/download/details.aspx?id=56519), that Microsoft has shared in public. It has the ip address ranges for the service bus and azure ad that you can use for your firewall. Also, these Ip addresses are all not tenant specific.

[2020-06-24 16:09] kobulloc-MSFT commented on #57619
@blaiseAI We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-24 16:20] blaiseAI commented on #57619
@kobulloc-MSFT Sorry for the delay here for some reason my notifications weren't coming through, I got it to work now but I had to add InstrumentationKey Manually in the ApplicationInsights.config right before the telemetryInitializers and also once the application is running in the debug mode i had to select manually an application insight resource, I am just wondering if there is a configuration

[2020-06-24 16:22] mmacy commented on #57403
@Oppedijk you are correct, the change is https://github.com/MicrosoftDocs/azure-docs-pr/pull/119471 is incorrect and should not be merged. I've requested that @MarileeTurscak-MSFT close the PR.

It's a difficult process to clearly explain because the nature of the process itself is inherently (and unfortunately) complex. Until (and if) the two internally used app registrations--`ProxyIdentityExper

[2020-06-24 16:22] bandersmsft commented on #52075
#assign:anuragdalmia

[2020-06-24 16:23] bandersmsft commented on #52075
@anuragdalmia Reassigned to you, per Amber's request.

[2020-06-24 16:31] MartinJaffer-MSFT commented on #57248
@mathiasbl I heard back.  This is a UI bug.  When the model is in the root container like yours, type the container name into the first part, then leave the second as "/".  Like below
![image](https://user-images.githubusercontent.com/46612670/85594432-c766a380-b5fc-11ea-9563-315b3d99d9ff.png)

[2020-06-24 16:31] #57248 closed

[2020-06-24 16:37] mmacy commented on #55576
@jarekkoziol Agreed. I'll take a crack at better explaining the "for internal use only" nature of those app registrations. Will update here and in #57403 when it's live.

Cc: @msmimart

[2020-06-24 16:38] KatanaCS commented on #55091
Hi,

The line
"$AureRmProfileVersion = (Get-Module Az.Profile).Version"
has a typo - the parameter is "Aure" instead of "Azure", so subsequent checks are failing because they are technically using a different variable:
"if (!(($AzureRmProfileVersion.Major -ge 3"

[2020-06-24 16:51] JTC-Jeremy commented on #12432
The ability to present an RDS server to the internet without firewall ports would be the main reason you implement this.  The MFA is a nice side effect.  I’m hoping that MS re-engineers RDS to have this built in at some point 😊

From: nickjxyz <notifications@github.com>
Sent: June 24, 2020 10:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeremy Preston <jeremy@truelinkps.c

[2020-06-24 16:51] sfjverbarg opened #57779 "Posting to create a new job responds with 201"
201 (not 200) is a successful response to this POST https://graph.microsoft.com/beta/serviceprincipals/{id}/synchronization/jobs
{
    "templateId": "aws"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ab0fe3-888c-5180-6924-23c5b79ccba9
* Version Independent ID: 2ab7dfd1-7848-f15e-c41e-de833f901f12
* Content: [Use

[2020-06-24 16:52] Calvin-Yuhui-Liu commented on #55576
Now in my understanding the "for internal use only" actually means it's a set of configuration that Identity Experience Framework will use. But I'd suggest you share a diagram of architecture of B2C components. And it'll make everything easier to understand. Thanks.

[2020-06-24 16:55] #57652 closed

[2020-06-24 16:56] alac0m commented on #56992
Thank you @jlichwa and @shashishailaj.

I would like to provide some feedback. It would have been great if we could specify the frequency of the expiring notifications starting from day 30 down to day 0. If that was possible, then we can replace our runbook implementation with this feature. As of now, we will not use this feature and continue using the runbook. Thank you!

[2020-06-24 16:56] #56992 closed

[2020-06-24 16:56] MartinJaffer-MSFT commented on #57761
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-24 16:58] sfjverbarg opened #57781 "Credentials body needs to have keys quoted"
POST https://graph.microsoft.com/beta/servicePrincipals/{id}/synchronization/jobs/{id}/validateCredentials
{
    "credentials": [
        { "key": "ClientSecret", "value": "xxxxxxxxxxxxxxxxxxxxx" },
        { "key": "SecretToken", "value": "xxxxxxxxxxxxxxxxxxxxx" }
    ]
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-24 17:03] axisc commented on #57435
@thisissubbuster You can only upgrade one Standard namespace into a Premium namespace.

If you would like to upgrade both to a single one, then you should use the standard upgrade tool for a one namespace and then copy over entities from the second namespace manually. Please be sure to still read through [Disaster recovery guidance for Premium](https://docs.microsoft.com/azure/service-bus-messagin

[2020-06-24 17:12] rahg-bmake commented on #56845
Thanks Heidi for the ack. The mentioned article does not help as I would have to specifically make individual POST requests to achieve the task. What I desire is if the searchservice can automatically handle updates and deletes based on the changes in the original data source. Whether this can accomplished by updating index, or recreating it, or if this is not possible in an automated way.

[2020-06-24 17:13] JamesTran-MSFT commented on #57749
@maweeras-msft
Thank you for your inputs. I'll assign this issue to the author to make the correct changes.

**Change Requested:**
Under the third bullet (Account Problems), of the "Troubleshoot backup and recovery problems" section.
- You'd like a screenshot similar to the below. Preferably a clearer picture and not just a crop of the image.
- We can optionally add the text "if you add an account

[2020-06-24 17:14] amanmcse commented on #57740
@rick-hayek Yes, only the built-in strings mentioned in the document [localization-string-ids](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids), are supported for customization.
As these values are passed by signuporsignin api which is called by user-flow/policy only these values can be updated by the policy files.

[2020-06-24 17:14] Karishma-Tiwari-MSFT commented on #56132
Thanks @khandelwalbrijesh

@starforce Thanks for providing all the details.
Can you please send me an email to 'AzCommunity@microsoft.com' with Subject 'Attn: Karishma'. Please include your subscription Id as well as link to this GitHub issue. I will enable a support ticket for you and share details on how to open a support request once enabled.

[2020-06-24 17:17] JamesTran-MSFT commented on #57779
@sfjverbarg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 17:18] aahill commented on #51822
Thanks for opening this issue - I've added a note that specifies these examples use windows directories. Should be live soon.

#please-close

[2020-06-24 17:18] #51822 closed

[2020-06-24 17:20] BharathNimmala-MSFT commented on #57770
@priyankareddy20  Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) Repository) is only for driving improvements related to the Azure documentation. Can you please share the documentation link you are referencing and facing this issue so that would help us to better assist you.

[2020-06-24 17:21] JamesTran-MSFT commented on #57781
@sfjverbarg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 17:24] aahill commented on #53571
Thanks for opening this github issue. Custom vision isn't offered as a containerized service (that's why it's not listed), but you can [export models for use in containers](https://docs.microsoft.com/azure/cognitive-services/custom-vision-service/export-your-model).

#please-close

[2020-06-24 17:25] #53571 closed

[2020-06-24 17:26] mike-urnun-msft commented on #57503
@RonnieQuan APIM has CORS proxy layer, the following video explains it: https://azure.microsoft.com/en-us/resources/videos/cors-and-api-management/

The "Bypass CORS proxy" checkbox found in the test blade simply refers to making the test call made from the blade to bypass the proxy layer.

[2020-06-24 17:27] FultonBrowne commented on #8423
Having the same issue after a deployment and can't get it back online. production has been down for 5 hours

[2020-06-24 17:30] KumudD commented on #39987
@banzasi We have added this doc update to our backlog. Thanks!
 #please-close

[2020-06-24 17:30] #39987 closed

[2020-06-24 17:31] KumudD commented on #42438
@CHDAFNI-MSFT We have added this doc update to our backlog. Thanks!
 #please-close

[2020-06-24 17:31] #42438 closed

[2020-06-24 17:32] iampeterdaniels opened #57782 "Can we flesh out some more of the details for implementing the DNS forwarders?"
This page is an excellent resource.  However, I'd like to either see it expand or point to more details on just how to implement some of these scenarios.  In my case, We have express route up to our Azure vNet(s) and have DNS servers in that vNet that have (seem to have) been replicated from our on-prem AD DNS.  I'm confused on how to implement the DNS forwarder and what records need to get put in

[2020-06-24 17:33] KumudD commented on #45987
@jangelfdez We have added this doc request to our backlog. Thanks!
 #please-close

[2020-06-24 17:33] #45987 closed

[2020-06-24 17:34] KumudD commented on #46986
@jtuliani We have added this update request to our backlog. Thanks!
#please-close

[2020-06-24 17:34] #46986 closed

[2020-06-24 17:37] priyankareddy20 commented on #57770
https://docs.microsoft.com/en-us/azure/security-center/update-regulatory-compliance-packages

Documentation did not mention...what happens once we select the dynamic
packages..it is redirecting me to other page and asking for scope,
parameters, remediation,mangaed identity,location...so on

On Wed, Jun 24, 2020, 19:21 BharathNimmala-MSFT <notifications@github.com>
wrote:

[2020-06-24 17:37] MartinJaffer-MSFT commented on #57769
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-24 17:42] kagowda commented on #57664
When will changes reflect?

[2020-06-24 17:42] kagowda commented on #57664
We are planning to release on Friday

[2020-06-24 17:43] chishiuanlu opened #57783 "Unclear documentation"
This documentation recommends single page app client to utilize MSAL.js 2.0+ supports the authorization code flow with PKCE and CORS.
But there is no information at all related to this topic which makes users nearly impossible or super difficult to find details including Azure AD B2C setup and where MSAL.js 2.0 library is for implementation.

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-24 17:45] BharathNimmala-MSFT commented on #57770
@priyankareddy20 Thank you for sharing the documentation link. Our team will further look into it and get back to you at the earliest.

[2020-06-24 17:46] GiftA-MSFT commented on #57588
@boltomli thanks for your feedback, I used windows command prompt as mentioned in the instructions. However, I agree that specifying commands for powershell would be helpful.

@trevorbye can you please review above feedback for doc enhancement? Thanks.

[2020-06-24 17:53] hbrown664 commented on #57709
I'm not sure.  Will have to try it again.  Was I supposed to be?
    On Wednesday, June 24, 2020, 08:14:00 AM PDT, Ron Ortloff <notifications@github.com> wrote:

@hbrown664 are you in the master database?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-24 17:53] marktab commented on #57736
@chcurlet-msft  responded with https://github.com/MicrosoftDocs/azure-docs-pr/pull/119991
This ticket may be closed

[2020-06-24 17:54] thorhj commented on #57754
I forgot to mention that I have only tested it with the new v12 client (`Azure.Storage.Blobs 12.4.4`).

[2020-06-24 17:58] jay0604 commented on #57057
@VikasPullagura-MSFT

I have built the solution and it is stable with RHEL DRBD as NFS HA and using it for SAP HA solution. So we specifically investigating for any limitation with RHEL DRBD in comparison with GclusterFS or Netapp and whether the solution built on RHEL DRBD would be supported on the Azure cloud foundation or not.

[2020-06-24 18:00] VikasPullagura-MSFT commented on #57057
@rdeltcheva Can you please add your comments on this ask.

[2020-06-24 18:00] tamram commented on #57754
#reassign: @normesta

[2020-06-24 18:04] jlichwa commented on #56992
@alac0m with current infrastructure we schedule events at creation. So can't just schedule 30 events every time. So without major change in infrastructure for events handling, it is impossible. Thank you

[2020-06-24 18:10] BharathNimmala-MSFT commented on #57782
@iampeterdaniels Thank you for sharing your valuable feedback. Our team will further look into your specific query and respond back at the earliest .

[2020-06-24 18:11] roygara commented on #57576
@akingscote No no, I'm clarifying that we're talking about the same thing. Since we are, this is easy to resolve. And I want to be clear: This is good feedback, thanks for pointing this out, we appreciate it! :)

I've gone ahead and added a bit to the note in front of the script calling this out. That'll be live later today.

Accordingly, I'll close this issue out.

Again, thanks for bringing this

[2020-06-24 18:11] #57576 closed

[2020-06-24 18:12] vladvino commented on #56772
@solankisamir please comment.

[2020-06-24 18:13] SatishBoddu-MSFT commented on #57560
@V-Guru Just checking back! Please let us know if you need further help.

[2020-06-24 18:19] ezYakaEagle442 opened #57785 "How to get & configure SSH keypair generated by Flux?"
at [https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/use-gitops-connected-cluster#repository-url-parameter](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/use-gitops-connected-cluster#repository-url-parameter) it is mentioned :
SSH keypair generated by Flux. User must add the public key to the GitHub account as Deploy Key. but it is not explained how to get the Key, shall I

[2020-06-24 18:21] ezYakaEagle442 commented on #57785
I forgot to mention :

$gitops_url is git@github.com:ezYakaEagle442/arc-k8s-demo.git ( a public repo with MFA)

[2020-06-24 18:22] HeidiSteen commented on #56845
@rahg-bmake  You could do simultaneous writes (source update, index update) from your client. That's the basic idea that gets floated when synchronization is a business requirement.  Otherwise, only indexer-driven indexing gets close to what you want, which means your source data has to be on one of the supported Azure data sources: Azure SQL, Cosmos DB (we support most of their data models), Azur

[2020-06-24 18:24] MartinJaffer-MSFT commented on #57769
Thank you for your feedback, @craigjar  .   There is currently an ongoing effort to update bias in the documentation. This has been assigned to the content owner, @mamccrea  and will be updated as appropriate.

[2020-06-24 18:24] abhilashmk opened #57786 "Add '*.data.mcr.microsoft.com' for Linux dependencies with Firewall"
Recently Microsoft Container Registry updated the domain https://github.com/microsoft/containerregistry/blob/master/client-firewall-rules.md.

Initially we needed 'mcr.microsoft.com' and '*.cdn.mscr.io' domain to be whitelisted in order to pull the images. Now we also need '*.data.mcr.microsoft.com' for Linux ASE with firewall.

Observed this when one of the blessed image pull started failing in a

[2020-06-24 18:29] MicrosoftGuyJFlo commented on #57758
This article is only comparing Security Defaults and the equivalent Conditional Access policies. Per-user MFA is not a recommended path unless that is your only option and is covered in other articles.

[2020-06-24 18:29] MicrosoftGuyJFlo commented on #57758
#please-close

[2020-06-24 18:29] #57758 closed

[2020-06-24 18:30] ezYakaEagle442 opened #57787 "Clarify config-agent status state"
At [https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/use-gitops-connected-cluster#validate-the-sourcecontrolconfiguration](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/use-gitops-connected-cluster#validate-the-sourcecontrolconfiguration) 3 States are documented :

1. Pending
2. Compliant
3. Noncompliant

But after I did follow the doc I noticed the name of  n°2 State was

[2020-06-24 18:31] MicrosoftGuyJFlo commented on #57601
Email out to PG for feedback

[2020-06-24 18:34] MartinJaffer-MSFT commented on #57769
Please be patient if this change does not happen immediately.  The term "whitelist" is widespread, used in many documents.  We try to maintain a level of consistency when possible.

[2020-06-24 18:38] kobulloc-MSFT commented on #57619
@blaiseAI I'm taking a second look at this today and will update this comment with my repro so you can compare your setup with my setup.

[2020-06-24 18:42] rachel-msft commented on #20758
Hi @framled. There is a firewall bug this month that is affecting a subset of customers. We have rolled out a fix that takes effect after you restart your server. Could you restart your server and let me know whether your new firewall rules are taking effect.

Also please note that 0 to 255 should only be used for brief tests, as this essentially removes your firewall. You can use Allow All Azure

[2020-06-24 18:43] SatishBoddu-MSFT commented on #57689
@str1ke-cw Thanks for reaching out to us! Could you please let us know the OS your are using ? Under which category your system is mentioned , [Tier 1](https://docs.microsoft.com/de-de/azure/iot-edge/support#tier-1) or [Tier 2](https://docs.microsoft.com/de-de/azure/iot-edge/support#tier-2) ?

[2020-06-24 18:45] MicrosoftGuyJFlo commented on #52000
#please-close

[2020-06-24 18:45] #52000 closed

[2020-06-24 18:45] MicrosoftGuyJFlo commented on #53187
#please-close

[2020-06-24 18:45] #53187 closed

[2020-06-24 18:52] ronortloff commented on #57709
No, you're not supposed to be in master.  But when I tried to reproduce the reported error, I was in master and it repro'd.  When I'm in a user database, I do not get this error.

[2020-06-24 18:53] AmitavaHazra opened #57791 "How to enable MFA for myapps portal using Conditional access policy"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mfa

Here they are testing using azure portal for MFA. That is working fine.
1. Can we enable MFA for accessing myapps.microsoft.com portal using conditional access policy ? It is possible in per user MFA by default but can we do in CAP based MFA.
2. Let's say we have access myapps portal (no MF

[2020-06-24 18:54] AmitavaHazra commented on #57791
@MarileeTurscak-MSFT and @MicrosoftGuyJFlo
can anyone please clarify above doubts. Thanks in advance.

[2020-06-24 18:57] JamesTran-MSFT commented on #57608
@iliassk
I spoke with my team and was given the below GitHub issues for your reference. As of right now, the documentation is up to date and the only implementation/how to docs we have regarding AzureAD B2C Custom Policies can be found [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/).

**Issues:**
https://github.com/MicrosoftDocs/azure-docs/issues/34577
https://github.com/Micro

[2020-06-24 19:05] KurtSchenk opened #57792 "Update docs to reflect Service Fabric Runtime SDK/NuGet dependencies guidance"
Can you update the documentation to reflect the guidance shared at https://github.com/MicrosoftDocs/azure-docs/issues/51042#issuecomment-607835933?

“Less than or equal to version 4.0” could be any 4.0 version, including a later version than the one released with Runtime but that is not correct based on the guidance in comment referenced above.

---
#### Document Details

⚠ *Do not edit this secti

[2020-06-24 19:09] shashishailaj commented on #57327
@knightpfhor There has  been an issue due to which a file was renamed and we have reached out internally to the team responsible for the same . Once they fix it , this issue will be resolved.

[2020-06-24 19:11] Grace-MacJones-MSFT commented on #57786
Hi @abhilashmk , thanks for bringing this to our attention. We will review the doc and update you shortly

[2020-06-24 19:14] blaiseAI commented on #57619
Steps in my vs2019
<img width="608" alt="summary changes" src="https://user-images.githubusercontent.com/31610621/85617536-a746dc80-b61c-11ea-996d-a961136a37e4.png">
<img width="607" alt="connectionstring-config" src="https://user-images.githubusercontent.com/31610621/85617538-a7df7300-b61c-11ea-9931-0fa7d6d4058f.png">
<img width="606" alt="configure-azure" src="https://user-images.githubuserconte

[2020-06-24 19:24] sumeetmittal commented on #53044
Both the statements are correct. Service Endpoints doesn't support cross AD for all services listed. Storage made an exception based on the feedback from customers. Service endpoint policies are available only for Storage and hence applicable.

[2020-06-24 19:30] AnimeshBarua opened #57793 "Configure Workday for automatic user provisioning"
Hello Team,

Using the AD Workday inbound provisioning app connector - I am looking to get the Worker Manager's Username (i.e. Workday Username). Currently, I see the Workday inbound provisioning app connector has the "ManagerReference" which provides the Manager's WID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799

[2020-06-24 19:32] GiftA-MSFT commented on #57760
@PatrickFarley can you please review above feedback to update the [document](https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts-sdk/client-library?pivots=programming-language-python) and[ source code](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/ComputerVision/ComputerVisionQuickstart.py)? Thanks.

[2020-06-24 19:32] aquibqureshi26 commented on #53044
"service endpoint works if you’ve resources in another active directory tenant as well"

this is missing in this doc. that is what I was pointing.

[2020-06-24 19:34] shashishailaj commented on #57211
@SeaDude We checked this and you can [configure Advanced Threat protection for Azure storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-advanced-threat-protection?tabs=azure-portal). It can protect blobs and check for any [potential malware uploaded](https://docs.microsoft.com/en-us/azure/security-center/alerts-reference#alerts-azurestorage). From the article :-

![image](https

[2020-06-24 19:34] #57211 closed

[2020-06-24 19:36] shashishailaj commented on #57441
@curtand Could you please see how best we can incorporate the suggestions by the customer.

[2020-06-24 19:36] hrasheed-msft commented on #57365
@abhaydiwan  Thanks for reaching out. Did you encounter a specific error when executing the steps of the tutorial? If so please provide it so that we can try to reproduce it. Also, please note that the import command `import spark.sqlContext.implicits._` is used in the [Define a catalog and query](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-using-spark-query-hbase#define-a-catalog-a

[2020-06-24 19:37] shashishailaj commented on #57666
Thank you for much for providing the same.

[2020-06-24 19:38] shashishailaj commented on #57666
@WillEastbury Could you please help review the document and update it as suggested so as to make it current ?

[2020-06-24 19:42] JamesTran-MSFT commented on #57783
@chishiuanlu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 19:42] starforce commented on #56132
@khandelwalbrijesh

Thank you for the help.  I just emailed the information you requested.

[2020-06-24 19:45] ermacia91 opened #57794 "GSuite Group Provisioning"
We should make known to our customers that Group Provisioning to GSuite only work for mail enabled groups.

GSuite requires groups to have an email address, and we use mail as the joining property.

A workaround to this is to change the mail attribute mapping for groups, which is something not everyone knows how to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-06-24 19:46] RyanHill-MSFT commented on #57771
Thanks for the feedback @favoretti! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-24 19:50] VitalyMCT opened #57795 "SQL Server 2014, 2016, and 2017"
Can you please advise on the reason these specific versions are listed?

They are different from the versions listed on the SQL Server Connector page at https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server (2016, 2014, 2012, 2008 R2, 2008, and 2005)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ee

[2020-06-24 19:51] VitalyMCT opened #57796 "SQL Server 2017 and 2019"
Are these two versions still unsupported or is the documentation out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e7af17-5daf-eebf-92b4-433eca93d328
* Version Independent ID: cce235ca-d882-4f70-cacc-b3c2c7feae13
* Content: [Copy data to and from SQL Server - Azure Data Factory](https://docs.microsoft.com/e

[2020-06-24 20:02] KumudD commented on #40851
#please-close

[2020-06-24 20:02] #40851 closed

[2020-06-24 20:03] vhorne commented on #57737
Article sentence restructured for better clarity:

For this tutorial, you create a simplified single VNet with three subnets for easy deployment.

For production deployments, a hub and spoke model is recommended, where the firewall is in its own VNet. The workload servers are in peered VNets in the same region with one or more subnets.

#please-close

[2020-06-24 20:03] #57737 closed

[2020-06-24 20:07] mrbullwinkle commented on #57619
@blaiseAI if you are selecting the top of those two options `(Local)` that would explain the behavior you are seeing. You need to select the second option that doesn't contain local if you want to send telemetry to Azure and have live metrics out of box.

Unfortunately Visual Studio 2019 16.6.2 changed the UI and the underlying code changes that happen to projects. This version of VS 2019 was rele

[2020-06-24 20:09] mrbullwinkle commented on #57619
#assign: mrbullwinkle

[2020-06-24 20:11] mrbullwinkle commented on #57619
We'll update the docs to support the new UI this month, we are just still figuring out how we want to handle documenting the old UI since a lot of people are still going to be using older versions and we don't want to only document the latest UI as it may cause further confusion.

[2020-06-24 20:18] MGoedtel commented on #57640
@bebattis - West Central US region should not have a link to the second footnote under that table.  It originally linked to a footnote stating there wasn't capacity in that region to support creating new resources, which isn't applicable any longer.  That footnote was removed along with my attempt to correctly remove reference to it and then renumber the pre-existing other two footnotes that were

[2020-06-24 20:18] #57640 closed

[2020-06-24 20:19] shashishailaj commented on #57518
@reinux The Quickstart blade is available for every application on my side. It has changed since the time video was shot. It was shot on Feb 6. But Quickstarts are surely available .

![image](https://user-images.githubusercontent.com/532022/85622749-ef99e500-b684-11ea-963c-69bcc7b8a5f2.png)

Also it surely is the express option because if I select the SPA option from the above on my app registrat

[2020-06-24 20:20] shashishailaj commented on #57751
@lysdexiafj We will have this discussed internally with the Content authors and update as per review.

[2020-06-24 20:25] TravisCragg-MSFT commented on #57278
@jmagosta Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-24 20:25] #57278 closed

[2020-06-24 20:26] shashishailaj commented on #57567
@kenwith Could you please review the suggestions made here and see if we can incorporate these details in the document ?

[2020-06-24 20:28] TravisCragg-MSFT commented on #18063
@daksha121 as is outlined in the doc, write access on the Virtual Network, and the ability to perform 'Microsoft.Network/virtualNetworks/subnets/joinViaServiceEndpoint/action' is required to enable service endpoints.

[2020-06-24 20:32] lorne-olo commented on #53783
This was very painful. I'm using Azure AD B2C with a local account and I was also getting the "missing from the token response" -- and I had the "Display Name" as a claim. It would be helpful to change the documentation to use the solution you have provided here. I'm thankful to have found it.

[2020-06-24 20:32] thomas-hahn-kr opened #57798 "Outdated"
As of June 2020 the Computer Name of Azure Scale Sets appears to have changed and this document appears out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b34be1-105b-659e-fec3-f8baabbe7d4f
* Version Independent ID: c3cea0ff-9ee4-ac0d-fe12-399b8f1c7094
* Content: [Understand instance IDs for Azure VM scale s

[2020-06-24 20:35] y0da822 commented on #12432
Yea – that’s what we ended up doing, but what happens is some people are smart and keep using the downloaded file from web. That’s why we ended up just using Duo – which has the capability of mfa with web and if going directly to gateway. Sent from Mail for Windows 10 From: JeremySent: Wednesday, June 24, 2020 11:01To: MicrosoftDocs/azure-docsCc: y0da822; CommentSubject: Re: [MicrosoftDocs/azure-d

[2020-06-24 20:37] y0da822 commented on #12432
Yea – that’s why we found it best to use duo. We use one enterprise app with passthrough auth, but Duo sits in front of web and gateway to do mfa.  So azure app proxy with duo mfa is the route we took – annoying but there wasn’t another way to get mfa if someone used a saved rdp file. Sent from Mail for Windows 10 From: nickjxyzSent: Wednesday, June 24, 2020 12:08To: MicrosoftDocs/azure-docsCc: y0

[2020-06-24 20:38] y0da822 commented on #12432
Agreed – and if they could only get Windows Virtual Desktop to allow multiple monitors that would help also. Our users are spoiled and want remote multiple monitors lol Sent from Mail for Windows 10 From: JeremySent: Wednesday, June 24, 2020 12:51To: MicrosoftDocs/azure-docsCc: y0da822; CommentSubject: Re: [MicrosoftDocs/azure-docs] Step missing (#12432) The ability to present an RDS server to the

[2020-06-24 20:43] kenwith commented on #56848
#reassign:kenwith

[2020-06-24 20:44] kenwith commented on #56682
#reassign:kenwith

[2020-06-24 20:45] kenwith commented on #56589
#reassign:kenwith

[2020-06-24 20:45] kenwith commented on #55171
#reassign:kenwith

[2020-06-24 20:45] kenwith commented on #54969
#reassign:kenwith

[2020-06-24 20:45] shashishailaj commented on #57564
@kenwith could you please help update the document on this case. also I checked the document . I am not sure why but there is a note in section [Create the Gallery application](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-saml-sso-configure-api#create-the-gallery-application) [line 109](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/active-di

[2020-06-24 20:45] kenwith commented on #54391
#reassign:kenwith

[2020-06-24 20:45] kenwith commented on #54104
#reassign:kenwith

[2020-06-24 20:45] kenwith commented on #53176
#reassign:kenwith

[2020-06-24 20:45] kenwith commented on #52570
#reassign:kenwith

[2020-06-24 20:46] kenwith commented on #51174
#reassign:kenwith

[2020-06-24 20:46] kenwith commented on #50720
#reassign:kenwith

[2020-06-24 20:46] kenwith commented on #50449
#reassign:kenwith

[2020-06-24 20:46] kenwith commented on #47435
#reassign:kenwith

[2020-06-24 20:46] kenwith commented on #47121
#reassign:kenwith

[2020-06-24 20:47] kenwith commented on #56588
#reassign:kenwith

[2020-06-24 20:47] kenwith commented on #56586
#reassign:kenwith

[2020-06-24 20:47] kenwith commented on #56334
#reassign:kenwith

[2020-06-24 20:47] kenwith commented on #50772
#reassign:kenwith

[2020-06-24 20:48] isehuetdk opened #57799 "URL to Azure Storage Client Libraries 404"
URL pointing to https://msdn.microsoft.com/library/azure/dn261237.aspx pointing to Azure Storage Client Libraries is incorrect.
404 - Page not found error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46c09cf-2ce5-b822-7b07-40b809256e72
* Version Independent ID: 124a9438-9a25-e118-591e-4415373402c9
* Content: [Introd

[2020-06-24 20:49] kenwith commented on #41964
#reassign:kenwith

[2020-06-24 20:49] kenwith commented on #55972
#reassign:kenwith

[2020-06-24 20:50] kenwith commented on #56718
#reassign:kenwith

[2020-06-24 20:55] JamesTran-MSFT commented on #57794
@ermacia91
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 21:02] shashishailaj commented on #54633
@Tbohunek hope you are good. I thought to provide you an update on this that the UX team is reviewing this and doing a holistic review of the documentation as well. This may take longer to mitigate but we are on track at this point . Your recommendations is being discussed and I will further update when I have anything new here.

[2020-06-24 21:04] fswgm opened #57802 "Typo in first para."
"applications using the Active Active Directory Authentication Library (ADAL)." should say "applications using the **Azure** Active Directory Authentication Library (ADAL)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d686df6b-2d78-779b-d09c-d6c3e41e4adf
* Version Independent ID: 832e4900-0aeb-c414-be10-b93ee5c1a79d

[2020-06-24 21:06] JimacoMS3 commented on #57246
Hi @MatthijsvdVeer Thanks again for your help. I've updated the topic to reflect that neither device twin (read/update) nor direct method reads support HTTPS on the device side. I'll leave this open for a day or two for you to comment if you feel that more needs to be done.

-Jimaco

[2020-06-24 21:14] MicrosoftGuyJFlo commented on #57791
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/57752 #please-close

[2020-06-24 21:14] #57791 closed

[2020-06-24 21:20] #43045 closed

[2020-06-24 21:20] blaiseAI commented on #57619
@mrbullwinkle Yeah for sure that make sense, I hope i am doing everything right it seems to show me live metrics, and other data with the instrumentationKey added before the initializer.

[2020-06-24 21:21] MicrosoftGuyJFlo commented on #57752
@AmitavaHazra

1. and 2.
Per-user MFA is triggered at every sign in that is why you got an MFA prompt before accessing the myapps portal. Now you are getting there without because you arent accessing a page that requires additional verification. The apps you select in your Conditional Access policy will require MFA. Your myapps portal may have a mix of applications that do and dont require MFA.

A

[2020-06-24 21:24] zr-msft commented on #43057
This article no longer uses the deprecated parameter

#please-close

[2020-06-24 21:24] #43057 closed

[2020-06-24 21:26] fgheysels commented on #49956
Hi, I'm kicking this closed topic again, since I've noticed that the sample code which can be found [here](https://docs.microsoft.com/bs-cyrl-ba/azure/time-series-insights/time-series-insights-authentication-and-authorization#client-app-initialization) doesn't work.
The code gives you an access token back, but you cannot use that token to talk to TSI.  When using that token to perform a query agai

[2020-06-24 21:26] tamram commented on #56994
@dsedivec - You are right that the term "SSE" is used in more than one context.

The original usage related to encryption at rest for Azure Storage. In the Azure Storage docs, we now refer to encryption at rest as "Azure Storage encryption". However, the old term is still used in references from documentation for other services. I have started working on cleaning this up, but it may be a few weeks

[2020-06-24 21:34] Nickomang commented on #54657
@jfalameda, Closing this for now due to lack of response, feel free to reopen and provide additional context if this remains an issue.

[2020-06-24 21:34] #54657 closed

[2020-06-24 21:40] erikadoyle commented on #53085
Thanks for the suggestion. I looked into it, but found that `UseApplicationInsights` method is [not obsoleted until](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#some-visual-studio-templates-used-the-useapplicationinsights-extension-method-on-iwebhostbuilder-to-enable-application-insights-is-this-usage-still-valid) Application Insights SDK 2.8.0 and later. The version that

[2020-06-24 21:40] #53085 closed

[2020-06-24 21:40] #42540 closed

[2020-06-24 21:44] xujing-ms commented on #57082
@nberdy as FYI

[2020-06-24 21:47] zr-msft commented on #43219
Thank you for the feedback @a09-capf

The ja-jp version is now showing the parameter.

#please-close

[2020-06-24 21:47] #43219 closed

[2020-06-24 21:54] himanshusinha-msft commented on #57452
@VitalyMCT : Thanks for the ask ,we are reaching out to the internal team to get help on the ask . I will update once I hear from them .

[2020-06-24 21:55] jamesamayes opened #57803 "Document update for new experience"
Document needs to be updated to include "Leave New Experience" if you're using the new experience for MyApps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an organization as a guest user - Azure Activ

[2020-06-24 22:02] himanshusinha-msft commented on #57459
Hello @algattik
I see the document was updated 2 days and I can also see that its Apache Spark 3.0 & Delta Lake 0.7.0.
We are closing this issue now , you can always re-open the issue if you think that appropriate .

[2020-06-24 22:02] #57459 closed

[2020-06-24 22:02] zr-msft commented on #44068
Thank you for the feedback @porrascarlos802018

The feature is no longer preview.

#please-close

[2020-06-24 22:02] #44068 closed

[2020-06-24 22:11] KumudD commented on #38900
#reassign: allegradomel

[2020-06-24 22:12] mike-urnun-msft commented on #57766
@pandainlove Thank you for your feedback! We will review and update as appropriate.

[2020-06-24 22:13] mike-urnun-msft commented on #57776
@aaavang Thank you for your feedback! We will review and update as appropriate.

[2020-06-24 22:17] msmimart commented on #43328
Please see the related PR for updates to remove the conflicting/confusing info. Currently, SharePoint doesn't call the invite API to create the user object like the other apps are, but they all (Azure AD B2B and Office 365 external sharing apps) use Azure AD B2B for authentication.

[2020-06-24 22:17] favoretti commented on #57771
Thank you very much @RyanHill-MSFT!

[2020-06-24 22:18] #43328 closed

[2020-06-24 22:27] hrasheed-msft commented on #57472
Hello @aniket-ms [this page](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-component-versioning#apache-components-available-with-different-hdinsight-versions) does mention the current version of Hive. If you think that the component versioning page should document versions of more components, please reach out to Yanan Cai (alias yanacai).

[2020-06-24 22:27] JamesTran-MSFT commented on #57802
@fswgm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 22:28] dapathy commented on #53269
We're still seeing evidence suggesting responses are considered in the bandwidth quotas.  Can we confirm this behavior?  Thank you

[2020-06-24 22:29] msmimart commented on #44915
That's correct, thanks for that clarification. The [invitation redemption article](https://docs.microsoft.com/azure/active-directory/b2b/redemption-experience) has also been updated to help illustrate the different sign-in scenarios -- I'll link to it from this article. Thanks for your feedback!

[2020-06-24 22:30] JamesTran-MSFT commented on #57803
@jamesamayes
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 22:31] HeidiSteen commented on #57767
@SychevIgor  Thanks for the nudge!  I did a pass over this doc today with edits throughout, and the changes are now live.  Regarding the screenshot itself, I deleted it. There are other better screenshots in the "Adjust capacity" article.

I'm going to close this issue, but if you disagree, please feel to free to reopen it.

#please-close

[2020-06-24 22:31] #57767 closed

[2020-06-24 22:34] connor-ww opened #57806 "BlobContainerClient as blob input binding."
The acceptable parameter types for the blob input binding do not include BlobClient/BlobContainerClient.

Is this because the storage triggers and bindings do not use the Azure.Storage.Blobs package?  If so, is there a workaround and/or a plan for these to be available as bindings in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-24 22:40] JamesTran-MSFT commented on #57802
@fswgm
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-06-24 22:40] #57802 closed

[2020-06-24 22:52] #44915 closed

[2020-06-24 22:57] dargilco opened #57807 "Prediction Resource Required"
"Open your previously created Custom Commands application (Preview) and select Publish"
When I do that, I get this message window:

_"Prediction Resource Required
A prediction resource is required to perform this action. You can set a prediction resource by going to Settings → LUIS resources."_

The doc assumes I have already created one, but that's not necessarily the case. We should mention that

[2020-06-24 23:03] msmimart commented on #46620
Thanks for your patience, apologies for the delay -- SharePoint guests aren’t always B2B guests and therefore don't always authenticate through Azure AD, in which case Conditional Access wouldn't factor in. As a workaround, you can turn on the [SharePoint public preview feature to always create B2B users for sharing](https://docs.microsoft.com/sharepoint/sharepoint-azureb2b-integration-preview) so

[2020-06-24 23:06] swinner95 opened #57808 "Document supported browsers for AML studio"
I think we should document somewhere the supported browsers (Chrome, Firefox, Safari, and Microsoft Edge Preview) for AML studio based on customer feedback form OCV.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65fc2c2f-9527-2d86-89c5-05df202a8da4
* Version Independent ID: 3df85ada-9139-dfd9-bd8a-d88453d5e04f
* Conte

[2020-06-24 23:06] bandersmsft commented on #47936
@Jont-K Hi there. Sorry for long lead time on this issue. We recently added a troubleshooting article for this situation. Please check out https://docs.microsoft.com/azure/cost-management-billing/manage/troubleshoot-account-not-found.
#please-close

[2020-06-24 23:06] #47936 closed

[2020-06-24 23:07] JimacoMS3 commented on #55586
Hi @eladeyal-intel -- after further investigation, HTTPS is NOT supported on the device side. Just wanted to let you know. NOTE: The service side uses HTTPS exclusively for direct methods. I'm removing HTTPS, so only MQTT, AMPQ, MQTT-WS, and AMQP-WS are supported from the device side.

-Jimaco

-Jimaco

[2020-06-24 23:10] leaderanalytics opened #57809 "Subscription options are not not shown"
Documentation shows subscription and resource group dropdowns that allows the directory to be associated with a subscription.

Those dropdowns do not appear in practice.

I had to guess how to go back and link it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent

[2020-06-24 23:18] JamesTran-MSFT commented on #57809
@leaderanalytics
Thanks for your feedback!

Did you have a specific ask regarding this article? Or any updates/suggestions?

[2020-06-24 23:19] JamesTran-MSFT commented on #57777
@ugeeku
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-24 23:22] fbinotto opened #57810 "Outdated statement"
I don't believe the following statement is true:

- Hunting queries do not support cross-workspace queries

As you can see below I'm running a hunting query cross-workspaces.

![image](https://user-images.githubusercontent.com/17077662/85636944-34de0700-b6c5-11ea-9d6e-78fedfd8d367.png)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-06-24 23:27] CharmanderJieniJieni opened #57811 "Azure Devops IP 10.1.0.4"
We enabled firewall settings for Storage account to allow public IP CIDR for Azure Devops to access it. However during testing we periodically see 403 error, after digging into storage account log we found that somehow the traffic from Devops agent to storage account changed to 10.1.0.4 which is an unknown internal IP address and therefore could not pass firewall rule set on the storage account, w

[2020-06-24 23:29] dargilco opened #57812 "VS 2019 or higher"
"You'll also need:
Visual Studio 2019"

What happens when VS 2020 comes out? will it not work with VS 2020? What I've seen done is say "VS 2019 or higher" in the requirements. Then in the text you can say at the beginning that the text and screen shots assume VS 2019, so folks know it will work with higher versions, but there may be some changes in VS that may mean the instructions are not complet

[2020-06-24 23:31] Karishma-Tiwari-MSFT commented on #57778
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-24 23:31] Karishma-Tiwari-MSFT commented on #57792
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-24 23:32] Karishma-Tiwari-MSFT commented on #57762
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-06-24 23:38] amirgra commented on #57762
I thought I opened an issue in the doc page. Anyway this is the link:
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows

On Thu, Jun 25, 2020, 02:33 Karishma Tiwari - MSFT <notifications@github.com>
wrote:

[2020-06-24 23:38] reinux commented on #57518
I've tried setting up two new tests, one in the US and one in Canada. Both seem to work fine and show Quickstart now.

1. Creating a new AAD tenant:
![image](https://user-images.githubusercontent.com/5127297/85637181-5abcca80-b637-11ea-9574-f15ae65c4471.png)

2. Registering an app:
![image](https://user-images.githubusercontent.com/5127297/85637360-d28af500-b637-11ea-94e8-2f48940d3985.png)

Howeve

[2020-06-24 23:38] MartinJaffer-MSFT commented on #57761
Azure Functions has a 2 minute 30 second timeout.  This should preclude the need for additional timeouts.  I will ask internally for confirmation.

[2020-06-24 23:40] TravisCragg-MSFT commented on #57681
@colindonohue it looks like we do not have a doc outlining this process. As you cannot use VPN Gateways, you will have to use an NVA acting as a VPN in order to connect with your on-prem environment.

To enhance our docs with instructions on how to do this, I am assigning this issue to the doc author to evaluate and update as appropriate.

[2020-06-24 23:43] dargilco opened #57813 "Speech SDK has ARM support for Windows"
" Note: The Speech SDK only supports Intel-compatible processors. ARM processors are currently not supported."

This needs to be updated. There is Windows ARM support, but for x64 only per this page:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-sdk?tabs=windows%2Cubuntu%2Cios-xcode%2Cmac-xcode%2Candroid-studio

---
#### Document Details

⚠ *Do not edit this secti

[2020-06-25 00:02] TravisCragg-MSFT commented on #57742
@rajeshshanker There is a recent change for VM SKUs and the marketplace that affects this tutorial. go to 'Windows Server' in the marketplace, and then select the version you would like. do not select any image that has '(zh-cn)' at the end, as those default to the chinese language. The rest should default to english.

Thanks for the feedback! I have assigned the issue to the content author to eva

[2020-06-25 00:09] dargilco opened #57814 ""Note: only 'westus2' is currently supported" - code comment needs to be updated"
const string region = "YourServiceRegion"; // The subscription service region. Note: only 'westus2' is currently supported

Works for me with westus, so clearly the above comment needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f393f1-a0c4-2bd2-3c54-659a72c5a5c5
* Version Independent ID: 9f0d9b2d-f

[2020-06-25 00:10] jennyf19 commented on #53783
@lorne-olo Thanks for the feedback and apologies for the difficulties in finding the solution. It is not very well documented. will work on getting this fixed. thanks

[2020-06-25 00:12] TravisCragg-MSFT commented on #57782
@iampeterdaniels Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-25 00:13] Mike-Ubezzi-MSFT commented on #57531
@saikumaru Are you using version 3.2 or version 3.6 of the MongoDB API? What is the URI for your MongoDB API instance? If this is urgent, I highly suggest that an Azure support request be [created](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). I can walk through this to identify what the document needs or identify a product issue. One item

[2020-06-25 00:17] mike-urnun-msft commented on #57435
Thanks, @axisc!

@thisissubbuster I hope the answer above provides clarity and direction. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-25 00:17] #57435 closed

[2020-06-25 00:18] dcbrown16 opened #57816 "RHEL 6?"
What's the status of RHEL 6?
@asinn826 removed it from the doc in April but it returned in the latest updates from @TobyTu. Was the content reverted by accident?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f897-0d81-98b8-1c28-af1528f1e135
* Content:

[2020-06-25 00:18] mike-urnun-msft commented on #57537
@Marusyk Since we didn't determine any doc changes upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-25 00:18] #57537 closed

[2020-06-25 00:22] BharathNimmala-MSFT commented on #57793
@AnimeshBarua Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs/issues) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-25 00:27] BharathNimmala-MSFT commented on #57775
@darkantoine Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-25 00:32] TravisCragg-MSFT commented on #57764
@arsnyder16 I would redirect anything that does not have specified extensions to your index page. For Example, if your page serves images and word documents, you can say If extension Does not equal .jpg & .docx, redirect to index.

If you would like us to add a way to test out the rules before you create them, please [leave your feedback here at Azure Networking's feedback.azure.com page](https://

[2020-06-25 00:43] VitalyMCT opened #57817 "Storage account key"
This tutorial has steps to get the storage account key and says that the key is used later on. It is not. Thus the corresponding steps can be simplified out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eeeaf10-1280-fb39-7365-bd626d719d72
* Version Independent ID: 66d4d86f-bc64-6f24-a55f-1f68c801d98e
* Content: [Cop

[2020-06-25 00:44] BharathNimmala-MSFT commented on #57772
@yang-jiayi Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-25 00:47] BharathNimmala-MSFT commented on #57810
@fbinotto Thank you for bringing this to our notice, our team will further look into it and get back to you at the earliest.

[2020-06-25 00:48] arsnyder16 commented on #57764
@TravisCragg-MSFT Can you give me more information on why these two conditions do not work?  Its not a simple as a couple extensions that i need to exclude. Its a living website that changes constantly, my initial approach is much more maintainable. Would you agree?

I have also tried.
`Request Path does no contain .` no luck.
`Request file name not any` no luck.

[2020-06-25 00:50] BharathNimmala-MSFT commented on #57785
@ezYakaEagle442 Thank you for your query , i have assigned this issue to our document author @mlearned to further look into and share any insights they might have.

[2020-06-25 00:52] BharathNimmala-MSFT commented on #57787
@ezYakaEagle442  Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-06-25 00:55] BharathNimmala-MSFT commented on #57773
@HughDevlin  Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-25 01:06] lerlacher-haylix opened #57818 "Auto-Heal documentation is outdated."
The authoritative documentation for Proactive Auto-Heal is a blog post from August 2017 (https://azure.github.io/AppService/2017/08/17/Introducing-Proactive-Auto-Heal.html linked from the Diagnostics documentation page).

We have observed Proactive Auto-Heal behavior that does not fit what is described in the blog post, and when engaging Azure support they are not able to offer any further informa

[2020-06-25 01:34] ericthomas1 opened #57819 "Confused about Security Center Logs"
I'm trying to trigger a Logic App based on Advanced Threat Protection scans of my blob containers. I cannot for the life of me locate **WHERE these logs are written to**.

This is beginning to get frustrating.

Where are ATP logs stored and how can I programmatically access them to take action.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-25 01:38] ericthomas1 opened #57820 "Where are non-compute Security Center logs stored?"
Under the [Security heading](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform-logs#security) a link
to Azure Security Center data sources states that only Compute resources are logged.

What about non-compute resources such as Blob Storage? Where are the [ATP malware scan logs stored](https://docs.microsoft.com/en-us/azure/storage/common/storage-advanced-threat-protectio

[2020-06-25 01:41] sadika9 opened #57821 ""idtyp" claim not supported"
idtyp optional claim is not available in "Token configuration" section.
Tried to add it manually by modifying the manifest then it shows in "Token configuration" page as unsupported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version Independent ID: 0d657318-8058-a76a-c219-393

[2020-06-25 01:49] yegu-ms commented on #48448
@HQJaTu thanks for your feedback! Currently the Redis software is hosted on Windows Server 2012 and that limits what cipher suites are available. We had migrated to Windows Server 2016 but had to roll back because 2016 had higher memory requirement and didn't work well with the smaller VM's for the smaller caches. We plan to go to Windows Server 2019 if that improves the memory usage.

#please-clo

[2020-06-25 01:49] #48448 closed

[2020-06-25 01:57] sivasenthil-kumaraguru opened #57822 "Incorrect sentences"
# Current content

# Proposed correction

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8922bebc-812d-f440-d4d9-4f8db1fbcffb
* Version Independent ID: f331a491-187f-e803-3cc2-93e2160eb9f9
* Content: [Manage assets in Azure Media Services - Azure Media Services](https://docs.microsoft.com/en-us/azure/media-services/late

[2020-06-25 02:01] AliRafiee opened #57823 "Error in deployment command."
The deployment command on this page is:
az deployment group create \
  --name blanktemplate \
  --resource-group myResourceGroup \
  --template-file $templateFile

it should be
az group deployment create \
  --name blanktemplate \
  --resource-group myResourceGroup \
  --template-file $templateFile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-25 02:02] dcbrown16 opened #57824 "Title is cutoff"
The title of this article in the navigation bar is cut off ("Create images without an").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b989b0a6-e432-7dfe-bca7-5d869af7283d
* Version Independent ID: 00c600c7-580a-569c-7871-f7947ad8d461
* Content: [Create Linux images without a provisioning agent - Azure Linux Virtual M

[2020-06-25 02:16] AliRafiee commented on #57823
Ignore that. I realized I wasn't running the latest CLI. I updated and the command from the webpage works.

[2020-06-25 02:16] #57823 closed

[2020-06-25 02:22] lucaslccs opened #57826 "AKS + Managed Identity + exiting Virtual Network = assignment vNET"
After deploy the AKS with Managed Identity and exiting Virtual Network, is required to assign permission to Managed Identity Control plane on Virtual Network to be able to expose Kubernetes Services Load Balancer type.

# Declare the VARs
$ OBJECTID=<Object ID from the Enterprise Application AKS Cluster named>
$ VNETID=<Virtual Network resource ID>

# Assign Managed Identity permission to VNET
$ a

[2020-06-25 02:52] lucaslccs commented on #51917
Maybe you can use the bellow to get the Object ID from the Control Plane Managed Identity, required for ex. to assign permission on existing Virtual Network after deployment, to Cluster be able to expose Kubernetes Services with LoadBalancer type:

az ad sp list --display-name <AKS cluster name>

az role assignment create --assignee $OBJECTID --role 'Contributor' --scope $VNETID

[2020-06-25 03:13] MonikaReddy-MSFT commented on #57378
@mrbullwinkle  - Thank you for providing your insights.
@ishepherd - I hope @mrbullwinkle  has answered your question.  At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.  Meanwhile, @DaleKoetke or @vgo

[2020-06-25 03:13] #57378 closed

[2020-06-25 03:14] JFolberth commented on #57383
@mumian PR has been completed

[2020-06-25 03:15] scunge6006 opened #57827 "Setting event hub policy"
It is no longer possible to set an event hub policy other than "RootManageSharedAccessKey" which is set as a default. This is a security risk as it effectively provides admin rights on the namespace and event hub. Can you please fix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca576e1-fafa-3a02-6d29-394f342bc737
*

[2020-06-25 03:42] VikasPullagura-MSFT commented on #57798
@thomas-hahn-kr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-25 03:44] mumian commented on #57383
@JFolberth - Thanks for the reminder.  I was waiting for the quickstart template to be updated on https://azure.microsoft.com/resources/templates/?resourceType=Microsoft.Sql.  I will update the article ASAP.

[2020-06-25 03:45] AnimeshBarua commented on #57793
Thank You Bharath for updates. Here is the documentation link I am referring to:
- https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial
- https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/workday-attribute-reference

I hope this helps. if you need any further information please do let me know.

--Animesh

[2020-06-25 03:47] NavtejSaini-MSFT commented on #57668
@cg6 We have got further insight into your query. Here is what we have:

CPU and memory usage can be uncorrelated. So low CPU usage (below the minimum vcore allocation) can sometimes result in high memory usage (above the minimum memory allocation); e.g., table scans.  In this case, memory such as buffer pool pages may be in active use and so memory reclamation will not be triggered.  The time sca

[2020-06-25 04:01] santhoshb-msft opened #57828 "Azure portal RBAC tool tip typo"
The tooltip in Azure portal for adding a Contributer RBAC to a user on a subscription is having a typo.
It should say "..except granting access.." (https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#all)
It says "..except access.."
Please below image

![rbac typo](https://user-images.githubusercontent.com/63607175/85651735-b306c300-b65d-11ea-94c3-4c9e12fe9e35.png)

---

[2020-06-25 04:03] AmitavaHazra commented on #57752
@MicrosoftGuyJFlo ,

Thanks for clarification. Now it is clear.
Just one more point.

Let's say I have authentication method registered as per user MFA. Now we have enabled combined registration and conditional access policy.

Yes we can use same authentication method.
 But if we don't disable per user MFA then we can't experience CAP based MFA since per user MFA will ask for MFA while sign in mya

[2020-06-25 04:09] BharathNimmala-MSFT commented on #57793
@AnimeshBarua Thank you for sharing the document links. I have assigned this issue to our team mate who is SME in this area, they will further work with you on this issue.

[2020-06-25 04:29] langfdp opened #57829 "Event table on demo site (https://portal.loganalytics.io/demo) has no data"
Directs users to a 'demo' environment via link to https://portal.loganalytics.io/demo

Subsequent Kusto query examples instruct users to query against the Event table with examples of:
Event
| search "error"

And

search in (Event) "error"

But the Event table contains no data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-25 04:32] langfdp commented on #57829
Microsoft documentation found at this URL:
https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-portal

Directs users to a 'demo' environment via link to https://portal.loganalytics.io/demo

Subsequent Kusto query examples instruct users to query against the Event table with examples of:
Event
| search "error"

And

search in (Event) "error"

But the Event table contains no d

[2020-06-25 04:37] bignorm64 opened #57830 "Date formatting details for MDY dates missing"
The documentation includes a note about the valid formats for DMY specified dates but says nothing about valid MDY formats.

Specifically a value of '1 JAN 2020' fails for MDY when I would have expected it to work for either format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* V

[2020-06-25 04:45] ram-msft commented on #57814
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-25 04:46] ram-msft commented on #57813
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-25 04:48] ram-msft commented on #57808
@swinner95 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-25 04:52] ram-msft commented on #57812
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-25 04:54] ram-msft commented on #57807
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-25 04:54] RyanHill-MSFT commented on #49835
Related to MicrosoftDocs/azure-docs#57773

[2020-06-25 04:55] pnarsi opened #57831 "Metastore, artifact Blob storage, log Blob storage, DBFS root Blob storage, and Event Hub endpoint IPs can change over time."
The warning box on this page warns that the IP addresses of five of the services that we need to add to the Routing Table with a next hop of "Internet" can change over time.

How frequently will these IP addresses change? In theory can they change several times within the same day or are we talking about infrequent changes to the IP Addresses potentially once every few months?

Furthermore the Dat

[2020-06-25 04:57] davidscott851 opened #57832 "PST files to MBOX files"
Convert your PST to MBOX by using this [PST to MBOX Converter](https://www.mannatsoftware.com/stellar-outlook-pst-to-mbox-converter-win.html) tool, This tool easily Export & Convert PST file to MBOX file with all data files like: Emails, Contacts, Calendar, Tasks, and Journals etc.

You get Smoothly Restore & Convert PST to MBOX and migrate all your offline mailboxes, contacts, calendar etc from O

[2020-06-25 04:59] davidscott851 opened #57833 "PST to MBOX Converter Software For MAC"
You can try this [PST to MBOX](https://www.mannatsoftware.com/stellar-pst-to-mbox-converter-for-mac.html
![pst-to-mbox](https://user-images.githubusercontent.com/61539332/85656724-b71ef900-b6ce-11ea-9652-de7e6d96e1a0.png)
) Converter tool if you want to Migrate Outlook PST file to MBOX file format. This tool also maintains Meta properties such as (to, cc, bcc, subject, from & attachment) etc. You

[2020-06-25 05:02] SnehaAgrawal-MSFT commented on #57818
@lerlacher-haylix Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-25 05:02] SnehaAgrawal-MSFT commented on #57822
@sivasenthil-kumaraguru Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-25 05:18] mike-urnun-msft commented on #57503
@RonnieQuan I hope the reply above is helpful.

Since we didn't determine any changes for this documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-25 05:18] #57503 closed

[2020-06-25 05:20] DaveSlinn opened #57834 "Do I not need to set the A record of my custom domain DNS record to an IP address? How do I get that for a Static Web App?"
There is no mention on this page for setting the value for my A record on my custom DNS to the IP address of my static web app, and the Azure Portal blade for my SWA does not tell me what the IP address is, unlike an Azure App Service which shows an IP address on the custom domain settings.

Did I overlook something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-06-25 05:25] nageswar255 commented on #21106
below command is not working for me, please help on it
this is the error: Error: unknown flag: --name

helm install /opt/istio-1.0.4/install/kubernetes/helm/istio --name istio --namespace istio-system --set servicegraph.enabled=true --set servicegraph.enable=true --set tracing.enabled=true --set grafana.enabled=true --set kiali.enabled=true --set prometheus.enabled=true --set gateways.istio-ingres

[2020-06-25 05:26] AjayKumar-MSFT commented on #57832
This channel is reserved for ‘Azure docs’ feedback; for receiving documentation feedback and driving content improvement.

I’d recommend taking a look at GitHub’s Terms of Service, specifically the section on [advertising](https://help.github.com/en/github/site-policy/github-acceptable-use-policies#8-advertising-on-github).

[2020-06-25 05:26] #57832 closed

[2020-06-25 05:27] nageswar255 commented on #21106
it's not working for me. please help on it
Error: unknown flag: --name

[2020-06-25 05:28] nageswar255 commented on #21106
below command is not working for me, please help on it
this is the error: Error: unknown flag: --name

helm install /opt/istio-1.0.4/install/kubernetes/helm/istio --name istio --namespace istio-system --set servicegraph.enabled=true --set servicegraph.enable=true --set tracing.enabled=true --set grafana.enabled=true --set kiali.enabled=true --set prometheus.enabled=true --set gateways.istio-ingres

[2020-06-25 05:28] AjayKumar-MSFT commented on #57833
This channel is reserved for ‘Azure docs’ feedback; for receiving documentation feedback and driving content improvement.

I’d recommend taking a look at GitHub’s Terms of Service, specifically the section on [advertising](https://help.github.com/en/github/site-policy/github-acceptable-use-policies#8-advertising-on-github).

[2020-06-25 05:28] #57833 closed

[2020-06-25 05:32] SumanthMarigowda-MSFT commented on #57811
@CharmanderJieniJieni Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-25 05:33] VikasPullagura-MSFT commented on #57798
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-06-25 05:33] SumanthMarigowda-MSFT commented on #57799
@isehuetdk Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-25 05:34] lipalath-ms opened #57835 "Calling MS Graph API from Azure Data Factory Pipeline"
Is it possible to use ADF pipeline to call MS Graph API (get AAD object Id of users) by passing a set of Personnel Numbers from a Source (eg: Azure Table Storage)? Please provide an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec9b8b8-5003-1234-48f9-a257b82865b7
* Version Independent ID: 5fa3334a-4a32-e318-

[2020-06-25 05:34] VikasPullagura-MSFT commented on #57816
@dcbrown16
Thanks for the feedback! I am checking with the team on this and will get back on this.

[2020-06-25 05:36] ChiragMishra-MSFT commented on #57629
@mamccrea Can you please take a look at this request?

[2020-06-25 05:39] ChiragMishra-MSFT commented on #57720
@mamccrea Can you please take a look at this enhancement request?

[2020-06-25 05:40] ChiragMishra-MSFT commented on #57721
@mamccrea Can you please take a look at this ?

[2020-06-25 05:40] VikasPullagura-MSFT commented on #57824
@dcbrown16
Thanks for pointing this out.
I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-25 05:41] VikasPullagura-MSFT commented on #57824
@danielsollondon
Can you please check and update the document.

![image](https://user-images.githubusercontent.com/48944027/85661654-98bbfc00-b6d4-11ea-8690-2bd5647fe240.png)

[2020-06-25 05:45] ChiragMishra-MSFT commented on #57729
@normesta

[2020-06-25 05:48] Aravinda766 opened #57836 "Some Questions about getting tokens and scopes"
The following URL for end points did not work entirely:
https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/{policy}/oauth2/v2.0/authorize
https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/{policy}/oauth2/v2.0/token

Following are the URLs which worked
https://login.microsoftonline.com/tfp/{TenantId}/{Policy}/oauth2/v2.0/authorize
https://login.microsoftonline.com/tfp/{TenantId}/{Policy}/o

[2020-06-25 05:55] dcurwin commented on #57765
#reassign:msshradhabarpute

[2020-06-25 06:09] adymorbiran opened #57838 "Adding partner to Azure Monitor Integration partners page"
Hello

I would like to discuss adding another partner (IP Cosell Prioritzed partner: Logz.IO) to the Azure Monitor Integration Partners page in the documentations.
Who can I reach out to?

Thanks,
Ady Mor-Biran
admorbir@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e01285d4-ff70-7a25-cde9-2344297c677e
*

[2020-06-25 06:12] HQJaTu commented on #48448
Do I need to tell you this is completely unacceptable or can you figure it out by yourselves? :-(

[2020-06-25 06:16] nageswar255 opened #57839 "internal load balancer for ingress Istio gateway"
below command is not working for me, please help on it
this is the error: Error: unknown flag: --name

helm install /opt/istio-1.0.4/install/kubernetes/helm/istio --name istio --namespace istio-system --set servicegraph.enabled=true --set servicegraph.enable=true --set tracing.enabled=true --set grafana.enabled=true --set kiali.enabled=true --set prometheus.enabled=true --set gateways.istio-ingres

[2020-06-25 06:18] jaydarius opened #57840 "Custom hostnames- F1: Free"
I followed all steps on this page.  However, I hit a 404:
![image](https://user-images.githubusercontent.com/31786606/85666047-9c726300-b681-11ea-8ce1-de7913d74cc0.png)

I checked the "Custom domains" blade and noticed a prompt that I need to upgrade the plan to assign custom hostnames.  Can you confirm that this is or isn't the cause of the 404?

---
#### Document Details

⚠ *Do not edit this sec

[2020-06-25 06:23] msshradhabarpute commented on #57765
First I want to present this reason for this role and then announce that we do have a plan to remove it 😊.

The reason for this role was to get few verification and validation information regarding backups and that information was only accessible via this role. We heard the concern about this role earlier and even talked about SAP HANA team about this. They agreed that the information that we are

[2020-06-25 06:45] SadiqhAhmed-MSFT commented on #57828
@santhoshb-msft Thanks for the feedback. We are looking into this and will get back to you shortly.

@rolyon FYI.

[2020-06-25 06:53] saikumaru commented on #57531
Thank you for your response.

The version is 3.6.
URI is https://xyz.mongo.cosmos.azure.com:443/

[2020-06-25 06:53] ealkalai opened #57841 "Wrong group id"
In section `Create the Private Endpoint` it provides a group-id of **mysqlServer**. It should be **postgresqlServer**.
Also provide some more information on what the group-id is about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba229540-9878-d93e-7004-9a1c48200928
* Version Independent ID: 4a5ec508-7e42-6483-a488-6

[2020-06-25 06:58] ealkalai opened #57842 "Improve configuration of Private DNS zone"
In section `Configure the Private DNS Zone` it has a manual step of getting the private ip address assigned to the PostgreSQL.
The purpose of using the CLI is to automate this process in a scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba229540-9878-d93e-7004-9a1c48200928
* Version Independent ID: 4a5ec508-7e4

[2020-06-25 07:06] fgheysels commented on #56350
I've closed this issue since I thought it was referring to the wrong page; I had created a new one [here](https://github.com/MicrosoftDocs/azure-docs/issues/56351)

[2020-06-25 07:09] kummanish commented on #57841
Thanks for pointing this. We have merged the patch and it will be available by tomorrow.

[2020-06-25 07:09] kummanish commented on #57841
#please-close

[2020-06-25 07:09] #57841 closed

[2020-06-25 07:14] shashishailaj commented on #57795
@VitalyMCT Thank you for your feedback . We will investigate and update the thread.

[2020-06-25 07:15] RohitMungi-MSFT commented on #57553
@AmitavaHazra We hope the above suggestion helped you proceed further. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-06-25 07:15] #57553 closed

[2020-06-25 07:17] shashishailaj commented on #57795
@VitalyMCT Thank you for your feedback . We will investigate and update the thread.

[2020-06-25 07:18] shashishailaj commented on #57796
@VitalyMCT Thank you for your feedback . We will have this reviewed with the content authors and update the thread.

[2020-06-25 07:19] shashishailaj commented on #57796
@linda33wj Could you please review this document and provide guidance on this issue ?

[2020-06-25 07:20] shashishailaj commented on #57836
@Aravinda766 Thank you for your feedback . We will investigate and update the thread further.

[2020-06-25 07:26] str1ke-cw commented on #57689
@SatishBoddu-MSFT  I am using Ubuntu Server 18.04 on ARM64. It is listed in Tier 1 as _public preview_. Ubuntu 18.04 ARM64 (I presume that ist Ubuntu 18.04 Desktop ?) is also listed under Tier 2 as compatible.

[2020-06-25 07:27] hisasima opened #57843 "What is average throughput at 60% ?"
I found below sentence and I understood about CPU. I think average throughput at 60% is wrong.

How long does it take for Azure Firewall to scale out?
Azure Firewall gradually scales when average throughput or CPU consumption is at 60%.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15

[2020-06-25 07:32] hatasaki commented on #56057
Thank you for the answer!
In addition, I also got error for installing Istio version 1.5.4 with '--set installPackagePath=./install/kubernetes/operator/charts', and it worked fine when I removed it.
Could you update the document by adding instructions for these fixed version (later than 1.4.1.. etc.) of the problem above?

[2020-06-25 07:41] shashishailaj commented on #57819
@ericthomas1 We are sorry for this inconvenience. We will try to find this and update this thread as soon as we have more information on this.

[2020-06-25 07:42] KrishnaG-MSFT commented on #57827
@scunge6006 Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-25 07:48] KrishnaG-MSFT commented on #57838
@adymorbiran Thanks for reaching out! I will start an email conversation with Azure Monitor Product Group team and will loop you in the email. We can take it from there and discuss on your feedback / requirement.

[2020-06-25 07:59] shashishailaj commented on #57840
@jaydarius Thank you for your query. We will investigate and update the thread.

[2020-06-25 08:00] SnehaAgrawal-MSFT commented on #57549
@chanmmn Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review on this.

[2020-06-25 08:03] nilsga commented on #57654
But does this mean that we can have a single UDR to the IP of the APIM instance, or do we need to route to Internet and use NSG with service tag API Management?

Right, so the self hosted gateway does need a route to Internet then, if we need these services. I was hoping everything was managed through the single IP of the APIM instance. That would make it pretty easy to define a route table that a

[2020-06-25 08:05] Nimleth commented on #53009
Hi,

for anybody out there who also has data leakage concerns with Private Endpoints that can span tenants, a Microsoft Networking Specialist, Adam Stuart, actually made a solution based on policies. We still need to test this but it looks like precisely the solution I was looking for: [https://github.com/adstuart/azure-privatelink-policy](https://github.com/adstuart/azure-privatelink-policy).

Wo

[2020-06-25 08:05] #53009 closed

[2020-06-25 08:07] #57633 closed

[2020-06-25 08:09] shashishailaj commented on #57835
@xyz92 Thank you for your feedback . We will have this checked and see how best the documentation can be improved related to the act if Graph API can be called from ADF pipeline.

[2020-06-25 08:09] VikasPullagura-MSFT commented on #56990
@StingyJack Any update on this. Can you please share the requested details.

[2020-06-25 08:09] shashishailaj commented on #57835
@linda33wj Could you please review this request and help the customer with this query.

[2020-06-25 08:16] shashishailaj commented on #57839
@nageswar255 Thank you for your feedback .  We will investigate and update the thread.

[2020-06-25 08:21] shashishailaj commented on #57817
@VitalyMCT Thank you for pointing this out . we will investigate and update the thread.

[2020-06-25 08:21] Dustefan commented on #57749
Hello @JamesTran-MSFT . The wording should be also taken care of. The message is not really informing you of which backup this is referring to, clients thinking it might refer to the backup of the whole phone, thus choosing to cancel the action.

[2020-06-25 08:23] shashishailaj commented on #57806
@connor-ww Thank you for your query. We will investigate and update the thread .

[2020-06-25 08:26] akingscote opened #57844 "Minor Update to example"
Please refine example of the nginx yaml config.
In the documentation, you are tagging an nginx image, so that information should be present in the yaml example provided.

Im talking about the following line:
[code]

Something like this would be better:
[code]

In my example, i am trying to use a private AKS cluster with a ACR and i'm getting image pull errors. it looks like its permission related,

[2020-06-25 08:27] aramesh-msft commented on #57764
@arsnyder16 Actually what might be happening is per design, when you say you suffix the path with index.html the link forwarded might actually become www.mydomain.com/index.html/test. We keep the unmatched paths to append to the final URL. On a side note, you can verify if your rule worked or not by looking at the logs "RulesEngineMatchNames" by configuring using steps here - https://docs.microsof

[2020-06-25 08:28] AdamSharif-MSFT opened #57845 "ASR & VMSS clusters"
Hi all,

I see this section here referring to backup options:

"Best practice guidance - Back up your data using an appropriate tool for your storage type, such as Velero or **Azure Site Recovery**. Verify the integrity, and security, of those backups."

However, from what I am reading, ASR is not supported for VMSS and does not have AKS/Kubernetes integration, can this be clarified please:
https:

[2020-06-25 08:31] jarekkoziol opened #57846 "AD B2C Custom Policy with application insights"
I had problems with setting up application insights to troubleshoot custom policies.  At beggining it wasn't working - I mean that nothing was written to App Insights. I figured out that:
1) When I'm using application insights located in e.g. "East US" , it is working fine. Custom Policy is pushing logs to app insights.
2) When I'm using application insights located in "Germany West Central", ther

[2020-06-25 08:34] #57225 closed

[2020-06-25 08:35] VikasPullagura-MSFT commented on #57845
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and add comments.

[2020-06-25 08:40] yelevin commented on #55600
@DaveVernon  Thanks for your question.
They mean "Yes" and "No" - there is a data connector in Sentinel or there isn't. I am changing them to checks and crossmarks to make it clearer.
Does that answer your question?

[2020-06-25 08:45] vipulsparsh commented on #57279
@BakkerJan Seems when an administrator pre-populates the phone number, it does not proceed with asking for registration for the secondary authentication method unless you actually try to a password reset where the service detects that you only have one method configured and need the other.
As a next step you suggest a feedback about this [here ](https://feedback.azure.com/forums/169401-azure-activ

[2020-06-25 08:47] yelevin commented on #54536
@jdelforno Thanks for your feedback.
I'm not sure I understand your question. Sentinel workspaces _are_ Log Analytics workspaces. The Sentinel service is built on the Log Analytics platform. Could you be more specific in your question? Or let me know if I've answered it?

Thanks,

Yechiel

[2020-06-25 08:51] squasta opened #57847 "Missing a command to register ContainerService Provider"
Usually, it's mandatory to register one more time the provider after a new preview feature is registered.

in that case : az provider register --namespace Microsoft.ContainerService

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8092825b-b867-d947-9842-f44eba91db00
* Version Independent ID: 5b9b865c-0d51-9955-564c-1c89

[2020-06-25 08:51] mmoioli opened #57848 "Bug in the Powershell command"
I followed the procedure described without any change.
I used Azure Cloud Shell (through the "Try It" button)

Everything is working except this piece of code:
$myRoleImageCreationUrl = 'https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/solutions/12_Creating_AIB_Security_Roles/aibRoleImageCreation.json'
$myRoleImageCreationPath = "$env:TEMP\myRoleImageCreation.json"

Invoke

[2020-06-25 08:55] BakkerJan commented on #57279
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40749094-prompt-for-secondary-authentication-method-when-ph

[2020-06-25 08:56] TomGeske commented on #51917
you could use something like this to get the mi object id:

`az aks show -g myResourceGroup -n MyManagedCluster  --query "identity"`

returns something like:

[code]

`az ad sp show --id <idenity_id>`

[2020-06-25 08:56] KrishnaG-MSFT commented on #57440
@MagicBulletDave At this point it appears that there's no edits or updates needed for the documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-06-25 08:56] #57440 closed

[2020-06-25 09:10] ram-msft commented on #57736
@chcurlet-msft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-25 09:10] #57736 closed

[2020-06-25 09:10] KrishnaG-MSFT commented on #57562
@Expecho Verified and updated the document as required. The changes will go live in sometime (i.e., in less than 24 hours). Thanks.

[2020-06-25 09:10] #57562 closed

[2020-06-25 09:12] alirezacads opened #57849 "The link does not exist"
From the document:

This link does not exist in my account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65d2b8ea-9a87-1ebf-173c-d7fbd9fd5f47
* Version Independent ID: 0c41c52b-58bf-dee3-a913-9e237cc02709
* Content: [Configure Microsoft authentication - Azure App Service](https://docs.microsoft.com/en-us/azure/app-se

[2020-06-25 09:16] yelevin commented on #56803
@epinto Thanks for your feedback!
They mean "Yes" and "No" - there is a data connector in Sentinel or there isn't. I am changing them to checks and crossmarks to make it clearer.
Does that answer your question?

[2020-06-25 09:23] VikasPullagura-MSFT commented on #57826
@lucaslccs
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-25 09:26] VikasPullagura-MSFT commented on #57847
@squasta
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-25 09:43] ishepherd commented on #57378
@MonikaReddy-MSFT @mrbullwinkle thanks for the help so far, I still need the confirmation though

(if the metrics might not be kept, then I need a different storage for them)

[2020-06-25 09:48] vipulsparsh commented on #57819
@ericthomas1 Security Center uses the Log Analytics agent to collect and store data. Log analytics stores all the data in workspaces.  It can be the default workspace created by Security center or any exiting one which you might have linked with security center.

To find which workspace are you using for security center. Go to :

1) Login to Azure portal.
2) Go to security center dashboard.
3) Sel

[2020-06-25 10:19] vpohl commented on #57579
Update: The procedure described in post above works. It takes several hours for the rules to take effect. But still, the documentation is outdated and it is not clear to me which characters do and which do not need to be escaped in the regex.

Furthermore, is it possible to interact with RulesEngine via the azure-cli or an API?

[2020-06-25 10:20] VikasPullagura-MSFT commented on #56974
@mikal768 Apologies in delayed response.

I reached out to internal team for checking on this, this issue is related to portal framework change (not WVD specific) and this was fixed.
Request you to retry and see if you are still hitting the issue.

Incase you are still seeing the issue, then we would recommend to open a support case to get this checked.

[2020-06-25 10:21] VikasPullagura-MSFT commented on #57848
@mmoioli
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-25 10:35] SnehaAgrawal-MSFT commented on #57434
@joker-vn just checking if you have chance to see previous response on this.

[2020-06-25 10:46] mlearned commented on #57826
@jluk

[2020-06-25 10:47] mlearned commented on #57826
@TomGeske

[2020-06-25 11:08] amanmcse commented on #57740
@rick-hayek Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-06-25 11:08] #57740 closed

[2020-06-25 11:09] ayngling commented on #34451
I am having the same issue, with a rust app in a container, specifying both PORT and WEBSITES_PORT gives me a random port every startup.

@wbsmolen How did your compose file look? And did you add it to any commands, etc? I would really appreciate any help, I really need this working.

[2020-06-25 11:20] amanmcse commented on #57836
@Aravinda766  login.microsoftonline.com was used earlier in Azure AD B2C, which is going to be deprecated. The support for login.microsoftonline.com in Azure AD B2C is scheduled for retirement on 04 December 2020. So, you should use {tenant}.b2clogin.com for new implementations and migrate existing implementations to {tenant}.b2clogin.com.
Refer to https://docs.microsoft.com/en-us/azure/active-dir

[2020-06-25 11:33] przemolb opened #57852 "Missing content about permissions required to configure/create each option"
This is very nice document clarifying and listing available authentication methods and recommended scenarios for possible ACR authentication options.
However I miss access control (IAM) content which would explain if you need to be an owner or contributor to ACR or subscription. That would quickly filter out methods which are and which are not available for person with particular access restrictio

[2020-06-25 11:35] SvenSowa opened #57853 "Mark services as GA or "Preview""
According to this page https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint App Service private links are in preview. It is not mentioned on your page. I think it would be nice to have the info on the general page. Otherwise one might get errors like this in Powershell:
New-AzPrivateEndpoint : Operation returned an invalid status code 'BadRequest'
StatusCode: 400
ReasonPh

[2020-06-25 11:36] vdeschwb opened #57854 "Ingress Controller Configuration Incomplete"
At the time of writing, it is necessary to add `controller.scope.enabled=true` to the configuration of the ingress controller in order for the provided example to work correctly with namespaces.

This means, the installation command for nginx-ingress should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7

[2020-06-25 11:39] MariusFlorea99 opened #57855 "Feedback for Lsv2-Series article"
Please add a note in the article saying that the NVMe volume is present on the VM after deployment as "unallocated space". It can be formatted and allocated from Disk Management while connected remotely to the VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d20a7dd1-6f87-94e7-2f3c-059481455dd9
* Version Independent

[2020-06-25 11:44] vipulsparsh commented on #57279
@BakkerJan, Thanks for sharing your feedback with us, PG reviews these feedbacks and people will have option to upvote it. Thanks.

[2020-06-25 11:44] #57279 closed

[2020-06-25 11:50] alistairl opened #57856 "Expand BYOS Acronym"
In order to help this page to be self-standing it would be helpful to expand the acronym "BYOS" which is described in one of the paragraphs as an alternative to Customer Lockbox. I've had a quick look but cannot with confidence propose an expansion of "BYOS" Beyond the first three words being "Bring Your Own".

It would be helpful if the first use of "BYOS" is expanded so that the page content sta

[2020-06-25 11:53] SnehaAgrawal-MSFT commented on #57849
@alirezacads Thank you for your feedback . We will investigate and update the thread .

[2020-06-25 12:02] DaveVernon commented on #55600
Great, much better thanks!

[2020-06-25 12:02] #55600 closed

[2020-06-25 12:10] arsnyder16 commented on #57764
@aramesh-msft Thank you that makes a lot of sense based on the behavior, unfortunately i attempted to append a fragment which would allow this to work but the character is not allowed  /index.html#   so that it would be forwarded to www.mydomain.com/index.html#/test.

Do you have an suggestions on getting this to work?, this seems like a fairly common use case with SPA. I am also not able to use @

[2020-06-25 12:18] brianburtoninmar commented on #57622
Well first of all my resource explorer interface is not that nice preview
look and feel.  It's a very 1990's looking trivial white page with far
fewer options.  I do not have a Read Only/Read Write button.  And why is
the tutorial describing a preview interface when not everyone will be using
that?

Maybe there is a setting I need to change in Azure to see a better/more
powerful portal?

[image: S

[2020-06-25 12:19] vipulsparsh commented on #57821
@sadika9 Can you confirm if this is an App only token as idtyp claim is not supported for user+app token.
By adding the idtyp claim to the accessToken field, and checking for the value app, you can detect app-only access tokens.

ID tokens and access tokens for users will not have the idtyp claim included. You can read about it here : https://docs.microsoft.com/en-us/azure/active-directory/develop

[2020-06-25 12:19] lonpalmer opened #57857 "It should be mentioned that WEBSITE_LOAD_USER_PROFILE can be set in a Function Apps app config."
I found this documentation very confusing when trying to access a certificate loaded in code.  The flag WEBSITE_LOAD_USER_PROFILE can be put into the app config settings.  Why not mention it in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf6dd80-7e07-3e24-7aa8-d3f278f34588
* Version Independent ID: e0

[2020-06-25 12:22] dheerajkumar-solanki commented on #52431
Ok, thanks

[2020-06-25 12:27] TomGeske commented on #57826
@lucaslccs: I just made a PR to explain how retrieve managed identity object identity once the cluster is being created.

Today we already have section on delegated access for networking resources in our managed identity document: http://aka.ms/aks/mi.

Soon we will allow BYO for control plane MI. This capability will go in preview next couple of weeks.  Let me know if you need anything else.

[2020-06-25 12:34] alistairl opened #57858 "Three authentication methods"
Just checking that the introductory paragraph is as intended. It opens "In this article, you'll learn about three ways to authenticate a request and the requirements for each." and then has a bullet point that has four items (i.e. not three).

Am I correct in understanding that it is three ways as the methods are key, token and AAD ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edi

[2020-06-25 12:37] IEvangelist commented on #57856
Hey @nitinme - I'm not sure who would own this doc now... but this should be addressed.

[2020-06-25 12:40] craigshoemaker commented on #57776
I updated the document to clarify the description. The `cardinality` property is appropriate for all non-C# languages as C# will auto-populate this value.

#please-close

[2020-06-25 12:40] #57776 closed

[2020-06-25 12:46] xristos8574 opened #57859 "Not able to run the Web app"
After I run the: "flask run", the following error appears and I am not able to browse to http://127.0.0.1:5000/.

  File "c:\users\cxeno\appdata\local\programs\python\python38-32\lib\site-packages\pymongo\mongo_client.py", line 378, in __init__
    raise ConnectionFailure(str(e))
pymongo.errors.ConnectionFailure: [WinError 10061] No connection could be made because the target machine actively refu

[2020-06-25 12:53] dgcaron opened #57860 "ambiguous requirements for virtual networking and azure machine learning"
if you consider this supported scenario for the enterprise SKU:

under https://docs.microsoft.com/nl-nl/azure/machine-learning/how-to-enable-virtual-network#private-endpoints the page states

whereas under https://docs.microsoft.com/nl-nl/azure/machine-learning/how-to-enable-virtual-network#use-azure-container-instances-aci it states

what does this last sentence even mean? it can't be in the same

[2020-06-25 12:56] nselewa opened #57861 "cosmos node js error running emulator sample"
Completed with error {"message":"request to https://localhost:8081/ failed, reason: self signed certificate","type":"system","errno":"DEPTH_ZERO_SELF_SIGNED_CERT","code":"DEPTH_ZERO_SELF_SIGNED_CERT","headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}
Press any key to exit
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-25 13:12] AjayKumar-MSFT commented on #57857
@lonpalmer, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-06-25 13:29] AjayKumar-MSFT commented on #57675
As Shashi mentioned, we will now close this issue in GitHub but hope to engage with you via our technical forums shared above.

[2020-06-25 13:29] #57675 closed

[2020-06-25 14:01] RohitMungi-MSFT commented on #57830
@bignorm64 I think if "1 JAN 2020" is the date in DMY format used for training then then the model should predict/recognize a date in similar format. Are you seeing a failure in training or prediction? Or is the error in prediction after training the model with DMY format and the prediction model unable to recognize MDY format?

@NHaiby

[2020-06-25 14:04] VikasPullagura-MSFT commented on #57844
@akingscote
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-25 14:05] VikasPullagura-MSFT commented on #57844
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-25 14:07] VikasPullagura-MSFT commented on #57855
@MariusFlorea99
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-25 14:07] VikasPullagura-MSFT commented on #57855
@sasha-melamed
Can you please check and add your comments on this doc update request as applicable.

[2020-06-25 14:13] mrbullwinkle commented on #57378
@ishepherd I'm re-pinging folks directly over e-mail. We all get a lot of GitHub notifications so `@mentions` sometimes disappear into the void. Thanks for your patience.

[2020-06-25 14:18] NavtejSaini-MSFT commented on #48448
@HQJaTu We do understand the need here and our product team is working on the same. Please do leave this feedback here - https://feedback.azure.com/forums/169382-cache

This will help others and PG team to look at it and work further on making this possible.

[2020-06-25 14:23] mumian commented on #57383
@JFolberth - the article has been updated.

#please-close

[2020-06-25 14:23] #57383 closed

[2020-06-25 14:27] NavtejSaini-MSFT commented on #57717
@MikeWilcoxMicrosoft Please let us know if you need more information here.

[2020-06-25 14:31] mimckitt commented on #57798
@thomas-hahn-kr can you elaborate a bit? Or provide an example?

[2020-06-25 14:31] NavtejSaini-MSFT commented on #57707
@anfeldma-ms We have assigned this to you for submitting the PR. Please let us know if any further information is required.

[2020-06-25 14:34] manikandantk88 opened #57863 "Interactive section is missing in "How each flow emits tokens and codes""
How each flow emits tokens and codes
    Could you please add details for interactive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8c12ad-ea7f-5b0a-2322-582720ee76fc
* Version Independent ID: 443d54f7-5ffa-444a-c757-1348fb1ca948
* Content: [MSAL authentication flows - Microsoft identity platform](https://docs.micro

[2020-06-25 14:39] craigshoemaker commented on #56921
The Cosmos DB 2.x binding reference is applicable to version 2 and higher. I have updated the doc to clarify this better.

#please-close

[2020-06-25 14:39] #56921 closed

[2020-06-25 14:40] VikasPullagura-MSFT commented on #57852
@przemolb
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-25 14:41] VikasPullagura-MSFT commented on #57852
@dlepow Can you please add your comments on this.

[2020-06-25 14:41] rohancragg opened #57864 "Correction: deploying artifacts when storage account has network security enabled"
Under `#to-ensure-communication-to-the-azure-storage-service-isnt-being-blocked`
it states

This is not sufficient. It is also necessary to configure the option `Allow trusted Microsoft services to access this storage account
`

See [Storage network security - exceptions](https://docs.microsoft.com/en-gb/azure/storage/common/storage-network-security#exceptions)

---
#### Document Details

⚠ *Do no

[2020-06-25 14:43] sadika9 commented on #57821
This is for app only token. I use client credentials grant to obtain the access token.
Since there is no idtyp option in "Token Configuration -> Add optional claim" page. I modified manifest  as bellow.
[code]

When i go back to Token Configuration page idtyp claim is shown as not supported:

![image](https://user-images.githubusercontent.com/2670029/85741558-283acc80-b720-11ea-8aa5-7688c0ee2eac.p

[2020-06-25 14:48] ward0 opened #57865 "Provide example for Strict-Transport-Security (HSTS)"
Hello,

Can you provide an example how we can implement HSTS using an rule engine in combination with Azure Front door.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b449587c-dcda-ceb5-8c19-8a1f42c8698f
* Version Independent ID: d7e52b54-e8f8-af1b-7944-03d127f94c9d
* Content: [Azure Front Door](https://docs.m

[2020-06-25 14:50] shashishailaj commented on #57846
@jarekkoziol Thank you for your feedback . We will investigate and update the thread.

[2020-06-25 14:52] shashishailaj commented on #57834
@DaveSlinn Thank you for your query . We will investigate and update the thread.

[2020-06-25 14:53] shashishailaj commented on #57831
@pnarsi Thank you for your feedback . We will investigate this and update the thread.

[2020-06-25 14:55] zr-msft commented on #39395
Thank you for the feedback @ashfondu

Based on the explanation from @buzzfrog I'm closing this this issue.

#please-close

[2020-06-25 14:55] #39395 closed

[2020-06-25 14:55] shashishailaj commented on #57853
@SvenSowa Thank you for catching this. We will have this forwarded to the content authors to review and take action as needed.

[2020-06-25 14:56] shashishailaj commented on #57863
@manikandantk88 Thank you for your feedback . We will investigate and update the thread.

[2020-06-25 14:58] shashishailaj commented on #57853
@malopMSFT Could you please review this requirement and take action on it as you see fit ?

[2020-06-25 15:04] zr-msft commented on #45017
Thank you for the feedback @rigerosa

The document has been updated to incorporate your feedback

#please-close

[2020-06-25 15:04] #45017 closed

[2020-06-25 15:08] zr-msft commented on #45465
Thank you for your feedback @olavt

The article has been update to use Helm 3.

#please-close

[2020-06-25 15:08] #45465 closed

[2020-06-25 15:17] JamesTran-MSFT commented on #57749
@Dustefan and @maweeras-msft
Thank you both for your inputs and feedback!

I have assigned this issue to @curtand the author of this doc to look into this and update as appropriate.

Please let us know if you have any questions in the meantime. Thank you again!

[2020-06-25 15:28] scott1138 opened #57867 "Load Balancing Session Affinity Duration"
Is there documentation on how long the load balancer maintains the session table?  If a user is idle for 20 minutes will affinity be lost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df3fe8d-86bf-23bf-3f5b-b9cce432412e
* Version Independent ID: 42eb0bc5-e329-8d92-c850-b0baed07ec98
* Content: [Configure Azure Load B

[2020-06-25 15:31] thomas-hahn-kr commented on #57798
Hello, thanks for your response. I believe I am seeing a difference in the documentation from actual behavior in Azure VMSS instance computernames. This documentation says, "This computer name is of the form "{computer-name-prefix}{base-36-instance-id}. The {base-36-instance-id} is in base 36 and is **always six digits** in length. If the base 36 representation of the number takes fewer than six d

[2020-06-25 15:37] diberry commented on #54185
This will be addressed in the July sprint. #please-close - I'll add a note here when the related content is present.

[2020-06-25 15:37] #54185 closed

[2020-06-25 15:40] david-jarman opened #57868 "Supported Region URLs has a typo and inconsistencies"
The Canada Central URL has an extra "c" at the end:
[code]

Also, some of the URLs have '/' at the end
[code]
But some don't:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e9e6a7-4b37-e559-f719-63199aa78a0a
* Version Independent ID: 398a63dd-0e08-9ff3-da4e-e26fb50cb287
* Content: [Custom metrics in Azure Moni

[2020-06-25 15:47] Mike-Ubezzi-MSFT commented on #57861
@nselewa Thank you for making us aware of this issue. Let me step through the Quickstart using the Cosmos DB Emulator and identify any updates to the document that may mitigate this issue. What version of the Cosmos Emulator do you currently have installed?

[2020-06-25 15:49] peturh commented on #34451
That's the thing, it wants to decide what port your app uses.

You should not specify a port yourself on the env vars WEBSITE_PORT or PORT. In my node app, I simply listen to `process.env.PORT` and the Azure App Service sets the appropriate ports.

[2020-06-25 15:50] tamram commented on #48160
#reassign: @tamram

[2020-06-25 15:57] pl89 opened #57870 "Add section about tracking disk bursting credit currently available"
The article talks about the 3 "Bursting states" (Accruing, Bursting and Constant). Is there a way to see what state you are currently in? For example, is there a way to retrieve the current amount of bursting credits available and if possible, what rate they are being accrued or used at (although this could be achieved by constant polling of "current amount of bursting credits available")? This in

[2020-06-25 15:58] #12977 closed

[2020-06-25 16:01] ericthomas1 commented on #57819
I don't have permissions to view anything past step 4. Trying to find the correct person to speak with at my org.

[2020-06-25 16:02] BharathNimmala-MSFT commented on #57868
@david-jarman Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-06-25 16:06] cqueern opened #57871 "Run-on sentence"
Suggest you consider turning this run on sentence:

Into two sentences, like so:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Azure Kubernetes Service - Azure Kubernetes Service](h

[2020-06-25 16:09] MonikaReddy-MSFT commented on #57864
@rohancragg -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-25 16:12] albecker1 commented on #57870
Hi,

We are releasing metrics for disk bursting within the next couple weeks, which will include disk burst used percentage for both IOPs and MiB/s.

Cheers,
-Alec

[2020-06-25 16:14] pl89 commented on #57870
Awesome, fantastic news! Thank you for the fast response Alec!

[2020-06-25 16:23] asudbring commented on #56198
Sending to PM for review

#reassign:@sohamnchatterjee

[2020-06-25 16:24] asudbring commented on #56190
#please-close

[2020-06-25 16:24] #56190 closed

[2020-06-25 16:27] asudbring commented on #54628
#please-close

[2020-06-25 16:27] #54628 closed

[2020-06-25 16:28] luzmariaeIDB opened #57872 "Spring release General availability"
[Spring updates have been great for management, can we know when this will be considered as production general available? thank you]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virtual Desk

[2020-06-25 16:29] asudbring commented on #54462
Sending to PM for review
#reassign:@sohamnchatterjee

[2020-06-25 16:37] GiftA-MSFT commented on #57858
@alistairl we will review your feedback and get back to you shortly. Thanks.

[2020-06-25 16:37] nkumars opened #57873 "Create a String Collection with the same claim"
I have a case where an external claim returned as string value and sometimes a string collection _(in the same claim)_. Is it possible to return always as string collection using ClaimsTransformation.

Conditions:
1. If a string value, return string collection
2. If a string collection, still return string collection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-06-25 16:38] cynthn commented on #57732
Thanks for the feedback! I've pull the orchestration mode section from the article. For folks looking for information about orchestration mode, please see this article: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/orchestration-modes.

#please-close

[2020-06-25 16:38] #57732 closed

[2020-06-25 16:38] nkumars commented on #56356
Any update on this?

[2020-06-25 16:40] nkumars commented on #56374
@SaurabhSharma-MSFT , any update on this?

[2020-06-25 16:42] CHDAFNI-MSFT opened #57874 "Clarify: Step 2 - VNet peering - possibly optional instead of required"
https://docs.microsoft.com/en-us/Azure/databricks/administration-guide/cloud-configurations/azure/on-prem-network#step-2-peer-the-azure-databricks-virtual-network-with-the-transit-virtual-network

This step gives the impression that the databricks /was not/ deployed to a VNet/Subnet that contains an existing ExpressRoute/VPN Gateway. Databricks does allow you to deploy to your own existing VNet. I

[2020-06-25 16:44] AlvinRamoutar commented on #53726
Can confirm that this is still an issue - tested on Azure .NET SDK:
Microsoft.Azure.Management.Fluent (Version=1.34.0)

[code]

Resulting in the following exception with Function App running on cloud:
[code]

Specifying `"https://management.azure.com&api-version=2017-09-01"` in `azureServiceTokenProvider.GetAccessTokenAsync` as suggested by @jflieben results in the following exception with Functio

[2020-06-25 16:45] SadiqhAhmed-MSFT commented on #57584
@bandersmsft Please comment on this query.

[2020-06-25 16:51] Haritha-Nuthi opened #57875 "Parameter passing issue in Dataflow"
When I selected a data set which points to a table in the SQL DB where TableName is a parameter, as a Sink in the Dataflow, I didnt get option to pass parameters to Dataset from sink. I dont see any documentation guidance as well on this. Could you please help me on this

[2020-06-25 16:57] dargilco opened #57876 ""Choose Manage NuGet Packages for Solution, Select Install" - should say "Browse" instead of "Install""
"Choose Manage NuGet Packages for Solution, Select Install"

It should say "Select Browse" instead of "Select Install", since you are searching for a new NuGet package to add to the project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e692d4bf-af38-e13e-baf8-553fe3ee3ca8
* Version Independent ID: 917e33a6-cbb6-0759-

[2020-06-25 17:06] himanshusinha-msft commented on #57874
Thanks for the ask . We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-06-25 17:07] nselewa commented on #57861
Latest, installed it this morning

Sent from my iPhone

[2020-06-25 17:07] craigshoemaker commented on #54375
Thanks, @rigdern - The link is now added to the page. The public version will update during our next content refresh.

#please-close

[2020-06-25 17:07] #54375 closed

[2020-06-25 17:08] SnehaAgrawal-MSFT commented on #57434
@joker-vn Since we didn't hear back from you We will close this out but if you feel you need more information please just let us know.

[2020-06-25 17:08] #57434 closed

[2020-06-25 17:09] HughDevlin commented on #51496
@ajlam Following the link to the live changes, I find no mention of the system tables for time zones. Please re-open.

[2020-06-25 17:12] ajlam commented on #51496
@hughDevlin - Sorry for the confusion. We recently refactored our documentation to create a single doc dedicated to server parameters [here](https://docs.microsoft.com/azure/mysql/concepts-server-parameters#time_zone).

[2020-06-25 17:13] VikasPullagura-MSFT commented on #57870
@albecker1 Thanks for sharing the details.

[2020-06-25 17:13] VikasPullagura-MSFT commented on #57870
@pl89
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-25 17:13] #57870 closed

[2020-06-25 17:14] frachel opened #57877 "Checking registration status query is incorrect"
The query for checking the feature registration status doesn't work since "microsoft.containerservice" comes back in lowercase but the query is mixed case. This works for me:

az feature list -o table --query "[?contains(name, 'microsoft.containerservice/AKS-IngressApplicationGatewayAddon')].{Name:name,State:properties.state}"

Note: this was using the cloud shell from the portal
---
#### Document

[2020-06-25 17:15] VikasPullagura-MSFT commented on #57871
@cqueern
Thanks for the feedback! I will update the document accordingly.

[2020-06-25 17:15] JimacoMS3 commented on #57246
#please-close

[2020-06-25 17:15] #57246 closed

[2020-06-25 17:15] ajlam commented on #51496
I'm working on adding a more detailed note in the [limitations ](https://docs.microsoft.com/en-us/azure/mysql/concepts-limits) doc as well.

[2020-06-25 17:16] frachel commented on #57877
Sorry, just noticed this is a duplicate (the previous bug report on the same issue didn't show at the bottom of the page, so couldn't see it was already reported).

[2020-06-25 17:16] #57877 closed

[2020-06-25 17:17] SatishBoddu-MSFT commented on #57689
@str1ke-cw Thank you for the confirmation, I am working on it.

[2020-06-25 17:22] SnehaAgrawal-MSFT commented on #57622
@brianburtoninmar Could you please directly paste screen shot here to help you better on this I am not able to see above one.

[2020-06-25 17:33] asudbring commented on #47616
Adding work items into backlog for CLI and PoSH tutorials for configuring HTTPS on Azure CDN custom domain

#please-close

[2020-06-25 17:33] #47616 closed

[2020-06-25 17:34] ajlam commented on #51496
Thanks for your patience, @HughDevlin. Changes will look like the below (marked in red) and will be live in the next 24 hours:

![image](https://user-images.githubusercontent.com/11048726/85769877-41675d00-b6cf-11ea-882a-6f4cc4746961.png)

[2020-06-25 17:39] bunkrur opened #57878 "Automatic deletion feature not released"
Article states that in June, the auto deletion feature will be available. The month is nearly over and the feature is not released.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c195d-22dc-a381-dedd-b829d6a3e82f
* Version Independent ID: eed3f4f4-98b3-f47e-07d4-d146085cfc68
* Content: [Deployment quota exceeded - A

[2020-06-25 17:39] dargilco opened #57879 ""Search for Newtonsoft.json in the update list... " - sentence needs to be corrected"
**Feedback 1**
"Search for Newtonsoft.json in the update list, Update Microsoft.NETCore.UniversalWindowsPlatform to newest version"

It should say

"Search for Newtonsoft.json in the search result, and install it"

Not sure what "udpate list" means here... we are not updating, but looking at the search results under "Browse". The sentence "Update Microsoft.NETCore.UniversalWindowsPlatform to newes

[2020-06-25 17:42] dargilco opened #57880 "build warning "This async method lacks 'await' operators""
connector.ActivityReceived += async (sender, activityReceivedEventArgs) => ...

I get a build warning:

Warning	CS1998	This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or 'await Task.Run(...)' to do CPU-bound work on a background thread.	helloworld	E:\Workplace\2019-DevEx\CC-Docs\How-to-guide\helloworld\MainP

[2020-06-25 17:43] HughDevlin commented on #51496
thank you for your attention to this.

Can we preface this paragraph with a more explicit statement to effect:

"Upon initial deployment, an Azure for MySQL database instance includes systems tables for time zone information, but these tables are not populated."

This makes more clear, a distinction between MySQL on Azure and more common MySQL experience, and more clear that customer follow-up act

[2020-06-25 17:48] dargilco opened #57881 "Two "using" lines should be placed in code block that can be one-click copied"
Regarding this text:

In `MainPage.xaml.cs', add
- using Newtonsoft.Json;
- using Windows.ApplicationModel.Core;

Please put the two "using" lines in a code block with the "copy" button option, so i can click on it and copy paste to my source code. Right now I have to copy each line separately because of the bulleted list.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-25 18:03] epinto commented on #56803
It does a better job. thanks

On Thu, Jun 25, 2020 at 5:16 AM Yechiel Levin <notifications@github.com>
wrote:

--
- Elias

[2020-06-25 18:04] dargilco opened #57882 "Build break. Missing "using Windows.UI.Core""
After I paste the code from 'Handle the received payload" and compile it, I get two of these build breaks:

Error CS0103	The name 'CoreDispatcherPriority' does not exist in the current context	helloworld	E:\Workplace\2019-DevEx\CC-Docs\How-to-guide\helloworld\MainPage.xaml.cs	193	Active

Seems like we are missing this additional "using". Please add it to the instructions:

using Windows.UI.Core;

[2020-06-25 18:09] dargilco commented on #57880
Note that this is BEFORE I paste the code in section 'Handle the received payload'. The build warning is for the version of the ActivityReceived method that just plays audio, not handles JSON activity to display on/off state.

[2020-06-25 18:21] AjayKumar-MSFT commented on #57293
@carlpoole,  Based on the feedback, appropriate changes in the document have been merged . The document would reflect those changes shortly. Once again we really appreciate the feedback.

[2020-06-25 18:21] #57293 closed

[2020-06-25 18:23] AjayKumar-MSFT commented on #47284
Apologies for the delay! Based on the feedback, appropriate changes in the document have been pushed . The document would reflect those changes shortly. Once again we really appreciate the feedback.

[2020-06-25 18:23] #47284 closed

[2020-06-25 18:25] dargilco opened #57884 ""Click Save to create a new rule with a Send Activity action" - Need to add "and press Publish""
"Click Save to create a new rule with a Send Activity action"

Please add ", and publish it".

It did not work for (the UI did not show the TV changing to "on") and I spend some time trying to figure out what is wrong. I debugged the client and noticed that the client did not get the expected JSON activity. Then I realized I did not publish the CC project after making the changes to add a "send ac

[2020-06-25 18:25] dcurwin commented on #57326
@dcbrown16  - Thank you for your contribution. The document has been updated.

#please-close

[2020-06-25 18:25] #57326 closed

[2020-06-25 18:27] mumian commented on #57878
@tfitzmac - can you check on this?

[2020-06-25 18:32] dargilco opened #57885 "Not clear to the developer where they should paste the XML code inside MainPage.xaml"
"Add labeled boxes with text indicating on or off using the following XML added to MainPage.xaml"

We show XML code. But it is not clear to the developer where they should paste this XML code inside the existing MainPage.xaml. Should it be inside the existing <Grid>...</Grid> scope? or should the content between <StackPanel>..</<StackPanel> be copied and added at the end of the existing <StackPane

[2020-06-25 18:33] RijingXi95Arten opened #57886 "Section: restore point retention"
[Enter feedback here]

In 1. say  the total restore point is 42 including user-defined and automatic
In 4. Say you can store up to 42 user-defined restore point and 42 automatic restore points (total is 84?)

Please clarify.

Rick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e90f-36a7-2178a17d7951
* Ver

[2020-06-25 18:57] robmacf opened #57887 "How does passwordless in Authenticator actually work?"
There should be an explanation of how Authenticator's passwordless feature works on this page, or at least a link. Anyone reading this page won't come away knowing that Authenticator uses public key cryptography, similar to what WHFB or FIDO2 keys do. If you dig around looking for old Ignite presentations, the information is out there, but AFAIK it's nowhere in the actual docs.
https://channel9.ms

[2020-06-25 19:00] milope opened #57888 "Resource tag keys are not exactly case-insensitive for all use-cases."
The note in the article states that resource tag keys are case insensitive. However, that doesn't seem to be the exact case for all resource providers. Sure if you send a PUT with {"key":"value","KEY":"value"}, it will store 1 single key-value pair. However, some resource providers, like Service Bus retain the casing of the key when storing and returning the value, see example below:

[code]

Note

[2020-06-25 19:01] aramesh-msft commented on #57764
@arsnyder16 That's very good feedback for supporting SPA. Since we have this limitation and there isn't really a good workaround, for now, I can suggest you taking a look at CDN url rewrite action that has option to not preserve unmatched path.
https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-actions#url-rewrite

[2020-06-25 19:08] JHStarner opened #57889 "Update Language"
According to [this article](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/platform-logs-overview) diagnostic logs are supposed to be referred to as Resource Logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0e-6f10-6985-c719-05fe43f

[2020-06-25 19:10] craigshoemaker commented on #57631
Thanks, @bradcavanagh-unity3d - the article is now updated to use `HttpRequest` which is a .NET standard class

#please-close

[2020-06-25 19:10] #57631 closed

[2020-06-25 19:11] craigshoemaker commented on #54773
the article is now updated to use `HttpRequest` which is a .NET standard class

#please-close

[2020-06-25 19:11] #54773 closed

[2020-06-25 19:12] tfitzmac commented on #57878
@bunkrur - thanks for this feedback. I will change that note.

[2020-06-25 19:16] Nash-Vegas commented on #50831
Also need to know this information, thank you.

[2020-06-25 19:21] TravisCragg-MSFT commented on #57865
@ward0 Thanks for the feedback! To achieve HSTS, you will need to have [HTTPS redirection](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-redirect-https), and a[dd the HSTS header](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-security-headers).

We do not have a single doc to outline the full process, so I am assigning the issue to the content author to evaluate

[2020-06-25 19:22] #57878 closed

[2020-06-25 19:23] ajlam commented on #51496
Great suggestion, Hugh. I'm adding that in a follow-up pull request😄 thanks again for your collaboration in making the docs better!

[2020-06-25 19:24] tfitzmac commented on #57888
@milope - thanks for the feedback. Are you seeing a situation where the casing of a tag name affects an operation?

[2020-06-25 19:29] RyanHill-MSFT commented on #57771
We appreciate your feedback @favoretti. After reviewing the request and discussing the suggestion with the document author, we have decided to not create a note for this item as it's already defined in the document. Thank you for your understanding. If you have any further questions or concerns, please let us know.

[2020-06-25 19:29] #57771 closed

[2020-06-25 19:33] tfitzmac commented on #57727
@NillsF - thanks for making us aware of that issue. I am fixing the commands.

[2020-06-25 19:36] MarileeTurscak-MSFT commented on #57820
@ericthomas1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-25 19:38] dargilco opened #57892 "The table "Setting | Suggested value | Description" is missing values"
**Feedback 1**
In section "5. In On Success - Action to execute, select Send speech response." and section "6. In On Failure - Action to execute, select Send speech response" there is a table that is supposed to describe what values you enter (similar to previous sections in this how-to-guide). The tables have the headers "Setting | Suggested value | Description". In these sections, the table is m

[2020-06-25 19:41] SaurabhSharma-MSFT commented on #56374
@msmimart can you please look into this.

[2020-06-25 19:48] #57727 closed

[2020-06-25 19:52] axelglzc commented on #53726
Can also confirm this is still an issue, it's been specific to azure functions on linux for me as it succesfully retrieves a token from azure functions on windows

It seems to be working fine for me when working on azure functions on windows server but it will give the UnsupportedApiVersion error when running the same code on a linux server.

I'm using nodeJS, Azure Functions runtime 3.0.13901.0 f

[2020-06-25 19:53] dargilco commented on #57885
For a good example of instructions where to put XML lines, see the example you have later on:

"Add the following XML to MainPage.xaml above the "EnableMicrophoneButton" block."
<Button x:Name="SyncDeviceStateButton" Content="Sync Device State"
        Margin="0,10,10,0" Click="SyncDeviceState_ButtonClicked"
        Height="35"/>
<Button x:Name="EnableMicrophoneButton" ......
        .........../>

[2020-06-25 19:54] JamesTran-MSFT commented on #57887
@robmacf
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-25 19:54] DarinMacRae opened #57893 "Broken indexing example code"
The code snippet doesn't make any sense. Where does 'excluded' come from?
It seems like the author wanted to use the variable named 'collection' instead.

var collection = new DocumentCollection { Id = "excludedPathCollection" };
collection.IndexingPolicy.IncludedPaths.Add(new IncludedPath { Path = "/*" });
collection.IndexingPolicy.ExcludedPaths.Add(new ExcludedPath { Path = "/nonIndexedContent/*

[2020-06-25 19:58] AlvinRamoutar commented on #53726
Hey @axelglzc ,

Thanks for pitching in - I should've clarified, but my function app lives on a Linux app service plan.

@AjayKumar-MSFT , could you please direct us to the appropriate project to make a formal issue for relevancy and visibility?

[2020-06-25 20:00] MicrosoftGuyJFlo commented on #57752
Correct you will still have to do MFA both ways.

Conditional Access based MFA is more user friendly because they only do MFA when needed based on your organization's applications and policy.

For example: Do users really need to do MFA to see the lunch menu? Probably not.. but for the payroll or purchasing apps you probably want them to. This is where Conditional Access gives lots of flexibility.

[2020-06-25 20:01] MicrosoftGuyJFlo commented on #57752
#assign @MicrosoftGuyJFlo

[2020-06-25 20:01] MicrosoftGuyJFlo commented on #57752
#please-close

[2020-06-25 20:01] #57752 closed

[2020-06-25 20:05] dargilco opened #57894 "Remove unneeded "using" statements"
Remove these unneeded "using" statements from the sample code we build in this section:

using Windows.Foundation;
using Windows.Storage.Streams;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77760c1a-55c1-8c92-55f8-55e4e486bc25
* Version Independent ID: 9da54731-fb5a-a0fa-2e3f-8a76f506317a
* Content: [Set up web endp

[2020-06-25 20:05] milope commented on #57888
Based on my experience with some of the reports. The usual use-case are billing systems that were built based on the resource tag key having a specific case-sensitive value.

[2020-06-25 20:08] milope commented on #53849
I will close the incident. Thank you for the update!

[2020-06-25 20:08] #53849 closed

[2020-06-25 20:21] dargilco opened #57895 "Does the app name in HTTP header need to be globally unique?"
"Headers | Key: app, Value: a unique name for your app"

Seems like my unique app name should be globally unique, right? otherwise I may get the room status of someone else who done this tutorial?

If so, we should mention that it should be globally unique and make some suggestions how to decide on the app name (e.g. add a series of random digits)

---
#### Document Details

⚠ *Do not edit this se

[2020-06-25 20:27] divurgentuser opened #57896 "App service editor is greyed out/cannot access"
App service editor is greyed out/cannot access, and the tutorial explains no other way to add my HTML?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff98020e-ab5a-8bed-c27f-777f0cf55529
* Version Independent ID: 1fc0f1f7-07d2-2a87-34e4-7a61d9df12c1
* Content: [Web App Tutorial - Write Web Application](https://docs.mic

[2020-06-25 20:36] krozgrov commented on #33342
We have been seeing the same issue but only for iOS devices running Safari browser.  I have had tickets open with Azure support but to be honest even after providing logs showing this not working we still cannot get a resolution.  Seems like a more global issue with the "Security Info" page.

[2020-06-25 20:40] rgamage opened #57897 "Unclear references to certificate types"
Under the heading "**CA**-Signed Certificates, the first sentence is:
"When you authenticate an IoT device with **self**-signed certificates"

Maybe I'm confused, but isn't a CA-signed cert one you typically pay for, from a Certificate Authority?  Isn't that a different thing from a self-signed certificate?  I need help creating and installing a production CA-signed cert, but all these instruction

[2020-06-25 20:43] lobrien commented on #57692
I've created a documentation workitem to update this document and put it on our backlog. We are actively working on related content, so I suspect we'll be tackling this sooner rather than later.

[2020-06-25 20:52] eljacobsen12 opened #57898 "I looks like the Azure Functions and Web Jobs extension is only available for VS2017?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azure Functions using Visual Studio](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#check-your-tools-v

[2020-06-25 20:53] #39725 closed

[2020-06-25 20:54] zr-msft commented on #39725
Thank you for the feedback @IamSandipC

I have updated the article and the changes should be available soon.

[2020-06-25 21:00] babukumarg opened #57899 "Signed Assertion"
Hi,

I have followed these instruction and was able to setup a SAML integration using Azure B2C as the IDP.

When Azure B2C returns the response, the SP is complaining that the assertion is not signed. Is there a way to setup Azure B2C to sign the Assertion using the custom policies?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-06-25 21:09] season1946 commented on #57184
here, i encountered the same issue. any update?

[2020-06-25 21:09] tarockey opened #57900 "Incorrect "name" parameter in PublishedPipeline.get example"
** Section **
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-first-pipeline#create-a-versioned-pipeline-endpoint

** Issue **
For creating a Pipeline Endpoint, the example code snippet uses the method `PublishedPipeline.get` to retrieve the PublishedPipeline. In the example, it passes the parameter "name", but at least in SDK version 1.7.0, "name" is not an allowed para

[2020-06-25 21:15] justinstigall opened #57901 "Specify date format as used in code rather than ISO standard to reduce confusion (or mention both)"
The documentation mentions an ISO date format of "YYYY-MM-DDThh:mm:ss.fffffffZ", which is correct in terms of ISO formatting, but when used in code the format "yyyy-MM-ddTHH:mm:ss.fffffffZ" is correct.  If someone used the ISO formatted string in DateTime.toString() they would end up with a week based year and 12-hour time.

Maybe it would be good to mention that the definition in code is differen

[2020-06-25 21:15] mhopkins-msft commented on #57750
Hello @bjdekker,

Thank you for the feedback. We are currently in the process of updating all Azure Storage documentation to v12 code snippets, including this article. We are prioritizing the updates based on the number of visitors to each topic with a code snippet. This topic is a little further down the list. While we're in the process of updating, please see [Quickstart: Azure Queue storage cli

[2020-06-25 21:16] #57750 closed

[2020-06-25 21:20] curtand commented on #55829
Hi @emacdona
I made the updates a day ago. Thanks for your contributions!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/119867

@neeleshray-msft
#please-close

[2020-06-25 21:20] #55829 closed

[2020-06-25 21:20] villyg opened #57902 "Email validation regex is wrong"
[The email validation regex is incorrect. it excludes emails like test@segment1.segment2.com. If you look at the actual policy pack it has another regex that works RFC522]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105d323b-2017-72e9-3d26-dc32aa095439
* Version Independent ID: b13a29a5-52af-d768-5191-86c20c9433ab
*

[2020-06-25 21:23] season1946 commented on #57184
@kgremban is it possible that you can share the machine learning model image? then i can continue the rest steps. thanks

[2020-06-25 21:26] don4of4 opened #57903 "Invalid Diagnostic Query"
This documented query is invalid and returns an error:
Msg 208, Level 16, State 1, Line 16
Invalid object name 'microsoft.vw_sql_requests'.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1d3d23-bf8a-1b97-0d2c-81f37f30bca1
* Version Independent ID: ebc70b53-8796-7a16-a781-a6986d3e823a
* Content: [Monitor your

[2020-06-25 21:34] zr-msft commented on #47395
thank you for the feedback @misterspeedy

I tested with Helm v3.2.0 and was not able to reproduce.

#please-close

[2020-06-25 21:34] #47395 closed

[2020-06-25 21:45] naveedzaheer opened #57906 "Incorrect sub resource for Azure App Service i.e. "site" should be "sites""
The sub resource for Azure App Service is wrong. It is "**site**" where it should be "**sites**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.microsoft.com/e

[2020-06-25 21:49] JamesTran-MSFT commented on #57902
@villyg
Thanks for your feedback!

I just to confirm, you want us to add the excluded emails into the doc? Or do you have a doc specific feedback/enhancement request?

[2020-06-25 21:51] JamesTran-MSFT commented on #57608
@iliassk
I just wanted to check in and see if you had any other questions regarding my previous post? If not, I'll go ahead and close out this GitHub issue at the end of the day.

Thank you for your time and patience, if you'd like us to continue to further troubleshoot your issue, please submit your question to our [Q&A forums](https://docs.microsoft.com/en-us/answers/topics/azure-active-director

[2020-06-25 21:57] zr-msft commented on #43538
thank you for the feedback @Pilchie

I tested with 2.5.1 on Linux and can confirm I see the output.

#please-close

[2020-06-25 21:57] #43538 closed

[2020-06-25 22:03] qianw211 commented on #57356
@SwiftDavid Hi, it's not enough to know that this happened in your Partner Center account.  Could you please describe your exact task scenario when this issue occurred?  Was it during the account registration? Or were you trying to accomplish some other specific tasks?  Repro steps would be really helpful for us to pinpoint the problem.  Thanks!

[2020-06-25 22:12] JimacoMS3 commented on #45264
#reassign JimacoMS3

[2020-06-25 22:17] mmacy commented on #57518
Ah - that's an **Azure AD B2C** tenant. Apps registrations in an Azure AD B2C tenant won't show the Quickstarts menu item.

[2020-06-25 22:19] xavbx33 commented on #57570
Hi, same issue here!

[2020-06-25 22:26] bignorm64 commented on #57830
@RohitMungi-MSFT - The training documents had a mix of formatted dates - either MDY, or d MMM YYYY (as although the doco doesnt mention it I thought that d MMM YYYY should work when the format is either DMY or MDY) and I created a label with a type of date, and format DMY using the labeling tool. For each of the training documents I selected either the single '1/1/2020' value or the three values i

[2020-06-25 22:28] MarileeTurscak-MSFT commented on #57501
Thanks! It does say in the prerequisites that a Premium license is required, but it links to a regular free trial so I made a pull request to update the language and link to the Premium free trial. https://github.com/MicrosoftDocs/azure-docs-pr/pull/120232

[2020-06-25 22:28] #57501 closed

[2020-06-25 22:29] rameshjanjyam opened #57907 "can this container instance be deployed in an existing Vnet? I want to run a script that invokes a Rest Api. This rest api is basically an azure function with access restrictions on it."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43ca-6d1f-c054-842299db8327
* Content: [Use deployment scripts in templates - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deplo

[2020-06-25 22:30] #44059 closed

[2020-06-25 22:30] zr-msft commented on #44059
thank you for the feedback @davidhanna66

I have incorporated your feedback and the changes should be available soon.

[2020-06-25 22:37] amrragab8080 commented on #53900
Any update on this

[2020-06-25 22:45] Mike-Ubezzi-MSFT commented on #57893
@DarinMacRae Thank you for inquiry. The [indexing policy](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#indexing-policy) section of the `Performance tips for Azure Cosmos DB and .NET SDK v2` document pertains to creating a client session based indexing policy for the purpose of increasing write performance. It does this by including an `ExcludePath` variable where nonindexed co

[2020-06-25 22:53] StingyJack commented on #56990
Usually https://preview.portal.azure.com/  but it was happening with the regular portal too.

[2020-06-25 22:53] DarinMacRae commented on #57893
Hey @Mike-Ubezzi-MSFT thanks for getting back to me.
I didn't have a question though, I was pointing out that the example provided in that documentation is broken.

![image](https://user-images.githubusercontent.com/3474753/85803462-0e878e00-b6fc-11ea-9460-29c7174ef0df.png)

[2020-06-25 22:55] paratz opened #57908 "URLs requirement has changed?"
Hello, in the english version of this article, we used to have 2 URLs required for the feature to work:

o	https://aadg.windows.net.nsatc.net
o	https://autologon.microsoftazuread-sso.com

However, at some point only one is showing up in this article, but the spanish version is still showing both: https://docs.microsoft.com/es-es/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-3-r

[2020-06-25 22:56] femsulu commented on #57466
Hello @dfatkulbayanova ,

Both statements/pages are correct. Let me clarify...

In [this doc](url), the statement reads:
![image](https://user-images.githubusercontent.com/34327711/85800874-979bc680-b6f6-11ea-9eeb-97637e74a9ee.png)
this simply means there are a [subset of Azure Resources ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-resource-group-and-subscription

[2020-06-25 22:56] femsulu commented on #57466
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-06-25 22:56] #57466 closed

[2020-06-25 22:58] julieMSFT commented on #54864
#assign:julieMSFT

[2020-06-25 22:59] julieMSFT commented on #54864
@rgosling Hello and thank you for contacting Microsoft. I am sorry for the delay in replying. I am looking into this.

[2020-06-25 23:01] Mike-Ubezzi-MSFT commented on #57893
@DarinMacRae Thank you for the additional detail. The sample is supposed to create a new collection with the detailed indexing policy and is not complete. I will have this reviewed and corrected as appropriate.

[2020-06-25 23:03] SwiftDavid commented on #57356
I was trying to register, got as far down the page as "enter VAT Number",
and regardless of whatever format I entered it as, it said it was not
recognised.

On Thu, Jun 25, 2020 at 11:03 PM Qian Wen <notifications@github.com> wrote:

[2020-06-25 23:05] Karishma-Tiwari-MSFT commented on #56132
Thanks @starforce for sharing the support ticket # offline.
Once the issue is resolved, we can share the resolution here for others to refer.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-25 23:05] #56132 closed

[2020-06-25 23:05] Minewiskan commented on #6226
#please-close

[2020-06-25 23:05] julieMSFT commented on #55168
#assign:julieMSFT

[2020-06-25 23:05] #6226 closed

[2020-06-25 23:08] GiftA-MSFT commented on #57858
@alistairl that is correct, the three ways would be subscription key, token, and AAD.

@erhopf can you please confirm, and should we group it as follows:

- Authenticate with a [single-service](https://docs.microsoft.com/en-us/azure/cognitive-services/authentication#authenticate-with-a-single-service-subscription-key) or [multi-service](https://docs.microsoft.com/en-us/azure/cognitive-services/aut

[2020-06-25 23:11] Karishma-Tiwari-MSFT commented on #57854
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-25 23:12] PhilLepanto opened #57909 "It would be helpful to have a bit more clarity here."
I came to this page after going through the tutorial at https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=react and clicking the Next button. However, I think the step by step tools indicated in this tutorial seem to be more suited for creating a Static Web App after you've built an API, rather than what I assumed was meant by "Add an API", which I would think would be ad

[2020-06-25 23:13] Mike-Ubezzi-MSFT commented on #57901
@justinstigall Thank you for bringing this suggestion to our attention and making us aware of the challenge. This is being investigated and an update to the document will be made as appropriate.

[2020-06-25 23:13] aanandr commented on #46391
We need to update the default version of CNI to a version that is available. It is currently 0.4.0 i think which has been removed.
@SubhashVasarapu-MSFT  can you assign this to @tamilmani1989

[2020-06-25 23:16] GiftA-MSFT commented on #57856
@alistairl I believe BYOS means "Bring Your Own Storage".
@nitinme waiting on your confirmation before updating the doc.

[2020-06-25 23:21] dfatkulbayanova commented on #57466
Hi Femsulu,

Thanks for the clarification,

I understand that statement "may result in service downtime" means that
because of specific prerequisite move will require some post-move actions
to make service operational again.

But move itself is not causing downtime,only lock. It is a post or
pre-deployment action that will cause the downtime. Just highlighting it
because my customers panic when se

[2020-06-25 23:23] GiftA-MSFT commented on #57860
@dgcaron we will review your feedback and get back to you shortly. Thanks.

[2020-06-25 23:23] MartinJaffer-MSFT commented on #57795
The mention of specific versions in the tutorial article suggests the tutorial is known to work for these versions.  Other versions may also work.

However given that 2017 is mentioned in the tutorial, and not in the connector article, I will flag this for reconciliation.

[2020-06-25 23:24] GiftA-MSFT commented on #57876
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-25 23:24] cg6 commented on #57668
Thanks I've opened a ticket and they've escalated to product group.

[2020-06-25 23:25] fbinotto commented on #49792
We are having the same issue. ASA traffic is sent to Syslog collector on port 514 UDP but traffic never gets to Sentinel through the CEF connector.

The CEF connector shows as connected and we can see the MOCK entries in the CommonSecurityLog table in Log Analytics but no real traffic.

We have the following in the config file:

:rawmsg, regex, "CEF"|"ASA"
*.* @@127.0.0.1:25226

Any suggestions?

[2020-06-25 23:26] r-milne opened #57910 "Please correct all instances of ADFS"
It should be AD FS.

Note the space...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless sign-in with the Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure

[2020-06-25 23:28] GiftA-MSFT commented on #57879
@dargilco we will review your feedback and get back to you shortly. Thanks.

@xiaojul please review above feedback for doc enhancement. Thanks.

[2020-06-25 23:29] ggailey777 commented on #57898
@eljacobsen12 the article is actually written specifically for VS2019, but there are some extra steps for VS2017. I’ll try to make that more clear. Do you have any ideas on how we could make it more clear? Maybe the Note was confusing? Thanks!

[2020-06-25 23:30] JamesTran-MSFT commented on #57910
@r-milne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-25 23:31] Karishma-Tiwari-MSFT commented on #57872
@TomHickling Do we have any insights on the roadmap for Spring release GA, that can be shared at this point?

[2020-06-25 23:31] JamesTran-MSFT commented on #57908
@paratz
Thanks for your feedback and question!

I have assigned this question to the author who will investigate and update as appropriate.

[2020-06-25 23:39] JamesTran-MSFT commented on #57910
@r-milne
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-06-25 23:39] #57910 closed

[2020-06-25 23:41] GiftA-MSFT commented on #57881
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-25 23:41] #57881 closed

[2020-06-25 23:42] Mike-Ubezzi-MSFT commented on #57901
@justinstigall An update has been made and will be published within the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-25 23:42] #57901 closed

[2020-06-25 23:43] BharathNimmala-MSFT commented on #57467
@vboyev-MSFT Apologies for delayed response. Post validation with our internal product team it was called out that Log Analytics was not listed explicitly as the data source with in PowerBI because it integrate as a generic data source via mquery. That's the reason we don't have it listed.

Hope the above information helps. At this point it appears that there's no further edits or updates needed t

[2020-06-25 23:43] #57467 closed

[2020-06-25 23:49] GiftA-MSFT commented on #57882
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-25 23:49] #57882 closed

[2020-06-25 23:50] ahmedmuhi opened #57911 "Question about a variable $blobStorageAccount not identified in the same page"
[Enter feedback here]

Hello All,

I am asking about the variable ($blobStorageAccount) in the following code:

------
$storageConnectionString=$(az storage account show-connection-string --resource-group $resourceGroupName `
  --name $blobStorageAccount --query connectionString --output tsv)

az functionapp config appsettings set --name $functionapp --resource-group $resourceGroupName `
  --setti

[2020-06-25 23:53] GiftA-MSFT commented on #57884
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-25 23:53] #57884 closed

[2020-06-25 23:56] MonikaReddy-MSFT commented on #57469
@annelo-msft -  I'm going to assign this to the document author so they can update the document accordingly.

[2020-06-25 23:56] GiftA-MSFT commented on #57885
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-25 23:56] #57885 closed

[2020-06-25 23:57] BharathNimmala-MSFT commented on #57896
@divurgentuser Thank you for reaching out to us. Our team will look into it and get back to you at the earliest.

[2020-06-26 00:03] BharathNimmala-MSFT commented on #57859
@xristos8574  Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-26 00:05] BharathNimmala-MSFT commented on #57875
@Haritha-Nuthi Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-26 00:06] BharathNimmala-MSFT commented on #57867
@scott1138 Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-26 00:08] GiftA-MSFT commented on #57892
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-06-26 00:12] Karishma-Tiwari-MSFT commented on #56711
@mbiver Looks like this issue was resolved with https://github.com/MicrosoftDocs/azure-docs/issues/55818
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-26 00:12] #56711 closed

[2020-06-26 00:12] BharathNimmala-MSFT commented on #57889
@JHStarner  Thank you for your feedback. We will look into it and get back to you at the earliest.

[2020-06-26 00:15] BharathNimmala-MSFT commented on #57907
@rameshjanjyam Thank you for your query. Our team will look into it and get back to you at the earliest.

[2020-06-26 00:16] GiftA-MSFT commented on #57892
@xiaojul please review above feedback including [[57894](https://github.com/MicrosoftDocs/azure-docs/issues/57894)], [[57895](https://github.com/MicrosoftDocs/azure-docs/issues/57895)]. Thanks.

[2020-06-26 00:16] GiftA-MSFT commented on #57895
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-26 00:16] #57895 closed

[2020-06-26 00:16] MartinJaffer-MSFT commented on #57772
@yang-jiayi  Thank you for bringing this to our attention.  I have started a pull request with the correction.

[2020-06-26 00:16] #57772 closed

[2020-06-26 00:17] GiftA-MSFT commented on #57894
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-26 00:17] #57894 closed

[2020-06-26 00:18] Karishma-Tiwari-MSFT commented on #56948
Sorry for the delay on this. Wanted to check if you are still seeing this issue?

[2020-06-26 00:22] GiftA-MSFT commented on #57876
@dargilco thanks for your feedback. I have referenced this issue above and will proceed to close. Thanks.

[2020-06-26 00:22] #57876 closed

[2020-06-26 00:27] Karishma-Tiwari-MSFT commented on #56953
@MashaMSFT Did you get a chance to look into this issue? Looks like public load balancer is not supported. Can you help confirm on the same? Thanks :)

[2020-06-26 00:31] markgibbons25 opened #57912 "Azure Front Door caching page out of date"
This page looks very out of date. It doesn't seem correct either as I am seeing different behaviour depending on this header: `cache-control: no-cache, no-store` vs  `cache-control: no-cache`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a80-1344-07a9e0063951
* Version Independent ID: c0cff4d9-d7fd-7b2

[2020-06-26 00:46] villyg commented on #57902
Hi,
Sorry I wasn't more detailed in the feedback.

I think this line ....
<LocalizedString ElementType="UxElement" StringId="email_pattern">^[a-zA-Z0-9.!#$%&amp;''+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$</LocalizedString>

... should have this regex instead ^[a-zA-Z0-9.!#$%&amp;'^_`{}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$

the regex I'm proposing actually came from here:
https://github.co

[2020-06-26 00:48] asinn826 commented on #57816
We want to remove RHEL 6 from the list of endorsed distros. There doesn't seem to be a process for this so I just removed it from the doc.

[2020-06-26 00:51] SnehaGunda commented on #57893
@DarinMacRae Looks that that statement should be fixed to. I can fix the doc:

collection = await client.CreateDocumentCollectionAsync(UriFactory.CreateDatabaseUri("db"), collection);

[2020-06-26 00:55] kphillpotts opened #57913 "Wrong variable name used in sample"
If I'm not mistaken, when the original name of the VM is retrieved it is stored in a variable `sourceVM`

[code]

but later it refers to $vm in the text and sample

[code]

I think it just needs to be updated to `$sourceVM`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version In

[2020-06-26 01:03] malopMSFT commented on #57853
it's listed here:
https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#availability
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-link-resource
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns

#please-close

[2020-06-26 01:03] #57853 closed

[2020-06-26 01:06] yeswps opened #57914 "Microsoft.Compute/virtualMachines - Network In Total - Network Out Total"
[Enter feedback here]
For Microsoft.Compute/virtualMachines
 Network In Total
 Network Out Total

What's the period of this metric? One sec? One Minute? One Hour? It's not clear in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a

[2020-06-26 01:23] cynthn commented on #57913
@kphillpotts Thanks for catching that! You are correct, I wasn't consistent about what I was using for the variable name for the source VM. I filed a PR to clean that up. Thanks again!

#assign @cynthn

#please-close

[2020-06-26 01:23] #57913 closed

[2020-06-26 01:29] greendx commented on #56933
Hi - Sorry for a delayed response. I think you misunderstood my issue. I am able to successfully bulk invite guest users via powershell. The problem I am running into is bulk adding those invited users into security groups in my tenant.

I am using their UPNs to invite them using the GroupImportMembersTemplate and getting this error: "No user with this user name/object ID exists in this group. Cha

[2020-06-26 01:37] RonnieQuan opened #57917 "Question About Defined Route"
I noticed that following rule is documented in UDR section

subnet_to_vnetlocal | MI SUBNET | Virtual network

Can you please explain why this rule is needed, it is not in the system default route and we have to add it via UDR?

-- | -- | --

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547

[2020-06-26 02:00] reinux commented on #57518
Does an AAD tenant _become_ a B2C tenant? Because I'm looking at it under the AAD blade and it's not showing up there either.

[2020-06-26 02:09] dimaqq commented on #54628
Don't you just love it how azure and github belong to the same company, yet users are pushed to report issues to a custom forum, which is neither globally searchable nor always works (I did try to post this, but alas), while there's a nice, accessible, public space right here! 😠

[2020-06-26 02:26] msmimart commented on #57164
Hi @CeciAc, you're correct, the setting should be "Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2C." We recently updated the [en-us version](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga) of the article, but the updated German version will lag behind a bit; localized versions

[2020-06-26 02:26] #57164 closed

[2020-06-26 02:31] xyz92 commented on #57835
Thank you! Could you please also include in the documentation what LinkedService to choose along with JSON example code? On trying to search for Office365, I didn't see any LinkedService matching that name.

![image](https://user-images.githubusercontent.com/6519992/85814215-4ef60480-b71a-11ea-9417-e0a3d4b08f75.png)

[2020-06-26 02:31] YatseaLi opened #57919 "Need elaboration about Sign on URL"
During the step of Configure Azure AD single sign-on, the description of Sign on URL is ambiguous,People tend to mistake the Sign on URL as the non-SSO url.

4.On the Basic SAML Configuration section, perform the following steps:
SAP Business ByDesign Domain and URLs single sign-on information
a. In the Sign on URL text box, type a URL using the following pattern: https://<servername>.sapbydesign.

[2020-06-26 02:38] jdelforno commented on #54536
Hey Yelevin,

If I open the Azure portal and click "All Services" and type in "Workspaces", I get the new Workspaces preview.

Too add - and I recognise in context with the rest of the documentation, it should be taken as a Log Analytics Workspace - if we look at other Azure offerings, we also find that Databricks have a workspace as well:
https://docs.microsoft.com/en-us/azure/databricks/workspac

[2020-06-26 02:38] spelluru commented on #57911
Hi @ahmedmuhi - It's set as part of the tutorial in the prerequisites section:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=dotnet#create-a-storage-account

If you are running the current tutorial in a different session, yes, you need to set that variable again.

Thanks & Regards,
Sreedhar

[2020-06-26 02:57] dcbrown16 commented on #57334
@AjayKumar-MSFT I just tagged you in a Teams thread where we were recently told to use the TXT value from the latest document, i.e. the asuid value not awverify.
Please make this change high priority - it's causing confusion in multiple CSS cases.

[2020-06-26 02:57] bunkrur opened #57920 "This document references a feature that is not implemented."
Is there a date for this feature's implementation? Another page listed June, but June is nearly over. When will this living document reference the released feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33dbe714-4b2a-d075-432d-ed335d2d8f5c
* Version Independent ID: 6e320d60-5629-bb9b-c49b-92a1fa5ba56d
* Conten

[2020-06-26 03:00] KrishnaG-MSFT commented on #57914
@yeswps Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-26 03:02] KrishnaG-MSFT commented on #57920
@bunkrur Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-26 03:05] YatseaLi opened #57921 "Wrong sample about Manage user claim"
During the step of Configure Azure AD single sign-on
On the Manage user claims section, perform the following steps:
a. Select Transformation as a Source.
b. In the Transformation dropdown list, select ExtractMailPrefix().
c. In the Parameter 1 dropdown list, select the user attribute you want to use for your implementation. For example, if you want to use the EmployeeID as unique user identifier

[2020-06-26 03:12] SatishBoddu-MSFT commented on #57897
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-26 03:29] alexanderperlis commented on #42906
@mayankprayas , I ran into the same error, for me it was this: the code_verifier that you initially generate can indeed be 43 to 128 characters; then you compute base64(sha256(code_verifier)) to get your code_challenge. This code_challenge will be either 43 characters if the base64 encoder did not pad, otherwise 44 characters if the base64 encoder produced multiple-of-4 padded output but the last

[2020-06-26 03:29] varshhub commented on #9942
I am seeing the same issue where the nodes are not showing up, this is Ubuntu one, do we know what is causing this and how to resolve?

![image](https://user-images.githubusercontent.com/35385560/85817328-8b2d6300-b722-11ea-9e0c-0e3b7e732468.png)

[2020-06-26 03:37] ahmedmuhi commented on #57911
@spelluru thank you for prompt response, just wanted to confirm that, have a great weekend.

Cheers,
Ahmed Muhi

[2020-06-26 03:38] #57911 closed

[2020-06-26 03:52] mattgaspar opened #57922 "Static website hosting in Azure Storage Requirements"
Static website hosting in Azure Storage appears to require the storage account is v2 but there is no mention of this.

My storage account that is "Storage (general purpose v1)" has no Static website section in the settings making it really difficult to follow this guide, especially with instructions being very vague and having no images of the settings to look for!

As soon as I looked at this oth

[2020-06-26 04:00] v-nagta commented on #56718
@dominik-lekse We have updated the article

#please-close

[2020-06-26 04:00] #56718 closed

[2020-06-26 04:05] qianw211 commented on #57356
@SwiftDavid Two questions for you:
1.	Register for which program?
2.	What was the country that was selected? In most cases, VAT ID is optional.

[2020-06-26 04:14] SwatiBhat-MSFT commented on #57714
We have raised the PR and the link will be fixed once the merge is complete. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-26 04:14] #57714 closed

[2020-06-26 04:16] peermetrix-joe opened #57924 "Minor typo"
There is a minor typo on this page.

In the second to last text block of the "Copy using PowerShell or the Azure CLI" section, the word "the" is repeated twice.

![image](https://user-images.githubusercontent.com/63654397/85819622-3863a380-b742-11ea-87ef-7eff69cbe519.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-26 04:17] YutongTie-MSFT commented on #57524
@AmitavaHazra
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-06-26 04:17] #57524 closed

[2020-06-26 04:18] SwatiBhat-MSFT commented on #57505
A PR has been raised to fix the typo and it should reflect once the merge is complete.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-26 04:18] #57505 closed

[2020-06-26 04:19] femsulu commented on #57466
thanks for clarifying, Dina. If I understand correctly, you are proposing revising the statements in both pages to further explain the root cause of downtime (if any) during a move operation. Let me take this offline between you and the content owner to see how we can clarify these complimentary statements.

Stay tuned.

[2020-06-26 04:29] TravisCragg-MSFT commented on #57867
@scott1138 This question can be complicated, and the answer is 'possibly'. Let me explain deeper on the various mechanics involved.

First, [the TCP timeout on Azure Load Balancers is configurable, and is 4 minutes by default](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-tcp-idle-timeout#:~:text=%20Configure%20TCP%20idle%20timeout%20settings%20for%20Azure,to%2015...%204%20Nex

[2020-06-26 04:30] AjayKumar-MSFT commented on #57516
Upon checking this further, I have assigned the issue to the content author to review and update the document as appropriate. Thanks again for bringing this to our attention.

[2020-06-26 04:34] ram-msft commented on #57900
@tarockey Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-26 04:42] TravisCragg-MSFT commented on #57906
@naveedzaheer Thanks for the feedback! I have changed the sub resource to 'sites'. The docs should reflect this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-26 04:42] #57906 closed

[2020-06-26 04:43] dcbrown16 opened #57925 "Link update?"
I think the link at the end of this section needs to be updated.
"The audit logs report is available for features for which you have licenses. If you have a license for a specific feature, you also have access to the audit log information for it. For more details, see Azure Active Directory features and capabilities."

The link points here:
https://www.microsoft.com/cloud-platform/azure-active-dir

[2020-06-26 04:50] VikasPullagura-MSFT commented on #57871
Document is updated and changed will go live soon.

[2020-06-26 04:54] #57871 closed

[2020-06-26 05:02] VikasPullagura-MSFT commented on #57848
@mmoioli I have updated the document and changes will go live once the PR is approved.

[2020-06-26 05:02] #57848 closed

[2020-06-26 05:04] VikasPullagura-MSFT commented on #57826
@TomGeske Thanks for sharing the details and updating the document.

[2020-06-26 05:04] #57826 closed

[2020-06-26 05:09] VikasPullagura-MSFT commented on #57816
@asinn826 Thanks for confirming on this.

@dcbrown16 Hope the provided information is helpful.

[2020-06-26 05:13] kazshi opened #57926 "Maintenance state"
All the Maintenance state shows "Pending" in this page, what would the Maintenance state be after clicked 'Apply maintenance now'? I couldn't find any detailed information of the Maintenance state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7602a54a-99b1-11b8-7aa2-3c824545d9a9
* Version Independent ID: a7202754-185

[2020-06-26 05:17] shashishailaj commented on #57925
@dcbrown16 Thank you for your feedback . We will have this checked and update the thread.

[2020-06-26 05:19] shashishailaj commented on #57912
@markgibbons25 Thank you for your feedback . we will have this reviewed with the content authors and update this thread.

[2020-06-26 05:21] ram-msft commented on #57692
@lobrien We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-26 05:21] #57692 closed

[2020-06-26 05:21] shashishailaj commented on #57899
@babukumarg Thank you for your feedback . We would review this request and update the thread.

[2020-06-26 05:23] shashishailaj commented on #57919
@YatseaLi Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 05:23] shashishailaj commented on #57921
@YatseaLi Thank you for your feedback . We will investigate and update the thread.

[2020-06-26 05:24] shashishailaj commented on #57873
@nkumars  Thank you for your query . We will investigate and update the thread.

[2020-06-26 05:30] AnuragSharma-MSFT commented on #57924
@peermetrix-joe Thank you for the feedback. We will get it updated and get back to you soon.

[2020-06-26 05:30] Mike-Ubezzi-MSFT commented on #57532
@ThomasVandenbon Apologies for the delay in getting back to you with regard to this issue. Did you get this resolved or are you still requiring assistance? In looking into this, [Replace Offer](https://docs.microsoft.com/en-us/rest/api/cosmos-db/replace-an-offer) REST operation indicates that a [response status code](https://docs.microsoft.com/en-us/rest/api/cosmos-db/replace-an-offer#status-codes

[2020-06-26 05:30] #57532 closed

[2020-06-26 05:36] AjayKumar-MSFT commented on #57334
Iain, Apologies for the delay! We have been discussion on this internally with the product team and author, we will review further and make appropriate changes in the document as required. Thanks for your feedback and support.

[2020-06-26 05:45] thisissubbuster commented on #57435
Thanks axisc
But for the secondary service bus how do I resolve the DNS to point to Premium namespace?
My intention is to resolve both the primary and the secondary service bus Standard namespaces to point to the Premium namespace so that the existing users do not have to change their connection strings.

[2020-06-26 05:46] kazshi opened #57927 "sample Azure Functions to automate platform updates for maintenance window"
"Automate platform updates for your maintenance window using Azure Functions"
Is sample code available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69a7e2e-dfa7-1fcf-e2f6-781ecd0a7ccf
* Version Independent ID: 4c6c22d7-0c67-47be-d241-de0d01c8603a
* Content: [Overview of Maintenance control for Azure virtual machine

[2020-06-26 05:51] AnuragSharma-MSFT commented on #57924
@peermetrix-joe  Thank you for pointing out the issue, I have updated the document content accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-26 05:51] #57924 closed

[2020-06-26 05:54] speedyps opened #57928 "Truncated Bearer Tokens for Authorization header using Try it"
I have an API which is secured using Auth0 for OpenID authorization.  Developers (and the sales team) like to demonstrate the API using the 'Try it' button

It is a very standard setup in the OAuth 2.0 in the Developer Portal section of the APIM.

Using the old developer portal, when I choose the authorization of "Authorization code", the system populates the Authorization header with Bearer and a

[2020-06-26 05:57] speedyps commented on #57928
Meant to put in Azure/api-management-developer-portal

[2020-06-26 05:57] jain6968 commented on #38319
The issue seems to be occurring  when deploying code in Linux VM

Unhandled Exception: System.AggregateException: One or more errors occurred. (Failed to initialize blob backend.) ---> Microsoft.AzureStack.Services.Storage.Blob.BlobClientException: Failed to initialize blob backend.
   at Microsoft.Azure.Devices.BlobStorage.Common.BlobUtil.InitializeBlobBackend(String rootPath, String logLevel, St

[2020-06-26 05:58] jain6968 opened #57929 "Issue when code is deployed in Linux VM and trying to connect with blob storage container"
Issue when code is deployed in Linux VM and trying to connect with blob storage container

Below is the error:
Any hints?

Unhandled Exception: System.AggregateException: One or more errors occurred. (Failed to initialize blob backend.) ---> Microsoft.AzureStack.Services.Storage.Blob.BlobClientException: Failed to initialize blob backend.
at Microsoft.Azure.Devices.BlobStorage.Common.BlobUtil.Init

[2020-06-26 06:01] SnehaAgrawal-MSFT commented on #57909
@PhilLepanto Thank you for your feedback . We will investigate and update the thread .

[2020-06-26 06:05] #57928 closed

[2020-06-26 06:05] speedyps commented on #57928
I have logged it in Azure/api-management-developer-portal issues

[2020-06-26 06:05] shashishailaj commented on #54633
@Tbohunek This has been fixed and the article is updated now.

Thank you.

[2020-06-26 06:10] Tbohunek commented on #54633
Hey,

thanks for the update @shashishailaj , really cool that it was done at all!
However I think now the index is a bit premature, it switches to new chapter when it's in like 1/2 of the screen. It would feel much  more natural if it did when the appropriate section is at 2/3 of screen height. I believe now that the function exists, it's just a matter of changing a number.

Possible?
Thanks and g

[2020-06-26 06:11] dcbrown16 commented on #57816
@asinn826 that's fine, but it got unremoved by the subsequent edits.
![image](https://user-images.githubusercontent.com/34466884/85826173-e8ccaa00-b738-11ea-8c0b-9ebe700d2d79.png)

The next edit after your PR reverted some stuff.
https://github.com/MicrosoftDocs/azure-docs/commit/528e8af9b62b171d33aaf2b9ef0196db73676932#diff-3f3570d83c2a6c431182ec0ebaff1a76
I only happened to notice this because I