[2022-03-08 10:46] #89400 closed

[2022-03-08 10:56] yang-jiayi commented on #89386
@CHEEKATLAPRADEEP-MSFT
Thanks for the reply.
<img width="1345" alt="image" src="https://user-images.githubusercontent.com/28970082/157224849-bd055df5-4390-4294-abbc-031e61005313.png">
This is a spark pool 3.1 and Managed VNet+DEP-Enabled environment.

[2022-03-08 10:58] matudose opened #89403 "Article is not accurate - cannot pass parameters as indicated - these have to be passed as a hash"
[Enter feedback here]

New-AzResourceGroupDeployment -Name $deploymentName -ResourceGroupName RG_Hybrid_Cloud -TemplateFile template.json -storageName "kikirikimikistorage1"
New-AzResourceGroupDeployment : A parameter cannot be found that matches parameter name 'storageName'.

It works if it is used like this:
$hash1 = @{ storagename = "kikirikimikistorage" }
New-AzResourceGroupDeployment -Name $d

[2022-03-08 11:15] RohitMungi-MSFT commented on #89379
@captainmike Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-08 11:48] GitaraniSharma-MSFT commented on #89324
@hisasima , I reached out to the Azure Bastion Product group team and they have mentioned that they will look into WinSCP download, and will update both English & Japanese docs to reflect the correct information soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-03-08 11:48] #89324 closed

[2022-03-08 11:54] AjayKumar-MSFT commented on #89207
joesessions, The .sln file has been added Thanks for taking time to share your feedback to improvement Azure docs.

[2022-03-08 11:54] #89207 closed

[2022-03-08 11:56] RohitMungi-MSFT commented on #89402
@spustlik The sample for the browser is actually available on the [Javascript ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=windowsinstall%2Cterminal&pivots=programming-language-javascript#set-up-the-environment)tab with link to the sample in the note section at the bottom of the page.

[2022-03-08 12:12] mepand commented on #88964
Thanks for the feedback. I have updated the document. The change should be live in a few hours.

[2022-03-08 12:31] SaiKishor-MSFT commented on #89087
This has been updated and will be reflected shortly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 12:31] #89087 closed

[2022-03-08 12:40] hiLemontree commented on #88595
@kobulloc-MSFT, thanks for your kindly help. Would like to double confirm the below:
Do you mean Classic administrators ( Service administrator, Account administrator and Co-administrator) does qualify to get Subscription level emails (List of affected VM’s in case of planned maintenance activity ) ?

Thank you!

[2022-03-08 13:00] dustinhess commented on #88217
I haven't made any changes, I just suggested changes because the current experience doesn't match the article. After @v-hagamp 's post, I went back and looked and found 20+ differences, but frankly, I can't be bothered to do your job for you.

[2022-03-08 13:09] RohitMungi-MSFT commented on #89383
@georgeOsdDev Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-08 13:10] danieldespainTLS opened #89407 "Add an example that returns all properties of a document in a JOIN query"
See this related gitHub issue for the complete conversation:

https://github.com/MicrosoftDocs/azure-docs/issues/89188

The key point is to show an example that uses SELECT **VALUE f** to return the complete document(s) as opposed to examples that return just a few properties with SELECT **f.id, f.familyName**

---

Yes, that query works fine.  My "issue" is that **_the documentation_** doesn't gi

[2022-03-08 13:11] przem opened #89408 "Storing sensitive data as custom attributes"
It is stated in the doc:

I would like to know whats the impact and the reason why sensitive data cannot be stored as custom attributes.
And if so, what is the preferred and safe way to do it.

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b30bc6cd-5d1a-6966-747e-ec03607d8967
* Version Independent ID: 5e6fd653

[2022-03-08 13:12] danieldespainTLS commented on #89188
Didn't have time yesterday.  I've just done it now.  Issue #89407

I looked at both pages during my quest for knowledge, and wasn't sure which to target for posting my "issue."  Eventually I flipped a coin :-)

[2022-03-08 13:28] AnuragSharma-MSFT commented on #89188
@danieldespainTLS Thanks for going through extra efforts to create a new issue. Really Appreciate. We will push the changes through the other issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-08 13:28] #89188 closed

[2022-03-08 13:29] AnuragSharma-MSFT commented on #89407
@danieldespainTLS Thank you for creating a new issue. We will create a pull request with these changes and update you with the details on this thread.

[2022-03-08 13:35] SaiKishor-MSFT commented on #89173
@johnayoub Yes, a global policy applied to the Application Gateway level will be applies to all sites including the per URI sites i.e., Cookie 1 and Cookie 2 will be excluded. Please let us know if you have further questions. Thank you!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion

[2022-03-08 13:35] #89173 closed

[2022-03-08 13:46] bhavana-129 commented on #88032
We have made changes in another PR as per suggestion.
So #please-close .

[2022-03-08 13:46] #88032 closed

[2022-03-08 13:48] bwarren18 commented on #79634
@MsGabsta  We have had issues with deploying diagnostics extension using ARM templates and want to ensure our code is correct and using the proper schema.

The link included in the original post says to use the following command to get the PaaSDiagnostics schema.

`(Get-AzureServiceAvailableExtension -ExtensionName 'PaaSDiagnostics' -ProviderNamespace 'Microsoft.Azure.Diagnostics').PublicConfigura

[2022-03-08 13:51] zeeshaanali commented on #89323
Hi @SadiqhAhmed-MSFT , Yes, I had tried that as well by explicitly adding the port 5986 from inside the VM in Windows Firewall.

[2022-03-08 13:52] j0gz commented on #69658
Hello @psmanhas
Please comment with an update on this
Thanx

[2022-03-08 13:55] SaiKishor-MSFT commented on #89353
@KumudD Can you please look into this?

[2022-03-08 14:04] bmansheim commented on #86968
The PR was merged into the docs to remove references to Dependency agent.

#please-close

[2022-03-08 14:04] #86968 closed

[2022-03-08 14:11] omar-nav commented on #89365
Thank you for this information. After watching the video I understand Baltimore cert is expiring soon and new devices should have the following certificates in their trust store: [DigiCert Global Root G2](https://www.digicert.com/kb/digicert-root-certificates.htm) & [Microsoft RSA Root Certificate Authority 2017](http://www.microsoft.com/pkiops/certs/Microsoft%20RSA%20Root%20Certificate%20Authorit

[2022-03-08 14:18] AbbyMSFT commented on #86064
#reassign: @AaronMaxwell

[2022-03-08 14:19] AbbyMSFT commented on #86064
#assign: @TimothyMothra

[2022-03-08 14:33] PRMerger15 commented on #17697
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-08 14:41] demaford opened #89410 "github.com/MicrosoftDocs/az"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-03-08 14:42] demaford opened #89411 "Dogghq"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-03-08 14:45] SadiqhAhmed-MSFT commented on #89323
@zeeshaanali You don't have Just In Time access enabled, do you? from your FW rules I see in Azure, that looks like it likely is not the case, but a thought.

[2022-03-08 14:48] logcorner opened #89412 "AZURE API MANAGEMENT : An error has occurred while authorizing access via oauth2 authorization Server: invalid_request AADB2C90010: The request does not contain a scope parameter. Correlation ID: 489cc6a3-7ec6-4623-a570-63ee1b4982ee Timestamp: 2022-03-08 14:15:36Z"
![API SCOPE](https://user-images.githubusercontent.com/5066547/157261277-b4fa4f3c-742e-42b8-8c40-c94417a5aa2c.png)
![DEFAULT SCOPE](https://user-images.githubusercontent.com/5066547/157261282-d30bc783-0571-409a-95d5-984491cdc7e3.png)
![ERROR](https://user-images.githubusercontent.com/5066547/157261284-1afc15bb-ab4d-4df0-8dfa-2e9ae345d352.png)

Hi, when calling my APIs from the developer portal by

[2022-03-08 14:52] SumanthMarigowda commented on #89135
@WenJason Thanks for reaching out to us with your query.  As I understand from your query, you want to configure blobfuse for a sovereign cloud storage.
Blobfuse does support it and you need to provide “blobEndPoint” in the config file.
There is a sample config file for the same in our repo and you can refer it. [azure-storage-fuse/connectionUSGov.cfg at master · Azure/azure-storage-fuse (github.c

[2022-03-08 14:52] #89135 closed

[2022-03-08 14:53] shashishailaj commented on #89408
@przem
Thank you for your feedback . We will investigate and update the thread.

[2022-03-08 14:54] MicrosoftGuyJFlo commented on #89388
Covered in the [overview article](https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#permissions). Will add a link back to it in a future update. https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#permissions

[2022-03-08 14:54] MicrosoftGuyJFlo commented on #89388
#reassign:@MicrosoftGuyJFlo

[2022-03-08 14:55] MicrosoftGuyJFlo commented on #89388
#please-close

[2022-03-08 14:55] #89388 closed

[2022-03-08 14:57] shashishailaj commented on #89410
@demaford Thank you for posting to this repo. We use azure-docs repository for collecting feedback on azure documentation . Did you have any issue with any of the azure documents or any azure products ? If you can let us know the information we can help you better.

[2022-03-08 14:59] sdgilley commented on #88070
I deleted the section that mentions the IDs.  The filtering was an optional step, and it isn't easy to obtain the IDs that are mentioned.

You should see the new version of the document by now.

[2022-03-08 15:36] nitinkhandelwal26 opened #89413 "Can you please provide reference for Terraform to implement above add on."
[Enter feedback here]
Please provide some sample to implement this add on using terraform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36c-7456-70accfe452c2
* Content: [Use the Azure Key Vault Provider for Secrets Store CSI Driver for Azur

[2022-03-08 15:50] Corina-github opened #89414 "Contradictory information related to AAD Connect and Public folders sync - AAD Connect KB"
Hi,

We would like to signal a documentation discrepancy that one our customers complained through a support ticket.
This is related to the information from this KB https://docs.microsoft.com/en-us/exchange/hybrid-deployment/set-up-modern-hybrid-public-folders#step-2-synchronize-mail-enabled-public-folder-objects-to-exchange-online under Step 2 : **_Azure AD Connect sync doesn't synchronize mail-e

[2022-03-08 15:59] JamesTran-MSFT commented on #89414
@Corina-github
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-08 16:04] PRMerger14 commented on #18290
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-08 16:04] magrande commented on #18290
#please-close

[2022-03-08 16:04] PRMerger18 commented on #18290
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-08 16:06] SarveshPandey opened #89415 "The current user has exceeded the maximum number of concurrent queries allowed by the server.,Source=Microsoft Salesforce ODBC Driver"
What is the number of concurrent queries allowed by the server. How to increase its limits and workaround?
Source - Salesforce
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7-4bee-24d243509e45
* Content: [Copy data from and to Salesforce -

[2022-03-08 16:51] ManCalAzure commented on #81361
Getting Error with Azure CLI:
az network routeserver create -g RG-ARS --name ARS-1 --hosted-subnet RouteServerSubnet
(InvalidRequestFormat) Cannot parse the request.
(InvalidRequestFormat) Cannot parse the request.

PowerShell Error:
PS C:\Users\manny> New-AzRouteServer

cmdlet New-AzRouteServer at command pipeline position 1
Supply values for the following parameters:
(Type !? for Help.)
Resource

[2022-03-08 16:55] lnyswonger opened #89416 "Test Issue"
This is a test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09db0481-75ce-3410-f2c4-f777d88bbabc
* Version Independent ID: c7ebb945-1dd2-afff-1041-7a152cc1d717
* Content: [What is Azure Private 5G Core Preview?](https://docs.microsoft.com/en-us/azure/private-5g-core/private-5g-core-overview)
* Content Source: [artic

[2022-03-08 17:03] devsheoran opened #89417 "Parameter misspelt"
Parameter 'DiskEncryptionSecretUrl'  misspelt for Example 7 on this [link ](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/new-azrecoveryservicesasrreplicationprotecteditem?view=azps-7.3.0#example-7).

[2022-03-08 17:08] GitaraniSharma-MSFT commented on #81361
@ManCalAzure , The "**--hosted-subnet**" in the CLI command is the resource ID of the RouteServerSubnet which generally starts with '/subscriptions/' and NOT just the subnet name.

To obtain and store the resource ID of the RouteServerSubnet to the subnet_id variable, use [az network vnet subnet show](https://docs.microsoft.com/en-us/cli/azure/network/vnet/subnet#az_network_vnet_subnet_show), afte

[2022-03-08 17:11] trailstrider opened #89419 "Typo in CLI code for deployment section"
Currently the CLI code is the following:

`
az group create --name arm-vscode --location eastus

az deployment group create --resource-group arm-vscode --template-file azuredeploy.json --parameters azuredeploy.parameters.json
`

The second line is incorrect. The keywords 'deployment' and 'group' have been accidentally swapped in their order, and the command will not work as shown.   Given the cont

[2022-03-08 17:43] KranthiPakala-MSFT commented on #89415
@SarveshPandey Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your query is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](http

[2022-03-08 17:49] KranthiPakala-MSFT commented on #89415
This limit is from Salesforce and not from ADF. The salesforce servers enforce the limit on requests as protection from Denial-of-Service attacks.

1. Please check the number of API usage and max allowed under Setup > System Overview in their Salesforce system.
2. API Request Limits and Allocations documentation can be found here: [https://developer.salesforce.com/docs/atlas.en-us.salesforce_app_l

[2022-03-08 17:49] #89415 closed

[2022-03-08 17:50] AlanPintor-git commented on #89170
Thank you for your replay,
As I corrected in my post, I am using the C# sample.
While running the right file, I am getting new bugs. I hope you can help.

In the screenshots below the suggestion is to use "--help" but I am not sure where:
![line 43](https://user-images.githubusercontent.com/81703131/157295390-ee58457a-b7d2-4b0d-8edf-896eb3f208bb.PNG)

Start without debugging:
![start without debug

[2022-03-08 17:51] nigelmeakins opened #89421 "Please Rewrite the Example of Serialised Transactions with more illustration"
In the paragraph
"
For example, consider txn1, a long running delete and txn2, which inserts data deleted by txn1. txn2 and txn1 complete and they are recorded in that order in the history. According to the history, the data inserted in txn2 should not exist in the table. For Serializable level, a reader would never see data inserted by txn2. However, for the WriteSerializable level, a reader coul

[2022-03-08 17:53] VikasPullagura-MSFT commented on #89242
@jmalouf69 I checked with product team on this, and this will be GA in a month from now. There is no exact date to share for this.

[2022-03-08 17:53] VikasPullagura-MSFT commented on #89242
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-08 17:53] #89242 closed

[2022-03-08 17:57] mathowar opened #89422 "Number of Remote Streams for Web has Increased"
According to https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features#calling-sdk-streaming-support, the Web SDK can now render 4 video streams + 1 screen sharing stream. There is a note that says we only support one incoming stream.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-03-08 18:04] Heidilohr commented on #86548
Thank you for bringing this to our attention! RDP Shortpath does support Windows 11. I've updated the page, and the update should go live later today. #please-close

[2022-03-08 18:04] #86548 closed

[2022-03-08 18:30] MonikaReddy-MSFT commented on #89419
@trailstrider - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 18:30] #89419 closed

[2022-03-08 18:31] DCurtin opened #89423 "More details about the behavior of this tech profile other settings/parameters if they exist"
I'm trying to find info on how long the OTP codes last (from when the code is generated, when do they expire)
I'm also trying to find if any of these parameters can be modified, like code length (number of digits) as well as expiration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5173ffe-41ca-249e-4331-ca29a5146a40

[2022-03-08 18:33] MonikaReddy-MSFT commented on #89417
@devsheoran - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 18:33] #89417 closed

[2022-03-08 18:36] MonikaReddy-MSFT commented on #88964
@mepand - Thanks for raising the PR.
@cg6 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 18:36] #88964 closed

[2022-03-08 18:40] mike-urnun-msft commented on #89401
@oneAnuragByte Thank you for your feedback! I'm not seeing any references to the 3.4.0 version on this doc and I see that you've closed this issue, let me know if the issue still exists and I'd be happy to help mitigate it.

[2022-03-08 18:42] mike-urnun-msft commented on #89412
Thank you for your feedback! We will review and update as appropriate.

[2022-03-08 18:42] MonikaReddy-MSFT commented on #88972
@sedelrio - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-08 18:46] kobulloc-MSFT commented on #89185
Adding @mimckitt to see what is in scope for this area of the documentation.

[2022-03-08 18:48] JV-conseil opened #89424 "PgBouncer with sslmode=verify-full triggers SSL error sslv3 alert handshake failure"
Setting up `pgbouncer.client_tls_sslmode` to `verify-full` triggers OperationalError `root certificate file "/root/.postgresql/root.crt" does not exist`.

This happens also when setting `pgbouncer.client_tls_sslmode` to `verify-ca`.

According to [documentation](https://docs.microsoft.com/en-us/azure/postgresql/concepts-certificate-rotation#4-what-is-the-impact-if-using-app-service-with-azure-data

[2022-03-08 18:54] JamesTran-MSFT commented on #89423
@DCurtin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-08 19:01] ManCalAzure commented on #81361
Problem solved. Thank you.

[2022-03-08 19:03] SaiKishor-MSFT commented on #89376
@webpwnized Instructions to create ASG and assigning VMs to them are given in the following doc:

Create application security groups:
https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic#create-application-security-groups

Associate network interfaces to an ASG:
https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic#associate-networ

[2022-03-08 19:18] sefriend commented on #89328
Hi @dani3lheidemann, it seems that here you are referencing the Azure automation scaling script. Eventually, the scaling srcipt will be deprecated and we will only have Autoscale so we are focusing our improvements there.

For Autoscale (AVD's native scaling service) we are actually planning to use managed identities. AVD is integrating with managed service identities for the purpose of making our

[2022-03-08 19:24] webpwnized opened #89425 "Documentation unclear WRT health probes"
The documentation states:

"502 errors can also be frequent indicators that the default health probe can't reach back-end VMs."

but the health probe URL is listed as localhost 127.0.0.1. Is there an agent running on localhost? If the health probe is connecting to 127.0.0.1 from the gateway, how can it reach the backend pool? What is the nature of a health probe, from where does the probe originat

[2022-03-08 19:31] #89211 closed

[2022-03-08 19:33] SatishBoddu-MSFT commented on #89365
Hello @omar-nav There are completely different documentation or tutorials on this intermediate and leaf certificates topic!

Please visit these documents:

[IoT Edge certificates](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-certs?view=iotedge-2020-11#iot-edge-certificates)

[Register the X.509 certificate to IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-x509ca-concep

[2022-03-08 19:40] VikasPullagura-MSFT commented on #89413
@nitinkhandelwal26
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-08 19:40] VikasPullagura-MSFT commented on #89413
@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-03-08 19:41] kobulloc-MSFT commented on #89102
@valtynikov Quick update:  We have an updated code sample and are just waiting on verification.

[2022-03-08 19:43] ChaitanyaNaykodi-MSFT commented on #89425
Thank you for your feedback! We will review and update as appropriate.

[2022-03-08 19:50] webpwnized opened #89426 "Documentation is ambiguous concerning "Check NSGs""
The documentation states "Check NSGs associated with the application gateway subnet. Ensure that communication to the backend isn't blocked." The documentation is ambiguous because it does not explain what is "blocked" specifically, and more important, what must be allowed.

Please document fully exactly what source, destination, port, and protocol must be allowed. Please provide all source, desti

[2022-03-08 19:52] AlanPintor-git commented on #89170
Hi @AshokPeddakotla-MSFT, thank you for your reply.

These steps seem to be for IoT Hub and not IoT Central. Any suggestions?

[2022-03-08 19:55] webpwnized opened #89427 "Documentation is not specific on how to construct the NSG"
"If the VM is configured via Azure Resource Manager and is outside the VNet where the application gateway is deployed, a [Network Security Group](https://docs.microsoft.com/en-US/azure/virtual-network/network-security-groups-overview) must be configured to allow access on the desired port."

If the VM is configured via Azure Resource Manager and is outside the VNet where the application gateway is

[2022-03-08 20:24] Grace-MacJones-MSFT commented on #89422
Hi @mathowar , Thanks for your feedback! We will review and update this doc accordingly.

[2022-03-08 20:24] LitKnd commented on #87305
Hello,

I see that @scoriani 's change to add this wording has been merged in and is now live in the document.

Thanks @ammarp for this feedback and helping improve our documentation, and thanks @scoriani for taking care of this request. I am closing this out.

Cheers,
Kendra from the Database Docs team

#please-close

[2022-03-08 20:25] #87305 closed

[2022-03-08 20:29] LitKnd commented on #88418
#label:"sql-managed-instance/svc"

[2022-03-08 20:50] asudbring commented on #88875
Hi @alha3411
Thanks for the feedback!  We currently have plans to update this article shortly and will update the relevant sections.

#please-close

[2022-03-08 20:51] #88875 closed

[2022-03-08 20:51] kev1010 opened #89429 "Azure Storage Emulator is depreciated. Use Azurite instead"
The [Azure Functions Local page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-local) should be updated to use Azurite vs Azure Storage Emulator in the AzureWebJobsStorage setting description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad301acd-cfb9-5413-b882-e20e22632215
* Version Indepe

[2022-03-08 20:52] asudbring commented on #87993
Hi @Ratnavo ,

We are currently reviewing this document for editing and clarity and will update the relevant sections for better readability.
Thanks!

[2022-03-08 20:58] mike-urnun-msft commented on #89138
Upon review & as the next step, we are proceeding to assign the listed content author for this doc as this feedback is related to: #88546

[2022-03-08 21:09] spelluru commented on #88917
@jalexander-bb - could you give me the name of the support person so that I can follow up? Thanks.

[2022-03-08 21:19] LitKnd commented on #88035
Hello,

Quick status update -- we have an internal PR, #190776, open to work to handle this request.

Kendra from the Database Docs team

[2022-03-08 21:21] Heidilohr commented on #89328
This issue seems to have been resolved. #please-close

[2022-03-08 21:21] #89328 closed

[2022-03-08 21:21] #89042 closed

[2022-03-08 21:24] DeclareHigh opened #89430 "Incomplete restrictions on resizing large data disks"
Resizing a data disk from <= 4095 GiB to > 4095 GiB requires that the data disk be detached from the virtual machine prior to the resize operation.  Attempts to increase the size beyond 4095 GiB while the disk is still attached result in an error:

"Failed to update disk '<disk name>'. Error: Disks cannot be resized beyond 4095 GiB when attached to a VM. Detach disk <disk name> from VM <VM name li

[2022-03-08 21:28] MarileeTurscak-MSFT commented on #89416
@lnyswonger thanks! Closing this out since this is a test.

[2022-03-08 21:28] #89416 closed

[2022-03-08 21:32] SaiKishor-MSFT commented on #89426
@webpwnized Details regarding NSG for Application Gateway is provided here- https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#network-security-groups

[2022-03-08 21:32] sebcruz opened #89431 "ARM template size limitations"
Hi, it looks like Synapse doesn't support CI/CD if your ARM template exceeds 20MB.  In other products, like ADF, linked templates are used. However that is not supported by Synapse.  This should be called out in the documentation and a work around or alternative solution provided. Thanks

Error:
Exceeded size limit
The single ARM template exceeds the 20MB limit, so linked templates were published

[2022-03-08 21:33] spelluru commented on #89044
@gary918 - Sorry. Currently, the Azure portal does not support generating or viewing SAS tokens for Event Hubs resources.

#please-close

[2022-03-08 21:33] #89044 closed

[2022-03-08 21:36] SaiKishor-MSFT commented on #89427
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-08 21:58] Oury-MSFT commented on #89255
@sr-msft Does customer PG bouncer need to be restarted from the backend.?

[2022-03-08 22:33] AaronMaxwell commented on #86365
@olavt We are looking into this as part of a larger effort to update all Application Insights articles from instrumentation key to connection string examples.

I have created an internal work item to continue work on this issue.

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1928114

[2022-03-08 22:33] AaronMaxwell commented on #86365
#please-close

[2022-03-08 22:33] #86365 closed

[2022-03-08 22:33] MarileeTurscak-MSFT commented on #89421
@nigelmeakins
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-08 23:01] hesperanca opened #89434 "What is the maximum number of Containers, with dedicated throughput (not shared), per database?"
Does anyone know what is the maximum number of dedicated throughput Containers that a Cosmos DB database can have?

The official Microsoft documentation (https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits) only mentions the maximum number of containers per database with Shared Throughput (which is 25) but I cannot find any information regarding containers with dedicated (not shared)

[2022-03-08 23:05] ChaitanyaNaykodi-MSFT commented on #89086
Hello @Markz878, Thank you for your feedback. I have made a PR to address this issue and it is currently under doc author's review. I have updated the code as shown below using Azure.Storage.Blobs SDK.

 class Program
    {
        const string containerName = "container name";
        const string blobName = "blob name";
        const string connectionString = "storage connection string";

[2022-03-08 23:05] #89086 closed

[2022-03-08 23:10] RoninGuy opened #89436 "Typo on page"
Typo on page:  "Additionally, you can **get directly get to the** sign-in logs using this link:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version Independent ID: 1106c01b-1e4c-5b04-be84-432f99ec4d8f
* Content: [Sign-in logs in Azure Active Directory](https://docs.microsoft.c

[2022-03-08 23:30] JnHs commented on #88988
Thanks @schdief for reporting this. I'm working on adding this info to the docs and will close this issue once that is done. I'll pass the suggestion along to the product team as well.

[2022-03-08 23:35] MarileeTurscak-MSFT commented on #89436
@RoninGuy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-08 23:35] nickludwig commented on #85713
Created PR with changes required to close this issue

[2022-03-08 23:36] MarileeTurscak-MSFT commented on #89436
Thanks! I made a pull request to fix the typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/191012

[2022-03-08 23:36] #89436 closed

[2022-03-08 23:40] kobulloc-MSFT commented on #89337
@zr-msft I've got an unrelated issue blocking me from reproducing this at the moment, but it looks like we include brief SSH instructions in our PowerShell quickstart.  If we want to add that to this section as well, reassign this to me and I can get a PR out for that.

[2022-03-08 23:40] drewbios opened #89437 "Column lineage for Power BI in Purview"
https://docs.microsoft.com/en-us/azure/purview/catalog-lineage-user-guide

The article lists how column lineage is available for various sources, including Power BI. I have set up a scan of a PBI tenant, but it only goes to the report / dashboard level, not to columns. Other documentation says that "Column lineage and transformations inside of PowerBI Datasets is currently not supported" - e.g. ht

[2022-03-08 23:43] ChaitanyaNaykodi-MSFT commented on #89237
Thank you @sumeetmittal,
@zioalex, can you please elaborate more on your question? Thank you!

[2022-03-08 23:49] MashaMSFT commented on #60088
Hi @jabbera , thanks for contacting Microsoft, and I once again apologize for the delay. You're correct that providing an example here would be helpful. I've created a backlog work item (1928131)  to get this addressed, and we will take care of this as priority and resourcing allows. Please note, it's also possible to update the documentation yourself as well, if this is something you might be int

[2022-03-08 23:49] #60088 closed

[2022-03-08 23:52] desmphil commented on #35298
Great Article. I tried your recipe above, merging the **Cert.CER**, the **intermediate.CER** and the **root.CER** in a single file using the Headers. Merged Signed request. It did successfully import to Azure Key Vault. Refreshed my Application Gateway. I still get a B from SSL Labs.

[2022-03-08 23:53] cachai2 commented on #89060
Hi @mhomm, thank you for raising this as it was a bug in our docs. I've submitted a PR to clarify. /24 should be used for Windows and /26 for Linux.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/191014

[2022-03-08 23:54] nickludwig commented on #86801
@vault79 - following up on this. I'm not sure if there are docs changes that need to be made, but I'm open to the rephrased description for the oid claim suggested by Hirsch if you think that will help. Please let me know or I will close this issue

[2022-03-08 23:54] mimckitt commented on #89185
We are currently planning some updates related specifically to our Linux docs and this will fall into the scope of it. I don't have any ETA on when updates might happen but I will be sure to add this feedback to the backlog so when it comes time for updates, we are aware this doc should be reviewed as well. As always, appreciate any and all feedback!

[2022-03-08 23:55] krispenner opened #89438 "Missing Restriction - Service Principals must be assigned directly to an App"
Regarding groups and nested group restrictions.

This is not the case for service principals in a group regardless of nested groups or not. Service principals must be directly assigned to the app or they will not have access. I think the documentation should clearly state this limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-03-08 23:58] joshuha-msft commented on #87790
@Nabhishek for comment and the doc owner.

[2022-03-08 23:59] MashaMSFT commented on #83651
Hi @JoshPorterFKH , thanks for contacting Microsoft! After reviewing the issue, it looks like Sourabh was able to assist with your request. I'm going to assume that your Issue has been addressed and close it out. However, please feel free to comment should you need anything further.

Thanks again for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs tea

[2022-03-08 23:59] #83651 closed

[2022-03-08 23:59] PRMerger14 commented on #83651
GitHub user SQLSourabh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-09 00:03] dmorrison-msft opened #89439 "Azure SQL DB Firewall Configuration Documentation/Feature Improvement"
Azure Product | Azure Storage Account Management

Title | Azure SQL DB Firewall Configuration Documentation/Feature Improvement

Feature Description | Add disclaimer/additional information regarding non-conventional use of 0.0.0.0 IP to represent all Azure-internal IP addresses in Azure SQL DB Firewall. Documentation referenced at the following locations for API & overview for configuring Azure SQ

[2022-03-09 00:07] dmorrison-msft opened #89440 "Azure SQL DB Firewall Config API Documentation/Feature Improvement"
Concerning | https://docs.microsoft.com/en-us/rest/api/sql/2021-02-01-preview/firewall-rules/create-or-update#firewallrule , specifically: <html>
<body>

properties.endIpAddress | string | The end IP address of the firewall rule. Must be IPv4 format. Must be greater than or equal to startIpAddress. Use value '0.0.0.0' for all Azure-internal IP addresses.
-- | -- | --
properties.startIpAddress | st

[2022-03-09 00:08] kobulloc-MSFT commented on #89361
It looks like there are 4 types of Patch orchestration modes:

- **AutomaticByPlatform:** This uses the "Supported OS images" list mentioned above and includes Linux and Windows VMs.
- **AutomaticByOS:** Only supported for Windows VMs.
- **Manual:** Only supported for Windows VMs.
- **ImageDefault:** Only supported for Linux VMs.

I agree that some clarification on the "Supported OS Images" list w

[2022-03-09 00:14] GeethaThatipatri-MSFT commented on #89434
Hi, @hesperanca Thanks for reaching out, As the author mentioned in the [Q&A](https://docs.microsoft.com/en-us/answers/questions/764397/index.html) forum There is no specific per database limit on provisioned throughput containers. The only limit is 500 containers per account. You can put those all in one database or one container per database.

[2022-03-09 00:17] GeethaThatipatri-MSFT commented on #89439
Hi @dmorrison-msft Thanks for your findings,We will investigate and update as appropriate

[2022-03-09 00:20] pinyuko opened #89441 "Suggest including Azure NetApp Files in this page"
[Enter feedback here]
Hi I'm Penny Ko in MSFT.
I noticed ANF wasn't being mentioned here, suggest including ANF in this page.
ANF document team member: b-arntdegier@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550031e-4cf6-8d15-84e3-1c2b58951f80
* Version Independent ID: 1a927119-0540-dfd9-9435-5c29c01

[2022-03-09 00:37] AmarBadal commented on #89118
@habiba-h, we have identified the gaps and the issue. We are going to update the documentation for clarity and also updating the code snippet in the example.

[2022-03-09 00:37] ms-ishiyam opened #89443 "Picture is not correct"
I confirmed that the picture in public document is not correct. The route should be in Vnet peering but the picture is different.

Cross connecting VNets to the on-premises networks
https://docs.microsoft.com/en-us/azure/expressroute/cross-network-connectivity#cross-connecting-vnets-to-the-on-premises-networks

See that the route table has routes belonging to both the virtual networks.

![image](h

[2022-03-09 00:40] pvanroos commented on #89282
ok

[2022-03-09 00:40] #89282 closed

[2022-03-09 00:41] ChaitanyaNaykodi-MSFT commented on #89443
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-09 00:42] yururin opened #89444 "code sample on the serialized task issue seems incorrect."
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/databricks/kb/execution/spark-serialized-task-is-too-large

I followed and tested with the code described, and noticed that there should not be the attribute like "toDS()".
I believe it has to be "toDF()", please check as below.

[Current]
val ds = rdd.toDS()
ds = rdd.toDS()

[After]
val ds = rdd.toDF()
ds = rdd.toDF()

---
#### Documen

[2022-03-09 00:45] bobsaget25 commented on #50919
Hi,

Does this also work for assigning a static IP for a private link for a custom private link service?  I am a Microsoft employee trying to do this for an  enterprise customer right now.  I see that it does not allow private IP selection in the portal and I am unable to get the formatting correct in an ARM template for this.  Any examples or a statement on if this is supported would be appreciat

[2022-03-09 00:52] MarileeTurscak-MSFT commented on #89438
@krispenner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-09 00:53] habiba-h commented on #89118
Thanks @AmarBadal! That's great to know.  The work around I have suggested to the partner is to use the `download()` or `mount()` to access the images in their workspace to work with. But it would be great to have a better guidance around the best practices for accessing the labeled data through code first approach.

Looking forward to the update in the docs.

[2022-03-09 00:59] MsGabsta commented on #88327
@v-hakob, I'm going to be updating our public documentation on this.

[2022-03-09 01:00] b-hchen commented on #89330
Thanks, @[RutgerKosters](https://github.com/RutgerKosters)!

In consulting with the content stakeholders, the response is as follows:

[code]

So in short, we won't be adding an extra row to the table in https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-network-topologies#supported-network-topologies

However, we'll add a cross reference in the ANF article you commented

[2022-03-09 01:01] chanuengg commented on #89437
Thanks for reaching out. Lineage user guide is a generic document of Purview platform capabilities for lineage that includes column and table level lineage. We don’t support column level lineage of powerbi yet. It’s in the roadmap for later part of this year.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Drew ***@***.***>
Sent: Tuesday, March 8, 2022 3:40:59 PM

[2022-03-09 01:03] MarileeTurscak-MSFT commented on #89438
Thanks! I made a pull request to update the documentation with that restriction. https://github.com/MicrosoftDocs/azure-docs-pr/pull/191029

[2022-03-09 01:03] #89438 closed

[2022-03-09 01:03] MsGabsta commented on #61183
I am looking into this.

[2022-03-09 01:03] MsGabsta commented on #61583
I am looking into this.

[2022-03-09 01:04] MsGabsta commented on #59657
I am looking into this.

[2022-03-09 01:05] MsGabsta commented on #67436
I am looking into this.

[2022-03-09 01:05] MsGabsta commented on #69434
I am looking into this.

[2022-03-09 01:06] b-hchen commented on #89330
Cross reference added through PR 191030.
#please-close

[2022-03-09 01:06] #89330 closed

[2022-03-09 01:06] MsGabsta commented on #71722
I am looking into this.

[2022-03-09 01:07] MsGabsta commented on #76092
I am looking into this.

[2022-03-09 01:08] MsGabsta commented on #78865
I am looking into this.

[2022-03-09 01:09] MsGabsta commented on #79129
I am looking into this.

[2022-03-09 01:09] MsGabsta commented on #80736
I am looking into this.

[2022-03-09 01:10] MsGabsta commented on #81116
I am looking into this.

[2022-03-09 01:10] MsGabsta commented on #81118
I am looking into this.

[2022-03-09 01:11] MsGabsta commented on #81235
I am looking into this.

[2022-03-09 01:11] MsGabsta commented on #81283
I am looking into this.

[2022-03-09 01:12] MsGabsta commented on #82871
I am looking into this.

[2022-03-09 01:13] MsGabsta commented on #83458
I am looking into this.

[2022-03-09 01:13] MsGabsta commented on #84119
I am looking into this.

[2022-03-09 01:14] MsGabsta commented on #84867
I am looking into this.

[2022-03-09 01:14] MsGabsta commented on #85208
I am looking into this.

[2022-03-09 01:14] kaburkett commented on #89343
known issue should be manual dr failover and dr testing not possible with data lake storage v2 hns- the pull request additions could be modified to include this link if you wish

[2022-03-09 01:15] AmarBadal commented on #89118
@habiba-h  - while the document is getting updated, if they are still blocked the following can be used to replace from the point of download() onwards in the example
- I think you might have suggested something similar as well.
The code snippet had a problem, though it directed to download() but was not using the downloaded path.

# download the images to local
download_path = animal_labels.downl

[2022-03-09 01:16] MsGabsta commented on #85606
I am looking into this.

[2022-03-09 01:17] MsGabsta commented on #86219
I am looking into this.

[2022-03-09 01:17] MsGabsta commented on #87897
I am looking into this.

[2022-03-09 01:22] habiba-h commented on #89118
Thanks @AmarBadal. Yes this was exactly my suggestion to them to use the download method.  Good to know this was the right approach.

A follow-up question that I have is that the download would download all the images to a tmp directory or any user specified target_path. For model training the customer needs a lot of data, wouldn't it be better to have a way to connect to AMLStore directly instead

[2022-03-09 01:24] SubhashVasarapu-MSFT commented on #87987
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-03-09 01:24] #87987 closed

[2022-03-09 01:25] kobulloc-MSFT commented on #89361
@CJRicard I've gotten some clarification from the PG and there are effectively 3 types of updates: Automatic updates handled by Azure, automatic updates handled by your OS, or manual updates:

**Automatic updates managed by Azure:**
-AutomaticByPlatform

**Automatics updates managed by your OS:**
-AutomaticByOS (Windows)
-ImageDefault (Linux)

**Updates managed manually:**
-Manual (Windows only)

[2022-03-09 01:37] JoshPorterFKH commented on #83651
Not really. I need to be able to move a database across subscriptions from one MI to another. Outside of copy only backups I can't find a good way. SSMS is too slow for large DBs.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Masha at MSFT ***@***.***>
Sent: Tuesday, March 8, 2022 6:59:47 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Josh Porter ***@***

[2022-03-09 01:37] PRMerger20 commented on #83651
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-09 01:37] PRMerger20 commented on #83651
Only Microsoft employees can manage issues via commenting in this repo.

[2022-03-09 01:40] cijothomas opened #89467 "Incorrect example TelemetryInitializer"
https://docs.microsoft.com/azure/azure-monitor/app/api-filtering-sampling#add-information-from-httpcontext
The example given above is incorrect:
1. It does not work in ASP.NET
2. It might work in ASP.NET Core, but its not thread safe and may cause application hangs. (https://github.com/microsoft/ApplicationInsights-dotnet/issues/1313)
---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-03-09 01:58] YuKogasaka opened #89468 "Command misspelling"
The command says "az conatinerapp create", but I think it should be "az containerapp create".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0aa5af5-831d-77e2-480c-41ab2bbb5be3
* Version Independent ID: 583217b2-1821-2cd9-629d-779af221a436
* Content: [Provide a virtual network to an Azure Container Apps Preview enviro

[2022-03-09 02:54] kev1010 opened #89469 "Duplicate wording"
[Connect Azure Functions to Azure Cosmos DB using Visual Studio Code](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-cosmos-db-vs-code?pivots=programming-language-csharp&tabs=in-process) page has duplicate wording in the "Add an output binding" section:
`Specific attributes indicate the names of the container and its parent database. The connection string for y

[2022-03-09 02:55] dezdez opened #89470 "No instructions for setting collation or other SQL instance settings"
[Enter feedback here]

It is now possible to specify collation & other SQL instance settings when provisioning a SQL VM. See https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/create-sql-vm-portal#sql-instance-settings

However, no instructions are provided here for the equivalent PowerShell method to do this.

Please rectify.
---
#### Document Details

⚠ *Do not edit this s

[2022-03-09 02:56] drew010 opened #89471 "Azure AD Authentication AVD"
Hi,

The document states:

"To enable access from Windows devices not joined to Azure AD, add targetisaadjoined:i:1 as a [custom RDP property](https://docs.microsoft.com/en-us/azure/virtual-desktop/customize-rdp-properties) to the host pool. These connections are restricted to entering user name and password credentials when signing in to the session host."

This doesn't seem 100% clear around wha

[2022-03-09 02:57] MonikaReddy-MSFT commented on #89467
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-09 03:12] VikasPullagura-MSFT commented on #89470
@dezdez
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-09 03:12] VikasPullagura-MSFT commented on #89470
@bluefooted
Can you please check and add your comments on this doc update request as applicable.

[2022-03-09 03:13] VikasPullagura-MSFT commented on #89430
@DeclareHigh
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-09 03:13] VikasPullagura-MSFT commented on #89430
@kirpasingh
Can you please check and add your comments on this doc update request as applicable.

[2022-03-09 03:48] VikasPullagura-MSFT commented on #89471
@drew010
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-09 03:49] VikasPullagura-MSFT commented on #89471
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-03-09 04:32] ShaikMaheer-MSFT commented on #89431
@sebcruz Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-09 04:45] Sharmistha-Rai commented on #89175
@v-asymes - this link is for generating the agent configuration file. Are you saying that you were looking for the passphrase link? Can you please elaborate?

[2022-03-09 04:50] jalexander-bb commented on #88917
Wagner Santos - case number: 120010624002640

[2022-03-09 05:09] MayankBargali-MSFT commented on #89156
@jstenlund I will get the confirmation from my team and will update the document as appropriate.

[2022-03-09 05:10] SumanthMarigowda commented on #89441
@pinyuko Thanks for the question! We are investigating and will update you shortly.

[2022-03-09 05:33] zeeshaanali commented on #89323
Hi @SadiqhAhmed-MSFT :
Well I don't think Just In Time access has to do anything as its only required to connect to the RDP.

1. I used just plain out of the box Win Server 2019 Gen2 with all default options.

    ![image](https://user-images.githubusercontent.com/70892849/157378502-96b5b947-3e56-47e0-8336-da87882ffbe3.png)

2. There is no program/service running with port 5986 listening, but a se

[2022-03-09 05:44] MayankBargali-MSFT commented on #89060
@mhomm We will be closing the issue as the document is updated and will be published soon. Feel free to get back to us if you need any assistance.

[2022-03-09 05:44] #89060 closed

[2022-03-09 05:46] jhirono commented on #88712
Would you assign to @Bozhong68 ?

[2022-03-09 05:48] jhirono commented on #87505
@YutongTie-MSFT please close this issue because we have updated our doc. https://docs.microsoft.com/en-us/azure/machine-learning/how-to-custom-dns

[2022-03-09 05:49] jhirono commented on #87262
Doc updated. Please close this issue. @nibaccam

[2022-03-09 05:50] pvanroos opened #89473 "All config entries are prefixed with a 'TestApp'"
what does that pertain to?

When I look at the code sample, I see a namespace of 'TestAppSettings' not 'TestApp'. This document needs more clarity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quickstart fo

[2022-03-09 05:53] jhirono commented on #87032
Sorry, I miss understood this case.

- ACR access using managed identity is not supported with both service endpoint and managed endpoint.
- Soon we can support ACR using Managed Identity with service endpoint and managed endpoint.

I will update our doc appropriately. Please close this case @ram-msft

[2022-03-09 06:10] MayankBargali-MSFT commented on #89063
@lymedo It clarifies here as per the section [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet#create-a-virtual-network) it calls out that the resource can be within or outside VNET but will communicate through a private endpoint.

This document shows that the storage is not in VNET whereas the service bus in VNET along with enabling the private endpoint. The comm

[2022-03-09 06:10] #89063 closed

[2022-03-09 06:11] NAWABDERA1 opened #89474 "Nawab Ikramullah Khan"
INSHA ALLAH Nawab Ikramullah Khan from the Home 1 Allah Nawaz Castle of the Nawab of Dera Ismail Khan to Home 2 Allah Nawaz Castle Islamabad

[2022-03-09 06:45] #88707 closed

[2022-03-09 06:53] hiLemontree commented on #88595
Hi @kobulloc-MSFT,
Thanks for your kindly update.
While in my case, we had granted users of Owner role for subscription, while the users can't receive the mail of affected VMs for the planned maintenance.

Would you double check which role should we grant to user to make sure user can receive notification and affected resources by planned maintenance?

Below is access control (IAM) for the subscri

[2022-03-09 06:55] dcbrown16 opened #89475 "Add portal explanation of stored access policies somewhere"
It seems that we don't have any documentation of the "Access policy" menu that can be found under each individual container in a storage account in the Azure Portal.
Can you add documentation here or somewhere else showing how to get to this menu and create a stored access policy in the Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-03-09 06:57] kobulloc-MSFT commented on #88595
@hiLemontree Sure thing.  I'll confirm that the roles in the documentation are listed correctly.

[2022-03-09 06:58] Oury-MSFT commented on #89424
@JV-conseil Looks like this is a duplicate of issue **https://github.com/MicrosoftDocs/azure-docs/issues/89255**.

[2022-03-09 07:13] lymedo commented on #89063
Adding the function subnet to the Service bus networking enables the service endpoint, correct?

[2022-03-09 07:18] RohitMungi-MSFT commented on #89474
@NAWABDERA1 Could you add more details of an issue related to Azure docs?

[2022-03-09 07:34] tetsuyasodo opened #89476 "SPN ObjectID and ObjectName is incorrect in instructions"
[The similar issue](https://github.com/MicrosoftDocs/azure-docs/issues/80169)(#80169) has already been raised, but in this page there is the mistakes.

Please update "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037"
with
"205478c0-bd83-4e1b-a9d6-db63a3e1e1c8", and
"Microsoft.Azure.Frontdoor"
with
"Microsoft.Azure.Frontdoor-Cdn"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-03-09 07:38] kobulloc-MSFT commented on #89337
@goodfm41 I'm able to reproduce what you are seeing and will keep you updated as I continue to investigate the cause.

[2022-03-09 07:41] kobulloc-MSFT commented on #89337
@goodfm41 As a temporary workaround, you could remove the `-GenerateSshKey` flag and create an SSH key prior to running the command:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-powershell#create-aks-cluster

[2022-03-09 07:44] johndowns commented on #89176
@veronicapetersen Quick update - as the Microsoft Graph PowerShell modules are still in preview, I'm going to wait to update the doc. I'll review this again soon.

[2022-03-09 07:47] SauravB-MS opened #89477 "Please update doc to include - promote staging slot to proction before migrating to ARM"
[Enter feedback here]
Cloud Service | Cloud Service with a deployment in a single slot only.
_Cloud Services containing a prod slot deployment can be migrated. It is not reccomended to migrate staging slot as this can result in issues with retaining service FQDN_

Can this be updated to include promote staging to production and migrate proeduction slot to ARM. Also it would be helpful if  explaine

[2022-03-09 08:33] RohitMungi-MSFT commented on #89429
@kev1010 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-09 09:16] #88221 closed

[2022-03-09 09:29] tlsambo opened #89480 "how do I edit Azure users dob?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8c77b2-27b0-269c-6e96-5ca02b8a4f18
* Version Independent ID: f11ce176-9a04-5d47-05fa-8c86278048cd
* Content: [Add or update user profile information - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-us

[2022-03-09 09:29] michaelwechner opened #89481 "How to get public key to validate JWT received from "Bot Channels Registration""
Hi

I have a bot channel registration and configured my bot endpoint at

https://ukatie.com/api/v1/microsoft/message

When somebody enters a message, then I receive a request at this endpoint together with a JWT.

I would like to validate this JWT using the public key of Microsoft, but it is not clear to me how to get this public key.

I have read
https://docs.microsoft.com/en-us/azure/active-dire

[2022-03-09 09:30] AbbyMSFT commented on #88457
Hi @mclgoerg -
We have checked with the original author of the graph samples, and unfortunately, the specific query and data that generated that specific chart is not currently available.
This Github channel is meant to specifically for documentation requests, so I am going to close the issue at this time.
Please feel free to look for answers with our product team at our [Azure Monitor Q&A page](h

[2022-03-09 09:40] AnuragSingh-MSFT commented on #89379
@captainmike, can you please share more insights of type of project being used here. Generally, you do not have to set the context and invocationId of the TelemetryClient and it is taken care by the underlying framework. Please refer to this link for more details: [Get a TelemetryClient instance](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#get-a-telemetryclie

[2022-03-09 09:40] AjayKumar-MSFT commented on #89468
@YuKogasaka, That's a good catch! Thanks for pointing this out. We have raised PR, once it's merged, the published changes will reflect shortly.

[2022-03-09 09:41] ShaikMaheer-MSFT commented on #89444
@yururin Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-09 09:55] shashishailaj commented on #89480
@tlsambo Thank you For your feedback . We will investigate and update the thread.

[2022-03-09 10:35] luukschagen opened #89484 "Port number for connecting to Azure Synapse is listed as 1443, should most likely be 1433"
Title says it all. The bottom of the page lists port 1443 as the port that needs to be opened to connect to Azure Synapse. But all other documentation seems to list the usual 1433. Have not been able to test it yet, but I would assume this to be an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b4ec3e-3d82-258

[2022-03-09 10:38] SumanthMarigowda commented on #89475
@dcbrown16 Thanks for the question! We are investigating and will update you shortly.

[2022-03-09 10:54] teodordeaconescu opened #89485 "Next Steps..."
[Enter feedback here]
You are referencing this page under Next Steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c5cde55-2936-090a-cd04-84312a8c1974
* Version Independent ID: 4700126d-12fe-9956-28d5-b3fbefa7fb45
* Content: [Enable Enterprise State Roaming in Azure Active Directory](https://docs.microsoft.com/en-us

[2022-03-09 11:15] CHEEKATLAPRADEEP-MSFT commented on #89484
@luukschagen Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/191058](https://github.com/MicrosoftDocs/azure-docs-pr/pull/191058)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2022-03-09 11:30] shashishailaj commented on #89481
@michaelwechner Thank you for your feedback . We will investigate and update the thread.

[2022-03-09 11:32] shashishailaj commented on #89440
@dmorrison-msft Thank you for your feedback . We will investigate and update the thread.

[2022-03-09 11:33] universalamateur opened #89486 "Mounting /var/run/docker.sock into containers running in ACI"
- The relevant Azure service or technology.
  - [Azure Container Instances](https://azure.microsoft.com/en-us/services/container-instances/#overview)
- A link to the published documentation article that you have feedback about.
  - [ACI Reference az create](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-create)
- Clear, specific feedback that the author can

[2022-03-09 11:35] shashishailaj commented on #89485
@teodordeaconescu Thank you for your feedback . We will investigate and update the thread.

[2022-03-09 11:35] Vampiredk opened #89487 "App Directory Location: is invalid"
I have been trying to follow this guide "https://docs.microsoft.com/da-dk/azure/static-web-apps/getting-started?tabs=vue"

I had allready started a vue project so i am not totally sure, what i should write inside app_location, because mine is set up in a different way then the one displayed in guide

this is the development code i have been using

`name: Azure Static Web Apps CI/CD

on:
  push:

[2022-03-09 11:36] hesperanca commented on #89434
Hi Geetha. It makes sense. I've gone back to the author in the Q&A. It will probably help to clarify this in the documentation. Thanks for your help.

[2022-03-09 11:36] #89434 closed

[2022-03-09 11:40] AnuragSingh-MSFT commented on #89469
@kev1010, thank you for bringing it to our attention. I will work on it and submit a PR for update.

[2022-03-09 11:46] #89469 closed

[2022-03-09 13:00] baileydoestech opened #89488 "Changing Identity Providers requires additional step"
When changing idendity provider in AWS (i.e. from AD to external provider such as Azure AD) the AWS metadata will change and need to be reuploaded to Azure for SSO to function correctly. This should be added as an additional (optional) step and be made clear that the current guide is applicable when configuring SSO from scratch

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-03-09 13:30] ohadschn commented on #85620
@naeisner where is this `zones` property of storage? I don't see it in the ARM/bicep reference: https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts?tabs=bicep

[2022-03-09 14:10] ramedey opened #89491 "Error in the documentation"
[Enter feedback here]

This sentence made me think that I didn't have to set the setting AZURE_FUNCTIONS_ENVIRONMENT on production in order to have the value "Production", and that is not how it works:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azure_functions_environment

"When this application setting isn't present when running in Azure, the environment is ass

[2022-03-09 14:10] MonikaReddy-MSFT commented on #89175
@v-asymes - Can you please provide more info as requested by @Sharmistha-Rai, if you are still facing issues.

[2022-03-09 14:18] MonikaReddy-MSFT commented on #88983
@ctahok - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-09 14:18] #88983 closed

[2022-03-09 14:26] wbpluto opened #89492 "The sentence "unless you explicitly alter the connection policy to either or . " is wrong"
This sentence is wrong: _**unless you explicitly alter the connection policy to either or .**_
"
![image](https://user-images.githubusercontent.com/5191513/157460836-d2ef3005-916e-48d1-b777-18d898deff36.png)
"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID:

[2022-03-09 14:30] v-asymes commented on #89175
I see the classic info, but some link I clicked for classic sent me to preview info. not i can find the link now. but will update if i do come across it again

[2022-03-09 14:36] adrienmaugard opened #89493 "Remove Microsoft Sentinel"
The Remove Microsoft Sentinel panel does not longer exists in current Sentinel deployment.
It's not a subsection in Settings (Section on the right) then Settings (pane) then Remove Microsoft Sentinel (subsection)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d272cb77-30a3-15c5-eb77-c15e5b9937ed
* Version Independent I

[2022-03-09 14:44] amanmcse commented on #89233
@Alex-str11 This is assigned to the author to review and update.

[2022-03-09 14:46] magrande commented on #18833
These OS distributions are already mentioned as supported:

https://docs.microsoft.com/en-us/azure/virtual-network/accelerated-networking-overview#supported-operating-systems

Closing this issue.
#please-close

[2022-03-09 14:46] PRMerger5 commented on #18833
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-09 14:50] eric-urban commented on #88266
This doc update (20 per 60 seconds) will be shipped today. Thanks!

[2022-03-09 14:50] eric-urban commented on #88266
#please-close

[2022-03-09 14:50] #88266 closed

[2022-03-09 14:58] phwecker opened #89494 "sample code not working"
the following command throws error, when used (with respective values, like "rule collection name" replaced with proper error

$existingrulecollection = $natrulecollectiongroup.Properties.RuleCollection | where {$_.Name -eq "<rule collection name"}

see :
$existingrulecollection = $natrulecollectiongroup.Properties.RuleCollection | where {$\_.Name -eq "pwe-my-container"}
$\_.Name: The module '$' c

[2022-03-09 15:06] ithahn opened #89495 "Troubleshooting tab not available"
The page shows a tab for creating a ticket for more error details.
This is not exisiting in the current Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead81634-268b-c870-9cc2-a3982fb66487
* Version Independent ID: 5826f4f7-dd27-1204-7348-ad5f4b8456c3
* Content: [Troubleshooting sign-in problems with Condi

[2022-03-09 15:12] silverl commented on #40132
@blasticbe Would you be so kind as to share either screenshots or an export of the config template in JSON or some other format so we can see how you did it?

[2022-03-09 15:25] rmwigdnal opened #89496 "Mobile Password-based apps section not correct"
The section "Plan for mobile access" says the following:
For applications that use password-based SSO or accessed by using [Microsoft Azure AD Application Proxy](https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy), you must use Microsoft Edge mobile. For other applications, any mobile browser can be used.
However, testing on my Samsung S10 after installing Mobile E

[2022-03-09 15:33] LitKnd commented on #65467
Hi @fbuser1 ,

Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.

The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate you

[2022-03-09 15:33] #65467 closed

[2022-03-09 15:37] erik-ha-msft commented on #80989
Thank you for the feedback.

As stated in the document:

At this time, we're not planning on updating the article with this information.

#please-close

[2022-03-09 15:37] #80989 closed

[2022-03-09 15:44] blasticbe commented on #40132
@silverl don't really know how to export the config
I solved it by clicking around in the portal.
The limit on 1000 characters is on the Header value field. So if you want to use 1 action that defines a whole CSP ... I ran into the problem you also experienced.
Solution is to split up the CSP definition into multiple actions.

![2022-03-09 16_32_53-Update rewrite set - Microsoft Azure](https://use

[2022-03-09 15:48] nibaccam commented on #87262
Thanks for making the update @jhirono. We will now proceed to close this thread.

#please-close

[2022-03-09 15:48] #87262 closed

[2022-03-09 15:48] SubhashVasarapu-MSFT commented on #89476
@tetsuyasodo, Thanks for reaching out. We will investigate and update this thread.

[2022-03-09 15:49] erik-ha-msft commented on #80684
Thanks for the feedback.

The article contains the changes you mentioned.

#please-close

[2022-03-09 15:49] #80684 closed

[2022-03-09 15:50] silverl commented on #40132
Thank you. Do you have evidence shown in a browser Dev Tools that all the headers are coming through in a page request? I'm recalling reading in the docs that a rewrite rule will replace a pre-existing header. Do you definitely get all your headers, or does the last one win?

[2022-03-09 15:53] JV-conseil commented on #89255
I can report a successful connection to `pgbouncer` console. I did not read back from Azure Support their explanation as to why the connection was not going through.

To sum up the successful procedure (which extended documentation is lacking on [PgBouncer - Azure Database for PostgreSQL - Flexible Server](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-pgbouncer#feedbac

[2022-03-09 15:58] spelluru commented on #88917
Thank you @jalexander-bb

I will follow up with Wagner and update the documentation.

[2022-03-09 16:04] silverl commented on #40132
Kudos on an ingenious hack, by the way. Very clever!

[2022-03-09 16:04] LitKnd commented on #72910
#reassign @SudhirRaparla

[2022-03-09 16:04] PRMerger12 commented on #72910
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-09 16:04] PRMerger12 commented on #72910
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-09 16:08] blasticbe commented on #40132
I have evidence that it works in my browser :-)
And yes it works by appending. That is why the variable is key: {http_resp_Content-Security-Policy}
Azure will replace that with what currently is in the Content-Security-Policy header. And since you are changing that multiple times, it keeps on adding.
You can do it with less actions off course. As long as you keep them under the 1000 char limit.

[2022-03-09 16:11] ozanabuse opened #89498 "Specify db_datareader role for SQL authentication"
Please mention that for the scan option with SQL authentication, the sql login must have the permission "db_datareader". This is mentioned for the SQL on-prem data source, but not here for Azure SQL DB.
It is just mentioned "Azure Purview account should have the appropriate permissions to be able to scan the resource(s).", which is not explicit.
For the options Managed identity and Service princip

[2022-03-09 16:12] JV-conseil commented on #89424
@Oury-MSFT unfortunately **#89255** and **#89424** are two distinct problems.

In **#89255** the problem is being able to access `pgbouncer` console: Azure Support may have conducted some action that [seems to have solved the problem](https://github.com/MicrosoftDocs/azure-docs/issues/89255#issuecomment-1063073206).

In the present **#89424** issue the problem is being able to set the TLS mode to

[2022-03-09 16:14] MicrosoftGuyJFlo commented on #89485
#reassign:@MicrosoftGuyJFlo

[2022-03-09 16:16] omar-nav commented on #89365
My personal X.509 certificate currently provisions the device and runs the edge Agent & Hub modules. The blob storage module currently produces the TLS authentication error _remove certificate is invalid_ in screenshot attached. The Linux device indeed has the 3 necessary certificates in trust store. Does this mean there is an issue with the _IoT Edge hub server certificate_?

![invalid](https://u

[2022-03-09 16:17] bruceharrison1984 opened #89499 "Following tutorial produces errors"
Following this tutorial explicitly, and then running the `SMART on FHIR App Launcher`, I get the following results:
- Launcher starts
- Enter Patient ID
- Click `Launch`
- Login via AAD Oauth window
  - Auth succeeds, and a token is created in session storage
- `App` page appears, but is empty
  - The following error appears in the web-console `The request body must contain the following parameter

[2022-03-09 16:21] #89485 closed

[2022-03-09 16:22] MarileeTurscak-MSFT commented on #89473
@pvanroos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-09 16:26] ChaitanyaNaykodi-MSFT commented on #89494
Thank you for your feedback! We will review and update as appropriate.

[2022-03-09 16:28] YutongTie-MSFT commented on #89162
@adieldar Hello Adi, I apologize for the late reply,  currently I don't think there is a way to change the environment in UI, ways to check the environments and use the environment are as below: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/using-environments/using-environments.ipynb

Even you can check all available curated environments and custom envir

[2022-03-09 16:28] #89162 closed

[2022-03-09 16:40] JamesTran-MSFT commented on #89488
@baileydoestech

[2022-03-09 16:40] eric-urban commented on #89223
#please-close

[2022-03-09 16:40] #89223 closed

[2022-03-09 16:41] SatishBoddu-MSFT commented on #89365
Hello @omar-nav are you facing an issue with IoT Device connecting to Blob storage? is the blob storage at the edge or using the cloud-hosted?

[2022-03-09 16:41] eric-urban commented on #89402
#please-close

[2022-03-09 16:41] #89402 closed

[2022-03-09 16:41] JamesTran-MSFT commented on #89496
@rmwigdnal
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-09 16:44] SatishBoddu-MSFT commented on #89365
Oh, I see the image now, it's hosted as an edge module!

[2022-03-09 16:55] Oury-MSFT commented on #89103
@m60freeman We will add that to the doc. Thank you for helping us improve our documentation.

[2022-03-09 16:55] #89103 closed

[2022-03-09 16:56] flang-msft commented on #86087
@ramya-rao-a - I have put in a PR to fix that page. Unfortunately, it is not getting published. I'm going to close this issue because it is not on that page. If you think it will help to get the code snippets updated, please file an issue on https://docs.microsoft.com/en-us/javascript/api/overview/azure/redis-cache?view=azure-node-latest

[2022-03-09 16:56] flang-msft commented on #86087
#please-close

[2022-03-09 16:56] #86087 closed

[2022-03-09 17:15] omar-nav commented on #89365
The blob storage is at the edge and uses a bind mount for now (persisted on host filesystem) defined in the deployment manifest JSON. The JSON had initiated all the modules successfully when used at IoT Central with symmetric-key-attestation. Not sure if this is still a certificate issue and the deployment manifest have _create options_ updated.

Here's the current block for the edge module at the

[2022-03-09 17:19] kobulloc-MSFT commented on #89337
@goodfm41 Update:  It looks like there is a bug with the `-GenerateSshKey` flag.  This command will execute successfully if you already have an empty .ssh folder in the path that it expects but will fail if the .ssh folder doesn't exist.  It should be creating that folder for you.

We've filed a bug and will get a fix out for that.  The documentation is correct here but until the fix goes live you

[2022-03-09 17:29] kobulloc-MSFT commented on #89337
Bug tracking:
https://github.com/Azure/azure-powershell/issues/17421

[2022-03-09 17:36] JamesTran-MSFT commented on #89423
@DCurtin
Thank you for your time and patience throughout this issue!

**How long do the OTP codes last:**
- The OTP codes can last anywhere between 60 to 1200 seconds. Every time a code is provided (same code using `ReuseSameCode`, or a new code), the code expiration is extended.

**Can any of these parameters can be modified? (Code length, expiration):**
- For Code length you can modify the lengt

[2022-03-09 17:37] JamesTran-MSFT commented on #89495
@ithahn
Thanks for your feedback! Can you share a screenshot of what you're seeing?

[2022-03-09 18:11] selectstarfromsql opened #89500 "for building multisubnet availability group listner"
[Enter feedback here]
I build a 3 node Availability group set, 2 are in the same region and same subnet and 1 node is in a different region. for creating a listener do I need to provide 3 secondary IP addresses or 2 secondary IP addresses from each subnet?

if I need to create all nodes in 3 different subnets, why do I need to create 2 different subnets for the nodes within the same region?

---
#

[2022-03-09 18:12] shashishailaj commented on #89486
@universalamateur
Thank you for your feedback . We will investigate and update the thread.

[2022-03-09 18:13] shashishailaj commented on #89493
@adrienmaugard Thank you for your feedback . We will investigate and update the thread.

[2022-03-09 18:24] rjygraham opened #89501 "Include scenarios in which VMSS instance OS disks are persisted vs lost"
There are many operations/events that can take place on VMSS instances and it would be useful to understand if an non-ephemeral OS disk will be persisted or lost. This content may find a better home in VMSS FAQ instead.

Below are my current assumptions:

1. VMSS instance restart = OS disk is persisted
2. VMSS instance deallocate -> start = OS disk is persisted
3. VMSS instance failure = OS disk i

[2022-03-09 18:25] mrbelchior opened #89502 "Teams Phone Licenses"
Hi, the csv doesn't contain the GUID for the Teams Phone Licenses? Any ETA for that? Thanks.
MS alias mcraveiro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for li

[2022-03-09 18:35] kobulloc-MSFT commented on #89180
@brianstringfellow We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-09 18:35] #89180 closed

[2022-03-09 18:35] #89302 closed

[2022-03-09 18:37] VanMSFT commented on #89439
Hi @dmorrison-msft - Thanks for the details. I made changes to the IP firewall rules doc to mention that the rule is specific to Azure SQL Database.

@rohitnayakmsft - Changes to the API docs needs to be updated on the engineering side.

[2022-03-09 18:44] captainmike commented on #89379
We use Functions as a backend API, or as an asynchronous worker or scheduled function.

As stated, this is JavaScript not C#. I use `const telemetryClient = appInsights.defaultClient;` as stated in the documentation.

This is not true for me. When I try to create a custom event, the associated operationId is not added to the custom event, and therefore not visible in the same transaction under App

[2022-03-09 18:54] JamesTran-MSFT commented on #89502
@mrbelchior
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the documentation as appropriate with the Teams Phone License GUID.

[2022-03-09 19:02] DCurtin commented on #89423
@JamesTran-MSFT
Thanks for the response

I tried this out just to make sure. Is there something else I would have to do in this case other then supply **CodeExpirationInSeconds** in the **Metadata**

Even after this change I only observe a duration of 180 seconds (3 minutes).

[code]

For clarification I'm talking specifically about Web.TPEngine.Providers.PhoneFactorProtocolProvider which is linke

[2022-03-09 19:06] KyleLJohnson opened #89505 "Missing Firewall Rule"
The page is missing a firewall rule. The communication between VMs will not work unless you:

New-NetFirewallRule –DisplayName "Allow ICMPv4-In" –Protocol ICMPv4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179ce89
* Content:

[2022-03-09 19:07] ecfan commented on #89081
@mike-urnun-msft: Were you able to find any more info?

[2022-03-09 19:13] toddfoust opened #89506 "Does outbound Public Traffic bypass NSGs UDRs if Route All is disabled?"
Hey team. On this page, can you clarify what happens to Public/Private traffic if the Route All setting is Disabled too? You have a note about how when Route All Is enabled then NSGs/UDRs apply to all traffic. Can you add a 3rd bullet to that note section that will clarify what happens to PUBLIC traffic if Route All is disabled? In short.... if I have Route All Disabled, then does that mean outbou

[2022-03-09 19:19] brunochaina commented on #85135
I fixed it by using v1.1.2 instead of v1.0.4

[2022-03-09 19:34] jonburchel commented on #79574
Hi @VitalyMCT.  Thanks for your question.  I looked into this and confirmed the _Validate_ button checks the configuration of the pipeline itself is valid, but without validating underlying runtime(s) the pipeline might use for its various activities.  The _Validate copy runtime_ button, on the other hand, checks that the runtime environment used for the selected Copy activity specifically is vali

[2022-03-09 19:34] #79574 closed

[2022-03-09 19:36] universalamateur commented on #89486
thank you @shashishailaj for your answer.

What is the state of docker socket inclusion in containers on AIC?

[2022-03-09 19:36] jonburchel commented on #78023
Hi @aleguillen.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate yo

[2022-03-09 19:36] #78023 closed

[2022-03-09 19:58] idcha0s opened #89508 "Azure Firewall does not support service tags in the source field of a rule"
[Enter feedback here]

This statement is not completely correct:

You can use service tags to define network access controls on network security groups or Azure Firewall. Use service tags in place of specific IP addresses when you create security rules. By specifying the service tag name, such as ApiManagement, in the appropriate source or destination field of a rule, you can allow or deny the tra

[2022-03-09 20:07] Justinha commented on #71957
Thanks for providing feedback that helps improve our documentation. This topic was updated to address issue has been resolved and we are closing the issue. #please-close

[2022-03-09 20:07] #71957 closed

[2022-03-09 20:16] Karishma-Tiwari-MSFT commented on #89177
@Heidilohr Can you please share your insights on this? Thanks :)

[2022-03-09 20:16] Justinha commented on #68372
Thanks for providing feedback that helps improve our documentation. This issue has been resolved by adding the requested examples and we are closing the issue. #please-close

[2022-03-09 20:16] #68372 closed

[2022-03-09 20:18] Justinha commented on #70462
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-03-09 20:19] #70462 closed

[2022-03-09 20:23] cippero commented on #86837
Hi @oottka,

Thank you for your feedback regarding the statement that you mentioned! We're adding some information to this article to clarify the issue that you brought up. Here's the new content that was added to the article to avoid misleading information:

Existing paragraph: "Deleting a deployment doesn't remove the modules from targeted devices. There must be another deployment that defines a

[2022-03-09 20:37] pvanroos commented on #89473
I don't.  Just trying to get my head around this.  I'm trying to take a config item in App Configuration that is key referenced from Key Vault and load it into an IOptions structure.

[2022-03-09 20:37] ChaitanyaNaykodi-MSFT commented on #89505
Thank you for your feedback! We will review and update as appropriate.

[2022-03-09 20:40] mike-urnun-msft commented on #89491
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-09 20:42] mike-urnun-msft commented on #89499
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-09 20:42] ChaitanyaNaykodi-MSFT commented on #89508
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-09 20:49] ggailey777 commented on #89491
Sorry, @ramedey but I don't understand the confusion. Are you saying if you don't have `AZURE_FUNCTIONS_ENVIRONMENT` set your code returns an empty string when you query the setting value, but that you expected it to be set to `production`?

[2022-03-09 20:53] ecfan commented on #89085
Hi @RMarietta,

I've added a note to that this doc applies only to Consumption and for Standard, to review the included links:

@mike-urnun-msft: You can close this thread for now.

[2022-03-09 21:02] ohadschn opened #89509 "pickZone clarifications"
1. The docs state:

This wording suggests that availability zones are a property of a region - not a resource. This is further emphasized in the Cosmos DB sample: `"isZoneRedundant": "[if(empty(pickZones('Microsoft.Storage', 'storageAccounts', parameters('primaryRegion'))), bool('false'), bool('true'))]"`

This usage pattern suggests that **all** zonal resources would return the same exact respons

[2022-03-09 21:08] Justinha commented on #87232
@dougsbaker thanks, this is fixed. Yes, It's Azure Government. #please-close

[2022-03-09 21:08] #87232 closed

[2022-03-09 21:16] ecfan commented on #89172
@TorquinDSL: Just checking in about the screenshot you included that didn't appear?

[2022-03-09 21:18] hanefi opened #89510 "Text in images are not readable when using dark mode"
I am using dark mode and the texts are hard to read in the images. Here is a partial screenshot that captures the issue
![image](https://user-images.githubusercontent.com/6772247/157537540-18505d29-8e64-45f7-8fe7-62f8aa0668cb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e9f51b-cd23-7209-cbc3-06bbd2befdc2
* Ver

[2022-03-09 21:21] Justinha commented on #73714
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-03-09 21:21] #73714 closed

[2022-03-09 21:27] drew010 commented on #89471
Hi - apologies, it looks like I was mistaken. I have tested again this morning on another demo environment and it is working. Maybe I was too quick on the testing after making the pre-req changes. Sorry!

[2022-03-09 21:27] #89471 closed

[2022-03-09 21:46] Nicholak-MS commented on #89502
Hi @mrbelchior can you share the GUID for the Teams Phone Licenses product you are inquiring about. To make sure I add the correct one you are searching for. Thanks.

[2022-03-09 22:04] Grace-MacJones-MSFT commented on #89506
Hi @toddfoust , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc  as appropriate

[2022-03-09 22:26] cippero commented on #82173
Hi @yodobrin,

Thanks for your feedback! We're updating the prerequisites of the [Develop and debug modules for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module?view=iotedge-2020-11) article to use .NET Core SDK version 3.1 instead.

This issue will automatically close when the fix is merged.

[2022-03-09 22:30] ingo-desjardins opened #89511 "Excellent Tutorial"
Excellent introduction to templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a89fe55-d663-6788-a341-000c3ac9bb61
* Version Independent ID: 16b64edd-b8c3-3593-59ba-165d86b70f6e
* Content: [Tutorial - use parameter file to deploy template - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-reso

[2022-03-09 22:31] #89511 closed

[2022-03-09 22:45] dstote commented on #64497
I don't agree, I just got this error and it happens even if I set the join script to use RC4. Since AES256 is the limiting factor as @CodeAsAnInfrastructureGuy says, it would save people a lot of time if you just make a comment in the articles that talk about the relevant lengths and restrictions. Since anyone using Azure Files will get this error! We spent a lot of time creating a naming conventi

[2022-03-09 23:02] JamesTran-MSFT commented on #89423
@DCurtin
Thank you for the detailed and quick follow up on this! I'll go ahead and assign this issue to the author to investigate and update the docs as appropriate with more details regarding OTP codes.

When it comes to your implementation question - since it isn't directly related to improving our docs, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/)

[2022-03-09 23:03] billletson opened #89512 "Downtime clarification"
Can you please clarify the following note:

`In the offline migration mode, the source SQL Server database is not available for read and write activity while database backups are restored on target Azure SQL Managed Instance. Application downtime needs to be considered till the migration completes.`

In my current testing, this does not appear to be the case, as there are no changes to the read/wr

[2022-03-09 23:07] cippero commented on #86784
Hi @LarsKemmann,

Thanks for your feedback! I checked with the SME and you're correct. It's not necessary to download the MSI as the WAC extension will download and install it automatically. We'll be removing this step from the article shortly.

This issue will close automatically when the fix is merged.

[2022-03-09 23:07] DCurtin commented on #65085
@joshmachnik @MarileeTurscak-MSFT

I'm also curious about this feature. Is it an available feature for B2C?

[2022-03-09 23:16] DCurtin commented on #89423
@JamesTran-MSFT understood, thank you for looking into this.

[2022-03-09 23:21] gjwoods opened #89513 "Metric rows per metric name claims 10Million, fails out at 1Million"
[Enter feedback here]
This is wrong - tried it and the max is 1 million.
"Metric rows per metric name | 10 million"

Cheers,
Gerard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c57542a5-ce31-caa3-d8ce-81f8a4997afd
* Version Independent ID: 9f0b624a-4186-fa40-418e-6e776c73838a
* Content: [Service limits - Azure Machin

[2022-03-09 23:25] ChaitanyaNaykodi-MSFT commented on #89252
Hello @MikeBakerSAV, Thank you for your feedback. I have made a PR to address this issue and it currently under do author's review. Thank you!

[2022-03-09 23:25] brianstringfellow commented on #89180
@kobulloc-MSFT Thank you for researching how the use the version and for following up. I have applied the change to my setup scripts and it worked exactly as expected. The documentation seemed counter-intuitive to supply the resource ID for the VM image version before it was even created. I was looking for a separate parameter to pass to specify the version by itself. Thanks again!

[2022-03-09 23:37] normesta commented on #88543
Hi @mschray - The ref article in V12 for QueueClient.Exists is [here](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueclient.exists?view=azure-dotnet) and the article for QueueClient.CreateIfNotExists is [here](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueclient.createifnotexists?view=azure-dotnet). These snippets have all been compiled with the .NET

[2022-03-09 23:37] #88543 closed

[2022-03-09 23:50] dcaro opened #89530 "Article missing Azure PowerShell content"
This article is missing the command with Azure PowerShell.

The Az.ContainerRegistry module has all the capabilities needed to do the same steps than those described with az cli.
https://docs.microsoft.com/en-us/powershell/module/az.containerregistry/?view=azps-7.3.0

It is important that we allow customers to use the tool of their choice and provide examples using both tools.

---
#### Document D

[2022-03-10 00:02] normesta commented on #86301
Yikes. You are correct. This is a numerical value. Fixed the docs. The changes will be live by tomorrow AM. Thanks for keeping us honest!

#please-close

[2022-03-10 00:02] #86301 closed

[2022-03-10 00:02] kobulloc-MSFT commented on #89337
@goodfm41 With a tracking bug in place, we are going to close this thread as resolved as there's no further action we can take on the doc but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-10 00:02] #89337 closed

[2022-03-10 00:04] kobulloc-MSFT commented on #89180
@brianstringfellow No worries!  I was expecting something similar and it threw me off a bit as well.  I'm happy to hear that everything is working!

[2022-03-10 00:06] ElectricLlama commented on #87790
Perhaps you could refer me to someone who can tell me how to get the npm module at https://www.npmjs.com/package/@microsoft/azure-data-factory-utilities working for this case?

[2022-03-10 00:08] MarileeTurscak-MSFT commented on #89498
@ozanabuse
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 00:09] normesta commented on #85823
Great catches. Thank you. I made these edits, and they should appear live by tomorrow AM.

#please-close

[2022-03-10 00:09] #85823 closed

[2022-03-10 00:24] GeethaThatipatri-MSFT commented on #89510
Hi @hanefiThanks for your findings, We will investigate and update as appropriate

[2022-03-10 00:34] SaiKishor-MSFT commented on #89376
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-10 00:34] #89376 closed

[2022-03-10 00:40] normesta commented on #83449
Thank you for letting us know. The issue has been reported to the developer teams. I've made a note in the docs that this feature does not appear in the Azure portal. PowerShell and Azure CLI do work for enabling static sites.  These doc updates will appear live by tomorrow morning. No ETA on a portal fix yet.

#please-close

[2022-03-10 00:40] #83449 closed

[2022-03-10 00:45] normesta commented on #79308
I believe this issue has been resolved in the docs. Closing. Thx!

#please-close

[2022-03-10 00:45] #79308 closed

[2022-03-10 00:51] normesta commented on #80751
Thank you for reporting. I've removed the broken link. Fix will appear in the docs by tomorrow AM. Thx again!

#please-close

[2022-03-10 00:51] #80751 closed

[2022-03-10 00:52] RyanHill-MSFT commented on #89487
`app_location` should be `"/"` and `output_location` should be `"dist"`. It's easier to let Azure Static Web Apps Visual Studio Code extension do the work for you. For reference, check #88921.

[2022-03-10 00:58] Oury-MSFT commented on #89512
@billletson  Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-03-10 00:58] #70843 closed

[2022-03-10 01:00] palmerboi commented on #12827
Hi @asergaz @wesmc7777

I'm currently testing out at my work deploying a DPS certificate through bicep with .pem file content and getting the exact same error. Its 2022 now, has there been any progress resolving this issue?

If yes, could you share that working bicep (or ARM) snippet here or somewhere please; cant find any examples of this working anywhere...

[2022-03-10 01:01] Oury-MSFT commented on #89255
@JV-conseil I am glad it is working now. pgbouncer needs to be enable from server parameters.

[2022-03-10 01:01] #89255 closed

[2022-03-10 01:27] Karishma-Tiwari-MSFT commented on #89530
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-10 01:29] Karishma-Tiwari-MSFT commented on #88627
Hi @mabicca, can you please share your insights on customer query on your reply? Thanks :)

[2022-03-10 01:35] Nagendracv opened #89538 "Missing documentation on forgot password"
[Enter feedback here]
Missing documentation on forgot password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21db2aed-de6f-185b-bacf-ec00fbfba2bf
* Version Independent ID: 3f09d8fe-0b80-3055-3a6d-25c1de986eef
* Content: [Single-page app sign-in & sign-out - Microsoft identity platform](https://docs.microsoft.com/en-us

[2022-03-10 01:39] SaiKishor-MSFT commented on #89343
Hello, this information is here in the Features page- https://docs.microsoft.com/en-us/azure/storage/blobs/storage-feature-support-in-storage-accounts as Customer-managed account failover. The Data Lake Known issues article is mostly for elements of features or certain conditions that don't work quite as expected along with workarounds and the feature support page is for communicating levels of su

[2022-03-10 01:39] #89343 closed

[2022-03-10 01:43] Oury-MSFT commented on #89424
@JV-conseil Thanks again for your feedback.
I tried to set pgbouncer.client_tls_sslmode to verify-full but I was not getting any error message.
![image](https://user-images.githubusercontent.com/78940872/157569473-d89f05d7-16bc-45f9-98ee-05ac2c8b92c9.png)

@sr-msft Could you please provide your inputs on the above feedback from customer.

[2022-03-10 01:49] shijiong opened #89539 "Azure IoTEdge Linux AMD64-Custom Vision Issue"
I followed the tutorial on docs page: [Tutorial - Deploy Custom Vision classifier to a device using Azure IoT Edge | Microsoft Docs](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-custom-vision?view=iotedge-2020-11) to build an image classifier with Custom Vision. And I also exported the classifier as Dockerfile for Linux to create an IoT Edge solution in Visual Studio Code. After

[2022-03-10 02:00] KrishnaG-MSFT commented on #89511
@ingo-desjardins Thanks for the feedback.

[2022-03-10 02:03] KrishnaG-MSFT commented on #89509
@ohadschn Thanks for the feedback.
Assigning to @mumian to help provide insights and for document enhancement consideration as appropriate.

[2022-03-10 02:05] mike-urnun-msft commented on #89085
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-10 02:05] #89085 closed

[2022-03-10 02:46] kobulloc-MSFT commented on #89501
@rjygraham Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-10 02:53] maheshau1 commented on #88868
Any update on this? Page still mentions Tenant Administrator.

[2022-03-10 02:55] shwetamathur7 commented on #89538
@Nagendracv Thankyou for your feedback. We will investigate and update the thread.

[2022-03-10 03:07] Nagendracv commented on #89538
Specifically - Reset password / forgot password using the legacy password
reset flow.

On Wed, Mar 9, 2022 at 9:55 PM shwetamathur7 ***@***.***>
wrote:

[2022-03-10 03:11] AnuragSingh-MSFT commented on #89379
@captainmike, thank you for the clarification. Please give me some time to look into it and get back to you,

[2022-03-10 03:38] chenlonglab198 commented on #89111
Hi @shashishailaj , May I know if there is any update for that? Thanks!

[2022-03-10 03:54] Ausxor commented on #89211
@spelluru Based on your comments, would this section therefore be redundant? The section still asks a question in the title which is not addressed in that section, this confusing to the reader.

[2022-03-10 03:57] aggieben commented on #16481
This issue should not have been closed.  Obviously there is an underlying technical issue, but as it relates to the docs, the Azure Docs page you linked should be updated to reflect this limitation.  Specifically, at the top of the page under "Limitations", there should be another bullet point with a description indicating that there isn't currently a way to set mount options, which also means tha

[2022-03-10 04:02] spelluru commented on #89211
@Ausxor - I guess I can add a new question at the top and move this question to above the relevant text.

**How to abort the migration?** CLI and portal instructions to abort the migration
**What happens when I abort the migration?** the text I mentioned in the previous post.

Thanks & Regards,
Sreedhar

[2022-03-10 04:21] xavierjohn opened #89542 "How to access symbolic name from a module?"
I use a module to setup event hub in West and East datacenters. In the parent bicep file, I need the symbolic resource name for Geo Pairing.
https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/namespaces/disasterrecoveryconfigs?tabs=bicep

How can the parent file get the symbolic resource name within a module?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-03-10 04:24] bhavana-129 commented on #87788
The changes are done and article is up to date as ISV confirmed.
So #please-close

[2022-03-10 04:24] #87788 closed

[2022-03-10 04:24] shashishailaj commented on #89500
@selectstarfromsql Thank you for your inputs . We will investigate and update the thread.

[2022-03-10 04:36] AaronMaxwell commented on #86064
This issue has been triaged and the documentation has been confirmed to be accurate and complete. Auto-instrumentation will not work with the listed incompatible libraries and there are no known workarounds or plans to mitigate this.

Thanks for providing feedback that helps improve our documentation. #please-close

[2022-03-10 04:36] #86064 closed

[2022-03-10 04:40] johnclarete commented on #76422
I logged a ticket with Microsoft and they gave an approximate GA date of around April-June 2022.

[2022-03-10 04:48] stambunan opened #89543 "Multi-container preview limitations incorrectly state that Managed Identities is not supported"
[Preview Limitations](https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#preview-limitations) incorrectly state that managed identities is not supported. I believe both system and user managed identities can now be used to pull images from the azure container registry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-03-10 04:53] ram-msft commented on #89513
@gjwoods Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-10 04:59] ElectricLlama commented on #87790
I could not reproduce this with a much simpler pipeline so there must be some other issue

[2022-03-10 04:59] #87790 closed

[2022-03-10 05:08] SwathiDhanwada-MSFT commented on #89542
@xavierjohn Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-10 05:12] ramki88 commented on #88752
@SaurabhSharma-MSFT Is there an update if CMK can be used with a key vault with only private endpoint?

[2022-03-10 05:20] kanshiG commented on #89035
We will add this in next doc cycle in April. Thanks

[2022-03-10 05:21] VikasPullagura-MSFT commented on #89477
@SauravB-MS
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-10 05:21] VikasPullagura-MSFT commented on #89477
@hirenshah1
Can you please check and add your comments on this doc update request as applicable.

[2022-03-10 05:22] VikasPullagura-MSFT commented on #89410
@demaford Any update on this?

[2022-03-10 05:24] VikasPullagura-MSFT commented on #89112
@festivus

Apologies in delayed response on this. I checked with internal team and got below response:

_A service proxy instance is created by passing ServicePartitionKey as input. If you are using SingletonPartition Scheme or if the PartitionKey is known before hand, then you can use ServiceProxy as well. Please note, creating a ServiceProxy instance is cheap and using passing ProxyFactory inste

[2022-03-10 05:36] VikasPullagura-MSFT opened #89544 "New URL for Required to fetch and update Azure Resource Manager tokens for US Gov"
New URL has to be added for Required to fetch and update Azure Resource Manager token for US Gov.

The endpoint is "<region>.login.microsoftonline.us".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df16df9a-a855-2512-5e26-baec15e3be88
* Version Independent ID: c77f255b-57c9-7e2d-2b10-98a8fe538376
* Content: [Quickstar

[2022-03-10 05:41] VikasPullagura-MSFT commented on #89544
Updated document and changes will go live soon

[2022-03-10 05:47] #89544 closed

[2022-03-10 05:56] shwetamathur7 commented on #89062
@Andrew-Coughlin-MSFT Thanks for pointing this and apologies for delay in response. I have updated the document as per need and sent for review to author.

[2022-03-10 06:10] Madhumitatripathy commented on #87215
@bmtorres

Hi, Thanks for your update. We are working on integrating Microsoft Information Protection Policy with Azure DB, so that You can directly assign the MIP labels in data classification blade of Azure DB instead following the steps in https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-import-purview-labels . This MIP functionality is already available in SQL box and i

[2022-03-10 06:15] AnuragSharma-MSFT commented on #89407
@danieldespainTLS Thanks for your patience. We have made the changes through a PR which could take few days to go live.

<img width="913" alt="image" src="https://user-images.githubusercontent.com/66360845/157600847-8a1fb9be-658e-4cca-8ae2-8dea12bb5c8f.png">

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue t

[2022-03-10 06:15] #89407 closed

[2022-03-10 06:40] mascalyx commented on #76422
I've just had a support ticket come back yesterday from MS with end April 2022.
When did you get your response?

[2022-03-10 06:47] bhavana-129 commented on #89488
@baileydoestech We've updated suggested changes in another PR. So closing this PR now.
#please-close

[2022-03-10 06:47] #89488 closed

[2022-03-10 06:52] johnclarete commented on #76422
Just today.

On Thu, 10 Mar 2022, 16:40 mascalyx, ***@***.***> wrote:

[2022-03-10 07:27] Bogdan-Stancescu-RBC opened #89545 "Wrong command in Clean up"
The very last CLI command in section *Clean up resources* currently reads
[code]

Instead, it should be
[code]

Alternatively, the sp appId could be saved in a shell variable earlier in the tutorial, since the same nested shell command is also used at the end of section *Create a service principal and store credentials*.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-03-10 07:27] hkusulja opened #89546 "Clarify documentation for stack setting"
Hello,
Please clarify documentation for stack setting.

I am using Windows based, and if I set to PHP 7.4 on Azure Web App configuration page as stack, then why is .aspx file also working?
Due to security concerns, we need to know, what kind of file extensions can be run inside the Azure Web App.
Is it possible to somehow block ASP.NET / .aspx etc., when web app is using just .php files?
What othe

[2022-03-10 08:10] FallenHoot opened #89547 "Missing info about Azure DDoS Protection Basic"
What happen to the Azure DDoS Protection Basic info. Customers would like to understand what is Built-In compared to what cost $2,900 a month. Only info that I have found is from 2017 (https://azure.microsoft.com/en-us/blog/azure-ddos-protection-for-virtual-networks-generally-available/).

Can we have a section for Azure DDoS Protection Basic Overview?

---
#### Document Details

⚠ *Do not edit th

[2022-03-10 08:28] romanzdk opened #89548 "az storage blob upload-batch "ERROR: The specified blob already exists.""
I am running `az storage blob upload-batch -d "container/test/folder" --account-name "***" --auth-mode login -s "./some-folder/"` from Azure DevOps self-hosted Ubuntu 18.04 build agent, az cli v2.34.1 (before that I am logging with service principal via `az login`).

I am using yaml templates for running this code to upload files to prod and test datalake. When uploading to prod, everything works

[2022-03-10 08:31] squasta opened #89549 "Errors in command to create a node pool"
in documentation command provided to create a multi gpu instance node pool is 👍🏻

az aks nodepool add \
    --name mignode \
    --resourcegroup myresourcegroup \
    --cluster-name migcluster \
    --node-size Standard_ND96asr_v4 \
    --gpu-instance-profile MIG1g

this command as 2 errors : one on resourcegroup, the second on vm size.

Right command is :

az aks nodepool add \
    --name mignode

[2022-03-10 08:31] huatingwei opened #89550 "Cannot found Azure Blueprints HIPAA HITRUST 9.2 blueprint sample"
[Enter feedback here]
One of our customers would like to deploy the Azure Blueprints HIPAA HITRUST 9.2 blueprint sample. However, HIPAA HITRUST couldn’t be found as mentioned by steps in document.

I checked it from my side. It doesn’t show up.

[Help Needed]
Is HIPAA HITRUST 9.2 blueprint sample still available as mentioned in the doc above?

Doc: https://docs.microsoft.com/en-us/azure/governance

[2022-03-10 08:41] AzCii opened #89551 "Unclear fields"
Reading the DNS schema it's unclear to me if EventResultDetails, EventResult and to some extend ResponseCodeName, is part of this schema or not.

EventResultDetails is listed in the Schema Overview and Common fields and is said to contain information about if the event was successfull or not.

Under Common fileds in the EventResultDetails section, EventResult is also mentionsl, but then never agai

[2022-03-10 08:49] AshokPeddakotla-MSFT commented on #89539
@shijiong Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-10 08:51] Vampiredk commented on #89487
changed it to that, but know i am getting this problem

![image](https://user-images.githubusercontent.com/24875433/157625655-b9737b87-2576-4bbb-a138-654ce78baf50.png)

[2022-03-10 09:08] romanzdk commented on #89548
OK, so the problem was in different versions of AZ CLI, because build agent in test and prod were different.

[2022-03-10 09:08] #89548 closed

[2022-03-10 09:33] shmatsuy opened #89553 "Monitoring Agent ？"
Is the Monitoring Agent an Azure monitor Agent or a Log Analytics Agent?

A pre-existing VM extension is present:

When the **Monitoring Agent** is installed as an extension, the extension configuration allows reporting to only a single workspace. Defender for Cloud does not override existing connections to user workspaces. Defender for Cloud will store security data from the VM in the workspace a

[2022-03-10 09:43] TimWardC3 commented on #88266
Thanks you

[2022-03-10 09:49] stutommi commented on #76412
Any updates to this? June 2022 is coming really fast.

[2022-03-10 09:52] andrePKI commented on #70843
Too bad nothing is done with my comment, which still holds IMHO.

[2022-03-10 10:16] sdebruyn opened #89555 "Unclear usage of user-assigned managed identity"
The page says only a system-managed identity is supported. However, the Form Recognizer also allows you to create user-assigned managed identities. However, this identity seems 100% useless as it cannot be used for accessing a storage account. The page should clearly state that you **can** create user-assigned identities, but that they don't work.

---
#### Document Details

⚠ *Do not edit this se

[2022-03-10 10:16] kaganmersin opened #89556 "Explanation required for how to lock down access to with backend on the Ingress Controller Global Level to only Azure Front Door"
There is an explanation for how we can ensure requests comes from a particular Front Door with an Ingress annotation level. But there should be an explanation of how we can achieve on the Ingress Controller level in order to more general security approach. Because there is a chance people can forget about configuring their Ingress for their particular applications  but if we configured on the Ingr

[2022-03-10 10:21] sdebruyn opened #89557 "External tables usage very unclear"
I've lost several hours in this page.

### Partitioned parquet

Most commonly used data type in 2022 is partitioned parquet datasets. The conclusion for a dedicated SQL pool is: you can't use  them as the values of your partition columns will be lost. This is not clear from this page.

### COPY INTO as alternative

COPY INTO might often be a good alternative and even allows you to skip the schema

[2022-03-10 10:22] sdebruyn opened #89559 "OPENROWSET availability in dedicated SQL pool"
Please add a very clear warning that OPENROWSET is not available at all in dedicated SQL. One might think that the page just goes into examples for serverless, but that they might as well work in dedicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14424d-3d48-0d79-9d2d-af8cb48f9116
* Version Independent ID: e2b

[2022-03-10 10:25] sdebruyn opened #89560 "Elaborate on differences between dedicated/serverless"
I have to be blunt here. The 2 engines in Synapse are vastly different from each other and just giving us 2 tables with some yes/no is not enough.

What I would expect to see:

* Examples of use cases of when I should choose dedicated vs serverless
* The exact T-SQL keywords (most used ones) which are (not) available: can I use INSERT in an EXTERNAL TABLE? Can I use OPENROWSET in both?

---
#### D

[2022-03-10 10:26] akn9050 opened #89561 "in this doc shared Image Gallery is not updated with new name Azure compute Gallery"
[in this doc shared Image Gallery is not updated with new name Azure compute Gallery ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4c09d03-24b1-f376-34fd-cbfd8d29d3d7
* Version Independent ID: 763073bf-734e-e079-2d4c-97c097eb7c88
* Content: [Share gallery images across tenants in Azure - Azure Virtual Machines](htt

[2022-03-10 10:26] sdebruyn opened #89562 "HEAP tables not mentioned"
The page doesn't say anything about HEAP tables which also exist as an alternative to the 2 already mentioned. It would be useful to include this in the comparison.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5240cd58-9cd1-6492-4f81-3ae2e827835d
* Version Independent ID: 0ebfc801-313c-236c-e41a-fed1ca1efbcc
* Conten

[2022-03-10 10:29] sdebruyn opened #89563 "Link for feedback is missing on T-SQL documentation pages"
There are no links for feedback about the docs on all pages in this section: https://docs.microsoft.com/en-us/sql/t-sql/statements/statements?view=azure-sqldw-latest

[2022-03-10 10:31] sdebruyn opened #89564 "Synapse COPY INTO AUTO CREATE TABLE options"
The option AUTO CREATE TABLE documented on https://docs.microsoft.com/en-us/sql/t-sql/statements/copy-into-transact-sql?view=azure-sqldw-latest uses some options to create the table but these are not documented. E.g. I want to have HEAP tables with distribution ROUND ROBIN, but apparently the option creates CCI tables.

[2022-03-10 10:33] sdebruyn opened #89565 "Synapse COPY INTO data type mapping"
Regarding the COPY INTO option documented on https://docs.microsoft.com/en-us/sql/t-sql/statements/copy-into-transact-sql?view=azure-sqldw-latest

The statement expects a table with a certain schema so that the schema matches the files in the storage account. You need to create your table with that specific schema or you get unclear errors (or no errors at all, which is also not good because your

[2022-03-10 10:36] diecknet opened #89567 "Screenshot Network configuration in the Azure Portal is outdated."
The screenshot in section "Configure networking - portal" is outdated.
![Old screenshot from 2018](https://github.com/MicrosoftDocs/azure-docs/blob/edece1dbdaedfc469057bb206fefacc82fa724d6/articles/aks/media/networking-overview/portal-01-networking-advanced.png?raw=true)
This one here is more accurate:
![image](https://user-images.githubusercontent.com/54552094/157644188-0b3fc5a4-3518-4080-9ac1-cb

[2022-03-10 11:19] darwinjames opened #89568 "Incorrect maximum capacity for GPv2 storage account"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-scale-targets#storage-account-scale-targets

![image](https://user-images.githubusercontent.com/24714272/157650948-e532e7fa-ec7d-4733-885c-4f83597a8632.png)

In the second row of the Storage account scale targets table, maximum storage account capacity for GPv2 storage is mentioned as 5 PiB. Shouldn't that be

[2022-03-10 11:19] RBVieira opened #89569 "Typing error in the text?"
If every execution failed, after five attempts to trigger the same message, that message would be marked as abandoned.

Should not be 10 attempts?

Because the default delivery count is 10 attempts deliveries for Service Bus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version

[2022-03-10 11:24] RohitMungi-MSFT commented on #89555
@sdebruyn Thanks for reporting this. Yes, the user assigned identity can still be created from the portal.
@laujan Can we explicitly add a note that user assigned identity can still be created from Azure portal but cannot be used with Azure form recognizer? The current documentation only mentions that system managed identity is supported.

[2022-03-10 11:34] RohitMungi-MSFT commented on #89563
@sdebruyn The documentation for SQL server uses this github [repo](https://github.com/MicrosoftDocs/sql-docs/issues).
You can provide feedback by raising an issue on this repo.

[2022-03-10 11:35] RohitMungi-MSFT commented on #89564
@sdebruyn The documentation for SQL server uses this github [repo](https://github.com/MicrosoftDocs/sql-docs/issues).
You can provide feedback by raising an issue on this repo.

[2022-03-10 11:36] RohitMungi-MSFT commented on #89565
@sdebruyn The documentation for SQL server uses this github [repo](https://github.com/MicrosoftDocs/sql-docs/issues).
You can provide feedback by raising an issue on this repo.

[2022-03-10 11:44] scoriajosh commented on #89502
Hi, Specifically we are looking for Teams Phone with Calling plan

Thanks

josh

[2022-03-10 11:47] v-sanjay opened #89571 "Payment for MOSP customer (MCA currently not available for India"
[Enter feedback here]
Sign in to the [Azure portal](https://portal.azure.com/) as the Account Admin.
Search for Cost Management + Billing.
Select the past due subscription from the Overview page.
In the Subscription overview page, click the red past due banner to settle the balance.
 Note

If you are not the Account Administrator, you will not be able to settle the balance.

If your account is in

[2022-03-10 11:48] TorquinDSL commented on #89172
I did not save it. I did find the recurrence in a different tab. I did not
know it was a tab, and did not know that the search function would not
search across all available objects.
Anyway, one of the links you sent did have formatting information for
times, and that link should be prominent in the page I contacted you about,
as I still encounter fields that are quite particular about the date/ti

[2022-03-10 12:30] SubhashVasarapu-MSFT commented on #89476
@tetsuyasodo , SPN ObjectID for Azure Front Door (Classic) is "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037".

You can validate the same in PowerShell as below:
ServicePrincipalNames : {ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037,
ApplicationId : ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037
ObjectType : ServicePrincipal
DisplayName : Microsoft.Azure.Frontdoor <----------- this is for Azure Front Door (Classic)

ServiceP

[2022-03-10 12:30] #89476 closed

[2022-03-10 12:31] shashishailaj commented on #89551
@AzCii Thank you for your feedback . We will investigate and update the thread.

[2022-03-10 12:33] shashishailaj commented on #89553
@shmatsuy
Thank you for your feedback . We will investigate and update the thread.

[2022-03-10 12:37] shashishailaj commented on #89549
@squasta Thank you for reporting this . We will investigate and update the thread.

[2022-03-10 12:39] shashishailaj commented on #89561
@akn9050 Thank you for catching this . We will investigate and update the thread.

[2022-03-10 12:41] shashishailaj commented on #89567
@diecknet Thank you for your feedback  We will engage the content team to investigate and update the thread.

[2022-03-10 12:42] asergaz commented on #56733
Hello @rafaelsmoreno , the document to which this issue relates was updated several times since then. Are you following the tutorial as is? https://docs.microsoft.com/en-us/azure/iot-central/healthcare/tutorial-health-data-triage

If so, and you believe this is a bug in the doc can you file a new issue clicking on the bottom of the page:

![image](https://user-images.githubusercontent.com/22173500

[2022-03-10 12:43] shashishailaj commented on #89568
@darwinjames Thank you for your feedback . We will investigate and update the thread.

[2022-03-10 12:44] shashishailaj commented on #89556
@kaganmersin Thank you for your feedback . We will investigate and update the thread.

[2022-03-10 12:47] shashishailaj commented on #89543
@stambunan Thank you for your feedback . We will investigate and update the thread .

[2022-03-10 12:59] RohitMungi-MSFT commented on #89474
@NAWABDERA1 We will now proceed to close this thread. Please add more details to the issue if it is related to Azure documentation or create a new issue with the required details. Thanks!!

[2022-03-10 12:59] #89474 closed

[2022-03-10 13:09] madsd commented on #85557
Documentation has been updated. #please-close

[2022-03-10 13:09] #85557 closed

[2022-03-10 13:10] madsd commented on #84918
#please-close

[2022-03-10 13:10] #84918 closed

[2022-03-10 13:19] madsd commented on #88721
We made an additional improvement to call out that it is supported Standard SKU and link to the limitations section for details.
#please-close

[2022-03-10 13:19] #88721 closed

[2022-03-10 13:20] madsd commented on #87881
#please-close

[2022-03-10 13:20] #87881 closed

[2022-03-10 13:20] GitaraniSharma-MSFT commented on #89556
@kaganmersin , We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-03-10 13:23] madsd commented on #86311
For ASEv2 we are not able to make these more specific as the endpoints are not tagged (management endpoints). As mentioned you have full freedom with ASEv3 to apply tight NSGs and only allow what you app really needs (typically port 443 inbound).
#please-close

[2022-03-10 13:23] #86311 closed

[2022-03-10 13:23] sumitag19 commented on #85624
Hi, Any update on this? I am facing this issue on Python-3.8 AzureML kernal

[2022-03-10 13:24] mzakirs opened #89574 "2 SPs with same name - Windows Virtual Desktop, How will we understand which one is for classic or ARM."
Hi Team,

On this article - https://docs.microsoft.com/en-us/azure/virtual-desktop/autoscale-scaling-plan, under the section, assigning the custom role. refer to the screenshot:
![image](https://user-images.githubusercontent.com/80399285/157670241-68000bde-28c8-4335-8a19-9353f2c175c3.png)

How will anyone differentiate that 2SP with same display name Windows Virtual Desktop, understand that 1 is f

[2022-03-10 13:25] GitaraniSharma-MSFT commented on #89322
@deandownunder , I'm following up on my previous comment. Kindly let us know if the above helps or you need further assistance on this issue.

[2022-03-10 13:36] batamig commented on #89551
Tagging the content owner here - @oshezaf can you assist?

[2022-03-10 13:47] mrbelchior commented on #89502
Hi @Nicholak-MS , I believe it's ae2343d1-0999-43f6-ae18-d816516f6e78 (Teams Phone with Calling Plan).

[2022-03-10 13:49] Andrew-Coughlin-MSFT commented on #89062
Is there a reason why we aren't calling out Microsoft.Support/supportTickets/read and Microsoft.Support/supportTickets/write is the minimum to open a case?

[2022-03-10 14:02] LitKnd commented on #87215
Hi @bmtorres ,

Per @Madhumitatripathy 's comment, I am going to go ahead and close out this issue. Thank you very much for bringing this to our attention and helping us make the documentation better-- we really appreciate it. You will still be able to comment on this issue even after it is closed if you wish to share further feedback.

Thanks again,
Kendra Little
Content Developer on the Database

[2022-03-10 14:02] #87215 closed

[2022-03-10 14:03] 0x113 commented on #60635
Any update on this feature? The link to the suggestion throws 404.

[2022-03-10 14:16] sdebruyn commented on #89563
Reported as https://github.com/MicrosoftDocs/sql-docs/issues/7375

[2022-03-10 14:16] #89563 closed

[2022-03-10 14:18] sdebruyn commented on #89564
Reported as https://github.com/MicrosoftDocs/sql-docs/issues/7376

[2022-03-10 14:18] #89564 closed

[2022-03-10 14:18] sdebruyn commented on #89565
Reported as https://github.com/MicrosoftDocs/sql-docs/issues/7377

[2022-03-10 14:18] #89565 closed

[2022-03-10 14:21] Pr-Barnart commented on #69469
I have the same issues, mandatory use op a header called  'Accept-Crs' with GET , which is omitted with http-request.
It is frustrating and time consuming, not getting any error and the blocking  is without need(?)

[2022-03-10 14:27] batamig commented on #89551
Thanks @oshezaf and thanks @AzCii for writing into docs.

I'm going to close this issue in the meantime, but please feel free to continue commenting as needed. We appreciate your input - thanks for your contributions to docs!

#please-close

[2022-03-10 14:27] #89551 closed

[2022-03-10 14:32] SauravB-MS opened #89576 "Please fix powershell command for adding application to an existing VM, failing with "Cannot bind parameter 'VM'""
[Enter feedback here]
To add the application to an existing VM, get the application version and use that to get the VM application version ID. Use the ID to add the application to the VM configuration.

$app = New-AzVmGalleryApplication -PackageReferenceId $packageid
Add-AzVmGalleryApplication -VM $vmname -GalleryApplication $app
**Update-AzVM -ResourceGroupName $rgname -VM _$vmname_**

Fails with

[2022-03-10 14:36] billletson commented on #89512
To follow up on this, it appears that at no point in the migration process of a Simple or Full recovery mode database is setting changed that could be interpreted as making it unavailable.  It remains online, in multiuser mode, and with read-only disabled.

Reading the "online" version of this document, the "Complete migration cutover" section is clearer as to what ADS does, and what is the respon

[2022-03-10 14:36] AaronMaxwell commented on #89333
Thanks for your dedication to our documentation!

We are in the process of overhauling all of the Application Insights pages to provide guidance on using Connection Strings instead of Instrumentation Keys.

Here is some information on migration to Connection Strings that may be useful for you, and we have a helpful Q&A forum to assist with any questions.

Migrate from Application Insights instrume

[2022-03-10 14:36] #89333 closed

[2022-03-10 14:39] Digiroka opened #89577 "Incorrect information"
The important information section states:

You must be a Cloud Device Administrator, Intune Administrator, or Global Administrator in Azure AD to delete a device.

After testing it does not appear that 'Intune administrators' have the rights to remove devices from AAD - only from the intune console. Please check / update with only roles that are allowed to delete devices from the AAD Devices conso

[2022-03-10 14:41] madsd commented on #89506
Hi @toddfoust, thank you for your feedback. I rewrote the whole Route section to make it more clear. The content should be live at the end of the day - let me know if you have further suggestions to improvement - just open a new issue.
#please-close

[2022-03-10 14:41] #89506 closed

[2022-03-10 15:07] mumian commented on #89542
@xavierjohn - the information is covered in this article - https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/modules#output

#please-close

[2022-03-10 15:15] Graygote opened #89582 "Azure Virtual Desktop session host autoscale supported regions"
Documentation needs additional clarification/specificity.
The document states that "Scaling Plans" are available in the US and European regions. That statement is only partially correct; which can cause extreme grief to customers (and has in our case). Scaling Plans are not available in 'ALL' US regions, there are currently only two (2) supported regions: Central, and East US2; that is all.

If yo

[2022-03-10 15:20] michaelwechner commented on #89481
Thanks!

[2022-03-10 15:29] SadiqhAhmed-MSFT commented on #89323
@zeeshaanali Are you running this in an "internal subscription" and can you connect directly to the VM via RDP? Can you check how the "effective security group" rules look like for the VM in question - maybe there is some corporate Azure Virtual Networking Manager policy that's blocking specific ports in internal subscriptions of some orgs in Microsoft.

[2022-03-10 15:40] luchua-bc opened #89583 "Question about Reader access for files/directories"
[Enter feedback here]

The document says
`If you don't want the contents of the root folder to be visible, you can assign them [Reader](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader) role. With that role, they'll be able to list the containers in the account, but not container contents. You can then grant access to specific directories and files by using AC

[2022-03-10 15:48] adrianhall commented on #70505
Ensure you are using a Developer SKU.

[2022-03-10 15:53] xavierjohn commented on #89542
[output](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/modules#output)
does not have the capability to return a symbolic name.

[2022-03-10 15:55] zincob opened #89584 "Ignore updates and deletes and CDF"
In the section "Structured Streaming does not handle input that is not an append and throws an exception if any modifications occur on the table being used as a source" may  ask why CDF is not mentioned as way to manage source with delete and updates?

I noticed that CDF is mentioned afterwards but I assume it would be helpful to mention that CDF can be used as a source to stream also updates and

[2022-03-10 15:59] ShaikMaheer-MSFT commented on #89559
@sdebruyn Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-10 16:00] bruceharrison1984 commented on #89499
Eventually I got past this error by setting the App Registration to `public`. I seems like it took a very long time before the App Registration was updated.

I am however still not receiving any claims back despite successfully logging in. This documentation overall feels very thin.

[2022-03-10 16:00] ShaikMaheer-MSFT commented on #89560
@sdebruyn Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-10 16:02] ShaikMaheer-MSFT commented on #89562
@sdebruyn Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-10 16:05] madsd commented on #13943
#please-close

[2022-03-10 16:09] Djangoum opened #89585 "maxMessages is not in the json example and maxMessageBatchSize is not described below."
Hi!

In the description table for Extension 5.x+ I can't find maxMessageBatchSize which seems to be something equivalent to maxMessages but maxMessages is not in the json example.

They seem to be the same but it's not specified this is maybe a typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3ad

[2022-03-10 16:13] mumian commented on #89542
@xavierjohn - see the last example in the article.  The module's symbolic name is "stg". When you call the module, you name it "stgModule".  You can use "stgModule" to reference the module.

[2022-03-10 16:15] madsd commented on #15736
Docs has been updated #please-close

[2022-03-10 16:15] #15736 closed

[2022-03-10 16:16] madsd commented on #18151
This has been removed #please-close

[2022-03-10 16:16] #18151 closed

[2022-03-10 16:19] madsd commented on #46060
Event Hub service endpoint is mentioned in the doc #please-close

[2022-03-10 16:19] #46060 closed

[2022-03-10 16:20] xavierjohn commented on #89542
Maybe the ability to access a resource within a module does not exist so I have opened this issue.
https://github.com/Azure/bicep/issues/6178

[2022-03-10 16:21] madsd commented on #57433
#please-close

[2022-03-10 16:21] #57433 closed

[2022-03-10 16:22] madsd commented on #56781
Yes, you will still need to have this path open for App Service Environment v2
#please-close

[2022-03-10 16:22] #56781 closed

[2022-03-10 16:23] madsd commented on #42338
Link has been fixed #please-close

[2022-03-10 16:23] #42338 closed

[2022-03-10 16:25] mumian commented on #89542
@xavierjohn - I am not sure why you need a symbolic name from a module.  You can get values from a module by getting output from the module.  Can you share your Bicep file?

[2022-03-10 16:35] xavierjohn commented on #89542
Here is the link to the source code

https://stackoverflow.com/questions/71417723/how-to-setup-eventhub-disasterrecoveryconfigs-using-azure-bicep

Sent from my iPad

On Mar 10, 2022, at 8:25 AM, Jonathan Gao ***@***.***> wrote:

﻿

@xavierjohn<https://github.com/xavierjohn> - I am not sure why you need a symbolic name from a module. You can get values from a module by getting output from the modul

[2022-03-10 16:37] sndmails2arun opened #89586 ""Show database connection strings" option mentioned in the page doesn't exist on the Azure portal"
There is no option  "Show database connection strings" under the essentials section on azure portal as mentioned in the document. Screenshot attached.

![azureportal](https://user-images.githubusercontent.com/9270283/157710883-28ac3726-4ff9-49be-9410-5f0ed965aeee.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fff

[2022-03-10 16:44] madsd commented on #54620
Unfortunately we cannot guarantee the IPs of these addresses and you will need a firewall that supports fqdn, or move to App Service Environment v3, which does not have these dependencies. #please-close

[2022-03-10 16:44] #54620 closed

[2022-03-10 16:45] JnHs commented on #60635
Apologies for the bad link, our feedback system has changed. I'm not able to provide any update on plans for this, but you can find an equivalent suggestion here: https://feedback.azure.com/d365community/idea/148efdcb-f824-ec11-b6e6-000d3a4f0da0

[2022-03-10 16:45] #19576 closed

[2022-03-10 16:45] iwafula025 opened #89587 "Missing text"
Looks like something is missing in the last sentence below:

Microsoft Sentinel collects data into the Log Analytics workspace from multiple sources. Data from built-in data connectors is processed in Log Analytics using some combination of hardcoded workflows and ingestion-time transformations, and data ingested directly into the custom logs API endpoint is , and then stored in either standard or

[2022-03-10 16:47] BrunoJuchli commented on #45995
@DixitArora-MSFT
This page still only documents how to use *.fsx which is not supported from Function 2.x on.

[2022-03-10 16:47] ecfan commented on #69469
Hi @Pr-Barnart, thanks for your feedback. As the "Accept-Crs" header is included in the dropped headers list, I suggest sharing this feedback with the product team in the [Logic Apps feedback forum](https://feedback.azure.com/d365community/forum/cb47c115-7926-ec11-b6e6-000d3a4f032c).

[2022-03-10 16:47] madsd commented on #32377
As mentioned, a guide can be found in the mentioned article. #please-close

[2022-03-10 16:47] #32377 closed

[2022-03-10 16:49] madsd commented on #34364
Article has been updated with the correct records. #please-close

[2022-03-10 16:49] #34364 closed

[2022-03-10 16:51] madsd commented on #28508
Docs should have been updated. #please-close

[2022-03-10 16:51] #28508 closed

[2022-03-10 16:53] #21605 closed

[2022-03-10 16:53] kobulloc-MSFT commented on #89576
@SauravB-MS I'll get a PR out to correct this.  Thank you again for bringing this to our attention!

It looks like the wrong variable was used and as a result, the intended variable was created and then never used.  [Update-AzVM](https://docs.microsoft.com/en-us/powershell/module/az.compute/update-azvm?view=azps-7.3.0) is looking for a `<PSVirtualMachine>` rather than a `<String>`.

![image](https

[2022-03-10 16:54] AshokPeddakotla-MSFT commented on #89170
@AlanPintor-git You will not be able to see the devices in Azure Portal. You need to navigate to your IoT Central Dashboard to see the list of devices created.

You are getting the error because you haven't setup the environmental variables correctly or missed to update correctly.

I followed the doc as is and able to run successfully without any issues. Please double check the environment variabl

[2022-03-10 17:13] ecfan commented on #89172
@TorquinDSL, thanks for the feedback. If you're referring to the following tabs, make sure to select **All** when searching for triggers or actions. I'll add a link to the doc.

![image](https://user-images.githubusercontent.com/13206671/157717877-17a106da-e834-4513-84fb-e4fc59c1b229.png)

To make a produce suggestion, please post your feedback in the [Logic Apps feedback forum](https://feedback.a

[2022-03-10 17:17] SnehaAgrawal-MSFT commented on #89331
@sdg002 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-03-10 17:18] MarileeTurscak-MSFT commented on #89587
@iwafula025
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 17:19] #83340 closed

[2022-03-10 17:29] festivus commented on #89112
It would be using a Singleton or Known partition key. A service proxy factory isn't typed by service, so if I want to pass in a mock service proxy factory, i have no idea what services are being used by the service without knowing the internal implementation. So i'd rather pass in the typed service in the constructor.

As far as thread safe, a stateless service can handle multiple calls simultaneo

[2022-03-10 17:42] ravkash opened #89589 "definition of recommended not provided"
[Enter feedback here]

The documentation talks about recommended regions couple of times, but there is no documentation on what "recommended" means. Please clarify or include a link to a doc that has the information.

_Foundational services: Available in all recommended and alternate regions when a region is generally available, or within 90 days of a new foundational service becoming generally av

[2022-03-10 17:44] ktuckerdavis opened #89590 "Spark 3 support"
Will this connector be supported for Spark 3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8856e266-2e44-68cb-c49f-4aaf4a2a2c87
* Version Independent ID: 9004a598-632b-6c7a-d854-03cb14cb87e3
* Content: [Metadata and Lineage from Apache Atlas Spark connector - Azure Purview](https://docs.microsoft.com/en-us/azure/purv

[2022-03-10 17:47] chanuengg commented on #89590
It does not support Spark 3

From: ktuckerdavis ***@***.***>
Sent: Thursday, March 10, 2022 9:44 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Chandru Sugunan ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Spark 3 support (Issue #89590)

Will this connector be supported for Spark 3?

________________________________
Document Details

⚠ Do not edit this section. It is req

[2022-03-10 17:54] fabnord commented on #89589
The list of regions at its category (recommended, other) is an important information for our customers to plan their regional footprint accordingly.

We are aware that the information is visible as part of the Azure Portal and Azure CLI allows query, e.g. by executing `az account list-locations --query "[].{DisplayName:displayName,PhysicalLocation:metadata.physicalLocation,Category:metadata.region

[2022-03-10 17:56] #89172 closed

[2022-03-10 17:57] ecfan commented on #89172
@TorquinDSL: The doc update should go live later today.

[2022-03-10 18:05] antbewes opened #89591 "Java SE app.jar rename is unclear regarding windows/linux"
The section below, regarding "you can upload a shell script with the command to run your .jar app. Paste the absolute path to this script in the Statup File textbox" only applies to linux platform? How can I do this for a windows platform as I don't want to be forced to use app.jar as my jar file name.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-03-10 18:06] macolso commented on #81273
Hi! Yes, ACI does support NAT Gateway now. You can see the tutorial here for [more details](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-nat-gateway)

[2022-03-10 18:11] umeshbarapatre opened #89593 "Contributor Name"
[Enter feedback here]
I have submitted this article originally to microsoft docs and then was published also as my name as author. I am really surprised that the content more or less remains the same and same screenshots as well but my name is removed as the original author. While i understand there may be other folks who would have contributed to this but i think its unfair to remove the name alt

[2022-03-10 18:14] zeeshaanali commented on #89323
@SadiqhAhmed-MSFT

- No its nothing like `Internal Subscription`, I even tried the same from my personal ( _non corporate_ ) subscription too, same issue. This rules out the possibility of any corporate Azure Virtual Networking Manager policy.
- Yes, I can directly connect to the VM via RDP.
- This is how the effective security group looks like:
    ![image](https://user-images.githubusercontent.c

[2022-03-10 18:20] shekharsorot opened #89594 "Addition of a required package for azure fencing configuration on SLES"
[Enter feedback here]
Based on SLES documentation: https://www.suse.com/support/kb/doc/?id=000020377,
We need to deploy python-azure-identity(SLES 12. xx) or python3-azure-identity ( SLES 15. xx ) in order for the Azure fencing agent to work.
Without installing this package, the setup for azure fencing on SLES will result in a "Stopped" status without any useful information in logs or traces.  Dee

[2022-03-10 18:26] TimTheinAtTabs opened #89595 "Undefined function: 'current_schema'."
Why is this function undefined under DBR 9.1 LTS and 10.3, yet it is documented here as a built-in function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474e1300-580e-370d-1a76-0220f6b44d5a
* Version Independent ID: 474e1300-580e-370d-1a76-0220f6b44d5a
* Content: [current_schema function (Databricks SQL) - Azure Dat

[2022-03-10 18:38] shmahe commented on #85624
@sumitag19 or @yusosov would you be able to share information about which image you are using? And whatever logs you can share?

[2022-03-10 18:42] YutongTie-MSFT commented on #87505
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-03-10 18:42] #87505 closed

[2022-03-10 18:45] Lroca88 opened #89596 "Web App reference instead SQL Server"
There is no SQL server created in this section, therefore the next sentence is not accurate, in fact is misleading:
Finally, use the VM that you created earlier to connect to the SQL Server instance across the private endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c1d2a4-68a1-4afa-9363-27ffe5513e1b
* Versio

[2022-03-10 18:48] asudbring commented on #89596
@Lroca88
Thanks for the feedback!  It's a type.  It should say "Connect to your web app" instead of SQL server.  Will fix.

Thanks!

[2022-03-10 18:48] MH-ZShearer opened #89597 "AAD Seamless SSO - Incorrect Testing Steps"
In the section [Azure AD Seamless SSO - Step 4: Test the feature](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-4-test-the-feature), the below information is stated:

To test the scenario where the user doesn't have to enter the username or the password, use one of these steps:
- Sign in to `https://myapps.microsoft.com/contoso.onmicrosoft.com`

[2022-03-10 18:50] b-hchen commented on #89314
@[SumanthMarigowda](https://github.com/SumanthMarigowda) - This is translation / localization issue.  Per
[Localization contacts](https://review.docs.microsoft.com/en-us/help/contribute/localization-get-started?branch=main#localization-contacts), the Azure contact is dengyun@microsoft.com .   You can assign this issue to 'dengyun' for assistance.  Thanks.

[2022-03-10 18:55] JamesTran-MSFT commented on #89593
@umeshbarapatre
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-10 18:59] JamesTran-MSFT commented on #89597
@MH-ZShearer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 19:04] mike-urnun-msft commented on #89585
Thank you for your feedback! We will review and update as appropriate.

[2022-03-10 19:04] moebius87 opened #89598 "API management - email settings - SPF and DKIM information are missing"
the setting "Originating e-mail" is not explained and is not explained how to configure DNS to manage SPF, DKIM, DMARC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a55c0a23-de53-df95-fcc9-70cebebf3d0c
* Version Independent ID: 51f1b3fc-aa47-110b-6de9-e4fec8c5b269
* Content: [Configure notifications and email template

[2022-03-10 19:34] iwafula025 opened #89599 "Link to page broken: Permissions to create Data Collection Rule objects in the workspace."
PEr subject line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4722599e-952c-f9f1-4e00-1dbaadd6dccc
* Version Independent ID: e7654b0b-b5d8-154f-b994-8af5da5d578c
* Content: [Tutorial - Add ingestion-time transformation to Azure Monitor Logs using Azure portal - Azure Monitor](https://docs.microsoft.com/en-us/azure/az

[2022-03-10 19:35] omar-nav opened #89600 "Permissions issue"
After following the steps mentioned here I ran into this permissions issues. Do you know which service requires my ownership role for my service principal? Screenshot attached.

[Enter feedback here]
![permissions](https://user-images.githubusercontent.com/13755487/157740952-e1d2ca74-3c0f-42a7-9033-60f938593194.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-03-10 19:44] rajeshsetlem commented on #89500
Hi @selectstarfromsql, in multi subnet approach each VM irrespective of whether it is in same or different region must be in its own subnet. If VMs are in the same subnet, then you need to rely on Azure Load Balancer to get floating IP required for Availability Group listener.

For your specific scenario, place 2 VMs in region 1 in different subnets and place the 3rd VM in region 2 in its own subn

[2022-03-10 19:46] DerekHerman-MSFT commented on #89583
@[luchua-bc](https://github.com/luchua-bc) The document links to the role it is referring to which is the plain Reader role not the Storage Blob Data Reader Role.
The [Reader](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader) role is an Azure Resource Manager role that permits users to view storage account resources, but not modify them. It does not provide re

[2022-03-10 19:46] #89583 closed

[2022-03-10 19:51] MarileeTurscak-MSFT commented on #89546
@hkusulja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 19:54] luchua-bc commented on #89583
Thanks @DerekHerman-MSFT for the clarification.

[2022-03-10 20:04] James-Hamil-MSFT commented on #89600
Thank you for your feedback. We are reviewing it and will update you shortly.

Best,
James

[2022-03-10 20:15] rainer-goldmann-by commented on #87678
Any information or update on this?

[2022-03-10 20:19] rainer-goldmann-by commented on #34446
any update??

[2022-03-10 20:22] jonburchel commented on #83882
Thanks @bernaljo for your feedback to help us improve the docs.  I added a note specifying this requirement in the document now, and the change should be published later today on the next publishing cycle.

[2022-03-10 20:24] mike-urnun-msft commented on #89598
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-10 20:27] #83882 closed

[2022-03-10 20:31] omar-nav commented on #89600
The following information may be relevant: My work domain Service Principal is of type
![user](https://user-images.githubusercontent.com/13755487/157749441-67b54ca6-f7dc-4c92-805d-28e716517acb.PNG)
user

[2022-03-10 20:40] dimitri-furman commented on #88471
@dantheman999301 - thanks for bringing this to our attention. We have updated the article to provide more context. The `error_state_d` column provides the numeric [state](https://docs.microsoft.com/en-us/sql/t-sql/functions/error-state-transact-sql?view=sql-server-ver15#remarks) value for the query timeout error (aka the attention event). There are many hundreds of possible error states and in som

[2022-03-10 20:42] dclement-dawan commented on #22673
Hi. Same problem with french keyboard layout. Are you going to propose shortcut customization or alternate shorcut eg G+S ?

[2022-03-10 21:05] Oury-MSFT commented on #89512
@mokabiru Could you please share your inputs on the above question.

[2022-03-10 21:15] nickselvaggio opened #89602 "Azure Update Management - Required update field"
Under the "Query required updates" section, there is a reference to a "RequiredUpdate" type, but I have not been able to find this in the logs stored in the linked Log Analytics Workspace. There is an UpdateState field within each record (with values of Needed, Installed, and NotNeeded).

Is the RequiredUpdate value still used?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-03-10 21:26] JamesTran-MSFT commented on #89495
@ithahn
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/157757422-37d5fb6d-ef60-4fba-afc0-350866f54435.png)

[2022-03-10 21:36] MarileeTurscak-MSFT commented on #89571
@v-sanjay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 21:38] KranthiPakala-MSFT commented on #89584
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-03-10 21:41] kenwith commented on #85677
@shekhar-jha - it is a great idea and on my todo list. The immediate roadblock is that the page you referenced has a hard limit on the number of cards. Engineering is working on changing that and in the meantime I will look for an area there to also link. Thanks for this idea, it is a good one.

#please-close

[2022-03-10 21:41] #85677 closed

[2022-03-10 21:42] rolyon commented on #72292
Hi @Alex-str11
Thanks for your feedback. I dont think you'll need to create a custom role. I think you can instead assign the Application Administrator or Cloud Application Administrator role.
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-app-owners
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference

Were you on the "Set up Single Sign-

[2022-03-10 21:44] kenwith commented on #86090
These are good ideas and I am moving this work to our internal backlog. #please-close

[2022-03-10 21:44] #86090 closed

[2022-03-10 21:46] festivus commented on #87344
Any update on this?

[2022-03-10 21:48] kenwith commented on #86232
#reassign: @chmutali

[2022-03-10 21:48] PRMerger18 commented on #86232
The following users don't have valid GitHub IDs, or are not collaborators on this repo: chmutali

[2022-03-10 21:51] kenwith commented on #86413
#reassign: mmacy

[2022-03-10 21:52] kenwith commented on #86870
Thank you for opening the issue and the idea on improvements. The article was updated with examples. #please-close

[2022-03-10 21:52] #86870 closed

[2022-03-10 21:53] JamesTran-MSFT commented on #89597
@MH-ZShearer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-10 21:55] kenwith commented on #87012
This is a good idea and I am moving the request to our internal backlog. Thank you for taking the time to improve the docs! #please-close

[2022-03-10 21:55] #87012 closed

[2022-03-10 22:07] ithahn commented on #89495
Thanks. You found the missing peace. Helpful would be to add such a function back instead of updating the screenshot in the description. It would be great having a feature to create a ticket directly related to and sign in error.

[2022-03-10 22:16] RayGHeld opened #89604 "Customers need notification for certificate changes"
Many customers perform what is known as certificate pinning in their application.  This is common for major banks for security reasons, to only trust specific certificates.  How can they get notified of these types of changes prior to a certificate change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f8

[2022-03-10 22:41] KranthiPakala-MSFT commented on #89586
Hi @sndmails2arun Thanks for reaching out.

I believe you are looking at Synapse Workspace level in Azure portal. To get to the connection strings, you will have to navigate to the database (SQL Pool) blade and select the database for which you want to get the connection strings. Please below for more clarification.

![image](https://user-images.githubusercontent.com/50185738/157767040-3265e5f6-e9

[2022-03-10 22:41] #89586 closed

[2022-03-10 22:42] KranthiPakala-MSFT commented on #89595
Thanks for reaching out. We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

[2022-03-10 22:43] KranthiPakala-MSFT commented on #89595
@mssaperla Could you please review the above the feedback and help provide clarification? - Thanks

[2022-03-10 22:54] GeethaThatipatri-MSFT commented on #89439
Hi @dmorrison-msft please let us know if you have any additional questions

[2022-03-10 23:09] KSchlobohm opened #89605 "Azure Search doc could be more helpful if it discussed managed identity"
It would be better to use the `DefaultAzureCredential` instead of using the `AzureKeyCredential` or the `ClientSecretCredential` so that the app can connect via managed identity and eliminate the need for secrets that should be rotated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3166930b-c516-665a-a257-2f54b5fb8802

[2022-03-10 23:13] ryanwinter opened #89606 "DeviceI is listed as allowing certain characters that are not allowed in the MQTT transport"
The deviceId described [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry?source=docs#device-identity-properties) allows certain characters that are restricted in MQTT. Using these characters in the deviceid causes the devices to fail to connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-03-10 23:19] dmorrison-msft commented on #89439
Only follow-up I have is regarding the API documentation at https://docs.microsoft.com/en-us/rest/api/sql/firewallrules/createorupdate#request-body ; I'm assuming that's what @VanMSFT pinged @rohitnayakmsft regarding. Thanks!

[2022-03-10 23:23] dmorrison-msft commented on #85288
@mamccrea @cynthn Any updates here?

[2022-03-10 23:23] JamesTran-MSFT commented on #89604
@RayGHeld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 23:38] bandersmsft commented on #89571
Hi @v-sanjay,

I don't quite understand what you're saying about the document at https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/pay-bill. Do you have a Microsoft Online Services Program account and your default payment method was declined?

[2022-03-10 23:45] craftyhouse commented on #87344
In the coming months, the docs will be updated when it is GA.

[2022-03-10 23:46] MarileeTurscak-MSFT commented on #89574
@mzakirs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 23:47] ecfan commented on #89156
The product team confirmed that the extension isn't required, but I'm adding a note that if you get the error, try installing the extension.

[2022-03-10 23:48] MarileeTurscak-MSFT commented on #89582
@Heidilohr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 23:50] Nicholak-MS commented on #89502
Teams Phone with Calling Plan (ae2343d1-0999-43f6-ae18-d816516f6e78) has been added to both the online version of the document and the CSV download.

[2022-03-10 23:50] Nicholak-MS commented on #89502
#please-close

[2022-03-10 23:50] #89502 closed

[2022-03-10 23:51] MarileeTurscak-MSFT commented on #89589
@ravkash
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 23:51] #89156 closed

[2022-03-10 23:52] ecfan commented on #89156
The doc update should go live tomorrow, thanks!

[2022-03-10 23:57] ecfan commented on #88244
Wanted to check whether doc updates are still necessary? If not, we can close this thread as this forum is dedicated to doc issues. Thanks!

[2022-03-10 23:58] ecfan commented on #87242
Hi @MayankBargali-MSFT, any updates on this question? Thanks!

[2022-03-10 23:59] ecfan commented on #86175
@divyaswarnkar, could you please respond so we can resolve this thread? Thanks!

[2022-03-11 00:12] aaronzhongg opened #89609 "host.json example for 5.x has `maxMessageBatchSize` but table below shows `maxMessages` for the batching option"
host.json example for 5.x has `maxMessageBatchSize` but table below shows `maxMessages` for the batching option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azure Service Bus bindings for Azure Functions](h

[2022-03-11 00:25] mmacy commented on #89593
Hi @umeshbarapatre, it's good to hear from you, thanks for reaching out.

I'd be happy to hand ownership of this article back to you as long as you're able to commit to and reliably perform the required article ownership responsibilities like:

- Respond promptly to any GitHub issues opened on the article that are assigned to you.
- Engage with issue authors as needed to determine the best path fo

[2022-03-11 00:30] ChaitanyaNaykodi-MSFT commented on #89237
Hello @zioalex, since we have not heard back from you, we will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-03-11 00:30] #89237 closed

[2022-03-11 00:31] #89252 closed

[2022-03-11 00:46] jackchenwork commented on #69477
@hotgore  could you please provide a bit information how to set this "enable-udp-fragment-reordering" option ? Troubleshooting a Radius EAP-TLS Authentication issue and seems it's related with IPSec to Azure and fragmented UDP datagram lost.

[2022-03-11 00:52] tony-box opened #89611 "Comparison table has wrong SQL MI max storage capacity"
SQL MI max capacity is 16TB, not 4TB as stated in the chart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91c6d-6b32-5f29-a604-9a7857ed920c
* Version Independent ID: bd7b284c-9cc5-c656-875b-d9b72568cb2e
* Content: [What is the Hyperscale service tier? - Azure SQL Database](https://docs.microsoft.com/en-us/azure/az

[2022-03-11 01:11] santhoshbomma9 opened #89613 "Once the subscription is reinstated, would status of the subscription go back to Subscribed?"
Once the subscription is reinstated, would status of the subscription go back to Subscribed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94571708-c2f3-e6ff-c455-3a37b42c23a0
* Version Independent ID: eb2b45a6-7996-3eaa-1f86-4aafcf40290c
* Content: [Implementing a webhook on the SaaS service](https://docs.microsoft.c

[2022-03-11 01:12] santhoshbomma9 commented on #89613
already answered in the subscription life cycle

[2022-03-11 01:12] #89613 closed

[2022-03-11 01:18] tony-box opened #89614 "unsupported "custom Linux image" needs additional clarification"
I think "custom Linux image" is too vague and could use some clarity. Some example scenarios:

Supported by ADE?

- If I use a supported marketplace Linux image and install something like Splunk on it
- If I start with a supported marketplace image, use Azure Image Builder (or equivalent) to add additional software, then store it in Azure Compute Gallery or create a snapshot/VHD and deploy a VM fr

[2022-03-11 01:57] mike-urnun-msft commented on #89609
Thank you for your feedback! We will review and update as appropriate.

[2022-03-11 02:06] MrDean0 opened #89615 "documentation does not include server 2022"
looks like documentation does not reference support for server 2022 but i can find the files present for all versions listed in the documentation and server 2022
https://www.microsoft.com/en-us/download/details.aspx?id=57159

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version I

[2022-03-11 02:15] KrishnaG-MSFT commented on #89599
@iwafula025 Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-11 02:17] #80618 closed

[2022-03-11 02:27] LifeRyuto opened #89616 "How do we check 'local backup size'?"
How do we check `local backup size` in the below description?

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e76b110-fa85-f3ba-51db-4e0ee2db3339
* Version Independent ID: 4185869c-909d-65e8-8a18-6d96944847e1
* Content: [Backup and restore in Azure Database for PostgreSQL - Flexible Server](https://docs.microsof

[2022-03-11 02:28] MonikaReddy-MSFT commented on #89602
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-11 02:56] rimayber commented on #69477
Enable UDP Fragment Reordering on a Subscription - Overview (visualstudio.com)<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fsupportability.visualstudio.com%2FAzureNetworking%2F_wiki%2Fwikis%2FANPTA%2520Wiki%2F444499%2FEnable-UDP-Fragment-Reordering-on-a-Subscription&data=04%7C01%7Crimayber%40microsoft.com%7C8ae92e13d49b4634e2f408d9efc92af4%7C72f988bf86f141af91ab2d7cd011db47%7C

[2022-03-11 03:04] RyanHill-MSFT commented on #89285
In referencing [config-authsettings](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2021-03-01/sites/config-authsettings?tabs=json), the command `az webapp auth show` might have been updated to just return the properties property. However, it doesn't return authsettingsV2 which is what you used to update the refresh token. I'm not sure if/when authsettingsV2 will be promoted but I

[2022-03-11 03:08] jackchenwork commented on #69477
Thanks @rimayber , I tried https://supportability.visualstudio.com/AzureNetworking/_wiki/wikis/ANPTA%20Wiki/444499/Enable-UDP-Fragment-Reordering-on-a-Subscription but I don't have access.

[2022-03-11 03:13] rimayber commented on #69477
Basically you need a support ticket to request it. The doc link is for internal support employees

Sent from Outlook<http://aka.ms/weboutlook>
From: Jack Chen ***@***.***>
Sent: Friday, March 11, 2022 10:09 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: JR Mayberry ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] MTU recommendation about Azure VMs (#69477)

Thanks @rima

[2022-03-11 03:17] SumanthMarigowda commented on #89615
@MrDean0  Thanks for the question! We are investigating and will update you shortly.

[2022-03-11 03:19] pvanroos commented on #89473
Sorry.  My comment wasn't really a comment.  It was a question.  How do I do that?  "take a config item in App Configuration that is key referenced from Key Vault and load it into an IOptions structure (and then have the app that I deploy to an App Service use a managed identity to connect to App Configuration instead)."

[2022-03-11 03:22] RyanHill-MSFT commented on #89591
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-11 03:30] NakayamaKento opened #89617 "wrong retention of analytics log"
I guess that the retention of analytics log is 730 days.

Could you modify this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ef97d5-9a43-be23-f9a5-5662e8148b01
* Version Independent ID: f934f3cf-b010-0d82-2ffc-169703411e00
* Content: [Log Analytics workspace overview - Azure Monitor](https://docs.microsoft.com/en-

[2022-03-11 03:52] RyanHill-MSFT commented on #89605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-11 04:03] kobulloc-MSFT commented on #89338
@cveld, regular Azure Virtual Desktop users will need **Storage File Data SMB Share Contributor**:
https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-adds#assign-access-permissions-to-an-identity

[2022-03-11 04:06] VikasPullagura-MSFT commented on #89614
@tony-box
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-11 04:06] VikasPullagura-MSFT commented on #89614
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-03-11 04:29] VikasPullagura-MSFT commented on #89410
We will now close this issue. Please tag me in a comment once you can share the requested details. I will reopen it and we will continue the discussion.

[2022-03-11 04:29] #89410 closed

[2022-03-11 04:30] VikasPullagura-MSFT commented on #89500
@selectstarfromsql

Any update on the issue?

Just checking in to see if you got a chance to see previous response.

[2022-03-11 04:31] chris-bowman commented on #75247
Do we have an update on this? The amount of cache is still not in the doc page.

[2022-03-11 04:31] VikasPullagura-MSFT commented on #89594
@shekharsorot
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-11 04:32] VikasPullagura-MSFT commented on #89594
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2022-03-11 04:44] AjayKumar-MSFT commented on #89468
YuKogasaka, The PR is merged and the doc reflects the published changes. We will now close this thread. Thanks again for taking time to share your feedback.

[2022-03-11 04:44] #89468 closed

[2022-03-11 04:55] AjayKumar-MSFT commented on #89393
wentingd, We'd worked on this with our docs team internally, this is now fixed.
Thanks for reporting this issue and taking time to share your feedback. We will now close this thread.

![image](https://user-images.githubusercontent.com/44606227/157804417-f0068fc9-5767-496b-b57b-7443e3f67174.png)

[2022-03-11 04:55] #89393 closed

[2022-03-11 04:56] JamesMilne opened #89638 "Commands dont match on a PSRemote-Session to an Azure Stack Edge device"
[Enter feedback here]
Following this article does not seem to work when using PSRemoting to an Azure Stack Edge device.

The AzureStackEdge remote session provides
Get-VM (not Get-AzVM as mentioned in the article) and there appears to be no command for Get-Disk.

These are the commands available on the AzureStackEdge Pro GPU 2202 (2.2.1868.4470)
https://1drv.ms/t/s!AtQTAHqEyvM1k8MFigDQxqkL0Nm_tg?e

[2022-03-11 05:06] SreejaBhattacharya-MSFT commented on #89486
Hi @rloutlaw, can you please evaluate this and update the thread as necessary. Thanks.

[2022-03-11 05:17] selectstarfromsql commented on #89500
Thanks for the reply. Tomorrow  Will create a seperate vnet for the servers
within the region and configure AG listener. Will update you the status by
tomorrow EOD or Monday Eod.

Thanks for checking
On Thu, Mar 10, 2022 at 10:30 PM, VikasPullagura-MSFT <
***@***.***> wrote:

--
Regards
Yogi

[2022-03-11 05:21] AnuragSharma-MSFT commented on #89611
@tony-box Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-11 05:22] AnuragSharma-MSFT commented on #89616
@LifeRyuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-11 05:24] AjayKumar-MSFT commented on #89292
Rakeshgodumala, Apologies for the delay. I have gone through the documentation steps and it works fine.

If you haven't done this already, please ensure that the prerequisites are met and then re-try the deployment.
You may review deployment error messages to fetch some more details on the issue.

-See, this article features step-by-step guides to troubleshooting deployment and other issues for yo

[2022-03-11 05:25] umeshbarapatre commented on #89593
Hi Marsh,

I am fine with Microsoft managing it and answering the questions. However removing even the contribution credits is not done. So my request is this only that if you have a provision to update that it would be good. Rest I will leave up to you guys

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Marsh Macy ***@***.***>
Sent: Friday, March 11, 2022 5:55:

[2022-03-11 05:25] PRMerger18 commented on #89593
Only Microsoft employees can manage issues via commenting in this repo.

[2022-03-11 05:31] shwetamathur7 commented on #89298
I have taken screenshot with correct port and sent to author for review and update.
![image](https://user-images.githubusercontent.com/59326271/157808155-c0dab1b1-86de-4ae9-a710-831a895be11b.png)

[2022-03-11 05:50] samko635 opened #89639 "Item level patch update should have pk as a param."
Patch update (NodeJS) needs to have partition key as a param but in the example on this page, it's not mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3033ce85-b59b-f399-8348-04d00b3a3f55
* Version Independent ID: b3c2d8d0-8dca-5bc6-b12f-a93f76642047
* Content: [Getting started with Azure Cosmos DB Partial Do

[2022-03-11 05:59] racchen opened #89640 "Does Service Fabric Managed Cluster support Auto OS update with custom image"
In the doc: https://docs.microsoft.com/en-us/azure/service-fabric/how-to-managed-cluster-modify-node-type#enable-automatic-os-image-upgrades, it seems the Auto OS update feature of SFMC leverage the auto OS image upgrade feature of VMSS.

So i wonder, does SFMC also support using the custom image from the image gallery? I checked the Service Fabric requirement and the additional requirements for c

[2022-03-11 06:01] Maggern3 opened #89641 "Severly outdated docs, azure pipelines rebuilt since documentation was written"
This page is severely outdated and most of the features used in the guide have been deprecated from Azure Pipelines. Needs to be updated asap as setting up pipelines for SF without any relevant guidance is a time consuming hassle.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e331af-2350-c9cc-1205-f17ae4d17eb0
* Ver

[2022-03-11 06:16] SatishBoddu-MSFT commented on #89606
Hello @wesmc7777 Thanks for the feedback.

I have assigned the issue to the SME for further review.

[2022-03-11 06:21] RZomermanMS opened #89643 "Not agreeing with approach"
[Enter feedback here]

I have to object against this way of establishing the immutableID between the groups. There are some fundamental problems with this approach:

- Group from F1 and F2 added already to AADConnect are not merged together - instead AAD Connect will throw an error
- Groups are usually migrated more often to reflect membership changes - which can overwrite the mS-DS-ConsistencyGui

[2022-03-11 06:29] cpdohert opened #89645 "V1 SKU does not accept Basic Static Public IPs"
In this page: " The V1 SKU of Application Gateway supports basic public IPs, static, or dynamic."

This does not appear to be the case.  Creating a Small V1 Application gateway SKU in the portal and attempting to assign a Basic
Static Public IP address to the frontend is blocked; the portal displays "X Static public IP addresses cannot be associated".

---
#### Document Details

⚠ *Do not edit thi

[2022-03-11 06:38] GitaraniSharma-MSFT commented on #89645
@cpdohert , thank you for your feedback. We'll review this and get back to you shortly!

[2022-03-11 06:38] GitaraniSharma-MSFT commented on #89322
@deandownunder , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-03-11 06:38] #89322 closed

[2022-03-11 06:43] yang-jiayi commented on #89386
Hi, @CHEEKATLAPRADEEP-MSFT
Could you please check again?

[2022-03-11 06:47] weirdyang opened #89649 "Calling AZURE AD from internal webapp"
Hi,

I'm currently using the method outlined in this article.

However I my app can only access the Azure authentication endpoint through a proxy.

How do I go about implementing this?

The webapp is allowed to call AWS lamda functions and I've tried using it to proxy but get an invalid cookie error.

Are there samples of how I should set up this lamda function?
---
#### Document Details

⚠ *Do no

[2022-03-11 07:08] universalamateur commented on #89486
Thank you for you answer @SreejaBhattacharya-MSFT could I have an update with some relevant info please?

[2022-03-11 07:08] SumanthMarigowda commented on #89638
@jamesMilne Thanks for the question! We are investigating and will update you shortly.

[2022-03-11 07:40] hiLemontree commented on #88595
Hi @kobulloc-MSFT,

Would we have some update about my question?

Thank you!

[2022-03-11 07:49] madsd commented on #35027
Hi Leroi, you assumption is correct for ASEv2. We have since launched ASEv3. With ASEv3 you initially have the same ports available as ASEv2, but you can add a NAT gateway to the subnet and boost up to 1 million ports (16 IPs). Let us know if you have further questions.
#please-close

[2022-03-11 07:49] #35027 closed

[2022-03-11 07:50] madsd commented on #48432
Article has been updated.
#please-close

[2022-03-11 07:50] #48432 closed

[2022-03-11 08:15] olsgaard opened #89651 "Upload method in Python "Get Started" Tutorial is depricated"
Running the `upload-data.py` script as described, causes a deprecation warning:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2767a9e-eac1-8460-761f-a86154bd9685
* Version Independent ID: 4a40093e-1cdb-d9a8-2ca4-aff77a862845
* Content: [Tutorial: Upload data and train a model - Azure Machine Learning](https:/

[2022-03-11 09:03] VikasPullagura-MSFT commented on #89641
@Maggern3
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-11 09:03] VikasPullagura-MSFT commented on #89641
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2022-03-11 09:05] VikasPullagura-MSFT commented on #89640
@racchen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-11 09:05] VikasPullagura-MSFT commented on #89640
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2022-03-11 09:09] RohitMungi-MSFT commented on #89651
@olsgaard Thanks for spotting this. Yes, this method is [deprecated ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/dataset-api-change-notice.md)and needs to be updated.

You can also use the following in the script to upload the files

[code]
@aminsaied FYI, to incorporate change in this document.

[2022-03-11 09:27] AnuragSharma-MSFT commented on #89639
@samko635 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-11 09:33] georgeOsdDev opened #89652 "YAML build pipelines example for old .NET version"
[.NET 2.1 is removed from all images](https://github.com/actions/virtual-environments/issues/4871) , So C# example in this page using  `windows-latest` will fail with Functions 2.x project.

It is better to add example which use .NET Core task for install specific version .NET SDK
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops

---
#

[2022-03-11 09:35] shwetamathur7 commented on #89649
@weirdyang Thanks for reaching out. We will check and get back to you.

[2022-03-11 09:41] #89150 closed

[2022-03-11 09:44] madsd commented on #18379
Document is in process of being updated with the latest edition of Visual Studio.
#please-close

[2022-03-11 09:44] #18379 closed

[2022-03-11 09:44] madsd commented on #33365
Article was recently refreshed.
#please-close

[2022-03-11 09:44] #33365 closed

[2022-03-11 09:45] madsd commented on #10588
Article was recently updated with new information. Let us know if something is still missing.
#please-close

[2022-03-11 09:45] #10588 closed

[2022-03-11 09:49] madsd commented on #79510
Hi @JozoSlejko. ASEv2 is zone pinned. ASEv3 is zone redundant. More information on ASEv3 zone redundancy has been added to the document. Let us know if you are still missing information.
#please-close

[2022-03-11 09:49] #79510 closed

[2022-03-11 09:50] madsd commented on #80800
The article has been updated.
#please-close

[2022-03-11 09:50] #80800 closed

[2022-03-11 09:51] sijday opened #89653 "Spelling mistake: KeyValut instead of KeyVault"
[Enter feedback here]

Spelling mistake: KeyValut instead of KeyVault in the second purple highlight box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fd1350-6158-4eb0-b41b-5c7b9a776e96
* Version Independent ID: 713b91b9-d810-aca5-0ab4-00e0a4ee0fed
* Content: [Azure Key Vault VM Extension for Linux - Azure Virtual

[2022-03-11 09:52] madsd commented on #79236
Detailed information has been added to the networking section: https://docs.microsoft.com/en-us/azure/app-service/environment/networking
#please-close

[2022-03-11 09:52] #79236 closed

[2022-03-11 09:53] madsd commented on #78128
Pricing information has been updated. Details has been added to pricing page and pricing calculator.
#please-close

[2022-03-11 09:53] #78128 closed

[2022-03-11 09:54] ntrogh commented on #88716
@adymorz Thanks for raising this. We're in the process of updating the file name and related links. I'll report back when the updates are published.

[2022-03-11 09:55] madsd commented on #77236
Monitoring endpoints has been added for USGov.
#please-close

[2022-03-11 09:55] #77236 closed

[2022-03-11 09:57] madsd commented on #77157
This issues has been addressed. Thank you for reporting the issue.
#please-close

[2022-03-11 10:00] madsd commented on #80539
Hi @minimonsters. Yes, you are correct.
We are working on bringing dedicated host pricing to the pricing calculator. The bulk of the cost is the dedicated hosts itself, which you can find pricing information on in the Azure Calculator.
#please-close

[2022-03-11 10:00] #80539 closed

[2022-03-11 10:01] AnuragSingh-MSFT commented on #89379
@captainmike, to set the operation_Id of custom telemetry, you can use the `tagOverrides` parameters. It can be used as:
[code]
The above snippet was taken from **[Log custom telemetry](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2-v3-v4-export%2Cv2-v3-v4-done%2Cv2%2Cv2-log-custom-telemetry%2Cv2-accessing-request-and-response%2Cwindows-setting-the-node-ver

[2022-03-11 10:01] madsd commented on #76163
This has been fixed.
#please-close

[2022-03-11 10:01] #76163 closed

[2022-03-11 10:03] madsd commented on #76150
The article was updated to make this more precise. Let us know if you need further clarification.
#please-close

[2022-03-11 10:03] #76150 closed

[2022-03-11 10:04] madsd commented on #74716
Content has been updated.
#please-close

[2022-03-11 10:04] #74716 closed

[2022-03-11 10:05] madsd commented on #74126
Assume you got an answer through ICM. Otherwise, please raise a new issue.
#please-close

[2022-03-11 10:05] #74126 closed

[2022-03-11 10:07] madsd commented on #74093
Zone redundant parameter has been added to the article: https://docs.microsoft.com/en-us/azure/app-service/environment/create-from-template

#please-close

[2022-03-11 10:07] #74093 closed

[2022-03-11 10:09] smedin4 opened #89654 "SLL certificate"
Substitute SLL certificate by SSL certificate or X.509 certificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e998b28e-4012-ecb5-9073-d40e8c2e52cd
* Version Independent ID: bdbf80af-5e97-18d8-4d7c-9c744e38dc7d
* Content: [Set up high availability - Microsoft Defender for IoT](https://docs.microsoft.com/en-us/azure

[2022-03-11 10:11] smedin4 opened #89655 "Update screenshot"
In version 22.1 from february 2022, the UI has been redesigned. Screenshot in section "Sensor console" is from an older version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d4c7a0-0278-3807-0e67-6e5b6f914db0
* Version Independent ID: f1d31c39-4e99-cf52-d666-3b53378c9184
* Content: [What is agentless solution archi

[2022-03-11 10:11] madsd commented on #65291
Hi @larryclaman you cannot deploy ASEv2 in a zone redundant manner. You can either deploy it normally (where Azure choses a zone) or you can zone pin it. This way, you can deploy two ASE instances in different zones and achieve zone resiliency.
With ASEv3 you have zone redundancy built in, where the platform balances infrastructure and worker across three availability zones.
#please-close

[2022-03-11 10:11] #65291 closed

[2022-03-11 10:12] madsd commented on #67538
Hi, we released guidance and documentation for migration: https://aka.ms/asemigration
#please-close

[2022-03-11 10:12] #67538 closed

[2022-03-11 10:14] madsd commented on #33352
PowerShell scripts for updating the certificate in ILB ASEv2 has been added.
#please-close

[2022-03-11 10:14] #33352 closed

[2022-03-11 10:15] madsd commented on #34979
Thank you for the feedback. Both comments should have been incorporated in the current documentation.
#please-close

[2022-03-11 10:15] #34979 closed

[2022-03-11 10:15] madsd commented on #34980
Docs should have been updated.
#please-close

[2022-03-11 10:15] #34980 closed

[2022-03-11 10:17] madsd commented on #60726
Thank you for the suggestion. We added a bunch of scenarios on when to use the different options. Hope this helps.
#please-close

[2022-03-11 10:17] #60726 closed

[2022-03-11 10:21] madsd commented on #69188
As the article calls out, this is when updating the sub-resource /config/web, where the properties are at the right level. However, you are right, that you could also deploy this implicitly as part of the siteConfig collection in the sites object. Both is correct.
#please-close

[2022-03-11 10:21] #69188 closed

[2022-03-11 10:22] madsd commented on #70891
Thank you. We are continuously updating the regions as they become available.
#please-close

[2022-03-11 10:22] #70891 closed

[2022-03-11 10:25] ramedey commented on #89491
Yes, normally I wouldn't expect that, but after reading this sentence I thought that this setting was a special case.

"When this application setting isn't present when running in Azure, the environment is assumed to be Production. "

Now I know that is not the case, but I still don't understand exactly what happens when the setting is not present. What implies that the environment is assumed to b

[2022-03-11 10:30] madsd commented on #20867
Dependencies should have been updated. If you still experience the problem, please let us know.
#please-close

[2022-03-11 10:30] #20867 closed

[2022-03-11 10:31] madsd commented on #21604
The portal should have been updated to ensure you use the resource group selected. Let us know if you still have issues.
Thanks.
#please-close

[2022-03-11 10:31] #21604 closed

[2022-03-11 10:33] #48523 closed

[2022-03-11 10:35] madsd commented on #51495
The note has been added to the documentation.
#please-close

[2022-03-11 10:35] #51495 closed

[2022-03-11 10:36] AdeZwart opened #89656 "Bicep samples missing"
This documentation only contains ARM samples and there are no Bicep samples available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d4fd97-7fa7-c48a-0ab9-6d72bc979ef0
* Version Independent ID: 58464278-d1ed-64ec-3e85-65c83e0fae31
* Content: [Resource Manager template samples for Log Analytics workspaces - Azure Mon

[2022-03-11 10:36] madsd commented on #72260
#please-close

[2022-03-11 10:36] #72260 closed

[2022-03-11 10:48] madsd commented on #45274
Thank you. We are addressing this with an upcoming change to the documentation.
#please-close

[2022-03-11 10:48] #45274 closed

[2022-03-11 11:05] madsd commented on #35107
#please-close

[2022-03-11 11:05] #35107 closed

[2022-03-11 11:05] madsd commented on #78084
This capability has been added: https://docs.microsoft.com/en-us/azure/app-service/environment/management-addresses#get-your-management-addresses-from-api

#please-close

[2022-03-11 11:05] #78084 closed

[2022-03-11 11:08] madsd commented on #30781
Hi @kaushalp, would you mind raising a support ticket for this. We need to have an official error report/repro to document this scenario.
#please-close

[2022-03-11 11:08] #30781 closed

[2022-03-11 11:12] madsd commented on #17531
This is documented in the DNS section of the Using article: https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#dns-configuration
#please-close

[2022-03-11 11:12] #17531 closed

[2022-03-11 11:14] madsd commented on #24593
Portal and CLI will create the needed NSGs as part of the creation, but if you use other provisioning methods like ARM or Terraform, you will have to ensure the NSGs are created.
#please-close

[2022-03-11 11:14] #24593 closed

[2022-03-11 11:18] madsd commented on #63450
IPs are assigned dynamically to the workers in the ASE from the subnet. You can see the specific IP for a worker by looking at the Environment variable WEBSITE_PRIVATE_IP
#please-close

[2022-03-11 11:18] #63450 closed

[2022-03-11 11:23] madsd commented on #67562
A change to make this more clear is in process of being released. Thank you for the feedback.
#please-close

[2022-03-11 11:26] madsd commented on #15545
An application can have many external dependencies that we are not aware of and therefore cannot document. A container registry would normally just be reached over port 443, and may even be in the internal network and there not need additional NSG rules.
#please-close

[2022-03-11 11:26] #15545 closed

[2022-03-11 11:27] madsd commented on #39776
SQL is using dynamic ports, and therefore described rules must be in place.
#please-close

[2022-03-11 11:27] #39776 closed

[2022-03-11 11:31] madsd commented on #58097
This is not deterministic as it depends on the size of the region. ASEs are upgraded in incremental batches. Starting with all ASEs marked with Early, then proceeding with ASEs with no upgrade preference, and then finishing with ASEs with Late preference.
Hope this clarifies the process.
#please-close

[2022-03-11 11:31] #58097 closed

[2022-03-11 11:38] adrian-nae commented on #88332
The application supports should supports both SP and IDP initiated login.
We workaround the issue by using the standard SAML application where the sign-on URL is optional.  The Oracle Fusion ERP Azure Gallery App is recommended for ERP SSO setup because it has also a customized user sync program. Hence the requirement is simple: make the Oracle Fusion ERP Azure Gallery App to work as standard SAML

[2022-03-11 11:54] Farhad-Heybati opened #89657 "Tutorial ended with ImportError"
[Enter feedback here]
Traceback (most recent call last):
  File "app.py", line 7, in <module>
    from flask import Flask, request, jsonify
  File "/usr/local/lib/python3.7/site-packages/flask/__init__.py", line 14, in <module>
    from jinja2 import escape
  File "/usr/local/lib/python3.7/site-packages/jinja2/__init__.py", line 12, in <module>
    from .environment import Environment
  File "/usr

[2022-03-11 11:55] andrewatfornax commented on #15545
Obviously, any update to the documentation now would be absolutely pointless for me, given how long ago I was working on this.

However, that update @madsd is really insulting. I'm not asking about general advice regarding what an application might need, or how that might work for a container registry in general.

I was specifically asking about an ASE-based Linux Web App based on Docker image obt

[2022-03-11 11:56] Farhad-Heybati commented on #89539
I just log a new issue which is the same than this one.

[2022-03-11 11:59] madsd commented on #15545
Hi @andrewatfornax. I am sorry about that. For Azure Container Registry specifically, you can use the designated Service Tag AzureContainerRegistry.

[2022-03-11 12:55] v-bbalaiagar opened #89658 "[Microsoft.Azure.WebJobs.Extensions.ServiceBus] maxMessageCount and maxMessages are not working as expected"
It seems that in 5.x the name of the property is maxMessageBatchSize, as per the [source code](https://github.dev/Azure/azure-sdk-for-net/blob/8208937479fcd8d4e02ef301701941bd132305dd/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs#L137) and not maxMessages as per [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-b

[2022-03-11 13:11] MonikaReddy-MSFT commented on #89617
@NakayamaKento - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-11 13:11] #89617 closed

[2022-03-11 13:19] e-saiz opened #89659 "The point 4 of the doc is not well explained"
The point for is not well explained, if you run the doc in azure  portal and don't change anything it just fails, and points to the SP.  Could you provide a more details explanation and screenshot to do the point 4 in the correct way please.?

{
  "code": "InvalidTemplate",
  "message": "Deployment template validation failed: 'The value for the template parameter 'aadObjectId' at line '191' and co

[2022-03-11 13:40] SumanthMarigowda commented on #89336
@ Firstly apologies for the delay response! Storage capacity is billed in units of the average daily amount of data stored, in gigabytes (GB), over a monthly period. For example, if you consistently used 10 GB of storage for the first half of the month, and none for the second half of the month, you would be billed for your average usage of 5 GB of storage.

To see the complete breakdown of SMB an

[2022-03-11 13:40] #89336 closed

[2022-03-11 13:41] SumanthMarigowda commented on #89387
@yuriwoof Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-11 13:45] SumanthMarigowda commented on #89441
@pinyuko Can you provide more information, what data needs to be added.

We have article which provides deatiled information based on the customer scenario https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/considerations/storage-options

[2022-03-11 13:54] SumanthMarigowda commented on #89568
@darwinjames It's correct the table describes default limits for Azure general-purpose v2 (GPv2 not about the Azure File Share standard. Please refer to Azure file share scale targets in the same articles below  which provides detailed information on Azure File Share standard and Premium

![image](https://user-images.githubusercontent.com/80444138/157880559-9f6463d3-d474-42dc-bbaa-b51cdf92b983.png

[2022-03-11 13:54] #89568 closed

[2022-03-11 14:19] AnuragSharma-MSFT commented on #89643
@RZomermanMS Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-11 14:21] AnuragSharma-MSFT commented on #89654
@smedin4 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-11 14:25] AnuragSharma-MSFT commented on #89655
@smedin4 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-11 14:26] ZeroDeltaE opened #89660 "Instructions do not work"
The instructions here seem to indicate that any version of Ubuntu 16, 18, 20 in the marketplace will work but it is my understanding that only the confidential compute versions in marketplace will work, and test deploying the standard versions fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e19e732-65d3-6f83-766

[2022-03-11 14:46] omar-nav commented on #89365
Hi @SatishBoddu-MSFT Do you think the TLS communication issue is related to the environment. I am currently using _Oracle VM Virtual Box Manager_ to run a VM locally. The VM has Linux Ubuntu 18.04 installed; while my local machine uses Windows 10.

[2022-03-11 14:57] erjosito opened #89661 "I find this page VERY confusing"
Hey there, I think I understand what Private Link does, but it took me 2 hours to understand and test the limitations of AMPLS... There has to be an easy way to describe this, happy to help if needed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6378de-a16e-25f9-910b-12d2f43a04d5
* Version Independent ID: a38cba02-f

[2022-03-11 15:25] mike-urnun-msft commented on #89652
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-11 15:26] mike-urnun-msft commented on #89658
Thank you for your feedback! We will review and update as appropriate.

[2022-03-11 15:33] Nikhil0928 opened #89664 "Can existing DPM disk and tape data be backed up on Azure?"
Hi, Currently we have DPM physical servers running on our on-premise spread across 20 geographical sites which is using disk and tape level backups.

We have requirement to discontinue DPM and move entire DPM disk & tape data to Azure Backup and finally use Azure as a backup service. Please let us know if this is possible.

[2022-03-11 15:34] ntrogh commented on #88716
@adymorz the updates are live. Thanks again for your feedback!
#please-close

[2022-03-11 15:34] #88716 closed

[2022-03-11 15:42] kobulloc-MSFT commented on #88595
@hiLemontree We'll need to do some troubleshooting to determine why notifications aren't showing up for you (they should be showing up for the owner).  Please open an issue in Microsoft Q&A so we can further assist you:
https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

[2022-03-11 15:50] DeanGross opened #89665 "Authentication context prerequisites"
Does the Authentication Context functionality require MDCA or can it be used with other CASBs? please describe the prerequisites that are needed to use this (licensing and other software). Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6d2ea9-04c9-d4e5-36b5-2ce7e17192e1
* Version Independent ID: eff8d31c-d3ce-