[2022-10-13 14:18] mrbullwinkle commented on #99892
Adding @jr-MS from the PG for comment on web hook support in Anomaly Detector

[2022-10-13 14:33] ezYakaEagle442 opened #99907 "Ubuntu 22.04 auto patch management support"
Ubuntu 16.04, 18.04, 20.04 are listed as supported.
What about Ubuntu 22.04 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 214e5e81-772a-966b-737d-51339404c42f
* Version Independent ID: 87cfbf4e-75bc-1342-91b9-f79667c747c0
* Content: [Azure Automanage for Linux](https://learn.microsoft.com/en-us/azure/automanage/aut

[2022-10-13 14:34] stephaneey opened #99908 "Disaster recovery for private endpoints and GRS (or any other redundant option) not well explained"
[Enter feedback here]
In the documentation, it is stated the following:

I have highlighted in bold the confusing part. While it is correct that the private endpoint will automatically connect to the new primary, it is still not a fully DR ready setup. If you loose the primary region entirely (not only the storage), then you also loose your primary VNET...So, although the storage account failover

[2022-10-13 14:42] amsliu commented on #99513
@Hbaele Thank you for your feedback. I am double checking this with our product team.

[2022-10-13 14:57] pitbull43026 opened #99911 "The script to create the Inbound rule to delete groups on-premises contains a space after each tilde which makes it fail. After removal of all of the spaces the scrip works fine. Can we have these spaces removed so the customer does not have to please?"
The script to create the Inbound rule to delete groups on-premises contains a space after each tilde which makes it fail. After removal of all of the spaces the scrip works fine. Can we have these spaces removed so the customer does not have to please?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 35863b41-f4b7-a772-

[2022-10-13 15:07] RamanathanChinnappan-MSFT commented on #98361
@prerna-tesser

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-13 15:17] aman-w-kumar opened #99913 "PIM doesn't support RBAC roles"
In this document [link below], couple of rbac roles are not supported (e.g owner, contributor) and it is mentioned in the following way which is wrong and create misunderstanding.

**"Owner**
User Access Administrator
**Contributor**
Security Admin
Security Manager"

https://learn.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-assign-roles

---
#### Do

[2022-10-13 15:19] Rodrigossz commented on #99871
I'm not the Python SDK PM anymore. Assigning to @gahl-levy

[2022-10-13 15:19] Rodrigossz commented on #99871
@shaktisingh-msft , please assign to @gahl-levy

[2022-10-13 15:25] ezYakaEagle442 opened #99914 "Canonical 22.04 support ?"
Is Canonical 22.04 supported ?
For instance  Irun Canonical 0001-com-ubuntu-minimal-jammy minimal-22_04-lts

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf-e95d95efb235
* Version Independent ID: 7bfd1c0f-0ecd-44da-9724-6118b950f4ff
* Content: [Automatic VM Guest Patching for Azure VMs - Azure Vi

[2022-10-13 15:31] hannahwalt commented on #99624
Hey there! It looks like the last comment made stated that the updates were being made, but then the convo was closed and marked as complete. However, when I review the document I am still seeiing lesson.ly. I did hard refresh to ensure my computer wasn't cached to no avail. Wanted to check-in to make sure your team is aware the updates have not been implemented yet in the document that is live fo

[2022-10-13 15:35] DiStRuCtOr-it commented on #57242
In case it could help somebody:
I had this issue and it was due to the fact that my code accepted a "GET" request and the azure B2C policy was configured to SendClaimsIn "Body".
SendClaimsIn "Body" calls the rest api only in POST MODE, so the api generating that error.

From MSFT documentation:
Specifies how the input claims are sent to the RESTful claims provider. Possible values: Body (default),

[2022-10-13 15:41] maulikshah23 commented on #99914
@ezYakaEagle442, the Canonical 0001-com-ubuntu-minimal-jammy minimal-22_04-lts is **not** supported today for Auto VM Guest Patching.

[2022-10-13 15:42] Naveenommi-MSFT commented on #99881
@svaenn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 15:45] Naveenommi-MSFT commented on #99883
@ruaden94
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 15:46] spelluru commented on #99033
Updated the article. It should go live in a couple of hours.

#please-close

[2022-10-13 15:46] #99033 closed

[2022-10-13 15:47] Naveenommi-MSFT commented on #99888
@joeakim
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 15:49] Naveenommi-MSFT commented on #99889
@SychevIgor
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-13 15:54] mbiver opened #99915 "Changing the Repository to Red Hat?"
Hello, team.  I don't see anything in the article about changing the repositories from the Azure repo's to the Red Hat repositories.  Is that something that is required, and if so, can we update the document with the steps?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a237c483-819b-bd1a-6c6d-3eea20b64c42
*

[2022-10-13 15:57] mbiver commented on #99915
oh, I think I found it.  Step 3 in getting started.

Follow the recommended [next steps](https://access.redhat.com/articles/5419341) to configure update sources for your RHEL virtual machines and for RHEL subscription compliance guidelines.

[2022-10-13 15:58] Naveenommi-MSFT commented on #99890
@stiglyt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:08] Naveenommi-MSFT commented on #99892
@michaelyaaa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-13 16:09] Naveenommi-MSFT commented on #99892
Hi @mrbullwinkle
Thanks for your response. please add your comments and update as appropriate.

[2022-10-13 16:10] jdkr0220 opened #99916 "Contradictory documentation on global parameters"
This page has a Warning box with "When using automated publishing, the Include in ARM template configuration for global parameters is not supported and will result in the factory’s Git configuration being removed after the ARM template deployment. Instead, use the [PowerShell script method](https://learn.microsoft.com/en-us/azure/data-factory/author-global-parameters#cicd) to deploy global paramet

[2022-10-13 16:11] Naveenommi-MSFT commented on #99894
@andreas-mach
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:15] Naveenommi-MSFT commented on #99896
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:15] erishiamu opened #99917 "Lack of clarity on scaling target and large file share / quota interactions"
You specify in subscript 2 under 'Azure file share scale targets' that in order for the large file share change to impact scale targets the quota needs to be increased. Does this behave like premium shares where the allocated quota impacts the IOPS and request throttling limits, or is any increase above 5tb enough to enable the higher threshholds for the file share? Clarification here is needed in

[2022-10-13 16:17] Naveenommi-MSFT commented on #99897
@Trooperai
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-13 16:17] mrbullwinkle commented on #99892
#unassign:@mrbullwinkle #assign:@jr-MS

[2022-10-13 16:20] Trooperai commented on #99897
Sure. Here’s the link

https://learn.microsoft.com/en-us/azure/active-directory/authentication/concept-certificate-based-authentication

Alex Harvey
M: +44 7825 796626

________________________________
From: Naveenommi-MSFT ***@***.***>
Sent: Thursday, October 13, 2022 9:17:25 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Trooperai ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/

[2022-10-13 16:22] Naveenommi-MSFT commented on #99899
@tom-ditlev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:25] axelgMS commented on #99893
Please disregard - got confirmation that "mariner" is the one to use - and that aks-preview extension needs to be removed + added so it works.

az aks create --name testMarinerCluster --resource-group MarinerTest --os-sku mariner
The behavior of this command has been altered by the following extension: aks-preview
{
  "aadProfile": null,
  "addonProfiles": null,
  "agentPoolProfiles": [

[2022-10-13 16:25] #99893 closed

[2022-10-13 16:27] Naveenommi-MSFT commented on #99900
@arindam0310018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:42] Naveenommi-MSFT commented on #99901
@vojtahanzal
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:44] Naveenommi-MSFT commented on #99902
@arindam0310018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:45] Naveenommi-MSFT commented on #99903
@randywiemer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:47] Naveenommi-MSFT commented on #99906
@MathematicaKen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:49] Naveenommi-MSFT commented on #99907
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:50] Naveenommi-MSFT commented on #99908
@stephaneey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:53] Naveenommi-MSFT commented on #99911
@pitbull43026
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:55] Naveenommi-MSFT commented on #99913
@aman-w-kumar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:56] Naveenommi-MSFT commented on #99914
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:58] Naveenommi-MSFT commented on #99915
@mbiver
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 16:59] DaveHodgeDev commented on #71898
@JamesTran-MSFT - Can you check this? It is still incorrect. The documentation update showing it needs to be added it after the endpoint section is not in the public facing documentation. The example code should also be updated.  https://learn.microsoft.com/en-us/azure/active-directory-b2c/troubleshoot-with-application-insights?pivots=b2c-custom-policy

[2022-10-13 17:00] Naveenommi-MSFT commented on #99916
@jdkr0220
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 17:02] Naveenommi-MSFT commented on #99917
@erishiamu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 17:24] chrisjshields commented on #30093
Was this issue fixed? I still can't save blob metadata containing the characters \n. Works fine if set from Azure Storage Explorer.

[2022-10-13 17:46] rakowskimrp-axle commented on #64497
@SumanthMarigowda-MSFT-zz and @roygara - yes, I'm also agreeing with @CodeAsAnInfrastructureGuy, @dstote, and @cveld.

This is more of an AD DS “SamAccountName” limitation with Kerberos, which is ok for our "Computer Account" AD DS Objects we’ve used and tested etc.

And this should be documented to some fuller degree in [storage-files-identity-ad-ds-enable](https://learn.microsoft.com/en-us/azure

[2022-10-13 17:50] ericd-mst-github commented on #99568
Hi@Karishma-Tiwari-MSFT

The PR is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/214021

apologies for the confusion.

[2022-10-13 17:57] khdownie commented on #79402
@GregUzelac thanks for this catch, I've updated the section with a PowerShell script that uses that storage account key vs. the net-use command:

https://learn.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable?tabs=azure-portal#connect-to-the-azure-file-share

[2022-10-13 17:58] khdownie commented on #79402
#please-close

[2022-10-13 17:58] #79402 closed

[2022-10-13 17:58] adi-garg commented on #99780
Hello Kapil, Thanks for the response.
Kind of disagree here.
-The subsections INBOUND and OUTBOUND call out a **different processing logic**. This implies there is a differentiation/one must look at direction before trying to apply firewall rules.
Here is my broader understanding,open to feedback:
![Firewall-Rule Processing Logic](https://user-images.githubusercontent.com/73249037/195670958-67a0c3

[2022-10-13 18:00] AjayKumar-MSFT commented on #99623
nelroosevelt, Hope the information shared by Ericgre (author) was help. We will close this thread for now. Thanks!

[2022-10-13 18:00] #99623 closed

[2022-10-13 18:12] rakowskimrp-axle commented on #64497
Also for [storage-files-identity-ad-ds-enable](https://learn.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#check-the-environment), and its check-the-environment section or really for its mention of a set or static SPN created (aka SPN/UPN as "cifs/your-storage-account-name-here.file.core.windows.net"):

- I'd also like to ask that there's some mention that this SPN *i

[2022-10-13 18:15] chcomley commented on #96274
Hi @frigon, I've updated the article, which should go live shortly. Once it's live, this issue will automatically close. Thanks so much for your feedback!

[2022-10-13 18:17] gflaz84 opened #99919 "The download links for the agent and bootloader aren't being updated."
The download links for the agent and bootloader aren't being updated

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7bfcfbec-b7ca-57e2-67cc-e5891fdbefd7
* Version Independent ID: 16b54c4d-07de-9d14-2a74-38e321361069
* Content: [Create Azure Virtual Desktop host pool - Azure](https://learn.microsoft.com/en-us/azure/vir

[2022-10-13 18:26] mumurug-MSFT commented on #99901
@vojtahanzal I would like to let you know that this repo is specifically for azure-docs related feedback and this appears to be a product related issue.

It would be best if you can post it in https://learn.microsoft.com/en-us/answers/topics/25484/azure-api-management.html and we will assist you further on this issue. We will now proceed to close this thread and feel free to add a comment if you h

[2022-10-13 18:26] #99901 closed

[2022-10-13 18:31] sstrausbaugh-bardavon commented on #99165
This person's script and explanation made much more sense.
https://identity-man.eu/2022/07/05/using-the-new-group-writeback-functionality-in-azure-ad/

[2022-10-13 18:41] AjayKumar-MSFT commented on #99496
unkinected, Apologies for the delay! Automatic backup is not configurable. Based on your requirement, you could leverage custom backup, which is configurable.

[2022-10-13 19:15] chris2shehu commented on #54850
This is still an issue. I understand that the code in the article is an example but without a complete resources to the example the code will not work. Please either supply the solution in its entirety or provide references to information on how to complete the solution.

[2022-10-13 19:23] chris2shehu opened #99923 "Missing dependencies from examples"
The code example given for the Azure Databricks CI/CD pipeline references to other example code that isn't provided in the documentation. There isn't a clean way to remove the example code because it's a dependency of the pipeline sample shown.

"from dbxdemo.spark import get_spark
from dbxdemo.appendcol import with_status
"
It looks like another user opened a similar issue where the response from

[2022-10-13 20:03] imtiazh opened #99924 "List of URLs to manage firewall settings"
The list of domains mentioned at https://learn.microsoft.com/en-us/azure/security/fundamentals/azure-ca-details#certificate-downloads-and-revocation-lists doesnt seem to match the list mentioned in the last point of https://learn.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes#will-this-change-affect-me. This can create confusion for customers who are managing their firewal

[2022-10-13 20:17] rnirek opened #99925 "CentOS 6.x End of Life"
Hello,

 I was reviewing this doc and I see that we have a documentation on migration of CentOS 6 servers.
The support of CentOS 6 has ended in Nov 2020. Could you verify and confirm if we are still supporting the migration of CentOS 6?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3f6b075e-e72

[2022-10-13 20:35] MBS-Pete commented on #99800
Hi there. When I create a Risk Signin risk policy I cannot select Signin Freq – Everytime or I will get the error message. We have E5 licensing.

Thanks
Pete

***@***.***
***@***.***

***@***.***

***@***.***

From: YashikaTyagi-MSFT ***@***.******@***.***>

Date: Thursday, 13 October 2022 at 4:12 pm
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Peter Russell ***@***.***>, Mention ***@***.***>
Sub

[2022-10-13 20:37] joshuaphelpsms opened #99926 "Idempotent producer documentation for Event Hub Kafka"
Event Hubs seem to support idempotent producers, but I can't find any documentation around this topic. [Resilient-design](https://learn.microsoft.com/en-us/azure/architecture/serverless/event-hubs-functions/resilient-design) mentions the idempotent consumer pattern but nothing around idempotent producers.  I'm unsure the correct place for this documentation but it would be helpful to know whether

[2022-10-13 20:43] GitaraniSharma-MSFT commented on #99644
@mayurgurav , since we've not heard from you, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-10-13 20:43] #99644 closed

[2022-10-13 21:07] josuvil opened #99928 "Is group provisioning supported with Teamviewer?"
Hello,

According to this doc under Capabilities supported, it says that only users are supported. However, the rest of the document describes that both users and groups are supported. Problem is that mapping only shows user mappings. It does not appear that this Gallery App supports group provisioning as well. Can you confirm? If it does not support group provisioning, can you please update this

[2022-10-13 21:19] cbattlegear opened #99929 "Named instance with SQL IaaS Extension inaccuracy"
After some testing, we are able to install the lightweight mode SQL IaaS Extension with multiple named instances, the document should be edited to:

Can I use a named instance of SQL Server with the IaaS extension?
Yes, if the named instance is the only instance on the SQL Server, and if the original default instance was uninstalled properly. If there is no default instance and there are multiple

[2022-10-13 21:37] alisonOCT commented on #83750
@jeevansd @v-hagamp Can I please get an update on this?

[2022-10-13 21:40] chcomley commented on #97509
Hi @carolga, I've published an update, thank you. Once this goes live, this issue will automatically be closed. Thanks again!

[2022-10-13 22:07] #97509 closed

[2022-10-13 22:36] GudlaPreethi opened #99931 "Azure AD Connect Server Requirement and supported Version has to be updated."
[Enter feedback here]
The content under "In your On-premises Environment", needs to be updated as below
1. the first point about the server requirement has to be updated to 2019 or later, as this has been changed on AD Connect [https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#installation-prerequisites].
Noticed a change in the AD Connect doc, he

[2022-10-13 23:49] jlian commented on #98817
@petertuton the documentation says the template is at `/etc/aziot/config.toml.edge.template`. Where are you seeing the paths you mentioned?

![image](https://user-images.githubusercontent.com/2320572/195731726-14d40f27-7eb7-40ca-a4b1-0e55a4cc8dd0.png)

[2022-10-13 23:49] Shell-IanBennett commented on #99756
Thanks again, but not looking for support.   Original submission was to note the gap in the documentation page linked.  That page is a list of links to information on ADF connectors, however it is missing a link to information on the Databricks Compute connector.

[2022-10-13 23:59] roygara commented on #99619
@lorenzomsft Thanks for bringing this to our attention, we appreciate it!

We've updated the article with the portal steps, so I'm closing this out.

#please-close

[2022-10-13 23:59] #99619 closed

[2022-10-13 23:59] tamram commented on #30093
@chrisjshields - Could you please open this issue against the .NET SDK (assuming you're using .NET)?

https://github.com/Azure/azure-sdk-for-net/issues

Thanks!

[2022-10-14 00:07] jlian commented on #98817
With a new installation I can see the trust bundle section
![image](https://user-images.githubusercontent.com/2320572/195733747-08fc76da-02b8-4462-a970-087ba1d186de.png)

[2022-10-14 00:13] craigbeeremct opened #99932 "In the image at the top of the page, replace "MLib" with "MLlib" (two "l"s)."
In the image at the top of the page, replace "MLib" with "MLLib" (two "l"s).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5a77b33c-0cd2-c0c6-ea09-a594c7ca59e3
* Version Independent ID: b78fd8b0-a9c3-a86e-1319-506795a4fe53
* Content: [Apache Spark in Azure Synapse Analytics overview - Azure Synapse Analytics](https:/

[2022-10-14 00:41] artiom-matvei opened #99933 "Typo"
There is a typo in https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/quickstart-python#connecting
" The following code creates a client connection your API for MongoDB and tests to make sure it's valid."
I don't understand the meaning of this sentence because of this type. Probably should read "connection TO your API for MongoDB"
[Enter feedback here]

---
#### Document Details

⚠ *Do not

[2022-10-14 00:42] veyalla commented on #98817
@petertuton - on what kind of system did you observe this on AMD64, ARM64 etc?

[2022-10-14 00:47] artiom-matvei commented on #99933
Pull request fixing the issue https://github.com/MicrosoftDocs/azure-docs/pull/99934

[2022-10-14 01:56] VikasPullagura-MSFT commented on #99919
@gflaz84
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-14 01:56] VikasPullagura-MSFT commented on #99919
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-10-14 01:58] VikasPullagura-MSFT commented on #99929
@cbattlegear
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-14 01:58] VikasPullagura-MSFT commented on #99929
@adbadram
Can you please check and add your comments on this doc update request as applicable.

[2022-10-14 02:12] GeethaThatipatri-MSFT commented on #99933
@artiom-matvei Thank you for reaching out. We will look into it and update you as appropriate.

[2022-10-14 02:21] v-missam commented on #99928
#reassign:twimmers

[2022-10-14 03:11] v-missam commented on #99928
Thanks @josuvil  for the feedback. I have made a doc change to address this issue and the change should be live tomorrow.
#please-close

[2022-10-14 03:12] #99928 closed

[2022-10-14 03:35] ManoharLakkoju-MSFT commented on #99678
@ChrisJr4Eva87
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-14 03:35] #99678 closed

[2022-10-14 04:03] KrishnaG-MSFT commented on #99474
@m-yuka746 We have verified and updated the document. Thanks again!

[2022-10-14 04:03] #99474 closed

[2022-10-14 04:03] KrishnaG-MSFT commented on #99472
@joeywas We have verified and updated the document. Thanks again!

[2022-10-14 04:03] #99472 closed

[2022-10-14 04:03] KrishnaG-MSFT commented on #99462
@lbergeron01 We have verified and updated the document. Thanks again!

[2022-10-14 04:03] #99462 closed

[2022-10-14 04:13] v-hgampala commented on #99624
@hannahwalt, we created a PR for your changes, the document will live with suggested changes within 24 hours.

[2022-10-14 04:19] YashikaTyagi-MSFT commented on #99800
@MBS-Pete
I will further investigate this issue in the meantime could you please share correlation ID and time stamp for the error message that you are getting ?

[2022-10-14 04:25] sandeepsnairms opened #99937 "Duplicate Note"
The following Note appears twice.
[!NOTE] Synapse Link for API for Gremlin is now in preview. You can enable Synapse Link in your new or existing graphs using Azure CLI. For more information on how to configure it, click [here](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/cosmos-db/configure-synapse-link.md).

[2022-10-14 04:26] v-ksreedevan commented on #98919
Hi @ashokgop,

This change is now available at https://learn.microsoft.com/en-us/azure/network-watcher/network-watcher-ip-flow-verify-overview.

Hence, closing this issue.

#please-close

[2022-10-14 04:26] #98919 closed

[2022-10-14 04:26] KrishnaG-MSFT commented on #99713
@michaeljcameron Yes, as mentioned [here](https://learn.microsoft.com/en-us/powershell/azure/upcoming-breaking-changes?view=azps-9.0.0#set-azdiagnosticsetting), Set-AzDiagnosticSetting cmdlet is being deprecated. AFAIK you could use [New-AzDiagnosticSetting](https://learn.microsoft.com/en-gb/powershell/module/az.monitor/new-azdiagnosticsetting?view=azps-9.0.0) cmdlet to create or update diagnostic

[2022-10-14 04:27] Naveenommi-MSFT commented on #99923
@chris2shehu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 04:29] Naveenommi-MSFT commented on #99924
@imtiazh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 04:41] KrishnaG-MSFT commented on #99761
@jjjjeee AFAIK the REST API articles are auto-generated based on REST API specifications, etc.
Tagging @tfitzmac @mumian for visibility, review and to help provide insights and do the needful if appropriate.

[2022-10-14 04:45] Venkateshdodda-MSFT commented on #99867
@whomanGHA Thanks for response, I have reached out to your internally for more information on this.

[2022-10-14 04:45] v-missam commented on #53450
Thanks @jackvdbuk for the feedback. I have made a doc change to address this issue and the change should be live tomorrow.
#please-close

[2022-10-14 04:45] #53450 closed

[2022-10-14 04:49] MBS-Pete commented on #99800
Hi there, I don’t have correlation ID or time stamp. No event is recorded to the log. Simply the creation of the Conditional Access Policy fails validation with the error in the screen shot and you cannot save or proceed.

Thanks
Pete

From: YashikaTyagi-MSFT ***@***.***>
Date: Friday, 14 October 2022 at 3:19 pm
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Peter Russell ***@***.***>, Mention ***@

[2022-10-14 04:52] #99666 closed

[2022-10-14 05:04] vpraveenreddy opened #99938 "Doc image does not match the images when trying to create the share"
image under "Add a file share to your storage account" - https://learn.microsoft.com/en-us/azure/storage/files/storage-files-quick-create-use-linux. ,
Doc image does not match the images when trying to create the share
<img width="1256" alt="Screenshot 2022-10-14 at 10 36 28 AM" src="https://user-images.githubusercontent.com/92088297/195766599-4017334c-ecd4-494f-8aef-4df867c327d2.png">

---
#### D

[2022-10-14 05:39] VerusLee opened #99941 "Please update this doc, Express route - MS peering doesn't support Frontdoor[devicemgmt-cdn.teams.microsoft.com]"
[Enter feedback here]
1. We saw the page said: ER option is yes for *.teams.microsoft.com
2. The devicemgmt-cdn.teams.microsoft.com A record is from Azure Front door
part-0031.t-0009.fbs1-t-msedge.net. 69 IN A          13.107.219.59
part-0031.t-0009.fbs1-t-msedge.net. 69 IN A          13.107.227.59

name": "AzureFrontDoor.Frontend",

      "id": "AzureFrontDoor.Frontend",

      "properties": {

[2022-10-14 05:55] RamanathanChinnappan-MSFT commented on #99690
@Meandron

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-14 05:55] #99690 closed

[2022-10-14 06:03] Naveenommi-MSFT commented on #99926
@joshuaphelpsms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:04] Naveenommi-MSFT commented on #99926
@joshuaphelpsms

As per your query we shared below link for your reference.
https://azure.microsoft.com/en-us/blog/azure-event-hubs-for-kafka-ecosystems-in-public-preview/#:~:text=For%20the%20public,Idempotent%20producer

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-14 06:07] Naveenommi-MSFT commented on #99931
@GudlaPreethi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:07] SaibabaBalapur-MSFT commented on #99841
@Riazansary
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVP

[2022-10-14 06:07] #99841 closed

[2022-10-14 06:12] neozoen commented on #99823
Hy, it seams I was a little bit to fast with that post und I had an typo. Now both works:
user.memberof -any (group.objectId -in ['88888888-xxxx-bbbb-yyyy-12345678', '11111111-xxxx-aaaa-yyyy-121212121212']) and
user.memberof -any (group.objectId -in ["88888888-xxxx-bbbb-yyyy-12345678", "11111111-xxxx-aaaa-yyyy-121212121212'7"])

Sorry, my fault

[2022-10-14 06:12] v-missam commented on #97289
Thanks @baf  for the feedback. The document will be updated only when we start supporting OAuth.And we don't support it now.
#please-close

[2022-10-14 06:12] #97289 closed

[2022-10-14 06:13] SaibabaBalapur-MSFT commented on #99915
@mbiver
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-14 06:13] #99915 closed

[2022-10-14 06:15] SaibabaBalapur-MSFT commented on #99875
@barclayn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-14 06:16] r3shma opened #99942 "Question: Are these instructions for logging in AML pipelines applicable for AML python sdk v2 as well?"
Hi, wanted to check whether these instructions for logging in AML pipelines are applicable for AML python sdk v2 as well?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 67b4018f-495f-6f94-4676-d525f62e3419
* Version Independent ID: b712c805-7cc2-d77e-1719-835471c60700
* Content: [Monitor & collect pipeline lo

[2022-10-14 06:17] Naveenommi-MSFT commented on #99932
@craigbeeremct
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:18] SaibabaBalapur-MSFT commented on #99899
@tom-ditlev
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

@khdownie
Thank for your contribution.  👍

[2022-10-14 06:19] SaibabaBalapur-MSFT commented on #99823
@neozoen
We are going to close this thread as resolved but if there are any further questions, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-14 06:19] #99823 closed

[2022-10-14 06:24] v-missam commented on #96187
Thanks @tcjoyce  for the feedback. I have made a doc change to address this issue and the change should be live tomorrow.
#please-close

[2022-10-14 06:25] #96187 closed

[2022-10-14 06:25] Naveenommi-MSFT commented on #99937
@sandeepsnairms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:26] SaibabaBalapur-MSFT commented on #99911
@pitbull43026
Thanks for your contribution.
Could your help out with screenshot of the script, it can help me to update doc as per your query.

[2022-10-14 06:28] AjayBathini-MSFT commented on #99768
@miwithro
Can you please check and add your comments on this request as applicable.

[2022-10-14 06:29] Naveenommi-MSFT commented on #99938
@vpraveenreddy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:33] Naveenommi-MSFT commented on #99941
@VerusLee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:35] xyhuihui opened #99943 "A mistake for round 函数"
[Enter feedback here]
https://learn.microsoft.com/zh-cn/azure/databricks/sql/language-manual/functions/round
![image](https://user-images.githubusercontent.com/81165648/195777828-91d4a7dc-09b6-4f7a-905e-d17c70eba0f2.png)

The original：round(expr [,targetScale] )
Modified as：round(expr ,[targetScale] )

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-10-14 06:36] AjayBathini-MSFT commented on #99908
@stephaneey
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue th

[2022-10-14 06:36] Naveenommi-MSFT commented on #99942
@r3shma
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:40] AjayBathini-MSFT commented on #99914
@ezYakaEagle442
if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

@maulikshah23
Thanks for you quick response.

[2022-10-14 06:41] Naveenommi-MSFT commented on #99937
@sandeepsnairms
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-14 06:42] YashikaTyagi-MSFT commented on #99860
@jesshaines
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-14 06:42] #99860 closed

[2022-10-14 06:43] AjayBathini-MSFT commented on #99894
@andreas-mach
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2022-10-14 06:46] aman-w-kumar commented on #99913
i did some investigate again. it seems PIM does support but with limited functionality

[2022-10-14 06:56] kevchant opened #99944 "CI/CD for Azure Databricks page could do with updating"
I have been going through this page and it looks like it could do with updating.

For example, it references and older agent.  Plus, it recommends putting the variables in the pipeline when they probably should be in a variable group. Because a lot of enterprises require secrets to be kept in Azure Key Vault.

Also, it might be worth explaining why you recommend uploading an artifact since the Dat

[2022-10-14 06:57] Naveenommi-MSFT commented on #99925
@rnirek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 06:58] samssann opened #99945 "missing documentation on how to upgrade virtual node"
There is no documentation on how to upgrade the virtual node kubernetes version.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f3d-eb99-fe06c39eb6cf
* Version Independent ID: 2aad2e47-7fde-8d24-f824-236a26e5d887
* Content: [Create virtual nodes using Azure CLI - Azure Kubernetes Service](https://learn.

[2022-10-14 06:59] aravinthkarur opened #99946 "GA timeline for Azure Active Directory pod-managed identities in Azure Kubernetes Service"
Hi Team,
Please provide an update on GA timeline for Azure Active Directory pod-managed identities in Azure Kubernetes Service. It is been more than 1 year it is in preview.
Regards,
Aravinth

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independen

[2022-10-14 06:59] AjayBathini-MSFT commented on #99925
@rnirek
Thank you for your feedback!
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there

[2022-10-14 06:59] #99925 closed

[2022-10-14 07:01] stephaneey commented on #99908
Hello @AjayBathini-MSFT,

Sorry but the purpose was exactly to improve your doc. The doc is about how to use private endpoints with storage accounts. In that doc, you have a section that talks about disaster recovery and failover. What I'm telling you is that if we blindly apply what the doc states, we end up with a non-compliant DR solution, but ok, feel free to ignore this feedback.

[2022-10-14 07:05] ManoharLakkoju-MSFT commented on #99712
@bburgos928
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVP

[2022-10-14 07:05] #99712 closed

[2022-10-14 07:10] ManoharLakkoju-MSFT commented on #99896
@danmyhre
For you information Please refer the below in documented link
https://learn.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization

[2022-10-14 07:10] ollivaan commented on #92854
@SumanthMarigowda Do you have ETA?

[2022-10-14 07:14] Meandron commented on #99690
Well, it's clearly related to improving the docs: The reader gets confused what is exactly meant by Event Time in the particular context as the term is introduced twice and other terms are used without being properly defined / introduced / linked, like "event payload".

[2022-10-14 07:15] ezYakaEagle442 commented on #99725
In Bicep when declaring an App configured with System Assigned MI , I guess there is no other choice than :

1. create first dummy fake HelloWorld
2. get the Identity.id
3. Assign AcrPull role to the above Identity
4. then deploy a new revision with the actual Container image

The user experience is not great and is longer, it looks that definitely User Assigned Identities is the way to go

[2022-10-14 07:19] ezYakaEagle442 commented on #99725
Also the doc does not explain how to configure the Managed Identity with the GH SourceControl.
see :

- [https://github.com/microsoft/azure-container-apps/issues/437](https://github.com/microsoft/azure-container-apps/issues/437)
- [https://github.com/MicrosoftDocs/azure-docs/issues/99665](https://github.com/MicrosoftDocs/azure-docs/issues/99665)

[2022-10-14 07:26] ManoharLakkoju-MSFT commented on #99906
Hi @MathematicaKen
could you please look into below comments

Key Restriction Policy
Enforce key restrictions should be set to Yes only if your organization wants to only allow or disallow certain FIDO security keys, which are identified by their AAGuids. You can work with your security key provider to determine the AAGuids of their devices. If the key is already registered, AAGUID can also be fou

[2022-10-14 07:27] vojtahanzal commented on #99901
I would like to submit this ticket on the APIm page.
However, I can't even repeatedly create a post there - Access Denied.
![image](https://user-images.githubusercontent.com/108343556/195787836-44a6ca59-d517-4ac0-994e-721b0d629a39.png)

[2022-10-14 07:30] mattv003 opened #99947 "Group management does not work from Microsoft 365 admin center"
After successfully setting up some Administrative Units to manage group membership, our end users tested that they can be managed via portal.azure.com,

We tried using admin.microsoft.com as its a cleaner interface for our end users, but this does not work.

The docs indicate that this should work.

![Screenshot 2022-10-14 182832](https://user-images.githubusercontent.com/115778647/195788095-3f036

[2022-10-14 07:37] ManoharLakkoju-MSFT commented on #99917
@erishiamu
Updated article to clarify Azure Files supports more than 2,000 open handles per share. However, if an application keeps an open handle on the root of the share, the share root limit will be reached before the per file or directory limit is reached.

![image](https://user-images.githubusercontent.com/110587558/195789335-43ab6ed0-085e-410b-9ca2-b8af992f066d.png)

If there are any further

[2022-10-14 07:40] ManoharLakkoju-MSFT commented on #99913
@aman-w-kumar
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-14 07:40] #99913 closed

[2022-10-14 07:50] WilldotNET opened #99949 "Course Link no longer valid"
The link to go to the edx course from this page links to the edx website, but the link on the edx page to register for the course is no longer valid (I htink it's been retired)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 773576c4-687f-d7b4-8b94-3f3f4cf357d6
* Version Independent ID: dcfa310b-d

[2022-10-14 08:14] v-amallick commented on #99891
Hi @Johnnytechn - we have updated the supported region section in the Azure File share article using PR #[214555](https://github.com/MicrosoftDocs/azure-docs-pr/pull/214555); the updates will be live soon.

@SadiqhAhmed-MSFT - FYI, as there are no further doc updates needed, closed this issue.

Thanks!
#please-close

[2022-10-14 08:14] #99891 closed

[2022-10-14 08:28] vojtahanzal commented on #99901
Finally it worked. I had to put a piece of script here as an image.
Because the piece of script in the body of the message could not be saved.

[2022-10-14 08:39] michaeljcameron commented on #99713
I'm afraid I don't think this addresses what I said.
The page still contains a section labelled "Create Diagnostic Settings" which has a tab for powershell.  That describes using the to-be-deprecated method.  There is no reference at all to the new method nor is the documented method noted as being deprecated.  It really just needs to be updated with the new cmdlets.
https://learn.microsoft.com/en

[2022-10-14 08:41] deepakrajputinnofactor commented on #99013
Hello,we are facing the same exact issues as mentioned by @jaucay. Do we have any updates on this?

[2022-10-14 08:44] maud-lv commented on #99900
Hi @arindam0310018, we don’t offer private endpoint connections yet. I can't share a timeline but I can say that it’s an upcoming feature. Thank you for sharing this screenshot, I'll see if we can update the limitations doc and answer to you about this topic in the other issue you opened on that topic.

#please-close

[2022-10-14 09:25] WenJason opened #99951 "What's the return steps of Azure China regions?"
Hi Team, I want to know if the two articles ([Import](https://learn.microsoft.com/en-gb/azure/databox/data-box-deploy-picked-up) and [Export](https://learn.microsoft.com/en-gb/azure/databox/data-box-deploy-export-picked-up)) are available for Azure China regions. If applicable, could you please add the China regions' return steps for the two articles same as [Data Box Disk](https://learn.microsoft

[2022-10-14 09:50] mebristo opened #99952 "Examples for creating Datastores with SDK v2 fail"
Examples such as
[code]

fail with the error

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 713487dd-8117-9857-d49c-ef3ea7098cd7
* Version Independent ID: 651f21dc-ccdc-0c9d-0286-6be7eef3f8b8
* Content: [Upgrade datastore management to SDK v2 - Azure Machine Learning](https://learn.microsoft.com/en-us/azure/ma

[2022-10-14 09:51] ManoharLakkoju-MSFT commented on #99931
@GudlaPreethi
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@billmath
Can you please check and add your comments on this doc update request as applicable.

[2022-10-14 10:01] arindam0310018 commented on #99900
Hello @maud-lv
Thank you for your reply.

Many Thanks
Regards, Arindam Mitra

[2022-10-14 10:06] mikejwhat opened #99954 "PurchasePlanNotProvided Error"
Is it possible to use an image with a payment plan? If so, how do I specify it in the template? I'm getting the below error when trying to use an image from the marketplace. There's a typo in the error btw ('Infomartion'):

(PurchasePlanNotProvided) Purchase Plan was not provided for image: location: westeurope, publisherName: xxxxxxxxx, offer: xxxxxxxx, sku: xxxxxxxx, version: 1.3.4. Update the A

[2022-10-14 10:14] SaibabaBalapur-MSFT commented on #99938
@khdownie
We have tried repro new file share and even facing the same, please could you update doc with correct image.

<img width="948" alt="image" src="https://user-images.githubusercontent.com/111563669/195821891-3c1b63a6-923c-4829-8ccf-17354bff38af.png">

[2022-10-14 10:25] RamanathanChinnappan-MSFT commented on #99866
@iportilla

It would be great could you elaborate your question for better understanding because both seems different.

[2022-10-14 10:45] bolt-io commented on #94264
This will not work, any html inside of the <div id="api"> tag gets replaced by the B2C service. It is not user configurable.

@xtianus79 - which page contract versions are you using in your policies for unifiedssp?

[2022-10-14 10:48] dazinator commented on #99863
@Naveenommi-MSFT - sorry - the command is on this page: https://learn.microsoft.com/en-us/azure/key-vault/secrets/quick-create-bicep?tabs=CLI

[2022-10-14 10:49] Naveenommi-MSFT commented on #99916
@jdkr0220
 Could you please go through this below highlighted concept for your reference.

https://learn.microsoft.com/en-us/azure/data-factory/author-global-parameters#cicd:~:text=The%20following%20steps,PublicNetworkAccess%20%24dataFactory

In Powershell script has all the info about How to deploy global parameters using PowerShell.

If there are any further questions regarding the documentation

[2022-10-14 11:02] Naveenommi-MSFT commented on #99897
@Trooperai
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-14 11:12] Naveenommi-MSFT commented on #99863
@dazinator
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-14 11:22] FarBo commented on #90345
Just add fsspec in a text file (people usually call it requirements.txt) and upload it to your pool and save the changes in the pool. If you already have the requirement file in your pool, you need to add this package to that file and upload and save again.
No need to specify the version of the package though.

[2022-10-14 11:24] Naveenommi-MSFT commented on #99756
@Shell-IanBennett
I've assigned this issue to the author who will investigate and update as appropriate.

@jianleishen
Please review it.

[2022-10-14 11:26] Naveenommi-MSFT commented on #99718
@sc-jlyma
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-14 11:26] #99718 closed

[2022-10-14 11:28] Naveenommi-MSFT commented on #99943
@xyhuihui
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 11:32] AjayBathini-MSFT commented on #99943
@xyhuihui
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-14 11:41] danmyhre commented on #99896
Hi @ManoharLakkoju-MSFT , that doesn't talk about security attributes. If these are supported to use in SAML claims, it should be listed here:
https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/custom-security-attributes-overview#what-can-i-do-with-custom-security-attributes

If they aren't supported, this article needs a section on what is not supported or noted here:
https://l

[2022-10-14 12:04] RamanathanChinnappan-MSFT commented on #99923
Hi @mssaperla

Please add your comment and provide example.

[2022-10-14 12:18] RamanathanChinnappan-MSFT commented on #99932
@craigbeeremct

could you please elaborate your query with screenshot for better understanding.

[2022-10-14 12:20] RamanathanChinnappan-MSFT commented on #99942
@r3shma

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs c

[2022-10-14 12:20] #99942 closed

[2022-10-14 12:27] msandbu opened #99957 "Error with finding catalog items when adding to Azure Portal"
I've been trying many different approaches now to adding a catalog items to DevCenter.

I've added my PAT to KeyVault and it managed to authenticate to Github but for some reason it is not able to find any catalog items.

My GitHub structure is like this.
msandbu/azure/tree/master/template/manifest.yaml and azuredeploy.json

What should I then add to the folder path? This is not well documented at

[2022-10-14 12:34] ManoharLakkoju-MSFT commented on #99843
@dwschulze
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@kof-f
Can you please check and add your comments on this doc update request as applicable.

[2022-10-14 12:47] SWarnberg commented on #92854
Yes, it's been preview for almost a year now, and 5 months since @SumanthMarigowda stated it's very close. I'm very interested to know if we dare to use it for solutions coming to production early next year.

[2022-10-14 13:01] limanea opened #99959 "C# example code does not seem to be valid"
I am trying to follow the example posted on the referenced page but when I get to this:

[code]
I get an error saying that `AuthenticationBuilder` does not contain a definition for `AddMicrosoftIdentityWebApi`. In my project I've installed Microsoft.Identity.Web v1.25.3 and am importing it in my Program.cs file where I am attempting the invocation.

Can someone help figure out why this happens ?

[2022-10-14 13:12] KrishnaG-MSFT commented on #99713
@michaeljcameron Got it. Thanks for elaborating the ask here.
Tagging content owner @rboucher for visibility, review and document enhancement consideration as appropriate.

[2022-10-14 13:40] rtrad89 opened #99960 "Enabling JIT on a VM doesn't work with custom RBAC roles on resource groups"
When using a custom RBAC role, I can't get it to enable JIT VM access using the permissions
`Microsoft.Security/locations/jitNetworkAccessPolicies/write` and `Microsoft.Compute/virtualMachines/write` on the *resource group* scope, as per the article.

If I assign the role at the subscription level, it works. If I assign the role on the resource group in which the VM lives, it fails, because if I t

[2022-10-14 13:44] v-ksreedevan commented on #86044
Hi @mariekoorneef ,

This change has been updated at https://learn.microsoft.com/en-us/azure/network-watcher/frequently-asked-questions#what-tools-does-network-watcher-provide-. Hence, closing this issue.

#please-close

[2022-10-14 13:44] #86044 closed

[2022-10-14 13:45] BillysCoolJob commented on #99796
Hi guys, I would like to ask to keep this open for clarification, especially based on all the other feedback we've been getting from the Sales and Support teams for Azure. Plus this screenshot:

![unnamed](https://user-images.githubusercontent.com/101881640/195862107-e55b902d-7c42-4c18-adc5-8d29b78da549.png)

[2022-10-14 13:49] ezYakaEagle442 opened #99961 "Provide Bicep real values examples including Command"
Could you please :

- Confirm the Command would override the Dockerfile CMD & ENTRYPOINT ?
- Add in this doc pointers to the Azure Monitor Agent config + provide sample about how to embed its agent inside the Docker file and  in the ACA Bicep code ?

- [https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent](https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-in

[2022-10-14 13:52] barclayn commented on #99888
@joeakim thank you for the feedback. I have created a work item internally to track/triage during sprint planning. #please-close

[2022-10-14 13:52] #99888 closed

[2022-10-14 13:57] ahmedsza opened #99962 "more details on setting up catalog"
I just went through the quickstart - and ended up being confused when it came to the catalogs.  The details are not sufficient in the quickstart.  I ended up following https://learn.microsoft.com/en-us/azure/deployment-environments/how-to-configure-catalog and https://learn.microsoft.com/en-us/azure/deployment-environments/configure-catalog-item and figured it out

 I would recommend some steps be

[2022-10-14 13:58] abhay-patil-TOT opened #99963 "Variables not proper"
Hi,

![image](https://user-images.githubusercontent.com/95617538/195864567-a8950722-3c60-4c23-9b58-ea229d0bc655.png)

Is this variable name "MONGO_CONNECTION" shouldn't be the **COSMOS_CONNECTION_STRING** from the `.env` file.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 443e282f-bafb-6773-7ee8-b0602a7c461b
* Versio

[2022-10-14 14:01] iriaosara commented on #99752
Update done. Thank you

[2022-10-14 14:03] ezYakaEagle442 opened #99964 "provide Kusto Query samples in the doc"
at [https://learn.microsoft.com/en-us/azure/container-apps/log-monitoring?tabs=bash#query-log-with-log-analytics](https://learn.microsoft.com/en-us/azure/container-apps/log-monitoring?tabs=bash#query-log-with-log-analytics)
could you please provide the here under Kusto Query samples that could help the new users ?

I will create another Issue in ACA repo to ask those query to be available by defau

[2022-10-14 14:07] cchapin2020 opened #99965 "link update needed"
[Enter feedback here]
On the menu pane of this page, under the Azure Resiliency section there is a link to Azure Resiliency feature page to https://azure.microsoft.com/features/

That page now redirects to a general solutions page https://azure.microsoft.com/en-us/solutions/. I cannot find the original target to suggest, which is what is going to happen to a CX that follows the link.

---
#### Doc

[2022-10-14 14:09] arambazamba opened #99966 "Upgrade docs to .NET minimal hosting"
It would be great if you could update this docs to .NET 6 minimal hosting

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d781aae8-fa5c-27a4-5d3d-64c60d008b4c
* Version Independent ID: ba2bfca5-06a9-abc8-77f2-fbcb0dcb74c3
* Content: [Quickstart for adding feature flags to ASP.NET Core](https://learn.microsoft.com/en-us

[2022-10-14 14:14] mumurug-MSFT commented on #99966
@arambazamba Thanks for the feedback. We will review and update as appropriate.

[2022-10-14 14:15] VitalyMCT opened #99968 "CosmosDB"
Would this article be extended into a 3-way comparison, to include running PostgreSQL on CosmosDB?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 840d8dcd-e7c0-e4c9-caea-3103d371c531
* Version Independent ID: 2e082ba0-36ba-10fd-0995-6eced06ea5be
* Content: [Choose the right PostgreSQL server option in Azure](https://l

[2022-10-14 14:21] BillysCoolJob commented on #99796
I did confirm that our current agreement is an MCA agreement.

[2022-10-14 14:22] AbdullahMSFT commented on #99524
@tnjman Thank you for reaching out. I followed the steps outlined in the [article](https://learn.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-security-configure?view=azuresql), and it worked fine for me. Could you please open a [service request](https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) if you still have the issu

[2022-10-14 14:25] jonwbstr opened #99969 "Can I move a VPN Gateway between subscriptions?"
The [supported resources](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources) page says "yes" to both publicipaddresses and virtualnetworkgateways. No asterisks or exceptions.

This page has a note that says,

So standard SKU addresses can only be moved if they are disassociated? Which article is right about moving publicipaddresses. Yes but only if th

[2022-10-14 14:25] GeethaThatipatri-MSFT commented on #99905
Thanks, @scoriani for your input.
@JeroenRe We will proceed to close this issue now.If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-10-14 14:25] #99905 closed

[2022-10-14 14:29] jonwbstr commented on #99969
[#94730](https://github.com/MicrosoftDocs/azure-docs/issues/94730) says as of June 2022 standard SKUs are support moving between subscriptions

[2022-10-14 14:34] udhaymahajan commented on #99370
@sfc-gh-mahmad The Snowflake config has been updated. https://github.com/MicrosoftDocs/azure-docs-pr/pull/214507

[2022-10-14 14:34] udhaymahajan commented on #99370
#sign-off

[2022-10-14 14:36] mabicca commented on #99925
Hi @AjayBathini-MSFT I believe the main point that Ratnangi wanted to check is why we still have CentOS 6.x listed here since it's end of support already. Should we send you all proposed changes to remove/update it?

We should, at the very least add a NOTE at the top mentioning that it's EOL.

CentOS EOL Dates
CentOS 5: 31 March 2017
CentOS 6: 30 November 2020

[2022-10-14 14:39] GeethaThatipatri-MSFT commented on #99968
@VitalyMCT Thanks for your reaching out, I'm assigning this to the author for the feedback review.

[2022-10-14 14:39] propagandayeti commented on #99840
Here you go
![image](https://user-images.githubusercontent.com/104090617/195873739-2894baec-d0fd-4706-9f14-867597d5938f.png)
The last comma on this line should be removed for it to valid JSON

[2022-10-14 14:40] waszak opened #99970 "Missing information how to contact azure cosmos db emulator team."
"Send all of the above to [Azure Cosmos DB team](mailto:cdbportalfeedback@microsoft.com)."
Well no one answers on this email.
I tried askcosmosdb@microsoft.com also no answer

I tried on github but repository looks like is no longer maintained  https://github.com/Azure/azure-cosmos-db-emulator-docker/issues/45

Dozen of people keeps reporting the same issue that is not fixed because no one is actu

[2022-10-14 14:50] barclayn commented on #99543
Hi @WVDAdminTF,
I have a suggestion.

1 -The type value in the Issuance Request payload https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/issuance-request-api#issuance-request-payload

2 - requestedCredentials.type in the Presentation Request payload https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/presentation-request-api#presentation-r

[2022-10-14 14:57] khdownie commented on #99917
@ManoharLakkoju-MSFT the response above has nothing to do with the user's question.

[2022-10-14 14:58] barclayn commented on #96389
@FranckhDev thank you for your feedback. #please-close

[2022-10-14 14:58] #96389 closed

[2022-10-14 14:58] khdownie commented on #99899
@SaibabaBalapur-MSFT please keep this open for a few days, as I am confirming with the team.

[2022-10-14 15:00] josuvil opened #99971 "Windows 11 support?"
Hello, this document lacks Windows 11 support. Would be advisable to add it along with any other necessary details regarding Windows 11. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connec

[2022-10-14 15:01] khdownie commented on #99917
@erishiamu very soon we are going to deploy a fix to no longer requiring increasing the share quota. But for now you have to do two things:

•	Enable the Large file shares setting on the storage account.
•	Increase the quota so that it is larger than 5TiB.  Once you increase the share beyond 5TiB, the share will be split across multiple storage nodes (partitions).

https://learn.microsoft.com/en-u

[2022-10-14 15:02] barclayn commented on #94363
@krja thank you for your feedback. #please-close

[2022-10-14 15:02] #94363 closed

[2022-10-14 15:12] AlexPiksel commented on #99390
I would also be keen to see this one answered, the current documentation is very ambiguous.

[2022-10-14 15:18] suzizuber commented on #96826
#please-close

[2022-10-14 15:23] HoppyCode commented on #99447
Good Morning,

I’ve reported this issue on the feedback portion for the article.  I don’t have licensing for Teams so unable to raise the issue there.  Sorry.

From: HAMSIKA GAMPALA ***@***.***>
Sent: Thursday, October 13, 2022 3:08 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Collins, Billy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Sign On URL (Issue #99447)

[2022-10-14 15:35] andrewbrownmsft commented on #99754
@esha0611, you might be a better owner for this.

[2022-10-14 15:50] #99360 closed

[2022-10-14 15:53] bitsofinfo opened #99972 "enable azure defender for kubernetes screenshots, directions appear out of date"
enable azure defender for kubernetes screenshots, directions appear out of date

I don't see any of the options this page is describing regarding environment settings, auto provisioning etc.

Even if enabled I keep getting

[code]

and.. the link to the `previews` page provides zero helpful information.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-14 16:00] tamram commented on #30093
@chrisjshields @TracyGH @gojanpaolo - I received confirmation from the SDK team that this is by design in the SDK and will not be changed:

Azure Storage Explorer is likely using base64 encoding to substitute out the newline character and replace it on download. The SDK cannot afford to make such assumptions about customer data. The customer can base64 encode their own data if they wish and decode

[2022-10-14 16:01] MelK-HH opened #99974 "Referencing "MySQL" in PostgreSQL-Article"
[Enter feedback here]
###  Chapter [Why root certificate update is required?](https://learn.microsoft.com/en-us/azure/postgresql/single-server/concepts-certificate-rotation#why-root-certificate-update-is-required)

In the last sentence of second paragraph "MySQL" is referenced twice. This probably is a copy and paste error and should be "PostgreSQL" instead.

---
#### Document Details

⚠ *Do not e

[2022-10-14 16:15] Naveenommi-MSFT commented on #99944
@kevchant
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:16] Naveenommi-MSFT commented on #99945
@samssann
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:19] Masahigo opened #99975 "Include mention about containers"
This documentation about security advantages of a PaaS cloud service model is very helpful but lacks one very common aspect. Nowadays you can run containers on almost every Azure PaaS service designed for hosting web applications and the fact shouldn't be neglected here.

I would personally like to see the following mentions added
- Container images and their layers
- The responsibility of the cus

[2022-10-14 16:20] Naveenommi-MSFT commented on #99946
@aravinthkarur
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:21] joshuaphelpsms commented on #99926
@Naveenommi-MSFT

Thank you for the quick reply. According to the link you shared, idempotent producers are not currently supported for Event Hubs Kafka? The article is from 2018 when it went into public preview, so I'm not sure that this is still accurate. Is this still the case for idempotent producers? Either way, It would be helpful if Azure documentation stated whether or not this was support

[2022-10-14 16:23] Naveenommi-MSFT commented on #99947
@mattv003
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:26] Naveenommi-MSFT commented on #99949
@WilldotNET
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:31] jmprieur commented on #99959
@limanea:

Did you add the
[code]

directive?

[2022-10-14 16:32] Naveenommi-MSFT commented on #99951
@WenJason
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:34] Naveenommi-MSFT commented on #99952
@mebristo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:35] AshokPeddakotla-MSFT commented on #99691
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-14 16:35] AshokPeddakotla-MSFT commented on #99696
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-14 16:35] #99696 closed

[2022-10-14 16:36] Naveenommi-MSFT commented on #99954
@mikejwhat
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:36] bachoang opened #99976 "msal.js config file for logging does not work"
[Enter feedback here]

---
#### Document Details
Besides the issue raised in https://github.com/MicrosoftDocs/azure-docs/issues/99854
There are also other places that need to change as well since the syntax used in that doc is for typescript and does not work in JS env.
Below is the complete working config file (with Jason Nutter's help)

const msalConfig = {
    auth: {
        clientId: "xxx", /

[2022-10-14 16:41] Naveenommi-MSFT commented on #99957
@msandbu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-14 16:41] Naveenommi-MSFT commented on #99957
@anandmeg
Could you Please review this and update as appropriate.

[2022-10-14 16:44] Naveenommi-MSFT commented on #99959
@limanea
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:46] Oury-MSFT commented on #99970
@waszak Thank you for your query. Could you please tell us what issue you are seeing in the doc.

[2022-10-14 16:46] Naveenommi-MSFT commented on #99960
@rtrad89
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-14 16:47] Naveenommi-MSFT commented on #99960
@ElazarK
Could you Please review this and update as appropriate.

[2022-10-14 16:48] Naveenommi-MSFT commented on #99961
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:51] Naveenommi-MSFT commented on #99962
@ahmedsza
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-14 16:52] Naveenommi-MSFT commented on #99962
@anandmeg
Could you Please review this and update as appropriate.

[2022-10-14 16:54] Naveenommi-MSFT commented on #99964
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:54] YashikaTyagi-MSFT commented on #99800
@MBS-Pete
Please send me an email to '[AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com)' with Sub -"Attn: Yashika Tyagi" or "Attn: Marilee Turscak" and following details in the email body:
Link to this thread/post, subscription ID and screenshots of the error message
We can connect offline and discuss further on this.

[2022-10-14 16:56] Naveenommi-MSFT commented on #99965
@cchapin2020
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 16:59] Naveenommi-MSFT commented on #99969
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 17:01] Naveenommi-MSFT commented on #99971
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 17:04] Naveenommi-MSFT commented on #99972
@bitsofinfo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-14 17:05] jaucay commented on #99013
No solutions as of yet but I have been doing some digging. Packet captures show that it is not trying to log in as the user for whatever reason. The error I get back is eRR-TGT-REVOKED (20) and eRR-S-PRINCIPAL-UNKNOWN (7). Event viewer reports that it tries to log in as NETWORK SERVICE and fails.

As a workaround, I have tried to set up Azure AD machines and map to on-prem resources using Kerberos

[2022-10-14 17:13] Naveenommi-MSFT commented on #99976
@bachoang
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-14 17:33] bwren commented on #99498
Thanks. I know we're behind on this, but I am working on it.

#please-close

[2022-10-14 17:33] #99498 closed

[2022-10-14 17:36] shlipsey3 commented on #99271
Hi @ulkeba,
I was able to get a quick edit published this morning (had to wait until after Ignite). Changes should be live this afternoon.

It's a tough concept to convey especially because there are so many scenarios that aren't supported. I think it's clearer now.   Thanks for the feedback!

[2022-10-14 17:36] shlipsey3 commented on #99271
#please-close

[2022-10-14 17:39] spelluru commented on #99926
@joshuaphelpsms @Naveenommi-MSFT - sorry for the inconvenience. I just checked with the dev manager and it's supported now. I will update the article. Thanks

[2022-10-14 17:44] joshuaphelpsms commented on #99926
Ok thank you. I'm not sure if that article is the right place for the documentation since it is a dated article about when it went into public preview. As a developer interested in Kafka for Event Hubs, the blog article was difficult to find and I would expect to see this information in the Azure Docs.

[2022-10-14 17:44] waszak commented on #99970
I have an issue with last section of the doc.  I send email few months ago to "cdbportalfeedback@microsoft.com"
With all this details and no one responded. I think email is wrong. So i want to know how to actually contant anyone with
the issue i provided link to.

Report an emulator issue
When reporting an issue with the Linux emulator, provide as much information as possible about your issue. The

[2022-10-14 18:15] apattath commented on #98227
Hello all... this issue should be fixed now with latest deployment.

[2022-10-14 18:23] spelluru commented on #99926
@joshuaphelpsms - I am planning to update the main Event Hubs for Kafka article in Azure Docs. Thanks.

https://learn.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview

[2022-10-14 18:24] #98590 closed

[2022-10-14 18:31] MathematicaKen commented on #99906
The Key restriction policy portion makes sense. The setting for "Restrict specific Keys" says "Allow" or "Block" is difficult to interpret.
Myself and others have found this amendment explanation more beneficial:
"Restrict specific keys: Select Block to create a key restriction policy that will blacklist the specified AAGUIDs and select Allow to create a key restriction policy that will whitelist

[2022-10-14 18:39] Oury-MSFT commented on #99970
@StefArroyo Could you please shed some light for the above question.

[2022-10-14 18:58] kolef opened #99978 "Issue with running the notebook"
I get this error message "Invalid Http RequesT Live: Your Spark job requested 12 vcores. However, the workspace has a 0 core limit. Try reducing the numbers of vcores requested or increasing your vcore quota. HTTP status code: 400. Trace ID: 8ece06f2-13d4-4665-8e98-97a501e965bc."
when I run this script
%%pyspark
df = spark.read.load('abfss://users@contosolake.dfs.core.windows.net/NYCTripSmall.parq

[2022-10-14 19:05] Anand-Moghe opened #99979 "What is the timeline for Public Preview or GA on Azure Gov cloud?"
When will this service available in Azure Gov Cloud?
Is there a timeline available for Public Preview or GA on Azure Gov Cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ba7d7692-3049-0737-41a8-69a2d7c1ad70
* Version Independent ID: e6b469f4-8cd6-76cd-7a4f-8305265519f6
* Content: [What is Azure Load Testing?](htt

[2022-10-14 19:20] erishiamu commented on #99917
@ManoharLakkoju-MSFT That isn't related to my question. For paygo/std accounts IOPS and throughput throttling is not based on quota. I'm trying to confirm if that is true when large file shares are enabled, or if they behave like premium shares and scale based on the set quota.

For ex, the left column indicates the IOPS limit is 20k but the throughput limit is *up to* 300Mib/s.

![image](https://

[2022-10-14 19:22] ezYakaEagle442 commented on #99961
Correction, it looks like it should be an Array having each item wrapped by single quote , EXCEPT for the AppInsight Agent file path wrapped by double quotes"". Could you please confirm quickly ? And please add the correct syntax in the docs.
[code]

[2022-10-14 19:27] mhaagsma opened #99980 "Spelling"
Shouldn't the word 'principle' be 'principal'?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad11b236-1f86-c5e1-36ab-ede236b3d44a
* Version Independent ID: 832cabb7-8585-5d6f-e358-dda7b09cd6d2
* Content: [SAML authentication with Azure Active Directory - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active

[2022-10-14 19:31] jpflick-stx commented on #87086
Having the same issue. Needing the objectId in the request json. Documentation shows it being supplied, Client ObjectId selected.

[2022-10-14 19:57] roygara commented on #99504
Thanks for reaching out, @Klaas-. I did some testing, resizing the disk doesn't require a rescan to get the new size. Parted picks it up automatically. You do have to start parted after you resize the disk, it won't see it automatically if you started parted prior to the resize.

Since this isn't a documentation issue, I'm going to close this out.

#please-close

[2022-10-14 19:57] #99504 closed

[2022-10-14 19:58] redog opened #99981 "Try missing from code examples"
Try is missing from the try{} catch {} phrase in the examples

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3eedb810-487f-bc9c-89f5-d5fdbcc5d796
* Version Independent ID: 329e9ec7-d9ea-518b-625b-d39880365e80
* Content: [Migrate from a Run As account to a managed identity](https://learn.microsoft.com/en-us/azure/autom

[2022-10-14 20:25] kszicsillag opened #99983 "Avoid entering password in version-controlled file"
In step _Generate the Database Schema_ one should update the appsettings.json file in the sample project with the connection string of the Azure SQL Database.

The connection string contains a password while the appsettings.json is version controlled. It is a bad/dangerous habit to store sensitive data in a version-controlled file.

If the goal of this edit is only to run the migrations, you shoul

[2022-10-14 20:35] JimInWA commented on #95950
Any update on this issue?

Again - until this is addressed we are completely blocked from using the Isolated Process outside of our Development environments.

[2022-10-14 21:55] MDYShah opened #99984 "Typo in the script provided to Attach the disk"
The variable $vm used two times, second time we can make it $vm1 (or anything) when when adding the Disk, so it can be used as $vm1 in update-azvm command

[$resourceGroup = "myResourceGroup"
$location = "WestCentralUS"

$vm = New-AzVm -ResourceGroupName $resourceGroup -Name "myVM" -Location $location -VirtualNetworkName "myVnet" -SubnetName "mySubnet" -SecurityGroupName "myNetworkSecurityGroup" -

[2022-10-14 21:59] pablojavierf commented on #99320
Hi @GeethaThatipatri-MSFT, we still see the docs not updated yet on the versions reference. I'm sorry to insist but a customer is using this doc as a deployment blocker. I appreciate if you can give me some help with this. Thanks a lot
![postgresqlsupport](https://user-images.githubusercontent.com/102972714/195950054-beb636fc-38e2-4a65-bb2f-6530eeaea2f3.png)

[2022-10-14 22:05] GeethaThatipatri-MSFT commented on #99320
@pablojavierf  Sure let me check

[2022-10-14 22:32] GeethaThatipatri-MSFT commented on #99933
@artiom-matvei document has been update thanks for your feedback.

[2022-10-14 22:32] #99933 closed

[2022-10-14 23:02] jonwbstr commented on #99969
Confirmed, VPN moved to another subscription without any issues using a standard Public IP. That was easy!

[2022-10-14 23:57] VitalyMCT opened #99989 "Synapse SQL"
I am having a hard time finding the documentation page that describes the visualizations available in Synapse SQL results panel (i.e. the UI in the screenshot below). Can you please point us to the right page, or create the page if it does not exist?

![image](https://user-images.githubusercontent.com/1765732/195959008-28130325-3f64-48a1-a5cc-f75af05d5a20.png)

---
#### Document Details

⚠ *Do not

[2022-10-15 01:29] justinmchase opened #99991 "Why is azure cognitive search missing?"
Azure Cognitive Search appears to be missing from all documentation here, why is that? Even a small section explaining why its missing would be helpful I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 471c94dc-0175-5575-0d82-484e9c8db0b4
* Version Independent ID: f441d4c5-cd5c-0557-bdf0-e97c18cf5597
* Content:

[2022-10-15 01:33] v-missam commented on #76444
Thanks @demo4life  for the feedback. The doc change to address this issue is live now.
#please-close

[2022-10-15 01:33] #76444 closed

[2022-10-15 03:03] v-missam commented on #64724
Thanks @maheshau1 for the feedback.The change to doc to fix this issue is already live.
#please-close

[2022-10-15 03:03] #64724 closed

[2022-10-15 03:12] Naveenommi-MSFT commented on #99978
@kolef
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:15] Naveenommi-MSFT commented on #99980
@mhaagsma
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:17] Naveenommi-MSFT commented on #99979
@Anand-Moghe
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-15 03:18] Naveenommi-MSFT commented on #99979
@ntrogh
Could you Please review this and update as appropriate.

[2022-10-15 03:22] Naveenommi-MSFT commented on #99981
@redog
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:25] Naveenommi-MSFT commented on #99983
@kszicsillag
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:27] Naveenommi-MSFT commented on #99984
@MDYShah
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:29] Naveenommi-MSFT commented on #99989
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:31] Naveenommi-MSFT commented on #99991
@justinmchase
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:35] v-missam commented on #83889
Thanks @Navoxctr  for the feedback.I have made the doc change to address this issue and it should be live in next couple of days.
#please-close

[2022-10-15 03:35] #83889 closed

[2022-10-15 03:40] MayankBargali-MSFT commented on #99791
@jds3d Just following up here. Hope my previous comment clears things up.

[2022-10-15 03:52] spg-iwilson commented on #79855
I noticed that removing the key vault reference for one secret, saving, then readding the key vault reference results in the latest values being returned for all key vault secrets

[2022-10-15 04:00] Naveenommi-MSFT commented on #99833
@TjommeVergauwen
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your is

[2022-10-15 04:00] #99833 closed

[2022-10-15 04:25] MarileeTurscak-MSFT commented on #99975
@Masahigo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 06:31] thierry-rietsch commented on #69658
@psmanhas - Any updates on this one? Thanks for your help.

[2022-10-15 07:07] v-missam commented on #93829
Thanks @dliwustl for the feedback.But the mapping is already in place and auto-provision seems to be working fine with existing mapping.
![active-mapping](https://user-images.githubusercontent.com/73954333/195974073-1f61d38f-20a0-4392-9dc1-6829ec8137ad.JPG)
#please-close

[2022-10-15 07:07] #93829 closed

[2022-10-15 08:24] g0pinath commented on #92854
Actually this seems to be in GA already. There used to be a note saying its in preview but no more as shown below.
I have had an instance in the past where the service went to GA without actual announcement or the documents updated.

Please confirm if this service is in GA or not yet.
![image](https://user-images.githubusercontent.com/40280382/195977002-f39f7783-2f61-4057-b636-b7773fa0a203.png)

[2022-10-15 09:34] cveld opened #99993 "Cosmosdb Postgresql relationship"
Now with the launch of cosmosdb for postgresql I am a bit confused. When to pick the single server, flexible server or cosmosdb offering?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 789139e9-15bb-58a9-7dc3-bd85c0bcfee5
* Version Independent ID: cda59fed-f3ff-aa09-a13c-027a54e4141a
* Content: [Azure Database for Pos

[2022-10-15 11:40] Naveenommi-MSFT commented on #99782
@maulikhdave9601672767

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-15 11:40] #99782 closed

[2022-10-15 12:09] D-Moonesinghe opened #99995 "Isn't this incorrect."
" Virtual Network (VNet) service endpoint provides secure and direct connectivity to Azure services over an optimized route over the Azure backbone network. "
I remember reading Private Endpoints documentation, exactly contradicting the idea.
If I remember reading it correctly the whole idea of the private endpoint is it goes through the Azure backbone network and exposes a private IP. At the same

[2022-10-15 14:31] Naveenommi-MSFT commented on #99993
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 14:43] Naveenommi-MSFT commented on #99995
@D-Moonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 15:27] Naveenommi-MSFT commented on #99949
@WilldotNET
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-15 15:29] Naveenommi-MSFT commented on #99949
@likebupt
Could you Please review this and update as appropriate.

<img width="917" alt="image" src="https://user-images.githubusercontent.com/113576472/195994693-0f84f017-41c2-4064-9ca5-3cff3b594ab1.png">

[2022-10-15 15:29] jdkr0220 commented on #99916
Hi-

The two points are:

1. The "powershell" method is noted as the "older mechanism" but there's no real documentation on the "new method" for how to deploy global parameters.
2. The warning text box does not appear to be accurate because the new "Include global params in ARM template" does not appear to kill the git repo link with the new checkbox.

[2022-10-15 15:29] Naveenommi-MSFT commented on #99949
@likebupt
Could you Please review this and update as appropriate.

<img width="917" alt="image" src="https://user-images.githubusercontent.com/113576472/195994693-0f84f017-41c2-4064-9ca5-3cff3b594ab1.png">

[2022-10-15 15:39] Naveenommi-MSFT commented on #99916
Hi @jdkr0220
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-15 15:39] Naveenommi-MSFT commented on #99916
@nabhishek
Could you Please review this and update as appropriate.

[2022-10-15 16:49] Rodrigossz commented on #99740
A bug was created. Tks.

[2022-10-15 16:49] Rodrigossz commented on #99740
#please-close

[2022-10-15 16:49] #99740 closed

[2022-10-15 17:30] ezYakaEagle442 commented on #99961
Correction again, no need to rewrap the file path with double quotes. This runs fine :
[code]

[2022-10-15 17:45] Rodrigossz commented on #99820
Done. Update will be published soon. Thank you for the update!

[2022-10-15 17:46] Rodrigossz commented on #99820
#please-close

[2022-10-15 17:46] #99820 closed

[2022-10-15 21:16] tshaiman opened #99996 "Understand whether Migration Process is relevant for Azure.Identity 1.6+ users"
[Enter feedback here]
we are already running with Azure.Identity 1.7 with aad-pod-identity.
we believe the side-car migration is not relevant in our case since Azure.Identity 1.7 is already MSAL enabled, and as far as we understood we just need to follow up on the quick-start guide here https://azure.github.io/azure-workload-identity/docs/quick-start.html and replace "aadpodidentity" with "service

[2022-10-15 21:32] mfthomps opened #99997 "Is there a way to filter list-skus based on subscription type (not the subscription of the querying account)"
Is there any way to filter the results of list-skus to reflect what would be seen by a Student account?  New Student accounts are encountering many failures in VM creation.  I'd like to adapt my product to attempt to find suitable regions.  But without the ability to create a Student account, I need some way to see what a Student account would see.

---
#### Document Details

⚠ *Do not edit this s

[2022-10-15 22:32] drdamour opened #99998 "footnotes seem to be contradictory"
source has

this says that asp.net codeless only does full on app service, then says again it only does standard on app service.  which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca73876-268e-c89b-aaaa-0834234c239c
* Version Independent ID: 7d408ea5-f7bc-0ed2-5e05-daeab325e294
* Content: [Log-based and pre

[2022-10-15 22:34] dwschulze opened #99999 "The Access Policies screen has changed and there is no Add Access Policy button"
The Access Policies is not under settings as you show.  The Access Policies screen is very different from what you show.  See the attached image.

There is no Add Access Policy button.  There is a + Create button, but that screen is very different from what you show.

If you Portal UI has changes you need to update these docs.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-10-16 02:14] Naveenommi-MSFT commented on #99996
@tshaiman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 02:18] Naveenommi-MSFT commented on #99997
@mfthomps
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 02:22] Naveenommi-MSFT commented on #99998
@drdamour
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 02:25] Naveenommi-MSFT commented on #99999
@dwschulze
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 04:30] gbms311 opened #100001 "Overview of Azure Connected Machine agent"
Can we not just referent the 'Azure Connected Machine agent' as an ARC agent. When trying to figure out how MMA, AMA, ARC, etc all work, small name differences, make it very confusing to know if one agent is the same as the other, when the name differs each time it is references. Azure ARC

For example, this AMA article says <https://learn.microsoft.com/en-gb/azure/azure-monitor/agents/agents-over

[2022-10-16 05:15] vee73 opened #100002 "Typo"
Typo in the answer for first question
Is Azure Synapse Link supported for all Azure Cosmos DB APIs?
Azure Synapse Link is supported for the Azure **Cosmos DB API for NoSQL** and MongoDB. The support for API for Gremlin is now in preview.

Correction: Azure Synapse Link is supported for the Azure **Cosmos DB SQL API** and MongoDB. The support for API for Gremlin is now in preview.

---
#### Documen

[2022-10-16 05:56] ManoharLakkoju-MSFT commented on #99896
@danmyhre
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@rolyon
Can you please check and add your comments on this doc update request as applicable.

[2022-10-16 06:51] yutaro113 opened #100003 "Question about data saving policy on Azure/Self-Hosted IR."
Hi Team,

I found below description in this doc.

https://learn.microsoft.com/en-us/azure/data-factory/data-movement-security-considerations
[code]

But in another docs, it's explained that data is once loaded into Azure/Self-Hosted IR, and processed, and then moved to Sink dataset.
I feel description is in conflict but what will be the actual behavior? Does above docs just mean, data is actually

[2022-10-16 07:24] jr-MS commented on #99892
Hi @Naveenommi-MSFT, thank you so much for your feedback, for this issue. Could you please write an email to our DRI channel for better and faster support: **anomalydetector@microsoft.com**? Thanks!

[2022-10-16 07:27] cveld opened #100004 "Create Dev Center wizard errors when resource group does not exist"
Not sure where to report bugs on this preview service?

When I try to create a Dev Center resource through the Azure Portal wizard I get the following error when selecting a resource group that does not exist yet:

{"name":"RequestError","code":"ResourceGroupNotFound","originalStack":"Unknown: Resource group 'rg-dev-center' could not be found.\n at new t (https://afd.hosting.portal.azure.net/devce

[2022-10-16 08:19] SaibabaBalapur-MSFT commented on #99778
@icgaff
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-16 08:19] #99778 closed

[2022-10-16 09:13] assaf-grth commented on #99379
Hi @spelluru
Regarding basic tier of event hubs, I could see that from the portal, it can be defined with multi az support as well
This ability is not documented, so can you confirm that its indeed covered and supported for multi AZ?

[2022-10-16 09:24] assaf-grth opened #100005 "Availability zone support for IOT hub in West Europe"
According to [this document](https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#availability-zones) IOT hub resources in West Europe region don't have availability zone redundancy support

Is that correct?
Can it be enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a6874376-9df5-65b7-6908-eaaba67992d0

[2022-10-16 09:41] MChez commented on #99783
@Naveenommi-MSFT
Thank you for putting this to a review. Further to my original question, I have since been able to test the generation of the Blob file from the Microsoft 365 (Office 365) Connector via the Copy data action. I discovered that the blob saved to the storage account is a JSON file (although my test saved it without a file extension). It may be sufficient to just update the article to

[2022-10-16 10:49] yutaro113 opened #100006 "Question about SHIR Data Redundancy"
Hi Team,

I found below description in this doc:
[code]

But in another docs, for the high availability, connecting muliple node for 1 SHIR is also recommended.
https://learn.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime?tabs=data-factory
[code]

I thought connecting multiple node (deploy primary node to region A and deploy another node to region B etc) for 1 SHIR i

[2022-10-16 11:51] plynch66 commented on #99495
Hi,

I believe @rafa-el-nunes is correct. I have just created a Rule Collection Group which contains both an Application Rule Collection and a Network Rule Collection.

[2022-10-16 12:18] adi-garg opened #100007 "Feedback/Query on support for replication options"
Hello Microsoft,
1.I observe that the section [here ](https://learn.microsoft.com/en-us/azure/storage/common/storage-redundancy#supported-azure-storage-services)consolidates support for replication across blobs,file share,table,queue.
It would help if the 2 exceptions listed in read up section are listed below table as well.

_Exception:(For BLOBS under ZRS/RA-ZRS and GZRS/RA-GZRS in table) **Arch

[2022-10-16 13:14] muha-abdulaziz commented on #98456
Hello, I think I face the same issue. The issue is the file used in the size of the example file is more than 1 MB, which is the max file size in the free tire "[Surface Book User Guide](https://download.microsoft.com/download/7/B/1/7B10C82E-F520-4080-8516-5CF0D803EEE0/surface-book-user-guide-EN.pdf)"

The error message is useless, I opened the developer tool to show the server response, and here

[2022-10-16 14:19] mumurug-MSFT commented on #99763
@kkazala We had an internal discussion with our product team and tried to repro this issue with .NET 6.0 SDK but couldn't. This is likely an environment issue but if you can repro this issue where NuGet public feed is not added by default in packageSources, please file a new issue in [.NET 6.0 SDK repo](https://github.com/dotnet/sdk/issues) (Note: this step should not be needed). SDK team can revi

[2022-10-16 14:19] #99763 closed

[2022-10-16 14:36] ruimserra commented on #98714
@realolap I'm facing precisely this problem. I can't connect from a Bastion host in one spoke VNET to resources in other spoke VNETs.

I actually tried exactly your suggestion and I'm still having the same problem. I tried this:

Scenario:
- Azure Virtual WAN with 1 hub;
- Azure firewall associated with the hub;
- 1 spoke VNET with 2 subnets (bastion and VM);
- Another spoke VNET with only 1 subne

[2022-10-16 14:51] Sesa1988 opened #100008 "Flutter support for authentication, B2B, B2C and other azure services"
Hi,

I would love to see an SDK for Flutter (mobile, desktop and web) for authentication (email, providers with redirects) and other azure services. Since Amplify has something similar it would be great for azure as well.

We could have authentication like B2C, what is not that easy to do for all platforms with its provider redirects and azure features.

Overall Flutter support would be great for

[2022-10-16 15:22] YashikaTyagi-MSFT commented on #100002
@vee73
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-16 15:25] YashikaTyagi-MSFT commented on #100001
@gbms311
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 15:27] YashikaTyagi-MSFT commented on #100003
@yutaro113
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 15:31] YashikaTyagi-MSFT commented on #100005
@assaf-grth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 15:34] vee73 commented on #100002
https://learn.microsoft.com/en-us/azure/cosmos-db/synapse-link-frequently-asked-questions

[2022-10-16 15:34] YashikaTyagi-MSFT commented on #100006
@yutaro113
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 15:36] YashikaTyagi-MSFT commented on #100007
@adi-garg
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-16 15:37] YashikaTyagi-MSFT commented on #100008
@Sesa1988
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 15:41] YashikaTyagi-MSFT commented on #99814
@Lenny611
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-16 15:41] #99814 closed

[2022-10-16 15:46] YashikaTyagi-MSFT commented on #100002
@vee73
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-16 16:05] Rodrigossz commented on #100002
@vee73 The SQL API just got renamed to NoSQL API.

[2022-10-16 16:05] Rodrigossz commented on #100002
#please-close

[2022-10-16 16:05] #100002 closed

[2022-10-16 16:07] Rodrigossz commented on #100002
@vee73 Thanks for the heads up. The fix will be live soon.

[2022-10-16 19:11] AjayKumar-MSFT commented on #99735
duanepfeiffer,  Apologies for the delay! `are you experiencing this issue? Following the same steps, I'm not able to repro the same issue/error.  Just to highlight, sqlcmd` with the -G command does not work with system identities, and requires a [user principal login.](https://learn.microsoft.com/azure/azure-sql/database/authentication-azure-ad-user-assigned-managed-identity?view=azuresql#set-a-ma

[2022-10-16 19:21] alvipeo opened #100009 "Update 4 years old sample!"
The sample in the paragraph [Shared Access Signature authentication with Service Bus](https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#shared-access-signature-authentication-with-service-bus) is ancient! Please update it to the latest version of .NET SDK (.Net 6 or even 7).

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-10-16 19:25] cveld opened #100010 "Cannot create dev center project environment"
When creating a new dev center project environment, I get a 404.

The tutorial asks me to run:
[code]

This yields the following error:
[code]

It boils down to the following invocation:

`az rest --uri "https://mydevcenter.devcenter.azure.com/projects/dev-center-project/users/me/environments/myenvironment?api-version=2022-03-01-preview" --method put --resource https://devcenter.azure.com/`

[code

[2022-10-16 19:35] hvoerman opened #100011 "When will workload identity by GA?"
Is there any timeline when workload identity will be GA?

We really want this for our containers.

Also too bad that managed identities for ACI is also still in preview.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: efde8151-ca72-0ce1-271a-57a14a8c7ccd
* Version Independent ID: f37efaf0-6573-6813-a3e4-3065e44666e4
* C

[2022-10-16 19:51] m-gora commented on #81449
This issue is 1 year old already...

I stumbled upon the very same problem when trying to get OIDC working.
However it seems that the schema of the resource and the example does not match at all.

OpenIdConnectProviders is called customOpenIdConnectProviders for example.

[2022-10-16 20:02] arindam0310018 opened #100012 "Az Active Directory Admin Group Name for Azure Database for PostgreSQL single server supports up to 63 Characters"
Hello Team,

Please be informed that when I tried adding Azure Active Directory Group as Admin in Azure Database for PostgreSQL Single Server, it was observed that it supports AAD Group Name up to 63 characters.

If the AAD Group Name is 64 characters and above, it allows be to add and save but as soon as I refresh the page, AAD Group is No more displayed. It only displays "NO ACTIVE DIRECTORY ADM

[2022-10-16 20:07] ezYakaEagle442 opened #100013 "Authorization to perform action 'Microsoft.SaaS/register/action' should be documented"
Authorization to perform action 'Microsoft.SaaS/register/action' should be documented at [https://learn.microsoft.com/en-us/azure/spring-apps/quickstart-deploy-infrastructure-vnet-bicep?tabs=azure-spring-apps-standard#prerequisites](https://learn.microsoft.com/en-us/azure/spring-apps/quickstart-deploy-infrastructure-vnet-bicep?tabs=azure-spring-apps-standard#prerequisites).

The snippet provided
[

[2022-10-16 20:12] ezYakaEagle442 commented on #100013
see also [https://learn.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/error-register-resource-provider?tabs=azure-cli#cause](https://learn.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/error-register-resource-provider?tabs=azure-cli#cause)

[2022-10-16 21:11] bdcoder2 opened #100014 "How to pass parameters to Azurite Storage emulator when running from an Azure Functions project? ..."
According the documentation, under the heading "**Running Azurite from an Azure Functions project**", it states:

Which is fine -- but what if I want / need to set the location, listening ports or log to something other than the defaults?

 _(Yes, I know I can start the emulator via the command line and specify a location using the command line)._

However, is there any parameter file that the Azu

[2022-10-16 21:15] pthomas848 opened #100015 "Roadmap"
[Enter feedback here]
Immutable vault and enhanced soft delete  seems to achieve most of the outcomes of Multi-user authorisation. Is it Microsoft’s intention to phase out MUA? If not, when would you  choose MUA instead of the above 2 solutions?  Trying to understand the strategic roadmap here, so we don’t waste our time in solutions that are not relevant or not going to be maintained

---
#### Do

[2022-10-16 21:32] jshealth opened #100016 "Improve sentence on Quorum resources and offline states preventing split-brain"
I think the following could be re-written

"But after the cluster is down to two nodes, there's a risk that the clustered resources will go offline if a node loss or communication failure to prevent a split-brain scenario."

as

"But after the cluster is down to two nodes, if there is another node loss or communication failure, there is a risk that the clustered resources will go offline to preven

[2022-10-16 21:43] arindam0310018 opened #100017 "Limitations Not Listed in the Documentation: Connect your GitHub repositories to Microsoft Defender for Cloud"
Hello Team,

I did my Testing on the Recent released topic in MS Ignite 2022 - Connect your GitHub repositories to Microsoft Defender for Cloud
I also prepared a blog for the same - https://github.com/arindam0310018/14-Oct-2022-DevOps__MS-Defender-4-Cloud-DevOps-Secuirty-In-GitHub

Below limitations are not listed in your documentation:-

| __LIMITATIONS__ | __REFERENCE SCREENSHOT__ |
| ----------

[2022-10-16 22:49] GeethaThatipatri-MSFT commented on #100012
@arindam0310018 Thanks for your findings, We will look into it and update as appropriate.

[2022-10-16 23:24] JunchiLiu94 opened #100018 "Azure Machine Learning - Access to Storage accounts in a different Vnet"
Hi AML Team,

A partner that I work with raised this issue with me as he was trying to access a storage account in a different VNet from his compute instance. He got confused with the following dot point under the Azure Storage Account Limitations header:

- "If the storage account uses a private endpoint, the workspace private endpoint and storage private endpoint must be in the same VNet. In thi

[2022-10-17 00:01] ChrisHMSFT commented on #99654
@captainnumerica  thank you for the feedback! we will update the examples in the reference documentation to call this out. You can also find the full swagger definition here: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/cognitiveservices

[2022-10-17 00:11] msmbaldwin commented on #99863
Hi @dazinator, and thanks for the feedback. You are correct that these were typos -- good eye! I have corrected them, as you can verify here:  https://learn.microsoft.com/en-us/azure/key-vault/secrets/quick-create-bicep?tabs=CLI#deploy-the-bicep-file

Thanks again for your feedback -- we appreciate it. #please-close

[2022-10-17 00:11] #99863 closed

[2022-10-17 03:01] torumakabe opened #100019 "Suggestion: Merge with existing tutorial"
This tutorial is incomplete because I can't confirm the result of my settings. You should add a procedure that allows you to check if the pod can read the secret with workload identity.

How about merging [the existing one](https://learn.microsoft.com/en-us/azure/aks/learn/tutorial-kubernetes-workload-identity?utm_source=pocket_mylist) with this tutorial?

---
#### Document Details

⚠ *Do not edit

[2022-10-17 03:19] YashikaTyagi-MSFT commented on #100009
@alvipeo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:21] YashikaTyagi-MSFT commented on #100010
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:22] YashikaTyagi-MSFT commented on #100011
@hvoerman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:25] YashikaTyagi-MSFT commented on #100013
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:26] YashikaTyagi-MSFT commented on #100014
@bdcoder2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:29] YashikaTyagi-MSFT commented on #100015
@pthomas848
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:29] MayankBargali-MSFT commented on #99791
@jds3d Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-17 03:29] #99791 closed

[2022-10-17 03:37] YashikaTyagi-MSFT commented on #100016
@jshealth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:38] YashikaTyagi-MSFT commented on #100017
@arindam0310018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:40] VikasPullagura-MSFT commented on #100019
@torumakabe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-17 03:40] VikasPullagura-MSFT commented on #100019
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-17 03:40] YashikaTyagi-MSFT commented on #100018
@JunchiLiu94
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 03:43] SaibabaBalapur-MSFT commented on #99838
@shawnz88
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-17 03:43] #99838 closed

[2022-10-17 03:45] SwathiDhanwada-MSFT commented on #99669
@scatmull Thanks for your feedback.

Assigning to content author @v-amallick for review.

[2022-10-17 03:46] SwathiDhanwada-MSFT commented on #99760
@andrePKI As requested in earlier comment, can you please provide further details ?

[2022-10-17 03:47] SwathiDhanwada-MSFT commented on #99774
@SWarnberg Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-10-17 03:56] sandeepsnairms commented on #99937
Looks like its already fixed.

[2022-10-17 03:56] #99937 closed

[2022-10-17 03:57] sandeepsnairms commented on #99937
Already fixed

[2022-10-17 03:58] ManoharLakkoju-MSFT commented on #99906
@Justinha
Can you please check and add your comments on this doc update request as applicable.

[2022-10-17 04:04] #99897 closed

[2022-10-17 04:20] SwathiDhanwada-MSFT commented on #99815
@tiago-msft Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours.We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-10-17 04:20] #99815 closed

[2022-10-17 04:24] shaktisingh-msft commented on #99812
Hi @avi95022,

Could you please add more details about the question for the document request.

[2022-10-17 04:28] AjayBathini-MSFT commented on #98199
@jjaygbay1
Thanks for the update!

[2022-10-17 04:28] #98199 closed

[2022-10-17 04:34] RamanathanChinnappan-MSFT commented on #99856
@walidwindev

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Micro

[2022-10-17 04:34] #99856 closed

[2022-10-17 04:35] AjayBathini-MSFT commented on #99914
@ezYakaEagle442
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-17 04:35] #99914 closed

[2022-10-17 04:36] RamanathanChinnappan-MSFT commented on #99866
@iportilla

We are going to close this thread a but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-17 04:36] #99866 closed

[2022-10-17 04:37] RamanathanChinnappan-MSFT commented on #99895
@assaf-grth

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MV

[2022-10-17 04:37] #99895 closed

[2022-10-17 04:37] #99943 closed

[2022-10-17 04:41] v-hgampala commented on #99447
Please request here(SaaSApplicationIntegrations@service.microsoft.com) for the access to raise the request.

[2022-10-17 04:41] AjayBathini-MSFT commented on #99840
@propagandayeti
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-17 04:50] shaktisingh-msft commented on #99799
Hi @StefArroyo,

Could you please look into this document request. Thanks

[2022-10-17 04:50] #99840 closed

[2022-10-17 05:04] #99835 closed

[2022-10-17 05:20] KapilAnanth-MSFT commented on #99780
Hi @adi-garg
Sure. Thanks for the detailed follow-up.

I shall assign the case to the author @vhorne for further review on this.

[2022-10-17 05:41] SwathiDhanwada-MSFT commented on #99902
@arindam0310018 Thanks for your feedback.

Assigning to content author @maud-lv  for review.

[2022-10-17 05:42] v-missam commented on #88666
#reassign:twimmers

[2022-10-17 05:47] #99496 closed

[2022-10-17 06:03] Aileron79 opened #100022 ""The client ID is the unique Application (client) ID assigned to your app by Azure AD when the app was registered.""
Why not just write where to find it...
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3e94cea7-351d-8ab1-134f-ee3097b11e7f
* Version Independent ID: 91a6dc17-1c85-2771-9ca5-0c7b5b8c7408
* Content: [Client application configuration (MSAL) - Microsoft Entra](https://learn.microsoft.com/en-us/azure/active-directory/develo

[2022-10-17 06:07] v-missam commented on #99370
#please-close

[2022-10-17 06:07] #99370 closed

[2022-10-17 06:13] KapilAnanth-MSFT commented on #99598
Hi @krispenner ,

I just got an update from our Product Team that,
"Stop evaluating remaining rules will apply to all rulesets associated with the route".

Apologies for the earlier comments. I shall work with them and see if I can get the documents updated accordingly

[2022-10-17 06:44] m-brooks opened #100023 "Text does not agree with images"
[Enter feedback here]
This page has a couple of images and associated text, but the text and images do not agree with each other.
According to the text, the first image is supposed to show a blob source, but it actually shows a collection, beneath which there are several nodes whose type is not obvious and certainly none clearly represents a blob source.
The text relating to the second image doesn

[2022-10-17 06:55] SaibabaBalapur-MSFT commented on #99946
@aravinthkarur

Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-10-17 06:55] #99946 closed

[2022-10-17 07:00] SnehaAgrawal-MSFT commented on #99745
@carmines Thanks for reaching here! Could you please confirm if the issue is specific to this doc or its in-general for azure sign-in?

[2022-10-17 07:03] SaibabaBalapur-MSFT commented on #99954
@mikejwhat
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-17 07:03] #99954 closed

[2022-10-17 07:09] SaibabaBalapur-MSFT commented on #99964
@ezYakaEagle442
Can you please check and add your comments on this doc update request as applicable.

[2022-10-17 07:14] spiroskon opened #100024 "AKS control plane cost"
As explained on https://learn.microsoft.com/en-us/azure/aks/concepts-clusters-workloads?source=recommendations#control-plane

"_control plane is provided at no cost as a managed Azure resource abstracted from the user. You only pay for the nodes attached to the AKS cluster_"

However, going over to AKS Cost Managment, system pool vmss (MC_ resource group) incurs charges according to VM / Storage u

[2022-10-17 07:20] SnehaAgrawal-MSFT commented on #99748
@neeranelli just checking if you have chance to see the response of tomaschladek , let us know.

[2022-10-17 07:26] ezYakaEagle442 commented on #95119
also at https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.appplatform/azure-spring-cloud

[2022-10-17 07:33] Klaas- commented on #99504
@roygara I am guessing parted is just doing the rescan on it's own, but there are scenarios where you do not update the partition table, lvm for example can be on disk without one. But you can consider this as part of #83328 if you want :)

[2022-10-17 07:33] AjayBathini-MSFT commented on #99945
@samssann
Could you please follow the below link for your reference.
https://learn.microsoft.com/en-us/azure/aks/node-image-upgrade

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-17 07:36] AjayBathini-MSFT commented on #100011
@hvoerman
Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-10-17 07:36] #100011 closed

[2022-10-17 07:37] #99800 closed

[2022-10-17 07:39] AjayBathini-MSFT commented on #99996
@MGoedtel
Can you please check and add your comments on this query as applicable.

[2022-10-17 07:41] SadiqhAhmed-MSFT commented on #99965
@awysza & @rolyon To assist wit!

[2022-10-17 07:49] AjayBathini-MSFT commented on #99984
@MDYShah
Could you please help us with the screenshot and mark the line that changes to be made. So, it will be helpful for us to make necessary changes.

Thanks.

[2022-10-17 07:50] tajwan69 commented on #99773
@RyanHill-MSFT
Do you have any feedback about my problem? I really care about solving my issue.

[2022-10-17 07:51] AjayBathini-MSFT commented on #99951
@alkohli
Can you please check and add your comments on this doc update request as applicable.

[2022-10-17 08:17] activist commented on #92854
@g0pinath I do not have the SFTP option available, so likely not GA yet. But I'm also very interested in the availability/schedule here

[2022-10-17 08:34] jt-osuk commented on #99869
I am guessing the same will need to be updated on the VMWare pages?
https://learn.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware
https://learn.microsoft.com/en-us/azure/migrate/concepts-dependency-visualization

[2022-10-17 08:37] remuant opened #100026 "Pls add link to material referenced"
"Deleting at the storage level is done using the portal, as described previously. "
A link to the material referenced would be useful here, I am having trouble locating it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4552e012-2352-c410-9141-989f18d36120
* Version Independent ID: 7d7c7781-9619-34a9-96b5-587ceeafd7ef

[2022-10-17 08:52] neeranelli commented on #99748
@SnehaAgrawal-MSFT,

I have looped you in the Teams conversation that I had with Tomas.

Thank you.

[2022-10-17 09:00] JackyChiou opened #100028 "Data In Replicate OnPrem MariaDB to Azure MariaDB needs source server public ip/DNS?"
[Enter feedback here]

**Requirements**
Ensure the source server's IP address has been added to the Azure Database for MariaDB replica server's firewall rules. Update firewall rules using the [Azure portal](https://learn.microsoft.com/en-us/azure/mariadb/howto-manage-firewall-portal) or [Azure CLI](https://learn.microsoft.com/en-us/azure/mariadb/howto-manage-firewall-cli).
Ensure the machine hosti

[2022-10-17 09:02] RamanathanChinnappan-MSFT commented on #99978
@Kolef
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs can

[2022-10-17 09:02] #99978 closed

[2022-10-17 09:08] RamanathanChinnappan-MSFT commented on #99923
@mssaperla

could you please review this and update as appropriate.

[2022-10-17 09:09] RamanathanChinnappan-MSFT commented on #99923
@chris2shehu
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-17 09:09] YashikaTyagi-MSFT commented on #99848
@jonwbstr
Apologies for the delay. I am assigning this issue to author who will update accordingly

[2022-10-17 09:11] ManoharLakkoju-MSFT commented on #99917
@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-10-17 09:17] ManoharLakkoju-MSFT commented on #99976
@bachoang
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-17 09:18] ManoharLakkoju-MSFT commented on #99976
@Dickson-Mwendia
Can you please check and add your comments on this doc update request as applicable.

[2022-10-17 09:22] ManoharLakkoju-MSFT commented on #99961
@ezYakaEagle442
Could you please confirm whether your query is resolved?

[2022-10-17 09:23] VikasPullagura-MSFT commented on #69658
@macols Can you please share any update you have on this.

[2022-10-17 09:24] AL0505743 opened #100029 "Update doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 83b07a9e-5e16-32ed-265e-32a32998ce37
* Version Independent ID: 09008259-4b53-2925-9679-ecad59cefe41
* Content: [Tutorial - Customize Azure Active Directory attribute mappings in Application Provisioning - Microsoft Entra](https://learn.microsoft.com/

[2022-10-17 09:38] ntrogh commented on #99979
Hi @Anand-Moghe. Thanks for reaching out. It looks like you have a product request rather than documentation feedback. To make sure that this is logged in the right place, please report it in the [Azure Load Testing issues](https://github.com/microsoft/azure-load-testing/issues). When you do so, it allows you to engage directly with the engineering team while they address your request.

[2022-10-17 09:46] hmenchaca opened #100030 "Swap values "a" and "b" of Section 10 to match the Atlassian SAML order of attributes."
[Enter feedback here]

In Section 10. - I think the subsections "a" and "b" should be swapped as it cause a lot of confusion when customers are configuring SAML SSO and due to that they ended up with a bad SAML configuration - it's a visual phrasing mistake - so I think it would help if those values are swapped so they can match with the actual order of fields in the Atlassian SAML Configuration p

[2022-10-17 09:58] DziugasB opened #100031 "How can Azure Site Recovery Deployment Planner support vSphere 7 if it requires PowerCLI 6.0?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-17 10:03] ManoharLakkoju-MSFT commented on #100016
@jshealth
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-17 10:08] ManoharLakkoju-MSFT commented on #99980
@mhaagsma
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-17 10:23] bartvermeersch opened #100033 "Unable to dismiss SSPR registration"
A note on the page says:

**Users can dismiss the SSPR registration portal by selecting cancel or by closing the window. However, they're prompted to register each time they sign in until they complete their registration.**

This doesn't seem to be true (anymore) in the combined registration. When the user is prompted for more information.
![image](https://user-images.githubusercontent.com/1407940

[2022-10-17 10:36] YashikaTyagi-MSFT commented on #99947
@rolyon
kindly provide your inputs on this issue.

[2022-10-17 10:37] v-amallick commented on #100015
Hi @pthomas848 ,

Thanks for writing to us. We've recently launched the feature MUA for Azure Backup, and will not be deprecated.

- **MUA**: This gives an additinal layer of protection on Recovery Services vaults and Backup vaults, which protects backup instances in a vault and managed by Admin/security personnel to enable or disable this feature, thus giving flexibility to delete any not-needed

[2022-10-17 10:37] #100015 closed

[2022-10-17 10:44] vicancy commented on #99773
Internal server error means that in your app server, the server connections failed to connected to the service.

When using custom domain following https://learn.microsoft.com/en-us/azure/azure-signalr/howto-custom-domain?tabs=vault-access-policy%2Cazure-powershell, the Endpoint value of connection string for SignalR service should be automatically updated to the custom domain value. Are you using

[2022-10-17 10:53] YashikaTyagi-MSFT commented on #100008
@Sesa1988
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-17 10:53] #100008 closed

[2022-10-17 11:29] JacobSoderblom commented on #86858
Did anyone come up with at nice solution to this? We are experience the same issue..

Thinking of disable the CDN cache for images and let Next to handle the caching of them instead, not optimal though.

[2022-10-17 11:32] werdnotrom11 opened #100036 "Unsupported module required"
This requires a preview version of a powershell module that is soon to be deprecated be used. This functionality should be ported over to the newest powershell Azure module and the guidance updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7b913b35-30e0-0781-c527-059675f76cdd
* Version Independent ID

[2022-10-17 11:41] chrbsg opened #100037 "curl example does not work"
In the "Base URLs" example:

[code]

- curl fails due to a malformed url  (" " prefix)
- there is no https prefix and curl defaults to http
- The URL doesn't match the section text which says the base URL should be "api.cognitive.microsofttranslator.com" or similar
- The example text suggests this is an example to force regional use of Switzerland, it might be better in the "Authenticating with a

[2022-10-17 11:50] hapklaar commented on #67351
@MicrosoftGuyJFlo Has this been added to any docs? I can't seem to find it and it unclear when to use Company Portal and/or Authenticator for Android.

[2022-10-17 11:56] GitaraniSharma-MSFT commented on #99751
@bsivar , CPE or Customer Premises Equipment is the customer edge or ISP router at the customer premises where the physical ethernet connection is terminated and the ExpressRoute is connected.

Mostly your service provider provides one physical connection and can establish two Ethernet virtual circuits over that physical connection. The physical connection (for example, an optical fiber) is termin

[2022-10-17 11:56] #99751 closed

[2022-10-17 12:13] GitaraniSharma-MSFT commented on #99941
@VerusLee , We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-10-17 12:19] GitaraniSharma-MSFT commented on #99855
@fnf-peter-lacomb , thank you for bringing this to our notice. We've fixed the typo in the doc and it will reflect shortly!

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-10-17 12:19] #99855 closed

[2022-10-17 12:34] o-l-a-v commented on #75615
Relevant Azure Feedback item in the new Azure feedback portal, for reference:

https://feedback.azure.com/d365community/idea/9d165250-0c25-ec11-b6e6-000d3a4f0858

[2022-10-17 13:02] diligent176 commented on #63977
This is WAY more complex and limiting than it should be.
Why on earth can't MS just issue a let's encrypt cert for the root domain?

[2022-10-17 13:04] Koning53 opened #100038 "Why isn't the example preficed with _extension?"
Hello, reading the documentation, I was wondering why in this example the 'city' attribute is not prefixed with _extension. In my case, the referring page states "_When using a custom attribute in custom policies, you must prefix the claim type ID with extension_ to allow the correct data mapping to take place within the Azure AD B2C directory._".

https://learn.microsoft.com/en-us/azure/active-di

[2022-10-17 13:09] hannahwalt commented on #99624
Thank you! I now see the update. I appreciate the team's help here to get these docs updated! Have a great week!

[2022-10-17 13:32] henrymbuguakiarie commented on #90973
#reasssign: @henrymbugakiaire

[2022-10-17 13:49] alexwolfmsft commented on #99963
This has been fixed in the sample repository and will be updated in the docs with an upcoming publish, thank you!

[2022-10-17 13:51] udhaymahajan commented on #98526
Hi @avallen, [Step 2](https://learn.microsoft.com/azure/active-directory/saas-apps/adobe-identity-management-provisioning-tutorial#step-2-configure-adobe-identity-management-to-support-provisioning-with-azure-ad) in the tutorial explains the process of attaining secret token and SCIM Endpoint URL. You need to have an Adobe Admin Account and follow steps 1 to 4.

[2022-10-17 14:00] RamanathanChinnappan-MSFT commented on #99952
@mebristo

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-10-17 14:00] #99952 closed

[2022-10-17 14:03] mbender-ms commented on #99038
@KapilAnanth-MSFT The JSON list is question is maintained by the product team, not the docs team. We do not have any control over the content of the file, which I believe is auto-generated weekly. I've alerted the PM for Service Tags. However, this should be marked as a Product Issue, not a docs issue.

[2022-10-17 14:06] larryclaman commented on #99794
Document was updated.  closing this issue

[2022-10-17 14:08] mebristo commented on #99952
It is directly related to improving your docs. In your examples on this page you pass a dictionary as 'credentials' but in practise that doesn't work. On another section of your docs  [here](https://learn.microsoft.com/en-us/azure/machine-learning/how-to-datastore?tabs=sdk-SAS%2Ccli-adls-identity-based-access%2Ccli-azfiles-account-key%2Ccli-adlsgen1-identity-based-access#create-an-azure-blob-datas

[2022-10-17 14:17] mbender-ms commented on #98546
Thanks for the feedback and suggestion, @Matiszak.

I've created a doc bug on this suggestion, and it will be reviewed during the next freshness cycle of the article.

#Please-close

[2022-10-17 14:17] #98546 closed

[2022-10-17 14:20] GeethaThatipatri-MSFT commented on #99963
Thanks, @alexwolfmsft for fixing it.
@abhay-patil-TOT Thanks for your feedback on improving Microsoft documentation.

[2022-10-17 14:20] #99963 closed

[2022-10-17 14:32] patilpappmodz1 opened #100039 "User Must Change Password at Next Logon doesnt seem to work with PTA (pass though auth)"
Background:

ADC is installed and objects are synced to Azure
ADC is configured for Pass through Auth with few agents installed on prem

If the user attribute is checked / set - "User Must Change Password at Next Logon", we are expecting that a user when he/she logs into any cloud apps using Azure SSO/MFA, he/she will be asked to change their password. It seems like Azure ignores this force change

[2022-10-17 15:02] ezYakaEagle442 commented on #99961
@ManoharLakkoju-MSFT the above command seems to be the correct one, but this issue [99961](https://github.com/MicrosoftDocs/azure-docs/issues/99961) is not resolved as real values should be clearly added in the docs

[2022-10-17 15:17] whhender commented on #100023
@m-brooks - Thanks for the feedback! I will resolve this today.

[2022-10-17 15:20] YashikaTyagi-MSFT commented on #100022
@Aileron79
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:23] vimrang commented on #97983
No, it is not available in China

[2022-10-17 15:23] YashikaTyagi-MSFT commented on #100024
@spiroskon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:25] YashikaTyagi-MSFT commented on #100023
@m-brooks
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-17 15:26] YashikaTyagi-MSFT commented on #100026
@remuant
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:27] vimrang commented on #98001
The UX was enabled in preparation for public preview but unfortunately, we had to stall public preview due to blocking bugs. We have disabled the UX and it will be hidden once deployment is complete. We will enable the UX and docs as soon as the bugs are fixed.

[2022-10-17 15:28] MicrosoftGuyJFlo commented on #99848
Email out to PG contacts.

[2022-10-17 15:29] YashikaTyagi-MSFT commented on #100028
@JackyChiou
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-17 15:30] YashikaTyagi-MSFT commented on #100029
@AL0505743
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:31] YashikaTyagi-MSFT commented on #100030
@hmenchaca
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:36] YashikaTyagi-MSFT commented on #100033
@bartvermeersch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:37] OWinfreyATL commented on #99588
#please-close

[2022-10-17 15:37] #99588 closed

[2022-10-17 15:37] #99796 closed

[2022-10-17 15:38] YashikaTyagi-MSFT commented on #100036
@werdnotrom11
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:39] YashikaTyagi-MSFT commented on #100037
@chrbsg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:40] charris-msft commented on #95280
This is a great idea and if effective and reliable will save quite a bit of effort - especially for apps that are running in VNETs, which can be hard to connect to.

I recently had a conversation about migrations with some of the other Python folks.
In this [sample repo](https://github.com/Azure-Samples/msdocs-flask-postgresql-sample-app/blob/main/app.py) you can see a call to `db.create_all()`: h

[2022-10-17 15:41] YashikaTyagi-MSFT commented on #100038
@Koning53
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 15:43] OWinfreyATL commented on #99597
Updated to match correct guidance.

#please-close

[2022-10-17 15:43] #99597 closed

[2022-10-17 15:43] YashikaTyagi-MSFT commented on #100039
@patilpappmodz1
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-17 15:46] #99980 closed

[2022-10-17 15:47] khdownie commented on #99917
@erishiamu we recommend that you set it to 100TiB since you pay for what you use (not the provisioned size). However, any size beyond 5TiB will do.

[2022-10-17 15:52] patilpappmodz1 commented on #100039
Few links to set some context:

We first set this attribute on our internal on prem AD server:

AD Users and Computers, Pick a users properties, Accounts Tab, Account Options at the bottom, Check the setting "User must change password at next logon"

When the user now logs in to any cloud apps, the azure login page allows them to login without asking them to change their password.

This link shows

[2022-10-17 16:00] jimbob21787 commented on #99969
@jonwbstr was it definitely a standard SKU public IP you successfully moved with the VPN gateway? what VPN SKU did you move?

I have checked using the Azure portal to move a VPN gateway SKU of "VpnGW2" which uses the standard Public IP and  I get the following error "Move for resource type publicIPAddresses is not supported"

as you mention docs say to disassociate public IP before move but you ca

[2022-10-17 16:00] zaalion opened #100041 "Custom role assignments can not be seen in Azure portal"
[Enter feedback here]
Hello,

Custom cosmos db role assignments can not be seen in the Azure portal. Is this a known bug? could you please update the documentation so this is reflected?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e847c3a3-4458-f0cc-0791-b507d5420dd6
* Version Independent ID: 40cd82d2-7729-9

[2022-10-17 16:02] arvind5 opened #100042 "Link to sample Linux application is broken"
The Github link for cloning the sample Linux application is broken. It is pointing to "https://github.com/Azure/confidential-computing-cvm-guest-attestation/tree/main/cvm-guest-attestation-linux-app" which does not exist. Probably need to replace it with "https://github.com/Azure/confidential-computing-cvm-guest-attestation/tree/main/cvm-attestation-sample-app".

---
#### Document Details

⚠ *Do n

[2022-10-17 16:11] SatishBoddu-MSFT commented on #100005
Hello @assaf-grth We wanted to know more about your resource requirements in West Europe/

Are you planning to use West Europe for majority of your other resource types as well?
Is this ask more specific for only 1 resource such as Azure IoThub?

[2022-10-17 16:13] xtianus79 opened #100043 "You should update the docs to talk about PM2 for this page. There are evolutions that aren't any longer discussed in this documentation because you're driving everything to SWA"
The PM2 point to wwwroot is a very import part to this documentation now.

[2022-10-17 16:25] raphaeldeletoille opened #100044 "Script do not work without ipsec & openssl command"
Script do not work without ipsec & openssl command. Would it be possible to add in prerequisites all of the packets/module to install ?

I can not find how to install ipsec command to make the script works.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9de8dc74-3f27-6878-cfc6-52a01aab608e
* Version Independen

[2022-10-17 16:32] drdamour opened #100046 "specified roles don't seem sufficient"
we setup basiton in one subscription and the vm in another and peered the vnets between the two.  We setup the roles as required:

- Reader role on the virtual machine.
- Reader role on the NIC with private IP of the virtual machine.
- Reader role on the Azure Bastion resource.

but were met with the `uanble to query bastion data` error

![image](https://user-images.githubusercontent.com/1514496/1

[2022-10-17 16:43] iriaosara commented on #99752
@shaktisingh-msft Please can you help close this issue. Update in and it has been merged. Thank you

[2022-10-17 16:45] adi-garg opened #100048 "Clarification on Block/Page/Append Blobs and Redundancy options"
Hello Microsoft,
1.Referencing section [here](https://learn.microsoft.com/en-us/azure/storage/common/storage-redundancy#supported-azure-storage-services) ,are there any exceptions under **Blob** with regard to type- **Block/Page/Append** or the table means to say all blob types are supported under respective replication type headers?

**Append** Blobs(under **GPV2 Storage Account**) can have any o

[2022-10-17 16:46] drdamour commented on #83764
weird i never saw an announcement about this anywhere, this is a big deal and win for customers

[2022-10-17 16:47] andrePKI commented on #99760
We have English installation media and added a Dutch language pack for our  base images. We found that because of this the messages of azcmagent are in Dutch, as that is the (only, hence default) language for apps. This was unexpected for us as Windows and Windows features still are in English. We suspect it also be determined at installation time of the agent. Removing the language pack has no ef

[2022-10-17 16:48] adi-garg opened #100049 "Need section for VM disks redundancy"
Hello Microsoft,
1.Just like article [here ](https://learn.microsoft.com/en-us/azure/virtual-machines/disks-redundancy)for **MANAGED** disks which discusses redundancy options, it would be beneficial to have a clear section for **UNMANAGED** disks _redundancy_ options.

2. a-Would the below understanding be correct?
b-Need help understanding GRS support for page blobs **which are used as VM disks*

[2022-10-17 16:58] tabularasa138 commented on #35343
Still not helpful.  Is this getting added?

[2022-10-17 17:10] Oury-MSFT commented on #100041
@zaalion Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-10-17 17:11] aahill commented on #98719
Thanks for reaching out,

This likely means that you've configured Bing spell check as part of your API calls, which is the only way that the altered query parameter shows up. It’s an effect of the spell check API parameter.

See the following documentation for more information:
https://learn.microsoft.com/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck

#please-close

[2022-10-17 17:11] #98719 closed

[2022-10-17 17:11] tarynpratt commented on #100016
Hi @jshealth, thanks for the feedback. I have processed a change based on your recommendation and it should be live later this week. I'll go ahead and close out this Git issue, but please feel free to comment should you need anything further. Thanks again.

#please-close

[2022-10-17 17:12] Oury-MSFT commented on #100044
@raphaeldeletoille Thank you for providing your feedback. We are reviewing this and will get back shorty.

[2022-10-17 17:18] spelluru commented on #99379
@assaf-grth - yes. it's a problem with the Azure portal. The product team is aware of it. Basic tier does not support AZ. Thanks.

[2022-10-17 17:22] khdownie commented on #99938
@vpraveenreddy @SaibabaBalapur-MSFT You're seeing a slightly different UI because you're trying to create a file share on a standard storage account (StorageV2). Currently, NFS 4.1 shares are only available as premium file shares (which require a FileStorage account kind). See the beginning of this tutorial for instructions on creating a FileStorage storage account, and then try creating a share o

[2022-10-17 17:35] sftn-cferreira opened #100050 "Public Published Article has invalid GUID for Flexible Server AAD Auth Service Principal"
AD Service Principal GUID invalid - found in GitHub - missing the '9' on the end.

5657e26c-cc92-45d9-bc47-9da6cfdb4ed should be 5657e26c-cc92-45d9-bc47-9da6cfdb4ed9

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 791277a5-0623-57d1-3f3a-1424acc9cb6f
* Version Independent ID: 682f3fa1-7c23-ca12-e79e-7cde1ee7dad2
* Cont

[2022-10-17 17:46] aahill commented on #98797
@Arithmomaniac thanks for reaching out with this issue, I'll have the documentation updated soon.

@ hiteshpara, I'd recommend creating an issue in the Python SDK repo, they may be able to provide more guidance.

https://github.com/Azure/azure-sdk-for-python

In terms of offset, the value depends on the value of the [string_index_type](https://learn.microsoft.com/Python/api/azure-ai-textanalytics/

[2022-10-17 17:47] #98797 closed

[2022-10-17 17:48] laujan commented on #98835
Hi @GabrielPerezCaballero, Thank you for your feedback. The Python code has been updated to resolve the indentation error. Thanks again!

[2022-10-17 17:52] aahill commented on #99686
#reassign:jboback

[2022-10-17 17:52] arkadiuszbach commented on #89255
I had the same problem for my admin user, connection was hanging to pgbouncer database and for pgbouncer user it was saying "Not allowed"

I copied pgbouncer.stats_users parameter name from this url: https://learn.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-pgbouncer#enabling-and-configuring-pgbouncer

And pasted that into terraform, unfortunately in this documentation pgbouncer

[2022-10-17 17:58] msjasteppe commented on #99262
@MustAl-Du @GeethaThatipatri-MSFT Seth is no longer on the team. I have reviewed your comments and incorporated them into the article. Please close out this thread as it is showing up on a report - https://github.com/MicrosoftDocs/azure-docs-pr/pull/214744

[2022-10-17 18:06] ecfan commented on #99676
@fdesignworks: Looks like this issue is fixed now. :)

[2022-10-17 18:18] ghost opened #100051 "NextJS Compression & Azure Web Sites"
I'm unsure if this is the _appropriate_ page for this, but given NextJS runs on Node.JS...

Azure Web Sites perform gzip compression. NextJS also performs gzip compression on compilation. This causes a double gzip compression which may throw `net::ERR_HTTP2_PROTOCOL_ERROR 206` messages in the console when attempting to load the NextJS resources. This can lead to excessive (>75 second) page load ti

[2022-10-17 18:20] GeethaThatipatri-MSFT commented on #100050
@sftn-cferreira Thank you for reaching out.We will look into it and update as appropriate.

[2022-10-17 18:20] cynthn commented on #30630
#please-close Closing as this is >3 years old and is between MSFT employees.

[2022-10-17 18:20] #30630 closed

[2022-10-17 18:29] cynthn commented on #82571
#reassign:@iamwilliew Can you follow-up with the sizes team about this?

[2022-10-17 18:43] MicrosoftGuyJFlo commented on #99848
#label:"awaiting-product-team-response"

[2022-10-17 18:49] #99735 closed

[2022-10-17 19:44] udhaymahajan commented on #98526
![image](https://user-images.githubusercontent.com/91688755/196268142-252e1661-63ba-4a3d-967e-24621dfabf8d.png)
#please-close

[2022-10-17 19:44] #98526 closed

[2022-10-17 19:45] hmenchaca commented on #100030
@YashikaTyagi-MSFT  thanks!

[2022-10-17 19:47] erishiamu commented on #99917
Fabulous thank you for clarifying and advising on the upcoming change @khdownie.

[2022-10-17 19:47] #99917 closed

[2022-10-17 20:18] MGoedtel commented on #99996
@tshaiman and @AjayBathini-MSFT - Your feedback is appreciated and I understand your point of view. I'll create a work item to make it clearer in this article related to migration options.

[2022-10-17 20:23] meepstei opened #100055 "custom domain limitation for branch environments"
[Enter feedback here]
Could we also note that custom domains for branch environments are not supported at this time. There is also feedback requesting this feature to be added here https://feedback.azure.com/d365community/idea/e255188c-7918-ed11-a81b-6045bd853198

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7f52c3b4

[2022-10-17 20:42] udhaymahajan commented on #86781
https://github.com/MicrosoftDocs/azure-docs-pr/pull/214775
Added Harness NextGen requirements.
#please-close

[2022-10-17 20:42] #86781 closed

[2022-10-17 21:10] ChaitanyaNaykodi-MSFT commented on #100046
Hello @drdamour, Thank you for your feedback.

Yes, Reader role on the virtual network is required if the VM is present in the peered VNET. This is currently [documented here](https://learn.microsoft.com/en-us/azure/bastion/vnet-peering#permissions).

![image](https://user-images.githubusercontent.com/67453298/196283323-506efa1c-2aca-425a-97c0-a9a1ba490964.png)

As per [the prerequisites](https://

[2022-10-17 21:10] #100046 closed

[2022-10-17 21:18] udhaymahajan commented on #72293
@kathodion do you have suggested changes you want in place of Step 2 in the tutorial doc?

[2022-10-17 21:24] anandmeg commented on #100010
@cveld, thanks for your feedback.
We've updated the doc to add prerequisites to creating an environment.

#please-close

[2022-10-17 21:24] #100010 closed

[2022-10-17 21:25] anandmeg commented on #100004
#assign:@rosehjm

[2022-10-17 21:26] himachida opened #100056 "Source of healthcheck"
If possible, would you clarify where healthcheck requests comes from, e.g. from the worker itself?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 20c42a13-f6cb-1e60-0438-f7f32b86a336
* Version Independent ID: 79e7dd15-24aa-2e6d-cee7-7714e1940c11
* Content: [Monitor the health of App Service instances - Azure App Servi

[2022-10-17 21:29] JV-conseil opened #100057 "Set public access for a storage account is not working neither through Azure portal nor through Azure CLI 🙅‍♂️"
Attempting to [allow or disallow public read access for a storage account](https://learn.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-configure?tabs=portal#allow-or-disallow-public-read-access-for-a-storage-account) is not working neither through Azure portal nor through Azure CLI.

The value of `allowBlobPublicAccess` remains to `false`, even after waiting for 30 seconds for the

[2022-10-17 21:31] jspaans91 commented on #96866
@MonikaReddy-MSFT can you please reopen this issue, because the docs are not updated yet?

Thanks!

[2022-10-17 21:37] udhaymahajan commented on #72098
[Updated Snowflake SCIM Configuration. by udhaymahajan · Pull Request #214507 · MicrosoftDocs/azure-docs-pr (github.com)](https://github.com/MicrosoftDocs/azure-docs-pr/pull/214507) Snowflake SCIM Config updated.
#please-close

[2022-10-17 21:37] #72098 closed

[2022-10-17 21:58] khdownie commented on #99500
@jbostoen I looked into this and you can access Azure Files using a domain identity even if the machine you are accessing from is not domain joined. Azure Files supports authentication from non-domain joined devices if the client has line-of-sight to the domain controller and the user types in their AD domain credentials. Note that for non-domain-joined machines wishing to access Azure Files w/Azu

[2022-10-17 22:00] msjasteppe commented on #99262
#please-close

[2022-10-17 22:00] #99262 closed

[2022-10-17 22:16] khdownie commented on #99938
#please-close

[2022-10-17 22:16] #99938 closed

[2022-10-17 22:21] petertuton commented on #98817
@veyalla Azure VM: Standard DS1 v2 (1 vcpu, 3.5 GiB memory)

[2022-10-17 22:27] petertuton commented on #98817
I see the documentation references `/etc/aziot/config.toml.edge.template` - I see this file exists. Feel free to close this issue.

[2022-10-17 22:29] darkoa-msft opened #100059 "Misleading: Storage Blob Data Reader is not sufficient for blob reads."
I read this 3 times and (circularly linked documents) and all documentation claims that you need Reader (control plane role) in order to access blob data with Storage Blob Data Reader (data plane role) in Azure Portal. I kind of understand that requirement.

The documentation says nothing about additional role requirements in order to access data outside of Portal, so I assumed that Storage Blob D

[2022-10-17 22:30] bandersmsft commented on #99551
#please-close

[2022-10-17 22:36] SnehaGunda commented on #92373
@luticm thanks for the feedback. I updated the doc to enlarge the image upon clicking. Changes will be live tomorrow.

#please-close

[2022-10-17 22:37] #92373 closed

[2022-10-17 22:39] khdownie commented on #99784
@rpalves it looks like this is the article that you feel is missing important information:
https://learn.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints

Can you confirm? And can you be more specific about what you'd like to see included in that article, and where? Would it be sufficient to link to one or both of the other articles you cite for the DNS changes?

[2022-10-17 23:12] khdownie commented on #72859
We already have a link in this article to another article that describes creating the private endpoint and getting its IP address:

To learn more about how to create a private endpoint, see [Configuring Azure Files network endpoints](https://learn.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints?tabs=azure-cli).

#please-close

[2022-10-17 23:12] #72859 closed

[2022-10-17 23:15] cherylmc commented on #98608
Hi @Matiszak - I've met with the product team regarding this. I'll be updating the documentation this week. Thanks for noticing that it wasn't included in the documentation. #please-close

[2022-10-17 23:15] #98608 closed

[2022-10-17 23:29] anandmeg commented on #99962
#assign: @RoseHJM

[2022-10-17 23:43] cherylmc commented on #95777
Are you asking for this to be duplicated for VWAN? If so, here's a link to the article for VWAN. https://learn.microsoft.com/azure/virtual-wan/vpn-profile-intune   I'm going to go ahead and close this, but if there are some outstanding questions or something I missed, please feel free to comment.  #please-close

[2022-10-17 23:43] #95777 closed

[2022-10-17 23:50] cherylmc commented on #96215
The screenshot looks correct from en-us. If you're viewing from another location, localization can take a little while to catch up.  #please-close

[2022-10-17 23:50] #96215 closed

[2022-10-17 23:52] cherylmc commented on #92316
Hi - I have updated the article. If you still see issues, let me know!  #please-close

[2022-10-17 23:52] #92316 closed

[2022-10-17 23:57] ChaitanyaNaykodi-MSFT commented on #99779
Hello @adi-garg, thank you for sharing your feedback.

It will be helpful if you can upvote [this similar feature request](https://feedback.azure.com/d365community/idea/582fecb8-f625-ec11-b6e6-000d3a4f06a4) on our feedback portal.

Regarding adding a note in the documentation, the required information is already documented in the [Next Steps Section of this document](https://learn.microsoft.com/en

[2022-10-17 23:57] #99779 closed

[2022-10-18 01:39] AdamGuan13 opened #100060 "confuse about Isolated and I1v2"
![image](https://user-images.githubusercontent.com/113486445/196312911-f37cf078-785d-40ba-8f85-92a2f4ed8e5e.png)

Does **Isolated** in the above picture refer to creating new app service environment v1?

![image](https://user-images.githubusercontent.com/113486445/196314965-480e1c93-f9df-414b-87b4-b3ef8e7efd94.png)

If so, does IsolatedV2 refer to creating new app service environment v2？
What does

[2022-10-18 02:14] nssidhu opened #100062 "Can azure Private DNS Resolver be used with Managed Private End Point ?"
Can azure DNS Resolver be used with Managed Private End Point.
Like i want to read data from on premise SQL from Synapse where private managed end points are enabled for synapse.
I don't want to use Self Hosted Integration Runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b312425f-a486-6c4b-9608-cca8ccd30937
* Ve

[2022-10-18 02:45] tksh164 opened #100064 "Question: Data Box Disk supported operating systems for clients"
Are Windows Server 2019 and Windows Server 2022 not tested by Microsoft?

![image](https://user-images.githubusercontent.com/1618784/196323671-38f31776-786e-4903-893c-4a3e1ed3332a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: de2798ae-fce2-db97-e60f-e4eb0ead61dc
* Version Independent ID: 0eec4306-94fb-ec5a-32fd-

[2022-10-18 02:53] sridharanprasanna opened #100065 "Application Experience pushing the telemetry for classic to workspace migration"
Could there be a note mentioning what happens to the instrumentationKey from the old application insights? My assumption is that keys are carried over into the newly created workspace based resource after migration; which in turn means that applications need not change instrumentation key and there is no downtime from the migration for applications.

Could you please confirm if above assumptions a

[2022-10-18 03:05] micli opened #100066 "An inappropriate way to import axios module will cause an error."
At the sample code line 1, the way of import axios will cause an error as below:

It should be:
[code]
for current version of axios 1.1.3
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39fa12ff-87c9-ecc0-929b-055b1b7e1a86
* Version Independent ID: 1351b31b-04b6-2e8b-8f03-adb7aa74f6ad
* Content: [Quickstart: Azure Cogni

[2022-10-18 03:14] YashikaTyagi-MSFT commented on #100039
@patilpappmodz1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:26] shaktisingh-msft commented on #99812
Closing this thread. Please raise another request with details about the document. Thanks

[2022-10-18 03:26] #99812 closed

[2022-10-18 03:27] YashikaTyagi-MSFT commented on #100042
@arvind5
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:28] YashikaTyagi-MSFT commented on #100043
@xtianus79
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-18 03:29] YashikaTyagi-MSFT commented on #100048
@adi-garg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:29] YashikaTyagi-MSFT commented on #100049
@adi-garg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:32] YashikaTyagi-MSFT commented on #100051
@tseward
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:35] YashikaTyagi-MSFT commented on #100055
@meepstei
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:38] BryanTrach-MSFT commented on #100060
@AdamGuan13 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-18 03:46] YashikaTyagi-MSFT commented on #100056
@himachida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:54] YashikaTyagi-MSFT commented on #100057
@JV-conseil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:55] YashikaTyagi-MSFT commented on #100059
@darkoa-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 03:57] YashikaTyagi-MSFT commented on #100062
@nssidhu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 04:00] YashikaTyagi-MSFT commented on #100064
@tksh164
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 04:03] YashikaTyagi-MSFT commented on #100065
@sridharanprasanna
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 04:05] YashikaTyagi-MSFT commented on #100066
@micli
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-18 04:40] pmia opened #100067 "More than 12 years old document"
The SDL documents are more than 12 years old and rerefer to Visual Studio 2008. Something seems wrong.[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a04b555-7473-5d27-b7ed-8fd3e35dabae
* Version Independent ID: 8e3c48f6-95d3-4522-32e2-446beeb6c206
* Content: [Azure Operational Security](https://

[2022-10-18 04:43] pmia opened #100068 "Azure Monitor is listed twice in the bullet points"
Azure Monitor is listed twice in the bullet points
[Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/)

[Microsoft Defender for Cloud](https://learn.microsoft.com/en-us/azure/security-center/security-center-introduction)

[Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/overview)

[Azure Network watcher](https://learn.microsoft.com/en-us/azure/network-watch

[2022-10-18 05:29] yanxiu08 opened #100070 "Need to update the docs"
[Enter feedback here]

Not only VPN Gateway, but also ER gateway need dedicated subnet.
Need to change VPN Gateway to virtual network gateway or add ER gateway in the table of [Services that can be deployed into a virtual network].

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* V

[2022-10-18 05:30] v-pgaddala commented on #38464
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 05:31] v-pgaddala commented on #38464
#please-close

[2022-10-18 05:31] #38464 closed

[2022-10-18 05:32] v-pgaddala commented on #46389
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 05:32] v-pgaddala commented on #46389
#please-close

[2022-10-18 05:32] #46389 closed

[2022-10-18 05:33] v-pgaddala commented on #51631
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 05:33] v-pgaddala commented on #51631
#please-close

[2022-10-18 05:34] #51631 closed

[2022-10-18 05:40] GitaraniSharma-MSFT commented on #100070
@yanxiu08 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-18 05:42] v-pgaddala commented on #51630
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 05:43] v-pgaddala commented on #51630
#please-close

[2022-10-18 05:43] #51630 closed

[2022-10-18 05:43] Venkateshdodda-MSFT commented on #100056
@himachida Once you specify a path on your site, App Service worker will ping it at regular intervals. If the path responds with an error HTTP status code or does not respond, then the instance is determined to be unhealthy, and it is removed from the load balancer rotation. This prevents the load balancer from routing requests to the unhealthy instances.

You can refer to this documentation for m

[2022-10-18 05:44] ManoharLakkoju-MSFT commented on #99961
@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2022-10-18 05:54] YashikaTyagi-MSFT commented on #100029
@AL0505743
Could you provide more info about the required document update?

[2022-10-18 06:02] v-pgaddala commented on #69700
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:02] v-pgaddala commented on #69700
#please-close

[2022-10-18 06:03] #69700 closed

[2022-10-18 06:03] v-pgaddala commented on #65548
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #65502
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #65184
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #64385
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #63465
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #58969
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #56207
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #53019
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #52686
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:03] v-pgaddala commented on #52686
#please-close

[2022-10-18 06:04] #52686 closed

[2022-10-18 06:04] v-pgaddala commented on #53019
#please-close

[2022-10-18 06:04] #53019 closed

[2022-10-18 06:04] v-pgaddala commented on #56207
#please-close

[2022-10-18 06:04] #56207 closed

[2022-10-18 06:05] v-pgaddala commented on #58969
#please-close

[2022-10-18 06:05] #58969 closed

[2022-10-18 06:05] v-pgaddala commented on #63465
#please-close

[2022-10-18 06:05] #63465 closed

[2022-10-18 06:05] v-pgaddala commented on #64385
#please-close

[2022-10-18 06:05] v-pgaddala commented on #65184
#please-close

[2022-10-18 06:05] #65184 closed

[2022-10-18 06:06] v-pgaddala commented on #65502
#please-close

[2022-10-18 06:06] #65502 closed

[2022-10-18 06:06] v-ksreedevan commented on #50822
As advised by my manager @jyothisuri, closing the issues that are older than a year.

[2022-10-18 06:06] v-pgaddala commented on #65548
#please-close

[2022-10-18 06:06] #65548 closed

[2022-10-18 06:07] v-pgaddala commented on #70141
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:07] v-pgaddala commented on #70141
#please-close

[2022-10-18 06:08] #70141 closed

[2022-10-18 06:09] v-pgaddala commented on #70344
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:09] v-pgaddala commented on #73328
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:09] v-pgaddala commented on #78424
As advised by my manager @jyothisuri  closing the issues that are older than a year.

[2022-10-18 06:10] v-pgaddala commented on #78150
As advised by my manager @jyothisuri  closing the issues that are older than a year.

[2022-10-18 06:10] v-pgaddala commented on #78299
As advised by my manager @jyothisuri  closing the issues that are older than a year.

[2022-10-18 06:10] v-pgaddala commented on #77774
As advised by my manager @jyothisuri  closing the issues that are older than a year.

[2022-10-18 06:11] v-pgaddala commented on #75613
As advised by my manager @jyothisuri  closing the issues that are older than a year.

[2022-10-18 06:11] v-pgaddala commented on #74522
As advised by my manager @jyothisuri  closing the issues that are older than a year.

[2022-10-18 06:11] v-pgaddala commented on #74522
#please-close

[2022-10-18 06:11] #74522 closed

[2022-10-18 06:11] v-pgaddala commented on #75613
#please-close

[2022-10-18 06:11] #75613 closed

[2022-10-18 06:11] v-pgaddala commented on #77774
#please-close

[2022-10-18 06:11] #77774 closed

[2022-10-18 06:12] v-pgaddala commented on #78299
#please-close

[2022-10-18 06:12] #78299 closed

[2022-10-18 06:12] v-pgaddala commented on #78150
#please-close

[2022-10-18 06:12] #78150 closed

[2022-10-18 06:12] v-pgaddala commented on #78424
#please-close

[2022-10-18 06:12] #78424 closed

[2022-10-18 06:12] #73328 closed

[2022-10-18 06:12] v-pgaddala commented on #70344
#please-close

[2022-10-18 06:12] #70344 closed

[2022-10-18 06:15] v-pgaddala commented on #79046
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:15] v-pgaddala commented on #79813
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:15] v-pgaddala commented on #80344
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:15] v-pgaddala commented on #80365
As advised by my manager @jyothisuri closing the issues that are older than a year.

[2022-10-18 06:15] v-pgaddala commented on #80365
#please-close

[2022-10-18 06:15] #80365 closed

[2022-10-18 06:15] v-pgaddala commented on #80344
#please-close

[2022-10-18 06:15] #80344 closed

[2022-10-18 06:15] v-pgaddala commented on #79813
#please-close

[2022-10-18 06:15] #79813 closed

[2022-10-18 06:15] v-pgaddala commented on #79046
#please-close

[2022-10-18 06:15] #79046 closed

[2022-10-18 06:17] ManoharLakkoju-MSFT commented on #100033
HI @bartvermeersch
It could be due to the fact the user partially went through registration and abandoned, or the user has public authentication method info registered as well (for example, on their profile, they or admin have set alt phone number or email) and the SSPR policy allows these methods.

Also make sure you have set up SSPR registration requirements, not just add the user to a security

[2022-10-18 06:21] ManoharLakkoju-MSFT commented on #100039
@patilpappmodz1
For you information Please refer the below in documented link

https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start

[2022-10-18 06:32] SaibabaBalapur-MSFT commented on #99911
@pitbull43026
We are going to close this thread, but if there are any further questions regarding the documentation we will reopen this case, and please tag me in your reply and we will be happy to continue the conversation.

[2022-10-18 06:32] #99911 closed

[2022-10-18 06:34] AjayBathini-MSFT commented on #100024
@spiroskon
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-18 06:35] AjayBathini-MSFT commented on #100024
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-18 06:38] kathodion commented on #72293
Hi @udhaymahajan, as mentioned in the beginning some information are not
present anymore at the reference google page and the api steps seems not
necessary anymore.

On Mon, Oct 17, 2022 at 11:18 PM udhaymahajan ***@***.***>
wrote:

[2022-10-18 06:39] RamanathanChinnappan-MSFT commented on #99932
@juluczni

could you please review this and update as appropriate.

![image](https://user-images.githubusercontent.com/110973511/196354205-8a9ae359-079d-420b-83b6-63aba8dd9e33.png)

[2022-10-18 06:40] RamanathanChinnappan-MSFT commented on #99932
@craigbeeremct

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-18 06:42] JeeWeetje opened #100071 "Link is show as text instead of a clickable hyperlink"
In the paragraph https://github.com/MicrosoftDocs/security-benchmark-docs-pr/blob/live/benchmark/azure/baselines/azure-data-explorer-security-baseline.md There is a link for more information:

Which shows as:

While it should have been:

There is a space between the ```[]``` and ```()```.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-18 06:46] v-ksreedevan commented on #50822
#please-close

[2022-10-18 06:46] #50822 closed

[2022-10-18 06:46] v-ksreedevan commented on #69796
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 06:46] #69796 closed

[2022-10-18 06:47] v-ksreedevan commented on #70209
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 06:47] #70209 closed

[2022-10-18 06:47] v-ksreedevan commented on #70502
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 06:47] #70502 closed

[2022-10-18 06:49] v-ksreedevan commented on #71548
This has been fixed at https://learn.microsoft.com/en-gb/azure/migrate/tutorial-app-containerization-aspnet-kubernetes#download-and-install-azure-migrate-app-containerization-tool. Hence, closing the issue.

#please-close

[2022-10-18 06:49] #71548 closed

[2022-10-18 06:51] SnehaAgrawal-MSFT commented on #99745
@carmines Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-10-18 06:51] #99745 closed

[2022-10-18 06:52] v-ksreedevan commented on #72248
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 06:52] #72248 closed

[2022-10-18 06:56] v-ksreedevan commented on #73139
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 06:56] #73139 closed

[2022-10-18 06:56] SnehaAgrawal-MSFT commented on #99748
@neeranelli Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-10-18 06:57] SaibabaBalapur-MSFT commented on #100042
@arvind5
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-18 06:59] RamanathanChinnappan-MSFT commented on #99944
@kevchant

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-18 06:59] #99944 closed

[2022-10-18 06:59] v-ksreedevan commented on #73713
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 06:59] #73713 closed

[2022-10-18 06:59] SaibabaBalapur-MSFT commented on #100042
@prasadmsft
Can you please check and add your comments on this doc update request as applicable.
Please could you update broken link below .
https://github.com/Azure/confidential-computing-cvm-guest-attestation/tree/main/cvm-guest-attestation-linux-app

<img width="814" alt="image" src="https://user-images.githubusercontent.com/111563669/196358219-49247dc5-54d8-4091-95e4-4e0739cacb1e.png">

[2022-10-18 07:00] v-ksreedevan commented on #73896
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:00] #73896 closed

[2022-10-18 07:01] v-ksreedevan commented on #75047
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:01] #75047 closed

[2022-10-18 07:02] v-ksreedevan commented on #81124
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:02] #81124 closed

[2022-10-18 07:03] v-ksreedevan commented on #79471
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:03] #79471 closed

[2022-10-18 07:05] v-ksreedevan commented on #79324
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:05] #79324 closed

[2022-10-18 07:13] v-ksreedevan commented on #79067
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:13] #79067 closed

[2022-10-18 07:15] #75905 closed

[2022-10-18 07:17] SaibabaBalapur-MSFT commented on #100049
@adi-garg
Please go through reference doc link for UNMANAGED disks redundancy options.

https://azure.microsoft.com/en-us/updates/azure-unmanaged-disks-will-be-retired-on-30-september-2025/

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-18 07:19] cnpaccer opened #100073 "Question: Does KMS feature of KeyVault work with AKS in Azure Stack Hub"
Can we add information about Azure Stack Hub?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f29e6da4-fd14-a166-e21e-6b87a0f491b8
* Version Independent ID: b5ec3a1e-88c2-8dcb-05f7-226a633718a1
* Content: [Use Key Management Service (KMS) etcd encryption in Azure Kubernetes Service (AKS) - Azure Kubernetes Ser

[2022-10-18 07:23] v-ksreedevan commented on #75906
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:23] #75906 closed

[2022-10-18 07:23] SaibabaBalapur-MSFT commented on #100059
@darkoa-msft
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-18 07:24] SaibabaBalapur-MSFT commented on #100059
@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-10-18 07:25] #75909 closed

[2022-10-18 07:25] v-ksreedevan commented on #75910
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:25] #75910 closed

[2022-10-18 07:26] v-ksreedevan commented on #75919
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:26] #75919 closed

[2022-10-18 07:27] v-ksreedevan commented on #78818
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:27] #78818 closed

[2022-10-18 07:27] RamanathanChinnappan-MSFT commented on #99991
@justinmchase

Please see the below link for your reference. It's explained about Azure cognitive search details

https://learn.microsoft.com/en-us/azure/cloud-adoption-framework/innovate/best-practices/cognitive-search

[2022-10-18 07:28] jikuja commented on #97973
https://learn.microsoft.com/en-us/security/benchmark/azure/security-control-secure-configuration

section: `7.11: Manage Azure secrets securely` is also related with this topic:
* Microsoft(=Databricks internally) checks that the user/identity creating a secret scope has access to modify target key vault access policy list.
* Now responsibility is marked only for customer even tenant-wide enterpri

[2022-10-18 07:34] v-ksreedevan commented on #76307
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:34] #76307 closed

[2022-10-18 07:35] #76305 closed

[2022-10-18 07:35] v-ksreedevan commented on #75921
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:35] #75921 closed

[2022-10-18 07:36] v-ksreedevan commented on #75920
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:36] #75920 closed

[2022-10-18 07:42] Arno-Pretorius opened #100074 "On what criteria does auto scaling of the pods occure?"
It explains why it would auto scale and how to implement it, but not what criteria the auto scale would execute. Yes, it can be metric based, but is it for the combination of resource between all the pods or for 1 singular pod. E.g I have Auto scale in place 3 pods minimum and it can scale out to 5 pods if the CPU runs at 90% for 5 mins or the Memory runs at 80% for 5 mins.  in the following scena

[2022-10-18 07:45] BzSpi commented on #86011
Hi @ggailey777 @SamaraSoucy-MSFT still no news ?

[2022-10-18 07:46] v-ksreedevan commented on #25229
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:46] #25229 closed

[2022-10-18 07:47] v-ksreedevan commented on #40414
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:47] #40414 closed

[2022-10-18 07:47] v-ksreedevan commented on #43740
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:47] #43740 closed

[2022-10-18 07:48] v-ksreedevan commented on #45553
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:48] #45553 closed

[2022-10-18 07:49] v-ksreedevan commented on #48805
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:49] #48805 closed

[2022-10-18 07:49] v-ksreedevan commented on #49776
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:49] #49776 closed

[2022-10-18 07:51] v-ksreedevan commented on #49958
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:51] #49958 closed

[2022-10-18 07:51] v-ksreedevan commented on #55811
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:51] #55811 closed

[2022-10-18 07:53] v-ksreedevan commented on #56192
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:53] #56192 closed

[2022-10-18 07:53] #58620 closed

[2022-10-18 07:58] v-ksreedevan commented on #61355
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:58] #61355 closed

[2022-10-18 07:59] v-ksreedevan commented on #66052
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 07:59] #66052 closed

[2022-10-18 08:02] v-ksreedevan commented on #69518
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:02] #69518 closed

[2022-10-18 08:04] mazharmuneerzn commented on #27368
Can I have two adfs servers for two UPN(user1@abc.com and user2@xyz.com) ,two ad connect , with two mx records in internal and external domain, and different two Pubic IP address.  please can you send me any Microsoft documentation to configure.

[2022-10-18 08:07] AdamGuan13 opened #100075 "miss the link"
Lost the link here (https://learn.microsoft.com/en-us/azure/machine-learning/migrate-to-v2-assets-data#mapping-of-key-functionality-in-sdk-v1-and-sdk-v2)? I think this should be markdown syntax.
![image](https://user-images.githubusercontent.com/113486445/196372317-f75cbd67-aaca-4ace-94ec-7b65ffc8194f.png)
Please help confirm. Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section.

[2022-10-18 08:10] v-ksreedevan commented on #71452
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:10] #71452 closed

[2022-10-18 08:13] tajwan69 commented on #99773
Hi @vicancy, thanks for reply.
I created custom domain using this tutorial step by step and at the end I verified it by GET request to "custom domain url/api /health" and I get 200 status response code.

But you wrote that "the Endpoint value of connection string for SignalR service should be automatically updated to the custom domain value". When I see on the my SignalR Azure Portal site, my host

[2022-10-18 08:19] Danielmethner commented on #69275
The issue is still not fixed in the documentation! If we cannot rely on the accuracy of the Microsoft documentation even after mistakes have been pointed out, things start to become mildly frustrating.

What is the status on this?

[2022-10-18 08:28] rockboyfor opened #100076 "The text did not match the correct link in dropdown list."
Hi guys,

It seems that the text did not match the correct link value in dropdown list control.

![image](https://user-images.githubusercontent.com/4704301/196377713-2ac9b9d9-5ff8-4ff5-b6ce-1ca85af1844c.png)

![image](https://user-images.githubusercontent.com/4704301/196376800-85e4cbea-cc25-4ee2-9b00-851cc5065469.png)

Best Regards,
Edward Chen

---
#### Document Details

⚠ *Do not edit this secti

[2022-10-18 08:30] oaas opened #100077 "Receive Buffer value should be tuned by application"
We setup 512 for receiver buffer in Accelerated Networking(mellanox) for Windows Based OS, this is recommended by Nvidia as the default value. This value is small for some applications, such as data transfer/file copy, and lead significant packet drop in Windows OS level.
![image](https://user-images.githubusercontent.com/33302975/196377513-9fe1d9ae-a0f0-4169-8847-1071246a088a.png)

The data trans

[2022-10-18 08:37] v-ksreedevan commented on #75373
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:37] #75373 closed

[2022-10-18 08:38] v-ksreedevan commented on #76882
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:39] v-ksreedevan commented on #78365
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:39] #78365 closed

[2022-10-18 08:40] v-ksreedevan commented on #80202
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:40] #80202 closed

[2022-10-18 08:40] v-ksreedevan commented on #82265
As advised by my manager @jyothisuri, closing the issues that are older than a year.

#please-close

[2022-10-18 08:40] #82265 closed

[2022-10-18 08:42] v-ksreedevan commented on #75159
#please-close

[2022-10-18 08:42] #75159 closed

[2022-10-18 08:44] audunsolemdal commented on #59982
@psignoret Is there any status update you could share with us?

[2022-10-18 08:49] v-ksreedevan commented on #98000
Awaiting inputs from the SME.

[2022-10-18 08:50] #61393 closed

[2022-10-18 09:24] AdamGuan13 opened #100078 "link is 404 error"
The link(https://azuremarketplace.microsoft.com/marketplace/apps/microsoft-dsvm.ubuntu-1804) is error.

![image](https://user-images.githubusercontent.com/113486445/196391326-7795b4ee-5941-4bf7-92a9-5d364516e001.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b969151
* Version Independ

[2022-10-18 09:48] SadiqhAhmed-MSFT commented on #99869
@Vikram1988 Could you please review the ask here and take necessary action?

[2022-10-18 09:50] ccarrolo opened #100081 "Site-to-Site VPN supported but not yet update on Hyper-V FAQ page"
It appears on the Hyper-V disaster recovery FAQ page a wrong statement about S2S VPN supportability.
From GitHub, there was a change for the main FAQ page but the information has not been update on this page (S2S VPN is supported for ASR replication)
https://github.com/MicrosoftDocs/azure-docs/pull/91328

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-10-18 09:51] SaibabaBalapur-MSFT commented on #100038
@Koning53
Thanks for pointing this out .
I'm going to assign this to the document author so they can take a look at it accordingly.

<img width="440" alt="image" src="https://user-images.githubusercontent.com/111563669/196397875-ea454b1c-e73d-48d1-a809-813f0ec6c8be.png">

[2022-10-18 09:53] SaibabaBalapur-MSFT commented on #100038
@kengaderdus
Can you please check and add your comments on this doc update request as applicable.

[2022-10-18 09:55] rujorgensen commented on #32472
I agree this should be re-opened. Azure should not require a server to respond to certain requests. Also, I have some workers that I don't want to response on **any** requests, and now I have to do custom handling just to please Azure 💩.

[2022-10-18 10:00] unowiz commented on #86803
@warrenandre Azure Static Web App won't have that header if the user hasn't yet authenticated. You can check if the url /.auth/me and see if the clientPrincipal/upn are null.

Trigger a login by navigating to /.auth/login/aad or /.auth/login/google or whatever and then go to /.auth/me to check.
The function called from the **authenticated user would have the x-ms-client-principal header** in its r

[2022-10-18 10:06] warrenandre commented on #86803
Hi @unowiz,

Correct once you have authenticated the user you will have access to this header but currently the header does not seem to have the user claims however if navigating to the /.auth/me the data is there so as a work around we are getting additional information via MICROSOFT graph until a resolution is made.

[2022-10-18 10:08] GitaraniSharma-MSFT commented on #100076
@rockboyfor , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-18 10:10] GitaraniSharma-MSFT commented on #100077
@oaas , thank you for your feedback. We have assigned this to the content owner/author for review.

@steveesp , for your review.

[2022-10-18 10:17] KapilAnanth-MSFT commented on #99038
@mbender-ms - sure.

@jnlycklama, we have informed our Product group about this issue.
They should be updating the tags soon.

[2022-10-18 10:17] #99038 closed

[2022-10-18 10:23] unowiz commented on #86803
@warrenandre I have used Managed function and not seeing this issue. Here's excerpt from my staticwebapp.config.json.
[code]

Before hitting the /api/functionname, I check if claimsPrincipal not null from the /.auth/me response, If its null, I redirect to /.auth/login/aad. My Azure function is able to look for the "x-ms-client-principal" header.
[code]

Hope this helps

[2022-10-18 10:40] v-ksreedevan commented on #77499
Reopening as advised by the SME.

#please-open

[2022-10-18 10:48] vasco-lopes opened #100083 "UC regions"
In the list of supported regions for UC, I don't see uksouth there, but I was able to deploy it to that region.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab850673-30d4-a28d-60ef-a03669c11b4a
* Version Independent ID: ab850673-30d4-a28d-60ef-a03669c11b4a
* Content: [Unity Catalog General Availability - Azure Datab

[2022-10-18 10:49] warrenandre commented on #86803
ok,

however in the x-ms-client-principal if you run the code there is no claims available.

[2022-10-18 10:52] SadiqhAhmed-MSFT commented on #100081
@ccarrolo Thanks for bringing to this our attention. We will review this information with the content owner and update as appropriate.

[2022-10-18 10:52] v-pgaddala commented on #58804
As advised by my manager @jsuri closing the issues that are older than a year.

[2022-10-18 10:52] v-pgaddala commented on #58804
#please-close

[2022-10-18 10:52] #58804 closed

[2022-10-18 11:26] Kevintheanalyst commented on #77499
Its not just Microsoft support thats like this. Azures support team is just as clueless as to how the LITERAL FUNDAMENTALS of cloud technology works. Closed my account around 6 months ago already and they have the audacity to close this case as completed 😂🤣

[2022-10-18 11:43] bvdboom opened #100084 "PolicyExemptions length of resource name"
I am missing the policyExemptions entity and its information in this table. Can I assume the "name" field (not "displayName") of a policy exemption resource is limited to 1-64 characters as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854

[2022-10-18 11:43] andrePKI opened #100085 ""early 2022" ...?"
"The next generation of custom log available in preview early 2022 can be exported." Are these new generation CL tables supported already? Or has this been delayed?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5daf3365-76b8-b98f-7fc8-51f520e6276b
* Version Independent ID: 93a216a6-fd66-cc0a-9346-58955bd0a7ba
* Conte

[2022-10-18 11:53] asdcristi opened #100086 "Unable to find location of "Disable AADIP integration in M365 Defender"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

Hello team,
We've received a request related to https://review.learn.microsoft.com/en-us/azure/sentinel/whats-new#heads-up-microsoft-365-defender-now-integrates-azure-active-directory-identity-protection-aadip where the customer would like to "Disable AADIP integration at the source, in y

[2022-10-18 11:55] yossi-y commented on #100085
Yes, a new generation of custom log is available and any such table can be exported from Log Analytics workspace. See relevant articles:

https://learn.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-logs-ingestion-portal
https://learn.microsoft.com/en-us/azure/azure-monitor/logs/data-collection-rule-sample-custom-logs

[2022-10-18 12:03] vlad610 opened #100087 "CORS proxy reference"
This document could be improve by having a reference to the CORS proxy and a brief explanation on how it works.

![image](https://user-images.githubusercontent.com/62948603/196424255-0c240685-0e5b-48f3-9288-d24f1988c73b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b65dd545-40a3-c8c6-e107-351a2ae5a807
* Version

[2022-10-18 12:12] Klaas- opened #100088 "Availabilty Zone description incorrect"
Hi,
currently you say in this document:
"There are no guarantees regarding the distances between various Availability Zones within an Azure region."
"The network latency across Availability Zones is not the same in all Azure regions. In some cases, you can deploy and run the SAP application layer across different zones because the network latency from one zone to the active DBMS VM is acceptable.

[2022-10-18 12:12] Venkateshdodda-MSFT commented on #99867
@whomanGHA The screenshot that you shared has Generate code step which is part of adding apex domain to the static web app and if you are trying to add the apex domain you need to add TXT and ALIAS record and follow [this documentation steps](https://learn.microsoft.com/en-us/azure/static-web-apps/apex-domain-external) Set up an apex domain in Azure Static Web Apps instead of [Set up a custom doma

[2022-10-18 12:12] #99867 closed

[2022-10-18 12:15] Klaas- commented on #90289
This was added via https://github.com/MicrosoftDocs/azure-docs/commit/ca1931e573fe461c49afdf9e996a9b5eacadb1a8 by @msftrobiro

[2022-10-18 12:15] #90289 closed

[2022-10-18 12:16] jsquire opened #100089 "[PowerBI Embedded] The link "Explore the client APIs" leads to a 404"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#31861](https://github.com/Azure/azure-sdk-for-net/issues/31861).

### Please be aware that @sgabler-solytic is the author of the original issue and include them for any questions or replies.

## Details

The link "Explore the client APIs" leads to a 404

![image](https://user-images.githubusercontent.com/55

[2022-10-18 12:22] SwathiDhanwada-MSFT commented on #99792
@v-amallick Can you please review this issue?

[2022-10-18 12:24] RamanathanChinnappan-MSFT commented on #99989
@VitalyMCT

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-18 12:30] durandguru opened #100090 "Azure Bot Service"
Should the entries for Azure Bot Service int he column "Private DNS zone name" not be privatelink.directline.botframework.com and privatelink.token.botframework.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Cont

[2022-10-18 12:32] durandguru opened #100091 "Azure Managed HSM (Microsoft.Keyvault/managedHSMs) / managedhsm"
Azure Managed HSM (Microsoft.Keyvault/managedHSMs) / managedhsm is mentioned twice in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https://learn.microso

[2022-10-18 12:37] #99979 closed

[2022-10-18 12:38] GitaraniSharma-MSFT commented on #100090
@durandguru , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-10-18 12:39] GitaraniSharma-MSFT commented on #100091
@durandguru , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-18 13:04] SwathiDhanwada-MSFT commented on #99787
@ljliu2k  AFAIK, Reader role at subscription level will be sufficient.

@rboucher Can you please provide your inputs on this?

[2022-10-18 13:06] andrePKI commented on #100085
Hi @yossi-y Thank you for your response. Ok, maybe then the reference to "early 2022" can be removed? Also, it is not mentioned below **Supported tables**. To me it is a bit hidden in this document with only the mention of the DCR based custom logs.

[2022-10-18 13:09] justinmchase commented on #99991
@RamanathanChinnappan-MSFT Sure, thank you for the link but I mean specifically why isn't it listed in the "Azure Cognitive Services containers"? Its a cognitive service and I need it in a container so I can run it locally for debugging purposes, just wondering where the documentation is on how to run it in a container.

[2022-10-18 13:21] mumurug-MSFT commented on #100087
@vlad610 Thanks for the feedback. I have checked the referenced docs: https://learn.microsoft.com/en-us/azure/api-management/api-management-cross-domain-policies#CORS that talks about CORS policy, but it doesn't include the screenshot.

It appears that the screenshot is from azure portal. Based on my understanding, you would like to have more descriptive about this setting and reference to CORS po

[2022-10-18 13:28] vlad610 commented on #100087
The screenshot I included shows the check box users can check to bypass the CORS proxy. The CORS proxy is an API Management service used as a proxy between clients testing from Azure Portal and their APIM services, to avoid CORS errors. A description of the CORS proxy, how it works and the effects of using it (e.g. client IP address will be different) are missing from the documentation and would b

[2022-10-18 13:41] AshokPeddakotla-MSFT commented on #99834
@claria Sincere apologies for the delayed response. We further looked into the referenced Git issue which you have shared.

As mentioned, It was by design.
` Updates to a device twin can take up to five minutes to be reflected in the corresponding enrichment value.`

Also, please let us know if you are still blocked with this issue and your enrichments still takin more time than expected.

[2022-10-18 13:42] SadiqhAhmed-MSFT commented on #100081
@ccarrolo Site-to-site VPN is only supported when used with private endpoint. The PR was supposed to be merged but hasn't been due to some article ownership issue.

We will separately add the details through another PR.

[2022-10-18 13:49] yossi-y commented on #100085
Thanks for pointing this out and help us improve documentations.
I've submitted a change and removed the confusing line you mentioned and left the one comment about custom log in [Limitations](https://learn.microsoft.com/azure/azure-monitor/logs/logs-data-export?tabs=portal#limitations).

Thanks,

[2022-10-18 14:10] marcgoff opened #100096 "First sentence isn't grammatically correct"
The first sentence doesn't seem grammatically correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 48633296-c827-8106-7d08-1c3a3f291ad2
* Version Independent ID: 3aeae449-1617-16a0-51f8-ea7c55f3f467
* Content: [Certificate user IDs for Azure AD certificate-based authentication - Azure Active Directory - Microsoft E

[2022-10-18 14:19] SWarnberg commented on #92854
Regarding documentation, all Previews Terms of Use are documented [here](https://azure.microsoft.com/en-us/support/legal/preview-supplemental-terms/), but nothing about SFTP.

[2022-10-18 14:20] udhaymahajan commented on #88666
Hi @cyn3rgy , thanks for the feedback but the doc in reference has the information about sync cycles that happen every 40 mins after the initial sync.
![image](https://user-images.githubusercontent.com/91688755/196456913-cea90b75-cc1d-4bfd-9019-4a5378c25aaf.png)
#please-close