[2021-04-15 15:17] spelluru commented on #73787
Fixed now.

#please-close

[2021-04-15 15:17] #73787 closed

[2021-04-15 15:17] AlexImray opened #73839 "Data Box operations listed as both Actions and Data Action"
The list of operations shown for the [Data Box Reader](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#data-box-reader) built-in role clashes with the Data Box resource provider operations listed [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftdatabox).

Specifically, the built-in role shows the following

[2021-04-15 15:20] spelluru commented on #73801
Quickstart is targeted at customers who are new to Service Bus. We intentionally keep it simple without going into partitions etc.

A quick fix would be to increase the Delay time here.

@CHEEKATLAPRADEEP-MSFT - can you please update the article (may be 60 seconds) and submit a PR? Thanks

[2021-04-15 15:23] TravisCragg-MSFT commented on #73518
@npctecnologia Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-15 15:23] #73518 closed

[2021-04-15 15:23] spelluru commented on #73679
#please-close

[2021-04-15 15:23] #73679 closed

[2021-04-15 15:25] SatishBoddu-MSFT commented on #73827
Hello @Luteoos,
Thanks for the feedback!
Thanks for trying Azure IoT SDK! We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would open an issue with your question on the [Microsoft QnA  forum](https://docs.microso

[2021-04-15 15:28] kobulloc-MSFT commented on #73830
@dohughes-msft Thank you for bringing this to our attention!  We are investigating this and will get back to you shortly.

[2021-04-15 15:37] rolyon commented on #72630
Hi @AWilsonBP
Thanks for your feedback. We've added some info about service principals to prerequisites section.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-steps#step-4-check-your-prerequisites

Let us know if you have additional feedback.
thanks

[2021-04-15 15:38] rolyon commented on #72630
#please-close

[2021-04-15 15:38] #72630 closed

[2021-04-15 15:39] TravisCragg-MSFT commented on #73833
@duaneguthrie Thanks for the feedback. As the [CentOS section of this doc shows, only 7.7 & 8.1 images are cloud-init enabled by default](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#centos). You can still likely use cloud-init with a 7.9 image, but you might need to take additional steps to make sure cloud-init is enabled before deployment like creating a custom

[2021-04-15 15:42] mimckitt commented on #73795
This doc only applies to VMs. Scale sets use a different form of an availability set that is not user configurable.

You cannot adjust the fault domains and update domains after an AV set is created. However during creation, you can select up to 3 fault domains and 20 update domains. This is possible across Portal, PowerShell, CLI, Template, etc.

![image](https://user-images.githubusercontent.com

[2021-04-15 15:42] #73795 closed

[2021-04-15 15:43] SwathiDhanwada-MSFT commented on #73828
@Smurgl Thanks for your feedback. Also when raising issue in GitHub for any Azure doc, click on the highlighted button as shown below at the end of the Azure doc page , so that the metadata for the issue is automatically updated.

![image](https://user-images.githubusercontent.com/48976275/114898005-6334fa80-9e2f-11eb-9dce-ea3df0cdbfc6.png)

Assigning the issue to content author @gachandw for revi

[2021-04-15 15:44] GiftA-MSFT commented on #73832
@don007git we'll review your feedback and get back to you shortly. Thanks.

[2021-04-15 15:50] Andrew-Webb opened #73841 "Confusion about which flag to alter SCIM behaviour"
In the https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/application-provisioning-config-problem-scim-compatibility#flags-to-alter-the-scim-behavior section...

The screenshot shows query string `?AzureAdScimPatch062020` as the flag that you add.  But the text below the screenshot has:-

[code]

Which is the correct flag?  If it's not `aadOptscim062020`, then what exactly is

[2021-04-15 15:54] mumian commented on #73592
I will update the article.

[2021-04-15 15:54] Andrew-Webb opened #73842 "Another issue with Azure AD + SCIM that you should know about"
Here's another that I'd like to get on your radar:-

https://docs.microsoft.com/en-us/answers/questions/188003/scim-user-provisioning-setup-with-manager-attribut.html

Scroll to the second answer and its replies.  It seems clear to me (could be wrong though) that AD is not populating the manager attribute correctly, since AD is sending a simple value, but the `manager` type is complex (according t

[2021-04-15 15:55] SwathiDhanwada-MSFT commented on #73836
@DaveZimmermann Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-15 16:02] mumian commented on #73592
@benjamincburns - one correction: consider the environment variables that start with "AZ_SCRIPTS_PATH" are reserved by the deployment script service.  Sorry for the confusion.

[2021-04-15 16:03] Oury-MSFT commented on #73829
@PKPublicCode We are currently looking into this and will get back to you shortly.

[2021-04-15 16:06] JamesTran-MSFT commented on #73841
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-15 16:19] JamesTran-MSFT commented on #73743
@MarcoL-4wardPRO
Thank you for your time and patience throughout this issue!

I've reached out to the author and our engineering team to confirm if the dates are correct.

[2021-04-15 16:23] SwathiDhanwada-MSFT commented on #73838
@SinAHal Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-15 16:24] JamesTran-MSFT commented on #73763
@leonardschneider
Thank you for your time and patience throughout this issue! Since Amit provided an answer to your issue, I'll go ahead and close this out.

If you have any other questions or require additional support, please let us know.

[2021-04-15 16:24] #73763 closed

[2021-04-15 16:24] SwathiDhanwada-MSFT commented on #73814
@hnph12 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-15 16:25] alandillon commented on #43332
This page no longer exists. Closing issue.

[2021-04-15 16:25] #43332 closed

[2021-04-15 16:25] SwathiDhanwada-MSFT commented on #73816
@thepaulmacca Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-15 16:26] SwathiDhanwada-MSFT commented on #73831
@carrenomc Thanks for reaching out. Can you please share the document that you are following ? Based on that, I can route your request to appropriate team.

[2021-04-15 16:36] JamesTran-MSFT commented on #73774
@johnsonjohnpat
Thank you for pointing this out!

Yes, view designer has been replaced by Workbooks, since Workbooks is a platform that unlocks the full potential of your data. Workbooks not only retains all the capabilities of View Designer, but offers greater flexibility and additional functionality through text, metrics, parameters, and other chart customizations.

You should be able to read th

[2021-04-15 16:37] duaneguthrie commented on #73833
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init
calls out 7.7 and 8.1 it will be enabled.
then it says "All OpenLogic:CentOS 7.8 and 8.2 (Gen1 and Gen2) images are
provisioned using cloud-init".
which implies all future versions will have it enabled.  then 7.9 has no
enablement.

On Thu, Apr 15, 2021 at 10:39 AM TravisCragg-MSFT ***@***.***>
wrote:

--

This message

[2021-04-15 16:38] JamesTran-MSFT commented on #73842
@Andrew-Webb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-15 16:49] KranthiPakala-MSFT commented on #73821
@taukhan-ace
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-04-15 17:02] PramodValavala-MSFT commented on #73268
@nitmatgeo I believe there isn't a PowerShell version of it that I am aware of to share but the JS code in the docs should help. You would basically need to check the `eventType` property of the incoming request and respond accordingly.

When using the Event Grid Trigger, you can't have a HTTP Response and the validation is taken care of by the Azure Functions extension itself. But you would need

[2021-04-15 17:02] #73268 closed

[2021-04-15 17:05] PramodValavala-MSFT commented on #73380
@PaloSP Just following up here... Hope my previous comment clears things up.

[2021-04-15 17:06] PramodValavala-MSFT commented on #73680
@pacorreia Just following up here... Hope my previous comment clears things up.

[2021-04-15 17:08] NavtejSaini-MSFT commented on #73586
@modi-pawan We are going ahead and closing this issue. Please let us know of you need any further help or info.

[2021-04-15 17:08] #73586 closed

[2021-04-15 17:10] GiftA-MSFT commented on #73776
@saachigopal can you please confirm max supported version. Can you confirm if the doc needs to be updated? Thanks.

[2021-04-15 17:13] trenton-tamura opened #73843 "The document only shows referencing KeyVault in linked service for the Password Secret, but what about UserName?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-15 17:16] trenton-tamura commented on #73843
![image](https://user-images.githubusercontent.com/71855723/114911138-4e7f4500-9de4-11eb-8a04-5f9781aa5f6d.png)
This shows the reference to Keyvault in the Password Type Property, but not the userId property. It would seem that you could apply the same logic to retrieve the User ID, but I can't seem to get it to work, I get an error that says

Failed to convert the value in 'userid' property to 'S

[2021-04-15 17:20] PramodValavala-MSFT commented on #73819
@benbelow

The HTTP Trigger endpoints are the one that are swapped but since the other triggers are still active, they will continue to listen. Setting different connection strings in the staging slot will get them to listen to those instead.

I'm unsure of any consequences if they fail but usually you would have staging infrastructure setup for that slot. That infrastructure would have been used

[2021-04-15 17:22] SaurabhSharma-MSFT commented on #73705
@nabhishek Can you please look into this as I am able to reproduce this issue -
![image](https://user-images.githubusercontent.com/38112130/114912028-62bb4600-9dd4-11eb-8dde-c7320bdb564c.png)

[2021-04-15 17:23] SaurabhSharma-MSFT commented on #73718
@BradLeeHines-ST So is it working now for you ?

[2021-04-15 17:24] PramodValavala-MSFT commented on #49834
@ma499 @benbelow Sorry for not getting back on this. The slot swap reroutes HTTP requests, but the other triggers would still listen against the configured connections in the staging slot.

In the case of Timer Trigger, even if you [share the storage account](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#function-apps-sharing-storage) between the slots

[2021-04-15 17:29] danl2019 opened #73844 "Incomplete code sample"
[Enter feedback here]
The .net code sample is incomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9af0402-f5a2-4ee8-942f-d769ea5c79f0
* Version Independent ID: dfd818f6-b6b8-4e44-763e-7c10154038e8
* Content: [Media Services v2 to v3 migration setup - Azure Media Services v3](https://docs.microsoft.com/en-us/azu

[2021-04-15 17:34] benbelow commented on #73819
Thanks for the quick reply @PramodValavala-MSFT!

Thanks, this makes it clearer. I do think this could be spelled out a bit clearer in the doc, for anyone like me and my team members who have inferred the wrong thing from the document and assumed that all triggers will use production only!

I suspect this might be where our approach differs slightly! We don't currently have any pre-live checks etc

[2021-04-15 17:36] BradLeeHines-ST commented on #73718
I got it to work. Thanks.

On Thu, Apr 15, 2021 at 10:23 AM SaurabhSharma-MSFT <
***@***.***> wrote:

--

- Brad

Brad Lee Hines (He/His)
Sr. Software Developer at Service Titan
<http://www.servicetitan.com>
***@***.***
<https://twitter.com/ServiceTitan>
<https://www.facebook.com/ServiceTitan>   <http://www.servicetitan.com>
<https://www.linkedin.com/company/3157549>

[2021-04-15 17:44] msmbaldwin commented on #71459
#please-close

[2021-04-15 17:44] #71459 closed

[2021-04-15 17:46] SaurabhSharma-MSFT commented on #73718
@BradLeeHines-ST  Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-15 17:46] #73718 closed

[2021-04-15 17:48] PeterCLu commented on #73505
Thanks @marktab for taking care of this.

@dbartz  thanks for making this report. Marks' updates are published to the live site. Please check those links. I'll #please-close this issue.

If you feel that your documentation issue has not been resolved, feel free to open a new issue with additional information. Thanks!

[2021-04-15 17:48] #73505 closed

[2021-04-15 17:49] PeterCLu commented on #73728
Thanks @TLaborde for the catch and Rohit for the fix!

@TLaborde, if you feel that your documentation issue has not been resolved, feel free to open a new issue with additional information.

#please-close

[2021-04-15 17:49] #73728 closed

[2021-04-15 17:50] carrenomc commented on #73831
I am reading the official documentation about these ADF activities. I am trying to make a custom pipeline, where need to use a Filter activity into a For Each Activity, but it doesn't work because use the same variable to refer at his value. (@item ()). So I can not reference to the current value of each activity.

[2021-04-15 17:51] PeterCLu commented on #73832
#assign:@luisquintanilla

[2021-04-15 17:51] pacorreia commented on #73680
yes, but I'm uncertain about the right repo to fill an issue with 😊

A quinta, 15/04/2021, 18:07, Pramod Valavala ***@***.***>
escreveu:

[2021-04-15 17:59] RyanHill-MSFT commented on #73844
Hi @danl2019, can you clarify on where the sample is complete? The article is linked to https://github.com/Azure-Samples/media-services-v3-dotnet which has several types of samples. Is there a particular workflow that didn't work for you?

[2021-04-15 18:03] danl2019 commented on #73844
Yes, sorry.
On the bottom of the page, when I select .net, I see this:
[Graphical user interface, text, application  Description automatically generated]
The way the “Get started” intro paragraph is phrased, I was expecting to see the full v2 and v3 code sample.  Possibly it’s all there, but in Chrome, above is all I see in the code sample.

Thanks – Dan’l

[logo]<https://givingcompany.com/>
DAN L

[2021-04-15 18:04] danl2019 commented on #73844
Just to be clear, I’m seeing this at the following url:
https://docs.microsoft.com/en-us/azure/media-services/latest/migrate-v-2-v-3-migration-setup?tabs=net

Dan’l

[logo]<https://givingcompany.com/>
DAN LINDBERG
Principal Architect
M: 404.247.9949
E: ***@***.***
givingcompany.com<https://givingcompany.com/>
13560 Morris Road Alpharetta, GA 30004

From: Dan Lindberg ***@***.***>
Date: Thursday, A

[2021-04-15 18:09] chrisswinford opened #73846 "Incorrect Azure RBAC permissions specified"
The Azure RBAC permissions needed to synchronize DNS server settings on Azure SQL Managed Instances' Virtual Clusters are incorrect in the documentation.

The documentation states the following are needed:

* Subscription Owner role, or
* Managed Instance Contributor role, or
* Custom role with the following permission:
  * Microsoft.Sql/virtualClusters/updateManagedInstanceDnsServers/action

Base

[2021-04-15 18:14] luisquintanilla commented on #73832
@don007git sorry to hear you ran into this issue. I was able to see "Connect to compute instance" as a menu option using the versions of VS Code and the Azure ML extension you provided.

@SiddhanthUnnithan thoughts?

[2021-04-15 18:16] luisquintanilla commented on #73832
@don007git would you be able to provide a screenshot of what you're seeing?

[2021-04-15 18:19] romoriar opened #73847 "Doc should state that SSTP connections will not be logged in the portal"
The portal P2S management area will only log IKEv2 and OpenVPN protocols by design. Let's update the documentation to state that SSTP will not be logged under this tool in the portal.

This is for the same reason that Log Analytics does not log SSTP.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-setup-alerts-virtual-network-gateway-log

---
#### Document Details

⚠ *Do not e

[2021-04-15 18:35] gjmoyer opened #73849 "Query the items section should include the WithParameter instead of hard-coded parameter"
In the code example under "Query the items" it shows the SQL with hard-coded parameter value of 'Andersen'. This resulted in my team doing string replace on the SQL statement for replacing the parameters in the string. I think most developers using this C# SDK will pass parameters to the SQL statement. Showing that in the code example I feel is an important piece of information to ensure the SDK i

[2021-04-15 18:36] mlearned commented on #73601
![image](https://user-images.githubusercontent.com/17324782/114920793-71632680-9def-11eb-8c8c-71b0c0374bef.png)

we have a warning earlier in the doc, we can look at relocating it.

[2021-04-15 18:36] mlearned commented on #73601
#please-close

[2021-04-15 18:36] #73601 closed

[2021-04-15 18:54] rolyon commented on #72059
Hi @mbendana
Thanks for noticing this. We have updated the PowerShell script.
https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-enterprise-apps#assign-the-custom-role
Let us know if you have additional feedback.
thanks

[2021-04-15 18:54] rolyon commented on #72059
#please-close

[2021-04-15 18:54] #72059 closed

[2021-04-15 18:57] skunevich commented on #50919
We are also facing this issue.

[2021-04-15 18:58] AzureAzim opened #73850 "Azure AD Tenant creation via API"
Looking for the ability to cerate a tenant via API. Asking for a customer.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback

[2021-04-15 19:20] RyanHill-MSFT commented on #73844
I see. The _Get atarted adjusting your code_ section is assuming you already have an existing code running the v2 Media Services SDK. If you are getting started with v3, the first sentence in that section

you are directed to https://docs.microsoft.com/en-us/azure/media-services/latest/configure-connect-dotnet-howto where you have a complete code sample. For other samples, you can refer to the Git

[2021-04-15 19:25] danl2019 commented on #73844
I was hoping to find some detailed documentation for migrating my v2 app (using windowsazure.mediaservices namespace) to a v3 app (using Microsoft.Azure.Management.Media).
Thanks – Dan’l

[logo]<https://givingcompany.com/>
DAN LINDBERG
Principal Architect
M: 404.247.9949
E: ***@***.***
givingcompany.com<https://givingcompany.com/>
13560 Morris Road Alpharetta, GA 30004

From: Ryan Hill ***@***.***

[2021-04-15 19:27] christopherhouse opened #73851 "Storage Explorer Connection String"
It appears that in more recent versions of Storage Explorer, the option to connect via Connection String has either been removed, or has been significantly changed.  I'm using version 1.18.1 of Storage Explorer, there appears to be no option for connecting via a Connection String.  Perhaps a SAS token is required when using a newer version of Storage Explorer.  Documentation should be updated to r

[2021-04-15 19:39] SatishBoddu-MSFT commented on #73851
Hello @13daysaweek
I have assigned the issue to the content author for further review.

[2021-04-15 19:41] BharathNimmala-MSFT commented on #73766
@santhoshbomma9 Post validation with our team below is the information we could share.

Fields like "Order Purchase Date" and "MonthStartDate" that we have today in Commercial Marketplace Analytics Reporting and provide information on SaaS Order Purchase Date, Month when the subscription is purchased.

Documentation reference - https://docs.microsoft.com/en-us/azure/marketplace/orders-dashboard#or

[2021-04-15 19:41] #73766 closed

[2021-04-15 19:48] RyanHill-MSFT commented on #73844
You can find those on https://docs.microsoft.com/en-us/azure/media-services/latest/migrate-v-2-v-3-migration-samples. Step-4 also has scenario-based walkthroughs. If you don't see what you're looking for, let me know.

[2021-04-15 19:51] danl2019 commented on #73844
That’s great.  Thank you.  I appreciate the assist!
Dan’l

[logo]<https://givingcompany.com/>
DAN LINDBERG
Principal Architect
M: 404.247.9949
E: ***@***.***
givingcompany.com<https://givingcompany.com/>
13560 Morris Road Alpharetta, GA 30004

From: Ryan Hill ***@***.***>
Reply-To: MicrosoftDocs/azure-docs ***@***.***>
Date: Thursday, April 15, 2021 at 3:49 PM
To: MicrosoftDocs/azure-docs ***@***.

[2021-04-15 19:52] RikGr commented on #35298
Also when we use the Key Vault method to select the SSL certificate in the Listener, the order is not correct:

![image](https://user-images.githubusercontent.com/12409333/114930014-d12ff080-9e34-11eb-9523-16cc0a863096.png)

Please reopen this issue.

[2021-04-15 19:56] shraboin opened #73852 "Update Admin doc to account for Enterprise Redis and inability to reboot"
[Here](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-configure?source=docs#reboot) it mentions Reboot is available for all Redis tiers. It is not for Redis Enterprise. Redis RP for enterprise doesn't have a reference to reboot:

![image](https://user-images.githubusercontent.com/37669678/114930591-cbb5b480-9dfa-11eb-8912-d57e5f313499.png)

Could we update the doc so it omits R

[2021-04-15 20:02] MicrosoftGuyJFlo commented on #54126
Following the procedure in the doc as written does work. No further guidance from the product team available. #please-close

[2021-04-15 20:02] #54126 closed

[2021-04-15 20:02] santhoshbomma9 commented on #73766
Hi @BharathNimmala-MSFT ,
But is there a field which can explain when the Saas offer is activated. Order date/subscription date and activation date can be two different dates.

[2021-04-15 20:06] tfitzmac commented on #73838
@SinAHal - I don't see any properties that would be used for setting those values. Do you have it configured that way already in your environment? If so, you could [export the template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/export-template-portal) for a resource group to see if there is any helpful info about setting it up.

[2021-04-15 20:10] Karishma-Tiwari-MSFT commented on #73798
Please let me know if you need help or you were able to resolve it.
Thanks.

[2021-04-15 20:11] Karishma-Tiwari-MSFT commented on #73835
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-15 20:16] omerzubair opened #73853 "Cannot see Managed identity preview feature in Australia Central"
[Enter feedback here]

Hi
I cannot see Managed identity preview feature in Australia Central. Can you please advise regions where this is avail? and ETA for Au central?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9ce2612-b600-3fca-3315-a7836ef91c96
* Version Independent ID: 78766eed-c3c6-ce60-7620-17b99f3d9d5e
* Con

[2021-04-15 21:09] Pankajazlearn opened #73856 "Unable to create policy exemption in Azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-15 21:12] Pankajazlearn commented on #73856
I am global admin for the subscription but when ever i tried to create an exemption it shows an error Please change the scope as you don't have permissions to create an exemption in the current scope.

I have tried changing scope from Subscription to resource group but still the same.

[2021-04-15 21:12] #73827 closed

[2021-04-15 21:16] SaiKishor-MSFT commented on #73645
@jakenuts Is this the behavior you are referring to? Are you saying this behavior is not acceptable ot not possible? Please clarify.

Routing rule                         Frontend host                                     Path

A                                 www.profile.domain.com                             /blog
B                                  www.profile.domain.com

[2021-04-15 21:20] wfschneider opened #73857 "The Order On This Page Makes it a Little Confusing"
The first set of steps gets the Image Version. The image version is not needed until the new image version is to be created in the new Shared Image Gallery. Having this step first makes the process a little disjointed. I think it makes more sense to do things in this order

1. Get the image definition list
2. Get the source gallery image definition
3. Create the new gallery image definition
4. Get

[2021-04-15 21:22] wfschneider opened #73858 "Cannot Find --managed-image In Page"
The section [Create the image version](https://docs.microsoft.com/en-us/azure/virtual-machines/image-version-another-gallery-powershell#create-the-image-version) mentions ` --managed-image` parameter which I cannot find in the PowerShell command nor anywhere else on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-15 21:23] normesta commented on #73749
Thanks @mlemarec! You are correct! I fixed the target URL. The change should appear in the published version of the docs by 3PM today.

#please-close

[2021-04-15 21:23] #73749 closed

[2021-04-15 21:27] SaiKishor-MSFT commented on #73847
@cherylmc Can we add a note in the doc similar to note [here in this document ](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-setup-alerts-virtual-network-gateway-log)that says:

P2SDiagnosticLog | Logs point-to-site control messages and events on the gateway. Connection source info is provided for IKEv2 and OpenVPN connections only
-- | --

[2021-04-15 21:38] Oury-MSFT commented on #73846
@chrisswindford Thank you for your feedback. We will look into it and get back to you. If the document needs to be updated , we will raise a PR to change it.

[2021-04-15 21:39] normesta commented on #73415
Thanks for asking @fmms. I've updated the text to say "also" instead of "now" as the current phrasing is causing confusion. The statement is intended to communicate that the feature is supported in accounts that have a hierarchical namespace as well as those that don't.  Thank you!

#please-close

[2021-04-15 21:40] cynthn commented on #73858
@wfschneider Ooops, good catch! That should be `-Source` for PowerShell. For CLI, you use `--managed-image`. I'll file a pull request to fix that reference. Thanks again!

#assign @cynthn

[2021-04-15 21:42] normesta commented on #73415
My apologies @fmms this was a response to another issue. Your issue still requires our attention. @DerekHerman-MSFT do you know how to reopen this issue?

[2021-04-15 21:45] normesta commented on #73352
Thanks for asking @hund030 . I've updated the text to say "also" instead of "now" as the current phrasing is causing confusion. The statement is intended to communicate that the feature is supported in accounts that have a hierarchical namespace as well as those that don't. Thank you!

#please-close

[2021-04-15 21:45] #73352 closed

[2021-04-15 21:47] #73858 closed

[2021-04-15 21:57] asukumar22 commented on #73802
I have tried upgrading my Azure CLI version to 2.20 and I tried testing the same deployment again.

This time I have been able to deploy the Bicep file itself instead of converting it to a JSON File and deploying it.

But still, with Azure CLI, I can have it working for me to use $bicepFile for setting the variable and not bicepFile.
***@***.***D73207.A6CB7330]

***@***.***D73207.A6CB7330]

Regard

[2021-04-15 21:58] spelluru commented on #73801
#please-close

[2021-04-15 21:58] #73801 closed

[2021-04-15 21:58] asukumar22 commented on #73802
Thanks, team for looking into this issue.

Regards,

Aarthi Sukumar
Customer Engineer | Advanced Cloud Engineering (ACE) | Azure CXP Support
Office: +1 (732) 844-3066
***@***.******@***.***>
Working Hours: Mon-Fri, 7 AM - 4 PM PST
[Microsoft Azure logo]
Microsoft Azure<https://azure.microsoft.com/en-us> | Azure Status<https://status.azure.com/en-us/status> | Support Plans<https://azure.microsoft.c

[2021-04-15 21:58] spelluru commented on #60595
@Kishp01 - please provide your input when you get a chance. Thanks!

[2021-04-15 22:02] GrzegorzHejman commented on #47169
The latest ARM template (API version 2020-06-01-preview) has "zones" properties for main and additional locations, so I believe it is available when you deploy APIM with ARM template. Don't know if the functionality is exposed within the portal yet.

[2021-04-15 22:02] iyerusad opened #73859 "Add section or reference to URL Authorization Rules"
Back in 2016 a preview feature debuted: [URL Authorization Rules](https://azure.github.io/AppService/2016/11/17/URL-Authorization-Rules.html)

Its been ~5 years and outside of that blog post there seems to be no other references.

**What scenario would this update improve documentation for?** Progressive Web Apps (PWA) use icons when saving the "app". However when the PWA is hosted behind Azure Ap

[2021-04-15 22:10] hpsin commented on #73568
Can you please confirm the redirect URI you have registered and the type associated with it? This is generally seen when there's a configuration bug.
![image](https://user-images.githubusercontent.com/1666363/114944516-98742500-9dfc-11eb-8155-bd8acdb939d2.png)

Make sure it's in the "mobile and native" section, and not "Web".  Additionally, ensure that you don't have the same redirect URI (all por

[2021-04-15 22:22] msmbaldwin commented on #72938
@diberry: I made three updates to https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/key-vault/general/tutorial-net-create-vault-azure-web-app.md:

1. I specified that the git installation should be " version 2.28.0 or greater" (necessary for next step)
2. I added "--initial-branch=main" to the "git init" step.
3. I added this additional "az webapp config" command:   az webapp con

[2021-04-15 22:22] #72938 closed

[2021-04-15 22:26] briglx opened #73860 "Environment variables cli format"
Documentation says `--environment-variables 'ENV_VAR'='val1' 'EVN_VAR2'='val2'`
this throws an error of `Incorrectly formatted environment settings. Argument values should be in the format a=b c=d`

Should be `--environment-variables 'ENV_VAR=val1' 'EVN_VAR2=val2'` or `--environment-variables ENV_VAR=val1 EVN_VAR2=val2`

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-04-15 22:53] rajanbhayana commented on #47169
Its there on portal and can confirm i can see it for my existing deployments too.
https://docs.microsoft.com/en-us/azure/api-management/zone-redundancy
I think we can close this issue now.

[2021-04-15 23:00] Jing25 commented on #16837
Same error here

[2021-04-15 23:08] bwren commented on #73244
Sentinel has its own article on using multiple workspaces. https://docs.microsoft.com/en-us/azure/sentinel/extend-sentinel-across-workspaces-tenants. We're currently working on consolidating our workspace content so we talk about the considerations for Azure Monitor, Azure Security Center, and Sentinel together.

[2021-04-15 23:08] bwren commented on #73244
#please-close

[2021-04-15 23:08] #73244 closed

[2021-04-15 23:10] BharathNimmala-MSFT commented on #73853
@omerzubair Thank you for reaching with your query, we will look into it and get back to you at the earliest.

[2021-04-15 23:20] vladvino commented on #73808
@dlepow the link should be updated to point to https://docs.microsoft.com/en-us/azure/api-management/zone-redundancy.

[2021-04-15 23:23] terrymandin commented on #24635
We are encountering the same issue when installing onto Ubuntu 18.04.  See below (cleaned user specific data from the path):

root@pingioted01:/home/<email># sudo apt-get update
Hit:1 http://ca.archive.ubuntu.com/ubuntu bionic InRelease
Hit:2 http://ca.archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:3 http://ca.archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:4 http://ca.archive.ubu

[2021-04-15 23:42] Oury-MSFT commented on #73846
@srdan-bozovic-msft Please see feedback from customer, do we need to raise a PR to change "Owner to "Contributor" or add
**Microsoft.Sql/virtualClusters/updateManagedInstanceDnsServers/action** to this [document ](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-managed-instance-contributor). I tried to repro this but getting the below error message.
![image](htt

[2021-04-15 23:53] kobulloc-MSFT commented on #73539
@RiditaNizam I've submitted an updated screenshot and the changes should go live shortly.  We're also looking at doing an update to the documentation here, so thank you again for bringing this to our attention!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversat

[2021-04-15 23:53] #73539 closed

[2021-04-15 23:54] mscatyao commented on #33157
Confirmed - thanks for updating the thread @dilergore! Please let us know if you run into any issues with KV integration following our docs.

[2021-04-15 23:56] BharathNimmala-MSFT commented on #73843
@trenton-tamura Thank you for reaching out to us. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-16 00:00] vmonge opened #73862 "Recommendation names from table to be updated."
Recommendation name changed :

"Vulnerabilities in your virtual machines should be remediated"

to

"Vulnerabilities in security configuration on your machines should be remediated"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6230e675-0c07-86be-96e8-2e5463c809bc
* Version Independent ID: a9e9c045-ed30-b01a-5682-b102

[2021-04-16 00:04] terrymandin commented on #24635
My problem is resolved.  I missed a step in the install.

[2021-04-16 00:05] jesussalasp commented on #73798
Hello, I moved the issue to a proper thread and I am receiving support there...

https://github.com/MicrosoftDocs/azure-docs/issues/73799

[2021-04-16 00:05] #73862 closed

[2021-04-16 01:28] cro27 commented on #72579
Adding to the next update

[2021-04-16 01:29] cro27 commented on #72577
reviewing changes

[2021-04-16 01:30] cro27 commented on #72571
Added to next update.

[2021-04-16 01:30] cro27 commented on #72566
Added to next update

[2021-04-16 01:42] spelluru commented on #60595
Discussed with our dev today.

For Generic Error, Event Grid logs the HTTP status code, error type, and error message information that it receives from the event handler.

[2021-04-16 01:45] spelluru commented on #67301
Our dev has updated this article recently and in the process of making more updates.
https://docs.microsoft.com/en-us/azure/event-grid/secure-webhook-delivery

[2021-04-16 02:03] xps233 commented on #73800
@shashishailaj Thanks for checking on that, please update here once there's the latest)

[2021-04-16 02:06] jolauMSFT opened #73865 "Add a reference to INODES in the Maxfiles section"
With the Maxfiles section. Please include a reference that Linux file systems refer to these as INODES, and so an INODE limit request is the same as Maxfiles limit.
This will help ease confusion when Support are processing an inode increase and refer customers to the maxfiles limit table per volume size on what the limits are so the customer can overprovision to achieve the desired inode number (i

[2021-04-16 02:15] SamaraSoucy-MSFT commented on #73813
You can add custom filters to features, but labels also work fine. For your scenario, labels are likely to be easier to manage than custom filters, especially if you need to edit them often. There are [two limitations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-app-configuration) on standard tier that would apply. These are rela

[2021-04-16 02:15] #73813 closed

[2021-04-16 02:24] jun110 opened #73867 "Workspace-based Application Insights is not Public Preview"
Hi.
I think that Workspace-based AI is not Public Preview. It is GA.
https://azure.microsoft.com/en-us/updates/general-availability-of-workspacebased-application-insights/

So, It is needed to modify the sentence.

![image](https://user-images.githubusercontent.com/25476639/114962648-09bbe280-9ea6-11eb-8d02-a1c2ab12ddd5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-04-16 02:37] lgayhardt commented on #73867
@jun110  Thanks for catching that, I will make a PR to remove preview and the change should go live tomorrow morning.

Thank you
#please-close

[2021-04-16 02:37] #73867 closed

[2021-04-16 02:53] SamaraSoucy-MSFT commented on #73812
You can create and update them directly from the REST API, CLI, or any of the SDKs ([.Net SDK for creating data](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/data.appconfiguration-readme?view=azure-dotnet-preview#create-a-configuration-setting)). The CLI is a bit different in that it does have specific methods for editing flags

What feature flags are is specialized key-value pairs a

[2021-04-16 02:53] #73812 closed

[2021-04-16 03:18] rajanbhayana opened #73868 "Dont see zone support in supported region."
I have a APIM in au east. I tried to extend this to multiple zones. However for both an existing APIM instance and a newly created one, when I go to location, I cannot find capability to add zones like we see on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb9d23f7-6741-bffa-af05-6efab2c633ed
* Version Ind

[2021-04-16 03:27] BharathNimmala-MSFT commented on #73839
@AlexImray Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-16 03:30] MayankBargali-MSFT commented on #73868
@rajanbhayana Thank you for your feedback! We will review and update as appropriate.

[2021-04-16 03:30] BharathNimmala-MSFT commented on #73850
@AzureAzim  Thank you for reaching out to us. Please note that [this channel ](https://github.com/MicrosoftDocs/azure-docs/issues) (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-16 03:31] BharathNimmala-MSFT commented on #73856
@Pankajazlearn Thank you for reaching out to us. Please note that [this channel ](https://github.com/MicrosoftDocs/azure-docs/issues) (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-16 03:45] BharathNimmala-MSFT commented on #73852
@shraboin Thank you for bringing this to our attention, we have assigned this issue to our document author @yegu-ms to further review and update the document accordingly.

[2021-04-16 03:46] AzureAzim commented on #73850
Hi @BharathNimmala-MSFT, thanks for your attention.

The doc I am referring to is : https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-access-create-new-tenant#create-a-new-tenant-for-your-organization

Customer asked if there was an automated may to kick this off, possibly via Graph or REST. Documentation usually covers multiple methods for achieving something,

[2021-04-16 03:55] MayankBargali-MSFT commented on #73666
@pattisd01I have got an update from my team that the fix will be deployed in the next 2-3 weeks. For now, I will go ahead and close this issue but I will update this thread once the fix is deployed. Feel free to get back to me if you have any queries or concerns.

[2021-04-16 03:55] #73666 closed

[2021-04-16 03:58] MayankBargali-MSFT commented on #73808
@vladvino Thanks for pointing to the right document.
@jbm00n Please let us know if you have any further queries or concerns.

[2021-04-16 04:08] AnuragSharma-MSFT commented on #73849
@gjmoyer Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-16 04:17] nathanlindorff commented on #73660
I've just realised that this is a duplicate of #66908 and can be closed

[2021-04-16 04:18] MayankBargali-MSFT commented on #73735
@vikaskumawat80 Yes, there was [recent announcement](https://azure.microsoft.com/en-us/updates/azure-api-management-support-for-availability-zones-now-generally-available/) that API Management now supports Availability Zones. You can refer to the [Availability Zone](https://docs.microsoft.com/en-us/azure/api-management/zone-redundancy) document for more details on how to deploy AMPIN into Availabi

[2021-04-16 04:30] nunepalli opened #73869 "Increasing the storage event triggers per storage account"
In this link https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger
I see that Azure Data Factory only supports a maximum of 500 storage event triggers per storage account. Is there a way we can increase the limit without contacting Azure support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-16 04:48] CHEEKATLAPRADEEP-MSFT commented on #73869
@nunepalli, No, you need to create a

I recommend you to create a Quota support ticket which is free of cost. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.

![image](https://user-images.githubusercontent.com/79183421/114972982-21429d80-9e9d-11eb-9f0a-7d2c0ad57720.png)

If you want to raise the limit or quota above the default limit, [op

[2021-04-16 04:49] psmanhas commented on #73860
@briglx Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-16 04:55] psmanhas commented on #73857
@wfschneider Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-16 04:56] psmanhas commented on #73857
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-04-16 05:04] AnuragSharma-MSFT commented on #73732
@aasis21 Could you please look into below thread and let us know if it helps?

[Azure sql database failover alert](https://docs.microsoft.com/en-us/answers/questions/69065/azure-sql-database-failover-alert.html)

[2021-04-16 05:19] CHEEKATLAPRADEEP-MSFT commented on #73831
@carrenomc  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2021-04-16 05:24] SnehaAgrawal-MSFT commented on #73859
@iyerusad Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-16 05:48] PramodValavala-MSFT commented on #73680
@pacorreia The [Azure Functions Python Library](https://github.com/Azure/azure-functions-python-library) would be the best place for it.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-16 05:48] #73680 closed

[2021-04-16 05:51] PramodValavala-MSFT commented on #73819
@benbelow Yes. That sounds about right. And since before the swap, the settings are all applied before warming up, there shouldn't be any other issues.

We have assigned this issue to the content author for further review and to update accordingly.

[2021-04-16 06:06] damienbod commented on #73507
Hi @erickuhn19 yes, thanks. The sample app works but this is not the issue here. I don't see any use cases for the sample app to be honest. I need to issue a vc using data not in the id_token but from the business. Creating vc from id_token claims makes no sense because you can not add extra claims to the tokens in Azure (maybe using a different IDP) and it does not make sense to add business clai

[2021-04-16 06:25] psmanhas commented on #71352
@brwilkinson Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-04-16 06:25] #71352 closed

[2021-04-16 06:25] rslavey commented on #13428
Can you tell me if there is any progress on this? I have a Cosmos DB Power Bi report that will not refresh.

[2021-04-16 06:28] PaloSP commented on #73380
@PramodValavala-MSFT Thank you for you response.. I will try mentioned Microsoft Q&A.

[2021-04-16 06:29] psmanhas commented on #71418
@ddobric Apologies for all the delay in response and all the inconvenience caused because of the issue since due to some medical emergency I was away for more than a month.

As per my last discussion with our internal team can you please help me understand if this Is a Windows container group? If so, we do not support metrics for Windows container groups currently.

If you are using Linux containe

[2021-04-16 06:29] PaloSP commented on #73380
@PramodValavala-MSFT Thank you for you response.. I will try mentioned Microsoft Q&A.

[2021-04-16 06:29] #73380 closed

[2021-04-16 06:31] jbm00n commented on #73808
Nothing further, thank you!

Regards
Jean-Baptiste

From: MayankBargali-MSFT ***@***.***>
Date: Friday, 16. April 2021 at 6.58
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jean-Baptiste Mounier ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing availability zones documentation (#73808)

@vladvino<https://github.com/vladvino> Thanks for pointing to the right documen

[2021-04-16 06:37] psmanhas commented on #70270
@chrisbloe Apologies for the delay in response since I was on medical emergency oof for more than a month so couldn't response back earlier.

I had discussion again internally and below is the update:

The auto renew for 2 years’ certs only happens for expired certs in production now. We will renew certs which is going to expire after 30 days, 60 days, 90 days etc. step by step in the next few wee

[2021-04-16 06:41] #73808 closed

[2021-04-16 06:44] CyrixLord opened #73870 "It is not clear what you mean by 'subscriptionName'. do you mean the azure subscription name? some sub/pub name you make up?"
It is not clear what you mean by 'subscriptionName'. do you mean my azure subscription name? some sub/pub name you make up? (both of these generated exceptions) my account name was 'pay-as-you-go'...
Sent a single message to topic: FlowerStatus
Sent a batch of 3 messages to the topic: FlowerStatus
Wait for a minute and then press any key to end the processing
Azure.Messaging.ServiceBus.ServiceBusE

[2021-04-16 06:45] CyrixLord commented on #73870
meh ill read more about pubsub from  stack overflow

[2021-04-16 06:45] #73870 closed

[2021-04-16 06:50] psmanhas commented on #71812
@larryclaman Apologies for the delay in response and all the inconvenience caused because of the issue since due to some unavoidable circumstances I was oof for more than a month.

I did some research and as mentioned [here ](https://github.com/MicrosoftDocs/azure-docs/issues/39508):

Cannot be done in an ARM template because this is a CLI client side change only. We enabled this in the CLI for cu

[2021-04-16 06:52] boris-tarasov-maersk commented on #73812
@SamaraSoucy-MSFT
Thanks a lot for a quick feedback. Much appreciated.
I will try your examples as soon as I have a bit of free time.

[2021-04-16 06:56] boris-tarasov-maersk commented on #73813
@SamaraSoucy-MSFT
Thank you again, for a timely response.

[2021-04-16 06:58] psmanhas commented on #73678
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-04-16 06:59] MAlin881 opened #73871 "WEBSITES_PORT and PORT"
Hi,

I have an issue with my vue app that I want to deploy, in a linux container, after setting WEBSITES_PORT=8080, and also the app runs on 8080.
Keep getting this issue:
 Container xxx didn't respond to HTTP pings on port: 8080, failing site start. See container logs for debugging.
And also /opt/startup/startup.sh: 29: /opt/startup/startup.sh: pm2: not found, when I had set at start pm2 serve /h

[2021-04-16 07:02] KalyanChanumolu-MSFT commented on #73570
@holc-tkomp We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-16 07:02] #73570 closed

[2021-04-16 07:07] stby4 commented on #17737
Yes, I can confirm that is happening again. Same error as @liliankasem, for me it happens with the followng task in a Microsoft hosted Ubuntu 20 VM:

[code]

[2021-04-16 07:13] lgayhardt commented on #73522
@cdonner Thank you for catching that, I will add the note to the doc. The change should go live tomorrow.

Thank you!

#please-close

[2021-04-16 07:13] #73522 closed

[2021-04-16 07:25] felixmondelo commented on #17737
I have the same problem since tonight (Agent Ubuntu 20 VM and with the same task, Generate Deployment Manifest)

[2021-04-16 07:28] stby4 commented on #17737
There is also an open issue in the azure pipeline tasks repo: https://github.com/microsoft/azure-pipelines-tasks/issues/14167#issuecomment-808256842 (just found it now, probably the correct place to report this problem)

[2021-04-16 07:53] abhijeet-MSFT opened #73872 "Typo in deprecation date"
The deprecation date should say April 1st, 2021 instead of April 1st 2024. This can also be referenced from https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-dirsync-deprecated#deprecation-schedule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Versi

[2021-04-16 08:03] federicorosso1993 commented on #73568
Ok I was able to confirm that I needed to delete all the localhost url from the web app to the "mobile and native" app for it to work without client_secret (I was testing it and I got multiple localhost location with multiple ports... I only deleted one localhost url from the web app part with one unique port).
You need to be sure to specify that in your docs because it is not clear that you canno

[2021-04-16 08:03] #73568 closed

[2021-04-16 08:06] MesyMacos opened #73873 "telegraf/cpu Metric Namespace not showing up"
I suspect that something is either missing or broken from the [Collect custom metrics for a Linux VM with the InfluxData Telegraf agent](https://docs.microsoft.com/en-us/Azure/azure-monitor/essentials/collect-custom-metrics-linux-telegraf#send-custom-metrics) article.

I followed through with the telegraf installation instructions on a test VM and can't find the telegraf namespace in azure.

![ima

[2021-04-16 08:09] anirbansaha96 opened #73874 "How to use the exported Model?"
I have exported and saved the model and obtained the following files:

[code]
How exactly do we consume the model with these model files?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa9db9e-bc31-35e6-a243-107276a37a5e
* Version Independent ID: 3ffb903f-6d42-6411-0478-2fab35e1f2df
* Content: [Quickstart: Anomaly dete

[2021-04-16 08:10] SwathiDhanwada-MSFT commented on #73873
@MesyMacos Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-16 08:50] savas-guven commented on #50919
@mike-urnun-msft -- how can we convert this into a feature request for the product?
I realize we filed this as a document issue; but the reality is this is a highly requested product feature?

[2021-04-16 08:57] arun-varma-dasari opened #73875 "Log analytics is returning no results"
I have created log analytics by following an article(https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor) and also i have setted up monitor and created Azure data factory analytics (preview) but it is returning no results.

![image](https://user-images.githubusercontent.com/82645500/114999729-07ec2200-9e9a-11eb-9cdb-a8e770ef82da.png)
![image](https://user-images.githubu

[2021-04-16 08:59] yeqing113 opened #73876 ""vnet contributor" roles should be changed to "network contributor" rols"
IN  chapter "Configure Private DNS Zone" https://docs.microsoft.com/en-us/azure/aks/private-clusters#configure-private-dns-zone:

`You will need the Resource Id of that Private DNS Zone going forward. Additionally, you will need a user assigned identity or service principal with at least the "private dns zone contributor" and "vnet contributor" roles.`

The "vnet contributor" roles should be chang

[2021-04-16 09:14] jcoolsen opened #73877 "Broken link"
There is a broken link towards the end of the page where a line says
"For more information, see the reference documentation for AcquireTokenForClient."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd30f7f-e5ce-67d5-2536-ee1d115a573d
* Version Independent ID: 6979c76f-48f2-1d2a-1358-ab1b6998bfd3
* Content: [Quickstar

[2021-04-16 09:24] jmprieur commented on #73877
Let's hold off on this one!
The generation of the reference documentation is broken at the moment. It should be fixed on April 20th.

[2021-04-16 09:25] jmprieur commented on #73877
#please-assign jmprieur

[2021-04-16 09:27] Trymzet commented on #18019
They use your external IP, and `ipconfig` shows your internal IP. To get your external IP, you can visit any of the "Show my IP" kind websites, or eg. use this python script:
[code]
or run `nslookup` for the special address `myip.opendns.com`:
`nslookup myip.opendns.com. resolver1.opendns.com`

[2021-04-16 09:28] SinAHal commented on #73838
I think I've found the setting while looking through the exported template of my resource group:

         {
            "type": "Microsoft.Sql/managedInstances/encryptionProtector",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('managedInstances_shared_sqlmi_live_name'), '/current')]",
            "dependsOn": [
                "[resourceId('Microsoft.Sql

[2021-04-16 09:28] KrishnaG-MSFT commented on #73650
@rockboyfor This document is recently updated a week ago and also AFAIK it cannot be moved to different resource group / subscription. Tagging @tfitzmac to help confirm & provide insights if any and enhance the document if required.

[2021-04-16 09:30] anubhav-beep opened #73878 "still do not see the AZ option in portal for location EastUS and WestUS!"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-16 09:31] anubhav-beep opened #73879 "option to add AZ is still not visible in portal for Premium tier!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb9d23f7-6741-bffa-af05-6efab2c633ed
* Version Independent ID: 43000c12-513e-5ae3-5ee8-12c6f676d628
* Content: [Availability zone support for Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/zone-redundancy?source=docs#suppo

[2021-04-16 09:40] RohitMungi-MSFT commented on #73806
@anirbansaha96 Our team is working to update the SDK's for the multivariate feature. Once the updated SDK is published this should work as expected. We apologize for the delay in publishing the SDK when the preview is available for use. You can use the REST API as a workaround if you would like to try the new feature.

[2021-04-16 09:47] robertdudus-shell opened #73880 "Can we have more than one glossary? I think Apache Atlas that Purview is based on can have many of them 🤔"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a006b62e-b3a3-18f9-cb26-1fd91b4cf9bd
* Version Independent ID: e9ab2116-d1eb-bf34-709a-667582372094
* Content: [Understand business glossary features in Azure Purview (preview) - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/concept-bu

[2021-04-16 09:48] ciph3rwoman opened #73881 "Lazy Indexing Policy??"
Hi,

Can you please elaborate what you mean by "Lazy Indexing policy"

![image](https://user-images.githubusercontent.com/32854599/115006636-3bac6380-9efd-11eb-8610-9397110c85fe.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 537a1f85-e37a-0de0-0423-1423e695165c
* Version Independent ID: 41516bb7-5315-ce14-9394-78d

[2021-04-16 09:53] KrishnaG-MSFT commented on #73814
@hnph12 Thanks for bringing this up. I was also able to reproduce the same i.e., backend query for the chart is with filter AlertSeverity values "Error", "Critical", "Warning"... However, the AlertSeverity parameter of Alert kusto table is actually tagged with number 1, 2, 3, 4… instead of critical, warning, information... So the query is not returning any result no matter what.

Tagging @bwren to

[2021-04-16 10:01] MayankBargali-MSFT commented on #73879
@anubhav-beep We are aware of this issue and we are working with the team. As it was a [recent announcement](https://azure.microsoft.com/en-us/updates/azure-api-management-support-for-availability-zones-now-generally-available/) that API Management now supports Availability Zones and as of now we don't see the option available from the portal. If you want to leverage the AZ then you can deploy it

[2021-04-16 10:01] psmanhas commented on #73876
@yeqing113 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-16 10:01] psmanhas commented on #73876
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-04-16 10:05] MayankBargali-MSFT commented on #73868
@rajanbhayana Looks like the option is not yet available from the Azure portal as I can see the same observation for other regions. I have reached out to my team and I will update you once I heard back from them.

[2021-04-16 10:08] MayankBargali-MSFT commented on #73878
@anubhav-beep I am closing this thread as duplicate MicrosoftDocs/azure-docs#73879

[2021-04-16 10:08] #73878 closed

[2021-04-16 10:09] RohitMungi-MSFT commented on #73874
@anirbansaha96 Thanks for the question. Our content team is currently reviewing the documentation. We will check if they could add more information on usage of exported models for this feature. Thanks.

[2021-04-16 10:10] asergaz commented on #48278
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-16 10:10] #48278 closed

[2021-04-16 10:24] Riff451 commented on #55059
I think this should be reopened as well because in general this feature is not documented properly (in my opinion), especially with regard of some of the limitations around that.

For example another couple of things I noticed:

- If you use a step in the first position of the journey different from the technical profile reading the objectId from the refresh token it returns an error: invalid_gran

[2021-04-16 10:34] SwathiDhanwada-MSFT commented on #73683
@Ostars-eye As we haven't heard from you, we will proceed to close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-16 10:34] #73683 closed

[2021-04-16 10:35] SwathiDhanwada-MSFT commented on #73658
@lgayhardt Can you please provide your inputs on this issue?

[2021-04-16 10:35] DoychinDoychev commented on #73772
@vladvino I have a follow up question - can you explain the role of a CNAME record in regards to custom domains, please.
Should I create a CNAME pointing to <apim>.azure-api.net and if so can you explain why do i need to setup a new custom gateway?

[2021-04-16 10:39] psmanhas commented on #73724
@Venky1141 Thank you for bringing it to our attention. I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-16 10:39] psmanhas commented on #73724
@macolso Can you please check and add your comments on this doc update request as applicable

[2021-04-16 10:39] DoychinDoychev commented on #73772
@vladvino i'm also unfamiliar with the implications of setting or unsetting "Negotiate client certificate" and "Default SSL binding".

[2021-04-16 10:48] psmanhas commented on #73820
@the-grayest The document is updated and changes will go live soon.

[2021-04-16 11:01] psmanhas commented on #73860
@macolso Can you please check and add your comments on this doc update request as applicable

[2021-04-16 11:06] thomasonsignup opened #73882 "Setting Azure AD Application Publisher Domain through API."
Hi all,

In reference to [issue 42454](https://github.com/MicrosoftDocs/azure-docs/issues/42454) any updates on this?

Setting publisher domain programmatically should be made available considering a method to set [Publisher Verification (MPN ID)](https://docs.microsoft.com/en-us/graph/api/application-setverifiedpublisher?view=graph-rest-1.0&tabs=http#http-request) is.

Considering the above steps

[2021-04-16 11:08] helderpinto opened #73883 "The link to the IBM QRadar DSM configuration docs is outdated (pointing to an unsupported version)"
In the [Partner tools with Azure Monitor integration](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/stream-monitoring-data-event-hubs#partner-tools-with-azure-monitor-integration) section, the link to the IBM QRadar DSM configuration docs is outdated. It takes us to version 7.3.0 which is now unsupported.

I am not sure about which docs page should be used here, but maybe this on

[2021-04-16 11:13] psmanhas commented on #73803
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-04-16 11:19] #73831 closed

[2021-04-16 11:49] yutaro113 opened #73884 "DNS Configuration for On Premise Scenario wanted to be enriched if those are possible."
In case connecting Private Endpoint of PaaS like App Service/Functions etc from On Premise via Express Route, is below DNS configuration possible? There may be the case who want to achieve private connection only by on-premise DNS configuration. (not using Azure Public & Private DNS)

・Add A record to resolve PaaS domain directly to its private IP.
![image](https://user-images.githubusercontent.co

[2021-04-16 12:02] MNF opened #73885 "Do you mean “Azure AD B2C Global administrators“?"
Is it a typo?
“Azure AD B2C Global readers do not have the same permissions as Azure AD global administrators.”
Do you mean “Azure AD B2C Global administrators“?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9558c0-abb6-24f8-81c8-9000b80539e8
* Version Independent ID: a4739135-863b-27bb-1f2e-cf297f21b4cc
* Content:

[2021-04-16 12:04] DeanGross opened #73886 "Incomplete instructions"
When I create a new workbook, there is a Settings (gear icon) that contains several categories (style, tags, pin, trusted hosts) that are not included in this tutorial. Please add some instructions so that we can learn how to configure these items.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb4585f-69fa-36ae-9a7f-

[2021-04-16 12:10] SarveshPandey opened #73887 "Powershell Script to create AzureAD Login is not working"
Powershell Script to create AzureAD Login is not working. Error message - 'a positional parameter cannot be found that accepts argument Enable-AzureADDirectoryRole'
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content

[2021-04-16 12:17] ssivas commented on #73885
@MNF , Thank you for your feedback . We will investigate and update the thread further.

[2021-04-16 12:19] Smurgl commented on #73828
Thanks Swathi. I will use that link in future.

[2021-04-16 12:22] SwathiDhanwada-MSFT commented on #73871
@MAlin881 Thanks for reaching out. Can you please share the Azure document that you are following so that I can redirect to appropriate team?

[2021-04-16 12:23] MNF opened #73888 "All non-guest users (see documentation) Link is not clear"
The row Create Azure AD B2C directories | All non-guest users (see documentation)
has link to the top of the page https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions
Is the purpose of the link to explain who are member users? If yes, link to section https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions#member-and-g

[2021-04-16 12:26] ssivas commented on #73872
@abhijeet-MSFT , Thank you for your feedback . We will investigate and update the thread further.

[2021-04-16 12:28] SwathiDhanwada-MSFT commented on #73883
@helderpinto Thanks for your feedback.

Assigning to content author @bwren for review.

[2021-04-16 12:30] v-smitev opened #73889 "this document is missleading"
[Enter feedback here]
Azure defoult life time for phase 1 is 28800, while configuration script that you can download from the portal or from ASA guide it show you 86400, this leads to random drop of the tunnel if the customer follow the guides as it is.

Azure Defoult polily:

Property | PolicyBased | RouteBased
-- | -- | --
IKE Version | IKEv1 | IKEv1 and IKEv2
Diffie-Hellman Group | Group 2 (102

[2021-04-16 12:39] jmprieur commented on #73877
@ssivas: is there a way to have a label to say it's blocked? or external?

[2021-04-16 12:49] ssivas commented on #73886
@DeanGross , Thank you for your feedback . We will investigate and update the thread further.

[2021-04-16 12:56] larryclaman commented on #71812
Thanks for the info.  It seems like it would be beneficial to provide an example of how to this on the page https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration
eg, yes, it is just a simple role assignment, but the tricky part is that you need to make that role assignment against the kubelet identity.
In other words, I am suggesting that the examples from [here](https:

[2021-04-16 12:59] #73604 closed

[2021-04-16 13:01] geoffbrucepayne opened #73890 "Guidelines for Node/Javascript unit test?"
Hello, my development is being done in Nodejs, it would be helpful to have some guidance in this area of unit test tools and considerations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55b7998-54f1-77f1-4e1b-4ef01a5daccc
* Version Independent ID: f7469430-00f8-0e03-de7d-e3b382fac427
* Content: [Azure Durable Functi

[2021-04-16 13:04] ssivas commented on #73885
@MNF,

No, these are two different default role present in Azure AD directory.

**Global administrator** : Can manage all aspects of Azure AD and Microsoft services that use Azure AD identities.
**Global reader** : Can read everything that a global administrator can, but not update anything.

[2021-04-16 13:07] wfschneider commented on #73858
The documentation for [New-AzGalleryImageVersion](https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azgalleryimageversion?view=azps-5.8.0) does not have `-Source`, it does have `-SourceImageId`.

[2021-04-16 13:14] GitaraniSharma-MSFT commented on #73889
@v-smitev , thank you for your feedback. We'll review this and get back to you shortly!

[2021-04-16 13:15] #73575 closed

[2021-04-16 13:16] PaulVrugt opened #73891 "Adding "per table" permissions for a custom role doesn't seem to work for custom log tables"
We have some custom log analytics tables that we fill via the data collector api. However, when trying to give a custom role permission to access a specific custom table, the role json validation fails because it doesn't recognize the custom table. When we replace the custom table with a builit-in table, the role can be created.

Are custom tables to permitted for per table permissions? The docume

[2021-04-16 13:37] SwathiDhanwada-MSFT commented on #73891
@PaulVrugt Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-16 13:38] mehtaAbhimanyu opened #73892 "Tutorial does not work for 2019 LTS"
[Enter feedback here]
Tested on: 2019LTS
MRTK: 2.6.1
AR Foundation: 3.1.3 (as recommended in the tutorial)
Windows Mixed Reality: 4.2.1
XR Plugin: 2.6.1
XR Plugin Management: 4.0.1

Azure Spatial Anchors SDK Core: 2.7.1
Azure Spatial Anchors SDK for Windows: 2.7.1 (As mentioned in the Azure Spatial Anchors tutorial)

Just get errors on importing the AR foundation package. Only one that is able to

[2021-04-16 13:39] ran-ten21 opened #73893 "Automation rule not clear"
[There are multiple customers thinking this is broken because it does not allow their normal playbooks to be used. It is not at all documented that the only playbooks that will work with the power automation rule is the azure sentinel incident trigger. It still shows the azure sentinel incident trigger to be in preview and so most of our customers aren't even using it. ]

---
#### Document Details

[2021-04-16 13:41] NBroomfield commented on #73310
Thanks, the following seems to have worked:

    helm template nginx-ingress ingress-nginx/ingress-nginx --namespace ingress-nginx-internal | kubectl delete -f -

This reports these begin delted, despite the helm chart being uninstalled:

    clusterrole.rbac.authorization.k8s.io "nginx-ingress-ingress-nginx" deleted
    clusterrolebinding.rbac.authorization.k8s.io "nginx-ingress-ingress-nginx" de

[2021-04-16 13:46] crisansou opened #73895 "How to select the datasets to be monitored using the studio web experience?"
Hello,

I'm trying to select the baseline and target datasets, but the following message is displayed: "There is no timeseries dataset, to enable drift monitor you need to create a timeseries dataset first".

![image](https://user-images.githubusercontent.com/29444086/115032456-b47cd280-9e9f-11eb-980f-71fda54c22f5.png)

Datasets have a datetime field. Can you guys check, please?

- Baseline

![ima

[2021-04-16 13:50] ragakar opened #73896 "Assessment not showing OS version with Service pack"
[Enter feedback here]

assessment report shows only operating system not service pack , we have selected all 3 OS ,OS version and OS dependency
in edit column

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2de1ed-faeb-a5c6-05aa-183b8818bab8
* Version Independent ID: 91118096-7111-033a-a0af-3e6665621ffb
* Content: [As

[2021-04-16 13:57] JeffBrownTech opened #73897 "Conflicting Information Regarding SQL Server on Azure VM"
In the **SQL Server on Azure VM** section, there is a statement that you do not have to manage upgrades, high availability, or backups (emphasis mine):

However, in the **Comparison table** section, the column for **SQL Server on Azure VM** has a conflicting statement:

Unless I'm misinterpreting the two sections, these statements seem in conflict and could use clarification.

---
#### Document De

[2021-04-16 13:58] ducalai opened #73898 "Secure a Restful service in Azure AD B2C with Custom Policy"
I use custom policies to add my own business logic to user journeys (signup and signin) by calling my RESTful service and interact with my database. That works great.

Now I want to protect my REST API endpoint with authentication and ensure only Azure AD B2C can make calls to my API. Therefore I am following your [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-r

[2021-04-16 14:01] MonikaReddy-MSFT commented on #73469
@maced12 - The built in RI table is refreshed to make sure all active data is within the 14 days limit. See the built in TI rules for examples on how to use.
For custom TI tables, and either use Watch lists which also refresh or, the if using a custom table, the use a Logic App to refresh the table periodically.

Hope this helps.
At this moment, Since there is no doc update required, We will now p

[2021-04-16 14:01] #73469 closed

[2021-04-16 14:06] jmprieur commented on #73008
@ericnyc646, this tutorial can be updated to net5.0 without changing anything. Just change the `FrameworkVersion` to `net5.0` instead of `netcoreapp3.1`.
ASP.Net Core 3.1 is stil the LTS (Long term support), so we are going to leave this quickstart as is

#please-close

[2021-04-16 14:06] #73008 closed

[2021-04-16 14:06] jmprieur commented on #72941
This is because the quickstart does not exist yet in the portal.

[2021-04-16 14:10] v-amallick commented on #72520
@Kirushk

Request you to please look into the issue.

[2021-04-16 14:10] v-amallick commented on #72520
#reassign:Kirushk

[2021-04-16 14:14] johnsonjohnpat commented on #73774
Thanks.  I think Markus V. is one of the authors.  I have contacted him.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: James ***@***.***>
Sent: Thursday, April 15, 2021 12:36 PM
To: ***@***.***>
Cc: John ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Cannot find view designer in log analytics (#73774)

@johnsonjohnpat<https://na01.safelin

[2021-04-16 14:18] Herman5006 commented on #72212
any update?

[2021-04-16 14:19] Smalls1652 commented on #73535
@curtand

No worries! Thanks for the update! 😄 I've been a little busy myself over the last week, but I was gonna try and help out when I got the chance.

[2021-04-16 14:21] RyanHill-MSFT commented on #73844
Not a problem. If you run into any issues @danl2019, feel free to reopen and tag me in your reply.

[2021-04-16 14:21] #73844 closed

[2021-04-16 14:21] KranthiPakala-MSFT commented on #73875
@arun-varma-dasari
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-04-16 14:23] SychevIgor opened #73899 "Create subscription part of the document - out-of-date"
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-administration#create-a-subscription
this part of the guide is outdated, because currently if press on "add subscription" user will be redirected on portal.azure.com to create it via it, not via ea.azure.com

please, modify this section to address current behavior

---
#### Document Details

⚠ *Do not edit this section

[2021-04-16 14:57] leifbro commented on #73708
Fixed. Thanks for point out the issue

[2021-04-16 15:09] RyanHill-MSFT commented on #73583
@codebeaulieu let us know if run into issues using `Xamarin.Azure.NotificationHubs.Android` down below. That package is mentioned in [step 5e](https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm#create-visual-studio-project-and-add-nuget-packages).

[2021-04-16 15:09] #73583 closed

[2021-04-16 15:15] sor3si commented on #20737
Both workarroounds did not work for me, apparently I can't get hold of an abandoned nic. Even if I deployed for same networkProfile, another nic shows up. Abandoned nic can't be deleted.

[2021-04-16 15:29] SumanthMarigowda commented on #73865
@jolauMSFT Thanks for the question! We are investigating and will update you shortly.

[2021-04-16 15:34] BharathNimmala-MSFT commented on #73899
@SychevIgor Thanks a lot for bringing this to our notice, we will review and update the document accordingly.

[2021-04-16 15:35] BharathNimmala-MSFT commented on #73896
@ragakar Thank you for reaching out with your query, our team will review it and get back to you accordingly.

[2021-04-16 15:43] bandersmsft commented on #73899
@SychevIgor I'm investigating this with the EA billing team. When I have more info, I'll update the article as needed and reply to you here.

[2021-04-16 15:59] mexmirror commented on #73799
Have a look here: https://docs.microsoft.com/en-us/answers/questions/23675/oauth-obo-flow-azure-ad.html?sort=oldest

tl;dr: Change the Application ID URI (int the App Registration > Expose an API) to api://your-name or https://your-name, and potentially reimport the metadata into SAP:

[2021-04-16 15:59] SaiKishor-MSFT commented on #73884
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-16 15:59] SaiKishor-MSFT commented on #73884
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-16 16:10] mikeatandersen opened #73903 "https://aka.ms/azfw-webcategories-request permissions issue"
Hi, the link provided to request categorization updates gives an error: https://aka.ms/azfw-webcategories-request

"You don't have permission to view or respond to this form"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef38298-89c0-6c77-fb9d-7bf6bd5dc030
* Version Independent ID: 335d7b03-3e6f-61b6-fe19-19441c1b6b3

[2021-04-16 16:15] srandal opened #73904 "The "Usage considerations" section does not accurately describe the current behavior of the regex engine"
Currently it's not possible for a regular expression to match only part of a word, so the first example matches "one" but not "phone" even without specifying word boundaries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01a9f380-18ed-4399-6255-0b4f7d686e40
* Version Independent ID: 5c384079-9c84-0615-c581-1b43d57aac0

[2021-04-16 16:19] tdaoxom opened #73905 "Unclear of what logging data is written to each option"
The article talks about 3 options to log: Storage Account, Log Analytics, and Event Hub. However it is unclear whether the same kind of data is logged to all 3 options or they will be different kinds of data. If they are different, please specify how they are different. This extra clarification will help consumers like us to decide whether to use just one of the 3 options or more than 1.

---
####

[2021-04-16 16:20] Oury-MSFT commented on #73897
@JeffBrownTech Thank you for the feedback. We are looking into this and will get back shortly.

[2021-04-16 16:34] MarileeTurscak-MSFT commented on #73888
@MNF
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-16 16:38] grayjeremy opened #73906 "Grant access at billing account level"
Can we add an example that describes how to do this at the billing account level or something more granular than the whole enrollment.  We are using this to create subscriptions in a devops pipeline and would like to give the service principal the least privilege possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-16 16:40] b5white commented on #60336
@tamram

On this page?
https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-enable?tabs=portal
or this one
https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview?

Searching for register and registration return nothing on those pages.

Thanks,
Brad.

[2021-04-16 16:44] himanshusinha-msft commented on #73611
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-04-16 16:45] #73660 closed

[2021-04-16 16:49] MarileeTurscak-MSFT commented on #73888
Thank you, @MNF. I agree that this makes and made a pull request to update the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/154712

@rolyon please review.

[2021-04-16 16:49] #73888 closed

[2021-04-16 16:51] mimckitt commented on #70020
We have some changes coming to the VMSS/ VM space early next month that should address this.

#please-close

[2021-04-16 16:51] #70020 closed

[2021-04-16 16:55] Karishma-Tiwari-MSFT commented on #73862
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-16 16:57] Karishma-Tiwari-MSFT commented on #73870
Thanks for sharing the update.

[2021-04-16 17:09] CyrixLord commented on #73870
No worries, I got the topic part right, but forgot to use azure to create a message subscription in azure as well after the topic was made.  Thats why I got confused as to what Subscription meant'. It meant a message subscription that you are using for your azure service hub.

________________________________
From: Karishma Tiwari - MSFT ***@***.***>
Sent: Friday, April 16, 2021 9:58 AM
To: Micros

[2021-04-16 17:11] Karishma-Tiwari-MSFT commented on #73881
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-16 17:13] Karishma-Tiwari-MSFT commented on #73880
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-16 17:15] SatishBoddu-MSFT commented on #73892
@mehtaAbhimanyu Thanks for the feedback!
I have assigned the issue to the SME for further review.

[2021-04-16 17:17] SumanthMarigowda commented on #73610
@trailmax  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-16 17:23] jmprieur commented on #73877
@mmacy: same issue with the reference library

[2021-04-16 17:25] MarileeTurscak-MSFT commented on #73898
@ducalai
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-16 17:28] panabaker opened #73907 "can you be a "Service Administrator or do you need to be an Owner or Contributor?"
When I went to check my Azure Account I showed up as a "Service Administrator" and not an Owner or a Contributor.  Is that OK or do I need to add myself as an "Owner" explicitly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c07e2424-5c70-160d-2f40-55b27367bcdc
* Version Independent ID: 1d18e693-b105-5be6-2eaa-7f07c6e

[2021-04-16 17:29] vladvino commented on #73772
@DoychinDoychev thank you for the detailed feedback. We will review it carefully and improve the docs and experience accordingly.

You should consider turning on "Negotiate client certificate" if you plan to employ client certificate authetication - see https://docs.microsoft.com/en-us/azure/api-management/configure-custom-domain#support-for-putpost-request-with-large-payload.

"Default SSL bindin

[2021-04-16 17:31] YutongTie-MSFT commented on #73895
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-16 17:32] YutongTie-MSFT commented on #73904
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-16 17:53] #73872 closed

[2021-04-16 17:53] abhijeet-MSFT commented on #73872
For some confirmation. This is correct and is part of 3 year retirement period

[2021-04-16 17:55] ssivas commented on #73603
Hello @henrypi73 ,

Thanks for reaching out.

You only get to see this option when active Azure AD premium license associated. Alternatively, you could manage "remember multi-factor authentication settings" either by going to **Users** Menu from Azure AD, click on **Multi-Factor Authentication** and **Service Settings** as shown below (OR)  directly going to Mfa setting from https://account.active

[2021-04-16 17:55] #73603 closed

[2021-04-16 17:57] ssivas commented on #73872
thanks for confirmation.
#please-close

[2021-04-16 17:59] bandersmsft commented on #73906
@grayjeremy Is https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/assign-roles-azure-service-principals what you're looking for?

[2021-04-16 18:01] micahl opened #73909 "Module identity and module twin is in public preview???"
The _Note_ in the first section says that "Module identity and module twin is in public preview. Below feature will be supported on module identity when it's general available."  This must be out-of-date given that IoT Edge and PnP are both GA.  IoT Edge directly relies on module identity and module twin.  The SDKs include support for PnP with modules.  It's also not clear what "Below feature" is

[2021-04-16 18:18] SumanthMarigowda commented on #73800
@xps233 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[Troubleshoot Azure Files pr

[2021-04-16 18:25] SubhashVasarapu-MSFT commented on #73903
@Mikeatandersen, Thanks for reaching out. We will investigate and update this thread.

[2021-04-16 18:35] tameraw opened #73910 "Consider rerouting link under next steps"
Consider rerouting the link under next steps to link directly to the first article in the GitHub page, instead of the top of the github page which shows the folders:

So, consider linking to this:
https://github.com/azure-rtos/getting-started#getting-started-with-azure-rtos-and-azure-iot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-04-16 18:39] krishnaji opened #73911 "Update the document with details about IPs"
Is it possible to update the docs with [this ](https://github.com/MicrosoftDocs/azure-docs/issues/51398#issuecomment-606886782) comment from @tfitzmac about IP addresses.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1ba2ff-7845-f68c-5722-05909b8afccb
* Version Independent ID: d2cd518a-7313-1918-fa7f-589a6bc6515a
* C

[2021-04-16 18:39] bandersmsft commented on #73906
@grayjeremy I think the link I posted previously is just what you're looking for, so I'll close the issue.
#please-close

[2021-04-16 18:39] #73906 closed

[2021-04-16 18:41] ramya-rao-a opened #73912 "Managed identities page for Service Bus still uses the older WindowsAzure.ServiceBus package"
The sample linked in https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity#run-the-app uses the very old WindowsAzure.ServiceBus package. There have been 2 new packages for Service Bus that have been released after this. While https://github.com/Azure-Samples/app-service-msi-servicebus-dotnet/pull/6 ensures we update the sample itself, the text in this p

[2021-04-16 18:45] tomkroening opened #73913 "Broken Link"
The link to NYCTripSmall.parquet no longer works. Please update this to the new location. Looks like it is here

https://azuresynapsestorage.blob.core.windows.net/sampledata/NYCTaxiSmall/NYCTripSmall.parquet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd3e66e-a012-dd40-34f3-1e84865605bc
* Version Independent ID: d0

[2021-04-16 19:05] tameraw opened #73914 "Link for IoT Explorer"
Consider linking the IoT Explorer to  https://github.com/Azure/azure-iot-explorer#azure-iot-explorer-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4df6937-2b4e-f394-dce3-e6b7059c64cf
* Version Independent ID: 1395c0c4-a50a-f122-593a-adec4b50b393
* Content: [Learn about connection options for Azure IoT device

[2021-04-16 19:06] tameraw opened #73915 "Reordering of tools used"
In reference to this table:
https://docs.microsoft.com/en-us/azure/iot-develop/concepts-overview-connection-options#tools-to-connect-and-manage-devices

Consider placing IoT Explorer towards the top of the list (after Central & Hub).
In my humble opinion it would be easier to use then thru VS Code for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-04-16 19:40] ryanhofdotgov opened #73917 "Private endpoints, advanced threat protection is available in US Government cloud"
The section for [Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure#azure-database-for-postgresql) says that Private Endpoints and Advanced Threat Protection are not available for US Government cloud.

However, both of those options appear in the portal.azure.us left pane for Azure Database for PostgreSQL resources. And this

[2021-04-16 19:46] tfitzmac commented on #73838
@SinAHal - glad to hear you found a solution. It looks like that resource type and properties are [documented here](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/managedinstances/encryptionprotector?tabs=json) so I'll close this issue.
#please-close

[2021-04-16 19:46] #73838 closed

[2021-04-16 19:49] SanDeo-MSFT commented on #52404
This is already documented and so closing the issue.

[2021-04-16 19:53] #52404 closed

[2021-04-16 19:55] gllebede commented on #73899
Thank you for reporting the issue.

ASA SDK 2.7.1 is not compatible with the XR Plugin Framework. The ASA SDK you are targeting is compatible with Unity 2019 LTS, ARCore and ARKit XR Plugins version 3.1.3 and Windows Mixed Reality 4.2.1. May I ask you to remove XR Plugin Management (it may ask to remove other packages first) and try to install platform-depended package?

HoloLens – [Windows Mixed

[2021-04-16 19:57] MarileeTurscak-MSFT commented on #73893
@ran-ten21
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-16 19:58] MarileeTurscak-MSFT commented on #73887
@SarveshPandey
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-16 20:17] stscholz914 opened #73919 "Very confusing for the Defender for Endpoint section"
[Enter feedback here]
The following needs clarification or rewording the way it is written it leads customers to believe that Microsoft Defender for Endpoint in Azure Defender is for Windows only.

Integrated license for Microsoft Defender for Endpoint **(_Windows only_)** - Azure Defender for servers includes Microsoft Defender for Endpoint. Together, they provide comprehensive endpoint detection

[2021-04-16 20:18] SanDeo-MSFT commented on #55187
@ruairidhlc Have you looked at controlled validation of hybrid Azure AD join - https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-control. You can either remove SCP from AD if you want to disable hybrid Azure AD join broadly or if you want to just disable it for selective devices/Computer OUs you can use client side SCP override and put an invalid domain and those

[2021-04-16 20:18] SanDeo-MSFT commented on #55187
Closing this as no new information to add here.
#please-close

[2021-04-16 20:18] #55187 closed

[2021-04-16 20:23] RavennMSFT commented on #65760
@ianc911 Signing into Teams isnt predicated by Azure AD registered state. It's based on policies governing access to Teams requiring a device to be compliant. If you are on pre-Win10 1803 (which btw is out of support ) and need to hybrid Azure AD join your devices, we strongly recommend to remove the Azure AD registered state so that you dont encounter authentication issues.

[2021-04-16 20:25] RavennMSFT commented on #73519
Thanks @alexbaker94 , we'll review this as part of our docs planning

[2021-04-16 20:26] MicrosoftGuyJFlo commented on #52404
#assign @SanDeo-MSFT

[2021-04-16 20:27] RavennMSFT commented on #72729
This has been addressed. Pls close

[2021-04-16 20:31] mmacy commented on #73877
@jmprieur Good question. I recommend we keep it open to remind us to check it on TUE 20 APR 2021 and then close it when the ENG bug below is resolved. I've added the DOCS issue to track the additional work required to light up all the platform types.

Regarding **labels** - we can now [label issues by using hashtag comments](https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to

[2021-04-16 20:37] MicrosoftGuyJFlo commented on #73663
#reassign @MicrosoftGuyJFlo

[2021-04-16 20:40] #73663 closed

[2021-04-16 20:41] MicrosoftGuyJFlo commented on #73015
Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/154672

[2021-04-16 20:41] MicrosoftGuyJFlo commented on #73015
#please-close

[2021-04-16 20:41] #73015 closed

[2021-04-16 20:48] timlt commented on #73910
#assign:timlt
#label:"assigned-to-author"
#label:"triaged"

[2021-04-16 20:49] timlt commented on #73910
Thank you for your feedback and interest in docs.  The link is updated per your request, the change merged and should publish this afternoon or Monday.

#please-close

[2021-04-16 20:49] #73910 closed

[2021-04-16 20:50] timlt commented on #73914
#assign:timlt
#label:"assigned-to-author"
#label:"doc-enhancement"
#label:"triaged"

[2021-04-16 20:50] timlt commented on #73914
Thank you for your feedback and interest in docs.  The link is updated per your request, the changed merged and should publish this afternoon or Monday.

#please-close

[2021-04-16 20:50] #73914 closed

[2021-04-16 20:51] timlt commented on #73915
#assign:timlt
#label:"assigned-to-author"
#label:"doc-enhancement"
#label:"triaged"

[2021-04-16 20:51] timlt commented on #73915
Thank you for your feedback and interest in docs.  The link is updated per your request, the changed merged and should publish this afternoon or Monday.

#please-close

[2021-04-16 20:51] #73915 closed

[2021-04-16 20:52] timlt commented on #73377
#please-close

[2021-04-16 21:10] ahalabi opened #73922 "The exercise does not work"
Hello,

I followed the instructions and got the ADF pipeline to run successfully, but it did not work, because on the databricks side i did not see job cluster created or any activities.

thanks!
Abdel
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-

[2021-04-16 21:11] CIPop opened #73923 "Group Enrollment is missing az cli command to derive a device key"
Instead of having only the C# code for Group Enrollments with Symmetric Key we should point out the existence of the following Azure IOT CLI command:

https://docs.microsoft.com/en-us/cli/azure/iot/dps?view=azure-cli-latest#az_iot_dps_compute_device_key

(Within the https://docs.microsoft.com/en-us/azure/iot-dps/concepts-symmetric-key-attestation#group-enrollments paragraph.)

---
#### Document De

[2021-04-16 21:13] KranthiPakala-MSFT commented on #73913
@tomkroening Thanks for the feedback. Please follow this section of the document which is has the instruction on how to download the sample data file and load it to your Gen2 container. https://docs.microsoft.com/azure/synapse-analytics/get-started-create-workspace#place-sample-data-into-the-primary-storage-account

![image](https://user-images.githubusercontent.com/50185738/115084506-e1d87900-9eb

[2021-04-16 21:14] wesmc7777 commented on #73923
@CIPop Great point!  I'll add this

[2021-04-16 21:32] KranthiPakala-MSFT commented on #73922
@ahalabi
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-04-16 21:37] KranthiPakala-MSFT commented on #73708
Thanks for the quick fix @leifbro

@BradLeeHines-ST Thanks for the feedback and bringing this our attention. The link have been updated.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-04-16 21:37] #73708 closed

[2021-04-16 21:48] kgremban commented on #65150
Closing for lack of activity.

#please-close

[2021-04-16 21:48] #65150 closed

[2021-04-16 21:54] vick-git commented on #60336
@b5white , it has been changed now from register to enable:
![image](https://user-images.githubusercontent.com/57968021/115087760-a771da80-9ec3-11eb-8ebb-b0e2b75403d7.png)

[2021-04-16 22:00] Tapan1684 opened #73926 "RDAGent Version not available"
[Enter feedback here]
 the current RDAGent available in WVD Session host and in Microsoft site is RDAgent version -1.0.2866.1500  not 1.0.2944.400 . Where can find the version mention on the article ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406f8b6d-6471-c983-c102-9d60a57964cd
* Version Independent ID: 98fa8587-

[2021-04-16 22:10] mike-urnun-msft commented on #73890
@geoffbrucepayne Thank you for your feedback! We will review and update as appropriate.

[2021-04-16 22:14] mike-urnun-msft commented on #73912
Thanks for opening this issue and providing context, @ramya-rao-a! Assigning to @spelluru @JoshLove-msft for now.

[2021-04-16 22:25] kgremban commented on #73567
@SeryioGonzalez Following up after Satish's message. Could you elaborate on what kind of information you're looking for about the .env file?

[2021-04-16 22:27] femsulu commented on #73896
Hello @rashi-ms  - is this expected behavior with Azure Migrate assesment report? looking fwd to your response.

[2021-04-16 22:32] BharathNimmala-MSFT commented on #73911
@krishnaji Thanks a lot for bringing this to attention, we will work on this and get back to you at the earliest.

[2021-04-16 22:55] kgremban commented on #73688
@oliverchristen I'm looking into your question and will update you when I get an answer. Thanks!

[2021-04-16 23:12] kgremban commented on #71990
Thanks for confirming, I will close this now.

#please-close

[2021-04-16 23:12] #71990 closed

[2021-04-16 23:14] kgremban commented on #71852
Thanks for letting us know.

#please-close

[2021-04-16 23:14] #71852 closed

[2021-04-16 23:21] kobulloc-MSFT commented on #73830
@dohughes-msft I've sent a request to have the screenshot updated and that change should go live shortly:

![image](https://user-images.githubusercontent.com/37556655/115093592-bced0180-9ecf-11eb-976d-9d4c7a1be2a8.png)

[2021-04-16 23:53] BharathNimmala-MSFT commented on #73911
@krishnaji  Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to incorporate the feedback and once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now,

[2021-04-16 23:53] #73911 closed

[2021-04-16 23:55] BharathNimmala-MSFT commented on #73687
@afelthe  Sorry, since we have not heard back from you we will now proceed to close this thread. Please feel free to revert back with the documentation link and we can help direct you accordingly.  If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-16 23:55] #73687 closed

[2021-04-17 00:01] BharathNimmala-MSFT commented on #73766
Thank you @santhoshbomma9 for follow up query and offline discussion on this.

Basically below is the lifecycle

- saas offer purchased -> it takes some days to fulfill this order
- Once the order is fulfilled, that's the day when the SaaS offer is activated
- The day that order is fulfilled is the date that we have in purchaseDate

Hope this information helps, please circle back if you have any f

[2021-04-17 00:32] NavtejSaini-MSFT commented on #73881
@ciph3rwoman Please find the document which explains this in detail - https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy#indexing-mode
![image](https://user-images.githubusercontent.com/52257742/115096393-dfdcdd00-9ef2-11eb-823d-ccdf696eb644.png)

[2021-04-17 00:54] SanDeo-MSFT commented on #55263
@DOMZE The MDM user scope settings has no impact here. Can you provide clarity on how are you installing the extension?

[2021-04-17 00:59] SanDeo-MSFT commented on #56322
@iaasazure We already call out that System Identity needs to be enabled on the VM. We also mention and show that using az vm create before the extension installation steps. Additionally, if you enable Azure AD sign in from Azure portal we set it implicitly and you can see in the UX under Management tab. You cannot assign System Identity as part of az vm extension set.
#please-close

[2021-04-17 00:59] #56322 closed

[2021-04-17 01:25] michael-freidgeim-webjet commented on #73885
Of course reader and administrator are different. And no one will write the statement that they are different because it's obvious.
I think that the purpose of the sentence was to highlight the difference between administrators in Azure AD B2C and Azure AD

[2021-04-17 01:30] ciph3rwoman commented on #73881
Thanks for that - the term is MSFT relevant for Cosmo DB indexing.
Closing this.

[2021-04-17 01:30] #73881 closed

[2021-04-17 01:51] SatishBoddu-MSFT commented on #73909
Hello @micahl
I have assigned the issue to the content author for further review .

[2021-04-17 01:54] SatishBoddu-MSFT commented on #73907
Hello @panabaker Thanks for the question, we will update you on this!

[2021-04-17 02:11] Karishma-Tiwari-MSFT commented on #73905
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-17 02:13] Karishma-Tiwari-MSFT commented on #73917
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-17 02:15] Karishma-Tiwari-MSFT commented on #73919
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-17 02:16] Karishma-Tiwari-MSFT commented on #72462
We will now close this issue. Please let me know if you are still seeing the issue and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-17 02:16] #72462 closed

[2021-04-17 02:18] Karishma-Tiwari-MSFT commented on #72972
Yes, there are limitations to this as it is in Preview. However, I will share this feedback with the product team.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-04-17 02:18] #72972 closed

[2021-04-17 02:18] Karishma-Tiwari-MSFT commented on #73926
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-17 02:19] Karishma-Tiwari-MSFT commented on #73677
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-17 06:04] #53339 closed

[2021-04-17 07:25] BraydonZhao opened #73932 "In this picture the scope of classic administrators is not correct."
[Enter feedback here]
The scope of classic administrators is management group level, not subscription level as described in this picture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription ad

[2021-04-17 08:26] its-phil commented on #73377
Thanks for clearing that up! Issue can be closed.

[2021-04-17 12:05] SwathiDhanwada-MSFT commented on #73932
@BraydonZhao Thanks for your feedback.

Assigning to content author @rolyon for  review.

[2021-04-17 13:48] MoeJw opened #73933 "Microsoft.OperationsManagement/solutions"
there are two types of solutions Microsoft.OperationsManagement/solutions  arm template, solutions  authored by Microsoft and  by third parties for

for instance by Microsoft  LogicAppsManagemen
[code]
and by third parties AzureWebAppsAnalytics
[code]
Can't find any docs that list all these  solutions, can you please help me.

[2021-04-17 15:12] jasonmellone opened #73935 "search_url is out of date"
search_url = "https://api.cognitive.microsoft.com/bing/v7.0/search" is out of date should be

search_url = "https://api.bing.microsoft.com/v7.0/search"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f510475-89f7-1c27-740d-59f50f294357
* Version Independent ID: 96193052-bccc-8261-3fae-7ea6751b4744
* Content: [Quickstart

[2021-04-17 15:13] DeanGross opened #73936 "Provide more examples"
There is an example of what we can expect to see when the parameter is in the Pills style. Please provide examples for each of the other styles - standard, form horizontal and form vertical. This will help us know what to expect and decrease the amount of trial and error.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2021-04-17 15:50] yohanb opened #73937 "Suggested 'nginx-ingress' helm chart is deprecated"
The [suggested helm chart here](https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip#create-an-ingress-controller) is deprecated in favor of [ingress-nginx](https://kubernetes.github.io/ingress-nginx).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf9c2f3-caeb-0fb1-f089-3f7ca4fad729
* Version Independent ID

[2021-04-17 16:26] Karishma-Tiwari-MSFT commented on #73933
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-17 16:27] Karishma-Tiwari-MSFT commented on #73935
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-17 16:27] Karishma-Tiwari-MSFT commented on #73936
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-17 16:29] jasonmellone commented on #73935
Okay

On Sat, Apr 17, 2021, 12:27 Karishma Tiwari - MSFT ***@***.***>
wrote:

[2021-04-17 16:30] Karishma-Tiwari-MSFT commented on #73937
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-17 17:38] JimParsons opened #73939 "Broken Link - 404 Error - https://github.com/MicrosoftDocs/azure-docs/blob/master/windows-server/remote/remote-desktop-services/rds-deploy-infrastructure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-04-17 17:45] jmandel opened #73940 ""az aks create" fails"
I ran into the same issue described at https://github.com/MicrosoftDocs/azure-docs/issues/45485, with the current tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart: Deploy an AKS cluster by u

[2021-04-17 18:26] DeanGross opened #73941 "Unhelpful links"
The links that point to Enable MCAS integration with Defender for Identity don't point to a helpful page,. Please change them to point to https://docs.microsoft.com/en-us/cloud-app-security/mdi-integration so that the correct information is more easily obtained.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 269150d4-51

[2021-04-17 19:51] DeanGross opened #73943 "How to add a workbook from GitHub"
I came to this page hoping to find some instructions about how to add an existing sentinel workbook from github to my tenant but this is not addressed in the tutorial. I'd like to request that this be added.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb4585f-69fa-36ae-9a7f-ce33725d8baa
* Version Independen

[2021-04-17 20:47] drmanhatin commented on #73671
Send me a message on t-vsanner through teams if you need any help regarding this, happy to help.

[2021-04-17 23:23] academMisfit opened #73945 "spx"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* Content: [Speech-to-text quickstart - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-ser

[2021-04-18 00:52] Karishma-Tiwari-MSFT commented on #73940
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-18 01:01] Karishma-Tiwari-MSFT commented on #73941
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-18 01:03] Karishma-Tiwari-MSFT commented on #73943
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-18 01:04] Karishma-Tiwari-MSFT commented on #73945
Can you please elaborate on your ask on this GitHub issue. Do you have any suggestion for the doc update? Let me know. Thanks.

[2021-04-18 01:06] Karishma-Tiwari-MSFT commented on #73939
Thanks for your feedback.. Please provide us with the link to the documentation you are referring to so we can better assist.

[2021-04-18 01:27] wangzheng0310 opened #73947 "cannot disconnect from a compute instance in VS Code once connected"
I successfully connected to a compute instance in VS Code.
However, I cannot disconnect from the compute instance and switch to other machines.

I tried the command "Azure ML: Kill VS Code Server on compute instance" and it didn't work. VS Code keep trying reconnecting to the remote server and output the error "Failed to forward incoming connection to remote server: Unexpected server response: 406

[2021-04-18 01:28] DOMZE commented on #55263
Using PowerShell or through ARM. Either or, it fails. I had a ticket opened with the support and turning it off, I was able to install the extension

[2021-04-18 01:40] wangzheng0310 opened #73948 "cannot disconnect from a compute instance in VS Code once connected"
I successfully connected to a compute instance from VS Code.
However, I cannot disconnect from it or switch to local or other remote machines in VS Code.

I tried the command "Azure ML: Kill VS Code Server on Compute Instance" and it didn't work.
VS Code keeps "attempting to reconnect" and raising the error "Failed to forward incoming connection to remote server: Unexpected server response: 406".

[2021-04-18 01:54] gfaraj commented on #47611
Hey @RyanHill-MSFT - I upgraded to the new Authentication configuration in the portal and now it's saying that I need to modify 'configFilePath':

![image](https://user-images.githubusercontent.com/2772908/115131524-614d7180-9fbe-11eb-9b74-c963fa913b13.png)

Clicking that takes me to a section for setting up file-configuration, so I assume it means I need to update 'authFilePath' to empty string a

[2021-04-18 02:04] gfaraj commented on #47611
@RyanHill-MSFT I found what 'configFilePath' meant, which was located in the /config/web object, so I cleared it. I thought v2 had Apple support but it looks like it still doesn't?? I know the upgrade tool said it was not reversible, but is there any way to go back to my v1 file configuration? Or is there a way to configure an Apple provider through v2? If not, any ETA on that?

[2021-04-18 02:20] RyanHill-MSFT commented on #47611
@gfaraj using Apple as a provider is down through a config file, not the UI. See https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-apple on steps for creating the auth.json and setting it to be used by your app service. Let me know if you run into any issues for if something isn't clear.

[2021-04-18 03:35] gfaraj commented on #47611
@RyanHill-MSFT Yep, I had all that set up through a file, but I mistakenly upgraded to v2 and now I don't know how to go back to V1/config file. Any pointers?

[2021-04-18 05:42] mbpf1090 opened #73949 "Python client producer timeout"
The Python script for the producer results in a timeout after 60sec.
The fix was to set the **auto.create.topics.enable to true** in the Advanced kafka-broker section.
Should be part of the setup, as  the default value seems to be **false**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b7ef6f-c859-a713-d230-3c0b1a5

[2021-04-18 07:09] msrajashekhar commented on #12824
I get the same problem. Edit Meta Data is not helping. Can you tell me how I convert String feature to Numeric?.
![Error](https://user-images.githubusercontent.com/78077332/115137329-2a6d6f00-a043-11eb-9c71-55f8e87e0744.png)

[2021-04-18 07:15] MKBahuguna opened #73950 "I am not getting all the folders"
[Enter feedback here]

Hi,

I have a directory in my ADLS in which I have some folders and inside folders, I have some parquet files.
when I call this listFiles(basep: String, globp: String) in my ADB notebook I noticed that it is not going inside all the folders in a directory so the result of that is I am missing those folders and their files now I am surprised why it's happening, why it's skipp

[2021-04-18 07:37] DoychinDoychev commented on #73772
Thank you @vladvino

Is it correct to understand this documentation as follows - If my payloads are bigger than 40kb, e.g. if i do file uploads then i'll need this setting turned on?

Ok, so if i only have https://<default-domain>.azure-api.net and one custom domain, such as https://apis.customdomain.com this setting should be turned off. Is this correct?

Here is what i want to do - I want to use

[2021-04-18 10:07] SwathiDhanwada-MSFT commented on #73950
@MKBahuguna Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-18 10:08] SwathiDhanwada-MSFT commented on #73949
@mbpf1090 Thanks for reaching out. We will review the issue and get back to you shortly.

[2021-04-18 10:10] SwathiDhanwada-MSFT commented on #73947
@wangzheng0310 Closing this issue as duplicate of #73948.

[2021-04-18 10:10] #73947 closed

[2021-04-18 10:11] SwathiDhanwada-MSFT commented on #73948
@wangzheng0310 Thanks for reaching out. We will review the issue and get back to you shortly

[2021-04-18 10:16] SwathiDhanwada-MSFT commented on #73917
Assigning to content author @stevevi for review and inputs.

[2021-04-18 10:18] GuillaumeLab commented on #43899
any progress in here ?

[2021-04-18 12:19] ahamedm commented on #50248
I've tried 2 root-CA `ECDSA 256 bits` and `RSA 4096 bits`. In both cases, only client private key with `4096 size RSA` keys works.

Linux strongSwan U5.8.2/K5.8.0-49-generic
University of Applied Sciences Rapperswil, Switzerland

Linux dlab101 5.8.0-49-generic #55~20.04.1-Ubuntu SMP Fri Mar 26 01:01:07 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-04-18 14:36] lissff opened #73953 "we need clusterRole to view namespaces in AKS dashboard for AAD enabled cluster"
[Enter feedback here]
"
Namespaces displays the namespaces of your cluster. The filter at the top of the namespace list provides a quick way to filter and display your namespace resources
"

For AAD enabled AKS, if we need to view/edit 'namespaces' in AKS dashboard, is clusterRole a must?
If we only have permission for certain namespaces via role and rolebinding, it seems like we cannot see any na

[2021-04-18 14:41] hkelley opened #73954 "Powershell Get-AzPublicIpAddress example is unclear about how to get public IP for a specific VM"
Under Powershell bullet 3, you should clarify that the _myVMPublicIP_ value actually needs to be extracted from the interface.IpConfigurations.PublicIpAddress.Id  in the prior step.
[code]

This seems to work  (but surely there is a simpler way):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ed0959-d7e8-a27b

[2021-04-18 14:44] VladislavKabachnyi opened #73955 "'WITH' keyword is missed in CTAS statement for #stats_ddl"
Obviously cte t1 is supposed to be declared there

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee18deab-78f8-757b-eb4b-6717c7809595
* Version Independent ID: 202d83ce-0f47-d6ec-02a3-bb46b1460ad8
* Content: [Use temporary tables in Synapse SQL - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-a

[2021-04-18 15:00] RyanHill-MSFT commented on #47611
The file isn't versioned. V2 more than likely is referring to the [config file](https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#enabling-file-based-configuration). Under Diagnose and solve problems, search for _Easy Auth_, you see any config errors there?

[2021-04-18 17:05] Daddy2200 opened #73956 "Daddy2200/"
- [ ] _**#@[]() #**_ Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on

[2021-04-18 17:05] #73956 closed

[2021-04-18 17:50] shashishailaj commented on #71767
As we have not received any further details we are closing this issue. Should you have any query , please follow the instructions above and we will be happy to help further.

[2021-04-18 17:50] #71767 closed

[2021-04-18 17:55] shashishailaj commented on #72151
Yes , Adaptive network hardening is a feature which is available only in the standard paid tier . Hence you would need to upgrade the Azure Security center tier in order to be able to use adaptive network hardening .

[2021-04-18 17:58] #72151 closed

[2021-04-18 17:59] shashishailaj commented on #73351
@lalitm14 Hope the above clarification helps. Should you have any other queries, please feel free to open a new thread and we will be happy to help .

[2021-04-18 17:59] #73351 closed

[2021-04-18 18:24] shashishailaj commented on #71515
This page does have the API references however I agree that you may have found some pages without the API reference links. I have internally cascaded information to the content team for the same . We do include API reference link on the page itself somewhere , not always on the "Next steps" section but yes there may some pages where you may not find such links and we recognize the same. We are act

[2021-04-18 18:24] #71515 closed

[2021-04-18 18:40] tsrob50 opened #73960 "Sysprep Count"
In the fifth paragraph, it states that sysprep can run 8 times on a single image.  However, the link referenced indicates that the sysprep count limit for Windows 10 is 1001.  That article is dated 2017.  Is that out of date or is the count limit for Sysprep 1001?
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-gallery

Thanks
Travis
---
#### Document Details

⚠ *Do n

[2021-04-18 18:51] ig2bagd opened #73961 "No parameters 'query' & 'output' for command az ad sp create-for-rbac"
Unable to execute the following command:

# Create service principal, store its password in AKV (the registry *password*)
az keyvault secret set \
  --vault-name $AKV_NAME \
  --name $ACR_NAME-pull-pwd \
  --value $(az ad sp create-for-rbac \
                --name $ACR_NAME-pull \
                --scopes $(az acr show --name $ACR_NAME --query id --output tsv) \
                --role acrpull \

[2021-04-18 19:53] nekdima opened #73965 "Update inaccurate documentation using my example"
Dear Support / Product Group,

It's unclear how to _Assign a role the VM's system-assigned managed identity_ via an ARM template described in [THIS](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-template-windows-vm#assign-a-role-the-vms-system-assigned-managed-identity) documentation section.
Please use my example below to update / improve

[2021-04-18 20:06] Karishma-Tiwari-MSFT commented on #73956
Please let me know if you have any feedback for any Azure documentation.

[2021-04-18 20:08] Karishma-Tiwari-MSFT commented on #73954
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-18 21:04] Karishma-Tiwari-MSFT commented on #73955
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-18 21:28] Karishma-Tiwari-MSFT commented on #73953
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-18 21:28] Karishma-Tiwari-MSFT commented on #73965
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-18 21:30] Karishma-Tiwari-MSFT commented on #73960
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-18 22:27] WhippsP opened #73966 "Need IEF Tab"
Just adding a note that we need to add the IEF example here as well.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b98f5208-e200-8174-533f-e8efae372a99
* Version Independent ID: 02e5fff0-f572-034c-a337-8b608b29d8cc
* Content: [Set up the local account identity provider - Azure AD B2C](https://docs.microsoft.com/en-gb/

[2021-04-18 23:24] MicrosoftGuyJFlo commented on #65760
#please-close

[2021-04-18 23:24] #65760 closed

[2021-04-19 01:23] xps233 commented on #73800
@SumanthMarigowda Thanks for your reply. Obviously you might not noticed that the error message here, is that the GIVEN SCRIPT in Azure Portal, could not get work, since the VERY LINE 1 !

![image](https://user-images.githubusercontent.com/74043506/115169437-95c14a80-a0f0-11eb-82f6-cb7a507ded40.png)

So could you give feedback to the internal team in at least share some confirmation about this? Ma

[2021-04-19 04:01] natpascual1027 opened #73970 "Licensing confusion during testing of Azure B2B"
I am testing B2B.

The guest user only has Office 365 E3 license assigned to it in the guest's originating tenant. The guest user has no licenses assigned to it in the hosting tenant.

I was able to view and request the access package. Once approved, I was able to access the resources included in the access package.

Confused with how the licensing works as it states that the service requires Azur

[2021-04-19 04:06] Karishma-Tiwari-MSFT commented on #73966
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-19 04:08] KalyanChanumolu-MSFT commented on #73961
ig2bagd Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2021-04-19 04:15] take-4c opened #73971 "Would like you to write it more clearly that we could clone source app with it running and it couldn't be impacted by the clone operation."
Hi Team!

We should be able to clone an app service with it running, and also, it should not be able to be impacted by the clone operation.
We would like you to write it clearly on this page because we would wonder how it was.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf14087-1765-4636-805c-6faec03d8a9b
* Version

[2021-04-19 04:21] AnuragSharma-MSFT commented on #73732
@aasis21 Awaiting your response on this.

[2021-04-19 04:35] SnehaAgrawal-MSFT commented on #73604
@FrankSzendzielarz Thanks again for the feedback! The PR has been created it will visible soon.

[2021-04-19 04:37] RohitMungi-MSFT commented on #73652
@renymjohn Thanks. I have forwarded the feedback to our content team internally on adding more info for languages with similar support.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-04-19 04:37] #73652 closed

[2021-04-19 04:43] hylinux opened #73972 "AMS Explorer don't have any context menu about the video content moderator"
I tried to download the AMS explorer from here:
https://github.com/Azure/Azure-Media-Services-Explorer/releases
the new release, but I didn't see any context menu with video Content moderator, would you help to confirm about that?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d79676a-29bd-06ce-aa31-d24457239b

[2021-04-19 04:45] KalyanChanumolu-MSFT commented on #73676
@alexbuckgit I am able to see the visualize button now.

![image](https://user-images.githubusercontent.com/8835012/115182529-bc36b400-a0f7-11eb-9058-d612efb6a2f3.png)

We will proceed to close this issue.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-19 04:45] #73676 closed

[2021-04-19 04:57] RohitMungi-MSFT commented on #73806
@anirbansaha96 Could you please check again and try to install the newer version of the SDK(azure-ai-anomalydetector-3.0.0b3)?

[2021-04-19 04:58] RohitMungi-MSFT commented on #73810
@chengyu-liu-cs We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-04-19 04:58] #73810 closed

[2021-04-19 05:09] AnuragSharma-MSFT commented on #73849
@gjmoyer Thanks for your inputs. Actually these documents provide a very basic implementation of SDKs on Azure Cosmos DB. But we have extensible code sample available where in we can learn a lot more. Please check the below samples once and let us know if they help.

https://github.com/Azure-Samples/cosmos-dotnet-v4-getting-started
https://github.com/Azure/azure-cosmos-dotnet-v3

[2021-04-19 05:30] SumanthMarigowda commented on #73701
@MarkAtAgilliance  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. !
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-19 05:35] AnuragSharma-MSFT commented on #73970
@natpascual1027 Thanks for the feedback. Could you please let us know which article or Microsoft Document are your following, so we can redirect this query to the right team?

[2021-04-19 05:53] natpascual1027 commented on #73970
@AnuragSharma-MSFT
Here you go.
https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-overview#license-requirements

[2021-04-19 05:59] KranthiPakala-MSFT commented on #73950
@MKBahuguna
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https:/

[2021-04-19 06:00] KranthiPakala-MSFT commented on #73913
@tomkroening
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-04-19 06:00] #73913 closed

[2021-04-19 06:40] chengyu-liu-cs commented on #73810
@RohitMungi-MSFT

In our environment, we used terraform to create dev, stage and prod workspaces which are fresh workspaces. So we have not done anything there. One thing to consider is that these workspace is using private endpoints.

[2021-04-19 06:44] noakup commented on #68739
The name of the AMPLS is not part of the DNS mapping. By the current design, a network can only connect to a single AMPLS object.

[2021-04-19 06:45] yelevin commented on #73886
Thanks for your request. Workbooks are a feature of Azure Monitor, on which Azure Sentinel is based. While the tutorial shows how to use Workbooks in an Azure Sentinel context, it also has several links to the full [Azure Monitor Workbooks documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-overview) (see link), which goes into significant detail. Without having

[2021-04-19 06:47] yelevin commented on #73886
#please-close

[2021-04-19 06:47] #73886 closed

[2021-04-19 07:00] SnehaAgrawal-MSFT commented on #73682
@atrauzzi Thanks! Your feedback has been shared with the content owner for further review.

[2021-04-19 07:05] anirbansaha96 opened #73973 "name 'MultivariateSample' is not defined before use"
When running the block of code:

[code]

We get the error:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa9db9e-bc31-35e6-a243-107276a37a5e
* Version Independent ID: 3ffb903f-6d42-6411-0478-2fab35e1f2df
* Content: [Quickstart: Anomaly detection using the Anomaly Detector client library for multivariate anomal

[2021-04-19 07:15] DDFXulei opened #73974 "The official document shows that there is only one parameter, and the actual two parameters."
The official document only shows one parameter, but in fact I got two parameters when I am using `partitionweblogs.hql`.

**Official :**
![image](https://user-images.githubusercontent.com/29651679/115195526-742c8700-a121-11eb-8714-7e156f66a210.png)

**Actual:**
![image](https://user-images.githubusercontent.com/29651679/115195669-9b835400-a121-11eb-8f1f-576c22b01a4b.png)

Since this article has no

[2021-04-19 07:29] omerzubair commented on #68739
If we connect even one AMPLS then existing application insights will stop working in the tenant.

[2021-04-19 07:31] anirbansaha96 commented on #73973
I added all this in a class MultivariateSample and it is going through.

[2021-04-19 07:34] anirbansaha96 commented on #73973
Right now one error I am facing:

[code]

[2021-04-19 07:57] stderr-to-devnull commented on #73483
hello, any update?

[2021-04-19 07:58] JasSuri commented on #73885
It should say “Azure AD B2C Global administrators“, not “Azure AD B2C Global readers".

[2021-04-19 08:10] ssivas commented on #73885
Thanks for the update.

I have just created pull request to update the Docs. Kindly allow us sometime. Thanks.

[2021-04-19 08:12] DavidTrigano commented on #73905
Hello,

The data that are actually logged to these options are the same. Customers should decide the destination depending on their needs (storage account to use the file for external use, log analytics for investigation at scale, event hub for creating data flow at scale)

Best,
D.

[2021-04-19 08:19] CHEEKATLAPRADEEP-MSFT commented on #73974
@DDFXulei  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-19 08:20] #73869 closed

[2021-04-19 08:22] CHEEKATLAPRADEEP-MSFT commented on #73949
@JasonWHowell Could you please look into above ask?

[2021-04-19 08:26] nitmatgeo commented on #73268
Thank you so much @PramodValavala-MSFT for your valuable time. Let me revisit the links and get in touch, if required.

[2021-04-19 08:37] yelevin commented on #73941
@DeanGross Thank you for pointing this out! You're absolutely right and I will see that this correction is made.

[2021-04-19 08:37] SnehaAgrawal-MSFT commented on #73971
@take-4c Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 08:42] SnehaAgrawal-MSFT commented on #73797
@komayama Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-19 08:44] yelevin commented on #73893
@ran-ten21 Thank you for your feedback! I would like to point out that it is in fact documented, in more than one place, that only incident-trigger playbooks can be used with automation rules, including in the document linked in this issue.
![image](https://user-images.githubusercontent.com/61194355/115193622-14b88200-a0f5-11eb-89d0-7734274b49fb.png)

And you are correct that the incident trigger

[2021-04-19 08:44] yelevin commented on #73893
#please-close

[2021-04-19 08:44] #73893 closed

[2021-04-19 08:45] nielsheeren opened #73978 "No limitations chapter"
The limitation are not mentioned like on https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql-server-backup-to-url?view=sql-server-ver15#limitations and it took me and Microsoft Support a long time before we knew that immutable storage was not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-19 08:52] dominicbetts commented on #72694
Hi @jlorich - I'm pushing some changes that link to the new repository now. Thanks again for pointing this out.

[2021-04-19 08:52] dominicbetts commented on #72694
#please-close

[2021-04-19 08:52] #72694 closed

[2021-04-19 08:53] yahorsi opened #73979 "Update sample to use Azure SDK for getting token?"
Hi Guys,

The article is not using azure SDK to get the AD token.
Could you please make another sample, or, update the existing one, to show how this can be done using Azure SDK, I believe it must be much shorter and simpler using Azure SDK.

Please NOTE: Currently, in the documentation, there is no "official" sample of how to connect to the MySql using managed identity and Azure SDK on C#.

Thank

[2021-04-19 08:54] ehsf973 opened #73980 "maybe a schema for Zone Redundant Storage Premium File Share could be interesting also"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0e80614f66d3
* Version Independent ID: 93083407-8f1e-b3e2-6a62-e30be5e1fbcb
* Content: [Data redundancy - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy)
* Content Source: [articles/stor

[2021-04-19 08:59] yelevin commented on #73941
Changes have been submitted and will take effect soon.
#please-close

[2021-04-19 08:59] #73941 closed

[2021-04-19 09:00] dominicbetts commented on #73659
Hi @jesweare - thanks for pointing out this inconsistency. I'll update the docs shortly with the correction you suggested. Thanks, Dominic

[2021-04-19 09:14] xujiongda opened #73981 "Encoding error"
[Enter feedback here]

Clusters created with | Web browser | Command line | REST API | SDK
-- | -- | -- | -- | --
Azure portal | âœ” |   |   |  
Azure Data Factory | âœ” | âœ” | âœ” | âœ”
Azure CLI |   | âœ” |   |  
Azure PowerShell |   | âœ” |   |  
cURL |   | âœ” | âœ” |  
Azure Resource Manager templates |   | âœ” |   |  

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-04-19 09:44] AnuragSharma-MSFT commented on #73978
@nielsheeren Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-19 09:45] AnuragSharma-MSFT commented on #73979
@yahorsi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-19 09:48] itpropro opened #73982 "Update Github workflow property description"
The whole part about the `Route file location` is unfortunately wrong. The property `routes_location` does not have an impact on the new `staticwebapp.config.json`. This file is exclusively looked for in the folder that is specified in the `appLocation`.
Currently the `routes_location` property should only be used when using the old `routes.json` config file.

---
#### Document Details

⚠ *Do not

[2021-04-19 09:59] surendramaran opened #73983 "Please add Node.js documentation part for this page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f-f2f9-171c1804e5f4
* Version Independent ID: 0ca5e2ae-5889-61ef-3ce7-5c447f7519a6
* Content: [Configure SSL - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl)
* Content Source: [articles/mys

[2021-04-19 10:01] MayankBargali-MSFT commented on #73674
@akumar912 The issue is more specific to your resource movement from one subscription to another. Microsoft Docs Github issue is mainly related to the document issue. I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [create a support ticket](https://azure.microsoft.com/en-in/support/create-ticket/) to assist you furthe

[2021-04-19 10:01] #73674 closed

[2021-04-19 10:04] MayankBargali-MSFT commented on #73735
@vikaskumawat80 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-19 10:04] #73735 closed

[2021-04-19 10:05] MayankBargali-MSFT commented on #73822
@TimoNordstrom Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-19 10:05] #73822 closed

[2021-04-19 10:18] CHEEKATLAPRADEEP-MSFT commented on #73981
@xujiongda  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-19 10:21] #73667 closed

[2021-04-19 10:21] AmitavaHazra opened #73984 "How to control MFA on Myaccess.microsoft.com portal"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/plan-conditional-access

We have conditional access policy based MFA and all cloud apps are selected under it's scope.

Till last week while accessing Myaccess.microsoft.com portal we did not require MFA and it was coming as Microsoft app access panel in sign in log.

But today onwards we can see that MFA is gett

[2021-04-19 10:33] ichivers opened #73985 "Typo in code snippet"
Typo in createChatTtreadResult

const **createChatTtreadResult** = await chatClient.createChatThread(
    createChatThreadRequest,
    createChatThreadOptions
  );
  const threadId = **createChatThreadResult**.chatThread.id;
  return threadId;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a088bb9-e3ac-819c-8987-e1a27

[2021-04-19 10:39] yoelhor commented on #73966
Thanks Phil, we have a work item for this one. Probably we'll add it this week.

[2021-04-19 10:50] GitaraniSharma-MSFT commented on #73809
@dfatkulbayanova , I checked in both FrontDoor resource -> Metrics and Azure Monitor -> Metrics and I am able to see the same metrics name as provided in the doc except one i.e. "Billable Response Size" :

![image](https://user-images.githubusercontent.com/67630903/115224180-2e27f100-a12a-11eb-9fcb-a52078e88be6.png)

Could you please share the screenshot of the metrics name that you are seeing on

[2021-04-19 11:11] SwathiDhanwada-MSFT commented on #73871
@MAlin881 As requested in my previous comment, can you please share the Azure document you are following ?

[2021-04-19 11:22] AnuragSharma-MSFT commented on #73983
@surendramaran Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-19 11:23] GitaraniSharma-MSFT commented on #73889
@v-smitev , as discussed offline, Cisco ASA doc is already in place and it is provided by Cisco team. The default MM SA lifetime for Azure gateway is 28,800 for all compatible devices (this is fixed and cannot be changed). So any changes needed on Cisco article needs to be raised with Cisco team. Per your approval, we are closing this issue for now. If there are further questions regarding this ma

[2021-04-19 11:23] #73889 closed

[2021-04-19 11:25] amanmcse commented on #73675
@alsmyr Please confirm below settings:

1. Make sure you are using **Sign up and sign in (Recommended)** user flow.
2. You must be using Email/Username & Password to sign in and not Phone and OTP to sign in.
3. In the properties of your user flow, you must have selected **Forced password reset (Preview)** checkbox.

If above requirements are met, you should not be getting "The password has expired

[2021-04-19 11:25] #73675 closed

[2021-04-19 11:41] AwdotiaRomanowna opened #73986 "vacuum analyze as postmigration step"
hi I would add in the Postmigration steps the necessity to run vacuum analyze across the whole migrated db, otherwise we will be hearing complaints about poor performace again :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee2b9c5-78dd-d005-3edb-9b73a2517786
* Version Independent ID: a784c74b-0a95-63a7-730f-8d5b2ad

[2021-04-19 11:55] deyanp commented on #72753
any clue?

[2021-04-19 11:59] wangzheng0310 opened #73987 "How can I access ML studio with all features enabled once workspace and associated resources are secured in a VNET?"
Hi,

I followed these tutorials https://docs.microsoft.com/en-us/azure/machine-learning/how-to-network-security-overview and now my workspace and resources are secured in a VNET.

However, a problem is that, is it possible to access ML studio (with all features enabled) from my local browser? Will a VPN between my workstation and the VNET work? Or maybe the only way to use ML studio is to RDP to a

[2021-04-19 12:06] yoelhor commented on #73629
Thanks for the feedback. I'm updating the article with your suggestion. The article will be publish later today, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

[2021-04-19 12:09] trevorhawes opened #73988 "PHP (plain) code needed"
With a high percentage of server code/websites/apps written in PHP, we need simple PHP sample code (no laravel or other unnecessary frameworks which constantly change) of how to allow our users to log in to our site if they are already logged in to MS Office 365 (Azure AD). SSO. Pretty please? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-19 12:10] #73629 closed

[2021-04-19 12:11] trevorhawes opened #73989 "PHP support"
With a high percentage of server code/websites/apps written in PHP, we need simple PHP sample code (no laravel or other unnecessary frameworks which constantly change) of how to allow our users to log in to our site if they are already logged in to MS Office 365 (Azure AD). SSO. Pretty please? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-19 12:15] yoelhor commented on #73898
Thanks for the feedback. I'm updating the article with guidance how to create the app. As you will see, it's another application, not the one the  IdentityExperienceFramework app or ProxyIdentityExperienceFramework app.

The article will be publish later today, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

[2021-04-19 12:15] #73898 closed

[2021-04-19 12:32] sonalinoolkar opened #73990 "Unable to access the Keyvault linked App configuration in the client applications(console App/Azure Function App)"
Hi,

I have created an Azure App Configuration Service and

1. Created a key value configuration
2. Created config keys that are linked to key vault secrets.

When I tried to refer the same in the client code. I am getting configuration that is key value based (first config), and I am not getting the secret value from the key vault for the second configuration

See images.
![image](https://user-im

[2021-04-19 12:33] ram-msft commented on #73972
@hylinux Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-19 12:34] ram-msft commented on #73973
@anirbansaha96 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-19 12:41] BryanTrach-MSFT commented on #73984
@AmitavaHazra Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 12:42] BryanTrach-MSFT commented on #73990
@sonalinoolkar
Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your underst

[2021-04-19 12:45] anirbansaha96 commented on #73806
Thanks for the update. I have tried the new version and it works (except for some errors that I have mentioned in #73973). Closing this issue as it is resolved. Thanks!

[2021-04-19 12:45] #73806 closed

[2021-04-19 12:46] jmprieur commented on #73384
PR was proposed. Waiting for it to be approved. cc: @mmacy

[2021-04-19 12:57] SwathiDhanwada-MSFT commented on #73836
@DaveZimmermann The latest version of the Excel sheet assumes a slightly lower (more realistic) value of churn % for Low, Medium, High scenario for Azure Files. The corresponding changes have not yet gone into the online pricing calculator, and engineering team is working on pushing these changes to the Azure Pricing Calculator at the earliest.

Hence you are seeing a difference in the values of s

[2021-04-19 13:04] tsrob50 commented on #73960
I think I found the answer.  The link referenced was updated on March 2nd, replacing the 8 count limit with 1001.
https://web.archive.org/web/20210302111722/https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/sysprep--generalize--a-windows-installation

[2021-04-19 13:06] jokarl opened #73991 "Guidance on deployment based on time zone"
Our devices report back their time zone as an offset to UTC. We need to schedule our deployments for 12 AM in different time zones.

From what I can see we would need 25 different edge deployments, one for each 1 hour offset from UTC (perhaps more with daylight savings). The deployment would then need a target like `--target-condition tags.utcOffset = '+04:00'`.

Even with this approach, the deplo

[2021-04-19 13:09] ciarancolgan opened #73992 "Dont create a new HttpClient"
Hi - i know you are presenting this code sample as self-contained and standalone, but could you add a comment above the HttpClient creation that you shouldnt do it this way in real life? In case people cut and paste this code without thinking.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc95f42-25e6-42ba-a3

[2021-04-19 13:09] JAK1047 opened #73993 "No download link available"
Unless I'm missing it I don't see a download link to the tool this page is referencing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406f8b6d-6471-c983-c102-9d60a57964cd
* Version Independent ID: 98fa8587-36e1-690c-12c5-b865955ada0b
* Content: [Windows Virtual Desktop required URL list - Azure](https://docs.microsoft

[2021-04-19 13:10] ewertonews opened #73994 "Another example for testing Timer Trigger functions"
It would be very good to have a different example for testing a Timer Trigger Function, one that it's not passed **null** but an instance of a TimerInfo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing

[2021-04-19 13:11] yoelhor commented on #73263
Thanks for the feedback. I'm adding the missing article. The article will be publish later today or tomorrow, and this GitHub issue will be closed automatically. If you have any questions or need further information, please open new GitHub issue.

The doc location will be:

![image](https://user-images.githubusercontent.com/20111866/115241717-ce314a80-a129-11eb-834d-b2e4f00c6c7c.png)

[2021-04-19 13:19] RolfSchroeder opened #73995 "SH-Nordland"
[lernen, wie es geht]

---
TXT Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content: [Admin takeover of an unmanaged directory - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/domains-admin-

[2021-04-19 13:23] RolfSchroeder commented on #73995
Ich möchte meine Url hier ablegen: http://www.northsail.de

[2021-04-19 13:25] RolfSchroeder commented on #73995
http://www.northsail.de/

[2021-04-19 13:54] ssivas commented on #73970
@natpascual1027 ,

Thanks for reaching out.

Azure AD is a per user license which is standard across Azure AD. Azure AD does NOT enforce licensing requirements in code for many of its features, which is not the same as not needing licenses of course. While certain functionalities might/will work, you are still in violation of the licensing agreement and can get into non-compliance, pending an audi

[2021-04-19 13:56] RolfSchroeder commented on #73995
Hier ist meine Segelseite [North Sails](http://www.northsail.de)
Hier ist ein Archiv meiner politischen Arbeit von 2005 bis Dez 2017: [Archiv CDU Ellerau] (http://archive.is/SHQhC)
Hier ist die aktuelle Kultur-Seite meiner Frau [Heike Schröder] (http://kultur.nordc.de/)
Hier mein Facebook Auftritt: https://www.facebook.com/rolf.schroder.37

Wie Fasse ich mein ehrenamtliches Engagement in einer Akt

[2021-04-19 13:57] ssivas commented on #73559
#please-close

[2021-04-19 13:57] #73559 closed

[2021-04-19 14:01] SwathiDhanwada-MSFT commented on #73873
@MesyMacos I have reproduced the issue from my end and I could the telegraf namespace metrics are visible. Sharing the screenshot for your reference. I would suggest you to stop and start the telgraf agent and check after few minutes in the portal.

[code]

![image](https://user-images.githubusercontent.com/48976275/115248809-a354ef80-a145-11eb-8b10-c559bdedc2c1.png)

[2021-04-19 14:07] memildin commented on #73919
Hi @stscholz914, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming weeks, and we'll incorporate the information discussed here.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-04-19 14:08] #73919 closed

[2021-04-19 14:09] ssivas commented on #72733
Closing this out as I have not heard back. Feel free to tag me in the comments or open a new issue if you'd like to continue the discussion.

[2021-04-19 14:09] Venky1141 commented on #73724
@psmanhas Any Update On this ???

[2021-04-19 14:09] #72733 closed

[2021-04-19 14:15] memildin commented on #68349
Hi @jwshive , thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the next few weeks, and we'll fix the things you've pointed out.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-04-19 14:15] #68349 closed

[2021-04-19 14:25] AnuragSharma-MSFT commented on #73992
@ciarancolgan Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-19 14:34] SnehaAgrawal-MSFT commented on #73985
@ichivers Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 14:41] mrlerch commented on #72733
You really should consider cross platform cloud backup. Thanks!

Martin Lerch
702.321.0908 (mobile)
-------------------------
Sent from my iPhone (mobile)
***************************
The information contained in this communication is potentially confidential, and intended only for the use of the addressee. If you received this communication in error, please notify us by return e-mail and delete th

[2021-04-19 14:46] JamesTran-MSFT commented on #73988
@trevorhawes
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-19 14:47] JamesTran-MSFT commented on #73989
@trevorhawes
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-19 14:47] bakandah opened #73996 "[Microsoft Documents Feedback]"
Hello,

While I was doing **Restore Disks**, I was not able to perform the steps on this document in the following link:
•	https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#use-templates-to-customize-a-restored-vm

When I select **Deploy Template** to initiate template deployment, it shows the following error message:

_Deploy template option through jobs is disabled. Plea

[2021-04-19 14:52] ichivers opened #73998 "The participant object is wrong in the Start a chat thread snippet"
In the "Add a user as a participant to the chat thread" section sample the participants object is defined correctly as:

`participants: [
    {
      id: { communicationUserId: '<NEW_PARTICIPANT_USER_ID>' },
      displayName: 'Jane'
    }
  ]`

BUT in the "Start a chat thread" section sample it is incorrectly defined as:

`participants: [
      {
        id: '<USER_ID>',
        displayName: '<US

[2021-04-19 14:55] YutongTie-MSFT commented on #73987
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 15:10] kobulloc-MSFT commented on #73993
@JAK1047 Thank you for reporting this.  We are investigating and will get back to you shortly.

[2021-04-19 15:28] JamesTran-MSFT commented on #73743
@MarcoL-4wardPRO
Thank you for your time and patience throughout this issue!

I received an update from our PG team and this isn't a typo. There is a mandatory 3 year retirement period for Azure features, which is why we announced the retirement last month.

Since the dates are correct, I'll go ahead and close out this issue.
Thank you!

[2021-04-19 15:28] #73743 closed

[2021-04-19 15:33] kevindd992002 commented on #54817
What is step 2? After installing the MMA, I can't seem to find the "C:\Program Files\Microsoft Monitoring Agent\Agent\AzureAutomation" folder. Does it take several hours for this to be pushed down to the Hybrid Worker?

[2021-04-19 15:35] JamesTran-MSFT commented on #73692
@BSiefferman
Thank you for your time and patience throughout this issue!

It looks like this issue might've resolved itself, as you can see from my screenshot. Can you see if you're able to select the "Cloud apps or actions" option?
![image](https://user-images.githubusercontent.com/36619112/115262980-e2555780-a0e9-11eb-8247-d35c06a9db6d.png)

If you have any other questions, please let me know.
T

[2021-04-19 15:37] BSiefferman commented on #73692
Hi James,

Yep, I was pleasantly surprised to see it working again as expected late last week. Thanks for following up!

Thank you,
Brian Siefferman
Technical Consultant

O: 312-267-4741   M: 708-745-4854   |   NASDAQ: PRFT   |    Perficient.com<https://www.perficient.com/>
***@***.***D73508.2B03D180] ***@***.***D73508.2B03D180]

***@***.***D627D0.35792160]<https://www.perficient.com/>       ***@*

[2021-04-19 15:38] JamesTran-MSFT commented on #73516
@priyankareddy20
Thank you for your time and patience throughout this issue! I received an update from our engineering team and the identity protection policies will override the security defaults policy including the one for MFA registration.

If you have any other questions, please let me know.
Thank you!

[2021-04-19 15:38] 50Wliu opened #74002 "Microsoft.Compute virtualMachineScaleSets does not indicate upgradePolicy is required"
Article link: https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-07-01/virtualmachinescalesets?tabs=json

Issue: Either the virtualMachineScaleSets ARM template incorrectly states that `upgradePolicy` is not required, or the ARM backend incorrectly denies a deployment without an `upgradePolicy`.
![upgrade-policy-not-required](https://user-images.githubusercontent.com/2766036/1

[2021-04-19 15:39] JamesTran-MSFT commented on #73692
@BSiefferman
Thank you for the quick follow up! Since this issue resolved itself and is working on your end as well, I'll go ahead and close out this issue.

Thank you again for your time and patience throughout this issue.

[2021-04-19 15:39] #73692 closed

[2021-04-19 15:48] pszymkowiak opened #74003 "update traefik version"
[Enter feedback here]
please update to lastest traefik version
helm repo add traefik https://helm.traefik.io/traefik

as describe here - https://doc.traefik.io/traefik/getting-started/install-traefik/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a9f14f4-6ab3-c3a3-c88f-4268d26cb300
* Version Independent ID: 0bbfab2d-

[2021-04-19 16:08] NavtejSaini-MSFT commented on #73709
@rajaprad The Long term retention varies by location and size of the DB and mainly the cost is for storage. Please follow this link for more information on the cost.
![image](https://user-images.githubusercontent.com/52257742/115268157-f9a33d80-a107-11eb-8a37-fb547e05b5a9.png)

[2021-04-19 16:09] dfendit commented on #33157
issue still persists

[2021-04-19 16:23] CarlosPiAn opened #74005 "Multi-valued attributes not supported?"
Hello Team,

The documentation does not specify if multi-malued attributes are allowed or only single-valued is intended for this provisioning implementation.
As per my research, please correct me if I am wrong, looks like single-value attributes are allowed only.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-19 16:27] v-zzhe opened #74006 "Following the instruction and get error in "Deploy the IoT Edge device""
Following below instruction and get error in "Deploy the IoT Edge device"
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2020-11
Seems authenticationType='password'  is not supported here. But no instruction is mentioned.

az deployment group create \
--resource-group IoTEdgeResources \
--template-uri "https://raw.githubusercontent.com/Azure/iotedge-vm-deploy/1.2.0-r

[2021-04-19 16:36] psmanhas commented on #73724
@Venky1141 I have assigned the issue to content author so that they can make the changes as needed.

@macolso Can you please help on the mentioned issue?

Thanks

[2021-04-19 16:37] Oury-MSFT commented on #73897
@stevestein in this document it is mentioned that "you do not have to manage upgrades, high availability, or backup. In the comparison table section, the column for SQL server on Azure VM has a different statements about Azure VM. Can i raise a pull request to update the doc
![image](https://user-images.githubusercontent.com/78940872/115271409-2c423b80-a0f2-11eb-860d-8c22902cd493.png)
![image](htt

[2021-04-19 16:38] kobulloc-MSFT commented on #73993
@JAK1047 I caught myself skimming the page for a link as well.  In this case, you're going to be using **WVDAgentUrlTool.exe** which is part of the [RDAgent](https://docs.microsoft.com/en-us/azure/virtual-desktop/whats-new) (version 1.0.2944.400 or higher) listed in the requirements.

Additional resources:
- [Get started with the Windows Virtual Desktop Agent](https://docs.microsoft.com/en-us/azur

[2021-04-19 16:50] MashaMSFT commented on #73897
Hi @JeffBrownTech , thanks for contacting Microsoft! My apologies, I'm not sure I understand your question. The highlighted section of "you do not have to manage upgrades, high availability, or backups" is referring to SQL Database and SQL Managed Instance, it is not relevant to SQL Server on Azure VMs.

![image](https://user-images.githubusercontent.com/32783170/115273134-09b12200-a0f4-11eb-9a21-

[2021-04-19 16:50] #73897 closed

[2021-04-19 16:55] PaulFeaser opened #74007 "SQL Query has a syntax error"
[Enter feedback here]
The SQL query has a comma after the last field in the SELECT statement that shouldn't be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c8f1262-a509-dbd4-3690-d36fec7cbcd6
* Version Independent ID: 81eb8133-7111-236d-a9a5-124f7961f656
* Content: [Enable SQL insights - Azure Monitor](https:

[2021-04-19 16:58] JAK1047 commented on #73993
Ahh it's bundled with the agent I gotcha I was linked off the WVD Community newsletter  and their verbiage made me believe it was a download:

"Microsoft have released a tool which will automatically check that all the required URL’s required for WVD are accessible. This is a super super useful tool for troubleshooting network connectivity issues and definitely one you want to keep in your back po

[2021-04-19 17:00] JamesTran-MSFT opened #74008 "Security defaults enabled when Azure AD identity protection policies are enabled"
Add an FAQ for what happens if you have security defaults enabled when Azure AD identity protection policies are enabled.

Issue link: https://github.com/MicrosoftDocs/azure-docs/issues/73516#issuecomment-822567139

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665863f8-00aa-155a-aa5d-9dc4254b60d4
* Version Independent

[2021-04-19 17:02] JamesTran-MSFT commented on #74008
@JamesTran-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-19 17:03] JamesTran-MSFT commented on #73516
@priyankareddy20
I created a new issue so the authors can document this within our [Identity Protection FAQs](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/troubleshooting-identity-protection-faq) so others facing this same question can reference the documentation.

Issue - https://github.com/MicrosoftDocs/azure-docs/issues/74008

If you have any other questions, plea

[2021-04-19 17:06] JamesTran-MSFT commented on #73841
@Andrew-Webb
Thank you for your time and patience throughout this issue!

I received an update from our engineering team and– "aadOptScim062020 is the correct flag." Our doc author is aware that the screenshot is out of date, and has added updating it to their backlog.

I'll go ahead and close out this issue, since we'll work on updating the screenshot internally and the correct flag was identifie

[2021-04-19 17:06] #73841 closed

[2021-04-19 17:08] callit opened #74009 "Requiring full admin access for a Service Account???"
Why do I need to grant full admin access to my ServiceNow instance for user provisioning? This is awful security practice and lazy development. Other integrations do not require this level of access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50436ac6-fc6c-eef9-8cc8-bf05e8c4b997
* Version Independent ID: 2bb67494-9

[2021-04-19 17:09] ChaitanyaNaykodi-MSFT commented on #73994
Hello @ewertonews,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-19 17:11] JamesTran-MSFT commented on #73842
@Andrew-Webb
Thank you for pointing out this Q&A question!

I reached out to our engineering team to get this on their radar, and was told this is - "something we’re aware of, and will be looking into as part of our upcoming work".

Since our PG team knows about this, and is working on this internally, I'll go ahead and close this out.
Thank you for your time and patience throughout this issue.

[2021-04-19 17:11] #73842 closed

[2021-04-19 17:12] BharathNimmala-MSFT commented on #74007
@PaulFeaser Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to incorporate the feedback and once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now,

[2021-04-19 17:12] #74007 closed

[2021-04-19 17:14] JamesTran-MSFT commented on #73965
@nekdima
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-19 17:15] JamesTran-MSFT commented on #73988
@trevorhawes
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-19 17:16] JamesTran-MSFT commented on #73989
Closing out this issue since it's a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/73988

[2021-04-19 17:16] #73989 closed

[2021-04-19 17:18] JamesTran-MSFT commented on #74005
@CarlosPiAn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-19 17:32] ToddBowman opened #74011 "auto upgrade and planned maintenance window?"
If I use the auto upgrade channel feature, do the upgrades respect any planned maintenance windows I've set using that feature?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an

[2021-04-19 17:34] tfitzmac commented on #73650
@cherylmc - do you know if p2svpngateways can be moved to a new resource group/subscription?

[2021-04-19 17:45] cynthn commented on #73960
@tsrob50 Thanks for the feedback. I'm going to double-check with the Image Builder folks. I'm a bit concerned because that article is focused on Windows 10 (desktops), and there may be different restrictions for sysprep on server SKUs.

[2021-04-19 17:49] priyankareddy20 commented on #73516
Thank you for your help!

On Mon, Apr 19, 2021, 7:03 PM James Tran-MSFT ***@***.***>
wrote:

[2021-04-19 17:50] alhieng opened #74012 "Missing Plotly library"
Hello, I attempted to use the sample code to render Plotly visual, but received the following error message.

NameError : name 'plotly' is not defined
Traceback (most recent call last):
NameError: name 'plotly' is not defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb471d-65c3-e53a-fe2c-2840f57b5f08
* Version

[2021-04-19 17:59] MashaMSFT commented on #73897
Hi @JeffBrownTech , just an FYI, but I processed a change to modify the formatting on that section slightly so that those two paragraphs are no longer part of the SQL Server on Azure VM section - I think that should help with clarity. This change should be live later this week.

Thanks again for helping improve our documentation!
Masha from the SQL Docs team

[2021-04-19 18:01] #73593 closed

[2021-04-19 18:14] vladvino commented on #73772
@DoychinDoychev you need to reserve custom domain, get a certificate for it, create a CNAME record that maps custom domain name to the default domain name, and follow instructions in https://docs.microsoft.com/en-us/azure/api-management/configure-custom-domain#use-the-azure-portal-to-set-a-custom-domain-name to configure custom domain and certificate in API Management.

[2021-04-19 18:17] yehudamakarov opened #74014 "Microsoft tutorial instructs to run shell commands with no details on how"
The required shell scripts don't run on windows. This is presumably a windows tutorial. What is the end user supposed to do to complete the tutorial and why is that information not in the tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1800bc69-1c54-7bb5-d127-0b5a94d3762d
* Version Independent ID: 7d829763-6a0

[2021-04-19 18:19] b-juche commented on #73865
@jolauMSFT - thanks!  I'm running the proposed changes by the team members.

[2021-04-19 18:29] jlichwa commented on #73358
@blessedwithsins it looks exactly the same as in actual product example, from their product site https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/service-principal/v1alpha1_secretproviderclass_service_principal.yaml
It could be an issue in a way you were applying. If you experiencing issues please submit it on their github to get help from engineers https://git

[2021-04-19 18:31] BharathNimmala-MSFT commented on #73707
@1RedOne My sincere apologies for delay in getting back to this thread.

Checking in to see if you already had a chance to review [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/private-link-security) documentation on Use Azure Private Link to securely connect networks to Azure Monitor and see if that helps your scenario

Please let us know if you have any additional queries, hap

[2021-04-19 18:35] jlichwa commented on #73364
Hello @gicat for any questions about Secret CSI driver please refer to their product github https://github.com/kubernetes-sigs/secrets-store-csi-driver.
Managed Identity is most secure way to access Key Vault, it should be possible to add managed identity to existing cluster.  AKS team monitors above github and they  should be able to help. #please-close

[2021-04-19 18:35] #73364 closed

[2021-04-19 18:40] DerekHerman-MSFT commented on #73980
@ehsf973
Thanks for the feedback! Could you be a little more specific on what you mean by schema? If so, I am happy to pass along this feedback to the document author.

[2021-04-19 18:42] BryanTrach-MSFT commented on #74002
@50Wliu Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 18:45] erhopf commented on #70756
@YutongTie-MSFT - We've added this to our backlog. Sorry for the delayed response.

[2021-04-19 18:46] SubhashVasarapu-MSFT commented on #73630
@wt-bryan, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-19 18:46] #73630 closed

[2021-04-19 18:48] BryanTrach-MSFT commented on #73982
@itpropro Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 18:53] jlichwa commented on #73426
@wvanbesien Pod identities are still in preview and have limitations. We recommend use managed identities instead https://docs.microsoft.com/en-us/azure/aks/use-managed-identity #please-close . It is unfortunate that google point to key vault document vs official AKS secrets store csi driver where you have well documented all possible configurations for the product. - https://azure.github.io/secre

[2021-04-19 18:53] #73426 closed

[2021-04-19 18:53] stevieray8450 opened #74016 "More details needed in the "Capturing exceptions and related diagnostic data" section in regards to capturing exceptions automatically"
The "Capturing exceptions and related diagnostic data" section in the documentation below lacks direction on how to "Capture exceptions automatically by configuring your ASP.NET framework."

How can this automatic capturing behavior be attained in a .NET Core or .NET 5 application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-04-19 18:55] erhopf commented on #72084
We've reached out to subject matter experts and should have an answer on this one soon.

[2021-04-19 18:57] SubhashVasarapu-MSFT commented on #73673
@Alexander-Bartosh, Appreciate your patience. The behavior is expected here. Refer this [similar question](https://github.com/MicrosoftDocs/azure-docs/issues/42034) for log insights.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-19 18:58] SatishBoddu-MSFT commented on #74006
Hello @v-zzhe Thanks for the feedback!

![image](https://user-images.githubusercontent.com/62923178/115288492-59004e00-a106-11eb-8627-20d6d97440d4.png)

https://raw.githubusercontent.com/Azure/iotedge-vm-deploy/1.2.0-rc4/edgeDeploy.json

![image](https://user-images.githubusercontent.com/62923178/115288631-83520b80-a106-11eb-9213-496116557ba2.png)

[2021-04-19 19:10] himanshusinha-msft commented on #74012
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-04-19 19:12] himanshusinha-msft commented on #74014
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-04-19 19:14] mrbullwinkle commented on #73973
Thanks for catching that, it should have been defined prior to first use. We'll get that fixed. In the interim here is a full example:

[code]

[2021-04-19 19:28] afield1235 opened #74017 "Unable to login with Domain User to Bastion connected VM"
We have Azure AD and Azure AD Domain Services. We set up a VM and added a Bastion for access. I can login fine with the local admin and the Domain administrator account (vdiadmin@domain.com from AADDS) but when I try logging in as any other domain user (user@domain.com) I get an error it can't connect. The user has all the required roles:

-     Reader role on the virtual machine
-     Reader role

[2021-04-19 19:29] asears opened #74018 "404 URL in Azure DMS FAQ"
*For a complete listing of the status of each available migration scenario, see the article Status of migration scenarios supported by the Azure Database Migration Service.*

Url points to <https://github.com/MicrosoftDocs/azure-docs-pr/pull/resource-scenario-status.md> which is broken.

This appears to be the page the link should result in.
https://github.com/MicrosoftDocs/azure-docs/blob/master/

[2021-04-19 19:30] RonnieQuan opened #74019 "Spoke VNet Fastpath"
Hi,

Is there any preview feature available to support spoke vnet which is peered to a hub vnet and utilize vgw fastpath?
When it will be GA?

https://docs.microsoft.com/en-us/azure/expressroute/about-fastpath#limitations
VNet Peering: If you have other virtual networks peered with the one that is connected to ExpressRoute, the network traffic from your on-premises network to the other virtual net

[2021-04-19 19:33] barclayn commented on #72123
@Turbofroggy Thank you for your feedback. I have created a work item based on this GitHub issue as a reminder for the next time we update this article.

[2021-04-19 19:33] barclayn commented on #72123
#please-close

[2021-04-19 19:33] #72123 closed

[2021-04-19 19:38] barclayn commented on #73965
@nekdima Thank you for your feedback. I have created a work item for us to look at next time we update the article.

[2021-04-19 19:38] barclayn commented on #73965
#please-close

[2021-04-19 19:38] #73965 closed

[2021-04-19 19:50] #73665 closed

[2021-04-19 19:52] kobulloc-MSFT commented on #73993
@JAK1047 Thank you for the recommendation!  That blog post really does make it sound like there's a separate, downloadable exe.  I'm going to look at this a bit more and make sure that our instructions take different versions into account like you suggested.

[2021-04-19 19:54] kobulloc-MSFT commented on #74003
@pszymkowiak Thank you for bringing this to our attention!  We are investigating this and will get back to you shortly.

[2021-04-19 19:54] stevevi opened #74020 "Remove Azure certifications"
Recommend deleting Azure certifications from this page and instead providing a pointer to our compliance document where this information is tracked and updated regularly in Appendices A and B.

https://azure.microsoft.com/resources/microsoft-azure-compliance-offerings/

The Azure certification information shown on this page is out of date, misleading, and incorrect on many counts.  Feel free to sc

[2021-04-19 20:11] anders-xms commented on #68670
For those who are looking for the correct health check URL that is missing from the docs, I did find it in a blog post.
https://techcommunity.microsoft.com/t5/azure-paas-blog/integrating-api-management-with-app-gateway-v2/ba-p/1241650

The path for the management endpoint is /ServiceStatus.

[2021-04-19 20:11] nunepalli opened #74021 "Target server type: Azure SQL virtual machine for Azure DMS project"
In Azure DMS-->New migration project, we are seeing "Azure SQL virtual machine" as one of the target server types.
My assumption is "Azure SQL virtual machine" means SQL Server on a VM (IaaS). Is that correct?

When I try to migrate data from on-prem SQL Server database to "Azure SQL virtual machine" using Azure DMS, facing trouble in configure migration settings. And, there is not much info about

[2021-04-19 20:13] nunepalli commented on #73869
Thanks for the response.

[2021-04-19 20:16] afield1235 opened #74022 "Unable to update any Named Locations"
It appears there was a UI Update for Named Locations, it now has a side blade when modifying instead of opening it's own Blade. I can no longer edit any existing named locations. If I do, it simpy says "Updating Has Failed". I used to be able to go back to the old interface and I was able to make updates but I can't go back anymore for some reason.

---
#### Document Details

⚠ *Do not edit this s

[2021-04-19 20:29] stevieray8450 commented on #30986
@cijothomas -- Is there some additional step to get exceptions logged in App Insights if using IIS and/or IIS Express? From your comment above, I tried exactly this and no exception data is being collected by App Insights:

"If an exception is passed to ILogger.Log, then Application Insights will report it as an exception"

My repro code, using a .NET Core 3.1 web API controller, running inside II

[2021-04-19 20:52] JamesTran-MSFT commented on #74022
@afield1235
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-19 20:54] JamesTran-MSFT commented on #74009
@callit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-19 21:00] las3r opened #74024 "Feedback - move from a "default" user flow to a custom flow"
Hi there,

I'm diving into IEF and B2C, and the documentation contains a link to some starterpacks.
My use case (and probably the use case of my others) is that I want to add an extra claim to the user (based on a REST api elsewhere). In order to do this, I need a rest API claimsprovider.

What I really want to know:
Is it possible to "export" a "default user flow", such as the recommended "SignIn

[2021-04-19 21:00] MauricioZa opened #74025 "How to setup the Non-compliance message via PowerShell?"
[Enter feedback here]
Hello. How to setup the Non-compliance message via PowerShell ? Thanks !
I am not finding any option in the cmdlet thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e746c38-18e2-56fd-becf-a4d0d05127f6
* Version Independent ID: d4be02d5-a0c5-a614-f206-e3448bd337cc
* Content: [Details of the

[2021-04-19 21:01] las3r opened #74026 "Feedback: B2C Default policy to Custom policy?"
Hi there,

I'm diving into IEF and B2C, and the documentation contains a link to some starterpacks.
My use case (and probably the use case of my others) is that I want to add an extra claim to the user (based on a REST api elsewhere). In order to do this, I need a rest API claimsprovider.

**What I really want to know:**
Is it possible to "export" a "default user flow", such as the recommended "Si

[2021-04-19 21:01] #74026 closed

[2021-04-19 21:01] las3r commented on #74026
Duplicate.

[2021-04-19 21:04] Oury-MSFT commented on #74018
@asears Thank you for your feedback. We are reviewing the doc and will get back to you shortly.

[2021-04-19 21:05] cijothomas commented on #30986
Please open an issue in (https://github.com/Microsoft/ApplicationInsights-dotnet), with minimal repro showing Ilogger.Logs (with exception) is not captured by ApplicationInsights. The ILogger feature has no dependency on IIS or anything Hosting related.

[2021-04-19 21:06] JamesTran-MSFT commented on #74022
@afield1235
Thank you for your time and patience!

Are you able to share a screenshot of what you're seeing? When I go to my named locations, I was able to edit my IP ranges:
![image](https://user-images.githubusercontent.com/36619112/115303341-59094980-a118-11eb-8786-fd66028e8a34.png)

[2021-04-19 21:34] DCtheGeek commented on #74025
@MauricioZa Thanks for the question!  I'm going to ping one of the engineers to see about an example in PowerShell (and when we can update the cmdlet doc).  Thanks!

#assign:DCtheGeek
#label:"product-question"
#label:"assigned-to-author"
#label:"in-progress"

[2021-04-19 21:49] afield1235 commented on #74022
Sure, I am just trying to add Costa Rica to one of our existing Lists. When I go to save, I get this error:

![image](https://user-images.githubusercontent.com/18271134/115307640-5dd0fc00-a11e-11eb-8495-0bcbe62ccc3e.png)

![image](https://user-images.githubusercontent.com/18271134/115307658-61fd1980-a11e-11eb-8194-794045161f2d.png)

[2021-04-19 22:16] SatishBoddu-MSFT commented on #73991
Hello @jokarl
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-19 22:31] Leonardo-Ferreira commented on #73716
@jlichwa tks for the reply. Can you point me to the relevant documentation? I don't know if I made myself clear, my intent is that the private key never actually leave the vault

[2021-04-19 22:34] ChanceYoung opened #74028 "Firebase Messaging Service Implementation"
I was following this tutorial and ran into an issue with the creation of the AzureListener class. The documentation begins to explain the using statements and extensions for the class, but then it references a MyFirebaseMessagingService, which is only referenced at that point in the document. I end up getting a conversion error which states that I cannot convert from an AzureListener to a Context

[2021-04-19 22:53] davidni opened #74030 "Inconsistent statements about Change Feed"
[This page](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed) has internally incongruent statements about how changes are reported on the Change Feed. Surprisingly, these statements appear right next to each other under section `Features of change feed`:

* A) `Each change to an item appears exactly once in the change feed`
* B) `Only the most recent change for a given item is included

[2021-04-19 22:59] MarileeTurscak-MSFT commented on #74024
@las3r
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-19 23:22] Oury-MSFT commented on #74030
@davidni, Thank you for your feedback. We are looking into this and will do all the necessary changes if required.

[2021-04-19 23:26] Karishma-Tiwari-MSFT commented on #73704
@bgklein Did you get a chance to update your CLI and try it again?

[2021-04-19 23:55] loudywen opened #74032 "Need `spring-boot-starter-data-mongdb` example for transaction support"
[Enter feedback here]

 how to do it with spring data mongo?

I am using `spring-boot-starter-parent 2.4.3` and `spring-boot-starter-data-mongdb` with `@Transactional`  enable on  the method and below, which is not doing any transaction at all
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b926e11-c416-a004-1657

[2021-04-20 00:11] Karishma-Tiwari-MSFT commented on #74011
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-20 00:23] aasis21 commented on #73732
@AnuragSharma-MSFT This is regarding if the database is up and running. I wanted to know the status of data sync, it may be the case that both primary and secondary is up but the data is not getting synced.

[2021-04-20 00:32] BryanTrach-MSFT commented on #73996
@bakandah Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-20 00:36] BryanTrach-MSFT commented on #74016
@stevieray8450 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-20 00:37] kobulloc-MSFT commented on #73684
@andybouts We are currently exploring a more tidy solution like you mentioned however as it currently stands there is no formally documented process for using cloud-init to install Azure CLI on new VMs.  This has sparked a conversation, however, and the hope is that I'll be able to update this in the future with something that addresses your request.

I'm going to close this issue for now as there

[2021-04-20 00:37] #73684 closed

[2021-04-20 00:55] mairaw opened #74033 "Article lists out of support .NET Core version as prereq"
Can the article be updated to use a supported version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0a68b6f-2d2c-cf28-7a46-e8a6b0c029c9
* Version Independent ID: 7c1193e5-c697-5000-71c4-7e1498b80afe
* Content: [Use Azure Data Lake Tools for Visual Studio Code](https://docs.microsoft.com/en-us/azure/data-lake-analyti

[2021-04-20 00:55] YutongTie-MSFT commented on #73904
@aahill Hello, could you please check on this issue and update the document? Let me know if you need any help,

[2021-04-20 01:09] mairaw opened #74034 "Prereq related to .NET is confusing"
The prereq says:
Install the .NET Framework for your platform (Windows, Ubuntu Linux, or macOS).

However, .NET Framework only runs on Windows. Did you mean to say .NET Core or does the sample code works on both .NET Core and .NET Framework?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e96d57ec-5094-d07b-c3ee-9406b2c

[2021-04-20 01:34] crisansou commented on #73895
Hi @YutongTie-MSFT ,

Yes, datasets are tabular. In the images above you can see the code used to generate them.

[2021-04-20 01:44] gfaraj commented on #47611
Couldn't find Easy Auth there:

![image](https://user-images.githubusercontent.com/2772908/115324693-e87e1f00-a14f-11eb-9878-af089c8d4ede.png)

[2021-04-20 02:18] #72510 closed

[2021-04-20 02:21] NavtejSaini-MSFT commented on #74021
@nunepalli Yes the Azure SQL on the VM means the IaaS version of the SQL Server. It is basically a SQL server on the VM in Azure cloud
Please check these documents for more details - https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/virtual-machines/sql-server-to-sql-on-azure-vm-migration-overview
https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/migrate-to-

[2021-04-20 02:28] NavtejSaini-MSFT commented on #74034
@mairaw Here the intention is to take you to the link where you can choose the .NET as different options provided by the the page.

The page is self explanatory in defining the type of .NET for your platform. Please let us know if you need further help.

[2021-04-20 02:36] NavtejSaini-MSFT commented on #73986
@sr-msft Please let us know if this information can be added in the Post Migration steps and we will raise the PR.

[2021-04-20 03:01] brentleslie opened #74038 "Update Sample parameterization template"
Could you update the "Sample parameterization template" section to include a parameters example? For example, changing the defaultValue of a Linked Service Parameter on release would be very handy.  I have managed to figure out how to set it, but it took some time and would be a valuable addition to that section.  For instance a Key Vault parameter is set using:

        "AzureKeyVault": {

[2021-04-20 03:05] naga-pakalapati opened #74039 "script for pre- and post-deployment doesn't work anymore"
The script provided at the bottom of the page throws below error at the start trigger task.
##[error]TriggerEnabledCannotUpdate: Cannot update enabled Trigger; the trigger needs to be disabled first.

I see this issue is report on the below page as well.
https://feedback.azure.com/forums/270578-data-factory/suggestions/37608829-disable-and-enable-data-factory-triggers-for-devop

It would be nice t

[2021-04-20 03:26] CHEEKATLAPRADEEP-MSFT commented on #74038
@brentleslie  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-20 03:27] CHEEKATLAPRADEEP-MSFT commented on #74039
@naga-pakalapati  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-20 03:28] CHEEKATLAPRADEEP-MSFT commented on #74033
@mairaw Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/155000](https://github.com/MicrosoftDocs/azure-docs-pr/pull/155000)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-04-20 03:34] blessedwithsins commented on #73358
@jlichwa Hi Jack, Problem was with single object. Maybe it was a mistake at my end. I was providing array as below for secret object which didn't work because last one is showing starting of another object.

"
- |
objectName: piyush
objectType: secret
objectVersion: ""
- |
"

Although i figured out later that it was not required.

[2021-04-20 03:54] Inrixia opened #74040 "Permissions for AKS Deployment Center pipeline creation"
There is no mention of the permissions required to setup a deployment pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b40017a-3f1f-2615-53e2-a6a9b8d3ba2e
* Version Independent ID: eacb3ec0-30b8-99f3-b655-ef1c9a33974f
* Content: [Deployment Center for Azure Kubernetes - Azure Kubernetes Service](https://docs.m

[2021-04-20 03:58] gmndrg opened #74041 "Page info is wrong for CopyBlob for EventGrid triggers"
---
The following note in the document is incorrect:

For Azure Blob Storage, if you want to ensure that the Microsoft.Storage.BlobCreated event is triggered only when a Block Blob is completely committed, filter the event for the **CopyBlob**, PutBlob, and PutBlockList REST API calls. These API calls trigger the Microsoft.Storage.BlobCreated event only after data is fully committed to a Block Blo

[2021-04-20 04:09] gfaraj commented on #47611
Looks like just setting this back to "auth.json" did the trick to revert the configuration to the file-based config. 🔥

![image](https://user-images.githubusercontent.com/2772908/115336174-4452a300-a164-11eb-8abb-37def7148132.png)

[2021-04-20 04:34] AnuragSharma-MSFT commented on #74032
@loudywen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-20 04:39] AnuragSharma-MSFT commented on #73905
@DavidTrigano Thanks for providing the details.

@tdaoxom You can also check the below article that mentions about audit fields logged.
[Audit log fields](https://docs.microsoft.com/en-us/azure/azure-sql/database/audit-log-format#subheading-1)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-20 05:00] #73905 closed

[2021-04-20 05:00] psmanhas commented on #74040
@Inrixia Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-20 05:01] psmanhas commented on #74040
@pulkitaggarwl Can you please check and add your comments on this doc update request as applicable

[2021-04-20 05:01] MayankBargali-MSFT commented on #74041
@gmndrg Thank you for your feedback! We will review and update as appropriate.

[2021-04-20 05:15] SnehaAgrawal-MSFT commented on #74028
@ChanceYoung Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-20 05:34] Mikako-ff opened #74042 "Azure Storage Emulator - how to create myaccount"
I can use only one account "devstoreaccount1" in local emulator.
But "myaccount" appeares in the document below.
How can I create "myaccount" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure Sto

[2021-04-20 06:06] XZ07 opened #74043 "X"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 6c12f877-77a9-0593-a539-2b011f9f83cd
* Version Independent ID: 0d600bc9-7ec1-27f5-5d27-a5d22e2e8629
* Content: [Tutorial - Create and publish a product in Azure API Management](https://docs.microsoft.com/ar-sa/azure/api-management/api-management-howto-add-products?tabs=azu

[2021-04-20 06:20] SnehaAgrawal-MSFT commented on #73741
@take-4c Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-20 06:25] ehsf973 commented on #73980
hello sorry for the misunderstanding "schema" is a french word i do mean a
diagram like visio file of the architecture, like those existing for ZGRS,
etc ...

Le lun. 19 avr. 2021 à 20:40, DerekHerman-MSFT ***@***.***> a
écrit :

[2021-04-20 06:33] GitaraniSharma-MSFT commented on #74017
@afield1235 , thank you for your query. We'll investigate on it and get back to you shortly!

[2021-04-20 06:35] GitaraniSharma-MSFT commented on #74019
@RonnieQuan , thank you for your query. We'll investigate on it and get back to you shortly!

[2021-04-20 06:36] GitaraniSharma-MSFT commented on #74020
@stevevi , thank you for your feedback. We'll review this and get back to you shortly!

[2021-04-20 06:52] BharathNimmala-MSFT commented on #73483
@stderr-to-devnull Our sincere apologies for delay in getting back to this thread.  We are trying to find the right owner with in our internal team who can help on this query and @mingshen-ms is helping on the same. We will update the thread as we get more information on this. Appreciate your patience on this.

[2021-04-20 07:14] LukeDearden commented on #7650
just ran into this

#please-open

[2021-04-20 07:28] 1lomeno3 opened #74045 "Wrong link - Integrate with Azure Active Directory (akamai.com)"
[Enter feedback here]
Link Integrate with Azure Active Directory (akamai.com) is not working...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc788cf-2460-3a99-a770-796471df0293
* Version Independent ID: b84f1579-fd1b-f0e4-a46a-27ba15a58baa
* Content: [SSH authentication with Azure Active Directory](https://docs.micr

[2021-04-20 07:29] ducalai opened #74046 "Client credentials flow and Azure AD B2C"
Sorry to ping you directly @yoelhor, but following your modifications related to #73898, [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-rest-api#acquiring-an-azure-ad-access-token) you created a new _Client_Credentials_Auth_app_ application in

and new registration is done in

Are you using Azure AD on purpose or did you mean Azure AD B2C ? Can I do it on Azure AD B2C -

[2021-04-20 07:44] SajalSood43 commented on #73973
I tried running the above code for my data-source and also facing the same error:
Here is the code I ran:
class MultivariateSample():

    def __init__(self, subscription_key, anomaly_detector_endpoint, data_source=None):
        self.sub_key = subscription_key
        self.end_point = anomaly_detector_endpoint

        # Create an Anomaly Detector client

        # <client>
        self.ad_client

[2021-04-20 07:50] MayankBargali-MSFT commented on #74043
@XZ07 Can you provide more details on the issue that you are facing on [this ](https://docs.microsoft.com/ar-sa/azure/api-management/api-management-howto-add-products?tabs=azure-portal)document.

[2021-04-20 07:52] GitaraniSharma-MSFT commented on #73730
Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-20 07:52] #73730 closed

[2021-04-20 07:56] MayankBargali-MSFT commented on #73879
@anubhav-beep I have got an update from the team that the portal changes are not yet deployed. As there is already an issue created for this. I will be closing this issue and will be linking the other issue  MicrosoftDocs/azure-docs#73868

Feel free to get back to me if you have any queries or concerns.