[2022-04-07 16:31] KranthiPakala-MSFT commented on #91185
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-07 16:32] KranthiPakala-MSFT commented on #91162
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-07 16:40] #27957 closed

[2022-04-07 16:50] rboucher commented on #91169
Hi @Slavizh. Are you saying to track whether we use Azure Diagnostics or not?  If so, that information is already automatically generated in https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/tables-resourcetype.  If that's not what you are talking about, can you please clarify?

[2022-04-07 16:59] seeess1 opened #91188 "Documentation update regarding Batch & Key Vault?"
Is there an update planned for the documentation around using certificates to allow access to Azure Key Vault from Batch? Here's the link to the documentation:

https://docs.microsoft.com/en-us/azure/batch/credential-access-key-vault

Right now it references using `makecert` to create a self-signed certificate that's then assigned to the Batch account. But `makecert` was deprecated in Windows 10 s

[2022-04-07 17:07] mfaulkdel commented on #90437
Thanks for the updates on this.  I do have another question regarding Cognitive Search docs:
https://docs.microsoft.com/en-us/rest/api/searchservice/data-type-map-for-indexers-in-azure-search#bkmk_sql_search

It specifies that SQLServer bigint columns  can be stored in Edm.String index field type.  However, when I attempt that I get an error – “Cannot convert a value to target type 'Edm.Int64' bec

[2022-04-07 17:09] JamesTran-MSFT commented on #91042
@bmilbauer
I just wanted to check in and see if you had a chance to review my previous comment?

[2022-04-07 17:11] Oury-MSFT commented on #91142
@samko635 Thanks for your query. We are reviewing this issue and will get back shortly.

[2022-04-07 17:14] bmilbauer commented on #91042
I can't reproduce; must have been something with my browser. Thanks for looking at it.

[2022-04-07 17:14] #91042 closed

[2022-04-07 17:17] HeidiSteen commented on #90437
@mfaulkdel can you post this question to StackOverflow?  https://stackoverflow.com/search?q=azure+cognitive+search

It's monitored by the engineering team. They might have more insight or experience with the data type conflict.

[2022-04-07 17:24] markjbrown commented on #90860
#re-assign @gahl-levy

Hey Gahl, this should be yours. Can you also change the author for this page as well to you?

Thanks.

[2022-04-07 17:27] tfitzmac commented on #91067
I think the note covers the limits for the two types of names. Please let me know if there is something that would help.
#please-close

[2022-04-07 17:27] #91067 closed

[2022-04-07 17:30] mawah opened #91190 "Ubuntu DSVM Python environment names need updating"
Some of the python environments referenced here (py38_pytorch, py38_tensorflow) do not exist on newly-deployed Ubuntu DSVMs with gen1 images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12930c3-494d-9404-0493-d2a7e992fc73
* Version Independent ID: 9a1baeb7-c0d7-18ee-5ede-47779988bd83
* Content: [Reference: Ubuntu D

[2022-04-07 17:42] duongau commented on #54462
Hello @GreenReaper, there is now two separate list for the POP locations. Please feel free to reach out if there are any other missing locations that you might see. For now, I will be archiving this issue. Thank you. #please-close.

[2022-04-07 17:42] #54462 closed

[2022-04-07 17:47] porrascarlos802018 opened #91192 "Please update website with instructions to deploy in kubernetes and clarify if self owned kubernetes can be used."
Please update website with instructions to deploy in kubernetes and clarify if self owned kubernetes can be used.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a15451c7-5de6-3543-489b-107f515e3f9a
* Version Independent ID: e1ee7a2f-cfdd-895e-c7e4-a9ebfe03ff7a
* Content: [Install and run Docker containers for Form Recog

[2022-04-07 17:58] blhubbard opened #91193 "PA3 formatting error"
The guidance on PA3 contains a formatting error which is turning the whole paragraph into one big ugly link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 722cdbfd-a918-89b6-e66d-48e6752d900c
* Version Independent ID: dff1accb-724a-abdf-fbd6-3b2a3971ccff
* Content: [Azure security baseline for Azure Migrate](https://d

[2022-04-07 18:08] TiloGit opened #91194 "How to check and change spending limit via cli?"
how can we with CLI control the spending limit?  Please add CLI info to the help page.

could not find anything here:
https://docs.microsoft.com/en-us/cli/azure/service-page/azure%20cost%20management%20+%20billing?view=azure-cli-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c

[2022-04-07 18:09] KyleBastien opened #91195 "The 1,000 workflows Logic Apps limit is confusing in terms of what is limited"
On this docs page: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal

There is a limit that is specified that looks like:

Workflows per regions per subscription - 1,000 workflows

What exactly does this mean? Does this mean that you can only create 1,000 Logic Apps per region per subscription? Or does this mean that a specific Logic App can only have

[2022-04-07 18:17] dknappettmsft commented on #78842
Thanks for the feedback. This was referring to a specific hybrid identity scenario if the UPNs or SIDs in AAD and AD didn't match for a user.  I have clarified this and the change should be visible later today.

#please-close

[2022-04-07 18:17] #78842 closed

[2022-04-07 18:19] TiloGit opened #91196 "Add URL to blade 'RemoveSpendingLimitBlade'"
This URL helped me as the banner sometimes doesn't show:

Replace last part with your subscription ID and make sure you are in the right tenant (the tenant/the directory in which you initially signed up)

**https://portal.azure.com/#blade/Microsoft_Azure_Billing/RemoveSpendingLimitBlade/subscriptionId/d3eed352-zzzz-zzzz-zzzz-zzzzzzzzzz09**

---
#### Document Details

⚠ *Do not edit this section. I

[2022-04-07 18:44] SadiqhAhmed-MSFT commented on #91194
@TiloGit Thank you for your post. We will look into this request and get back to you shortly.

[2022-04-07 18:52] thisisanniefang commented on #90377
Hi @slavizh, this is Annie from the Load Balancers product group - we sincerely apologize for the confusion these settings may have caused. I understand your frustration and wanted to provide some clarity and context on these logs. As Gitarani mentioned, these log categories were never supported for Standard SKU Load Balancers, and were deprecated for Basic SKU more than 2 years ago. When these lo

[2022-04-07 18:55] tfitzmac commented on #61589
#please-close

[2022-04-07 18:55] #61589 closed

[2022-04-07 18:57] tfitzmac commented on #75704
#please-close

[2022-04-07 18:57] #75704 closed

[2022-04-07 19:01] asergaz commented on #90951
Hi @kapoorh @khairnarshailesh , can you share the deployment.json file you use? Thanks!

[2022-04-07 19:15] duongau commented on #56198
Hi @awentzel, the export button inside rules engine is to copy the rules to another CDN endpoint. We have also included this information in portal. Please reach out if you have any further questions. For now I will be archiving this issue. Thank you. #please-close

[2022-04-07 19:15] #56198 closed

[2022-04-07 19:17] mike-urnun-msft commented on #90908
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-07 19:17] #90908 closed

[2022-04-07 19:22] duongau commented on #59691
This looks to be resolved. Please reach out if you have any further questions. #please-close

[2022-04-07 19:22] #59691 closed

[2022-04-07 19:25] mike-urnun-msft commented on #91156
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-07 19:26] kromerm commented on #88256
@himanshusinha-msft   have you opened an internal ticket/case on this?

[2022-04-07 19:26] Grace-MacJones-MSFT commented on #91180
Thanks for your feedback! We will review and update this doc accordingly.

[2022-04-07 19:27] juliakm commented on #89652
@georgeOsdDev After investigating, I think the correct solution is to update the code sample to use Functions 3 or 4 so that we are not relying on an EOL version of .NET. I've tried to install .NET 2.1 with the .NET Core task and it doesn't appear to be supported.

[2022-04-07 19:30] mike-urnun-msft commented on #91163
Thank you for your feedback! We will review and update as appropriate.

[2022-04-07 19:31] mike-urnun-msft commented on #91179
Thank you for your feedback! We will review and update as appropriate.

[2022-04-07 19:36] KSchlobohm commented on #91125
The Swagger document produced for an HttpTrigger Function with Open API describes Enums as integers. Documenting how to address that concern, how to describe the error responses with OpenApiResponseWithBody attribute, and provide an operation id with OpenApiOperation attribute are the types of content that I'm requesting as improvements for this section of docs.

[2022-04-07 19:38] Grace-MacJones-MSFT commented on #91176
HI @pebroz, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-07 19:38] GeethaThatipatri-MSFT commented on #90771
Thanks, @markjbrown for the information and for providing the documentation, and whenever you have a chance please comment on the 2.4M RU/s number.
@nickdiscipio We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-07 19:38] #90771 closed

[2022-04-07 19:38] duongau commented on #67502
Hi @trolleyboy, the list has been updated for both Verizon and Microsoft POP. If you have any further question, please feel free to reach back out. For now, I'll be archiving this issue. Thank you. #please-close

[2022-04-07 19:38] #67502 closed

[2022-04-07 19:40] ChaitanyaNaykodi-MSFT commented on #91178
Thank you for your feedback! We will review and update as appropriate.

[2022-04-07 19:41] ChaitanyaNaykodi-MSFT commented on #91182
Thank you for your feedback! We will review and update as appropriate.

[2022-04-07 19:46] duongau commented on #71863
@v-lyivan @GitaraniSharma-MSFT This has been resolved some time back. I will now archive this issue. Thank you. #please-close

[2022-04-07 19:46] #71863 closed

[2022-04-07 19:54] mmacy commented on #70484
@johncrim To confirm - you have a SPA using **MSAL.js 2.x** with a **web** redirect URI configured, and it's using auth code flow? That is, you have something like this in your application manifest?

[code]

[2022-04-07 19:55] duongau commented on #72102
Hello @sreejabanerjee, I apologize for how long it took for someone to answer this question. If the content is cached then all the POP locations can service the request that is closest to the user. CDN will only reach out to the origin for the content if it is not found in the cache. If you have any further questions, please feel free to reach out. For now I will archive this issue. Thank you. #pl

[2022-04-07 19:55] #72102 closed

[2022-04-07 20:06] bandersmsft commented on #90967
@felitsem5 The ISFRation.csv file lists instance size flexibility groups containing _Linux_. However, the hardware configurations can be used for both Windows or Linux servers.

[2022-04-07 20:06] bandersmsft commented on #90967
#sign-off

[2022-04-07 20:06] bandersmsft commented on #90967
#please-close

[2022-04-07 20:06] #90967 closed

[2022-04-07 20:17] bwren commented on #91079
@garybushey Oops, looks like some mistakes in there. I'll rewrite. Thanks for pointing that out!

#please-close

[2022-04-07 20:17] #91079 closed

[2022-04-07 20:20] felixtsem5 commented on #90967
Can we please either update the CSV to remove Linux or mention in the doc page that "Linux" flexibility groups can apply to Windows?

[2022-04-07 20:24] zaidmohd opened #91201 "Error when redeploying the same code for ARO cluster"
I able to deploy AR cluster using the bicep module. But when I rerun the deploy command it fails with below errors. Is it no idempotent? We can only deploy once ARO cluster?

{"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details."

[2022-04-07 20:30] bwren commented on #91079
@garybushey Sorry, forgot to answer your specific question. Currently, the two workflows that use DCRs are Azure Monitor Agent. and Custom Logs API. The ingestion-time transformation on the workspace will not apply to that data. It will apply to any other data - resource logs from diagnostic settings, data from Log Analytics agent, etc.

[2022-04-07 20:36] TimothyMothra commented on #90862
Hi @lborba, what project type are you working with?

We have an example app in our repo that can be used to verify this code sample:
https://github.com/microsoft/ApplicationInsights-dotnet/tree/main/examples/AspNetCoreWebApp

Screenshot of appsettings.json:
![image](https://user-images.githubusercontent.com/28785781/162291376-c81cdac2-d738-42be-9c11-e41ce2706846.png)

Screenshot of Startup.cs:
![i

[2022-04-07 20:37] mnagatos101 opened #91205 "Response only contains error argument"
This works for my requirements right now, but it would be better if the error_description were included. Tried the errorCode/errorMessage configuration as prescribed.  Also tried directly setting the error_description parameter, but that didn't work either.  Any insight would be appreciated.

![image](https://user-images.githubusercontent.com/35544902/162291270-c74a6e75-553d-4baa-9743-86d3b6a51f1d

[2022-04-07 20:42] SaiKishor-MSFT commented on #90819
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-07 20:51] GeethaThatipatri-MSFT commented on #91002
I'm assigning this to the author for the feedback review.

[2022-04-07 20:59] MarileeTurscak-MSFT commented on #91205
@mnagatos101
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-07 21:19] yozsoy opened #91208 "page shown in the guide does not include column like "Family" and there is no button as "clear all sizes""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9303c1e0-f02e-609e-9030-e0f2ddaff7de
* Version Independent ID: 8248d55a-ed01-c0a2-29ab-f0e419b45026
* Content: [Quickstart - Create Intel SGX VM in the Azure Portal](https://docs.microsoft.com/en-us/azure/confidential-computing/quick-create-portal)
*

[2022-04-07 21:19] yozsoy commented on #91208
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/4264600/162316160-1751b743-0c13-453a-95ac-313c2a254764.png">

[2022-04-07 21:26] v-frmoya opened #91209 "profile picture are stored on Exchange online servers"
[hi team, we need you to update this official documentation because the following:

The API (photo API) belongs to Exchange team, these profile picture photos are stored on Exchange online servers and because of that reason the app called "Office 365 Exchange Online" is needed to authorize access to that storage. Currently there is a customer where they disable this app because they don't use any

[2022-04-07 21:28] yozsoy commented on #91208
there is no filter named family as described in the document
<img width="467" alt="image" src="https://user-images.githubusercontent.com/4264600/162321478-699a1548-c4f9-4bf8-8861-f3c54327a961.png">

[2022-04-07 21:30] JamesTran-MSFT commented on #91209
@v-frmoya
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-07 21:34] yozsoy commented on #91208
Also when i search for a word in the page, chrome finds 2 results but it doesn't jump to the search result. Search function does not work on your web page

<img width="1357" alt="image" src="https://user-images.githubusercontent.com/4264600/162323820-63e65693-e48f-424d-81db-f5c1ca7214fe.png">

[2022-04-07 21:39] yozsoy commented on #91208
What is described in the document as "Family" should actually be type. you need to search for type instead
<img width="1008" alt="image" src="https://user-images.githubusercontent.com/4264600/162324340-f88b6687-dd07-49cd-88e8-757f4b46767c.png">

not "Family"
<img width="713" alt="image" src="https://user-images.githubusercontent.com/4264600/162324385-86aa8c8c-a261-4fa2-b1a3-3df126c6055e.png">

[2022-04-07 21:39] lborba commented on #90862
Hi @TimothyMothra,

The issue is not with the regular appsettings.json file. What you can't do is set the connection string in the project user.secrets, then it doesn't work unless you pass the IConfiguration when registering the appinsights telemetry like so:

![image](https://user-images.githubusercontent.com/2977979/162324342-1d49e071-41ba-4769-8379-9f1978e75439.png)

I've just reproduced the i

[2022-04-07 21:42] dereklegenzoff commented on #91180
I would think that this is the proper article to add an update to: https://docs.microsoft.com/en-us/azure/search/search-get-started-bicep

@HeidiSteen or @schaffererin - is this something you might be able to help with?

[2022-04-07 21:46] dereklegenzoff commented on #91180
actually, nevermind, the issue reported is related to ARM in general and not specific to bicep

[2022-04-07 21:47] schaffererin commented on #91180
@dereklegenzoff got it. please let me know if you find anything related to Bicep -- I'm happy to help.

[2022-04-07 21:50] kobulloc-MSFT commented on #91208
@yozsoy Thank you for the feedback!  I'm going through your screenshots and the documentation and will get back to you shortly.

[2022-04-07 21:50] btardif commented on #91176
This should be assigned to @yutanglin16 she owns metrics 👍🏽

[2022-04-07 21:51] TimothyMothra commented on #90862
Hi @lborba, can you please share your repro steps so I can investigate?
Thank you

[2022-04-07 21:53] johndowns commented on #91090
Thanks @mjrich19 - you're right, this inconsistency should be fixed. I will make a note to update the page - it might take a couple of weeks but I'll do it soon.

[2022-04-07 21:58] dereklegenzoff commented on #91180
Thanks, @schaffererin!

[2022-04-07 22:07] KranthiPakala-MSFT commented on #91111
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-04-07 22:07] #91111 closed

[2022-04-07 22:09] KranthiPakala-MSFT commented on #91113
Also please do provide your feedback in Azure Ideas forum here - https://feedback.azure.com/d365community and do share the link once it is posted.

Thank you

[2022-04-07 22:14] Oury-MSFT commented on #90947
@StevenTCramer This is being assigned to the content author to evaluate and update as appropriate.
@StefArroyo In the documentation we need some kind of convention to state in which Russian doll we are supposed to run the commands as mentioned by customer. Could you please share your inputs on that?

[2022-04-07 22:21] SaiKishor-MSFT commented on #91168
@nanordas Providing these 3rd party docs that talks about installing and executing the same-
https://blog.simontimms.com/2022/02/16/install-azfileshybrid-powershell/
https://www.ciraltos.com/azure-files-smb-access-with-windows-ad/

Please let us know if this helps. Thank you!

[2022-04-07 22:26] DaveConn opened #91211 "Edit to Understand Cost Management section"
In the "Understand Cost Management" section please **BOLD** the text below as it's often a source of customers creating support cases or Tier 2 escalations into C+E when they mistakenly expect the data displayed to perfectly reconcile with a monthly invoice.

**Other charges, such as reservation purchases, support, and taxes aren't yet shown in reports.**

---
#### Document details

⚠ *Do not edit

[2022-04-07 22:30] lknite opened #91212 "add troubleshooting steps? c# add azure identity server via [Authorize]"
I've implemented ```[Authorize]``` before using ADFS, so have some experience with what is happening.

Implemented according to the page.

Added to Startup.cs
[code]

Added to appsettings.json
[code]

Got an invalid Audience error and so tried adding:
[code]
and this:
[code]

Adding an audience and modifying the clientid both got rid of the error message.   But, I'm still getting 401 when calling

[2022-04-07 22:33] SaiKishor-MSFT commented on #91154
@as2005as If you select HDD option, it will not allow you to choose the "shared disk" option. Please see below:

![2022-04-07 15_30_18-Select a disk size - Microsoft Azure and 9 more pages - Work - Microsoft​ Edge](https://user-images.githubusercontent.com/68254272/162330367-764af883-b4f1-4c15-99ab-bf6574bba28e.png)
![2022-04-07 15_30_50-Create a managed disk - Microsoft Azure and 9 more pages - W

[2022-04-07 22:36] mike-urnun-msft commented on #91181
Hi @RBVieira - Thank you for your feedback. You could certainly build off from here and call different resources from your Function like you say but another important objective of this integration is the level of security provided by private endpoints and a VNET.

[2022-04-07 22:38] mike-urnun-msft commented on #91183
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-07 22:45] #56530 closed

[2022-04-07 22:52] somuworld opened #91214 "The subnet address range '10.0.0.0/24' is not contained in this virtual network's address spaces"
I tried following exact steps and it gives me below error:
"The subnet address range '10.0.0.0/24' is not contained in this virtual network's address spaces"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb63-82c2-a132a6576add
* Content: [Rou

[2022-04-07 22:53] tfitzmac commented on #90879
I am confirming whether what-if should be deleting from the deployment history.

[2022-04-07 22:53] JamesTran-MSFT commented on #91212
@lknite
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-07 22:57] kimlam-ms opened #91215 "DBG Pricing Link Incorrect"
Under the "High network bandwidth" section and the Data Box Gateway or Data Box Edge... it should link to https://azure.microsoft.com/en-us/pricing/details/databox/gateway/ for DBG. It currently links to only Azure Stack Edge. Also Data Box Edge should be called "Azure Stack Edge". There are also multiple instances that "Data Box Edge" is mentioned in the article that should be updated as well!

-

[2022-04-07 23:21] pnarsi commented on #91146
@HeidiSteen - thanks I have a hard requirement from my security team for any data stored in public cloud to be encrypted with a key that we (as the customer) manage so this feature will assist with compliance.

So assume that if the enforcement setting is set to enabled then the creation of new objects (index, data source, etc) within the search service will fail if the user does not specify the e

[2022-04-07 23:24] HeidiSteen commented on #91146
@pnarsi Let me circle back with engineering to make sure I understand the workflow.  I haven't personally tested this scenario so I  think I'm on shaky ground here.

[2022-04-07 23:27] EnzoGorlomi23 opened #91217 "DisplayControl localized string not updating - Azure B2C"
Hello,

I'm trying to customize the response for success_send_code_msg in Display Control. I tried updating this in RP file and also in extensions file but the customized response would not show update. Any suggestions ?

`<ContentDefinitions>
       <ContentDefinition Id="api.signuporsignin">
        <LoadUri>~/tenant/templates/AzureBlue/unified.cshtml</LoadUri>
        <RecoveryUri>~/common/defa

[2022-04-07 23:47] MarileeTurscak-MSFT commented on #91205
Are you facing this issue during sign-in? This sounds potentially related to [this issue.](https://docs.microsoft.com/en-us/answers/questions/65853/b2c-error-while-user-sign-in.html)

If you create a new request on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers), we should be able to better troubleshoot, as this appears to be more of a product question than a documentation issue.

[2022-04-07 23:47] #91205 closed

[2022-04-07 23:48] #90900 closed

[2022-04-07 23:51] ChaitanyaNaykodi-MSFT commented on #91214
Hello @somuworld, can you please validate the Vnet created has 10.0.0.0/16 address space?

[2022-04-08 00:36] jmprieur commented on #91212
@lknite : did you try to run your web API in kestrel and add all the level?https://github.com/AzureAD/microsoft-identity-web/wiki/Logging

[2022-04-08 00:38] cijothomas commented on #90862
I am not sure how you are loading user.secrets into IConfiguration. If you can print the Configuration and confirm it contains `ApplicationInsights:ConnectionString`, ApplicationInsights is expected to work.

[code]

[2022-04-08 00:59] lrtoyou1223 commented on #88693
@jeffmurr , thanks for your feedback. In fact, managed VNET IR can access data store and services via private link service and load balancer, so it has egress management option. Although managed VNET IR is not as flexible as SHIR, we are working on the improvement of this solution.

[2022-04-08 01:35] somuworld commented on #91214
Hi @ChaitanyaNaykodi-MSFT , I can see it has created 10.0.0.0/16 address space.

![image](https://user-images.githubusercontent.com/13004966/162345931-04ed91cd-7a0a-4967-acd3-916b4d851e3d.png)

[2022-04-08 01:53] chez-charlie commented on #86615
#please-close

[2022-04-08 01:53] #86615 closed

[2022-04-08 02:10] SnehaAgrawal-MSFT commented on #91175
@MarcoLodini Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-08 02:17] KrishnaG-MSFT commented on #91193
@blhubbard Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-08 02:20] KrishnaG-MSFT commented on #91211
@DaveConn Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-08 02:23] KrishnaG-MSFT commented on #91196
@TiloGit Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-08 02:25] VikasPullagura-MSFT commented on #91159
@emarana As this is CLI script, I tried in Bash Shell and it worked.
Can you pleas try and let me know.

[2022-04-08 02:27] VikasPullagura-MSFT commented on #91188
@seeess1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-04-08 02:28] rocketmonkeys commented on #90689
@SnehaAgrawal-MSFT - sorry, not sure why you closed this?  The original issue is still unresolved, the docs are still wrong.  Please see the text in the first post above, I think this issue needs re-opening.

[2022-04-08 02:28] VikasPullagura-MSFT commented on #91188
@prkannap
Can you please check and add your comments on this doc update request as applicable.

[2022-04-08 02:30] Mike-Crowley opened #91220 "Please clarify if client aad requirement is for remote desktop or all authentication to VM"
It is clear from the article that RDP clients must be azure ad domain joined or registered, however it is not clear if this is a requirement to all authentication to the virtual machine.

For example, if such a VM were to host a file share, would SMB clients also need to have a relationship with AAD, or could they authenticate as Azure AD users from a stand-alone (workgroup) computer?

---
#### Do

[2022-04-08 03:20] Nustinian opened #91222 "AzureMonitor tag description misleading"
This part for the AzureMonitor tag description is misleading (out of date).

Note: For Log Analytics, the Storage tag is also required. If Linux agents are used, GuestAndHybridManagement tag is also required.

This is true for the Log Analytics agent (which is currently being phased out), but the new Azure Monitor agent does not require the Storage or GuestAndHybridManagement tags.

---
#### Docum

[2022-04-08 03:26] jixjia opened #91223 "Where can I set this azureML.CLI Compatibility Mode ?"
Where can I set this azureML.CLI Compatibility Mode ? This setting doesn't show up anywhere in VSCode extension settings (either user or workspace). Thanks for the help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e281d529-6d75-3346-989c-5ca3bea1e3ee
* Version Independent ID: f6b99765-2717-0ca4-1d3e-82f4d8fffaed
* Co

[2022-04-08 03:33] MayankBargali-MSFT commented on #91064
@v-hakob Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-04-08 03:33] #91064 closed

[2022-04-08 03:56] MayankBargali-MSFT commented on #91061
@kekatahi I have updated the doc with the protocol details [here ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-ip-filtering#ip-firewall-rules)and it will be published soon. We appreciate the feedback!

[2022-04-08 04:05] MayankBargali-MSFT commented on #90878
@FrankGlez I have got an update from my team, and they confirm that you can certainly use "**Virtual Machine Contributor**" role but that will work only for Scheduled/Sequenced scenarios. If you plan to use our AutoStop scenario then it needs "**Contributor**" role. The same is updated [here](https://github.com/microsoft/startstopv2-deployments/issues/52).

For now, we will proceed to close this t

[2022-04-08 04:05] #90878 closed

[2022-04-08 04:08] ram-msft commented on #91223
@jixjia Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-08 04:09] #91061 closed

[2022-04-08 04:10] shashishailaj commented on #91220
@Mike-Crowley Thank you for your feedback . We will investigate and update the thread.

[2022-04-08 04:11] MayankBargali-MSFT commented on #91195
@KyleBastien Thank you for your feedback! We will review and update as appropriate.

[2022-04-08 04:13] shashishailaj commented on #91217
@EnzoGorlomi23 Thank you for your feedback . We will investigate and update the thread.

[2022-04-08 04:16] SumanthMarigowda commented on #91215
@kimlam-ms  Thanks for the question! We are investigating and will update you shortly.

[2022-04-08 05:09] RohitMungi-MSFT commented on #91190
@mawah Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-04-08 05:44] ihyuncho opened #91226 "Please insert unit into the table which present throughput of Premium fileshare"
[Enter feedback here]
One of my customers wondered what is the unit of throughput here in the table.
We can guess that the unit is MiB/sec, but no one can be sure
![image](https://user-images.githubusercontent.com/82439363/162372117-9834da0f-f05c-4ec5-a696-0596e0e0b4b6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-04-08 05:46] v-ksreedevan commented on #88987
@thnurg,

The change was pushed as part of a different PR. As mentioned above, the update is available at https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-physical#start-continuous-discovery.

Hence, closing this issue.
Thanks!

#please-close

[2022-04-08 05:46] #88987 closed

[2022-04-08 05:53] pnarsi opened #91227 "Search Service Contributor is both "Generally available" and "Preview""
The table on this page mentioned that this role is "Generally available and preview". This is because this role gives permissions to both the management API and the search API and the latter only supports Azure AD authorisation as a preview feature?

![image](https://user-images.githubusercontent.com/7891408/162372938-7c512f7c-1ecc-461f-9ac2-0a5af5cf4013.png)

---
#### Document Details

⚠ *Do not

[2022-04-08 06:04] RohitMungi-MSFT commented on #91192
@porrascarlos802018 Thanks for the feedback. We will request our content development team to review the request and update accordingly.

[2022-04-08 06:17] RamanaSwaroop opened #91229 "Clarification on global distribution of content"
In the overview page it is mentioned that site contents are delivered from globally distributed points.  What is not clear from this page is whether enterprise-grade edge feature must be enabled for delivering content from globally distributed points. And how this feature works with private endpoints? If private endpoint is created, what is the point of using CDN?

---
#### Document Details

⚠ *Do

[2022-04-08 06:21] amanmcse commented on #91073
@kamilzzz There is another feedback with the author to update the document with this information. Closing as duplicate to #89144

[2022-04-08 06:21] #91073 closed

[2022-04-08 06:23] kapoorh commented on #90951
Hi @asergaz ,

PFA of deployment.template.json and azure-pipeline.yaml file.

This is for module1, and same deployment.template.json and azure-pipeline.yaml  we have in every project for module2, module3 and so on.

[azure-pipeline.yaml.txt](https://github.com/MicrosoftDocs/azure-docs/files/8449121/azure-pipeline.yaml.txt)
[deployment.template.json.txt](https://github.com/MicrosoftDocs/azure-docs/

[2022-04-08 06:28] jszisanhi commented on #90650
Thanks @ram-msft for your response.  The documentation is still not clear on the configuration details for CMK. Do you need to allow All Networks on AKV  Firewall or interaction will  leverage  Azure Trusted Services for Azure Key Vault . I appreciate the need to create a  support ticket, however what's probably required is a little more detail on the configuration / how to documentation.

[2022-04-08 06:30] amanmcse commented on #91063
@dcheung2 You can find the description of any AADSTS error code by entering the code here: https://login.microsoftonline.com/error

[2022-04-08 06:35] lborba commented on #90862
Alright, here is how to reproduce it. From the console:

[code]
Then, add a connection string to the appsettings.json file:

[code]
Then modify Program.cs to be like this:

[code]

When you run it, you will get the following output:

![image](https://user-images.githubusercontent.com/2977979/162378047-724d8a58-eb33-45b6-8d4e-c04f3d25975d.png)

[2022-04-08 06:48] Raharney opened #91230 "Default Permissions. Clumsy language, ambiguity."
[Thank you for this page.  It is great to find this resource.

However, although I have not read the entire page in detail, I find some of the language ambiguous.

Consider the following quote:
"This setting does not restrict access to Azure AD data by using PowerShell or other clients such as Visual Studio. When you set this option to Yes to grant a specific non-admin user the ability to use the

[2022-04-08 07:08] Givary commented on #90938
@seanvandermolen Apologies for the delay in answering this post.
Yes article in this query is talks about SSO experience for an on-premise user on Azure AD joined devices. You are correct if the user is created in Azure AD, we wont be able to add the user created in Azure AD on share permissions in On-premise. Let me know if you have any further questions.

[2022-04-08 07:08] #90938 closed

[2022-04-08 07:13] GitaraniSharma-MSFT commented on #91222
@Nustinian , thank you for your feedback. We'll review this and get back to you shortly!

[2022-04-08 07:16] SadiqhAhmed-MSFT commented on #91194
@TiloGit The documentation above is for subscriptions with agreement of Microsoft online service program The spending limit cannot be changed and is currently available through the portal.
The API to check for credits balances is available for MCA agreements [https://docs.microsoft.com/en-us/rest/api/billing/](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fe

[2022-04-08 07:16] RohitMungi-MSFT commented on #91190
@mawah Based on the latest release [notes ](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/release-notes#april-04-2022)both these environments should be available in environment `azureml_py38_PT_TF `for version: 22.04.01

Could you check if environment is available with `conda env list`?

You can check version of your DSVM using the following commands:
`az vm

[2022-04-08 07:28] RohitMungi-MSFT commented on #91074
@agribot2 It would be great if you log an [issue ](https://github.com/Azure/azure-sdk-for-python/issues)on the python SDK repo of azure since this maybe a bug with the SDK as you have mentioned that the download link fails to download more than once. Please add complete details of the steps used as it would be easy to replicate the issue. Thanks!!

[2022-04-08 07:29] CRG-Robban commented on #85498
Also interested in this, anything new to report?

[2022-04-08 07:34] kamilzzz commented on #89144
In the meantime, selfAsserted has beedn updated to 2.1.10. Unifiedssp to 2.1.6.

Still undocumented.

[2022-04-08 07:41] nanordas commented on #91168
Thank you so much! It helped a lot!

But I ran into an error when running the Join-AzStorageAccountForAuth ` command:

New-ADUser : The password does not meet the length, complexity, or history requirement of the domain.
At C:\Users\admin\Documents\WindowsPowerShell\Modules\AzFilesHybrid\0.2.4.0\AzFilesHybrid.psm1:2539 char:21
+                     New-ADUser `
+                     ~~~~~~~~~~~~

[2022-04-08 07:58] xzf0587 opened #91231 "Question about Do not configure a credential in integration assistant"
[Enter feedback here]
The integration assistant for AAD is great. I used it to check my AAD app registration.
Here is a question that the assistant report the Discouraged configurations: Do not configure a credential (certificate/secret).
As I will use the AAD app to auth, the credential is required. So what should I do for this warning?

---
#### Document Details

⚠ *Do not edit this section. It

[2022-04-08 07:59] jfreitas opened #91232 "Maybe highlight the run.cmd recommendation from Kudu"
For some reason when you publish a webjob, "dotnet publish" will add createdump.exe to the output folder.  If your webjob exe has a name that is sorted after "createdump" (e.g. ZZZ.exe) Azure will run createdump instead, which fails.

IMHO its not obvious from the [docs ](https://docs.microsoft.com/en-us/azure/app-service/webjobs-create#acceptablefiles) that the executable name is important.

The

[2022-04-08 08:09] shashishailaj commented on #91230
@Raharney Thank you for your feedback . We will investigate and update the thread.

[2022-04-08 08:15] shashishailaj commented on #91231
@xzf0587 Thank you for your feedback . We will investigate and update the thread.

[2022-04-08 08:17] bolt-io commented on #89144
Closed by error due to duplicate referenced?

[2022-04-08 08:21] jannyg commented on #82382
Hi @duongau. I still can't see this in the list. Could you point me to the commit?

[2022-04-08 08:30] Matt-Mustard commented on #91078
Hi @KranthiPakala-MSFT thank you for the quick response.

After investigating further, I believe the reason the _sudo iotedge check_ report was stalling was due to connectivity issues. The network/firewall configuration was changed to deny outbound internet traffic sometime after we first installed IoT Edge and when the issue surfaced. Restoring the firewall rules has enabled _sudo iotedge check_

[2022-04-08 08:39] slavizh commented on #91169
@rboucher I am talking about this part https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/azurediagnostics#azure-diagnostics-mode-or-resource-specific-mode . Only certain logs support Dedicated type - basically if log is sent to AzureDiagnsotics table or in its own table. The listed resources there unfortunately are only those who previously supported AzureDiagnostics and now al

[2022-04-08 08:53] slavizh commented on #90377
@thisisanniefang If there are customers who previously used them for Basic load Balancer and were able to configure them for Standard one they would think that their alerts for example will apply for both. So my suggestion is to make official announcement on this and block the ability to specify those logs when deployed via API/ARM template. For existing load balancers remove those logs from the s

[2022-04-08 08:54] nanordas commented on #91168
![image](https://user-images.githubusercontent.com/103190383/162401563-76d7e2df-f2a4-465c-9d3a-d3dec71fc006.png)
The user is created in AD, but is disabled and not possible to enable it

[2022-04-08 09:01] yoelhor commented on #87044
Dear [fume](https://github.com/fume), thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2022-04-08 09:02] Nisden opened #91233 "Terraform instructions are out of date"
Since azurerm 3.0 the addon_profile have been removed, and therefor the instructions are incorrect.

Instead the correct property on the cluster is now "oms_agent.log_analytics_workspace_id"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86a92485-1e9e-0327-87b3-40a72435e99a
* Version Independent ID: 48c13def-2368-659e-

[2022-04-08 09:05] yoelhor commented on #86730
As you mentioned there are some samples that contain wrong metadata elements. The document is correct there are no other metadata elements for content definitions (except the display name).

[2022-04-08 09:08] 4tuneengineering opened #91234 "Backup web app using a private endpoint enabled storage account for backup and restore is not supported."
Have you plan to have this up and running ? If not is there any workaround for clients that want to have compliance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Independent ID: 157885c4-2579-8f98-1e85-c3063a861207
* Content: [Back up an app - Azure App Service](https://d

[2022-04-08 09:13] SwathiDhanwada-MSFT commented on #91233
@Nisden Thanks for your feedback.

Assigning to content author @bwren for review.

[2022-04-08 09:28] amanmcse commented on #89144
@bolt-io @kamilzzz
No, it is closed by the Pull Request Merger process after the document was updated. The changes might take up to 24 hrs to reflect.

[2022-04-08 09:51] yoelhor commented on #90699
As [kengaderdus](https://github.com/kengaderdus) mentioned Azure AD B2C doesn't support roles. There are some custom solutions. For example, role based access control that is based on a comma delimiter attribute. For instance, create (or use an exiting attribute, such as jobTitle). In the user profile attribute store the user's roles. For example: `admin, writer, reader`. Then when you call the RE

[2022-04-08 09:51] #85729 closed

[2022-04-08 10:11] Timsto opened #91235 "FrontDoor Service was updated and complete Docu didnt fit anymore"
[Enter feedback here]

The FrontDoor service was updated and all Screenshots and documentation about how to setup custom Domain in B2C with FrontDoor didnt fit anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4a65cd-dae6-898a-514b-5bb9238f58a3
* Version Independent ID: 9c2f7824-efed-7108-7c1e-eb2b57f3c0d6
* Co

[2022-04-08 10:53] SnehaAgrawal-MSFT commented on #91234
@4tuneengineering Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-08 10:53] Raharney commented on #91230
@shashishailaj Thank you for the quick reply. I am looking forward to your answer.  R

[2022-04-08 10:54] SnehaAgrawal-MSFT commented on #91227
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-08 10:56] SnehaAgrawal-MSFT commented on #91229
@RamanaSwaroop Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-08 11:02] Matt-Mustard commented on #91078
@SatishBoddu-MSFT when running _sudo journalctl -u aziot-certd_ I get the following response:

![image](https://user-images.githubusercontent.com/50737621/162422734-ed948a33-8899-41b2-8b57-2b617e961d19.png)

Is this because the aziotedgedca cert is missing in the _/var/lib/aziot/certs/certd/_ directory?

[2022-04-08 11:09] VikasPullagura-MSFT commented on #91201
@zaidmohd
Thanks for your Question! We are currently investigating and will get back on this.

[2022-04-08 12:07] SauravB-MS opened #91237 "Please include using Events API Health data can be queried up to 1 year using the parameter QueryStartTime"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/service-health/resource-health-overview#history-information
**You can access up to 30 days of history in the Health history section of Resource Health.**

Please include Events API can be used and data can be queried up to 1 year using the parameter QueryStartTime.
https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/list-by-

[2022-04-08 12:38] Harikrishnan-M-B commented on #58611
Currently, only using your own custom SSL certificate option is available for enabling HTTPS for wildcard domains. Azure Front Door managed certificates can't be used for wildcard domains.
You can choose to use the same wildcard certificate from Azure Key Vault or from Azure Front Door managed certificates for subdomains.
If you want to add a subdomain of the wildcard domain that’s already validat

[2022-04-08 12:56] KrishnaG-MSFT commented on #91237
@SauravB-MS Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-08 13:12] alexeyshishkin01 opened #91239 "ACR Tasks - 'Run variables' issue"
[Enter feedback here]

Hello, all !

The documentation https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#run-variables describes 'Run variables'.
Pls. specify how to use {{Run.Date}} variable for the simple case:
- if I run ACR Task to {{Run.Date}} for image tag, I get the value '20220408-122850z' for the tag
- suppose I only need '20220408' for my t

[2022-04-08 13:18] seeess1 commented on #91188
Thanks @VikasPullagura-MSFT!

[2022-04-08 13:18] GitaraniSharma-MSFT commented on #91222
@Nustinian , AzureMonitor service tag is used for Log Analytics, Application Insights, AzMon, and custom metrics (GiG endpoints).

The Log Analytics agents are on a deprecation path and will no longer be supported after August 31, 2024 but they are still being supported today. So I believe the mentioned note in the doc is not yet out of date.
Refer : https://docs.microsoft.com/en-us/azure/azure-mo

[2022-04-08 13:18] #91222 closed

[2022-04-08 13:20] Matt-Mustard commented on #91078
In the interest of time, I have uninstalled and re-installed IoT Edge.

The _/var/lib/aziot/certd/certs_ directory contains 2 files:

![image](https://user-images.githubusercontent.com/50737621/162442065-a2540d15-8adc-4f32-b284-315858cfa0f8.png)

The  _/var/lib/aziot/keyd/keys_ directory contains 4 files:

![image](https://user-images.githubusercontent.com/50737621/162442003-568c6f68-d426-448a-9ea

[2022-04-08 13:29] WillyMoselhy opened #91240 "Missing SKUs"
[Enter feedback here]
There are some licenses missing from this page as well as the accompanying CSV.

Below are the ones I noticed, there could be others,
SkuId    |                            SkuPartNumber
-----                    |            -------------
61bec411-e46a-4dab-8f46-8b58ec845ffe |MEETING_ROOM_NOAUDIOCONF
16a55f2f-ff35-4cd5-9146-fb784e3761a5 |DEFENDER_ENDPOINT_P1
5b631642-bd26-49fe

[2022-04-08 13:39] shashishailaj commented on #91240
@WillyMoselhy Thank you for catching this. We will engage with the content author on this and update the thread.

[2022-04-08 13:43] shashishailaj commented on #91235
@Timsto Thank you for catching this. some parts of the article may need a change. We are engaging the content team on this to further address the issue.

[2022-04-08 13:45] cijothomas commented on #90862
Thanks for sharing the repro.

It looks like you are adding ApplicationInsights:ConnectionString twice, one via user-secrets, and again via appsettings.json. Now I don't know how would IConfiguration behave - will it override and take latest? Or something else.

`builder.Configuration["ApplicationInsights:ConnectionString"])` -- what would this line print in your example?

[2022-04-08 13:48] SumanthMarigowda commented on #91226
@ihyuncho  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-08 14:01] Fresher900 opened #91242 "Retry Option still in preview"
Is the retry option still in preview?

I would like to retry the Event Hub trigger, if I catch an error. The retry option looks like an option. But it says in preview.
The document below mentions the retry option, but not saying in preview.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs?tabs=in-process%2Cextensionv5&pivots=programming-language-csharp

---
####

[2022-04-08 14:12] lborba commented on #90862
The expected behavior is the one respected by the IConfiguration, I assume. The CreateDefaultBuilder() from IHost defines the proper order that settings should be loaded, user secrets being loaded after the appsettings.json files:

![image](https://user-images.githubusercontent.com/2977979/162452489-8be4c292-c105-4706-aa22-207087907be1.png)

And in my example, `builder.Configuration["ApplicationIn

[2022-04-08 14:21] #91024 closed

[2022-04-08 14:22] msmbaldwin commented on #91166
Hi, @anand-kakad, and thanks for calling this to our attention.  I have added the link that was missing; it now points to https://github.com/openenclave/openenclave/tree/master/samples/host_verify.  We appreciate the help! #please-close

[2022-04-08 14:22] #91166 closed

[2022-04-08 14:24] tpalfy opened #91243 "Issues with sending custom logs to Azure Monitor Logs"
Hi Microsoft Azure team,

While following the instructions in https://docs.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-custom-logs-api
I encountered the following issues:

1. The provided Data Collection Rule json template references

[code]
however `2021-09-01-preview` is not a valid value. Instead `2021-04-01` was accepted.

2. Also after following all the steps, data doesn't appear in

[2022-04-08 14:25] francesco-scullino commented on #83623
any news?

[2022-04-08 14:26] drksaber opened #91244 "Start/Stop VMs after hours script in Azure Government Tenant"
Reference: [articles](https://github.com/MicrosoftDocs/azure-docs/tree/main/articles)/[automation](https://github.com/MicrosoftDocs/azure-docs/tree/main/articles/automation)/automation-solution-vm-management.md
https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management

I discovered that the script referenced in the above referenced doc, does not work in Government tenants

[2022-04-08 14:28] ecfan commented on #91195
#assign:@ecfan

[2022-04-08 14:31] stutommi opened #91245 "Example addition request: allow access from subnet in other Azure Subscription"
In the [Manage access restriction rules programmatically](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions#manage-access-restriction-rules-programmatically) section, there are good examples how to manage the restrictions programmatically. Could there be an example addition for situation where you need to allow traffic from a Virtual Network subnet, where the target vi

[2022-04-08 14:32] spelluru commented on #91183
@reassign:glenga

[2022-04-08 14:33] PRMerger9 commented on #91183
The following users don't have valid GitHub IDs, or are not collaborators on this repo: glenga

[2022-04-08 14:37] cijothomas commented on #90862
Thanks for confirming. If ApplicationInsights is somehow "preferring" the one from appsettings.json, then its either a bug in ApplicationInsights SDK (or by design to maintain back-compat? can't see why though...)

1. Treat it as a bug. We can open an issue in SDK github page : https://github.com/microsoft/ApplicationInsights-dotnet/issues/new?assignees=&labels=bug&template=bug_report.md
2. As a w

[2022-04-08 14:41] #91244 closed

[2022-04-08 14:41] drksaber commented on #91244
Opened a new issue with the correct linkage

[2022-04-08 14:41] drksaber opened #91247 "Start/Stop VMs after hours script in Azure Government Tenant"
Reference: [articles](https://github.com/MicrosoftDocs/azure-docs/tree/main/articles)/[automation](https://github.com/MicrosoftDocs/azure-docs/tree/main/articles/automation)/automation-solution-vm-management.md
https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management

I discovered that the script referenced in the above referenced doc, does not work in Government tenants

[2022-04-08 14:42] #91195 closed

[2022-04-08 14:48] ecfan commented on #91195
@KyleBastien, a doc update will be published later today to clarify this entry.

For Consumption logic apps, where each logic app is limited to 1 workflow, you can have 1,000 logic apps per region per subscription.

For Standard logic apps, where each logic app can have multiple workflows, no specific limit exists, but the number of logic apps varies based on the selected hosting plan, app activit

[2022-04-08 14:51] alenzorbbn25 opened #91248 "Link to Azure CLI command that does the same task."
Would be good to have the Azure CLI command on this page (or link to the command)  that does the same task on this page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d772d23e-b605-d405-df32-cb253e7e2d42
* Version Independent ID: 13c2ced4-2a10-a2d5-7494-874479d47275
* Content: [Move resources to

[2022-04-08 14:56] HeidiSteen commented on #91227
@pnarsi Yes, that's right.  Search Contributor is GA for "control plane" tasks that go through ARM, like service creation and configuration.  Search Contributor is Preview for "data plane" tasks that target content -- create/delete index, indexers, data sources, etc.  It's a hybrid role.  Using Azure roles for "data plane" is currently in preview, no matter what role definition is used in the assi

[2022-04-08 14:56] dknappettmsft commented on #50572
Closing this issue as it's not for the docs article, but for the blog article.

#please-close

[2022-04-08 14:56] #50572 closed

[2022-04-08 14:56] kengaderdus opened #91249 "Updates"
Under section 'Create a static web app' did not see 'App artifact location box'. You also need to let the readers know that after selecting 'Create' button, it may take a few seconds before seeing 'Go to resource'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e446d555-c1a2-d9a7-389e-282f2cc8efbf
* Version Independent

[2022-04-08 14:59] dknappettmsft commented on #50530
Closing this as it's not an issue with a specific article. LTSC is not supported for Azure Virtual Desktop.  Ideas should be posted to the Azure Virtual Desktop feedback pages: https://techcommunity.microsoft.com/t5/azure-virtual-desktop-feedback/idb-p/AzureVirtualDesktop

#please-close

[2022-04-08 14:59] #50530 closed

[2022-04-08 14:59] juliakm commented on #81246
We can close this. Updated article includes Open ID instructions.

[2022-04-08 15:00] juliakm commented on #81246
#please-close

[2022-04-08 15:00] #81246 closed

[2022-04-08 15:01] ChrisQuarsh commented on #80081
I have the same problem where the operationLocation = null.
// Read in remote image and response header
ReadInStreamHeaders responseHeader =
vision.readInStreamWithServiceResponseAsync(image, null).toBlocking().single().headers();

[2022-04-08 15:02] khdownie commented on #89878
We are waiting for a bug to be fixed in how the portal displays security settings. When it is fixed I will add the portal instrux.

[2022-04-08 15:03] juliakm commented on #90227
@madiepev Thank you for flagging this. I'll investigate an alternative option.

[2022-04-08 15:04] stutommi commented on #91245
Update on this: the previously mentioned setup will work if you attach the required permissions for the other subscription vnet on the resource group level, not the vnet resource itself.

Hope that helps anyone else running to this issue. I think it should also be definitely mentioned in the docs!

[2022-04-08 15:04] somuworld commented on #91214
Also, I have just created the Virtual network with default address space as 10.0.0.0/16 . When I'm trying to add public subnet with address 10.0.0.0/24, it is giving error as "This subnet address prefix overlaps with 'default'"

[2022-04-08 15:07] SwathiDhanwada-MSFT commented on #91243
@tpalfy Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-08 15:08] SwathiDhanwada-MSFT commented on #91247
@drksaber Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-08 15:09] cijothomas commented on #90862
Given the fact that SDK wont be fixing this (https://github.com/microsoft/ApplicationInsights-dotnet/issues/2574#issuecomment-1092958124), it'd best to modify the document to have a language like below:

If `IConfiguration` has loaded configuration from multiple providers, then `services.AddApplicationInsightsTelemetry` prioritizes configuration from `appsettings.json`, irrespective of the order i

[2022-04-08 15:10] cijothomas commented on #90862
@lborba Since you originally opened this issue, could you check if the above wording is sufficient to avoid the confusion?

[2022-04-08 15:15] duongau commented on #47644
#please-close

[2022-04-08 15:15] #47644 closed

[2022-04-08 15:17] DSakura207 opened #91250 "How to locate VM data disk reliably"
I am using Azure Automation DSC to initialize disk. Currently I use StorageDSC module.

[Document](https://github.com/dsccommunity/StorageDsc/wiki/Disk) says disk number is not a reliable way to locate a disk.

How can I locate the data disk reliably? The disk is mounted at lun 0 and VM is Windows.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-04-08 15:21] SwathiDhanwada-MSFT commented on #91248
@alenzorbbn25 Thanks for your feedback. You can move resources using [az resource move](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-move) cli command.

Assigning to content author @rayne-wiselman   for doc-enhancement.

[2022-04-08 15:22] lborba commented on #90862
The new doc description looks good, pitty that it can't be fixed in the SDK though. As an api consumer, I would expect that a call to `services.AddApplicationInsightsTelemetry()` would honor the IConfiguration from the DI over anything else.

[2022-04-08 15:25] dknappettmsft commented on #49850
Thanks for the feedback. This has been corrected and the change should be visible later today.

#please-close

[2022-04-08 15:25] #49850 closed

[2022-04-08 15:28] ecfan commented on #90479
Hi @henrypi73,

Thanks for reaching out! The doc will be updated to be version agnostic. The changes will publish later today.

@mike-urnun-msft: #please-close

[2022-04-08 15:28] #90479 closed

[2022-04-08 15:33] KyleBastien commented on #91195
@ecfan Thanks for this clarification! Looking forward to seeing the updated docs. So if I understand what you're saying for Standard logic apps, you can have 1,001 workflow definitions in the one Standard Logic App, but you couldn't have 1,000 Standard Logic App instances. Is that right?

[2022-04-08 15:39] amitbansod9211 opened #91252 "SSISDB Support Statements"
As per following What's new in Data Migration Assistant page v5.0 says "Assessing SQL Server Integration Services (SSIS) projects hosted in SSISDB and SSIS packages hosted in package store. Database Migration Assistant detects unsupported, partially supported or deprecated features and compatibility issues that are used in source packages and provides recommendations to help you address those issu

[2022-04-08 15:41] KSchlobohm commented on #90699
Sorry, I misunderstood the first comment. Thanks for the option @yoelhor, I believe if you follow that approach you would still secure the Web API with the `Authorize` attribute and provide a different behavior for the system than Scopes. Another approach that worked well for me is API connectors.
https://github.com/azure-ad-b2c/api-connector-samples/tree/main/Authorization-AppRoles

Both options

[2022-04-08 15:51] GeethaThatipatri-MSFT commented on #91252
Hi @amitbansod9211 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-08 15:54] SnehaAgrawal-MSFT commented on #90959
@ingridxinzhuo163 We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-04-08 15:54] #90959 closed

[2022-04-08 15:54] ecfan commented on #91195
@KyleBastien,

I'm saying that a Standard logic app instance can have multiple workflows with no fixed limit, but the number you can have varies based on the [hosting plan and pricing tier](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-pricing#pricing-tiers-in-the-standard-model) that you select and other factors, such as resource usage and capacity.

There's also no fixed limit on

[2022-04-08 15:55] KyleBastien commented on #91195
Got it, thanks very much for that clarification @ecfan!

[2022-04-08 15:56] ecfan commented on #91195
@KyleBastien,

The 1,000 threshold is only relevant to Consumption logic apps.

[2022-04-08 15:59] erik-ha-msft commented on #83905
Thank you for the feedback.

As stated in the document:

At this time, we're not planning on updating the article with this information.

#please-close

[2022-04-08 15:59] #83905 closed

[2022-04-08 16:06] dknappettmsft commented on #48347
This was corrected on 7 April 2020.

#please-close

[2022-04-08 16:06] #48347 closed

[2022-04-08 16:10] dknappettmsft commented on #48004
Thanks for the feedback. This was corrected on 11 Dec 2020.

#please-close

[2022-04-08 16:10] #48004 closed

[2022-04-08 16:12] #55380 closed

[2022-04-08 16:28] DerekHerman-MSFT commented on #91250
@DSakura207 As noted in the document, using Unique Id is the recommend method.

[2022-04-08 16:30] medh2000 opened #91254 "Event Hub arrow to ADX is incorrect"
Data is sent from Event Hub to ADX not the other way.

![image](https://user-images.githubusercontent.com/2473041/162483606-7b64a8fc-12e7-442d-9e5c-4977e0b20748.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bc62483-6dcf-c373-bc5d-fa11983a5126
* Version Independent ID: 68bb5add-0557-0799-6a29-f45220482417
* Conte

[2022-04-08 16:50] kamilzzz commented on #89144
@amanmcse I can see documentation page is already updated.

However, for Self-asserted page (https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#self-asserted-page-selfasserted) now we have documented versions up to 2.1.9.

What about 2.1.10 which is default when using User-flows?
![image](https://user-images.githubusercontent.com/32141632/162486239-771bc081-c4e0-4c1b-9456-5366

[2022-04-08 17:04] KrishnaG-MSFT commented on #91244
Duplicate of #91247

[2022-04-08 17:29] amanmcse commented on #89144
@kamilzzz
Reopening the issue.

[2022-04-08 17:35] DSakura207 commented on #91250
@DerekHerman-MSFT Unfortunately data disk's Unique Id is different every time a new VM is deployed. Our VM lives a short time (usually hours), it is a budget consideration.
Besides, PowerShell DSC parameters are evaluated when compiled, I cannot use script to delay it to deployment of VM.

[2022-04-08 17:50] dknappettmsft commented on #54026
#please-close

[2022-04-08 17:50] #54026 closed

[2022-04-08 17:57] dknappettmsft commented on #53715
Closing the loop on this - this change was made 31 Jan 2021.

#please-close

[2022-04-08 17:57] #53715 closed

[2022-04-08 18:03] dknappettmsft commented on #52115
Closing the loop on this - the 'applies to' note at the top of the article is no longer there.

#please-close

[2022-04-08 18:03] #52115 closed

[2022-04-08 18:05] dknappettmsft commented on #51614
Thanks for the feedback. This article is now representative of the steps.

#please-close

[2022-04-08 18:05] #51614 closed

[2022-04-08 18:44] bandersmsft commented on #91196
https://github.com/MicrosoftDocs/azure-docs-pr/pull/194574

[2022-04-08 18:44] dereklegenzoff commented on #91180
FYI - a PR has been merged to add a comment regarding this limitation.

#please-close

[2022-04-08 18:44] #91180 closed

[2022-04-08 18:47] bandersmsft commented on #91196
@TiloGit Thanks very much for the tip. I've updated the article to add your suggestion.
#please-close

[2022-04-08 18:47] #91196 closed

[2022-04-08 19:15] HeidiSteen commented on #91227
@pnarsi  I fixed the docs and the updates will be live later today, around 3:00 p.m. PT.   The fix puts GA and preview on separate lines and explains the difference.  Thanks for filing this issue. Combining preview and GA was confusing.  I'm going to close this issue because I think it's resolved, but if you have more feedback on the update, please feel free to reopen it.

#please-close

[2022-04-08 19:15] #91227 closed

[2022-04-08 19:17] jgross1031 opened #91256 "Include information about Windows support for Azure NFS file shares"
I have gotten a couple of case where the customer is wondering if/how to setup an Azure NFS file share on Windows. This does seem to be a supported scenario currently so it would be nice to have that in the documentation for users to see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c51c5ff-142c-fcaa-b7d4-dbfab61ca5

[2022-04-08 19:20] bandersmsft commented on #90893
https://github.com/MicrosoftDocs/azure-docs-pr/pull/194586

[2022-04-08 19:21] bandersmsft commented on #90893
@robsanf Thanks for letting us know about this issue. I've updated the article to say the following:

Cost allocation data exposed by the [Usage Details](/rest/api/consumption/usagedetails/list) API is supported by the 2021-10-01 version or later. However, cost allocation data results might be empty if you're using an unsupported API version or if you don't have any cost allocation rules.
#please-

[2022-04-08 19:22] #90893 closed

[2022-04-08 19:22] brianlehr commented on #91075
@cstandrew Thanks for your (very good) questions!

The certificate is only used for the initial validation with our system, so it is not required after your resource is in Provisioned state.
 We will not stop advertising the range after the ROA expiration date.

 #please-close

[2022-04-08 19:22] #91075 closed

[2022-04-08 19:25] KranthiPakala-MSFT commented on #91239
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-08 19:26] KranthiPakala-MSFT commented on #91242
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-08 19:27] KranthiPakala-MSFT commented on #91245
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-04-08 19:27] SaiKishor-MSFT commented on #91168
@nanordas Can you try to create a stronger password or disable the security policy? See this document for more details- https://windowsreport.com/unable-to-update-the-password-the-value-provided-windows-10/#:~:text=Open%20Group%20Policy%20Editor.,and%20OK%20to%20save%20changes.

[2022-04-08 19:28] SaiKishor-MSFT commented on #91154
@as2005as Any update?

[2022-04-08 19:28] KranthiPakala-MSFT commented on #91249
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-08 19:30] KranthiPakala-MSFT commented on #91254
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-08 19:31] KranthiPakala-MSFT commented on #91256
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-08 19:31] HernanRios commented on #55313
Allow cors in "all apis"

[2022-04-08 19:39] bandersmsft commented on #91211
@DaveConn Updated the article as you requested.
#please-close

[2022-04-08 19:39] #91211 closed

[2022-04-08 19:41] tomvcassidy commented on #90165
Hi @sedwardstx. We determined that after 7.2 CU4, the new behavior is that Service Fabric selects the cert with the largest 'NotBefore' property value (as in the most recently issued cert).

We're updating the note to reflect this information in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/194591

Thanks for your feedback! #please-close

[2022-04-08 19:42] #90165 closed

[2022-04-08 19:43] HeidiSteen commented on #91151
@pnarsi There is a reason, but it's somewhat subjective.  First, the trusted service exception and resource instance rule are designed for this scenario (same-region connections, where IP rules won't work).  Second, IP rules, trusted service, and resource instance rules are all free network security solutions, whereas private link is billable.  Finally, we have other docs that provide a wholistic

[2022-04-08 19:52] DaveConn commented on #91211
Hi - I'm not seeing the changes?

What I still see:

***@***.***

What I requested: (bold the text below in the following paragraph)

Cost Management shows organizational cost and usage patterns with advanced analytics. Reports in Cost Management show the usage-based costs consumed by Azure services and third-party Marketplace offerings. Costs are based on negotiated prices and factor in reservati

[2022-04-08 19:52] PRMerger10 commented on #91211
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-04-08 19:52] joshuapetryk opened #91257 "Azure Function Monitor Invocations Missing"
Has this functionality been removed? Now the Monitor blade just shows "Configure Application Insights to capture invocation logs"

"Azure Functions now supports Application Insights as the preferred monitoring solution for apps under construction and in production. App Insights offers powerful analytics, notifications, and visualizations of your log data, as well as higher overall reliability at s

[2022-04-08 19:52] rboucher commented on #89230
#please-close

[2022-04-08 19:52] #89230 closed

[2022-04-08 20:00] DerekHerman-MSFT commented on #91250
are you only attaching one data disk? If so you should normally be fine using disk number.

[2022-04-08 20:10] FredrikDahlberg opened #91258 "Destroyed our cluster"
This recommendation destroyed our clusters. The letters for the mounted drives changed. Please clarify in all the docs how mounted drives are supposed to be handled regarding mounting and letters. A lot of extensions including Service Fabric needs a hard coded value for paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-04-08 20:46] seanvandermolen commented on #90938
Just seems like that should be mentioned in the instructions.

[2022-04-08 21:20] hayleyhorn opened #91262 "Info about deprecating High concurrency clusters"
In the cluster setup screen, it is called out that high concurrency clusters are being deprecated, and it links to this page but there is no information about the deprecation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b57bc7-a97e-947c-442f-7ffbf13aa6cb
* Version Independent ID: 9dd5e8a5-ce82-6e15-bcfa-939c431cf7

[2022-04-08 21:32] asergaz commented on #90951
Hello @khairnarshailesh @kapoorh ,
To achieve the following behavior in "iotdevice1":

[code]
Your `deployment.template.json` will need to include all the 3 modules:

[code]
And your `azure-pipeline.yaml` will need to include the `bypassModules` Parameter:

[code]
Let me know how it goes?
Thanks!

[2022-04-08 21:40] #91257 closed

[2022-04-08 21:52] Tiduster commented on #69949
Now that terraform Azurerm provider v3 is out, public ip resource default to "no_zone", I am also waiting for clarification about what it means ! :-) .

[2022-04-08 22:11] kgremban commented on #88218
#reassign:pataltimore

[2022-04-08 22:13] kgremban commented on #87117
#reassign:pataltimore

[2022-04-08 22:13] kgremban commented on #86366
#reassign:pataltimore

[2022-04-08 22:14] kgremban commented on #85987
#reassign:pataltimore

[2022-04-08 22:14] kgremban commented on #85803
#reassign:pataltimore

[2022-04-08 22:42] SaiKishor-MSFT commented on #90123
@catmanjan Thanks for confirming, yes, that is what I wanted to know. Can you confirm if this cookie is coming from the backend by verifying the same in the Access logs? https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics#diagnostic-logging

[2022-04-08 22:44] joeskeen opened #91263 "Discrepancy of maximum delay between documentation and runtime"
The official documentation on Durable Functions states that timers in durable functions are limited to seven days:
![image](https://user-images.githubusercontent.com/12286274/162543105-10e9ce74-71e8-49f4-9f1c-72255709b6a9.png)

But if I create a timer to wait seven days, I get the following error:
![image](https://user-images.githubusercontent.com/12286274/162543184-47ac5d02-0626-4b32-ae55-dc7582c

[2022-04-08 23:15] khdownie commented on #91226
@SumanthMarigowda @ihyuncho this has been clarified as MiB/sec in the Attribute column:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-scale-targets#azure-file-share-scale-targets

[2022-04-08 23:23] kobulloc-MSFT commented on #91258
@FredrikDahlberg Thank you for reaching out to us!  We've assigned this to the document author for further review.

[2022-04-08 23:33] terrymandin opened #91264 "No "SecurityRecommendation" created in Test"
I have run through this tutorial to deploy the micro-agent onto a Ubuntu 20.04 Azure VM, and see my "Module Identity" as connected.  When I try the steps in "Test the System" I don't get a "SecurityRecommendation" in the Logs.  I have "AllMetrics" configured in the Monitoring, and have connected to Log Analytics.  Can you provide more guidance on how I can test this?

---
#### Document Details

⚠

[2022-04-08 23:37] Mayday-IT commented on #91059
I’ll have to run through it again, but I got to a point where my Azure panel didn’t have the options that I was supposed to be clicingclicking.  However, I’m leaving at 6am for 2 weeks so I won’t be able to do it any time soon.

Thanks.

From: Gitarani Sharma ***@***.***>
Sent: April 7, 2022 7:41 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Derek MacBeth ***@***.***>; Mention ***@***.***>
Subj

[2022-04-09 00:53] johncrim commented on #21258
I'm with @poyadav2001 - this is still an open issue. Either we need a way to populate a key:value object using a `copy` loop, or the  ManagedIdentity API needs to be switched back to an array (same with [`Microsoft.ServiceFabric/clusters/applications identity userAssignedIdentities`](https://docs.microsoft.com/en-us/azure/templates/microsoft.servicefabric/2021-06-01/clusters/applications?tabs=bice

[2022-04-09 03:09] johncrim commented on #24687
The only solution I've seen for this in an ARM template is to build up a JSON text string from an array using `concat()`, and then use `json()` to turn that into an object with key-value pairs. This is a horrible solution, and it's a major omission that the ARM template language doesn't have a function to turn an array into an object, or that objects can't be populated via `copy`.

My choice is to

[2022-04-09 03:12] johncrim commented on #24687
A solution for #21258 would address this.

[2022-04-09 04:04] sharroy commented on #89323
We were able to replicate the issue with windows server 2019. To access port 5986, we need to enable WinRM service. We will update the docs with steps required for the same, we also need to ensure if this requirement is specific to Windows sever 2019, or others as well.

[2022-04-09 04:58] gmndrg commented on #89884
@pmpopovichjr We have created the article for SQL Managed Instance with managed identity. This will be available publicly as soon as merged with all content. Thank you so much for your feedback.

[2022-04-09 04:58] gmndrg commented on #89884
#please-close

[2022-04-09 04:58] #89884 closed

[2022-04-09 06:39] horihiro opened #91266 "version of Azure Functions Core Tools for python developers"
Do we really recommend functions core tools@**v3.x** for python (Go and Rust also) developers?
![image](https://user-images.githubusercontent.com/4566555/162559988-710f14fa-3dc7-4d34-ad78-15947bb05d97.png)

If so, what is the reason?

Go and Rust:
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-other?tabs=go%2Clinux

---
#### Document Details

⚠ *Do not edit th

[2022-04-09 07:44] ggailey777 commented on #91266
Thanks for the heads-up. [Python is GA on Functions v4](https://docs.microsoft.com/azure/azure-functions/supported-languages#languages-by-runtime-version), so I think we just missed updating this article to the latest version of Core Tools. The same goes for Go/Rust.

[2022-04-09 09:44] RAVMIC93 opened #91267 "Require assistance to implement"
Hi ,
I have the exact same requirement that this article fulfills however I am unable to follow the instructions. My difficulty is with the body of the request in the Invoke an HTTP request 2. Namely the part that refers to the Body of the request: body('Invoke_an_HTTP_request')?['value']. The screen grab shows {"executionId":" ...Value x"} I have no idea how this was achieved, I have tried modify

[2022-04-09 10:35] GitaraniSharma-MSFT commented on #91059
@Mayday-IT , thank you for the update. In this case, we are closing this issue for now. Once you are available, please go through the tutorial again and share the screenshots of your Azure portal where the instructions/options do not match and we will re-open this issue to check it further. Thank you!

[2022-04-09 10:35] #91059 closed

[2022-04-09 10:42] rsteimen commented on #49245
Just had the same issue with my node.js websocket server software. B1 did not work. Scaled up to B2 and it worked. Scaled down to B1 2mins later and it's still working. Seems like an internal azure issue.

[2022-04-09 11:45] agribot2 commented on #91074
I have raised a bug report at `https://github.com/Azure/azure-sdk-for-python/issues/23922`

I suggest that you consider , until the defect is fixed, putting some sort of warning or caveat on the documentation page warning users that the system only works once and only works once first time with a new project and new training iteration and will trigger an error if run on the same targets more than

[2022-04-09 11:45] igalfsg opened #91269 "Missing command Argument"
As per this StackOverflow question : https://stackoverflow.com/questions/63900885/importing-to-cosmosdb-mongodb-api-using-mongorestore-fails-with-retryable-writes/65336889#65336889 the mongorestore command is missing "writeConcern="{w:0}""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08884a7c-9e5a-e8c4-3bcf-eb4d6774c

[2022-04-09 15:24] mike-urnun-msft commented on #91263
Thank you for your feedback! We will review and update as appropriate.

[2022-04-09 15:54] db422 opened #91273 "operational unit container?"
"You'll also need to make sure your session host VMs have New Technology File System (NTFS) permissions. You must have an **operational unit container** that's sourced from Active Directory Domain Services (AD DS), and your users must be members of that **operational unit** to use these permissions."

what's meaning of operational unit container? you mean an OU, right? Thanks.

---
#### Document D

[2022-04-09 16:07] DeanGross opened #91274 "Least privilege role"
Please add the roles that are eligible to perform the tasks on this page, and/or add links on this page and every other page to the required roles description, (not all all tasks in AAD have the same RBAC requirements)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d46abb2-6ad9-e86e-8808-b69ca11922d8
* Version Independ

[2022-04-09 16:35] visualstuart opened #91275 "Update "Quickstart: Add feature flags to an ASP.NET Core app" to .NET 6 - including sample"
This quickstart is a challenge for users who have .NET 6 (e.g., from VS 2022) installed. The `dotnet new` in section "Create an ASP.NET Core web app" creates a different application, see "Web app template improvements" in [What's new in ASP.NET Core 6.0](https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-6.0?view=aspnetcore-6.0). As a result, in the quickstart, section "Connect

[2022-04-09 16:46] GeethaThatipatri-MSFT commented on #91269
Hi, @igalfsg Thank you for reaching out. we will review the ask and will provide an update as appropriate

[2022-04-09 17:35] KranthiPakala-MSFT commented on #91262
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-09 17:36] KranthiPakala-MSFT commented on #91264
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-09 17:38] KranthiPakala-MSFT commented on #91267
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-09 17:39] KranthiPakala-MSFT commented on #91273
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-09 17:40] KranthiPakala-MSFT commented on #91274
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-09 17:41] KranthiPakala-MSFT commented on #91275
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-09 18:02] as2005as commented on #91154
This is what I see when I add a managed disk HDD
![image](https://user-images.githubusercontent.com/96368046/162586120-ba71aaaa-f63f-4138-9474-2328656a811e.png)

[2022-04-09 19:17] jvenema opened #91276 "Doesn't work"
Following the steps exactly fails with this error:

azure-arm: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="InvalidTemplateDeployment" Message="The template deployment failed with error: 'The resource with id: '/subscriptions/5d055bae-785a-49d8-913d-abd9114f5a3b/resourceGroups/pkr-Resource-Group-4nagav9ssw/providers/Microsoft.Compute/vi

[2022-04-09 20:52] kobulloc-MSFT commented on #91276
@jvenema, the error you received is correct and you'll need to try a different VM size or location for that subscription:

`'The requested size for resource <resource path> is currently not available in location 'eastus' zones '' for subscription <subscription ID>. Please try another size or deploy to a different location or zones. See https://aka.ms/azureskunotavailable for details.'.'."`

**What

[2022-04-09 21:31] HailHorrorHail opened #91280 "Broken link"
[Enter feedback here]
Link is broken ImageAnalysis -> Reference -> Python
https://docs.microsoft.com/en-us/python/api/overview/azure/cognitiveservices/computervision

![image](https://user-images.githubusercontent.com/23129110/162592239-7640994f-f58c-4bc7-bd8c-b5a8c469a5c8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-10 03:25] KranthiPakala-MSFT commented on #91280
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-04-10 03:35] xiaoyongzhu opened #91284 "The Cloud Shell icon is missing"
The cloud shell image is missing, also when I use the instructions in the doc like below, the icon is missing as well:

[![Launch Cloud Shell](https://shell.azure.com/images/launchcloudshell.png "Launch Cloud Shell")](https://shell.azure.com)

<img width="717" alt="image" src="https://user-images.githubusercontent.com/1185090/162600373-31714218-6fb7-4a56-b832-e217440902bf.png">

---
#### Document

[2022-04-10 06:39] SaiKishor-MSFT commented on #90887
@jdogtech Please refer to this document- https://azure.microsoft.com/en-gb/blog/announcing-general-availability-of-incremental-snapshots-of-managed-disks/

That should answer your question i.e.,

 If you deleted the first incremental snapshot the second and the third snapshots continue to function normally as incremental snapshots are independent of each other. The system merges the data occupied

[2022-04-10 11:14] shashishailaj commented on #82940
Apologies for the delay in handling this . We checked this and found that this article is referring mainly to Azure AD portal in the section  . Search for groups by display name or object ID only works from Azure Portal if [External Collaboration settings](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/users-restrict-guest-permissions) allow the user for the same..

By de

[2022-04-10 11:14] #82940 closed

[2022-04-10 11:16] shashishailaj commented on #91171
@H-Nawabi We have assigned this to the content team and they would review and update the thread.

[2022-04-10 11:25] shashishailaj commented on #91240
@Nicholak-MS Could you please help updating this one?

Thank you .

[2022-04-10 12:04] shashishailaj commented on #89234
Number match is a type of passwordless sign-in . As long as you are running the latest version of the Microsoft Authenticator available It should work . The current Microsoft authenticator version available in the play store for both Android and iOS would provide you with number match capabilities.

[2022-04-10 12:04] #89234 closed

[2022-04-10 12:16] martinhelgesen opened #91286 "Azure Container App Quickstart for CLI does not work"
Environment:
azure-cli version: 2.35.0
Macbook Pro M1
zsh 5.8 (x86_64-apple-darwin21.0)

command from documentation (ID: "d471e1b1-27c1-4aad-6eed-d542f875f12c" )
az containerapp env create \
  --name $CONTAINERAPPS_ENVIRONMENT \
  --resource-group $RESOURCE_GROUP \
  --location $LOCATION

Expected behaviour
azure container app environment is created

Actual behaviour
the following arguments are re

[2022-04-10 12:45] shashishailaj commented on #91284
@xiaoyongzhu Thank you for your feedback . We will engage the content team to review and update this.

[2022-04-10 12:55] shashishailaj commented on #91284
@damaerte It seems that the original location for the images is not working anymore as referenced by this [PR 52880](https://github.com/MicrosoftDocs/azure-docs-pr/pull/52880) . If you know the current location , could you please help update this.

Thank you .

Could you please review this and help on this one.

[2022-04-10 13:11] shashishailaj commented on #89069
The Threat Intelligence rule type was added recently and is currently in preview. We have initiated a discussion internally for getting this updated in the document .

![image](https://user-images.githubusercontent.com/532022/162619809-ffe2014c-149a-44c4-8438-2f95ddb2142d.png)

Thank you .

[2022-04-10 13:11] #89069 closed

[2022-04-10 13:54] QingfengLOU opened #91288 "could not find the workflow page"
[Enter feedback here]
in logic app, right side bar, there is no workflow tag that we can get in to copy the workflow URL, as described in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67314add-afed-bd07-a432-1cdf9303f2cb
* Version Independent ID: 742a7c8c-7e72-c340-f900-6fd5c19ae6d9
* Content: [How to send

[2022-04-10 14:42] shashishailaj commented on #89480
@tlsambo  Azure AD user object does not have a date of birth attribute by default.  If it is a on-premise user synced to Azure AD even that may not have such attribute unless you have added directory extensions .

[code]
Custom attributes like date of birth etc. are not available by default in azure AD and you would need to add schema extension and modify the user object schema in your azure AD fo

[2022-04-10 14:42] #89480 closed

[2022-04-10 14:57] shashishailaj commented on #89561
@akn9050 We have initiated a change request and this will be updated once the authors approve the change.

[2022-04-10 14:57] #89561 closed

[2022-04-10 15:07] shashishailaj commented on #91157
@weyCC81 We checked this and found that this will require deeper investigations in order to understand more on your scenario . We would like you to send us an email with your azure subscription ID to azcommunity [at] microsoft [dot] com with a subject "ATTN:shashi" referencing this thread and we will help you with alternate support options. Depending upon the output of the engagement we will updat

[2022-04-10 15:07] #91157 closed

[2022-04-10 15:10] shashishailaj commented on #89643
@RZomermanMS We are going to engage on this internally and will create a review item internally for this one with the Azure AD connect content team with your suggestions  and copy you there as well. Once the discussion is done , we will update the document as per the outcome.

[2022-04-10 15:10] #89643 closed

[2022-04-10 15:16] vitorsantos92 opened #91289 "Constradictory information on article"
Hi,

There's this contradictory information on the Resize without downtime (preview) feature section:

- Disks smaller than 4 TiB can't be expanded to 4 TiB or larger without downtime.
   - If you increase the size of a disk to 4 TiB or larger, it can then be expanded without downtime.

Since this is about limitations, I believe none of the above rows should be there.

It would be good if you coul

[2022-04-10 15:21] #89990 closed

[2022-04-10 15:21] shashishailaj commented on #89241
@arsenvlad , As this requires changes to the existing document and a possible new documentation , we will be taking this feedback to the content team in the backend and this will be reviewed internally in order to see how best we can incorporate the suggestions.

[2022-04-10 15:21] #89241 closed

[2022-04-10 15:40] shashishailaj commented on #91161
We have a [section explaining the AND logic in the article](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/define-conditional-rules-for-provisioning-user-accounts#scoping-filter-construction) however NOT AND is something which we do not have description for . As we have not received a response from you , we will be closing this issue. for now. We would request you to open

[2022-04-10 15:40] #91161 closed

[2022-04-10 15:42] SreejaBhattacharya-MSFT commented on #91289
Hi @vitorsantos92 , thanks for reaching out. We are reviewing this and will update the document as appropriate.

[2022-04-10 15:46] SreejaBhattacharya-MSFT commented on #91289
Hi @kirpasingh , could you please review this and add your comments?

[2022-04-10 16:42] KranthiPakala-MSFT commented on #91286
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

If you have any feedback about any specific Azure document you can share directly from that document.

![image](https://user-images.githubusercontent.com/44606227/90962173-b090e000-e4cb-11ea-9e71-570a0b1e3c45.pn

[2022-04-10 16:44] KranthiPakala-MSFT commented on #91288
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-10 17:16] AjayKumar-MSFT commented on #91232
jfreitas, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume that you have sorted out the issue. If it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-04-10 17:21] martinhelgesen commented on #91286
https://docs.microsoft.com/EN-US/azure/container-apps/get-started?tabs=bash

[2022-04-10 17:42] salmanmkc commented on #33628
Do you still need to have the gradle option ticked? It seems to give an error, trying without seems to work

[2022-04-10 18:08] tech88kur commented on #42431
Hi, In my case the depends on property does not get removed when the condition does not fulfill, want to check if it really works as documented.

[2022-04-10 18:48] shashishailaj commented on #89553
@shmatsuy Currently the monitoring agent through the VM extension is log analytics agent as the capability for defender for cloud is in private preview for Azure Monitoring agent . Many capabilities for the Azure Monitoring agent are still in preview and it may take some time before it reaches parity with all capabilities of Log analytics agent . you can check the details in the [article for Azure

[2022-04-10 18:48] #89553 closed

[2022-04-10 19:03] shashishailaj commented on #90600
@craigbrown Yes , I agree but the second step does clarify on the subdomain part . However , I have added a line for clarification of the readers. Once the content team approves the change request , the changes will be live in the document .

Thank you .

[2022-04-10 19:03] #90600 closed

[2022-04-10 19:16] shashishailaj commented on #89408
The built-in and extension attributes are not recommended to store sensitive data to reduce any kind of data leakage because the users could query other users data so it is not recommended to store any such sensitive data as government security numbers etc. as built in user attribute. You should store any sensitive data encrypted in a Key vault as encrypted secret and store the Key vault Secret UR

[2022-04-10 19:16] #89408 closed

[2022-04-10 19:21] AjayKumar-MSFT commented on #91140
Rick-Anderson, As we're discussing on this internally, we will close this for now. After the review, we will update the doc as necessary. Thanks for taking time to share your feedback here.

[2022-04-10 19:21] #91140 closed

[2022-04-10 19:30] justin-ruffin opened #91290 "Consumer Users and Access to Azure Resources"
During testing of consumer accounts that were created as part of a "user flow", they can later be assigned a directory role (purposefully or inadvertently) which enables them access to Azure Resources.

When granted a directory role, it is possible for a consumer account to sign in using 'object id' into the Azure AD B2C directory and then view or edit users based upon directory role assignment.

[2022-04-10 19:36] shashishailaj commented on #89394
The teams native desktop app uses Microsoft Office login (https://office.live.com/start/*) that requires a password to sign in as mentioned in the article and hence the SMS-based login is not available because office.live.com endpoint does not support it yet . While any app that is integrated to Microsoft Identity system (Azure AD) will have its Auth requests processed by  https://login.microsofto

[2022-04-10 19:36] #89394 closed

[2022-04-10 19:43] AjayKumar-MSFT commented on #91100
Rafal, Thanks again for your detailed feedback on this. As mentioned in [this doc,](https://docs.microsoft.com/azure/architecture/guide/design-principles/scale-out) with elastic scaling, For gracefully handling the instances being removed. There are some guidelines to help handle scale-in:

- Listen for shutdown events (when available) and shut down cleanly.
- Clients/consumers of a service should

[2022-04-10 19:45] shashishailaj commented on #90709
We have a great article on deploying the passwordless signin experience https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-deployment and I would suggest you to check the same for your requirements. In your case, you have a very specific scenario which would require engagement with an Identity consultant who could help you setup your Identity i

[2022-04-10 19:45] #90709 closed

[2022-04-10 20:13] shashishailaj commented on #89915
We have initiated a change request for this. It will be updated once the content team approves the same.  For your reference you can check the article https://www.ibm.com/docs/en/dsm?topic=microsoft-azure-platform and https://www.ibm.com/docs/en/qsip/7.3.3?topic=quick-start-guide for help with Qradar.

Thank you .

[2022-04-10 20:13] #89915 closed

[2022-04-10 20:55] lgmorand opened #91291 "RHEL8 compatibility"
Hi

This [page](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux?tabs=azcli) does not list RHEL 8 as supported by the Linux extension but two months ago, the LAD code was updated to support it (see [commit](https://github.com/Azure/azure-linux-extensions/commit/ff6313ce268389aea7bd4ac7bcaa9f238e958a49))

Is the doc not up to date yet ?
If no, when can we expect

[2022-04-10 22:12] johncrim opened #91293 "If you setup AAD authentication on a Linux cluster, you can't use MSI on that cluster"
Please let developers know that if they setup AAD admin authentication for a Linux cluster, they won't be able to use MSI on that cluster. I think that's important to know before going through all the work required to setup AAD.

A warning about it should be listed at the top of this page.

It's unfortunate that both AAD authentication for admins, and MSI, are best practices, but they don't work t

[2022-04-10 23:32] pnarsi commented on #91151
Thanks @HeidiSteen. Sounds like we can just use shared private endpoints provided that we are okay to pay a bit extra for the privatelink charges.

[2022-04-10 23:32] #91151 closed

[2022-04-11 02:45] pnarsi commented on #91151
@HeidiSteen - actually digging through the docs there is a limitation with using shared private endpoints for Cognitive Search -> Storage Account in that it can only be used for indexing. It cannot be used for AI enrichment. For AI enrichment we need to use either IP Firewall, Trusted Microsoft Service or the preview resource firewall feature.

[2022-04-11 03:18] MayankBargali-MSFT commented on #91267
@RAVMIC93 Microsoft Docs GitHub issue is related to the **document issue**. If this is not the case, I would recommend you create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such type

[2022-04-11 03:25] shmiyaza commented on #82940
@shashishailaj ,Thanks for your investigation.
Your comments have helped me understand.

[2022-04-11 03:38] PriyankaRudramaina commented on #91291
Hello @lgmorand,
Thank you for your feedback. We will investigate and update the thread further.

[2022-04-11 03:38] PriyankaRudramaina commented on #91293
Hello @johncrim,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-11 03:45] ram-msft commented on #91088
Thanks, @cartacioS Can you please review and update the document for Python 3.8 support for Automl.
![image](https://user-images.githubusercontent.com/49180516/162661891-8dcaa67c-1e1a-4f78-a931-098e25c320da.png)

[2022-04-11 03:48] tingeypa opened #91298 "Query examples incorrect"
[Enter feedback here]
From the text -

INCORRECT: search=/.\*numeric\*./
CORRECT:    search=/.\*numeric.\*/

Note - I have escaped the * in the markup

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800a099f-6158-0bf9-965c-c9f05ea66d20
* Version Independent ID: f15f1766-f5da-ea35-af1e-976aff808a41
* Content: [Partial t

[2022-04-11 03:48] #91063 closed

[2022-04-11 03:52] pnarsi opened #91299 "Azure Storage Private Endpoint support for AI Enrichment."
The table on this page mentions that private endpoint for Azure Storage for the AI Enrichment use case is unsupported.

![image](https://user-images.githubusercontent.com/7891408/162661788-4be569a9-7879-41a6-8f13-c05c0e86fb27.png)

However over in the how-to page "Make outbound connections through a private endpoint" there are a couple of notes that suggests accessing storage account via private e

[2022-04-11 03:55] AnuragSharma-MSFT commented on #90945
@Park-minkyu Thanks for your patience. The code mentioned in the article worked fine for me when I built it. Have you made any changes to it?

[2022-04-11 04:04] SnehaAgrawal-MSFT commented on #91298
@tingeypa Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-11 04:05] SnehaAgrawal-MSFT commented on #91299
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-11 04:08] SnehaAgrawal-MSFT commented on #91017
@skrabbe001 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-04-11 04:17] AjayKumar-MSFT commented on #91100
Rafal, Hope the info/doc provided above helps. We will close this for now, if you have any questions, please let us know. Thanks for your feedback.

[2022-04-11 04:17] #91100 closed

[2022-04-11 04:19] HarlowBurgess opened #91300 "Tutorial does not work"
Tutorial "Connect to an Azure SQL server using an Azure Private Endpoint - Azure portal" does not work. Looking into it I see that it in fact should not work.

The tutorial describes creating a virtual network with a Bastion host and a VM. It then describes adding an Azure SQL server and a private endpoint. As part of adding a private endpoint, it describes selecting the Private DNS Zone option "L

[2022-04-11 04:20] roobr commented on #34167
This is simply rediculous having this in production, I stopped as I thought this was suss

[2022-04-11 04:23] lilyjma opened #91301 "Test function link sends one to the wrong page"
Under "Test functions" link under "Debug and test" tab links to the wrong page -- it's linking to [Supported languages in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages)

<img width="235" alt="image" src="https://user-images.githubusercontent.com/25314976/162664606-6fb4bd8d-6c4b-41a6-9df2-6a4c1d3183e2.png">

Since the link takes me to the wrong page, I

[2022-04-11 04:36] CHEEKATLAPRADEEP-MSFT commented on #91046
@Rajini09  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-11 04:36] #91046 closed

[2022-04-11 04:40] ssivas commented on #91290
@justin-ruffin , Thank you for your feedback . We will investigate and update the thread.

[2022-04-11 04:52] cartacioS commented on #91088
Hello,

Please be advised that I no longer work at Microsoft. Please reach out to
Nina B from the content team.

Thanks,
Sabina

On Sun, Apr 10, 2022 at 11:46 PM Ram ***@***.***> wrote:

[2022-04-11 05:03] Givary commented on #91173
@triggersbroom Thank you for sharing your feedback, let me investigate and update you the status.

[2022-04-11 05:26] ram-msft commented on #91117
@buchananwp Can you please check on this issue.

[2022-04-11 06:00] MayankBargali-MSFT commented on #90998
@GSuggitt Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-04-11 06:04] VikasPullagura-MSFT commented on #91159
@emarana
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-04-11 06:04] #91159 closed

[2022-04-11 06:12] #90998 closed

[2022-04-11 06:28] shwetamathur7 commented on #90850
@TLKG Apologies for delay in response.
I tested using subscription account and registered B2C SPA application, set up IdP and User flows in B2C tenant.
Created Microsoft Account in Azure AD tenant and configure as Idp in B2C tenant.

Is myapp001 is your B2C tenant?

[2022-04-11 06:44] RohitMungi-MSFT commented on #91037
@danielsc The command seems to be fixed now in the doc reference.
We will now proceed to close this thread.

[2022-04-11 06:44] #91037 closed

[2022-04-11 06:47] RohitMungi-MSFT commented on #91074
@agribot2 I have referenced the bug you raised to this issue. #https://github.com/Azure/azure-sdk-for-python/issues/23922
@PatrickFarley FYI.. To update doc if required based on findings of referenced issue.

[2022-04-11 06:52] weyCC81 commented on #91157
#please-reopen
Hi @shashishailaj
I found out that the documentation is wrong on newer version of the command there is a "[-IncludeAdminSDHolders]" instead of "[-SkipAdminSdHolders]". As it is still not working i will also send a E-Mail with more details on the case.

[2022-04-11 06:52] SadiqhAhmed-MSFT commented on #91194
@TiloGit Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-04-11 07:00] RohitMungi-MSFT commented on #91280
@HailHorrorHail The reference for python SDK is available [here](https://docs.microsoft.com/en-us/python/api/overview/azure/cognitiveservices-vision-computervision-readme?view=azure-python). @PatrickFarley Could you please update the TOC for python SDK reference to the correct link?

[2022-04-11 07:22] YutongTie-MSFT commented on #91150
@likebupt Hello Blanca, could you please check on above process? Thanks.

[2022-04-11 07:47] sharebear opened #91302 "Incorrect parameter name `min_wal_size` -> `max_wal_size`"
Documentation states that `min_wal_size` is configured by the feature. Investigating the server parameters in the Azure portal it appears to be `max_wal_size` that is configured by this feature
![2022-04-11-094641_1121x396_scrot](https://user-images.githubusercontent.com/161351/162689246-6af2c301-3866-459f-a3a0-962ff08933ac.png)
.

---
#### Document details

⚠ *Do not edit this section. It is requ

[2022-04-11 08:02] RohitMungi-MSFT commented on #91192
@porrascarlos802018 The deployment of the containers on k8s is not fully supported. Updates to support the same is still in-progress, currently there is no ETA but the document [updates ](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/whats-new?tabs=csharp)will cover these changes. Thanks!!

[2022-04-11 08:03] ggailey777 commented on #91020
Yes, this description is wrong. Thanks @rec00n for pointing this out!

[2022-04-11 08:04] ggailey777 commented on #91020
#reassign:ggailey777

[2022-04-11 08:09] #91020 closed

[2022-04-11 08:13] GitHubUser1339 opened #91304 "Configure Connection Monitor for ExpressRoute"
I found this document while looking for information on how to configure connection monitor to monitor redundant ER circuits. This document contains parts that are unclear to me and might be outdated.

Minor remark. Under section 'Create a connection manager' there is a section on 'view results':
![image](https://user-images.githubusercontent.com/17045753/162692797-aeebe8cc-b325-4897-b1be-ec740b518

[2022-04-11 08:18] Klaas- opened #91305 "use curl -s"
Hi,
currently you suggest to use curl
https://github.com/MicrosoftDocs/azure-docs/blame/main/includes/virtual-machines-imds.md#L46
https://github.com/MicrosoftDocs/azure-docs/blame/main/includes/virtual-machines-imds.md#L206
[...]

I'd say all those examples are supposed to use curl -s in order to suppress the output of the file being downloaded.

Greetings
Klaas

---
#### Document Details

⚠ *Do

[2022-04-11 08:23] KrishnaG-MSFT commented on #90874
@Trevor-NetApp Thanks for bringing this up. I also have used the runbook provided in the referred Azure document and has received "Get-AzUserAssignedIdentity cmdlet not recognized" error.

On checking further, I got to know that we need to explicitly install the Get-AzUserAssignedIdentity cmdlet related module Az.ManagedServiceIdentity because Az.ManagedServiceIdentity is a preview module and not

[2022-04-11 08:36] kengaderdus commented on #89933
@rolandwales10

Thank you for your feedback and patience. We're collecting all the information required to respond to your issue appropriately.

[2022-04-11 08:36] AjayKumar-MSFT commented on #91158
RamanaSwaroop, While I'm checking on this further internally. Are you specifically referring to the note' in the repo -_"This sample is provided "as is" and is not supported. Likewise, no commitments are made as to its longevity or maintenance._ or anything else.

[2022-04-11 08:39] AjayKumar-MSFT commented on #91151
pnarsi, ack. thanks for the follow-up and sharing your findings.

[2022-04-11 08:42] Marco-Santoni opened #91306 "Add Python to SDK Examples"
The page lists SDK examples in .NET and NodeJS. It would help to add the same examples in Python as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b13-2e3d-39ea-167a-ebdc1864f66b
* Content: [Configure and manage Time to Live in Azure Cosmos DB](h

[2022-04-11 08:56] alatas opened #91307 "BlobInput example includes QueueTrigger"
`BlobInput` binding example has `QueueTrigger` attribute which is misleading.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd428773-db08-e2cb-8320-2943be82ffb7
* Version Independent ID: b8f4e7f0-21a6-1c25-3fd4-7bd3229c4e3a
* Content: [Azure Blob storage input binding for Azure Functions](https://docs.microsof

[2022-04-11 08:57] AnuragSharma-MSFT commented on #91302
@sharebear Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-11 08:58] AnuragSharma-MSFT commented on #91306
@Marco-Santoni Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-11 09:02] cveld commented on #64497
@SumanthMarigowda-MSFT-zz @roygara I agree with @dstote at my side we indeed spent some time to figure out this limitation. Would be great to get it added to the main docs.

[2022-04-11 09:06] miobrado opened #91308 "169.254.169.254"
Please clarify on the page what the IP address '169.254.169.254' represents and that it is accessible from the VM, i.e., not something the reader needs to adapt/change with some other OAuth server IP.

Would be useful to add a link to, e.g.:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows

---
#### Document Details

⚠ *Do not edit this section

[2022-04-11 09:21] rstenborg opened #91309 "Typo"
"The client machine contacts an on-premises Azure AD DC and trades the partial TGT for a fully formed TGT."

Should be
The client machine contacts an on-premises Active Directory DC and trades the partial TGT for a fully formed TGT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b27a01-622e-d980-83f2-1ed27060613b
* V

[2022-04-11 09:32] buchananwp commented on #91117
This should be assigned to the data team. Yogi Pandey and Sam Kemp own this.

[2022-04-11 09:47] ezYakaEagle442 opened #91311 "Azure Spring Cloud Config Server integration with Azure Key Vault should be supported & documented."
A basic strong requirement is to configure a DB connection string including password injected from Azure Key Vault.

Assuming we have the here yunder secrets stored in KV:
[code]

application.yml should look like:
[code]

[code]

See Azure [KV SDK integration doc](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#advanced-usage).

See issue [https://github.com/Azure/Az

[2022-04-11 10:24] yelevin commented on #91173
#assign:@me

[2022-04-11 10:24] PRMerger15 commented on #91173
The following users don't have valid GitHub IDs, or are not collaborators on this repo: me

[2022-04-11 10:25] yelevin commented on #91173
#assign:@yelevin

[2022-04-11 10:27] sukirti88 opened #91312 "Resource manager template for creating action group is not updated. It is from 2015. https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-monitor/alerts/action-groups-create-resource-manager-template.md"
Resource manager template for creating action group is not updated. It is from 2015

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3857ba93-4cb3-88db-c678-754fcb8e49f5
* Version Independent ID: 53bde45e-aa04-3db9-54a5-f97f7c7d762d
* Content: [Create action groups with Resource Manager templates - Azure Monitor](https:/

[2022-04-11 10:27] adityabalaji-msft commented on #89892
Hi @GrzegorzHejman - the above fix has been made and should be available in the latest PowerShell version. Could you kindly verify whether you are able to get the AG scenario to work now?

[2022-04-11 10:27] memildin commented on #90801
@naokitakeda14 let's take the first question first :)

**Microsoft Defender for Cloud** is our central cloud security product for assessing the posture of all your multi-cloud and hybrid cloud resources. This service applies the benchmarks and standards of your choice to all of your cloud resources and highlights security issues which need addressing (in the form of security recommendations).

Org

[2022-04-11 10:38] SadiqhAhmed-MSFT commented on #90673
@Sharmistha-Rai Any update on this?

[2022-04-11 11:05] memildin commented on #90801
#reassign:bmansheim for the second question.

[2022-04-11 11:10] memildin commented on #91171
Hi @H-Nawabi, thanks for your question.

There's an availability table on this page answering exactly this point.

![image](https://user-images.githubusercontent.com/55078580/162727864-71d39d41-f69b-4f1d-9d15-ff1bfa301471.png)

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2022-04-11 11:10] #91171 closed

[2022-04-11 11:35] cloudlearner253 commented on #91023
Any update?

[2022-04-11 11:50] sujitks opened #91313 "Replacing the custom error page on application gateway"
# Error page handling in application gateway - Feedback

This is with respect to text at articles/application-gateway/custom-error.md. It is specified that application gateway downloads the error file and caches it on the machine. What if error file needs updating with different text? It is suggested to use a different blob location so that app gateway can pull it a new copy?

What if there is a s

[2022-04-11 12:07] Trevor-NetApp commented on #90874
Just another day in the land of Azure; what worked yesterday, may not today. 😝

Sincerely,

Trevor Smith
Technical Support Escalation Engineer

CompTIA: A+, Network+, Security+, Storage+, CySA+, CASP+
VMware: VCP5/6-DCV/NV, VMware vExpert 2015-2022
Microsoft: Microsoft Certified: Solutions Expert: Server 2016 x2 (Core Infrastructure & Productivity), Microsoft Certified: Enterprise Administrator Ex

[2022-04-11 12:16] SwathiDhanwada-MSFT commented on #91312
@sukirti88 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-04-11 12:27] #91312 closed

[2022-04-11 12:46] scaramushe opened #91314 "The firewall rules command no longer works with unblocking ntttcp traffic"
[Enter feedback here]
This command no longer works with win10 with latest defender updates:
`netsh advfirewall firewall add rule program=c:\tools\ntttcp.exe name="ntttcp" protocol=any dir=in action=allow enable=yes profile=ANY`
Disabling firewall altogether does allow for ntttcp traffic but this is of course not the correct resolution :)

If needed, i can provide the relevant defender versions
---

[2022-04-11 12:54] stan-sz opened #91315 "Update Bicep fuctions with (last)indexOf"
Per https://github.com/Azure/bicep/pull/5627 that was released on Friday, the documentation does not reflect the change that (last)indexOf now can operate on arrays. It should be crystal clear about the case-sensitivity of this function.

[2022-04-11 13:00] iwafula025 opened #91316 "Overview of Azure Monitor agents"
Azure Monitor recently launched a new agent, the [Azure Monitor agent](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-overview), that provides all capabilities necessary to collect guest operating system monitoring data. Use this new agent if you **don't require** [these current limitations](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-

[2022-04-11 13:17] KrishnaG-MSFT commented on #91316
@iwafula025 Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-11 13:33] edgreenberg opened #91320 "Page needs to teach or link about command line access to these features."
Page needs one or more links to equivalent pages that teach how to do these things with the command line or powershell.

For instance, I'm looking at how to add an app service to an existing backend pool.   Or even create a backend pool that references an app service.

All these things in Portal are fine, but there is probably a document that shows how to specify an app service in a CLI command.

[2022-04-11 13:38] Sharmistha-Rai commented on #90673
@SadiqhAhmed-MSFT - we have taken this up for our content freshness. The doc should get updated in a couple of weeks or by end of this month. The change will involve updating screenshot etc., which will take time.

[2022-04-11 13:41] sujitks commented on #91313
Just verified by changing the pages from page1.html to page2.html and then back to page1.html and looks like it has forced app gateway to fetch updated html document.

[2022-04-11 13:46] shwetamathur7 commented on #91231
@xzf0587 Configuring the client secret in application's configuration file is not secured as secrets ae hardcoded in configuration file and expose along with source code.  We do not recommend configuring a credential.

Microsoft Identity Platform provide you other ways to store credentials in more secured way.
1.You can use [Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general

[2022-04-11 13:49] shwetamathur7 commented on #91231
Closing this issue because this forum is for documentation issues only. To report functionality issues or get help with your code, please visit Microsoft Q&A

[2022-04-11 13:49] #91231 closed

[2022-04-11 13:57] RohitMungi-MSFT commented on #91190
@mawah We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2022-04-11 13:57] #91190 closed

[2022-04-11 14:00] thomastvedt opened #91326 "Missing in documentation: How to disable Container plan and remove agents?"
Hi, the documentation is missing one important part, how to disable Defender for containers again?
I tried to
- Disable in the plan
- Disable auto provisioning
- Delete deployment "azuredefender-collector-misc", and DaemonSet "azuredefender-collector-ds" and "azuredefender-publisher-ds"

But resources suddenly appeared again after a few minutes.. How can I remove agents?!?

---
#### Document Detai

[2022-04-11 14:09] SadiqhAhmed-MSFT commented on #90673
@Sharmistha-Rai Thanks for the update.

[2022-04-11 14:27] v-frmoya commented on #91209
Hi team,

is there any update on this?

[2022-04-11 14:37] VikasPullagura-MSFT commented on #91305
@Klaas-
Thanks for the feedback! We will check and update the document as appropriate.

[2022-04-11 14:55] PriyankaRudramaina commented on #91300
Hello @HarlowBurgess,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-11 15:02] mayurpuli opened #91331 "When Image definition changes each time, does it need the yaml config also to be changed for new deployments?"
Hello There: When using docker-compose YAML file for the deployment, if the image definition within it changes each time, does it require the yaml config file also to be changed for new deployments?

Is there any best practice around this?

Thanks,
--Mayur

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba

[2022-04-11 15:10] MarileeTurscak-MSFT commented on #91308
@miobrado
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-11 15:16] AaronMaxwell commented on #90862
Thanks for your dedication to our documentation. This issue has been triaged and approved. The PR is mentioned in the chat above. #please-close

[2022-04-11 15:16] #90862 closed

[2022-04-11 15:18] tdevopsottawa opened #91334 "Please give service tags or CIDR for needed targets instead of just FQDN"
The tables in the page all specify the necessary outbound destinations to whitelist as FQDNs only - however, this means the page is useless as a way to document required NSG rules, because NSGs don't allow you to use FQDNs, only service tags or IP ranges.

Can the table be updated to have a column for corresponding ServiceTags and/or CIDRs for each entry in addition to FQDNs so users can use this

[2022-04-11 15:23] ram-msft commented on #91088
Thanks, @nibaccam Can you please review and update the document for python version 3.8.

[2022-04-11 15:26] mayaherskovic commented on #91326
Instead of the 3rd step (Delete deployment "azuredefender-collector-misc", and DaemonSet "azuredefender-collector-ds" and "azuredefender-publisher-ds") you need to disable it on the RP level as documented here: https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-containers-enable?tabs=aks-deploy-portal%2Ck8s-deploy-asc%2Ck8s-verify-asc%2Ck8s-remove-arc%2Caks-removeprofile-api&pi

[2022-04-11 15:37] SwathiDhanwada-MSFT commented on #91247
Assigning to content author @SnehaSudhirG for review

[2022-04-11 15:39] #90725 closed

[2022-04-11 15:43] terrymandin commented on #91264
I resolved this issue.  I didn't realize that there was a Log Analytics setting for Defender that was separate from the Monitoring Log Analytics connection.

[2022-04-11 16:20] SaiKishor-MSFT commented on #91168
@nanordas Any update?

[2022-04-11 16:27] PRMerger7 commented on #91301
The following users don't have valid GitHub IDs, or are not collaborators on this repo: ggailey

[2022-04-11 16:33] sakarilaulaj opened #91336 "Copying a excel file from Sharepoint Online using Data Factory"
Hi!

Following the instructions works well when I try to copy a csv file from Sharepoint to Blob storage. The problems start when I use exactly the same implementation with an excel file. I am able to copy the file, but the encoding seems to be an issue. Any ideas how to solve that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-04-11 16:34] ChaitanyaNaykodi-MSFT commented on #91320
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-11 16:39] guarismo opened #91337 "How does this translate on the new version of the sensor?"
[Enter feedback here]

The Horizon UI is not present in the same place on the 22.x version of the sensor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6996a69d-7f4a-673f-bc4d-a4fbe047b22e
* Version Independent ID: a7f0f054-9a7d-cfd4-2202-5a43b7e99d8c
* Content: [Manage proprietary protocols (Horizon) - Microsoft Defe

[2022-04-11 16:44] HarlowBurgess commented on #91300
Hello @PriyankaRudramaina . I need to close this issue report. The tutorial does indeed work in Azure Public Cloud. I was working in Azure Government Cloud (US). I am not sure why Bastion does not work in Government Cloud in this configuration but I will look into it more and I will submit a new issue once I determine how to get it working or with information on why it does not work (if I end up h

[2022-04-11 16:44] #91300 closed

[2022-04-11 16:53] SaiKishor-MSFT commented on #91154
@as2005as Yes. That is right, because this is not an option for Shared disks. Hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-11 16:53] TiloGit commented on #91194
thanks, that helped.

[2022-04-11 16:53] #91194 closed

[2022-04-11 16:54] SaiKishor-MSFT commented on #90123
@catmanjan Any update?

[2022-04-11 16:55] SaiKishor-MSFT commented on #90887
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-11 16:55] killnine opened #91339 "No longer accurate?"
This documentation appears to be out of date in some areas, and just very confusing in others.

For example:

1. **Identifier (Entity ID)** There is a second within `Basic SAML Configuration` prior to `Reply URL` which appears to need to change for SSO to work correctly. By default, `https://saml.intacct.com` is the populated value. But SSO wont work without it being changed to your tenant identif

[2022-04-11 16:56] SnehaAgrawal-MSFT commented on #91070
@syukumoto Check this detailed blog on explaining [App Service to Storage Account Connection Condition Summary](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/app-service-to-storage-account-connection-condition-summary/ba-p/2968642)

[2022-04-11 16:56] tfitzmac commented on #90879
@stowen-msft - I have confirmed that when running a resource group or subscription level deployment, if you add the what-if option, it will groom the deployment history. If you are seeing something different, I think support would have to look at the details of the operation.

[2022-04-11 17:00] JamesTran-MSFT commented on #91339
@killnine
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-11 17:01] abhijit-z opened #91341 "Uploading data to specific container in Azure blob storage"
[I would like to upload a file to a specific container in azure blob storage. Can anyone please tell me how to mention the path of the datastore and specific container to upload a file or blob

I can see the following code but I can't understand **where and how shall I mention the path to a specific blob container in Azure blob storage?** Can you please guide on this?

from azureml.core import Wor

[2022-04-11 17:10] CarlosPiAn opened #91342 "Child management group Audit logs not showing resource role assignments over tenant root group"
Scenario:
-I assigned a resource role through PIM over the Tenant Root group.
-This role is inherited by all the child management group members as expected.
-If an owner of a child management group accesses the Audit logs, they are not able to see the role changes that are inherited from hierarchy above.
-We tried with elevated access Global administrator and different administrative azure AD Role

[2022-04-11 17:10] stowen-msft commented on #90879
Thanks for checking!  We use the Azure SDK, Microsoft.Azure.Management.ResourceManager, and use it's Deployments.WhatIfAsync method to conduct the request, using nuget package version 3.13.1-preview.

[2022-04-11 17:21] Karishma-Tiwari-MSFT commented on #91331
Thanks for the question. We are currently investigating and will update you shortly.

[2022-04-11 17:21] RBVieira opened #91343 "How much Hertz per Second (Hz) the Standard_A1 (100 ACU) has?"
I have a desktop Intel Core i3 3.50GHz. I was wondering how to compare the clock's velocity of a Standard_A1 Small (100 ACU), I mean the number of cycles per second performed by the CPU, with my desktop. Just to have a better feeling of how much faster or slower it is. Looking to the table below I cannot interpret this information. Where can I find it?

Size	                    vCPU	Memory:GiB	Tem

[2022-04-11 17:21] SatishBoddu-MSFT commented on #91078
Hello @Matt-Mustard Thanks for the extra info, we are looking into it!

[2022-04-11 17:25] khdownie commented on #91226
@SumanthMarigowda this issue can now be closed.

[2022-04-11 17:35] Grace-MacJones-MSFT commented on #91307
Hi @alatas, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-04-11 17:38] SumanthMarigowda commented on #90944
@miqm Firstly, Apologies for delay in responding here! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-11 17:40] lon-tierney opened #91344 "Missing links in AML docs"
Please correct missing links in TIP section mid-page on page referenced.

Probably needs a link to this page?
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-identity-based-data-access?msclkid=d2c40cccb9b811ec82c7b84f6ad6f752

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c92a0e-152f-39b0-a27f-ad608ffb

[2022-04-11 17:59] Grace-MacJones-MSFT commented on #91311
Hi @ezYakaEagle442 , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-11 17:59] naherring opened #91345 "jq install error with sapcon-sentinel-kickstart.sh"
Hello,

I am trying to run the step of installing the agent with sapcon-sentinel-kickstart.sh and I'm getting the following error:

Running on "sles" version 12.4 id
Updating package lists
Updating installed packages
Installing jq
Failed to install jq
Refreshing service 'Advanced_Systems_Management_Module_x86_64'.
Refreshing service 'Containers_Module_x86_64'.
Refreshing service 'HPC_Module_x86_64

[2022-04-11 18:04] msjasteppe commented on #87967
@CedricSteenbeke When setting up the IoT Central app, did you select Data Export vs. Data Export (legacy)?

![image](https://user-images.githubusercontent.com/65258541/162800533-4c5cc7d5-3a35-41ca-a539-4ec32d40e67a.png)

I would also like to encourage you to begin exploring the GAed replacement for the IoT connector as the IoT connector it is slated for decommission this year.

MedTech service - h

[2022-04-11 18:09] Grace-MacJones-MSFT commented on #91341
Hi @abhijit-z, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-11 18:12] PriyankaRudramaina commented on #91343
Hello @RBVieira,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-11 18:19] trkeya commented on #90330
@SwathiDhanwada-MSFT  Could you assign this to Uri who owns lead management.

[2022-04-11 18:27] spelluru commented on #91156
@sijucm - Apologize for the inconvenience.

The links to samples are provided in the **Next Steps** section:

https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/TopicFilters
https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/GettingStarted/BasicSendReceiveTutorialwithFilters/BasicSendReceiveTutorialWithFilters

Please let us know if

[2022-04-11 18:27] jonburchel commented on #85608
Thanks for your dedication to our documentation @malaker. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your sugge

[2022-04-11 18:29] gonsalvg opened #91346 "login prompt style params not listed in graph docs"
Feature present and documented in Azure AD docs... present but _NOT documented in MS Graph docs_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6def816-86a6-e3ed-79e1-d7c9c747c205
* Version Independent ID: 22553a1d-ec26-52c3-1e88-3e5648fef2a7
* Content: [Interactive request prompt behavior (MSAL.js) - Microsoft ident

[2022-04-11 18:30] #85635 closed

[2022-04-11 18:34] jonburchel commented on #86396
Thanks for your dedication to our documentation @heckmanjim. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your su

[2022-04-11 18:34] #86396 closed

[2022-04-11 18:39] flang-msft commented on #90945
@Park-minkyu, @AnuragSharma-MSFT - Hi, we updated the content in this article last week to re-focus less on building a client app from scratch and more on cloning the repo where we store samples. That allows us to update the samples without essentially making the documentation out of sync. Please try the guidance in the sample and let us know what you think.

[2022-04-11 18:40] JamesTran-MSFT commented on #91346
@gonsalvg
Thank you for your feedback!

When it comes to the login prompt style params not being listed within the Graph Docs, can you share what MS Graph Doc you're referring to? Additionally, can you share the example/enhancement you'd like to be made so I can gain a better understanding of your issue?

Thank you for your time and patience throughout this issue.

[2022-04-11 18:41] SwathiDhanwada-MSFT commented on #91243
@tpalfy Custom logs API  feature in Azure Monitor is in preview. Currently it works only for the whitelisted subscriptions. Kindly  submit a request for it to be enabled in your subscriptions. Please sign up at https://aka.ms/CustomLogsOnboard.

Same information has been documented [here](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/custom-logs-overview). Kindly check.

[2022-04-11 18:43] #87284 closed

[2022-04-11 18:46] jonburchel commented on #88620
Thanks for your dedication to our documentation @richsage. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your sugg

[2022-04-11 18:46] #88620 closed

[2022-04-11 18:47] mike-urnun-msft commented on #91107
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-11 18:47] #91107 closed

[2022-04-11 18:48] jonburchel commented on #86541
Thanks for your dedication to our documentation, @bensonrlee. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your s

[2022-04-11 18:48] #86541 closed

[2022-04-11 18:50] DerekHerman-MSFT commented on #91019
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-11 18:52] jonburchel commented on #87099
Thanks for your dedication to the docs, @ElectricLlama.  That's great you were able to get the script above working as required!  I will close this issue out now.  #please-close

[2022-04-11 18:52] #87099 closed

[2022-04-11 18:52] flang-msft commented on #87932
@jason-barringer, @GeethaThatipatri-MSFT - thanks for you patience and input on the samples. Your observations were true, Jason. The sample documentation had become unusable through various updates that did not take the whole picture into consideration. Sorry for that.  We updated the content in this article last week to re-focus less on building a client app from scratch and more on cloning the r

[2022-04-11 18:54] jonburchel commented on #88693
Thanks for your dedication to our documentation #jeffmurr. The requested updates have not been made yet and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-04-11 18:54] #88693 closed

[2022-04-11 18:58] larryclaman opened #91347 "Backup Vault not used in conjunction with VMs"
There's a line in this page with states "_The Backup vault also contains the backup policies that are associated with the protected virtual machines."

I realize I might be nitpicking, but if I understand correctly, Backup vaults are not used in conjunction with VMs (VMs need to use Recovery Vaults.)

It seems like this line in question should more properly read "_The Backup vault also contains th

[2022-04-11 19:01] as2005as commented on #91154
I don't follow, why in the below "create managed disk" page, it mention that HDD, from a certain size, do have share ability:
![image](https://user-images.githubusercontent.com/96368046/162810838-513f8e2e-1017-4f89-abad-9e9ce19972f5.png)

[2022-04-11 19:05] AjayKumar-MSFT commented on #91245
Thanks for the follow-up and sharing your feedback.  Your feedback has been shared (@madsd) with the PG/content owner for further review, to see if this needs additional clarity.

[2022-04-11 19:12] AjayKumar-MSFT commented on #91158
Thanks for the confirmation. Our Azure Static Web Apps Product team owns the repo. Our team is planning to publish Azure docs on this and making changes to the GitLab. However, we do not have an exact ETA on this yet.  Much appreciate your feedback on this.

[2022-04-11 19:22] YutongTie-MSFT commented on #91344
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-11 19:25] AjayKumar-MSFT commented on #91229
RamanaSwaroop, Yes, once you enable this feature, everything from your website has enhanced performance. You don't need to add static images manually.

As mentioned by Anthony Chu (Azure Static Web App PG) -[ here](https://twitter.com/nthonyChu/status/1484646364608806912?s=20&t=SvPuTqduHIELdvPY5yB9GQ) - _"Because of how private endpoints work, you'll access Static Web Apps in a single region and w

[2022-04-11 19:27] chaisen2006 opened #91348 "Java sample - Incoming Client Certificate"
Hi Experts,

Does the Incoming Client certificate could be a self signed certificate which the app service could validate using the Java sample code?

Thnks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID: 0b5c4944-0327-91fc-2b0b-c19a1

[2022-04-11 19:37] shanecribbs opened #91349 "On premise"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46805bf-c28d-b87d-974d-8dfb1f805c9d
* Version Independent ID: d1c944b4-3a5a-4eed-39e2-b9e3b15effdc
* Content: [Configure a site-to-site VPN in vWAN for Azure VMware Solution - Azure VMware Solution](https://docs.microsoft.com/en-us/azure/azure-vmware

[2022-04-11 19:38] shanecribbs opened #91350 ""On premise" needs to be updated to "On premises""
In several places, the term "on premise" is used when it should be "on premises".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46805bf-c28d-b87d-974d-8dfb1f805c9d
* Version Independent ID: d1c944b4-3a5a-4eed-39e2-b9e3b15effdc
* Content: [Configure a site-to-site VPN in vWAN for Azure VMware Solution - Azure VMware S

[2022-04-11 19:38] steveesp commented on #91314
@scaramushe , this is the first I'm hearing that the netsh command doesn't work. What happens when it is entered as it is now?
Can you suggest an updated command line that works with the latest defender?

[2022-04-11 19:40] kobulloc-MSFT commented on #91349
@shanecribbs Thank you for your feedback!  I'm going to close this issue out as we'll address this in https://github.com/MicrosoftDocs/azure-docs/issues/91350.

[2022-04-11 19:40] #91349 closed

[2022-04-11 19:41] kobulloc-MSFT commented on #91350
@shanecribbs Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-04-11 20:00] jeremy-hicks opened #91351 "CORS configuration steps do not work"
The steps provided for CORS configuration do not allow the sampling tool to access the blob container, namely step 3:

When specifying the Allowed origins as above on my storage account I can see 403s for the Preflight Blob Requests in Log Analytics, along with a referrer header of `https://fott-2-1.azurewebsites.net/`. When swapped to Allowed origins of `*`, the sampling tool connects successfull

[2022-04-11 20:19] chengyu-liu-cs commented on #90662
Hi @ram-msft,

Are you still helping  with this issue or you've already considered this issue closed?

[2022-04-11 20:33] JamesTran-MSFT commented on #91093
@droushd
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A f

[2022-04-11 20:33] #91093 closed

[2022-04-11 20:34] JamesTran-MSFT commented on #91094
@giacomogalletto
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage ou

[2022-04-11 20:34] #91094 closed

[2022-04-11 20:36] SaiKishor-MSFT commented on #91154
@roygara Could you provide any insights here?

[2022-04-11 20:45] KranthiPakala-MSFT commented on #91113
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-04-11 20:45] #91113 closed

[2022-04-11 20:47] JamesTran-MSFT commented on #91187
@GianlucaVagnoni
Thank you for your time and patience throughout this issue.

When it comes to improving our [RESTful technical profile documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/restful-technical-profile) to include more complex scenarios, I've assigned this issue to the author so they investigate and update the article as needed.

As for how to use the attribute *

[2022-04-11 20:49] kobulloc-MSFT commented on #91350
@shanecribbs Thank you very much for pointing this out!  Premise and premises are two very different words.  Premises is intended here.  I'll get a PR out to fix this.

[2022-04-11 20:50] KranthiPakala-MSFT commented on #91286
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-11 21:20] lsi-ak opened #91363 "Library API requires Python wheel to be in zip file?"
I am using Azure DevOps to deploy a Databricks library (wheel) written in python to my Databricks cluster. Does this work?

I am using the DataThirst powershell library azure.databricks.cicd.tools as the wrapper around the Databricks Library API.

I have tried with both a whl file and the zip file. When uploading with whl file, I get message from Databricks that the whl file needs to be a zip file

[2022-04-11 21:23] #91301 closed

[2022-04-11 21:47] nibaccam commented on #91088
Reaching out to the engineering team to clarify, will post an update here once I learn more.

[2022-04-11 21:49] MarileeTurscak-MSFT commented on #91309
@rstenborg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-11 21:52] suzizuber commented on #91350
@shanecribbs and @kobulloc-MSFT I recently made the changes for this request.

[2022-04-11 22:13] MarileeTurscak-MSFT commented on #91326
@thomastvedt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-11 22:17] thomastvedt commented on #91326
Hi @mayaherskovic, this looks promising, but I'm not able to figure out how apply these changes. Some thing that I tried:

Create a resource -> search for "template" -> paste json from link above -> Error message "invalid template"

Then I found the "JSON View" button on the top right on my AKS overview page, this looks like the correct "format", but how can I apply changes here? Is it possible vi

[2022-04-11 22:31] msjasteppe commented on #87967
@CedricSteenbeke @namalu I have worked with our dev team and updated the device mapping templates based on the PR and the open-source project for IoT Central mappings - https://github.com/microsoft/iomt-fhir/blob/726cf7dd7afd011b9e593cb6eae425d79ef7ab56/sample/templates/sandbox/devicecontent.json Please let us know if this is sufficient for this PR to be closed - https://docs.microsoft.com/azure/h

[2022-04-11 22:59] SaiKishor-MSFT commented on #90123
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-11 22:59] #90123 closed

[2022-04-11 23:09] kobulloc-MSFT commented on #91334
@tdevopsottawa Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-04-11 23:10] thomastvedt commented on #91326
So I found this tutorial to setup authorization with Postman: https://blog.jongallant.com/2021/02/azure-rest-apis-postman-2021/

I then sent a PUT request to URL: `https://management.azure.com/subscriptions/XXX-XXX/resourcegroups/vn-staging/providers/Microsoft.ContainerService/managedClusters/cluster-name?api-version=2020-09-01`

body:

[code]

resulted in 200 OK:

[code]

But still no mention abo

[2022-04-11 23:11] MarileeTurscak-MSFT commented on #91345
@naherring
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-11 23:23] MarileeTurscak-MSFT commented on #91345
You may need to [install jq separately](https://stackoverflow.com/questions/33184780/install-jq-json-processor-on-ubuntu-10-04) to avoid this error. It also exists in the [package hub](https://packagehub.suse.com/packages/jq/).

Let me know if this helps. Since this is more of a product question than a documentation issue, I would recommend posting further questions to [Microsoft Q&A](https://docs

[2022-04-11 23:23] #91345 closed

[2022-04-11 23:36] tigormanmsft opened #91372 "THIS PAGE MUST BE REMOVED"
There is no longer anyone at Microsoft supporting Oracle on BareMetal Infrastructure, so this page must be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d77a96f6-b228-2049-8192-84945c3661b5
* Version Independent ID: 8b47bc8f-21c8-7bdd-c84b-cfb24addd33c
* Content: [Provision BareMetal for Oracle - Azure Bareme

[2022-04-11 23:38] tigormanmsft opened #91373 "THIS PAGE MUST BE REMOVED"
There is no longer a team at Microsoft supporting Oracle for Azure BareMetal Infrastructure.  This page should be removed to avoid confusion.  If ever this option is supported again at Microsoft, then it can be reposted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7101f2cf-ea89-8b87-dbee-da3d44716fc9
* Version Indepe

[2022-04-11 23:45] #91160 closed

[2022-04-11 23:49] thomastvedt commented on #91326
Now it suddenly worked 🙀

Used the following URL (not sure if API version at the end made a difference?):
`https://management.azure.com/subscriptions/XXX/resourcegroups/vn-staging/providers/Microsoft.ContainerService/managedClusters/clustername?api-version=2021-07-01`

And PUT body:
[code]

The REST PUT returned 200 OK:

[code]

It is still not possible to see the "azureDefender" part in Azure adm

[2022-04-11 23:52] ediemerson-br opened #91375 "Code Mispelling"
Hi! The variable $setting must be $Setting (capital S) in the code in "Enable sensitivity label support in PowerShell" - step 6.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent ID: 43851f8a-b71f-0a0a-8b1f-629e3528972f
* Content: [Assign se

[2022-04-12 00:01] tigormanmsft opened #91376 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
This page must be removed immediately.  It is causing confusion with customers because the team which formerly supported Oracle database workloads on BareMetal Infrastructure has been disbanded or left the company.  Since there is nobody to answer questions, these pages must be removed immediately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-04-12 00:03] JamesTran-MSFT commented on #91375
@ediemerson-br
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-12 00:08] tigormanmsft opened #91377 "This page must have all mention of Oracle removed immediately"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be edited and removed.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:09] tigormanmsft opened #91378 "Remove all mention of Oracle workloads on BMI doc pages"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be edited and removed.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:10] tigormanmsft opened #91379 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:11] tigormanmsft opened #91380 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:11] tigormanmsft opened #91381 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:12] tigormanmsft opened #91382 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:13] tigormanmsft opened #91383 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:14] tigormanmsft opened #91384 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:14] tigormanmsft opened #91385 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:15] tigormanmsft opened #91386 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:15] tigormanmsft opened #91387 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:16] tigormanmsft opened #91388 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:16] tigormanmsft opened #91389 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:17] tigormanmsft opened #91390 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:17] tigormanmsft opened #91391 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:18] tigormanmsft opened #91392 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 00:18] tigormanmsft opened #91393 "THIS PAGE MUST BE REMOVED IMMEDIATELY"
There is no longer a team at Azure Dedicated to support Oracle workloads on Azure BareMetal Infrastructure (BMI).  They have either left the company, retired, or been re-assigned.  As a result, it is misleading and confusing to customers for this documentation to continue to be exposed publicly, so all mention of Oracle on BMI must be removed immediately.

---
#### Document Details

⚠ *Do not edit

[2022-04-12 01:13] kulukamal opened #91394 "Navigation after data fetch from data lake gen1 returning 0 Bytes"
The steps work till Loading data into query editor but on clicking of binary it's not returning original file instead I am getting file with 0 Bytes. Although the file is not empty.

<img width="775" alt="image" src="https://user-images.githubusercontent.com/35699778/162858732-59da0743-c4a2-4c5e-809e-7c7a20c5d916.png">
<img width="778" alt="image" src="https://user-images.githubusercontent.com/356

[2022-04-12 01:27] Park-minkyu commented on #90945
@flang-msft I found screenshot has been changed. PONG!
I will let you know, after my try.

and really appreciate quick and detail(also sincere) reponse!

[2022-04-12 01:48] sjwaight opened #91395 "Azure Databricks screenshots and PySpark out-of-date"
The Azure Databricks screenshots are out-of-date and don't match the current experience. It seems the docs are also not available for community contributions so this will need an internal fix.

The PySpark code is also invalid, though it is replicated elsewhere on Docs and that code seems to work (see: https://docs.microsoft.com/en-au/azure/open-datasets/dataset-seattle-safety?tabs=pyspark).

---

[2022-04-12 03:29] CHEEKATLAPRADEEP-MSFT commented on #91363
@lsi-ak  Thanks for the question! We are investigating and will update you shortly.

[2022-04-12 03:29] CHEEKATLAPRADEEP-MSFT commented on #91363
@lsi-ak  Thanks for the question! We are investigating and will update you shortly.

[2022-04-12 03:30] CHEEKATLAPRADEEP-MSFT commented on #91394
@kulukamal  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-12 03:31] CHEEKATLAPRADEEP-MSFT commented on #91395
@sjwaight  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-12 03:44] AjayKumar-MSFT commented on #91348
chaisen2006, Thanks for posting the question on Azure docs channel.

Just to highlight, App Service has a list of Trusted Root Certificates which you cannot modify in the multi-tenant variant version of App Service (as in your case), but you can load your own CA certificate in the Trusted Root Store in an App Service Environment (ASE), which is a single-tenant environment in App Service.

--(The F

[2022-04-12 03:50] SadiqhAhmed-MSFT commented on #91347
@larryclaman Thank you for your post. We will review the content and update the doc as appropriate.

[2022-04-12 03:58] SumanthMarigowda commented on #91215
@kimlam-ms PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-12 03:58] #91215 closed

[2022-04-12 04:01] TLKG commented on #90850
@shwetamathur7  `myapp001` is my B2C tenant created. Its name shown in the **B2C Tenants** list is **myapp001.onmicrosoft.com**. Are we on the same page from 1 to 2.3?

[2022-04-12 04:08] RohitMungi-MSFT commented on #91351
@jeremy-hicks Thanks for spotting this. Yes, using the sample labeling tool URI in the origin list fails. The origin should be * as mentioned in the screen shot.

@laujan Can we update point 3 to use all origins?

[2022-04-12 04:18] prabirkrsarkar opened #91398 "Error in Doc"
[Enter feedback here]

Your document says - "Your IoT hub is in the standard tier, but the device sending the message has no device twin."
AFAIK, whenever a device identity is created in the IoT hub a device twin is created. Please correct the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09122ce7-4c60-

[2022-04-12 04:21] shwetamathur7 commented on #90850
@TLKG Yes, we are on the same page. Are you still facing same error?

[2022-04-12 04:30] AshokPeddakotla-MSFT commented on #91398
@prabirkrsarkar Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-12 04:39] CHEEKATLAPRADEEP-MSFT commented on #91336
@sakarilaulaj  Thanks for the question! We are investigating and will update you shortly.

[2022-04-12 04:43] SwathiDhanwada-MSFT commented on #91342
@CarlosPiAn Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-12 04:52] TeddyBear1314 opened #91399 "Can we document on this page that Delta Live Table is only available for Databricks premium workspace"
Hi team,
Delta Live Table is only available on premium workspace:
https://databricks.com/product/azure-pricing
Can we document this like other pages such as cluster access control:
https://docs.microsoft.com/en-us/azure/databricks/security/access-control/cluster-acl
Thanks a lot for all the help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-04-12 04:57] TeddyBear1314 opened #91400 "Can we document on this page that Databricks sql is only available for Databricks premium workspace"
Hi team,
Databricks sql is only available on premium workspace:
https://databricks.com/product/azure-pricing
Can we document this like other pages such as cluster access control:
https://docs.microsoft.com/en-us/azure/databricks/security/access-control/cluster-acl
Thanks a lot for all the help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-04-12 04:58] shashishailaj commented on #91378
[@tigormanmsft](https://github.com/tigormanmsft) Thank you for reporting this. We will work on this internally with the team and update. . 

[2022-04-12 05:03] shashishailaj commented on #91372
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:03] shashishailaj commented on #91373
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:05] shashishailaj commented on #91393
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:06] shashishailaj commented on #91391
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:06] shashishailaj commented on #91390
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:07] shashishailaj commented on #91389
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:07] shashishailaj commented on #91388
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:07] shashishailaj commented on #91386
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:07] shashishailaj commented on #91385
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:08] shashishailaj commented on #91384
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:08] shashishailaj commented on #91383
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:08] shashishailaj commented on #91382
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:09] shashishailaj commented on #91381
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:09] shashishailaj commented on #91380
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:10] shashishailaj commented on #91379
@tigormanmsft Thank you for reporting this. We will work on this internally with the team and update.

[2022-04-12 05:36] chaisen2006 commented on #91348
@AjayKumar-MSFT : Thank you. In summary if I want to do a Mutual TLS - ( App Service is the server and calling Azure APIM my Client ) , the incoming client certificate to the App Service should not be a self signed one in order to make mutual TLS happen. ( I do not have a ASE in App service ).

[2022-04-12 05:45] kobulloc-MSFT commented on #91208
@yozsoy Sorry for the confusion and thank you again for bringing this to our attention.  The current steps are as you described and I'll get a PR out to update this:

1. Click on + Add filter
2. For Filter type, select Type
3. Then select Confidential compute from the next dropdown

![image](https://user-images.githubusercontent.com/37556655/162889021-94b5d4c3-e646-4f50-8563-9a45b42867f6.png)

[2022-04-12 05:46] SnehaAgrawal-MSFT commented on #91175
@MarcoLodini Thanks for asking question! This statement is for Azure [App Service certificate configuration](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate?tabs=apex%2Cportal#verify-domain-ownership).

![Add and manage TLS_SSL certificates](https://user-images.githubusercontent.com/46553948/162888793-8a6d394e-8f5c-45cd-aa4b-0f539fdba08f.png)

As its also mentioned [he

[2022-04-12 05:54] khigashi1021 opened #91401 "Timeout default value for forward-request policy"
I encountered strange behavior that APIM detected a timeout at forward-request when the client was sending a large request data for  more than 5 mins even though the default timeout is none. If the timeout was set to more than 5 mins, it did not happen.

In this case, unlike the following description, should it be clearly explained that if large payload from client continues to send to APIM, the d

[2022-04-12 05:59] #91267 closed

[2022-04-12 06:19] SreejaBhattacharya-MSFT commented on #91289
Thanks @kirpasingh for confirming .
Hi @roygara , do you have any insights on this?

[2022-04-12 06:26] SnehaAgrawal-MSFT commented on #91249
@kengaderdus Thanks for asking question! For ask on
"Under section 'Create a static web app' did not see 'App artifact location box"

You need to first select build presets then it will be visible.

![Create Static Web App - Microsoft Azure](https://user-images.githubusercontent.com/46553948/162893948-b38137da-ead5-48bf-94a2-dc0eaaa38eb0.png)

[2022-04-12 06:48] LifeRyuto opened #91402 "Should everyone allow 6432 port and traffic to Azure storage?"
One of our customers asks us even if they do not use [pgBouncer](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-pgbouncer) or [logging](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-logging), should they allow 6432 within the subnet and Azure storage by using service tag Azure Storage?

---
#### Document Details

⚠ *Do not edit this section.

[2022-04-12 06:49] sasinaola commented on #79733
Hi @OzBob this is an addition to Add a certificate for custom domain, before adding TLS/SSL binding,  someone need to checkout the four options available in the TLS/SSL settings by click on private key certificate (.pfx) tab.

1. Import App Service Certificate
2. Upload Certificate
3. Import Key Vault Certificate
4. Create App Service Managed Certificate

These four option will be there if the a d

[2022-04-12 07:27] ElazarK commented on #91326
Thank you @mayaherskovic for the response.

@thomastvedt Thank you for the feedback, we will add this to our backlog and update the documentation when we can.

[2022-04-12 07:27] ElazarK commented on #91326
#please-close

[2022-04-12 07:27] #91326 closed

[2022-04-12 07:31] VikasPullagura-MSFT commented on #90445
@pinyuko

Apologies in delayed response on this.

I checked with internal team on this, these are the least access one needs to install any extension (including NW) on a VM.

[2022-04-12 07:31] CHEEKATLAPRADEEP-MSFT commented on #91399
@TeddyBear1314  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-12 07:39] shashishailaj commented on #91309
@rstenborg Thank you for catching this . We have initiated a change request and this will be updated in the documentation after author approval .

Thank you .

[2022-04-12 07:39] #91309 closed

[2022-04-12 07:57] MarcoLodini commented on #91175
@SnehaAgrawal-MSFT thanks for the article, but that's not the issue.
What we don't think is correct is this part, since it's not talking about App Service Certificate, but about importing a certificate from a Key Vault, and it's explicitly says "Currently, Key Vault Certificate only supports Key Vault access policy but not RBAC model."

However, as mentioned, it is actually supported.
That stateme

[2022-04-12 08:03] maniaX1 opened #91403 "Azure Monitor policy Windows Server 2022"
Hello,
it seems that policy initiative "Enable Azure Monitor for VMs" is not updated with Windows Server 2022 image so it does not install any dependency agent and configure monitoring on these OS.
Please update policy definitions within this initiative with latest OS images.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-04-12 08:09] ciufudean opened #91404 "It is not specified what requests count towards the average response time"
Please specify if failed and unauthorized requests (which should be the fastest) count towards the reported average response times.

Then, a few bugs of this feature:
1. the time filter does not work correctly or at least intuitively.
In my case, I am reported 31 unauthorized requests today, but 0 in the last 7 days! This is because of how the date filter is populated.
1. sorting on column "Averag

[2022-04-12 08:19] Gassela opened #91405 "Partner Tier 1 Support and Partner Tier 2 Support"
Hi,
I'm wondering what is the scope about these two accounts?
The page reports:

Do not use - not intended for general use

Many customers are wondering why the page reports them
The question are:

1. why have this information if we cannot see them in Azure AD subscription?
2. what is the scope behind this detail if they are only as "Do not use - not intended for general use."?
3. does it make sen

[2022-04-12 08:20] yoelhor commented on #89144
Page versions "2.1.11", "2.1.12" are not publicly available yet. The doc will be updated with the 2.1.10 later today, and this GitHub issue will be closed automatically (before the doc is published).

[2022-04-12 08:37] #86587 closed

[2022-04-12 08:39] kengaderdus commented on #86730
#please-close

[2022-04-12 08:39] sijucm opened #91406 "Is it possible to have multiple @ServiceBusTopicOutput is not clear"
Did Microsoft put some restriction on the number of @ServiceBusTopicOutput that can be there in a single function. Apparently it is not working for some weird reasons only known to Microsoft. All these weird conditions amazes me when working with Microsoft created software. The use case is that I want to send the message to two different queues/topics. Specifically for example, if I want to send i

[2022-04-12 08:49] SumanthMarigowda commented on #89763
@crshovrd41 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-12 08:51] olavt opened #91407 "How to view Azure Container App logs from portal?"
"You can view logs through the Azure portal or with the CLI."

But, only how to view from CLI is explained.

The page should also explain how to view from Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60ce64a7-eb89-e8d8-408b-91fa210ed124
* Version Independent ID: 2990f154-1328-04cf-435b-74b313e3a7eb
* Co

[2022-04-12 09:25] ram-msft commented on #91223
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-12 09:25] #91223 closed

[2022-04-12 09:31] MSFTandrelom opened #91409 "Example provided on the page is invalid"
Example provided on the page specifies:
Example: Alert from {{ProviderName}}: {{AccountName}} failed to log on to computer {{ComputerName}} with IP address {{IPAddress}}.

Alert name or alert description only allows 3 elements to be customized, while example uses 4 elements.
This limitation should be noted on the documentation, and example must be modified.

---
#### Document Details

⚠ *Do not ed

[2022-04-12 09:36] kengaderdus commented on #91028
@zokiz-eon
Thank you for your feedback. We're currently updating this article to match the service update.

@craigbrown Thank you for sharing the write up with the community.

[2022-04-12 09:42] SwathiDhanwada-MSFT commented on #91342
@rthorn17 Can you please your inputs on this issue?

[2022-04-12 09:45] jaganpt commented on #89965
Any update on this would be great. Thanks.

[2022-04-12 09:58] ShaikMaheer-MSFT commented on #91147
@fujute Thanks for raising this feedback. Yes I tried to repro its not working.
![image](https://user-images.githubusercontent.com/84302758/162934236-83fa7745-f5c1-4206-b2e7-0e2bd315d793.png)

@nabhishek Could you please validate feedback. and update document as appropriate. Thank you.

[2022-04-12 10:03] yoelhor commented on #91187
Currently it's impossible to get the collection of the groups from the MS Graph JSON. But you can take them their index. For more information, please see the [user groups sample](https://github.com/azure-ad-b2c/samples/tree/master/policies/groups)

[2022-04-12 10:21] AnuragSharma-MSFT commented on #91170
@vgarmash Thanks for your patience. Actually these 2 articles talk about different things.

First article that you mentioned is related to Change feed which is currently supported in all APIs except Table API. Second article talks about Azure Function trigger which is currently supported in only SQL API. There is a note mentioned in the same article as well.

<img width="700" alt="image" src="http

[2022-04-12 10:26] GitaraniSharma-MSFT commented on #91313
@ChaitanyaNaykodi-MSFT , for your review.

[2022-04-12 11:17] #91347 closed

[2022-04-12 11:19] vgarmash commented on #91170
Correct. Although if you look at the update date for the articles, you will see that the one about Change Feed itself was recently updated:
03/04/2022

but the one about functions trigger on Change Feed is updated 10/15/2021.

If I am not mistaken, until recently both articles were talking about Change Feed compatible with only SQL API. Please ask the development team of the Azure Functions if the

[2022-04-12 11:19] SadiqhAhmed-MSFT commented on #91347
@larryclaman Thanks once again for your valuable. The changes are now live - https://docs.microsoft.com/en-us/azure/backup/backup-vault-overview#storage-settings-in-the-backup-vault

[2022-04-12 11:25] maniaX1 commented on #91403
@SwathiDhanwada-MSFT Hello, thanks for pointing out that support table. However as you can see all the agents are successfully installed on the VM with W2022
![image](https://user-images.githubusercontent.com/33328622/162949645-3bc67a9f-7369-4662-8fd6-dfff21bc4b01.png)
And everything is also working in Azure Monitor Insights and Log analytics - but OK, suppose that it is actually in preview.
Do yo

[2022-04-12 11:31] AnuragSharma-MSFT commented on #91170
@vgarmash Thanks for replying back.  As much as I remember, change feed has been part of the Cassandra API for a long time. The documents specific to these APIs have also been updated.

[Change streams in Azure Cosmos DB’s API for MongoDB](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/change-streams?tabs=javascript)

[Change feed in the Azure Cosmos DB API for Cassandra](https://docs.mi

[2022-04-12 11:34] tpalfy commented on #91243
@SwathiDhanwada-MSFT Thank you for the clarification! I missed the notice about the sign up.

[2022-04-12 11:42] jyama4ta opened #91411 "Does credit-based bursting available for E30?"
The Standard SSD size table shows E30 can burst up to 1,000 IOPS or 250 MB/sec. Is it true?
The size of E30 is 1,024 GB (over 512 GB). Other doc shows Credit-based bursting is available for 512 GiB and smaller. Which is correct?
https://docs.microsoft.com/en-us/azure/virtual-machines/disk-bursting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-04-12 11:46] yutaro113 opened #91412 "Azure Automation also wanted to be compared."
Hi Team,
In this page, could you also compare Azure Automation with Logic Apps etc?

In my scenario, I was confusing which solution to use when I automate Azure SQL Database related operation (like daily bulk insert from Azure Storage).

Thanks for the consideration!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9

[2022-04-12 11:56] MayankBargali-MSFT commented on #91412
@yutaro113 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-12 11:58] MayankBargali-MSFT commented on #91406
@sijucm Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-12 12:00] MayankBargali-MSFT commented on #91401
@khigashi1021 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-12 12:01] MayankBargali-MSFT commented on #91404
@ciufudean Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-12 12:26] AjayKumar-MSFT commented on #91348
chaisen2006, Thanks for the follow-up and summary. Yes, your understand is correct.

[2022-04-12 13:17] Grace-MacJones-MSFT commented on #91411
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-12 13:25] SwathiDhanwada-MSFT commented on #91243
@tpalfy Glad to know it helped you. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-04-12 13:25] #91243 closed

[2022-04-12 13:26] killnine commented on #91339
I met with our services provider today to get our instance working and here's the take-aways:

1. I do believe there's a step missing between 3 and 4 on `Configure Azure AD SSO` that has to do with setting the `Identifier (Entity Id)`
![image](https://user-images.githubusercontent.com/660420/162971462-bc962533-5466-449a-b883-f5b80dfd3eeb.png)

2. The description of step 6, where the `User Attribut

[2022-04-12 13:37] jeremy-hicks commented on #91351
Thanks for confirming @RohitMungi-MSFT.

@laujan Here's a PR to to update accordingly: https://github.com/MicrosoftDocs/azure-docs/pull/91415

[2022-04-12 13:50] rothja commented on #90828
@jouniheikniemi Thanks for the feedback. Your suggestions make sense. I'm going to assign this to @WilliamDAssafMSFT for further investigation. We might not be able to change this immediately, but we can track the suggestion for future improvements. Thank you! #reassign:williamdassaf

[2022-04-12 13:58] span opened #91416 "Not possible to create service principal database user"
The instructions for setting up the sql user no longer works as expected. The prerequisite is:

I am signed in using the super admin account for the SQL Server and receive the following error.

[code]

It seems this approach is no longer supported.

I would also suggest to clarify the usage and relations of `AppSP`, `myapp`, the app registrations, enterprise applications and the managed identity.

[2022-04-12 14:23] RaphaelSilv commented on #59660
FWIW: https://github.com/azure-ad-b2c/samples/tree/master/policies/age-gating

[2022-04-12 14:31] dknappettmsft commented on #81228
Thanks @rick-man. I have tweaked the link in the AVD article to go straight to the table to make it easier to find and altered "Apps + Desktops" to be "Desktops + Apps" to match the pricing page.

#please-close

[2022-04-12 14:31] #81228 closed

[2022-04-12 14:39] dknappettmsft commented on #79242
Closing the loop on this - this was changed on 6 August 2021.

#please-close

[2022-04-12 14:39] #79242 closed

[2022-04-12 14:53] Tao4free opened #91419 "Cloud not find metrics of data factory v2 in log analytic workspace"
As the [Configure diagnostic settings and a workspace](https://docs.microsoft.com/en-us/azure/data-factory/monitor-configure-diagnostics) said,

[code]

However, I could not found metrics like `Failed Pipeline runs` in related log analytics workspace when I want to create a alert at the scope of the workspace.
Does it is designed for it?
Or I should do other configuration to get the metrics of Dat

[2022-04-12 15:02] amanmcse commented on #91230
@Raharney Thank you for pointing this out.

The option mentioned in the document is **"Access the Azure AD administration portal"** whereas the option mentioned in the portal is "Restrict access to Azure AD administration portal". These two statements are completely opposite, this is why it is leading to confusion regarding choosing Yes vs. No. I will work with the author to specify the text as me

[2022-04-12 15:10] dannyevers commented on #89323
Updated the [Test a virtual machine image](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test#run-validations) doc to resolve this issue.

[2022-04-12 15:11] dannyevers commented on #89323
#please-close

[2022-04-12 15:11] #89323 closed

[2022-04-12 15:41] rs-patn commented on #87351
Hi @Waukeene, this is probably a dumb question, but I have a similar setup to your environment with multiple SQL servers. When I input the server name in the linked service, I type in FQDN:1433. Testing the connection with that format fails, but if I remove :1433, the connection will test successfully. I am wondering if there is a specific format I have to follow to input the FQDN and port number?

[2022-04-12 15:42] duongau commented on #36666
@Ellenprater This is now completed. Please see: https://docs.microsoft.com/en-us/azure/expressroute/how-to-configure-coexisting-gateway-portal. #please-close

[2022-04-12 15:42] duongau commented on #42566
#please-close

[2022-04-12 15:43] #42566 closed

[2022-04-12 15:52] rs-patn commented on #87351
I ended up figuring it out. You need to put in the FQDN followed by a comma, then the port number.

Ex) something.something.com,1433

[2022-04-12 16:00] duongau commented on #55393
#please-close

[2022-04-12 16:00] #55393 closed

[2022-04-12 16:03] duongau commented on #57345
#assign-to:duongau

[2022-04-12 16:08] #57345 closed

[2022-04-12 16:15] Givary commented on #91409
@MSFTandrelom Thank you for pointing this out, let me verify in the portal and update it accordingly.

[2022-04-12 16:17] drksaber commented on #91247
I discovered that the above referenced change also needs to be made to runbook: _ScheduledStartStop_Child_.

[2022-04-12 16:18] nicneate opened #91422 "Missing documentation for key rotation"
This page does not document a procedure for key rotation. It refers to Docker docs for advanced key management, which in turn refer to the Notary CLI docs which include the `notary key rotate` command (https://github.com/notaryproject/notary/blob/master/docs/advanced_usage.md#rotate-keys). However this page says that the Notary CLI is not supported. I think we need a documented and supported proce

[2022-04-12 16:19] TLKG commented on #90850
@shwetamathur7 Will email and close this thread. Thank you!

[2022-04-12 16:19] #90850 closed

[2022-04-12 16:19] AjayKumar-MSFT commented on #91158
Thanks again for taking time to share your feedback. We will close this thread for now.

[2022-04-12 16:19] #91158 closed

[2022-04-12 16:19] AjayKumar-MSFT commented on #91229
RamanaSwaroop, Thanks again for taking time to share your feedback. We will close this thread for now.

[2022-04-12 16:19] #91229 closed

[2022-04-12 16:37] duongau commented on #67305
Hi @anhowe, I apologize this took so long for someone to respond back to you. Thank you for providing the steps, I created this PR to include how to do it using CloudShell with your instructions: https://github.com/MicrosoftDocs/azure-docs-pr/pull/194828. Please let me know if you have any further questions. Thank you. #please-close

[2022-04-12 16:37] #67305 closed

[2022-04-12 16:39] robertspears opened #91424 "Connecting to VMs via Bastion using AAD credentials now possible."
Under the section #im-1-standardize-azure-active-directory-as-the-central-identity-and-authentication-system it says the following:
"**Connecting to virtual machines using Azure Bastion relies on either an SSH key or username/password, and currently does not support the use of Azure AD credentials.**"

This statement is no longer correct.  Connecting to VMs via Bastion using a native client now al

[2022-04-12 16:41] #75044 closed

[2022-04-12 16:43] VikasPullagura-MSFT commented on #91422
@nicneate
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-04-12 16:43] VikasPullagura-MSFT commented on #91422
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2022-04-12 16:47] VikasPullagura-MSFT commented on #91393
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.

[2022-04-12 16:47] #91393 closed

[2022-04-12 16:47] VikasPullagura-MSFT commented on #91392
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.

[2022-04-12 16:47] #91392 closed

[2022-04-12 16:47] VikasPullagura-MSFT commented on #91391
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91390
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] #91390 closed

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91389
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] #91389 closed

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91388
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91387
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] #91387 closed

[2022-04-12 16:48] #91386 closed

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91385
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] #91385 closed

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91384
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] #91384 closed

[2022-04-12 16:48] miqm opened #91425 "OSM Limitation should include using Contour ingress"
As per my knowledge (talked with @brendandburns on the MVP discussion list) the OSM AddOn does not support installing Contour ingress.

Contour needs to be created during OSM installation but there is no option to set it up. This is a huge limitation and should be clearly stated in docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-04-12 16:48] VikasPullagura-MSFT commented on #91382
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:48] #91382 closed

[2022-04-12 16:49] VikasPullagura-MSFT commented on #91381
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:49] VikasPullagura-MSFT commented on #91380
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:49] VikasPullagura-MSFT commented on #91379
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:49] #91379 closed

[2022-04-12 16:49] VikasPullagura-MSFT commented on #91378
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:50] VikasPullagura-MSFT commented on #91377
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:50] #91377 closed

[2022-04-12 16:50] VikasPullagura-MSFT commented on #91376
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:50] #91376 closed

[2022-04-12 16:50] VikasPullagura-MSFT commented on #91373
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:50] #91373 closed

[2022-04-12 16:50] VikasPullagura-MSFT commented on #91372
@tigormanmsft Thanks for pointing this out.
We are working internally to get these docs removed.
Closing all the issues now.
We can connect internally if there are any further questions on this.

[2022-04-12 16:50] #91372 closed

[2022-04-12 16:50] VikasPullagura-MSFT commented on #91201
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-04-12 16:57] dgpoulet opened #91426 "Is parallelCopies the same as "Degree of copy parallelism" in the UI?"
At the top of this page there is a screenshot of the ADF UI with the "Degree of copy parallelism" field shown.

Then later in the page there is a section talking about the "parallelCopies" property, but it doesn't say whether this is the same as the "Degree of copy parallelism" field in the UI, and doesn't say if the "Degree of copy parallelism" UI field is what sets the "parallelCopies" property.

[2022-04-12 17:10] RyanSmith-00 opened #91428 "Peering Port Restrictions."
Don't see an option to but can you peer networks but lock the peering down to port numbers? Only allow this port for this peering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
* Content: [Azure Virtual Network peering]

[2022-04-12 17:21] GeethaThatipatri-MSFT commented on #91164
Hi, @timsander1 can you please provide your input on this.

[2022-04-12 17:21] ZollnerdMSFT opened #91430 "Mistake in listed limitations for SelectUniqueValue function"
The notes for the SelectUniqueValue function state that the function only works with Workday to AD provisioning. I believe it also works with SuccessFactors to AD provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45c1eab-f7b4-c472-4ab2-e4e36e360b69
* Version Independent ID: 744f941b-6356-0193-a7a6-b4713ed55

[2022-04-12 17:24] KranthiPakala-MSFT commented on #91426
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-12 17:32] andrew-manca opened #91431 "Can we please include the default values in the Http extension section for Elastic Premium"
We see confusion on the documentation for the dynamicThrottlesEnabled, maxConcurrentRequests, and maxOutstandingRequests sections where we include the default values.  We note **The default in a Consumption plan is true. The default in a Dedicated plan is false.**

This does not include a default for the Elastic Premium (Functions Premium) plan which can cause some confusion for customers.  Could

[2022-04-12 17:34] chaisen2006 opened #91432 "Configure an API to use client certificate for gateway authentication"
Hi experts,

I see the snapshot that the app service is hosting the API which is being called in the backend by the API Gateway.

does the  Client Certificate "contoso.com" corresponds to the custom domain of the App service?

Thnks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9db9c9e-e856-803

[2022-04-12 17:44] knunery opened #91433 "Need clarification"
When would I want to do this? Is this how I get a secret to eventually be set on an environment variable for my application? Is creating a Kubernetes secret getting me back to using k8s secrets which has "security concerns".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version I

[2022-04-12 18:04] ChaitanyaNaykodi-MSFT commented on #91424
Thank you for your feedback! We will review and update as appropriate.

[2022-04-12 18:13] duongau commented on #55393
#assign:duongau

[2022-04-12 18:32] timsander1 commented on #91164
The limit was recently increased to 10: https://docs.microsoft.com/azure/cosmos-db/concepts-limits?msclkid=a55e2a6eba8e11ecb6b67cd5d3a18a7d#sql-query-limits. This was a very recent change, so if you had tried to run a query with 5+ JOINs a few weeks ago, it may not have succeeded yet.

If you're still blocked with this service limitation, could you share more details about the query that you're tr

[2022-04-12 18:33] Kalamazoo-DBA opened #91435 "Copy to a different subscription: tip"
Tip:  When copying a database between two subscriptions in the same tenant, on the source and destination SQL Servers, make the SQL Server Active Directory Admin an Azure AD Security group in which you are a member.  Once done, all that is required is the below statement:

CREATE DATABASE new_database_name
AS COPY OF source_server_name.source_database_name;

Second note:  Databases over 1TB might

[2022-04-12 18:35] duongau commented on #78433
This article has been reviewed and updated. #please-close

[2022-04-12 18:35] #78433 closed

[2022-04-12 18:43] MustAl-Du opened #91437 "Outdated content"
The third point under the API Permissions is no longer valid.
"Select scopes (permissions) that the confidential client application will ask for on behalf of a user. Select user_impersonation, and then select Add permissions.".

The only way to select user_impresonation is add "Azure Healthcare APIs" and not "Azure FHIR for DICOM". Please remove this point, and correct it to Azure Healthcare APIs.

[2022-04-12 18:55] rthorn17 commented on #91342
Hi @CarlosPiAn - Currently the MG service, or the RBAC services, will not cascade the RBAC changes on a parent or ancestor MG down the hierarchy in the activity logs.  This is because there is no change on the resource itself for the activity log to discover, but we materialize the inherited permissions from a parent MG at that runtime of the action being done.   This is something we will consider