[2019-06-24 14:33] Datachick commented on #33571
It appears that the option to create a SQL Data Warehouse is back now.

[2019-06-24 14:34] Datachick commented on #33571
The option with a sample database, I mean

[2019-06-24 14:36] jpitcherCMH opened #33857 "Need Identity Provider solution for an application on our internal web server"
Hi - we have an internal web server with an application on it that requires OpenID Connect to authenticate users when they attempt to login both internally and external to our network. Do you have a product/solution for this? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15942a1a-df5c-bbeb-a693-510aadede4b2
*

[2019-06-24 14:37] shashishailaj commented on #31554
@arkiaconsulting Thank you for your patience. This may require deeper troubleshooting and hence we would like to request you to email us at azcommunity[at]microsoft[dot]com along with your azure subscription ID and we will take this further on different channels. We will close this issue now  and update it once the clarifications needed for this issue has been provided to you using alternative sup

[2019-06-24 14:37] #31554 closed

[2019-06-24 14:43] Sethu2488 commented on #32691
Appreciate if you have any update on the above ask. Any timeline on the availability of tools to perform the migration.

[2019-06-24 14:52] egeorgy opened #33858 "Creating API Management service"
Hi

I think the create new service should be changed. It's no longer in the list. Might be best to have a screenshot to search for API management then create new service

Thanks
E

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158c5972-c090-6469-7bb3-499419f821d3
* Version Independent ID: 25e946d3-5c67-ce68-e33a-af8db2

[2019-06-24 15:02] vrishnitf commented on #33565
Hi, Please point to your sample code that you are trying. Can you please confirm did you create Text Analytics API in Azure Portal to get the keys and Region to update the same in Program.cs file. I will take a look.

[2019-06-24 15:02] cephalin commented on #33475
This page is actually deprecated internally and is slated to be removed soon. You should consult SendGrid's own documentation.

[2019-06-24 15:03] dan-jackson-github commented on #21911
@cradle77 agreed, this issue shouldn't be closed in my view. @shashishailaj I will send the email with the requested details, for now, we have added a manual step to our runbook where a physical user (which can be given the appropriate permissions) performs the action required, though our position to is to move to automate these types of things via the MSI.

[2019-06-24 15:05] eross-msft commented on #33856
@HarrisburgUSysAdmin  There are two different areas where you can add the Authenticator app. One area is through the Additional security verification page, while the other is through the Security Info (Preview) area. The process in this article is specifically using the Additional security verification page, which I just verified is still a check box. The Security Info area is now a drop-down list

[2019-06-24 15:05] #33856 closed

[2019-06-24 15:06] shashishailaj commented on #21911
@dan-jackson-github Sure , we will keep it open for now until we get a definitive answer after detailed troubleshooting.

[2019-06-24 15:08] jpitcherCMH opened #33859 "Using IdP for web apps that do not reside on Azure"
Hi - we have an internal (Windows) web server with a web-based application. We want to be able to provide an Identity Provider solution for this internal application to both our internal and external users. Do you have a solution for that and/or can you point me to more information for this on the Azure website? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-24 15:09] shashishailaj commented on #33832
@troyphil WPAD is a traditional technology which has not changed much in terms of implementation within the windows server OS hence it points to the old article and the article does provide relevant information as far as i think . Have you found any issues with the technical accuracy of the document about WPAD topic within the linked article , If so , please let us know with details and we will ha

[2019-06-24 15:09] stgraves commented on #33770
Yes, I've already followed the steps and done the pre-requisites. I've created many AKS clusters since public preview was opened.

[2019-06-24 15:10] georgewallace commented on #33847
@kgopi05 Thanks for reaching out.  Are you having problems editing other variables as well?  There should not be a reason you can't edit an Automation variable.

[2019-06-24 15:10] dan-jackson-github commented on #21911
Thank you

[2019-06-24 15:12] Jura commented on #8247
@diberry Via qnamaker.io using their  QNAbot template

[2019-06-24 15:13] diberry commented on #33812
@GIOkafor Thank you for letting us know this was resolved. #please-close

[2019-06-24 15:14] georgewallace commented on #33779
@sn131678 I will update that section to mention that it creates a daily reoccuring schedule at the time provided.  Once that is merged it will auto close this issue.

[2019-06-24 15:17] somemoretechjazz commented on #33721
For Built-in policies, there is no option available to update they keys. The reason being, in case of Built-in policies, you get the option to add Identity Providers separately using the Portal and while fetching the template of the built-in policy, you just select the IDP that you want to use for that built-in policy instance.

[2019-06-24 15:19] MicahMcKittrick-MSFT commented on #33854
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-24 15:30] JetstreamRoySprowl opened #33861 "Invalid parameter in Get-AzureDataBoxEdgeComputeRoleLogs"
The example Get-AzureDataBoxEdgeComputeRoleLogs sample call [here](https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-connect-powershell-interface#get-compute-logs) specifies an invalid parameter.

[192.168.1.79]: PS&gt;Get-AzureDataBoxEdgeComputeRoleLogs -Path "\\GORT\dbelog" -Credential "ZZZZ\XXXX" -RoleInstanceName "IotRole" -FullLogCollection
A parameter cannot be found that m

[2019-06-24 15:35] JetstreamRoySprowl opened #33862 "Incorrect Credential parameter"
The Credential parameter [here](https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-connect-powershell-interface#get-compute-logs) is shown as "username\password". However, the command does not parse the parameter as username\password. Instead, the entire Credential parameter is interpreted as username, and there seems to be no way to pass in a password. On my Windows 10 box, passi

[2019-06-24 15:35] martincoetzer commented on #33830
Do you have a specific support question? You should contact product support. Also refer to https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies for supported topologies

[2019-06-24 15:36] martincoetzer commented on #33830
#please-close

[2019-06-24 15:36] #33830 closed

[2019-06-24 15:43] rudolphjacksonm commented on #33008
I'm receiving this error as well. I set up RBAC for an AKS cluster using Terraform and this was the message I got:
[code]

[2019-06-24 15:49] DCtheGeek commented on #33689
@rroman81 Just checking in -- did the link I provide show the information and example you were looking for?

[2019-06-24 15:50] jpitcherCMH opened #33863 "Validation of Email Addresses For User Authentication"
Hi. We are trying to authenticate users for a local application on our internal web server. The users will be accessing this from outside our organization via a web browser. It does not appear that you can validate outside email addresses, only addresses stored within the Microsoft organizational Directory. Is that true, or is their another way to do this within the Azure environment?

---
#### Do

[2019-06-24 15:55] singhyashwant0111 opened #33864 "Can not create VM using Learner Subscription"
Hi Team,

I can not create VM for my leaner course using 'Learner Subscription'. See attached screenshot of error.

![Azure Learning Module - Create VM Error](https://user-images.githubusercontent.com/52170649/60033650-fc9d8600-9676-11e9-8402-d55e82c547ab.JPG)

[2019-06-24 15:55] danielsollondon commented on #32223
Looking at this now, i will come back in a couple of days.

[2019-06-24 16:01] peterpogorski commented on #33629
It is not currently possible to debug C# remotely via the network, it is required that you attach directly to the process.

[2019-06-24 16:06] chiners68 opened #33865 "https://autologon.microsoftazuread-sso.com configuration via Intune"
Hi,
  you demonstrate deployment via GPO or registry. Can you detail the method of deployment via Intune (custom Settings)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67c426-39ff-8646-139d-51cd5e9fe44e
* Content: [Azure AD Connect: Seamless Single Sign

[2019-06-24 16:13] bwren commented on #33845
@martinjosephogorman Log alerts in Azure Monitor are the equivalent of the legacy Log Analytics alerts, and the ARM templates we have in the solution content work with the new alerts.  That said, the solution content is obviously quite dated and will get updated at some point.  All of the examples should still be valid though.

[2019-06-24 16:16] MashaMSFT commented on #33690
Hi @stewartadam ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks agai

[2019-06-24 16:22] MicahMcKittrick-MSFT commented on #33730
@theheatDK thanks for the extra details.

@iainfoulds would you be able to comment further on this?

[2019-06-24 16:23] cneberg opened #33866 "Null, and AuthorizedNull documentation"
Null, and AuthorizedNull are expressions correct? I initially made the mistake that they were constant values, and that seems to populate them as literal strings.   If so, they should be documented on this page as stand alone arguments, and as results of IF statements.    For example, does a NULL override an existing value in the metaverse or does AuthorizedNull only?

---
#### Document Details

⚠

[2019-06-24 16:24] MicahMcKittrick-MSFT commented on #33811
@cuongdnv I don't see why this would't work. Are you doing any tests and having issues?

[2019-06-24 16:26] Adam-Smith-MSFT commented on #25938
@SimonLuckenuik Thanks for the follow up, unfortunately i don't have those specific details, but they will be answered once a ticket is created. Let me know if you've already opened a ticket.

Thanks,
Adam

[2019-06-24 16:28] zorav opened #33867 "Public Preview"
Please reopen this issue #12752, as the original request was submitted on August 2, 2018 and it's been over ten months and [Microsoft Azure Active Directory Connect Provisioning Agent is still in "**Preview**"](https://www.microsoft.com/en-us/download/details.aspx?id=55271). If Azure team is not going to release the GA for AAD Provisioning Agent, then we may have to consider other options for our

[2019-06-24 16:28] MashaMSFT commented on #29495
Hi @langstonj ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again

[2019-06-24 16:29] cuongdnv commented on #33811
No , i want to use this article to config with helm to work over https

[2019-06-24 16:29] MicahMcKittrick-MSFT commented on #33815
@theheatDK I remember some changes came in that required us to change from Native to Client-App a while back.

What exactly is the ask of this issue? Can you elaborate?

[2019-06-24 16:30] MicahMcKittrick-MSFT commented on #33821
@archmangler got it. Thank you for that :)

I will assign to the content author to review and see what we can do.

[2019-06-24 16:31] YutongTie-MSFT commented on #33526
@cmedit Hi, after reviewing the doc, we think we need more information for you to help you out of this issue. Could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread? Thank you very much. We will close this post for now since it's not a document issue.

[2019-06-24 16:31] #33526 closed

[2019-06-24 16:32] MicahMcKittrick-MSFT commented on #33811
Got it. I am not sure if this is possible.

@iainfoulds @seanmck can either of you comment further?

[2019-06-24 16:32] doug-fish opened #33868 "Required ports and addresses for AKS clusters should list UDP:123 in the summary"
In the section titled "Required ports and addresses for AKS clusters" the summary bullet list at the top should include opening port 123 for NTP traffic. It's listed in the details below, just missing from the summary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Indepen

[2019-06-24 16:32] YutongTie-MSFT commented on #33596
Assigned to Xiao since this is a product feedback.

[2019-06-24 16:34] MicahMcKittrick-MSFT commented on #33843
@asrServer I will assign this to the content author to review and see if it makes sense to add this to the commands when creating the controller.

[2019-06-24 16:36] YutongTie-MSFT commented on #33746
@IEvangelist Could you please check with this? I have created a PR to fix, please review. Thank you.

[2019-06-24 16:38] MicahMcKittrick-MSFT commented on #33854
@mmgil we mention in a note that the Add Replica Wizard only works when using Classic Virtual Machines.

![image](https://user-images.githubusercontent.com/32313503/60036315-cc98b780-9663-11e9-900a-f9fb24dfdfa5.png)

Are you using classic VMs or ARM? If using ARM, this is expected.

[2019-06-24 16:43] #33725 closed

[2019-06-24 16:46] YutongTie-MSFT commented on #33625
@nacharya1 Hi, could you please check the issue since the title is not so clear for the customer, please update the document properly. Thank you very much.

[2019-06-24 16:50] ankitsalu opened #33869 "Reply URL with query Params"
Hi Team,

Now there is a restriction of using wild card character in reply URL
So I have given:
https://Sales/PricingSearch

But now i need to call this page dynamically from some other app with QueryParams such as
https://Sales/PricingSearch?price=10

but i am getting this reply URL doesn't match error. How can i resolve that? If only use https://Sales/PricingSearch then it works, but i need to p

[2019-06-24 16:51] #29820 closed

[2019-06-24 16:53] dougmolineux opened #33870 "The 'scriptFile' property is set to a file that does not exist."
This documentation seems to be missing a step, but I don't know what it is missing exactly. After running this:
[code]
I can see these errors:
[code]
I am using:
Function Runtime Version: 2.0.12507.0

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID:

[2019-06-24 16:56] PatrickFarley commented on #33705
Thanks,
@NHaiby, please note this feature request
#please-close

[2019-06-24 16:56] #33705 closed

[2019-06-24 16:57] dougmolineux commented on #33870
I have realized that I don't have this issue if I initialize the project using "javascript" instead of "typescript", I think that are missing a step that builds the code and puts it inside a "/dist" directory.

[2019-06-24 16:59] phanikkm commented on #33579
@sparlampe - We have a roadmap to containerize customer speech and expect to have them available by end of December 2019 (or subject to change).

[2019-06-24 17:00] Coopem16 opened #33871 "Edge"
This page mentions Managed Browser, however there is no mention of Edge. Does the same info apply to Edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15155736-f2c4-f743-1d69-a55e4d317661
* Version Independent ID: c1af8414-1f69-4358-2734-e7839dba27ec
* Content: [Translate links and URLs Azure AD App Proxy](https://d

[2019-06-24 17:02] Coopem16 commented on #33871
NM, I misinterpreted Managed Browser to mean the Corporate Browser.

[2019-06-24 17:02] #33871 closed

[2019-06-24 17:02] Coopem16 commented on #33871
NM, I misinterpreted Managed Browser to mean the Corporate Browser.

[2019-06-24 17:06] dougmolineux commented on #33870
I've opened this Pull Request that adds the required steps for typescript:

https://github.com/MicrosoftDocs/azure-docs/compare/master...dougmolineux:patch-1

[2019-06-24 17:15] MashaMSFT commented on #33690
Hi @stewartadam ,

Sorry, just to clarify, are you stating that the documentation is wrong because it's not on-premises specific, or are you pointing out that this SP is failing when executing on-premises?

If the former, thanks for bringing this to our attention! We'll see what we can do to address that in the documentation. If the latter, please try executing without the @storage_connection_stri

[2019-06-24 17:26] artfulhacker commented on #33810
how?

Set-AzApplicationGatewayWebApplicationFirewallConfiguration updates the firewall config, not the firewall policy

[2019-06-24 17:31] paymonparsadmehr commented on #21098
Hi folks,

We have pushed this work for next semester. Will follow up as works is complete.

[2019-06-24 17:31] jmprieur commented on #33859
Is this IDP OAuth2.0/OIDC compliant? @jpitcherCMH

[2019-06-24 17:32] IEvangelist commented on #33579
Awesome, thank you so much @phanikkm 🤘

[2019-06-24 17:32] TylerMSFT commented on #33770
I'll ping the product team to see if there are any known issues.

[2019-06-24 17:33] IEvangelist commented on #33579
#please-close

[2019-06-24 17:33] #33579 closed

[2019-06-24 17:44] arkiaconsulting commented on #31554
@shashishailaj Sure, done.

[2019-06-24 17:45] Karishma-Tiwari-MSFT commented on #33868
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-24 17:47] carehart opened #33873 "broken link"
Under the section, "Query examples", there is a link within, "For more information about writing queries, see SQL query within Azure Cosmos DB". It tries to go to:

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query

,which gets a 404.  Was it meant perhaps to go to:

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-query-sql-api

---
#### Document Details

⚠ *Do not edit t

[2019-06-24 17:48] joshzngf commented on #33785
Got it for the first question.
For the second question, what I'm asking is that when the captured files are generated in the storage blob, will they be generated in order? For example, let's say we have 32 partitions, will the files be generated in the order of 0, 1, 2, 3, 4..., 31 in the same time window?

[2019-06-24 17:48] CAIU-RStumpf opened #33874 "CName Truncates Dashes"
When attempting to run the below DNS import, it improperly truncates any CName record with a hyphen (dash, "-").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e7a82c4-2bed-a8c7-6ce9-9bd895771337
* Version Independent ID: 5233a0b2-fc92-efb5-8d8d-8c53d5e68109
* Content: [Import and export a domain zone file to Azure DN

[2019-06-24 17:51] Mike-Ubezzi-MSFT commented on #30559
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-24 17:51] #30559 closed

[2019-06-24 17:57] FrankHu-MSFT commented on #33866
@cneberg  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 17:58] FrankHu-MSFT commented on #33865
@chiners68  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 17:59] FrankHu-MSFT commented on #33863
@jpitcherCMH  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 17:59] FrankHu-MSFT commented on #33857
@jpitcherCMH  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 18:02] IEvangelist commented on #33746
I'm not sure how to force HTTPS, but the docs have been updated. Addressed as part of https://github.com/MicrosoftDocs/azure-docs-pr/pull/80390, #please-close

[2019-06-24 18:02] #33746 closed

[2019-06-24 18:05] FrankHu-MSFT commented on #33866
Hey @cneberg can you please provide an example of what your referring to?

[2019-06-24 18:07] MarileeTurscak-MSFT commented on #33539
Hi @stalinponnusamy ,

Sorry for the late reply. I'm not certain what could be causing this but I am reaching out to the product team to see if they might be able to help.

In the meantime, if you want a faster response I would suggest opening a thread on MSDN since this is more of a troubleshooting question than a docs issue.

[2019-06-24 18:11] MashaMSFT commented on #33384
Hi @SteveBurkettNZ ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-24 18:17] shashishailaj commented on #33472
@dkoleary88 We checked this internally and there is no such a maximum size enforcement inside AAD. Token size can vary a lot based on the application manifest, as it can contain up to 200 groups/roles inside. Refresh token size can also vary as it can contain external refresh tokens from external IDPs such as MSA/Google/etc

[2019-06-24 18:17] #33472 closed

[2019-06-24 18:18] #33832 closed

[2019-06-24 18:20] YutongTie-MSFT commented on #30811
@NHaiby Hi, do we have any update on this issue? Thank you.

[2019-06-24 18:22] MarileeTurscak-MSFT commented on #33869
@ankitsalu please provide a link of the document you are referencing so that I can assist you.

[2019-06-24 18:25] sonpeppers opened #33877 "Where is the eventgrid subscription created?"
Question for clarification on what is happening with the az eventgrid event-subscription create step. Is the eventgrid event-subscription that's created part of our Azure account? The steps work and the example viewer page is working, but I cannot see the eventgrid subscription as a resource under my Azure account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-06-24 18:26] Karishma-Tiwari-MSFT commented on #33384
Thanks @MashaMSFT for updating the doc.
@SteveBurkettNZ Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-24 18:26] #33384 closed

[2019-06-24 18:27] basilwong opened #33878 "'.blob.core.usgovcloudapi.net' Added to Scheme for certain locations?"
Is there a different URI scheme for HDInsight accessing files in Azure storage provisioned in 'USGov' locations such as 'USGov Virginia'? Noticed that '.blob.core.usgovcloudapi.net' is in the URL under properties for a file saved to a Storage Account (Blob) from those locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-24 18:29] SaurabhSharma-MSFT commented on #33678
@gsartzetakis We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-24 18:29] #33678 closed

[2019-06-24 18:29] SaurabhSharma-MSFT commented on #33521
@maryannlim We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-24 18:29] #33521 closed

[2019-06-24 18:29] SaurabhSharma-MSFT commented on #33453
@bartvermeersch We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-24 18:29] #33453 closed

[2019-06-24 18:30] SaurabhSharma-MSFT commented on #33682
@torfulle We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-24 18:30] #33682 closed

[2019-06-24 18:32] AjayKumar-MSFT commented on #33817
@robinmanuelthiel, Kindly do not try to use App Service CORS and your own CORS code together. When used together, App Service CORS takes precedence and your own CORS code has no effect.
Additionally, you can use your own CORS utilities instead of App Service CORS for more flexibility. Since App Service CORS lets you specify one set of accepted origins for all API routes and methods, you would want

[2019-06-24 18:32] SaurabhSharma-MSFT commented on #33754
@kumarallamraju The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-06-24 18:32] #33754 closed

[2019-06-24 18:41] smflorentino opened #33879 "SNAT pre-allocation for Classic Deployments with > 400 nodes"
The table https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections-classic#preallocatedports only shows allocations for up to 400 nodes. What about Cloud Services with &gt; 400 nodes?

Also, are these *limits* per VM, or simply pre-allocations? For example, with only 1 VM, would it get up to 50*1024 SNAT ports available for use (with 1024 being pre-allocated), or onl

[2019-06-24 18:42] iainfoulds commented on #33811
This isn't specific to this doc or using AKS, but yes, you can configure Helm to use TLS - https://helm.sh/docs/using_helm/#enabling-tls

The Helm docs (https://helm.sh/docs/) and GitHub repo (https://github.com/helm/helm/issues) are great resources if you have follow-up needs or questions in using Helm or Helm charts.

[2019-06-24 18:43] Mentate commented on #33480
I'm also having this issue. I've even created a function that does nothing but access the key vault key to make sure nothing is wrong in my code and I'm also just getting the "@Microsoft.KeyVault(SecretUri=...." string back. I've created an entirely new resource group, function and vault with no change in behavior.

[2019-06-24 18:44] MicahMcKittrick-MSFT commented on #33811
Thanks @iainfoulds that makes sense

@cuongdnv check the above links provided by Iain and let us know if you have questions.

[2019-06-24 18:44] #33811 closed

[2019-06-24 18:46] julianparismorgan commented on #32988
Hey @ggorby, could you try doing assets->reimport all from unity, then rebuilding?

[2019-06-24 18:58] cneberg commented on #33866
For example -  this page https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-the-configuration#do-not-flow-an-attribute and this image in particular - https://docs.microsoft.com/en-us/azure/active-directory/hybrid/media/how-to-connect-sync-change-the-configuration/syncruletransformations.png mention setting the expression to AuthorizedNull.   There is no text

[2019-06-24 18:59] tristanbarcelon opened #33881 "Unable to install moby-engine"
I am unable to [install moby-engine](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#install-the-container-runtime) on Ubuntu 18.04 x64 after [registering Microsoft key and software repository feed](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#register-microsoft-key-and-software-repository-feed). Instead, I am greeted with the followin

[2019-06-24 19:04] ankitsalu commented on #33869
Thanks for replying back, i am using the usual process. recently the Azure is upgraded and now its not allowing to me to use wildcard in reply URL:

my reply URL specified in azure is https://Sales/PricingSearch

and i want to load the page using https://Sales/PricingSearch?price=10

If i am logged in, it validates this reply url i.e. https://Sales/PricingSearch?price=10, and let me use the applic

[2019-06-24 19:08] nacharya1 commented on #33625
@Sabina Cartacio<mailto:Sabina.Cartacio@microsoft.com> can you look into this?

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, June 24, 2019 9:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nilesh Acharya <nilesha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Incorrect page link (#33625)

@nacharya1<https://nam06

[2019-06-24 19:09] cneberg commented on #33866
I was wrong here - there is explicit text at the remote link https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-the-configuration#do-not-flow-an-attribute

[2019-06-24 19:11] mike-urnun-msft commented on #33751
@TomaszOledzki  Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-24 19:11] #33751 closed

[2019-06-24 19:20] mike-urnun-msft commented on #33870
@dougmolineux Thank you for your feedback & contribution towards MS Docs! We will review and update as appropriate.

[2019-06-24 19:22] mike-urnun-msft commented on #33848
Hi @PingPongSet Thank you for your feedback! We will review and update as appropriate.

[2019-06-24 19:24] dougmolineux commented on #33870
You are very welcome @mike-urnun-msft !

Please let me know if I need to add any more details, thank you for your work on this documentation.

[2019-06-24 19:31] abhinav-jain09 opened #33882 "where is java example"
Hi Team, I am curious if Event hub has Java SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8ec210-042d-e1e3-eebc-8c0ef5921d7a
* Version Independent ID: 7e27c3bc-60ed-064c-9639-1a9b9b79a6a8
* Content: [Receive events from Azure Event Grid to an HTTP endpoint](https://docs.microsoft.com/en-us/azure/event-grid/rece

[2019-06-24 19:44] MarileeTurscak-MSFT commented on #33740
Since I have not heard back from you I will proceed to close this thread. Please open a new issue on a specific document so that we can better assist.

[2019-06-24 19:44] #33740 closed

[2019-06-24 19:55] nacharya1 commented on #33625
Will do.

Thanks,
Sabina Cartacio
From: Nilesh Acharya<mailto:nilesha@microsoft.com>
Sent: Monday, June 24, 2019 12:08 PM
To: MicrosoftDocs/azure-docs<mailto:reply@reply.github.com>; MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>; Sabina Cartacio<mailto:Sabina.Cartacio@microsoft.com>
Cc: Mention<mailto:mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Incorrect pa

[2019-06-24 19:59] lmolkova opened #33883 "Azure Cloud Service: Use startup task to Install Status Monitor, wrong link for startup task"
The doc does not explain how to create startup task for Azure Cloud Services to install Status Monitor.

"Use startup task" refer to https://docs.microsoft.com/en-us/azure/azure-monitor/app/cloudservices article that never mentions how to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001bf933-15e6-4282-c0aa-609

[2019-06-24 20:00] TravisCragg-MSFT commented on #33738
@jsacapdev I see that you are accessin the portal via the URL "preview.portal.azure.com". This does not contain the Azure Bastion feature. you must use the specified link [http://aka.ms/BastionHost](http://aka.ms/BastionHost).

If you reached that URL by going to http://aka.ms/BastionHost, please let me know.

[2019-06-24 20:03] TravisCragg-MSFT commented on #33800
@d83194 can you elaborate what you mean by "forward and backward mouse buttons"?

[2019-06-24 20:08] tamram commented on #33825
#reassign: @roygara

[2019-06-24 20:11] hpsin commented on #33539
Access tokens are always generated using the token version of the resource (the WebAPI, Graph in this case).  Clients can't change the format of the access token - that would break the web API when they try to interpret the token.

[2019-06-24 20:13] TravisCragg-MSFT commented on #33851
@jjindrich At this time, you can only access VMs inside the same Virtual Network. If you would like us to change this in the future, [please leave your feedback Here.](https://feedback.azure.com/forums/217313-networking)

[2019-06-24 20:15] brettcannon opened #33884 ""Bash or a terminal window" are two different concepts"
Bash is a shell that runs in a terminal. Probably meant to say just "Bash" for the subsection title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create an HTTP triggered function in Azure](https://docs.mic

[2019-06-24 20:16] iainfoulds commented on #33687
Sorry you ran into issues, @mozts2005

the _nodeResourceGroup_ property was added in the 2019-04-01 API, so isn't available in the 2019-02-01 Resource Manager template reference you linked to. Here's the 2019-04-01 version that first included it - https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-04-01/managedclusters. The most recent 2019-06-01 API continues to supp

[2019-06-24 20:19] TravisCragg-MSFT commented on #33826
@jmoralesv Currently you will have to use the link provided, and we are working to put the feature in the preview portal, or the main portal with a (preview) tag. #33738 seems to be the same issue.

I will pass this feedback along to hopefully expedite this process.

[2019-06-24 20:20] d83194 commented on #33800
Just the side buttons on the mouse, the forward and backward button. In Windows Explorer they traverse forward and back, up and down the folder tree that you've already gone through. This doesn't happen though when you're connected via Bastion. Cheers

[2019-06-24 20:21] achakilam1022 opened #33885 "Qlik Sense Connection to Azure Cosmos Db"
Hi,

We have Qlik Sense installed on Windows 2016 server and I have installed the driver available here https://docs.microsoft.com/en-us/azure/cosmos-db/odbc-driver which says it works with Windows server 2012 and 2008

The connection to the database was successful but when I tried to set up ODBC connection in the hub it says "collection cannot be accessed with this SDK version as it was created w

[2019-06-24 20:23] brettcannon opened #33886 "Use `.venv` as the virtual environment name"
[if this is accepted then other pages will need updating as well]

Guidance from the Python community is to name virtual environments `.venv`. This prevents clashing with `.env` environment variable definition files (as supported by the Python extension for VS Code). It's also what various tools like pipenv automatically name virtual environment created in one's code directory.

---
#### Document

[2019-06-24 20:24] TravisCragg-MSFT commented on #33850
@jjindrich I do not believe that this is a known restriction. Can you post the error message that you get when you deploy a Bastion Host? Also, what custom DNS settings do you have on this VNET? Do you specify custom DNS servers on the VNET itself?

[2019-06-24 20:25] johndowns commented on #21911
@shashishailaj thank you for not closing this issue; as the others have said I think it is best to leave it open while the issue is still under investigation.

I will send you an email with an example subscription ID, but note that I have seen this happen on every Azure subscription I've tried it with - I think I've probably tested using at least five different subscriptions.

[2019-06-24 20:26] TravisCragg-MSFT commented on #33855
@nnamedieh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-24 20:29] malopMSFT commented on #33855
The following PR will cover the update:
https://github.com/MicrosoftDocs/azure-docs/pull/33635
Thanks @jispar

[2019-06-24 20:31] RichardSmith1208 opened #33890 "Service Endpoint for Azure Storage isn't available in all regions."
This page mentions that Service Endpoints for Azure Storage is generally available in all regions, when that doesn't seem to be the case.

Information on this page mentions that the Service Endpoints for Azure Storage is available in the West US Region:
https://azure.microsoft.com/en-us/updates/public-preview-virtual-network-service-endpoints-for-azure-storage-and-azure-sql/

...but this is contra

[2019-06-24 20:34] brettcannon opened #33891 "No obvious link to API docs"
E.g. "Next Steps" doesn't link to https://docs.microsoft.com/en-us/python/api/azure-functions/azure.functions in any way.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Fu

[2019-06-24 20:39] agarza152 opened #33892 "Can´t see visualization"
Hi
I have two Junyper notebooks with exactly the same code but for some reason when i run the ExplanationDashboard instead of the visualization in one of the notebooks it just says &lt;azuremlobject at position&gt; wanted to ask why in one does the graph shows and in the other one I only get the object name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-06-24 20:40] brettcannon opened #33894 ""Unit Testing" doesn't mention that azure-functions needs to be installed"
`func init` creates an empty `requirements.txt` and so unit testing won't inherent work unless you install `azure-functions` locally. Mentioning that fact and the specific name of the package in case it isn't obvious to people would probably be useful.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8

[2019-06-24 20:42] brettcannon opened #33895 "First unit testing example is missing a reference function"
The logic code only has `main()`, but the tests reference `my_function()`. (Maybe it's meant to be the `my_function()` from the second example?)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer

[2019-06-24 20:44] brettcannon opened #33896 ""Unit Testing" example compared a string to a bytes object"
[code]

The issue with the code above is `resp.get_body()` returns `bytes`, and so the comparison against `'Hello, Test!'` will always fail.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer ref

[2019-06-24 20:44] robinsh commented on #27165
#please-close

[2019-06-24 20:44] #27165 closed

[2019-06-24 20:46] BharathNimmala-MSFT commented on #33586
@walterfranssen - Following through the [document ](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio)I was able to successfully create Kubernetes Cluster enabled for Azure for DevSpaces and sorry not able to reproduce the issue you are referring to. Could you please help with additional details on which version of VS, ASP.NET Core and Kubernetes Cluster you are ru

[2019-06-24 20:52] vladvino commented on #33858
Enterprise Integration category was accidentally dropped from Azure portal and should be coming back soon. Good catch though, thanks!

[2019-06-24 21:03] jmoralesv commented on #33826
Hi @TravisCragg-MSFT , thanks for your reply. That is fine, I checked the issue #33738 and yes, it is the same, I can't see the Azure Bastion options either in the preview portal.

Do you have an ETA for this to be materialized in the preview portal?

Regards,
Jorge

[2019-06-24 21:05] Karishma-Tiwari-MSFT commented on #33877
Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-24 21:09] KeepSloanWeird commented on #33304
@jeevansd or @SaurabhSharma-MSFT has anyone been able to look in to this? Attempted another PATCH just now and getting the same error. Even tried using a new set of GUIDs.

[2019-06-24 21:10] stevestein commented on #31200
@tikicoder - Hi Ron, thanks for submitting the change directly into the doc. I just commented on your PR with a small edit. Because we're fixing in your PR I'm going to close this issue.

Thanks!

[2019-06-24 21:10] stevestein commented on #31200
#please-close

[2019-06-24 21:10] #31200 closed

[2019-06-24 21:11] MarileeTurscak-MSFT commented on #33846
@jsandersrocks
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 21:15] marknettle commented on #32924
This appears to have been fixed in the last few days. SearchResults is now a JSON object, rather than a string containing stringified JSON  (broke my logic app which was adding braces to parse the JSON).

[2019-06-24 21:18] droessmj opened #33898 "Time Delay to Policy Impact Realized"
I've experienced a few gotchas working with policy near daily which I'm hoping could be better clarified and captured in documentation. More than once, I've created a new definition and subsequent assignment only to find the policy evaluation did not take effect for an indeterminate amount of time -- typically up to about 30 minutes.

I've also seen instances where different methods of interacting

[2019-06-24 21:19] yiikou opened #33899 "How to generate Parallel Coordinates Plot and feature analysis graph in hyperparameter tuning?"
Hi, how to generate Parallel Coordinates Plot in hyperparameter tuning? I have checked the tutorial of log (https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-track-experiments#model-explain-ability-and-feature-importance) but it doesn't help at all.

And how to generate the feature importance analysis plot like this (https://docs.microsoft.com/en-us/azure/machine-learning/serv

[2019-06-24 21:25] hpsin commented on #33539
To expand on this - you cannot send tokens with an "aud" of Graph to your own gateway.  We'll start encrypting tokens someday, and then that token will become gibberish (to you, without the decryption cert ).  Please test this by using a resource/scope that you own.

[2019-06-24 21:28] MarileeTurscak-MSFT commented on #33736
Please open an issue on a document, on the Github sample itself, or through MSDN so that we can assist you with this issue. Generally we save these types of troubleshooting questions for the forums, since github issues are designated for discussing doc/product improvements and feedback. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-06-24 21:28] #33736 closed

[2019-06-24 21:30] MarileeTurscak-MSFT commented on #33853
@oguennec please include a link to the document that you are referring to where you would like for this to be added.

[2019-06-24 21:31] MarileeTurscak-MSFT commented on #33864
@singhyashwant0111 please provide a link to the document you are following so that we can better assist you.

[2019-06-24 21:32] MarileeTurscak-MSFT commented on #33867
@zorav
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 21:33] gunnarcms opened #33901 "Update Optimized for Elasticity section"
Please update the "Optimized for Elasticity" section to chose Gen1 or Gen 2 accordingly, names have changed, under the section "Create a blank SQL data warehouse". Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26e70c3-2769-5b47-2bda-8a4a7f0239d0
* Version Independent ID: 558a36bd-e151-1e4c-4427-fc52eb2d91e3
*

[2019-06-24 21:37] TravisCragg-MSFT commented on #33874
@CAIU-RStumpf Can you give me an example of a record that was improperly truncated? I want to reproduce this behavior.

[2019-06-24 21:38] jfalameda commented on #33629
Hi,

Thanks for your answer. Is this something that will be enabled? This makes very hard to develop outside of windows.

Kind regards,
/ José.

[2019-06-24 21:38] TravisCragg-MSFT commented on #33879
@smflorentino I am following up now to get some more information.

[2019-06-24 21:39] gunnarcms opened #33902 "Adjust right database name to connect"
On section "Connect to the server as server admin", on step 4 the database is not mySampleDatabase , but SampleDW instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26e70c3-2769-5b47-2bda-8a4a7f0239d0
* Version Independent ID: 558a36bd-e151-1e4c-4427-fc52eb2d91e3
* Content: [Tutorial: Load data to Azure SQL Data W

[2019-06-24 21:41] TravisCragg-MSFT commented on #33879
@smflorentino In your example with 1 VM, it would fall into the 1 - 50 category, which means it would be pre-allocated with 1,024 SNAT ports.

[2019-06-24 21:42] MarkIannucci commented on #33590
thanks for the follow up @AjayKumar-MSFT .  Ultimately, I decided to refactor the code to be fully contained within an Azure function which avoided this issue.

[2019-06-24 21:46] CAIU-RStumpf commented on #33874
Sure.

Here are some records that I would have exported from MS DNS and then attempted to import using the script:

Name (.caiu.org): dasdmoodle
Type: CNAME
Value: apache-cluster.caiu.org

Expected: dasdmoodle.caiu.org CNAME apache-cluster.caiu.org
Result: dasdmoodle.caiu.org CNAME apache.caiu.org

--

Name (.caiu.org): alio-esp
Type: CNAME
Value: alio-app12c.caiu.org

Expected: alio-esp.caiu.org

[2019-06-24 21:46] #33858 closed

[2019-06-24 21:46] jackhorton commented on #32947
Any update on this? Any thoughts on using `New-AzResource` in the meantime until the parameter gets added to the non-beta powershell module?

[2019-06-24 21:47] gunnarcms opened #33903 "Create Tables and objects - eliminate reference to taxi cab example"
On Section https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-wideworldimportersdw#create-external-tables-and-objects , step 4 "Run the following CREATE EXTERNAL DATA SOURCE statement to define the location of the Azure blob. This is the location of the external taxi cab data. " , the reference to the taxi cab data is not correct, that is from another example. This should point it

[2019-06-24 21:53] hpsin commented on #27597
"Use them as keys in a database"

[2019-06-24 21:53] hpsin commented on #32233
Request scope=openid+profile+email in the RT redemption request.  If you don't ask for it you don't get it.

[2019-06-24 22:05] rafamarrara opened #33904 "Solution > item 2 > recover VM - encrypt a recover VM only to get manage-bde command?"
I am not sure, but I believe we do not need to encrypt a recover VM only to get the manage-bde command. Could someone double check this? It is too much effort to try to decrypt the disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730f8398-bf64-be5c-0574-19f8c991d20d
* Version Independent ID: 4d33564d-fa8a-9a98-ad31

[2019-06-24 22:06] TravisCragg-MSFT commented on #33890
@RichardSmith1208 Service Endpoints for Azure Storage Is currently available in All azure regions.

The first doc you linked is an announcement for when the service endpoint first released, but it is now available everywhere.

The second document is for Service Endpoint Policies, which is different from Service Endpoints. Service Endpoint policies are currently only available for the Azure.Storage

[2019-06-24 22:06] #33890 closed

[2019-06-24 22:10] brahmnes commented on #32727
Hi @Eilon,

Upon reviewing the documentation, I decided to not add a link to the overview page since the TOC already has it. I will remove the link to Working with Application Insights in Visual Studio, and copy the Next Steps section from "Enable Snapshot Debugger for other environments", which includes the troubleshooting link as a next step, so both are consistent.

[2019-06-24 22:10] YutongTie-MSFT commented on #33591
@alch-msft Hi Alvin, I can just find the API references: https://dev.labs.cognitive.microsoft.com/docs/services/56332331778daf02acc0a50b/operations/565d9001ca73072048922d97 there. But there is no any HOW-TO guidance for customer. Could you please check this issue and also update the document for more details? Thank you.

[2019-06-24 22:14] KranthiPakala-MSFT commented on #33878
@basilwong Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-06-24 22:19] ananthradhakrishnan commented on #33623
@dumbdom1983 Thanks for reaching out! The data points that you mentioned are present in the common schema payload today.

Alert ID -> essentials.alertId

For the following fields, namely
Resource (Affected resource)
Resource Group
Resource Type
Subscription,
You have to parse this from essentials.alertTargetIds. This field contains the full Azure Resource Manager ID for the affected resource. It t

[2019-06-24 22:21] ananthradhakrishnan commented on #32924
Hi, appreciate the patience! There was an issue when we rolled out search results in the common schema payload, which has now been fixed.

[2019-06-24 22:22] ananthradhakrishnan commented on #32894
Hi, appreciate the patience! There was an issue when we rolled out search results in the common schema payload, which has now been fixed. Documentation is in the process of being updated.

[2019-06-24 22:23] ananthradhakrishnan commented on #30649
Hi, appreciate the patience!
Documentation is in the process of being updated to include Service Health and Resource Health alerts.

@bkphysics, there was an issue when we rolled out search results in the common schema payload, which has now been fixed. Documentation is in the process of being updated.

[2019-06-24 22:28] YutongTie-MSFT commented on #33899
@yiikou
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-24 22:28] YutongTie-MSFT commented on #33892
@agarza152
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-24 22:28] hrasheed-msft commented on #33615
@josuvil Thanks for highlighting this issue. Fixing in a new PR:https://github.com/MicrosoftDocs/azure-docs-pr/pull/80455

[2019-06-24 22:31] cconrado commented on #32894
Thanks @ananthradhakrishnan

[2019-06-24 22:39] b-juche commented on #33723
cc Subject Matter Expert Will Stowe (@ntap512) for input.

[2019-06-24 22:40] Mike-Ubezzi-MSFT commented on #29867
@craigg-msft This was assigned to @KavithaJonnakuti but is not the correct assignment. The doc metadata needs to be updated. Adding @ronortloff and @julieMSFT for awareness. Keeping this open so as it is handled appropriately.

[2019-06-24 22:43] KeiroKamioka0000 commented on #33639
Thanks!

[2019-06-24 22:43] #33639 closed

[2019-06-24 22:53] b-juche commented on #33641
cc Subject Matter Expert Will Stowe (@ntap512) for input.

[2019-06-24 22:53] b-juche commented on #33566
cc Subject Matter Expert Will Stowe (@ntap512) for input.

[2019-06-24 22:59] femsulu commented on #33898
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-06-24 23:02] MarileeTurscak-MSFT commented on #33861
@JetstreamRoySprowl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 23:04] sn131678 commented on #33779
Hey thanks!

Joe
________________________________
From: George Wallace <notifications@github.com>
Sent: Monday, June 24, 2019 8:15 AM
To: MicrosoftDocs/azure-docs
Cc: Joe Miller; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Start and Stop Dates (#33779)

@sn131678<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsn131678&data=01%7C01%7Cjoe%40symlinc.com%7Caffd972e6

[2019-06-24 23:04] hrasheed-msft commented on #33615
#please-close

[2019-06-24 23:04] #33615 closed

[2019-06-24 23:04] MarileeTurscak-MSFT commented on #33862
@JetstreamRoySprowl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-24 23:04] DCtheGeek commented on #33898
@droessmj For the first ask looking for more details, have you seen the page that details [evaluation triggers](https://docs.microsoft.com/azure/governance/policy/how-to/get-compliance-data#evaluation-triggers)? This should help answer the question of when things happen and what triggers them to happen.

I'm not sure I understand what you mean about "policy denies".  Do you mean in activity log or

[2019-06-24 23:06] DCtheGeek commented on #33689
@rroman81 If you still have an issue or question about the docs, please feel free to respond here or open a new issue.  Hopefully the above gave you the information you were looking for.  I'm going to go ahead and close this now.  Thanks!  #please-close

[2019-06-24 23:06] #33689 closed

[2019-06-24 23:07] AAATechGuy opened #33906 "Example to use AzureAppConfig with C# code, instead of AppConfig"
An example to use AzureAppConfig with C# code, instead of AppConfig, would be helpful.

Something like...
[code]
Quoted from blog https://zimmergren.net/introduction-azure-app-configuration-store-csharp-dotnetcore/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bda25f-abd6-9ed3-5e5c-ebe53196dac2
* Version Independent

[2019-06-24 23:10] Eilon commented on #32727
Sounds good, thank you!

[2019-06-24 23:23] Adam-Smith-MSFT commented on #33862
@JetstreamRoySprowl  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-24 23:25] Adam-Smith-MSFT commented on #33861
@JetstreamRoySprowl Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-24 23:33] SaurabhSharma-MSFT commented on #33750
@lgordoncurtiswork ok, I got it.  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@barclayn can you please look into this.  It seems document needs an update.

[2019-06-24 23:34] mike-urnun-msft commented on #33882
Hi @abhinav-jain09 It looks like you were on Event Grid documentation, and not Event Hub. Could you clarify your request?

[2019-06-24 23:34] swatig007 commented on #33899
@yiikou, you can visualize the results of your Hyperparameter Tuning experiment using the AML notebook widget. For e.g. in this [sample notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-pytorch/train-hyperparameter-tune-deploy-with-pytorch.ipynb), you could use the following snippet to invoke

[2019-06-24 23:35] tfitzmac commented on #33846
@jsandersrocks - thanks for making me aware this was missing. I have added App Service Domain to the list of services that support move. It should get published tomorrow morning.

[2019-06-24 23:36] Karishma-Tiwari-MSFT commented on #33034
Thanks a lot @cynthn. :)
@brushwood24 I hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-06-24 23:36] #33034 closed

[2019-06-24 23:38] #33846 closed

[2019-06-24 23:40] yiikou commented on #33899
@swatig007 thanks for the comment. I tried with the widget but nothing happened. My runid is HyperTuning_defect_eclipse_2_0_1561398949581, can you access my experiment?

[2019-06-24 23:45] KeiroKamioka0000 opened #33909 "Pricing?"
What are the pricing for Azure Files Backup?
Does it depend on the storage account?

Thanks.

https://azure.microsoft.com/en-us/pricing/details/backup/
Backup Storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e17c54-1231-159f-612a-e4e8f07786c1
* Version Independent ID: d0417838-7342-dcd2-a59d-9444be67711f
* Cont

[2019-06-24 23:49] swatig007 commented on #33899
@yiikou, unfortunately I do not have access to your experiment / workspace. Can you please send over a screenshot of the visualization you see for your run, when using the widget?

Parallel coordinates plot is currently available only for Hyperparameter tuning experiments.

[2019-06-24 23:52] yiikou commented on #33899
@swatig007 the screenshot as below:
![image](https://user-images.githubusercontent.com/6872777/60059189-75bdcd00-96b9-11e9-9760-965fda37dd7c.png)

Just nothing showed up.

[2019-06-24 23:55] #33687 closed

[2019-06-24 23:57] mike-urnun-msft commented on #33884
Hi @brettcannon Thank you for your feedback! We will review and update as appropriate.

[2019-06-24 23:59] SaurabhSharma-MSFT commented on #33748
@aquibqureshi26 ok. I am assigning this issue to content author to help you get clarification on the per node pricing part.
@monhaber Can you please help.

[2019-06-25 00:06] #33884 closed

[2019-06-25 00:08] KranthiPakala-MSFT commented on #33824
@Datachick Thank you for bringing this to our notice. The PR for the fix has been created and it will be merged soon. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-06-25 00:08] #33824 closed

[2019-06-25 00:09] mike-urnun-msft commented on #33884
@brettcannon I've created a PR that addresses this issue per your feedback. Once the PR is accepted, this issue will auto-close and the change should reflect within 24hrs. Thanks again for sharing your feedback and helping us drive improvement towards MS Docs!

[2019-06-25 00:27] MarileeTurscak-MSFT commented on #33873
@carehart
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-25 00:30] mike-urnun-msft commented on #33886
Hi @brettcannon Thank you for your feedback!

Could you reference such guidance from Python community and perhaps an official documentation discussing it so? We might stick with the `.env` as this documentation is more of a Quickstart in nature but might add a note pointing out the common Python convention.

[2019-06-25 00:35] MikkelHegn commented on #33770
Can you provide the version of the extension and Azure CLI?
`az --version`

Azure CLI min. version should be: 2.0.61
ASK extension latest is: 0.4.5

[2019-06-25 00:35] Karishma-Tiwari-MSFT commented on #33904
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 00:39] Mike-Ubezzi-MSFT commented on #33885
@achakilam1022 Thank you very much for bringing this to our attention. Are you using this with the SQL(Core) API?

[2019-06-25 00:42] gojanpaolo commented on #30093
@tamram @Adam-Smith-MSFT Adding metadata using `CloudBlockBlob.Metadata.Add` also throws exception upon uploading the blob when the value contains any of the following characters:
- `\r`
- `\n`
- `\r\n`

Thanks!

[2019-06-25 00:44] tamram commented on #30093
@gojanpaolo - Thank you, I will let the engineering team know.

[2019-06-25 00:48] stevestein commented on #31309
@cowinr - Thanks for raising this issue. The code update has been submitted and should go live in the next few days.

Thanks!

[2019-06-25 00:49] stevestein commented on #31309
#please-close

[2019-06-25 00:49] #31309 closed

[2019-06-25 01:01] cmmdesai commented on #33867
@zorav Thank you for the feedback! We [announced GA of the Workday to AD user provisioning solution](https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Say-good-bye-to-custom-scripts-and-simplify-your-workforce/ba-p/320540) in Jan 2019. As part of that, the AAD Connect Provisioning Agent is also generally available. I understand the confusion was caused as the download page sti

[2019-06-25 01:10] kzu commented on #33343
Again, Netstandard is *not* a platform or runtime. You should list the
actual runtimes, i.e. net core vX, netframework vX, Mono vX, etc.

See https://docs.microsoft.com/en-us/dotnet/standard/net-standard for the
sort of table I'd expect. So unless you support every runtime that NS2
supports, saying you support NS2 is misleading.

On Fri, Jun 21, 2019, 9:21 PM Chris Basoglu <notifications@github.co

[2019-06-25 01:11] kzu commented on #33343
Also, note from that table there's also Unity, so, do you support that too or not? That's why I think it's far better to be explicit

[2019-06-25 01:15] stevestein commented on #31704
@ackava - the update is live. Thanks again!

[2019-06-25 01:15] stevestein commented on #31704
#please-close

[2019-06-25 01:15] #31704 closed

[2019-06-25 01:19] mike-urnun-msft commented on #33891
Hi @brettcannon Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 01:20] mike-urnun-msft commented on #33894
@brettcannon Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 01:21] mike-urnun-msft commented on #33895
@brettcannon Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 01:21] mike-urnun-msft commented on #33896
@brettcannon Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 01:25] PATRICKwithMSFT opened #33911 "3rd Party Pen Test?"
Are there any 3rd party research firms that have submitted pen test of Microsoft owned environments, like service fabric? If so could you share with me or post here? This is a requirement for many of our partners to share in RFPs as they compete for new business.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-

[2019-06-25 01:30] xyfoo commented on #33838
@AjayKumar-MSFT

The [SDK documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.notificationhubs.notificationplatform?view=azure-dotnet) listed that Baidu is not supported if we choose to use Installation method for registration method. But Registration method [do support](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.notificationhubs.baiduregistrationdescription

[2019-06-25 01:35] achakilam1022 commented on #33885
Yes.

On Mon, Jun 24, 2019 at 7:39 PM Mike Ubezzi <notifications@github.com>
wrote:

--
--
Amuktha Chakilam
Business Analyst | Inside Ventures <http://www.insideventures.com/>
785.979.7668

[2019-06-25 01:35] FrankHu-MSFT commented on #33866
In regards to your issues, Please see the picture:
![image](https://user-images.githubusercontent.com/6366013/60062474-3047d280-96ae-11e9-9577-c4a3561b6c35.png)
It says to set the flowtype to expression, with authoritativenull for source.

In addition to that, in the document it says : The literal AuthoritativeNull indicates that the value should be empty in the metaverse

And in all of Microsoft

[2019-06-25 01:35] #33866 closed

[2019-06-25 01:39] #33623 closed

[2019-06-25 01:40] mike-urnun-msft commented on #33692
@gxs54 Gotcha - If `package.json` file doesn't already exist, you can run `npm init` which would create the `package.json` file. Although i recommend you create your function app locally and then deploy to Azure when working on project :)

[2019-06-25 01:43] #32924 closed

[2019-06-25 01:44] #30649 closed

[2019-06-25 01:45] #32894 closed

[2019-06-25 01:47] FrankHu-MSFT commented on #33857
Hey @jpitcherCMH I'm not sure what you're requesting for. Azure AD supports the OIDC flow per the doc here : https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code

It sounds like you might be requesting some sort of VPN service where users can only login to your environment when they are either on local network or through a vpn to the local network. Which

[2019-06-25 01:47] #33857 closed

[2019-06-25 01:51] FrankHu-MSFT commented on #33863
Hello @jpitcherCMH email validation for external emails can be done using AAD B2C user journeys, which will request the user to validate their email address before continuing. This can be found here : https://docs.microsoft.com/en-us/azure/active-directory-b2c/userjourneys

And doc on how to disable this goes further into how the email verification process works in the context of AAD B2C. https://

[2019-06-25 01:51] #33863 closed

[2019-06-25 01:55] #32727 closed

[2019-06-25 01:56] #33779 closed

[2019-06-25 02:02] KalyanChanumolu-MSFT commented on #33902
@gunnarcms Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2019-06-25 02:07] Gamecock opened #33912 "Error following the instructions"
I am getting this error when I try to replicate #29173

mike@Azure:~$ az extension add --name azure-cli-iot-ext
Unable to load extension 'azure-cli-iot-ext'. Use --debug for more information.
Extension 'azure-cli-iot-ext' is already installed.
mike@Azure:~$ az iot hub device-identity create --hub-name {hub_name} --device-id myEdgeDevice --edge-enabled
Unable to load extension 'azure-cli-iot-ext'.

[2019-06-25 02:07] KalyanChanumolu-MSFT commented on #33901
@gunnarcms Thank you for the feedback.
We are evaluating the content and will get back to you soon.

[2019-06-25 02:10] femsulu commented on #33203
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-25 02:10] #33203 closed

[2019-06-25 02:10] #33475 closed

[2019-06-25 02:13] #33902 closed

[2019-06-25 02:14] KalyanChanumolu-MSFT commented on #33903
@gunnarcms Thank you for reporting this issue.
We will review the content and take appropriate action.

[2019-06-25 02:16] juneym0730 opened #33913 "The file link for https://hditutorialdata.blob.core.windows.net/adfv2hiveactivity/hivescripts/hivescript.hql is not correct"
It actually redirects to partitionweblogs.hql.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5-9160-73ce-2d29-156915b60a83
* Content: [Tutorial: Create on-demand Apache Hadoop clusters in Azure HDInsight using Data Factory ](https://docs.microsoft.c

[2019-06-25 02:49] MohitVerma-MSFT commented on #33881
@tristanbarcelon Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 02:50] MohitVerma-MSFT commented on #33883
@lmolkova Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 02:52] MohitVerma-MSFT commented on #33906
@AAATechGuy Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 02:53] MohitVerma-MSFT commented on #33909
@KeiroKamioka0000 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 02:55] MohitVerma-MSFT commented on #33911
@PATRICKwithMSFT Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 02:57] MohitVerma-MSFT commented on #33912
@Gamecock Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 02:58] MohitVerma-MSFT commented on #33913
@juneym0730 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 03:21] aquibqureshi26 commented on #33748
I believe per node free MB is 500 MB per day and if it exceeds that then there will be charges as per security center pricing page. Hope I'm correct in this also if this information is added in this FAQ then it would be helpful.

[2019-06-25 03:27] aderesh opened #33914 ""Application Insights" is not in a "Metric source""
At step "Provide a name for the scale setting, and the click on "Add a rule"..." I couldn't find "Application Insights" item. I want to create an autoscale rule for a web app(windows, core 2.2) S1 with application insights connected. Are there any extra steps required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 891

[2019-06-25 03:29] aderesh commented on #33914
More context:

http://prntscr.com/o68ant
http://prntscr.com/o68acx
http://prntscr.com/o68as9

[2019-06-25 03:31] dcbrown16 opened #33915 "Specify query intent"
It would be nice if the query examples stated more specifically what they do, not just "retrieve performance information".
i.e. Example 1 is a query to find the remaining free space on your disks.
Adding these descriptions would make the examples easier to find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9c921c-1

[2019-06-25 03:47] kalvinwang commented on #33589
Hi @ggailey777, I'd also like to know whether it's possible to script disabling and re-enabling Functions, and it's just missing from the documentation, or whether it's not possible at this time!

[2019-06-25 04:00] SumanthMarigowda-MSFT commented on #33155
@algattik Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-25 04:27] CHEEKATLAPRADEEP-MSFT commented on #33913
@juneym0730 You are correct. When you click on download, the file changes to "partionweblogs.hql".

![image](https://user-images.githubusercontent.com/44426401/60069137-52ce0000-972f-11e9-8ae4-a5d6d231d87a.png)

Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@hrasheed-msft & @JasonWHowell Could you please review further and upd

[2019-06-25 04:34] ToMakeSense commented on #33485
@PramodValavala-MSFT Yeah, this is issue is fixed in azure portal. good!

[2019-06-25 04:48] MohitVerma-MSFT commented on #33915
@dcbrown16  Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 04:51] MohitVerma-MSFT commented on #33914
@aderesh Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 05:06] AjayKumar-MSFT commented on #33838
@xyfoo, Thanks for the update. @jwargo, Requesting your insights on the above topic.

[2019-06-25 05:10] AjayKumar-MSFT commented on #33590
@Mark, Thanks for the update and sharing the workaround solution.

[2019-06-25 05:15] CHEEKATLAPRADEEP-MSFT commented on #33785
@joshzngf A partition is an ordered sequence of events that is held in an event hub. As newer events arrive, they are added to the end of this sequence.
![image](https://user-images.githubusercontent.com/44426401/60071012-531dc980-9736-11e9-8372-51cd14abd5b4.png)

[2019-06-25 05:19] KalyanChanumolu-MSFT commented on #33473
@kaushikghosh
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-25 05:19] #33473 closed

[2019-06-25 06:00] vrishnitf commented on #33577
Hi, Thanks, please post your request in the following user voice forum for the preview sample (https://cognitive.uservoice.com/forums/598195-bing-spell-check), the team will share with you. Also I recommend to post in the [stackoverflow ](https://stackoverflow.com/questions/tagged/microsoft-cognitive) for the quick help. I hope this helps!

[2019-06-25 06:03] jjindrich commented on #33851
Thanks, added as feedback for voting https://feedback.azure.com/forums/217313-networking/suggestions/38002603-bastion-supporting-vnet-peering-for-hub-spoke-de

[2019-06-25 06:03] #33851 closed

[2019-06-25 06:04] jjindrich commented on #33850
I'm getting generic error, provisioning failed :( I have vnet with assigned custom DNS server - Windows server with DNS service.

[2019-06-25 06:06] KalyanChanumolu-MSFT commented on #33901
This is being assigned to the content author to evaluate and update as appropriate. 

@kevinvngo Could you please update the screenshots in the tutorial.

[2019-06-25 06:07] SwathiDhanwada-MSFT commented on #33711
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-25 06:07] #33711 closed

[2019-06-25 06:08] ram-msft commented on #33577
Hi, Thanks for your feedback. I recommend to post your request in user voice forum (https://cognitive.uservoice.com/forums/598195-bing-spell-check) for the preview sample to share. I hope this helps!

[2019-06-25 06:10] #33577 closed

[2019-06-25 06:14] techjazz-MS commented on #33494
@hilari0n Azure CLI user cmdlet doesnt not have enough commands as of now to add the users to the enterprise applications. You will have to perform this activity using the Powershell. Alternatively if you are using Linux or Mac machines, you can utilize PowershellCore to run the Powershell cmdlets to achieve the same.

Regarding the steps to perform this activity please refer to the following url:

[2019-06-25 06:15] J0F3 commented on #33323
Do you have any new on this? Something has changes because the Azure CLI with device code login works now suddenly. But the Azure PowerShell has still the same issue.

[2019-06-25 06:21] ram-msft commented on #33565
Hi, @Skyscalesystems we are able to execute the sample code successfully after updating the "SubscriptionKey" and "Endpoint" in the Program.cs file. Please get the key and region from the Text Analytics API in the Azure Portal.
![image](https://user-images.githubusercontent.com/49180516/60073754-e955ed80-973e-11e9-8735-677b6d6601ef.png)

If you still face an issue please send an email us at azcomm

[2019-06-25 06:21] #33565 closed

[2019-06-25 06:22] KetanChawda-MSFT commented on #33848
@PingPongSet Unfortunately, the Azure Function Service bus input/output binding doesn't support SAS.

As of now there are no plans to add this feature but you can keep up voting this feature request at [uservoice](https://feedback.azure.com/forums/355860-azure-functions/suggestions/31839700-support-service-bus-trigger-with-use-of-sas-token#{toggle_previous_statuses}) channel for the product team t

[2019-06-25 06:22] #33848 closed

[2019-06-25 06:36] KalyanChanumolu-MSFT commented on #33834
@Joostul Thank you for reporting this broken link.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.
We will close this issue now.

[2019-06-25 06:42] #33834 closed

[2019-06-25 06:50] dcbrown16 opened #33919 "More context about negotiating client certificate"
Why would we expect the server's request to freeze if negotiating client certificates is off? The last section on this page suggests that turning it on prevents requests from freezing.
Is the idea that turning negotiation on frontloads the negotiation process to the time of first connection and makes that processing not required for further HTTP requests?

---
#### Document Details

⚠ *Do not edit

[2019-06-25 06:51] KalyanChanumolu-MSFT commented on #33903
Thank you for taking the time out to report this issue, I have corrected the reference.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-06-25 06:57] KalyanChanumolu-MSFT commented on #33784
@iyerusad Your feedback is shared with the appropriate team and linked to issue #27135.
We will close this issue now.

[2019-06-25 06:57] #33784 closed

[2019-06-25 06:58] #33903 closed

[2019-06-25 07:12] liydu commented on #33675
@joaomoreno , thanks for the suggestion. Will add this missing step.

[2019-06-25 07:13] liydu commented on #28321
@RationalAnarchist , thanks for the good suggestion. We will update the content for it.

[2019-06-25 07:22] mhabibal13 opened #33920 "Provisioning on Shared throughput"
Is there any way to create/update the collection to have a shared throughput?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d7a9388-6068-0685-cb7b-d6a152ab92ca
* Version Independent ID: 300973d9-1fed-8354-a081-f674c271b9e6
* Content: [Azure CLI Script-Scale Azure Cosmos DB container throughput](https://docs.microsoft

[2019-06-25 07:25] AshokPeddakotla-MSFT commented on #33881
@tristanbarcelon Please check the troubleshooting steps from the similar issue: https://github.com/MicrosoftDocs/azure-docs/issues/33070 and let us know if that resolves your issue.

[2019-06-25 07:31] AshokPeddakotla-MSFT commented on #33686
@chris-opendata Suggest you to check the troubleshooting steps and update us if you need further help regarding this issue.  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-25 07:31] #33686 closed

[2019-06-25 07:36] JJussi opened #33923 "Minimum time is missing"
Sentence "Change Backup Retention Period between to 35 days to configure your backup policy." at https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups#what-is-a-sql-database-backup is missing that 7.
It should be "Change Backup Retention Period between 7 to 35 days to configure your backup policy."

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-06-25 07:47] vladichernov opened #33924 "False link of MSOLAP(amd64)"
Hallo,

the link to MSOLAP (amd64) on this page ( https://go.microsoft.com/fwlink/?linkid=829576
&lt;a href="https://go.microsoft.com/fwlink/?linkid=829576" data-linktype="external"&gt;MSOLAP (amd64)&lt;/a&gt; ) is false and leads to link to ADOMD. Please correct the link.  MSOLAP(64) msi is needed for developers.

Best regards.
Valdimir Chernov

---
#### Document Details

⚠ *Do not edit this sect

[2019-06-25 07:47] robinmanuelthiel commented on #33817
Great, thanks for the reply!

[2019-06-25 07:47] #33817 closed

[2019-06-25 08:18] Joostul commented on #33834
Thank you for the fast responses.

[2019-06-25 08:31] AlexanderTodorovic opened #33925 "Costs for logic Apps included"
Dear All, utilizing Logic Apps to send an e-mail would generate additional costs for Logic Apps, correct? Or is it included in the Web Activity?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f3e3e5-dd03-8d28-bf9f-196a772205d3
* Version Independent ID: e3642989-088c-5387-17db-4061b220d52f
* Content: [Branchin

[2019-06-25 08:37] iizotov opened #33926 "Clarify WEBSITE_SWAP_WARMUP_PING_PATH behaviour"
Please clarify the exact conditions when the path specified in the `WEBSITE_SWAP_WARMUP_PING_PATH` app setting is called, i.e. slot swap operation only, not scale-out, not fresh deployment, etc. Would be great to explicitly articulate differences between `WEBSITE_SWAP_WARMUP_PING_PATH` and  [&lt;applicationInitialization&gt;](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/appl

[2019-06-25 08:47] SnehaAgrawal-MSFT commented on #33926
@iizotov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 08:55] angoyal-msft commented on #33923
@JJussi Thanks for pointing out the bug in the document. I am working on the PR.

[2019-06-25 09:10] danijam opened #33927 "App Service service principal - Global? - Is this a secure approach"
Under the sub heading "Deploy web app certificate from Key Vault" it says:

"If your template includes a Microsoft.Web/certificates resource for SSL binding, and the certificate is stored in a Key Vault, you must make sure the App Service identity can access the certificate.

In global Azure, the App Service service principal has the ID of abfa0a7c-a6b6-4736-8310-5855508787cd. To grant access to K

[2019-06-25 09:16] ChiragMishra-MSFT commented on #33803
@stack247 I will now proceed to close this thread. Please still feel free to comment and tag me in case you need any other clarifications.

[2019-06-25 09:16] #33803 closed

[2019-06-25 09:24] siwlv opened #33928 "The connection string also has a problem"
It should not support 'Authentication' under .Net Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8486cc-40d4-7bca-84e0-e4156a28fe0d
* Version Independent ID: d6e95100-d7fd-2951-366d-f4ed73ce5771
* Content: [Use .NET Core to query Azure SQL Database](https://docs.microsoft.com/EN-US/azure/sql-database/sql-databas

[2019-06-25 09:39] angoyal-msft commented on #33920
@mhabibal13 Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-06-25 09:39] lawrencegripper commented on #32421
Nope I don't think that certs need to be generated with a Linux computer but I do think the `CommonName` used when generating has to be updated on the %client line of the config when using the CLI path to match the `CommonName` of the certificate.

I haven't been able to test this further as I went back to using the GUI based setup and managed to get this working.

[2019-06-25 09:41] linda33wj commented on #31243
Thanks for reporting the doc issue. The example of EncryptionMethod in linked service setting has been fixed.
#please-close

[2019-06-25 09:41] #31243 closed

[2019-06-25 09:44] AmanGarg-MSFT commented on #33906
@AAATechGuy Thank you for your suggestion! I have assigned the issue to the content author to evaluate and update as appropriate.

Meanwhile, here is a blog which can provide you more details: https://zimmergren.net/introduction-azure-app-configuration-store-csharp-dotnetcore/

[2019-06-25 09:44] linda33wj commented on #14541
Thanks all for your feedback on DB2 connector! We have updated the doc to cover DB2 for i7.3 support.
#please-close

[2019-06-25 09:44] #14541 closed

[2019-06-25 09:48] infosatheesh2020 commented on #24718
@YutongTie-MSFT I see exact same issue as well. was there any fix?

[2019-06-25 09:49] linda33wj commented on #15071
Thanks for your inquiry on ADF and sorry for the delay in response. The answer ShirleyWangMSFT gave above is correct.
#please-close

[2019-06-25 09:49] #15071 closed

[2019-06-25 09:51] ChiragMishra-MSFT commented on #33925
@AlexanderTodorovic Yes, you have correctly understood, the cost of Logic apps is separate. Please refer to [this doc](https://azure.microsoft.com/en-in/pricing/details/logic-apps/) for understanding the pricing of Logic apps.

[2019-06-25 09:52] FredericExa commented on #33721
For built-in policies, I totally understand that you cannot customize anything.
But what you explain is that we cannot get the keys used by built-in policies in order to use the same in the custom policies? Or is it a trick to do this?

[2019-06-25 09:54] pekanovics opened #33929 "azureiotsolutions.com not available"
Why is azureiotsolutions.com not available? Is there any other way to access my existing simulations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59514d13-30c3-625f-2c52-05c9ea0be129
* Version Independent ID: 0a6b26a8-37d4-c45c-350a-6001180504a0
* Content: [Try and run a device simulation solution - Azure](https://d

[2019-06-25 09:54] ChiragMishra-MSFT commented on #33924
@vladichernov As I can check, the links provided in the doc correctly download "x86_15.0.1600.41_SQL_AS_OLEDB" and "x64_15.0.1600.41_SQL_AS_OLEDB" and the link for ADOMD downloads "x64_15.0.1600.41_SQL_AS_ADOMD".

Please check it again.

[2019-06-25 09:55] siwlv opened #33930 "This program met an exception"
It met an exception when executing 'new SqlConnection(builder.ConnectionString)'. Please response me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8486cc-40d4-7bca-84e0-e4156a28fe0d
* Version Independent ID: d6e95100-d7fd-2951-366d-f4ed73ce5771
* Content: [Use .NET Core to query Azure SQL Database](https://docs.mic

[2019-06-25 09:56] shashishailaj commented on #33494
@hilari0n At this point we do not have the equivalent CLI cmdlets however we request you to add a [feedback for the same on uservoice](https://feedback.azure.com/forums/216665-scripting-and-command-line-tools/suggestions/19374880-please-add-an-azure-cli-command-equivalent-to-the). It is reviewed by engineering periodically and they can prioritize it accordingly. We will close this issue now . shou

[2019-06-25 09:56] #33494 closed

[2019-06-25 10:02] lightupdifire commented on #31078
@SanDeo-MSFT @ManojReddy-MSFT

Hope you are doing fine, if possible, please would be great to have comment on last 2x questions.

[2019-06-25 10:06] linda33wj commented on #15735
Thanks for your interests in ADF Amazon S3 connector, and sorry for the delay in response. Please refer to ShirleyWangMSFT's above reply, which is the correct answer.
#please-close

[2019-06-25 10:06] #15735 closed

[2019-06-25 10:09] #33675 closed

[2019-06-25 10:09] ManojReddy-MSFT commented on #31078
@lightupdifire Apologies for the delay. The action plan you have looks good.

Updating AD Connect will not affect the SCP configuration unless you rerun the configuration wizard.

[2019-06-25 10:11] yodobrin opened #33931 "train content type"
During training of a model, the content type mentioned should be application/json. other types during the training will result in 415 error. there is also a missing statement in regards to the total size of the documents for training, it needs to be &lt;4MB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18818774-5076-c

[2019-06-25 10:17] lightupdifire commented on #31078
@ManojReddy-MSFT,

Thanks, we plan deployment this/next week and want to make sure, that we really can stop Hybrid Azure AD join, after configuration wizard completed,
Then do HybridAADJ only for 1x Down-level device,
But even ADConnect run on Windows 2016 on-premise domain joined server :)
I guess u can "re-close" this case,
I will for sure share our experience here.

[2019-06-25 10:19] ManojReddy-MSFT commented on #31078
@lightupdifire Sure. I am looking forward to hearing back from you.

[2019-06-25 10:23] banzaisi opened #33932 "Forest priority for contributing attributes"
"If there are multiple forests that would satisfy one of these rules, then the creation order (date/time) of the Connectors (forests) is used to determine which forest contributes the attributes."

It is not clear which forest takes precedence - the one with the oldest Connector creation date/time or the one with the newest?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-25 10:24] SadiqhAhmed-MSFT commented on #33915
@yossi-y FYI.

[2019-06-25 10:24] ksgopal4 opened #33933 "aadcdn.msauth.net"
We use ADAL library to authenticate users. We are recently seeing requests to aadcdn.msauth.net as well. This is not listed in the above URLs. Investigating further led to this:
https://blog.hametbenoit.info/2018/11/16/office-365-azure-new-cdns-are-going-to-be-used-for-authentication/#.XRHpV4jdu-Y

 Is there a comprehensive list of Microsoft specific URLs that will be used by ADAL login process?

[2019-06-25 10:26] SadiqhAhmed-MSFT commented on #33914
@anirudhcavale For assistance.

[2019-06-25 10:29] ManojReddy-MSFT commented on #33797
@kgopi05 Thanks for the info. I am working internally to validate this and will get back to you.

[2019-06-25 10:49] AshokPeddakotla-MSFT commented on #33929
@pekanovics What is the exact issue you are facing when you open https://www.azureiotsolutions.com/ ?  It is working fine.
Make sure you are using correct subscription.

[2019-06-25 10:51] femsulu commented on #33510
@arindam-b apologies for the delay. Azure technical support will be the best channel to assist you - guidance [here](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.com and include your subscription ID and we will gladly assist you with engaging technical support.

[2019-06-25 10:58] femsulu commented on #33530
AFAIK, this is currently unsupported adding @msvijayn to comfirm.
If this is a feature you would like to see supported, kindly share the above [feedback directly ](https://feedback.azure.com/forums/913690-azure-monitor)with feature owners.
we will now close this request but we Look forward to your response.

[2019-06-25 10:58] #33530 closed

[2019-06-25 11:04] OliverNET opened #33934 "Proxy setting in large scale deployments"
Thank you for explaining the proxy configuration in detail. I was able to get IoT Edge running behind our proxy very easily.

However, i wonder, what the recommended approach is for larger scale deployments. I am thinking of thousands of edge devices residing in hunderts of customer networks behind their proxy servers.

As far as i understand the docs, i have to create an individual IoT edge deplo

[2019-06-25 11:07] femsulu commented on #33588
@pablodiazgutierrez Sorry for the delay, would you mind elaborating on what parts of the content are vague? This information will help us correct the documentation. From your comments, looks like you are hitting a 403 which typically indicates "access denied". Can you confirm that the identity/account you are using has appropriate access to make this call? Would also recommend engaging Azure techn

[2019-06-25 11:08] #33929 closed

[2019-06-25 11:08] pekanovics commented on #33929
It is working now

[2019-06-25 11:11] AmanGarg-MSFT commented on #33883
https://github.com/MicrosoftDocs/azure-docs-pr/pull/80494

[2019-06-25 11:11] femsulu commented on #33603
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-25 11:11] #33603 closed

[2019-06-25 11:13] AmanGarg-MSFT commented on #33883
#80494

[2019-06-25 11:14] RohitMungi-MSFT commented on #33833
@tamitarai We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 11:14] #33833 closed

[2019-06-25 11:15] #33606 closed

[2019-06-25 11:16] axthosarouris opened #33935 "Not self-contained examples"
In the 1st example given in this page, which is the type of `app`? Which libraries do we need? Which imports?
This is the example I am referring to

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-bf93e84dc238
* Version Independent ID: 50b27c9e-8f8a-3425-a1bb-b5d30e9d95e4
* Content: [Prote

[2019-06-25 11:19] KalyanChanumolu-MSFT commented on #33928
@siwlv Could you please elaborate your question.
.Net Core has support for various authentication types.

[2019-06-25 11:19] AmanGarg-MSFT commented on #33883
https://github.com/MicrosoftDocs/azure-docs-pr/pull/80494

[2019-06-25 11:21] AmanGarg-MSFT commented on #33883
@lmolkova We have updated the link. The changes should go live in sometime. Thanks again for pointing it out.

[2019-06-25 11:24] andikrueger opened #33936 "Important configuration steps unclear and missing - using wsfed and assignment of SAML1.1 policy."
After spending a whole day with this tutorial, there are several flaws, that need to be fixed:

1. Step 6 in list "Configure Azure AD single sign-on" is not obvious enough. I followed the instructions and used the adress provided in the portal. That I do need to change the adress to /wsfed is not obvious enough.

2. There is a note, that SharePoint requires SAML 1.1. What's missing is, how to conf

[2019-06-25 11:24] angoyal-msft commented on #33923
https://github.com/MicrosoftDocs/azure-docs-pr/pull/80487

[2019-06-25 11:24] SnehaAgrawal-MSFT commented on #33927
@danijam Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 11:26] angoyal-msft commented on #33923
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-25 11:26] #33923 closed

[2019-06-25 11:34] angoyal-msft commented on #33930
@siwlv Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-06-25 11:36] sarah026 opened #33937 "Firewall type and certification"
Hi
Can you please elaborate on the firewall type and whether it's been subject to certifications of any sort? E.g. is this layer 7 firewall as I would presume? or is this layer 4-7? Certifications?

Please be more specific, we want to understand the real protection we're getting from this firewall.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-06-25 11:37] Rutikhal commented on #33738
Using http://aka.ms/BastionHost worked for me

[2019-06-25 11:48] Rutikhal commented on #33632
I had the same error  but adding new allowed rule for 3389 port fixed my problem. But now I have another one
"The target machine is either currently unreachable or username/password is not correct. Please re-verify your credentials. If the problem persists, please contact support."   I tried with domain account, with local account. The same

[2019-06-25 11:55] lukos opened #33938 "kubectl get nodes - Unable to connect to the server"
Error message: Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it.

This reads like a firewall error but it looks like it is pointing to ipv6 localhost. All of the other steps have run succesfully (apart from an error that it could not create the monitoring rule in Azure AD)

---
#### Document Details

⚠ *Do n

[2019-06-25 11:58] matt-mcc1 commented on #33583
thanks! 👍

[2019-06-25 12:01] yossi-y commented on #33915
Added descriptions.

[2019-06-25 12:08] #33883 closed

[2019-06-25 12:08] lukos commented on #33938
So this is related to non-admin accounts. When you run the steps in the tutorial you are not asked to run as admin because it should all work under the current user. However, non-admin user cannot set the path to include kubeconfig. Also, home drive is set to non-local under the domain which might be relevant.

I had to get permission to add myself as local admin but it is a shame since there are

[2019-06-25 12:18] sirdank commented on #33603
Forgive me, I don't think this is resolved. The docker log file does exist on the host so my attempt at a helpful suggestion fell flat but we still have the issue that the docker logs aren't going into insights/analytics.

[2019-06-25 12:20] jakaruna-MSFT commented on #33938
@lukos
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-25 12:39] MohitVerma-MSFT commented on #33919
@dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:41] MohitVerma-MSFT commented on #33931
@yodobrin Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:42] MohitVerma-MSFT commented on #33932
@banzaisi Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:43] PramodValavala-MSFT commented on #33741
@renebik I've tried the same command and confirm that it works. I am using the 2.0.67 version of the CLI.

[2019-06-25 12:44] axthosarouris opened #33939 "The examples throw System.ArgumentException: Keyword not supported: 'authentication'."
The provided code throws the aforementioned exception when using .NET core 2.2. The inclusion of the `Microsoft.IdentityModel.Clients.ActiveDirectory" Version="5.1.0" ` package did not help. Further information is necessary to show how this code can be used

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-

[2019-06-25 12:53] MohitVerma-MSFT commented on #33933
@ksgopal4 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:55] MohitVerma-MSFT commented on #33934
@OliverNET Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:57] MohitVerma-MSFT commented on #33935
@axthosarouris Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:58] MohitVerma-MSFT commented on #33936
@andikrueger Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 12:59] MohitVerma-MSFT commented on #33937
@sarah026 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 13:00] MohitVerma-MSFT commented on #33939
@axthosarouris Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 13:03] PramodValavala-MSFT commented on #33806
@SeanFeldman Thanks! It surely does sound that way.

I believe the lines that describe a `Command` can simply be removed. @spelluru Thoughts?

[2019-06-25 13:18] msrini-MSFT commented on #33836
@kikawash , Please execute the below command to get the list of BGP communities and its IP prefixes.

**Get-AzBgpServiceCommunity**

Under Other office 365 services, this is what I see:

Name           : OtherOffice365Services
Id             : /subscriptions//resourceGroups//providers/Microsoft.Network/bgpServiceCommunities/OtherOffice365Services
Type           : Microsoft.Network/bgpServiceCommun

[2019-06-25 13:21] pablodiazgutierrez commented on #33588
Thank you for your response. I since figured out the issue by fiddling around. What’s not explicit in the documentation is the format in which the authorization token is expected, which is extracting the “access_token” from the JWT response and then passing it in the format described above, with the “Bearer “ prefix as shown. This might be obvious in retrospect, but had it been explicit in the doc

[2019-06-25 13:21] Oechiih opened #33940 "Security Administrator is misleading"
Right below the description for the security administrator role there is a table showing "In" and "Can do" columns. In one example it says:
"In: " Azure Security Center
"Can do": Can view security policies, view security states, edit security policies, view alerts and recommendations, dismiss alerts and recommendations
However, this does not seem to be accurate as long as the user doesn't have the

[2019-06-25 13:29] jtuliani opened #33941 "G series not listed"
Why are G series VMs not listed? And what else is missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca21c78d-bcb3-aac5-79a0-4e3525603b11
* Version Independent ID: 266194fe-e187-9036-c0ef-831f971ba368
* Content: [Windows VM sizes in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes)
* Co

[2019-06-25 13:30] CeciAc opened #33942 "Can not connect to Azure SQL by this document."
@siwlv commented on [Tue Jun 25 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/546)

connection.Open() will met an Exception under .net core. How to fix it?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 3e8486cc-40d4-7bca-84e0-e4156a28fe0d
* Version Independent ID: d6e95100-d7fd-2951-366d-f4ed73ce5771
* Content: [使用 .NET Core 查询 Azure SQL 数据库](https

[2019-06-25 13:32] andikrueger commented on #33936
Please let me know, if you need any assistance. I will write a blog post about my learning with this topic - In my scenario very specific to using Azure AD Proxy and SAML at the same time.

[2019-06-25 13:32] techjazz-MS commented on #33721
@FredericExa The keys that comes in question here are the keys for the IDPs (like Facebook, Amazon etc) if I am not wrong. Now when you are creating an application in the developers account for these IDPs at that time you get a secret or a key, and you use that key in the IDP section of the B2C portal while registering the IDP on the B2C portal. These registered IDPs can only be used by the Build-

[2019-06-25 13:33] CeciAc commented on #33942
Hi team,
I'm moving this here since it may be a source issue
best

[2019-06-25 13:34] msvijayn commented on #33530
Confirming - [activity log events](https://docs.microsoft.com/azure/azure-monitor/platform/activity-log-schema) currently have scope for up to subscription only. Hence alerting on activity log, can be configured for subscription scope as well.

[2019-06-25 13:34] rjosephp commented on #33775
Thanks for the clarification. However, if an event failed to trigger due to an underlying temporary infrastructure or platform issue while a message is sent to Service Bus Queue or Topic, what is the mechanism to process this message again? What is the best practice to be followed for such use cases? In addition, it is also mentioned that the event Grid integration is suggested for very low volume

[2019-06-25 13:36] MohitVerma-MSFT commented on #33941
@jtuliani Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 13:37] MohitVerma-MSFT commented on #33940
@Oechiih Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 13:38] MohitVerma-MSFT commented on #33942
@CeciAc Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-25 13:41] PramodValavala-MSFT commented on #33780
@ggirard07 Thanks! I believe the example was just to show how cross-app communication can be made possible but its implementation indeed something that should be avoided.

Worthy alternatives would be

- Using an [Eternal Orchestration](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-eternal-orchestrations)
  We would call [`ContinueAsNew`](https://azure.github.io/

[2019-06-25 13:49] FredericExa commented on #33721
Sorry, I may have misexplained my case: my wonder is about the IDP ADB2C. Actually, if I use both built-in and IEF policies in parallel, I cannot have the same keys to sign the emitted tokens. To be more concrete, if I get the metadata URL using a built-in policy, and a metadata URL using a custom policy on the same ADB2C tenant, I get 2 different signatures. That's normal because by default we ge

[2019-06-25 13:51] theonlygusti opened #33944 "how are we meant to transcribe multiple files at once?"
I only seem to be able to get a SAS url for a single audio file in a blob container.

How do I transcribe multiple audio files from the same container though?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [Ho

[2019-06-25 14:00] CeciAc opened #33945 "Service Bus Queue body is null"
@infoTrainingym commented on [Tue Jun 25 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/516)

When using Service Bus Queue handler, message arrive with body = null. From this Issue (https://github.com/Azure/azure-service-bus-dotnet/issues/123#issuecomment-470173196) Event grid must use old nuget version.

Adding

[code]

 we could convert format to then new nuget version.

It shoul

[2019-06-25 14:01] CeciAc commented on #33945
Hi team,
I'm moving this here because the user is making suggestion on the original documentation
kind regards

[2019-06-25 14:13] jeevansd commented on #33936
@andikrueger We are working on showing the WS-Fed endpoint but till that time I will add the note. For the SAML 1.1 token is a bug on our side and I will get this done asap.

[2019-06-25 14:14] mtthffmn opened #33946 "Inaccurate Zendesk Plan requirement listed - Enterprise not needed"
This article states that user provisioning requires the Enterprise plan. This is not true, all Zendesk plans have access to the REST API endpoints required for user provisioning. The only requirement that is tangentially relevant to this - you need Zendesk Professional to do SAML (which is technically separate from this but almost always done in tandem).

---
#### Document Details

⚠ *Do not edit

[2019-06-25 14:14] PramodValavala-MSFT commented on #33775
@rjosephp [This section](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-concept#how-many-events-are-emitted-and-how-often) of the doc explains when events are sent out which mentions the events are emitted every 2 minutes until a receiver is detected. But for larger outages, I believe you could have a receiver that checks-in on a timer irrespecti

[2019-06-25 14:23] staal-it commented on #23919
Yes I do! For me it turned out to be a problem with the Azure CLI I use in my Azure DevOps deployment. You can read more about this bug following [this](https://github.com/Azure/azure-cli/issues/8293) link.

The bug has been fixed but it's not available yet I believe.

A workaround: if you're using az webapp traffic-routing  set --distribution <name-of-the-app>-staging=10 then make sure the name o

[2019-06-25 14:30] prabhakarreddy1234 commented on #31006
Any update on this? Without SAS token this feature is almost useless.

[2019-06-25 14:46] mwc360 opened #33947 "Server 2019"
When will MS Server 2019 be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2b8c6478
* Content: [Create a self-hosted integration runtime in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/create

[2019-06-25 14:52] alkohli commented on #33697
@flibbum This is fixed and the change was merged. This should go live after 10 AM today.
Closing this now.
#please-close

[2019-06-25 14:52] #33697 closed

[2019-06-25 14:55] sander1095 opened #33948 "Missing "." in Configuration variables section?"
Hello!

In the Configuration variables part of the docs, I feel like a "." operator is missing in a code sample that uses a complex variable/parameter:

`"[variables('environmentSettings')[parameters('environmentName')].instanceSize]"`

Should it not be:

`"[variables('environmentSettings').[parameters('environmentName')].instanceSize]"`

Because it's accessing the test/prod property of the json o

[2019-06-25 14:56] adrianwells opened #33949 "Windows 32 bit support for Service Map in Azure"
It appears based upon the Microsoft Azure portal that there are 32 bit Windows Agents available for use with the Service Map in Azure, however this document clearly states that only 64 bit is supported. Also this Microsoft user voice suggests there are 32 bit agents available https://feedback.azure.com/forums/267889-log-analytics/suggestions/6744349-support-for-windows-2003-and-2008-servers-32-bit

[2019-06-25 15:17] sethderrick opened #33950 "'device-identity' is not in the 'az iot hub' command group."
When attempting to follow along with this quickstart I am blocked because 'device-identity' is not in the 'az iot hub' command group according to the cli. I've tried the cli on Windows, Mac and the built-in web-based cli you link to. All show the same error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5-

[2019-06-25 15:22] lukepuplett opened #33951 "Broken link"
Link "SQL query and SQL syntax" under "Where can I run SQL queries" is 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a28b534-831b-bc5c-9074-7c770bfd044c
* Version Independent ID: 1b751231-2593-f82d-4651-3d4f87979cd7
* Content: [How to query with SQL in Azure Cosmos DB?](https://docs.microsoft.com/en-us/azure/cos

[2019-06-25 15:24] cynthn commented on #33427
@smereczynski Thanks for the feedback! Yes, you can use an .iso. The engineering team has created some sample .json files for the public preview that cover RHEL deployments using an .iso. You can see the .iso topic here: https://github.com/danielsollondon/azvmimagebuilder/tree/master/quickquickstarts/2_Creating_a_Custom_Image_using_Red_Hat_Subscription_Licences.

Thank you!

#please-close

[2019-06-25 15:30] Jann-Skotdal commented on #30352
@TechWatching : May we now close this issue?

[2019-06-25 15:32] danielsollondon commented on #32223
@gucarreira - sorry for the delay in getting back to you. We have just checked, when you use the latest RHEL package, the code you refer to is now obsolete, the article has been updated to reflect this. Thank you for raising this, and apologies you hit this issue, please reach out if you have further issues.

[2019-06-25 15:50] SnehaAgrawal-MSFT commented on #33727
@tudort-iquest Thanks again for the feedback! We are working on it and will be published soon. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-06-25 15:52] smereczynski commented on #33427
But you cannot use rhel 7.6 ISO...

[2019-06-25 15:54] tudort-iquest commented on #33727
Thanks! As far as I can see, the final/stable 1.2.0 version of Microsoft.Azure.Services.AppAuthentication package has just been published a few days ago ( https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.0 )

[2019-06-25 15:54] markjbrown commented on #33920
Yes, you can provision a database with throughput and then provision a collection within that database and not specify throughput.

[2019-06-25 15:57] MicahMcKittrick-MSFT commented on #32223
Thank you @danielsollondon Greatly appreciated :)

[2019-06-25 15:57] #32223 closed

[2019-06-25 16:12] cynthn commented on #33427
@VikasPullagura-MSFT can you reopen?

@danielsollondon Can you chime in on OS support for ISO deployments?

[2019-06-25 16:24] MikkelHegn opened #33953 "Sample should use upper case for memory limits and reservations"
See: https://github.com/Azure/AKS/issues/1038

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server container on an Azure Kubernetes Service (AKS) cluster](https://docs.microsoft.co

[2019-06-25 16:27] MicahMcKittrick-MSFT commented on #33815
@theheatDK any update on this?

[2019-06-25 16:28] MicahMcKittrick-MSFT commented on #33854
@mmgil I will close this for now. If you are still having issues just let me know and we can reopen and continue the conversations.

[2019-06-25 16:28] #33854 closed

[2019-06-25 16:29] MicahMcKittrick-MSFT commented on #33864
@singhyashwant0111 any update on this?

[2019-06-25 16:30] MicahMcKittrick-MSFT commented on #29190
@carlfm01 just a quick update, we have confirmed this is still an issue and are working with the product teams offline to find the resolution. We will update as soon as we have more information.

[2019-06-25 16:32] b-juche commented on #32416
(cc: @lichunli-ms)

The article Performance benchmarks for Azure NetApp Files has been updated to include example scripts:

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-performance-benchmarks#example-scripts

[2019-06-25 16:32] b-juche commented on #32416
#please-close

[2019-06-25 16:32] #32416 closed

[2019-06-25 16:46] MicahMcKittrick-MSFT commented on #33953
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 16:47] FrankHu-MSFT commented on #33323
@J0F3 Unfortunately, we are still looking into this, and we'll get back to you as soon as there is an update.

[2019-06-25 16:52] linda33wj commented on #31890
@vadakoen Thanks for the feedback. You are right that AttributeType.MultiSelectPicklist type is not supported now. I've added to the Data Type section in this article to clarify. We will track this ask and further traige for the future.
#please-close

[2019-06-25 16:52] #31890 closed

[2019-06-25 16:52] #33953 closed

[2019-06-25 16:54] linda33wj commented on #30399
Thanks for the feedback. I've updated the specific sentence you referred to in Staged copy section, to clarify the non-supported scenario.
#please-close

[2019-06-25 16:54] #30399 closed

[2019-06-25 16:55] MicahMcKittrick-MSFT commented on #33953
Thanks @spboyer

@MikkelHegn fixed. Once the PR merges the changes will go live after a few hours.

[2019-06-25 16:58] spboyer commented on #33953
I fixed the doc, the issue still remains in the AKS engine for Linux to detect `m` Vs 'M' to be clear.

[2019-06-25 16:59] shabirjan opened #33955 "Unable to Connect to Redis in Web App"
Hi
I created a .net Core web api project and followed the steps mentioned for Console Project, and I am unable to connect to my Azure Redis Instance, and with same connections string I am able to connect in Console application and send and receive my cache items.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-

[2019-06-25 17:10] MaciCrowell opened #33956 "Delete base blob based on creation time rather than modification time?"
For compliance reasons I have a scenario where I need to delete blobs based on creation time rather than modification time. Based on this documentation this is not currently possible. Is my understanding correct and if so is this functionality that will be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-

[2019-06-25 17:13] AshokPeddakotla-MSFT commented on #33801
@lipsius This would require further investigation to find out the root cause. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-06-25 17:16] denhsu opened #33957 "Ran the command and got this weird error - \az acr task create: 'utputformat' is not a valid value for '--output'. See 'az acr task create --help'."
Hi,

I ran this command and got this weird error - az acr task create: 'utputformat' is not a valid value for '--output'. See 'az acr task create --help'.

However, I don't specify any output option.

az acr task create \
    --registry $ACR_NAME \
    --name taskhelloworld \
    --image helloworld:{{.Run.ID}} \
    --arg REGISTRY_NAME=$ACR_NAME.azurecr.io \
    --context https://github.com/$GIT_U

[2019-06-25 17:20] moez-slimi opened #33958 "User gets 404 after login"
I've followed the steps described in the documentation.
Once my test user is logged in, they are redirected to the following URL, and get an 404 Error:
https://login.microsoftonline.com/b2c-tenant-name.onmicrosoft.com/oauth2/v2.0/authorize?p=b2c_1a_custompolicyname_signup_signin&client_id=XXXXXXX-b651-49e3-a15f-29433795729e&redirect_uri=https%3a%2f%2fcustom-test-website.azurewebsites.net&response_

[2019-06-25 17:21] YutongTie-MSFT commented on #33944
@theonlygusti Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-25 17:31] MicahMcKittrick-MSFT commented on #33957
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 17:34] Adam-Smith-MSFT commented on #33956
Hi @MaciCrowell you are correct. There isn't an option which saves the creation date of a blob, however, you can add it in the metadata upon a blob creation/upload, note that this metadata will also get updated once the blob gets updated. The best measure to take is to write a script to update a text file of each file and creation date separately. We don't have an ETA on when this option will be a

[2019-06-25 17:34] #33956 closed

[2019-06-25 17:35] Adam-Smith-MSFT commented on #25938
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-25 17:35] #25938 closed

[2019-06-25 17:35] yuriy-belelya-akqa opened #33960 "ROPC doesn't work with newly created user via Graph API"
Hello.
I'm trying configure ROPC flow in Azure AD B2C as described here https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc, but I have **invalid request error**.
What I did:
1. Created new b2c tenant lets name it **tenantdev**.
2. Added Application with **Directory.Read.All** and **Directory.ReadWrite.All** application permissions.
3. Added ROPC user flow with name **B2C_1_

[2019-06-25 17:39] mganeshphani opened #33961 "What permissions does the user creating cluster need and at what level"
i was not able to find a document that specifies what role/permission does the user creating cluster need to have and at what level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version Independent ID: 69d7fa26-1a37-e477-0a2c-db58ce19a84f
* Content: [Service principals for Azure

[2019-06-25 17:41] TravisCragg-MSFT commented on #33632
@Rutikhal Make sure that you can log into the VM from a different path (RDP on the Public IP, or from a different VM inside the VNET). Once you can confirm you can log in to the VM successfully, try those credentials from Bastion.

[2019-06-25 17:43] ctooley21 commented on #25991
can we get an update here?

[2019-06-25 17:47] MicahMcKittrick-MSFT commented on #33961
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 17:48] MicahMcKittrick-MSFT commented on #30019
@peterpogorski @vturecek can either of you take a look at this one?

[2019-06-25 17:55] medavamshi opened #33962 "Can you please eloborate on what needs to be on on-premises for this ? "Also, the on-premises VPN device must be configured using 0.0.0.0/0 as traffic selectors""
Can you please eloborate on what needs to be on on-premises for this ? "Also, the on-premises VPN device must be configured using 0.0.0.0/0 as traffic selectors"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e199bebd-d994-ec96-4716-c995559adc21
* Version Independent ID: 1b856aa3-2779-2600-152d-19a70c37edb9
* Content:

[2019-06-25 17:56] ashjain commented on #33822
@jmoralesv -
1. For crispness, we do plan to optimize this going forward, potentially make this configurable on Azure Bastion.
2. Full full-screen, we have added support for full-screen.  Can you please try it from the control palette and try the full screen?   This should re-initiate the session with higher resolution for full screen.  Step by step covered in our documentation here - https://docs

[2019-06-25 17:56] medavamshi commented on #33962
I am using a Synology gateway and want to know how i can configure the traffic selector with 0.0.0.0/0

[2019-06-25 18:00] roygara commented on #14086
@infosatheesh2020 thanks for reaching out, we appreciate it! We'll be updating the doc with India and a few other missing regions shortly. It should be live by the end of the day. :)

[2019-06-25 18:00] roygara commented on #28340
#reassign:@roygara

[2019-06-25 18:01] roygara commented on #28340
@avooca thanks for reaching out, we appreciate it! We'll be updating the doc with the missing regions shortly. It should be live by the end of the day. :)

[2019-06-25 18:01] roygara commented on #28340
#please-close

[2019-06-25 18:01] #28340 closed

[2019-06-25 18:02] roygara commented on #14086
#please-close

[2019-06-25 18:02] #14086 closed

[2019-06-25 18:05] MicahMcKittrick-MSFT commented on #33957
@denhsu I ran through the steps leading up to this command without any issues

![image](https://user-images.githubusercontent.com/32313503/60121893-f1ab2a00-9738-11e9-86b7-891e498ae533.png)

I then ran the command as listed in the doc

[code]

Output was as follows:

[code]

I would guess that you either had a typo at some point in the previous steps or it was a transient error. Also, I ran all th

[2019-06-25 18:06] mikkokok commented on #33480
How about leaving your solution here for future reference? :)

[2019-06-25 18:07] jeffwmiles commented on #30841
Is there any update on this question? I too have concerns over the capacity available during an Azure region outage, and this may have a large impact on design of our disaster recovery.

[2019-06-25 18:09] MicahMcKittrick-MSFT commented on #33961
@mganeshphani we call out the scope for delegating resources to have access

https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-azure-resources

The access level is contributor. The same level would be needed for users as well.

[2019-06-25 18:11] YutongTie-MSFT commented on #33704
@diberry Hi Dina, I saw several similar issues in this topic. Could you please check it and also update the document? Thank you very much.

[2019-06-25 18:15] jeffwmiles commented on #30841
I have found that the "[Common Questions](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-questions#general)" article has a note that addresses this concern:

[2019-06-25 18:17] denhsu commented on #33957
Hi @MicahMcKittrick-MSFT ,

Thanks for the quick response!  I ran through az cli.

I will run through Azure Cloud shell.   I now think it could also be my office network issue.

Thanks,
Dennis

[2019-06-25 18:18] MashaMSFT commented on #33690
Hi @stewartadam ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-25 18:18] diberry commented on #33704
@YutongTie-MSFT @bchen007 I'm not sure if this is a documentation issue or a service issue because there isn't enough information for the issue. Can you please expand on what you are looking for or trying to do?

[2019-06-25 18:25] femsulu commented on #33962
thanks for your comment. Can you please share the link to the referenced documentation ?

[2019-06-25 18:26] stewartadam commented on #33690
Hi Masha, it's the former -- the instructions are supposed to be for on-premise/SQL boxed product servers and so the command fails because those versions of SQL Server does not understand the `storage_connection_string` parameter.

[2019-06-25 18:27] femsulu commented on #33960
Thanks for the comment. We are investigating and will get back to you shortly.

[2019-06-25 18:28] keithgutfreund opened #33963 "Very out-of-date references"
It appears that all of the links on this page to the Apache Lucene documentation are for version 4.3!   Lucene is currently at version 8.1.  For example, the link above for cjk_width is: https://lucene.apache.org/core/4_10_3/analyzers-common/org/apache/lucene/analysis/cjk/CJKWidthFilter.html
It should be: https://lucene.apache.org/core/8_1_1/analyzers-common/org/apache/lucene/analysis/cjk/CJKWidth

[2019-06-25 18:28] femsulu commented on #33949
Thanks for the comment, we are investigating and will get back to you shortly.

[2019-06-25 18:29] MicahMcKittrick-MSFT commented on #33957
@denhsu sounds good! The majority of the commands will work on local CLI as well, However you have to be aware of versions and some formatting changes between the two. We generally write these docs to work on Azure Cloud shell as it gives customers a place to run commands that have the latest version of CLI and we can easily test it in one environment that will work for all.

So just a heads up, i

[2019-06-25 18:29] #33957 closed

[2019-06-25 18:30] femsulu commented on #33948
Thanks for the comment, we are investigating and will get back to you shortly.

[2019-06-25 18:34] yegu-ms commented on #33620
@niswitze, thanks for reporting this! We updated the .NET Core Feature Management library recently. Please consult the latest documentation. If you still run into issues, let us know and we'll investigate.

[2019-06-25 18:34] yegu-ms commented on #33620
#please-close

[2019-06-25 18:35] vladvino commented on #33919
Further explanation can be found in the article linked from this doc https://docs.microsoft.com/azure/api-management/api-management-howto-mutual-certificates-for-clients. #please-close

[2019-06-25 18:35] #33919 closed

[2019-06-25 18:36] qianw211 commented on #33588
#please-close. This is issue is already tracked and we do plan to fix it soon! Thanks!

[2019-06-25 18:36] #33588 closed

[2019-06-25 18:36] secbug commented on #24640
Not a thing, however we are looking at scaling this and are wondering if there are any relevant guidelines, expected CPU/RAM requirements for systems, or any testing done of resources per faces or resources per persons/personlists.

[2019-06-25 18:38] georgewallace commented on #32118
@piotrzaremba Just wanted to follow back up on this. I still recommend you reach out to support to determine why this isn't working for you. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-06-25 18:38] #32118 closed

[2019-06-25 18:40] TravisCragg-MSFT commented on #33208
@TomaszOledzki We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 18:40] #33208 closed

[2019-06-25 18:40] georgewallace commented on #33847
@kgopi05 Wanted to reach out and see if you were able to edit other variables?

[2019-06-25 18:41] TravisCragg-MSFT commented on #33489
@3nyaww This has been fixed!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 18:41] #33489 closed

[2019-06-25 18:41] TravisCragg-MSFT commented on #33601
@JoeRistine We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 18:43] malhmoud-MSFT opened #33964 "ARM template for APIM Deployment is incorrect"
There is an extra curly bracket and a missing coma in the APIM dpeloyment template here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-managed-service-identity#using-the-azure-resource-manager-template

The correct template should be the elow
{
    "$schema": "https://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json#",
    "contentVers

[2019-06-25 18:44] bwren commented on #33845
#please-close

[2019-06-25 18:44] #33845 closed

[2019-06-25 18:44] MashaMSFT commented on #33690
Hi @stewartadam , my apologies, I'm not sure I understand what you mean :(

The article you're referring to (https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#7---configure-publisher-to-use-distributor) is intended to configure the managed instance as a publisher / distributor. As such, the script is not intended to be on-premises.

Additionally, th

[2019-06-25 18:46] yegu-ms commented on #33818
@tkumark, thanks for your feedback! I've added a [tracking item](https://github.com/Azure/AppConfiguration/issues/100) for this for our backlog.

[2019-06-25 18:46] yegu-ms commented on #33818
#please-close

[2019-06-25 18:46] #33818 closed

[2019-06-25 18:52] diberry commented on #24640
@secbug - The CPU/RAM requirements shouldn't be related to # of faces or persons, correct? Or if not, how do you see that? The faces or persons/personlists is a matter of space or memory on the container. So the real question - IMO - is the CPU/RAM. The recommendations in the installation doc are the only recommendations I know of.

@IEvangelist FYI - continue or close - your call.

@YutongTie-MSF

[2019-06-25 18:53] TravisCragg-MSFT commented on #33879
This is being handled offline.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 18:53] #33879 closed

[2019-06-25 18:54] TravisCragg-MSFT commented on #33742
@rehan2908 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 18:54] #33742 closed

[2019-06-25 18:54] cartacioS commented on #33625
Fixed the link title to read `...regression model`.

View fixed section:
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-auto-train#next-steps

[2019-06-25 19:01] FrankHu-MSFT commented on #33946
@mtthffmn Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-25 19:03] brandonh-msft opened #33965 "Need precompiled C# sample code snippets"
The C# sample code snippets on this page are all C# Script (as in, edited in the Portal) which doesn't map to precompiled C# - the vast majority of C# Functions use cases. Nobody looks to the very bottom of the page to find the precompiled variant, and it requires extra cycles to figure out what maps to what. We should either add precompiled C# sample code alongside all the others, or replace the

[2019-06-25 19:07] KranthiPakala-MSFT commented on #33947
@mwc360 Thank you for reaching out. At this time we are reviewing your query and will provide an update as appropriate.

[2019-06-25 19:08] FrankHu-MSFT commented on #33958
@moez-slimi  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-25 19:11] denhsu commented on #33957
Thanks @MicahMcKittrick-MSFT !

I think i found out what is the issuer with my az cli with powershell.

it is the { } bracket that cause the issue. https://github.com/Azure/azure-cli/issues/8778

Thanks for your help! =)

[2019-06-25 19:12] brettcannon commented on #33886
https://code.visualstudio.com/docs/python/environments#_environment-variable-definitions-file
https://pipenv.readthedocs.io/en/latest/advanced/#pipenv.environments.PIPENV_VENV_IN_PROJECT

Otherwise I'm the dev manager for the Python extension for VS Code and a founding member of the Python steering council and a core developer for 16 years if that helps. 😉 (I've also opened an issue against myself

[2019-06-25 19:13] CarlRabeler commented on #25774
Fixed - see https://github.com/MicrosoftDocs/azure-docs-pr/pull/80551

#please-close

[2019-06-25 19:13] #25774 closed

[2019-06-25 19:19] yiikou opened #33966 "How to unwrap azure model and convert it to its original model?"
How to unwrap azure model and convert it to its original model?

For example, I fetch the best model which is XGBoostClassifier, but the type of model is automl.client.core.common.model_wrappers.PipelineWithYTransformations. Now I want to convert it to XGBoost object so that I can use `xgboost.plot_importance` to analyse the model.

![image](https://user-images.githubusercontent.com/6872777/601268

[2019-06-25 19:26] jmoralesv commented on #33822
Hi @ashjain ,
Thanks for your reply, I'm glad you have plans to address the items 1, 3 and 4, hopefully we can see these improvements in Azure Bastion as time goes on.

For item 2, I'm using the new Chromium-based Microsoft Edge and yes, I've been using the Fullscreen button but I can't get the Bastion RDP session to take advantage of my Full HD screen (1920 x 1980), the VM screen can only be resi

[2019-06-25 19:31] IEvangelist commented on #24640
#assign:IEvangelist

[2019-06-25 19:32] IEvangelist commented on #24640
#reassign:IEvangelist

[2019-06-25 19:35] #33631 closed

[2019-06-25 19:35] dacarubio commented on #33828
Team, any updates on this please?

[2019-06-25 19:46] nagajaya opened #33967 "Document the maxAllowedContentLength value for Azure Function Apps."
There is nothing documented on the Max Allowed content length for function apps. As per , https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/web.config#L19  It is about ~100 MB. Would be good to have this documented. Because when we try to fetch a file greater than that , the function app fails silently , but nothing that points to the file size.

[2019-06-25 20:04] MarileeTurscak-MSFT commented on #33869
Hi @ankitsalu , I suggest opening a thread on MSDN since we don't really handle these types of troubleshooting questions in the docs.

My guess is that you just need to ensure that the page that you want the user to reach after logging in is configured correctly in the web application configuration itself, and there is likely a mismatch in your case or one reference in your code that is off.

Plea

[2019-06-25 20:04] #33869 closed

[2019-06-25 20:11] MarileeTurscak-MSFT commented on #33853
@oguennec please include a screenshot of your error.

It looks like we have listed:
AADSTS90100 | InvalidRequestParameter - The parameter is empty or not valid.

This might be the equivalent but I will need to see a screenshot to be certain.

CC @rwike77

[2019-06-25 20:12] femsulu commented on #33967
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-25 20:24] MarileeTurscak-MSFT commented on #33733
@kgopi05 are you trying to retrieve the Client ID?

If so, you can go to  Azure Portal > Azure Active Directory > Enterprise Applications > All Applications > Relevant Service Principal

Then you can get the data from the properties of the service principal.

![image](https://user-images.githubusercontent.com/13383753/60130657-879c8000-974c-11e9-8724-3beb0a3b4475.png)

[2019-06-25 20:27] rjosephp commented on #33775
While evaluating this feature for a possible use case, I ran into two issues. I have a topic (topic1) and two Service Bus Topic subscriptions (sub1 and sub2 - both session enabled).
1. I get a lot of exceptions while receiving the messages: The exception message is `"The operation did not complete within the allocated time 00:00:59.9958211 for object receiver365. One or more errors occurred. (The

[2019-06-25 20:27] HarrisburgUSysAdmin opened #33968 "User exclusions"
I do not see the ability to exclude accounts like in the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0bebc0e-6d4d-d27e-f370-0c4c5daf35f7
* Version Independent ID: d8f49b9b-6137-902a-722a-df5aeff0ca5c
* Content: [Baseline policy Require MFA for admins - Azure Active Directory](https://docs.microsoft.com/

[2019-06-25 20:39] glloyd2010f opened #33970 "Documentation doesn't state VNET Rules require General Purpose"
While attempting this we found that the Basic Tier for the Azure Database for MySql does not support VNET Rules. Can the documentation please be updated to state the that General Purpose is currently required for that feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c517a9-3ff8-4082-8905-e8007158d91f
* Version

[2019-06-25 20:42] YutongTie-MSFT commented on #33966
@yiikou Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-25 20:45] gregory-fonkatz opened #33971 "failed to convert certificate chain PEM to DER error on ingress"
This doesn't seem to work in prod. HTTPS is unavailable.
I see the following error in ingress logs
`2019/06/25 20:36:26 [error] 482#482: *46831 [lua] certificate.lua:77: call(): failed to convert certificate chain from PEM to DER: PEM_read_bio_X509_AUX() failed, context: ssl_certificate_by_lua*, client: 10.244.0.1, server: 0.0.0.0:443`

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-06-25 20:50] #33578 closed

[2019-06-25 20:52] nibaccam commented on #33625
The reference PR above fixes this issue. The changes should be live today.
@norliu and @YutongTie-MSFT  if satisfied #please close

[2019-06-25 20:56] cocowalla opened #33973 "Throttling meter size?"
The docs say the rate limit on Direct Methods 160KB/sec/unit for a "4KB throttling meter size".

What is a "throttling meter size"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-50e3-f8682c90ac42
* Content: [Understand Azure IoT Hub quot

[2019-06-25 20:57] KranthiPakala-MSFT commented on #33878
@basilwong Since Gov cloud is a restricted cloud, it would have its own rules and variations due to features that are not deployed yet or properties (for example, URLs) that are unique to the government environment.

To know more about the URLs for storage accounts in Azure Government please refer this doc: _[Azure Government storage](https://docs.microsoft.com/en-us/azure/azure-government/documen

[2019-06-25 21:01] MicahMcKittrick-MSFT commented on #33971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-25 21:04] IanMercer opened #33975 "Does the AzureWebJobsStorage setting support SAS Tokens?"
If the `AzureWebJobsStorage` setting only supports `AccountName`, `AccountKey` it would handy to know that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App settings reference for Azure Functions](https://d

[2019-06-25 21:13] anlucen opened #33977 "Microsoft Edge extension"
The link  to install the Access panel extension for Edge is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a59de6b-1616-7ff2-5e2d-e01cec04cfa4
* Version Independent ID: 8f55988f-3311-c560-6f52-af47f94b5274
* Content: [Install the application access panel browser extension - Azure](https://docs.microsoft.c

[2019-06-25 21:14] tristanbarcelon commented on #33881
@AshokPeddakotla-MSFT , I think my issue is related to Ubuntu or Apt's way of handling repository additions to its trusted list. Having followed the 3 step registration process, I was initially surprised at why APT was not even looking for the moby-engine package from newly added repo.

I browsed  `/etc/apt/` and saw a file called sources.list with values there are essentially entries similar in n

[2019-06-25 21:24] robinsh commented on #25784
#reassign robinsh
Reassign to me to take over.

[2019-06-25 21:24] PRMerger12 commented on #25784
robinsh
Reassign is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-06-25 21:29] PRMerger13 commented on #25784
robinsh
Reassign is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-06-25 21:30] MicahMcKittrick-MSFT commented on #33971
@gregory-fonkatz is HTTPS not available or is it just showing as not a valid cert?

I ran through this doc and used Prod and I found it still says it is not a trusted cert

![image](https://user-images.githubusercontent.com/32313503/60135066-c125b900-9755-11e9-99c6-3f732a26a4d3.png)

However the HTTPS endpoints do work

[2019-06-25 21:32] robinsh commented on #25784
Dang it, this should work, it's in email from Cory.
#reassign:robinsh

[2019-06-25 21:34] furmangg commented on #31282
I didn't have luck until I started using the universal Azure cloud applicationID for Key Vault instead of the object ID. To do this, use the --assignee command switch instead of --assignee-object-id. For example, the command can start like this...

az role assignment create --role "Storage Account Key Operator Service Role" --assignee "cfa8b339-82a2-471a-a3c9-0fc0be7a4093" ...........

[2019-06-25 21:34] robinsh commented on #19796
#reassign:robinsh Taking this over from rangv.

[2019-06-25 21:35] IanMercer commented on #31526
@tfitzmac Yes, we are deploying multiple environments (dev, test, stage, ...) into a single ASE but the App Gateway needs to know about all of them so it can configure itself to route traffic to each environment that has been installed. So currently there is no way to do this using ARM templates. App Gateway cannot be used in an additive fashion to add rules/back end pools, but must install all of

[2019-06-25 21:45] PingPongSet opened #33979 "Nano create a file"
Please provide command like below,  some readers have to google, which is not the best.

To create the file via Nao: "nano azure-vote.yaml"

"In the cloud shell, use nano or vi to create a file named azure-vote.yaml and"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Indep

[2019-06-25 21:47] basilwong commented on #33878
Yes, definitely. Thank you!

[2019-06-25 21:48] kgremban commented on #33912
@Gamecock Can you run `az --version` and share what version of the CLI you're running, and at the bottom of the output it should also tell you what version of the IoT extension you have installed.

Try updating your CLI and extension to the latest versions if they aren't already. In my personal experience, I've seen odd behavior in the CLI when I'm still running old versions.

Also, take a look at

[2019-06-25 21:50] Mike-Ubezzi-MSFT commented on #33951
@lukepuplett Thank you for bringing this to our attention. We are fixing this and will have an update published shortly.

[2019-06-25 21:53] ecfan commented on #33585
Hi @manishjoisar, these role descriptions are now updated. Please review and confirm that they are clearer now? Thank you!

[2019-06-25 21:54] kobulloc-MSFT commented on #33586
@walterfranssen Since we are unable to reproduce this issue by following the documentation, we are going to close this thread as resolved.  If you are still running into this issue, however, we do want to do our best to help troubleshoot this with you.  Please reach out to us on either MSDN or Stack Overflow:

https://social.msdn.microsoft.com/forums/azure/en-US

https://stackoverflow.com/question

[2019-06-25 21:54] #33586 closed

[2019-06-25 22:00] hilari0n commented on #33494
Thanks. I'm aware of the linked article. In fact, this issue is a feedback exactly to that article. :)

[2019-06-25 22:00] FrankHu-MSFT commented on #33958
@moez-slimi  Hey Moez, are you sure you properly setup your custom policy and are you sure the names are all correct?

I see the redirect URI is to : https://custom-test-website.azurewebsites.net

This is not a currently running azure app service. Please double check that your redirect URIs point to valid endpoints that are properly functioning. Closing this issue as the error is due to the redire

[2019-06-25 22:00] #33958 closed

[2019-06-25 22:02] MarileeTurscak-MSFT commented on #33539
We will now proceed to close this thread. If you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-06-25 22:02] #33539 closed

[2019-06-25 22:05] carlfm01 commented on #29190
@MicahMcKittrick-MSFT  thanks.

[2019-06-25 22:07] MicahMcKittrick-MSFT commented on #33979
@PingPongSet thanks for the feedback. Generally we leave it up to the user to understand the text editors as they are not managed by us so looking at docs online on how to use it is often the best way to learn. However I can see the confusion.

I will assign to the author to review and decide the best way to move forward.

[2019-06-25 22:07] hilari0n commented on #33494
I don't think this is a correct uservoice idea, as it refers to assigning applications to roles (so application rights management), not users/groups to applications (so application users management). In another words, I need Azure CLI to be able to do "New-AzureADUserAppRoleAssignment", not "Add-MsolRoleMember".

[2019-06-25 22:08] sasanmcp opened #33981 "possible values for -CreateOption?"
what are the possible values for -CreateOption? I tried putting this comment on the PowerShell Page
https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azdiskconfig
and the comment was closed there. I can't get that information from anywhere. the closest I found was this, which I could not use some of the proposed value such as Attach and …:
https://docs.microsoft.com/en-us/rest/api/

[2019-06-25 22:15] MarileeTurscak-MSFT commented on #33865
Are you using Azure AD Connect with SSO? If so, only the computers bound to your on-premises active directory will work.

Please open this issue on a relevant document as this document is not Intune-related.

[2019-06-25 22:15] #33865 closed

[2019-06-25 22:16] MicahMcKittrick-MSFT commented on #33981
You can find the list of the available options here:

https://docs.microsoft.com/en-us/rest/api/compute/disks/createorupdate#diskcreateoption

![image](https://user-images.githubusercontent.com/32313503/60137566-28df0280-975c-11e9-9eee-0d6a2e93cef9.png)

[2019-06-25 22:16] Mike-Ubezzi-MSFT commented on #33503
Following up with additiona detail. Please see the following document as it details the property to use based upon Container or Item and if using C# or Node, etc.: [Configure time to live in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live)

Enable TTL w/ .NET SDK C# at the Container ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live#d

[2019-06-25 22:17] Mike-Ubezzi-MSFT commented on #33503
@iqsarv We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-25 22:17] #33503 closed

[2019-06-25 22:19] alkohli commented on #33861
#in-progress

[2019-06-25 22:19] KranthiPakala-MSFT commented on #33878
@basilwong We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-25 22:19] #33878 closed

[2019-06-25 22:19] alkohli commented on #33862
#in-progress

[2019-06-25 22:26] Mike-Ubezzi-MSFT commented on #33756
@AndyHerb Did you happen upon the following step to prepare your subnet before the adding a Managed Instance? Validate and modify an existing virtual network ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet#validate-and-modify-an-existing-virtual-network))
The PS script you referenced is already part of a document. It appears you stumb

[2019-06-25 22:27] FrankHu-MSFT commented on #33933
@ksgopal4 thank you for letting us know about this issue. We are currently looking into the issue and will get back to you as soon as possible. It looks like this will need to be addressed in the docs,

[2019-06-25 22:29] Grace-MacJones-MSFT commented on #33963
Hi @keithgutfreund thanks for bringing this to our attention! We will review and update this doc accordingly.

[2019-06-25 22:32] Mike-Ubezzi-MSFT commented on #33873
@carehart It appears the doc team made an update. The link is intended to go to: Getting started with SQL queries ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-getting-started)).
If you are seeing something differant, please let us know.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue th

[2019-06-25 22:32] #33873 closed

[2019-06-25 22:35] TravisCragg-MSFT commented on #33962
@medavamshi you can [find device specific configuration guides Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices). If the configuration for traffic selectors is not in that document, your best bet is to look for Azure instructions from your device manufacturer.

[2019-06-25 22:37] carehart commented on #33873
Looks good now. Thanks.

[2019-06-25 22:51] sasanmcp commented on #33981
Yeah I found this link myself as you can see in the comment. The point is, not all values work all the time. I need to know when I can use attach vs copy vs empty vs import vs … .
In the samples to create VM off of a snapshot, I tried changing the values and it didn’t work.

From: Micah <notifications@github.com>
Sent: Tuesday, June 25, 2019 3:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply

[2019-06-25 22:51] dsk-2015 commented on #33665
@alinamstanciu fyi

[2019-06-25 22:53] kfollis opened #33983 "Typo in TOC entry"
polices should be policies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb4c941-c464-75cb-7a98-39c3a58be1b5
* Version Independent ID: e93b1a8f-3de2-309e-5a0b-923e2fa15e0b
* Content: [Azure Active Directory Domain Services: Password policy](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/passw

[2019-06-25 22:53] v-vasuke commented on #8017
Docker can also cause this behavior; this isn't necessarily an SF specific issue. Still not a bad idea to include it in the documentation for folks who only run Docker for SF.

[2019-06-25 23:00] ColbyTresness commented on #21706
I've updated the language of the doc to reflect what we actually support in 2.x:
"Active LTS and Maintenance LTS versions of Node.js".

[2019-06-25 23:01] MicahMcKittrick-MSFT commented on #33981
Ah sorry about that. I thought that link was different. Too much multitasking apparently :)

I can explain the difference but I also think it would be good to update the doc to include explanations.

**Attach**
Used when attaching a data disk that already exsists in your subscription
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/attach-disk-ps#attach-an-existing-data-disk-to-a-vm

[2019-06-25 23:06] MGoedtel commented on #33563
@fruffin - To correct what @SnehaAgrawal-MSFT responded with, the Container Monitoring Solution does not support monitoring ACI.  Azure Monitor for Containers supports ACI+AKS hosted on Azure Kubernetes.  Today your option to monitor ACI is documented here - https://docs.microsoft.com/en-us/azure/container-instances/container-instances-monitor.

Hope that helps.  #please-close.

[2019-06-25 23:06] #33563 closed

[2019-06-25 23:06] mike-urnun-msft commented on #33975
Hi @IanMercer Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 23:08] jmagosta opened #33984 "Which python API to use with CosmosDB"
It would help if you mentioned that to use the MongoDB connection string you should use (I assume) the open source PyMongo module., since the MS documentation on python only mentions the " cosmos_client" package for use with the SQL API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05af42e7-9d86-b794-e133-efbd46665b9

[2019-06-25 23:12] rameshjanjyam commented on #30815
@MisinformedDNA  yes I am using command line. as mentioned by @arkiaconsulting in my .csproj file I have `UserSecretsId` tag which is a guid
[code]

and using cli commands (my development environment is on mac) like below I add secrets to UserSecrets
`dotnet user-secrets set <key> <value>`

[2019-06-25 23:16] tfitzmac commented on #33948
@sander1095 - the brackets also work for getting a value on an object. The dot notation works for a hard-coded value, such as ".test" but the expression doesn't resolve correctly when you try to use the variable object with the dynamic property name.

[2019-06-25 23:17] chrisbasoglu commented on #33343
Yes.  Unity is supported.

[2019-06-25 23:19] SaurabhSharma-MSFT commented on #33983
@kfollis Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-25 23:21] SaurabhSharma-MSFT commented on #33940
@Oechiih Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-25 23:21] mike-urnun-msft commented on #33965
Hi @brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-06-25 23:22] cynthn commented on #33981
@MicahMcKittrick-MSFT The engineering team would need to update the Swagger spec for the API. @roygara may know the dev to get involved.

[2019-06-25 23:22] mike-urnun-msft commented on #33964
Hi @malhmoud-MSFT Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 23:24] Aurora7Sys opened #33985 "Dynamically Modify the ApiKey Property"
I am posting data to a C# v2 Sendgrid function from SPA’s.
Is there any way to dynamically modify the ApiKey property dynamically? I would like to use different ApiKey’s based on a where the post is coming from using a switch but I don’t see a way to access the ApiKey property. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-06-25 23:27] rezasherafat commented on #28517
@davidahoward, there _is_ a link in the doc to digicert website where you can directly download the root certificates!

[2019-06-25 23:28] dcbrown16 commented on #33915
Thanks @yossi-y, I'll close for now and assume those will be published soon.

[2019-06-25 23:28] #33915 closed

[2019-06-25 23:29] mike-urnun-msft commented on #33945
Hi @infoTrainingym Thank you for reporting this issue! We will review and make any necessary changes.

[2019-06-25 23:30] medavamshi commented on #33962
Yeah I did not find the configuration details for force tunneling  for synology in any docs. I will try to get that info from synology.

[2019-06-25 23:30] mike-urnun-msft commented on #33985
Hi @Aurora7Sys Thank you for your feedback! We will review and update as appropriate.

[2019-06-25 23:39] robinsh commented on #33801
@AshokPeddakotla-MSFT and @lipsius
Give me a few days to take a look at this. The question that needs to be answered here is how is the data being sent to the hub? Is the logic app making the determination of the temperature being okay or not? I'm not familiar enough with the article off the top of my head. I'll have to look at it closer. If you want to open a support case, you can, but I might be

[2019-06-25 23:48] Karishma-Tiwari-MSFT commented on #32709
@mlearned Please let me know if this issue needs further action or needs to be assigned to you. Thanks :)

[2019-06-25 23:49] robinsh commented on #33801
I believe this is the article that @jimacoMS3 rewrote whole chunks of, and he has volunteered to help out the customer here. So I'm reassigning this to him.
#reassign @JimacoMS3

[2019-06-25 23:55] Karishma-Tiwari-MSFT commented on #33115
@TiloGit We discussed about auto-shutdown of agent pool nodes and I shared that there are few exceptions like in case of upgrading the AKS cluster, the shut down settings of agent node pool do not persist.

On your question for enabling auto-shutdown of AKS cluster, this is not supported. For detailed info on this, please refer to [this MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/3

[2019-06-25 23:56] #33115 closed

[2019-06-25 23:57] sasanmcp commented on #33981
On top of that the PowerShell module can be updated to cycle through these possible values while hitting TAB. It is now doing it now.

From: Micah <notifications@github.com>
Sent: Tuesday, June 25, 2019 4:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] possi

[2019-06-25 23:57] Karishma-Tiwari-MSFT commented on #33770
@stgraves Can you please share the details requested in the comment above so that we can assist you better.

[2019-06-25 23:58] AlexanderTodorovic commented on #33925
Thank you!

[2019-06-25 23:58] #33925 closed

[2019-06-26 00:00] Karishma-Tiwari-MSFT commented on #33868
@doug-fish
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-26 00:01] NingKuang commented on #30370
@Shell32-Natsu
Hi, to help us accelerate the resolution, could you share more information on how this issue is impacting your product? Are you blocked?
Thanks.

[2019-06-26 00:04] Shell32-Natsu commented on #30370
@NingKuang
We want to access the custom data after the VM booting. But now the custom data is downloaded by WAagent asynchronously so w have to block and wait for it. We want to use meta data service to make this progress faster which means we don't need to block.

[2019-06-26 00:09] Karishma-Tiwari-MSFT commented on #33941
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-26 00:10] mlearned commented on #32709
@Karishma-Tiwari-MSFT  we have the issue in our backlog, but i don't have ETA yet on when we'll address it.

[2019-06-26 00:13] HeidiSteen commented on #33963
@keithgutfreund  Under investigation....

[2019-06-26 00:36] rhythmnewt opened #33987 "Public IP list for session hosts"
Duplicate

[2019-06-26 00:37] rhythmnewt opened #33988 "Public IPs generated for the Windows Virtual Desktop session hosts"
How are the public IPs generated for the Windows Virtual Desktop session hosts? We have a requirement to lock down some of the access by IP, so would need to have a white-list.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-

[2019-06-26 00:38] #33987 closed

[2019-06-26 00:53] lisah2u opened #33989 "Jupyterhub not SSL"
Following the instructions for an ubuntu Data Science VM and launching the VM, Jupyterhub only comes up on http and not https. Is there something additional that needs to be done to ensure https?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c1a5f0-b0df-88f4-feaf-90bc17eeb69e
* Version Independent ID: 3d5b36f7-e892-

[2019-06-26 01:02] rjosephp opened #33990 "Session RST API support"
Are sessions supported by REST APIs? If I create a Subscription with sessions enabled, can I retrieve messages using REST API? The article @ https://docs.microsoft.com/en-us/rest/api/servicebus/receive-and-delete-message-destructive-read does not apply to sessions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0803fba

[2019-06-26 01:09] jaysterp commented on #33877
@sonpeppers Hi, in Event Grid you subscripe to a topic to tell it what you want to track. In this tutorial you create an event grid subscription that tracks events from your container registry. To see your new event subscription you can look under the `Events` blade from your container registry page in the Azure portal. You can see this subscription from the Event Grid Event Subscriptions page on

[2019-06-26 01:09] roaror commented on #33984
Hey @jmagosta , thanks for reaching out.

For Cosmos DB's API for MongoDB you should not follow the instructions from the SQL API. I am not sure if I understand your concern if you were trying to highlight something else? Please feel free to elaborate if I haven't addressed your concern.

Best,
Rohan

[2019-06-26 01:17] HeidiSteen commented on #33963
@keithgutfreund  Azure Search gets Lucene via ElasticSearch. Currently, it's Lucene 6.6.1 (https://lucene.apache.org/core/6_6_1/analyzers-common/org/apache/lucene/analysis/cjk/CJKWidthFilter.html ) so I can update links to that version, but not to 8.  I'm tracking this through a work item: https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1562090
No precise ETA on the fix, unfortunately

[2019-06-26 01:20] igorvt77 opened #33993 "Azure AD Module requirement under Libraries section"
Under the "Libraries" section above, you mention that the Azure AD Module will be installed by the configuration script.  However, this script assumes the user is on a Windows 2016 (or higher) server that has PowerShell v5 or higher.  If you are using a Windows 2012 R2 (or older) server then the command that the configuration script runs (Install-Module) will not work as that is not support in Pow

[2019-06-26 01:40] Karishma-Tiwari-MSFT commented on #27152
@jpconnock @cynthn Can either of you please help confirm on this one and update the docs as needed. I could not find any other doc with cloud services available VM sizes.

[2019-06-26 01:47] yunjchoi commented on #33161
This issue is resolved.
Close: #33161

[2019-06-26 01:50] CloudwizSolutions commented on #22223
Working with a client on this, and following the additional suggestions by @Archehandoro, we got the SF profiles to sync to Azure Roles - great!

A totally unexpected behavior is that Azure AD also created 1181 +NEW+ Chatter Free users in the SF Org - one for every account in AD. 😵 I deactivated all of the new users, with XL Connector, but this was a bit of a hairball in a production Org. Any thou

[2019-06-26 01:58] KeiroKamioka0000 opened #33995 "What are the default container name for diagnostic log when diagnostic log are enabled by Portal"
Hello, what will be the name of the container, when diagnostic logging are enable from Portal?

Is it " insights-logs-data-plane-requests" ???

Thanks,

-Keiro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196c9642-a016-e182-1435-51550b1cdee9
* Version Independent ID: fd354372-db8e-1eb8-dfc2-83e1c6c3954c
* Content: [D

[2019-06-26 02:07] CastleArg commented on #33084
Yes this confused me!
I thought I would put a json object for mssql nodejs sql client config which would be nicer than a connection string.
It failed with a totally wrong error 'Missing value for AzureWebJobsStorage in local.settings.json.' the storage setting is absolutely there and it does not complain if i use a string value.

[2019-06-26 02:23] Pauline-Kowa opened #33996 ""An error occured while sending the request""
Hello,

I tried running the sample codes from this link : https://github.com/microsoft/Cognitive-Samples-VideoFrameAnalysis, but I have the following error while running the LiveCameraSample with the Emotion mode : "API call failed on frame 0. Exception : An error occured while sending the request".

I can't achieve to find where it comes from. This is not an error of key or region because it is w

[2019-06-26 02:27] hrasheed-msft commented on #33512
@holgerjay Thanks for your question. The three bullet points are meant to make a distinction between 1) Azure management IPs that affect all regions 2) region-specific IPs and 3) The IP needed for using the Azure-provided DNS service. I will update the document to make this more explicity. Also, I will try to get clarity on the correct port needed for using the Azure DNS service.  Thank you.

[2019-06-26 02:34] smj07 opened #33997 "Tenant Restrictions when Client moves off network ?"
How will Tenant Restrictions work when a Contoso user takes their client off network (Home) and tries to access Fabrikarn O365 SaaS?  There is no proxy in the way now to block the access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd

[2019-06-26 02:45] MohitVerma-MSFT commented on #33950
@sethderrick Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:47] MohitVerma-MSFT commented on #33955
@shabirjan Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:48] MohitVerma-MSFT commented on #33968
@HarrisburgUSysAdmin Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:49] MohitVerma-MSFT commented on #33970
@glloyd2010f Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:50] MohitVerma-MSFT commented on #33973
@cocowalla Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:52] MohitVerma-MSFT commented on #33977
@anlucen Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:53] MohitVerma-MSFT commented on #33984
@jmagosta Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:55] MohitVerma-MSFT commented on #33988
@rhythmnewt Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:56] MohitVerma-MSFT commented on #33989
@lisah2u Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:58] MohitVerma-MSFT commented on #33990
@rjosephp Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:59] stevestein commented on #31279
#please-close

[2019-06-26 02:59] MohitVerma-MSFT commented on #33993
@igorvt77 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 02:59] #31279 closed

[2019-06-26 02:59] MohitVerma-MSFT commented on #33995
@KeiroKamioka0000 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 03:02] MohitVerma-MSFT commented on #33996
@Pauline-Kowa Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-26 03:03] MohitVerma-MSFT commented on #33997
@smj07 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 03:05] Pauline-Kowa commented on #33996
Here is the link of th Microsoft documentation : https://docs.microsoft.com/fr-fr/azure/cognitive-services/face/face-api-how-to-topics/howtoanalyzevideo_face

And the link of the github repository : https://github.com/microsoft/Cognitive-Samples-VideoFrameAnalysis/tree/master/Windows/LiveCameraSample

[2019-06-26 03:08] dcbrown16 commented on #17895
@femsulu can you check on the status of this request again? Will this whole capability (saving metrics to storage accounts for VMs) stay the same through the classic metric retirement?

[2019-06-26 03:22] msrini-MSFT commented on #33828
@dacarubio , I am working internally to get you an update. Will get back to you once I get an update.

[2019-06-26 03:34] stevestein commented on #31189
@Ayanmullick - Thanks for raising this issue.

You don't specify the virtual cluster name, it's assigned automatically.

[2019-06-26 03:37] stevestein commented on #31866
@ackava - Thanks for raising this issue. I'm investigating this issue and will reply again when we have a definitive answer.

Thanks!

[2019-06-26 03:49] SumanthMarigowda-MSFT commented on #33840
@konrad79 Can you provide more information, what exactly are you trying to perform?

[2019-06-26 03:53] KeiroKamioka0000 commented on #26191
I also would like to know about this

[2019-06-26 03:56] KeiroKamioka0000 opened #33998 "network bandwidth is missing"
Hello, I believe the network bandwidth information is missing for this size.

As like B series, is there are reason that network bandwidth cannot be written? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1ce-8161-0d6c-b0c62f82b22d
* Conte

[2019-06-26 03:59] SnehaAgrawal-MSFT commented on #33927
@danijam Thanks again for question! ServicePrincipalName parameter represents Microsoft.Azure.WebSites RP in user tenant and it will remain same for all Azure subscriptions. Also note that this is a onetime operation and once you have a configured a Key Vault properly, you can use it for deploying as many certificates as you want without executing these PowerShell commands again. For more informat

[2019-06-26 04:01] Ayanmullick commented on #31189
Thanks for confirming.

[2019-06-26 04:01] #31189 closed

[2019-06-26 04:03] Ayanmullick commented on #32441
@Mike-Ubezzi-MSFT ,  shouldn't there be parity in the cmdlets' lists on both modules by default?

[2019-06-26 04:18] jakaruna-MSFT commented on #33430
@cuongdnv Please paste the events.
Kubectl get events -w -n <namespace>
We can identify the issues with events only

[2019-06-26 04:20] jakaruna-MSFT commented on #33430
If your question is not specific to the DOC, Then you can post your question in [this ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices) MSDN forum.
Community is active over there as well.

[2019-06-26 04:37] wernermp opened #33999 "Delete empty virtual cluster manually process does not work."
This process does not work. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-delete-virtual-cluster
Delete the empty virtual cluster. It goes away. Refresh the portal. It comes right back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03565fc1-e5f0-bc8d-602e-f7a02fec6224
* Version Inde

[2019-06-26 05:00] AjayKumar-MSFT commented on #25991
@ccompy, Requesting your comments on this topic.

[2019-06-26 05:12] RohitMungi-MSFT commented on #33789
@kenakamu we will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-26 05:13] #33789 closed

[2019-06-26 05:30] #21706 closed

[2019-06-26 05:40] MohitVerma-MSFT commented on #33996
@Pauline-Kowa Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-26 05:42] ggailey777 commented on #33084
@CastleArg sorry for the delay. Our update to clarify this issue hopefully gets published tomorrow. 🤞

[2019-06-26 06:01] KetanChawda-MSFT commented on #33975
@mathewc / @fabiocav can you please confirm on this.

[2019-06-26 06:09] AjayKumar-MSFT commented on #33842
@aasis21, Currently, we do not do much with CTR since we do not track what a user does after we return the search results.  Generally, this needs to be done on the client side and then leverage something like App Insights to store this data.

[2019-06-26 06:16] manishjoisar commented on #33585
Perfect, Thanks ecfan

[2019-06-26 06:25] nnamedieh opened #34004 "Question about "Resolution of on-premises computer and service names from VMs or role instances in Azure.""
Hi everybody,
I would like to ask if you can specify when it is possible for an on-prem computer to resolve Azure computer names and vice versa? Probably using Azure Private DNS Zones with Auto Update entries?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d766d17-0650-407e-1aed-d94966ea4932
* Version Indep

[2019-06-26 06:27] ram-msft commented on #33805
@xtianus79 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-26 06:27] #33805 closed

[2019-06-26 06:28] chiners68 commented on #33865
What are you closing this for?

Devices are co-managed so on premise AD joined and azure AD joined.

Intune is the authorities management authority for these devices. Would be nice if you gave an example of configuring this setting via intune, rather than GPO. Intune can then deliver this setting to devices before they are on the internal network where GPO would apply. This means SSO settings can

[2019-06-26 06:30] RohitMungi-MSFT commented on #33989
@lisah2u Could you please let us know if you have added an inbound port rule for port 443 in your security group when the DSVM was launched? By default when you launch the DSVM I have observed that this port is not open so that could be the reason you are unable to access JupyterHub on HTTPS. If a rule is added it should be shown in the Networking blade of your resource for inbound port rules.

![

[2019-06-26 06:32] guptamayank0912 opened #34005 ""Resource not found with cognitive services provided by Microsoft(Custom Image recognition API)""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-26 06:32] guptamayank0912 commented on #34005
predictor = CustomVisionPredictionClient(prediction_key, endpoint=ENDPOINT)
IMAGES_FOLDER=os.path.join(os.path.dirname(os.path.realpath(__file__)))

with open(os.path.join(IMAGES_FOLDER, "Mayank.jpg"), mode="rb") as image_contents:
   results = predictor.detect_image(projectid, publish_iteration_name, image_contents)

[2019-06-26 07:08] angoyal-msft commented on #33942
@CeciAc Could you please check the connection string you are using. Seems like there is some issue with the connection string. Could you please share the connection string.

[2019-06-26 07:11] Kazzan commented on #30968
Hi, and what is the right link? We have now two company profiles, one for Dev Center, second for Commercial Marketplace, even more when transitioned from other countries. Is possible to merge them?

[2019-06-26 07:13] angoyal-msft commented on #33930
@siwlv Could you please share the exception you are facing.

[2019-06-26 07:18] konrad79 commented on #33840
@SumanthMarigowda-MSFT Thanks for reply.
- I've an index.html located in "subfolder1"
- I can access this file via https://blablabla.web.core.windows.net/subfolder1/index.html
- In the html file I use relative hrefs to include images and css like: <link href="css/bootstrap.css" rel="stylesheet">
- The css is located in the subfolder: https://blablabla.web.core.windows.net/subfolder1/css
- But the

[2019-06-26 07:24] eximo84 opened #34006 "Missing Requirements"
So i have recently enabled this on our AD Connect instance and found i had to also do the following steps to get my devices to register as Azure AD Hybrid Joined.

1. Ensure the AD containers that have contain my computer objects are synced via AD Connect.  Previously we only synced Users and Groups.
2. Enable GPO "Register domain joined computers as devices" under "Computer Configuration\Policies

[2019-06-26 07:25] eximo84 commented on #34006
Actually ignore 1 - i can see that is included in the text.  I missed that on my first pass through.

[2019-06-26 07:41] Coremination opened #34007 "Functionality in AMSE (5.0.4.1) doesn't match this guide and can't work out how to use this?"
I am trying to test the facial redaction tool outlined here

In this document it says the easiest way is to use the ASME (Latest version I can get - 5.0.4.1 using the v3 of the API), I have installed this, connected everything, can see my assets (and I even moved my information to an EU West location as I previously had it in France which I noticed didn't have a pricing plan for Media Services - a

[2019-06-26 08:03] ManojReddy-MSFT commented on #34006
@eximo84 Thanks for reporting this to us. The GPO "Register domain-joined computers as devices" is ideally not required, as the device registration task runs automatically when it is not configured.

In some scenarios, this GPO is used to do a controlled rollout (stop the devices from registering). Did you get any error in the logs about the GPO?

[2019-06-26 08:11] CHEEKATLAPRADEEP-MSFT commented on #33785
@joshzngf We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-26 08:11] #33785 closed

[2019-06-26 08:13] msrini-MSFT commented on #34004
@nnamedieh , Azure Private DNS Zones will not Auto Update entries of On-Premises

For your first question, Resolution of Azure hostnames from on-premises computers : Forward queries to a customer-managed DNS proxy server in the corresponding virtual network, the proxy server forwards queries to Azure for resolution. See Name resolution using your own DNS server.

Reference: https://docs.microsoft.

[2019-06-26 08:27] jsacapdev commented on #33738
@TravisCragg-MSFT http://aka.ms/BastionHost works for me

[2019-06-26 08:30] patriziobruno commented on #29197
@YASWANTHM-MSFT I sorted this out with my org's admin, thanks!

[2019-06-26 08:31] YASWANTHM-MSFT commented on #29197
Glad to know that your issue is resolved.

[2019-06-26 08:31] #29197 closed

[2019-06-26 08:33] angoyal-msft commented on #33999
@wernermp Thanks for your feedback. But I have tried deleting the virtual cluster. It worked fine for me. Could you please confirm that there is no managed instances in the virtual cluster you are trying to delete. As mentioned in the Note in the document.

 Note :
The virtual cluster should contain no managed instances for the deletion to be successful.

[2019-06-26 08:39] nnamedieh commented on #34004
HI @msrini-MSFT ,

Thank you very much for the quick answer. I am sorry, I should have made my question clearer. We don't want to use our own DNS servers, so Azure DNS Private Zones is very interesting for us. Do you know if it is possible to use Azure DNS Private Zones connected to onprem DNS? So that Azure DNS Private Zones have a zone copy as secondary zone?

Thank you!

[2019-06-26 08:43] TessFerrandez commented on #15999
builder = dflow.builders.derive_column_by_example(source_columns=['DATE'], new_column_name='date_timerange')
builder.add_example(source_data=dflow.iloc[1], example_value='Jan 1, 2015 12AM-2AM')
builder.preview(count=5)

Should be

df = dflow.head(5)
builder = dflow.builders.derive_column_by_example(source_columns=['DATE'], new_column_name='date_timerange')
builder.add_example(source_data=df.iloc[1

[2019-06-26 08:49] TechWatching commented on #30352
Yes sorry you can. Documentation has been updated so it's fine for me.

[2019-06-26 08:49] #30352 closed

[2019-06-26 08:50] mhabibal13 commented on #33920
Great! Thanks.

[2019-06-26 08:51] Grace-MacJones-MSFT commented on #34007
Hi @Coremination, thanks for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-06-26 08:51] TessFerrandez commented on #15999
or rather

df = dflow.to_pandas_dataframe()

[2019-06-26 08:51] kgopi05 commented on #33847
No , i'm not getting any option to edit the variables.

[2019-06-26 08:54] angoyal-msft commented on #33920
@mhabibal13 You can refer [this](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput) doc for more details on throughput provision at container level and databases level.

Hope this helps. Please let us know if you need more information.

[2019-06-26 09:13] mukteswarp opened #34009 "Linux VM on AWS"
what if the Linux VM running in AWS? Can the same be integrated with Azure AD? Is there any simplified standard solution yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Act

[2019-06-26 09:18] pierslawson commented on #19424
Also, the bugs within WAF persist around matching. There is nowhere to report them other than UserVoice which appears more about feature requests than bugs. Another added regarding Exact match bug:

https://feedback.azure.com/forums/217313-networking/suggestions/38013085-web-application-firewall-exact-exculsion-does-not

[2019-06-26 09:19] igomat opened #34010 "Flighting status"
What does exactly mean the "Flighting" status? Can be expected with some bugs or that is not fully tested?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42797ef6-81d4-d8d6-a771-ef427f11698d
* Version Independent ID: c56473d5-ebfe-96f9-57fe-96446ada56f8
* Content: [Release notes for the Azure File Sync agent](https://d

[2019-06-26 09:22] Oechiih opened #34011 "Additional step in deletion"
If "LinkedIn account connections" are allowed in the Azure AD configuration of the B2C tenant, the deletion validation fails with a message to 'Remove all enterprise applications'. Removing them using PowerShell fails on several objects as is to be expected on Microsoft internal ones. The "O365 LinkedIn Connector" can neither be removed by the enterprise applications blade in the portal nor by usi

[2019-06-26 09:25] freedev opened #34012 "The Event Grid json format in the example is wrong"
It is not clear that when a blob is created Event Grid sends a json with an *array* of events, instead of a single event. This should be clearly specified, because it is misleading. To be clear, an app expects to receive from Event Grid an http request for each event, instead of an array with one or more events.
A different json format ( [{ ... }] != { ... } ) that does not match with the expected

[2019-06-26 09:33] AndyHerb commented on #33756
Hi @Mike-Ubezzi-MSFT - the link you supplied was the original document we were working from, I simply linked directly to the source PS1 file that document references.  That's the one we ran as-per the doc you linked to, which gave us a false-positive outcome on the Route Table.  The SQL MI creation failed with the supplied error message (which wasn't as helpful as it could be because it doesn't po

[2019-06-26 09:40] lipsius commented on #33801
In followed this guide:  https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-monitoring-notifications-with-azure-logic-apps

[2019-06-26 09:47] fume opened #34013 "AutoComplete description is misleading"
As per my comment here: https://github.com/MicrosoftDocs/azure-docs/issues/31958#issuecomment-500110641 IMO, the the actual description is misleading (if not completely wrong).
From https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#hostjson-settings :

The message won't be never ever be completed **IMMEDIATELY**, but it **_could_** be marked as completed **_if t

[2019-06-26 09:51] lisah2u commented on #33989
@RohitMungi-MSFT Thank-you. This was indeed the issue.

On June 26, 2019 at 2:31:17 AM, RohitMungi-MSFT (notifications@github.com)
wrote:

[2019-06-26 10:08] BartMichel commented on #18071
@priyamohanram is there already some news regarding enabling this by code?

[2019-06-26 10:09] msrini-MSFT commented on #34004
@nnamedieh , The link which I sent you have scenarios and what is the solution for the scenario.

Azure Private Zones are only used for First 2 scenarios. If you want to connect from On-Premises you need to use DNS proxies as mentioned in the scenario list.

[2019-06-26 10:14] nnamedieh commented on #34004
Ok, got it, thank you! :)

[2019-06-26 10:14] #34004 closed

[2019-06-26 10:15] PramodValavala-MSFT commented on #34013
@fume Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-06-26 10:16] angoyal-msft commented on #33970
@glloyd2010f could you please refer the Note on this page. I believe this is what you are referring too.
It is mentioned in the Note.

![Capture](https://user-images.githubusercontent.com/43370663/60171979-5ba2fc80-9829-11e9-9f42-88e99f4c0b0f.PNG)

Please let me know if my understanding is not correct.
Hope this helps. Please let us know if you need more information.

[2019-06-26 10:17] MohitVerma-MSFT commented on #34005
@guptamayank0912 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-26 10:23] angoyal-msft commented on #33786
@MNF You can now create a failover group and set up auto-failover and then you will have a read/write listener connection string
Go to the Azure SQL Server (not a specific database) -> Failover Groups -> Create and fill in the required info - servers, DBs and policy

![image](https://user-images.githubusercontent.com/43370663/60172456-52fef600-982a-11e9-9b55-bfca663cff6b.png)

After the group is c

[2019-06-26 10:26] femsulu commented on #33510
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-26 10:26] #33510 closed

[2019-06-26 10:29] femsulu commented on #30841
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-26 10:29] #30841 closed

[2019-06-26 10:39] KalyanChanumolu-MSFT commented on #33995
@KeiroKamioka0000
As mentioned in the article, when you enable Diagnostics from the portal, you have the option of sending the logs to Storage Account, Event Hub or Log Analytics.

For a Storage Account, the logs are stored in a container named "**insights-logs-dataplanerequests**"
It is incorrectly mentioned "insights-logs-data-plane-requests" on the documentation page.
I will submit a PR to fix

[2019-06-26 10:39] linruhui commented on #31879
hello guys, any update on this thread?

[2019-06-26 10:44] tkumark opened #34015 "Support for Service fabric"
Does the profile support for Azure Service Fabric. I have multiple micro services build on ASP.Net Core 2.1. Is it possible profile them? Do I need to do any setting for enabling profiling in Azure Service Fabric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a215e84d-f19f-11ea-c821-dbb078465380
* Version Independent

[2019-06-26 10:48] rafalfitt opened #34016 ""(with strong cryptography disabled)""
or strong cryptography should be enabled as https://support.microsoft.com/en-us/help/4033999/how-to-resolve-azure-site-recovery-agent-issues-after-disabling-tls-1 suggests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b01faa1-267e-cefc-22e4-fbd65361ba5f
* Version Independent ID: 6cb817e7-c473-e877-7557-87eecf064ddb

[2019-06-26 10:56] AshokPeddakotla-MSFT commented on #33835
@LeeHyeongWon Lee Please help with the link of document on which above document feedback request is created.

[2019-06-26 10:57] KalyanChanumolu-MSFT commented on #33995
@KeiroKamioka0000 I have made updates to the document.
The changes should be live EOD or tomorrow. We will close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-26 10:57] #33995 closed

[2019-06-26 11:02] KalyanChanumolu-MSFT commented on #33984
@jmagosta Yes, the PyMongo & Flask modules are required.
The [Quickstart article](https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-flask) for Python references the required modules and steps to install them.

Do let us know if you have further questions.

[2019-06-26 11:15] msrini-MSFT commented on #33836
@kikawash , Do you have any further questions?

[2019-06-26 11:18] msrini-MSFT commented on #33822
@jmoralesv , can you check with different browser and check if you are able to get better resolution ?

[2019-06-26 11:19] jakaruna-MSFT commented on #33998
@KeiroKamioka0000 Thanks for the question.
I think we can add Bandwidth usage to GPU VM's.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jonbeck7 Please check up update the network usage if needed.

[2019-06-26 11:21] VikasPullagura-MSFT commented on #34009
@mukteswarp Internally the Azure AD login VM extension uses metadata service which is available only in Azure. So this might not work for Linux VM running in AWS.

I will have the author add comments if there are any possibilities.

[2019-06-26 11:21] VikasPullagura-MSFT commented on #34009
@cynthn Can you please add your comments.

[2019-06-26 11:22] kikawash commented on #33836
Yes. I understood we can see routes with powershell.
I often receives questions that what service routes are included in this community.
Could you please list service names included in community(12076:5100) in the public document?

[2019-06-26 11:25] msrini-MSFT commented on #33836
@cherylmc , Can you take a look at this and update the documentation ?

[2019-06-26 11:31] YASWANTHM-MSFT commented on #34010
@igomat , Thanks for the comment! We are currently investigating and will get back to you soon.

[2019-06-26 11:33] miicahjardine commented on #32031
To see a full list of all parameters, see New-AzSubscription.  link returns a 404.

[2019-06-26 11:46] mnbuch opened #34018 "Please add guidance for unit testing"
How can I inject my mocks?

[2019-06-26 12:01] tsrob50 opened #34020 "Register AllowBastionHost"
Hello,
Early versions of this document referenced steps such as register-AzureRmProviderFeature to register AllowBastionHost.  I don't see any reference to that step in the documentation anymore.  Is that step still needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196cd28d-c7b6-9e3f-ef55-1c85d6c9be5f
* Version In

[2019-06-26 12:01] AjayKumar-MSFT commented on #26397
bradhowe, Apologies for the delay, if you're still experiencing this issue, could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue we would like to work closer with you on this matter.

[2019-06-26 12:03] pavelrozenberg opened #34021 "Service plan names missing"
Recently Microsoft had added the following plans:
Kaizala
Whiteboard
Information Protection for Office 365 - Standard
Insights for MyAnalytics

Please add this information to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-

[2019-06-26 12:06] yuriy-belelya-akqa commented on #33960
After some investigation, I found the solution.
Application need to have "openid", "offline_acces", "profile" permissions from Microsoft Graph.
Please add this information to https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc and close the issue. This may save a lot of time for someone.

[2019-06-26 12:19] KalyanChanumolu-MSFT commented on #33955
@shabirjan What is the error/exception message that you get?
When you mention console application, is this from your local machine?
Is your .Net Core Web API running from local machine or deployed to Azure?

[2019-06-26 12:26] shabirjan commented on #33955
@KalyanChanumolu-MSFT  Yes Console Application on local machine as well as .Net Core web Api running on local machine. And this is the error i am receiving .

```No connection is available to service this operation: MGET; UnableToConnect on mediatorcache.redis.cache.windows.net:6380/Interactive, Initializing/NotStarted```

This is the error I get when I try to get cache items from my cache

[2019-06-26 12:27] Plasma commented on #20545
@imeya I think there is actually, on the Storage account Properties tab, there is a property something like "Last replication time" that seems to indicate the most recent change timestamp that was synced. Its only visible when GRS/RA-GRS is enabled.

[2019-06-26 12:32] KalyanChanumolu-MSFT commented on #33955
Did you add your Local IP address to the firewall ?

[2019-06-26 12:36] shabirjan commented on #33955
which firewall? In Azure Redis Cache Firewall settings?

[2019-06-26 12:37] shabirjan commented on #33955
But what's the need of this, as my Console application connects without any issue.

[2019-06-26 12:45] shabirjan commented on #33955
@KalyanChanumolu-MSFT  These are settings of my Azure Redis cache
![Screen Shot 2019-06-26 at 5 43 27 PM](https://user-images.githubusercontent.com/3787052/60180728-1a671880-983a-11e9-937f-867d2e0b23d4.png)
![Screen Shot 2019-06-26 at 5 45 25 PM](https://user-images.githubusercontent.com/3787052/60180772-32d73300-983a-11e9-8fab-8ab55e76b01b.png)

[2019-06-26 13:07] femsulu commented on #33701
@pgbconfirmit - can you clarify the above comment "_switch encryption from ADE to ADE w/ AAD_"? i assume this is a typo - kindly confirm.
If you would like to see additional features supported please share your [feedback directly](https://feedback.azure.com/forums/256299-site-recovery) with the site recovery team for further review.
@sujayt - fyi

[2019-06-26 13:08] WillParry commented on #25171
I've seen this template, but it doesn't validate and doesn't seem to be documented for the latest API version.
https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-04-01/storageaccounts

[2019-06-26 13:13] KalyanChanumolu-MSFT commented on #33955
That is strange indeed.
Both Console and Web API apps are .Net core and using the same version of Stack Exchange?

SInce you have Non SSL port open could you please try with connection string
xxxxx.redis.cache.windows.net:6379,password=xxxxx,ssl=False,abortConnect=False

[2019-06-26 13:13] femsulu commented on #33724
adding @qianw211 to review the request

[2019-06-26 13:14] KalyanChanumolu-MSFT commented on #33048
@tristanbarcelon Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-26 13:14] #33048 closed

[2019-06-26 13:16] KalyanChanumolu-MSFT commented on #33937
@sarah026 This is being assigned to the content author to evaluate and update as appropriate. 

[2019-06-26 13:17] femsulu commented on #33731
adding @erikre

[2019-06-26 13:18] ndcharadva commented on #9843
Hi Team,
I am trying to create HIVE link service in Azure data factory. I am not able to create it even though providing all the parameters. Can you please help?

[2019-06-26 13:27] PramodValavala-MSFT commented on #33741
@renebik Just following up here... Could you confirm if you see the same problem with the latest CLI?

[2019-06-26 13:30] prabhakarreddy1234 opened #34023 "Azure Budget ARM Template doesn't work 2nd time"
Issue is posted in stackoverflow. https://stackoverflow.com/questions/56774004/azure-budget-arm-template-doesnt-work-2nd-time

Same Azure ARM template doesn't work 2nd time. It's giving HTTP 400 bad request error with the error message as

[code]

[2019-06-26 13:35] femsulu commented on #33747
@MrCNeale what type of subscirption are you referencing e.g. Free trial, Pay2Go?  please note default limits could vary depending on the offertype. Adding @rothja to help confirm or assist with finding a contact that can confirm if there's been any official change to the tag resource limit.

[2019-06-26 13:37] renebik commented on #33741
I use the CLI from the Azure portal, which is version 2.0.67 and still receive the same error

[2019-06-26 13:38] kanshiG commented on #33937
Cosmos DB uses ACL list , for whitelisting the traffic. This is not full fledged Firewall in traditional sense. If you need more clarifications where we can discuss and understand - please reach out on govindk@microsoft.com

[2019-06-26 13:39] Gnamra commented on #16134
Where is the .NET Core example?

[2019-06-26 13:44] PramodValavala-MSFT commented on #33775
@rjosephp I believe you are likely seeing transient errors probably due to a bad network

1. Looks like its taking too long to get those 20 messages. Even assuming max size of 256KB (standard tier), its just ~5MB of data.

2. **a.** This is because you have an active listener on sub1. The Event Grid event is sent only for subscriptions/queues with **no** active listeners.
  **b.** If there is a ne

[2019-06-26 13:48] gregory-fonkatz commented on #33971
@MicahMcKittrick-MSFT In my case HTTPS is not available.
I'm attaching an output of `kubectl describe clusterissuer,certificate,order,challenge`
[cert-manager-output.txt](https://github.com/MicrosoftDocs/azure-docs/files/3330301/cert-manager-output.txt)

[2019-06-26 13:49] shabirjan commented on #33955
Yes both Console and Web Api are .Net Core 2.2 and using the same version of StackExchange.Redis (2.0.601)
Same error. `No connection is available to service this operation: MGET 100014; UnableToConnect on mediatorcache.redis.cache.windows.net:6379`

[2019-06-26 13:51] PramodValavala-MSFT commented on #33780
@ggirard07 We are assigning this issue to the content author for further review.

[2019-06-26 13:53] prabhakarreddy1234 opened #34024 "Budget threshold of more than 100 is not accepting in Azure portal but accepts in ARM template"
From the azure documentation it looks like budget threshold accepted between 0 and 1000. But when i try to add 150% then it's giving below error.

![image](https://user-images.githubusercontent.com/1984707/60185599-1d560f00-9822-11e9-8ec6-30dd13165eff.png)

[2019-06-26 13:55] prabhakarreddy1234 opened #34025 "Azure budget is not saving after edit in Azure portal"
I created a budget using ARM Template. It's fine. But when i click "Edit Budget" and click "Save" without making any changes. I am getting below error:

In short, Budget is not editable through Azure Portal or Azure ARM. I have to delete the budget and create new budget everytime.

![image](https://user-images.githubusercontent.com/1984707/60185758-61e1aa80-9822-11e9-864d-ec626a1d2e3e.png)

[2019-06-26 13:57] rjosephp commented on #33775
The sender and received were both console applications running on a Windows Server 2016 VM running in Azure East US. The premium service bus was also in the same region, so I cannot find out a good reason as to what caused this issue. Maybe a network issue within Azure?

Thank you for providing the answers for all my questions. Appreciate all your help.

[2019-06-26 13:57] aydeisen opened #34026 "Best Practice for number of volumes in Dev/Test Scenarios"
Storage Guidance contains the following bullet for using non-premium disks in Dev/Test Scenarios:
&gt; If you are not using premium SSDs (dev/test scenarios), the recommendation is to add the maximum number of data disks supported by your VM size and use Disk Striping.

Is the best practice for this storage pool only be one volume, or can it be carved up into multiple volumes?

---
#### Document D