[2022-11-29 15:13] Naveenommi-MSFT commented on #102047
@jikuja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 15:14] #99281 closed

[2022-11-29 15:23] Naveenommi-MSFT commented on #102048
@Waiver-Wire-Addict
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 15:25] Duffney commented on #101796
Ah, they changed the function to return an error as well as the client. Thanks for the additional detail @Wizzzzzzard. :) I'll get that change made shortly.

[2022-11-29 15:25] Naveenommi-MSFT commented on #102049
@ramski85
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-29 15:40] dbradley-expo commented on #102002
I have tested and it seems I can change the information in the `<name> Info to change </name>` fields and also on the URI path without any impact to the functionality, so the user sees a more meaningful connection name.

[2022-11-29 15:41] VikasPullagura-MSFT commented on #101211
@jjaygbay1 Can you please help with correct GitHub alias to whom this issue can be assigned?

[2022-11-29 15:49] MGoedtel commented on #101887
@inknochen - I've reviewed the initial feedback you shared and agree after evaluating this, that the fundamental Kubernetes networking concept that is being described here should link back to this Kubernetes article (https://kubernetes.io/docs/concepts/services-networking/service/). I also think we could tweak the wording in that section also to help make it clearer. I'm going to bug this article

[2022-11-29 15:49] #101887 closed

[2022-11-29 15:52] gunnim commented on #94968
Having the same issue, already tried a lot of the options here. Interestingly *.tld is accepted but adding a known subdomain with wildcard apex domain seems not to be

[2022-11-29 15:53] mumian commented on #101890
@myob-hankun - what is the error that you are getting? Is it a schema validation error or a runtime error?  When you say the condition is false, do you mean appEnvironment is not equal to 'PROD'?  It doesn't quite make sense to me why the trigger is created when the condition is false.

[2022-11-29 15:55] HoboMechanistic opened #102050 "Standard_B1ls not supported with Flexible orchestration"
The documentation states:

However, in the Azure console when running some tests the console output states that:

I am assuming this is because the Standard_B1ls is a small VM type with 0.5 GBs and as such can't make use of memory preserving updates? But it would be good to have a little more detail (as a note maybe) on this page about unsupported VMs in the supported series.

---
#### Document De

[2022-11-29 16:02] vhorne commented on #101770
OK, these additions have been merged.
#please-close

[2022-11-29 16:02] #101770 closed

[2022-11-29 16:07] tamram commented on #102039
#reassign: @tamram

[2022-11-29 16:10] seesharprun commented on #102024
@pdhimate, you must use the latest version of the SDK with a **preview** flag. I realize this may be different than the way other .NET packages are managed.

As of today, that version is [3.31.1-preview](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.31.1-preview).

Each version of the SDK has a **stable** and **preview** variant. The **preview** variant has preview features enabled. The

[2022-11-29 16:10] #102024 closed

[2022-11-29 16:10] seesharprun commented on #102024
#assign:seesharprun

[2022-11-29 16:12] tamram commented on #102039
@rndthoughts - The examples on this page are written for the latest version of the Blob Storage client library, available [here](https://www.nuget.org/packages/Azure.Storage.Blobs). That package is Azure.Storage.Blobs.

I'm not sure why you would think that this page refers to the deprecated package. This article does not reference that package anywhere.

Regarding your comment "I cannot find any

[2022-11-29 16:13] #102039 closed

[2022-11-29 16:21] sharmadhiraj86 commented on #100923
@het-msft @shaktisingh-msft @GithubMirek Can you please assign this issue to me ? I will raise PR today itself as I need to get an issue solved by getting my PR merged as soon as possible as it is part of my academic curriculum.

[2022-11-29 16:24] VikasPullagura-MSFT commented on #102050
@HoboMechanistic
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-29 16:28] AnuragSingh-MSFT commented on #101943
@sergiosolorzano, apologies for the delayed response.
yes, the timegenerated field is populated by the DataSource when sending it to Log Analytics workspace. In your case, it should be identical to the timestamp as mentioned in information recorded by `Ilogger.logInformation`. The **[link here](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/data-ingestion-time#checking-ingestion-time)*

[2022-11-29 16:31] fitzgeraldsteele commented on #102050
Standard_B1ls is supported on VMSS Flex.
[cid:c043d382-ba2b-4805-8577-eb52e4bac185]

Jerry
Steele
Microsoft
senior program manager
425.421.2566

________________________________
From: VikasPullagura-MSFT ***@***.***>
Sent: Tuesday, November 29, 2022 8:24 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jerry Steele ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Standard

[2022-11-29 16:39] suzizuber commented on #101211
@VikasPullagura-MSFT Yes, I can take a look. Note that Ajayan1008 no longer contracts with MS.

[2022-11-29 16:43] seesharprun commented on #102024
Here's another example to help you get started @phimate,

I tested with a free NoSQL account created using: <https://cosmos.azure.com/try/>.

[code]

[code]

You can see the partition keys in the Data Explorer:

![image](https://user-images.githubusercontent.com/5067401/204589523-f36a4e8f-04d7-4abc-9475-86b6d818669f.png)

[2022-11-29 16:52] shlipsey3 commented on #100526
#please-close

[2022-11-29 16:52] #100526 closed

[2022-11-29 16:54] JananiRamesh-MSFT commented on #101921
@danialtham Did you get a chance to look at my previous comment? please let me know incase of further queries.

[2022-11-29 16:56] KapilAnanth-MSFT commented on #102035
@bertrandpons, Azure AFD has more functionalities and features as compared to Azure CDN, one such example being the availability of WAF for AFD while CDN does not.

I believe this thread is no longer referring to a document bug/feedback, rather to a specific scenario. In this case, we request you to please post your question on Microsoft Q&A and other forums ,we have our engineers and others who a

[2022-11-29 16:59] HoboMechanistic commented on #102050
Sure! I created a very basic new scale set as I'm learning how these work. Using the following settings via the Azure console:
[code]

The deployment fails with Conflict on the linux-ha-test scaleset with raw error:

`{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperat

[2022-11-29 17:02] mumian commented on #102031
@o-l-a-v - The location parameter for New-AzDeployment is required.  This location is where the deployment information is stored.  It is different from the location parameter defined in the template. Extracted from https://learn.microsoft.com/en-us/powershell/module/az.resources/new-azdeployment?view=azps-9.1.0&viewFallbackFrom=azps-6.0.0:

"To add a deployment at subscription, specify the locatio

[2022-11-29 17:09] jasongroce commented on #97704
Thanks for this feedback! We have logged this issue internally so we can track it across the entire documentation set. #please-close

[2022-11-29 17:09] #97704 closed

[2022-11-29 17:12] HoboMechanistic commented on #102050
Oh apologies, I misread the error message here. The latter part mentions that the placement group needs to be more than one if Standard_B1ls is to be used. I have been setting it to 1 for my tests. Ticking the box to allow for a larger placement group fixes this.

[2022-11-29 17:12] #102050 closed

[2022-11-29 17:16] jasongroce commented on #97786
#please-close

[2022-11-29 17:16] #97786 closed

[2022-11-29 17:25] Marusyk commented on #101813
Thank you very much, it was really helpful. I'm going to close the issue. Thanks

[2022-11-29 17:25] #101813 closed

[2022-11-29 17:26] bandersmsft commented on #101935
https://github.com/MicrosoftDocs/azure-docs-pr/pull/219791

[2022-11-29 17:31] fitzgeraldsteele commented on #102050
There is still a bug here...you shouldn't be able to uncheck that box to allow scaling > 100 instances. We'll get that fixed.

[2022-11-29 17:31] csmulligan commented on #97556
#reassign:@csmulligan

[2022-11-29 17:33] bandersmsft commented on #101935
@srsurip I've updated the article as you suggested. The article will get refreshed live later on 11/29.

#please-close

[2022-11-29 17:33] #101935 closed

[2022-11-29 17:38] msfttklingenberg opened #102055 "add a pod delete command for coredns in the Troubleshooting section"
add a pod delete command for coredns in the Troubleshooting section after turning on logs.

also, the delete pod commands on the page have two forms. ideally, they would both match:
kubectl delete pod --namespace kube-system --selector k8s-app=kube-dns
kubectl delete pod --namespace kube-system -l k8s-app=kube-dns

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-11-29 17:41] nishantroymsft opened #102056 "Command line changes in section "Download SAP media""
The bold lines are missing and should be added to the document.

6. Install Ansible 2.9.27 on the ubuntu VM (currently the document assumes python-pip is installed by default - is it not. So please add below line for pip to be available)
**sudo apt install python3-pip -y**
sudo pip3 install ansible==2.9.27

7. Clone the SAP automation repository from GitHub.
Create a working directory for ACSS git

[2022-11-29 17:49] KapilAnanth-MSFT commented on #101969
@jackbond, it appears Load Balancer currently does not support HTTP3.

If you could provide **_more information on your scenario and complete use case_**, we could log this into our backlog items

[2022-11-29 17:54] nishantroymsft opened #102059 "Add Step to set S-user password before ansible execution for special character "!""
If the S-user has a special character "!" (Exclamation mark), then the ansible script fails as it is not able to parse anything after the "!".
The special character requirement is there from SAP now so it is likely most users will face this problem.

Therefore to solve the problem, either arrange for the script to be interactive and ask for password separately. Or easier, would be to add
**Step-10

[2022-11-29 17:54] VikasPullagura-MSFT commented on #102055
@msfttklingenberg
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-29 17:54] VikasPullagura-MSFT commented on #102055
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-11-29 17:57] sharmadhiraj86 commented on #100923
Please let me know in which file I should make the change.

[2022-11-29 17:59] KapilAnanth-MSFT commented on #101799
@lmalmeida, I shall assign this to the author @vhorne for further review.

@vhorne , Please update the document as required once our Product group shares their feedback

[2022-11-29 17:59] pauljewellmsft commented on #102039
Updated client library links in [this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/219780). Changes should be published later today.

[2022-11-29 18:02] ramski85 commented on #102049
Hi,

I refer to this statement: 'Traffic Manager routes the traffic'. It may
suggest to reader that Traffic Manager is something in path. For me it is
clear that all redirection happens on DNS level.
This section could be more 'technical'.

Regars,
Radek

wt., 29 lis 2022, 17:53 użytkownik Kapil Ananth ***@***.***>
napisał:

[2022-11-29 18:09] bandersmsft commented on #99144
https://github.com/MicrosoftDocs/azure-docs-pr/pull/219798

[2022-11-29 18:10] bandersmsft commented on #99144
@helderpinto

Hi there, sorry for the delay.

The Cost Details API was recently updated so that the PAYGPrice is now accurate (no longer be zero).

- Keep in mind that PAYGPrice is populated only for 1st party Azure usage charges where Pricing Model is OnDemand. So for EA customers, PAYGprice won’t be populated when Pricing Model = Reservations, Spot, Marketplace, or SavingsPlan.

- And yes, PAYG

[2022-11-29 18:19] mjang-cobalt commented on #102000
Question: I'm from Cobalt.io. Some of the screenshots, shown in [this section](https://learn.microsoft.com/en-us/azure/active-directory/saas-apps/cobalt-tutorial#configure-cobalt-sso) of Microsoft documentation, reflects what we have in our Cobalt.io UI.

However, the same article also refers to cobaltdl.com, which is a different company (same name).

Can you clarify -- with your Microsoft article

[2022-11-29 18:28] bandersmsft commented on #98634
https://github.com/MicrosoftDocs/azure-docs-pr/pull/219804

[2022-11-29 18:29] bandersmsft commented on #98634
@Pengcici Sorry for the detail.

I've updated the article as you requested. It will get refreshed live later today.

#please-close

[2022-11-29 18:29] #98634 closed

[2022-11-29 18:36] #101943 closed

[2022-11-29 18:41] nishantroymsft commented on #102059
I see this has been documented under known issues. I would highly recommend moving it up to the Step-10 as password with special characters is a SAP requirement now.

[2022-11-29 18:43] davidsmatlak commented on #102047
#reassign:davidsmatlak

[2022-11-29 18:46] bandersmsft commented on #100622
@hiromingithub Hi there. Sorry for the delay. I've updated the article with your requested update. The article will get refreshed live within 48 hours.

#please-close

[2022-11-29 18:46] #100622 closed

[2022-11-29 18:47] davidsmatlak commented on #102047
I'll review the article and the section about [nested templates](https://learn.microsoft.com/azure/azure-resource-manager/troubleshooting/enable-debug-logging?tabs=azure-powershell#nested-template) and update the content if necessary.

[2022-11-29 18:50] v-edmckillop commented on #84597
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize. Please don't hesitate to reach out again. #please-close

[2022-11-29 18:50] #84597 closed

[2022-11-29 18:58] nzthiago commented on #93200
Hi everyone, apologies for the delay in updating this issue, we went through an extra load of testing before sharing.
The fix is deployed but we had to introduce a new app setting that you should set on your production slot (or the swap slot if you're swapping between two subslots) called WEBSITE_OVERRIDE_STICKY_DIAGNOSTICS_SETTINGS and set it to **0** (zero). I.e.,
[code]
This will allow you to s

[2022-11-29 19:00] bandersmsft commented on #100107
@camalloy Hi there, sorry for the delay.

The reservations engineering team hasn’t made any changes to the reservation refund policy below (same details as the article). So, you should be able to refund them, up to the limit we have documented.

You can also refund reservations, but the sum total of all canceled reservation commitment in your billing scope (such as EA, Microsoft Customer Agreement

[2022-11-29 19:00] #100107 closed

[2022-11-29 19:09] bandersmsft commented on #100343
https://github.com/MicrosoftDocs/azure-docs-pr/pull/219812

[2022-11-29 19:11] stetou commented on #95661
Hi
"There is definately a need of igoring any private enpoint that is already in the target envirnoment"
I think everyone has this scenario, they just don't know yet.
Any update guys ? Or workaround ?

[2022-11-29 19:25] MrRitt commented on #101407
This situation doesn't require a case. Customers can authorize the volume within x amount of time before this is of issue.  Only after authorization has expired is this of issue.

[2022-11-29 19:26] haider392 opened #102060 "Premium files storage account cannot be converted to GZRS types"
Below the replication change table, it is mentioned that premium files storage account can be converted to GZRS. But this is not correct. GZRS is not supported for premium files storage account (I have confirmed this from migration team). Please update the doc appropriately.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-11-29 19:29] bandersmsft commented on #100343
@rozzamozza

Hi there. Sorry for the delay.

I’ve updated the article for clarity and to address your questions.

Yes, some of the words we had in the article were vague. Sorry about that!

“Directory” means Azure AD directory (aka tenant). I’ve updated the article for this term.
“Match” means “the same”. I’ve updated the article for this term.

The relationship mentioned in the Azure subscription

[2022-11-29 19:29] #100343 closed

[2022-11-29 19:30] MGoedtel commented on #101937
I'm going to open a PR and fix the image today. Thanks for bringing this to our attention.  #please-close

[2022-11-29 19:38] bandersmsft commented on #100540
@v-sashig https://learn.microsoft.com/azure/cost-management-billing/manage/cancel-azure-subscription?source=docs#delete-subscriptions was recently updated for new delete subscription functionality.

What we have documented should be accurate. Please check the article's current text to see if you can delete your subscription, using the information we have currently documented. Thanks.

Feel free to

[2022-11-29 19:38] #100540 closed

[2022-11-29 19:40] stetou commented on #95661
I realized that this issue is in https://github.com/MicrosoftDocs
not the best place for an application issue. I will open a support ticket and make reference to this one

[2022-11-29 19:41] kateglee-db commented on #76886
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-29 19:43] kateglee-db commented on #76983
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:43] kateglee-db commented on #76828
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:43] kateglee-db commented on #76875
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:44] kateglee-db commented on #76747
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:44] kateglee-db commented on #77010
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:46] kateglee-db commented on #77114
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:48] kateglee-db commented on #77337
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-29 19:53] kateglee-db commented on #77552
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we recommend you visit Databricks Support at https://help.databricks.com/. Because this issue does not relate to documentation, we are closing this issue.

#pleas

[2022-11-29 19:56] bandersmsft commented on #100576
@pengcici

Adding a downloadable list of billing products is a good idea, but it isn’t currently implemented.

Unfortunately, we don’t accept requests to create new or update features through our github issue process here. However, please feel free to submit a feature request at https://feedback.azure.com/d365community/forum/748a4eaa-0e25-ec11-b6e6-000d3a4f07b8.

#please-close

[2022-11-29 19:56] #100576 closed

[2022-11-29 19:56] kateglee-db commented on #78588
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:56] kateglee-db commented on #77879
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-29 19:57] kateglee-db commented on #78644
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-29 20:01] bandersmsft commented on #100476
Hi @HannahHsiao5 I've requested the details you suggested that we about the EU program from the EA agreement engineering team. When they provide it, I'll update this article.

#please-close

[2022-11-29 20:01] #100476 closed

[2022-11-29 20:20] bandersmsft commented on #100595
@EBlanchard63

I can’t update https://learn.microsoft.com/en-us/rest/api/billing/2019-10-01-preview/role-assignments/put myself, so I’ve passed along your request to the Billing engineering team.

I agree there can be some confusion about which object ID to use, which is why we added the https://learn.microsoft.com/en-us/azure/cost-management-billing/manage/assign-roles-azure-service-principals#tr

[2022-11-29 20:20] #100595 closed

[2022-11-29 20:22] jacegummersall commented on #101253
@Willem-J-an Thank you for providing your feedback we will update the documentation to add an explanation of how secure webhooks function. As for your question, to build a secure webhook service, customers need to register their own Azure AD application to protect the Web API.  We only allow the owner of the AAD application to create a secure webhook action. Other user’s requests will be rejected.

[2022-11-29 20:28] cgatjens commented on #98763
@tomvcassidy Can you please update the doc to reflect that our DNS IP will be added automatically even when using a custom YAML?
Is there a way to prevent our Azure DNS IP to be added in /etc/resolv.conf during container creation?

[2022-11-29 20:38] bandersmsft commented on #101009
@aaronhurstOcto Hi there. You do need specific permssion. The article states:

If you create (save) a view, you can make it public (default), or you can save it as a private view. So, after you save a view, the Subscribe option should be available (to you if private, and to others with permssion if not private).

#please-close

[2022-11-29 20:38] #101009 closed

[2022-11-29 20:41] bandersmsft commented on #101274
@nelroosevelt Hi there. Sorry for the delay. The article was recently updated to provide more details about Azure App Services.

It now says:

I hope this helps.

#please-close

[2022-11-29 20:41] #101274 closed

[2022-11-29 20:48] bandersmsft commented on #101429
@SadiqhAhmed-MSFT Please forward me the email thread and I'll follow up with the PMs to try to get the customer the addtional info they want. Thanks.

[2022-11-29 20:50] johndowns commented on #101795
Hello @xenon8,

* What matters for this specific limit is the number of routes. If you have routes spread across endpoints then we don't consider the number of endpoints - we just consider how many routes there are in total.
* Similarly, origin groups and origins have no bearing on this specific limit.
* Within a route, a path is not currently considered for the limit. What matters is the number o

[2022-11-29 21:05] pdhimate commented on #102024
Thank you. Is there an ETA on GA for this?

[2022-11-29 21:14] msclbu commented on #102029
Please see screenshot of a Bicep template:

![image](https://user-images.githubusercontent.com/51323537/204648910-92bfab83-231e-4840-a5b8-0c028bdf65d9.png)

[2022-11-29 21:26] SeniorTigr commented on #98763
If the DNS servers set by customer in the YAML definition resolves some FQDN addresses on private ip addresses, while Azure internal DNS service resolve them on public ip, it may cause some inconsistencies and route the connections the way they are not destined to be routed.

[2022-11-29 21:30] DanielLarsenNZ opened #102066 "How do you have cipher suites marked on the certificate when you generate it?"
Doc says "[Then have cipher suites marked on the certificate when you generate it](https://learn.microsoft.com/en-us/azure/frontdoor/end-to-end-tls#:~:text=Then%20have%20specific%20cipher%20suites%20marked%20on%20the%20certificate%20when%20you%20generate%20it.)". How would a customer do this? Can you provide an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for le

[2022-11-29 21:32] MariuszFerdyn commented on #98763
It can also be a security issue; it can be used to exfiltrate data using Azure Public DNS. In that way, we have no control over it.

The proposal is to block access to the Azure DNS using the AzurePlatformDNS service tag in NSG. You can use this tag to disable the default Azure DNS.

[2022-11-29 21:35] #70881 closed

[2022-11-29 21:39] o-l-a-v commented on #102031
Thanks!

But that highlight a different problem then: The cmdlet does not handle conflicting ARM parameters.

Would be better to have input parameters to the ARM deployment as a hashtable then IMO.

[2022-11-29 22:04] whhender commented on #101505
@KellyVance - I have passed this request along to the product team. I will follow up soon if I can provide any additional information.

Thanks very much for reaching out! We always appreciate it.

[2022-11-29 22:11] Willem-J-an commented on #101253
@jacegummersall thanks for getting back! I understand I create an AAD app to protect my app, but then I grant access to the secure webhook AAD SPN in my tenant for the secure webhook to work. If you are also in my tenant, e.g. different department, different azure subscriptions, what's to stop you from creating your own action group targeting my secure webhook? There would be no way for me to diff

[2022-11-29 22:43] GeethaThatipatri-MSFT commented on #101950
Thanks, @dimitri-furman for your inputs

[2022-11-29 22:43] #101950 closed

[2022-11-29 22:45] daviosbo opened #102067 "Creating a single node cluster for DLT Pipeline"
The following statement does not appear to be true:
Configuring an autoscaling cluster and setting min_workers to 0 and max_workers to 0 also creates a Single Node cluster.

This setting gives an error of:
![image](https://user-images.githubusercontent.com/52266939/204664715-014f270a-a4d4-44f3-ada9-500d1afd26f2.png)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-11-29 22:59] JasonWHowell commented on #61231
#please-close

[2022-11-29 22:59] #61231 closed

[2022-11-29 23:02] JasonWHowell commented on #97316
#please-close

[2022-11-29 23:02] #97316 closed

[2022-11-29 23:13] JasonWHowell commented on #80037
#please-close

[2022-11-29 23:13] #80037 closed

[2022-11-29 23:13] JasonWHowell commented on #79628
#please-close

[2022-11-29 23:13] #79628 closed

[2022-11-29 23:13] JasonWHowell commented on #79256
#please-close

[2022-11-29 23:14] #79256 closed

[2022-11-29 23:14] JasonWHowell commented on #78644
#please-close

[2022-11-29 23:14] #78644 closed

[2022-11-29 23:14] #78588 closed

[2022-11-29 23:14] JasonWHowell commented on #77879
#please-close

[2022-11-29 23:14] #77879 closed

[2022-11-29 23:14] JasonWHowell commented on #77552
#please-close

[2022-11-29 23:14] #77552 closed

[2022-11-29 23:14] JasonWHowell commented on #77337
#please-close

[2022-11-29 23:14] #77337 closed

[2022-11-29 23:14] JasonWHowell commented on #77114
#please-close

[2022-11-29 23:14] #77114 closed

[2022-11-29 23:14] ChaitanyaNaykodi-MSFT commented on #102066
@DanielLarsenNZ Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-29 23:14] JasonWHowell commented on #77010
#please-close

[2022-11-29 23:14] #77010 closed

[2022-11-29 23:15] JasonWHowell commented on #76983
#please-close

[2022-11-29 23:15] #76983 closed

[2022-11-29 23:15] JasonWHowell commented on #76886
#please-close

[2022-11-29 23:15] #76886 closed

[2022-11-29 23:15] JasonWHowell commented on #76875
#please-close

[2022-11-29 23:15] #76875 closed

[2022-11-29 23:15] JasonWHowell commented on #76828
#please-close

[2022-11-29 23:15] #76828 closed

[2022-11-29 23:15] JasonWHowell commented on #76747
#please-close

[2022-11-29 23:15] #76747 closed

[2022-11-29 23:15] JasonWHowell commented on #76731
#please-close

[2022-11-29 23:15] #76731 closed

[2022-11-29 23:15] JasonWHowell commented on #76429
#please-close

[2022-11-29 23:15] #76429 closed

[2022-11-29 23:17] JasonWHowell commented on #53487
#please-close The URL was repaired in the docs.

[2022-11-29 23:17] #53487 closed

[2022-11-29 23:17] JasonWHowell commented on #57301
#please-close

[2022-11-29 23:17] #57301 closed

[2022-11-29 23:17] JasonWHowell commented on #57720
#please-close

[2022-11-29 23:17] #57720 closed

[2022-11-29 23:17] JasonWHowell commented on #57723
#please-close

[2022-11-29 23:17] #57723 closed

[2022-11-29 23:17] JasonWHowell commented on #57831
#please-close

[2022-11-29 23:17] #57831 closed

[2022-11-29 23:17] JasonWHowell commented on #58027
#please-close

[2022-11-29 23:17] #58027 closed

[2022-11-29 23:17] JasonWHowell commented on #58165
#please-close

[2022-11-29 23:17] #58165 closed

[2022-11-29 23:18] JasonWHowell commented on #58539
#please-close

[2022-11-29 23:18] #58539 closed

[2022-11-29 23:18] JasonWHowell commented on #58590
#please-close

[2022-11-29 23:18] #58590 closed

[2022-11-29 23:18] JasonWHowell commented on #58765
#please-close

[2022-11-29 23:18] #58765 closed

[2022-11-29 23:18] JasonWHowell commented on #59093
#please-close

[2022-11-29 23:18] #59093 closed

[2022-11-29 23:18] JasonWHowell commented on #59251
#please-close

[2022-11-29 23:18] #59251 closed

[2022-11-29 23:18] JasonWHowell commented on #59537
#please-close

[2022-11-29 23:18] #59537 closed

[2022-11-29 23:18] JasonWHowell commented on #59665
#please-close

[2022-11-29 23:18] #59665 closed

[2022-11-29 23:18] JasonWHowell commented on #59697
#please-close

[2022-11-29 23:18] #59697 closed

[2022-11-29 23:18] #60040 closed

[2022-11-29 23:19] JasonWHowell commented on #60110
#please-close

[2022-11-29 23:19] #60110 closed

[2022-11-29 23:19] JasonWHowell commented on #60111
#please-close

[2022-11-29 23:19] #60111 closed

[2022-11-29 23:19] JasonWHowell commented on #60471
#please-close

[2022-11-29 23:19] #60471 closed

[2022-11-29 23:19] JasonWHowell commented on #61140
#please-close

[2022-11-29 23:19] #61140 closed

[2022-11-29 23:19] JasonWHowell commented on #61152
#please-close

[2022-11-29 23:19] #61152 closed

[2022-11-29 23:19] JasonWHowell commented on #61440
#please-close

[2022-11-29 23:19] #61440 closed

[2022-11-29 23:19] JasonWHowell commented on #61835
#please-close

[2022-11-29 23:19] #61835 closed

[2022-11-29 23:19] JasonWHowell commented on #61926
#please-close

[2022-11-29 23:19] #61926 closed

[2022-11-29 23:19] JasonWHowell commented on #62331
#please-close

[2022-11-29 23:19] #62331 closed

[2022-11-29 23:19] JasonWHowell commented on #62405
#please-close

[2022-11-29 23:19] #62405 closed

[2022-11-29 23:19] JasonWHowell commented on #62408
#please-close

[2022-11-29 23:19] #62408 closed

[2022-11-29 23:19] JasonWHowell commented on #62411
#please-close

[2022-11-29 23:19] #62411 closed

[2022-11-29 23:20] JasonWHowell commented on #62691
#please-close

[2022-11-29 23:20] #62691 closed

[2022-11-29 23:20] JasonWHowell commented on #64473
#please-close

[2022-11-29 23:20] #64473 closed

[2022-11-29 23:20] JasonWHowell commented on #64596
#please-close

[2022-11-29 23:20] #64596 closed

[2022-11-29 23:20] JasonWHowell commented on #64968
#please-close

[2022-11-29 23:20] #64968 closed

[2022-11-29 23:20] JasonWHowell commented on #65000
#please-close

[2022-11-29 23:20] #65000 closed

[2022-11-29 23:20] JasonWHowell commented on #65149
#please-close

[2022-11-29 23:20] #65149 closed

[2022-11-29 23:20] JasonWHowell commented on #65620
#please-close

[2022-11-29 23:20] #65620 closed

[2022-11-29 23:20] JasonWHowell commented on #65673
#please-close

[2022-11-29 23:20] #65673 closed

[2022-11-29 23:20] JasonWHowell commented on #66431
#please-close

[2022-11-29 23:20] #66431 closed

[2022-11-29 23:21] JasonWHowell commented on #66561
#please-close

[2022-11-29 23:21] #66561 closed

[2022-11-29 23:21] JasonWHowell commented on #66562
#please-close

[2022-11-29 23:21] #66562 closed

[2022-11-29 23:21] JasonWHowell commented on #66672
#please-close

[2022-11-29 23:21] #66672 closed

[2022-11-29 23:21] JasonWHowell commented on #66975
#please-close

[2022-11-29 23:21] #66975 closed

[2022-11-29 23:21] JasonWHowell commented on #67264
#please-close

[2022-11-29 23:21] #67264 closed

[2022-11-29 23:21] JasonWHowell commented on #67646
#please-close

[2022-11-29 23:21] #67646 closed

[2022-11-29 23:21] JasonWHowell commented on #67863
#please-close

[2022-11-29 23:21] #67863 closed

[2022-11-29 23:21] JasonWHowell commented on #68070
#please-close

[2022-11-29 23:21] #68070 closed

[2022-11-29 23:21] JasonWHowell commented on #68452
#please-close

[2022-11-29 23:22] #68452 closed

[2022-11-29 23:22] JasonWHowell commented on #68903
#please-close

[2022-11-29 23:22] #68903 closed

[2022-11-29 23:22] JasonWHowell commented on #69314
#please-close

[2022-11-29 23:22] #69314 closed

[2022-11-29 23:22] JasonWHowell commented on #69404
#please-close

[2022-11-29 23:22] #69404 closed

[2022-11-29 23:22] JasonWHowell commented on #69461
#please-close

[2022-11-29 23:22] #69461 closed

[2022-11-29 23:23] JasonWHowell commented on #69780
#please-close

[2022-11-29 23:23] #69780 closed

[2022-11-29 23:23] JasonWHowell commented on #70071
#please-close

[2022-11-29 23:23] #70071 closed

[2022-11-29 23:23] JasonWHowell commented on #70950
#please-close

[2022-11-29 23:23] #70950 closed

[2022-11-29 23:23] JasonWHowell commented on #71041
#please-close

[2022-11-29 23:23] #71041 closed

[2022-11-29 23:23] JasonWHowell commented on #71543
#please-close

[2022-11-29 23:23] #71543 closed

[2022-11-29 23:23] JasonWHowell commented on #72653
#please-close

[2022-11-29 23:23] #72653 closed

[2022-11-29 23:23] JasonWHowell commented on #72680
#please-close

[2022-11-29 23:23] #72680 closed

[2022-11-29 23:24] JasonWHowell commented on #72830
#please-close

[2022-11-29 23:24] #72830 closed

[2022-11-29 23:24] JasonWHowell commented on #72863
#please-close

[2022-11-29 23:24] #72863 closed

[2022-11-29 23:24] JasonWHowell commented on #72951
#please-close

[2022-11-29 23:24] #72951 closed

[2022-11-29 23:24] JasonWHowell commented on #73029
#please-close

[2022-11-29 23:24] #73029 closed

[2022-11-29 23:24] JasonWHowell commented on #73069
#please-close

[2022-11-29 23:24] #73069 closed

[2022-11-29 23:24] JasonWHowell commented on #73374
#please-close

[2022-11-29 23:24] #73374 closed

[2022-11-29 23:24] JasonWHowell commented on #73376
#please-close

[2022-11-29 23:24] #73376 closed

[2022-11-29 23:24] JasonWHowell commented on #74458
#please-close

[2022-11-29 23:24] #74458 closed

[2022-11-29 23:24] JasonWHowell commented on #74494
#please-close

[2022-11-29 23:24] #74494 closed

[2022-11-29 23:24] JasonWHowell commented on #74564
#please-close

[2022-11-29 23:24] #74564 closed

[2022-11-29 23:24] JasonWHowell commented on #74631
#please-close

[2022-11-29 23:24] #74631 closed

[2022-11-29 23:24] JasonWHowell commented on #74769
#please-close

[2022-11-29 23:24] #74769 closed

[2022-11-29 23:25] JasonWHowell commented on #74826
#please-close

[2022-11-29 23:25] #74826 closed

[2022-11-29 23:25] JasonWHowell commented on #75026
#please-close

[2022-11-29 23:25] #75026 closed

[2022-11-29 23:25] JasonWHowell commented on #75166
#please-close

[2022-11-29 23:25] #75166 closed

[2022-11-29 23:25] JasonWHowell commented on #75186
#please-close

[2022-11-29 23:25] #75186 closed

[2022-11-29 23:25] JasonWHowell commented on #75248
#please-close

[2022-11-29 23:25] #75248 closed

[2022-11-29 23:27] JasonWHowell commented on #75360
This translation issues has been resolved. #please-close

[2022-11-29 23:27] #75360 closed

[2022-11-29 23:29] JasonWHowell commented on #75438
#please-close

[2022-11-29 23:29] #75438 closed

[2022-11-29 23:30] JasonWHowell commented on #75632
#please-close

[2022-11-29 23:30] #75632 closed

[2022-11-29 23:30] JasonWHowell commented on #76377
#please-close

[2022-11-29 23:30] #76377 closed

[2022-11-29 23:43] gfree76 commented on #69780
hasn't been fixed in over a year. pretty sad.

[2022-11-30 00:34] JasonWHowell commented on #69780
@kateglee-db do you have visibility into the DOC-2511 item to followup?

[2022-11-30 00:58] Naveenommi-MSFT commented on #101942
@zulis
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-30 00:58] Naveenommi-MSFT commented on #101942
@sdgilley
Could you please review add comments on this, update as appropriate.

[2022-11-30 01:01] kateglee-db commented on #78715
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we've updated the content. We are closing the issue.

#please-close

[2022-11-30 01:05] kateglee-db commented on #78776
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-3573) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 01:05] Naveenommi-MSFT commented on #102056
@nishantroymsft
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-30 01:06] Naveenommi-MSFT commented on #102056
@lauradolan
Could you please review add comments on this, update as appropriate.

[2022-11-30 01:07] Naveenommi-MSFT commented on #102059
@nishantroymsft
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-30 01:08] Naveenommi-MSFT commented on #102059
@lauradolan
Could you please review add comments on this, update as appropriate.

[2022-11-30 01:08] kateglee-db commented on #78824
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 01:09] Naveenommi-MSFT commented on #102060
@haider392
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 01:11] Naveenommi-MSFT commented on #102067
@daviosbo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 01:12] kateglee-db commented on #78858
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7008) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 01:14] kateglee-db commented on #78950
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and this outdated content has been removed. We are closing the issue.

#please-close

[2022-11-30 01:16] kateglee-db commented on #79140
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 01:17] AdamGuan13 commented on #101973
Thanks again!

[2022-11-30 01:22] kateglee-db commented on #79157
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7009) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 01:26] kateglee-db commented on #79259
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 01:29] kateglee-db commented on #79379
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated at https://learn.microsoft.com/en-us/azure/databricks/ingestion/auto-loader/options#--common-auto-loader-options. We are closing the issue.

#please-close

[2022-11-30 01:30] kateglee-db commented on #79486
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 01:30] Naveenommi-MSFT commented on #101996
PR link
https://github.com/MicrosoftDocs/azure-docs-pr/pull/219860

[2022-11-30 01:31] Naveenommi-MSFT commented on #101996
@AngryRhetoric
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-30 01:32] joe-oli opened #102071 "Microsoft.ApplicationInsights.AspNetCore vs Microsoft.Extensions.Logging.ApplicationInsights"
There needs to be clearer guidance and mention of the two packages I mentioned in the title.

- Microsoft.ApplicationInsights.AspNetCore
- Microsoft.Extensions.Logging.ApplicationInsights

e.g. Differences? One to use one or the other ? Can one be used without the other? I only discovered the second package Microsoft.Extensions.Logging.ApplicationInsights by trial and error; but the documentation

[2022-11-30 01:33] kateglee-db commented on #79523
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 01:35] kateglee-db commented on #79554
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 01:37] kateglee-db commented on #79661
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 01:38] kateglee-db commented on #79839
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 01:39] Naveenommi-MSFT commented on #102071
@joe-oli
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 01:40] kateglee-db commented on #79916
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7009) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 01:49] kateglee-db commented on #80138
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-30 01:50] kateglee-db commented on #80219
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 01:55] kateglee-db commented on #80494
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7013) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 01:57] kateglee-db commented on #80509
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 02:00] kateglee-db commented on #80728
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7014) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:01] kateglee-db commented on #80786
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 02:04] kateglee-db commented on #80798
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-30 02:08] kateglee-db commented on #80901
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 02:10] kateglee-db commented on #80956
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 02:13] kateglee-db commented on #81114
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 02:19] kateglee-db commented on #81201
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7015) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:23] kateglee-db commented on #81204
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7016) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:25] kateglee-db commented on #81518
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-30 02:27] Pengcici commented on #100576
Thanks Banders. Will do.

[2022-11-30 02:28] kateglee-db commented on #81548
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7017) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:29] kateglee-db commented on #81639
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the outdated content has been removed. We are closing the issue.

#please-close

[2022-11-30 02:32] kateglee-db commented on #81662
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7018) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:34] acybppres opened #102072 "Dead link"
The link on the page:
[Separation of Duties](https://www.microsoft.com/download/details.aspx?id=39269)
Is invalid

I am looking for someone to clearly state "Do not put every object for all of your development/test/production environments in dbo".  Why can't I find this clearly stated?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-11-30 02:36] kateglee-db commented on #81773
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The scope of our feedback channel here on GitHub covers specific documentation fixes and this issue is related to the KB. We recommend that you visit the [Databricks Knowledge Base](https://kb.databricks.com/contact-us) to submit your feedback. Because th

[2022-11-30 02:38] SwathiDhanwada-MSFT commented on #101993
@AndrewBryson Thanks for your feedback.

Assigning to content author @v-amallick  for review.

[2022-11-30 02:39] kateglee-db commented on #81848
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7019) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:41] kateglee-db commented on #81958
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 02:46] kateglee-db commented on #82790
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and this outdated content has been removed. We are closing the issue.

#please-close

[2022-11-30 02:49] kateglee-db commented on #82797
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7020) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:52] kateglee-db commented on #82881
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-30 02:52] pbibra commented on #42402
Hi @KrishnaG-MSFT I am also running into the same issue. I have a service principal that is assigned the Contributor role to my subscription and resource group, but I am unable to see the groups when creating a post build action.

[2022-11-30 02:55] kateglee-db commented on #82882
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7016) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 02:58] kateglee-db commented on #82941
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7021) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 03:00] kateglee-db commented on #83014
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 03:01] kateglee-db commented on #83072
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-30 03:05] kateglee-db commented on #83111
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7022) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 03:06] kateglee-db commented on #83124
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 03:09] kateglee-db commented on #83289
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7023) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 03:12] Pengcici commented on #98634
Thanks @bandersmsft.  It's beautiful work.

[2022-11-30 03:22] kateglee-db commented on #83487
Thanks for your dedication to our documentation. We include links to the API ref content on several pages throughout the documentation, including the [top-level page](https://learn.microsoft.com/en-us/azure/databricks/) and https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/. The Clusters API 2.0 page is at https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/lates

[2022-11-30 03:27] vwxyzh commented on #101976
In English, open this page: https://learn.microsoft.com/en-us/dotnet/api/system.string.clone?view=net-7.0&source=docs
![image](https://user-images.githubusercontent.com/2705828/204697651-ac623f38-6bfd-4315-82c1-41110f0122f9.png)
then we can find the mark one is "Clone", it is the method name, and it should not be localized in any other language.
(In English, no localization occurred by default.) B

[2022-11-30 03:28] kateglee-db commented on #83517
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7024) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 03:28] het-msft commented on #100923
@sharmadhiraj86, its already mentioned as part of this issue that in which page there is a issue and what is the issue. Please check it once.

[2022-11-30 03:29] kateglee-db commented on #83520
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue.

#please-close

[2022-11-30 03:30] kateglee-db commented on #83610
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 03:33] AshokPeddakotla-MSFT commented on #101940
@JFarlette Changes were blocked due to some conflict. I will check again and update here. Thanks for checking.

[2022-11-30 03:35] kateglee-db commented on #83854
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the content has been updated. We are closing the issue.

#please-close

[2022-11-30 03:37] lB2B opened #102073 "https://aka.ms/rps-not-found"
https://aka.ms/rps-not-found
Failed to create action group. Error: The subscription is not registered to use namespace 'microsoft.insights'. See https://aka.ms/rps-not-found for how to register subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bc2ab43e-b864-aabd-9952-798e2af66264
* Version Independent ID:

[2022-11-30 03:38] lB2B opened #102074 "subscription"
# Azure documentation issue guidance
Failed to create action group. Error: The subscription is not registered to use namespace 'microsoft.insights'. See https://aka.ms/rps-not-found for how to register subscriptions.
Thanks for opening an issue in the Azure technical documentationhttps://aka.ms/rps-not-found repository.

We use GitHub issues as the primary channel for customer and community feedba

[2022-11-30 03:40] kateglee-db commented on #83993
Thanks for your dedication to our documentation. Unfortunately, we have been unable to review your issue and apologize for the delayed response. The requested updates have not yet been made. The timeline for resolution varies based on resourcing. We've created an internal work item (DOC-7026) to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as neces

[2022-11-30 03:55] SaibabaBalapur-MSFT commented on #102074
@lB2B
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-30 04:16] kurtkluth commented on #101283
Is anyone going to fix the script?

[2022-11-30 04:36] KapilAnanth-MSFT commented on #102049
@ramski85, thanks for your suggestion.

I shall assign this thread to the author for further consideration.
@mbender-ms, please look into this suggestion and update the document if required.

[2022-11-30 04:51] shaktisingh-msft commented on #100923
Hi @het-msft,

Thanks for sharing the observation. Changes will be reflected by next week.

[2022-11-30 05:00] shaktisingh-msft commented on #102072
Hi @acybppres ,

Thanks for sharing this feedback. Request will be assigned to author to further investigate and update as appropriate.

Hi @VanMSFT,

Could you please look into this document request. Thanks!

[2022-11-30 05:29] myob-hankun commented on #101890
Hi @mumian , it's a runtime error, the appEnvironment is SIT, so the condition is false. The Logic APP was not created, but Azure wants to generate its trigger. Because the Logic APP has not existed, and the trigger depends on the Logic APP. The result is trigger is created failure.

[2022-11-30 05:56] kohei-miyoshi opened #102077 "Please add information about network protected registry to windows container article"
In this github issue, engineer said Windows container updated its feature.  `https://github.com/MicrosoftDocs/azure-docs/issues/89178`

Since windows container can use pulling from VNET connecting to ACR, this article should be adding this topic like linux container article.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-11-30 06:25] AnuragSingh-MSFT commented on #102017
@smd134, thank you for sharing this feedback. I have submitted an update which is under review. Once approved, it will be updated in the doc.

[2022-11-30 06:26] bedlam-au opened #102079 "Azure ADDS integration broken"
[Enter feedback here]
The Azure ADDS section under "Join your storage account to Active Directory" is incorrectly described.  Under section 5 where it says:

What actually happens is that a service account, not computer account is created in the ADDS domain.

However, I suspect that the description is supposed to be correct and that there is in fact a bug in the Azure ADDS - Azure Files integratio

[2022-11-30 06:44] AnuragSingh-MSFT commented on #102071
@joe-oli, thank you for this feedback.

@AaronMaxwell, can you please review this fedback and share your thoughts. Thank you

[2022-11-30 06:45] smd134 commented on #102017
Great. It will be awesome if you can comment here once the doc is updated.

[2022-11-30 06:50] salaj opened #102080 "[Clarification] Azure SignalR Connection token"
- [x] The relevant Azure service or technology.
Azure SignalR
- [x] A link to the published documentation article that you have feedback about.
https://learn.microsoft.com/en-us/aspnet/signalr/overview/security/introduction-to-security#connection-token
- [x] Clear, specific feedback that the author can act on.
In the linked docs there is a suggestion Connection Token is passed between client and t

[2022-11-30 06:53] ah-ha-admin opened #102081 "create"
create

_Originally posted by @ah-ha-admin in https://github.com/MicrosoftDocs/azure-devops-docs/pull/12872#pullrequestreview-1198766069_

[2022-11-30 06:57] sidharthk123 commented on #102027
Hi @SaibabaBalapur-MSFT, any update on this, when we talk about the API, that is not working, it could be an API issue.
Please feel free to respond to me.

[2022-11-30 07:11] SaibabaBalapur-MSFT commented on #102027
@KrishnaG-MSFT
Please review it

[2022-11-30 07:13] AshokPeddakotla-MSFT commented on #101940
@ash2017 Can you review the PR and merge?

[2022-11-30 07:17] MahmoudMardawi commented on #45485
Thanks for your reply, check this command and the result:

az aks create --resource-group MyMicroserviceResources --name MyMicroserviceCluster --node-count 1 --enable-addons http_application_routing --generate-ssh-keys --node-vm-size DS2_v2

RESULT :
(VMSizeNotSupported) Virtual Machine size: 'DS2_v2' is not supported for subscription 30780db4-99e7-4221-8589-8b7c9054c181 in location 'westus'. . Pl

[2022-11-30 07:18] MahmoudMardawi commented on #45485
Thank you all for your reply ! I appreciate your interest

[2022-11-30 08:08] SaibabaBalapur-MSFT commented on #102081
@ah-ha-admin
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-30 08:11] SaibabaBalapur-MSFT commented on #102080
@salaj
Thanks for your feedback! We will investigate and update as appropriate.

Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-11-30 08:22] MS-Santi opened #102084 "Mismatch between description and illustration"
The first sentence states "The Azure Relay service enables you to securely expose services that run in your corporate network to the public cloud."

However, the illustrative example (and diagram) discusses two clients outside of the corporate network.
It would be great to clarify in the sentence right above the image: "The following diagram shows you how incoming relay requests are handled by the

[2022-11-30 08:46] #101961 closed

[2022-11-30 08:46] GitaraniSharma-MSFT commented on #101961
@jamesdplee , thank you for your feedback. You are right. The limitation of one hub per region was removed.
Refer : https://learn.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#is-it-possible-to-create-multiple-virtual-wan-hubs-in-the-same-region

I've updated the doc to reflect the below statement:
The hub is the core of your network in a region and the vpn endpoint (vpngateway) inside it

[2022-11-30 08:46] AjayKumar-MSFT commented on #102077
@kohei-miyoshi, Thanks for the feedback! We are taking a look into this and will get back to you soon.

@cephalin, requesting your review and comments.

[2022-11-30 08:47] jamesdplee commented on #101961
Awesome. Thank you!

[2022-11-30 09:05] xenon8 commented on #101795
Hi John,

Thanks for getting back to me and thanks for the link to other limits that apply to endpoints and origin groups. I did not know this page existed, please can you add a link to this in the article, as it makes it a lot easier when review the documentation for a new service offering if all of the information is in the same place.

[code]

Please can you add these statements to the article,

[2022-11-30 09:39] #101980 closed

[2022-11-30 09:44] VikasPullagura-MSFT commented on #102079
@bedlam-au
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-11-30 09:49] SadiqhAhmed-MSFT commented on #101941
@Vikram1988 Just a soft reminder to review this feedback.

[2022-11-30 09:50] SadiqhAhmed-MSFT commented on #102001
@sagarkeswani Closing this thread as no action pending on us.

[2022-11-30 09:50] #102001 closed

[2022-11-30 10:13] Naveenommi-MSFT commented on #101976
@vwxyzh
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there

[2022-11-30 10:13] ruijarimba opened #102085 "Configure an AKS cluster - documentation about Ephemeral OS is outdated"
This part of the document should be updated:

Why? Because the `cache size in GiB` information was [removed from the VMs documentation](https://github.com/MicrosoftDocs/azure-docs/commit/d1ffeb2cbcd4889b046be951cf3d44015dc6d58c).

Is the above paragraph still relevant? If so, where can I find the information about the cache size for the VMs?

---
#### Document Details

⚠ *Do not edit this section.

[2022-11-30 10:20] Devvox93 opened #102086 "Note about ApiM soft- or permanent delete incorrect"
The following sentence at the top of the page is incorrect:
"An API Management instance deleted using API Management commands in Azure PowerShell or Azure CLI is **permanently deleted**."

I have used the Remove-AzApiManagement command with Az module version 9.1.1 and this put the apim instance in soft-delete mode.
This docs page says it would/should be permanently deleted.

---
#### Document Deta

[2022-11-30 10:21] madsd commented on #101667
Hi @maloyaxa

1) Can you please suggest how/where you would make changes to make it clearer. Not sure I understand what other endpoint it could be.
2) Port 21 is also used for internal health checks, but the rule can be defined with a source of LoadBalancer only. This is already described in the Network security group section.

[2022-11-30 10:35] KrishnaG-MSFT commented on #102073
@lB2B Thanks for your comment! We will review and provide an update as appropriate.

[2022-11-30 10:36] salaj commented on #102080
@SaibabaBalapur-MSFT thanks for your reply.
In the linked docs there is a paragraph about Connection token and this picture:
![image](https://user-images.githubusercontent.com/5943232/204773511-e5d44153-21a9-4fb7-a812-fc0c6456112d.png)
The question is in which place this Connection token is added to request. Can I track this token in network sniffer tool like Fiddler?

[2022-11-30 10:38] #102079 closed

[2022-11-30 10:39] SaibabaBalapur-MSFT commented on #102079
I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request).

[2022-11-30 10:45] VikasPullagura-MSFT commented on #99683
@cynthn I don't see a way to reroute this to an issue on template.

@dwschulze I have opened a new issue in the repo where the template is present.
https://github.com/Azure/azure-quickstart-templates/issues/13007

I am closing this now. Request you to follow the newly opened issue for updates.

[2022-11-30 10:45] #99683 closed

[2022-11-30 11:09] JananiRamesh-MSFT commented on #102086
@Devvox93 Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 11:26] madsd commented on #45511
@fleetwoodstack For editing rules in portal, you also need subnet/read. Can you confirm that this will work for you? I can then update the docs to state that this is required for portal updates only.

[2022-11-30 11:27] madsd commented on #101741
@fleetwoodstack For editing rules in portal, you also need subnet/read. Can you confirm that this will work for you? I can then update the docs to state that this is required for portal updates only.

[2022-11-30 11:32] madsd commented on #102028
@johamms I confirmed the issue and will create a work item for the portal UX team to resolve this. As a workaround you can create the subnet first in the Virtual Network, and then integrate with your Logic App from the App Service Networking blade.
Thank you for your help here.

[2022-11-30 11:42] SnehaAgrawal-MSFT commented on #102014
@spokanedj Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-11-30 11:51] fleetwoodstack commented on #45511
Hi @madsd do you mean the Microsoft.Network/virtualNetworks/subnets/read action?

[2022-11-30 12:31] rfcdejong commented on #88037
Any update on this? We see it as well on AVD 2022

[2022-11-30 13:13] fleetwoodstack commented on #45511
Hi @madsd i'm afraid that didn't do the trick. We still get the error saying we can't update the existing rule:
![image](https://user-images.githubusercontent.com/110163016/204805398-5eabba6b-e3e2-4112-9de2-abe7500e34eb.png)

[2022-11-30 13:18] madsd commented on #45511
Would you mind trying with virtualNetwork/read action? This should be UX specific where it requires extra permissions to render the UX.

[2022-11-30 13:20] fleetwoodstack commented on #45511
sure, do you mean:
Microsoft.Network/virtualNetworks/read

?

[2022-11-30 13:21] madsd commented on #45511
yes

[2022-11-30 13:33] seesharprun commented on #102024
No, this feature is still in preview and does not have an anticipated release date.

[2022-11-30 14:58] msangapu-msft commented on #80590
#please-close

[2022-11-30 14:58] #80590 closed

[2022-11-30 15:08] dewitweb opened #102093 "Typo in a paragraph"
Hello,

I think there is a typo in the following paragraph:

`Alternatively, cloud role instance can be helpful for scenarios where a cloud role name tells you the problem is somewhere in your web front end. But you might be running multiple load-balanced servers across your web front end. Being able to drill in a layer deeper via Kusto queries and knowing if the issue is affecting all web front-e

[2022-11-30 15:16] AICowboy opened #102094 "https://adflabstaging1.blob.core.windows.net/share/Transformations.html broken (again)"
The notebook template at https://adflabstaging1.blob.core.windows.net/share/Transformations.html seems to be broken again.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 91402667-4be2-ddaf-6b7a-d24d478e5cac
* Version Independent ID: f171700d-f8e1-8b79-779c-9e12c0a03fa8
* Content: [Transformation with Azure Databricks

[2022-11-30 15:23] VikasPullagura-MSFT commented on #102085
@ruijarimba
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-30 15:23] VikasPullagura-MSFT commented on #102085
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-30 15:53] seesharprun commented on #101760
We have a newer version of this article releasing later today.

[2022-11-30 15:54] JLambEJG commented on #88037
On our systems, I found that our security team is passing all network traffic from our private Azure subnets through Zscaler. The Azure KMS apparently doesn't like that. Our network team implemented a direct path/bypass for the KMS traffic, which solved the problem.

[2022-11-30 16:09] #101760 closed

[2022-11-30 16:27] MonikaReddy-MSFT commented on #102093
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-11-30 16:27] smithGit opened #102097 "Connection is closed before request completes"
The tutorial is good but I am getting error on connection.close() because the connection is closed prior to the request being completed.  Is there a need to add an "await" step at some point to allow the request to complete before closing the connection?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b9745566-0266-330

[2022-11-30 16:29] BzSpi commented on #86011
After discussing with the support, the behavior is the following:

1. storage and function in the same region:
- a storage is accessed privately by the function
- limiting the access to the storage is only possible with VNet integration
- due to the limitation, it's not possible to have a firewall on the storage account for consumption functions

2. storage and function in different regions
- limi

[2022-11-30 16:34] MonikaReddy-MSFT commented on #102093
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-30 16:34] #102093 closed

[2022-11-30 16:40] psignoret commented on #91931
@jmprieur The text in the "note" box in this article is from April 2019 and continues to be inaccurate and incomplete. The "step 1.3" you link to uses Azure AD PowerShell + the portal, instead of just using Microsoft Graph PowerShell. This should be updated.

[2022-11-30 16:41] psignoret commented on #91931
#please-open

[2022-11-30 16:42] tasdflkjweio opened #102098 "Documentation appears to be wrong"
Documentation says:

[code]

I think `--name $resourceGroup` should instead be `--name $cache`.

Also, there are some references in the subsequent lines to `contoso`, which appears to be wrong, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2f126454-f2c0-8f47-3431-af465a4303a5
* Version Independent ID: b2128951-d

[2022-11-30 16:55] SaibabaBalapur-MSFT commented on #102084
@MS-Santi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 16:58] SaibabaBalapur-MSFT commented on #102094
@AICowboy
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-30 17:00] spelluru commented on #102084
@dlstucki - could you please review this GitHub issue when you get a chance? Thanks.

[2022-11-30 17:00] SaibabaBalapur-MSFT commented on #102097
@smithGit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 17:02] SaibabaBalapur-MSFT commented on #102098
@tasdflkjweio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 17:05] sharmadhiraj86 commented on #102098
Hi @SaibabaBalapur-MSFT  can I contribute to the issue .

[2022-11-30 17:05] kevin-george-ul opened #102099 "Update Quotas for Static Web App to include file limitation"
Please add a file count limitation as described in [#520](https://github.com/Azure/static-web-apps/issues/520)

There is a limitation on the number of files that a Static Web App can contain, which is 15,000

Related:

* _@sgollapudi77 in https://github.com/Azure/static-web-apps-cli/issues/611#issuecomment-1332441904_
* https://github.com/Azure/static-web-apps/issues/520
* https://github.com/Azure

[2022-11-30 17:17] v-jbasden commented on #101336
Thanks for the feedback. The images have been updated.

#please-close

[2022-11-30 17:18] #101336 closed

[2022-11-30 17:21] AICowboy commented on #102094
Should have included that to begin with.  It is [here](https://learn.microsoft.com/en-us/azure/data-factory/solution-template-databricks-notebook).

[2022-11-30 17:23] vinibiavatti1 commented on #40403
Waiting for the doc and answer too

[2022-11-30 17:52] kateglee-db commented on #75923
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and the outdated content has been removed. we are closing the issue.

#please-close

[2022-11-30 17:58] greg-lindsay commented on #85395
@NiKiZe Can you please describe the scenario more fully forme that you feel is incorrectly documented, and I will try to describe it in the FAQ better.
Keep in mind that all DNS clients use a DNS server for recursion, even if that DNS client is a DNS server itself.  This gets a little confusing when the client device is a DNS server, but it doesn't change the way that traffic manager works. See ht

[2022-11-30 18:07] JananiRamesh-MSFT commented on #101921
@danialtham We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-30 18:07] #101921 closed

[2022-11-30 18:12] NiKiZe commented on #85395
Yes all DNS clients use a DNS server for recursive queries. The invalid assumption is that all recursive DNS servers has IPv4.

The incorrect documentation is that TM works over IPv6 due to "all recursive DNS servers have legacy IPv4" they don't.

To be frank, you are playing with words here. The service is not IPv6 compatible. Stop trying to claim that it is.

Change the quoted section in opening

[2022-11-30 18:25] pauljewellmsft commented on #101957
Thanks so much for your feedback! The link is fixed, and the changes should go live later today.

#please-close

[2022-11-30 18:25] #101957 closed

[2022-11-30 18:39] PatAltimore commented on #100808
Hi @drwill-ms ,

I added details about authenticating to ACR. Thanks for the feedback. I'm going close the issue.

Thanks,
Pat
#please-close

[2022-11-30 18:39] #100808 closed

[2022-11-30 18:40] greg-lindsay commented on #85395
@NiKiZe Hi - was my initial guess correct, that an IPv6-only DNS server as a client device doesn't work?  We aren't trying to misrepresent the service, only to describe scenarios where it can still work with IPv6.  Please answer my question about the scenario - thanks!
-Greg

[2022-11-30 18:44] MGoedtel commented on #102085
I've reviewed this and upon consideration, I believe this is the right reference to redirect people to regarding guidance on Ephemeral OS from the Azure VM team - https://learn.microsoft.com/en-us/azure/virtual-machines/ephemeral-os-disks. I'm going to create a work item for this and get the article updated before the week is out.

[2022-11-30 18:50] techsnav opened #102104 "Virtual networks with Network Policies aren't supported for Private Endpoints"
[Enter feedback here]
Virtual networks with Network Policies aren't supported for Private Endpoints. You'll need to [disable Network Polices](https://learn.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy) before continuing.

Is the above still a valid statement, now that UDR support for Private Endpoint is GA? Can you explain the reason why Network Policies need to b

[2022-11-30 18:51] KrishnaG-MSFT commented on #101901
Tagging @mmccrory for visibility, review, to provide insights and enhance the document as appropriate.

[2022-11-30 19:04] NiKiZe commented on #85395
Try 'nslookup -type=NS trafficmanager.net' no AAAA records.

Full path writeup:
https://learn.microsoft.com/en-us/answers/questions/640940/enable-ipv6-on-azure-cdn-azureedgenet.html#answer-646841

You should admit to Microsoft's lack of IPv6 support. "at this time we do not support IPv6 only reqursive DNS servers"

(Sorry for being hard here, but lack of IPv6 is frustrating and the statements from

[2022-11-30 19:13] VitalyMCT opened #102106 "Managing custom objects via Synapse Studio GUI?"
Regarding

From my experimentation it seems that these custom objects are invisible in Synapse Studio. They can only be accessed via T-SQL (or perhaps Spark notebooks). Is this a known limitation or a bug? Can the documentation please be extended to cover this aspect?

Example, using a stored procedure:

![image](https://user-images.githubusercontent.com/1765732/204887680-6832d331-9c45-481a-9aa5-2

[2022-11-30 19:14] BobRed0965 opened #102107 "Link is incorrect"
The link " Create your first function from the Azure portal", which should show the prerequisite tutorial is incorrect.  It does not take you to the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 939101cd-9c92-ed8f-b241-664794db8a0d
* Version Independent ID: 21392fd3-c4e7-f785-a660-ebbbf88646e4
* Content: [S

[2022-11-30 19:17] kateglee-db commented on #76828
@datadu-de We received your request on the doc-feedback email channel today. Thanks again for your interest in this issue. The scope of our feedback channel here on GitHub covers specific documentation fixes and this issue is related to the KB. This content was removed by the support team, which owns the KB content. If you want to contact them directly, go to the [Databricks Knowledge Base](https:

[2022-11-30 19:18] brianlehr commented on #102011
@eliro2093 Thanks for pointing that out.  Should have this fixed by 12/1.

#please-close

[2022-11-30 19:19] lauradolan commented on #102056
@sagarkeswani can your team please investigate these proposed changes?

#reassign:sagarkeswani

[2022-11-30 19:20] lauradolan commented on #102059
@sagarkeswani  can your team also please review these proposed changes?

#reassign: sagarkeswani

[2022-11-30 19:21] greg-lindsay commented on #85395
@NiKiZe thanks for that detail!  I apologize for any lack of support. I am working with the product team to clarify exactly what is (and what isn't) supported in this scenario.  I have already created a PR to update the FAQ and will push this out later today hopefully.

[2022-11-30 19:29] SatishBoddu-MSFT commented on #102044
Hello @kiranpradeep thanks for sharing your feedback!

"A **Runtime** is like the utilities built into the building, while a **Framework** is more like the scaffolding. Frameworks are a construction idea, but runtimes are at work for the life of the device or any running software."

The Azure IoT Edge runtime enables custom and cloud logic on IoT Edge devices. The runtime sits on the IoT Edge devi

[2022-11-30 19:29] #102044 closed

[2022-11-30 19:32] VitalyMCT opened #102108 "Delta Lake Public Preview"
There are multiple references on this page to delta lake aspects being in public preview.

However, the official page at https://learn.microsoft.com/en-us/azure/synapse-analytics/sql/query-delta-lake-format makes no reference to the public preview status.

Can you please clarify this aspect? Is the page out of date and is the feature now GA? Or is there a mix of related features, with some GA and

[2022-11-30 19:56] bbrandt opened #102109 "Exporting Should be Done in Deployment Pipeline to Allow for Multiple Environment Support"
Example script that can be used in deployment pipeline to generate appsettings.json from multiple layers of configuration:

https://gist.github.com/bbrandt/60e7713b2826ce30e17b5752dfbeedd1

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 48545e6e-02ea-1a4a-c74a-82af6513a7f7
* Version Independent ID: 916d7949-1a62-1d74-7

[2022-11-30 20:02] GennadNY commented on #101687
@dhduvall - can we close this?

[2022-11-30 20:04] MGoedtel commented on #102085
See PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/219955. I'm going to proceed with closing this GitHub issue, thanks. #please-close

[2022-11-30 20:04] #102085 closed

[2022-11-30 20:07] GennadNY commented on #100902
@WenJason - i don't believe we are updating root ca in mooncake at this time

[2022-11-30 20:08] GennadNY commented on #100902
@shaktisingh-msft - can we close?

[2022-11-30 20:09] dimitri-furman commented on #101952
@spkvijay thanks for your feedback, and our apologies for any inconvenience this limitation is causing. We encourage you and everyone who feels that the 45-day limitation for reverse migration from Hyperscale is impacting their ability to adopt Hyperscale to file feedback, and/or upvote existing feedback items via [SQL feedback](https://aka.ms/sqlfeedback).

Seeing clear customer demand for removi

[2022-11-30 20:45] shlipsey3 commented on #100666
@DeanGross - Does the information I dropped in the thread here help you out? Just looking to close this issue out...

[2022-11-30 20:48] SatishBoddu-MSFT commented on #102033
Hello @sergiosolorzano
Thanks for reaching out on this topic!

Please have a look at the documentation on the [Azure SignalR Service documentation](https://learn.microsoft.com/en-us/azure/azure-signalr/)

[SignalR Hubs](https://learn.microsoft.com/en-us/azure/azure-signalr/signalr-concept-serverless-development-config#signalr-hubs)
SignalR has a concept of _**hubs**_. Each client connection and ea

[2022-11-30 20:48] #102033 closed

[2022-11-30 20:49] SatishBoddu-MSFT commented on #101989
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-11-30 20:49] #101989 closed

[2022-11-30 20:50] dhduvall commented on #101687
Not yet; we're making progress in the support ticket, but there are still a couple of unanswered questions, and I think changes will need to be made to this page as a result. If you'd rather have that as a separate ticket, though, that's up to you.

[2022-11-30 20:54] GeethaThatipatri-MSFT commented on #101952
Thanks, @dimitri-furman for your inputs
@spkvijay We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-11-30 20:54] #101952 closed

[2022-11-30 20:54] mike-urnun-msft commented on #102109
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-30 21:07] JasonWHowell commented on #81639
#please-close

[2022-11-30 21:07] #81639 closed

[2022-11-30 21:10] normesta commented on #101955
Thank you for your input @CosminVana! Adding more real-world applications of Queues involving the encoding / decoding of queue content would be certainly interesting. The contents of what is actually placed into the queue in terms of data is sparse by design to avoid distracting from the mechanics of creating, populating and using queues. Given resource priorities, we don't plan on modifying these

[2022-11-30 21:10] #101955 closed

[2022-11-30 21:24] brianstringfellow opened #102111 "Typo in actions for section 'moving management groups and subscriptions'"
One of the actions in the list doesn't work because the wording should be plural.
Currently:
`Microsoft.management/managementgroups/subscription/write (only for Subscriptions)`
Should be:
`Microsoft.management/managementgroups/subscriptions/write (only for Subscriptions)`

Otherwise, using the current version causes a new custom role definition to fail.

https://learn.microsoft.com/en-us/azure/gov

[2022-11-30 21:28] dknappettmsft commented on #101982
Thank for the feedback. The article doesn't just imply that Azure Firewall and NAT Gateway use Symmetric NAT, it states that it does. I've added clarification that they're not supported for RDP Shortpath for public networks. The change should be visible later today.

#please-close.

[2022-11-30 21:28] #101982 closed

[2022-11-30 21:30] greg-lindsay commented on #85395
@NiKiZe I've completed updating the FAQ for now and will add additional details as I get them from the product team regarding any and all workarounds for IPv6 scenarios. The FAQ will publish my update in about 3 hours.

[2022-11-30 21:30] greg-lindsay commented on #85395
#please-close

[2022-11-30 21:30] #85395 closed

[2022-11-30 21:37] mike-urnun-msft commented on #102107
@BobRed0965 Thank you for your feedback!

@ggailey777 Since we don't have Portal development docs in Quickstart anymore, should we opt to re-phrase statement in the link? or re-link to a different doc?

[2022-11-30 22:17] DeanGross opened #102113 "inaccurate instructions"
I don't see the ability to create a remediation task, I do have create a managed identity, which is not mentioned in the instructions. Please update the instructions to accurately describe the Remediation page in the Assign Policy wizard for the Enable Microsoft Defender for Cloud on your subscription policy

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsof

[2022-11-30 22:23] bandersmsft commented on #101730
https://github.com/MicrosoftDocs/azure-docs-pr/pull/220001

[2022-11-30 22:29] superjoe2000 opened #102114 "parameter dev-center-name is incorrect in the document"
[Enter feedback here]
The learn document “Microsoft Dev Box Preview Azure CLI reference” found at [Microsoft Dev Box Preview Azure CLI Reference - Microsoft Dev Box Preview | Microsoft Learn](https://learn.microsoft.com/en-us/azure/dev-box/cli-reference-subset#dev-boxes) contains typographic errors.  I’m identifying two of them here.

az devcenter dev dev-box list --devcenter {devCenterName} `

az

[2022-11-30 22:30] spkvijay commented on #101952
Thank you very much.

Regards,
S.Vijay Kumar

On Wed, Nov 30, 2022 at 12:54 PM GeethaThatipatri-MSFT <
***@***.***> wrote:

[2022-11-30 22:38] normesta commented on #101859
Hi @terafirma92 thank you for your feedback around the quality of this reference article. This article is essentially the output of the command line inline help so it is not quite as polished as a typical docs article. This is why the two sources (inline help and ref article look identical. If you have specific feedback around that inline (and related help output) - or - you're seeking some specif

[2022-11-30 22:38] #101859 closed

[2022-11-30 22:40] bandersmsft commented on #101730
@mariatancu Hi there. I spoke with the Billing engineering team and we've updated the article with the following text. Hopefully the update is clear for your partner:

The updated artilce will get refreshed live later today or tomorrow.

[2022-11-30 22:43] bandersmsft commented on #101730
#please-close

[2022-11-30 22:43] #101730 closed

[2022-11-30 22:48] pgbfnf opened #102116 "How do we know which Certificate Authorities are considered "well known" for AZ App Gateway V2 backend settings?"
It would be useful to have instructions on how to determine which Certificate Authorities are considered "Well Known" by this setting:
![image](https://user-images.githubusercontent.com/89667176/204924734-97c367c6-8dce-448e-ba19-248cb7cbc5ef.png)
Can you provide instructions on where to find this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microso

[2022-11-30 22:49] pgbfnf commented on #102116
According to a survey done in July 2022, these are the top CAs used around the world:
![image](https://user-images.githubusercontent.com/89667176/204924974-a6b3c60a-65ab-43fe-9e7f-b80232ae21d8.png)
Are all of these considered "Well Known"?

[2022-11-30 23:00] normesta commented on #101119
Thank you for reporting this issue @himachida - I've created a work item internally to address this issue. The item number is 749091. Thank you!

#please-close

[2022-11-30 23:00] #101119 closed

[2022-11-30 23:06] RyanHill-MSFT commented on #79483
@btardif for awareness.

[2022-11-30 23:06] jmprieur commented on #91931
Ok. I understand
Do you have any link on how to do @psignoret ?
cc: @kalyankrishna1

[2022-11-30 23:12] bandersmsft commented on #99119
@woter1832 Yes, that's a good point you've made. I've updated the article to echo your suggestion. Unfortunately, the Billing engineering team isn't ready to share or document the script you suggest. If and when team is ready the share the script, we'll update the article to explain it. Thanks!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/220008

#please-close

[2022-11-30 23:12] #99119 closed

[2022-11-30 23:36] JasonWHowell commented on #83993
#please-close

[2022-11-30 23:36] #83993 closed

[2022-11-30 23:36] JasonWHowell commented on #83854
#please-close

[2022-11-30 23:36] #83854 closed

[2022-11-30 23:36] JasonWHowell commented on #83610
#please-close

[2022-11-30 23:36] JasonWHowell commented on #83520
#please-close

[2022-11-30 23:36] #83520 closed

[2022-11-30 23:36] JasonWHowell commented on #83517
#please-close

[2022-11-30 23:36] #83517 closed

[2022-11-30 23:37] bandersmsft commented on #102041
@tafelhase Thanks for your suggestion. I've added a note in the EA portal section to say:

The EA portal hasn't been retired for indirect EA users yet. They can continue to use it. It's read only for others. When the EA portal is fully retired, we'll update all of the articles accordingly.

#please-close

[2022-11-30 23:37] #102041 closed

[2022-11-30 23:37] JasonWHowell commented on #83487
#please-close

[2022-11-30 23:37] #83487 closed

[2022-11-30 23:37] JasonWHowell commented on #83289
#please-close

[2022-11-30 23:37] #83289 closed

[2022-11-30 23:37] JasonWHowell commented on #83124
#please-close

[2022-11-30 23:37] #83124 closed

[2022-11-30 23:37] JasonWHowell commented on #83111
#please-close

[2022-11-30 23:37] #83111 closed

[2022-11-30 23:37] JasonWHowell commented on #83072
#please-close

[2022-11-30 23:37] #83072 closed

[2022-11-30 23:37] JasonWHowell commented on #83014
#please-close

[2022-11-30 23:37] #83014 closed

[2022-11-30 23:38] JasonWHowell commented on #82941
#please-close

[2022-11-30 23:38] #82941 closed

[2022-11-30 23:38] JasonWHowell commented on #82882
#please-close

[2022-11-30 23:38] #82882 closed

[2022-11-30 23:38] JasonWHowell commented on #82881
#please-close

[2022-11-30 23:38] #82881 closed

[2022-11-30 23:38] JasonWHowell commented on #82797
#please-close

[2022-11-30 23:38] #82797 closed

[2022-11-30 23:38] JasonWHowell commented on #81958
#please-close

[2022-11-30 23:38] #81958 closed

[2022-11-30 23:38] JasonWHowell commented on #81848
#please-close

[2022-11-30 23:38] #81848 closed

[2022-11-30 23:38] JasonWHowell commented on #81662
#please-close

[2022-11-30 23:38] JasonWHowell commented on #81548
#please-close

[2022-11-30 23:38] #81662 closed

[2022-11-30 23:38] #81548 closed

[2022-11-30 23:39] JasonWHowell commented on #81518
#please-close

[2022-11-30 23:39] #81518 closed

[2022-11-30 23:39] JasonWHowell commented on #81204
#please-close

[2022-11-30 23:39] #81204 closed

[2022-11-30 23:39] JasonWHowell commented on #81201
#please-close

[2022-11-30 23:39] #81201 closed

[2022-11-30 23:39] JasonWHowell commented on #81114
#please-close

[2022-11-30 23:39] #81114 closed

[2022-11-30 23:39] JasonWHowell commented on #80786
#please-close

[2022-11-30 23:39] #80786 closed

[2022-11-30 23:40] JasonWHowell commented on #80798
#please-close

[2022-11-30 23:40] #80798 closed

[2022-11-30 23:40] JasonWHowell commented on #80893
#please-close

[2022-11-30 23:40] #80893 closed

[2022-11-30 23:40] JasonWHowell commented on #80901
#please-close

[2022-11-30 23:40] #80901 closed

[2022-11-30 23:40] JasonWHowell commented on #80956
#please-close

[2022-11-30 23:40] #80956 closed

[2022-11-30 23:40] JasonWHowell commented on #81773
#please-close

[2022-11-30 23:40] #81773 closed

[2022-11-30 23:40] JasonWHowell commented on #82790
#please-close

[2022-11-30 23:40] #82790 closed

[2022-11-30 23:40] v-jbasden commented on #101736
Thanks for the feedback. To change the pricing tier for a workspace, you must be assigned to one of the following roles:

- Log Analytics Contributor role
- A custom role with `Microsoft.OperationalInsights/workspaces/*/write` permissions.

This has been added in [MicrosoftDocs/azure-docs-pr#220006](https://github.com/MicrosoftDocs/azure-docs-pr/pull/220006). #please-close

[2022-11-30 23:40] #101736 closed

[2022-11-30 23:41] JasonWHowell commented on #75923
#please-close

[2022-11-30 23:41] #75923 closed

[2022-11-30 23:41] JasonWHowell commented on #78715
#please-close

[2022-11-30 23:41] #78715 closed

[2022-11-30 23:42] JasonWHowell commented on #78776
#please-close

[2022-11-30 23:42] #78776 closed

[2022-11-30 23:42] JasonWHowell commented on #78824
#please-close

[2022-11-30 23:42] #78824 closed

[2022-11-30 23:42] JasonWHowell commented on #78858
#please-close

[2022-11-30 23:42] #78858 closed

[2022-11-30 23:43] JasonWHowell commented on #78950
#please-close

[2022-11-30 23:43] #78950 closed

[2022-11-30 23:43] JasonWHowell commented on #79140
#please-close

[2022-11-30 23:43] #79140 closed

[2022-11-30 23:43] JasonWHowell commented on #79157
#please-close

[2022-11-30 23:43] #79157 closed

[2022-11-30 23:43] JasonWHowell commented on #79259
#please-close

[2022-11-30 23:43] #79259 closed

[2022-11-30 23:43] JasonWHowell commented on #79379
#please-close

[2022-11-30 23:43] #79379 closed

[2022-11-30 23:44] JasonWHowell commented on #79486
#please-close

[2022-11-30 23:44] #79486 closed

[2022-11-30 23:44] JasonWHowell commented on #79523
#please-close

[2022-11-30 23:44] #79523 closed

[2022-11-30 23:44] JasonWHowell commented on #79554
#please-close

[2022-11-30 23:44] #79554 closed

[2022-11-30 23:45] JasonWHowell commented on #79661
#please-close

[2022-11-30 23:45] #79661 closed

[2022-11-30 23:45] JasonWHowell commented on #79839
#please-close

[2022-11-30 23:45] #79839 closed

[2022-11-30 23:45] JasonWHowell commented on #79916
#please-close

[2022-11-30 23:45] #79916 closed

[2022-11-30 23:45] JasonWHowell commented on #80138
#please-close

[2022-11-30 23:45] #80138 closed

[2022-11-30 23:45] JasonWHowell commented on #80219
#please-close

[2022-11-30 23:45] #80219 closed

[2022-11-30 23:45] JasonWHowell commented on #80494
#please-close

[2022-11-30 23:45] #80494 closed

[2022-11-30 23:45] JasonWHowell commented on #80509
#please-close

[2022-11-30 23:45] #80509 closed

[2022-11-30 23:45] JasonWHowell commented on #80728
#please-close

[2022-11-30 23:45] #80728 closed

[2022-11-30 23:46] dennyeapen opened #102118 "Page Not Found"
https://learn.microsoft.com/en-us/open-datasets/dataset-taxi-green.md?tabs=azureml-opendatasets#additional-information - Page Not Found

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2a-490b-0cdd-7d95-21139a20f4ff
* Version Independent ID: 181a621d-0e83-af7d-cb8a-7e63f3195604
* Content: [Quickstart: Get started

[2022-11-30 23:48] jackbond commented on #101969
net7.0 shipped with native support for HTTP/3 in Kestrel.

I'm not a networking expert, but google's load balancers support HTTP/3 with a single click, so you guys probably ought to as well.

https://cloud.google.com/blog/products/networking/cloud-cdn-and-load-balancing-support-http3

[2022-11-30 23:53] WilliamDAssafMSFT commented on #101596
Meanwhile, the UI "bug" is really a symptom of screen width. The columns can be enlarged to show the full column names. It only appears that 4 columns have the same name but the column boundaries can be widened. This feedback has also been sent to the right places.

[2022-11-30 23:59] rolyon commented on #101357
Hi @tspearconquest
Thanks for your feedback. I looked at the Microsoft.Network resource provider and it does not have this action:
Microsoft.Network/virtualNetworks/subnets/action
This documentation is generated based on the resource provider, so I'm not able to add this action to the doc.
Are you making a request to have this action added to the resource provider?
thanks