[2019-02-14 10:05] JakubHolovsky opened #24928 "Notification Hubs - outdated code samples"
The following code is outdated:
[code]

Should be probably replaced with "Notifications.Instance.Hub.SendFcmNativeNotificationAsync()" as "Gcm" is no longer supported in the official nuget package and so this code does not compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e474fcd1-4479-be1b-8711-d709a16ecca1
* Ve

[2019-02-14 10:15] YASWANTHM-MSFT commented on #24481
@jochenvanwylick , did you installed the Storage preview extension?

#Install the extension “Storage-Preview”
az extension add --name storage-preview

[2019-02-14 10:16] jochenvanwylick commented on #24481
Hi @YASWANTHM-MSFT ,

OK - confirmed - indeed you cannot reproduce because you're running the `storage-preview` extension - found here: [https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview](https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview)

After running
`C:\_CODE>az extension add --name storage-preview`

Verified installation with `az --versi

[2019-02-14 10:20] ChiragMishra-MSFT commented on #24851
@amolmore3171 Since the issue doesnt seem to be a doc issue, I would recommend you to create a thread for the issue on the forums ([MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics) and [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-stream-analytics)).

Once you post your issue on forums, it will have visibility across the community which is

[2019-02-14 10:20] #24851 closed

[2019-02-14 10:22] dhananjaypatkar opened #24929 "Usage of additional storage account"
With Reference to https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-add-storage
Can you also add details about, how additional storage account will get utilized.

For example :
I have a hdinsight HBase cluster with storage [store1] attached and configured with fs.defaulFS pointing to container on [store1].

Now I attach another storage account [store2], BUT as my defaultFS is still

[2019-02-14 10:24] KetanChawda-MSFT commented on #24831
@soonwong You can check the difference between Consumption Plan and App Service Plan in the below document.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 10:24] #24831 closed

[2019-02-14 10:28] KetanChawda-MSFT commented on #24922
@SychevIgor Thank you for your feedback. We will review this and provide an update as appropriate.

[2019-02-14 10:28] ChiragMishra-MSFT commented on #24927
@imeya Once the retention interval has elapsed we will, on our own time, clean up the data. It will be gone forever.

To read about data retention in event hubs, please refer [this blog](https://blogs.msdn.microsoft.com/servicebus/2015/03/09/data-retention-in-event-hubs/).

[2019-02-14 10:29] #24927 closed

[2019-02-14 10:29] jmprieur commented on #24914
All the samples are https://aka.ms/aaddevsamplesv2.
indeed for daemon apps for the moment we have only .NET samples … more are coming
@navyasric is the PM for Java, Python and Node, and has a few samples in progress. You might want to assign the issue to her.

[2019-02-14 10:32] jochenvanwylick commented on #24850
Hi @PramodValavala-MSFT ,
the link is indeed off, and the link shows the proper instructions ! So the page I was looking at yesterday was this one: [https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local) and I was reading the section:

![image](https://user-images.githubusercontent.com/3002474/52781094

[2019-02-14 10:33] AdiGanMsft commented on #24482
@AlexanderFergusonBI,
We are working on the feature, and it should be available in the next 3-4 months.

Meanwhile, you can use Azure Backup Log Analytics Solution (https://azure.microsoft.com/en-us/blog/monitor-all-azure-backup-protected-workloads-using-log-analytics/) to view and analyze the data for DPM.

[2019-02-14 10:39] SnehaAgrawal-MSFT commented on #24918
Thanks for the feedback! We are investigating and will update you shortly.

[2019-02-14 10:44] SubhashVasarapu-MSFT commented on #24525
@mbell85 Appreciate your patience. You can follow the provided URL for enabling Active-Active connection via the azure portal.
![image](https://user-images.githubusercontent.com/44890829/52781429-8d81a680-3072-11e9-9bd0-8c146d970317.png)
URL : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-site-to-site-resource-manager-portal#VNetGateway
Secondly, you can use the same preshar

[2019-02-14 10:45] PramodValavala-MSFT commented on #24850
@jochenvanwylick Glad that you were able to move forward with it! 😄

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 10:45] #24850 closed

[2019-02-14 10:49] nipunsahni commented on #24918
I am facing similar issue as well. Initially it reported the backup configuration failed to save. However, the backup eventually worked. Still it failed to account for the _backup.filter file and backed up everything

[2019-02-14 11:00] raghavan20 commented on #23265
what is the value to set to say messages should not expire? This section does not document the answer for my question, https://docs.microsoft.com/bs-latn-ba/azure/iot-edge/offline-capabilities?view=azurekeyvaultwebkey-2.0.4#time-to-live.

[2019-02-14 11:04] DashleenBhandari-MSFT commented on #24925
@cyau73, Thanks for the question! We are investigating and will update you soon.

[2019-02-14 11:06] robinmanuelthiel opened #24930 "Is it a good idea, to add pronunciation for the same word in multiple ways?"
Let's say, I want to make sure, the service understands the "AI". Is it a good idea, to add AI multiple times to the pronunciation data, like below or is it recommended to train every pronunciation only once? That information is missing in the docs.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ab661b-de71-2

[2019-02-14 11:09] YASWANTHM-MSFT commented on #24481
@jochenvanwylick , Glad to know that your issue is resolved. Let us know if you need any further assistance on query. Happy to help !

[2019-02-14 11:15] robinmanuelthiel commented on #20812
Any update on this one?

[2019-02-14 11:27] ithubcity opened #24931 "Is it possible we can SQL database sync US cloud to china cloud?"
Is it possible we can SQL database sync US cloud to china cloud? If yes please guide me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8439fa3-ed6f-94cd-107c-c2b00fa97d1a
* Version Independent ID: 0abf3b39-4fd0-a920-e5d2-8ae2bac650cd
* Content: [Set up Azure SQL Data Sync](https://docs.microsoft.com/en-us/azure/sql-d

[2019-02-14 11:31] RohitMungi-MSFT commented on #24890
@v-jaswel The steps for [training the model](https://docs.microsoft.com/en-us/azure/cognitive-services/labs/conversation-learner/tutorials/04-introduction-to-entities#train-the-model) after entering the city name "Seattle" at step 5, We need to identify "Seattle" as city entity before we hit "Score Actions" and select the response in step 6 and 7. Could you please update the document to reflect th

[2019-02-14 11:41] RohitMungi-MSFT commented on #24890
@nitinme Could not find user Jason Wells while reassigning the issue. Could you please help assign the issue to the correct author?

[2019-02-14 11:55] adoelger opened #24932 "SQL statement invalid"
The SQL Statement should be "ALTER TABLE &lt;tableName&gt; SET UNLOGGED" and "ALTER TABLE &lt;tableName&gt; SET LOGGED".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa31f14-6514-0508-7a59-548a182a1dcb
* Version Independent ID: 101ffc44-d1ec-3ed5-c89e-95f1e99447b3
* Content: [Optimize bulk inserts on an Azure Databa

[2019-02-14 11:56] dhulme commented on #8121
Removing wildcards in Reply URLs fixed the issue for me

[2019-02-14 12:08] jakaruna-MSFT commented on #24903
@SimonEast Tutorials are modeled in a way that once the tutorial is completed, All the associates resources are deleted. I Production environments, We will have a re starter and reporter, metrics collector etc.
Including them here may complicate the tutorial for new users.

I will assign this issue to the author to investigate further and update the doc as required.

[2019-02-14 12:16] jakaruna-MSFT commented on #24275
@nageshajab This [document ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster#set-up-a-client-certificate-on-the-remote-computer) will help you to configure proper certificates and use them to login to the cluster explorer.

[2019-02-14 12:18] pdodda19 commented on #12292
hi, getting error as 'query in command must target a single shard key' for Cosmos Mongo API with SpringBoot and MongoRepository for CRUD. Also we are using '_id' in entity. Collection is unlimited and we have Partition key field in collection.  Can you help

[2019-02-14 12:21] Emvardol commented on #18122
Hello! It will be great to have here an update and to take some actions improving the documentation. There are many customer that are facing this issue with CA and it is getting confusing. Thank you!

[2019-02-14 12:21] RonStack commented on #24648
Of course you are right. I didn't mean to say the exact same. I meant to use the example I ran into, having a cert called 'Ronny' and 'Ronny1'. Using -match to return the thumbprint would never work for 'Ronny'.

[2019-02-14 12:27] PramodValavala-MSFT commented on #24921
@cveld You've created this issue for the [Timers in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-timers) doc but I believe you are just using a [Timer Triggered](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer) function.

Could you confirm and if you are indeed using Durable Functions as well, could you

[2019-02-14 12:37] rmosselveld opened #24934 "How to configure SQL reference data with periodical refresh?"
I did setup a SQL reference data input.
If i turn off periodical refresh, the input gets validated correctly.

However, if i turn on periodical refresh, i keep getting the error "Unexpected error while testing the resource." without providing me any more feedback on what is wrong.
What is the prerequisite of setting up a periodical refreshed SQL input?

The table i use is temporal and i have added

[2019-02-14 12:38] jn-altius opened #24935 "Clarification on Amazon S3 connector"
The 'Note' says "Google Cloud Storage provides S3-compatible interoperability"

Is this Source-only interoperability?  Can the S3 connector be used when using Google Cloud Storage as a Sink?  Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521d3279-cc0e-d002-c0d6-2cd367322fde
* Version Independent ID: 06

[2019-02-14 12:44] ManojReddy-MSFT commented on #24648
@RonStack I get it now. I will modify the command to use "-eq" and will update the doc. It will take some time for the doc to be update publicly.

Thanks again for reporting this.

[2019-02-14 12:50] jeffgilb commented on #24868
@yobyot good catch. I'll get this fixed today. It's weird to me that I even published it that way so thanks again for pointing it out.

[2019-02-14 12:54] rich-davies opened #24936 "New-AzADservicePrincipal command line is incorrect"
When running the command I get the following error.
$sp = New-AzADServicePrincipal -DisplayName "AzurePacker" `
&gt;&gt;     -Password (ConvertTo-SecureString $passwordstring -AsPlainText -Force)
New-AzADServicePrincipal : Cannot bind parameter 'PasswordCredential'. Cannot convert the "System.Security.SecureString" value of type "System.Security.SecureString" to type "Microsoft.Azure.Commands.Acti

[2019-02-14 12:59] femsulu commented on #24482
thanks @AdiGanMsft
@AlexanderFergusonBI We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-14 12:59] #24482 closed

[2019-02-14 13:08] jeffgilb commented on #24868
Updates have been merged for publishing today.

[2019-02-14 13:08] jeffgilb commented on #24868
#please-close

[2019-02-14 13:10] SumanthMarigowda-MSFT commented on #24929
@dhananjaypatkar What exactly are you trying accomplish and can please provide me the document which you are referring to the above query?

[2019-02-14 13:19] erndob commented on #24866
I got it to work. I wasn't passing the correct api version in the header, since it's done differently on the storage account api.

[2019-02-14 13:23] SumanthMarigowda-MSFT commented on #24871
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 13:23] #24871 closed

[2019-02-14 13:37] SumanthMarigowda-MSFT commented on #24846
@igomat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 13:37] #24846 closed

[2019-02-14 13:38] SumanthMarigowda-MSFT commented on #24863
@doctordns We have made the necessary changes in the documents and it will be updated soon.

[2019-02-14 13:42] doctordns commented on #24863
Thanks!

[2019-02-14 13:42] RyanHill-MSFT commented on #24928
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-14 13:44] clisc opened #24937 "The example title says its for .NET but all the code examples are in Azure CLI"
I clicked on the link for "Set and retrieve a secret -.NET".  I expected the examples to be in C#.  However, all the examples are in Azure CLI.  Do you have examples of how to use this in C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc43d849-5b06-7185-0c9e-aaf240363aca
* Version Independent ID: 385f4dfe-326a-9e63

[2019-02-14 13:48] julesman101 opened #24939 "Firewall Requirements are confusing at best, wrong at worst."
The column "Direction"in the firewall table should read "Outbound" only.  There is no requirement to open up incoming ports on the customers firewall, or do reverse proxy publishing of MMA Agent endpoints!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b71519d-1b94-c489-ce51-7210eb05b109
* Version Independent ID: fb6a

[2019-02-14 13:53] cwe1ss commented on #24687
I changed my template and passed the whole "userAssignedIdentities" value as a parameter, so I'll just leave it like that and not create a MSDN post.

Thank you for commenting though!

[2019-02-14 13:53] #24687 closed

[2019-02-14 13:53] jzuchora87 commented on #24785
Hello,
We are are a CSP and would like to send diagnostic logs to more than one workspace. For example, we have a customer-facing workspace in each of their subscription and a master reporting workspace in our security center subscription for reporting/compliance where we could aggregate all of the data from our customer subscriptions. They are under the same tenant.

[2019-02-14 14:02] JoshLefebvre opened #24941 "Is it possible to configure virtual nodes on an existing cluster?"
The following document only shows how to configure virtual nodes when creating a new AKS cluster. I was wondering if it would be possible to add a section on how to add virtual nodes to an existing AKS cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183d8705-0563-9944-d779-774c8b828c39
* Version Independent ID:

[2019-02-14 14:06] shashishailaj commented on #24937
@clisc Thank you for your feedback . We will investigate and update the thread further.

[2019-02-14 14:14] Blackmist commented on #22648
@tomekwier DEBUG level is set using the standard Python logging. So something like this in a Python script from the container shell:

[code]

Thanks for reporting this, I'll update this document today to add the info on enabling DEBUG logging level.

[2019-02-14 14:34] jwargo commented on #24928
@JakubHolovsky yes, we're aware of this and the docs are being updated.
@RyanHill-MSFT please close.

[2019-02-14 14:40] mrbullwinkle commented on #24060
Due to the lack of actionable information in this issue we are going to close it out.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-02-14 14:40] PramodValavala-MSFT commented on #24926
@bogan You should be able to see some progress like this but I do understand the concern.
![image](https://user-images.githubusercontent.com/43602528/52793024-c3cf1e00-3092-11e9-86d1-5ca1ef8f14ae.png)

Note that the [npm package](https://github.com/Azure/azure-functions-core-tools/tree/dev/src/Azure.Functions.Cli/npm) is just a simple post install script that fetches a specific [release](https://g

[2019-02-14 14:41] #24060 closed

[2019-02-14 14:44] JoshLefebvre opened #24942 "Unable to enable cluster-autoscaler due to VM Scale Sets not being enabled"
When running the following command against my aks cluster:
[code]
I get the following error message:
&gt; Operation failed with status: 'Bad Request'. Details: AgentPool 'agentpool' has set auto scaling as enabled but is not on Virtual Machine Scale Sets, this is not allowed

I am wondering what this means not allowed on Virtual Machine Scale Sets? When creating the cluster I used the portal and j

[2019-02-14 14:52] abarrafo opened #24943 "Pricing, Non-integrated CA . . ."
I see a non-integrated option in my portal, what is that about? Where are the docs to describe that service? Pricing? What is the average time to completion for the Integrated/Non-integrated CA's. Can we expect the transaction to be complete within 60s?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b55e4f7-8890-adc7-

[2019-02-14 15:09] oleksandr-bilyk commented on #24780
Thank you @MicahMcKittrick-MSFT

[2019-02-14 15:09] tfitzmac commented on #19941
@s-fordham - yes, the csv will be kept up to date with the article. I don't know the exact refresh schedule right now, but my goal is at least a monthly update.

[2019-02-14 15:09] MichelZ opened #24944 "Key Ring?"
Can you add any information on what this means for ASP.NET Core DataProtection? (Key ring - D:\home\ASP.NET\DataProtection-Keys)
Is this folder also cached and not persisted anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f1a8ab-c577-b9e8-b46e-28e0a90a0eae
* Version Independent ID: b716dcf9-1faf-fe60-b7be-f2b

[2019-02-14 15:21] SaurabhSharma-MSFT commented on #24722
@Infinitism We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-14 15:21] #24722 closed

[2019-02-14 15:21] SaurabhSharma-MSFT commented on #24772
@navilwayne We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-14 15:21] #24772 closed

[2019-02-14 15:37] shashishailaj commented on #22700
@kacperryniec @johndowns We have escalated this internally to Product engineering team . Looks like there is some issue from the backend due to which we are unable to perform the operation . I tried adding the ownership of the managed Identity service principal to the tenant Admin using the cmdlet Add-AzureADServicePrincipalOwner but I get the following .

PS C:\WINDOWS\system32> $OwnerId = Get-Az

[2019-02-14 15:42] shashishailaj commented on #22700
@daveba Could you please have a look into this and have the powershell cmdlet below in [this section](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-azure-ad-graph#grant-application-permissions-using-azure-ad-powershell) of the article reviewed.

`
New-AzureAdServiceAppRoleAssignment -ObjectId $ManagedIdentitiesServicePrincipal

[2019-02-14 15:48] mestew commented on #13720
#please-close

[2019-02-14 15:50] mestew commented on #14687
Clarifying this with product team to determine what needs to be updated.

[2019-02-14 15:55] AsdfrGasd opened #24945 "Jxffxgxgxnf"
If I fish jghfhd

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-gb/azure/azure-monitor/overview#next-steps)
* Content Source: [articles/azure-monitor/over

[2019-02-14 15:56] AlekseySokol commented on #24550
Hello @MarkusVi,
My apologize for delay with reply.

[2019-02-14 15:56] #24550 closed

[2019-02-14 15:57] mestew commented on #23940
@CountlessNumber Hey Craig. I can't get this to reproduce. Have you reached out to support to determine if there is a known issue or a configuration issue?

[2019-02-14 16:02] awarberg commented on #24562
I tried the IP from the APIM Overview blade and it is not the gateway (outgoing) IP address. In the end I grabbed the IP from the logs of one of my backend services.

[2019-02-14 16:02] mmendozaf opened #24946 "Apps that requires APP password"
Do you have any list for Apps that requires APP password as it doesn't support MFA ?
I'm specially interested on mail clients and skype on Android and IOS versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Conten

[2019-02-14 16:04] dougsilva1 opened #24947 "Fraud Alert Inconsistency"
This document states that fraud alert is specific to the MFA Server:
"This feature is specific to MFA Server (on-premises)."

This other document states it is supported in the cloud as well:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-whichversion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-02-14 16:06] #24512 closed

[2019-02-14 16:09] AlekseySokol commented on #24550
Hello @MarkusVi
I see those devices as Hybrid Azure AD Join in Azure AD and in complaint state in Intune.
From configuration perspective Azure AD Connect server has been configured based on MS docs:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tutorial-federation and
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-management
Device Registration h

[2019-02-14 16:11] ChiragMishra-MSFT commented on #24934
@rmosselveld Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-14 16:13] AlekseySokol commented on #24550
Also based on documentation above:"Beginning with Windows 10 1803, even if a hybrid Azure AD join attempt by a device in a federated domain through AD FS fails, and if Azure AD Connect is configured to sync the computer/device objects to Azure AD, the device will try to complete the hybrid Azure AD join by using the synced computer/device." https://docs.microsoft.com/en-us/azure/active-directory/d

[2019-02-14 16:13] ChiragMishra-MSFT commented on #24935
@jn-altius Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-14 16:14] Karishma-Tiwari-MSFT commented on #24942
Thanks for reaching out. We are currently investigating and will update you shortly.

[2019-02-14 16:14] Karishma-Tiwari-MSFT commented on #24941
Thanks for reaching out. We are currently investigating and will update you shortly.

[2019-02-14 16:15] Karishma-Tiwari-MSFT commented on #24936
Thanks for the question. We are currently investigating and will update you shortly.

[2019-02-14 16:19] erhopf commented on #23489
@wilsonchua20 - A custom model isn't required. You should be able to send an audio file and receive a text response. Can you send us the full code block so that we can help to unblock you.

[2019-02-14 16:20] ry8806 commented on #18815
Looking forward to this coming to fruition 👍

[2019-02-14 16:23] Karishma-Tiwari-MSFT commented on #24910
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 16:25] Karishma-Tiwari-MSFT commented on #24923
@andyzhangx Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-14 16:29] Karishma-Tiwari-MSFT commented on #24707
@baleng
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-14 16:33] denverrenfro commented on #6226
I agree with reubster, this issue does not seem to be resolved.
Has anyone from Microsoft answered the question in another place?

[2019-02-14 16:34] MCKPRO opened #24949 "Add the cluster core IP address for the Windows Server Failover Cluster (WSFC)"
About a year ago we followed this article but I do not remember this part.
Can someone explain why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee7ac6ba-8f0a-b6d9-99f4-a335afc63b99
* Version Independent ID: 2b550681-c147-281d-15be-ff701387797f
* Content: [SQL Server Availability Groups - Azure Virtual Machines - Tut

[2019-02-14 16:34] StingyJack opened #24950 "How are we supposed to report that a triggered function failed?"
Specifically for a continuous webjob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the WebJobs SDK - Azure](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
* Con

[2019-02-14 16:40] jagjitraja commented on #24821
@BharathNimmala-MSFT I am still able to see the issue - Its under the menu item **How To Guides > Collect Data**
Chrome
![chrome developer](https://user-images.githubusercontent.com/22244462/52802020-e8e07400-3033-11e9-9a11-704c33d688f2.png)

Mozilla
![mozilla developer](https://user-images.githubusercontent.com/22244462/52802021-e8e07400-3033-11e9-8a86-2ebb22444bb5.png)

Ms-Edge
![ms-edge](https:

[2019-02-14 16:53] Ayanmullick opened #24951 "PowerShell Steps"
How does one do this thru PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database connection with managed identity - Azure App Service](https://docs.microsoft.com/en-us/azure/app-servic

[2019-02-14 16:53] cainellinFTC commented on #15419
Hi,
following this doc, I tried to add a sign-in with Azure Active Directory to this WebApp
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi

The local ADB2C sign-in (LogonEmail) works fine but with the AD sign-in the error

"AADSTS50011: The reply url specified in the request does not match the reply urls" appears in "microsoft page"

I tried to change the web.config

[2019-02-14 16:54] BharathNimmala-MSFT commented on #24821
@jagjitraja Thanks for sharing the outcome, will further check on this and update you accordingly.

[2019-02-14 17:11] cconrado opened #24952 "Outdated Doc"
This is for logs (classic) which is gone tom. What is the method in the new format?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6d60419-c998-1b94-ea14-1af4f095867c
* Version Independent ID: 8dfdd853-13c3-ae83-f9a2-59864387987b
* Content: [Custom fields in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/

[2019-02-14 17:22] masonlr opened #24953 "Batch shipyard"
Would it be worth mentioning batch shipyard (https://github.com/Azure/batch-shipyard) in the list of "Other tools for application development"?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 569d00c7-7b94-8b0c-6e84-fa14c3e4b303
* Version Independent ID: 2b7cb346-7c21-e11f-e1a2-be8984c01d40
* Content: [APIs and tools fo

[2019-02-14 17:22] Skatterbrainz opened #24954 "2nd paragraph typo"
Please change "Supply you own disk drives..." to "Supply your own disk drives..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8101ceee-eb49-ec7c-dc15-0d9ca1dad85f
* Version Independent ID: 22ff579e-38f7-800e-d83f-a079a714a8fd
* Content: [Using Azure Import/Export to transfer data to and from Azure Storage](https://d

[2019-02-14 17:25] smidley commented on #24823
Yes, thank you that does help.  I voted on the feature request.  Thanks again.

[2019-02-14 17:29] MarileeTurscak-MSFT commented on #24943
@abarrafo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 17:30] SunnyDeng commented on #23901
Hi YutongTie-MSFT, I am C&AI loc team PM, I am working on FEEDBACK.
the Content on en-in is fall back from English. Please assign to the correct /visualstudio-docs/ ENGLISH owner, and please remove the loc label.
thanks

[2019-02-14 17:30] MarileeTurscak-MSFT commented on #24946
@mmendozaf
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 17:31] MarileeTurscak-MSFT commented on #24947
@dougsilva1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 17:36] codeputer opened #24955 "Load balancing in an Availability Set"
This section https://docs.microsoft.com/en-ca/azure/architecture/checklist/resiliency speaks to multiple machines being used to ensure SLA uptime, but it does not say anything in regard to the network traffice when there is a outage of any of the VM's.  IMO - Availability Set shoud mean a Active-Standby arrangement, or with the addition of Load Balancing - balancing the load to all VMS under an Av

[2019-02-14 17:36] MicahMcKittrick-MSFT commented on #24834
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 17:43] YutongTie-MSFT commented on #23901
@SunnyDeng @DavidPrio @CeciAc Thank you for the remind. Will do.

[2019-02-14 17:52] BharathNimmala-MSFT commented on #24779
@serkanyazicioglu Can you please share if you are seeing any error by placing the script before the closing </head> tag ?

[2019-02-14 17:55] rramani commented on #24894
Hi Rohit, there is a difference in what I tried. I did not have the details in the config file but created the workspace from code. (ws.create()). I also had to reload the notebook at one point, which required me to modify the creation to getting the workspace.

ws = Workspace.get(name="<workspacename>",subscription_id="<sub id>")

thanks
Rama
From: RohitMungi-MSFT <notifications@github.com>
Sent:

[2019-02-14 17:55] alex-frankel commented on #18389
Hi Kazshi - yes you can. At the end of the day, the blueprint is just deploying resources on your behalf. So you can build on top of blueprint-managed infrastructure the same way you build on top of non-blueprint infrastructure.

If you choose to use the read only lock (https://docs.microsoft.com/en-us/azure/governance/blueprints/concepts/resource-locking) in the blueprint, then you might run into

[2019-02-14 17:55] Mike-Ubezzi-MSFT commented on #24931
@ithubcity Yes, this is possible per the following from the [SQL Data FAQ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-sync-data#can-i-use-data-sync-to-sync-between-sql-databases-that-belong-to-different-clouds-like-azure-public-cloud-and-azure-china) page.
Here is the PowerShell needed to accomplish this: [Use PowerShell to sync between multiple SQL Databases ](https://docs.m

[2019-02-14 17:57] alkohli commented on #24954
@Skatterbrainz  Thank you for bringing this to my notice! I have merged the changes using this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/66487. The content should go live today.
#please-close

[2019-02-14 17:58] MicahMcKittrick-MSFT commented on #24561
@gxgrammatikos In a previous reply you added some screen shots. Unfortunately the screenshots do not show up if you reply via email. They only show up if you reply from a PC directly in GitHub. Could you possibly go back and provide us with the screenshots again but do it from a PC so we can see?

[2019-02-14 17:58] Mike-Ubezzi-MSFT commented on #24932
@adoelger Thank you for this detailed feedback. I have assigned to the content owner to evaluate and update as appropriate.

[2019-02-14 18:01] CeciAc commented on #23901
Copied to https://github.com/MicrosoftDocs/visualstudio-docs/issues/2550
#please-close

[2019-02-14 18:05] sidramadoss commented on #24934
@rmosselveld - are you using delta query option as well? there is a known bug when setting refresh rate which we are fixing as I am typing this. We hope to make it available very soon. In the meantime, you can use Visual Studio tools to [test against live inputs](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-live-data-local-testing). Once you are happy with your query lo

[2019-02-14 18:05] Mike-Ubezzi-MSFT commented on #24801
@5mdd Something is clearly not working correctly with this. I would like to get you to support to have a closer investigation. Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If not, can you send me your Subscription ID to AzCommunity at Microsoft.com and I will return instructions to get a support request created to have this issue investigated, as support c

[2019-02-14 18:07] #23901 closed

[2019-02-14 18:09] Karishma-Tiwari-MSFT commented on #24953
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-14 18:12] stansw commented on #24599
This issue has been active for 6 days already. Please ping the authors to respond. Without references to the template this article is of little use.

[2019-02-14 18:12] Karishma-Tiwari-MSFT commented on #24776
@goenning Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-14 18:12] #24776 closed

[2019-02-14 18:15] MicahMcKittrick-MSFT commented on #24855
@HaimAudioburst I will close for now. When ready, please share the doc you are referring to so we can better assist and we can reopen and continue.

[2019-02-14 18:15] #24855 closed

[2019-02-14 18:15] prashanthyv commented on #24943
Hi @abarrafo ,

Can you please point us to the specific doc you read?

[2019-02-14 18:19] MicahMcKittrick-MSFT commented on #24875
Thanks for sharing the ticket number. I am following that ticket.

Personally I am not sure if it matters if the SKU is being updated or not. As long as the license model is correct you will be charged correctly. But support should be able to tell us more.

I will close this and we can continue on the support request. I will chime in as needed.

[2019-02-14 18:19] #24875 closed

[2019-02-14 18:21] MicahMcKittrick-MSFT commented on #24936
@rich-davies have you tried a different password? It is possible the password you provided has illegal characters in it that are not allowed.

[2019-02-14 18:23] bjd145 opened #24957 "Fill out an access review"
When you select that you do not know the user in the review, what does that mean for the review?  It's unclear what happens if all reviewers select they do not know the user.  Is this just for tracking or does "Don't know" have any other meaning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60590ca9-3b4d-925b-4d01-b7

[2019-02-14 18:29] ggailey777 commented on #24313
@rccnw and @AjayKumar-MSFT on checking with the Visual Studio tools folks, it looks like the changes made to support Core are a bit more extensive than I realized. The good news is that when you publish a .NET Core console app to Azure App Services, and it gets published as a WebJob. The work to update the article is being tracked internally ([1446722](https://dev.azure.com/mseng/TechnicalContent/

[2019-02-14 18:39] MicahMcKittrick-MSFT commented on #24884
@Xorima any update on this?

[2019-02-14 18:41] MarkusVi commented on #24550
Thanks @AlekseySokol.

The compliance status comes from your **MDM** - in your case **Intune**. So, it is a flag set by Intune on the computer object in Azure AD. For more information, see [Require device to be marked as compliant](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/require-managed-devices#require-device-to-be-marked-as-compliant).

However, to be marked as

[2019-02-14 18:57] RusmanCool commented on #6926
I have tried executing http://localhost:7071/admin/functions/{nameOfFunction} from postman against a Timer Triggered Function that is being run locally by func cli. My function is a bare-bone one that suppose to just output a text into a Console.
After I have sent **GET**: I've got '405 Method Not Allowed'
After I have sent **POST** without any headers: I've got '400 Bad Request'
In neither case m

[2019-02-14 18:58] rolyon commented on #24716
Hi @shraboin
Thanks for your feedback. On the built-in role page, you might have noticed that operations are grouped into sections. Most operations are listed under an Actions section, but there are some listed under a DataActions section. Actions apply to the management plane and DataActions apply to the data plane. Since the Reader role doesn't have any DataActions, the operations apply only to

[2019-02-14 19:06] Grace-MacJones-MSFT commented on #24854
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 19:06] #24854 closed

[2019-02-14 19:10] anurag939 opened #24960 "When is this required?"
I have installed Azure Stack 1811 , Do I need to execute these steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3b84311-7c1e-bc20-70e1-9e812ff27824
* Version Independent ID: c33812da-28e5-639b-dbf2-ccf8ab413309
* Content: [Prepare for extension host for Azure Stack](https://docs.microsoft.com/en-us/azure/azure-st

[2019-02-14 19:13] ghost opened #24961 "Invalid code"
Hi guys, this doc has helped me quite a bit but it took some updates to the code in it:

* The second JSON block has single-quotes instead of double and both YAML blocks have invalid indentation.
* "[parameters('my-secret-value-v1)]" is missing the closing single-quote.
* For my version of az cli at least, "name": "mysecret:1.0" broke the deployment. I ended up changing it to "name": "MySecret.txt

[2019-02-14 19:13] kgremban commented on #23265
@raghavan20 The timeToLiveSecs parameter takes an integer value, so you can go up to the maximum int value which is somewhere on the order of 2,000,000,000 seconds or 60 years. There's no infinite value option, just very very large. And when you change desired properties, the module shouldn't restart. You should be able to do `iotedge logs edgehub` and see the properties change logged.

As for mon

[2019-02-14 19:17] Grace-MacJones-MSFT commented on #24951
Hi @Ayanmullick, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 19:18] RowdyChildren opened #24962 "Does enrollmentProfileName also apply to Android Enterprise?"
Does enrollmentProfileName also apply to Android Enterprise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules - Azure Active Directory](https://docs.microsoft.com/en-us/

[2019-02-14 19:19] Grace-MacJones-MSFT commented on #24944
Hi @MichelZ, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-14 19:19] Mike-Ubezzi-MSFT commented on #24949
@MCKPRO Thank you for the detailed inquiry. This is the health probe that monitors the cluster to determine the health of virtual machines that are member of the cluster.

More information can be found with the following document, as the document you opened this GitHub issue under is a tutorial and doesn't explain the functionality: [Windows Server Failover Clustering with SQL Server](https://docs

[2019-02-14 19:22] Karishma-Tiwari-MSFT commented on #24870
@gregory-fonkatz I understand your point. The doc says :

And there is an option of subscribing to RSS Feed on this page.
But it seems like the azure update page is not updated.
I am not seeing 1.11.5 in the list of available versions on running
 `az aks get-versions --location eastus --output table`

As @slynickel mentioned, https://github.com/Azure/AKS/releases is a resource to find general upda

[2019-02-14 19:24] gitssnapp commented on #24815
I'm just starting to test the new converged experience and have two users along with myself using MFA.  Two of us are able to create app passwords and one is not.

[2019-02-14 19:25] gitssnapp commented on #14117
I'm just starting to test the new converged experience and have two users along with myself using MFA. Two of us are able to create app passwords and one is not.

[2019-02-14 19:25] rezasherafat commented on #24033
@KingdomOfEnds , please make sure your hub is in Central US region!

[2019-02-14 19:25] Grace-MacJones-MSFT commented on #24950
Hi @StingyJack, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 19:38] MicrosoftGuyJFlo commented on #14117
@gitssnapp

App Passwords are only available to users who have been enforced for MFA using the per-user guidance below.
https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-userstates

If a user has been enabled for MFA using a conditional access policy (as explained in the article linked below) then app passwords will not be available for that user. Conditional access requir

[2019-02-14 19:38] wolszakp commented on #24489
Still failing.
Today I tried to run azure function in python.
I am working on Windows.

- Python 3.6 32-Bit version
- azure-functions-core-tools@2.4.317

Created project using:
```func init pythonProject --worker-runtime python```
Created python function using:
```func new --language python --template "HttpTrigger" --name myFunction```

All this steps succeed:
Next tried to host them using:
```fun

[2019-02-14 19:41] anilpras commented on #20348
@ccompy : Any plan for the ARM template deployment support for NEW VNET Integration?

[2019-02-14 19:46] MicahMcKittrick-MSFT commented on #24961
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 19:46] MicahMcKittrick-MSFT commented on #24955
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 19:49] Alberto-Vega-MSFT commented on #24952
@cconrado Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 19:54] daveba commented on #22700
@shashishailaj Please assign this issue to @priyamohanram.  She's the content writer for this space now.  Also @arluca for visibility.

[2019-02-14 19:57] daweins opened #24963 "ResourceHealth"
I have customers using the examples here as starting points. Can we add "Microsoft.ResourceHealth/availabilityStatuses/read" to the VM Operator definition so that the custom role can use ResourceHealth (fits under the "monitor VM" goal)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63d296e8-a638-222e-8e8e-da28110cef68

[2019-02-14 20:05] mike-urnun-msft commented on #24867
@christianHamson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-14 20:05] #24867 closed

[2019-02-14 20:05] Alberto-Vega-MSFT commented on #24939
@julesman101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-14 20:10] femsulu commented on #24945
closing as spam!

[2019-02-14 20:11] #24945 closed

[2019-02-14 20:13] femsulu commented on #24924
@mcurko Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-14 20:14] mitch-b opened #24964 "Possible to move database across subscriptions using Azure CLI or PowerShell?"
Taking a look at possible parameters of `New-AzureRmSqlDatabaseCopy` and `az sql db copy --help`, it doesn't _appear_ possible that we can use automated tooling to copy a SQL database across subscriptions, however, I didn't see it called out as not possible, so I figured it was worth an issue.

Our production application is in one subscription, and our staging environment is in another subscriptio

[2019-02-14 20:24] MicahMcKittrick-MSFT commented on #24955
@codeputer thanks for reaching out and sharing your thoughts with us. We appreciate all feedback.

I am a bit confused though on what action you would like to see out of this issue.

The doc you commented on does go into information about adding a LB to VMs in an AV set to manage traffic

https://docs.microsoft.com/en-ca/azure/virtual-machines/windows/manage-availability#combine-a-load-balancer-wi

[2019-02-14 20:25] MarileeTurscak-MSFT commented on #24947
I agree that this is inconsistent. Assigning to @MicrosoftGuyJFlo for investigation.

[2019-02-14 20:27] ravikiran-srini opened #24971 "Why many-to-many relationship not supported for Tumbling window?"
Is many-to-many relationship for Tumbling window not possible or not supported now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-274f-c2eb-40a04748296c
* Content: [Pipeline execution and triggers in Azure Data Factory](https://docs.microsoft

[2019-02-14 20:28] MicahMcKittrick-MSFT commented on #24961
@sirdank thanks for reaching out and for all those details. We will get this assigned to the content author to review and update.

[2019-02-14 20:31] hajjat opened #24972 "Retaining Private IPs on VM STOP"
Regarding: "_That address is retained by the VMs and role instances, until they are decommissioned ... once the VM or role instance starts again, it will receive an available IP address from the Azure infrastructure, which might not be the same it previously had_"

This contradicts with another Azure article mentioning that private IPs will be preserved as long as NIC isn't deleted:
"**Dynamic is

[2019-02-14 20:35] MarileeTurscak-MSFT commented on #24937
There is a good [blog post](https://appswin.co.th/2018/02/26/c-retrieve-key-secret-certificate-from-azure-keyvault/) on this that you can reference.

As for Microsoft official documentation, this might be a better guide to use than the one here. https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app

There is a Nuget package that allows you to connect to Azure Key

[2019-02-14 20:36] MarileeTurscak-MSFT commented on #24937
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or reach out on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD%2CAzureKeyVault&filter=alltypes&sort=lastpostdesc

[2019-02-14 20:36] #24937 closed

[2019-02-14 20:43] codeputer commented on #24955
I think the documentation should make a clear delineation between Failover technology and Load balancing.  I realize that in both there is a virtual endpoint that routes traffic to an appropriate node, however, in failover/standby  the primary gets all the traffic, and when it has an issue, the traffic is routed to the secondary.  In my definition of load balancing, the load is spread across a num

[2019-02-14 20:44] StingyJack opened #24973 "How can the local.settings.json file be replaced with a conventional xml .net config file?"
json for configuration files may seem neat and clean but I cant provide any comments, directions, or documentation about what each setting does or governs. I can do that with XML.

How can I replace the settings json file with an app.config?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061

[2019-02-14 20:51] vplauzon opened #24974 "podSelector missing a '-'"
There is an error in the spec files:

podSelector should have a '-' in front of it as it is part of the same array as namespaceSelector.

This error occurred twice.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b5

[2019-02-14 20:52] JasonWHowell commented on #24686
#please-close @mamccrea let's be sure the doc is clear for the resolution Dinesh found.

[2019-02-14 20:57] j-chao commented on #10326
I am also have the same issue as RajSelv

[2019-02-14 21:00] MicahMcKittrick-MSFT commented on #24955
Availability sets in Azure is simply a separate of hardware.

As per the diagram in the docs

![image](https://user-images.githubusercontent.com/32313503/52817031-826d4d00-3057-11e9-9fde-d0f3c7b44eae.png)

If you were to put VMs into the same availability set the platform will ensure that those VMs are never put on the same update domain and fault domain. This means that if a rack were to fail wit

[2019-02-14 21:01] YutongTie-MSFT commented on #24930
@robinmanuelthiel
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis
Hi, could you please check this issue and update the document if you think we can add more details about the different pronunciations?

[2019-02-14 21:02] nzthiago opened #24975 "Add details for devs in VS Code and VS to make sure proxies.json is included and deployed with the project"
This document should include considerations for .NET developers to make sure the proxies.json is set to "Copy to Output" and Preserve Newest. Especially for VS Code and Visual Studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-379

[2019-02-14 21:04] neville-nazerane opened #24976 "unused SendGridMessage parameter"
In the first and second example, there is a code `var message` that would create a local variable `message`. Seems like the `var` shouldn't be there or the `message` parameter goes unused.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-sendgrid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-14 21:05] MicahMcKittrick-MSFT commented on #24765
@nageshajab can you tell me/ show me the status of your cluster in the portal and cluster manager?

My SF cluster took a long time to provision in the portal but is finally showing healthy. Though in the SF manager I have a warning

![image](https://user-images.githubusercontent.com/32313503/52817606-315e5880-3059-11e9-9a13-2bab929a9481.png)

[2019-02-14 21:06] theheatDK opened #24977 "How will the CNAME trick work for the end-user?"
Hi,
The Application Gateway does not support static public IPs. Which of cause is a bit of a problem if you want to use it for an Internet application. The suggested workaround is, as I understand it to create a CNAME DNS record that points to the built-in DNS record for the public IP. For example CNAME banana.com =&gt; xxxxxxxx.westeurope.cloudapp.azure.com.
So when a user enters banana.com in a

[2019-02-14 21:06] nzthiago commented on #24975
For example for VS Code the doc can be updated to tell the user how to include the file at the CSPROJ so proxies.json will be within the deployment package:
[code]

Repro:

- Open VSCode
- Create an Azure Function
- Add proxies.json file with a couple of proxies.
- Publish the Azure Function
- Browse the Azure Functions App from the Azure Portal
- Verify that proxies are not listed

[2019-02-14 21:08] dlepow commented on #24273
@dbollaer - Thanks for pointing this out.  This article assumes you have a working AKS cluster and you have credentials to access it, as in this [CLI quickstart](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough). We probably should be clearer about these prerequisites before you attempt to create the secret. I'll make a small doc update to mention the prerequisites.

[2019-02-14 21:15] MGoedtel commented on #14323
@takekazuomi and @tfitzmac - I've confirmed that 2015-03-20 listed in the GitHub repo for the API is the most recent version of the API for Log Analytics.  I'll bug the documentation to update the templates to reference that version.

[2019-02-14 21:18] ggailey777 commented on #24489
@asavaritayal any thoughts?

[2019-02-14 21:20] CarlRabeler commented on #24964
@mitch-b

Does this answer your question: https://stackoverflow.com/questions/17746072/cross-subscription-copying-of-databases-on-windows-azure-sql-database?

[2019-02-14 21:20] codeputer commented on #24955
Thank-you for your very detailed response, and I think I finally have got it through my thick skull.

The application I'm dealing with is basically a polling application that reaches out to devices to pickup data for each device. It's old school and needs to be updated, but it has as in memory data store that tracks which IOT devices it has polled when was it polled, and the next time it needs to

[2019-02-14 21:25] MGoedtel commented on #24939
@julesman101 - I was already actively working on this with engineering to address yesterday and earlier just updated the article after verifying there is no requirement for inbound comms with the agent, especially with partners who depend on the agent.  The updated article should go live tonight and thank you for bringing this to our attention.  #please-close.

[2019-02-14 21:31] Karishma-Tiwari-MSFT commented on #24953
gbfb

[2019-02-14 21:35] arunbethini opened #24978 "Currently we are uploading liquid files on azure portal--> resourcegroups-->integrationaccount-->maps, we want to automate deployment of liquid files in logic apps into different environments."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-14 21:36] MicahMcKittrick-MSFT commented on #24955
Always happy to help explain stuff :) It can be difficult to grasp some of the concepts in Azure as somethings that mean one thing from an on prem perspective do not mean the same thing when talking about Azure.

This can be especially true when talking about networking architecture.

Per the shadow copy comment, Azure kind of has this. For example, say you have a standalone virtual machine runnin

[2019-02-14 21:37] hrasheed-msft commented on #24289
@taylormoran Hello and thanks for your input on the documentation. The NuGet package that you referenced is currently out of date and was causing issues for users so we switched to the GitHub repo which now seems to have been taken down. After consulting with the product team, it was likely removed because it uses Azure Service Management (ASM) instead of ARM (Azure Resource Manager) and all ASM c

[2019-02-14 21:38] CelesteDG commented on #11440
Hello @tinod - Updating this thread as I just confirmed that @hpsin has recently updated the content to remove mail.read scopes in the example requests to address your feedback. This update is now live.

[2019-02-14 21:38] CelesteDG commented on #11440
Thank you for the updates to the page, @hpsin
#please-close

[2019-02-14 21:38] hrasheed-msft commented on #24289
#please-close
@Adam-Smith-MSFT we are not able to recommend the provided links to users. This document will likely be retired soon.

[2019-02-14 21:39] laurenhughes commented on #24953
@masonlr, thanks for the suggestion! I added Batch Shipyard to the page. Updates will be live soon.

[2019-02-14 21:44] mitch-b commented on #24964
Thanks for finding that. I think it's a good start. If I went with any currently available Azure API, it seems like it involves also copying the SQL Server instance down as well.

However, I could realistically run SQL against `master` database using the `CREATE DATABASE .. AS COPY OF ..` method mentioned on StackOverflow. That would create a duplicate from the other subscription into my Dev/Test

[2019-02-14 21:47] rwwinn1 opened #24980 ""...in a storage account in same or different subscription...""
I'm having trouble with this script. What if I don't own the subscription where the storage account is that has the VHD? I get an error about not having access to request the storage account key. How can I do this cross-subscription copy of the VHD to a snapshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae92b44d-

[2019-02-14 21:47] MicahMcKittrick-MSFT commented on #24974
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 21:47] #24923 closed

[2019-02-14 21:48] CelesteDG commented on #9557
@bbbford - Please file a new GitHub issue if you have more questions.

We're working to make updates to our doc set to bring over the SDK content that's in our wikis and get them into docs.microsoft.com, but this work is just starting.

[2019-02-14 21:48] SuttyHoo opened #24981 "Is this page not missing NSG creation"
Hi
When VMs are created the NSG is assigned.
It is not assigned in earlier steps (as is the case the tutorial on creating a VM scale set.

I cannot ping the pages on the public IP Address I created.

Wondering if this is the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a77368-ac5d-0699-b327-f5509e18e93e
* Ve

[2019-02-14 21:48] CelesteDG commented on #9557
#please-close

[2019-02-14 21:50] Mike-Ubezzi-MSFT commented on #24964
Data Sync is another option but maybe more complicated to set-up: [SQL Data FAQ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-sync-data#can-i-use-data-sync-to-sync-between-sql-databases-that-belong-to-different-subscriptions) page. Here is the PowerShell needed to accomplish this: [Use PowerShell to sync between multiple SQL Databases](https://docs.microsoft.com/en-us/azure/sql

[2019-02-14 21:51] iainfoulds commented on #24942
As noted in the [opening section](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#before-you-begin):

Creating an AKS cluster through the portal doesn't meet these requirements. You must install the `aks-preview` extension and create the cluster through the CLI. You can do this from the Cloud Shell in the portal if you prefer.

As also [noted in the article](https://docs.microsoft.co

[2019-02-14 21:52] dkkapur commented on #24852
+ @srrengar any idea on what the timeline for this is?

[2019-02-14 21:54] codeputer commented on #24955
Yeah I totally get it in terms of the redundancy – something that I think AWS doesn’t even come close to touching.

The roadmap for the application is to always more to PaaS services, but I need to have a lot more fall in place before that can happen.

I understand and appreciate that the VM will come back, and likely that small outage doesn’t really matter to the business in an operational sense

[2019-02-14 21:54] iainfoulds commented on #24839
Network policy can currently only be enabled when the cluster is created, as per the instructions in the article. There's no add-on to enable, though you need to register your subscription to use the feature. These are covered in the opening section of the article - https://docs.microsoft.com/en-us/azure/aks/use-network-policies#create-an-aks-cluster-and-enable-network-policy

There's no specific

[2019-02-14 21:54] Mike-Ubezzi-MSFT commented on #24569
@gangothriurs We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 21:54] #24569 closed

[2019-02-14 21:55] #24839 closed

[2019-02-14 21:55] Mike-Ubezzi-MSFT commented on #24614
@hoksource We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 21:55] #24614 closed

[2019-02-14 22:02] Mike-Ubezzi-MSFT commented on #24617
@AlexanderTodorovic Is this still an issue? It is likely this steps was not completed successfully: [Attach a VPN gateway to your Managed Instance virtual network](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-p2s#attach-a-vpn-gateway-to-your-managed-instance-virtual-network).

Were there any errors from the last step?

Thank you for providing any addi

[2019-02-14 22:03] Karishma-Tiwari-MSFT commented on #24942
@JoshLefebvre We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-14 22:03] #24942 closed

[2019-02-14 22:04] Mike-Ubezzi-MSFT commented on #24696
@RudyCo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 22:04] #24696 closed

[2019-02-14 22:04] Mike-Ubezzi-MSFT commented on #24786
@RudyCo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 22:04] #24786 closed

[2019-02-14 22:06] JonathanFingold opened #24983 "Basic **Deploy ZIP file** instructions don't work for a JavaScript bot"
## Repro steps:
1. Create a JavaScript Web App Bot in azure and download the bot source code.
   - Decrypt the .bot file.
   - Delete the bot secret from the application settings.
1. On your local machine create a working JavaScript bot.
1. Copy over service information from the downloaded .bot file to the local .bot file.
   - verify that the local bot works in the Emulator, using the **Developme

[2019-02-14 22:06] iainfoulds commented on #24941
If you have an existing AKS cluster created that uses Azure CNI (advanced networking), then yes, you should be able to enable virtual nodes as an add-on - https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli#enable-virtual-nodes

I don't believe it's currently possible during preview to enable the virtual nodes add-on using the portal other than during the cluster create process.

@Karishm

[2019-02-14 22:07] MicahMcKittrick-MSFT commented on #24974
@vplauzon looks like @iainfoulds submitted a fix :) Change will go live shortly.

[2019-02-14 22:07] #24974 closed

[2019-02-14 22:07] julieMSFT commented on #24456
@agilmore30 Hello, Thank you for your detailed feedback. I have updated the document to reflect that you need to use sp_addrolemember to add members to roles in Azure SQL Data Warehouse databases. You should be able to see this change soon. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-02-14 22:08] Karishma-Tiwari-MSFT commented on #24941
Thanks @iainfoulds :)
@JoshLefebvre  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-14 22:08] #24941 closed

[2019-02-14 22:10] iainfoulds commented on #21532
This cluster autoscaler behavior has now been replaced with a scale set-based approach, and the previous doc associated with this issue retired/redirected to https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

You should still be able to continue using the previous approach using the docs noted at https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azur

[2019-02-14 22:11] Mike-Ubezzi-MSFT commented on #24796
@Anmolgan81 The key is actually stored in the Master database for the SQL Server instance where TDE is being leveraged. Please read the following document, which provides a great overview of the service: [Transparent data encryption for SQL Database and Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-database/transparent-data-encryption-azure-sql)

[2019-02-14 22:14] julesman101 commented on #24939
@MGoedtel - Thanks for the prompt action on this. Much appreciated.

[2019-02-14 22:14] #24939 closed

[2019-02-14 22:15] #21532 closed

[2019-02-14 22:19] sergaz-msft commented on #24524
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag @AshokPeddakotla-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 22:19] #24524 closed

[2019-02-14 22:20] sergaz-msft commented on #24358
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 22:20] Mike-Ubezzi-MSFT commented on #24796
The previous document caters towards Azure SQL where this document is more inclusive of SQL Server and Azure SQL: [Transparent Data Encryption (TDE)](https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/transparent-data-encryption?view=sql-server-2017).

[2019-02-14 22:21] aliceku commented on #24796
and how to migrate a TDE certificate to Managed Instance is documented here: https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-docs%2Fissues%2F24796%23issuecomment-463821521&data=02%7C01%7CAlice.Kupcik%40microsoft.com%7C4530560218c94abe8dcc08d692c9747d%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636857791276960424&sdata=s8iKaIalmwbn7FFzHSN8SV%2BN

[2019-02-14 22:21] agilmore30 commented on #24028
Thanks @julieMSFT @Mike-Ubezzi-MSFT for fixing this issue.

[2019-02-14 22:22] Mike-Ubezzi-MSFT commented on #24796
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 22:22] #24796 closed

[2019-02-14 22:24] MicahMcKittrick-MSFT commented on #24981
@SuttyHoo as you mentioned the network security group is created during the VM creation

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-load-balancer#create-virtual-machines

The reason it is not created earlier is because the NSG is being created on the VMs NIC and not on the virtual network. From what I remember with the VMSS one we create a NSG for the virtual network

[2019-02-14 22:25] MicahMcKittrick-MSFT commented on #24980
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 22:27] anas2204 opened #24984 "Quickstarts link all lead to Powershell"
The links for .NET, Java and JMS in the last line all lead to Powershell setup. Is that expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c3af764-3978-6abe-f756-2c2c4ef47e31
* Version Independent ID: c4dca68a-1c95-42af-9eb3-e1dc9a66a692
* Content: [Azure Service Bus messaging overview](https://docs.microsoft.co

[2019-02-14 22:28] iainfoulds commented on #23577
@DarrenCzen I don't think we have anything specific to this scenario, but I can add the suggestion to our docs backlog.

At a high level, you'd build a container image that contains your Java application, and that container image is then used for deployments into a Kubernetes cluster. It's not necessarily anything AKS-specific. The container image could be stored in a container registry such as Az

[2019-02-14 22:35] Karishma-Tiwari-MSFT commented on #23577
@DarrenCzen Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-14 22:35] #23577 closed

[2019-02-14 22:37] mgrontzki commented on #19079
I think that IotDevelope asked about the proxy settings (address and port). Where can I make these settings. But I can't find this in your answer anywhere.
Please can you show, how I can get a communication to the IoT-Hub with MqttWs or AmqpWs over a network proxy server.
Thanks.

[2019-02-14 22:38] rachel-msft commented on #21770
Reviewing #in-progress

[2019-02-14 22:41] Mike-Ubezzi-MSFT commented on #24811
@MarkAtAgilliance We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 22:41] #24811 closed

[2019-02-14 22:42] Mike-Ubezzi-MSFT commented on #24814
I am assigning the issue to the content author to evaluate and update as appropriate.

[2019-02-14 22:43] Adam-Smith-MSFT commented on #24954
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-14 22:43] #24954 closed

[2019-02-14 22:44] rachel-msft commented on #24556
Hi Atul,

With respect to your second question, the storage size of the server logs is capped at 1GB so it won't grow to fill your storage.
Performance is another question. High levels of logging consume resources and affect performance, so if you're not actively troubleshooting, we would recommend you keep log levels low.

[2019-02-14 22:45] mschuman commented on #24524
Strange...I did respond.

Kind regards,
Mike Schuman

On 15 Feb 2019, at 06:19, António Sérgio Azevedo <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #24524<https://github.com/MicrosoftDocs/azure-docs/issues/24524>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/245

[2019-02-14 22:45] MicahMcKittrick-MSFT commented on #24955
@codeputer you might consider looking into running your app on Scalesets as well

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview

Might make the process a bit simpler for you and provide you with that high availablity you are looking for.

As per simulating a maintenance event, we have had that ask quite a few times before but there is not a great way to achieve this. Y

[2019-02-14 22:46] Mike-Ubezzi-MSFT commented on #24814
@johnpapa Given that the tutorial is entirely in video format and dated September 2017, this tutorial could use an update.

[2019-02-14 22:46] MarileeTurscak-MSFT commented on #24869
To me it is unclear as it's mentioned in several of the AD Connect releases but it is not stated that it ever left the preview phase.

[2019-02-14 22:48] MarileeTurscak-MSFT commented on #24869
I just verified that it is still in preview. We will update the article when it is no longer in preview.

[2019-02-14 22:49] MarileeTurscak-MSFT commented on #24869
We will proceed to close this thread. If you have further questions feel free to tag me in the comments.

[2019-02-14 22:49] #24869 closed

[2019-02-14 22:50] Mike-Ubezzi-MSFT commented on #24822
@codeputer Do you require additional assistance with this? I am going to close this as I believe that I have you pointed in the appropriate direction with the correct document. We can continue the conversation if you are still having issues. Regards, Mike

[2019-02-14 22:50] #24822 closed

[2019-02-14 22:50] rachel-msft commented on #17182
#please-close based on updated docs to use psql

[2019-02-14 22:53] jeffreymcclain commented on #23307
@MarileeTurscak-MSFT

Hi, sorry to keep bothering you like this, but I found another small issue on a different page and wasn't sure how to report it (the page doesn't have a GitHub section).

https://support.microsoft.com/en-us/help/4295591/credssp-encryption-oracle-remediation-error-when-to-rdp-to-azure-vm

"server" is misspelled as "sever" a few times, I showed it to a coworker who was having t

[2019-02-14 22:55] Mike-Ubezzi-MSFT commented on #24872
@Tulkis This functionality is not currently available for Azure SQL Database but will be soon. I do not have a date to provide. This functionality is being rolled out across almost all services but not at the same time.

[2019-02-14 22:56] Mike-Ubezzi-MSFT commented on #24878
@Lekao77 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 22:56] #24878 closed

[2019-02-14 22:56] MarileeTurscak-MSFT commented on #24815
Hi @woodyard , you are likely having this issue because of the way your MFA enforcement is turned on. If you have MFA enforcement turned on through a conditional access policy, app passwords won't work and won't show up. This is intended behavior.

If you are using conditional access to deploy MFA then you should be using modern authentication and thereby app passwords are unnecessary.
https://doc

[2019-02-14 22:57] Mike-Ubezzi-MSFT commented on #24931
@ithubcity We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-14 22:57] #24931 closed

[2019-02-14 22:57] mike-urnun-msft commented on #24973
Hi @StingyJack Thank you for your feedback! We will review and update as appropriate.

[2019-02-14 22:57] MarileeTurscak-MSFT commented on #24815
We will now proceed to close this thread. If you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-02-14 22:57] #24815 closed

[2019-02-14 22:59] mike-urnun-msft commented on #24984
Hi @anas2204 Thank you for your feedback! We will review and update as appropriate.

[2019-02-14 23:01] mike-urnun-msft commented on #24978
Hi @arunbethini Thank you for your feedback! Could you provide the URL of the documentation your feedback is applicable to? That way, we're able to make sure your feedback is address by the right team :)

[2019-02-14 23:03] mike-urnun-msft commented on #24976
Hi @neville-nazerane Thank you for reporting this issue! We will review and make any necessary changes.

[2019-02-14 23:03] Grace-MacJones-MSFT commented on #24633
@charlbury thanks for your patience. The similar [question](https://github.com/MicrosoftDocs/azure-docs/issues/17648) you references mentioned a possible solution.  Are the symlinks on your local machine and web app server matching?

[2019-02-14 23:04] YoDaMa opened #24985 "ResourceLimitExceeded"
I'm running 8 tasks in parallel that are connecting to EventHub. 3 of them fail with the following error:

azure.eventhub.common.EventHubError: ErrorCodes.ResourceLimitExceeded: Exceeded the maximum number of allowed receivers per partition in a consumer group which is 5. List of connected receivers - nil, nil, nil, nil, nil.

So i thought I'd go to the Troubleshooting side of EventHub and check f

[2019-02-14 23:06] mike-urnun-msft commented on #24975
Hey @nzthiago

Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-02-14 23:13] MarileeTurscak-MSFT commented on #24962
@RowdyChildren
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 23:14] MarileeTurscak-MSFT commented on #24957
@bjd145
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 23:14] #17182 closed

[2019-02-14 23:16] kgremban commented on #21005
Hi @SarithaMaran I haven't heard from you whether this fix solved your issue. I believe that this is the correct resolution, and I'm also working with the team that created the module to change the default name to all-lowercase so that people don't have to make this fix themselves.

I'm going to ask @MarileeTurscak-MSFT to #please-close the issue, but if you find that it's not actually resolved or

[2019-02-14 23:21] mattbriggs commented on #8173
#ChechesCOM Thanks for your comment. Are you trying to connect using AD FS or Azure AD? #in-progress

[2019-02-14 23:22] julieMSFT commented on #24456
#please-close

[2019-02-14 23:24] Grace-MacJones-MSFT commented on #24983
Hi @JonathanFingold, thanks for bringing this to our attention! We are currently investigating and will update you shortly.

[2019-02-14 23:25] KingdomOfEnds commented on #24033
Hi @rezasherafat - Thank you! I appreciate the suggestion. My team has decided to shift current priorities for MS Learn. We look forward to General Availability and some of the new features you plan on implementing. Cheers!

[2019-02-14 23:27] KeiroKamioka0000 opened #24988 "How often built-in logging obtain the log"
How often built-in logging obtain the log?
Is log will be obtained by per x minute base?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.com/en-us/azure/azure-fu

[2019-02-14 23:31] Alberto-Vega-MSFT commented on #21667
@pvirgili updates coming soon.

[2019-02-14 23:40] Mike-Ubezzi-MSFT commented on #23899
Adding @SnehaGunda for awareness.

[2019-02-14 23:45] rwwinn1 opened #24990 "Script Explanation"
The script explanation section is not relevant to the actual script. New-AzDiskConfig and New-AzDisk are not used in the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae92b44d-6543-c573-1b48-76e220a2510a
* Version Independent ID: 57b7f53e-3e55-0f38-fcf0-9121e766735a
* Content: [Azure PowerShell Script Sample -

[2019-02-14 23:49] Lekao77 commented on #24878
Hi Mike, sorry for the delay and thank you for your reply. I've checked the Storage SDK for Java before and that was my point and my question.  The latest SDK available to access Table Storage is SDK V8? Looking at the V10 has only assemblies to use Blob and Queue storage. If I'm correct, the fastest solution will be creating a Cosmos DB account to access the Table Storage, because SDK V8 has fail

[2019-02-14 23:51] Alberto-Vega-MSFT commented on #18981
Moving this issue to the sample repo and we will be reaching out to owners https://github.com/Azure-Samples/iot-hub-c-raspberrypi-client-app/issues/25

[2019-02-14 23:51] #18981 closed

[2019-02-14 23:54] SaurabhSharma-MSFT commented on #24946
@mmendozaf  I do not think we have an extensive list of apps password. However, few common ones are listed [here](https://support.microsoft.com/en-us/help/12409/microsoft-account-app-passwords-and-two-step-verification).

[2019-02-15 00:01] MicahMcKittrick-MSFT commented on #24990
@rwwinn1 valid point

@ramankumarlive could you take a look?

CC @cynthn

[2019-02-15 00:11] Alberto-Vega-MSFT commented on #24308
@inesk-vt @kuriancjohn We are moving this issue to the Azure Samples repo. https://github.com/Azure-Samples/iot-hub-c-raspberrypi-client-app/issues/22

[2019-02-15 00:11] #24308 closed

[2019-02-15 00:11] rachel-msft commented on #20758
#in-progress

[2019-02-15 00:19] DianaPutnam commented on #24932
@adoelger thank you for catching this.  You are correct.

[2019-02-15 00:26] johnpapa commented on #24814
I believe Burke Holland wrote this. GitHub on my phone won’t tag for some reason. But you can tag him here.

[2019-02-15 00:30] vhorne commented on #19306
@TomaszOledzki

OK, try this:
https://docs.microsoft.com/en-us/azure/application-gateway/custom-error#azure-powershell-configuration

[2019-02-15 00:34] TravisCragg-MSFT commented on #24868
@yobyot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 00:34] #24868 closed

[2019-02-15 00:36] shraboin commented on #24716
@rolyon I think that would help. I work developer support related to Azure Storage. Customers are sometimes unaware of the data/management planes. I think a quick addition would be a link that explains the difference or some sort of highlight in the article explaining the distinction of actions between management and data. The link in question would be the following: https://docs.microsoft.com/en-

[2019-02-15 00:38] TravisCragg-MSFT commented on #24960
@anurag939 From the top of the article, this will need to be done on 1811.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 00:38] #24960 closed

[2019-02-15 00:41] TravisCragg-MSFT commented on #24972
@hajjat VMs try to keep the same private IP if they are deallocated and then allocated. If it is important to keep a VM on a specific IP, set it to static.

[2019-02-15 00:43] rolyon commented on #24716
@shraboin
Okay, sounds good. Just so you know, we also have this example where we try to explain actions on the management and data planes:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#data-operations-example

[2019-02-15 00:51] kazshi commented on #18389
@alex-frankel Thank you for the clarification and information. I'll provide it to my customer.

[2019-02-15 00:53] TravisCragg-MSFT commented on #24977
@theheatDK I believe the user should still see "banana.com". This will make the certificates a lot easier to manage.

[2019-02-15 00:56] CountlessNumber commented on #23940
Tried again today. New VM and new Keyvault all in the one resource group. All worked, then stopped and deallocated the machine. Turned it back on and the boot diagnostics screen shows the error "Plug in the USB drive that has the BitLocker key"

[2019-02-15 00:57] Alberto-Vega-MSFT commented on #24298
@inesk-vt  We are moving this issue to the Azure Samples repo https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/issues/23

[2019-02-15 00:57] #24298 closed

[2019-02-15 01:09] kgremban commented on #23584
1. I think that's a consequence that you get from any container system. Correct me if I'm wrong and you know of how another container engine handles this. I've just done a quick search to see if Docker has a solution for that, and it looks like people who want logs after a container is removed need to save them to a file or send them to the cloud. You can configure the logging options in the EdgeA

[2019-02-15 01:12] Alberto-Vega-MSFT commented on #24791
@ChandraSM Were able to open the support request? Are you still facing this issue?

[2019-02-15 01:13] Alberto-Vega-MSFT commented on #24842
@pranabdas457 Thanks for the info. We are currently investigating and will update you shortly.

[2019-02-15 01:16] BharathNimmala-MSFT commented on #24821
@jagjitraja Appreciate you sharing the feedback on this, unfortunately we are not able to consistently repro it. However I have raised a ticket with internal team who are responsible for the site, will keep you updated. Thanks

[2019-02-15 01:19] Alberto-Vega-MSFT commented on #24720
@juhaluoto Thanks for the update! Closing and yes please feel free to reopen or tag me on your reply and we can reopen this issue.

[2019-02-15 01:19] #24720 closed

[2019-02-15 01:24] Alberto-Vega-MSFT commented on #24837
@Teeina Are you still facing this issue?  Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-02-15 01:26] KeiroKamioka0000 opened #24994 "Please add Japanese Translated document for this"
Hello, please consider to add Japanese Translated version for this document please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90384a23-170c-478a-778f-f9bc7aebf27a
* Version Independent ID: 2c372e27-cb79-2ae8-c204-da115b30af82
* Content: [Migrate your existing Azure SQL Data Warehouse to Gen2](https://docs.microsof

[2019-02-15 01:38] wilsonchua20 commented on #23489
File file = new File("filepath", "filename.wav");
URIBuilder uribuilder = new URIBuilder("https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1");
            uribuilder.setParameter("language", "en-US");
            uribuilder.setParameter("format", "detailed");
            URI uri = uribuilder.build();
            URL url = uri.toURL();

            HttpURL

[2019-02-15 01:38] gregdorian opened #24997 "Can't connect to as a root"
in the Automate database startup and shutdown
I try to connect w/ sudo su - but it ask for a oracle password?
wich password I have to type?

---
#### Dettalji tad-Dokument

⚠ *Teditjax din is-sezzjoni. Hija meħtieġa għal docs.microsoft.com ➟ illinkjat ta' problemi GitHub.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Version Independent ID: 950014e2-2457-6045-eefd-865bd1c1fb76
* Content: [Create

[2019-02-15 01:39] wilsonchua20 commented on #23489
sorry, it should be wr.write(bytes) not stream

[2019-02-15 01:45] Teeina commented on #24837
Sorry for the late response. @AshokPeddakotla-MSFT  and  @Alberto-Vega-MSFT I'm still having this question. The guide is located here https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module. Thanks

[2019-02-15 01:53] Mike-Ubezzi-MSFT commented on #24994
@KeiroKamioka0000 Thank you for this. I have assigned to the content owner to evaluate and update as necessary.

[2019-02-15 01:58] Shell32-Natsu commented on #16689
@stephenmontgomery I find how to use extractions from Portal's HTTP request. You should use it like this
[code]
[Here](https://gist.github.com/Shell32-Natsu/b8e06ec114b31ed959867ef2b3f4d163) is the full content.

[2019-02-15 02:02] Alberto-Vega-MSFT commented on #24997
@gregdorian Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-02-15 02:08] Alberto-Vega-MSFT commented on #11440
@tinod We will now proceed to close this thread. If there are further questions regarding this matter or if you think that your feedback have not been addressed, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 02:08] #11440 closed

[2019-02-15 02:10] Alberto-Vega-MSFT commented on #13720
@kamellemann We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 02:10] #13720 closed

[2019-02-15 02:14] Alberto-Vega-MSFT commented on #21005
@SarithaMaran We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 02:14] #21005 closed

[2019-02-15 02:18] Alberto-Vega-MSFT commented on #24289
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 02:18] #24289 closed

[2019-02-15 02:19] Alberto-Vega-MSFT commented on #24456
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 02:19] #24456 closed

[2019-02-15 02:26] Alberto-Vega-MSFT commented on #9557
@henrydaehnke We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 02:26] #9557 closed

[2019-02-15 02:26] v-maroge opened #24998 "Sign up lead time and support for encrpyted image"
Hi, how long should we expect for our registration to be approved? And does share image support encrypted image as well? Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Share VM images with Shared Imag

[2019-02-15 02:33] ishepherd opened #24999 "Are Function Apps (Consumption Plan) supported?"
An App Insights instance which only monitors Function Apps, is prompting us to try Snapshot Debugger.
Are Function Apps (Consumption Plan) supported? I don't see confirmation on this page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5d06b9-67bc-4861-2f

[2019-02-15 02:42] KeiroKamioka0000 opened #25000 "Up-limit of Connections"
Hello,

Does the Connections uplimit will be followed by [Web Sockets per instance] limits in the following document?

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#app-service-limits

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Indepen

[2019-02-15 02:55] sffamily commented on #13430
@Alienroid All Azure services and endpoints only allow HTTPS, that also applies to all tiers for SignalR Service, including free tiers. The SignalR Service HTTPS support is based on TLS 1.2. If you encounter any issue or unexpected behavior with it please open an issue at https://github.com/Azure/azure-signalr/issues with some details and we will have engineer to help investigate it. Thanks!

[2019-02-15 03:14] Tiberriver256 opened #25001 "ListOrderItems - No Table for this in the automatic list"
Is there an easy way to get order items for the orders?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcde235c-7268-5226-d2ad-7c5f781812d9
* Version Independent ID: 3fb1530d-39c9-ab07-8832-d1c762340711
* Content: [Copy data from Amazon Marketplace Web Service using Azure Data Factory (Preview)](https://docs.microsoft.

[2019-02-15 03:25] Alienroid commented on #13430
Hi, If SignalR service for free tier also support SSL, please update the pricing tier because it currently doesn't reflect that change. Thanks.

[2019-02-15 03:26] zzulueta opened #25002 "results = new List<MyDataModel>(); will not work."
The line List&lt;MyDataModel&gt; results = new List&lt;MyDataModel&gt;(); in the code posted in this article does not work. Instead I changed to code to:
List&lt;MyDataModel&gt; results = new ArrayList&lt;&gt;();

List&lt;MyDataModel&gt; results = new List&lt;MyDataModel&gt;();
int nResults;
do {
    int currentCount = results.size();
    List&lt;MyDataModel&gt; pagedResults = mDataTable
        .

[2019-02-15 03:35] sffamily commented on #13430
Thanks @Alienroid, I can find what you described from the portal pricing tier tab. We are adding this and update it in the upcoming release. Thank you for pointing this out!

[2019-02-15 03:37] Alienroid commented on #13430
great! please close then

[2019-02-15 03:49] McSwan opened #25003 "Page isn't working 500 internal server error."
Hi,
Following the tutorial exactly, results in 500 server error.
The video does things differently and doesn't match, but is at least somewhat the same.
I have set the node version to 8.11.1 ( suggestion in comments - not in tutorial - and would prefer a higher version of node to work)
I have tried running the command prompt in kudu - npm install, npm start - still doesn't work.
I have checked tha

[2019-02-15 03:53] DashleenBhandari-MSFT commented on #24925
@cyau73 , Are you still getting this error? If yes, could you please help me with the name of your webapp?

[2019-02-15 04:02] batizar opened #25005 "Create a project for WebJob .NetCore"
In "Create a project" it only mentions creating .Net Framework Console Application, shouldn't this be .NetCore for WebJob 3.0?

https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#create-a-project

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Versi

[2019-02-15 04:03] raghavan20 commented on #23265
okay thanks for all your answers. you may close this ticket.

[2019-02-15 04:23] msrini-MSIT commented on #24920
@ramadarla , Do you have any update for me?

[2019-02-15 04:23] msrini-MSIT commented on #24919
@richpowell , Do you have any update for me?

[2019-02-15 04:24] KetanChawda-MSFT commented on #24866
@erndob Thanks for the update. I am glad that it worked. Appreciate if you can share the details that how you made it worked with snapshots to help others in the community.

we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 04:24] #24866 closed

[2019-02-15 04:34] raghavan20 commented on #23265
Thanks for the answers.

One last question, I asked it on StackOverflow (https://stackoverflow.com/questions/54688682/iotedge-how-to-requeue-message-that-could-not-be-processed) but have not got a reply. If I want to requeue a message received through `edgeHub`/`RocksDB` because the message could not be processed at the moment, what is the response I should send? I used to send `REJECT` but I thin

[2019-02-15 04:40] femsulu commented on #24785
@jzuchora87 thanks for elaborating. Does the sample help or do you need additional info?

[2019-02-15 04:42] richpowell commented on #24919
@msrini-MSIT
m0ka@ircVm:~$ netstat -ano
Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       Timer
tcp        0      0 127.0.0.53:53           0.0.0.0:*               LISTEN      off (0.00/0/0)
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      off (0.00/0/0)
tcp        0      0 0.0.0.0:44

[2019-02-15 04:44] McSwan commented on #25003
OK so
az webapp create -g SimGroup -p myAppServicePlan -n GameHost2 --runtime "node|10.6"
fixes the tutorial. Just open your azure shell and put this in.

THIS DOES NOT WORK :(
az webapp config appsettings set --resource-group myResourceGroup --name <app_name> --settings WEBSITE_NODE_DEFAULT_VERSION=8.11.1

Please, update your tutorial.

(Radical Candor)
As a side note - how long has this been bro

[2019-02-15 04:48] CelesteDG commented on #24804
@slaFFik - Please see the info from hpsin for any additional follow up questions.

#please-close

[2019-02-15 05:01] KetanChawda-MSFT commented on #24988
@KeiroKamioka0000 The built-in logging stuff in the document is stale. You can track the referenced (https://github.com/MicrosoftDocs/azure-docs/issues/19517) post for the details.

The logs will be generated during the function execution. All the invocation logs will be sent to the Application insights.

[2019-02-15 05:01] angoyal-msft commented on #24332
@Cephei Glad that you are able to figure out the problem. Thanks for sharing the findings. I am checking internally to find whether this is intended behavior or not.

[2019-02-15 05:02] bryanklewis opened #25007 "Document the required info for dynamic routing"
The Event Hub ingest for Azure Data Explorer mentions that "you can also use dynamic routing, where your data includes the necessary routing information". What is the information required in an event to use dynamic routing? Example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5808ed2-5d09-4c56-dc0b-4e3650f8fc16
* V

[2019-02-15 05:08] neeleshray commented on #24963
@daweins  Thank you for your feedback . We will have this reviewed and updated as required.

[2019-02-15 05:10] ManojReddy-MSFT commented on #24620
@Norrch2 We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-15 05:10] #24620 closed

[2019-02-15 05:12] #24648 closed

[2019-02-15 05:16] v-maroge commented on #8812
Hi @mrbullwinkle sorry ping, do you have any updates?

[2019-02-15 05:17] PramodValavala-MSFT commented on #24823
@smidley Glad we could help! 😄

Since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 05:17] #24823 closed

[2019-02-15 05:19] atullalwani commented on #24556
Hi Mike & Rachel,
Thanks for the update on this. That answers my question on log limits. I also read that "The log files rotate every one hour or 100-MB size, whichever comes first".

So once I reach the threshold limit of 1G, would it clear the old logs per new 100 MB of log generated or per hourly cycle.

I believe high level of logging also supplements auditing on which user is running what com

[2019-02-15 05:19] falccc commented on #24900
Another request for this please.  It seems that device redirection now cannot be controlled so all redirection is enabled.

[2019-02-15 05:21] msrini-MSIT commented on #24919
@richpowell , Can you make sure, you created NSG rule to allow port 80 and 443 which is associated to NIC/Subnet?

[2019-02-15 05:23] jakaruna-MSFT commented on #24998
Thanks for the question! We are investigating and will update you shortly.

[2019-02-15 05:25] KrishnaG-MSFT commented on #23140
@bwren Thanks for the update!
@russellseymour We will be closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-15 05:25] #23140 closed

[2019-02-15 05:29] CountlessNumber commented on #23940
I've got an open support case at the moment as well

[2019-02-15 06:06] ChiragMishra-MSFT commented on #24935
@jn-altius It is indeed source only interoperability. As a matter of fact, S3 connector isn't a supported sink on ADF yet.

Hope this helps.

[2019-02-15 06:08] Qq20180503 commented on #23090
@SubhashVasarapu-MSFT  and @christiankuhtz. My scale set has no public IP address and no instance-level public IP address as well. I create the standard LB with a private IP in a VNet first, then create a vmss with the option"none" in the Azure portal, then I still could not add the vmss in the backend of LB. It seems that the public standard LB support vmss, but internal standard LB does not?

[2019-02-15 06:14] SubhashVasarapu-MSFT commented on #23090
@Qq20180503 Thanks for bringing this to our notice. We are investigating on this issue and will update you as soon as possible.

[2019-02-15 06:17] cmeeren commented on #24745
For the purposes of crosslinking, I recently [asked this on on Stack Overflow](https://stackoverflow.com/questions/54625975/possible-to-jump-from-new-metrics-explorer-to-search), but currently no answers.

This is the only reason I'm still using the classic Metrics explorer.

[2019-02-15 06:18] ChiragMishra-MSFT commented on #25001
@Tiberriver256 As of now there's no direct way to get order items from within an order. The Amazon MWS connector is in preview now. With the next (General Availability), there should be more features and flexibility added to it.

 I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitor

[2019-02-15 06:18] #25001 closed

[2019-02-15 06:30] dbollaer commented on #24273
@dlepow, thank you for taking my feedback into account.

[2019-02-15 06:34] SuttyHoo commented on #24981
Hi

Thanks for responding.

I am not seeing where the NSG is created in this tutorial. Is it relying on it having been created in a previous tutorial?

All I see is on being assigned when the vm is created. Does this create a NSG? It appears not, from what I see in the resource group. No NSG is visible.

Also, if was created, surely it needs to be configured to allow traffice.

Thanks.

Grant

Get

[2019-02-15 06:59] RohitMungi-MSFT commented on #24894
@rramani Thanks for the clarification. One of the preferred ways is to save the workspace details to a configuration file and load it if required. Here are the [steps](https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-create-workspace-with-python#write-a-configuration-file) for the same. You can then load the workspace from other scripts and notebooks in this directory.

w

[2019-02-15 07:09] imeya opened #25013 "can you share the old docs for python app which contains detailed steps about how to use git deployment?"
The python web app doc seams changed. And in the old doc, it has detailed steps which we can specify the python version, and also use git deployment. can you share a link to the old docs? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-

[2019-02-15 07:21] RohitMungi-MSFT commented on #24848
@AndyCW Did you get a chance to review the updated document? I hope it clears things up.

[2019-02-15 07:22] RohitMungi-MSFT commented on #24847
@AndyCW Did you get a chance to review the updated document? I hope it clears things up.

[2019-02-15 07:29] Anmolgan81 commented on #21565
Hi @Mike-Ubezzi-MSFT Can we reopne this post, and help the customer on the requirments?

[2019-02-15 07:30] kanchencostco opened #25014 "Error in SQL statement: AnalysisException: Unable to infer schema for JSON. It must be specified manually.;"
I am good on running all steps until on step - " Run a Spark SQL Job",   got the above error cos I am not sure what value to replace &lt;PATH&gt; in following statement:

 path  "abfss://ntnewfilesystem0215002@ntstg0215.dfs.core.windows.net/&lt;PATH&gt;/small_radio_json.json"

Appreciate if you someone can help me on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-02-15 07:35] gxgrammatikos commented on #24561
Hello @MicahMcKittrick-MSFT
Allow me to elaborate, the problem is that I couldn’t deploy an Azure Batch (with user subscription Pool Allocation Mode) if  the user was not service admin if you try so, you get the following error.

![thumbnail_image002](https://user-images.githubusercontent.com/10853004/52841383-de41df80-3104-11e9-8b4e-a39986646d6f.jpg)

If you want to reproduce the error, you shoul

[2019-02-15 07:43] pnda489 commented on #14520
Hi all !

We ran into the same problem. Microsoft Service recommended to use both as a Singleton for performance improvements. The Problem was also the websocket which was hold open for to long by a Singleton.
Thus this isn't working without some more coding.

If you want to get started easily you should go the way you mentioned.
- GremlinServer as Singleton
- GremlinClient as Scoped

How to use b

[2019-02-15 07:45] pnda489 commented on #14520
Hi all !

We ran into the same problem. Microsoft Service recommended to use both as a Singleton for performance improvements. The Problem was also the websocket which was hold open for to long by a Singleton.
Thus this isn't working without some more coding.

If you want to get started easily you should go the way you mentioned.

* GremlinServer as Singleton
* GremlinClient as Scoped

How to use

[2019-02-15 07:47] SumanthMarigowda-MSFT commented on #25014
@kanchencostco Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-15 07:56] BharathNimmala-MSFT commented on #24768
@lukdlu Can you please help clarify if you are using the PowerShell script in the [documentation ](https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-create-custom-image-from-vhd-using-powershell#powershell-script-to-create-a-custom-image-from-a-vhd-file) to create the custom image. If yes, can you please confirm from where you are reading the $VhdURI ? Is it from the storage account

[2019-02-15 08:08] BharathNimmala-MSFT commented on #24764
@lukdlu We see a similar issue has been discussed in the recent past. Request you to please have a look at the this and see if it helps to resolve your issue.  [https://github.com/Azure/azure-powershell/issues/7110](7110)

If you are still seeing the issue , let us know. Thanks

[2019-02-15 08:10] harekore commented on #19653
I was reading the material for the course "AZ-100T01-2018_Q3A - Managing Azure Subscriptions and Resources" and it has a (very similar) hierarchy diagram. That diagram actually has the "Infrastructure Team management group". Maybe you could just copy that diagram to here?

[2019-02-15 08:12] batizar opened #25015 "Dependency Tracking Telemetry with App Insights"
Can't find any documentations on how to add dependency/failure/request tracking and other telemetries by App Insights when I use webjob 3 .netcore. Since applicationinsights.config cannot be used in .netcore and AddApplicationInsightsTelemetry doesn't exist like ASP.NET Core, and not really sure how to use what is explained here (https://docs.microsoft.com/en-us/azure/azure-monitor/app/console) in

[2019-02-15 08:12] ChandraSM commented on #24791
Hello Alberto,

Customer had already raised a case regarding it, the case ref. is 119020126002531

I had logged an ICM 103858413 for the same and it was identified as Network Watcher process was the reason for this activity. This is something which is happening in the backend as configured by the customer but why Azure Threat Protection is triggering warning message thinking this as unusual activi

[2019-02-15 08:16] rmosselveld commented on #24934
@sidramadoss I am not using the delta option yet. In the end I would like to use the delta option, but i tried turning on the periodical refresh first.
I will start creating the job in Visual Studio to see wether I can get it to work here. I'll get back to you with the result.

[2019-02-15 08:17] dcbrown16 commented on #24785
I was told internally that it is possible to configure workspaces for some resources (at least VMs) but not for others (at least Web Apps). Documenting that capability along with the method for doing so as requested here would be a big help.

[2019-02-15 08:20] #24481 closed

[2019-02-15 08:21] YASWANTHM-MSFT commented on #24526
@KeiroKamioka0000 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-15 08:21] #24526 closed

[2019-02-15 08:22] ACorredoira opened #25016 "Error when querying external table"
I get the following error in SSMS on a query using External tables in Azure SQL DB when selecting an entire table without any WHERE/JOINS. : 'An error occurred while executing batch. Error message is: Value to add was out of range. Parameter name: value'

When in Azure Data Studio it returns an error as well (less descriptive): Query failed: Internal connection fatal error.

If I do a SELECT TOP 1

[2019-02-15 08:22] imeya opened #25017 "Usage of event hubs namespace"
I want to know the exact usage of event hubs namespace, just to contains some event hubs(like resource group to include many azure resources)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 460a9e7d-edf1-c112-349d-378d0456d09d
* Version Independent ID: c5d2854e-546d-6921-9275-5897c3ce1004
* Content: [Azure Quickstart -

[2019-02-15 08:30] dcbrown16 commented on #23883
@SadiqhAhmed-MSFT thanks for your investigation.
How can we determine which resources allow multiple workspace settings and which do not?
Feel free to include me on any internal communications directly at v-dibr. Thanks!

[2019-02-15 08:30] angoyal-msft commented on #25007
@bryanklewis Thanks for your feedback. As per the document, "you can also use dynamic routing, where your data includes the necessary routing information" signifies the information like table name, file format, and mapping which we need to provide while creating New Data Connection with static routing, is not needed in case of dynamic routing.

Please refer below screenshots in case of static and

[2019-02-15 08:30] RohitMungi-MSFT commented on #24899
@gramhagen This issue will be fixed by PR 66600, We will now proceed to close the issue. Thanks for the feedback!!

[2019-02-15 08:31] #24899 closed

[2019-02-15 08:34] SumanthMarigowda-MSFT commented on #24686
@DineshPriyankara We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 08:34] #24686 closed

[2019-02-15 08:35] lukdlu commented on #24768
Yes, I'm using this script with one change - I'm getting the vhd uri this way:

`$machine = Get-AzureRmResource -ResourceName ("{0}/{1}" -f $sourceDtLab.Name, $machineName) -ResourceGroupName $sourceDtLab.ResourceGroupName -ResourceType 'Microsoft.DevTestLab/labs/virtualMachines'
    $ComputeID = (Get-AzureRmResource -ResourceId $machine.Id).Properties.ComputeID
    $ComputeID = Get-AzureRmVM | Wh

[2019-02-15 08:37] imeya opened #25018 "what's the difference between the namespace_level and event_hub_level connection string?"
what's the difference between the namespace_level and event_hub_level connection string?

As per my understanding, namespace level connection string can operate all the event hub instances within the namespace. And the event hub level connection string only apply to the event hub itself?

right? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-02-15 08:39] hugree opened #25019 "Can't login using user managed system identity"
I created a VM.
I assigned both System and User Identity.
I logged into the VM.
I tried doing
az login --identity --username /subscriptions/.../user-identity
but I get the following error "No access was configured for the VM, hence no subscriptions were found"

using MSI works fine, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-02-15 08:41] YutongTie-MSFT commented on #24640
@secbug
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry
Hi Dina, I tried to find some clues about the size but can not find anything. Could you please help with this issue? If you think it's necessary, we can add more details to this document.

[2019-02-15 08:43] imeya opened #25020 "can we use the event hub level connection string to create an event hub client?"
is it possible to use the event hub level connection string to create an event hub client? if yes, what's the difference of the clients(created using the 2 different connection string)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d72268d-2235-7fb1-3bdc-2bab4f589123
* Version Independent ID: b01de562-b11b-02a2-31a5-

[2019-02-15 08:45] Potapy4 opened #25021 "Broken note snippet"
The second note block is broken.

![capture](https://user-images.githubusercontent.com/18706421/52845109-f28ada00-310e-11e9-83c7-b2284ee944cd.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae05c9ae-995f-def7-91fd-3210d4cd6178
* Version Independent ID: c6456f34-7074-28bb-e897-b32e9d04e5ad
* Content: [How to use AMQ

[2019-02-15 08:47] ChiragMishra-MSFT commented on #24971
@ravikiran-srini Thanks for trying out azure data factory. We are investigating into your concern and will update you shortly.

[2019-02-15 08:47] YutongTie-MSFT commented on #24704
@adhishthite Hi, I think the problem should be caused by more than one subscription. If you use !az login and then change the subscription, it should work. Thank you.

[2019-02-15 08:48] YutongTie-MSFT commented on #21501
@pushsos Sorry just saw your response.  I think the problem should be caused by more than one subscription. If you use !az login and then change the subscription, it should work. Thank you.

[2019-02-15 08:48] ChiragMishra-MSFT commented on #24985
@YoDaMa Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-15 08:51] lukdlu commented on #24764
Tried that (https://github.com/Azure/azure-powershell/issues/7110#issuecomment-419518459) and it even make it worse - as it disables context autosave, script is not able to find subscription (and DTLab, VM...). Please note that my issue is sightly different:
- it is able to correctly find subscription, DTLab, VM
- in next line of script Invoke-AzureRmResourceAction is called, and then the issue ha

[2019-02-15 08:54] Werner-MOC opened #25024 "Reset the password expiration policy"
The whole topic is not necessary anymore, it defaults now (1901) to 679 days

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be299a6e-e10b-ae65-a59d-e5730e33a54d
* Version Independent ID: 5e7e99e2-4d26-c869-fdd8-1012acc29604
* Content: [Post deployment configurations for the Azure Stack Development Kit (ASDK)](https://d

[2019-02-15 08:55] ManojReddy-MSFT commented on #24862
@colinrippeyfinarne I tested this with a new application today and it worked as expected for me. Can you confirm if you are using the default policies or custom policies ? Also can you try with a different browser ?

If possible please include a screenshot as well.

[2019-02-15 09:01] batizar commented on #25015
Fixed my issue like this but I don't like how it looks. Using AutoFac and Serilog. Please advice if there is a cleaner or easier way to do this.

`
private static DependencyTrackingTelemetryModule InitializeDependencyTracking()
        {
            var appInsightsKey = Configuration.GetValue<string>("APPINSIGHTS_INSTRUMENTATIONKEY");

            var configuration = TelemetryConfiguration.Active;

[2019-02-15 09:06] pranabdas457 commented on #24842
Do Cognitive Services only work on windows desktop or console applications? Because here I am trying to use it in Web API.

[2019-02-15 09:07] mcurko opened #25026 "Note"
I believe that to have access to secret management, you have to assign an access policy first, otherwise you receive a 'Forbidden' error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88c5a5a-7172-3836-e882-7a08b69e9572
* Version Independent ID: 07c17d2d-ed23-4639-d698-c1285178196a
* Content: [Azure Quickstart - Set

[2019-02-15 09:09] SnehaAgrawal-MSFT commented on #24918
@scegg and @nipunsahni Kindly let us know If you are using SQL database backup and for which region you are using backup?

[2019-02-15 09:11] scegg commented on #24918
Not for SQL database backup. Only web page included.
Zone is Japan East.

Thanks.

[2019-02-15 09:12] imeya opened #25027 "The meaning of "managing persistent checkpoints""
In this section "Create a storage account for Event Processor Host", it mentions "managing persistent checkpoints".

I'm not very clear about it, does it just mean store the events in a storage account? or any other means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffc27b98-907f-c57f-6db5-155d70b59868
* Version Ind

[2019-02-15 09:15] ManojReddy-MSFT commented on #24834
@nkumars This normally happens when the client id or the secret provided in Azure are incorrect. Can you recreate the provider in Azure once and see if you have the same error ?

[2019-02-15 09:18] imeya opened #25028 "can you explain the "send" and "listen" in the SAS page?"
In the SAS page, there are some options: Manage, send, listen.

For manage, I think it includes the send and listen. and does it have other permission / function?
For send, I think it can use to send events to event hub.
For listen, I think it can use to receive events to azure storage.

Is this right? or if you can provide more details?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-15 09:24] KalyanChanumolu-MSFT commented on #25016
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-02-15 09:26] Danrawlings-msft opened #25029 "typo: resourcegroups type missing the s at the end so policy wont work as described"
In the section above that discusses the policy mode the resourcegroups type is incorrectly specified :

"indexed should be used when creating policies that enforce tags or locations. While not required, it prevents resources that don't support tags and locations from showing up as non-compliant in the compliance results. The exception is resource groups. Policies that enforce location or tags on a

[2019-02-15 09:38] KetanChawda-MSFT commented on #24976
@Potapy4 Thank you for contributing with your PR.

@neville-nazerane The referenced will PR (https://github.com/MicrosoftDocs/azure-docs/pull/25023) will fix this issue.

[2019-02-15 09:39] ManojReddy-MSFT commented on #24900
@MicrosoftGuyJFlo Do you have any insights regarding this ?

[2019-02-15 09:52] KetanChawda-MSFT commented on #24922
@SychevIgor There is no extra charges to use on-premises data gateway except the one that you have mentioned.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 09:52] #24922 closed

[2019-02-15 09:53] KetanChawda-MSFT commented on #24973
@StingyJack The file `local.settings.json` stores app settings, connection strings, and settings for Azure Functions Core Tools. Settings in the `local.settings.json` file are only used by Functions tools when running locally.

unfortunately there is no way you can replace `local.settings.json` with `app.config`

[2019-02-15 09:54] tolstyiii commented on #18292
Are there any timescales to production V2?

[2019-02-15 10:09] BhargaviAnnadevara-MSFT commented on #24999
@ishepherd Thanks for the question! We're investigating this and will get back to you shortly.

[2019-02-15 10:11] SnehaAgrawal-MSFT commented on #25000
@KeiroKamioka0000 Yes, it will be followed by [Web Sockets per instance](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/azure-websites-limits.md) also review below document for better understanding.
https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#cross-vm-numerical-limits

[2019-02-15 10:14] samuelnettey commented on #18508
@davidmu1 hi Dave you are right. just added the 'https://' in CORS configuration and it worked. Thanks !

[2019-02-15 10:17] AlekseySokol commented on #24550
Hello @MarkusVi,
Thanks for your input!
 I'll open a ticket to check if configuration setup properly.

[2019-02-15 10:19] nevseev opened #25031 "Required flag is not respected in Output claims for signuporsign"
&lt;OutputClaims&gt;
&lt;OutputClaim ClaimTypeReferenceId="email" Required="true" /&gt;
....
The above Required attribute is not respected when using combined signuporsignin policy. aria-required and required attributes are missing from the generated HTML. Can you please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-15 10:26] dsJoe opened #25033 "Deleting a data file/Directory from Data store"
How can I delete a particular file/Directory from Data store? Also I am not able to download a single file from datastore. The whole directory is getting downloaded. Could you please help?

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azur

[2019-02-15 10:32] Sudharma commented on #24191
I exactly need the same thing working

[2019-02-15 10:44] AshokPeddakotla-MSFT commented on #24524
@mschuman We did not receive any response from you after @sergaz-msft reply. Please go through the above response and check if all pre-requites are met.

[2019-02-15 10:46] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness  Have you referred to this GitHub article **https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview**

[2019-02-15 10:52] Sudharma commented on #23789
No problem. However please keep me updated since I am eager on this solution

[2019-02-15 10:55] jakaruna-MSFT commented on #25019
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 11:03] KrishnaG-MSFT commented on #24864
@priyamohanram I could reproduce the issue. Any insights on this please ?

[2019-02-15 11:04] ampac28 opened #25034 "How to form json format message which can be send as output to Service bus Queue"
I want to know the Stream Analytic query which can read IoT hub json data do some maipulation and return the transformed json data to service bus queue.
Please help me in writing such kind of Query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896ae0e-a559-64c7-1782-14ef1c83f509
* Version Independent ID: fdc01b78-92

[2019-02-15 11:05] ChiragMishra-MSFT commented on #25028
@imeya Which page are you referring to ?

[2019-02-15 11:06] KetanChawda-MSFT commented on #25021
@Potapy4 Thank you for the feedback and appreciate your effort for creating a PR with the fix. The document will be update once the PR will merged.

[2019-02-15 11:07] ChiragMishra-MSFT commented on #25027
@imeya Yes it means checkpoints (of events) are created and stored in a storage account.

[2019-02-15 11:08] SvenSowa commented on #18121
What determines the column names for the billing report? As an example I am getting Swedish column names with English ones in parenthesis "Kontonamn (AccountName)" when calling
https://consumption.azure.com/v3/enrollments/...
Is there a way to change that with a header in the REST call?

[2019-02-15 11:10] ChiragMishra-MSFT commented on #25020
@imeya No, the event hub level connection string can be only used to send message to a particular event hub. It corresponds to an event hub and hence cannot be used to create one in the first place.
Hope this helps.

[2019-02-15 11:14] c054864 commented on #14132
Very infuriating indeed @timmyreilly !!

After lots of spinning, I found the correct URL to use from here:  https://github.com/Azure/azure-functions-host/issues/3387

e.g

https://localhost:7071/runtime/webhooks/eventgrid?functionName={FunctionName}

[2019-02-15 11:20] ChiragMishra-MSFT commented on #25034
@ampac28 Thanks for the feedback. We are looking into the issue and will update you shortly.

[2019-02-15 11:28] ChiragMishra-MSFT commented on #25018
@imeya Yes that's correct. Namespace level connection string can be used to operate on any event hub within the namespace.

[2019-02-15 11:34] ChiragMishra-MSFT commented on #25017
@imeya Namespaces are unique scoping containers, referenced by its fully qualified domain name, in which you create one or more event hubs.

To read about the operations on namespaces, please refer to this doc :
https://docs.microsoft.com/en-us/rest/api/eventhub/namespaces

Hope this helps.

[2019-02-15 11:39] ManojReddy-MSFT commented on #25026
@mcurko You are correct.  If user A creates a KV then an access policy with full control over keys/secrets/certificates is created automatically for the user A. This is actually mentioned in the doc as well - "After vault creation your Azure account is the only account allowed to do anything on this new vault.".

If you are using  different accounts to create the KV and secret management then you

[2019-02-15 11:41] SnehaAgrawal-MSFT commented on #24918
Could you try [Back up a web app using PowerShell](https://docs.microsoft.com/en-us/azure/app-service/scripts/powershell-backup-onetime?toc=%2fpowershell%2fmodule%2ftoc.json) if not tried already.
If the issue still persists, could you share the WebApp name directly here or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly) for further inves

[2019-02-15 11:41] rohitBaravkar opened #25035 "doccumentation is not updates with available version"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-15 11:43] mcurko commented on #25026
I think this is true only if you create the vault in Azure portal, otherwise you have to assign the policy explicitely.

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.

[2019-02-15 11:52] ManojReddy-MSFT commented on #25026
@mcurko I have created a KV using portal, AzureRM PS module and the new Az module. In all the three cases an access policy was created automatically. You can actually see it at the time of vault creation as well.

Please check the screenshot below

![image](https://user-images.githubusercontent.com/44399320/52854983-30efbb80-3146-11e9-9f7e-104f43f62650.png)

[2019-02-15 11:55] timmkrause opened #25036 "Best practice for creating "Run from package" ZIP missing"
`/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true` seems to build the packages like MSDeploy needs it:

![image](https://user-images.githubusercontent.com/2163179/52854821-0ee34280-3120-11e9-9f18-9d7453c50957.png)

This is not how the package should be structured for "Run from package" ZIP deployments.

I think it would make sense to add a section about how to create t

[2019-02-15 12:08] mcurko commented on #25026
Here come my images. Note that the yellow message is false, I'm logged in as an AAD user!

Could this be a bug in the new AZ module?

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[

[2019-02-15 12:11] AjayKumar-MSFT commented on #25002
@zzulueta, Thanks for reporting this issue! We are currently investigating and will update you shortly.

[2019-02-15 12:27] AndyCW opened #25037 "Optimal usage of the Single Testing Panel and Batch Testing needs explanation"
This article explains that the optimal cycle is to define 10-15 utterances per intent, then "Once you have 10 to 15 different utterances in each intent, with the required entities labeled, train and publish." It then advises you to do HTTPS endpoint testing, and to review any utterances that have a low confidence rating until the review list is empty. Then when you are done with a cycle of authori

[2019-02-15 12:28] AjayKumar-MSFT commented on #25003
@McSwan, Apologies for all frustration that you have encountered with this issue. Thank you for reporting this problem. Your feedback has been shared with the content owner for further review.

[2019-02-15 12:35] rmosselveld commented on #24934
@sidramadoss I now managed to create to SQL input with periodical refresh using Visual Studio. After a succesful test, I succesfully published this input to Azure.
However, if I open the input on the Azure portal and push test, I get the same error "Unexpected error while testing the resource.". This seems to be an error on the portal?

Another question. I have to associate a storage account to my

[2019-02-15 12:35] DashleenBhandari-MSFT commented on #25005
@batizar Thanks for raising this issue. I will check the document.

[2019-02-15 12:36] RogerDawson opened #25039 "Azure App Service connected to Virtual Network"
Hi, this page makes no mention of Azure App services that are connected to Virtual Networks. I believe they use P2S to connect to the virtual networks so can I just confirm there won't be any side-effects on those systems? Many Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5593712-e2ff-ceaa-f83e-34e6f1ab3e2c
*

[2019-02-15 12:36] hectoralicea commented on #15815
document still shows using `azure` CLI 1.0

[2019-02-15 12:47] StingyJack commented on #24973
@KetanChawda-MSFT - So I'll ask you the question then,...

What is the business reason to actively prevent users from using the configuration subsystem that already exists, that is well tested, is well known and understood, that has has existing tooling for, and that is feature-superior (by a **lot**) to the thing you would like us to use instead?

If you yourself do not know what these reasons we

[2019-02-15 12:48] bbarrington2001 opened #25040 "Enable-AzureRMDiagnostics.ps1 no longer available"
Follow the link for Enable-AzureRMDiagnostics.ps1 on PowerShell gallery and you'll see: The owner has unlisted this package. This could mean that the script is deprecated or shouldn't be used anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8c554e-507d-9642-e363-4e8e329385f9
* Version Independent ID: 087215f5-

[2019-02-15 12:55] StingyJack opened #25041 "How to disable the use of this in vs projects?"
I dont want to use this when debugging Azure functions, I'd rather use Azurite instead, as it doesnt require administrative permissions to run.  How can I disable vs projects from wanting to start this while debugging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Indepen

[2019-02-15 13:02] wolfma61 commented on #24842
The sample you reference it about a stand-alone application, is it working for you as advertised?

[2019-02-15 13:04] #25016 closed

[2019-02-15 13:06] ACorredoira commented on #25016
Found the issue, had a nullability mismatch between external data source definition and the original table. Error message could be a little bit more descriptive of what actually went wrong.

[2019-02-15 13:07] RushabhK23 opened #25042 "VHD Size on Azure page blob"
While calculating throughput, the tool uploads 64-MB vhd as page blob of container in given storage account details. This asrvhd&lt;#&gt;.vhd file in Blobs section shows size of 1 GiB. Can anyone explain reason behind this ??
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c69ab88d-6c40-e615-962d-db13

[2019-02-15 13:07] arunbethini commented on #24978
Hi @mike-urnun-msft I believe my question comes under ARM deployments. https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/azure-resource-manager

[2019-02-15 13:09] gregdorian commented on #24997
hi alberto the documentation that I'm Following is this https://docs.microsoft.com/mt-mt/azure/virtual-machines/workloads/oracle/oracle-database-quick-create?view=sql-server-2016

[2019-02-15 13:15] charlbury commented on #24633
How do I check the symlinks on the web app server?

-- 
Stephen Graham

On 14 February 2019 at 23:03:47, Grace-MacJones-MSFT (notifications@github.com) wrote:

@charlbury thanks for your patience. The similar question you references mentioned a possible solution. Are the symlinks on your local machine and web app server matching?

—
You are receiving this because you were mentioned.
Reply to this

[2019-02-15 13:19] tonisc commented on #15958
I have the same problem. I have created an storage account and a blob container inside. I assign the "Storage Blob Data Contributor (Preview)" role to an AD user and with this user I can't acces to a files in the container from Azure Explorer. Not works yet with the last 1.6.2 version of Azure Explorer?

[2019-02-15 13:21] craigshoemaker commented on #24179
@miqm, thanks for the heads-up on this. I will contact the Product Team to verify the best way to update this doc.

[2019-02-15 13:23] SadiqhAhmed-MSFT commented on #23433
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-15 13:23] #23433 closed

[2019-02-15 13:27] clisc commented on #24937
It doesn't look like the issue with the documentation was fixed:

![image](https://user-images.githubusercontent.com/23040875/52859731-789d2580-30fb-11e9-9822-0e0e4939242b.png)

[2019-02-15 13:28] davidma3768 commented on #24851
I encountered same issue,
notebook:17: error: type mismatch;
 found   : java.util.concurrent.ExecutorService
 required: java.util.concurrent.ScheduledExecutorService
    val eventHubClient = EventHubClient.create(connStr.toString(), pool)
                                                                   ^

[2019-02-15 13:28] clisc commented on #24937
Can you see how I clearly clicked on "Set and retrieve a secret - .NET" but the example on the right shows "Azure CLI"?  This is not correct.  Azure CLI is the first item in the list of Quickstarts in the menu on the left.

[2019-02-15 13:29] clisc commented on #24937
How do I reopen this issue since it was not resolved?

[2019-02-15 13:33] tonisc commented on #15958
I made another test. I also assign a "Reader" role to the same user and after works fine. This user can use Azure Explorer for read the files in the STA container. This is the normal operation?

[2019-02-15 13:33] jwargo commented on #21729
@BryanTrach-MSFT please assign to me

[2019-02-15 13:34] jwargo commented on #20146
@BryanTrach-MSFT please assign to me

[2019-02-15 13:35] jwargo commented on #19473
@BryanTrach-MSFT please assign to me.

[2019-02-15 13:37] craigshoemaker commented on #24976
I just signed off on the PR, so we can #please-close this issue once it is merged.

Thanks, again @Potapy4!

[2019-02-15 13:49] AndyCW commented on #24848
I like it that you have clear links to the relevant Concept and How-to documents. However, the article still does not make any statement on the purpose of a Phrase List and the improvements to recognition you can expect by using this feature. I think this article would be improved if it included a sentence or two outlining the possible benefits of adding a Phrase List - that's missing so far.
I wo

[2019-02-15 13:51] sirdank commented on #24961
@MicahMcKittrick-MSFT Thank you. For what it's worth, I was able to get the secrets populating on my container as well based on the ARM template here:

https://github.com/Azure-Samples/service-fabric-mesh/blob/master/templates/helloworld/helloworld.private_registry.windows.json

I think it boils down to changing

"properties": {
        "kind": "inlinedValue",
        "description": "My Mesh Appli

[2019-02-15 13:52] SumanthMarigowda-MSFT commented on #25041
@StingyJack Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-15 14:00] PramodValavala-MSFT commented on #24921
@cveld Just following up here... Could you share more details on your scenario?

[2019-02-15 14:00] AndyCW commented on #24847
I have a problem with these sentences: "Do not apply these practices before your app has received endpoint requests. You should understand how the app behaves before adding phrase lists and patterns." This seems to contradict what you say in the newly added next paragraph "There is no harm adding them in the beginning of your model design but it is easier to see how each feature changes results if

[2019-02-15 14:04] KetanChawda-MSFT commented on #25036
@timmkrause Thank you for posting your question. We will review and provide an update on this.

[2019-02-15 14:08] larswestman opened #25043 "Wrong JSON example"
We tried to use the above example in Postman to setup up a webhook in Zapier with little success. After some research we found that the keywords doesn't begin with capitals.

This works:

{
"offerTitle": "Test Microsoft",
"leadSource": "Test run through MS Flow",
"userDetails": {
"company": "Contoso",
"country": "USA",
"email": "someone@contoso.com",
"firstName": "Some",
"lastName": "One",
"phone"

[2019-02-15 14:08] afmorris commented on #20758
☝️ that's my details above.

I've seen this issue using Azure Database for PostgreSQL and attempting to access from Azure App Services and Azure DevOps both, for more clarity.

[2019-02-15 14:13] PramodValavala-MSFT commented on #24926
@bogan Just following up here... Hope my previous comment helps.

We are assigning this issue to the content author to review and update accordingly.

[2019-02-15 14:19] jzuchora87 commented on #24785
I'm still looking for an example or template on how to set diagnostics on a key vault or activity log to send to multiple workspace, if it's possible. It seems like we're still not clear on that or it may depend on the resource type? Thanks.

[2019-02-15 14:26] bjthomson commented on #21602
Nice one @awickham10 that was the trick, thanks.
As @danbord said, it took a while to propagate, but it seems to work fine.

[2019-02-15 14:26] sirdank commented on #24961
Also, now that I've got it working, I'm a bit confused about the whole purpose of this feature. Why shouldn't I skip all these extra ARM resources and just have a securestring parameter and put this under settings:

"settings": [
                    {
                      "name": "MySecretPasswordSetting",
                      "value": "[parameter('MySecret.txt')]"
                    }

[2019-02-15 14:28] #24928 closed

[2019-02-15 14:33] AjayKumar-MSFT commented on #25013
@imeya, Looks like you're referring to this document [Configure your Python app for Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python), hope this helps!

[2019-02-15 14:35] AjayKumar-MSFT commented on #25033
@dsJoe, Could you please provide the document that you're referring to?

[2019-02-15 14:35] jbpaux opened #25044 "Confusion between connected/disconnected and identity provider"
The content on this webpage is confusing.
This page should discuss identity provider (AAD vs ADFS) and not connection model (Connected vs Disconnected) even if Disconnected implies ADFS identity provider.
The first part with the table should be in https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-connection-models and this page only focus on identity provider choices.
Also "Deployment

[2019-02-15 14:35] artisticcheese commented on #10097
This prevents using Log Analytics for queries on data

[2019-02-15 14:48] stephenmontgomery commented on #16689
@Shell32-Natsu thanks for this - works a treat! I can't remember what I had originally but date fields in the custom logs now balance up.

[2019-02-15 14:51] AjayKumar-MSFT commented on #25035
@rohitBaravkar, Could you please share the document that you're referring to? And, kindly provide more details on your query/scenario.

[2019-02-15 14:55] happyadam73 opened #25046 "Does disk encryption work just with RSA keys (RSA, RSA-HSM key types)?"
There's no mention of specific key types (except the terminology definition of a KEK is mentioned RSA-2048) - however, a Premium level key vault provides options for RSA and EC (eliptic curve) type keys both software and HSM based.  I run into errors if I try to encrypt a VM using a KEK based on EC-HSM P-256 so presumably it's RSA only?  Or is this restriction just for KEKs?  If so, might be worth

[2019-02-15 15:04] DCtheGeek commented on #25029
@Danrawlings-msft Great catch!  Thank you for pointing it out. Since you found the issue, I'd love for you to get contributor status for it, but that requires submitting a Pull Request (PR).  If you've never done it, it's only a few steps.  I'll walk you through them, and if you don't want to or don't have time, I'll go ahead and fix this myself mid-day on Tuesday.

Here's the steps:
- Click on th

[2019-02-15 15:08] shadewlkr commented on #20550
Regarding the AuthnContextClassRef statement, can you confirm that Azure AD uses this value in the SAML assertion to determine what type of Authentication took place on the IdP before the SAML assertion was issued?   I'm having trouble figuring out how to let Azure AD know that MFA was used on my IdP.  Currently after the SAML assertion is posted to Azure AD, and an access token is issued by sts.w

[2019-02-15 15:18] sidramadoss commented on #24934
@rmosselveld - by end of day today (pacific time) we will finish rolling out bug fixes for this scenario. You will then no longer run into this issue. And if there is a genuine error, you will get a clear description helping you understand what the root cause of the failure.

As for the ARM template - can you confirm that you are using the Nuget package? If yes, please make sure you are using the

[2019-02-15 15:19] lukepuplett opened #25048 "Please clarify Reverse Proxy behavior for Unhealthy instances"
The documentation doesn't make clear the behavior when there an instance is known to be up, but unhealthy. This GitHub issue (open as of Feb 2019) indicates that traffic will still be routed to unhealthy instances.

https://github.com/Azure/service-fabric-issues/issues/607

I'd be interested to read about the extent/limits of the relationship between Reverse Proxy, Naming Service and Health Store.

[2019-02-15 15:19] craigshoemaker commented on #18697
@mhoeger I got verification from PM that @yeahsicy's suggestion is correct. I just pushed a PR to get this updated.

[2019-02-15 15:26] poelstra opened #25049 "`az aks create` fails with 404 error"
I first ran `az group create --name AKSTestRG --location WestEurope`, which worked fine.

Then:
[code]

Am I doing something wrong? (Except for choosing a slightly less generic group name ;))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e8079e-2433-4c01-550b-f9c2c7fd4271
* Version Independent ID: 5cc692b3-2faf-c9b3

[2019-02-15 15:27] RohitMungi-MSFT commented on #24848
@diberry Could you please help to address Andy's concern on missing phrase list benefits?

[2019-02-15 15:27] ravikiran-srini commented on #24645
Thanks @ChiragMishra-MSFT

Tumbling window triggers are more reliable because of retry capability as well as because they can retain state.

What exactly you mean by saying that tumbling windows can retain state. Can you give an example and contrast it with schedule trigger?

[2019-02-15 15:30] mrbullwinkle commented on #24999
@pharring any thoughts on this one?

[2019-02-15 15:32] akishaha commented on #19776
Worked for me... Thanks

[2019-02-15 15:35] gtodd876 opened #25050 "Xamarin"
Would be awesome to have this same documentation targeted for Xamarin.iOS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e30d710-7de5-4043-47e4-2e18706a39de
* Version Independent ID: 4b0d4868-b374-0ca7-f807-3bee87d3de98
* Content: [Push notifications to specific iOS devices using Azure Notification Hubs](https://docs.

[2019-02-15 15:37] RohitMungi-MSFT commented on #24847
@diberry Could you please clarify if testing the app with HTTP endpoint requests different from in-portal testing?

[2019-02-15 15:43] colinrippeyfinarne commented on #24862
@ManojReddy-MSFT I will try to document the exact settings I am using and post some screen shots over the weekend.

[2019-02-15 15:52] pengweigang commented on #12366
We have same issue, our on-promised confluence redirect to /pages/viewpage.action after SSO login. We checked with Atlassian support, they said it's problem of the plug in. Any progress and update?

[2019-02-15 15:56] dtdono0 opened #25051 "Pinning to custom dashboards"
Is there a way to pin a specific blade or usage pie chart directly to a custom dashboard?  I've been pinning things to the default dashboard and been using the clone dashboard option to move the custom pinned items onto a new custom dashboard.   But it's cumbersome, makes the main dashboard look cluttered, and then I have to clean it up, and if you forget or want to add something to the custom das

[2019-02-15 15:56] BharathNimmala-MSFT commented on #24769
@imeya Web test alerts are supported through ARM templates. Parameters in the metric alert template like the CriterionType need to be set with specific metrics, looks like documentation needs to be updated accordingly. I have assigned this to our doc author  to further update the documentation.

Doc reference - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-temp

[2019-02-15 16:01] EddyP23 opened #25052 "Any automation of IP restriction?"
I am struggling on finding a way how to automate IP rules for the apps in the App Services. Creating multiple rules one by one and then copying them to other app services is very painful.

The last section "Programmatic manipulation of IP restriction rules" is really unclear. I tried going to "resources.azure.com", but I could not find how to get to the "ipSecurityRestrictions" block on the page.

[2019-02-15 16:04] #24976 closed

[2019-02-15 16:18] MicahMcKittrick-MSFT commented on #25048
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 16:19] MikeWise2718 opened #25054 "Syntax error"
After following these instructions I have a syntax error - with a fairly non-helpful message "arrays are not supported". If the entire manifest were printed here I would have a much greater chance of figuring out what is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeba7b41-840f-fe54-8a99-bbbc47b073c8
* Versio

[2019-02-15 16:20] SychevIgor commented on #24922
@KetanChawda-MSFT could you add it to an article as well to avoid extra questions ?

[2019-02-15 16:20] jluk opened #25055 "Update az cli output to show correct amount of supported versions"
The cli output doesn't match the defined supported versions in the doc. Could we update that, it looks like current cli output is accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484163-5d73-af3a-3d7b-9e0d421d2824
* Version Independent ID: 42da7aed-a33d-e331-fb7f-4fb4b40e5813
* Content: [Supported Kubernetes

[2019-02-15 16:25] Alberto-Vega-MSFT commented on #24837
@Teeina Thanks for the information. Would you please provide more details on the scenario that you are trying to implement?

[2019-02-15 16:28] #24932 closed

[2019-02-15 16:32] MicahMcKittrick-MSFT commented on #24884
@Xorima I will close for now. If you are still having issues let me know and we can always reopen and continue the discussion.

[2019-02-15 16:32] #24884 closed

[2019-02-15 16:34] MicahMcKittrick-MSFT commented on #24955
@codeputer I will close this for now as based on the current setup of the docs we don't believe we should add more information. That being said, we have shared your feedback with the correct teams and your comment will remain on the docs so if other users have the same confusion we can always consider reopening and digging deeper. Let me know if you have any other questions and I am happy to help

[2019-02-15 16:34] #24955 closed

[2019-02-15 16:35] #25021 closed

[2019-02-15 16:35] canbilgin opened #25056 "Incorrect Statement about .NET Support"
Can someone please clarify the following statement about the Microsoft.Azure.CosmosDB.Table framework support:

"library is currently available for .NET Standard only, it's not yet available for .NET Core"

If .NET Core implements .NET Standard, and if the library is available for .NET Standard, not sure how it is not available for .NET Core? Do you mean the library only supports .NET4.5? .NET fra

[2019-02-15 16:35] johnwildes commented on #13906
Is there a status on this?  Trying to find out what machines support Accelerated Networking is difficult at this point.

[2019-02-15 16:39] MouthOfMadness commented on #23157
Yes, as I had previously mentioned the script I was using worked for months and then broke based on the --name -n parameter.

I’d say update this documentation to reflect the working -n parameter and remove the --name

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Friday, February 15, 2019 4:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Mattern <James.

[2019-02-15 16:42] KetanChawda-MSFT commented on #24922
@ecfan can you please confirm if we can add a note in this doc ?

[2019-02-15 16:45] ChiragMishra-MSFT commented on #24645
@sharonlo101 Do you have any inputs here ?

[2019-02-15 16:50] MicahMcKittrick-MSFT commented on #24981
@SuttyHoo I ran through the script and you are correct. Looks like the NSG is not getting created during the VM creation loop regardless of specifying it. In the past it usually would have created one if the name did not match an existing one. Which does not appear to be the case.

So to quickly fix your issue, you do need to add a NSG to either each of the Network Interface Cards or to the Subnet

[2019-02-15 16:51] CarlRabeler commented on #21565
@bonova @jovanpop-msft could you look at this thread?

[2019-02-15 16:53] rphensley opened #25057 "Self-Signed Certs now dead, so is this and all other self-signed cert how-tos"
Now that Azure has killed using self-signed certs, how do we do this without paying out the nose for an external CA cert? LetsEncrypt doesn't seem to allow separate user certs, which is the secure method of configuring P2S VPN user certs.?.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d8

[2019-02-15 16:59] prashanthyv commented on #24937
Hi @clisc ,

The title and the document are correct and intentional. We want to demonstrate how to retrieve a secret in .NET. But before that all other commands are usually 1 time and can be done via Command Line. Is there anything specific you want to see done in .NET?

[2019-02-15 17:00] neeleshray commented on #24459
@lesterw1
As of today we only have the PS cmdlet that has been mentioned earlier.
We will be closing this thread for now. Let us know if you need further help.

[2019-02-15 17:00] #24459 closed

[2019-02-15 17:01] AshokPeddakotla-MSFT commented on #24837
@Teeina Also, please check the [License and third party notices](https://github.com/Azure/azure-iotedge/blob/master/LICENSE).

[2019-02-15 17:01] RohitMungi-MSFT commented on #25037
@AndyCW Thanks for the feedback. @diberry Could you please take a look at Andy's comments on the testing practices he is using for his app and confirm if they can be recommended in the documentation?

Also, could you please update when the batch testing should be performed in the authoring cycle?

The comment about HTTP endpoint testing is similar to issue [24847](https://github.com/MicrosoftDocs/

[2019-02-15 17:02] jjindrich opened #25058 "Windows images"
Hi, is it possible to use acr task for building windows images ? I'm trying to run it, getting this error image operating system "windows" cannot be used on this platform

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4afe907-4a5f-1f3e-b044-6f96068b3c1f
* Version Independent ID: 718454ef-3a3e-c256-44cc-3778cefca397
*

[2019-02-15 17:03] Carsenik opened #25059 "How to pass campaignId parameter into Challenge() to utilize step 8.3"
The documentation tells how you setup the campaignID but not how to set that parameter from a web app or when initializing a SignIn Challenge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1e5f7ac-3ad0-e72d-c7b5-5f1db831a24d
* Version Independent ID: 31b00702-06c0-8fad-cd9e-c1cab975e66e
* Content: [Customize the Azure

[2019-02-15 17:06] clisc commented on #24937
I guess I don't understand.  I only see "Azure CLI" code examples in the quickstart and I don't see any .NET code at all.  Where are you demonstrating how to retrieve a secret in .NET?

[2019-02-15 17:11] adinunzio84 opened #25060 "Listing untagged manifests doesn't work in PowerShell or Git Bash"
I ran the command listed in https://docs.microsoft.com/en-us/azure/container-registry/container-registry-delete#list-untagged-images and I got this error back:
".digest] was unexpected at this time."
It works fine from a regular "cmd" prompt though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1b3438-58e2-cd26-3b5e

[2019-02-15 17:11] prashanthyv commented on #24937
If you go through the entire tutorial starting this section - https://docs.microsoft.com/en-us/azure/key-vault/quick-create-net#clone-the-repo which asks you to clone a repo is written in c#. And it shows how to fetch a secret from Key Vault in C#

[2019-02-15 17:13] iainfoulds commented on #20188
As this PR has merged, @MicahMcKittrick-MSFT #please-close

[2019-02-15 17:13] SuttyHoo commented on #24981
Hi Mica

Great. Thanks for letting me know.

Either was that or J resly was not understsnding this ??.

Thanks again.

Grant

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Friday, February 15, 2019 4:50:20 PM
To: MicrosoftDocs/azure-docs
Cc: SuttyHoo; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Is this page not mis

[2019-02-15 17:14] rphensley opened #25061 ""You do not need to generate new client certificates." Wha?"
How exactly are Client Certs that were based on a self-signed root cert no longer needed?
On your Step 3, the link specifies the following:
"Generate VPN client configuration files
Before you begin, make sure that all connecting users have a valid certificate installed on the user's device. For more information about installing a client certificate, see Install a client certificate. "
So are you s

[2019-02-15 17:14] #20188 closed

[2019-02-15 17:15] neeleshray commented on #24669
@curtand
Curtis, could this be looked into ?

[2019-02-15 17:17] mamccrea commented on #25034
Hi @ampac28 - Please check out the [Parse JSON and Avro data in Azure Stream Analytics](https://docs.microsoft.com/azure/stream-analytics/stream-analytics-parsing-json) article for samples.

[2019-02-15 17:19] iainfoulds commented on #23030
Thanks for the suggestion, @ElianoMarques. I've created a backlog work item to track this doc suggestion. I don't have an ETA on when this doc may be published.

@MicahMcKittrick-MSFT For now, #please-close

[2019-02-15 17:20] neeleshray commented on #24650
The statement means is that Azure AD Domain Services only work with Password Hash Synchronization not with PTA. Hence, tenants that have been configured with PTA would not work for Azure AD Domain Services.

[2019-02-15 17:20] #23030 closed

[2019-02-15 17:21] neeleshray commented on #24650
We will be closing this thread. Let us know if you need further assistance.

[2019-02-15 17:21] #24650 closed

[2019-02-15 17:24] MicahMcKittrick-MSFT commented on #25058
Thanks for the question! We are investigating and will update you shortly.

[2019-02-15 17:24] abhiramani-iptiq opened #25062 "Creation app in wrong Subscription"
Hi
if if run command:"az account show" it shows my current and default subscription and thats were i am expecting this app to be created but it is created on totally different subscription so where are the settings i can check the app will be created or how can i set subscription ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-02-15 17:24] j-martens commented on #22600
If this solution works, then #please-close. Thank you

[2019-02-15 17:25] MicahMcKittrick-MSFT commented on #25055
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 17:25] MicahMcKittrick-MSFT commented on #25060
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 17:26] iainfoulds commented on #19706
Looks like `az ad sp delete --id $(az aks show -g myResourceGroup -n myAKSCluster --query servicePrincipalProfile.clientId -o tsv)` would be a cleaner way to do this since there are naming differences between manually creating a service principal or letting the Azure CLI or then Azure portal create one. I'll update the doc accordingly.

[2019-02-15 17:27] #25055 closed

[2019-02-15 17:27] j-martens commented on #23010
If this solution works, then #please-close. Thank you

[2019-02-15 17:28] MicahMcKittrick-MSFT commented on #25055
@jluk looks like a PR was already submitted for this :) Changes will go live shortly.

[2019-02-15 17:30] suhuruli commented on #24896
We generally do not like to put status updates on docs as there is a place for them (the blog currently). However, we did receive this feedback that the blog might not be the best place for the information. @tastyeggs, would it help if we put this information on the docs directly as well?

This issue is being resolved and a new image will get generated soon.

[2019-02-15 17:32] MicahMcKittrick-MSFT commented on #25048
@lukepuplett I will assign this to the content authors to review and see if it makes sense to add that info here.

CC @BharatNarasimman

[2019-02-15 17:33] j-martens commented on #18901
@Alberto-Vega-MSFT - please assign to @aashishb

[2019-02-15 17:35] MicahMcKittrick-MSFT commented on #24896
@suhuruli I agree that putting it in the docs is not always the best option. Especially as once the issue is resolved we need to make sure go back and update the doc. But also as you mentioned a blog is not always the best place either. Depends on the visibility of it. I suppose it would come down to the impact of an issue. In my opinion if a product issue is causing a doc to be unusable then we m

[2019-02-15 17:39] clisc commented on #24937
Thanks - I was looking for the code inline with the documentation like other examples and did not see that the example had to be downloaded.

[2019-02-15 17:40] MouthOfMadness opened #25064 "Worker Runtim"
In your siteConfig --&gt; app settings, you're missing the runtime:
{
   "name": "FUNCTIONS_WORKER_RUNTIME",
   "value": "[parameters('runtime')]"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Content: [Automate res

[2019-02-15 17:40] j-martens commented on #22648
If this solves the issue, then #please-close.

[2019-02-15 17:41] j-martens commented on #24385
@Blackmist FYI

[2019-02-15 17:43] j-martens commented on #24894
@sdgilley

[2019-02-15 17:44] #19706 closed

[2019-02-15 17:46] j-martens commented on #10704
If this solves the issue, #please-close

[2019-02-15 17:47] j-martens commented on #14889
If this solves the problem, then #please-close. Thank you!

[2019-02-15 17:47] j-martens commented on #16557
If this solves the problem, then #please-close. Thank you!

[2019-02-15 17:47] MicahMcKittrick-MSFT commented on #24936
@rich-davies any update on this?

[2019-02-15 17:47] j-martens commented on #17269
If this solves the problem, then #please-close. Thank you!

[2019-02-15 17:47] MicahMcKittrick-MSFT commented on #24853
@jberezanski-mdg we are working offline to confirm on this. Will update as soon as I have more info.

[2019-02-15 17:48] j-martens commented on #23977
@YutongTie-MSFT please assign to @alexsuttonms

[2019-02-15 17:48] MicahMcKittrick-MSFT commented on #24714
@jn-altius just FYI, I am working to get an answer on this for you. Some people are Out of Office for the weekend so as soon as I have something I will update.

[2019-02-15 17:50] j-martens commented on #20470
@garyericson

[2019-02-15 17:51] j-martens commented on #23049
@trevorbye - can you respond here please?

[2019-02-15 17:52] j-martens commented on #16204
@trevorbye - can you respond here please and update the document as needed?

[2019-02-15 17:53] prashanthyv commented on #24937
@clisc - Glad you found it. In the other example also we ask for users to git clone the repo - https://docs.microsoft.com/en-us/azure/key-vault/quick-create-node

[2019-02-15 17:57] #19724 closed

[2019-02-15 17:57] Karishma-Tiwari-MSFT commented on #24726
@yourekillingmesmalls Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-15 17:57] #24726 closed

[2019-02-15 17:59] jwargo commented on #25050
@gtodd876 We're getting ready to do some refreshing on the SDK and samples. Also a complete refresh on the tutorials (mostly because of Google shutting down GCM this year). We'll see what we can do.

@BryanTrach-MSFT Can you please assign this to me? @spelluru do you think we can do this?

[2019-02-15 18:01] hajjat commented on #24972
Thanks @TravisCragg-MSFT!

"**Try to keep**" changes a lot of things in our design! This means it's best effort, which goes against this statement posted by Azure "**_Once assigned, dynamic IP addresses are only released if a network interface is deleted_**".. Can you please check with the engineering team?

[2019-02-15 18:03] tfitzmac commented on #15333
The deletion behavior by resource type is now documented. This article was updated to describe the differences, and a [new article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/complete-mode-deletion) was published to list support of complete mode deletion.

[2019-02-15 18:03] Karishma-Tiwari-MSFT commented on #24746
@BorisB2015 @asinn826 Can either of you please help answer the customer's question on RHUI support for VMs configured with RHEL thorugh Red Hat Cloud Access.

[2019-02-15 18:05] neeleshray commented on #24963
@daweins
The Built-In role "[API Management Service Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#api-management-service-contributor)" has the _Microsoft.ResourceHealth/availabilityStatuses/read_ permissions already built. Have you checked to adding this role to the user along with your custom role definition?

[2019-02-15 18:08] tfitzmac commented on #15333
@avannaldas - I am investigating locks in a separate work item.

[2019-02-15 18:08] tfitzmac commented on #15333
#please-close

[2019-02-15 18:11] spelluru commented on #25050
@jwargo - Yes. It's on my backlog. Thanks.

[2019-02-15 18:12] Mike-Ubezzi-MSFT commented on #21565
@sdecker @Anmolgan81 I highly suggest this activity engage a Microsoft Consultant or a member of the of the SQL product team directly, as this is beyond the scope of this documentation channel. If you look at this: [FedRAMP Program Documents](https://www.fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx), which open am Excel spreadsheet, click on moderate baseline cont

[2019-02-15 18:18] MarileeTurscak-MSFT commented on #25031
@nevseev
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-15 18:18] rachel-msft commented on #20758
+@ajlam as fyi

[2019-02-15 18:20] Karishma-Tiwari-MSFT commented on #24794
@asc-adean Can you please share the details as asked above so that I can help you better. Thanks. :)

[2019-02-15 18:20] RyanHill-MSFT commented on #25062
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 18:20] daweins commented on #24963
There’s a bunch of roles that already have it built in (including “reader”). I’m highlighting that the documentation creates a hypothetical sample “VM Operator” which “grants access to all read operations of Microsoft.Compute, Microsoft.Storage, and Microsoft.Network resource providers and grants access to start, restart, and monitor virtual machines.”…

Customers are using this example as a start

[2019-02-15 18:23] Alberto-Vega-MSFT commented on #24737
@baqwas are you still facing this issue? This instructions should work for Ubuntu. Where you able to do the step 6?

_"Click F1 to open the command palette, type and select Arduino: Board Manager. Search for AZ3166 and install the latest version."_

If you see any error would you please share that?

[2019-02-15 18:30] gregory-fonkatz commented on #24870
1.11.5 was supported several days ago, it was just removed and I learned about it through error messages.
I'm wondering if there's a way to learn about these situations from emails? I can potentially subscribe to watch this thread https://github.com/Azure/AKS/releases, but it doesn't look like what I need. I can't find a notification about removal of 1.11.5 there... I would like to see a reliable

[2019-02-15 18:30] trevorbye commented on #16204
@rongduan-zhu is this design pattern implemented in the current SDK version? If so, I will add it into our documentation.

[2019-02-15 18:34] #20804 closed

[2019-02-15 18:40] bendodge-xwis opened #25066 "Wrong bookmark"
An email sent yesterday from Microsoft Online Services Team &lt;msonlineservicesteam@microsoftonline.com&gt; said "Want to let you users reset their own passwords? Check out how you can enable password reset for users in your organization with just a few clicks."

However, that link led me to this article. Here's the chain of links:

https://msdn.microsoft.com/library/azure/dn510386.aspx &gt; redi

[2019-02-15 18:44] tfitzmac commented on #24742
@kazshi - thanks for the question. Runbooks can't be moved separately from the Automation Account. I am updating this article with that note.

[2019-02-15 18:52] Grace-MacJones-MSFT commented on #25052
Hi @EddyP23, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-15 18:54] #24742 closed

[2019-02-15 18:55] sethmanheim commented on #24020
@weyCC81 Thank you for your feedback, we will incorporate this change ASAP. #please-close

[2019-02-15 19:00] Grace-MacJones-MSFT commented on #25015
Hi @batizar, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-15 19:01] rajatvijay commented on #24283
So what I have figured is:
1. If the data is not in the right format as described in the docs, the process fails. But it doesn't explicitly tells what the problem exactly is.
2. If the data is in the correct format but some data points were not being processed, maybe because of some error specifically in them, then it explicitly tells (on the UI) the exact problem.

[2019-02-15 19:04] erhopf commented on #24283
@YutongTie-MSFT can you please assign this to @LeonRomaniuk.

@LeonRomaniuk - Who should we reach out to investigate improving error handling?

[2019-02-15 19:04] Saltzmea opened #25067 "Az.Account Errors When Authenticating"
Can we update the documentation to also include authentication errors when working with the new Az.Account module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74e930ff-4035-cd39-4a66-fb57147a8aca
* Version Independent ID: 95160a74-1401-7ad8-359a-fe2a208b2d34
* Content: [Troubleshoot errors with Azure Automation Runb

[2019-02-15 19:08] MicrosoftGuyJFlo commented on #25066
@bendodge-xwis

Sorry that you got an email with the wrong link in it. If you could forward the email to me I would like to get marketing to update what they are sending to customers. My email address is in my profile if you click on my picture.

The page they should have sent you to is https://docs.microsoft.com/azure/active-directory/authentication/quickstart-sspr

-John

[2019-02-15 19:09] festivus opened #25068 "C#"
Can this be done from the C# table storage library?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9693faf0-0f8b-b6ba-877d-183c6cabbc3f
* Version Independent ID: dd8c8f1f-8c19-69f2-c025-513558380933
* Content: [Use a Windows VM system-assigned managed identity to access Azure Storage using a SAS credential](https://doc

[2019-02-15 19:09] KumudD commented on #23913
Sorry, I am unable to locate the broken link that is mentioned - https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#multivipsnat. The issue seems to have been addressed. Thanks!

#please-close

[2019-02-15 19:12] YutongTie-MSFT commented on #24283
@erhopf Thanks Erik.

[2019-02-15 19:13] SaurabhSharma-MSFT commented on #25068
@festivus Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-15 19:13] nacharya1 commented on #23565
hi @tchmiel,
Can you try using the sample notebook from GitHub to see if you get results. https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/model-explanation/auto-ml-model-explanation.ipynb

If yes, please update to use your dataset and the experiment settings to regression. Should see the results in the notebook and azure portal.

[2019-02-15 19:15] YutongTie-MSFT commented on #16557
@serbrech
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-15 19:15] #16557 closed

[2019-02-15 19:18] kazshi commented on #24742
@tfitzmac  Thank you for the clarification.

[2019-02-15 19:19] tfitzmac commented on #24010
I ran a test where I added tags to a managedClusters resource, and then ran az resource list. The tags were returned for that resource. There are, of course, many other resources associated with the solution that are not tagged, but that is expected. Also, in my tests, properties is null for all resource types in list.

[2019-02-15 19:20] tfitzmac commented on #24010
#please-close

[2019-02-15 19:20] SaurabhSharma-MSFT commented on #25059
@Carsenik Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-15 19:21] SaurabhSharma-MSFT commented on #25046
@happyadam73 Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-15 19:25] gregvanl opened #25069 "Azure DevOps Pipelines documentation is broken for static websites"
From vscode-docs issue https://github.com/Microsoft/vscode-docs/issues/2414:

"When navigating from the Azure documentation for static websites
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website#next-steps
The following link is broken.
https://code.visualstudio.com/tutorials/static-website/deploy-VSTS

Thanks,
Mike @mikedouglasdev"

The broken link is for Azure Pipeli

[2019-02-15 19:25] pranabdas457 commented on #24842
It is working when we are trying the code in a console application.
But my requirement is to use cognitive services in web api.The code reference is not working in web api.

[2019-02-15 19:27] Blackmist commented on #23933
Thanks for the feedback @apraovjr

I've updated the document to include an example of the contents of a .runconfig file at the end. I've also put in a request to see if we can get all the options for the file documented in the SDK.

The update should go live later tonight.

[2019-02-15 19:28] ggailey777 commented on #25005
@batizar If you are using version 3.x of the WebJobs SDK, you can also select **.NET Core > Console App (.NET Core)**. There is no .NET Core-specific template for WebJobs SDK projects, but you can publish to Azure and you get a WebJob. I am in the process of updating the articles now.

[2019-02-15 19:35] Alberto-Vega-MSFT commented on #24804
@slaFFik Closing this issue since the conversation was taking to email.

[2019-02-15 19:35] #24804 closed

[2019-02-15 19:38] mike-urnun-msft commented on #24589
@sc-bperry We received confirmation from product team that Server Core is not currently supported, and there are no plans on the product roadmap to do so at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-15 19:38] #24589 closed

[2019-02-15 19:41] Alberto-Vega-MSFT commented on #25064
@MouthOfMadness Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 19:43] vikramdadwal opened #25070 "Secret ARM template not working"
I have raised a ARM template issue in Stackoverflow: https://stackoverflow.com/questions/54546505/az-mesh-secret-list-not-showing-the-secrets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5df29c5-b630-9fc3-5eef-285b6543aecc
* Version Independent ID: 2c894551-6cee-542c-5acc-e44730ea354b
* Content: [Manage Azure Servic

[2019-02-15 19:49] javierruizjimenez opened #25071 "Dangerous, this is not a secure network design"
I believe that the examples are very dangerous, as some users will think this is a secure configuration and will apply it to their Azure VDC, but it doesn't follow best security practices.

Details:
- RDP traffic (port 3389) from the Internet to any Virtual Machine is allowed

Dangerous, allowing RDP traffic from the Internet to any Virtual Machine is dangerous, a secure network design will limit

[2019-02-15 19:51] sethmanheim commented on #23718
@Mahesh-MSFT Thank you for pointing this out. I've filed a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/66662) to add this information to the article. #please-close

[2019-02-15 19:51] javierruizjimenez opened #25072 "Dangerous, this is not a secure network design"
I believe that **the examples are very dangerous**, as some developers will think this is a secure configuration and will apply it to their Azure VDC, but it doesn't follow best security practices.

Details:

- RDP traffic (port 3389) from the Internet to any Virtual Machine is allowed:

Dangerous, allowing RDP traffic from the Internet to any Virtual Machine is dangerous, a secure network design

[2019-02-15 19:53] JasonWHowell commented on #24929
@dhananjaypatkar The additional storage account is not automatically utilized. Are you copying data in/out of that extra storage account?

To address the files in that added path you can use the fully qualified address wasb[s]://<containername>@<accountname>.blob.core.windows.net/<path>

Some simple examples in
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-use-blob-storage?toc=

[2019-02-15 20:05] Alberto-Vega-MSFT commented on #25069
@mikedouglasdev Thanks for catching that and helping us make the docs better. @gregvanl Thanks for sending the feedback our way.

[2019-02-15 20:09] CeciAc opened #25074 "where do i put a password for the oracle vm?"
@gregdorian commented on [Fri Feb 15 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/259)

in the step Automate database startup and shutdown needs a password? the password is:  OraPasswd1 ? it does not work!

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-quick-create?view=sql-server-2016

---
#### Detalles del documento

⚠ *No edite esta s

[2019-02-15 20:10] sasanmcp opened #25075 "one-time bypass also available in Azure"
based on this:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#one-time-bypass
One-time bypass is also available in the cloud version. please update this chart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042912e8-9a79-02b6-fc12-fd20ff0ee4d1
* Version Independent ID: d7d3

[2019-02-15 20:14] CeciAc commented on #25074
Hi team,
I'm moving this here since the user is having issues after following the procedures in the documentation.

Rough translation:

[2019-02-15 20:18] mestew commented on #23940
@CountlessNumber Thanks Craig! Let me know how it turns out. I'll also keep my eyes peeled for an email from the support team notifying me about this issue.

[2019-02-15 20:20] LeonRomaniuk commented on #24283
You should reach out to Wolfgang Manousek.

[2019-02-15 20:22] vplauzon opened #25076 "Pod without matching label works"
I've rebuilt a fresh cluster actually executing the CLI provided in the article to avoid manual errors.

The article break at section https://docs.microsoft.com/en-us/azure/aks/use-network-policies#test-a-pod-without-a-matching-label

At that point we have deployed:

kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: backend-policy
  namespace: development
spec:
  podSelector:

[2019-02-15 20:23] #14889 closed

[2019-02-15 20:24] femsulu commented on #25040
@bbarrington2001 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-15 20:27] femsulu commented on #25051
@dtdono0
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-15 20:28] tchmiel commented on #23565
Resolved.

[2019-02-15 20:28] #23565 closed

[2019-02-15 20:28] femsulu commented on #25043
@larswestman
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-15 20:29] femsulu commented on #25042
@RushabhK23
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-15 20:44] bendodge-xwis commented on #25066
Forwarded. Thanks for the link and for making the effort to correct this. The new Microsoft + GitHub feedback experience has been really great.

[2019-02-15 20:44] bendodge-xwis commented on #25066
Forwarded. Thanks for the link and for making the effort to correct this. The new Microsoft + GitHub feedback experience has been really great.

[2019-02-15 20:45] m-ritchie commented on #24936
I'm attempting to follow these instructions too using powershell core 6.1.2 on Linux and hitting the same issue:

$pass = (ConvertTo-SecureString "iamapassword" -AsPlainText -Force)
$sp = New-AzADServicePrincipal -DisplayName "AzurePacker" -Password $pass
New-AzADServicePrincipal : Cannot bind parameter 'PasswordCredential'. Cannot convert the "System.Security.SecureString" value of type "System.S

[2019-02-15 20:45] way2arun opened #25077 "RBAC Permission Assignment on Management Group Level"
RBAC permission assignment on Management Groups is available through Portal only but not available through any APIs , (az Cli, powershell or REST API options)
https://docs.microsoft.com/en-us/azure/governance/management-groups/

At the same note, - the Custom Roles are not visible at Management Group Level,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-02-15 20:49] RyanHill-MSFT commented on #25062
@abhiramani-iptiq You can set defaults using `az configure --defaults` switch.

See https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-with-az-configure for more information

[2019-02-15 20:50] YutongTie-MSFT commented on #24283
@LeonRomaniuk Got it, thanks.

@wolfma61 Hi Wolfgang, could you please take a look of this issue? Thanks.

[2019-02-15 20:54] vplauzon commented on #25076
Ok...  I understand why.  When we specify multiple rules per Ingress, it has an 'or' semantic (cf https://youtu.be/3gGpMmYeEO8?t=432).

So at https://docs.microsoft.com/en-us/azure/aks/use-network-policies#test-a-pod-without-a-matching-label the traffic pass because the rule namespace-selector does fire since any namespace are allowed.

At https://docs.microsoft.com/en-us/azure/aks/use-network-pol

[2019-02-15 20:59] tastyeggs commented on #24896
The risk you run is potential adopters rejecting service fabric as a platform as they couldn't get the basic setup to work, as my team almost did (linux support was important to them). It was just lucky that I try to stay updated with the new happenings on the blog since I quite enjoy the concept.

IMO, even if the "Getting Started" docs are broken for 1 day, a simple note must be added to the top

[2019-02-15 21:10] vplauzon commented on #25076
Ok, network policy are scoped by namespace (cf https://youtu.be/3gGpMmYeEO8?t=705).  Sorry for my ignorance, that explain the "weird" behaviour from previous comment.  I.e. you need the empty-namespace-selector in order for a pod in production to contact the pod in dev, otherwise, by default, it will only accept connection from its own namespace.

So for the original problem, I would recommend fix

[2019-02-15 21:13] MicahMcKittrick-MSFT commented on #25070
@vikramdadwal based on the last error you posted in Stack, seems related to this section

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-manage-secrets#declare-mesh-secretsvalues-resources

**Regarding the relationship between "resources" section "value:" and "name:" fields: the second part of the "name:" string delimited by a colon is the version number used

[2019-02-15 21:13] rongduan-zhu commented on #16204
Yes, please refer to [this notebook](https://github.com/Microsoft/AMLDataPrepDocs/blob/master/how-to-guides/datastore.ipynb) on how to read from SQL. It's at the bottom of the __Read data from Datastore__ section.

[2019-02-15 21:15] Karishma-Tiwari-MSFT commented on #24870
@sauryadas @iainfoulds Is either of you aware of any other resource where customers can potentially see the AKS version release and deprecation updates?
If not, how can we make sure the [Azure updates page for Kubernetes](https://azure.microsoft.com/en-us/updates/?product=kubernetes-service) is updated with the latest information. Let us know. Thanks.

[2019-02-15 21:15] slaFFik commented on #24804
For future reference:

I was getting this error `AADSTS90023 Request is malformed or invalid.` when I sent a sanitized version (which is also lowercased) of the code back to MS API to retrieve tokens.
So the issue was indeed the incorrect `code` (**lowercased** in my case).

[2019-02-15 21:15] Mike-Ubezzi-MSFT commented on #25056
@canbilgin Thank you for the detailed feedback. I have assigned to the content owner (@wmengmsft) to evaluate and update as appropriate. I know that there is a lot of activity to get the .NET Core support documentation rolled out/updated, as there are currently quite a few moving parts related to Table Storage, Table API, and .NET Core support.

[2019-02-15 21:16] hpsin commented on #24804
Thanks! That's good to know. Thank you. I'll try to think of a way we can provide a better hint here about the code not being what we expected.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Slava Abakumov <notifications@github.com>
Sent: Friday, February 15, 2019 1:15:11 PM
To: MicrosoftDocs/azure-docs
Cc: Hirsch Singhal; Comment
Subject: Re: [MicrosoftDoc

[2019-02-15 21:19] sethmanheim commented on #22043
@walidshaari Can you clarify what the documentation issue is here? Are you asking for the size of the update to be specified in the release notes?

[2019-02-15 21:20] burkeholland commented on #24814
Yeah - I think so. What is the ask here exactly? What do we need to update in the video?

[2019-02-15 21:22] saulcruz commented on #17261
I quick update on this one, the Azure Data Factory Dev team identified a bug and fixed it just last week.

The steps to successfully override trigger attributes are the following:

1.  Modify the `arm-template-parameters-definition.json` to include these properties in the following syntax: (pay attention to `"*": "=:-mins:int" ` that was the missing documentation piece

[code]

2.  Save this file

[2019-02-15 21:22] darivuki commented on #20758
Is there a workaround for this which doesn't involve manually switching the toggle on and off in the azure portal? I would like to deploy the database through an Azure DevOps release pipeline where I also deploy a WebApp that connects to the database. The WebApp is unable to connect to the database because of that firewall issue.

[2019-02-15 21:22] sethmanheim commented on #21798
Hi @ooteniya, I am not seeing the issue with the documentation that you're referring to. But for more information on scale units, see the article [Scale unit node actions in Azure Stack](azure-stack-node-actions.md)). Please let us know if that doesn't solve your issue.

[2019-02-15 21:25] wmengmsft commented on #25056
Thanks for notifying us this issue. I think this is probably a typo. The intention was to say Table SDK only supports .NET **Framework** (i.e. the .NET version that comes with Windows installations).
However, we recently released .NET Standard SDK that is in preview. Hence this paragraph needs to be updated altogether. Adding @SnehaGunda fyi.

[2019-02-15 21:25] bryanklewis commented on #25007
Understand the options in the portal, but that immediately invokes the question around what is required or rather, what data is Azure Data Explorer looking for inside a given event to fulfill those data elements? I assume some key in a key=value pair named a special way will allow ADX to find the table name, file format, and mapping. What is that key? Do those keys need to be at the root level? An

[2019-02-15 21:29] PrometheusRising1 opened #25079 "Contrast with Service Endpoint Monitor"
Please provided examples and use cases where Performance Monitor would be more appropriate to use than Service Connectivity Monitor and vice-versa.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba0b307-f366-3b1c-f950-0967493048b5
* Version Independent ID: 777fdb52-b793-211b-3f44-02eac2647d54
* Content: [Performance M

[2019-02-15 21:29] iainfoulds commented on #20806
I've created a backlog work item to track this request. No ETA on when it may publish.

For now, #please-close

[2019-02-15 21:32] Mike-Ubezzi-MSFT commented on #24814
@burkeholland The customer is looking to clarify specific steps to deploy to Azure:

Is this not the scope of the videos?

[2019-02-15 21:33] vikramdadwal commented on #25070
@MicahMcKittrick-MSFT
Her is the JSON:

{
      "apiVersion": "2018-09-01-preview",
      "name": "websecretkvsecret",
      "type": "Microsoft.ServiceFabricMesh/secrets",
      "location": "WestUS",
      "dependsOn": [],
      "properties": {
        "kind": "inlinedValue",
        "description": "Web Application Secret",
        "contentType": "SecretsStoreRef",
        "value": "websecret"

[2019-02-15 21:34] MicahMcKittrick-MSFT commented on #25074
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-15 21:41] vikramdadwal commented on #25070
@MicahMcKittrick-MSFT : I followed some of the steps mentioned in issue [Issue 24961](https://github.com/MicrosoftDocs/azure-docs/issues/24961), and things are working now, which implies the documentation needs an update here.

Also as asked in that other thread, I have the same question:

"I'm a bit confused about the whole purpose of this feature. Why shouldn't I skip all these extra ARM resourc

[2019-02-15 21:47] sumeetmittal commented on #24200
Thanks for the feedback. APIM falls under VNet Injection Model.  Above page is for VNet Service Endpoints only which is different from VNet Injection...

[2019-02-15 21:48] conceptdev commented on #23355
Thanks for your feedback @kristerkarto I've just made an update to the doc which will be published soon. #please-close

[2019-02-15 21:49] Mike-Ubezzi-MSFT commented on #25079
@PrometheusRising1 Thank you for making a request where there is no single documentation items that covers this content. I am going to provide some details here to help with the differences:

Taken from: [Network Performance Monitor’s Service Connectivity Monitor is now generally available](https://azure.microsoft.com/en-us/blog/network-performance-monitor-s-service-connectivity-monitor-is-now-gen

[2019-02-15 22:02] setht2 opened #25082 "Issues Authenticating from Azure Batch VMs to Azure"
We have is a Data Factory pipeline that has a Custom Activity that uses Azure Batch to run some PowerShell to get a list of members in an AAD group. These PowerShell cmdlets that run on the Azure Batch VMs require sign-in to Azure, and since this is intended to run without user interaction, we need a certificate or secret key to allow PowerShell on the Azure Batch VMs to sign into Azure without us

[2019-02-15 22:02] Grace-MacJones-MSFT commented on #24517
Hi @blarsonrp, I have assigned the issue to the content author to evaluate and update the docs as appropriate.

[2019-02-15 22:03] curtand commented on #24669
Hi, yes. @SumitParikh is the PM. There's a plan, or a wish to have a plan, to put this information online, because our article will be out of date as soon as it's published, or nearly so. Sumit, what's our current POR?

[2019-02-15 22:11] CelesteDG commented on #21416
@MarileeTurscak-MSFT - Hello. Can you please reassign this to @jmprieur? He's our PM owner for MSAL.NET and I've sent him email about this issue. Thank you.

[2019-02-15 22:15] burkeholland commented on #24814
No - the video deploys these things as one project and uses the express server to serve the React app as opposed to using IIS to do it.

Although the customer is right here in terms of having the right steps.

[2019-02-15 22:15] bryanklewis commented on #25007
Or does the ingest service use the event hub name as the table name, reads the format, and uses X to determine the mapping? Not sure...

[2019-02-15 22:16] sasanmcp commented on #25075
Sorry, my bad. it is NOT yet available in the cloud as of 2/15/2019. I tried removing this comment but there is no such option. please close this.

[2019-02-15 22:17] Karishma-Tiwari-MSFT commented on #25058
@jjindrich Are you passing the `--os` parameter in your build command?

[code]

Please refer to the [similar issue here](https://github.com/MicrosoftDocs/azure-docs/issues/13754) mand let me know if that solves your issue. Thanks. :)

[2019-02-15 22:20] abhiramani-iptiq commented on #25062
i have configured the default using az configure and if i run command az account show they both show same subscription and is matching to where i need application to be created but commnd:mvn package azure-webapp:deploy is deploying to different subscription..

[2019-02-15 22:22] iainfoulds commented on #24870
Sorry you've ran into issues here.

Per discussion with the product team, they are continuing to improve their release notifications to align communications to https://github.com/Azure/AKS/releases or the RSS feed for https://azure.microsoft.com/en-us/updates/?product=kubernetes-service. This latest hotfix release was down to the CVE on RunC, so was pushed out relatively quickly and may have cause

[2019-02-15 22:26] CelesteDG commented on #21560
@wonderplayer - Thank you for your request. I've opened user story 633695 in DevOps and assigned it to our feature PM to triage and consider the sample and docs request as part of our release planning.

[2019-02-15 22:26] iainfoulds commented on #25076
After offline discussions, there are differences in Kubernetes versions. Changes introduced as part of https://github.com/MicrosoftDocs/azure-docs/issues/24974 actually regressed behavior of the original doc. These changes have been reverted in https://github.com/MicrosoftDocs/azure-docs-pr/pull/66690

As such, the document does work as written. The key is that the doc notes Kubernetes version _1.

[2019-02-15 22:27] CelesteDG commented on #21560
Opened a DevOps user story for this and assigned it to PM for triage as we'll need to consider this as a separate samples and docs ask and will be part of planning.

#please-close

[2019-02-15 22:30] #25076 closed

[2019-02-15 22:31] laurenhughes commented on #24953
Updates are live. Thanks again!

#please-close

[2019-02-15 22:34] pharring opened #25083 "Typo in "Create Update Policy" section"
The 2nd code snippet in the "Create Update Policy" section has a typo. The table name is written as ActivityLogRecords. It should be ActivityLogsRecords (Logs plural) to match the rest of the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe49562-852d-db87-a190-8e6f267951fc
* Version Independent ID: f12ee22b

[2019-02-15 22:35] MicrosoftGuyJFlo commented on #25066
Thanks @bendodge-xwis

[2019-02-15 22:36] MicrosoftGuyJFlo commented on #25066
#please-close

[2019-02-15 22:36] CelesteDG commented on #21264
@JTNichols - Thank you for the request. I've opened DevOps user story #633717 and assigned it to our PM for consideration for a future release.

[2019-02-15 22:37] CelesteDG commented on #21264
Not a doc bug so I've opened a user story to track the ask separately as it's for a new sample and accompaying guide.

#please-close

[2019-02-15 22:38] Mike-Ubezzi-MSFT commented on #24814
@richprze The steps you are wanting to be confirmed are correct. Is there anything additional you need to move forward?

[2019-02-15 22:39] pharring opened #25084 "IdentityAuthorization and IdentityClaims mapping are blank"
The ActivityLogRecordsExpand function introduced in the Create update policy section has the following projections:
[code]

I found that those projections don't work. Those two columns are always blank.
I found that the following alternative works:
[code]

(I don't know if there's a reason why one works over the other.)

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-02-15 22:40] #24870 closed

[2019-02-15 22:41] pharring opened #25085 "DiagnosticLogsRecords table has blank records"
After following the tutorial, I waited for the DiagnosticLogsRecords table to fill up. Well it did, but all the rows were blank.
I suppose that the ingestor is working, but the mappings are wrong.
Did I do something wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe49562-852d-db87-a190-8e6f267951fc
* Version Ind

[2019-02-15 22:44] pharring commented on #25085
I should add, that if you try to Copy the sample `.create table DiagnosticLogsRecords ingestion json mapping 'DiagnosticLogsRecordsMapping' …` query given in the article and paste it into the data explorer, it gives a syntax error -- presumably because it's presented on multiple lines. I had to remove all the blank lines to get it working. Was that wrong?

[2019-02-15 22:49] laurenhughes commented on #24561
Thanks for sending the screenshot again, @gxgrammatikos!

Did you try following the [Additional steps for user subscription mode](https://docs.microsoft.com/azure/batch/batch-account-create-portal#additional-configuration-for-user-subscription-mode) section? I believe the steps in that section will fix the error you're seeing.

[2019-02-15 22:52] #23355 closed

[2019-02-15 22:57] Karishma-Tiwari-MSFT commented on #24885
As you mentioned and as per the document, the supported SQL Server versions/editions are:

1. SQL Server 2014 Standard
2. SQL Server 2014 Enterprise

@MashaMSFT Can you please help confirm on this one and let us know if I am missing something. Thanks :)

[2019-02-15 22:58] sasanmcp opened #25086 "possible typo"
"AppAccess" should be "AppUsers " in the "CA mitigation policies set:" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ffbdff9-9aba-6ea7-73a0-a507554de265
* Version Independent ID: b427e4d3-4f9a-1d5f-4682-94bb87e9ae86
* Content: [Create a resilient access control management strategy with Azure Active Directory

[2019-02-15 23:00] KingdomOfEnds opened #25087 "Power BI Authorization From Stream Analytics"
Hi! Great Tutorial and awesome walkthrough! I had a quick question. I've been going through the steps but encountered an issue when connecting Power BI to my Stream Job Analytics. When I click "Authorize", I get a redirect message like so:

![authorize_issue_edge_1](https://user-images.githubusercontent.com/43044425/52888662-7655be00-3131-11e9-850b-41bcf419214c.PNG)

I tested refreshing, Chrome, a

[2019-02-15 23:02] #25087 closed

[2019-02-15 23:02] KingdomOfEnds opened #25088 "Power BI Authorization From Stream Analytics Jobs"
Hi! Great Tutorial and awesome walkthrough! I had a quick question. I've been going through the steps but encountered an issue when connecting Power BI to my Stream Job Analytics. When I click "Authorize", I get a redirect message like so:

![authorize_issue_edge_1](https://user-images.githubusercontent.com/43044425/52888662-7655be00-3131-11e9-850b-41bcf419214c.PNG)

I tested refreshing, Chrome, a

[2019-02-15 23:03] aliceku commented on #23229
working on an update

[2019-02-15 23:04] TravisCragg-MSFT commented on #20874
@not-an-IT-pro We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.