[2018-07-12 23:16] TravisCragg-MSFT commented on #11636
@GaretAnderson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-12 23:19] CelesteDG commented on #11262
Hi @FcrNah - I checked with our PM and dev and they confirmed that Azure AD returns the `ctry` claim if it's present and the value of the claim is a standard 2-letter country code, such as FR. Thank you.

[2018-07-12 23:20] MicahMcKittrick-MSFT commented on #11663
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-12 23:22] MicahMcKittrick-MSFT commented on #11541
I will close this out but if you feel you need more information please just let me know.

[2018-07-12 23:24] awysza opened #11667 "Incorrect link in section "watch this video""
The section that states:
"Watch this video on how to copy data between Azure Storage Blobs and Data Lake Store using DistCp."
has incorrect link - link takes me to : https://support.office.com/en-us/article/important-information-about-office-mix-preview-end-of-service-c1c04f84-a7bb-4602-9645-258017155258?ui=en-US&rs=en-US&ad=US
which is not the video that is stated in the sentence.

---
#### Docum

[2018-07-12 23:31] MicahMcKittrick-MSFT commented on #11658
Technically yes. The highest level will allow pausing up to two hours. This would allow time to have any services moved to another node. I can see how in some cases that might not be enough time.

You could read more about disaster recovery here:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-disaster-recovery

[2018-07-12 23:35] mattreatMSFT commented on #11601
@eggind thank you for the contribution! I submitted a PR that makes the code in the sample into a function. I also corrected an issue when the resource group of the NSG differs from the resource group of the storage account.

I like your approach for retrieving the last n blob in the container, however I retained the original approach to maintain clarity and allow the user to specify a log file fo

[2018-07-12 23:35] SaurabhSharma-MSFT commented on #11646
@ChefGillani Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 23:36] SaurabhSharma-MSFT commented on #11649
@gauchan183 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 23:40] SaurabhSharma-MSFT commented on #11653
@avik-so Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-12 23:40] SaurabhSharma-MSFT commented on #11653
@avik-so I am able to access the link -
![image](https://user-images.githubusercontent.com/38112130/42664930-41838eae-85f2-11e8-9faa-8167cbb85b3a.png)

[2018-07-12 23:47] tfitzmac commented on #10703
@romankiss - you can remove the dead letter destination by just re-running the create command without deadletter-endpoint. You don't need to delete it first.

[2018-07-12 23:51] SaurabhSharma-MSFT commented on #11525
@Bcedeno ok, i think you were provisioning Workday and thus you may not be getting the attribute givenName.  Anyways good to hear that you are now able to get the attributes.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-12 23:51] #11525 closed

[2018-07-12 23:59] jasoth commented on #11496
Are you saying it is not possible to use a configuration parameter of type pscredential? If so, the paragraph I quoted really needs to be reworded. It definitely sounds like you can pass a string of the asset name to a pscredential parameter and Azure Automation will automatically look up and return that credential.

"If a configuration takes a parameter of PSCredential type, then you need to pass

[2018-07-13 00:01] johnpaulkee commented on #11543
@Mike-Ubezzi-MSFT for your issue, try restarting powershell. It seems it requires a restart before the -AllowPrerelease flag can get used. Likely a bug in Install-Module bits.

After investigation this is due to there being a new version of Azure Sql Powershell 4.10.0.

The Elastic Jobs cmdlets are in public preview and are not included in the latest version 4.10.0. Hence causing the cmdlets to be

[2018-07-13 00:02] MicahMcKittrick-MSFT commented on #11633
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-13 00:04] SaurabhSharma-MSFT commented on #11612
@adeinde Did you reset your password using your Windows 10 login screen ?

[2018-07-13 00:06] TravisCragg-MSFT commented on #11664
@craigvphillips can you please post a link to the documentation that you are referring to?

[2018-07-13 00:07] BharatNarasimman commented on #11663
Reverse proxy would randomly pick one of the stateless instances to forward the request to.

[2018-07-13 00:09] MicrosoftGuyJFlo commented on #11612
@adeinde yes this is normal as in any on-premises password reset you must have line of sight network connectivity to a domain controller to log in with the new password that is not in the password cache on the machine. Azure AD joined devices do not have this issue as they can authenticate against Azure AD directly.

[2018-07-13 00:10] MicahMcKittrick-MSFT commented on #11663
Thanks @BharatNarasimman!

@dixitsuneel let us know if that information helps.

[2018-07-13 00:14] tfitzmac commented on #11513
@jakereifer - this is a BASH example so the variable looks right to me, unless I have misunderstood the issue.
#please-close

[2018-07-13 00:15] MicahMcKittrick-MSFT commented on #11633
Thanks @Powerhelmsman

I followed the instructions and tested all the links in the doc but they work as they should. I am running Chrome as well

![image](https://user-images.githubusercontent.com/32313503/42665984-f16311b0-85f6-11e8-86bd-e69f5d0ca313.png)

@SunnyOswal I see you were the original owner of this issue. Can you clarify if I am not following the steps you did?

[2018-07-13 00:20] johnpaulkee commented on #11543
https://github.com/MicrosoftDocs/azure-docs-pr/pull/46520
Set up PR with fix.

[2018-07-13 00:23] #10703 closed

[2018-07-13 00:30] SaurabhSharma-MSFT commented on #11607
@alguadam Good to hear that you are unblocked.  One suggestion is to use Microsoft Graph instead of using Azure AD Graph.  Current documentation is about providing details on different roles available in Azure AD. How to create or assign roles from developer perspective (using Powershell or Graph API) is documented separately.

[2018-07-13 00:33] johnpaulkee commented on #11543
Hi @sam-cogan, sorry for the inconvenience.

Can you try following these steps instead for the pre-requisites? I'll be updating the docs as such:
# Open Powershell with Administrative access
# Installs the latest PackageManagement powershell package which PowershellGet v1.6.5 is dependent on
Find-Package PackageManagement -RequiredVersion 1.1.7.2 | Install-Package -Force

# Installs the latest Pow

[2018-07-13 00:36] johnpaulkee commented on #11543
Once you've completed those steps, try running to see if the cmdlets are successfully imported.
[code]
Thanks again for filing this.

[2018-07-13 00:40] SaurabhSharma-MSFT commented on #11633
@MicahMcKittrick-MSFT I checked it earlier and the link was not working. Now it works for me as well.
I did try to contact document author and they might have fixed this now.
@Sunny-Oswal Please let us know if you still face any issue.

[2018-07-13 00:41] ganeshthiagarajan commented on #11461
@SaurabhSharma-MSFT  Thanks for the links, the orchestration link helped!

[2018-07-13 00:45] ganeshthiagarajan opened #11668 "Custom Policy: Example for Separate Sign-Up and Sign-In"
In all the Custom Policy Examples, we only have Combined Sign-UpandSign-In examples, can you point me to an example or repository where we have separate Sign-up and Sign-in policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af62e857-35e1-498d-5a8f-49fe9c15ca9c
* Version Independent ID: 40e1240b-e79e-f6e8-28c9-c61

[2018-07-13 00:52] SunnyOswal commented on #11528
@SaurabhSharma-MSFT yes i have. "azds list-up" command works for me and i can complete the "GetStarted" section as well. Just that "azds list" command is not available on my azds cli . can you let me know if there were any updates done in azds cli. i am using Version: Azure Dev Spaces CLI (Preview) 0.1.20180630.3

[2018-07-13 00:53] SaurabhSharma-MSFT commented on #11620
@andyjballgit No, it is available only for Azure Virtual Network resources.

[2018-07-13 01:08] SaurabhSharma-MSFT commented on #11625
@WilliamTIII Unfortunately setting up the values are not possible using possible. You can upvote existing feedback on Azure site https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/13539441-phone-factor. Also, please go through the stackoverflow [link](https://stackoverflow.com/questions/45718575/setting-strongauthenticationuserdetails-phonenumber-for-azuread-via-powershell

[2018-07-13 01:33] SunnyOswal commented on #11633
@MicahMcKittrick-MSFT @SaurabhSharma-MSFT this issue is fixed now.

[2018-07-13 02:02] guptaisha5484 opened #11669 "Https connection does not show up."
I have tried the above tutorial to create an ingress and apply TLS on it. It is not working as expected and as shown in the last step of this tutorial.
My cluster is created in "australiaeast" resource group. Please confirm is this documentation is updated and has it worked for anybody in this region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-13 02:13] girishgouda commented on #11379
Thanks for the update. Was facing one more issue. When I was trying to creating a new policy definition by passing the management group name . I was getting permission issue. I am using a SP to do the same. Can you let me know what permission are needed .

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Thursday,

[2018-07-13 03:04] bswieser opened #11670 "Documentation seems to stop..."
Everything after "Connect your QnA Maker knowledge base to the bot" is pretty non-descriptive. For example, you need to manually extract just the hex code from the post for the QnA id (not obvious), and just the hex code for the auth id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c-c72a-c619-b58a-777ff5f8c5c

[2018-07-13 03:15] #9618 closed

[2018-07-13 04:10] andyjballgit commented on #11620
Hi Saurabh,

Yes but I was thinking using instead of an NVA , ie as edge Firewall to On Prem network , similar to below

https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/secure-vnet-hybrid

regards,
Andy.

[2018-07-13 04:13] jdobrzen opened #11671 "Subscription Error"
When trying to create a new Team Project in Azure Resource Management portal, I receive an error when trying to select a subscription. The new blade that opens when selection Subscription shows the icon with a grey cloud and raindrop.  The error message text says "ResourceListPart HUBSEXTENSION"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-13 04:15] seguler commented on #11198
Hello @aleonard763 - could you share more information about your use case ? Are you using a 32-bit platform, if so what is it ?

[2018-07-13 04:18] femsulu commented on #11379
Here is the RBAC matrix for Defining and assigning Policies.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management-groups-overview#management-group-access

![image](https://user-images.githubusercontent.com/34327711/42672150-149c5ef8-8619-11e8-8bcb-b8a136e4b2b9.png)

[2018-07-13 04:27] tschleining opened #11672 "Move an app to another App Service plan"
This section would be much more clear if the caveat of webspaces was added to "You can move an app to another App Service plan, as long as the source plan and the target plan are in the same resource group and geographical region." as these are not the only requirements for a successful move.

Also, the "Important" section after step 4. should be expanded upon to include links to, or additional de

[2018-07-13 04:30] SaurabhSharma-MSFT commented on #11528
@SunnyOswal Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-13 04:34] femsulu commented on #11661
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-13 04:39] tschleining commented on #7281
Sorry @BryanTrach-MSFT in advance for the pile on 😉.  I think the documentation should be updated with the information from this issue, summarized.  It's super confusing as it stands that, maybe-or-maybe-not I can move my Web App.  I've submitted another [issue](https://github.com/MicrosoftDocs/azure-docs/issues/11672) with the specifics.

[2018-07-13 04:53] Jack1007533560 opened #11673 "CNTK Wheel file has expired"
I am new to HDinsight and I found the CNTK wheel file in the Bash URL provided in this page has expired, I changed other versions and that works. The script is as below and hope can help people like me:

#! /bin/bash

# Install CNTK on every node. Skip if CNTK latest version is already installed
CNTK_VER="2.0"
CNTK_BASE_URL="https://cntk.ai/PythonWheel/CPU-Only"
CNTK_PY27_WHEEL="cntk-$CNTK_VER-cp2

[2018-07-13 04:56] Jack1007533560 commented on #11673
[cntk2.0.txt](https://github.com/MicrosoftDocs/azure-docs/files/2191335/cntk2.0.txt)

[2018-07-13 05:08] avik-so commented on #11653
I get a website not found error. Both me and my colleague were unable to access it from home. I was in California and he was in Flordia.

[2018-07-13 05:09] avik-so commented on #11653
I am able to access it from my phone. Maybe it was just down.

[2018-07-13 05:15] AlexanderTodorovic commented on #11599
Thank you!

[2018-07-13 05:30] romankiss commented on #10703
@tfitzmac - for "just re-running" the create command without deadletter-endpoint means to get all values of the event subscription, such as:

- get the event subscription

[2018-07-13 05:36] melaib commented on #7392
Hi! Anyone who has resolved the { [Error: , Remote I/O error] errno: 121, code: '', syscall: 'writeByte' } error?

[2018-07-13 05:38] girishgouda commented on #11379
Yes I have seen this and after giving all the required permsisons like owner ,contributor and respource policy contributor also  the creation of policy definition with New-azurepolicydefintion is not working when we pass the management group name

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: femsulu-MSFT <notifications@github

[2018-07-13 05:40] safkah commented on #11449
You get this error message with both bcp and sqlcmd if your password contains special characters.

In this case, use double quotes around the password.
`sqlcmd.exe ... -P "p<\#~a\c$ars"`

[2018-07-13 05:54] girishkumarbk commented on #11604
I have followed the tutorial exactly.  Had some issues with cookie cutter as described in this page and resolved the same and got the filter module up and running with Alerts posted to IoT hub.  No issues here.   Will post the Freeze problem on customized module to azure support.

Thanks.

[2018-07-13 05:58] HemantChandurkar opened #11674 "Text and Images mismatch"
Text and Images mismatch e.g. HBase & Storm

https://docs.microsoft.com/en-us/azure/storage/data-lake-storage/quickstart-create-connect-hdi-cluster#number-of-nodes-for-each-cluster-type

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e05a09d-78ec-5bc3-368b-65fd53bdebb1
* Version Independent ID: 1c5ceaf7-00f6-bd26-c6f5-

[2018-07-13 06:05] ChrWeinert commented on #11478
The error occured at line 283 with a command error:
openssl : writing RSA key
In D:\Zertifikate\CreateCert.ps1:283 Zeichen:9
+         openssl rsa -in $newDevicePemAllFileName -out $newDevicePemPr ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (writing RSA key:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCo

[2018-07-13 06:25] OlegKarasik opened #11675 "ApplicationManifest.xml example"
Can ApplicationManifest.xml example include sample configuration for Certificates, Policies and Principles? This would make it more illustrative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06afb00a-c2b7-964a-60cd-0c94df9e912b
* Version Independent ID: 8450fbfe-fcec-363e-fad0-0e66acfc579d
* Content: [Describing Azur

[2018-07-13 06:31] skmuzz opened #11676 "Spelling Mistake"
"rrespective of whether they are using DHCP or static IP addresses " - Notice the "rrespective" is missing the "i" to make it "irrespective".
Found under Failover Timing header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea27ad3-31a1-5893-a4f5-d9782c9b492b
* Version Independent ID: 882d909a-ed50-f03d-302a-16e1b768

[2018-07-13 06:50] jrhoward commented on #10754
I'm hanging on this one. How can I get updated when it is resolved ?

[2018-07-13 07:14] SeanFeldman commented on #7385
Almost 3 months since it was assigned to author.
Anyone checked to see if this poor soul is still alive?

[2018-07-13 07:23] sovanny opened #11677 "Exported docker files does not build"
It seems that the base image used in the Dockerfile; "python", does not have the tensorflow package available for install. It's most likely because "python" contains the latest python version, and the specified tensorflow version in requirements.txt is on older version, not supported in the newest python. I used "python:3.5" instead as base iamge to make it work. Error message when building docker

[2018-07-13 07:24] TravisCragg-MSFT commented on #11667
@awysza Thanks for the feedback! Unfortunately, support.office.com is not an area that can use GitHub Docs to track and resolve an issue. I was able to track down the content's owner and let them know via email.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2018-07-13 07:49] thelious1974 commented on #11616
I think the confusion is around *mixed-os* clusters and mixed-os *nodes*

Windows Server nodes are definitely available on AKS - I created a cluster with both Windows and Linux nodes today!

[2018-07-13 08:31] tienvv1234 commented on #11483
Here is my web inspector when device ios try to register to Notification Hub

![screen shot 2018-07-13 at 3 20 45 pm](https://user-images.githubusercontent.com/34591094/42681417-d39ef5f2-86b1-11e8-9c0a-b36ee0bc24f8.png)

![screen shot 2018-07-13 at 3 20 54 pm](https://user-images.githubusercontent.com/34591094/42681426-d7538b0e-86b1-11e8-86af-54a6900214e3.png)

![screen shot 2018-07-13 at 3 21 01

[2018-07-13 08:33] Anshulsv opened #11679 "Agent does not list up the Subcription while registration"
While registering a new server in the File Sync Agent, it is not showing the subscription i have my fileshare in. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync (preview)](ht

[2018-07-13 08:34] dcreativegenius commented on #11612
@SaurabhSharma-MSFT I did, thanks @MicrosoftGuyJFlo

[2018-07-13 08:36] adeinde commented on #11612
@SaurabhSharma-MSFT I did. @MicrosoftGuyJFlo Thanks

[2018-07-13 08:36] abjorck commented on #8338
Ok, found a workaround - `export _JAVA_OPTS="-Xdebug -Xrunjdwp:transport=dt_socket,address=8001,server=y,suspend=n"` before running mvn azure-functions:run seems to make the internal jvm start in debug, and i can then attach to port 8001 from Idea!

[2018-07-13 09:15] sergaz-msft commented on #11478
@ChrWeinert this document was removed and the alternative now is to use the script from here: https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md

Let me or @dominicbetts know if you were successfull when using that script.

Thank you!

[2018-07-13 09:38] sergaz-msft commented on #11604
Thank you @girishkumarbk .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-13 09:38] #11604 closed

[2018-07-13 09:46] Kolan92 opened #11680 "Error in negotiation request (404)"
## Steps to reproduce:
1. Clone repo.
2. Add signalr connection string
3. Run code

## Expected behavior:
Chat applications works

## Observed behavior:
No connection to chat hub.

Output from browser console (with ` configureLogging(signalR.LogLevel.Trace)`)
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa

[2018-07-13 10:09] alexvicegrab opened #11681 "RBAC support"
It would be good for Azure to help implement RBAC support into Terraform. As it stands, new clusters created via Terraform, have RBAC disabled by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version Independent ID: bd2884f3-831a-3761-0502-5eb1594872bd
* Content: [Create

[2018-07-13 10:22] ampac28 commented on #11487
@dominicbetts - Thanks for sharing the syntax , it really worked for me.
I have one more query on how to show device name (ID) under the Metrics section on the configuration tile. Currently I see it displays only the count of devices the configuration applied .
![capture](https://user-images.githubusercontent.com/40463090/42686798-8e6bb932-8686-11e8-85f5-0624204a05c9.PNG)

[2018-07-13 10:28] kasunsjc opened #11683 "Soft Delete Limitation"
Soft delete cant enable when the vNet endpoint is created to storage account. Please mentioned it as a limitation for soft delete

**Error**

Access denied

You do not have access

This storage account's 'Firewalls and virtual networks' settings may be blocking access to storage services. Try adding your client IP address to the firewall exceptions, or by allowing access from 'all networks' instea

[2018-07-13 11:17] sjkp commented on #10958
Why is the documentation here different from: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-windows <-- One says gateway-address the other ip-address

[2018-07-13 11:25] waheedhussain opened #11684 "extend the table for availability zone"
Hi,

I am trying to understand the impact of availability zones on the table in section below, is there an update required to where the premium tier is configured with the availability zones?

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-business-continuity#sql-database-features-that-you-can-use-to-provide-business-continuity

there has been mention of RPO=0, example below

 ht

[2018-07-13 11:28] SychevIgor opened #11685 "Add information about ReservedInstances API"
Add information about ReservedInstances API to "Consumption APIs" section. API visible in Swagger, but not on a documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed7b604-d89f-1d59-87d6-d32e29eb6245
* Version Independent ID: 0113a6ce-3f69-73ce-b063-c07b52348f92
* Content: [Azure Billing Enterprise APIs

[2018-07-13 11:35] Phydeauxman commented on #11451
@SaurabhSharma-MSFT thanks...created the post linked below:
https://social.msdn.microsoft.com/Forums/azure/en-US/ca5f77c7-4f78-43be-acbc-fc64dd5075b9/multitenant-app-registrations?forum=WindowsAzureAD

[2018-07-13 11:39] girgen opened #11686 "How do I set NameFormat in SAML assertions?"
I need assertions to set attributes with NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri" as per https://saml2int.org/profile/current/#section7

How can I do this in Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d362c1b5-1460-4de9-c53d-f0ec1ef07742
* Version Independent ID: 9dc0a4df-81c8-13eb-720

[2018-07-13 11:40] waheedhussain commented on #8195
Is it correct that PITR can't be used in the DR scenario? or accessed from the secondary region for a restore?

[2018-07-13 11:59] girgen opened #11687 "AttributeStatement section should mention NameFormat"
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-single-sign-on-protocol-reference#attributestatement is missing information about NameFormat. Many applications require this in the SAMLAssertion. Please add information about how Azure AD manages this.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-07-13 12:10] OliverRC opened #11688 "Microsoft.ApplicationInsights.EtwListener does not exist"
I tried to use the reference package "Microsoft.ApplicationInsights.EtwListener (to capture ETW events)" but it does not exist on nuget.org

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7265053-e223-593d-eba7-7dc87c3f9246
* Version Independent ID: 1b8daf9a-78f6-2ccf-ec31-85c125edc44b
* Content: [Explore .NET trace lo

[2018-07-13 12:12] OliverRC commented on #11688
Aha, later in the page it refers to "Microsoft.ApplicationInsights.EtwCollector" which does exist.
The bullet point seems like it just needs to be updated.

[2018-07-13 12:28] mrbullwinkle commented on #11688
@OliverRC Thanks again. Your changes via the linked public PR should get merged and go-live today.

[2018-07-13 12:38] bibliothek opened #11690 "passwordPolicies InputClaim DisableStrongPassword"
In the final XML "Putting it all together" there is an InputClaim that is not referenced before:

[code]

Is it necessary to set `DisableStrongPassword` to make the PIN password work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd28e85-f3db-fcf9-7b6b-c45fe9dfc9e6
* Version Independent ID: 75e4906f-3704-e416-79df-3e

[2018-07-13 13:41] waheedhussain opened #11691 "Any ideas on price for multi-master"
Hi,

Any ideas on pricing? is there going to be any additional price for multi master then what we currently have for geo-replicas

Thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa52d9e2-5a1d-c3b4-ed1e-ec4ce71ad9b4
* Version Independent ID: 4b150afb-d82c-7715-2e5d-a275f480e19b
* Content: [Multi-master a

[2018-07-13 14:09] mmaitre314 opened #11692 "Add WEBSITE_AUTH_PRESERVE_URL_FRAGMENT in doc"
This was documented in a blog but is difficult to find: https://blogs.msdn.microsoft.com/appserviceteam/2016/07/05/creating-a-corporate-wiki-in-azure/
Useful feature to avoid breaking deep links during auth redirects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13176d24-57e1-33bb-1948-a086df502dca
* Version Independ

[2018-07-13 14:11] erichexter opened #11693 "Compatibility reference is needed for Windows Container Instances"
I would like to see a reference to supported windows container versions. At this time is seems that 1803 and 1709 based windows containers are not supported. Please add some sort of compatibility / supported version documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c00e2ca-c968-c339-c4f2-6acebc9c4f2f
* Ver

[2018-07-13 14:24] tfitzmac commented on #11300
@ChiefWiggum - thanks for this feedback. The region restrictions have been removed and the article updated.

[2018-07-13 14:25] jeremywangyuan opened #11694 "path of test image error & the output"
Hi, the path of the test image in step 6 should be "images/Test/test_od_image.jpg".
And is my output correct or not? ![](https://i.imgur.com/rSSycFQ.png)
Thanks.

[2018-07-13 14:28] jeremywangyuan opened #11695 "path of test image error & the output"
Hi, the path of the test image in step 6 should be "images/Test/test_od_image.jpg".
And is my output correct or not? ![](https://i.imgur.com/rSSycFQ.png)
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9957cb6-3fc1-b7ae-db20-f90b6a833faf
* Version Independent ID: 90421a02-0e49-5bf4-3cd1-f94c80031b3a
* Content:

[2018-07-13 14:29] #11694 closed

[2018-07-13 14:36] bkirschbaum opened #11696 "Client"
Ran into an error: ITextAnalyticsAPI  can not be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [C# Quickstart for Azure Cognitive Services, Text Analytics API](https://docs.microsoft.com/en-us/azure/co

[2018-07-13 14:41] ilio78 opened #11697 "ADFS Support"
Hello,
are the above commands available in ADFS 2016 as well? Specifically, I would like to change the Access Token lifetime.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable token life

[2018-07-13 14:42] daveba commented on #11646
@ChefGillani and I worked this out over email.  We can now close this issue.  #please-close

[2018-07-13 14:51] Mike-Ubezzi-MSFT commented on #11684
@waheedhussain Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-13 14:58] Nilis312 commented on #10130
Thanks! nice that it is coming !
It would be good by the way to state it in the office blog that it is delayed. Even in the Azure Portal still the notification was there that it was implemented.

[2018-07-13 15:01] OldManSmithers commented on #11459
My apologies for the delay.  Went back, recreated the issue and ran into the same problem.  Windows Server 2016.

[2018-07-13 15:08] DeanGross opened #11698 "Duplicate Permissions"
How come the following duplicate permissions are in this API? These are shown on the screenshot above and I see the same thing in my tenant

Read threat intelligence data for your organization
Read activity reports for your organization
Read threat intelligence data for your organization
Read activity reports for your organization

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-07-13 15:16] shraboin opened #11699 "One of the hyperlinks isn't mapped to anything"
For Proceed to Map permanent custom domain under https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain#map-permanent-custom-domain , there is no link associated with it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-

[2018-07-13 15:24] waheedhussain commented on #11412
Hi Mike, this was general question regarding backups, both automatic backups and LTR.

So i understand if either one of them fails for any reason

1. Microsoft will look into resolving this: do we need to create a support ticket for this or is it part of PaaS monitoring that Microsoft has and will look into resolving this without us contacting Microsoft?
2. The notification is available in azure p

[2018-07-13 15:40] jluk commented on #7385
Definitely missed this one - yes @SeanFeldman I am indeed alive.

@migmartri can you share more detail on your issue, not sure I understand. Today there is no way to do a full iframe embedding of Cloud Shell like docs.microsoft.com, just the button.

[2018-07-13 15:46] foreverdeepak opened #11700 "Offset Management"
How offset management is handled in the absence of EventProcessorHost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a325b9b-ff1c-d384-2ffa-74fb6d65272d
* Version Independent ID: 847e6438-e056-d50b-05fa-022c8ab17e0b
* Content: [Create Kafka enabled Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/e

[2018-07-13 15:48] spelluru commented on #8961
#please-close due to inactivity and I could not reproduce the issue.

[2018-07-13 15:54] Mike-Ubezzi-MSFT commented on #11691
@waheedhussain At this time there is no published pricing for this deployment scenario. You may, however, reach out to a sales agent via chat from the [Cosmos DB pricing](https://azure.microsoft.com/en-us/pricing/details/cosmos-db/) page. They will be able to provide more accurate information. Regards, Mike

[2018-07-13 16:09] dlepow commented on #11473
@pgsoub - Thanks for the doc suggestion, which we'll consider. Generally the Batch Java SDK provides APIs similar to the ones in the Batch Python, .NET, and other SDKs. There is an intro to the Java SDK [here](https://github.com/Azure/azure-batch-sdk-for-java) and a basic code sample [here](https://github.com/Azure/azure-batch-samples/tree/master/Java/PoolAndResourceFile). And yes, you should be a

[2018-07-13 16:10] kthejoker opened #11701 "Is there additional costs associated with the Azure Blob Storage backups of Cosmos DB?"
Or is that backed into the CosmosDB pricing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 887a7740-51a1-80b6-5d0f-704621ad50c7
* Version Independent ID: 642c593f-9563-cd62-e23f-a47bb6e3e421
* Content: [Online backup and restore with Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/online-backup-and-r

[2018-07-13 16:14] vasivara-MSFT commented on #11673
@Jack1007533560 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-13 16:16] dksimpson commented on #11699
#in-progress

[2018-07-13 16:17] dksimpson commented on #11699
Fixed in #46546

[2018-07-13 16:18] vasivara-MSFT commented on #11674
@HemantChandurkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-13 16:22] subhashvinjamuri commented on #10778
Remember device feature works - just for that browser, not the device in real. Is there a way, i can add trusted devices against my account (we are not using Intune yet). If there is any login activity from any other device (other than the trusted device list), prompt for MFA. Also make an entry in Azure Ad user sign-in acitivty with all details ,device host name or MAC, time & location where the

[2018-07-13 16:24] subhashvinjamuri commented on #10778
PLease provide a report to extract with details - all MFA enforced users and their selected MFA verification option. Writing powershell script for this is a tedious job. current MFA user list screens , doesnt export the data and dont give MFA verification method selected by user.

[2018-07-13 16:36] #10130 closed

[2018-07-13 16:37] mikebudzynski commented on #11317
Thanks @HowardvanRooijen, issue is fixed now and can be closed.

[2018-07-13 16:38] tinod opened #11702 "No longer supported..."
The use of identityIds is deprecated and no longer supported. The new attribute has not yet been documented. Please update this document. The samples here will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124a182c-d062-ae23-26c1-42acdbb05f81
* Version Independent ID: ed24bfbc-d1df-fdac-4677-95755ed918dc
* Conte

[2018-07-13 16:40] v-geberr commented on #11557
Hi @janefreakindoe, the Entities per culture page no longer has the table. The correct example for percentage is on [this page](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-reference-prebuilt-percentage). Please let us know if you find other issues with the documentation. #please-close

[2018-07-13 16:44] Mike-Ubezzi-MSFT commented on #11412
This is correct. If, however, you are seeing multiple notifications for back-up service issues, I strongly recommend that you be proactive and open a support request to have the issue investigated. The notifications are not extremely clear but, there is a notification that an issue occurred.

Regards,
Mike

[2018-07-13 16:45] MicahMcKittrick-MSFT commented on #11669
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-13 16:45] MicahMcKittrick-MSFT commented on #11675
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-13 16:46] Mike-Ubezzi-MSFT commented on #11449
@pazhuo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 16:46] #11449 closed

[2018-07-13 16:46] MicahMcKittrick-MSFT commented on #11693
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-13 16:46] vhorne commented on #11037
@kasunsjc
Thanks for the reminder. We had this change in one of the articles, but not in the others. So now the change is in all of them. Should be published later today.
#please-close

[2018-07-13 16:48] #11633 closed

[2018-07-13 16:53] d3r3kk commented on #6988
@mrbullwinkle This can likely be closed due to inactivity?

[2018-07-13 16:57] iainfoulds commented on #11267
@dazinator

With the GA of AKS, ACS is planned for deprecation. The Docker marketplace offer builds on top of the open source acs-engine, which continues to be developed and maintained. As such, the marketplace solution would be the suggested approach for long-term deployments.

[2018-07-13 17:01] Mike-Ubezzi-MSFT commented on #11561
@jackiems82 Take a look at the following documentation: [Exception types](https://docs.microsoft.com/en-us/azure/service-bus-relay/relay-exceptions#exception-types).

There is some useful information and one suggestion is to add retry logic to your solution. Please review the information that is available and let me know if you have any additional questions.

Regards,
Mike

[2018-07-13 17:01] SaurabhSharma-MSFT commented on #11668
@ganeshthiagarajan Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 17:04] Mike-Ubezzi-MSFT commented on #11571
@efficienthacks I have assigned the issue to the content author to evaluate and update as appropriate, as the external link you included provides additional information that the Microsoft docs do not. I will let the content owner review this. Thank you!

[2018-07-13 17:05] MicahMcKittrick-MSFT commented on #11472
I will close this out but if you feel you need more information please just let me know.

[2018-07-13 17:05] #11472 closed

[2018-07-13 17:05] MicahMcKittrick-MSFT commented on #11596
I will close this out but if you feel you need more information please just let me know.

[2018-07-13 17:05] #11596 closed

[2018-07-13 17:05] SaurabhSharma-MSFT commented on #11670
@bswieser Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-13 17:05] #11317 closed

[2018-07-13 17:06] SaurabhSharma-MSFT commented on #11671
@jdobrzen Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 17:07] MicahMcKittrick-MSFT commented on #11632
@josere I worked offline with some of the Service Fabric team members and it appears that multiple triggers is not something that is currently supported. We will make sure to clarify this in the doc.

@radicmilos can you please review this and clarify this information in the doc.

CC @masnider

[2018-07-13 17:07] MicahMcKittrick-MSFT commented on #11658
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-07-13 17:07] #11658 closed

[2018-07-13 17:07] SaurabhSharma-MSFT commented on #11686
@girgen Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 17:08] MicahMcKittrick-MSFT commented on #11663
I will close this out but if you feel you need more information please just let me know.

[2018-07-13 17:09] MicahMcKittrick-MSFT commented on #11669
Can you clarify by not working as expected? What error are you seeing?

[2018-07-13 17:10] SaurabhSharma-MSFT commented on #11690
@bibliothek Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 17:11] SaurabhSharma-MSFT commented on #11697
@ilio78 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 17:12] SaurabhSharma-MSFT commented on #11694
@jeremywangyuan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 17:12] josere commented on #11632
Thanks guys!

[2018-07-13 17:12] SaurabhSharma-MSFT commented on #11679
@Anshulsv Could you provide us with the link to the document you are referring to ?

[2018-07-13 17:12] #11632 closed

[2018-07-13 17:13] MicahMcKittrick-MSFT commented on #11471
@Brucius reviewing the error you are getting and your code I am curious if the issue is with the -path you have set.

The error states: Destination path for SSH public keys is currently limited to its default value /home/oaker/.ssh/authorized_keys

I see your path is  /home/oaker/.ssh/authorized_key

Could you try modifying the path to  /home/oaker/.ssh/authorized_keys instead of  /home/oaker/.ssh

[2018-07-13 17:17] SaurabhSharma-MSFT commented on #11680
@Kolan92 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 17:23] SaurabhSharma-MSFT commented on #11687
@girgen Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-13 17:23] MicahMcKittrick-MSFT commented on #11538
When you publish your cluster to Azure did you specify the app insights key:

![image](https://user-images.githubusercontent.com/32313503/42705023-d0ae863a-8686-11e8-80e1-d992ca7e9663.png)

[2018-07-13 17:33] raiye commented on #11494
Thanks for the feedback! Unfortunately we are only supporting Write Accelerator for M-series right now but I will make sure to pass your feedback along and see what we can do to open that up to the other sizes.
Thanks again!
Rashmi Iyer

[2018-07-13 17:37] kgremban commented on #10379
Hi @ivan-shaporov, I haven't heard from you in a couple weeks but I did update the note to try and improve clarity. Please take a look and let me know if you think that helps. If we don't hear from you, I'll ask @Mike-Ubezzi-MSFT to close this issue.

[2018-07-13 17:42] kobulloc-MSFT commented on #11082
@joymon Did you have a chance to look over the documentation covering exceptions?

[2018-07-13 17:45] TravisCragg-MSFT commented on #11667
@awysza I found the document you are referring to. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-13 17:48] ghogen commented on #11641
This is fixed now.
https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting

[2018-07-13 17:48] TravisCragg-MSFT commented on #8961
@toolboc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-13 17:48] #8961 closed

[2018-07-13 17:49] TravisCragg-MSFT commented on #11037
@kasunsjc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-13 17:49] #11037 closed

[2018-07-13 17:54] BryanTrach-MSFT commented on #11672
@tschleining Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-13 17:56] BryanTrach-MSFT commented on #11692
@mmaitre314 Thank you for the feedback. We have assigned this to the doc author to determine if including this additional information would be impactful.

[2018-07-13 18:01] SaurabhSharma-MSFT commented on #11702
@tinod Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-13 18:02] dixitsuneel opened #11704 "Question on service movement"
Let's say I have a guest exectuable which is doing some work which is about downloading a 10 GB file and loading it up in db in chunks. If the resource managers decides to move this service, then won't that interrupt the work and then we will have to retry the work again and it can lead to errors in the system?

What are the options for a stateless service (running as Guest Executable written in a

[2018-07-13 18:02] SaurabhSharma-MSFT commented on #11451
@Phydeauxman Thanks.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:02] #11451 closed

[2018-07-13 18:02] SaurabhSharma-MSFT commented on #11598
@UmeshPandit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:02] #11598 closed

[2018-07-13 18:03] SaurabhSharma-MSFT commented on #11607
@alguadam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:03] #11607 closed

[2018-07-13 18:03] SaurabhSharma-MSFT commented on #11612
@adeinde We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:03] #11612 closed

[2018-07-13 18:04] iainfoulds commented on #11616
@thelious1974 Can you confirm what you're running here - AKS, ACS with Kubernetes, or acs-engine?

The FAQ originally linked to this issue was for _AKS_. As noted previously, you can register for a private preview of Windows support here https://aka.ms/aks-windows-preview.

ACS with Kubernetes does support creating Windows nodes, as shown here https://docs.microsoft.com/en-us/azure/container-servi

[2018-07-13 18:04] SaurabhSharma-MSFT commented on #11625
@WilliamTIII We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:04] #11625 closed

[2018-07-13 18:06] spacecat opened #11705 "Error: no available release name found"
Hi,

Ran:

1. helm init
2. helm install stable/nginx-ingress --namespace kube-system --set rbac.create=false

The helm install command responds back with the following error:

Error: no available release name found

Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version

[2018-07-13 18:06] tfitzmac commented on #11287
@ChiefWiggum - thanks for this question. Events delivered in the CloudEvents schema still use the aeg headers. The only value that is different is content-type. I am updating the article with this information.

[2018-07-13 18:07] MicahMcKittrick-MSFT opened #11706 "Script does not work as written"
When running this script as it you get the following error:

New-AzureRmServiceFabricCluster : Code: DeploymentFailed, Message: At least one resource
deployment operation failed. Please list deployment operations for details. Please see
https://aka.ms/arm-debug for usage details.
Details: Code: BadRequest, Message: {
  "error": {
    "code": "VMInstanceCountNotSufficientForReliability",
    "messa

[2018-07-13 18:07] SaurabhSharma-MSFT commented on #6413
@codesmon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:07] #6413 closed

[2018-07-13 18:08] dixitsuneel commented on #11663
@BharatNarasimman @MicahMcKittrick-MSFT  Thank you so much for the update.

It will be very useful if this information is clearly outlined in the docs for other pople

[2018-07-13 18:09] SaurabhSharma-MSFT commented on #9006
@JeremyTBradshaw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:09] #9006 closed

[2018-07-13 18:09] MicahMcKittrick-MSFT commented on #11706
@rwike77 Customer reached out on MSDN regarding this doc

https://social.msdn.microsoft.com/Forums/en-US/646acca0-e670-42ba-af01-0162226ca7d0/getting-error-while-creating-service-fabric-cluster-via-powershell-am-using-the-script-right-here?forum=AzureServiceFabric

I tested it and am getting the same error. Can you take a look at what we can do to get it working as written?

[2018-07-13 18:09] SaurabhSharma-MSFT commented on #10646
@ayushgorya We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:09] #10646 closed

[2018-07-13 18:10] SaurabhSharma-MSFT commented on #10751
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:10] #10751 closed

[2018-07-13 18:10] SaurabhSharma-MSFT commented on #10877
@amolajgaonkar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:10] #10877 closed

[2018-07-13 18:10] MicahMcKittrick-MSFT commented on #11663
For sure.

@BharatNarasimman can you see if we can add this info into the doc?

[2018-07-13 18:12] SaurabhSharma-MSFT commented on #11513
@jakereifer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:12] #11513 closed

[2018-07-13 18:12] SaurabhSharma-MSFT commented on #11646
@ChefGillani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:12] #11646 closed

[2018-07-13 18:13] BharatNarasimman commented on #11663
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy

"TargetReplicaSelector This specifies how the target replica or instance should be selected.◦When the target service is stateful, the TargetReplicaSelector can be one of the following: 'PrimaryReplica', 'RandomSecondaryReplica', or 'RandomReplica'. When this parameter is not specified, the default is 'PrimaryReplica

[2018-07-13 18:14] SaurabhSharma-MSFT commented on #11653
@avik-so Glad to hear that. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 18:14] #11653 closed

[2018-07-13 18:23] thelious1974 commented on #11616
@iainfoulds The cluster was definitely managed kubernetes (aks) cluster. It was created was using an ARM template defining the resource of type Microsoft.ContainerService/managedClusters  (as documented https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters)

The ARM template defined two agent pools profiles - the first of type Linux, the second of type Windows

[2018-07-13 18:37] girgen commented on #11687
@SaurabhSharma-MSFT it might be that it is not implemented, at least not using a simple point-and-click configuration, but perhaps it can be done using some other means?

[2018-07-13 18:39] MicahMcKittrick-MSFT commented on #11704
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-13 18:40] tfitzmac commented on #10703
@romankiss - I have forwarded your feedback, but you should also add it to [feedback forum](https://feedback.azure.com/forums/909934-azure-event-grid).

[2018-07-13 18:45] spacecat opened #11710 "Docs are confusing"
Hello again,

Probably related to my ealier submitted issue.

Tried

helm install stable/nginx-ingress --set rbac.create=false --set rbac.createRole=false --set rbac.createClusterRole=false

from

https://github.com/Azure/AKS/issues/346

but when I surf to the IP  I get

This site can’t be reached
&lt;ip-address-here&gt; took too long to respond.
Try:

Checking the connection
Checking the proxy an

[2018-07-13 18:45] TravisCragg-MSFT commented on #11384
@brunocormack We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-13 18:45] #11384 closed

[2018-07-13 18:46] lrpark opened #11711 "More details on data collection please"
It'd be very helpful for decision-making to have this documentation list the specific data types that the AD Replication Status solution collects from the domain controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cce1867c-6526-4d34-0b0e-bde51321193f
* Version Independent ID: 8577e152-47dd-6f01-bf7d-184cd47f3111

[2018-07-13 18:46] SaurabhSharma-MSFT commented on #11649
@gauchan183 Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-07-13 18:47] Adam-Smith-MSFT commented on #11683
@kasunsjc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-13 18:48] spacecat commented on #11710
Also, a lot of the times you get an error, find some snippet on Google, execute the command, without really knowing what you just did, then leaving your environment in a "messy" state. The docs should therefore always have some sort of reset instructions.

[2018-07-13 18:49] Adam-Smith-MSFT commented on #11676
@skmuzz Thank you for the valuable feedback,we are investigating the issue.

[2018-07-13 18:53] DaveVoyles opened #11712 "How can you filter for group_id from within the Search Explorer in the Azure portal?"
If I make a request like this, it returns ALL of the documents in my index:

$filter=group_ids/any(id: id eq 'group_id1')

I have the group_ids set to a collection(Edm.String) and filterable, yet in search it returns everything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0510fa63-2d49-b33c-dde8-ddd97df0972e
* Versi

[2018-07-13 19:00] BakerLabs opened #11713 "Modify the Set-AzureRmVMDiagnosticsExtension cmdlet to improve the ability to automate the install/config of diagnostics extension"
BACKGROUND
The cmdlet Set-AzureRmVMDiagnosticsExtension is touted as a way to automate the installation/configuration of the diagnostics configuration on an Azure VM as described here:

Use PowerShell to enable Azure Diagnostics in a virtual machine running Windows
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-windows#sample-diagnostics-configuration

A review of t

[2018-07-13 19:03] jasonsch69 commented on #11612
When I click on the reset password link while the pc is locked, it tries to log my in and then says password invalid. If I click the link while nobody is logged in, it locks the pc with an unknown account. local admin and my account will not unlock it. I have to reboot.

[2018-07-13 19:04] Mike-Ubezzi-MSFT commented on #11701
@kthejoker As part of your monthly Azure subscription for Cosmos DB, the automatic back-ups (including space consumed for those back-ups) are part of this subscription fee. With Cosmos DB, you are paying for R/U throughput + storage space your Cosmos DB consumes. Any additional back-ups taken and stored would potentially be subject to additional fees. I have included details on how storage costs a

[2018-07-13 19:07] jasonsch69 opened #11714 "Reset password link tries to log me in, gives invalid password"
When I click on the reset password link while the pc is locked, it tries to log my in and then says password invalid. If I click the link while nobody is logged in, it locks the pc with an unknown account. local admin and my account will not unlock it. I have to reboot.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-sspr-windows

---
#### Document Details

⚠ *Do no

[2018-07-13 19:15] ghogen commented on #11641
#please-close

[2018-07-13 19:19] ghogen commented on #11528
#in-progress

[2018-07-13 19:19] ghogen commented on #11328
This is fixed now - that section is added to the doc.
#please-close

[2018-07-13 19:20] ghogen commented on #11158
Fixed.
#please-close

[2018-07-13 19:31] ghogen commented on #10792
The doc covers the recommended approach to installing. I would close this issue for the docs.  You can also enter product feedback (via the button here with that name) with ideas and suggestions for the product or service itself.

[2018-07-13 19:32] ghogen commented on #10792
#please-close

[2018-07-13 19:32] Adam-Smith-MSFT commented on #11676
I submitted a pull request to fix the typo: https://github.com/MicrosoftDocs/azure-docs-pr/pull/46570
will close this thread now.

[2018-07-13 19:32] #11676 closed

[2018-07-13 19:37] Minewiskan commented on #11636
@GaretAnderson Unfortunately there is no way to import pbix models into Azure AS through script.
#please-close

[2018-07-13 19:37] mumian commented on #9629
The article has been  updated.  @please-close

[2018-07-13 19:37] mumian commented on #9629
#please-close

[2018-07-13 19:38] ghogen commented on #9313
#in-progress

[2018-07-13 19:39] TravisCragg-MSFT commented on #11636
@GaretAnderson if you would like to request that this be added to Azure, please [leave your feedback Here](https://feedback.azure.com/forums/34192--general-feedback).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-13 19:39] #11636 closed

[2018-07-13 19:40] ghogen commented on #9528
@junpark12 Is this still an issue?  I think earlier versions of the tools didn't support values.dev.yaml but I think more current ones should.

[2018-07-13 19:42] kyyung opened #11715 "Align resource group name"
It is better to align the resource group name in the tutorial as myResourceGroup which is used in the quick start of AKS cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-a376-1535-7bc4-deaca1d98dd9
* Content: [HTTP Application Routing add-on

[2018-07-13 19:49] dsk-2015 commented on #11427
@lkuhn65 thanks for your feedback. The current focus for the Azure Maps team is new features that better support enterprise mapping scenarios. We will update the documentation as these features get released, however for the time being we won't be doing comparison with similar or competing products here.

[2018-07-13 19:51] shehackspurple opened #11716 "Security Concerns over opening all IP addresses"
Hi!

I'm a security person and I'm concerned about the direction in this article to open all IP addresses for your server "Run the following Azure CLI command to allow access to the database from all IP addresses. When both starting IP and end IP are set to 0.0.0.0, the firewall is only opened for other Azure resources."    Then there is a tip at the end of that segment explaining that the user co

[2018-07-13 19:53] ghogen commented on #10425
#in-progress

[2018-07-13 19:55] dsk-2015 commented on #10361
@jimborogers Thanks for your feedback. We have removed the table you mentioned since Azure Maps will be soon getting new features and enterprise support.

[2018-07-13 20:05] #11158 closed

[2018-07-13 20:06] jason-j-MSFT commented on #11328
@davetheunissen thanks for the heads up.

[2018-07-13 20:06] #11328 closed

[2018-07-13 20:07] ghogen commented on #10632
#in-progress
Yes this should be clarified, thanks.

[2018-07-13 20:08] ghogen commented on #10018
#in-progress
Looking at this now. Yes, I think I should add a clarification here.

[2018-07-13 20:11] BrianJackson opened #11717 "Marketplace publishing content over a year out of date"
This content is outdated and has been invalid for a year at this point.   Please update it for the Cloud Partner Portal or remove it entirely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cb76940-1c5d-b616-880a-deffdcda5d1b
* Version Independent ID: 78c318f9-697f-ca24-ca1a-9c36b7abe9f3
* Content: [Non-technical prer

[2018-07-13 20:12] iainfoulds commented on #11616
@thelious1974 The template reference is actually incorrect and is being updated now, sorry. As AKS and ACS share some common definitions, it shows Windows as being a valid osType. While technically valid and deploys without error, it doesn't provide a functional deployment. The Windows nodes are created within the AKS cluster, but you likely cannot correctly schedule pods on them and network servi

[2018-07-13 20:12] #11331 closed

[2018-07-13 20:16] curtand commented on #8605
Hi @LedoGit

The article has been published. See the permissions under Billing Administrator here:
https://docs.microsoft.com/azure/active-directory/users-groups-roles/directory-assign-admin-roles

#please-close
@SaurabhSharma-MSFT

[2018-07-13 20:17] lunar87 opened #11718 "coolstorage policy def is incorrect"
The policy is supposed to deny cool, instead it will only allow cool because of the 'not'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eb454e0-eb5c-3ed2-c276-b4e3f1bc0ebd
* Version Independent ID: 9cb7c2d2-ca6b-829a-40a2-f69e90210086
* Content: [Use Azure Policy to create and manage policies to enforce organizationa

[2018-07-13 20:20] ghogen commented on #10018
@anz1e is this still a problem?  I just went through the steps and did not see any dialog when checking the "Read Directory Data" box.

[2018-07-13 20:21] jason-j-MSFT commented on #11517
@sharonlo101 we have a bug report here, I was not able to replicate it as the pipeline parameter worked for me in a dataset, but could you take a look as well?

[2018-07-13 20:29] #11623 closed

[2018-07-13 20:44] Mike-Ubezzi-MSFT commented on #11581
@franzzegarra Enabling this functionality is not available in the Azure Portal. The documentation describes the Powershell and the SQL REST API methods for enabling this functionality. You can make feature enhancements via the [Azure SQL Database User Voice](https://feedback.azure.com/forums/217321-sql-database).

I am going to forward this on to the documentation content owner to possibly add a n

[2018-07-13 20:48] jason-j-MSFT commented on #11562
@cloudmelon the 302 you received is a redirect, and is expected.  You can see in the rest of the output you provided that the 'onboard_agent.sh' script was downloaded successfully.  It is a shell script which is then executed, and we see your host successfully download the 'omsagent-1.6.0-42.universal.x64.sh' script.  The full output of that script is not included in your screenshot.

[2018-07-13 20:50] jason-j-MSFT commented on #11562
@cloudmelon it appears this is not a documentation issue, so we are closing it.  Feel free to add comments as needed, and if we find that there is a documentation issue here, we can reopen it.

[2018-07-13 20:50] #11562 closed

[2018-07-13 20:54] HeidiSteen commented on #11712
Helps to start with the easy stuff -- if neither of these help, I might have to ask you to post to Stack Overflow.  I don't have deep expertise in the Odata syntax for complex types:

First, check whether the "filterable" attribute is set on the field group_ids.
Second, is 'group_id1' a literal value inside the index?  If you do a plain string search on "group_id1" you get at least one hit back, c

[2018-07-13 20:56] jimdial commented on #11601
@eggind  Matt updated the article, per this discussion. If you have further comments, just let us know.  Thanks. #please-close

[2018-07-13 20:58] SaurabhSharma-MSFT commented on #11668
@ganeshthiagarajan Please refer to [GitHub Sample](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/B2CPolicies/Advanced%20Policies%20Starter%20pack) to check if it fits to your requirements.

[2018-07-13 21:02] jason-j-MSFT commented on #11605
@Minewiskan we have an request to change the wording around login, could you take a look?

[2018-07-13 21:03] jason-j-MSFT commented on #11711
@lrpark
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-13 21:05] DaveVoyles commented on #11712
I have no idea of why this wasn't working, but I went back and typed in the exact same thing again, and it works. Thank you!

[code]
And replace the 'group_id2' with the document group_id of your choice.

We can close this for now. I may offer a suggestion to the doc to include how to filter through type: Collection(Edm.String).

[2018-07-13 21:05] #11712 closed

[2018-07-13 21:09] Mike-Ubezzi-MSFT commented on #11593
@itomek Which API are you leveraging for your Cosmos DB instance? The answer to your question depends on which API you are using but, with the SQL API (for example) you are going to use traditional ID + partition key. Please review the below documentation for more information:
[Partitioning in Azure Cosmos DB using the SQL API](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-partition-dat

[2018-07-13 21:12] MicahMcKittrick-MSFT commented on #11715
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-13 21:16] TravisCragg-MSFT commented on #11601
@eggind We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-13 21:16] #11601 closed

[2018-07-13 21:19] HeidiSteen commented on #11712
Great!  Glad it worked out.  Would love to have your contributions on the docs.

#please-close

[2018-07-13 21:24] morgangrobin opened #11721 "Example in this article does not work"
As described in this user voice comment: https://feedback.azure.com/forums/357324/suggestions/32508511

In this line `telemetry.Context.Session.Id = HttpContext.Current.Session.SessionID;`, Session is null so you cannot set the Id property of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e999ab71-aabf-9917-6f50-8f

[2018-07-13 21:30] georgewallace commented on #11496
@jasoth No, just saying that the `Get-AutomationPSCredential` takes in a string of the credential asset.  That can then be used in any properties in the configuration that requires a PSCredential type.  I will update the doc to properly portray that as I do agree reading it can be confusing.  In regards to the compilation errors, it isn't looking for the Run As Accounts, it is looking for the cred

[2018-07-13 21:31] MicahMcKittrick-MSFT commented on #11713
Thanks for this.

Please file your product feedback on this feature on the [Azure Powershell GitHub](https://github.com/Azure/azure-powershell/issues) or you can also provide feedback from the command line using the [Send-Feedback cmdlet](https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/send-feedback?view=azurermps-6.4.0).

[2018-07-13 21:31] #11713 closed

[2018-07-13 21:32] Mike-Ubezzi-MSFT commented on #11614
@Maggern3 The query would look something like this:

`SELECT p.FirstName, p.LastName, a.Holdings
FROM Person p`

I don't have an example to specifically test this but this should get you started.

Regards,
Mike

[2018-07-13 21:40] MicahMcKittrick-MSFT commented on #11715
Thanks @kyyung. I actually modified the quick start to use myAKSCluster instead of myresourcegroup. Many of our examples use myAKSCluster so it makes more sense that route.

Thanks for this feedback! Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-13 21:44] Mike-Ubezzi-MSFT commented on #11684
@waheedhussain Which region is your Azure SQL instance deployed? I am not showing this feature as being available in all regions, at this time. This feature can be enabled in the Azure Portal, or through other means if the deployment is in a supported region and deployed at the premium service tier.

**Zone redundant Premium databases and pools are available in the following regions:**

- Central

[2018-07-13 21:47] #11718 closed

[2018-07-13 21:48] CelesteDG commented on #10826
Hi @patenik2 - Wanted to give you an update about your questions. I have confirmation from our ACS PM that you are correct that Azure AD supports WS-Fed with SAML 1.1. I'm still waiting to hear back from our B2C PM about your question on B2C support for SAML 1.1. Thank you.

[2018-07-13 21:49] enobufs commented on #9068
I would like to know how to get those values too!

[2018-07-13 21:50] daveba commented on #11702
@tinod  Thanks for the feedback.  The identityIds array is still valid and has not been deprecated.  When this feature is deprecated, we will update the docs accordingly.  #please-close

[2018-07-13 21:50] DCtheGeek commented on #11718
@lunar87 Thanks for the feedback and catching this!  Looks like the source sample was updated to remove the "not", but not this page that used the same example.  I've updated the code and it should get published later this afternoon.  Thank you again for finding and pointing this out!

@MicrosoftDocs/azure-cxp-triage Can you please tag this as assigned to me.  The commit handled the Close.  Thanks

[2018-07-13 21:56] bidyut1990 opened #11722 "Confusing/misleading information about Throughput Unit limit for a partition"
[The section "How many partitions do I need?" quotes that "There is no specific throughput limit on a partition, however the aggregate throughput in your namespace is limited by the number of throughput units". I think this is wrong because there is a limit of 1TU per partition. And thereby it is recommended to have more number of partitions than the total TU's one is buying. ]

---
#### Document

[2018-07-13 21:58] #11715 closed

[2018-07-13 22:00] jasoth commented on #11496
@georgewallace Sorry, I thought you were referring to Run As Accounts. I'm not sure what you were meaning by "classic" in your last post then because Get-AutomationPSCredential works just fine except for the 2 scenarios I described.

Thanks for updating the verbiage.

[2018-07-13 22:35] TravisCragg-MSFT commented on #11515
@Phydeauxman when using Path-based rules, you can add more than one path & destination to a single rule. Make sure that your destination is already in a backend pool, and that you have the frontend listener and the needed HTTP setting configured beforehand.

[2018-07-13 22:46] Phydeauxman commented on #11515
@TravisCragg-MSFT I believe we have all of that right but it is still not working and I think it is because everything we have is sitting inside of an ILB ASE.  So I could have 10 backend pools for different apps but they are all going to point to the IP address of the ILB ASE.

[2018-07-13 22:50] femsulu commented on #11685
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-13 22:51] YutongTie-MSFT commented on #11696
@bkirschbaum Thank you for your feedback, we will investigate it and get back to you soon.

[2018-07-13 22:52] YutongTie-MSFT commented on #11695
@jeremywangyuan Thank you for your feedback, we will investigate and update with you soon.

[2018-07-13 22:54] YutongTie-MSFT commented on #11677
@sovanny Hi, thanks for your feedback, we will investigate and get back to you soon.

[2018-07-13 23:01] TravisCragg-MSFT commented on #11459
@OldManSmithers I have confirmed that it works with Powershell, but not with Powershell(x86).

We will need to update the doc to specify the proper version of PowerShell,

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-13 23:03] femsulu commented on #11698
@DeanGross Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-13 23:06] femsulu commented on #11717
@BrianJackson Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-13 23:10] BryanTrach-MSFT commented on #11716
@shehackspurple Thank you for the feedback. We have assigned this to the doc author to review the feedback and respond as necessary.

[2018-07-13 23:16] TravisCragg-MSFT commented on #11515
@Phydeauxman Did you add the Web Apps to the backend pools, or did you add the IP Address to the backend pool?

[2018-07-13 23:17] barbkess commented on #11200
@rogereriksen : Thanks for sending this issue.  I'm talking to the product team to see if there is an answer.

[2018-07-13 23:23] barbkess commented on #10957
@davegreen : Thanks for asking.  I am talking to the product team to see if there is an example we can provide.

[2018-07-13 23:28] YutongTie-MSFT commented on #11309
@ksujanpaul We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-13 23:28] #11309 closed

[2018-07-13 23:30] YutongTie-MSFT commented on #11497
@hrumhurum Hi, in this situation I suggest you create a support ticket to see if there is a way to do that. Sorry for inconveniences. Tell me if you need help about that.

[2018-07-13 23:31] femsulu commented on #11490
@porrascarlos802018 any update on this please?

[2018-07-13 23:35] YutongTie-MSFT commented on #11352
@SheridanLGrant Thank you for your follow-up, I will try to contact the author to check the document.

[2018-07-13 23:53] FanrayMedia opened #11725 "Swap with Preview with EF Migration that modifies DB"
Say I do "Swap with preview" between production and staging, what happens if my app uses EF Migration and it modifies the database schema? In this case staging will alter the production DB, and then if something goes wrong, I can't just cancel the swap.  What strategy do you use to rollback production DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-07-13 23:54] CelesteDG commented on #9438
@col726 @andyjenkinson @huchenhai - Thank you all for your feedback. After some discussions with our PM and dev, I've updated the topic to clarify the current `email` claim behavior:
- https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations#restrictions-on-protocols - Please see the first bulleted item which states: "Currently, the `email` claim is returned

[2018-07-14 00:02] SeanFeldman opened #11726 "Note about overall subscription size"
It looks like the overall subscription size (JSON object) has a limit and the individual fields. I was looking if there was a limit on the length of "includedEventTypes". Please add that info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e25d3b-669e-c663-0cc0-8b91672c40c1
* Version Independent ID: d3226725-a5a2-39e

[2018-07-14 00:06] CelesteDG commented on #9438
@SaurabhSharma-MSFT @MohitGargMSFT @femsulu  @MicahMcKittrick-MSFT - #please-close

A fix from a related GitHub issue also addresses the question here. See above response and current resolution. We'll be making further changes to the docs as we evolve the v2.0 endpoint to further comply with the standards, but nothing right now that we can add to the docs.

[2018-07-14 00:33] mganeshphani opened #11727 "Finding limits of faultdomains per region programatically"
I am using following code to know how many fault domains are available in region.. would like to know if there is another way to get this information.. I don't like using header(x-ms-path-query) and rest api directly if possible

$context = Get-AzureRmContext
    $headers = @{}
    $headers.Add("Authorization","Bearer $(($context.TokenCache.ReadItems() | Where-Object {$_.DisplayableId -eq $loginId

[2018-07-14 00:43] mganeshphani opened #11728 "document not uptodate"
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/managed-disks-common-fault-domain-region-list.md

Used script:
    #diskType Classic Aligned
    $context = Get-AzureRmContext
    $headers = @{}
    $headers.Add("Authorization","Bearer $(($context.TokenCache.ReadItems() | Where-Object {$_.DisplayableId -eq $context.Account.Id.ToLower() -and $_.Resource -eq "https://management.core.

[2018-07-14 00:44] wesmc7777 commented on #11189
@andreymir It is a preview counter and we recently discovered some accuracy problems with the counter, so customers should not rely on it quite yet. It is measured in microseconds

I'm adding the following documentation for it now:

| Metric | Description |
| --- | --- |
| Cache Latency (Preview) | The latency of the cache calculated based off the internode latency of the cache. This metric is mea

[2018-07-14 01:32] #11189 closed

[2018-07-14 01:38] femsulu commented on #11379
adding @rthorn17

@girishgouda Can you pls share the error/exception ?
I would also recommend retrying with the **Management Group ID** aka Active Directory ID (instead of Name) to see if that works. here's how you get the ID...

![image](https://user-images.githubusercontent.com/34327711/42719511-9110fdec-86cb-11e8-90cf-04d40bac2697.png)

Ref: [Important Facts about Root Management Group](https:/

[2018-07-14 02:51] kobulloc-MSFT commented on #11721
@morgangrobin We're sorry for the experience you had with our documents and we are working hard to make sure everything is up to date.  Thank you very much for pointing this out.  I'm assigning this to the document author so we can get this updated quickly.

[2018-07-14 03:32] kobulloc-MSFT commented on #11634
@ToddTaylor Thank you again for your thoughtful feedback on our documentation.  One of the things we'd like to emphasize to anyone reading this is that we don't recommend one approach over the other.  In fact, you can use multiple authentication techniques to increase protection.

We've passed along your comments to the product group so they can add this to their backlog and these comments are pub

[2018-07-14 03:32] #11634 closed

[2018-07-14 03:46] wokket commented on #11299
G'day guys,

Thanks for the rapid triaging and assignment :+1:

I have a cyber-security assessment for a project pending an answer to this question.  Do you have any info on App Service Encryption-at-rest you can give me while we wait for the docco updates etc to occur?

Cheers,
Tim

[2018-07-14 04:11] #11496 closed

[2018-07-14 04:13] barclayn commented on #11299
Hi @wokket I am sorry but I don't have any information that I can share at this time. I have reached out to other contacts at Microsoft with your question but I have not heard back yet.

[2018-07-14 04:43] TravisCragg-MSFT commented on #11728
@mganeshphani are you referring to[ This Document ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage-availability)in your issue?

[2018-07-14 04:45] TravisCragg-MSFT commented on #11722
@bidyut1990 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-14 04:46] TravisCragg-MSFT commented on #11725
@FanrayMedia Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-14 04:47] TravisCragg-MSFT commented on #11726
@SeanFeldman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-14 06:04] SaurabhSharma-MSFT commented on #11690
@bibliothek No, PIN Password is an InputValidation element which validates a pin of any length but it is not used in the current sample as it is not referenced in inside ClaimType. Also, passwordPolicies specifies password policies for the user and is an enumeration of possible values like DisablePasswordExpiration, DisableStrongPassword.

[2018-07-14 07:12] thuansoldier opened #11729 "Azure Firewall Limit Quota"
Please provide more information about maximum number of rules per collection. And maximum collection per Azure Firewall (for each Network and Application)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What i

[2018-07-14 07:17] thuansoldier commented on #11638
Azure Firewall is not designed to cater end-user website. It's best for allowing your hosted virtual machines to be able to communicate back to the Internet for external web services such as Token Generation, Microsoft Update Center, Red Hat Update Center, GitHub (if that hosted virtual machine is a developer workstation), and also prevent data being pushed to malicious website (aka backdoor preve

[2018-07-14 07:18] tinod commented on #11702
The version in the article will throw this error:

{
  "error": {
    "code": "InvalidParameter",
    "target": "resourceIdentity.identityIds",
    "message": "ResourceIdentity property identityIds is deprecated. The userAssignedIdentities property should be used instead."
  }
}

To me, it sounds like it's deprecated.

[2018-07-14 07:49] TravisCragg-MSFT commented on #11728
@mganeshphani Thanks for the feedback! we will use #11727 to find other ways to get the availability information, and use this to address the documentation.

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-14 07:51] TravisCragg-MSFT commented on #11727
@mganeshphani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-14 08:13] bibliothek commented on #11690
Thanks for the clarification. It seems odd that the example only shows the validation of the PIN, but ignores it completely for authentication.

[2018-07-14 08:13] #11690 closed

[2018-07-14 09:18] bogan opened #11730 "Incorrect Endpoint Type"
The section titled "Create a MySQL server" talks about a "PostgreSQL endpoint" (second paragraph). However, this tutorial is about MySQL and not PostgreSQL. I assume this incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b459c4-6266-6e0a-33a0-ee2ae2106036
* Version Independent ID: 34a6f1f5-cad7-6ce2-3019-2834

[2018-07-14 10:14] digeler opened #11731 "some caveats that should be mention in the doc"
1. you need to be able to grant permission -please add this to the articlehttps://github.com/Azure/AKS/issues/478

2. this will not work on any guest accounts only on your directory ,EG users in xxxxx.onmicrosoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independe

[2018-07-14 10:42] aleonard763 commented on #11198
Hi Sercan,

   I'm running Windows 7 Ultimate x86.
   This is not a priority. I was merely curious. Previous versions of
AzCopy ran on the platform - I was pleasantly surprised that it did.
   Thank you for your attention.

Andy

On Fri, Jul 13, 2018 at 12:15 AM Sercan Guler [MSFT] <
notifications@github.com> wrote:

--
Andy Leonard, Chief Data Engineer, SSIS Trainer and Consultant, and Data
Philo

[2018-07-14 11:29] PatrickPan2012 commented on #7021
Java example [An Example of Azure Speaker Recognition API](https://blog.csdn.net/itachiuchiha/article/details/81046284)

[2018-07-14 11:31] PatrickPan2012 opened #11732 "Sample codes of Java cannot be used directly"
Java example can be seen in https://blog.csdn.net/itachiuchiha/article/details/81046284

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Content: [Speaker Recognition API](https://docs.microsoft.com/en-us/azure/cognitive

[2018-07-14 12:09] sam-cogan commented on #11543
Thanks, I can confirm this is all working using 4.8.1 and I was able to run through a successful demo of the service today.

[2018-07-14 12:16] Phydeauxman commented on #11515
@TravisCragg-MSFT we added the internal name of the web apps.  We are running a Private DNS zone inside the VNet and we have CNAME records for each web app the points to the IP of the ILB that is part of the ASE.  We have a Health Probe for each app pointing to the internal name and they are both reporting as healthy.  The weird thing is, when you look at the Edit window of the backend pool for th

[2018-07-14 13:28] kolisko opened #11734 "channel 2: open failed: administratively prohibited: open failed"
When I run docker stack deploy..

debug1: Connection to port 2374 forwarding to /var/run/docker.sock port -2 requested.
debug1: channel 2: new [direct-streamlocal@openssh.com]
channel 2: open failed: administratively prohibited: open failed
debug1: channel 2: free: direct-streamlocal@openssh.com: listening port 2374 for /var/run/docker.sock port -2, connect from ::1 port 51313 to ::1 port 2374, nc

[2018-07-14 14:16] SaurabhSharma-MSFT commented on #11686
@girgen Can you refer to below links if this works for you:
- https://viewds.com/blog/making-office-365-work-with-an-external-saml-identity-provider.html
- https://blogs.msdn.microsoft.com/card/2010/06/21/a-quick-walkthrough-setting-up-ad-fs-saml-federation-with-a-shibboleth-sp/

[2018-07-14 14:22] sumitsengupta opened #11735 "MARS agent Uninstall instructions ?"
# Azure documentation issue guidance

I have a MARS agent backing up to Azure recovery services.
Now I want to stop the backup, remove the agent install etc. and remove the recovery services.
How do I un-install the Azure backup client from Win10 ( Management Console 3.0 ), de-register from the Recovery services and delete all backup data and the vault ?

## Creating an issue

We prefer that you c

[2018-07-14 15:34] MicahMcKittrick-MSFT commented on #11731
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-14 15:34] MicahMcKittrick-MSFT commented on #11734
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-14 15:35] MicahMcKittrick-MSFT commented on #11729
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-14 15:35] MicahMcKittrick-MSFT commented on #11735
Thanks for the question! We are investigating and will update you shortly.

[2018-07-14 15:36] MicahMcKittrick-MSFT commented on #11732
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-14 15:36] MicahMcKittrick-MSFT commented on #11730
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-14 16:40] SaurabhSharma-MSFT commented on #9629
@rawatsudhir1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-14 16:40] #9629 closed

[2018-07-14 16:40] SaurabhSharma-MSFT commented on #10792
@vyunev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-14 16:40] #10792 closed

[2018-07-14 16:41] SaurabhSharma-MSFT commented on #11641
@lisaguthrie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-14 16:41] #11641 closed

[2018-07-14 18:10] vhorne commented on #10742
@EzraBrooks
The script has been moved to the azure-docs-powershell-samples repo.

[2018-07-14 19:37] qubitron commented on #10700
The above doc uses a mix of python 2 and python 3 style print statements, it should be all print(...) which is compatible with both python 2 and 3.

[2018-07-14 20:31] neilpeterson commented on #10754
@jrhoward after some discussion with @iainfoulds, we want to keep this open until the technical resolution comes through.

@SaurabhSharma-MSFT / @MicahMcKittrick-MSFT can we open this back up - thanks.

[2018-07-14 21:01] menewol commented on #11134
Dear Travis,

Thank you very much for your effort!

The public & me will be glad to get these informations!

Awaiting your response!

Best Regards,
menewol

[2018-07-14 21:14] pkg02 opened #11737 "Getting Service unavailable on docker push"
`docker push [myacrname].azureacr.io/azure-vote-front:v1
The push refers to repository [[myacrname].azureacr.io/azure-vote-front]
Get https://[myacrname].azureacr.io/v2/: Service Unavailable`

I don't know where it is getting v2 from.
Executing above command after successful login using az ac login --name [myacrname]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-07-14 21:59] spelluru commented on #10645
@trevor-schmidt1214 @jkwon2013

I have added this section in the article after testing the template.

https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-announcements#azure-resource-manager-template

[2018-07-14 22:00] spelluru commented on #10629
@vlele @jkwon2013

I have added a note in the article:
https://docs.microsoft.com/en-us/azure/lab-services/lab-services-overview#key-capabilities

[2018-07-14 22:56] vlele commented on #10629
Thanks!

[2018-07-14 23:33] johnpaulkee commented on #11543
@sam-cogan that's amazing news! glad to see things the tools are working well for you.
If you'd like to share your use case with the Elastic Jobs team or have any recommendations for improvement, feel free to contact @srinia @jaredmoo or me.

[2018-07-14 23:56] SaurabhSharma-MSFT commented on #11737
@pkg02 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-15 01:00] kyyung opened #11738 "Cannot issue cert successfully"
The SSL cert cannot be issued successfully. I checked the cert-manager log and found the error below:

Failed to finalize order: acme: urn:ietf:params:acme:error:malformed: Order's status ("valid") is not acceptable for finalization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* V

[2018-07-15 02:20] pkg02 commented on #11737
Never mind... didn't realize that it is azureCR.io instead of azureAcr.io.

[2018-07-15 02:42] Brucius commented on #11471
@MicahMcKittrick-MSFT ahh it worked! Such a silly mistake. Thank you very much for the help.

[2018-07-15 05:28] Anshulsv commented on #11679
@SaurabhSharma-MSFT , i am following this Microsoft's link- https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=portal

[2018-07-15 05:29] jmoralesv opened #11740 "Question about reinstalling the operating system and the Azure Backup agent"
Hi, I have a question: if I have to reinstall the operating system of the server and then reinstall the Azure Backup agent, how does this scenario affect the next backup? The server will be named with the same name, so I guess the agent will recognized that there is data already backed up in the Azure Recovery Services Vault and the agent will sync new data, not a full backup of data. Is this assu

[2018-07-15 05:53] SaurabhSharma-MSFT commented on #11738
@kyyung Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-15 06:27] eraoul opened #11741 "No information anywhere about how to get GPU quota"
It's nearly impossible to get GPU quota on Azure. The portal doesn't support it. In theory there are NCv2 and NCv3 cores available for use, but the portal only allows quota increases for NC. When I try to make an NCv2 or NCv3 VM in a supported region, I get an error message that my subscription doesn't support it. But there is no info on how to activate these cores for my subscription.

Note that

[2018-07-15 06:29] SaurabhSharma-MSFT commented on #11620
@andyjballgit Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-15 07:01] spacecat opened #11742 "Backup and restore"
Hi,
I am using a persistent volume with an Azure disk in an Azure Kubernetes Service AKS cluster.

How do I backup and restore that disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independent ID: b4aeef15-7b0f-abc7-872e-28051e10d6ca
* Content: [Create persistent volum

[2018-07-15 08:54] itzikbekel opened #11743 "Convert a managed disk from standard HDD to standard SSD, and vice versa"
Hi , you have Syntax error in the script.
1. $disk.diskId should be $disk.id
2. $vmResource contains the object of the disk so you cannot execute Get-AzureRmVm with $vmResource.ResourceGroupName -Name $vmResource.ResourceName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b67bcdd-0278-7c7f-89ac-5e4bc53de72c
* Version

[2018-07-15 09:03] Brucius commented on #11471
Should I close this issue now?

[2018-07-15 09:13] mike-urnun-msft commented on #11483
Hi @tienvv1234 - This appears to be a CORS issue. Could you open a post on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuremobile) here pls as this isn't the proper channel for this type of issues?

We will now proceed to close this thread. If there are any further questions regarding content of a specific documentation, please reopen it and we will gladly continue the

[2018-07-15 09:13] #11483 closed

[2018-07-15 09:56] nils-a opened #11744 "Please elaborate on the use of scopes"
Can you please elaborate on the usage of the scopes?
Are the given scopes somehow automagically required, even if the authentication call was made using less (or even different) scopes?
Or are those scopes only used when the authentication-redirect takes place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47770286-78

[2018-07-15 13:37] sryabkov opened #11745 "FAQ says Advanced Networking can not be configured using CLI, but there is a CLI example above showing how to do just that"
The current version of the https://docs.microsoft.com/en-us/azure/aks/networking-overview page is internally inconsistent and needs to be reconciled.

The FAQ reads

&gt;Can I configure Advanced networking with the Azure CLI?
&gt;No. Advanced networking is currently available only when deploying AKS clusters in the Azure portal or with a Resource Manager template.

But one or two paragraphs above,

[2018-07-15 13:39] sryabkov commented on #11745
Related to #10256

[2018-07-15 14:55] itomek commented on #11593
Yes, SQL, thanks. Ok so given the scenario above my data sets id field would look something like the below, given the following partition key

`/id /firstName /lastName /city /state /postal`

`{
    "id": "a6cdc876-0285-4ed2-90cb-64e0f27bdc37-john-doe-silverville-nv-12345",
    'firstName": "John",
    "lastName": "Doe",
    "city": "Silverville",
    "postal": 12345"
}`

Am I understanding that c

[2018-07-15 15:02] mmacy commented on #11745
Thanks @sryabkov, I'll get this fixed.

#in-progress

[2018-07-15 18:37] eyala opened #11746 "Out of date DataFu version referenced in article"
The version of DataFu used in this article is very old, and it has since been contributed to Apache by LinkedIn. Can you update the instructions on how to download it? - I'm guessing you can switch

wget http://central.maven.org/maven2/com/linkedin/datafu/datafu/1.2.0/datafu-1.2.0.jar

with

wget http://central.maven.org/maven2/org/apache/datafu/datafu-pig/1.4.0/datafu-pig-1.4.0.jar

(and the foll

[2018-07-15 18:51] jlebowitsch opened #11747 "Ingress traffic"
Hi, will the Azure FW be able to protect ingress traffic? ie, would it be able to protect e.g., web servers that i deploy on my vnets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](h

[2018-07-15 18:58] ryanwinter opened #11748 "authentication is misspelled."
authenication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df81868-df21-f7f3-e351-38870102f9f2
* Version Independent ID: 75059bbf-71ab-5dc8-c9e4-bb15ded288ee
* Content: [How to configure Facebook authentication for your App Services application](https://docs.microsoft.com/en-us/azure/app-service/app-service-mobile-h

[2018-07-15 19:07] JeffMushmo opened #11749 "Unable to create VMSS with Data Disks"
I've followed this example. Tried to deploy my ARM template multiple times now. I'm attempting to deploy a service fabric cluster with a back-end VMSS and a front-end VMSS. The error I get from using the example code is:
New-AzureRmResourceGroupDeployment : A command that prompts the user failed because the host program or the command type does not support user interaction. The host was attempting

[2018-07-15 19:21] TravisCragg-MSFT commented on #11740
@jmoralesv Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-15 19:33] TravisCragg-MSFT commented on #11741
@eraoul Are you able to make a support request for the quota increase? Support will be able to provide you with additional information on the request.

[2018-07-15 19:34] TravisCragg-MSFT commented on #11742
@spacecat Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-15 19:51] TravisCragg-MSFT commented on #11743
@itzikbekel Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-15 21:13] #11543 closed

[2018-07-15 21:19] eraoul commented on #11741
3 Issues:

1. This only works by filing a generic support request.  If you try to file
a "quota" support request you get stuck in an area that doesn't allow you
to ask for GPU quota. It's very misleading. I wasted time trying several
different support ticket options until I realized that I had to make a
"generic" ticket instead of a "quota" ticket.

2. It should be documented -- something like "GP

[2018-07-16 00:06] guptaisha5484 commented on #11669
A secure encrypted connection with a certificate issues by Let's encrypt did not show up, like the way its mentioned in the tutorial on that day. But today (after 2 days of my deployment) I just checked app
'https://aks-helm-ingress.australiaeast.cloudapp.azure.com/' it is working now.
I don't know why?

[2018-07-16 00:07] nickward13 opened #11752 "Confirm reliability level for raising events"
Due to the noted "best efforts" doubts for blob/function triggers (see https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#trigger---polling), it raises a question about the reliability of event sourcing from Azure blob storage.  I understand that the new event sourcing model using Event Grid is more reliable, however it would be great to have this confirmed in t

[2018-07-16 00:28] EmilyNamugaanyi opened #11753 "Link a static IP to your AKS"
Creating a static IP address for our AKS app was successful however we could not associate this static IP address to the cluster. The AKS cluster has an nginx ingress controller and ingress resource.

We used the annotation as follows in the ingress definition as follows:

[code]

Ingress tells the backing nginx ingress controller loadbalancer to route requests based on the Host header.

We follow

[2018-07-16 01:26] TsuyoshiUshio opened #11754 "Location header missing"
I tried Durable Functions (Node.js) with following the instruction of this page.
I can successfully execute the Durable Functions, however, I can't see any Location header.
I just clone the repo and publish the sample to the V2 functions(Runtime version: 2.0.11888.0 (beta) )
Am I missing something?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-07-16 02:30] MisinformedDNA opened #11755 "Is there a way to order routes?"
I have two APIs: `users\{id}` and `users\recent`. I'm trying to call the latter one, but it always calls the former one instead. Is there a way to set order or priority?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef2688f-faa5-5209-ea5f-23228851c6ec
* Version Independent ID: 2d621670-0e4e-e4c7-bb27-a4700fa8fd36
* C

[2018-07-16 03:07] TravisCragg-MSFT commented on #11744
@nils-a Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 03:10] walmon commented on #10172
I'm getting this errors as well on mac.

[2018-07-16 03:12] walmon commented on #11734
Any advances?

[2018-07-16 04:30] TravisCragg-MSFT commented on #11747
@jlebowitsch Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:31] TravisCragg-MSFT commented on #11748
@ryanwinter Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:32] TravisCragg-MSFT commented on #11749
@JeffMushmo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:33] TravisCragg-MSFT commented on #11752
@nickward13 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:34] TravisCragg-MSFT commented on #11753
@EmilyNamugaanyi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:36] TravisCragg-MSFT commented on #11754
@TsuyoshiUshio Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:36] TravisCragg-MSFT commented on #11755
@MisinformedDNA Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-16 04:46] vadim-berman opened #11758 "No explanation about the *Requires subscription* checkbox"
*Requires subscription* is shown in the screenshot but not described in the documentation. Instead, "Requires approval" is named "Requires subscription approval".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12f877-77a9-0593-a539-2b011f9f83cd
* Version Independent ID: 0d600bc9-7ec1-27f5-5d27-a5d22e2e8629
* Content:

[2018-07-16 05:35] rolyon commented on #10387
Hi @croitor1
Let us know if you have further questions regarding this matter.
thanks

[2018-07-16 05:36] rolyon commented on #10387
Hi @SaurabhSharma-MSFT
#please-close

[2018-07-16 05:41] SaurabhSharma-MSFT commented on #11697
@ilio78 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-16 05:43] SaurabhSharma-MSFT commented on #11649
@gauchan183 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 05:43] #11649 closed

[2018-07-16 06:25] amrikmahal opened #11759 "Twelve Factor App"
Please share more information about implementing Twelve Factor App from an Azure point of view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aab3e8-e060-aed4-5ede-6b753fc931f0
* Version Independent ID: d88939aa-1786-f863-bbd5-5ad39c125c44
* Content: [Getting Started with Cloud Foundry on Microsoft Azure](https://do

[2018-07-16 06:57] bakerCaleb commented on #9428
Its correct that Azure conditional access requires an AADP1 or P2 license and the policy engine runs in Azure AD, not ADFS. When you use ADFS to authenticate to Azure AD, conditional access can be applied. For example if you have a hybrid directory deployment and use ADFS to authenticate to Office365 (which uses Azure AD), you could author a conditional access rule to those authentication to Excha

[2018-07-16 07:10] sarthak-2102 commented on #10561
error CS0246: The type or namespace name 'RestSharp' could not be found (are you missing a using directive or an assembly reference?)
Same issue.

[2018-07-16 07:45] thelious1974 commented on #11616
@iainfoulds Thanks for the update,  that really does explain a lot!
Thanks for all your help and patience with this documentation issue!

[2018-07-16 07:48] k2nsloos opened #11760 "SasToken doc for IotHub appears to be incorrect"
It appears that the iothub sdk does not url encode the uri before hashing.

The Iothub C client sends this string to the backend:
`
SharedAccessSignature sr=testjaap.azure-devices.net/devices/GTW27Test&sig=<key censored>&se=1531729067
`
Where the hmac is taken using the raw uri.

However, after reading the docs I presumed it had to be of the following form:
`
SharedAccessSignature sr=testjaap.azur

[2018-07-16 07:57] spacecat opened #11761 "Cluster node disk type"
Hi,

How do I create a cluster with a standard Azure disk?

This does not seem to be possible using the cli.

Can the disk type be changed after the cluster has been created?

Can I set the disk type when creating the cluster?

By default a premium disk is created when creating a new cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-07-16 07:58] waheedhussain commented on #11684
Hi, Most our resources are in West Europe, but if I overlay the information in the table with availability zones under premium tier, will RPO go down to zero and backed by an SLA?

Thanks,
Waheed

[2018-07-16 08:10] letmaik opened #11762 "Link broken"
"Also see the [PersistOutputs][github_persistoutputs] sample project on GitHub"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 543e6ee7-dbcf-aaf4-d4fb-4dfa3c418893
* Version Independent ID: 6f6ab7e9-21e8-4f0f-497a-05610d2049f7
* Content: [Persist results or logs from completed jobs and tasks to a data store - Azure Bat

[2018-07-16 08:11] OliverRC commented on #11688
Pleasure! Awesome work on the expediency of your issue and merge request process!

[2018-07-16 08:20] NambiVenkatesh commented on #10782
Any updates on this, when can we expect the new api release

[2018-07-16 08:43] yeya opened #11763 "Wrong branch names"
There is no `skeleton` or `complete` branch on [this repository](https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370e4c33-91b6-eafb-1ced-0a079449d982
* Version Independent ID: cefd38c9-5c1e-c381-0549-ded07f752f97
* Content: [Add sign-in to a Node.js

[2018-07-16 08:44] yeya commented on #11763
And the [zip link](https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-NodeJS/archive/complete.zip) is dead

[2018-07-16 08:47] dolphinsting commented on #9904
Hey you're right. Thanks.

[2018-07-16 09:01] sryabkov commented on #11745
👍

[2018-07-16 09:08] xavierrouhaud opened #11764 "Real time index update ?"
Hello,
is there a way to have a search index updated in real time each time the SQL DB is updated WITHOUT pushing the data ?
- from a view with a timestamp column ?
- from a table with SQL Integrated Change Tracking Policy ?
- from a logic app checking every seconde new or updated entry and running the indexer when needed ?
 I would like to avoid pushing the data to the index to simplify our devel

[2018-07-16 09:14] okieselbach opened #11765 "Missing screenshot and description of the condition Sign-in risk"
Missing screenshot and description of the condition Sign-in risk.
In both sections
- Create your conditional access policy
- To configure your conditional access policy:

There is no description how to setup the condition. I know it must be set to Sign-in risk medium and high for this scenario as we want to block medium and high risk users, but this should be shown in this Quick-Guide. Otherwise p

[2018-07-16 09:16] amandadebler commented on #11541
@MicahMcKittrick-MSFT Thanks for the feedback on the DNS; an example of configuring it to use a certificate stored in Azure Key Vault would be very helpful, too - or is Let's Encrypt Microsoft's official recommendation for certificates to use HTTPS with AKS?

[2018-07-16 09:29] dazinator commented on #10172
My takeaway from the last few issues I have raised, is that Microsoft are no longer interested in maintaining the docs or putting any effort into their docker / swarm offering on ACS (especially for windows users), because the docker marketplace solutions are viewed as the "golden path" to docker on azure. If this is the case, I think it would be good to put big disclaimers on all of the appropria

[2018-07-16 09:34] novino commented on #8937
@keatseongchan Somehow missed notification on your reply.

By design, Patch Orchestration app would only update the cluster after it has successfully moved the customer workload and disabled the node. Installation and reboot (note that reboot is only done if indicated by OS) happens subsequently, and finally node is re-enabled.
In the above workflow, reboot cannot be skipped because
1) It'll not c

[2018-07-16 09:36] Dottn opened #11766 "Proxy service recieves HTTP400 from Azure"
I have a proxy-server connected to the internet, as well as several DC's with the DCAgent running.
When I run Get-AzureADPasswordProtectionDCAgent, all my DC's report PasswordPolicyDateUTC : 01.01.0001 00.00.00.

Looking at logs, I've narrowed it down to Event ID 20001 in the Microsoft-AzureADPasswordProtection-ProxyService/Operational log.
&lt;event&gt;
The Azure AD Password Protection Proxy serv

[2018-07-16 10:10] gklittlejohn opened #11767 "Asynchronous Pattern"
The connector shows the Asynchronous Pattern flag on the settings page but it doesn't seem to do anything (timeouts occur after 2 minutes). Is this the case and are there any plans to support it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-189f33d67ed7
* Version Independent ID: 66132130-9d94-

[2018-07-16 10:30] spacecat opened #11768 "Installing an HTTPS secured Ingress controller in AKS"
Will you automate the creation of a HTTPS secured Ingress controller in AKS in the future via the Azure Portal?

Do you have this in your roadmap?

Had no problem with the step-by-step in this tutorial btw; the only thing not working immediately was the DNS propagation - this obviously can take some time - in my case it took a couple of minutes, but during those minutes I was like, hey, this is no

[2018-07-16 10:33] catcher-in-the-try opened #11769 "typo in example"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1eacf09-cf2b-6fdf-f77d-f45b0a8f2cb0
* Version Independent ID: ea2606e3-5b90-a186-8fc3-02fbddc4f597
* Content: [Durable Functions Overview - Azure](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-overview#pattern-3-async-http-apis)
* Content

[2018-07-16 10:49] kmees commented on #11383
@mattchenderson @BryanTrach-MSFT any updates on this?

[2018-07-16 11:20] Jeroen-Priester opened #11770 "coexistence with Expressroute Private peering."
Hi,

Can Azure Virtual WAN coexist with Expressroute Private Peering?
I assume not, since the vnets you connect with vnet-peering to the hub cannot have a gateway themselves.
Maybe you can clarify this in the FAQ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version Independent

[2018-07-16 11:32] JBines opened #11771 "is supported or is not supported"
Q: Are single label domains (SLDs) supported?
While we strongly recommend against this network configuration (see article), using Azure AD Connect sync with a single label domain is supported, as long as the network configuration for the single level domain is functioning correctly.
Azure AD Connect FAQ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-07-16 12:27] shivamgargsya opened #11773 "Incomplete information to run azure cli from normal terminal"
Please add comment to add value of AZURE_EXTENSION_DIR environment variable
as $Home/Caches/AmlWorkbench/Python/az-extensions. Without this azurl cli does not recognise ml and other su commands like az ml experiment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f67e76-e82e-ca24-5cae-a6c83ee3c9fa
* Version Independe

[2018-07-16 12:32] Logan-IN commented on #11621
Hi,
As i pointed it's my mistake. Instead of extracting the exe file i ran it directly that's why got the above error. Just extracted the exe file and deployed using SCCM. Now able to deploy without any issues.

[2018-07-16 12:45] mrbullwinkle commented on #11688
#please-close

[2018-07-16 12:54] rsrinivasanhome opened #11775 "Section 4 Refresh Token does it Required a client secret or not"
Section 4 mentions that client_secret-	Required	-The client_secret associated to your client_id in the Azure portal. But the example does not mention about passing a client_secret.  Which one is correct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e20651-5b2b-bd0b-dc92-a4a3643776ef
* Version Independent ID: c9e25

[2018-07-16 13:00] tkumark opened #11776 "Title change to include kestrel"
The tile of the article should mention kestrel. once it would help in SEO. Enable HTTPS should have 2 topic one for https with kestrel and another with http.sys
example
"Add an HTTPS endpoint to an ASP.NET Core Web API front-end service using Kestrel"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f2

[2018-07-16 13:04] BestBackwards commented on #10921
@iainfoulds please could you provide me with access to this documentation you're referring to, this is holding up some mission critical work for our team!

[2018-07-16 13:06] mnall commented on #10914
Hi, do you have any update on this?

[2018-07-16 13:13] DinoSourcesRex commented on #11089
@YutongTie-MSFT @cforbe Any update on this?

[2018-07-16 13:17] vivek-ealumalai opened #11778 "Custom rbac in oauth2 for the AAD app created in https://apps.dev.microsoft.com"
Is it possible to implement Custom role based authentication for the app registered in https://apps.dev.microsoft.com/ with oauth2 endpoint similar to the article (https://azure.microsoft.com/en-in/resources/samples/active-directory-dotnet-webapp-roleclaims/)?

as of now i'm not able to add app roles by editing the manifest file in https://apps.dev.microsoft.com/

[2018-07-16 13:46] dixitsuneel commented on #11704
Thank you for responding. Probably I haven't explained myself correctly.

How does SF knows that the current process for the service on a node is done with a request and now it is ready to be migrated to another machine?

[2018-07-16 13:46] rsrinivasanhome opened #11779 "Sequence Diagrams showing Validate ID token"
Sequence diagram 3  Is the ID Token to be passed to the Web Api ?  In the sample https://github.com/Azure-Samples/active-directory-b2c-android-native-appauth it appears that Access Token need to be passed (instead of the ID token) to the web api.  Can you check if this sample conforms with the sequence diagram ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-07-16 13:48] Blackmist commented on #11746
Hi @eyala , thanks for catching this. I'll update the document and publish today.

[2018-07-16 13:52] venkatfbi opened #11781 "Auth code flow vs implicit grant flow for mobile and desktop apps"
OAuth 2.0 spec defines confidential and public clients. https://tools.ietf.org/html/rfc6749#section-2.1

Here is the prescription according to the OAuth 2.0 spec

1. Confidential client - Web application - Auth code grant flow.
2. Public clients - Desktop App, Mobile App, SPA(Single page app) - Implicit flow.

However AD B2C's prescription according to Microsoft documentation is as follows
https:/

[2018-07-16 13:53] chiners68 opened #11782 "AD FS sign-in page incorrect HTML"
If anyone wants to ad the custom sign in page information for SSPR the bove code is wrong. When clicking the link provided by the HTML the right menu of AD FS page tries to load the password reset page within iteself and errors. I have had to add some code target='_blank'&gt; to ensure the link launches the page in a new page/tab.

Set-ADFSGlobalWebContent -SigninPageDescriptionText "&lt;p&gt;&lt;

[2018-07-16 14:03] tjcdw commented on #7572
After command $image = New-AzureRmImage -ImageName $imageName -ResourceGroupName $rgName -Image $imageConfig

Getting following error:
New-AzureRmImage : Required parameter 'sourceVirtualMachine.Id' is missing (null).
ErrorCode: InvalidParameter
ErrorMessage: Required parameter 'sourceVirtualMachine.Id' is missing (null).
StatusCode: 400
ReasonPhrase: Bad Request
OperationID : b9087228-dddf-46dd-9

[2018-07-16 14:04] TsuyoshiUshio commented on #11754
I talked with a product team guy, Location header is not implemented for js yet. The doc PR is coming soon. For more detail, https://twitter.com/cgillum/status/1018725703557058560

[2018-07-16 14:19] Adam-Smith-MSFT commented on #11740
@jmoralesv AFAIK, if you reinstall with the same server edition, keep the same name, the backup should still work. However, I'd recommend double checking if the server still shows as registered, most likely, when installing the agent for the first time, it will prompt you for vault information, same as mentioned here: https://blogs.technet.microsoft.com/kevinremde/2015/03/11/step-by-step-windows-a

[2018-07-16 14:19] #11740 closed

[2018-07-16 14:20] Adam-Smith-MSFT commented on #11752
@nickward13 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 14:24] Adam-Smith-MSFT commented on #11760
@k2nsloos Thank you for the valuable feedback,we are investigating the issue.

[2018-07-16 14:30] Adam-Smith-MSFT commented on #11770
@Jeroen-Priester Thank you for the valuable feedback,we are investigating the issue.

[2018-07-16 14:40] Kolan92 commented on #11680
Thank you for response.

1. I've created Azure SignalR resource which I can see it pinned to my dashboard.
2. I've decided to not use a secret manager, as this code is meant to be only some proof of concept.
Instead of secret manager I've used overload of `AddAzureSignalR` method which accepts connection string
[code]
3. I've added signalR to the webapp with the code above.
4. Package Microsoft.Az

[2018-07-16 14:54] butchmarshall opened #11784 "SCIM 2.0 urn:ietf:params:scim:schemas:extension:enterprise:2.0:User manager attribute - proper formatting? Always getting Patch'd"
Could you provide more detail in the docs as to the format Azure is expecting?

I have all attributes properly syncing with my application except for this field and cannot figure out what azure is expecting.  As far as I can tell my manager attribute is properly formatted according to [section 4.3](https://tools.ietf.org/html/draft-ietf-scim-core-schema-12#section-4.3).

Yet on every user sync it

[2018-07-16 15:05] cynthn commented on #11728
@mganeshphani thanks for the feedback! The doc covers the standard Azure regions. The one you mention is a special early access testing region that not all tenants have access to in Azure.

[2018-07-16 15:10] butchmarshall commented on #11784
I have also tried puttig the manager attribute under the `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User` namespace.

![image](https://user-images.githubusercontent.com/339763/42766607-e4967e00-88e8-11e8-84f2-b4f165ecbbad.png)

[2018-07-16 15:22] madymantha opened #11785 "luis publish error"
encountering an error when i attempt to publish an app. haven't been able to publish anything for the past 9 hours. here's the error: Failure: One or more errors occurred. Corresponding activity ID: be76a2c3-9e46-4845-9de6-7ff07d447cd4.
any thoughts on this would be much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-07-16 15:25] vhorne commented on #10663
Hi @hobpet.

Could you be a bit more specific? What exactly do you mean by ARM reference?

[2018-07-16 15:38] billmath commented on #10526
@limjianan Thank you for clarifying this.  I have updated the article to note the changes that came in build 1.1.561.0 and it should be live later today.  Thanks!

[2018-07-16 15:38] billmath commented on #10526
#please-close

[2018-07-16 15:41] v-geberr commented on #11785
@madymantha Thank you for reporting this issue. For product interruptions of this kind, please feel free to let the product team know. In the LUIS website, select the top Support menu, then select "General Inquiry through User Voice". This is the quickest way to let the product team know. #in-progress

[2018-07-16 15:44] madymantha commented on #11785
Thanks I just did a general inquiry too!

On Mon, Jul 16, 2018, 11:42 AM Dina Berry <notifications@github.com> wrote:

[2018-07-16 15:45] v-geberr commented on #11785
@madymantha I appreciate your quick work. I'm going to ask to close this issue. The UserVoice system will track your issue now. #please-close

[2018-07-16 15:47] madymantha commented on #11785
Thanks. How soon can I expect a response? Our app is in production and we'd
like to resolve it asap.

Thanks for your help

On Mon, Jul 16, 2018, 11:46 AM Dina Berry <notifications@github.com> wrote:

[2018-07-16 15:59] MicahMcKittrick-MSFT commented on #11759
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-16 16:00] danieljsmarda commented on #11345
I'm not sure what I was doing before but now everything seems to be working properly (well, I haven't tried executing the function yet but I can see the EdgeHubTrigger-CSharp" folder that I didn't see before. Sorry about that, thank you for your patience and help!

[2018-07-16 16:00] MicahMcKittrick-MSFT commented on #11761
Thanks for the question! We are investigating and will update you shortly.

[2018-07-16 16:00] billmath commented on #9290
@amanarneja This isn't really a documentation issue.  This more about how to troubleshoot the userCertificate attribute population process which I believe gets populated once the computer is able to find the Azure Device Registration endpoint.  This should probably be assigned to @Markusvi to make sure we have documentation on how this attribute is populated.  I would also recommend support for he

[2018-07-16 16:01] MicahMcKittrick-MSFT commented on #11762
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-16 16:02] MicahMcKittrick-MSFT commented on #11768
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-16 16:02] MicahMcKittrick-MSFT commented on #11769
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-16 16:03] MicahMcKittrick-MSFT commented on #11776
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-16 16:03] billmath commented on #11603
Checking with the PM on this.

[2018-07-16 16:06] Mike-Ubezzi-MSFT commented on #11412
@waheedhussain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:06] #11412 closed

[2018-07-16 16:07] Mike-Ubezzi-MSFT commented on #11561
@jackiems82 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:09] #11737 closed

[2018-07-16 16:10] #11471 closed

[2018-07-16 16:10] turnma opened #11786 "Event 16000 is missing from this list"
I see a number of sign in failures with a code of 16000 in my logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.micros

[2018-07-16 16:10] MicahMcKittrick-MSFT commented on #11471
Thanks @Brucius! No worries I missed that littler error as well :) Sometimes it takes a few eyes to catch the simple ones :)

[2018-07-16 16:13] MicahMcKittrick-MSFT commented on #11541
@amandadebler I will assign to the content author to review and see if we can add some more examples.

@lachie83 can you take a look?

[2018-07-16 16:16] MicahMcKittrick-MSFT commented on #11714
@jasonsch69 thanks for that.

@SaurabhSharma-MSFT can you look into this one?

[2018-07-16 16:18] amanarneja commented on #9290
@billmath Thanks for the update.
@MarkusVi  - Can you look into adding more documentation on how the attribute is populated as well as its details.
@MohitGargMSFT - Can you look into the issue @toanyonebutyou is facing where the attribute doesn't populate some of the times.

[2018-07-16 16:19] MicahMcKittrick-MSFT commented on #11754
Thanks for the update @TsuyoshiUshio!

[2018-07-16 16:19] #11754 closed

[2018-07-16 16:22] jmoralesv commented on #11740
Hi @TravisCragg-MSFT, thanks for your reply. I'll start with this process in a couple of days so I'll let you know how this is going.

Thanks,
Jorge

[2018-07-16 16:23] Mike-Ubezzi-MSFT commented on #11614
Use `JOIN`. Something like:

SELECT p.FirstName, p.LastName, p.Holdings FROM Person p
JOIN Stock s ON s.StockId = p.Id

[2018-07-16 16:30] Mike-Ubezzi-MSFT commented on #11597
@saifuddin123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:30] Mike-Ubezzi-MSFT commented on #11691
@waheedhussain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:30] #11691 closed

[2018-07-16 16:31] Mike-Ubezzi-MSFT commented on #11701
@kthejoker We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:31] #11701 closed

[2018-07-16 16:34] mmacy commented on #11745
@TravisCragg-MSFT Fix merged in [#46674](https://github.com/MicrosoftDocs/azure-docs-pr/pull/46674), #please-close - thanks!

Cc: @sryabkov

[2018-07-16 16:40] SergeyKanzhelev commented on #11721
The issue is that telemetry initializer for the page called twice - first time in the HttpModule's `Begin` event and second in `End`. First event happening before `Session_OnStart` [event](https://msdn.microsoft.com/en-us/library/ms178583.aspx), second - too late, after session was unloaded.

Solution is to read session ID in `Session_OnStart` and put it into the `RequestTelemetry` explicitly.

Fo

[2018-07-16 16:41] v-geberr commented on #11785
@madymantha The team is reporting this issue is resolved. Can you please verify?

[2018-07-16 16:42] SergeyKanzhelev commented on #11721
Another option is to do it in `ActionExecuting` of MVC like explained here: http://apmtips.com/blog/2017/01/12/update-to-the-last-post-set-the-name-in-mvc-web-api/ By that time I think session is already initialized

[2018-07-16 16:46] easyj2j commented on #7584
The prerequisites now state that the workload is required.

[2018-07-16 16:48] easyj2j commented on #7585
Installation instructions are now included. See the "Install the Face service client library" section.

[2018-07-16 16:50] madymantha commented on #11785
Yes I was able to publish the app a few mins ago. Thanks for the quick
action on this. You guys are the best!

On Mon, Jul 16, 2018, 12:42 PM Dina Berry <notifications@github.com> wrote:

[2018-07-16 16:56] Juliako commented on #10947
The links were fixed.

[2018-07-16 16:56] Juliako commented on #10947
#please-close

[2018-07-16 16:57] SaurabhSharma-MSFT commented on #11613
@vetrivelmp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:57] #11613 closed

[2018-07-16 16:57] SaurabhSharma-MSFT commented on #11668
@ganeshthiagarajan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 16:57] #11668 closed

[2018-07-16 17:18] jackiems82 commented on #11561
Thanks for coming back to me. The exceptions types link was good, but did not bring us to a solution. We also tried the same using WebSockets, with the same outcome. At some point we realised that there was the HybridConnectionManager was installed on the system where our listener was running, also with a configured connection. After we remove the connection there, everything was running smoothly.

[2018-07-16 17:19] Minewiskan commented on #11605
#in-progress

[2018-07-16 17:23] #9313 closed

[2018-07-16 17:23] #10960 closed

[2018-07-16 17:23] #11745 closed

[2018-07-16 17:52] LukeBayler commented on #7584
Looks good, thanks! Closing.

[2018-07-16 17:52] #7584 closed

[2018-07-16 17:53] LukeBayler commented on #7585
Looks good, thanks! Closing.

[2018-07-16 17:53] #7585 closed

[2018-07-16 17:57] goatmale opened #11788 "Wrong link for command line installtion"
http://aka.ms/installconfigsrv redirects to Microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b01faa1-267e-cefc-22e4-fbd65361ba5f
* Version Independent ID: 6cb817e7-c473-e877-7557-87eecf064ddb
* Content: [Set up the source environment (physical servers to Azure)](https://docs.microsoft.com/en-us/azure/site-

[2018-07-16 18:02] MicrosoftGuyJFlo commented on #11782
@chiners68 If you want to hit the edit button and submit a PR to update this in the article you can and be credited with the edit. Or I can update the article in our private repo. Let me know what you think.

[2018-07-16 18:03] MichaelHauss commented on #11683
Are you able to configure soft delete from an IP address within your VNET? Is the issue that you cannot configure soft delete using Azure Portal?

[2018-07-16 18:05] mike-urnun-msft commented on #11767
Hi @gklittlejohn - Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-07-16 18:06] zhulixuan opened #11789 "public TopicDescription CreateTopic(string path) creates a topic with partition even on premium sku bus"
We are using a premium sku service bus topic as back plane for signalR.  SignalR is using  WindowsAzure.ServiceBus.2.1.2.0.  It creates a topic by _namespaceManager.CreateTopic(topicName).
The topic it created is partition as true.   If I manually create a topic on azure portal, partition is false.  I am wondering if CreateTopic(topicName) does not respect the premium sku of service bus.
I do see

[2018-07-16 18:06] iainfoulds commented on #11761
Hi, @spacecat. By default,  a storage class for `managed-premium` is created, but not `managed-standard`. Create a storage class definition named `managed-standard.yaml` and paste the following:

[code]

Create with `kubectl create -f managed-standard.yaml`.

You can verify the storage class is now available with `kubectl get sc`.

When you create a PVC following the example in the docs, instead u

[2018-07-16 18:08] mike-urnun-msft commented on #11764
Hi @xavierrouhaud - Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-07-16 18:12] Mike-Ubezzi-MSFT commented on #11561
@jackiems82 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 18:15] #11785 closed

[2018-07-16 18:17] kobulloc-MSFT commented on #11758
@vadim-berman Thank you for pointing this out!  I'll assign this to the document author so they can update the document accordingly.

![image](https://user-images.githubusercontent.com/37556655/42773151-414c2332-88e1-11e8-86f6-45c6b9b144f2.png)

[2018-07-16 18:17] barbkess commented on #10957
@davegreen: https://regexr.com Is an online tool for testing regular expressions that also contains a lot of other useful help with using regex.

[2018-07-16 18:18] YutongTie-MSFT commented on #11773
@shivamgargsya
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-16 18:18] HarlowBurgess opened #11790 "Some solution services not covered by Azure HIPAA BAA"
Event Grid and Machine Learning Services are not covered under the Azure HIPAA BAA, so how can they be used as part of a HIPAA compliant solution?

Overview of Azure Compliance
https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18cf2e85-c024-e71d-853e-ef48220

[2018-07-16 18:19] kobulloc-MSFT commented on #11082
@joymon I'm going to close this, but tag me in your reply and we can pick this back up again whenever you come back to the thread.

[2018-07-16 18:19] #11082 closed

[2018-07-16 18:24] kgremban commented on #9315
@Wintekso Checking in again to see if you can clarify your feedback in this issue.

[2018-07-16 18:25] kgremban commented on #9507
@davihar Checking in again to see if this issue is still occurring for you.

[2018-07-16 18:27] spelluru commented on #10629
#please-close

[2018-07-16 18:28] spelluru commented on #10645
#please-close

[2018-07-16 18:28] YutongTie-MSFT commented on #11352
@gopitk Hi, can you please check this issue? It should be a doc-issue about the version. Thanks a lot!

[2018-07-16 18:29] YutongTie-MSFT commented on #11497
@hrumhurum
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:29] #11497 closed

[2018-07-16 18:30] vasivara-MSFT commented on #11621
@Logan-IN Thanks for letting us know that your issue is resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:30] #11621 closed

[2018-07-16 18:32] Adam-Smith-MSFT commented on #10387
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:32] #10387 closed

[2018-07-16 18:32] Adam-Smith-MSFT commented on #10526
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:32] #10526 closed

[2018-07-16 18:32] tfitzmac commented on #11661
@jtuliani - this feature has been de-emphasized. You can use it to mark a relationship between resources and then query a resource for its linked resources. It was added a while back when those connections were not always apparent. It was used by some resource providers to note relationships. Now, you can usually discover the related resources through a resource's properties. Or, you can tag resou

[2018-07-16 18:32] Adam-Smith-MSFT commented on #10947
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:32] #10947 closed

[2018-07-16 18:34] Adam-Smith-MSFT commented on #11688
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:34] #11688 closed

[2018-07-16 18:34] barbkess commented on #11200
@rogereriksen : I spoke with the product team and what you're asking for is not supported at this time.

@amanarneja : Please move this to a product feedback request.  Thanks!

[2018-07-16 18:35] Adam-Smith-MSFT commented on #11702
@daveba ^

[2018-07-16 18:37] Mike-Ubezzi-MSFT commented on #9507
@davihar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:37] #9507 closed

[2018-07-16 18:41] SaurabhSharma-MSFT commented on #11686
@girgen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:41] #11686 closed

[2018-07-16 18:41] Mike-Ubezzi-MSFT commented on #11561
@sethmanheim The information about the Hybrid Connection Manager could be useful information for the [Azure Relay Exceptions](https://docs.microsoft.com/en-us/azure/service-bus-relay/relay-exceptions) document.

[2018-07-16 18:42] shruthiviswanatha commented on #8879
I have followed every step in the corrected link mentioned above but still I'm facing HTTP ERROR 500 which displays saying web-app.azurewebsites.net is currently unable to handle this request. Is there any other reason why I might be facing this issue ?

[2018-07-16 18:44] krasnovandr opened #11791 "Article updates"
Is it possible to update picture with more high resolution and add link to the policy samples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc7261c-bd34-03ef-cdff-4a994b8113a1
* Version Independent ID: 5d5f976e-bc4c-e256-18b5-d6262b9646ab
* Content: [Manage user access in Azure Active Directory B2C](https://docs.mic

[2018-07-16 18:46] SaurabhSharma-MSFT commented on #11697
@ilio78 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 18:46] #11697 closed

[2018-07-16 18:49] #11086 closed

[2018-07-16 18:49] Mike-Ubezzi-MSFT commented on #11684
@waheedhussain Almost, your RPO will be less than 5 seconds: `ERT < 30s, RPO < 5s`. With auto-failover groups + availability zones, the RPO theoratically drops to zero, as you are trying to consclude. So yes, you can conclude that RPO will be at zero down time.

Regards,
Mike

[2018-07-16 18:55] MohitGargMSFT commented on #11790
@HarlowBurgess Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 18:56] MohitGargMSFT commented on #11786
@turnma Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-16 18:56] daveba commented on #11702
@Adam-Smith-MSFT.... @tinod and I have an email thread going looking into this issue.  Are you also experiencing this issue?  I can add you to that thread. Thanks!

[2018-07-16 18:57] daveba commented on #11702
#in-process

[2018-07-16 18:57] MohitGargMSFT commented on #11784
@butchmarshall Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:00] jomolesk commented on #11790
@HarlowBurgess -- please send this question to azureblueprint@microsoft.com

@MohitGargMSFT -- please close; will update content through normal publish process, if needed

[2018-07-16 19:01] MohitGargMSFT commented on #11781
@venkatfbi Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:03] MohitGargMSFT commented on #11779
@rsrinivasanhome Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:04] MohitGargMSFT commented on #11775
@rsrinivasanhome Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:05] MohitGargMSFT commented on #11771
@JBines Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:06] MohitGargMSFT commented on #11766
@Dottn Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:08] MohitGargMSFT commented on #11763
@yeya Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:09] MohitGargMSFT commented on #11765
@okieselbach Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-16 19:15] Mike-Ubezzi-MSFT commented on #11789
@zhulixuan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 19:16] MarkusVi commented on #11765
Hi @MohitGargMSFT, you can assign this to me.
Hi @okieselbach, thanks for bringing this up. I will fix this right away.

[2018-07-16 19:17] TravisCragg-MSFT commented on #11741
@eraoul  My apologies, It looks like there are several series that are not listed by default You can create a "Billing" support request to speak with someone who can push your case to the correct area.

I do agree that this should be documented. have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 19:17] dksimpson commented on #11699
Documentation has been fixed and the changes are live.
#please-close

[2018-07-16 19:21] abudhu opened #11792 "Spelling Mistake on WAN documentation"
Spelling mistake:

envorionment  -> environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08a01c4-91b3-188f-dc39-c03d627ca474
* Version Independent ID: 24f2e4dc-c906-4601-8d14-185439846235
* Content: [Configure Azure Virtual WAN automation - for Virtual WAN partners](https://docs.microsoft.com/en-us/azure/virtua

[2018-07-16 19:23] TravisCragg-MSFT commented on #11770
@Jeroen-Priester Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 19:33] TravisCragg-MSFT commented on #11515
@Phydeauxman I the "Associated Rule" area only shows the default backend pools, not everything with a Rule. I am able to have an app gateway rule work when no associated rules are listed in this area in the portal.

Could you post a screenshot of your Rule that listens on port 80? Here is an example of mine which is working:

![image](https://user-images.githubusercontent.com/38542241/42779140-5b3

[2018-07-16 19:34] TravisCragg-MSFT commented on #11729
@thuansoldier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 19:35] mganeshphani opened #11793 "Hyperlinks broken"
none of the command lets in following table are working

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-upload-generalized-script#script-explanation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9ce3be3-235a-67c6-c6d6-72907767abfd
* Version Independent ID: 089639ab

[2018-07-16 19:39] eraoul commented on #11741
Thanks so much for the help!

On Mon, Jul 16, 2018 at 12:17 PM, TravisCragg-MSFT <notifications@github.com

[2018-07-16 19:45] JeffMushmo commented on #11749
I found the issue. The powershell script needs to be added to the beginning of the VMSS extensions. The message wasn't coming from this script, but coming from the Service Fabric setup script which was running before it. Possibly because it was prompting the user to format the drive or notifying of some type of error.

[2018-07-16 19:49] vhorne commented on #10742
#please-close

[2018-07-16 19:50] TravisCragg-MSFT commented on #10742
@EzraBrooks We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-16 19:50] #10742 closed

[2018-07-16 19:55] Phydeauxman commented on #11515
@TravisCragg-MSFT we only have a single rule that is associated with a listener listening on port 80.  It is the Path-based rule in the previous screen shots.  Not sure what else we should be doing since you can't have a listener associated to more than a single rule and you can only have a single listener per port.

[2018-07-16 20:03] iainfoulds commented on #11742
Hi, @spacecat. I don't believe we currently have built-in integration with Azure Backup, but I'll follow up with the engineering team to see if this is something on their roadmap.

As one possible workaround for now since the underlying disk is just a regular Azure managed disk, you can create a snapshot of the disk and use that as a recovery point if needed. First, get the volume name, such as fo

[2018-07-16 20:06] SnehaGunda commented on #10980
@joefeser sorry about the delay here, I dropped a note to Garrett that you need further assistance.

[2018-07-16 20:09] amanarneja commented on #11200
@barbkess - Thanks for checking
@rogereriksen - Can you add a product feedback item at https://feedback.azure.com/forums/169401-azure-active-directory

[2018-07-16 20:09] #11200 closed

[2018-07-16 20:10] PrimalScottSmith opened #11795 "How do I find the output IPs for a Function App"
The instructions for finding outbound IPs on this page are only applicable for Web apps. How do I find the outbound IPs for a Function App?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc9a983-cc11-dde3-1f88-127240105a31
* Version Independent ID: 36188633-6acf-fe86-effa-87403e24d172
* Content: [How to prepare for an

[2018-07-16 20:16] prashanthyv opened #11796 "The documentation here is incorrect. Users should go to https://<app_name>.azurewebsites.net/<app_name>"
Please fix this ASAP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create a Node.js web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs#create-a-web-app)
*

[2018-07-16 20:18] rolyon commented on #11628
Hi @shawnstengel
DataActions and NotDataActions are currently in preview. You can still perform the tutorial if those properties are not listed for you.
If you run $PSVersionTable, what version of PowerShell do you have?
If you run Get-Module, what version of AzureRM.Resources do you have?
thanks
#in-progress

[2018-07-16 20:18] tdykstra commented on #11795
@PrimalScottSmith Coincidentally I'm working on a new Azure Functions article that includes that information.  Here it is:

* In the [Azure Resource Explorer](https://resources.azure.com):

  1. Select **subscriptions > {your subscription} > providers > Microsoft.Web > sites**.
  2. In the JSON panel, find the site with an `id` property that ends in the name of your function app.
  3. See `outboun

[2018-07-16 20:20] #10645 closed

[2018-07-16 20:22] #11790 closed

[2018-07-16 20:29] MicahMcKittrick-MSFT commented on #11669
Thanks @guptaisha5484. I tried to repo the issue but did not see any delay. If you like you can try and reproduce the issue and we can dig in deeper. I will close this for now since it is working as expected but just let me know if you want to continue to debug and we can reopen.

CC @iainfoulds

[2018-07-16 20:29] #11669 closed

[2018-07-16 20:31] MicahMcKittrick-MSFT commented on #11704
Based on my understanding of the product it does not wait for the process to complete but rather spins up a second instance seamlessly and then redirects the process when ready.

@masnider could you advise on this? I have not encountered this exact scenario in testing. Just want to make sure I am explaining this properly.

[2018-07-16 20:33] MicahMcKittrick-MSFT commented on #11710
@iainfoulds would you be able to look into this one? Might be related to the other 2 you are working on from @spacecat

[2018-07-16 20:34] MohitGargMSFT commented on #11766
@Dottn As this more of an issue in your implementation, please open a new MSDN forum post to get assistance of it. The community may also help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Once you open the MSDN thread please mention

[2018-07-16 20:34] PrimalScottSmith commented on #11795
Thanks.

[2018-07-16 20:38] MicahMcKittrick-MSFT commented on #11727
@mganeshphani you can find a list of the number of fault domains available in each region here:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage-availability#number-of-fault-domains-per-region

As per update domains, each region supports you having up to 20.

I will close this out but if you have additional questions let me know and we an reopen and continue.

[2018-07-16 20:39] MicahMcKittrick-MSFT commented on #11731
@digeler I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-16 20:43] MaximRouiller commented on #10947
/cc @spboyer

[2018-07-16 20:44] MohitGargMSFT commented on #11771
@JBines Thanks for reporting! I understand that there is conflict between information provided in this document for SLD compared to what is mentioned in FAQ document. Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-16 20:45] JPL0908 commented on #9420
Got it to work by using this command in Git Bash:
sudo -HE /usr/bin/anaconda/bin/conda install pandas=0.20.3

[2018-07-16 20:50] KumudD commented on #8596
#in-progress

[2018-07-16 20:53] MicahMcKittrick-MSFT commented on #11734
@iainfoulds I am getting the same error as @walmon

Any idea on what the issue might be?

[2018-07-16 20:53] iainfoulds commented on #11731
Hi, @digeler. Sorry you ran into issues.

With regards to configuring the AAD apps used by the authentication components, the doc does currently note:

It's also then notes:

What particular updates are you suggesting adding here?

#in-progress

[2018-07-16 20:55] Blackmist commented on #9802
Hi @tonyistark , just wanted to close the loop on this. Engineering has not been able to provide a workaround, fix or ETA on this. To prevent other users from running into this problem, I'm taking down the document. Please let me know if you have any questions on this.

[2018-07-16 20:56] TravisCragg-MSFT commented on #11792
@abudhu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@cherylmc There are other proposed changes on this file, so I will let you confirm any changes.

[2018-07-16 20:57] MicahMcKittrick-MSFT commented on #11735
@sumitsengupta you should be able to open up the backup services installed on the VM after RDPing to the machine. Once opened up there should be an option to disable the backup. After it is removed you then can remove it form the recovery services vault and delete the vault.

Are you having any errors going about this?

[2018-07-16 20:59] iainfoulds commented on #10921
Hi, @BestBackwards. AFAIK, this work is still in review. @jimdial - any update?

CC: @cynthn

[2018-07-16 21:00] Mike-Ubezzi-MSFT commented on #11789
@djrosanova Can you confirm this as expected behavior?

[2018-07-16 21:02] MohitGargMSFT commented on #11775
@rsrinivasanhome Thanks for reporting! Yes client secret is required. I have creates a pull request for the modified document. The change will be live soon.

[2018-07-16 21:04] petrroll opened #11797 "What happens to already existing flows when NSGs are changed?"
I couldn't find the information regarding what happens in following situation:
1) NSG allows a flow "A"
2) NSG is updated with a DENY rule that blocks flow "A"

Does flow `A` get blocked or is the new version of NSGs applied only on new connections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec

[2018-07-16 21:04] MicahMcKittrick-MSFT commented on #11738
@iainfoulds can you take a look at this one? Seems we have a few comments regarding this specific doc so there might be a larger issue at play

[2018-07-16 21:05] MohitGargMSFT commented on #11778
@vivek-ealumalai Please note that the query is around your implementation, please open a new MSDN forum post to get assistance of it. The community may also help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Once you open the MSDN thr

[2018-07-16 21:10] iainfoulds commented on #11710
@MicahMcKittrick-MSFT These are quite different.

@spacecat I'll create a non-RBAC cluster and test. On an RBAC-enabled cluster, the instructions work correctly.

I'll look to add a note on how to remove a Helm deployment if you no longer wish to use. These aren't AKS specific, rather Helm management tasks. To list what's been installed by Helm:

[code]

The _CHART_ column shows what component it

[2018-07-16 21:11] iainfoulds commented on #11738
@MicahMcKittrick-MSFT Can you replicate this and provided any additional troubleshooting information, please?

[2018-07-16 21:11] iainfoulds commented on #11734
@MicahMcKittrick-MSFT Can you provide any additional troubleshooting information, please?

[2018-07-16 21:22] MicahMcKittrick-MSFT commented on #11734
Running docker stack deploy azure-vote --compose-file azure-vote.yaml gives the following:

micah@Azure:~$ docker stack deploy azure-vote --compose-file azure-vote.yaml
channel 2: open failed: administratively prohibited: open failed
channel 2: open failed: administratively prohibited: open failed
channel 2: open failed: administratively prohibited: open failed
error during connect: Get http://loc

[2018-07-16 21:24] YutongTie-MSFT commented on #11540
@tsahi Hi, what I mean is for different questions, QnA Maker first gets the intent of the incoming question from a LUIS model, then we will need some logic to route the incoming question to the appropriate knowledge base. So you need to build different knowledge base according to your logic, and make the duplication between different knowledge base as less as possible.

[2018-07-16 21:32] hukun01 commented on #9547
Any updates?

[2018-07-16 21:32] iainfoulds commented on #11734
Would need to do additional troubleshooting here, nothing immediate comes to mind as that's just the same as initially reported in the issue.

[2018-07-16 21:33] YutongTie-MSFT commented on #11773
@ahgyger Hi, this is a document bug, can you please check it and update the document as necessary ? Thanks a lot!

[2018-07-16 21:35] artisticcheese commented on #10891
Why is this closed? I assume you close issues once they are resolved, this one is not.

[2018-07-16 21:48] YutongTie-MSFT commented on #11732
@cjgronlund Hi, this is a document enhancement issue, please go to https://blog.csdn.net/itachiuchiha/article/details/81046284 to check the details of the users' opinion. Can you please check it and update the document as necessary? By the way, the author of this document dwlin, is not in our organization, we can not find him directly in our Git.

[2018-07-16 21:49] MicahMcKittrick-MSFT commented on #11755
Not sure I fully understand the problem. How are you calling these APIs? Are you saying regardless of the GET command you always get the same API call back even when specific a different API ID?

[2018-07-16 21:51] MicahMcKittrick-MSFT commented on #11759
@amrikmahal I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-16 21:54] MicahMcKittrick-MSFT commented on #11762
@letmaik I tested every link in this document but they all appear to work. Can you clarify the text of the link that you are seeing issues with?

[2018-07-16 21:56] gopitk commented on #11350
Thanks @SheridanLGrant . We will update the code in our article as suggested above. It should publish this week.

[2018-07-16 21:59] MicahMcKittrick-MSFT commented on #11768
@spacecat I have assigned to the content author to review the last portion of your comment to see if we can get more information added.

As per the roadmap questions, I have not heard anything regarding automating this as of now. Any roadmap related updates will be shared directly on the AKS GitHub page

https://github.com/Azure/AKS

Or on the Azure roadmap page

https://azure.microsoft.com/en-us/

[2018-07-16 22:00] YutongTie-MSFT commented on #11696
@bkirschbaum Hi, since this issue is not related to document, can you please post it in out [product forum](https://cognitive.uservoice.com/forums/555922-text-analytics) so that out product team can help well? Thanks a lot and sorry for all inconveniences.

[2018-07-16 22:00] YutongTie-MSFT commented on #11696
@bkirschbaum  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 22:03] MicahMcKittrick-MSFT commented on #11769
@catcher-in-the-try thanks for the find! I have corrected the doc. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-16 22:03] gopitk commented on #11352
@SheridanLGrant - I just confirmed that azureml library is installed on Python 2.7 environment (This is also the conda root environment though we update path to use Python 3.5 as default). One way to make sure is to activate to that environment by running `source activate` on the terminal. BTW - Wanted to double check you using the CentOS edition of the Data Science VM as pointed in the beginning

[2018-07-16 22:05] YutongTie-MSFT commented on #11695
@areddish Hi, this is a document bug around 'images/Test/test' , can you please check it and update the document as necessary? Thanks a lot!

[2018-07-16 22:08] MisinformedDNA commented on #11755
There are two functions in the same app, both have a GET verb and both have defined routes:

[code]

As you can see, these routes overlap when `id` equals `recent`. To avoid these issues, ASP.NET MVC would let us define a route order, but I don't see that option here. So how does Azure Functions know which function to run? Right now, whenever I make a GET request to `https://localhost:7071/api/lis

[2018-07-16 22:10] MicahMcKittrick-MSFT commented on #11793
Have you made sure to install the latest version of PowerShell? Generally if a command is not found it is because you need to update your PowerShell module .

You can run the following:

Get-Module AzureRM
Install-Module AzureRM

This will update your module. Close it out and restart powershell to see if that helps.

[2018-07-16 22:14] YutongTie-MSFT commented on #11671
@jdobrzen Hi, for rain cloud , it means that there is something wrong. I think you should check your subscription first. Once you find that your subscription is disabled, I suggest you to create billing support ticket for further assistance.
http://azure.microsoft.com/en-us/support/options/

[2018-07-16 22:18] mike-urnun-msft commented on #11536
Hi @shalinasanga - Thanks for reporting this! We have gone ahead and corrected this issue and the change will reflect after our next merge. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 22:18] #11536 closed

[2018-07-16 22:19] dlepow commented on #11762
@MicahMcKittrick-MSFT - Micah, think I see the problem here. You can assign to me, and I'll submit a PR to fix the link.
@letmaik - Maik, thanks very much for pointing out this issue. I appreciate it!

[2018-07-16 22:23] Mike-Ubezzi-MSFT commented on #11593
@itomek Yes, this is the general idea but may not necessarily be totally correct, and only applies if you are partitioning your data. I am including a non Microsoft document that explains this concept in basic terms.  [Designing a Partition Key for Cosmos DB](http://www.anderbakk.com/designing-a-partition-key-for-cosmos-db/)
Please let me know if you have any additional questions on this topic. Th

[2018-07-16 22:23] iainfoulds commented on #11734
Looks like this is something specific to the `--orchestrator-type swarm`. If you do a `docker info`, there's no communication over the SSH tunnel to the Docker daemon on the master. If you SSH to the master directly, the daemon responds correctly locally. If you use `--orchestrator-type dockerce`, this works fine and you can communicate with the remote Docker daemon.

@kolisko - is there a particu

[2018-07-16 22:29] YutongTie-MSFT commented on #11677
@sovanny Hi, for Tensorflow model in Python, please refer to the following document to see if it helps. https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python Tell me if you need more help about that. Thanks.

[2018-07-16 22:29] femsulu commented on #11490
@porrascarlos802018 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-16 22:29] #11490 closed

[2018-07-16 22:35] cynthn commented on #11793
@mganeshphani thanks for the feedback! I checked and most of the links are broken. I fixed them this morning, but the fixes might not go live until tomorrow (we are having some publishing problems). The issue is that someone used the same module name - azure.resources - for all of the links. Many of them should have been azure.network or azure.core. Thanks for catching that!

[2018-07-16 22:41] MohitGargMSFT commented on #11779
@rsrinivasanhome Thanks for reporting! The [Mobile and native apps]https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-apps#mobile-and-native-apps) section does mention to use [OAuth 2.0 authorization code flow](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code) based on which an access token is aquired to access API.

[2018-07-16 22:44] MicahMcKittrick-MSFT commented on #11793
Thanks @cynthn! I obviously misunderstood the issue :)

@mganeshphani We will close this out as the fix has been addressed and will go live shortly :)

[2018-07-16 22:44] #11793 closed

[2018-07-16 22:44] #11769 closed

[2018-07-16 22:48] Adam-Smith-MSFT commented on #11788
@Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-16 22:50] tfitzmac commented on #11315
Article was updated with more information about using Azure CLI for getting deployment error information.

[2018-07-16 22:51] tfitzmac commented on #11315
#please-close

[2018-07-16 22:51] tfitzmac commented on #10768
Article was updated with more information about using Azure CLI for getting deployment error information.

[2018-07-16 22:51] tfitzmac commented on #10768
#please-close

[2018-07-16 23:01] #11734 closed

[2018-07-16 23:04] daveba commented on #11702
@tinod I have updated the documentation calling out the necessary api version and variable requirement as we discussed in email: https://github.com/MicrosoftDocs/azure-docs-pr/pull/46743.  #please-close

[2018-07-16 23:06] SnehaGunda commented on #10508
@YuqiWWW  & @efficienthacks actually you can get the endpoint from Overview tab in the portal.  I clarified the purpose of both endpoints in the doc. Changes in the above PR will be live tomorrow. Hope it resolves the issue.

#please-close

[2018-07-16 23:07] chrispadgettlivecom commented on #11775
A client secret is not required for a native client.

[2018-07-16 23:12] MohitGargMSFT commented on #11781
@venkatfbi Please refer to https://tools.ietf.org/html/rfc8252#section-8.2 which says below -

   The OAuth 2.0 implicit grant authorization flow (defined in
   Section 4.2 of OAuth 2.0 [RFC6749]) generally works with the practice
   of performing the authorization request in the browser and receiving
   the authorization response via URI-based inter-app communication.
   However, as the implicit

[2018-07-16 23:13] michaelseto commented on #11747
@TravisCragg-MSFT I was wondering the same thing. I really want this Firewall for the inbound traffic from the Internet going to my web servers. That is entirely more valuable than just outbound only.

[2018-07-16 23:14] seanmck commented on #11759
There isn't really an Azure opinion on this topic. It is more appropriate to look for guidance in the context of a specific platform abstraction that runs on Azure. For example, any content you find online about implementing 12-factor in Cloud Foundry will apply to running CF on Azure.

[2018-07-16 23:16] MohitGargMSFT commented on #11784
@butchmarshall I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-16 23:28] morgangrobin opened #11798 "az webapp up -n <webapp name> produces an error in bash due to malformed path"
It appears the 'az webapp up' command is mixing Linux style paths with windows style paths.

Here is what happens when I run the command on the bash cloud shell:

morgan@Azure:~/clouddrive/quickstart/nodejs-docs-hello-world$ az webapp up -n mg18sampleapp2
Resource group 'appsvc_rg_Linux_CentralUS' already exists.
App service plan 'appsvc_asp_Linux_CentralUS' already exists.
Creating app 'mg18sampl

[2018-07-16 23:33] iainfoulds commented on #11710
@spacecat I can't replicate this error, both a non-RBAC and RBAC-enabled cluster respond on the public IP address in the web browser. When you do a `helm list`, is the ingress controller shown? If you do `kubectl get pods`, do the pods show as in a _Running_ state?

[2018-07-16 23:41] MicahMcKittrick-MSFT commented on #11738
@kyyung I can try. I don't have an entire environment setup at the moment so will have to build it out first then will attempt.

[2018-07-16 23:45] TravisCragg-MSFT commented on #11797
@petrroll NSGs only influence the establishment of a TCP Connection. Once the connection is made and traffic is flowing, it should not effect existing connections.

You are correct that the new version of the NSG will only be applied to new connections.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2018-07-16 23:45] #11797 closed

[2018-07-17 00:07] MicahMcKittrick-MSFT commented on #11753
@EmilyNamugaanyi are you getting any specific errors? Or just not seeing the correct IP after associating it?

[2018-07-17 00:11] ConcreteGannet opened #11801 "Mention of Affinity Group should be replaced with Availability Set"
In the discussion "Scale out to multiple instances without redeploy", Affinity Groups are mentioned. Should that be updated to Availability Sets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4abb1-48c0-178e-a37e-290034b4dcae
* Version Independent ID: 61da6a8b-fa37-a499-ba79-0dd6b5346f2a
* Content: [Azure App Servi

[2018-07-17 00:14] MicahMcKittrick-MSFT commented on #11755
Thanks for that. I am checking with the functions team offline to get an answer.

[2018-07-17 00:16] jason-j-MSFT commented on #11700
@foreverdeepak this repository is for documentation related feedback and issues. I would suggest you ask your question in this forum:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=servbus

If you have a support plan, you can open a case directly with support as outlined here:
https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request

If you d

[2018-07-17 00:16] #11700 closed

[2018-07-17 00:18] mike-urnun-msft commented on #11796
@prashanthyv Thank you for reporting this issue! We will review and make any necessary changes.

[2018-07-17 00:18] jason-j-MSFT commented on #11711
@MGoedtel we have an enhancement request here, could you take a look?

[2018-07-17 00:36] MicahMcKittrick-MSFT commented on #11538
Thanks @tigerdeccan. I am trying some repos as well

[2018-07-17 00:36] gopitk commented on #11568
@SheridanLGrant - That is correct. Looks like the R interface changed. We will update the code  snippets in the article.

[2018-07-17 00:37] JasonWHowell commented on #8697
@dphansen Hope you are doing well! Long time since we met!

Thanks for bringing this to our attention. This problem was recently resolved in MicrosoftDocs/azure-docs-pr#44264

Have a good one, Jason

#please-close

[2018-07-17 00:40] mike-urnun-msft commented on #11798
Hi @morgangrobin - Thanks for reporting this issue! I went through the steps and seeing the same thing. Since this is a CLI issue, could you open an another issue on [Azure CLI repo](https://github.com/Azure/azure-cli/issues) and reference this one in it?

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue th

[2018-07-17 00:40] #11798 closed

[2018-07-17 00:42] barbkess commented on #11784
@butchmarshall : I am talking to the product team to see what they can offer for help with this.

[2018-07-17 00:42] thuansoldier opened #11802 "Role definition construct looks different from the past"
The role definition of Storage Blob Data Reader is different from the one here https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles

In this article, the property name to declare role definition is **roleName** while the past one uses **Name**.  Moreover, **roleType** looks similar to **IsCustom** (false) if I understand correctly. Whether we construct a custom or use buil

[2018-07-17 00:43] JasonWHowell commented on #11674
Hi @HemantChandurkar,

This may have been a transient issue, or it was caused by a browser cache, or I'm missing the discrepancy.

When I view the page, the graphics beside HBase,Storm, and Spark seem to match the words in the table.

Could you F5 in the browser, and check if you still see the problem?

Thanks, Jason

Screenshot:
![image](https://user-images.githubusercontent.com/5067358/42790410-

[2018-07-17 00:57] mike-urnun-msft commented on #11796
Hi @prashanthyv - Could you elaborate on this one? I've just gone through the steps and were able to validate that the details relating to the `https://<app_name>.azurewebsites.net/` format on this documentation were accurate. Please let me know if there's a specific issue that you're seeing. Thanks!

[2018-07-17 00:59] dcbrown16 commented on #9581
@jason-j-MSFT @cjgronlund
Maybe I'm just checking this too quickly, but the links in question haven't been fixed - they just loop back to themselves (nonexistent headers on the same page).

[2018-07-17 01:01] prashanthyv commented on #11796
Hi @mike-urnun-msft.

You mean the web app with hello world text showed up at https://<app-name>.azurewebsites.net?

What’s your app name?
It did not work for me.
only this works for me https://<app-name>.azurewebsites.net/<app-name>

[2018-07-17 01:05] kashimiz commented on #11755
@MisinformedDNA , are you observing this on the V1 or V2 Functions runtime?

[2018-07-17 01:20] itomek commented on #11593
awesome, i suspected as much. thank you.

[2018-07-17 01:20] #11593 closed

[2018-07-17 01:30] mike-urnun-msft commented on #11796
@prashanthyv Yup, I did a ZipDeploy of the `nodejs-docs-hello-world-master` app. Here's app URL: http://murnunnodeapp.azurewebsites.net

[2018-07-17 01:30] rvahaver opened #11803 "Classic VMs not addressed"
Some of us are still dealing with legacy classic mode VMs and this article does not address them nor does it provide any note/cautions or links to other documentation that does.  Please address this oversite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c

[2018-07-17 01:32] gopitk commented on #11570
@SheridanLGrant - Yes. The R interface has changed. We will update the code snippet in the article shortly.

[2018-07-17 01:34] CraigHumphrey opened #11804 "You can only add apps that are in standard or premium mode to an Azure Traffic Manager profile."
Actually, the UI doesn't stop you from adding other (e.g. Dev/Test based service plans) Service Plan types.  But it does fail to update the web apps URL - so it fails with an HTTP 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f164c8d-6445-b688-48c0-cb9344008e4d
* Version Independent ID: 5da2d711-edf2-5bab-66bd-8

[2018-07-17 01:35] mike-urnun-msft commented on #11801
Hi @ConcreteGannet - Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-07-17 01:55] femsulu commented on #11629
@davmhelm here's a snip of the official statatement on cancelling Azure Support plan.
If you still have questions, please [open a new support request ](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview)with the Billing team via Azure Management portal. For issue type, select **Subscription management**, then select the applicable support plan.
![image](https:/

[2018-07-17 02:26] russcam opened #11805 "Custom probe matching does not check "Use probe matching conditions " checkbox in portal UI"
When a custom probe is specified in an Azure Resource Manager template that includes custom matching status codes to consider the backend pool as healthy, the Custom probe matching checkbox in the portal remains unchecked; when checked, the status codes defined in the ARM template do not appear in the portal UI, although it does appear that Application Gateway is using the provided status codes.

[2018-07-17 02:46] femsulu commented on #11629
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-17 02:48] #11629 closed

[2018-07-17 02:59] SunnyOswal commented on #11528
@ghogen i can see command is fixed. However, Command output in documentation is still not fixed.

Below is the command output in documentation:

Name         **Space**     **Chart**              **Ports**   Updated     **Access Points**
-----------  --------  -----------------  ------  ----------  -------------------------
mywebapi     default  mywebapi-0.1.0     80/TCP  2m ago     <not attached>

[2018-07-17 03:10] ahmadabdalla opened #11806 "Error when creating network rules"
Got an error when creating the DNS rule.
"Failed to update the azure firewall 'Test-FW01'. Error: AzureFirewallRule AllowDNS: Invalid IP address value or range 209.244.0.4."
If you click on 'Add' again, you get:
"Failed to update the azure firewall 'Test-FW01'. Error: Cannot parse the request."
No matter what you configuration you change, you get the same error.

Solution: Once you get an error, y

[2018-07-17 03:14] AnirvanK opened #11807 "Installation on CentOS 7.1"
How do I install the Edge Runtime in a CentOS VM? Can you update the documentation to provide the appropriate steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [How to install Azure IoT Edge on Linux](http

[2018-07-17 03:14] n3wt0n opened #11808 "Resource declaration syntax details"
It would be very useful if you can provide details on how to declare the resource definitions in both yaml and json.

So far you have it in yaml for applications and services, but there is nothing for volumes and networks.

I think we need more "samples" or anyway a reference to the documents syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-07-17 03:21] vivek-ealumalai commented on #11778
@MohitGargMSFT thanks for your response. i have posted a query in the MSDN form, please refer to the below link
https://social.msdn.microsoft.com/Forums/azure/en-US/69af207c-5b27-4e09-a3c4-d46df97f963b/unable-to-add-app-roles-by-editing-the-manifest-file-for-the-app-registered-in?forum=WindowsAzureAD

Thanks

[2018-07-17 03:43] EmilyNamugaanyi commented on #11753
The first error we got is that it could not find the the IP address by name `<name of IP address>`
Then we provided the value directly in the kubernetes yaml file and the whole controller crashed. it failed to bring up any endpoints...

[2018-07-17 05:11] #11702 closed

[2018-07-17 05:37] garyiskidding commented on #11734
I can confirm that this bug is still there. Tried running a docker swarm cluster and the tunnelling had the same problem :

channel 2: open failed: administratively prohibited: open failed
channel 2: open failed: administratively prohibited: open failed

[2018-07-17 06:03] kolisko commented on #11734
@iainfoulds I reported this bug because I am following Azure step by step documentation how to provide Docker SWARM on Azure. If the SWARM doc is deprecated you should update it or mark it as deprecated.

[2018-07-17 06:06] mganeshphani commented on #11793
Thankyou Guys. Appreciate the quick fix. You guys are super fast :)

On Mon, Jul 16, 2018 at 5:44 PM Micah <notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2018-07-17 06:12] fredericklin commented on #11175
I just installed it too and was wondering where it was.  Thanks for the clarification ...

[2018-07-17 06:15] HeidiSteen commented on #11764
I know the standard answer (no, you can't -- the indexer minimum interval is 15 minutes, everything else is PUSH) -- but you raise interesting questions regarding the additional tech.  If you want the Azure Search engineering team to weigh in, you should post to Stack Overflow.  They monitor that forum closely.  Here is a link:  https://stackoverflow.com/questions/tagged/azure-search

[2018-07-17 06:22] LuisBosquez commented on #11571
Hello @efficienthacks, the best way to achieve what you're mentioning is using the .repeat() step. Here's a quick sample to get all paths between two vertices. Assuming that you want to get all paths between Thomas and Mary, and that there are no double-links back and forth, use this query:

[code]

This will return the ID's of all paths between 'thomas' and 'mary'.

[2018-07-17 06:30] LuisBosquez commented on #11101
Hello @lucasmike, please follow the documentation on our getting started page here: https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-nodejs

The recommended driver for Node.js/Javascript is the gremlin-javascript version 2.7.0 since we don't support DriverRemoteConnection - but we're working on it!

Thanks,
Luis

[2018-07-17 06:33] Floriszz opened #11810 "Costs"
What does it costs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe4f2bf5-0156-dc04-bd89-8f4e61f342b1
* Version Independent ID: 1dc5a1e7-c818-f5d9-46ae-639f5b664578
* Content: [What is Azure Security Center?](https://docs.microsoft.com/en-us/azure/security-center/security-center-intro)
* Content Source: [articles/sec

[2018-07-17 06:36] LuisBosquez commented on #10842
Hello @dagrkatyal.

The "No appenders were found" error is just a warning that can be ignored.

The `:remote console` command isn't supported yet since it requires RemoteDriverConnection, which is a feature we're currently working on. However you can still use the console if you start your queries like this (notice the ":>"):

[code]

This is actually the mechanism described in the documentation:

[2018-07-17 06:38] LuisBosquez commented on #9235
Hello @Q4living

We have updated the Python sample since we noticed there was a version mismatch in the code. Can you try it again and let us know if it works for you? https://github.com/Azure-Samples/azure-cosmos-db-graph-python-getting-started

Thanks,
Luis

[2018-07-17 06:40] xscript commented on #11680
@Kolan92  could you create a `HAR` file to help us troubleshoot?

[2018-07-17 06:47] Dottn commented on #11766
Good point.

I created a thread here: https://social.msdn.microsoft.com/Forums/azure/en-US/de79d017-eded-42d4-986c-cb42423e64c2/azure-ad-password-protection-policy-proxy-fails-to-fetch-password-policies?forum=WindowsAzureAD

[2018-07-17 06:47] #11766 closed

[2018-07-17 06:56] jeevabt opened #11811 "Is Dynamic Grouping(User/Device) available in Azure B2C tenant?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Attribute-based dynamic group membership rules in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-gro

[2018-07-17 06:57] HemantChandurkar commented on #11674
My take from doc was:
For Storm, Nimbus should be atleast 2 nodes -- In image it is shown as 1+
For HBase, Head is not shown in image
Spark & Hadoop are perfectly matching

No concern if images are only for illustrative purpose. My confusion was whether to refer text or images...
You can close ticket if it is not an issue.

Thank you!

[2018-07-17 07:06] digeler opened #11812 "Challenge fails when using the built in aks http application routing"
Trying to use certmanager with the built in http routing.
Having issues to validate the domain :
kubectl describe certificate
Name:         tls-secret
Namespace:    default
Labels:       &lt;none&gt;
Annotations:  &lt;none&gt;
API Version:  certmanager.k8s.io/v1alpha1
Kind:         Certificate
Metadata:
  Cluster Name:
  Creation Timestamp:  2018-07-16T23:34:09Z
  Generation:          1
  Resource

[2018-07-17 07:11] tsahi commented on #11540
But for LUIS to give an intent of a question, it needs to be trained with it (or a close enough question), no? doesn't it mean the questions from the KB should also be loaded to LUIS?

[2018-07-17 07:12] davegreen commented on #10957
@barbkess Thank you for the info, but my request was not about the use of the regular expression itself, it was more about the specific syntax and examples of the replace function itself that goes around the regular expression. I have some ideas of the syntax and structure, but it is very helpful to have a reference on some working examples, especially since examples exist for the other functions.

[2018-07-17 07:28] gitstua opened #11814 "Samples on github refer to manage.windowsazure.com"
The usage and ratecard links under "Check out the code samples on GitHub" reference GitHub code which refers to manage.windowsazure.com. I suggest these links are removed or GitHub updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independent ID: 01fb14e5-e8a4-49e0-5

[2018-07-17 07:51] Kolan92 commented on #11680
[signalr.txt](https://github.com/MicrosoftDocs/azure-docs/files/2200612/signalr.txt)
I've changed extension to `txt`, because github doesn't accept `har` files.

I also edited my signalr service name in url and bearer.

[2018-07-17 08:09] venkatfbi commented on #11781
@MohitGargMSFT, Thanks for the reply.
In that case, can you please confirm whether Azure AD B2C authorize endpoint support the code_challenge_method, code_challenge, code_verifier, etc that are required for PKCE [RFC7636]?  The above documentation does not talk about these. Would be helpful if these are updated if supported.

[2018-07-17 08:20] dominicbetts commented on #11487
Hi @ampac28 - the metrics page only shows counts - there could potentially be thousands or tens of thousands of devices updated through a configuration, so displaying a list of device ids is not practicable. If you think it would be useful to add this feature, then please make a suggestion for it here: https://feedback.azure.com/forums/321918-azure-iot

Alternatively, you could write your own appl

[2018-07-17 08:21] dominicbetts commented on #11487
@ampac28 - I'm going to request this issue is closed. If you have further questions, please reopen it. Thanks!

#please-close

[2018-07-17 08:30] xscript commented on #11680
Something weird from your negotiate response.
[code]
I am suspecting you have a duplicate `Endpoint=` in your connection string. Could you help double confirm?

[2018-07-17 08:31] deruss opened #11817 "Do wildcards work with _backup.filter?"
Hi,

I want to backup only the meta file. I don't want to backup the website files as they are easily redeployed through continuous deployment.

I tried using a wildcard in _backup.filter but it didn't work. The filter I tried was: \site\wwwroot\*

Is there a way to do this?

Thanks,
David.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-07-17 08:35] spacecat commented on #11761
Hi,

What about the disk type of the node OS disk?

Seems it is not possible to set/change neither by using the Azure portal nor the CLI.

I have created a new standard disk storage class and tried to use it in a statefulset but I got an error the new disk about to be provisioned is not of the same type as the node OS disk.
When I updated the statefulset to use managed-premium then it worked.

[2018-07-17 08:39] a-micons opened #11818 "License type required for Custom Controls"
Hello, I would like to confirm if the license type required for the "Custom Controls" feature in Conditional Access is indeed Azure Premium P1, as from my tests I was only able to see this in the "Conditional Access" tab when using Azure Premium P2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03d33c6-c60b-153c-bf76

[2018-07-17 08:39] spacecat commented on #11742
Thanks, yes, some managed service for backup and restore would be great.

[2018-07-17 08:53] Kolan92 commented on #11680
Thank you very much for help, it was the issue :)
Maybe Microsoft.Azure.SignalR could implement some string validation, for more descriptive error messages.

[2018-07-17 08:53] #11680 closed

[2018-07-17 09:02] jdocampo opened #11819 "Bulk-Insert not supported for bulk executor library"
In the doc says that:
You can bulk-insert documents into Azure Cosmos DB in one of the following ways:
* The bulk executor tool, as described in Using bulk executor .NET library and Using bulk executor Java library
* ...

But in the bulk-executor library documentation only talks about bulk-import and bulk-update, there is no mention and no classes in order to perform inserts or upserts.

---
####

[2018-07-17 09:06] jtuliani commented on #11661
Thanks @tfitzmac. So, if I understand correctly, this is simply another form of metadata that users of Azure can configure/retrieve, and it doesn't affect the resource manager or portal behaviour in any way?  (It would still be good if the documentation said as much, rather than leaving it a mystery.)

[2018-07-17 09:21] dipolimene opened #11821 "VM Agent Missing"
Hi

Thanks for sharing the script however the VM agent is missing after successful scrip execution. Please look into the script again.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a3d35c1-9e1b-c3ae-06f1-af0402ac24e2
* Version Independent ID: b2e086c9-5864-e43c-4f3b-d74208e676e2
* Content: [Create a Windows v

[2018-07-17 10:17] spacecat commented on #11710
@iainfoulds I tried everything again (fresh cluster install) and now it works. I think I must have missed/skipped the Helm step a long the way.

For reference these are the steps that I needed to do in order for it to work:

1 https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

	1.1 Create resource group:
	az group create --name test-cluster-02-rg --location westeurope

	1.2 Create

[2018-07-17 10:22] valentijnscholten opened #11822 "Explain client_secret (generation, handling)"
Lots of OIDC examples around the net use the client_secret mechanism to authenticate the OIDC client.
On this page it is briefly mentioned:

"client_secret	required for web apps, not allowed for public clients	The application secret that you created in the Azure Portal for your app under Keys. It cannot be used in a native app (public client), because client_secrets cannot be reliably stored on de

[2018-07-17 10:26] SaschaSeipp opened #11823 "Currently does not support nested groups!"
As I assume it will take a little longer until the feedback from my premier support ticket goes via the right channels and ends up here, I'll take this shortcut (so it might help others): At the moment, the What If tool does not support nested groups: if a user is in a group and that group is member of another group that is used in a conditional access policy, then What If does not correctly displ

[2018-07-17 10:27] alohaninja opened #11824 "App Service Support"
Do we know when App Services will have the ability to send Diagnostic Data directly to Application Insights? Currently - this data is stored in XML on disk or blob storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a24906e-7aac-1682-9b84-a5edfdf8ef5c
* Version Independent ID: afdcea48-26eb-157e-934d-9f24be2aabf9

[2018-07-17 10:38] frostygoth opened #11825 "Compiler errors when pasting the code from step 5 into program.cs"
Using VS 2017 Enterprise I get the following compiler errors in program.cs when pasting the code from step 5 into the program.cs file.

Line 10, 15, 33 - A namespace cannot directly contain embers such as fields or methods.

Line 12 - The name 'BuildWebHost' does not exist in the current context.

Line 19 - The name 'GetKeyVaultEndpoint' does not exist in the current context

Issue occurs even aft

[2018-07-17 10:50] BartoszPorebski opened #11826 "AADLoginForLinux stops working after config reset with VMAccessForLinux"
Logging in with AADLoginForLinux stops working after SSH configuration is reset using VMAccessForLinux extension. SSH configuration file needs to be modified manually in order to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8

[2018-07-17 11:05] FoldZero opened #11827 "Add logs step"
OMS Portal tile. is not there anymore. Cannot add custom logs anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version Independent ID: 29eced7b-1277-4ee1-21d0-0079d6b95a2f
* Content: [Collect custom logs in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/log-anal

[2018-07-17 11:15] #11821 closed

[2018-07-17 11:18] Phydeauxman opened #11828 "Invalid parameters"
The documentation uses parameters on the Set-AzureKeyVaultManagedStorageSasDefinition command that seem to no longer be valid.  These parameters seem to be used with New-AzureStorageAccountSasToken which can be used with the Set-AzureKeyVaultManagedStorageSasDefinition command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-17 11:25] TonyValenti opened #11829 "Suggestion: Case-Insinsitivity"
Hi Microsoft,
The static website hosting option is a great start but the case sensitivity is killing me:
Browsing to index.html and Index.Html should both work!

Would you please provide some type of case-sensitivity options? Maybe "Convert all filenames to lowercase" or such?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-17 11:32] waheedhussain opened #11830 "time window between the sequential updates"
Hi,

Is there any set wait period between the sequential updates to the paired regions?

If any of the platform updates have affected my application (might not be that all customers are affected), would Microsoft need a notification from us so that the update is held back from deployment to the other region?

Thanks,
Waheed

Thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. I

[2018-07-17 11:32] sryabkov commented on #11060
@lachie83

This suggestion doesn't work for me, I get
[code]

It makes sense that it doesn't work, because the Ingress definition includes the DNS zone name:

[code]

If I create a `party-clippy` CNAME record in `<MY-DNS-ZONE>` pointing to `party-clippy.<CLUSTER_SPECIFIC_DNS_ZONE>`, when I `curl party-clippy.<MY-DNS-ZONE>`, `addon-http-application-routing-nginx-ingress-controller` never gets this

[2018-07-17 11:45] MarkusVi commented on #11765
Hi @okieselbach, I have fixed the issue.
#please-close

[2018-07-17 12:06] AnirvanK opened #11832 "Support required for CentOS 7.2 based VMs"
Support required for CentOS 7.2 based VMs for Azure IoT Edge V2.

We are following this blog:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
*

[2018-07-17 12:16] prabhavgupta commented on #10887
Making a .pcs folder in home directory didn't work for me. Kindly check

[2018-07-17 12:20] MarkusVi commented on #11818
Hi @MohitGargMSFT, you can assign this to me.
Hi @a-micons, I'll double-check to make sure that our documentation is correct.

[2018-07-17 12:23] waheedhussain commented on #11684
thanks

[2018-07-17 12:36] MarkusVi commented on #11823
Hi @MohitGargMSFT, please assign this to me.

[2018-07-17 12:41] nitinkhandelwal26 commented on #11494
Hi Rashmi,

I am getting below error for provisioning M series VM using ARM template:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n \"error\": {\r\n \"details\": [\r\n {\r\n \"target\": \"vm.properties.st

[2018-07-17 12:45] nitinkhandelwal26 commented on #11494
Some Additional details:

DeploymentName : nitin.khandelwal_atoshybridcloud.com.mpcaz-sap-custdepm

Coorelation Id : 7a3c61de-ab5f-4ba1-b684-210eb7951593

Subscription Name : Atos ESO SAP TST Customer

Resource Group Name : sap-sub1-t-rsg-customer

Regards,
Nitin Khandelwal

________________________________
From: nitin khandelwal <nitin.khandelwal@hotmail.com>
Sent: Tuesday, July 17, 2018 6:11 PM

[2018-07-17 13:12] JDWNL opened #11833 "Typo in code snippet"
In the code snippet for installing MMA with DSC, there is a '–' instead of a '-' before the ModuleName parameter. This causes the configuration to fail.

Also, the ProductId is out of date so the script also fails when correcting the above symbol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7

[2018-07-17 13:13] nalberti opened #11834 "appRoles object"
When creating the new appRoles object's, its not clear how the "id" was generated.

The procedure shows collecting the Role ARN and Trusted entities (and storing them in Notepad) to create appRoles object JSON but not where/how the ID is created/generated.

Can it just be random / unique ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-17 13:15] MisinformedDNA commented on #11755
@kashimiz v2

[2018-07-17 13:17] porrascarlos802018 opened #11835 "Encryption failures observed due to outdate machine"
one prerequisite needs to be clarified to avoid the encryption failing. Machine should be updated and have latest tooling updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c60e59e-b306-3b47-dcad-56a3c03de428
* Version Independent ID: 95ea9500-3d2e-6bef-a743-86e660e1ca86
* Content: [Azure Disk Encryption for Wind

[2018-07-17 13:18] stenoid commented on #11540
I also don't follow this. @YutongTie-MSFT are you suggesting that you have a simple intent (such as saying "HR" or "Payroll") that then prompts the user to then ask their question for that specific system? Otherwise I'm with @tsahi in that surely you've just got a load of duplication. Wouldn't it be easier to just call out to each knowledge base and get the highest match out of them all - or is th

[2018-07-17 13:23] yuhongyang417 opened #11836 "Spelling error"
Hi, there is a small spelling error in Key Scenarios/Deep learning/Line 2 "Utilizing VM scaling capabilites of Azure cloud", the word "capabilities"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82eed62-460a-ab0b-bc5b-ad5fa69a4d84
* Version Independent ID: 294790f4-7323-3b1f-5859-3bf0fb5757f6
* Content: [Introduction

[2018-07-17 13:44] davmhelm commented on #11629
@femsulu your reply answers the question, but can the doc please be corrected to reflect that?

For example, changing the line in question from:

to: