[2019-11-06 11:29] VikasPullagura-MSFT commented on #42198
@raduart Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-06 11:29] SadiqhAhmed-MSFT commented on #42182
@theheatDK Thanks for the Comment. We are actively investigating and will get back to you soon.

@tfitzmac Any thoughts on this?

[2019-11-06 11:30] ondrejvaclavu commented on #42068
Same issue here, otherwise a great feature.

[2019-11-06 11:33] SadiqhAhmed-MSFT commented on #42181
@frehnejc Thanks for the Comment. We are actively investigating and will get back to you soon.

@bobbytreed FYI, any help you can offer here?

[2019-11-06 11:33] VikasPullagura-MSFT commented on #42198
@MicrosoftDocs/aks-pm Please add your comments, will open PR accordingly

[2019-11-06 11:38] raduart commented on #42198
As mentioned
This documentation states that we support "N-3" - (N (Latest release) - 3 (minor versions)) but I think this was recently changed from PG and currently we support "N-3" - (N (Latest release) - 2 (minor versions)).
using az aks get-versions -l australiaeast -o table we get versions for that region
And this are the supported versions:
KubernetesVersion
1.14.8
1.14.7
1.13.12
1.13.11
1.12

[2019-11-06 11:42] SadiqhAhmed-MSFT commented on #41971
@JeissonL vCenter is not connected to Vault, rather vCenter is added to Configuration Server(CS) and CS is registered to Vault. With that said, you should be able to have 1 CS per Vault and add the vCenter in both the CS servers and should be able to achieve what you're planning. But Honestly I would suggest to avoid and go with the below option.

You do not have to have two vaults for the purpose

[2019-11-06 11:44] #41971 closed

[2019-11-06 11:45] stephenfroggatt opened #42202 "Source SAS URI issue"
Hi,
The SAS URI isn't working correctly for me in Azure Storage Explorer.
The storage account is added but i am unable to look inside the Blob Containers.
Similarly when connecting as a Linked Service, i get an error "Fail to connect to https://storagewithdata.blob.core.windows.net/: Error Message: The remote server returned an error: (403) Forbidden. (ErrorCode: 403, Detail: This request is not a

[2019-11-06 11:46] jnoller commented on #42198
On December 9th we will move to N-2 this patch is incorrect until after dec 9th at which point I will revise the full document

[2019-11-06 11:46] jnoller commented on #42198
Do not merge

[2019-11-06 11:52] SadiqhAhmed-MSFT commented on #42186
@phifa Thanks for reaching out to us. As per your comment this issue #22673 has been reopened.

Duplicate of #22673 https://github.com/MicrosoftDocs/azure-docs/issues/22673

[2019-11-06 11:52] #42186 closed

[2019-11-06 11:55] Majo4443 opened #42203 "Access rights"
How can I set this APIM protection to specific users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAuth 2.0 with Azure Active Directory and API Management](https://docs.microsoft.co

[2019-11-06 11:55] Majo4443 commented on #42203
I mean AD users

[2019-11-06 11:58] marki555 commented on #41981
@michelamarie You mean something like cluster floating IP? That should be done in Azure by using a Load Balancer (probably with Direct Server Return enabled).
Here is example how to do floating IP with Linux HAE cluster: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse-nfs

Or you can try to automatically re-assign the IP using Azure CLI, but I gue

[2019-11-06 12:07] cmosqu commented on #42174
When does TDE BYOK come out of preview into GA? Is it a production ready feature?

Sent from my iPhone

﻿
@cmosqu Thank you for reaching out.
The PowershellGet module on your machine seems to be outdated.

Please install the latest version first and then try again.

Install-Module PowerShellGet -Force
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2019-11-06 12:08] cephalin commented on #37853
@bowlerma Thanks for the information. I noticed that the VNet integration doc already mentioned it for the preview feature so I just added something here to point people there. The update should be published sometime today. #please-close

[2019-11-06 12:08] #37853 closed

[2019-11-06 12:09] paulbeechey opened #42205 "Get-AzRecoveryServicesBackupWorkloadRecoveryConfig issue with -AlternateWorkloadRestore and multiple filegroups"
Hi, just flagging that the above query is still an issue.
When restoring a database with multiple filegroups to an alternative workload this cmdlet errors with the message "Get-AzRecoveryServicesBackupWorkloadRecoveryConfig : Index was out of range. Must be non-negative and less than the size of the collection."
Is there any solution forthcoming?

---
#### Document Details

⚠ *Do not edit this sec

[2019-11-06 12:14] larryms commented on #42143
@neeleshray-msft I think you misunderstood my comment/request. The documentation page in question, [isolation-choices.md](articles/security/fundamentals/isolation-choices.md), which is about isolation options in Azure, has a section about compute isolation, and more specifically, a section on (isolated vm hosts)[azure-docs/blob/master/includes/virtual-machines-common-isolation.md].

Isolated pre-d

[2019-11-06 12:14] SnehaAgrawal-MSFT commented on #42068
@meixger & @ondrejvaclavu Thanks again for the feedback! PG team is considering this but nothing definite. The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) item and upvote it. The product group monitors this site for feedback. We will now proceed to close this thread. If there are further questions regarding this matt

[2019-11-06 12:14] #42068 closed

[2019-11-06 12:17] SadiqhAhmed-MSFT commented on #42199
@GFoley83 Thanks for the comment! We are checking on this and will get back to you shortly.

[2019-11-06 12:18] mcurko opened #42206 "Contradictory info?"
In response to "Why can’t I set a policy on client apps, like Word or Outlook?...", isn't this in contradiction with what's described here: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/technical-reference#approved-client-app-requirement? Please clarify the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-06 12:19] SadiqhAhmed-MSFT commented on #42192
@tina-ho Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-06 12:21] x10an14 opened #42207 "How can one list a changehistory for a resource through the Azure CLI?"
And _not_ PowerShell? Say as an automated step in a CI/CD pipeline - where the pipeline itself is run in say a (*nix-based) container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 733fcd9b-e234-8765-a7e0-498ded659ddc
* Version Independent ID: bd115a3e-37c9-66c9-da11-68b46b563275
* Content: [Get resource changes - Azu

[2019-11-06 12:22] SadiqhAhmed-MSFT commented on #42194
@VKAlwaysWin Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-06 12:23] x10an14 commented on #42207
https://github.com/MicrosoftDocs/azure-docs/issues/40316#issuecomment-540004952
Seems to specify that this is only possible with a custom-written application using the offered C# SDKs, or through PowerShell (if I've understood/read it correctly).

I can at least not find anything that sounds like it in the `az resource`;
[code]

[2019-11-06 12:24] peirens-bart commented on #42109
@VikasPullagura-MSFT After removing all the dotnet core components en reinstalling them I'm able to do teh same thing. now I'm left with 3 quetsions.

1. Is it possible to update the documentation, so it will match this behaviour, or is this not the correct behaviour?
2. Is the target framework for an sfproj file always .net Framework, and if so what is the minimum and maximum version needed on to

[2019-11-06 12:24] DCtheGeek commented on #42207
#assign:DCtheGeek

[2019-11-06 12:24] clintoj opened #42208 "Free certificate tracking"
The "free" certificates generated for apps are not listed in the App Service Certificates page, it would be handy if this could show the free certs enabling us to see the status of all certs in one location

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee1

[2019-11-06 12:25] SadiqhAhmed-MSFT commented on #42196
@MrDecisive Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-06 12:26] SadiqhAhmed-MSFT commented on #42197
@brettshearer Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-06 12:28] DCtheGeek commented on #42207
@x10an14 Thanks for the question. Change history is in Public Preview today and currently only supports REST API. If you'd like PowerShell or Azure CLI added to the supported SDK, please submit that feedback to the [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance).  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-close

[2019-11-06 12:28] #42207 closed

[2019-11-06 12:28] SadiqhAhmed-MSFT commented on #42200
@marlon-custodio Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-11-06 12:33] cephalin commented on #40651
@msangapu-msft It's the fwlink in the portal page: https://go.microsoft.com/fwlink/?linkid=2088516. Can you get it redirected?

[2019-11-06 12:34] upsilondynamics opened #42209 "How do you synthesize speech without an output stream or to the speaker?"
I want to translate the text and retrieve only the bytes of the audio, I am doing this server side so there is no need to play it on the speaker.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369bb9fc-f1ee-dfb3-9a6a-df35fb50cc70
* Version Independent ID: 74605aae-b7b0-f523-2b77-a83739db5e4b
* Content: [Quickstart: Syn

[2019-11-06 12:36] cephalin commented on #42208
@clintoj The free certificates are not actually App Service Certificates and cannot be managed as such. They're entirely managed by App Service for your specific app. The only place to see them is in the SSL/TLS settings page in your specific app. #please-close

[2019-11-06 12:36] #42208 closed

[2019-11-06 12:38] dcurwin commented on #42196
#reassign:pvrk

[2019-11-06 12:38] cmosqu commented on #40253
After the function code, it states:
"Because a single file can have multiple events, you should create a sync.txt file that the function also looks at to determine the time stamp of the last event that was picked up. Using this file ensures that you don't push the same event multiple times."

however within the function there is nothing looking at a sync.txt file... Can you please provide a comple

[2019-11-06 12:39] pvrk commented on #42196
Acknowledged, the API versions have to updated. Thanks for the feedback. Will update at the earliest.

[2019-11-06 12:41] DCtheGeek commented on #42201
@TheOpsMgr Thanks for the question. This page explains products and services in Azure that support Management and Governance and their common lifecycle and the Cloud Adoption Framework explains a business approach to implementing best practices while adopting cloud technologies. CAF makes excellent use of the Management and Governance services (some examples: [CAF Foundation blueprint sample](http

[2019-11-06 12:41] #42201 closed

[2019-11-06 12:46] DCtheGeek commented on #42201
#assign:DCtheGeek

[2019-11-06 12:50] KrishnaG-MSFT commented on #42195
@bhupinder-p-s Thanks for the comment. While I try to investigate on this product question and get back to you with any update, please share the Azure document link / URL for which this feedback (in this azure-docs repository) is applicable to.

[2019-11-06 12:55] x10an14 commented on #42207
Thanks for your prompt reply! =) Much appreciated!

[2019-11-06 12:58] ChrisSommers opened #42210 "Source IP of traffic from AG to VM"
If an AG with a PIP is configured with a backend pool containing VM(s), when the VMs receive the inbound traffic, do they see the original (Internet) IP as the source or the AG's IP? If it's the original IP, what's the best way to configure UDR such that requests that have come in via the AG are replied to through the AG (thus avoiding asymmetric routing) whilst having other (e.g. outbound) Intern

[2019-11-06 13:00] arkintz commented on #38342
I've been working with MS Azure Support, turns out this error can be caused by lots of things. SQL DosGuard turned out the be the main culprit in our case. There's also a bug open under the Azure SDK for net that could be related:  [https://github.com/Azure/azure-sdk-for-net/issues/7022](url)

[2019-11-06 13:01] KrishnaG-MSFT commented on #42208
@cephalin Thanks for the super quick response. 👍

[2019-11-06 13:30] KalyanChanumolu-MSFT commented on #42197
@brettshearer Ghost records were an issue when running SQL server on a VM.
I am curious to understand how ghost records are a cause of concern in Azure SQL since
backup and clean up processes are handled by the system automatically.

[2019-11-06 13:39] msandbu opened #42211 "Link to VPN client? and the link is not active"
There is no link to the VPN client in this document, second I found the link to the client in the announcement blogpost, but it is not working https://azuremarketplace.microsoft.com/en-us/marketplace/apps/aad.azurevpnclient?signInModalType=1&ctaType=1

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: e9ef898a-0b72-e018

[2019-11-06 13:41] thommck opened #42212 "Generate Certificate missing steps for internal PKI"
You mention that rather than a self-signed cert you can use an Enterprise PKI. The FAQ also has a link that goes back to this section https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#generatecert.
Considering that a lot of devices will be Active Directory domain-joined and use existing AD PKI it would be great if you add the steps on the co

[2019-11-06 13:47] andrePKI opened #42213 "SKU comparison table is unbalanced"
The second and third columns should be made of equal width to ease reading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5d-c2fe-cb37-e40fc9dc929e
* Content: [What is Azure Load Balancer?](https://docs.microsoft.com/en-us/azure/load-balancer/loa

[2019-11-06 13:47] bwren commented on #42063
In this example, the data source is a sample CSV. The data in that CSV is converted to JSON, which is the required format for ingestion into the Log Analytics workspace using the API. The structure of the CSV is shown in the **Example problem** section. It includes a **Location** property that matches the  **client_CountryOrRegion** property in the pageViews table created by Application Insights.

[2019-11-06 13:47] #42063 closed

[2019-11-06 13:48] Blackmist commented on #41778
Thanks for the feedback @robert4os

I've mailed the engineering team so that they can investigate how to deal with this in the SDK (error, warning, etc.). I'll also update the docs with a warning today, to indicate that you should not create multiple simultaneous attachments from a workspace to an AKS cluster.

#sign-off

[2019-11-06 13:48] juunas11 opened #42214 "Object id claim can contain the service principal object id as well"
The description for the oid claim in the access includes this text:

From my experience, it can also be the object id for a service principal, if a client is calling the API using client credentials flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827

[2019-11-06 13:49] CasperJ opened #42215 "ARM template export missing "routingRules" for Redirect"
When I do an export of a Front Door to ARM then it looks like routingRules of type "Redirect" are missing from the export. Furthermore, I cannot find any docs on how to set them in ARM. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52009ea9-bd18-16cf-30cc-5ab2b85d0d44
* Version Independent ID: 56a1a5c6-

[2019-11-06 13:49] bdelsaz opened #42216 "Describe extra step when debugging existing web application"
I followed the steps on this page on an existing .net core web application. If you have not run `azds prep` before, the launchsettings.json file in the solution does not include the extra profile 'Azure Dev Spaces', so you cannot run that directly. Maybe something to document here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-11-06 13:49] Blackmist commented on #41778
#please-close

[2019-11-06 13:49] #41778 closed

[2019-11-06 13:49] KalyanChanumolu-MSFT commented on #42194
@VKAlwaysWin Yes the migration took effect as per schedule on October 14th.

[2019-11-06 13:49] tboulliung commented on #41321
Thank you for the answer @yashesvi .
Do you know if it's possible to subscript to another Azure Databricks pre-purchase plan even if the first one didn't reach the end of term expiry ?

[2019-11-06 13:51] nikbra commented on #40961
@DJKampouris , Thanks I will try that. // Regards Niklas

[2019-11-06 13:52] juunas11 opened #42217 "Example for a newer .NET framework?"
The current .NET example is written for a very old framework. There are also naming issues in the code (class cert) which do not serve to increase my trust in the code being secure. Could we get a sample for e.g. ASP.NET Core 3.x?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Ver

[2019-11-06 13:52] kbuley commented on #42164
That looks a lot like false security. I could very easily either hard-code the value for nameID to 'john@tenant2.com' or use an aux attribute and designate that attribute to be sent as nameID... easily defeating your "security".

Sending a non-email address as nameID is a valid use case, and this arbitrary restriction does nothing for security while causing extra work for administrators.

Perhaps

[2019-11-06 13:54] chrisjhahn commented on #42154
I've seen that article, unfortunately it doesnt help as there is no Azure AD Connect. Both hybrid domain join and SSO are typically done with Azure AD connect.  In an Azure AD Domain Services domain the accounts are synced automatically so there is no Azure AD Connect.

How is hybrid domain join and or SSO accomplished when using Azure AD Domain services where there is no Azure AD Connect?

[2019-11-06 13:55] shashishailaj commented on #42134
@abj-immeo We are researching on this and will update you on this thread.

[2019-11-06 14:05] bdelsaz commented on #42216
It seems I had a class library as a start up project. The Azure Dev Spaces extensions will display the option 'Azure Dev Spaces' on the Run button only if you have a web project as startup project. Maybe something worth documenting for the future.

[2019-11-06 14:05] SamaraSoucy-MSFT commented on #42216
@bdelsaz Thank you for your feedback. I'll review it and get back to you shortly.

[2019-11-06 14:17] jcmontx commented on #31771
@AjayKumar-MSFT for a quick workaround I went for Azure SignalR.

[2019-11-06 14:17] ygizhitsa opened #42218 "Create a blockchain application - Automation"
Could not find any example which will show how to create application using PowerShell/C# and ABW Rest APIs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3325f0-8e3a-6555-7589-ad0b8bbde085
* Version Independent ID: 1318dfb8-652c-262c-b921-bb064d6480e5
* Content: [Create a blockchain application - Azure Blockchain Wor

[2019-11-06 14:20] astaykov opened #42219 "Article assumes users already have installed extension on CLI"
The article assumes that user have already used/previously installed the extension `aks-preview`, but this is not always the case.
I believe the very first CLI command shall be changed to `add` instead of `update`:
[code]
This is make sure there is no confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9

[2019-11-06 14:26] ashkansirous opened #42220 "PATCH on microsoft.systemForCrossDomainIdentityManagement nuget package fails"
I have created a SCIM integration using microsoft.systemForCrossDomainIdentityManagement [nuget package](https://www.nuget.org/packages/Microsoft.SystemForCrossDomainIdentityManagement) but some of the PATCH requests fails when calling the API based on the [RFC7644](https://tools.ietf.org/html/rfc7644#section-3.5.2).

Also, I've tried to call the API using Azure Ad- Enterprise app as it has been d

[2019-11-06 14:27] ygizhitsa opened #42221 "POST Methods examples are missing"
GET Methods are easy to grasp. Wondering why @Microsoft is short on POST methods documentation and examples. Currently trying to create application using PowerShell "POST /api/v1/applications. The ABW portal does creating in two steps: 1. add workflow .json file and then 2. add contract .sol . Looking at swagger and could not derive would be REST API analogy.

---
#### Document Details

⚠ *Do not

[2019-11-06 14:29] andrePKI opened #42222 "172.16.0.0/12 ?"
I was expecting this to be also in the system routes with next-hop None. Is it a documentation issue, or is there a reason why it is not in the default system routes (because next  to 10.0.0.0/8 and 192.168.0.0/16 this is an RCF1918 reserved private address space)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac

[2019-11-06 14:31] allan-mobley-jr opened #42223 "Cosmos Identity"
I was hoping the Cosmos .Net team would check out an open-source storage provider using Cosmos DB that I recently published: https://github.com/Mobsites/AspNetCore.Identity.Cosmos. I followed the open-source Microsoft.AspNetCore.Identity library very closely. Any feedback would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-06 14:33] MarcusColoreel opened #42224 "Missing documentation on how to set the device id during enrollment."
"The desired device ID may be set in the enrollment entry"

There is no documentation on how to do this , RegisterAsync(ProvisioningRegistrationAdditionalData) end in an cryptic "Additional parameters to be passed over registration instance" with no further details.

Since this page seems to be the only place that mentions that the Registration ID and Device ID can differ I submitted my feedback h

[2019-11-06 14:38] HoCGeek opened #42225 "Conditional Access for registered devices?"
In the Resource Access section of the document you say that "Registering and joining give your users Seamless Sign-on (SSO) to cloud resources and administrators the ability to apply Conditional Access policies to those resources."  Can you explain or expand on that?  I've looked through conditional access policies and see options related to Hybrid Azure AD Joined (does this also apply to Azure AD

[2019-11-06 14:43] MonikaReddy-MSFT commented on #42217
@juunas11 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-06 14:44] rachelkberryman commented on #23045
Problem still there. I also upgraded to pay as you go and still cannot start a cluster. Makes absolutely no sense to have a free training that A, is not free, and B, requires so much work and bug fixing to complete.

[2019-11-06 14:46] NavtejSaini-MSFT commented on #42110
@JakubW88 If there are no questions at this moment, We will go ahead and close this thread.

[2019-11-06 14:46] #42110 closed

[2019-11-06 14:47] NavtejSaini-MSFT commented on #41298
@stevestein For your reference.

[2019-11-06 14:48] NavtejSaini-MSFT commented on #42142
@ManuSQLGeek If there are no more questions in this regard, we will go ahead and close this thread for now. If you have any questions, please get back to us and we will continue the discussion.

[2019-11-06 14:48] #42142 closed

[2019-11-06 14:52] NavtejSaini-MSFT commented on #42173
@mapoitras Please get back to us if any questions. If not we will close the thread by EOD.

[2019-11-06 14:57] neb83 opened #42226 "Get-AzureADSSOStatus returning "One or more errors occurred.""
I have corrected the PowerShell formatting errors but I am receiving the following errors when attempting to run.

"Get-AzureADSSOStatus : One or more errors occurred."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
* Version Independent ID: 5c8b677b-f4cd-0bb5-c7d6-9b1ef903dad4
* Co

[2019-11-06 14:57] stefanrothnet commented on #42112
Please provide also an Azure Policy for this scenario to send the logs to Log Analytics. This would be awesome!

[2019-11-06 14:58] stefanrothnet commented on #42112
Priority #1 would be for Subscriptions :)

[2019-11-06 14:58] bwren commented on #41776
The article doesn't make that real clear. The Log Analytics agent collects performance and health data.  The Dependency agent collects map based data.  I'll create a work item to get this updated.

#in-progress

[2019-11-06 15:00] FrankGagnon opened #42227 "Container number restriction for Database level autopilot throughput"
Hi,

1) Is the Container number restriction for Database level autopilot throughput a preview only restriction? We use CosmosDb as a multi-tenant data store where each tenant have a container. For our 1k tenants we'd need to provision 1m RU's which is orders of magnitude more than what we're currently using.
2) Is the 400 RU/s minimum / database still a thing with autopilot on? Or can we set a max

[2019-11-06 15:02] AkshayTharval opened #42228 "Latest version of azure-storage-queue doesn't have QueueService function. Please make the necessary changes to the page"
&gt;&gt;&gt; from azure.storage.queue import QueueService
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
ImportError: cannot import name 'QueueService'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1242be4-e5a7-b6ae-74f5-94eca39b79a4
* Version Independent ID: f2c47895-2837-a658-6

[2019-11-06 15:03] ashkansirous opened #42229 "It is not possible to create a Complex AttributeScheme with Microsoft.SystemForCrossDomainIdentityManagement"
SCIM RFC Talks about Schemas and SCIM clients can look at the schema and implement custom types for the SCIM Api.
I try to do that with [Microsoft.SystemForCrossDomainIdentityManagement ](https://www.nuget.org/packages/Microsoft.SystemForCrossDomainIdentityManagement/1.0.130.41) but I couldn't and there is simply no documentation to describe how.

Let's say I want to return  `urn:ietf:params:scim:

[2019-11-06 15:05] MladjoA commented on #42174
@cmosqu , TDE with customer-managed key is now generally available, you can see the announcement here: https://azure.microsoft.com/en-us/updates/general-avilability-transparent-data-encryption-with-customer-managed-keys-for-azure-sql-database-managed-instance/
Preview version of the Az PowerShell module is not requirement anymore. This document will be updated during the day, stating that versions

[2019-11-06 15:09] ashkansirous opened #42230 "Microsoft.SystemForCrossDomainIdentityManagement does not have enough documentation"
The only documentation you can find for the nuget package is this page and it did not describe how to do more complicated things like implementing custom schemas.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version Independent ID: 506c3302-e823-8f1e-d547-083ef0b664df
* Content:

[2019-11-06 15:11] mamccrea commented on #23045
Hi @rachelkberryman - Once you've upgraded to pay-as-you-go, you need to remove the spending limit and request a quota increase. Do you still receive an error after you complete those steps? If so, can you please tell me what error you're seeing?

Azure Databricks is not one of the [free services](https://azure.microsoft.com/free/) you can use with a trial subscription, but a new Azure subscriptio

[2019-11-06 15:13] NavtejSaini-MSFT commented on #42176
@joshlang We are checking this with our doc author.
@markjbrown @SnehaGunda Please confirm if we have ARM template support for creating large partition keys. If yes, update the document to reflect the same.

[2019-11-06 15:15] FrankGagnon opened #42231 "Support for the Canada East region"
Hi,

Is support for the Canada East region planned?

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Independent ID: a25b6b5b-05ab-b3b2-616c-5d06eadb928d
* Content: [Azure Functions Premium plan](https://docs.microsoft.com/en-ca/azure/azure-functions/functions-premiu

[2019-11-06 15:28] SumanthMarigowda-MSFT commented on #42001
@rrmistry We would like to work much more closer on this issue.

https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-storage

After the initial configuration in associating a storage account for running the Cloud Shell interface, any subsequent configuration changes require the use of the clouddrive bash shell command line utility. Have you walked through these steps already? Or ha

[2019-11-06 15:28] #42001 closed

[2019-11-06 15:30] FrankGagnon opened #42232 "Minimum monthly pricing"
Hi,

The https://azure.microsoft.com/en-us/pricing/details/functions/ page currently says the Premium plan pricing reflects a 50% discount as it is still in Preview. Since the Premium plan is now GA, can we assume we'll be paying double that price?
The price currently listed is "vCPU: ~$163.520000/month vCPU-s" and "Memory: ~$11.68/month GB-s" for Canada Central. For an EP1 instance with 1 core an

[2019-11-06 15:37] #40589 closed

[2019-11-06 15:38] 9songs opened #42233 "Navigation in Google Developers Console is different than described."
OLD:
Step 1: Configure a Google developer project
3. Make sure your new project is selected in the project menu. Then open the menu in the upper left and select APIs & Services &gt; Credentials.
--&gt; NEW
Step 1: Configure a Google developer project
3. Make sure your new project is selected in the project menu. Then open the menu in the upper left and select APIs & Services &gt; OAuth consent scr

[2019-11-06 15:46] joaofrodrigues commented on #9815
For me the command 'telcodatagen.exe 1000 0.2 2' also didn't work, the "SIM Card Fraud Probability" field had to be with a comma "," and not a period "."

So the command that worked for me was 'telcodatagen.exe 1000 0,2 2'

[2019-11-06 15:47] NitashaV commented on #42125
The original issue reported above, managed certificates failed to create:
"Failed to create App Service Managed Certificate for hostname <snip> Error Details: The gateway did not receive a response from 'Microsoft.Web' within the specified time period."

This issue has been resolved. Please give it a try again and the creates should go through.

Regarding "naked domains are not supported": Thanks

[2019-11-06 15:48] jemag commented on #39902
@palma21 @MicahMcKittrick-MSFT  is it possible to use a private egress IP for the standard load balancer? (So specifying a private ip for the "--load-balancer-outbound-ips")

In this article https://docs.microsoft.com/en-us/azure/firewall/integrate-lb , it says that we can have "the load balancer is deployed with a private frontend IP address".

Our network is currently behind Fortigate firewall a

[2019-11-06 15:51] Kevinward65 commented on #39431
Hi I have also come across this issue and keen to find a resolution, is there an estimated date for a resolution to this issue?

[2019-11-06 15:52] NavtejSaini-MSFT commented on #42227
@FrankGagnon We are checking this and will get back to you.

[2019-11-06 15:54] robbiedesutter opened #42234 "Getting a secret from Key Vault during a regional outage - clarification needed"
What will happen when the region where the Key Vault is deployed is unavailable/down? Will the ARM be able to read the secret thanks to the built-in geo-redundancy capabilities of Key Vault or will the template fail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70505efb-d7ac-0dbc-6b57-2ce6a2a78ef2
* Version Independe

[2019-11-06 15:58] MarkDordoy opened #42235 "Can I define my policy in the portal and then Export?"
Hi, is there a way to define the required claim mapping in the portal and export it to a policy?

I need to do the following and im not clear on how to define:

Modify the Unique User Identifier (Name ID) and change the format to persistent, then Expand the Claim Conditions and add a User type of Any with a source Attribute of value "user.objectId" and add a second condition of user type "Members"

[2019-11-06 16:02] rachelkberryman commented on #23045
I have checked and have no spending limit. I believe I have requested a quota increase but am not sure it worked- can you please send me the correct documentation on how to do this?

Thank you very much.

Rachel

[2019-11-06 16:15] stephbaron commented on #42157
The action required and information difference is subtle. The former says that administrator action is required, whereas the latter says that administrator action _may_ be required. I'll look at getting the security item updated in the documentation, but essentially, you're right that these are all types of advisories.

[2019-11-06 16:17] DavidJFowler opened #42236 "Error during Websocket handshake"
Hi,

I get this error when trying to run the web app:

WebSocket connection to 'wss://xxxx.service.signalr.net/client/?hub=chat&id=xxx&access_token=xxx' failed: Error during WebSocket handshake: 'Upgrade' header is missing

Any ideas how to fix this?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589dec51-5df3-

[2019-11-06 16:18] Karishma-Tiwari-MSFT commented on #42219
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 16:19] cmosqu commented on #42174
This is great except that in the link itself the word availability is misspelled. You may want to fix that for optics.

﻿
@cmosqu , TDE with customer-managed key is now generally available, you can see the announcement here: https://azure.microsoft.com/en-us/updates/general-avilability-transparent-data-encryption-with-customer-managed-keys-for-azure-sql-database-managed-instance/
Preview version o

[2019-11-06 16:21] MicahMcKittrick-MSFT commented on #42131
Mentioning you are running in a GOV cloud would have been useful information to include in the original post. Obviously that would have made more sense as to the "Lockdown".  As a standard user locking down everything makes little sense. But from a Gov perspective that is different. It is also different as you run in different data centers especially made for gov so the rules and work around are d

[2019-11-06 16:26] jlongo62 commented on #42131
Your perspective on a lockdown is unrealistic. I could be a hospital, a small business, a department store, or a manufacturer. Closing production servers off to the Internet is simply a best practice. It is the reason Microsoft sells SUS servers. Please re-open my ticket as this is a legitimate concern across many industries and needs to be addressed. Alternatively I can send a copy of this Dialog

[2019-11-06 16:26] ahelland opened #42238 "OS requirements for Docker image"
1. It should probably be called out on this page that the Docker image is Linux-based in case anyone tries to run it on Windows Server :)

2. Not sure if it will be an issue for the general customer or not, but will a Windows image be provided? (I get that this is currently a preview with the limitations that brings, but it would be useful to know if this is planned or not.)

---
#### Document Det

[2019-11-06 16:27] KranthiPakala-MSFT commented on #42202
@stephenfroggatt Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-11-06 16:27] msangapu-msft commented on #40651
Looks like @btardif owns the link. Byron, can you help update the FW Link (2088516) to: https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-serve-content-from-azure-storage

[2019-11-06 16:29] cherylmc commented on #42212
Hi! Thank you for your suggestion. What specifically are you looking for that wouldn't be covered by the way certificates are issued using your existing PKI environment?

[2019-11-06 16:31] spresnal opened #42239 "The exception handling samples don't work!"
Hello,

I used one of the above samples to put together a simple app that logs telemetry. One thing I found was that if I hit an exception the log does not get shipped to application insights. I kept trying different things like StopOperation(operation) call and Flush on the client, but it still wasn't working.

I ended up firing up Fiddler to determine the actual issue. RequestData.responseCode i

[2019-11-06 16:34] MladjoA commented on #42174
Thanks for letting us know @cmosqu . I checked the content and there is no same issue there. Will check whether fixing URL is advisable once it's published and probably shared many times.

[2019-11-06 16:35] jpfowler11 opened #42240 "Connecting to VPN server failed with exception: No such host is known."
Trying this out today -- getting a strange error "Connecting to VPN server failed with exception: No such host is known."

I pass the four diagnostic tests, but still getting the "no such host is known" task.

[2019-11-06 16:37] sampruett opened #42241 "Wrangling data flow availability"
When and where will wrangling data flow be available? I currently can not add in my region and in other regions it does not show up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd84209-19f9-3fa0-f3af-6ebf12cac777
* Version Independent ID: 43ae3347-2644-48a5-be2a-e0f57a6ebb97
* Content: [Getting started with wrangli

[2019-11-06 16:45] SnehaGunda commented on #41819
I don't see any fix to the doc at this point, will close this issue.

#please-close

[2019-11-06 16:45] #41819 closed

[2019-11-06 16:49] SnehaGunda commented on #41100
@iRaindrop thank you,  we will proceed to close this issue and watch for your PR.

[2019-11-06 16:49] #41100 closed

[2019-11-06 16:49] shubray opened #42242 "Unable to Publish to Azure Data Factory - Bad Request reference on non-existent resource in repository"
We are unable to publish with following error:

Publishing error
The publish branch is out of sync with the collaboration branch. This is likely due to publishing outside of Git mode. To recover from this state, please refer to our Git troubleshooting guide

Error code: BadRequest
Inner error code: BadRequest
Message: The document creation or update failed because of invalid reference 'dst_gl'.
Re

[2019-11-06 16:53] nberdy commented on #42224
Hi Marcus, the desired device ID is set in the [individual enrollment object](https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateindividualenrollment/createorupdateindividualenrollment) as the deviceId. The device cannot request its own device ID (the registerAsync call is only made by devices).

#pleaseclose

[2019-11-06 16:54] guntaled commented on #42140
@CHEEKATLAPRADEEP-MSFT , thanks for your reply.
Does this mean lifecycle management is only available for those that have turned on the multi-protocol preview?
Or that everyone should have lifecycle management in their ADLS2 but there's a bug that is being fixed? If it's the latter, when can we expect it to be available?

[2019-11-06 16:54] ranouf commented on #40649
Hi,

Same error for me too:

[2019-11-06 16:56] MicahMcKittrick-MSFT commented on #42131
@jlongo62 please be respectful as hostile comments get us no where and will result in locking the thread to avoid further comments. And further, you command regarding us not believing in securing servers is misguided and untrue. The purpose of this repo is to improve documentation so that is where my focus point is. Troubleshooting specific issues are best left for the forums or support tickets.

[2019-11-06 16:57] anindya5 commented on #42057
I'm not sure what changed, but suddenly I see all the vnet's listed

On Mon, Nov 4, 2019 at 3:53 PM Mike Ubezzi <notifications@github.com> wrote:

[2019-11-06 16:57] SnehaGunda commented on #42165
@wahyuen programmatic way to provision autopilot throughput is not yet available at this time, we will update the doc when the support is ready. in the meantime, you can submit a user voice request: https://feedback.azure.com/forums/263030-azure-cosmos-db

We will close this issue for now.

#please-close

[2019-11-06 16:57] #42165 closed

[2019-11-06 16:58] Mike-Ubezzi-MSFT commented on #42223
@allan-mobley-jr Thank you very much for bring your contribution to our attention. I have included members from the product group on this GitHub item and hopefully get some visibility. What is your desired outcome here? Did you want this included as an option in the SDK?

[2019-11-06 16:59] DarrinEide commented on #41916
Hi Tim, I am still investigating this issue, but don't have any meaningful updates to provide yet unfortunately. Will update here as soon as I do.

[2019-11-06 17:01] skantipu opened #42243 "PII flag in the screen API is not honored"
No matter which boolean value PII flag takes in the screen request body, PII info is included always in the response, which makes me wonder what's the point of having PII flag at all in the request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12d0e3ab-b65f-9910-6ef7-acdfa526cee7
* Version Independent ID: c024e106-98

[2019-11-06 17:01] souravmishra-msft commented on #41626
@mahoekst, We tested the scenario in our lab and would like to share our findings below:
By default, for any app registration the key "tokenEncryptionKeyId" is present with a value "null", if the encryption certificate is not present and active in the Enterprise Registration blade of the application.
But, once you upload a certificate under the **Token Encryption** blade present under the Enterpri

[2019-11-06 17:02] skantipu commented on #42243
Sampel curl:
`
curl -X POST \
  'https://westus.api.cognitive.microsoft.com/contentmoderator/moderate/v1.0/ProcessText/Screen?autocorrect=false&PII=false&classify=True' \
  -H 'Accept: */*' \
  -H 'Accept-Encoding: gzip, deflate' \
  -H 'Cache-Control: no-cache' \
  -H 'Connection: keep-alive' \
  -H 'Content-Length: 108' \
  -H 'Content-Type: text/plain' \
  -H 'Host: westus.api.cognitive.microso

[2019-11-06 17:02] anlucen opened #42244 "Specify the type/version of App from the list "Aproved app""
It seems not be clear what is the type of application  that are supported by the Approve client App.  For example : Microsoft Power BI if is the access through a browser Edge app( in the list) is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID:

[2019-11-06 17:05] SumanthMarigowda-MSFT commented on #42021
@eraser215 We currently do not have any ETA on this, You may keep a track on  Azure  updates

You can leave your feedback here https://feedback.azure.com/forums/34192--general-feedback  All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2019-11-06 17:06] dlepow commented on #41926
The article already includes a pointer to instructions to create service principal credentials. However, I'll try to make this more prominent. Thanks for raising the issue.

[2019-11-06 17:08] KrishnaG-MSFT commented on #42016
We are checking internally with the engineering team and they are verifying why the option which @rayne-wiselman mentioned is not working. Thanks @rayne-wiselman.

[2019-11-06 17:09] KrishnaG-MSFT commented on #42112
Assigning @bwren for visibility, review, insights and for document enhancement considerations.

[2019-11-06 17:10] brucedkyle commented on #42049
Hi,

The Monitor section above promises to show how to see quota for not just File system, but also for

CPU (Short)
CPU (Day)
Memory
Bandwidth

1. You are able to reproduce to display quotas when you create a WebApp. Is there a reason why the additional information is not included as shown in the above sectionon this page? I only see the Filesystem in your example.

2. When I create a Mobile App,

[2019-11-06 17:10] fatosismali opened #42245 "Python file leads to 404 page"
In this part of the documentation:
-------------------------------------
Create a Python job
This example shows how to create a Python job. It uses the Apache Spark Python Spark Pi estimation.

Download the Python file containing the example and upload it to Databricks File System using the Databricks CLI.
-------------------------------------

The Python file link leads to a 404 page.

---
#### D

[2019-11-06 17:11] mamccrea commented on #23045
@rachelkberryman  - Here are the instructions for quota increase requests: https://docs.microsoft.com/azure/azure-supportability/regional-quota-requests

[2019-11-06 17:11] allan-mobley-jr commented on #42223
Thanks for responding! Not looking to include this as an option in the SDK. I just wanted to bring it the teams attention for any feedback. I needed an ASP.Net Core Identity storage provider for Cosmos, and the one listed as a community supported option seemed to be lacking and was using the older Cosmos SDK. I just wanted to know what your team thought of my use of the new SDK to provide a workin

[2019-11-06 17:13] SamaraSoucy-MSFT commented on #42239
Hi @spresnal Thank you for your feedback. I will review it and get back to you shortly.

[2019-11-06 17:13] Wreckergibb opened #42246 "Kusto Queries for ER Bandwidth Utilization not returning any results"
Hi,

I am running the provided Kusto Queries for ER Bandwidth Utilization and they are not returning any results. It appears that the SubType "ExpressRouteCircuitUtilization" does not exist anymore? I do have NPM configured and diagnostics shipping log information into Log Analytics.
What query should I run in order to get this info.

Thanks,
George

---
#### Document Details

⚠ *Do not edit this

[2019-11-06 17:15] mamccrea commented on #42245
@fatosismali - Thank you. I will fix the link. Here is the correct [link](https://docs.microsoft.com/azure/databricks/_static/libs/pi.py).

[2019-11-06 17:22] jbeltranluna commented on #42027
Hello,

Sorry for reopening the issue. The LUIS product team contacted me through email with a possible solution:

- Use the LUIS API to remove every collaborator from the App

I replied to the email (tickets@cognitive.uservoice.com) that I am trying to do that but I always get an unauthorized error (only for the AppId that is giving me the error on the migration, the other AppIds work well with t

[2019-11-06 17:22] SnehaGunda commented on #42227
@FrankGagnon to your 1st question, yeah the restrictions are for the preview version, they might change in future. If you have specific requirements for throughput that's not available in the portal, please reach out to askcosmosdb@microsoft.com alias.

For your 2nd question, I don't know the answer, let me reach out to the team and get back to you.

[2019-11-06 17:22] MightyPen opened #42247 "'Deploy to Azure' button failing, in SaaS example"
This repo is a better place for the following Issue 14:

- `https://github.com/microsoft/WingtipTicketsSaaS-MultiTenantDB/issues/14`

Assigning to @KalyanChanumolu-MSFT .  Last time we received a similar complaint about his same thing, there was nothing we could do to fix it.  But now that we know of Kalyan, maybe Kalyan can fix it?

Thanks.  MightyPen (GeneMi).

---

# Azure documentation issue g

[2019-11-06 17:24] amanmcse commented on #42164
I understand that NameID can be hardcoded to use a specific value or can be configured to use a value which doesn't contain '@' and can be modified as well.
However, the NameID is an important parameter in a token. To reduce the possibility of certain scenarios as explained in my previous comment there are some restrictions applied to it. E.g., it is a restricted claim set and can't be modified us

[2019-11-06 17:25] MightyPen commented on #42247
Oh, instead, see Issue #42077 .

[2019-11-06 17:25] #42247 closed

[2019-11-06 17:29] jlongo62 commented on #42131
I have opened the ip’s in the NSG for testing. That addressed the issue. Opening internet access  is not allowed in typical production environments (MS seems to have forgotten this). I am asking for a strategy or instructions to address this issue.

I have already had to hack the MMA extension to find it’s undocumented properties in support of proxy(unrelated) I am expecting some documentation or

[2019-11-06 17:33] RyanHill-MSFT commented on #42236
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 17:33] cherylmc commented on #42211
Interesting! Thank you! I'll send this over to the PM, who hopefully can get them to create a links.

[2019-11-06 17:33] cherylmc commented on #42211
@anzaman

[2019-11-06 17:35] bureado commented on #40918
Yes, but platforms that offer virtualized clocks also recommend using NTP. See [KVM in RHEL 7](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/virtualization_deployment_and_administration_guide/chap-kvm_guest_timing_management) for example. The `/dev/ptp0` device we expose to Linux VMs on Azure is a PTP time source that can be consumed from, say `chronyd` (but not `sy

[2019-11-06 17:35] Alberto-Vega-MSFT commented on #42224
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-06 17:35] #42224 closed

[2019-11-06 17:36] YutongTie-MSFT commented on #41916
@timwoelfle Hi Tim, I'd like to offer you one time free support ticket to help you live trouble shooting this problem when we investigate it internally. Could you please send me an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread?

@DarrinEide  I will reach out to the right person for this issue, please let me know if you occasionaly find anything. Thanks f

[2019-11-06 17:40] jfowler-volant commented on #42240
In case anyone hits the same snag, a reboot did the trick!

[2019-11-06 17:42] nxbrennan commented on #41184
Hi - I'm also experiencing the same issue on a solution we're trying to bring into production. Has there been any progress on this? Eagerly awaiting more information!

[2019-11-06 17:46] NavtejSaini-MSFT commented on #42107
@Tanharuki Can you please provide your User Voice feedback links here so that we can work with Product Team.

[2019-11-06 17:47] jrowies opened #42248 "How change feed works in an account with geo-replication and multi-region writes enabled"
I'd like to know more about how the change feed works when the account is geo-replicated. For instance, are the changes available in the feed once the documents are geo-replicated to all regions? or are the changes available as soon as the first region is updated? Is there any risk of receiving the same changes in the feed more than once due to geo-replication?

Thanks!

---
#### Document Details

[2019-11-06 17:50] GiftA-MSFT commented on #41383
@diberry after investing further, I discovered that the issue regarding _importing KB and missing the multiturn structure_ isn't necessarily a bug. However, there seems to be an issue with adding .xlsx files while creating a new KB or via settings.

@abhi23arora in order to import your KB with the multiturn feature enabled, you would need to create a blank KB, then import your KB via settings unde

[2019-11-06 17:50] mikennie commented on #41997
Any update on this?  I am able to retrieve a new token, but cannot dynamically parameterize the linked service to use the new token.

[2019-11-06 17:57] DavidArayaSanabria opened #42250 "Red Hat OpenShift Container Platform Self-Managed"
Please include that Red Hat OpenShift Container Platform Self-Managed is not supported by Microsoft and our customer should contact Red Hat for installation problems assistance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12797ec7-90be-4db6-dbee-de44164fb664
* Version Independent ID: 7ed9b2e4-85c7-35c5-51c0-8e25d8df

[2019-11-06 17:57] YutongTie-MSFT commented on #42243
@skantipu
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley
Hi Patrick, could you please help us check this issue and update the document if necessary? Thanks.

[2019-11-06 18:01] YutongTie-MSFT commented on #42209
@upsilondynamics
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 18:04] Jackohy78 commented on #39336
I had encountered similar issue.

dockerd --version showed Segmentation fault

sudo systemctl status docker show the following:
● docker.service - Docker Application Container Engine
   Loaded: loaded (/lib/systemd/system/docker.service; enabled; vendor preset: enabled)
   Active: failed (Result: core-dump) since Wed 2019-11-06 17:53:01 GMT; 10min ago
     Docs: https://docs.docker.com
  Process:

[2019-11-06 18:04] himanshusinha-msft commented on #42241
Thanks for the question , we will review the same and get back to you .

[2019-11-06 18:08] SnehaGunda commented on #42176
@joshlang we document the versions to be used for large partition key here: https://docs.microsoft.com/en-us/azure/cosmos-db/large-partition-keys ARM template is missing from the list, will add it.

Just confirming again, you added the version property to the PartitionKey object right?

"partitionKey": {
                        "paths": [
                        "/myPartitionKey"

[2019-11-06 18:10] YutongTie-MSFT commented on #42113
@paulmarshall
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-06 18:10] #42113 closed

[2019-11-06 18:10] jofrance opened #42251 "CentOS versions supported"
This article doesn't mention on which CentOS or RHEL is blobfuse supported, I can see only comments for Ubuntu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-dcaf-6fc87706a3be
* Content: [How to mount Azure Blob storage as a file system o

[2019-11-06 18:12] shubray commented on #42242
This issue was resolved by following the steps in link below:

https://docs.microsoft.com/en-us/azure/data-factory/source-control#troubleshooting-git-integration

[2019-11-06 18:12] #42242 closed

[2019-11-06 18:14] SnehaGunda commented on #42176
@markjbrown Is it okay to update the ARM template to use a large partition key by default?

[2019-11-06 18:17] joshlang commented on #42176
Yes - I used  `"version": 2` and it worked.

When "version" is missing, it defaults to version 1 (or whatever you call the old version).

[2019-11-06 18:23] thehayat opened #42252 "Link unavailable for the Azure ML data drift notebook"
Navigating to [[link]](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/service/how-to-monitor-data-drift.md#next-steps) here the notebook link is not found.

[2019-11-06 18:26] SnehaGunda commented on #42176
Added a note to the doc in the above PR.

[2019-11-06 18:28] MicahMcKittrick-MSFT commented on #42250
@DavidArayaSanabria this information is covered under the OpenShift overview page

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-get-started

We also point users directly to RedHat help in the troubleshooting section of all our RedHat documentation

https://docs.microsoft.com/en-us/azure/openshift/troubleshoot

So at this time we will leave this doc as is. However if we f

[2019-11-06 18:28] #42250 closed

[2019-11-06 18:34] SnehaGunda commented on #42223
@allan-mobley-jr Thanks for your work on the cosmos Identity storage provider. Can you please reach out to our dev team at askcosmosdb@microsoft.com with the link to your project, they can help evaluate and share any feedback.

The issues on this repo are specific to track doc updates, I don't see any doc update any this point. So we will close this issue here but track it within the alias and mak

[2019-11-06 18:41] ukez15 commented on #41213
What could really help is to try the repo on the documentation and update with the latest screenshots from both the notification hub side and the apple developer side while putting all likely information (like the code and p8 Keys) in there.
this would help customer's easily walk through when trying to attempt this on their own

[2019-11-06 18:42] RyanHill-MSFT commented on #42115
Glad to hear @cephalin's answers was helpful @vidarkongsli.

[2019-11-06 18:42] #42115 closed

[2019-11-06 18:47] SnehaGunda commented on #41909
I am not aware of any architecture images @markjbrown might know if there are any they are using for customer demos and Ignite sessions.

[2019-11-06 18:51] MarileeTurscak-MSFT commented on #42206
@mcurko
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 18:55] MicahMcKittrick-MSFT commented on #42137
@MashaMSFT @MikeRayMSFT can either of you elaborate on this? I have dug around but am not finding anything concrete.

[2019-11-06 18:56] MarileeTurscak-MSFT commented on #42244
@anlucen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 18:57] SnehaGunda commented on #42106
@simonvane I think leftover refers to remaining RUs out of the provisioned RUs, in autopilot case it would be : (leftover RUs = max RUs set – consumed RUs). I am not completely sure though I sent an email to our SMEs for confirmation.

[2019-11-06 18:57] MarileeTurscak-MSFT commented on #42214
@juunas11
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 18:58] MarileeTurscak-MSFT commented on #42230
@ashkansirous
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 19:07] MicahMcKittrick-MSFT commented on #42131
@jlongo62 thanks for that extra information and trying opening the ports. At least we know that works so now we just need to determine the best way to route the traffic internally to reach that same endpoint.

First thing is that is not just a Service Fabric scenario but really a general networking question. As you might have multiple resources in a restricted network.

One option is Service Endpo

[2019-11-06 19:09] MicahMcKittrick-MSFT commented on #42128
@kyanagimoto thanks for that. Last thing to check, this doc has a few different versions depending on the Client OS. Windows, Linux and MacOS

![image](https://user-images.githubusercontent.com/32313503/68329322-dc9abc00-0085-11ea-86cf-c217c2ea941b.png)

Can you confirm you are selecting the correct doc to follow based on your OS?

[2019-11-06 19:09] keggster101020 opened #42255 "[Azure Monitor] Diagnostic Settings - Create Or Update API not at parity with UI"
I'm not sure if this is the correct place for this feedback but I wasn't able to find a dedicated github repo for Azure Monitor / Diagnostics. Please redirect me if necessary and I'll be happy to move this issue.

## Issue
Emitting diagnostics for resources in the portal allows you to emit diagnostics to a storage account **or** an Event hub **or** a Log Analytics Workspace.

However, when using t

[2019-11-06 19:13] sopelt commented on #42147
@petercmho Have you seen https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-acquire-token?tabs=dotnet and https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-acquire-token?tabs=dotnet#scopes-to-request ?

[2019-11-06 19:15] himanshusinha-msft commented on #42013
@SatyaKomatineni  We use this when we need to paramterized the linked service . I am adding the snapshot as an example .

![1](https://user-images.githubusercontent.com/47539458/68329698-af9ad900-0086-11ea-97fc-77539f6ddc01.jpg)

[2019-11-06 19:15] #42013 closed

[2019-11-06 19:16] mikennie commented on #41997
Please disregard my previous comment.  I was able to dynamically parameterize my Zoho linked service access token with the results of my refresh token call.

[2019-11-06 19:17] thommck commented on #42212
The exact steps please. A lot of companies set up their PKI years ago and wouldn't know where to start. So they need to know how to export their existing internal root cert (and then all domain clients should be good to go)

[2019-11-06 19:18] timwoelfle commented on #41916
@YutongTie-MSFT Thanks for the reply, I've sent an e-mail as you've advised.

[2019-11-06 19:22] TomArcherMsft commented on #36335
@bijopunnoose Thanks for the feedback. @lrxtom2 hasn't been able to repro the error and the article has been updated. I'm going to close the issue for now, but if you are still encountering the problem and have repro steps for our engineering team to debug, I'll reopen. #please-close

[2019-11-06 19:22] #36335 closed

[2019-11-06 19:24] sauryadas commented on #41694
@immuzz @MikkelHegn Please provide guidance so we can resolve this issue

[2019-11-06 19:25] Alberto-Vega-MSFT commented on #42221
@ygizhitsa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-06 19:25] bandersmsft commented on #41683
@jtuliani Usage-based budgets are created using an older version of the Budgets API and are not commonly used. I'll update the article to provide more context.
#please-close

[2019-11-06 19:25] #41683 closed

[2019-11-06 19:25] Adam-Smith-MSFT commented on #42251
@jofrance  It is supported in Centos 7, most likely not on the newest releases if they are a month or less old, here's the current MS repos / commands for Microsoft packages: https://docs.microsoft.com/en-us/windows-server/administration/Linux-Package-Repository-for-Microsoft-Software
let me know if this helps.

[2019-11-06 19:26] gitjeph commented on #38816
Is there feedback available on this?

[2019-11-06 19:26] keggster101020 commented on #42255
It seems as though this is possible, but the body for the request is different from what the docs say.
Please update the docs to specify which properties are required in the request body.

Example from doc:
[code]

Example only emitting to Log Analytics

[code]

[2019-11-06 19:27] himanshusinha-msft commented on #42017
@SatyaKomatineni : We will go ahead and close the issue now  , you can always re-open the issue if you think that's appropriate .

[2019-11-06 19:27] #42017 closed

[2019-11-06 19:28] kiranbhaga commented on #41990
@Mike-Ubezzi-MSFT This is resolved now. When I created the Azure AD app registration, the redirect uri was default set to web. It should be Public client/native instead. After changing it to that it worked fine.

[2019-11-06 19:28] #41990 closed

[2019-11-06 19:28] Adam-Smith-MSFT commented on #42228
@AkshayTharval Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-06 19:30] bandersmsft commented on #41687
@jtuliani The team is investigating this. When I have their reply, I'll respond here.

[2019-11-06 19:30] palma21 commented on #39902
private IP for egress would not be egress, as in the VM would have no outbound connectivity, which it requires, in order to talk to the API server. https://aka.ms/aks/egress
You can have private frontend IPs for ingress (Internal LB) and use the public IP just for egress (as it is by default), you can also choose to use a FW Public IP to egress from, but you always need a public IP to egress to th

[2019-11-06 19:31] bandersmsft commented on #41753
#please-close

[2019-11-06 19:31] #41753 closed

[2019-11-06 19:31] roygara commented on #41859
#reassign: @SibonayK

[2019-11-06 19:33] brettshearer commented on #42197
I am referring to on premise SQL server. Ghost records occur when the longest running transaction has started before a row is deleted. The row transaction commits, but waits for the long running transaction start LSN to move past the row delete LSN.  In the case of Always On where there may be a report or other extraction occurring for many minutes, deleted rows build up quickly in tables such as

[2019-11-06 19:35] msrini-MSFT commented on #42034
PR have been made to address this issue in the doc.

[2019-11-06 19:35] #42034 closed

[2019-11-06 19:36] tlentine opened #42256 "logReplayEvents is now traceReplayEvents in Durable Functions v2?"
The sample json for v1.x and v2.x refer to the property as "logReplayEvents" and "traceReplayEvents" respectively, but the table defining the Properties, Default Values and Description does not make not of the change or difference. The table also does not appear to define"extendedSessionsEnabled" and "extendedSessionIdleTimeoutInSeconds"

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-06 19:38] amitpoonia8142 opened #42257 "AzCopy unknown command /source error"
AzCopy /Source:https://sourceaccount.blob.core.windows.net/mycontainer1
/Dest:https://destaccount.blob.core.windows.net/mycontainer2
/SourceKey:key1 /DestKey:key2 /S

After using this script to migrate data from one container to another its shows an error:

unknown command "/source:https://karmsa.blob.core.windows.net/newcnt" for "azcopy"

while rest of the commands(copy, sync) are working fine.

[2019-11-06 19:41] himanshusinha-msft commented on #41888
@ryburn : We did reached out to the internal team and as per them at this time this correlation part is not implemented , but they confirmed that they do plan to implement that in future .  We request you to please add the ask https://feedback.azure.com/forums/270578-data-factory also .

At this time we are going ahead closing the issue , you can always re-open this if you think that's appropriate

[2019-11-06 19:41] #41888 closed

[2019-11-06 19:41] bandersmsft commented on #40519
@torfulle The enginnering team is actively looking into this issue. When I have more info, I'll reply here.

[2019-11-06 19:42] jordanchang commented on #16002
public class MyCustomTelemetryInitializer: ITelemetryInitializer
    {
        readonly IHttpContextAccessor _httpContextAccessor;

        public MyCustomTelemetryInitializer(IHttpContextAccessor httpContextAccessor)
        {
            _httpContextAccessor = httpContextAccessor;
        }

        public void Initialize(ITelemetry telemetry)
        {
            if (telemetry is RequestTeleme

[2019-11-06 19:46] FrankHu-MSFT commented on #42225
@HoCGeek Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 19:46] FrankHu-MSFT commented on #42233
@9songs Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 19:46] FrankHu-MSFT commented on #42235
@MarkDordoy Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 19:47] andrePKI opened #42258 "portal has changed - please update documentation too"
The Azure portal has changed - In the Marketplace list there is now Web, not Web & Mobile. Screenshot above is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972-6b54-d4e70db5c046
* Content: [Quickstart - Create an Azure CDN profile

[2019-11-06 19:53] andrePKI opened #42259 "Name must NOT be globally unique"
In step 3 the table states Name must be globally unique. That is not the case. If you create a CDN Endpoint, the CDN Endpoint Name must be unique, because it becomes the host part of the URL in the DNS domain azureedge.net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version In

[2019-11-06 20:01] andrePKI opened #42260 "Please make note to register the CDN Resource provider"
I found that not in all subscriptions the Microsoft.CDN resources provider is registered. Then the deployment will fail with a message when you click the create button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972-6b54-d4e70db5c046
* Co

[2019-11-06 20:06] andrePKI opened #42261 "Creating an endpoint - step 3 origin hostname"
At the point, you cannot enter a hostname as described - you should select an existing blobstorage URL from the dropdown list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972-6b54-d4e70db5c046
* Content: [Quickstart - Create an Azure CDN pr

[2019-11-06 20:10] jbinko opened #42262 "GuestAgentSnapshotTaskStatusError can be caused by Extensions.Enabled=n"
Please document that Azure backup requires Microsoft Azure Agent config value to be set to Extensions.Enabled=y. Customer had this option set to Extensions.Enabled=n and Azure backup was failing with the error: GuestAgentSnapshotTaskStatusError . But it was very difficult to find source of error and log files were not helping to identify source of error. It needs to be documented here. Also maybe

[2019-11-06 20:11] YutongTie-MSFT commented on #42259
@andrePKI
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-06 20:12] YutongTie-MSFT commented on #42261
@andrePKI
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-06 20:13] jwisener opened #42263 "Lack of clr support"
It's unfortunate there is no support really clr that requires access to files and api endpoints. I can see how this would prevent alot of companies moving to sql azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Co

[2019-11-06 20:21] MGoedtel commented on #41944
@goosej5797 - we don't publish IP addresses for those resource names for AzAutomation and AzMonitor.  If we did, they would be available here in this JSON file - https://www.microsoft.com/en-us/download/details.aspx?id=56519.  #please-close.

[2019-11-06 20:21] #41944 closed

[2019-11-06 20:22] danieljosephh commented on #32730
Since the migration of Azure Classic Alerts, I have not received any emails for configured "Email Azure Resource Manager Role" action groups.

Even when creating a new action group, the emails are never sent. Other action groups having webhooks work as expected.

[2019-11-06 20:25] Alberto-Vega-MSFT commented on #42218
Hi @ygizhitsa Thanks for reaching out. Would you please create a request in the [Azure Blockchain User Voice?](https://feedback.azure.com/forums/586780-blockchain) There is a repository with [samples for .Net](https://github.com/Azure-Samples/blockchain/blob/master/blockchain-workbench/rest-api-samples/dotnet/readme.md) though

[2019-11-06 20:25] livehands opened #42264 "Sample Code to show how this all comes together would be helpful"
The code here seems to be a decent sample but when I try to put this together I get the error below.  Would love to see a working sample to see what I am missing.  Seems an implementation of IServiceCollection needs to be added...

Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Servic

[2019-11-06 20:29] RyanHill-MSFT commented on #42050
Hi @brucedkyle. You can follow the tutorial using a Web App and don't worry about mismatch. From a PaaS standpoint, Mobile App and Web App are the same. The confusion is stemming from the fact that mobile apps and associated services will soon be migrated over to [app center](https://docs.microsoft.com/en-us/appcenter/). Once that migration is complete, @elamalani will be updating the docs.

[2019-11-06 20:30] TomArcherMsft commented on #40434
@nezoic This article has been updated to reflect the new syntax. Please let us know if the problem persists and we'll revisit. #please-close

[2019-11-06 20:30] #40434 closed

[2019-11-06 20:31] shwetams opened #42265 "Machine Learned Entity Link type us broken"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-06 20:32] shwetams commented on #42265
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-entity-types#composite-entity
This link is broken, at Machine-Learned Entity

[2019-11-06 20:37] CeciAc opened #42267 "TLS/SSL configuration - very hard to understand what I need to to to use a "normal" MQTT client to connect"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/587

@aisbergde commented yesterday — with docs.microsoft.com
I don't understand what I need to do to use an TLS/SSL connection using a "normal" MQTT Client like MQTT Explorer or MQTT.fx
I have now idea how and why to use TLS/SSL. I will read about it.
But here in documentation is some python code where you e

[2019-11-06 20:38] paulghodgson opened #42268 "Possible incorrect link"
I am unable to find some of the information in the recommended page https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-use-aad-auth-to-access-ams-api

https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-rest-connect-with-aad appears to be a better fit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-06 20:44] CeciAc opened #42269 "SAP ECC 6.0 EHP 7 supported?"
Hi!
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/586

@darealgoku commented yesterday — with docs.microsoft.com
Hi, before we start to implement ETL processes based on source SAP ERP (ECC) 6.0 EHP 7. I would like to know if the Version of SAP is supported by the SAP table connector. The documentation doesn't point this out very clearly. Thanks in advanced.

---

[2019-11-06 20:45] johnadali opened #42270 "Form Recognizer: UnsupportedMediaType error when trying to analyze PDF from Azure Blob Storage"
Having an issue with the QuickStart for Form Recognizer .NET SDK ([here](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/dotnet-sdk)).

The example works great when I feed it a PDF file that is local to my PC. I want to pass it a PDF file that exists in Azure Blob Storage so I modified the example to use a _MemoryStream_ variable instead of a _FileStream_. Thi

[2019-11-06 20:48] Roblarson opened #42271 "Automate via PowerShell"
Is there a way to automate this for 100's of resource groups or have the settings inherit down from a management group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caec76df-16e4-f418-14c3-6c83528134c7
* Version Independent ID: 813b93bb-1b61-c31a-a277-0b56a3f51d4a
* Content: [Configure Azure resource role settings in

[2019-11-06 20:49] placidseven opened #42272 "New-AzOperationalInsightsCustomLogDataSource BadRequest"
This document doesn't actually explain how to use any of these option and the documentation doesn't detail what options are allowed or what they are used for.

https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/new-azoperationalinsightscustomlogdatasource?view=azps-3.0.0

New-AzOperationalInsightsCustomLogDataSource returns HTTP Status Code: BadRequest using the verbose flag

[2019-11-06 20:49] MarcusColoreel commented on #42224
Hi nberdy, the link does not seem relevant since I'm working with Enrollment Groups.

[2019-11-06 20:49] RyanHill-MSFT commented on #41936
Hi @ankitvijay, I think what you're looking for is [index kinds](https://docs.microsoft.com/en-us/azure/cosmos-db/index-overview#index-kinds). You can opt out of automatic indexing and configure specify the properties you want. And as long as your query uses a composite index that includes that property, the engine will leverage the index before performing a scan.

Hope this helps.

[2019-11-06 20:54] MarileeTurscak-MSFT commented on #42214
Thanks! I made a pull request to add a note but will leave this open for approval by @rwike77

[2019-11-06 20:54] #42214 closed

[2019-11-06 20:56] MarileeTurscak-MSFT commented on #41574
@mrik23 any update on this? The product team would like to try to reproduce the issue.

[2019-11-06 20:56] placidseven opened #42273 ""pattern": "(^.*((\\d{2})|(\\d{4}))-([0-1]\\d)-(([0-3]\\d)|(\\d))\\s((\\d)|([0-1]\\d)|(2[0-4])):[0-5][0-9]:[0-5][0-9].*$)""
What is "pattern": "(^.*((\\d{2})|(\\d{4}))-([0-1]\\d)-(([0-3]\\d)|(\\d))\\s((\\d)|([0-1]\\d)|(2[0-4])):[0-5][0-9]:[0-5][0-9].*$)" suppossed to be? It looks like regex but you aren't required to use regex when creating custom logs in the portal. Where is this documented? That should be included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-06 20:58] dkamstra commented on #32730
Given this is not a question or feedback on the documentation please open a support case with customer support so they can help you trouble-shoot this issue.

[2019-11-06 21:04] digienigma opened #42274 "Retention period no longer available on portal"
The site https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics#enable-flow-log-settings
still show set retention days,

Just did a repro, Retention no longer an option, will default to indefinitely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59a0b9f5-9071-5e89-5f52-ca8fb2dbc90b
* Version Independ

[2019-11-06 21:07] nberdy commented on #42224
Thanks for the clarification. Setting the desired device ID in an enrollment group is not supported at this time, we can make this clearer in the documentation.

[2019-11-06 21:23] MarileeTurscak-MSFT commented on #42226
@neb83 this bug is being tracked but the product team has not been able to reproduce it. Can you please confirm which version of Windows machine and also of AD Connect you are using?

[2019-11-06 21:28] soeirodefaria opened #42275 "Missing step?"
Last sentence of step 4 says: "If you don't do this, you might not be able to connect to the VM after you join it to your Active Directory domain."
There is no other step that tells users to join domain join the Windows 7 VM.
I suggest explicitly adding it if this is a requirement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-06 21:28] MarileeTurscak-MSFT commented on #42220
@ashkansirous
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-06 21:39] MicahMcKittrick-MSFT commented on #42275
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-06 21:40] femsulu commented on #41979
@qianw211  - any issues with the endpoint that you are aware off? Can you hep investigate?

[2019-11-06 21:51] FrankHu-MSFT commented on #42220
hey @ashkansirous the Nuget package link you linked is to the 1.0.5 version. Are you using the most up to date version https://www.nuget.org/packages/Microsoft.SystemForCrossDomainIdentityManagement/2.0.5.95?

And in addition to that, you're saying that when you use the patch :

 {   "schemas":
   [
     "urn:ietf:params:scim:api:messages:2.0:PatchOp"],
   "Operations":
   [
     {
       "op":"Ad

[2019-11-06 21:57] FrankHu-MSFT commented on #42220
@ashkansirous there may be some issues with the current library, but there are plans for fixes in the near future, however there are no hard deadlines for when this will happen. It should be within the next couple of months.

However, the library should be working for the patch scenario,

[2019-11-06 22:00] #42173 closed

[2019-11-06 22:01] kobulloc-MSFT commented on #41955
I agree, it does make it harder to find Java specific content.  I'll reach out to the document author with this feedback.

![image](https://user-images.githubusercontent.com/37556655/68341725-e6301e00-009d-11ea-9b38-262fd3885402.png)

[2019-11-06 22:02] SaurabhSharma-MSFT commented on #41976
@joeyeng We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-06 22:02] #41976 closed

[2019-11-06 22:06] mike-urnun-msft commented on #42231
@FrankGagnon Thank you for your feedback. Unfortunately, we are not able to share any specific timeline on this matter at this time.

[2019-11-06 22:09] femsulu commented on #42157
thanks for the update, @stephbaron .
@dcbrown16 We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-06 22:09] #42157 closed

[2019-11-06 22:12] algattik opened #42276 "Paragraph hard to understand - personal token"
This paragraph is too complicated (at least for non-native speakers) to understand, as it uses a lot of subordinate and negative clauses. Could you please state more clearly what is allowed where?

_Some Git repository servers, like GitHub, support a "personal-token" or "access-token" as a password for HTTP Basic Authentication. You can use that kind of token as a password here too, and the "perso

[2019-11-06 22:13] mike-urnun-msft commented on #42232
@FrankGagnon Thank you for your feedback! We will review and update as appropriate.

[2019-11-06 22:16] mike-urnun-msft commented on #42238
@ahelland Thank you for your feedback! We will review and update as appropriate.

cc: @vladvino

[2019-11-06 22:17] peledins opened #42277 "unclear sentence"
"Although it's possible to create an unsecured cluster, if the cluster exposes management endpoints to the public internet, anonymous users can connect to it."

is this what is meant?:
"It is possible to create insecure clusters by exposing management endpoints to public internet that anonymous user can connect to".

*********************************************************************************

[2019-11-06 22:18] mike-urnun-msft commented on #42256
@tlentine Thank you for your feedback! We will review and update as appropriate.

[2019-11-06 22:20] SaurabhSharma-MSFT commented on #41953
@mattderosia I do not see any issue with the documentation.  I can see the licenses information as per the documentation -
Once you go to Azure AD blade > Groups > {Select your respective group} then you can see the group overview blade and you can see the page as stated in point [1](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-groups-resolve-problems#to-fin

[2019-11-06 22:20] peledins opened #42278 "cluster vs server certificate"
Is cluster certificate == server certificate in the texxt?
In security page of cluster I can see only cluster certificates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5258d97-54db-f748-46bc-50d3162a9bfa
* Version Independent ID: bd553e49-d868-c5e5-4b8a-0e1ed6e3ff5c
* Content: [Secure an Azure Service Fabric cluster

[2019-11-06 22:22] peledins opened #42279 "unclear last paragraph"
unclear structure here: "By default the cluster certificate has admin client privileges. These additional client certificates should not be installed into the cluster, but are specified as being allowed in the cluster configuration. However, the client certificates need to be installed on the client machines to connect to the cluster and perform any operations."

would it be better to have instead

[2019-11-06 22:23] fdmeyere opened #42280 "unclarity"
This section is not clear: "You can view reports across vaults and subscriptions, if the same storage account is configured for each of the vaults. The storage account selected must be in the same region as the Recovery Services vault."
How can you accomplish the same storage account for vaults spread across subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-06 22:23] NavtejSaini-MSFT commented on #42248
@jrowies We are checking this and we will get back to you.

[2019-11-06 22:25] xinyi-joffre opened #42281 "Input is reserved word"
While running through this sample, we ran into an issue where using "input" as a variable name did not work. We saw the section parameter: {"input": "/path/filename"} in the job details page, but the output was blank when printing the variable. This seems to be an issue with the reserved word "input". When we switched the word to "input_path", then it started working.

---
#### Document Details

⚠

[2019-11-06 22:26] BharathNimmala-MSFT commented on #40769
@deheems Thanks again for reaching out to us, post discussion with our Product Team it seems that we need some additional information from you to troubleshoot this issue further.

Requesting you to repro the issue for multiple times , capture the time stamp you did repro the issue and please collect the logs from below location based on your OS.

For Windows: C:\Users\<username>\AppData\Local\Temp

[2019-11-06 22:30] cherylmc commented on #42212
That's out of the scope of this article, I'm afraid. That's back in the realm of PKI. The steps to deploy or export would be very much a part of whatever PKI was set up specifically by the company. And the instructions would depend on the version they are using.

[2019-11-06 22:32] femsulu commented on #22673
@santhoshsomayajula  - any guidance on this. this has been long-running. your insight is much appreciated.

[2019-11-06 22:34] AskYous commented on #41901
My intention behind this issue was to get details about the knowledgebase. Not for it to answer a question. I was talking about the "download" and "get details" ability like documented in the C#. I'm not looking to `generateAnswer`. Sorry for the confusion.

[2019-11-06 22:34] AskYous commented on #41901
Ahh.... I pressed "close" on accident.

[2019-11-06 22:35] rzdebskiy commented on #19792
The issue reappears - today I also had the same problem. Looks like "input" is reserved word, when you rename it to "input_path" is starts working. Here is open issue on this - https://github.com/MicrosoftDocs/azure-docs/issues/42281. Please fix it in tutorial otherwise tutorial just doens't work - https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook

[2019-11-06 22:37] SnehaGunda commented on #42176
We will now close this PR if there aren't further questions.

#please-close

[2019-11-06 22:37] #42176 closed

[2019-11-06 22:39] diberry commented on #41901
@askyous This is the [download](https://docs.microsoft.com/en-us/javascript/api/@azure/cognitiveservices-qnamaker/knowledgebase?view=azure-node-latest#download-string--models-environmenttype--msrest-requestoptionsbase-) method and this is the [details](https://docs.microsoft.com/en-us/javascript/api/@azure/cognitiveservices-qnamaker/knowledgebase?view=azure-node-latest#getdetails-string--msrest-re

[2019-11-06 22:40] AskYous commented on #41901
Yes, but what I was looking for was documentation in this page. It's weird that C# has documentation but not in the NodeJS documentation.

[2019-11-06 22:44] javerdej opened #42282 "GUID not supported as Identifier (Entity ID)"
Customers are reporting they are attempting to use a GUID as the Identifier, or append a GUID to the EntityID URL in the EntityDescriptor, which is unsupported.  Can detail be added on what is supported and what is not to address this concern here?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee

[2019-11-06 22:45] FrankHu-MSFT commented on #42220
Can you try setting up this sample to see if it works in your environment? It could be a configuration/code issue, https://github.com/Azure/AzureAD-BYOA-Provisioning-Samples

If it doesn't work with the provisioning sample, I suggest filing an issue against the azuread-byoa provisioning sample for further help on this.

[2019-11-06 22:46] diberry commented on #41901
@askyous - ok, now I see the problem. I'll add this to the backlog.

[2019-11-06 22:48] mike-urnun-msft commented on #42264
Hi @livehands - Thank you for your feedback. Have you tried the samples on [this repo](https://github.com/Azure/azure-functions-dotnet-extensions/tree/master/src/samples/DependencyInjection) yet?

[2019-11-06 22:50] mike-urnun-msft commented on #41966
@jhueppauff Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-06 22:50] #41966 closed

[2019-11-06 22:52] femsulu commented on #32730
@dcbrown16 Kindly raise a support request using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have a support plan, Send mail to AzCommunity@microsoft.com, include your subscription and a link to this thread (for context) and we will gladly connect you with the Azure support team.

We will now close this issue but look

[2019-11-06 22:55] dcbrown16 commented on #32730
@femsulu can we please reopen to address my original request? @danieljosephh's comment is off topic.

[2019-11-06 22:55] femsulu commented on #42205
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-06 22:56] SnehaGunda commented on #41954
@reginbald Here is the context from our SME @milismsft

This is a known issue that it has to do with how the Cosmos client does the validation for the Cosmos endpoint. Because the app is not running on the host and the proper certificate registered on client container matching  that the emulator’s endpoint cannot be added in this case (Linux container), the user should try to disable the server SS

[2019-11-06 22:56] YutongTie-MSFT commented on #42276
@algattik
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpconnock Hi Jean, could you please take a look of this issue and update the document if necessary? Thanks.

[2019-11-06 22:56] kyanagimoto commented on #42128
Yes, I'm choosing MacOS.

[2019-11-06 22:57] femsulu commented on #42234
hanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-06 22:58] femsulu commented on #42246
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-06 22:58] YutongTie-MSFT commented on #42270
@johnadali
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley
Hi Patrick, could you please take a look of this issue? Thanks.

[2019-11-06 22:59] femsulu commented on #42262
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-06 23:00] femsulu commented on #42272
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-06 23:02] femsulu commented on #42273
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-06 23:03] femsulu commented on #42280
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-06 23:05] MonikaReddy-MSFT commented on #42268
@paulghodgson ,Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-06 23:08] guoch commented on #41211
jobs_info_list it is not empty in my previous test. As a workaround, I changed the code a bit and then worked in my side.

# Create a list of all job ids
jobs_list = []
for jobs_info in jobs_info_list:
  jobs_list.append(jobs_info.split(' ', 1)[0])
jobs_list = [x for x in jobs_list if x != '']

[2019-11-06 23:09] guoch commented on #41211
before jobs_list.append there were 4 spaces, looks the website removed the format

[2019-11-06 23:10] tfitzmac commented on #42182
@theheatDK - sorry, it is not possible right now to pass in a parameter file when deploying through the portal. To suggest new features, you can use the product feedback. This [item](https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/9053674-ability-to-add-edit-and-save-custom-json-template) is somewhat similar to your request.

[2019-11-06 23:11] tfitzmac commented on #42182
#please-close

[2019-11-06 23:11] #42182 closed

[2019-11-06 23:11] KranthiPakala-MSFT commented on #42269
@@darealgoku Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-06 23:13] KranthiPakala-MSFT commented on #42281
@xinyi-joffre Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-06 23:13] YutongTie-MSFT commented on #42265
@shwetams Hi, thank you for reaching out. I don't think this is a link to another page. Will check with the author to keep me honest.

@diberry Hi Dina,could you please check this for me?

[2019-11-06 23:19] MicahMcKittrick-MSFT commented on #42277
@peledins thanks for the feedback. As all feedback is on the same document, we can address all issues directly in one issue. I will close the other ones and look into your questions and provide an update.

#42278
#42279

[2019-11-06 23:19] MicahMcKittrick-MSFT commented on #42278
Closing and working off #42277

[2019-11-06 23:19] #42278 closed

[2019-11-06 23:20] MicahMcKittrick-MSFT commented on #42279
Closing and working off #42277

[2019-11-06 23:21] #42279 closed

[2019-11-06 23:26] Mike-Ubezzi-MSFT commented on #40649
This is an issue needs to be routed to Azure Support. If you have an Azure support plan, please engage Azure Support to have this issue investigated. If you do not have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/), please send me your Azure Subscription ID via eMail to [AzCommunity](mailto:azcommunity@microsoft.com) and I will return instructions to have a support requ

[2019-11-06 23:28] xtellurian commented on #42156
@KalyanChanumolu-MSFT that appears to work, thanks :)

This could be a useful thing to include in the docs.

[2019-11-06 23:32] MarileeTurscak-MSFT commented on #42206
They are talking about two different things. This article is talking about conditional access policies in general. "The policy is not set directly on a client application. Instead, it is applied when a client calls a service. For example, a policy set on SharePoint applies to clients calling SharePoint. **A policy set on Exchange applies to Outlook.**" The other doc , however, is talking specifica

[2019-11-06 23:32] MarileeTurscak-MSFT commented on #42206
https://github.com/MicrosoftDocs/azure-docs-pr/pull/95093

[2019-11-06 23:33] MarileeTurscak-MSFT commented on #42206
I am closing this out but if you have further questions or think additional clarity should be added, feel free to tag me or @MicrosoftGuyJFlo in the comments and we will gladly continue the discussion.

[2019-11-06 23:33] #42206 closed

[2019-11-06 23:36] skantipu opened #42287 "Screen API - Even though the 'listId' query param is empty or excluded from the request, response uses one of my created lists"
Ex:
Request post URL: https://westus.api.cognitive.microsoft.com/contentmoderator/moderate/v1.0/ProcessText/Screen?autocorrect=false&PII=false&classify=True
Note that listID is not included
But in the response you see the 'terms' having objects showing one of my created lists.
 "Terms": [
        {
            "Index": 0,
            "OriginalIndex": 0,
            "ListId": 661,
            "Term

[2019-11-06 23:37] mattderosia commented on #41953
Yes that part works fine…

Now reference step 3 on the page. See the RED BOX? I used to have that pinned to my dashboard (see error below), it was used to alert me that licenses needed attention.
“3.To find all groups that contain at least one error, on the Azure Active Directory blade select Licenses, and then select Overview. An information box is displayed when groups require your attention.”

[2019-11-06 23:43] msaburnley commented on #40336
@v-mipasq I have removed the outdated video from the documentation. Thanks for the feedback!

[2019-11-06 23:43] msaburnley commented on #40336
#please-close

[2019-11-06 23:43] #40336 closed

[2019-11-06 23:45] Mike-Ubezzi-MSFT commented on #42057
@anindya5 Thank you for the update. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-06 23:45] #42057 closed

[2019-11-06 23:46] TravisCragg-MSFT commented on #42210
@ChrisSommers the source will be the AGs IP, and will come from the AG's subnet. [How App Gateway and NSGs interact are explained Here](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#azure-virtual-network-and-dedicated-subnet).  the best way to configure a UDR is to set a next hop type of Internet will go to a firewall or other device.

Unless you have UDRs that

[2019-11-06 23:49] YutongTie-MSFT commented on #42258
@andrePKI
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-06 23:55] ScottHolden commented on #20348
Hi @edfreeman,

Interesting, firstly I'd recommend logging a support ticket via the MS portal.

Is it possible to see the a sanitized view of the webapp/virtualnetwork config?

I'd also try explicitly setting depends on order between all sub-resources on the WebApp for testing purposes.

[2019-11-06 23:55] TravisCragg-MSFT commented on #42213
@andrePKI Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-06 23:59] ohorvath opened #42288 "Minor version in ARM template"
It seems there is no way to provide AKS minor version without patch level in ARM templates, which means we have to query the available minor/patch versions every single time and pass the value as a parameter to the json params file. It would be much easier if we can specify only minor in ARM and resource manager would deploy the latest patch version.

---
#### Document Details

⚠ *Do not edit this

[2019-11-07 00:00] vladvino commented on #42238
@ahelland At this time we don't plan to provide Windows-based container image but will listen to customer feedback during preview.

[2019-11-07 00:07] MarileeTurscak-MSFT commented on #42229
@ashkansirous
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 00:09] vladvino commented on #42238
#please-close https://github.com/MicrosoftDocs/azure-docs-pr/pull/95099

[2019-11-07 00:09] #42238 closed

[2019-11-07 00:20] Adam-Smith-MSFT commented on #42257
@amitpoonia8142  Please use the latest version of Azcopy which have a different syntax: https://github.com/Azure/azure-storage-azcopy

[2019-11-07 00:27] femsulu commented on #32730
Re-opened. sorry for the confusion, @dcbrown16

[2019-11-07 00:27] MicahMcKittrick-MSFT commented on #42288
@ohorvath I will take a look to confirm if this is possible or not. However if not, you can file feature suggestions here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2019-11-07 00:28] Alberto-Vega-MSFT commented on #42267
Hi @aisbergde Thanks for trying Azure IoT Hub! You have other options than Python, the [SDK also supports other programming languages]( https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-device-sdks)

Each of these SDK's has an open source repository on GitHub and they have some samples that should help you,  like in the case of [IoT Hub SDK C# Samples](https://github.co

[2019-11-07 00:30] MarileeTurscak-MSFT commented on #41984
I think those are service principals. Can you try getting the service principals and see if it corresponds to the list you're seeing in that blade? https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-3.0.0

[2019-11-07 00:42] MarileeTurscak-MSFT commented on #40093
I agree that this requires a support case. If you would like for me to open a free one please send me an email at AzCommunity@microsoft.com

[2019-11-07 00:42] #40093 closed

[2019-11-07 00:46] YutongTie-MSFT commented on #42260
@andrePKI
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-07 00:48] KranthiPakala-MSFT commented on #42122
@sawolfe91 We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

@nabhishek Could you please have a look at the above feedback from @sawolfe91 ? - Thanks.

[2019-11-07 00:48] hpranav opened #42292 "Cancel RI and avoid the termination fee?"
Is there a threshold of number of days where customers can cancel RI without paying termination fees ? (assuming they have not used the RI)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b45
* Version Independent ID: 445b1c77-472a-e0f7-45fc-168f4a2454f3
* Content: [Self-service exchange

[2019-11-07 00:49] mikew1927 opened #42293 "Why is Azure Bastion not available in my region and when will it be available?"
There is no explanation why Azure Bastion is GA but still not available in my region. I cannot use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent ID: cdacb6c7-1d83-c62b-9204-f04d9955722c
* Content: [Azure Bastion FAQ](https://docs.microsoft.com/en-us/azure/

[2019-11-07 00:49] femsulu commented on #41922
adding @qianw211 for input.

[2019-11-07 00:50] YutongTie-MSFT commented on #42240
@jpfowler11 Thank you for the information.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-07 00:50] #42240 closed

[2019-11-07 00:54] rboucher commented on #41219
Still waiting to hear back.  Pinged dev again.

[2019-11-07 00:56] MarileeTurscak-MSFT commented on #41445
This appears to be based on the tenant and your role in it. If you log in with your organizational account you should see the "Edit security info" text. I'm closing this out for now but will update the thread when I hear more from the product team.

[2019-11-07 00:56] #41445 closed

[2019-11-07 01:07] TravisCragg-MSFT commented on #42215
@CasperJ Thanks for the feedback! I was able to reproduce this, and I am following up now to get more information.

[2019-11-07 01:08] MarileeTurscak-MSFT commented on #42282
@javerdej
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-07 01:11] KranthiPakala-MSFT commented on #42167
@angellmethod I have checked with internal team and confirmed that the current link is correct.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-11-07 01:22] MarileeTurscak-MSFT commented on #42282
Good feedback. I made a pull request to add more instructions for how to format the Entity ID URL. https://github.com/MicrosoftDocs/azure-docs-pr/pull/95107

I'll leave it open for review by @msmimart

If you have further questions feel free to tag us in the comments or open a new issue and we will gladly continue the discussion.

[2019-11-07 01:22] #42282 closed

[2019-11-07 01:23] TravisCragg-MSFT commented on #42222
@andrePKI Thanks for the feedback! I am unsure of this as well.

@malopMSFT can you comment on why 172.16.0.0/12 does not have a default route?

[2019-11-07 01:28] johnadali opened #42294 "Syntax error in Download Blobs code snippet"
There is a syntax error in the Download Blobs section code snippet. The line

`BlobDownloadInfo download = await blob.DownloadAsync(); `

should read as follows:

`BlobDownloadInfo download = await blobClient.DownloadAsync();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version

[2019-11-07 01:33] TravisCragg-MSFT commented on #42274
@digienigma I am not aware of this change, but it was likely done due to a known issue that is [discussed in the "Important" section Here](https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics#enable-flow-log-settings). Even if this setting was configured, the logs were not being properly deleted.

Please let me know if you need any more information.

[2019-11-07 01:34] NavtejSaini-MSFT commented on #42248
@jrowies Please find [this ](https://medium.com/@gary.strange/cosmosdb-change-feed-processing-c002448a6ca)document which gives more information regarding change feed in a geo replicated scenario.
![1_LFaFZlMa5GNS2-fLl9AeFg](https://user-images.githubusercontent.com/52257742/68352527-b5b7a680-00d4-11ea-852f-2a92874be74c.png)

Hope this helps. Please get back to us if any questions.

[2019-11-07 01:35] TravisCragg-MSFT commented on #42293
@mikew1927 Azure Bastion is only GA in a few select regions, but we will be bringing it to other regions. If you would like us to bring it to your region, please let us know at [Azure Networking's Feedback.Azure.Com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply

[2019-11-07 01:35] #42293 closed

[2019-11-07 01:44] sedelrio commented on #8610
Hi everyone, I am actually looking for the same information about how would be the right process to rotate the customer-managed key.

[2019-11-07 01:50] digienigma commented on #42274
Hello Travis,

Must be.  So now there are at least 2 discrepancies on the public doc.  When enable NSG log now, it just set to indefinitely, without giving user any option to change.  2nd, the delete log link provided is a PowerShell script, which depends on the value of retention days.  If set to 0 (indefinite), that script won’t delete any log.

I don’t have screenshot on this device.  I will re

[2019-11-07 01:52] femsulu commented on #42292
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-07 02:13] KranthiPakala-MSFT commented on #42269
@darealgoku I have checked with with internal team about your query and yes, SAP ERP (ECC) 6.0 EHP 7 is supported by SAP table connector. Please ensure that the SAP ECC system has the SAP support package stack released after 2015 installed.

Let us know if you have any further query.

[2019-11-07 02:23] FrankHu-MSFT commented on #42127
Hey @shadewlkr can you please clarify what the issue is?

If you follow the steps below :

[code]

It should work properly. Are you saying after updating it to support multiple domains it still is not working properly?

[2019-11-07 02:27] FrankHu-MSFT commented on #42235
Hey @markdordoy
There is a seperate doc on how to do this in the portal : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization

It sounds like what you're describing is possible per the doc provided above, please let us know if you have any questions in regards to the doc. If not I will be closing this git issue by end of day tomorrow.

Thanks,

[2019-11-07 02:34] KalyanChanumolu-MSFT commented on #42174
@cmosqu We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-07 02:34] #42174 closed

[2019-11-07 02:35] ranokarno opened #42296 "Firewall inspect incoming public ip before NAT ?"
does firewall inspect network-rules or application rules prior to public IP NAT ?
if not, will it defeat the purpose of having firewall to secure virtual machine behind the firewall ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b33cf5-3747-59b6-29b4-9aa076a6d271
* Version Independent ID: ddd15c52-275e-68e6-513e-07

[2019-11-07 02:35] KalyanChanumolu-MSFT commented on #42194
@VKAlwaysWin We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-07 02:35] #42194 closed

[2019-11-07 02:40] KalyanChanumolu-MSFT commented on #42156
@xtellurian Thank you for the suggestion.
Let me see if I can add it to the documentation. If not I will add it to the Code Samples [here](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/CodeSamples)

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-07 02:40] #42156 closed

[2019-11-07 02:48] shadewlkr commented on #42127
Hello,

Sorry, no, I'm not talking about the issuer URI that gets sent in the outgoing assertion to Azure AD from ADFS.  The claim rule you indicated changes the Issuer value to the custom URI as you indicated.

I'm talking about the incoming SAML request from Azure AD to ADFS.  It contains an issuer of urn:federation:MicrosoftOnline (the Relying Party ID) before ADFS sends it's outgoing assertion

[2019-11-07 02:54] KrishnaG-MSFT commented on #42242
@shubray Glad to know that you have self resolved the issue. Thanks for the update.

[2019-11-07 02:55] amitpoonia8142 commented on #42257
@Adam-Smith-MSFT  I  am using version 10.3.1. Can you please share the syntax.

[2019-11-07 03:01] KrishnaG-MSFT commented on #42255
@keggster101020 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-11-07 03:05] mathieu-benoit commented on #35696
Hi @mlearned, @Karishma-Tiwari-MSFT, @MicahMcKittrick-MSFT and @xSilverboltx, looks like this feedback could now be closed? NodePool is now GA (Azure CLI version 2.0.76), the doc describes the difference between `az aks upgrade` and `az aks nodepool upgrade` + if you try to upgrade a nodepool to 1.14.7 by having the controlplane at 1.13.11 you will get the right message now: `Agentpool Version 1.1

[2019-11-07 03:27] dcbrown16 commented on #42157
@stephbaron thanks, we will consider the Action Required, Information and Security to be types of "Health Advisories" for the moment.

One more question came up. We noticed that the top of the page actually lists 6 "classes" including the one below. Is there an incidentType that corresponds to this one? Is it a sub-category of Service Issues?

[2019-11-07 03:38] neeleshray-msft commented on #42271
@Roblarson Thank you for your query. We will check and update on this soon.

[2019-11-07 03:46] JefTek opened #42297 "Add the application manifest limitations to this list"
Add an item referencing the application manifest size limitations as mentioned in this link https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-limits

The 1200 entries in collections contained in an application manifest and link to the above doc link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-07 03:51] dcbrown16 opened #42298 "Default vs Service Health notification content"
"Azure communicates a schedule for planned maintenance by sending an email to the subscription owner and co-owners group. You can add additional recipients and channels to this communication by creating Azure activity log alerts."
Two questions about this.
1. What is a "subscription owner and co-owners group"? Please update this to use the correct terms as found in the document below. I suspect th

[2019-11-07 03:57] YutongTie-MSFT commented on #42252
@thehayat
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@j-martens Hi, could you please check this issue and update the link? This link is broken now. Thank you!

[2019-11-07 03:59] briojoel opened #42299 "ExtensionSnapshotFailedCOM error is failing my VM back up everyday."
Hi

We have a production server running in Windows 2016. This is a legacy application.
I scheduled a VM back every day at 7 AM up using Azure Backup. The backup was successful for the first two days. It started failing from the last 2 days.

Below are the error codes and messages from the console.

Error Code | ExtensionSnapshotFailedCOM

Error Message | Snapshot operation failed due to COM+ error

[2019-11-07 04:00] YutongTie-MSFT commented on #42119
@fhe-fr
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-07 04:00] #42119 closed

[2019-11-07 04:04] YutongTie-MSFT commented on #42120
@amkondi Thanks for the information. I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msmbaldwin Hi, could you please help with this issue and update the document if necessary? Thanks.

[2019-11-07 04:14] souravmishra-msft commented on #42297
@JefTek, Thank you for the request. We are looking into this and will add the changes after the review.

[2019-11-07 04:21] msrini-MSFT commented on #42296
@ranokarno , yes it does inspect Network rule and application rules. Do you have a setup where it is not working as expected?

[2019-11-07 04:22] mamccrea commented on #40665
Hi @thomasjsweet - thank you again for the feedback. I've updated the doc according to your experience, except for setting "Trust server certificate" in SSMS. I performed the tutorial with a new instance of SSMS and was not required to do any additional configurations after install.

The changes should go live tomorrow.

#please-close

[2019-11-07 04:22] #40665 closed

[2019-11-07 04:23] lcp3npedusg opened #42300 "azcopy"
# Azure documentation issue guidance
C:\Users\lcp3\azcopy>azcopy copy 'C:\myDirectory' 'https://aisgaiap.blob.core.windows.net/aiap5-assessment-submissions​?sv=2018-03-28 &ss=bf&srt=sco&sp=rwac&se=2019-11-10T15:59:59Z&st=2019-10-15T05:35:54Z&spr=htt ps,http&sig=nZQ9yQBd2fw3wLnmCrEpO%2FubCPPicPVA%2BGspw9E6p1Q%3D' --recursive

failed to parse user input due to error: the inferred source/destination

[2019-11-07 04:33] mamccrea commented on #42245
#please-close

[2019-11-07 04:33] #42245 closed

[2019-11-07 04:34] yashesvi commented on #42292
5 days.

[2019-11-07 04:35] CHEEKATLAPRADEEP-MSFT commented on #42140
@guntaled Multi-protocol access on Data Lake Storage is **generally available** and is available in all regions. Some Azure services or blob storage features enabled by multi-protocol access remain in preview.

Everyone should have lifecycle management in their ADLS gen2, but there's a inconsistent with this feature which our engineering team is working on the fix.

[2019-11-07 04:42] Yiyito11 commented on #40390
ANy news regarding this? same issue when trying to update load balancer AKS public ip:

`az aks update --resource-group xxxxxxxxx --name aksname --load-balancer-outbound-ips "/subscriptions/f48099a8-xxxxxxxxxxxxxxxxxxxxxxx/resourceGroups/MC_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX_eastus/providers/Microsoft.Network/publicIPAddresses/testpip"`

Operation failed with status: 'Bad Request'. Details: Er

[2019-11-07 04:43] jeevansd commented on #42191
@Idanshenhav I think you are seeing wrong UI for AWS User Provisioning. So can you please make sure that you are adding AWS gallery application? Then it will work correctly.

[2019-11-07 04:44] jeevansd commented on #42191
#please-close

[2019-11-07 04:44] #42191 closed

[2019-11-07 04:49] neeleshray-msft commented on #42143
@larryms  We will assign the thread to the author for their inputs on this.

@TerryLanfear Would you be able to check on this ?

[2019-11-07 04:50] neeleshray-msft commented on #42064
@bc-109 Thank you for the update. We will be closing this thread now

[2019-11-07 04:50] #42064 closed

[2019-11-07 04:58] tamram commented on #40311
@craigc40 - Thanks for your feedback. I've addressed it in the article, and the changes should go live in the next day or so.

Our CLI examples demonstrate Bash. I added a note to clarify that you may need to make syntax modifications to use another environment.

#please-close

[2019-11-07 04:58] #40311 closed

[2019-11-07 05:05] aayush3667 opened #42301 "error logs in app service does not show in azure blobs"
HI,
I am trying to generate error logs in app service and store them in azure blobs.

In app service logs, I have turned on the option for blob storage in application logging.
After that, I am generating the 500 error as well as 503 and (divide by zero) error.
These error should get displayed in application log stream as well as get stored to blob storage.
But nothing is happening.

Thank you

Edi

[2019-11-07 05:05] hpranav commented on #42292
Thanks Yashesvi. Are we able to update the documentation to reflect that

[2019-11-07 05:08] ram-msft commented on #42287
@skantipu Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-07 05:12] PramodValavala-MSFT commented on #42256
@tlentine Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-07 05:12] VikasPullagura-MSFT commented on #42198
@jnoller Thanks for the details.

[2019-11-07 05:12] VikasPullagura-MSFT commented on #42198
@raduart I will now proceed to close this issue, as the PG team already confirmed that the doc is getting revised.

[2019-11-07 05:12] #42198 closed

[2019-11-07 05:15] VikasPullagura-MSFT commented on #42298
@dcbrown16 Thanks for the feedback. I am assigning the issue to content author for reviewing and updating the doc as applicable.

[2019-11-07 05:16] VikasPullagura-MSFT commented on #42298
@shants123 Can you please take a look at this feedback, add your comments and update the document as required.

[2019-11-07 05:22] RohitMungi-MSFT commented on #42090
@abhinavkulkarni We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-11-07 05:22] #42090 closed

[2019-11-07 05:28] darealgoku commented on #42269
@KranthiPakala-MSFT thank you for your response. I will check the Support Package Status.

[2019-11-07 05:37] SumanthMarigowda-MSFT commented on #42294
@johnadali Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-07 05:54] KalyanChanumolu-MSFT commented on #42263
@jwisener Thank you for the feedback.
I believe you are referring to the lack of file system integration with CLR in SQL managed instance.

Integration with other services like Azure blob storage, Azure Data Lake, Hadoop, BI Tools etc is made possible via Polybase which in supported only on Azure DataWarehouse today.

There is already an open [feature request](https://feedback.azure.com/forums/915

[2019-11-07 05:56] javeddevc opened #42303 "Azure Arm Template Issue"
Hi All,

I am preparing an ARM template to create vNet, subnets and NSG using ARM template but getting error.. below is the code and appreciate your immediate response..

{   "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {

        "virtualNetworks_name": {
            "defaultValue": "vnetname",

[2019-11-07 06:09] cap273 commented on #37595
I think the change requested has not yet been reflected in the documentation.

[2019-11-07 06:22] AjayKumar-MSFT commented on #42301
@aayush3667, Thanks for leveraging Azure Docs feedback channel to raise this question!

Could you please share the Azure Doc for which this feedback is applicable to?

Just to highlight, this channel is reserved for ‘Azure docs’ questions; for doc feedback and content improvements, we recommend posting technical questions on the [technical forum1 ](https://social.msdn.microsoft.com/Forums/en-US/ho

[2019-11-07 06:26] alexmarshall132 opened #42304 "This page appears to no longer be accurate"
Currently the only way to register an application in the Amazon Developer Console is with Amazon Moments, which doesn't support entering web Allowed JavaScript origins or Allowed Return URLs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e8f05f-7ae6-d266-bb6f-5adf0fe4f585
* Version Independent ID: faa8058e-7bea-900b-

[2019-11-07 06:26] aayush3667 commented on #42301
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs?source=docs

[2019-11-07 06:27] #42304 closed

[2019-11-07 06:36] wildlyinaccurate commented on #33312
I'm glad you made this issue. I also spent far too long trying to get output bindings work with Mongo.

[2019-11-07 06:39] VikasPullagura-MSFT commented on #42109
@peirens-bart Thanks for confirming that the issue is resolved.
I will followup with the doc author on the feedback you provided.

[2019-11-07 06:40] VikasPullagura-MSFT commented on #42109
@athinanthny Can you please add your comments for the feedback provided.

[2019-11-07 06:40] RohitMungi-MSFT commented on #42170
@tellstoriesatbedtym We have a sample for directline speech for nodejs javascript in the experimental directory in this github [repo](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot). We hope this helps.

[2019-11-07 06:44] RohitMungi-MSFT commented on #41473
@ukerzel We hope the above guidance on the usage works for you. We will now proceed to close the issue. Please do let us know in case of any queries.

[2019-11-07 06:44] #41473 closed

[2019-11-07 06:50] ManojReddy-MSFT commented on #42075
@markarnolditpro I can see the option to purchase it in my tenant.
![image](https://user-images.githubusercontent.com/44399320/68366293-f5c06d00-0158-11ea-8450-c9e216403865.png)

Can you share a screenshot of what you see on the Tinfoil security page?

[2019-11-07 06:55] mjazwiecki commented on #42104
any news on this?

[2019-11-07 06:57] ManojReddy-MSFT commented on #39759
@jgwinner As we are working with Microsoft support on this, I will go ahead and close the issue for now. We will update the thread with the final solution.

[2019-11-07 06:57] #39759 closed

[2019-11-07 07:00] ManojReddy-MSFT commented on #41092
@safeng510 The document has been updated accordingly. Thanks for reporting this.

[2019-11-07 07:00] #41092 closed

[2019-11-07 07:02] RohitMungi-MSFT commented on #42027
@jbeltranluna I am reaching out internally for help. In the meanwhile could you please elaborate the API used for the message seen above? It looks like 2.0 was used, you can try to use [3.0-Preview](https://westus2.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/58fcce195aca2f08a4104343/console) API's to check if the operation can be successful.

[2019-11-07 07:39] SadiqhAhmed-MSFT commented on #42003
@qianw211  for insights.

[2019-11-07 07:45] asergaz commented on #41992
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-07 07:45] #41992 closed

[2019-11-07 07:48] xnicolaguarinox commented on #36388
@SaurabhSharma-MSFT thanks for sharing the link Advancing Windows 10 as a passwordless platform.https://www.microsoft.com/security/blog/2019/06/10/advancing-windows-10-passwordless-platform/
Would you mind elaborating how this would apply in a business background? Shall we ask users to create a passwordless phone number Microsoft account on their own? How can administrator monitor this?

[2019-11-07 08:00] xnicolaguarinox opened #42305 "connection to user account"
Hi, at point 4 you state:
If asked for credentials, sign in to your email account so that Logic Apps creates a connection to your email account.
We are willing to use Logic Apps to automate tasks, we don't want action to be executed with a user  email account.
This doesn't make sense, from an identity protection/management viewpoint.
I can link a Logic App to my account, but what if I leave the or

[2019-11-07 08:00] KetanChawda-MSFT commented on #42184
@seunnuga93 Azure Cosmos DB has changed the terminology in Azure Cosmos DB.NET V3 SDK.

From the [document](https://docs.microsoft.com/en-in/azure/cosmos-db/sql-api-dotnet-v3sdk-samples):

I am assigning this issue to the content author to the content author to evaluate and update as appropriate.

[2019-11-07 08:10] eflamm opened #42306 "Updates for Gen2 (Synapse)"
Is there a new set of cmdlets coming for Gen2 (Azure Synapse Analytics)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b087380-314f-ea5b-f8f7-4c3837587f4e
* Version Independent ID: feed1c05-d949-eabf-472f-9d94cc6c3894
* Content: [PowerShell cmdlets - Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql

[2019-11-07 08:10] KetanChawda-MSFT commented on #42183
@silvanknecht `samples-workitems` is  The name of the event hub from which to trigger.

I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2019-11-07 08:10] neb83 commented on #42226
Hi,

Server 2012 R2 and AD Connect 1.4.18.

[2019-11-07 08:17] arkiaconsulting opened #42307 "Key Vault References"
This page lacks the explanations on how to add a key-value bound to a Key Vault Secret. (https://github.com/Azure/AppConfiguration-Announcements/issues/1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf224ca3-6c4a-37fb-c8f5-cb8f99aafe2d
* Version Independent ID: 53e84d35-ebf0-ea64-b8ed-d01a86854fc0
* Content: [Azure

[2019-11-07 08:22] dcurwin commented on #42205
#reassign:pvrk

[2019-11-07 08:25] dcurwin commented on #42280
#reassign:adityabalaji-msft

[2019-11-07 08:27] dcurwin commented on #42262
#reassign:sogup

[2019-11-07 08:30] PramodValavala-MSFT commented on #42305
@xnicolaguarinox Thanks for the question! We will review and get back to you!

[2019-11-07 08:30] Majo4443 commented on #42203
Thx for your answer. I think those users under APIM aren't really AD users, am I right? I found some settings under enterprise application settings ('Users and groups', after 'User assignment required' is enabled and 'Who can consent' is set to 'Admins and users'). Then only specified users are allowed to access application from APIM...

[2019-11-07 08:35] xenogew commented on #41465
@ram-msft Could you give me some information? Is the file downloaded from Custom Vision Portal, is which type of model between "Classification" or "Object Detection"?
Or do you have option to make an Object Detection model?

[2019-11-07 08:41] sujayvsarma opened #42308 "[Azure Maps] - Display map location names always in a single language"
Hello again,

The default mode of Azure Maps displays names of places in the local language and script of the particular place (though in some places, this is always in English). For example, if you zoom out and look at the world map, I see places in Russia in Russian, places in the Middle East in Arabic and so on.

How do I force the map to always render the place names in a single language? I tr

[2019-11-07 08:41] KrishnaG-MSFT commented on #42304
@alexmarshall132 Hope you have self resolved and thus closed the issue. Thanks for the update.

[2019-11-07 08:42] aisbergde commented on #42267
Yes, after writing my comment I found this "But it sounds like you might be more interested on this blogpost How to send MQTT messages to an Azure IotHub by MQTT.fx client" And this was what I was looking for. It answered most of my questions.
Maybe you could add some of this links direkty into the documentation?

[2019-11-07 08:44] ofalk commented on #42037
Hey @MicahMcKittrick-MSFT !
Yes, it might differ a bit. Please keep me posted about the progress about this.

Can you also point me to the docs that are specific to RHEL?

Thanks,
 Oliver

[2019-11-07 08:45] memildin commented on #39286
Hi @sonnycloudtp,
Thanks for letting us know about this issue. Since you raised your concerns this page has undergone a significant number of revisions.
I'm marking this as closed because I think everything you've raised has been addressed.
If you feel that there are still things that need updating, please reopen this issue and we'll handle them.
#please-close

[2019-11-07 08:45] #39286 closed

[2019-11-07 08:46] kiazhi opened #42309 "Missing Service Tag"
Hi,

Is there a Service Tag for rhui-1.microsoft.com 52.187.75.218/32 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://docs.microsoft.com/en-us/azure/virtual-network/servi

[2019-11-07 08:50] kiazhi commented on #42309
What is the Service Tag for ops.opinsights.azure.com 40.78.234.60/32 ?

[2019-11-07 08:50] aripuisto opened #42310 "Broken link"
For best practices information, see Azure availability best practices - link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038b6010-08bb-c9f4-1a3e-b578d3ef87a3
* Version Independent ID: 45d4236c-e864-23e0-b2d1-87b512d81276
* Content: [Azure availability options for Windows VMs](https://docs.microsoft.com/en

[2019-11-07 08:52] RohitMungi-MSFT commented on #42027
@jbeltranluna Could you also confirm if you are using the authoring key while calling the API?

[2019-11-07 08:58] VikasPullagura-MSFT commented on #42310
@aripuisto  Thanks for the feedback! We are currently investigating this link redirection issue and will get back on this.

[2019-11-07 09:01] msrini-MSFT commented on #42309
@kiazhi , You can use AzureCloud service tag which covers the above mentioned IPs.

[2019-11-07 09:08] alpinedelight opened #42312 "Managed Identity and Credential Passthrough"
This doc should be updated to include using managed identities and credential passthrough to authenticate against ADLS. I.e. https://techcommunity.microsoft.com/t5/Azure-SQL-Data-Warehouse/How-to-use-PolyBase-by-authenticating-via-AAD-pass-through/ba-p/862260 and/or CREATE DATABASE SCOPED CREDENTIAL msi_cred WITH IDENTITY = 'Managed Service Identity';
GO

CREATE EXTERNAL DATA SOURCE ext_datasource

[2019-11-07 09:11] ab-mohamed opened #42313 "iSCSI VM size"
Hi,

Regarding the following part:

I noticed that you advise using `Standard_E2s_v3` or `Standard_D2s_v3` VM sizes to create iSCSI target VM.

As the document was clear to ensure that iSCSI target has a premium OS disk, would it be possible to use another VM size that has Premium disk support like `B1ms` or `B1s` in case of small implementations?

Best regards,
Abdelrahman Mohamed
Alliance Soluti

[2019-11-07 09:12] MarkDordoy commented on #42235
@FrankHu-MSFT thanks for getting back to me. I have seen the page you linked and its good for describing doing what i need via the gui, However i need assistance or better understanding on how i can achieve such a configuration using powershell.

Ideally I'd be able to define the policy via the GUI then export the configuration so i can use it in a pipeline.

My goal is to achieve setting up SAML

[2019-11-07 09:24] guderkar commented on #40390
az aks update works for me. Important thing is that public IP MUST be STANDARD SKU.

[2019-11-07 09:29] AleksCallebat opened #42314 "Roadmap for integration of classic Text modules"
Hello,

Is there an ETA for implementing the pretty cool text modules that are on the studio onto the new designer?

Cheers

Aleksander

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47f410a2-2269-9f11-1db1-1e6a9b002c29
* Version Independent ID: 8062d741-06b6-6afd-ca62-0b10f82df261
* Content: [Algorithm & module refere

[2019-11-07 09:34] thommck commented on #42212
Shouldn't you at least link to the appropriate guide for Microsoft's own PKI service? The majority of companies connecting S2S VPNs to Azure will be using it. It would really help and seems like a simple thing to add.
________________________________
From: Cheryl McGuire <notifications@github.com>
Sent: Wednesday, November 6, 2019 10:30:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github

[2019-11-07 09:43] jacobmohl commented on #41917
Hi again - The refrence without version works only with the SecretURI format and not with the alternate format with VaultName, SecretName.

Ex.
WORKS: @Microsoft.KeyVault(SecretUri=https://<MYKEYVAULT>.vault.azure.net/secrets/<MYSECRET>/)
DONT WORKS: @Microsoft.KeyVault(VaultName=<MYKEYVAULT>;SecretName=<MYSECRET>)

Is that desired behavior?

[2019-11-07 09:46] Veena-A opened #42315 "Request"
Its helpful but please give the github link for examples.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/

[2019-11-07 09:55] theguate opened #42316 "Next steps button "Terraform on Azure" points to Ansible"
The hyperlink point to https://docs.microsoft.com/en-us/azure/ansible/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83bb7059-c6aa-522c-474a-f516e453fe4f
* Version Independent ID: 3efbdbd2-2076-5302-cc3f-0ce765bf9e71
* Content: [Tutorial - Create a Linux VM with a managed identity from the Azure Marketplace image usin

[2019-11-07 09:56] mlottner commented on #41803
@cwolansky-mm I've updated the prouct support guidance above based on further clarification with our product and developer teams.

Suggest reaching out to your Azure Security Center for IoT product or support rep to help them plan a solution that you **can** use with your specific scenario.

Thanks again for your question and contribution to our community.

[2019-11-07 09:57] mlottner commented on #41803
#please-close

[2019-11-07 10:04] Farzad-Jalali opened #42319 "possible bugs or mis documentation in multiple scopes"
I have done the above example and it works , now I add one extra scope which is https://dynamics.microsoft.com/business-central/overview/user_impersonation (I need it for Business central )
but it fails and said bad request, how can I add the extra scope ?

here is what I have done, how can I add the extra scope?
POST {tenant}/oauth2/v2.0/token
Host: login.microsoftonline.com
Content-Type: applica

[2019-11-07 10:04] jonathan-vouch commented on #25667
@TravisCragg-MSFT i guess this never happened in the end :(

[2019-11-07 10:11] KetanChawda-MSFT commented on #42315
@Veena-A Thank you for your feedback. The intent of this document is to explains how to work with Azure Blob storage bindings in Azure Functions.

All of this examples shall not be available in GitHub repository but you can scan [Azure Samples Repository](https://docs.microsoft.com/en-us/samples/browse/?products=azure-functions&term=azure%20function&languages=java) for generic scenarios.

Since th

[2019-11-07 10:11] #42315 closed

[2019-11-07 10:12] KetanChawda-MSFT commented on #42185
@spelluru / @banisadr any thoughts here on the ask ?

[2019-11-07 10:24] dmc91 commented on #40961
Thanks @DJKampouris, works great.

[2019-11-07 10:38] SumanthMarigowda-MSFT commented on #42008
@joshlcoffin Thanks for the question! Your feedback has been shared with the content owner for further review.

[2019-11-07 10:38] SumanthMarigowda-MSFT commented on #42021
@eraser215 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-07 10:38] #42021 closed

[2019-11-07 10:40] SumanthMarigowda-MSFT commented on #42103
@jurjenoskam Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-11-07 10:43] VikasPullagura-MSFT commented on #42313
@ab-mohamed Thank you for sharing the query. I am assigning this issue to the document author for addressing this query.

[2019-11-07 10:44] VikasPullagura-MSFT commented on #42313
@MSSedusch Can you please confirm if the other size VM's can be used.

[2019-11-07 10:45] edfreeman commented on #20348
Hi @ScottHolden,

Thanks for your response!

After opening a ticket, it transpires that some of our app service plans were being deployed to stamps (datacenters) within East US 2 which didn't support the new preview integration feature. Some stamps do support it, some don't. Hence the inconsistency in our deployment results!

The docs list one of the limitations as:

However, the only way you can

[2019-11-07 10:48] jbeltranluna commented on #42027
Hello, it seems my messages are getting to the Product Team, but I don't think they are understanding me. It seems to me that there is an old deleted LUIS App that got stuck somewhere.

Yes, when I use an authoring to key to get the details of the app it says that there isn't any app with that ID in my subscription. When I use a prediction key on that app, the API says that the endpoint is not sup

[2019-11-07 10:58] ChrisSommers commented on #42210
Thanks Travis. So with the UDR as it is (with a route for 0.0.0.0/0 going to an Azure Firewall), the VMs in the backend pool will send their http/s replies back through the firewall rather than back to the AG.
If the source IP of the traffic from the AG to the VMs is the AG's IP, I presume I can have a "vnetlocal" route on the VMs' subnet for the AG's IP, so the reply traffic doesn't get sent to t

[2019-11-07 11:06] SumanthMarigowda-MSFT commented on #42192
@tina-ho  I would suggest the easiest  option is to use Azure Storage Explorer or You can try the following script based on Azcopy. It will list all containers in a storage account, and copy them to another storage account one by one by AzCopy .
https://docs.microsoft.com/en-us/azure/storage/scripts/storage-common-transfer-between-storage-accounts. If the issue still persists. I would recommend to

[2019-11-07 11:06] #42192 closed

[2019-11-07 11:09] SumanthMarigowda-MSFT commented on #42026
@roofiq We would like to work on this issue. Please provide more information on this query with the screen shot and I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this

[2019-11-07 11:09] #42026 closed

[2019-11-07 11:11] wrkettlitz opened #42322 "How do I completly disable Azure cors?"
The docs say: "
Don't try to use App Service CORS and your own CORS code together. When used together, App Service CORS takes precedence and your own CORS code has no effect.
".

But it doesn't say how, how do I disable "App Service CORS" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5

[2019-11-07 11:12] SadiqhAhmed-MSFT commented on #42299
@briojoel Thanks for the comment. Follow the suggestions from the [troubleshooting guide](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-troubleshoot#extensionsnapshotfailedcom--extensioninstallationfailedcom--extensioninstallationfailedmdtc---extension-installationoperation-failed-due-to-a-com-error) and see if that helps resolve this issue. If not, you may reach out to support by

[2019-11-07 11:29] RohitMungi-MSFT commented on #42314
@AleksCallebat Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-07 11:32] SadiqhAhmed-MSFT commented on #42300
@lcp3npedusg Thanks for the comment! Can you share the documentation you're referring to?

[2019-11-07 11:39] MonikaReddy-MSFT commented on #42322
@wrkettlitz , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-07 11:44] ragesh-urolime opened #42324 "Azure Front Door Health Probes"
I am Azure Front Door CLI to update the Front Door back ends. It's taking way too much time to switch traffic from one back end to other. And  when I check the metrics it shows that health probe is being used for back ends that are no longer configured with Azure Front Door Service.

In my scenario I am trying a blue-Green deployment with Azure Front Door, Once after code is deployed to blue I am

[2019-11-07 11:45] SadiqhAhmed-MSFT commented on #42308
@sujayvsarma Thanks for the comment! Can you share the link/doc you're referring to?

[2019-11-07 11:47] vinynigam commented on #42246
Hi ,

Please use ERCircuitTotalUtilization
Updating docs right away.

Viny

[2019-11-07 11:48] SadiqhAhmed-MSFT commented on #42312
@alpinedelight Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-07 11:49] SadiqhAhmed-MSFT commented on #42306
@eflamm We are looking into this and will get back to you shortly.

[2019-11-07 11:50] jaypaddy opened #42325 "Connecting to Blob Storage Module using Module Name"
In my Python Module, im connecting to Blob Storage using Module name (blobstoremodule) as below

        block_blob_service = BlockBlobService(connection_string='DefaultEndpointsProtocol=http;AccountName=localstorageacct;AccountKey=<ACCTKEY>;BlobEndpoint=http://blobstoremodule:11002/localstorageacct;')

We are seeing positive and negative behaviors with this when we tested this on 3 edge devices

[2019-11-07 11:54] jakaruna-MSFT commented on #40673
@TimLovellSmith  I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-07 11:54] #40673 closed

[2019-11-07 11:55] KalyanChanumolu-MSFT commented on #42312
@alpinedelight Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-07 11:58] jakaruna-MSFT commented on #42199
@GFoley83 Updates will be posted here https://azure.microsoft.com/en-in/updates/

We can filter the updated based on the service and update type.

Availablity zones update will fall under the update type "Region and datacenter"

[2019-11-07 11:59] msrini-MSFT commented on #42324
@ragesh-urolime , This requires deeper investigation as why AFD is sending traffic to removed resource from backend pool.

Please raise a support ticket to get address this issue. If you don't have a support plan, let me know.

[2019-11-07 12:00] sasw-diego commented on #32572
I am also wondering this.
I'd like to see an example on how to create a static html (no runtime required). I see instructions https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-html
I just need to see instructions on how to do this through the portal, step by step

[2019-11-07 12:03] mradckeIRT opened #42326 "Azure DevOps"
Do these alerts also report issues with Azure DevOps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4361b185-8181-891f-bf59-7365aa84427c
* Version Independent ID: 083d5ddb-5d02-34bc-246a-ac23c6a8e4f6
* Content: [Receive activity log alerts on Azure service notifications](https://docs.microsoft.com/en-us/azure/service-

[2019-11-07 12:04] mtwelve opened #42327 "Please clarify if this works for Guest accounts added to AAD and then added to the 'Additional local administrators on Azure AD joined devices' section"
Hello,

Please clarify if this works for Guest accounts added to AAD and then added to the 'Additional local administrators on Azure AD joined devices' section

We are able to add Guest accounts that have been created in AAD to the 'Additional local administrators on Azure AD joined devices' section.

We are using a Premium AAD plan.

We have waited 4 hours and also freshly enrolled devices.

The

[2019-11-07 12:08] cephalin commented on #32572
@cocowalla @sasw-diego To deploy to default Linux containers you need to specify runtime (App Service needs to know which container to run for you). To deploy static HTML site to Windows, you don't need to specify a runtime at all. Just move your files to your app's /home/site/wwwroot folder, through FTP/Git/any other method you choose. That's the site root.

[2019-11-07 12:14] sujayvsarma commented on #42308
@SadiqhAhmed-MSFT - I am asking a question. I did not find it in any doc!

[2019-11-07 12:17] Mortana89 opened #42328 "GroupBy support in emulator"
The document states:
Azure Cosmos DB currently supports GROUP BY in .NET SDK 3.3 or later. Support for other language SDK's and the Azure Portal is not currently available but is planned.

However, a group by seems to work in the Azure Portal, but not in the local emulator. What is the plan for the emulator? ETA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-11-07 12:29] SadiqhAhmed-MSFT commented on #42303
@javeddevc Thanks for the comment! Are you referring any document for creating a custom template?
Just an FYI, this channel is only for sharing feedback about Microsoft Azure docs on (enhancements & bugs) If you're looking for technical assistance on creating custom ARM template, you may post your query on [GitHub Developer community](https://github.community/t5/forums/searchpage/tab/message?q=azu

[2019-11-07 12:36] #42263 closed

[2019-11-07 12:39] ruedigerp commented on #31003
create static IP with "--sku Standard"

`STATICIP=$(az network public-ip create --resource-group <MC_your-RG> --name Your-public-ip-name --sku Standard --allocation-method static --query publicIp.ipAddress -o tsv)`

And now:

[2019-11-07 12:40] meltemsevgi opened #42329 "Columns are ordered alphabetically by AutoML?!"
When I tested the python snippet with another data set which includes categorical, decimal, and integers, it returned type errors. I changed the input data types step by step until it returned the prediction properly. It is not mentioned in any of the tutorials that Azure ML (or Automated ML) orders columns alphabetically. And one can not see that in the data preview in the UI either. If all your

[2019-11-07 12:57] schittli opened #42330 "The Path is wrong, 'MFA' does not exists: "Service settings can be accessed from the Azure portal by browsing to Azure Active Directory > MFA""
The described Path
"Service settings can be accessed from the Azure portal by browsing to Azure Active Directory &gt; MFA"
does not exists. There is no "MFA" in "Azure Active Directory"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-

[2019-11-07 12:59] olivedev commented on #34265
Just like Laravel, i think other frameworks are not that difficult to install. There are certain [Laravel hosting](https://www.cloudways.com/en/laravel-hosting.php) PaaS and tools that make the server provisioning and configuration easier. Read about tools like Ansible and Chef

[2019-11-07 13:00] schittli opened #42331 "Invalid Path description"
This Desctiption is invalid - does M$ not keep Docs up to date??

1. Sign in to the Azure portal.
2. On the left, select Azure Active Directory &gt; Users.
3. Select Multi-Factor Authentication.

There is no 'Multi-Factor Authentication'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915

[2019-11-07 13:01] DirkieJvR opened #42332 "Outdated Interface | Application Settings"
The image depicting how to store your API Key is outdated:
https://docs.microsoft.com/en-us/azure/media/sendgrid-dotnet-how-to-send-email/azure-app-settings.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [

[2019-11-07 13:04] ruedigerp commented on #13935
Create Static IP with --sku Standard. Without --sku Standard IP is created with SKU Basic.
Basic Static IP cannot use for Loadbalancers.

Take a look into the activity log, you see a warning like this:

Add --sku and deploy your Service with this static IP
`az network public-ip create --resource-group <MC_your-RG> --name Your-public-ip-name --sku Standard --allocation-method static --query publicI

[2019-11-07 13:11] ashkansirous commented on #42220
@FrankHu-MSFT Sorry, the version was added to the link unintentionaly. I'm on the latest version for sure :).
I downloaded the solution and ran it so I could see for example create works as it should. Then tried to run my PATCH which failed with 400 bad request.
https://share.getcloudapp.com/JruwedOX
Then I've changed the Operation to "value":[ {"$ref":null,"value":"User x"}] and it workes fine.
I

[2019-11-07 13:15] jannickoeben opened #42333 "Wrong GUID"
The guid for Managed Services Registration Assignment Delete Role is wrong in the example in https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#remove-access-to-a-delegation

According to the link https://docs.microsoft.com/en-gb/azure/role-based-access-control/built-in-roles#managed-services-registration-assignment-delete-role the id should be:
	91c1777a-f3dc-4fae-b103-61d1

[2019-11-07 13:18] arkiaconsulting commented on #42029
@souravmishra-msft Refering to [the azure cli documentation](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#examples), one can generate a SAS token at container level. It would be useful to reflect this use case here, when we need to create a SAS definition based on such a SAS token.

[2019-11-07 13:28] cocowalla commented on #32572
@cephalin Yeah, I figured this out and switched to a Windows App Service. I really feel like the docs need some improvement here, to make clear that with the Linux App Service you actually have to "bring your own web server".

But it seems like a glaring feature omission - I'd love to see an option where the Linux App Service can host static content for you, just as the Windows App Service can. I

[2019-11-07 13:31] sander1095 opened #42334 "Link to next steps refers to the same page"
&gt; See the following topic that shows how to create a subscription filter (LINK)

Clicking the link refers to the same page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cebf198-118b-5a1d-6304-df105bdff38c
* Version Independent ID: b157d7cd-f9f8-348b-da8c-5ebee943aec5
* Content: [Create Azure Service Bus topic subs

[2019-11-07 13:33] cephalin commented on #32572
@cocowalla Linux App Service you don't have to bring your own web server. But yes you need to stick with the runtime options available to you, otherwise you need to "bring your own container".

On hosting static content in Linux, feel free to bring your suggestion for the feature to https://feedback.azure.com/forums/34192--general-feedback. Thanks!

[2019-11-07 13:33] souravmishra-msft commented on #42154
@chrisjhahn, I would like to take back my recommendation of using Hybrid AAD join here. Hybrid AAD join is not a good idea to be honest. But, in order to experience SSO, you can get you machines Azure AD registered. In simple terms, since in your current scenario, the RDS server is domain joined to Azure ADDS, so the user can use the Work or School account and get the machine Azure AD registered.

[2019-11-07 13:34] tsls commented on #40135
problem resolved - might be worth adding the following to this article or the About Point-Site VPN FAQ - That the Windows VPN client only supports up to 25 published routes for all VPN connections (we had 45), we have rationalised them and now it's working. more details here: http://www.tsls.co.uk/index.php/2019/11/07/azure-gateway-point-site-windows-vpn-client-error-processing-id-payload/

[2019-11-07 13:38] ragesh-urolime commented on #42324
Hi @msrini-MSFT, I do not have a support plan.

[2019-11-07 13:50] johnduckmanton opened #42335 "Naming Conventions Link no longer works"
In the 'Naming' section, the 'Naming Conventions' link points to https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/considerations/naming-and-tagging#virtual-networking. This page doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb26c6d6-dfeb-fc3d-b511-a0677abdcb44
* Version Independent

[2019-11-07 13:52] sander1095 opened #42336 "GetAwaiter().GetResult() usage"
Since you can use `public static async Task Main(string[] args)` since C# 7.x , I see no reason to encourage the usage of GetAwaiter().GetResult()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-196f-fed8-7300-b9823c1031d5
* Content: [Get started wi

[2019-11-07 13:59] PramodValavala-MSFT commented on #42334
@sander1095 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-07 14:04] agilityhawk commented on #24686
Thank you @DineshPriyankara for posting this issue.
And thank you @arvindshmicrosoft for the analysis and detailed blog post about the resolution!

For anybody else who has just arrived on this issue, the key component for resolving this issue is "Microsoft Azure Storage Explorer". Once you set up this application on your computer and sign-in to your azure account within it, you can follow the ste

[2019-11-07 14:06] SatyaKomatineni opened #42337 "Is it possible to specify the filename as a "collection" of file names coming from a filter activity?"
Step1:
Read a set of files from ftp using GetMetadata activity

Step2:
Filter the necessary files using a filter activity

Step3:
Pass the N number of filenames from filter activity as inputs to a copy activity source

can I do that without using a "foreach"?

My fear with ForEach in this case is that the ftp server is going to be logged in each time for each file.

Any thoughts?

Appreciate it
Sa

[2019-11-07 14:07] j-martens commented on #42252
#reassign:@nibaccam

[2019-11-07 14:08] mattosaurus commented on #42136
Yep, I'm seeing this as well, the redirect URL provided to the flow appears to be to signin rather signinaad.

The redirect URL value provided in the identity provider settings in the portal is also using the legacy URL of https://apimanagement.portal.azure-api.net/signin-aad rather than the new URL of https://apimanagement.developer.azure-api.net/signin-aad so following this guide leads to the wr

[2019-11-07 14:09] mrbullwinkle commented on #41955
Thanks for calling this out. There was some fairly significant restructuring to the table of contents within the past two weeks, but the only thing that was supposed to happen to the Application Insights content was that it would be moved to directly under the How-to section. We'll get this resolved today.

[2019-11-07 14:09] PramodValavala-MSFT commented on #42336
@sander1095 Thanks for the feedback! I believe this is partly because Visual Studio 2017 and later default to use the **latest major version** of C# by default. (Async Main was introduced in 7.1)

We have assigned this issue to the content author to review and update accordingly.

[2019-11-07 14:12] sasw-diego commented on #32572
The portal makes it mandatory to specify a runtime even if it's Windows
![image](https://user-images.githubusercontent.com/57327772/68395923-ef3def80-0170-11ea-9d9b-5557a64d0b96.png)
I'm still confused about it. I opened a stackoverflow question because I've been unable to create a simple static website with a single App Service using the portal
https://stackoverflow.com/questions/58749812/azure-c

[2019-11-07 14:16] kumarallamraju opened #42338 "Incorrect link to App Service Environment"
[Enter feedback here]
On this page https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase  if I click on "App Service Environment" (top left) it takes me to docs home page. Is that the way it's supposed to be? Looking at other docs, it looks like, the top left link should go to https://docs.microsoft.com/en-us/azure/app-service/ . or some other page.

---
#### Document Detai

[2019-11-07 14:16] cephalin commented on #32572
I guess the portal has evolved overtime. But you can still create in Cloud Shell without the runtime: `az webapp create -g myResourceGroup -p myAppServicePlan -n my-app-name`

[2019-11-07 14:22] cocowalla commented on #32572
@cephalin Hah, if Azure CLI actually worked from Cloud Shell - I got a whole bunch of errors when trying to do *anything* with the `webapp` option :/

But @sasw-diego is right, you still need to select a runtime even though it can serve static resources just fine without out - I used the .NET Core runtime, and it serves static content using the built-in web server.

[2019-11-07 14:22] irriss commented on #32730
There is an open case for this problem https://social.msdn.microsoft.com/Forums/en-US/cd6017a0-b7e8-4b02-9cb7-68fc3a2bb099/azure-monitor-alert-action-does-not-send-email?forum=ApplicationInsights
no soultion yet though

[2019-11-07 14:27] kiazhi commented on #42309
Hi @msrini-MSFT,

Are you 100% sure that both 52.187.75.218/32 and 40.78.234.60/32 are actually in Azure Cloud Service Tag?

I just downloaded the [Azure IP Ranges and Service Tags – Public Cloud
](https://www.microsoft.com/en-us/download/details.aspx?id=56519) official site released on 11/5/2019 and cannot find those IP Addresses in that JSON file at all.

I have an environment that is failing to

[2019-11-07 14:27] pvrk commented on #42205
@paulbeechey: May I know if you opened a support case for this? The engineering team needs to investigate and require more data.

[2019-11-07 14:28] BarryOCathain opened #42339 "Documentation outdated"
Hi there, I've been trying to implement intent recognition with the .Net SDK, and these docs were no help at all.

They seem to be very outdated.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6746b7c9-bc0e-5fc8-307f-d584a547b435
* Version Independent ID: e8686738-4583-45a7-3e23-1e82fdf5556e
* Content: [Quickstart: C#

[2019-11-07 14:34] paulbeechey commented on #42205
Yes, lee Bradley was handling for me. I replied to his email yesterday with the requested details

Kind regards
Paul

On 7 Nov 2019, at 14:28, Kartik P V R <notifications@github.com> wrote:

﻿

@paulbeechey<https://github.com/paulbeechey>: May I know if you opened a support case for this? The engineering team needs to investigate and require more data.

—
You are receiving this because you were me

[2019-11-07 14:36] tsarna opened #42340 "Why are there duplicates?"
In the first table there are 3 meters for 1-4 vCPU VM and 12 for the 5+ vCPU, why is this? What is the difference between them?

Looking in eg the PAYG rate cards, the duplicates are priced identically, have identical identifying strings (category, sub category, name) and all apply to every region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-07 14:42] joeythomaschaske commented on #41330
Thanks, that's how I ended up doing it anyways!

[2019-11-07 14:43] souravmishra-msft commented on #42126
@shadewlkr, The issuer _urn:federation:MicrosoftOnline_. remains constant for all ADFS servers across the globe. But here we need to understand how the Federation works between ADFS and an Azure AD tenant.

Ideally in a single Tenant and Single ADFS federation Scenario, if you run the command "**Get-MsolFederationProperty -DomainName <domain>**" for the **federated domains** shows that the “**Fede

[2019-11-07 14:45] diberry commented on #42339
@BarryOCathain Thank you for letting us know. Can you eleborate on what you expected or what seemed outdated? Where you using V2 or V3 endpoint prediction or were you looking for  integration with a bot?

[2019-11-07 14:48] timwoelfle commented on #41916
Btw, I've also posted a Stackoverflow question a while back detailling my issues even more, which might help you: https://stackoverflow.com/questions/58589968/microsoft-academic-search-api-stopped-working

It boils down to the JavaScript example code not working though.

[2019-11-07 14:53] shadewlkr commented on #42126
Oh, ok I see what you mean.  So there will always only be one single Relying Party Trust in ADFS for Azure AD / O365 because of the constant urn:federation:MicrosoftOnline value, regardless of how many actual Azure AD tenants we have.   We just need to map the claim rule which modifies the outgoing Issuer claim from ADFS to Azure AD on a per-UPN basis, to match the correct AAD tenant configuration

[2019-11-07 14:54] rbrundritt commented on #42308
The map defaults to natural ground truth (NGT) which shows localized names in areas as you zoom in and is pretty reversed when it comes to geopolitical sensitive areas on the map. You can change the map language using the language map option. You can find details on how to do this here: https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-map-control#localizing-the-map

All supported langu

[2019-11-07 14:57] nishantsny opened #42342 "How to get the Bearer token for validation"
I would like to execute the POST request for validation from my local powershell window. The [documents](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code) to get the bearer token state the requirement for a clientId which is an ID for an application.
What would be the clientId for my local powershell window?

---
#### Document Details

⚠ *Do not edit this sec

[2019-11-07 14:58] upsilondynamics opened #42343 "Problem with multiple <voice> elements inside a <speak> top level node"
Your service does not function properly as documented here with multiple voice nodes nested inside the root speak node.  Please rectify this issue and let me know once fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f-b4f4-fc4d-cb0f-0fc4a1d4e7c9
* Version Independent ID: dbd55a99-dbde-a3f3-47a5-ded8309e274

[2019-11-07 15:01] sven73a opened #42344 "Any plans to make it work with .NET Core?"
Hi,
As far as I can see the provided CLI's only work with OWIN Web.
Are there any plans to make the CLI .NET Core compatible and even better make the sources of the CLI open source?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version Independent ID: 506c3302-e823-8f1e-d547-083e

[2019-11-07 15:03] souravmishra-msft commented on #42126
@shadewlkr, Thankyou for sharing the confirmation. We will be closing this thread for now. In case you need any further assistance on this, please feel free to re-open this thread.

[2019-11-07 15:03] #42126 closed

[2019-11-07 15:16] TomArcherMsft commented on #42316
@theguate Good catch. I'll fix this afternoon.

[2019-11-07 15:26] stephbaron commented on #42326
Azure DevOps services are onboarded to Service Health:

![image](https://user-images.githubusercontent.com/4484115/68401958-70749280-012f-11ea-9b00-364ab7b6e3ad.png)

[2019-11-07 15:30] NavtejSaini-MSFT commented on #42107
@Tanharuki Please provide the details regarding the User Voice created by you to take this thread forward.

[2019-11-07 15:35] sujayvsarma commented on #42308
@rbrundritt - There is something wrong with the documentation. The moment I add the `language` option, everything stops working. The browser console's Console Log fills up with error messages (see attached screenshot):

Here is my setting:

[code]
In my debug session, the `language` gets set to `en-US`.

![Error Screenshot](https://user-images.githubusercontent.com/7371750/68402844-f9c4ad00-01a1-1

[2019-11-07 15:41] BharathNimmala-MSFT commented on #42307
@arkiaconsulting Thank you for sharing your feedback on this, will have a look and get back to you earliest.

[2019-11-07 15:45] syedcit01 opened #42345 "UserErrorFileNotFound Error on ADF Event based trigger for file drop"
Dropping the file using the below 9 steps and configuring the ADF by following the blog and video (https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger), I have following errors in step 10 and 11.

**Blob Dataset Configuration:**
1) File System (containername) <- passed / hard coded the Container name / File System name
2) Directory (Foldername)    	  <- parameters passe

[2019-11-07 15:45] sujayvsarma commented on #42308
@rbrundritt There is a problem with the documentation. Initially, I assumed it was because of the `language` property. But then, using trial and error, it is the `View` property. The value set is case sensitive!!! If you set:

[code]
Everything goes to shit. Apparently, it only accepts the value with an uppercase 'A':

[code]

Could you have someone check and fix either the doc or the implementati

[2019-11-07 15:45] sujayvsarma commented on #42308
And yes, the `language` thing closes my question, you may close the bug.

[2019-11-07 15:50] rbrundritt commented on #42308
Will double check with team. Thought we had made it case insensitive in the web SDK.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sujay Sarma <notifications@github.com>
Sent: Thursday, November 7, 2019 10:46:20 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ricky Brundritt <ricky_brundritt@hotmail.com>; Mention <mention@noreply.github

[2019-11-07 15:51] AshokPeddakotla-MSFT commented on #42325
@jaypaddy Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-07 15:51] RyanHill-MSFT commented on #42338
Thanks for the feedback! I believe the link should circle back to https://docs.microsoft.com/en-us/azure/app-service/environment/intro but I'm not 100% certain. Nonetheless, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-07 15:53] tfitzmac commented on #42342
@nishantsny - The ID is just the ID for the identity to use for logging in. It could be your user id if you wanted to log in as yourself. More often with scripts, you would create a service principal so the script can run under its own identity. You would grant that service principal the appropriate access in your subscription.

[2019-11-07 15:53] damienbod opened #42346 "WPF Azure AD App registration Login + API request with Sharepoint Online problem"
I am trying to use an Azure AD App Registration with a WPF application to upload and download files using Sharepoint Online.

I used https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-windows-desktop to  authenticate.

I have set up the login, and this works without problem. I get the tokens back. (Microsoft.Identity.Client 4.6)

I added the sharepoint graph API delegated

[2019-11-07 15:53] silverl commented on #40132
@TravisCragg-MSFT the Idea I posted on October 4th on the Azure Networking feedback page has remained in "awaiting moderator approval" ever since.

Any updates?

[2019-11-07 15:56] jtuliani commented on #40488
Hi @memildin. I still have a couple of questions.

You say that ASC policies can be applied at MG scope. But AFAIK this is never done by ASC itself. Are you saying I can modify the scope of ASC policy assignments to a higher scope myself to see compliance reports through Azure Policy rather than through ASC itself? Is this a supported approach, and if so where is it documented?

[2019-11-07 16:00] MonikaReddy-MSFT commented on #42217
@juunas11, I'm going to assign this to the document author so they can update the document accordingly.

[2019-11-07 16:01] scr8er commented on #13648
We are thinking about applying this kind of topology, it's a shame that nobody answer this thread. Michal, could you update your situation right now about this?

[2019-11-07 16:01] jwargo commented on #36391
@RyanHill-MSFT Can you please add @sethmanheim to this as well?

[2019-11-07 16:12] paulghodgson commented on #42147
I am also experiencing this problem.

System.AggregateException: One or more errors occurred. (Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.) ---> System.Data.SqlClient.SqlException: Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.
   at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOptions, SqlCredential credenti

[2019-11-07 16:12] angellmethod commented on #42167
That seems rather strange since the bottom of the page where it says "Event Hubs programming guide" goes to a page where the very first thing it says to install under getting started is: `Install-Package Microsoft.Azure.EventHubs` and not `Install-Package WindowsAzure.Servicebus`

[2019-11-07 16:14] angellmethod commented on #42167
Also since [the code that is used in this article ](https://github.com/Azure/azure-event-hubs/blob/master/samples/DotNet/Microsoft.Azure.EventHubs/SampleEphReceiver/SimpleEventProcessor.cs)  imports `Microsoft.Azure.EventHubs` and not `WindowsAzure.Servicebus`

[2019-11-07 16:17] JFolberth commented on #34664
@JosephFY Apologies for the incorrect link.  For how to set the resource specific if would look like this:
[code]

I know Data Factory supports this and have tested deploying this setting.

[2019-11-07 16:18] paulghodgson commented on #42147
I just managed to resolve my similar issue by running the SQL Script to create the user against the master database as well.

CREATE USER [myAzureSQLDBAccessGroup] FROM EXTERNAL PROVIDER;

[2019-11-07 16:19] stromvirvel commented on #22223
@syswpit I can confirm, that's the case.

[2019-11-07 16:27] KrishnaG-MSFT commented on #42316
@TomArcherMsft Thanks for the quick response. 👍

[2019-11-07 16:29] DracoLlasa opened #42347 "typo"
misspelling of the following in the opening Overview section
:: Azure Activity Directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8ca-9143-8998-41e2be0b39b8
* Version Independent ID: 60c67249-9bd5-0a3c-10e3-839d44922d2e
* Content: [Managed identity for Data Factory - Azure Data Factory](https://docs.mic

[2019-11-07 16:31] MashaMSFT commented on #42137
Hi @kar400 , thank  you for contacting Microsoft! The two service names are:

1.	SqlIaaSExtensionQuery (Display name - Microsoft SQL Server IaaS Query Service)
2.	SQLIaaSExtension (Display name - Microsoft SQL Server IaaS Agent)

You can see both of these services in the services console accessed by "services.msc". Thank you for bringing this gap to our attention! I will add it to the documentatio

[2019-11-07 16:34] KrishnaG-MSFT commented on #42342
@tfitzmac Thanks for the super quick response. 👍

[2019-11-07 16:34] cherylmc commented on #42212
Sounds good. I'll find a link. Thanks!

[2019-11-07 16:35] cherylmc commented on #42212
#please-close

[2019-11-07 16:35] #42212 closed

[2019-11-07 16:36] MonikaReddy-MSFT commented on #42322
@wrkettlitz , Can you check **[resources.azure.com](http://resources.azure.com)** (resource Explorer) and navigate down to the web app resource?

Subscriptions --> Resource group -->select the resource group you have created --> providers --> Microsoft.WebApp --> Sites --> Config

Next see if you can remove any CORS entries.

For more info please go through the below doc - [Azure Resource Explorer

[2019-11-07 16:37] breyed commented on #16002
@jordanchang `User-Agent` specifies the user's web browser (Chrome, Edge, etc.); it doesn't identify the human who is signed in.

[2019-11-07 16:37] msrini-MSFT commented on #42324
@ragesh-urolime , Please drop an email to azcommunity@microsoft.com with your subscription ID. I will enable one time free support request.

[2019-11-07 16:39] MladjoA commented on #29468
#please-close

[2019-11-07 16:39] #29468 closed

[2019-11-07 16:40] msrini-MSFT commented on #42309
@kiazhi ,

52.187.75.218 IP belongs to SoutEastAsia DC,  You can find this IP in 52.187.0.0/17 block.
40.78.234.60 IP belongs to SouthEastAsia DC. You can find this IP in 40.78.232.0/21 block.

[2019-11-07 16:40] nibaccam commented on #42252
@thehayat The doc has been updated with the appropriate link. The update will be published in a couple hours.
@YutongTie-MSFT the above reference PR contains the fix for this issue. If satisfied, #please-close

[2019-11-07 16:40] #42252 closed

[2019-11-07 16:40] wrkettlitz commented on #42322
@MonikaReddy-MSFT thanks, for your reply.

I already tried this. The alloworigins array was already empty, so I tried to set "cors: null".

However when I try to save my change, the page reloads and the value of cors changes back to what it was.

[2019-11-07 16:45] ellispritchard opened #42348 "Please update for node pool deployment"
Would be good to see how loadbalancer/ingress is set up with multiple node pools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version Independent ID: bd2884f3-831a-3761-0502-5eb1594872bd
* Content: [Tutorial - Create a Kubernetes cluster with Azure Kubernetes Service (AKS) usin

[2019-11-07 16:48] RyanHill-MSFT commented on #41656
@APIWT, it's not hard to find the magic 😊. The task is [open source](https://github.com/Microsoft/azure-pipelines-tasks) and you read more about it [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops#auto-detect-logic). What can say is your push to master is a new commit and therefore seen as a new version to be deployed to your

[2019-11-07 16:49] #41656 closed

[2019-11-07 16:53] rastala commented on #39799
They would show up in the blob store associated with the Workspace.

[2019-11-07 16:57] GiftA-MSFT commented on #42343
@upsilondynamics thanks for your feedback. We will review this issue and get back to you shortly. Thanks.

[2019-11-07 17:00] GiftA-MSFT commented on #42329
@meltemsevgi thanks for your feedback. We will review this issue and get back to you shortly.

[2019-11-07 17:01] Alberto-Vega-MSFT commented on #42066
@Gamecock My bad, what you are sying is right this is currently not supported. There is a User Voice Feature Request you can upvote that if you want to. https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35042017-hierarchy-possibilities-for-edge-devices

[2019-11-07 17:06] Elianmrt opened #42349 "URL missing : Manual tune query performance in Azure SQL Database - Batch queries"
URL missing :
 - Manual tune query performance in Azure SQL Database
                - Batch queries

"Batching techniques for SQL Database applications in Azure"

URL : https://msdn.microsoft.com/library/windowsazure/dn132615.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861a34a-7684-3032-b4be-46c470f4b862
* Ve

[2019-11-07 17:07] Elianmrt commented on #42349
![2019-11-07 14_07_06-404 - Content Not Found _ Microsoft Docs](https://user-images.githubusercontent.com/57498977/68410696-ec8acc80-0167-11ea-92f5-ed64820ab6ed.png)

[2019-11-07 17:09] MicahMcKittrick-MSFT commented on #42037
I took a look but it seems I was actually thinking of the openshift docs

https://docs.microsoft.com/en-us/azure/openshift/

So not specific to RHEL. My mistake. The RHEL documentation seems spread across both azure docs and RedHat.com

So I will still let the author work to determine the best route.

@RicksterCDN can you take a look at this one?

[2019-11-07 17:09] #35696 closed

[2019-11-07 17:13] MicahMcKittrick-MSFT commented on #42348
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-07 17:18] CHDAFNI-MSFT commented on #39543
@rthorn17 is the issue still occurring bug wise? Document still does not reflect custom rbac as being allowed - https://docs.microsoft.com/en-us/azure/governance/management-groups/overview#custom-rbac-role-definition-and-assignment

[2019-11-07 17:19] CHDAFNI-MSFT commented on #39360
@FrankHu-MSFT can this be re-evaluated to determine if the Azure Docs referenced can now be updated?

[2019-11-07 17:22] KrishnaG-MSFT commented on #42247
@KalyanChanumolu-MSFT FYI.

[2019-11-07 17:22] lcp3npedusg opened #42350 "why cannot transfer follow this instruction below got error"
Option 2: Use a SAS token
You can append a SAS token to each source or destination URL that use in your AzCopy commands.

This example command recursively copies data from a local directory to a blob container. A fictitious SAS token is appended to the end of the of the container URL.

AzCopy

Copy
azcopy copy "C:\local\path" "https://account.blob.core.windows.net/mycontainer1/?sv=2018-03-28&ss=bj

[2019-11-07 17:30] haschdl opened #42351 "Documentation refers to incorrect UI options in Docker Container logging"
The page https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro#troubleshooting mentions that

There is no "Docker Container" option under App Service Logs. It is not clear what is needed to enable logging for Docker containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817

[2019-11-07 17:36] MonikaReddy-MSFT commented on #42268
@paulghodgson , Thanks again for bringing this to our attention! We have updated the doc accordingly and  We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-11-07 17:36] #42268 closed

[2019-11-07 17:39] stephbaron commented on #42157
I do not believe that one is in use but will follow-up and make the appropriate documentation updates.

[2019-11-07 17:40] shashishailaj opened #42352 "Image Placeholder"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-07 17:40] #42352 closed

[2019-11-07 17:41] shashishailaj commented on #42352
![image](https://user-images.githubusercontent.com/532022/68413235-dacf1680-01b3-11ea-8634-3289709b056e.png)

[2019-11-07 17:57] KranthiPakala-MSFT commented on #42347
@DracoLlasa
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-11-07 18:02] JnHs commented on #42333
Thanks for catching this! You are correct and we'll get this fixed right away.

[2019-11-07 18:03] KranthiPakala-MSFT commented on #42337
@SatyaKomatineni If you are referring to a specific used case scenario and not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_" and other forums (_[Stackoverflow - Azure Data Factory](https://stackoverflow.com/questions/ta

[2019-11-07 18:09] banisadr commented on #42185
@Expecho, the ID field is the best way to identify retried messages for de-duplication. [Monitor](https://docs.microsoft.com/en-us/azure/event-grid/monitor-event-delivery) will also show you delivery failure and retry count but not per specific message.

We are working on a feature that will allow you to view message level logs for delivery failures/retries and dropped events which I suspect is wh

[2019-11-07 18:10] NavtejSaini-MSFT commented on #42328
@Mortana89 We are checking this and we will get back to you.

[2019-11-07 18:10] rdorris opened #42353 "Unable to start container. Error message: No drive letters are avaliable"
Have a site running using App Service for Windows Containers. I made some code changes in VS 2019 and republished my container. The app service saw the change and pulled over the new container, but it will not start.
This error is shown repeatedly in the Container Settings log:
07/11/2019 18:04:33.988 INFO - Site: ct35docker - Cancelling pending tasks.
07/11/2019 18:04:33.988 INFO - Site: ct35dock

[2019-11-07 18:18] dlepow commented on #42111
#assign:@dlepow  - Assigning to myself to determine/recommend appropriate doc enhancement. Thanks!

[2019-11-07 18:39] NavtejSaini-MSFT commented on #42328
@timsander1 As confirmed before you had conveyed that the cross partition group by will available on Portal with the single partition group by very soon.
Please confirm if this has been implemented.
Also please confirm when this will be available for Emulator.

[2019-11-07 18:39] NavtejSaini-MSFT commented on #42248
@jrowies Please get back to us if any questions.

[2019-11-07 18:41] JnHs commented on #42333
#in-progress

[2019-11-07 18:44] glittle opened #42355 "Wording issue"
"Data must in the archive tier for at least 180 days" -- seems to be missing a word, maybe "Data must remain in..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 392e90a0-af77-999e-39a1-78f09ffe0d06
* Version Independent ID: 411ca9a3-4370-f9ca-f14c-5385e13d9075
* Content: [Hot, cool, and archive access tiers for blobs

[2019-11-07 18:46] glittle commented on #42355
I submitted an edit. Can close this Issue.

[2019-11-07 18:49] pejuborg opened #42357 "ToC issue"
When located at this url in the documentation:
https://docs.microsoft.com/en-us/azure/security/fundamentals/management-monitoring-overview?source=docs#feedback

and then clicking the marked entry in the ToC
![image](https://user-images.githubusercontent.com/51705186/68417816-67b7a700-0197-11ea-9653-c31012c3bf5d.png)
it takes me to:
https://docs.microsoft.com/en-us/ which isn't really what I expect

[2019-11-07 18:50] j-martens commented on #42159
Hope those links worked, @swanderz
#please-close

[2019-11-07 18:50] #42159 closed

[2019-11-07 18:54] jrowies commented on #42248
@NavtejSaini-MSFT Thanks a lot for the information!

The document you sent is great, however I'm not really sure I completely follow it as I don't think it addresses the following:

However I might be missing the point. If so, I apologize.

[2019-11-07 18:55] j-martens commented on #42314
#reassign:@xiaoharper

[2019-11-07 18:55] mike-urnun-msft commented on #42231
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-07 18:55] #42231 closed

[2019-11-07 18:56] MicahMcKittrick-MSFT commented on #42288
Also adding @MicrosoftDocs/aks-pm

[2019-11-07 18:57] FrankHu-MSFT commented on #42235
@MarkDordoy I see, you should be able to export the configuration by using the get-azureadpolicy powershell cmdlet.

Is that not sufficient for your requirements?
https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadpolicy?view=azureadps-2.0-preview

[2019-11-07 18:59] j-martens commented on #42329
@cartacioS @nibaccam @trevorbye

[2019-11-07 19:00] MarileeTurscak-MSFT commented on #42331
@schittli What do you mean exactly?

It's there.

![image](https://user-images.githubusercontent.com/13383753/68418790-cbb57d80-014d-11ea-9b09-194cd5c9e052.png)

[2019-11-07 19:00] MarkDordoy commented on #42235
Afraid not. The export only works for policies you add via powershell. The UI version is different and does not have anything to do with the powershell based policies. Its states this somewhere in the docs and I can confirm it's true as I tested this.

Mark

[2019-11-07 19:00] j-martens commented on #40694
@danielsc @nishankgu - any response here?

[2019-11-07 19:01] j-martens commented on #42035
@blackmist ?

[2019-11-07 19:02] FrankHu-MSFT commented on #42220
Hey @ashkansirous I see. I'm sorry that there are some current issues with this and thank you for letting us know about this. This is currently in our backlog and plan on resolving this issue as soon as possible.

That being said, I'm currently looking in to this further to determine next steps. Thanks again,

[2019-11-07 19:04] MarileeTurscak-MSFT commented on #42330
@schittli thanks for this. I'm closing this out as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/42331

[2019-11-07 19:06] MarileeTurscak-MSFT commented on #42330
Sorry, just realized the other one is different. I do agree that the screenshot could be updated on this so I'm assigning the issue to the author, @MicrosoftGuyJFlo

![image](https://user-images.githubusercontent.com/13383753/68419218-a7a66c00-014e-11ea-93dd-47c13b99b486.png)

[2019-11-07 19:08] thesinwithin commented on #39533
Any news on this? I did a little bit of digging around and it the plugin seems to crash because of some missing ApplicationInsight components or something like this.

[2019-11-07 19:09] ashkansirous commented on #42220
@FrankHu-MSFT Thanks a lot and I'm happy to help :). :+1:

[2019-11-07 19:11] shanecastle-osharp commented on #22599
any update on this issue?

[2019-11-07 19:11] pookus opened #42360 "Find-AzResource"
Should Find-AzResource be changed to Get-AzResource like it is used elsewhere in the script? I was not able to find Find-AzResource as a valid Azure Powershell command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa0ad9e3-9870-f884-365e-7489c3d9d71d
* Version Independent ID: 261da1cd-31e6-b711-4fe5-3d2317655982
* Co

[2019-11-07 19:13] jluk commented on #42288
This is not possible today, but planned for the roadmap to support aliasing of taking latest patch from defining a minor version with the use of the auto-upgrade feature. This can be tracked on the AKS repo with this issue: https://github.com/Azure/AKS/issues/1303

[2019-11-07 19:14] MarileeTurscak-MSFT commented on #42330
Sorry, I realized this is a separate issue. I made a pull request to remove the outdated screenshot and am assigning this to the content author @MicrosoftGuyJFlo to add the new one.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/95192

[2019-11-07 19:16] MarileeTurscak-MSFT commented on #42331
I think this path is right, but the paths in other sections of the doc can be updated. I assigned the other issue you created to the content author so am closing out this one. Thanks for pointing this out.

[2019-11-07 19:16] #42331 closed

[2019-11-07 19:19] MarileeTurscak-MSFT commented on #42357
@pejuborg thanks for the feedback! I have assigned this issue to the content author to update as I don't have access to those links.

[2019-11-07 19:21] digienigma commented on #42274
Hello Travis,

PG says disable retention function is temporary so I guess doc update isn’t necessary for now.  Sorry to bother you and thank you for your help.

Best Regards,
Samuel Chiang
Support Engineer ​
Azure Networking
Office:   469.775.3889​
samuel.chiang@microsoft.com<mailto:samuel.chiang@microsoft.com>​
08:00 – 17:00 Mon ~ Fri​ (UTC-06:00)​
If you have any feedback about my work, please l

[2019-11-07 19:22] esfitsMack commented on #7705
Just tried the "Lower" function on a single field of a document db Cosmos unit. WOrks great with a small number of records but our production env, with over a million docs, immediately returns a 429 error and shuts down. Not what you'd expect for the price. So @SnehaGunda when will this be fixed? As @simonvane said...avoiding RUs is costly. It will double the size of our storage and impacts TCO to

[2019-11-07 19:26] gradinDotCom opened #42361 "Safelist does not include subdomains"
DNS bypass filtering can't always recurse into subdomains. Need to add subdomains (e.g. *.vault.azure.net, *.database.windows.net, *.blob.core.windows.net, etc.) to this list to be comprehensive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f220-

[2019-11-07 19:45] MonikaReddy-MSFT commented on #41917
Hello @jacobmohl  and @TsuyoshiUshio - Thank you for bringing this to our attention. However after finding out with Product team here, they have mentioned that the Feature doesn't fully support references without versions yet. The Scenario you have shared is undefined behavior that we wont remove but do not support either. And thats why I removed the command without the version number.

I hope thi

[2019-11-07 19:50] mhopkins-msft commented on #42294
@johnadali you are correct. Thanks for the heads up! The article has been updated and will be republished later today.

#please-close

[2019-11-07 19:50] #42294 closed

[2019-11-07 19:51] MarkDordoy commented on #42235
I guess I kind of answered my own question, however it would be good as a feature request to build a policy via a ui based generator

[2019-11-07 19:52] gacurtin opened #42365 "Private Endpoint vs. Service Endpoint"
Need to add "Private Endpoint(s) are not permitted in conjunction with service endpoints in the same subnet"

https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bed2e199-b8cc-81d0-a739-b9acb46950bd
* Version Independent ID: 7028bfc9-dd53-9a7

[2019-11-07 19:55] larsonmpdx commented on #22175
Can I reopen this? I am able to create a service token scoped to a single device using the example code on this page:

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security

I wanted to verify generation of the token using the sample code by using the 'az' cli tool to make a known-good token, but I get the same "unauthorized" error as @CodingSpiderFox.  My manually generated ser

[2019-11-07 19:57] ghogen commented on #41746
This is fixed. You should see the update in a few hours.

[2019-11-07 19:57] #41746 closed

[2019-11-07 19:59] raduart opened #42366 "HELM Install ISTIO fails with no API version batch/V1 from kind:job"
Customer has AKS cluster with RBAC version 1.14.7
Customer was installing following all steps.
When was trying to install istio from HELM
(https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux#install-istio-components)
gives an error:
Error: no kind "Job" is registered for version "batch/v1" in scheme "k8s.io/kubernetes/pkg/api/legacyscheme/schem

[2019-11-07 19:59] TravisCragg-MSFT commented on #42210
@ChrisSommers that is my understanding. I would suggest that you test this scenario, as sometimes strange interactions can happen.

Please let me know if you have any other questions.

[2019-11-07 20:03] larsonmpdx opened #42367 "Can I reduce the scope of a SAS token to only device streams?"
I'm generating SAS tokens using a service key that are scoped to a single device using this URI:

{iot-hub-name}.azure-devices.net/devices/{deviceId}

This seems to work, but is there something I can add to that URI to limit access to only device streams, similar the example on the security page that scopes the token to only cloud-to-device messages:

.../devices/{deviceId}/messages/events

I'm gi

[2019-11-07 20:11] YutongTie-MSFT commented on #42365
@gacurtin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@KumudD Hi Kumud, could you please help check this issue and update the document as necessary ? Thanks.

[2019-11-07 20:11] TravisCragg-MSFT commented on #42274
@digienigma Hopefully this issue will help others who have the same question.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-07 20:11] #42274 closed

[2019-11-07 20:12] zoekdestep commented on #40045
solved, thanks

[2019-11-07 20:18] YutongTie-MSFT commented on #42353
@rdorris Hi, thanks for reaching out to us. Could you please share the document if you are referring to one so that we can address the issue quickly? Thanks.

[2019-11-07 20:21] cherylmc commented on #40713
#reassign: anzaman

[2019-11-07 20:22] cherylmc commented on #42211
#reassign: anzaman

[2019-11-07 20:23] cherylmc commented on #41069
#reassign: anzaman

[2019-11-07 20:25] cherylmc commented on #40287
#reassign: anzaman

[2019-11-07 20:25] cherylmc commented on #40286
#reassign: anzaman

[2019-11-07 20:27] cherylmc commented on #39270
#reassign: anzaman

[2019-11-07 20:28] cherylmc commented on #36990
#please-close

[2019-11-07 20:28] #36990 closed

[2019-11-07 20:28] gitjeph opened #42368 "folder structure differences"
The structure and contents of ADMTutorial.zip is very different from adm-quickstart. The article references a script in ADMTutorial. There are no scripts in ADMTutorial. That script is likely in adm-quickstart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b1daf6-3090-55c4-5c6c-c506a2cf58a0
* Version Independent ID:

[2019-11-07 20:29] cherylmc commented on #34672
#reassign: yushwang

[2019-11-07 20:29] cherylmc commented on #32820
#please-close

[2019-11-07 20:30] #32820 closed

[2019-11-07 20:30] cherylmc commented on #27184
#please-close

[2019-11-07 20:30] #27184 closed

[2019-11-07 20:31] cherylmc commented on #24523
#reassign: yushwang

[2019-11-07 20:32] cherylmc commented on #20997
#please-close

[2019-11-07 20:32] #20997 closed

[2019-11-07 20:32] Adam-Smith-MSFT commented on #41706
@boteng-msft , below is the answer we received from PG team: For a scenario like this where a blob can be accessed by multiple processes, we highly recommend using the Lease Blob operation. The expected behavior for this scenario is that they will get an error of some sort depending on what state the blob is in at the time of update.

Let me know if we can close the case and if this resolves your

[2019-11-07 20:32] cherylmc commented on #13087
#please-close

[2019-11-07 20:32] #13087 closed

[2019-11-07 20:34] KranthiPakala-MSFT commented on #42269
@darealgoku Thanks for your interest in using Azure products.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-11-07 20:34] #42269 closed

[2019-11-07 20:36] aymanh08 opened #42369 "Typo in the documentation"
In the "Defining entities" section, under the C# Function based example, the following line has an additional closing parenthesis
ctx.Return(ctx.GetState&lt;int&gt;()));

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e12177-bb3a-d00c-99a5-422e00f9b03f
* Version Independent ID: 2fa1cf0d-2a5f-2fb0-ef25-bccfac3279fd
* C

[2019-11-07 20:36] KSchlobohm opened #42370 "Groups Overage Indicator references missing section "hasGroups""
The description for the Group Overage Indicator states:
"For token requests that are not length limited (see hasgroups above) but still too large for the token, a link to the full groups list for the user will be included. For SAML this is added as a new claim in place of the groups claim."

the `hasgroups above` section is missing

---
#### Document Details

⚠ *Do not edit this section. It is req