[2020-01-03 00:44] Karishma-Tiwari-MSFT commented on #45500
@MattHartz I found a similar question [here](https://developercommunity.visualstudio.com/content/problem/679182/add-service-fabric-container-orchastrator-broken.html).
Please go through the suggestion shared in that link and let me know if it helped.

[2020-01-03 00:45] Mike-Ubezzi-MSFT commented on #45473
@pauloster Thank you very much for your interest in Azure SQL Data Warehouse (Synapse Analytics). I am assigning this to the content author to evaluate and update as appropriate. I couldn't find any additional detail to help clarify your request.

[2020-01-03 01:01] kgremban commented on #45345
@perkops Thank you for pointing out that inconsistency. I will update the tutorials that use Visual Studio 2019 to make sure they reference the .env file for credential storage.

[2020-01-03 01:03] djpmsft commented on #40088
#please-close

[2020-01-03 01:03] #40088 closed

[2020-01-03 01:18] MartinJaffer-MSFT commented on #45296
@DwijadasDey  What you say makes sense.

@hrasheed-msft for confirmation

[2020-01-03 01:22] femsulu commented on #45494
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-03 01:25] ssrikantan commented on #45397
I am trying to follow the steps in this article, but the program throws a runtime exception that I indicated above. If this needs to be discussed in the forum you mentioned, then its fine

[2020-01-03 01:29] richardhauer opened #45521 "UserHelpText is not a valid child element of ClaimType"
Seems like the supporting text can only be added through the Localization system and not on the ClaimType directly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eae8461-82d9-9172-a76d-3185799203b4
* Version Independent ID: 8c059024-1b26-ed3f-c53b-246000b8bf7f
* Content: [Add claims and customize user input in custom

[2020-01-03 01:37] abbasvanak commented on #45291
I have included this work around. For now this will work with coalesce(1). Please let me know if you treat this feature enhancement request or defect

[2020-01-03 02:07] mudithaa opened #45522 "URL Rewrite doesn't work as explained here"
I'm trying to use URL rewrite to convert all incoming requests to lowercase using the example given here. (.*) and $L1. But that rules doesn't seem to have an effect. I get an BlobNotFound when I request anything with uppercase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374268-b78a-4298-5e7c-589f358754e7
* Versi

[2020-01-03 02:10] MicahMcKittrick-MSFT commented on #28037
At this point in time we plan to leave the article as is. If you have further questions please reach out to me offline.

#please-close

[2020-01-03 02:10] #28037 closed

[2020-01-03 02:14] MicahMcKittrick-MSFT commented on #42612
Currently the list is still valid. Once we add more regions we will update the documentation

#please-close

[2020-01-03 02:14] #42612 closed

[2020-01-03 02:33] SaurabhSharma-MSFT commented on #45510
@xom-pschiess Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-03 02:34] SaurabhSharma-MSFT commented on #45327
@manish-shukla01 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-03 02:34] #45327 closed

[2020-01-03 03:16] kavi99506 commented on #45495
@mike-urnun-msft Here is the link for the documentation - https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/advanced?tabs=azure-cli#join

[2020-01-03 03:21] AshokPeddakotla-MSFT commented on #45317
@Milan991 This could be a transient failure. I would suggest you delete the existing one and add again.
I tried adding the user with custom role and it is working as expected.

Please try now and let us know if you face any issues.

[2020-01-03 03:32] mike-urnun-msft commented on #45495
Thanks for providing additional info, @kavi99506! I have assigned an engineer who can help with the next steps.

[2020-01-03 03:34] ram-msft commented on #45499
@assafi Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-03 03:44] pranavq212 commented on #45466
@gvashishtha I was looking at page https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/provision-vm, yesterday somehow it was showing images & Windows 2016. Now it is updated with Win 2019 with changes from you on 1st Jan(https://github.com/MicrosoftDocs/azure-docs/commit/830125d3d798ab49b28f3504aaf42ea3df42d27b#diff-fbc513335e7fa91fe8b8d3b2a8be63f6). This issue is

[2020-01-03 03:44] #45466 closed

[2020-01-03 03:44] jdanyow commented on #45324
@Mike-Ubezzi-MSFT thanks, done. Any chance you could turn on the GitHub issue integration in the REST API documentation?

[2020-01-03 03:47] h164654156465 opened #45523 "How to use Azure Kinect DK as microphone input?"
I copy and paste the c# sample code above to my Program.cs.

The only difference is that I change audio Input
from
using (var audioInput = Helper.OpenWavFile(@"8channelsOfRecordedPCMAudio.wav"))
to
using (var audioInput = AudioConfig.FromMicrophoneInput("d95f1c522808786491cf6d355bed1201304fd7101fe7dce493419d575ab72a30"))

But when I started debugging the application, the console showed nothing but

[2020-01-03 03:55] SnehaAgrawal-MSFT commented on #45511
@hisathya Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-03 04:08] kobulloc-MSFT commented on #45346
Adding @lgayhardt .

[2020-01-03 04:14] SubhashVasarapu-MSFT commented on #45522
@mudithaa , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-01-03 04:19] ManojReddy-MSFT commented on #45493
@NebV Thanks for bringing this to our attention. I have assigned this to the author to update the doc accordingly.

[2020-01-03 04:28] ManojReddy-MSFT commented on #45521
@richardhauer Are you using the "UserHelpText" element for a textbox?

I tested this for text box and it is working as expected. Also, can you elaborate on what you mean by the Localization System?

[2020-01-03 04:36] SubhashVasarapu-MSFT commented on #45284
@datocrats-org , Appreciate your patience. We have edited the document accordingly and it would take sometime for the changes to get reflected over the document.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-03 04:36] #45284 closed

[2020-01-03 04:57] RohitMungi-MSFT commented on #45523
@h164654156465 Thanks for your question. Could you please check if these [steps ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-select-audio-input-devices)to find the audio device id for speech SDK is same as the id you are using?

@markamos Do we have a quickstart to use Azure Kinect DK with speech SDK?

[2020-01-03 05:02] DCtheGeek commented on #45495
#reassign:DCtheGeek

[2020-01-03 05:02] DCtheGeek commented on #45495
@kavi99506 Thanks for the question! While _leftsemi_ and _leftanti_ are part of KQL for the join operator, they aren't supported by Resource Graph. Only _innerunique_, _inner_, and _leftouter_ are supported. You can see the full listed of KQL language elements supported by Resource Graph here: https://docs.microsoft.com/azure/governance/resource-graph/concepts/query-language#supported-kql-language

[2020-01-03 05:02] #45495 closed

[2020-01-03 05:04] JasonWHowell commented on #44957
@WilliamVannuffelen

Sorry about that cutoff sentence. It appears it was a human error when the article was edited to add that sentence.

https://github.com/MicrosoftDocs/azure-docs/commit/9019c075fbee35c7a7e4639c9f164bfec4859bdd#diff-875c41ee62fc8b9bf6c9bdfc7d7ba8cfL42

One way to figure this out is to use the resource explorer, but I'm not seeing this resource provider listed on my subscription.

[2020-01-03 05:16] collinstevens commented on #43958
@DixitArora-MSFT I read through the referenced issue, but I don't see an answer to the question of how long we have to clean up and exit as asked by @Expecho?

[2020-01-03 05:18] oscarrod5 opened #45528 "Please update these instructions as well as any other instructions."
These instructions are outdated especially Easy Tables as it no longer exists.  I couldn't even get the iOS app to run per instructions.  I had to use a podfile to download the dependencies and work off of workspace.  It kept saying I was missing the 'MicrosoftAzureMobile/MicrosoftAzureMobile.h' file not found.
I'm very new to all of this and not having many of these instructions updated is very h

[2020-01-03 05:20] msrini-MSFT commented on #45364
@josh-gregory , please tag me if you have any further questions.

[2020-01-03 05:20] #45364 closed

[2020-01-03 05:20] msrini-MSFT commented on #45462
@harryvinod , Does that answers your questions?

[2020-01-03 05:33] souravmishra-msft commented on #45318
@anis020
As far as i understand, here we have an application that is divided in two parts, the frontend and the backend. The Forntend is already published in AAD and you want the backend to be available across regions (When you say across multiple regions are you referring to making the backend available in multiple AAD tenants like making it Multi-tenant?). Moving ahead with that idea, I would li

[2020-01-03 05:34] JasonWHowell commented on #44957
Found the swagger spec for the REST API version 2018-08-01 that would build the documentation. I don't see that we have the documentation for the preview API, but I'm not sure why that is yet.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json#L195

The **reports** operati

[2020-01-03 05:36] h164654156465 commented on #45523
Yes, I've used Javascript to check it before.
`navigator.mediaDevices.enumerateDevices();`
It returned the device id of Azure Kinect DK(I've plugged in cable to test), and I put it into `AudioConfig.FromMicrophoneInput("<device id>")`.

Thanks!

[2020-01-03 05:48] SumanthMarigowda-MSFT commented on #45397
@ssrikantan Thank you! I would request you to please create forum thread as mentioned in the above link and share screen shot if you are getting any error message or code? We will follow-up there
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-03 05:48] #45397 closed

[2020-01-03 05:59] richardhauer commented on #45521
Yes it was on a `TextBox`.  The XSD didn't like the element, and when uploading the policy file I got a validation error.

Just reviewing the `ClaimType` now and it seems like the order of the child elements is significant, so adding `UserHelpText` after the `UserInputType` was invalid, but adding it before `UserInputType` and after `DataType` is ok.

I haven't tried re-uploading the policy but pe

[2020-01-03 05:59] #45521 closed

[2020-01-03 06:02] RohitMungi-MSFT commented on #45523
@h164654156465 Here is the [sample ](https://github.com/Azure-Samples/Cognitive-Services-Speech-Devices-SDK/blob/master/Samples/Windows_Linux/SampleDemo/src/com/microsoft/cognitiveservices/speech/samples/Cts.java)for using Azure Kinect DK as speech input for conversation transcription. We will check with our product group if setting the device id works with Kinect DK and update the thread.

[2020-01-03 06:14] shashishailaj commented on #45528
@oscarrod5 Thank you for your feedback . We will investigate and update this thread.

[2020-01-03 06:20] AshokPeddakotla-MSFT commented on #44703
@MikeWilcoxMicrosoft As mentioned, Phill will update the pre-requisites in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-03 06:20] #44703 closed

[2020-01-03 06:42] dem108 opened #45530 "Any guidance on choosing Recogntion Model and difference against Detection Models?"
Do Recognition Models differ from Detection Models? How so?
The documentation on Detection Model has a comparison table for Detection Models: https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/specify-detection-model
Do we have such for Recognition Models?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-01-03 06:48] msrini-MSFT commented on #45492
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/100065

[2020-01-03 06:49] msrini-MSFT commented on #45356
@jorritmeijer80 , Application Gateway is a PAAS resource and accelerated networking cannot be applied on a PAAS resources.

Let me know if you have any further questions.

[2020-01-03 06:54] akczcz commented on #45355
Such ARM template defines its scopes, maybe it will help you https://github.com/Azure/azure-quickstart-templates/blob/master/monitor-servicehealth-alert/azuredeploy.json

[2020-01-03 06:55] #45492 closed

[2020-01-03 07:22] h164654156465 commented on #45523
@RohitMungi-MSFT I'll try that sample written in Java. Would love to have C# one. So many thanks.

[2020-01-03 08:03] jjindrich commented on #43272
But Virtual Kubelet creates container with public IP. I need same design as have linux, it makes private ip for container in kubernetes cluster

[2020-01-03 08:22] KrishnaG-MSFT commented on #45351
@jesper247 At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-01-03 08:22] #45351 closed

[2020-01-03 08:36] AshokPeddakotla-MSFT commented on #44894
@arduppal Please check this issue and provide your suggestions.

[2020-01-03 08:37] sumitt18 opened #45533 "EventHubProcessor Lease documentation is not very descriptive."
1. What is the difference between SequenceNumber and Offset in an EventHub [Lease](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.processor.lease?view=azure-dotnet)?
2. Is the sequenceNumber a monotonically increasing number for the events received within a partition? Is it maintained even after the older events expire after the retention period?
3. Why is the offset a strin

[2020-01-03 08:45] jainlavish opened #45534 "500 Internal Server Error once login is done on AD B2C with Azure AD as external IDP"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 171f21f0-1c8c-42f9-dbb8-2da1ebc70892
* Version Independent ID: fe1d0a08-231e-5094-2406-1b548cb1174e
* Content: [Set up sign-in for multi-tenant Azure AD by custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup

[2020-01-03 08:48] cbailiss commented on #45186
Thanks @xyh1.  The support call number was SR:119122022001374.

[2020-01-03 09:04] ylashin opened #45535 "Improve exception handling"
When camera capture module starts before classifier module, the below code enters the exception clause
[code]
Because response is not assigned, another exception will happen with an error like:

[code]

After a while things will be fine when the classifier module is loaded but that initial error is not good plus if an exception happens for any reason calling the classifier, the logs will be pollut

[2020-01-03 09:06] candidson commented on #45471
@alexkarcher-msft I am referencing Key Vault from within the application using the Key Vault Python SDK with MSI authentication. Similar to the following sample

https://github.com/Azure-Samples/app-service-msi-keyvault-python/blob/master/app-service-azmanagedid-keyvault-python-v3/example.py.

[2020-01-03 09:07] AshokPeddakotla-MSFT commented on #45535
@ylashin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-03 09:08] SwathiDhanwada-MSFT commented on #45405
@tigerhive I tried to repro the issue from my end and python code worked for me without any issues. Can you please let me the version of python you are using?

[2020-01-03 09:34] lmalmeida commented on #45474
Hello,
Got what was my fault. I've missed this bit: " need to have a subscription
or Azure AD Premium  ".

Thank you for your time.
--
Luciano Almeida

On Thu, Jan 2, 2020 at 11:22 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-01-03 09:35] amitvad commented on #45169
Ok..S3 here refers to the tier...got it. Thanks.

On Thu, Jan 2, 2020, 22:09 Cameron Tudball <notifications@github.com> wrote:

[2020-01-03 09:36] TechWatching opened #45536 "Connection string vs application settings"
When working ASP.NET Core, what is the point of using a connection string instead of an application setting ?

I understand the automated backup reason which is a very specific case but shouldn't the documentation states that for any other case ASP.NET Core should use application setting instead of connection string.

I see why ASP.NET is treated differently than other language stack because of th

[2020-01-03 09:38] RohitMungi-MSFT commented on #45530
@dem108 The default value for 'recognitionModel' is 'recognition_01' while creating the personGroup. If the latest model needed, please explicitly specify the model you need in this parameter.

New faces that are added to an existing person group will use the recognition model that's already associated with the collection. Existing face feature(s) in a person group can't be updated to features ext

[2020-01-03 09:56] DigIntSys opened #45537 "no description of caching-mode="cache-on""
Looks good,
Except i dont see any documentation for the caching-mode="cache-on" element. Any idea what it does and how important it is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad05f88c-be94-58f8-b05c-a4a1a102e24f
* Version Independent ID: 8f58d4b1-73f7-41f2-a15b-fe71d8bf82b0
* Content: [Add caching to improve pe

[2020-01-03 10:07] SnehaAgrawal-MSFT commented on #45536
@TechWatching Thanks for the feedback! We are currently investigating and will update you short

[2020-01-03 10:09] SubhashVasarapu-MSFT commented on #45303
@dcasota , Appreciate your patience. There is no possibility for now for checking/selecting the Mellanox driver for specific VM size before deploying. And also from the reproduced scenario, I found that a basic VM SKU which supports accelerated networking is carrying the same Mellanox ConnectX-3 network adapter as the Standard E64s v3 (64 vcpus, 432 GiB memory) VM which is largest among the SKU. S

[2020-01-03 10:09] #45303 closed

[2020-01-03 10:17] webash commented on #42535
Whilst I appreciate that it is a holiday period across most of the globe, this bad advice is still present on the site. Can this be updated with a matter of urgency?

[2020-01-03 10:30] SwathiDhanwada-MSFT commented on #45494
@ojflores I have reproduced the issue from my end and i have successfully executed the command. I would suggest you cross check if the file exists in the mentioned location and also try to execute the command with sudo permissions.

Here is a snapshot of the output when i reproduced the issue.

![image](https://user-images.githubusercontent.com/48976275/71718728-26afdc00-2e42-11ea-9853-5c1f0f044a6

[2020-01-03 10:40] Milan991 commented on #45317
@AshokPeddakotla-MSFT I figured it out, I didn't select the telemetry permission. Maybe that step should be added in documentation. Thanks.

[2020-01-03 10:40] #45317 closed

[2020-01-03 10:43] SadiqhAhmed-MSFT commented on #45374
@santhoshbomma9 Closing this issue for now as there was no response for a while. Feel free to re-open to continue the discussion.

[2020-01-03 10:43] #45374 closed

[2020-01-03 10:47] techsaau opened #45538 "Same AKS VNet in multiple Subscriptions"
I have a doubt with respect to AKS networking in Azure.
I have multiple subscriptions and one of then is using network range 10.x.x.x - 10.30.x.x
As Azure recommendation is keep unique (diff from on-premise and already in use) vnet range. As all clusters will be in different subscriptions, so there should not be any issue.

Just wanna confirm, Can I create multiple aks with range 10.0.x.x in diffe

[2020-01-03 10:53] souravmishra-msft commented on #45071
@keithdv, Had some interesting facts regarding this scenario. This process is supposed to only work with Federated domains and not with a Managed domain, as the response shared by IDP (in case of a managed domain) is not trusted by that same IDP because the managed domain in not a part of the Azure Trusted domain list. In the Azure's Trusted Domain List only the federated domains are part of.

Hop

[2020-01-03 11:00] dcasota commented on #45303
Okay, thanks for clarifying. Really appreciate you answer! I switched from v2 to the Standard_E4s_v3 offering. From lessons learned, the Mellanox ConnectX-3 driver is included in newer product drivers.
The Azure docs for a Windows Server Virtual Machine is really good. And in respect to the vendors' reference for other OS the Mellanox driver could be installed manually.

[2020-01-03 11:00] AshokPeddakotla-MSFT commented on #45317
Glad to hear that you got it resolved. @lmasieri please see this feedback and update the doc as appropriate.

[2020-01-03 11:25] SadiqhAhmed-MSFT commented on #45484
@taromielnaz You can use "File Recovery" option that enables you to recover files and folders from an Azure VM backup. Reference link - https://docs.microsoft.com/en-us/azure/backup/backup-azure-restore-files-from-vm

[2020-01-03 11:26] tigerhive commented on #45405
@SwathiDhanwada-MSFT Hi - I'm using Python 3.7.5.

[2020-01-03 11:31] djpugh opened #45539 "Doc links are incorrect"
Links are to (internal?) review site - e.g. https://review.docs.microsoft.com/en-gb/python/api/azureml-core/azureml.core.run.run?view=azure-ml-py&branch=master#register-model-model-name--model-path-none--tags-none--properties-none--model-framework-none--model-framework-version-none--description-none--datasets-none----kwargs-

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-01-03 11:37] umeshbarapatre commented on #45071
@souravmishra-msft - yes that is correct. SAML bearer assertion flow is for federated domains unlike managed domain. Hence, I asked for what are we trying to achieve here with this test.

[2020-01-03 11:54] souravmishra-msft commented on #45285
@albigi, We are going through an internal discussion for this. Do allow us sometime and will get back to you soon on this thread.

[2020-01-03 11:57] PramodValavala-MSFT commented on #45537
@DigIntSys Thanks for catching that! I believe the attribute is no longer required.

@vladvino Could you please confirm?

[2020-01-03 12:39] twildeman commented on #29547
ACU Numbers are also missing for the B(urstable) series.

[2020-01-03 12:45] garddolau opened #45541 "Missing Create Network Rule"
Tutorial will not work without creating a Network FW Rule, Tutorial only creates a DNAT Rule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea87406-981b-8188-7d3f-ef68eb2ba367
* Version Independent ID: 08dd0694-7a64-e24a-5338-9de873f4bda2
* Content: [Filter inbound traffic with Azure Firewall DNAT using the portal](ht

[2020-01-03 12:47] crisher0219 commented on #37499
@MartinJaffer-MSFT, has anything changed? I suppose not with the holidays.

[2020-01-03 12:56] HenrikStaunPoulsen opened #45542 "is @schedule_start_time in UTC or local time?"
Please document if @schedule_start_time is in UTC or local time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and manage Elastic Database Jobs with Transact-SQL (T-SQL) - Azure SQL Database](https://

[2020-01-03 13:22] MaRX8nka commented on #45122
Hi tried this tutorial and succeeded to get up-to the chapter "Push to Azure from Git" when got the same error as above from gulp:
:
remote: npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.11: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
remote:
remote: ........
remote: fs.js:27
remote: An error has occurred during web site deployme

[2020-01-03 13:28] dzajda opened #45543 "Access to private Blob Storage for Cognitive Search service"
Hi,

I've created the **private** Blob Storage with the **private** container, and upload the JSON file.

Next, I've created the Cognitive Search service.

Now, I'm trying to build an index and use the Blob Storage as a data source, but during importing the data I get an error:
`Error detecting index schema from data source: ""`

When, in "Storage account -> Firewalls and virtual networks" tab, I

[2020-01-03 13:42] msrini-MSFT commented on #45541
@garddolau ,

https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#when-configuring-dnat-for-inbound-network-traffic-do-i-also-need-to-configure-a-corresponding-network-rule-to-allow-that-traffic

When configuring DNAT for inbound network traffic, do I also need to configure a corresponding network rule to allow that traffic?
No. NAT rules implicitly add a corresponding network rule to all

[2020-01-03 14:00] sarah026 commented on #33515
I hope you'll also replace SSL in the diagram! because SSL is an old protocol, you use TLS1.2... I understand novice people use SSL interchangeably, but if I want to use this diagram with people who understand basic security, they'll pick on it

[2020-01-03 14:06] SamShekhovtsov opened #45544 "ApplicationInsights for Asp Net Core 3.1"
Could you confirm that current latest version of the ApplicationInsights 'Microsoft.ApplicationInsights.AspNetCore' v2.12.0 is not compatible with the Core 3.1? When I try to add that library reference, it also adds more than 10 other libraries with older versions, that might conflict with Core 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-01-03 14:20] MonikaReddy-MSFT commented on #45544
@SamShekhovtsov , Thanks for asking the question. We will investigate it further and update you shortly.

[2020-01-03 14:37] CeciAc opened #45546 "Execute Pipeline Activity The final execution status of the pipeline BUG"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/678

The comments below were machine-translated

@Mr-San commented 11 hours ago — with docs.microsoft.com
Normal logic: Set variable Activity (B)-&gt; Hive Activity (A), the dependency condition of activity B for activity A is "failure", after A fails, call B successfully, then Pipeline returns success

Found

[2020-01-03 14:41] the-blesss opened #45547 "Old URL for myapps should be updated in the example"
On the Send Invite example: https://myapps.azure.com is used when it should now point to https://myapps.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ea676e-0678-9e2d-e009-fb44587f93dd
* Version Independent ID: 40b581da-26ea-2890-4a78-54b29f5dc610
* Content: [Quickstart: Add a guest user with PowerShel

[2020-01-03 14:43] jjindrich opened #45548 "Windows KMS servicetag is missing"
I have several Azure Firewall deployments with Windows servers. I'm looking for KMS servicetag. I cannot use fqdn destination address because KMS is not using http/https. Please could you add this service tag ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d4e1aef-bb70-e95a-66fa-b8e25bc9fcbb
* Version Independent ID:

[2020-01-03 15:06] clfilipe opened #45549 "Documentation update"
There is an issue with this documentation on how to onboard to access reviews feature. The 'onboard button' is not available within the 'Access reviews' blade. Now it is right below 'programs'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8a3416-ca49-e148-89ec-aa004914eaa5
* Version Independent ID: 6e6831f4-40ed-40

[2020-01-03 15:19] hrasheed-msft commented on #45234
@irgnosis The Active Directory team currently has a doc that addresses your concern. Please see [Tutorial: Use a Windows VM system-assigned managed identity to access Azure Key Vault](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-nonaad). Thanks

[2020-01-03 15:19] SwathiDhanwada-MSFT commented on #45405
The code that is mentioned in the document works for Python version 2. As you were executing the code with Python version 3 , you were facing issues.

[2020-01-03 15:19] hrasheed-msft commented on #45234
#please-close

[2020-01-03 15:19] #45234 closed

[2020-01-03 15:19] viveks84 opened #45550 "Need more clarity"
CPU usage based power off will not allow non usage. Can this be tweaked to disconnect amd logoff the user and then power off. Also instead of tahs, can these systems be grouped via logical entities? Not dependent on tags.

Power on action is still static. It needs more intelligence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-01-03 15:23] bpcastilho opened #45551 "Hybrid OIDC flow - terminology"
I don't see the term Hybrid for on the our OIDC flow, so it would interesting to get a definition about what Hybrid means on this context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7f1af72-01ef-2a13-8498-e2c21261c1e0
* Version Independent ID: 33f65db3-8bd6-33ad-675e-b0337c56596f
* Content: [Azure AD for developer

[2020-01-03 15:25] natelaff commented on #29145
Have spent the last 8 hours on this and still stuck here. Is there a way to do this step in the Portal instead?

[2020-01-03 15:42] pragnagopa opened #45552 "[Azure Functions] Add documentation for remote debugging"
Follow up item from issue https://github.com/Azure/azure-functions-host/issues/5344
As of now there is only documentation for debugging azure functions locally.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-local

Need to add sections on remote debugging for each language. For languages where remote debugging is not supported, need to state that explicitly.
cc @ggailey77

[2020-01-03 15:44] jeffpatton1971 commented on #44332
Any updates on this? Those comments are relevant to the work I do in Azure and it would be very beneficial to have a more filled out document.

[2020-01-03 15:50] migrande opened #45553 "Consolidated Permission Information"
I think it would be really helpful if this page included the specific permissions required to do certain actions in Network Watcher.  For example, we are using an SPN in a least-privilege model to deploy NSG Flow Logs.  This page does not contain the information we need to know which specific permissions have to be granted to do that.

Through testing, we found that the following are required:
* N

[2020-01-03 15:53] FuntimeMS opened #45554 "Location of test files is not MyDocuments"
At the top of the instructions, in "Setting Up", you run 'mkdir data' under the project directory, and then the code also references the data subdirectory.
At the end, in "Run the code", it says to check your MyDocuments folder.
I see the files in the data subdirectory as I would expect based on the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-01-03 15:59] dmiyamasu opened #45555 "How to view cert expiration dates"
Please add instructions on how to view the certificate expiration date.  I don't know how to prioritize rotating the keys because I don't know if they are expiring in 2 days or 2 months.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b78509d-73eb-6c32-aee1-9b34685a64ff
* Version Independent ID: 6f87cf70-1f5a-0f9e-862d

[2020-01-03 15:59] keithdv commented on #45378
There are two key steps to SAML bearer assertion flow - getting the assertion and using the assertion to get a bearer token. This article did not help me achieve either.

Microsoft Identity Platform (Azure Active Directory) v2 ('oauth/v2.0/token') does not support step 1 - getting an assertion - yet version 1 ('oauth/token') does. That needs to be stated directly. Using ADFS, an older technology t

[2020-01-03 16:01] msrini-MSFT commented on #45548
@jjindrich , Thank you for your feedback. Can you please raise a User Voice feedback to get your idea established?

https://feedback.azure.com/forums/217313-networking?category_id=345022

GitHub is to report any doc changes or address product issues. Please use User Voice to ask for feature request.

[2020-01-03 16:01] #45548 closed

[2020-01-03 16:03] crpietschmann commented on #33515
@MarileeTurscak-MSFT  FYI, I submitted PR #45556 that contributes an updated architecture diagram with the current Azure logo updated and "SSL" replaced with "TLS".

[2020-01-03 16:07] TomArcherMsft commented on #44332
@i255d @jeffpatton1971

I just returned from vacation and most people are returning next week. I'll get you an update then.

Thanks for your patience.

Tom

[2020-01-03 16:09] NavtejSaini-MSFT commented on #45393
@XiaofuHuang Please let us know if you have any questions or we will go ahead and close the thread by EOD.

[2020-01-03 16:10] #45479 closed

[2020-01-03 16:13] mrklean opened #45557 "Changing DNS Server's does not require a reboot"
We were able to use "ipconfig /release && ipconfig /renew" to blip the NIC in our Windows VMs to gather the changes. This blips the network connection on the box for a few seconds but stops the need to reboot the VM. Unsure if this will work in all situations, but it really helped us in a live production change situation.

"ipconfig /release && ipconfig /renew" needs to happen in the same line, as

[2020-01-03 16:13] GiftA-MSFT commented on #45539
@djpugh thanks for reaching out. We will look into this issue and get back to you shortly.

[2020-01-03 16:13] mrklean commented on #45557
This is in response to Step 6 of Changing DNS Servers
Restart the VMs that are connected to the virtual network, so they are assigned the new DNS server settings. VMs continue to use their current DNS settings until they are restarted.

[2020-01-03 16:19] NavtejSaini-MSFT commented on #45542
@HenrikStaunPoulsen We are checking this and will get back to you.

[2020-01-03 16:24] GiftA-MSFT commented on #45539
@djpugh which section in the document are you referring to? Where is it referenced? Thanks.

[2020-01-03 16:24] vksinghibm opened #45558 "Security concepts - Good content"
The security concepts especially the networking security is covered very clearly and understandable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0fcc83c-c911-4d82-98af-ed8880ca6c4a
* Version Independent ID: 00462d96-9a30-8cef-5932-c99bab237706
* Content: [Concepts - Security in Azure Kubernetes Services (AKS)](http

[2020-01-03 16:24] dmiyamasu commented on #45555
disregard. I see the commands now.

[2020-01-03 16:24] #45555 closed

[2020-01-03 16:33] SwathiDhanwada-MSFT commented on #45550
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-03 16:37] gituser227 opened #45559 "If you are running an Azure App Service, your agent will be updated automatically."
The article states "If you are running an Azure App Service, your agent will be updated automatically. " That is not true.  We are running an Azure App Service, and yet Application Insights Profiler in the Azure portal keeps telling us our app is using an older agent, and ironically sends us to this page.  Obviously Azure App Service apps are not updated automatically.  Please revise to explain ho

[2020-01-03 16:41] speciesunknown commented on #33979
Nano will literally never ever change its command for saving a file, and you guys are in control of its executable name (probably nano)

So there is no harm in describing these steps.

Obviously including a vi tutorial is off topic but nano? You pre-installed it for a reason.

[2020-01-03 16:51] mamccrea commented on #43890
I am going to close this issue for now. If your are continuing to have this issue, please reopen this Git Issue and provide the steps so we can reproduce on our end.

#please-close

[2020-01-03 16:51] #43890 closed

[2020-01-03 16:51] curtand commented on #42594
Hi @ShiChen872
I published the update. We're going to be reviewing and updating all roles in the article this quarter.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/100019

[2020-01-03 16:51] keithdv commented on #45071
Here is what we need. Our application is calling an Azure AD registered and protected API. That Azure API is then calling an SAP registered and protected API. SAP is federated to Azure AD. We do not want the application to be aware of SAP or call SAP directly.
So we need to do a token exchange within the Azure API: exchange the Azure bearer token to a SAP bearer token while retaining the identity.

[2020-01-03 16:52] MattHartz commented on #45500
Hi @Karishma-Tiwari-MSFT
This is an already existing project so following this step:

"Alternatively, if you have an ASP.Net project that was already enabled for Docker support and want to still add Service Fabric orchestration, you can unload the project and from the command line or explorer rename, move, or delete the following files from the project folder (attempting to move or delete the file

[2020-01-03 16:53] CeciAc opened #45560 "Error in terraform plan -var-file <my-variables-file.tf>."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1062

The comments below were machine-translated

@Sanses commented 9 hours ago — with docs.microsoft.com
&lt;my-variables-file.tf&gt;

Extensions ending in tf are loaded automatically, so they must be changed to &lt;my-variables-file&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-01-03 16:53] curtand commented on #42594
https://github.com/MicrosoftDocs/azure-docs/issues/42594

[2020-01-03 16:56] Karishma-Tiwari-MSFT commented on #45558
We are glad you found the document helpful. Thank you for sharing the feedback. :)
CC: @mlearned

[2020-01-03 16:56] #45558 closed

[2020-01-03 16:58] aysemutlu opened #45561 "Unable to monitor messages coming from tempSensor - [IoTHubMonitor] ServiceUnavailableError: connect ETIMEDOUT"
In the last step "Start Monitoring Built-in Event Endpoint", I got this error:
[IoTHubMonitor] Start monitoring message arrived in built-in endpoint for device [myEdgeDevice]...
[IoTHubMonitor] ServiceUnavailableError: connect ETIMEDOUT 52.175.221.106:5671

Everything was succesfull before that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-03 17:02] umeshbarapatre commented on #45071
Well this is exactly what we wanted to know. This article was also published when we tested with the same SAP scenario and the SAP article that you mentioned while doing the POC. The only difference is that in that scenario AAD as well as SAP has been federated with a third party IDP viz ADFS but it can be any other IDP. And hence this suggested to call ADFS endpoint to fetch the SAML assertion. I

[2020-01-03 17:04] mmacy commented on #44954
@jabamit When you try to build the solution, what is the exact error message you receive? Please paste the build output (**View** menu > **Output**) here.

Does your build output start with something similar to the following?

[code]

[2020-01-03 17:05] aysemutlu opened #45562 "How to visualize the generated data"
What is the best way of visualising messages arrived at IoT Hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart create an Azure IoT Edge device on Linux](https://docs.microsoft.com/en-us/azure/iot-

[2020-01-03 17:06] umeshbarapatre commented on #45378
@rwike77 - I have already updated my comments on the other thread for the same issue. We can close one of them and keep working on the other one. https://github.com/MicrosoftDocs/azure-docs/issues/45071#issuecomment-570629846

[2020-01-03 17:21] tsarna commented on #33998
I also asked this in #19980 over a year ago, and it was just closed without an answer.

[2020-01-03 17:24] frankzhewang opened #45563 "Typo in listing locations command"
In the "Deploy the sample" section, the command to list all the locations should be `az account list-locations`, not `az account locations-list`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Quickstart: Cre

[2020-01-03 17:26] tsarna opened #45564 "Please add expected network bandwidth"
The "Size table definitions" section of the page even defines the "expected network bandwidth" column, but the column is not present.

I opened #19981 for this over a year ago and it was closed without an answer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9f65d0-2ef2-bc61-a57d-7607421d3e8a
* Version Independent I

[2020-01-03 17:30] MicahMcKittrick-MSFT commented on #44544
I updated the FAQ. Once the PR merges the changes will go live after a few hours.

#please-close

[2020-01-03 17:30] #44544 closed

[2020-01-03 17:32] markjbrown commented on #7705
The best practice for this today is to store the data in a separate property all lower case and then use that for queries with values passed through lower().

We are currently working on providing case-insensitive indexing but do not have an ETA to announce at this time.

@Mike-Ubezzi-MSFT , please assign this to @timsander1 Tim, can you please include a note on this article to provide guidance in

[2020-01-03 17:35] MicahMcKittrick-MSFT commented on #44441
Updated. Once the PR merges the changes will go live after a few hours.

#please-close

[2020-01-03 17:35] #44441 closed

[2020-01-03 17:42] MarileeTurscak-MSFT commented on #45549
@clfilipe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-03 17:43] MicahMcKittrick-MSFT commented on #44108
The Av2 series does not support premium storage. I am working to determine the correct wording to replace that Av2 description.

[2020-01-03 17:43] MarileeTurscak-MSFT commented on #45547
@the-blesss
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-03 17:44] #44108 closed

[2020-01-03 17:49] #45411 closed

[2020-01-03 17:50] MarileeTurscak-MSFT commented on #45551
@bpcastilho
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-03 17:51] jjindrich commented on #45548
Added feature request https://feedback.azure.com/forums/217313-networking/suggestions/39360346-windows-kms-servicetag-is-missing-in-azure-firewal

[2020-01-03 17:59] mmacy commented on #45106
Hi @ekalyvio,

Thanks for your feedback. Regarding enabling the API, that is covered in the [Update the desktop application](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-tutorials-desktop-app-webapi?tabs=applications#update-the-desktop-application) section in the followup tutorial:

[Tutorial: Grant access to a Node.js web API from a desktop app using Azure Active Dir

[2020-01-03 18:05] MarileeTurscak-MSFT commented on #45551
Thanks! I made a pull request to update the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100087

From my understanding the hybrid OpenID Connect flow returns an ID token (to identify the user to the web application) and an authorization code which can be exchanged for an access token to present to the back-end Web API. (@rwike77 please confirm.)

[2020-01-03 18:05] #45551 closed

[2020-01-03 18:11] simonvane commented on #7705
@markjbrown  Is it safer to store as upper case because of the Turkish I problem? - https://haacked.com/archive/2012/07/05/turkish-i-problem-and-why-you-should-care.aspx/

[2020-01-03 18:15] dxkaufman opened #45566 ""Microsoft Azure datacenter IP ranges" link wrong"
Goes to a page about the Surface tablet.  Also, it would be helpful if there were discussion of how to determine the IP ranges that apply to services I am using.  For example, I have a timer trigger function in one linux python app service with one instance, and several blob and http trigger functions in two other linux python app services.  I'd like to be able to restrict the IP range for Azure t

[2020-01-03 18:17] markjbrown commented on #7705
Wasn't aware of this. Sure if you expect to have Turkish users then yes, use upper case.

[2020-01-03 18:22] MarileeTurscak-MSFT commented on #45549
I've assigned this to the author, @msaburnley, as I do not have the right tenant to update these screenshots.

[2020-01-03 18:23] NavtejSaini-MSFT commented on #45566
@dxkaufman For your first question the link is fine. On the same page if you see below you will get a button to download the file having Ip ranges as a XML.
![image](https://user-images.githubusercontent.com/52257742/71741127-0a08a980-2e2c-11ea-95f5-9588aced596c.png)
You can also follow this [link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#azure-sql

[2020-01-03 18:30] hrasheed-msft commented on #45454
Hello @Derek1101. The endpoint that you mentioned `https://clustername-int.azurehdinsight.net ` is created by default for all clusters that are created within a custom VNET. Please create a virtual network and then deploy a new cluster into that VNET. For more information, see [Create virtual networks for Azure HDInsight clusters](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-create-v

[2020-01-03 18:30] hrasheed-msft commented on #45454
#please-close

[2020-01-03 18:30] #45454 closed

[2020-01-03 18:35] mmacy commented on #45121
Hi @MySecondLife,

This is related to https://github.com/MicrosoftDocs/azure-docs/issues/43340, which is left open to help track requests for an error code list.

We're working on a list but I don't yet have a timeline for publishing. Please follow that issue if you'd like to get get updates. Thanks for your patience!

[2020-01-03 18:39] linkerzx opened #45567 "[CosmosDB] Config URI definition format shouldn't be used and example inconsistent with text"
Hi,

The mention of "https://**FILLME**.documents.azure.com" in this page is a bit confusing, in the text it says to copy from the portal, while in the endpoint definition it states to just full a part of the url.

Filling the URL is also something that we shouldn't do. Not all cosmos databases have a url provided by the portal in that format.

For instance if I create a cosmos database with a mon

[2020-01-03 18:47] linkerzx opened #45568 "[CosmosDB] Connection String format"
The picture showing the [connection string](https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account#GetCustomConnection) shows the url in the format <acct-name>.documents.azure.com. This is a valid format for connecting to cosmos db, but not all the functionality of the api will be there in order to be able to leverage the functionalities of 3.6 for instance it is necessary to use

[2020-01-03 18:49] ivratche opened #45569 "User Administrator updating tenant password policies"
Under User Administrator above it says that the role can "Update password expiration policies", but that does not appear to be the case in the Office Portal. Is the statement incorrect or is there an unconventional way of doing it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Ve

[2020-01-03 18:51] dxkaufman commented on #45566
Thanks for the quick reply.  Sorry about that; the Surface add was so big I
didn't notice the content below.  Also, the content indicates that it is
being deprecated, so it may need to be updated anyway.

Dylan Kaufman    |    dkaufman@darwincg.com    |     Darwin Consulting Group
<http://www.darwincg.com>    |    (510) 599-2095

I am riding in & fundraising for the AIDS/LifeCycle
<http://www.tofi

[2020-01-03 18:51] shashishailaj commented on #29145
#reassign:msmbaldwin

[2020-01-03 18:53] linkerzx opened #45570 "[CosmosDB] MongoDB version is URI dependent"
I think it might be worth pointing out in that documentation that in order to be able to use the 3.6 feature, we need to connect through <acct_name>.mongo.cosmos.azure.com  rather than <acct_name>.documents.azure.com (which supports 3.2 features).

A lot of the documentation on cosmos db points out to url constructed in the format <acct_name>.documents.azure.com, which is still supported. This can

[2020-01-03 18:59] Grace-MacJones-MSFT commented on #45563
Hi @frankzhewang, thanks for submitting a PR to fix this  typo. The doc author will review the PR and get back to you.

[2020-01-03 18:59] #45563 closed

[2020-01-03 19:01] MarileeTurscak-MSFT commented on #45547
True! The new experience is even updated to myapplications.microsoft.com. https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-end-user-access

I'm assigning this to the author as the screenshot also needs to be updated.

[2020-01-03 19:04] VanMSFT commented on #45566
Hey @rohitnayakmsft - Can you help address Dylan's question?

[2020-01-03 19:06] #45105 closed

[2020-01-03 19:11] hruday94 commented on #29187
I noticed that the nuget package Microsoft.Azure.DataLake.Store v1.119 is allowing us to create and write files in Azure Data Lake Storage Gen 2 [https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage?view=azure-dotnet] along with nuget package Azure.Storage.Files.DataLake v 12.0.0-preview.7 which was mentioned by @pashetty  in the above comment.

I would like to know what is the prefe

[2020-01-03 19:12] ankku opened #45571 "I am getting error on as A database operation failed with the following error: 'The procedure \"usp_procedurename\" has no parameter named"
I followed this article as mentioned along with steps but while running the ADF I am getting error on A database operation failed with the following error: 'The procedure \"procedurename\" has no parameter named @parameter name. Its strange but have tried and checked everything still unable to make it work. my source is sqldb and my destination is also azure sql db

---
#### Document Details

⚠ *D

[2020-01-03 19:16] ivratche opened #45572 "User Administrator Rights"
The text above reads that User Administrators can "Manage all user properties except User Principal Name". That does not appear true as user admins can change UPNs for regular users and contradicts a statement just one line below "Manage all user properties including User Principal Name". Please fix to avoid confusion.

Also the article claims that User Admins can update FIDO device keys. I cannot

[2020-01-03 19:18] Adam-Smith-MSFT commented on #45554
@FuntimeMS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-03 19:19] mmacy commented on #44844
@Aubeauch The RESTful service available at the API endpoint is defined by the service itself and not Azure AD B2C, thus the HTTP method to use is variable and is based on the RESTful service. We cannot therefore specify which HTTP verbs should be used for any given REST API.

Passing back over to Amanpreet for followup on the _timeout_ and _retry_: #reassign:amanmcse

[2020-01-03 19:20] algattik opened #45573 "Clarify role names to be used in commands"
For example in the table under https://docs.microsoft.com/en-us/azure/data-explorer/manage-database-permissions#roles-and-permissions, one role is called "Database user" but the role name to be used in a management commend is "Users".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143622e5-86cc-6eeb-f9b8-c53336867149
*

[2020-01-03 19:23] thecpshah opened #45574 "Salesforce Marketing Cloud using ADF"
We want to ingest data from SFMC using the in-built connector from Azure Data Factory.

The connector needs two things: client ID and client secret. The team managing SFMC has given me these values but when I try the, I get an error:

`Authentication failed: Malformed response received from the authentication server that does not include the following required parameters for the next authenticatio

[2020-01-03 19:27] mmacy commented on #44051
This is being tracked internally in Azure DevOps PRODUCT BACKLOG ITEM 775838.

Cc: @yoelhor @valnav

[2020-01-03 19:28] hdeanmurray commented on #41233
Really appreciate the effort on this and I love the approach. This is a nice 1.0 release, but a couple additional features would help for our customer deployments. 1. Can you provide details of how this is configured so that we can pilot and mimic this with conditional access policies - maybe with an M365 E5 trial? 2. Can you allow creation of a "break glass" .onmicrosoft.com exception account?

O

[2020-01-03 19:29] CeciAc opened #45576 "main.tf Syntax error"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1061
The comments below were machine-translated

@Sanses commented 12 hours ago — with docs.microsoft.com
tags {
environment = "staging"
}

==&gt;
You must make the following changes.
tags = {
environment = "staging"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-01-03 19:30] algattik opened #45577 "Document how to manage service principal roles with management commands"
Format is apparently `.add database &lt;database&gt; &lt;role&gt; ('aadapp=&lt;clientID&gt;')`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143622e5-86cc-6eeb-f9b8-c53336867149
* Version Independent ID: be2e8dd2-907d-a749-5ce2-4d773e6fa098
* Content: [Manage database permissions in Azure Data Explorer](https://docs.m

[2020-01-03 19:31] FrankHu-MSFT commented on #45569
Hey @ivratche thanks for letting us know about this, we'll look into this and respond back accordingly

[2020-01-03 19:33] msrini-MSFT commented on #45557
@mrklean , Thank you for your suggestion. But it is recommended to restart the machine rather than using guest os commands as during the restart, platform takes care of the updating the DNS server.

[2020-01-03 19:36] Sandip-Raiyani commented on #43139
@ancibira We can schedule a phone call to understand the issue. It would be helpful for us to debug and resolve the issue over a screen share. Let me know if that works for you. Thanks.

[2020-01-03 19:38] IronmanM opened #45578 "Getting reverted to admin access again"
Whenever we see someone accessing notes/workspace created by them.
it’s getting reverted to admin access again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 913af5a7-a6af-1275-c06d-2b32aa705970
* Version Independent ID: 4f6c30d5-fd20-8d8c-36b9-b8d1647cb470
* Content: [Manage Access Control - Azure Databricks](https:/

[2020-01-03 19:40] ivratche opened #45579 "Password Administrator cannot invalidate refresh tokens"
The documentation above states that the least privilege role to invalidate refresh tokens is password administrator. However, I get the following error when I try it in PowerShell
Revoke-AzureADUserAllRefreshToken : Error occurred while executing RevokeUserAllRefreshTokens
Code: Authorization_RequestDenied
Message: Access to invalidate refresh tokens operation is denied.

---
#### Document Details

[2020-01-03 19:44] tfitzmac commented on #45468
@KasamShaikh - thanks for this feedback. I am updating the images.

[2020-01-03 19:48] mbialecka commented on #44894
@tanieee28 Have you created storage container "imageblob"? This error is to be expected on a fresh deployment when you haven't created any containers/blobs yet. The upload module is trying to push out blobs based on the configuration you specified but it looks like there is nothing to push out yet.

Let me know if you have any questions.

[2020-01-03 19:50] mike-urnun-msft commented on #45571
@ankku Thank you for your feedback. Could you provide us with the URL of the documentation that you were following? That way, we're able to locate the right team that's better suited to you address your feedback.

[2020-01-03 19:51] mike-urnun-msft commented on #45534
@jainlavish Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-03 19:53] BharathNimmala-MSFT commented on #45559
@gituser227 Thank you for bringing this to our attention, we will further evaluate the query and update the document accordingly. Will keep this thread updated. Thank you

[2020-01-03 19:56] ata18 opened #45580 "Given an image version, how do I get the list of regions it is replicated to?"
I have created an image version and replicated it to multiple regions with a replication count of 10.  Currently, I do not find a way to view the replicated images via cli or portal. The `az sig image-version list ` only shows the image versions which are in the same location as that of the image definition.

As a follow up question, what happens when this image version is deleted? Will the replic

[2020-01-03 20:01] taromielnaz commented on #45484
Actually, I was looking for a solution to automatically upload all files from a VM to an on-premises shared file.

[2020-01-03 20:09] himanshusinha-msft commented on #45546
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-03 20:12] himanshusinha-msft commented on #45533
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-03 20:13] himanshusinha-msft commented on #45533
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-03 20:13] shibinchandra commented on #42508
Hi @kovaliovsg,
Would greatly appreciate if you can share your pattern express in your GitHub. I am stuck at this issue. MSFT support is not able to help us out.
Thanks in advance!

[2020-01-03 20:20] himanshusinha-msft commented on #45574
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-03 20:23] APIWT commented on #45062
@DixitArora-MSFT @ggailey777
Any updates on this? Thanks!!

[2020-01-03 20:26] mike-urnun-msft commented on #45560
@CeciAc Thank you for your feedback! We will review and update as appropriate.

[2020-01-03 20:27] mike-urnun-msft commented on #45576
@Sanses Thank you for your feedback! We will review and update as appropriate.

[2020-01-03 20:27] cthombor commented on #31136
Hmmm... a good next step might be to look at some specific cases in which aka.ms is used, then classify as a use-case or a misuse-case.   That's *way* out of my range of responsibility -- I'm just an end-user.

I'll now unsubscribe to this thread.... but as a parting gift I do have a case to offer: an email I received a month ago, with an aka.ms link.   A flat-text version is appended.  I have sup

[2020-01-03 20:27] shibinchandra opened #45582 "Problem with Location Header rewrite in Application Gateway"
The Location Header rewrite pattern used in the Application Gateway as mentioned in the document will not work when the Web app is using Azure AD authentication.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-gateway/rewrite-http-headers-portal.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-03 20:28] mike-urnun-msft commented on #45543
@dzajda Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-03 20:29] ankku commented on #45571
yes the article is this one https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-multiple-tables-portal
and only difference is I am using source and destination botha as Azure SQL DB and for my source I have created a view of tables

[2020-01-03 20:29] himanshusinha-msft commented on #45578
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-03 20:32] mike-urnun-msft commented on #45552
Thank you for your feedback! This issue is now assigned to the content author, @ggailey777, to review further and take the right course of action.

[2020-01-03 20:33] mike-urnun-msft commented on #45538
@techsaau Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-03 20:34] CarolinaMiC opened #45584 "What about filtering that list before download?"
How can we filter so that we only download  certain types of groups - like only the Office 365 Groups for example. Asking for a friend... :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0acd5ee1-4e4b-8441-8548-f97a295a039c
* Version Independent ID: f0960ef0-2d14-e0f0-3dd5-40a9ae68673f
* Content: [Download a list of

[2020-01-03 20:38] mike-urnun-msft commented on #45498
Thanks for providing the link, @xom-pschiess. I have assigned an engineer who can help with the next steps.

[2020-01-03 20:38] jvplopper opened #45585 "Impacts of Staged Rollout on Final Cutover"
I understand this staged rollout is meant to be a temporary test situation and that we still need to make the final cutover from federated to cloud authentication.  I wish there were more clarity on how using staged rollout affects the final cutover steps.  Here are some questions I have:  Should I deactivate the staged rollout feature altogether prior to doing the final cutover?  Do I still need

[2020-01-03 20:40] techsaau commented on #45538
I was following below URL for networking setup:

https://docs.microsoft.com/bs-latn-ba/azure/aks/configure-azure-cni

[2020-01-03 20:40] curtand commented on #42594
#please-close

[2020-01-03 20:40] #42594 closed

[2020-01-03 20:41] mike-urnun-msft commented on #45571
Thanks for providing additional info, @ankku! I have assigned an engineer who can help with the next steps.

[2020-01-03 20:44] mike-urnun-msft commented on #45538
Thanks for providing additional info, @techsaau! I have assigned an engineer who can help with the next steps.

[2020-01-03 20:45] mike-urnun-msft commented on #45350
@jfkproductions Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it with the URL of specific MS Doc, and we will gladly continue the discussion.

[2020-01-03 20:45] #45350 closed

[2020-01-03 20:49] FrankHu-MSFT commented on #45569
hey @ivratche can you clarify your request? Note that Office and Azure are different products,

[2020-01-03 21:01] hruday94 opened #45588 "Azure Data Lake Gen 2 SDK"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-03 21:02] #45588 closed

[2020-01-03 21:04] hruday94 opened #45589 "Azure Data Lake Gen 2 SDK."
I noticed that the nuget package Microsoft.Azure.DataLake.Store v1.119 is allowing us to create and write files in Azure Data Lake Storage Gen 2 [https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage?view=azure-dotnet](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage?view=azure-dotnet) along with nuget package Azure.Storage.Files.DataLake v 12.0.0-preview.7
I would l

[2020-01-03 21:05] cthombor commented on #31136
Me again, with a second case of aka.ms usage.

This case features a friendly target of the aka.ms: the link displays in my (Acrobat Pro DC) PDF viewer as https://aka.ms/Office365Billing.

I'd very be surprised if there were a covert channel that allowed this particular aka.ms redirection to be pulling my PII from this particular pdf document, but that'd certainly be a possibility worth exploring i

[2020-01-03 21:10] Karishma-Tiwari-MSFT commented on #45564
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @MicahMcKittrick-MSFT

[2020-01-03 21:13] guntaled opened #45590 "Get-AutomationConnection deprecated or not?"
Get-AutomationConnection link leads to https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/get-azureautomationconnection?view=azuresmps-4.0.0&viewFallbackFrom=azuresmps-3.7.0 which states that "This PowerShell command for Azure Automation will no longer be supported on 01/23/2020" - is that the case for Get-AutomationConnection too? It's not very clear from documentation her

[2020-01-03 21:19] ivratche commented on #45569
The article says that a specific role can do a task, which is cannot in the Office Portal. Not sure how else to clarify. Can you comment on that? If this is still confusing, can you clarify what is confusing to you? By the way, the directory is only ONE :) despite the number of services relying on it for identity management.

[2020-01-03 21:21] dbongard-cccu opened #45591 "<unknown> HPA cpu target value missing?"
I'm at my wit's end trying to get HPA to recognize CPU usage by one of my AKS deployments. The deployment specifies a cpu request and limit, but all HPA shows is "&lt;unknown&gt;/50%", with warning messages of "horizontal-pod-autoscaler/missing request for cpu".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1

[2020-01-03 21:30] danielsollondon commented on #44790
Hi, I tested this with packer 1.4.5 and 1.5.0, with the config below, I could get a successful build, it was using this version: 14393.3326.1911120150

      "os_type": "Windows",
      "image_publisher": "MicrosoftWindowsServer",
      "image_offer": "WindowsServer",
      "image_sku": "2016-Datacenter",

      "communicator": "winrm",
      "winrm_use_ssl": true,
      "winrm_insecure": true,

[2020-01-03 21:36] danmyhre commented on #42405
Should have prerequisites listed

[2020-01-03 21:38] danmyhre opened #45593 "Missing Details on Parameters"
Need details on what this is:
AadAudienceId: 41b23e61-6c1e-4545-b367-cd054e0ed4b4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [VPN Gateway: Azure AD tenant for P2S VPN connections: Azure AD authentication](

[2020-01-03 21:40] zcabrer commented on #42508
Hey @shibinchandra try this:

[code]

For the IF statement, replace 'testwebapp' with the name of your webapp. For the THEN statement replace 'www.customdomain.com' with the custom domain that the end-user uses to access the AppGW frontend.

[2020-01-03 21:46] susheelv12 commented on #16325
Is this issue resolved. I do not see any good documentation to add multiple resource URI to additonalLoginParams

[2020-01-03 22:03] MarileeTurscak-MSFT commented on #45360
Hi @doggy8088 ,

You are likely having this issue because of the way your MFA enforcement is turned on. If you have MFA enforcement turned on through a conditional access policy, app passwords won't work and won't show up. This is intended behavior.

If you are using conditional access to deploy MFA then you should be using modern authentication and thereby app passwords are unnecessary.
https://d

[2020-01-03 22:04] MarileeTurscak-MSFT commented on #45360
We will now proceed to close this thread. If you have further questions or run into other issues, feel free to reach out on Microsoft Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-01-03 22:04] #45360 closed

[2020-01-03 22:07] danmyhre opened #45595 "Missing Param in Step 8"
Should add this:
-VpnClientProtocol OpenVPN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [VPN Gateway: Azure AD tenant for P2S VPN connections: Azure AD authentication](https://docs.microsoft.com/en-us/azure

[2020-01-03 22:20] anzaman commented on #45595
Thank you, added the parameter

[2020-01-03 22:21] anzaman commented on #45595
#please-close

[2020-01-03 22:21] #45595 closed

[2020-01-03 22:27] satyady commented on #21216
Hi, Any update on this issue? I believe the original issue was reported in 2018 and the issue still persists. Reference - https://github.com/MicrosoftDocs/azure-docs/issues/15331. Appreciate the input on the status/timeline.

[2020-01-03 22:35] aseefahmed opened #45597 "Content duplication"
I found in this page the topic 'VM size' has been described twice. also, the topics 'Quotas' and 'VM limits' seem similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae844bb3-d0eb-4b74-b06f-bb405cf6b910
* Version Independent ID: 6187bbaf-e595-73cc-e2b2-7643d7a4d6e6
* Content: [Overview of Linux VMs in Azure - Azure

[2020-01-03 22:37] danmyhre opened #45598 "Add details on this error"
Seems to be a lot of people getting this
Server did not respond properly to VPN Control Packets. Session State: Key Material sent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88bc02bb-dec3-efb4-6948-e7478cd61c6b
* Version Independent ID: 6c84e886-215d-51ed-804a-f14561814a52
* Content: [VPN Gateway: Troubleshoot VPN c

[2020-01-03 22:53] JasonWHowell commented on #44947
Hi @glaisne

I'm not seeing the same as what you describe. Maybe you see something different than me though.
Under **Billing**,  I'm seeing the **Invoices** section like the doc describes.

![image](https://user-images.githubusercontent.com/5067358/71753823-9e790900-2e38-11ea-8896-77850632e11c.png)

On the end of each row in the Invoice, there is a download icon, that opens the pane to download th

[2020-01-03 23:10] xyh1 commented on #45186
Followed up with @cbailiss over email.

#please-close

[2020-01-03 23:10] #45186 closed

[2020-01-03 23:13] kdrapeza opened #45600 "Documentation still requires additional changes"
The article is still not completely accurate and requires some changes which I've noted:

**Configure Azure AD SSO section changes**

Step 5 and 6 - The screenshots are not accurate, the documentation in the BeyondTrust portal advises to create the following claim names, which are the default values when creating the BeyondTrust SAML2 Security Provder:

Username -> user.userprincipalname

FirstNam

[2020-01-03 23:31] sarah026 opened #45601 "Vnet peering in route tables?"
I'm really confused... is this document accurate, or 2017 is way too out of date?
I've got a route table, and I've got a Vnet with peering enabled. I can't see this option "Virtual network peering" anywhere in the option of next hub in my route table!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-18

[2020-01-03 23:33] MarileeTurscak-MSFT commented on #45579
@ivratche
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-03 23:35] MarileeTurscak-MSFT commented on #45579
Hi @ivratche ,

This usually happens if you have not already connected and authenticated to Azure AD when you started the shell. It does not do this automatically. If you run the command Connect-AzureAD then you should be able to successfully run the Revoke-AzureADUserAllRefreshToken command.

[2020-01-03 23:36] gsubiran commented on #45227
Yes thanks! Finally worked with the following syntax "ParentProp/Childone".

[2020-01-03 23:36] MarileeTurscak-MSFT commented on #45579
Hope this helps! If you have further questions or if this does not resolve the issue, please reach out on [Microsoft Q&A](https://docs.microsoft.com/answers/questions/index.html) which is designed for these types of product questions.

[2020-01-03 23:36] #45579 closed

[2020-01-03 23:55] tfitzmac commented on #45065
I am removing those steps for now. If this functionality is added back to the portal, I can add them back in.

[2020-01-03 23:55] #45496 closed

[2020-01-03 23:56] FrankHu-MSFT commented on #45489
hey @robcamer i'm following up on this are there anymore questions in regards to this issue? If not I'm going to be closing this out by end of day today.

[2020-01-03 23:56] hpsin commented on #40619
@stewartadam - late response, my apology, just updating the docs now for additional details.

We generally do what you suggest - if you request scope=Resource1+resource2&response_type=token, we will reject the request as invalid.  We special case OIDC scopes since a) we historically did not have a userinfo endpoint and b) the resource access token is effectively always going to be more useful to t

[2020-01-04 00:01] mike-urnun-msft commented on #45576
@Sanses I've validated the issue and created a PR that corrects the sample. Thanks for reporting this issue and helping us drive improvements towards MS Docs!

[2020-01-04 00:01] mike-urnun-msft commented on #45560
@Sanses I've validated the issue and created a PR that corrects the sample. Thanks for reporting this issue and helping us drive improvements towards MS Docs!

[2020-01-04 00:02] djpugh commented on #45539
@GiftA-MSFT - from a view source and find "review.docs"  there seem to be two

where **Run** is incorrectly linked

and

where **Run.register_model** is incorrectly linked

[2020-01-04 00:07] #45560 closed

[2020-01-04 00:07] #45576 closed

[2020-01-04 00:12] mike-urnun-msft commented on #44136
@amartin1911 Sorry for the long delay in response. Content on this documentation as well as the sample demonstrated in Jeff's repo which is referenced in the Stackoverflow post that you have linked should definitely get you started. If you have a specific question/problem unique to your project, please consider opening a new thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/ho

[2020-01-04 00:12] #44136 closed

[2020-01-04 00:13] FrankHu-MSFT commented on #45569
hello @ivratche can you please provide a screenshot of what you're expecting. This document is saying that a role has the permissions to perform a task. Meaning utilizing the Azure portal or Azure powershell the service principal has the permissions to perform the activity.

It sounds like you're requesting a feature in the Office portal to update password expiration policies. If you're interested

[2020-01-04 00:13] #45569 closed

[2020-01-04 00:15] peledins opened #45605 "Unclear what happens with auto rolled certificates in the vault"
Does service fabric deliver them immediately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d9706bb-4b9e-c17d-8c00-a69d10e47f81
* Version Independent ID: 9d7f41f2-05b3-f638-00c4-bc10698d591f
* Content: [Azure Service Fabric - Using Service Fabric application KeyVault references - Azure Service Fabric](https://docs.mi

[2020-01-04 00:16] MarileeTurscak-MSFT commented on #45584
@CarolinaMiC
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-04 00:18] tfitzmac commented on #45065
The update should get published on Monday.

[2020-01-04 00:19] tfitzmac commented on #45065
#please-close

[2020-01-04 00:19] #45065 closed

[2020-01-04 00:19] tfitzmac commented on #45468
The images have been updated.

[2020-01-04 00:19] tfitzmac commented on #45468
#please-close

[2020-01-04 00:19] #45468 closed

[2020-01-04 00:23] FrankHu-MSFT commented on #45572
hello @ivratche per the left column it says that this applies to:
[code]

But when modifying the UPN this only applies to the following:

[code]

Fido keys should be under Intune per the doc : https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key-windows

That being said if there are no more questions I will be closing out this github

[2020-01-04 00:28] ralish opened #45606 "Instructions for "Block legacy authentication" policy are incorrect"
Per Issue #43521 these instructions remain incorrect. The referenced issue was never correctly addressed but was prematurely closed and has not been re-opened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b567e4-ba41-7042-f978-08fd33c4bb39
* Version Independent ID: 263331ca-358e-420d-4ae7-dde93c69ed84
* Content: [C

[2020-01-04 00:29] kalyanavvaru opened #45607 "Incorrect lnstruction where the Conditional Access is in Azure AD"
"Browse to Azure Active Directory, Conditional Access" is incorrect.
Should be "Browse to Azure Active Directory, Security" then select "Conditional Access".

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent ID: 6abac9a6-5472-62c3-5eae-fa39e

[2020-01-04 00:32] FrankHu-MSFT commented on #45585
hey @jvlopper thanks for letting us know about this, as this feature is still in preview there are still some items that need to be addressed and thanks for letting us know about these issues.

I'll go ahead and engage some more members to see if these items can be addressed. I believe that there should be plans for a final cutover doc as well,

cc: @billmath

[2020-01-04 00:42] kgremban commented on #45345
@perkops I updated both the C and C# Windows tutorials to direct users to store their credentials in the .env file. Since this is a pretty straightforward fix, I'll have GitHub automatically close this issue once my pull request is merged. If you have any further comments or questions, feel free to post them here and we can reopen this issue.

(And since it's Friday afternoon in Redmond, these cha

[2020-01-04 00:43] chetansriv commented on #32217
@CeciAc Changes done as suggested, please review.

#please-close

[2020-01-04 00:43] #32217 closed

[2020-01-04 00:44] #45345 closed

[2020-01-04 00:47] kgremban commented on #14254
@maxbl4 and @zulli73, I created a pull request to clarify the prerequisites for this tutorial. As written, this tutorial supports AMD64 Linux devices running IoT Edge. I added a note that ARM device users may consider signing up for the Azure SQL Database Edge preview. (Since it's Friday afternoon in Redmond, these changes will go live on Monday not over the weekend.)

Unfortunately, at this time

[2020-01-04 00:53] mike-urnun-msft commented on #45588
@hruday94 Let us know if you had any questions regarding specific documentation.

[2020-01-04 01:01] mike-urnun-msft commented on #45589
@hruday94 Thank you for your feedback! I have assigned an engineer who can help with the next steps.

Note: It might be better to post this question on either MSDN forums or Stackoverflow since this channel is more for driving improvements towards MS Docs.

[2020-01-04 01:02] mike-urnun-msft commented on #45582
@shibinchandra Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-04 01:03] chetansriv commented on #39262
@Kofl Article is updated as per the feedback, please review

#please-close

[2020-01-04 01:03] #39262 closed

[2020-01-04 01:04] mike-urnun-msft commented on #45600
@kdrapeza Thank you for your feedback. Could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-04 01:05] chetansriv commented on #42616
@joaopmartinezn We have updated the article as per your suggestion, please review

#please-close

[2020-01-04 01:05] #42616 closed

[2020-01-04 01:06] CESARDELATORRE opened #45608 "project_folder variable is never created and initialized. Code won't run."
project_folder variable is never created and initialized. Code won't run.

if not os.path.exists(project_folder):
    os.makedirs(project_folder)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a086a867-60ff-3f45-702d-2ea0ce0f4f0c
* Version Independent ID: 38c9cb40-e4ed-1849-d7ca-9e5c9e51a94d
* Content: [Automated ML re

[2020-01-04 01:15] Hazhzeng commented on #36888
Hey @PramodValavala-MSFT, sorry for the confusion, the Python templates are outdated here.

Could you help me update the Python deployment templates with the following files?
Python 3.6 - https://dev.azure.com/hazeng0405/_git/python36cicdtest?path=%2Fazure-pipeline.yml
Python 3.7 - https://dev.azure.com/hazeng0405/_git/python37cicdtest?path=%2Fazure-pipeline.yml

Please reach me if there's confusi

[2020-01-04 01:16] MarileeTurscak-MSFT commented on #45607
@kalyanavvaru
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-04 01:22] Karishma-Tiwari-MSFT commented on #45597
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-04 01:28] Mike-Ubezzi-MSFT commented on #45567
@linkerzx Thank you very much for bringing this to our attention by making this suggestion. I will have the content owner review this feedback and update the documentation as appropriate.

[2020-01-04 01:31] Karishma-Tiwari-MSFT commented on #45605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-04 01:33] Mike-Ubezzi-MSFT commented on #45568
@linkerzx Thank you for bringing this issue and the other doc suggestions, to our attention. It is greatly appreciated. I am going to have the content owner evaluate and update the document after reviewing the suggestion being made here.

[2020-01-04 01:34] KingdomOfEnds commented on #43477
Happy New Year @gregorvilkner ! I wanted to check in and see if your question was addressed to your satisfaction. I've added a screen-shot of a code snippet that can be used to migrate your ADAL authentication code to MSAL in C#. It's from the link above:

![image](https://user-images.githubusercontent.com/43044425/71757959-fd497d00-2e4e-11ea-942a-44435d53891b.png)

I've also notified the engineer

[2020-01-04 01:35] Karishma-Tiwari-MSFT commented on #45591
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-04 01:35] Mike-Ubezzi-MSFT commented on #45568
Similar to https://github.com/MicrosoftDocs/azure-docs/issues/45567 @deborahc @SnehaGunda for awareness.

[2020-01-04 01:38] Karishma-Tiwari-MSFT commented on #45253
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-04 01:38] #45253 closed

[2020-01-04 01:38] Karishma-Tiwari-MSFT commented on #45482
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-04 01:38] #45482 closed

[2020-01-04 01:40] Mike-Ubezzi-MSFT commented on #45570
@linkerzx Thank you for bringing this issue and the other doc suggestions, to our attention. It is greatly appreciated. I am going to have the content owner evaluate and update the document after reviewing the suggestion being made here.

[2020-01-04 01:40] Karishma-Tiwari-MSFT commented on #45580
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-04 01:42] Mike-Ubezzi-MSFT commented on #45570
Similar to https://github.com/MicrosoftDocs/azure-docs/issues/45567 and https://github.com/MicrosoftDocs/azure-docs/issues/45568 @markjbrown @SnehaGunda @deborahc  for awareness as these issues all deal with the same suggestion.

[2020-01-04 01:43] femsulu commented on #45590
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-04 01:56] JimacoMS3 commented on #7851
Hi there -- I finally had a chance to look at this in some depth. Here's what I can say about it:

1. If you use the original training data (keeping the rows with 'M" as a value for temp and/or humidity), the model seems to work OK as long as you supply a whole number for the humidity value. If you supply a number that has a fraction, you will always wind up with a prediction of  0.489944100379944

[2020-01-04 02:11] Mike-Ubezzi-MSFT commented on #45573
@algattik Thank you for bringing this to our attention. In the [Roles and Permissions](https://docs.microsoft.com/en-us/azure/data-explorer/manage-database-permissions#roles-and-permissions) section, the table lists a set of _Roles_ and the applicable _Permissions_. The roles are listed in the context of Scope+Role Name (Database+User as an example) but the document could be more clear about this

[2020-01-04 02:23] Mike-Ubezzi-MSFT commented on #45577
@algattik Thank you for bringing this to our attention. Just to confirm, as I think your example has been hijacked by some formatting issue, is the below correct?

.add database _database_ _role_ ('aadapp= | clientID')

Where _database_ should be databasename and _role_ should be rolename. I just want to clarify before having the content owner review this suggestion. Thank you!

[2020-01-04 03:14] #45572 closed

[2020-01-04 03:14] #45489 closed

[2020-01-04 03:49] MartinJaffer-MSFT commented on #45546
@CeciAc @Mr-San  Is this what you are seeing?
![image](https://user-images.githubusercontent.com/46612670/71759330-78675f00-2e60-11ea-92c8-52cc52f43e03.png)
Are there any other activities failing?
![image](https://user-images.githubusercontent.com/46612670/71759414-9b464300-2e61-11ea-9294-0920c2f62975.png)

I need more information to reproduce or troubleshoot your situation.

[2020-01-04 03:56] BigRoof88 opened #45611 "Azure Pay as You Go not working"
I created a Pay as you go subscription which is showing as active. In the portal, the subscription shows under My Subscriptions however whenever I click on the subscription it says I'm not authorized. I created it but it looks like I'm not set as an owner. I can see the subscription if I go to manage it in the other portal (where you cancel it and transfer it etc). I can't log a support call eithe

[2020-01-04 04:45] MukundMurali-M opened #45612 "TCP reassembly packets getting dropped in Azure Firewall"
Observed that TCP reassembly packets are getting dropped by Azure Firewall.
Is this a known behavior ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https://docs.microsoft.com/en-us/

[2020-01-04 05:07] natelaff commented on #26079
Very frustrating this can’t be done with SP

[2020-01-04 06:18] SubhashVasarapu-MSFT commented on #45593
@danmyhre , We are looking into this query and will update you as soon as possible.

[2020-01-04 06:21] SubhashVasarapu-MSFT commented on #45598
@danmyhre , We are looking into this query and will update you as soon as possible.

[2020-01-04 06:22] SubhashVasarapu-MSFT commented on #45601
@sarah026 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-01-04 06:23] SubhashVasarapu-MSFT commented on #45612
@MukundMurali-M , We are looking into this query and will update you as soon as possible.

[2020-01-04 06:26] maxbl4 commented on #14254
Yes, that makes things clear. Thanks!

[2020-01-04 07:23] shashishailaj commented on #45553
@migrande Thank you for your feedback . We will investigate and update this thread.

[2020-01-04 07:25] shashishailaj commented on #45561
@aysemutlu Thank you for your feedback . We will investigate and update this thread.

[2020-01-04 08:15] shashishailaj commented on #45611
@BigRoof88 Thank you for your query . We will check this and get back to you .

[2020-01-04 08:19] shashishailaj commented on #45611
@BigRoof88
I would suggest you to check it again first and if you are still not able to access the subscription , then please follow the article [Troubleshoot Azure subscription sign-in issues](https://docs.microsoft.com/en-us/azure/billing/billing-troubleshoot-sign-in-issue)

If that does not work for you , please scroll to the end of the article and you will have a link to [open a support case](

[2020-01-04 08:29] shashishailaj commented on #45562
@aysemutlu Thank you for your feedback . We will investigate and update this further. I understand that you have a open-ended question that does not directly pertain to the documentation hence I would like to inform you about our new forum [Microsoft QnA](https://docs.microsoft.com/answers/index.html) which can be used for such queries or discussions.  Thank you.

[2020-01-04 08:30] shashishailaj commented on #45606
@ralish Thank you for pointing this out . We will investigate and update this further.

[2020-01-04 09:06] msrini-MSFT commented on #45462
@harryvinod , I will close this issue now, tag me if you have any further questions.

[2020-01-04 09:06] #45462 closed

[2020-01-04 09:06] msrini-MSFT commented on #45356
@jorritmeijer80 , Please tag me if you have any further questions.

[2020-01-04 09:06] #45356 closed

[2020-01-04 09:19] zulli73 commented on #14254
I suppose that helps. Thanks!

[2020-01-04 10:06] Geradav opened #45613 "Anonymous access not available in ADLS gen 2"
I have created a blob storage with ADLS gen2 but can't grant anonymous (or public) access to my blobs.
Clicking on the container doesn't give access to 'Change access level'

When right-clicking on the container in Azure Storage Explorer I have access to some actions to manage access, but none provides me with the ability to turn on public access.

I am very confused on how  to give public access

[2020-01-04 11:03] Mr-San commented on #45546
Normal logic: Set variable Activity (B)-> Hive Activity (A), the dependency condition of activity B for activity A is "failure", after A fails, call B successfully, then Pipeline returns success

Found BUG: Set variable Activity (B)-> Execute Pipeline Activity (A), the dependency condition of activity B for activity A is "failure", after A fails, call B successfully, but Pipeline returns failure?

[2020-01-04 11:53] KrishnaG-MSFT commented on #45595
@anzaman Thanks the super quick response. :+1:

[2020-01-04 11:56] SychevIgor opened #45614 ".Net Core 2.2 end of support"
Based on support lifecycle - .net core 2.2 loose the support from Microsoft in December 2019
https://dotnet.microsoft.com/platform/support/policy/dotnet-core
In this guide, mentioned that functions on .net core 2.2 still in GA.

Could you please explain what does it all mean for us?

Also, it's interesting- when is a deadline for update to 3.0 to avoid any support issues with .net core 2.3 and fun

[2020-01-04 16:01] kdrapeza commented on #45600
@mike-urnun-msft Sorry about that, here's the link:

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/bomgarremotesupport-tutorial#configuring-and-testing-azure-ad-single-sign-on

[2020-01-04 16:59] jainlavish commented on #45534
Hi Mike,

Thanks for the quick response. I followed below document for the
MultiTenant B2C Custom Policy setup.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-commonaad-custom?tabs=applications

Thanks,
Lavish Jain

On Sat, 4 Jan, 2020, 1:21 AM Mike Urnun, <notifications@github.com> wrote:

[2020-01-04 17:07] anzaman commented on #44053
#please-close

[2020-01-04 17:07] #44053 closed

[2020-01-04 17:07] YutongTie-MSFT commented on #45608
@CESARDELATORRE
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-04 18:47] JasonKleban commented on #27135
Happy new year!  This still isn't resolved.  I'm so glad I found this discussion - not feeling so alone anymore.

I've gathered that I **should** be able to use Microsoft.Azure.Cosmos.Table for Azure Tables - hopefully for both management of tables themselves and the data within them.  Anyone know of any relevant/current samples for these cases for Azure Tables?  I'm OK avoiding the entity/reposit

[2020-01-04 18:53] algattik commented on #45573
In the meantime I discovered this page https://docs.microsoft.com/en-us/azure/kusto/management/security-roles which is much clearer on this. I suggest to merge both pages into one.

[2020-01-04 18:54] algattik commented on #45577
Yes, and in the meantime I discovered the page https://docs.microsoft.com/en-us/azure/kusto/management/access-control/principals-and-identity-providers. I think the page should link to that page

[2020-01-04 19:13] carlosporter opened #45618 "Broken link and missing config option for data disk in /etc/fstab settings"
![image](https://user-images.githubusercontent.com/1924019/71770555-80241380-2ef3-11ea-91f1-fe0c970b7388.png)

This section of the documentation should be pointing to the validate.sh script in the github repository but instead it just take us to the root of the repository:

https://github.com/ejarvi/ade-cli-getting-started

"the Azure Disk Encryption prerequisites CLI script (lines 244-248)"

Also

[2020-01-04 19:37] CESARDELATORRE opened #45619 "Doc should also explain how to use an existing compute resource/cluster, not just create it from scratch"
This doc should also explain how to use an existing compute resource/cluster.
In the current form, looks like you always need to create it from scratch which will need significant time to deploy.

Using:
compute = ComputeTarget(myworkspace, 'mycluster')

You can re-use an existing cluster in your workspace that you might have created with the Azure UI, etc.

---
#### Document Details

⚠ *Do not ed

[2020-01-04 19:52] gcontrer87 commented on #14914
Not sure if this thread was followed or not, but it might be worthy mentioning that the link above doesn't work anymore.
Should probably be updated to the newest version, at least: https://download.microsoft.com/download/6/8/F/68FE11B8-FAA4-4F8D-8C7D-74DA7F2CFC8C/lis-rpms-4.3.4.x86_64.tar.gz

[2020-01-04 20:29] mike-urnun-msft commented on #45613
@Geradav Thank you for your feedback! We will review and update as appropriate.

[2020-01-04 20:30] DaveKlassen opened #45621 "The code on this page is old."
Here is the new API:
    https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/README.md
These examples use the old API:
    https://github.com/Azure/azure-storage-net
    https://azure.microsoft.com/en-us/blog/previewing-azure-sdks-following-new-azure-sdk-api-standards/
It might be obvious if you look at the Copyright message that it is two years old, but don't wa

[2020-01-04 20:41] mike-urnun-msft commented on #45600
Thanks @kdrapeza! I have assigned this issue to the content author to review further and take the right course of action.

[2020-01-04 20:46] mike-urnun-msft commented on #45534
Thanks @jainlavish! I have assigned an engineer who can help with the next steps.

[2020-01-04 20:48] mike-urnun-msft commented on #45614
@SychevIgor Thank you for your feedback! We will review and update as appropriate.

[2020-01-04 21:40] mike-urnun-msft commented on #45618
@carlosporter Thank you for your feedback. Could you provide us with a URL of the documentation that your feedback is applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-04 21:41] mike-urnun-msft commented on #45619
@CESARDELATORRE Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-04 21:42] mike-urnun-msft commented on #45621
@DaveKlassen Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-04 21:58] gcontrer87 opened #45622 "RHEL 8.0 support for Generation 2"
I tried to replicate the same example to change Generation 1 for Generation 2 when creating a VM using RHEL 8.0 image. However, the option is not available.
You should specifiy the specific SKU+version that might be able to use Generation 2 option, if it actually works
-----
Update: I found the proper image:
az vm image list --location westus --publisher RedHat --sku 8-gen2 --output table --all
Of

[2020-01-05 00:11] BharathNimmala-MSFT commented on #45315
@assaf-grth Thank you for your query and hope the above information helps. Will go ahead and close this thread for now, however if you have any further questions please feel free to tag us in your reply and we will be more than happy to continue the conversation. Thanks

[2020-01-05 00:11] #45315 closed

[2020-01-05 02:37] marckassay commented on #41433
@arcotek-ltd see this [link](https://github.com/MicrosoftDocs/azure-docs/issues/39687#issuecomment-536778569) how where to view certificates in portal. You can't download or view the certificate in the portal.

[2020-01-05 04:38] shashishailaj commented on #45606
@MicrosoftGuyJFlo Could you please review this request ?

[2020-01-05 04:50] shashishailaj commented on #45622
@gcontrer87 Thank you for your suggestion . We will have the content team engaged and review this accordingly on how best we can improve the documentation.

[2020-01-05 06:11] shashishailaj commented on #44184
@msozgen We checked this internally and found that the IP address list mentioned is correct. Could you please provide the details of the IPs of range starting from 20 and 40-43 which you had obtained on your firewalls which activation request was going through. As per the PG , whenever you try to activate the MFA server , the request goes to css.phonefactor.net and the IP range  provided in the ar

[2020-01-05 06:11] #44184 closed

[2020-01-05 06:15] shashishailaj commented on #45611
@BigRoof88 Hope the information above was helpful to you . Please do let us know in case you were able to check on your side as per instructions in my last post. If you were able to solve it , please do share the same. We will keep this thread open till monday next week and close it in case we do not get any response. In case of closure , you can either tag me to your reply or open an issue on the

[2020-01-05 06:53] shashishailaj commented on #45318
@anis020 Hope the information provided by @souravmishra-msft helped you . We would suggest to go through the documentation and then in case you have any issue please open a thread on our newest [QnA forum](https://docs.microsoft.com/answers/index.html)  and we will be happy to help in discussing the same .

Thank you.

[2020-01-05 06:53] #45318 closed

[2020-01-05 09:26] AjayKumar-MSFT commented on #45304
Nginx and IIS are both web servers so you don’t need anything other services to have it work out of the box.  For WebApps for containers we use Nginx not just kestrel to serve the requests.

You can also use a custom Docker image to run your web app on an application stack that is not already defined in Azure and have your application with specific configuration based on your needs that isn't prov

[2020-01-05 09:26] #45304 closed

[2020-01-05 10:22] omri374 opened #45623 "Broken link"
Hi,
On the reference to the logging-api example notebook (https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training/logging-api) the link is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9190938a-63d6-5b03-ff00-9bc3bf31e27f
* Version Independent ID: 6e9f9c7d-69c3-0a20-f94f-7107712

[2020-01-05 11:37] simonvane commented on #7705
@markjbrown I was just keen to make sure the note that @Mike-Ubezzi-MSFT / @timsander1 were going to do gives good advice and recommends storing as uppercase to avoid issues with text in different languages. It is not restricted to Turkish, that's just an example.

[2020-01-05 12:10] z0loy commented on #31375
To set the child property in a child object, use a **nested** setProperty() call instead.

[2020-01-05 12:22] ankku commented on #45571
Also one suggesstion, it will be much more clear if you can use different names for source and destination table. Right now you have used same and here it is understanble since there are different dbs. But if  one follows the article on copying data within same dbs it becomes confusing as where to use sink and surce table name in SP and activity

[2020-01-05 12:31] arindam-b opened #45624 "Not able to enable autoscaler using azure cli for AKS"
Creation of cluster not working if I enable autoscaler in the argument.
[code]
Same for updating it later
[code]
[code]
Can you check and tell me if anything is missing here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203

[2020-01-05 12:57] rambabu0063 opened #45625 "Event Grid subscription fails to create for endpoint "AzureFunction""
Hi Team,

I am trying to create event subscription by ARM template  for topic  where endpoint="Azurefunction" but i am facing issue :

\"Invalid event subscription request: Supplied URL is invalid. It cannot be null or empty and should be a proper HTTPS URL like https://www.example.com.\"\r\n  }\r\n}"
<img width="395" alt="errormessage" src="https://user-images.githubusercontent.com/57993345/71780

[2020-01-05 14:50] SwathiDhanwada-MSFT commented on #45344
@jayfam91 As mentioned in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-troubleshoot#performance-charts-dont-show-cpu-or-memory-of-nodes-and-containers-on-a-non-azure-cluster) document, you need to open port 10255 in order to collect the performance metrics.Its a pre-requisite for non Azure clusters.

This channel is mainly for documentation updates. As th

[2020-01-05 14:50] #45344 closed

[2020-01-05 15:51] carlosporter commented on #45618
Hello Mike,

This is the link to correct script:

https://github.com/ejarvi/ade-cli-getting-started/blob/master/validate.sh#L245

Also, I think the most important change is to make it clear that the "nofail" needs to be added to the data disk setup on the file /etc/fstab

[2020-01-05 16:18] CSharpQuestion commented on #41840
Yes, the resourceid is the subscription id of the customer.

[2020-01-05 16:46] anoopasokan commented on #45373
any update ?

[2020-01-05 16:55] ormico opened #45626 "[jobs].[target_groups_members] should be [jobs].[target_group_members]"
the view that is created is named [jobs].[target_group_members] but this doc says [jobs].[target_groups_members]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and manage Elastic Database Jobs with Tra

[2020-01-05 17:38] mslot commented on #45304
I was interested in knowing if there was a default webserver infront when you use webapp for containers, or you have to bring your own. I was refering to this doc in my initial question: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1

Then I ask if you have any advice on how to the setup would be if you had multiple "webapp for container"'s on

[2020-01-05 17:52] robcamer commented on #45489
Hi There, I think i was running the command from the wrong directory.  It appears to be working fine.  Thanks!

[2020-01-05 18:12] vskgit commented on #30802
I am still facing this issue. is it resolved?

[2020-01-05 19:01] Noirde commented on #45071
Excuse me, but the explanations here have not really made me any smarter. I'm a bit up in the air right now, so it would be great if someone would explain a little bit more about what needs to be done.

I have set up SSO between Azure Active Directory and SAP Cloud Platform. After logging on to the SAP Cloud Platform via Azure AD I get a SAML response. I encrypt the assertion part of the SAML resp

[2020-01-05 19:03] paweltajs opened #45627 "Depriciated link to Microsoft Azure Datacenters IP Ranges"
There is new JSON based file with IP ranges for Azure Datacenters.

Link to new file:
https://www.microsoft.com/en-us/download/details.aspx?id=56519

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dc6c0-66e0-4026-9f2a-1cdb8b04e5c5
* Version Independent ID: d02abfda-83d6-4022-bfb0-b3d0391a6223
* Content: [Learn to aud

[2020-01-05 20:02] DCtheGeek commented on #45627
#assign:DCtheGeek

[2020-01-05 20:03] DCtheGeek commented on #45627
Thanks @paweltajs for pointing this out.  I'll get it fixed shortly.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-01-05 20:18] #45627 closed

[2020-01-05 20:40] shashishailaj commented on #45623
@omri374  Thank you for pointing this out . We will have this reviewed and updated accordingly.

[2020-01-05 20:58] shashishailaj commented on #45623
@omri374 You can use the link at https://notebooks.azure.com/azureml/projects/azureml-getting-started/html/how-to-use-azureml/training/logging-api/logging-api.ipynb for details on logging APIs for now . We have requested the team for a review and this will be changed as per review.

@YutongTie-MSFT Could you please check with @vizhur if the information referenced in logging section of [example not

[2020-01-05 21:01] shashishailaj commented on #45624
@arindam-b Thank you for your query. We will investigate an update this thread.

[2020-01-05 21:08] shashishailaj commented on #45625
@rambabu0063 Thank you for yoru query. We will investigate and update this thread.

[2020-01-05 21:09] mike-urnun-msft commented on #45626
@ormico Thank you for your feedback! We will review and update as appropriate.

[2020-01-05 21:43] Naliath commented on #23536
I am trying to consume an API secured with a Sectigo cert from a Azure App services application and seemingly the root CA is still not allowed. Same if I run it on my local machine (where I can simply add it myself to the root CA store). Any clues how to fix this in Azure?

[2020-01-05 22:02] shashishailaj commented on #45078
@keithdv Azure AD does not implement everything exactly similar to ADFS . Even though most of the functionality s same but not all and this is one of them. Azure AD encourages application developers to use modern authentication and usernamemixed endpoint is not available in this case. We will now close this issue. In case you have any further queries , please tag me or the author of this document

[2020-01-05 22:02] #45078 closed

[2020-01-05 22:07] techadmin1982 commented on #38415
Ok. So as i understand if you are trying to login into the VM and typing the username and password , it will treat it as local admin credentials. If you want to login using domain credentials then you need to use UPN format as username (something like adminuser@testdomain.local) .. MSFT should clearly document this down in the official Bastion Doc.

[2020-01-05 22:34] bridgkick opened #45630 "Deploy steps have changed"
In the current VSCode extension you right-click on the Storage Account or the $web folder and "Deploy to Static Website", then choose the folder to deploy. The instructions above describe the opposite which are not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badc419b-60d5-ba2c-0830-8d573db10dbe
* Version I

[2020-01-05 22:42] msankhala commented on #16003
Here is the solution https://medium.com/@antbutcher89/hosting-a-react-js-app-on-azure-blob-storage-azure-cdn-for-ssl-and-routing-8fdf4a48feeb

[2020-01-05 23:01] vavison opened #45633 "Pricing for iterative read operations"
I'm seeing lines in my usage details for meter "hot grs iterative read operations", however I cannot find any reference to iterative read operations on the ADLS Gen2 Pricing details (https://azure.microsoft.com/en-gb/pricing/details/storage/data-lake/) so have no idea what API calls these lines are referring to. Could the pricing details be updated according?

---
#### Document details

⚠ *Do not

[2020-01-05 23:13] dcbrown16 commented on #45197
Sounds good @noakup, please keep us informed. We are seeking this info for a support case so any high-level points that anyone can share quickly would be appreciated.

[2020-01-05 23:13] dcbrown16 commented on #45197
Or you can contact me internally at v-dibr.

[2020-01-05 23:13] susheelv12 opened #45634 "How to add multiple resources to additionalLoginParams attribute in resource explorer"
Resource Explorer doesn't accept mutiple resources. Documentation is not clear on how to add mutiple resources.  If there is an API reference page for .auth/me api, it would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-e

[2020-01-05 23:15] dcbrown16 commented on #45026
@btardif what about the period after deletion that it is possible to restore the app? Is the feature available indefinitely?

[2020-01-05 23:24] dcbrown16 commented on #45171
@DixitArora-MSFT as I mentioned, the note at the top that "You can use IP addresses to ... restrict the outbound traffic" seems misleading.
Please have the author address this by updating that sentence. Finding the IP addresses used is a very common and important task for users configuring networks, so this page should be fully covering both inbound and outbound scenarios, as it is claiming to do.

[2020-01-06 00:27] alexlenail commented on #41969
Also having this issue. azcopy version 10.3.3

[2020-01-06 00:33] shashishailaj commented on #45159
@HoCGeek Apologies for the delayed reply . I understand you are unable to download the old data and would like to request the title of the page be changed. We will reach out to the author of  this page to review this request.

For your second issue , I would suggest to use the script below to download the same. It uses [Microsoft Grpah API](https://docs.microsoft.com/en-us/graph/api/resources/azur

[2020-01-06 00:33] #45159 closed

[2020-01-06 00:42] shashishailaj commented on #45288
@mprentice22153 At this point this is the only way . Since credentials are linked to many other aspects internally within the product hence its a little complicated . I will check internally to find if there could be any other way to do the same.

[2020-01-06 00:44] kazshi commented on #45250
@tfitzmac Thank you for the clarification and the update.

[2020-01-06 00:46] ashishmundrajll opened #45637 "Can I create a Custom Policy or a Reusable Code?"
From documentation on Policies, two points are not clear:

1. Can we create a Custom Policy? E.g. a policy named Log to Splunk. I understand we can call a Splunk exposed API via Send-Request Policy, however, can I encapsulate this code in a policy of its own &lt;send-to-splunk&gt; and then use it at various places?

2. Can I write a re-usable code (may be a re-usable policy expression or re-usable

[2020-01-06 00:58] kariyukisusumu commented on #45244
@SubhashVasarapu-MSFT Thank you for your comments. I understand your comments. I'm waiting for the update of this documents. Thanks.

[2020-01-06 01:00] kariyukisusumu commented on #45245
@SubhashVasarapu-MSFT Thanks. I'm waiting for any update of this issue.

[2020-01-06 01:18] shashishailaj commented on #45457
@Kaleeswarab We are closing this issue. Please follow the instructions in the answers above and it should fix the issue for you. Should you still have any residual questions on this, please tag me or @ram-msft to your reply and we will help you with the same. Alternatively you can open a new issue as well in case its something else.

Thank you.

[2020-01-06 01:18] #45457 closed

[2020-01-06 01:33] dcbrown16 opened #45639 "Startup command values"
"What are the expected values for the Startup File section when I configure the runtime stack?"
This section doesn't cover PHP or Python. Can those stacks be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Conten

[2020-01-06 01:34] stammd opened #45640 "Form recognizer service URI"
Using the endpoint provided from Azure portal as well as the API documentation does not work.  Which endpoint should be used here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 3835780b-1ace-77e3-553e-a537b6084de9
* Content: [Quickstart: Label forms, train

[2020-01-06 02:04] jleroux751 commented on #42443
Same issue. Any updates? Thanks

[2020-01-06 02:48] JuanMMinu commented on #27503
![image](https://user-images.githubusercontent.com/19513204/71791728-07f94300-3004-11ea-86dc-f97bfb699f13.png)

In the list of roles there is no Space Administrator, and... When I use Management API Swagger for create that rol it gives me 403

![image](https://user-images.githubusercontent.com/19513204/71791943-d765d900-3004-11ea-84af-cccef7bd3e3f.png)

Do you know anything about it? Any idea wher

[2020-01-06 02:52] DixitArora-MSFT commented on #45637
Hi @ashishmundrajll Thanks for reaching out. We will review and update as appropriate.

[2020-01-06 02:53] DixitArora-MSFT commented on #45633
Hi @vavison Thanks for your feedback. We will review and update as appropriate.

[2020-01-06 02:54] DixitArora-MSFT commented on #45630
Hi @bridgkick Thanks for your feedback. We will review and update as appropriate.

[2020-01-06 02:56] DixitArora-MSFT commented on #45639
Hi @dcbrown16 Thanks for reaching out. We will review and update as appropriate.

[2020-01-06 02:57] DixitArora-MSFT commented on #45634
Hi @susheelv12 Thanks for reaching out. We will review and update as appropriate.

[2020-01-06 03:02] mijp commented on #43629
@stevestein
Thank you for your reply.
I thought there was no information, so deleted the app-service and databases. (because not free..)
I will try again later.

[2020-01-06 03:28] keithdv commented on #45071
@noirde you are close. You are on the same path I am on. I have not actually gotten to try the Azure SAML Assertion with SAP in my enterprise I am waiting for access. Once I do I fear I will have the same error. You get that same error when you try to use the SAML Assertion with Microsoft Graph. See the closed comments on the error.
One I have permissions I will let you know if we succeed or not.

[2020-01-06 03:56] ram-msft commented on #45640
@stammd Thanks for the question. We are investigating the issue and will update you shortly.

[2020-01-06 03:58] SwathiDhanwada-MSFT commented on #45494
@ojflores This channel is mainly for documentation updates. As there are no further document updates, we will close the issue for now. If you are still facing the issue, please revert and we will be very glad to assist you.

[2020-01-06 03:58] #45494 closed

[2020-01-06 04:14] jimmcslim opened #45642 "Provide guidance on how to set a function key to enable local testing of functions-in-containers."
"At this point, when you try to call your specific HTTP function, you get an HTTP 401 error response. This is because your function runs in the local container as it would in Azure, which means that the function key is required."

There is some discussion in the following issues: https://github.com/Azure/azure-functions-host/issues/4147 and https://github.com/Azure/azure-functions-core-tools/issue

[2020-01-06 04:14] neeleshray-msft commented on #45289
To disable Azure AD Connect, you can uninstall the AAD connect in your on-premises server. Before that, I suggest you disable the Directory sync. To do that, please follow the link below:

[https://support.microsoft.com/en-us/kb/2619062](https://support.microsoft.com/en-us/kb/2619062)

 Let us know if it works for you.

[2020-01-06 04:16] ilseokoh commented on #44709
@Jlian Can you explain the situation when I have 'ConnectionForcefullyClosedOnNewConnection' error. Is it related to IoT Hub throttling?

[2020-01-06 04:22] Sanses opened #45643 "terraform plan -var-file Description Modification required."
However, your variables file need not follow either of the two preceding conventions. In that case, specify your variables file name with the -var-file parameter where your variable file name does not carry an extension. The following example illustrates this point:
==&gt;
However, the variable file does not need to follow one of the two previous rules. In this case, specify the variable file name

[2020-01-06 04:28] SnehaAgrawal-MSFT commented on #45422
@chenlomis We will now proceed to close this thread. If you are still facing the issue, let me know will gladly continue the discussion and will reopen it.

[2020-01-06 04:28] #45422 closed

[2020-01-06 04:28] SwathiDhanwada-MSFT commented on #45550
Thanks for the valuable feedback, @viveks84 . I would  recommend sharing this feedback directly with the Azure Automation Team  by posting the feedback [here](https://feedback.azure.com/forums/246290-automation?category_id=323182). If you have further questions regarding this matter, kindly revert we will be very glad to assist you.

[2020-01-06 04:38] iceyokuna opened #45644 "Azure policy state document"
# Azure documentation issue guidance
Based on this document about Get-AzPolicyState command, I would suggess you to put more detail on return value. Because i found a problem of return value "ComplianceState" - the possible value of this return value are "compliant" , "NonCompliant" and "NotApplicable". But i have no idea what is "NotApplicable" mean for this case. Could you add more detail in thi

[2020-01-06 04:54] AshokPeddakotla-MSFT commented on #44894
@tanieee28 Does the above suggestions helped you resolve the issue? Do let us know if you need further help.

[2020-01-06 05:02] DixitArora-MSFT commented on #45642
Hi @jimmcslim Thanks for your feedback. We will review and update as appropriate.

[2020-01-06 05:06] meethariprasad opened #45645 "get_model_path() never works"
Dear Team,

After registering the model and if we we can see the model in portal.azure.com, get model path must get the model path. I assume that is what the expectation is.

But we always end up in getting following error, which doen't make any sense. Is it a bug? Is there any gap in understanding the document?

[code]

[2020-01-06 05:12] KrishnaG-MSFT commented on #45644
@iceyokuna Thanks for the feedback! The referred document is related to [Azure PowerShell](https://github.com/Azure/azure-powershell/issues/new/choose) repository so I have created [this](https://github.com/Azure/azure-powershell/issues/10835) improvement request under [Azure PowerShell](https://github.com/Azure/azure-powershell/issues/new/choose) repository. I request you to follow it for further

[2020-01-06 05:12] #45644 closed

[2020-01-06 05:14] KrishnaG-MSFT commented on #44283
@azhar787 If you have reached out to Azure support, can you please provide an update here so that it would help broader audience who might face similar issue ?

[2020-01-06 05:33] msrini-MSFT commented on #38415
It is documented here: https://docs.microsoft.com/en-us/azure/bastion/troubleshoot#domain

[2020-01-06 05:34] msrini-MSFT commented on #45557
@mrklean , Do you have any update on this issue?

[2020-01-06 05:34] msrini-MSFT commented on #45541
@garddolau , Do you have any update on this issue?

[2020-01-06 05:39] neeleshray-msft commented on #45395
Follow these steps to manage the keys that you have set up for your account:
1. Go to the [Microsoft account page](https://account.microsoft.com/account) and sign in as you normally would.
2. Select **Security** > **More security options** and under **Windows Hello and security keys**, select [Manage your sign-in methods](https://account.live.com/proofs/fido/manage).

Also, Windows would have pref

[2020-01-06 05:43] neeleshray-msft commented on #45395
If you need further assistance would request you to post your ask and look for the discussion for **Azure Active Directory** related questions here:  [ https://docs.microsoft.com/answers/topics/azure-active-directory.html]( https://docs.microsoft.com/answers/topics/azure-active-directory.html).

[2020-01-06 05:44] #45395 closed

[2020-01-06 05:45] v-hakob commented on #45210
Hi @DixitArora-MSFT, I provided the info you explained to Dillon, thank you. The customer asked us if there is the estimated target date to enable the ISE variant of the file system connector. Do you have any idea or information to share with the cx?

[2020-01-06 05:47] AshokPeddakotla-MSFT commented on #45562
@aysemutlu You can visualize the data through Web application or PowerBI.
Please refer [Visualize real-time sensor data from your Azure IoT hub in a web application](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps) and [Visualize real-time sensor data from Azure IoT Hub using Power BI](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visua

[2020-01-06 05:47] #45562 closed

[2020-01-06 05:51] souravmishra-msft commented on #45096
@erapade, I guess the only available way to list the permissions for one single user would be to go the Powershell way as mentioned below:

[code]

Output:
![image](https://user-images.githubusercontent.com/54057592/71798053-99a19880-3076-11ea-9fa0-392747852af2.png)

Hope this helps.

Closing the thread for now.

[2020-01-06 05:51] #45096 closed

[2020-01-06 05:59] KalyanChanumolu-MSFT commented on #45393
@XiaofuHuang We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-06 05:59] #45393 closed

[2020-01-06 06:14] damendo commented on #29446
FYI: This has been added.
See https://feedback.azure.com/forums/217313/suggestions/33684529

[2020-01-06 06:14] damendo commented on #38693
FYI: This has been added.
See https://feedback.azure.com/forums/217313/suggestions/33684529

[2020-01-06 06:27] AshokPeddakotla-MSFT commented on #45024
@xtellurian Does the above suggestions answered your question? Do let us know if you have any other questions.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-06 06:27] #45024 closed

[2020-01-06 06:28] DixitArora-MSFT commented on #45210
@v-hakob There is no ETA as of now. But if there is any update, I will keep that posted.

[2020-01-06 06:34] v-hakob commented on #45210
Noted, thank you @DixitArora-MSFT

[2020-01-06 06:37] VikasPullagura-MSFT commented on #45622
@gcontrer87 I am assigning the issue to content author for checking this feedback and adding comments on feasibility of enhancing the document with SKU and version details.

[2020-01-06 06:42] VikasPullagura-MSFT commented on #45622
@laurenhughes Can you share your comments on this request.

[2020-01-06 06:47] souravmishra-msft commented on #45282
@toddjohnson39, The reason you dont see that the device is an Hybrid Azure AD joined, when you use the **Incognito Mode** or launch the browser as a different user, is because, in either of the mentioned mode the **PRT** is not sent to Azure AD along with the request. **PRT(_Primary Refresh Token_)** holds the information about the user and also the **device state(_Hybrid Azure AD joined or not_)*

[2020-01-06 06:48] souravmishra-msft commented on #45282
Closing this thread for now. But please feel free to re-open this in case any more queries are there regarding the same.

[2020-01-06 06:48] #45282 closed

[2020-01-06 07:01] sanchetanparmar commented on #44790
@danielsollondon  used above config but same error `==> azure-arm: Timeout waiting for WinRM.. `testing in **Southeast Asia**

[2020-01-06 07:21] libartweb commented on #44931
Do the following metrics not exist?

Microsoft.Web/sites | HttpResponseTime
Microsoft.Web/sites (functions) | HttpResponseTime
Microsoft.Web/sites (excluding functions) | HttpResponseTime
Microsoft.DocumentDb/databaseAccounts | DeleteVirtualNetwork

[2020-01-06 07:24] fujitani-hiromu-fixer commented on #44931
Do the following metrics not exist?

Microsoft.Web/sites | HttpResponseTime
Microsoft.Web/sites (functions) | HttpResponseTime
Microsoft.Web/sites (excluding functions) | HttpResponseTime
Microsoft.DocumentDb/databaseAccounts | DeleteVirtualNetwork

[2020-01-06 07:24] amanmcse commented on #45289
@mprentice22153 Before you uninstall Azure AD Connect, it is recommended to disable Directory Synchronization by using Below cmdlet:
`Set-MsolDirSyncEnabled –EnableDirSync $false `
This allows you to manage synced accounts by using Azure Portal or Azure PowerShell module without Azure AD Connect.

I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any furthe

[2020-01-06 07:24] #45289 closed

[2020-01-06 07:39] stefankip opened #45646 "Outdated link"
The link of this part is outdated:

"Develop your system such that it can handle connection blips because of patching and failover."

Instead of linking to https://gist.github.com/JonCole/317fe03805d5802e31cfa37e646e419d#file-azureredis-patchingexplained-md, it should link to https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-failover

---
#### Document Details

⚠ *Do not edit this

[2020-01-06 07:42] ram-msft commented on #45499
@erhopf Could you please help on this.

[2020-01-06 07:45] fujitani-hiromu-fixer opened #45647 "There are metrics that are not listed"
There is a metric that has not been added other than the metric already supported.
https://github.com/MicrosoftDocs/azure-docs/issues/44931

Do the following metrics not exist?

Microsoft.Web/sites | HttpResponseTime
Microsoft.Web/sites (functions) | HttpResponseTime
Microsoft.Web/sites (excluding functions) | HttpResponseTime
Microsoft.DocumentDb/databaseAccounts | DeleteVirtualNetwork

# Azure d

[2020-01-06 07:58] bobnerland opened #45648 "E5 and M5"
To use Privileged Identity Management, your directory must have one of the following paid or trial licenses:

Azure AD Premium P2
Enterprise Mobility + Security (EMS) E5
Microsoft 365 M5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66c20f5e-ca50-337e-8fc1-1d3d434178a7
* Version Independent ID: 4f7c30ee-a49c-a79e-e06d

[2020-01-06 08:00] SaurabhSharma-MSFT commented on #45510
@xom-pschiess Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-01-06 08:14] DixitArora-MSFT commented on #45645
Hi @meethariprasad Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-06 08:17] DixitArora-MSFT commented on #45647
Hi @fujitani-hiromu-fixer Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-06 08:17] SwathiDhanwada-MSFT commented on #45405
@tigerhive As there are no further updates to the document ,we will close the issue for now. If there are further questions related to the issue, please respond and we will be very glad to assist you.

[2020-01-06 08:17] #45405 closed

[2020-01-06 08:20] KrishnaG-MSFT commented on #45647
Assigning @rboucher for visibility, review, to provide insights and for document enhancement consideration if required.

[2020-01-06 08:29] amanmcse commented on #45288
@mprentice22153 After successful installation of the provisioning agent, a desktop shortcut named **"AAD Connect Provisioning Agent Wizard"** is created. You can use this shortcut to run the initial configuration wizard again and re-configure the credentials.

I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions.

[2020-01-06 08:29] #45288 closed

[2020-01-06 08:33] SnehaAgrawal-MSFT commented on #45295
@DwijadasDey Glad to know issue resolved and hence closed the issue. Let us know if you have further question on this.

[2020-01-06 08:37] DixitArora-MSFT commented on #45648
Hi @bobnerland Thanks for reaching out. We will review and update as appropriate.

[2020-01-06 08:37] KalyanChanumolu-MSFT commented on #45646
@stefankip Thank you for pointing out the issue and helping us make our documentation better.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.

We will proceed to close this issue now.

[2020-01-06 08:37] #45646 closed

[2020-01-06 08:43] DixitArora-MSFT commented on #45643
Hi @Sanses Thanks for your feedback. We will review and update as appropriate.

[2020-01-06 08:44] KalyanChanumolu-MSFT commented on #45626
@ormico Thank you for pointing out the issue.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.

We will proceed to close this issue now.

[2020-01-06 08:56] amanmcse commented on #45286
@mprentice22153 If you delete an active configuration, it does not delete any synced accounts created via Azure AD Connect cloud provisioning. The accounts remain present in the tenant as synced account. To delete these accounts, you need to change the scope of the configuration to an empty group or Organizational Units.

I am proceeding with closure of this thread. Feel free to tag me in your rep

[2020-01-06 08:56] #45286 closed

[2020-01-06 09:00] XiaofuHuang commented on #45393
@NavtejSaini-MSFT
Would you like to change the description of cross-partition query on this page?

[2020-01-06 09:00] daxin09pp opened #45649 "Is it safe for access tokens to be stored in Local Storage?"
Hi Team,
I followed the steps in this page to test. I found that when I authenticated, my access token was stored in Local Storage. It's not safe as I understand it. If there is XSS in the application, the access token will be stolen. Please check the relevant links of OWASP:
https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html#local-storage

Do you have any good Suggesti

[2020-01-06 09:02] techsaau commented on #45538
any update guys?

[2020-01-06 09:08] amanmcse commented on #44844
@Aubeauch The timeout is 30 secs and retry is 2 times (i.e. we try 3 times in total), if there is slow or no response from RESTful service to Azure AD B2C.

I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions.

[2020-01-06 09:08] #44844 closed

[2020-01-06 09:25] anmtando opened #45650 "Can we change the name of Host Pool which is already created and also the Tenant name?"
I would like to change the name of my Host Pool and currently do not see any PowerShell to change either this or the tenant name.
Also, I would like to know which type of group takes more memory, a desktop application group where the user has complete desktop access or an app group containing a set of applications visible to users.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-01-06 09:33] souravmishra-msft commented on #44877
@philrice, Thank you for reaching out. Your anticipation is correct to some extent. Let me walk you though with the example you shared. Once you create a role assignment, you specify the expiration time for the role to be active for users (when the role is activated once) is specified under the Azure AD roles - Settings. So, this statement "if the assignment period is set to expire after 3 months

[2020-01-06 09:34] souravmishra-msft commented on #44877
Closing this thread for now, feel free to re-open this if any more queries around this ask.

[2020-01-06 09:34] #44877 closed

[2020-01-06 10:06] VikasPullagura-MSFT commented on #45643
@Sanses I am assigning the issue to content author for reviewing the feedback and updating the document accordingly.

@TomArcherMsft Can you please look into this and update the document as applicable.

[2020-01-06 10:09] adrianagdi commented on #45123
Thank you for the updates!
As a workaround, we temporarily used a different name for the log analytics workspace but I will check again with the reserved name after the week of 13-Jan.

[2020-01-06 10:19] mifurm opened #45652 "Bad DockerBridgeCidr in sample for Advanced Networking"
In section "https://docs.microsoft.com/en-us/azure/aks/private-clusters#create-a-private-aks-cluster" there is a sample command to create the cluster in the dedicated subnet. However, the sample says to use 172.17.0.1/16 CIDR for DockerBridge which will result in the error message like the one below. "Operation failed with status: 'Bad Request'. Details: NetworkProfile.DockerBridgeCidr 172.17.0.1/

[2020-01-06 10:42] #45508 closed

[2020-01-06 10:47] romankiss opened #45653 "Connect device using a self-signed X509 certificate"
This document didn't describe (or it is not clear) the following case of the Device connection when the button _Connect_ at the specific device on the IoTC App is pressed:

Connect method: _Individual enrollment_
Mechanism: _Certificates (X.509)_
Primary:  _self-signed certificate_

See the following screen snippet:

![iotc1](https://user-images.githubusercontent.com/30365471/71813665-1872e300-302

[2020-01-06 11:52] loosus456 commented on #45395
@neeleshray-msft why did you close this? Do you have a quota that you have to meet? This issue is not resolved.

1. I already followed those steps. They don't work. Please read my previous messages rather than skipping them.

2. I am following the steps *in this article*. The problem is with *this* article, not other Microsoft docs.

So does this work with Hybrid Azure AD-joins machines or not? Th

[2020-01-06 11:55] m455954 commented on #44645
@azsec The deployment of AADloginForWindows extension is not the issue - AADJoin works fine, it's the ability to actually log in using an AAD account which is not working.

[2020-01-06 12:06] KrishnaG-MSFT commented on #45355
Assigning @stephbaron and @tfitzmac  for visibility, review, to provide insights and if possible to update the document with @msaravindh's ask.

[2020-01-06 12:09] msaravindh commented on #45355
I found the solution here - https://thomasthornton.cloud/2019/07/18/creating-azure-service-health-alerts-in-powershell/ but it would be good to have the official documentation updated with the ARM template to filter services and regions.

[2020-01-06 12:21] shrey-vijayvargiya commented on #43890
Hi Mary,

I face the same issue when trying to setup Databricks and Azure Devops integration. The 'Save' button gets enabled if I unselect-select Azure Devops in the drop down list. But the Git integration tab is not visible. Please help.

[2020-01-06 12:31] dominicbetts commented on #44475
Hi @fadyanwar - please open an issue in the https://github.com/Azure-Samples/mxchip-iot-devkit-pnp/ repo regarding the logs on the serial port - the developers there should be able to help out. Thanks!

I'm going to close this issue, but please feel free to open it again if you have any further questions about the documentation. Thanks again.

[2020-01-06 12:31] dominicbetts commented on #44475
#please-close

[2020-01-06 12:32] #44475 closed

[2020-01-06 12:37] pgerbino commented on #45539
zzs appears in the middle of the page

[2020-01-06 12:39] pgerbino opened #45655 "ZZS typo"
There are random characters in the middle of the page - zzs -

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [How and where to deploy models - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/mac

[2020-01-06 12:55] AshokPeddakotla-MSFT commented on #45653
@romankiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-06 13:13] shibinchandra commented on #45582
Thanks @mike-urnun-msft for looking into this .

[2020-01-06 13:40] YURll commented on #17905
lfrancfort,

It's excellent that you found the solution.
Can you be so kind to share it with others? I'm trying to find it out a lot of time.

[2020-01-06 13:40] DixitArora-MSFT commented on #45649
Hi @daxin09pp Thanks for reaching out. We will review and update as appropriate.

[2020-01-06 13:46] DixitArora-MSFT commented on #45650
Hi @anmtando Thanks for reaching out. We will review and update as appropriate.

[2020-01-06 13:48] DixitArora-MSFT commented on #45652
Hi @mifurm Thanks for your feedback. We will review and update as appropriate.

[2020-01-06 13:49] RyanHill-MSFT commented on #45400
@yellowsmarty, I'm not a java expert by any means but I do have the following environment variables setup in my local machine.

![image](https://user-images.githubusercontent.com/47189704/71821138-4cfe9300-305f-11ea-8b6b-50c2ee020691.png)

I used chocolatey to install maven using `choco install maven` and my current version is 3.6.1.20190711.

Do you have the same values?

[2020-01-06 13:50] DixitArora-MSFT commented on #45655
Hi @pgerbino Thanks for your feedback. We will review and update as appropriate.

[2020-01-06 14:01] dominicbetts commented on #44895
Hi @rido-min - thanks for raising this. We're aware of this issue and will be updating the articles in question closer to when PnP is generally available.

[2020-01-06 14:01] dominicbetts commented on #44895
#please-close

[2020-01-06 14:01] #44895 closed

[2020-01-06 14:05] ytugarev opened #45656 "Copy-paste from "With Storage Space Direct""
Quality of this guidance is subpair starting from stubs "Ensure that the account you persisted the file share with is the same account that the SQL Server service uses to avoid possible failures." which is confusing ( there is no "same" accounts - auth directories are different) to the "Limitations" section which is 1 to 1 equal to original S2D. Is MDTS supported with Azure Premium Shares or not i

[2020-01-06 14:28] LazzariPaolo commented on #31188
I'm seeing the same issue with `2016-Datacenter`

[2020-01-06 15:03] tomecho opened #45658 "Update image scanning in FAQ to include reference to azure security center"
Right now the section that mentions security scans has links to aqua and twistlock but a solution more tightly integrated with azure exists through the azure security center
https://azure.microsoft.com/en-us/updates/scan-container-images-for-vulnerabilities-in-azure-security-center/
https://docs.microsoft.com/en-us/azure/security-center/azure-container-registry-integration

---
#### Document Detai

[2020-01-06 15:12] YutongTie-MSFT commented on #45407
You must install this ubuntu package before installing png in R. Try the following:
Installing directly using apt-get.
sudo apt-get install libpng16-16
If this doesn't work, please install manually.
wget https://cfhcable.dl.sourceforge.net/project/libpng/libpng16/1.6.34/libpng-1.6.34.tar.xz
tar xf libpng-1.6.34.tar.xz
cd libpng-1.6.34/
./configure
sudo make check
sudo make install
Finally, install

[2020-01-06 15:12] #45407 closed

[2020-01-06 15:22] thecpshah commented on #45574
Hello @himanshusinha-msft is there any update on this?

[2020-01-06 15:22] YutongTie-MSFT commented on #45373
@j-martens Hi Martens, could you please assign someone to help with this document issue? @vaidyas is not a valid name of assignee. Thanks.

[2020-01-06 15:23] sharmamanish260979 commented on #33178
@KranthiPakala-MSFT - I have similar issue. I have to use AzureIR. I have ADLS Gen2 and firewall settings with VNET but MS trusted services access checked. Now, i am trying to access it from data factory but test connection is failed. I was recommended to get Data Factory Managed Identity and give it role based access as Blob storage contributor on ADLS but it doesnt find guid as showed in the pic

[2020-01-06 15:29] SteveColegrove opened #45659 "Limit Security Group Creation"
The setting which prevents any user from creating a security group is limited to only preventing them from creating the group in the portal.  Any user can still create new security groups via PowerShell.  How can I make it so that only admins can create security groups no matter the method of creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-01-06 15:29] afj88 commented on #45122
I menaged to make the site run using a npm-shrinkwrap.json file with this content

{
  "dependencies": {
    "graceful-fs": {
      "version": "4.2.2"
    }
  }
}

as stated in one of the answer of the StackOverflow post linked by Ahmad-Al-Ali

[2020-01-06 15:39] NavtejSaini-MSFT commented on #45566
@VanMSFT @rohitnayakmsft Please confirm if this link is the correct one now and can be updated in the document.
https://www.microsoft.com/en-us/download/details.aspx?id=56519

Please confirm and i will raise a PR to get this resolved.

[2020-01-06 15:47] hansonn74 commented on #45407
Thank you for responding.
I'm still not getting anywhere.
What application/interface should I be using to execute the commands?

The tutorial is set in Azure RStudio - doesn't work in there.
I installed Azure CLI (windows 10) - doesn't work in there.
Where should I be doing this?

[2020-01-06 15:49] NavtejSaini-MSFT commented on #45393
@XiaofuHuang We have raised a pull request to correct this.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/100176

Once approved the changes will be reflected.

[2020-01-06 15:49] hansonn74 commented on #45407
Having looked at this, I'm not running an ubuntu VM - I'm using option 1 in this article.
https://techcommunity.microsoft.com/t5/educator-developer-blog/hosting-rserver-and-rstudio-on-azure/ba-p/744389

[2020-01-06 15:54] hansonn74 commented on #45407
AHA!!
Figured it out. I ran a Terminal from JupyterLab Launcher and ran the sudo apt-get install libpng16-16.
Then switched back to RStudio and can now successfully run install.packages("DAAG").

Thanks for your help.

[2020-01-06 16:00] shibinchandra commented on #42508
Hey @zcabrer , Thanks for your input.  I tried the pattern. But it is giving me the below error after redirecting to "https://customdomain.com/.auth/login/aad/callback"
"The page cannot be displayed because an internal server error has occurred."

[2020-01-06 16:28] nabeelsul opened #45661 "Clarification of if-match ETag condition"
The documentation seems to indicate so, but just to be completely clear: If multiple writers use the "if-match" ETag condition, it is guaranteed that only one of those writes will succeed, regardless of the region, geographic settings, or consistency level of the CosmosDB instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-01-06 16:28] dxkaufman commented on #45566
That's a better option, I think, though I think it would still be much more
helpful if we had the option just to turn on a flag for 'IPs used by my
subscription' vs 'all Azure IPs'.

Dylan

Dylan Kaufman    |    dkaufman@darwincg.com    |     Darwin Consulting Group
<http://www.darwincg.com>    |    (510) 599-2095

I am riding in & fundraising for the AIDS/LifeCycle
<http://www.tofighthiv.org/goto

[2020-01-06 16:29] santhoshbomma9 commented on #45374
Hi @SadiqhAhmed-MSFT , I was referring to Content Source: articles/marketplace/standard-contract.md

[2020-01-06 16:33] eross-msft commented on #31136
Thank you everyone for your insight into the URLs. We appreciate the provided data as it helps shape our decisions going forward.
We, as the content team, are actually moving away from using the aka.ms short URLs and instead using the full site URLs. With that being said, the product groups and other teams aren't necessarily changing their styles to reflect this update. Additionally, we don't have

[2020-01-06 16:33] eross-msft commented on #31136
#please-close

[2020-01-06 16:35] colinweiner opened #45662 "Broken link"
Broken link in Storage Isolation section - https://docs.microsoft.com/en-us/azure/security/fundamentals/isolation-choices#logical-isolation-between-compute-and-storage

" The specified resource does not exist"  - https://msenterprise.global.ssl.fastly.net/vnext/PDFs/A01_AzureSecurityWhitepaper20160415c.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-01-06 16:43] NavtejSaini-MSFT commented on #45661
@nabeelsul We are checking this and will get back to you.

[2020-01-06 16:43] connec commented on #39788
@kwaazaar – did you find a solution to that? I'm running into the same issue. I have an ARM template with a parameter for `servicePrincipalProfile.secret`. When I change the parameter and re-deploy I get an error during deployment validation:

This could block us from using ARM to manage the cluster, since credential rotation is very important! Perhaps the behaviour mentioned by @ondrejhlavacek co

[2020-01-06 16:45] satyady opened #45663 "CRM 365 data type of AttributeType.Virtual equivalent type in ADF"
Is the data type of AttributeType.Virtual of CRM 365 supported in ADF? What would be the Data Factory Interim Datatype would be for Virtual? The documentation doesn't mention about it. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-272

[2020-01-06 16:52] Cyclops-Electronics opened #45664 "Explanation for registry settings for Office/Outlook"
Please can we get an explanation on why we are setting certain registry values, such as:
For example InsiderSlabBehavior - why is this set to 2? What does it mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf7e52a-b2b1-0372-0e62-12f6733fc699
* Version Independent ID: a21ed743-3fbc-0d20-6947-188744e0a2f7
* Content

[2020-01-06 16:57] jvplopper commented on #45585
Hey @FrankHu-MSFT.  There are good final cutover docs, but they include directions for enabling Seamless SSO via Azure AD Connect rather than via powershell.  This is one example of how it would be helpful to know the impacts of the staged rollout to the final cutover.  Thanks!

[2020-01-06 16:58] NavtejSaini-MSFT commented on #45542
@HenrikStaunPoulsen The times in elastic jobs is always UTC. This has been confirmed by Product team as well.

[2020-01-06 17:02] erhopf commented on #45499
Awaiting confirmation from Greg. This is in our backlog.

[2020-01-06 17:03] julob23 opened #45666 "Cluster Terminates after 30 Days of Inactivity"
We could use more direct/explicit language noting that if an interactive cluster is inactive for 30 days, it will get deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab17b71-1d88-c847-59e5-002a11915f67
* Version Independent ID: 80916cf1-234f-37f0-150a-2f8fbaa16bf2
* Content: [Manage Clusters - Azure Databricks

[2020-01-06 17:03] mike-urnun-msft commented on #45543
@dzajda Following up on my previous comment above. Let us know if there is specific documentation that you were following so we can assign the right team that can assist you with your feedback. Otherwise, we'll proceed to close this issue.

[2020-01-06 17:07] mike-urnun-msft commented on #45618
Thanks @carlosporter! I have assigned this issue to the content author to review further and take the right course of action.

[2020-01-06 17:10] screamyao opened #45667 "`model_data_collection` only collects data for successful API requests"
We plan to leverage `model_data_collection` message type in `traces` to log our API request payload (instead of printing the payload to STDOUT) only to realize that failed requests were not logged. It's actually more crucial to log payload for failed requests so we can reproduce the issue rapidly. Is there plan to include all requests in `model_data_collection`?

---
#### Document Details

⚠ *Do n

[2020-01-06 17:12] MonikaReddy-MSFT commented on #45447
@andreas-wilm - I'm going to assign this to the document author so they can update the document accordingly.

[2020-01-06 17:19] dkreymerman-byredwood commented on #36443
This still does not seem to work with the new domain. Just getting a sign-in loop when trying to Authenticate.

[2020-01-06 17:25] PramodValavala-MSFT commented on #36888
@Hazhzeng Thanks! Will work up a PR to update them.

[2020-01-06 17:31] deepweb12 opened #45668 "girlnonymous"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-06 17:34] trevorbye commented on #42477
#please-close

[2020-01-06 17:34] #42477 closed

[2020-01-06 17:37] umeshbarapatre commented on #45071
Hi Keith,

Can you share the sample assertion envelope you are receiving when making a call to azure v1 end point. Is that a samlp envelope assertion ?

Thanks
Umesh

From: Keith Voels [mailto:notifications@github.com]
Sent: 06 January 2020 08:58
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Umesh B <umesh.barapatre@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-01-06 17:42] PeterCLu commented on #45064
@MayMSFT , it looks like @jsrimr is the original submitter. Please direct additional questions to them.

@jsrimr, can you provide more information on your issue?

[2020-01-06 17:43] sdgilley commented on #45623
@omri374 - thanks for finding this.  Turns out that notebook moved.  The new location is: https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/track-and-monitor-experiments/logging-api

I've updated the link in this article which should be live later today.

#please-close

[2020-01-06 17:43] #45623 closed

[2020-01-06 17:50] PeterCLu commented on #45373
#assign:@blackmist

[2020-01-06 17:52] PeterCLu commented on #45608
#assign:@sdgilley

[2020-01-06 17:52] rthorn17 commented on #36393
Sure.  This comment was in reference to github issue https://github.com/MicrosoftDocs/azure-docs/issues/36393 on a typo on the inheritance for management groups.

Doc page https://docs.microsoft.com/en-us/azure/governance/management-groups/overview

Thanks

[2020-01-06 18:00] sajayantony commented on #45658
/cc @yugangw-msft @dlepow

[2020-01-06 18:00] nheinbaugh commented on #45373
Thank you for the followup!

[2020-01-06 18:03] julesman101 commented on #44642
Any update please?

[2020-01-06 18:06] GiftA-MSFT commented on #45667
@screamyao thanks for reaching out. We will review this issue and get back to you shortly. Thanks.

[2020-01-06 18:08] PeterCLu commented on #45667
Hi @screamyao , thank you for report. Since this appears to be a product-related request. I will close this issue. You can request product features using the feedback site: https://feedback.azure.com/forums/257792-machine-learning

If you feel that your issue has not been resolved, please re-open the documentation issue and provide additional context. For product issues, contact technical support.

[2020-01-06 18:08] #45667 closed

[2020-01-06 18:09] PeterCLu commented on #45619
#assign:@sdgilley

[2020-01-06 18:09] erhopf commented on #45499
@ram-msft - Do you know where this is documented? Doesn't show up here: https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/select-azuresubscription?view=azuresmps-4.0.0

[2020-01-06 18:10] Blackmist commented on #45373
Thanks for bringing this to our attention @anoopasokan and @nheinbaugh

The engineer who worked on this document is currently out of office. I've mailed their team to see if someone can provide the missing steps.

[2020-01-06 18:15] tescales opened #45669 "Unclear how to pass parameters to Automation DSC using ARM template"
OK so I've gone around and around on this, have searched through the quickstart repo and a bunch of other resources but I have not been able to discover a way to pass parameters FROM an ARM template deployment all the way TO the configuration stored in Azure Automation.

Here's the simplified view that I'm trying to create:
 * azuredeploy.json -- generic IaC
 * azuredeploy.parameters.json -- envir

[2020-01-06 18:19] himanshusinha-msft commented on #45666
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-06 18:20] Karishma-Tiwari-MSFT commented on #14914
PR has been created for this, the changes will be live as soon as
https://github.com/MicrosoftDocs/azure-docs-pr/pull/100190
is merged.

[2020-01-06 18:21] himanshusinha-msft commented on #45663
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-06 18:21] AjayKumar-MSFT commented on #45304
Thanks for sharing additional details.
As mentioned above, if you're using App Services (Webapp for containers) you don’t have to do anything custom (it will take care of the proxy/load balancing and other configuration). There are two options:

1.	Just bring your code and the underlying infrastructure uses Microsoft “blessed” images
https://docs.microsoft.com/azure/app-service/containers/app-serv

[2020-01-06 18:28] Karishma-Tiwari-MSFT commented on #45656
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-06 18:28] mikebudzynski commented on #45171
I added a mention about outbound IP addresses to the linked documentation article. The change should propagate within 24h

[2020-01-06 18:31] mgblythe commented on #45196
#assign mgblythe

[2020-01-06 18:50] MashaMSFT commented on #45425
Hi @VitalyMCT , thanks for bringing this to our attention! I have merged a change that fixes this issue and it should be live later today, or possibly tomorrow. I will proceed with closing out this Git Issue, but please feel free to comment should you need anything further from us.

Thanks again for making our documentation better, and hope you have a wonderful rest of your day!
Masha from the SQL

[2020-01-06 18:50] #45425 closed

[2020-01-06 18:55] vermagit commented on #45564
Thanks for the feedback. I'll reconsider adding the expected network bandwidth (for Ethernet, not InfiniBand) for the SKUs. The implications of adding that 'expectation' are that the observed performance from the workload depends on a lot of other factors as outlined in the section.
@cynthn

[2020-01-06 18:57] MicrosoftGuyJFlo commented on #45606
@ralish this was addressed and updated. If you still think there are issues please reach out to me via email in my profile.

[2020-01-06 18:57] MicrosoftGuyJFlo commented on #45606
#please-close

[2020-01-06 18:57] #45606 closed

[2020-01-06 19:01] peledins opened #45672 "Needs more information on linkOnRenewal"
linkOnRenewal is barely documented (in code example).
the page needs either a link on how to use that or full example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows](

[2020-01-06 19:04] cwester72 opened #45673 "How to move Windows Virtual Desktop to a new Domain (From ADDS to AADDS)?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-06 19:04] PatrickFarley commented on #42270
@NHaiby, is there a way to analyze forms from Azure blob storage?

[2020-01-06 19:06] #45355 closed

[2020-01-06 19:07] Grace-MacJones-MSFT commented on #45041
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-06 19:07] #45041 closed

[2020-01-06 19:07] PatrickFarley commented on #42986
Hi @jimbobbennett , I can't reproduce this error. Is it still occurring?

[2020-01-06 19:10] PatrickFarley commented on #43054
@paramrsingh thanks for your feedback. I've clarified the instructions on how to use a folder path in the blob storage container.
#please-close

[2020-01-06 19:10] #43054 closed

[2020-01-06 19:12] himanshusinha-msft commented on #45574
@thecpshah :You are is using enhanced package of Salesforce Marketing Cloud, which is not supported by ADF currently.  But there’s a workaround .
1.	Go to ADF portal, and create an ODBC linked service
2.	Set "Authentication type" as "Anonymous"
3.	Set "Connection String" as "Driver={Microsoft Salesforce Marketing Cloud ODBC Driver};host=<host>;Auth_Type=OAuth_2.0;Auth_Client_ID=<ClientID>;Auth_Cli

[2020-01-06 19:14] PatrickFarley commented on #43461
@CodeLancasterX Thanks for your feedback, I will add this to my backlog. Is there a specific task you want to use the confidence value for?

[2020-01-06 19:21] MicahMcKittrick-MSFT commented on #7537
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:21] MicahMcKittrick-MSFT commented on #11121
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:21] Karishma-Tiwari-MSFT commented on #45658
@sajayantony I have created a PR including the Azure security center link here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/100208

[2020-01-06 19:21] MicahMcKittrick-MSFT commented on #18813
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:21] MicahMcKittrick-MSFT commented on #19716
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:22] MicahMcKittrick-MSFT commented on #19479
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:22] MicahMcKittrick-MSFT commented on #21032
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:22] MicahMcKittrick-MSFT commented on #22532
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:22] MicahMcKittrick-MSFT commented on #30332
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:22] MicahMcKittrick-MSFT commented on #33640
#reassign: @MicahMcKittrick-MSFT

[2020-01-06 19:29] SadiqhAhmed-MSFT commented on #45484
@taromielnaz Currently there is no such option to cater this requirement. You may create a feedback item for this request on the [User Voice forum](https://feedback.azure.com/forums/258995-azure-backup) with business impact/justification and the PG will consider it for a future release if it qualifies to be a valid feature/ask.

Closing this thread for now. Feel free to reply to this post if you'v

[2020-01-06 19:29] #45484 closed

[2020-01-06 19:31] jjindrich commented on #43136
Check this powershell command:
Add-VpnConnectionRoute -ConnectionName "JJHomeNetwork" -DestinationPrefix 192.168.1.0/24
It adds route automatically after VPN connection is established. Tested with SSTP connection.

[2020-01-06 19:41] tamram commented on #44084
@nickhopkins11 - Thanks for catching that error! I've made the fix, and it should be live later today.

#please-close

[2020-01-06 19:41] #44084 closed

[2020-01-06 19:43] hruday94 commented on #45589
Sure Thank you 👍

[2020-01-06 19:44] jimbobbennett commented on #42986
@PatrickFarley - still happens to me. I click on the Launch Binder button in Safari on macOS and get the error. It works in Edge on macOS, just not on Safari.

[2020-01-06 19:49] FrankHu-MSFT commented on #45659
Hey @SteveColegrove thanks for letting us know about this, we're going to investigate and get back to you as soon as possible.

[2020-01-06 19:52] JnHs commented on #45347
@haoxin Can you clarify further - you're trying to onboard a subscription in one tenant to be managed through another tenant (the one referenced above as ManagedByTenantId)? This should be possible regardless of how the subscription was created, as long as the deployment is done by an authorized user in the tenant being onboarded. If that's the case I'm not sure why you would be seeing this error,

[2020-01-06 19:54] sharmamanish260979 opened #45675 "Storage Accoung V2 access with firewall, VNET to data factory V2"
Hi,

I have blob containers in storage account V2 having firewall settings with VNet and only allowed to accessible to Microsoft Trusted Services. Now, as long as firewall is restricting other services, I am unable to get test connection succeeded for data factory V2 while i am trying to setup Linked Service and i am getting error:

Connection failed
ADLS Gen2 operation failed for: Operation retur

[2020-01-06 20:01] rolyon commented on #44794
Hi @JDWNL
Thanks for your feedback. I've sent a message to the team asking about the current description.
thanks

[2020-01-06 20:02] udlose opened #45677 "Aren't endpoints for examples pointing to the old API version?"
I was expecting to see the examples point to urls with `v2.0` in the url name - e.g. instead of "https://login.microsoftonline.com/{tenantId}/oauth2/authorize" it should be "https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize"

and instead of "https://login.microsoftonline.com/{tenantId}/oauth2/token" it should be "https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token"

Am

[2020-01-06 20:11] MarileeTurscak-MSFT commented on #45677
@udlose
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-06 20:25] PatrickFarley commented on #42986
I believe this is an issue with MyBinder itself, though it doesn't seem to be well understood. Compare: https://github.com/jupyterhub/mybinder.org-deploy/issues/1281

#pleaseclose

[2020-01-06 20:25] #42986 closed

[2020-01-06 20:32] markjbrown commented on #45568
Thanks for reporting. I am updating this with a PR on our docs. Will close once this is merged.

[2020-01-06 20:33] msangapu-msft commented on #40655
@btardif Can you please take a look at this item.

[2020-01-06 20:38] bnawijn opened #45678 "AKS "API server authorized IP ranges" makes deployment by Pipeline impossible"
We deploy all our Azure resources using ARM templates which are applied/deployed using a DevOps Pipeline. Our Kubernetes configuration is also applied using a DevOps Pipeline. When we enable the "API server authorized IP ranges" we can't deploy to our clusters anymore using these pipelines, since it's not blocking all traffic from unknown IP ranges.

We thought it would be quite easy to fix the is

[2020-01-06 20:48] HJToland3 commented on #45270
@VitalyMCT, the HOL has been retired and I've submitted a change request to remove the listing. The update should go live tomorrow!

[2020-01-06 20:56] Heidilohr commented on #44642
@VikasPullagura-MSFT @julesman101 We're still working on getting an answer. We'll get back to you when we have confirmation. Thank you for your patience.

[2020-01-06 20:58] stdistef opened #45679 "I dont see an entry for Monitor of Azure Files"
I dont see an entry for Azure Files when used for Storage.  Can we not monitor Azure Standard and Premium Files Shares?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Resource Logs supported services an

[2020-01-06 21:00] ghogen commented on #43430
This is being tracked as a product issue. Closing the doc issue. #please-close

[2020-01-06 21:00] #43430 closed

[2020-01-06 21:08] rolyon commented on #45008
Hi @marckassay and @SwathiDhanwada-MSFT
I copied template and created a .json file. I created a new resource group. Using Cloud shell, I ran both Powershell and CLI commands and it succeeded for me.
Are you still experiencing the same error? What role are you signed in as? Are you using Cloud shell?
thanks

[2020-01-06 21:19] anzaman commented on #42535
What you are saying only makes sense when the VPN tunnel and EAP terminate on different servers. In this case both of them are terminating on the same server,, there is no benefit of validating the server identity twice.

[2020-01-06 21:19] TravisCragg-MSFT commented on #34382
@raphael-liming This is currently still a limitation for App Gateway SSL Termination using Key Vault. I will post any updates as soon as I have them.

[2020-01-06 21:22] rolyon commented on #44843
Hi @taromielnaz
I suspect that you have been assigned another role that grants you access to the Azure portal. To see the list of roles assigned to you, do the following:
In the Azure portal, click **Azure Active Directory** > **Users**.
Find and click your user name in the list.
In the left menu, click **Azure resources**.
View the list roles that are assigned to you. You might need to change the

[2020-01-06 21:22] alexkarcher-msft commented on #44123
#please-close

[2020-01-06 21:22] #44123 closed

[2020-01-06 21:28] btardif commented on #45026
@dcbrown16  I have a new PR for that. Retention period is 30 days after that apps a purged and can't be recovered.

[2020-01-06 21:29] TravisCragg-MSFT commented on #34382
@slebodat @raphael-liming This limitation is now documented [Here in the PowerShell Instructions](https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps#create-a-key-vault-policy-and-certificate-to-be-used-by-the-application-gateway).

We will be looking to remove this limit at some point in the future, but I cannot give a timetable. if you would like us to prioritize thi

[2020-01-06 21:30] TravisCragg-MSFT commented on #34382
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-06 21:30] #34382 closed

[2020-01-06 21:34] GiftA-MSFT commented on #45655
@pgerbino thanks for your feedback. We have updated the doc and changes will be in effect soon.

[2020-01-06 21:34] #45655 closed

[2020-01-06 21:34] rboucher commented on #45647
@fujitani-hiromu-fixer Where are you getting these metrics from?  The portal? I just ran the automated process before the holidays to update this article.  The HttpResponseTime metric is under slots at Microsoft.Web/sites/slots, but not in the locations you list.  I'm not seeing the DeleteVirtualNetwork anywhere.

Microsoft.Web/sites | HttpResponseTime   -->
Microsoft.Web/sites (functions) | HttpR

[2020-01-06 21:35] GiftA-MSFT commented on #45539
@djpugh thanks for your feedback. We have updated the doc and changes will be in effect soon.

[2020-01-06 21:35] #45539 closed

[2020-01-06 21:36] rboucher commented on #45647
@DixitArora-MSFT We are at the right place for now until we determine why these are missing.

[2020-01-06 21:39] rboucher commented on #45108
@dcbrown16 This is probably a problem with the table UI. Because the table is so wide, you have to look at the bottom for the horizontal scroll bar for the table.  Each metric in this list is associated with a namespace, but you can't see everything all at once.

[2020-01-06 21:43] btardif commented on #45026
#sign-off

[2020-01-06 21:52] MartinJaffer-MSFT commented on #37499
It was like my pings went into a black hole.  I'll try again now that it is the new year.

[2020-01-06 21:53] lmasieri commented on #45317
Good feedback. I've updated the article @AshokPeddakotla-MSFT . FYI @dominicbetts

[2020-01-06 21:54] jlian commented on #44709
No, it shouldn't be related to throttling. My understanding right now is:

However, I need to check with some more people on my team to confirm this because I publish it on docs.microsoft.com.

[2020-01-06 21:55] slebodat commented on #34382
@TravisCragg-MSFT thank you, I was not asking for anything more. Great that you finally (6 months later) updated documentation and no one else will waste time trying to figure it out.

[2020-01-06 22:07] keithdv commented on #45071
Hi Umesh,
You go. I don't believe so it's simply <Assertion>. Thanks, Keith
<Assertion ID="_32e7b830-43cf-40cd-a0f7-0ddf851dfb00" IssueInstant="2020-01-06T22:03:57.551Z" Version="2.0"
    xmlns="urn:oasis:names:tc:SAML:2.0:assertion">
    <Issuer>https://sts.windows.net/cb632b2c-217b-4edd-9be9-35f29b5c9f11/</Issuer>
    <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
        <SignedInfo>

[2020-01-06 22:09] keithdv commented on #45071
Hi Umesh,
Here you go. I don't believe so. It's simply `<Assertion>`

`<Assertion ID="_32e7b830-43cf-40cd-a0f7-0ddf851dfb00" IssueInstant="2020-01-06T22:03:57.551Z" Version="2.0"
    xmlns="urn:oasis:names:tc:SAML:2.0:assertion">
    <Issuer>https://sts.windows.net/cb632b2c-217b-4edd-9be9-35f29b5c9f11/</Issuer>
    <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
        <SignedInfo>

[2020-01-06 22:17] m14cus opened #45682 "psycopg2-binary: finished with status 'error', error C2037: left of 'next'"
I'm working my way through the python/postgress tutorial ( https://docs.microsoft.com/en-gb/azure/app-service/containers/tutorial-python-postgresql-app) and running into a problem I can't get over.

I'm running the pip  install -r requirements.txt and getting an error

Installing collected packages: psycopg2-binary, whitenoise
    Running setup.py install for psycopg2-binary: started
    Running s

[2020-01-06 22:26] MartinJaffer-MSFT commented on #45291
I inquired internally, and found some more information.
[code]
[How to write to a single csv file](https://analyticjeremy.github.io/Databricks_Examples/Write%20to%20a%20Single%20CSV%20File)

If after this you still wish to log a feature request, please visit the [feedback forum](https://feedback.azure.com/forums/909463-azure-databricks)  to create the request.  All the feedback is monitored by the

[2020-01-06 22:26] #45291 closed

[2020-01-06 22:27] MarileeTurscak-MSFT commented on #45498
@xom-pschiess So far the only way to include non basic claims is by claims mapping policy assignment, as you mentioned.

If you'd like to make a feature request, please post to[ User Voice](https://feedback.azure.com/) where the product team will respond directly.

I have also checked with my contacts on that team and will update this thread when I have a response, but I'm closing this out since t

[2020-01-06 22:27] #45498 closed

[2020-01-06 22:47] NathanKinney opened #45683 "Record Azure Kinect sensor streams to a file Error Using V1.3.0"
I'm attempting to record files from my kinect and have ran into this error while following the tutorial through the docs. I didn't have problems when I used 1.2.0 is there something simple that I'm overlooking?

D:\a\1\s\extern\Azure-Kinect-Sensor-SDK\src\record\sdk\record.cpp (40): k4a_record_create(). Unable to open file 'output.mkv': ios_base::failbit set: iostream stream error
Unable to create

[2020-01-06 22:50] MaRX8nka commented on #45122
Hi,

I tried that also, but not working for me. I have tried this now in my
Win10 PC and created a Win10 vm in your cloud with same result, the gulp
also causes issues in the linux version. Dont remember
what this version change fixing that issue but then finally the app starts
- the web app is "running" -state in Portal, but  the page open fails,
diagnostics tells the web server down but no detai

[2020-01-06 22:51] PatrickFarley commented on #44290
@ww451575464 I can't reproduce this error. Have you tried analyzing a local image?

[2020-01-06 22:52] MartinJaffer-MSFT commented on #45663
Hello @satyady  and thank you for your question.  `Virtual` is not one of the supported datatypes at this time.  According to [CRM documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.xrm.sdk.metadata.attributetypecode?view=dynamics-general-ce-9#Microsoft_Xrm_Sdk_Metadata_AttributeTypeCode_Virtual), `Virtual` is "An attribute that is created by the system at run time."
As the type

[2020-01-06 22:58] MarileeTurscak-MSFT commented on #45534
"500 - Internal Server Error" is very generic error and troubleshooting depends on the platform.

Most likely there is something missing in the OutputClaims, ContentDefinition, or CryptographicKeys. I would recommend checking your work against the B2C [starter packs](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack) on Github.

I would  also recommend posting your qu

[2020-01-06 22:58] MarileeTurscak-MSFT commented on #45534
@jainlavish  We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2020-01-06 22:58] #45534 closed

[2020-01-06 22:59] mike-urnun-msft commented on #32754
@pelithne Sorry for the long silence here. I've submitted a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100235) that clears up the terminology mixups and updates the screenshots to reflect current UI. Once the PR is reviewed and merged, the changes should be live shortly thereafter.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2020-01-06 22:59] #32754 closed

[2020-01-06 23:04] dcbrown16 commented on #45108
@rboucher oof, I see. At my window size the first two columns are exactly displayed and there isn't any indication of there being more columns until you get to the end of the page. Can anything be done to improve this? Scroll bar at the top, or maybe splitting the tables by provider?

[2020-01-06 23:05] PatrickFarley commented on #44409
Thanks @Rodrigossz , I'll fix the link format.
#please-close

[2020-01-06 23:05] #44409 closed

[2020-01-06 23:12] cogran commented on #29110
Hi @vinynigam - I apologize I missed the notification for this update. I could have sworn that this document once referred to NPM as a underlying dependency for traffic analytics and that has been updated and clarified, removed, or I was originally mistaken. Either way, the current state of the document is clear and explicitly states the requirements. This thread can be closed. Thank you 👍

[2020-01-06 23:12] #29110 closed

[2020-01-06 23:13] crisher0219 commented on #37499
@MartinJaffer-MSFT  Thank you!

[2020-01-06 23:17] Karishma-Tiwari-MSFT commented on #45664
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-06 23:21] Karishma-Tiwari-MSFT commented on #45672
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-06 23:22] MarileeTurscak-MSFT commented on #45607
Thanks! I made a pull request to update the location. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100240

[2020-01-06 23:22] AgSync-Aaron commented on #41790
@SnehaAgrawal-MSFT I was hoping you could provide a link to the documentation you refer to.

I found [this](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#web-app-for-containers)...

It's not very specific. Do you know if there any examples (asp.net or otherwise) on how to do that?

[2020-01-06 23:24] #45607 closed

[2020-01-06 23:24] sfiguemsft commented on #44327
#please-close

[2020-01-06 23:24] #44327 closed

[2020-01-06 23:26] normesta commented on #45039
Thanks @hurtn, Can you please help me understand which parts of this page are not accurate? Thx!

[2020-01-06 23:29] rohitnayakmsft commented on #45566
@dxkaufman At present the IP based firewall on SQL Database is simply and ACL based on IP address ranges entered in the rules. There are no plans  on adding functionality to "Allow IPs from subscription x,y,z" or "Allow Web Apps/PBI" etc. Long term plan is for most ( if not all) Azure services to move to using Private Link and thus taking away the need for having to allow specific Azure IP's or to

[2020-01-06 23:36] Karishma-Tiwari-MSFT commented on #44395
@ChristianMontoya Did you hear back on this issue? Let me know. Thanks :)

[2020-01-06 23:39] Karishma-Tiwari-MSFT commented on #44735
@jluk @jnoller need your inputs on this customer's query. Thanks, :)

[2020-01-06 23:40] Karishma-Tiwari-MSFT commented on #44940
@masnider Is this something you can share your inputs on? Thanks :)

[2020-01-06 23:42] Karishma-Tiwari-MSFT commented on #45580
@axayjo Can you please share your insights on the customer's question. Thanks. :)

[2020-01-06 23:43] PatrickFarley commented on #44565
I'll try to get in touch with a dev who can explain the new ONNX model behavior

[2020-01-06 23:58] dxkaufman commented on #45566
Is private link available for Azure Functions and Azure SQL Server yet?

Dylan Kaufman    |    dkaufman@darwincg.com    |     Darwin Consulting Group
<http://www.darwincg.com>    |    (510) 599-2095

I am riding in & fundraising for the AIDS/LifeCycle
<http://www.tofighthiv.org/goto/dkaufman> in June; will you support me and
this important cause?
<http://www.tofighthiv.org/goto/dkaufman>

On Mon,

[2020-01-07 00:05] MarileeTurscak-MSFT commented on #45673
@cwester72 please include a link to the document you are following so that we can better assist you. If this is a product question rather than documentation feedback, the best place to post this is in Microsoft Q&A, which we monitor consistently. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-01-07 00:13] MarileeTurscak-MSFT commented on #45677
Thanks. I made a pull request to update these. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100247

@rwike77 please confirm

[2020-01-07 00:13] #45677 closed

[2020-01-07 00:15] MarileeTurscak-MSFT commented on #45662
@colinweiner
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-07 00:19] MarileeTurscak-MSFT commented on #45662
@colinweiner thanks! I made a pull request to remove this link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100250

Looks like that whitepaper is obsolete. The only existing one I could find was this one. https://download.microsoft.com/download/1/6/0/160216AA-8445-480B-B60F-5C8EC8067FCA/WindowsAzure-SecurityPrivacyCompliance.pdf

[2020-01-07 00:19] MarileeTurscak-MSFT commented on #45662
Closing this out. Thanks for catching this!

[2020-01-07 00:19] #45662 closed

[2020-01-07 00:30] ecfan commented on #45210
Hi @DixitArora-MSFT & @v-hakob,

I asked PM about this issue and learned that when you have an existing ISE, any newly available managed connectors that support ISE don't automatically appear in the connector picker on the designer. To make the new ISE connectors available in the picker, you have to manually add them to your ISE. I'll create a work item to make this scenario clearer.

How to add n

[2020-01-07 00:32] AgSync-Aaron commented on #41790
I was able to solve the dynamic port issue by making this my entrypoint in my docker file
`ENTRYPOINT dotnet ./app.dll --urls="http://0.0.0.0:${PORT:-80}"`
as of this writing the app service injects the port as an environment variable when starting the docker image
[code]

[2020-01-07 00:32] MarileeTurscak-MSFT commented on #45584
@CarolinaMiC use the filter button at the top and filter by Group type.

![image](https://user-images.githubusercontent.com/13383753/71858859-98d22c00-30a1-11ea-8be7-7200b2a413b3.png)

Then select the group type.

![image](https://user-images.githubusercontent.com/13383753/71858880-b0111980-30a1-11ea-9915-89300e8a9897.png)

If you need more granular filtering you can make a request for this in Use

[2020-01-07 00:33] MarileeTurscak-MSFT commented on #45584
We will proceed to close this thread. If you have further questions feel free to reach out on [Microsoft Q&A ](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) or send me an email (on my profile) and we will gladly continue the discussion.

[2020-01-07 00:33] #45584 closed

[2020-01-07 00:34] dcbrown16 commented on #45210
Thanks @ecfan ! We'll let the customer know that they will have to do that once the new connector becomes available. Having that documented will be a big help for the future!

[2020-01-07 00:36] ecfan commented on #45210
@dcbrown16: I believe the connector is available, you just have to add and deploy the connector to your ISE. Thanks!

[2020-01-07 00:47] msftjayongg opened #45686 "The "Trial/Transact" column is confusing"
The Trial/Transact column for AppSource "Yes (PowerBI/Dynamics)".  Does this mean that AppSource only allows you to Transact PowerBI/Dynamics apps? That's how I interpreted it, but in AppSource I was able to pick a Web App and I see the "Get it Now" button. So I guess I interpreted it wrong. How should I read this column?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-07 00:47] rwike77 commented on #43673
@jkrollin, sorry you're having difficulties.  I notice that you left your comment in our v1 content.  If you are working on new applications, I recommend you take a look at our [v2 application scenarios content](https://docs.microsoft.com/azure/active-directory/develop/authentication-flows-app-scenarios#application-scenarios) instead.  v1 is going into maintainence and there is no new feature deve

[2020-01-07 00:48] dbrennan commented on #38914
I'm facing this issue as well and it's clear as mud as to which IPs need to be whitelisted. Plus, this is opening up our vault to services that we don't control so I'm pretty unhappy with this solution.

[2020-01-07 00:57] dbrennan commented on #38914
And by the way, the articles referenced above say the IP ranges can change weekly. Suggesting we update the firewall weekly and even try to keep track of the changes is pretty much ridiculous. I'm surprised this issue has been closed by the overzealous MS rep.

[2020-01-07 01:09] fujitani-hiromu-fixer commented on #45647
@DixitArora-MSFT
Please refer to this URL.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported

[2020-01-07 01:19] j-martens commented on #45373
#reassign:@blackmist

[2020-01-07 01:29] KrishnaG-MSFT commented on #45679
@stdistef Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-07 01:30] KrishnaG-MSFT commented on #45686
@msftjayongg Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-07 01:36] KrishnaG-MSFT commented on #45668
@deepweb12 girlnonymous ? Is this a test or spam ? To better assist you, could you please share the Azure document link / URL for which this feedback is applicable to and also provide more details on your query / scenario ?

[2020-01-07 01:41] XiaofuHuang commented on #45393
@NavtejSaini-MSFT Thank you for your help.

[2020-01-07 01:41] #45611 closed

[2020-01-07 01:45] anavinahar commented on #43168
In zonal deployments, it is located in the same zone as specified by the customer.

[2020-01-07 01:50] MartinJaffer-MSFT commented on #45546
Thank you for bringing this to my attention.  I will escalate the issue internally.

[2020-01-07 01:50] Karishma-Tiwari-MSFT commented on #45658
I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-07 01:50] #45658 closed

[2020-01-07 01:51] dcbrown16 commented on #43168
Thanks @anavinahar, so in non-zonal deployments there is no way to tell, right?

[2020-01-07 02:10] PramodValavala-MSFT commented on #45537
@DigIntSys I've checked with the team internally and the attribute is not longer available/required. We have raised a PR to address this, which once merged should reflect in a couple of hours.

[2020-01-07 02:59] DixitArora-MSFT commented on #45669
Hi @tescales Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 03:00] DixitArora-MSFT commented on #45675
Hi @sharmamanish260979 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-07 03:02] DixitArora-MSFT commented on #45678
Hi @bnawijn Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-07 03:03] DixitArora-MSFT commented on #45682
Hi @m14cus Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 03:05] DixitArora-MSFT commented on #45645
@meethariprasad Just following up again in case missed the previous communication.

[2020-01-07 03:07] raghuureddy commented on #38706
Could you please update us on this?

[2020-01-07 03:19] ecfan commented on #17557
I created a work item to update the doc about which connector to use if you have a @hotmail.com account.

[2020-01-07 03:23] jainlavish commented on #45534
Thanks for the suggestion Marilee, I compared the base policy against the starter pack and noticed an orchestration step was missing in the SignupSignin User Journey which i had removed when i was working with LocalAccounts  only. Once i added it back it worked.

[2020-01-07 03:40] CarolinaMiC commented on #45584
That's what I did. However, after filtering the downloaded groups included all groups...security, mail enabled security and Office 365. I will try again tomorrow to verify. On Jan 6, 2020 6:32 PM, Marilee Turscak - MSFT <notifications@github.com> wrote:@CarolinaMiC use the filter button at the top and filter by Group type.

Then select the group type.

If you need more granular filtering you can m

[2020-01-07 04:07] cogran opened #45688 "Is this feature still in preview?"
Can we confirm if this is still public preview?
There doesn't appear to have any notices for this feature but the page also hasn't been updated since Dec 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fbc22e5-2a60-2ca2-7ddb-41e0ef57a88b
* Version Independent ID: 11e198df-08d0-8233-2831-4707464679a6
* Content: [V

[2020-01-07 04:13] DixitArora-MSFT commented on #45683
Hi @NathanKinney Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 04:37] stevestein commented on #43629
Thanks

#please-close

[2020-01-07 04:37] #43629 closed

[2020-01-07 04:38] RDavis3000 commented on #28395
Im having this too when trying to set up SendGrid via the portal

[2020-01-07 04:40] dcbrown16 commented on #45210
@ecfan we were able to add the File System ISE connector via the method you indicated. We have a couple of questions regarding this (feel free to loop us in to emails, v-dibr and v-hakob internally).
1. @DixitArora-MSFT said the PG is working on enabling the ISE variant. Should we take that to mean that they are working on making it available without having to go through the steps to add it manual

[2020-01-07 05:08] neeleshray-msft commented on #45648
@bobnerland
The same has been mentioned in this document in the **[Licensing Section](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-deployment-plan#licensing-requirements)** as well as this other detailed [document](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/subscription-requirements).

Let us know if you need

[2020-01-07 05:10] neeleshray-msft commented on #44943
@mmacy Could this be checked into ?

[2020-01-07 05:17] sbell303303 opened #45689 "DNS and split tunnel configuration"
How do you configure split tunneling for DNS in the client?  Right now it appears that all DNS resolution is taking place over the tunnel and it is ignoring the local DNS adapter settings for other requests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b6

[2020-01-07 05:20] kazshi opened #45690 "Restoring a deleted database to an earlier point in time through the Azure portal?"
"Deleted database restore" section - "You can restore a deleted database to the deletion time, or an earlier point in time, on the same SQL Database server or the same managed instance. You can accomplish this through the Azure portal,..."

However, looks like the Portal only offers the ability to restore to the deletion date. Please fix if it's true.
Thanks.

---
#### Document Details

⚠ *Do not

[2020-01-07 05:20] jsrimr commented on #45064
I got the data url("https://automldemods.blob.core.windows.net/datasets/PlayaEvents2016,_1.6MB,_3.4k-rows.cleaned.2.tsv") from (https://docs.microsoft.com/ko-kr/azure/machine-learning/service/how-to-configure-auto-train#feedback)

Since this is a public page, if the provided data link is not public, I think it should be changed to public. Thx!

[code]

[2020-01-07 05:22] john-louden opened #45691 "Missing Step"
Hi,

Sorry nit picking here. Under Enabling Password protection the steps listed to get to the right portal blade are  ".. Azure Active Directory, Authentication methods, then Password Protection."

It should be (and this matches the screen shot) ".. Azure Active Directory, Security, Authentication methods, then Password Protection."

Security is missing from the steps.

---
#### Document Details

[2020-01-07 05:43] azhar787 commented on #44283
@KrishnaG-MSFT  I have reached out to support,but alas,do not have any concrete answers yet from the team

[2020-01-07 05:45] RohitMungi-MSFT commented on #45530
@dem108 We hope the above information helped you regarding the two recognition models.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-07 05:45] #45530 closed

[2020-01-07 05:53] msrini-MSFT commented on #45688
@cogran , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-07 05:59] oo2316oo opened #45692 "can not use data-brick for automl"
May i know how to choose databrick for automl experiment on portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b4be5-1978-ad95-4c40-30e8b52e8cb7
* Version Independent ID: eb8b1d57-70c6-7cf0-2ebd-a43dede30bb9
* Content: [What are compute targets - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/mac

[2020-01-07 06:00] msrini-MSFT commented on #45541
@garddolau , Please tag me if you have any further questions.

[2020-01-07 06:00] #45541 closed

[2020-01-07 06:01] msrini-MSFT commented on #45557
@mrklean , Please tag me if you have any further questions.

[2020-01-07 06:01] #45557 closed

[2020-01-07 06:01] #45537 closed

[2020-01-07 06:01] dcbrown16 opened #45693 "On-demand backup policy retention behavior"
What is the "On-demand backup policy retention behavior" section talking about? When you click "Back Up Now" it just lets you specify how long to retain the backup using a calendar. I don't know where all this default retention stuff would apply. Is it from an older version of the agent?
It seems to me the "Run an on-demand backup" section should be updated to mention choosing the retention and th

[2020-01-07 06:02] dcbrown16 commented on #45693
![image](https://user-images.githubusercontent.com/34466884/71872068-2462b180-30d0-11ea-90f8-4b3f59db719b.png)
screenshot of backup retention

[2020-01-07 06:03] MySecondLife commented on #45121
Thanks for your reply, will keep tracking on that issue.

[2020-01-07 06:09] justinbhopper commented on #6788
As @faldeland suggested, uninstalling and then deleting the remaining folder/files of "C:\Program Files\Azure Cosmos DB Emulator" fixed the issue for me.

[2020-01-07 06:17] kelsosharp opened #45694 "Script error creating credentials when running init"
Validation passed, but init script is not able to create credentials. Error message:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDep

[2020-01-07 06:18] SubhashVasarapu-MSFT commented on #45689
@sbell303303 , We are looking into this query and will update you as soon as possible.

[2020-01-07 06:22] KrishnaG-MSFT commented on #45694
@kelsosharp Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-07 06:23] neeleshray-msft commented on #45691
@john-louden Thanks for reaching out. We will review and update as appropriate.

[2020-01-07 06:24] KrishnaG-MSFT commented on #45693
@dcbrown16 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-07 06:24] SwathiDhanwada-MSFT commented on #45065
@nullstatement @tfitzmac Here is the information I have received from Engineering team. As of now , there is no way to pin the list of resources with filters set. However, Engineering team has a work item planned for later this semester to provide this functionality.

[2020-01-07 06:27] RohitMungi-MSFT commented on #45692
@oo2316oo Here are the [steps ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-your-first-pipeline#databricks)to connect to your databricks workspace as compute target for an ML pipeline using the SDK.
You can also follow this sample [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-p

[2020-01-07 06:32] kspoojary commented on #44123
We can publish events to the topic, but while adding subscription it fails with 403 forbidden error, we can create subscription when function app is integrated with vnet.

[2020-01-07 06:40] SwathiDhanwada-MSFT commented on #45174
@ankitag2013 Our engineering team the issue in backlog .As of now there is no current ETA.

As there are no further document changes, we will close the issue for now. If you have further questions, please revert and we will be very glad to assist you.

[2020-01-07 06:40] #45174 closed

[2020-01-07 06:41] fujitani-hiromu-fixer commented on #45647
@rboucher
This is the response from the Azure monitor API.
Is it a metric that does not currently exist?

[2020-01-07 06:43] SwathiDhanwada-MSFT commented on #45550
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-07 06:43] #45550 closed

[2020-01-07 06:56] navinjk opened #45695 "Azure Automation Start/Stop VM"
After i enabled the Solution i see a list of Schedules and Wanted to Know more about this Schedules.
I have a Start /Stop VM Schedule every Weekday M-F 5:00 AM PT to 8:00 PM PT setup. Please provide details as i cannot understand the below 3 schedules and why are they setup.

Schedule_AutoStop_CreateAlert_Parent - Status Off
Sequenced-StartVM -Status Off
Sequenced StopVM - Status Off

---
#### Doc

[2020-01-07 06:57] SadiqhAhmed-MSFT commented on #45693
@dcurwin FYI

[2020-01-07 06:57] rambabu0063 commented on #45625
Hi Team,
any update on the above issue

[2020-01-07 06:59] jakaruna-MSFT commented on #45188
@AjKundnani
I will close this out for now. If you need additional help please open a new issue.

[2020-01-07 06:59] #45188 closed

[2020-01-07 07:02] SwathiDhanwada-MSFT commented on #45695
@navinjk Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-07 07:31] alohaninja opened #45696 "OpenCensus is now OpenTelemetry"
You should update the references from [OpenCensus](https://opencensus.io/) to [OpenTelemetry](https://opentelemetry.io/) now - it's being rebranded.

GitHub: https://github.com/open-telemetry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c2728c-5421-dd97-d949-13be33619282
* Version Independent ID: bc9ef390-bbe8-c127