[2019-04-29 09:34] ChiragMishra-MSFT commented on #30255
@subashsivaji That makes sense. I have made a pull request adding a note about the default format and you should see it soon in the official doc.

[2019-04-29 09:36] SadiqhAhmed-MSFT commented on #30099
@DCtheGeek Any insights on the above?

[2019-04-29 09:36] KetanChawda-MSFT commented on #29863
I have reopened this issue. @mikebudzynski need your assistance here.

[2019-04-29 09:40] SadiqhAhmed-MSFT commented on #30256
@tinod Thanks for the comments! We can have this reviewed by the content author and update as appropriate.

[2019-04-29 09:41] jakaruna-MSFT commented on #30144
For the community,
This issue happened because kured migrated the docker images from quay.io to docker.io.
The 1.1.0 release of kured is still pointing to the image in quay.io. Please follow the workround mentioned below.

If kured deployment through yaml fails with the command `kubectl apply -f https://github.com/weaveworks/kured/releases/download/1.1.0/kured-1.1.0.yaml`   under "[Deploy kured in

[2019-04-29 09:51] wpitallo commented on #30218
Thanks, I understand the 429 error code and how to resolve it, did you see the value of the request charge tho? Surely this cannot be possible?

[2019-04-29 09:55] jakaruna-MSFT commented on #30052
@Daya-Patil Thanks for the contribution.
@cynthn Please validate the PR.

[2019-04-29 10:00] bertrandpons commented on #29901
@himanshusinha-msft I have the following pipeline:
![image](https://user-images.githubusercontent.com/26971151/56888950-8cf38c00-6a75-11e9-8573-d34f4cad15db.png)

If there is no file in input (detect childitems in blob storage), it fails.
If there are files in input but none of the type defined in the filter, the pipeline does not fail but do nothing at each step, remaining green.

Therefore, plea

[2019-04-29 10:21] RohitMungi-MSFT commented on #30139
@Yueying-Liu Could you please help to provide examples for chinese characters?

[2019-04-29 10:37] RohitMungi-MSFT commented on #30154
@visuazn At what step are you seeing this error? It looks like this error could be because the full path to the image is not accessible. Please check this error posted from previous user [here](https://stackoverflow.com/questions/30506126/open-cv-error-215-scn-3-scn-4-in-function-cvtcolor).

[2019-04-29 10:46] mtwelve opened #30260 "Clarity over supporting NTFS ACL with Azure File Sync and Azure Files SMB ACL Access (Preview Feature)"
Hello,

There is a question in this article "Does Azure File Sync preserve directory/file level NTFS ACLs along with data stored in Azure Files?" which is answered with a yes they are maintained but no they cannot be evaluated on access.

I appreciate that it is still in preview (since Sept 2018) but Azure Files has supported NTFS ACLs and using Azure AD credentials to have them evaluated when acc

[2019-04-29 10:58] KalyanChanumolu-MSFT commented on #29868
@SumitMeh We havent heard from you in a while.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-29 10:58] #29868 closed

[2019-04-29 11:10] angoyal-msft commented on #30044
@andersonmolter1 Could you please try the updated command, I believe that was the issue :

[code]

[2019-04-29 11:17] walkersa commented on #30083
Sure, it was this spatial anchors example - https://github.com/Azure/azure-spatial-anchors-samples/

[2019-04-29 11:31] JGrusa opened #30261 "manually enabled AcceleratedNetworking via PS"
Hello all, currently I do have a Windows 2016 Datacenter edt. with Standard DS2 v2 (2 vcpus, 7 GB memory) SKU.
As per this Article I enabled AcceleratedNetworking.
Everything is fine, the additional Network Adapter Mellanox ConnectX-3 Virtual Function Ethernet Adapter
appears in Device Manager. So far so good.
But I also receive following Events thrown:
DP-SRV1	122	Warning	mlx4_bus	System	4/29/201

[2019-04-29 11:38] angoyal-msft commented on #30258
@patrykbuzowicz
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-04-29 11:48] pgoldman5699 commented on #9538
@twooley

Hi Tessa:

I've been tasked with looking at issues older than 90 days. Is this one ready to be closed now?

Thanks,
Paul Goldman
Sr Technical Writer

[2019-04-29 12:04] ManojReddy-MSFT commented on #30258
@patrykbuzowicz AFAIK "sqlcmd" does not work with VM identity. I am assigning this to the author to validate and confirm the same.

[2019-04-29 12:07] patrykbuzowicz commented on #30258
If it doesn't, then we might want to update the document.

And, is there any other way to authenticate the user in my setup without passing credentials explicitly?

[2019-04-29 12:09] paulio commented on #25638
Seeing the same problems too. It used to work on 4 endpoints and now all 4 have stopped serving suggestions.

[2019-04-29 12:18] SumanthMarigowda-MSFT commented on #30260
@Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 12:19] SumanthMarigowda-MSFT commented on #30261
@JGrusa Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 12:19] pgoldman5699 commented on #9726
@conceptdev
Hi Craig: I've been tasked with looking at issues older than 90 days. Is this ready to be closed now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 12:22] pauska commented on #24858
@jeevansd Hi. It's now well past the end of previous week. When is the plugin available?

[2019-04-29 12:25] pgoldman5699 commented on #9727
@zivraf
Hi Zivraf: I've been tasked with looking at issues older than 90 days. Is this ready to be closed now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 12:27] pgoldman5699 commented on #9736
@johnkemnetz
Hi John: I've been tasked with looking at issues older than 90 days. Is this one ready to be closed now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 12:28] djpirra opened #30264 "weekDays setting is Case Sensitive"
The values for the weekDays parameter are case sensitive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-274f-c2eb-40a04748296c
* Content: [Pipeline execution and triggers in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-facto

[2019-04-29 12:31] SubhashVasarapu-MSFT commented on #30041
@cogran , We can create outbound rules for only standard public load balancer. If you are trying to create outbound rules for basic loadbalancer or standard internal loadbalancer then you will face this error,
![image](https://user-images.githubusercontent.com/44890829/56895855-d3fa7500-6aa7-11e9-9733-d263792e2c27.png)
Please let us know what type of loadbalancer you are using for creating outboun

[2019-04-29 12:37] mrdfuse opened #30265 "Examples on creating the users need to updated with new Portal UI being live for App Registrations"
As the title says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-fcb4-f069afdd5b0c
* Content: [Integrate Azure Active Directory with Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration#feedback)
* Co

[2019-04-29 12:39] pgoldman5699 commented on #9754
@mrbullwinkle
 Hi Michael: I've been tasked with looking at issues older than 90 days. Is this one ready to be closed now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 12:41] jwargo commented on #16461
@JPSiller thanks.

[2019-04-29 12:47] pgoldman5699 commented on #9798
@vladvino
Hi Vlad:
I've been tasked with looking at issues older than 90 days. Is this one ready to be closed now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 12:49] mrdfuse commented on #30265
For some reason the server app was greyed out when trying to add it to the client app when using the new UI. Luckily the legacy view is still available.

[2019-04-29 12:50] robertwood62 opened #30266 "Examples needed"
Could you update this content to provide some better examples.  Perhaps use a common industry such as travel or banking or retail and provide some better scenarios.  I'm still struggling to see how I'd use these vs. entities + synonyms.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3e434a-13f9-07b8-294a-34971a205011

[2019-04-29 12:56] pgoldman5699 commented on #9840
@novino

Hi Novino: I've been tasked with looking at issues older than 90 days. Is this one ready to be closed out now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 12:57] jwargo commented on #30228
@trichardson01-kellogg I'm not sure what you're asking. Are you asking if you can use FCM to send notifications to iOS devices?

[2019-04-29 12:58] pgoldman5699 commented on #9897
@RenaShahMSFT
Hi Rena: I've been tasked with looking at issues older than 90 days. Is this one ready to be closed out now?
Thanks,
Paul Goldman
Sr. Technical Writer

[2019-04-29 13:00] pgoldman5699 commented on #9900
@johnkemnetz
Hi John: I've been tasked with looking at issues older than 90 days. Is this one ready to be closed out now?
Thanks,
Paul Goldman

[2019-04-29 13:09] IslayJunkie commented on #30098
Looks like almost all of the images for Analysis services have the same issue

[2019-04-29 13:14] sweetmoniker commented on #30162
I am trying to create an app in the portal. I previously had a function app running Python, but it got deleted. $#%*! Now I'm trying to recreate it, but I don't see how, and I don't remember very well what I did a year and a half ago.

[2019-04-29 13:24] Jez85 commented on #29895
@ChristianMontoya @Karishma-Tiwari-MSFT
Any updates on this issue?
Thanks!

[2019-04-29 13:36] ravindra-gaikawad commented on #28927
Refer this link.
[Log filtering](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#log-filtering)

Here logging is well explained in detail.
Also go thorugh sample JSON snippets and explaination given below that snippets

[2019-04-29 13:36] cwester72 commented on #30181
Thank you!

You can close this.

[2019-04-29 13:43] daoenterprise opened #30267 "No option to select SQL VM as image"
When creating a VM, current settings for Azure does not allow selection of a free SQL Server image. This page appears to be obsolete and should be updated/deleted according to current Azure features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bc65042-b759-8d79-dae9-1f519eb8c061
* Version Independent ID: 1ef8390e-c

[2019-04-29 13:57] sc-bperry commented on #25476
@hmayer1980, I'll try my best to explain this from my experience with setting parameters for triggers, although, I have sympathy for the technical writers here, because the concept is hard to summarize. First, forget about that paragraph about arrays for now because it is not referring to the "leaf" parameter data types that you're working on here. For your minutes and and hours, those are the "le

[2019-04-29 14:03] orbus-dkreivenas opened #30269 "Hard Delete and User Provisioning is unclear"
According to the article: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/use-scim-to-provision-users-and-groups it is unclear what is the actual behavior when performing a Hard Delete of Azure Active Directory Users and what request is raised to the registered SCIM target service. We assume that a DELETE request should be raised, but we do not receive such request.

Currently,

[2019-04-29 14:07] frenchy237 opened #30270 "Unclaim VM"
Although this doc shows that using the DevTestLabs User Role you can 'unclaim' a VM, the built in role does not support this. The role only allows: Read VM, Claim VM, Get RDP File, and List Applicable Schedules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eca51f25-215d-41aa-9ca9-00b5bc888594
* Version Independent ID

[2019-04-29 14:10] frenchy237 opened #30271 "DevTest Labs User"
Although this doc shows that using the DevTestLabs User Role you can shutdown, restart, start, and connect to VM, the built in role does not support this. The role only allows: Read VM, Claim VM, Get RDP File, and List Applicable Schedules. You also cannot 'unclaim' a VM which seems wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-04-29 14:13] trichardson01-kellogg commented on #30228
@jwargo  That is correct. Can FCM be used to send notification to iOS devices. All the tutorials I am finding references using APN.

[2019-04-29 14:27] sshorkey opened #30272 "Powershell for install servicemap/infrastructure insights - "Cannot find path""
I'm attempting to follow the deployment instructions directly from this page, and running into an error where I cannot run the template deployment because PowerShell thinks the file I created in the previous step does not exist:

New-AzResourceGroupDeployment : Cannot retrieve the dynamic parameters for the cmdlet. Cannot find path 'Azure:/installsolutionsforvminsights.json' because it does notexi

[2019-04-29 14:34] SumanthMarigowda-MSFT commented on #30264
@djpirra Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:35] trichardson01-kellogg commented on #30228
@jwargo If I already have FCM configured in Azure Notification Hub, do I also need to following the APNS steps at https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started#connect-your-app-to-the-notification-hub

[2019-04-29 14:36] SumanthMarigowda-MSFT commented on #30265
@mrdfuse Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:38] SumanthMarigowda-MSFT commented on #30266
@robertwood62 Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:38] nabhishek commented on #21278
@dragan-bjelosevic yes, if your credentials are in AKV, it can be referenced by self-hosted IR as well. Thanks for your feedback. We will explicitly call this out in the document.

[2019-04-29 14:39] SumanthMarigowda-MSFT commented on #30267
@daoenterprise Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:40] KetanChawda-MSFT commented on #30131
@mikebudzynski Can you please confirm this?

[2019-04-29 14:40] jwargo commented on #30228
@trichardson01-kellogg As I understand it you can use FCM to send notifications to iOS devices, but FCM then uses APNS to send it notifications the iOS devices. So you're adding an unneeded, unnecessary level of complexity to the process. Just use Notification Hubs to send notifications to Android users through FCM and iOS users through APNS. That's what ANH takes care of for you.

[2019-04-29 14:41] SumanthMarigowda-MSFT commented on #30270
@frenchy237 Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:44] SumanthMarigowda-MSFT commented on #30269
@orbus-dkreivenas Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in [Azure Community forum](https://azure.microsoft.com/en-us/support/community/) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your

[2019-04-29 14:47] SumanthMarigowda-MSFT commented on #30271
@frenchy237 Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:49] orbus-dkreivenas commented on #30269
I have updated the link to the correct url.

[2019-04-29 14:49] SumanthMarigowda-MSFT commented on #30272
@sshorkey Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-29 14:50] cephalin commented on #29730
@benjamin-goldman This is the correct documentation to use for web app for containers. Does something not work for you?

[2019-04-29 14:53] diberry commented on #25638
@paulio - please submit a user voice issue from the LUIS portal "General Inquiry through user voice" and include your LUIS app id.

[2019-04-29 15:11] ggailey777 commented on #30162
Try these options:
![image](https://user-images.githubusercontent.com/1388263/56906103-6c680980-6a56-11e9-8455-cdd5abd37423.png)

[2019-04-29 15:47] paulio commented on #25638
We have a support call logged I just wanted to comment because it seems like identical symptoms

[2019-04-29 15:58] #30022 closed

[2019-04-29 16:01] dixitsuneel commented on #29820
I see that both the tickets have been marked as closed and no answer has been provided. Can someone please at least provide the answer on the pricing for Wait, Until activity.

[2019-04-29 16:01] dixitsuneel commented on #29820
Any update on this?

[2019-04-29 16:05] MartinJaffer-MSFT commented on #29970
As neither of us can get through this tutorial, could you please take a look, @basilhariri

[2019-04-29 16:14] ismatim commented on #18508
I got this error as well, my site is temporary hosted in `surge.sh` with no SSL configured. If I remove the `*` can't access to custom-ui.html. Also, I found out for certain users with the policy Sign-Up & Sign In: They are redirect to:
`https://domain.surge.sh/#error=server_error&error_description=AADB2C90047%3a+The+resource+%27https%3a%2f%2fcompriquotetest.blob.core.windows.net%2fhcb-ad-b2c%2fcu

[2019-04-29 16:21] dlepow commented on #30081
Doc update published.
#please-close

[2019-04-29 16:23] YutongTie-MSFT commented on #29913
@jlahteen Could you please send us an email to me at Azcommunity@microsoft.com? Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-29 16:23] #29913 closed

[2019-04-29 16:24] ChrisLopezUK opened #30279 "Brownfield Install"
This page is great if you are dealing with a greenfield install, but pretty tough to use if you are trying to use existing resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f20be92-7718-0629-e06a-78250c547f9a
* Version Independent ID: 2fdd52ab-6756-4e2c-4a48-3bf45f361310
* Content: [Configure SSL termination w

[2019-04-29 16:26] v-stepbe commented on #30188
Not that this topic has recently been rather extensively updated. The information cited by angoyal has been augmented and put in a table format.

[2019-04-29 16:26] YutongTie-MSFT commented on #29943
@steve-dille Hi, I have update a PR for that, you should see the change shortly. Thank you. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-29 16:26] #29943 closed

[2019-04-29 16:28] jeevansd commented on #24858
@pauska  Yes, it is ready. Currently this is on it way to the Microsoft Download Center. If you need this early then please reach out to our team SaaSApplicationIntegrations@service.microsoft.com

[2019-04-29 16:30] sweetmoniker commented on #30162
This seemed promising until below. Is there a reason Python support was withdrawn?
![image](https://user-images.githubusercontent.com/29126278/56911209-671cb600-6a7a-11e9-8145-edfd8742477f.png)

[2019-04-29 16:31] aljo-microsoft commented on #30034
@johnthcall
Your comment is in reference to ARM template parameters:

https://docs.microsoft.com/azure/azure-resource-manager/resource-group-authoring-templates#parameters

Specifically the following:

In the parameters section, add a certificateCommonName parameter:
[code]

You would not need them if you do not reference or use them.

@MicahMcKittrick-MSFT
#please-close

[2019-04-29 16:32] msebolt commented on #10483
@jstawski @oystein-devicedrive Thank you for the feedback.  This seems to have been addressed in https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/921.

Please comment below if this is still not resolved.

[2019-04-29 16:32] #10483 closed

[2019-04-29 16:32] delormej opened #30280 "az: error: unrecognized arguments: --network-policy azure"
azure-cli version 2.0.63 (currently latest) does not work with --network-policy resulting in the unrecognized arguments error.  Reverting to az cli 2.0.61 resolves this.  Easiest way to test this is with the microsoft/azure-cli:2.0.61 Docker container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0

[2019-04-29 16:34] SubhashVasarapu-MSFT commented on #30279
@ChrisLopezUK , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-29 16:34] ggailey777 commented on #30162
@sweetmoniker it's definitely add that we have the Python option available in the portal but then we don't let you do it 😦 I know for sure that [this article works](https://docs.microsoft.com/azure/azure-functions/functions-create-first-function-python), since I just revised it this weekend.

[2019-04-29 16:38] #30081 closed

[2019-04-29 16:38] #30034 closed

[2019-04-29 16:39] MicahMcKittrick-MSFT commented on #30280
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-29 16:41] sweetmoniker commented on #30162
Yes. That is precisely what I am trying to do, and what I did in the past. I just want to paste the code I already have developed into the console like I did before.

[2019-04-29 16:41] kobulloc-MSFT commented on #30270
@frenchy237 Which role are you referring to as the default role?  Following the documentation, I see both Owner and DevTest Labs User as being able to unclaim machines.

![image](https://user-images.githubusercontent.com/37556655/56911915-f7e79780-6a62-11e9-8d62-34b2eb3ad7ea.png)

[2019-04-29 16:42] sochan1 opened #30281 "ASR replication failures - Azure monitor"
how do we enable Azure monitor to monitor Recovery vaults and and pick replication failures?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04403549-f1f6-6335-ff08-a84bb6c79e75
* Version Independent ID: 91e5132d-ab4c-c4c9-0999-270eac76f587
* Content: [Monitor Azure Site Recovery](https://docs.microsoft.com/en-us/azure/

[2019-04-29 16:44] yegu-ms commented on #30193
@vikramdadwal Currently each key-value pair size is limited to 10KB. We may or may not stick to the same size at GA. We'll definitely document this at GA.

[2019-04-29 16:44] yegu-ms commented on #30193
#please-close

[2019-04-29 16:48] BharathNimmala-MSFT commented on #30193
Thank you @yegu-ms

@vikramdadwal - We are closing this issue for now, however if you have any further queries please tag us in your reply and we will be happy to take the conversation forward. Thanks

[2019-04-29 16:48] #30193 closed

[2019-04-29 16:48] joeljanke commented on #30022
Thanks!   Looks great!

[2019-04-29 16:51] delormej commented on #30280
I was able to get 2.0.63 to work after running this command again: az extension update --name aks-preview

Sorry, this can be closed.

[2019-04-29 16:51] Adam-Smith-MSFT commented on #30167
@jnsunkersett Was the suggestion above helpful ? Newer packages support and include newer features, including in terms of security as well, we recommend to use the latest versions when possible.

Thanks,
Adam

[2019-04-29 16:52] falmada opened #30283 "Azure Data Factory as Trusted Microsoft Service?"
Is there any plans around having ADF as a trusted Microsoft Service?

Now with the use of ADLS Gen 2, this should be consider. Currently having a hard time getting that to work as there is no outbound IP associated to ADF self-hosted IRs, and ADF as a service is not trusted by default as per above list.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-04-29 16:53] MicahMcKittrick-MSFT commented on #30280
Thanks for the update @delormej

Glad to hear you got it working.

[2019-04-29 16:53] #30280 closed

[2019-04-29 16:59] msebolt commented on #10482
@TomShinder  Thank you, the article has been edited to address your concerns.

@vindupuri Please see https://docs.microsoft.com/rest/api/apimanagement/region/listbyservice.

If there are still issues, please comment below.

[2019-04-29 16:59] #10482 closed

[2019-04-29 17:00] ggailey777 commented on #30162
It's possible that we had that functionality earlier and removed it. Since Python support is still in preview, stuff like that can happen.
In the portal, if you click **New Function**, you can then choose either the VS Code or command-line path.
![image](https://user-images.githubusercontent.com/1388263/56912851-21a1be00-6a65-11e9-8c9a-f1b021e32537.png)
![image](https://user-images.githubuserconte

[2019-04-29 17:07] VedAustin commented on #30202
@ggailey777 : Hmm .. when I install via brew the latest version available is 2.6.1048. How do I upgrade to the latest version?

[2019-04-29 17:09] normesta commented on #23300
Thank you for letting us know @JorgeCupiV !

[2019-04-29 17:09] normesta commented on #23300
#please-close

[2019-04-29 17:11] aljo-microsoft commented on #25098
@wasabii

You asked:

"why only one SRV record is resolved for a service running on multiple nodes"

and I provided content that articulates:

For stateful services you used named partitions with DNS Service to provision distinct DNS resolvable names for each named partition. For stateless, its distinct per named application instance, so make as many named instances as you need distinct records fo

[2019-04-29 17:12] CeciAc opened #30284 "The resource page address is incorrect: https://<app_name>.scm.azurewebsites.net/ZipDeployUI"
@haohuancheng commented on [Sun Apr 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/417)

我更换了 &lt;app_name&gt;后，这个地址还是不能访问。说 zipdeployui这个位置不对。前面地址可以访问。但不是可以提交zip的网页，所以无法继续学习提交网站zip文件。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [创建 No

[2019-04-29 17:12] CeciAc opened #30285 "资源网页地址不对 ： https://<app_name>.scm.azurewebsites.net/ZipDeployUI"
@haohuancheng commented on [Sun Apr 28 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/417)

我更换了 &lt;app_name&gt;后，这个地址还是不能访问。说 zipdeployui这个位置不对。前面地址可以访问。但不是可以提交zip的网页，所以无法继续学习提交网站zip文件。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [创建 No

[2019-04-29 17:12] frenchy237 commented on #30270
If you only have the DevTest User role assigned, you will see the "unclaim"
button as shown in your screenshot, but it will fail when you go to unclaim
it. When you go into the devlab, then into IAM, and view the permissions
you can see that unclaim is not selected. I've had to create a custom azure
role to get around this, but just wanted to let you know

[image: image.png]

On Mon, Apr 29, 2019

[2019-04-29 17:13] CeciAc commented on #30284
Hi team,
I'm moving this here since the user is reporting the example is incorrect:

Rough translation:

[2019-04-29 17:17] kobulloc-MSFT commented on #30270
@frenchy237 You are correct, this is a bug.  Thank you very much for bringing this to our attention!  We've logged this and will address it as quickly as possible.  Thank you again for your feedback.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-29 17:17] #30270 closed

[2019-04-29 17:19] veyalla commented on #30166
@saifuddin123 Adding parent/child relationship is in the transparent gw docs here: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway#enabling-extended-offline-operation-preview

Offline capabilities depend on your scenario and architecture. If you use the protocol translation model with a custom module, whether or not it can function offline is dependent on that mod

[2019-04-29 17:21] usavilaje opened #30287 "Best Practices"
Can you please update to specify which Best Practices for ADLS Gen1 apply ONLY for Gen1, and which Best Practices apply for BOTH Gen1 & Gen2.  Best Practices are helpful - but we need to understand where they apply.  Please respond.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 343e2c07-02f6-49df-f042-956442a61d69
* V

[2019-04-29 17:27] AjayKumar-MSFT commented on #30210
@avfc1982, Thanks for sharing more details on your scenario.
Since this channel is reserved for ‘Azure docs’ questions, we recommend posting technical questions on the [technical forum](https://developercommunity.visualstudio.com/spaces/8/index.html) where one of our specialized engineers in the subject or the Azure community members can provide the best possible answer to your scenario or questio

[2019-04-29 17:27] #30210 closed

[2019-04-29 17:28] SadiqhAhmed-MSFT commented on #30272
@MGoedtel Would you have insights on this query?

[2019-04-29 17:31] conceptdev commented on #9726
That error message is generally associated with authentication rather than push notifications. The Cordova authentication page does not contain all the details, but if you refer to the [Android authentication page](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-android-get-started-users#add-authentication-to-the-app) in step 6 it shows the complete XML snippet require

[2019-04-29 17:33] MicahMcKittrick-MSFT commented on #30225
@TurtleBeach in the doc you opened this issue for I do not see anything where it says

$sp = New-AzADServicePrincipal -DisplayName $servicePrincipalName -Password $secpassw

Are you referring to other docs as well? If so please provide the the links so I can investigate.

As per why we use Linux and not Windows in the examples, the majority of users run Linux containers not windows. So we want to

[2019-04-29 17:33] rodrigoamicrosoft commented on #29921
Hi @Vask006, I tried the query and WKT data on two different regions and could not repro this issue for a job running on compatibility level "1.2 (Preview)". The same job does fail if I change it to 1.1 or 1.0 compatibility level.
Is this message coming for an Azure job or Visual Studio Tools local test?

[2019-04-29 17:36] MicahMcKittrick-MSFT commented on #29488
@cwester72 seems @ChristianMontoya is out of office for a while.

At this point, I think we should have you engage with Support to investigate this further. Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for that support reques

[2019-04-29 17:36] #29488 closed

[2019-04-29 17:37] cogran commented on #30041
This was being attempted with a standard public load balancer per the published documentation.
Thank for you providing a JSON template. Was this in the pub docs and I just missed this?

I will see if this changes the results.

Corey Grant
Support Engineer | Microsoft Azure Networking
+1 (701) 281-3354 | corey.grant@microsoft.com <mailto:corey.grant@microsoft.com>
                      Working hour

[2019-04-29 17:38] SadiqhAhmed-MSFT commented on #30281
@sochan1 Thanks for the comment! I don't think it is supported today. See the list of supported metrics - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-near-real-time

[2019-04-29 17:39] msebolt commented on #10479
@po3yejlb

Favorite shortcuts fall into the KB range and Edge Favorites are now stored at %LocalAppData%\Packages\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\AC\MicrosoftEdge\User\Default\DataStore\Data\nouser1\120712-0049\DBStore\Spartan.edb, which seems to measure ~14 MB.  Themes also fall into the KB range.

With 30000 users this would be ~420000 MB (or 42 GB) on the network for a system-wide upgrade

[2019-04-29 17:39] #10479 closed

[2019-04-29 17:42] YutongTie-MSFT commented on #30028
@demongolem Hi Greg, I find there is a similar thread from you and Dina is working on it. So I am going to close this one, please keep eyes on #30029 .Thank you very much. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-29 17:42] #30028 closed

[2019-04-29 17:42] YutongTie-MSFT commented on #30029
@diberry Hi Dina, any update for this thread? Thank you.

[2019-04-29 17:45] jfcomst commented on #29916
@HeidiSteen Thank you for the update.  This is not time critical for us, but will be helpful in deciding on the correct approach for utilizing Azure Search going forward. Your effort to clarify this is very much appreciated.

[2019-04-29 17:46] MicahMcKittrick-MSFT commented on #29612
@rjmiller-revint @dragav is there any further action in this issue?

[2019-04-29 17:47] rjmiller-revint commented on #29612
I haven’t had a chance to try it again yet.  I’ll try to do that today.

From: Micah <notifications@github.com>
Sent: Monday, April 29, 2019 10:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Randy Miller <randy.miller@revintsolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can Service Fabric configuration settings be encrypted on a

[2019-04-29 17:48] himanshusinha-msft commented on #30283
Thanks @falmada  for the feedback , but unfortunately this place is only for the feedback for the document . We request you to please go the [product feedback](https://feedback.azure.com/forums/270578-data-factory/suggestions/19806988--azure-data-factory) and add your comments , so that it reached the correct team .

[2019-04-29 17:48] #30283 closed

[2019-04-29 17:50] aljo-microsoft commented on #30019
Current public doc content on SecretsCertificate manifest property:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-fabric-service-model-schema-complex-types.md#ApplicationManifestType-complextype

[code]

https://docs.microsoft.com/azure/service-fabric/service-fabric-service-model-schema-elements#secretscertificate-element

Which is understood to perform A

[2019-04-29 17:55] himanshusinha-msft commented on #30287
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-29 17:58] YutongTie-MSFT commented on #30213
@ksaye
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-29 17:58] #30213 closed

[2019-04-29 17:58] himanshusinha-msft commented on #30287
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-29 17:59] Grace-MacJones-MSFT commented on #30018
@kfollis Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-29 17:59] #30018 closed

[2019-04-29 18:04] RobertSpokane opened #30288 "Step 2 Enable"
From step 2: "If you already have an installation of Azure AD Connect, select the Change user sign-in page in Azure AD Connect..."

I can not find any such link (Change user sign-in page) in Azure AD Connect.

The page I am on is Dashboard &gt; My Org &gt; Azure AD Connect. There is no option to change user sign-in or any option that brings up the menu shown in your screenshot.

What I am doing wr

[2019-04-29 18:05] dragav commented on #30019
The doc on managing secrets is missing the reference to SecretsCertificate, and so is incomplete. Without referencing it in the application manifest, the user's app won't have access to the certificate (and so their encrypted secrets are inaccessible.) This applies in any environment, not only Azure.

The (auto-generated) document on the service model schema is not sufficient - users won't even kn

[2019-04-29 18:06] Grace-MacJones-MSFT commented on #30074
Hi @patriml, thanks for your patience. I believe this issue was addressed [here](https://github.com/Azure/azure-webjobs-sdk/issues/1924). Please check out this [doc](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started) for more info on getting started with the Azure WebJobs SDK  and this doc for [webjobs sdk 3.x](https://docs.microsoft.com/en-us/azure/azure-functions/durable

[2019-04-29 18:06] #30074 closed

[2019-04-29 18:06] robcamer opened #30289 "AddWordLevelTimestamps missing from Sppech To Text Batch REST API Swagger UI Endpoint"
The Speech To Text Batch API documentation mentions the availability of a new parameter, **AddWordLevelTimestamps**, but the parameter is not present in Swagger API endpoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2

[2019-04-29 18:09] sweetmoniker commented on #30162
Thanks for providing a work around, but I don't have time to trial-and-error this. I have the code from the app that was deleted. I just need to paste it into the console like I could before. This seems 1) odd and 2) like an oversight on Microsoft's part to remove this functionality to me. Shouldn't the goal be to provide more functionality over time, not less?

[2019-04-29 18:09] Alberto-Vega-MSFT commented on #29987
@maxiptah I escalated your StackOverflow thread internally. I am closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-29 18:09] #29987 closed

[2019-04-29 18:10] whiterosethorn commented on #23239
We're running into this with a customer subscription. We're trying to automate the creation of a Log Analytics workspace, but pergb2018 isn't valid. How do we work around this?

[2019-04-29 18:10] schellem commented on #30188
I missed that link but at a glance it doesn't help you get started with Redis Cache or suggest settings I might want\need in relation to using it for ASP.NET session.

[2019-04-29 18:15] ggailey777 commented on #30162
I apologize for the experience you are having with the Python preview. If your function was an HTTP trigger, probably the best thing to do is follow the quickstart and paste you Python code into the script file that's generated. If you had a different trigger, just select it instead of HTTPTrigger in `func new`.

+\ @asavaritayal so she is aware of this issue.

[2019-04-29 18:20] nconder opened #30291 "ALL ACS Policy Definitions should be in repo"
ASC Azure policies listed on this [page](https://docs.microsoft.com/en-us/azure/security-center/security-center-policy-definitions#available-security-policies) should have a corresponding GitHub repo for Azure Policy definitions json files for change tracking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c78cb0a-edf

[2019-04-29 18:21] himanshusinha-msft commented on #30153
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-29 18:22] grayjeremy opened #30292 "Use a service account instead of a user account"
How would I go about doing this with a service account so I can use my automation process to execute this?  I'm uncomfortable storing expiring user credentials (that may have MFA) in my automation scripts.

Also, is this a one time link?  Can we delete the user id's after I do this setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-04-29 18:22] YutongTie-MSFT commented on #30155
@Uasmi Yes you are right. Thank you for the catching. I will update the document and you should see it shortly.

[2019-04-29 18:23] Vask006 commented on #29921
Message coming from Azure job.

On Mon, 29 Apr 2019 at 12:34, Rodrigo Alves <notifications@github.com>
wrote:

[2019-04-29 18:26] natinimni commented on #29916
Hello @jfcomst ,

The only supported way to access Azure Search’s data-place APIS is using [key-based authentication](https://docs.microsoft.com/azure/search/search-security-overview#service-access-and-authentication), which enables two levels if access: Admin and Query. AAD authentication is not supported for data-place APIs.

Azure search does support MSI, i.e. search services can have system as

[2019-04-29 18:26] Grace-MacJones-MSFT commented on #29776
Hi @beachseeker I am not sure if you're referring to a specific step in this doc or something in the portal. however, from my understanding you need to leave the connection string set to the default name for the "Create a table API" in step 3 to work.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2019-04-29 18:26] #29776 closed

[2019-04-29 18:27] demongolem commented on #30028
Let me just say, I was look for concept of entity list it appears, it is just that it took me a long time find that.  So I do have what I need.  I still do not understand how I would user phrase list for my application, but entity list solves my problem

[2019-04-29 18:28] shashishailaj commented on #29782
@AvgustPol We have assigned this to the content team to check with engineering if they can provide more details in the sample with the help of engineering team .

@davidmu1 Could you please help engage the sample author from engineering who can incorporate the details requested by the customer ?

[2019-04-29 18:31] shashishailaj commented on #29851
@CelesteDG Could you please look into this request and engage someone from engineering to get a clarification on this doc enhancement request ?

[2019-04-29 18:31] ksaye commented on #30213
Thanks, you were right, I was using 2.0 and 3.0 does show the methods.  Thanks for the suggestion.

[2019-04-29 18:31] sweetmoniker commented on #30162
Thanks for your time (and sympathy), but I don't have the time to spend learning and troubleshooting this process right now. It will have to marinate until I can get to it.

Curse the guy that deleted my app!

[2019-04-29 18:38] craigcaseyMSFT commented on #10656
It looks like this issue no longer exists, so I am closing this. Thanks!

[2019-04-29 18:38] #10656 closed

[2019-04-29 18:39] YutongTie-MSFT commented on #30028
@demongolem Hi Greg, thank you for let me know. So update more information about Entities list would reduce your time for solving this problem?

[2019-04-29 18:43] Karishma-Tiwari-MSFT commented on #29632
Thanks @m-raman for the update.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-29 18:44] craigcaseyMSFT commented on #10769
Since this issue is > 90 days and the article no longer exists (it redirects here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/correlation), I am closing the issue. Thanks!

[2019-04-29 18:44] #10769 closed

[2019-04-29 18:46] dlepow commented on #29626
@mganeshphani  Unfortunately, this is a doc gap currently in Azure Container Instances, and I've created a work item for our doc backlog. This sounds like a useful future addition. Thanks again for your feedback!
@Karishma-Tiwari-MSFT - please close

[2019-04-29 18:47] #29626 closed

[2019-04-29 18:47] Karishma-Tiwari-MSFT commented on #30181
Thanks @stgeorgi !
@cwester72 Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-29 18:47] #30181 closed

[2019-04-29 18:47] craigcaseyMSFT commented on #10772
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-29 18:47] #10772 closed

[2019-04-29 18:49] YutongTie-MSFT commented on #30219
@wolfma61  Hi Wolfgang, do you know if there any plan for ARM? Thank you.

[2019-04-29 18:54] rohinkoul commented on #19779
@altambaw could SDN team bless this scenario so that we can put this in the official documentation.

[2019-04-29 18:55] YutongTie-MSFT commented on #30221
@seank842 Hi Sean, thank you for your feedback.

@dwlin Hi, this is a feedback about the "confidence". For now, we just have the confidence level of the verification.
Low: The confidence of the verification is low.
Normal: The confidence of the verification is normal.
High: The confidence of the verification is high.

However, Low/Normal/High is very abstract. Could you please add more details abo

[2019-04-29 18:58] craigcaseyMSFT commented on #10782
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-29 18:58] #10782 closed

[2019-04-29 19:00] hmayer1980 commented on #25476
@sc-bperry , you are my hero. That helps.

As I mention - its only explainable through samples,

and you need to understand that the Documentations DataTypes are not complete

You just pointed out I can put as DataType "Array". I did not know / understand this.
does this mean I can put anything - also "Object"? Anything available in the DataType DropDown for a Parameter in a Pipeline?

But yes, yo

[2019-04-29 19:08] craigcaseyMSFT commented on #10795
It looks like this original issue has been addressed, so I am closing this. If there are other outstanding issues that haven't been addressed, please open a new issue to track, as this issue is >90 days. Thanks!

[2019-04-29 19:08] #10795 closed

[2019-04-29 19:16] arturmiz commented on #15029
So there is no way to use `partitionKey` generated inside the function code? Let's say my `partitionKey` is built based on some other param resolved during function execution.

[2019-04-29 19:16] camillemarie opened #30295 "Add a link to .NET SDK"
Please add a link to the .NET SDK under "reference"

For example:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.models.policyassignment?view=azure-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fab47b-3b7a-c02e-c863-2c60f0e06f94
* Version Independent ID: f1643e7a-14eb-c

[2019-04-29 19:19] TiloGit opened #30296 "LDAPS for GC 3269?"
Hi,

can I just add 3269 to the NSG and connect to the Global Catalog via SSL from external? so for Global Catalog LDAP SSL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57e1177c-7686-31cc-ae39-e9c9d803ac6a
* Version Independent ID: 5b0267cc-ae11-3bf5-b301-b4a6dd524e21
* Content: [Azure AD Domain Services: Networking

[2019-04-29 19:25] msLinuxNinja opened #30297 "Scheduler provides little to no benefits"
In the cloud where there’s no access to the physical disks, changing the scheduler provides little to no benefit.

Additionally, newer distributions will use the newer blk-mq scheduler. The section “I/O scheduling algorithm for Premium Storage” is unnecessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7792d5a-de7

[2019-04-29 19:29] aljo-microsoft commented on #25070
@vikramdadwal

Content has been updated:
https://docs.microsoft.com/azure/service-fabric-mesh/service-fabric-mesh-howto-manage-secrets

@MicahMcKittrick-MSFT
#please-close

[2019-04-29 19:30] demongolem commented on #30028
Yes, make that information more prominent.  I knew exactly what I needed to do, I just did not know how to do that in LUIS.

[2019-04-29 19:33] chriskuech commented on #10240
I think the problem that @artisticcheese  and I are describing is _Given a concise team-specific config file, how can I programatically generate Service Fabric configs to deploy a container?_  This is a common problem among platform teams who wish to leverage existing highly-extensible platforms (like Service Fabric or K8S) to create a domain-specific platform.  Unfortunately, any workflow that in

[2019-04-29 19:35] #25070 closed

[2019-04-29 19:37] arerlend commented on #29970
@tanujbhakre how many topics do you have in your namespace? We throw a policy violation exception when you try to create more than ten event hubs in a namespace.  All EH quotas still apply when using Kafka protocol.

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas

[2019-04-29 19:39] YutongTie-MSFT commented on #30028
@demongolem Thank you for your feedback. @diberry For FYI.

[2019-04-29 19:39] arerlend commented on #29970
@MartinJaffer-MSFT can you paste your connect config with secrets removed?

@ both tanujbhakre and Martin, when I confirm what the issues are, I'll update the tutorial with notes/fixes.

[2019-04-29 19:45] MicahMcKittrick-MSFT commented on #30297
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-29 19:45] anavinahar commented on #29748
I used Chrome and the link works fine.

[2019-04-29 19:48] anavinahar commented on #29332
Done, will be live by tomorrow at the very latest.

[2019-04-29 19:49] anavinahar commented on #29536
We do not have BYOIP today in Azure.

[2019-04-29 19:51] #30093 closed

[2019-04-29 19:57] MarileeTurscak-MSFT commented on #29982
Hi @rahulbhansali2111 ,

This may have been fixed since you reported the issue. I checked the link and it is working now. Make sure you use your correct tenant credentials for it to test.

![image](https://user-images.githubusercontent.com/13383753/56922980-4fdfc780-6a7e-11e9-9983-b9c349ef8467.png)

Thanks for your feedback!

[2019-04-29 19:57] #29982 closed

[2019-04-29 19:58] xyh1 commented on #12578
The article has been updated previously to link to Azure CLI instructions. Let us know if there is additional information needed.

#please-close

[2019-04-29 20:01] msebolt commented on #10469
This issue is a duplicate of https://github.com/Azure/service-fabric-issues/issues/1080.

Please comment on that thread if there are still issues.

[2019-04-29 20:01] #10469 closed

[2019-04-29 20:03] DCtheGeek commented on #30295
@camillemarie Great idea! :)

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'doc-enhancement', and #in-progress

[2019-04-29 20:05] rustamm commented on #29167
Azure CLI tool returned meaning error message for me, turns out I was passing actual storage account key instead of the key name (literally should be "key1").

[2019-04-29 20:06] nickgailloux opened #30298 "BGP Peer Address"
Under the section "What address does Azure VPN gateway use for BGP Peer IP?", it should specify that the default peer addresses if using an active-active virtual network gateway are the fourth and fifth addresses in the subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c1d3b93-4e51-b2ec-c779-d80313275297
* Versio

[2019-04-29 20:07] patriml commented on #30074
@Grace-MacJones-MSFT thanks, I noticed documentation was updated to guide with the WebJobs SDK 3.x, which is great :)
I was referring specifically to a link in section "Next steps" of the Getting Started guide you mention; it points to a repository with samples based on older versions of the SDK (1.x, 2.x). I expected them to be based on the latest version and was wondering if this is an issue tha

[2019-04-29 20:10] msebolt commented on #10577
The article appears to have been corrected, so I'm closing the issue.

If there are any issues please comment below.

[2019-04-29 20:10] #10577 closed

[2019-04-29 20:11] rohinkoul commented on #21242
@altambaw could you check and confirm with your engineering team that NIC settings can't be changed inside a VM even for Linux VMs?

[2019-04-29 20:16] xyh1 commented on #29806
Thank you. I have made the edit to the documentation.

#please-close

[2019-04-29 20:27] larrywa commented on #29928
The primary issue was that the volume name can't be reused. That will be fixed soon.

[2019-04-29 20:27] #29928 closed

[2019-04-29 20:29] mike-urnun-msft commented on #30059
Hi @zirain Could you share with us a screenshot of your existing Logic App? We may request you to ask this question to MSDN forums since this channel is for driving improvements towards MS Docs.

[2019-04-29 20:33] Anilkbalakrishnan opened #30303 "How to create free Sql db of 250 GB"
Can you tell how to create a free SQL database of 250 GB as stated in the add
https://azure.microsoft.com/en-us/free/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81b
* Version Independent ID: 3bcd4ccd-9b70-65d0-a720-57fd9a566767
* Content: [Azure portal: Create a single database - Az

[2019-04-29 20:38] Mike-Ubezzi-MSFT commented on #30303
@Anilkbalakrishnan Thank you very much for your interest in Azure cloud services. The free Azure SQL database service is available in specific regions. We will investigate the latest list of those regions and update you shortly.

[2019-04-29 20:42] Anilkbalakrishnan commented on #30303
Hi Thanks for quick reply.
I am using West Europe region and I am being charged for using Sql which is Just 2GB.

[2019-04-29 20:44] YutongTie-MSFT commented on #30289
@robcamer Thank you for your feedback, we will investigate it and get back to you soon.

[2019-04-29 20:48] YutongTie-MSFT commented on #30266
@diberry Hi Dina, here is document suggestion. Could you please check it and update the document if necessary? Thank you a lot!

[2019-04-29 21:00] msebolt commented on #10597
Document updated.  Please comment below if there are any issues.

[2019-04-29 21:00] #10597 closed

[2019-04-29 21:01] mhopkins-msft commented on #24680
Thanks, Martin. The article is written this way so that it more closely matches the actual sample code.

#please-close

[2019-04-29 21:10] msebolt commented on #10628
This appears to have been resolved so I'm closing the issue.

If there are any questions, please comment below.

[2019-04-29 21:10] #10628 closed

[2019-04-29 21:13] mlottner commented on #30201
Thanks for taking the time to provide us with valuable feedback. We've reviewed the page, found the UI updated, and modified the text with your suggestion.

Appreciate your contribution to ASC for IoT!

[2019-04-29 21:16] #10957 closed

[2019-04-29 21:17] MarileeTurscak-MSFT commented on #30288
@RobertSpokane
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-29 21:17] #30295 closed

[2019-04-29 21:23] Grace-MacJones-MSFT commented on #30074
@patriml  I understand your question now. thanks for the clarification!

@ggailey777  is there a repository with samples of  the current SDK version (3.x) ?

[2019-04-29 21:30] himanshusinha-msft commented on #30264
@djpirra : We did checked both the scenarios and the trigger was able to activate the pipeline , so as it appears the weekDays parameter is not case sensitive .

  "weekDays": [
                        "monday"
                    ]

 "weekDays": [
                        "Monday"
                    ]

[2019-04-29 21:30] diberry commented on #30266
@robertwood62 Hi Robert, have you looked at the associated tutorials: [phrase list](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-quickstart-primary-and-secondary-data), [list entity](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-quickstart-intent-and-list-entity)?

[2019-04-29 21:32] MarileeTurscak-MSFT commented on #30288
When you open AD Connect and select "Configure" it should show under the Additional Tasks section.
![image](https://user-images.githubusercontent.com/13383753/56928285-342eee00-6a8b-11e9-9935-d109f115ed64.png)

You will need to re-open the wizard for this, even though presumably you have already configured AD Connect.

[2019-04-29 21:33] SaurabhSharma-MSFT commented on #29978
@ian-s-mac Thanks for your feedback. I am checking with the product team on the same and get back to you with the updates.

[2019-04-29 21:34] MarileeTurscak-MSFT commented on #30291
@nconder
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2019-04-29 21:35] MarileeTurscak-MSFT commented on #30291
I have assigned this issue to the content author to look into your suggestion. You can also leave this feedback in User Voice. https://feedback.azure.com/forums/34192--general-feedback

[2019-04-29 21:41] shantanookirtane opened #30305 "Incorrect reference"
While explaining Encryption at rest we are referring to the term "Encoding" which is confusing. Encoding is not same as Encryption. Is there any reason to have both terms co-exist within the sentence

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c

[2019-04-29 21:41] LizCasey commented on #11045
It looks like this issue no longer exists, so I'm closing this PR. Thanks!

[2019-04-29 21:41] #11045 closed

[2019-04-29 21:47] Karishma-Tiwari-MSFT commented on #26014
We currently do not have an ETA on this. We are relying on a bug fix in Redhat (link shared above). We will update the thread as we get a timeline on the fix for that.

[2019-04-29 21:58] LizCasey commented on #11084
It looks like this issue has been addressed, so I'm closing this. Thanks!

[2019-04-29 21:58] #11084 closed

[2019-04-29 22:18] craigcaseyMSFT commented on #10862
It looks like this issue no longer exists, so I am closing this. Thanks!

[2019-04-29 22:18] #10862 closed

[2019-04-29 22:27] mikebudzynski commented on #30131
@kazshi The diagnostic logs are batched into hourly JSON files, regardless of the frequency they are logged with (every few minutes).

#please-close

[2019-04-29 22:32] stewartadam opened #30306 "App registration portal is now deprecated"
This (and I presume other similar pages) instruct users to go to the https://apps.dev.microsoft.com/ which is now deprecated and no longer supported in 2 days (as of May). They should be directed to go to the new, modern App Registrations blade in the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7646910

[2019-04-29 22:33] Karishma-Tiwari-MSFT commented on #29972
@stgeorgi @ChristianMontoya Can either of you help confirm on this? Thanks :)

[2019-04-29 22:34] mhopkins-msft commented on #29321
@stevencl, thanks for the feedback. The article has been updated.
#please-close

[2019-04-29 22:36] TravisCragg-MSFT commented on #11066
@mdgattuso can you assist with this?

[2019-04-29 22:38] mdgattuso commented on #11066
will take a look. given how old this is though, is the issue still happening? this was from before my team took ownership of Azure CDN.

[2019-04-29 22:40] john-par commented on #11396
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-29 22:40] #11396 closed

[2019-04-29 22:41] TravisCragg-MSFT commented on #11066
@mdgattuso good point, this issue was from when I was new as well.

@jonathannz do you still need assistance with this issue?

[2019-04-29 22:51] femsulu commented on #29899
@PhilStollery  We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-29 22:51] #29899 closed

[2019-04-29 22:54] LizCasey commented on #10983
It looks like this issue no longer exists, so I'm closing this. Thanks!

[2019-04-29 23:02] MicrosoftGuyJFlo commented on #24770
Azure AD is license per user. If a user wants to use a feature they need the appropriate license that includes that feature. https://docs.microsoft.com/azure/active-directory/conditional-access/overview#license-requirements-for-using-conditional-access

[2019-04-29 23:02] MicrosoftGuyJFlo commented on #24770
#please-close

[2019-04-29 23:05] antonihanus commented on #10983
This is still an issue as the article says exactly the same as what I submitted as being incorrect information which is still incorrect.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Liz Casey <notifications@github.com>
Sent: Monday, April 29, 2019 3:55:15 PM
To: MicrosoftDocs/azure-docs
Cc: antonihanus; Mention
Subject: Re:

[2019-04-29 23:16] LizCasey commented on #10983
I missed that the issue still exists. Re-opening this.

[2019-04-29 23:17] johnthcall commented on #30034
@aljo-microsoft If that is the case can you rephrase the line to "Also consider removing the certificateThumbprint, it may no longer be **referenced in the arm template**"

[2019-04-29 23:19] johnthcall commented on #21545
This was successfully rolled out

[2019-04-29 23:19] #21545 closed

[2019-04-29 23:38] kilasuit opened #30308 "Server 2019 Support"
Can this support Server 2019 at all?

If this can then can this doc be updated to include it & if not can this doc be updated to reference that it does not support Server 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f7582c-c2a6-87bb-d236-2066e727c90c
* Version Independent ID: 1cbc7ee7-2518-137a-f6d6-d1d62a1a1

[2019-04-29 23:43] anavinahar commented on #29195
@DMoonesinghe the scenario with NVA forwarding the traffic via a UDR doesn't make it transitive as the two spokes cannot directly communicate with each other w/o going through the NVA in the hub.

[2019-04-29 23:45] anavinahar commented on #30292
You can use service principal: https://blogs.msdn.microsoft.com/arsen/2018/11/20/azure-vnet-peering-across-azure-active-directory-tenants-using-service-principal-authentication/

Yes, it is a one time link. Yes.

[2019-04-29 23:50] amccool commented on #20093
@BryanTrach-MSFT shoudnt the `ip addresses routed to vnet` in your initial diagram be:
`10.88.0.0 to 10.88.255.255'
rather than:
`10.88.0.0 to 255.255.0.0'
?

When I used the style you had diagram... my 0.0.0.0 (public inet) routes got mangled.

[2019-04-29 23:56] arluca commented on #28579
@brucelangston : Apologies you're running into difficulties adopting managed identities with App Services/Functions and Azure SQL.

We don't have any tutorials today that show both of those together; however, our tutorial for authenticating to Azure SQL from an Azure VM, should be able to help. Note, the only difference would be that you'd be creating an Azure Function/App Service instead of the V

[2019-04-29 23:58] arluca commented on #28414
@asubmani : Did that work for you?

[2019-04-29 23:59] arluca commented on #28407
@jayeshdshah : Thanks for sharing this feedback. We will update the articles to take care of that typo. Our apologies for the confusion.

-Arturo

[2019-04-30 00:05] mhopkins-msft commented on #18889
@jontejj can you tell me specifically which link did not work for you? Thanks

[2019-04-30 00:36] TravisCragg-MSFT commented on #30298
@nickgailloux Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-30 00:41] darax commented on #29722
@cobrauf
On HoloLens you can get the pose from a UnityEngine.XR.WSA.WorldAnchor object.  UnityEngine.XR.WSA.WorldAnchor has a 'SetNativeSpatialAnchorPtr() function that can be used to set the IntPtr.  As a consequence of setting the pointer, the GameObject should update to reflect the pose from the cloud.  You can look at the Unity's transform to see the rotation.

You would do something like:
[co

[2019-04-30 00:44] femsulu commented on #30308
@kilasuit thanks for the comment. adding @rayne-wiselman to confirm if 2019 is supported. We will also review your request to update the doc based on the answer to your question.

[2019-04-30 00:44] mike-urnun-msft commented on #30071
Hi @dwumpus

Support for multiple hostnames is a premium feature, therefore, it's only available through Premium SKU: https://docs.microsoft.com/en-us/azure/api-management/api-management-features

Since this channel is for driving improvements towards MS Docs, did you have any specific change that you propose we could make in this documentation with respect to the particular step that your feedbac

[2019-04-30 00:47] MGoedtel commented on #30076
@gckeller-ps & @SadiqhAhmed-MSFT - Thanks for bringing this to my attention.  I've verified with the PG that the link originally referenced in the code block is indeed incorrect, and the logic needs to be revised as well.  This article has been bugged and will be released with corrections next week.

[2019-04-30 00:57] femsulu commented on #30224
@mkalkere the repeated word has been removed. thanks for catching this.

[2019-04-30 00:57] #30224 closed

[2019-04-30 01:02] #29992 closed

[2019-04-30 01:07] femsulu commented on #30163
@bdschaap Got confirmation that the limits for "Software Key All other transactions" excludes 'Software key CREATE Key". please let us know if you are seeing a a different result/behavior. Closing this issue.

[2019-04-30 01:07] #30163 closed

[2019-04-30 01:11] mike-urnun-msft commented on #30196
@alexkarcher-msft to confirm but there appears to be an existing feature request on this: https://feedback.azure.com/forums/355860-azure-functions/suggestions/36488068-manage-function-proxies-using-the-azure-rest-api Please upvote as needed.

[2019-04-30 01:17] femsulu commented on #30178
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-30 01:17] #30178 closed

[2019-04-30 01:25] rajues opened #30311 "Typo"
Label above JSON example for filtering by Subject reads "The JSON syntax for filtering by *event type* is:". It should read "The JSON syntax for filtering by *subject* is:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b572f63-312f-4567-5f06-d09bcccf303e
* Version Independent ID: df817c5f-24e4-bdc7-511c-141d07a53d15

[2019-04-30 01:34] Yueying-Liu commented on #30139
Here is a sample of setting phoneme for Chinese.

<speak xmlns="http://www.w3.org/2001/10/synthesis" xmlns:mstts="http://www.w3.org/2001/mstts" version="1.0" xml:lang="zh-CN"><voice name="Microsoft Server Speech Text to Speech Voice (zh-CN, XiaoxiaoNeural)">**<phoneme alphabet="sapi" ph="wei 4">**为**</phoneme>**了保持良好的公众秩序，请遵守此项规定。</voice></speak>

[2019-04-30 01:37] zirain commented on #30059
![logic-app-do-until](https://user-images.githubusercontent.com/4354057/56936655-2df04e80-6b2b-11e9-9eac-0c4e30d17936.png)
Hi @Mike-Ubezzi-MSFT please check the attachment, I'm not sure this was caused by o365 connector limits or some logic app internal limits.

[2019-04-30 01:59] RoopAnymous commented on #30253
sure I would do that once page is completely loaded today, though tried in IE and chrome both.
![PagePartiallyLoaded](https://user-images.githubusercontent.com/13588963/56937320-a5b57d80-6b19-11e9-9e74-c42b952092da.png)

[2019-04-30 02:06] Charmendar opened #30312 "Looks like Azure storage integration with Azure Active Directory (Azure AD) is no longer in preview"
Could you suggest? From first section it is indicating Azure storage integration with Azure Active Directory (Azure AD) is now in preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cebec73e-e7f4-75c5-2068-ae89f12d8d95
* Version Independent ID: e2497a7b-3b5f-554a-1a31-da540740fcc9
* Content: [Azure Key Vault managed

[2019-04-30 02:09] linda33wj commented on #19805
Thank you all for raising the issue and sharing the right instruction across! The monitoring section in this quickstart has been updated. Sorry for the delay.

#please-close

[2019-04-30 02:10] SumanthMarigowda-MSFT commented on #30296
@TiloGit Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 02:12] SumanthMarigowda-MSFT commented on #30305
@shantanookirtane Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 02:14] SumanthMarigowda-MSFT commented on #30284
@CeciAc Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 02:16] javirivas80 commented on #30129
Hello, thanks for the answer. I just, pick up a support ticket. I keep you informed when you have progress.

[2019-04-30 02:16] SumanthMarigowda-MSFT commented on #30285
https://github.com/MicrosoftDocs/azure-docs/issues/30284

[2019-04-30 02:18] SumanthMarigowda-MSFT commented on #30306
@stewartadam Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 02:19] SumanthMarigowda-MSFT commented on #30311
@rajues Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 02:20] SumanthMarigowda-MSFT commented on #30312
@Charmendar Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 03:18] gatornation11 opened #30313 "azcopy 2012"
does azcopy v10 work on windows 2012 R2? I have been trying to get simple stuff working for a while and it does nothing. Tried the cp and sync options and the command sees to take but no output in the command shell, just sits there until I kill it.

[2019-04-30 03:38] DeepfryingGravity opened #30314 "Failover timings"
Hey, I was reading the `High availability in Cosmos DB` page and had a couple of questions:

I was wondering if there's a number for the "instantaneous" failover timing here?

Also for `Multi-region accounts with a single-write region ` - it is suggested to use **Automatic Failover**

I was wondering again if there is a document that details how long this failover would take?

---
#### Document De

[2019-04-30 03:46] mrjohnsonalexander opened #30315 "KV Certificate Policy JSON declarative ARM"
https://docs.microsoft.com/cli/azure/keyvault/certificate?view=azure-cli-latest#az-keyvault-certificate-create

https://docs.microsoft.com/rest/api/keyvault/createcertificate/createcertificate

What is KV recommendation for certificate policy declarative ARM support and adoption?

With Rest API's and clients, versioning a policy can be done, but natively I couldn't identify a recommendation for KV

[2019-04-30 03:48] jnsunkersett commented on #30167
Unfortunately Adam,

Could not use the NuGet solution. (as I need to start with the basics of NuGet)

Also found a QuickStart :: storage-blobs-java-v10-quickstart - **which uses the 11.0.0**. version of the
groupID: com.microsoft.azure,
artifactID: azure-storage-blob,
version : 11.0.0
But that too does NOT compile, let alone execution.

[The Azure blob Quick start on GitHub ...](https://github.com

[2019-04-30 04:08] alexkarcher-msft commented on #30196
Hi Sowsan!

You can create and edit the proxies.json file directly in any editor of your choice. See instructions here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#advanced-configuration

[2019-04-30 04:12] VikasPullagura-MSFT commented on #30036
@KeiroKamioka0000 I am closing the issue for now. If you need additional help please mention me in the comment to continue the discussion.

[2019-04-30 04:12] #30036 closed

[2019-04-30 04:18] KetanChawda-MSFT commented on #30131
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-30 04:18] #30131 closed

[2019-04-30 04:28] CHEEKATLAPRADEEP-MSFT commented on #30091
@melzoghbi Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience

[2019-04-30 04:28] #30091 closed

[2019-04-30 05:24] RohitMungi-MSFT commented on #30139
@Yueying-Liu Thanks for the update. @xulxqqqq Could you please check if this helps?

[2019-04-30 05:32] SubhashVasarapu-MSFT commented on #30041
Yes, for CLI follow this doc,
[Creation of outbound rules for load balancer with CLI](https://docs.microsoft.com/bs-latn-ba/azure/load-balancer/configure-load-balancer-outbound-cli)
For API Reference,
https://docs.microsoft.com/en-us/rest/api/load-balancer/loadbalanceroutboundrules/get#outboundrule
We are closing this issue for now.If there are further questions regarding this matter, please reply

[2019-04-30 05:32] #30041 closed

[2019-04-30 05:35] ayakimov commented on #14453
@waqasahmedch did you solve problem with empty response for get applications?
I went through official manuals (deploy and setup) and setup python sdk for accessing the API. I can get users (which assigned to one of the available applications) and can't get app list or app for interacting with contract.
Also I didn't find how to change application capabilities. I need to upload apps, change contrac

[2019-04-30 05:49] kiwidamien opened #30323 "Need links to Key Vault and how to address the "Received bad response from Model Management Service" error"
I have found this page from following the Tutorial on [deploying a model](https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-deploy-models-with-aml) onto Azure.

As a first time user onto Azure, hitting this error following the tutorial steps (and steps in similar blogs, such as the externally maintained [blog](https://thenewstack.io/build-and-deploy-a-machine-learning-model-

[2019-04-30 05:52] angoyal-msft commented on #30314
@pcttile Thanks for your feedback. I have assigned this issue to the content author to help you further on this issue.
@markjbrown Could you please look at this issue and help the user.

[2019-04-30 05:59] jakaruna-MSFT commented on #30144
@ivog I will close this issue as we dont need to update anything on the doc. Lets follow up on the Kured issue.

[2019-04-30 05:59] #30144 closed

[2019-04-30 06:12] djpirra commented on #30264
Hi,

We have tried to setup a CI/CD for ADF using this line:

"Daily_Run_Rest_Of_Week_Schedule": {
			"value": {"minutes":[0], "hours":[0], "weekDays":["sunday","monday","tuesday","wednesday","thursday","saturday"]}
		}
and it did not worked. After we changed it and it worked with:

"Daily_Run_Rest_Of_Week_Schedule": {
			"value": {"minutes":[0], "hours":[0], "weekDays":["Sunday","Monday","Tuesday

[2019-04-30 06:23] jakaruna-MSFT commented on #30267
@daoenterprise I followed the doc and tried to create a VM.
When i search with the search term mentioned in the Doc, It listed `SQL Server 2017 on Windows Server 2016`. Once i expand that, I was able to select `Free SQL Server License: SQL Server 2017 Developer on Windows Server 2016` as shown in the below screenshot.

Please try this way and if you are still unable to create one, Please share the

[2019-04-30 06:33] ram-msft commented on #30323
@kiwidamien Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-04-30 06:38] jakaruna-MSFT commented on #29984
@dylanhughes I tried again today and it worked well. I tried with Edge and chrome.
I will close this issue for now since we are unable to repsoduce the issue.
If you face this issue again, Please mention me so that we can reopen this issue and continue the discussion.

[2019-04-30 06:38] #29984 closed

[2019-04-30 06:43] jakaruna-MSFT commented on #30133
https://github.com/Azure/AKS/issues/905   Same issue

[2019-04-30 06:47] jakaruna-MSFT commented on #30133
@m-raman Current workaround is to use 1.11.* if we need calico networking plugin.
Though Azure networking plugin works well with all versions.
Also go though this [table](https://docs.microsoft.com/en-us/azure/aks/use-network-policies#differences-between-azure-and-calico-policies-and-their-capabilities) to find out the difference between calico networking plugin and azure.

[2019-04-30 06:49] ManojReddy-MSFT commented on #28833
@biste5 I am not able to find any reason why it shouldn't work you in that network. Can you confirm if you are able to access other docs ?

https://www.microsoft.com/licensing/product-licensing/windows-server or https://www.microsoft.com/Licensing/product-licensing/products

If these are not working as well, can you check with your networking team to see if they have any firewall rules ?

Also ple

[2019-04-30 06:51] jakaruna-MSFT commented on #30133
Currently if you create a cluster with `calico` and with version 1.12.* and above, then the nodes will be in not ready state.  It will have an error message saying that networking plugin is not ready.
If thats not the case then the [network policy feature registration](https://docs.microsoft.com/en-us/azure/aks/use-network-policies#before-you-begin) is not done properly.

[2019-04-30 06:54] mahoekst opened #30325 "The Note should be changed"
The V2 endpoint is not just only meant for developers who need to authenticate with MSA. If you need dynamic consent or need the more compliant endpoint you should use V2. So ideally the note should be reworded a bit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882c6669-2244-1cb1-5315-aa5feec7c95b
* Version Independe

[2019-04-30 06:56] CelesteDG commented on #30325
Hi @mahoekst - Thank you for the feedback. We have completely changed this overview for Build, but that info is not getting released until Monday, May 6th.

[2019-04-30 06:57] pcttile commented on #30314
Thank you for the fast reply @angoyal-msft 😃

I'd also like to ask if there's a page in the docs that talk about replication latency?

I've had a search but couldn't find anything that talked about how long we could expect replication (with Strong consistency) to take in both a Single-master and multi-master setup?

[2019-04-30 07:14] bieberium opened #30326 "Normalization rules of passwords"
The documentation mentions that "1" will be substituted with "l" (lower case L, step 1). In the consecutive steps, the digit 1 is not substituted by a lower case L and in the case of the password "C0ntos0Blank12", normalized to "contosoblank12" is counted towards the score of a password. Should this not be normalized to "CONTOSOBLANKL2" (just for illustration in uppercase)? While this example is s

[2019-04-30 07:48] Ahmad-Al-Ali opened #30327 "sub domain verification"
is domain and app service verification supported for "sub domains" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Content: [Buy and configure an SSL certificate from Azure - App Service](https://docs.microsoft.com/en

[2019-04-30 08:15] kilasuit opened #30328 "No longer able to nominate yourself as an MVP"
The last paragraph is no longer relevant as the MVP program no longer accepts self nominations & therefore needs to be amended

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bb1b889-02ca-2b75-11f0-12798ff285b4
* Version Independent ID: b9ffc6b2-5666-d27c-96a2-da58ada50eba
* Content: [Azure Security MVP Program](https:

[2019-04-30 08:15] biste5 commented on #28833
Hi,
I can't access the two links you provided either. We don't have any particular firewall rule in place.
From a quick troubleshooting on my side, it seems to have to do with the browser's culture / language. So try accessing the links with a browser with preferred language settings other than en-us. In my case I have nl-nl.

Hope it helps

[2019-04-30 08:17] VigneshwaranKS opened #30329 "How to update b2clogin.com as redirect uri for my b2c application"
is there any video guidance to show where all we need to update the settings to point to b2clogin.com instead of login.microsoft.com/tfp. I am using react JS to build my application and have given instance: 'https://login.microsoftonline.com/tfp/'. changing this to use b2clogin.com gives me error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-04-30 08:18] VigneshwaranKS commented on #30329
Error am getting: "AADSTS50049: Unknown or invalid instance.

[2019-04-30 08:19] Jeroen-H commented on #29290
Hi, sorry was on a holiday.
could you be more specific about the azure marketplace or github arm template?
I have a virtual machine running, was powered down during my holiday as nobody else was using it.

I configured the virtual desktop following [https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory](https://docs.microsoft.com/en-us/azure/virtual-desktop/ten

[2019-04-30 08:26] ManojReddy-MSFT commented on #30135
@jrxdavid Thanks for the feedback. The steps provided here are validated from the application (Mimecast) as well.

Can you help me understand which step caused the issue according to mimecast support ?

[2019-04-30 08:29] jakaruna-MSFT commented on #30230
@hfcheng66 Did you had a chnage to look at the above comment?

[2019-04-30 08:30] jakaruna-MSFT commented on #30230
@TomArcherMsft I think we dont need to update the doc for Windows. We cant cover all scenarios though.
Please confirm.

[2019-04-30 08:31] PramodValavala-MSFT commented on #30311
@rajues Thanks for catching that! It indeed has to be `subject`.
@Daya-Patil Thanks for raising a PR for this!

@spelluru Could you please review and merge the PR? Thanks!

[2019-04-30 08:33] ayakimov commented on #14453
The problem is that default user (created by Azure BCW deployment) on off-chain DB is not mapped to any application.
Just as workaround - you can always add this mapping manually in DB and after that you will be able to get applications (and use contracts etc).

What you need to do:

1. Find external user id for Application(web api), which was provisioning with Azure Blockchain Workbench.
* Naviga

[2019-04-30 08:40] ManojReddy-MSFT commented on #30241
@nacient I have assigned this to the author to consider adding a IDP initiated sample. Thanks again for your feedback.

[2019-04-30 08:51] ManojReddy-MSFT commented on #30315
@mrjohnsonalexander Thanks for the question. We are looking into this and will provide an update shortly.

[2019-04-30 08:53] jakaruna-MSFT commented on #29459
@kazshi Product team has plans to add support for deploying the Linux app service inside the VNET.
Once that is there, We can add a service endpoint to the subnet where the Linux app service is running.
Then we can add that vnet in the ACR firewall rules also.

Theoretically this way will work once we have the Linux App service in the Vnet. We still need to verify once the Linux App service in Vne

[2019-04-30 08:56] ManojReddy-MSFT commented on #30325
@CelesteDG Thanks for the update regarding this.

@mahoekst We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-30 08:56] #30325 closed

[2019-04-30 08:58] ManojReddy-MSFT commented on #30328
@kilasuit Thanks for the feedback. I have assigned this to the author to confirm this and update the doc accordingly.

[2019-04-30 09:00] kggayo opened #30330 "Kubernetes configuration is missing"
I noticed that the Kubernetes configuration is missing. Does Kubernetes configuration will be supported in future release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Independent ID: 7816cf1e-2264-e365-4d5c-b1fc9f7d08fe
* Content: [Create multi-container app in Web App

[2019-04-30 09:11] frobnitzz opened #30331 "Sync frequency?"
Hi,

I've configured the sync between a Workday tenant and test environment using the Active Directory method (with the Azure AD app and provisioning sync server on-prem) and am trying to figure out when a sync occurs. So far my results are random, for example making changes to the mappings triggers a predictable sync, but when I make a change to a surname in Workday, I don't see it reflected unti

[2019-04-30 09:16] SeriousM opened #30332 "SourceDirectory environment variable expansion"
Please add an example how to use SourceDirectory with environment variables. Neither $(..), %..% or $.. works.
And please add a list of available environment variables available. I see a ROLEROOT variable but nothing else, I need a source path variable. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64044dfc-

[2019-04-30 09:19] verboompj opened #30333 "ExpressRoute SKU's not listed on https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/ pricing and performance details"
ExpressRoute SKU's not listed on https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/ pricing and performance details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-628d-0be2-f514-477d46dfa1b8
* Version Independent ID: fa096059-2d16-30a2-1e8b-8b9671afcaa4
* Content: [FAQ - Azure ExpressRoute](https:/

[2019-04-30 09:21] Jeroen-H commented on #29290
Update:
Tried the steps on https://docs.microsoft.com/en-us/azure/virtual-desktop/manage-app-groups#feedback again and now its working. Although app is not visible now on the webfeed, I saw that other people have the same issue, I will make a post there to check status.

Thank you

[2019-04-30 09:21] #29290 closed

[2019-04-30 09:26] skgitti opened #30334 "ignore certain criteria?"
How can we totally ignore (or auto-resolve) certain risks, eg. Sign-in from unfamiliar locations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198f0e69-af2a-8c82-041a-c5ca4126f02f
* Version Independent ID: 4be57788-f1c2-d6d4-b94a-a59350a618a7
* Content: [Azure Active Directory risk events](https://docs.microsoft.com/

[2019-04-30 09:31] amasse3 opened #30335 "Azure AD Tier for Password Hash Sync"
Azure AD Premium P1 is listed as requirement for password hash sync and leaked credential reporting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8763efcd-d2ef-6547-e33d-c250d97020f6
* Version Independent ID: d8969bd7-a35d-e21d-ec43-ba6028ccbc5f
* Content: [Azure AD deployment checklist](https://docs.microsoft.com/en

[2019-04-30 09:33] ManojReddy-MSFT commented on #30334
@skgitti Currently you can only resolve all the issues for a user or resolve events manually at a time. You cannot ignore a certain criteria completely.

You can find out more about the available options [here](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-close-active-risk-events#close-individual-risk-events-manually).

[2019-04-30 09:41] ManojReddy-MSFT commented on #30326
@bieberium Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 09:41] skgitti commented on #30334
That isn't really usable with thousands of students activating unfamiliar locations 24x7, cannot resolve those per user - will remain unresolved and mess up all reports.

[2019-04-30 09:41] uusimaeki opened #30336 "KbId value missing from 18/04"
I have used these queries to access my QnA Maker analytics, however from 18th April KbId value has been missing, so I cannot filter my analytics by Knowledge bases. For example "Total question traffic in a given time period" query gives nice listing of questions by KbId before 18th April, but after that it gives just one overall number.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-04-30 09:42] ManojReddy-MSFT commented on #30335
@amasse3 Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 09:42] ManojReddy-MSFT commented on #30331
@frobnitzz Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 09:44] SumanthMarigowda-MSFT commented on #30040
@ToshinaoOnodera Thanks for bring this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-30 09:44] ManojReddy-MSFT commented on #30329
@VigneshwaranKS Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 09:52] SumanthMarigowda-MSFT commented on #30313
@gatornation11  Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in [Azure Community forum ](https://azure.microsoft.com/en-us/support/community/)as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your s

[2019-04-30 09:55] racchen opened #30337 "Adding prerequisite about SF version"
When deploying the code with the previous SF SDK version, we found those Service API with not concrete type(e.g. IList&lt;T&gt;)” could not be handled by the SerializationProvider. And this issue was solved after upgrading SF runtime to V6.4.654 and SDK 3.3.654.
Maybe it will help if the document can add on some prerequisite such as "For generic type data serialization, ensure that your local Serv

[2019-04-30 10:03] bazmandude opened #30338 "What about .NET Core services that aren't ASP.NET?"
How do I add application insight and support distributed tracking across RPC calls between non ASP.NET service that target the .NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f7156b-3478-9938-6596-3573034fd7f5
* Version Independent ID: 3d3adaf0-7e39-209d-71b7-3b41bf05cb60
* Content: [Quickstart with Azure A

[2019-04-30 10:04] RohitMungi-MSFT commented on #30336
@uusimaeki Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-30 10:08] LucianFrango commented on #11112
See @billmath 's reply from Nov 1st. Its now a bug. The internal DNS, as I see it, and assuming its served via Windows Server DNS, would simply need 2x records for each AD FS internal load balancer for the same namespace and leverage DNS round robin load balancing. Otherwise, there is no support in Traffic Manager for NIC resources to be able to create an "internal" Traffic Manger profile to send

[2019-04-30 10:09] DeveloperBeginner commented on #29985
@conceptdev Thanks for the response. Yes I understand this is not an Azure Mobile Apps-specific issue. But then the Azure mobile apps sdk should enable TLS for the Android versions which support TLS but do not have it enabled by default (i.e  4.1 to Android 4.4.4).

[2019-04-30 10:22] rayne-wiselman commented on #22169
I updated the docs with a table to summarized encryption info - https://docs.microsoft.com/en-us/azure/backup/backup-overview#how-does-azure-backup-work-with-encryption. Hope this now covers it. thx
#please-close

[2019-04-30 10:23] #28939 closed

[2019-04-30 10:26] #29332 closed

[2019-04-30 10:28] HQJaTu commented on #19647
Now that the docs have been migrated to new Az-module, there is no `Test-NetConnection` cmdlet nor nettcpip-module.

Simply: the docs won't make any sense anymore.

[2019-04-30 10:28] #29748 closed

[2019-04-30 10:29] #29768 closed

[2019-04-30 10:29] PramodValavala-MSFT commented on #30242
@davidxcheng That's right. Normally, the `MessageId` is generated if not provided by the .NET SDK and is usually considered as the `PartitionKey` too except in the case where Duplication Detection is enabled.

This is also mentioned [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning#using-a-partition-key).

Its probably a good idea to include this informat

[2019-04-30 10:33] ram-msft commented on #30323
@kiwidamien Could you please point to the cell/code that you tried to execute and faced this issue. So that we can identify the exact cause of this issue. As we are able to run and deploy/predict the model successfully in AML service.

[2019-04-30 10:36] msrini-MSFT commented on #30097
@jeffwmiles , SA lifetime is something that you can configure based on the peer device which you are using. In Azure the default value is 28800 seconds. The documentation which you referred to is a scenario where you are connecting to FortiGate. SA lifetime in Azure is configurable using PowerShell commands.

[2019-04-30 10:40] vrishni commented on #30323
Can you point to the line of the code? I am able to train and deploy the model successfully.

[2019-04-30 10:44] jakaruna-MSFT commented on #30133
@m-raman I verified both the scenarios (described below) and it works well.
- AKS with verison 1.11.9 + calico networking plugin
- AKS with version 1.12.6 + Azure networking plugin

I will close this issue for now as we dont need to update the doc.   We will follow up with the Azure/AKS#905  issue for the updates.

[2019-04-30 10:44] jakaruna-MSFT commented on #30133
@m-raman If need further help please mention me in the comment.

[2019-04-30 10:44] #30133 closed

[2019-04-30 10:55] keaaa commented on #28567
thanks :)

[2019-04-30 11:03] SnehaAgrawal-MSFT commented on #30327
@Ahmad-Al-Ali Thanks for the question! We are investigating and will update you shortly.

[2019-04-30 11:04] SnehaAgrawal-MSFT commented on #30330
@kggayo Thanks for the question! We are investigating and will update you shortly.

[2019-04-30 11:06] rayne-wiselman commented on #12599
Thanks for your feedback. This is actually stated in the article. Cache space should be 5-10 % of the total size of your backup data. I've updated the text to make that a bit clearer.
the change will go live in the next few days

"The volume of your cache folder should be at least 5-10% free space, when compared to the total size of backup data. "

#please-close

[2019-04-30 11:07] ashleywb opened #30340 "Slow to install"
We have been using custom extensions for a while. Mainly to perform a number of operations on the startup of a machine from a deallocated state.  It appears it has to install the extension every time, when we review the logs our operations only take a couple of minutes. The time from starting a machine, running the script through a custom extension can take up to 8-10 minutes.

When running the sa

[2019-04-30 11:20] virajpwr opened #30341 "No response from external IP"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-30 11:27] ykuijs opened #30342 "Outbound connectivity for URLs incorrect"
When running the Unified Setup, the tool prompts for additional URLs to be allowed. It prompts for:
https://pod01-srs1.we.hypervrecoverymanager.windowsazure.com
https://pod01-prot2.we.backup.windowsazure.com
https://pod01-id1.we.backup.windowsazure.com
https://pod01-tel1.we.backup.windowsazure.com
https://dc.services.visualstudio.com
https://login.windows.net
https://dev.mysql.com/get/Downloads/My

[2019-04-30 11:29] mutanttech commented on #29871
Can you please also document about if we want to create Key Vault and some other resources like App Service, Cosmos, Web App Bot etc in the same ARM template. And store the keys generated as part of deployment as secrets in the Key Vault then what should be workflow.
Another problem is that when the same ARM template is executed the resources which already exists along with secrets in Key Vault th

[2019-04-30 11:40] rayne-wiselman commented on #20435
@digeler This doesn't seem to be connected to changes in the doc it's linked to. I'm closing this and I'll send you a mail internally.
#please-close

[2019-04-30 11:42] amanmcse opened #30343 "Need more details on Recent risky sign-ins and Risk history"
Please explain what information will be shown under Recent risky sign-ins and Risk history. If there is a Recent risky sign-in will it appear under Risk history as well? In my tenant I can see event with following timestamp:
‎1‎/‎1‎/‎1970‎ ‎5‎:‎30‎:‎00‎ ‎AM Unfamiliar sign-in properties
In what case we get such old timestamp?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-30 11:42] olehb007 opened #30344 "countrySet parameter can't contain space"
[Enter feedback here]
In the documentation countrySet is mentioned with a space between US and FR which indeed results in "error": {
        "code": "400 BadRequest",
        "message": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive."
    }

I suppose it can be changed to something like this:
Set the countrySet parameter, for example "US,FR".

Next, it wo

[2019-04-30 11:45] rayne-wiselman commented on #15905
Thanks for your feedback. Added to the FAQ. The update will show up in a few days.

#please-close

[2019-04-30 11:51] ManojReddy-MSFT commented on #30053
@RickB-0923845 In B2B scenarios, a duplicate of the user object from host tenant (Contoso) is created in the host tenant (Fabrikam). So the final token will be issued by Fabrikam even for B2B identities. Due to this Azure AD will prevent issuing for a Contoso user trying to access Fabrikam's SAAS resource if Fabrikam is listed in the restricted tenants.

I am trying to test this in my lab and will

[2019-04-30 11:51] RaviSahuImpetus opened #30345 "How to get auth token for organization ADFS users. We are able to get the auth token for Azure AD users via API but unable to do it for organization ADFS users"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-30 11:52] rayne-wiselman commented on #15203
Thanks for the feedback and apologies for the delay. I've updated the article. The change will show up in the next few days.

#please-close

[2019-04-30 11:58] rayne-wiselman commented on #30308
@femsulu please assign to @dcurwin

[2019-04-30 12:00] robertwood62 commented on #30266
Thanks.  This makes more sense to me now.

From: Dina Berry <notifications@github.com>
Sent: April 29, 2019 5:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: robertwood62 <robertwood62@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Examples needed (#30266)

@robertwood62<https://github.com/robertwood62> Hi Robert, have you looked a

[2019-04-30 12:02] DMoonesinghe commented on #29195
Anavi   I understand your point.  But I was pointing out that it would be
much more clear if you explicitly state that:

"When peering in a hub and spoke topology traffic is Non-Transitive between
spokes  in it's native mode (without a NVA in the hub).  Yet the traffic
between spokes can be made transitive through the hub by adding  a NVA
into  the hub network."

On Mon, Apr 29, 2019 at 7:44 PM An

[2019-04-30 12:03] giovannifl opened #30346 "Pictures and steps are outdated"
Azure portal has been updated since when this page has been edited.
As a result, steps and pictures need to be updated.

For example, Auto Swap setting is now in "Configuration" settings and "Application Settings (classic)" is no longer supported

Regards

![image](https://user-images.githubusercontent.com/19493042/56960341-589cd000-6b48-11e9-8114-f5ac661dd6cb.png)

---
#### Document Details

⚠ *D

[2019-04-30 12:20] #15203 closed

[2019-04-30 12:21] rayne-wiselman commented on #28213
@Sat0rN I'm closing this as a doc issue since it's not directly related to the article. Suggestion is to open a support ticket so we can check. Thx
#please-close

[2019-04-30 12:22] nphmuller opened #30347 "Linux VM Azure AD login: PAM authentication error: Conversation error"
Not sure where to report errors about this. So if this is not the right place, feel free to point me to where this issue belongs. :)

Repro:
- Create a Ubuntu 18.04 VM with the Azure AD login enabled, and configure SSH key login (My region is West-Europe, for if this matters).
- Reset the SSH key.
- Azure AD login now fails, so reinstall the VM Extension.
- Azure AD login now works, but when runni

[2019-04-30 12:25] rayne-wiselman commented on #24630
@dcbrown16 Please review this article and let me know if this answers your question. thx
https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-vms-prepare#explicitly-allow-outbound-access

[2019-04-30 12:32] sjoerdvannoort opened #30348 "Parquet format hyperlink goes to the wrong place"
Link in the purple box under Parquet Format goes to delimited text page instead of parquet format page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c719f3-a6d9-2cca-9042-eec0b3a393ab
* Version Independent ID: 153103c7-4204-ff91-4b17-e75e45194231
* Content: [Supported file formats in Azure Data Factory](https://doc

[2019-04-30 12:48] RGoedhart commented on #29861
Hi any progress on this topic?

[2019-04-30 12:50] jakaruna-MSFT commented on #30134
@m-raman I deployed the AKS cluster.
AKS subnet's CIDR is 10.240.0.0/16.   Created a new subnet with CIDR10.0.0.0/24.
Then created a ubuntu instance in the new subnet. Later created a network policy which applies to a nginx pod as shown below.
[code]

With this policy i was able to access that nginx pod from the ubuntu instance. Traffic is blocked from other pods.

Nginx logs. Ubuntu instance ip i

[2019-04-30 12:54] xiazek commented on #21477
Thank you guys for resolving this ! I'm looking forward to try out your platform with ruby 2.6 when have a spare moment.

[2019-04-30 12:57] jakaruna-MSFT commented on #30347
Thanks for reporting.
We have a similar issue already open here #29975 . We have reported that issue to the product team and we are waiting for the updates.

[2019-04-30 12:57] SumanthMarigowda-MSFT commented on #30338
@bazmandude Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 12:59] SumanthMarigowda-MSFT commented on #30340
@ashleywb Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 13:00] michaelfjohn78 opened #30349 "Azure Disk Encryption"
Does this work with Azure Disk Encryption (Windows and Linux)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Advanced Threat Protection for Azure Storage](https://docs.microsoft.com/en-us/azure/storage/commo

[2019-04-30 13:01] SumanthMarigowda-MSFT commented on #30342
@ykuijs Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 13:03] SumanthMarigowda-MSFT commented on #30344
@olehb007 Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 13:07] SumanthMarigowda-MSFT commented on #30332
@SeriousM Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-30 13:12] nphmuller commented on #30347
Thanks!
I've looked at the issue you mentioned and I noticed I don't have the following line in `/var/log/auth.log`:
`Cannot find the cloud instance for location xxx`

If you're still sure the issue is the same, I'm happy to close this one. If not, should I leave this one open?

[2019-04-30 13:17] SnehaAgrawal-MSFT commented on #30327
@Ahmad-Al-Ali Thanks again for the question! Yes, it is supported. As mentioned in the doc while setting Naked host domain name "If you specify the root domain here, you get a certificate that secures both the root domain and the www subdomain. To secure any subdomain only, specify the fully qualified domain name of the subdomain here (for example, mysubdomain.contoso.com)."

[2019-04-30 13:19] markarnolditpro opened #30351 "Possible to pick and choose Front Door components?"
For instance, is it possible to use only Geo Filtering without the other caching components etc?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
* Content: [Azure Front Door Service - Frequently Asked Questions fo

[2019-04-30 13:19] kiwidamien commented on #30323
Sure, it is the same in both examples. I'll use the external blog as it has the notebook with all the steps in one place.

After adding in my `AZ_SUBSCRIPTION_ID` In the file https://github.com/janakiramm/azureml-tutorial/blob/master/Azure/Salary.ipynb I am able to go from beginning to the point where I create the instance. The error occurs in cell 21:
[code]

The error traceback is
[code]

[2019-04-30 13:21] craigcaseyMSFT commented on #11518
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-30 13:21] #11518 closed

[2019-04-30 13:25] TechWatching opened #30352 "This article does not mention the frequency request limit"
It is not mentionned what is the frequency request limit before the API starts to send 429 responses.
I have a small console application which is using this API but receives a lot of 429 responses as I don't know what frequency I should use to send my requests without slowing too much my application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-04-30 13:36] brucelangston commented on #28579
Thanks.
Bruce
678.667.2466

On Mon, Apr 29, 2019 at 7:56 PM Arturo Lucatero <notifications@github.com>
wrote:

[2019-04-30 13:37] msrini-MSFT commented on #30351
@markarnolditpro , Yes, you should be able to do it. All you need to do is to enable Geo Filtering and create a rule without caching enabled.

Let me know if you have any further questions.

[2019-04-30 13:41] SubhashVasarapu-MSFT commented on #30227
@christiankuhtz , Peering of VNETS in different resource groups is possible here.I have tried this,
<details>
<summary>CLI</summary>

RgName1="east-resource"
RgName2="west-resource"
Location="eastus"

# Create a resource group.
az group create \
  --name $RgName1 \
  --location $Location
# Create a resource group.
az group create \
  --name $RgName2 \
  --location $Location

# Create virtual netwo

[2019-04-30 13:41] Samaws1 opened #30353 "Old pipeline link"
[Enter feedback here]
Link to pipeline video is old and reflects VSTS as opposed to Azure Devops CI/CD pipeline. Would b great if that can be fixed.

Pipeline video link  that's mentioned in the page (non-AzureDevops pipeline)
https://channel9.msdn.com/Events/Connect/2017/T174/player/

Pipeline video link  that's expected  AzureDevops pipeline)
Building and Deploying your Code with Azure Pipelines

[2019-04-30 13:51] hfcheng66 commented on #30230
@jakaruna-MSFT thanks for the response. I will try on as you suggested.

I feel it is better that the document as least covers Windows and Linux, especially the handling will be different in terms of authentication, remote-exec, software pre-installation etc.

[2019-04-30 14:19] grazianiborcai opened #30354 "enablelogging property is missing important information"
When enabling log into an Storage account or/and Data Lake store, you need to define a storage Linked Service for that. However it must be configured with the same Integration Runtime from the one is defined in the Storage that we will delete, otherwise the activity will fail with the following error message:

'errorCode': '2011', 'message': 'The decryptor is null, please check the compute type an

[2019-04-30 14:21] sc-bperry commented on #25476
Previously the documentation didn't explicitly list the data types, so I assumed that any data type that was an option in the dropdown list for a pipeline parameter was allowed when I first started working on my custom parameters. It looks like the documentation was changed on [this commit](https://github.com/MicrosoftDocs/azure-docs/commit/82c72e32f9b339541e0a0db7b3867ee91e72fff6#diff-e21419c345f

[2019-04-30 14:26] mrbullwinkle commented on #9754
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-30 14:27] SumanthMarigowda-MSFT commented on #30337
@racchen Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 14:28] #9754 closed

[2019-04-30 14:29] SumanthMarigowda-MSFT commented on #30346
@giovannifl Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 14:30] SumanthMarigowda-MSFT commented on #30348
@sjoerdvannoort Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 14:31] VanMSFT commented on #24805
Looks like @vainolo has updated the doc. Thanks!
@karlkuhnhausen - Please let us know if you still have any concerns.
@vainolo - please follow up to close the issue.

[2019-04-30 14:31] SumanthMarigowda-MSFT commented on #30349
@michaelfjohn78 Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 14:32] SumanthMarigowda-MSFT commented on #30352
@TechWatching Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 14:34] SumanthMarigowda-MSFT commented on #30354
@grazianiborcai Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 14:38] AjayKumar-MSFT commented on #30099
@@chrisnorthnj, Just checking in to see if you have had a chance to see my previous response and if it was helpful. We will now proceed to close this thread. If there are further questions regarding this matter, please tag us (@DCtheGeek) in your reply. We will gladly continue the discussion and will reopen the issue.

[2019-04-30 14:38] #30099 closed

[2019-04-30 14:41] SubhashVasarapu-MSFT commented on #30128
@g0pinath , The application gateway uses its frontend public IP to reach the server. The outbound IP of APPGW will be static if the backend pool is configured to use public IP and APPGW should be of V2 sku.

[2019-04-30 14:42] AjayKumar-MSFT commented on #30214
@amjad-Alhusseini, The requested changes now reflects publicly in the document,  so we will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2019-04-30 14:42] #30214 closed

[2019-04-30 14:46] AjayKumar-MSFT commented on #30228
@trichardson01-kellogg, Just checking in to see if you have had a chance to see the previous response from John. We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and will reopen the issue.

[2019-04-30 14:46] #30228 closed

[2019-04-30 14:51] AjayKumar-MSFT commented on #30229
@mkalkere, The requested changes now reflects in the public document, so we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue. Thanks for bringing this to our attention.

[2019-04-30 14:51] #30229 closed

[2019-04-30 14:57] RobertSpokane commented on #30288
Thank you. Re-opening the wizard was the step I didn't realize I needed to do.

[2019-04-30 14:57] #30288 closed

[2019-04-30 15:01] sugarjig opened #30355 "Configuring automatic tuning on server with previously unspecified settings results in no action"
I have an SQL Database server that has never had its automatic tuning settings specified. The portal displays the message "The automatic tuning configuration is not specified. Please specify it by selecting one of the options above." All of the tuning settings are disabled.

I have a PowerShell script that tries to set the default automatic tuning settings for the server level:
[code]

However, wh

[2019-04-30 15:02] sugarjig commented on #30355
The docs page would not let me add an attachment. Here is a screenshot of the portal after running the script:

<img width="1418" alt="Screen Shot 2019-04-30 at 10 55 50 AM" src="https://user-images.githubusercontent.com/639693/56971551-6d249c80-6b37-11e9-845d-a1a1f93b964b.png">

[2019-04-30 15:06] Mike-Ubezzi-MSFT commented on #30353
@Samaws1 Thank you very much for taking the time to detail this documentation issue. I am going to forward this on to the content owner to evaluate and update as appropriate.

[2019-04-30 15:10] nconder commented on #30291
Feedback request link
https://feedback.azure.com/forums/347535-azure-security-center/suggestions/37504357-publish-azure-security-center-default-azure-police

[2019-04-30 15:13] SumanthMarigowda-MSFT commented on #30260
@mtwelve Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-30 15:14] Mike-Ubezzi-MSFT commented on #30333
@verboompj Thank you very much for your interest in Azure cloud services. Are you looking for the specific service tier code to be used in an ARM template or via PowerShell? I am going to assign this to the service area lead who will be able to assist you but, please do update this with the specific use case. Thank you!

[2019-04-30 15:14] MohitDhingra-MSFT commented on #30198
Hi @icebrg ,

"x5t" is X.509 Certificate Thumbprint which is used to identify specific certificates. This claim value emitted only in v1.0 jwt access tokens. As per the [document,](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) The v1.0 endpoint returns both the x5t and kid claims, while the v2.0 endpoint responds with only the kid claim. Going forward, we recommend

[2019-04-30 15:14] #30198 closed

[2019-04-30 15:16] SumanthMarigowda-MSFT commented on #30341
@virajpwr  Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in[ Azure Community forum ](https://azure.microsoft.com/en-in/support/community/)as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenar

[2019-04-30 15:18] SumanthMarigowda-MSFT commented on #30345
@RaviSahuImpetus Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in [Azure Community forum](https://azure.microsoft.com/en-in/support/community/) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your

[2019-04-30 15:25] AjayKumar-MSFT commented on #30231
@djhmateer, Thanks for sharing more details on this issue. Your feedback has been shared with the content owner (@ggailey777) for further review.

[2019-04-30 15:27] SumanthMarigowda-MSFT commented on #30343
@amanmcse Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-30 15:29] AjayKumar-MSFT commented on #30285
Closing as duplicate #30284

[2019-04-30 15:29] #30285 closed

[2019-04-30 15:31] Mike-Ubezzi-MSFT commented on #30341
Assuming this is a Virtual Network issue but could be App Service, so please reassign when we have more information.

[2019-04-30 15:32] deviantlinux commented on #26274
There's a lot of assumptions that the App Service back end assumes about the VNET you're trying to integrate to. Particularly if you already have Point-To-Site configured for road warriors using RADIUS authentication. App Service completely disregards any configuration may already have been configured and does it's own thing, in turn breaking your configuration.

[2019-04-30 15:37] Mike-Ubezzi-MSFT commented on #28882
@MicrosoftDocs/azure-cxp-triage **Triage Driver administrative note:** Moving to Azure Storage bucket in WT as a holding place, as the `azure-netapp-files` service does not seem to fall within a particular area.

[2019-04-30 15:42] Mike-Ubezzi-MSFT commented on #30355
@sugarjig Thank you very much for bringing this to our attention. We are investigating and will get back to you with an update with regard to this functionality.

[2019-04-30 15:42] AjayKumar-MSFT commented on #30284
@haohuancheng, I have tried creating the app exactly as mentioned in the document and was able to ZipDeploy the app. Just highlighting a few steps, kindly re-try and let us know if you need further assistance with this issue for further investigation.
-The cmdlet ‘az webapp list-runtimes’: -
Displays all the available Node versions (0.6 -10.6).
![image](https://user-images.githubusercontent.com/44

[2019-04-30 15:43] virajpwr commented on #30341
I have resolved this issue. The issue was with configuring Azure container registry authentication because of the insufficient privileges.

[2019-04-30 15:43] #30341 closed

[2019-04-30 15:43] gatornation11 opened #30357 "azcopy sync"
azcopy sync issue. If the files are in sync no log file is created. Even though the output indicates that one is generated and a job ID is assigned. It would be nice to see a log file for a sync job had nothing to sync and have an elapsed time value. Another small thing, when I do "azcopy jobs list" it changes the date modified time for all the log files to the time I ran the command. This is very

[2019-04-30 15:53] vrishni commented on #30323
@kiwidamien Thanks for the details. I have executed the same notebook after adding in my AZ_SUBSCRIPTION_ID In the file https://github.com/janakiramm/azureml-tutorial/blob/master/Azure/Salary.ipynb.
I am able to execute the complete notebook successfully without any issue as shown in the snapshot. Could you please check your Roles/permissions to ws("salary") that may be causing the problem of depl

[2019-04-30 16:11] oising opened #30359 "Azure Portal seems to suggest service endpoints available for Web Sites (Microsoft.Web)"
... but the docs above don't show this. Perhaps I'm wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service endpoints](https://docs.microsoft.com/en-us/azure/virtual-network/virtua

[2019-04-30 16:22] jhankins71 opened #30360 "session logoff after inactivity"
Is there a way to configure Storage Explorer to end a session after a given period of inactivity? If not, please consider adding it. Without this capability Storage Explorer does not meet certain security requirements for remote file access. Alternatively, is there a way to force reauthentication with Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-04-30 16:26] Mike-Ubezzi-MSFT commented on #30357
@gatornation11 Thank you very much for the detailed feedback. Can you please confirm the version of AzCopy you are experiencing this issue with? [V10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10) or V8 [Windows](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) or [Linux](https://docs.microsoft.com/e

[2019-04-30 16:29] gatornation11 commented on #30357
Version V10, specifically 10.1.0

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, April 30, 2019 12:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Eric Logeson <eric.logeson@scinovia.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] azcopy sync (#30357)

@gatornation11<https://github.com/gatornation11> Thank you very much for the

[2019-04-30 16:53] Alberto-Vega-MSFT commented on #30083
@walkersa I am sorry you are experiencing this. It seems to be more of an issue with your development environment than doc related. Would you please post on StackOverflow. The community should be able to help you there. Also have you seen this thread? https://stackoverflow.com/questions/37278772/the-net-core-sdk-is-not-installed-or-cannot-be-found-under-the-path

[2019-04-30 16:54] himanshusinha-msft commented on #30253
@RoopAnymous : The link which @CHEEKATLAPRADEEP-MSFT mentioned is working , we are going ahead and closing this issue for now , you can always reopen the issue if you think that's required .

[2019-04-30 16:54] #30253 closed

[2019-04-30 16:55] tamram commented on #12578
For scripting examples, please see:

- https://docs.microsoft.com/en-us/azure/storage/common/storage-encryption-keys-powershell
- https://docs.microsoft.com/en-us/azure/storage/common/storage-encryption-keys-cli

[2019-04-30 16:56] himanshusinha-msft commented on #30066
Since we have not heard back from you on this we are going ahead and closing the issue now . You can always reopen the issue if you think that's appropriate .

[2019-04-30 16:56] #30066 closed

[2019-04-30 17:18] tysonn commented on #28833
Looking into this, it appears the target link goes to microsoft.com. Normally, site logic for locales in a case like this should cause the targeted link to default to en-us if the nl-nl version is not present. The localization team is looking into this to see if there is anything they can do.

[2019-04-30 17:25] MashaMSFT commented on #29274
Hi @jamesapicken , thanks again for contacting Microsoft and improving our documentation! I've added a note to the AHB doc pointing out that adding a VM to an availability set requires recreating with VM so the license type is reset back to default.

I hope that helps and please let us know if we can be of further assistance. If we don't hear back from you within a few business days, we'll assume

[2019-04-30 17:28] woodrum opened #30361 "Depoloyment clarification"
When deploying this via the portal, I had pre-created a log analytics workspace and an automation account, both in separate resource groups.  When selecting the automation account and deploying the solution, it opens a new browser instance and I could filter on other subscriptions.  I had to update the global subscription filter to include multiple subs before adding the solution.  Then I ran into

[2019-04-30 17:29] YutongTie-MSFT commented on #30155
@Uasmi
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-30 17:29] #30155 closed

[2019-04-30 17:32] robinsh commented on #29535
@mahesh2000 The purpose of the tutorial is to show the customer how to set up multiple custom routes and route data to the custom endpoints as well as to the default endpoint all at the same time. You need to have multiple endpoints and hence multiple routes in order to accomplish this.

If I'm understanding you correctly, you mean they should create it, run the app to send the messages to the hub

[2019-04-30 17:32] CeciAc opened #30362 "Missing parameter in authorization request"
@caelistic commented on [Tue Apr 30 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/314)

The parameter "client_assertion" or "client_secret" is missing in the parameters for the authorization request.
Sending the request without one of those parameter returns the following error:
"AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_se

[2019-04-30 17:33] MicahMcKittrick-MSFT commented on #30225
@TurtleBeach any update on this?

[2019-04-30 17:40] Jann-Skotdal commented on #30352
@TechWatching : Thank you for your question-- You will not receive a 429 based solely on the number or frequency of requests, you will receive a 429 if you have exceeded any of the limits listed on the Request limits page. We are revising the documentation to make this more clear.

[2019-04-30 17:42] MarileeTurscak-MSFT commented on #29670
Thank you, @smoms for following up on this.

Correction to the above for anyone else looking: the engineer on the support case confirmed that the token is replaced and sends another token to the client app containing the customer tenant as the issuer, and not Facebook.

Apologies for the confusion and my mistake in saying that it was the same token.

Perhaps worth including in the documentation. C

[2019-04-30 17:44] MicahMcKittrick-MSFT commented on #30332
CC @cynthn

[2019-04-30 17:46] CeciAc opened #30363 "Missing parameter in authorization request"
@caelistic commented on [Tue Apr 30 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/314)

The parameter "client_assertion" or "client_secret" is missing in the parameters for the authorization request.
Sending the request without one of those parameter returns the following error:
"AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_se

[2019-04-30 17:47] v-stepbe commented on #23915
This appears to be resolved with already-existing information available.

#please-close

[2019-04-30 17:49] v-stepbe commented on #16303
This is being looked into.

[2019-04-30 17:51] CeciAc commented on #30363
Hi team,
I'm  moving this here since the user is reporting an error in the en-us page
kind regards

[2019-04-30 17:52] v-stepbe commented on #13521
Finished, waiting to check build before closing.

[2019-04-30 17:53] TurtleBeach commented on #30225
@MicahMcKittrick - scroll down to the bottom of the link - comments made on February 19 describe how to make the New-AzAdServicePrincipal command work with the latest PowerShell (1.8 heading towards 2.0). The problem I referenced was in the actual PowerShell script posted on Github, accessible from a link somewhere in the dizzying number of pages I had to look at (and the dizzying permutations to

[2019-04-30 17:57] TurtleBeach commented on #30225
@MicahMcKittrick - Github won't let me edit. When I said "scroll down...." , I was referring to the link in my original report, NOT the page you referenced. Look at the page you referenced, to find the link to Powershell scripts, which were the basis for my report.

[2019-04-30 18:03] MicahMcKittrick-MSFT commented on #30225
@TurtleBeach ah okay I see. So these

https://github.com/Azure/azure-docs-powershell-samples/tree/master/container-registry

@sptramer can you take a look?

[2019-04-30 18:03] tysonn commented on #24559
This is a localization issue, I've assigned to the loc team for investigation.

[2019-04-30 18:04] Mike-Ubezzi-MSFT commented on #23915
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-30 18:04] #23915 closed

[2019-04-30 18:08] ishasahni1 commented on #24559
@CeciAc can you please look into this issue. Looks like fwdlink issue. The steps have been shared above as to how to repro this issue.

[2019-04-30 18:13] rbmathis opened #30364 "ports command in the compose file are reversed"
Walked through this today and noticed that it doesn't work as-is.  "Error connecting to database".  It appears that the port command is transposed. I switched the ports to "80:8000" and all is well.  The setting is incorrect in the github repo as well.

docs : https://docs.docker.com/compose/compose-file/#ports

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-04-30 18:16] Mike-Ubezzi-MSFT commented on #29989
@wpitallo Apologies for delay in getting back to you. I believe there is a reoccurrence of Change Feed events being reprocessed if you do a basic export and restore. The following Stack Overflow [thread](https://stackoverflow.com/questions/48035031/migrating-a-cosmos-db-fixed-collection-with-partition-key-to-an-unlimited-collec) discusses the availability of a tool that incorporates the Change Fee

[2019-04-30 18:17] #29989 closed

[2019-04-30 18:18] jsaldana7 opened #30365 "Generalize the Windows VM using Sysprep"
Step 2 should be broken into multiple parts as such for a better understanding. The steps given to change the directory are missing steps and should be outlined as such:

1. Sign into your Windows VM

2. Open a Command Prompt window as an administrator.

3. Switch to the Sysprep directory by typing in cd\Windows\System32\Sysprep

4. Type in sysprep and press enter to enter the sysprep GUI

5. In t

[2019-04-30 18:20] ishasahni1 commented on #28833
@CeciAc can you please look into this issue, looks like fwlink issue.

[2019-04-30 18:20] frenchy237 opened #30366 "Lab Creator Role Issue"
This doc says that the Lab Creator Role should be allowed to create labs on their own once they have the role assigned to them. I have received the error: "does not have authorization to perform action 'Microsoft.LabServices/labaccounts/labs/environmentsettings/write' " when trying to create a lab with a user that has the Lab Creator Role assigned. This permission is off by default on the Lab Crea

[2019-04-30 18:23] brcrista opened #30367 "typo"
"especially if you are new to Azure deployment and **your** are not familiar"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec5cd7c-2241-dc13-0f95-be2bbf300d6c
* Version Independent ID: c42e2294-e257-9993-dc9c-5da0453513d9
* Content: [Create and deploy an Azure Resource Manager template by using the Azure portal](htt

[2019-04-30 18:24] kiwidamien commented on #30323
@vrishni can you let me know what you mean by check Roles/permissions? I can look at the IAM console in the portal, but I don't know what I am supposed to be looking for. Ideally if there is something programmatic I can call on the `ws` object itself, I am happy to give an unambigous answer.

I am also a little confused as this notebook creates the workspace, so our difference shouldn't depend on

[2019-04-30 18:24] benjamin-goldman opened #30368 "integrate adding managed ID to AAD group in an AzureDevOps pipeline"
hi -

we are running into a challenge right now.  We want to automate adding the managed identity from the app we create into the aad group as part of an Azure DevOps pipeline - but we seem to be running into a need to manually add the managed ID.

This is a one time task - but manual == bad.

Do you guys have any guidance on how to do this?

---
#### Document details

⚠ *Do not edit this section.

[2019-04-30 18:27] kobulloc-MSFT commented on #30366
@frenchy237 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-04-30 18:27] CeciAc commented on #30362
duplicate

[2019-04-30 18:27] #30362 closed

[2019-04-30 18:32] schellem commented on #30188
The web.config was not updated when installing Microsoft.Web.RedisSessionStateProvider, not a problem with this article I know. So I had to use the 'sessionState' element from here and the providers element is not closed.

Also found this link https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-web-app-howto to provide Redis Cache creation directions.

[2019-04-30 18:35] shashishailaj commented on #30050
@RickB-0923845 As per my understanding there is no such specific requirement to keep tenant ID private. In case of deploying tenant restrictions we use a method called SSL interception. When a proxy server is used for a SSL interception method , the connection between the client and the service (in this case login.microsoftonline _et al._) is encrypted by one certificate while the connection betwe

[2019-04-30 18:35] #30050 closed

[2019-04-30 18:37] xyh1 commented on #26451
The documentation has stated the $web container and web url required. Please let us know if further clarification is needed

#please-close

[2019-04-30 18:39] RickB-0923845 commented on #30050
Thanks!

[2019-04-30 18:41] burtybob opened #30369 "Trigger - usage"
Changing the input parameter from string to "Message" on a V2 function seems to break compilation of the function as follows:
[Error] run.csx(4,24): error CS0246: The type or namespace name 'Message' could not be found (are you missing a using directive or an assembly reference?)
If I go to the linked page for "Message" I can see the namespace specified as "Namespace:
Microsoft.Azure.ServiceBus" y

[2019-04-30 18:42] Shell32-Natsu opened #30370 "customData in metadata service doesn't work"
I tried the newly added *customData* in the metadata service. But in my VM it seems that it doesn't work. The response is empty but the status code is 200.

[code]
I am sure that custom data is set for the vm and it's downloaded to `/var/lib/waagent/CustomData`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5

[2019-04-30 18:43] TravisCragg-MSFT commented on #30097
reopening as the doc should still be fixed, but the comment by @msrini-MSFT holds true for all scenarios, always use the recommended config for your device.

[2019-04-30 18:50] MarileeTurscak-MSFT commented on #30089
This is an Australian article so the date format is correct. If you go to the en-us version of the article it will show the American MM/DD/YYYY format.

[2019-04-30 18:50] #30089 closed

[2019-04-30 18:54] MarileeTurscak-MSFT commented on #30057
@jeevansd any updates on this one?

[2019-04-30 18:55] RobinHSanner commented on #8227
This issue needs to be reopened.  It still exists as of 4.5.1.  Without being able to specify this parameter (regardless of whether it actually accomplishes anything) you can't specify the AcquireTokenAsync overload that takes resourceuri, applicationid, redirecturi.  Supplying new PlatformParameters() results in an exception NotImplementedException.  At the very minimum add the property for Promp

[2019-04-30 18:58] TravisCragg-MSFT commented on #30333
@verboompj ExpressRoute Pricing is found in a different doc, at [https://azure.microsoft.com/en-us/pricing/details/expressroute/](https://azure.microsoft.com/en-us/pricing/details/expressroute/).

Does that have the information you are looking for?

[2019-04-30 19:01] msebolt commented on #12537
This issue is past 90 days and needs to be closed, all items have been addressed.

Please comment below you have any questions.

[2019-04-30 19:01] #12537 closed

[2019-04-30 19:08] mhopkins-msft commented on #29131
The sample has been updated to use .NET Core v2.1.0 and the Microsoft.Azure.Storage.Blob v10.0.1 NuGet package. It has been tested and run from VS2019. Please download the latest version of the sample and try again.
#please-close

[2019-04-30 19:08] mhopkins-msft commented on #28625
The sample has been updated to use .NET Core v2.1.0 and the Microsoft.Azure.Storage.Blob v10.0.1 NuGet package. It has been tested and run from VS2019. Please download the latest version of the sample and try again.
#please-close

[2019-04-30 19:14] coromokes opened #30371 "Is this list still valid since going GA?"
Specifically need to know if diagnostic logging is available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Version Independent ID: fc65764c-2d2a-4901-5c31-82b4566bf3bc
* Content: [Known issues with Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blob

[2019-04-30 19:16] verboompj commented on #30333
Sorry, I meant the expressroute gateway sku's , there is no mentioning of price and performance for all 6 sku's ?

Outlook voor Android downloaden<https://aka.ms/ghei36>

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Tuesday, April 30, 2019 8:58:56 PM
To: MicrosoftDocs/azure-docs
Cc: verboompj; Mention
Subject: Re: [MicrosoftDocs/azure-docs] ExpressRoute

[2019-04-30 19:21] MGoedtel commented on #30272
@sshorkey & @SadiqhAhmed-MSFT  - I just tested the ARM template for installing the solution(s) and it worked as expected.  What I did notice while reviewing the instructions was step 3 is incorrect.  You should not modify the template, and what that step is meant to say is note the workspace ID, resource group name, and workspace location to pass to the respective command line parameters in step 4

[2019-04-30 19:22] kendallroden opened #30372 "AKS in CMS vs. Azure Monitor for Containers"
Why does the documentation say this does not work for AKS when there are demos all over using this with AKS? Also, is there any section on when to use this vs. AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78f-0f1a-20d1-54d8-f30084328bb0
* Conten

[2019-04-30 19:27] MicahMcKittrick-MSFT commented on #30365
@jsaldana7 thanks for the feedback. We have not see many issues related to the steps as they are written so at this point in time I do not believe we need to add any more information. However, this comment will remain on the doc and if we have others coming to this doc and leaving similar feedback we can always reconsider.

[2019-04-30 19:27] #30365 closed

[2019-04-30 19:28] MicahMcKittrick-MSFT commented on #30370
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-30 19:30] TravisCragg-MSFT commented on #30333
@verboompj Azure ExpressRoute has only 2 SKUs, standard and premium. The other options have to do with bandwidth limits and add-ons. Are you referring to [VPN Gateways](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways)?

[2019-04-30 19:37] TravisCragg-MSFT commented on #30359
@oising You are correct, and I see it as well. Let me get some more information on this endpoint and I will get back to you.

[2019-04-30 19:46] verboompj commented on #30333
Thanks, so yes I am, VPN gateway sku's are listed in the doc, expressroute gateways are not.

So they are now grouped / listed as VPN gateways on the azure pricing calculator, and when you select ExpressRoute Gateways in the Type selector, and click the link for Pricing Details ($) , you end up at the referenced Microsoft doc, (  https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/)  tha

[2019-04-30 19:46] LizCasey commented on #11206
In reviewing the article, this issue has been addressed, so I'm closing this PR. Thanks!

[2019-04-30 19:46] #11206 closed

[2019-04-30 19:48] angellmethod opened #30373 "Classification link goes to regression model tutorial"
The link for "Tutorial: Train a classification model with automated machine learning" goes to the Regression Module tutorial (https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-auto-train-models)  Either the link should be switched to classification or the wording should be changed to regression to match the current link.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-04-30 19:50] CeciAc commented on #24559
Hi @ishasahni1
We just checked this with our team and we couldn't reproduce the issue
I see the original comment is from February, could it be already fixed?
@DavidPrio @Gonzalo-Salines

[2019-04-30 19:53] jeevansd commented on #30057
@andyjcooperuk Not yet. But once we release it then we will add it here. So keep an eye on the doc and updates.

[2019-04-30 19:53] jeevansd commented on #30057
#please-close

[2019-04-30 19:57] ng-marcus commented on #11383
I'll post the code we use.

First of all, we use the following:

[code]

[2019-04-30 19:59] javierruizjimenez commented on #24559
Thanks. It is not fixed I get a 404.

The issue is on the website azuremarketplace.microsoft.com

Not on the links that point to that website. Links are just a way to trigger the error. If the link includes the language (so it is not language neutral) the website returns the correct page.

The error is that
azuremarketplace.microsoft.com doesn't do language negotiation for languages without a coun

[2019-04-30 19:59] ng-marcus commented on #11383
Then we get the token, it's either an ID token if testing direct from the browser, or an access token if called from our Spfx app:

[code]

[2019-04-30 20:01] ng-marcus commented on #11383
And finally we exchange the token for the API we need:

[code]

[2019-04-30 20:01] ng-marcus commented on #11383
I hope that helps, let me know if you have any questions.   This is running on v1 function apps.

[2019-04-30 20:02] VedAustin commented on #30202
It looks today, I was able to upgrade to 2.6.1080 and the above issue goes way. I am now presented with this:
[code]

[2019-04-30 20:04] rangerlynch7 commented on #12283
Is this fixed lately, can we route on prem network through Azure Firewall for internet?

[2019-04-30 20:05] TravisCragg-MSFT commented on #30333
@verboompj The doc that describes [ExpressRoute Gateway SKUs is Here](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways). I believe the other 3 Gateway SKUs are legacy, but will still appear in the calculator.

[2019-04-30 20:07] TravisCragg-MSFT commented on #12283
@rangerlynch7 This has always been working, but my disclaimer remains true. Please see the [Azure Feedback post for more info on inbound policies](https://feedback.azure.com/forums/217313-networking/suggestions/34869658-azure-firewall).

[2019-04-30 20:09] mike-urnun-msft commented on #30071
@dwumpus Just following up here, let us know there are any specific change that you'd like us to drive as part of an improvement. Otherwise, we'll proceed to close this issue.

[2019-04-30 20:12] verboompj commented on #30333
Tnx for the doc ! It lists the info I needed, tnx.
Previously the VPN gateway doc would mention both (VPN & expressroute) in one article, listing performance and hourly rates for both. Appears that's no longer the case, hence finding specifics on ER gw sku's is more difficult now. Perhaps linking the doc you just provided is an option?

Outlook voor Android downloaden<https://aka.ms/ghei36>

_____

[2019-04-30 20:14] karlrissland opened #30375 "MongoDB can't be run as the first container in your compose file"
The mongo image opens port 80 and port 27017.  If you have the mongo image defined at the beginning of your compose file, app service grabs the mongo port 80 and exposes it for web traffic instead of any other image in the compose file.  The Ports directive doesn't appear to have any affect.  i.e. I map mongo port 80 to port 3002 on the host and the problem still exists.

See yml below for example

[2019-04-30 20:16] rangerlynch7 commented on #12283
@TravisCragg-MSFT awesome, my use case is we have a few servers on our floor(a data center in a room), they are just local dev servers, they need internet connectivity very occasionally for patching, so latency is not a problem. We dont want to pay for the expensive firewall solution on prem anymore(we migrated a lot of servers to Azure and are considering using Azure Firewall), Thank you

[2019-04-30 20:24] craigcaseyMSFT commented on #11663
It looks like the original issue has been addressed, and since it is > 90 days, I am closing this. Thanks!

[2019-04-30 20:24] #11663 closed

[2019-04-30 20:24] MarileeTurscak-MSFT commented on #30063
Assigning your feedback to the content author, @eross-msft , for review.

[2019-04-30 20:32] john-par commented on #11716
It looks like this issue has been addressed, so I am closing this. Thanks!

[2019-04-30 20:32] #11716 closed

[2019-04-30 20:36] Adam-Smith-MSFT commented on #30360
@jhankins71 Thank you for the valuable feedback,we are investigating the issue.

[2019-04-30 20:44] csteegz opened #30376 "SSL create doesn't work"
The example SSL config doesn't work - failing with

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d00728b-7e0d-c586-8a37-c2f5dbc8b115
* Version Independent ID: 7aa5d565-40a8-7b7c-4e9d-8ecd16829f87
* Content: [Secure web services with SSL - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/

[2019-04-30 20:44] vhorne commented on #24184
@OffColour

This has been fixed. v2 was released to GA today, so it should work now.
#please-close

[2019-04-30 20:47] MarkusVi commented on #28579
#please-close

[2019-04-30 20:48] MarkusVi commented on #28414
#please-close

[2019-04-30 20:49] MarkusVi commented on #28407
#please-close

[2019-04-30 20:49] gatornation11 opened #30377 "azcopy source is unc path"
Will UNC paths work for the source. I want to schedule a job to run to sync a local share to a blob. I tried running it and get this error. It gets about half way through the files and dies with this error.
140204 Files Scanned at Source, 0 Files Scanned at Destinationpanic: runtime error: invalid memory add
ress or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x18 pc=0xa4f9fa]

gorout

[2019-04-30 20:50] sunlightpal opened #30378 "Missing "s" in "Standard_E32-16_v3""
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a253b76-991a-cfe5-ae89-973344788891
* Version Independent ID: 173a3c58-1386-6b01-4f5b-849f0a809ec0
* Content: [Azure constrained vCPU sizes - Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/constrained-vcpu)
* Content Source: [articles/virtual-mach

[2019-04-30 20:56] mike-urnun-msft commented on #30162
@sweetmoniker We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-30 20:56] #30162 closed

[2019-04-30 20:57] oising commented on #30359
@TravisCragg-MSFT I'm not sure I understand -- it _is_ out because I see it in the public portal! Do you mean it's in preview, and not full released? Your wording says that it's not even in preview yet...

[2019-04-30 20:58] mike-urnun-msft commented on #30196
Hi @sowsan Just following up here, let us know if the above help answer your question.

[2019-04-30 20:59] LizCasey commented on #11333
This document was recently updated; it looks like this issue no longer exists, so I'm closing this. Thanks.

[2019-04-30 20:59] #11333 closed

[2019-04-30 20:59] sowsan commented on #30196
Great. Thank you @alexkarcher-msft and @mike-urnun-msft .

[2019-04-30 20:59] #30196 closed

[2019-04-30 21:01] TravisCragg-MSFT commented on #30359
@oising I know this is strange, but my wording is correct. Despite it being in the portal, it is not yet useable, and it is not yet in a preview state.

[2019-04-30 21:05] oising commented on #30359
@TravisCragg-MSFT that would explain why I couldn't get it working... lol (very pained lol, at that.)

[2019-04-30 21:07] LizCasey commented on #11374
It looks like this issue has been responded to and addressed, so I'm closing this PR. Thanks!

[2019-04-30 21:07] #11374 closed

[2019-04-30 21:08] TravisCragg-MSFT commented on #30359
@oising My apologies for the inconvenience! I will follow up and see if we can get it disabled (or at least a disclaimer) until it is in public preview.

[2019-04-30 21:09] #30057 closed

[2019-04-30 21:11] stevestein commented on #30174
@GregHainesTDC - thanks for pointing this out. The date was unfortunately incorrect, but the article contents should be current.

[2019-04-30 21:11] stevestein commented on #30174
#please-close

[2019-04-30 21:12] TravisCragg-MSFT commented on #30174
@GregHainesTDC We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-30 21:12] #30174 closed

[2019-04-30 21:17] LereveLabs commented on #11755
What if you have a routing like:
survey/{id}
survey/{id}/pay

I'd like to order the later first.  As of now I'm having the same prob as described above.  When I call survey/{id}/pay it is hitting the first route :(

[2019-04-30 21:25] Karishma-Tiwari-MSFT commented on #30378
@sunlightpal Thanks for the feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-30 21:25] MarileeTurscak-MSFT commented on #30363
I am closing this out since this is still on the German page. Feel free to open this on the US page.

[2019-04-30 21:25] #30363 closed

[2019-04-30 21:31] ishasahni1 commented on #24559
@honghuig @honghuiguo@gmail.com can you please look into this issue when customer click on the Azure Marketplace link on docs they are getting 404. Please see more details above.

[2019-04-30 21:34] cobrauf commented on #29722
Thanks for the reply, I will give this a try. I wasn't able to figure out
how to get the pose of the spatial anchors in the "
AzureSpatialAnchorsLocalSharedDemo " scene. In that example, the spatial
anchor do get correct position on re-location from the cloud, but the
rotations are off.

On Mon, Apr 29, 2019 at 5:41 PM Patrick Cook <notifications@github.com>
wrote:

[2019-04-30 21:36] mrdfuse commented on #30144
I don't know about not updating the docs? I just stumbled against the same issue and luckily I thought of checking the closed issues here, but other people might just follow the documentation and get stuck.

[2019-04-30 21:45] sunlightpal commented on #30378
Apologies here is the link

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/constrained-vcpu

[2019-04-30 21:47] amitagrawal09 commented on #22863
You can't copy data directly from Glacier, the file have to in HOT S3 bucket for this to work.

[2019-04-30 21:47] SaurabhSharma-MSFT commented on #29940
@rupeshprasad I do not think that is possible now but I will check internally with the product team and let you know.

[2019-04-30 21:55] femsulu commented on #30367
@brcrista Thanks for catching this. We are actively working to resolve the typo.

[2019-04-30 21:57] john-par commented on #11946
It looks like this issue no longer exists, so I am closing this. Thanks!

[2019-04-30 21:57] #11946 closed

[2019-04-30 22:02] shadyshrif opened #30380 "This project can't be hosted on Azure"
I tried to host it on azure and I got tons of errors!
can you please update the dependances and make sure that the project is working!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Version Independent ID: 55d51b2a-c8fe-086e-a1c2-b0592f57967c
* Content: [Host RESTful API with CORS

[2019-04-30 22:02] himanshusinha-msft commented on #30354
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-30 22:08] femsulu commented on #30372
@kendallroden, thanks for comment. Just wanted to confirm this is the paragraph you are referring to (below)?
adding @MGoedtel for input and potential updates to the doc. If possible, can you share links to specific demo to confirm the above.
![image](https://user-images.githubusercontent.com/34327711/56996580-dae1c000-6b59-11e9-9988-9f74a6ee055c.png)

[2019-04-30 22:11] craigg-msft commented on #21476
#please-close

[2019-04-30 22:15] eschrader opened #30381 "Debug error"
I believe I installed everything in the pre-reqs but when I hit F5 on my function I get "Attachnig to process with CustomPipeName is only available with PowerShell 6.2 and higher (currect session is 5.1.17763.316). [Open launch.json] [cancel] from Visual Studio Code. I installed PowerShell 6.2 but maybe I need to reboot or install the Non-VS 2019 .NET Core 2.2 SDK?

---
#### Document Details

⚠ *D

[2019-04-30 22:16] femsulu commented on #21476
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-30 22:16] #21476 closed

[2019-04-30 22:20] eschrader commented on #30381
Rebooted and hit F5 to debug and get Timed out waiting for the PowerShell extension to start. [Open launch.json] [Cancel]

[2019-04-30 22:22] eschrader commented on #30381
Went back to run.ps1 and had a PowerShell not started error, opened the extension page, closed it and hit F5 now I get the same error about CustomPipeName again.

[2019-04-30 22:26] Karishma-Tiwari-MSFT commented on #30182
@frachel You are right, this doc needs to be updated with the latest screenshots. This is what I see in the Azure portal:
![image](https://user-images.githubusercontent.com/20851144/56997272-18dfe380-6b5c-11e9-8a4c-7a3b99b11d10.png)
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-30 22:37] Karishma-Tiwari-MSFT commented on #30378
@sunlightpal Thanks for sharing the link. I have created a PR with the correction and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/75413

[2019-04-30 22:45] Karishma-Tiwari-MSFT commented on #30378
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-30 22:45] #30378 closed

[2019-04-30 22:53] femsulu commented on #30367
@brcrista PR deployed to fix this issue. the fix should be live in 24 hours. We will now close this request. thanks again for catching this.

[2019-04-30 22:53] #30367 closed

[2019-04-30 22:53] Karishma-Tiwari-MSFT commented on #30186
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @cynthn

[2019-04-30 23:03] SaurabhSharma-MSFT commented on #30033
@Mark7even yes, I believe so as it is one which falls under HIGH which Azure AD Identity Protection detects today.
However, I am assigning this issue to the author in case he has any visibility of any other risk event types available for High and Low other than mentioned in the document.
@MarkusVi can you please check and let us know in case any other risk event types needs to be added to this doc

[2019-04-30 23:07] tamram commented on #30072
@Kaviarasi - It's true that when a blob is publicly accessible, anyone can read it, and there are data transfer charges associated with reading data. That's why you want to use this feature judiciously. Only make blobs publicly available when there is a true need for it, for example, if the blob is a file available for download on a website.

#please-close

[2019-04-30 23:08] aschultz opened #30383 "Missing documentation on the stencils"
It's not clear what the difference between some stencils are and when they should be used. There's essentially no documentation here. A few examples:
- A process performs a ShellExecute to run and pass arguments to another application. Is this best modeled as a Generic Data Flow?
- A process uses a WebSocket to communicate with a server. Is this best modeled as a Binary data flow?
- When should I

[2019-04-30 23:12] TravisCragg-MSFT commented on #30359
reopening this issue.

@ccompy can we disable the microsoft.web endpoint in the portal, or at least add a disclaimer until it is in public preview?

[2019-04-30 23:23] tfosmark commented on #22169
Thanks, @rayne-wiselman!

[2019-04-30 23:23] #22169 closed

[2019-04-30 23:24] nprieto95 opened #30384 "Blob Storage Content-Type"
Is it possible to specify the Content-Type that we want the sink blobs to have? Currently I see them always set to application/octet-stream (I use binary copy), even for Excel files for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df7b56de-6c44-a6a7-7cb1-2d77025f17f5
* Version Independent ID: fa99fc00-8d68-a

[2019-04-30 23:25] jfalameda opened #30385 "Unclear what the ip address to fetch the Azure Resource Manager token"
On the following section "In your Service Fabric application code, obtain an access token for Azure Resource Manager by making a REST all similar to the following:" It is very unclear what the IP address "169.254.169.254" accounts for.

Is this an example or is it the IP address to use on any service?

Thanks.
José.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-04-30 23:29] femsulu commented on #30361
@woodrum Thanks for the valuable feedback. AFAIK, this is a [service (not a solution) limitation](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions#log-analytics-workspace-and-automation-account).
Adding @georgewallace to confirm the above and share any workarounds if possible. I also suggest sharing your feedback on the Start/Stop solution using [this link ](https://feedback

[2019-04-30 23:29] jfalameda opened #30386 "Hard to know how to obtain some values"
In the section "deploy key vault certificates to your cluster" is is very hard to know how to obtain the following values:

sourceVaultValue
certificateStoreValue
certificateUrlValue

It would be very valuable to point to other articles where information about how those values can be obtain from the Azure portal.

Thanks.
José.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-04-30 23:29] tfosmark commented on #22360
@thomasdc The change has been submitted for publication and will be live on May 6. Thank you!

[2019-04-30 23:31] tfosmark commented on #22183
@sharkymcdongles Thank you for the feedback! As this is now addressed, I'm closing this issue.

[2019-04-30 23:31] #22183 closed

[2019-04-30 23:31] himanshusinha-msft commented on #30264
@djpirra : Well unfortunately it does work fine on our side . We are sure that you are using ADF v2 , but just wanted to check that .

<img width="675" alt="Trigger_issue" src="https://user-images.githubusercontent.com/47539458/56999689-1635bc00-6b65-11e9-8e98-f068889e58a9.png">

We know this is not a blocker for you at this time but we will have  to engage few other teams to get this
repro-ed and

[2019-04-30 23:40] tfosmark commented on #12034
@frehnejc It looks like this issue [has been addressed: many screenshots were updated and parts of the article were rewritten. Thanks for the feedback!

[2019-04-30 23:40] #12034 closed

[2019-04-30 23:42] tfosmark commented on #12247
It looks like this issue has been addressed in the article, so I'm closing this. Thanks!

[2019-04-30 23:42] #12247 closed

[2019-04-30 23:53] JustinGrote opened #30387 "Using Visual Studio Code Link not correctly formatted"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-powershell-local#debug-in-visual-studio-code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91c3121-aea2-9a38-c44c-45cc5bbc9248
* Version Independent ID: c3c5199d-cff8-f313-dfc6-41499941e505
* Content: [Debug PowerShell Azure Functions locally](htt

[2019-04-30 23:55] kobulloc-MSFT commented on #30338
@bazmandude You can view a list of platforms that are compatible with Application Insights here:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/troubleshoot-faq#can-i-use-application-insights-with-

- Web apps on an IIS server - on-premises or in a VM
- Java web apps
- Node.js apps
- Web apps on Azure
- Cloud Services on Azure
- App servers running in Docker
- Single-page web apps
- Sha

[2019-04-30 23:55] #30338 closed

[2019-04-30 23:55] SaurabhSharma-MSFT commented on #30058
@xNiklasJern can you please elaborate your scenario why you want to block admins to do the license assignments ?

[2019-05-01 00:04] Mike-Ubezzi-MSFT commented on #30377
@gatornation11 Thank you for the inquiry. We are investigating and will update you when we have accurate information about this functionality.

[2019-05-01 00:07] SaurabhSharma-MSFT commented on #30109
@ynijsen Unfortunately, Microsoft Authenticator app is not supported in Azure AD B2C.  We already have a user feedback available [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19225414-add-support-for-the-microsoft-authenticator-app-in).  Please up-vote the same so that the product team can prioritize and include into their plans.

[2019-05-01 00:09] YutongTie-MSFT commented on #30266
@robertwood62
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-01 00:09] #30266 closed

[2019-05-01 00:12] YutongTie-MSFT commented on #30373
@angellmethod
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-01 00:12] YutongTie-MSFT commented on #30376
@csteegz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-01 00:17] Karishma-Tiwari-MSFT commented on #30386
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-01 00:18] Karishma-Tiwari-MSFT commented on #30385
Thanks for the question. We are currently investigating and will update you shortly.

[2019-05-01 00:25] itsjpavank commented on #30258
It will be nice to add steps of connecting with AAD app. Something similar to information @ https://michaelcollier.wordpress.com/2016/11/03/connect-to-azure-sql-database-by-using-azure-ad-authentication/#register

[2019-05-01 00:25] MarileeTurscak-MSFT commented on #30343
@amanmcse For your first question about recent risky sign-ins and risk history, the risk history contains the risky events that are related to the user risk such as a user performing a secure password change, whereas the recent risky sign-in contains information related to the sign-in itself. So the risk history may not contain the exact risky sign-in, but may contain related events. CC: @Microsof

[2019-05-01 00:25] Mike-Ubezzi-MSFT commented on #30369
@burtybob Thank you for bringing this to our attention. We are investigating and will update this issue when we have additional information.

[2019-05-01 00:30] BryanTrach-MSFT commented on #30364
@rbmathis Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-01 00:31] Mike-Ubezzi-MSFT commented on #30371
@coromokes Thank you very much for your inquiry. We are investigating and will update this issue when we have additional information.

[2019-05-01 00:32] BryanTrach-MSFT commented on #30380
@shadyshrif Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-01 00:35] BryanTrach-MSFT commented on #30375
@karlrissland Thanks for the feedback and for discovering this dependency! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-01 00:36] BryanTrach-MSFT commented on #30368
@benjamin-goldman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-01 00:53] wasabii commented on #25098
Your response doesn't address my question. I'm not sure how much clearer I can be.

I have asked two things, I think:
a) Only a single SRV record is resolved for a service that lives on multiple nodes.
b) The SRV record format is not in compliance with RFC2783.

You responded about the service DNS name. I am not asking about the service DNS name. I am asking about the format and count of the SRV r

[2019-05-01 01:07] wasabii commented on #25098
I am retracting question (a), as a recent version of Service Fabric has fixed a bug I was seeing that was resulting in only a single SRV record response for services that lived on multiple nodes.

(b) still remains though. Maybe I can spell it out a bit clearer with examples.

RFC2782 says that SRV records must be in the following format:

`
The format of the SRV RR

   Here is the format of the S

[2019-05-01 01:08] mike-urnun-msft commented on #30381
Hi @eschrader Thank you for your feedback! We will review and update as appropriate.

[2019-05-01 01:08] ashishmundrajll opened #30390 "Azure AD B2C Javascript SDK"
Hi All,

Azure AD B2C seems to have several issues with the way default UI is layout. E.g. when using ForgetPassword the labels are missing and we are unable to change logo in the left side of Forget Password page.

Also, on Login Page we want to hide password on click of a checkbox and have a button named Single Sign-On when checkbox is clicked (can be achieved by Javascript) which will take user

[2019-05-01 01:27] kobulloc-MSFT commented on #30366
@frenchy237 Following the documentation, I was able to successfully publish the template with both the Creator and the Lab Creator role.  While reproducing this, I did notice that the Lab Creator role was not initially set for my non Creator account when I could have sworn I set that up.  My recommendation would be to confirm that the Lab Creator role saved successfully.

![image](https://user-ima

[2019-05-01 01:38] Mike-Ubezzi-MSFT commented on #30384
@nprieto95 Thank you for the inquiry. We are investigating and will update this issue when we have accurate information.

[2019-05-01 01:41] Mike-Ubezzi-MSFT commented on #30383
@aschultz Thank you for the detailed inquiry. We are investigating and will update you when we accurate information to provide as a response.

[2019-05-01 01:44] Mike-Ubezzi-MSFT commented on #30387
@JustinGrote Thank you for bringing this to our attention. We are evaluating this and will take the appropriate action to get this corrected.

[2019-05-01 01:49] elvirk opened #30392 "Template doesn't work"
It is not mentioned in tutorial but needs following modification.
Under "type": "Microsoft.Compute/virtualMachines", change "variables" to "parameters" for Storage.

 "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-01 01:49] Mike-Ubezzi-MSFT commented on #30390
@ashishmundrajll Thank you very much for bringing this to our attention. We are investigating and will update this issue when we have accurate information.

[2019-05-01 01:57] screamyao commented on #30323
I'd recommend breaking down the process step-by-step. First build the image, make sure that's successful, then deploy. The tutorial tries to do it in one shot and sometimes it's very difficult to debug. I tend to follow the steps in https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where.

[2019-05-01 03:08] NT-D commented on #29806
Thank you very much @Adam-Smith-MSFT  and @xyh1 for catching feedback!
Btw, I love blob static web site hosting function. Thank you very much for making cool product ;)

[2019-05-01 04:06] subhankars commented on #25742
This is not only in inbound policies, if the client secret has those above mentioned special characters it doesn’t work from anywhere other than postman or similar tools. To troubleshoot the problem I tried to POST from an logic app too to get the token but it says unauthorised all the time, whereas same secret works in postman. Either the client secret shouldn’t have those special characters or w

[2019-05-01 04:36] SumanthMarigowda-MSFT commented on #30392
@elvirk Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 04:40] chanmmn opened #30393 "What is the Reply URLs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-01 04:54] tudort-iquest commented on #21476
I'm sorry, but the prerequisites step in this tutorial has remained unchanged, so for somebody going through this tutorial for the first time, without being an ITpro, a link in the comments is not useful.

[2019-05-01 05:03] kiwidamien commented on #30323
Hi @screamyao,

I have looked at that document as well. The error occurs when the image is created, and it is the same error. In the cell
[code]
the error is
[code]

[2019-05-01 05:15] andersdissing commented on #11383
Hey @ng-marcus Thank you. We finish our POC yesterday and end up with pattern.

[2019-05-01 05:32] SumanthMarigowda-MSFT commented on #30393
Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in [Azure Community forum](https://azure.microsoft.com/en-in/support/community/) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on

[2019-05-01 06:15] aelij opened #30394 "NamespaceManager vs ManagementClient"
Does this limitation also apply to the newer .NET Standard library's `ManagementClient`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c25a321-1f2d-4fec-a957-cfca751941df
* Version Independent ID: 9e73bfda-aa08-ee1f-2c17-5cbabe9155b9
* Content: [Managed identities for Azure resources with Azure Service Bus preview](h

[2019-05-01 06:18] talktovishal commented on #27175
hi @petrpucek ,

Thanks for the detailed repro. For the scenario where you give the request as text/html, i understand we are handling the tags correctly but you don't get alignment, correct? I will open a bug to see why the alignment is not being returned and will investigate to fix the same. Please note, it's possible that we may not give the alignment if we are not confident about the same.

Ca

[2019-05-01 06:21] SnehaAgrawal-MSFT commented on #30125
@wahyuen Thanks for your response! The save button is greyed out because the selected aad app already has role assignment (hence access) for media account. The access of service principal for media account can be verified through Access control blade ([Media account] > Access control (IAM) > Role assignments).
When the Service principal blade is loaded it auto selects a service principal, having r

[2019-05-01 06:24] siddiqaa opened #30395 "What's the purpose of speech-processor.js in version 1.4.1 zip package?"
Documentation mentions two files in the zip package but there are more than 2. There's also a file in the 1.4.1 zip package called speech-processor.js which is not mentioned in documentation. Is that needed for the client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a765d478-6ca6-7555-dfc8-260e7adf7523
* Version Ind

[2019-05-01 06:34] SumanthMarigowda-MSFT commented on #30394
@aelij Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 06:36] SumanthMarigowda-MSFT commented on #30395
@siddiqaa Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 06:42] antgonmir opened #30396 "Storage firewall, virtual networks and operations with Blobs"
When restricting access to a storage account for specific virtual networks and subnets, it is not possible to access the data within the containers, as expected.
However, it seems that it is still possible to list existing blob containers, create them, delete them and even change the IAM settings for each of them, at least via the Azure Portal. Shouldn't all these operations be forbidden if perfor

[2019-05-01 06:47] siddiqaa commented on #30395
@SumanthMarigowda-MSFT Thank you - I edited my original issue description with more details and look forward to the response.

[2019-05-01 07:53] SubhashVasarapu-MSFT commented on #30128
@g0pinath , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-01 07:53] #30128 closed

[2019-05-01 07:55] SubhashVasarapu-MSFT commented on #30227
@christiankuhtz , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-01 07:55] #30227 closed

[2019-05-01 08:18] DBojsen opened #30399 "Staged Copy documentation is misleading"
Reading this documentation, I would assume that i could use staged copy to copy from On-Prem SQL thru IR1 to Azure SQL Database Managed Instance thru IR2 - however that is not the case.
The pipeline with the activity will not validate with an error message stating that both source and sink needs to use same IR.

I do think that this sentence "Currently, you can't copy data between two on-premises

[2019-05-01 08:31] SumanthMarigowda-MSFT commented on #30396
@antgonmir Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 08:32] SumanthMarigowda-MSFT commented on #30399
@DBojsen Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 09:00] vapaunic opened #30403 "References to HyperDriveRunConfig should be updated to HyperDriveConfig"
[Enter feedback here]
This document references HyperDriveRunConfig class. This should be changed to HyperDriveConfig, as the former one will be deprecated. Using HyperDriveRunConfig returns a message:
"HyperDriveRunConfig is deprecated. Please use the new HyperDriveConfig class."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-01 09:02] bertrandpons opened #30404 "General Question - Azure Blob Storage - Retrieve user that reads or writes blob in Storage Container"
Hello

I have a question regarding Blob Storage: how to know the AD user that writes or reads a blob file in a container. I cannot see the property at blob level, neither in Storage Account Activity Log (at least for a specific blob file).

Is there a way to know, for each blob in my container, which user has accessed it and how it dealt with the blob?

Many thanks for your help

[2019-05-01 09:08] rayne-wiselman commented on #30103
Hi @taromielnaz Thanks for your feedback. The tutorial is an article that documents the simplest scenario. The FAQ documents that:
- Failover isn't automatic: https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-faq#is-failover-automatic)
- What to do if the primary region goes down: https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-faq#if-im-replicating-between-two-

[2019-05-01 09:30] rayne-wiselman commented on #29731
@johnwildes Thanks for your feedback. This article has been published at https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner-history
#please-close

[2019-05-01 09:38] psallis commented on #29302
I think this is linked. I have created a subnet and connected an app without issue.
I've created a second subnet in the VNET and was able to associate to a second  app plan. However, my app is unable to make a connection? Is there limitation on the number Apps Plans and Subnets per vnet?

[2019-05-01 09:54] shashishailaj commented on #30064
@0acff4be45 and  @Scottyy360  . I did verify the findings by you and I get the same error. Thank you for your contributions on this. I have fixed the script and will submit a pull request for review . It should get updated within the next 24 hours.

The script block was missing a pipe sign due to which the output of the previous cmdlet  `$groupId`. `Get-MsolGroupMember` was not present within the

[2019-05-01 10:16] rayne-wiselman commented on #30014
@nwehner Thanks for your feedback.

I don't see an issue with the instructions, but please try following these instructions instead for creating an Azure network - I see both a default address space and range following these. https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal

[2019-05-01 10:23] andresferreira commented on #28487
The tutorial like https://www.codeproject.com/Articles/1272146/Azure-Cosmos-DB-SQL-API-getting-started-tutorial used to be more interesting to understand .NET concepts

[2019-05-01 10:26] chrisdoofer opened #30407 "Supported AZ's correction"
The list of supported regions states UK West.  UK West does not suppot availability zones.  Should this read UKS that does support AZ's?

Kind Regards
Chris
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Autos

[2019-05-01 10:31] chi-ltd opened #30408 "IIS over the web"
Doesn't work im afraid.  I can access this locally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines

[2019-05-01 10:35] shashishailaj commented on #30142
@holwech We have updated the article with a note and a reference to the application manifest documentation. Please check the article [Application manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-reference) to understand more about the same. By default the application currently receives a v1 token . if this is not defined within the applicati

[2019-05-01 10:35] #30142 closed

[2019-05-01 10:39] #30064 closed

[2019-05-01 10:39] mayurigupta13 commented on #29731
Can we also point the link on section- https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner#version-history and on section - https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-deployment-planner-overview#version-history to your new history page?
Also, there is a small misalignment in 2.4 release notes. The last 2 bullet points are not under error messages

[2019-05-01 10:47] SumanthMarigowda-MSFT commented on #30403
@swatig007 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 10:49] SumanthMarigowda-MSFT commented on #30404
@bertrandpons Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in[ Azure Community forum ](https://azure.microsoft.com/en-in/support/community/)as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your sce

[2019-05-01 10:50] SumanthMarigowda-MSFT commented on #30407
@chrisdoofer Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 10:51] SumanthMarigowda-MSFT commented on #30408
@chi-ltd Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 10:57] rayne-wiselman commented on #29731
Sure. I’ll also update the wiki page to point to this

From: Mayuri Gupta <notifications@github.com>
Sent: Wednesday, May 1, 2019 1:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Planner Version History on DOCS (#29731)

Can we also point the link on section- ht

[2019-05-01 11:29] anthony-schneider opened #30409 "Step 4, installing the side-by-side stack, appears to no longer be needed"
FYI:  From my testing (as well as reports in the Yammer group) it appears Step 4 in section "Register the virtual machines to the Windows Virtual Desktop Preview host pool" is no longer required.  If that's correct, please update this package accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bfcfbec-b7ca-57e

[2019-05-01 12:22] #29731 closed

[2019-05-01 12:33] falmada opened #30410 "Having issues accessing Function App URL will also lead to this same error message"
We have a function App deployed within an App Service Environment, and we have seen that if the Function App hostname cannot be resolved (a DNS query is unable to resolve the function app server hostname on the client/user's workstation) it will trigger this error too. Solution is to hardcode entry on /etc/hosts pointing to both scm and app server domains with the App Service Environment's IP or s

[2019-05-01 12:33] falmada commented on #30410
Sorry, said /etc/hosts but well, you get it, it's hosts file on either Linux or Windows user's workstation.

[2019-05-01 12:35] SumanthMarigowda-MSFT commented on #30409
@anthony-schneider Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 13:02] #26451 closed

[2019-05-01 13:21] woodrum commented on #30361
Thanks... also, I'm receiving this error:

Get-AzureVM : ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription.

It appears I'm getting this twice for each VM excluded (using the external_ExcludeVMNames variable).  Is this normal and can it be suppressed so it's not in the alert emails?  Thanks.

[2019-05-01 13:21] PramodValavala-MSFT commented on #30243
@blueelvis There are a couple of limitations which I believe still hold true from the [official announcement](https://github.com/Azure/app-service-announcements/issues/84) of this feature.

Apart from them, I believe the [limits of App Service Plans](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#app-service-limits) would also hold true especially with respect to storage.

[2019-05-01 13:22] GreggRevak opened #30411 "Provide troubleshooting steps or links"
Your page lists common or likely causes but doesn't provide any information on how to address the problem. You should provide steps and links to support documents for each cause.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d74-8dcb-e644-9647-0d1d0817f975
* Version Independent ID: e249cc9d-2120-8868-dbca-bc3b85f

[2019-05-01 13:22] markjbrown commented on #30314
Fail over in multi-master happens when the SDK client detects the regional endpoint is no longer responding. It will automatically fail over to the next closest region configured for the account. This is RTO = 0.

For single-master, RTO is < 15 from the time the region is detected as bad but it can take as little as 5 minutes. Suggest you look at this doc here for more information, https://docs.mi

[2019-05-01 13:23] cap273 opened #30412 "Guidance on Timeout Redirect URL and Mobile App Login Redirect URL?"
This documentation is missing guidance on Workday configuration items. Specifically, the Workday Single-Sign On settings ask for the following two items:
- Timeout Redirect URL
- Mobile App Login Redirect URL

For integration with Azure AD, what should these URLs be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18eab

[2019-05-01 13:23] PramodValavala-MSFT commented on #30118
@mganeshphani I believe this isn't supported. Please feel free to open a feature request on [UserVoice](https://feedback.azure.com/forums/287593-logic-apps) for this.

As a workaround, you should be able to use the [OneDrive REST API](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/getting-started/?view=odsp-graph-online) instead.

[2019-05-01 13:27] HolyChris opened #30413 "All of the /voices/list links are broken"
Unable to see a list of supported voices as all of the /voices/list links are broken

EG
- https://westus.tts.speech.microsoft.com/cognitiveservices/voices/list
- https://westus2.tts.speech.microsoft.com/cognitiveservices/voices/list
- https://australiaeast.voice.speech.microsoft.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-05-01 13:28] nguaman opened #30414 "CC entity is returning Internal Server Error"
Hello,
For some reason the Paper entity 'CC' is returning Internal server Error.

{u'Error': {u'Code': u'Internal Server Error',
            u'Message': u'One or more errors occurred.'}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7fdc3-0631-b959-0af4-faf35d512e67
* Version Independent ID: d43cbd6a-5dd1-0e6a-70cb

[2019-05-01 13:29] theonewolf commented on #28822
Any updates from the product team?

[2019-05-01 13:39] EikisteinS opened #30415 "Warning about using event hub and azure monitor logs is not clear if not wrong"
"Using event hub or Azure Monitor logs as targets for audit logs at the server level is currently not supported for secondary geo-replicated databases." This warning is certainly not clear. SQL Server Auditing could be set at server level and at database level. Yes, you can set up the auditing at server level on servers that have geo-replicated databases.But you CANNOT set up auditing at the DATAB

[2019-05-01 13:43] jn-altius opened #30416 "What is the appID and password?"
I'm trying to follow the C# example and stepping through the code, but every time I attempt server.Connect(connString); I get the error message "unknown_user_type: Unknown User Type"

I have added the app: prefix to (what I think is) the appID.  But from the documentation it is not clear what this should be?

- Is it the Application (Client) ID of the Registered Application in AAD? (a normal GUID)

[2019-05-01 13:51] adrianwells opened #30417 "Broken link"
The link in this section is broken, please fix.

"Tip

App Service Certificates can be used for any Azure or non-Azure Services and is not limited to App Services. To do so, you need to create a local PFX copy of an App Service certificate that you can use it anywhere you want. For more information, see Creating a local PFX copy of an App Service Certificate."

---
#### Document Details

⚠ *Do not

[2019-05-01 13:53] SquirrelAssassin opened #30418 "Microsoft.Web"
1. any documentation or info on the microsoft.web or when it will be GA.
2. if we turn this on is there a way for us to just use the endpoint or have the PaaS Service use the endpoint for just a certain app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c

[2019-05-01 14:07] MGoedtel commented on #30372
@kendallroden & @femsulu - I have no knowledge of these demos that you speak of.  Can you share an example? The documentation for the Container Monitoring solution is very clear about what it supports, which has nothing to do with the AKS service but Azure Container Services (which is Deprecated but still supported for customers using it until 2020) and Docker (for example).  Azure Monitor for con

[2019-05-01 14:12] kendallroden commented on #30372
I am currently able to view my AKS cluster data using the container monitoring solution. So how can it be that we say it is not supported? What does that mean? I think there could be a more clear distinction between these two offerings.

[2019-05-01 14:21] sptramer commented on #30225
@MicahMcKittrick-MSFT You'll need the script owner to update these, I only touched them with required automated updates. History indicates that @dlepow is the owner.

[2019-05-01 14:24] fbarbare commented on #16630
Hi @BryanTrach-MSFT
Trying to do the same thing here and it still seems not to work

[2019-05-01 14:24] Sethu2488 opened #30419 "AKS - Autoscaler General Availability"
Is there any ETA on General availability of this feature (AKS - autoscaler)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (AKS)](https://docs.microsoft.

[2019-05-01 14:29] ps-tb opened #30420 "Unable to query FHIR server using Postman by following tutorial"
Thank you for providing material for starting a FHIR server on Azure.

Yesterday, I followed the quick start guide for deploying and then the Postman tutorial for querying but was unable to successfully request anything other than `/metadata` from the FHIR server that I created. After some time, I was able to query FHIR resources but I had to do a few things that aren't outlined in the documentati

[2019-05-01 14:49] georgewallace commented on #30361
@woodrum Thanks for reaching out.  There is a known issue with the control for that solution where it is not picking regions correctly. I will be updating the doc with the region mapping list, but here is the region [mapping required to map a Log Analytics Workspace to an Automation Account](https://docs.microsoft.com/en-us/azure/automation/automation-onboard-solutions-from-automation-account#enab

[2019-05-01 14:58] hansenms commented on #30420
@ps-tb thank you for your feedback. The points you mentioned are called out in the documentation.

1. https://docs.microsoft.com/en-us/azure/healthcare-apis/register-confidential-azure-ad-client-app#api-permissions (see point 3, select appropriate API permissions).
1. The scopes are not needed for v1 of the AAD endpoint. They are, in fact, ignored.
1. https://docs.microsoft.com/en-us/azure/healthc

[2019-05-01 15:07] gabrielke opened #30421 "Document title misleading"
The title of the document mentions "swapfile" and the content is about a swap partition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7781b573-2873-1d3a-b0fe-e8478aafd6f5
* Version Independent ID: f79be585-5856-a616-5f56-8f73f3b2eccd
* Content: [Use cloud-init to configure a swapfile on a Linux VM](https://docs.micro

[2019-05-01 15:07] Charmendar opened #30422 "Is copy allowed in nested template?"
I am trying to use copy inside nested template and hitting this error:
The template function 'copyIndex' is not expected at this location. The function can only be used in a resource with copy specified

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71b5b6-0a86-b261-4fb3-e31ca6a12ec3
* Version Independent ID: ab404f2

[2019-05-01 15:08] mikenri opened #30423 "Other members of AAD DC Administrators aren't granted permissions to edit new GPOs by default"
There seems to be a bug or design flaw in the way security inheritance for GPOs is configured for AADDS domains.

If an administrator creates a new GPO, by default other members of the "AAD DC Administrators" group do not have permission to edit the GPO.

If you go in to Delegation &gt; Advanced, the option for another administrator to take ownership is also greyed out.

This should be clearly doc

[2019-05-01 15:11] erhopf commented on #30413
@HolyChris - These shouldn't appear as links on our side, as the service requires that you authenticate before hitting the endpoint. The auth requirements are outlined here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#authentication. Samples are available for:
* [Python](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quicks

[2019-05-01 15:11] erhopf commented on #30413
#please-close

We've created a backlog item to audit the API reference for endpoints that appear as links.

[2019-05-01 15:11] Rohitk-2497 opened #30424 "Invalid character value for cast specification"
I successfully created a table in my Azure SQL database using the following command:
sqlcmd -S &lt;servername&gt; -d &lt;databasename&gt; -U &lt;username&gt; -P &lt;password&gt; -I -Q "
    CREATE TABLE BarnDataIntFloats
    (
        Date INT NOT NULL,
        Temperature FLOAT NOT NULL,
        RelativeHumidity FLOAT NOT NULL,
        DewPoint FLOAT NOT NULL
    )
    ;
"

I created a text file

[2019-05-01 15:13] JoMoore88 opened #30425 "Deploying a storage account with the Static Site setting enabled."
I'm unable to locate any information on how I can deploy a storage account configured for Static website hosting via ARM and I don't see any properties for it in the 2019-04-01 APIVersion.
Is it possible to enable this feature via ARM or.. even some other method rather than enabling it in the portal? I would be happy to use another method of automating the process of enabling this option outside o

[2019-05-01 15:24] frenchy237 commented on #30366
The full error I'm getting is this:
It seems like there is a problem when it comes to scope?
Error: The client 'class@samfrenchdirectory.onmicrosoft.com' with object id
'a1678cb6-eec6-4faa-a896-324ba2d0327a' does not have authorization to
perform action
'Microsoft.LabServices/labaccounts/labs/environmentsettings/write' over
scope
'/subscriptions/bf8ee41f-efee-4578-88c7-8e29fb035238/resourceGroups/

[2019-05-01 15:25] nexxai opened #30426 "Small typo"
URL: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about#next-steps

In the "Next steps" section, this text is shown:

`Apache Storm (reecive only)`

It should be:

`Apache Storm (receive only)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a6e2fa9-99f3-7a01-5629-42ff4a762ea8
* Version Independent ID:

[2019-05-01 15:32] RichardKForester opened #30427 "Sample log searches fail"
Hello.  I have tried both log search examples and both fail.  Can someone take a look?

search Category == "JobLogs"
| where ( RunbookName_s == "ScheduledStartStop_Parent" )
| where ( ResultType == "Completed" )
| summarize
| AggregatedValue = count() by ResultType, bin(TimeGenerated, 1h)
| sort by TimeGenerated desc

 Syntax Error

Query could not be parsed at 'AggregatedValue' on line [5,2]

Tok

[2019-05-01 15:37] georgewallace commented on #30427
@RichardKForester Thanks for reaching out. There is incorrect information in the example thanks for catching that.. there is an extra | and some incorrect markdown in the second one.. The queries should be the following.  I will get this updated but it won't get published until Monday morning.

[code]

and

[code]

[2019-05-01 15:39] MGoedtel commented on #30272
@SadiqhAhmed-MSFT - the article has been fixed and will be released on 5/6 when normal publishing cycle resumes (post-BUILD content publish).  #please-close

[2019-05-01 15:44] ChrisDevriese opened #30429 "AZDS not found Ubuntu 18"
Install on windows 10 works - Ubuntu 18 its missing .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c97296-51bc-14be-1888-8b3d9967a1b7
* Version Independent ID: 8c1d6961-9da2-4ce5-5cb1-b81f5287a278
* Content: [Develop with .NET Core on Kubernetes using Azure Dev Spaces (Visual Studio Code) - Azure Dev Spaces](https:

[2019-05-01 15:48] RichardKForester commented on #30427
Thanks George for the super fast reply!  I did some poking around and found another query that used this type notation and reached the same conclusion.  :)

[2019-05-01 15:56] georgewallace commented on #30427
@RichardKForester No Problem and glad you found your solution.  I will create the PR to fix these queries, and it will automatically close this issue once merged.

[2019-05-01 15:59] robduncan1 commented on #30381
I am seeing this with ps core 6.2

[code]

[2019-05-01 16:00] HolyChris commented on #30413
Even with the authentication, the endpoints are unavailable:

<h2>Our services aren't available right now</h2><p>We're working to restore
all services as soon as possible. Please check back
soon.</p>0Q8LJXAAAAAAhRyx8UCeOTbvDV9ptnykYREVOMDJFREdFMDIyMQBFZGdl

On Wed, May 1, 2019 at 9:12 AM erhopf <notifications@github.com> wrote:

[2019-05-01 16:00] SumanthMarigowda-MSFT commented on #30411
@GreggRevak Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:01] SumanthMarigowda-MSFT commented on #30412
@cap273 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:01] mjarmstrong opened #30431 "Document out of date; based on legacy app registrations, and I cannot grant access to the backend app - from the client app."
The following section is no longer relevant; https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#grant-permissions-in-azure-ad. First, this is now only available in legacy app registrations, and second, it does not allow you to select an API. After searching for the backend api, it appears, but it is greyed out (disabled).

@miaojiang @mike-urnun-msf

[2019-05-01 16:02] SumanthMarigowda-MSFT commented on #30414
@nguaman Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:03] msangapu-msft commented on #30375
Hi @karlrissland, this is the expected behavior in a multi-container scenario. We have some configure articles on Linux... Would it be helpful to include this information in a "configure multi-container" article?
See more on port 80 here: https://techcommunity.microsoft.com/t5/Azure-App-Service/Things-You-Should-Know-Web-Apps-and-Linux/ba-p/392472#multi-containers

[2019-05-01 16:04] SumanthMarigowda-MSFT commented on #30429
@ChrisDevriese Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:06] SumanthMarigowda-MSFT commented on #30426
@nexxai Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:06] erhopf commented on #30413
@HolyChris  - Just tested against `westus` and got a response. Which endpoint are you hitting?

[2019-05-01 16:09] SumanthMarigowda-MSFT commented on #30415
@EikisteinS Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-01 16:10] SumanthMarigowda-MSFT commented on #30424
@Rohitk-2497 Thanks for your question. We are checking on this and will respond to you soon.