[2018-10-19 17:20] jason-j-MSFT commented on #17218
@PaulSells
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 17:24] Renton2017 opened #17239 "Quickstart test"
So far so good. I will advance testing models and other complicated calculation in order to see how Azure Machine Learning behaves

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Independent ID: e41c8c19-d858-9a84-4b89-1b65bdd960a8
* Content: [Quickstart: Use the Python SDK

[2018-10-19 17:27] gchudublin commented on #17199
I will check into this later this weekend to see if this resolves my issue. thx for replying.

[2018-10-19 17:29] #17092 closed

[2018-10-19 17:29] SaurabhSharma-MSFT commented on #17079
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-19 17:29] #17079 closed

[2018-10-19 17:30] SaurabhSharma-MSFT commented on #17099
@Aunworapat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-19 17:30] #17099 closed

[2018-10-19 17:30] jason-j-MSFT commented on #17123
@bwren I've been trying to get this to work myself with no luck.

[2018-10-19 17:36] BPA8 opened #17241 "SQL71501: column [dbo].[columnname] has an unresolved reference to column encryption key [keyname]"
I have a SQL table with a column which is using always encrypted. I am trying to setup  CI / CD pipeline for a Visual Studio database project.
I am unable to build the project because VS2017 is unable to recognize this particular column

 `   [ColumnName] [varchar](max) COLLATE Latin1_General_BIN2 ENCRYPTED WITH (COLUMN_ENCRYPTION_KEY = [CEKKeyname], ENCRYPTION_TYPE = Deterministic, ALGORITHM = 'A

[2018-10-19 17:36] SaurabhSharma-MSFT commented on #17015
@jusso-dev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-19 17:36] #17015 closed

[2018-10-19 17:38] Alberto-Vega-MSFT commented on #17204
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 17:40] #17044 closed

[2018-10-19 17:40] MarileeTurscak-MSFT commented on #17217
@VANDAEDGE marking this post as spam.

[2018-10-19 17:40] #17217 closed

[2018-10-19 17:40] Alberto-Vega-MSFT commented on #17223
@nkolchakov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 17:41] Karishma-Tiwari-MSFT commented on #15282
@akx Any update?

[2018-10-19 17:41] bwren commented on #17123
I'm thinking this isn't supported in Log Analytics since the two use different rendering engines.  I'll find out though.

[2018-10-19 17:43] MicahMcKittrick-MSFT commented on #17216
@koman there is a Stack Overflow post answering the same question:

https://stackoverflow.com/questions/51848544/custom-domain-and-azure-kubernetes-with-ingress-controller-aks

Take a look and see if that helps.

[2018-10-19 17:46] jtuliani commented on #17044
@rjagiewich Does closing this mean the changes have been submitted? From my point of view, closing the ticket before the changes are done is extremely inconvenient, since it means I won't get a notification when the changes are actually submitted. Please can we keep the issue live until it's actually fixed?  (And if it is fixed already, then thank you! but please can you state that when closing?)

[2018-10-19 17:49] barclayn commented on #13139
@waheedhussain and @JustRonald  Sorry for the delays. The response I received was that we are exploring ways to do this but it is not currently available. I will make some updates today.

[2018-10-19 17:51] Karishma-Tiwari-MSFT commented on #16638
@carlfm01 Thanks for bringing this to our attention. I am working offline with the product team on this issue and will share updates here.

[2018-10-19 17:52] Karishma-Tiwari-MSFT commented on #17110
@15ramky Any update? Did the above help?

[2018-10-19 17:53] Karishma-Tiwari-MSFT commented on #17125
@JeanQian Any update? Did the above help?

[2018-10-19 17:55] Karishma-Tiwari-MSFT commented on #17090
@aydeisen I tried to Convert existing Windows Server VMs to Azure Hybrid Benefit for Windows Server using **Azure portal** and it works fine. Can you try that using portal. I will check that using Azure PowerShell and share my results shortly.

[2018-10-19 17:57] tfitzmac commented on #17044
@jtuliani - the change has been submitted and should get published this afternoon.

[2018-10-19 18:04] SaurabhSharma-MSFT commented on #16880
@BacharBader We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-19 18:04] #16880 closed

[2018-10-19 18:05] MarileeTurscak-MSFT commented on #17210
@vikaskumawat80
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:07] MarileeTurscak-MSFT commented on #17208
@jschrap
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:08] MarileeTurscak-MSFT commented on #17233
@Lroca88 #
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:08] MicahMcKittrick-MSFT commented on #17220
@cmeyertons can you elaborate on what steps you are taking? I followed the doc as written and I was able to login to my ACR

[2018-10-19 18:08] TravisCragg-MSFT commented on #16791
@charlesb87 Thank you for the update.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-19 18:08] #16791 closed

[2018-10-19 18:10] MarileeTurscak-MSFT commented on #17215
@paulmackinnon-adv365
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:11] MarileeTurscak-MSFT commented on #17219
@SRE93
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:12] MarileeTurscak-MSFT commented on #17235
@1trevor
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:14] MarileeTurscak-MSFT commented on #17206
@luther-c
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:15] MarileeTurscak-MSFT commented on #17230
@mlinehan17
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 18:17] shelwig commented on #17194
In the same boat. Now trying to manually configure and not having much luck.

[2018-10-19 18:18] TravisCragg-MSFT commented on #16859
@aku163 Yes this is expected behavior. If you need to add multiple sources to a backend pool for a web application, you can use an [Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/overview) and add the VMs by their IP or FQDN.

could you explain what you are trying to accomplish?

[2018-10-19 18:19] lluesing commented on #16862
@mrbullwinkle Thanks for the extensive reply. This is all good information. We will definitely do some testing to see what happens with the status monitor components installed in tandem with the SCOM agent. We have not developed long-term strategies for any migration from primarily on-premise, private-cloud components to a large-scale public cloud adoption - so we will retain the on-premise SCOM i

[2018-10-19 18:19] #16862 closed

[2018-10-19 18:20] CarlRabeler commented on #8050
#please-close

[2018-10-19 18:27] LisandroSu opened #17242 "Before upload data to the storage account"
@adiazcan commented on [Fri Oct 19 2018](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/139)

You have to explain that we need to create a File System or Container on Data Lake, before upload the json radio data. If you run the azcopy command without create this container, the command will fail

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.co

[2018-10-19 18:28] LisandroSu commented on #17242
Hi team,

Please check this issue.

Thanks!

[2018-10-19 18:32] priyamohanram commented on #17235
@1trevor: Thanks for reporting the issue! The endpoint for audit logs is https://graph.microsoft.com/beta/auditLogs/directoryAudits and the endpoint for sign-ins is https://graph.microsoft.com/beta/auditLogs/signIns. Please check out our [API reference](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/azure_ad_auditlog_overview) for more information. I'll update the do

[2018-10-19 18:32] priyamohanram commented on #17235
#please-close

[2018-10-19 18:34] Alberto-Vega-MSFT commented on #16852
@ksreekumar Thanks again for the feedback! Can you post this as a feedback @ [Data Factory User Voice](https://feedback.azure.com/forums/270578-data-factory) . This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-10-19 18:34] rplumb commented on #17098
Sorry, SQL API.

[2018-10-19 18:36] MarileeTurscak-MSFT commented on #17210
Hi @vikaskumawat80
You can register an application in whichever AAD tenant you like, even if it is published in a resource group located in a separate AD. To move the registration to a new AD all you need to do is delete the app registration under the old tenant and create a new application in the new tenant. Is that what you are trying to do?

If you want to publish the application in a new resou

[2018-10-19 18:40] cijothomas opened #17243 "Document that TelemetryInitializers could be called multiple times."
TelemetryInitializers could be called multiple times if telemetry is collected via one of the autocollectors like RequestTrackingModule or DependencyTrackingModule.
Users should be advised about this to avoid surprises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Indepe

[2018-10-19 18:42] CelesteDG commented on #17206
Thank you, @luther-c - Fixing our docs as the info has gotten out of sync with the latest code samples.

[2018-10-19 18:45] Alberto-Vega-MSFT commented on #16873
@danvanderboom Thanks again for the feedback :clap: I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-19 18:51] cinglis-msft opened #17244 "Missing link"
In section "Getting devices under the control of Azure AD", the "Enroll devices for management in Intune" link is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d97-4f816a2b696c
* Content: [What is device management in Azure Act

[2018-10-19 18:52] SaurabhSharma-MSFT commented on #17140
@danielDMP I have tried it and yes I am also getting the token without passing "OpenId" as Scope.  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-19 18:53] Adam-Smith-MSFT commented on #16700
@v-maroge My apologies for the delay, I reached out to the internal PM a few days ago but did not get any response, I assigned it to the author so they can follow up.

Thanks,
Adam

[2018-10-19 18:55] Alberto-Vega-MSFT commented on #16945
@JasonWHowell Any insights on this?

[2018-10-19 18:55] AErmie opened #17245 "Log Analytics Solution Import Error"
When attempting to import the .OMSView solution files, through the View Designer in the Azure portal (not the "classic" OMS portal), the error "Please provide a valid View file" is received.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcfaf5b-78ea-ac05-bebe-806430114ca9
* Version Independent ID: a6264958-2d6d-2059-

[2018-10-19 19:08] tfitzmac commented on #17010
@romankiss - thanks for this feedback. We are investigating it.

[2018-10-19 19:31] falmada opened #17247 "AzureMonitor is missing from the list"
Just checked on one NSG configuration in Azure Portal, and noticed "AzureMonitor" service tag. Check on this official documentation and could not find any reference to it.

Some others are missing as well, like AzureMachineLearning and ServiceFabric

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-

[2018-10-19 19:35] bwren commented on #16873
Was management solutions, changing to monitoring solutions.  This is all part of the OMS deprecation and consolidation under Azure Monitor.  We know we have a lot of terminology that needs update.  We're still working on the final decisions then will be doing a sweep across all content.

[2018-10-19 19:35] bwren commented on #16873
#please-close

[2018-10-19 19:37] SaurabhSharma-MSFT commented on #16906
@ptallett Please check the "Methods" section on the provided documentation Microsoft Graph [link](https://developer.microsoft.com/graph/docs/api-reference/beta/resources/serviceprincipal#properties). It contains the methods associated with ServicePrincipals.  (see screenshot below)
![image](https://user-images.githubusercontent.com/38112130/47239421-1d9c3180-d39a-11e8-8eba-7c2e0c2b8c02.png)
Once y

[2018-10-19 19:43] erhopf commented on #16910
@overslacked + @AlexanderTodorovic - Hey guys, thanks for you patience. I've confirmed that the TTS endpoint requires the access token to be passed in the Authorization header. This is a bug, which we will be addressing in our documentation.

@AlexanderTodorovic, I'm still looking into Speech to Text. As soon as I have an answer I'll comment in this thread.

[2018-10-19 19:44] tfitzmac commented on #14397
@alexeyshishkin01 - list-skus shows the sizes that are available for your subscription. list-sizes shows all available sizes but might show ones you can't use.

[2018-10-19 19:45] brlewi commented on #17245
[test](www.cnn.com)

[2018-10-19 19:46] brlewi commented on #17245
[test2](https://www.cnn.com/)

[2018-10-19 19:47] YutongTie-MSFT commented on #16910
@erhopf Thanks for your quick addressing, do you have temporary workaround for customers?

[2018-10-19 19:48] pksorensen opened #17248 "Placement Constraint"
In the docs you write:

NodeType and the NodeName

but looking at my clusters i see that the system services are deployed with the following:
Placement Constraints : NodeTypeName==nt1vm

So is NodeType and NodeName wrong? or do they also work.  Is there any for IsSeedNode? Whats the property for the Node Name ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-10-19 19:49] #15854 closed

[2018-10-19 19:50] hannwang1 commented on #11486
I setup a file share and want my service account to access to it.  I was able to run the command to persist the Azure file share credentials.  I can see the credential when run cmdkey /list.  I didn't mount to drive.  I am ok to use UNC path "\\<storage-account>.file.core.windows.net\share" every time.
 Then I tried to access to the share as my service account using below command from powershell,

[2018-10-19 19:50] erhopf commented on #16910
@YutongTie-MSFT - Yup. The workaround is to send an access token as an Authorization header for all TTS requests. "Ocp-Apim-Subscription-Key" is not supported. Instructions to obtain an access token are available here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis#authentication.

[2018-10-19 19:50] jeary49252000 opened #17249 "Install failed"
Hi, I followed the installing command, but encounter this:
Command "python setup.py egg_info" failed with error code 1 for installing "future" with:
future\setup.py", line 93, in &lt;module&gt;
        import src.future
    ModuleNotFoundError: No module named 'src'

Can you help me to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-10-19 19:53] HeidiSteen commented on #17201
Hi, the score value in the results shows the degree of positive-negative sentiment, from 0 to 1.  Of the 5 documents, 4 are either .99 or .98 (very close to 1), while the second document is much closer to 0 (0.0000540316104888916).

[2018-10-19 20:06] charlesb87 commented on #16791
I don’t agree about closing the case. I was not able to do the peeeing using Cloud Shell: Are you able to reproduce the issue? Are you going to clarify the documentation ?

Charles Borcke
Cell: +33 684 366 356
Mail: charlesb@outlook.fr

Le 19 oct. 2018 à 20:15, TravisCragg-MSFT <notifications@github.com> a écrit :

@charlesb87 Thank you for the update.

We will now proceed to close this thread. If

[2018-10-19 20:08] ptallett commented on #16906
Okay, I give up. I know all about all these methods you are telling me, and I’ve tried them and they don’t work and are complicated. You can send me documentation on these as much as you like, it’s a crap way to get the service principal object id. The user is already INSIDE the PowerShell components, and already logged in. All he needs to do is issue one more command and he has it. Your method re

[2018-10-19 20:13] Karishma-Tiwari-MSFT commented on #13299
@seekingtheoptimal Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-19 20:13] #13299 closed

[2018-10-19 20:17] epa095 opened #17252 "Role of aad-server-app-secret"
What is the role of aad-server-app-secret, and why does it need to be secret (i.e. what can an attacker do if she gets access to it?) Since some of these steps must be done by a tenant admin I am wondering if it is possible to create the server / client app only once, and then share the credentials to others inside my organization which I want to enable to create AKS clusters (but which are not te

[2018-10-19 20:19] jwashbur79 opened #17253 "Error when trying to limit the template to a specific resource group"
Below is the return info I received in PowerShell when I executed Step 4 (at the top of this article). In the template, I tried to limit the scope to a specific resource group. I am wondering if someone can help me troubleshoot this so I don't receive alerts subscription wide. Thank you so much. This is awesome!

By the way, I did end up removing the scope limitation and proceeded to create an ale

[2018-10-19 20:20] sspenning opened #17254 "Information missing from output"
When I complete the steps outlined in the documentation, I do not get an accurate report for Identity Protection events.  E.g. Running the report this afternoon returns no active events for ImpossibleTravelRiskEvent but when I view "Azure AD Identity Protection - Risk" events or the "Risky sign-ins" blade under Azure Active Directory, I see active events requiring attention.  Is this normal?

---

[2018-10-19 20:31] jbreiding commented on #12891
Sure, I can see that now. But to me this would have been more helpful in the portal. Also given this information, is this webspace now shared across resource groups if I, which I already have, move those resources to another resource group? So I decide to do this process again, which is likely, are both resource groups now in the same webspace, new app service plans in that resource group are capa

[2018-10-19 20:34] MarileeTurscak-MSFT commented on #17230
I agree that it could be clearer. Based on [other documentation ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc)your-tenant in this context is just the base part so it would look like: https://fabrikamb2c.b2clogin.com/fabrikamb2c.onmicrosoft.com/

I'm assigning this to the content author, @davidmu1 , to look into. I think it would be helpful to hav

[2018-10-19 20:39] femsulu commented on #17209
@mlamb1966 Thanks for the Comment. We are actively investigating and will get back to you soon.
@MGoedtel  any idea when service map will be available in UK region?

[2018-10-19 20:41] felixaMSFT opened #17256 "Please explain how to get a QR code"
There are many references to "scan QR code" - however, there's no indication where I should go to obtain such a QR code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 827ee42c-1055-cbf1-3d32-6b5b68c4a225
* Version Independent ID: d9e23d9d-e074-1f77-8109-d6d0988d4668
* Content: [Set up security info to use an authentic

[2018-10-19 20:43] kobulloc-MSFT commented on #17243
@cijothomas Thank you for pointing this out!  We've assigned this to the document author so they can make the appropriate changes.

[2018-10-19 20:45] felixaMSFT opened #17257 "How to get QR code"
How do I get a QR code which I can scan with my phone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a6b76-3e97-a52f-85d3-c423e9664fdf
* Version Independent ID: 2778814f-fba7-97f3-039c-674434e48b3f
* Content: [Backup and recover with Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/e

[2018-10-19 20:51] MarileeTurscak-MSFT commented on #17210
We will proceed to close this thread. Please open a new issue or leave a comment if you would like to continue the discussion.

[2018-10-19 20:51] #17210 closed

[2018-10-19 20:57] MarileeTurscak-MSFT commented on #17219
Please refer to the above reply. Unfortunately you can only add security groups created in Azure AD.
![groupassignment](https://user-images.githubusercontent.com/13383753/47243436-d7010400-d3a6-11e8-95ce-dd778a300e60.PNG)

[2018-10-19 20:57] MarileeTurscak-MSFT commented on #17219
We will proceed to close the thread. If you have further questions please open a new issue or leave a comment and we will gladly continue the discussion.

[2018-10-19 20:57] #17219 closed

[2018-10-19 20:59] YutongTie-MSFT commented on #17249
@jeary49252000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 21:01] kobulloc-MSFT commented on #17111
@XanderM1960 The best place for specific answers about implementations are going to be the forums:

https://social.msdn.microsoft.com/Forums

https://stackoverflow.com/

We actively look through posts in the forums, and will do our best to get you going in the right direction.  If you have any document specific questions (or suggestions), please tag me in your reply and I would be happy to continu

[2018-10-19 21:01] #17111 closed

[2018-10-19 21:01] MarileeTurscak-MSFT commented on #17244
@cinglis-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-19 21:11] mtillman commented on #16894
Issue being handled internally.
#please-close

[2018-10-19 21:11] mtillman commented on #16892
Issue being handled internally.
#please-close

[2018-10-19 21:11] mtillman commented on #16891
Issue being handled internally.
#please-close

[2018-10-19 21:11] mtillman commented on #16890
Issue being handled internally.
#please-close

[2018-10-19 21:12] mtillman commented on #16889
Issue being handled internally.
#please-close

[2018-10-19 21:12] mtillman commented on #16883
Issue being handled internally.
#please-close

[2018-10-19 21:12] mtillman commented on #16882
Issue being handled internally.
#please-close

[2018-10-19 21:31] Mike-Ubezzi-MSFT commented on #17241
@BPA8 Thank you very much for the detailed feedback. Is there a Microsoft specific document you were attempting to reference for this? We are investigating this and will get back with you shortly but, would like to add the specific documentation that discusses this topic. Thank you!

[2018-10-19 21:36] SaurabhSharma-MSFT commented on #17073
@lloydleebarber As documented in the link provided if you need to acquire the Access token you need to use `https://login.microsoftonline.com/<tenant id>/oauth2/token` endpoint.  You need to pass "Client_Id" and "Client_Secret" of the application calling the webservice and and webservice url needs to be used as resource url like if you are calling a Graph API from an Application then you need to p

[2018-10-19 21:37] MarileeTurscak-MSFT commented on #17244
@cinglis-msft I created a pull request adding what I believe to be the correct link. I will leave the pull request open for @MarkusVi to confirm.

[2018-10-19 21:37] #17244 closed

[2018-10-19 21:44] jusefb commented on #13282
Having the same issue

[2018-10-19 21:47] SaurabhSharma-MSFT commented on #17186
@itguru85 Azure Files supports identity-based authentication through Azure Active Directory (Azure AD) Domain Services is currently in preview and does not support on-prem machines accessing Azure Files using either AD or AAD credentials.  Please refer to [documentation](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview)

[2018-10-19 21:52] cynthn commented on #17228
#please-close changes merged and should go live with the 3:00PM publish :)

[2018-10-19 21:57] MarileeTurscak-MSFT commented on #17256
You obtain the QR Code on the "Scan the QR Code" screen after you have selected "Work or school account" and clicked "next."

![image](https://user-images.githubusercontent.com/13383753/47245720-47ac1e80-d3af-11e8-87cd-21c5be2029d9.png)

[2018-10-19 21:58] Tiberriver256 opened #17258 "Automatic User Provisioning - 404 Error"
Looks like WebEx may have deprecated the SCIM API? Following these instructions for automatic user provisioning produces a 404 now when testing the API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd387482-3e21-f53c-d54e-6a853356b511
* Version Independent ID: 84781f14-a81a-b0c0-f5c0-2000eb7d08e3
* Content: [Tutorial

[2018-10-19 21:58] MarileeTurscak-MSFT commented on #17256
(This is within the Authenticator app itself.)

We will proceed to close this thread. If you have further questions feel free to open a new issue or leave a comment and we will gladly continue the discussion.

[2018-10-19 21:58] #17256 closed

[2018-10-19 22:00] MarileeTurscak-MSFT commented on #17257
Closing this issue as it is a duplicate of #17256

[2018-10-19 22:00] #17257 closed

[2018-10-19 22:04] TravisCragg-MSFT commented on #17247
@falmada Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-19 22:11] Alberto-Vega-MSFT commented on #17242
@LisandroSu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 22:12] MicahMcKittrick-MSFT commented on #17248
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-19 22:12] MicahMcKittrick-MSFT commented on #17252
Thanks for the question! We are investigating and will update you shortly.

[2018-10-19 22:18] erhopf commented on #16910
@AlexanderTodorovic - Speech to text supports both passing the subscription key or the access token as the header, so you don't need to send both. Looking at your code, it looks like you're missing a `/` on the line pasted below. Please keep in mind that I haven't had a chance to run your code sample, but have confirmed that the API is returning 200s:

[code]

It should be:

[code]

[2018-10-19 22:26] Ayanmullick opened #17259 "Set scope to 'Subscription'"
Unable to set the scope to the subscription.

$Subscription = Get-AzureRmSubscription -SubscriptionName &lt;Subscription Name&gt;
$Subscription.ResourceId.    ----&gt;This is a Null value.

So the below doesn't work
New-AzureRmPolicyAssignment -Name 'Allow resource creation only in United States data centers' -PolicyDefinition $Policy -Scope $Subscription.ResourceId -Verbose

I tried with Subscrip

[2018-10-19 22:27] mhoeger opened #17260 "Functions Deployment via Kudu Zip api doesn't warn of timer trigger sync issue"
Deploying through [Kudu zip api](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push) often results in consumption plan [timer trigger errors](https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing). I think we should add a warning and move it lower in the list (not second option).

---
#### Document De

[2018-10-19 22:28] mhoeger commented on #17260
@ColbyTresness for input on deployment strategy priority
cc: @jeffhollan

[2018-10-19 22:32] saulcruz opened #17261 "more trigger Examples on "Use custom parameters with the Resource Manager template" are needed"
While the example was actually pretty helpful to get started, I'm now stuck when trying to define parameters for triggers (minutes, hours and weekdays), I have not been able to successfully deploy and override these parameters into our production environment. What I have in my arm-template-parameters-definition.json is:

    "Microsoft.DataFactory/factories/triggers": {
        "properties": {

[2018-10-19 22:36] thuansoldier opened #17262 "Activation setting"
My understanding is that if I set 1 hour for activation, it means the time-to-live of activation role is 1 hour. And the granted person can activate the role whenever within 1 hour. Or does that mean the role can be active within 1 hour. After 1 hour the role is revoked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2018-10-19 22:37] CelesteDG commented on #17206
Please note that we've removed the existing topic and it's redirecting to this more updated info in GitHub: https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS

[2018-10-19 22:38] Mike-Ubezzi-MSFT commented on #16997
@ccnoecker Can you please let us know what your Cosmos DB instance name is? You can send that to AzCommunity at Microsoft Com, if you do not wish to post the information here. I have the product team looking in to this. We have a possible work around but want to take a look at your specific environment, if that is okay with you. Thank you!

[2018-10-19 22:39] Mike-Ubezzi-MSFT commented on #16997
@kamaljoshi911 If you can share your queries and your instance name, I can get you some feedback as well. Than you.

[2018-10-19 22:41] CelesteDG commented on #13237
Please note that we've removed the existing topic and it's redirecting to this more updated info in GitHub: https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS. This updated content should have the latest/correct info.

[2018-10-19 22:42] CelesteDG commented on #13237
@MarileeTurscak-MSFT @MohitGargMSFT @MicahMcKittrick-MSFT @SaurabhSharma-MSFT #please-close The out-of-date instructions have been replaced with one we have on GitHub. Thank you.

[2018-10-19 22:43] CelesteDG commented on #12358
Please note that we've removed the existing topic and it's redirecting to this more updated info in GitHub: https://github.com/AzureADQuickStarts/WebApp-OpenIDConnect-NodeJS. This updated content should have the latest/correct info.

[2018-10-19 22:43] jeffhollan commented on #17260
Hmm this is concerning as the Zip API is quickly becoming our #1 preferred option for other tools as it allows us to leverage running from package and works across languages and targets (a simple REST upload).  Do you have details on when issues are arising? Would rather fix the issues with zip API

[2018-10-19 22:44] CelesteDG commented on #12358
@SaurabhSharma-MSFT @MarileeTurscak-MSFT @MicahMcKittrick-MSFT @MohitGargMSFT #please-close The previous topic got out of sync with the code sample that got updated so we are now redirecting to the latest readme on GitHub to match the latest code sample. Thank you.

[2018-10-19 22:46] CelesteDG commented on #17206
@MarileeTurscak-MSFT @MohitGargMSFT @SaurabhSharma-MSFT @MicahMcKittrick-MSFT #please-close The error was due to a newer code sample being released and the topic not being updated to match the latest code sample. We fixed this by redirecting the link to the NodeJS v1 quickstart to point to the latest doc on GitHub, which is synced with the sample.

[2018-10-19 22:49] MicahMcKittrick-MSFT commented on #17248
@pksorensen When you are creating a cluster you get to specify the Note Type name

Node type as mentioned in the doc might be something like "Web" or "Worker"

The Node Type Name can be 1-9 in length and include alphanumeric characters. So as long as it fits those requirements, it can be whatever you like

![image](https://user-images.githubusercontent.com/32313503/47246982-9957a780-d3b5-11e8-94d4

[2018-10-19 22:50] #13237 closed

[2018-10-19 22:51] #12358 closed

[2018-10-19 22:51] #17206 closed

[2018-10-19 22:54] sbatten opened #17263 "This page should direct you to the npm helper package documentation"
The node.js section should point to https://azure.microsoft.com/en-us/resources/samples/app-service-msi-keyvault-node/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a93ee241-6e6c-12c6-cb14-7c5275bda78d
* Version Independent ID: 9db0ec07-7ee2-a27e-66da-eb04487a0d11
* Content: [Managed identities in App Service and Azur

[2018-10-19 22:57] TravisCragg-MSFT commented on #17062
@jabbera You should be able to use a Standard Public IP with the SKU ErGw1AZ, but you should use "VpnGw1AZ" SKU for a Zone Redundant Gateway.

What is the error you are getting with the SKU ErGw1AZ?

[2018-10-19 22:58] TravisCragg-MSFT commented on #17039
@Enver-Adams We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-19 22:58] #17039 closed

[2018-10-19 23:10] xenalite commented on #15550
@DCtheGeek I can't find the update in the docs saying to use latest version of PowerShellGet. I ran into the same problem as OP with PowerShellGet version 1.0.0.1.

[2018-10-19 23:17] mattquinn4 commented on #16580
@erhopf yes, this is what I was looking for. Thank you.

[2018-10-19 23:17] #16580 closed

[2018-10-19 23:19] YutongTie-MSFT commented on #17239
@Renton2017 Glad to see your kudos! We will be better! ^^

[2018-10-19 23:19] #17239 closed

[2018-10-19 23:19] jeevansd commented on #13282
@dougcain and @jusefb We are working on this change and will publish the update to the plugin in a week or two. Please hold on!

[2018-10-19 23:22] kuldeepldec opened #17265 "Copy data interface does not allow to use"
I try to give a copy data from blob storage to SQL database. When I gave a dynamic path for blob storage in data factoryV2 Event/{year}-{month}-{day}/{hour}, it gives me an error The required Blob is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0c
* Version Independent ID: e

[2018-10-19 23:29] BryanTrach-MSFT commented on #17263
@sbatten
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-19 23:29] mike-urnun-msft commented on #17027
@vladvino any thoughts on this one? Should we proceed to update the link to go to PowerShell Samples page as suggested?

[2018-10-19 23:31] mike-urnun-msft commented on #16484
Hi @OffColour Could you elaborate? Did you have any further feedback for any specific content on this documentation?

[2018-10-19 23:36] mikebudzynski commented on #17174
#please-close

[2018-10-19 23:37] vladvino commented on #17027
Yes, makes sense to me. Thanks @SychevIgor!

[2018-10-19 23:42] YutongTie-MSFT commented on #17190
@julianpayne1 Hi, according to another post #17189 , the product team prefer solving problems in Stack Overflow https://stackoverflow.com/questions/tagged/microsoft-translator . Can you please post your issue there? And also, if you have further concern, we can discuss it offline. I want to reach out to you but I can not find you in the addressbook.

We will now proceed to close this thread. If th

[2018-10-19 23:42] #17190 closed

[2018-10-19 23:53] xyh1 commented on #16895
@cfe84 Thank you for the feedback. I've made some changes to the documentation that will hopefully give you more information regarding storage charges.

It's hard to explicitly list out the charges as it is different for every workload. Some accounts will benefit with a lower bill due to the lower capacity costs, whereas some accounts may have higher transaction costs if they incorrectly choose th

[2018-10-19 23:59] mike-urnun-msft commented on #16380
Hi @JohnReeson We have updated this documentation to reflect this change. Thank you for your contribution and helping us drive an improvement towards MS Docs!

[2018-10-19 23:59] #16380 closed

[2018-10-20 00:02] SaurabhSharma-MSFT commented on #16902
@longnlp I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2018-10-20 00:08] ChrisFg opened #17266 "Access to values assigned in postDeploymentSteps."
Congratulations on reaching the azure deployment manager private preview milestone.

This question relates to this documentation:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/deployment-manager-tutorial#create-the-service-topology-template
The rollout template screen grab has a postDeploymentSteps element that assigns a value to stepId.

Is there a mechanism to reference the value

[2018-10-20 00:30] ichkoj opened #17267 "PlanGrid rip off"
Apparently, PlanGrid is charging crazy fee on top of their licenses ONLY for SSO - you will get no provisioning or licensing, only authentication. I don't think anyone will ever buy into that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b310bf85-8550-8009-0137-ab71e49313a0
* Version Independent ID: 91031153-8da7-7dc

[2018-10-20 00:30] fhryo-msft commented on #17150
It's fixed in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/55699

[2018-10-20 00:31] fhryo-msft commented on #17150
#please-close

[2018-10-20 00:42] Alberto-Vega-MSFT commented on #17261
@saulcruz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-20 00:43] Karishma-Tiwari-MSFT commented on #17221
@radhagpt As described in the doc, Fault domains define the group of virtual machines that share a common power source and network switch.
When you put VMs in to an availability set, Azure guarantees to spread them across Fault Domains and Update Domains. A Fault Domain (FD) is essentially a rack of servers. It consumes subsystems like network, power, cooling etc. So 2 VMs in the same availability

[2018-10-20 00:44] #17228 closed

[2018-10-20 00:44] Alberto-Vega-MSFT commented on #17265
@kuldeepldec Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-20 00:48] SaurabhSharma-MSFT commented on #16902
@longnlp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-20 00:48] #16902 closed

[2018-10-20 00:49] SaurabhSharma-MSFT commented on #17166
@stevep4 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-20 00:49] #17166 closed

[2018-10-20 01:33] rybkov commented on #14350
I have an example of a simple HTML page if insert these scripts after AppInsight code it breaks the map

[code]

If insert them before AppInsight script - it is OK.

[2018-10-20 01:41] Grace-MacJones-MSFT commented on #17194
@rohan51 and @shelwig thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-20 01:59] massiveloop commented on #10978
Of course I know how to open an application's sign in logs in AAD, I wouldn't have opened this if it was an issue with me not knowing how to use the platform, its a limitation of a fundamental function.
For example, on an application that was confirmed being used 600+ times a day in Okta has now been moved to Azure and it says "No sign-ins found". We have execs asking for these metrics to verify u

[2018-10-20 02:02] pierreca commented on #15467
@MarcoStucchi

just wanted to chime in (late) on this particular comment: I totally understand the sentiment and this is definitely not what we want to convey. Choices were made early in the Python SDK development that were based on our understanding of where the industry was 2-3 years ago and these choices have not stood the test of time. Hopefully, you'll be glad to hear that the same team that

[2018-10-20 02:18] #17046 closed

[2018-10-20 02:34] justinyoo opened #17268 "KeyVault scenario?"
The most common scenario using Managed Identity (MI) would be to access Key Vault.

I know the Key Vault connector is currently unavailable. Therefore, it would be great if you can include this scenario through the HTTP action.

I simply followed the screenshot above using the Key Vault's endpoint like https://&lt;mykeyvault&gt;.vault.azure.net/secrets?api-version=2016-10-01 However, it keeps retu

[2018-10-20 03:36] GraemeMalcolm opened #17269 "Provisioning Steps and Screenshots are out of date"
It looks like the steps to provision a Ubuntu DSVM may be out of date. The portal interface looks significantly different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c1a5f0-b0df-88f4-feaf-90bc17eeb69e
* Version Independent ID: 3d5b36f7-e892-8d1d-fa14-a2e5d407a25c
* Content: [Provision a Linux (Ubuntu) Data Scienc

[2018-10-20 03:55] newgamer1117 commented on #17211
hi Mike :
    Yes, that's doc I followed.

Mike Ubezzi <notifications@github.com> 於 2018年10月19日 週五 下午11:30寫道：

[2018-10-20 05:28] PramodValavala-MSFT commented on #17133
@satish-kuncha Thanks for contributing to MS Docs! We have updated the sample accordingly and the exception is no longer thrown.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-20 05:35] PramodValavala-MSFT commented on #17048
@Dipluz Thanks for contributing to MS Docs! We have updated the PowerShell sample accordingly and it should reflect once merged.

This thread will close once the update is merged. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-20 05:41] AndrewJames57 opened #17272 "Spelling"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-20 05:42] AndrewJames57 commented on #17272
Please check all spellings of Azure. In at least in place it is spelt Auzre!

[2018-10-20 05:42] #17272 closed

[2018-10-20 05:45] pksorensen commented on #17248
thanks @MicahMcKittrick-MSFT

I am aware of how to set the node name - my comment was that in the docs you write

NodeType and NodeName

but i think NoteType should be NodeTypeName ? (thats atleast how system services are constrained).

[2018-10-20 06:45] tamram commented on #10261
@aloncatz - Apologies for the long delay in addressing this issue. I've updated the topic with the encoding setting.

[2018-10-20 08:48] kkho commented on #17132
@iainfoulds, correct me if I am mistaking. What my current situation is, I have deployed a container to Azure Container Registry. I have deployed a container instance from that image and want to get secrets from Key Vault rather than storing it into an environment.

[2018-10-20 08:49] kaushikborbora commented on #17181
It does not work in Incognito mode. I am not the global admin either.

[2018-10-20 09:14] JohnReeson opened #17274 "Register binding extensions sample could be misleading"
In section [Register binding extensions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#register-binding-extensions), it exemplifies cli command with a sample which could be misleading.

`Microsoft.Azure.WebJobs.ServiceBus` now only works for v1,  for v2 it has become [Microsoft.Azure.WebJobs.Extensions.ServiceBus](https://docs.microsoft.com/en-us/azure/azure-fu

[2018-10-20 10:16] JohnReeson opened #17275 "id and logging mistake"
Two suggestions:

1. `id` should be removed in 2.x [sample](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#version-2x) as it's [1.x only](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#id).

2. fileLoggingMode of `logging` has wrong default value and description. Looks like the wrong info is for logLevel.default.  Default should be debugOnly

[2018-10-20 10:57] Enver-Adams commented on #17039
@cherylmc Great thank you! Can you please provide and ETA for remediation? I am in the midst of a project and this detail would benefit us greatly.

[2018-10-20 11:30] JasonBSteele opened #17277 "Is there a free Integration Account SKU?"
The doc states "Consumption-based usage includes an integration account where you can explore, develop, and test the B2B/EDI and XML processing features in Logic Apps at no additional cost. "

But the pricing page at https://azure.microsoft.com/en-gb/pricing/details/logic-apps/ lists Basic and Standard SKUs which are both charged.

Is there a free SKU for Integration Accounts and if so what are it

[2018-10-20 12:00] joeruder opened #17278 "Developer Portal Experience Different"
The developer portal experiences that I saw was not the same as the documentation.  Requires extra steps that are not provided.  Could cause confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 5930a3f8-45f7-e782-f917-0235601f873b
* Content: [Import an

[2018-10-20 12:39] joeruder opened #17279 "Don't delete the Mock Response"
The documentation is waiting to be updated, but the last step of the corrected steps shows to delete the Mock Response.  This seems wrong?  The test call will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Independent ID: 68e97872-e73c-83a4-6856-3705a705e23c
* Conten

[2018-10-20 12:57] smoms opened #17280 "No D2C message uploaded"
Hi,
i have set up all correctly. On my Raspberry Pi everything all containers are running.
However when i start to monitor D2C message from VS Code i only see:

[IoTHubMonitor] Start monitoring D2C message for [myRPiDevice] ...
[IoTHubMonitor] Created partition receiver [1] for consumerGroup [$Default]
[IoTHubMonitor] Created partition receiver [0] for consumerGroup [$Default]

Shouldn't the devic

[2018-10-20 13:37] pdbeckwith commented on #16651
Exact same issue. Very frustrating.

[2018-10-20 15:06] Mike-Ubezzi-MSFT commented on #17272
If there are further questions regarding this matter, please re-open this issue and we will gladly continue the discussion.

[2018-10-20 15:07] Mike-Ubezzi-MSFT commented on #17269
@GraemeMalcolm Thank you for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-20 15:28] Mike-Ubezzi-MSFT commented on #17279
@joeruder Thank you for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-20 15:31] Mike-Ubezzi-MSFT commented on #17280
@smoms Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-20 15:34] rainabba opened #17283 "This article isn't iOS specific, but the "solution" for migrating to a new device via backup/restore is."
As an Android user, I expect to be able to buy a new device and smoothly migrate when I have both in hand (not lost or such). When I searched the web for a solution to this entirely common scenario (every user that EVER users this app and gets a new device), all I found was this page and a link to an iOS iCloud solution.

How do I do this as an Android user?

---
#### Document Details

⚠ *Do not e

[2018-10-20 15:41] joeruder opened #17284 "Outbound processing no longer functions this way"
The outbound processing no longer has a 'pencil' to edit it.
Documentation feels abandoned, open cases for close to a month.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f650a0b5-a147-ff23-533e-5a5481b3f02e
* Version Independent ID: 5271aa75-8a47-62fd-1e35-d0a23c58a6e2
* Content: [Transform and protect your API with

[2018-10-20 15:43] rainabba commented on #17283
More frustrating as I look for a solution (setting up all these accounts, across different services invalidates the entire point of this system because I have to then dig up all those passwords when I'm fully configured everywhere for 2fa.

https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Microsoft-Authenticator-Account-Backup-and-Recovery-Coming-soon/ba-p/245390

[2018-10-20 15:48] Mike-Ubezzi-MSFT commented on #17253
@jwashbur79 Thank you for the detailed feedback. We are actively investigating and will get back to you soon but, wanted to get some additional information.

- In your PowerShell environment, can you type `get-host` and confirm your **Version** as `5.1.17134.228`
- Have attempted the same PowerShell cmdlets in the Azure Cloud Shell environment?

![screenshot 466](https://user-images.githubusercont

[2018-10-20 15:50] Mike-Ubezzi-MSFT commented on #17259
@Ayanmullick Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-20 15:53] Mike-Ubezzi-MSFT commented on #17266
@ChrisFg Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-20 15:55] Mike-Ubezzi-MSFT commented on #17245
@AErmie Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-20 15:57] Mike-Ubezzi-MSFT commented on #17254
@sspenning Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-20 15:59] Mike-Ubezzi-MSFT commented on #17258
@Tiberriver256 Thank you for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-20 15:59] jwashbur79 commented on #17253
Hi Mike,

I have not attempted the same cmdlets in the Azure CLI. Since CLI requires
you to create a storage account, I was afraid of adding additional costs to
our monthly spend. Maybe the cost is very minimal?

I normally authenticate to our Azure environment from my PC using
PowerShell.

[image: image.png]

Thanks,

joshwashburn

systems administrator
nexgen|packaging <http://www.nexgenpackagin

[2018-10-20 16:01] Mike-Ubezzi-MSFT commented on #17258
**Note:** Unable to assign to @zhchia

[2018-10-20 16:03] Mike-Ubezzi-MSFT commented on #17262
@thuansoldier Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-20 16:13] Mike-Ubezzi-MSFT commented on #17267
Thank you for the detailed feedback. Are there additional features or functionality you feel would improve the service and make it a greater value? You can provide such feedback via the [Azure Active Directory Uservoice](https://feedback.azure.com/forums/169401-azure-active-directory).

[2018-10-20 16:19] Mike-Ubezzi-MSFT commented on #17268
@justinyoo Thank you for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-20 16:28] joeruder opened #17286 "Missing important info"
Consider expanding the documentation to also address versioning with the header or query string in addition to the path.  Mentioned but that is it.  Followed link at top as well and no info there.  This is a common short fall with MS docs, will state several ways to do something then just  demo one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-10-20 16:36] Mike-Ubezzi-MSFT commented on #17283
@rainabba Thank you for the detailed product and documentation related feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-20 16:39] Mike-Ubezzi-MSFT commented on #17284
@joeruder Thank you for the detailed feedback. We are actively investigating and will update you soon.

[2018-10-20 16:40] joeruder opened #17288 "consider moving Concepts"
Just a thought, the concepts / Terminology section was very useful.  It would have been even more useful before the quick starts and tutorials.
Thanks for very useful documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a747c49-faa5-3a76-f397-b3637e9a21f2
* Version Independent ID: 763ccd3f-d811-09e1-2bd9-eaa2

[2018-10-20 16:52] smoms commented on #17280
looking into the log of the python module i see lot of lines like:

Error: Time:Sat Oct 20 16:43:19 2018 File:/usr/sdk/src/c/umqtt/src/mqtt_client.c Func:mqtt_client_connect Line:1000 Error: io_open failed
Error: Time:Sat Oct 20 16:43:19 2018 File:/usr/sdk/src/c/iothub_client/src/iothubtransport_mqtt_common.c Func:SendMqttConnectMsg Line:2122 failure connecting to address raspberrypi.

[2018-10-20 18:01] mike-urnun-msft commented on #17286
Hi @joeruder Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-20 18:02] mike-urnun-msft commented on #17288
Hi @joeruder Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-20 19:05] eengurra opened #17293 "Mapping"
+1 411-616-9147

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role permissions in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-as

[2018-10-20 19:26] kristianjaeger opened #17295 "Getting this error after deploying the node.js function"
Error:

Function (MyHttpTrigger) Error: Failed to start language worker process for: node. node exited with code 1 Couldn't require bundle, falling back to Worker.js. Error: Your Function App is currently set to use Node.js version v6.5.0, but the runtime requires an Active LTS or Current version (ex: 8.11.1 or 10.6.0).,Error: Cannot find module './Worker.js'.
Session Id: b38a3536c5a641318389cec0f

[2018-10-20 19:58] antogh opened #17296 "Security concern"
I am able to debug the asp.net core app inside the container however to make it work I had to share my whole drive and give to a non Microsoft software the password for my Microsoft account (that access also onedrive, azure, outlook email and many other)
Is it possible to provide a more specific password only for this purpose and not the ms account pwd? I know they need permission to mount volumes

[2018-10-20 21:49] SaurabhSharma-MSFT commented on #10978
@massiveloop Ok, this needs more investigation so please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you have limitations in your support plan to open support ticket please let me know.

[2018-10-20 22:55] MarileeTurscak-MSFT commented on #17181
Thanks. I'm waiting on a reply and will update this thread accordingly.

[2018-10-20 23:58] MarileeTurscak-MSFT commented on #17293
@eengurra marking this post as spam.

[2018-10-20 23:58] #17293 closed

[2018-10-21 00:31] aydeisen commented on #17090
@Karishma-Tiwari-MSFT<https://github.com/Karishma-Tiwari-MSFT>

I didn’t enable the System Assigned  Managed Service Identity for these systems, so I’m afraid I  can't tell you how it was done.

I can confirm that the System Assigned MSI shows as enabled in the portal, and that the hybrid use benefit is able to be changed via the portal.  I have also been able to confirm that it’s able to be enabl

[2018-10-21 01:19] kobulloc-MSFT commented on #17284
@joeruder Thank you for your feedback.  There have recently been major changes to the API Management UI and I am in the process of updating screenshots for this section as I write this (you can see some recently updated screenshots in the portal quickstart, as well as tutorials 1 and 2).  We hope to have the new screenshots completed within a couple days, and they should be live within a week or s

[2018-10-21 01:31] AlexanderTodorovic commented on #16910
All is fine now. Thank you very much!

[2018-10-21 01:42] danvanderboom opened #17300 "acronym typo: RM should be ARM"
"An application is defined using the Azure Resource Model (RM) schema."

Do you mean "Azure Resource Model (ARM)"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1a57d1-5bc2-a87f-8506-08efacb9e2a8
* Version Independent ID: 0033d5ce-78cc-e023-ebea-891326860d25
* Content: [Learn Azure Service Fabric terminology](https:

[2018-10-21 02:11] JohnReeson commented on #17274
@Mike-Ubezzi-MSFT  Sorry for my vague expression.  We can see in the subsections of [Register binding extensions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#register-binding-extensions), from [Local development Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#local-development-azure-functions-core

[2018-10-21 02:29] longnlp commented on #16902
@SaurabhSharma-MSFT  Thank you, here is the link: https://social.msdn.microsoft.com/Forums/azure/en-US/0e2a0a7d-bf3e-4568-8576-f4e5dfc6c844/is-resource-owner-password-credentials-supported-for-v1-endpoint?forum=WindowsAzureAD

[2018-10-21 03:09] Mike-Ubezzi-MSFT commented on #17295
@kristianjaeger Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-21 03:12] Mike-Ubezzi-MSFT commented on #17300
@danvanderboom Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-21 03:14] Mike-Ubezzi-MSFT commented on #17296
@antogh Thank you for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-21 05:24] kundan123456 opened #17302 "ARM Template for Service Health Alerts"
We wish to create service health alerts using ARM template. I was trying the ARM template given on [https://docs.microsoft.com](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-activity-log-alerts-on-service-notifications) as **Create activity log alerts on service notifications.**

We are able to create service health alert but it does not meet our requirements. As we

[2018-10-21 06:33] gatneil commented on #16899
@mail4mohit @jakaruna-MSFT there are lots of separate things making this more confusing than it should be :).

1) Updating which custom image your scale set is using *is* supported. Specifically, somewhere in our ARM template (or CLI/PS script), you specify an image ID like this:

"storageProfile": {
        "imageReference": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myRes

[2018-10-21 09:40] joeruder commented on #17284
Thanks for the update.  I cannot imagine having to keep up current documentation with the amazing pace of Azure changes.

[2018-10-21 09:40] #17284 closed

[2018-10-21 11:28] #17302 closed

[2018-10-21 12:01] ericbrunner opened #17304 "The list of available APIs for each specific version is available in the following list."
Please fix the table body.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae492dba-ca3f-ca77-3332-60698bdf0cb3
* Version Independent ID: 7d43c51a-35ee-4a4b-6e79-635cabf7adf1
* Content: [Quickstart - Azure SignalR Service REST API](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-rest-api)
* Conte

[2018-10-21 13:12] ajamaeen opened #17305 "Adding expression(regEx) to query"
In Step 1: Create a data source:
Can i add  an expression like */cv/*.* in query or it has to be a relative path.

I mean in container &gt;&gt; query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32a534c-4c64-3e08-824a-cd298cd43022
* Version Independent ID: c0a0ac07-8e05-011f-ee31-e063854f3162
* Content: [Indexing JS

[2018-10-21 13:12] ajamaeen opened #17306 "Adding expression(regEx) to query"
In Step 1: Create a data source:
Can i add  an expression like */cv/*.* in query or it has to be a relative path.

I mean in container &gt;&gt; query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32a534c-4c64-3e08-824a-cd298cd43022
* Version Independent ID: c0a0ac07-8e05-011f-ee31-e063854f3162
* Content: [Indexing JS

[2018-10-21 13:12] ajamaeen opened #17307 "Adding expression (regEx) to query"
In Step 1: Create a data source:
Can i add  an expression like */cv/*.* in query or it has to be a relative path.

I mean in container &gt;&gt; query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32a534c-4c64-3e08-824a-cd298cd43022
* Version Independent ID: c0a0ac07-8e05-011f-ee31-e063854f3162
* Content: [Indexing JS

[2018-10-21 13:29] cowinr opened #17308 "Running with Zulu Java 8"
When running the example code with Azul Zulu JDK 8 I get a "java.lang.NoClassDefFoundError: javafx/util/Pair" as JavaFX is only included in Oracle's JDK by default. It seems that the ony use of JavaFX is for the javafx.util.pair class. Given Microsoft and Azul partnering over providing Java for Azure it would be great if the JavaFX dependency could be removed to save having to reference OpenJFX ju

[2018-10-21 13:30] vinichauhan commented on #8846
Hi Team. dps_cstr.exe does not work in my computer as it says it requires the tbs.dll. However, if I do install visual studio (With .Net Package) it starts working. I am unable to understand which library is missing.

However, on linux machine, the dps_cstr runs perfectly. Can you please help on resolving this?

Error : "The procedure entry point Tbsi_GetDeviceInfo could not be located in the dyna

[2018-10-21 13:39] fgauna12 commented on #16189
Oh thank god I found this.
I see this issue has been closed. The MSFT docs still have the old URL.

[2018-10-21 13:42] olandese commented on #16189
Glad I could help! I wrote a blog about this:
https://blog.olandese.nl/2018/10/16/create-an-event-grid-subscription-to-an-azure-function-v2/

[2018-10-21 14:17] smoms opened #17309 "error installing storage SDK on RPi"
Hi,

when i run 'pip install azure-storage' or try to install storage SDK on RaspberryPi i get error:

 fatal error: ffi.h: File o directory non esistente
     #include &lt;ffi.h&gt;
                     ^
    compilation terminated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
*

[2018-10-21 15:07] Mike-Ubezzi-MSFT commented on #17302
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-21 15:08] Mike-Ubezzi-MSFT commented on #17308
@cowinr Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-21 15:11] Mike-Ubezzi-MSFT commented on #17304
@ericbrunner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-21 15:13] Mike-Ubezzi-MSFT commented on #17305
@ajamaeen Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-21 15:15] Mike-Ubezzi-MSFT commented on #17306
@ajamaeen We will close this as a duplicate to the original issue filed: https://github.com/MicrosoftDocs/azure-docs/issues/17305

[2018-10-21 15:15] #17306 closed

[2018-10-21 15:16] Mike-Ubezzi-MSFT commented on #17307
@ajamaeen We will close this issue and a duplicate of the original issue filed: https://github.com/MicrosoftDocs/azure-docs/issues/17305

[2018-10-21 15:17] SaurabhSharma-MSFT commented on #17192
@rbrayb The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-10-21 15:17] #17192 closed

[2018-10-21 15:17] #17307 closed

[2018-10-21 16:01] ColbyTresness commented on #17260
Agreed @jeffhollan, it would be great if we could fix the underlying issue here rather than masking it, as we're pushing more and more customers to run from package

[2018-10-21 16:02] smoms opened #17310 "useful example"
do you have an example where I can call the blob storage on RPi from my PC. I am bit struggling. I am using some suggestion from https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#create-a-connection-string-for-an-explicit-storage-endpoint but i get error in the code. I have created a connection string like:

string storageConnectionString = "DefaultEndpoints

[2018-10-21 16:07] christiankuhtz commented on #16948
@yinghli sorry, what do you believe to be the typo exactly?

[2018-10-21 17:00] patpicos opened #17311 "AAD support"
Article needs updating to reflect AAD support https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content: [Use an Azure file shar

[2018-10-21 17:11] SaurabhSharma-MSFT commented on #17215
@paulmackinnon-adv365 I have followed the document instructions and able to get "Microsoft.AAD/DomainServices" resource.  See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/47269954-7d6d1680-d519-11e8-925b-a8e872ec8af7.png)

[2018-10-21 17:32] Ninja-France opened #17312 "Legion Etrangere-Legionnaire"
Amen.fr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221ae091-11d1-ccb2-2834-c157c57ed650
* Version Independent ID: 7d05b166-384f-d393-faac-5947f91d1a0b
* Content: [Manage your security info - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/security-info-manage-settings#chang

[2018-10-21 17:34] Ninja-France commented on #17312
Amen.fr

[2018-10-21 17:38] Ninja-France opened #17313 "Legion on France"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-21 17:41] nolisj commented on #17174
mike, thanks for the reply. I'm still verifying. I'm just waiting for my spending limit to be refreshed so I can try again. If it works, I'll close soon after. I'll update this thread. Thanks!

[2018-10-21 19:33] SaurabhSharma-MSFT commented on #17073
@lloydleebarber We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-21 19:33] #17073 closed

[2018-10-21 19:33] SaurabhSharma-MSFT commented on #17186
@itguru85 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-21 19:33] #17186 closed

[2018-10-21 19:40] mpalladinru opened #17315 "What exact package should be installed?"
If I run `npm install azure-sb` I won't have folder named `azure` in `npm-modules`. Only folders `azure-common` and `azure-sb` with similar names are there. So `require('azure')` gives an error. I think it should be `require('azure-sb')`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4435f8-c50c-57a3-c98c-c089b280af

[2018-10-21 21:22] Iain-Morris opened #17316 "Active Directory Domains CAN span multiple datacenters"
The direction for Azure-only HA database mirroring that "You must deploy using server certificates because an active directory domain cannot span multiple datacenters" is incorrect.  You may choose to use server certificates, but AD Domains can span multiple datacenters and the servers can mutually authenticate if they're in the same AD.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-21 22:11] ggailey777 commented on #17260
@mhoeger are you referring to `api/zip` or `api/zipdeploy`? This article is about  `api/zipdeploy`.

[2018-10-21 22:44] jusso-dev commented on #17015
Hi, that doesn't answer my question, the documentation is lacking, for example, when i want to find out all of the possible states returned from the API, this is what the documentation states:

**_"properties.state | string | State of the task (Active, Resolved etc.)"_**

It isn't very clear as to what all the possible states are. The same applies to the Office 365 Secure Score documentation, it's

[2018-10-22 01:11] kazshi opened #17318 "AzureCloud service tag coverage"
"This tag denotes the IP address space for Azure including all datacenter public IP addresses." Does it mean that (all IP addresses/prefixes in) all the service tags are covered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3f

[2018-10-22 02:09] JeanQian commented on #17125
May I know why it is only supported by ARM VM? is that possible to update related information in this article? Thanks

[2018-10-22 03:31] Mike-Ubezzi-MSFT commented on #17313
@Ninja-France We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2018-10-22 03:31] #17313 closed

[2018-10-22 03:31] Mike-Ubezzi-MSFT commented on #17313
@Ninja-France We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2018-10-22 03:33] Mike-Ubezzi-MSFT commented on #17313
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2018-10-22 03:34] Mike-Ubezzi-MSFT commented on #17313
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2018-10-22 04:09] MicahMcKittrick-MSFT commented on #17316
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 04:10] OzBob opened #17320 "Deprecated content Information on the Azure App Service supp"
"Azure App Service support" link https://azure.microsoft.com/en-au/blog/new-updates-to-support-site-extension-for-azure-websites/  deprecated content

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14de731-a265-1737-4580-67ca6dede020
* Version Independent ID: a275bb18-dedc-d41c-3541-224b42487b52
* Content: [Slow web ap

[2018-10-22 04:11] OzBob commented on #17320
"For more information on the Azure App Service support portal, see New Updates to Support Site Extension for Azure Websites." links to https://azure.microsoft.com/en-au/blog/new-updates-to-support-site-extension-for-azure-websites/ from 2014, with reference to https://{yoursite}.scm.azurewebsites.net/Support, which reports 'portal deprecated'. "Go to Azure Portal, choose your web app and click on

[2018-10-22 04:35] mike-urnun-msft commented on #17027
Hey @SychevIgor Thanks again for pointing this out and helping us drive an improvement toward MS Docs!
   - Link is updated and the PR created at MicrosoftDocs/azure-docs-pr#55714

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-22 04:59] mike-urnun-msft commented on #17027
Hey @SychevIgor Thanks again for pointing this out and helping us drive an improvement toward MS Docs!
   - Link is updated and the PR created at MicrosoftDocs/azure-docs-pr#55714

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-22 05:05] #17137 closed

[2018-10-22 05:36] Zebusch commented on #13053
It does not work with MS Teams either. It requires a 'text' or 'summary' property in the payload, which is not included in the data sent from Azure. Is this configurable?

[2018-10-22 05:36] Zebusch commented on #13053
It does not work with MS Teams either. It requires a 'text' or 'summary' property in the payload, which is not included in the data sent from Azure. Is this configurable?

[2018-10-22 05:37] Zebusch commented on #13053
It does not work with MS Teams either. It requires a 'text' or 'summary' property in the payload, which is not included in the data sent from Azure. Is this configurable?

[2018-10-22 05:38] biren1234 opened #17321 "i have 10 vm running on VMware i have confused about what bandwidth i need"
i have 10 vm running on VMware i have confused about what bandwidth i need
how can i confirm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cb8e74-332e-d1c2-2ba4-eff91806de73
* Version Independent ID: cb7300cf-6aed-1deb-d36d-fdd63955b6b4
* Content: [Physical server to Azure replication architecture in Azure Site Reco

[2018-10-22 05:39] Zebusch commented on #13053
It does not work with MS Teams either. It requires a 'text' or 'summary' property in the payload, which is not included in the data sent from Azure. Is this configurable?

[2018-10-22 05:42] kobulloc-MSFT commented on #17284
@joeruder Thank you :)  The updated screenshots should be up soon.  For anyone reading this before then, the code editor can now be accessed with the </> icon:

![image](https://user-images.githubusercontent.com/37556655/47279036-95c54b80-d582-11e8-9a36-a8308647ded6.png)

[2018-10-22 05:54] nolisj commented on #17174
Mike, I forgot to mention that the domains of the 2 different accounts are also different. I was thinking: how can one account from a different domain have access to a backup from another domain?

[2018-10-22 06:19] v-maroge commented on #16255
@CarlRabeler Any update on this?

[2018-10-22 06:22] dcbrown16 opened #17322 "Cache account requirements"
My understanding (per info from Rochak Mittal) is that cache accounts should be v1 storage accounts. It would be great if this could be documented here or possibly in the FAQ. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e22f219-b22a-b9d4-b0b7-e080b134da8d
* Version Independent ID: b2e66450-6b64-c541-c4d3-c6

[2018-10-22 06:28] jakaruna-MSFT commented on #16971
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-22 06:29] kundan123456 commented on #17302
@Mike-Ubezzi-MSFT  Thanks for your time. This issue got resolved now I am able to add specific services and regions using ARM templates.

[2018-10-22 06:30] kundan123456 commented on #17302
@Mike-Ubezzi-MSFT  If you have any idea how these above requirements can be implemented in Terraform, that would be of great help.

[2018-10-22 06:47] nschonni opened #17323 "RawGit is shutting down and is used for some docs"
There are a few references to rawgit HTML pages https://github.com/MicrosoftDocs/azure-docs/search?q=rawgit&unscoped_q=rawgit (so I didn't report it individually on the pages)
@zhouwangzw maybe you could see if the Microsoft/Cognitive-Speech-STT-iOS repo could turn on GitHub pages, or just migrate the content to the docs repo

[2018-10-22 06:58] mf-fm opened #17324 "Change deployment of Remote Monitoring"
Follow up question to #16843 (could not reopen it myself)

@dominicbetts: Thank you for your summary. With your help I was able to deploy my own web ui.

I do have a follow-up question regarding this topic: Is it possible to modify the setup of the Remote Monitoring Soultion in a way that the VM already contains my customized/edited docker-compose.yaml file right from the start?
Currently, I set u

[2018-10-22 07:22] benzhi2011 opened #17325 "ProviderFailed"
Hello, I got ProviderFailed status when I reached the step kubectl create -f virtual-kubelet-linux.yaml
kubectl get pods -o wide
NAME                                                              READY     STATUS           RESTARTS   AGE       IP            NODE
aci-helloworld-59d9b67c59-zn8lm                                   0/1       ProviderFailed   0          19s       &lt;none&gt;        virt

[2018-10-22 07:31] jusefb commented on #13282
@jeevansd perfect, thank you for the update

[2018-10-22 08:02] BasvanH commented on #12701
@Adam-Smith-MSFT @tysonn, could you please anwser my question.

[2018-10-22 08:13] #8050 closed

[2018-10-22 08:14] #11006 closed

[2018-10-22 08:15] #16398 closed

[2018-10-22 08:17] #16589 closed

[2018-10-22 08:18] #16761 closed

[2018-10-22 08:19] #16854 closed

[2018-10-22 08:21] #16873 closed

[2018-10-22 08:30] jakaruna-MSFT commented on #17203
@cynthn Please go through @dcbrown16  comments. I didn't find those information in Documents. Please review that and update the Document with snapshot bestpractices.

[2018-10-22 08:31] andylholloway opened #17326 "Update the 'How to change task hub name' for V2 Functions"
The 'How to change task hub name' section of this document does not mention that the 'durableTask' json property needs to be within an 'extensions' property e.g.

"extensions": {
    "durableTask": {
      "HubName": "MyTaskHubV2"
    }
  }
Without doing this the 'HubName' is ignored and the default name is used instead. Can the document be updated to included the json snippet above? Assuming this

[2018-10-22 08:37] jakaruna-MSFT commented on #16899
@cynthn @zr-msft In the document image is mentioned as a parameter which we cant change after creation. But looks like we can change. Please review that [document ](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#properties-with-restrictions-on-modification) and update as needed.

[2018-10-22 08:41] jakaruna-MSFT commented on #17033
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-22 08:41] #17033 closed

[2018-10-22 08:53] jakaruna-MSFT commented on #17011
@tingyiy @lachie83  I verified this in AKS 1.11.3 with the yaml file from azure docs.  Its not working as expected.
Initially "nvidia.com/gpu:" in capacity is 1 but the same value in allocatable is 0.
I checked after a day. Now both the places have 0.
![image](https://user-images.githubusercontent.com/43405697/47284508-3d835d80-d605-11e8-910c-65c5f2a4232c.png)

I created the daemonset in kube-syst

[2018-10-22 08:54] paulmackinnon-adv365 commented on #17215
@SaurabhSharma-MSFT turns out you need elevated rights to see AAD show up in the `Get-AzureRmResource` command.  I had to do this; https://docs.microsoft.com/en-gb/azure/role-based-access-control/elevate-access-global-admin. Might want to update your documents to explain this.

[2018-10-22 08:59] vinichauhan opened #17327 "dps_cstr tool does not work in Windows Enviroment"
Hi Team,

I am using Windows 7 as OS. For provisioning device to Azure IoT Central, I am unable to run dps_cstr.exe as it gives error that it requires some dll. However when I install visual studio, its seems visual studio installation package installs the required missing files and dps_cstr tool ran. Can you please let me know what exact library package are needed to be installed.

I was however

[2018-10-22 09:01] sergaz-msft commented on #17310
Thank you for your feedback @smoms . What tool\code sample are you using to connect with the blob storage module and what is the error that you see?

I would advise you to use [Azure Storage Explorer](https://azure.microsoft.com/en-us/features/storage-explorer/).

Thanks!

[2018-10-22 09:07] MohitGargMSFT commented on #17245
@AErmie I can repro what you are facing. I am assigning this issue to content author to check and clarify on the documented steps. Thanks.

[2018-10-22 09:13] PramodValavala-MSFT commented on #17162
@JasonBSteele
The HTTP Request trigger does not support chunking and also has a few other limits that you can refer to [here](https://docs.microsoft.com/en-gb/azure/logic-apps/logic-apps-limits-and-config#http-limits).

That being said, the HTTP Request trigger is best used to start asynchronous jobs or as webhooks. If your use case requires dealing with large payloads (like file uploads for examp

[2018-10-22 09:14] MohitGargMSFT commented on #17245
@AErmie I am able repro this issue by following the documented steps. I am assigning this issue to content author to verify steps and help with clarification on it.

[2018-10-22 09:18] paulmackinnon-adv365 commented on #17215
I don't know where my last comment went, so I'm posting this again.

@SaurabhSharma-MSFT ; No matter what I did, `Get-AzureRmResource` would not bring up "Microsoft.AAD/DomainServices", I ended up having to elevate my Global Admin account for it to show from that command; https://docs.microsoft.com/en-gb/azure/role-based-access-control/elevate-access-global-admin. You might want to update your doc

[2018-10-22 09:58] jakaruna-MSFT commented on #17136
@clangnerakq Good to hear that you got the Azure files working with another path.
You are having error while creating the path to mount. That create path command is failing with RC(return code) 1.
Generally `mkdir `  command, will only create the leaf directory.
Lets take your working example. /home/user.  You will have /home directory. Then user directory wil be created for you.
Lets take  /home/

[2018-10-22 10:13] aikivl3 commented on #13752
I would like to ask if we have a solution/workaround for this one?

[2018-10-22 10:51] aku163 commented on #16859
@TravisCragg-MSFT, We are trying to simply implement a load balancer which may have availability set with few proxy servers running.

We haven't used option for application gateway where there is more detailed control over what we want to allow. I can explore this option and come up with questions, if any.

Thanks for your response.

[2018-10-22 10:52] #16859 closed

[2018-10-22 11:20] DarkCompiled commented on #6788
I also have problems starting the new version of the emulator (2.0.0.0).
The emulator seems to start perfectly, but Data Explorer web page says "ERR_CONNECTION_REFUSED".
And I'm also unable to reach the emulator API.

I already tried to uninstall and reinstall - still does not work.
I rebooted the computer several times - still does not work.
I tried to run "LODCTR /R" several times - still does n

[2018-10-22 11:33] clangnerakq commented on #17136
@jakaruna-MSFT Thank you for your reply.
I have looked in the script in the container. The script is using the `-p` flag for creating a new dir `/home/test/shared` and the parent directory .

It looks like this:
[code]

As soon as I start the same container with the same azure-file-share and the same mountpoint but **without a vnet**, the script can create the directory and mount the azure-file-sh

[2018-10-22 12:14] olavt opened #17332 "What format is data stored in for IoT Hub routing to Blob Storage?"
I was looking at the doc page here:

https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing

But, I could not find any information about what format data is stored in. Does it use Avro or something else? It should be mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f233412c-4242-e9a6-e09d-c5b07775dd00

[2018-10-22 12:29] jakaruna-MSFT commented on #17195
@dcbrown16 All the images from Azure marketplace has the windows vm Guest agent installed.
The steps provided in the blog is for imported vhd files which don't have the agent installed.
The process will be same for classic and Resource manager VMS.
I will add the blog owner to check.

[2018-10-22 12:30] jakaruna-MSFT commented on #17195
@roiyz-msft This page has samples for RM VM's only.  Can we add a note about classic VM's. Please suggest

[2018-10-22 12:31] akx commented on #15282
@daveba: Thanks for the tip, but I need to retrieve the identities from _within_ the VM, and on an untouched machine the command fails with a `Please run 'az login' to setup account.`.

@Karishma-Tiwari-MSFT:

The VMs I'm trying this with are created using the Azure REST API using the Python client library. I assume using the REST API employs the Resource Manager (as I've understood the other opti

[2018-10-22 12:35] jakaruna-MSFT commented on #17325
Thanks for the question! We are investigating and will update you shortly.

[2018-10-22 12:42] lloydleebarber commented on #17073
I made those changes...now I am getting the following:
![image](https://user-images.githubusercontent.com/15612136/47292851-ee6e0600-d5cd-11e8-8685-b862465bd276.png)

Is this a permissions configuration problem?

[2018-10-22 12:56] andreasfredriksson commented on #6788
I had the same problem. I discovered that I had two versions of the emulator installed. 2.0 and 1.1.2. I uninstalled both of them from Apps and functions (that I think the English translation would be, I have a Swedish version of Windows 10).

Then I installed 2.0 again. Now the Data Explorer web page works again.

[2018-10-22 13:03] PramodValavala-MSFT commented on #17213
@drwebmonkey Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action regarding the "Run from ZIP" option.

As for the 401 that you are observing, could you please confirm if the "Access Rights" for the function was set to "anonymous"? You can confirm by checking for this line in your function code
[code]
If its not the same,

[2018-10-22 13:06] MGoedtel commented on #17209
@mlamb1966 @femsulu - I'm checking with the PM to confirm what the plan is here.  Thanks.

[2018-10-22 13:07] MGoedtel commented on #16855
@mosharafMS @femsulu - I'm checking with the PM to confirm and will get back to you shortly.  Thanks!

[2018-10-22 13:10] mcurko opened #17333 "Installation error"
Verification stage results in "... access to federation metadata could not be verified" for both internal and external options. My DC is an Azure VM with all network traffic allowed, both by means of Azure NSG as well as server firewall. External DNS is Azure-managed, internal one is located on the same VM server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-10-22 13:21] PramodValavala-MSFT commented on #17207
@abhinav-jain09
The deployment command will try to connect to Azure using any previous logins from running `az login`.

A 403 would mean that you do not have the necessary permissions to create resources.
Your user might not have enough access because of the RBAC role assigned.

Also, in case you have multiple subscriptions, you could confirm if the default subscription is correct.

To check your

[2018-10-22 13:42] #11866 closed

[2018-10-22 13:49] jaq316 opened #17336 "set-body with byte array"
How can I set the body to a byte array that was cached from a previous request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5c8bfc-df28-c601-ffe2-244bf261e869
* Version Independent ID: e2c3a983-4f42-3aa7-1432-6221365c74aa
* Content: [Azure API Management transformation policies](https://docs.microsoft.com/en-us/az

[2018-10-22 14:27] ggirard07 opened #17337 "Table for retirement date is broken and unreadable"
Currently the table which seems to be intended to provide retirement date for preview SDK is not quite readable.
For me, it is displayed as:
"| Version | Release Date | Retirement Date | | 0.9.1-preview |October 18, 2018 |--- |"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75ec66a2-77d8-2fe7-32f2-91239368a0a6
* Versi

[2018-10-22 14:28] DCtheGeek commented on #17259
@Ayanmullick Couple quick questions for you to help on this...

- Are you using Azure PowerShell locally or in [Cloud Shell](https://shell.azure.com)?
- What version of PowerShell are you using (get with `$PSVersionTable.PSVersion`)?
- Have you installed the new 'Az' module (preview) for PowerShell?
- When you ran the cmdlet for `Get-AzureRmSubscription`, did you get any errors?

My guess is that

[2018-10-22 14:29] ggirard07 commented on #17337
The link in the original document to this issue does not appear in the bottom of the page...

[2018-10-22 14:41] amanarneja commented on #17315
@mpalladinru Thanks for reporting, we are investigating and will get back to you.

[2018-10-22 14:41] dima-fedotovs opened #17339 "unauthorized: authentication required"
I'm trying to pull images from the registry which is in another subscription. Created a principal using the script provided in the subscription with the registry. Created secrets in kubernetes (another subscription). Added imagePullSecrets. But always getting the error: Failed to pull image "***.azurecr.io/***:***": [rpc error: code = Unknown desc = Error: image ***:*** not found, rpc error: code

[2018-10-22 14:45] diberry commented on #17171
@toddbsweeney Thank you for reporting this issue. I am investigating. #in-progress

[2018-10-22 14:47] AndreaOliveira opened #17340 "Access Denied"
I'm having trouble adding the passkey. The keys to my service are not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c8e934-6639-88c5-08c1-31c90531854e
* Version Independent ID: 440b6cf2-692c-9a2c-558b-22326b3bdfb3
* Content: [Call the Text Analytics API](https://docs.microsoft.com/en-us/azure/cognitive-serv

[2018-10-22 14:51] PramodValavala-MSFT commented on #17326
@andylholloway Thanks for catching this! We will review and update this accordingly.

[2018-10-22 14:51] amanarneja commented on #17318
@kazshi We are looking into this and will get back to you. In the meantime, is there a particular scenario you are looking to enable that we can validate?

[2018-10-22 14:56] tmmueller commented on #17215
Running this instead worked for me.

    $DomainServicesResource = Get-AzureRmResource -ODataQuery "`$filter=resourcetype eq 'Microsoft.AAD/DomainServices'"

[2018-10-22 15:02] poychang opened #17341 "fix the typo"
According to [source code](https://github.com/Microsoft/vscode-azure-iot-edge/blob/1c902913599320a66c20d0850aa405fc3038ca48/assets/solution/deployment.template.json) of `deployment.template.json`, the 4 of the [Build your IoT Edge solution](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module#build-your-iot-edge-solution) paragraph, it is `modulesContent` section not `moduleConte

[2018-10-22 15:05] Ayanmullick commented on #17259
1. Yes, I'm running it locally
2. Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      16299  637

3. No, I haven't installed it.
4. No, I didn't get any errors.

I am running it locally. However, I am authenticated into Azure with `Login-AzureRMAccount`. I get the context of the desired subscription when I run `Get-AzureRmContext`.

[2018-10-22 15:18] erhopf commented on #16910
#please-close
@YutongTie-MSFT - Looks like our developers are unblocked and we have a backlog item in place to correct confusing/incorrect documentation related to passing sub key/access tokens with the TTS endpoint.

[2018-10-22 15:22] DCtheGeek commented on #15550
@xenalite It can probably still be made clearer.  I'll work on improving it.  Thanks for the feedback!

[2018-10-22 15:58] Adam-Smith-MSFT commented on #17309
@smoms I'd recommend checking the following page: https://github.com/Azure/azure-storage-python
The troubleshooting steps indicate that issues could occur if the pip version is out of date, or if an older version of azure-storage is installed. I'd recommend uninstalling it and installing the specific package you need for blobs file or queue ie: azure-storage-blob etc.. Let me know if this helps.

[2018-10-22 16:00] mikebudzynski commented on #17174
The backup is stored in a storage account, so you should be able to easily retrieve it from another domain, as long as you share the storage account access.

[2018-10-22 16:05] dpiessens opened #17342 "How is this policy different from "Audit SQL DB encryption"?"
How is this policy different from https://docs.microsoft.com/en-us/azure/governance/policy/samples/sql-database-encryption-audit ? It seems the other one is better as it excludes the master database from the policy which cannot have TDE directly applied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4684e029-e811-54d5

[2018-10-22 16:07] sergaz-msft commented on #16879
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-22 16:07] #16879 closed

[2018-10-22 16:15] woodruffw commented on #15427
Is there any update on this? I'd like to be able to analyze Azure metadata tags, and it'd be nice to know if my "parser" needs to be more complicated that just splitting on `;`.

[2018-10-22 16:28] Adam-Smith-MSFT commented on #17308
@cowinr I'd highly recommend redirecting the feedback to this channel since it is frequently checked by the product team : https://feedback.azure.com/forums/217298-storage
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-22 16:28] #17308 closed

[2018-10-22 16:29] #17300 closed

[2018-10-22 16:33] MSUser00087 commented on #17056
Hello Mike,

We are looking to enable Auditing on SQL server using ARM template to send data to OMS Workspace.. at the moment from ARM template it allows to send data to Storage account only but not to OMS workspace..

Using azure portal we are able to enable Auditing on SQL server to send data to OMS.. is there a way we can do this using ARM templates..?

-MSUser00087

___________________________

[2018-10-22 16:33] MSUser00087 commented on #17056
________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Friday, October 19, 2018 5:52 AM
To: MicrosoftDocs/azure-docs
Cc: MSUser00087; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Using ARM template unable to configure SQL server lever auditing to send data to OMS work space (#17056)

@MSUser00087<https://github.com/MSUser00087> Please take a look at this blog post:

[2018-10-22 16:34] sergaz-msft commented on #16949
Hello @janlange we currently don't have a sample with the scenario described. There is work in progress in that though. Can I kindly ask you to open a new feature request [here ](https://feedback.azure.com/forums/907045-azure-iot-edge)?

Thank you!

[2018-10-22 16:46] SaurabhSharma-MSFT commented on #17215
@paulmackinnon-adv365 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-22 16:48] SaurabhSharma-MSFT commented on #16950
@astengaard We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-22 16:48] #16950 closed

[2018-10-22 16:49] cherylmc commented on #17039
He's targeting sometime in the next month. That being said, what specifically do you need for your project? Perhaps I can get an answer for your specific question sooner.

[2018-10-22 16:50] SaurabhSharma-MSFT commented on #17258
@jeevansd  Can you please help here.

[2018-10-22 16:50] dsk-2015 commented on #17068
@walsehgal Hey Waleed can you please look into this issue? Thanks.

[2018-10-22 16:51] dsk-2015 commented on #17057
@walsehgal Hey Waleed can you please look into this issue?

[2018-10-22 16:52] ursqontis commented on #13752
Sorry, I cannot give you any workaround. We quit using docker on windows since it currenly is just to mature enough to be used in prod enviornments imho.

From: aikivl3 <notifications@github.com>
Sent: Montag, 22. Oktober 2018 12:58
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Urs Meili <urs@qontis.ch>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2018-10-22 16:52] dsk-2015 commented on #15655
@sergaz-msft , the new owner of this service is Waleed. I will create a PR to update the ownership in the docs. Could you please reassign all the PR issues for the "Azure Maps" service to Waleed?

@walsehgal Hey Waleed can you please look into this issue?

[2018-10-22 16:53] dsk-2015 commented on #14510
@walsehgal Hey Waleed can you please look into this issue?

[2018-10-22 16:57] BryanLa commented on #17023
Hi @SaurabhSharma-MSFT - could you reopen this issue and assign to me? There are some specific steps required when using full IIS locally, with the AppAuthentication library. I'm making plans to update "Service-to-service authentication to Azure Key Vault using .NET", and will update this issue accordingly.

[2018-10-22 16:58] robsrip opened #17345 "No email is included in B2C User Profile"
After following this setup doc users can authenticate using an Azure AD organizational account, but the user is not created with any attached email address in B2C. What modifications to the custom policies or to the Azure AD app registration need to be made to include the email address?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-10-22 17:00] yzheng-msft commented on #15619
We don't communicate GA dates publicly.

[2018-10-22 17:05] ashmaka commented on #17340
Hi Andrea, can you share the exact call that is failing? Are you sure you are using the correct region for your API key?

[2018-10-22 17:07] JamesTerHark commented on #15822
What was your findings on this?  Was I correct?

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, September 28, 2018 12:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James TerHark <jterhark@m60consulting.us>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Specified tenant is not correct or not stated clearly (#15822)

@JamesTe

[2018-10-22 17:07] YutongTie-MSFT commented on #17341
@poychang Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:10] YutongTie-MSFT commented on #17345
@robsrip Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:14] MicahMcKittrick-MSFT commented on #17216
@koman I will close this for now. Let me know if the above link helped. If not, we can reopen and continue

[2018-10-22 17:14] #17216 closed

[2018-10-22 17:14] YutongTie-MSFT commented on #17340
@AndreaOliveira Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:15] MicahMcKittrick-MSFT commented on #17220
@cmeyertons any update on this?

[2018-10-22 17:16] MicahMcKittrick-MSFT commented on #17248
@pksorensen fair enough.

@masnider can you take a look and see if we should update this doc?

CC @aljo-microsoft

[2018-10-22 17:16] Karishma-Tiwari-MSFT commented on #15427
@harijayms Would you be able to provide an update on this one? Thanks. :)

[2018-10-22 17:17] YutongTie-MSFT commented on #17323
@nschonni Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zhouwangzw Can you please check this issue? Thanks a lot!

[2018-10-22 17:19] YutongTie-MSFT commented on #17337
@ggirard07
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:20] YutongTie-MSFT commented on #17336
@jaq316 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:30] DCtheGeek commented on #17342
@dpiessens Thanks for the question!  They appear the same to me (other than excluding the master database), as well.  I'm checking with engineering to make sure I'm not missing something obvious and will get back to you once I hear back.  Thank you for pointing this out!

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'doc-bug', and #in-progress.

[2018-10-22 17:33] Grace-MacJones-MSFT commented on #17320
Hi @OzBob, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-22 17:34] rodsorbara opened #17346 "Time to Read"
This articles takes at least 30 minutes to be read, not 10 minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556effb7261c
* Content: [Microsoft Antimalware for Azure](https://docs.microsoft.com/en-us/azure/security/azure-securi

[2018-10-22 17:35] Mike-Ubezzi-MSFT commented on #17337
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-22 17:37] cynthn commented on #17203
@jakaruna-MSFT thanks for the feedback! VM snapshots and Backup snapshots are different use cases. VM snapshots are more for dirty backups and creating images, while the snapshots take using the Backup service are true backups. Are you looking for just general recommendations about VM snapshots? It really is dependent on what you are trying to do with the snapshot. If you are trying to troubleshoo

[2018-10-22 17:45] SaurabhSharma-MSFT commented on #17023
@BryanLa Thanks Brayn.  I have assigned this issue to you.

[2018-10-22 17:46] vhorne commented on #16673
#please-close

[2018-10-22 17:46] CarlRabeler commented on #16255
I sent another request just now for an answer to this question.

[2018-10-22 17:48] YutongTie-MSFT commented on #17311
@patpicos Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@RenaShahMSFT @wmgries Can you please take a look? Thanks!

[2018-10-22 17:48] kevinlam1 commented on #17268
You need to set the audience to: https://vault.azure.net
(make sure not to include a trailing slash)

[2018-10-22 17:49] ggailey777 commented on #17260
@mhoeger are you referring to `api/zip` or `api/zipdeploy`? This article is about  `api/zipdeploy`. The [article that you link to about Timer triggers](https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing) recommends using `/api/zipdeploy` to make sure that triggers get sync'd.

[2018-10-22 17:49] YutongTie-MSFT commented on #17321
@biren1234 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:51] YutongTie-MSFT commented on #17322
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@asgang Can you please take a look? Thanks a lot!

[2018-10-22 17:51] iainfoulds commented on #17132
@kkho Yes, this is what the managed identities would address. The container instance that you deploy can have an identity assigned to it that allows it to natively retrieve secrets from Key Vault. I'll update you when this new doc is live, hopefully in the next few days.

[2018-10-22 17:52] erhopf commented on #12927
#please-close

[2018-10-22 17:52] YutongTie-MSFT commented on #17324
@mf-fm Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:53] davidmu1 commented on #16479
This article provides the appropriate information for the task to be done and it isn't really directly related to using the VS template. Because this is an issue with the template and should be fixed soon, I don't believe that a change is required to this article.

#please-close

[2018-10-22 17:54] YutongTie-MSFT commented on #17346
@rodsorbara Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 17:55] AndreaOliveira commented on #17340
Hey @ashmaka ! My region was wrong.

Tks ;)

[2018-10-22 17:55] #17340 closed

[2018-10-22 17:56] davidmu1 commented on #16288
According to the engineering team:

"This article provides the reference for a SAML identity provider, not a SAML relying party. SamlAssertionSigning is related to a SAML relying party only. Please don’t change the doc."

#please-close

[2018-10-22 17:56] donghexu commented on #17337
PR is created: https://github.com/MicrosoftDocs/azure-docs-pr/pull/55750. Thanks for reporting!

From: Mike Ubezzi <notifications@github.com>
Sent: Monday, October 22, 2018 10:37 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Donghe Xu <Donghe.Xu@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Table for retirement date is broken and u

[2018-10-22 17:56] DiegoRamirez-MSFT commented on #17321
Hello biren1234

could you please provide more context about your question? are you concerned about the amount of bandwidth required to migrate all 10 VMs?

best

[2018-10-22 17:57] Mike-Ubezzi-MSFT commented on #16828
@miaoran We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 17:57] #16828 closed

[2018-10-22 17:57] ashmaka commented on #17340
Common mistake - glad to help out! Cheers!

[2018-10-22 17:58] YutongTie-MSFT commented on #17312
@Ninja-France Hi, can you please provide more information about your issues and the document you are referring?

[2018-10-22 18:00] CeciAc opened #17347 "Example not working"
@CentricStraaten commented on [Fri Oct 12 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/92)

I copied the code to test this pattern. It compiles local and can published online without any problems. When I call the function as documented I receive a 404 HttpResponse. In the log files I notice and exception:  The function 'HandleFile' doesn't exist, is disabled, or is not an orchest

[2018-10-22 18:01] CeciAc commented on #17347
Hi team,
This was a source issue so I moved it here. If the problem was solved, please feel free to close it.

Kind regards,
Microsoft DOCS International Team

[2018-10-22 18:03] helloguo commented on #16869
Thanks for your suggestions. I followed your suggestions. And only rebooting Azure Stack works for me. I'm going to close this issue if there are no more concerns.

[2018-10-22 18:03] #16869 closed

[2018-10-22 18:07] Alberto-Vega-MSFT commented on #16873
@danvanderboom We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-22 18:09] Mike-Ubezzi-MSFT commented on #16849
@atullalwani Please take a look at the following Stack Overflow thread: [mysql replication - slave server on one database](https://stackoverflow.com/questions/8605318/mysql-replication-slave-server-on-one-database).
By using the `replicate-ignore-db=<db value>` you can ignore specific databases.

[Replication Slave Options and Variables](https://dev.mysql.com/doc/refman/8.0/en/replication-options-

[2018-10-22 18:10] YutongTie-MSFT commented on #17347
@CeciAc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 18:10] andig commented on #17131
I‘ll open a ticket and email you for reference, thanks for the quick turnaround time!

[2018-10-22 18:18] YutongTie-MSFT commented on #16910
@erhopf Thanks a lot!

@overslacked We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 18:18] #16910 closed

[2018-10-22 18:19] MicahMcKittrick-MSFT commented on #16481
@gs9824 just FYI, I am working offline to get an answer to this. Will update you once I have more information.

[2018-10-22 18:19] CarlRabeler commented on #7499
#please-close

[2018-10-22 18:19] TravisCragg-MSFT commented on #16673
@devops-brain We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-22 18:19] #16673 closed

[2018-10-22 18:19] BenjaminStein opened #17348 "Support of actual versions"
can you please update the informations of supported versions. Are actual version of confluence, like 6.9.1, supported as well? Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45acbc6-caae-be6c-939e-55451831d03e
* Version Independent ID: 0d88f4ee-2ac5-1ad4-245b-b8c0752a7303
* Content: [Tutorial: Azure Active D

[2018-10-22 18:20] CarlRabeler commented on #10180
#please-close

[2018-10-22 18:20] CarlRabeler commented on #16126
#please-close

[2018-10-22 18:20] Mike-Ubezzi-MSFT commented on #16927
@shaunybrown Not sure what or how to proceed here, as there is no action item to take with regard to the documentation. Can you ensure the .yaml file values are entered correctly and the file is correctly formatted. Also, the Read-Write Primary or Secondary key is required. If all checks out, please re-generate your Primary and Secondary Read-Write keys and try to connect again.

![screenshot 468]

[2018-10-22 18:20] CarlRabeler commented on #13471
#please-close

[2018-10-22 18:21] CarlRabeler commented on #12004
#please-close

[2018-10-22 18:35] CarlRabeler commented on #16901
@bdcoder2 thanks - topic being updated now

[2018-10-22 18:35] CarlRabeler commented on #16900
@bdcoder2 thanks - topic being updated now

[2018-10-22 18:37] YutongTie-MSFT commented on #15724
@Jann-Skotdal Any update? Thanks.

[2018-10-22 18:37] jscott3201 opened #17350 "Authorization Flow Examples (Client-Credential)"
While using Postman may be the quickest route I think an example of using a client-credentials flow for server to server communication would be a great example for the use case of the digital twin APIs. I assume most people would query the model or have a few digital twins at any given time. I have got the implicit flow working but seem to fail on all other flow types for this management API.

---

[2018-10-22 18:38] Mike-Ubezzi-MSFT commented on #16997
@ccnoecker Thank you for the additional details you have provided. This information has been provided to the product team.

[2018-10-22 18:38] YutongTie-MSFT commented on #14783
@datarelish We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@gopitk Thanks!

[2018-10-22 18:38] #14783 closed

[2018-10-22 18:39] sandervandevelde opened #17351 "Blob Module deployment fails; 3 possible improvements"
Today I tried to add the new blob storage support to my already running IoT edge on Ubuntu 18.04.

I did not get it running.

I would like to share my findings. I tried to contact Greg Manyak, I talked with him last week in Barcelona but I do not have his email address. Is he the right contact person?

So I used the procedure at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blo

[2018-10-22 18:41] chetansriv commented on #14900
This is fixed.

#please-close

[2018-10-22 18:41] Mike-Ubezzi-MSFT commented on #17056
@MSUser00087 Please use the [Azure SQL Uservoice](https://feedback.azure.com/forums/217321-sql-database) to make functionality and feature requests.

[2018-10-22 18:43] chetansriv commented on #16226
This is updated.
#Please-close

[2018-10-22 18:44] chetansriv commented on #16439
This is updated
#please-close

[2018-10-22 18:44] Mike-Ubezzi-MSFT commented on #17095
@CarlRabeler Could you provide any insight to this scenario? I am unable to reproduce this...

[2018-10-22 18:44] chetansriv commented on #16692
@rkondru @jeevansd We got the account and tested the app again. The above feedback is valid, updating the tutorial now

[2018-10-22 18:46] narayan4all commented on #5643
I don't see this content still fixed. can we get this content updated?

[2018-10-22 18:47] chetansriv commented on #16867
@markl181 @jeevansd Working with Absorb LMS team to get the test account. The above suggestion requires retesting of the app before making any changes in the tutorial. Once we have retested the app and verified the suggestions, we'll update the tutorial accordingly.

[2018-10-22 18:47] YutongTie-MSFT commented on #14486
@v-kydela Thanks for reporting the issue, it has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 18:47] #14486 closed

[2018-10-22 18:47] Jann-Skotdal commented on #15724
@ziad-akiki The issue should be resolved and word alignment should now work as shown in the documentation. Please let us know if anything is still not working as expected.

[2018-10-22 18:47] CarlRabeler commented on #12214
@fmorriso added link https://azure.microsoft.com/en-us/free/services/sql-database/

[2018-10-22 18:54] CarlRabeler commented on #17095
@randycampbell

If the master branch of the repo and the origin branch becomes too far out of date, git will not let the user create the PR – and you get a 500 error message. The solution is to have the user synch their fork with master using the github UI.
To do this, go to the user’s fork, click Compare on the right (right below Clone or Download green button), and then click “switching the base

[2018-10-22 19:03] TravisCragg-MSFT commented on #15639
@nnasaki it is not supported at this time. You can [leave your feedback Here ]([url](https://feedback.azure.com/forums/217313-networking/suggestions/35784130-allow-an-http-to-https-redirect-on-azure-front-doo))if you would like this feature to be enabled in the future.

[2018-10-22 19:05] jeffhollan commented on #15756
This is fixed in the project templates now. You can target netcore2.1

[2018-10-22 19:07] jeffhollan commented on #15756
#please-close

[2018-10-22 19:08] YutongTie-MSFT commented on #17350
@jscott3201 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@lyrana Hi, can you please add examples about authorization flow? Thanks a lot!

[2018-10-22 19:09] YutongTie-MSFT commented on #17351
@sandervandevelde Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 19:14] YutongTie-MSFT commented on #15052
@LanceMcCarthy Hi, this issue has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 19:14] #15052 closed

[2018-10-22 19:26] xtianus79 opened #17358 "these instructions are obsolete"
this needs updated badly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Independent ID: b9874b73-5524-6238-ea70-a23d8a27aa47
* Content: [Get started with Mobile Apps by using Xamarin.Forms](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamari

[2018-10-22 19:28] kazshi commented on #17318
@TravisCragg-MSFT Thank you for the clarification. Could you please add the exceptions to the AzureCloud section if possible?  Thanks.

[2018-10-22 19:33] danimir commented on #6792
@mcapia We have added support for monitoring Managed Instance, and have recently added ability for Deadlocks, Blocking events and Timeouts. We are also expecting at-scale Automatic Tuning management in the solution. GA should be coming next year.

[2018-10-22 19:34] TravisCragg-MSFT commented on #15639
@nnasaki We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-22 19:34] #15639 closed

[2018-10-22 19:34] danimir commented on #6792
#please-close

[2018-10-22 19:39] mbialecka commented on #17351
Ad. "Can you confirm the container create options configuration of my blob module is correct?"

Looking at the docker documentation, Mounts option is a newer way of creating binds that replaces Binds, Volumes, and Tmpfs options. It is more verbose and versatile. I do not see a reason to use both options at the same time – just use one of them, whichever you like.

When using Mounts option:
Target

[2018-10-22 19:43] bob999c opened #17360 "cluster-autoscaler deployment error -- no matches for kind "Deployment" in version "extensions/v1""
When executing aks-cluster-autoscaler.yml, I am seeing below exception.
====================================================
unable to recognize "D:\\dockerbuild\\aks-cluster-autoscaler.yml": no matches for kind "Deployment" in version "extensions/v1"
=====================================================

any changes required for apiVersion?

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-22 19:49] seanmck commented on #11616
@ai2admin The private preview form was designed to gauge interest and build a pipeline of interested customers. We will reach out once it is ready for you to try. In the interim, you can get started with Kubernetes on Windows today using [acs-engine](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md). This will allow you to validate your Windows containers on a K8s cluster

[2018-10-22 19:50] Mike-Ubezzi-MSFT commented on #17086
@wesmc7777 Can you confirm the `Available Bandwidth` statistic. Is this value per second a total for both read and write query activity? Basically, this is the max through put you are expected to experience for a given pricing tier? Thanks...

![screenshot 470](https://user-images.githubusercontent.com/37126106/47315166-9f899600-d5f8-11e8-8b37-b684ffde2de2.png)

[2018-10-22 19:53] davidmu1 commented on #15938
I'I believe that the steps in this article for setting up sign in with Google as the identity provider work as intended. This seems to be an issue unrelated to the article content.

#please-close

[2018-10-22 19:54] MarileeTurscak-MSFT commented on #17345
@robsrip

In TrustFrameworkExtensions.xml:

Add a new ClaimType for upn:

[code]
Also add the upn as an OutputClaim in the AAD Technical Profile (ContosoProfile in this example):

`<OutputClaim ClaimTypeReferenceId="upn" PartnerClaimType="upn" />`

Then in the SignUpOrSignInWithAAD.xml file replace the sub OutputClaim with your upn claim. So:

[code]
After that your JWT token should have the user'

[2018-10-22 19:55] SaurabhSharma-MSFT commented on #17073
@lloydleebarber Can you please make sure that if  "Enabled for users to sign-in?" property is set to "Yes" in your application's setting-
![image](https://user-images.githubusercontent.com/38112130/47315449-761d3a00-d5f9-11e8-86c5-c6894ee17107.png). If not, set it to "Yes" and try to get the token again using the post request.

[2018-10-22 19:57] Neckross opened #17361 "Custom CA policy enforce MFA and bypass Baseline CA policy"
@MarkusVi- in reference to your statement below. Does that mean that even after the Baseline policy goes GA, we can disable it and use a Custom CA policy for MFA that comply with our security requirements?

The new baseline policy requires MFA regardless of where the connection is coming from. If you need something more granular than the baseline, you need to create a custom policy and disable the

[2018-10-22 20:00] ai2admin commented on #11616
Last I tried, I have not been able to even get started with ACS - it keeps failing the deployment for me every time I attempt to create one. It's an outdated option that can hardly justify additional time investment.

Surely EKS doesn't support Windows containers (though ECS does) - I was comparing two services with the same functionality.

[2018-10-22 20:03] #16455 closed

[2018-10-22 20:03] Mike-Ubezzi-MSFT commented on #17174
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:03] #17174 closed

[2018-10-22 20:03] CeciAc opened #17362 "Old repo sitting in Azure GitHub org"
@nschonni commented on [Sun Oct 21 2018](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/114)

This looks to be an old copy of this repo https://github.com/Azure/azure-content-ptbr
If it is, it would be good to remove it to prevent confusion.

[2018-10-22 20:03] #16288 closed

[2018-10-22 20:04] Mike-Ubezzi-MSFT commented on #17156
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:04] #17156 closed

[2018-10-22 20:04] xtianus79 commented on #9051
they seem to have updated azure but not the documentation

[2018-10-22 20:05] Mike-Ubezzi-MSFT commented on #16894
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:05] #16894 closed

[2018-10-22 20:05] Mike-Ubezzi-MSFT commented on #16892
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:05] #16892 closed

[2018-10-22 20:05] Mike-Ubezzi-MSFT commented on #16891
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:05] #16891 closed

[2018-10-22 20:06] Mike-Ubezzi-MSFT commented on #16890
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:06] #16890 closed

[2018-10-22 20:06] Mike-Ubezzi-MSFT commented on #16889
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:06] #16889 closed

[2018-10-22 20:06] Mike-Ubezzi-MSFT commented on #16883
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:06] #16883 closed

[2018-10-22 20:07] Mike-Ubezzi-MSFT commented on #16882
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:07] #16882 closed

[2018-10-22 20:08] Mike-Ubezzi-MSFT commented on #16479
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:08] #16479 closed

[2018-10-22 20:08] Mike-Ubezzi-MSFT commented on #16439
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:08] #16439 closed

[2018-10-22 20:09] YutongTie-MSFT commented on #17360
@bob999c Hi, can you please share more details about which document you are referring to? Thanks a lot!

[2018-10-22 20:09] Mike-Ubezzi-MSFT commented on #16226
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:09] #16226 closed

[2018-10-22 20:10] Karishma-Tiwari-MSFT commented on #17090
@aydeisen Thanks for sharing the details. It looks like you are able to achieve it using Portal as well as PowerShell version 6.8.1.
I am not sure about the reason for the error message, I couldn't reproduce it. I will share it with the product teams and share the update here if I could find anything.
We will now close this issue. Feel free to reopen it if you have additional questions. Thanks.

[2018-10-22 20:10] #17090 closed

[2018-10-22 20:10] Mike-Ubezzi-MSFT commented on #16126
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:10] #16126 closed

[2018-10-22 20:11] YutongTie-MSFT commented on #17358
@xtianus79 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-22 20:11] Mike-Ubezzi-MSFT commented on #15756
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:11] #15756 closed

[2018-10-22 20:11] Mike-Ubezzi-MSFT commented on #14900
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:11] #14900 closed

[2018-10-22 20:11] Karishma-Tiwari-MSFT commented on #17125
@JeanQian I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-22 20:12] Mike-Ubezzi-MSFT commented on #14397
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:12] #14397 closed

[2018-10-22 20:12] YutongTie-MSFT commented on #17361
@Neckross Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@MarkusVi Hi, can you please take a look of this question for you? Thanks a lot!

[2018-10-22 20:13] Mike-Ubezzi-MSFT commented on #14342
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:13] #14342 closed

[2018-10-22 20:13] CeciAc opened #17364 "Old repo still on Azure org"
@nschonni commented on [Sun Oct 21 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/143)

Came across https://github.com/Azure/azure-content-dede which looks like it was an old version of this repo. Maybe it should get removed to prevent confusion

[2018-10-22 20:13] bob999c commented on #17360
content inside Deployment file.

apiVersion: extensions/v1
kind: Deployment
metadata:
  labels:
    app: cluster-autoscaler
  name: cluster-autoscaler
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-autoscaler
  template:
    metadata:
      labels:
        app: cluster-autoscaler
    spec:
      serviceAccountName: cluster-autoscaler
      containers:

[2018-10-22 20:14] Mike-Ubezzi-MSFT commented on #13471
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:14] #13471 closed

[2018-10-22 20:14] Karishma-Tiwari-MSFT commented on #17221
@radhagpt We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-22 20:14] #17221 closed

[2018-10-22 20:14] Mike-Ubezzi-MSFT commented on #12927
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:14] #12927 closed

[2018-10-22 20:15] Mike-Ubezzi-MSFT commented on #12004
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:15] #12004 closed

[2018-10-22 20:16] Mike-Ubezzi-MSFT commented on #10180
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:16] #10180 closed

[2018-10-22 20:16] davidmu1 commented on #16773
Added this item:

Make sure that you change any Allowed Origins that you have defined in the CORS settings for [user-interface customization](active-directory-b2c-ui-customization-custom-dynamic.md).

#please-close

[2018-10-22 20:16] Mike-Ubezzi-MSFT commented on #7499
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-22 20:16] #7499 closed

[2018-10-22 20:18] conceptdev commented on #17358
This page was tested and updated less than a month ago. Please let us know which area you are having trouble with so that we can address.

[2018-10-22 20:19] davidmu1 commented on #17230
Added examples of the appropriate URLs:

For the Sign-on URL, enter the following URL in all lowercase letters, where your-B2C-tenant-name is replaced with the name of your Azure AD B2C tenant. For example, https://fabrikam.b2clogin.com/fabrikam.b2clogin.com/oauth2/authresp:

For Metadata url, enter the following URL replacing your-AD-tenant-domain with the domain name of your Azure AD tenant. For

[2018-10-22 20:19] MarileeTurscak-MSFT commented on #17333
You need to use your cloud administrator .onmicrosoft.com account in the first step of the wizard. Then you need to use your local admin account in the second place where the wizard prompts for credentials. See the settings in my blog post and see if it helps. (Blog post is for PTA but the credential steps will be the same.) https://medium.com/@marilee.turscak/configuring-pass-through-authenticati

[2018-10-22 20:21] YutongTie-MSFT commented on #15938
@markolbert We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 20:21] #15938 closed

[2018-10-22 20:28] amanarneja commented on #17362
@SyntaxC4 - Can you check if https://github.com/Azure/azure-content-ptbr and https://github.com/MicrosoftDocs/azure-docs.pt-br are the same and if one should be removed ?

[2018-10-22 20:31] MicahMcKittrick-MSFT commented on #17252
When you register an application with AAD it allows users to login using the AAD names instead of local admins. If you were to expose the app secret then whoever had access to that secret could register apps to your active directory and from there work on obtaining crucial information you want to keep within the company.

In fact, if you follow the steps in this doc and after you create the app se

[2018-10-22 20:32] amanarneja commented on #17364
@SyntaxC4 Can you check if https://github.com/Azure/azure-content-dede https://github.com/MicrosoftDocs/azure-docs.de-deare the same and one should be removed?

[2018-10-22 20:43] mbialecka commented on #17310
@smoms I think your BlobEndpoint is missing the account name.
You have: BlobEndpoint=http://192.168.0.11:11002
Should be: BlobEndpoint=http://192.168.0.11:11002/AzureBlobOnRPi

Let me know if it helps.

[2018-10-22 20:45] tamram commented on #16935
@MNF - Thanks for your feedback. Encryption in .NET Core is now generally available for blobs and queues. I'll note that in the article.

#please-close

[2018-10-22 20:45] DCtheGeek commented on #17259
To update this item, the issue is that the example is for Resource Groups and uses `Get-AzureRmResourceGroup`.  That cmdlet returns an object with property `ResourceId` which has the full path resource identifier that the **-Scope** parameter expects.  @Ayanmullick was trying to set the scope to a Subscription.  `Get-AzureRmSubscription` returns a property `Id`, but it is not the full path.  Using

[2018-10-22 20:47] mike-urnun-msft commented on #16990
Hey @danielhzrivera Were you able to install the necessary dependencies (`Twilio` & `VoiceResponse`) OK?

[2018-10-22 20:50] imartinez2 opened #17365 "URL Redhat broken"
Hi this ULR was broken from RedHat website
http://www.redhat.com/en/partners/strategic-alliance/microsoft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f897-0d81-98b8-1c28-af1528f1e135
* Content: [Endorsed distributions of Linux](https://docs.microsoft

[2018-10-22 20:55] dumnovnz commented on #15632
I'm not sure as I have not hear anything

On Tue, 23 Oct 2018 at 07:43, YutongTie-MSFT <notifications@github.com>
wrote:

[2018-10-22 20:59] MicahMcKittrick-MSFT commented on #17339
@dima-fedotovs this doc is not designed for instances in separate subscriptions. The first script shown will not work properly as it is providing AKS access to ACR but it is searching for both AKS and ACR in the context of the default subscription.

@dlepow @iainfoulds do either of know if this is possible and/ or if we have any docs on it? I am not finding anything

[2018-10-22 21:10] szarkos commented on #16813
There was another PR that I just signed off that added links to Ubuntu 18.04 and 18.10.

Ubuntu 12.04 is still supported by Canonical via ESM: https://wiki.ubuntu.com/SecurityTeam/ESM/12.04

[2018-10-22 21:10] szarkos commented on #16813
#please-close

[2018-10-22 21:10] bob999c commented on #17360
This is about AKS cluster node auto scaling.

[2018-10-22 21:11] szarkos commented on #16812
This doc needs to be re-written, and likely we'll just remove openSUSE and focus on SLES.

[2018-10-22 21:12] szarkos commented on #16811
The Debian community is in the process of revamping their image build system to use the FAI tool.  I'll add more information about how to use this tooling once all that lands in the Debian project.

[2018-10-22 21:12] #16813 closed

[2018-10-22 21:20] luismy opened #17366 "Next steps"
I believe the next step should read: Tutorial: Create an Azure Active Directory B2C tenant rather than Register an application to enable ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azure Active

[2018-10-22 21:30] YutongTie-MSFT commented on #16284
@mchudinov We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 21:30] #16284 closed

[2018-10-22 21:30] YutongTie-MSFT commented on #16773
@chrispadgettlivecom We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 21:30] #16773 closed

[2018-10-22 21:35] juanidambrosio opened #17367 "Allow JSON array as body"
Could you please specify an estimate date for this bug fix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-

[2018-10-22 21:42] xyh1 commented on #16895
#please-close

[2018-10-22 21:47] ichkoj opened #17370 "Configurable token lifetimes (Preview) OR Azure Active Directory Conditional Access"
Can someone clarify which feature we should use?.....
Configurable token lifetimes or Azure AD conditional Access?...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable token lifetimes in Azure Activ

[2018-10-22 21:53] cfe84 commented on #16895
Nice, thanks. The way it used to be formulated i thought there were some migration charges. This is much clearer! Thanks

[2018-10-22 21:57] MarileeTurscak-MSFT commented on #17366
@luismy Thanks for the feedback! We will investigate and update as appropriate.

[2018-10-22 22:02] nmarchini opened #17371 "Lack of detail"
There is a huge lack of detail in this documentation, especially around AWS.

I want to know what period of time the "Cost-Effective Sizing Recommendations" report makes its assessment over? It is also critical that this can be configured by the user/viewer of the report.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-22 22:04] luismy opened #17372 "There is no Next Step button?"
There should one with the following link https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-b2c-tutorials-spa-webapi

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370e4c33-91b6-eafb-1ced-0a079449d982
* Version Independent ID: cefd38c9-5c1e-c381-0549-ded07f752f97
* Content: [Tutorial - Enable

[2018-10-22 22:09] MarileeTurscak-MSFT commented on #17366
Thanks. @luismy. It looks like there are a few issues with the link.

It is supposed to be an app registration link based on the context but the URL tutorial-register-application resolves to tutorial-create-tenant . The "create tenant" link should probably also be included because Also, it would probably good to include both the "Create B2C tenant" link and the "Register Application" link since cr

[2018-10-22 22:17] YutongTie-MSFT commented on #16935
@MNF We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 22:17] #16935 closed

[2018-10-22 22:17] TravisCragg-MSFT commented on #17318
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-22 22:35] walsehgal commented on #17059
@dsk-2015, @sergaz-msft
@apan64: Resolved, thanks for pointing out.

[2018-10-22 22:42] YutongTie-MSFT commented on #16895
@cfe84 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 22:42] #16895 closed

[2018-10-22 22:42] YutongTie-MSFT commented on #17230
@mlinehan17
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-22 22:42] #17230 closed

[2018-10-22 22:45] YutongTie-MSFT commented on #17201
@Sarah-Aly Does it solve your issue?

[2018-10-22 22:48] mlinehan17 commented on #17230
Thanks for updating the docs. Much clearer now 😊

Michael

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Murray <notifications@github.com>
Sent: Monday, October 22, 2018 9:22:37 PM
To: MicrosoftDocs/azure-docs
Cc: mlinehan17; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Consistent use of your-tenant (#17230)

Added ex

[2018-10-22 22:51] BryanTrach-MSFT commented on #14853
@JordanChong99 As discussed at the [Auto-Complete doc](https://docs.microsoft.com/en-us/rest/api/searchservice/autocomplete), this feature is still in preview. With preview features, it is not recommended to use them in production environments.

We invite you to monitor for updates on this features status at [Azure Updates](https://azure.microsoft.com/en-us/updates/?product=search).

We will now p

[2018-10-22 22:51] #14853 closed

[2018-10-22 22:59] SaurabhSharma-MSFT commented on #17372
@luismy Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-22 22:59] BryanTrach-MSFT commented on #15074
@BGHSys We have specific fields in the App Settings blade of your web app that allow you to assign your connection strings and app settings. This removes having to store them in your web.config file, which we do not suggest doing.

The thought process here is that if you maintain your Azure environment access and follow best practices with account management, these values should remain secure.

Fo

[2018-10-22 22:59] #15074 closed

[2018-10-22 23:06] MarileeTurscak-MSFT commented on #17367
@juanidambrosio
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-22 23:07] dcbrown16 commented on #17195
@jakaruna-MSFT I actually was able to get some information about running state recommendation from an engineer. I posted yesterday but it was lost in the GitHub crash.

Disk snapshot does not care what OS state currently is. There is no guarantee for data consistency if snapshot is taken while OS is running.
Recommended way is shutting down VM before taking snapshot for data safety if possible.

[2018-10-22 23:07] femsulu commented on #17371
@nmarchini Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-22 23:09] MarileeTurscak-MSFT commented on #17370
@ichkoj If possible you should use conditional access because configurable token lifetimes are being discontinued, as mentioned in the article. If you need this to work right away, however, you can start with configurable token lifetimes and switch to conditional access when the configurable token lifetimes feature is deprecated and the new conditional access feature becomes available.

[2018-10-22 23:09] BryanTrach-MSFT commented on #15580
@Hyper200 We checked interanlly but we were unable to obtain verification as to the ciphers are used. We apologize for this inconvenience and thank you for your understanding.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-22 23:09] #15580 closed

[2018-10-22 23:10] MarileeTurscak-MSFT commented on #17370
This is also explained in the doc.

[2018-10-22 23:10] MarileeTurscak-MSFT commented on #17370
Hope this answers your question! If you'd like to continue the discussion please leave a comment, re-open the issue, or open a new issue and I will gladly continue the conversation.

[2018-10-22 23:10] #17370 closed

[2018-10-22 23:11] dcbrown16 commented on #17203
@cynthn thanks for checking! Yeah the question here is more about backups and the engineer recommendation was to shut down for consistency (in-flight transactions at the time of snapshot might not be stable for backup purposes). Certainly Backup (the service) is recommended over VM snapshots for true production backups, but it seems like it might make sense to have a note about shutting down for c

[2018-10-22 23:14] dcbrown16 commented on #17322
Rochak pointed out the documentation in the support matrix below:
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#support-for-storage-configuration
As such, I think this can be closed, thanks for the support!

[2018-10-22 23:14] #17322 closed

[2018-10-22 23:18] mhoeger commented on #17260
@ggailey777 - thanks for the catch!! I saw `https://<function_app>.scm.azurewebsites.net/api/zip/site/wwwroot/` in the article (which can be used as an option to download the zip) and assumed it was suggesting deploying via `api/zip`. Closing issue :)

[2018-10-22 23:18] #17260 closed

[2018-10-22 23:19] Grace-MacJones-MSFT commented on #16829
Hi @zzulueta, have you tried  to update to the latest version of your project's dependencies? Also, it is a known issue google-services 4.1.0 does not work with the latest versions of the Android Gradle Plugin (mostly 3.3.0-alpha0x). They're tracking the issue on their side.

[2018-10-22 23:27] seanmck commented on #11616
To be clear, I am talking about acs-engine (the open source project), not the ACS service (I realize the naming is confusing). We are actively investing in the acs-engine project as it forms the basis for how we provision Kubernetes clusters in AKS. If you have issues deploying Windows-based agents with acs-engine, I'm sure @PatrickLang would love to hear about them.

[2018-10-22 23:32] SaurabhSharma-MSFT commented on #17372
@luismy The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-10-22 23:32] #17372 closed

[2018-10-22 23:35] Alberto-Vega-MSFT commented on #16954
@Anmolgan81 support have their own way to channel tickets to the right engineers. Were you able to resolve this issue?

[2018-10-22 23:36] BryanTrach-MSFT commented on #15637
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-10-22 23:36] #15637 closed

[2018-10-22 23:37] cynthn commented on #17203
@dcbrown16 Yeah, that sounds like something that I could add to the doc. Thanks for the feedback :)

[2018-10-22 23:39] Alberto-Vega-MSFT commented on #16945
@AdamPliska was the previous suggestion helpful to resolve your issue? Are you still blocked?

[2018-10-22 23:39] allenwux commented on #16980
@MattKravetz  we are working on the python support.

[2018-10-22 23:50] ggailey777 commented on #17260
@mhoeger the zip options get confusing, if the article isn’t clear enough please let me know.

[2018-10-22 23:52] BryanTrach-MSFT commented on #15668
The product group verified in this [MSDN post](https://social.msdn.microsoft.com/Forums/en-US/8f0df1dc-b1cf-4469-934d-3d7525458323/azure-search-index-on-csv-blob-using-rest-api) that all indexes are incremental.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2018-10-22 23:52] #15668 closed

[2018-10-22 23:54] BryanTrach-MSFT commented on #15860
@XanderM1960 and @Eithcowich Since your issue appears to match the one mentioned in [Azure/azure-cli-extensions#325](https://github.com/Azure/azure-cli-extensions/issues/325), we invite you to follow that issue for updates.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2018-10-22 23:54] #15860 closed

[2018-10-22 23:56] YutongTie-MSFT commented on #17365
@imartinez2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 00:07] MicahMcKittrick-MSFT commented on #16481
@gs9824 since this is intended to be a long-running instance and seeing lots of restarts, you might just need to add a long-running command line to the `az container create` command, like --command-line "tail -f /dev/null".

Also, check this guide for additional troubleshooting options

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-troubleshooting#container-continu

[2018-10-23 00:30] Alberto-Vega-MSFT commented on #17242
Hi,

I believe that if you follow the steps in order you should be Okay at the end of  [step 4](https://docs.microsoft.com/en-us/azure/storage/data-lake-storage/handle-data-using-databricks#create-storage-account-file-system) it mentions:

**Now the file system is created for the storage account.**

We will now proceed to close this thread. If there are further questions regarding this matter, ple

[2018-10-23 00:30] #17242 closed

[2018-10-23 00:31] mike-urnun-msft commented on #17295
Hi @kristianjaeger Sorry for inconvenience. Could you set your `NodeJS` runtime version to `8.11.1` and try again? This is done in Application Settings under Platform Features tab as [documented here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings). Hope this helps, please let me know if you continue to encounter issues.

[2018-10-23 00:52] hugotoledo opened #17378 "Thank you for including screen shots"
As someone who is new to recent versions of several Microsoft technologies, I find the lack of screenshots unhelpful. I am glad they are used here. The reason is the authors of the copy already know the context and usage of their insights. Someone new like myself will have trouble using the information in the article when, in practice, the dialog box you will use employs labeling different from th

[2018-10-23 00:53] j-martens commented on #17239
@sdgilley @cjgronlund

[2018-10-23 01:12] MithunChopda commented on #17232
Yes, the primary scenario is to send some text and get speech back.

I was participating in a hackathon where I wanted to demonstrate a voice
driven order processing system from web browser on mobile phone.
I such a realistic situation a crisp quick start example would have been
very useful.

Thanks,
Mithun

On Fri, Oct 19, 2018, 8:56 PM erhopf <notifications@github.com> wrote:

[2018-10-23 01:33] mike-urnun-msft commented on #17055
Hello @SychevIgor We have updated this documentation to reflect this change. Once again, thank you for your contribution and helping us drive improvements towards MS Docs! Always a pleasure :)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-23 01:33] #17055 closed

[2018-10-23 01:34] danielhzrivera commented on #16990
Hello Again.

I've been working with visual studio and ngrok to test the functions and
the examples works locally.

I'm still not publishing on cloud.

I will update if I have troubles after publish the functions.

Regards.

On Mon, Oct 22, 2018 at 4:47 PM Mike Urnun <notifications@github.com> wrote:

[2018-10-23 01:43] #17048 closed

[2018-10-23 02:20] Alberto-Vega-MSFT commented on #17265
@kuldeepldec This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-10-23 02:44] BPA8 commented on #17241
@Mike-Ubezzi-MSFT  - I was able to overcome this issue. I posted my solution here [https://stackoverflow.com/questions/52882908/sql71501-column-dbo-columnname-has-an-unresolved-reference-to-column-encryp/52940402#52940402](url)

[2018-10-23 02:46] Alberto-Vega-MSFT commented on #17378
@hugotoledo Thank you for your feedback :) It is awesome to hear that you found the doc useful.  I agree with you, the author did a great job kudos @Minewiskan

[2018-10-23 02:46] #17378 closed

[2018-10-23 02:59] Alberto-Vega-MSFT commented on #17261
Hi @saulcruz

 This doc has some samples on how that looks like:
https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipeline-execution-triggers#examples-of-trigger-recurrence-schedules

[2018-10-23 03:10] v-etzha opened #17381 "Is this a spelling mistake?"
![image](https://user-images.githubusercontent.com/34734408/47333071-294a6980-d6b4-11e8-8909-7b8e4cd82217.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dec9e1f-6e34-ca88-6f55-be83acac4645
* Version Independent ID: 6d2ca9a9-b26e-f4ab-f0d1-08a0782c7359
* Content: [Tutorial- Upgrade an Azure Service Fabric Mesh app

[2018-10-23 03:20] zzulueta commented on #16829
i was able to solve this issue by adding this dependency
implementation 'com.android.support:preference-v7:28.0.0'

[2018-10-23 03:36] ioamnesia opened #17384 "Fixed Issue with 503 Unavailable"
I followed this article, but when I tried to test the function in the portal, I received an error 503 - Unavailable during the test. When manually navigating to the URL, the webpage returned stated: This Azure Functions app is down for maintenance
Host is offline.

I found that in the wwwroot folder, there was an app_offline.htm file. Not sure how it got there during the webapp deployment, but I r

[2018-10-23 03:40] Anmolgan81 commented on #16954
So ADF v2 does not support ssh tunneling, the pg team just confirmed that.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alberto Vega <notifications@github.com>
Sent: Tuesday, October 23, 2018 5:05:10 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to connect to Redhshift Cluster which is using SSH-Tunne

[2018-10-23 03:42] nazneen84 opened #17385 "Unable to connect to the server: Method Not Allowed"
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.0", GitCommit:"XXXXXXXXXX", GitTreeState:"clean", BuildDate:"2018-09-28T15:20:58Z", GoVersion:"go1.11", Compiler:"gc", Platform:"darwin/amd64"}
Unable to connect to the server: Method Not Allowed

My AKS version is 1.11.3. The activity log shows that my upgrade succeeded from 1.9.X to 1.10.X to 1.11.3. What am

[2018-10-23 04:28] Karishma-Tiwari-MSFT commented on #16638
@carlfm01 The product team is working on the fix. The PR will be merged soon. Thanks for bringing this to our attention. We will close this issue now. I will share here once the changes are live.

[2018-10-23 04:28] #16638 closed

[2018-10-23 04:30] Karishma-Tiwari-MSFT commented on #17365
@szarkos Do you know what would be the right link for redhat? It looks like the old link does not work anymore.

[2018-10-23 04:31] jakaruna-MSFT commented on #17195
CC @craiglandis

[2018-10-23 04:36] kobulloc-MSFT commented on #17135
@brinux Each blob is a text file that contains multiple '\n' separated rows, and each row is unformatted JSON ([source](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry?toc=/azure/azure-monitor/toc.json#format)).  You can open this in Visual Studio (choose Edit > Advanced > Format File) or you can [use our code snippet](https://docs.microsoft.com/en-us/azur

[2018-10-23 04:36] #17135 closed

[2018-10-23 04:44] fujie commented on #17157
Encountered the same error. I configured 2 instances of G Suite, prod/dev, for Azure AD SSO. To fix this issue, I changed EntityId for the second instance from "google.com/a/contoso.com" to simply "google.com" and turn off "Use a domain specific issuer" on the Google admin console. I do not sure the root cause, but it seems that there are some issues on handling entityId during parsing SAMLRequest

[2018-10-23 05:06] RenaShahMSFT commented on #15369
@OmarHallab @gebeckj Can you please share which features are you most interested in. We may have some features coming in preview refresh and would love to validate if that satisfies your requirements.

[2018-10-23 05:19] nnasaki commented on #15639
@TravisCragg-MSFT I would like to easily redirect from HTTP to HTTPS. For example, in the AWS Cloud Front, you can do it by simply turning on the check box.

![image](https://user-images.githubusercontent.com/875216/47337368-91a64480-d6ce-11e8-9fac-bd7d9a3800cc.png)

I do not want to implement such a basic function in the application.

[2018-10-23 05:27] jakaruna-MSFT commented on #17136
@clangnerakq Since the script fails when the directory is getting created, I feel that this doesn't have anything to do with file share. Because after creating the directory, We will attempt to mount.
Provided that the container is same and created with same options, We may have a permission issue.
I am not sure about the behaviour difference when we deploy containers within or out of a VNET.
I am

[2018-10-23 05:37] mcurko commented on #17333
Thats exactly what I did. I note that before dealing with federation I have successfully configured password sync and PTA, and they both worked fine.

[2018-10-23 06:07] yssky opened #17392 "$vnet = Get-AzureRmVirtualNetwork -Name VNet -ResourceGroupName NRP-RG"
警告: Breaking changes in the cmdlet 'Get-AzureRmVirtualNetwork' :
警告:  - "The output type 'Microsoft.Azure.Commands.Network.Models.PSVirtualNetwork' is changing"
 - The following properties in the output type are being deprecated :
 'EnableVmProtection'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3b89f0b-2115-efe6-e

[2018-10-23 06:08] yssky opened #17393 "$backendSubnet = Get-AzureRmVirtualNetworkSubnetConfig -Name LB-Subnet-BE -VirtualNetwork $vnet"
警告: Breaking changes in the cmdlet 'Get-AzureRmVirtualNetworkSubnetConfig' :
警告:  - The parameter : 'VirtualNetwork' is changing.

警告:  Change description : The EnableVMProtection property for the parameter Virtualnetwork is no longer supported.
Setting this property has no impact. This property will be removed in a future release. Please remove it from your
scripts

---
#### Document Details

⚠ *

[2018-10-23 06:08] yssky opened #17394 "New-AzureRmStorageAccount -ResourceGroupName NRP-RG -Name 'mynrpipv6stacct' -Location 'West US' -SkuName "Standard_LRS""
New-AzureRmStorageAccount : 发送请求时出错。
所在位置 行:1 字符: 1
+ New-AzureRmStorageAccount -ResourceGroupName NRP-RG -Name 'mynrpipv6s ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureRmStorageAccount]，HttpRequestException
    + FullyQualifiedErrorId : Microsoft.Azure.Commands.Management.Storage.NewAzureStorageAccountCommand

[2018-10-23 06:30] dima-fedotovs commented on #17339
@iainfoulds Kubernetes version is 1.9.11. I will try to upgrade to latest

[2018-10-23 07:04] Leon99 commented on #17023
@BryanLa do you have an idea of when we can expect to get the update? We're looking into making use of KeyVault right now and a couple of major apps in our zoo require full IIS.

[2018-10-23 07:05] VishnuKiranBodugu opened #17395 "Can we perform Memory Preserving Maintenance for VM Scale set in Service Fabric Cluster ?"
If Possible Please Post the way to do

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fc60513-fa32-aca2-0530-11b8d7ce5a00
* Version Independent ID: fbe1623e-7e9a-6103-a8c1-73d532c8491e
* Content: [Maintenance and updates for Linux VMs in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/maintenance-a

[2018-10-23 07:29] msvijayn commented on #16669
Hi @vjabala - as in error message - you are not using timestamp in query; hence the error.
![image](https://user-images.githubusercontent.com/33087919/47343155-1be8ab80-d6c3-11e8-9397-f437ab78734a.png)
Also this forum is for any documentation issues; if you have technical or product queries the appropriate place would be via [Azure Support Ticket or Community Forum](https://azure.microsoft.com/en-

[2018-10-23 07:38] kuldeepldec commented on #17265
Hi Alberto,Thanks for your reply. Copy interface is working fine for me now. Please close the case.
RegardsKuldeep Bhati

Sent from Yahoo Mail on Android

  On Tue, 23 Oct 2018 at 3:20, Alberto Vega<notifications@github.com> wrote:
@kuldeepldec This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please

[2018-10-23 07:41] epa095 commented on #17252
Thanks for you answer. Sounds like we should keep the secret... secret ;-)  We are looking into allowing most of our employees to create clusters with AAD enabled. In step 7 in the doc it says `This step will fail if the current account is not a tenant admin.` RBAC does not void that does it? So it sounds like if we want most of our employees to be able to create AAD enabled AKS clusters we need t

[2018-10-23 08:06] JasonWHowell commented on #16026
HI @basavaraj64 Do you have any more input on what post-validation steps you would like to see? Just requesting context so we don't make any bad assumptions.

If you are busy, we'll stand down for now. Please let us know later on as you have time. Thanks, Jason
#please-close

[2018-10-23 08:10] JasonWHowell commented on #17154
#please-close
CC: @mamccrea in case the docs need an update. See the nice response from an-emma. Thanks! Jason

[2018-10-23 08:13] JasonWHowell commented on #14947
Hi @isamllr

I'm not entirely sure. Are you still facing the UnknownHostException errors? Maybe you got help elsewhere, since its been a while and I'm slow to respond here.

By chance is your ADLS secured with a virtual network  + service endpoint (in the same region as the Azure Databricks cluster)?
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-a

[2018-10-23 08:16] benzhi2011 commented on #17325
@jakaruna-MSFT this works again after I created a new AKS cluster

[2018-10-23 08:17] esin opened #17397 "Scaling doesn't work without `nodepool-name` option"
Hi
I have trying to scale up/down nodes count, but without nodepool-name this feature doesn't work

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41a301e-1baf-984d-74d7-bfaf7156eadf
* Version Independent ID: 6a92992b-0514-e969-025b-7071322b6ee4
* Content: [Scale an Azure Kubernetes Service (AKS) cluster](ht

[2018-10-23 08:17] #17154 closed

[2018-10-23 08:28] smmousavi1 commented on #16837
This problem still exists.
The snapshot is attached, and the error stack trace is as following:

---------------------------------------------------------------------------
Error                                     Traceback (most recent call last)
/anaconda/envs/py36/lib/python3.6/site-packages/azureml/core/authentication.py in _get_arm_token(self)
    334             access_token = auth._token_r

[2018-10-23 08:29] rayne-wiselman commented on #17321
@biren1234 Hi, if you're replicating VMware VMs please follow the instructions in these documents:
1. https://docs.microsoft.com/en-us/azure/site-recovery/tutorial-prepare-azure
2. https://dhttps://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial
3. https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial

As part of the instructions, you can estimate capacity p

[2018-10-23 08:34] kuvinodms commented on #17249
I'm also facing exactly the same issue while following the above mentioned documentation.

[2018-10-23 08:35] Sihomiri opened #17398 "forward slash before key is not correct"
When adding the unique keys one should not add the forward slash, this gives an error in the Azure Portal. So from the example above just specify lastName or lastName,firstName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-ffff-106550e2a537
* Version Independent ID: ee0468ba-1b3b-6ba4-d9f6-c60da3e7c

[2018-10-23 08:36] rayne-wiselman commented on #16390
@jtuliani This article is a tutorial that is designed to illustrate a single VM. This other article might help walking through for an app - https://docs.microsoft.com/en-us/azure/migrate/contoso-migration-rehost-vm

#please-close. The issue isn't related to this article.

[2018-10-23 08:37] jakaruna-MSFT commented on #17203
Thank you @cynthn. Adding that information to the Document will be helpfull.

[2018-10-23 08:37] rayne-wiselman commented on #16168
@Rajeswari-Mamilla Hi, please take a look

[2018-10-23 08:41] akhileshnirapure opened #17399 "The value for property 'PrefixSuffixNamingRequirement' has an invalid format"
I'm trying to setup Group Naming policy on a tenant with Azure AD P2 License (Trial) License assigned to tenant Admin.

1. installed latest AAD Preview Module
2. imported and connected to tenant using Tenant Admin
3. Created settings based on Unified Group Template

$Template = Get-AzureADDirectorySettingTemplate -Id 62375ab9-6b52-47ed-826b-58e47e0e304b
$Setting = $template.CreateDirectorySetting(

[2018-10-23 08:54] temabu opened #17400 "PowerApps Administrator Test - Wrong content?"
PowerApps Administrator Test - This looks like its partially copied from the DNS Zone Contributor??  Either the title is wrong, or the role description is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content:

[2018-10-23 08:55] jakaruna-MSFT commented on #17325
@benzhi2011 Good to hear that its working.  If you have observed any change between your old and new cluster which caused the failure, Please share.

[2018-10-23 08:58] rayne-wiselman commented on #17018
This is now fixed at https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms#choose-a-vm-restore-configuration

#please-close

[2018-10-23 09:01] rayne-wiselman commented on #17070
@TravisCragg-MSFT Hi, are you updating the article with this information?

[2018-10-23 09:06] jakaruna-MSFT commented on #17316
@Iain-Morris Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-23 09:13] nmarchini opened #17401 "This doesn't show how to use the new CUR report"
DBR is the old style of report from AWS. CUR is the new style and provides more insight into the costs, when will Cloudyn support CUR?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c7c1b9-bd95-4a38-e4e4-df773be67c79
* Version Independent ID: d8448440-9d78-1e1c-f739-bd1c03cceae1
* Content: [Connect an Amazon Web Serv

[2018-10-23 09:25] dima-fedotovs opened #17402 "failed to ensure load balancer for servic"
I'm creating the second cluster and I got the same problem. I've created static IP and assigned it to the service, but got "ensuring issue". Tried multiple times to recreate service no success.
I created second Static IP, reconfigured my service and everything goes as it should.

The same behavior on both clusters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-10-23 09:29] jakaruna-MSFT commented on #17397
@esin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 09:29] rayne-wiselman commented on #16094
Fixed the link. Should publish by EOD today

#please-close

[2018-10-23 09:38] chilch opened #17403 "Response Headers"
I'm trying to use the HTTP Linked Service to authenticate to a SOAP service then subsequently retrieve data from the same service. I do not have access to change the SOAP service as it is a thirdparty service. After successfully authenticating, the SOAP service sets a Session Cookie with an authorization token. How can I access the cookie (as an output) in the response header, from the WebActivity

[2018-10-23 09:52] jakaruna-MSFT commented on #17385
@nazneen84 Lets check couple of things.
- Check the status of your cluster in UI or using CLI. In cli use `az aks list -o table -g <resource group>` and check for the Provisioning state. That should be in Succeeded state for a healthy cluster.
- Refresh the login credentials for the cluster and browse using `az aks browse --resource-group <resource group name> --name <cluster name>`
- use `kubectl

[2018-10-23 09:56] femsulu commented on #16669
@vjabala
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-23 09:56] #16669 closed

[2018-10-23 10:02] femsulu commented on #16994
@Dannex you will need to contact Azure subscription support to assist with this. The expired sub needs to be reactivated so the services can be moved to the new subscription. Please follow [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support request with the subscription support team.

[2018-10-23 10:02] #16994 closed

[2018-10-23 10:05] femsulu commented on #17159
Only the Azure Account Admin can download the Azure Billing Invoice. I did a repro and the option to download the invoice is grayed out.
See this link - https://azure.microsoft.com/en-in/documentation/articles/billing-download-azure-invoice-daily-usage-date/

[2018-10-23 10:06] #17159 closed

[2018-10-23 10:06] rayne-wiselman commented on #16577
@Klaas- You specify a passphrase when you install the backup agent (MARS) and register a on-premises server to the vault. You can specify a different passphrase for each server.  Does that answer your question?

[2018-10-23 10:10] femsulu commented on #17400
@temabu Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-23 10:12] femsulu commented on #17401
@nmarchini Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-23 10:12] salviri commented on #17127
I just ran into the same issue. I was trying it in north europe

[2018-10-23 10:28] andrewatfornax commented on #16094
Thanks!

[2018-10-23 10:42] sahilpnckr123 commented on #17127
no @salviri

[2018-10-23 10:42] sahilpnckr123 commented on #17127
any updates ? @Grace-MacJones-MSFT

[2018-10-23 10:47] jakaruna-MSFT commented on #17402
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 10:49] femsulu commented on #17160
@Kblev, AFAIk I don't believe there's a way around this since you need a baseline role as an input.
adding @rolyon to confirm or suggest a PS-only method to create a custom role if available.

[2018-10-23 10:52] femsulu commented on #17266
adding @mumian

[2018-10-23 10:54] esin commented on #17397
@jakaruna-MSFT
* I have only one node pool
* Name of agentpool is **agentpools**
Part of json template:
`"agentPoolProfiles": [{
        "name": "agentpools",
        "count": "[parameters('agentCount')]",
        "vmSize": "[parameters('agentVMSize')]",
        "dnsPrefix": "[variables('agentsEndpointDNSNamePrefix')]"
      }`
* Cluster created with `az group deployment ` and template [https://ra

[2018-10-23 10:55] rayne-wiselman commented on #16501
Investigating

[2018-10-23 10:57] FluxReality commented on #16384
Hi im sorry for such slow reply and that you could not understand my question mr @sergaz-msft . So i will clarify here.

In the [devguide](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/iot-hub-devguide-sdks.md). you can see that most other SDKs such as for .NET, C, JAVA and NodeJSthere are separate "API-reference" links, but for python it says "API reference: see C API r

[2018-10-23 11:03] RipinAggarwal opened #17405 "Unable to browse API URL"
[Enter feedback here]
I am following the URL: https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet

Topic: Create a Digital Twins instance
Step: 5 (a) Modify the Management API URL to this format: https://yourDigitalTwinsName.yourLocation.azuresmartspaces.net/management/api/v1.0/.

I have created a new Digital Twins. I am able to browse the Swagger URL. But, not ab

[2018-10-23 11:05] Enver-Adams commented on #17039
@cherylmc Really appreciate the support. I am going to make some assumptions could you please correct me if required. To support Microsoft Peering BGP route propagation over an IPSec VPN Tunnel:
1 - Am I correct in saying that static routes are required between the the non-peered AS routers? For example between the client side ER Gateway and the IPSec VPN Gateway.
2 - Given we have a requirement t

[2018-10-23 11:07] sumit5grg5 opened #17406 "Getting Error when importing data using power bi spark connector"
I am facing the same issue when i am importing data using spark connector.
     Error: ODBC: ERROR [HY0000] [Microsoft][Hardy] (34) Error from server: Invalid method name: 'GetPrimaryKeys'

![tempsnip](https://user-images.githubusercontent.com/15021860/47356499-e2736880-d6e1-11e8-83e1-e95bb8922d19.png)

Please help me with this if you have any resolution of this error

[2018-10-23 11:12] ai2admin commented on #11616
@seanmck indeed I confused ACS service and the acs-engine. Thanks for the tip - I will give it a try!

[2018-10-23 11:27] jungopro opened #17407 "Change AKS Storage Class"
Hello

I'm not sure if I should be posting it here, so sorry in advanced.
When I looked in [this doc](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/azure-disks-dynamic-pv.md) I see no reference as to how to change the **reclaimPolicy** for the **default storageClass** when I provision an AKS cluster

Is there such an option? Currently it is set to delete and I would like to

[2018-10-23 11:28] atrauzzi commented on #17159
How do we get that fixed?

[2018-10-23 11:47] rayne-wiselman commented on #15905
@trinadhkotturu

[2018-10-23 11:52] GregRamey opened #17408 "RBAC Concern"
As a development manager in a fortune 500 company I must contend with separation of duties. The monitoring of resources must be performed by individuals that do not have elevated privileges on subscriptions. The requirement that this monitoring requires Owner or Contributor on the subscription makes this a non-starter for my organization.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-23 11:53] rayne-wiselman commented on #15518
@mizhaky This article seems fine now. If I've missed something let me know. Thanks!

To back up a virtual machine, Azure Backup requires the AzureBackupWindowsWorkload extension to be installed. If you use Azure Marketplace virtual machines, continue to Discover SQL Server databases. If the virtual machine that hosts your SQL databases isn't created from the Azure Marketplace, complete the followi

[2018-10-23 11:54] dima-fedotovs commented on #17339
nothing changed since I upgrade Kubernetes. Still the same error. Seems it isn't possible to use a remote registry.

[2018-10-23 12:07] ziad-akiki commented on #15724
Confirmed, it is now fixed. Will close this issue. Thank you!

[2018-10-23 12:11] pituach commented on #6871
When we create EXTERNAL DATA SOURCE to the BLOB_STORAGE using local SQL Server I am getting the same error, which is a parser issue (Microsoft SQL Server Management Studio 14.0.17285.0). Same query works well in SOS. I assume the source issue in this thread is the same

[code]
![image](https://user-images.githubusercontent.com/22382186/47359467-873b7900-d6d5-11e8-9299-924d395ca91a.png)
![image](ht

[2018-10-23 12:18] rayne-wiselman commented on #15033
@ran-ten21 Thanks! i suggest trying the forum to troubleshoot this error since it doesn't seem to be directly related to the article.

Thanks
#please-close

[2018-10-23 12:18] WynneM opened #17409 "Valid ways of verifying/creating a new cloud service template without Visual Studio"
This is very useful, I am not a VisualStudio developer but I am creating CloudServices for Azure. I wondered what the suggested approach is to create the template for the Service Model is if you don't use Visual Studio - I know Powershell commands used to be available to create it as in New-AzureServiceProject; Add-AzureWorkerRole etc but I believe these are deprecated and not recommended for use?

[2018-10-23 12:20] rayne-wiselman commented on #14269
This seems to have been answered.
#please-close

[2018-10-23 12:23] dovijoel opened #17410 "Databricks notebook with python 3 as default"
When will we be able to set the python version of the Databricks notebook? Right now it can only be python 2.7, but would like to use Python 3.6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56-baaf-8bdf31e3bb57
* Content: [Run a Databrick

[2018-10-23 12:28] rayne-wiselman commented on #12088
@Adam-Smith-MSFT please assign to me

[2018-10-23 12:28] Nitesh097 opened #17412 "Azure Active Directory Domain services"
Is there any way to automate the Azure Active Directory Domain Services user to usual Domain controller machine?
There are lot of users in AD DS in azure and I want to export those users to my DC machine. It will take a lot of time to manually add those users. Is there anyway possible to automate that process?

[2018-10-23 12:28] kkho commented on #17132
nice @iainfoulds! I look forward to reading the doc! 😄

[2018-10-23 12:29] rayne-wiselman commented on #12162
Hi, this doesn't seem to be an issue with the article. #please-close

[2018-10-23 12:30] atullalwani commented on #16849
@Mike-Ubezzi-MSFT Hi Mike,
  Yes, that's right. As we observe, the parameter has to be configured on the slave side my.cnf file. So, how do we configure this parameter on DbaaS model instance in Azure as we won't be having the access to Operating System files. I would like to know if this can be possibly configured by using Azure in-built Stored Procedures.

[2018-10-23 12:30] rayne-wiselman commented on #12306
@Adam-Smith-MSFT Please assign to me

[2018-10-23 12:31] rayne-wiselman commented on #12309
This doesn't seem to be an issue with a specific doc
#please-close

[2018-10-23 12:31] rayne-wiselman commented on #12387
@Adam-Smith-MSFT Please assign to me

[2018-10-23 12:31] ziad-akiki commented on #15724
Reopening the issue because it somehow stopped working again. Here's an Arabic test string:

The returned response from the service is as follows:
`[
    {
        "detectedLanguage": {
            "language": "ar",
            "score": 1
        },
        "translations": [
            {
                "text": "Hi, I hope everything is fine. I want to ask you if I can take the details of communi

[2018-10-23 12:33] rayne-wiselman commented on #12839
@Adam-Smith-MSFT please assign to me

[2018-10-23 12:34] rayne-wiselman commented on #13190
#please-close

[2018-10-23 12:34] rayne-wiselman commented on #13923
@Adam-Smith-MSFT please assign to me

[2018-10-23 12:35] rayne-wiselman commented on #14037
@Adam-Smith-MSFT please assign to me

[2018-10-23 12:35] rayne-wiselman commented on #14195
@Adam-Smith-MSFT  Please assign to me

[2018-10-23 12:36] rayne-wiselman commented on #14200
@Adam-Smith-MSFT  please assign to me

[2018-10-23 12:36] rayne-wiselman commented on #14211
@Adam-Smith-MSFT  please assign to me

[2018-10-23 12:37] rayne-wiselman commented on #14231
@Adam-Smith-MSFT  Please assign to me

[2018-10-23 12:37] rayne-wiselman commented on #14267
This isn't feedback on this article. #please-close

[2018-10-23 13:11] dima-fedotovs commented on #17339
Seems Kubernetes ignoring the imagePullSecrets parameter. During experiments, I put not existing secrets name - and the same error.
I can login to the registry from anywhere on the internet using generated credentials (docker login). So seems it is on kubernetes side

[2018-10-23 13:11] vrbagal opened #17413 "How to upload a file using Adafruit M0 wifi using c?"
How to upload a file from Adafruit M0 wifi using sdk, I want to read file from SD card and then upload it to blob storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8bb1bee-bcbe-c8a5-7b17-428718255aec
* Version Independent ID: 25592b74-6af5-29ae-4239-6adf7ed1e98d
* Content: [Upload files from devices to Azure IoT

[2018-10-23 13:31] mizhaky commented on #15518
Well, it says:
“For Azure Backup to discover SQL databases, the NT Service\AzureWLBackupPluginSvcaccount must have SQL and SQL sysadmin permissions. The following procedure explains how to provide these permissions.
To configure permissions:
“
But then the images and steps shown next are for configuring the overall SQL Backup, NOT for configuring the permissions for non-Marketplace VM images.

On

[2018-10-23 13:41] jtuliani commented on #14267
@rayne-wiselman How can we track the need to create an equivalent page for CLI ?

[2018-10-23 13:43] SalehAlbuga opened #17415 "Include more details like ASEv1 docs"
ASEv1 docs has details like ASE creation time, workers provisioning times, etc. If this can be included in v2 docs it would great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31ca36-9aa0-f429-f2fd-65ba2758c359
* Version Independent ID: e201f645-18c4-f420-167c-6431d114ef5b
* Content: [Create an External Azure App S

[2018-10-23 13:43] dima-fedotovs commented on #17339
seems I resolved the issue. After experiments and reading, I found that secret should be created to the same namespace.
My bad. Sorry.

[2018-10-23 13:43] #17339 closed

[2018-10-23 13:47] rayne-wiselman commented on #15518
@mizhaky Thanks, so only this part of the procedure is relevant?

The discovery process installs the AzureBackupWindowsWorkload extension on the virtual machine. The extension allows the Azure Backup service to communicate with the virtual machine so it can back up the SQL databases. After the extension installs, Azure Backup creates the Windows virtual service account NT Service\AzureWLBackupPlug

[2018-10-23 13:54] mizhaky commented on #15518
I believe instructions on how to fix windows permissions are missing from here
There are explicit instructions required to configure the permissions for the windows service account, they are mentioned in the text but there is no link nor are there any instructions

Sent from mobile

On Oct 23, 2018, at 6:49 AM, Rayne Wiselman <notifications@github.com<mailto:notifications@github.com>> wrote:

@miz

[2018-10-23 13:59] sijday opened #17416 "More information needed regarding Log Analytics"
Will a Log Analytics solution similar to the one for Azure Application Gateway WAF be created to help analyse traffic which hits different rules?
Alternatively please could some Log Analytics queries be supplied to present this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e93c6e39-7dc5-57e7-600b-84ab4b9d

[2018-10-23 14:07] PramodValavala-MSFT commented on #17162
@JasonBSteele Just following up... Hope my comment answers your query

[2018-10-23 14:10] paulmackinnon-adv365 opened #17417 "Docker & Kubectl not working with suggested plugins"
I have followed the MS guide step by step (apart from cloning the repo, but that doesn't matter for this), although when it comes starting a build, I am prompted with the error that Docker is not found;

[code]

Obviously Docker is not installed, so I check that that it is via `Manage Plugins`, and I find that` Docker Compose Plugin` and `Docker Pipeline` are installed. Just for the sake of troubl

[2018-10-23 14:11] MikiMakhlevich commented on #16255
@v-maroge  "Data exfiltration" and "Unsafe action" are new detectors (hooray!🎉) being tested these days with a small group of users and soon will be available to all.
I think  those 2 have created the confusion and besides that the others are easy to map ("Anomalous client login" is a switch for a family of alerts).  Full explanation on the 2 new alerts will be soon added to the linked page above,

[2018-10-23 14:18] Masutani commented on #15743
I have same issues on latest VS2017. I contacted VS team but I cannot reproduce it in a simple case.  Multiple U-SQL projects, mixed solution, large amount of codes might seem to cause that.

[2018-10-23 14:28] davidmu1 commented on #17366
@MarileeTurscak-MSFT: The text for the link should be: Tutorial: Create an Azure Active Directory B2C tenant

Thanks,
David

[2018-10-23 14:30] ben-st opened #17418 "update to latest lib version"
github.com/Azure/azure-storage-blob-go/2016-05-31/azblob is outdated

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3402293d-ac39-abd4-55ae-a3fc55180883
* Version Independent ID: 832abbb0-5588-fadc-b413-4ad3f2a870bc
* Content: [Azure Quickstart - Create a blob in object storage using Go](https://docs.microsoft.com/en-g

[2018-10-23 14:30] ben-st opened #17419 "link is broken"
https://godoc.org/github.com/Azure/azure-storage-blob-go/2016-05-31/azblob#pkg-examples

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3402293d-ac39-abd4-55ae-a3fc55180883
* Version Independent ID: 832abbb0-5588-fadc-b413-4ad3f2a870bc
* Content: [Azure Quickstart - Create a blob in object storage using Go](https://docs

[2018-10-23 14:31] saurabhrajguru opened #17420 "API Management to Service Fabric possible without VNET"
I am configuring API management with Service fabric.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-api-management

That document example follows setting up the VPN for API management.
However VPN is not available for any other tier except premium and developer which is something does not fit into my scenario.

Is configuring service fabric without VNET is pos

[2018-10-23 14:31] mganeshphani opened #17421 "new-azurermroleassignment doesnt work in this scenario"
Documentation missing for adding external user to subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a9c376-560c-08f2-894d-4cf72fc92ccc
* Version Independent ID: cf14d553-a159-ea82-ec25-fd0519b6ec8d
* Content: [Manage access for external users using RBAC in Azure](https://docs.microsoft.com/en-us/azure/role

[2018-10-23 14:32] PramodValavala-MSFT commented on #17205
@rajbos
If you have enabled Application Insights for your Function App, you can view metrics collected on the App Service created as part of the Function App.

In Application Insights, navigate to Investigate -> Metrics and set these details for the metric to view data for
- Resource - App Service with the same name as your Function App
- Metric Namespace - App Service standard metrics
- Metric -

[2018-10-23 14:46] swpalmer opened #17422 "Demo pages fails to initialize"
https://insights.timeseries.azure.com/demo doesn't work.  After signing in there is some activity shown in the browser ('initializing', 'authorizing' appears a couple times in the bottom corner of 'Time Series Insights' box) and then the spontaneous message "You signed out of your account
It's a good idea to close all browser windows."

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-10-23 14:50] saintGH commented on #13200
Can we provide an example where the tag value has spaces in it?  The example provided doesn't work well with spaces in the value.  For example:

1) Create a "template" resource group:
`az group create -n TestGroup --tags CostCenter="550161" CreatedBy=
"Dev Team" Customer="Joe Blow" --location eastus2
{
  "id": "/subscriptions/e05d2251-d867-42bc-b96b-cb623e093101/resourceGroups/TestGroup",
  "locat

[2018-10-23 14:53] sergaz-msft commented on #17413
Hello @vrbagal . Take a look at the following sample on Azure IoT SDK C
https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_client_sample_upload_to_blob

Let us know if that is what you are looking for?
Thanks!

[2018-10-23 14:57] SaurabhSharma-MSFT commented on #17399
@akhileshnirapure Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-23 14:57] MGoedtel commented on #17209
@mlamb1966 and @femsulu - Heard back from the PG and we are planning to release Service Map in the UK by early calendar 2019.  @please-close.

[2018-10-23 14:59] MysticRyuujin commented on #16579
Interestingly `Get-AzureADUser -Filter "dirSyncEnabled eq true"` works but all other attempts fail E.G.

`Get-AzureADUser -Filter "dirSyncEnabled ne true"` or `Get-AzureADUser -Filter "dirSyncEnabled eq null"` or `Get-AzureADUser -Filter "dirSyncEnabled eq false"` - all fail with errors

[2018-10-23 15:00] bandersmsft commented on #17401
#in-process

[2018-10-23 15:01] bandersmsft commented on #17371
#in-process

[2018-10-23 15:06] MGoedtel commented on #16855
@mosharafMS - While you see Service Map available in that region, it's dependencies have not been deployed to support its functionality.  This will prevent you from being able to see data and use it as intended.  When we release to that region you will see the list updated accordingly, and at this time I don't have an ETA to share.  Thanks for your inquiry.  @femsulu  #please-close

[2018-10-23 15:06] pmdci opened #17423 "How can we whitelist IP addresses for Azure AS?"
How can we whitelist IP addresses for Azure AS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7777fdb6-db9d-a6e6-724e-acabe0d5d9f8
* Version Independent ID: 8457dd13-3401-c6a1-26e0-d3c7c720e7f3
* Content: [Connecting to Azure Analysis Services servers](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-

[2018-10-23 15:08] sergaz-msft commented on #16613
Hello @GuuB since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @robinsh in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 15:13] rajbos commented on #17205
@PramodValavala-MSFT : Application Insights would be great, if I had that metric available there!
When I search for `conn` I only get: Page load network connect time

As Metric namespace I see:
- Standard: Log-based metrics
- Standard: Standard metrics (preview)
- Custom: azure.applicationinsights

[2018-10-23 15:14] panoschatz opened #17424 "Error when creating an image from a gallery"
Gallery and image versions have been successfully created and I can get their details, based on an existing custom image. When running the above command I get the following error:

400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/&lt;my sub id&gt;/resourcegroups/&lt;my rg&gt;/providers/Microsoft.Resources/deployments/vm_deploy_&lt;unique id&gt;?api-version=2018-05-

[2018-10-23 15:14] sergaz-msft commented on #16949
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 15:14] #16949 closed

[2018-10-23 15:15] panoschatz commented on #15737
I ran this with the rigth RBAC permissions and I can get past it. However another issue came up. Opened as a new ticket.
Thanks for your reccommendations.

[2018-10-23 15:18] bwren commented on #17123
I was correct.  This isn't supported in Log Analytics since it uses a different rendering engine.  Waiting on details from the engineering team, and we'll update documentation.

[2018-10-23 15:18] xtianus79 commented on #17358
@conceptdev so oddly these options weren't available when creating a mobile app and then trying to adapt a data connection.

https://docs.microsoft.com/en-us/azure/includes/media/app-service-mobile-configure-new-backend/quickstart.png

None of that was available.

however i went back to my azure resource group today and checked the quickstart options and they were as the picture states them.  That

[2018-10-23 15:28] #17321 closed

[2018-10-23 15:31] softwarecraft opened #17425 "Link for "Azure Hybrid Benefit for SQL Server" points to Windows Server info not SQL Server / Database info"
Located under the heading "What is the Azure Hybrid Benefit for SQL Server" this hyperlink links to the page "Azure Hybrid Benefit for Windows Server" that does not mention Azure HUB for SQL Server / Database service. Therefore the link is misleading. Suggest to either rename the link text or better replace with link to page that truly discusses HUB for SQL Server / Database.

---
#### Document De

[2018-10-23 15:31] Sogup commented on #14269
#close

[2018-10-23 15:32] sergaz-msft commented on #17066
+ @dominicbetts as the content-author of this document and to take note of the feedback above.
Thanks!

[2018-10-23 15:32] sergaz-msft commented on #17104
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 15:32] #17104 closed

[2018-10-23 15:35] rayne-wiselman commented on #16577
@Klass. I think the FAQ you mention in your comment below is referring to using the passphrase you specify when you install the agent on an on-premise server, and then use that passphrase during recovery, hence different for each server.  But let me check the article more closely.

"All servers that are registered to the same vault can recover the data backed up by other servers that use the same

[2018-10-23 15:39] MarkEdmondson1234 commented on #16184
Hi, I had the same issue where it didn't deploy the app, but everything else was fine.  In my case, it was because I had named my app code file as main.py and not application.py

[2018-10-23 15:42] rayne-wiselman commented on #15518
Thanks. I’ll check

From: mizhaky <notifications@github.com>
Sent: Tuesday, October 23, 2018 4:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Set permissions for non-Marketplace SQL VMs section doesn't have the necessary steps (#15518)

I believe instructions

[2018-10-23 15:43] martinagrom opened #17426 "The 14-day grace period is not configurable."
screenshot shows 30 days. pls replace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd7b2b46-7995-65aa-4c2d-99aa04999877
* Version Independent ID: 9c2a221c-1d92-dcd3-90fa-b574f9e3850f
* Content: [Sign-in experiences with Azure AD Identity Protection](https://docs.microsoft.com/en-us/azure/active-directory/identity-pr

[2018-10-23 15:44] conceptdev commented on #17358
Glad you got it working. We are very open to public contributions to the documentation - click the Edit button on any page to submit fixes (don't forget to review the contribution guidelines first!).

For full-time work, refer to the [Microsoft job site](https://careers.microsoft.com/).

#please-close

[2018-10-23 15:49] sergaz-msft commented on #17148
@ddentrec I analyzed the code from [here ](https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app)and can't see anything responsible for stopping the application whenever the temperature is reached. Unless you call the device method "stop" which will make `sendingMessage = false;` .

Can you test the same using simulated data instead of the physical BEM280 sensor and LED?
https://git

[2018-10-23 15:52] anosov1960 commented on #16116
This is not a documentation issue. Please open a technical support ticket to investigate.

[2018-10-23 15:57] carmonmills commented on #16501
@Adam-Smith-MSFT Rayne Wiselman is overseeing the backup content short term.  She's commented she's investigating.

[2018-10-23 16:01] aricbernard opened #17428 "Error in script"
There is an error in the following script:
$FilePathForRegistrationToken = $env:SystemDrive\RegistrationToken.txt
$RegistrationToken = Get-AzsRegistrationToken -PrivilegedEndpointCredential -UsageReportingEnabled:$False $YourCloudAdminCredential -PrivilegedEndpoint $YourPrivilegedEndpoint -BillingModel Capacity -AgreementNumber '&lt;EA agreement number&gt;' -TokenOutputFilePath $FilePathForRegistr

[2018-10-23 16:06] #17265 closed

[2018-10-23 16:11] rolyon commented on #17160
Hi @KbLev
In PowerShell, you can create a custom role from scratch. You start by creating a new PSRoleDefinition object. Then you set the different properties. See the second example in the following section:
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-powershell#create-a-custom-role-with-the-psroledefinition-object
thanks

[2018-10-23 16:19] sergaz-msft commented on #17280
Hello @smoms just want to make sure that you followed the two articles below successfully with no issues:

1- [Install Azure IoT Edge runtime on Linux (ARM32v7/armhf)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm)
2- [Deploy Azure IoT Edge modules from the Azure portal](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-modules-portal)

With the seco

[2018-10-23 16:21] Adam-Smith-MSFT commented on #17418
@ben-st Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@seguler link seems to be not working: https://godoc.org/github.com/Azure/azure-storage-blob-go/2016-05-31/azblob