[2021-01-31 21:27] matevzcesar commented on #9925
I got it working. Leaving this here for others, because I didn't find much useful info while searching for this problem.

Some background: I am using a username-based login and using MS Graph to create user accounts. For each user, I set the users email through the "mail" property.

To get the reset password custom policy working, I duplicated the PasswordReset user journey and in the "PasswordRes

[2021-01-31 21:37] gfree76 opened #69780 "$(agent.builddirectory) does not resolve."
On https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ci-cd/ci-cd-azure-devops#unpackage-the-build-artifact

The page says "Unpackage the build artifact

Extract the archive using the Extract files task. Set the Archive file patterns to *.zip, and set the Destination folder to the system variable, “$(agent.builddirectory)”. You can optionally set the Display name; this is the name that ap

[2021-01-31 22:39] eyast opened #69781 "Not clear what an environment is"
You use the word "environment" in the definition of "environment".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e951c2-65b8-2bf2-5c67-f4b57fbab467
* Version Independent ID: e369876f-650d-c9f0-9f3b-d25c92e111cf
* Content: [Architecture & key concepts - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/m

[2021-01-31 22:51] RyanHill-MSFT commented on #69770
Thanks for the feedback @amanjeetsingh! We are currently investigating and will update you shortly.

[2021-01-31 22:52] BharathNimmala-MSFT commented on #69778
@ErikMogensen Thanks a lot for bringing this to our notice, we will review and raise a PR to update the document accordingly.

[2021-01-31 22:52] RyanHill-MSFT commented on #69772
Thanks for the feedback @badsector-82! We are currently investigating and will update you shortly.

[2021-01-31 22:55] eyast opened #69782 "Where are metrics stored?"
For a newcomer, the article gives the impression the metrics are stored (by default) in CosmosDB - is that the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e951c2-65b8-2bf2-5c67-f4b57fbab467
* Version Independent ID: e369876f-650d-c9f0-9f3b-d25c92e111cf
* Content: [Architecture & key concepts - Azure Machine

[2021-01-31 23:10] RyanHill-MSFT commented on #69774
Thanks for the feedback @lissff! We are currently investigating and will update you shortly.

[2021-01-31 23:27] eyast opened #69784 "03 - Class loaded but not used"
When creating the 03-run-hello.py control script, the first line instructs to load Workspace, Experiment, Environment and ScriptRunConfig classes from azureml.core
It seems "Environment" is not used in the script - any reason we import it in the beginning ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5914b595-7bd9-7

[2021-01-31 23:37] eyast opened #69785 "base on scikit and/or tensorflow?"
THanks for the great docs. Could it be possible to base this page on something comon, like iris from scikit?
The reason is - not everyone knows pytorch. if we're getting into Deep Learning at this stage, I think the page should have also some code for Keras / TF2 - even is something as simple as MNIST.
Just food for thoughts. thanks for the docs.

---
#### Document Details

⚠ *Do not edit this sec

[2021-01-31 23:44] JoeSocketLabs opened #69786 "Port mapping doesn't work when running on ACI"
The mapping 8080:80 only works locally. It needs to be symmetrical before running docker compose up against ACI. This guide will be more helpful if it makes that clear, otherwise tutorial readers will encounter an error on the port mapping.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 920c8ddf-83d1-ba47-5a6e-270b390b

[2021-01-31 23:53] rsrk2008 opened #69787 "between RBAC and Locks which one will take priority"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e7af209-7240-dd2a-7130-e7fb3143986a
* Version Independent ID: a653b0d1-877d-09f7-17fa-11bf06c37cc9
* Content: [Lock resources to prevent changes - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-r

[2021-02-01 00:25] thiagofborn commented on #48902
![image](https://user-images.githubusercontent.com/6710946/106402932-fad79f00-6423-11eb-8103-5f99adb79297.png)

That helped me.

[2021-02-01 00:42] mimckitt commented on #30370
@VikasPullagura-MSFT please reach out to @KumariSupriya offline.

[2021-02-01 00:42] mimckitt commented on #30370
#reassign: @KumariSupriya

[2021-02-01 00:45] mimckitt commented on #69759
![image](https://user-images.githubusercontent.com/32313503/106403426-8bda5600-63e3-11eb-94c1-1d043cd7899a.png)

![image](https://user-images.githubusercontent.com/32313503/106403438-9a287200-63e3-11eb-927d-c867ec7ee8ee.png)

@javester I see the videos. Two links to videos both working for me.

https://www.youtube.com/watch?v=m5t0GZ5oGAc&feature=youtu.be
https://www.youtube.com/watch?v=KevOc3d_SG4

[2021-02-01 00:46] mimckitt commented on #69758
Replied in #69759

#please-close

[2021-02-01 00:46] #69758 closed

[2021-02-01 01:46] KrishnaG-MSFT commented on #69775
@V4A001 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-01 01:47] eyast opened #69788 "No module named "azureml""
Hi - full disclaimer, I havent followed the article to the letter.
I have re-built it using Tensorflow instead of pytorch. I created the yml file and my training.py script.
When I tried to train it ono some CPU cluster, the job failed, stating "no module Azureml".
the reason is that ( I believe) that whenever I call "run.get_context()", i need Azureml to find "run"

Thanks,
Eyas

---
#### Document

[2021-02-01 01:58] deomaximo opened #69789 "Failure registering device: PROV_DEVICE_RESULT_DEV_AUTH_ERROR"
I calculated the registration ID and primary key in the DPS Enrollment Group. It still fails. Any help would be appreciated!
----------------
Provisioning API Version: 1.6.0

Registering Device

Provisioning Status: PROV_DEVICE_REG_STATUS_CONNECTED
Provisioning Status: PROV_DEVICE_REG_STATUS_ASSIGNING
Provisioning Status: PROV_DEVICE_REG_STATUS_ASSIGNING
Provisioning Status: PROV_DEVICE_REG_STATUS

[2021-02-01 02:37] KrishnaG-MSFT commented on #69776
@tndata Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-01 02:39] KrishnaG-MSFT commented on #69777
@V4A001 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-01 02:40] #69509 closed

[2021-02-01 02:40] #69558 closed

[2021-02-01 03:14] BharathNimmala-MSFT commented on #69787
Thank you @rsrk2008 for reaching out with your query.

[To create or delete management locks](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources#who-can-create-or-delete-locks), you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.

[2021-02-01 03:26] SatishBoddu-MSFT commented on #69779
@aronchick Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-02-01 03:27] BharathNimmala-MSFT commented on #69731
@jorendorff Thanks again for your candid feedback, have discussed this with our document author we will take this as a backlog item to improve the documentation. We will link the PR to this thread as part of backlog item.

We will go ahead and close this issue for now, however if you have any further queries/feedback on the documentation please tag us in your reply and will be happy to reopen the

[2021-02-01 03:27] #69731 closed

[2021-02-01 03:33] rsrk2008 commented on #69787
Thanks  for the update ,   RBAC roles precedence over locks is my understanding correct ?

[2021-02-01 03:41] SatishBoddu-MSFT commented on #69780
@gfree76
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-01 03:47] SatishBoddu-MSFT commented on #69781
@eyast Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-02-01 03:50] SatishBoddu-MSFT commented on #69782
@eyast
Thanks for the feedback! We will update you shortly.
Cc: @RohitMungi-MSFT

[2021-02-01 03:52] SatishBoddu-MSFT commented on #69784
@eyast
Thanks for the feedback! We will update you shortly.

[2021-02-01 03:56] SatishBoddu-MSFT commented on #69785
@eyast We really appreciate your all feedbacks so far and thanks for sharing your idea on this document.
I have assigned the issue/feedback to the content author for further review.

[2021-02-01 04:15] CHEEKATLAPRADEEP-MSFT commented on #69423
@MamidiVasavi  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-01 04:15] #69423 closed

[2021-02-01 04:16] MayankBargali-MSFT commented on #69511
@mmulhearn As per [Prerequisites](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#prerequisites) you need to install [Microsoft.Azure.Functions.Extensions](https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/). If you install this package then you can see ConfigureAppConfiguration method under the FunctionsStartup class. We will now proc

[2021-02-01 04:16] #69511 closed

[2021-02-01 04:17] eyast commented on #69785
No worries and thanks for your hard work.
I'm an MSFT employee, alias eyast - can you teach me / point me how I can help more, instead of just leaving comments?
Thanks, Eyas

From: SatishBoddu <notifications@github.com>
Sent: Monday, 1 February 2021 2:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Eyas Taifour <eyast@microsoft.com>; Mention <mention@noreply.github.com>
Subj

[2021-02-01 04:17] MayankBargali-MSFT commented on #69666
@justinkneff Just following up here. Hope my previous comment clears things up.

[2021-02-01 04:27] madhavtr commented on #53726
for linux consumption plan, api-version 2017-09-01 is not working. Still getting 400 response.

[2021-02-01 04:41] deomaximo commented on #69789
ok. i struggled enough to delete and start from scratch. it looks like you can't have any devices already registered. it has to be a clean device provision service.
the powershell key vs symm_key_provision both gave me two different numbers. i used the symm instead which worked.

[2021-02-01 04:41] #69789 closed

[2021-02-01 04:56] CHEEKATLAPRADEEP-MSFT commented on #69560
@DBFairy, I’m working with the product team and get back to you when I have more information.

[2021-02-01 04:59] ram-msft commented on #69616
@dipankar-ray We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 04:59] #69616 closed

[2021-02-01 05:12] YutongTie-MSFT commented on #69709
@shivanissambare Thanks for the response. If there any update?

[2021-02-01 05:15] YutongTie-MSFT commented on #69601
@trevorbye Hello, could you please check this issue and update the document if necessary? Thanks.

[2021-02-01 05:32] CHEEKATLAPRADEEP-MSFT commented on #69780
@gfree76   Error message clearly says "No archives were found using specified file patterns", have you configured your build agent?

I would suggest you to [configure your build agent](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ci-cd/ci-cd-azure-devops#configure-your-build-agent) and try again.

Hope this helps.

[2021-02-01 05:36] JasonWHowell commented on #69560
#assign:anmuk601

[2021-02-01 05:36] SubhashVasarapu-MSFT commented on #69563
@hisasima, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-01 05:36] #69563 closed

[2021-02-01 05:38] SubhashVasarapu-MSFT commented on #69673
@sushruth, we are assigning this issue to the respective content owner for updating the document accordingly.

[2021-02-01 05:46] SubhashVasarapu-MSFT commented on #69677
@dstefanMSFT, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-01 05:46] #69677 closed

[2021-02-01 05:54] rarandiv opened #69790 ""Scaling up takes long time"- Recommendation to add Notes in the document."
Sometimes we found that the scaling operation is stuck or it’s been running for a long time. What we generally observed that, when we perform those operations in the pick business hours where long-running transactions or an active transaction running on instance, the Scaling up takes long time.

Not found any notes in the document where it mentions that “it’s not advisable to do so when there is l

[2021-02-01 05:56] linda33wj commented on #69336
@BenjaminWCarne thanks for trying out the REST connector and reporting the issue. Could you file a support ticket so we can let engineer look into details on your API behavior, and see how to improve the error reporting for bad request?

[2021-02-01 05:56] saurav-roy-rft opened #69791 "Grammatical mistakes makes Microsoft's documentation quality looks degraded"
Grammatical mistakes makes Microsoft's documentation quality   looks degraded

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 863a845f-4b06-126e-3cd3-88875fadf8e4
* Version Independent ID: 2ab93b2c-5796-1623-3396-f294d9c469b5
* Content: [Geo-disaster recovery - Azure Event Hubs - Azure Event Hubs]

[2021-02-01 06:03] AjayKumar-MSFT commented on #68892
@chaseyangguang, Apologies for the delay! The document states about the reboot - "If you change the DNS setting of the VNet that your ASE is in, you will need to reboot your ASE. To avoid rebooting your ASE, it is highly recommended that you configure your DNS settings for your VNet before you create your ASE. " - Hope this helps!  If you still have more questions please let us know with additiona

[2021-02-01 06:03] #68892 closed

[2021-02-01 06:07] CHEEKATLAPRADEEP-MSFT commented on #69754
@jikuja  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-02-01 06:08] shashishailaj commented on #69417
@jeevanbalanmanoj We have initiated a change request and the authors and the change will be live in the next 48 hours . We will close this issue now.

Thank you.

[2021-02-01 06:11] #69417 closed

[2021-02-01 06:24] psmanhas commented on #69775
@mlearned
Can you please check and add your comments on this doc update request as applicable

[2021-02-01 06:26] psmanhas commented on #69776
@tndata Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-01 06:26] psmanhas commented on #69776
@macolso Can you please check and add your comments on this doc update request as applicable

[2021-02-01 06:31] psmanhas commented on #68917
@w0ut0 Apologies for all the delay and all the

I had discussion with our internal team and below is their response:

Vnet + Managed Nat + ACI is not officially supported yet. This integration is on the roadmap for Spring this year, but in the meantime, we recommend customers use Azure Firewall for static egress.

Hope the provided information was helpful.

We will now close this issue. If there a

[2021-02-01 06:31] #68917 closed

[2021-02-01 06:32] psmanhas commented on #68109
@mcurko We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-01 06:32] #68109 closed

[2021-02-01 06:33] psmanhas commented on #69290
@Pratik44
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-01 06:33] #69290 closed

[2021-02-01 06:34] #69574 closed

[2021-02-01 06:34] psmanhas commented on #69538
@khetheri Can you please provide information as per the ask so we can help you out better.

Thanks

[2021-02-01 06:34] psmanhas commented on #69629
@NirajCricket We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-01 06:34] #69629 closed

[2021-02-01 06:35] SnehaAgrawal-MSFT commented on #69574
@IgnacioAlvarezArenas Thanks for the valuable feedback! I have created PR it will be merged soon.

[2021-02-01 06:36] psmanhas commented on #69630
@GuyPaddock Just following up to check of above information helped you.

Do let us know in case of any more queries.

Thanks

[2021-02-01 06:36] HarithaMaddi-MSFT commented on #69791
@saurav-roy-rft - Thanks for posting the question. We are looking into it and will get back to you shortly.

[2021-02-01 06:38] psmanhas commented on #69658
@rbgigo Apologies for the delay in response and all the inconvenience caused because of the issue.

I had discussion with our back end team and they confirmed that ACI is targeting Vnet + Azure Load-Balancer support this Spring.

I don’t have specific ETA on timeline but it is scheduled for this year.

Hope the provided information is helpful.

We will now close this issue. If there are further qu

[2021-02-01 06:38] #69658 closed

[2021-02-01 06:40] psmanhas commented on #69669
@jonclyde Can you please confirm Did you run the script in a user context that has access to the mapped drive?

Thanks

[2021-02-01 06:54] KalyanChanumolu-MSFT commented on #69747
@pavel242242 Thank you for taking the time to report this issue.
I was able to repro the error at my end. We will investigate this further and do the needful.

[2021-02-01 06:56] AnuragSharma-MSFT commented on #69642
@pbakhil Thanks for pointing this out. If we look at code piece (**_New-AzSqlSyncMember_**), the same command can be used for both Azure SQL Database as well as on-premise SQL Server Database. The code which is provided in article is for on-premise version and hence both those variable are not used. If we use it for Azure SQL Database then both the variables will used. The document is kind of gene

[2021-02-01 07:03] dominicbetts commented on #67379
Hi @MatthijsvdVeer - we made some updates to this article to clarify it it and make it consistent in its use of terminology. I'll close this issue for now, but feel free to add any follow up questions or comments.

Thanks, Dominic

[2021-02-01 07:03] dominicbetts commented on #67379
#please-close

[2021-02-01 07:03] #67379 closed

[2021-02-01 07:03] dominicbetts commented on #66575
#please-close

[2021-02-01 07:03] #66575 closed

[2021-02-01 07:04] DavidTrigano commented on #69611
Hello @phatcher,

SQL VA service needs permission to the customer storage for saving the scan results and the baseline. There are three methods:

1. **Using Storage Account key** - We will create a SAS key and save it (we don’t save the account key).
2. **Using Storage SAS Key** - The SAS key must have: Write | List | Read | Delete Permissions
3. **Using SQL server managed identity** - The SQL ser

[2021-02-01 07:25] SatishBoddu-MSFT commented on #69076
Hello @ramakrpr
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-02-01 07:25] #69076 closed

[2021-02-01 07:30] AnuragSharma-MSFT commented on #69790
@rarandiv Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-01 07:30] HarithaMaddi-MSFT commented on #69791
@saurav-roy-rft -@alexrusn - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#145072

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-02-01 07:33] #69791 closed

[2021-02-01 08:26] SujayJDesai commented on #68982
#please-close

[2021-02-01 08:26] #68982 closed

[2021-02-01 09:02] fgheysels commented on #67310
There's one thing I don't quite understand here.   When authenticating to TSI using clientid/clientsecret, the app registrations needs to have the permission to query TSI by adding that permission explicitly.
When using MSI to authenticate, that is not necessary ?

[2021-02-01 09:05] vipulsparsh commented on #69786
@JoeSocketLabs  Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-02-01 09:09] vipulsparsh commented on #69788
@eyast  Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-02-01 09:26] insankim opened #69793 "Typo $168.63.129.16 as curl endpoint"
[Enter feedback here]
1. Retrieve the ContainerId and InstanceId by parsing the response from the WireServer: curl -X GET -H 'x-ms-version: 2012-11-30' http://$168.63.129.16/machine?comp=goalstate.

==> need to remove dollar sign $.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b989b0a6-e432-7dfe-bca7-5d869af7283d
* V

[2021-02-01 09:29] jonclyde commented on #69669
@psmanhas it was running in administrator context and appears that was the issue.

I don't see a specific need to use the mapped drive, so I'll use UNC path in future.

[2021-02-01 09:45] jokarl commented on #69703
My issue, sorry. I was overwriting the app setting for the variable `AzureWebJobsStorage` later in the pipeline.

[2021-02-01 09:45] #69703 closed

[2021-02-01 09:54] mchudinov commented on #69465
I have found the solution. It is just add --query "value"` at the end of the query.

`az keyvault secret show --name myname --vault-name myvault --query "value"`

[2021-02-01 09:54] Yvand commented on #69451
Since script creates only IIS sites with HTTPS bindings, I don't see an actual risk of affecting existing IIS sites: No certificate will be set in the new IIS site if a conflict may occur (admin will have to do it manually).

[2021-02-01 09:56] Rmh-Tech opened #69794 "Broken Link"
[Enter feedback here]
Good morning, the link to microsofts own pen testing does not direct to the intended page and redirects to a code samples library. Paragraph 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-526b-143f87582a18
* Conten

[2021-02-01 09:56] Dolphinsimon opened #69795 "The Application Settings in App Service Linux platform cannot contain a dot."
[Enter feedback here]
All application settings in App Service Linux platform that the names contain a dot, eg 'user.name'
The real name in system variable will become 'user_name'.
There is no hint or warning in all steps in azure portal, and no explanation in all documents.
I thinks this should be pointed out in the documents or within azure portal.

---
#### Document Details

⚠ *Do not edit this

[2021-02-01 10:05] het-msft commented on #69334
@MonikaReddy-MSFT , Can you please respond for my above query?

[2021-02-01 10:11] MartinDBakerCDW opened #69796 "Missing One Vital element - Logon To The Portal As The Newly Created Azure User"
I've just been through the instructions on this page fully. The KeyVault permissions were configured against the Azure User account I was logged into the Portal as, not the "account to discover VMs".

When I went through the Appliance configuration & specified that new Azure account, it consequently didn't have the GetSecrets permission on the KeyVault. See attached screenshot.
![GetSecrets-Permis

[2021-02-01 10:30] AshokPeddakotla-MSFT commented on #69635
@barmettlerl I'm unable to re-pro your issue. Just to confirm, were you able to route the message earlier and now it is not working?

[2021-02-01 10:48] owingruters commented on #55372
@TravisCragg-MSFT any update here? I still do not find any documentation on it and actually the same is true for many other Diagnostics for other Azure resources

[2021-02-01 10:57] ABerTSC commented on #17504
Why this issue is closed? There is still noch sollution yet!?

[2021-02-01 10:58] PramodValavala-MSFT commented on #69621
@Camios They are indeed similar and the `audiences` element is focused for the `aud` claim. Usually, one would just check for one audience when validating a token but if you need to verify against multiple, the `claims` element would be the way to go.

[2021-02-01 11:03] SnehaAgrawal-MSFT commented on #69795
@Dolphinsimon Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-01 11:08] psmanhas commented on #69793
@insankim Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-02-01 11:26] psmanhas commented on #69491
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-01 11:29] psmanhas commented on #69793
@insankim The document is updated and changes will go live soon.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-01 11:29] #69793 closed

[2021-02-01 11:33] ram-msft commented on #69687
@nzigel  Thanks, Since it was already trained and export as a TensorFlow (.pb) format from Azure CS Custom Vision and score the model to classify the images.  but we need to [define ](https://github.com/Azure-Samples/azure-intelligent-edge-patterns/blob/yadam_newrepo/Research/EdgeSolution/modules/VisionSampleModule/image_classification.py) the image transformations (such as image resize, how to lo

[2021-02-01 11:42] psmanhas commented on #69669
@jonclyde Thanks for the confirmation. We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-02-01 11:42] #69669 closed

[2021-02-01 12:30] psmanhas commented on #69786
@macolso Can you please check and add your comments on this doc update request as applicable

[2021-02-01 12:34] MoeJw opened #69798 "Metric category is not supported in Diagnostic Setting"
Microsoft.Logic/workflows

Metric | Exportable via Diagnostic Settings? | Metric Display Name | Unit | Aggregation Type | Description | Dimensions
-- | -- | -- | -- | -- | -- | --
ActionsFailed | Yes | Actions Failed | Count | Total | Number of workflow actions failed. | No Dimensions

I'm trying to deploy an arm diagnostic settings template  for logic app resource with Metric ``"category": "Actio

[2021-02-01 12:51] rarandiv opened #69800 ""Scaling up takes a long time"- Recommendation to add Notes in the important section of the document for clear customer visibility"
Sometimes we found that the scaling operation is stuck or it’s been running for a long time. What we generally observed that, when we perform those operations in the pick business hours where long-running transactions or an active transaction running on instance, the Scaling up takes long time.

I could see this statement in the document _“If there are long-running transactions running when connec

[2021-02-01 12:54] Gibbo81 opened #69801 "Error following the guide 'Set up sign-up and sign-in with a Microsoft account using Azure Active Directory B2C'"
When following this guide I have a problem with the point : 'Under Redirect URI (optional), select Web and enter https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/oauth2/authresp in the text box. Replace <tenant-name> with your Azure AD B2C tenant name'
I receive the error: "Failed to update MSAappLogTests application. Error detail: Your reply url contains prohibited words or prohib

[2021-02-01 12:58] PramodValavala-MSFT commented on #69633
@alan0609 Thanks for linking the other issue here. I hope the response there clears up your query.

We will now proceed to close this thread as a duplicate. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 12:58] #69633 closed

[2021-02-01 13:01] edmund-davis commented on #69451
Thanks for following up.
If a customer is using a wildcard certificate though, would it not be better to set the appropriate host headers at this stage so that when the certificate is assigned, the new site cannot bind to all incoming traffic and create a conflict?

Edmund

EDMUND DAVIS
  CLOUD SOLUTION ARCHITECT

Insentra - UK
Phone: +44 7971 192962  Email: edmund.davis@insentragroup.com<mailto:e

[2021-02-01 13:01] AnuragSharma-MSFT commented on #69800
@rarandiv Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-01 13:09] ssivas commented on #69794
@Rmh-Tech , Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 13:10] gfree76 commented on #69780
Yes, we configured the build agent to create the artifact. Here's that portion of our azure-pipelines.yaml:
[code]
I also created a command line task prior to the Extract Archive task, with the following script
[code]
There are no variables with a name like agent.builddirectory. There is AGENT_RELEASEDIRECTORY, but as you can see in the output below, that did not resolve at run time.
[code]

[2021-02-01 13:11] ssivas commented on #69801
@Gibbo81  , Thanks for reaching out. I am looking into this and will get back to you soon.

[2021-02-01 13:16] shashishailaj commented on #69752
@henrywang08 Thank you for catching this. It seems the description still pertains to the old azure MFA server. We will have this reviewed and updated . Please allow us some time to provide update on this.

[2021-02-01 14:00] Dekard opened #69803 "iOS (needs version) or Android and version number - instead of Phone sign-in is only available on iOS and Android devices running Android 6.0 or above."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-02-01 14:01] k7faq opened #69804 "Redundancy"
it is important to note the distinction between Azure Storage Redundancy vs Azure Recovery Vault Redundancy.
How does the reference to Storage Redundancy (of a storage account) have relationship to Azure Recovery Vault?

Why does this page not call out a distinction of how Azure handles Redundancy of the Azure Recovery Vault Backup data?

---
#### Document Details

⚠ *Do not edit this section. It

[2021-02-01 14:02] Dekard opened #69805 "Information is unclear for - Phone sign-in is only available on iOS and Android devices running Android 6.0 or above."
Needs clarification for
"Phone sign-in is only available on iOS and Android devices running Android 6.0 or above."

As this reads as if iOS device running Android.

Should be

"Phone sign-in is only available on iOS **or** Android devices running Android 6.0 or above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 375e

[2021-02-01 14:11] Yvand commented on #69451
What I said in my previous comment also applies if a wildcard certificate is used on a different IIS site.
In such scenario, the administrator may need to configure a host header in the new IIS site, but it's specific and I expect that admins who need it will just do it.
IMO it's necessary to document this specific config as it will be natural for people who need it.

[2021-02-01 14:14] dominikfoldi commented on #22179
@vladvino do you have any ETA by now? We would need this feature for our Consumption tier Azure Functions.

[2021-02-01 14:27] davejedwards opened #69806 "Hi how do I get push notifications for this page"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea8813c8-4ea5-0301-eb2e-4ded95d601b4
* Version Independent ID: 6b29fa3a-40c6-f636-cb0d-3aa13a21715b
* Content: [Overview of Azure Disk Backup - Azure Backup](https://docs.microsoft.com/en-gb/azure/backup/disk-backup-overview)
* Content Source: [articl

[2021-02-01 14:35] Marnixvdb opened #69807 "This page fails mention that - in some contexts - only single quotes are allowed in expressions calls."
Summary: There are many examples on this page that use double quotes in the expression calls, but this is not allowed, according to Microsoft's own recommend solutions. In my experience, in some contexts double quotes are accepted, in others they are not. It would be very helpful if this behavior was documented and clarified on this page.

Details can be found below:

When I wanted to submit a sup

[2021-02-01 14:46] jmprieur commented on #69540
@shashishailaj : I was not able to repro your issue. I think that you have ASP.NET Core 3.1 mis-installed, or maybe you have unzipped the sample in a directory which is too deep (far away from the root) and hit the folder limit size.

#please-close

[2021-02-01 14:46] #69540 closed

[2021-02-01 14:49] mmulhearn commented on #69511
@MayankBargali-MSFT, there are 3 packages listed in the prerequisites:

- Microsoft.Azure.Functions.Extensions
- Microsoft.NET.Sdk.Functions
- Microsoft.Extensions.DependencyInjection

and none of them are `AzureFunctions.Extensions.DependencyInjection`.  None of them seem to have any dependencies that end up installing `AzureFunctions.Extensions.DependencyInjection` either.  What am I missing?

[2021-02-01 14:52] alextriaca opened #69808 "Empty result"
Despite there being users on the account and even users registered with MFA the reports continue to report 0 of 0 users. I assume this corrects after some period however the documentation doesn't mention this. The documentation talks about a delay in the report however this delay is multiple hours/days rather than the 60 minutes indicated in the docs.

The below account was created 4 days ago (fro

[2021-02-01 14:53] mdaslamansari opened #69809 "AKS Istio support matrix"
[Enter feedback here]
Hi, where can we find the AKS version Istio version support matrix? Please advice.

We are looking to find if Istio 1.8.2 is supported in AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d64cf65-bf33-ff76-3ece-47c758479506
* Version Independent ID: c2db9de5-62ef-5bd0-83dc-1832113ae37c
* Conten

[2021-02-01 14:54] edmund-davis commented on #69451
Hmm, I'm sorry but I don't think I agree.

The challenge I see is that your script is creating an HTTPS site on port 443 without a host header and this could conflict with an existing production site on 443 in many common scenarios.
You do not provide a warning or guidance about this conflict situation and I think this is a risk for customers who may not be specialists in IIS.

I suggest the docum

[2021-02-01 14:59] Yvand commented on #69451
I disagree based on my first comment: If SharePoint creates a HTTPS site that conflicts with the bindings of an existing IIS site, no certificate will be set on the new HTTPS site, so existing IIS site won't be impacted.

[2021-02-01 15:00] ais-rmn opened #69810 "Please update notes on this page to reflect change in Global Peering"
The ability to use Global filtering was added to VNET"s that were built after 9/22/2020.  The notes on the page still indicate that Global peering is not supported.

https://docs.microsoft.com/en-us/azure/azure-sql/database/auto-failover-group-overview?tabs=azure-powershell#enabling-geo-replication-between-managed-instances-and-their-vnets

---
#### Document Details

⚠ *Do not edit this section. I

[2021-02-01 15:07] MonikaReddy-MSFT commented on #69809
@mdaslamansari -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-01 15:12] AshokPeddakotla-MSFT commented on #68369
@dominicbetts Any update on this issue? Can this issue be closed?

[2021-02-01 15:20] w0ut0 opened #69812 "Please add how to use web.config file when working with Containers in App Service"
Some specific settings (eg. security headers) can only be set by changing the web.config file.

When working with (custom) container images, where should we change these settings?

Our pentest suggests to increase the `Strict-Transport-Security` header. As far as I see in the documentation, this is impossible to do.

Is there a possibility to set the `web.config` file?

---
#### Document Details

[2021-02-01 15:28] nonodename opened #69813 "Documentation error in examples for convertFromUtc"
Example #1 for convertFromUtc does not seem correct. The docs state that the expression:

`convertFromUtc('2018-01-01T08:00:00.0000000Z', 'Pacific Standard Time')`

returns

`"2018-01-01T00:00:00Z"`

In my testing with Microsoft Flow, the expression returns

`2018-01-01T00:00:00.0000000`

What should it be?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-02-01 15:30] NavtejSaini-MSFT commented on #69704
@Alan-Hinton Information regarding "Allow Azure services and resources to access this server" is documented at many places e.g. https://docs.microsoft.com/en-us/azure/azure-sql/database/firewall-configure so we will check with Doc author if this info should be added here.
@stevestein - Please provide feedback on if this info should be added to the document?

[2021-02-01 15:31] dorgrin6 opened #69814 "Unable to use property copy inside a "Microsoft.Web/sites/config""
I'm deploying a template very similar to one of [these examples](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/copy-properties#property-iteration) in the docs.

I'm hit by:
[code]
Running: `New-AzResourceGroupDeployment` (Az 5.3.0, same result on the old AzurePowershell)
Happened on PSCore 7.1.0

Template:
[code]

Could you please assist?
Thanks

[2021-02-01 15:45] iamDanielo opened #69815 "Encoding special chars"
Hi, in italian (but I think also in french or spanish...) there is an issue with some characters.
the string
**L'indirizzo email è stato verificato. è ora possibile continuare.**
is rendered
![image](https://user-images.githubusercontent.com/69239468/106481632-e986a500-64ac-11eb-9357-278df997614b.png)

this is a string in default json customization.
how can we solve it?

---
#### Document Details

[2021-02-01 15:47] mperezcarden opened #69816 "This Lab practice requires .NET framework v4.6.1"
While following the instructions I created the project using ".NET Framework 4.5.2".
Nevertheless the NuGet StackExchange.Redis supports .NET Framework v4.6.1

This is the error message I got by following the instructions the first time

[code]
It's solved if I adjust the project properties to use .NET framework v4.6.1

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-02-01 15:47] shivanissambare commented on #69709
Hi, that's strange. It should have created an azureml-service http trigger function. I suggest opening a CSS support case with us, so that a support engineer can further take a look.

Thanks,
Shivani S.S.

[2021-02-01 15:48] AshokPeddakotla-MSFT commented on #68671
@rido-min Do you have any further suggestions on the above ask?

[2021-02-01 15:48] mksuni commented on #68431
@NavtejSaini-MSFT this issue is fixed already in the doc  . please close the issue

[2021-02-01 15:49] dorgrin6 opened #69817 "Unable to use property copy inside a "Microsoft.Web/sites/config""
I'm deploying a template very similar to one of [these examples](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/copy-properties#property-iteration) in the docs (3rd one from the top).

I'm intending to add an array of resource ids to an app service's app settings.
The resources referenced exist of course.

I'm hit by:
[code]
Running: `New-AzResourceGroupDeployment` (Az 5.3

[2021-02-01 15:49] #69814 closed

[2021-02-01 15:49] SatishBoddu-MSFT commented on #69796
@MartinDBakerCDW Thanks for the feedback!
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-01 15:52] SaurabhSharma-MSFT commented on #69813
@nonodename Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 15:53] JayaChatterjee-MSFT commented on #69392
@bgausden We are discussing with our core team. In the meantime, can you please confirm in between:

1) update AZ CLI and retry. -->  2) Then try creating the app from portal / other clients

[2021-02-01 15:57] AshokPeddakotla-MSFT commented on #68820
@kgremban Do we have any update on this request? Can this issue be closed?

[2021-02-01 15:57] timoleo23 opened #69818 "AzureCommunicationUserCredential generates error in provided sample"
Following the deployement guidelines and executing the code for "Quickstart: Join your calling app to a Teams meeting", the sample generates the following error "_azure_communication_common__WEBPACK_IMPORTED_MODULE_1__.AzureCommunicationUserCredential is not a constructor"

There is also a warning raised at comilation time that says
"export 'AzureCommunicationUserCredential' was not found in '@azu

[2021-02-01 15:58] YutongTie-MSFT commented on #69709
@tomconte Hello Thomas, please send us an email at Azcommunity@microsoft.com with this thread url and your Azure subscription ID, I will help you to open a free support ticket for this. Thanks.

[2021-02-01 16:01] djpmsft commented on #68763
Closing this issue due to a lack of response -- feel free to reopen if this arises.

#please-close

[2021-02-01 16:01] #68763 closed

[2021-02-01 16:06] wcneumann219 commented on #69591
Hi,

No, I’m good. Do you plan to update the article to add a caveat that says while you need to be in the same tenant to migrate to a new subscription, one can migrate a Recovery Services subscription to a new tenant and retain access to the existing backups—so long as…?

Bill

Bill Neumann

NOTE: Upcoming Out of Office
1/15, 1/22, 1/29,  2/5, 2/12. 2/19. 2/26 PTO

[cid:image001.png@01D6F88A.43D8

[2021-02-01 16:07] mperezcarden opened #69819 "StringBuilder not recognized"
The code provided in this step:

Doesn't work at once, It marks this line as an error:
` StringBuilder sb = new StringBuilder();`

I use this instead and it worked:
`System.Text.StringBuilder sb = new System.Text.StringBuilder();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eda09f-d369-1ff4-f458-7374597c9c80
* Ver

[2021-02-01 16:10] SatishBoddu-MSFT commented on #69803
**Duplicate of :** https://github.com/MicrosoftDocs/azure-docs/issues/69803

[2021-02-01 16:10] #69803 closed

[2021-02-01 16:11] sdgilley commented on #69781
@eyast - did you follow the link in the first sentence to the article about environments?  https://docs.microsoft.com/en-us/azure/machine-learning/concept-environments

Does this help or do you feel that you still need more info?

[2021-02-01 16:14] RyanHill-MSFT commented on #69812
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-01 16:15] SatishBoddu-MSFT commented on #69798
@MoeJw
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-01 16:29] jyeblog commented on #67831
@RonyMSFT

My role is more in infrastructure side. That's reason why I'm following the quick start guide. I really don't have access to any parquet file, nor do I know how to load it in ADLS gen2 from Spark.

I just tried to remove the private endpoint, and disabled firewall on ADLS gen2, rerun the exact same spark notebook cell, and it works:

[code]

![image](https://user-images.githubuserconten

[2021-02-01 16:31] SaurabhSharma-MSFT commented on #69676
@slsu0424 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-01 16:31] #69676 closed

[2021-02-01 16:32] brianbar-MSFT commented on #68941
Any update on this?

[2021-02-01 16:36] akania commented on #69818
@timoleo23 can you please tell what's the version of azure/communication-common that you have installed via npm ( can be found in node_modules/@azure/communication-common/package.json under "version" ) - currently ACS Calling JS SDK supports 1.0.0-beta.3 only, we'll be updating shortly to handle all the changes made in 1.0.0-beta.4

[2021-02-01 16:45] JamesTran-MSFT commented on #69805
@Dekard
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 16:47] JamesTran-MSFT commented on #69808
@alextriaca
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 16:49] JamesTran-MSFT commented on #69815
@iamDanielo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 17:04] DeanGross opened #69820 "Request for guidance"
Please add some guidance about what we should do when we get "Query partially succeeded; results may be incomplete or incorrect." after running a workbook.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2155a4-d8b2-a542-1aba-387183c3f2e3
* Version Independent ID: 11565414-4093-d4cf-2665-1343b45a732a
* Content: [Azure

[2021-02-01 17:18] JeremyTBradshaw opened #69823 "I think these two points are conflicting?"
In the section **[How is a PRT issued?](https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-primary-refresh-token#can-i-see-whats-in-a-prt)**, the purple note block states:

Shortly after this, in the section **[How is a PRT renewed?](https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-primary-refresh-token#how-is-a-prt-renewed)**, this statement seems to su

[2021-02-01 17:18] Aaronmcd1978 commented on #69228
@SwathiDhanwada-MSFT Sorry I am able to view required logs now. I just have one more question Is the Azure Monitor agent available to create  Azure Policy like @xristoph  has mentioned ?

[2021-02-01 17:19] MartinJaffer-MSFT commented on #69476
@spwangxp I notice in the broker properties you supplied, one was left unfinished
`ssl.endpoint.identification.algorithm=`
Was this intentional?

[2021-02-01 17:22] #69571 closed

[2021-02-01 17:28] AshokPeddakotla-MSFT commented on #69174
@kgremban If this is considered to be added in the next update, can this issue be closed for now?

[2021-02-01 17:29] AshokPeddakotla-MSFT commented on #68477
@robinsh  If this is considered to be added in the next update, can this issue be closed for now?

[2021-02-01 17:50] JamesTran-MSFT commented on #69820
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-01 17:50] ericsampson commented on #52706
@jeffhollan would it be possible to please document the .NET configuration for this, instead of waiting for all language support? Thanks!!

[2021-02-01 17:57] SaiKishor-MSFT commented on #69432
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 17:57] #69432 closed

[2021-02-01 18:00] SaiKishor-MSFT commented on #69460
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 18:00] #69460 closed

[2021-02-01 18:04] dylan-fox opened #69824 "Adding Spatial Anchors SDK to dependencies in manifest induces namespace errors (Unity MRTK)"
I followed the instructions on this page for adding the Azure MR Services to scoped registries and Azure Spatial Anchors SDK to dependencies (windows only, not android or iOS), but this immediately induces a number of namespace issues in my project. For example:

`("Library\PackageCache\com.unity.xr.windowsmr@2.5.2\Runtime\ReferencePoint\WindowsMRReferencePointSubsystem.cs(100,28): error CS0246: T

[2021-02-01 18:07] YutongTie-MSFT commented on #69450
Hello Neha, could you please help to check this issue and update the code sample? Thanks a lot.

[2021-02-01 18:08] #69683 closed

[2021-02-01 18:16] JamesTran-MSFT commented on #69805
@Dekard
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-01 18:16] #69805 closed

[2021-02-01 18:18] RonyMSFT commented on #67831
Do you have a managed PE created to your storage account when it is firewall protected? Can you get on a call for me to understand what might be the issue here together?

[2021-02-01 18:19] SadiqhAhmed-MSFT commented on #69591
@wcneumann219 Thanks for confirming. Closing this for now.

@dcurwin For doc-enhancement

[2021-02-01 18:19] #69591 closed

[2021-02-01 18:21] SaiKishor-MSFT commented on #69440
@RonnieQuan Yes. The Traffic Manager url is not designed to be accessed directly. You should be creating a cnmame that points to the traffic manager url. The cnam can use https and will connect to the appropriate endpoint using https. Hope this clarifies your doubts. Please let me know if you have further questions/concerns. Thank you!

[2021-02-01 18:22] SadiqhAhmed-MSFT commented on #69514
@ericrrichards We haven't heard back from you, so we will now close this issue. Please reply with specific details that you think needs to be added to the documentation.

[2021-02-01 18:22] #69514 closed

[2021-02-01 18:22] BharathNimmala-MSFT commented on #69787
@rsrk2008 Thank you for circling back, can you please help us understand what operations you are trying to perform on the resource ?

[2021-02-01 18:22] MartinJaffer-MSFT commented on #69807
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-02-01 18:23] jyeblog commented on #67831
@RonyMSFT sure, please send me a meeting request.

[2021-02-01 18:27] sadi354 commented on #69514
Pada tanggal Sel, 2 Feb 2021 02.22, SadiqhAhmed-MSFT <
notifications@github.com> menulis:

[2021-02-01 18:31] sakthi-vetrivel commented on #67701
Hey @m1o1, that's right. I think this specific section is what you're looking for: https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac#interact-with-cluster-resources-using-azure-ad-identities

Thanks for the feedback!

[2021-02-01 18:44] JayaChatterjee-MSFT commented on #69537
@benCoomes if you modify the host.json, the function host will restart.

[2021-02-01 18:47] normesta commented on #69507
Thanks @haymansfield. We've updated the content with details around resource instances. The section of content is here - https://docs.microsoft.com/azure/storage/common/storage-network-security#grant-access-from-azure-resource-instances-preview Thanks again!

#please-close

[2021-02-01 18:47] #69507 closed

[2021-02-01 18:49] SadiqhAhmed-MSFT commented on #69804
@k7faq Thanks for the question. The redundancy options for RSV is called out "[Storage settings in the Recovery Services vault](https://docs.microsoft.com/en-us/azure/backup/backup-azure-recovery-services-vault-overview#storage-settings-in-the-recovery-services-vault)"

You can also refer to - https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault#set-storage-redundancy

If you are t

[2021-02-01 18:50] jyeblog commented on #67831
@RonyMSFT, just realized that github cannot send private messages. I have a support ticket open: 121020124004309
You may find my contact there.

[2021-02-01 18:55] ErikMogensen commented on #69778
It is in the location blade. I just tried it some more and got 10, 20 and 30 units for the same region so it seems to be a bug here:

![image](https://user-images.githubusercontent.com/9644248/106504298-07f99a00-64c7-11eb-8ef0-90665be37609.png)

![image](https://user-images.githubusercontent.com/9644248/106504212-e8627180-64c6-11eb-809e-b915907876e7.png)

![image](https://user-images.githubusercon

[2021-02-01 18:59] ericrrichards commented on #69514
The question is, are you actually going to provide an answer and update the
documentation to accurately describe how this works?  Because the current
state of it is unusable.

On Mon, Feb 1, 2021 at 1:27 PM sadi354 <notifications@github.com> wrote:

[2021-02-01 19:02] ChaitanyaNaykodi-MSFT commented on #69724
Hello @easp, Thank you for reaching out!
Apart from creating a free account and signing into Azure using VS code, there are [some configuration steps](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-csharp#configure-your-environment) in the documentation can you please confirm if you have followed those.
If you have already followed those configuration steps an

[2021-02-01 19:03] mumian commented on #69817
@dorgrin6 - the template looks OK.  You probably extract a portion of your template.  The error might be somewhere else in the template.  Have you tried deploying only this part?

[2021-02-01 19:05] JoonHwangBright opened #69827 "Typo in article "Automation account authentication overview""
Azure Run As account: Allows you to **manages** Azure resources based on the Azure Resource Manager deployment and management service for Azure.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8721e209-24ce-2170-6caa-ed12a7060080
* Version Independent ID: ac13f91d-460c-cbe9-4778-50d20765b252
* Content: [Azure Automation

[2021-02-01 19:14] timoleo23 commented on #69818
Hi, I went back to version bêta.2 and it works fine. The issue was with a fresh install and beta.4 version - Would be good to add the version in the installation command till the beta.4 is up to date ;-)

[2021-02-01 19:16] SadiqhAhmed-MSFT commented on #69514
@vikrambmsft Could you please help address @ericrrichards query?

[2021-02-01 19:16] cjmakwana opened #69828 "Issue with Azure AD configuration for mobile app - access token and ID token"
Hello,

In my case, I am following exactly the same as instructed here. However, after configuring the Azure AD for my app registration and with mobile (android) platform added for authentication, the Microsoft library for Android SDK provides two tokens - ID token and Access token. I see that the app role configured for a user is available in ID token, and not in access token. Is that expected ?

[2021-02-01 19:25] jvalley19 commented on #47164
This question was never fully answered?

[2021-02-01 19:26] MGoedtel commented on #69827
@JoonHwangBright - I've reviewed your issue, and the statement is factually correct. It is actually the same statement from the ARM overview article [here](https://docs.microsoft.com/azure/azure-resource-manager/management/overview). If you don't agree with it, please feel free to share your feedback with the content writer(s) who manage the Azure Resource Manager content. If I've misunderstood yo

[2021-02-01 19:28] JoonHwangBright commented on #69827
I wasn't speaking to the content of the article, just pointing out a grammar mistake. Apologies if this is the wrong place to do so.

[2021-02-01 19:30] MGoedtel commented on #69827
@JoonHwangBright - Ah, I see it now. Sorry, I didn't take notice of the word "manages".  I'll fix that now, thanks. #please-close

[2021-02-01 19:30] #69827 closed

[2021-02-01 19:31] justinkneff commented on #69666
@MayankBargali-MSFT I do see that clarification at the end of the paragraph.
I believe it confused me because when reading the "[Service Bus Overview](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus)" the article reads in sections per version number. Example is "Functions 2.x and higher" header and followed by "Functions 1.x". This was the way I was expecting

[2021-02-01 19:32] JayaChatterjee-MSFT commented on #69537
@benCoomes  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 19:32] #69537 closed

[2021-02-01 19:47] #69573 closed

[2021-02-01 19:48] vishalchitrala2020 opened #69829 "need further explanation for article."
[Enter feedback here]

Overall, the article looks good. I need further explanation foe below point.

Should the below step be performed from MailChimp - if so how ?  can you point to page on mailchimp to do it.
is it done through Logic App?

"**Send yourself an email request to join your mailing list. Wait for the request to appear in your inbox.**"

---
#### Document Details

⚠ *Do not edit this

[2021-02-01 20:01] RonyMSFT commented on #67831
Ok. This is starting to make a bit more sense. Based on your original problem statement, I thought this was just Spark facing issues when accessing a storage account that has firewall enabled. It seems that this is really a DW issue (because you are using the Spark to DW connector in your code). Let's wait for the hotfix to be released and retry this. Is that ok?

[2021-02-01 20:02] MarileeTurscak-MSFT commented on #36607
Yes, we were able to reproduce this. No workaround available at this time but we have reported it to the product team and will update.

[2021-02-01 20:06] ran-ten21 opened #69830 "Multiple GCP accounts"
[Can multiple GCP accounts be added? Not seeing much documentation on this. Can this be done through powershell?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9132fa3-434e-8339-b5e4-5ecc924d8f63
* Version Independent ID: 365c05fb-43b8-807c-e14b-804050e0340a
* Content: [Connect your GCP account to Azure Security Cent

[2021-02-01 20:07] muarif2000 opened #69831 "Bug in Tutorial"
I get the following error when running this tutorial at step run = experiment.submit(automl_config)

ValidationException: ValidationException:
	Message: Install the required versions of packages using the requirements file. Requirements file location: /home/trusted-service-user/cluster-env/env/lib/python3.6/site-packages/azureml/automl/core/validated_linux_requirements.txt. Alternatively, use remo

[2021-02-01 20:09] MarileeTurscak-MSFT commented on #69823
@JeremyTBradshaw
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 20:10] muarif2000 opened #69832 "Bug in Tutorial"
I get the following error when trying to upload file in notebook.
Invalid notebook: Notebook has syntax errors. It can't be rendered.

Trace ID : 8c8b88c9-03f6-4190-a710-915cd58d99cd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2b7493-8a67-f5af-1dba-7f8c37db47e8
* Version Independent ID: 93cda5f3-e17a-dbd2-9493-2bf

[2021-02-01 20:13] tfitzmac commented on #69787
@rsrk2008 - just want to make sure it's clear that the lock takes precedence. This statement says it but could be more clear - "you use management locks to apply a restriction across all users and roles."

I'll update the article to more clearly state the precedence.

[2021-02-01 20:24] ChaitanyaNaykodi-MSFT commented on #69573
Hello @becke-ch-s0-v1, Thank you for the feedback, we have updated the document to include the suggested change. You will be able to see the change in a day or two.
Please tag me in your response if there are any additional concerns. Thank you!

[2021-02-01 20:28] BharathNimmala-MSFT commented on #42467
#sign-off

[2021-02-01 20:29] #42467 closed

[2021-02-01 20:33] haymansfield commented on #69507
Thanks for the prompt update. If I could ask one question, it is whether
the cognitive services storage account access can be used by the speech
services batch transcription.

On Mon, 1 Feb 2021, 18:48 Norm Estabrook, <notifications@github.com> wrote:

[2021-02-01 20:35] eyast opened #69833 "incorrect model name"
I've also left an issue in the code sample repo, but note that in the first code snippet, when refactoring the Jupyter notebook to a Python file, the last instruction (joblib) attempts to save a model named "reg" - but in the code the model is named "reg_model".

the last line should be modified to:
joblib.dump(value=reg_model, filename=modle_name)

Thanks, Eyas

---
#### Document Details

⚠ *Do n

[2021-02-01 20:37] mbiver opened #69834 "Article needs clarification regarding RD Gateway Source IP affinity mode"
This article needs to clarify the RD Gateway Source IP affinity mode a little better.  This section "https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-distribution-mode#source-ip-affinity-mode"  starts out by saying that it can be configured using "source IP affinity distribution mode" and then says there are 2 versions, "two-tuple" and "three-tuple".  then it goes on to say that

[2021-02-01 20:38] VitalyMCT opened #69835 "Using wildcard specification & row sampling"
I would like to ask for clarification on the interaction of wildcard and sampling settings.

Our goal is to load a per-determined number of records from each file that matches a wildcard. Suppose we have File A and File B that meet the wildcard specification. We would like to load 10 rows from File A **and** 10 rows from File B. Is there a way to do this in a mapping data flow (while using wildcar

[2021-02-01 20:39] #65009 closed

[2021-02-01 20:41] MartinJaffer-MSFT commented on #69807
Thank you for your feedback @Marnixvdb  . This has been assigned to the content owner, @dcstwh  and will be updated as appropriate.

[2021-02-01 20:48] SaurabhSharma-MSFT commented on #69707
@Fabiest I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/909463-azure-databricks). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2021-02-01 21:00] MonikaReddy-MSFT commented on #69806
@davejedwards -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-01 21:02] MonikaReddy-MSFT commented on #69334
@het-msft - Sorry for the delay in response. I am checking with Content team to find the timelines. I'll keep you posted once I have the information. Thank you

[2021-02-01 21:04] MonikaReddy-MSFT commented on #69523
@sameer-kumar -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-02-01 21:09] MonikaReddy-MSFT commented on #69317
@chadcarlton -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-02-01 21:11] adalfa commented on #61603
@shashishailaj I Think i have a similar issue where the sample application on one azure b2c directory is working fine with the Issuer URL https://samltestapp2.azurewebsites.net while on another b2c directory I always get

Application registered corresponding to IssuerUri "https://samltestapp2.azurewebsites.net" in AuthRequest does not have assertion consumer service URL "https://samltestapp2.azure

[2021-02-01 21:15] MonikaReddy-MSFT commented on #69715
@fabianallendorf -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 21:31] SatishBoddu-MSFT commented on #69531
Hello @SynapsePOC
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-02-01 21:31] #69531 closed

[2021-02-01 21:36] asudbring commented on #64523
Sending over to PM for review.

Amit, if you can get me procedures on how to do the redirection in Verizon or a screenshot to replace the one in this article, I can get it published.

#re-assign:@amitsriva

[2021-02-01 21:41] MonikaReddy-MSFT commented on #69734
@davidjhastings - The links are fixed now. Please try them and let us know if you are still having issues.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-01 21:41] #69734 closed

[2021-02-01 21:45] jyeblog commented on #67831
@RonyMSFT I will perform another repro on March 1 to see if the problem goes away.

[2021-02-01 21:47] gadvenamdev opened #69836 "Azure infrastructure solutions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84c297e-d371-a8fe-416e-147b152d48d4
* Version Independent ID: 1a46ae57-0d71-ba2c-fe71-f8bb2024e1ce
* Content: [Get started with log queries in Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-q

[2021-02-01 21:49] JamesTran-MSFT commented on #69830
@ran-ten21
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 21:54] JamesTran-MSFT commented on #69770
@amanjeetsingh
Thank you for your questions!

Is it enabled by default/managed by Microsoft and available for both Standard/Premium SKU of AKV?
- Based off our documentation, it looks like this feature is enabled by default “If individual components within the key vault service fail... You don't need to take any action to start this process, it happens automatically and will be transparent to you.

[2021-02-01 21:57] JamesTran-MSFT commented on #69828
@cjmakwana
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 21:59] jonwbstr commented on #65525
Almost opened a issue, checked to see if anyone else had reported this issue and found two existing issues. Not sure why I can't reference the second ticket...

https://github.com/MicrosoftDocs/azure-docs/issues/65612

[2021-02-01 22:01] mark-strasser-nnl opened #69837 "Bastion Non-Standard SSH Port"
Would like this question to be answered in the FAQ:  Does Azure Bastion support non-standard SSH ports?  For GitHub Enterprise Server, port 122 is the admin console port, as port 22 is reserved for git+ssh access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent

[2021-02-01 22:08] spelluru commented on #37532
After discussing with @axisc, I have removed the recommendation from the article. Thanks.

[2021-02-01 22:09] sfarhand opened #69838 "Local Debugging does not Work"
Local debugging in VS Code does not work as explained here.

After following the instructions, I receive the following error:

There is no explanation and the Run in AzureML has no output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b35e09-7c87-ee02-ce21-7582679b752d
* Version Independent ID: 6c77b990-7932-426f-54

[2021-02-01 22:11] spelluru commented on #55138
@GiriB - Looks like there is no support for it in the Ruby SDK. The SDK isn't actively being worked on either. Apologize for the delay is responding to you. I have been through the backlog as fast as I could. Thanks.

#please-close

[2021-02-01 22:11] #55138 closed

[2021-02-01 22:25] sadi354 commented on #69838
Pada tanggal Sel, 2 Feb 2021 06.09, Sepehr Farhand <notifications@github.com>
menulis:

[2021-02-01 22:30] SaiKishor-MSFT commented on #69837
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-02-01 22:31] donduvall opened #69839 "Azure VPN Client FQDN specific DNS exclusions"
Per https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client

I have been able to edit our AzureVPNClient.xml file and import the file via Intune without issue. Also using that page's FAQ section...

https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client#faq

I have added our internal DNS suffix, our custom DNS servers and also our custom internal routes.

The

[2021-02-01 22:39] ThomasLEONARDI commented on #44645
Hi everybody,
Is there a solution for this issue?
Same behaviour and message error for me ... thank you

[2021-02-01 22:41] BharathNimmala-MSFT commented on #69836
@gadvenamdev  Thank you for reaching out to us. Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. It would be great if you can share more details on what exact feedback you have about the documentation so that we can assist you accordingly.

Additionally in case you ar

[2021-02-01 22:54] AndrewTier1Point5 commented on #68262
Hi all, has there been any updates on the fix for this issue?

[2021-02-01 22:55] donduvall commented on #69839
For instance, we are testing the Azure VPN Client in conjunction with Azure Files using a Private Endpoint.

Our Azure Files Private Endpoint is on one of our Azure VNETs and reachable via the VPN, the problem is the hostname we are using for the Azure Files Private Endpoint (azurefiles.file.core.windows.net) will not resolve as .file.core.windows.net is not the DNS suffix for the VPN client, some

[2021-02-01 22:58] SaiKishor-MSFT commented on #69834
@mbiver
- Source IP affinity mode solves an incompatibility between Azure Load Balancer and Remote Desktop Gateway (RD Gateway). By using this mode, you can build an RD Gateway farm in a single cloud service.
Both of the below options are part of the source IP affinity distribution mode and therefore, both options can be used for the above purpose.
- Client IP (source IP affinity 2-tuple) - Specif

[2021-02-01 23:03] BharathNimmala-MSFT commented on #69806
@davejedwards Thank you for reaching out to us. Please note that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is for driving improvements related to the Azure documentation.

In case your question is to understand the updates for Azure Disk Backup, please subscribe [here](https://azure.microsoft.com/en-us/updates/?query=backup). As applicable the u

[2021-02-01 23:03] #69806 closed

[2021-02-01 23:04] rboucher commented on #22599
#reassign @shemers

[2021-02-01 23:05] rboucher commented on #42707
#reassign @shemers

[2021-02-01 23:06] BharathNimmala-MSFT commented on #69787
Thanks a lot @tfitzmac  for the help on this thread and confirming on the precedence for locks.

@rsrk2008 Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what already listed by @tfitzmac . We will go ahead and close this issue for now, however if you have any further queries please tag us in your reply and

[2021-02-01 23:06] #69787 closed

[2021-02-01 23:12] BharathNimmala-MSFT commented on #69778
@ErikMogensen Thank you for circling back with additional information. I am reviewing the scenario you called out with our internal team to understand if its a bug. To best of knowledge the limit should be 10 scale units only, however will check on both and get back to you. Thanks

[2021-02-01 23:14] NavtejSaini-MSFT commented on #69810
@ais-rmn Thanks for the feedback.
@stevestein @MashaMSFT  - Please confirm if we can make this change and send for review.

[2021-02-01 23:17] NavtejSaini-MSFT commented on #69816
@mperezcarden Thanks for the feedback.
@yegu-ms @yegu - Please confirm the requirement on how to use 4.5.2 package.

[2021-02-01 23:18] NavtejSaini-MSFT commented on #69819
@mperezcarden We are checking this feedback and will get back to you.

[2021-02-01 23:22] RoyalSWiSH opened #69840 "How to create correct POST request for SMS example?"
[Enter feedback here]
Hi,

I try to pass my phone number via a POST request, but it always triggers the error message

This is my POST request:

[code]

I also tried to output the result of    phone_number = context.get_input() and it is 'None', but I don't know why.

Greets,
Sebastian
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-02-01 23:29] SaurabhSharma-MSFT commented on #69813
@nonodename This document is correct and when using the expression as yours in Azure Data Factory.  I see it the results as expected :
![image](https://user-images.githubusercontent.com/38112130/106530834-e9cd7300-64a1-11eb-97f8-07159fe82077.png)
This document is for Azure Data Factory expressions and not for Microsoft Flow. I see you are using using Microsoft Flow.  You need to check on Microsoft

[2021-02-01 23:35] kenwith commented on #69247
Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/145213  -- should be live shortly. Thanks again @Andrew-Webb for all of your feedback on the SCIM content. Very much appreciated!

[2021-02-01 23:50] SaurabhSharma-MSFT commented on #69831
@muarif2000 Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 23:50] SaurabhSharma-MSFT commented on #69832
@muarif2000 Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 23:51] SaurabhSharma-MSFT commented on #69835
@VitalyMCT Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-01 23:54] dhirajgandhi commented on #68631
This document is not talking about this screen. The screen that you have shown is DPOR not the partner admin link.

[2021-02-02 00:04] KranthiPakala-MSFT commented on #69463
@tifischer Thanks for the feedback @tifischer . We have passed the feedback to product team and discussion are going on the same. I will keep you posted offline.

As there is a note  called out in the document about the screenshots, I will go head and close this issue for now.

Thank you

[2021-02-02 00:04] #69463 closed

[2021-02-02 00:14] paulbouwer commented on #69809
@mdaslamansari @MonikaReddy-MSFT

The note section at the top of the **Install Istio in Azure Kubernetes Service (AKS)** page provides a link to the [Istio General FAQ](https://istio.io/faq/general/), where the Istio team documents the supported Kubernetes versions for each Istio release.

From the [What deployment environments are supported?](https://istio.io/latest/faq/general/#what-deployment-e

[2021-02-02 00:15] gregveres opened #69841 "No docs on how to call a webjob from a .Net app???"
The section on building background tasks using WebJobs seems pretty good but it is missing a huge section. How do we give a webjob something to do from our MVC .Net app or our .Net Core app? The section on background tasks seems to be all about writing the webJob and has nothing on how to call the webjob. The only way that it shows to execute the webjob is through the Azure DevOps portal.

---
###

[2021-02-02 00:22] mimckitt commented on #60359
#reassign: @amjads1

[2021-02-02 00:22] mimckitt commented on #61583
#reassign: @amjads1

[2021-02-02 00:22] kenwith commented on #69521
#please-close

[2021-02-02 00:22] #69521 closed

[2021-02-02 00:23] mimckitt commented on #62991
#reassign: @amjads1

[2021-02-02 00:23] mimckitt commented on #66540
#reassign: @amjads1

[2021-02-02 00:23] mimckitt commented on #67436
#reassign: @amjads1

[2021-02-02 00:28] rsrk2008 commented on #69787
Thanks Tom

On Mon, Feb 1, 2021 at 2:14 PM Tom FitzMacken <notifications@github.com>
wrote:

--
Thanks & Regards
Siva

[2021-02-02 00:35] rsrk2008 commented on #69787
It’s not that’s clear in the documentation
So asked again
I expected straight answer , other details I can read from documentation
However I got it from Tom
Thanks

On Mon, Feb 1, 2021 at 12:23 PM BharathNimmala-MSFT <
notifications@github.com> wrote:

--
Thanks & Regards
Siva

[2021-02-02 00:36] mimckitt commented on #69625
@sandeepraichura I currently am working on adding more information both to this page the issue was opened on and the multitenant hosting document.

I can't talk from a business decision standpoint, but to use Windows 10 in Azure you either need to have one of the subscriptions listed in this doc. If they do not, they need to purchase one or a valid license type of the following:

•	Microsoft 365 E

[2021-02-02 00:36] #69625 closed

[2021-02-02 00:39] easp commented on #69724
Hello @ChaitanyaNaykodi-MSFT, thanks for the reply.

It seems like the bug lies elsewhere, rather than in the documentation. I found the workaround by KentTaylor a few days ago and it worked for me.

[2021-02-02 00:39] #69724 closed

[2021-02-02 00:40] #67928 closed

[2021-02-02 00:40] nonodename commented on #69813
My bad. The language and docs are almost exactly the same and as a user of both ADF and Flow I sometimes have the wrong one open!

Thanks for confirming.

[2021-02-02 00:41] #69813 closed

[2021-02-02 00:41] #69210 closed

[2021-02-02 00:41] #69349 closed

[2021-02-02 00:46] mimckitt commented on #68825
No response.

#please-close

[2021-02-02 00:46] #68825 closed

[2021-02-02 00:49] lipalath-ms opened #69843 "What does this date '2015-05-01' indicate?"
What does this date '2015-05-01' in the following line indicate? How do I determine what date value to use?

"value": "[reference(resourceId('microsoft.insights/components/', variables('appInsightsName')), '2015-05-01').InstrumentationKey]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f

[2021-02-02 00:57] rboucher commented on #69579
@dinisgarcia I'll make this change yes. Thanks for reporting it!  The page is auto generated and sometimes there are exceptions I don't catch.

[2021-02-02 01:02] rwike77 commented on #69022
@rrajan82 , thanks for the info.  I've updated the article.  #please-close

[2021-02-02 01:02] #69022 closed

[2021-02-02 01:05] rwike77 commented on #69732
@renancnetto, thanks.  I've just updated the article to include info on this error (basically the info described in [#69022](https://github.com/MicrosoftDocs/azure-docs/issues/69022)).  #please-close

[2021-02-02 01:05] #69732 closed

[2021-02-02 01:05] tfitzmac commented on #69817
@dorgrin6 - in the example from the doc, the property takes an array. When the copy element has been expanded, it returns the array expected by the property.

For appsettings, it seems that setting a value to an array doesn't work. I tried hardcoding an array without the copy loop, and got the same error you are seeing:

{
            "name": "[concat(parameters('webappName'), '/appsettings')]",

[2021-02-02 01:11] tfitzmac commented on #69654
@ssabat - thanks for this feedback. Yes, you can export a template and redeploy it to a new tenant. However, it is not really moving the instance. It is more like creating a new instance in the new tenant. Does that work for your scenario?

There may be a few changes to make to the template after exporting. You'd want to test it before getting rid of the original instance.

[2021-02-02 01:27] SatishBoddu-MSFT commented on #69818
Hi @timoleo23 Thanks for the feedback and the recent comment.

We will look into this and will update you accordingly.

Cc: @AjayKumar-MSFT

[2021-02-02 01:32] SatishBoddu-MSFT commented on #69824
@dylan-fox
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-02 01:39] jyama4ta opened #69845 "containerd is already GA"
containerd is GA at https://github.com/Azure/AKS/releases/tag/2020-11-16. It seems that need to update this doc. Could you please consider it? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3cf3
* Version Independent ID: cc199e1d-6737-5f52-f2a2-b6c0b603dbdc
* Content: [Cluster

[2021-02-02 01:40] MyTestingAccountThatIUse opened #69846 "Code doesn't work within powershell"
Hi Team,
under:
View a list of groups in an administrative unit > Use PowerShell

there are additional spaces within the code, and incorrect fields being called.
Correct is below:
--
$AdministrativeUnitObj = Get-AzureADMSAdministrativeUnit -Filter "displayname eq 'Test administrative unit 2'"

Get-AzureADMSAdministrativeUnitMember -Id $AdministrativeUnitObj.Id
--
However, this code only displays U

[2021-02-02 01:41] RonyMSFT commented on #67831
I will close this issue. After you repro in March, please either re-open the issue or create a support ticket and we can take it further from there.

[2021-02-02 01:53] madhavtr opened #69848 "azure function in linux environment facing rest api version issue .. app function enabled with MSI."
azure function in linux environment facing rest api version issue .. app function enabled with MSI.

**here is the link that i followed**
1.
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet
**- Rest API**

2.
http://thewindowsupdate.com/2020/04/08/using-managed-service-identity-msi-to-authenticate-on-azure-sql-db/

**Here is the code snippet and exception in

[2021-02-02 02:08] khetheri commented on #69538
The user assigned managed identity is located in subscription A. The user managed identity is assigned contributor roles in both subscription A and subscription B. Both subscriptions are associated with the same directory. However, when I run “az aks create” with the —assigned-user parameter and the fully qualified path to the user assigned managed identity it errors out because it is unable to lo

[2021-02-02 02:10] khetheri commented on #69538
Oh. And yes. I am talking about the “hidden”control plane managed identity.

[2021-02-02 02:17] KrishnaG-MSFT commented on #69814
@dorgrin6 Hope you have self resolved and hence closed the issue.

If that's not the case then as mentioned [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/common-deployment-errors) in general you receive bad request error code if you sent deployment values that don't match what is expected by Resource Manager. Check the inner status message for help with troubleshoo

[2021-02-02 02:37] nonodename opened #69849 "Errors in examples for addDays, addHours"
Evening Microsoft

The examples for the addN functions are not consistent and do not match observed behavior.

To validate, I created a flow that sent an e-mail calling the functions per the examples:
<img width="640" alt="Screen Shot 2021-02-01 at 6 31 54 PM" src="https://user-images.githubusercontent.com/1678084/106539769-d0392500-64bb-11eb-8ae9-558a369ba925.png">

The resulting e-mail body (bol

[2021-02-02 03:14] b-jam opened #69850 "Doc needs love"
[Enter feedback here]

The screenshots are outdated, and theres no mention of where the numbers 8099D8E come from.
I couldn't follow the documentation to do what it describes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0f8fa5-b31c-17fc-64ee-e1b77f4f1389
* Version Independent ID: 24461bb6-a8ac-65e8-db24-fd359cab41

[2021-02-02 03:14] nonodename commented on #69849
Looks like [subtractFromTime](https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#subtractFromTime) has an error as well. Colon instead of period separating the milliseconds in the first example

[2021-02-02 03:28] ChaitanyaNaykodi-MSFT commented on #69829
Hello @vishalchitrala2020,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-02 03:29] #60290 closed

[2021-02-02 03:29] ChaitanyaNaykodi-MSFT commented on #69840
Hello @RoyalSWiSH,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-02 03:30] SnehaAgrawal-MSFT commented on #69841
@gregveres Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 03:30] SnehaAgrawal-MSFT commented on #69843
@lipalath-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 03:32] ChaitanyaNaykodi-MSFT commented on #69849
Hello @nonodename,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-02 03:33] RyanHill-MSFT commented on #69762
Hi @Javaman2, I went through the sample and verified it does work. You can see the modified changes here. I think you may have gotten mixed up on [creating the API](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api#create-the-api) step. I've attached a gif that I hope will clear things up. Following the steps, creating the folder created by the Azure Function extension is step 4 of 5.

[2021-02-02 03:33] #69762 closed

[2021-02-02 03:41] ram-msft commented on #69833
@eyast Thanks for the feedback! We will review and update accordingly.

[2021-02-02 03:42] ram-msft commented on #69838
@sfarhand Thanks for the feedback! We will review and update accordingly.

[2021-02-02 04:00] VladimirKhvostov commented on #69741
It would be good to add a link to the following page:
https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-device-names-problems

[2021-02-02 04:05] dpapkin opened #69852 "Quickstart: Create a virtual machine scale set in the Azure portal needs correction"
[Enter feedback here]
1)  Under Create virtual machine scale set, Do not create a new resource group. It was created already in the previous step that created the Load Balancer

Create virtual machine scale set
.
.
.

In the Basics tab, under Project details, make sure the correct subscription is selected and then select existing resource group  group,  myVMSSResourceGroup for the name and then se

[2021-02-02 04:05] vscherbinin opened #69853 "Error importing AnomalyDetectorClient"
Hi guys,

import os
from azure.ai.anomalydetector import AnomalyDetectorClient

gives

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-9-3011c1947004> in <module>()
      1 import os
----> 2 from azure.ai.anomalydetector import AnomalyDetectorClient

c:\users\vscherbinin\appdata\l

[2021-02-02 04:07] SatishBoddu-MSFT commented on #69848
Hello @madhavtr Could you please let us know the exact MS Document/Link which you have followed? We need to link this issue to the respective MS Document page. Thanks for your understanding!

[2021-02-02 04:10] markmcdon7 commented on #39634
Did anyone ever raise a support ticket and get a fix from them?

[2021-02-02 04:31] madhavtr commented on #69848
here is the link that i followed
1.
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet
- Rest API

2.
http://thewindowsupdate.com/2020/04/08/using-managed-service-identity-msi-to-authenticate-on-azure-sql-db/

Here is the code snippet and exception info

def get_bearer_token(resource_uri):
identity_endpoint = os.environ["MSI_ENDPOINT"]
identity_header = os.env

[2021-02-02 04:33] chandrapola opened #69854 "Getting an error while adding Vnet-Hub to the Azure Firewall."
Getting the following error while adding the Vnet-Hub to the Azure Firewall .

![image](https://user-images.githubusercontent.com/13370347/106552704-cb896680-64e5-11eb-94e3-4b729ceb5dfc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b54e37aa-a45b-989e-5adf-e0f2212815f4
* Version Independent ID: a957e018-937f-204d-

[2021-02-02 04:39] #69854 closed

[2021-02-02 04:39] chandrapola commented on #69854
The issue was raised by mistake.

[2021-02-02 04:39] pnarsi opened #69855 "Grant access from Azure resource instances is still a preview feature."
The "Querying firewall protected storage" section of this guide seems to be using a preview feature of Storage Account to allow the workspace to access a storage account with a firewall.

As this feature is still in preview what does this mean from a supportability perspective? Can we use this preview Storage Account firewall feature in production environments (and get Microsoft support if somethi

[2021-02-02 04:42] SatishBoddu-MSFT commented on #69848
hello @madhavtr
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @AjayKumar-MSFT

[2021-02-02 04:51] shaunakv1 commented on #53360
@sanchitmehta  I can give this  a try again. When you say "fixed in the latest platform release" do you mean this is fixed for both ruby 2.5 and 2.6 runtimes currently available in the portal?

Also can you point to some specific github issue in the underlying container where this was fixed  so we can look at the changes?

Thanks!

[2021-02-02 05:02] osada96 opened #69857 "Delete the service principal"
"To delete the service principal, query for your cluster servicePrincipalProfile.clientId and then delete with az ad **app** delete. Replace the following resource group and cluster names with your own values:

az ad sp delete --id $(az aks show -g myResourceGroup -n myAKSCluster --query servicePrincipalProfile.clientId -o tsv) "

It seems to me, **app** should be replaced with **sp** in the next

[2021-02-02 05:03] HarithaMaddi-MSFT commented on #69855
@pnarsi - Thanks for your question. We are looking into it and will get back to you shortly.

[2021-02-02 05:04] AnuragSharma-MSFT commented on #69642
@pbakhil Awaiting your response on above comment.

[2021-02-02 05:18] ram-msft commented on #69745
@xppolo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-02 05:18] #69745 closed

[2021-02-02 05:32] SaiKishor-MSFT commented on #69718
@plynch66 Although all those IPs are available, you can only use the given maximum number of IP addresses per VNET. Hope this helps. Please let me know if you have any further questions. Thanks!

[2021-02-02 05:35] rwike77 commented on #66261
@sheigel, sorry you were having trouble.  Were you trying to add a new policy or remove a policy? Or update a policy?  @seantleonard FYI

[2021-02-02 05:46] miyamam opened #69859 "The link was invalid"
The linked address of "Shared responsibilities for cloud computing"  "https://gallery.technet.microsoft.com/Shared-Responsibilities-81d0ff91" is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ec59b4-502b-1a20-cde0-ab08647fc86a
* Version Independent ID: 8cb55ad6-b271-a597-aff7-47d4c0f3ec5f
* Content: [Shared

[2021-02-02 05:49] shashishailaj commented on #69846
@MyTestingAccountThatIUse Thank you for your query. Could you please confirm if you are talking about School Data Sync or the SDS acronym means anything else ? It will help us accordingly research on this to help further. In some cases a support case may be needed if deeper troubleshooting is required.

[2021-02-02 05:59] TerryLanfear commented on #69859
@miyamam - Thanks for your feedback! I will investigate and update as appropriate.

[2021-02-02 06:03] jitendraRai commented on #69643
Thanks @thommck. The supported OS version  of DC Agent and Proxy services are different however because of OS versions the .net framework versions are different. However this document needs to be updated with latest OS and .net framework.

**DC Agent:-**
All machines where the Azure AD Password Protection DC agent software will be installed must run **Windows Server 2012** or later, including Wind

[2021-02-02 06:09] danielkon96 opened #69861 "Outdated Code"
Code is out of date on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda67fd8-ca0e-5eb1-f58c-cafebbdd855f
* Version Independent ID: 21582c44-4cc0-9f6b-6042-8afc98b99c08
* Content: [Get started with the Azure CDN Library for .NET](https://docs.microsoft.com/en-us/azure/cdn/cdn-app-dev-net)
* Content Source:

[2021-02-02 06:10] AnuragSharma-MSFT commented on #69704
@Alan-Hinton This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-02 06:16] #69767 closed

[2021-02-02 06:18] RohitMungi-MSFT commented on #69693
We will now proceed to close this thread as the tutorial part 1 and part 2 are a continuation of the steps to be followed. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-02 06:18] #69693 closed

[2021-02-02 06:18] psmanhas commented on #69857
@osada96 Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-02-02 06:23] ponchmaster opened #69862 "Client processor is not unit testable"
Hi, I am trying to figure out how to write unit tests for the MessageHandler of the Azure Service Bus Client Processor, but this seems to be impossible. The MessageHandler receives as a parameter a ProcessMessageEventArgs class, which in turn requires as parameters a ServiceBusReceiver and a ServiceBusReceivedMessage objects which are impossible to build since they don't have public constructors.

[2021-02-02 06:27] jg4smile opened #69863 "Connection for Azure Queue Storage via Azure Functions Leaves a lot to be desired."
The connection string section leaves a lot to be desired. I believe I understand the concept of local.settings.json and app.settings, however, the document has no example of what the value should look like. I get that it is going to pull from an environment variable if left blank, but for the first time through, I feel like it should show how to "manually" setup the connection and then reference t

[2021-02-02 06:28] jg4smile commented on #69861
I'm sure that is the case because it does not work as expected. The entire "Connection" section is left completely vague.

[2021-02-02 06:29] rasmus-s opened #69864 "When to get geospatial type support in Azure Search V11"
When does the Azure.Search.Documents V11 get support for geospatial types?
The documentations say pending feature, but the earlier SDK had you(Microsoft) marked as deprecated. We have a company rule about **_not_** to use deprecated packages, so this put us in a hard situation - should we wait a little longer or looking for 3rd party libs.

Azure Search V10 (that support GEO is **deprecated**): ht

[2021-02-02 06:32] tjxxxxx opened #69865 "Noop not supported in the SAP4"
[Enter feedback here]
in the document, we mentioned "Linux has several different I/O scheduling modes. Common recommendation through Linux vendors and SAP is to reconfigure the I/O scheduler mode for disk volumes from the mq-deadline or kyber mode to the **noop (non-multiqueue) or none for (multiqueue) mode**. Details are referenced in SAP Note #1984787."

But when we checked the SAP doc (https://

[2021-02-02 06:37] RohitMungi-MSFT commented on #69694
@eyast Our content team updates the screen shots regularly based on updates to documentation. Our team has taken a note of this and will work to update it in the next set of updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-02 06:37] #69694 closed

[2021-02-02 06:39] danielkon96 commented on #69861
@jg4smile That's right. I am also implementing pieces of the code and these methods don't exist anymore.

[2021-02-02 06:41] dominicbetts commented on #68369
These updates are in our backlog. I'll close this issue.
#please-close

[2021-02-02 06:41] #68369 closed

[2021-02-02 06:42] Vayth opened #69866 "Default Server Parameter in MySql Basic"
I see that some settings are not configurable in Basic tier.
However, the values are just N/A. Do they mean the size is 0, or do they have a fixed value? If it's fixed value, maybe we can change the N/A to ithe value.

On a related note, I have an issue where I got an out of memory error, which no problem in dev local server which has way lower spec than basic, but cannot seem to find the root cau

[2021-02-02 06:42] #69643 closed

[2021-02-02 06:45] MyTestingAccountThatIUse commented on #69846
Hi there,

Sorry about the confusion. Yes, I mean School Data Sync.

Thanks
________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Tuesday, February 2, 2021 3:49:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Daniel Titze <daniel@titze.net.au>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Code doesn't work

[2021-02-02 06:48] RohitMungi-MSFT commented on #69695
@likebupt FYI.. for future doc updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-02 06:48] #69695 closed

[2021-02-02 06:53] dcbrown16 opened #69868 "Screenshot update"
It looks like the Portal screenshot here is rather out of date, I believe this is under "Networking" blade now.
Please update the screenshot when able.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b8d70d-ea67-98ec-cd98-236d8c2bf5b1
* Version Independent ID: 18d9663b-35d0-0e15-8ad4-00ae60f413b8
* Content: [Configure

[2021-02-02 06:53] psmanhas commented on #69845
@jyama4ta Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-02 06:53] psmanhas commented on #69845
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-02-02 06:55] psmanhas commented on #69852
@dpapkin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-02 06:55] psmanhas commented on #69852
@ju-shim Can you please check and add your comments on this doc update request as applicable

[2021-02-02 06:58] psmanhas commented on #69865
@tjxxxxx Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-02 06:58] psmanhas commented on #69865
@msjuergent Can you please check and add your comments on this doc update request as applicable

[2021-02-02 07:35] RohitMungi-MSFT commented on #69782
@eyast Yes, the training metrics are stored in Cosmos DB database maintained in the MS subscription for your Azure ML workspace.

[2021-02-02 07:38] RohitMungi-MSFT commented on #69788
@eyast the error indicates the Azure ML SDK is not installed correctly on the machine. You might need to follow the step from part 1 of this tutorial to [setup your local](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-sdk-setup-local) machine and try again.

[2021-02-02 08:03] leonpeeters opened #69872 "Cannot find "Firewalls and virtual networks" screen in Synapse workspace"
I just created a very basic Synapse Analytics setup consisting of just a StorageV2  storage account and a  Synapse workspace.

For this setup, I cannot find the  "Firewalls and virtual networks" screen as shown in the little screenshot -- which is partly caused by the zoom of the screenshot which doesn't show the menu bar on the left.

I suggest either

1. providing more information, e.g. by inclu

[2021-02-02 08:10] wukun2015 opened #69873 "How to obtain auth token ?"
Hello,

Where can i get auth token to communicate speech service ?

I already have an azure account with speech service endpoint and key available, which work well but i hope to learn how to use token to work the same purpose.

There are token related api  in api reference doc for SpeechConfig and SpeechRecognizer, all of which seem requiring an token to work with. But token seems not available on

[2021-02-02 08:10] AnuragSharma-MSFT commented on #69866
@Vayth Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-02 08:11] AnuragSharma-MSFT commented on #69868
@dcbrown16 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-02 08:11] AnuragSharma-MSFT commented on #69872
@leonpeeters Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-02 08:14] marcowork commented on #42707
@shemers I think my main question was to provide more examples in the documentation. But I can think of a few dashboards like CPU memory disk utilisation
other dashboards like network traffic, firewall blockers egres ingres
AKS utilization #ofContainers #Namespaces #69872

Perhaps its even best if the dashboards you provide on Azure out of the box are also created in json for grafana?

[2021-02-02 08:22] mdaslamansari commented on #69809
Thanks @paulbouwer

[2021-02-02 08:22] #69809 closed

[2021-02-02 08:24] pbakhil commented on #69642
@AnuragSharma-MSFT Thanks for the clarification.

[2021-02-02 08:34] mdehaas commented on #39634
We did but it did not lead to a satisfying result. Somewhere along the process also we decided this scenario does not fit into our Modern Workplace offering. We are only using SMB3 shares in Azure as part of an Application Resource Group for storing the application data (as was once the intended purpose from Microsoft). The only landing zones for data which has to be accessed from end-user devices

[2021-02-02 08:50] benphunter commented on #40927
I also had the same issue and realised that I had made a mistake when reading the instructions. I granted API permissions in the webapi not the webapp application. I need to pay more attention, hopefully this will help someone else.

[2021-02-02 08:58] SnehaAgrawal-MSFT commented on #69864
@rasmus-s Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 09:07] AleFazio commented on #56453
Hi, I have the same problem. Host name in probe configuration and CN of the backend certificate (self-signed) are the same but I get unhealthy backend message during probe test. Could be this problem related to the root certificate? I haven't loaded yet a root certificate to the https settings (in fact I can't connect to the backend yet through app gateway) but the probe should check the backend c

[2021-02-02 09:25] SergeMoreno opened #69874 "Not able to parse a CSV to upload terms."
I get errors on parsing the imported terms: Request failed with status code 400
Request ID: 9ad2cb97-b797-4091-834d-cd3648332a1d
Please check your csv format: Error parsing CSV line:46

I renamed the CSV file in TXT to be able to
[csv comma delimited - Copy.txt](https://github.com/MicrosoftDocs/azure-docs/files/5910043/csv.comma.delimited.-.Copy.txt)

---
#### Document Details

⚠ *Do not edit this

[2021-02-02 09:41] tomconte commented on #69709
Thanks @YutongTie-MSFT, I will do some more testing to make sure I have not missed something and will open a support ticket if the problem persists. Thanks for your help!

[2021-02-02 09:49] HarithaMaddi-MSFT commented on #69855
@pnarsi - Microsoft team can support customers using public preview features but they are not bound to SLAs and also they might change according to feedback received from Customers and various other factors before releasing into GA (General Availability). Hence, it is not recommended to use them in production environments. I have updated the document with the information that this feature is in pr

[2021-02-02 09:52] #69855 closed

[2021-02-02 09:55] jameswestall commented on #61539
@shashishailaj  - Are you able to advise if the PG added this to backlog?

[2021-02-02 09:59] SadiqhAhmed-MSFT commented on #69681
@jhornych Location is mandatory - [Template resource location - Azure Resource Manager | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/resource-location?tabs=azure-powershell)

Hope this helps!

Feel free to ping if you have any further questions in this matter.

[2021-02-02 10:20] gix111 commented on #69180
Is there any progress or additional info on this issue?

regards

[2021-02-02 10:24] rokulka commented on #69450
@colbytimmsl -
The list of URLs in the requests output are related to the Web App which hosts the Bot. QnAMaker Cognitive Service uses a different Web App, and can you please verify if Application Insights is configured there?

Also please verify if all the application insights configurations mentioned in this doc are configured in the QnaMaker Web App - https://docs.microsoft.com/en-us/azure/cogn

[2021-02-02 10:37] psmanhas commented on #69630
@GuyPaddock Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-02 10:37] #69630 closed

[2021-02-02 10:39] psmanhas commented on #69538
Thank you @khetheri for information i will reach out to our internal team and get back to you.

Thank you

[2021-02-02 10:47] psmanhas commented on #69634
@mlearned Any inputs on above?

Thanks

[2021-02-02 10:48] Ballzer0 opened #69876 "wrong file name in the windows section of the compile instructions"
![image](https://user-images.githubusercontent.com/28560729/106589253-1d64d780-654c-11eb-9dfe-69352af3e3d3.png)
This should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524efc8-3aef-53b3-732b-6837d8f1c7a7
* Version Independent ID: a5d8005d-4431-a2b6-34bf-c463b76618c2
* Content: [Create a function in Go or

[2021-02-02 10:53] MayankBargali-MSFT commented on #69511
@mmulhearn You will see below default packages when you create the function app.

![image](https://user-images.githubusercontent.com/67255909/106589640-3d0ef680-6572-11eb-9cdd-4e92165c15bb.png)

Once you run the package command you will see the dependency as below:
Install-Package Microsoft.Azure.Functions.Extensions -Version 1.1.0

![image](https://user-images.githubusercontent.com/67255909/10659

[2021-02-02 11:08] MayankBargali-MSFT commented on #69666
@justinkneff I do see your concern here but the document talks about the usage, attributes, configuration for the service bus trigger.

@craigshoemaker Can you provide your thoughts on this?

[2021-02-02 11:15] t-rapp opened #69877 "Possible typo in Java examples when setting the HTTP headers"
It seems that the Java code examples in the Translator service quickstart guide contain a typo when setting the "region" HTTP header.

The following code lines appear in most Java examples:
[code]

likely they should be changed into:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fa12ff-87c9-ecc0-929b-055b1b7e

[2021-02-02 11:25] joedocker758 opened #69878 "A sample query may be wrong"
Found the sample query returns error in Log Analytics workspace: 'summarize' operator: Failed to resolve scalar expression named '_SubscriptionId'

find where TimeGenerated > ago(24h) project _ResourceId, _BilledSize, _IsBillable
| where _IsBillable == true
| summarize BillableDataBytes = sum(_BilledSize) by _ResourceId
| summarize BillableDataBytes = sum(BillableDataBytes) by _SubscriptionId | so

[2021-02-02 11:53] PramodValavala-MSFT commented on #69621
@Camios Just following up here... Hope my previous comment clears things up.

[2021-02-02 12:18] sopelt commented on #48177
Well, not that I would recommend it but it looks like if a text record `_validation-contactemail` containing an email address there will be fallback verification through an emailed hyperlink and I now have a front door with verified zone apex. The whole process took hours and is obviously not great for many scenarios.
Clarification and official support would be much appreciated.

[2021-02-02 12:43] xakpc opened #69879 "Missing correct hash formula for CloseAccount, ChangeProfile, ChangePassword, SignOut operatios"
Please add the correct HMAC formula for operations CloseAccount, ChangeProfile, ChangePassword, SignOut

The returnUrl parameter is used only for SignIn and SignUp
HMAC(salt + '\n' + returnUrl)

For CloseAccount, ChangeProfile, ChangePassword, SignOut the userId is used in signature
HMAC(salt + '\n' + userId)

https://github.com/Azure/api-management-developer-portal/issues/1138#issuecomment-771290

[2021-02-02 12:48] KrishnaG-MSFT commented on #69878
@joedocker758 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-02 13:02] psmanhas commented on #69857
@osada96 The document is updated and changes will go live soon.

[2021-02-02 13:02] #69857 closed

[2021-02-02 13:03] jhornych commented on #69681
Yes, that is why I was writing you, so you know you do not have updated documentation and can fix the example..

[2021-02-02 13:34] shashishailaj commented on #69839
@donduvall Thank you for your query. We will investigate and update the thread .

[2021-02-02 13:39] SadiqhAhmed-MSFT commented on #69681
@jhornych Thanks once again for bringing this to our attention. We will work with the doc owner to update it.

[2021-02-02 13:40] tomconte opened #69880 "Couple issues with sample code on this page"
Hi,

Here are a couple issues I found on this page while running through the steps.

### Wrong args to `from_files()`

[code]

The args seem wrong for `from_files()`: the method signature is `from_files(path, validate=True)`.

### `as_input` is a method

[code]

This should be `step1_output_data.as_input()`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-02-02 13:41] vipulsparsh commented on #69846
@MyTestingAccountThatIUse  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-02-02 13:43] lokijota opened #69881 "Steps 7 and 8 of the direct method call are incorrect"
In Step 7, the JSON is missing the version information.

Step 8 says to test version "1.0", which doesn't actually work -- should be "2.0". I suggest changing it or highlighting that it has to changed to match the correct LVA version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b51fc4-b406-3bbd-0234-417b157f2553
*

[2021-02-02 13:44] ChrisOwczarek commented on #52844
Please update the docs with the workaround.

[2021-02-02 14:00] psmanhas commented on #69180
@gix111 Apologies for the delay in response and all the inconvenience caused because of this issue.As this issue needs more investigation and live troubleshooting for quicker resolution I would recommend you to contact Azure Support.If you have to a support plan,requesting you to file a support ticket else please let us know,we will try and help you get a one-time free technical support.

Thanks

[2021-02-02 14:04] Camios commented on #69621
@PramodValavala-MSFT either check can be used. The audience check is for convenience

[2021-02-02 14:04] #69621 closed

[2021-02-02 14:04] PradeepKiruvale opened #69882 "Connection error: Connection Refused: not authorised x509 over mosquitto to DPS"
I am trying to do the individual enrollment on my DPS using the mosquitto_pub. I use x509 self signed certs for authentication.
But failing to connect and register the device on dps.

Below is my cli.

mosquitto_pub -d -h DemoRegistrationDPS.azure-devices-provisioning.net -p 8883 --cafile /home/ubuntu/RND/edge/azure-connect/certs/BaltimoreCyberTrustRoot.crt.pem --cert ./certs/pkjtestdev07-full-cha

[2021-02-02 14:09] cesar-younes opened #69883 "appgw-subnet-prefix option not available in az aks create cli command"
I wasn't able to run the code snippet in the section Deploy an AKS cluster with the add-on enabled section. The script option --appgw-subnet-prefix doesn't seem to be available in the latest version of the [az aks create docs](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create). I made sire I'm on the latest az cli version but the only closest options I could find w

[2021-02-02 14:22] TomGeske commented on #69538
@khetheri just for completeness would you mind sharing your complete cli command including the full error message?

[2021-02-02 14:29] dorgrin6 commented on #69817
@tfitzmac, @mumian thanks for your input!
Didn't even think to check for just an array.

My real issue is I actually that the resource id is just part of what I want to achieve.
I have an array of app insights app names and I'd like to add a parameter of an array of the iKeys of said apps (a strignified version of said array would work too).

The reference issue is what keep me from using variable

[2021-02-02 14:36] MonikaReddy-MSFT commented on #69654
@tfitzmac  - Thank you for providing your insights.
@ssabat - I hope @tfitzmac has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-02 14:36] #69654 closed

[2021-02-02 14:37] alijahnas commented on #56453
@AleFazio I think you still need the Root Certificate fo the probe to check the server certificate against, according to https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#end-to-end-tls-with-the-v2-sku

[2021-02-02 14:46] sundbing opened #69885 "What about existing configuration in Application Gateway?"
As the title states: " with existing Azure Application Gateway",
we cannot find any statement about the configuration of listeners, backend pools, healthprobes and such that exist in the application gateway before deploying AKS services to it.

With former AGIC solution, we always had the problem that AKS is wiping the application gateway configuration, so that existing settings are lost.

What ab

[2021-02-02 14:47] shashishailaj commented on #69641
@DeanGross The details in the document do not say that it is not available . The PCI DSS 3.2.1 is available in the . The document mentions names of some of the available standards and talks about how you can search them while applying a security policy. It is just an oversight that the name is not listed there because it is available by default out of the box unless it has been disabled using the

[2021-02-02 14:47] #69641 closed

[2021-02-02 14:47] maheshkvis opened #69886 "GA availability of this service"
When will be this service available in GA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9cef1a6-012b-2750-c016-b3ebddbcd706
* Version Independent ID: 424ee453-2459-af29-8a1f-65ad333ce454
* Content: [Enable Ultra Disk support on Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-u

[2021-02-02 14:51] Ponant commented on #50075
I changed only unified.css by substituting `#logonIdentifier` for `#email`.
I am using the built-in user flows with the 2.1.2.

I hope you will update this asap to give everyone common and working files; I spent the whole day figuring out what was going on. The templates have been on github 2 years ago and things seems to have changed a bit...

None of the above worked, only the hint to check out

[2021-02-02 14:54] shashishailaj commented on #69420
@v-hagamp , @chetansriv The instructions above will need a screenshot added from azure portal side as well in addition to the information provided above. Please update the same once you include the instructions above.

[2021-02-02 15:04] shashishailaj commented on #69638
@glprasanna Yes the Tutorial is applicable to the current version [available for download](https://www.microsoft.com/en-us/download/details.aspx?id=56506) which is 1.0.11 and it does support  JIRA v8.14 as [listed in the article here](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial#supported-versions-of-jira).

![image](https://user-images.githubusercontent

[2021-02-02 15:04] #69638 closed

[2021-02-02 15:06] shashishailaj commented on #69420
Closes MicrosoftDocs/azure-docs#69421

[2021-02-02 15:07] shashishailaj commented on #69421
@v-hagamp @chetansriv  This issue is a duplicate of MicrosoftDocs/azure-docs#69420 and will get closed automatically once that is closed.

[2021-02-02 15:10] cocowalla opened #69887 "Command `az sql db audit-policy update` fails"
A command in the page does not workl:

[code]

It fails with:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525d6778-0226-34f3-8525-2e67d7c32df7
* Version Independent ID: c3ad7540-7058-a4ea-82c8-0b49c003d6b5
* Content: [CLI example of auditing and Advanced Threat Protection - Azure SQL Database](https://docs.m

[2021-02-02 15:11] AleFazio commented on #56453
I think doc says the root cert is necessary for the connection, not for the probe check (or I missed something).
In fact the error message in the probe check says "**CN of the backend certificate** does not match the host header entered in the health probe configuration" not the **CN of the trusted root certificate**.
Also, in my case, I created a custom root certificate and a backend sel-signed c

[2021-02-02 15:45] ram-msft commented on #69853
@vscherbinin Thanks for the question. We are investigating the issue and will update you shortly.

[2021-02-02 15:46] bwarren18 commented on #41402
I am getting the following error during a resource group deployment for a VM.
`"status": "Failed",
    "error": {
        "code": "ZonalAllocationFailed",
        "message": "Allocation failed. We do not have sufficient capacity for the requested VM size in this zone. Read more about improving likelihood of allocation success at http://aka.ms/allocation-guidance"
}`

The article just talks about w

[2021-02-02 15:48] ram-msft commented on #69880
@tomconte Thanks for the feedback! We will review and update accordingly.

[2021-02-02 15:49] ram-msft commented on #69877
@t-rapp Thanks for the feedback! We will review and update accordingly.

[2021-02-02 15:51] alijahnas commented on #56453
It wouldn't make any sense to match the CN of the trusted root certificate.

Yes the object of this issue is when we use self-signed certificates, the probe returns this error. With Trusted CAs there is no error.

[2021-02-02 15:52] DeanGross commented on #69641
I think that the documentation should be updated to describe all of the standards that are available in ASC portal

[2021-02-02 15:54] tigerdeccan opened #69888 "Visualising of insights is not greatly covered"
[Enter feedback here]
Hi ,

Can you eloborate on how to use workbook provided by default in WVD analytics . It doesnt seem to work very well. but if I use
this custom workbook (https://github.com/wvdcommunity/AzureMonitor/blob/master/WVD-ARM-monitoring-workbook.json_

 . it works fine . please explain in documentation if you guys are intent to update the default workbook so customers can use updat

[2021-02-02 15:54] yeadubs opened #69889 "Enabling MFA via Powershell"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates

The work around to have non Global Admins enable MFA was to enable via the MSOLUser command below.  However, non Global Admin users no longer have the ability to run this command.  Did something change recently that this command restricted to Global Admins?

    #Output Enabling MFA
    Write-Host "Enablin

[2021-02-02 15:57] krishnasingh1818 opened #69890 "Diagnostic-Id set in message properties is not automatically populated into system.diagnostics.activity.current.parentid"
Diagnostic-Id set in message properties is not automatically populated into system.diagnostics.activity.current.parentid when running azure functions with servicebus trigger on local debugging on windows machine.
Also putting az function in linux container we getting null in current.parentid.

can we put some more clarity arround when this gets populated and when not and what to do if its not popu

[2021-02-02 15:58] SatishBoddu-MSFT commented on #69850
@b-jam
I have assigned the issue to the content author for further review.

[2021-02-02 16:01] SatishBoddu-MSFT commented on #69861
@danielkon96
I have assigned the issue to the content author for further review.

[2021-02-02 16:02] timsander1 commented on #68360
#please-close

[2021-02-02 16:02] #68360 closed

[2021-02-02 16:04] shashishailaj commented on #69757
@cuatrix-bensonlee We do not recommend moving the state directly to _Enforced_ state because doing so causes disruptions during sign-in to applications which do not support modern authentication as stated in the [change state using PowerShell](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#change-state-using-powershell) section .

![image](https://user-

[2021-02-02 16:04] #69757 closed

[2021-02-02 16:04] nickstaggs commented on #37532
@spelluru that works. You can go ahead and close this issue then.

[2021-02-02 16:04] SatishBoddu-MSFT commented on #69882
Hello @PradeepKiruvale Could you please let us know the MS Document/Tutorial which you have referred? I have to add the metadata to this issue. Thanks for your understanding.

[2021-02-02 16:05] #37532 closed

[2021-02-02 16:05] gix111 commented on #69180
Hey @psmanhas thanks for the quick answer.
I think we just got the basic support plan, could u help me to request this on-time free technical support please?

[2021-02-02 16:06] psmanhas commented on #69519
@Aspire1Inspire2 Apologies for all the delay in response and any inconvenience this issue might have caused.

We had discussion with our team internally and below is their response:
Managed NAT is on the roadmap for ACI (targeting March this year) which will allow for static egress on vnet enabled container groups.

Hope it helps!!!

[2021-02-02 16:06] vplauzon commented on #61497
A solution would be to modify the resource provider (new version) to externalize the routing rules as a child resource.  Subnets in VNETs are like that where you can provision the subnet as a child resource or directly within a VNET.

Then we could have the following dependency:

1.  Front door instance with everything but routing rules
2. Rule engine, depending on front door instance (as a child)

[2021-02-02 16:11] timsander1 commented on #69756
Thank you for the feedback on the arrays doc! If you are currently learning about querying arrays in Cosmos DB, here's a blog post on that topic with some additional examples - https://devblogs.microsoft.com/cosmosdb/understanding-how-to-query-arrays-in-azure-cosmos-db/

In SELECT * FROM c, c is the data source (aliased as c). In this case, since you used IN, the data source is the children array.

[2021-02-02 16:11] psmanhas commented on #69180
@gix111 Sure I can help you out with that.
Can you please send out an email to AzCommunity@microsoft.com with “Attn:Preeti” in subject line and do mention the issue url and your subscription id in your email so I can enable one time Free Support for you.

Hope it helps!!!

[2021-02-02 16:12] timsander1 commented on #69756
I'll add a link to reference to the Families dataset since it isn't clear where the examples come from

[2021-02-02 16:12] soderlind opened #69891 "Add az cli example for onboarding a root domain"
When you add the apex domain using the portal, _a CNAME  record mapping 'afdverify' (example - afdverify.contosonews.com) to that will be used for onboarding the domain on your Front Door profile._  will be created (ref [Create an alias record for zone apex](https://docs.microsoft.com/en-gb/azure/frontdoor/front-door-how-to-onboard-apex-domain#create-an-alias-record-for-zone-apex), pt 6).
When you

[2021-02-02 16:14] soderlind commented on #48177
.. the tumbs up was for _Clarification and official support would be much appreciated._

[2021-02-02 16:15] SatishBoddu-MSFT commented on #69889
Hello @yeadubs Could you please let us the exact MS Document which you have referred over here? I need to add the metadata to this issue so that we triage this as soon as possible. Thanks for your understanding.

[2021-02-02 16:19] haymansfield opened #69892 "Can network restrictions be placed on the storage account containing the audio files to transcribe"
Is it possible to place network restrictions on the storage account used for source audio files and use the Allow Access to Trusted Services flag (plus assigment of RBAC roles for the cognitive services account managed identity) in order to use the batch transcription process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-02-02 16:19] v-tcassi commented on #69729
Hi! Thanks for your feedback. These changes have been applied in a pull request that has just been closed. #please-close

[2021-02-02 16:19] #69729 closed

[2021-02-02 16:23] SatishBoddu-MSFT commented on #69862
@ponchmaster Thanks for the query!
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @mike-urnun-msft

[2021-02-02 16:27] SatishBoddu-MSFT commented on #69863
Hello @jg4smile Thanks for your feedback!
I have assigned the issue to the content author for further review.

[2021-02-02 16:27] usdruscia commented on #69058
Could you be more precise about the deprecation being no earlier than 14 January 2021?
As of today, AAD endpoints `login.microsoft.com` still works when used in conjunction with B2C policies.

[2021-02-02 16:29] SubhashVasarapu-MSFT commented on #69891
@soderlind, Thanks for reaching out. We will investigate and update this thread.

[2021-02-02 16:29] YutongTie-MSFT commented on #69892
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 16:30] SubhashVasarapu-MSFT commented on #69885
@sundbing, Thanks for reaching out. We will investigate and update this thread.

[2021-02-02 16:30] YutongTie-MSFT commented on #69873
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 16:30] codeputer opened #69894 "Page has changed in terms of layout - can't navigate to application password screen"
This page does not reflect the layout of the Security Basic page as it displays now.  I cannot navigate to the Application Password section to create a new application password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a817299f-2a97-3a59-e575-f5693a34c29a
* Version Independent ID: 69896e9c-fef3-4bc2-de72-d5d99bdb

[2021-02-02 16:31] SubhashVasarapu-MSFT commented on #69883
@cesar-younes, Thanks for reaching out. We will investigate and update this thread.

[2021-02-02 16:36] msmbaldwin commented on #68236
Hi, @rkhokhar857. We agreed that the diagram was confusing, so we removed it entirely. Thanks for your feedback! #please-close

[2021-02-02 16:36] JamesTran-MSFT commented on #69894
@codeputer
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-02 16:36] #68236 closed

[2021-02-02 16:40] SatishBoddu-MSFT commented on #69874
@SergeMoreno
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 16:46] yeadubs commented on #69889
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates

[2021-02-02 17:03] SaurabhSharma-MSFT commented on #69707
@Fabiest We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-02 17:03] #69707 closed

[2021-02-02 17:04] generateui opened #69895 "Fix broken command in step 3"
Command in step 3 should be `dotnet run -s <IDScope>` instead of `dotnet run <IDScope>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f746de95-7990-6084-3fbc-756c7d7ef04d
* Version Independent ID: ced758d5-6d5d-5cf2-d424-c8b3739e70b9
* Content: [Quickstart - Provision a simulated TPM device to Azure IoT Hub using C#](

[2021-02-02 17:04] HeidiSteen commented on #69864
@dereklegenzoff who is the PM rep for the Azure SDKs.

[2021-02-02 17:12] ChaitanyaNaykodi-MSFT commented on #69876
Hello @Ballzer0,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-02 17:26] tfitzmac commented on #69473
@benjamincburns - thanks for this feedback. I'll update the documentation to clarify some of those scenarios.

[2021-02-02 17:27] SergeMoreno commented on #69874
Thanks,
Could regional settings cause issues?
I found a way to circumvent the issue: save as CSV in XLS + ensure no linefeeds where in the XLScells and no ; were in the xls either.
Then open in notepad+
Then change all ; to ,
Then the load worked
Kind regards

From: SatishBoddu <notifications@github.com>
Sent: dinsdag 2 februari 2021 17:40
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.co

[2021-02-02 17:33] RonnieQuan opened #69897 "Key Vault Encryption Key Pricing Question"
As indicated in pricing calculator, HSM key is $1 per key,

Can we clarify is that per key or per key per version, when rotate the key, and leave the old version, will it cost more? or each version is charged $1?

![image](https://user-images.githubusercontent.com/25850020/106639100-9a934b00-6552-11eb-9cac-4c93adebd949.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sec

[2021-02-02 17:36] YesPrepDataCenter opened #69900 "Network Error"
When I go to the integration runtime page Immediately get an error. I get it again when I click on create.

![image](https://user-images.githubusercontent.com/60482367/106639677-d7f3da80-654a-11eb-94a1-7260b56ead01.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e632aab-071d-60ae-748f-458c6e8715b1
* Version Indepe

[2021-02-02 17:41] mrtypn commented on #63288
Can we use VirtualPathFilter to filter based on VirtualPath ? i have several virtual paths on the same application , i want to use different AppInsights instrumentation key, i tried many settings with AppFilter,VirtualPathFilter, but it doesnt work. Any suggestion ?

[2021-02-02 17:48] JayaChatterjee-MSFT commented on #69392
@bgausden  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-02 17:48] #67701 closed

[2021-02-02 17:56] KranthiPakala-MSFT commented on #47164
@mssaperla - Could you please have a look at the above feedback from @jvalley19 and do the helpful needed. Thank you.

[2021-02-02 17:59] TimothyMothra commented on #63288
@rajkumar-rangaraj @ank3it

[2021-02-02 18:00] SatishBoddu-MSFT commented on #69889
Hello @yeadubs
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @MarileeTurscak-MSFT

[2021-02-02 18:02] knicholasa commented on #68101
Hey @ThomasKur , thanks for the feedback. I'm planning to align the sample code here with what's available [on GitHub](https://github.com/Azure-Samples/ms-identity-blazor-server/blob/main/WebApp-your-API/MyOrg/README-Incremental.md), so the code I use will be based on our published samples. I think the reason they do more generic parsing rather than Graph specific classes is that we want to show a

[2021-02-02 18:03] knicholasa commented on #68101
#please-close

[2021-02-02 18:03] #68101 closed

[2021-02-02 18:03] JamesTran-MSFT commented on #69894
@codeputer
Thank you for your time and patience!

If what you're seeing on your screen doesn't match what's being covered in this article, it means that your administrator hasn't turned on this experience yet. Until this experience is turned on, you must follow the instructions and information in the [Set up my account for two-step verification](https://docs.microsoft.com/en-us/azure/active-direct

[2021-02-02 18:09] vasuthot2 opened #69902 "Adding additional example to handle applying the Lifecycle Management Policy to only include specific container"
[Enter feedback here]
It would be helpful to callout an example where we can specifically target a given container for applying Lifecycle Management policy by adding the "/" at the end of the container so the policy scoping is only restricted to the given container. Here is an example of how I have it setup and it appears to be working only for container with the name "images". This is would be he

[2021-02-02 18:12] hrasheed-msft commented on #69284
@amanjeetsingh Please let us know if the response above has resolved your question.

[2021-02-02 18:14] JamesTran-MSFT commented on #69808
@alextriaca
Thank you for your time and patience!

Because its been a day since you posted this, I just wanted to check in and see if you're still having issues with the Usage & insights tab not populating correctly?

If you have any other questions, please let me know.

[2021-02-02 18:14] JamesTran-MSFT commented on #69830
@ran-ten21
Thank you for your time and patience! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-02 18:16] JamesTran-MSFT commented on #69897
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-02 18:16] vikancha-MSFT commented on #64371
@ThomasPoppelgaard @ioan-agopian We will release an updated AMD driver by end of March that supports 1909. We plan to offer support for 2004 by end of June and then catch up to the latest OS build by end of the year. We understand this is not ideal and we will look at ways to bring some of the support in sooner.

[2021-02-02 18:24] alextriaca commented on #69808
Hi @JamesTran-MSFT thanks for following up. Unfortunately this report still isn't populating (see screenshot). It seems to be refreshing periodically by does not seem to have populated the report.

For some extra context this is a O365 developer account so all users are assigned an E5 licence so pulling the report shouldn't be an issue.

![image](https://user-images.githubusercontent.com/62382782/

[2021-02-02 18:33] kenwith commented on #69451
This seems like a really great discussion and I am happy it is captured on the Issue for this doc. If I need to make updates to the doc please go ahead and re-open this one and I will get a PR submitted. Thank you for taking the time @edmund-davis to provide feedback and engage on this discussion. I know it takes time to make the docs better and I really appreciate it.

#please-close

[2021-02-02 18:33] #69451 closed

[2021-02-02 18:34] nastassiar opened #69903 "Is it possible to download the Labels file from the Sample Labelling tool?"
I am trying to get a special label information file (\<filename\>.pdf.labels.json)

And I am confused about how best to do that. I have been using the sample website to do the majority of my testing (https://fott.azurewebsites.net/) is it possible to get the label information file from the website? Or is it required to run the docker container?

---
#### Document Details

⚠ *Do not edit this secti

[2021-02-02 18:42] mattboothman commented on #33999
Unfortunately, this is still happening. We're a training organisation that has a high turnover of Azure resources, including these. THey often go for days without deleting. Support tickets inevitably have to be raised.

Apparently their back end systems are buggy, although they won't admit it, the PG team says they end up having to manually intervene to remove them. Apparently there are alert syst

[2021-02-02 18:47] YutongTie-MSFT commented on #69903
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 18:48] nastassiar commented on #69903
Apologies, it wasn't clear to me that they would be added to the blob storage account where the training data was coming from. I figured it out! But a note might be helpful in the documentation

[2021-02-02 18:48] #69903 closed

[2021-02-02 18:48] SatishBoddu-MSFT commented on #69900
Hello @YesPrepDataCenter
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 18:50] JamesTran-MSFT commented on #69808
@alextriaca
Thank you for the quick follow up! Since this feature is still in preview, we'd like to take a closer look into your environment and issue to make sure this isn't a potential bug.

Can you please email me with the info below, and I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved

[2021-02-02 18:50] #69808 closed

[2021-02-02 18:51] heaths commented on #69864
We do have packages to support Microsoft.Spatial if you're looking to migrate existing code. See https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Microsoft.Azure.Core.Spatial/README.md for `System.Text.Json` support or https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Microsoft.Azure.Core.Spatial.NewtonsoftJson/README.md for `Newtonsoft.Json` (i.e. JSON.NET) support.

[2021-02-02 18:59] SaurabhSharma-MSFT commented on #69831
@muarif2000 I have followed the tutorial and it worked fine for me.  There could be something wrong with your ML environment. Please refer to [this](https://github.com/Azure/MachineLearningNotebooks/issues/1263) GitHub link if this helps to resolve your issue.

[2021-02-02 19:07] shashishailaj commented on #68886
@brandwe Could you please help on this one ?

[2021-02-02 19:15] SaurabhSharma-MSFT commented on #69832
@muarif2000 I am able to upload notebook into Synapse Notebooks.  Please clone "Predict NYC Taxi Tips.ipynb" repository first in your local and then try to import it.

![image](https://user-images.githubusercontent.com/38112130/106650486-d1179880-6547-11eb-97c3-ef5a4d6e239b.png)

[2021-02-02 19:16] mbiver commented on #69834
Hello, SaiKishor.  Are you sure that both IP Affinity types can be used?  My understanding is that RD Gateway requires "source IP affinity 3-tuple" because it's going to be using 2 different protocols.  TCP over 443 and UDP over 3391.

[2021-02-02 19:35] JamesTran-MSFT commented on #69897
@RonnieQuan
Thank you for your question!

When it comes to your specific question, you can find a detailed answer within our [FAQs](https://azure.microsoft.com/en-us/pricing/details/key-vault/) at the bottom of the page.
![image](https://user-images.githubusercontent.com/36619112/106652557-792e6100-654a-11eb-8894-89242d9f0640.png)

For specific Azure billing costs, I'd recommend chatting with our

[2021-02-02 19:35] #69897 closed

[2021-02-02 19:37] JamesTran-MSFT commented on #69902
@vasuthot2
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-02 19:39] AbdulGool commented on #44273
This is an extremely depressing post to find, it should REALLY be documented somewhere, or you could show a little disclaimer when selecting Linux OS

[2021-02-02 19:39] AjayKumar-MSFT commented on #69011
@davekats, Apologies for the delay! Binding expressions for **Singleton** have the same behavior as those for general input/output bindings. That is, any binding data from the trigger is available for reference.

In the case of HttpTrigger, that includes any POCO members if you’re binding to a POCO type, as well as any route parameters.
In regards to your code, _SingletonMode.Listener_ is not what

[2021-02-02 19:43] Grace-MacJones-MSFT commented on #69881
Thanks for your feedback! We will review and update this doc accordingly.

[2021-02-02 19:45] SAIMMINHAS opened #69907 "Unable to add the permissions for the 'Client application' and 'Server application' components"
'Integrate Azure Active Directory with Azure Kubernetes Service using the Azure CLI (legacy)' tutorial

Hi,

I'm following the above tutorial but stuck at the step where we need to add the permissions to both the Client and Server Applications. I'm getting an error and unable to add the permissions for the 'Client application' and 'Server application' components to use the oAuth2 communication.

!

[2021-02-02 19:47] HughDevlin commented on #44273
Please re-open pending documentation clarification. Thank you.

[2021-02-02 20:00] Khurshid9486 commented on #36210
I`m facing an exact issue with those two extensions installed by Terraform, after the "encryption" extension installed, OMS agent became unhealthy, Can you help me if you were able to address this issue? thanks.

[2021-02-02 20:01] AlexandraKemperMS commented on #69523
hi @sameer-kumar, thank you for reaching out. This is expected behavior. App Configuration supports offline caching, but only with connection strings. The work to support offline caching with managed identity is currently in progress, and not yet available. In order to use the offline cache, you will also need to create a connection string.

[2021-02-02 20:11] SatishBoddu-MSFT commented on #69895
@generateui Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-02-02 20:18] colbytimmsl commented on #69450
@rokulka is correct. I was querying the wrong App Insights resource. Closing this ticket.

[2021-02-02 20:18] #69450 closed

[2021-02-02 20:19] AjayKumar-MSFT commented on #69768
Mark, apologies for the delay! It would be from the downloaded sample. The tutorial steps works fine for me. Could you please share more info on this "but I assume there are other things I'm missing, because it doesn't work after publishing." Could you please re-try afresh (avoid duplicate/multiple entries, needs unquie name) and let us know if it is still the same problem.

The app uses a databas

[2021-02-02 20:24] SatishBoddu-MSFT commented on #69887
@cocowalla
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @NavtejSaini-MSFT

[2021-02-02 20:28] sunnynazar commented on #36210
Okay - so you basically need to wait till the encryption is finished . Please don’t login to the machine until encryption is done✅ .
Once that is successful, OMS agent extension for log analytics will also go into successful state .

only issue which can come in between is that encryption might fail in some scenarios . Please try to restart machine, remove the extension and re-apply the extension

[2021-02-02 20:30] ronitr commented on #69887
@DavidTrigano

[2021-02-02 20:51] marabgol opened #69910 "Please add Mellanox type to NC series SKU public documents (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/sizes-gpu.md)"
Please add Mellanox type to NC series SKU public documents

(https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/sizes-gpu.md)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d9e8ae-89d0-2e7e-3217-4a9443d1f36d
* Version Independent ID: 24e2d297-d334-eb25-688b-76415eb02704
* Content: [Azur

[2021-02-02 21:00] AzureAzim opened #69911 "'Run the script' section requires elevation"
One of my customers pointed out that this section requires elevation but it does not mention that requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4f35de7-bb82-83fe-786e-60a5c6923285
* Version Independent ID: 1c713868-0f3f-744b-2fab-9d278acad4db
* Content: [Discover Hyper-V VMs with Azure Migrate Server Ass

[2021-02-02 21:17] dgregoraz opened #69912 "azure-cosmosdb-spring-boot-starter mvn dependency is too old"
The dependency provided in this page has been replaced by ```azure-spring-boot-starter-cosmos``` according to Maven Repository (https://mvnrepository.com/artifact/com.microsoft.azure/azure-cosmosdb-spring-boot-starter)

It can also be replaced by ```azure-spring-data-cosmos```, since the provided one does not support Direct Mode connection.

---
#### Document Details

⚠ *Do not edit this section.

[2021-02-02 21:23] carloxsf opened #69913 "fire"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [Azure VPN Gateway: About VPN devices for connections](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices)
* C

[2021-02-02 21:24] JoshMcl opened #69914 "Spelling"
Under
**Cipher support by Azure Database for MariaDB**

The word "server" is spelled incorrectly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cf867a2-715e-aae3-2b4e-d00f24183e28
* Version Independent ID: 151f5276-41b7-ce6e-ce45-f11c9ec41109
* Content: [SSL/TLS connectivity - Azure Database for MariaDB](https://docs

[2021-02-02 21:26] #69418 closed

[2021-02-02 21:29] panabaker opened #69915 "add IoT central to this page"
This page currently says IoT Hub is a prereq but I just got here from reading an IoT Central quick start page.  Is it an alternative to IoT hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981e06fb-977c-c6a3-b5bf-23ea63b4dfe6
* Version Independent ID: 3620faaf-95d0-cdd2-e4ed-18c9e24a0bb4
* Content: [Install Azure Io

[2021-02-02 21:30] panabaker commented on #69915
oops, meant to leave page not close issue.

[2021-02-02 21:33] mjaggard opened #69916 "Instructions do not work on Big Sur"
mount_smbfs: mount error: /mnt: Unknown error: -1073741412

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2cee16-c6e9-1758-5078-aa224ee12085
* Version Independent ID: c1028f61-f7d9-a568-d01c-57d50afbc33e
* Content: [Mount Azure file share over SMB with macOS](https://docs.microsoft.com/en-us/azure/storage/files/stora

[2021-02-02 21:36] panabaker opened #69917 "More specific on what Windows Device I can use"
What are the specific requirements of the Windows device I will be installing on?  can it be a Windows Server or even an HCI deployment (using WAC afterall!)  What are the minimum system requirements or any other considerations I should have?  Can it be my own dev or email PC?  Or does it need to be a dedicated machine just for this purpose?

---
#### Document Details

⚠ *Do not edit this section.

[2021-02-02 21:39] tfitzmac commented on #69473
I have submitted an update to clarify how rollback is handled. It should get published later today.
#please-close

[2021-02-02 21:39] #69473 closed

[2021-02-02 21:40] lobrien commented on #69880
I've created a documentation workitem to address this report.

[2021-02-02 21:49] jeevansd commented on #69070
@adontz I think the document clearly calls out that the Identifier value in Azure AD should be in this format https://auth.atlassian.com/saml/<GeneratedNumber> The screenshot also shows the same.

[2021-02-02 21:50] jeevansd commented on #69070
#please-close

[2021-02-02 21:50] #69070 closed

[2021-02-02 21:50] tfitzmac commented on #68335
@sumeetmittal @malopMSFT - the portal indicates that the number of private endpoints is 65536 per region per subscription. However, the documentation states the limit is 64000 per subscription. Does the documentation need to be updated?

[2021-02-02 21:55] tfitzmac commented on #69645
#please-close

[2021-02-02 21:55] #69645 closed

[2021-02-02 22:05] amanjeetsingh commented on #69284
Thanks @arnabganguly @hrasheed-msft .

[2021-02-02 22:20] PatrickFarley commented on #69687
@ram-msft I have nothing to add. This is a product issue.

[2021-02-02 22:38] BharathNimmala-MSFT commented on #69911
@AzureAzim Thank you for bringing the customer feedback and sharing with us, We will review and update the document accordingly.

[2021-02-02 22:44] dcolebatch commented on #68631
Sorry, of course you are correct.  In DPOR, in subscriptions where we have `Owner` role, we can associate our MPN ID correctly.

In *PAL* , the error we get is: `We don't have a record for this partner ID. Verify the ID and try again.`

![portal azure com_ (1)](https://user-images.githubusercontent.com/161612/106672551-36867c00-657e-11eb-8fdf-3de6c6975f79.png)

[2021-02-02 22:56] rwike77 commented on #69186
@scarabetta Hi, thanks for the comments.  You're right that the publisherDomain example should be "{tenant}.onmicrosoft.com", I'm updating the article.

The documentation does actually state that publisherDomain is read-only, however.  So I believe the documentation is correct.

#please-close

[2021-02-02 22:56] #69186 closed

[2021-02-02 22:57] jtbatzer opened #69920 "Article may have incomplete information"
There are references to 4.8 .Net framework in the install.cmd code example but the **if** statements at lines 25-30 do not contain goto for 4.8.

There seems to be a section for :NDP48 with the correct netfxregkey decimal value.

The links in the REM statements in lines 4-10 do not download the filename expected in lines 32, 37, 42, 47, 52, 57, etc.

---
#### Document Details

⚠ *Do not edit this

[2021-02-02 22:59] ecfan commented on #69699
Hi @GergoNinacs,

Thanks for reporting this issue! We've created a backlog item and will prioritize based on other work already in the queue.

@ChaitanyaNaykodi-MSFT: #please-close

[2021-02-02 22:59] #69699 closed

[2021-02-02 23:02] SatishBoddu-MSFT commented on #69914
Hello @JoshMcl Thanks for the catch!
I have assigned the issue to the content author for further review and update the doc as appropriate.

![image](https://user-images.githubusercontent.com/62923178/106673900-3af36a80-6567-11eb-89fa-966a93dc7847.png)

[2021-02-02 23:04] RonyMSFT commented on #67831
#please-close

[2021-02-02 23:04] #67831 closed

[2021-02-02 23:09] ecfan commented on #69829
Hi @vishalchitrala2020,

For the step, "Send yourself an email request to join your mailing list. Wait for the request to appear in your inbox.", you can use any email program to send the request to join the MailChimp mailing list, provided that you send that request to your Outlook email account. When the request arrives in your Outlook inbox, the trigger in your logic app should fire and send yo

[2021-02-02 23:14] naiteeks commented on #69599
fixing with https://github.com/MicrosoftDocs/azure-docs-pr/pull/145353

[2021-02-02 23:15] naiteeks commented on #69599
good to close once the above PR is merged.

[2021-02-02 23:19] rbavery opened #69921 "Give examples for moving data between a GCS bucket and Blob storage with azcopy or the azure cli"
There are no examples and I'm not sure what to do with the JSON that is pasted into the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521d3279-cc0e-d002-c0d6-2cd367322fde
* Version Independent ID: 06f8d134-ce4f-1667-bf37-bf9359a09ad0
* Content: [Copy data from Google Cloud Storage by using Azure Data Factory - A

[2021-02-02 23:33] SatishBoddu-MSFT commented on #69915
Hello @panabaker Thanks for reaching out to us,
 We wanted to know the first tutorial which you have started with, IoT Central ?, could you please let us know which **doc/tutorial you have started** so that we better understand this issue.

[2021-02-02 23:33] vlkuznet opened #69922 "Leftover references to old Functions Portal?"
There are a couple references in this document to "the Function state switch on the Manage tab".

I don't see those elements present in the Functions Portal at the moment, but they sound like something from the "Classic" portal.

Should this page be updated accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b

[2021-02-02 23:36] ecfan commented on #69849
Hi @nonodename,

Thanks for finding this issue! I've queued up an update to fix the problem.

[2021-02-02 23:40] SatishBoddu-MSFT commented on #69917
Hello @panabaker Thanks for the query!.

The [Prerequisites ](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-on-windows?view=iotedge-2018-06&tabs=windowsadmincenter#prerequisites)section gives the basic information on the Windows device requirements as stated.

![image](https://user-images.githubusercontent.com/62923178/106677012-cc191000-656c-11eb-839c-805772ee0d08.png)

[2021-02-02 23:42] SatishBoddu-MSFT commented on #69910
Hello @marabgol Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-02-02 23:47] spelluru commented on #69702
@blueelvis - Thanks for reporting the issue. I have added a note about the limitation.
https://docs.microsoft.com/en-us/azure/event-grid/custom-event-to-queue-storage#clean-up-resources

#please-close

[2021-02-02 23:47] #69702 closed

[2021-02-02 23:51] #69849 closed

[2021-02-02 23:56] ecfan commented on #69849
@nonodename, the update should be live Wed morning 11:00 AM Pacific Time.

[2021-02-02 23:58] ecfan commented on #69829
I'll close this issue for now as I've provided an explanation. Feel free to reopen or comment if you have more questions about this specific issue.

@ChaitanyaNaykodi-MSFT: #please-close

[2021-02-02 23:58] #69829 closed

[2021-02-03 00:12] SaurabhSharma-MSFT commented on #69921
@rbavery Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-03 00:17] panabaker commented on #69915
rangv/AzureIoTCentralEFlow (github.com)<https://github.com/rangv/AzureIoTCentralEFlow>

From: SatishBoddu <notifications@github.com>
Sent: Tuesday, February 2, 2021 3:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ruston Panabaker <rustonp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] add IoT central to this page (#69915)

Hell

[2021-02-03 00:20] Xiaowei-design opened #69924 "Miss-leading screenshot"
The screenshot of "Create Output" panel is miss-leading with the "If true, creates the Cosmos DB database and collection" toggle turned to "No". It should be "Yes" to align with the text instructions. This is not just outdated design but wrong information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939101cd-9c92-ed

[2021-02-03 00:25] rboucher commented on #69667
#reassign @JasonFreeberg

[2021-02-03 00:26] SatishBoddu-MSFT commented on #69915
@panabaker I think you have read the last section and navigated to here, right?

[Install and provision Azure IoT Edge for Linux on a Windows device](https://github.com/rangv/AzureIoTCentralEFlow#install-and-provision-azure-iot-edge-for-linux-on-a-windows-device)

[2021-02-03 00:38] SatishBoddu-MSFT commented on #69888
Hello @tigerdeccan Thanks for the great suggestion!
I have assigned the issue to the content author for further review.

[2021-02-03 00:40] JamesTran-MSFT commented on #69916
@mjaggard
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-03 00:40] SatishBoddu-MSFT commented on #69907
Hello @SAIMMINHAS
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @TravisCragg-MSFT

[2021-02-03 01:07] NavtejSaini-MSFT commented on #69723
@sasedlock Link is added. We are going ahead and closing this request for now.
@zxue Thanks for making the change.

[2021-02-03 01:07] #69723 closed

[2021-02-03 01:10] NavtejSaini-MSFT commented on #69810
Thank you @MashaMSFT for raising the PR for this. We will track this for approval and closure.

[2021-02-03 01:14] NavtejSaini-MSFT commented on #69819
@yegu-ms Please check this and confirm if we can make this change.

[2021-02-03 01:14] msftradford commented on #69824
Hey @dylan-fox, thanks for reaching out! We'll be happy to help get to the bottom of this. I've filed an internal issue (#31582717) to help keep track of our investigation. Have you been able to run the [Unity ASA Sample](https://github.com/Azure/azure-spatial-anchors-samples) app? Have you checked the [prerequisite settings](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-s

[2021-02-03 01:15] NavtejSaini-MSFT commented on #69887
@DavidTrigano Please check the document and let us know if we need to make a change.

[2021-02-03 01:17] PradeepKiruvale commented on #69882
I did refer to this https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-mqtt-support#connecting-to-dps

[2021-02-03 01:21] MonikaReddy-MSFT commented on #69912
@dgregoraz -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-03 01:43] vishalchitrala2020 commented on #69829
Sure . Thank you.

On Tue, Feb 2, 2021 at 5:58 PM PRMerger20 <notifications@github.com> wrote:

--

*Thanks and RegardsVishalMCTS (SSIS,SSAS,SSRS) & MS-Azure*

[2021-02-03 01:45] rwike77 commented on #69248
@bachoang Thanks, you're right.  I've updated the article.  #please-close

[2021-02-03 01:45] #69248 closed

[2021-02-03 02:34] rsrk2008 opened #69927 "Relationship between account and subscription"
My understanding is an account can own multiple subscriptions
 but my question is A subscription can be owned by exactly one account or Multiple accounts ?
some one please clarify

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d1218

[2021-02-03 02:35] sameer-kumar commented on #69523
Thanks @AlexandraKemperMS for following up. I think this is a bug and not thought through while designing. At one side you recommend to use MSI and at the same time you deprive enterprise from such a key functionality. I strongly believe and request you should put this in your priority backlog.

[2021-02-03 03:17] SatishBoddu-MSFT commented on #69915
Hello @panabaker Thanks for the feedback!.

We have added the below note which clears the confusion. I hope this helps to resolve your query!

![image](https://user-images.githubusercontent.com/62923178/106693313-0beef000-658b-11eb-8f5c-8c58be78f2d7.png)

Please let us know if you need further help in this matter.

[2021-02-03 03:22] amanjeetsingh opened #69928 "Typograhical error - SQL MI Hyperscale IOPS "chunks""
** Typographical error**
Chunks misspelt as "chucks"

40 GB. A Hyperscale database is created with a starting size of 10 GB. Then, it starts growing by 10 GB every 10 minutes, until it reaches the size of 40 GB. Each of these 10 GB **chucks** is allocated in a different page server in order to provide more IOPS and higher I/O parallelism. Because of this optimization, even if you choose initial da

[2021-02-03 03:24] benjamincburns commented on #69473
Thanks for the swift reply @tfitzmac. By any chance can you please advise where I can provide feedback to the ARM team to encourage them to build a proper rollback mechanism?

[2021-02-03 03:51] msmarkma commented on #69768
I walked through the tutorial twice before filing the bug.  I get to step 3 under "create a database...".  I press finish to publish to Azure.  I get the error described above.  Removed all of the Azure resources between attempts - are there other files I should delete/restore as well?

The tutorial specifically references that the connection string value will get pushed to Azure App Settings.  Th

[2021-02-03 04:00] AnuragSharma-MSFT commented on #69642
@pbakhil We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-03 04:00] #69642 closed

[2021-02-03 04:01] AnuragSharma-MSFT commented on #69928
@amanjeetsingh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-03 04:11] AjayKumar-MSFT commented on #69854
Chandra, Thanks for leveraging Azure docs feedback channel to raise this question and follow-up with an update. Much appreciated.

[2021-02-03 04:20] CHEEKATLAPRADEEP-MSFT commented on #69476
@spwangxp  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-03 04:20] #69476 closed

[2021-02-03 04:40] benjamincburns commented on #69473
On further inspection, it seems like feedback.azure.com is the place to go? I went ahead and created [this "idea"](https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/42609802-fix-the-current-dangerous-rollback-feature-to-actu), but I'd appreciate being pointed in the direction of any other channels that might be available to raise this concern, as it doesn't appear that is

[2021-02-03 04:53] SnehaAgrawal-MSFT commented on #69795
@Dolphinsimon Thanks again for the feedback! Could you please elaborate your query or share screenshot to help you better on this.

[2021-02-03 04:58] SubhashVasarapu-MSFT commented on #69615
@iranogajec, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-03 04:58] #69615 closed

[2021-02-03 05:05] AshokPeddakotla-MSFT commented on #69635
@ash2017 Do you have any further suggestions on this query?

[2021-02-03 05:15] MyTestingAccountThatIUse commented on #69846
So after doing more testing, I have found there is an output limit on the "Get-AzureADMSAdministrativeUnitMember" command.

I had to use the "-All $true" to include all items, else it only showed members, not groups.

This code appears to work to show all groups within an Administrative Unit:
-----
$administrativeunitObj = Get-AzureADMSAdministrativeUnit -Filter "displayname eq 'Test administrativ

[2021-02-03 05:16] MyTestingAccountThatIUse commented on #69846
And sorry, I'm not sure how to stop the format from messing up...

[2021-02-03 05:26] YutongTie-MSFT commented on #69709
@tomconte Thanks for the confirmation. I will temporary close this and please let me know if you still have any blocker.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-02-03 05:26] #69709 closed

[2021-02-03 05:34] pantanuj opened #69931 "Add Application to FHIR Role step missing?"
[Enter feedback here]

The steps to test the Get Patient via API returns unauthorized after following all the steps to add the app registration and grant the API permissions.

Once the App is granted any FHIR Role (Reader / Writer) via the Access control/ RBAC on the FHIR service, the call succeeds.

I believe this step is missing in the tutorial and should be added for clarity.
---
#### Document

[2021-02-03 05:40] tacowan opened #69932 "mention npm install in article"
unmentioned in article, "% npm install" must be run once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a5e15a6-3890-28e0-543d-d6691718e535
* Version Independent ID: da9d32dc-2af4-5950-1b09-d0470d1977e5
* Content: [Use web app - Personalizer - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive

[2021-02-03 05:42] KalyanChanumolu-MSFT commented on #69747
@pavel242242 I have created an [issue](https://github.com/Azure/azure-powershell/issues/14107) on azure-powershell repo with the stack trace.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-03 05:42] #69747 closed

[2021-02-03 05:45] Dolphinsimon commented on #69795
![InkedScreenshot 2021-02-03 133250](https://user-images.githubusercontent.com/4425053/106703443-33929680-6625-11eb-8b76-8c88c0dd5616.jpg)
![Screenshot 2021-02-03 133519](https://user-images.githubusercontent.com/4425053/106703459-3b523b00-6625-11eb-84a4-ba742e5f5039.png)

I have attached my screenshot pics above. The first is the application setting the name is cloud.url, we will load it in our a

[2021-02-03 06:04] jasonhorner opened #69933 "need a example of referencing a workspace wheel from a notebook"
This show us how to upload a workspace wheel but an example of using the wheel from a notebook would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4fb25af-9670-9ddc-71cb-f6e946692ee2
* Version Independent ID: 3395f844-a185-a9c8-cdc5-d8800ebdae9a
* Content: [Workspace libraries - Azure Databricks - Workspac

[2021-02-03 06:05] AnuragSharma-MSFT commented on #69931
@pantanuj Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-03 06:10] AnuragSharma-MSFT commented on #69790
@rarandiv Marking it as duplicate of [#69800](https://github.com/MicrosoftDocs/azure-docs/issues/69800) and closing it. We can follow up the updates on other thread.

[2021-02-03 06:12] psmanhas commented on #69180
@gix111 I have enabled one time free support for you.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-03 06:12] #69180 closed

[2021-02-03 06:13] AnuragSharma-MSFT commented on #69800
@rarandiv You have rightly pointed out the statement is mentioned in the article for longer running transactions. I am assigning it to the content author to evaluate and update as appropriate.

[2021-02-03 06:16] SubhashVasarapu-MSFT commented on #69728
@HemantG25, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-03 06:16] #69728 closed

[2021-02-03 06:18] psmanhas commented on #69920
@jtbatzer Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-03 06:19] psmanhas commented on #69920
@tanmaygore Can you please check and add your comments on this doc update request as applicable.

[2021-02-03 06:19] rarandiv commented on #69790
Nope this is not duplicate. This feedback request is for Azure SQL Managed Instance and #69800 is for Azure SQL DB. Both the documents needs to be updated.

[2021-02-03 06:24] AnuragSharma-MSFT commented on #69790
@rarandiv My bad. Missed from me. Thanks for pointing it out. This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-03 06:25] DavidTrigano commented on #69887
Hello @cocowalla,

Thank you for your feedback. As explained in the error message, you have to provide one of the fields **blob-storage-target-state**, **log-analytics-target-state** or **event-hub-target-state**. In your case, it seems like you need to add **--blob-storage-target-state  Enabled**. We will update the documentation to surface this.

Let us know if you need any additional informatio

[2021-02-03 06:29] BharathNimmala-MSFT commented on #69778
@ErikMogensen As part of troubleshooting, wanted to check one other thing with you. Have you or any one from your team owning the subscription happen to raise a support ticket in the recent past with Microsoft to increase the scale units  ? Thanks

![api](https://user-images.githubusercontent.com/45180002/106707270-cb50a000-65a5-11eb-8995-17c09ab7996e.png)

[2021-02-03 06:41] ram-msft commented on #69687
@nzigel We have forwarded to the product team to check this internally .
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-03 06:41] #69687 closed

[2021-02-03 06:54] markmassad commented on #65667
I see references that policy exemptions can only be created with REST API.  However, looking at the ARM JSON with the t resourceIsNotApplicable example, it give the illusion that the exemption can be added to existing resources via ARM.  Is this not yet the case?

[2021-02-03 06:59] #69766 closed

[2021-02-03 07:38] xuegao0112 opened #69935 "The frequency of the configuration data does not match my setting"
I followed the document and set up the Inventory frequency as 5 mins.
But I found the ConfigurationData table can't retrieve and update the logs every 5 mins.
Is this an expected symptom or not?
Per my understanding, it should have windows services sent to **ConfigurationData** table every 5 mins.
Please help clarify it,

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-02-03 07:44] MayankBargali-MSFT commented on #69922
@vlkuznet Thank you for your feedback! We will review and update as appropriate.

[2021-02-03 07:54] MayankBargali-MSFT commented on #69922
@vlkuznet The function's manage tab means when you navigate to the individual function (not to the function app resource) you will see different operations you can perform on your function.

![image](https://user-images.githubusercontent.com/67255909/106715065-abab8d00-6622-11eb-85e1-9a7c666b2a0e.png)

[2021-02-03 07:59] MayankBargali-MSFT commented on #69924
@Xiaowei-design Thank you for your feedback! We will review and update as appropriate.

[2021-02-03 08:03] CHEEKATLAPRADEEP-MSFT commented on #69933
@jasonhorner  Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

[2021-02-03 08:24] mayoneka opened #69938 "Please remove "Remove-AzVirtualNetworkGatewayConnection" step from "To modify local network gateway IP address prefixes - existing gateway connection" section."
Hi teams.

In my understanding, we don't need to delete existing connection resouces when we modigy local network gateway settings for now.
REF : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-modify-local-network-gateway-portal

But this page still says that we need to remove it.

Could you please check if we need to do it?
If no need, please remove this step from this section.

-

[2021-02-03 08:32] SadiqhAhmed-MSFT commented on #69804
@k7faq Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-02-03 08:45] #69631 closed

[2021-02-03 09:09] shiweizhang0529 opened #69940 "Wrong python script"
The python script part is clearly wrong. Inside the code, "BlockBlobService" is clearly not defined, we should replace it with "BlobServiceClient". Please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894562e1-2c07-2f75-b420-d843262a7f07
* Version Independent ID: 1b1fa915-19f0-653c-04d5-218ed4335398
* Content:

[2021-02-03 09:12] dcurwin commented on #69061
@herman5006 - We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

#please-close

[2021-02-03 09:12] #69061 closed

[2021-02-03 09:13] biltongza opened #69941 "Migration from v11 to v12"
What are the steps to migrate from v11 to v12 specifically in regards to encryption? We are currently using the RequireEncryption mode of v11, is there no equivalent on v12? Are there any plans to bring this across? How do I know which key wrap algorithm to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5

[2021-02-03 09:27] ram-msft commented on #69784
@eyast Thanks for the feedback. Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/145417  request to remove "Environment" that is not used in the script.

[2021-02-03 09:34] AntonioNH opened #69942 "Private Endpoints in App Service Deployment Slots"
Hello :) Are private endpoints with app service not supported? Are they on the roadmap? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b966-4c9a-01e0718d0bcb
* Content: [Connect privately to an Azure Web App using  Private Endpoint]

[2021-02-03 09:37] ram-msft commented on #69833
@eyast Thanks for the feedback. Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/145419 for model name update.

[2021-02-03 10:05] AnuragSharma-MSFT commented on #69866
@Vayth Reason N/A is mentioned because these parameters are not configurable for basic tier and they are mostly set to their default value. As an example as per the [article](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html), the default value for '**_join_buffer_size_**' is '262144' bytes. If we run the below query for mySQL we get the same value. Same with other parameters.

[2021-02-03 10:14] e14mattc commented on #19456
Absolutely.. we're hitting issues with this & temporarily adding the IP to the firewall isn't working (not 100% sure why). It's a blocker when dealing with storage accounts in a vnet secured with a firewall :(

[2021-02-03 10:17] nawijesi commented on #51224
This problem was caused because the storage account file shares password had expired for me in AD. https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-update-password The command here failed to work but removing the object from AD and rejoining using the Join command in AzFilesHybrid worked fine and was able to mount correctly.

Steps - used

Update-AzStorageAccountAD

[2021-02-03 10:18] SnehaAgrawal-MSFT commented on #69841
@gregveres Thanks again for the feedback! You may want to refer to below document link might be helpful. https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs

Please let us know if you have query on this.

[2021-02-03 10:24] SnehaAgrawal-MSFT commented on #69942
@AntonioNH Thanks for the feedback! could you please share the document you are referring to help you better on this.

[2021-02-03 10:29] psmanhas commented on #69940
@pkshultz Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-03 10:30] psmanhas commented on #69940
@shiweizhang0529 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-03 10:30] psmanhas commented on #69940
@pkshultz Can you please check and add your comments on this doc update request as applicable

[2021-02-03 10:30] stingster opened #69943 "Object replication's overview misses description of the Recovery point objective (RPO)"
- Object replication
- https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-overview

We have the next case (LRS + OR):
•	Primary and secondary up.
•	Secondary goes down.
•	Blob deposited to the primary.
•	ABS can’t replicate to secondary because it’s down.
•	Secondary comes back up.

What is the recovery point objective in this situation? What if instead of blob deposit we have

[2021-02-03 10:37] AntonioNH commented on #69942
Hello @SnehaAgrawal-MSFT, the document is https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/networking/private-endpoint.md

[2021-02-03 10:41] SnehaAgrawal-MSFT commented on #69843
@lipalath-ms  Thanks for asking question! As mentioned in the below document 2015-05-01-preview indicate the API Versions. https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2015-05-01-preview/servers/keys

[2021-02-03 10:50] ovidiubechesamplexor opened #69944 "Special characters, more specific French accents are not displayed properly in recommended flows page layouts"
Hello

We noticed French default labels are not displayed correct in recommended user flows page layouts, but are displayed ok in standard ones only.

Thank you,

Ovidiu
![ADB2C French](https://user-images.githubusercontent.com/64836211/106736576-4bb2e780-661e-11eb-9fd1-1b285db06844.png)

[2021-02-03 11:06] maltalex opened #69946 "Update AKS documentation with Let's Encrypt to cert-manager v1.1"
The document uses cert-manager 0.16.1 while 1.1.x is GA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create ingress with automatic TLS - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/

[2021-02-03 11:26] mtowse opened #69947 "Publishing Synapse Default Linked Service Naming Convention"
When you create a new instance of Synapse the instance automatically creates and names 2 linked services using the Synapse instance name in the linked services name i.e. *instancename*-WorkspaceDefaultStorage and *instancename*-WorkspaceDefaultSqlServer (DevSynapseInstance-WorkspaceDefaultStorage, DevSynapseInstance-WorkspaceDefaultSqlServer) .  From what I can see this cannot be changed, and isn'

[2021-02-03 11:30] MayankBargali-MSFT commented on #69924
@Xiaowei-design The default value is "No" for "If true, creates the Cosmos DB database and collection" field therefore in the screenshot you will see the value as No.

Under the setting details, the suggested value is "Yes" so if the collection is not already created it creates you but it depends upon the scenario if the customer wants to choose this value as Yes or No.

Hope the above clears thin

[2021-02-03 11:38] Tareksa876 opened #69948 "Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2fff1e
* Content: [Organize your resources with management groups - Azure Governance - Azure governance](https://docs.microsoft.com/en-us/azure/governance/man

[2021-02-03 11:42] hrasheed-msft commented on #69284
#please-close

[2021-02-03 11:42] cocowalla commented on #69887
@DavidTrigano I didn't mean to imply it wasn't clear from the error message how to fix it (it is 😄), only that the docs should be updated to not include broken commands.

[2021-02-03 11:42] #69284 closed

[2021-02-03 11:49] #69281 closed

[2021-02-03 11:53] iricigor opened #69949 ""no-zone" vs "zone 1" vs "zone redundant""
[Enter feedback here]

I got to this page while creating Public IP address. Though I do have understanding on zoning in Azure datacenters, I was confused by three options while creating public IP (PIP) address resource, PIP can be:
- **"Zone Redundant"** - i.e. provisioned/replicated in all three zones
- **"Zone Specific"** - provisioned in exactly 1 zone
- **"No Zone"** - ???

I did not find expl

[2021-02-03 12:12] wiseleaf23 opened #69950 "Link to "Test Device Registration Connectivity script" broken"
Link to "Test Device Registration Connectivity script" seems broken, this will land you on the homepage of Code Samples on Docs. Script is not to be found in this gallery. This is/was a useful script, I hope this becomes available again :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9

[2021-02-03 12:23] ssivas commented on #69950
Hello @wiseleaf23,  Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-03 12:39] pramodkumarhk opened #69952 "Copy-Paste error"
In the example 2 under generateJson,I see the below two lines

objectId, transformation claim type customerEntity.firstName "John"
objectId, transformation claim type customerEntity.lastName "Smith"

It should be changed as below

givenName, transformation claim type customerEntity.firstName "John"
surname, transformation claim type customerEntity.lastName "Smith"

---
#### Document Details

⚠ *Do

[2021-02-03 12:43] mtwelve opened #69953 "How can we configure a retention period for the Boot Diagnostics logs?"
How can we configure a retention period for the Boot Diagnostics logs?

When this was an Unmanaged Storage Account we had to use external means to purge logs files that were no longer required on the Storage Account, Tables Storage in particular, would grow indefinitely.

If we use a Managed Storage Account and this isn't exposed in the Azure Portal how can we manage what it is storing/how long fi

[2021-02-03 13:02] DCtheGeek commented on #65667
It's been added since that original comment, yes.  You can see the structure for **policyExemptions** in Azure Resource Manager templates here: https://docs.microsoft.com/azure/templates/microsoft.authorization/policyexemptions

[2021-02-03 13:04] jhueppauff opened #69955 "Please explain more the parameters"
I am missing descriptions about the parameters.

E.g. what kind of values can we pass to the workload parameter and when should we use something else than Production?
What is the Aliasname in comparison with the subscription name? Can it be the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d73f3e0-d3d3-eca9-483

[2021-02-03 13:27] rasmus-s commented on #69864
@heaths  thanks for the quick reply and I can confirm that its working with the Ms.Azure.Core.Spatial.NewtonsoftJson libs.
I suggest that MS will update the migration docs to help other.
Feel free to close this issue.

[2021-02-03 13:30] Ericgre commented on #69942
Hello, not sure to understand your question, could you please elaborate?

[2021-02-03 13:32] v-lyivan opened #69957 "Transaction Search Time Range Limitations"
Have an App Insights resource which has 730 days of data retention.
And I noticed in the Transaction Search the time range is limited to 90 days only.
![image](https://user-images.githubusercontent.com/71321833/106753810-d7377300-6634-11eb-8e64-c0c060d8577b.png)
And as per the [limit summery ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing#limits-summary) it should match the data

[2021-02-03 13:48] tigerdeccan opened #69958 "Usage Metric is not accurate - It is missing some metrics"
[Enter feedback here]
Data Point Volume and Data point count is missing in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a068dd32-fbd4-15e7-16d1-31a35436576e
* Version Independent ID: 3a0d0b4e-5f9a-f5ac-8a97-dfda9d09c581
* Content: [Azure Application Insights log-based metrics - Azure Monitor](https:

[2021-02-03 13:50] MonikaReddy-MSFT commented on #69946
@maltalex -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-03 13:52] MonikaReddy-MSFT commented on #69953
@mtwelve -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-03 13:56] bgausden commented on #69392
I have other things to do. I'll retest this when time allows. I know you want to make your metrics but ffs you need to reconsider how you handle these reports. I'd never accept this type of issue management in my own teams.

[2021-02-03 13:58] zsybupt commented on #68889
@akucer, as you suggested, we have decided to use v3 media service for encoding videos, and I have some questions about the v3 service:
1. Azure Media Service Pricing: The pricing document seems talks about v2 pricing: https://azure.microsoft.com/en-us/pricing/details/media-services/. Does v3 service has the same price of encoder, and because v2 service can set mru, so we have to set a suitable mr

[2021-02-03 14:12] makatayaMSFT commented on #69293
I faced the same issue with  Az.Storage 3.2.1.
Besides, based on the document below, Add-AzStorageAccountNetworkRule cmdlet doesn't have "-TenantID" option.
https://docs.microsoft.com/en-us/powershell/module/az.storage/add-azstorageaccountnetworkrule?view=azps-5.4.0

[2021-02-03 14:15] injosef opened #69959 "Just a minor spelling-thing this."
The text:
"enabling you to grant permissions to a directly to a specific playbook"
Is probably intended to read "enabling you to grant permissions directly to a specific playbook "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95a6bcf5-2399-cbdf-aed4-12fd4a3fd887
* Version Independent ID: 2dc6c43b-20af-5169-71ef-f89af

[2021-02-03 14:15] KrishnaG-MSFT commented on #69935
@xuegao0112 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-03 14:20] nonodename commented on #69849
Great - thanks for working through this.

[2021-02-03 14:20] SwathiDhanwada-MSFT commented on #69957
@v-lyivan Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-03 14:21] SwathiDhanwada-MSFT commented on #69958
@tigerdeccan Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-03 14:22] KrishnaG-MSFT commented on #69948
@Tareksa876 Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you elaborate what your feedback regarding this document is?

If you need help in resolving a product related

[2021-02-03 14:29] tigerdeccan commented on #69958
Thanks - Also if you can expand on filters so that we can narrow down usage on which app is using how much volume would be great.

[2021-02-03 14:31] miqm opened #69960 "API Management OAuth 2.0 availability on Consumption tier"
The note on top of the page suggests, that this feature is not available on consumption tier.

However, in Azure Portal this feature is available and can be set up.

![image](https://user-images.githubusercontent.com/7921224/106761061-bd962b80-6634-11eb-943e-23b0a015fbc2.png)

Which one is it? Doc is worng or portal exposes things that shouldn't? Of course developer portal is not accessible, but O

[2021-02-03 14:47] shashishailaj commented on #69927
@rsrk2008 Thank you for your feedback . We will investigate and update the thread.

[2021-02-03 14:47] RonMontU opened #69961 "More screenshots!"
It'd be great to see some screenshots that walk a buyer through the purchasing experience and how the view differs from a traditional purchase. The article makes reference to invoicing, so it is not clear to me if the expectation is to treat the purchase as an invoicing procurement or if there's a special "Azure credits" option the customer can select to use the MACC program.

---
#### Document De

[2021-02-03 14:48] shashishailaj commented on #69959
@injosef Thank you for your feedback . We will investigate and update the thread.

[2021-02-03 14:50] shashishailaj commented on #69952
@pramodkumarhk Thank you for your inputs . We will have this reviewed with content authors and update

[2021-02-03 15:15] dimitri-furman commented on #69928
Fixed by #145441.

[2021-02-03 15:17] Shademan opened #69962 "Retrieve Key Vault Secret in Data Factory Pipeline (key vault is already a linked service)"
I need to retrieve a key vault secret for a parametrized http request, which I am doing in a pipeline.
My key vault is already a linked service in the data factory.
Since we are using three different environments, the key vault changes from environment to environment, so i cant know the precise URL of the keyvault in my pipeline, and hence i cant use a web activity to retrieve the secret.

It woul

[2021-02-03 15:22] SergeMoreno opened #69963 "No lineage detected"
I scanned a single AZURE SQL database.
The database contains many internal schemas and many tables.
There are dimensions and fact table where foreign keys are used.
There is also a complete logic from Extract tables, over transform table to end up with tables that are proposed to the enduser.

The scan which was limited to a number of internal schemas and table finally got more than 500 table scan

[2021-02-03 15:27] dcross-msft opened #69964 "Contributor status"
Hello, I see that my edits have been incorporated into this site but I'm not listed as a contributor. Can you update this?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords -

[2021-02-03 15:29] rsrk2008 commented on #69766
Can someone answer to the question posted

On Wed, Feb 3, 2021 at 12:59 AM KrishnaG-MSFT <notifications@github.com>
wrote:

--
Thanks & Regards
Siva

[2021-02-03 15:32] ram-msft commented on #69932
@tacowan Thanks for the feedback! We will review and update accordingly.

[2021-02-03 15:33] binnum opened #69965 "Add Code Examples of how this can be done in bulk"
Could you please provide information on how to add users to Azure AD "Priveliged Access Groups" using code.
How to add user: "John Doe" as an Eligable Member for Priveliged Access Group "mygroup" using code.

Very useful when switching to using Priveliged Access Groups for previously permanently assigned roles for a larger amount of users.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-02-03 15:39] lilylovesyou opened #69966 "Image Demonstrating Data Preview Includes "Objectionable" Data Row"
This is probably a really odd submission... I was reading through the tutorial and when I reached Step 8 of "Build transformation logic in the data flow canvas", when I noted with shock that the list of movies included in the sample data included "Birth of a Nation, the". This is a rather infamous white supremacist film in the USA, so it was rather upsetting to see in an otherwise innocuous contex

[2021-02-03 15:57] maxstefaniv opened #69968 "Issue (or minor inconvenience)"
Hello to whom it could concern,
I experimented an issue (totally my fault) to make an Raspberry Pi3 into an Edge Device as stated in [documentation](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06): software version required is Raspberry Pi OS Stretch.
That is a little bit older version of software, the latest raspberry software will give issues running

[2021-02-03 16:00] vlkuznet commented on #69922
Okay, that was a bit unclear, but it makes sense.

How about the "Function State Switch"? I certainly see the enable/disable buttons in your screenshot, but nothing resembling a switch in the UI.

[2021-02-03 16:02] timsander1 commented on #69756
The updates should go live later today

#please-close

[2021-02-03 16:02] #69756 closed

[2021-02-03 16:03] SaurabhSharma-MSFT commented on #69947
@mtowse Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-03 16:06] SaurabhSharma-MSFT commented on #69966
@lilylovesyou Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-02-03 16:07] asudbring commented on #58873
article has been updated.

#please-close

[2021-02-03 16:11] YesPrepDataCenter commented on #69900
I also get the error when im trying to create a new credential.

[2021-02-03 16:17] tomconte commented on #69709
@YutongTie-MSFT @shivanissambare FYI I have opened support request ID 121020321002599

[2021-02-03 16:20] JayaChatterjee-MSFT commented on #69392
Hello @bgausden, I agree that we couldn't conclude the issue properly but as I mentioned in my previous comment that we will continue working on this once you are available. However, upon further discussion with the core team, I can confirm that this is not possible at the moment with Free SKU. I will update the document and that will be linked to this thread as well. If there is any development r

[2021-02-03 16:23] JamesTran-MSFT commented on #69964
@dcross-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-03 16:24] JamesTran-MSFT commented on #69965
@binnum
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-03 16:40] jasonhorner commented on #69933
FYI here is what i came up with:

%sh
/databricks/python/bin/pip install /dbfs/FileStore/jars/f0095eea_90b6_4385_9d49_33ac23aa4de5/foo-py3-none-any.whl

[2021-02-03 16:50] MashaMSFT commented on #69810
Hi @ais-rmn thanks for noticing we hadn't updated the supportability on this article! I've processed a brief change that mentions it's now available instead. This should be live later today.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from

[2021-02-03 16:50] #69810 closed

[2021-02-03 16:52] SaiKishor-MSFT commented on #69938
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-03 16:52] SatishBoddu-MSFT commented on #69944
Hello @ovidiubechesamplexor Could you please let us know the exact MS Document Link which you have referred in this matter? I need to add metadata for this issue before we triage it. Thanks for your understanding.

[2021-02-03 16:56] MayankBargali-MSFT commented on #69666
@craigshoemaker Appreciates if you can provide your input on this.

[2021-02-03 16:57] Gassela opened #69971 "Is this page up-to-dated with Azure roles and RBAC visible in the portal?"
[Enter feedback here]
I did some checks between what this page reports and what I can see at https://portal.azure.com/ under Access Control (IAM).
Could you align it with what we see in the portal? The risk to have misleading information from an authoritative source as docs.microsoft.com is very high.

I attached a table for helping you; let me know when I will see all role and RBACs in this page.

[2021-02-03 16:57] SatishBoddu-MSFT commented on #69949
@iricigor Thanks for your feedback
I have assigned the issue to the content author for further review.

[2021-02-03 16:58] ChaitanyaNaykodi-MSFT commented on #69960
Hello @miqm,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-03 17:01] SatishBoddu-MSFT commented on #69962
Hello @Shademan Could you please let us know the exact MS Document link which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

[2021-02-03 17:06] SatishBoddu-MSFT commented on #69943
@stingster Thanks for the feedback!
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-03 17:06] VikasPullagura-MSFT commented on #64371
@ioan-agopian @ThomasPoppelgaard
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-03 17:06] #64371 closed

[2021-02-03 17:09] SatishBoddu-MSFT commented on #69963
Hello @SergeMoreno
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @KranthiPakala-MSFT @MartinJaffer-MSFT

[2021-02-03 17:11] VikasPullagura-MSFT commented on #69538
@khetheri Can you please share the full error message along with the cli command as requested.

[2021-02-03 17:12] BharathNimmala-MSFT commented on #69836
@gadvenamdev Since we have not heard back from you we will close this thread for now . Please tag us in your reply with additional information on the feedback you have on the documentation side of things. We will gladly reopen the issue and continue the discussion.

[2021-02-03 17:12] #69836 closed

[2021-02-03 17:23] ChaitanyaNaykodi-MSFT commented on #69849
Hello @ecfan, Thank you for working on this!

[2021-02-03 17:24] dereklegenzoff commented on #69864
Thanks @rasmus-s - I'm glad that solution is working for you and we appreciate the feedback. I'll update the migration doc to mention the links above.

[2021-02-03 17:24] ChaitanyaNaykodi-MSFT commented on #69702
Thank you @spelluru

[2021-02-03 17:45] MisinformedDNA commented on #69271
@jlichwa Maybe I'm being too pedantic, but the instructions say "Name the group akvrotation", not "Give the group a name". If the instructions are followed exactly, which is generally how MS tutorials need to be followed, then the developer will experience resource name conflicts with other developers who have also followed the instructions exactly.

That's why I recommend we explicitly say that t

[2021-02-03 17:46] asudbring commented on #18651
Article has been updated.

#please-close

[2021-02-03 17:46] #18651 closed

[2021-02-03 18:11] jlichwa commented on #69271
Tutorial is for testing purpose usually to follow an example, so team can see how it works, not sure why you will see duplicate testing across developers within same group/subscription.
You can probably have the same issue to hundreds of tutorials/quickstarts across entire Azure where they explicitly say type a name :
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-por