[2020-03-17 22:49] MarileeTurscak-MSFT commented on #50351
Thanks! I made a pull request to fix this. :)

https://github.com/MicrosoftDocs/azure-docs-pr/pull/108080

[2020-03-17 22:49] #50351 closed

[2020-03-17 23:06] mihsoft opened #50365 "Peered VNET routes not automatically added to VPN Client"
In the Multiple peered VNets it appears to suggest the following:
VNET1 and VNET2 have peering with "Use Remote Gateways" and "Gateway Transit"
It then says VNET1 is peered with VNET4 but does not specify what settings.

I tried this tonight using VpnGw1, when the VPN client is installed, VNET1 has routes only for VNET2 (The only peering with Use Gateway Transit), doing a route print shows VNET1/2

[2020-03-17 23:14] femsulu commented on #50356
@johnwildes Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-17 23:15] himanshusinha-msft commented on #50361
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-03-17 23:16] himanshusinha-msft commented on #50361
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-03-17 23:22] Karishma-Tiwari-MSFT commented on #50047
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-17 23:22] #50047 closed

[2020-03-17 23:31] MashaMSFT commented on #37127
Hi @mjcarrabine , thank you for your patience as we continue looking into this for you. Just to make sure I understand your intent correctly, you're trying to automate the deployment of multiple machines, and you want all of these machines registered with the SQL VM resource provider in full management mode, is that correct?

I wanted to know if something like this would meet your needs? https://d

[2020-03-17 23:37] MarileeTurscak-MSFT commented on #50327
@xuxuai520
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-17 23:39] cijothomas commented on #27395
Not sure if someone actively monitors closed issues. Please open a new issue under the respective docs if you need clarification.
This is answer to the original question:
https://github.com/MicrosoftDocs/azure-docs/issues/27395#issuecomment-473929451

[2020-03-18 00:02] soham-bigdata opened #50366 "Thanks!"
Great Information. Quick question - can we get return values from databricks jars - like we can from Databricks Notebook activity? (e.g. You can consume the output (of a Databricks Notebook) in data factory by using expression such as '@activity('databricks notebook activity name').output.runOutput'. Is the same possible via Databricks jar? If you can put an example of that on this page - that wil

[2020-03-18 00:03] ishepherd opened #50367 ""You can create only one certificate for each supported custom domain.""
Can _different Apps_ have a certificate for the same domain?

Use case: Some of our apps have an active/passive HA where we failover by flipping the CNAME. This requires both apps to be setup with the same SSL binding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Indepen

[2020-03-18 00:10] sjyang18 opened #50369 "az keyvault private-endpoint-connection approve/reject/delete does not exist. How do I use in az-cli?"
az keyvault private-endpoint-connection approve/reject/delete does not exist. How do I use in az-cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0accd850-354a-8aa1-70ac-5f8f5d8f29b7
* Version Independent ID: 0eaba672-99b6-ae97-32f1-ed7a504f5713
* Content: [Integrate with Azure Private Link Service](https://docs.mic

[2020-03-18 00:11] aleksbor commented on #37127
Hi @MashaMSFT. @mjcarrabine  is not doing anything extraordinary and yet you suggest him a 1000-line workaround. Can we get help deploying a SQL IaaS extension using a template? I have a similar scenario. Any way to reopen this issue?

[2020-03-18 00:13] Karishma-Tiwari-MSFT commented on #42397
Thanks for your feedback. At this point, we would leave the doc as is as the doc mentions that he method you use to discover your new disk may vary. However this information would stay here with the doc for others to reference. As we get similar feedback for doc enhancement, we would consider updating the doc. Thanks :)

[2020-03-18 00:13] #42397 closed

[2020-03-18 00:16] ShaneBala-keyvault commented on #50369
Hi Sjyang18, I am interpreting your question as, What are the private endpoint management commands for Azure Key Vault. Please use the following format. The commands are documented here: https://docs.microsoft.com/en-us/azure/key-vault/private-link-service

az keyvault private-endpoint-connection approve --approval-description {"OPTIONAL DESCRIPTION"} --resource-group {RG} --vault-name {KEY VAULT

[2020-03-18 00:19] sjyang18 commented on #50369
private-endpoint-connection is not a subcommand of 'az keyvault'.
This is what I got.
az keyvault: 'private-endpoint-connection' is not in the 'az keyvault' command group. See 'az keyvault --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensio

[2020-03-18 00:21] MashaMSFT commented on #37127
@aleksbor , can you please share the business justification behind this need? What would the template be doing that is not possible to do with the SQL VM resource provider currently?

Thanks!
Masha from the SQL Docs team

[2020-03-18 00:22] mbyrneArchitect opened #50370 "Not Really Liquid"
This page should link to the DotLiquid documentation http://dotliquidmarkup.org/.  LogicApps don't use Liquid, but this strongly typed implementation which makes debugging or doing any research on Liquid really frustrating.  After you develop your template that works in VS Code using Liquid.  Azure Logic Apps won't produce the right results (because it is using DotLiquid).  Once again Microsoft in

[2020-03-18 00:22] kobulloc-MSFT commented on #50209
@nbgyxi Thank you for the feedback!  I will assign this to the document author so they can update the documentation accordingly.

[2020-03-18 00:25] littlenomads commented on #47577
I also agree

[2020-03-18 00:30] mike-urnun-msft commented on #50340
@dwhite44 Thank you for your feedback! We will review and update as appropriate.

[2020-03-18 00:33] sjyang18 commented on #50369
I upgrade az command line. got the sub command.

[2020-03-18 00:33] mike-urnun-msft commented on #50370
@mbyrneArchitect Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

cc: @ecfan

[2020-03-18 00:33] ShaneBala-keyvault commented on #50369
Hi Sjyang18,

The az keyvault subcommands have been documented here and private-endpoint-connection appears on the list. https://docs.microsoft.com/en-us/cli/azure/keyvault/private-endpoint-connection?view=azure-cli-latest#az-keyvault-private-endpoint-connection-approve

Can you confirm that you are using the latest version of the CLI?

[2020-03-18 00:35] #49907 closed

[2020-03-18 00:37] tuanle07 commented on #50343
Ive experienced the same error as well. Please fix this as soon as possible. Thanks

[2020-03-18 00:39] Vincent0818 opened #50371 "UDR is well supported for Appgw v2"
UDR is well supported for Appgw v2, plz modify it and avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent ID: 0e67beb9-827a-cafb-b0aa-6d38d32475f4
* Content: [Azure Application Gateway configuration overview](https://docs.microsoft.com/en-us/azure/a

[2020-03-18 00:42] Pikhulya opened #50372 "Looking for detailed documentation"
Is there detailed documentation anywhere? If I click F1 in the application hoping to see a context help for stencils and their properties and possible with example usage - I'm seeing an error "Unhandled exception" where the corresponding log file shows: "Threat Modeling Tool, Assembly version 'TMT7, Version=7.3.206.1, Culture=neutral, PublicKeyToken=69c3241e6f0468ca', today is 'Tuesday, March 17,

[2020-03-18 01:07] armcmu commented on #50307
Hi @femsulu
I followed the steps in this documentation: https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet?fbclid=IwAR2fUMd6BIVmhFG8u-JEgwSISExETxC_zbR9AeEX4XpsF2ttxutmaTK57-4
Thank you.

[2020-03-18 01:08] TravisCragg-MSFT commented on #50365
@mihsoft remember to download the P2S configuration after the changes have taken effect.

VNET 4 will need remote gateways & Gateway Transit in order for traffic to flow to & from the P2S VPN. I am going to follow up with this and make changes to the doc if needed.

[2020-03-18 01:30] femsulu commented on #50357
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-18 01:32] TravisCragg-MSFT commented on #50371
@Vincent0818 It is my understanding that UDR is still not supported for the V2 SKU, and this is stated several times throughout the docs. I believe that you cannot add UDRs to the subnet in most subscriptions.

It is possible in some situations & with some subscriptions to add UDRs. If you have any information that this is now supported, please let me know.

[2020-03-18 01:36] femsulu commented on #50357
adding the en-us version of the referenced doc: https://docs.microsoft.com/en-us/azure/aks/internal-lb

[2020-03-18 01:42] Vincent0818 commented on #50371
Email forwarded. plz read that and update me your thoughts.

[2020-03-18 01:47] TravisCragg-MSFT commented on #50371
@Vincent0818 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-18 01:49] blouwagie commented on #50007
Thank you @iainfoulds  and @shashishailaj,
That is very informative and indeed not documentation related. As you say it all depends on "what one tries to accomplish". The bottom line is that we are a Azure AAD, cloud ONLY customers that did not exist 18 months ago and now have 2000+ healthcare workers using the system whilst we need to be NIST 800-53 compliant, something we are trying to do withou

[2020-03-18 01:54] likebupt commented on #50162
@bruceokallau  Thanks for your sharing. But I'm still confused why you need to connect 3 datasets to execute python script module.

[2020-03-18 01:59] femsulu commented on #50331
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-18 02:03] MartinJaffer-MSFT commented on #50139
In the portal, go to your Databricks Overview blade.  In the top right there is "Managed Resource Group".  Click it.
_When a cluster is running_, you will see many assets, including XXXXXXXXXXX-privateNIC , XXXXXXXXX-publicNIC, XXXXXXXXXX-publicIP where XXXXXXXXXXXX is the UID of a node.  Click the XXXXXXXXXX-publicIP .  In the top right you will find the IP address.

When a cluster is spun down,

[2020-03-18 02:09] ecfan commented on #50370
@divyaswarnkar, please review and respond? Thanks!

[2020-03-18 02:09] gsaravanan20 opened #50374 "Microsoft Azure Storage Explorer Local - Can create container, But cannot upload the files"
I can create the container on the azure storage explorer local, But when i try to upload the file its get failed

Below is the log that i got from the azure storage explorer
2020/03/18 01:42:37 AzcopyVersion  10.3.3
2020/03/18 01:42:37 OS-Environment  windows
2020/03/18 01:42:37 OS-Architecture  amd64
2020/03/18 01:42:37 Log times are in UTC. Local time is 18 Mar 2020 01:42:37
2020/03/18 01:42:37

[2020-03-18 02:10] gsaravanan20 commented on #50374
[4e9e96d8-cd8b-cd44-57ad-66a4a129fe10.log](https://github.com/MicrosoftDocs/azure-docs/files/4346580/4e9e96d8-cd8b-cd44-57ad-66a4a129fe10.log)

[2020-03-18 02:50] beelesnik commented on #50142
Thank You. Think that it is fully appropriate for me
I''ll close this

[2020-03-18 02:50] #50142 closed

[2020-03-18 02:57] siim-m commented on #48825
I'm also having the same issue in Australia East, although it is not in the ["not available" list](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#regional-availability).

[code]

[2020-03-18 02:59] beelesnik commented on #50149
I have seen this answer but it is  workaround for specific case.
I have many strings of code in my testing apps that I usually launched by postgres user on ordinary PostgreSQL server and it works. And without superuser rights in Azure PostgreSQL I need to refactor all my apps for such "superuser stuff". The refactoring is the single way to solve this issue, isn't it?

[2020-03-18 03:06] beelesnik commented on #50149
Important additional information.
This is output of workaround tips in my Azure PostgreSQL database:

[code]

As You see the workaround doesn't work

[2020-03-18 03:11] SnehaAgrawal-MSFT commented on #50367
@ishepherd Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-18 03:15] wkleon commented on #46736
@TravisCragg-MSFT Hi. I am interested in seeing this work. I found the link below which says you can avoid starting the emulator. I want to use Azurite instead.
https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-emulator-using

[2020-03-18 03:16] ram-msft commented on #50350
@mostwired Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-18 03:19] BharathNimmala-MSFT commented on #50010
@dcbrown16 Apologies for delayed response on this, we are further assigning this to our document author and product PM @mayurigupta13 to help answer your query. Thank you

[2020-03-18 03:21] hylinux commented on #50250
@GiftA-MSFT, hi, thanks for your response, the default size when the create a new . please check the picture I post. thanks

[2020-03-18 03:23] SwathiDhanwada-MSFT commented on #50004
@Rajani-Janaki-Ram  Can you please review the issue and update the document if necessary?

[2020-03-18 03:27] neeleshray-msft commented on #50354
@henriquebelotto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-18 03:28] neeleshray-msft commented on #50358
@Strandfelt Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-18 03:29] neeleshray-msft commented on #50359
@Stuzest Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-18 03:30] neeleshray-msft commented on #50369
@sjyang18 Let us know how it has worked out for you

[2020-03-18 03:31] neeleshray-msft commented on #50372
@Pikhulya Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-18 03:31] Mike-Ubezzi-MSFT commented on #50364
@Vijaydaswani Thank you for bringing this to our attention. Can you detail the service level of the Azure Cache for Redis you have deployed, such as Standard, Basic, or Premium tier?

[2020-03-18 03:33] GiftA-MSFT commented on #50275
@SychevIgor the prerequisite is to have .NET Core V2.2 and above which includes current version.

@diberry can you please confirm? Thanks.

[2020-03-18 03:35] #50334 closed

[2020-03-18 03:37] KalyanChanumolu-MSFT commented on #50341
@RyanLWilliams Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-18 03:39] KalyanChanumolu-MSFT commented on #50347
@jotavar Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-18 03:42] beelesnik commented on #50319
I need to consult about share table or database schema. Please wait.

[2020-03-18 03:42] femsulu commented on #49965
Hello @Klaas, followed up on your ask and below is the update from the feature owner:

Right now our documented support for RHEL covers 6 & 7, but not yet 8.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-linux-operating-systems

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-overview#red-hat-linux-7

If possible, share

[2020-03-18 03:42] femsulu commented on #49965
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-18 03:42] #49965 closed

[2020-03-18 03:46] GiftA-MSFT commented on #50250
@hylinux, can you try creating a new compute target using the 'create new' option instead of selecting your existing compute target?

[2020-03-18 03:50] PeterCLu commented on #50234
Hi @robert4os , thanks for your report. Look like you've been able to resolve your issue. I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, you can open a new issue and provide additional details.

[2020-03-18 03:50] #50234 closed

[2020-03-18 04:01] VikasPullagura-MSFT commented on #50071
@expired00 For the document update, team has created a work item 1697864 internally to track this.
The doc will be updated soon. We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-18 04:01] #50071 closed

[2020-03-18 04:04] BharathNimmala-MSFT commented on #49986
@Ruqia91 Apologies for delayed response on this, regarding increasing throttle limits our teams evaluate the support request made by our customers and case by case basis by understanding the calling patterns and customer scenarios throttle limits can be increased. The same is documented [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling#re

[2020-03-18 04:09] VikasPullagura-MSFT commented on #49654
@t-leblanc Hope the above provided information helps with your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-18 04:09] #49654 closed

[2020-03-18 04:10] VikasPullagura-MSFT commented on #50148
@keatseongchan Any update on the issue? Are you still seeing the issue, were you able to repro the issue?

[2020-03-18 04:13] palma21 commented on #47461
PIP means Public IP address correct.

We are working on the capability to update from outboundtype LB to outbound type UDR.
With that the outbound IPs would be deleted. Tracking April ETA.

You still need the LB for ingress, be it external or internal (ILB), if you don't have or use any ingress traffic or services then that update would delete the LB too.
(LB would be created by k8s if you add a s

[2020-03-18 04:14] cmmdesai commented on #50316
@ManoKanmani The CW to FTE conversion requires special handling as Workday creates a new worker profile with a new WID. Here is the recommended approach to prevent conflicts and handle contingent worker to FTE conversions.

Create two sync jobs:
* WD2AD-FTE for handling only FTE profiles from Workday.
* WD2AD-CW for handling only CW profiles from Workday

For both sync jobs, set the option "SkipOu

[2020-03-18 04:14] beelesnik commented on #50319
This is all of table mailing_details schema:
[code]

[2020-03-18 04:15] Prithvi1994 opened #50375 "How to set the Secondary and Primary store for spring boot app?"
Hi, we're looking to enable disaster recovery/resiliency for azure app config with a spring boot app. Please update the document with spring boot examples as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2be8452b-77ae-6181-a330-b3382d7b63d1
* Version Independent ID: 414c637e-a33f-c7c5-9b1b-bb266aed6f92
* Content

[2020-03-18 04:19] cmmdesai commented on #49859
@steele6599 I think it will help to get on a call to understand your scenario, so I can guide you better. Please send me an email at chetan.desai@microsoft.com and we can work on this.

[2020-03-18 04:20] cmmdesai commented on #46530
#please-close

[2020-03-18 04:20] #46530 closed

[2020-03-18 04:41] jakaruna-MSFT commented on #50208
@tsubasaxZZZ
I will close this out for now. we can track the progress from the pull request

[2020-03-18 04:41] #50208 closed

[2020-03-18 04:58] beelesnik opened #50376 "How could I estimate needed storage size?"
Hi.
On VM with PostgreSQL I have database cluster  with full size 59GB.  If I take dump from all databases by command like "/usr/bin/pg_dump -U postgres -x -O -F custom" it will be nearly 5GB.
How could I estimate needed storage space for my databases after moving to Azure PostgreSQL if I need two weeks retention period?

Let's assume that full backup - 5 GB, differential - 2.5 GB (it is just my o

[2020-03-18 05:23] VikasPullagura-MSFT commented on #50288
@dalehhirt
The doc you referred is for template conversion page, you can check this [page](https://docs.microsoft.com/en-us/powershell/module/az.compute/?view=azps-3.6.1#vm_scale_sets) for PowerShell for VMSS.

For converting storage account to use Managed Disks involves the removal of any references to storage accounts and directly use managed disks. To do with PowerShell you can refer this [stor

[2020-03-18 05:28] prawin2k opened #50377 "Is it possible to configure ApplicationInsights 's AvailabilityTests for an end point (of AppService) hosted in ASE?"
We have a requirement to configure Availability Tests (URL Ping Test) on an End Point (App Service) which is hosted inside App Service Environment (ASE).

I don't think it would be possible. but, I might be wrong. Any comments on this or point me to the proper docs?

i have see a similar question here but it is not properly answered.

Thanks, Praveen

---
#### Document Details

⚠ *Do not edit this

[2020-03-18 05:29] msrini-MSFT commented on #50241
@haymansfield , Do you have any update on this issue?

[2020-03-18 05:36] doragui opened #50378 "used this script to move the snapshot, the destination resource group should be in the same region with the snapshot"
please modify this document, if customer used this script to move the snapshot, the destination resource group should be in the same region with the snapshot. our product team has filed a bug around CLI behavior in past https://github.com/Azure/azure-cli/issues/11909. while i have no ETA when they would fix this bug for the azure cli that when we would support to copy the snapshot to the RG which

[2020-03-18 05:39] AjayKumar-MSFT commented on #49749
Rob, Apologies for the delay! I wish to engage with you offline and provide a specialized assistance, please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID, I will follow-up with you further.
As we will work with you offline, we will now proceed to close this thread.

[2020-03-18 05:39] #49749 closed

[2020-03-18 05:46] Karishma-Tiwari-MSFT commented on #43512
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-18 05:46] #43512 closed

[2020-03-18 05:48] BhargaviAnnadevara-MSFT commented on #50363
@cijothomas Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-18 05:50] mike7ang1rdz opened #50379 "winforms that calls WCF on Azure App service"
Hello, I have a WinForms (legacy) client application that consumes WCF services and uses its own authentication model... (on-premises)

However, the company wants to migrate to Azure and use an app service to host the wcf and authenticate it with Azure AD (JWT).

Do you have any example with this scenario?

winforms + (app service + wcf + azure AD (JWT))

Thank you

---
#### Document Details

⚠ *D

[2020-03-18 05:53] paulspencerwilliams opened #50380 "IETF recommends using Auth Code + PKCE for SPAs with no backend"
The IETF has recommended using Auth Code + PKCE over Implicit flow for several years for SPAs. Could you please recommend reviewing this important document to ensure current practice is employed for new applications.

This is summarised in section 4.

"However, there are several drawbacks to the implicit flow, generally involving vulnerabilities associated with the exposure of the access token in

[2020-03-18 05:53] BharathNimmala-MSFT commented on #50027
@Mobrockers Apologies for delay on this, we have reached out to our internal team to further understand this behavior. Will keep you updated as we hear more on this.

[2020-03-18 05:55] BhargaviAnnadevara-MSFT commented on #50375
@Prithvi1994 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-18 05:55] SychevIgor commented on #50275
v2.2 already retired with 3.0.
3.0 it's definitely above 2.2

[2020-03-18 06:14] souravmishra-msft commented on #50110
@AmitavaHazra, In case you do not want to use the B2B relationship between two Azure AD tenants, then the only other way is to create a Federation Trust between ADFS servers for the various domains (provided all the domains are federated domains). There is no other way to establish a trust.

Secondly applications can be configured to be registered in various Azure AD tenants, provided the applicat

[2020-03-18 06:14] #50110 closed

[2020-03-18 06:20] VikasPullagura-MSFT commented on #50310
@majguo Hope the above provided information help solving your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-18 06:20] #50310 closed

[2020-03-18 06:22] GiftA-MSFT commented on #50275
@sybautov thanks for your feedback, we will update accordingly.

[2020-03-18 06:25] GiftA-MSFT commented on #50276
duplicate of [#50275](https://github.com/MicrosoftDocs/azure-docs/issues/50275).

[2020-03-18 06:25] #50276 closed

[2020-03-18 06:28] landro commented on #50333
So I copied some lorem ipsum from a webpage into the clipboard. Then, in the remote ubuntu terminal I tried both cmd+v and ctrl+v - none of them worked.

I've tried this procedure in both latest Firefox and Chrome on MacOs Mojave - both fail.
I realise Azure Bastion is a relatively new product, but it's been GA since November - how come this isn't working? Right now this product is not very useful

[2020-03-18 06:29] cmmdesai commented on #50227
@AmitavaHazra The Now() function is not supported in Azure AD expression. Please add this feedback [here](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=360895).
Try scoping out terminated users based on the attribute "_StatusTerminated_".

[2020-03-18 06:33] shashishailaj commented on #50374
@gsaravanan20 Thank you for providing the logs. We will investigate and update this thread.

[2020-03-18 06:34] ChiragMishra-MSFT commented on #50366
@soham-bigdata Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-03-18 06:43] ChiragMishra-MSFT commented on #50151
@mamccrea Can you please take a look at this?

[2020-03-18 06:47] AmitavaHazra commented on #50110
Thanks for your time

[2020-03-18 07:00] Unders0n commented on #50348
@femsulu https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create

[2020-03-18 07:01] deep-mm commented on #50150
@MarileeTurscak-MSFT @SaurabhSharma-MSFT
I had referred the following documentation for using the soft delete azure cli commands
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-soft-delete-cli

Yes @SaurabhSharma-MSFT , I ran that command to get list of soft deleted keys but it returns an empty list. Thats the reason I am confused, that if no soft deleted keys exist, why doesn't it allo

[2020-03-18 07:09] AshokPeddakotla-MSFT commented on #49878
We hope that addresses your question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-18 07:09] #49878 closed

[2020-03-18 07:21] davidobrien1985 commented on #48177
@msrini-MSFT any update here?

[2020-03-18 07:32] ElectricLlama opened #50382 "Please make a clear statement that cursors are not supported."
If this is stated on another page, please refer me to it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0df257-bd4f-6837-d809-ce9792dbf4f9
* Version Independent ID: 824450db-d0ad-8ccc-b268-54b77e6d390b
* Content: [Using T-SQL loops - Azure SQL Data Warehouse](https://docs.microsoft.com/en-au/azure/sql-data-warehouse

[2020-03-18 07:42] shashishailaj commented on #50283
@CeciAc @lzw-all-in You will need to contact your Azure AD tenants global admin to get this approved. The API permission you have selected required Admin consent and hence you will need to contact your internal IT to get any of the Azure AD global admins to approve your request. after that you will be able to get your application working without a problem. As per our work and discussion internally

[2020-03-18 07:42] #50283 closed

[2020-03-18 07:44] davidobrien1985 commented on #50325
@msrini-MSFT the Preview for App Service falsely states that it's available in "All public regions" where the App Services doco itself says "East US" only: https://docs.microsoft.com/en-gb/azure/app-service/networking/private-endpoint

[2020-03-18 07:44] shashishailaj commented on #50183
@andrewcrayden As we have not received any responses from your side , we will be closing this thread. In case you are unavailable/busy with other priorities within your organisation , please open a new thread referencing this one whenever you are available and we will be happy to help you with the same.

Thank you.

[2020-03-18 07:45] DashleenBhandari-MSFT commented on #49759
@dcbrown16 , I spoke with @sethmanheim who is content write for this document. We have agreed to make the changes. Thanks for pointing this out.

[2020-03-18 07:46] jiseli commented on #46605
It took a bit more than "a week or two" but eventually, it was deployed. Everything is working fine now.

The documentation about the `body` attribute is still not updated though.

Does it worth mentioning that the [policy example on GitHub](https://github.com/galiniliev/api-management-policy-snippets/blob/galin/AkvCert/examples/Look%20up%20Key%20Vault%20certificate%20using%20Managed%20Service%20I

[2020-03-18 07:54] jaspkaur28 commented on #44336
@aleksmark : For Point 2.  we have an update from the engineering team . During import, Python2 tar.gz packages are converted to .whl file as an intermediate step. The conversion would succeed if the tar.gz package is a simple source only package that doesn’t need compilation. The limitation here is the conversion might fail for some packages which needs compilation because the sandbox environment

[2020-03-18 07:55] holietenk opened #50383 "AZ_BATCH_APP_PACKAGE on Linux"
Assume the application package name is "Agent-linux-x64" and the version is "1.1.46.0". Following the documentation on this page the environment variable on a Linux machine would be: AZ_BATCH_APP_PACKAGE_Agent-linux-x64_1.1.46.0
The result of my test shows that the environment name is actually: AZ_BATCH_APP_PACKAGE_agent_linux_x64_1_1_46_0

The name of the application package is lower case and . a

[2020-03-18 08:05] habnux commented on #43427
We switched to Azure Bastion for our scale sets. Now the question arises, if we should put the NSG on the Bastion subnet itself at all.
From my point of view, I don't want to define these rules because Azure Bastion is a PaaS and is managed by Microsoft. According to the description it is sold as such:

Is there a clear usecase when to define these rules yourself? I also think that the documentati

[2020-03-18 08:10] mleneveut commented on #50344
Your right, sorry.

It's just that it is not really clear reading the text : `Configure a failover group for an Azure SQL Database`. We are talking about Database and not Severs.

And reading it again, I don't understand the feature of this failover, and the difference with the geo replication of SQL Databases.

Perhaps it needs a little more explanation about the 2 features, and perhaps their lin

[2020-03-18 08:12] kamaleshs48 commented on #50332
I using
 https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser

[2020-03-18 08:15] axisc commented on #46011
Yes, this is available in the [Azure Service Bus](https://GitHub.com/azure/azure-service-bus) under the samples folder

[2020-03-18 08:16] #46011 closed

[2020-03-18 08:18] beelesnik opened #50385 "Lock "CanNotDelete" on VM prevents to stop this VM. Why?"
I have set lock  "CanNotDelete" on VM. When I try to stop this VM an error occurred like this:
"Failed to stop the virtual machine 'myvm'. Error: The scope 'myvm' cannot perform write operation because following scope(s) are locked: '/subscriptions/xxx/resourcegroups/xxx/providers/Microsoft.Compute/virtualMachines/myvm'. Please remove the lock and try again."
Why is it so?

---
#### Document Detai

[2020-03-18 08:34] VikasPullagura-MSFT commented on #50378
@doragui
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-18 08:34] VikasPullagura-MSFT commented on #50378
@ramankumarlive
Can you please check and add your comments on this doc update request as applicable.

[2020-03-18 08:36] Xandven opened #50386 "Window 10 Multi Session supported"
For Azure Update Management the docs states that Windows 10 is not unsupported. I have now tested Azure Update Management with Windows 10 Enterprise Multi Session successfully. As far as I know this version of Windows 10 is classified as a Server OS. I think this should be reflected in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-18 08:38] VikasPullagura-MSFT commented on #50383
@holietenk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate..

[2020-03-18 08:38] VikasPullagura-MSFT commented on #50383
@LauraBrenner
Can you please check and add your comments on this doc update request as applicable.

[2020-03-18 08:42] jakaruna-MSFT commented on #50274
@dealancer When using volumes with deployments, we will create a PVC and attach with the deployments.

So when a pod, created from the deployment moves from one node to other, Kubernetes unmounts the volume from the old node and mounts  the volume to the new node. Then kubernetes attaches that volume to the pod.

For simplicity, Author explained this in that sentence.

[2020-03-18 08:46] VikasPullagura-MSFT commented on #50272
@MicrosoftDocs/aks-pm Please add your comments

[2020-03-18 08:49] SumanthMarigowda-MSFT commented on #50092
@amudamai [Learn how](storage-sync-files-deployment-guide.md#self-service-restore-through-previous-versions-and-vss-volume-shadow-copy-service)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-18 08:49] #50092 closed

[2020-03-18 08:59] SumanthMarigowda-MSFT commented on #50131
@anothnk  Firstly, apologies for the delay in responding here!

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-18 09:01] MatchingRadar commented on #48874
Hi - I agree this is an issue - however I would like to extend it to say that there are different issues between the azure cli, the azure portal and the azure powershell sdk. In the Azure portal i can successfully subscribe my even topic to my azure function - this then shows in the portal as an AzureFunction endpoint - when i use powershell i can successfully subscribe to my event grid using New-

[2020-03-18 09:02] SumanthMarigowda-MSFT commented on #50174
@mchudinov  Firstly, apologies for the delay in responding here!

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-18 09:02] VikasPullagura-MSFT commented on #50174
@vturecek
Can you please check and add your comments on this doc update request as applicable.

[2020-03-18 09:05] SumanthMarigowda-MSFT commented on #50210
@eduardolmedeiros Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-03-18 09:14] jakaruna-MSFT commented on #49773
@kachontep
I will close this out for now as i am unable to reproduce your issue.
If you need additional help please open a new issue.

[2020-03-18 09:14] #49773 closed

[2020-03-18 09:15] Klaas- opened #50387 "ARM Template usage"
Hi,
I could not find any information on how to use the gen2 VMs via ARM template. Is it as simple as just selecting the image for gen2 or do I need to change more in my ARM template?
There seems to be no reference to gen2 in the quickstart templates https://github.com/Azure/azure-quickstart-templates/search?q=gen2&type=Code

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section.

[2020-03-18 09:16] jakaruna-MSFT commented on #49578
@jemag
I will close this out for now. If you need additional help please open a new issue.

[2020-03-18 09:16] #49578 closed

[2020-03-18 09:17] jakaruna-MSFT commented on #49264
@kentmc  Please send out an email.
I will close this out for now. If you need additional help please open a new issue.

[2020-03-18 09:17] #49264 closed

[2020-03-18 09:20] RicoSuter commented on #44571
Is there an update on this? The $DevPortalUrl still points to the old portal - or is there another placeholder with the URL to the new portal?

[2020-03-18 09:24] BharathNimmala-MSFT commented on #50027
@Mobrockers Further validation of the documentation helped me to realize that we should be using the force tag so just making sure you are using the force tag as part of the Delete REST API call when doing the permanent delete. It is [documented ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace#permanent-workspace-delete) as below

![Workspace](https://user-images.gi

[2020-03-18 09:35] bamajeed opened #50388 "Broken Links"
Links in table of IoT Hub REST APIs broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45b76f3e-0318-070e-ff9f-0598ed6379b1
* Version Independent ID: 52d8706b-30a2-93db-020c-1dc7098730f9
* Content: [Azure IoT Hub scaling](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-scaling#feedback)
* Content Source: [art

[2020-03-18 09:41] kentmc commented on #49264
Hi, sorry for the long delay. I have sent you the email now. Thanks for looking into it.

[2020-03-18 09:54] SnehaAgrawal-MSFT commented on #50321
@estensen Thanks for the feedback! As Azure functions are built using the Azure web jobs foundation. Also, Azure Functions provide most of the functionality already available in WebJobs, but with some new cool capabilities. You may want to have a look on [this]. Hope this helps. (https://stackoverflow.com/questions/36610952/azure-webjobs-vs-azure-functions-how-to-choose)

[2020-03-18 10:04] SwathiDhanwada-MSFT commented on #50385
@beelesnik  Thanks for your comment. We are actively looking into and it and we will update you soon.

[2020-03-18 10:05] SwathiDhanwada-MSFT commented on #50386
@Xandven Thanks for your comment. We are actively looking into and it and we will update you soon.

[2020-03-18 10:06] VikasPullagura-MSFT commented on #50387
@Klaas-
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-18 10:12] jakaruna-MSFT commented on #50042
@michael-niemand I just checked the config maps and deployments in my AKS deployment,.

It had two config maps related to coredns and both of them are attached to the coredns deployment.

Configmaps
[code]

Deployment
[code]

Check this out and let me know

[2020-03-18 10:14] vrvrvrvrvr commented on #45926
This seems to be in place when your answer is strict "no" to qna bot

[2020-03-18 10:20] Mobrockers commented on #50027
We are using the force delete flag.

Upon further investigation it appears that in our scripting we were performing a soft-delete first via deleting the containing resource group and then performing a hard-delete via the deletion API.

It appears that the force deletion is accepted when the log analytics workspace is in soft-deletion state but is not actually performed.

It might be useful to add

[2020-03-18 10:24] jakaruna-MSFT commented on #49705
@erotavlas i tried the same deployment by following the doc.

It worked well without any issue.  I have the same kubernetes version and same kernel version as yours.

I think you are building that image from the windows 10 machine

Can you create one Windows Server 2019 Datacenter with containers in azure and try creating the image there.

Then push that image to the registry and pull that and run

[2020-03-18 10:38] amanmcse commented on #50354
@henriquebelotto This is not a known issue and seems to be specifically with your CSS. I tried this in my [test B2C environment](https://aka.ms/amansib2c) and I did not encountered any issues.  I have configured page contract of unifiedssp and selfasserted to 1.2.0.

Below are my html and css files for your reference:
https://moviesdiag132.blob.core.windows.net/b2c/unified.html
https://moviesdiag1

[2020-03-18 11:01] KalyanChanumolu-MSFT commented on #50292
@JamesEarle This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-18 11:09] dominicbetts commented on #50153
Hi @rido-min - I added this to the Preview refresh task in the docs backlog. Thanks!

#please-close

[2020-03-18 11:09] #50153 closed

[2020-03-18 11:09] dominicbetts commented on #50177
Hi @rido-min - I added this to the Preview refresh task in the docs backlog. Thanks!

#please-close

[2020-03-18 11:09] #50177 closed

[2020-03-18 11:21] RFlintstone opened #50389 "Problem in documentation (Dynamo DB - Node.js)"
Hi Microsoft,

I tried to get cosmos DB data/items with my node application which eventually worked and found out that the documentation/code on: https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-nodejs under 'Review the code' isn't right. To select the tasks and items I needed to do:

[code]
Instead of:
[code]
Since 'client.databases' is not a function. Await would work however then

[2020-03-18 11:24] bm-aety commented on #32884
@jeevansd We have a Jira Software 8.7.1 with Jira Service Desk 4.7.1 installation with this add-on installed (version 6.0 according to Jira). It doesn't seem to work on the Jira Service Desk portal login (it doesn't redirect to Azure login).

[2020-03-18 11:27] asergaz commented on #49723
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-18 11:27] #49723 closed

[2020-03-18 11:28] asergaz commented on #49492
Hello @chmagitt have you had the chance to test the above? Thanks!

[2020-03-18 11:33] estensen commented on #50321
That doesn't help me. I need to use WebJobs because Functions doesn't provide at-least-once delivery. The docs are confusing because WebJobs and Functions are used slightly different.

[2020-03-18 11:38] souravmishra-msft commented on #50103
@SupamanPhong, I apologize for the delay in my response. I did go through the details you shared and had some more queries. Is it working on your Azure AD joined machine when you try to enable using Intune ? This will help in narrowing down if the issue is limited to provisioning package or other options to enable FIDO2 based login are not working as well.

Also, after you have configured using pr

[2020-03-18 11:56] pelithne opened #50390 "Typo in az cli instruction"
In the opt-in for preview, the following command is to be used to confirm the feature has registered

az feature list -o table --query "[?contains(name, 'Microsoft.PolicyInsights/AKS-DataPlaneAutoApprove')].{Name:name,State:properties.state}"

However, it should say "DataplaneAutoApprove" not "DataPlaneAutoApprove". The right command:

az feature list -o table --query "[?contains(name, 'Microsoft.

[2020-03-18 11:57] AshokPeddakotla-MSFT commented on #50303
@akash-roy-123 I can also confirm that not seeing any error messages when following the doc. Could you please try Farah suggestions and let us know if you are still blocked?

[2020-03-18 11:57] lzw-all-in commented on #50283
@shashishailaj Thanks you so much ! You are very friendly and helpful : )

[2020-03-18 12:09] AmitavaHazra opened #50391 "Scoping filter in Workday to AD provisioning"
Reference link: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#customizing-the-list-of-workday-user-attributes

Let's say we have join criteria from workday to AD based on username with sAMAccountName.

Lets assume contingent to employee movement we are having duplicate username in Workday. In that case we are planning to update contingent's user name wi

[2020-03-18 12:09] AmitavaHazra commented on #50391
@cmmdesai, kindly help us on this.

[2020-03-18 12:22] eseezeni opened #50392 "Cannot access from Windows Server 2012 R2"
I cannot access * .tts.speech.microsoft.com which is a voices/list or v1 endpoint from Windows Server 2012 R2.
This error has occurred since March 14, 2020.

* .tts.speech.microsoft.com seems to support only the following cipher suites:

TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

However, Windows Server 2012 R2 does not support these cipher suites.

Do I have to u

[2020-03-18 12:38] tkumark opened #50394 "Is there a reason why Open Debug Snapshot is not showing"
My project has .net core 2.2. I do not see  "Open Debug Snapshot".  I have added my self as "Application Insights Snapshot Debugger". This is a micro service running in Service Fabric. Is there any other dependency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independen

[2020-03-18 12:39] Siby22071989 opened #50395 "Shopify using Azure Data Factory (Preview)"
When will Shopify Azure DataFactory connector be production ready i.e. out of preview? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881dd250-a14d-23c2-09e1-bb0d9cf4344a
* Version Independent ID: 9b21f0d1-7827-9805-8e3e-50ac98ce5b4d
* Content: [Copy data from Shopify (Preview) - Azure Data Factory](https://docs

[2020-03-18 12:39] DixitArora-MSFT commented on #50182
@jhueppauff Thanks for proving feedback and I will create the internal work item for this and pass on the feedback to the content team. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-18 12:39] #50182 closed

[2020-03-18 12:46] JeremyTBradshaw opened #50396 "Issue with "Legacy Authentication Protocols" section"
I don't know if this is a documentation issue, or a product design issue, but it is a legitimate issue.  Let's look at this paragraph:

To begin with, most of these line items are not Authentication Protocols at all.  Next, some of them are still used even after Modern Authentication has been performed.  Examples are Autodiscover, MAPI over HTTP, Offline Address Book.

The way this is written (or

[2020-03-18 12:49] Klaas- commented on #49961
also the naming is inconsistent for the gen2 images, is that on purpose?
"sku": "8"
"sku": "8-gen2"
"sku": "8.1"
"sku": "81gen2"

[2020-03-18 12:50] anothnk commented on #50131
Thanks, Sumanth.. Please let me know if you need any further information about the ticket.

[2020-03-18 12:51] vlado101 opened #50397 "Parallel copy using HASH is misleading"
Hello,

I just wanted to verify if my understanding is correct when trying to use parallel copy to copy a full table from Teradata. The documentation says the following:

"Partition option: Hash.

During execution, Data Factory automatically detects the PK column, applies a hash against it, and copies data by partitions."

However, I believe that is misleading and leads to errors. I have been tryi

[2020-03-18 12:52] dohughes-msft commented on #49870
Thanks, I'm aware it means hardware cluster, but what is the definition of that? How many of these "isolated nodes" are there in a cluster?

[2020-03-18 13:09] jurajgh opened #50398 "This mysignins.microsoft.com page can't be found"
is the preview functionality in a working state, please? we've been getting this result: https://cl.ly/f458841656a1 after successfully completing the new combined enrollment wizard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 209406f7-3ef9-7424-a11d-46146b232906
* Version Independent ID: 53f76c21-5d6d-54d2-8166-d6c3

[2020-03-18 13:12] saarivirtajCGI commented on #47130
I ran into this as well, trying to set up Grafana in Azure AppService Container with Azure Files for persistent storage. Found out about this the hard way. I'm thinking of either keeping the data in the container and backing it up to Azure Files periodically, or just using MySQL PaaS - it's kind of a workaround in my opinion, and adds to costs.

[2020-03-18 13:12] amergey opened #50399 "Export inconsistency should be documented as limitation"
Hello,
Creating a S3 Azure SQL database is exported with following sku in template:
        "name": "Standard",
        "tier": "Standard",
        "capacity": 100

Using the exported template it creates the Azure SLQ database as S0 which is not the S3 database we had initially.

We had a long running support case about that, and we discover that sku name needed to be changed from "Standard" to "S

[2020-03-18 13:14] TynThordin commented on #47130
How would that work? If the host changes, the container will be recreated.

[2020-03-18 13:16] DashleenBhandari-MSFT commented on #48748
@mkokabi , Apologies for delay in response.
This is a known issue. While deploying Rails azure sometimes thinks it is a nodejs app and it starts using deployment process..
Can you try removing the package.json and test?
Please let me know if this works for you.

[2020-03-18 13:18] kyle-thomas-TT opened #50400 "Switching from SendAppleNativeNotificationAsync"
In our product we are currently using SendAppleNativeNotificationAsync(string payload, string tagExpression)
This method provides no way to set the header. When switching over to SendNotificationAsync like the example above it lists the Tag attribute as being obsolete. What is the correct method for setting both the Header and the tags, and why has tags been marked obsolete?

---
#### Document Det

[2020-03-18 13:19] Klaas- commented on #49965
@femsulu

RHEL7 is in maintenance support (https://access.redhat.com/support/policy/updates/errata), so I am looking to move workload towards rhel8 which is in full support until 2024.

[2020-03-18 13:21] tfitzmac commented on #50385
It sounds like there is a read-only lock somewhere in the hierarchy. I would look at the locks on the vm through the portal and make sure there isn't a read-only lock that is inherited from the resource group or higher. The articles notes that a read-only lock on the resource group will prevent users from starting or stopping a vm.

[2020-03-18 13:23] saarivirtajCGI commented on #47130
Well if I basically every few minutes copy the data to the file share, I can maintain a somewhat up-to-date situation which would be good enough for me. Then always before startup I can copy the data from the mounted file share back into the container and continue where it left off.

I'm already using a custom image based on the grafana docker image so I can easily do whatever customizations I ple

[2020-03-18 13:24] DashleenBhandari-MSFT commented on #50400
@kyle-thomas-TT , Thanks for raising the issue. I am investigating this and will update you.

[2020-03-18 13:25] vlado101 opened #50401 "Show an example of pipeline using ForEach and partition"
Hello,

Would it be possible to show an example where we are copying multiple tables that are being sent to a ForEach activity using the HASH partition? I had instances where some tables were successfully copied in parallel while at another run a table that had a similar structured failed (NOPI error). For that table I had to specify the partition column manually.

If we have to specify the partit

[2020-03-18 13:26] TynThordin commented on #47130
Would you mind sharing an example of that configuration? I have a similar issue with a Postgres docker (which is also not working on Azure Fileshare / Blob Containers.)

[2020-03-18 13:28] TynThordin commented on #47130
By the way, we have Grafana running on Azure App Service with SQLite. See here for workaround: https://github.com/grafana/grafana/issues/20549

[2020-03-18 13:29] Klaas- commented on #50387
it seems there is no changes to ARM templates needed, they'll select a gen 2 VM if the image if for gen 2.

[2020-03-18 13:30] Vijaydaswani commented on #50364
Hi Mike,

It is Premium tier.

[2020-03-18 13:31] yoelhor commented on #50330
I managed to reproduce this issue. I'll update the document with missing steps soon.

[2020-03-18 13:32] NavtejSaini-MSFT commented on #50323
@Anmolgan81 @pochiraju We will be closing this thread here as you will be working directly with each other

[2020-03-18 13:32] #50323 closed

[2020-03-18 13:35] NavtejSaini-MSFT commented on #50149
@beelesnik Thanks for further information. I am assigning this to our doc author for further review.
@rachel-msft Please check the issue from user and help.

[2020-03-18 13:37] udaykumar54 opened #50402 "Cannot convert value "1.9.1-preview" to type "System.Version""
trying to install PS preview as documented in Step3 in link https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell

Command trying to run as step 3 :
install-Module Az.Storage -Repository PSGallery -RequiredVersion 1.9.1-preview –AllowPrerelease –AllowClobber –Force

**Getting below error**
Install-Module : Cannot process argument transformation on par

[2020-03-18 13:42] phetzel1 opened #50403 "Example for connecting via Private Link"
Private Link just went GA for Azure Data Lake Storage Gen2. It would be great to have an explicit example of how to connect to ADLS Gen2 via Private Link so that Databricks customers could better keep their data secure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71b3d41f-1c15-36a2-4822-ee71f3bd337c
* Version Indepe

[2020-03-18 13:46] zakkra opened #50404 "Status check with slot when using WaitForExternalEvent"
Do we not need to wait for prod slot to finish too? If prod slot is waiting for an external event then after the swap all new events will be hitting the previous staging slot. But even then we can't be sure new orchestration will not be started on prod slot between us checking the state and actually swapping slots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-03-18 13:46] KrishnaG-MSFT commented on #50355
@dgshaver No problem. Thanks for the clarification provided in your second comment. 👍

[2020-03-18 13:47] NavtejSaini-MSFT commented on #50376
@beelesnik We are checking this and will get back to you.

[2020-03-18 13:49] KalyanChanumolu-MSFT commented on #50379
@mike7ang1rdz Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-03-18 13:50] NavtejSaini-MSFT commented on #50389
@RFlintstone We are checking this and will get back to you.

[2020-03-18 13:51] KalyanChanumolu-MSFT commented on #50380
@paulspencerwilliams Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-18 13:58] singhalsunil065 opened #50405 "Explain window size and offset fields"
[Enter feedback here]
On reading the documentation, i still do not understand size and offset fields.
What is the relevance of these fields?
Please explain with more examples the behaviour when these parameters are set to some values and when not set et all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e90a49ad-b872-

[2020-03-18 13:59] beelesnik commented on #50385
Sorry, it is my fault. I'v been mistaken and create ReadOnly lock.
Close it

[2020-03-18 13:59] #50385 closed

[2020-03-18 14:07] saarivirtajCGI commented on #47130
Thanks @TynThordin that did the trick! Saved my day :)

As for the copy & restore method, I didn't need to get on to implementing it due to your workaround.

[2020-03-18 14:08] bwren commented on #49908
Boot diagnostics is separate from diagnostics extension, so it's not included in the same configuration  file. It is included in the portal along with the other diagnostic settings which does make it a little confusing. Details on configuration boot diagnostics is here - https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/boot-diagnostics.

[2020-03-18 14:17] JeremyTBradshaw commented on #50396
PS.  I see that this other page has been updated as of Feb 26 2020 - https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins#filter-sign-in-activities

That page just so happens to have the fantasy table I've described above, where it lists possible Client App labels and has a checkmark to show if that Client App uses Modern Authentication.  Maybe that table can

[2020-03-18 14:19] malthe opened #50406 "Incorrect resource name"
This page specifies that the resource name should be https://eventhubs.azure.net when in fact it should be "\<namespace\>.servicebus.windows.net".

I discovered this from perusing a [tutorial](https://github.com/Azure/azure-event-hubs-for-kafka/tree/master/tutorials/oauth/go#configuration) elsewhere on Azure.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-18 14:22] anhowe opened #50407 "These instructions keep an 18.04 VM in "creating state", with repeated "INFO Daemon Waiting for cloud-init to copy ovf-env.xml" in waagent logs"
Running through "create-upload-ubuntu" instructions using a vanilla Ubuntu 18.04, results in the VM getting stuck in "Creating" with the following repeated error in the waagent logs:

[code]
The workaround is to run the following fix script which will fix grub and cloud-init: https://github.com/Azure/Avere/blob/master/src/terraform/examples/securedimage/fixubuntuimage.sh.  This script fixes the di

[2020-03-18 14:23] SnehaAgrawal-MSFT commented on #50321
@estensen Thanks for the clarification on this. I have shared your feedback with the content owner for further review.

[2020-03-18 14:25] tfitzmac commented on #49532
@g-petre - thanks for this feedback. There are new PowerShell commands for working with tags. I am updating the docs to show those new commands. The commands are New-AzTag and Update-AzTag.

[2020-03-18 14:26] reijoh commented on #48128
I have an ARM template for VM deployments and I was deploying this extension with that template back in 2019. But then it stopped working. I have tried to make it work from time to time since then but it always fail with the following error:
{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provi

[2020-03-18 14:28] darkhawk311 opened #50408 "PowerShell reporting on users registered for MFA"
These scripts should exclude disabled users since these accounts cannot authenticate against Azure AD.

Updated Commands: (includes "-and $_.BlockCredential -eq $False" in Where-Object clause)

Get-MsolUser -All | Where-Object {$_.StrongAuthenticationMethods -ne $null -and $_.BlockCredential -eq $False} | Select-Object -Property UserPrincipalName

Get-MsolUser -All | Where-Object {$_.StrongAuthent

[2020-03-18 14:28] Klaas- opened #50409 "RHEL/CentOS8 support"
Hi,
what about trying this technical preview out in a current enterprise linux version? Is a release for el8 planned in the near future?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in

[2020-03-18 14:28] DCtheGeek commented on #50390
#assign:DCtheGeek

[2020-03-18 14:29] DCtheGeek commented on #50390
@pelithne Thanks for catching this and pointing it out.  I'll get it fixed asap!  As soon as I fix in source (which happens prior to publishing), this issue will automatically close. Thanks!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-03-18 14:34] tfitzmac commented on #49986
@Ruqia91 - thanks for this feedback. I am finding out whether we should change or remove this statement.

[2020-03-18 14:36] tfitzmac commented on #49986
#in-progress

[2020-03-18 14:38] Ayanmullick commented on #49908
Thanks for the update, @bwren. Is it technically possible to enable boot diagnostics thru the diagnostics extension?

[2020-03-18 14:38] SamaraSoucy-MSFT commented on #50377
Hi @prawin2k

We will check into this and get back with you shortly.

[2020-03-18 14:41] hostmatic opened #50410 "AD Connect 1.4.18 does not reflect correct verify method whetever ADFS was configured by AD Connect"
As pointed out by ZaherButt in issue https://github.com/MicrosoftDocs/azure-docs/issues/41390 - Should be rewritten so that it mentions Additional Tasks &gt; Manage Federation, scroll to Active Directory Federation Services (AD FS) when on version 1.4.18 for verifying whetever the administrator should go with option B or A.

In my case it's Option A - It showed that prior to me upgrading to 1.4.18

[2020-03-18 14:45] #50390 closed

[2020-03-18 14:46] SamaraSoucy-MSFT commented on #50394
Hi @tkumark

Can you confirm that you've gone through the setup instructions in this doc?
[https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-vm](https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-vm#configure-snapshot-collection-for-applications-using-aspnet-core-20-or-above)

If so, we can work through some further troubleshooting.

[2020-03-18 14:46] jpdfr-msft opened #50411 "Front-End Ip Addresses"
What is the interest of
"You can configure the application gateway to have a public IP address, a private IP address, or both." (the Both)
if few lines later :
"Only 1 public IP address or 1 private IP address is supported. You choose the front-end IP when you create the application gateway."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-03-18 14:47] chrsdrhm opened #50412 "This policy blocks device registration"
Enabling this policy does require that the MFA (Security Info) site is only accessible from a trusted location, which is great. However, this policy also requires mobile devices to be on a trusted network, otherwise device registration with Azure AD is blocked. Is this expected? I would not think it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-18 14:51] bruceokallau commented on #50162
@likebupt The ageFromName tool needs two disparate datasets: mortality rates for the last 100 years and the total births by name for the last 100 years. Then I need to input a third dataset with my own names to get an age prediction.

[2020-03-18 14:57] Unders0n commented on #50348
@femsulu i also have one side question, mb you can answer here? Can i get KB id after creating it using api? all i get is payload like this:
{
  "operationState": "NotStarted",
  "createdTimestamp": "2020-03-18T02:40:28Z",
  "lastActionTimestamp": "2020-03-18T02:40:28Z",
  "userId": "asdasdasdasd",
  "operationId": "asdasdasdasdsad"
}
so like some async operation goin on?, but i need id to match i

[2020-03-18 15:05] PatAltimore commented on #50205
Hi @xtianus79,

I'm going to close this issue. If you still have questions for this issue, please reopen it.

Thanks,
Pat

#please-close

[2020-03-18 15:05] #50205 closed

[2020-03-18 15:11] PramodValavala-MSFT commented on #50404
@zakkra The production slot would still be running, so any orchestrations that started would continue to run. Hence, not wait for them to finish.

If external events are driven via HTTP requests, I believe they would indeed fail. But if they are driven via queue messages, then should still work as expected.

Ideally, when dealing with event sources, trigger configuration should come from app setti

[2020-03-18 15:12] sdgilley commented on #49355
@robert4os thanks for your comments.  I'm now working on changing the deploy tutorial, to cut out the local model and instead test on the deployed model.  That takes one of the three  environments out of play.  Also I'm registering an environment in the training tutorial and then using that environment during deployment to make sure both use the same scikit-learn version.

New versions of the tuto

[2020-03-18 15:12] #49355 closed

[2020-03-18 15:12] RyanLWilliams commented on #50341
I found the issue to be that the portal displays the Desktop Application Group friendly name. Just had to set that instead.

The DSC extension when it creates a host pool does this and sets it to be the host pool name.

[2020-03-18 15:12] #50341 closed

[2020-03-18 15:13] JohnLBevan commented on #48956
Note: There is an `OrganizationalUnitDistringuishedName` parameter that can be used if you wish to target an explicit OU by DN.

[2020-03-18 15:14] BreakingBI opened #50414 "Typo in Dataset Creation Script"
Good morning,

There appears to be a typo in the Dataset Creation Script in the https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#create-a-tabulardataset Section.  I'm assuming the first path should be 'weather/2018/11.csv'.

# create a TabularDataset from 3 paths in datastore
datastore_paths = [(datastore, 'ather/2018/11.csv'),
                   (datastore,

[2020-03-18 15:14] Hantsch commented on #47957
@KranthiPakala-MSFT still no update? Can you urge this? I stumbled uppon the same issue and this can get frustrating for people following your guidlines!

[2020-03-18 15:19] AnandKatta opened #50415 "Couldn't able to get swagger page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create a basic ingress controller in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/

[2020-03-18 15:34] spelluru commented on #47957
@ksgopal4 @Hantsch - sorry for the delay. It has been hectic for past few weeks.

Please see these samples on GitHub:

https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples

Sample 4 script shows how to checkpoint and read only new message:
Sample04_BasicCheckpointing.cs

await eventArgs.UpdateCheckpointAsync(cancellationSource.Token);

Eve

[2020-03-18 15:37] shashishailaj commented on #50183
#please-close

[2020-03-18 15:37] #50183 closed

[2020-03-18 15:38] shashishailaj commented on #50291
@cjlpowers We are trying to validate this internally and will update this thread once we have more information.

Thank you.

[2020-03-18 15:40] rishabpoh commented on #50079
Hey @acworkma, thanks for your feedback! The wiki link already says to use the "sudo yum install blobfuse fuse" command. This seems to be a permissions issue, not a blobfuse one. Can you make sure your user has the rights to mount to the folder you want the container to mount to?

[2020-03-18 15:40] MarileeTurscak-MSFT commented on #50396
@JeremyTBradshaw
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 15:42] MarileeTurscak-MSFT commented on #50398
@jurajgh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 15:43] mahortas opened #50416 "Update regarding UsePolicyBasedTrafficSelectors"
It appears it is not longer possible to set UsePolicyBasedTrafficSelectors in the policy. This is now done for the connection, by creating a Traffic Selector policy and applying it to the specific connection:
$trafficSelectorPolicy = New-AzIpsecTrafficSelectorPolicy -LocalAddressRange ("10.0.0.0/16") -RemoteAddressRange ("10.1.0.0/16")
Set-AzVirtualNetworkGatewayConnection -VirtualNetworkGatewayCo

[2020-03-18 15:43] nludovice opened #50417 "Roadmap for writeback"
I'm wondering what the timeline is for writeback I have several use cases for the cloud provisioning but it doesn't really work if there is no writeback functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78df7264-65d5-2d1d-6ab6-fba278b6d83f
* Version Independent ID: c432ef7b-c2ba-50d9-2d54-0fdc3aebe7d4
* Con

[2020-03-18 15:44] MarileeTurscak-MSFT commented on #50408
@darkhawk311
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 15:44] pygna84 commented on #49748
Ok, is a limitation but what it is the default behavior?
I'm working on a query using windows and I need to understand the window end. Using _System.timestamp()_ it always return the system time even though I'm using it together with TIMESTAMP BY myTimestampField opposite to what is described [here](https://docs.microsoft.com/en-us/stream-analytics-query/system-timestamp-stream-analytics)
How can

[2020-03-18 15:51] MarileeTurscak-MSFT commented on #50410
@hostmatic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 15:52] MarileeTurscak-MSFT commented on #50412
@chrsdrhm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 15:53] MarileeTurscak-MSFT commented on #50417
@nludovice
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 15:53] LauraBrenner commented on #50383
Added the info to the doc and publishing today.

[2020-03-18 15:56] fume commented on #46728
I still don't see this thing documented. Is there any PR opened?

[2020-03-18 15:56] shashishailaj commented on #50283
@lzw-all-in You are welcome . :)

[2020-03-18 16:02] MarileeTurscak-MSFT commented on #50417
Hi @nludovice ,

Currently there's no roadmap, but the team is accepting feature requests and requirements for cloud provisioning and prioritizing based on popularity and need. If you upvote and add your comments to this [feature request](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39198589-aad-connect-cloud-provisioning-add-support-for-pa) the product team can resp

[2020-03-18 16:02] MarileeTurscak-MSFT commented on #50417
Hope this helps and sorry that I don't have a better ETA!

[2020-03-18 16:02] #50417 closed

[2020-03-18 16:06] jarthu3 opened #50420 "Can we disable NW in Azure Gov?"
Getting the following when trying to execute the PowerShell in this document in Azure Government (multiple subscriptions).  Is this available in Azure Gov?

Register-AzProviderFeature -FeatureName DisableNetworkWatcherAutocreation -ProviderNamespace Microsoft.Network
Register-AzResourceProvider -ProviderNamespace Microsoft.Network
Register-AzProviderFeature : The feature 'DisableNetworkWatcherAuto

[2020-03-18 16:08] SaurabhSharma-MSFT commented on #50313
@davidobrien1985 No, that is not possible without pushing the image to Container registry.  When you push any image after enabling the container registries feature from Azure Security Center blade on Azure Portal, then this image is pulled from Azure Security center to perform scan and provide your recommendations if the image is vulnerable.

[2020-03-18 16:10] nludovice commented on #50417
Thanks for the quick response, I up voted the feature request! If it's any
consolation this is for a 30k+ user environment at Komatsu and we have a
strong need for the option :-)

Nick

On Wed, Mar 18, 2020 at 11:03 AM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-03-18 16:18] rwaal commented on #43516
I have just created an "idea" on feedback.azure.com for adding support for GitHub Enterprise. For anyone reading this issue, please vote for the idea so that it hopefully gets implemented.

https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/39965746-support-github-enterprise-for-acr-task-triggers

[2020-03-18 16:19] hashimsingh opened #50421 "get app_displayname in token claims for client credential flow"
I have register 2 different apps with azure app registration. App "A" expose apis and role, App  "B" has permission to read app "A" APIs. I am able to get token successfully with expected Rols.

Now i want to get app_display in token claims. i see app_display name with V2 when scope="micrsoft graph". When i change scope to app "A" URI, i get token successfully but no displayname.

How can i have d

[2020-03-18 16:20] VanMSFT commented on #45054
#please-close

[2020-03-18 16:20] #45054 closed

[2020-03-18 16:20] townendk opened #50422 "Environment not scaling down off-peak, any missing steps?"
I have a 4x host deployment to try and prove the concept of this solution. Scaling up when peak hours begins seems to work fine, but upon scaling down - the process only manages the first VM in the pool then it seems to time out/fail. This is the output from my automation job where it will just hang until the next job starts - then they both fail within a few minutes.

Starting WVD tenant hosts sc

[2020-03-18 16:20] BharathNimmala-MSFT commented on #50399
@amergey Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-03-18 16:21] VanMSFT commented on #48474
Will discuss doc edits with @DavidTrigano

[2020-03-18 16:21] hamiltonha commented on #50380
We will be updating this documentation soon with the general availability of Auth Code + PKCE for MSAL.js coming in the next month or so

[2020-03-18 16:21] MarileeTurscak-MSFT commented on #50154
Thanks for pointing this out. Safari was just missing from the documentation. I made a pull request to add Safari to the list of supported browsers. https://github.com/MicrosoftDocs/azure-docs-pr/pull/108157

[2020-03-18 16:21] #50154 closed

[2020-03-18 16:28] aleksbor commented on #37127
@MashaMSFT we side-load sql and did not see integration with Azure Portal (resource provider was enabled in a subscription). I was able to install SQLIaaS extension using powershell, but it is still in the "transitioning" state; at least now we can see SQL controls in Azure Portal.  So, what is the difference between the two and why SQLIaaS extension exists if you have a resource provider?

[2020-03-18 16:29] rachel-msft commented on #50149
@beelesnik For safety reasons, in the database as a service model the service keeps the superuser permission and writing code in C is restricted.

[2020-03-18 16:30] JnHs commented on #50346
Thanks again @jtuliani - the topic has been corrected. #please-close

[2020-03-18 16:30] #50346 closed

[2020-03-18 16:31] KranthiPakala-MSFT commented on #50395
@Siby22071989 Thanks for reaching out. We are reaching out to internal team to get an update about your query. Will keep you posted as soon as we have a response from the team.

[2020-03-18 16:33] zakkra commented on #50404
Thank you for your quick answer. The problem is that a separate service issues these events. This service would need to know when slots are swapped in order to target the correct one. I can't even send the URL back from the orchestrator's HTTP trigger as it is yet another service that triggers the orchestrator. All my clients can realistically only ever target the production slot.

I think I am go

[2020-03-18 16:41] GlobeProgger opened #50423 "System.Xml.XmlException on blobClient.DownloadAsync()"
Using Azure.Storage.Blobs (12.4.0) I Followed the tutorial step by step up to "Run the code" where I get an XmlException with the following stack trace:

System.Xml.XmlException
  HResult=0x80131940
  Message=Name cannot begin with the ' ' character, hexadecimal value 0x20. Line 145, position 13.
  Source=System.Private.Xml
  StackTrace:
   at System.Xml.XmlTextReaderImpl.Throw(Exception e)
   at

[2020-03-18 16:41] Mike-Ubezzi-MSFT commented on #50364
@Vijaydaswani Thanks for this detail as this functionality is supported with premium tier. Can you please open a support ticket with Azure Support, as this is a product related issue: [Create a Support Ticket](https://azure.microsoft.com/en-us/support/create-ticket/)

[2020-03-18 16:56] yoelhor commented on #49984
Yes, you can replace the out of the box cancel button with your own, using HTML template.

[2020-03-18 17:02] MashaMSFT commented on #50344
Hi @mleneveut , my apologies for the confusion, and thank you for your feedback! I tried to overcome this confusion by providing explicit directions to navigate to the _server_ once you've opened your database in the portal:

![image](https://user-images.githubusercontent.com/32783170/76985899-2b8f1280-68fe-11ea-8e0e-485f0bbdb4da.png)

If there was a note on step 3 explaining why it's necessary to

[2020-03-18 17:04] MartinJaffer-MSFT commented on #50382
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-18 17:05] Karishma-Tiwari-MSFT commented on #48405
@RicksterCDN Did you get a chance to look into this request?

[2020-03-18 17:08] Ericgre opened #50426 "schema not valid with dark theme"
when using dark theme, the private endpoint schema is unreadable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22711686-7353-1674-4313-96801a0808dc
* Version Independent ID: ef864bd9-a9ad-3537-18e3-9cd41f035ffb
* Content: [Network security for Azure Event Grid resources](https://docs.microsoft.com/en-us/azure/event-g

[2020-03-18 17:09] MartinJaffer-MSFT commented on #50397
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-18 17:09] townendk commented on #50422
There are no errors or warnings logged against the failed automation task, but this is listed as an exception:

The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: ActivityId: Powershell commands to diagnose the failure: Get-RdsDiagnosticActivities -ActivityId

[2020-03-18 17:10] MarkRoddick commented on #44790
Hi,

yeah I am too still seeing the intermittent WinRM timeout issues..

[code]

[code]

[2020-03-18 17:11] sethmanheim commented on #50054
@amjad-Alhusseini Thank you for pointing this out. Although Baidu is no longer accepting any new projects for push, current customers can still use it. Therefore, we are removing the "deprecated" notes from this tutorial. Thanks again for reaching out! #please-close

[2020-03-18 17:11] #50054 closed

[2020-03-18 17:12] MartinJaffer-MSFT commented on #50401
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-18 17:13] Karishma-Tiwari-MSFT commented on #47737
@bobbytreed Did you get a chance to look into this doc-enhancement request? Thanks :)

[2020-03-18 17:14] Karishma-Tiwari-MSFT commented on #47678
@ramankumarlive Did you get a chance to look into this doc-enhancement request? Thanks :)

[2020-03-18 17:17] MarileeTurscak-MSFT commented on #50410
Thanks! It looks like my pull request never got merged, but I went ahead and merged it. Are you saying that it no longer shows you the ADFS configuration if you have ADFS configured?

[2020-03-18 17:18] MartinJaffer-MSFT commented on #50403
@phetzel1  Thank you for bringing this issue to our notice.  I am assigning this to the author, @mamccrea , for evaluation and update as appropriate.

[2020-03-18 17:20] MartinJaffer-MSFT commented on #50405
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-18 17:21] MartinJaffer-MSFT commented on #50406
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-18 17:24] #50414 closed

[2020-03-18 17:24] Karishma-Tiwari-MSFT commented on #47458
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-18 17:24] #47458 closed

[2020-03-18 17:28] BharathNimmala-MSFT commented on #50027
@Mobrockers That should be expected behavior where we are trying to redo the same activity of delete with additional force flag. It would return 204 status code. Will request to see the possibility to reverse the order in your script where you perform the hard-delete via the deletion API first with force flag and then delete the containing resource  group. (or) also see the feasibility of using [d

[2020-03-18 17:28] #50027 closed

[2020-03-18 17:31] Karishma-Tiwari-MSFT commented on #47439
@TomShinder Did you get a chance to look into this doc request? Thanks :)

[2020-03-18 17:32] MGoedtel commented on #50386
@Xandven - While I appreciate you have tested this and feel it is supported or should be supported, the [documentation](https://docs.microsoft.com/en-us/azure/automation/automation-update-management#supported-client-types) is clear and reflects what the product group is supporting today. Windows 10 and other Windows client OS's aren't supported by the UM solution, as a result of our customers pred

[2020-03-18 17:32] #50386 closed

[2020-03-18 17:35] benc-uk opened #50427 "Not available for Linux"
This is seems a huge gap, is this on the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7381b091-aaae-a2cd-7bfd-8c4aa46fae76
* Version Independent ID: cca1bd5f-311f-c738-7226-b4927c3dcf91
* Content: [Azure Functions custom handlers (preview)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-cus

[2020-03-18 17:37] vladvino commented on #44571
@mikebudzynski please comment.

[2020-03-18 17:38] MarileeTurscak-MSFT commented on #50408
I think this is a good thing to call out, thanks! I made a pull request to update the commands with your suggestions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/108172

[2020-03-18 17:38] #50408 closed

[2020-03-18 17:46] DixitArora-MSFT commented on #50219
@BradHester I agree with you but there is a already a separate doc which discuss about error handling in APIM policies. https://docs.microsoft.com/en-us/azure/api-management/api-management-error-handling-policies

[2020-03-18 17:49] dreamuth commented on #46011
This page is dedicated to JMS, I couldn't find any example for JMS with session enabled queue. Could you please provide the exact link to the sample file?

[2020-03-18 17:50] mimckitt commented on #49621
For Gen 2 images, you can use the information in this document to determine which images support gen 2

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/generation-2

As per all the different versions of windows that have r2, evd, I am not sure what those mean exactly. I would follow the windows 10 release pages here: https://docs.microsoft.com/en-us/windows/release-information/

Th

[2020-03-18 17:54] MarileeTurscak-MSFT commented on #50391
Thanks! I have assigned this to @cmmdesai as requested.

[2020-03-18 17:55] DixitArora-MSFT commented on #50221
@foyezah AFAIK, this should be same. Follow the doc how to use Azure API Management with virtual networks which clearly explain between external and Internal. https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#-enable-vnet-connection

**External**: The API Management gateway and developer portal are accessible from the public internet via an external load balancer

[2020-03-18 17:56] DixitArora-MSFT commented on #50427
Hi @benc-uk Thanks for reaching out. We will review and update as appropriate.

[2020-03-18 17:57] DixitArora-MSFT commented on #50426
Hi @Ericgre Thanks for your feedback. We will review and update as appropriate.

[2020-03-18 18:02] cmmdesai commented on #50391
@AmitavaHazra I don't think this approach will work. Can you drop me a mail at chetan.desai@microsoft.com so we can get on a call to discuss your integration scenario? We will be able to move faster that way.

[2020-03-18 18:04] Mobrockers commented on #50027
Yes we have reversed the order. Was just suggesting that it might be useful to add to the docs that you cannot make a soft delete permanent by following with a hard delete. Thank you for your help.

[2020-03-18 18:08] BillmanH opened #50430 "Broken links in page"
Above:
When configuring your experiments, you can enable the advanced setting featurization. The following table shows the accepted settings for featurization in the AutoMLConfig class.

https://docs.microsoft.com/en-us/python/api/azureml-train-automl/azureml.train.automl.automlconfig?view=azure-ml-py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-18 18:09] mikebudzynski commented on #44571
@RicoSuter all email notifications should point to the respective developer portal except for subscription email notifications. I have created an Issue in the developer portal repository for tracking: https://github.com/Azure/api-management-developer-portal/issues/547

[2020-03-18 18:11] SumanthMarigowda-MSFT commented on #50128
@Venopsis Apologies for the delay! That's correct. Archive doesn't support ZRS today, so to set tier to Archive the customer would have to use LRS/GRS/RA-GRS

[2020-03-18 18:13] aahill commented on #49498
Hi @BreakingBI - Thanks for bringing this to our attention. I've updated the documentation so both sets of variables match. This should help with confusion here.

Thanks again
#please-close

[2020-03-18 18:14] #49498 closed

[2020-03-18 18:15] SumanthMarigowda-MSFT commented on #50202
@gc435  and @brewst001  I would like work closer on this issue. I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2020-03-18 18:20] SumanthMarigowda-MSFT commented on #50237
@icelava Your storage account access keys are similar to a root password for your storage account. Always be careful to protect your access keys. Use Azure Key Vault to manage and rotate your keys securely. Avoid distributing access keys to other users, hard-coding them, or saving them anywhere in plain text that is accessible to others. Rotate your keys if you believe they may have been compromis

[2020-03-18 18:23] MarileeTurscak-MSFT commented on #50398
Mine seems to be working okay and I'm not seeing this issue. Are you still having this problem now? Which region are you in?

Can you try in a new browser using incognito?

[2020-03-18 18:33] Pikhulya opened #50433 "Support for AAD Registered devices"
Does this feature work with AAD Registered (vs AAD Joined) devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c66f8a-1c40-e31c-5c7e-7870b7d65e0c
* Version Independent ID: 3e8301bc-8e4d-ee23-8770-2f75e170e01a
* Content: [Passwordless security key sign (preview) - Azure Active Directory](https://docs.microsoft.com

[2020-03-18 18:35] kbetts-wwt opened #50434 "Document references "two" methods when there are actually 3"
The document reads: "When resources deployed in virtual networks need to resolve domain names to internal IP addresses, they can use one of **two** methods:"

However there are **three** methods listed. Please update the language to reference **three** methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-04

[2020-03-18 18:36] CeciAc opened #50435 "I'm not able to retrieve the data added with the Xamarin.Forms application from the SQL Database."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.it-it/issues/428
Please check the original comment, the contributor placed some screenshots

@TheKlingon commented 15 hours ago — with docs.microsoft.com
Hi.
I followed the document for the Xamarin.Forms app, but this doesn't receive the data from the database.
I'm searching for a solution, but I'm wondering if there is s

[2020-03-18 18:41] VanMSFT commented on #41001
Hello @StingyJack! Sorry for the delay. Thanks for submitting this issue. The example is using the method SqlConnectionStringBuilder from System.Data.SqlClient, and the connection string is there:

![image](https://user-images.githubusercontent.com/40007119/76995479-27b6bc80-690d-11ea-9601-dd46a7758b99.png)

Are you asking for a sample connection string for a C# program? This isn't necessarily lis

[2020-03-18 18:45] BhargaviAnnadevara-MSFT commented on #50377
@prawin2k AFAIK, it should be possible. How simple or complex it would be to accomplish would depend on your current environment and the type of ASE you have (internal/external).

As far as Availability tests go, you can set them up for any HTTP or HTTPS endpoint that is **accessible from the public internet**.

When you create a URL Ping Test, the URL can be any web page you want to test, but the

[2020-03-18 18:46] VanMSFT commented on #46733
Hello @mattsmall1972! Thanks for submitting this issue. I'm looking into whether we can advise on this matter, as it may require troubleshooting, and we don't do that in this forum.

[2020-03-18 18:46] Ayanmullick commented on #49621
Yes, @mimckitt , I'm looking for the **latest** Gen2 image with office in it ie. for the `office-365` offer. I'm guessing the `office-365` offer images would have additional bells and whistles for one to log into the OS with one's O365 id.

[2020-03-18 18:46] MarileeTurscak-MSFT commented on #50421
@hashimsingh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 18:48] femsulu commented on #50421
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-18 18:49] VanMSFT commented on #47257
Hello @StingyJack - Can you please provide details on what doesn't work with PowerShell (what version)? Can you also reference the other issue you are talking about? Thanks!

[2020-03-18 18:51] Pikhulya opened #50436 "Unable to access "Add method""
I'm unable to follow the step #4 from https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key#user-registration-and-management-of-fido2-security-keys. Once I do #3 by clicking on the Security info, I'm redirected to the page saying: "don't lose access to your account!" which displays to *green* checkboxes near "Authentication Phone" and

[2020-03-18 18:52] VanMSFT commented on #47676
Hello @theGrower! Thanks for submitting this issue. I'm checking with our Product Group on the sample app.

[2020-03-18 18:53] VanMSFT commented on #44592
Sorry for the delay! I'm checking with the Product Group on this.

[2020-03-18 18:56] VanMSFT commented on #49643
Hi @loboc101! Thanks for submitting this issue. The Encryption in Transit portion should apply to Azure SQL DW as well, but I'll need to check with @julieMSFT on this.

@julieMSFT - Can you confirm?

[2020-03-18 18:58] VanMSFT commented on #40578
Hi @rohitnayakmsft - Can you help provide a more in-depth answer on non-encrypted connections to Azure SQL Database? Thanks!

[2020-03-18 19:00] brettsam commented on #32244
If the issue here is all v1 -- try using the tracing level instead. https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1#tracing. In v1 we have different log outputs (unfortunately) controlled by different settings.

[2020-03-18 19:02] jurajgh commented on #50398
@MarileeTurscak-MSFT thx for the response - thing is, we deployed the preview to a bunch of users (new and old ones as well), and so far all had the same experience upon enrolling their MFA + SSPR via this combined experience: they all finished at the error message in the screenshot. not sure what to do to troubleshoot, since it's not user-specific..

[2020-03-18 19:02] MartinJaffer-MSFT commented on #50139
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-18 19:02] #50139 closed

[2020-03-18 19:03] rohitnayakmsft commented on #40578
The way TDS protocol works is that clients can negotiate whether to connect unencrypted or not. For most drivers ( esp those that are supported by Microsoft) Azure SQL Database will encrypt the communication even if client specified to connect unencrypted. There is a minority of older drivers like jTDs and unsupported JDBC drivers that can still negotiate down and connect unencrypted.

[2020-03-18 19:05] VanMSFT commented on #40578
Thanks, @rohitnayakmsft!

@rehantahir - I hope that answers your question. We'll go ahead and close this for now, but please let us know if you have any concerns.

#please-close

[2020-03-18 19:05] #40578 closed

[2020-03-18 19:08] CeciAc opened #50437 "bug"
Hi team,
As per this issue: https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/582
The contributor reports broken formating.
Localized versions are MT and out of our scope.
Please, check if the format in the en-US is correct or if something incorrectly tag which result in this error during the MT process

Kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-03-18 19:12] VanMSFT commented on #44211
Following up with the Product Group on this.

[2020-03-18 19:13] mimckitt commented on #49621
Thanks for that. Looking into it, the Windows 10 images with office plus installed do not support Gen2 at this time. The only Windows 10 versions I found that do are

Windows 10 Pro
Windows 10 Pro N
Windows 10 Enterprise
Windows 10 Enterprise N
Windows 10 Enterprise N 2019 LTSC
Windows 10 Enterprise N 2016 LTSB
Windows 10 Enterprise 2019 LTSC
Windows 10 Enterprise 2016 LTSB

I can adjust this docu

[2020-03-18 19:15] VanMSFT commented on #44237
Following up with the Product Group.

FYI - @MladjoA

#reassign:MladjoA

[2020-03-18 19:16] VanMSFT commented on #48788
#please-close

[2020-03-18 19:16] #48788 closed

[2020-03-18 19:17] lisaguthrie commented on #49408
@jixer - thanks for catching that outdated screen shot, and so sorry for the inconvenience caused. I've updated it.

#please-close

[2020-03-18 19:17] #49408 closed

[2020-03-18 19:18] Ayanmullick commented on #49621
Is there a tentative ETA for Gen2 support for the `office-365` offer images? The latest version of `Windows 10 Enterprise` in the `MicrosoftWindowsDesktop` offer is `19h2`. Is there an ETA for when the `20H1` version would be available?

[2020-03-18 19:19] VanMSFT commented on #49522
Checking with Rohit

[2020-03-18 19:22] mimckitt commented on #49621
I personally am not sure.

let me check and get back on this.

[2020-03-18 19:23] VanMSFT commented on #49851
Hi @Lycrosa! Thanks for submitting this issue. I don't think the image shows all scenarios of access to Azure SQL Database. But I believe you are right, that enabling Private Endpoints does not automatically disables Public Endpoints.

@rohitnayakmsft to confirm

[2020-03-18 19:29] VanMSFT commented on #42056
Hello @OzBob! Thanks for submitting this issue. I'm following up with the Product Group on this, and will get back to you.

[2020-03-18 19:31] VanMSFT commented on #43464
@rohitnayakmsft to confirm, and if doc changes are needed.

@blueelvis - Thanks for submitting this issue. Sorry for the delay!

[2020-03-18 19:33] xtianus79 commented on #50205
@PatAltimore thanks pat.  I do have more questions about this architecture in general. What would be a good place to discuss these questions.

[2020-03-18 19:36] PatAltimore commented on #50205
Hi @xtianus79,

The best list of support and feedback links can be found here: https://docs.microsoft.com/en-us/azure/blockchain/workbench/overview#support-and-feedback

Hope that helps,
Pat

[2020-03-18 19:38] PatAltimore commented on #50205
Hi @xtianus79,

Sorry. That was for Workbench. The list is basically the same for Azure Blockchain Service. https://docs.microsoft.com/en-us/azure/blockchain/service/overview#support-and-feedback

Thanks,
Pat

[2020-03-18 19:39] hostmatic commented on #50410
Hello,

Not in the "View Current Configuration" But it did show ADFS configuration under Manage Federation as pointed out by ZaherButt.

This helped me ensure that i needed to use Option A.
The AD Connect GUI also says when it's trying to change the domains to managed so that way a admin can also verify it there or if they need to continue with the steps in option B.

Great article overall - Just

[2020-03-18 19:41] rohitnayakmsft commented on #49522
@dcbrown16  You do not  need Vnet-to-Vnet VPN to connect "to a SQL Database from an Azure VM in a different region or subscription." The intent of putting that sentence is to inform customers that Private Link works with various Vnet patterns that are offered by Azure Networking.

[2020-03-18 19:42] PatAltimore commented on #50207
Hi @xtianus79,

I published an update to the tutorial to use the dev kit instead of sendrequest.js. The changes should go live later today. Hope that helps. Requesting to close the issue.

Thanks,
Pat

#please-close

[2020-03-18 19:42] #50207 closed

[2020-03-18 19:42] #44211 closed

[2020-03-18 19:42] rohitnayakmsft commented on #49851
@Lycrosa you are correct. Creating a private endpoint does not automatically disable public endpoint access. We recently released a new feature for customers to accomplish this https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-settings#deny-public-network-access

[2020-03-18 19:43] bwren commented on #49908
I don't think so. It's not part of the diagnostics extension.  Just exposed next to it in the portal.

[2020-03-18 19:43] VanMSFT commented on #44211
Update our doc with the correction. Thank you so much, @cmosqu for bringing up this issue. We appreciate the help on our documentation.

[2020-03-18 19:44] MladjoA commented on #44237
@cmosqu , thanks for your questions and for the feedback on TDE with customer-managed keys!
Both "High availability with customer-managed TDE" and "Geo-DR and customer-managed TDE" section apply to Azure SQL Managed Instance as well.
Customer motivation behind using customer-managed keys requires complete control over keys to be on customer, without possibility for service to handle or even access

[2020-03-18 19:44] VanMSFT commented on #49522
Thanks, @rohitnayakmsft!

@dcbrown16 - We hope that answers your question. If you have any concerns, please feel free to let us know.

#please-close

[2020-03-18 19:44] #49522 closed

[2020-03-18 19:45] VanMSFT commented on #49851
Thanks, @rohitnayakmsft!

#please-close

[2020-03-18 19:45] #49851 closed

[2020-03-18 19:48] DanielLarsenNZ commented on #44211
Hey @VanMSFT, how long will it take for docs to update?

[2020-03-18 19:49] VanMSFT commented on #44211
@DanielLarsenNZ - We should see it updated by this evening Pacific Time. I would check back tomorrow.

[2020-03-18 19:49] matendie commented on #31781
still broken
I got my example from : https://docs.microsoft.com/en-us/azure/cosmos-db/manage-with-powershell

`# Change the failover priority for an Azure Cosmos Account
# Assume existing priority is "West US 2" = 0, "East US 2" = 1, "South Central US" = 2

$resourceGroupName = "myResourceGroup"
$accountName = "mycosmosaccount"

$failoverRegions = @(
    @{ "locationName"="West US 2"; "failoverPri

[2020-03-18 20:03] VanMSFT commented on #46733
Hello @mattsmall1972! Unfortunately, getting this to work on UWP is not something we can assist with. I advise you to contact Microsoft Support, or use the following links for additional assistance.:

- [UserVoice: Have suggestions for improving SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Set up and upgrade: MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?

[2020-03-18 20:03] VanMSFT commented on #46733
#please-close

[2020-03-18 20:03] #46733 closed

[2020-03-18 20:05] KranthiPakala-MSFT commented on #50132
@tangdi Here

-  "A-> B" means Trigger A run is dependent on Trigger B run. Trigger A will run only if the Trigger B run is completed.

- The 'Yellow' color means the dependency window. For example if you look at below image, it means that 10 - 11 time frame of Trigger A run depends on 10 - 11 time frame (window) of Trigger B run, i.e., only when 10 - 11 Trigger B run completes, then Trigger A fir

[2020-03-18 20:08] VanMSFT commented on #47676
Hello @theGrower! I checked with our Product Group, and unfortunately, we don't have the cycles to provide a new sample application at the moment. We will plan to have this article updated in the future, but there are currently no ETA I can provide. If the document gets updated, I will provide an update on this thread.

Please feel free to let us know if you have any concerns. I will close this th

[2020-03-18 20:08] #47676 closed

[2020-03-18 20:17] Karishma-Tiwari-MSFT commented on #50415
Can you please share which link is not working for you, by pointing to the specific place in the document? Thanks :)

[2020-03-18 20:17] vladik-hbinov commented on #47676
Why close this thread?
People are looking for a solution to this issue and if they see it's
already open and waiting for an update they won't need to write to you
again.
Just tell us if it's possible to authenticate to an Azure SQL database with
a user that has MFA enabled from .net core.

On Wed, Mar 18, 2020, 22:08 Van To <notifications@github.com> wrote:

[2020-03-18 20:21] HenkoR opened #50439 "Missing environment variable in docker compose file"
In the first docker-compose file https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-multi-container-app?source=docs#download-the-sample there is a missing environment variable "WORDPRESS_DB_NAME"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Independen

[2020-03-18 20:22] VanMSFT commented on #47676
Hi @vladik-hbinov! We appreciate the feedback. As I'm tracking this internally, there's no need to keep this GitHub Issue open. If customer's need immediate assistance, I recommend contacting Microsoft Support. This forum is for documentation changes, and unfortunately, we cannot assist with a new sample at the moment. This forum is not meant to track support issues. Here are the different ways yo

[2020-03-18 20:23] CeciAc opened #50440 "add limits forManagement Groups"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/578

@dvherk commented 9 hours ago — with docs.microsoft.com
please the Management Groups as a seperate paragraph (above subscription limits?). Input from this page can be used; https://docs.microsoft.com/en-us/azure/governance/management-groups/overview
Please add also if there are limits to the number of su

[2020-03-18 20:30] VanMSFT commented on #43464
Hello @blueelvis! I've confirmed that the **Allow Azure Services and resources to access this server** is part of the 128 rules limit. I will update the doc now. Thanks again!

[2020-03-18 20:31] #50132 closed

[2020-03-18 20:35] KranthiPakala-MSFT commented on #50132
@tangdi  I have also submitted a PR to add the video to this doc and it should be live within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-03-18 20:39] pragnagopa commented on #50427
Please use custom containers to linux: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image

[2020-03-18 20:41] mjcarrabine commented on #37127
@MashaMSFT, if the recommendation has changed in the last 6 months from using the SqlIaasAgent extension to registering the VM with the SQL VM resource provider, then I no longer have a need to install the extension.

However, we are using 1. ARM templates for deployment, and 2. Azure DSC for configuration. Any steps in the process that cannot be added to those processes reduces the reliability an

[2020-03-18 20:46] holietenk commented on #50383
Some typos are in the text.
I would like to suggest the following text:

[2020-03-18 20:47] femsulu commented on #50440
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-18 20:51] Lycrosa commented on #49851
Hey, thanks for linking this. But the reason I opened this, was because the picture does not describe the scenario of this guide. This is not fixed yet, so please reopen this issue.

Thanks

Pascal

[2020-03-18 20:57] juntakata opened #50442 "What is IsContentDeliveryPolicyEnforced"
The general limitation in https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-windows says:

However, we cannot find any information (GPO settings) about IsContentDeliveryPolicyEnforced. There seems to be no registry key for it. What is this setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-18 20:59] VanMSFT commented on #49851
Hi @Lycrosa - I believe the diagram you're referring to is just a sample of common use case.

![image](https://user-images.githubusercontent.com/40007119/77006904-8174b200-6920-11ea-837c-00566a9f03bb.png)

It's not meant to depict a scenario that automatically disables public endpoints.

[2020-03-18 20:59] LauraBrenner commented on #50383
I've made the fix and republished

[2020-03-18 21:04] danielsollondon commented on #44790
Hi, if you are still seeing issues, please see this:
https://github.com/hashicorp/packer/issues/8658#issuecomment-600857201

[2020-03-18 21:08] KranthiPakala-MSFT commented on #50312
Thanks @dagiro for submitting a PR for the fix.

[2020-03-18 21:12] yareyes commented on #37127
@aleksbor let me try to answer your question:

Actually the resource provider and SqlIaaSExtension go hand in hand. Before the SQL VM resource provider was released, SqlIaaSExtension could be accessed on the "SQL Server Configuration" blade in Portal.

Now that the resource provider exists, it's in charge of installing the SQLIaaSExtension on customer's behalf, so there is no need for you to insta

[2020-03-18 21:15] keatseongchan commented on #50148
Thanks for the follow up. Unfortunately, I have not gotten a chance to
repro.  There was an application deployment which need to update load
balancer along with 2 different individual updating SSH public key using az
cli instructions as documented on the document.  The feedback we got from
support is one of the VMSS update removed the load balancing binding.  I
will share more details if I get a r

[2020-03-18 21:16] VanMSFT commented on #47676
@vladik-hbinov - To answer your last question:

It’s possible. But it’s not built in to SqlClient on .NET Core. (It is built into Microsoft.Data.SqlClient on .NET Framework.) In order to do MFA authentication when it’s not built in, the application needs to obtain the access token itself using Azure authentication libraries and pass it into the SqlConnection.AccessToken property before opening the

[2020-03-18 21:29] #43464 closed

[2020-03-18 21:39] TravisCragg-MSFT commented on #50411
@jpdussourd-msft Thanks for the feedback! This seems to be caused by differences between the V1 and V2 SKUs.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-18 21:39] lunar87 opened #50443 "RBAC only gives general links, nothing specific on how to add users"
https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/reservation-apis#give-access-to-reservations only list out generally how to do RBAC. It needs to provide specific examples or at least the specific powershell/cli you call to add users to a reservation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-18 21:40] mkostersitz opened #50444 "Adding the VMSS Extension for SSH access is failing with Error "The value of parameter type is invalid.""
When running this command
az vmss extension set  \
    --resource-group $CLUSTER_RESOURCE_GROUP \
    --vmss-name $SCALE_SET_NAME \
    --name VMAccessForLinux \
    --publisher Microsoft.OSTCExtensions \
    --version 1.4 \
    --protected-settings "{\"username\":\"azureuser\", \"ssh_key\":\"$(cat ~/.ssh/id_rsa.pub)\"}"

it fails with the "The value of parameter type is invalid."
The command does

[2020-03-18 21:44] MarileeTurscak-MSFT commented on #50388
@bamajeed I clicked through all of the links under that header and could not find any broken ones. Which ones were broken?

[2020-03-18 21:46] omiossec opened #50445 "Error in the first Use inline scripts sample"
Hi,

In the first [Use inline scripts sample](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#use-inline-scripts)
There is an error

[code]
scriptInTemplate1 is not defined, it should be runPowerShellInlineWithOutput
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-18 21:51] TravisCragg-MSFT commented on #50416
@mahortas Thanks for the feedback! It appears that the "New-AzIpsecTrafficSelectorPolicy" is specifically for setting policy based traffic selectors on a IKEv2 gateway, and not for a custom IPSEC policy.

I have moved this issue to the [Connecting multiple Policy Based VPN Gateways](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-connect-multiple-policybased-rm-ps) doc and assigned

[2020-03-18 21:59] TravisCragg-MSFT commented on #50420
@jarthu3 your best bet is to contact Azure Support with this question. If you do not have a support plan on the subscription, please let me know.

[2020-03-18 22:03] KranthiPakala-MSFT commented on #50312
@weihua-lu The PR for the fix has been submitted by @dagiro and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-18 22:03] #50312 closed

[2020-03-18 22:05] exgar01 commented on #38116
hello Alex, from SSE perspective the answer is NO, SSE does not support encryption on the Temp drive due the nature of the ephimeral disk, this one is not part of the storage account, is a local drive attached to the VM.
From Azure Disk Encryption perspective, the ephimeral disk, sdb1 in linux OS, Temp Drive D: in Windows OS, will be encrypted,If the ephemeral drive is reset, it will be reformatte

[2020-03-18 22:08] MarileeTurscak-MSFT commented on #50410
Thanks for this! I merged the pull request so that it shows the right configuration path, so that should resolve this. The changes should go live in 24 hours if you don't see them there yet.

Let me know if you think it needs anything else. Otherwise I'll close this issue out.

[2020-03-18 22:09] bangbingsyb commented on #29145
Why this issue was closed without any fix to the document? Missing permission configuration will make any follower of this artifact fail deterministically in this step:
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys#create-a-key-vault-managed-storage-account

[2020-03-18 22:10] TravisCragg-MSFT commented on #50434
@kbetts-wwt Thanks for the feedback! I have updated the doc to specify the proper number, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-18 22:10] #50434 closed

[2020-03-18 22:14] TravisCragg-MSFT commented on #46736
@duranmg Your best bet is to create a new issue on the appropriate doc page. This issue was closed because it does not have an associated page.

[2020-03-18 22:16] benc-uk commented on #50427
Hi, I'm trying that but it's very unclear what the base Docker image needs to be.

I've tried various `mcr.microsoft.com/azure-functions` images but none work. I don't think I need any runtime (I'm using a pre-built Golang Linux binary as my server). I've tried `mcr.microsoft.com/azure-functions/base:2.0-alpine` but I get an error "No function script files present"
I notice there's no v3.0 images

[2020-03-18 22:19] pragnagopa commented on #50427
Please use base images listed here: https://github.com/Azure/azure-functions-docker/blob/master/README.md

[2020-03-18 22:21] NavtejSaini-MSFT commented on #50376
@beelesnik The new workloads definitely has to be tested. One thing that can help here is select the minimum storage limit that will be monitor and scale up resources after that.
You can set the alerting for the same. This document explains the same"
https://docs.microsoft.com/en-us/azure/postgresql/concepts-pricing-tiers#reaching-the-storage-limit
Hope this helps. If you have any question get bac

[2020-03-18 22:25] RavennMSFT commented on #50204
Users cannot re-enable devices themselves. An admin has to do that. So users cannot self-remediate. We're providing information to the user to contact the admin to take the necessary action.

[2020-03-18 22:30] rachel-msft commented on #50376
@beelesnik Your server's main data storage and backup storage sizes are accounted for separately. Main storage size is explicitly defined by you in your server configuration. Backup storage is autosized by the service according to the amount needed for your selected retention days. The two storages also have different [pricing](https://azure.microsoft.com/pricing/details/postgresql/server/). You c

[2020-03-18 22:33] mumian commented on #50445
@omiossec  Thank you for your comment.  The changes will go live tomorrow.

#please-close

[2020-03-18 22:33] #50445 closed

[2020-03-18 22:34] MarileeTurscak-MSFT commented on #50410
Closing this but will re-open if you want anything else added :)

[2020-03-18 22:34] #50410 closed

[2020-03-18 22:37] fabio770 opened #50448 "Azure AD B2C choose Web Applications user has permission to access"
I'm doing a project where we want to centralize all the user's registration in our main website using Azure AD B2C.

In our internal web application we would like to choose which Application the user who have just signed up using B2C he/she could access. For example I could give permission to a user to access an Application A but not to access the Application B, so when he/she sign-in in this appl

[2020-03-18 22:42] TravisCragg-MSFT commented on #50333
@landro I was able to get copy & paste working with Ubuntu 1804. I had to follow the exact steps as outlined in this doc.

1) Copy the local text with ctrl+c.
2) Paste the text into the Azure Bastion clipboard (the arrows on the left of the screen can bring up the clipboard)
3) Copy the text from the Azure Bastion Clipboard using ctrl+c
4) Paste the text in the SSH session by a right click of the

[2020-03-18 22:43] benc-uk commented on #50427
I only see language runtime images there. I don't need any language support, it's a custom handler

I tried using both the node:3.0 and dotnet:3.0 images but neither start my custom server, there's always some sort of error

local tools reports version `3.0.13159.0` where is the working Docker image that supports this?

[2020-03-18 22:44] cnadler-MSFT opened #50449 "Load balance options"
Can a network load balancer sit between Azure App Proxy and the RDS gateway/web server?  Looking to create multiple RDS gateways for HA and load balancing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fcb539-bdbd-068d-46c0-44058146031e
* Version Independent ID: 15e99611-e40e-310c-1625-9e76b27cfe99
* Content: [Publis

[2020-03-18 22:58] Digiroka commented on #48956
Surprised I missed that - very useful, thank you.

[2020-03-18 23:11] SAELH opened #50450 "Rename Geo-zone-redundant storage (GZRS)"
Why Geo-zone-redundant storage (GZRS) called that?

I think it's confusing my first thought was Geo-zone-redundant storage (GZRS): copies your data synchronously across three Azure availability zones in the primary region using ZRS. It then copies your data asynchronously to three Azure availability zones in the secondary region.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-03-18 23:27] crpietschmann opened #50451 "What about ASP.NET Core 3.1 support?"
It appears there aren't any samples for using Azure AD B2C with ASP.NET Core 3.1 web apps. Also, the template project created by Visual Studio returns 500 errors... Is there a sample for ASP.NET Core 3.1 with Azure AD B2C that works somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1

[2020-03-18 23:27] TravisCragg-MSFT commented on #50051
@ramadarla We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-18 23:27] #50051 closed

[2020-03-18 23:29] dcbrown16 commented on #49522
Ok thanks.

[2020-03-18 23:30] dcbrown16 commented on #49759
Thanks everyone :)

[2020-03-18 23:31] MicrosoftGuyJFlo commented on #50204
Email out to PG for feedback.

[2020-03-18 23:37] #50436 closed

[2020-03-18 23:42] pkshultz commented on #47374
Thanks for the sharp eye @georgeAccnt-GH; I've patched the script with a PR [here](https://github.com/Azure-Samples/azure-cli-samples/pull/283).

@Karishma-Tiwari-MSFT, feel free to close this issue.

[2020-03-18 23:44] asinn826 commented on #49961
Hi @Klaas- - thanks for the feedback! We'll merge the 2 docs that you mentioned and make the old doc point to the new doc. Regarding the 7-LVM ask for RHEL 8, we have just added a RHEL 8-LVM image family and it's going through the publishing cycle now. It'll always be pointing to the latest RHEL 8 minor release. Regarding the gen2 image naming...this was a miss on our end. We should have named "8"

[2020-03-18 23:46] mchudinov opened #50452 "source code ?"
Could you please provide source code for this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44dce36e-34a3-297b-a8c2-e4339042bd3c
* Version Independent ID: f442dcb9-6014-7ca1-de8a-030b1e425759
* Content: [Create your first Service Fabric application in C# - Azure Service Fabric](https://docs.microsoft.com/en-u

[2020-03-18 23:48] bherrsk opened #50453 "Local time +undefined when picking point in time for restore"
I have noticed when attempting to restore an individual database using logs, the time picked has the following:

Local Time (UTC +undefined)

This kind of makes it a little iffy. What time is represented in the picker window? Why is it undefined like it can't query the time zone? What feeds the time zone in this window?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-03-18 23:50] benc-uk commented on #50427
I've solved it
The issue was with the Golang build stage in my Dockerfile, which was using Alpine as a base image, this results in a incompatible binary with any of the Functions images, and cryptic error messages such as "file not found"

I switched to `golang:1.13-stretch` and now it works

[2020-03-18 23:51] benc-uk commented on #50427
A working example in the docs (or the sample repo) would be very much appreciated

[2020-03-18 23:58] pragnagopa commented on #50427
Here is a sample docker file using node base image:
[code]
Copy any of the samples from: https://github.com/Azure-Samples/functions-custom-handlers to the dir with the dockerfile.

Will add this to sample repo as well.

[2020-03-18 23:59] shreyasharmamsft commented on #49112
Hey @olivoarroba, the PAYG version of TSI currently does not support querying over multiple TSIDs.

We've been asked for this feature often from our PAYG customers and its something we're considering for our future roadmap. If you'd like to have a further conversation about this and your use case, please feel free to send me an email - shresha@microsoft.com 👍

[2020-03-19 00:05] cahann commented on #49742
Thanks for the feedback. Would be happy to learn more about all the bugs that you came across in the preview portal and will be fixing them ASAP.

The new experience allow you to view any already existing composite entities but it doesn't allow you to create new ones. If you dont see the composite entiy firing this implies that the model hasn't predicted the entity.

[2020-03-19 00:06] MarileeTurscak-MSFT commented on #50398
Thanks! I've reached out to ask about outages and limitations. If we don't hear about anything though you can email me at AzCommunity@microsoft.com and send me your subscription ID, and I can get a free support case opened for you to look into this further.

[2020-03-19 00:08] MarileeTurscak-MSFT commented on #50392
@eseezeni
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-19 00:12] MarileeTurscak-MSFT commented on #50433
@Pikhulya
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-19 00:15] AmitavaHazra commented on #50391
@cmmdesai ,
I have sent mail to you. Lets have a call whenever you are available.

[2020-03-19 00:23] MarileeTurscak-MSFT commented on #50451
@crpietschmann this one is for .NET Core 3.1 https://github.com/azure-ad-b2c/apps/blob/master/apps/web-dotnet-core-oidc-b2cui/readme.md

If you'd like to request more samples you can also ask in [User Voice](https://feedback.azure.com/).

[2020-03-19 00:24] timsander1 commented on #49727
#please-close

[2020-03-19 00:24] #49727 closed

[2020-03-19 00:45] JonathanPalmerGD opened #50454 "Minor UX Pattern Issue"
Within the image on this page, on the right side there are two tabs - Overview and Flow.
Flow is currently selected.
Minor problem is that this is using a UX pattern, which prompts the user to think there is an interaction here.
We shouldn't use that pattern in a static image.

Hardly important, but a minor nit to bring up

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-19 00:55] ScottAzure opened #50455 "Can we have the Quota blade referenced as part of the experience for rewiewing Quota before opening a ticket?"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quotas doesn't really show this experience also

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e19f68c5-3917-c131-a379-3b9e3156593b
* Version Independent ID: 89f78479-edd5-f96c-b342-31e43ef72c92
* Content: [Request an increase in Azure regional vCPU quota

[2020-03-19 01:24] avinashkota opened #50456 "PowerShell Core does not have -Encoding Byte"
Ran into an issue while running the PowerShell script to upload certificate to Azure SQL MI. I had to follow the following link and the script worked

https://www.jonathanmedd.net/2017/12/powershell-core-does-not-have-encoding-byte-replaced-with-new-parameter-asbytestream.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-19 01:41] BharathNimmala-MSFT commented on #50445
@mumian Thank you for helping fix the document.

[2020-03-19 01:42] BharathNimmala-MSFT commented on #50453
@bherrsk Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-19 01:43] Karishma-Tiwari-MSFT commented on #50407
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-19 01:45] Karishma-Tiwari-MSFT commented on #50409
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-19 01:46] Karishma-Tiwari-MSFT commented on #50437
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-19 01:49] Karishma-Tiwari-MSFT commented on #49274
@hbiarge Still investigating on this issue. In the meantime, could you confirm - is the both the server/client app are programatically created using terraform like the rest of the environment, or is the AZ CLI used as the automation mechanisms.

[2020-03-19 01:51] BharathNimmala-MSFT commented on #50443
@lunar87 Thank you for your query, our team will look into it further and get back to you at the earliest.

[2020-03-19 01:51] Karishma-Tiwari-MSFT commented on #50444
Could you confirm that the following setting you are using isn't escaping the quotes

--protected-settings "{"username":"azureuser", "ssh_key":"$(cat ~/.ssh/id_rsa.pub)"}"
vs
--protected-settings "{\"username\":\"azureuser\", \"ssh_key\":\"$(cat ~/.ssh/id_rsa.pub)\"}"

[2020-03-19 01:54] BharathNimmala-MSFT commented on #50442
@juntakata Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-19 02:44] SumanthMarigowda-MSFT commented on #50402
@udaykumar54 Thanks for the question! We are investigating and will update you shortly.

[2020-03-19 02:44] HakureiAnna opened #50458 "Can't access app thru public ip."
Following the procedures as outlined on the page, I can't access the application thru the public ip of the ingress after applying frontend-ingress.yaml. The request times out each time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-

[2020-03-19 02:45] SumanthMarigowda-MSFT commented on #50450
@SAELH Thanks for the question! We are investigating and will update you shortly.

[2020-03-19 02:45] SumanthMarigowda-MSFT commented on #50423
@GlobeProgger Thanks for the question! We are investigating and will update you shortly.

[2020-03-19 02:54] mjpearse opened #50459 "Can not disable front door health probe with single enabled back end host"
RE
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-health-probes#disabling-health-probes

The documentation states:
"Even if you have multiple backends in the backend pool but only one of them is in enabled state, you can disable health probes."

This is not the case presently when attempting to do this in the Azure portal.  I can only disable them with one backend host.

If I have two

[2020-03-19 02:57] Jimbos10 commented on #50422
Experiencing the exact same issue.

[2020-03-19 02:59] Jimbos10 commented on #50422
I will add that I was able to change the errorActionPreference under the workbook to "continue" and was able to generate the following error.

Get-RdsSessionHost : ActivityId: Powershell commands to diagnose the failure: Get-RdsDiagnosticActivities -ActivityId At line:679 char:27 + ... nHostInfo = Get-RdsSessionHost -TenantName $TenantName -HostPoolName ... + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-03-19 03:00] SumanthMarigowda-MSFT commented on #50128
@Venopsis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-19 03:00] #50128 closed

[2020-03-19 03:07] Prithvi1994 commented on #50375
Hi @BhargaviAnnadevara-MSFT,
any update on this?

[2020-03-19 03:08] beelesnik commented on #50376
Ok. About server logs size - I understand. But Your note about separated account for data storage and backup made me discouraged.
Here [https://docs.microsoft.com/en-us/azure/postgresql/concepts-backup](url) I see:
Backup storage cost
Azure Database for PostgreSQL provides up to 100% of your provisioned server storage as backup storage at no additional cost.
But ok. I see that needed storage size

[2020-03-19 03:08] #50376 closed

[2020-03-19 03:17] D-Jeffrey commented on #50204
I'm an Global Admin (some times), I don't know what 135011, means.  So I Bing it and get https://www.bing.com/search?q=135011&cvid=fbb33de768914ae18dc189bf286173b0&FORM=ANNTA1&PC=U531

Add what shows in the search results:
https://github.com/MicrosoftDocs/azure-docs/issues/34055 which was never truly documented properly.
https://github.com/MicrosoftDocs/azure-docs/issues/29416 which when to Az Sup

[2020-03-19 03:21] yckwan opened #50460 "No output from the management tool web app"
Management tool not showing data and login page for me to login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a143e190-2e63-e3b9-725b-d433075e6e80
* Version Independent ID: b693e675-3258-473d-d4da-11bcc942083f
* Content: [Deploy management tool with an Azure Resource Manager template - Azure](https://docs.microsoft.co

[2020-03-19 03:25] prawin2k commented on #50377
Thank you, Bhargavi. So, App Gateway is the solution for making our use case work! Thank you for the confirmation.

Thanks,
Praveen

[2020-03-19 03:27] DashleenBhandari-MSFT commented on #50439
@HenkoR , Thank you for raising the issue. I will investigate and update you.

[2020-03-19 03:28] DashleenBhandari-MSFT commented on #50435
@CeciAc , Thank you for raising the issue. I will investigate and update you.

[2020-03-19 03:39] neeleshray-msft commented on #49762
@billmath Could this be clarified ?

[2020-03-19 03:40] neeleshray-msft commented on #49984
@henriquebelotto We would be closing this thread now. Let us know if you need further help.

[2020-03-19 03:40] #49984 closed

[2020-03-19 03:43] neeleshray-msft commented on #49999
@abatishchev We were not able to replicate the issue on our end. We would suggest you to open a **[Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/)** so our engineers can work with you on the same.

[2020-03-19 03:43] #49999 closed

[2020-03-19 03:45] neeleshray-msft commented on #50144
@iainfoulds Could this be checked and modified as needed ?

[2020-03-19 03:47] ram-msft commented on #50414
@thanks for your report. PR raised to resolve your issue.

[2020-03-19 03:51] Samantha-Yu commented on #34304
Thanks for pointing it out. This article has now been refreshed to addressee the feedback and follow the latest UI changes. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-19 03:51] #34304 closed

[2020-03-19 03:51] ram-msft commented on #50454
@JonathanPalmerGD Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-19 03:55] abatishchev commented on #49999
Please reopen. If you were unable to replicate it doesn't matter it doesn't exist.

Steps to reproduce:

1. Go to https://www.microsoft.com/en-us/sql-server/sql-server-downloads#
2. Click Developer -> Download now
3. Launch, choose Custom
4. Installation -> New SQL Server stand-alone installation
5. Specify edition: Developer, Next, Next, Next
6. At the Feature Selection step observer no option fo

[2020-03-19 04:01] sujitdmello opened #50462 "Incorrectly reference to Application Gateway as a 'Layer-4' load balancer."
In the 'Note' in the middle of the page - this reference seems like a typo - should be 'Layer-7' IMHO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd59e134-be71-0ac8-bb71-abebb2ef16f5
* Version Independent ID: a99d6a21-1c49-6bfc-9572-f7dfe8be8a4c
* Content: [What is Azure Load Balancer? - Azure Load Balancer](https:

[2020-03-19 04:02] #47374 closed

[2020-03-19 04:07] KalyanChanumolu-MSFT commented on #50422
@townendk Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-03-19 04:09] KalyanChanumolu-MSFT commented on #50430
@BillmanH Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-19 04:16] SubhashVasarapu-MSFT commented on #50462
@sujitdmello , We are looking into this query and will update you as soon as possible.

[2020-03-19 04:16] brent-robinson opened #50463 "Australia East additional IP address - 40.79.160.2"
I'm seeing connectivity to 40.79.160.2 when connecting to a database server in Australia East. Is this documentation up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Connectivity Architecture - Azur

[2020-03-19 04:17] SubhashVasarapu-MSFT commented on #50459
@mjpearse , We are looking into this query and will update you as soon as possible.

[2020-03-19 04:25] KalyanChanumolu-MSFT commented on #50456
@avinashkota Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-19 04:47] SupamanPhong commented on #50103
thank you for reply, i've alreday fix this problem by enable User feature previews and provision package is working now, but fido2 with group policy still not working. I will try another case. thanks a lot

[2020-03-19 04:47] #50103 closed

[2020-03-19 04:53] BhargaviAnnadevara-MSFT commented on #50377
@prawin2k Sure, thanks.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-19 04:53] #50377 closed

[2020-03-19 04:59] PramodValavala-MSFT commented on #50404
@zakkra That would work. Here is another way that I believe this can be approached and would really benefit when you have multiple durable function apps

1. The Advanced Approach
   - Instead of having a HTTP endpoint on your function, let external services send events to an [Event Grid Topic](https://docs.microsoft.com/en-us/azure/event-grid/concepts#topics).
   - On this event grid topic, have a

[2020-03-19 05:03] PramodValavala-MSFT commented on #50340
@dwhite44 Thanks for catching that! We have worked up a PR to address, which once merged should reflect in a couple of hours.

[2020-03-19 05:07] dcbrown16 opened #50465 "Per node billing"
"Workspaces created by Security Center, while configured for Azure Monitor logs per node billing, don't incur Azure Monitor logs charges."
"Per node" has not been the default billing model for Log Analytics workspaces for some time now. Can you confirm this information? Are Security Center logs not charged when the workspace is the current default, PAYG?

---
#### Document Details

⚠ *Do not edit

[2020-03-19 05:07] #50340 closed

[2020-03-19 05:13] iop45636 commented on #50299
Same issue here! Please help to resolve it!

[2020-03-19 05:42] VikasPullagura-MSFT commented on #50288
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-19 05:42] #50288 closed

[2020-03-19 05:50] shashishailaj commented on #50448
@fabio770 Thank you for your query. We will have this investigated and update this thread.

[2020-03-19 05:51] shashishailaj commented on #50449
@cnadler-MSFT Thank you for your query. We will have this reviewed and update the thread.

[2020-03-19 05:51] jakaruna-MSFT commented on #50458
@HakureiAnna

First describe all the pods and make sure they are in  running  state

Then describe the services `aks-helloworld` and `aks-helloworld-two` and post the results here

That should have endpoints with ip:port

Let me know the output of them.  Then we will troubleshoot further

[2020-03-19 05:52] VikasPullagura-MSFT commented on #50387
@Klaas- Yes, you are right there is no change in the usage of ARM Template for Gen  VM's. If you pick the supported image it should work.

I have shared feedback to the team requesting for Quick Start template samples for Gen 2 VM's. Team has acknowledged on updating the repo soon.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reop

[2020-03-19 05:52] #50387 closed

[2020-03-19 05:53] shashishailaj commented on #50465
@dcbrown16 Thank you for your query . We will have this checked and update the thread.

[2020-03-19 05:55] DixitArora-MSFT commented on #50236
@justinyoo PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-19 05:58] msrini-MSFT commented on #50241
@haymansfield , Please tag me if you have any further questions.

[2020-03-19 05:58] #50241 closed

[2020-03-19 06:03] #50236 closed

[2020-03-19 06:08] jakaruna-MSFT commented on #50274
@dealancer is there any update

[2020-03-19 06:27] jakaruna-MSFT commented on #50452
@mchudinov That source code is generated by the service fabric sdk.

You can take a look at this repo https://github.com/Azure-Samples/service-fabric-dotnet-getting-started for the sample service fabric project

[2020-03-19 06:53] axisc commented on #49729
Thanks for raising this issue.

We do plan to support cross namespace forwarding in the future , but don't have an ETA for now.

For the other questions you mentioned.

- Number of messages sent to a namespace are bounded by the storage capacity allocated to the queues and topics on that namespace. You may get throttled if too many requests are made at the same time but the retry policy on the SDK

[2020-03-19 06:54] AmitavaHazra commented on #50316
@cmmdesai,

You are using two connector and using scoping filter to filtered out existing user based on Coningent WorkerID during CW to FTE movement.
How about if we use single connector and use a key word in "UserName" filed to filtered it out CW so that new FE can be joined with AD object which was still enable due to SkipOutOfScopeDeletions=true settings.
Will there be any issue to break this j

[2020-03-19 06:57] ishepherd commented on #36458
@jeffhollan can you give us some clarity please

This says that WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING are _required_: https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#create-a-function-app

Commenters here think they are _not_ required; ARM thinks they are required?; Azure support thinks that WEBSITE_CONTENTSHARE breaks slot scenar

[2020-03-19 07:00] guibirow commented on #49729
Can you explain what "credit based throttling" means.
I haven't seen this documented anywhere.

So, In summary, a single standard namespace performance will be lower than multiple namespaces, Am I correct?

[2020-03-19 07:03] dcbrown16 opened #50466 "Redirect URL legacy"
Please document the difference between the Redirect URL and Redirect URL Legacy (unless that's an internal preview feature or something).
Seems like this may be related to #42136.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe7

[2020-03-19 07:07] marcoNipo commented on #36458
We ended up checking the code of the Azure functions host and it *looks like*, when running from package, the `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` setting is [not used](https://github.com/Azure/azure-functions-host/blob/20bb9149954eed2e6428f47ecc33867df8683a19/src/WebJobs.Script.WebHost/Management/InstanceManager.cs#L260).
We verified it by removing from our ARM template both `WEBSITE_CONTEN

[2020-03-19 07:07] sergioalisys commented on #50343
@YutongTie-MSFT Any news about this issue?

Thanks!

[2020-03-19 07:11] omkarkhair commented on #39201
One of our customers has a policy that disallows Implicit flow from being turned ON on any AD app. Following Microsoft documentation here (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) which seems to claim that the implementation follows the PKCE RFC we opted to proceed with it only to find out.
1. It requires a client secret for Token retrieval
2. Does

[2020-03-19 07:20] HQJaTu opened #50467 "Minor: WaAppAgent.log filename has incorrect file extension"
Instructions state:

Troubleshoot VM extensions
The following troubleshooting steps apply to all VM extensions.
To check the Windows Guest Agent Log, look at the activity when your extension was being provisioned in C:\WindowsAzure\Logs\WaAppAgent.txt

However, another section states:

To see when an update to the extension occurred, review the agent logs on the VM at C:\WindowsAzure\Logs\WaAppAge

[2020-03-19 07:29] HakureiAnna commented on #50458
After deleting all the azure resources up to the resource group and rebuilding everything. Ingress is working. Although I'm quite sure I repeated the same steps both yesterday and this morning, but somehow it's working.

Thank you for your assistance and sorry for the inconvenience

[2020-03-19 07:29] #50458 closed

[2020-03-19 07:33] landro commented on #50333
Hi @TravisCragg-MSFT ! I can confirm that this is most painful, but that it actually works. You should update the docs to include this "hack" so linux users know what to do.

[2020-03-19 07:33] #50333 closed

[2020-03-19 07:36] VikasPullagura-MSFT commented on #50148
@keatseongchan Thanks for responding back on this.

As you mentioned that you are already engaged with support, just wait on the confirmation from Support if it is the case only on that particular VMSS update.

Also once you are able to repro and observe the same issue requesting you to open a new issue.

We will now close this issue. If there are further questions regarding this, please tag me in

[2020-03-19 07:36] #50148 closed

[2020-03-19 07:43] KalyanChanumolu-MSFT commented on #50463
@brent-robinson Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-19 07:46] VikasPullagura-MSFT commented on #49654
Similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/50422).

[2020-03-19 07:47] GlobeProgger commented on #50423
New finding: This only seems to happen when going through a VPN connection. Without VPN it works fine.

[2020-03-19 07:48] VikasPullagura-MSFT commented on #50422
@townendk Please find similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/49654), you can also find few suggestions/troubleshooting steps from product team.

[2020-03-19 07:55] jakaruna-MSFT commented on #50042
@michael-niemand is there any update

[2020-03-19 07:58] RicoSuter commented on #44571
Or better: Where can I change the value behind the placeholders, i.e. where can i change the value behind $DevPortalUrl?

[2020-03-19 07:59] jinzejian opened #50468 "Why creating VNet connection between hub vnet and spoke vnet"
Since the traffics are going though NVA VNet, what's the purpose of creating direct connection between hub VNet and spoke VNet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff59f117-79c3-f134-f6ff-9c3745a7cd52
* Version Independent ID: 6e1bf338-5501-b1d7-6b2d-3dc98dc25a60
* Content: [Virtual WAN: Create virtual hub r

[2020-03-19 08:02] ajomathew commented on #49942
Email based filtering would be more accurate than that of name based filter. It would be great if there is a way to get this implemented.

[2020-03-19 08:09] RajeshKaki opened #50469 "How to read the values of these configurations in code."
Q 1) How can I read the values of the configuration set in Settings.xml file in the code.
Q 2)  How can i specify different values for different environments like Development, Pre Production, and Production.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f940edc-198b-e0b3-0229-78a6b47544d2
* Version Independent ID: 09

[2020-03-19 08:13] townendk commented on #50422
Thanks All.

VikasPullagura-MSFT - this is not the same issue, I've read the one described in your post but in that scenario the session hosts do not heartbeat. Mine seem to have an appropriate heartbeat. Thank you though!

[2020-03-19 08:14] sebdau commented on #7650
The osprofile-based cert ref does not support KV auto-rotation today as far as I know?!?

[2020-03-19 08:16] souravmishra-msft commented on #50369
Closing this thread for now

[2020-03-19 08:16] #50369 closed

[2020-03-19 08:21] Klaas- commented on #49961
@asinn826

so 8-LVM will be same as 8.1 currently?
will there also be 8gen2-LVM (or 8-LVM-gen2)?

Greetings
Klaas

[2020-03-19 08:26] DixitArora-MSFT commented on #50466
Hi @dcbrown16 Thanks for your feedback. We will review and update as appropriate.

[2020-03-19 08:27] g-petre commented on #49532
@tfitzmac - Thank you for the update

[2020-03-19 08:28] jijohn14 commented on #7650
It's not about auto rotation. You cannot reference certificates from akv in different subscription (not vmss subscription) in os profile.

[2020-03-19 08:28] mracfa commented on #50444
Hi, i'm facing the exact same issue. I use the command referred on the documentation above:

maabre@MAABRE-BOOK2:~$ az vmss extension set  \

The value of parameter type is invalid.

[2020-03-19 08:34] michael-niemand commented on #50042
We have a standard installation and I don't see a coredns-custom configmap. I will try creating it like you described, but am tasked with more important topics right now.

[2020-03-19 08:39] 84618315 commented on #50320
yes, thx it was helpfull

[2020-03-19 08:39] #50320 closed

[2020-03-19 08:41] edervaldonetoMS commented on #50444
Hello guys,
I´m also facing the same issue. Followed those steps above "Configure virtual machine scale set-based AKS clusters for SSH access" without success.

root@EDNETO-Book:~# az vmss extension set  \

The value of parameter type is invalid.

[2020-03-19 08:42] alsastre opened #50470 "Script Provision an Azure Active Directory administrator for your managed instance not working on MacOS"
Cannot execute the script provided on MacOs.
The commands `Get-AzureAD*` are not recognized as valid commands and I have already tried to install the AzureAD module (both versions, released and Preview).
I get the following error when importing the modules (`Import-Module AzureADPreview`):
`Import-Module: Could not load file or assembly 'System.Windows.Forms, Version=4.0.0.0, Culture=neutral, Publ

[2020-03-19 08:46] mracfa commented on #50148
hi,
had the exact same issue. Can you reopen this case?

[2020-03-19 08:52] PeterSmallbone opened #50471 "Would be great if we had the definitive list of metadata"
The use of the word 'like' in the first sentence implies that a list of examples is provided here, not a definitive list. To satisfy information security concerns it would be good to have a definitive list of the data that is actually stored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73d6e45-ae2f-5d71-31a7-9f17b5

[2020-03-19 08:57] zakkra commented on #50404
Thank you for your thoughts. I will come back to this if I need to add more Function Apps or more external events that need waiting for. Much appreciated.

[2020-03-19 09:04] Coldpawz opened #50472 "Per-site & per-URI public preview"
Hi, I was wondering if there's a specific page that provides progress/updates on the per-site & per-URI public preview? If/when it's due to go GA, and any issues noticed using the public preview, etc.
I tried searching the feedback section but I didn't see anything (or I was in the wrong feedback hub).
Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-03-19 09:13] VikasPullagura-MSFT commented on #50148
@mracfa Thanks for reaching out.

Since this channel is for driving improvements towards MS Docs. This issue is directly not related to the document,

I would recommend you to create a thread on [Q&A forum](https://docs.microsoft.com/answers/topics/azure-virtual-machines.html) and reference this thread [link](https://github.com/MicrosoftDocs/azure-docs/issues/50148) there.

Once you post your ques

[2020-03-19 09:14] DixitArora-MSFT commented on #50427
@benc-uk So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-19 09:14] #50427 closed

[2020-03-19 09:16] StephaneD62 opened #50473 "Showing 500 - Internal Server Error"
I have tried multiple time to "Upload geofences" but at the step 5 I always get a "500 InternalServerError" "An error occured while processing the request. Please try again later." Do you have some issues with this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cf4eb2-2a86-582d-8160-a19cc2960c98
* Version Independe

[2020-03-19 09:29] jmorcar opened #50474 "mysql client"
Could be indicated mysql client documentation or tutorial to connect from azure shell to internal mysql azure database. I searched a client in cloudshell (sql command seems better option, because there is a "mysql" command not is a client only try connect like a mysql server when you exec with URL params).

So I found serveral errors to connect from cloud shell to azure mysql , like this:

sql com

[2020-03-19 09:30] DixitArora-MSFT commented on #50239
@justinyoo I believe this is already mentioned in the public doc while creating Azure Durable function locally. Refer this which discuss about this. https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-create-first-csharp

I don't think there is a doc change required for this.

[2020-03-19 09:32] VikasPullagura-MSFT commented on #50422
@viswanadham-k can you please check and add your comments on this.

[2020-03-19 09:33] mracfa commented on #50148
Sure, thanks

[2020-03-19 09:41] PramodValavala-MSFT commented on #50404
@zakkra Glad we could help!

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-19 09:41] #50404 closed

[2020-03-19 09:41] DixitArora-MSFT commented on #50335
@Palujinho PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-19 09:48] townendk commented on #50422
I've done some further testing this morning.

1- Overnight all VMs in the pool were powered off (manually) and de-allocated in the portal. The tasks overnight all ran succesfully but they didn't power anything on. My "MinimumNumberOfRDSH" variable is set to '1' so I expected it to boot one of them back up for me but I'm perhaps misunderstanding the behaviour in off-peak time(?)

2- Upon peak time

[2020-03-19 09:48] #50335 closed

[2020-03-19 09:48] #50467 closed

[2020-03-19 09:59] VikasPullagura-MSFT commented on #50471
@SuperFatterAgnus
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-19 10:00] VikasPullagura-MSFT commented on #50471
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-03-19 10:01] VikasPullagura-MSFT commented on #50467
@HQJaTu Thanks for the Feedback. The Doc is updated and changes will go live soon.

[2020-03-19 10:09] batanun opened #50476 "Documentation not updated regarding new portal GUI"
This page contains screenshot of the old portal.
Also, when starting this guide in the portal, the mariadb version 10.2 is automatically selected, not 10.3. Is there a reason why 10.3 is not selected by default? Is there any documentation on which specific mariadb version to choose, from an Azure perspective?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-03-19 10:13] BryanTrach-MSFT commented on #50046
@verbedr storageConnectionStringName should be the actual resource name, in this case the connection string.

storageConnectionStringResourceId would typically refer the the resource ID that most Azure resources receive. This is typically a GUID that would look like 1111-22222-33333-4444. I am not aware of connection strings receiving a resource ID as it's not actually a resource.

So your experie

[2020-03-19 10:13] #50046 closed

[2020-03-19 10:14] VikasPullagura-MSFT commented on #50460
@yckwan
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-19 10:22] VikasPullagura-MSFT commented on #50422
@ChristianMontoya Can you check and add your comments.

[2020-03-19 10:33] DixitArora-MSFT commented on #50324
@paulisfluent Could you let us know which specific section of the doc your feedback is applicable because in the doc under sample host.json file section it is mentioned under extensions.

![image](https://user-images.githubusercontent.com/46984568/77058248-2fed2580-69fb-11ea-876b-8fb5d825ab38.png)

[2020-03-19 10:34] AshokPeddakotla-MSFT commented on #50473
@StephaneD62 Ensure that you have provided correct subscription key.  Also wanted to check have you modified parameters and body as per the doc?

[2020-03-19 10:37] DixitArora-MSFT commented on #50337
@vladvino Any inputs in this ?

[2020-03-19 10:39] StephaneD62 commented on #50473
Hi @AshokPeddakotla-MSFT, yes I have provided the correct subscription key (I have tried with the primary and the secondary key). I have also try with a new Maps ressource. I have also modified the parameters and body like in the step 3 and 4. I have also try by modified the body with a "endTime" in the futur (one month).

[2020-03-19 10:39] DixitArora-MSFT commented on #50426
@Ericgre It will be great if you can provide some screen shot.

[2020-03-19 10:43] Ericgre commented on #50426
you can just try yourself to use the dark theme on this page : https://docs.microsoft.com/en-us/azure/event-grid/network-security
here is the result :
![image](https://user-images.githubusercontent.com/18305012/77059110-b6dbd700-69d6-11ea-86cc-3856fcd84bf0.png)

[2020-03-19 10:48] karataliu commented on #50228
my question is simply how to trigger purge keyvault action : )

Just found 'az keyvault purge' command, should work then. thanks.

[2020-03-19 10:48] #50228 closed

[2020-03-19 10:48] #50181 closed

[2020-03-19 10:49] mleneveut commented on #50344
ok thx I understand now. Perhaps just add a note on the top of the page saying that a failover group is a regroupement of Geo-replicated databases.

[2020-03-19 10:49] BryanTrach-MSFT commented on #50181
@RobertoPrevato Thank you for bringing up this doc bug. We have made the suggested changes and those should be public in 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-19 10:51] mahortas commented on #50416
@TravisCragg-MSFT thank you for looking into this so fast.
I think the original document under which this was submitted needs to be updated as well. The -UsePolicyBasedTrafficSelectors parameter seems to no longer be accepted for custom IpSec policies

[2020-03-19 11:04] VikasPullagura-MSFT commented on #47461
@palma21 Thanks for providing the details.

@michaelsync Hope the above provided information helps with your query.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-19 11:04] #47461 closed

[2020-03-19 11:14] jurajgh commented on #50398
@MarileeTurscak-MSFT do you mean directory id..?

[2020-03-19 11:15] boothc-888 opened #50478 "No AzureAutomation folder after install the agent on Windows"
Hello,

After install the agent on my environment (windows 10.0.18362.0), I didn't find such a folder C:\Program Files\Microsoft Monitoring Agent\Agent\AzureAutomation, I tried several ways, but still didn't find the AzureAutomation subdirectory, is there anything I missed in the steps?
Or can you direct me how to manually install hybrid runbook worker?

Thanks

---
#### Document Details

⚠ *Do no

[2020-03-19 11:16] knkhan79 commented on #50444
also facing same issue. any help here ?

[2020-03-19 11:31] haymansfield commented on #50241
@msrini-MSFT Hi, thanks for the reponse. If it's possible, could you point me at where the address prefixes for the subnet can be defined when configuring the connection?

[2020-03-19 11:41] jonathancampbell1heathrow commented on #20855
MARKETPLACE ERROR - I am trying to move a Marketplace created VM, but getting the below error. What is the script missing?

PS /home/jonathan>     New-AzVM `

WARNING: Since the VM is created using premium storage or managed disk, existing standard storage account, hubwenetstoragesa, is used for boot diagnostics.
New-AzVM: Long running operation failed with status 'Failed'. Additional Info:'Creati

[2020-03-19 11:52] jakaruna-MSFT commented on #50469
@RajeshKaki
Thanks for the question! We are investigating and will update you shortly.

[2020-03-19 11:54] mtakmddk commented on #30464
Yes, how do we send http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn claims to a SAML-based application that requires it? I get that it's restricted so we aren't allowed to modify it, but how do we make sure it gets send it in the first place? It's not present in the SAML response by default.

[2020-03-19 12:01] bamajeed commented on #50388
Hi , it is working now but not yesterday. We can close this now thanks. For example the "delete device" was going to Page Not Found

[2020-03-19 12:02] #50388 closed

[2020-03-19 12:07] KalyanChanumolu-MSFT commented on #50476
@batanun Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-19 12:11] KalyanChanumolu-MSFT commented on #50455
@ScottAzure Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-19 12:12] verboompj opened #50479 "Multiple subnets of a VNet can be delegated for ANF"
Considerations #2 states:
In each Azure Virtual Network (Vnet), only one subnet can be delegated to Azure NetApp Files.
I am , however, able to create multiple ANF delegated Subnets , all part of a single VNet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef42711-43a2-c4ae-3d80-843002dd7059
* Version Independent ID:

[2020-03-19 12:14] myselfme0194 opened #50480 "Packer Hangs while Connecting to Azure Storage and Installing a software"
Was trying to create an Windows  2019 images using an executable stored in Azure Storage account.I do have a powershell script that does this task for me when executed directly manually on VM.

But this scipt is not going well with Packer Provisioner.Packer get hanged.Kindly suggest.

more terraform.ps1
Set-ExecutionPolicy Bypass -Scope Process -Force
Install-Module -Name AzureRM -AllowClobber -Fo

[2020-03-19 12:16] AshokPeddakotla-MSFT commented on #50388
@bamajeed Glad to hear that links are working.

[2020-03-19 12:19] #50478 closed

[2020-03-19 12:20] boothc-888 commented on #50478
need to execute the script:
Set-AzOperationalInsightsIntelligencePack -ResourceGroupName <logAnalyticsResourceGroup> -WorkspaceName <LogAnalyticsWorkspaceName> -IntelligencePackName "AzureAutomation" -Enabled $true -DefaultProfile <IAzureContextContainer>

[2020-03-19 12:20] AshokPeddakotla-MSFT commented on #50303
@akash-roy-123 Any update on this issue? Let us know if you are still blocked.

[2020-03-19 12:21] shashishailaj commented on #50436
@Pikhulya Thank you for your query and sharing the solution with the community.

[2020-03-19 12:21] Jimbos10 commented on #50422
I am experiencing, the exact same output as above as well.

[2020-03-19 12:21] ShanmugaSP opened #50481 "Billing Info about Compute Target"
I want to know if the compute target is idle, will it incur any cost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b4be5-1978-ad95-4c40-30e8b52e8cb7
* Version Independent ID: eb8b1d57-70c6-7cf0-2ebd-a43dede30bb9
* Content: [What are compute targets - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/m

[2020-03-19 12:22] shashishailaj commented on #50436
@Pikhulya If you still have any queries , please feel free to open a new issue and we will be happy to help .

Thank you .

[2020-03-19 12:23] nelsonpv commented on #46511
As per the discussion thread on the doc here https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints, the restriction on configuring NSG rules for subnets with private endpoints was lifted recently. If so, the limitation section on this doc needs to updated for consistency. Thanks.

[2020-03-19 12:26] jakaruna-MSFT commented on #50469
If i have the below settings.xml,
[code]
i can access it like this.

[code]

Here  `Parameter.Name` will be MyParameter and `Parameter.Value` will be Value1.

Lets go to the second question.

For different environments, you can have different application manifest files .
You can also override settings.xml values from application manifests

[2020-03-19 12:30] jakaruna-MSFT commented on #50042
@michael-niemand ok.

If you are using AKS, You will have those config maps.

Are you installing kubernetes on VM's and trying out?

[2020-03-19 12:34] Hari1667 opened #50482 "Unable to create data factory using .net SDK"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-19 12:37] yoelhor commented on #50448
With custom policy, you can store the user's application in a comma delimiter string forma in Azure AD B2C user profile. To set the user's applications, use MS Graph. During the sign-in you can read the value of this custom attribute and call a claims transformation to check whether the attribute contains the app ID. If not, present an authorised error message to the user.  I'll try to build such

[2020-03-19 12:38] Hari1667 commented on #50482
I am trying to create data factory using .net SDK in the free subscription. While executing `DataFactoryManagementClient.Factories.CreateOrUpdate` am getting error like

I have provided all the valid permission but still am facing this. Kindly help me on this.

Thanks in Advance!!

[2020-03-19 12:46] MaxHegel opened #50483 "Unable to create VM"
On the step of VM creation I met a couple of issues:
1. In eastus region there is no available suitable vm sizes.
2. After I changed region to westus I have problems with deserialize the response:

`PS /home/azusername&gt; $vmConfig = New-AzVMConfig -VMName myVM -VMSize Standard_DS14_v2 | Set-AzVMOperatingSystem -Windows -ComputerName myVM -Credential $cred | Set-AzVMSourceImage -PublisherName Mic

[2020-03-19 12:51] dominicbetts commented on #48511
Hi @isagrwl - just to follow up on a couple of items. PnP should be enabled on IoT Hub in all regions now - and there's no longer a need to contact support to have PnP enabled on any new IoT Central applications you create. Thank you.

[2020-03-19 12:52] psyduck101 commented on #16061
Any updates on the initial issue? I have the same problem with a custom metric, that we need for the moment.

[2020-03-19 12:58] ussantos opened #50484 "VMware?"
VMware is cited in second paragraph:

"This is the third tutorial in a series that shows you how to set up disaster recovery to Azure for on-premises VMware VMs. In the previous tutorial, we prepared the on-premises Hyper-V environment for disaster recovery to Azure."

But this page is about Hyper-V with SCVMM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-03-19 12:59] michael-niemand commented on #50042
We use AKS, but are not administering the cluster ourselves, there's a separate ops team for that. Think they might have deleted coredns-custom on purpose?

[2020-03-19 12:59] paulisfluent commented on #50324
Thanks.  Mostly, docs elsewhere on the internet I found (eg https://vincentlauzon.com/2018/02/14/how-to-get-rid-of-api-in-azure-functions-route/) said you need an `http` section in (the top-level of) `host.json`.  When I look at your "official" doc I see **http** in the contents on the right:
![image](https://user-images.githubusercontent.com/18393158/77069213-e511e480-69df-11ea-9865-1f966feef42c.

[2020-03-19 13:02] tobvil opened #50485 "Does adding an AppService as Traffic Manager Endpoint restart the App Service"
We just added an app service as an endpoint on traffic manager, and seems like our app service was restarted. Anyone experienced this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f164c8d-6445-b688-48c0-cb9344008e4d
* Version Independent ID: 5da2d711-edf2-5bab-66bd-8b1548f2d11c
* Content: [Control traffic with Traff

[2020-03-19 13:13] mdzullo commented on #15826
This was raised last Sept 2018. Did Microsoft able to create powershell functions to delegate access to other users? It is tedious to grant access via portal if you have a lot or RIs. Thanks,.

[2020-03-19 13:18] DashleenBhandari-MSFT commented on #50435
@elamalani Request you to please take a look at this issue and document.

[2020-03-19 13:21] batanun commented on #39838
Hi. I'm an even more of a newbie. I have created a mount under /mnt/. And I have the proper entry in /etc/fstab. Yet it is not persisted. I have no idea what an ephemeral disk is, and if we use that. How can I make things in /mnt/ persist if we happen to have that "ephemeral disk" there?

[2020-03-19 13:24] garrett-wood opened #50486 "Typo in Use azcopy in a script -> Escape special characters in SAS tokens"
Reads:
You can do that by adding an addition % character
Should Read:
You can do that by adding an additional % character

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by u

[2020-03-19 13:25] SnehaAgrawal-MSFT commented on #50485
@tobvil Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-19 13:30] DashleenBhandari-MSFT commented on #49037
@gjj , Apologies for delay in response.
htaccess seems fine. Do we see any errors/exceptions in Container logs?

Are we able to deploy this sample app: https://github.com/Azure-Samples/laravel-tasks ?

[2020-03-19 13:34] VikasPullagura-MSFT commented on #50480
@myselfme0194
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-19 13:48] Klaas- commented on #49961
Follow Up Question:
is this also the right place to talk about problems with the image or is there another github project that I could open an issue against?

Greetings
Klaas

[2020-03-19 13:49] justinyoo commented on #50239
@DixitArora-MSFT I'm afraid I can't find the relevant section on the doc you linked above. Can you point out where I can find the parameter, `connection` in your doc?

FYI - I'm using Durable Functions v2.

[2020-03-19 14:10] PhilMchenry commented on #43265
What happened to this? I have just followed the tutorial assuming it would support multiple backends but now find it will only do one at a time.
Is this mentioned in the Tutorial?
i.e METHOD WILL ONLY SUPPORT A SINGLE BACKEND APP SERVICE.
Is there a useful link for how to configure?
Cheers

[2020-03-19 14:13] PhilMchenry commented on #43265
Is the appropriate link?
https://docs.microsoft.com/en-us/archive/blogs/mihansen/azure-active-directory-authentication-easy-auth-with-multiple-backend-apis

[2020-03-19 14:23] kikawash opened #50487 "please update about retention policy"
Plese add the note that GPv2 storage account is needed to use retention policy on flowlog.
https://azure.microsoft.com/en-us/updates/nsg-flow-logs-retention-restored/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855-1bff6c9ce380
* Cont

[2020-03-19 14:27] kikawash opened #50488 "Please update the limitation on retention policy"
Please delete followings because this limitation has been removed by using GPv2 storage account.

 &gt; Currently, there’s an issue where network security group (NSG) flow logs for Network Watcher are not automatically deleted from Blob storage based on retention policy settings. You must now run a PowerShell script to manually delete the flow logs from your storage account as described in this ar

[2020-03-19 14:28] rnielikki opened #50489 "Visual Studio Version"
I have Visual Studio 2019 and it works. (Maybe it should be Visual Studio 2015 or newer?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae543de4-ff83-fce7-56e9-4bc8aab79455
* Version Independent ID: 8f2ee4be-74e3-1350-7be1-d38a04764249
* Content: [Quickstart: Create an object detection project with the SDK for C# - Cu

[2020-03-19 14:35] jmorcar opened #50490 "Failed creation"
I have used this commands to create a shared disk Premium_LRS, but "az storage share create" command fails .

My commands:
-----------------------------------
# Create a storage account
az storage account create -n $AKS_PERS_STORAGE_ACCOUNT_NAME -g $AKS_PERS_RESOURCE_GROUP -l $AKS_PERS_LOCATION --sku "Premium_LRS"
# Export the connection string as an environment variable, this is used when creatin

[2020-03-19 14:42] NavtejSaini-MSFT commented on #50319
@beelesnik As conveyed by @pochiraju please send the question to dmsfeedback@microsoft.com for more insights and issue resolution.

[2020-03-19 14:47] ElanShudnow opened #50491 "Incorrect Information"
For Network Security Group Rules, the operations are incorrect.  It's not /rules/.  It's /securityRules/.  Run Get-AzProviderOperation Microsoft.Network/networkSecurityGroups/* for verification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea14a05-b98d-4cec-5f36-726f3c3d1da2
* Version Independent ID: 6852fef5-f9f1-5

[2020-03-19 14:50] NavtejSaini-MSFT commented on #50470
@alsastre We are checking this and we will get back to you.

[2020-03-19 14:53] davidsmatlak commented on #50484
#assign:davidsmatlak

[2020-03-19 14:53] asears opened #50492 "To find the current soft delete policy should be expanded"
The Get-AzStorageServiceProperty results should be expanded to show details of the Enabled and RetentionDays properties of DeleteRetentionPolicy in examples above.
working example

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-693

[2020-03-19 14:54] davidsmatlak commented on #50484
Thanks for the feedback. I'll update the document.

[2020-03-19 14:57] softchris opened #50493 "Creating Azure resource, minor suggestions for improvement"
I was surprised being presented with two options for Key-Value creation namely
- Key-Value
- Key-Vault

I suggest writing something like this:

Create a key, go to Configuration Explorer , press Create
you are presented with `Key-Value` and `Key Vault reference`. Select the former

Additionally, I would add a step  7 saying
press `Apply`. It's obvious that you need to do that, of course, but it do

[2020-03-19 14:58] banisadr commented on #49942
@ajomathew what do you mean by that? Is there a technical difference in what `string == user@email.com` and `email == user@email.com` accomplishes?

[2020-03-19 14:59] softchris opened #50494 "Build and run the app locally - minor suggestion"
After you've set the ConnectionString as env variable I think it would be great if we could add a line asking the user to test the env variable has been set correctly before proceeding to build and run. I.e `echo $ConnectionString`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ccd77f-2edd-9d24-c48f-c94b26165d04
* Ve

[2020-03-19 15:01] nelsonpv opened #50495 "Managed Identity can be enabled at two levels"
Managed Identity can be enabled at two levels
1. Service Fabric cluster level
2. Virtual Machine Scale Set level

It would be worthwhile to indicate which one KeyVaultReference depends on.

https://docs.microsoft.com/en-us/azure/service-fabric/concepts-managed-identity
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vmss

---
#

[2020-03-19 15:02] NavtejSaini-MSFT commented on #50149
@beelesnik Please convey if you have any further question or we can close this by EOD.

[2020-03-19 15:02] vdweij opened #50496 "When will Dav4 and Dasv4-series be added"
Hi,
The Dav4 and Dasv4-series have recently been released (https://docs.microsoft.com/en-us/azure/virtual-machines/dav4-dasv4-series). When will they be added to the benchmark?
Regards,
Aede

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version Independent ID: 844d62d4-a06b-1578-

[2020-03-19 15:15] beelesnik commented on #50149
Yes, I have a question. Is there any list with all functionality of PostgreSQL that was restricted by security reasons and insufficient rights of pseudo-admin user?

[2020-03-19 15:15] LouanDuToitS3 opened #50497 "azure-blob-storage runtime logging too verbose."
The logging of this "azure-blob-storage" is very verbose, how can I set it away from "info" level to be "warning" only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a44a28-a19c-f68e-167c-5e8ad91605e0
* Version Independent ID: 33eacdff-4f0a-c543-d8f9-e7b208bab015
* Content: [Store block blobs on devices - Azure IoT

[2020-03-19 15:18] nelsonpv opened #50498 "Enabling MI at SF Cluster vs VMSS level"
Today, the Managed Identity can be enabled at the underlying VMSS level.

With this feature, it can be enabled at the Service Fabric cluster level as well, therefore, I would like to know whether it would maintain separate identities.

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vmss

---
#### Document Details

⚠ *Do not ed

[2020-03-19 15:18] SaurabhSharma-MSFT commented on #50150
@deep-mm Thanks for the documentation link however the command you have used in your issue
![image](https://user-images.githubusercontent.com/38112130/77083018-124b9c00-69ba-11ea-9e4f-8cb6d2a6dc15.png) is to recover a deleted key and as you do not have any key in soft-deleted state it is throwing error of "Key not found".

[2020-03-19 15:18] beelesnik commented on #50319
Sent the letter about my ticket to dmsfeedback@microsoft.com. Please do not close this thread.

[2020-03-19 15:26] ajomathew commented on #49942
@banisadr Sorry for the confusion, it would be great to have a filter work with email address.
Right now only
`data.claims.http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress
data.claims.http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
`
has email address as a value. These notations is not working with filter.

[2020-03-19 15:27] SaurabhSharma-MSFT commented on #49657
@tom-ditlev We can create custom roles at management group as well as tenant scope(which isn't supported yet).
However both the above choices aren't supported from the UI currenlty.  However, creating [custom roles at management group scope](https://docs.microsoft.com/en-us/azure/governance/management-groups/overview#custom-rbac-role-definition-and-assignment) is still in preview and has some limi

[2020-03-19 15:29] jmorcar commented on #50490
Another error, the section Azure Portal documentation in this page is obsolete, there is not any File Service > Files menu. I'm to searching if menu change of name but I don't found file share option in storage account with Premium LRS created.

[2020-03-19 15:33] henriquebelotto opened #50499 "Element 'LocalizedResources' in namespace has invalid child element 'LocalizedCollections'"
Hello,

I'm trying to add a localizedCollection following the example provided, but when I try to upload it to my custom policy, I get this error message "element 'LocalizedResources' in namespace has invalid child element 'LocalizedCollections'"
If I remove the LocalizedCollections (and the LocalizedCollection inside), then it works.

Any suggestion if this might be a bug or I'm missing something

[2020-03-19 15:39] tobvil commented on #50485
If this is expected behavior, it should definitely be mentioned in the documentation. Unfortunately it caused downtime for our customer.

Just found the following when diagnosing the App Service.

## Application stop events are detected

### Description

We analyzed ``10`` User Events.

<div><table><tbody>
<tr>
<td style="width: 20%">User(Traffic Manager Register)</td>
<td style="width: 80%"><div

[2020-03-19 15:43] RajeshKaki commented on #50469
Thanks for sharing the code snippet. How about adding this information in this page or link in the Next Steps section.
Regarding the 2nd one, when you say different application Manifest files, are you referring to different application parameters files? Or different ApplicationManifest.xml file.

[2020-03-19 15:50] asudbring commented on #50462
@sujitdmello thanks for the catch!

Will fix and post PR here when completed.

Thanks!

[2020-03-19 15:51] farah-alyasari commented on #50473
Hi @StephaneD62 ,

The document had a typo on step 6, which is related to step 5. It says " including the { }, with your subscription key", but it's supposed to say "do not including the { }, with your subscription key"

I was also able to successfully make a GET request at the Status URL, on step 5 / 6, by not including {} for my subscription key.

Also, as a heads up for step 7, the API body res

[2020-03-19 15:51] fallmake opened #50502 "Set-OMSGatewayRelayProxy "Password" parameter seems to require SecureString value"
Powershell cmdlet examples say: 1. Set a relay proxy and credential: "Set-OMSGatewayRelayProxy -Address http://www.myproxy.com:8080 -Username user1 -Password 123" - the value in Password seems like it requires to be SecureString though (tried today) or a function call within Set-OMSGatewayRelayProxy fails trying to convert the value. I didn't check if it is because of special characters in the sup

[2020-03-19 15:51] ajlam commented on #50476
@batanun, we are actually in the process of updating the default engine version to 10.3. I would recommend using 10.3 to use the latest version available on Azure.

I will work on updating the screenshots as well.

[2020-03-19 15:52] BharathNimmala-MSFT commented on #50478
@boothc-888 Thank you for reaching out and sharing the fix for broader community members. Please do reach out if you have any further queries.

[2020-03-19 15:54] MaximIvanovInternals opened #50503 "typo ?"
Form Id = 1179\  should the "\" be here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6b378b-f070-cdca-f9df-366873132b84
* Version Independent ID: 4fbc43ff-7d78-11fb-4d94-cbe373c7dbab
* Content: [Configure lead management in Marketo](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-orig/cloud

[2020-03-19 15:59] markingmyname commented on #11093
@linda33wj for awareness

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

We will gladly continue the discussion, and we will reopen the issue.

To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-03-19 15:59] markingmyname commented on #11093
#please-close

[2020-03-19 15:59] #11093 closed

[2020-03-19 16:00] JohnDelisle opened #50504 "Bug in your script"
In the script to create the disk stripe, you obtain the number of disks "$PoolCount = Get-PhysicalDisk -CanPool $True", then fail to use that value in your subsequent command: "New-VirtualDisk ... -NumberOfColumns 2 ...".

This snippet will always create 2 column stripe set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-03-19 16:02] yogevdaniel commented on #50460
I had the same issue.
Go to the Webapp settings and enable the Authentication using express settings and AzureAD.
that's worked for me.

[2020-03-19 16:13] yobyot commented on #46721
I couldn't agree more. It seems as if Microsoft is trying to punish users trying to fit all the pieces together. For example, it doesn't look like https://github.com/MicrosoftDocs/azure-docs/issues/21860 was ever integrated and so there's no "official" documentation of how to report to multiple workspaces from a VM. Even that bug doesn't point to reference material on the AgentConfigManager.MgmtSv

[2020-03-19 16:16] markingmyname commented on #26361
#reassign @linda33wj

[2020-03-19 16:17] markingmyname commented on #26862
#reassign @linda33wj

[2020-03-19 16:17] StephaneD62 commented on #50473
Hi @farah-alyasari, yes I know about the { } and <>. Because picture say a lot more than text, here :
https://imgshare.io/image/F8IGp
https://imgshare.io/image/F8yPX
I have copy/paste everything that is include in this tutorial and I have put correctly my subscription key but that doesn't work.

[2020-03-19 16:28] damiandiaz76 opened #50505 "Is there a way to edit or delete saved functions?"
Is there a way to edit or delete saved functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84d4e579-8d9a-473a-8c2f-8242942d048c
* Version Independent ID: d9977efb-b617-42aa-15f0-82d35cd4df93
* Content: [Functions in Azure Monitor log queries - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/lo

[2020-03-19 16:33] markingmyname commented on #26752
reassign djpmsft

[2020-03-19 16:33] markingmyname commented on #27989
#reassign djpmsft

[2020-03-19 16:34] markingmyname commented on #31801
#reassign djpmsft

[2020-03-19 16:36] ChristianMontoya commented on #50422
Adding @RoopChevuri as well for comment.

[2020-03-19 16:43] b-juche commented on #50479
@verboompj  Thanks for your comment.  I'm checking with our subject matter expert on this and will get back to you soon.

[cc: @lichunli-ms, @ntap512]

[2020-03-19 16:44] #50454 closed

[2020-03-19 16:45] Maymne commented on #48816
I believe the equivalent would actually be Remove-AzureADDevice, not Remove-AzureADDeletedApplication.
Unless there's a reason why we're doing that conversion.

[2020-03-19 16:49] b-juche commented on #50479
@verboompj -- Received the following response from our subject matter expert:

We'll add the further explanation above to the article for clarity.  Thanks!

[cc: @lichunli-ms, @ntap512]

[2020-03-19 16:51] pygna84 opened #50506 "windows do not apply correct timestamp"
I'm working on a query using windows and I need to understand the window behavior. According to what is described [here](https://docs.microsoft.com/en-us/stream-analytics-query/system-timestamp-stream-analytics) it shall use my field as reference but I always get the system time.

Select System.timestamp() as windowend
FROM
       input TIMESTAMP BY eventTimeStamp
GROUP BY Window('1ms',SlidingWind

[2020-03-19 17:00] b-juche commented on #50479
Let us know if you have further questions by reopening this issue.

#please-close

[2020-03-19 17:02] yoelhor commented on #50499
It may be related to the order of the XML elements it the policy. Could  you share your policy file? I'll check it for you.

[2020-03-19 17:06] MartinJaffer-MSFT commented on #50506
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-19 17:14] AshokPeddakotla-MSFT commented on #50327
@xuxuai520 You can create a VM in free trial. However, as per the error message the particular VM which you are trying to create is not available in the specific region and/or in your subscription. Please try in another region and check. Let us know if that helps.

[2020-03-19 17:21] djpmsft commented on #31801
Hi @TheMbvt,

Apologies for the very delayed response. I am sure you have moved on with your CI/CD solution at this point, but I wanted to answer your query.

When updating a data factory, your code repository will no be dropped. That being said, you should only have a code repository associated with your dev factory.

When deploying to 'Test' and 'Prod', you should automate them via a DevOps rele

[2020-03-19 17:21] #31801 closed

[2020-03-19 17:26] mhopkins-msft commented on #40730
Hi @EyalPerry,

The link to the repo you mentioned is actually for v12 of the SDK. This article is about v10. I rechecked the text and it is correct. It says to extract the zip the file and then copy the *azure-storage-blob.js* file in the indicated folder:
____________________________________________________
### Add the blob storage client library

To enable calls to the blob storage API, first [

[2020-03-19 17:27] #40730 closed

[2020-03-19 17:27] aruwo17 opened #50508 "Adding public ip address -update on Azure?"
The instructions above are not exactly aligned to the steps I can actually take to accomplish this task, that is, I didn't need to separately create a public ip address resource. I was able to do that from the NIC IP configurations blade. Steps:
NIC -&gt; IP configurations -&gt; Add -&gt; Public IP address [Enabled] -&gt; IP Address -&gt; Create new

In addition, the screenshot under the Core step

[2020-03-19 17:27] djpmsft commented on #27989
Hi there,

Apologies for the delay in response. If you delete a linked service in 'Dev', the changes will only affect the Dev factory. When going through CI/CD deployment and updating 'UAT', you should only be updating the data factory service (also known as publish branch) via ARM Template deployment (which can be automated in a release pipeline). UAT should not have a git repo associated with it

[2020-03-19 17:27] #27989 closed

[2020-03-19 17:31] mhopkins-msft commented on #33558
Hi @SogoGolf,

Unfortunately, we don't have the resources to create samples for all the possible ways to use the storage client libraries. However, I will pass your feedback on to the feature team for consideration when creating future samples.

Thanks for the feedback!
 ~ _Mark_

#please-close

[2020-03-19 17:31] #33558 closed

[2020-03-19 17:34] kgremban commented on #49887
@kiranpradeep to add more information to the answer, if you apply a deployment manifest to a device and the edgeAgent is unable to pull a module image, the device will not roll back to an old version. If you specify a module, and the runtime can’t pull it, it will attempt again, based on the retry policy, which by default backs off over time until it retries every 5 minutes.

[2020-03-19 17:34] henriquebelotto commented on #50499
This is the extension policy that I'm working with.
I had to redact some information, but I guess that it's useful for debugging purpose.

Thank you very much for your help.

[TrustFrameworkExtensions.txt](https://github.com/MicrosoftDocs/azure-docs/files/4356074/TrustFrameworkExtensions.txt)

[2020-03-19 17:35] mimckitt commented on #49621
I worked offline and found at this point in time we have no plans to support the Windows + Office SKU for Gen2.

You could still of course install all the needed office parts after and it would still work just fine. But as far as a full packaged image offering, no plans.

If you have a business case for this you would like to share I would be happy to share it with the internal team on your behalf

[2020-03-19 17:37] #50361 closed

[2020-03-19 17:49] SaurabhSharma-MSFT commented on #48658
@hew85 We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-19 17:49] #48658 closed

[2020-03-19 17:54] asinn826 commented on #49961
@Klaas- - yes, 8-LVM will point to 8.1 when it's published. There will be an 8-LVM-gen2 as well. Feel free to bring up image questions here too, I'll try my best to answer.

[2020-03-19 17:57] himanshusinha-msft commented on #50252
@sandeep8530  : Just wanted to point you to the below link . Please do let us know if you are still blocked .
https://docs.databricks.com/spark/latest/structured-streaming/streaming-event-hubs.html

[2020-03-19 17:59] CeciAc opened #50510 "how about mac software"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/579

@WillemVerwijs commented 9 hours ago — with docs.microsoft.com
We have some of those non professionals who use Eppul Mek (or however you write that). Is there a client for those lo...s and cloud you also make a link available to that software. prio:... well. low? or is that too high?

---
#### Document D

[2020-03-19 18:01] stefanlupsa commented on #50407
Thanks! @anhowe I've been trying to figure this out for porting an Ubuntu disk to Azure Stack and getting it to provision properly, will try the workaround!

[2020-03-19 18:05] svangeti opened #50511 "Can we Function App System Identity to retrieve the Cosmos DB keys"
Is there a way we can use Function App managed identity to retrieve the Cosmos DB keys using C#. If so, a sample would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities - Azure

[2020-03-19 18:07] VanMSFT commented on #43919
@markingmyname - Hey Mark, this is in ADF's area

reassign:markingmyname

[2020-03-19 18:07] svangeti opened #50512 "How to retrieve the Cosmos DB keys using managed Identity of Function App"
Can we retrieve the Cosmos DB keys using function app managed identity.
If yes, a C# sample code would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f59dde4d-488c-f922-da0f-c7489312edd1
* Version Independent ID: a88a5c15-9d08-bbed-6222-8269c58bcf56
* Content: [Certificate-based authentication with Azur

[2020-03-19 18:09] bandersmsft commented on #44947
@glaisne Hi there. Based on the type of subscription that you use, options to download your usage and charges vary. Based the screenshot you posted, it looks like your and EA user and the https://docs.microsoft.com/azure/cost-management-billing/understand/download-azure-daily-usage#download-usage-for-ea-customers section as written is accurate. To help clarify, I'm updating the article to add addi

[2020-03-19 18:09] #44947 closed

[2020-03-19 18:09] VanMSFT commented on #43919
#reassign:markingmyname

[2020-03-19 18:12] YutongTie-MSFT commented on #50029
@Clen10
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-19 18:13] mhopkins-msft commented on #48095
Hi @StingyJack,

This article uses the older v11 queues client library. Are you able to try this with the new v12 APIs? Here is a link to a quickstart article about using the new library:

[Quickstart: Azure Queue storage client library v12 for .NET](https://docs.microsoft.com/azure/storage/queues/storage-quickstart-queues-dotnet)

Let me know if this will work for you.

Thanks,
 ~ _Mark_

[2020-03-19 18:22] rolyon commented on #50296
Hi @vaishnavk
Thanks for the feedback. I'll check into this and get back to you.
thanks

[2020-03-19 18:24] Clen10 commented on #50029
Hi,
Actually i posted this link to Microsoft’s user voice, then a i got
contacted by microsoft support team to post that on Stack Overflow and
Github so that they can able to solve it. I did all. But no reply or
nothing.

What do i need to do nex?

On Fri, 13 Mar 2020 at 1:07 AM, Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-03-19 18:26] MarileeTurscak-MSFT commented on #50398
No, I mean the ID for whatever subscription you are using.

[2020-03-19 18:26] mikebudzynski commented on #44571
You cannot change the value of the `$DevPortalUrl` variable. For now, you can hardcode the portal url in the _subscription_ notification templates in the Azure portal.

[2020-03-19 18:27] YutongTie-MSFT commented on #50029
@Clen10 I will follow up on this topic and let you know, thanks.

[2020-03-19 18:34] myselfme0194 commented on #50480
Log:

2020/03/18 16:55:06 ui: ==> azure-arm: Provisioning with powershell script: ./scripts/terraform.ps1
2020/03/18 16:55:06 packer-provisioner-powershell plugin: Opening ./scripts/terraform.ps1 for reading
2020/03/18 16:55:06 packer-provisioner-powershell plugin: Uploading env vars to c:/Windows/Temp/packer-ps-env-vars-5e724b1c-7c6d-db8f-d6e2-e834ac010d40.ps1
2020/03/18 16:55:06 packer-provision

[2020-03-19 18:34] BharathNimmala-MSFT commented on #50503
@MaximIvanovInternals Thank you for bringing this to our notice, will fix the document accordingly.

[2020-03-19 18:34] mhopkins-msft commented on #48028
Hi @savaged,

I've looked through the PHP queues library and the only place that I found base64 encoding being used was to store a Shared Access Signature (SAS):

C:\Azure SDKs\azure-storage-php\azure-storage-queue\src\Queue>findstr /s /i /n /c:base64_ *.php
QueueSharedAccessSignatureHelper.php:138:        $decodedAccountKey = base64_decode($this->accountKey);
QueueSharedAccessSignatureHelper.php:

[2020-03-19 18:35] mike-urnun-msft commented on #50129
@tanzencoder Please use the base images listed here: https://github.com/Azure/azure-functions-docker/blob/master/README.md#v3-images

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-19 18:35] #50129 closed

[2020-03-19 18:36] BharathNimmala-MSFT commented on #50502
@fallmake Thank you for your query, we will further look into this and get back to you at the earliest.

[2020-03-19 18:36] YutongTie-MSFT commented on #50029
@PatrickFarley Hi Patrick, do you have any insight you can share here? Thanks.

[2020-03-19 18:38] himanshusinha-msft commented on #50256
@jkrysicki : Not sure if you have already gone through this thread . https://social.msdn.microsoft.com/Forums/en-US/72a648d8-63af-4886-bf17-fa2323622ac6/non-availability-of-microsoft-components-as-a-linked-service-in-adf?forum=AzureDataFactory

We will go ahead and assign this to the content owner , they will evaluate and make the necessary updates .

[2020-03-19 18:38] BharathNimmala-MSFT commented on #50505
@damiandiaz76 Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-19 18:38] rolyon commented on #50267
Hi @HughDevlin
Thanks for the feedback. I'll work on making this update.
thanks

[2020-03-19 18:41] himanshusinha-msft commented on #50265
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-03-19 18:41] #50265 closed

[2020-03-19 18:42] SaurabhSharma-MSFT commented on #50311
@ChrisSommers Is it a Linux or Windows VM ?

[2020-03-19 18:46] jurajgh commented on #50398
@MarileeTurscak-MSFT done

[2020-03-19 18:46] kbetts-wwt opened #50515 "Is KeyVault with FlexVolume production ready or not?"
This article article states:
"Associated AKS open source projects are not supported by Azure technical support. They are provided to gather feedback and bugs from our community. These projects are not recommended for production use."
https://docs.microsoft.com/en-us/azure/aks/developer-best-practices-pod-security

However, the project site says it is production ready.
https://github.com/Azure/kube