[2022-03-16 12:32] SumanthMarigowda commented on #89638
@JamesMilne The article/cmdlets look prefect and we are able to Verify connection, If you are getting any error message, please do share with us with the complete issue, I would like to work closer on this, I 'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to

[2022-03-16 12:32] #89638 closed

[2022-03-16 12:47] DeanGross opened #89930 "Hardening AAD COnnect Server"
Please add information about securing the configuration of the AAD Connect server, this is an important component that is not addressed in this document. The guidance exists in other places, see https://docs.microsoft.com/en-us/security/compass/overview, so it may best to just add a reference, maybe by including another step

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-16 12:48] shashishailaj commented on #89915
@henrypi73 Thank you for your feedback . We will investigate and update the thread.

[2022-03-16 12:49] shashishailaj commented on #89916
@feroz-ahmmed Thank you for your feedback . We will investigate and update the thread.

[2022-03-16 12:50] mbanck opened #89931 "Postgres Flexible Server: Document that sync_commit_cancel_wait custom GUC is broken"
Azure Flexible Server adds a custom setting `sync_commit_cancel_wait` that is of type `integer` but had `Disabled` as value:

[code]

This breaks tooling that tries to parse integer parameters, as, well, integer, e.g. Postgres Exporter:

[code]

It would be good to document this bug, or best, to get it fixed. I've reported it privately last fall to a Microsoft/Citus employee, but I don't think the

[2022-03-16 12:53] shashishailaj commented on #89930
@DeanGross
Thank you for your feedback . We will investigate and update the thread.

[2022-03-16 12:58] yelevin commented on #89493
The document is being updated with the correct instructions and screenshots. Thanks for your contribution!

[2022-03-16 12:58] yelevin commented on #89493
#please-close

[2022-03-16 13:11] jamesfranklinnetsec opened #89932 "need more info on how to optimise build time"
my builds take >2 minutes now and I've been binging how I can speed whats been given to me up a bit, found this article https://www.lazy-electron.com/2020/12/27/azure-static-web-apps.html and the author complained this article hasnt got enough detail on how to speed up the github action. there should be some kind of information on the usual nonos that make the build take a long time.

---
#### Doc

[2022-03-16 13:17] rolandwales10 opened #89933 "Using b2clogin when authenticating with b2c"
I have changed ida:AadInstance to a b2clogin URL.  It routes and authenticates, but it no longer uses the value in ida:RedirectUri to redirect.  I've been looking for instructions pertaining to this, and haven't found them.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 324756d2-b41d-4e38-1653-e1

[2022-03-16 13:27] SumanthMarigowda commented on #89763
@crshovrd41 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-16 13:28] nExoRek opened #89934 "invalid information?"
when checking Service Plans using information provided and comparing with real information from license object are incosinstent in many scenarios. example for M365 business standard, there are 26 services included
(Get-MsolAccountSku|? AccountSkuId -match 'O365_BUSINESS_PREMIUM').servicestatus
ServicePlan                     ProvisioningStatus
-----------                     ------------------
VIV

[2022-03-16 13:33] SumanthMarigowda commented on #89891
@phduf
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-16 13:51] bmansheim commented on #87472
@sakaldeepyadav I merged a fix for this issue. You can see the changes in the live docs.
Thanks for pointing out the problem!

[2022-03-16 13:51] bmansheim commented on #87472
#please-close

[2022-03-16 13:53] #87472 closed

[2022-03-16 14:12] coding-totoro opened #89936 "Typos on public page"
Typos on what's new page latest release as of 3/16/2022.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 344df76e-2b44-9154-fea7-b2b16f3081d3
* Version Independent ID: 7290593f-1a6c-4c17-e1e1-81e90ecd750d
* Content: [What's new in Azure Virtual Desktop? - Azure](https://docs.microsoft.com/en-us/az

[2022-03-16 14:32] #89096 closed

[2022-03-16 14:41] davidsmatlak commented on #89921
@despallier thank you for the documentation feedback. I'll research your question.

[2022-03-16 14:55] o-l-a-v commented on #13622
We ended up creating an Azure ticket on a different subscription and SKU, since one can't create tickets on "MS-AZR-0110P" / "AAD_2015-09-01".

Then reference to our two subscriptions in question we wanted deleted.

[2022-03-16 14:56] superstrong commented on #57943
Hi @shashishailaj The tooltip still has two sizes with the confusing language about "central image dimensions".

[2022-03-16 15:01] mimckitt commented on #89361
We have updated the note as follows:

![image](https://user-images.githubusercontent.com/32313503/158620718-8aa77f0a-80d7-463c-8dd3-f49c07ee1813.png)

We will continue to evaluate our wording as we continue to hear feedback. As usual, thank you for providing feedback :)

#please-close

[2022-03-16 15:11] YutongTie-MSFT commented on #89927
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-16 15:14] dombat opened #89940 "Ambiguous wording"
This text is ambiguous:

"In a real-world scenario, you could have hundreds of these sensors generating events as a stream. Ideally, a gateway device would run code to push these events to Azure Event Hubs  or Azure IoT Hubs. Your Stream Analytics job would ingest these events from Event Hubs ...."

Does it take data ONLY from "Event Hubs" OR can it take it from "IOT Hubs" too?

If it can ingest f

[2022-03-16 15:17] #89361 closed

[2022-03-16 15:17] JamesTran-MSFT commented on #89934
@nExoRek
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-16 15:18] JamesTran-MSFT commented on #89933
@rolandwales10
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-16 15:20] fsoares212 opened #89941 "PT-BR page leads to confusion"
Hi,

It seems that the names for "sub-resources" in the table presented here got translated as well... that leads to errors if a user tries to reference those sub-resources (translated) in an az cli or terraform script, will receive an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3c

[2022-03-16 15:23] enkrumah commented on #89940
@dombat , yes Azure Stream Analytics does take input from Eventhubs. The various inputs that we currently support are listed here: https://docs.microsoft.com/azure/stream-analytics/stream-analytics-add-inputs.

The article in this scenario is titled Process real-time Iot data Streams with Azure Stream Analytics. This is a build solution targeted towards using Iothub as an input source that is why

[2022-03-16 15:24] sncorreia commented on #89481
@michaelwechner seems like the Bot Service has its own IdP, the tokens are not issued by AAD.
You need to get the keys from their own endpoint, as below:
GET https://login.botframework.com/v1/.well-known/keys

This returns me a key with kids ZyGh1GbBL8xd1kOxRYchc1VPSQQ and wsK5S9hPqiqutDPoRnxxkvCtmgk, which matches the signatures of both of your tokens.

You can also read more here:
https://docs.m

[2022-03-16 15:42] konrad-jamrozik opened #89942 "The page "Functions in Azure Monitor log queries" is misleading when one tries to set up parameterized functions in Application Insights"
The steps in this page do not apply in Application Insights.

My goal is to create a function in Azure Portal / Application Insights instance, in the "Monitoring / Logs" tab. I am able to create a simple parameterless function, like:

[code]

![image](https://user-images.githubusercontent.com/4429827/158627710-6470302c-b292-424f-bc36-a1c2df9dbb95.png)

but it is not possible to add a param:

![ima

[2022-03-16 15:43] AshokPeddakotla-MSFT commented on #89923
@hammar  Thanks for the feedback and sharing the resolution. I have assigned the issue to the content author @PatAltimore to evaluate and update as appropriate.

[2022-03-16 15:46] mathiaskvist opened #89943 "Request timeout"
Hi

I have setup an AKS cluster which is serving long running http requests using fastapi. This worked quite well and I could run requests for 30 minutes before timeout.
After following the guide to add an ingress with a TLS termination proxy, I can process requests with https which is great. The issue is, that if a request takes more than ~5 minutes, the nginx server never processes the response

[2022-03-16 15:47] MayankBargali-MSFT commented on #89926
@BlackPhlox Thank you for your feedback! We will review and update as appropriate.

[2022-03-16 15:47] KarlErickson commented on #89797
#assign:@bowen5

[2022-03-16 15:48] KarlErickson commented on #89796
#assign:@bowen5

[2022-03-16 15:48] MayankBargali-MSFT commented on #89918
@aleksandervalle Thank you for your feedback! We will review and update as appropriate.

[2022-03-16 15:49] dombat commented on #89940
The wording "would ingest these events from Event Hubs" could be improved to...

"would ingest these events from [Event Hubs](https://docs.microsoft.com/azure/stream-analytics/stream-analytics-add-inputs)"

so it is clear what event hubs it is talking about (the two in the article and the others linked)

[2022-03-16 15:49] dombat commented on #89940
The wording "would ingest these events from Event Hubs" could be improved to...

"would ingest these events from [Event Hubs](https://docs.microsoft.com/azure/stream-analytics/stream-analytics-add-inputs)"

so it is clear what event hubs it is talking about (the two in the article and the others linked)

[2022-03-16 15:53] michaelwechner commented on #89481
Hi Sergio

Thanks for your feedback!

I will give it a try shortly and will keep you posted.

All the best

Michael

Am 16.03.22 um 16:28 schrieb Sergio Correia:

[2022-03-16 15:56] AshokPeddakotla-MSFT commented on #89539
@shijiong As requested, kindly contact support or let us know the required details for further assistance.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-16 15:56] #89539 closed

[2022-03-16 16:00] eric-urban commented on #89852
@JonSilver @GiftA-MSFT - Please try `const cancellation = sdk.CancellationDetails.fromResult(result);` instead. This should work with "sdk."

[2022-03-16 16:01] eric-urban commented on #89852
#please-close

[2022-03-16 16:02] eric-urban commented on #89852
#please-close

[2022-03-16 16:08] SadiqhAhmed-MSFT commented on #89911
@paulbaber We haven't yet validated the support for Server 2019 or 2022. We have planned to validate the untested SKUs in the next few months. There is no definite ETA when it will be supported.

[2022-03-16 16:22] dknappettmsft commented on #78842
#label:"virtual-desktop/overview.md"

[2022-03-16 16:26] jalexander-bb commented on #88917
Thats correct which the issue is resolved now, however the in-person discussion was really where i asked how event grid works, not in the case. You can simply ask your contact, what happens when a request is sent to a hybrid connection and its listener is not up. Thats how you will understand the retry logic is never initiated because a healthcheck comes first. So TTL is used instead.

[2022-03-16 16:26] AaronMaxwell commented on #89467
Thanks for your dedication to our documentation.

An internal work item has been filed at the following location for scoping and prioritization.

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1930460

[2022-03-16 16:31] DavidCBerry13 commented on #89917
@jmp75 - Thanks for letting us know about this.  Can I confirm you are on a Linux workstation and that you were never prompted for the git credentials?

[2022-03-16 16:32] #89852 closed

[2022-03-16 16:33] PatAltimore commented on #88253
#reassign:PatAltimore

[2022-03-16 16:40] dknappettmsft commented on #61316
Closing the loop on this - an article was published in September 2020: https://docs.microsoft.com/azure/virtual-desktop/disaster-recovery.  If there are any further comments, please open a new issue against that article specifically, rather than this overview article. Thank you.

#please-close

[2022-03-16 16:59] #61316 closed

[2022-03-16 17:00] #89467 closed

[2022-03-16 17:05] ggailey777 commented on #89858
There currently isn't documentation for this new extension. I've opened an internal work item to track the requirement ([#1930480](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1930480)).
#please-close

[2022-03-16 17:06] SebastianClaesson opened #89948 "Description improvement"
Current section:

New suggested section:

Removing the "The NIC bypasses the host and the virtual switch, while it maintains all the policy it applied in the host." as it creates confusion that the NSGs and other functionality that's provided by the virtual switch is bypassed.

I feel that it clarifies that the functionality of the virtual switch is still maintained, however only moved to the hard

[2022-03-16 17:06] abhijit-z opened #89949 "Upload ML output to data storage"
[Recommend content to push or upload the machine learning output data (csv or xlsx or any file) to data store (blob or data lake)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7caf9eb-e066-3da0-1874-fac2d917ea8f
* Version Independent ID: 924415cd-8e14-c48a-705d-c6b37145b456
* Content: [Connect to data storage with t

[2022-03-16 17:12] abhijit-z opened #89950 "registering files like csv in machine learning in the data storage"
[Need documentation on registering excel or csv files in machine learning studio]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* Version Independent ID: 08a2917b-e921-2a39-9385-ca4ef4bb25d9
* Content: [Create Azure Machine Learning datasets - Azure Machine Learning](https://docs.m

[2022-03-16 17:14] ChaitanyaNaykodi-MSFT commented on #89941
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-16 17:19] tfitzmac commented on #89542
It looks like this question was answered in the other GitHub issue.
#please-close

[2022-03-16 17:21] alexszym opened #89951 "Synapse workspace packages doc enhancement"
I'm trying to use Synapse workspace packages and I've followed the steps in the following doc.
1. Added wheel package to workspace
1. Added wheel package to spark pool
1. The spark pool is restarted between those changes.

The documentation is lacking information about what should happen when you have multiple versions of the wheel package in either the workspace or the pool. My expectation was th

[2022-03-16 17:21] tfitzmac commented on #89542
#please-close

[2022-03-16 17:25] #89542 closed

[2022-03-16 17:31] RSteeno opened #89952 "SAP Media Handling"
I'm looking for some more clarification in general on managing SAP media when we need to manage multiple versions of SAP by having multiple BOMS.

In the **Upload Media** section, step 7 says to upload archives and tools.  I have some assumptions that I'd like validated.

- The instructions aren't clear on which folder to upload to within the sapbits container.  Am i correct in assuming the **Arch

[2022-03-16 17:34] xboxchad opened #89953 "DF-DRAFT* error message not included in list"
I'm getting a cryptic DF-DRAFT_001 error message and I notice that it's not documented with the rest of the DF- errors.

Example:
Spark job failed: {
...
errorMessage=DF-DRAFT_001 at Source 'xyz'(Line 46/Col 0): Unresolved specification\"}
}\n"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba4150f3-3111-ff4c-f311-c90c

[2022-03-16 17:36] Karishma-Tiwari-MSFT commented on #89936
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-16 17:49] soraiagraca opened #89954 "Add Table.Unpivot in the known unsupported functions"
The section detailing the unsupported functions should be updated to contain the Table.Unpivot, since it is one of the unsupported functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6837cab4-07bc-f78a-245d-8edbfc355c7f
* Version Independent ID: a6717eae-d851-40bd-4325-89c63ad17106
* Content: [Data wrangling func

[2022-03-16 17:53] AaronMaxwell commented on #74664
@SwathiDhanwada-MSFT

Per Abby's comment, please assign this to the Storage Insights team and update the tags accordingly.  Thank you.

[2022-03-16 17:58] zlatko-jelisavcic-tq opened #89955 "In Log analytics data can not be tampered - need documentation"
Hi,

I have read the data security page, but it does not address whether the data stored is immutable and tamper-proof. This is implied, but I would like some details on how it is implemented and guaranteed. And about data deletion as well.

Please, share some documentation here.

Thank you in advance.

Kind regards,
Zlatko
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-03-16 18:14] #58788 closed

[2022-03-16 18:31] #89222 closed

[2022-03-16 18:43] #87148 closed

[2022-03-16 18:45] nickludwig commented on #85713
PR has been merged

[2022-03-16 18:45] nickludwig commented on #85713
#please-close

[2022-03-16 18:45] #85713 closed

[2022-03-16 18:50] VikasPullagura-MSFT commented on #89821
@mberry1212

Apologies for delayed response on this.

I checked with internal team on this, currently we don't have that capability through MEM for Android/iOS, only for Windows endpoints.

Hope that helps.

[2022-03-16 18:50] #89821 closed

[2022-03-16 18:52] JustinGrote opened #89958 "Import Key Vault Example should show Az command, not the deprecated command"
![image](https://user-images.githubusercontent.com/15258962/158665398-9d847bff-4468-47be-9e2d-f3157cedc513.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36657265-6c54-f354-9e09-51f5f23d6ba5
* Version Independent ID: bad1c0d1-b706-107a-3f15-e3e8d46b7e28
* Content: [Tutorial - Import a certificate in Key Vault usin

[2022-03-16 19:01] hknisl opened #89959 "CMDLet names are incorrect"
[Enter feedback here]

PowerShell CMDLet names are not current. The section about deleting corporate apps should be updated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-1ff17e427757
* Content: [Delete an Azure AD tenant - Azure Act

[2022-03-16 19:03] giugnomt opened #89960 "Need more clarification on next steps after the Linked Service is configured"
Hello there,

The technical documentation for copying data from Google AdWords to Synapse by utilizing the Linked Services in Synapse needs more details on the steps to follow after creating the linked service and what you can do with the dataset once you have integrated it into Synapse. More step-by-step instruction into the Copy and Lookup activity for this Linked Service and you can even take i

[2022-03-16 19:04] JamesTran-MSFT commented on #89958
@JustinGrote
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-16 19:04] JamesTran-MSFT commented on #89959
@hknisl
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-16 19:09] dancing-groot opened #89961 "Post update custom configuration"
Hi,

In step 14, "Under Post update custom configuration, you can enter the location of an Azure Resource Manager template to perform custom configurations on your session hosts after you create them", I can't find any example of what the ARM template looks like?
I have created a template which adds a Custom Script Extension, but I can't figure out how I can reference the VM(s) created within it?

[2022-03-16 19:11] erik-ha-msft commented on #86733
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-16 19:11] #86733 closed

[2022-03-16 19:12] erik-ha-msft commented on #89102
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-16 19:12] #89102 closed

[2022-03-16 19:33] Snozzberries opened #89963 "Incorrect prerequisites"
The requirement of AWS SSO is not correct. An AWS IAM IdP is required, which does not require AWS SSO.

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial#prerequisites

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID

[2022-03-16 19:53] mrochon opened #89964 "What is the datacenter_count?"
Given geographical location of of my B2C, e.g. US, how do I determine the _datacenter_count_ in the formula on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b526157-3403-0211-9fda-9072bda47466
* Version Independent ID: f0ab253a-616c-b1ae-62ba-45f6500e69dd
* Content: [Mitigate credential attacks - Azure AD

[2022-03-16 19:57] jaganpt opened #89965 "How to establish "Connect-PnPOnline" connection in PowerShell runbook using managed identity?"
How to establish "Connect-PnPOnline" connection in PowerShell runbook using managed identity?

Connect-PnPOnline  -ManagedIdentity

Seems the above command is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8470c7-57d1-e2ec-cc70-a43c8dfc42d6
* Version Independent ID: 2da6432e-e642-10ae-199c-9ebb1e19a5d8
*

[2022-03-16 20:00] davidsmatlak commented on #89921
#assign:davidsmatlak

[2022-03-16 20:10] markjbrown commented on #89849
Independently, meaning you cannot access the data from more than one API endpoint simultaneously.

Interoperable, meaning you can access the data from both a SQL API and Gremlin endpoint simultaneously.

To see this in action, create a Gremlin API account and navigate to the Cosmos DB Overview tab in Azure Portal. There you will observe both a SQL API endpoint as well as a Gremlin endpoint which c

[2022-03-16 20:12] tejaswikolli-web commented on #88822
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal

[2022-03-16 20:12] tejaswikolli-web commented on #88822
#please-close

[2022-03-16 20:12] #88822 closed

[2022-03-16 20:16] Heidilohr commented on #89936
I fixed this typo and one other one in a pull request, and the changes should go live with next publish. #please-close

[2022-03-16 20:16] #89936 closed

[2022-03-16 20:22] #79010 closed

[2022-03-16 20:27] YutongTie-MSFT commented on #89949
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-16 20:28] YutongTie-MSFT commented on #89950
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-16 20:38] KranthiPakala-MSFT commented on #89953
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@jonburchel , @kromerm  - Kindly review the above feedback and please help provide an update. Thank you

[2022-03-16 20:39] KranthiPakala-MSFT commented on #89954
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-03-16 20:40] KranthiPakala-MSFT commented on #89960
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-16 21:11] erik-ha-msft commented on #83055
Thank you for the feedback.

Currently, the articles do not specify a digest to avoid this issue.

#please-close

[2022-03-16 21:11] #83055 closed

[2022-03-16 21:25] ko-sharon opened #89966 "Sentinel Automation Contributor hyperlink is going to Sentinel Contributor"
The hyperlink for Automation Contributor would be: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#microsoft-sentinel-automation-contributor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22df-0070-b051fc09cb0c
* Version Independent ID: c543b5d2-e0db-d137-acd2-43ed1f712817

[2022-03-16 21:54] khdownie commented on #89878
@aamorale thanks for catching this. @SaiKishor-MSFT - I will update with portal instructions and then update/close this issue.

[2022-03-16 21:57] ninarn commented on #89871
Hi @RoyKM, what error message do you see in the query editor when it fails to connect?

[2022-03-16 21:59] BevanSin opened #89967 "Define what Resource Group is used for and risks around deletion"
In the MAU billing model change process, you are required to select a Resource group but there is no explanation as to why.

This process creates a resource of Resource Type Microsoft.AzureActiveDirectory/guestUsages in that resource group so it would be good to explain that.

Also, what happens if someone deletes that resource group in future?  Do we need to lock that resource group from deletion

[2022-03-16 22:31] #89888 closed

[2022-03-16 22:46] femsulu commented on #89883
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-03-16 22:47] #89883 closed

[2022-03-16 22:52] femsulu commented on #89920
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-16 22:58] femsulu commented on #89929
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-16 23:00] femsulu commented on #89942
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-16 23:02] femsulu commented on #89952
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-16 23:04] femsulu commented on #89955
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-16 23:06] jmp75 commented on #89917
@DavidCBerry13  I am working from a Debian Wormwood (testing) setup indeed. I **am** prompted for the password contrary to what I initially said (not a user name though, so I assume this is actually more like a personal authentication token). I've updated the issue report to be clearer.

I should probably restart from scratch using only one method i.e. the az CLI. It looked like I could swap from

[2022-03-16 23:06] #89917 closed

[2022-03-16 23:08] femsulu commented on #89965
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-16 23:10] femsulu commented on #89966
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-16 23:16] michaelwechner commented on #89481
Hi Sergio

I am using Java to get the public key, whereas I took the x5c value
which is matching the kid value "ZyGh1GbBL8xd1kOxRYchc1VPSQQ"

String publicKeyPem ="MIIGGDCCBACgAwIBAgITbQDgJqLi3fOkWY1IZwACAOAmojANBgkqhkiG9w0BAQsFADAVMRMwEQYDVQQDEwpNU0lUIENBIFoyMB4XDTIxMDYxMTExMzY0MFoXDTIyMDYxMTExMzY0MFowJTEjMCEGA1UEAxMaYm90YXBpLXByb2QtcHViLWp3dHNpZ25pbmcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDY

[2022-03-16 23:20] JamesTran-MSFT commented on #89967
@BevanSin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-16 23:22] femsulu commented on #89966
Thanks again for the raising this. A PR has been created to fix the hyperlink error. The fix will be visible in the doc once approved by content owner.

cheers.

[2022-03-16 23:22] #89966 closed

[2022-03-16 23:22] femsulu commented on #89966
Thanks again for the raising this. A PR has been created to fix the hyperlink error. The fix will be visible in the doc once approved by content owner.

cheers.

[2022-03-16 23:24] femsulu commented on #89932
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-16 23:45] JIAQI13 opened #89970 "Azure SDK JavaScript api endpoint availability"
Hello
I wonder if the ApiManagementClient.api package is available with the latest version of Azure SDK yet?
I am having trouble finding a sample for this endpoint.
Thank you!

[2022-03-16 23:59] hayleyhorn opened #89971 "the hive metastore/DBR table"
IHAC that was confused about this table, can we add the later runtimes to this table (8.x,9.x,10.x). The table is a little unclear w.r.t. databricks runtimes.

Databricks Runtime Version | 0.13 - 1.2.1 | 2.1 | 2.2 | 2.3 | 3.1.0
-- | -- | -- | -- | -- | --
7.x | Yes | Yes | Yes | Yes | Yes
6.x | Yes | Yes | Yes | Yes | Yes
5.3 and above | Yes | Yes | Yes | Yes | Yes
5.1 - 5.2 and 4.x | Yes | Yes |

[2022-03-17 00:32] #89970 closed

[2022-03-17 00:35] jmp75 opened #89972 "Deploy to container registry step fails with"
I had created a container registry e.g. named my-container-registry yesterday.

Getting back to this tutorial today, VSCode remembers my credentials somehow and I can "see" all resources, but at step [Deploy to container registry](https://docs.microsoft.com/en-us/azure/app-service/quickstart-custom-container?tabs=python&pivots=container-linux#deploy-to-container-registry) I get:

[code]

I think t

[2022-03-17 00:58] jmp75 opened #89973 "Deploy to App Service step in quickstart fails with roleAssignments unauthorised"
Tutorial Step [Deploy to App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-custom-container?tabs=python&pivots=container-linux#deploy-to-app-service), using a container registry I have already used to deploy another web app, under a subscription where I have the Contributor role. The deployment fails with the message:

[code]

I tried a few options (using an existing resou

[2022-03-17 01:08] ababinchak commented on #89888
Yes that one. It doesn't provide the latest information. A better link would be to the owa mailbox policy powershell reference where there is far more detail and an additional option for the command.

From: Marilee Turscak - MSFT ***@***.***>
Sent: Tuesday, March 15, 2022 5:43 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Amy Babinchak ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftD

[2022-03-17 01:32] #89676 closed

[2022-03-17 02:01] CHEEKATLAPRADEEP-MSFT commented on #89971
@hayleyhorn  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-17 02:20] CHEEKATLAPRADEEP-MSFT commented on #89912
@desarkar The changes are now live.

![image](https://user-images.githubusercontent.com/79183421/158723537-6fc9e1af-d16c-4fb0-9059-7939849ed923.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-17 02:20] #89912 closed

[2022-03-17 02:21] jkewley opened #89974 "Provide context for alias vs subscription"
This page would benefit from an explanation of what an account alias is and how it relates to subscription creation and subscription management. I'm specifically addressing [this section](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=rest#create-subscriptions-under-a-specific-enrollment-account)

I expected the

[2022-03-17 02:21] CHEEKATLAPRADEEP-MSFT commented on #89851
@ds-evo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-17 02:22] CHEEKATLAPRADEEP-MSFT commented on #89831
@venkatesh-bhupathi The changes are now live.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-17 02:22] #89831 closed

[2022-03-17 02:22] CHEEKATLAPRADEEP-MSFT commented on #89822
@bnordberg Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-17 02:22] #89822 closed

[2022-03-17 02:23] CHEEKATLAPRADEEP-MSFT commented on #89769
@Aminadad27 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-17 02:23] #89769 closed

[2022-03-17 02:24] CHEEKATLAPRADEEP-MSFT commented on #89766
@jiasli I said above,  suggest you to open an issue here:https://github.com/Azure/azure-rest-api-specs/issues

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-17 02:24] #89766 closed

[2022-03-17 03:49] hiaga commented on #89892
@GrzegorzHejman : the above command works for me with the latest module Az.RecoveryServices 5.2.0 Could you please check  once with latest module and run the command with -Debug parameter ?

Adding snapshot of where it worked for me -

![image](https://user-images.githubusercontent.com/20358332/158733237-2e37135d-247d-4335-87be-8f49302b4668.png)

[2022-03-17 03:51] dowdeswells opened #89976 "WebApi and Webjob scenarios"
Please explain how to manage the lifecycle of these classes in a real program.

In a WebApi or a Webjob, for example, where would you put the disposal of static variables (like the Client and Sender here)?
This is relevant because the stated best practice is to have these instances as static. Now that they implement IDisposable it is not immediately obvious how to deal with their lifecycle

Since

[2022-03-17 03:54] MayankBargali-MSFT commented on #89976
@dowdeswells Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-17 04:05] femsulu commented on #89943
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-17 04:23] #76229 closed

[2022-03-17 05:05] Herman5006 commented on #89787
@SumanthMarigowda  any update?

[2022-03-17 05:43] akmichael opened #89978 "Retry failed after 4 tries. Retry settings can be adjusted in ClientOptions.Retry."
cognitiveservices service call takes more than 10 minutes also getting below error. Is it azure server related?

[code]

[2022-03-17 05:50] Sachin1O1 commented on #88452
@SwathiDhanwada-MSFT any update?

[2022-03-17 05:51] SadiqhAhmed-MSFT commented on #89974
@jkewley Thanks for the feedback. We will review the content and update as appropriate.

@bandersmsft FYI

[2022-03-17 05:53] MayankBargali-MSFT commented on #89918
@aleksandervalle Yes, your understanding is correct. As mentioned in the document [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-filter-examples#filter-on-system-properties) it will be system properties with few examples.

In case of If you are using Azure.Messaging.ServiceBus library the system properties will of class [ServiceBusMessage properties](https://docs.m

[2022-03-17 05:57] drdamour opened #89979 "add docs about bumping / managing the azurite version with vs 2022"
i'm in a situation where i updated Azure.Storage.Blobs to a recent version and my projects started failing because the azurite bundeld with vs 2022.  There's no update for vs 2022.  I see there's an extension out there https://marketplace.visualstudio.com/items?itemName=Azurite.azurite but that doesn't seem to be the one built in with vs...and i see i can install azurite as a global node package.

[2022-03-17 06:04] paulbaber commented on #89911
Hi Sadiqh,

Thanks for checking on that. On this page, Support matrix for the MARS agent - Azure Backup | Microsoft Docs<https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent> (https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent), the "Yes" in the support matrix seems to indicate that System State backups are supported on Server 2019.

Am I inter

[2022-03-17 06:13] AshokPeddakotla-MSFT commented on #89657
@Farhad-Heybati As mentioned on the referenced issue, fix is deployed for markupsafe. Please do confirm if your issue is resolved or still blocked. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-03-17 06:13] #89657 closed

[2022-03-17 06:21] #89669 closed

[2022-03-17 06:28] MayankBargali-MSFT commented on #89895
@yowl This document [section ](https://docs.microsoft.com/en-us/azure/logic-apps/concepts-schedule-automated-recurring-tasks-workflows#schedule-triggers) does call out and you need to leverage the **time zone** property of your recurrence schedule. You need to add the time without Z value and add the time zone property on your Recurrence trigger on the 4 point of `Start time` property as mentioned

[2022-03-17 07:10] SwathiDhanwada-MSFT commented on #74664
@SumanthMarigowda  Can you please assign to appropriate poc?

[2022-03-17 07:10] SwathiDhanwada-MSFT commented on #81391
@SumanthMarigowda Can you please assign to appropriate poc?

[2022-03-17 07:26] aleksandervalle commented on #89918
@MayankBargali-MSFT Thanks for you response. I tried to create an SQL-filter using `sys.Subject` (since I'm using [ServiceBusMessage](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusmessage?view=azure-dotnet#properties)), and got this error message:

I'm using Terraform to provision this rule, so I guess this _might_ be a "problem" with Terraform or underlying Aure

[2022-03-17 07:32] PriyankaRudramaina commented on #89961
Hi @dancing-groot,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-17 07:41] GrzegorzHejman commented on #89892
It works ok unless you have DBs in Availability Groups. Here's the debug log. It seems it lists all the protectable items correctly, but then makes another request (https://management.azure.com/subscriptions/abcdefabcd-abcd-abcd-abcd-abcdabcdabcdabcd/resourceGroups/rg-backupsql/providers/Microsoft.RecoveryServices/vaults/v-backupsql/backupFabrics/Azure/protectionContainers/sqlagworkloadcontainer)

[2022-03-17 07:56] hiaga commented on #89892
@GrzegorzHejman Ack, investigating further

[2022-03-17 07:58] andreyshihov opened #89990 "Change Theme (bottom left) to Dark, observe the diagrams. Blank fonts aren't easy to read. :)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a236d52-de87-bd3f-89b4-eb171a0592b9
* Version Independent ID: 8d4b8598-6764-d7f6-11c1-9e0052735797
* Content: [Azure AD Connect sync: Understanding the architecture - Azure](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/concept-azure

[2022-03-17 08:24] Axel92Dev commented on #40132
@blasticbe I can confirm your solution works like a charm. You made my day!

[2022-03-17 08:25] shashishailaj commented on #89990
@andreyshihov Thank you for sharing this info . We will investigate and update the thread.

[2022-03-17 08:25] joaomoreno opened #89991 "Mention the lack of support for the `Vary` header"
The [`Vary` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary) happens to be quite important for any service or process doing web caching. One scenario is serving CORS-enabled requests by using `Vary: Origin`, for example. There are plenty other scenarios (like [content negotiation](https://github.com/MicrosoftDocs/azure-docs/issues/86858)) which are only possible by having ca

[2022-03-17 08:32] kota-yamada opened #89992 "Japanese Translation Layout is collapsing"
Japanese Translation Layout is collapsing in the image of "How can I use managed identities for Azure resources?".
https://docs.microsoft.com/ja-jp/azure/active-directory/managed-identities-azure-resources/overview#how-can-i-use-managed-identities-for-azure-resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861

[2022-03-17 08:45] CHEEKATLAPRADEEP-MSFT commented on #89978
@akmichael  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2022-03-17 09:00] shwetamathur7 commented on #89538
@Nagendracv The 'Forgot Password' feature is one such feature, which can be misused to compromise user accounts.  For security reasons users and their passwords are managed by Azure AD and allow administrator to configure and enable [Self Service Password Reset feature](https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr) for their users.

[2022-03-17 09:30] AjayKumar-MSFT commented on #89972
jmp75, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-03-17 09:31] shashishailaj commented on #89990
@andreyshihov I did check on this and I have found that in dark mode the pictures are difficult to read.

![image](https://user-images.githubusercontent.com/532022/158779456-9241277c-8d2d-4035-b4d7-6b8f26f25269.png)

The picture normally is like below . The opacity of the picture needs to be improved .
![Image](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/media/concept-azure-ad-c

[2022-03-17 09:38] michaelwechner commented on #89481
Hi Sergio

I think I was able to solve the problem :-)

If you don't mind, then I would like to keep the ticket open for some more tests to be certain that we got everything working correctly according to

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-authentication?view=azure-bot-service-4.0#step-4-verify-the-jwt-token

Btw, how did you see that our Bot

[2022-03-17 09:38] naokitakeda14 opened #89993 "Confirming superuser permissions in Azure Database for PostgreSQL - Single Server."
[Enter feedback here]
It's writing about azure_superuser in Azure Database for PostgreSQL - Single Server.
According to the document, "While creating a server, you set up the credentials for your admin user. The admin user is the highest privilege user you have on the server. It belongs to the role azure_pg_admin. This role does not have full superuser permissions. The PostgreSQL superuser attribu

[2022-03-17 09:39] WeihanLi commented on #87964
Hi @ram-msft , is there any update so far, thanks.

[2022-03-17 09:59] AjayKumar-MSFT commented on #89973
jmp75,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-17 10:07] sncorreia commented on #89481
Hey Michael,

Awesome, I am glad you were able to sort it out :)

If you decode the token (using https://jwt.ms for example), you will see the following claim:
"iss": "https://api.botframework.com"

This represents the IdP that issued the token.

When a token is issued by AAD, the issuer will be one of the below:
"iss": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",

[2022-03-17 10:12] AjayKumar-MSFT commented on #89970
JIAQI13, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume you have figured out the issue, if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-03-17 10:16] shashishailaj commented on #89992
@kota-yamada Thank you for your feedback . We will get this checked and update the thread.

[2022-03-17 10:31] shashishailaj commented on #89992
@kota-yamada  I hope you are talking about the below . We will get this checked internally with the content team and update.

![image](https://user-images.githubusercontent.com/532022/158790087-90b9d792-7121-4b88-a68c-6cf5490c12ec.png)

[2022-03-17 10:39] GitaraniSharma-MSFT commented on #89991
@joaomoreno , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-03-17 10:39] AnuragSharma-MSFT commented on #89993
@naokitakeda14 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-17 10:42] shashishailaj commented on #89992
@kota-yamada We have reported this [internally to the team](https://github.com/MicrosoftDocs/azure-docs-pr.ja-jp/issues/90) and they will check and update the content layout for the japanese version.

[2022-03-17 10:43] #89992 closed

[2022-03-17 10:47] tomonion opened #89995 "ACI Azure Container Instance in VNet unable to connect to on-premise resources outbound over VPN Gateway"
# The issue

The ACI networking scenarios listed in the documentation [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-virtual-network-concepts), specifically mention that **'Container groups deployed into an Azure virtual network enable a scenario that enables container communication with on-premises resources through a VPN gateway or ExpressRoute.'**

However

[2022-03-17 10:52] olavt commented on #89849
Ok, I think it would be great to provide an easier to understand explanation for "Independently" and "Interoperable" in this context as I don't think that is clear to most readers.

[2022-03-17 10:53] dknappettmsft commented on #72370
Government licenses aren't mentioned in the commercial product terms, which is where this list comes from: https://www.microsoft.com/licensing/terms/productoffering/MicrosoftAzure/all.  Government docs are handled separately.

#please-close

[2022-03-17 10:53] #72370 closed

[2022-03-17 11:00] nExoRek opened #89996 "...and how to recover?"
would be nice having a link to information how to use this snapshot afterwards - like e.g. how to revert machine back using it...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb0d5aa-46fa-b15d-8eec-c724b5ae468c
* Version Independent ID: 1977490f-d9c6-574c-c6a4-36b0ebd484b8
* Content: [Create an Azure snapshot of a v

[2022-03-17 11:30] MayankBargali-MSFT commented on #89397
@bartlannoeye The EventGrid Trigger is called via a WebHook so it’s an HTTP call. This means that the HTTP configuration in host.json would apply in the case of the event grid trigger. You can leverage the maxConcurrentRequests and maxOutstandingRequests as mentioned in [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook?tabs=in-process%2Cfunction

[2022-03-17 11:34] gbuczylowski commented on #20721
Any news on making TDE enabled by default for all databases in Azure SQL Managed Instance?
From what I can see TDE is enabled on instance level but databases are not automatically encrypted.
It seem additional TSQL steps are required to enable encryption for each DB (very similar to on-prem SQL)

https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-tde-overview?tab

[2022-03-17 11:38] #89039 closed

[2022-03-17 11:44] mtwelve opened #89997 "Can we get some clarity and indicative numbers for what "many users" means?"
Within the document there is the following warning

![image](https://user-images.githubusercontent.com/15998398/158800228-aaf5df22-13a3-47ca-8f77-e4a3e5789adf.png)

Sadly "many users" isn't something we can forecast against or plan for with regards our current CA design.

What are some rough numbers of users that, if we are providing AVD to (with SSO configured), we should be planning to deploy Is

[2022-03-17 12:33] JeroenJSmit opened #89998 "High costs enabling defender for storage"
We are seeing pretty high costs with advanced threat protection enabled on storage accounts for durable functions which is caused by the many blob transactions done by the partition manager (taking blob leases), in some cases 5M transactions per day. Can those kind of transactions be excluded from billing or scanning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-03-17 12:33] RazanHussain opened #89999 "how unique tags are calculated"
[Enter feedback here]

Regarding the unique tags, I don't think it's clear how they are calculated.
it's not mentioned in the documentation, so the customers do not know how they are calculated, they think it's (calculations tag name + tag value)

but the unique tags calculation is based on (Resource + Tagname + Tagvalue.)

For an example: If Resource1 has Dept=Finance and Resource2 has Dept=Finan

[2022-03-17 12:46] Feni85 commented on #34167
I came here today after seriously doubting whether I had to wipe my PC or not. I'm responsible for 4000 users who encounter this exact phishing-like webpage. How is this issue still not fixed?

[2022-03-17 12:46] Rablet opened #90000 "partners.contoso.com vs www.contoso.com"
The "How clients connect using Traffic Manager"-section starts by saying the user is trying to open https://partners.contoso.com/login.aspx and the steps in text form below the image all mention partners.contoso.com as well.

However, step 2 in the image says the CNAME is on www.contoso.com. Should this not be partners.contoso.com?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-03-17 12:57] JeroenJSmit opened #90001 "Migrate data from Storage Emulator to Azurite"
For years I have been working with the Storage Emulator and I'd like to switch to using Azurite. I do have a lot of data in the local storages though and am wondering if and how I can migrate (move/copy) that so I continue working with the same data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f14

[2022-03-17 13:04] BrodaNoel commented on #34167
Seems like the IE11-team is working on it.

Broda Noel

[2022-03-17 13:17] kota-yamada commented on #89992
Yes, the image is what I am talking about.

[2022-03-17 13:26] dgrospelier opened #90002 "Billing for managed connectors in ASEv3 is not clear"
Hi,

In the section [https://stackoverflow.com/questions/71513050/logic-app-standard-with-asev3-what-is-the-price-for-managed-connectors](url) it is explained that when using an ASEv3, we are

What about managed connectors? Are they included in the ASEv3 price or are they billed like in the Standard model without ASEv3?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-03-17 13:31] Farhad-Heybati commented on #89657
Can you please explain what was the resolution for this issue?
In classifier module - dockerfile I add: RUN pip install markupsafe==2.0.1 And still get the same error

[2022-03-17 13:34] yowl commented on #89895
I cant seem to save a time without a Z:

![image](https://user-images.githubusercontent.com/2720041/158819656-f2dbd6d2-a614-4a2b-8688-586cf4d8f9db.png)

[2022-03-17 13:36] b-ahibbard commented on #89787
@Herman5006 - existing and preview regions are updated [here](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=netapp). If you need further information, please reach out to anffeedback@microsoft.com .

[2022-03-17 13:42] filippopovic commented on #89559
@sdebruyn, thank you for reaching out. This article states it is for serverless SQL pool in the title.

Title is shown in large bolded font at the top of the page. Title: "How to use OPENROWSET in **serverless SQL pool**"

[2022-03-17 13:44] yowl commented on #89895
Thanks, I missed that it was not specified on the time itself

[2022-03-17 13:44] #89895 closed

[2022-03-17 13:47] GitaraniSharma-MSFT commented on #90000
@Rablet , thank you for your feedback. We'll review this and get back to you shortly!

[2022-03-17 14:44] bandersmsft commented on #88764
@PaulSells Hi there. Following up on this. Both of the following articles are updated with new information. The newly supported transfer scenarios are available to a majority of customers now, but not all customers have the ability to initiate transfers yet. If your subscription isn't available to transfer yet, you might have to wait a week or two.

https://docs.microsoft.com/azure/cost-management

[2022-03-17 15:00] GitaraniSharma-MSFT commented on #89894
@josgonz231 , We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-03-17 15:30] over2under3 opened #90006 "Agent Bundle?"
[Enter feedback here]
What exactly is an "Agent Bundle"? What are the circumstances which an "Agent Bundle" is used?

Why put terms and phrases into a document without defining what it is or giving context.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f396e9b
* Version Independent ID: 2882

[2022-03-17 15:34] tfitzmac commented on #89999
@RazanHussain - thanks for this feedback. I will add that clarification to the doc.

[2022-03-17 15:37] GitaraniSharma-MSFT commented on #89910
@GavinJin88 , you have mentioned the issue is with PTR resolution when you create Private DNS zone for /27 or /26.
Could you please confirm if this only affects Private DNS zone or it affects Public DNS zone as well?

[2022-03-17 15:50] cveld opened #90008 "Exit code 52"
We are experiencing a failure of the iaas malware extension with exit code 52.
What could be the cause?

Is there any verbosity level we can increase to find out why this time out happens?
Could it be GPO OU related?
Or is it related to the Windows 10 multi-session base image?
Or is it any customization we added to the image?
On Windows Server 2019 Azure VM's onto another OU we don't see this erro

[2022-03-17 15:54] #89999 closed

[2022-03-17 15:58] dknappettmsft commented on #85587
Thanks for the feedback. This information has been updated and reworked into a separate prerequisites article that should be available later today.

#please-close

[2022-03-17 15:58] #85587 closed

[2022-03-17 16:05] #53554 closed

[2022-03-17 16:06] dknappettmsft commented on #52488
Thanks for the feedback. This information has been updated and reworked into a separate prerequisites article that contains a link to this information, which should be available later today.

#please-close

[2022-03-17 16:08] Kriof opened #90009 "Incorrect functions version"
Hi,

The tutorial has an outdated function version. Function version from docs is 2 and currently, it's not possible to create function app with the old version.

After running `az functionapp list-runtimes` we can see that for dotnet we can choose 3 and 4 function's version.

https://github.com/Azure-Samples/function-image-upload-resize is in version 2 as well

---
#### Document Details

⚠ *Do no

[2022-03-17 16:08] dknappettmsft commented on #50238
Thanks for the feedback. This no longer appears in the article, it is "To optimize for network performance, we recommend that the session host's VMs are located in the Azure region that is closest to the user." This information has been updated and reworked into a separate prerequisites article that should be available later today.

#please-close

[2022-03-17 16:09] dknappettmsft commented on #44642
Thanks for the feedback. This information has been updated and reworked into a separate prerequisites article that clarifies per-user and per-device, which should be available later today.

#please-close

[2022-03-17 16:12] Klaas- commented on #81600
So this is still happening, half a year later :) It's different updates now, but I've opened a support case for it #2203170050002124

[2022-03-17 16:16] JindrichPilar opened #90010 "Custom domain for AAD B2C with proxy other than Front Door"
Hi, could the documentation, please, clarify

- Whether custom domain can be provided using different CDN/proxy other than Azure Front Door
- How should the original domain be provided in the proxied request

---

We are using different CDN and want to use it as a proxy for AAD B2C to provide custom domain.
It works, but every URL generated by AAD B2C contains wrong domain.

i.e. `authorization_en

[2022-03-17 16:18] jeevanearform opened #90011 "Helm instructions"
We use helm version 3.6.3 in our Azure pipelines and use the same version locally to create helm chart. It would help if this page has the option to select a particular major helm version to see the instruction for that version.
I am new to helm and it took sometime to realise this. Also i guess the helm save cli option is introduced in helm 3 and this doc doesnt reflect that.

---
#### Document D

[2022-03-17 16:21] markjbrown commented on #89849
Thanks. We've not seen any feedback other than yours for this doc. We will keep this on our backlog and if we begin seeing additional data this is causing confusion, we will take another look at modifying the passage.

Thanks again.

#please-close

[2022-03-17 16:25] Klaas- commented on #88627
I was informed that the 8.5 uefi image should now work for trusted launch, whats the consensus at Microsoft now -- do you want to support all 8.x rhel releases?

[2022-03-17 16:29] GitaraniSharma-MSFT commented on #89922
@saiKrish13 , It looks like packet capture is supported on legacy SKU but not via Portal.
You can do a packet capture on any route based legacy VPN gateway SKU via PowerShell/CLI.
I tried the same in lab and packet capture worked for a Basic route based VPN gateway :

![image](https://user-images.githubusercontent.com/67630903/158847466-f418ea1f-f82a-4426-b1aa-77227b70b733.png)

I will validate th

[2022-03-17 16:33] jmalouf69 opened #90013 "Is there an estimate yet on when this will be GA?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3395d9-6a03-3431-25cc-9e9813bb9059
* Version Independent ID: 90f02c63-2bd0-c8e4-2e7a-ff9eaa3a6f2d
* Content: [Connect to a VM using a native client and Azure Bastion - Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/connect-native-clie

[2022-03-17 16:33] dknappettmsft commented on #78567
Yes that's intentional - if you look at the title of the article it's What's new in Azure Monitor **for Azure Virtual Desktop**?

#please-close

[2022-03-17 16:44] #74290 closed

[2022-03-17 16:44] jmaaspmn opened #90014 "What are the hardening recommendations? - Hyperlinks swapped"
Under the "What are the hardening recommendations?" (https://docs.microsoft.com/en-us/azure/defender-for-cloud/apply-security-baseline#what-are-the-hardening-recommendations) section, the "For Windows machines" and "For Linux machines" hyperlinks are swapped. For example:

If clicking the hyperlink "Vulnerabilities in security configuration on your Windows machines should be remediated (powered by

[2022-03-17 16:46] yeroc-sebrof commented on #86855
Just thought I'd give this thread an update; this is no longer an issue that effects my usage of Azure as I've moved to AKS to get the required access to Azure Storage in a multi-container environment. However, I still believe that this Docker-Compose preview for Azure Apps could have let me avoid that additional Ops responsibility in applications thats comprised of 2-3 linux containers.

Looking

[2022-03-17 16:52] vhorne commented on #88484
Done
#please-close

[2022-03-17 16:52] #88484 closed

[2022-03-17 16:53] davidsmatlak commented on #89921
There are a couple documents in the Azure Databricks documentation.  I'll add the `PublicIPCountLimitReached` error code and links to the [error codes](https://docs.microsoft.com/azure/azure-resource-manager/troubleshooting/common-deployment-errors) article.

- [Unexpected cluster termination](https://docs.microsoft.com/azure/databricks/kb/clusters/termination-reasons)
- [IP address limit prevents

[2022-03-17 17:02] psignoret commented on #89372
I confirmed the Privileged Role Administrator _can_ manage permission grant policies. (The role permissions are missing from [this page](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference), which will be updated in the coming week.)

[2022-03-17 17:03] #87122 closed

[2022-03-17 17:04] #87299 closed

[2022-03-17 17:05] jlichwa commented on #88193
#please-close

[2022-03-17 17:05] #88193 closed

[2022-03-17 17:14] AjayKumar-MSFT commented on #89672
Apologies for the delay.  The values in App Service (app settings) override the ones in Web.config or appsettings.json/config.

Just to highlight, in App Service, app settings are variables passed as environment variables to the application code. They're injected into your app environment at app startup. Key Vault references must be setup in App Service Application Settings, not in your configurat

[2022-03-17 17:21] jlichwa commented on #88997
@johnrom we have added this note to our RBAC guide :
https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide

[2022-03-17 17:22] jlichwa commented on #88997
#please-close

[2022-03-17 17:22] #88997 closed

[2022-03-17 17:32] azaricstefan commented on #89586
If you want to find connection strings for Built-in (serverless SQL pool) you can find it inside Synapse workspace in Manage activity hub.

![image](https://user-images.githubusercontent.com/9116773/158860468-cbbae194-49ae-44ee-93e2-8b464bd6b88d.png)

[2022-03-17 17:37] GitaraniSharma-MSFT commented on #90000
@Rablet , thank you for bringing this to our attention. Yes, the image under [How clients connect using Traffic Manager](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-how-it-works#how-clients-connect-using-traffic-manager) should state partners.contoso.com CNAME contoso.trafficmanager.net
We have assigned this to the content owner/author for correction.

@asudbring , could

[2022-03-17 17:38] dlepow commented on #54879
@CoHealer - Apologies for long delay responding to this issue. The "issues" page is only available in the legacy/deprecated developer portal, not in the current developer portal. The Notifications UI is being updated to indicate that the template for issues/comments is deprecated, and we will adjust the documentation accordingly. Thanks for contacting us.
#please-close

[2022-03-17 17:39] TiloGit opened #90016 "wrong role in Install the Mobility service using command prompt Classic"
Wrong parameter for "Install the Mobility service using command prompt (Classic)"
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#install-the-mobility-service-using-command-prompt-classic

you have:  /**Role** "**Agent**"  but should be /Role "**MS**" it seems

[code]

Error I got with /Role Agent:
[code]

* using installer: Microsoft-ASR_UA_9.48.0.0_

[2022-03-17 17:40] MsGabsta commented on #90006
#reassign @BWren

[2022-03-17 17:41] planty opened #90018 "Inconsistent validation on characters allowed in intents"
In the documentation, it says that intents should not include the following characters: `:` `$` `&`

However in the LUIS portal, you get a different set of restrictions:
![image](https://user-images.githubusercontent.com/5193014/158861587-da4f358c-9baa-4739-bca1-ceff2cc0c98c.png)

And if you create intents using the Authoring API, it's possible to use some of the characters that the portal does no

[2022-03-17 17:44] bdcoder2 commented on #89672
@AjayKumar-MSFT - Thank-you for your reply.

With regard to the statement:

 _Just to highlight, in App Service, app settings are variables passed as environment variables to the application code._

Yes, however, when running in App Service, if I  add the SINGLE environment variable with the name "**azure_keyvault_uri**", and then iterate through the configuration keys / values, I am seeing two (2

[2022-03-17 17:49] SaiKishor-MSFT commented on #89996
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-17 17:51] johnrom commented on #88997
Thanks!

[2022-03-17 17:54] TiloGit opened #90020 "info how to gen the Passphrase for PassphraseFilePath"
would be great to add or link how to generate the Passphrase

[code]

I found this here: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-mobility-install-configuration-mgr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d179f813-5826-7ec3-30c5-9b6b9c0a9acc
* Version Independent ID: 3141a3e5-ea3b-cba1-7

[2022-03-17 18:08] #79252 closed

[2022-03-17 18:18] rolyon commented on #78764
Hi @lukealton
The team investigated and wasn't able to reproduce this issue. They were able to use Global Reader to read the policy.
Let us know if you have any additional feedback.
thanks

[2022-03-17 18:38] davidsmatlak commented on #89921
I submitted the fix for this issue and after it's approved and merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-03-17 18:40] dlepow commented on #55319
Thank you @VitaliyKurokhtin and @tomkerkhove

@echurchm - Apologies for long delay responding to your issue. We believe this issue is fixed in more recent versions of the API Management self-hosted gateway, and the sample should work as written. Accordingly, I will close this issue. If you have more information or want to continue this discussion, feel free to reopen the issue. Thanks very much!
#

[2022-03-17 18:47] Blackmist commented on #89781
@byronverz I'm reading the question as "Why do we use multiple DNS zones instead of a single DNS zone?" and "Why do we create the zones as we go through the tutorial instead of all at the end in one DNS zone." Is that correct?

I'll follow up with the engineering team to see if they can provide an answer on these questions.

[2022-03-17 19:01] dlepow commented on #53688
We have a current doc work item to address this gap. I will update when the work is in progress.

[2022-03-17 19:16] #89921 closed

[2022-03-17 19:23] nibaccam commented on #87032
Docs have been updated. We will now proceed to close this thread.
#please-close

[2022-03-17 19:23] #87032 closed

[2022-03-17 19:27] femsulu commented on #89979
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-17 19:31] SadiqhAhmed-MSFT commented on #90020
@TiloGit Thanks for the feedback. We will review this request and update the documentation as appropriate.

@Sharmistha-Rai FYI

[2022-03-17 19:32] SadiqhAhmed-MSFT commented on #90016
@TiloGit Thanks for the feedback. We will look into it and update the documentation as appropriate.

@Sharmistha-Rai FYI

[2022-03-17 19:33] nibaccam commented on #85544
@Ankur-Makwana the documentation has been updated, however for the download issue we aren't able to reproduce. Are you still running into this issue?

[2022-03-17 19:42] femsulu commented on #90014
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-17 19:44] stpanigr opened #90023 "Schedule trigger that observe Daylight saving"
Original

Note
For time zones that observe daylight saving, trigger time will auto-adjust for the twice a year change. To opt out of the daylight saving change, please select a time zone that does not observe daylight saving, for instance UTC.

Proposed

Note
For time zones that observe daylight saving, trigger time will auto-adjust for the twice a year change. **Daylight savings is only taken int

[2022-03-17 19:47] idbanham opened #90024 "Linux permissions for certificates"
In point 3 of https://docs.microsoft.com/en-us/azure/iot-edge/how-to-manage-device-certificates?view=iotedge-2018-06&preserve-view=true&tabs=linux#configure-iot-edge-with-the-new-certificates (Edge 1.1) it says

"Make sure that the user iotedge has read permissions for the directory holding the certificates." - Iotedge-user actually needs read and write permissions to the directory or IoT Edge wil

[2022-03-17 20:11] madsd commented on #73079
@AllanMatias, I am going to close this. But do come back and reopen/comment if you need more information.
#please-close

[2022-03-17 20:11] #73079 closed

[2022-03-17 20:11] madsd commented on #41769
#please-close

[2022-03-17 20:11] #41769 closed

[2022-03-17 20:13] ACKmySYN opened #90025 "Changes to UDRs/NSGs"
It appears this article hasn't been updated since the below features hit preview.

https://azure.microsoft.com/en-ca/updates/public-preview-of-private-link-udr-support/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4038a691-c584-2c36-24c5-fa91a5be474a
* Version Independent ID: c6bd0573-22ef-f1d5-5553-000bd8f8c1bd
* Co

[2022-03-17 20:22] ChaitanyaNaykodi-MSFT commented on #90013
Thank you for your feedback! We will review and update as appropriate.

[2022-03-17 20:37] mrmattipants commented on #41969
Per [**eponerine**](https://github.com/MicrosoftDocs/azure-docs/issues/41969#issuecomment-552973542), I Re-Ran azcopy.exe from CMD.EXE, with the following Command Line Switches/Parameters and to my surprise, the File I was attempting to Download, actually began Downloading.

**--overwrite=prompt --recursive --from-to=BlobLocal --check-md5 "FailIfDifferent"**

Here is the Full Command, with Generic

[2022-03-17 20:38] vhorne commented on #87223
fixed
#please-close

[2022-03-17 20:38] #87223 closed

[2022-03-17 20:46] bwren commented on #89942
#reassign: @guywi-ms

[2022-03-17 20:48] eponerine commented on #41969
Adding @Amohsha-msft

[2022-03-17 20:51] illuminous opened #90026 "These instructions need work."
Please provide a "bulk" user example.  That would help tremendously.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277a5d8f-7fce-bf5d-1ebd-2061e9ac8a69
* Version Independent ID: 02d2bc44-dc9f-a23a-9c60-facf7e0c1a41
* Content: [Bulk create users in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azu

[2022-03-17 20:52] wutachih opened #90027 "Postman collection"
Do you have postman collection that I can used to test APIs?

Contact email: michael@aviatrix.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 486eb1c0-883c-186f-0104-e2014fed7cd1
* Version Independent ID: 05c12d8a-2dba-2091-4dc6-d52cccaeebce
* Content: [Make your first API call to access commercial marketplace analy

[2022-03-17 20:54] yilanz opened #90028 "Privacy budget discussion"
Discussing privacy budge without mathematical equation and explanation is not helpful.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd5ca1e-52c2-ee35-6d94-4dc700b0a3aa
* Version Independent ID: a6460757-b438-9d89-c0fc-0159b51140f5
* Content: [Differential privacy in machine learning (preview) -

[2022-03-17 20:57] davidmrdavid commented on #85563
@mike-urnun-msft: This issue has been resolved, could you please close this ticket? Thanks!

[2022-03-17 20:57] JamesTran-MSFT commented on #90026
@illuminous
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-17 21:20] MosephV commented on #89582
I just spent the last few hours chasing this.... The bulk of our host pools are West US 2. In my case, I couldn't even assign a scaling plan to them (scaling plan in supported region, obviously). At first I thought is was due to policy restrictions we have, but nope.

Stating that a feature/product is available in the United States is horribly vague when there are 9 public cloud regions in the US,

[2022-03-17 21:20] SatishBoddu-MSFT commented on #90024
Hello @idbanham
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-17 21:25] mcbsys opened #90029 "Incorrect examples for viewing environment variables"
The PowerShell examples (and mabye CLI examples) are incorrect.

Get-AzContainerInstanceLog requires three parameters but the examples only show two.

However, Get-AzContainerInstanceLog is probably the wrong command. I believe that seeing the state and environment variables requires the Get-AzContainerGroup command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-03-17 21:26] ggailey777 commented on #85563
#please-close

[2022-03-17 21:38] mcbsys commented on #90029
Also, [New-AzContainerGroup](https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-7.3.2) no longer supports the -EnvironmentVariable parameter. It seems this is now under New-AzContainerInstanceObject, but I'm having trouble with the environment variables. Really would like an up-to-date set of examples on how to create and view container environme

[2022-03-17 21:41] #88603 closed

[2022-03-17 21:55] JamesTran-MSFT commented on #89963
@Snozzberries
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-03-17 21:55] #89963 closed

[2022-03-17 22:24] JamesTran-MSFT commented on #89964
@mrochon
Thank you for your time and patience!

When it comes to `datacenter_count`, you'll have to reference our [Azure global infrastructure](https://azure.microsoft.com/global-infrastructure/) documentation, specifically [Data Residency](https://azure.microsoft.com/en-us/global-infrastructure/data-residency/#select-geography), to determine the count for the region you selected.

**Additional Li

[2022-03-17 22:30] samsmithnz opened #90032 "This page gives bad advice, causing all queue items to go into poison queue"
Specifically when sending a message, it seems that when you don't mark the message encoding as Base64, all of the messages get marked as poison and don't process. Really frustrating bug to have, as the logging around poison messages is basically non-existent.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e

[2022-03-17 22:34] k3vinwalk3r opened #90033 "Move an Azure Storage account to another region"
Followed the article and got the following error: {'code':'DeploymentFailed','message':'At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.','details':[{'code':'InvalidXmlDocument','message':'XML specified is not syntactically valid.

Found it could be resolved by changing the following in t

[2022-03-17 22:36] nibaccam commented on #88712
#assign @mjaow

[2022-03-17 22:41] nibaccam commented on #83465
@santiagxf thank you for reporting this.  An internal bug has been filed with the product team to address in the next release. We will now proceed to close this thread.

#please-close

[2022-03-17 22:41] #83465 closed

[2022-03-17 22:42] TiloGit commented on #82379
@ciufudean could you please share your log4j config you use.

[2022-03-17 22:53] JimacoMS4 commented on #70201
Hi @barmettlerl,

I made updates in the following spots:

- Updated tutorial to add location tag to twin here: https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-message-enrichments#add-location-tag-to-the-device-twin
- Updated limitations section in overview to include case where property resolves to an object here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-o

[2022-03-17 22:53] #70201 closed

[2022-03-17 22:55] nibaccam commented on #83730
@ahgyger we haven't hear from you, so we will now proceed to close this thread.
#please-close

[2022-03-17 22:55] #83730 closed

[2022-03-17 23:04] dlepow commented on #89598
@mikebudzynski - Is there guidance we should add for configuring originating e-mail settings? Anything specific to API Management around configuration of SPF etc. records? Thanks!

[2022-03-17 23:12] mrochon commented on #89964
Thanks James but this answer is somewhat imprecise. Visiting a website does not help me to determine value of a variable unless I know what I should be counting on that page. Should I assume that it is the count of the datacenter regions that represents the datacenter_count? I.e. 10 for US?

You may want to include that info in the page. I keep getting questions about that from customers.

From: J

[2022-03-17 23:17] jberry777 opened #90034 "Use the portal to create an Azure AD application and service principal that can access resources: Validate Permissions"
For the Page "Use the portal to create an Azure AD application and service principal that can access resources". This page is referenced in the "Troubleshooting common authentication errors" page, specifically under the "[Unauthorized Error](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-api-troubleshooting-authentication-errors#unauthorized-error)" section.

This page des

[2022-03-17 23:37] dlepow commented on #67762
@gilroitto - Apologies for delay responding to your suggestion. We appreciate the feedback and will be refreshing this article in the near future with additional detail. According to our usual process, I'll proceed to close this issue. If you have additional feedback or would like to continue the discussion, feel free to reopen the issue. Thank you!
#please-close

[2022-03-17 23:37] #67762 closed

[2022-03-17 23:42] willvelida opened #90035 "Potentially missing .NET version under Supported SDK Versions"
Reading the bullet points under **Supported SDK Versions** section, is the version of .NET missing? For Java we specify v2.5.1 and Java 3.0+, but no version is specified after .NET. For example, should it be something like this:

- .NET 6.0+ and NET Core v2.12.0+

instead of what is currently:

- .NET and NET Core v2.12.0+
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-03-18 00:02] dlepow commented on #69879
@xakpc - Apologies for the delay responding to your issue. The information you provided is useful and we plan to add the hash formulas in an upcoming update to this article. According to your usual process, I will proceed to close this issue. If you have further information or would like to continue the discussion, feel free to reopen the issue. Thanks for taking the time to contact us.
#please-cl

[2022-03-18 00:02] #69879 closed

[2022-03-18 00:03] ChaitanyaNaykodi-MSFT commented on #90025
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-18 00:08] danielgerlag opened #90041 "Scaling Enterprise SKUs"
How do you scale / control cluster size of enterprise SKUs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d13e5b-f054-f271-3b74-844385dd5ed0
* Version Independent ID: cd2b75c7-c1f1-0a82-1fa3-8d13fd0618af
* Content: [Scale an Azure Cache for Redis instance](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis

[2022-03-18 00:08] dlepow commented on #59837
Apologies @vlad610 and @williamyinssw for the delay responding to this issue. We have created a work item to add this information in a future update to this article. According to our usual process, I will proceed to close this issue. If you have further information or would like to continue the conversation, feel free to reopen this issue. Thanks for taking the time to contact us.
#please-close

[2022-03-18 00:08] #59837 closed

[2022-03-18 00:17] dlepow commented on #55956
@fab66m - Apologies for the delay responding to this issue. Your are correct to point out the inconsistency.  Azure Monitor logs for the self-hosted gateway can indeed be enabled as described [here](https://docs.microsoft.com/azure/api-management/how-to-configure-cloud-metrics-logs). We'll update this article to clarify this point. Thanks very much for taking the time to contact us.

[2022-03-18 00:18] JamesTran-MSFT commented on #90034
@jberry777
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-18 00:20] nibaccam commented on #89651
@olsgaard thank you for reporting this. The documentation has been updated and will be published to the live site tomorrow morning. We will now proceed to close this thread.

#please-close

[2022-03-18 00:20] #89651 closed

[2022-03-18 00:44] dlepow commented on #46433
Apologies @richieteh94 for the delay responding to this issue. I have created a work item to improve the explanation of this formula in a future update to this article. According to our usual process, I'll proceed to close this issue. If you would like to provide more information or continue this discussion, feel free to reopen the issue. Thank you for taking the time to contact us about the docs!

[2022-03-18 00:44] #46433 closed

[2022-03-18 01:02] mike-urnun-msft commented on #90002
Thank you for your feedback! We will review and update as appropriate.

[2022-03-18 01:03] mike-urnun-msft commented on #90009
Thank you for your feedback! We will review and update as appropriate.

[2022-03-18 01:06] SaiKishor-MSFT commented on #90033
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 01:37] gbms311 opened #90042 "Add meaning of ECMA to page"
On reading this I was left trying to figure out what ECMA stood for.

Can we add something similar to:

ECMA stands for Extensible Connectivity Management Agent. It is a sync engine used to create a custom connection in Microsoft Identity Manager (MIM) to an identity store, but is also used in Azure AD Connect.

 ~~
I found this https://docs.microsoft.com/en-us/previous-versions/windows/desktop/fo

[2022-03-18 02:04] RyanHill-MSFT commented on #89995
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:05] RyanHill-MSFT commented on #89997
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:06] GavinJin88 commented on #89910
Didn't get chance to try with Public DNS zone.

[2022-03-18 02:06] RyanHill-MSFT commented on #89998
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:08] RyanHill-MSFT commented on #90001
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:10] RyanHill-MSFT commented on #90008
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:10] RyanHill-MSFT commented on #90011
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:11] RyanHill-MSFT commented on #90018
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 02:33] krishankanumuri opened #90043 "Creation of service principle in packer example needs update"
Steps in below link for creating service principle is no longer valid, Now [New-AzADServicePrinciple](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadserviceprincipal?view=azps-7.3.2) cmdlet  [IMicrosoftGraphServicePrincipal](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.powershell.cmdlets.resources.msgraph.models.apiv10.imicrosoftgraphserviceprincipal) and th

[2022-03-18 02:36] CHEEKATLAPRADEEP-MSFT commented on #90023
@stpanigr  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 02:38] CHEEKATLAPRADEEP-MSFT commented on #90027
@wutachih  Thanks for the question! We are investigating and will update you shortly.

[2022-03-18 02:52] CHEEKATLAPRADEEP-MSFT commented on #90028
@yilanz  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 02:53] CHEEKATLAPRADEEP-MSFT commented on #90029
@mcbsys  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 02:54] CHEEKATLAPRADEEP-MSFT commented on #90032
@samsmithnz  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 02:56] #89499 closed

[2022-03-18 02:56] CHEEKATLAPRADEEP-MSFT commented on #90035
@willvelida  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 02:57] CHEEKATLAPRADEEP-MSFT commented on #90041
@danielgerlag  Thanks for the question! We are investigating and will update you shortly.

[2022-03-18 02:59] CHEEKATLAPRADEEP-MSFT commented on #90042
@gbms311  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 03:08] rithaveeravalli commented on #54817
Installed MMA on my machine and log analytics is integrated with my machines. Solution is also enabled for log analytics. I am still unable to see the Azure Automation  folder inside Agent folder

[2022-03-18 03:12] mrochon commented on #89964
Also , this reply conflicts with one provided on internal Identity Community Yammer saying that that https://msit.powerbi.com/view?r=eyJrIjoiYzEyZTc5OTgtNTdlZS00ZTVkLWExN2ItOTM0OWU4NjljOGVjIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9 (A PowerBI report) provides that information. According to that page US B2C has 5 locations (data centers?).

From: James Tran-MSFT ***@***.**

[2022-03-18 03:46] JamesTran-MSFT commented on #89964
@mrochon
Thank you for following up on this and for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-18 04:27] jhirono commented on #89781
You cannot consolidate multiple private dns zones because domain names are different as below. If you use your own DNS server, you can consolidate all A records in your DNS server without a private DNS zone.

![image](https://user-images.githubusercontent.com/3425002/158937352-fe631324-781e-4e73-87b8-55a7010b8fa5.png)

[2022-03-18 05:00] naokitakeda14 commented on #89993
I also attached the screenshot of test result to this issue.
Thank you,
![test result](https://user-images.githubusercontent.com/99944337/158940488-bd4e9916-ad5b-4f23-99bc-7358d184a71b.PNG)

[2022-03-18 05:27] jb1977 opened #90045 "Error in the dps config"
There is an error at editing
sudo nano /etc/aziot/config.toml

symmetric_key = "PASTE_YOUR_PRIMARY_KEY_OR_DERIVED_KEY_HERE"
is not working.
The new syntax is:
symmetric_key = { value="PASTE_YOUR_PRIMARY_KEY_OR_DERIVED_KEY_HERE"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 900286b7-54b4-ae6a-33c4-b54be8dee6a4
* Versi

[2022-03-18 05:59] mingshen-ms commented on #85344
@jimseld, apologies for the delay and thank you for your patience.  The Azure usage report is available in Partner Centr portal under Membership reports. You must have an MPN ID (enrolled in Membership program) to be able to access the report.  You can read more on  [Membership Insights](https://docs.microsoft.com/en-us/partner-center/partner-center-insights) and [Azure Usage report](https://docs.

[2022-03-18 05:59] #85344 closed

[2022-03-18 06:03] hg3317593-1 opened #90046 "What is the default lifetime of Single-Factor Session Cookie?"
I remember there is a 24-hours default lifetime of Single-Factor Session Cookie in the pervious versions of this document. Why has it been removed?

We think it's an important information. Can you re-add it into the document?

If it's not 24-hours now, could you please tell me what it is?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-03-18 06:11] mingshen-ms commented on #88171
@alfogo, thank you for your feedback, it's very valid.  We'll take your feedback and update the document as appropriate for clarity and accuracy.  Thank you!

#please-close

[2022-03-18 06:11] #88171 closed

[2022-03-18 06:24] AshokPeddakotla-MSFT commented on #90045
@jb1977 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 07:03] srikiz opened #90049 "spell issue"
Please spell "should" instead of "sholuld" in this page. (sentence for reference below)

The backup instance name is generated by clients so that this will be a unique value. It's based on datasource name and a unique GUID. Once you list the backup instances, you sholuld be able to check the name of backup instance and the relevant datasource name.

---
#### Document Details

⚠ *Do not edit this s

[2022-03-18 07:44] YueSheng6 opened #90051 "The value 0 for volume in SSML is not working for setting it quiet"
For volume adjustment, the value 0 is not working for setting it quiet. It is the same as 100.

For example:
\<speak xmlns='http://www.w3.org/2001/10/synthesis' xmlns:mstts='http://www.w3.org/2001/mstts' xmlns:emo='http://www.w3.org/2009/10/emotionml' version='1.0' xml:lang='zh-CN'>\<voice name='zh-CN-XiaoxiaoNeural' style='Cheerful' rate='3%'>\<prosody volume="0">Hello\</prosody>\</voice>\</speak

[2022-03-18 08:08] byronverz commented on #89781
@Blackmist Yes, myself and our devops people don't see why each resource requires a separate DNS zone. Then the second point would follow on from the answer of that as to why we'd create a zone for each in the setup process versus creating a single zone and adding the private endpoints to this zone after the fact.

@jhirono I think perhaps you are addressing the question from a step after when I a

[2022-03-18 08:17] CHEEKATLAPRADEEP-MSFT commented on #89747
@bnordberg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-18 08:17] #89747 closed

[2022-03-18 09:24] danielorn opened #90052 "ntp.ubuntu.com:123 is listed as a required outbound network rule for AKS, is it still required?"
In  [Add support for custom NTP servers #2159](https://github.com/Azure/AKS/issues/2159) it is mentioned that NTP is in the process of being replaced with host based clock sync and that once it has been rolled out there will be no need to allow outbound ntp traffic to ntp.ubuntu.com anymore.

Has that change been completed? [#2159](https://github.com/Azure/AKS/issues/2159) is closed but the docume

[2022-03-18 09:30] cinamori opened #90054 "Document update request"
[Enter feedback here]
My customer is using delta query and read this page. It is difficult for the customer to understand how to use query.
The points the customer could not undarstand well.

#1 What is the key used by the ASA to insert, update, and delete the reference data?
#2 Is _operation_ in the sample query required? Or can it be customized?
#3 Are there any way to see current reffering tabl

[2022-03-18 09:38] soportedba opened #90055 "Incorrect recommendations about tuning server parameters"
Please check this paragraph as this is related to MySQL, not PostgreSQL:

For read-heavy workloads tuning server parameters, tmp_table_size and max_heap_table_size can help optimize for better performance. To calculate the values required for these variables, look at the total per-connection memory values and the base memory. The sum of per-connection memory parameters, excluding tmp_table_size, c

[2022-03-18 09:38] KrishnaG-MSFT commented on #90049
@srikiz Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-18 09:39] YutongTie-MSFT commented on #89801
Since we have not received any response, we will now proceed to close this thread for now. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-03-18 09:39] #89801 closed

[2022-03-18 09:54] ciufudean opened #90057 "Not all settings are explained"
Re "The settings are explained in the [Import and publish your first API](https://docs.microsoft.com/en-us/azure/api-management/import-and-publish#import-and-publish-a-backend-api) tutorial.", the "Web service URL" is not explained.
Even more, "Web service URL" does not appear by this name in the APIM terminology, at least not [here](https://docs.microsoft.com/en-us/azure/api-management/api-manage

[2022-03-18 09:55] dariuszbz opened #90058 "visual studio 2019 (2) plus Microsoft.Azure.Integration.DesignTools.IntegrationAccountProject"
the command "open with designer" is not available. I'm using the latest visual studio 2019 community edition with all updates in place.

![image](https://user-images.githubusercontent.com/19564162/158981444-7207d506-ce3f-4822-9ed5-bcdeeee4196a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e4c182-ccd7-0ee5-a993-

[2022-03-18 10:26] peterd-kovrr opened #90059 "Struggling to understand the big-query authentication process"
Hi, struggling to understand the instructions here.
I have the google service account keys, but I am not sure where they need to be stored, and what path I need to provide in the keyFilePath, trustedCertPath.
It mentions the IR machine, but the IR is self hosted, on azure so not sure where the credentials need to sit.
Could you clarify please.
Thanks

---
#### Document details

⚠ *Do not edit this

[2022-03-18 10:28] PriyankaRudramaina commented on #90008
Hello @cveld,

#52 is the exit code for missing dependency
exit_code = 52
**output = "Installation failed due to missing dependencies.**
https://github.com/Azure/azure-marketplace/wiki/Extension-Build-Notes-Best-Practices#error-codes-and-messages-output-to-stderr
Error :
Fail to EnableAntiMalware::System.ServiceProcess.TimeoutException: Time out has expired and the operation has not been completed

[2022-03-18 10:28] #90008 closed

[2022-03-18 10:48] buzzfrog opened #90060 "Image doesn't exist"
I tried to do this command:
az acr import \
  --name $REGISTRY_NAME \
  --source mcr.microsoft.com/hello-world:1.1.2

But it couldn't find the image with that tag.
 Invalid message NotFound Not Found {"errors":[{"code":"MANIFEST_UNKNOWN","message":"manifest tagged by \"1.1.2\" is not found","detail":{"Tag":"1.1.2"}}]}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-03-18 11:17] CHEEKATLAPRADEEP-MSFT commented on #90046
@hg3317593-1  Thanks for the question! We are investigating and will update you shortly.

[2022-03-18 11:18] CHEEKATLAPRADEEP-MSFT commented on #90051
@YueSheng6  Thanks for the question! We are investigating and will update you shortly.

[2022-03-18 11:19] CHEEKATLAPRADEEP-MSFT commented on #90052
@danielorn  Thanks for the question! We are investigating and will update you shortly.

[2022-03-18 11:22] CHEEKATLAPRADEEP-MSFT commented on #90054
@cinamori  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-18 11:50] PriyankaRudramaina commented on #89961
Hello @dancing-groot,

You could look at the following ARM template as a reference
Add a virtual machine extension resource to the existing template with the following content:

JSON
{
  "type": "Microsoft.Compute/virtualMachines/extensions",
  "apiVersion": "2021-04-01",
  "name": "[concat(variables('vmName'),'/', 'InstallWebServer')]",
  "location": "[parameters('location')]",
  "dependsOn": [

[2022-03-18 11:50] #89961 closed

[2022-03-18 12:07] srikiz opened #90061 "missed specifying kind attribute in pvc yaml"
I get an error saying `kind` is missing when creating a pvc. Error below for reference:
[code]

PVC with missing `kind` attribute below:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f7f1eeb3-efe7-86e2-1fd7-04341b2c77cc
* Content: [Create a static

[2022-03-18 12:17] PriyankaRudramaina commented on #89924
@ezYakaEagle442,

Clarifying the ambiguity here..
Azure Spring Build Service with Standard tier is supported for general purpose production workloads only and Enterprise - For production workloads with VMware Tanzu components only. That is why the document  refering to VMware Tanzu says it is applied to Enterprise tier only here.
Hope this clarified your question.
[https://docs.microsoft.com/en-us

[2022-03-18 12:57] mbanck commented on #89931
I'm not sure what the correct page is, but if Microsoft claims to offer Postgres as a Service, but then introduces some code changes that break the system catalogue conventions, I think those changes should be documented somewhere, maybe on an entirely new page like "Bugs we introduced ourselves that you should know about" or so.

[2022-03-18 13:08] mjaow commented on #87226
valid key and cert
[code]
cert and key match
[code]
decrypt an encrypted key
[code]
encrypt a key
[code]

please clarify when exactly you hit timeout (deploy or attach)? If it's deploying, what's the service name/resource group name/subscription/workspace?

[2022-03-18 13:16] LijuV-MSFT opened #90062 "Note about having to rotate key manually"
About this note:

To rotate a key, create a new version of the key in Azure Key Vault. Azure Storage does not handle the rotation of the key in Azure Key Vault, so you will need to rotate your key manually or create a function to rotate it on a schedule.

There is clarification needed - is this true only if auto-rotation has not been enabled? because the section right after describes how the stora

[2022-03-18 13:24] No1e commented on #67166
@gmichaud
Why did you choose Digicert? EV Certificate is much cheaper at Comodo, double cheaper.

[2022-03-18 13:25] MonikaReddy-MSFT commented on #89602
@nickselvaggio - I have reached out to product team and will get back to you shortly.

[2022-03-18 13:25] codaamok commented on #67166
Does it matter?

[2022-03-18 13:31] No1e commented on #67166
Well, that is why I ask. But, it turned out that its actually not cheaper at Comodo :))). The option with HSM installation is pretty close to the one at Digicert.

[2022-03-18 13:43] PriyankaRudramaina commented on #89870
Hello @mtrmmsoftware,

Have you used ASP.NET Core logging framework and added Microsoft.Extensions.Logging extension? Did you refer to the following doc to understand how .Net and ASP .Net core logging functions?
[https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-6.0#create-a-custom-logger](url)

The document around this is vast. I am checking internally on this, I

[2022-03-18 14:24] minnieshi opened #90064 "Not clear for "Requirements Create a Database Master Key""
[It is not clear that why the "Create a Database Master Key" is needed]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a38f10-28c6-dede-67a6-444c83ecee9e
* Version Independent ID: 67dd3e6c-189e-1e6c-5e1a-b733f1dfef38
* Content: [Azure Synapse Analytics - Azure Databricks](https://docs.microsoft.com/en-us/azure/databr

[2022-03-18 14:32] PriyankaRudramaina commented on #89868
Hi @kcaswick,

Please refer to the following document link for managed identities on container registry [https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity](url)
For the azure file share volumes, we don't have details in the documentation if managed identity is supported. I will check with internal teams and get back to you.

[2022-03-18 14:37] Neutrino-Sunset opened #90065 "The specified Azure Resource Group project template cannot be found."
"7. In the search box, enter logic-app-and-function-app. From the results, select the template"

Using VS2022 (although I doubt that makes a difference), the specified template does not appear in the "Select Azure Template" dialog.

The template does exist at https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.logic/logic-app-and-function-app but it doesn't appear

[2022-03-18 14:40] ezYakaEagle442 commented on #89924
@PriyankaRudramaina please re opened this issue.
I tried with Standard Tiers S0 Sku and hit the error 'Feature BuildService is not supported in Sku S0' ....

[2022-03-18 14:40] boris-tarasov-maersk opened #90066 "On demand deployment command to azure function from a registry"
this page shows how to configure reference to the image and how to enable continuous deployment.
What is the command to deploy a container when I need it?

What I want to achieve:

build and publish an image

run a command (when I need it) to deploy this image to azure func app (no continuous deployment)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-03-18 14:48] GeethaThatipatri-MSFT commented on #90055
Hi @soportedba Thanks for your findings,We will investigate and update as appropriate

[2022-03-18 14:50] milope opened #90067 "Could we please add a note stating user-assigned managed identity doesn't work with Trusted Services."
It appears this document is currently leading to confusion as we do state that a system-assigned managed identity to allow APIM through Key Vault's Trusted Services. The article leaves user-assigned managed identity up for debate whether it works or not (currently, it does not).

Is there a chance we can explicitly state that user-assigned managed identities will require an alternative solution to

[2022-03-18 15:01] jonmikeli opened #90068 "Azure IoT-IoT Hub-Distributed Traces-Correlation Id-.NET SDK (C#)-Question"
Hi,

According to this link (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-distributed-tracing), it seems that distributed tracing for Azure IoT D2C messages is in preview and only available for the C SDK.
However, when I check the .NET SDK (C#) (https://github.com/Azure/azure-iot-sdk-csharp) it seems that the feature is already implemented in the code source.

Am I misunderstanding somet

[2022-03-18 15:26] JamesTran-MSFT opened #90069 "Add note under UnableToAddPublisher error"
A lot of customers have been able to resolve this issue by using another user (either existing or newly created user) with similar permissions.

**Link:**
https://docs.microsoft.com/en-us/answers/questions/763235/index.html

**Steps:**

1. I createtd a new user via azure user management
2. I assigned the role "Global Admin"
3. I activated mfa (via MS Auth app) for the new user
4. I logged into the

[2022-03-18 15:26] JamesTran-MSFT commented on #90069
@JamesTran-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-18 15:35] jsquire opened #90071 "[Service Bus] Transactions + Retries Guidance"
Due to the way that transactions work with Service Bus, retries for service operations cannot be performed when there is an active ambient transaction.  We should consider adding a section to this page that highlights this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c400c2c-cd70-ab18-a223-72325076b7c8
* Version In

[2022-03-18 15:35] jsquire commented on #90071
//fyi: @spelluru, @JoshLove-msft

[2022-03-18 15:40] GeethaThatipatri-MSFT commented on #89793
Hi @phil-dando We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-03-18 15:40] #89793 closed

[2022-03-18 16:03] Leonardo-Ferreira opened #90074 "What about the ingestion endpoint?"
When the SDK is being connected using a connection string (not only the key), do we need to open the firewall for that also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* Content: [IP addresses used by Azure Monitor -

[2022-03-18 16:13] dlepow commented on #58784
@tiny-dancer - Apologies for the delay responding to your issue. You are correct that it would be helpful to add a section to this article that shows how to use the test console to test the API. We've created a work item to address this gap the next time we review and update this article. According to our usual process, I will now proceed to close this issue. If you have further information or wou

[2022-03-18 16:13] #58784 closed

[2022-03-18 16:21] MrfizieeD opened #90075 "CLI"
[Masukkan maklum balas di sini]

---
#### Butiran Dokumen

⚠ *Jangan edit bahagian ini. Ia diperlukan untuk docs.microsoft.com ➟ Pemautan isu GitHub.*

* ID: b681fb36-d142-204e-85a7-0ab5f86edc75
* Version Independent ID: f71468a6-899e-5c3d-044f-606fca3d4c88
* Content: [Dv2 and DSv2-series - Azure Virtual Machines](https://docs.microsoft.com/ms-my/azure/virtual-machines/dv2-dsv2-series#dsv2-series)

[2022-03-18 16:22] dlepow commented on #89788
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/55956
#reassign: @dlepow

[2022-03-18 16:35] rajeshsetlem commented on #89881
Yes, DNN can be used in multi subnet scenario as well. Thanks for the feedback, we will update our docs soon.

For details regarding DNN check following articles
https://techcommunity.microsoft.com/t5/failover-clustering/windows-server-2016-2019-cluster-resource-resource-types/ba-p/372163
https://techcommunity.microsoft.com/t5/failover-clustering/windows-server-2019-failover-clustering-new-feature

[2022-03-18 17:05] nibaccam commented on #88802
@daviddickson-mosaic thank you for reporting this. The documentation should say to select *Deploy to web service* and the Azure Container Instance as your compute type. I've updated the documentation to reflect this guidance. Edits will published to the live site later today.

We will now proceed to close this thread.
#please-close

[2022-03-18 17:05] #88802 closed

[2022-03-18 17:06] ezYakaEagle442 commented on #89924
I now also hit this issue "_Feature ServiceRegistry is not supported in Sku S0 for API version 2022-01-01-preview_"

[code]

[2022-03-18 17:07] MatthewBrown0 opened #90077 "FAQ Suggestion"
Hello,

I have a suggestion for your FAQ:

Many organizations have a password policy enforced through Group Policy - What is Microsoft's guidance on keeping or removing this policy once Azure AD Password Protection has been configured?  Should we remove the Group Policy configuration or should we rely entirely on Azure AD Password Protection?

Note: On-Prem password policies are configured under:

[2022-03-18 17:07] nibaccam commented on #88726
@mx-iao @likebupt Can you please take a look.

[2022-03-18 17:09] ecfan commented on #90065
Hi @Neutrino-Sunset,

I'm sorry to hear you had this experience, so thanks for reporting this issue. I reproduced this problem using Visual Studio 2019. I opened GitHub issue https://github.com/Azure/azure-quickstart-templates/issues/12323 to report that the template isn't appearing. Hope they fix the problem soon.

Otherwise, if the template isn't available permanently, we'll have to remove the a

[2022-03-18 17:10] shpathak-msft commented on #90041
@danielgerlag Thanks for reaching out. Unfortunately, enterprise SKU does not support scaling after creation. Cluster size can only be changed during creation.

[2022-03-18 17:25] Karishma-Tiwari-MSFT commented on #90075
Let me know if you have any feedback for the document referenced in this GitHub issue.
The scope for these doc issues is to help identify gaps and issues with the documentation.

[2022-03-18 17:28] danielgerlag commented on #90041
Are there any plans on your roadmap to
- Enable cluster resizing in the future?
- Enable migrating to a larger enterprise SKU?

[2022-03-18 17:29] KranthiPakala-MSFT commented on #90064
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-03-18 17:36] KranthiPakala-MSFT commented on #90059
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-03-18 17:43] rdeltcheva commented on #89594
We Already link to the SUSE KBA from the documentation : "If your python-azure-mgmt-compute or python3-azure-mgmt-compute package version is 17.0.0-6.7.1, follow the instructions in [SUSE KBA](https://www.suse.com/support/kb/doc/?id=000020377) to update the fence-agents version and install the Azure Identity client library for Python module if it is missing.".
Since the need to install the Azure I

[2022-03-18 17:45] silverl opened #90078 "Page cites a role name that doesn't exist"
This page mentions a role `Storage Blob Data Writer` which doesn't exist. I believe it should say `Storage Blob Data Contributor`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c15eef0-169d-ad1a-15c7-189987db51f9
* Version Independent ID: 13df3018-d80f-6e6e-981c-99c5190a0def
* Content: [Control storage account access

[2022-03-18 17:47] SatishBoddu-MSFT commented on #90068
@jonmikeli
Thanks for the feedback! We are looking into this query!

[2022-03-18 17:48] chmald opened #90079 "WAR Deploy with Kudu API example typo"
https://docs.microsoft.com/en-us/azure/app-service/deploy-zip?tabs=api#deploy-warjarear-packages

Curl example for the Kudu API has typo:
curl -X POST -u <username> --data-binary @"<file-path>" https://<app-name>.scm.azurewebsites.net/api/publish&type=<package-type>

Should be a ? instead of &.

curl -X POST -u <username> --data-binary @"<file-path>" https://<app-name>.scm.azurewebsites.net/api/pu

[2022-03-18 17:49] KranthiPakala-MSFT commented on #90078
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-03-18 17:50] sebader commented on #83858
any update on this? the limitation still exists

[2022-03-18 17:51] AlanPintor-git opened #90080 "From this tutorial (C#), how can we send the telemetries without provisioning a device?"
What we are planning is to do the provision part from an API so the device client only deals with sending data to IoTC

Please let me know if you need more details.

Thank you,
Alan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1d0558-8037-5162-cea2-03bc56e24bc8
* Version Independent ID: 23e26af9-b9ac-ef9a-601d-27eb

[2022-03-18 17:54] Oury-MSFT commented on #89871
@RoyKM Could you please share the error message and also what are your permissions.

[2022-03-18 17:59] RoyKM commented on #89871
Yes I can.  I had skipped all the exercises, finished the course, and am taking the practice test.  I'll send it by tomorrow sometime. Thanks,

[signature_288837778]

Roy Mathur
Technology Solutions
Cell: 703-297-0424
Hours: Mon-Fri 7am-3:30pm
Email: ***@***.******@***.***>
Team Email: ***@***.******@***.***>

Sensitivity: General/Internal
From: Oury-MSFT ***@***.***>
Sent: Friday, March 18, 2022

[2022-03-18 18:06] MarileeTurscak-MSFT commented on #90077
@MatthewBrown0
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-18 18:08] mike-urnun-msft commented on #90057
Thank you for your feedback! We will review and update as appropriate.

[2022-03-18 18:10] mike-urnun-msft commented on #90058
Thank you for your feedback! We will review and update as appropriate.

[2022-03-18 18:11] SatishBoddu-MSFT commented on #90080
Hello @AlanPintor-git

Yes, this code will provision via DPS and then send the telemetry.

`the azure-iot-samples-csharp-main\iot-hub\Samples\device\IoTHubDeviceSamples.sln`
![image](https://user-images.githubusercontent.com/62923178/159058497-a10b8faa-63ac-4fab-a33c-cd27672fb3b6.png)

I think you may be interested in this sample which sends telemetry to IoT Central! (Same Github Samples Repo but

[2022-03-18 18:12] PriyankaRudramaina commented on #89868
@kcaswick,

For Azure Container Registries, you can use Managed Identity (system or user assigned) to authenticate with the registry. In the YAML reference [https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml#azurefilevolume-object](url) you can see the required fields in order to mount an Azure File Share volume to a container group.

For Azure Container

[2022-03-18 18:12] #89868 closed

[2022-03-18 18:12] davidmrdavid commented on #87913
Hi all.

@MughundhanRaveendran-MSFT:

I think the `await` may be needed here. And looking into the docs, I think it's needed in quite a few places in other code snippets.

As for the use of `datetime.min`, I need to set up a reproducer for that.

@MughundhanRaveendran-MSFT - do you mind assigning me to this ticket as well so I can follow up on it? Thanks!

[2022-03-18 18:13] mike-urnun-msft commented on #90066
Thank you for your feedback! We will review and update as appropriate.

[2022-03-18 18:15] mike-urnun-msft commented on #90067
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-18 18:16] mike-urnun-msft commented on #90071
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-18 18:30] shpathak-msft commented on #90041
Yes, these features are on the roadmap, but we do not have any timelines yet.

[2022-03-18 18:38] yeahsicy opened #90082 "Advanced Tools (Kudu) is currently not supported for Linux Consumption"
I wasn't able to find a note / warning regarding Kudu not supported for Linux Consumption in our official documentation:
https://docs.microsoft.com/en-us/azure/azure-functions/consumption-plan
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser
https://github.com/projectkudu/kudu/wiki

Github issues were filed for that quite a whi

[2022-03-18 19:30] yowl opened #90083 "How to compose models in v3"
How do you get to this screen documented here?
![image](https://user-images.githubusercontent.com/2720041/159071381-f32e1aee-028b-4319-a117-64c6890c77a9.png)

From this one

![image](https://user-images.githubusercontent.com/2720041/159071469-18b8d18f-8068-40cc-90c5-fe59b48d7a84.png)

?

Or are composed models not yet supported in v3?

Thanks

---
#### Document Details

⚠ *Do not edit this section

[2022-03-18 19:43] laujan commented on #90083
Hi @yowl, Thank you for reaching out:
1. To open the custom model view window, select a project from the **My projects** list.
![image](https://user-images.githubusercontent.com/50501194/159072716-849d9f5a-abbc-4cef-b82d-97d3ee3fd9be.png)
2. Next select **Models** from the left navigation menu:
![image](https://user-images.githubusercontent.com/50501194/159072835-06321e88-5537-4f30-a256-799bc1527b

[2022-03-18 19:45] yowl commented on #90083
Ah, thankyou very much!

[2022-03-18 19:45] #90083 closed

[2022-03-18 19:49] laujan commented on #90083
Happy to assist!

[2022-03-18 20:04] DeanGross opened #90084 "Using Least Privileged role"
The instructions state that we need to sign in using a Global Admin account, Can we use a Conditional Access Administrator account ? this appears to be a better way that implements the least-privileged role concept
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80005683-d3e5-aab5-2642-677a2ef96203
* Version Independent

[2022-03-18 20:09] femsulu commented on #90060
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-18 20:12] mike-urnun-msft commented on #90082
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-18 20:13] femsulu commented on #90074
Thanks for the question. We are actively investigating and will get back to you soon.

[2022-03-18 20:16] femsulu commented on #90084
Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2022-03-18 20:17] gbryant1 opened #90085 "Deploy template fails on QueryString"
Greetings,
I have done this tutorial over half a dozen times, and I still get the same error.
Whether I run the commands in Powershell or Azure CLI i get the same thing.
New-AzResourceGroupDeployment : A parameter cannot be found that matches parameter name
'QueryString'.
I have followed the directions to the letter and verified that I have not made any changes to the script.
I am running this scr

[2022-03-18 20:20] femsulu commented on #90085
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-18 20:38] Karishma-Tiwari-MSFT commented on #89820
Referencing this blog published by the Product team, I have updated the link to be https://github.com/Azure/azure-workload-identity
PR has been created and changes will be live after author's review.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue

[2022-03-18 20:38] #89820 closed

[2022-03-18 20:42] Karishma-Tiwari-MSFT commented on #88627
@klaas- I have reached out to @mabicca
He would be sharing the update here.

[2022-03-18 20:43] Karishma-Tiwari-MSFT commented on #89780
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-18 20:50] rantonov opened #90087 "This page does not work"
Hi,

I tried several times to follow the instructions and it failed every time.  When I repeated the commands verbatim it is still failing.  The error message is
```<user>@<domain>@<vm-ip-address>: Permission denied (publickey).```

I replaced the user, domain and IP address only.

When I try with `--debug` flag:
[code]

Please help understand what is going on.  Thanks!

My environment:
Windows 10

[2022-03-18 20:53] jpocloud opened #90088 "Application Insights reference"
Recommend changing this section: "Both Azure Monitor and Azure Application Insights assist with maximizing the availability and performance of your applications and services"

The reference to Application Insights leads to confusion.  Since OSM does not support integrating to Application Insights, is the intention for a user to implement Application Insights at the code-level and also implement OS

[2022-03-18 20:56] Grace-MacJones-MSFT commented on #90079
Thanks for your feedback! We will review and update this doc accordingly.

[2022-03-18 20:57] rwike77 commented on #88846
@pmeuser  Thanks for the question.  Actually, no, we don't want to include user-based service accounts in the definition of workload identities.  Those are user accounts being used for services in some automation scenarios.  They're not actually service accounts, though they're sometimes used for that purpose.  I know that we do refer to them as such in other places in our content.  That's an inco

[2022-03-18 20:57] #88846 closed

[2022-03-18 20:58] Karishma-Tiwari-MSFT commented on #89782
As mentioned in the document,
For registry access, the token used by az acr login is valid for 3 hours, **so we recommend that you always log in to the registry before running a docker command**. If your token expires, you can refresh it by using the az acr login command again to reauthenticate.

[2022-03-18 21:01] Karishma-Tiwari-MSFT commented on #89995
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-18 21:04] carrel-gr opened #90090 "Your example is broken"
Your 3rd to last example command has permissions set to "crdw" but that doesn't work.  They should be "rl".
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 240bf4b5-fe9e-7bb3-9494-fff3d085f3ea
* Version Independent ID: b934319b-35be-f1e3-402c-c062ef13d99b
* Content: [What to do if there if an Azure

[2022-03-18 21:07] lucasgcbkhomp commented on #89782
The table[ I linked to](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication?tabs=azure-cli) informs that Managed Identities are meant to be "Unattended push from Azure CI/CD pipeline". This leads me to believe no one should be doing any logins after the setup because it's for automation.

The document I'm providing feedback to also has no mention of expirati

[2022-03-18 21:17] ChaitanyaNaykodi-MSFT commented on #90013
Hello @jmalouf69, this feature is now GA. The preview tag was removed from the documentation.

[2022-03-18 21:19] eflamm opened #90091 "Typo on page"
At the end of the prerequisites section, the word "server" is misspelled "sever".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d86e9c72-d3ea-5906-b8d6-e83ec500a0ab
* Version Independent ID: 66b57598-ca27-a7b7-76c8-39cc340e609a
* Content: [Manage server - Azure CLI - Azure Database for MySQL](https://docs.microsoft.co

[2022-03-18 21:20] DerekHerman-MSFT commented on #90062
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-18 21:25] MarileeTurscak-MSFT commented on #90087
@rantonov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-18 21:34] MarileeTurscak-MSFT commented on #89799
This appears to align with what the release notes say about lock screen support. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new-archive

I made a pull request to update the note to specify this information. https://github.com/MicrosoftDocs/azure-docs-pr/pull/192184

@MicrosoftGuyJFlo can you please review?

[2022-03-18 21:34] #89799 closed

[2022-03-18 21:38] MarileeTurscak-MSFT commented on #90046
I also remember non-persistent session tokens having a default lifetime of 24 hours and am not sure if this has changed. I have assigned this issue to the content author to update the document.

[2022-03-18 21:40] MarileeTurscak-MSFT commented on #90090
@carrel-gr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-18 21:41] MarileeTurscak-MSFT commented on #90090
Thanks! This aligns with what is documented here: https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/disaster-recovery-guide

I made a pull request to update the guide.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/192186

[2022-03-18 21:41] #90090 closed

[2022-03-18 22:05] ydnaod opened #90093 "Azure Data Factory Service Tag Selectable for Azure Firewall rule"
Hello, I noticed on the service tags documentation that some service tags are not usable with Azure Firewall. I'm looking at Data Factory in particular. However, in Azure Portal UI, when I'm adding a service tag network rule to my Firewall, Data Factory is an option. Can it be used or will the rule not work?

![Screen Shot 2022-03-18 at 3 05 31 PM](https://user-images.githubusercontent.com/6543112

[2022-03-18 22:22] hawkmoth8 opened #90094 "How to find Request Unit by using the new package Azure.Data.Tables?"
Hi, I'm working on migrating from the Microsoft.Azure.Cosmos.Table to Azure.Data.Tables. We were able to find the RU usage from the response using the old package, but I didn't figure out a way to grant it via the new package. And it looks like the doc page is not updated, or as it says "Currently, the only SDK that returns the RU charge for table operations is the .NET Standard SDK". So I would l

[2022-03-18 22:30] femsulu commented on #90061
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-18 23:17] JackStromberg commented on #89427
Hello @webpwnized,

It's a bit difficult to document this as everyone's requirements will be different.  For example, if the resource you are load balancing requires port 80 traffic, you will need to open port 80 in the NSG from the network ranges that should be able to send traffic to your gateway.  Maybe your service listens on a different port, so you may open port 8080.  Similarly, if you are

[2022-03-18 23:36] HieuPhan33 opened #90095 "The topology.json does not match the diagram."
[Enter feedback here]
Hi, in the pipeline [json file](https://github.com/Azure/video-analyzer/blob/main/pipelines/live/topologies/motion-with-httpExtension/topology.json), the httpExtension node takes input from the rtspSource node.

However, in the diagram, the httpExtension takes input from the motionDetection node.
Theoretically, the httpExtension is triggered only when the motion is detected.

[2022-03-19 00:08] femsulu commented on #90095
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-19 01:59] xyz-mtl opened #90097 "A new bug is detected by LAW. How to send this event to ADO ?"

[2022-03-19 02:32] #90069 closed

[2022-03-19 02:34] JamesTran-MSFT commented on #90026
@illuminous
I just wanted to check in and see if you were able to review my previous comment?

If you have any other questions, please let me know.
Thank you!

[2022-03-19 02:50] Aftabalamkhan120 commented on #87754
gFabricBeingCommissioned.GetOperationalKey()->Clear();
         }

-        keypair.Initialize();
-        SuccessOrExit(err = gFabricBeingCommissioned.SetOperationalKeypair(&keypair));
+        keypair = chip::Crypto::GetP256KeypairBuilder()->BuildP256KeyPairForOperationalKey(gFabricBeingCommissioned.GetFabricId());

[2022-03-19 02:55] CHEEKATLAPRADEEP-MSFT commented on #90088
@jpocloud  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-19 03:31] CHEEKATLAPRADEEP-MSFT commented on #90091
@eflamm Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/192216](https://github.com/MicrosoftDocs/azure-docs-pr/pull/192216)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2022-03-19 03:33] CHEEKATLAPRADEEP-MSFT commented on #90093
@ydnaod  Thanks for the question! We are investigating and will update you shortly.

[2022-03-19 03:34] CHEEKATLAPRADEEP-MSFT commented on #90094
@hawkmoth8  Thanks for the question! We are investigating and will update you shortly.

[2022-03-19 03:37] CHEEKATLAPRADEEP-MSFT commented on #90097
@xyz-mtl Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members coul

[2022-03-19 06:03] PriyankaRudramaina commented on #89924
Hello @ezYakaEagle442,

Service registry is also not supported in standard tier. Please find the details in below Azure Spring Cloud documentation about what is supported under Basic/Standard Vs Enterprise tiers
![image](https://user-images.githubusercontent.com/95755055/159109439-cdfc805f-2779-481a-a866-0fff88d74e3e.png)

[2022-03-19 06:05] PriyankaRudramaina commented on #89924
I am reviewing inernally to see if we can update the document accordingly

[2022-03-19 07:40] minnieshi opened #90099 "It is not clear why the master key is a requirement"

[2022-03-19 07:49] minnieshi opened #90100 "The third network connection (synapse to storage account) is not clear"
Above is not clear what to do if "if you use ADLS Gen2 + OAuth 2.0 authentication" and if the synapse is not configured to have MSI

It is also not clear whether the storage account in the picture is the primary storage account for the synapse instance or not. Can any storage account serve the purpose?

Also the documentation says only exactly one of the "enableServicePrincipalAuth" and "useAzureM

[2022-03-19 08:04] minnieshi opened #90101 "Oauth authorization not clear"
.....

Above is not clear what "the underlying" storage account mean.

Also, in general:
It would be great if the diagram has numbers (1,2,3 to indicate the 3 types of network connection) and the code has corresponding numbers, and the paragraph which describes the 3 types network connections have corresponding numbers too.

[2022-03-19 08:06] #90099 closed

[2022-03-19 08:19] vipulsparsh commented on #89832
@yut0adachi Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-03-19 08:28] CHEEKATLAPRADEEP-MSFT commented on #90100
@minnieshi Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members co

[2022-03-19 08:29] CHEEKATLAPRADEEP-MSFT commented on #90101
@minnieshi Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members co

[2022-03-19 08:29] minnieshi opened #90102 "The second type of network connection( Spark driver and executors to Azure storage account)is not clear"
https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/synapse-analytics

....

The examples below illustrate these two ways using the storage account **_access key_** approach. The same applies to OAuth 2.0 configuration.

When it says below , does it mean the code remains the same? To me it could not be, because the example code is setting up the storage key. So what does it m

[2022-03-19 08:30] PriyankaRudramaina commented on #87464
Hi @Heidilohr,

Assinging this thread to you to review further and get the screenshot updated in the document accordingly.

[2022-03-19 08:35] ffrankozz opened #90103 "What if I happen to have more than one dapr component"
[Enter feedback here]
Hi,
When deploying  microservices to azure container apps how one would  proceed if we happen to have more than one dapr component ;let us say we have a service bus component, as well as a cosmos storage component. On the line --dapr-components, are we allowed to write an array of yaml files? If so, how? Or do we need to place all our components in one file one after the othe

[2022-03-19 08:46] minnieshi commented on #90100
https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/synapse-analytics

I was in the page, and scrolled to the bottom of the page, clicked feedback on the page option, and it allowed me to fill in the above info, so I thought the system was smart enough to track the page url

[2022-03-19 08:47] minnieshi commented on #90101
https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/synapse-analytics

[2022-03-19 08:56] minnieshi commented on #90102
Ps. I have updated the feedback with the original documentation link at the top.

I was in the page, and scrolled to the bottom of the page, clicked feedback on the page option, and it allowed me to fill in the above info, so I thought the system was smart enough to track the page url

Maybe the linkage disappears due to the fact that I am using a phone, because my former feedback was created prop

[2022-03-19 09:04] PriyankaRudramaina commented on #87760
@ElanShudnow,

Please find the comments inline.

Clearly the 1 replica per 20 concurrent VMs must be different whether using Standard_LRS and Premium_LRS. But the documentation doesn't differentiate.
**_– The guidance is same for different storage types._**
Zone Redundant should be updated to specify whether it's Standard_ZRS or Premium_ZRS
**_– This should be ‘Standard_ZRS’_**

Feel free to reach

[2022-03-19 09:07] #87760 closed

[2022-03-19 09:08] rtrompier commented on #48261
Hello,
For your information, here is the answer of MS Support :

[code]

Hope it will resolve the issue.

[2022-03-19 09:14] PriyankaRudramaina commented on #89736
@ThiruthamSivaram,

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-03-19 09:14] #89736 closed

[2022-03-19 09:14] minnieshi opened #90104 "What happens for pipeline using jar written in scala and run in standardized cluster"
[Enter feedback here]

High concurrency clusters can be shared by multiple users. They support only Python and SQL with Azure Data Lake Storage credential passthrough

Does above mean the jar attached to the cluster cannot be written in scala?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d55b056-a9c1-5e92-4fdd-23d72

[2022-03-19 09:23] amanmcse opened #90105 "Update the screenshot to reflect new options"
Please update the section **_[Prepare the playbook and logic app](https://docs.microsoft.com/en-us/azure/sentinel/tutorial-respond-threats-playbook#prepare-the-playbook-and-logic-app)_** with new **Create** options:

![image](https://user-images.githubusercontent.com/33834131/159115401-7ce2591f-eeba-4b9c-adf0-83024123e052.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-03-19 13:32] iwafula025 opened #90107 "Repeated and wrong word in paragraph"
Under the "Overview of tutorial " section, I think the second table in the paragraph below was meant to be data.
The data will further be converted with a transformation in a data collection rule (DCR) that filters out records that shouldn't be ingested and create the columns required for the table that the **table** will be sent to.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-03-19 13:32] xyz-mtl commented on #90097
[link](https://stackoverflow.com/questions/71538545/a-new-bug-is-detected-by-log-analytics-workspace)

[2022-03-19 13:33] #90097 closed

[2022-03-19 14:28] Aftabalamkhan120 opened #90108 "Genius-Tech-1998s"
Genius-Tech-1998s
[geniustech]()

__Originally posted by @Aftabalamkhan120 in https://github.com/Aftabalamkhan120/opensource.guide/pull/3#issuecomment-1073019205__

__Originally posted by @Aftabalamkhan120 in https://github.com/blueimp/JavaScript-Load-Image/issues/144__

__Originally posted by @Aftabalamkhan120 in https://github.com/microsoft/MCW-Analyzing-text-with-Azure-Machine-Learning-and-Cogn

[2022-03-19 14:55] CHEEKATLAPRADEEP-MSFT commented on #90102
@minnieshi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-19 14:56] CHEEKATLAPRADEEP-MSFT commented on #90103
@ffrankozz  Thanks for the question! We are investigating and will update you shortly.

[2022-03-19 14:57] CHEEKATLAPRADEEP-MSFT commented on #90104
@minnieshi  Thanks for the question! We are investigating and will update you shortly.

[2022-03-19 14:58] CHEEKATLAPRADEEP-MSFT commented on #90105
@amanmcse  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-19 15:00] CHEEKATLAPRADEEP-MSFT commented on #90107
@iwafula025  Thanks for the feedback! We are investigating and will update you shortly.

[2022-03-19 15:01] CHEEKATLAPRADEEP-MSFT commented on #90108
@Aftabalamkhan120  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2022-03-19 16:16] soplan commented on #38427
Is there already a fix for this so we can use commonv2 or something else

I need it to support work and personal accounts for Amazon cognito

[2022-03-19 20:41] 0xNinshu opened #90110 "Postman collection v1 not supported"
Hello,

I was just going through the tutorial and found that the postman collection has to be converted. I am a nooby and barely know what a postman collection is.
I am interested so I will spend time trying to convert the collection but others may not do so. So you might want to update it.
Either way I love power automate thank you for what you do.

---
#### Document Details

⚠ *Do not edit this

[2022-03-19 22:02] femsulu commented on #90110
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-20 02:28] milope opened #90112 "We may want to add a note warning users with multi-tenant accounts of possible failures."
I have a feeling we may need to warn users that belong to multiple tenants to be careful about using multiple tenants on their session. See below use-case with the az CLI commands:

- Let's say we create a private link association (let's call it 'association-A') to "tenant A"'s root management group.
- We create another private link association to "tenant B"'s root management group (let's call it

[2022-03-20 03:07] femsulu commented on #90112
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-20 03:22] AaronViviano commented on #11755
Fun trick I learned today. You can manage this order alphabetically via the names of functions. Priority is by descending alphabetical order, at least in my very limited testing.

__Original:__
[code]

__Put a function first:__
[code]

__Put a function last:__
[code]

Note that extended ascii is not supported in function names, so no Ω Functions. The regex for function names is here:
https://githu

[2022-03-20 04:30] mrochon opened #90113 "Cryptographic keys: SamlAssertionSigning or MetadataSigning?"
This document references two cryptographic keys: MetadataSigning and SamlMessageSigning. [Saml tutorial](https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-service-provider?tabs=windows&pivots=b2c-custom-policy) on the other hand shows: SamlAssertionSigning (and SamlMessageSigning). Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-03-20 08:28] KrishnaG-MSFT commented on #90049
@srikiz I have updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-03-20 08:28] #90049 closed

[2022-03-20 08:45] KrishnaG-MSFT commented on #90107
@iwafula025 I have updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-03-20 08:45] #90107 closed

[2022-03-20 09:14] devlanfear opened #90114 "Azure Speech Services: Conversation transcription demo"
Hello!

Did anyone get Conversation transcription (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/conversation-transcription) demo working?
Tried both JS (browser) and C# - doesn't work.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/javascript/browser/conversation-transcription
C#: code from the article.

Is 7-mic circular multi-mic

[2022-03-20 10:43] byguo2018 opened #90115 "I tis difficult to understand content in "notes""
Can you please explain the content of "note" in the middle page:
I don't even understand what it will tell me, can you find other way to express it more easy to understand?

"When an application requires assignment, user consent for that application isn't allowed. This is true even if users consent for that app would have otherwise been allowed. Be sure to [grant tenant-wide admin consent](https:/

[2022-03-20 11:27] CHEEKATLAPRADEEP-MSFT commented on #90113
@mrochon  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-20 11:29] CHEEKATLAPRADEEP-MSFT commented on #90114
@devlanfear  Thanks for the question! We are investigating and will update you shortly.

[2022-03-20 11:30] CHEEKATLAPRADEEP-MSFT commented on #90115
@byguo2018  Thanks for the question! We are investigating and will update you shortly.

[2022-03-20 11:37] yang-jiayi opened #90116 "Powershell api-version"
In the sample PowerShell script, api-version is an error.

`/hybridCertificate?api-version=202020-11-01-preview`
`$DAGName + "?api-version=2021-05-01-preview"`

Please use the following api-version.
`/hybridCertificate?api-version=2021-08-01-preview`
`$DAGName + "?api-version=2021-08-01-preview"`

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-03-20 12:03] GeethaThatipatri-MSFT commented on #90116
Hi @yang-jiayi Thanks for your findings,We will investigate and update as appropriate

[2022-03-20 12:32] chaisen2006 opened #90117 "Supported Dynamo DB Json formats for Data Migration"
Hello Experts,

We are looking to export data from AWS Dynamo DB to Azure Cosmos SQL API.
Cosmos DT can also take JSON files a source and have Cosmos DB SQL as Target./ Also directly connecting to the AWS Dynamo.

Questions are as below

1. If this tool only supports one container per execution ?
If I have 500 containers in AWS , do I need to execute the process 500 times?
2. Can we also migration

[2022-03-20 12:45] CHEEKATLAPRADEEP-MSFT commented on #89978
@akmichael Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-20 12:45] #89978 closed

[2022-03-20 12:47] CHEEKATLAPRADEEP-MSFT commented on #90091
@eflamm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-20 12:47] #90091 closed

[2022-03-20 13:32] hezite commented on #71628
any updates on the issue?

[2022-03-20 13:40] SumanthMarigowda commented on #89748
@jkshan Apologies for the delay response!  We have added this to our backlog and it will be updated very soon

[Client-Side Encryption with .NET for Microsoft Azure Storage | Microsoft Docs](https://docs.microsoft.com/en-us/azure/storage/common/storage-client-side-encryption?tabs=dotnet#blob-service-encryption)
[Azure Key Vault key client library for .NET | Azure SDK for Net (windows.net) ](https:

[2022-03-20 13:40] #89748 closed

[2022-03-20 14:10] voslucas commented on #47130
I have the same issues with vaultwarden and sqlite on ACI.
Tried both WAL enabled / disabled.
Anybody knows an alternative persistent storage option in ACI besides File Shares?

[2022-03-20 14:25] AnuragSharma-MSFT commented on #90117
@chaisen2006 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-20 14:32] srikiz commented on #90049
Great, Thanks !

On Sun, Mar 20, 2022 at 1:58 PM KrishnaG-MSFT ***@***.***>
wrote:

[2022-03-20 15:02] yelevin commented on #90105
This will be addressed as part of a larger update of the automation documentation in the near future. Thanks for your feedback!
#please-close

[2022-03-20 15:02] #90105 closed

[2022-03-20 15:14] jkshan commented on #89748
@SumanthMarigowda Thanks for the links, 2nd one was helpful. Will I get an update if and when the page is updated with the details for v12 SDK? Or can we close this only when the page gets updated with the necessary details.

[2022-03-20 18:05] ajh0912 opened #90119 "'Microsoft 365 E5 Developer' license SKU missing"
Friendly name: Microsoft 365 E5 Developer (without Windows and Audio Conferencing)
Name: DEVELOPERPACK_E5
GUID: c42b9cae-ea4f-4ab7-9717-81576235ccac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product name

[2022-03-20 18:20] TomArcherMsft commented on #39080
Closing out old GitHub Issues. If the issue is still valid, please open again so it's created in current repo. #please-close

[2022-03-20 18:20] #39080 closed

[2022-03-20 18:21] TomArcherMsft commented on #51028
Closing out old GitHub Issues. If the issue is still valid, please open again so it's created in current repo. #please-close

[2022-03-20 18:21] #51028 closed

[2022-03-20 18:21] TomArcherMsft commented on #51106
Closing out old GitHub Issues. This issue has been resolved. #please-close

[2022-03-20 18:21] #51106 closed

[2022-03-20 18:22] TomArcherMsft commented on #51561
Closing out old GitHub Issues. If the issue is still valid, please open again so it's created in current repo. #please-close

[2022-03-20 18:22] #51561 closed

[2022-03-20 18:22] TomArcherMsft commented on #51902
Closing out old GitHub Issues. This issue has been resolved. #please-close

[2022-03-20 18:22] #51902 closed

[2022-03-20 18:23] TomArcherMsft commented on #52708
Closing out old GitHub Issues. This issue has been resolved. #please-close

[2022-03-20 18:23] #52708 closed

[2022-03-20 18:24] TomArcherMsft commented on #51028
NOTE: I updated this article and tested it. It will go live by tomorrow afternoon (PST).

[2022-03-20 18:38] AjayKumar-MSFT commented on #89734
mcclda, After initial check, your feedback has been shared with the content owner for further review and update the document as appropriate. Thanks again for your feedback.

[2022-03-20 18:47] AjayKumar-MSFT commented on #89672
Apologies for the delay from over the weekend. Thanks for the follow-up and additional info.

AddEnvironmentVariables does not add or remove any appsettings by itself. You may view the complete list of environment variables as injected by App Service by running 'env' command in kudu. If the issue still persist, please let me know I'll follow-up with you further.

[2022-03-20 18:50] AjayKumar-MSFT commented on #89884
pmpopovichjr, Your feedback has been shared with the content owner for further review. Thanks again for your feedback.

[2022-03-20 19:29] AjayKumar-MSFT commented on #89972
jmp75, As mentioned in [this doc](https://docs.microsoft.com/azure/container-registry/container-registry-troubleshoot-login#check-that-credentials-arent-expired), tokens and Active Directory credentials may expire after defined periods, preventing registry access. So, it would be expected to enable access, credentials might need to be reset or regenerated.
This doc aims to provide general instruct

[2022-03-20 19:58] AjayKumar-MSFT commented on #89973
jmp75, Apologies you experienced this issue with the doc tutorials and any frustrating experience.  As I understand you have Contributor Role access on your subscription. As for as the `Contributor` -Grants full access to manage all resources, but does not allow you to assign roles in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries. [See, this doc](https://docs.microso

[2022-03-20 22:04] bdcoder2 commented on #89672
@AjayKumar-MSFT - No problem -- sorry, I may not be making myself clear (as I am aware that AddEnvironmentVariables does not add or remove any appsettings), but if you do the following:

1. Create an App Service in Azure Portal
2. Using the Azure Portal, add an environment variable, in my case I added the environment variable called "**azure_keyvault_uri**".
3. When I deploy to the App Service and

[2022-03-20 22:17] sch56 opened #90120 "sys.database_principals varies when using AD authentication"
Azure SQL database with both AD and SQL authentication enabled.
Certain AD Groups have been added as database_principals by the database owner.
Apart from the 14 system-defined principals shown by sys.database_principals (10 DATABASE_ROLE and 4 SQL_USER) I have 5 user-created principals (3 EXTERNAL_GROUP and 1 EXTERNAL_USER).

However when I query sys.database_principals from different authorised

[2022-03-20 23:10] manekinekko commented on #89734
Hi @mcclda thank you for reporting this issue. It looks like there is a missing step in the docs. Would you mind running the command `npm install` before `npm run build` and let us know if that worked for you?

[2022-03-20 23:13] aramsmith opened #90121 "Naming of multiple VM's goes wrong.."
Hi guys,
There is an issue with the deployment of VM's. If you choose 2 or 3 zones and name the VM's MyVm1, MyVm2, MyVm3, the result is that after deployments all VM's have the same name, the name of the last VM (MyVm3).
aram.smith@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0662764d-dc84-9a95-f25b-ca2

[2022-03-20 23:43] GeethaThatipatri-MSFT commented on #90120
Hi @sch56 Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-21 00:04] femsulu commented on #90119
Hi @ajh0912

For issues related to MS 356 license, would recommend contacting the [MS 365 support](https://support.microsoft.com/en-au/topic/contact-microsoft-office-support-fd6bb40e-75b7-6f43-d6f9-c13d10850e77). Hope this helps.

![image](https://user-images.githubusercontent.com/34327711/159191756-62dc0659-b15e-4ba8-8007-3d7c7e5f6c03.png)

[2022-03-21 00:08] catmanjan opened #90123 "Azure App Gateway is including Domain as part of Session Affinity Cookie - why? How to remove?"
We have Azure Appgateway running test and prod with session based cookie authentication

For some reason in prod the cookie is being set as:

Set-Cookie: Affinity=abcdefg;Path=/;Domain=mywebsite.domain.com.au

The Domain component is causing issues with an application, in test we get:

Set-Cookie: Affinity=abcdefg;Path=/

Which works fine.

What determines whether the Domain parameter is included

[2022-03-21 00:09] femsulu commented on #90121
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-21 00:11] femsulu commented on #90121
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-21 00:30] ajh0912 commented on #90119
Hi @femsulu - apologies I should have added a sentence at the start to describe the issue.
My issue is not a problem with requiring support for Microsoft 365 licenses, but instead it's specifically related to [the linked docs article.](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference)

There have been many other license SKUs missing from the

[2022-03-21 01:07] femsulu commented on #90119
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-21 01:17] femsulu commented on #90123
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-21 01:43] YutongTie-MSFT commented on #89927
Thank you @JoelCanteroGCO, I have fixed the typo.

I have tried this guidance on my end, one possible reason I think maybe causing this error is: Seems you are using same subscription in source and target, this maybe the reason for that. Since this is a preview version, I will double check with the product team.

[2022-03-21 01:47] MartinJaffer-MSFT commented on #89920
Relating this issue to Microsoft Q&A thread
https://docs.microsoft.com/en-us/answers/questions/762134/index.html

[2022-03-21 01:51] YutongTie-MSFT commented on #89949
Thanks for the feedback again! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-21 01:52] YutongTie-MSFT commented on #89949
@ynpandey Hello Yogi, could you please check on this feedback to see if we need to update the document? Thanks.

[2022-03-21 02:14] davidtraveller75 opened #90124 ""compliant device" is not defined"
Hi,

This page is generally great, although it doesn't seem to define what a "complaint device" is. . . .

Regards,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36a92a90-4b26-8f6f-5c90-77dec7b55c95
* Version Independent ID: 5d2b6ef8-126a-a7cd-3fd5-b91fcb81065b
* Content: [Achieve NIST AAL3 by using Azure Active

[2022-03-21 02:18] frankfajardo opened #90125 "Sample code for in-process function is incomplete."
In-process sample code is incomplete, with the function method un-terminated. It shows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adef418e-21d0-5f5a-83ff-72a957394ff2
* Version Independent ID: 2a3fdc4a-d258-a1b4-0ba1-2a29994193f7
* Content: [Azure Event Grid output binding for Azure Functions](https://docs

[2022-03-21 03:39] femsulu commented on #90124
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-21 04:00] femsulu commented on #90125
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-21 04:01] SadiqhAhmed-MSFT commented on #89911
@paulbaber Windows Server 2019 is a supported OS. However, Windows Server 2022 is not.

[2022-03-21 04:13] SwathiDhanwada-MSFT commented on #89859
@timwarner-msft  Thanks for fixing the document.
@geoffop  As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-03-21 04:13] #89859 closed

[2022-03-21 04:21] ram-msft commented on #89770
@olsgaard Thanks, you’d want to use a Dataset ( this class will help: [https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_consumption_config.datasetconsumptionconfig?view=azure-ml-py](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fpython%2Fapi%2Fazureml-core%2Fazureml.data.dataset_consumption_config.datasetconsumptionconfig

[2022-03-21 04:39] AshokPeddakotla-MSFT commented on #89854
@vikasreddy-bh Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-03-21 04:39] #89854 closed

[2022-03-21 05:03] ram-msft commented on #89770
@aminsaied Can you please review the sample in the following document.
https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-bring-data#control-script

[2022-03-21 05:18] haoxin opened #90128 "When create VPN connection using local network gatway, shows IP overlapping, cant move on"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Independent ID: 1f8e045c-4c83-f414-08aa-d68352e6abec
* Content: [Configure NAT on Azure VPN Gateway - Azure VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/nat-howto)
* Content Source: [ar

[2022-03-21 05:24] #87629 closed

[2022-03-21 05:50] KrishnaG-MSFT commented on #90099
@minnieshi [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in any Azure document then please elaborate your feedback and share the Azure doc

[2022-03-21 06:52] minnieshi commented on #90099
I had closed the ticket two days ago, right after I created it, as I realized it was duplicated and had less info than the original one.
I am not sure why the system still assigned to you after I closed it.

[2022-03-21 06:55] RohitMungi-MSFT commented on #90018
@planty Thanks for reporting this. The discrepancy is reported to our team internally and the documentation/portal will be updated to ensure it is uniform. @aahill FYI.

[2022-03-21 07:39] KrishnaG-MSFT commented on #90099
@minnieshi Got it. If that's the case then please ignore this GiHub issue going forward.

[2022-03-21 08:03] MayankBargali-MSFT commented on #90125
@frankfajardo Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-03-21 08:04] #90125 closed

[2022-03-21 08:08] kengaderdus commented on #85243
Closing this due to inactivity
#please-close

[2022-03-21 08:09] #85243 closed

[2022-03-21 08:27] ezYakaEagle442 commented on #89924
@zhoufenqin and what about the issue "_Feature ServiceRegistry is not supported in Sku S0 for API version 2022-01-01-preview_"
which is [documented](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-service-registration?pivots=programming-language-java) as supported in Basic/Standard Tier ?

[2022-03-21 08:30] abdullahbasaad commented on #85135
Yes, DrTeit,

I spent long time for this issue, I've got some solutions like downgrade helm version to helm2.

Finally, I've got your solution **CONTROLLER_TAG=V1.0.4**,  just remove V it will be worked perfectly.

[2022-03-21 08:33] zhoufenqin commented on #89924
Same as above. In Enterprise tier, service registry means [VMware tanzu service registry](https://docs.vmware.com/en/Spring-Cloud-Services-for-VMware-Tanzu/index.html), in Standard/Basic tier, service registry means Spring Cloud service registry.

[2022-03-21 08:59] Klaas- opened #90131 "CentOS 8 no longer receiving updates"
Hi,
you currently suggest to install an unsupported version of CentOS here. I am guessing you either want to switch this quickstart help to centos8 stream, rhel8 or another rhel8 clone.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73663d3d-b9a8-e93e-9feb-6105c48567a9
* Version Independent ID: 11a384f

[2022-03-21 09:01] Klaas- commented on #90131
Refs https://github.com/openlogic/AzureBuildCentOS/issues/117

[2022-03-21 09:14] bmansheim commented on #90014
@jmaaspmn Good catch! I'll check it out and update here.

[2022-03-21 09:18] MayankBargali-MSFT commented on #89774
@dldldlepl Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-03-21 09:18] #89774 closed

[2022-03-21 09:34] MayankBargali-MSFT commented on #89768
@NandanJha1511-Nj Thanks for reaching out. MicrosoftDocs Github issue is mainly related to the document issue. It is always recommended to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) for any product feature/question/issue.

Currently, the only way is to recreate the workflow again in standard S

[2022-03-21 09:34] #89768 closed

[2022-03-21 09:41] azaricstefan commented on #89674
@hekaplex please check the section [Prerequisites](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-parquet-nested-types#prerequisites) where this [setup script](https://github.com/Azure-Samples/Synapse/blob/master/SQL/Samples/LdwSample/SampleDB.sql) is located.

[2022-03-21 10:31] #89924 closed

[2022-03-21 10:38] madsd commented on #46127
Hi @philipstreet-hiscox. Thank you for you suggestion and sorry for the long wait. I was only just made aware of your issue. I like the suggestion and is planning an update to the documentation and follow that going forward. It will however only be for the App Service Environment v3 as we are deprecating v1 and v2, and are only making urgent updates to these docs. Let me know if you have other que

[2022-03-21 10:52] Neyri opened #90132 "Get abfss file date modified"
Hello,

This doc does not provide help to display the modified date of a file on a datalake. From my experiments, the `os` package does not work with *abfss* file system.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7dc6ed8-9e4f-4fa4-8ff8-e11e66ce26c2
* Version Independent ID: ec675b15-edc7-4d38-edab-82a1232

[2022-03-21 11:20] ezYakaEagle442 opened #90134 "Mention explicitly support for Azure RedHat OpenShift ARO"
As Microsoft Defender for Containers supports Arc enabled clusters, it would support  Azure RedHat OpenShift (ARO) Arc connected cluster. As ARO is a first party service on Azure it should be **explictly** documented as supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13d88292-f6c0-d866-bae0-45f21abe8e23
* Ver

[2022-03-21 11:21] jaganpt commented on #89965
Any update on this?

[2022-03-21 11:30] Heurazio opened #90136 "No able to select application"
After following the steps outlined in https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-custom-policy I have the problem that I can not finally test the configuration. Step 2 of https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-custom-policy#test-the-custom-policy is not possible as no application can b

[2022-03-21 11:35] SnehaAgrawal-MSFT commented on #89847
@boris-tarasov-maersk Thanks for asking question! You may refer to this [blog](https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/) as mentioned " We’re also pleased to expand our support for managed identities to App Service on Linux/Web App for Containers."

Let us know if further query.

[2022-03-21 11:47] #90136 closed

[2022-03-21 11:48] Heurazio commented on #90136
I was missing the prerequisites of having an application registered with ID token and implicit grant enabled.

[2022-03-21 11:54] #89881 closed

[2022-03-21 12:02] SudheeshGH commented on #88386
@AnuragSharma-MSFT  . Please close this

[2022-03-21 12:03] bungard opened #90137 "Incorrect PowerShell RestMethod used on articles/data-factory/quickstart-create-data-factory-rest-api.md#create-linked-services"
The PowerShell for [Creating the Linked Service](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-rest-api#create-linked-services) invokes the normal Invoke-RestMethod and should use Invoke-AzureRestMethod

Currently:
`$response = Invoke-RestMethod -Method PUT -Uri $request -Header $authHeader -Body $body
$response.content`

Should be:

`$response =  Invoke-AzRest

[2022-03-21 12:06] toaguiar opened #90138 "Outdated Tutorial - Configure SAP SuccessFactors writeback in Azure AD"
It looks like the admin credentials section in Azure AD for SAP SuccessFactors writeback has changed the required fields.
Now the admin credentials section asks for the tenant URL and secret token.
The tutorial is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed074cb3-7c71-0728-10d5-d1f991162e67
* Version In

[2022-03-21 12:11] #88386 closed

[2022-03-21 12:30] AHelsby opened #90139 "Missing release notes for 1.2.177.0 for Password Protection DC and Proxy agent"
According to the download page (https://www.microsoft.com/en-us/download/details.aspx?id=57071) , a new version 1.2.177.0 was released 3/14/2022
Oddly enough the file version and add/remove programs shows the version as 1.0.01899.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f20b22c-e31c-67df-cea1-9a39bcbe6788
* V

[2022-03-21 12:32] mcclda commented on #89734
@manekinekko yes, running the command `npm install` before `npm run build` worked for me.

[2022-03-21 12:36] eric-urban commented on #90051
@YueSheng6 - Do other values such as 10, 20, 30 change the volume?

[2022-03-21 12:47] cybersmithio opened #90140 "Secrets provider not being enabled during initial AKS creation"
I have noticed the command to enable the Azure Key Vault Secrets Provider does not actually enable the add-on when creating a cluster from scratch.  So this command does not appear to work, but does complete without errors: az aks create -n myAKSCluster -g myResourceGroup --enable-addons azure-keyvault-secrets-provider --enable-managed-identity

I am able to enable the add-on after an AKS cluster

[2022-03-21 13:07] cephalin commented on #89546
#needs-sme-input

[2022-03-21 13:16] cephalin commented on #88994
#ready-to-doc

[2022-03-21 13:16] cephalin commented on #89694
#ready-to-doc

[2022-03-21 13:17] boris-tarasov-maersk commented on #89847
Thank you, a lot, for your fast response.

It would great if someone could also answer the following question: #90066

[2022-03-21 13:21] cephalin commented on #88548
This seems to be a mix of doc issue (need to link to the right place) and user-side issue (why they're not seeing the headers).

#needs-sme-input

[2022-03-21 13:22] haripraghash opened #90142 "Switching AKS from using SPN to use Managed Identity. What happens when nodepool image is already the latest image?"
The article mentions that, when migrating an existing AKS cluster from an SPN to MI, you need to run
`az aks nodepool upgrade --node-image-only on your nodes to complete the update to managed identity`

But what if the nodes are already on the latest image? How do we then force kubelet to use MI and let go of old SPN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-03-21 13:22] cephalin commented on #87921
#ready-to-doc

[2022-03-21 13:24] cephalin commented on #87485
#needs-sme-input

[2022-03-21 13:30] ruffy91 commented on #89853
@rpsqrd Thank you for your feedback. I checked this and 1.15 is already installed on all devices, but the recommendation in Defender for Endpoint persists.
I checked the service path and it has been fixed with double quotes everywhere,
It seems the problem is with Defender for Endpoint. As such I reported the problem there.
This issue is no longer needed and can be closed.

[2022-03-21 13:30] #89853 closed

[2022-03-21 13:31] ShaikMaheer-MSFT commented on #90132
Hi @Neyri ,

In the documentation it shows how to Get File and directory timestamp details on data bricks file system `/dbfs/`.
In your case could you please try to mount your location to databricks file system and them use similar code?

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Ki

[2022-03-21 13:34] ShaikMaheer-MSFT commented on #89887
@lrtoyou1223 Could you please validate feedback and enhance document as appropriate to provide more description as requested? Thank you.

[2022-03-21 13:36] ShaikMaheer-MSFT commented on #89913
@nanditavalsan Could you please validate customer feedback and enhance video as appropriate? Thank you.

[2022-03-21 13:48] cephalin commented on #87426
#ready-to-doc

[2022-03-21 13:50] cephalin commented on #86147
#needs-sme-input

[2022-03-21 13:53] cephalin commented on #85349
#need-sme-input (verify customer suggested changes)

[2022-03-21 13:53] boris-tarasov-maersk opened #90143 "How to trace progress of deployment to a stage with containers?"
On this page it is suggested to
deploy container image to a staging slot and then swap slots.

Triggering a deployment is done by updating container tag on the slot.

Question is: how to track when deployment was complete on staging environment as this should be indicator to swap.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-03-21 13:57] cephalin commented on #82903
#needs-sme-input

[2022-03-21 14:00] cephalin commented on #82661
@ajuanjojjj Thank you for pointing it out. since it's documented somewhere else, we will just link to another doc for steps in other tools instead of duplicating it here.

#ready-to-doc

[2022-03-21 14:01] cephalin commented on #81810
#needs-sme-input

[2022-03-21 14:04] cephalin commented on #79969
This was already updated. #please-close

[2022-03-21 14:04] #79969 closed

[2022-03-21 14:05] cephalin commented on #79855
#needs-sme-input

[2022-03-21 14:07] cephalin commented on #79552
#needs-sme-input

please verify mvn version upgrade/omit suggestion

[2022-03-21 14:07] cephalin commented on #79526
#needs-sme-input

[2022-03-21 14:09] cephalin commented on #77693
#needs-sme-input

[2022-03-21 14:12] #76845 closed

[2022-03-21 14:13] cephalin commented on #76582
#needs-sme-input

[2022-03-21 14:19] cephalin commented on #76232
#needs-sme-input

@mattchenderson the confusion might be the Reference syntax doesn't explicitly mention the syntax is used in app settings / connection strings. if there's no other place the syntax can be used, just confirm and I can update the doc.

[2022-03-21 14:19] cephalin commented on #76039
#needs-sme-input

[2022-03-21 14:20] cephalin commented on #68715
#needs-sme-input

[2022-03-21 14:21] cephalin commented on #67647
#needs-sme-input

[2022-03-21 14:21] cephalin commented on #66490
#needs-sme-input

[2022-03-21 14:22] cephalin commented on #55721
#reassign:cephalin

[2022-03-21 14:24] SachithKasthuriarachchi opened #90145 "AGIC is Missing Some Functionalities which Nginx Provides"
I found it very hard to move from Nginx to AGIC for a project which has been benefiting from Nginx for a long time due to the above $Subject. Following is a list of missing annotations (functionalities) in AGIC.

- nginx.ingress.kubernetes.io/configuration-snippet
- nginx.ingress.kubernetes.io/ssl-passthrough
- nginx.ingress.kubernetes.io/limit-rps
- nginx.ingress.kubernetes.io/session-cookie-expi

[2022-03-21 14:33] cephalin commented on #54950
#needs-sme-input

@mattchenderson looks like it's already updated in the Rotation section. if so, just go ahead and add a "# please-close" (no space) to close the issue.

[2022-03-21 14:37] pvanroos commented on #89473
hi all. I appreciate all your help.

[2022-03-21 14:39] cephalin commented on #53709
no longer applies as user-assigned identities have been documented. #please-close

[2022-03-21 14:39] #53709 closed

[2022-03-21 14:45] cephalin commented on #51639
#please-close as the issue is old and also not directly related to the content issues but a specific JS framework (Vue.js).

[2022-03-21 14:45] #51639 closed

[2022-03-21 14:47] cephalin commented on #50280
@ggailey777 looks like the doc has already been updated. Close this one?

[2022-03-21 14:49] jeffgayle opened #90149 "Auto patching as well as auto OS upgrades should be more obvious"
Coming from the SFMC docs I believe this page needs to make it clear that OS **patching** is included in the Auto "OS Image" management as it only shows up in the Requirements section as a final mention in an item about setting a profile option to false. I'll be making a similar request in the SFMC docs as well.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-sca

[2022-03-21 14:52] jesseryoungVUMC commented on #87617
@nabhishek - has your change made it into the official docs repo yet? The last change I see for this file is https://github.com/MicrosoftDocs/azure-docs/commit/f2fb2ee1182430c7c906e803f6386a6e1c02120f but it looks like that's referencing the response timeouts and not the http 202 behavior.

[2022-03-21 14:54] cmmdesai commented on #90138
@toaguiar thanks for the feedback. I just verified in my lab setup. The SuccessFactors Writeback app shows admin username, admin password and tenant URL fields as expected. If you continue to see this issue, please open a support ticket from Azure portal.

[2022-03-21 14:55] AshokPeddakotla-MSFT commented on #89657
@Farhad-Heybati Suggestion was to update the markupsafe to the latest version. please see here : https://markupsafe.palletsprojects.com/en/2.1.x/changes/#version-2-1-0

Also, I am adding author @PatAltimore to verify the changes and update the doc appropriately.

[2022-03-21 14:57] cephalin commented on #40968
looks like doc has already updated to the latest API version. #please-close

[2022-03-21 14:58] jeffgayle opened #90150 "Include patching as part of the description of "Automatic OS Image Upgrades""
In

https://docs.microsoft.com/en-us/azure/service-fabric/how-to-managed-cluster-modify-node-type#enable-automatic-os-image-upgrades

Please mention that patching is part of the VM Scale Set automatic OS Image upgrade. As it is, it's not at all clear that this is supported. On the linked page it does not mention this fact until the requirements section and even there as the last sentence on an ite

[2022-03-21 14:59] cephalin commented on #37859
#needs-sme-input

[2022-03-21 15:00] cephalin commented on #33604
#needs-sme-input

[2022-03-21 15:12] AshokPeddakotla-MSFT commented on #90045
@jb1977 Just wanted to understand if this issue is specific to Ubuntu or Raspberry OS?
What is the exact error message you are seeing?

[2022-03-21 15:15] PriyankaRudramaina commented on #90131
Hello @Klaas,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-21 15:15] Givary commented on #89089
@jeevanearform Team is working on re-wording the options mentioned in the screenshot above, will take few weeks to reflect the change.

[2022-03-21 15:16] #89089 closed

[2022-03-21 15:18] bsaxbergMS opened #90151 "Update EOL on this page?"
[Enter feedback here]
I was given this link https://azure.microsoft.com/en-us/updates/nvseries-and-nvpromo-azure-virtual-machines-will-be-retired-by-31-august-2022/ that says the NV series is being EOL.  Can we update this page to reflect that?

Thank you,
Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 331382e6-f

[2022-03-21 15:19] #89425 closed

[2022-03-21 15:28] toaguiar commented on #90138
Maybe if you try to create a new SuccessFactors Writeback application you will see the Tenant URL and Secret Token fields. For previously configured apps they should still show the old configuration fields.

![image](https://user-images.githubusercontent.com/81576585/159292854-6e790529-867c-4a66-833f-fb845965858d.png)

[2022-03-21 15:32] RonnieQuan opened #90152 "ExpressRoute Circuit Question"
[Enter feedback here]
Hi,

Let's say in one premium SKU expressRoute 10G port,  I create two expressRoute circuits.

circuit #1
New-AzExpressRouteCircuit -BandwidthInGbps  10

circuit #2
New-AzExpressRouteCircuit -BandwidthInGbps  1

Azure allows me to create both circuits, I have two questions,
1) 1Gbps is reserved for circuit number2? meaning circuit number1 can not go to the full bandwidth (10G

[2022-03-21 15:49] cmmdesai commented on #90138
@toaguiar I just tried creating a new app and I did not see this issue. I recommend opening a support ticket to track this issue, so we can investigate further.
![image](https://user-images.githubusercontent.com/14150568/159298608-59e46784-069a-40dc-ba2b-4a75dea44863.png)

[2022-03-21 15:52] mwherman2000 opened #90153 "Critical step missing in https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer#issue-your-first-verified-credential-expert-card"
There's a critical step missing in https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer#issue-your-first-verified-credential-expert-card.

After you have the `ngrok` URL in Step 2 (e.g. `https://8653-96-45-9-198.ngrok.io`), this URL needs to be used to replace the string `YOURPUBLICREACHABLEHOSTNAME` in the `issuance_request_config.

[2022-03-21 15:53] AaronMaxwell commented on #90035
Thanks for your dedication to our documentation. We are simplifying the documentation by specifying and linking to the LTS .NET/.NET Core SDK information. This should be live in a day or two. #please-close

[2022-03-21 15:53] #90035 closed

[2022-03-21 15:55] duongau commented on #90152
@RonnieQuan Azure will allow you to create as many ExpressRoute circuits as you want, but when you call your ISP to provision the circuit it is one service key per port pair. So buying a 10G port with the ISP and creating a 1G circuit would not be the best use of your bandwidth. The ISP will most likely tell you that and move you over to a 1G port on their routers. Therefore circuit 1 would not ha

[2022-03-21 15:58] SPea-1 opened #90154 "Databricks name length doesn't match validation on portal"
The documentation states that Databricks workspaces can be up to 64 characters, but there is validation on the portal that doesn't allow you to create a workspace with a name more than 30 characters.  I can create one with more than 30 characters using Terraform, so it does just seem to be a restriction on the portal itself.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-21 16:01] timheuer opened #90155 "Bad link on Hello World tutorial"
There is a broken link for the Hello World dapr tutorial page.

It links to: https://github.com/dapr/quickstarts/tree/master/hello-kubernetes

And should be linking to: https://github.com/dapr/quickstarts/tree/master/tutorials/hello-kubernetes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afddc810-761b-10bf-38af-ca113

[2022-03-21 16:05] jmalouf69 opened #90157 "When will the "Dynamic allocation of IPs and enhanced subnet support (preview)" be GA?"
[Enter feedback here]
Hello, i was wondering when the "When will the "Dynamic allocation of IPs and enhanced subnet support (preview)" will be out of preview and supported GA?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-4

[2022-03-21 16:09] kobulloc-MSFT commented on #90151
@bsaxbergMS Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-03-21 16:10] mwherman2000 opened #90158 "Firefox is the easiest browser to use for the Verifiable Credentials-Issue VC tutorial"
Firefox is the easiest browser to use for the Verifiable Credentials-Issue VC tutorial.  It doesn't complain about the security of the ngrok.exe URLs in step https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer#issue-your-first-verified-credential-expert-card. Firefox is more developer-friendly in this particular case.

Recommendati

[2022-03-21 16:12] mwherman2000 opened #90159 "Firefox is the easiest browser to use for the Verifiable Credentials-Issue VC tutorial"
Firefox is the easiest browser to use for the Verifiable Credentials-Issue VC tutorial.  It doesn't complain about the security of the ngrok.exe URLs in step https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer#issue-your-first-verified-credential-expert-card. Firefox is more developer-friendly in this particular case.

Recommendati

[2022-03-21 16:12] #90158 closed

[2022-03-21 16:13] andrewjohnporter opened #90160 "Further information about validation"
It would be great if the validation part of this was added to. Some information about how long it takes to register the device when manually adding the registry keys. Does it require a Azure AD Connect sync, a log off or a reboot to get working? Any gotcha's of side affects or issues to check or test against?

Thank you for all the other great information on this page though, much appreciated!

--

[2022-03-21 16:16] RonnieQuan commented on #90152
@duongau
Thanks for the information.

You are right, we can create as many ExpressRoute circuits as we need.

The question is not about capped on the port, the question is on Azure expressRoute circuit.

Let's say the port is fixed, 10G, which is already purchased. ISP is out of pictures.

Since Azure allows to create as many circuits even in one port, so how does the bandwidth is reserved and cap

[2022-03-21 16:21] madsd commented on #45511
@hisathya thank you for your suggestion, and sorry for not addressing it sooner. I was just made aware of this issue. I like your suggestion and there is a change rolling out very soon to address it and add a section on permissions. Keep the feedback coming.
Mads

[2022-03-21 16:22] toaguiar commented on #90138
I will raise a support ticket. Thanks for your help.

[2022-03-21 16:22] Minewiskan commented on #89683
#please-close

[2022-03-21 16:22] #89683 closed

[2022-03-21 16:27] MarileeTurscak-MSFT commented on #90139
@AHelsby
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-21 16:29] MarileeTurscak-MSFT commented on #90153
@mwherman2000
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-21 16:31] MarileeTurscak-MSFT commented on #90160
@andrewjohnporter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-21 16:42] tquerec opened #90161 "Wrong claim identifiied"
The psso claim listed in the examples should actually be https://schemas.microsoft.com/ws/2012/01/insidecorporatenetwork

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d879929f-9ca3-547a-8792-8922f2054adf
* Version Independent ID: 063b05fb-bc56-a988-2f69-78dbc199fe5c
* Content: [Secure resources with Azure AD MFA and A

[2022-03-21 17:09] #89538 closed

[2022-03-21 17:38] mike-urnun-msft commented on #90155
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-21 17:53] Oury-MSFT commented on #90041
@danielgerlag Thank you for your Question. If there are no further questions. I will go ahead and close this Git Issue.

[2022-03-21 18:26] AlanPintor-git opened #90164 "Does IoTC .NET SK support .NET framework 4.7 or lower?"
Hello,

Does IoTC .NET SK support .NET framework 4.7 or lower?  because I am getting MQTT transport exception on 4.7 version, the same code is working fine with .NET CORE.
If you need more information please let me know.

Thank you in advance,
Alan
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1d0558-8037-5162-cea2-0

[2022-03-21 18:27] GiftA-MSFT commented on #90134
@ezYakaEagle442 we'll review your feedback and get back to you shortly. Thanks.

[2022-03-21 18:28] #89372 closed

[2022-03-21 18:30] duongau commented on #90152
@RonnieQuan ExpressRoute partner circuits are facilitated on a shared physical port pair. ExpressRoute partners provision multiple customer circuits on the same underlying physical interfaces. You can burst beyond the configured circuit bandwidth, as long as there is available bandwidth on the underlying ports.

[2022-03-21 18:47] SreejaBhattacharya-MSFT commented on #89925
Hi @KarlErickson , could you please review this and add your comments.

[2022-03-21 18:50] jmprieur commented on #87933
@kalyankrishna1 is it something your team could help with?

[2022-03-21 18:54] sedwardstx opened #90165 "docs out of date since 7.2. cu4 release of SF runtime"
[Enter feedback here]

This sentence needs to be updated to reflect new behavior since 7.2 cu4, see linked doc below on change
"The certificate deployed with the furthest into the future expiring date will be in use"

https://docs.microsoft.com/en-us/azure/service-fabric/cluster-security-certificate-management#:~:text=prior%20to%20version%207.2.445%20(7.2%20cu4)%2C%20service%20fabric%20selected%20

[2022-03-21 19:01] KranthiPakala-MSFT commented on #90137
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-03-21 19:08] bubbletroubles opened #90167 "Exemption (free in preview feature)"
The page says "Exemption (free in preview feature) " - however there are two questions with this statement

- Policy exemptions no longer seems to be in preview (this [commit](https://github.com/MicrosoftDocs/azure-docs/commit/c6c17a79013d57e11558abac4f804088f180c9bb) by @timwarner-msft removed references to preview from exemption-structure page.
- Policy exemptions don't seem to cost anything (go

[2022-03-21 19:13] ChaitanyaNaykodi-MSFT commented on #90145
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-21 19:17] AjayKumar-MSFT commented on #89972
jmp75, We will now close this thread. If you have any questions, please let me know. Also, your feedback has been shared with the content owner (@msangapu) for further review, to see if this point needs to be explicitly added in the next doc update cycle. Much appreciate your feedback again.

[2022-03-21 19:17] #89972 closed

[2022-03-21 19:19] AjayKumar-MSFT commented on #89973
jmp75, We will now close this thread since it's not doc specific feedback. If you have any questions, please let me know. Thanks for taking time to share your feedback.

[2022-03-21 19:19] #89973 closed

[2022-03-21 19:20] PriyankaRudramaina commented on #90150
Hello @jeffgayle,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-21 19:21] PriyankaRudramaina commented on #90149
Hello @jeffgayle,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-21 19:21] PriyankaRudramaina commented on #90157
Hello @jmalouf69,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-21 19:24] mumian commented on #90085
@gbryant1 - thank you for reporting the issue to us.  However, I was not able to reproduce the problem. Can you try these steps:

1. There are two "Try it" green buttons in the article.  Click the first one to open the Cloud shell.
2. Copy and paste the script in the first "Try it" block, and paste the script into the Cloud shell pane. Follow the instructions to complete the script.
3. Copy the sc

[2022-03-21 19:33] VinnyBonner opened #90170 "Update NodeJS Deploy Function App Repo-Url"
Noticed that under the "[Deploy the function code](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?tabs=nodejsv10%2Cazure-powershell#deploy-the-function-code)" section in the Azure CLI command line, is using an outdated github link, which has some coding errors.

The repository suggests using a newer github repo - https://github.com/Azure-Samples/storag

[2022-03-21 19:42] kbocock-krg opened #90171 "How to correctly Debug??"
Please provide an article on how to debug a typescript azure function in VSC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7adfd3e-c3ad-1fd5-0fee-d3dfca69101c
* Version Independent ID: 71300005-4371-c09e-f6b6-a6b21669f1c2
* Content: [Create a TypeScript function using Visual Studio Code - Azure Functions](https://do

[2022-03-21 19:45] nagendramishr opened #90172 "missing directions"
in step 1 of test, you need to get the URL and replace{functionName} with HelloSequence

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17995686-e24c-7e81-61f8-a17bf525163a
* Version Independent ID: fec7a982-2f01-57a0-ba5e-38b0b681f770
* Content: [Create Durable Functions using the Azure portal](https://docs.microsoft.c

[2022-03-21 19:57] ziaddiab-globaldws commented on #90080
Hi @SatishBoddu-MSFT
The sample code provisions the device then send the telemetries. It does that even if the device is already provisioned.
Is there a way to send telemetries without provisioning the device (assuming the device is already provisioned)?

[2022-03-21 20:04] MarileeTurscak-MSFT commented on #90134
Thanks! I made a pull request to update the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/192351

@bmansheim can you please review this?

[2022-03-21 20:04] #90134 closed

[2022-03-21 20:05] spelluru commented on #88917
Hi @jalexander-bb - Thanks for the clarification.

Here's what I heard from the product team on the issue:
If a destination is unhealthy and becomes healthy again, events are delivered. Yes, there is health state maintained based on delivery outcome and that state is reset every x minutes, not hours.

If you still see the issue, you may want to open a support ticket. Thanks.

[2022-03-21 20:10] ecfan commented on #87242
@rohithah: Can you help answer this customer question? Thanks!

[2022-03-21 20:11] nibaccam commented on #89950
@abhijit-z did the the above guidance work for your question/request?

[2022-03-21 20:18] SatishBoddu-MSFT commented on #90080
@ziaddiab-globaldws Could you be more specific about what do you mean by **'without provisioning'**? You don't want to add a device to IoTHub, but want to send Telemetry?

[2022-03-21 20:35] ziaddiab-globaldws commented on #90080
Thanks for the reply @SatishBoddu-MSFT,
From what I understand from the code. This line provisions the device:
ProvisioningDeviceClient pdc = ProvisioningDeviceClient.Create(parameters.DpsEndpoint, parameters.DpsIdScope, symmetricKeyProvider, mqttTransportHandler);

and this line sends the telemetry:
await _deviceClient.SendEventAsync(msg, cancellationToken);

Every time we run the sample code, th

[2022-03-21 20:36] sunilagarwal commented on #88831
I see the create server command correctly mentioned and NOT under comments?
echo "Creating $server in $location..."
az postgres server create --name $server --resource-group $resourceGroup --location "$location" --admin-user $login --admin-password $password --sku-name $sku

[2022-03-21 20:49] toffendask opened #90174 "Password complexity"
So how does Microsoft support the «removal of the requirement for special characters and numbers»? As far as I can tell the Azure AD password policy still requires at least one of them.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a73d324-5e4b-4f6e-36ae-4ff352a8060a
* Version Independent ID: 2deac1ec-8746-30ff-ee65-

[2022-03-21 21:01] nibaccam commented on #89949
Hi @abhijit-z want to make sure I'm understanding the ask here. Are you looking for guidance on how to upload a file to data storage?

[2022-03-21 21:10] btardif commented on #89546
#taken-by:btardif

[2022-03-21 21:11] JasonFreeberg commented on #87485
@blogcraft -- Just to clarify, you're trying to create an app setting (environment variable) who's value is a JSON array? Like this: `MY_ENV_VAR` = `['entry1', 'entry2', 'entry3']`?

[2022-03-21 21:12] btardif commented on #81810
#taken-by:btardif

[2022-03-21 21:14] btardif commented on #88548
#taken-by:btardif

[2022-03-21 21:15] btardif commented on #86147
#taken-by:btardif

[2022-03-21 21:18] JasonFreeberg commented on #79552
@cephalin -- Please omit the "by entering <number>" from all instructions

![image](https://user-images.githubusercontent.com/18747768/159365453-c867427e-1702-48de-9ca3-ed4db766969a.png)

[2022-03-21 21:19] btardif commented on #83385
#taken-by:btardif

[2022-03-21 21:22] larryclaman commented on #80988
Any update on this?  The documentation incorrectly refers to helm 2 (and helm init), which is obsolete.  see #65016

[2022-03-21 21:23] ashersilver commented on #88403
I have this error too.. Do we need to set up an Authorisation Token in advance?

[2022-03-21 21:23] jalexander-bb commented on #88917
That doesnt seem to be the case, if i send an event to a hybrid connection destination and there is no listener on the over end,  the event is not received. Immediately I will start a listener and it still wont be received. What are the fine grain details on when i expect it to be received? It seems like the event just gets dropped and never delivered again, and only goes to dead letter after TTL

[2022-03-21 21:24] larryclaman commented on #65016
any update on this?  this issue was opened 1.5 yrs ago, and the documentation is still incorrect (and no longer works).  @mscatyao

[2022-03-21 21:26] larryclaman commented on #51099
@TravisCragg-MSFT -- any update on this?  see #65016  While there is indeed a workaround, the docs do need to be fixed.

[2022-03-21 21:33] jalexander-bb commented on #88917
"If a destination is unhealthy and becomes healthy again, events are delivered. Yes, there is health state maintained based on delivery outcome and that state is reset every x minutes, not hours."

What do u mean by this? Please detail an exact case to me on what event grid does when a listener is down for a few hours and it comes back up, what happens to the event in the event grid? This is the d

[2022-03-21 21:40] KarlErickson commented on #89925
@leonard520 can you comment? Thanks!

[2022-03-21 21:51] schen213 opened #90176 "NCRONTAB expression does not actually support five fields in Azure Portal"
There's a big notice on the page that explicitly says NCRONTAB expression supports both five field and six field format. However, when a Timer function is published to Azure with a CRON expression with five fields, it does not work when attempting to Run. Instead, it returns a 404 Not Found error with no indication that the expression is incorrect. Adding the sixth field for seconds resolves this

[2022-03-21 21:59] ladydanes opened #90177 "Additional questions which need support"
how often does replication happen? is it every 15 mins to hit the stated RPO? or is it more frequent (e.g. as changes happen), but guaranteed to satisfy the 15 min RPO?

do customers set up the second FHIR instance themselves in advance of the support ticket call? or does support do some of that on the back-end? or does support just walk them through that?

do customers set up Traffic Manager them

[2022-03-21 22:07] James-Hamil-MSFT commented on #90174
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-03-21 22:09] apwestgarth commented on #76695
#taken-by:anwestg

[2022-03-21 22:09] apwestgarth commented on #76039
@taken-by:anwestg

[2022-03-21 22:18] KarlErickson commented on #89925
#assign:karlerickson

[2022-03-21 22:18] KarlErickson commented on #89925
#assign:@leonard520

[2022-03-21 22:34] mike-urnun-msft commented on #90170
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-21 22:35] TheShawnEllis opened #90178 "Step to Redirect Anonymous users missing."
There is a step missing from the document. After adding the identity, you need to click on "Settings" under Developer Portal -> Identities. On the settings window, check the box for "Redirect anonymous users to sign-in page". Without this checked the portals still allowed users to see the APIs without first signing in.

![image](https://user-images.githubusercontent.com/65631445/159374093-9e5e6837

[2022-03-21 22:35] mike-urnun-msft commented on #90171
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-21 22:36] HeidiHanZhang commented on #90114
the sample code needs to be updated with extra code for accommodating with single channel audio input. current we have some workaround for single channel audio input on current version of SDK. It will be updated to support in the future release of SDK. Now you can apply:
![image](https://user-images.githubusercontent.com/49695262/159374284-49b3e6c9-0d1e-4180-a361-16d840bfc020.png)
for C# code, or

[2022-03-21 22:38] haiqing0065 opened #90179 "Typo"
in this link there is a typo for the storage account limit for private endpoint:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-workspace-vnet?tabs=pe%2Ccli#azure-storage-account

current:
"If you plan to use Azure Machine Learning studio and the storage account is also in the VNet, there are extra validation requirements:

If the storage account uses a service endpoint, the

[2022-03-21 22:39] mike-urnun-msft commented on #90172
Hello @nagendramishr - Thank you for your feedback. The doc does state the following as the first step for the testing section:

[2022-03-21 22:43] mike-urnun-msft commented on #90176
Hello @schen213 - Thank you for your feedback. Both formats derive from [Crontab for .NET](https://github.com/atifaziz/NCrontab) library and they both are supported. Are you able to consistently reproduce the same issue with the 5-field format?

[2022-03-21 22:44] tejaswikolli-web commented on #90011
#assign @tejaswikolli-web

[2022-03-21 22:45] mike-urnun-msft commented on #90178
Thank you for your feedback! We will review and update as appropriate.