[2020-09-11 05:45] KalyanChanumolu-MSFT commented on #62412
@jwilkey Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-09-11 05:58] cgillum commented on #62387
The fix for this has been merged and should be live shortly. Thanks for calling this out!

[2020-09-11 06:11] MayankBargali-MSFT commented on #62175
@hebroin Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-11 06:11] #62175 closed

[2020-09-11 06:13] HarithaMaddi-MSFT commented on #62445
@tomas-gottwald - Thanks for the valuable inputs. I am looking into it and will update you shortly.

[2020-09-11 06:13] HarithaMaddi-MSFT commented on #62441
@tomas-gottwald - Thanks for the valuable inputs. I am looking into it and will update you shortly.

[2020-09-11 06:30] SebastianClaesson commented on #62404
Sorry but it seems that is not correct either, because some resources use "westeurope" and not "we" as the prefix for region.
Such as "westeurope.azmk8s.io" while for backup resourcetype it is "we.backup.windows.azure.com"

[2020-09-11 06:32] SadiqhAhmed-MSFT commented on #62438
@cfj123 Thanks for the question. We are looking into your requirement and will get back to you soon.

[2020-09-11 06:32] psmanhas commented on #62425
@ZeroDeltaE Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-11 06:33] psmanhas commented on #62425
@roygara Can you please check and add your comments on this doc update request as applicable

[2020-09-11 06:39] chayanbaner opened #62448 "Redis Cache: Fetching access key is failing"
Redis Cache: Fetching access key is failing with commandlet Get-AzureRmRedisCacheKey -ResourceGroupName "group" -Name "name"

{ "shellProps": { "sessionId": "dc494761b43248fb92eafeafdbb72160", "extName": "AzureCacheExtension", "contentName": "CacheTemplateBlade", "resourceId": "/subscriptions/2a1ceccf-281b-46fd-a5aa-dc44d4159af1/resourceGroups/Common/providers/Microsoft.Cache/Redis/DevProarc-redis

[2020-09-11 06:48] RohitMungi-MSFT commented on #62370
@@krisbock The table data is now fixed in the document. Thanks a lot for spotting this.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-11 06:48] #62370 closed

[2020-09-11 07:02] psmanhas commented on #61822
@limingr Apologies for the delay in response and all the inconvenience caused because of the issue.

You are facing the issue since you didn't create azure-vote-back service for communication between frontend (azure-vote-front)and backend (azure-vote-back) deployments, and that is the reason you are getting 502 error.

$ kubectl apply -f azure-vote-all-in-one-redis.yaml

deployment "azure-vote-bac

[2020-09-11 07:10] shashishailaj commented on #62443
@wombling Thank you for sharing the details. We are engaging the authors on this for review and change the details accordingly.

[2020-09-11 07:12] shashishailaj commented on #62443
@cmmdesai Could you please review the suggestions in this query ?

[2020-09-11 07:22] simonzhaoms opened #62449 "Command-line arguments to the scripts cannot contain spaces even if double-quoted"
When I deploy [this ARM template](https://github.com/simonzhaoms/issues/blob/master/azure/arm/deploymentscript/argumentspace/template.json) in `southeastasia` with a subscription named `simon he zhao` (NOTE the name contains spaces):

[code]

where [main.sh](https://github.com/simonzhaoms/issues/blob/master/azure/arm/deploymentscript/argumentspace/main.sh) is:

[code]

I got the following logs:
<i

[2020-09-11 07:28] serxansherif commented on #59932
I'll review the configs again.
Thanks!

[2020-09-11 07:28] #59932 closed

[2020-09-11 07:37] AnuragSharma-MSFT commented on #62448
@chayanbaner Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-11 07:38] psmanhas commented on #62233
@majguo Apologies for the delay in response and all the inconvenience caused because of the issue.

In the mentioned article you need to verify permissions on your Azure subscription, Azure Active Directory user, or service principal.

"Resource Group which contains the VNet" and "Service Principal passed as –client-id" are indeed not the permissions but these are the resources on components on wh

[2020-09-11 07:38] viktors-telle commented on #61794
Hi @amenarde! Thanks for the explanation.

I am only changing how the cert is selected by the client. Can you please suggest how to change the cert declaration in the SF manifest?

Currently, SF manifest contain such entry regarding allowed common names:
`<Parameter Name="ClientAuthAllowedCommonNames" Value="westeurope.servicefabric.azure.com" />`

[2020-09-11 07:57] m1nkeh commented on #59034
Hi, sorry for no reply 16 days ago - i was not working for the whole of Aug 🎉

Anyway, no that command does not work. It is the same command as on this page (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac) which i am already aware of.

The page referenced in the original question, and that link ^ are both required for a functioning system... but no joy.

It's

[2020-09-11 08:22] nitinkhandelwal26 opened #62450 "When it will in GA?"
Hello Team,

I need to make a design decision for my project related to policy, can you tell me when this will be in GA?

Regards,
Nitin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d98d35-46d2-eb6f-6a0b-21df4d6438a8
* Version Independent ID: 1a7a0c68-fa1c-d457-2be9-a919d4a5e64f
* Content: [Preview - Learn Azure Po

[2020-09-11 08:26] SwathiDhanwada-MSFT commented on #62450
Thanks for your comment @nitinkhandelwal26.

Assigning to content author @DCtheGeek for inputs.

[2020-09-11 08:40] SumanthMarigowda-MSFT commented on #62361
@tomas-gottwald  It's not required 'Read' permissions Storage Explorer,
![image](https://user-images.githubusercontent.com/44606021/92893634-7ade7780-f437-11ea-913b-4ecc19f6cd29.png)

Additional information:  Storage Explorer App not via Portal (alternative via Azure CLI + storage preview extension). When adding Read + Execute Permission to the root of the container.

However If you still face any

[2020-09-11 08:40] #62361 closed

[2020-09-11 08:55] SnehaAgrawal-MSFT commented on #62428
@mikhailalmeida Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 09:04] ifslearning commented on #57846
Can we have an update on this please? I'm using the location UK South and I can't see any logs either.

[2020-09-11 09:13] GitaraniSharma-MSFT commented on #62312
@kasimrehman , I was wondering if you have had a chance to look over our previous reply yet. Kindly let us know if the above helps or you need further assistance on this issue.

[2020-09-11 09:13] GitaraniSharma-MSFT commented on #62318
@kasimrehman , I was wondering if you have had a chance to look over our previous reply yet. Kindly let us know if the above helps or you need further assistance on this issue.

[2020-09-11 09:14] pyephyoeaung opened #62451 "Request to move a file from a blob to another blob in Azure Storage Explorer"
We should able to cut a file and paste file to another blob.
Instead I see the clone or copy the files that mean it doesn't provide a file to move to a another blob container.

[2020-09-11 09:15] pyephyoeaung commented on #62451
wrong place

[2020-09-11 09:15] #62451 closed

[2020-09-11 09:16] lightupdifire opened #62452 "Step 1: Enable password hash synchronization"
Hello,

About this step "Step 1: Enable password hash synchronization",
In the updated AD Connect version, the screen is different and more questions and warning are shown, please update the document, step, and warning explanation asap.
![image](https://user-images.githubusercontent.com/39700914/92901092-82deed00-f420-11ea-890c-38afa73f58de.png)

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-11 09:28] nkma1989 opened #62453 "Your total project size is 25.02 MB which exceeds the limit of 25 MB. Please see http://aka.ms/aml-largefiles on how to work with large files."
Following your guide i get the following error?

I also tried to create a simple enviroment with a test file that only imports libraries.
Still same error.

What should I do to fix the error?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548a903-7aa0-75a2-1c43-afa48dbbc7ea
* Version Independent ID: 21566e3a-f540-3a98

[2020-09-11 09:34] chwilfing opened #62454 "G Series Virtual Machines are missing"
The G-Series Virtual Machines are missing in this List.

BG Christoph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1062f1-616d-acc2-abeb-b04e4cad28ad
* Version Independent ID: 44068874-d5de-c2bf-d33b-22b649c7637c
* Content: [VM sizes - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2020-09-11 09:36] lightupdifire commented on #62452
sorry, wrong page :)

[2020-09-11 09:36] #62452 closed

[2020-09-11 09:37] usrme commented on #37403
@KrishnaG-MSFT, what is the latest update in regards to this?

[2020-09-11 09:43] AnuragSharma-MSFT commented on #62169
@SvenAelterman Thanks for pointing out the issue. We observed that the static property initialized was not used in below sample code but it has local variable scoped to the method created:

![image](https://user-images.githubusercontent.com/66360845/92903474-be3ce400-f43f-11ea-8bc7-6ed3f85a3743.png)

However, if you drill down to the later part of the code, static property was called via public pr

[2020-09-11 09:44] SumanthMarigowda-MSFT commented on #62207
@evanzhang89 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-11 09:45] AnuragSharma-MSFT commented on #62169
@SvenAelterman We will now proceed to close this thread. Once the PR is approved and merged you will get the notification on the same. If there are further questions regarding this matter, please comment and we will gladly continue the discussion

[2020-09-11 09:46] #62169 closed

[2020-09-11 09:48] SumanthMarigowda-MSFT commented on #61820
Adding @tamram for the visibility

[2020-09-11 09:51] RohitMungi-MSFT commented on #62453
@nkma1989 Thanks for reporting this. This was a known [issue ](https://github.com/microsoft/vscode-tools-for-ai/issues/293)but should have been fixed. Could you please provide more details of the version of VS code that you are using. @luisquintanilla  @greazer could you please help to check if this issue is fixed to include 300MB as the limit?

[2020-09-11 10:06] kasimrehman commented on #62318
Thanks for your comment. I would suggest to include "(PIP)" just after the first time "public IP" is mentioned in the text. Given your explanation I understand that having two PIPs for two subnets is a reasonable choice but I am assuming in the general case there does not need to be a 1:1 mapping between subnets and PIPs on the NAT gateway. My suggestion would be to either show the general case of

[2020-09-11 10:18] giovannifl opened #62455 "Clarify group assignments limitations"
This document says : "Users that inherit access rights through nested groups or role assignments aren't currently supported. The user or group must be directly assigned the required role assignments. For example, the use of management groups or nested group role assignments won't grant the correct permissions to allow the user to sign in."

In a lab environment, I've assigned the Virtual Machine A

[2020-09-11 10:27] philip-reed opened #62456 "Example too simple"
This example uses a single container and the DI only seems to setup the one container.
Are there any examples on how to set up DI when the database has multiple containers?

Do I need to initialise multiple Cosmos clients, one for each container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-66

[2020-09-11 10:29] giovannifl commented on #62194
Any update on this topic ?

[2020-09-11 10:30] difatkulbayanova opened #62457 "MBps or Mbps?"
[Enter feedback here]
 The screenshot of MARS throttling showing Mbps while text underneath says MBps, what is correct? please be specific Mb and MB are different!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35d7bae1-39d1-4a8d-599e-d5593d54d839
* Version Independent ID: ef473616-1355-a854-5033-d742f82ea1c6
* Content

[2020-09-11 10:32] giovannifl commented on #60094
Any update on this topic ?
I've been able assign an NSG to a subnet where a Linux VM with Azure AD without any issue.
Thanks

[2020-09-11 10:38] giovannifl opened #62458 "Azure AD Linux Integration Side Effects"
According to this document, "this feature is not recommended for production workloads".
If this approach would be used on a production VM as an alternative authentication method to local accounts what would be the side effects ?
Example, local (service ) accounts would be only used for deployment activities while Azure AD account would be used for troubleshooting / management tasks. What would be

[2020-09-11 10:51] SadiqhAhmed-MSFT commented on #62457
@difatkulbayanova Thanks for the feedback. We will review the doc and update it as appropriate.

[2020-09-11 10:56] ram-msft commented on #62272
@jtg5122 Thanks, Please follow the below document for Markdown format supported in QnA Maker answer text.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/reference-markdown-format

[2020-09-11 10:58] AnuragSharma-MSFT commented on #62456
@philip-reed Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-11 10:58] nkma1989 commented on #62453
Hello.
I use the following version
![image](https://user-images.githubusercontent.com/24934325/92917157-824d5300-f42e-11ea-80e8-c2bdee709958.png)

[2020-09-11 11:00] HarithaMaddi-MSFT commented on #62445
@tomas-gottwald - I looked at the details and reproduced it. Yes, Key vault managed end point can be enabled from Portal but the option is not visible in the linked service of Key Vault. As per my understanding, ADF does not provide "Integration Runtime" option for Azure Key Vault in its linked service and always uses the integration runtime corresponding to the dataset since key vault can never b

[2020-09-11 11:00] GitaraniSharma-MSFT commented on #62392
@harryvinod2608 , thank you for your suggestion. I have researched on some support cases and backend team updates and it seems to be correct that if the customers need the floating IP behaviour for inbound flows, they need to use primary IPconfig for now. Hence, we have assigned this to the content owner/author for review.

@asudbring , I have sent you an email with all the relevant details. Could

[2020-09-11 11:11] adamlavery opened #62459 "This article is incomplete"
So what is the fix to this issue if using a version of AD Connect above what has been specified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a6ac21b-3096-44b3-8099-f029a2bcf718
* Version Independent ID: 30085cd3-7d19-e88b-d4c6-14e9524ec046
* Content: [Azure AD Connect sync:  Changing the ADSync service account](htt

[2020-09-11 11:11] AnuragSharma-MSFT commented on #62456
@philip-reed We do not need to create multiple clients for multiple container. we just need to initialize one client and can be used to access multiple containers. Please refer to below link as an example. You just need to change the container id as mentioned in the screenshot and you should be able to play around with any number of container in that database.

https://github.com/Azure/azure-cosmo

[2020-09-11 11:15] GitaraniSharma-MSFT commented on #62446
@yadcam , thank you for your question. We'll review this and get back to you shortly.

[2020-09-11 11:16] piyush94 opened #62460 "how to resync clock with server?"
[Enter feedback here]
It would be good if you can mention the steps to resync clock with server in Azure Ubuntu linux VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e6687-3b97-7f25-5e7b-91265764c816
* Version Independent ID: d3f3b17a-a25b-656b-314f-25002c5d5f9f
* Content: [Time sync for Linux VMs in Azure - Azu

[2020-09-11 11:17] sav169 opened #62461 "Not working with a low trust SharePoint provider hosted add-in using MVC"
We have a low trust SharePoint provider hosted add-in using MVC. We want to use the Applications Insights to monitor user activity. We are using the Microsoft article here - https://docs.microsoft.com/en-us/azure/azure-monitor/app/sharepoint.  That article advises us to use the JavaScript code provided under the heading Capturing User Id. Clearly, as we are using MVC and a remote host website the

[2020-09-11 11:20] psmanhas commented on #62454
@chwilfing Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-09-11 11:21] psmanhas commented on #62454
@ju-shim Can you please check and add your comments on this doc update request as applicable

[2020-09-11 11:36] jtg5122 commented on #62272
Thank you for sending this.  However, this is the documentation I've
already been referencing.  \n does not get converted to a new line when I
check KB after updating and publishing via the SDK.

On Fri, Sep 11, 2020, 6:56 AM Ram <notifications@github.com> wrote:

[2020-09-11 11:36] psmanhas commented on #62455
@giovannifl Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-11 11:36] psmanhas commented on #62455
@SanDeo-MSFT Can you please check and add your comments on this doc update request as applicable

[2020-09-11 11:37] SwathiDhanwada-MSFT commented on #62461
@sav169 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-11 11:38] psmanhas commented on #62458
@giovannifl Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-11 11:38] psmanhas commented on #62458
@SanDeo-MSFT Can you please check and add your comments on this doc update request as applicable

[2020-09-11 11:40] psmanhas commented on #62460
@piyush94 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-11 11:40] psmanhas commented on #62460
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-09-11 11:47] michael-niemand opened #62462 "Error in Pod annotations"
The section about pod annotations contains an error. The scheme has to be http, not http:
With the : the generated URL is wrong and thus the scraping will fail

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413a60e0-2723-e21e-dd81-df480c45564b
* Version Independent ID: f79752d6-8240-d62c-5635-a65

[2020-09-11 11:57] SwathiDhanwada-MSFT commented on #62462
@michael-niemand Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-11 12:00] stijn-gravity commented on #47908
@Karishma-Tiwari-MSFT I am experiencing this issue on any version of AKS above 1.15.

The error message reported in notifications on the dashboard is

[code]

Furthermore, ```kubectl describe clusterrolebinding kubernetes-dashboard``` describes the following rolebindings

[code]

How do I determine the role given to ```clusterUser```, because a proper role does clearly exist.

[2020-09-11 12:03] nkma1989 commented on #62453
Tried updating to the newest version. Does not fix the issue:
![image](https://user-images.githubusercontent.com/24934325/92923290-816cef00-f437-11ea-8d1d-06322b58c096.png)
I still get the error:
![image](https://user-images.githubusercontent.com/24934325/92923311-8f227480-f437-11ea-800b-6b4f086d9fad.png)

[2020-09-11 12:03] av1817 opened #62463 "Error with use of comma in CN"
Comment on example in the section - Adding more information to the CSR - I get an error when the O field uses a comma. Example - "CN=server.domain.com, O=company, Inc., L=Dallas, S=Texas, C=US"

Portal is not descriptive but CLI or Powershell show - Property policy.x509_props has invalid value. Invalid X.500 distinguished name

Without the comma after company works but we require OV SSL. Is there

[2020-09-11 12:08] philip-reed commented on #62456
Thanks,

I think I had miss-read the method `InitializeCosmosClientInstanceAsync`.
`CosmosDbService` allows the container name to be passed in.

Apologies.

[2020-09-11 12:13] AMMaracas opened #62464 "This guide does not work for users with combined security registration enabled"
Hello

This guide does not work for those people who have combined security registration enabled. In addition, there are steps that an administrator would need to take to enable the options for end users if the users have already registered for MFA via conditional access policies.

If a user has already registered with MFA via conditional access, an administrator would still need to enable MFA usi

[2020-09-11 12:15] aaronrendell opened #62465 "Missing step on 'Map a CNAME record' section"
Missing step to click 'add'.

Before:

Map a CNAME record
A CNAME record maps one domain to another. You can use a CNAME record to map www.example.com, blog.example.com, or any other sub-domain to the auto-generated domain that is provided by Azure Static Web Apps.

Open the Azure portal and sign in with your Azure account.

Search for and select Static Web Apps

On the Static Web Apps page, selec

[2020-09-11 12:22] dhirajgithubuser opened #62466 "Hive View Native Support for HDInsight 4.0"
[Enter feedback here]
As per the release notes there is a native support for Hive View in HDIndight 4.0. I don't get this, it's there in HDInsight 3.6 as well -- so why is it called out explicitly in the release notes for HDI 4.0 ? And yes in HDI 3.6 also it appears natively , as soon as we spin a cluster and start Ambari, it's there already very much accessible. So how is it different in HDI 4.0

[2020-09-11 12:27] RyanHill-MSFT commented on #62465
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 12:34] opticyclic opened #62467 "What Is The Difference Between This And B2C?"
The linked sample says it is for AD and not AD B2C.

This information should really be at the top of this article.

However, I don't understand what the difference between what this article is describing and what B2C is.
would
Can you also add a section at the top explaining the difference between the two and why/when you would use one over the other?

---
#### Document Details

⚠ *Do not edit thi

[2020-09-11 12:48] ram-msft commented on #62221
@hermandr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-11 12:48] #62221 closed

[2020-09-11 12:51] HarithaMaddi-MSFT commented on #62441
@tomas-gottwald  - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/129503

The changes should be live once Author approves them. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-11 13:21] SwathiDhanwada-MSFT commented on #62449
@simonzhaoms Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-11 13:23] jdubois commented on #62222
In fact the JDBC driver was updated by @David-Engel in https://github.com/MicrosoftDocs/azure-docs/commit/50b9120a72d404985b7ceb086026017a580bb22f

Spring Boot still uses version `7.4.1.jre8` in their JRE, so this is also consistent with my Spring Data JDBC documentation.

-> I would recommend reverting this commit, or assign it to @David-Engel because maybe he knows something I missed?

[2020-09-11 13:35] FreddyAyala commented on #51171
You are totally right, I ran into the same problem when deploying an arm template and whas so confused by the error message, the solution was to change my arm template to use the name that is created automatically if we set this parameter by hand:
[code]
Had to use the API to determine which one was the conflicting configuration:

GET https://management.azure.com/subscriptions/xxxxx/resourcegroups

[2020-09-11 13:39] zarkoc opened #62468 "Is SQL alias in preview?"
Hello,

Just want to see if this feature is in preview, or can it be used in production?
As there are mentions in the docs that its in prview.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 422e812a-e9b4-ff2a-5b86-1ce5cec064e4
* Version Independent ID: 7f88d8fb-7293-59f8-3d25-60f8dc607fab
* Content: [DNS alias

[2020-09-11 13:50] shashishailaj commented on #62467
@opticyclic Thank you for your feedback. We will have this reviewed and update you on the same.

[2020-09-11 13:52] shashishailaj commented on #62463
@av1817 Thank you for your feedback . We will investigate and update the thread.

[2020-09-11 13:54] shashishailaj commented on #62459
@adamlavery Thank you for your feedback . We will investigate and update the thread.

[2020-09-11 13:58] kennethgp commented on #62320
Hi @TomGeske, the cluster in question is 1.15.11. Do you think it would be worth it to add a note with this migration info?

[2020-09-11 14:06] Mhsoun commented on #62375
Yes, I did the same steps as mentioned.
Please check the link
https://1drv.ms/u/s!Akh9G3IiyERJgal3NzD60ec_xUemoA?e=Nz9MpU

[2020-09-11 14:17] TomGeske commented on #62320
@kennethgp: If I recall correctly 1.15.11 was released in April/May. You should be using mcr.microsoft.com automatically.

@palma21 may know more.

[2020-09-11 14:18] #62441 closed

[2020-09-11 14:35] Styxxy opened #62471 "AKS release calender : 1.18 not yet GA"
The AKS release calendar specifies that 1.18 will be AKS GA in Augustus 2020, however in the Azure portal it is still specified as Preview (for West Europe region at least).

![image](https://user-images.githubusercontent.com/1635825/92938408-cc453180-f44c-11ea-8f2c-c32ece433183.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-09-11 14:37] Pluc15 opened #62472 "Missing information on how the persistant storage works"
There is a volume defines in the docker compose example ( `db_data:` ) but no explanation on how to set that up on the azure side, where the files are persisted, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da05d7fa-1789-ec63-5219-e2f71a028ef6
* Version Independent ID: 5e0b8eea-f056-830f-26e1-3e3c1b9019e3
* Cont

[2020-09-11 14:40] yadcam commented on #62446
Hello!! Thank you for the clarification

I

[2020-09-11 14:40] #62446 closed

[2020-09-11 14:41] lXbalanque opened #62473 "Section on Device Platforms (or any that have an Exclude option)"
Hello Azure-Docs team,

Would it be possible to expound on the Include/Exclude options? Does Exclude mean that these OSes, Locations, Client Apps, Device States, etc are _excluded_ from being evaluated by the policy? What are some design considerations to make if people are using the exclude tab? Would this mean that the admin should consider creating multiple policies? Some examples for each of t

[2020-09-11 14:52] SwathiDhanwada-MSFT commented on #61991
@elvirk I retried the template, seems there are few things that need to be changed which I missed initially. Kindly make below changes and try to deploy the template.

1) There is an extra comma after "Microsoft.Support/" in paramater actions1

![image](https://user-images.githubusercontent.com/48976275/92939445-73d15c80-f46b-11ea-8ffc-343cf4440680.png)

2) In default values of actions parameter,

[2020-09-11 15:07] kennethgp commented on #62320
We see the calico pods using this image repo:

![image](https://user-images.githubusercontent.com/55335676/92941974-41454680-f40e-11ea-83d5-d77be135608f.png)

[2020-09-11 15:08] Redeux commented on #62471
Latest release on https://github.com/Azure/AKS/releases says 1.18 was GA on Aug 31.  Docs and release don't align.

[2020-09-11 15:29] tamram commented on #62277
@brandonh-msft - The updated example is now live.

https://docs.microsoft.com/azure/storage/blobs/object-replication-configure?tabs=azure-cli#configure-object-replication-when-you-have-access-to-both-storage-accounts

#please-close

[2020-09-11 15:29] #62277 closed

[2020-09-11 15:31] Styxxy commented on #62471
@Redeux
But the Azure Portal still says it is in preview?

![image](https://user-images.githubusercontent.com/1635825/92944691-9a37cd80-f454-11ea-9cc0-9b1e8ca07dc5.png)

[2020-09-11 15:32] kostrse opened #62474 "Use 301 for redirect to HTTPS"
The proper status code when redirecting to HTTPS is 301, not 302 as provided in the doc.
301 is good for SEO because Google properly calculates incoming traffic as to the single source.

Google documentation:
https://support.google.com/webmasters/answer/6073543?hl=en

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f7c2

[2020-09-11 15:40] Garhag opened #62475 "The verbatim of the errors are incorrect."
The verbatim of the errors are incorrect.

For instance, for the error details for issue: **OnPremisesAdminActionRequired = 29**, the page read as follows:
"We're sorry, we can't reset your password at this time because of a problem with your organization's password reset configuration. There is no further action you can take to resolve this situation. Please contact your admin and ask them to inv

[2020-09-11 15:45] win2000b opened #62476 "Clarity on requirements for Teams Install"
This article seems to contradict itself number of times on what is required for media optimisation for WVD. Does Teams have to be installed in machine mode for optimisation to work?

In the pre-requisites its stated:

Download and install the Teams desktop app on the host using **per-machine installation**. Media optimization for Microsoft Teams requires Teams desktop app version 1.3.00.4461 or la

[2020-09-11 15:49] NavtejSaini-MSFT commented on #62356
@BertAnthonyRochester Please elaborate your question or provide documentation page you are referring to take this issue forward.

[2020-09-11 15:50] NavtejSaini-MSFT commented on #62199
@rploeg Please get back to us with the above details so that we can check this further.

[2020-09-11 15:52] SanSubramanian opened #62477 "CSP URI is wrongly updated"
Hello,

Please update the URI from ./User/Vendor/MSFT/VPNv2/<name of your connection>/PrfolieXML to ./User/Vendor/MSFT/VPNv2/<name of your connection>/**ProfileXML**

Thanks,
Sankara
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c3a64a-0c1e-64a6-a19d-e3a4e341e990
* Version Independent ID: bdc800af-32d9-3ec9-d18e-41da

[2020-09-11 15:53] NavtejSaini-MSFT commented on #62468
@zarkoc We are checking this and will get back to you.

[2020-09-11 15:54] shortpatti commented on #61725
updated content

#please-close

[2020-09-11 15:54] #61725 closed

[2020-09-11 15:55] Redeux commented on #62471
I’m with you @Styxxy its confusing. I came here to open a similar issue but decided to comment with my observation on yours to keep the info consolidated for MS.

[2020-09-11 16:01] burtonrodman opened #62479 "Add endpoints.MapControllers() to documentation as requirement"
if creating a Razor Pages project from scratch and there is no need to call endpoints.MapControllers, the MicrosoftIdentity route is not registered and signout doesn't work.

please add note in the doc or code sample that endpoints.MapControllers is required.

[2020-09-11 16:05] SQLSourabh commented on #62199
@rploeg Are you using the ARM64 containers? sqlcmd (or client tools) are not available on the ARM64 containers.

[2020-09-11 16:06] RamyasreeChakka commented on #62450
@jluk @LizMS to comment on GA timeline.

[2020-09-11 16:21] JamesTran-MSFT commented on #62473
@lXbalanque
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-11 16:23] SubhashVasarapu-MSFT commented on #62477
@SanSubramanian, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-11 16:23] #62477 closed

[2020-09-11 16:23] JamesTran-MSFT commented on #62475
@Garhag
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-11 16:25] JamesTran-MSFT commented on #62464
@AMMaracas
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-11 16:26] Karishma-Tiwari-MSFT commented on #62471
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 16:26] RohitMungi-MSFT commented on #62375
@Mhsoun I don't think it is a bug. Instead of environment variable the endpoint and key was being referenced, We are glad you sorted it out. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-11 16:26] #62375 closed

[2020-09-11 16:27] Karishma-Tiwari-MSFT commented on #62476
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-11 16:29] SubhashVasarapu-MSFT commented on #62173
@SteveBurkettNZ, Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-09-11 16:34] JamesTran-MSFT commented on #62383
@stuartMoorhouse
I just wanted to check in and see if you required additional assistance or if you were able to resolve this issue?

[2020-09-11 16:39] JnHs commented on #61226
Hi again @lesterlitch - thanks for your feedback and for your patience. The missing examples have been added to the document now. I will close this issue, but please let us know if you have additional feedback!
#please-close

[2020-09-11 16:39] #61226 closed

[2020-09-11 16:42] thequesarito opened #62481 "Issue with get-azureadmsprivilegedrolesetting"
[Enter feedback here]

There are two inaccuracies in this doc - https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles#retrieving-and-updating-role-settings

[code]
**The first line doesn't work as is. I discovered that doing the following worked:**
`$setting = Get-AzureADMSPrivilegedRoleSetting -ProviderId 'aadRoles' -Filter "roleDefin

[2020-09-11 16:43] Grace-MacJones-MSFT commented on #62472
Hi @Pluc15,thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2020-09-11 16:45] jfals82 commented on #53360
Will the fix be released this month? 🙏

[2020-09-11 16:52] Grace-MacJones-MSFT commented on #62324
Thanks for the update @IngridAtMicrosoft.

@jkovacev We will now proceed to close this thread since this issue is being addressed by Support.

[2020-09-11 16:52] #62324 closed

[2020-09-11 16:58] palma21 commented on #62471
There's no release note for the GA of 1.18 yet. The announcement on past releases is to provide awareness that 1.18 will GA on the release of Aug 31st. Which it is, but that release is taking a bit longer than usual, you will see the notes coming up soon.

[2020-09-11 17:04] KranthiPakala-MSFT commented on #62466
Hi @dhirajgithubuser  Previously Hive view is not built-in for 4.0 clusters, and now product team added it back. That’s the reason it is being explicitly called out "_Hive View is supported natively for HDInsight 4.0 clusters starting from this release. It doesn't apply to existing clusters. You need drop and recreate the cluster to get the built-in Hive View._"

Hope this clarifies.

We will now

[2020-09-11 17:04] #62466 closed

[2020-09-11 17:06] WinstonHoward-MSFT commented on #62401
Thank you for the feedback, after reviewing the doc I realized it is designed to be sequential. As you pointed out by adding a depends on clause it would take longer for both the CI and CD phases to complete. That is why the doc was written as two separate sections to help illustrate a two step process. You are correct that you could write this as the CD Job dependsOn the CI Job but for the purpos

[2020-09-11 17:17] jeevansd commented on #62019
@chetansriv Please update the steps for clarity

[2020-09-11 17:19] mike-urnun-msft commented on #62333
@arunprasathv You can use host keys to secure communication between APIM and Function App. The following documentation should help you get started: https://docs.microsoft.com/en-us/azure/api-management/import-function-app-as-api#authorization

Since we didn't determine any changes for any specific MS Doc upon reviewing this feedback, we will now proceed to close this thread. If there are further q

[2020-09-11 17:19] #62333 closed

[2020-09-11 17:21] jeevansd commented on #61989
@chetansriv and @v-hagamp Please update this article to add the RelayState information.

[2020-09-11 17:22] jeevansd commented on #61929
@oz1212 Can you please put this question on the StackOverflow and the right team will provide you the guidance over there.

[2020-09-11 17:22] jeevansd commented on #61929
#please-close

[2020-09-11 17:22] #61929 closed

[2020-09-11 17:23] dlepow commented on #61792
Reassigning
#reassign: macolso

[2020-09-11 17:24] jeevansd commented on #61644
@wolfgz Let me check this and will come back to you.
@chetansriv and @v-hagamp for tracking.

[2020-09-11 17:25] dlepow commented on #61627
Reassignng
#reassign: @macolso

[2020-09-11 17:25] jeevansd commented on #59722
@chetansriv and @azureadappteam Please update the article.

[2020-09-11 17:26] jeevansd commented on #59338
@chetansriv and @MicrosoftDocs/azureadappteam Please update the article.

[2020-09-11 17:27] dlepow commented on #61578
Reassigning
#reassign: @macolso

[2020-09-11 17:30] jeevansd commented on #59233
@MicrosoftDocs/azureadappteam and @chetansriv please update the article with the new screenshot.

[2020-09-11 17:33] jeevansd commented on #58910
@chetansriv and @MicrosoftDocs/azureadappteam Please mention both these Metadata files for different clouds.

[2020-09-11 17:36] jeevansd commented on #58879
@chetansriv and @MicrosoftDocs/azureadappteam Please update the article with the correct URL patterns and also update the gallery app.

[2020-09-11 17:37] jeevansd commented on #58594
This is fixed.

[2020-09-11 17:37] jeevansd commented on #58594
#please-close

[2020-09-11 17:38] #58594 closed

[2020-09-11 17:39] jeevansd commented on #58372
@zchia Can you please confirm that we have provisioning for Citrix ShareFile? Then we can add the documentation link here.

[2020-09-11 17:39] jeevansd commented on #58372
@chetansriv  for tracking

[2020-09-11 17:40] AnuragSharma-MSFT commented on #62456
@philip-reed Glad you were able to proceed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-11 17:40] #62456 closed

[2020-09-11 17:41] jeevansd commented on #58368
@MicrosoftDocs/azureadappteam and @Chetansriv Please update the article for updating the specific step.

[2020-09-11 17:42] jeevansd commented on #58098
@MicrosoftDocs/azureadappteam Please update the article and provide instructions on validate the IDP certificate.

[2020-09-11 17:46] jeevansd commented on #58086
@chetansriv Please update the TOC entry. Name of the app called out in the article is correct and you can find this app in the gallery.

[2020-09-11 17:51] jeevansd commented on #57921
@chetansriv and @MicrosoftDocs/azureadappteam Please update the article for correct NameID Format.

[2020-09-11 17:53] hnst-grl123 opened #62485 "Logic App"
Please give more guide on using Logic App as action. For example each Logic App has their own trigger when you are creating them, for using Logic Apps as actions in action groups what should we choose in trigger section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27bedb5-7ff6-f4ae-eb7e-4ee25472d25b
* Version Indep

[2020-09-11 17:57] jeevansd commented on #57919
@YatseaLi We are mentioning the sign-on URL in the same way as you have explained above. Look at step 4.a.
a. In the Sign on URL text box, type a URL using the following pattern: https://<servername>.sapbydesign.com

This should be the right URL for customer to set up. SAP Business ByDesign does not show the URL of the instance in the SSO UI configuration.

[2020-09-11 17:57] jeevansd commented on #57919
#please-close

[2020-09-11 17:57] #57919 closed

[2020-09-11 17:58] jeevansd commented on #57542
@zchia Can you please review this?

[2020-09-11 17:59] jeevansd commented on #57396
@MicrosoftDocs/azureadappteam and @chetansriv Please update the article.

[2020-09-11 18:00] jeevansd commented on #57014
@zchia Can you please review this?

[2020-09-11 18:01] jeevansd commented on #56903
@oeicramirez and @JJ We have fixed this issue in the new plugin. Please download it from Microsoft Download Center.

[2020-09-11 18:01] jeevansd commented on #56903
#please-close

[2020-09-11 18:01] #56903 closed

[2020-09-11 18:08] danhlee329 opened #62486 "Getting `Private cluster is not supported with paid sku`"
When creating a private AKS cluster with the `Paid` SKU via Terraform (https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html#sku_tier), getting this error message: `containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="PrivateClusterNotSupportedWithPaidSKU" Message="Private cluster is not supported with paid sku"

[2020-09-11 18:17] mbiver opened #62487 "Attach the linux disk to a Windows VM?"
In step 4 it says to "Attach and mount the virtual hard disk to another Windows VM for troubleshooting purposes."  is that correct?  Attach the Linux OS disk to a rescue Windows VM?  I also see other references in the screenshots to Windows VM's.  Seems like it should be attached to a Linux Rescue VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-09-11 18:21] David-Engel commented on #62222
@jdubois Reverting sounds appropriate. I did not realize Spring Boot limited the driver version that could be referenced. I was just trying to keep our doc references up-to-date with the latest JDBC driver release.

[2020-09-11 18:27] DeanGross opened #62490 "Tell users what to expect"
[Enter feedback here]
Please provide some information about the user experience when they try to invite someone from a national cloud.  The error message in Teams is not helpful for troubleshooting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7476784f-6f44-8aab-3d08-2c813a4e0422
* Version Independent ID: 894d5b3a-a96

[2020-09-11 18:28] jdthorpe opened #62491 "This example hard codes access keys into source code"
The example in this page implements the worst-practice of hard coding access keys in source code.  Can this be updated to use managed identities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faff12d0-cc36-0867-a297-a8b59a863fdd
* Version Independent ID: bbeb40cc-78e4-9c99-cdad-55f64a506c66
* Content: [Quickstart: Con

[2020-09-11 18:28] danhlee329 opened #62492 "Getting message `Cannot attach private Aks cluster in Basic Sku. Please upgrade to enterprise sku.`"
When trying to attach a private AKS cluster to the service, getting the message above.  From the [limitations](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-attach-kubernetes?tabs=python#limitations) section, I cannot find any info on this limitation.  Can this be added for future reference?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-09-11 18:31] JamesTran-MSFT commented on #62475
@Garhag
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-11 18:31] #62475 closed

[2020-09-11 18:36] JamesTran-MSFT commented on #62473
@lXbalanque
I have assigned this issue to the author of this document who will investigate and update as appropriate.

[2020-09-11 18:42] cbetti opened #62493 "Timer Triggers do not support the 5 field version of NCronTab cron expressions"
In the documentation under the NCRONTAB expressions section, this is the first sentence:

"Azure Functions uses the NCronTab library to interpret NCRONTAB expressions."

However, though NCronTab supports standard 5 field cron expressions as well as its own enhanced 6 field cron expressions, 5 field cron expressions used in a Timer Trigger do not register successfully during an azure Function App d

[2020-09-11 18:51] jarasavelli commented on #62401
Okay. I just think the verbiage may need to be adjusted so that people
don’t just plugin the code snippets together and see it failing.

Right now, if we just follow the instructions, it fails. Just try it.

Thanks
Josh

On Fri, Sep 11, 2020 at 10:06 AM Winston Howard <notifications@github.com>
wrote:

*Josh Arasavelli*
*Home 425 868 8624 Mobile 425 533 3360*

[2020-09-11 18:52] cbetti opened #62494 "Are sampling percentages expected to be 0 to 1, or 0 to 100?"
It is unclear whether applicationInsights.samplingSettings fields with Percentage in the name expect values in the range of [0.0, 1.0] or [0.0, 100.0].

[0.0, 1.0] seems correct, because the documentation for initialSamplingPercentage and maxSamplingPercentage state default values of 1.0, but the name implies and sample host.json shows values of 100.0.

Could the documentation clarify the supporte

[2020-09-11 18:53] wamartin-aml opened #62495 "Text styled like hyperlinks leading nowhere"
There are a huge number of things on this page that look like hyperlinks but don't actually lead anywhere when clicked on.

In addition, I don't feel very confident after running through this that I could create a hyperdrive experiment myself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c2fcdc-a4d7-20b5-a53e-33a84

[2020-09-11 18:54] JamesTran-MSFT commented on #62490
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-11 18:59] tokaplan commented on #62171
@ms-zhouma
- regarding your first question - there are indeed only 9 charts (organized into 3 rows) supported on the live blade. That is fixed and can't be changed. However, you can re-program and rename any of those charts in accordance with your needs.
- regarding your second question - the scenario you're describing with putting custom dimensions or measurements inside of an Event event should

[2020-09-11 19:08] nddipiazza opened #62497 "Is there a way to communicate with Azure SMB3 shares using .NET core? Or does it require .NET framework?"
Is there a way to communicate with Azure SMB3 shares using .NET core? Or does it require .NET framework?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad572629907f
* Version Independent ID: 57504146-9f89-e4d6-3f5b-5cd9af305d45
* Content: [Develop for Azure Files with .NET](https://docs.microsof

[2020-09-11 19:16] JamesTran-MSFT commented on #62396
@MrCNeale
I was able to get this confirmed with our Key Vault team and the Warning within PowerShell is correct.

I have created a pull request to update the documentation and will now close out this issue. Please allow some time for my pull request to be reviewed and merged. If you don't see any changes, please feel free to create a pull request yourself, via the "edit" button at the top of the p

[2020-09-11 19:16] #62396 closed

[2020-09-11 19:23] SaurabhSharma-MSFT commented on #62481
@thequesarito Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-11 19:24] SaurabhSharma-MSFT commented on #61870
@jose-lima2011 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-11 19:24] #61870 closed

[2020-09-11 19:29] SadiqhAhmed-MSFT commented on #62438
@cfj123 By default, a DES is not selected. You must click on ‘Customize’ while setting up target side settings to choose a DES per source disk. You must pre-create DES in the target subscription and the target region before enabling the replication.

[2020-09-11 19:46] ehashman opened #62499 "Broken formatting in Tutorial - Create an Azure Red Hat OpenShift 4 cluster"
The formatting in the following section is broken: https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster#create-a-virtual-network-containing-two-empty-subnets

The backticks are rendering instead of showing two code blocks. I think there's a typo.

cc @sakthi-vetrivel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-09-11 19:52] alohaninja commented on #35089
Wow - this could definitely be improved from 1st time users perspective... this tripped me up... the wizard should guide users instead of telling them the generic error `The specified address space overlaps with subnet 'default' which has a range of '10.0.1.0/24'.`

### Networking - Address Space (*added 10.0.2.0/24*)
![image](https://user-images.githubusercontent.com/26234626/92967067-74e39900-f4

[2020-09-11 19:53] SatishBoddu-MSFT commented on #62430
Hello @orionJag We have validated the document and were able to run the ADT Explorer in a browser.

- Please confirm if you are facing any issues with proxy settings on your machine?

- You should be able to see something like below when we run the sample app. ?

![image](https://user-images.githubusercontent.com/62923178/92966917-3b129280-f42d-11ea-8152-6fe116587cda.png)

- Please make sure there

[2020-09-11 20:06] shashishailaj commented on #61707
@mattlangeman We have opened a portal UX bug with the backend on this . At this point we do not have any ETA to share for that but this will be surely worked soon as a bug has been opened. At this point , you can use the workaround of going and editing the [application manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#replyurls-attribute) directly to

[2020-09-11 20:06] #61707 closed

[2020-09-11 20:13] crisansou opened #62501 "Azure Synapse Workspace - How to read an Excel file from Data Lake Gen2 using Pandas or PySpark?"
Hi,

Is it possible to read an Excel file from Data Lake Gen2 using Pandas/PySpark? If so, can you show an example, please?

Example:

import pandas as pd

file_path = '/dbfs/mnt/raw/2020/06/01/file.xlsx' or 'abfss://raw@dlsname.dfs.core.windows.net/2020/06/01/file.xlsx'
df = pd.read_excel(file_path)

Best regards,
Cristina

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-09-11 20:15] DerekHerman-MSFT commented on #62497
@nddipiazza
Per the documentation: "You can use the Azure Storage client library in any type of .NET application. These types include an Azure cloud service or web app, and desktop and mobile applications. In this guide, we use a console application for simplicity."

[2020-09-11 20:28] mchudinov opened #62502 "Add nodePublishSecretRef to the podBindingDeployment.yaml"
In the podBindingDeployment.yaml file
add the following lines at the bottom:
[code]

So the whole volume definition must look like this:
[code]
Otherwise operator does not work. It requires **nodePublishSecretRef** definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version

[2020-09-11 20:31] writex opened #62503 "Very old documentation"
This page uses Angular 1.x for its example which is very outdated. Can it be upgraded to Angular 9.x?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET app on Service Fabric in Azure - Azure Servic

[2020-09-11 20:33] jluk commented on #62450
An estimate is near the end of CYQ2, be on the look out for announcements in the coming weeks 😄

[2020-09-11 20:37] DCtheGeek commented on #62450
@nitinkhandelwal26 Since this question is a product question that's been answered and isn't a Docs specific issue or question, I'm going to close this issue.  Thanks again for reaching out!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-09-11 20:37] #62450 closed

[2020-09-11 20:42] trevonmckay opened #62504 "ROPC from JavaScript returns CORS error"
I seem to be getting a CORS error when trying to make a POST request to the token endpoint for a ROPC scenario. Is this not supported, if so it would be nice to have that called out in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-885aa42a566f
* Version Independent ID: 190585

[2020-09-11 20:44] #62383 closed

[2020-09-11 20:51] shashishailaj commented on #61288
We have updated the documentation as per the request and internal conversation. The section for [withparentactivityorwindow](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token?tabs=dotnet#withparentactivityorwindow)  has been updated woth the information that you can omit to create a window or use the optional paramter WithParentActivityOrWindow if you d

[2020-09-11 20:51] #61288 closed

[2020-09-11 20:53] nddipiazza commented on #62497
@DerekHerman-MSFT  Unless I'm misunderstanding you, that does not answer the question. Can I use this library in .NET core is the question? The type of application, i.e. console app is not the question.

[2020-09-11 20:53] shashishailaj commented on #61401
@garrytrinder  Please let us know your scenario as per the questions/details provided by @varunsh-msft  so that we can continue to help you further on this.

Thank you.

[2020-09-11 21:03] robert-t-taylor opened #62505 "Change site root"
I found that the rewrite rule listed under the "Change site root" heading did not work. I found this rule did:

`RewriteCond %{REQUEST_URI} ^(.*)`

Hope this helps someone else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99cd-9e32-ae48-2605831aee02
* Version Independent ID: 743bc03e-d0d1-1e9e-acb1-52ae01da

[2020-09-11 21:28] RavSalgado opened #62506 "Express Route aned IP Sec VPN Diagrams."
Are these two diagrams misleading?  The command and control that happens between an IR in an Azure Vnet and adf, happens over the public internet, and not via the Azure backbone network correct? There is no way to secure that internally. I understand that with service endpoints or private endpoints you can secure communication between the IR and other data services. But you cant create a private e

[2020-09-11 21:33] crisansou opened #62507 "Workspace fails after importing notebook: "STATUS_BREAKPOINT""
Hello,

After importing a 7MB notebook, the workspace failed and the message "STATUS_BREAKPOINT" was displayed. Can you check, please? Below is the step by step:

**1.**  Go to notebook area

![image](https://user-images.githubusercontent.com/29444086/92974299-4204c980-f45c-11ea-99e5-51bdb2d3f818.png)

**2.**  Choose a directory and click "Upload files"

![image](https://user-images.githubusercont

[2020-09-11 21:38] JamesTran-MSFT commented on #62502
@mchudinov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-11 22:00] WinstonHoward-MSFT commented on #62503
Thanks for the doc idea @writex ,

I've assigned this doc-bug to the doc author to be added to their backlog. Thanks for pointing out the issue.

[2020-09-11 22:04] JamesTran-MSFT commented on #62502
@mchudinov
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-11 22:04] #62502 closed

[2020-09-11 22:10] WinstonHoward-MSFT commented on #62499
Hi @ehashman,

Thanks for the issue, I'll take a look.

[2020-09-11 22:20] AbeOmor commented on #62507
@crisansou I'm a PM on the Azure ML Notebooks team. Sorry you are seeing this error. Can you possibly share this notebook for we can help you debug?

[2020-09-11 22:21] KranthiPakala-MSFT commented on #62501
@crisansou
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

Since your query is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https

[2020-09-11 22:37] DerekHerman-MSFT commented on #62497
@nddipiazza Yes you can use this library with .NET core.

[2020-09-11 22:37] #62497 closed

[2020-09-11 22:49] kgremban commented on #39336
Following up on this issue. ARM64 is currently in public preview for Ubuntu systems. You may be able to get IoT Edge working on a Raspbian system with ARM64, but Microsoft doesn't release packages for that tier-2 scenario. For more information, see https://docs.microsoft.com/en-us/azure/iot-edge/support#operating-systems

Thanks to everyone who contributed to this thread. If there are more questio

[2020-09-11 22:49] #39336 closed

[2020-09-11 22:54] kgremban commented on #58278
#please-close based on v-tcassi's updates to the article

[2020-09-11 22:54] #58278 closed

[2020-09-11 23:00] WinstonHoward-MSFT commented on #62499
Hi @ehashman ,

My peer has already fixed this issue and her pull request is in progress, for more see [here](https://github.com/MicrosoftDocs/azure-docs-pr/pull/129176) . I will close the issue now. Thanks!

[2020-09-11 23:00] #62499 closed

[2020-09-11 23:02] BharathNimmala-MSFT commented on #62485
@hnst-grl123 Thank you for sharing your feedback, we will look into it and get back to you at the earliest.

[2020-09-11 23:09] TravisCragg-MSFT commented on #62474
@kostrse Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-11 23:22] Karishma-Tiwari-MSFT commented on #62486
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 23:37] GeekTrainer commented on #60445
@JayaChatterjee-MSFT @craigshoemaker I'd love to follow up on this to see if there's any update. Thanks!!

[2020-09-11 23:53] Karishma-Tiwari-MSFT commented on #62487
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-11 23:57] swatig007 commented on #62495
HI @wamartin-aml thanks for bringing this up. Can you please point out which specific hyperlinks did not lead anywhere - i checked the page and they all seem to load for me. But if there are specific hyperlinks that i might have missed, we should correct them.

Can you also please elaborate on the other feedback? The goal of the document is to go over the concepts needed in configuring a HyperDriv

[2020-09-12 00:07] hpsin commented on #62504
ROPC from a browser should not be done, and we would very much prefer you to use the better OAuth2 methods allowed. We can add it as a note, certainly.  If you're not using it in a browser, you likely have the ability to disable CORS in whatever system you're using.

[2020-09-12 00:24] bernawy opened #62509 "My Apps link needs to be updated"
Please update this 'https://myapps.microsoft.com' to 'https://myapplications.microsoft.com'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [What is Azure single sign-on (SSO)?](https://docs.microsoft.com/en-u

[2020-09-12 00:25] barclayn commented on #60036
#reassign:barclayn

[2020-09-12 00:33] barclayn commented on #59673
#reassign:barclayn

[2020-09-12 01:08] JagVeerappan commented on #50640
Our partner teams just announced the public preview of Azure Retail Prices REST API that includes both PAYG and Spot related pricing details:

https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices

[2020-09-12 02:17] IoTFier commented on #62058
Hi @SnehaGunda , @NavtejSaini-MSFT,

Can someone please help in addressing this issue ?

Thank you

[2020-09-12 02:19] AjayKumar-MSFT commented on #62155
Apologies for the delay! Based on your requirement, you just run "hugo'.
We will close this out, but if you feel you need more information please just let us know.

[2020-09-12 02:19] #62155 closed

[2020-09-12 02:31] SnehaGunda commented on #62365
The PR to add release notes is merged, the content will be live on Monday.

We will close this issue now.

#please-close

[2020-09-12 02:31] #62365 closed

[2020-09-12 03:07] dpapkin opened #62510 "instructions have drifted from the Azure portal"
Create the First VM
#8 In Create a virtual machine - Management, for Diagnostics storage account, select Create New.
#9 In Create storage account, enter or select this information:

The screens are very different, from the Quick start instructions
This is the actual Azure portal currently
![image](https://user-images.githubusercontent.com/24426530/92985762-27783200-f4e8-11ea-804c-dab6ca6ddbbf.png)

[2020-09-12 04:12] bbmmcodegirl opened #62511 "Tutorial does not work: Azure Resource Explorer tree not described; when updating nevertheless, the app has an internal server error."
[Enter feedback here]
Referring to the tutorial "Tutorial: Authenticate and authorize users end-to-end in Azure App Service" at  https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-windows

Everything is fine until the step in the middle "Configure App Service to return a usable access token".
The tutorial there instructs to "Navigate to Azure Resource Explorer (ht

[2020-09-12 05:01] RohitMungi-MSFT commented on #62479
@burtonrodman Could you please provide a reference to the doc you are referring to?

[2020-09-12 05:03] RohitMungi-MSFT commented on #62491
@jdthorpe Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:04] RohitMungi-MSFT commented on #62492
@danhlee329 Thanks for the feedback. We are investigating the issue and will update you shortly.
@jpe316 @PeterCLu FYI

[2020-09-12 05:06] RohitMungi-MSFT commented on #62493
@cbetti Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:07] burtonrodman commented on #62479
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp

[2020-09-12 05:07] RohitMungi-MSFT commented on #62494
@cbetti Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:11] RohitMungi-MSFT commented on #62505
@robert-t-taylor Thanks for the feedback. Our team is looking into this and will update the document as required.

[2020-09-12 05:13] RohitMungi-MSFT commented on #62506
@RavSalgado Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:15] RohitMungi-MSFT commented on #62509
@bernawy Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:16] RohitMungi-MSFT commented on #62510
@dpapkin Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:17] RohitMungi-MSFT commented on #62511
@bbmmcodegirl Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 05:37] suneelsunkara commented on #62192
Hi,
Thank you for your response. I was checking if azure CDN has a equivalent feature such as Geolocation headers in AWS cloud front https://aws.amazon.com/about-aws/whats-new/2020/07/cloudfront-geolocation-headers/#:~:text=Additional%20geolocation%20headers%20are%20now,caching%20and%20origin%20request%20policies.

[2020-09-12 06:10] MNF opened #62513 "Show long commands as multiple lines"
It is no convenient to scroll to right long commands like

PS> Get-LogicAppTemplate -Token (az account get-access-token | ConvertFrom-Json).accessToken -LogicApp <logic-app-name> -ResourceGroup <Azure-resource-group-name> -SubscriptionId $SubscriptionId -Verbose | Out-File C:\template.json

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-09-12 07:56] joecarlyle opened #62514 "Powershell could be better"
The page refers to how to move VMs if there are restore point collections.

Your powershell example is presuming there is only a single VM. So if somebody with multiple VMs follow it, the variable $RestorePointCollection will have multiples in it and the next command will fail.

It would be better to have the remove operation written as a for-each or similar so whether it's one, or 100 restore poi

[2020-09-12 08:19] MhAllan opened #62515 "Function setting IsEncrypted not explained"
This paragraph does not explain anything. It does not tell how, who, or when will decrypt and decrypt take place nor what is the use case of this weird settings, and why it is not false by default if I remove it?
"
IsEncrypted | When this setting is set to true, all values are encrypted with a local machine key. Used with func settings commands. Default value is false.
"

---
#### Document Details

[2020-09-12 09:35] AdimUser opened #62516 "Looking for the additional information"
[Enter feedback here]

Reference Page : https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs-create-linked?tabs=azure-powershell

` Note
Template Specs is currently in preview. To use it, you must sign up for the preview.`

Hi Team, could you please add more details or reference link to the page which describes,
1) How should we know that our subscriptions are ena

[2020-09-12 11:27] SQL-MisterMagoo opened #62517 "It this information correct?"
This section https://docs.microsoft.com/en-us/azure/active-directory-b2c/technical-overview#protocols-and-tokens
says
"For external identities, Azure AD B2C supports federation with any OAuth 1.0, OAuth 2.0, OpenID Connect, and SAML identity providers."
 but there seems to only be the option to create OpenId Connect providers in the portal and I cannot find any tutorials or docs pages that show an

[2020-09-12 11:35] gabriel-kohen-by opened #62518 "Is this applicable to Mongo3.6?"
[Enter feedback here]
We keep getting: Deployment failed. Correlation ID: 72701737-9ab6-459f-9fb0-977b08280e6e. The 'expireAfterSeconds' option is currently not supported.
ActivityId: 40fb384b-f4e7-11ea-b463-000d3a1f998f, Microsoft.Azure.Documents.Common/2.11.0, Microsoft.Azure.Documents.Common/2.11.0, Microsoft.Azure.Documents.Common/2.11.0, Microsoft.Azure.Documents.Common/2.11.0

For:

[2020-09-12 11:38] manishjha2088 opened #62519 "Cost change Due to SQL License Downgrade"
[It would be very helpful if its very clearly mentioned that even if we downgrade the license, that is by uninstalling the SQL and reinstalling the free  ( Developer ) or downgraded version of SQL as long as the SQL License type is not changed in the Azure Portal , it would be charged on the old pricing version. Currently its not very clear and it has impacted the billing , even though at the OS l

[2020-09-12 11:45] garrytrinder commented on #61401
The import of the `.pem` file appears to have only imported the public key, no private key was imported.

![image](https://user-images.githubusercontent.com/11563347/92994500-8f337a80-f4f2-11ea-9d9d-d7946b210a9d.png)

![image](https://user-images.githubusercontent.com/11563347/92994504-98244c00-f4f2-11ea-8551-e9711df5d8fe.png)

I have created the gist below to mimic the `CertificateHelper` class a

[2020-09-12 11:59] RohitMungi-MSFT commented on #62513
@MNF Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:00] RohitMungi-MSFT commented on #62514
@joecarlyle Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:01] RohitMungi-MSFT commented on #62515
@MhAllan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:02] RohitMungi-MSFT commented on #62516
@AdimUser Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:03] RohitMungi-MSFT commented on #62517
@SQL-MisterMagoo Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:04] RohitMungi-MSFT commented on #62518
@gabriel-kohen-by Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:05] RohitMungi-MSFT commented on #62519
@manishjha2088 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-12 12:27] audhage commented on #62237
Any updates on this? Wouldn't this imply that both nodes would be offline during an Azure maintenance event?

[2020-09-12 12:37] vishwanathnarasimmal opened #62520 "ANF related Documentation update"
[Enter feedback here]

None of the currently offered Azure block storage based managed disks, or Azure NetApp Files offer any zonal or geographical redundancy. As a result, you need to make sure that your high availability and disaster recovery architectures are not relying on any type of Azure native storage replication for these managed disks, NFS or SMB shares

- Feed Back - ANF is providing th

[2020-09-12 13:33] RutujaWanjari commented on #55354
@RohitMungi-MSFT facing exact same issue as @AmitavaHazra, when executed in Jupyter server.
In AzureML studio editor, it's working fine.

I have also installed flask=1.0.3 in the notebook in runtime and enabled 'enable_local_managed' in AutoMLConfig, still no success.

[2020-09-12 14:12] barclayn commented on #56780
#reassign:barclayn

[2020-09-12 14:23] barclayn commented on #56737
#reassign:barclayn

[2020-09-12 14:39] barclayn commented on #55802
#reassign:barclayn

[2020-09-12 14:47] barclayn commented on #54508
#reassign:barclayn

[2020-09-12 15:22] NavtejSaini-MSFT commented on #62199
@rploeg At this time we will go ahead and close this thread, Please get back to us if you need any further help.

[2020-09-12 15:22] #62199 closed

[2020-09-12 15:46] KrishnaG-MSFT commented on #62452
@lightupdifire Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-09-12 15:48] agdgdh opened #62521 "Yibico guides"

[2020-09-12 15:54] crisansou commented on #62507
Hello @RohitMungi-MSFT ,

Sure, please tell me the email. About the browser, I used Chrome (version 85.0.4183.102) and Microsoft Edge (version 85.0.564.51).

Best regards,
Cristina

[2020-09-12 15:58] crisansou commented on #62501
Hello @KranthiPakala-MSFT ,

Ok, no problem.

Best regards,
Cristina

[2020-09-12 15:58] #62501 closed

[2020-09-12 16:23] 180254 opened #62522 "Scheduled events python example doesn't work - looking for this_host in evt['Resources'] always fails"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-events

The python example simply does not work.

Let's assume a scaleset called `issue` with one VM instance.

The following piece of the code:
`this_host = socket.gethostname()`
returns `issue000000`.

In scheduled event details, this instance is presented as:
`"Resources": [
	"issue_0"
],`

So looking for `this_host` in `

[2020-09-12 16:59] apeczan opened #62523 "Typo: "Are their limitations if I am on the Log Analytics Free pricing plan?""
Are **there** limitations if I am on the Log Analytics Free pricing plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Monitor FAQ - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor

[2020-09-12 17:04] SadiqhAhmed-MSFT commented on #62457
@difatkulbayanova Thanks once again for bringing this to our attention. The value is in Mbps (small ‘b’).  As you can see from the get-netqospolicy command, the value is converted to Giga but it’s showing GBits, not GBytes.

![Mbps](https://user-images.githubusercontent.com/44458118/93000747-f9c2d580-f547-11ea-8c81-6c5fbc181460.jpg)

I have raised a pull request - https://github.com/MicrosoftDocs/

[2020-09-12 18:01] grahamchilds opened #62524 "cool"
[Enter feedback here]Liked it, nice and simple

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7633d86-14e9-9bb7-1069-3bf345189995
* Version Independent ID: 85042d6c-49e6-d764-31e9-c2fe70986dcf
* Content: [Redeploy Windows virtual machines in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshootin

[2020-09-12 18:20] RonnieQuan opened #62525 "Define Custom Role ID"
Can we indicate the ID for the custom role instead generated automatically?

We would like to have a fixed ID for a role, when we drop and  recreate a role, the ID changed, we would like to avoid that.

Thank you!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac44e5e-65e1-d989-4afe-0463e8ff51d0

[2020-09-12 18:34] BharathNimmala-MSFT commented on #62523
@apeczan Thanks again for bringing this to our notice and improving our Azure documentation. I have raised a PR to correct the typo, which will be merged in the live document next 1-2 business days.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your repl

[2020-09-12 18:34] #62523 closed

[2020-09-12 19:52] MWL88 opened #62528 "Account prerequisites are not clear"
The [prerequisite](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/template-create-instance#prerequisites) account privileges can be interpreted in 2 ways.

The prerequisites states:
- To enable Azure AD DS in the Azure AD tenant the accounts requires global administrator privilege.
- To deploy the Azure AD DS resources requires Contributor privileges in the Azure subscript

[2020-09-12 20:04] MWL88 opened #62529 "The PowerShell cmdlets to create the required Azure AD resources are not cross-plaform"
The documentation [describes](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/template-create-instance#create-required-azure-ad-resources) the tasks to create the required Azure AD resources using the cmdlets from the AzureAD module. This module is not cross-plaform and required Windows.

Please update the documentation to describe how to create the required Azure AD resour

[2020-09-12 20:05] markjbrown commented on #62491
Thanks for your feedback.

This example is intended usage of Cosmos emulator with Mongo API in a MEAN app. This example is not intended to highlight best practices for identities. Additionally, as this is a local executable and not an Azure service, it makes no sense to use MSI's to access the emulator.

We do have an article that does talk about using [managed identities](https://docs.microsoft.c

[2020-09-12 20:05] #62491 closed

[2020-09-12 20:29] ChaitanyaNaykodi-MSFT commented on #62278
Hello @jesseorosz,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-12 20:29] #62278 closed

[2020-09-12 21:07] oeicramirez commented on #53677
@jeevansd I have installed the Confluence plugin on a test instance that is running 7.6.0 and constantly run into "Invalid response. Invalid certificate recieved in response. Please contact your Azure AD admin", is the correct version on the download center?

[2020-09-12 21:13] shortpatti commented on #57657
updated content

#please-close

[2020-09-12 21:13] #57657 closed

[2020-09-12 23:35] jackchenquest commented on #51592
The document is really not clear. A SAS url can be for a storage account, or a existing container, or even a existing file inside a container.

I have tried a SAS url for storage account blob service and it didn't work.

Turned out it need to be a SAS url for a existing container in a storage account, and it need the full url, not just SAS token.
I followed this article and it worked
https://pswik

[2020-09-12 23:45] jackchenquest opened #62530 "capture private traffic on tunnel interface instead of encrypted public to public traffic"
[Enter feedback here]

I just tried Start-AzVirtualnetworkGatewayPacketCapture and Start-AzVirtualNetworkGatewayConnectionPacketCapture ,
The two captured files only show packets like:

[on-prem VPN public IP]	[VPN Gateway public IP]			ESP	222							ESP (SPI=0xef1955ba)

Not the private traffic on the tunnel interface.  This isn't really very helpful.

Is this it supposed to be?

---
#### Document

[2020-09-13 02:29] boecskoer opened #62531 "Blob Storage source transformation wildcard paths not working"
When trying to use wildcards in source transofrmation for a blob storage I'm getting a `java.util.NoSuchElementException` error.
I want to load multiple Excel files from a several sub directories of a blob storage. Hence, I've added the `**` wildcard parameter for a recursive directory traversion.

wildcard paths variants:
`sub/2020-09/*.xlsx` => works
`**/*.xlsx` => NoSuchElementExceltion
`sub/**

[2020-09-13 03:08] tig commented on #62035
Even better: For deploying a Hugo site, in order for things like Google Analytics to work, the `HUGO_ENV` variable needs to be set to `production`. Like this:

[code]

The docs on creating a Hugo-based SWA should be updated to reflect this. It took me many hours to figure this out (finally landing here THANKS TO @bgever!!!!).

[2020-09-13 03:30] RohitMungi-MSFT commented on #62520
@vishwanathnarasimmal Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 03:31] RohitMungi-MSFT commented on #62521
@agdgdh Please let us know if you have a question or an issue while following Azure docs so we could you help you better.

[2020-09-13 03:33] RohitMungi-MSFT commented on #62522
@180254 Thanks for the feedback and PR. We have assigned the issue to our content author to review and approve the PR. @EricRadzikowskiMSFT FYI

[2020-09-13 03:36] RohitMungi-MSFT commented on #62524
@grahamchilds Thanks for the feedback and we are glad you like this article. Please let us know if you have further questions on this or we will go ahead and close the issue.
@genlin FYI.

[2020-09-13 03:38] RohitMungi-MSFT commented on #62525
@RonnieQuan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 03:40] RohitMungi-MSFT commented on #62528
@MWL88 Thanks for the feedback. We are investigating the issue and will update you shortly.
@iainfoulds FYI

[2020-09-13 03:41] RohitMungi-MSFT commented on #62529
@MWL88 Thanks for the feedback. We are investigating the issue and will update you shortly.
@iainfoulds FYI

[2020-09-13 03:42] RohitMungi-MSFT commented on #62530
@jackchenquest Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 03:43] RohitMungi-MSFT commented on #62531
@boecskoer Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 04:32] gabriel-kohen-by opened #62532 "A comma is missing in the code snippet"
[Enter feedback here]
Comma is missing after:
instrumentationKey: 'YOUR_INSTRUMENTATION_KEY_GOES_HERE'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dff1e826-0fac-07ef-7dc4-af24f045f349
* Version Independent ID: eb036a11-6cdb-463f-de2f-2adc4055b737
* Content: [React plugin for Application Insights JavaScript SDK - Azu

[2020-09-13 04:59] LSLWatson opened #62533 "ASE subnetting is presenting incorrect address value"
A /24 subnet has a total of 256 addresses before accounting for those reserved by Azure infra/networking. A /25 subnet would have a total of 128.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31ca36-9aa0-f429-f2fd-65ba2758c359
* Version Independent ID: e201f645-18c4-f420-167c-6431d114ef5b
* Content: [Create an exter

[2020-09-13 05:00] BharathNimmala-MSFT commented on #62532
@gabriel-kohen-by Thank you for bringing this to our notice and helping us improve our Azure documentation. I have raised the PR to fix the script in the document, which would be merged with live document in next 1-2 business days.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further q

[2020-09-13 05:00] #62532 closed

[2020-09-13 05:20] sanjayntms opened #62534 "swagger error"
Followed the link but getting an error. Unable to add ML in-stream analytics
Your deployment does not have an associated swagger.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a747220-f587-2b7a-1c9d-176cfccb3702
* Version Independent ID: d41386c4-50b2-927f-4fcb-0ab842edf0ca
* Content: [Weather forecast using Azur

[2020-09-13 05:34] oz1212 commented on #61929
Opened a new case in stackoverflow, as your request, please help with that,
https://stackoverflow.com/questions/63867519/what-is-the-best-way-to-access-customers-azure-services-apis-from-aws
Thnaks,
Oz

[2020-09-13 05:40] souravmishra-msft commented on #62180
Closing this thread since got no queries on it.

[2020-09-13 05:40] #62180 closed

[2020-09-13 07:09] MWL88 commented on #62529
In case it is helpful, here is the process I followed to create the Azure AD resources using cmdlets from the Az module.

Check the Microsoft.AAD provider is registered:
`Get-AzResourceProvider -ProviderNamespace Microsoft.AAD`

If the provider is not registered:
`Register-AzResourceProvider -ProviderNamespace Microsoft.AAD`

Check the Domain Controller Service service principal has been created:

[2020-09-13 07:26] JayaChatterjee-MSFT commented on #60445
@GeekTrainer Thank you for following up. We have already discussed the required changes internally and the author is aware of this.
@craigshoemaker  Can we add the supported types and output examples in the Usage section.

[2020-09-13 07:31] protzetter commented on #55354
I am having same issue @RohitMungi-MSFT

![image](https://user-images.githubusercontent.com/17685831/93012861-e5142b00-f5a3-11ea-942d-a1ff4837df4f.png)

[2020-09-13 08:03] Arithmomaniac opened #62535 "C# code sample conflates eternal and singleton configurations"
https://github.com/MicrosoftDocs/azure-docs/blob/091a5a9fb350b741121adf075c29f23aec18c6e4/articles/azure-functions/durable/durable-functions-singletons.md#L31

This is an insufficient check. If your singleton has completed (at least if it has completed recently), `existingInstance` will exist and `existingInstance.RuntimeStatus` will have a value of, e.g. `OrchestrationRuntimeStatus.Completed`.

-

[2020-09-13 08:42] BeigeBadger opened #62537 "The input requirements for a custom Form Recognizer model are the same as the general Form Recognizer input requirements"
The input requirements for a custom model are [here](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/overview#custom-model)
), and as follows:

[code]

The general input requirements for Form Recognizer are [here](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/build-training-data-set#general-input-requirements) and as follows:

[code]

There are

[2020-09-13 11:10] #62457 closed

[2020-09-13 12:32] compvishal opened #62539 "Code working in Console app but not in Windows app (Dot.Net)"
I am a Dot.Net programmer. The function runs when try it on console app (tried both C# & VB), however when trying to run it on windows app get errors. Basically I want to return value after calling an azure service, and use it in windows app.

Tried below:

- created a new windows app projects, added the same module which was running in console app & tried calling.
- created a shared project, adde

[2020-09-13 12:47] damochiz opened #62540 "A string enclosed by "<" and ">" are not translated. Is it possible to have it documented?"
[Enter feedback here]
A string enclosed by "<" and ">" are not translated, such as "\<coffee\>". Is it possible to have this behavior documented?

**- example**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e605b68f-9ada-9ca5-dfbc-ae23d54795f7
* Version Independent ID: 344bd19f-0f63-7a17-8b17-1342faa0fc1b
* Con

[2020-09-13 13:12] jskop opened #62541 "Difference between documentation and schema"
Hello,

BuildingBlocks node in schema contains ClientDefinitions node which is not described here. Does it mean that this node is not supported/obsolete?

Best Regards,
jskop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fcae62a-0cfd-d310-df15-ad163eacac8b
* Version Independent ID: 3ec17196-68a3-eb33-d6f7-0d5f7cc55d9

[2020-09-13 13:33] bbmmcodegirl commented on #62511
Hi RohitMungi-MSFT, thanks. Please note that I have updated the issue. I found how to drill down in the resource tree; it should have been better described in the tutorial. However, after doing the configuration update as in the tutorial, the sample web application ("front-end") has an internal server error.

[2020-09-13 13:44] mpt-austin opened #62542 "What in the world is the Issuer ID??"
[This page needs a better explanation of what's supposed to go under the grey bars.  Or at least a link to another page explaining it.  The page says nothing about what's supposed to go behind the grey bars in either the Issuer ID or Tenant fields.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa

[2020-09-13 13:54] jskop opened #62543 "OutputClaims node type"
Hello,

OutputClaims node is not defined so the user might not know if the OutputClaim node contains any additional attributes except ClaimTypeReferenceId.

Best Regards,
jskop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d2160b3-a0e0-53f9-4d43-d02f42a6aada
* Version Independent ID: 2897a529-18ac-da7b-4ac6-a0163d947

[2020-09-13 14:28] jaspkaur28 commented on #37403
@usrme : Support for Python 3 hybrid jobs is available as a Private Preview. Please reach out to AzCommunity@microsoft.com as mentioned above by @KrishnaG-MSFT .
Python3 Cloud jobs is still work in progress. It’s a bit delayed due to some major changes that we are doing to the underlying technology stack supporting Py3 jobs . The changes are critical requiring significant validation at each step.

[2020-09-13 14:44] BhargaviAnnadevara-MSFT commented on #62304
@xelossan I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-13 14:45] RohitMungi-MSFT commented on #62507
@crisansou FYI..

[2020-09-13 14:51] RohitMungi-MSFT commented on #62533
@LSLWatson Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 14:53] RohitMungi-MSFT commented on #62534
@sanjayntms Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 14:54] RohitMungi-MSFT commented on #62535
@Arithmomaniac Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 15:01] RohitMungi-MSFT commented on #62537
@BeigeBadger Thanks for the inputs. Yes, these are currently the same requirements in both the cases. We would request our content author @PatrickFarley to check if they can be merged. @NHaiby FYI

[2020-09-13 15:09] donchai opened #62544 "Illustrate path with multiple hubs"
Would it be possible to show the path for new scenario #6 with three hubs within Virtual WAN suggested below?
Europe - UAE - Southeast Asia

How would the routing path take place between connection from Europe to Southeast Asia, would the hub-to-hub connection occur as such?

1. Europe Hub <-> Southeast Asia Hub
2. Europe Hub <-> UAE Hub <-> Southeast Asia Hub

Reference: https://docs.microsoft.co

[2020-09-13 15:40] RohitMungi-MSFT commented on #62539
@compvishal Thanks for the question. If you are building a windows app you can try to use our intelligent kiosk app as a sample to replicate reading the local file for any of our cognitive services API. Here is the [link ](https://github.com/microsoft/Cognitive-Samples-IntelligentKiosk)to the intelligent kiosk repo. You can try to read the file as implemented in our [ImagePickerControl ](https://g

[2020-09-13 15:43] RohitMungi-MSFT commented on #62540
@damochiz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 15:44] RohitMungi-MSFT commented on #62541
@jskop Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 15:45] RohitMungi-MSFT commented on #62542
@mpt-austin Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 15:46] RohitMungi-MSFT commented on #62543
@jskop Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 15:47] RohitMungi-MSFT commented on #62544
@donchai Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-13 16:48] samueljamkhandi-MSFT commented on #60359
@VikasPullagura-MSFT - here's the PR https://github.com/MicrosoftDocs/azure-docs/pull/60390

[2020-09-13 17:44] kelleymh opened #62546 "Linux sections are very out-of-date"
This is a super valuable page overall.  However, the sections on "Optimize performance on Linux VMs" and "LIS drivers for OpenLogic CentOS" are very out-of-date.  Significant revisions are needed, the details of which are beyond what I'll put in this posting.  I'm in the Linux Systems Group at Microsoft, so contact me offline.  We'll get the right people connected, including Program Managers on my

[2020-09-13 17:50] asubmani commented on #61961
Re-opening this as the updated doc omits "kubernetes auditing" in it's entirety, rather than explain where the kube-audit logs go in Log analytics.

The `KubePodInventory` table always existed and is certainly not for api-server or audit details.

This looks like a regression or an intentional deprecation of a standard kubernetes logging feature.

Audit-logs are used to find details on Roles,bindi

[2020-09-13 18:29] laconicblue opened #62547 "no more "Click to show advanced access policies""
When I create a key vault or click "access policies" in Key vault blade, it doesn't the "Click to show advanced access policies" any more like the next.
![image](https://user-images.githubusercontent.com/5976014/93025640-7209c380-f63a-11ea-81bd-0b1b1550c0d9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4

[2020-09-13 19:26] cat-mucius opened #62548 "Refreshing list of VNET's custom DNS servers for PaaS machines"
Good day,

The documentation recommends to run `ipconfig /renew` on IaaS Windows machines in order to refresh DNS servers list.
But what about PaaS machines, such as worker instances on ASE or AKS? Will the list be refreshed on them automatically after some time? After how long? If not, how is it possible to refresh the list manually on them?

Thanks,
Mucius.

---
#### Document Details

⚠ *Do not

[2020-09-13 20:03] BharathNimmala-MSFT commented on #62547
@laconicblue Thanks a lot for bringing this to our notice, seems the UI has updated so we will review this and update the document accordingly.

[2020-09-13 20:19] epomatti commented on #57511
Thanks @cephalin

[2020-09-13 21:29] BeigeBadger commented on #62537
Thanks for the confirmation @RohitMungi-MSFT.

[2020-09-13 22:01] msjuergent commented on #62520
The feature described is not yet general available and in preview stage. That is why it is not yet described in the documentation. Once it is in GA state, iCross Region Replication of ANF will be included in the SAP related documentation

[2020-09-13 22:30] SaiKishor-MSFT commented on #61931
@joeakim
Apologize for the delayed response. Answering your question-

-How long will the MFA satisfaction be valid, until a reconnect will prompt again for MFA? And is there any other way to influence this, besides the Session Lifetime in the respective Conditional Access policy?

MFA session tokens are valid until explicitly revoked as mentioned in document-MFA session tokens are valid until exp

[2020-09-13 23:24] Conan1989 opened #62550 "update powershell examples to use powershell module AzureAD instead of legacy MSOnline"
Hi,
The PowerShell examples in
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates
use the now legacy module "MSOnline". May i suggest the examples be updated to use the "AzureAD" module.

https://docs.microsoft.com/en-us/powershell/module/msonline/?view=azureadps-1.0
![image](https://user-images.githubusercontent.com/6946596/93031156-29411300-f618-11ea-9193

[2020-09-13 23:49] residentx10 opened #62551 "Not all pages are being integrated into the PDF"
[Enter feedback here] I downloaded the PDF of whole AzureML section but not all of the pages are being integrated. Maybe these are new pages that aren't be scanned or something. FYI.

Examples:

https://docs.microsoft.com/azure/machine-learning/algorithm-cheat-sheet
https://docs.microsoft.com/azure/machine-learning/how-to-select-algorithms

---
#### Document Details

⚠ *Do not edit this section. I

[2020-09-14 01:24] tomas-gottwald commented on #62445
Hi @HarithaMaddi-MSFT, thanks for the reply but I am not sure I understand. Does that mean that don't allow access from all networks and also don't allow trusted Microsoft services to bypass the firewall I won't be able to use Key Vault with ADF? Thanks

[2020-09-14 01:33] YatseaLi commented on #57919
Hi Jeevansd,

It seems that you don't see the confusion on step 4.a. Let me clarify here again.

4.a. In the Sign on URL text box, type a URL using the following pattern: https://.sapbydesign.com
"https://.sapbydesign.com" is an ambiguous, people tend to have it like their normal byd tenant url(Un-sso URL) "HTTPS://my123456.sapbydesign.com", however, the correct url should be sso url, like "HTTPS:

[2020-09-14 01:40] tomas-gottwald commented on #62445
Confusingly if I change the setting to the above (i.e. disable access from all networks and disallow trusted Microsoft services to bypass the firewall) the ADF still seems to be able to use the Key Vault. Maybe it takes a while for the new settings to take effect but it's been more than 10 minutes and still seems to work. Could you shed some light on how is it supposed to work and what is the most

[2020-09-14 01:50] thexur opened #62552 "Where do you get the publisher id information?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3ac4960-3758-880c-5f39-9953d61b036d
* Version Independent ID: e5200dc7-ecfb-dfb8-2998-3240e2439b88
* Content: [Retrieve offers API - Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-api-retrieve-offers)
* Con

[2020-09-14 02:03] JamesTran-MSFT commented on #62550
@Conan1989
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-14 02:06] karataliu commented on #62180
@souravmishra-msft  I mean there is no issue, but the doc said there is an issue. Did you read my request clear?

[2020-09-14 02:07] karataliu commented on #62180
@shashishailaj  @souravmishra-msft  Can you reopen this. My question is not answered.

[2020-09-14 02:17] BharathNimmala-MSFT commented on #62552
@thexur Thank you for your query, we will look into it and get back to you at the earliest.

[2020-09-14 02:17] pnarsi opened #62553 "Use a CMK for encryption of the etcd store"
The article states that "Kubernetes secrets are stored in etcd, a distributed key-value store. Etcd store is fully managed by AKS and data is encrypted at rest within the Azure platform."

Is it possible to configure a Customer Managed Key to perform the encryption at rest of the Etcd store?

There is reference to setting a CMK [here](https://docs.microsoft.com/en-us/azure/aks/azure-disk-customer-

[2020-09-14 02:57] avbhaskar commented on #61774
Stevan,
when you click azure account, government tenant accounts  can not be added
reliably. Account registration endpoint defaults to azure commercial,
instructions do  not mention how to change the end point to *.
database.azuregovcloudapi.net from *.database.windows.net. Automated
rerouting from commercial endpoint to government endpoint (based on user
login) does not work reliably. Even if it

[2020-09-14 03:05] himanshusinha-msft commented on #62405
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-09-14 03:08] KrishnaG-MSFT commented on #62281
@klawrawkz Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-09-14 03:08] #62281 closed

[2020-09-14 03:11] KrishnaG-MSFT commented on #53018
@mikemowgli As there is no response so we will be closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-09-14 03:11] #53018 closed

[2020-09-14 03:13] gitforanand commented on #11469
I have the same error The username or password provided in the request are invalid.. I was able to register user and logout. Post logout I am unable to login again.

[2020-09-14 03:17] ram-msft commented on #62272
Thanks for the details @jtg5122. We are checking with product team on this. If possible can you please share the sample code that you are trying.

[2020-09-14 03:20] Cing187 commented on #62550
My phone. under investagation..Cause I couldn't Delete Amazon Assistant

On Sun, Sep 13, 2020, 10:04 PM James Tran-MSFT <notifications@github.com>
wrote:

[2020-09-14 03:28] RyanHill-MSFT commented on #62546
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-14 03:31] RyanHill-MSFT commented on #62548
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 03:34] RyanHill-MSFT commented on #62551
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-14 03:45] Karishma-Tiwari-MSFT commented on #62471
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-14 03:45] #62471 closed

[2020-09-14 03:47] icemanotzi opened #62554 "Incorrect instruction to clear slash from app location box"
In the instructions for "the Build Details section", under the "No Framework" tab, instruction 'b' is "Clear the default value in the 'App location' box". But when I clear the default value (which is a slash) i.e. when I delete the slash from the 'App location' box, I get an error saying "This field in required" and form validation fails in the Basics tab.

---
#### Document Details

⚠ *Do not edi

[2020-09-14 04:10] AnuragSharma-MSFT commented on #62211
@andrewCluey We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-14 04:10] #62211 closed

[2020-09-14 04:13] PCNZ opened #62555 "Typo per-create"
Typo
Should be pre-create not per-create in this sentence.

"The following step enables monitoring of your AKS cluster using Azure CLI. In this example, you are not required to per-create or specify an existing workspace."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 993779b5-188d-13ba-e4fc-9ce727c5f9f9
* Version Ind

[2020-09-14 04:15] AshokPeddakotla-MSFT commented on #62243
@joshibhu As mentioned, kindly provide your feedback on the uservoice.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-14 04:15] #62243 closed

[2020-09-14 04:16] SatishBoddu-MSFT commented on #62430
Hello @orionJag Just checking back, could you please let us know if you need further help in this matter.

[2020-09-14 04:46] tomas-gottwald commented on #62361
Hi @SumanthMarigowda-MSFT,

I think I understand how does it work now. As per the table above R-X permissions on the root folder (container) and any other folder leading to the file are required because in order to traverse to Data.txt one needs to perform list operation on the root folder (and any other folder leading to the file). However if you enter the URL of the file you will be able to acce

[2020-09-14 04:47] SnehaAgrawal-MSFT commented on #62554
@icemanotzi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 04:56] hydrojumbo commented on #19444
Assuming an Event Grid exists with a Subscription that sends events to an Event Hub destination, @KetanChawda-MSFT can you clarify if the following scenario is possible?:

1. Sender publishes event to Event Grid.
2. Based on a property of the published event, the [PartitionKey](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.eventdata.partitionkey?view=azure-dotnet) prop

[2020-09-14 04:59] SumanthMarigowda-MSFT commented on #62308
@chetansir Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I'd recommend posting your question in https://docs.microsoft.com/en-us/answers/products/azure?product=storage since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, ple

[2020-09-14 04:59] #62308 closed

[2020-09-14 05:13] AnuragSharma-MSFT commented on #62343
@sindhuragade Id and label are both used as a part of 'has' filter to filter properties, vertices, and edge, hence they are kept as reserved to define as partition key. Please refer to below link:
https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support

However in your case is it possible to map any other property to 'id' like name of user? If yes, then it is safe to create the userid pro

[2020-09-14 05:13] KrishnaG-MSFT commented on #62555
@PCNZ Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-14 05:18] psmanhas commented on #62553
@pnarsi Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-14 05:18] psmanhas commented on #62553
@mlearned Can you please check and add your comments on this doc update request as applicable.

[2020-09-14 05:33] AnuragSharma-MSFT commented on #62448
@chayanbaner Could you please let us know how were you trying to execute the command, was it through the PowerShell inside Azure Portal or any other way?

Just for the reference when I created the 'Azure Cache for Redis' and ran the command inside the Azure Portal I was able to run it successfully.

[2020-09-14 05:38] ramanagarwal2005 opened #62557 "The links points to ADF sdk instead of Synapse SDK"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70754c7c-a557-5683-bb58-b2fd0409e09f
* Version Independent ID: e91ceff6-8314-c9af-973c-d434c178fc0c
* Content: [Linked services in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/concepts-linked-services?to

[2020-09-14 05:45] asergaz commented on #62373
@asagao-web I have went through the tutorial successfully. In my case I am using:
- Python 3.7.9
- Package azure-iot-device 2.2.0
- Package azure-iot-hub 2.2.2

1) Can you confirm that simulated-device-2\SimulatedDevice.py is running when you start BackEndApplication.py ?
2) Can you navigate to the portal and confirm that the device is sending telemtry messages to IoTHub?
3) Can you confirm the ve

[2020-09-14 05:54] asergaz commented on #42615
@ramandeep-singh-1983 thank you for your patience in advance and sorry for no follow-up so far.

@robinsh @ash2017 do we have a doc on how to enrich messages to Event Grid as pointed by this doc?

Thank you!

[2020-09-14 06:04] compvishal commented on #62539
Hi @RohitMungi-MSFT,
thanks for reply.
The sample code is of Universal Windows Platform Development. I am trying it.
However wont the Microsoft.Azure.CognitiveServices.Vision.ComputerVision run on simple windows app on dot.net framework?

[2020-09-14 06:18] chetansir commented on #60784
Hi Team,

Any updates on this. the magic command still doesn't work in azure.

[2020-09-14 06:21] ArttuArstila opened #62558 "Pricing not clear for SMS/Phone events"
On pricing page (https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/) it says:
"A flat fee is billed for each MFA or SMS/Phone event."
what is the price of such event? It is quite important piece of information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48108c5-3850-af59-ed14-8

[2020-09-14 06:29] SadiqhAhmed-MSFT commented on #62438
@cfj123 Hope the previous response was helpful. Let me know if you have any further questions in this matter.

[2020-09-14 06:32] RohitMungi-MSFT commented on #62507
@crisansou Could you please share us the details of your experiment or cells if the error occurred while running them. Based on the last screen shot it looks like the Azure portal(portal.azure.com) is failing rather than ml.azure.com where you run the notebook.

Please send us an email at AzCommunity[at]microsoft[dot]com with the detailed steps so we can replicate the scenario along with the URL o

[2020-09-14 06:35] SadiqhAhmed-MSFT commented on #62377
@rich-davies In preview, we currently don’t support data exposed by the [Usage Details API](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Frest%2Fapi%2Fconsumption%2Fusagedetails%2Flist&data=02%7C01%7CSadiqh.Ahmed%40microsoft.com%7Cea047fc960334002e16008d8583b136b%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637356358222672463&sdata=JUP1%2FCAA5bOt3bl

[2020-09-14 06:35] #62377 closed

[2020-09-14 06:41] CHEEKATLAPRADEEP-MSFT commented on #62557
@ramanagarwal2005 Could you please share more details on "The links points to ADF sdk instead of Synapse SDK"?

[2020-09-14 06:57] HarithaMaddi-MSFT commented on #62445
@tomas-gottwald - Thanks for posting the queries. As per [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/62441), the document incorrectly states that "Allow Azure Services" should be turned ON while using Private Endpoint and this is updated now. This setting is recommended to be kept as OFF while using Private Endpoint to connect to Key Vault but it is not mandatory and hence Pr

[2020-09-14 07:10] amanmcse commented on #62306
@davida1992 The only option I can think of to skip MFA is, for Non-MFA Enrolled users, add below registry setting that allows the NPS extension to bypass secondary authentication failures for Non-MFA Enrolled users. Setting REQUIRE_USER_MATCH=FALSE skips the enrollment check which allows non-MFA Enrolled users to authenticate using Primary authentication only.

Add the following registry setting:

[2020-09-14 07:14] twentyonegrams opened #62559 "Get response status 401 (Unauthorized) when running dotnet restore"
[Enter feedback here]

Hi I'm following the tutorial to clone the sample application onto my laptop, but when I tried to install the required packages by running "dotnet restore" I'm getting an Unable to load the service index for the source https://msazure.pkgs.visualstudio.com/_packaging/ManualMirror/nuget/v3/index.json:

C:\Programming\Training\dotnet-core-api>dotnet restore
  Determining proje

[2020-09-14 07:15] yull1860 opened #62560 "allowForwardedTraffic description no consistance"
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworkpeerings/createorupdate

properties.allowForwardedTraffic | boolean | Whether the forwarded traffic from the VMs in the _local_ virtual network will be allowed/disallowed in _remote_ virtual network
-- | -- | --

and this doc status flow from remote to local is allow/disallowed so which one is correct ? pls amend the wrong stat

[2020-09-14 07:27] UmairSyed commented on #24064
i am also getting the same error even after getting 365 subscription

[2020-09-14 07:29] Membaer commented on #53222
@SaurabhSharma-MSFT  @jeevansd  any update on this?

[2020-09-14 07:36] dmartin-agi opened #62561 "Create Dynamic group based upon Domain Joint system"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Rules for dynamically populated groups membership - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/gr

[2020-09-14 07:41] NogginBox opened #62562 "Missing setup detail for feature taghelper"
To make the `<feature>` tag helper work you need to add the following to _ViewImports.cshtml

`@addTagHelper *, Microsoft.FeatureManagement.AspNetCore`

This was on a **.NET Core 3.1** project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a-628d-9c05-551c09f7392e
* Version Independent ID: 5db3af04-a314-24

[2020-09-14 07:44] 274188A opened #62563 "sample code should be using .net core"
a .net core web app may have been nice to see instead of the outdated sample framework

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a web application - Azure AD B2C](https

[2020-09-14 07:44] HarithaMaddi-MSFT commented on #62506
@RavSalgado - Communication between VNet and ADF service will only be transferred in Azure backbone network. To further secure the traffic, Private Link can be enabled for the data factory to a specific VNet. And managed VNet can host an SHIR that is connected to on-premise source using Express Route Private Peering. Please find below the snap and [documentation ](https://azure.microsoft.com/en-us

[2020-09-14 08:01] BhargaviAnnadevara-MSFT commented on #62562
@NogginBox Thanks for the feedback! We're investigating this and will get back to you shortly.

[2020-09-14 08:03] amanmcse commented on #28753
This is no longer applicable. Please refer to https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/application-provisioning-config-problem-no-users-provisioned#provisioning-users-assigned-to-the-default-access-role

[2020-09-14 08:13] RohitMungi-MSFT commented on #62521
@agdgdh We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-14 08:13] #62521 closed

[2020-09-14 08:15] crgarcia12 commented on #60461
I believe we need to write down this somewhere. I did not get a single project in which the team have figure out by themselves which of the FQDNs are not required anymore, but if you think it is obvious and not needed, then feel free to close it. Another idea would be to add a simple "not needed in private clusters" to the doc containing all required outbound connections.

[2020-09-14 08:20] lokijota opened #62564 "Wrong/Broken links"
- The link to install .NET Core 3.1 SDK leads to the WINDOWS installer. It should be the cross-platform installation.

- The link to "set up the environment" (which points to https://review.docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/detect-motion-emit-events-quickstart?branch=release-preview-media-services-lva#set-up-the-environment ) is broken.

**NEW**- there is not

[2020-09-14 08:37] rajasekarankanakkampatti opened #62566 "Indexing Overview-->Index Kinds-->Spatial Index--> Geospatial within queries"
The subjected place has an sample SQL

SELECT * FROM container c WHERE ST_WITHIN(c.property, {"type": "Point", "coordinates": [0.0, 10.0] } })

which has an extra "}" in it and that confuses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32753f5-3b8a-c8cc-7a2f-58773b727e0d
* Version Independent ID: 1eef2e5d-9f62-824f

[2020-09-14 08:45] arkiaconsulting commented on #60553
I would add that regarding the documentation, the json file should be updated on a weekly basis. But unfortunately, at the time of writing, it hasn't been updated since August, 24.
As such, the OP requirement would benefit to all of us using this file programmatically.

[2020-09-14 08:49] taftse opened #62568 "Spelling mistake"
Spelling mistake in the last warning on the page "ggranted"

"Granting tenant-wide admin consent through this URL will revoke any permissions which had previously been granted tenant-wide. Permissions which have previously been **ggranted** by users on their own behalf will not be affected."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-09-14 08:57] luhyun95 opened #62570 "Unable to proceed from the "download resources" step"
[Enter feedback here]

Used the feed URL as been provided in the guide:
https://rdweb.wvd.microsoft.com/api/arm/feeddiscovery

Now the workspace had been created, however cannot proceed on due to an error occurring in the download process.

Error message that appears is : " unable to download managed resources associated with the workspace"

Tried rebooting the app.

accessing from ipad pro (the m

[2020-09-14 09:03] fgheysels commented on #51636
The property in the ARM template for creating an eventsource to TSI, still uses the name serviceBusNamespace.  Is this something that should be changed as well ?  Offcourse, that would be a breaking change, but it might be more clear since the eventsource is not working with a servicebus namespace afaik.

https://github.com/Azure/azure-quickstart-templates/blob/master/201-timeseriesinsights-enviro

[2020-09-14 09:04] pvmraghunandan opened #62571 "SSL hostname verification failed error when trying to use Private Link URL"
We are using Azure Maria DB with **_Azure Private Link_**. When tried to invoke with private link URL, we are getting below error.

`Caused by: java.sql.SQLNonTransientConnectionException: SSL hostname verification failed :
DNS host "test12345.privatelink.mariadb.database.azure.com" doesn't correspond to certificate CN "cr7.eastus2-a.control.database.windows.net"
and SAN[{DNS:"cr7.eastus2-a.contro

[2020-09-14 09:09] AnuragSharma-MSFT commented on #62518
@gabriel-kohen-by Thanks for feedback. You are correct in mentioning that this does not work with version 3.6 as of now and we receive the same error as you mentioned. There is already an [open issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/6894) on the same.

However as a workaround, you can set it up at container level as mentioned in below screenshot:
![image](h

[2020-09-14 09:11] neetima09 opened #62573 "Not receiving email alerts for Azure container Registry from Azure Security center"
Hi Team,

I have configured email notification in Azure security center . Security center is showing vulnerabilities for images in Azure container registry but we are not getting any email notifications for  the same.
Kindly advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Ve

[2020-09-14 09:12] emiliocolo commented on #45796
same here, and no, changing to AKS is not an option neither

[2020-09-14 09:14] sharath-srinivasan opened #62574 "No detail about the client.p12 file"
there is no detail about the client.p12,, it was not included in the zip file I downloaded from Azure VPN GW service..

More clarity will be helpful.. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version Independent ID: 8b627174-56cd-a81e-a687-34ba66d33550
* Content: [Cre

[2020-09-14 09:51] AnuragSharma-MSFT commented on #62566
@rajasekarankanakkampatti Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-14 09:52] baymac opened #62575 "How to generate access token for adf rest api using service principal"
I am trying to use https://docs.microsoft.com/en-us/rest/api/datafactory/pipelines/createrun rest api to trigger a pipeline run. I want to use service principal. Can you tell how can I get the `access token` to make this rest api call. I have added the service principal to the data factory with contributor role.

[2020-09-14 09:55] dominicbetts commented on #58814
@nkhuyent  - I'll close this issue now as we didn't hear back from you. Please feel free to reopen it if you have and follow up questions. Thanks!

[2020-09-14 09:55] dominicbetts commented on #58814
#please-close

[2020-09-14 09:55] #58814 closed

[2020-09-14 09:59] dominicbetts commented on #43685
Hi @terrymandin - we didn't hear back from you so I'll close this issue. Feel free to reopen it if you have any follow-up questions. Thanks!

[2020-09-14 09:59] dominicbetts commented on #43685
#please-close

[2020-09-14 09:59] #43685 closed

[2020-09-14 10:03] dominicbetts commented on #40668
Hi @baatch - we updated this article and sample earlier this year if you want to take a look. Let us know if you still have any questions. Thanks!

[2020-09-14 10:05] ShaneBala-keyvault commented on #62067
Hey @DeletorDev Thank you for your feedback, I have updated the document to include the additional role assignments. The PR is being merged now, and changes will appear live in 48-72 hrs. I am archiving this request for now.

[2020-09-14 10:05] ShaneBala-keyvault commented on #62067
#please-close

[2020-09-14 10:05] #62067 closed

[2020-09-14 10:07] ShaneBala-keyvault commented on #61017
Hey @aramase thank you so much for catching these issues. I went ahead and updated the document with your recommendations. The PR has been submitted and the changes will go live in 48-72 hrs. Thanks again! I am proceeding to archive this request for now.

[2020-09-14 10:07] ShaneBala-keyvault commented on #61017
#please-close

[2020-09-14 10:07] #61017 closed

[2020-09-14 10:10] SnehaAgrawal-MSFT commented on #62559
@twentyonegrams Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 10:10] SnehaAgrawal-MSFT commented on #62564
@lokijota Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 10:11] ShaneBala-keyvault commented on #60464
Hey @pvmraghunandan, thank you for your feedback. Unfortunately we cannot split this into two separate docs. We made a design decision to show both service principal and managed identity commands side by side so customers can pick the experience they prefer. We have gotten feedback before that it is difficult to dig through multiple docs to find the right commands. We have made some improvements a

[2020-09-14 10:11] ShaneBala-keyvault commented on #60464
#please-close

[2020-09-14 10:11] #60464 closed

[2020-09-14 10:22] teilmeier opened #62576 "Add "New Developer Portal" to the section "What is not backed up""
The new developer portal content seems not to be included in the backup as stated here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#is-the-portals-content-saved-with-the-backuprestore-functionality-in-api-management

Please add it to the list of excluded items as it is important to know if you're working on a DR concept.

---
#### Document Details

⚠

[2020-09-14 10:25] JayaChatterjee-MSFT commented on #62576
@teilmeier Thank you for your feedback! We will review and update as appropriate.

[2020-09-14 10:36] SnehaAgrawal-MSFT commented on #62428
Thanks for asking question! When you scale out your App Service plans, workers are automatically added to support them. Every ASE is created with two front ends. The front ends automatically scale out at a rate of one front end for every set of 15 App Service plan instances. For example, if you have three App Service plans with five instances each, you'd have a total of 15 instances and three fron

[2020-09-14 10:42] MNF opened #62577 "Still refer to flow instead of Power Automate"
In a few places, E.g. “ A flow can call a logic app”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Integration and automation platform options in Azure](https://docs.microsoft.com/en-us/azure/azure-functions

[2020-09-14 10:45] EmreMARTiN opened #62578 "Azure Applicaiton Gateway V2 Certification Issue"
Greetings,

i have configured a Azure Application gateway (v2) and there is one backend servers.
Applicaiton works fine on the backend servers with 443 certificate from Digicert.

When i check health probe details are following:
Message: The root certificate of the server certificate used by the backend does not match the trusted root certificate added to the application gateway. Ensure that you a

[2020-09-14 10:51] v-hagamp commented on #58098
@jeevansd , this is already added instruction in 4.c
![image](https://user-images.githubusercontent.com/59013559/93077183-183ee300-f6a6-11ea-9fe4-eb57a80181a8.png)
Do we need to add more in this?

[2020-09-14 10:52] lokijota commented on #62564
Added note:

**NEW**- there is not information on how to obtain and where to copy the `camera-300s.mk` file, so the sample doesn't run.

[2020-09-14 10:58] yoadfe opened #62579 "errors in starting example app due to issues with gulp 3.9.2 and node 12"
As no specific version of node/gulp is noted in the guide, i have installed latest node and gulp 3.9.2 (by using npm install). It turns out that due to graceful-fs version mismatch, the app won't load. See this for the error + fix:
https://stackoverflow.com/questions/55921442/how-to-fix-referenceerror-primordials-is-not-defined-in-node

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-09-14 10:58] chayanbaner commented on #62448
I was running it from a VM in Azure.

[2020-09-14 11:07] KalyanChanumolu-MSFT commented on #62347
@abatishchev We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-14 11:07] #62347 closed

[2020-09-14 11:11] pvmraghunandan commented on #60464
@ShaneBala-keyvault  Doc looks much better. One quick question. Why should we assign Reader role in addition to Contributor Role? Also, the latest doc refers AAD Pod Identity instead of "VMAssignedIdentity". Is that the latest guidance?

![image](https://user-images.githubusercontent.com/7496232/93079063-24786f80-f6a9-11ea-9cac-6322adea7838.png)

[2020-09-14 11:16] chayanbaner commented on #62448
From Azure portal as well getting error:
![image](https://user-images.githubusercontent.com/8225013/93079501-dc0d8180-f6a9-11ea-9313-9107f022eb36.png)

Resource is located in North Europe

[2020-09-14 11:21] jtuliani opened #62581 "Clarify tolerations behaviour"
Doc states: Only pods that have this toleration applied can be scheduled on nodes in gpunodepool.

That means they *CAN* be scheduled on this nodepool. But does it mean they *WILL* be? Or could they also be scheduled elsewhere? Specifically, does a toleration mean the pod can ONLY be scheduled on a node with the corresponding taint? Or can it be scheduled on any node so long as that node doesn't h

[2020-09-14 11:27] dominicbetts commented on #50141
@dc995 -We've made some updates to this article and fixed the image.

[2020-09-14 11:27] dominicbetts commented on #50141
#please-close

[2020-09-14 11:27] #50141 closed

[2020-09-14 11:28] stefandoh opened #62583 "Diagram uses subnets instead of single IPs for Nodes"
In [this section](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#overview-of-kubenet-networking-with-your-own-subnet) there is a diagram illustrating that the node pool is using a subnet of 192.168.1.0/24. Additionaly the node1 resp. node2 are represented as 192.168.1.1/24 resp. 192.168.1.2/24. According to my understanding this should be IPs within that subnet so for node1 resp. nod

[2020-09-14 11:33] SwathiDhanwada-MSFT commented on #62516
@AdimUser Thanks for reaching out.  You might have missed it , but the process to sign up for preview is documented. The highlighted portion in the image is the hyperlink for signing up for preview.

![image](https://user-images.githubusercontent.com/48976275/93080865-fa747c80-f6ab-11ea-8cb2-8bc3537186c0.png)

[2020-09-14 11:40] jtuliani opened #62585 "Taint example not working"
Example ```az aks nodepool add --node-taints aks-gpunodepool-28993262-vmss000000 sku=gpu:NoSchedule``` does not work

It is trying to add a taint to a node after the nodepool is created

```az aks nodepool add -h``` explicitly states that taints must be added when the nodepool is created, they cannot be added afterwards.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-09-14 11:47] AnuragSharma-MSFT commented on #62571
@pvmraghunandan Apologies as we could not see the last comment posted by you on [#61862](https://github.com/MicrosoftDocs/azure-docs/issues/61862).

This is being assigned to the content author to evaluate as appropriate.

Meanwhile could you please elaborate how were you invoking the Private Link? Also did you create the private link by referencing this [link](https://docs.microsoft.com/en-us/azu

[2020-09-14 11:50] AshokPeddakotla-MSFT commented on #62534
@sanjayntms Could you please update in which step you are getting the error message?

[2020-09-14 11:58] pvmraghunandan commented on #62571
Almost similar setup. In our case, the client stays in both On Premises and Azure. We communicate to Maria Db via Private Endpoint.

[2020-09-14 11:59] boecskoer commented on #62531
I have to amend my test scenarios:

`sub/**/*.xlsx` works but `sub/**/*grouped.xlsx` does not.

My folder and file structure:
`container/sub/2020-09/summary/example_grouped.xlsx`

`sub/**/*.xlsx` => works
`sub/**/*grouped.xlsx` => NoSuchElementException
`sub/2020-09/*/*.xlsx` => NoSuchElementException
`sub/*/Summary/*.xlsx` => NoSuchElementException
`sub/2020-??/Summary/*.xlsx` => NoSuchElementExc

[2020-09-14 11:59] AnuragSharma-MSFT commented on #62566
@rajasekarankanakkampatti Thanks for letting us know the issue, really appreciate your inputs. We have updated the document content accordingly.
The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-09-14 12:00] ifslearning opened #62586 "Seamless migration - adding additional output claims causes "Bad Request - Request Too Long""
I've been following this [Seamless Migration guide](https://github.com/azure-ad-b2c/user-migration/tree/master/seamless-account-migration) but I've run into a problem. My existing 'SelfAsserted-LocalAccountSignin-Email' technical profile already contains 4 output claims, but when I add the additional output claim - extension_requiresMigration, and run the site I just get the error "Bad Request - R

[2020-09-14 12:22] krish-gh commented on #62578
@EmreMARTiN, Thanks for the feedback. However, we need few details. Can you please add reference to relevant Microsoft Docs page you are following? Every documentation page has a feedback section at the bottom. If you create the issue from there, the required details will be auto-populated.
![image](https://user-images.githubusercontent.com/2088089/93085197-d49ea600-f6b2-11ea-83bf-f2d37b52c23b.png

[2020-09-14 12:28] PramodValavala-MSFT commented on #62577
@MNF While the service has been renamed from Microsoft Flow to Power Automate, workflows are still referred to as _flows_ as in [their docs](https://docs.microsoft.com/en-us/power-automate/getting-started).

[2020-09-14 12:32] jamcguire opened #62588 "Article invalid"
Hi there,

This article doesn't appear to be valid:

Under subheading entitled, "Configuring your key vaults for monitoring", section 1 mentions "The Operations & Latency tab" but does not explain where this is located.  I am unable to find this tab.  I therefore cannot enable diagnostic logs.

I recently spoke with an AZ104 instructor who advised me that Key Vault monitoring is no longer in previ

[2020-09-14 12:42] EmreMARTiN commented on #62578
Hi krish-gh,

Export trusted root certificate (for v2 SKU):
https://docs.microsoft.com/en-us/azure/application-gateway/certificates-for-backend-authentication#export-trusted-root-certificate-for-v2-sku

End-to-end TLS with the v2 SKU
https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#end-to-end-tls-with-the-v2-sku

[2020-09-14 13:00] RohitMungi-MSFT commented on #62539
@compvishal The usage of the package is only dependent on the dependencies as listed in the nuget page:

[2020-09-14 13:11] shashishailaj commented on #62568
@taftse Thank you for pointing this out . We will update this .

[2020-09-14 13:16] shashishailaj commented on #62563
@msmimart Thank you for your feedback . We will pass this feedback to the team.

[2020-09-14 13:16] GitaraniSharma-MSFT commented on #62312
@kasimrehman , as we've not heard from you in sometime, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-14 13:16] #62312 closed

[2020-09-14 13:20] shashishailaj commented on #62561
@dmartin-agi Thank you for your feedback . We will investigate and update the thread.

[2020-09-14 13:20] GitaraniSharma-MSFT commented on #62318
@kasimrehman , thank you for your suggestion. We have assigned this to the content owner/author for review.
@asudbring , could you please review the suggestion and provide your inputs?

[2020-09-14 13:21] PatrikHanssonIntersolia opened #62589 "Selecting a data collection tier in Azure Security Center WITHOUT auto provisioning"
Hi
Is it not possible to select how much security events are collected without turning on auto-provisioning ?
Links to manual steps point to pages ending up in log analytics -> advanced and there Security Event log is not listen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8267e218-3748-2820-3eee-80479705eec2
* Vers

[2020-09-14 13:24] shashishailaj commented on #62558
@ArttuArstila Thank you for your feedback . We will investigate and update the thread.

[2020-09-14 13:26] akshaymatmicrosoft opened #62590 "Storage Sync Service Name uniqueness is "per region" and not "per subscription""
Storage Sync Service Name uniqueness is "per region" and not "per subscription". This was confirmed by FileSync engineering group over [ICM 201364135](https://portal.microsofticm.com/imp/v3/incidents/details/201364135/home).

Following statement under Topic "**Deploy the Storage Sync Service**" portal tab needs to be changed:

**From**
Name: A unique name (per subscription) for the Storage Sync Se

[2020-09-14 13:28] GitaraniSharma-MSFT commented on #62510
@dpapkin , thank you for your feedback. I checked Azure portal screen for Virtual Machine creation and the Management tab has definitely changed as the screenshot you have attached.
![image](https://user-images.githubusercontent.com/67630903/93091626-f81a1e80-f6bb-11ea-88d2-7df5bc67a243.png)

Hence, we have assigned this to the content owner/author for review and making the appropriate changes.

@

[2020-09-14 13:29] shashishailaj commented on #62573
@neetima09 Thank you for your query. We will investigate and update the thread.

[2020-09-14 13:33] kiranpradeep opened #62591 "Is there a precondition for using iotedge commands ?"
I was following the section "Use iotedge commands". But I am getting error on iotedge commands. Is there a precondition for using iotedge commands? If yes, please mention that in doc.

![iotedge](https://user-images.githubusercontent.com/1491933/93097014-ab861180-f6c2-11ea-96a3-71994844dafc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-14 13:33] MSSedusch commented on #61609
@Karishma-Tiwari-MSFT can you please assign this issue to @rdeltcheva ? Thanks

[2020-09-14 13:37] #62542 closed

[2020-09-14 13:41] RyanHill-MSFT commented on #62560
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 13:45] RavSalgado commented on #62506
Thanks, Haritha, what put the internal Azure backbone communication in doubt was, when I  disabled public network access to the adf instance I was not able to register the IR. I had to make it public first. Then when I tried to create a private endpoint, I was not able to select a Microsoft.networking/VirtrualNetwork resource type to create a private endpoint to a vnet of my choice, But Microsoft.

[2020-09-14 13:47] RyanHill-MSFT commented on #62570
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 13:58] SubhashVasarapu-MSFT commented on #62176
@Anand-Moghe, Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-09-14 14:02] SnehaAgrawal-MSFT commented on #62579
@yoadfe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 14:03] SubhashVasarapu-MSFT commented on #62574
@sharath-srinivasan, Thanks for reaching out. We will investigate and update this thread.

[2020-09-14 14:09] RyanHill-MSFT commented on #62581
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 14:10] wamartin-aml commented on #62495
The "Specify primary metric" header, "Specify the" in that section, "Log metrics for hyperparameter tuning" header, "The training script...run performance. (See" in that section, everything in the "Specify early termination policy" section including the header and the "Bandit policy" header below that. Looks like Rohit already has a PR fixing some of these.

As for other feedback, I think it would

[2020-09-14 14:11] RyanHill-MSFT commented on #62583
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-14 14:12] RyanHill-MSFT commented on #62585
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 14:14] SatishBoddu-MSFT commented on #61333
Hello @TwoPatient
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-09-14 14:28] KrishnaG-MSFT commented on #62462
@michael-niemand Verified and updated the document as required. The change should go live soon (i.e., in less than 24 hours). Thanks.

[2020-09-14 14:28] #62462 closed

[2020-09-14 14:29] KrishnaG-MSFT commented on #62555
@PCNZ Verified and updated the document as required. The change should go live soon (i.e., in less than 24 hours). Thanks.

[2020-09-14 14:29] #62555 closed

[2020-09-14 14:51] danieltarita opened #62595 "[Python SDK] exporting an Iteration - (train model online + predict offline)"
Hi! I'm trying to [**Part 1**]make a python script that uploads images and uses the Custom Vision service (for object detection), and [**Part 2**] other python script that uses the trained model and do the prediction "offline" (using TensorFlow).

So, for **part 1**, I followed  [this documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/Custom-Vision-Service/quickstarts/object-

[2020-09-14 14:52] RyanHill-MSFT commented on #62586
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 14:53] MonikaReddy-MSFT commented on #62263
@tamatsuxyz -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-09-14 14:53] #62263 closed

[2020-09-14 14:53] RyanHill-MSFT commented on #62588
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 14:56] RyanHill-MSFT commented on #62589
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 15:09] RyanHill-MSFT commented on #62590
Thanks for the update @akshaymatmicrosoft.

[2020-09-14 15:11] philippschaefer4 opened #62596 "Authentication for a published pipeline"
Hi,

I just published my first pipeline (Python SDK) and wanted to test it out, calling it from postman. But I realized that I don't have any authentication information and always get only 401-responses. Documentation describes how to get an authorization token in python but I eventually want to call the pipeline from a Power Automate Flow.
Now I'm asking myself how to authenticate such a call.

T

[2020-09-14 15:12] #62590 closed

[2020-09-14 15:13] RyanHill-MSFT commented on #62591
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 15:13] HarithaMaddi-MSFT commented on #62506
@RavSalgado - Thanks for the detailed response.

@nabhishek - Can you please take a look and share your thoughts.

[2020-09-14 15:15] tfitzmac commented on #62516
@AdimUser - any additional steps are handled through the sign up process. Sometimes new sign ups are paused. When did you complete the sign up form?

[2020-09-14 15:19] abatishchev commented on #62347
Hi @KalyanChanumolu-MSFT, was the documentation updated? The purpose of this issue was just that.

[2020-09-14 15:32] tfitzmac commented on #62359
@MNF - thanks for making us aware of the needed change. I will work on it today.

[2020-09-14 15:32] damendo opened #62597 "Upper limit for daysAfterModificationGreaterThan?"
Is there an upper limit for the value that can provided in daysAfterModificationGreaterThan?
Want to know if there is an upper limit on the period after which I can delete a blob (via policy).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f35

[2020-09-14 15:35] lukos opened #62598 "This failover process is simply not true"
We use Azure Key Vault for production systems and need to access keys frequently to verify encrypted tokens. Azure tells me that UK South currently has issues with the key vault and yet according to this page, the key vault will failover, presumably to UK West and within a few minutes, we would at least get readonly access. However, over an hour later and we still cannot access the key vault.

Thi

[2020-09-14 15:47] krish-gh commented on #62578
@EmreMARTiN , you mentioned your backend certificate is from "Digicert" which is already a well-known trusted CA. Certificates signed by well known CA authorities whose CN matches the host name in the HTTP backend settings do not require any additional step for end to end TLS to work. You should remove the exported trusted root you added in the App Gateway.

[2020-09-14 15:54] mrbullwinkle commented on #62588
This section of the interface was released briefly and then retired. The doc has been updated internally to no longer reference the removed section. Thanks for calling this out and bringing to our attention. The change will go-live in the public docs between 10-11 AM (UTC-7) later today.

[2020-09-14 15:58] amanmcse commented on #61603
@wj109s5
You are not required to add `<Item Key="PartnerEntity">https://samltestapp2.azurewebsites.net/Metadata</Item>` in policy file and B2C should read the application manifest from `"samlMetadataUrl"` parameter in the application manifest. Do you have Assertion Consumer Service location added to your manifest, as shown below:
`<AssertionConsumerService index="0" isDefault="true" Binding="urn:o

[2020-09-14 15:59] tfitzmac commented on #62359
The update will get published later today.
#please-close

[2020-09-14 15:59] #62359 closed

[2020-09-14 16:00] crisansou commented on #62507
Hi @RohitMungi-MSFT ,

I sent the email with the step by step. Thank you.

[2020-09-14 16:00] NavtejSaini-MSFT commented on #62356
@BertAnthonyRochester We are going ahead and closing this issue for now. If you need more help with this issue, please get back to us.

[2020-09-14 16:00] #62356 closed

[2020-09-14 16:00] residentx10 opened #62599 "Move "Concepts" to after Overview"
[Enter feedback here] You have "Concepts" at the very end of SQL Edge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7077b5a-b7a6-9319-9df6-bd8cf8b332dc
* Version Independent ID: b06640ac-13e3-c3d1-a0da-2265f371236c
* Content: [Machine learning and AI with ONNX in Azure SQL Edge (Preview)](https://docs.microsoft.com/

[2020-09-14 16:08] NavtejSaini-MSFT commented on #62409
@hoksource  It will definitely be impossible to give one size fit all performance notes for such scenarios. We recommend that you create POC for your workload and data.
This way you will be able to create a performance baseline for your scenario and will help you regarding your architecture.
We are still checking with our author regarding the same.
@MladjoA Is there a guidance for above scenarios

[2020-09-14 16:11] residentx10 commented on #62599
![SQL_Edge](https://user-images.githubusercontent.com/9274020/93110497-67275100-f683-11ea-80f5-c81e9d238213.png)

[2020-09-14 16:11] frank-fischer-by opened #62600 "Cryptographic keys for SAML technical profile are ambiguous"
* <https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs2016-custom> stipulates

[code]

  But `SamlMessageSigning` is not defined as a valid value for `CryptographicKeys` on this page.
* `SamlAssertionDecryption` is stipulated as a **Required** key on this page, but above ADFS example does not use it. Furthermore, it should _only_ be required if `WantsEncryptedAsserti

[2020-09-14 16:25] femsulu commented on #62588
thanks @mrbullwinkle  - closing this issue based on the above.

[2020-09-14 16:25] #62588 closed

[2020-09-14 16:32] DerekHerman-MSFT commented on #62597
@damendo
I was able to confirm that the upper limit is 1000 years. I am going to close this issue out. If you have further questions please tag me in your response.

[2020-09-14 16:32] #62597 closed

[2020-09-14 16:32] MarileeTurscak-MSFT commented on #62525
If a role is renamed, the role ID does not change. But if you make a new role it gets a new role ID. This is similar to how Object IDs work.

https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-cli

This is by design, but if you would like to make a feature request you can do so in User Voice. https://feedback.azure.com/

[2020-09-14 16:32] #62525 closed

[2020-09-14 16:39] iainfoulds commented on #62550
Thanks for the suggestion, @Conan1989

This is a known issue, and the product team has already started working on PowerShell and Graph API support for managing Azure Multi-Factor Authentication. There's an [existing Uservoice feedback item](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20249953-powershell-and-graph-api-support-for-managing-mult) you can up-vote to hel

[2020-09-14 16:39] #62550 closed

[2020-09-14 16:39] iainfoulds commented on #60492
Thanks for the suggestion, @jonwbstr

This is a known issue, and the product team has already started working on PowerShell and Graph API support for managing Azure Multi-Factor Authentication. There's an [existing Uservoice feedback item](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20249953-powershell-and-graph-api-support-for-managing-mult) you can up-vote to help

[2020-09-14 16:39] #60492 closed

[2020-09-14 16:45] RavSalgado commented on #62506
Update: I created a private link for the SHIR, by putting a load balancer in front of the IR, then created an endpoint in the networking section for the adf via the portal for the resource Microsoft.Network/private link services. even with this, if I disabled the public network access to the adf, the IR goes offline and i get a key error in the IR.

Note: even though the private endpoint resources

[2020-09-14 16:47] DerekHerman-MSFT commented on #61693
@immeoawt Apologies for the delay here. I confirmed with the product team that the the [Copy Blob documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) has been updated to include versionid information. Can you check and see if it resolves your issue?

[2020-09-14 16:54] SaurabhSharma-MSFT commented on #62598
@lukos Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-09-14 16:58] sindhuragade commented on #62343
Yes, we do have a name property which is not unique. But I guess since we are using the userId as the partition key, and each User will be present in a separate logical partition, Name would be unique within that partition.

But if we do not want to map this name  to 'id', is the concern about just having duplicate data? Or is there any other problem with have the same value in 'id' and 'userId' a

[2020-09-14 16:59] bandersmsft commented on #62377
@SadiqhAhmed-MSFT Thanks for resolving this issue so quickly!

[2020-09-14 16:59] SwathiDhanwada-MSFT commented on #62171
@ms-zhouma Have you got chance to check the previous comment and revert if you have further questions?

[2020-09-14 17:04] alkohli commented on #62591
@RyanHill-MSFT  Please assign this issue to me.

@kiranpradeep thank you for your feedback! I first tested these commands in this version 2.1.1331.15240. Though the friendly software version if 2008, but that tag maps to multiple August releases. Most likely your version does not have these commands. I am checking this with Engineering. Please note that new features/functionalities become availabl

[2020-09-14 17:07] damendo commented on #62597
@DerekHerman-MSFT got it, so I can provide any value less than 365000 in daysAfterModificationGreaterThan ?

[2020-09-14 17:13] kenwith commented on #62509
On August 31, 2020  https://myapps.microsoft.com became the new experience. Previous to this change https://myapplications.microsoft.com was the new experience and https://myapps.microsoft.com was the older experience. With the change on Aug 31, myapps.microsoft.com is the single URL for My Apps.

[2020-09-14 17:14] SaurabhSharma-MSFT commented on #62600
@frank-fischer-by Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-09-14 17:15] DerekHerman-MSFT commented on #62597
That is correct.

[2020-09-14 17:17] asudbring commented on #54808
Pricing info moved
#please-close

[2020-09-14 17:17] #54808 closed

[2020-09-14 17:21] YutongTie-MSFT commented on #62599
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 17:21] YutongTie-MSFT commented on #62596
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 17:22] SwathiDhanwada-MSFT commented on #62240
@pradtheep The template you have provided works perfectly. However, when you are trying to deploy using "ARM Template Deployment" task in the release pipeline of Azure DevOps , you were setting the scope to Resource Group in the task, so you were being prompted with error. Instead you should set the scope to subscription when deploying Resource Group.  As resource groups exist inside subscription.

[2020-09-14 17:22] #62240 closed

[2020-09-14 17:22] YutongTie-MSFT commented on #62595
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-14 17:24] asudbring commented on #62318
Sending to PM for review

#please-assign:@christiankuhtz

[2020-09-14 17:27] dphansen commented on #62599
@residentx10 Thank you for the feedback. We will look into it.

@YutongTie-MSFT I've sent off this issue to the SQL docs team.

[2020-09-14 17:30] TravisCragg-MSFT commented on #62192
@suneelsunkara unfortunately it does not, the doc outlines the geo functionality that Azure CDN has.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-14 17:30] #62192 closed

[2020-09-14 17:30] asudbring commented on #49038
Status for GA of services is here:
https://docs.microsoft.com/en-us/azure/private-link/private-link-overview

#please-close

[2020-09-14 17:30] #49038 closed

[2020-09-14 17:33] asudbring commented on #54034
Information corrected in article on DNS setup.

#please-close

[2020-09-14 17:33] #54034 closed

[2020-09-14 17:36] asudbring commented on #57782
#please-close

[2020-09-14 17:36] #57782 closed

[2020-09-14 17:37] cloudlene commented on #62070
Thank you!  Installing 3.x.x solved my issue.

[2020-09-14 17:37] asudbring commented on #56607
#please-close

[2020-09-14 17:37] #56607 closed

[2020-09-14 17:39] mbialecka commented on #61333
@TwoPatient sorry, I don't know what else you can try. We can try research the underlying issue but it may be hard as the support comes from a few layers down. Please share your host OS name & version, module version (it's logged in module logs on startup), and output from `docker inspect <storage module name>` (sanitize any connection keys).

[2020-09-14 17:40] JohnPoetzinger opened #62602 "Data Transfer pricing on pricing page"
It is critical that the pricing for data transfer between hubs be reflected on the pricing page. Since this pricing is not the standard data egress pricing nor the peering pricing it needs to be reflected on the Pricing page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202e9400-44a2-a670-6c8b-4767123427f1
* Version

[2020-09-14 17:55] asudbring commented on #60240
Assigning to PM for review:

#reassign:@sohamnchatterjee

[2020-09-14 17:56] asudbring commented on #61490
Sending to PM for review

#reassign:@mdgattuso

[2020-09-14 17:57] asudbring commented on #62474
Sending to PM for review

#reassign:@mdgattuso

[2020-09-14 18:03] asudbring commented on #60436
#please-close

dupe of #61177

[2020-09-14 18:03] #60436 closed

[2020-09-14 18:03] stevestein commented on #62599
#reassign:stevestein

[2020-09-14 18:10] stevestein commented on #62599
@residentx10 - thanks for pointing this out. The SQL Edge table of contents is currently under review and will likely be updated soon.

Thanks for the feedback!

#please-close

[2020-09-14 18:10] #62599 closed

[2020-09-14 18:27] YutongTie-MSFT commented on #62596
@NilsPohlmann Could you please share any insight here? I can not find any document for it. Thanks.

[2020-09-14 18:34] MarileeTurscak-MSFT commented on #62586
Hi @ifslearning,

Here are some things you can try:

1. Limit the amount of claims you include in your token so you don't end up with longer http requests.

2. Close the browser and restart.

3. Use b2clogin.com instead of login.microsoftonline.com

Since this is more of a troubleshooting question than a documentation issue I am closing this out, but if you have further questions feel free to reac

[2020-09-14 18:34] #62586 closed

[2020-09-14 18:42] rubenz91 opened #62603 "Validate RBAC Permission step description (Seems to be an error there)"
Please clarify the section of "Assign Azure RBAC permissions to Windows Virtual Desktop users" as it states that when we want our users to have access to their FSLogix Profile we need to provide the role of "Storage File Data SMB Share Contributor" and normal process is to provide "Storage File Data SMB Share Elevated Contributor", but doesn't make sense from the access as they already get with el

[2020-09-14 18:43] barclayn commented on #52930
@reassign:barclayn

[2020-09-14 18:44] SnehaGunda commented on #62343
@sindhuragade  The /id and /label field names are used by the system, you can't use these for the partition key field names. Note that the /id is a field name, you can map it to a different property like you said (/userId) and use that as a partition key.

[2020-09-14 18:45] barclayn commented on #49685
#reassign:barclayn

[2020-09-14 18:46] barclayn commented on #49289
#reassign:barclayn

[2020-09-14 18:52] barclayn commented on #48000
#reassign:barclayn

[2020-09-14 18:57] robinsh commented on #42615
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-overview#applying-enrichments

this doc talks about sending enrichments to event grid. If this isn’t enough, let me know and I’ll augment the article.

Robin

From: António Sérgio Azevedo <notifications@github.com>
Sent: Sunday, September 13, 2020 10:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rob

[2020-09-14 18:57] barclayn commented on #45107
#reassign:barclayn

[2020-09-14 19:05] Hoppy7 commented on #57621
There's been some new functionality added to purging subdomains:
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-purge

Note:
Purging wildcard domains: Specifying cached paths for purging as discussed in this section doesn't apply to any wildcard domains that are associated with the Front Door. Currently, we don't support directly purging wildcard domains. You can purge p

[2020-09-14 19:13] EricJLarson opened #62604 "Set AZURE_STORAGE_CONNECTION_STRING with "export""
In the Bash instructions, for the environment variable "AZURE_STORAGE_CONNECTION_STRING" to be available to the `az storage` commands, it must be exported.  In the docs, prefix "export" to the command that sets the variable.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 300eb759-d21c-3df9-2aa9-f60bb611ee3a
* V

[2020-09-14 19:14] MicrosoftGuyJFlo commented on #62473
You could achieve this by requiring device compliance with Intune policies.
https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-grant#require-device-to-be-marked-as-compliant
https://docs.microsoft.com/mem/intune/protect/device-compliance-get-started
https://docs.microsoft.com/azure/active-directory/conditional-access/howto-conditional-access-policy-comp

[2020-09-14 19:14] MicrosoftGuyJFlo commented on #62473
#please-close

[2020-09-14 19:14] #62473 closed

[2020-09-14 19:20] EmreMARTiN commented on #62578
@krish-gh actually it was actually what have i tried firstly but sitouiotion was same.

[2020-09-14 19:27] krish-gh commented on #62578
Was the error "exactly" the same before you explicitly added the exported root rather than relying on "Digicert" as known authority? i.e. "The root certificate of the server certificate used by the backend does not match the trusted root certificate added to the application gateway". Otherwise please share the message in that scenario without adding root explicitly.

[2020-09-14 19:29] EmreMARTiN commented on #62578
Yes it was excalty same.

[2020-09-14 19:45] krish-gh commented on #62578
Thanks for clarifying. In that case, I suggest you to create an [Azure Support ticket](https://azure.microsoft.com/support/create-ticket/) to take a closer look at your issue. Let me know here if you face any issue reaching Azure support.

[2020-09-14 20:01] PeterCLu commented on #62495
@wamartin-aml, thanks for calling this to our attention. I've created a PR that resolves the hyperlinking rendering issue.

@sdgilley can you work with @swatig007 on the content items?

#assign:@sdgilley

[2020-09-14 20:12] mrmuskrat opened #62605 "Foreign Keys"
This tutorial instructs users to drop the foreign keys but never follows up to say when they should be added back. Anyone not extremely familiar with PostgreSQL or databases in general might not remember to add them after cutover.

Additionally, it might be beneficial to show how to apply invalid foreign keys in one step and validate them in another.

I've modified the query used in the page if yo

[2020-09-14 20:18] morteza54dp opened #62607 "Is OCSP supported in azure api management? How does certificate revocation verify work?"
There is question on this page https://github.com/MicrosoftDocs/azure-docs/issues/35369

The provided reply doesn't answer whether OCSP or CRL is supported. 

Is it possible to use a user define CRL and feed that when verify performed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51769134-4b97-0a48-3031-cbcea10ca714

[2020-09-14 20:25] Gryczka opened #62608 "Premium ZRS Support"
Should Premium_ZRS be added to the list of available Azure storage redundancies for creating a storage class?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Dynamically create Azure Files share - Azure Kubern

[2020-09-14 20:30] allegradomel commented on #49380
This looks like it has been fixed in the doc - I am closing this now. @mycloudarchitect, please let me know if there are additional issues.
#please-close

[2020-09-14 20:30] #49380 closed

[2020-09-14 20:36] morteza54dp opened #62609 "Does APIM support keep-alive? Can we configure keep-alive timeout?"
please see the title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a564ccd6-2523-9ade-e002-f79d5c6deeaf
* Version Independent ID: e099ba5d-60af-22b7-46e7-8054e707d5bf
* Content: [Manage protocols and ciphers in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-manage-prot

[2020-09-14 20:36] PeterCLu commented on #62551
Hi @residentx10 ,

Thanks for the report. I'm investigating to see why the PDF document isn't including some of the articles in the document set.

[2020-09-14 20:37] PeterCLu commented on #62551
#assign:@peterclu

[2020-09-14 20:40] #62423 closed

[2020-09-14 20:55] andypituch opened #62610 "Review Step 1 (no URL provided)"
Step 1 of this article mentions needing to add an Azure AD URL to the "Local Intranet Zone" in order for SSO to function, but never says what URL needs added specifically.

There is no mention of needing to add https://autologon.microsoftazuread-sso.com to the local intranet zone, unless I look at
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-3-

[2020-09-14 20:57] SaurabhSharma-MSFT commented on #62419
@opticyclic Sorry but this is currently not possible using Terraform or Azure CLI. I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the

[2020-09-14 20:57] #62419 closed

[2020-09-14 21:02] PeterCLu commented on #62551
@residentx10, I've submitted a PR that should resolve the issue of the PDFs not rendering properly. You should see the changes live in a few days. I'll proceed to #please-close this issue.

If the issue persists even after a few days, please let me know by opening another issue and adding me with @PeterCLu .

[2020-09-14 21:02] #62551 closed

[2020-09-14 21:12] AjayKumar-MSFT commented on #62505
Thanks for taking time to share your valuable feedback and suggestion.
To test this out, just to confirm, are you leveraging Laravel? it uses the public/ subdirectory as the site root.

The .htaccess file to your repository root to have both lines:

     `<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} ^(.*)
    RewriteRule ^(.*)$ /public/$1 [NC,L,QSA]
     </IfModule>

[2020-09-14 21:22] #62401 closed

[2020-09-14 21:23] WinstonHoward-MSFT commented on #62401
Hey Josh,

Thanks again for the feedback. I went ahead and changed the verbiage so that people don’t just plugin the code snippets together and see it failing. I also fixed a minor bug in the YAML examples. Thanks again for bringing this to our attention. I will close this issue now, the PR is inprogress. If you need anything else please feel free to leave a comment, have a good one.

[2020-09-14 21:34] allegradomel commented on #59797
Thanks @schulmeisterrr for the feedback! I have created a PR for this in the private repo. The changes should go live within the next day. #please-close

[2020-09-14 21:34] #59797 closed

[2020-09-14 21:40] zr-msft commented on #35335
Thank you @bnookala for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-09-14 21:40] #35335 closed

[2020-09-14 21:49] amenarde commented on #61794
I see, you don't need to change the way it is declared in the SF manifest unless it is is your goal to (described here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure#adding-or-removing-client-certificates). For a client certificate declared by thumbprint in SF (cluster definition), CertificateNotMatched indicates that the certificate the cl

[2020-09-14 21:51] jlichwa commented on #62180
@karataliu that command fails when run under service principal:
`az keyvault storage add ...`
https://github.com/MicrosoftDocs/azure-docs/issues/26079

[2020-09-14 21:52] zr-msft commented on #47558
Thank you @AlexanderViken for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-09-14 21:52] #47558 closed

[2020-09-14 21:53] jeffersg opened #62613 "Sample code uses deprecated libraries"
C:\Users\grant.jeffers\scratch\cert_status>npm install @azure/ms-rest-nodeauth
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: this library is no longer supported

Please pick an up-to-date library from https://github.com/request/request/issues/**3143** so that the code is usable.

---
####

[2020-09-14 21:53] zr-msft commented on #43504
Thank you @v-maudel for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-09-14 21:53] #43504 closed

[2020-09-14 21:57] DCtheGeek commented on #62613
#assign:DCtheGeek

[2020-09-14 22:00] jlichwa commented on #61933
There is no difference in code with compound identity. If you set it up access policy for user + application, access will be granted only when this user is running code from this application. It is done automatically with same code. #please-close

[2020-09-14 22:00] #61933 closed

[2020-09-14 22:02] DCtheGeek commented on #62613
@jeffersg Thanks for the feedback.  The library `@azure/ms-rest-nodeauth` is managed in a different repo.  As the sample works, despite the deprecations, I'm going to close this issue here in Docs.  I'd recommend opening an issue in the repo where that package is built: https://github.com/Azure/ms-rest-nodeauth.  Thanks again!

@MicrosoftDocs/azure-cxp-triage Please label 'product-issue' and #plea

[2020-09-14 22:02] #62613 closed

[2020-09-14 22:02] zr-msft commented on #47746
Thank you @dcbrown16 for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-09-14 22:02] #47746 closed

[2020-09-14 22:05] zr-msft commented on #49218
Thank you @joeizy for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-09-14 22:05] #49218 closed

[2020-09-14 22:05] agentsim opened #62614 "Confusing dates"
So which is it? October 26th or November 30th?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15324c6e-63fe-6a76-c0a5-f7fffcaa281b
* Version Independent ID: 1daf1b70-0b64-54b8-3f95-d344d5ac6c76
* Content: [Certificate rotation for Azure Database for MariaDB](https://docs.microsoft.com/en-ca/azure/MariaDB/concepts-certi

[2020-09-14 22:17] jmbrunskill opened #62615 "Missing step in Request Live Migration to ZRS section of Azure Storage Redundancy Migration"
Under the storage 'request-a-live-migration-to-zrs' section, the docs don't mention that you need to select issue type 'technical' to be able to select 'Storage Account Management' and carry on to correctly requesting a live ZRS migration.
https://docs.microsoft.com/en-us/azure/storage/common/redundancy-migration?tabs=portal#request-a-live-migration-to-zrs
![image](https://user-images.githubuserco

[2020-09-14 22:21] MashaMSFT commented on #58816
Hi @OmegaMadLab , our apologies for the delay, we're still investigating

#assign: kfarlee

[2020-09-14 22:22] MashaMSFT commented on #60158
#assign: kfarlee

[2020-09-14 22:22] MashaMSFT commented on #60223
#assign: kfarlee

[2020-09-14 22:25] kummanish commented on #62614
hi @agentsim , its october 26th. I have updated the doc. it will be updated soon.
Thanks for the correction.

[2020-09-14 22:25] mrdenny opened #62616 "What about PaaS?"
This page talks about how to update these root certificates in what I assume is IaaS and on-prem VMs. If you are using a PaaS service such as a WebApp, what needs to be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f658e3b9-7022-ba3f-2ee5-001425fab562
* Version Independent ID: 20f7b87a-3aa6-c326-8cc7-2cab9238a36

[2020-09-14 22:26] andrei-m-code commented on #50047
Same issue. It's pending after going through all the steps.

[2020-09-14 22:35] iainfoulds commented on #62528
Thanks for the feedback, @MWL88

Given separation of permissions that many organizations use and that you're creating multiple supporting resources, the pre-reqs are indicating you need Contributor permissions to create resources like the virtual network and subnets, and then Global Admin to deploy Azure AD DS itself.

This approach allows one team to create the supporting resources, and then only

[2020-09-14 22:37] NavtejSaini-MSFT commented on #62616
@mrdenny We are checking this and we will get back to you.

[2020-09-14 22:38] iainfoulds commented on #62529
Thanks for the feedback, @MWL88

The commands are cross-plat, and using the latest Azure PowerShell modules. I think the issue is the line breaks. As there are some long cmdlets, they use a backtick to wrap long lines, and the following lines are then indented to show continuation. This is a standard practice in PowerShell cmdlets that are long like this to make it more readable, though I understa

[2020-09-14 22:38] #62529 closed

[2020-09-14 22:40] jlichwa opened #62618 "v12 SDK Example"
@nprieto95

Can we get an example on how to do this with the v12 .NET SDK for Storage? That class "StorageCredentials" does not exist anymore.

[2020-09-14 22:41] kummanish commented on #62614
#close

[2020-09-14 22:41] jlichwa commented on #54813
It seems like there is an issue with Storage examples. Moved to storage SAS guide https://github.com/MicrosoftDocs/azure-docs/issues/62618

[2020-09-14 22:41] jlichwa commented on #54813
#Please-close

[2020-09-14 22:41] #54813 closed

[2020-09-14 22:41] Karishma-Tiwari-MSFT commented on #62603
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-14 22:42] #62614 closed

[2020-09-14 22:44] jlichwa opened #62619 "v12 SDK Example"
@nprieto95

Can we get an example on how to do this with the v12 .NET SDK for Storage? That class "StorageCredentials" does not exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4138839-f340-3dbd-24df-b87b5dd1faa7
* Version Independent ID: 948776c6-b4a4-ab64-106e-d7c5faa45be8
* Content: [Create an account

[2020-09-14 22:50] WinstonHoward-MSFT commented on #62608
Thanks for the issue, I'll take a look.

[2020-09-14 22:57] jlichwa commented on #62346
@jordan-bean the guidance to use user principal is for management of vaults storage account :"You can request Key Vault to manage your storage account with a user principal, but not with a service principal." not for user/app of storage account sas tokens.
If you would like to have Runbook or Function running with service principal, you would not be able to add/remove storage accounts from key vau

[2020-09-14 22:57] jlichwa commented on #62346
#please-close

[2020-09-14 22:57] #62346 closed

[2020-09-14 22:57] BrianLevenson opened #62620 "Minimum and maximum durations"
Received feedback/question from a partner who wanted to know the minimum and maximum supported durations for Test Drives. I explained that the minimum is 1 hour and max is whatever they want to support.

Suggest clarifying min and max duration in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a82d13-b189

[2020-09-14 23:03] DerekHerman-MSFT commented on #62615
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-14 23:10] Karishma-Tiwari-MSFT commented on #62288
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-14 23:15] #62286 closed

[2020-09-14 23:16] KranthiPakala-MSFT commented on #62557
@@ramanagarwal2005 , Thanks for bringing this to our attention, we have reached out to internal team to get confirmation about the appropriate link. We will update you once we have a response from the product team.

Thank you for your patience.

[2020-09-14 23:17] BharathNimmala-MSFT commented on #62547
@laconicblue Thanks again for bringing this to our notice, i have raised a PR to update the document with current portal UI screenshots. Once its reviewed and approved it will be merged with the live document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue, howe

[2020-09-14 23:17] #62547 closed

[2020-09-14 23:20] MashaMSFT commented on #62519
Hi @manishjha2088 , thanks for your feedback! We document that [here](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/change-sql-server-edition)

![image](https://user-images.githubusercontent.com/32783170/93147470-23920e80-f6a6-11ea-8ed4-5ca391dc1b33.png)

[here](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/change-sql-server-edition#change-ed

[2020-09-14 23:37] jmbrunskill commented on #62615
Thanks @DerekHerman-MSFT
See https://github.com/MicrosoftDocs/azure-docs/pull/62617 for a proposed change

[2020-09-14 23:46] MarileeTurscak-MSFT commented on #62610
@andypituch
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-14 23:58] RyanHill-MSFT commented on #62422
@brucelangston, I've assigned your feedback to the doc author. I will say, however, that between the portal, CLI, and PowerShell, SKUs should be consistent e.g. you should be able to choose S2 in either and get a Standard tier with two cores, 3.5GB RAM, etc. If you do find an inconsistency, then let me know.

This doc is designed to explain the different tiers (Free, Shared, Basic, Standard, Premi

[2020-09-15 00:02] TravisCragg-MSFT commented on #62548
@cat-mucius For VMSS, you can either redeploy the scale set, or use a [custom script extension](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-deploy-app#:~:text=The%20Custom%20Script%20Extension%20downloads%20and%20executes%20scripts,provided%20to%20the%20Azure%20portal%20at%20extension%20run-time.) to run the cmd.

For ASE, you will need to reboot th

[2020-09-15 00:08] varunsh-msft commented on #61401
I am looking into it.

[2020-09-15 00:11] TravisCragg-MSFT commented on #62560
@yull1860 These 2 explain the same thing, only doc does a more lengthy explanation.

When making a VNET Peering, you have to peer VNET A to VNET B, and then VNET B to VNET A. If you want forwarded traffic to flow from A to B, then this setting needs to be enabled on the peering from VNET A to B.

[2020-09-15 00:32] Karishma-Tiwari-MSFT commented on #62300
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-09-15 00:32] #62300 closed

[2020-09-15 00:44] Karishma-Tiwari-MSFT commented on #62575
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 00:47] Karishma-Tiwari-MSFT commented on #62602
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 00:48] MarkKharitonov opened #62623 "Running pip may fail due to certificate errors."
When ran on our corporate network the docker-compose fails:
[code]
I think this is because of missing certificates. The solution is provided in a comment to https://stackoverflow.com/questions/63892180/how-to-introduce-missing-certificates-when-running-a-docker-container - modify
[code]
to
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-15 00:49] Karishma-Tiwari-MSFT commented on #62618
I see that the issue is resolved. Thanks for the update here.

[2020-09-15 00:49] MarcelGosselin opened #62624 "Invalid code snippet in examples"
I noticed small errors in `Example of usage of modifiers`. There are 2 examples with the method `WithAadAuthority` which is now an `WithAuthority` overload.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bde57e5-d6a7-629f-cf29-ab3cd30fffe1
* Version Independent ID: eeeaeb90-a125-7b05-d93f-155517b90303
* Content: [Init

[2020-09-15 00:50] Karishma-Tiwari-MSFT commented on #62605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 00:54] Karishma-Tiwari-MSFT commented on #62604
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 01:05] kcd333 commented on #48939
Does the value of AlwaysUseGateway go back to its default value (false) when AAS is restarted?

[2020-09-15 01:11] ajlam commented on #62571
Tagging @kummanish again.

[2020-09-15 01:13] kcd333 opened #62625 "AlwaysUseGateway advanced property does not persist on AAS restart"
Could you please include a note if the value update will persist on AAS restart?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1673d07b-f059-d487-7b87-6913823b2929
* Version Independent ID: 99185574-6031-d7b2-907d-caacdd74a36c
* Content: [Configure Azure Analysis Services for VNet data sources](https://docs.microsoft.

[2020-09-15 01:25] femsulu commented on #62295
hello @phillym , from my internal research, there's currently no supported way to isolate & provide explicit blob storage hostnames for Azure Migrate. Also note that this approach may cause unexpected disruption as these hosts can be swapped for internal maintenance and/or service healing requirements at any time.

If this is a requirement you would like to see supported, kindky re-post your sugge

[2020-09-15 01:25] femsulu commented on #62295
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-09-15 01:25] #62295 closed

[2020-09-15 01:35] jlichwa commented on #62618
@Karishma-Tiwari-MSFT Intention was to move it here, since it is issue with Storage SDK not Key Vault,

[2020-09-15 01:38] ram-msft commented on #62272
@jtg5122 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-15 01:38] #62272 closed

[2020-09-15 01:53] anavinahar commented on #62392
Please use: http://aka.ms/lbuservoice for feature asks.

#please-close

[2020-09-15 01:53] #62392 closed

[2020-09-15 02:14] BharathNimmala-MSFT commented on #62620
@BrianLevenson Thank you for sharing this feedback and helping to improve the documentation for our partners. We will look into it and enhance the document accordingly.

[2020-09-15 02:18] ChaitanyaNaykodi-MSFT commented on #62607
@morteza54dp,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-15 02:19] SaiKishor-MSFT commented on #62403
@SebastianClaesson
I was able to reproduce this issue. I am reaching out to our internal team to further look into this. I will update you shortly. Thank you!

[2020-09-15 02:20] ChaitanyaNaykodi-MSFT commented on #62609
@morteza54dp,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-15 02:41] RyanHill-MSFT commented on #62619
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-15 02:45] RyanHill-MSFT commented on #62623
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 02:47] RyanHill-MSFT commented on #62624
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 02:48] j-martens commented on #62492
Thank you, this work has been added to our backlog. Thanks. #please-close

[2020-09-15 02:48] #62492 closed

[2020-09-15 02:49] RyanHill-MSFT commented on #62625
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 03:18] prabhuselvams commented on #46042
Hi Hansenms - Is there a trigger template available for Azure API for FHIR in Function App? I'd like to trigger a function whenever CUD operation takes place in Azure API for FHIR?

[2020-09-15 03:20] qingmi918 opened #62626 "NSG flow logs are not supported for Azure Container Instance"
[Enter feedback here]
In this page, it says:
1.5: Record network packets and flow logs
Guidance: If using Network Security Groups (NSGs) with your virtual network implementation, **enable NSG flow logs for the NSG attached to the subnet delegated to Azure Container Instances**. Record the NSG flow logs into an Azure Storage Account to generate flow records. If required for investigating anomalous

[2020-09-15 03:31] Ayanmullick opened #62628 "PowerShell steps to create a private Kubernetes cluster"
Is there PowerShell documentation on how to create a private Azure Kubernetes Service cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure Kubernet

[2020-09-15 03:36] Ayanmullick opened #62629 "PowerShell steps to download, install, configure and connect the Azure VPN client"
Is there PowerShell documentation for the steps to download, install, configure and connect the Azure VPN client for AAD authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [VPN Gateway: VPN client

[2020-09-15 03:44] hansenms commented on #46042
There are currently no "triggers" or events to act on from the Azure API for FHIR.

(tip: try avoid commenting on closed issues on the docs, they are frequently missed).

[2020-09-15 03:52] clancyarinco opened #62630 "clarify if migration scenarios are only applicable to SQL Server"
Hi There,

In the first note on the page it refers to SQL Server when some of the mentioned databases are not SQL databases. Should this be edited for clarity?

 _Note

Currently, Azure Database Migration Service running in hybrid mode supports SQL Server migrations to:

Azure SQL Managed Instance with near zero downtime (online).
Azure SQL Database single database with some downtime (offline).
Mo

[2020-09-15 04:13] hoksource commented on #62409
Thank you for the response.

I'm curious how it works on a single sql server.

If it is on a different server likely it will be capped by bandwidth. Just like a normal sql server which cannot make optimization on queries from different servers.

The final question will be are there optimization on single server database just like sql server?

[2020-09-15 04:48] HarithaMaddi-MSFT commented on #62445
@tomas-gottwald - I am proceeding to close the issue now. Please feel free to comment for any further queries.

[2020-09-15 04:48] #62445 closed

[2020-09-15 05:05] MayankBargali-MSFT commented on #62434
@ncoder Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-09-15 05:15] AnuragSharma-MSFT commented on #62380
This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-15 05:15] #62434 closed

[2020-09-15 05:16] AnuragSharma-MSFT commented on #62566
@rajasekarankanakkampatti We will now proceed to close this thread. PR should be live in few days. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-15 05:16] #62566 closed

[2020-09-15 05:18] AnuragSharma-MSFT commented on #62518
@gabriel-kohen-by Please let us know if you have any further queries on the same.

[2020-09-15 05:26] asergaz commented on #62373
@asagao-web kind reminder for your follow-up. Let us know if you are now unblocked?

[2020-09-15 05:27] ram-msft commented on #62125
@AreAyeZee We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-15 05:27] #62125 closed

[2020-09-15 05:35] realscom opened #62634 "Typo and grammar suggestions"
Typo "grater".
There are 4 instances of "organizations" that should be possessive i.e. "your IT organization's subscription".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 711d80f5-3386-0767-ee9e-a309fd5b679a
* Version Independent ID: 40b54243-abf8-209e-c492-80f77a362cff
* Content: [Designing your Azure Monitor Logs d

[2020-09-15 05:40] swatig007 commented on #62495
@wamartin-aml thanks for calling out the specific hyperlink issues. We've fixed the doc to address those.

Re: the example code, it's covered in the sample notebooks. we have a bunch of notebooks showing use of HyperDrive with various ML frameworks. However, since this feature is a part of AzureML, the user needs to have access to (or create like demoed in the notebooks) resources like a ML worksp

[2020-09-15 05:44] alviorlai opened #62635 "Error while I am running Tutorial: Build out an end-to-end solution of ADT"
HI,
I am in the final step which route data back to room21 of ADT.
Below are logs I received from Monitor of ProcessDTRoutedData Function:

[code]

I know %2F is mean / in Html ASCII Encoding, but I am not sure that the error happened is because of this.
Any idea?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-09-15 05:57] mit-lang-wang opened #62636 "Payload for FCM is not correct"
I followed this tutorial and  click the 'test send' button in Azure Portal,
However, if i choose  the default payload

`{"data":{"message":"Notification Hub test notification"}}`

i don't see any notification message on my device.
but if i change the payload to
`{ "notification": { "title" : "Test Title", "body" : "Test Body"} }`

Can someone verify and update this doc? it is really misleading.
--

[2020-09-15 05:59] #62636 closed

[2020-09-15 06:00] lovelangy opened #62637 "Payload for FCM is not correct"
I followed this tutorial and click the 'test send' button in Azure Portal,However, if i choose the default payload

`{"data":{"message":"Notification Hub test notification"}}`

I don't see any notification message on my device. It works when  I change the payload to
`{ "notification": { "title" : "Test Title", "body" : "Test Body"} }`

Can someone verify and update this doc? it is really misleadin

[2020-09-15 06:01] kobulloc-MSFT commented on #62634
@realscom Thank you for pointing these out!  I'm going to review the document.

[2020-09-15 06:02] SnehaAgrawal-MSFT commented on #62637
@lovelangy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 06:04] pnarsi opened #62638 "Clarifications on ARM Template to Deploy SSIS"
I have a couple of question around using ARM templates to deploy ADF with a SSIS-IR

1. If we use an ARM template can we specify the details of the VNET we want the SSIS instance to join as part of the template? The example on this page and the [Integration Runtime ARM template reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.datafactory/factories/integrationruntimes) page doe

[2020-09-15 06:06] souravmishra-msft commented on #62479
@jmprieur, Can you please look into this and update the doc accordingly.

[2020-09-15 06:07] HarithaMaddi-MSFT commented on #62638
@pnarsi - Thanks for posting the questions. I am looking into it and will update you shortly.

[2020-09-15 06:08] SnehaAgrawal-MSFT commented on #62533
@LSLWatson Thanks again for the feedback! PR has been created for this it will be visible soon.

[2020-09-15 06:08] #62533 closed

[2020-09-15 06:16] ChaitanyaNaykodi-MSFT commented on #62330
Hello @joebiker, I am sorry for the delay in my response.  I also faced similar issue, the resized image was not getting generated in the "thumbnails" container. Below is the exception I got when running my function app.
`No encoder support for: https://<your_blob_storage_account>.blob.core.windows.net/images/<image_name>`
Can you please confirm if you are getting the same exception ( the exceptio

[2020-09-15 06:20] garrytrinder commented on #61401
Thank you @varunsh-msft 👍🏻

[2020-09-15 06:20] nanowireUK opened #62639 "Documentation for File Upload is out of date."
When trying to use UploadToBlobAsync() in the C# device client you get an obsolescence warning but the documentation doesn't describe the new preferred means of achieving this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8bb1bee-bcbe-c8a5-7b17-428718255aec
* Version Independent ID: 25592b74-6af5-29ae-4239-6adf7ed1e

[2020-09-15 06:21] VikasPullagura-MSFT commented on #62520
@msjuergent Thanks for sharing the details.

@vishwanathnarasimmal
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-15 06:21] #62520 closed

[2020-09-15 06:28] kobulloc-MSFT commented on #62634
@realscom Thank you very much for helping to improve our documentation!  The typo and grammar issues have been fixed (it's harder to spot those when you are looking at the markdown).  You should see the changes updated on the page shortly.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be ha

[2020-09-15 06:28] #62634 closed

[2020-09-15 06:40] asergaz commented on #62635
@alviorlai Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 06:40] nikhilno1 commented on #45303
Do they? Official docs say otherwise: https://docs.microsoft.com/en-us/azure/virtual-machines/fsv2-series

The Fsv2-series runs on the Intel® Xeon® Platinum 8272CL (Cascade Lake) processors and Intel® Xeon® Platinum 8168 (Skylake) processors.

[2020-09-15 06:42] asergaz commented on #62639
@nanowireUK Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 06:45] MWL88 commented on #62529
@iainfoulds In the issue I raised I tried to highlight there are 2 different PowerShell modules listed in the [prerequisites](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/template-create-instance#prerequisites):

- the Azure (Az) Powershell module which is [cross-plat](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.6.1#requirements)
- the Azu

[2020-09-15 06:46] asergaz commented on #62639
In the Csharp SDK you can check the following: https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/src/DeviceClient.cs#L433

[code]

I will review this doc and make sure it is well documented here as well.

Thank you so much for raising this issue to help us improve the doc!

[2020-09-15 06:48] vipulsparsh commented on #62372
@niranjanlogin Thanks for reaching out and this is a very good feedback. Cloud world security does plays an important role and impact organizations.
When it comes to a Cloud provider, MS does manages end to end for all SAAS products like office 365 , Intune where the service is protected by MS and the end customer just need to manage their Infra as every org can be different than others.

When it

[2020-09-15 06:49] ifslearning commented on #62586
Thanks @MarileeTurscak-MSFT .

We're already doing/using 2 & 3. What can we do if we're unable to reduce the amount of claims included in the token?

[2020-09-15 06:56] MWL88 commented on #62528
@iainfoulds Thank you for the clarification.

[2020-09-15 07:02] Grace-MacJones-MSFT commented on #62252
Thanks for bringing this to our attention @charliechen179  . Upon further review, we feel your feedback would be best received by the doc author to update the sample in the doc

[2020-09-15 07:03] asergaz commented on #62635
@alviorlai I will run step by step this tutorial to check if I can hit the same error as you reported.
Can you share the link to the exact step that you saw this error?
Thank you.

[2020-09-15 07:06] swinarko commented on #62638
To provision SSIS IR joining a VNet via ARM template deployment, please provide the values for "vNetProperties".  To use AAD Auth w/ ADF Managed Identity, skip "catalogAdminUserName" and "catalogAdminPassword" properties:

            "properties": {
                "typeProperties": {
                    "computeProperties": {
                        "vNetProperties": {

[2020-09-15 07:06] #62638 closed

[2020-09-15 07:15] SnehaAgrawal-MSFT commented on #62559
@twentyonegrams We kindly request you to share your question on [Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-webapps.html) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service) . We try to keep this GitHub channel scoped to issues directly related to [Azure Docs.](https://docs.microsoft.com/en-us/azure/?product=featured) Thank you for your understandi

[2020-09-15 07:15] #62559 closed

[2020-09-15 07:19] RohitMungi-MSFT commented on #62495
@PeterCLu @swatig007 Thanks for fixing the doc issue and providing the examples.
@wamartin-aml Please let us know if this helps as we can proceed to close the issue. If there are further questions regarding this matter, please tag us in your reply.

[2020-09-15 07:19] vipulsparsh commented on #62561
@dmartin-agi Thanks for reaching out.  Currently there is no attribute to capture the domain join flag. If your machines are Intune enrolled, you can try the following query to list them :
![image](https://user-images.githubusercontent.com/63580915/93178341-b6d44e00-f751-11ea-902b-0a895f9dfd90.png)

Currently these attributes can be used to make a device dynamic group :
https://docs.microsoft.com/

[2020-09-15 07:20] GiorgioTechedge opened #62640 "User to access Windows Linux VMs"
In this documentation the Local user needed to access VMs for app discovery should not be a local admin or sudoers, but in other documentation we read that the local admin rights and sudoers privileges are needed to perform app discovery.

https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-vmware#set-up-permissions-for-assessment

Could you check?

---
#### Document Details

⚠ *Do no

[2020-09-15 07:23] jhueppauff opened #62641 "Missing information on how to scale vwan over the limits"
Hi,

I went through the documentation but didn't find any information on how to scale vWAN over the limits described here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#virtual-wan-limits
What should be the design decision if we hit this limit? Create a new vWAN service? How should those be connected then?

Thank you for advice

---
####

[2020-09-15 07:23] alviorlai commented on #62635
HI @asergaz,

Thanks, I follow this url step by step, https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-end-to-end?source=docs.

Finished all the steps but room21 of ADT didn't receive data from ProcessDTRoutedData function.
![12682020413034](https://user-images.githubusercontent.com/71126350/93177310-33bcf300-f765-11ea-9125-1b704be614da.png)

As you can see in below image, it looks li

[2020-09-15 07:27] compvishal commented on #62539
Thanks. Then my original question remains. Why is it not working on dot.net framework?
Further the kiosk sample is giving it's own errors. Pl check the attached screenshot.
![2020-09-15](https://user-images.githubusercontent.com/71217207/93179179-f18ab600-f752-11ea-973d-0dc7ec162fda.png)

[2020-09-15 07:36] icelava opened #62642 "Re-allowing previously disabled Sync your settings"
Why does the MDM settings only refer to AAD ESR configuration and nothing about Intune?

Previously we had a strict policy to prevent adding personal Microsoft accounts and non-Microsoft accounts (Intune does not have an "Allow sync your settings" policy).

[Cloud and Storage]
Microsoft account = Block
Non-Microsoft account = Block
Settings synchronization for Microsoft account = Block

It appears

[2020-09-15 07:38] SubhashVasarapu-MSFT commented on #62235
@haymansfield, Appreciate your patience. Support for DH Group and PFS Group beyond Group 5 requires specific updated VPN device versions.
For example, Support for DH Group and PFS Group beyond Group 5 requires ASA version 9.x. Please do check this [document](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-3rdparty-device-config-cisco-asa) for your reference.
We are closing this issu

[2020-09-15 07:38] #62235 closed

[2020-09-15 07:52] RohitMungi-MSFT commented on #62539
@compvishal You can publish your solution on github and reference it with an issue on our SDK [repo](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples). This forum is primarily for issues related to this document and quickstart's published by the content authors/document writers.

[2020-09-15 07:56] amanmcse commented on #62306
@davida1992 I am closing the thread. Feel free to tag me in your reply if you have any question.

[2020-09-15 07:56] #62306 closed

[2020-09-15 07:56] AnuragSharma-MSFT commented on #62448
@chayanbaner This mostly looks like latency issue. When I tried using North Europe location, it took a while to return the key based on command. I would suggest you raise a support request on the same as Support team can analyze the logs and check the exact reason behind the issue:

![image](https://user-images.githubusercontent.com/66360845/93182173-010bfe00-f757-11ea-859d-65824aefcc27.png)